<header data-type="book">
<h1>女科百問</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>齊仲甫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h2>女科百問卷上</h2>
<p>步軍司醫官兼太醫局教接齊仲甫撰  紹興裘詩福吟五校</p>
<h3>第一問：精血分男女之本源者何也？</h3>
<p>答曰：男子以精為本，女子以血為源，男子為陽，陽中必有陰，陰中之數八。
故一八而陽精降，二八而陽精溢，女子為陰，陰中必有陽，陽中之數七。
故一七而陰血升，二七而陰血溢，陽精陰血皆飲食五味之實秀，為男女之本源也。
方其升也，智慮開明，齒牙更始，髮黃者黑，筋弱者強，暨其也凡，充身肢體，
手足耳目之餘，雖針芥之處，無有不至。凡子形肖父母者，蓋其精血，嘗於父母之身，
無所不歷也。是以父一肢廢，則子一肢不肖其父母；一目虧，則子一目不肖其父母。
然雌雞牝獸，無天癸而成胎，何也？鳥獸精血往來尾間也。精未通而遇女子通其精，
則五體有不滿之處，異日有難狀之疾，陰已痿而思色以降其精，則精不出而內敗，
小便道澀而為淋，精巳耗而復竭也。女人天癸既至，踰十年無男子合，則不調，
未踰十年男子合，亦不調，不調則舊血不出，新血誤行，或漬而入骨，或變而為腫，
或雖合而難子，合男子多，則瀝枯虛人，產乳眾，則血枯殺人。觀其精血思過半矣。</p>
<h3>第二問：古法男子三十而娶，女子二十而嫁者，何也？</h3>
<p>答曰：天以剛陽為尊，地以柔陰而卑，則乾坤之體定矣。若天不剛陽，地不柔陰，
是乾坤之體不定矣。夫乾道成男，男自子位左旋，積三十歲而至已。
所以男及三十而娶。當是之時，天陽已剛也。坤道成女，自子位右旋。
積二十歲而至已，所以女二十而嫁。至斯之際，地陰以順也，故及其時得子皆強。
所謂乾、坤之體定矣。
不及其時而嫁娶者，則剛陽柔陰必有所虧也。</p>
<h3>第三問：婦人感病倍於男子者，何也？</h3>
<p>答曰：夫婦人者，眾陰之所集，常與濕居。十四以上，陰氣浮溢，百想經心，
內傷腑臟，外損姿容，月水去留，前來交互，瘀血停凝，中道絕斷，其中傷墮，
不可具論。
冷熱臟腑，虛實交錯，惡血內滿，氣脈耗竭。或飲食無度，損傷非一。或胎瘡未愈，
合其陰陽。或行步風來，便利於懸廁之上，風從下入，便成十二痼疾〔一作三痼之疾〕
，所以婦人別立其科也。若是四時節氣，虛實冷熱為患者，故與丈夫治法同也。
惟妊娠而挾病者，避毒藥，恐或傷胎耳。大抵婦人以其慈戀憎愛疾妒憂恚。染著堅牢，
情不自制，所以為病根深，療之難差，故倍於男子之病者此也。</p>
<h3>第四問：何以謂之天癸？</h3>
<p>答曰：謂壬癸北方水干也。壬為陽水，配丁而化木。癸為陰水，合戊而化火。
經云，水火者，陰陽之證兆也，且婦人者，眾陰之所集，以陰類陰，故得水之癸干也。
女至二七，腎氣全盛，衝任流通，經血漸盈，應時而下，天真之氣殊降與之從事，
故云天癸也。內經云，二七而癸至，任脈通，太衝脈盛，月事以時下，故有子。
然衝為血海，任主胞胎，陰靜海滿，二者相資，故令有子。</p>
<h3>第五問：何以謂之經候？</h3>
<p>答曰：夫女子十四天癸至，腎氣全盛，衝流任通，血漸盈，應時而下，常以三旬一見，
愆期者病，故謂之經候。然經者，常也；候者，謂候一身之陰陽也。
經常之氣，伺候而至，若潮候之應乎時也。天真之氣，與之流通，故一月一次行，
平和則不失乎期，所以謂之經候，又名月水也。</p>
<h3>第六問：經候或前或後，或多寡不定者，何也？</h3>
<p>答曰：夫婦人病，多是月經乍多乍少，或前或後，時發疼痛，
醫者一例呼為經病，不會說得是陰勝陽，是陽勝陰，所以服藥少得有效。
蓋陰氣盛乘陽，則胞寒氣冷，血不運行，經所謂天寒地凍，水凝成冰，故令乍少，
而在月後。若陽氣盛乘陰，則血流散溢，經所謂天暑地熱，經水沸溢，
故令乍多而在月前。當和其陰陽，調其氣血，以平為福。陽氣勝陰，月假多者，
當歸飲，抑陽助陰，調理經脈。
當歸〔去蘆微炒〕、熟地〔淨洗酒蒸焙乾〕、川芎、白芍、黃芩〔小半〕、白朮
〔各等分〕，右為麤末，每服三錢。水盞半煎至八分，食前熱服。
沉香降氣湯，順氣道、通氣脈。
烏藥、沉香、香附、甘草、砂仁〔各等分〕，右為細末，每服二錢，空心鹽湯調下。
陰氣勝陽，月假少者，七物湯，治婦人營衛氣虛，經水愆期，或多或少而腹痛。
當歸、芎藭、白芍、蓬朮、川薑、熟地〔酒蒸焙乾〕、木香〔各等分〕，
右為麤末，每服四錢，水一盞煎八分，溫服不拘時。
紫石英圓，治婦人病多是月經乍少，或在月後，時發疼痛。
紫石英〔水研飛〕、禹餘糧〔燒醋淬〕、人參、龍骨、川烏頭〔泡去皮尖臍〕、
桂心〔不見火〕、杜仲〔去皮薑製炒黑〕、五味子、遠志〔去心〕、澤瀉、當歸
〔去蘆〕、石斛〔去根酒炒〕、蓯蓉〔酒浸洗〕、乾薑〔炮各一兩〕、甘草〔炙半兩〕、
川椒〔去目并合口炒地上出汗〕、牡蠣〔固濟火燒通紅各半兩〕，右為細末，
煉蜜為丸，梧桐子大，空心米飯下三十丸，至五六十丸，已上無求子方。
金華散，治婦人經血後熱，崩漏不止，口苦舌乾，經候不通，並宜服之。
玄胡索、瞿麥、當歸、牡丹皮、石膏〔二兩〕、乾葛〔各一兩〕、蒲黃〔半兩〕、
桂心、葳靈仙〔各三分凡方中云一分者二錢五分也〕，右為麤末，每服二錢，水一盞，
薑三片，煎至六分，空心服。
已上養生席判官方。
通經丸，治婦人室女月候不通、疼痛，或成血瘕。
桂心〔不見火〕、青皮〔去白〕、大黃〔炮〕、乾薑、川椒〔炒去目〕、蓬朮、川烏
〔泡去皮尖〕、乾漆〔炒去煙出〕、當歸桃仁〔炒去皮尖以上各等分〕，
右為細末，將四分用米醋熬成膏，和餘六分末，成劑臼中治之，丸如桐子大，陰乾，
每服二十丸，空心食前米飲湯下，加至三十丸，溫酒亦得。
五靈脂散，治經候不止，拯濟方。
五靈脂為末，炒令過熟出盡煙，每服二錢，當歸二片，酒一中盞，煎至六分，
去滓熱服，連三服立效。如血室有乾血，甪醋一盞煎七分，和滓空心熱服。
溫經湯
治衝任虛損，月候不調，或來多不斷，或過期不來，或崩中去血，過多不止，
又治曾經損孕，瘀血停留，少腹急痛，發熱下利，手掌煩熱，唇乾口燥，及少腹有寒，
久不受胎。
丹皮、阿膠〔碎炒〕、當歸〔去蘆〕、人參〔去蘆〕、川芎、甘草〔炒〕、肉桂
〔去粗皮〕、芍藥〔各二兩〕、半夏〔各湯洗七次二兩半〕、吳茱萸〔三兩〕、
麥門冬〔去心五兩半〕，右為麤末，每服三錢，水一盞半，生薑五片，煎八分，
去滓，空心食前熱服。</p>
<h3>第七問：月水依時，來不快利者，何也？</h3>
<p>答曰：婦人月水，有四經之所主，一者衝任二脈，二者手太陽少陰二經。
然衝為血海，任為主胞胎，二者相資，故令有子。手太陽者，小腸之經，
為腑而主表，表屬陽。手少陰者，心之經，為臟而主裏，裏屬陰。此二經在上為乳汁，
在下為月水，或勞傷氣血，致令體虛而受乎風冷，風冷客於經絡，搏於血氣，
血得冷則壅滯，故令月水不宣利也。
養榮湯，治婦人血海虛弱，心忪恍惚，時多驚悸，或發虛熱，經候不調。
白芍、川芎、當歸、熟地、青皮、薑黃、川薑、丹皮、海桐皮、五加皮、
白芷，右為㕮咀，每服五錢，水盞半，薑五片，烏梅一個，煎至一盞，去滓溫服，
不拘時候，將此藥送下紫桂丸七十粒〔紫桂丸方見四十九問〕。</p>
<h3>第八問：經水欲行先身體痛或腹痛者，何也？</h3>
<p>答曰：經脈者，行血氣，通陰陽，以營衛周身者也，血氣盛，陰陽和，則形體適平，
或外虧衛氣之充養，內乏營血之灌溉，血氣不足，經候欲行，身體先痛也，
或風冷之氣，客於胞絡，損傷衝任之脈，及手太陽手太陰之經，故月水將下之際，
血氣與風冷相擊，所以經欲行而腰痛也。
趂痛飲子，治經脈虛寒，身體疼痛。
虎骨〔五銖〕、茯苓、甘草、藁本、防風、白芷〔各二錢〕、當歸、白芍、續斷、
吳朮、附子〔各三錢〕，右為麤末，每服五錢，水二盞，薑五片，棗二枚，煎至一盞，
去滓溫服，不拘時。
溫經湯，治風寒客搏經絡，小腹作痛。
當歸、川芎、白芍、官桂、丹皮、蓬朮〔各半兩〕、人參、甘草、牛膝〔各一兩〕，
右為麤末，每服五錢，水二盞煎八分，食前服。
沒藥除痛散，逐寒邪，療腹痛。
蓬莪荗〔炮一兩〕、當歸〔焙〕、玄胡索、五靈脂、肉桂、良薑〔炒〕、蒲黃
〔炒各七錢半〕、甘草、沒藥〔各半兩〕，右為細末，每服三錢，溫酒調下。
楊氏謂婦人每經欲行必先腹痛，令服撞氣阿魏圓，酒調大聖散，下數服愈，
經行不復痛矣。
撞氣阿魏圓，大聖散〔見宋局方婦人門〕
茴香〔炒香〕、陳皮〔去白〕、青皮〔去白〕、川芎、丁香〔皮炒〕、蓬莪朮〔炮〕、
甘草、縮砂仁、肉桂〔去粗皮〕、白芷〔炮各半兩〕、生薑
〔四兩切鹽半兩醃一宿炒黑〕、胡椒〔二錢半〕、阿魏〔二錢半醋浸一宿以麵同為糊〕
右末阿魏糊為圓，雞豆大，每藥一觔，硃砂七錢為衣，常服一粒，嚼爛醋湯茶酒任下。
滋血湯，治血風虛，經候澀滯，經脈不通，四肢麻木，肌體渾身疼痛，倦怠將成癆瘵。
馬鞭草、荊芥穗〔各四兩〕、丹皮〔一兩〕、赤芍、枳殼、肉桂、當歸、川芎
〔各二兩〕，右為麤末，每服四錢，烏梅一個，水煎食前服。
琥珀散，治月經擁滯，心腹疼痛，及治產後惡露不快，血上搶心，迷悶不省，
氣絕欲死。
京三稜〔煮〕、蓬朮〔煮〕、赤芍藥〔煮〕、劉寄奴〔煮〕、牡丹皮〔煮〕、官桂、
菊花、蒲黃、熟地、當歸〔各一兩〕，
右將前五味，用烏豆半升，生薑半觔切片，米醋四升同煮，腐爛為度，
焙乾入後五味同為末，每服二錢溫洒調下。</p>
<h3>第九問：月水閉絕不通者，何也？</h3>
<p>答曰：夫月水不通，因風冷客於胞絡，或醉後入房，或為血枯血瘕血癥，
或因墮墜驚恐，皆令月水不通也。病源云，血性得溫宣流，得寒則澀閉，
既為冷所結搏，則月水不得通行。若腸中鳴者，則月事不來，
不來因冷干於胃腑。或醉入房者，則內氣耗損勞傷於肝經，或吐血、唾血、下血，
謂之脫血，使血枯於中，為積塊、血瘕、血癥、名曰血聚，使榮結於內心，主行血，
墮墜驚恐，神無所倚而血散，亦令月水不通也。
順榮湯，治婦人血積、血塊、瘕癥、腹大內有塊形，築築作痛，久無寒熱。
大黃〔一兩酒浸蒸熟剉〕、當歸〔一兩〕、蓽茇〔半兩〕、鬼腰帶
〔各一兩腰帶一本作箭〕、枳殼〔一兩去穰麩炒〕、赤芍藥〔半兩〕、豬牙皂角
〔半兩火上炙者〕。
右為㕮咀，每服一兩，純酒二盞，煎至一盞，去滓食前溫服。
滋血湯，治勞過度，致傷臟腑，衝任氣虛，不能約制其經，血忽暴下，謂之崩中。
或下鮮血，或下瘀血，或下血片，或下五色，連日不止，淋瀝不斷，形氣羸劣，
倦怠困乏，或月水閉絕，氣不升降。
馬鞭草、牛膝、荊芥穗〔各四兩〕、丹皮、赤芍。
枳殼、肉桂、當歸、川芎〔各二兩〕，
每服四錢，烏梅一個，水煎空心服，至半月或一月，經脈自通。
桃仁煎丸，治血瘕血積，經候不通。
桃仁〔去皮尖麵炒黃〕、大黃〔濕紙裹蒸〕、川朴硝〔各一兩〕、蝱蟲〔半兩炒黃〕
右為末，以醇醋二升半，銀石器中慢火煎取一升半，下大黃桃仁蝱蟲等，不住手攪，
欲團圓，下朴硝更不住手攪，良久出之，圓如桐子大。
前一日不用吃晚食，五更初，用溫酒吞下五粒，
日午取下如赤豆汁雞肝蝦麻衣，未下再服，血鮮紅即止，續以調氣血藥補之，
此千金方出。
萬病丸〔見六問中〕</p>
<h3>第十問：虛勞之病，何以得之？</h3>
<p>答曰：夫有勞役之勞，有勞傷之勞，所用太過，臟腑之氣失其常度，所以致疾。
虛則已有所虧，勞則因有所損，其積之有漸，成之有日，豈一朝一夕而驟致哉。
巢氏云，五勞六極七傷，謂之虛勞也，今尋原指要而論之，若腹脅有塊，大小成形，
按之不動，推之不移，久久令人寒熱如瘧，咳嗽，面目浮腫，動輒微喘，日就羸瘦，
此繇暴怒驚恐，氣上而不下，動傷於肝，氣聚而不散，結而成形，結久而變勞。
又有日頓羸瘦，氣短乏力，腰背牽急，膝脛酸痿，小便或赤、或白而濁，帶下不禁，
夢與鬼交，翕翕如熱，骨肉煩疼，此繇房勞過度，精耗氣竭，得之於腎，為勞尤速也。
柏子仁圓，治婦人血閉不通，漸成癆瘵。
柏子仁〔別研〕、當歸〔洗〕、熟地、白茯苓、卷柏、白芍藥、石斛、巴戟〔去心〕、
肉蓯蓉〔酒浸〕、山藥、杜仲、白薇、蒲黃、枳殼、肉桂、京三稜〔煨〕、蓬朮〔煨〕
、覆盆子、枸杞子〔各一兩〕、附子〔炮去皮臍半兩〕，
右為細末，煉蜜丸梧桐子大，每服五十丸，溫酒或米飲下，空心食前。
人參剉散，去熱解勞，調順經水，滋養新血，藥性中和、退熱，無大寒極冷之劑。
黃耆〔三分〕、黃芩、赤茯苓、白朮、熟地、赤芍藥、麥冬〔各一兩〕、柴胡〔半兩〕
、人參、知母、當歸、甘草〔炙各三錢五分〕、
右並生剉如麻豆大，焙乾入磁器中收，每服四錢，水一盞半，
竹葉燈心三寸長，各七莖，同煎七分，去滓溫服，不拘時候，日三服，如病退，
不必服。
沉香煎，治暴怒驚恐，氣逆上而不下，動傷於肝，氣聚而不散，結而成形。
石斛〔五兩〕、川椒〔炒去目〕、附子〔炮去皮臍〕、秦艽〔去土〕、柴胡〔去苗〕
沉香、木香、鱉甲〔醋煮刮去筋膜〕、黃耆、檳榔〔各二兩〕，
右為細末，先用新枸杞十觔，洗略槌碎，法酒二斗，煮取七升，取枸杞根，
別用法酒三升，洗拍令淨，與酒一處，更入蜜四兩，煮成膏，和前件藥末，
丸如桐子大，米飲下三十丸，食前日二服，一方加柴胡二兩，楊氏方婦人患脾血病，
時覺腹痛，惡心五心煩熱，如勞之狀，或進或退，經候行而食驚恐所致，
令服局方四物湯加吳茱萸同煎，溫服病愈。
逍遙散
四物湯加柴胡、又正方、白茯苓、白朮、白芍、柴胡、當歸、甘草、人參，
每服用煨薑一塊，薄荷少許，不拘時煎服。
膠艾湯，治勞傷氣血，衝任虛損，月水過多，淋瀝漏下，連日不斷，腹臍疼痛，
及妊娠將攝失宜，胎動不安，腹痛下墜，勞傷胞絡，胎損漏血，腰痛悶亂，
因損動胎上搶心，奔衝短氣，因產衝任氣虛，不能約制經血，淋瀝不斷，延引日久，
漸成羸瘦。
熟地、白芍、當歸、艾葉〔微炒〕、阿膠〔炒黃〕、芎藭、甘草〔炙各二兩〕
右為㕮咀。每服四錢，水一盞酒六分，煎八分去滓，食前熱服，
甚者連服內補當歸丸〔見五十三問〕</p>
<h3>第十一問：婦人卦數已盡，經水當止，而復行者，何也？</h3>
<p>答曰：經云男子生於寅，寅為木陽也；女生於申，申為金陰也。寅屬木，陽中有陰，
男子得八數，故八歲齒更髮長，骨之餘生齒，男子以氣為本，八八則卦數已盡，
盡則陰精痿。申屬金，陰中有陽，女子得七數，七歲齒更髮長，血之餘生髮，
女以血為主，七七則卦數以終，終則經水絕止。內經云，七七任脈虛，太衝脈衰少，
天癸竭，地道不通，故形壞而無子也。或勞傷過度，喜怒不時，經脈虛衰之餘，
又為邪氣攻衝，所以當止而不止也。
茸附養真湯，補衝任、調血氣。
乾薑〔四兩〕、肉桂、當歸、附子〔炮各二兩〕、鹿茸〔三兩酒炙〕、牡蠣〔煅二兩〕
、防風〔二兩〕、龍骨〔二兩生〕，
右為㕮咀，每服半兩，水二大盞煎至八分去滓，不拘時溫服。
補中芎藭湯，治風虛冷熱，勞損衝任，月水不調，崩中暴下，
產後失血過多，虛贏腹痛，或妊娠胎幻不安血下。
當歸、乾薑〔炮各三兩〕、川芎、黃耆〔蜜炙〕、茱萸〔湯洗七次〕、白芍、甘草
〔炙〕、熟地、杜仲〔炒令絲斷〕、人參〔各一兩〕，
右為㕮咀，每服三錢，水盞半煎一盞，去滓熱服，空心食前。
當歸散，天癸已過期，經脈不勻，或三四月不行，或一月再至，問云七損七益，
謂女子七數盡，是經候不依時者，血有餘也，不可止之，但令依時不腰痛為善。
當歸、川芎、白芍藥〔各一兩〕、白朮〔半兩〕、白朮〔半兩〕、山茱萸〔炮一兩半〕
、黃芩〔各剉碎炒各一兩如冷去芩加官桂〕，
右為細末，每末服二錢，酒調下，空心服，一日三服。</p>
<h3>第十二問：何謂避年？</h3>
<p>答曰：王氏云，有一婦人，女年十五，來診。言女年十四時，經水自下，
今經反斷，其母言恐怖。師曰，此女為是夫人親女非耶，若親者當相為說之。
婦人因答言是自女耳。師曰，所以問者無他，夫人年十四，亦以經水下，
所以女至此而斷，是謂避年，勿恠，後當自下。
拱辰丹，夫方當壯年，而真氣猶怯，此乃稟賦素弱，非虛衰而然也。
僭燥之藥，尤宜速戒，勿謂手足厥逆，便云陰多，如斯治之，不惟不能愈疾，
大病自此生矣。滋益之方，群品稍眾，藥方微細，難見功效，但固天元一氣。
使水升火降，則五臟自和，百病自去，此方主之。行在孫琳郎中方，
葛丞相夫人少時服之，極效。
鹿茸〔酥炙去皮毛四兩〕、山茱萸〔新好紅者四兩〕、當歸〔四兩〕、麝香
〔半兩別研〕，
右三件為末，入麝拌和，酒煮麵糊為丸，如桐子大，每服一百粒或五十粒，
溫酒或鹽湯下。</p>
<h3>第十三問：室女經候，當行不行者，何也？</h3>
<p>答曰：室女者，乃末出閨門之女也，不以妍醜，至十四五歲，容貌皆紅嫩者。
謂之質朴未散，莊子云，綽約如處子者是也，當此之際，經脈來時，俗呼為紅脈，
或因驚恐，或冷氣擊搏，所以當行而不行也。
通經圓，治婦人室女月候不通，疼痛或成血瘕，嚴氏方內加玄胡索赤芍，減川烏。
桂心〔不見火〕、青皮〔去白〕、大黃〔炮〕、乾薑〔炮〕、蓬朮、川烏〔炮去皮臍〕
、乾漆〔炒〕、當歸、桃仁〔去皮炒〕、川椒〔去目炒出汗各等分〕，
右為細末，將四分用米醋煮成膏，和餘六分末劑，臼中治之，
如梧桐子大，陰乾每服二十丸，用淡醋湯下，加至三十丸，溫酒亦得食前服，
桃仁散，治婦人室女血閉不通，五心煩熱。
紅花、當歸、杜牛膝、桃仁〔別研〕，
右四味各等分為細末，每服三錢，溫酒調下，空心食前。</p>
<h3>第十四問：未出閨門女，有三病者，何也？</h3>
<p>答曰：未出閨門女，即室女也，一病者，經水初下，陰中熱，或有當風，或有扇 風者，
二病者，太衝脈盛，氣則內熱，以寒水洗之，三病者或見血下驚怖，若三病者，
有一之所受後必生帶下之疾也。
神仙聚安丹，治婦人血海虛寒，外乘風冷，搏結不散，積聚成塊，或成堅瘕，
及血氣攻注，腹脅疼痛，小腹急脹，或時虛鳴，嘔吐痰沫，頭旋眼花，腿膝重痛，
面色痿黃，肢體浮腫，經候欲行，先若重病，或多或少，帶下赤白，崩漏不止，
驚悸健忘，小便頻數，或下白水，時發虛熱盜汗羸瘦，此藥不論胎前產後，室女，
並宜服之，常服安心神，去邪氣，逐敗血，養新血，令有子，亦能除諸病。
木香〔研令末〕、琥珀〔別研〕、當歸、沒藥〔別研各一兩〕、滴乳〔一分別研〕、
麝香〔一錢別研〕、辰砂〔一錢別研〕，
右研令細，和滴冷熱水搗為丸，每一兩作一十五丸，每服一丸，溫酒磨下。胎息不順，
腹內疼痛，一切難產，溫酒和童便磨下，不拘時候產後血暈，敗血，奔心，口禁舌強，
或惡露未盡，發渴面浮，煎烏梅湯和童便磨下，產後氣力虛羸，諸藥不效，
和童便磨下，室女經候不調，每半丸溫酒磨下。</p>
<h3>第十五問：婦人多驚者，何也？</h3>
<p>答曰：婦人者眾陰之用集，而以血為之主，夫心主行血，脾主裹血，肝主藏血，
因產蓐過傷，或因喜怒攻損，是致營血虧耗，內經云，血氣者人之神，血既不足，
神亦不定，用以驚怖，巢氏有風驚悸候云，心藏神，為諸臟之主，若血氣調和，
則心神安定，若虧損，則心神怯弱，故風邪乘虛干之，防以驚悸，若久不止，
則變為恍惚也。
經濟丹，治婦人血氣不足，營衛俱虛，心氣不定，夜臥驚怖，夢寐不祥，心虛自汗，
乏力倦怠，飲食減少，咳嗽痰實，常服補心養血，安神定志，令人血壯氣實，
極有神效。
白茯苓、白茯神、白芍藥〔各一兩〕、遠志〔去心一兩〕、乳香〔半兩別研〕、
當歸〔一兩浸酒〕、酸棗仁〔去殼炒〕、人參〔一兩〕、沒藥〔一兩研〕、
硃砂〔別研半兩〕、石菖蒲〔一兩真者〕，只用棗仁丸亦得。
右十味為末，煉蜜為丸桐子大，將硃砂為衣，每服三十丸，加至五十丸，
棗湯參湯食前任下，飲後亦可。
坎離丹，既濟水火，補心滋腎，白濁夢遺。
辰砂〔一兩另研〕、酸棗仁〔酒浸去殼研一兩淨〕、附子〔一箇去皮臍〕、乳香
〔半兩令隔水乳砵細研入〕，
右先用附子碾細羅末，次入三味和勻，煉蜜丸如雞頭大，每服一粒溫酒下，空心一服，
須是臘月合，磁器盛之。
石斛散，治虛勞嬴瘦，乏力少食，倦念多驚畏。
石斛〔四錢去根淨洗剉酒炒〕、牛膝〔酒浸〕、柏子仁〔去皮研〕、五味子、
遠志〔炒〕、杏仁〔去皮尖炒〕、木香、肉蓯蓉〔酒浸焙乾〕、訶子肉〔炮〕、
青橘皮、柴胡、人參、熟地〔蒸各三錢〕、白茯苓〔四錢〕、甘草〔二錢炙〕、乾薑
〔一錢半炮〕、神麴〔研炒〕、麥蘗〔各六錢〕，
右為細末，每服二錢，米飲調下，食前日二三服。</p>
<h3>第十六問：婦人多夢因風泠而生諸疾者，何也？</h3>
<p>答曰：風乃陽邪也，冷乃寒氣也，風隨虛入，冷繇癆傷，夫人將攝順理，則血氣調和，
風寒暑濕不能為害，若勞傷血氣，便致虛損，則風冷乘虛而干之，或客於經絡，
則氣血凝澀，不能溫養於肌膚，或入於腹內，則衝氣虧虛，不能消化於飲食，
大腸虛則多利，子臟寒則不生，或為不通者，隨 所傷而成病，
皆不逃乎風冷之氣也。
補陰丸，治婦人百疾，或經不調，或崩中漏不止，腰腿沉重，臍腹作痛，潮熱往來，
虛煩自汗，中滿氣短，嘔噦不時，肢體煩疼，不思飲食，日漸瘦弱，此藥順肌體，
悅顏色，調營衛，逐風寒，進飲食，化痰涎。
熟地、生地〔各七兩〕、白朮〔五兩〕、蒼朮〔五兩半泔浸一宿〕、藁本〔去土〕、
牡丹皮、當歸、秦艽〔四味各十兩〕、細辛〔七兩〕、肉桂〔去皮八兩〕、
甘草〔炙六兩半〕、蠶退布〔燒存性七兩〕、大豆黃卷〔炒煙去六兩半〕、
枳殼〔六兩麩炒〕、陳皮〔六兩去白〕、乾薑〔炮〕、羌活〔各五兩〕、白芷〔六兩〕
、白茯苓〔六兩〕、糯米〔三升炒黑色火煙出〕，
右件細末，蜜丸，每一兩作十丸，每服一丸，溫酒化下，醋湯亦得，食前，
丹鈆丹，治一切虛寒冷病。
鹿茸、靈砂、白龍骨、川椒、陽起石、牡蠣粉、肉桂、肉蓯蓉、石斛、川巴戟、木賊、
澤瀉、天雄〔酒浸炮〕、沉香、兔絲子〔酒浸〕、膃肭臍〔各一兩〕、磁石〔醋淬〕、
麝香〔各半兩〕，
右為細末，煉蜜為丸，梧桐子大每服一百丸，溫酒或鹽湯下。</p>
<h3>第十七問：婦人多頭眩而冒者，何也？</h3>
<p>答曰：眩者，暈也謂轉運之運，世之為頭運者是也，冒者冒蒙之冒，世為昏冒者是也，
明理論曰，眊非毛而見其毛，眩非玄而見其玄，眊謂眼花也，眩謂眼黑也，鍼經云，
上虛則眩，下虛則厥，眩雖為虛，蓋風家亦有之者，風主運動故也，婦人頭運，
挾痰多嘔吐者，狀若醉頭風也。
芎羌散，治婦人患頭風者十居其半，每發必掉眩如在車上，蓋因血虛，
肝有風邪襲之耳，素問云：徇蒙拈尤，目瞑耳聾，下實上虛，過在足少陽厥陰，
甚則入肝，入肝蓋謂此也，方比他藥，捷而效速。
川芎〔一兩〕、當歸〔三錢〕、羌活、旋覆花、細辛、蔓荊子、石膏生、㱔本、
荊芥穗、半夏、防風、熟地、甘草〔炙各半兩〕，
右為麤末，每服二錢，水一大盞薑五片，煎至七分，去滓溫服，不拘時候，氣虛者，
此藥送養正丹五七十粒。
玉真圓，治腎氣不足，氣逆上行，頭痛不可忍，謂之腎厥，其脈舉之弦，
按之石堅，〔一本作不堅〕。
硫黃〔二兩〕、石膏〔硬者不煅研〕、半夏〔湯洗七次各一兩〕、硝石〔一分研〕，
右為細末，研和生薑汁糊為丸，如桐子大，陰乾，每服三十丸，生薑湯米飲湯下，
更灸關元穴百壯，良方中硫黃丸亦佳。
醉頭風餅兒
殭蠶〔去絲嘴〕、天南星，
右件各等分細末，生薑自然汁和作餅，如折二錢大，厚五分，陰乾，每服一餅，
同平胃散四味者三錢重，水三大盞，薑五片棗二個，先煎平胃散一沸，次下餅子，
槌碎入，同煎一二沸，通口服。
桃紅散，治男子婦人氣虛，攻注頭目昏眩，偏正頭疼，夾腦風，兩太陽穴疼，
眉稜骨痛，及治風痰惡心，頭運欲倒，小兒傷風鼻塞，痰涎咳嗽，並宜服之。
川烏〔一兩〕、草烏〔八錢〕、天南星〔半兩以上三味水洗三次〕、麝香、腦子
〔各一錢〕、硃砂〔半兩別研細〕，
右為細末，每服半錢，薄荷茶調下，溫酒亦得。</p>
<h3>第十八問：身體疼痛，流注不定者，何也？</h3>
<p>答曰：身體疼者，其證不一，太陽證表未解，法當身體疼痛，太陽中濕，一身盡痛，
若脈沉身體自利，痛者陰也，身重背強，腹中絞痛，咽喉不利，身如被杖者，
陰毒證也，若風邪乘家虛在於皮膚之間，淫淫躍躍，若刺一身盡痛，傷侵血氣，
動作如蠱毒之狀者，巢氏謂之風蠱也。
虎骨散，治婦人血風攻注，身體疼痛。
虎脛骨〔一兩半〕、桂心、芎藭、海桐皮、當歸、牛膝、天麻、附子、骨碎補
〔各一兩〕、羌活〔半兩〕，
右為細末，每服一錢，空心溫酒調下。
透經湯，治身體疼痛。
五積散〔半兩〕、生附子〔二錢〕，
右件用水二盞，薑七片，棗二枚，煎至八分，去滓入麝少許，再煎三四沸，通口服，
不拘時候。
麝香丸，治白虎歷節，諸風疼痛，遊走無定，狀如蟲囓，晝靜夜劇，
及一切手足不測疼痛。
川烏〔大八角者三箇生〕、全蠍〔二十一箇生〕、黑豆〔二十一粒生〕、地龍
〔半兩生〕，
右為細末，入麝半字，同研，和糯米糊為丸，如綠豆大，每服七丸，
甚者十丸，夜令膈空，溫酒下，微出冷汗一身便差，予得此方，
凡是歷節及不測疼痛，一二服便差，在歙川日，有一貴家婦人，遍身走注疼痛，
至暮則發，如蟲嚙其肌，多作鬼邪治之，予曰，此正歷節病也，三服愈，
凡一字者云分半也。</p>
<h3>第十九問：朝食暮吐者，何也？</h3>
<p>答曰：嘔吐之病，皆繇三焦不調，脾胃不和，清濁相干之所致也，大抵嘔吐本二證，
嘔者，嘔而有聲，俗所謂啘是也，吐者吐而有物，胃中虛冷則吐，若心下牢大如，盃，
或時寒熱，朝食暮吐，脈如弦緊，則為虛寒相搏，胃氣日虧，所以不能停留水穀，
名曰胃反。
紫金丹，治嘔吐，心腹疼。
丁香、木香、蓽澄茄、胡椒、五靈脂〔西者〕、肉豆蔻〔煨〕、乾薑〔炮〕、半夏
〔末半兩〕、附子〔炮〕、硫黃水、銀砂子〔二件如靈砂法炒青金頭角一兩〕。
右為細末，半夏末薑汁打糊丸，如桐子大，每服七十丸，空心米飲下。
薑合圓，療中脘停寒，胸膈結痞，嘔吐惡心，不思飲食。
木香、肉桂、附子、囪砂〔紙上飛各一兩〕、陳皮、丁香、沉香、蓽澄茄、青皮
〔去白各一兩〕、茴香〔一分炒〕，
右為細末，次入硇砂研，酒煮麵糊為丸，每一兩作二十丸，每服一丸，以生薑一塊，
剜如盒子，安藥在內，濕紙裹煨，令香，去紙放溫，細嚼鹽湯送下。</p>
<h3>第二十問：婦人之病，多因氣生者，何也？</h3>
<p>答曰：氣以形載，形以氣充，惟氣與形，兩者相待，氣和則生，氣戾則病，結為積聚，
氣不舒也，逆為狂厥，氣不降也，宜通而塞則為痛，氣不達也，宜消而息則為痟，
嬰之為，留之為瘤，亦氣之凝耳，內經曰，怒則氣上，喜則氣緩，悲則氣消，
恐則氣下，寒則氣收，熱則氣泄，勞則氣耗，思則氣結，驚則氣亂，九氣不同，
故婦人之病，多因氣之所生也。
大七氣湯，治驚恐恚怒相搏而痛。
京三稜、蓬朮、青橘皮〔淨洗〕、陳皮、藿香葉、桔梗、官桂、益智〔各一兩〕、
香附子〔去毛二兩〕、甘草〔半兩〕，
右為麤末，散每服五錢，水二盞薑三片，棗一枚，煎至一盞，去滓溫服。
木香順氣散，理衛氣，順三焦。
烏藥、木香、香附子、薑黃、砂仁、甘草，
右為㕮咀，每服半兩，水二鍾，薑五片，棗二枚，煎至八分，去滓溫服，不拘時。
紫金丹，治氣癖，氣瘕，蠱脹病〔天台陳秀山傳到不係產方〕。
針砂〔十兩〕、餘糧食、硫黃〔各二兩〕，
右先用藥三件，同好醋入鐵鍋內煮乾，碾為末。
平胃散〔十兩〕、蓬朮、縮砂仁、丁香、木香、獨活、黃耆、枳殼〔各一兩〕、
白茯苓、大黃、黃連、黑牽牛、甘草、茱萸、檳榔、破故紙〔各三兩〕、乾漆
〔一兩須好者生漆二兩亦得〕，
右件為細末，同前藥末用酒糊為丸，桐子大每日三五服不拘數，如病重則多服，
忌鹽醬油麵生冷等物。</p>
<h3>第二十一問：猝然而死，少間復甦者，何也？</h3>
<p>答曰：世言氣中者，雖不見於方書，然暴喜傷陽，暴怒傷陰，亦氣中之源也。
況憂愁況不意，氣多厥逆，往往多得此疾，便覺涎潮昏塞，牙關緊急，
若概作中風候用藥，非止不相當，多致殺人，經云，無故而瘖，脈不至，不治自已，
謂氣暴逆也，氣復則已，故猝然而死，少間復甦者，正謂此也。
蘇合香丸，療傳屍骨蒸，殗殜肺痿疰忤，鬼猝心痛，霍亂吐利時氣，鬼魅瘴瘧，
赤白暴利，瘀血月閉，痃癖下腫，驚癇鬼忤中人，小兒吐利乳，大人狐狸等病。
蘇合香油〔一兩入安息香膏內〕、白朮〔二兩〕、丁香〔二兩〕、硃砂〔二兩水飛研〕
、安息香〔二兩另為末用無灰好酒一升熬膏〕、木香〔二兩〕、白檀香〔二兩〕、
薰陸香〔另研一兩〕、沉香〔二兩〕、烏犀屑〔二兩〕、蓽茇〔二兩〕、香附子
〔二兩炒〕、訶梨勒〔煨去核取皮二兩〕、麝香〔另研二兩〕、龍腦〔研一兩〕，
右為細末研藥和，用安息膏並煉白蜜和劑，每服旋圓如梧桐子大，
早朝取井華水，溫冷任意化服四丸。</p>
<h3>第二十二問：病非瘧之邪，四時多病寒熱者，何也？</h3>
<p>答曰：風者，陽之氣也，寒者，陰之邪也，陰氣上升入陽中則發寒，
陽氣下陷入陰中則發熱，陰陽偏勝，寒熱互作，經曰，夏傷於暑，秋必病瘧者，是也，
婦人之病，證見寒熱邪非暑氣者，皆繇營衛之兆作也，且衛者氣也，氣為陽，
陽微則惡寒，營者血也，血為陰陰，弱則發熱，故婦人寒熱，多因氣血之所使也，
或勞傷而體弱，或經閉而寒熱，若此之類，久而不已，則成虛損之疾也。
必應散，治久寒熱如瘧狀。
熟地、檳榔、陳皮、草果〔去皮〕、當歸、砂仁、甘草〔炙〕、柴胡〔以上各等分〕，
右為麤末，每服三錢，水二盞，薑五片，煎八分，去滓無時溫服，合藥時，
忌雞犬婦人見。
神健飲子，治婦人寒塞熱。
赤芍、白朮〔各二兩〕、赤茯、當歸、肉桂、鱉甲、川芎、枳殼、柴胡、黃耆、
秦艽、桔梗、橘紅、甘草〔各一兩〕、木香，
右為㕮咀，每服三錢，水二盞，薑五片，棗一枚，煎至八分，去滓溫服，不拘時。</p>
<h3>第二十三問：因咳嗽，經候不行者，何也？</h3>
<p>答曰：咳嗽之說，古書有咳而無嗽，後人兼言之，大抵皆從肺出，其聲響亮，
不因痰涎而發者，謂之咳言其聲音聞於人，痰涎上下隨聲而發者，謂之嗽，
如水之嗽蕩，能蕩其真氣也，況肺主乎氣，經云營氣之行，常與衛氣相隨，久嗽損氣，
則血亦不足，遂致經閉不行，時發寒熱，久久成勞者，氣血俱損之故也。
六神散，治婦人熱勞咳嗽，月水不通。
柴胡〔去苗〕、白朮、青皮〔去白〕、當歸、牛膝、牡丹皮〔各一兩〕，
右為麤末，每用六兩，入蜜四兩炒令焦，入酒并童便各一碗，煎八九沸，去滓，
分作六服，空心食前。
紫苑圓，治肺氣咳嗽。
紫苑、防風、桑白皮〔炙〕、木香、貝母、人參、款冬花、葶藶〔隔紙炒〕、檳榔
〔各一兩〕、杏仁〔炒〕、天門冬〔去心一兩〕、甘草，
右為細末，蜜丸桐子大，每服三十丸，清米飲送下，食後服。</p>
<h3>第二十四問：咳嗽有紅痰者，何者？</h3>
<p>答曰：經稱五臟六腑皆令人咳，原其至理，雖因寒邪之為患，當分內外所傷，難經云，
形寒飲冷則傷肺，肺主皮毛，自皮毛而入中者，謂之形寒，胃脈絡肺，食寒而為嗽者，
謂之飲冷，水飲停積於胸膈，所以為痰，痰中有血者，乃心肺之相剋也，
肺屬金而主氣，心屬火而行血，以五臟而言之，心肺皆居膈上，以五行論之，
金火應乎相制，故痰中有血者，此火剋乎金，心勝乎肺，久而不已，亦變成勞，
難經所謂七傳者死，亦此之類也，褚氏遺書云，喉有竅，則咳血殺人，腸有竅，
則便血嬴人，便血猶可止，咳血不易醫，所以咳嗽有紅痰者，多成虛勞之疾也。
平肺湯，定喘治嗽
五味子、紫苑〔洗去土〕、陳皮〔去白〕、甘草〔炙〕、杏仁〔泡去皮尖〕、半夏
〔湯浸七次〕、紫蘇子、桑白皮，
右為末，每服二錢，水一盞薑四片煎至七分，去滓溫服食後。
立驗丸，治肺熱而咳，上氣喘急，不得坐臥，身面浮腫，不下飲食，消腫下氣，止嗽。
葶藶〔十分研炒為末〕、貝母〔三分〕、杏仁〔一兩半炒去皮尖〕、赤茯苓、紫苑、
五味子〔各三分〕、人參〔一兩〕、桑白皮〔一兩炙〕，
右為細末，蜜丸梧桐子大，每服十丸，二服，甚者夜一服，加至三十丸，棗湯下，
腫盛者食後服。
止紅散，治心肺客熱，咳嗽吐血。
柴胡〔去苗一兩〕、胡黃連、宣連〔各半兩〕，
右為末，入硃砂少許研和，每服二錢，水一盞，煎半盞，通口服。</p>
<h3>第二十五問：吐血、血齒、舌上出血，汗血者，何也？</h3>
<p>答曰：氣屬乎陽，血屬乎陰，陰盛則陽虧，陽盛則陰虧，經所謂陽勝則陰病，
陰勝則陽病，諸吐血衄血，繇陽氣勝，陰之氣被傷，血失常道，或從口出，或從鼻出，
皆謂之妄行，其脈洪數者逆，微細者順，陽明之經，行絡於頤頷，陽明受邪，
熱血從齒出也，脾氣通於口，心氣通於舌，心脾二經被傷，血故從舌出也，
營血內通於臟腑，外縈於經絡，藏則舍於肝經，行則出於心臟，又心之液為汗，
令肝心二臟俱虛，血隨汗液出也。
內補芎歸湯，治婦人血氣羸弱，或崩傷過多，少氣傷絕，腹中拘急，四肢煩熱，
面目無色，及唾血吐血。
芎藭、熟地〔各四兩〕、白芍〔五兩〕、桂心〔二兩〕、甘草、乾薑〔各三兩〕、大棗
〔四十枚〕、當歸〔二兩〕，
右為麤末，每服五錢，水一盞半，煎至八分，去滓溫服，不拘時。
柔脾湯，治吐血下血衄血。
白芍、黃芪、甘草〔各一兩〕、熟地〔三兩〕，
右為㕮咀，每服三錢，水酒各一盞，煎八分，去滓通口服，不拘時。
琥珀散，治小便出血。
琥珀、豬苓〔去皮〕、茯苓、澤瀉、滑石〔各一兩〕、阿膠〔炒三兩〕，
右為麤末，每服五錢，水二盞，煎一盞，去滓溫服。</p>
<h3>第二十六問：婦人偏喜酸物，或嗜冷者，何也？</h3>
<p>答曰：天食人以五氣，地食人以五味者，酸苦甘辛鹹是也五味各有所入，酸入肝，
辛入肺，苦入心，甘入脾，鹹入腎，是謂五入也，肝藏血，婦人以血為主，
所以偏喜酸物食者，酸入肝而養血，血得其酸物，所以捨藏也，血虛多熱，
邪熱蓄於上焦，煩躁內生，婦人虛煩，往往多嗜冷物也。
茯苓半夏湯，治妊娠惡阻，心中憒悶，嘔吐惡心，好噉鹹酸物。
旋覆花、陳皮、桔梗、白芍、人參、甘草〔炙〕、芎藭〔各半兩〕、赤茯苓〔三分〕、
乾熟地、半夏〔湯洗十遍一兩一分〕，
右為麤末，每服二錢，水盞半，薑四片，煎八分，去滓，食前稍熱服。
清平湯，治血虛口燥，咽乾喜飲。
人參、半夏、麥門冬、芍藥、白朮、甘草、當歸、茯苓、柴胡〔各等分〕，
右㕮咀，每服二錢，水盞半，燒生薑一塊切破，薄荷少許，同煎七分，去滓熱服，
不拘時。</p>
<h3>第二十七問：婦人喜少怒多，悲泣不止者，何也？</h3>
<p>答曰：婦人無故悲泣不止象如神靈，或以祟祈禱，終不應，金匱謂之燥臟是也，
為所欲不稱其意大棗湯主之。
大棗湯，治婦人臟燥。
甘草〔一兩〕、小麥〔三合〕，
右㕮咀，每服三錢，水盞半，棗五枚，煎八分，去滓溫服。</p>
<h3>第二十八問：咽中狀如梅核，或如炙肉者，何也？</h3>
<p>答曰：有喉嚨，有咽門，二者各有所司，喉嚨者，空虛也，肺之系，氣之道路也，
肺應天，故屬天氣所生，有九節以通九竅之氣，咽者，嚥也，言可嚥物，為胃之系，
胃屬土，地氣所生，謂之嗌也，或陰陽之氣痞結，咽膈噎塞，狀若梅核，妨礙飲食，
久而不愈，即成翻胃，或胸膈痰結，與氣相搏上逆，咽喉之間結聚，狀如炙肉之臠也。
四七湯，治喜怒悲思憂恐驚之氣，結成痰涎，狀如破絮，
或如梅核在咽喉，咯不出，嚥不下，此七氣所為，或中脘痞滿，氣不舒快，
或痰涎壅盛，上氣喘急，或因痰飲節注，嘔吐惡心。
半夏〔五兩〕、茯苓〔四兩〕、厚朴〔三兩〕、紫蘇葉〔二兩〕，
右為㕮咀，每服四錢，水盞半，薑七片，棗一枚，煎六分，去滓熱服，不拘時。
二氣散，治陰陽痞結，咽膈噎塞，狀若梅核，妨礙飲食，久而不愈，即成翻胃。
山梔子〔炒〕、乾薑〔炮各一兩〕，
右為麤末，每服二錢，水一盞，煎五分，去熱服，食遠。</p>
<h3>第二十九問：婦人足十指痛如油煎，覆之心熱痛，風吹則冷痛者，何也？</h3>
<p>答曰：孫真人云，有腳氣之人，先從腳起，或先緩弱，起行忽倒，或兩脛腫滿，
或膝枯細，或心中忪悸，或小腹不仁，或舉動轉筋，或見食嘔逆，惡聞食氣，
或胸滿氣急，或遍體酸痛，皆腳氣候也，黃帝所謂緩氣隰痺是也，頑弱名緩風，
疼痛為濕痺，寒中三陽，所患必冷暑中三陰，所患必熱，婦人足十指如熱油煎者，
此繇營衛氣虛，隰毒之氣，留滯經絡上攻心則心痛，下攻腳則腳疼，
其腳指加熱油所煎，亦氣之類，經云熱厥是也。
換腿丸，治一切腳氣，即石楠丸。
石楠葉、天南尾〔炮〕、金釵石斛、萆薢、牛膝〔酒浸一宿〕、薏苡仁、羌活
〔不蛀者〕、川續齗、天麻〔剉〕、防風〔去蘆〕、當歸、黃芪、甘草〔各一兩〕、
檳榔〔二兩半〕、乾木瓜〔四兩〕，
右為細未，酒糊為丸，桐子大，每服五十丸，漸加至一百丸，溫酒或木瓜湯下，
空心食前。
萬靈散，治婦人腳氣。
當歸、赤芍、烏藥、青皮〔各一兩〕、白朮、肉桂〔各半兩〕、黑牽牛〔二兩〕，
右為麤末，每服三錢，水盞半，酒少許，煎八分，去滓溫服食前。
活血丹，治婦人脾血久冷，諸般風邪濕毒之氣，留滯經絡，流注腳手，筋脈拳攣，
或發赤腫，步行艱辛，腰腿沉重，腳心吊痛，及上衝脇腹膨脹，胸膈痞悶，不思飲食，
衝心悶亂，及一切痛風走注，渾身疼痛。
川烏〔一兩〕、乳香〔一錢半另研〕、草烏〔一兩〕、地龍〔一兩〕、天南星〔一兩〕
、沒藥〔三錢半另研〕、牛膝〔一兩〕、木瓜〔一兩〕，
右為細末，入研藥，酒糊丸，梧子大，每服二十丸，空心日午冷酒下，
或荊芥湯清茶亦得。</p>
<h3>第三十問：婦人少年髮少者，何也？</h3>
<p>答曰：足少陽膽之經，其榮在髮，足少陰腎之經，其華在髮，衝任之脈為十二經之海，
謂之血海，其脈絡上唇口，若血盛，則榮於頭，鬢髮美，若血海弱，則經脈虛竭，
不能榮潤，故髮少而禿，或有純赤黃者。
生髮藥
蔓荊子、青葙子、蓮子草〔各一兩〕、附子〔二字〕、頭髮灰〔一匙〕，
右為末，以酒漬納瓷器中，封閉經二七日，藥成，以烏雞脂和塗之，先以米泔洗髮，
然後敷之，數月生長一尺也。
生眉毛
七月七日烏麻，陰乾為末，烏麻油和塗，眉即生妙。
滋陰養血丸，治勞虛血弱，肌肉枯燥，手足多煩，肢節酸疼，鬢髮脫落，面少顏色，
腹拘急，痛引腰背，去血過多，崩傷內竭，胸中短氣，晝夜不能眠，情思不樂，
怔忡多汗。
熟地、當歸〔各一兩〕、鹿茸〔二兩酥炙〕，
右為細末，蜜丸桐子大，每服五十丸，米飲湯任下，不拘時。</p>
<h3>第三十一問：四肢如故，但腹脹者，何也？</h3>
<p>答曰：身腫及四肢者，本起於水，手足瘦削腹大者，本起於脾，或脹滿或散者，氣也，
然腹脹之狀，上下膨亨，或鼓之有聲，嗡息不便，繇上者不降，下者不升，氣痞於中，
無所歸息，三焦渾亂，若猝然脹滿，餘無所苦，此繇脾胃不調冷氣暴折，
客乘於中寒之，則氣收聚，壅遏不通，是以脹滿，內經云，臟寒生滿病是也，
若臍凸者難治，大便利者為逆。
沉香導氣丸，順氣消腫。
黑白牽牛〔各一兩炒共取末一兩〕、青皮〔去白同巴豆〕、陳皮〔去白同巴豆〕、
沉香、檳榔〔半兩剉碎用巴豆五十粒去皮膜將三味炒黃色去巴豆不用〕、全蠍〔炒〕、
蓽澄茄、丁香、胡椒〔各半兩〕、續隨子〔一錢研〕、蘿蔔子〔三錢炒〕、甘遂
〔半倆剉炒黃色〕，
右為細末，用蔥白研如膏和丸，桐子大，每服二十丸，炒酒酵煎湯下，醋湯亦得。
神助丸，治四肢瘦，肚大。
三稜、草果子仁、川楝子〔各一兩醋一碗煮乾焙燥〕、茴香、蘿蔔子、栗子內皮
〔各一兩〕，
右為末，醋糊丸，桐子大蘿蔔湯送下五十丸，虛者三十丸。</p>
<h3>第三十二問：病有血分，有水分何以別之？</h3>
<p>答曰：婦人月經通流，流則水血消化，若風寒搏於經脈，血結不通，血積為水，
故曰血分若先病，於後經水或斷，名曰水分，其病易治，去其水，經自下也，
若病人覺腹內脹，外視如常，大便黑，小便赤，是其證也。
椒仁丸，治因經水斷絕，後致四肢面目浮腫，小便不通，名曰血分水化分永化為血，
血不通則為水矣。
五靈脂、吳茱萸〔湯洗七次醋浸炒〕、玄胡索〔各半兩〕、莞花〔醋浸一宿炒焦一分〕
、椒仁、甘遂〔炒黃〕、續隨子、郁李仁〔去皮研〕、牽牛〔炒熟各半兩〕、信砒
〔一錢研〕、石膏〔煅通赤研細一分〕、附子〔炮熟半兩〕、木香〔半兩〕、膽礬
〔一錢〕，右為細末，麵糊為丸，如綠豆大，橘皮湯下一丸，臨臥未通空心加一丸，
腹未通日午再一服。
葶藶丸，治因小便不利後，身面浮腫，致經水不通，名曰水分，其餘逆順，並同水氣。
葶藶〔炒〕、續隨子〔去皮研半兩〕、乾漆〔一兩〕，
右為末，棗肉和丸，桐子大，煎扁竹湯下七丸，如大便利者，減葶藶續隨子各一分，
加白朮半兩。</p>
<h3>第三十三問：心腹痛，或又有小腹痛者，何也？</h3>
<p>答曰：經云五臟猝痛，何氣使然，岐伯對曰，寒氣稽留於脈外，故猝然而痛也，
舉痛論中所載痛病，共有一十七證，皆繇寒氣之所致也，巢氏云，痛是臟虛受風冷，
邪氣乘心也，其痛發有死者，有不死成疹者，心為諸臟主而藏神，其淇正經不可傷，
傷之而痛者，名為真心痛，朝發夕死，夕發朝死，若腑臟虛弱，風邪客於其間，
痛隨氣之上下，或上攻於心則心痛，下攻於腹則腹痛，上下相攻則心腹俱痛，
或宿有風冷搏於血，血氣停結，小腹痛也。
醋煎散，治婦人血氣腹脅剌痛，及產後敗血，兒枕急痛。
高良薑〔一兩〕、當歸、肉桂、白芍、橘紅、烏藥〔各半兩〕，
右為細末，每服三錢，水醋各半盞，煎七分，通口服，不拘時，
木香通氣圓，治氣剌疼痛。
京三稜、蓬朮〔各四兩〕、芫花、木香、檳榔、大腹子〔各一兩〕，
右將米醋三觔同煮，令醋盡，獨去莞花，炒令乾，餘五味切片子，焙為末，
白麵糊和丸，如豌豆大，橘皮湯下三十丸，以止為度。
玉抱肚，治停寒痼冷疾，心腹刺痛，常繫於臍腹間甚妙，鄭主簿傳一方，
用針砂如上法炒訖，止入硇砂半兩，並不用餘藥。
針砂〔一兩鐵鍋內炒用柳條或小竹不住手攪煙出為度放冷〕、白礬、粉霜〔各二錢〕、
硇砂〔半兩〕，
右件，白礬等三味同研為細末，與針砂拌和作一服，以水數點灑，用匙拌擁令厚，
皮紙為貼，闊二寸以上，長四五寸，貼之，外以帕子繫疼處，或常繫臍下，如覺太熱，
即以衣襯之，若藥力過，再灑水如前拌用，其熱如初，可用四五次，
藥力退則將針砂再炒過，別入餘藥，仍可用五香拈痛丸，
木香、官桂、丁香、乳香、藿香葉、沉香〔各半兩〕、斑螫〔七枚〕、巴豆
〔三粒去油〕，
右八味為細末，白麵糊丸，梧桐子大，每服五十丸，薑湯送下。</p>
<h3>第三十四問：下利，經水反斷者，何也？</h3>
<p>答曰：穀入於胃，脈道乃行，水入於經，其血乃成，胃，水穀之海也，腸胃虛弱，
為風邪冷熱之氣所乘，不能腐化穀食，先泄後變成利也，受熱則赤，虛寒則白，
穀氣內虧，津液耗減，所以下利而經水反斷也，經云，利止經當自下，故宜先治利也。
大斷下丸，治下利不止。
附子〔二兩〕、細辛〔去蘆一兩半〕、乾薑〔三兩〕、高良薑〔五兩〕、肉豆蔻、
訶子皮〔各二兩〕、龍骨、赤石脂〔各三兩〕、牡蠣〔醋紙泥固濟火煅二兩〕、
酸石榴皮〔去穰醋炙黑心存性二兩〕、白礬〔二兩火飛〕、陽起石
〔火燒赤醋淬別研三兩〕，
右為細末，麵糊丸，梧桐子大，每服五十丸，米飲空心下。
滲濕湯，治濕勝濡泄。
白朮〔一兩半〕、蒼朮〔半兩炒〕、厚朴、肉桂、丁香、乾薑〔各一兩〕、陳皮、
細辛、白茯苓〔各一兩〕、肉豆蔻〔半兩〕、砂仁〔二兩〕、附子
〔二隻八錢者同薑炒令赤去薑先炮切片〕，
右為麤末，每服四錢，水盞半薑五片，棗二枚，煎一盞食前熱服。</p>
<h3>第三十五問：婦人晝則明了，暮則譫語，如見鬼狀者，何也？</h3>
<p>答曰：此婦人因傷寒之病，熱入於血室也，何以明之，室者屋室也，謂可以停止之處，
人身之血室者，營血停止之所，經脈留會之處，即衝脈也，衝為血海，王冰云，
陰靜海滿而去血，內經云，任脈通，太衝脈盛，月事以時下者，是也，若經水適來，
感其寒邪之所搏，則熱入血室，其證晝則明了，暮則譫語，如見鬼狀者，
此為熱入血室也，若施治其病者，當無犯胃氣，及上二焦，必自愈。地黃湯，
治熱入血室。
生地〔三兩〕、柴胡〔八兩〕、人參、黃芩、甘草〔炙各二兩〕、半夏
〔湯炮七次二兩半〕，
右為麤末，每服五錢，水二盞，薑五片，棗一枚，煎一盞，去滓溫服。
龍齒琥珀散，治產前產後血虛，心神恍惚，語言失度，睡臥不安。
茯神〔一兩〕、人參、龍齒、琥珀、赤芍、黃芪、牛膝〔去蘆各三分〕、麥門冬
〔去心〕、生地〔各一兩半〕、當歸〔半兩〕，
右為麤末，每服三錢，水盞半，煎六分，去滓溫服，不拘時。
小柴胡加地黃湯，治傷寒發熱，或發寒熱，經水適來或適斷，晝則明了，夜則譫語，
如見鬼神，亦治產後惡露方來，忽然斷絕。
柴胡〔一兩一分〕、人參、半夏、黃芩、甘草、生地〔各半兩〕，
右咀片，每服五錢，水二盞，薑三片，棗二枚，煎八分，去滓溫服。
來復丹，亦名正一丹，此藥配類二氣，均調陰陽，奪天地沖和之氣，乃水火既濟之方，
可冷可熱，可緩可急，善治營衛不交養，心腎不升降，上實下虛，氣閉痰厥，
心腹冷痛，臟腑虛滑，但有胃氣，無不獲安。
硫黃〔舶上透明者一兩〕，硝石〔一兩同硫黃並為細末，入定鍋內微火炒，
用木篦子不住手攪，令陰陽氣相入不可火太過恐藥力竭再研細名二氣末〕、
太陰玄精石〔研水飛二兩〕、五靈脂〔須五臺山者水澄去砂日乾研〕、陳皮〔去白〕、
青皮〔去白各二兩〕，
右用五靈脂二橘皮為細末，次入玄精石末及前二藥末拌勻，好醋打糊為丸，豌豆大，
每服三十粒，鹽湯下，甚者五十粒。</p>
<h3>第三十六問：顛狂之病，何以別之？</h3>
<p>答曰：入并於陰則為顛，入并於陽則為狂，皆繇風邪之所致也顛者，猝然仆地，
嘔吐涎沫，口喎目急，手足撩戾，無所覺知，良久乃甦，狂者，或言語不避親疏，
或因自高賢，或棄衣踰走，亦有自定之時，又在有胎之時，其母猝大驚亦令子氣發癎，
其顛有五，一曰陽顛，二曰陰顛，三曰風顛，四曰濕顛，五曰勞顛，
此皆隨其感病之繇而命名也，又有牛馬豬狗顛，以其顛發之時，聲形狀似於牛馬等，
故以為名也，俗云病顛之人，忌食六畜肉，顛發之狀，悉皆象之。大聖一粒金丹，
治諸風驚癎。
大川烏頭、黑附子、白附子〔各二兩〕、白蒺藜〔炒去刺〕、五靈脂〔各一兩〕、沒藥
〔半兩別研〕、白礬〔枯半兩別研〕、白殭蠶〔一兩去絲炒〕、麝香〔半兩淨肉〕、
細香墨〔半兩別研〕、硃砂〔半兩別研〕、金箔〔二百片為衣〕，
右將前六味同為細末，後四味研細合和，用井華水一盞，
研墨盡為度，將墨汁搜和，杵臼內搗五百下，丸如彈子大，金箔為衣陰乾，每服一粒，
食後臨臥，生薑自然汁磨化，入熱酒服，再以熱酒隨意多少飲之，就無風煖處臥，
衣被蓋覆，汗出即差，病小者，每粒分作二服，忌發風物，孕婦不可服。
黃牛丸，治風狂，喜怒不常，或欲狂走。
白龍骨〔燒〕、鐵粉〔研〕、茯神、人參、黃連、
鉛霜、犀角〔屑〕、防風、硃砂〔各一兩研〕、牛黃〔一錢研〕、遠志〔一兩去心〕、
龍腦〔一錢研〕、甘草〔半兩炙〕、麥門冬〔一兩半去心〕，右為細末，如桐子大，
每服二十丸，熟水送下，不拘時服，袪邪散，治顛邪惡候，白礬〔三兩生研〕、黃丹
〔半兩〕，右為研細，用桑柴於瓦中燒一伏時，服半錢以乳香湯下，不拘時，
小柴胡加地黃湯，方見三十五問：每服五錢，水二盞，薑五片，棗二枚，煎八分，
去滓溫服。
來復丹，治產後熱入血室如見鬼神狂語者，方見三十五問：以醋湯下十來服。</p>
<h3>第三十七問：病有一臂痛，有兩臂俱痛，何也？</h3>
<p>答曰：臂痛有數證，有因寒而得之者，或因伏痰者，有形寒飲冷傷肺者，
有汗出傷阻者，夫肝主諸筋，肝經虛弱，風寒入傷，與氣血相搏，筋寒則急，
上連兩臂俱痛，宜服醒風湯理氣湯主之，若或左或右，痛不能舉臂者，繇鯀伏痰在內，
中脘停滯，脾氣不能流行，止與氣搏，流伏於左則左痛，在右則右痛，
若右臂痛深連於骨，如斧搥，其氣自嗌已下至臍，左右氣不相通徹，其痛發時，
氣上奔急，令人悶絕，肌肉日消，漿粥不下，心中煩悶，此繇形寒飲冷，
肺被寒結留滯於右邊，若無故一臂無力，痛不能舉，襲襲似汗，偏阻一邊，
肌肉時復掣痛，或有不仁，手不能近頭，久成偏枯，宜服百風湯主之，
百風湯，治四肢垂曳，骨節疼痛又名省風湯。
獨活〔三錢〕、芎藭、防風、當歸、桂心〔各二兩〕、茯苓、附子、
細辛、天麻〔一兩〕、乾蠍〔炒〕、甘草〔一兩〕、
右為㕮咀，每服三錢，水一盞半，薑五片，煎七分，去滓，食前稍熱服服，
茯苓丸，治伏痰臂痛。
茯苓〔一兩〕、半夏〔二兩〕、枳殼〔去穰麩炒半兩〕、風化朴硝〔一分〕，
右為細末，薑汁煮糊為丸，如桐子大，每服三十丸，食前薑湯下。
理氣湯，治痰飲臂痛。
半夏〔湯洗二兩〕、桔梗〔一兩〕、官桂〔二兩〕、人參〔一兩〕、橘皮〔洗乾二兩〕
、甘草〔半兩〕，
右為麤末，每服五錢，水二盞，薑五片，煎一盞，去滓食前服。</p>
<h3>第三十八問：婦人渴病，與三消之病同異？</h3>
<p>答曰：夫渴之為病一也，推其受病之源，所得各異，指迷方論消渴之病，自來有二，
多緣嗜慾太甚，自為虛寒，服五石湯丸，猛烈燥藥，積之在臟，遂至精血枯涸，
又久飲酒者，酒性酷熱，薰蒸於臟肺，是致津液耗竭，渴乃生焉，婦人之渴，
多因損血，血虛則熱，熱則能消飲，所以多渴，故與男子之病有異也。
柏子仁湯，滋養營衛，調心順氣，亦治上焦虛熱，煩燥口苦，四肢倦怠，津液內燥，
服之效。
新蘿參、黃耆、茯神、瓜蔞根、天門冬〔去心〕、麥門冬〔去心〕、甘草〔各一兩〕、
北五味〔半兩炒〕、柏子仁〔半兩〕、熟地〔二兩〕，
右為麤末，每服五錢，水一盞半，薑三片，棗三枚，煎七分，去滓溫服，不拘時。
辰砂聚寶丹，治心肺積蘊虛熱，口苦舌乾面赤，大便滲泄，肌肉瘦淬，四肢少力，
精神恍惚，又治消渴，消中，消腎，三焦留熱。
鐵粉〔三錢半〕、牡蠣〔三錢半〕、辰砂〔半兩〕、瓜蔞根〔半兩〕、黃連〔二錢半〕
、金銀箔〔各五十片為衣〕、知母〔三錢半〕、新蘿參〔半兩〕、白扁豆
〔湯浸去皮取末半兩〕，
右件瓜蔞根末等五味，同前藥末，用生瓜蔞根去皮取汁一盞，白沙蜜一小盞，
同銀器中煉七八沸，候冷，和藥為丸，如梧桐子大，每服三十丸，
煎麥門冬湯放冷送下，食後一日之間三服。</p>
<h3>第三十九問：腰痛如折者，何也？</h3>
<p>答曰：腰者腎之外候，足太陽經之所流注，若痛連小腹，不得俯仰，惙惙短氣，
此繇腎氣虛弱，勞傷過度風，冷乘之，有所不榮，故腰痛也，內經云，腰者腎之腑，
轉搖不能，腎將憊矣，若妊娠腰痛者，其胎必墮也。
杜仲散，
杜仲〔去皮杵爛酒浸一宿焙一兩〕、官桂、牡丹皮〔各一兩〕，
右為細末，溫酒調二錢，不拘時服。
當歸丸，
當歸〔切洗三兩〕、水蛭〔炒三十枚〕、桃仁〔去皮研三十粒〕，
右為細末，酒煮糊丸如桐子大，溫酒下十丸，未愈，加至三十丸。
腎著湯，治身體重，腰冷痺，如坐水中狀，反不渴，小便自利，飲食如故，病屬下焦，
從身勞汗出，衣裏冷濕，久而得之，腰以下冷痛，腰重如帶五貫錢重者。
甘草、乾薑〔各二兩〕、茯苓、白朮〔各四兩〕，
右為麤末，每服五錢，水二盞，去滓溫服，不拘時。</p>
<h3>第四十問：婦人面多生黑皰與黑子者，何也？</h3>
<p>答曰：黑皰黑子者，皆生於面上，本是二證也，五臟六腑之經，血華充於面，
或痰飲漬臟，或腠理受風，致血氣不和，或澀或渴，不能榮於皮膚，故變生黑皰，
若黑點凝聚，謂之黑子，若生而有之者，非藥可治也。
洗風散，治面上遊風，或癮疹，或風刺，或黑皰。
茺蔚草、晚蠶沙、赤小豆、黑牽牛、白芷、藁本、殭蠶、白附子、草烏頭、白蘞、
蔓荊子，
右件等分為末，每一錢澡面用之。</p>
<h3>第四十一問：身目黃者，何也？</h3>
<p>答曰：黃疸之病，皆屬於脾，脾屬土而色黃，濕勝則土氣不流，瘀熱鬱發，
則真色見矣，大抵黃疸本得之於濕，濕熱相搏，身必發黃，若先有流熱，後有濕氣者，
先治其熱，梔子蘗皮湯，茵陳五苓散主之，或先感其濕，後加其熱者，先去其濕，
五苓散，瓜蒂散主之，亦有因冷氣痞結於脾陰，濕鬱而為黃，先瀉其痞，半夏瀉心湯，
枳實理中湯主之，然後利其小便，若病人一身面目悉黃，四肢微腫，胸滿不得臥，
汗出如黃蘗汁者，此繇大汗出，猝入水中所致，謂之黃汗，宜苦酒湯，若非濕熱所鬱，
婦人面萎黃者，亡血之過也，宜服地黃散，滋陰養血丸，方見第三十問。
苦酒湯。
黃芪〔五兩〕、芍藥〔三兩〕、官桂〔三兩〕，
右為㕮咀，每服五錢，水盞半，苦酒半盞，煎一盞，去滓溫服，不拘時。
地黃散，治婦人血少，氣多寒，面色青白。
地黃、乾薑〔各一兩〕，右為細末，每服二錢，溫酒調下，不拘時。
茵陳五苓散
豬苓〔去皮〕、茯苓、澤瀉、白朮〔各一兩〕、官桂〔去皮五錢〕，
右為細末，以茵陳一分，水一盞，煎七分，去滓調服，加鹽點妙，
瓜蒂散
瓜蒂、赤小豆、秫米〔各一兩〕，
右為細末，粥飲調下半錢，以吐為度。
蘗皮湯
蘗皮〔三兩〕、梔子〔二兩〕、甘草〔一兩〕，
右為麤末，每服五錢，水二盞，煎八分，去滓溫服。</p>
<h3>第四十二問：陰崩陽崩，何以別之？</h3>
<p>答曰：夫血氣之行，外行經絡，內榮腑臟，皆衝任二脈之所主也，倘若勞傷過度，
致腑臟俱傷，衝任經虛，不能約制其血，故忽然暴下，謂之崩下，經云三焦絕經，
名曰血崩，受熱而赤者，謂之陽，崩受冷而白者，謂之陰崩，其白者形如涕，
赤者形如絳，黃者形如爛瓜，青者形如藍色，黑者形如衄血，是謂五崩也
〔當與第六問兼看〕。
陽崩膠艾湯，治婦勞傷血氣，衝任虛損，月水過多，淋漓漏下，連夕不斷，臍腹疼痛。
阿膠〔炒〕、川芎、甘草〔各二兩〕、艾葉、當歸〔各三兩〕、白芍、熟地〔各四兩〕
，右為飲子，每服三錢，水一盞，煎六分，去滓熱服，空心食前，甚者連夜並服之。
黃芩散，治崩中下血。
黃芩為末，每服一錢，燒秤鎚酒調下，崩中多是止血藥，此法治乘陰，
經所謂天暑地熱，經水沸溢者也。
陰崩固經丸，治婦人衝任虛弱，月候不調，來多不斷，淋漓不止。
艾葉〔醋炒〕、鹿角霜、伏龍肝〔各等分〕、乾薑，
右為末，溶鹿角膠和藥乘熱丸，梧桐子大，食前淡醋湯下五十丸，赤龍丹，
治崩漏不止，餘血作痛。
禹餘糧〔煅〕、烏賊骨、鹿茸〔酒炙〕、龍骨、乾薑、當歸、石燕子〔煅〕、阿膠
〔炒〕，
右等分為末，酒醋糊丸，桐子大，每服五十丸溫酒下，艾醋湯亦得，</p>
<h3>第四十三問：眠臥多汗者，何也？</h3>
<p>答曰：盜汗者因眠臥而身體流汗也，此繇陽虛所致，久不已令人羸瘦，心虛不足，
亡津液故也，診其脈虛弱細微，皆盜汗脈也。
大建中湯，治熱自腹中，或從背膂，漸漸蒸熱，或寐而汗，日漸羸瘦。
白芍〔六兩〕、黃芪、遠志、當歸、澤瀉〔各三兩〕，
右為麤末，每服五錢，水二盞，薑三片，棗一枚擘破，入飴少許，煎一盞食前溫服。
黃芪飲子，治婦人血氣不足，夜間虛乏，有汗倦怠者。
黃芪、五味子、當歸、白茯苓〔各半兩〕、白芍、遠志、麥子〔一方用〕、麥門冬、
吳朮〔各一分〕、甘草〔三錢〕，
右㕮咀，每服三錢，水盞半，薑三片，煎七分，去滓溫服，不拘時，神驗。
加味理建湯，治男子婦人夜多盜汗，并便濁者，此方昌國州方順齋傳到，經驗。
乾薑、吳朮、人參、黃耆、白芍、肉桂、甘草、牡蠣、浮麥、當歸
右件㕮咀，每服水二盞，薑五片，棗一枚，煎八分，食前熱服，渣再煎。</p>
<h3>第四十四問：左脅痛如刀刺，不得喘息者，何也？</h3>
<p>答曰：肝居脅之左，以藏血，鍼經云，邪在肝，兩脅痛，巢氏云，左脅偏痛者，
繇經絡偏邪，客於傍之故也，人之經絡，旋環於身，左右表裏皆周遍，若血氣調和，
不生虛實痛證，或偏者邪傷之也，其左脅痛如刀刺者，則知其邪偏客於左也，
甚者不得喘息也。
醋煎散，治婦人血氣腹脅刺痛。
良薑〔一兩〕、當歸、肉桂、白芍、陳皮、烏藥〔各半兩〕，
右為細末，每服三錢，水醋各半盞，煎七分，通口服。
趁痛散，治血氣刺痛，起於一邊，或左或右，行環上下，或在肌肉之間，
如錐刀所刺，其氣不得息。
蓬朮、官桂〔各一兩〕、檳榔〔半兩〕、芫花〔醋炙〕、附子〔各一兩〕、細辛
〔半兩〕，
右為飲子，每服三錢，水盞半，煎七分，去滓溫服，薑棗同煎。</p>
<h3>第四十五問：積聚之病，何以別之？</h3>
<p>答曰：積聚聚者，陰陽不和，腑臟虛弱，受其風邪，搏於腑臟之氣所為也，積者，
五臟所生，聚者，六腑所生，然陽化氣，氣屬於六腑，陰成形，形主於五臟，
陽則動而不息，故聚者，始發無根本，上下無所留止，其痛無常處，故謂之聚也，
陰則定而守住，故積者，始發有常處，其痛不離其部，上下有所終始，左右有所窮處，
乃謂之積也，積脈陰沉而伏，象陰體之沉靜，聚脈陽浮而動，法陽性之浮高，
然積病有五，隨其五臟相傳而生焉，經云，在肝則曰肥氣，在心則曰伏梁，
住脾則曰痞氣，在肺則曰息賁，在腎則曰奔豚，故曰積聚之病，此可別也。
鱉甲丸，治小腹中積聚，大如七八寸盤面，上下周旋，痛不可忍。
鱉甲、官桂〔各一兩半〕、蜂房〔半兩〕、川椒、細辛、人參、苦參、丹參、沙參、
吳茱萸〔各十八銖〕、⿸庶䖵蟲、乾薑、牡丹皮、附子、水蛭、皂角〔一本牛白角腮〕、
當歸、赤芍、甘草、防葵〔各一兩〕、蠐螬〔二十枚〕、大黃、虻蟲、玄參〔十八銖〕
，右為細末，蜜丸桐子大，每服七丸，溫酒下，日三服，加之，以效為度，
沒藥散，治婦人一切血氣臍腹撮痛。
血竭〔別研〕、肉桂、當歸、蒲黃、紅花、木香、沒藥、玄胡索、乾漆〔炒令煙出盡〕
、赤芍〔各等分〕，
右為細末，每服二錢，熱酒調下，食前。
紫金散，治婦人血氣不和，血塊疼痛，常服煖子宮，通經絡。
橘紅、枳殼、肉桂、玄胡索、甘草〔炙各一兩〕、紫金牛〔五兩一本紫金皮〕、當歸
〔酒浸一宿焙乾剉〕、香附〔炒去毛各三兩〕、南木香〔半兩生〕，
右為末，婦人室女月水不調，久閉贏瘦，蘇木煎湯調下，
白雞冠花末煎酒調下亦得，每服一匙，常服安胎養氣，臨產橫逆，蔥白煎酒下，
血氣脹滿，催生下死胎，煎枳殼酒下，地榆末煎酒下亦得，產後血運，頭旋中風口禁，
惡證發動，虛腫，豆淋酒下，產後惡血不止，血海衰敗，赤白帶下，胞漏，
棕櫚灰酒下，綿灰亦得，胎氣絞刺，脅腹肚疼痛，炒薑酒下，心氣不足，陳皮湯下，
產後敗血停積，攻刺腰痛，無灰酒下，日午臨睡三服，忌生冷淹藏毒魚。</p>
<h3>第四十六問：身體常搔癢者，何也？</h3>
<p>答曰：身體搔癢者，是體虛受風風入腠理，與血氣相搏而俱往來，在皮膚之間，
邪氣散而不能衝擊為痛也，故但搔癢也，仲景云，癢者名泄氣風，久久成痂癩，
亦繇體虛，受風邪之所致也。
胡麻散，治脾肺風毒，攻衝遍身，皮膚搔癢，或生蒼疥，或生癮疹，
用手搔時，浸淫成瘡，久而不差，愈而復作，面上遊風，或如蟲行，
紫癜白癜頑麻等風，或腎臟風，攻注腳膝生蒼，並宜服之。
胡麻〔三兩〕、苦參〔二兩〕、何首烏〔二兩洗〕、甘草〔炙半兩〕、荊芥〔三兩〕、
葳靈仙〔一兩半〕，
右為細末，每服二錢，薄荷湯茶點，食後服，或酒調蜜湯點亦得，服此後頻頻洗浴，
得出汗而立效。
苦參丸，治心肺積熱，腎臟風毒，攻於皮膚，時生疥癩，搔癢難忍，時出黃水，
及大風手足爛壞眉毛脫落，一切風疾並皆治之。
參苦〔四兩〕、荊芥〔去梗三兩〕。
右為細末，水糊丸，如桐子大，每服二十丸，好茶吞下，或荊芥湯，食後。</p>
<h3>第四十七問：夜與鬼交者，何也？</h3>
<p>答曰：人有五臟，臟有七神，臟氣盛則神強，外邪鬼魅不能干犯，若攝養失節，
而血氣虛衰，鬼邪侵損，故婦人夢中多與鬼魅交通，其狀不欲見人，如有對忤，
并獨言獨笑，或時悲泣者，是也，其脈來遲，或如鳥啄，顏色不變，皆邪物病也，
說今宮中人，尼師，寡婦，曾夢中與鬼魅交通，邪氣懷感，久作癥瘕，或成鬼胎，
往往有之。
茯神散，治婦人風虛鬼神交通，妄有所見聞，語言雜亂。
茯神〔一兩半〕、茯苓、人參、菖蒲〔各一兩〕、赤小豆〔半兩〕，
右㕮咀，每服三錢，水一盞半，煎六分，去滓溫服，食前。
治女人與鬼神交通，獨言獨笑，或悲或思，或嘔謠恍惚。
松脂〔三兩炒〕、雄黃〔一兩研末〕，
右二味，用虎爪攪勻，丸如彈大，夜內，籠中燒之，令女裸坐籠上，彼急自蒙，
唯出頭耳，過三薰即斷。
秦丞相炙法，狐魅神邪，及癲狂病，諸般醫治不差者，以併兩手大拇指，
用綠絲繩急縛之，灸三壯，艾著四處，半在甲上，半在肉上，四處盡燒，一處不燒，
其疾不愈，神效不可量也，小兒胎癇驚癇，一依此法灸之，一壯炷如小麥，妊癇亦妙，
黃帝灸法，治療神邪鬼魅，及癲狂病，言語不擇尊卑，灸上唇裏面中央肉弦上一壯，
炷如小麥子大，用鋼刀決斷更佳也。</p>
<h3>第四十八問：大小便不通者，何也？</h3>
<p>答曰：大腸者，傳導之官，變化出焉，傳者，傳其不潔之物也，上與肺合，膀胱者，
州都之官，津液藏焉，氣化則能出矣，化者，化其溲便之泄注也，內與腎合，
或臟腑不和營衛不調，使陰陽二氣失升降之道，致大小二腸為祕結之患巢氏云，
熱則祕結，寒則鴨溏，熱搏於大腸，則大便不通熱結於小腸，則小便不通，
令罷小便不通者，是大小二腸受客熱所結也，小腸受熱化物不出，
是致膀胱不能使溲也，故便血尿血者，皆繇熱之所使也。
枳杏丸，治臟腑堅祕澀少。
杏仁〔一兩湯泡去皮尖別研〕、枳殼〔二兩先研為末〕，
右為細末，神麴為丸，桐子大，每服四十或五十丸，食前米飲薑湯下，
麻仁丸，治津液虧少，大便結祕。
麻仁〔二兩去皮〕、枳實〔四兩去白麩炒〕、芍藥〔四兩〕、大黃〔炮四兩〕、厚朴
〔二兩〕、杏仁〔二兩〕，
右為末，蜜丸桐子大，米飲下二十丸，未通加至三十丸。
石葦飲子，治氣淋，小遺澀痛。
石葦〔浸刷皮一兩〕、瞿麥、木通〔各一兩〕、陳皮、茯苓、芍藥、桑白皮、人參、
黃芩〔各三分〕，
右為細末，每服二錢，水一盞半，薑五片，煎七分，去滓溫服。㕮咀亦得，
真珠丸，常觀血之流行，起自於心，聚之於脾，藏之於肝，此三經者，
皆心血所繫之處也，若三經守節，則血濡養而安和，茍一臟有傷，則血散溢而為咎，
指迷方云，小便赤色，不痛不澀者，非熱非淋，繇經氣乘心，心氣散溢，
血無所歸滲入下經，故治之多用心藥，宜服真珠丸。
真珠母〔三分研如粉〕、柏子仁〔研〕、當巋〔各一兩〕、人參、沉香〔半兩〕、
酸棗仁〔炒去皮研〕、犀角〔鎊〕、熟地〔酒浸洗蒸乾一兩半〕、茯神〔去木〕、龍齒
〔各半兩〕，
右為細末，蜜丸桐子大，辰砂為衣，每服四十丸加至五十丸，
金銀薄荷湯下，日午臨臥時各一服。</p>
<h3>第四十九問：帶下三十六疾者，何也？</h3>
<p>答曰：帶下者，鯀勞傷過度，損動經血，致令體虛受冷，風冷入於胞絡，
搏其血之所成也，諸方說帶下三十六疾者，是十二癥，九痛，七害，五傷，三因，
謂之三十六疾也，十二癥者，是所下之物，一者如膏，二者如青，三者如紫，
四者如赤皮，五者如膿痂，六者如豆汁，七者如葵羹，八者如凝血，九者如青血，
血似水，十者如米汁，十一者如月浣，十二者經度不應期也，九痛者，一者陰中痛傷，
二者陰中淋痛，三者小便刺痛，四者寒冷痛，五者月水來腹痛，六者氣滿並痛，
七者汗出陰中如蟲囓痛，八者脅下皮膚痛，九者腰痛七害者，一者害食，二者害冷，
三者害氣，四者害勞，五者害房，六者害妊，七者害睡，五傷者，一者腹吼痛，
二者陰中寒熱痛，三者小便急牢痛，四者藏不仁，五者子門不正引背痛，三因
〔因字一本或作固〕，一者月水閉塞不通，其餘二固者，文闕不載，三因方論云，
三固者，形羸不生肌肉，斷緒不產，經水閉塞，名品雖殊，無非血病，
多因經絡失於調理，產褥不善調護，內作七情，外感六淫，陰陽勞逸飲生冷，
遂致營衛不和，新陳相干，隨經敗濁淋露，凝為癥瘕，流溢穢惡，痛害傷痼，
犯時微若秋毫，作病重如山岳，古人所謂婦人病比男子十倍難治，
而張仲景所說三十六種疾，皆繇子臟冷熱勞損，而夾帶起於陰內也，條目混混，
與諸方不同，但仲景義最玄深，非愚淺者能解，恐其文雖異而義同也。
養氣活血丹，治勞傷衝任，帶下異色。
大艾葉〔炒焦取細末五兩〕、乾薑〔炮細末二兩〕，
右二件，用好醋二升半，無灰好酒二升，生薑自然汁一升，艾葉末同調，
於銀器內慢火熬成膏，方入後藥末。
附子、白芍、白朮、椒紅〔各三兩半〕、川芎、當歸、人參、五味子、紫巴戟
〔去心糯米炒各二兩〕，
右為細末，入前藥膏子，弁炒熟白麵二兩半，同和勻為劑，入杵臼內搗千下，
丸如桐子大，每服五十丸，溫酒或米飲，食前任下。
紫桂丸，補益血海，治衝任氣虛，經脤不調，或多或少，腰疼腹冷，帶下崩漏。
禹餘糧〔火煅醋淬七次三兩〕、龍骨、艾葉〔醋炒〕、牡蠣、赤石脂、地榆〔各二兩〕
、厚朴、牡丹皮、阿膠〔蛤粉炒〕、當歸、白芷、吳茱萸〔湯洗七次〕、肉桂
〔各一兩〕、附子〔半兩〕，
右為細末，麵糊丸桐子大，每服三十丸，濃煎艾醋湯空心下，常服。</p>
<h3>第五十問：婦人有帶下，或淋漓不斷，何以別之？</h3>
<p>答曰：產戶有三門，一曰胞門，二曰龍門，三曰玉門，衝任二脈行於中，
已產者屬胞門，未產者屬龍門，未嫁者屬玉門，病源云，陰陽過度，勞傷經絡，
故風冷乘虛而入胞門，損衝任之經，傷太陽少陰之氣，致令胞絡之間，
穢液與血相稱兼帶而下，冷則多白，熱則多赤久，而則為淋瀝之病也。
大補益當歸丸，治婦人諸虛不足。
當歸、續斷、乾薑、阿膠、甘草、川芎〔各一兩〕、吳朮、吳茱萸、附子、
白芷、芍藥、官桂、地黃〔各一兩半〕，
右為細末，麵糊丸如桐子大，每服五十丸，溫酒或鹽湯下，食前。</p>
<h2>女科百問卷下</h2>
<h3>第五十一問：男女受形之始何以別之？</h3>
<p>答曰：男女之合，二情交暢，陰血先至，陽精後衝，血開裹精精，入為骨，
而男形成矣，陽精先入，陰血後滲，精開裹血，血入居本，而女形成矣，陽氣聚面，
故男子面重，溺死者必伏，陰氣聚背，故女子背重，溺死者必仰，
鳥獸溺死者伏背皆然，陰陽均至，非男非女之身，精血散分，駢胎品胎之兆，
父少母老，產女必羸，母壯父衰，生男必弱，古之良士也者，首察乎此，氣受偏疾，
與之補之，補羸女，則養血壯脾，補弱男，則壯脾節色，羸女宜及時而嫁，
弱男宜待壯而婚，此疾外所務之本，不可不察也。</p>
<h3>第五十二問：何以謂之有娠。</h3>
<p>答曰：經云，經候一月日後，覺不通，診其脈理平和，婦無他疾，欲作胎也，脤經云，
有一婦人來診自道經斷不來，師言一月為胚，二月為始膏，三月為居經，今既居經，
正是為作胎也。
人參丸，養陰生血補虛。
人參、鹿角膠、熟地、川芎、白芍、當歸、白朮〔各一兩〕，右為細末，蜜丸桐子大，
每服三十丸空心米飲下。</p>
<h3>第五十三問：何以謂讀之居經。</h3>
<p>答曰：陽施則別，陽者氣也，陰化則搏，陰者血也，二情交暢，血氣和調，
故令有子也，經云，肝主藏血，故一月謂之血凝，蔭氣方始凝結，足厥陰肝經養之，
肝與膽合，二月為之胚，兆未成器，猶之胚也，足少陰膽經養之，三月陽神為魂，
手心主胞經絡養之，且經者常也，天真之氣，與之流通，故三旬一見，今既三月不行，
所以謂之居經也。
白朮散，調補衝任，扶養胎氣，治妊娠宿有風冷，胎痿不長，或失於調理，
動傷胎氣，多致損墮，懷妊常服壯氣益血，保護胎藏。
牡蠣〔三分〕、白朮〔四分〕、芎藭〔四分〕、蜀椒〔去目及閉口者炒出汗三分〕，
右為細末，每服二錢，溫酒空心調服。
內補當巋丸
熟地〔酒浸洗九蒸九晒焙乾二兩〕、當歸〔去蘆洗切焙微炒一兩〕，
右為細末，蜜丸桐子大，每服五十丸，溫酒下予嘗觀許學士論，枳殼散四物湯，
內補當歸丸，此三方皆載之，在人用之何如耳，大率妊娠惟在抑陽助陰，索問云，
陰搏陽別，為之有子，蓋關前為陽，關後為陰尺中之脈，按之搏手而不絕者，妊子也，
婦人平居，陽氣微盛無害，及其妊子，則方閉經，遂以養胎，若陽盛搏之，
則經脈妄行，胎乃不固，素問所謂陰虛陽搏謂之崩也，
抑陽助陰之方甚多，然胎前藥唯惡群隊，若陰陽交雜別生他病，惟是枳殼散所以抑陽，
四物湯所以助陰，故爾，枳殼散差寒，若單服之，恐有胎寒腹痛之病，
以內補丸佐之，則陽不致強，陰不致弱，陰陽調和，有益胎嗣，此前人未嘗論及也。
四物湯
當歸、熟地、白芍，川芎〔各等分〕，
右㕮咀每服四錢，水二盞，煎八分，去滓溫服，不拘時。
枳殼散
枳殼〔二兩〕、甘草〔一兩〕，
右為細末，每服二錢，百沸湯點服，空心食前三服。</p>
<h3>第五十四問：婦人居經之後，心中憤悶，不欲執作，惡聞食氣者，何也？</h3>
<p>答曰：妊娠心中憤悶頭運，四肢煩痛，懈墮不欲執作，惡聞食氣，欲噉鹹酸果實，
多睡少起者，世云惡食，又云惡字，是也，乃至三四月以上，大劇者不能自勝舉也，
此繇婦人元本虛羸，血氣不足，腎氣又弱，兼當風飲冷太過，心下有痰水，水漬於臟，
故心煩憤悶，氣挾而嘔吐也，挾風則頭目運，此名惡阻，所謂阻者，經血既閉，
痰水積於中，阻其臟器，不得宣通也。
竹茹湯，治初有妊，擇食嘔逆，頭痛顛倒，寒熱煩悶。
陳皮、人參、白朮、麥門冬〔各一兩〕、甘草〔炙一錢〕、厚朴、茯苓〔各半兩〕、
淡竹茹〔先刮下臨煎旋入一本有淡竹一錢〕，
右㕮咀，每服四錢，水盞半，入薑竹茹各一塊如栗大，拍破，同煎八分，頻服，
去滓溫服。
茯苓丸，治妊娠阻病，心中煩憒，頭目眩重，惡聞食氣，嘔逆吐悶。
葛根、枳殼、白朮、甘草〔炙各二兩〕、赤茯苓、人參、乾薑、肉桂、陳皮、半夏
〔各一兩〕，
右為細末，蜜丸桐子大，每服五十丸，溫米飲空心送下。
小地黃丸，治妊娠酸心吐清水，腹痛不能飲食。
人參、乾薑〔炮各等分〕，
右為末，用生地黃汁丸，桐子大，每服五十丸，食前服。
半夏茯苓湯，治妊娠惡阻，心中憤悶，頭目眩暈，四肢怠惰，百節煩疼，痰逆嘔吐，
嫌聞食氣，好噉酸鹹，多臥少起，不進飲食。
半夏、白茯苓、熟地〔酒浸各一兩八錢〕、陳皮、細辛、人參、芍藥、川芎、
紫蘇、桔梗、甘草〔以上各一兩二錢〕，
右每服四錢，水二盞，薑七片，煎七分，空腹服，有熱煩渴，口生瘡者，去陳皮細辛，
加前胡知母，腹冷下痢者，去地黃，入桂心，胃中虛熱，大小便祕澀者，
加大黃一兩八錢，去地黃，加黃芩。
四七湯，治同前方，見二十八問中。
二陳湯，治妊娠惡阻，產後飲食不進。
半夏、陳皮〔各五兩〕、白茯苓〔三兩〕、甘草〔二兩〕，
右㕮咀，每服四錢，水盞半，薑七片，烏梅一枚，煎六分，去滓溫服，不拘時。
白朮散，治妊婦宿風冷，胎痿不長，或失於腠理，動傷胎氣，多致損胎等疾。
牡蠣〔二錢〕、蜀椒〔去目炒出汗三分〕、白朮、芎藭〔各四錢〕，
右為細末，每二錢溫酒空心服，腹痛加白芍藥，心毒痛加川芎，心煩嘔吐加細辛一兩，
半夏五十粒，消渴者以大麥汁調服，兼治室女帶下諸疾，常服則保護胎藏。
人參散，治初妊惡食，嘔吐痰逆。
人參〔一兩〕、枳殼〔炒三錢〕、厚朴〔半兩〕、甘草〔半兩〕，
嚴氏第十三問：妊娠頭目眩，視物不見，腮項結核者，何也，曰：蓋因胎氣有傷，
肝臟毒熱上攻，太陽穴痛，嘔逆背項拘急，致令頭暈生花，若加涎壅，危在片時，
宜急服消風散主之。
消風散，
石膏〔煅〕、甘菊花、阞風、荊芥穗、羌活、羚羊角、川芎、大豆黃〔卷炒〕、
當歸〔酒浸〕、白芷〔各一兩〕、甘草〔炙半兩〕，
右㕮咀，每服四錢，水盞半，入好茶半錢，煎八分，通口服，食前。</p>
<h3>第五十五問：居經之後，或復有漏下者，何也？</h3>
<p>答曰：衝任二脈，為經血之海，皆起於胞中，手太陽小腸，手少陰心經，互為表裏，
作胞之際，壅之以養胎，既產之後，積之為乳汁，或衝任氣虛，不能制其經血，
故妊娠數月，經水不調時下者，此名漏胞，漏不止則斃也。
止漏散，療妊娠漏胞。
熟地〔四兩〕、乾薑〔二兩〕，
右為細末，每服二錢，空心米飲調下。
又方，益智，不拘多少，為細末米飲下，次用香附甘草為末，醋糊丸，
用四物湯去地黃，理中湯去乾薑，煎吞下二三十丸甚妙。
阿膠散，治胎動不安，及漏胎腹中痛。
阿膠〔一兩蛤粉炒令黃〕、熟地、桑寄生〔各一兩半〕、龍骨〔三分〕、當歸
〔一兩剉炒〕、甘草〔一兩炙〕、白茯苓〔三錢〕、白朮〔一兩〕、芎藭〔三錢〕、
乾薑〔半兩炮製剉〕，
右㕮咀，每服四錢，水盞半，棗三枚，煎六分去滓熱服，不拘時。
佛手散，治婦人妊娠五七月，因事築磕著胎，或子死腹中，惡漏下疼痛不已，
口噤欲絕，用此藥探之，若不損則疼止，子母俱安，若胎損，立便逐下
〔安胎者不用酒〕。
當歸〔六兩〕、川芎〔三兩〕，
右為麤未，每服三錢，水一盞，煎令泣泣欲乾，投酒一盞半，止一沸，去滓溫服，
口噤灌之，如人行五七里再進，不過兩三服，服之便生。
膠艾湯，妊娠不問深淺月數，因頓仆胎動不安，腰腹中急逼，血或從口出，或有所下，
或胎奔上，刺心短氣，安胎。
熟地〔二兩〕、白艾〔炒〕、當歸、甘草〔炙〕、芍藥、川芎、阿膠〔炒各一兩〕，
右㕮咀，每服水一盞半，煎七分，去滓熱服，胸中逆冷，加生薑五片，棗三枚，
煎服食前，若虛人，加黃芪一兩。
桂枝茯苓湯，治宿有癥瘕，妊娠經斷，未及三月即動，此瘕也經斷三月而漏下不止，
胎動在臍上者，為癥痼害，當去其癥，又論云，妊娠六月胎動者，
前三月經水利時胎下血者，後斷三月脈也，所以下血不止，癥不去故也。
桂心、白茯苓、牡丹皮、桃仁〔炒〕、白芍藥，
右為細末，煉蜜丸如彈子大，每服一丸溫酒或米飲湯，食前細嚼下，
嚴氏第三問：胎漏經血妄行者，何也，答曰：妊娠或成形，胎息未定，或因房室驚觸，
勞力過度，動傷胎胞，或食毒物，致令子宮虛滑，經血淋瀝，若不急治，敗血湊心，
子母難保，月漸胎乾，危亡不久。
桑寄生散，治妊娠胎動不安，下血不止。
桑寄生、當歸〔酒浸〕、川續斷〔酒浸〕、茯神〔去木〕、芎藭、香附、阿膠
〔蛤粉炒〕、白朮〔各一兩〕、人參、甘草〔炙各半兩〕，
右㕮咀，每服四錢，水盞半，薑五片，煎七分，熱服不拘時。</p>
<h3>第五十六問：胎在腹中，時時撞動不安者，何也？</h3>
<p>答曰：懷則以身依也，妊則以時動也，若腹中不時撞動者，謂之胎動也，
多因勞役氣力，觸冒冷熱，飲食不適，居處失宜，輕者止轉動不安，重者便致損墜，
若母有疾，以疾動胎者，治母則胎安，若胎不固，動致母病者，治胎則母差，
若胎不牢固，其胎必致損也。
保安散，治妊娠胎氣不安，心腹疼痛胎動，安胎。
當歸〔一兩半〕、人參〔一兩〕、阿膠〔半兩蛤粉炒成珠〕、甘草〔半兩炙〕，
右㕮咀，每服三錢，水盞半，蔥白一莖拍破，煎八分，去滓溫服，食前，未定再服。
安胎飲，治妊娠偶因所觸，或從高墮下，致胎動不安，腰中疼痛，服此藥後，
覺胎動處熱，即胎已安。
縮砂〔不拘多少慢火炒令熱透後去皮取仁用〕，
右為細末每服三錢，熱酒調下，不飲酒者煎鹽艾湯調下，食前。
巖氏第一問：妊娠兩三月，胎動不安者何也，曰，男女陰陽會通，血氣調勻，
乃成其孕，設若下血腹痛，蓋繇子宮久虛，致令胎墮，其危甚於正產，
若妊娠會受此苦，可預服杜仲丸。
杜仲〔去皮剉薑汁浸炒去絲〕、川續斷〔酒浸各三兩〕，
右為細末，棗肉丸，桐子大，每服七十丸，空心米飲下，一日三服。</p>
<h3>第五十七問：何謂子滿？</h3>
<p>答曰：妊娠之人，經血擁閉以養其胎，或掩水氣，血水相搏以致體腫，皆繇脾胃虛弱，
臟腑之間宿有停水之所掩也，謂之子滿，若水停不去，浸漬於胎，則令胎壞，
診其脈浮，腹滿兼喘者，其胎必墮也。
澤瀉散，治妊娠氣壅，身體腹脅浮腫，喘息促急，大小便祕澀。
澤瀉、桑白皮、枳殼〔麩炒黃〕、檳榔、赤茯苓、木通〔各一兩〕，
右㕮咀，每服四錢，水盞半，薑五片，煎八分，去滓溫服，食前，稍利為度效。
木通散，治妊娠身體浮腫，心腹脹滿，小水不通。
木通〔一兩〕、訶梨勒皮、木香〔各三分〕、香柔〔一兩一本茹〕、枳殼〔半兩麵炒〕
、檳榔〔半兩〕、桑根皮〔一兩用白〕、赤茯苓〔三分〕、雞蘇莖葉〔一兩〕，
右㕮咀，每服四錢，水盞半，薑五片煎六分，去滓溫服，食前。
商陸赤小豆湯
赤小豆、乾商陸〔各等分〕，
右㕮咀每服一兩，水一盞煎七分，去滓溫服。
嚴氏第五問：論胎冷腹脹虛痛，兩脅虛嗚，臍下冷痛欲泄，小便頻數，大便虛滑者，
何也，曰，胎氣既全，子形成質，或食瓜果甘甜，飲冷不時之物，當風取涼，
受不時之氣則令胎冷，子身不能安處，皮毛疼痛，筋骨拘急，手足孿拳，
致使母有危證，急宜服安胎和氣散。
訶子〔煨〕、白朮〔各一兩〕、陳皮、良薑〔炒〕、木香〔煨〕、白芍藥、陳米〔炒〕
、甘草〔炙各半兩〕，
右㕮咀，每四錢水盞半，薑五片，煎七分，去滓溫服，不拘時，忌生冷。</p>
<h3>第五十八問：妊娠三月，會經墮胎，至其月日復墮者，何也？</h3>
<p>答曰：陽施陰化，則有胎也，若血氣和調，胎氣乃成，若血氣虛損，子藏為風冷所乘，
致虧營衛，不能蔭養其胎，故數墮也，假令妊娠三月，當手心主包絡經養之，
不善攝生傷經，則胎墮，後雖再有妊，至其月日，仍前犯之，所以復墮也，
又有因墜墮驚恐，或吐血下血者，皆能損胎，若妊娠常腰疼者，喜墮胎也，
蓋腰為腎府，女子以繫胎也。
地榆散，治妊娠損動胎胞，下血不止。
地榆〔三錢〕、乾薑〔三分〕、當歸〔三錢〕、龍骨〔三錢〕、芎藭〔三錢〕、
艾葉〔半兩〕、阿膠〔三錢〕、蒲黃〔半兩〕、熟地〔一兩〕、黃牛骨腮〔一兩燒灰〕
、烏鰂骨〔二錢燒灰〕、白朮〔半兩〕，
右為細末，每服二錢，以粥飲調下，不拘時。
卷柏丸，治妊娠數墮胎，皆因血氣虛損，子臟受風冷，致令胎不堅固，故頻有傷。
卷柏、鍾乳粉、鹿角膠〔搗碎炒令黃燥〕、紫石英〔火煅研細水飛過〕、陽起石
〔火煅研細〕、桑螵蛸〔炒〕、熟地、禹餘糧〔燒醋淬七次各一兩〕、杜仲、芎藭、
當歸〔剉炒〕、桂心、牛膝、桑寄生、五味子、蛇床子、牡丹皮〔各三分〕、玄及，
右為細末，煉蜜丸桐子大，每服五十丸，空心溫酒送下。
嚴氏第二問：胎動腹痛者，何也，曰，胎動腹痛，其理蓋緣飲食冷熱動風毒物，
或因在交，搖動骨節，傷犯胞胎，其候多嘔，氣不調勻，或脹熱藥太過，血氣相干，
急服順氣藥安胎，不然變成漏胎，則難療矣。
如聖湯。
鯉魚皮、當歸、熟地、阿膠、白芍藥、川芎、續斷〔酒浸〕、甘草〔炙各等分〕，
右㕮咀，每服四錢，水盞半，入苧根少許，薑五片，煎七分，去滓空心服。</p>
<h3>第五十九問：大小二便祕結不通者，何也？</h3>
<p>答曰：陽虛不能運陰，故氣無陰以清其陽，則勝獨治而為熱，陰虛不能運陽，
故氣無陽以和其陰，則陰獨治而為厥，是以二氣和，則氣道平，二便順，則氣道通，
今二便祕結，明陰氣之獨治也，夫人有腑臟氣實而生熱者，隨其停積之處而成病也，
若熱結大腸，則大便不通，熱結小腸，則小便不通，若大小便俱為熱所結，
故煩滿而二便結閉，熱盛則腸胃氣逆，冷則變為嘔也。
檳榔散，治產後大小便祕，心腹脹滿氣促。
檳榔〔一兩〕、車前子〔三分〕、冬瓜子〔三分〕、川大黃〔一兩微炒〕、木通
〔一兩〕、桂心〔半兩〕、甘草〔炙半兩〕、當歸〔炒半兩〕、滑石〔一兩〕、
川朴硝〔一兩祕甚者入硝〕，
右㕮咀，每服三錢，水盞半，煎半盞，去滓溫服，不拘時。
木通散，治產後大小便祕澀。
木通、大麻仁、葵子〔一本冬瓜子〕、滑石、檳榔〔各一兩〕、枳實〔半兩麩炒〕、
甘草〔炙半兩〕，
右㕮咀，每服三錢，水盞半煎八分，去滓溫服不拘時。
嚴氏第四問：妊娠面赤口苦舌乾，心煩腹脹者何，曰，蓋緣恣情飲酒，
因食桃梨羊肉雞麵魚腥羶毒物等，致令百節痠疼，大小便結祕，可服歸涼節命散。
川芎、苧根、白芍藥、麥門冬〔去心〕、當歸、白朮〔各一兩〕、糯米〔半合〕、甘草
〔炙半兩〕，
右㕮咀，每服四錢，水盞半，煎九分，去滓溫服，不拘時。
大腹皮散，治妊娠大小便不通。
枳殼、大腹皮、甘草〔炙各一兩〕、赤茯苓〔去皮三錢〕，
右為細未，每服二錢，濃煎蔥白湯調下，不拘時服。
冬葵子散，治妊娠小便不利，身惡重寒，起則眩暈，及水腫。
冬葵〔三錢〕、赤茯苓〔二錢〕，
右為細末，每服三錢，米飲調下不拘時，若利則歇，服不通，恐是轉胞，
加髮灰少許神效，曾有妊婦腹脹，小便不利，吐逆，諸醫雜進溫脾胃，寬氣去脹等藥，
服之反吐，藥食不內，轉加脹滿揍心，驗之胎死腹中，又服諸下胎藥不能解，
舉家驚惶，因得鯉魚湯論曰，腳腫俗呼為皺腳，，亦有通身腫滿，心胸急脹，
名曰胎水，遂去妊婦心前衣服看之，胸肚不分，急以鯉魚湯四五服，大小便皆下惡水，
腫消脹去，方得分娩死胎，可謂生之幸也，此證蓋緣懷身腹大，
妊婦不自知覺，人人皆以為身妊如此，終不以為胎水病，醫人何以得知，
故書此論，病家當自覺察。
鯉魚湯
當歸、白芍藥〔去皮各四錢〕、白朮〔半兩〕，
右㕮咀，每服四錢，用鯉魚一尾，不拘大小，破洗去鱗腸，白水煮熟去魚，
每服魚汁一盞半，薑五片，橘皮少許，煎一盞，空心服，如胎水去未盡絕，再服。</p>
<h3>第六十問：妊娠傷寒，與常人治法同異，何如？</h3>
<p>答曰：四時有不正之氣，如夏亦有寒溫時，秋冬亦有暄暑時，是故一歲之中，
病無長幼，率相似者，此則時行之氣，俗謂之天行，若春溫煖而清氣折之，
則責邪在肝，夏應暑而寒氣折之，則責邪在心，秋應涼而反大熱折之，則責邪在肺，
冬應寒而反大溫折之，則責邪在腎，仲景云，冬溫之毒，與傷寒大異，蓋傷寒者，
因冒寒而作也，其候發熱惡寒，頭疼腰脊痛，其脈浮緊，無汗者可發汗，宜服麻黃湯，
脈浮緩而有汗者，可解肌，宜服桂枝湯，切詳麻黃桂枝皆能墮胎，以此言之，
則妊娠傷寒，常人之治法大不相侔也十全散即敗毒散，又名人參羌活散，治傷寒瘟疫。
人參、白茯苓、羌活、獨活、甘草〔炙〕、川芎、枳殼、柴胡、白朮、桔梗〔各等分〕
，右㕮咀，每服三錢，水盞半，薑五片，薄荷七葉，煎七分，熱服，
如頭疼發熱連二服，汗出即愈。
阿膠散，治妊娠婦傷寒安胎。
阿膠、桑寄生、吳白朮、人參〔各等分〕，
右為細末，每服二錢，煎糯米飲調下，不拘時。
罩胎散
捲荷葉〔一兩焙乾〕、蚌粉花，
右為細末，每服二錢，入蜜少許，新汲水調下，食前服。
嚴氏第十問：妊娠婦外感風寒，渾身壯熱，眼暈頭眩者何，曰，蓋因風寒客於皮膚，
傷於營衛，或洗項背，或當風取涼致令頭目昏痛，憎寒發熱，甚致心胸煩悶，
大抵產前二命，所以不可輕易妄投湯劑，感冒之初，止宜進芎蘇飲以發散表邪，
其病自愈。
芎蘇飲
川芎、紫蘇葉、白芍藥、白朮、麥門冬、陳皮、乾薑〔各一兩〕、甘草〔炙半兩〕，
右㕮咀，每服四錢，水盞半，薑三片，蔥白一寸，煎八分，溫服不拘時。</p>
<h3>第六十一問：妊娠傷寒，差後復發熱者，何也？</h3>
<p>答曰：傷寒差後發熱者何，此名勞食復也，內經云，多食則復，食肉則復，緣病差後，
氣尚虛，津液未復，因勞動生熱，氣既還復入經絡，名曰勞復，仲景云，傷寒，
差後更發熱者，小柴胡湯主之，脈浮者，以汗解，脈沉者，以下解，
又傷寒差後勞復者，枳實梔子湯主之，千金方勞復起死，人參麥門冬湯，又有食復者，
大病新差，脾胃尚弱，穀氣未復〔穀王宇泰本作谷〕，強食過多，停積不化，
因爾發熱，名曰食復，仲景於枳實梔子湯證云，若有宿食，
內加大黃如博基子大五六枚，服之愈。
枳實梔子湯
枳實〔一枚去穰麩炒〕、梔子〔三枚半肥者〕、豉〔一兩半〕，右以清漿水二盞半，
煎九分，下豉再煎五六沸，去滓溫服，覆令汗出，若有宿食，
加內大黃如博基子大五六枚服之，日煎服之。</p>
<h3>第六十二問：時氣溫病，皆能損胎者，何也？</h3>
<p>答曰：陰陽大論云，者氣溫和，夏氣暑熱，秋氣清涼，冬氣凜冽，
此則四時正氣之序也，冬時嚴寒，萬類深藏，君子固密，則不傷於寒，若傷於寒者，
凡名傷寒耳，其一歲之中，長幼之病多相似者，故名時行之氣也，其傷於四時之氣，
皆能為病，以傷寒為毒者，以其最盛殺厲之氣，中而即病者，名曰傷寒不即病，
寒毒藏於肌膚，至春變而為溫病，至夏變而為暑病，暑病者，熱極重於溫也，
詳此三證，皆因寒氣而受邪，寒極生熱，熱氣薰煮其胎，故損也。
罩胎散〔見六十問中〕，
人參羌括湯，治妊娠感冒，發熱頭疼，身體痛。
白茯苓、羌活、獨活、前胡、芎藭、枳殼〔炒〕、桔梗、人參〔各一兩〕、
甘草〔炙半兩〕、乾葛、陳皮〔各一兩〕，
右為細末，每服三錢，水一盞，薑五片，棗一枚，煎七分，去滓溫服。
黃龍湯，治妊娠瘟疾，寒熱頭痛，嘿嘿不欲飲食，脅下痛，嘔逆痰氣，及產後傷風，
熱入胞宮，寒熱如瘧。
柴胡、黃芩、甘草、人參〔各一兩〕，
右剉如麻豆大，每服五錢，水盞半，煎八分，去滓溫服，不拘時，治妊娠患時疾。
黃芩尖者，出錐鬱金，
右為細末，每服一錢，板藍根地黃水調下，汗出效，未愈，再服即愈，治妊娠患時疾。
雞子〔墜井底泥上隔宿取出吞出必無虞矣〕。</p>
<h3>第六十三問：妊娠寒熱，或因暑氣者，有不因傷暑而得之者，何也？</h3>
<p>答曰：瘧者，寒熱之疾，皆繇風寒入中也，失風為陽邪，陽化氣而為熱，寒為陰邪，
陰化氣而為寒，陰陽上下交爭，虛實邪正更作，或陰併於陽，則陰實而陽虛，
若陽併於陰，則陽實而陰虛，或先傷於寒而後，傷於風，其為候也，則先寒而後熱，
或先傷於風而後傷於寒，其為證也，則先熱而後寒，休作有時，與傷寒頗異者，
故名為瘧也，經曰，夏傷於暑，秋必病瘧者，此因暑氣之所傷也，若妊娠寒熱者，
皆繇血氣虛損，風邪乘之，致陰陽關隔，寒熱互見也，經云，陽微惡寒，陰弱發熱，
若此之類，皆繇虛之所致，此不因暑氣之作也，若熱極不已，則傷胎。
大安散，治脾寒如瘧，發熱無時。
草豆蔻〔七個和皮細切〕、厚朴〔半兩〕、烏梅〔十個去核仁〕、甘草、人參
〔各一分〕、大棗〔十枚〕、肥薑〔一分連皮〕、陳皮〔七個全者洗淨切〕、良薑
〔一分〕，左共剉拌勻，分作五裹，先以鹽水蘸紙濕，裹煨香熟，第一服一裹，水一盌，
煎一盌，溫服第二服用二裹，弁煎滓，以水二盌，煎一盌，溫服，第三服用三裹，
弁煎滓，以水三盌，煎一盌，作兩服，並空心食前溫服。
妊娠患瘧熱者可服，
常山、竹葉〔各半兩〕、人參、石膏〔各一兩研〕、糯米〔一百粒〕，
右為㕮咀，每服三錢，水盞半，煎八分，去滓通口服，不拘時。
地黃丸，治寒熱類瘧，久之為勞。
生地〔二兩〕、柴胡〔洗〕、秦艽、黃芩〔各半兩〕、赤芍，
右為細末，蜜丸桐子大，每服三十丸，烏梅湯下，不拘時。
清肌湯，治頭目昏重不悅，頰赤口燥咽，乾發熱盜汗，飲食減少。
甘草〔炙半兩〕、草果仁〔五錢〕、當歸〔微炒〕、白朮〔一兩〕、白茯苓、芍藥、
柴胡〔各一兩〕、川芎〔半兩〕，
右吠咀，每服三錢，水一盞半，煨薑一塊切碎，薄荷少許，煎七分，去滓熱服，
不拘時。</p>
<h3>第六十四問：下利與滯利，何以別之？</h3>
<p>答曰：春傷於風，邪氣運留，遇腸胃虛弱，風邪因時傷之，腸虛則泄，
故為水穀之痢也，或腸虛受熱氣者，下痢則赤，受冷氣者下痢則白，冷熱相交，
其痢如魚腦鼻涕，相雜連滯不已者，謂之滯痢也。
香連丸，治泄痢不止。
木香、黃連、吳茱萸、白芍〔各等分〕，
右為細末，麵糊丸，桐子大，每服二十丸，濃煎米飲湯下，空心日三服，
妊娠下痢不止。
黃蘗、乾薑、赤石脂〔各二兩〕、酸榴皮〔一具〕，
右為麤末，每服五錢，水盞半，煎六分，去滓食前溫服。
赤石脂散，治腸胃虛弱，水穀不化，冷熱不調，下痢赤白，腸滑腹痛，肢體困倦，
飲食減少。
赤石脂、甘草〔各二兩〕、肉豆蔻仁〔十兩〕、砂仁〔五兩〕，
右為細末，每服二錢，溫粟米飲湯下，食前。
歸連丸，治一切下痢，無以新久，及冷熱膿血，腸滑裏急，日夜無度，
臍腹絞痛不可忍。
阿膠〔搗碎炒如珠三兩以醋四升煮成膏〕、黃連、當歸〔各三兩〕、乾薑〔二兩〕、
木香〔一兩五錢〕，
右共為末，用阿膠膏丸，桐子大，每服三十丸食前米飲下。
當歸芍藥散，治妊娠腹中絞痛，心下急脹，及產血暈內虛氣乏，崩中久痢，
常服通暢血脈，不生癰瘍，消痰，養胃，明目益津。
白芍〔八兩〕、當歸、白茯苓、白朮〔各二兩〕、澤瀉、川芎〔各四兩〕，
右為細末，每服二錢，溫酒調下，食前元和紀用，經云，本六氣經緯，能補虛勞，
養真陽，退邪熱，緩中，和神志，潤澤顏色，散邪寒溫瘴時疫，
安期先生賜君少久餌之藥，後仲景增減為婦人懷妊腹痛本方，用芍藥四兩，
澤瀉茯苓川芎一兩，當歸白朮二兩，亦可以蜜丸服，又方，等分，每服三錢，
溫酒米飲任下。
雞黃散，治懷妊下痢，赤白絞刺疼痛。
雞子〔一個烏者，為妙就頭作一竅傾出清留黃，以黃丹一錢，
入前雞子內打令黃勻以厚紙裹，鹽泥固濟煨取出焙乾〕，
右為末，每服二錢，米飲調下，一服愈者是男，二服愈者是女。
嚴氏第九問：妊娠下痢赤白者何？曰：蓋因冷物停脾，辛酸損胃冷熱不調，胎氣不安，
凝滯下痢頻頻，時有時無，或赤或白，腸嗚後重，穀道疼痛，急服黃連丸，
不問冷熱二證，皆可服之。
蒙薑黃連丸，
乾薑〔炮〕、黃連、川芎、砂仁〔微炒〕、阿膠〔蛤粉吵各一兩〕、白朮〔一兩〕、
乳香〔三錢另研〕、枳殼〔半兩〕，
右為細末，同鹽梅三箇取肉，入少醋糊用杵勻，丸如桐子大，每服四十丸，
白痢乾薑湯下，赤痢甘草湯，赤白痢乾薑甘草湯下。</p>
<h3>第六十五問：喘病何以得之？</h3>
<p>答曰：喘急之病，皆繇營衛之氣流行失度，氣經於臟而臟不能受，諸氣上併於肺，
肺管隘而氣爭，故令喘急，其姶得之，或因墜墮恐懼，則精神怯怯，上焦閉而氣不行，
氣不行則流於肝，肝氣乘肺，此喘出於肝，或因驚恐，驚則心無所倚，神無所歸，
氣亂於中，心乘於肺，此喘出於心，或因渡水跌仆，腎氣暴傷而不通行，氣流於腎，
腎氣上乘於脾，此喘出於脾，或因飲食過傷，動作用力，穀氣不行，脾氣逆而凝肺，
此喘出於肺，凡諸臟相乘而喘，其證各不同也。
神祕湯，治夜不得臥，臥則喘，此繇水氣逆行，上乘於肺，肺得水則浮而開，
使氣不得通流，其脈沉大。
陳橘皮〔湯洗焙〕、生薑、紫蘇葉、人參、桑白皮〔各半兩〕，
右為㕮咀，每服三錢，水盞半，煎八分，去滓溫服。
平肺湯，治喘急。
天門冬〔去心一兩〕、馬兜鈴、百部〔各半兩〕，
右為麤未，每服五錢，水盞半，煎八分，去滓溫服。</p>
<h3>第六十六問：妊娠多痰者，緣何而生？</h3>
<p>答曰：痰因飲生也，氣道壅滯，津液不通，水飲氣滯，停在胸腑，結而成痰，
人皆有之，少則不能為害，多則成病，乃至嘔吐，妊娠嘔吐甚者，多傷胎也。
細辛五味子湯，治痰飲壅滯。
細辛〔一兩〕、五味子〔三兩〕、白茯苓、人參、白朮、甘草〔炙各一兩〕、乾薑
〔一兩炮〕，
右為飲子，每服四錢，水盞半，薑五片，煎七分，去滓溫服，不拘時。</p>
<h3>第六十七問：妊娠霍亂者，何也？</h3>
<p>答曰：陰陽不順，清濁相干，氣射中焦，名曰霍亂，本因飽食豚膾，復啖生冷，
或飲寒漿，眠臥冷席，風冷之氣，傷於脾胃，諸食結而不消，陰陽二氣壅而不散，
交錯於中，變成吐痢，邪在於上者，先心痛而吐，邪存於下者，先腹痛而痢，
心腹俱痛，吐痢並發，挾風者身熱頭痛，冒暑者吐痢冷飲，若不已，則百脈昏亂，
營衛俱虛，冷搏於筋，令人轉筋，邪干於胎，其胎必損，揮霍之間，便成繚亂，
故名霍亂也。
白朮散，治產後霍亂，吐痢腹痛煩渴，手足逆冷。
白朮、麥門冬、陳皮、乾薑〔炮〕、人參〔各一兩〕、甘草〔炙半兩〕，
右為麤散，每服四錢，水盞半，薑五片，煎六分，去滓溫服，不拘時。
寒者，理中湯，治裏寒外熱，霍亂吐痢，手足厥冷，胸脾心痛，逆氣結氣，
丁香〔一兩〕、人參、甘草、白朮、乾薑〔炮各三兩〕，
右為飲子，每服三錢，水盞半，煎八分，去滓空心稍熱服。
丁香散，治霍亂吐痢不止。
丁香、桂心、白朮〔各半兩〕、訶梨勒、厚朴、高良薑、附子〔各三分〕、木瓜
〔乾者〕、陳皮〔各一兩〕，
右為細末，每服二錢，米飲調下不拘時。
渴者五苓散，治霍亂吐痢，躁渴引飲。
澤瀉〔五兩〕、白朮、豬苓〔各三兩〕、肉桂〔二兩〕、赤茯苓〔三兩〕，
右為細末，每服二錢，熱湯調下，不拘時，服訖多飲熱湯，有汗即愈。
參苓白朮散，治胃氣不順，吐痢止後，躁渴不解。
乾薑〔二兩〕、人參、白茯苓〔各一兩〕、木香〔一分〕、甘草〔炙一分〕、
藿香葉，
右為麤末，每服二錢，水盞半，煎七分，去滓溫服不拘時。
香薷飲，治清濁相干，霍亂吐痢。
香薷〔一兩半〕、厚朴、黃連〔各二兩〕，
右為飲子，每服三錢，水盞半，煎七分，去滓，用新汲水頻頻頓極冷服之，
藥冷則效速也。</p>
<h3>第六十八問：何謂子煩？</h3>
<p>答曰：煩有四證，有心中煩，有胸中煩，有虛煩，有子煩，諸如此者，皆熱也，
若藏虛而熱氣乘心，則令心煩，但煩熱而已，別無他證者，名曰虛煩，
若積痰飲而嘔吐涎沫者，謂之胸中煩，或血飲停積，虛熱相搏，以其妊娠而煩，
故謂之子煩也。
犀角散，治妊娠心煩熱悶。
犀角屑、地骨皮、黃芩、
麥門冬、赤茯苓〔各一兩〕、甘草〔炙半兩〕，
右為飲子，每服四錢，水盞半，煎八分，去滓，入竹瀝一合，更煎數沸，溫服不拘時。
當歸飲，子治妊娠胎動，心煩熱悶。
當歸、芎藭、阿膠、豆豉、桑寄生〔各半兩〕、蔥白〔七莖〕，
右為飲子，每服三錢，水二盞，煎八分，去滓，溫服不拘時。
竹瀝湯，療妊娠常苦煩悶，此子煩也。
竹瀝〔二合〕、防風〔三兩〕、黃芩〔三兩〕、茯苓〔四兩〕、麥門冬〔三兩〕，
右為飲子，水四升，合竹瀝煮取二升半，分三服，不差重作。</p>
<h3>第六十九問：何謂子嗽？</h3>
<p>答曰：肺主氣，外合皮毛，風寒外感入射於肺，故為咳也，有涎者謂之嗽，
無痰者名曰咳，夫五臟六腑，俱受氣於肺，各以共時，感於寒而為病也，秋則肺受之，
冬則腎受之，春則肝受之，夏則心受之，長夏則脾受之，長夏者，夏未秋初也，
諸藏不已，各傳於腑也，妊娠而嗽者，謂之子嗽，久而不已，則傷胎。
天門冬湯，治惡熱咽燥，脈數咳嗽，甚則喀血。
天門冬〔半兩〕、紫苑、知母〔各一兩〕、桑白皮、五味子、桔梗，
右為飲子，每服五錢，水二盞，煎一盞，去滓溫服，有血者，加阿膠半兩，
大便澀而喘者，加葶藶半兩。
百合散，治妊娠咳嗽，心胸不利，煩悶不欲飲食。
百合、紫苑、麥門冬、桔梗、桑白皮〔各一兩〕、甘草〔炙半兩〕，
右為㕮咀，每服四錢，水盞半，入竹茹一分，煎八分，去滓，入蜜半匙，
更煎三四沸方可，不拘時候溫服。
緩息丹，治肺氣不調，痰壅咳嗽，上氣喘滿，咳嗽唾痰沫，日夕不安止。
半夏麴
〔二兩半夏湯洗七次研成末薑汁和候乾再為末薑汁再和共七八次取喫之不辣為度〕、
橘紅〔五錢〕、天門冬〔半兩〕、杏仁〔一兩去皮尖別研成霜〕，
右三味為末，次拌研細杏仁霜，煉蜜和，每兩分十五丸，每服一丸，隨津調之，
食後服。</p>
<h3>第七十問：何謂胸痺？</h3>
<p>答曰：胸痺者，繇寒氣客於臟腑，氣上衝心，胸下愊愊如滿，噎塞習習痺痛，
飲食不下，謂之胸痺也，脾胃漸弱，乃至斃人，妊婦為患，亦損傷胎也。
枳實理中湯丸，治結胸欲絕，心膈高起，手不可近。
白茯苓、人參〔各二兩〕、枳實〔十六片〕、乾薑〔炮〕、白朮〔各二兩〕、甘草
〔炙二兩〕，
右為細末，蜜丸如雞子黃大，每服一丸，熱湯化下，連進二三服，胸中豁然而開，
渴者加栝蔞根二兩，下痢者加牡蠣二兩。
桔梗枳殼湯，治痞氣胸滿欲絕。
枳殼、桔梗湯〔洗去穰各一兩〕，右剉麻豆大，分二服，水二盞，煎一盞，去滓溫服，
不拘時。
沈香理氣湯，治氣滯不和，胸膈虛痞。
丁香、檀香、木香〔各半兩〕、蒮香〔二兩〕、甘草〔二兩〕、砂仁〔半兩〕、白豆蔻
〔一兩用仁〕、沉香、烏藥、人參〔各一兩〕，
右為末，每服一錢，入鹽一字，沸湯點服，不拘時調氣丸，治氣道不順，胸膈壅塞。
青皮〔炒〕、陳皮〔炒〕、木香〔各一兩不見火〕，
右各剉碎，用牽牛末四兩炒，牽牛末焦黃，篩去不用，以一二味為細末，蜜丸桐子大，
每服五十丸，空心薑湯送下。</p>
<h3>第七十一問：何謂子癇？</h3>
<p>答曰：風是四時八方之氣，常以冬至日候之，風從其方來者，長養萬物不從其方來者，
乃名虛邪賊風，體虛之人中之者，隨其虛而為病也，夫五臟六腑之俞，皆在於背，
臟腑既虛，則邪乘虛而入傷，隨其共臟腑所感而發，時能言者可治，不能言者難治，
若傷太陽之經，復遇寒濕相搏，口噤背強，名之曰痓，故妊娠而發者，悶冒不識人，
須臾則醒，醒而復發，名曰子癇，又名子冒，久則成變庢，妊娠忽悶，眼直不識人，
須臾醒，醒復發似不醒者，名曰痙病，亦號子癇，亦號子冒，以葛根湯，
若有竹近可速辦，當先作竹瀝湯，其竹遠不可即辦者，當先辦葛湯，此二物偏療諸痓，
絕可以起死，也小兒忽癇痓，與金瘡療之亦驗，作竹瀝法于後。
取新伐青淡竹斷之，除兩頭節，作片以磚並側，令竹兩頭虛，布列其上，
燒中央兩頭汁出，以器盛之取服。
葛根湯，療妊娠臨月，因發風庢，忽悶憒不識人，吐逆睡少醒復發，名為子癇。
貝母、葛根、牡丹皮〔去心〕、防己、防風、當歸、芎藭、肉桂〔取肉〕、白茯苓、
澤瀉、甘草〔炙各二兩〕、獨活、石膏、人參，
右件以水六升，煮取三升，分三服，其貝母令人易產，若未臨月者，以升麻代之，
忌海藻菘菜鮓物。</p>
<h3>第七十二問：胎痿過年不產，又兩胎一死一生者，何也？</h3>
<p>答曰：陽施陰化，精盛有餘者，則成二胎，脈經云，左右脈俱疾為二子，又云，
俱沉實，猥生二男，俱浮大，猥生二女，且胎之在胞，以氣血滋養，若寒溫節適，
血氣強盛，則無傷，若冷熱失宜，氣血損弱，則胎痿燥而不育，或過年久而不產，
若雙胎遇寒，經養不周，故偏夭傷，候其胎上冷，是胎已死，如雞乳子，熱者為祿，
寒者多渴，正謂此也。
乾地黃丸，治妊娠氣血虛弱，胎氣不長。
熟地黃〔一兩〕、芎藭、白茯苓、人參、當歸〔各五分〕、柴胡〔半兩〕、刺薊、
桑寄生〔各半兩〕、厚朴〔一兩〕、龍骨、阿膠〔各三分〕、白石脂〔三分〕、黃芪
〔半兩〕、甘草〔一分炙〕，
右為細末，蜜和搗二三百杵，丸如桐子大，每服三十丸，清粥飲湯送下，不拘時。
雄黃丸，治妊娠是鬼胎，致腹中黑血數下，腹痛。
雄黃〔細研〕、累臼〔去毛一本鬼臼去心〕、莽草、丹砂〔細研〕、巴豆〔去皮心油〕
、獺肝〔炙黃各半兩〕、蜈蚣〔一枚炙黃〕，蜥蜴〔一枚炙黃〕，
右為細末，煉蜜和搗三百杵，丸如桐子大，空腹溫酒下二丸，日進二服，服後當下痢，
如不痢加至三丸，初下清水，次下蟲如馬尾狀無數。
病極者下蛇蟲，或如蝦卵雞子，或如白膏，或如豆汁，其病悉愈。
白朮散，調補衝任扶養胎氣，治妊娠宿有風冷，胎痿不長，或失於將理，動傷胎氣，
多致損墮，懷妊常服，壯氣益血，保和胎臟。
牡蠣〔三分〕、白朮〔四分〕、芎藭〔四分〕、川椒〔去目炒三分〕，
療妊娠兩兒，腹中一死一活，令死者出，生者安，此方神驗萬不失一，
蟹爪〔一升〕、甘草〔二尺炙〕、阿膠〔三兩〕，
右以東流水一斗，先煮二味，取三升，內阿膠令烊，頓服，不能頓服分再服，若人困，
拗開口下，藥入即活，煎藥宜向東，以茅葦薪煮之。</p>
<h3>第七十三問：妊娠墮胎，或血出不止，或血不出者，何也？</h3>
<p>答曰：血寒則凝溫則散，墮胎損經，血出不止有二，一則因熱而流散，
二則血氣虛而不斂，瀉血多者，必煩悶而死，或因風冷墮胎者，血冷相搏，氣虛逆上，
則血結不出，搶上攻心，則煩悶，亦多致死，當溫經逐寒，其血自行也，膠艾湯，
治勞傷血氣，衝任虛損，月水過多，淋瀝漏下，連日不斷，臍腹疼痛，
及妊娠將攝失宜，胎動不安，腹痛下墜，或勞傷胞絡，胞阻漏血，腰痛悶亂，
或因損動，胎上搶心，奔衝短氣，及因產乳衝任氣虛，不能約制經血淋瀝不斷，
延引日月，漸成贏瘦。
阿膠、芎藭、甘草〔各二兩〕、當歸、艾葉〔微炒各三兩〕、熟地、白芍〔各四兩〕，
右㕮咀，每服三錢，水一盞，酒六分，煎八分，去滓稍熱服，空心日服三次，
甚者連夜併服。
伏龍肝散，治血氣勞傷，衝任脈虛，經血非時忽然崩下，或成豆汁，或成片，
或五色相雜，或赤白相兼，臍腹冷痛，經久未止，令人黃瘦口乾，飲食減少，
四肢無力，虛煩驚悸。
伏龍肝〔一兩口土〕、熟地、甘草〔炙半兩〕、芎藭〔二兩〕、肉桂〔半兩〕、當歸
〔炒三分〕、乾薑〔炮三分〕、艾葉〔微炒二兩〕、赤石脂〔一兩〕、麥門冬〔一兩〕
，右為散，每服四錢，水盞半，棗三枚，煎八分，去滓溫服食前。
當歸散，治妊娠猝驚奔走，或從高墜下，腹痛下血不止。
當歸〔一兩半炒〕、阿膠〔二兩搗碎令黃色〕、艾葉〔炒一兩〕、芎藭〔一兩〕，
右為飲子每服四錢，水盞半，煎至六分，次入生薑汁一匙，地黃汁半合，馬通汁半合，
更煎三兩沸，去滓溫服，不拘時。</p>
<h3>第七十四問：何以謂之子淋？</h3>
<p>答曰：腎者作彊之官，伎巧出焉，與膀胱為合，男子以藏精，女子以繫胞，啟玄子云，
彊於作用，故曰作彊，造化形容，故曰伎巧，在女則當伎巧，在男則正當作彊，
夫淋者，腎虛膀胱熱也，腎虛不能制水，則小便數也，客熱乘膀胱，則水行澀，
澀而且數，淋瀝不宣，妊娠之人，繫胞於腎，腎患虛熱成淋，故謂子淋也。
治療妊娠患子淋，小便數而少，或熱痛酸疼。
地膚草〔三兩以水四升煮取二升半分三次服〕。
療妊娠患子淋，宜地膚湯。
地膚草、車前子〔各三兩〕、知母、黃芩、赤茯苓、赤芍、枳實〔炙〕、升麻、通草、
甘草〔炙各二兩〕，
右㕮咀，每服四錢，水盞半，煎八分，去滓，空心溫服，或無地膚，葵根汁亦妙。
石葦散，治產後小便淋瀝溺血。
石葦〔去毛〕、榆白皮、木通〔各一兩〕、黃芩〔三錢〕、赤芍、葵子〔各半兩〕，
右為麤散，每服三錢，水盞半，入生地黃一分，煎六分，去滓，日三四服。</p>
<h3>第七十五問：小便或有利者，或有不通者，何也？</h3>
<p>答曰：小腸為盛受之府，膀胱乃州都之官，啟玄子云，位當孤府，故謂都官，
居下內空，故藏津液，若得氣海之氣，則能泄注也，或受熱滲於脬，脬屈擗而系轉，
故使小便不通利也，或腎胞有冷，不能溫制於水道，故小便日夜十數行，
甚者至於亂夢恍惚，寒者宜大建中湯蓯蓉丸，熱者琥珀散，方見指迷方。
萆薢丸，益腎固氣，小便頻數。
箄薢〔青鹽三銖水半盞煮熟秤取半兩〕、金毛狗脊〔炮三分〕、益智子
〔槌碎鹽炒半兩〕、肉蓯蓉〔一兩切焙〕、兔絲子〔半兩酒浸研〕、巴戟〔半兩〕、
杜仲〔麩炒半兩〕、黃芪〔一錢〕，
右為細末，酒糊丸如桐子大，每服四十丸，空心淡鹽湯米湯下。
冬葵子散，治妊娠胎不安，小便淋瀝小肚疼痛。
冬葵子〔炒〕、柴胡、桑白皮、赤茯苓、赤芍、當歸〔各等分〕，
右為㕮咀，每服四錢，水盞半，薑五片，蔥白七寸，煎七分，去滓溫服。
車前子散，除下焦留熱，小便不通，淋瀝作痛。
車前子、檳榔、木通、陳皮、赤芍、赤茯苓、當歸、滑石、石葦〔炙去毛各一兩〕，
右㕮咀，每服五錢，水二盞，煎一盞，溫服，以利為度，未利者再服，食前。
忘憂散，治心經蓄熱，小便赤澀不通，淋瀝作痛。
琥珀〔不拘多少〕，
右為細末，每服五分，濃煎萱草根湯調下，食前。</p>
<h3>第七十六問：大便或利或秘者，何也？</h3>
<p>答曰：大腸者傳導之官，變化出焉，獨受陰陽之濁，化其糟粕，傳不潔之道，
若三焦不調，臟腑不和，受熱則津液竭燥，腸胃否澀，大便不通，有寒則腹痛腸鳴，
水豰併下，故熱則宜清而通之，寒則宜溫而固之。
建中散，治脾胃不和，中脘氣滯，宿寒留飲，停積不消，心腹刺痛，脅肋膨脹，
嘔吐痰涎，逆噫氣，吞酸，腸鳴肚痢，水穀不化，肢體倦怠，不思飲食。
青皮〔一本無青皮〕、棗子〔一觔〕、厚朴〔一觔〕、甘草、半夏〔湯泡洗浸五兩〕、
陳皮〔八兩〕、乾薑〔炮五兩〕，
已上六味，用水三斗煮，令水盡焙乾。
人參〔去蘆一兩〕、藿香〔一兩〕、訶子〔炮取二兩〕、白朮〔一兩〕、白茯苓
〔一兩〕、草豆蔻〔去皮一兩〕，
右為飲子，每服二錢，水二盞，薑三片，煎六分，去渣溫服，食前。
四味換腸丸，治便下覺臟腑疼痛，泄痢飲食不美，因多思所致，或寒氣積，遂成其痢
〔一名白朮止痢丸〕。
白朮〔三分〕、訶子〔炮去核取肉三分〕、肉豆蔻〔三分〕、鍾乳粉〔一兩〕，
右為細末，入鍾乳粉拌麵糊為丸，桐子大，每服五十丸，空心熟水送下，
止進三兩服便效。
熱者，服四順飲子，治大便不通，面赤身熱。
大黃、白芍、甘草、當歸〔各等分〕，
右為麤散，每服五錢，水盞半，煎一盞，去滓溫服，不拘時。
麻仁丸，治腸中受風，津液燥少，往往大便秘。
麻仁〔去皮研二兩〕、枳實〔四兩麩炒〕、白芍〔四兩〕、大黃〔四兩炮〕、厚朴
〔二兩〕、杏仁〔二兩〕，
右為細末，蜜丸梧桐子大，米飲下二十丸，未通加至三十丸。
寒者，理中湯，治腸胃冷熱濕，泄瀉注下，水穀不分，腹中雷鳴，及傷時氣，
裏寒外熱，霍亂吐痢，手足厥冷，胸脾心疼，逆氣結氣，並皆治之。
人參、甘草、白朮、乾薑〔炮各二兩〕、肉豆蔻、砂仁〔各二兩〕，
右為飲子，每服三錢，水盞半，煎一盞，去滓熱服，食前。
煮朴丸，治臟寒泄痢。
北棗〔半觔〕、川芎〔四兩〕、生薑〔切片四兩〕，
已上三味，水三碗煎乾，將生薑厚杵爛，入棗肉一處，再杵令細，以麻油塗手，
擔如小錢，慢火焙乾，入後藥。
蒼朮〔米泔浸〕、茴昋〔炒〕、甘草〔炙〕、官桂〔去皮新者〕、神麴、麥蘗
〔炒淨秤〕、蓬朮〔煨各四兩〕、砂仁、良薑〔炒各二兩〕、肉豆蔻〔煨二兩〕、
丁香〔一兩〕、川薑〔二兩〕，
右為細末，水煮薄糊為丸，梧桐子大，每服百丸，米飲湯下，不拘時。
豆蔻橘紅散，溫脾養胃，消穀嗜食。
丁香、木香〔一兩〕、白豆蔻〔仁〕、人參、白朮、厚朴、神麴、乾薑〔炮〕、
半夏麴〔炒〕、陳皮〔去白〕、藿香葉〔去土〕、甘草〔炙各半兩〕，
右為細末，每服三錢，水一盞，薑三片，棗一個，煎七分，去滓，空心溫服。</p>
<h3>第七十七問：妊娠至八九箇月，兩腳俱腫，何也？</h3>
<p>答曰：妊娠至八九月腿腳腫者，不可為水病治之，恐導其真氣，見此狀者。
則知其易產也，蓋胞藏水血俱多，不致胎燥，故云易產也，當服順氣滑胎之藥，
若初妊而腫者，是水氣過多，兒未成體，恐壞胎也。
枳殼散，養胎氣，安和子臟，治胎中一切惡疾，能令胎滑易產。
枳殼〔去種炒四兩〕、甘草〔炙一兩〕，
右為細末，每服二錢，沸湯調服，空心，入月日進三服。
榆白皮湯，滑胎易產，治妊娠曾因漏胎去血，臨產驚動太早，產未至，穢露先下，
致胎胞乾燥，臨產艱難。
冬葵子〔一兩〕、木通〔半兩〕、榆白皮〔一兩〕、瞿麥〔一兩〕、牛膝
〔去苗酒浸焙〕、大麻仁〔去殼各三分〕、
右為麤未，每服三錢，水盞半，煎八分，去滓，溫服不拘時。
救生散，安胎益氣易產。
人參、訶子〔濕紙裹煨熟去核〕、陳皮〔炒〕、白朮〔炒〕、大麥肉〔炒〕、神麴
〔炒各半兩〕，
右為細末，每服二錢，水一盞，煎六分，去滓，人月加一倍，用水二盞，煎一盞，
空心溫服，服之能令兒緊小，乳母無患。</p>
<h3>第七十八問：妊娠十月將養之法，何如？</h3>
<p>答曰：陰搏陽別，謂之有子，此是血氣和調，陽施陰化也，診其手少陰脈動甚者，
妊子也，所謂妊者，陽既授始，陰妊之也娠則以時而動，故曰妊娠也，
妊娠一月，名姶胚飲食精熟，酸美受御，宜食大麥，無食腥辛，是謂正才。妊娠一月，
足厥陰脈養，不可鍼灸其經，足厥陰內屬於肝，肝主於筋及血，一月之時，血行否澀，
不為力事，寢心安靜，無令恐畏。
妊娠一月，陰陽新合為胎，寒多為痛，熱多猝驚，舉重腰疼，腹滿飽急，猝有所下，
當預安之，宜服烏雌雞湯。
烏雌雞〔一隻炙如常法食〕、茯苓二兩、吳茱萸一升、芍藥、人參、白朮〔各三兩〕、
麥門冬〔五合〕、阿膠〔二兩〕、甘草〔一兩〕，
右九味㕮咀，水一斗二升煮雞，取汁六升，去雞下藥，煎取三升，內酒三升，
弁膠烊盡，取三升放溫，每服一升，日三服。
妊娠曾於第一個月墜胎者，入月，預服此藥治之，補胎傷。
人參、防風、細辛、烏梅肉、白朮〔各一兩〕、大麥〔一合〕、熟地〔一兩〕、吳茱萸
〔半兩洗七次〕，
右為飲子，每服三錢，水盞半，薑三片，煎七分，去滓，空心服，寒多者倍細辛茱萸，
渴者去細辛，加栝蔞根，若有所思去大麥，加柏子仁三合服之。
妊娠二月名始膏，無食腥辛之物，居心靜處，男子勿勞，百節皆痛，是謂胎藏也，
少陽者膽之脈也，主於精，二月之時，兒精成於胞裏，故足少陽養之，
足少陽在足小指間，本節後附骨上一寸陷中者是，妊娠二月陰陽居經，若有寒，
多壞不成有熱，則萎萃怯弱，中風寒有所動搖，心滿臍下脤急，腰背強痛，猝有所下，
乍寒乍熱服，艾葉湯。
人參、當歸、艾葉、甘草、麻黃〔去根節〕、丹參〔各一兩〕、阿膠〔炒二兩〕，
右為㕮咀，每用一兩，水盞半，棗三枚，薑五片，好酒一盞，
煎半盞去滓分為二服，食前。
妊娠曾於第二個月墮胎者，入月，預當養其胎藏，服黃芩湯。
黃芩、人參、阿膠〔各一兩炒碎〕、當歸〔半兩炒乾〕、吳茱萸
〔一分洗七次焙乾微炒〕，
右為吠咀，每服三錢，水盞半，薑三片，煎八分，去滓，食前，如覺大段不安，
加烏梅一兩。
妊娠三月始胎，當此之時，血不流通，形像始化，未有定儀，見物而變，欲令見貴盛，
王公好人，端正莊嚴，不欲令見傴僂侏儒，醜惡形人，及猿猴之類，無食薑兔，
無懷刀繩，欲得見男者操弓矢，射雄雞，乘肥馬於田野，觀虎豹及走犬，其欲得女者，
則箸簪珂環，弄珠璣，欲令子美好端正者，數視白璧美玉，看孔雀，食鯉魚，
欲令兒多智有力，則噉牛肉心，食大麥，欲令子賢良盛德，端心正坐，清和虛一，
坐無邪席，立無偏倚，行無邪徑，目無邪視，口無邪，言心無邪念，無妄喜，
怒無得思慮，食無到臠，無邪臥，無橫足，思欲瓜果，噉味酸葅，好芬芳惡見穢死，
是謂外像而變者，也手心主養之，手心主者，脈中精神，內屬於心，能混神，
故手心主養之，手心主穴在掌後橫文者是，診其妊娠脈滑疾，重以手按之散者，
胎已三月也，妊娠三月為定形，有寒則大便青，有熱則小便赤，不赤則黃，
若猝驚恐懼，憂愁嗔恚，傷動於筋脈，繞臍痛，或腰背痛猝有所下，服雄雞湯。
人參、麥門冬、白茯苓、當歸、白朮，甘草、川芎、白芍〔各一兩〕、阿膠〔二兩〕，
右為㕮咀，每服用一兩，入煮烏雞汁一盞半，棗二枚，好酒一盞，
煎至一盞半，去滓分作二服，食前。
妊娠曾於第三個月墮胎者，入月宜服茯神飲子。
茯苓、丹參、龍骨〔各一兩〕、人參、阿膠〔炒〕、當歸、甘草〔炙各二兩〕、赤小豆
〔炒一合〕，
右為㕮咀，每服三錢，水盞半，棗一枚，煎八分，去滓，溫服腰痛者加寄生二兩，
空心服。
妊娠四月之時，始受水精以成血脈，其食宜麥杭，其羹宜魚鴈，是謂盛榮，
以通耳目而行經絡，洗浴遠避寒暑，是手少陽者，三焦之脈也，內屬於腑，四月之時，
兒六腑順成，故手少陽養之，手少陽穴在手小指間，本節後二寸是也，診其妊娠四月，
欲知男女，左脈疾為男，右脈疾為女，俱疾為生二男，當此之時，慎勿瀉之，
必致產後之殃，何謂也，是手少陽三焦之脈，內屬於三焦，靜形體，和心志，節飲食，
妊娠四月若有寒，也中欲嘔，胸滿不食，有熱則小便頻數如淋狀，臍下若急，卒風寒，
項頸強痛，寒熱驚惕，腰背及腹痛，往來不定，或胎上急迫，心頭煩悶不安，
卒有所下，宜服菊花湯。
當歸、人參、麥門冬、甘草、麻黃〔去節〕、半夏〔湯洗七次〕、阿膠〔炒二兩〕、
菊花〔半兩〕，
右為㕮咀，每服四錢，水盞半，薑三片，棗一枚，煎八分，去滓，空心溫服。
非風寒項強者，當去麻黃半夏，緣二藥能損胎，
調中湯
白芍、白朮、柴胡、甘草〔炙〕、烏梅肉、續斷、當歸、川芎、枳實、厚朴、甘李根皮
〔嬴人去之各等分〕，
右為㕮咀，每服三錢，水盞半，薑四片，煎八分，去滓，溫服空心。
妊娠五月，始受火精以成其氣，臥必晏起，洗浣衣服淨室，必厚其裳，
朝吸天光以避寒殃其食宜稻麥，其羹宜牛羊，和以茱萸，調以五味，
是謂養氣以定五臟者也，一本云，宜食魚鱉，足太陰養之，足太陰脾之脈主四季，
五月之時，兒四肢皆成，故足太陰養之，足太陰之穴，在足內踝上三寸也，
診其妊娠之脈，重手按之不散，但疾不滑者，五月也，又其脈數者，以向懷脈緊者，
必胞阻，脈遲者，心腹滿喘，脈浮者必水懷為腫。
妊娠五月若有熱，頭眩心亂欲嘔者，有寒則腹痛小便難，猝悸恐，四肢疼痛，
寒熱胎動無常，或損仆腹痛，有所不安，服旋覆花湯。
旋覆花、當歸、人參、黃芪〔一本黃芩〕、麥門冬、赤芍、吳茱萸〔洗七次各一兩〕、
阿膠〔炒二兩〕、甘草〔炙半兩〕，
右為㕮咀，每服四錢，水盞半，薑三片，好酒三分，煎八分，空心溫服。
妊娠六月，始受金精以成其筋，身欲微勞，無得靜處，出薖於野，數觀走犬及視走馬，
宜食鷙鳥猛獸之肉，是謂變腠膂筋，以養其爪，以牢其背膂，足陽明養之，
足陽明胃之脈，主其口目，六月之時，兒口目皆成，故足陽明養之，
足陽明穴在太衝上二寸是也。
妊娠六月，猝胎動不安，寒熱往來，腹痛滿身腫，驚怖血下，腹痛狀如欲產，
手足煩熱，立宜服麥門冬湯。
麥門冬、人參、甘草〔炙〕、黃芩〔各一兩〕熟地、阿膠〔蛤粉炒各二兩〕，
右為㕮咀，每服四錢，水盞半，入酒五分，薑五片，棗二枚，煎八分，去滓，
溫服食前。
妊娠曾於六個月損墮者，入月預服柴胡散。
柴胡〔去苗〕、白芍、麥門冬、熟地、蓯蓉〔酒浸焙〕、川芎、白朮〔各一兩〕、甘草
〔炙半兩〕，
右為㕮咀，每服四錢，水盞半，棗三枚，煎八分，去滓，溫服空心。
妊娠七月，始受木精以成骨，勞躬搖肢，無使身安，動作屈伸，居處必燥，飲食避寒，
常宜食杭稻以密腠理，是謂養骨牢齒者也，手太陰養之，手太陰者肺，肺主皮毛，
七月之時，兒皮已成，故手太陰養之，手太陰穴，在手大指本節後白肉隙陷中是，
診其妊娠七月脈，實大牢強者生，沉細者死，懷軀七月，暴下斗餘水，其胎必傷而墮，
此非時孤漿預下故也，喘促，頸項腰背強，服蔥白湯。
半夏〔洗七次〕、黃芪、人參、當歸、黃芩〔各一兩〕、阿膠〔炒二兩〕、旋覆花、
甘草〔炙〕、麥門冬〔去心各等分〕，
右為㕮咀，每服四錢，水盞半，薑三片，蔥白二寸，好酒半盞，煎至八分，去滓，
溫服空心。
妊娠曾於第七個月傷墯者，宜預服杏仁湯。
杏仁〔泡去皮尖〕、鍾乳粉、紫苑、吳茱萸、甘草〔炙〕、乾薑〔炮〕、五味子、
麥門冬、粳米〔各等分〕，
右為㕮咀，每服四錢，水盞半，煎八分，去滓，空心服。
妊娠八月，始受土以成膚革，和心靜息，無使氣極，是謂密腠理而光澤顏色，
手陽明養之，手陽明者，大腸之脈，大腸主九竅，八月之時，兒九竅皆成，
故手陽明養之，手陽明穴在大指本節後宛宛中是，診其妊娠八月脈，
實大牢強弦緊者生，沉細者死，妊娠八月，忽中風寒，有所犯觸，身體疼痛，
乍寒乍熱，胎動不安，常若頭眩，繞臍疼痛，有寒，小便白濁，或復漏下，顏色無定，
腰背冷痛，目視范范，悉宜服芍藥湯。
厚朴〔二兩〕、甘草、當歸、白朮〔各三兩〕、人參、白芍〔各一兩〕，
右為㕮咀，每服四錢，水一盞，酒半盞，薑五片，薤白七寸，煎八分，溫服。
妊娠曾於八個月傷墮胎者，宜服葵子湯。
厚朴〔二兩〕、甘草、當歸、白朮〔各三兩〕、人參、白芍〔各一兩〕、柴胡三兩〕、
葵子，
右為㕮咀，每服四錢，水盞半，薑五片，棗一枚，煎八分，空心溫服。
妊娠九月，始受石精以成皮毛，六腑百節，莫不畢備，飲醴食甘，緩帶自持而待之，
時為養毛髮，多才力，足少陰養之，足少陰者腎之脈，腎主續縷，九月之時，
兒脈續縷皆成，故足少陰養之，足少陰穴在足內踝後，微近下前動脈是也，妊娠九月，
若猝得下痢，腹滿脹急，胎上衝心，腰背不可轉側，短氣滿悶，並宜服半夏湯。
半夏〔湯洗七次〕、吳茱萸、阿膠〔炒各三兩〕、乾薑〔一兩〕、大棗〔十二枚〕，
右為㕮咀，每服五錢，水盞半，煎六分，去滓，入蜜少許，空心服，一方，
用烏雌雞煮汁煎藥。
妊娠曾於第九個月墮胎者，宜先服茯苓豬腎湯。
白茯苓、桑寄生、熟地、白朮、川芎、麥門來〔去心〕、人參〔各一兩〕、乾薑
〔炮半兩〕，
右為㕮咀，先以豬腎一對，切去脂膜，用水一碗，入黑豆一合同煮，取汁一盞半，
入藥八味，五錢煎，至一盞，去滓食前溫服，分為二服。
妊娠十月，五臟俱備，六腑齊通納天地氣於丹田，故使關節人神咸備，
然可預備滑胎方法也。
妊娠十月滿足，入月，預修正順產理，滑胎易產，甘草散。
甘草〔炙〕、黑豆〔炒〕、大麻仁〔別研入〕、糯米〔各一兩〕、乾薑〔炮半兩〕、
白茯苓〔半兩〕、吳茱萸〔半兩洗七次〕，
右為細未，入麻仁末同拌，每服二錢，溫酒調下，未入月不可調服。</p>
<h3>第七十九問：橫生逆產者，何也？</h3>
<p>答曰：將產坐臥，須順四時方面，并避五行禁忌，若有觸犯，多令產難，
或因漏胎去血臟燥，或子臟宿挾疹病，并觸禁忌，或覺腹痛產，時未到，便即驚動，
穢露下早，致子道乾澀，產婦力疲，又有橫逆不順者，皆難產也，或有子上逼心者，
皆繇妊娠之人，失於將養也，大抵臨產之際，腹痛而腰不痛者，未產也，
若腰痛連腰甚者即產，所以然者，腎候於腰，胞繫於腎，故也，診其尺脈轉大，
如切繩轉珠者，謂之離經，日中覺，夜半生，若腰痛甚者，即產也愚謂橫生逆產者，
皆因少母未經生育，將產之時，不肯忍痛，務欲逼下為ㄌ，殊不知時候未到，
胎氣未至，其子未能翻身，受逼不過，只得一任離胎逕下，以至倒生，其有橫生者，
其子離胎，將欲翻身投下，半中之間，被母逼緊，轉身不及以至橫下，古人云，
瓜熟蒂落，粟熟自出，自然之理，凡有橫逆，皆繇母不能忍痛也。
烏金散，治橫生難產，及催生〔此方救子母於頃刻〕。
百草霜、香白芷，
右等分為細末，每服二錢，以童便醋各少許調，更以熱湯化下，未愈再服。
乳香丸，治難產。
乳香〔一兩研為細末〕，
右用豬心血和作十丸，每服一丸，煎乳香湯化下。
出衣法，治妊娠胎死腹中，衣不出，及產後猝有別病，欲至狼狽。
若胎衣未下腹滿，宜水一盞半，煮豬脂一兩，煎五七沸，和脂服下之。
寤生丸，治難產。
枳實〔六兩一本枳殼〕、桑白皮〔乾六兩〕，
已上二味，入大鐺內，以長河水煮半日許，候枳實透軟，去柔白皮不用，取枳實去穰，
薄切作小片子，焙乾，再入後藥。
木香〔半兩〕、甘草〔炙半兩〕，
右四件和為細末，煉蜜丸桐子大，晒乾每日空心日午臨臥，各用溫米飲送下三十丸，
加至五七十丸，日三服，懷七個月後服。</p>
<h3>第八十問：熱疾胎死腹中者，何也？</h3>
<p>答曰：因母患熱疾，至六日以後，臟腑極熱，熏煮其胎，是以致死，緣兒身死冷，
不能自出，但服黑神散煖其胎須臾，胎氣溫煖，即自出，何以知其胎之已死，
但看產婦青色者，是其驗。
黑神散
官桂、當歸、芍藥、甘草、乾薑〔炮〕、生地〔各一兩〕、黑豆〔炒焦去皮二兩〕、
附子〔炮半兩一本作蒲黃〕，
右為細末每服一錢，空心溫酒調下。
烏金散，治產後血迷血運，敗血不止，淋瀝不斷，臍腹疼痛，頭目昏眩，無力多汗，
及治崩中下血，過多不止，宜服。
麒麟竭、亂髮、松墨〔煅醋淬〕、百草霜、當歸頭、肉桂、赤芍、玄胡索、鯉魚鱗
〔燒〕，
右等分為細末，每服二錢，溫酒調服下。
黑龍丹，治產後一切血疾垂死者，但灌藥無有不效。
五靈脂、生地、當歸、川芎、高良薑，
已上各等分，入沙合內，赤石脂泯縫，紙筋鹽泥固濟封合，炭火十觔煅通紅，
去火候冷，開取合子看，成黑糟乃取出，細研入後藥，
硫黃〔研一分半〕、花乳石〔煅一分〕、乳香〔別研一分半〕、琥珀〔研一分〕、
百草霜〔別研五兩〕，
右同為細末，醋煮糊丸彈子大，每服一丸，炭火燒通紅，投生薑自然汁，與無灰好酒，
各一小合，小便半盞內，研開頓服，立效。
芎藭湯，治產後去血過多，運悶不省，及傷治去血多，崩中去血多，金瘡去血多，
拔牙齒去血多，不止緣虛心煩眩運，頭目暗，耳聾滿塞，舉頭欲倒並皆治之。
當歸、芎藭〔各等分〕，
右為飲子，每服三錢，水盞半煎一盞，去滓稍熱服，不拘時。</p>
<h3>第八十一問：胎衣不下者，何也？</h3>
<p>答曰：母生子訖，血流入衣中，衣為血所脹，故不得下治之稍緩，脹滿腹中，
以次上衝心胸，疼痛喘息，急者難治，但服奪命丹，以速去衣中之血，血散脹消，
胎衣自下而無所患。
奪命丹
附子〔半兩〕、牡丹皮〔一兩〕、乾漆〔碎炒煙盡二分半〕，
右為末醋一升，大黃末一兩，同熬成膏，和藥丸如桐子大，溫酒送下。
每服五十丸，不拘時。
牛膝湯，治產兒已出，胞衣不下，臍腹堅滿，脹急疼痛，及子死腹中不得出者，
宜服。
滑石〔八兩〕、當歸、木通〔各六兩〕、冬葵子〔五兩〕、牛膝〔去苗酒浸焙〕、瞿麥
〔各四兩〕，
右為㕮咀，每服三錢，水二盞，煎八分，去滓，稍熱服不以時候。</p>
<h3>第八十二問：難生者，何也？</h3>
<p>答曰：胎側有成形塊，別呼為兒枕，子欲生時，枕破與敗血裹其子，故難生，
但服勝金散，逐其敗血，即自生，逆生橫生，並皆治之。
勝金散
麝香〔一錢〕、鹽豉〔一兩舊青衣裹燒令通紅急以乳砵研為細末〕，
右為細末，取秤鎚燒紅，以酒淬之，調藥一錢七服。
琥珀黑散，治產婦一切疾病，產前胎死，產難逆橫生，產後胎衣不下，衣帶先斷，
遍身疼痛，口乾心悶，非時不語，如血暈眼花，誤以為暗風，乍寒乍熱，誤以為瘧疾，
四肢浮腫，誤以為水氣，言語顛倒，見鬼見神，誤以為邪祟，腹脅脹滿，嘔逆不定，
誤以為反胃，大便祕澀，小便出血，誤以為五淋，及惡露未盡，經候未還，起居飲食，
便不戒忌，血氣之疾，聚即成塊，散即上衝，氣急心痛，咳嗽多睡，四肢虛熱，
睡驚盜汗，崩中敗癥，臍臍刺痛，或頭面赤，因變骨蒸，皆宜多服，若產後鼻衄，
口鼻黑色，氣起，喉中喘急，中風口噤，皆為難治，須急服之，凡產前宜進一二服，
皆能安神順胎，產後雖無疾，七日內亦進一二服，能散諸疾，或因驚恐，變生他證，
當連服取效。
琥珀〔別研〕、硃砂〔別研〕、松墨、百草霜、新羅白附子、白殭蠶〔炒去絲〕、當歸
〔去蘆〕、黑衣〔竈屋塵各半兩一作突煙〕、血苗灰鯉魚鱗〔各二分半〕，
右為細末，每二錢，炒薑溫酒，和童便調下，食前。</p>
<h3>第八十三問：產後血運者，何也？</h3>
<p>答曰：產後氣血暴虛，未得安靜，血隨氣上，迷亂心神，故眼花，甚者令人迷絕，
口噤神昏氣冷，醫者不識，呼為暗風，若作此治，病必難愈，但服清魂散。
澤蘭葉〔二分半〕、人參〔二分半〕、荊芥穗〔一兩〕、川芎〔半兩〕、甘草
〔炙一分〕，
右為細末，每服一錢，熱湯溫酒各半盞調，下咽喉即開眼氣定，人事省。
七寶散，初產後調血和氣，補虛，壓驚悸，治虛運。
硃砂〔研〕、桂心、乾薑〔炮〕、當歸、羚羊角、川芎、人參、茯苓〔各半分〕，
右為細末，若產婦平和，三日以前，直至滿月，每日各取一字，以羌活豆淋酒調下，
空心服，若覺心胸煩熱，即減桂薑，冷即加之，腹痛加當歸，心悶加羚羊角，
心胸氣短加桂，不下食或惡心加人參，虛顫加茯苓，以意斟酌，日二服，夜一服，
不飲酒者，童便酒少許調下。</p>
<h3>第八十四問：產後口乾痞悶者，何也？</h3>
<p>答曰：產後宮胃太虛，血氣未定，食麵太早，胃不能消化，麵毒結聚於胃脕，
上熏胸中，是以口乾煩渴，心下痞悶，醫者不識，認為胸膈壅滯，此宜服見摫丸。
薑黃、京三稜、蓽澄茄、人參、青皮、高良薑、蓬朮〔各等分〕，
右為末，用細蘿蔔慢火煮令爛，研細，將汁煮糊為丸，桐子大，蘿蔔湯下，不拘時。
木香丸，治婦人有妊傷食。
京三稜〔此藥能落胎不可用前胡五分代之產後用之無礙〕、木香、人參、茯苓
〔去皮各二錢〕，
右為細末，麵糊丸加菉豆大，每服三十丸，熟水送下。
白朮散，治氣不調和飲食，許學士云，妊婦傷食難得藥，惟此二方穩捷。
白朮〔炒一兩〕、乾紫蘇〔一兩〕、白芷〔微炒三錢〕、人參〔七錢半〕、川芎、
訶子皮〔一本作肉、青皮〔各半兩〕、甘草〔二錢半〕，
右為末，每服二錢，水一盞，薑三片，煎七分，溫服，不拘時候。
六君子湯，治胸膈痞塞脾寒，不嗜食，燥藥不得服。
枳殼〔麩炒〕、陳皮、人參、白朮、白茯苓、半夏〔洗各等分〕，
右為㕮咀，每服五錢，水二盞，薑五片，煎一盞，去滓，溫服無時。</p>
<h3>第八十五問：產後乍寒乍熱者，何也？</h3>
<p>答曰：陰陽不和，敗血不散，皆令乍寒乍熱，產後血氣虛損，陰陽不和，陰勝則乍寒，
陽勝則乍熱，陰陽相勝，則或寒或熱，若因產勞傷臟腑，血弱不得宣越，
故令敗血不散，入於肺則熱入於脾則寒，醫人誤作瘧疾治，謬矣，陰陽不和，
宜增損四物湯，敗血不散，宜奪命丹，又問二者何以別之，答曰：時有刺痛者，
敗血也，但寒熱無他證者，陰陽不和也。
增損四物湯
當歸、芍藥、人參、川芎、乾薑〔各一兩〕、甘草〔炙四分〕，
右為㕮咀，每服二錢，水一盞，薑五片，煎六分，去滓，溫服。
增損柴胡湯，治婦人產後虛羸，發寒，飲食少，腹脹。
柴胡〔三錢〕、人參、甘草、半夏、白芍、陳皮、川芎，
右為吠咀，每服四錢，水盞半，薑三片，棗一枚，煎七分，溫服，食後日三二服。
豬腎湯，治產後日淺，久坐，視聽言語多，或運動勞力，遂覺頭項及肢節皮內疼痛，
乍寒乍熱，此是蓐勞。
豬腎〔一對去脂膜〕、當歸、芍藥、生薑〔各三兩〕、桂心、蔥白〔二合〕，
右以水八升，緩火煮腎汁六升，澄清內入諸藥，煮取二升，分三次溫服。
加減八珍湯，
當歸〔一錢半〕、川芎〔一錢〕、熟地〔薑汁炒五錢〕、白朮〔一錢〕、白茯苓
〔一錢〕、人參〔三分〕、益母草〔一錢〕、陳皮五分、砂仁〔五分〕，
右為㕮咀，水一鍾半，煎七分，食前溫服，二劑後，與益母丸間服，
服益母丸用芎歸湯送下。</p>
<h3>第八十六問：產後四肢虛腫者，何也？</h3>
<p>答曰：產後敗血乘虛，停積於五臟，不行經絡流入於四肢，留滯日深，卻還不得，
腐壞如水，故令四肢面目浮腫，醫人不識，便作水氣治，凡治水氣，多用導水藥，
極虛夫產後既虛，是謂重虛往往因致夭枉，但服調經散，自然血行腫消。
調經散〔此方百發百中〕
沒藥〔研〕、琥珀〔研各一分〕、官桂、赤芍、當歸〔各一兩〕、細辛、麝香
〔研各半分〕、甘草〔炙二錢嚴氏方中多此一味藥〕，
右為細未，每服五分七，生薑汁溫，酒各少許調服。
正脾散，治大病之後，脾氣虛弱，中滿腹脹，四肢虛浮，狀若水氣，此藥治之，
及產後四肢浮腫。
蓬朮、香附、茴香〔炒〕、甘草〔炙〕、陳皮〔各等分〕，
右為細末，每服二錢，煎燈心木瓜湯調下。</p>
<h3>第八十七問：產後乍見鬼神者，何也？</h3>
<p>答曰：心主身之血脈，因產傷耗血脈，心氣則虛，敗血停積，上干於心，心不受觸，
遂致心中煩躁，臥起不安，乍見鬼神，言語顛倒，醫人不識，呼為風邪，如此治之，
必不得愈，但服調經散，加生龍齒一捻，得睡即安。
調經散〔方見八十六問〕，
右件藥如前，每服加龍齒一捻。
柏子仁散，治產後謊言亂語，繇內虛少血，邪氣攻心。
柏子仁、遠志、人參、桑寄生、防風、琥珀〔細研〕、當歸、熟地、甘草〔各半兩〕，
右為㕮咀，每服以水二盞，入白羊心一個，切碎先煎七分，去心滓，須下藥五錢，
更煎四分，去滓溫服，不拘時。
琥珀散，治產後血邪攻心，迷悶言語錯亂。
琥珀〔研〕、鐵粉〔各一兩〕、人參、茯苓、乾生地、阿膠〔各七分半炒令黃色〕、
硃砂〔研半兩〕、遠志〔七錢半去心〕、甘草、麝香〔研各二錢半〕，
右為細末，入研了藥同和極細，每服一錢，金銀湯調下，無時。</p>
<h3>第八十八問：產後不語者，何也？</h3>
<p>答曰：人心有七孔三毛，產後血氣多端，致停積敗血，閉於心竅，神志不能明了，
又心氣通於舌，心氣閉塞，則舌亦強矣，故令不語如此，但服七珍散，
人參、石菖蒲、熟地、川芎〔各一兩〕、細辛〔一錢半〕、防風〔半兩〕、硃砂
〔半兩研〕，
右為細末，每服一錢，金銀薄荷湯調下，不拘時。
交感地黃丸，治婦人產前產後，眼見黑色，或即發狂，如見鬼狀，胞衣不下，
失音不語，心腹脹滿，水穀不化。
生地〔洗淨研以布絞汁留滓以薑汁炒地黃滓地黃汁炒生薑滓一至乾為度〕、生薑
〔洗刮淨研以布絞取汁留滓各二〕、當歸〔一兩〕、琥珀〔別研一兩〕、玄胡索
〔糯米令炒赤去米〕、蒲黃〔炒〕、小茴香〔四兩〕，
右為細末，蜜丸彈子大，當歸湯化下一丸，食前。</p>
<h3>第八十九問：產後腹痛又瀉痢者，何也？</h3>
<p>答曰：產後腸胃虛怯，寒邪易侵，若未滿月，飲冷當風，乘虛進襲，留於胸膈，
散於腹肋，故腹痛作陣，如錐刀所刺，流入大腸水穀不化，洞洩腸鳴，或下赤白，
脅肋膨脹，或走痛不定，急服調中湯立愈，若醫者以為積滯取之，則禍不旋踵。
調中湯
高良薑、當歸、官桂、白芍、附子、川芎〔各一兩〕、甘草〔半兩〕、人參〔半兩〕，
右為㕮咀，每服三錢，水二盞，煎一盞，去滓熱服，空心食前。
定痛散，治產後惡血不止，腹內熱痛不可忍，及兒未走。
當歸、芍藥〔各二兩〕、桂心〔一兩〕，
右為吠咀，每服二錢，各盞半，生囗子大拍破，煎至六分，去滓溫服，如洞泄腸鳴者，
加附子乾薑下服。
又方，治產後瘀血，怯痛不已。
生料五積散，加乾薑，良薑、丁香、官桂、用煮酒童便各一盞，熱服立效。
又方，獨用肉桂末調好酒服之，立效。</p>
<h3>第九十問：產後遍身疼痛者，何也？</h3>
<p>答曰：產後百節開張，血脈流走，遇氣弱，則經絡內分之間，血多留滯，累日不散，
則骨節不利，筋脈引急，故腰背不得轉側，手足不能動搖，身熱頭痛也，
若醫以傷寒治之，則汗出而筋脈傷，手足厥冷，變生他病，但服趁痛散以嘿除之。
趁痛散
牛膝〔酒浸〕、當歸、官桂、白朮、黃耆〔各半兩〕、白〔二錢半〕、生薑〔半兩〕、
甘草〔二錢半〕、獨活〔半兩〕，
右為末，每服二錢，水一盞半，煎七分，去滓溫服，本方每服半兩，水五盞，煎二盞，
分作二次溫服。
透經湯〔方見十八問中〕。</p>
<h3>第九十一問：產後大便祕澀者，何也？</h3>
<p>答曰：產臥水血俱下，腸胃虛弱，津液不足，是以大便祕澀不通也，
若五六日腹中悶脹者，有燥糞在臟腑，以其乾澀，未能出耳，宜服麻仁丸以津潤之，
若談以為有熱而投之以寒藥，則陽消陰長，變動百出，性命危矣，
此是小柴胡湯之證誤，不可不謹。
麻仁丸〔三因方云，去血過多臟燥大便祕澀，則固當潤之，
大黃似難輕用候蔥涎調醋茶為丸，次以蔥茶下之必通，愚按此言大黃不可輕用者是〕，
麻仁〔研〕、枳殼〔麩炒〕、人參、大黃〔各半兩〕，右為細末，蜜丸桐子大，
空心溫酒下，未通加丸數服。滋腸五仁丸，治血氣不足，大腸閉滯，傳送艱難。
桃仁、杏仁〔各一兩炒去皮尖〕、柏子仁〔半兩〕、松子仁〔一錢三字〕、郁李仁
〔麩炒〕、陳皮〔別為末四兩〕，
右五仁別研為膏，合橋皮同研，煉蜜為丸，桐子大，每服三十丸至五十丸，
食前米飲下，更看虛實加減。</p>
<h3>第九十二問：產後血崩者，何也？</h3>
<p>答曰：產臥傷耗經絡，脈未平復，勞役損動，致血暴崩，淋瀝不止，或因鹹酸不節，
傷蠹營衛，亦變崩中，若小腹滿痛，肝經已壞，為難治，當急服固經丸。
艾葉、赤石脂〔煅〕、補骨脂〔炒〕、木賊〔各半兩〕、附子〔一隻炮去皮臍〕，
右為末，陳米糊和，丸桐子大，食前溫酒下三十丸，米飲亦得。
熟乾地黃散，治崩中下血不止，心神煩悶，頭目昏重。
熟地〔一兩半〕、甘草、蒲黃〔各半兩〕、蟹爪〔微炒二合〕、白茯苓伏龍肝
〔七錢半〕、桂心、白芍、當歸〔微炒各三錢〕、阿膠〔炒黃一兩〕、熟布
〔燒灰三兩一本昆布〕，
右為麤未，每服四錢，水盞半，入竹茹一分，煎六分，去滓溫服，不拘時。</p>
<h3>第九十三問：產後腹脹悶滿嘔吐不定者，何也？</h3>
<p>答曰：敗血散於脾胃，脾受之，不能運化精微而致脹滿，胃受之，
不得受納水穀不化而生嘔逆，醫者不識，若以尋常服止吐藥療之，病與藥不相干，
轉更傷動正氣，疾愈難治。
匠勝湯〔三因方名抵勝湯〕
赤芍、半夏〔泡〕、澤蘭葉、人參、陳皮〔各一錢〕、甘草〔一錢〕、生薑〔半兩〕，
右為麤未，每服三錢，水盞半，煎七分，去滓熱服，食前。
八順理中丸，治新產血氣俱傷，五臟暴虛，肢體羸乏，少氣多汗，纔產直百晬日，
每日常服，壯氣補虛止嘔吐。
甘草、人參、白茯苓、神麴〔炒各半兩〕、乾薑〔炮一兩〕、砂仁〔二兩〕、麥蘗
〔二兩〕、白朮〔四兩〕，
右為末蜜丸，每服三十丸，食前薑湯下，或加半夏麴一兩，入鹽點服。</p>
<h3>第九十四問：產後口鼻黑氣起及鼻衄者，何也？</h3>
<p>答曰：陽明者，經脈之海，起於鼻，交額中，入上齒，糧出俠口，
交人中左之右古之左，產佚氣艙血散，營衛不理，散亂人於諸經，卻還不得，
故口令鼻黑氣起，及變鼻衄，此緣產後虛熱，變生此疾，其疾不可治，名曰胃絕肺敗，
詳此一證，保慶府無方，可急服琥珀黑散，視其病人鼻黑退，衄止者，活
〔方見第八十二問中〕。</p>
<h3>第九十五問：產後喉中氣急喘者，何也？</h3>
<p>答曰：營者血也，衛者氣也，營行脈中，衛行脈外，相隨上下，謂之營衛，
因產所下過多，營血暴竭，衛氣無主，獨聚於肺中，故令喘也，此名孤陽絕陰，難治，
若產後惡露不快，敗血停凝，上熏於肺，亦令喘急，知此但服奪命丹，血去，喘急自止
〔奪命丹方見八十一問〕。
旋覆花湯，治產後傷風，或風寒暑濕，咳嗽喘滿，痰涎壅塞，如服奪命丹喘不定，
可服此藥。
前胡、麻黃、杏仁、五味子、茯苓、甘草、赤芍、旋覆花、半夏麴、人參、玄及
〔各等分〕，
右為飲子，每服四錢，水盞半，薑五片棗一枚，煎七分，溫服食前。</p>
<h3>第九十六問：產後中風者，何也？</h3>
<p>答曰：產後五七日內，強力下床，或月內，傷於房室，或憂怒，擾蕩沖和，或灼炙，
傷動臟腑，初眼澀口噤，肌肉瞤搐，以漸腰脊筋急強直者不治，此乃人作，
非偶爾中風所得，本集無方，三因方評之頗詳。
八風湯，治迷惑如醉，狂言驚悸，恍惚見鬼。
天雄、當歸、人參〔各五兩〕、附子、防風、天門冬、蜀椒、獨活〔各四兩〕、烏頭、
秦艽、細辛、白朮、乾薑〔各三錢〕、山茱萸、五味子、桔梗、香白芷、柴胡、莽草
〔各半兩〕，
右為末，每服二錢，溫酒調下，日三服，以身中覺如鍼刺者，藥行也。
獨活散，治產後中風口噤，肩項強直，四肢拘急。
獨活、桂心、甘草〔炙〕、當歸〔炒一本作川芎〕、麻黃、附子〔炮〕、細辛〔半兩〕
、防風〔八味〕，
每服四錢，水酒各半盞，煎七分，拗開口灌之。</p>
<h3>第九十七問：產後心痛者，何也？</h3>
<p>答曰：心者血之主也，有伏宿寒氣，因產大虛，寒搏於血，血凝不得消散，
其氣逆沖擊於心之經脈，故心痛，但以大岩蜜湯治之，寒去則血脈溫而經絡通，
心痛自止若誤以為所傷療之，則虛極寒益甚矣，心絡寒甚，傳之正經，則變真心痛，
朝發夕死，夕發朝死，不可輕用藥如此。
大岩蜜湯
熟地、當歸、獨活、吳茱萸〔洗〕、官桂、芍藥、乾薑、甘草〔各二兩〕、細辛、
小草、〔遠志苗也各一兩〕，
右為麤未，每服五錢，水三盞，煎一盞，去滓溫服，不拘時。
四神散，治產後留血不消，積聚作塊，急切疼痛，及心腹酸痛下痢。
當歸、乾薑〔炮〕、川芎、赤芍，
右為末，每服三錢，溫酒調下，不拘時。</p>
<h3>第九十八問：產後熱悶氣上轉為腳氣者，何也？</h3>
<p>答曰：產臥血虛生熱，復因春秋取涼過多，地之蒸濕，因足履之所著而為腳氣，
其狀熱悶掣，驚悸心煩嘔吐氣上，皆其候也，但服小續命湯，三兩劑必愈，
若醫者誤用逐敗血藥攻之，則血去而疾增益劇。
小續命湯〔此藥不論胎前產後，或入風邪虛極遍身疼痛，或疾喘不定者，
宜服之加麝香半夏，入每服水二盞候煎熟傾藥汁後，另以麝入於內，
再煎煎一二沸食前服一二服神效〕，人參、黃芩、官桂、麻黃、防己〔各一兩〕、生薑
〔五兩〕、芎藭、芍藥、甘草、白朮〔各一兩〕、附子〔一隻去皮〕、防風〔一兩半〕
，右為咀，每服三錢，水二盞，煎八分，去滓溫服，不拘時。
大驅風散，治猝中欲死，風攻身體及五臟，言語蹇澀，神思冒昧，或履濕氣，
變為腳氣，此方尤妙。
麻黃〔二兩〕、芎藭〔一兩半〕、石膏〔煨一兩半〕、肉桂、白芷、甘草、乾薑〔炮〕
、當歸、黃芩、杏仁〔去皮尖炒各二分〕，
右為㕮咀，每服四錢，水盞半，煎六分，去滓，不以時候稍熱服，汗出為度，
一方入荊瀝五合同煎，大驗，如腳氣加白朮一兩，乾木瓜一兩，去乾薑。</p>
<h3>第九十九問：產後汗出多而變痓風者，何也？</h3>
<p>答曰：產後血虛，內理不腠密，故多汗，因遇風邪搏變痓風，
痓者口噤不開，背強而直，如風發癇狀，搖頭馬鳴，身反折，須臾十發，氣息如絕，
宜速斡口灌之小續命湯，稍緩即汗出如雨，手拭不及者，不可治，三因方云，
既汗多如何更服麻黃桂等，不若大局方大聖散，亦良藥。
小續命湯〔方見九十八問〕。
防風湯，治產後中，如角弓時時反張，口噤。
防風〔一兩〕、葛根〔一兩〕、芎藭、生地、藁本、杏仁〔去皮尖各一兩〕、獨活
〔二兩〕、甘草、桂心、防己、蔓荊子〔各七錢半〕、麻黃〔一兩〕，
右為㕮咀，每服四錢，水盞半，煎六分，去滓溫服，不拘時。</p>
<h3>第一百問：產後所下過多虛極生風者，何也？</h3>
<p>答曰：婦人以營血為主，因產血下太多，氣無所主唇青，肉冷汗出，目瞑，神昏，
命在須臾，此但虛極生風也，如此急服濟危上丹良，以風藥治之，則誤矣。
乳香、五靈脂、硫黃、太陰玄精石〔研〕、桑寄生、真阿膠、卷柏〔生〕、陳皮
〔各等分〕，
右將上四味同研，石器內微火炒動，勿令焦，炒了再研極細，後入餘藥末，
用地黃汁和糊，丸如桐子大，溫酒下二十丸，當歸酒下尤妙。
神授散，治產後一切疼痛，不論大小，以至危篤者皆可服。
百合〔水浸洗〕、乾薑〔炮〕、甘草、當歸、川芎〔各二兩〕、青皮、桂心、牡丹皮、
白芍、陳皮〔各五兩〕、神麴〔炒〕、麥肉〔一本麥冬王宇泰書作麥芽〕、人參
〔各三兩〕、紅花〔一兩半〕，
右為㕮咀，每服二錢，水一盞，薑三片，棗一枚，煎七分，空心去滓溫服，
妊婦不可服，虛者去牡丹皮紅花，加附子三兩。</p>
