<header data-type="book">
<h1>大醫精誠</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
</dl>
</header>
<p>張湛曰：「夫經方之難精，由來尚矣。」今病有內同而外異，亦有內異而外同，故五臟六腑之盈虛，血脈榮衛之通塞，固非耳目之所察，必先診候以審之。而寸口關尺，有浮沉弦緊之亂；俞穴滲注，有高下淺深之差；肌膚筋骨，有厚薄剛柔之異。唯用心精微者，始可與言於茲矣。今以至精至微之事，求之於至麤至淺之思，其不殆哉！若盈而益之，虛而損之，通而徹之，塞而壅之，寒而冷之，熱而溫之，是重加其疾，而望其生，吾見其死矣。故醫方卜筮，藝能之難精者也，既非神授，何以得其幽微？世有愚者，讀方三年，便謂天下無病可治；及治病三年，乃知天下無方可用。故學者必須博極醫源，精勤不倦，不得道聽途說，而言醫道已了，深自誤哉！</p>
<p>凡大醫治病，必當安神定志，無欲無求。先發大慈惻隱之心，誓願普救含靈之苦。若有疾厄來求救者，不得問其貴賤貧富，長幼妍蚩，怨親善友，華夷愚智，普同一等，皆如至親之想；亦不得瞻前顧後，自慮吉凶，護惜身命。見彼苦惱，若己有之，深心悽愴。勿避嶮巇、晝夜、寒暑、飢渴、疲勞，一心赴救，無作功夫形迹之心。如此可為蒼生大醫，反此則是含靈巨賊。自古名賢治病，多用生命以濟危急，雖曰賤畜貴人，至於愛命，人畜一也。損彼益己，物情同患，況於人乎！夫殺生求生，去生更遠。吾今此方所以不用生命為藥者，良由此也。其䖟蟲、水蛭之屬，市有先死者，則市而用之，不在此例。只如雞卵一物，以其混沌未分，必有大段要急之處，不得已隱忍而用之。能不用者，斯為大哲，亦所不及也。其有患瘡痍、下痢、臭穢不可瞻視，人所惡見者，但發慚愧、凄憐、憂恤之意，不得起一念蔕芥之心。是吾之志也。</p>
<p>夫大醫之體，欲得澄神內視，望之儼然，寬裕汪汪，不皎不昧。省病診疾，至意深心，詳察形候，纖毫勿失，處判針藥，無得參差。雖曰病宜速救，要須臨事不惑。唯當審諦覃思，不得於性命之上，率爾自逞俊快，邀射名譽，甚不仁矣！又到病家，縱綺羅滿目，勿左右顧眄；絲竹湊耳，無得似有所娛；珍饈迭薦，食如無味；醽醁兼陳，看有若無。所以爾者，夫壹人向隅，滿堂不樂，而況病人苦楚，不離斯須；而醫者安然懽娛，傲然自得，茲乃人神之所共耻，至人之所不為。斯蓋醫之本意也。</p>
<p>夫為醫之法，不多語調笑，談謔諠譁，道說是非，議論人物，衒燿聲名，訾毀諸醫，自矜己德；偶然治差一病，則昂頭戴面，而有自許之貌，謂天下無雙。此醫人之膏肓！</p>
<p>所以醫人不得恃己所長，專心經略財物，但作救苦之心，於冥運道中，自感多福者耳。又不得以彼富貴，處以珍貴之藥，令彼難求，自衒功能，諒非忠恕之道。志存救濟，故亦曲碎論之，學者不可耻言之鄙俚也。</p>
