<header data-type="book">
<h1>楊成博先生遺留穴道秘書</h1>
</header>
<h2>正文</h2>
<p>先師秘訣生死血道訣。楊成博遺傳點脈秘書，師曰：要害生死血道，要明春夏秋冬四季、十二時辰，方可次斷生死。傷心之事不可用之。出外偶遇惡人，此比功夫不可忍之，無此比惡何必傷人之命，此比手法出在三尖之法。何為三尖之法，虎尖掌尖肩尖是也。定要子午分明，百發百中，賢徒習成此比手法之日，尊師口訣分明，此比功夫，百發百中。難曉此比手法，至善而取之爾，若強取不能成功矣。</p>
<p>出此比手法次要，虎尖點掌尖、落掌尖、落肩尖，進切不可亂出手傷人之命也，如若發莫忘先師之付托。現看句不明，再看四圍圖式便能明曉，須言叮囑之語而亦自己良心。此書若傳好人，固可按部醫人，如歹人得之則禍害不淺，切不可亂人矣。</p>
<p>師曰：人有一十八穴大，五十四穴小，天地人和四大穴，此比方乃傷人之命也，何為小穴，手足四肢是，內外筋骨共成七十二穴。藥有七十二方，習煉成功矣。妙藥可以活之。倘若出外不可傷人，須要時存善念，見事多謀，為師之言須要緊記。</p>
<h3>看症口訣</h3>
<p>第一看，用手拈起眼皮，看他瞳人動。</p>
<p>第二看，嘴角人中血道，紅黃尚可，若白紫黑色難醫。</p>
<p>第三看，太陰太陽，用手按住內跳動者可醫，心中亦跳動，可此比五形中，有一血穴生動可救矣。無生動的看外形，用手抑頭一二三四關，看一關活動者，即用通關散吹入鼻內，手指拍動照三關一把即可，用雄雞一只，連皮破腹入麝香三分，趁滾對臍敷之，須看面色紅轉赤有救，白轉黑即死。形色若不好，用難對大參六分，再用回生丹服之，候之三筒煙，久候內心響，然後以手推之。分為男左女右，女人推之肚膀，男推之丹田，不松手，如此三把，看其氣接，再看傷在何處。用生薑一片、蔥頭擦傷處。用勞宮穴按之其傷即散，然後用藥調治。凡傷穴道，七吼不治；大小便長流，腎子脫落不治；腰對節斷不治；瞳人兩便破不治；咽喉見管不治；落下二心口，撞上心不治；受傷倒地，正心口吐汁不治。用花針插入鼻尖上二三分，取血紅有救，出血轉白黃紅不可治也。如看假死者，咽喉紅動心掙起，用吹關散吹之立效，關上一把提起即打，不打足之，情恐傷一命，折壽三年。</p>
<h3>四季口訣</h3>
<p>血走十二時，藥有十二方治，四季用藥照傷處而治，改時不該藥，後用全身丸子。</p>
<p>時血行道左咽喉，名為仙鵝，取血穴傷者，七十二日而死，服此方全愈。</p>
<p>麝香（二分）　丁香　川芎　鬱金　陳皮　血竭　桔梗　三七　地龍　生地　紅花　羌活　乳香橘紅　古錢（醋　七次）</p>
<p>以上藥各二錢，共為細末，酒調三錢半，服半即愈。</p>
<p>丑時血行道左筋，名為盤元穴，傷重者三七九日而死，服後方愈。</p>
<p>虎骨（二錢）　碎補　白芷　香附　小茴　檳榔　三棱　莪朮　澤瀉　紅花　歸尾　乳香　青皮豬苓　沒藥以上各一錢，清水煎服。</p>
<p>寅時血行道右筋，名為肚角穴，傷重者一日一時，輕者周年半載而死，服後方即愈。</p>
<p>續斷（二錢）　生地　羌活　乳香　川芎　蘇木　澤蘭　檳榔　白芷　大茴　赤芍　丹皮　歸尾獨活　紅花　加桃仁以上藥各一錢，水煎服。</p>
<p>卯時血行道右血腕，名為隙HT　穴，傷者寒熱往來，咳嗽吐血，半年死，服後方愈。</p>
<p>麻黃二錢　京芥　莪朮　蒲黃　紫草　桃仁　枳殼　宜茶　三棱　三七　鬱金　紅花　乳香桑皮　赤芍　陳皮　木香　川芎　生地（各一錢）</p>
<p>酒煎沖童便服。</p>
<p>辰時血行道左比雙燕入穴，傷重者四肢無力，黃皮瘦弱吐血，主五日半而死，服後方全愈。</p>
<p>澤瀉（二錢）　紅花　桃仁　茯苓　澤蘭　陳皮　柴胡　桂枝　續斷　羌活　桑皮　甘草（各一錢加生薑三片酒煎。以上藥各一錢。</p>
<p>此乃鳳羽之穴，離腰之邊，但傷之如不至死者，可能治，亦宜早治，四九之患也。</p>
<h3>大寒小寒</h3>
<p>碎補（二錢）　川烏（一錢）　獨活（一錢）　乳香（二錢）　羌活（一錢）　無名異（一錢）　赤芍（二錢）</p>
<p>肉蓯蓉（一錢）　紅花（一錢）　卷柏（一錢）　草烏（一錢）　秦艽（一錢半）　田七（一錢，另包）　土鱉子（一錢半）　千年健（一錢）　沒藥（一錢半）　加首烏（一錢）</p>
<p>酒水煎，空心服。</p>
<p>此穴有傷不能知也，自問如起拳棍不能傷此穴眼，系背花年少不防。此症可小可大，七情之傷，亦難治也。</p>
<p>此方十二條，偶有求方者醫治，將三十四方發藥，無有不對之理。倘傷穴情用藥，百發百中，小心看習，自然知長久之命也。</p>
<p>終身結脈法，仍系穴脈之出一二，明白要習，師出身教，習此法倘不知此，雖勇如猛虎無濟也。</p>
<p><u>七香跌打丸</u></p>
<p>烏狗腳爪（四只）　紅花（二錢）　木瓜（一錢）　田七（二錢）　沉香（三錢）　金邊湖蜞（五條）　枳殼（二錢）　珍珠（一錢）　象皮（一錢）　三棱（一錢）　鳳凰根（二錢）　川芎（一錢）　青皮（二錢）　沙參（二錢）　降香（一錢）　金邊土鱉（二錢）　膽星（一錢）　無名異（醋製，二錢）　大王（四錢）　自然銅（醋製，一錢）　木香（一錢）　檀香（一錢）　桃仁（三錢）　地龍（一錢）　歸尾（三錢）　焦蠍子（二只）　牛膝（一錢）　藿香（一錢）　桂枝（一錢）　莪朮（二錢）　虎骨（二錢）　赤芍（一錢）　鬱金（一錢）　生地（一錢）</p>
<p>蘇木（二錢）　血竭（二錢）　麝香（五分）　乳香（二錢，去油）</p>
<p>共為細末，用蜜為丸，每重二錢五分，晒乾只得一錢八分。此七香跌打丸共三十八味，和前二十四穴之情訣，不但日久之症，即能成效。如傷輕者用一丸，傷重者二丸，作一服，必能全愈。</p>
<p><u>跌打總方</u></p>
<p>川連（一錢）　紅花（一錢）　血珀（八分）　羌王（一錢）　田七（一錢）　自然銅（一錢，醋炒）　歸尾（三錢）　沒藥（七分）　血竭（一錢）　鬱金（一錢）　人中白（一錢，另包沖服）　生地（二錢）　乳香（六分）</p>
<p>玄胡（一錢）　中王（四分）　沉香（八分）　熊膽（三分）　珍珠（七分）　莪朮（二錢）　三棱（一錢）　桂枝（一錢）　大王（一錢半）</p>
<p>酒、水各半煎服，用童便加沖落藥更妙。</p>
<p><u>回生丹</u></p>
<p>（將藥吹入鼻內，一時回生，男左女右，即吹即愈）</p>
<p>生芷　生半夏　生皂角　生蒲英　北細辛　麝香　冰片以上共為細末貯用，倘遇跌倒傷臥地不知人事，用此藥遂醒，然後向症發</p>
<p><u>跌打吊瘀煎水洗方</u></p>
<p>防風（三錢）　當歸（三錢）　羌活（三錢）　京芥（三錢）　苦參（五錢）　丹皮（五錢）　鶴虱（五錢）</p>
<p>虎骨（三錢）　川椒（五錢）　蘄艾（五錢）　黃柏（三錢）　羌王（五錢）</p>
<p>共為粗末，分兩包煎水洗。</p>
