<header data-type="book">
<h1>素問病機氣宜保命集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1188">公元1188年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·保命集》（<a href="https://www.kanripo.org/text/KR3e0050/">掃描及文字化本</a>）</dd></div>
</dl>
</header>
<h2>自序</h2>
<p>夫醫道者。以濟世為良。以愈疾為善。蓋濟世者憑乎術。愈疾者仗乎法。故法之與術。悉出內經之玄機。</p>
<p>此經固不可力而求智而得也。況軒岐問答理非造次。奧藏金丹寶典。深隱生化玄文。為修行之徑路。作達道之天梯。得其理者。用如神聖。失其理者。似隔水山。其法玄妙。其功深固。非小智所能窺測也。若不訪求師范。而自生穿鑿者。徒勞皓首耳。余二十有五。志在內經。日夜不輟。殆至六旬。得遇天人授飲美酒。若橡斗許。面赤若醉。一醒之後。目至心靈。大有開悟。衍其功療。左右逢原。百發百中。今見世醫多賴祖名。</p>
<p>倚約舊方。恥問不學。特無更新之法。縱聞善說。反怒為非。嗚呼。患者遇此之徒。十誤八九。豈念人命死而不復者哉。仁者鑒之。可不痛歟。以此觀之。是未知陰陽變化之道。況木極似金。金極似火。火極似土。</p>
<p>土極似木。故經曰亢則害。承乃制。謂己亢極反似勝己之化。俗流未知。故認似作是。以陽為陰。失其本意。</p>
<p>經所謂誅罰無過。命曰大惑。醫徒執迷反肆旁識。縱用獲效。終無了然之語。其道難與語哉。仆見如斯。首述玄機。刊行於世者。已有宣明等三書。革庸醫之鄙陋。正俗論之舛訛。宣揚古聖之法則。普救後人之生命。</p>
<p>今將余三十年間。信如心手。親用若神。遠取諸物。近取諸身。比物立象。直明真理。治法方論。裁成三卷。</p>
<p>三十二論。目之曰素問病機氣宜保命集。此集非崖略之說。蓋得軒岐要妙之旨。故用之可以濟人命。舍之無以活人生。得乎心髓。秘之篋笥。不敢輕以示人。非絕仁人之心。蓋聖人之法。不遇當人未易授爾。後之明者當自傳焉。</p>
<p><u>時大定丙午閏七月中元日河間劉完素守真述</u></p>
<h2>楊威素問病機氣宜保命集序</h2>
<p>天興末。予北渡。寓東原之長清。一日過前太醫王慶先家。於幾案間得一書。曰素問病機氣宜保命集。試閱之。乃劉高尚守真先生之遺書稿也。其文則出自內經中。摭其要而述之者。朱塗墨注。凡三卷。分三十二門。</p>
<p>門有資次。合理契經。如原道則本性命之源。論脈則盡死生之說。攝生則語存神存氣之理。陰陽則講抱元守一之妙。病機則始終有條有例。治病之法盡於此矣。本草則驅用有佐有使。處方之法盡於此矣。至於解傷寒論氣宜說。曲盡前聖意。讀之使人廓然有醒悟。恍然有所發明。使六脈十二經五臟六腑三焦四肢。目前可得而推見之也。後二十三論。隨論出證。隨證出方。先後加減。用藥次第。悉皆蘊奧。精妙入神。嘗試用之。十十皆中。</p>
<p>真良醫也。雖古人不是過也。雖軒岐復生。不廢此書也。然先生有序。序己行藏。言幼年已有直格宣明原病式三書。雖義精愨。猶有不盡聖理處。今是書也復出。與前三書相為表裡。非曰後之醫者龜鏡歟。至如平昔不治醫書者得之。隨例驗證。度已處藥。則思亦過半矣。予謂是書。雖在農夫工販緇衣黃冠儒宗。人人家置一本可也。若己有病。尋閱病源。不至亂投湯劑。況醫家者流者哉。惜哉先生卒。書不世傳。使先生之道。竊入小人口。以為己書者有之。予憫先生道屏翳於茆茨荊棘中。故存心精較。今數年矣。命工鏤版。擬廣世傳。使先生之道。出於茆茨荊棘中。亦起世膏肓之一端也。</p>
<p><u>歲辛亥正月望日太鹵楊威序</u></p>
<h2>重刻保命集序</h2>
<p>粵自軒岐而下數千載間。雖有跗緩盧扁之於前。其道不行於其後。後之學人如盲執炬。夜行窮穀。其道愈失矣。然醫道湮沒已久。天固生守真劉通玄於河間。素有奇遇。得天人之旨。而能盡其術。乃撰宣明等三書。一十七萬余言。</p>
<p>開導後學。年幾六十。再遇異人。授以玄醞一橡斗許。一醉乃醒。豁然有悟。復撰是書。自謂窮理盡性。精微至要。莫出乎是也。蓋醫之所以為醫者。必先知其人之所以為人之道。人與天地一。故體天之道以察四時。因地之利以審百病。其神聖功巧。格物致知之理。不在乎藥。而在乎醫之何如耳。嘗聞　冠子曰。昔伊芳尹醫殷。</p>
<p>呂望醫周。奚生醫秦。申　醫郢。原季醫晉。陶朱醫越。夷吾醫齊。故魏文侯有曰。管子用政。行醫術以扁鵲之道。桓公其霸乎。其說有自矣。今是書也。其攝生之法。與夫修齊之道。理無二歧。道同一軌。大有益於醫道也。後之學人。誠能推究其理。審乎病源。體乎天道。順乎地理。以治其疾。將有囿於壽域者也。緣是書者。</p>
<p>金世宗大定二十六年丙午守真所撰之書也。時在宋孝宗淳熙十三年焉。始守真靳惜無傳。至胡元憲宗元年辛亥。</p>
<p>乃宋理宗淳　十一年也。相去六十五年矣。太鹵楊政亨謂。天下之寶。當與天下共之。不可私也。乃鋟諸梓。</p>
<p>惜乎古板於兵燹不存久矣。世無其傳。今命工重刊既完。必用序以紀其實。姑書於篇端云。或曰。不書中國之正朔。而用金虜之正者何。曰。當宋季也。河間為金虜所有而執用之故也。</p>
<p><u>歲在宣德辛亥三月初二日丙寅HT　仙（朱權）書</u></p>
<h2>卷上</h2>
<h3>原道論第一</h3>
<p>經曰。觀天之道。執天之行。盡矣。蓋天一而地二。北辨而南交。入精神之運以行矣。擬之於象。則水火也。畫之於卦。則坎離也。兩者相須。彌滿六合。物物得之。況於人乎。蓋精神生於道者也。是以上古真人。</p>
<p>把握萬象。仰觀日月。呼吸元氣。運氣流精。脫骨換形。執天機而行六氣。分地紀而運五行。食乳飲血。省約儉育。日夜流光。獨立守神。肌肉若一。故能壽敝天地。無有終時。此其道生之要也。夫道者能卻老而全形。</p>
<p>身安而無疾。夫水火用法象也。坎離言交變也。萬億之書。故以水為命。以火為性。土為人。人為主性命者也。</p>
<p>是以主性命者在乎人。去性命者亦在乎人。養性命者亦在乎人。何則。修短壽夭。皆自人為。故經曰。精神內守。病安從來。又曰。務快其心。逆於生樂。所以然者。性命在乎人。故人受天地之氣。以化生性命也。是知形者生之舍也。氣者生之元也。神者生之制也。形以氣充。氣耗形病。神依氣位。氣納神存。修真之士。法於陰陽。和於朮數。持滿御神。專氣抱一。以神為車。以氣為馬。神氣相合。可以長生。故曰。精有主。氣有元。</p>
<p>呼吸元氣。合於自然。此之謂也。智者明乎此理。吹噓呼吸。吐故納新。熊經鳥伸。導引按蹺。所以調其氣也。</p>
<p>平氣定息。握固凝想。神宮內視。五臟昭徹。所以守其氣也。法則天地。順理陰陽。交媾坎離。濟用水火。所以交其氣也。神水華池。含虛鼓漱。通行榮衛。入於元官。溉五臟也。服氣於朝。閉息於暮。陽不欲迭。陰不欲復。煉陰陽也。以至起居適早晏。出處協時令。忍怒以全陰。抑喜以全陽。泥丸欲多擲。天鼓欲常鳴。形欲常鑒。津欲常咽。體欲常運。食欲常少。眼者身之鑒也。常居欲頻修。耳者體之牖也。城廓欲頻治，面者神之庭也。神不欲復。發者腦之華也。腦不欲減。體者精之元也。精不欲竭。明者身之寶也。明不欲耗。補瀉六腑。淘煉五精。可以固形。可以全生。此皆修真之要也。故修真之要者。水火欲其相濟。土金欲其相養。是以全生之術。形氣貴乎安。安則有倫而不亂。精神貴乎保。保則有要而不耗。故保而養之。初不離於形氣精神。及其至也。可以通神明之出。神明之出。皆在於心。</p>
<p>獨不觀心為君主之官。得所養。則血脈之氣。王而不衰。生之本無得而搖也。神之變無得而測也。腎為作強之官。得所養。則骨髓之氣。榮而不枯。蟄封藏之本。無得而傾也。精之處無得而奪也。夫一身之間。心居而守正。腎下而立始。精神之居。此宮不可太勞。亦不可竭。故精太勞則竭。其屬在腎。可以專嗇之也。神太用則勞。其藏在心。靜以養之。唯精專然後可以內守。故昧者不知於此。欲拂自然之理。謬為求補之術。是以偽勝真。以人助天。其可得乎。</p>
<h3>原脈論第二</h3>
<p>大道之渾淪。莫知其源。然至道無言。非立言無以明其理。大象無形。非立象無以測其奧。道象之妙。</p>
<p>非言不明。嘗試原之。脈者何也。非氣非血。動而不息。榮行脈中。衛行脈外。經曰。脈者血之府也。自素問而下。迄至於今。經所不載。無傳記而莫聞其名焉。然而玄機奧妙。聖意幽微。雖英俊明哲之士。非輕易可得而悟也。夫脈者果何物乎。脈者有三名。一曰命之本。二曰氣之神。三曰形之道。經所謂天和者是也。至於折一支。瞽二目。亦不為害生。而脈不可須臾失。失則絕命害生矣。經曰。春弦（一曰長）夏洪（一曰鉤）秋毛（一曰澀）冬石（一曰沉）。此言正脈。同天真造化之元氣也。巡於春夏秋冬木火水金之位。生長收藏。參和相應。故稟二儀而生。不離於氣。故脈有生死之驗。經曰。脈者血之府也。如世之京都州縣。有公府廨署也。</p>
<p>國因置者。所以禁小人為非道也。公府不立。則善者無以伸其枉。惡者無以罰其罪。邪正混同。賢愚雜處。而亂之根也。經曰。五運陰陽者。天地之道也。萬物之綱紀。變化之父母。生殺之本始。神明之府也。既陰陽為神明之府。脈為血之府。而明可見焉。血之無脈。不得循其經絡部分。周流於身。滂湃奔迫。或散或聚。氣之無脈。不能行其筋骨臟腑上下。或暴或蹶。故經曰。出入廢則神機化滅。升降息則氣立孤危。故氣化則物生。</p>
<p>氣變則物易。氣盛則物壯。氣弱則物衰。氣絕則物死。氣正則物和。氣亂則物病。皆隨氣之盛衰而為變化也。</p>
<p>脈字者。從肉從永從爪從血。四肢百骸。得此真元之氣。血肉筋骨爪發榮茂。可以倚憑而能生長也。長久永固之道。故從肉從永者是也。從爪從血者。巡之如水分流而布遍周身。無有不通也。釋名曰。脈。脈幕也。如幔幕之遮復也。幕絡一體之形。導太一真元之氣也。元氣者。在氣非寒非熱非暖非涼。在脈者非弦非洪非澀非沉。不為氣而浮沉。不為血而流停。乃沖和自然之氣也。故春溫夏熱秋涼冬寒。所以然者。為元氣動而不息。</p>
<p>巡於四方木火水金之位。溫涼寒暑之化。生生相續。新新不停。日月更出。四序迭遷。脈不為息。故人有身形之後。五臟既生。身中元氣即生焉。故春弦夏洪秋毛冬石。此四時之氣也。而脈者乃在其中矣。道經曰。視之不見。聽之不聞。搏之不得。迎之不見其首。隨之不見其後。此如脈之謂也。又云。埏埴以為器。當其無有器之用。故有之以為利。無之以為用。又曰。吾不知名。字之曰道。強為之名曰大。斯立脈之名之本意也。故道者萬物之奧。脈者百骸之靈。奧靈之妙。其道乃同。元氣者無器不有。無所不至。血因此而行。氣因此而生。</p>
<p>故榮行脈中。衛行脈外。瞻之在前。忽焉在後。而不匱者。皆由於脈也。分而言之。曰氣曰血曰脈。統而言之。惟脈營運血氣而已。故經曰。血氣者人之神。不可不謹養也。陰陽別論曰。</p>
<p>所謂陽者。胃脘之陽也。此陽者。言脈也。胃者土也。脈乃天真造化之元氣也。若土無氣。則何以生長收藏。</p>
<p>若氣無土。何以養化萬物。是無生滅也。以平人之氣。常稟於胃。正理論曰。穀入於胃。脈道乃行。陰陽交會。</p>
<p>胃和脈行。人稟天地之候。故春胃微弦曰平。但弦而無胃曰死。夏胃微鉤曰平。但鉤而無胃曰死。長夏微軟曰平。但弱而無胃曰死。秋胃微毛曰平。但毛而無胃曰死。冬胃微石曰平。但石而無胃曰死。陰者真臟也。見則為敗。敗則必死。五臟為陰。肝脈至。中外急。如循刀刃責責然。如按琴瑟弦。心脈至。堅而搏。如循薏苡子累累然。肺脈至。大而虛。如以毛羽中人膚。腎脈至。搏而絕。如指彈石辟辟然。脾脈至。弱而乍數乍疏。夫如此脈者。皆為臟脈獨見而無胃脈。五臟皆至。懸絕而死。故經曰。別於陽者。知病忌時。別於陰者。知生死之期。故人性候躁急　促。遲緩軟弱。長短大小。皮堅肉濃。各隨其狀而脈應之。常以一息四至為準者。言呼出心與肺。吸入腎與肝。五至者。胃兼主四旁。在呼吸之間也。數則為熱。遲則為寒。如天之春秋二分。陰陽兩停。晝夜各得五十度。自此添一遭則熱。減一遭則寒。脈之妙道。從此可知矣。或如散葉。或如燃薪。或如丸泥。或如絲縷。或如涌泉。或如土頹。或如偃刀。或如轉索。或如游魚。假使千變萬化。若失常者。乃真元之氣離絕。五臟六腑。不相管轄。如喪家之狗。元氣散失而命絕矣。經曰。積陽為天。積陰為地。陽化氣。陰成形。此言一氣判而清濁分也。元氣者。天地之本。天和者。血氣之根。華佗云。脈者謂血氣之先也。孔子曰。</p>
<p>天不言。而四時行焉。百物生焉。而脈亦如之。又經曰。自古通天者。生之本。皆通乎天氣也。通天者。謂通元氣天真也。然形體者。假天地之氣而生。故奉生之氣。通計於天。稟受陰陽而為根本。天地合氣。命之曰人。天氣不絕。真靈內屬。動靜變化。悉與天通。易云。乾坤成列。而易立乎其中矣。故天地之體。得易而後生。天地之化。得易而後成。故陽用事。則春生夏長。陰用事。則秋收冬藏。</p>
<p>寒往而暑來。暑往則寒來。始而終之。終而復始。天地之化也。而易也默然於其間。而使其四序各因時而成功。</p>
<p>至於寒不凌暑。暑不奪寒。無愆陽伏陰之變。而不至於大肅大溫。故萬物各得其沖氣之和。然後不為過而皆中節也。道經曰。萬物負陰而抱陽。沖氣以為和。百姓日用而不知。斯脈之道也。故脈不得獨浮沉。獨大小。</p>
<p>獨盛衰。獨陰陽。須可沉中有浮。浮中有沉。大中有小。小中有大。盛中有衰。衰中有盛。陰中有陽。陽中有陰。充塞一身之中。盈溢百骸之內。無經絡不有。無氣血不至。養筋骨毛髮。堅壯膩澤。非心非腎非肝非脾。</p>
<p>五臟之盛。真氣固密。不為邪傷。若憂愁思慮。飢飽勞逸。風雨寒暑。大驚卒恐。真氣耗亂。氣血分離。為病之本。噫。夫萬物之中。五常皆備。審脈之道。而何獨無五常之邪。夫仁固衛一身。充盈五臟。四肢百骸。</p>
<p>皆得榮養。無沖和之氣。獨真臟脈見則死矣。生則不見。死則獨見。好生惡死。此仁之謂也。分布軀體。和調氣血。貴之在頭目耳鼻。賤之在跖臀陰篡。不得上而有。不得下而無。無所不施。無所不至。此義之謂也。長人脈長。短人脈短。肥人脈沉。瘦人脈浮。大人脈壯。小人脈弱。若長人短。短人長。肥人浮。瘦人沉。大人弱。小人壯。夫如此者。皆不中理而為病。此禮之謂也。見在寸則上病。見在關則中病。見在尺則下病。五臟有疾。各有部分而脈出見。不為潛藏伏匿。一一得察有餘不足。而愈其病。此智之謂也。春弦夏洪。秋毛冬石。</p>
<p>太陽之至大而長。太陰之至其脈沉。少陰之至其脈鉤。陽明之至短而澀。少陽之至大而浮。厥陰之至其脈弦。</p>
<p>四序不失其期。六氣為常準者。此信之謂也。非探頤索隱。鉤深致遠。學貫天人。旁通物理者。未能達於此矣。</p>
<h3>攝生論第三</h3>
<p>論曰。內經謂法於陰陽。和於朮數。飲食有節。起居有常。不妄作勞。故能形與神俱。而盡終其天年。</p>
<p>度百歲乃去。今時之人不然也。以酒為漿。以妄為常。醉以入房。以欲竭其精。以耗散其真。不知持滿。不時御神。務快其心。逆於生樂。起居無節。故半百而衰也。且飲食起居。乃人生日用之法。縱恣不能知節。而欲傳精神服天氣者。不亦難乎。又經曰。飲食自倍。腸胃乃傷。起居如驚。神氣乃浮。是以聖人春木旺以膏香助脾。夏火旺以膏腥助肺。金用事。膳膏臊以助肝。水用事。膳膏膻以助心。所謂因其不勝而助之也。故食飲之常。保其生之要者。五穀五果五畜五菜也。脾胃待此而倉廩備。三焦待此而道路通。榮衛待此以清以濁。筋骨待此以柔以正。故經云。蓋五味相濟。斯無五宮之傷。所以養其形也。雖五味為之養形。若味過於酸。肝氣以津。脾氣乃絕。味過於咸。大骨氣勞。短肌心氣抑。味過於甘。心氣喘滿色黑。腎氣不衡。味過於苦。脾氣不濡。胃氣乃濃。味過於辛。筋脈沮弛。精神乃央。所謂失五味之常。而損其形也。王注曰。味有偏緣。臟有偏絕。此之謂也。飲食者養其形。起居者調其神。是以聖人春三月夜臥早起。被發緩形。見於發陳之時。且曰以使志生。夏三月夜臥早起。無厭於日。見於蕃秀之時。且曰使志無怒。使氣得泄。秋三月早臥早起。與雞俱興。見於容平之時。收斂神氣。且曰使志安寧。以應秋氣。冬三月早臥晚起。去寒就溫。見於閉藏之時。且曰使志若伏若匿。若有私意。若已有得。此順生長收藏之道。春夏養陽。秋冬養陰。順四時起居法。所以調其神也。經所謂逆於春氣。則少陽不生。肝氣內變。逆於夏氣。則太陽不長。心氣內涸。逆於秋氣。則太陰不收。肺氣焦滿。逆於冬氣。則少陰不藏。腎氣獨沉。此失四時之氣。所以傷其神也。智者順四時。不逆陰陽之道。而不失五味損益之理。故形與神俱久矣。乃盡其天年而去。與夫務快其心。逆於生樂者。何足與語此道哉。</p>
<p>故聖人行之。賢者佩之。豈虛語哉。</p>
<h3>陰陽論第四</h3>
<p>論曰。天地者。陰陽之本也。陰陽者。天地之道也。萬物之綱紀。變化之父母。生殺之本始。神明之府也。</p>
<p>故陰陽不測謂之神。神用無方謂之聖。倘不知此。謂天自運乎。地自處乎。豈足以語造化之全功哉。大哉乾元。</p>
<p>萬物資始。至哉坤元。萬物資生。所以天為陽。地為陰。水為陰。火為陽。陰陽者。男女之血氣。水火者。</p>
<p>陰陽之征兆。惟水火既濟。血氣變革。然後剛柔有體。而形質立焉。經所謂天復地載。萬物悉備。莫貴乎人。</p>
<p>人稟天地之氣生。四時之法成。故人生於地。懸命於天。人生有形。不離陰陽。蓋人居天之下地之上氣交之中。</p>
<p>不明陰陽而望延年。未之有也。何則。蒼天之氣。不得無常也。氣之不襲。是謂非常。非常則變矣。王注曰。</p>
<p>且蒼天布氣。尚不越於五行。人在氣中。豈不應於天道。左傳曰。違天不祥。系辭云。一陰一陽之謂道。老子曰。萬物負陰而抱陽。故偏陰偏陽謂之疾。夫言一身之中。外為陽。內為陰。氣為陽。血為陰。背為陽。</p>
<p>腹為陰。腑為陽。臟為陰。肝心脾肺腎五臟皆為陰。胃大腸小腸膀胱三焦六腑皆為陽。蓋陽中有陰。陰中有陽。</p>
<p>豈偏枯而為道哉。經所謂治心病者。必求其本。是明陰陽之大體。水火之高下。盛衰之補瀉。遠近之大小。</p>
<p>陰陽之變通。夫如是惟達道人可知也。</p>
<h3>察色論第五</h3>
<p>論曰。聲合五音。色合五行。聲色符同。然後定立臟腑之榮枯。若滋榮者其氣生。如翠羽雞冠蟹腹豕膏烏羽是也。枯夭者其氣敗。如草茲　血枳實枯骨　煤是也。至如青赤見於春。赤黃見於夏。黃白見於長夏。白黑見於秋。黑青見於冬。是謂五臟之生者。以五行之相繼也。得肝脈色見青白。心脈色見赤黑。脾脈色見黃青。肺脈色見白赤。腎脈色見黑黃。是謂真臟之見者。以五行之相克也。若乃肺風而眉白。心風而口赤。肝風而目青。</p>
<p>脾風而鼻黃。腎風而肌黑。以風善行數變故爾。肝熱而左頰赤。肺熱而右頰赤。心熱而顏赤。脾熱而鼻赤。腎熱而頤赤。以諸熱皆屬火故爾。以至青黑為痛。黃白為熱。青白為寒。以九氣不同故爾。鼻青為腹水。黑為水氣。白為無血。黃為胸寒。赤為有風。鮮明為留飲。而五色取決於此故爾。然審病者。又皆以真脾為本。蓋真脾之黃。是謂天之氣。五色又明。病雖久而面黃必生者。以其真氣外榮也。此數者雖皆成法。然自非心清見曉於冥冥。不能至於此。故五色微診。可以目察。尤難。難經曰。望而知之謂之神。為見五色於外。故決死生也。</p>
<h3>傷寒論第六</h3>
<p>論曰。夫熱病者。皆傷寒之類也。或愈或死。止於六七日間。若兩感於寒者。必不免於死。經所謂人之傷於寒者。則為病熱。熱雖甚不死。蓋傷寒者。非雜病所比。非仲景孰能明此。故張仙公深得玄機之理趣。達六經之標本。知汗下之淺深。若投湯劑。正與不正。禍福影響。何暇數日哉。然仲景分三百九十七法。一百一十三方。其證有六。其治有四。經云。一日巨陽受之。其脈尺寸俱浮。二日陽明受之。其脈尺寸俱長。三日少陽受之。其脈尺寸俱弦。四日太陰受之。其脈尺寸俱沉細。五日少陰受之。其脈尺寸俱微緩。六日厥陰受之。其脈尺寸俱沉澀。其太陽病者。標本不同。標熱本寒。從標則太陽發熱。從本則膀胱惡寒。若頭項痛腰脊強。太陽經病也。</p>
<p>故宜發汗。其陽明病者。雖從中氣。標陽本實。從標則肌熱。從本則譫語。若身熱目痛鼻干不得臥。陽明經病。</p>
<p>故宜解肌。太陽傳陽明。非表裡之傳。若譫語從本為實。故宜下便。王注曰。以陽感熱。其少陽病者。標陽本火。從標則發熱。從本則惡寒。前有陽明。後有太陰。若胸脅痛而耳聾。往來寒熱。少陽經病。故宜和解。其太陰病者。標陰本濕。從標則身目黃。從本則腹脹滿。若腹滿而嗌干。太陰經病。故宜泄滿下濕。從其本治其標。少陰病者。標陰本熱。從標則爪甲青而身冷。從本則脈沉實而發渴。若口燥舌乾而渴。少陰經病。故宜溫標下本。其厥陰病者。故厥陰之中氣宜溫也。若煩滿囊縮。厥陰經病。故為熱。宜苦辛下之。故經所謂知標知本。萬舉萬當。不知標本。是為妄行。又曰。各通其臟。乃懼汗泄非宜。此之謂也。故明斯六經之標本。乃為治傷寒之規矩。此所謂證有六也。且如發汗桂枝麻黃之輩。在皮者汗而發之。葛根升麻之輩。因其輕而揚之法也。承氣陷胸之輩。下者因而竭之法也。瀉心十棗之輩。中滿泄之法也。瓜蒂梔豉者。高者因而越之法也。故明此四治之輕重。可為了傷寒之繩墨。此之謂其治有四也。若明六經四法。豈有發黃生斑蓄血之壞證。結胸痞氣之藥過。難經所謂未滿三日可汗而已。其滿三日可泄而已。故仲景曰。太陽病。脈浮緊無汗身疼痛。八九日不解。表證仍在。當發其汗。宜麻黃湯主之。少陰病。得三二日口燥咽乾者。急宜大承氣下之。孰敢執於三四日汗泄之定法也。是以聖人書不盡言。言不盡意。說其大概。此之謂也。經所謂發表不遠熱。攻裡不遠寒。余自製雙解通聖辛涼之劑。不遵仲景法桂枝麻黃發表之藥。非余自。理在其中矣。故此一時。彼一時。奈五運六氣有所更。世態居民有所變。天以常火。人以常動。動則屬陽。</p>
<p>靜則屬陰。內外皆擾。故不可峻用辛溫大熱之劑。縱獲一效。其禍數作。豈曉辛涼之劑。以蔥白鹽豉。大能開發郁結。不惟中病令汗而愈。免致辛熱之藥。攻表不中。其病轉甚。發驚狂衄血斑出。皆屬熱藥所致。故善用藥者。須知寒涼之味況。兼應三才造化通塞之理也。故經所謂不知年之所加。氣之盛衰。虛實之所起。不可以為工矣。大抵雜病者。氣之常也。隨方而異。其治不同。卒病者。氣之異也。其治則同。其愈則異。昔黃帝興四方之問。岐伯舉四治之能。故傷寒之法備矣哉。大矣哉。若視深淵。如迎浮云。莫知其際。是以知發表攻裡之藥性。察標本虛實之並傳。量老少壯弱之所宜。勞逸緩急之稟性。切脈明陰陽之分部。詳證之邪氣之淺深。</p>
<p>故可宜會通之法矣。內經曰。謹熟陰陽。無與眾謀。此之謂也。</p>
<h3>病機論第七</h3>
<p>論曰。察病機之要理。施品味之性用。然後明病之本焉。故治病不求其本。無以去深藏之大患。故掉眩收引郁腫脹諸痛癢瘡。皆根於內。夫百病之生也。皆生於風寒暑濕燥火。以知化之變也。經言盛者瀉之。虛者補之。余錫以方士。而方士用之。尚未能十全。余欲令要道必行。桴鼓相應。猶拔刺雪污。工巧神聖。可得備聞。靈樞經曰。刺深而猶可拔。污深而猶可雪。莊子曰。雪猶洗也。岐伯曰。審察病機。無失氣宜。此之謂也。</p>
<p>黃帝曰。愿聞病機何如。岐伯曰。諸風掉眩。皆屬於肝。少慮無怒。風勝則動。肝者罷極之本。魂之居也。其華在爪。其充在筋。以生血氣。其味酸。其色蒼。為將軍之官。謀慮出焉。此為陰中之少陽。通於春氣。其脈弦。王注曰。肝有二布葉一小葉。如木甲拆之狀。故經所謂其用為動。乃木之為動。火太過之政。亦為動。蓋火木之主暴速。所以掉眩也。掉搖也。眩昏亂也。旋運皆生風故也。是以風火皆屬陽。陽主動。其為病也。胃脘當心痛。上支兩脅。隔咽不通。食飲不下。</p>
<p>甚則耳鳴眩轉。目不識人。善暴僵仆。裡急　戾。脅痛嘔泄。甚則掉眩巔疾。兩脅下痛引少腹。令人善怒。虛則目識KT　KT　無所見。耳無所聞。善恐如人將捕之。凡病肝木風疾者。以熱為本。以風為標。故火本不燔。</p>
<p>遇風冽乃焰。肝本不甚熱。因金衰而旺。肺金不勝心火。木來侮於金。故諸病作矣。其為治也。燥勝風。王注曰。風自木生。燥為金化。風余則制之以燥。肝勝則治以清涼。清涼之氣。金之氣也。木氣之下。金氣承之。</p>
<p>又曰。風淫於內。治以辛涼。肝欲散。急食辛以散之。故木主生榮而主春。其性溫。故風火則反涼而毀折。</p>
<p>是兼金化制其木也。故風病過極。而反中外燥澀。是反兼金化也。故非為金制其木。是甚則如此。中風偏枯者。</p>
<p>由心火暴盛。而水衰不能制。則火實克金。金不能平木。則肝木勝。而兼於火熱。則卒暴僵仆。凡治消癉仆擊偏枯痿厥氣滿。發肥貴膏粱之疾也。故此臟氣平則敷和。太過則發生。不及則委和。</p>
<p>諸痛癢瘡。皆屬於心。靜則神明。熱勝則腫。心者生之本。神之變也。其華在面。其充在血脈。為陽中之太陽。通於夏氣。其脈鉤。其味苦。其色赤。為君主之官。神明出焉。此為陽中之太陽也。王注曰。心形如未敷蓮花。中有九空。以導引天真之氣。神之宇也。經所謂其用為燥。火性燥動。其明於外。熱甚火赫。鑠石流金。火之極變也。燔　山川。旋反屋宇。火之災眚也。故火非同水。水智而火愚。其性暴速。其為病也。當胸中熱嗌干。右　滿。皮膚痛。寒熱咳喘。唾血血泄。鼽衄嚏嘔。溺色變。甚則瘡癢　腫。肩背　缺盆中痛。</p>
<p>瘍疹身熱驚惑。惡寒戰栗。譫妄衄蔑語笑。瘡瘍血流。狂妄目赤。胸中痛。脅支滿。脅下痛。背膺肩甲間痛。兩臂內痛。虛則胸腹大。脅下與腰相引而痛。其為治也。以寒勝熱。王注曰。小熱之氣。涼以和之。大熱之氣。寒以取之。甚熱之氣。汗以發之。發之不盡。逆制之。制之不盡。求其屬以衰之。又曰。用水之主。</p>
<p>以制陽光。經曰。氣有多少。病有盛衰。治有緩急。方有大小。此之謂也。是以熱淫於內。治以鹹寒。佐以甘苦。以酸收之。以苦發之。心欲軟。急食咸以軟之。君火之下。陰精承之。火氣之下。水氣承之。是故火主暴虐。故燥萬物者莫　乎火。夏月火熱極甚。則天氣熏和。而萬物反潤。以水出液。林木津流。及體熱極而反汗液出。是火極而反兼水化。俗以難辨。認是作非。不治已極。反攻王氣。是不明標本。但隨兼化之虛象。妄為其治。反助其滿而害於生命多矣。故此臟平則升明。太過則赫曦。不及則伏明。王注曰。百端之起。皆自心生。</p>
<p>諸濕腫滿。皆屬脾土。味和氣化。濕勝則濡泄。脾者倉廩之本。營之居也。名曰器。能化糟粕。轉味而入出者也。其華在唇四白。其充在肌。其味甘。其色黃。故為倉廩之官。又名諫議之官。五味出焉。此至陰之類。</p>
<p>通於土氣。為陰中至陰。脾也。其脈緩。王注曰。脾形象馬蹄。內包胃脘。象土形也。其用為化。兼四氣聚散。</p>
<p>復形群品。以主溉灌肝心肺腎。不主於時。寄旺四季。經所謂善不可見。惡者可見也。其變驟注。其災霖潰。</p>
<p>其為病也。　腫骨痛陰淖。按之不得。腰脊頭頸痛。時眩大便難。陰氣不用飲。不欲食。咳唾則有血。積飲痞膈中滿。霍亂吐下。身重。善飢肌肉痿。足不收行。脅　嘔吐。泄注下。王注曰。脾熱則生濕。虛則腹滿腸鳴飧泄食不化者。有胃之寒者。有胃之熱者。色白澄徹清冷。皆屬於寒。色黃水赤混濁。皆屬於熱。故仲景曰。</p>
<p>邪熱不殺穀。火性疾速。此之謂也。其為治也。風勝濕。濕自土生。風為木化。土余則制之以風。脾盛治之以燥。故濕傷肉。濕勝則濡泄。甚則水閉　腫。王注曰。濕為水。水盛則腫。水下形肉已消。又曰。濕氣為淫。皆為腫滿。但除其濕。腫滿自衰。若濕氣在上。以苦吐之。濕氣在下。以苦瀉之。</p>
<p>以淡滲之。治濕之法。不利小便。非其治也。故濕淫所勝。平以苦熱。佐以酸辛。以苦燥之。以淡泄之。若濕上甚而熱。治以苦溫。佐以甘辛。以汗為故而止。濕淫於內。治以苦熱。佐以酸淡。以苦燥之。以淡泄之。脾苦濕。急食苦以燥之。又曰。土氣之下。木氣承之。本草曰。燥可去濕。桑白皮赤小豆之屬。王注曰。半身已上。濕氣有餘。火氣復郁。所以明其熱能生濕。經所謂風寒在下。燥熱在上。濕氣在中。火游行其間。是亦熱之用矣。故土主沉　云雨而宏靜。雨熱極甚。則飄驟散落。是反兼風木制其土也。若脾熱甚。土自邕。燥去其濕。以寒除熱。脾土氣衰。以甘緩之。所以溏泄積飲痞隔腫滿濕熱干涸消渴。慎不可以溫藥補之。故積溫成熱。性之溫。乃勝氣之藥也。故此臟喜新而惡陳。常令滋澤。無使干涸。土平則備化。太過則敦阜。不及則卑監。</p>
<p>諸氣　郁病痿。皆屬於肺金。（常清氣利）燥勝則干。肺者氣之本。魄之處也。其華在毛。其充在皮。其味辛。其色白。而為相傅之官。治節出焉。為陽中之少陰。通於秋氣。其脈毛。王注曰。肺之形。象人肩。二布葉一小葉。中有二千四空行列。以分布諸臟清濁之氣。經所謂其用為固。其變肅殺。其眚蒼落。其為病也。</p>
<p>骨節內變。左　脅痛。寒清於中。感而瘧。太涼革候。咳腹中鳴。注瀉　溏。咳逆心脅滿。引小腹善暴痛。</p>
<p>不可反側。嗌干面塵色惡腰痛。丈夫　疝。婦人少腹痛。浮虛鼽尻陰股髀　。是病皴揭。實則喘厥逆氣。肩背痛。汗出尻陰股膝髀　足皆痛。虛則少氣不能報息。耳聾嗌干。其為治也。熱勝燥。燥自金生。熱為火化。</p>
<p>金余則制之以火。肺勝則治之以苦。又曰。金氣之下。火氣承之。燥淫於內。治以苦溫。佐以苦辛。以苦下之。</p>
<p>若肺氣上逆。急食苦以泄之。王注曰。制燥之勝。必以苦溫。故受干病生焉。是以金主於秋而屬陰。其氣涼。涼極天氣清明。而萬物反燥。故燥若火。是金極而反兼火化也。故病血液衰也。燥金之化極甚。則煩熱氣鬱痿弱。而手足無力不能收持也。凡有聲之痛。應金之氣。故此臟平氣則審平。大過則堅成。不及則從革。</p>
<p>諸寒收引。皆屬於腎水。（能養動耗）寒勝則浮。腎者主蟄。封藏之本。精之處也。其華在發。其充在骨。</p>
<p>其味鹹。其色黑。為作強之官。伎巧出焉。為陰中之太陰。通於冬氣。其脈石。王注曰。腎臟有二。形如豇豆相並。而曲附於膂筋。外有脂裹。裡白表黑。主藏精。故仙經曰。心為君火。腎為相火。是言在腎屬火。而不屬水也。經所謂膻中者。臣使之官。喜樂出焉。故膻中者在乳之間。下合於腎。是火居水位。得升則喜樂出焉。</p>
<p>雖君相二火之氣。論其五行造化之理。同為熱也。故左腎屬水。男子以藏精。女子以系胞。右腎屬火。游行三焦。興衰之道由於此。故七節之旁。中有小心。是言命門相火也。經所謂其變凝冽。其眚冰雹。其為病也。寒客心痛。腰腿痛。大關節不利。屈伸不便。若厥逆痞堅。腹滿寢汗。實則腹大脛腫。喘咳身重。寢汗出憎風。</p>
<p>虛則胸中痛。大腹小腹痛。清厥意不樂。王注曰。大小腹。大小腸也。此所謂左腎水發痛也。若夫右腎命門相火之為病。少氣瘡瘍疥癬癰腫脅滿。胸背首面四肢浮腫。腹脹嘔逆。螈　骨痛節有動。注下溫瘧。腹中暴痛。</p>
<p>血溢流注精液。目赤心熱。甚則瞀昧暴痛。瞀悶懊　。嚏嘔瘡瘍驚燥。喉痹耳鳴。嘔涌暴注。　螈暴死。瘤氣結核丹　。皆相火熱之勝也。其為治也。寒勝熱。燥勝寒。若熱淫於內。治以鹹寒。火淫所勝。平以咸冷。故相火之下。水氣承之。如寒淫於內。治以甘熱。佐以苦辛。寒淫所勝。平以辛熱。又曰。腎苦燥。急食辛以潤之。</p>
<p>腎欲堅。急食苦以堅之。故水本寒。寒急則水冰如地而能載物。水發而雹雪。是水寒亢極。反似克水之土化。是謂兼化也。所謂寒病極者。反腎滿也。左腎不足。濟之以水。右腎不足。濟之以火。故此臟水準則靜順。不及則涸流。太過則流衍。</p>
<p>諸厥固泄。皆屬於下。厥謂氣逆。固謂禁固。氣逆則肝腎失守。失守則不能禁固。出入無度。燥濕不恆。</p>
<p>故氣下則愈也。經所謂厥氣上行。滿脈去形。</p>
<p>諸痿喘嘔。皆屬於上。肺者臟之長也。為心之華蓋。故肺熱葉焦。發為痿　。是氣鬱不利。病喘息而嘔也。</p>
<p>嘔謂嘔酸水。火氣炎上之象也。胃膈熱甚。則為嘔也。若衰火之炎。痿　則愈。利肺之氣。喘息自調也。道路開通。吐嘔則除。凡病嘔涌溢食。皆屬之火也。王注曰。內格嘔逆。食不得入。是有火也。經所謂三陽有餘。</p>
<p>則為痿易。王注曰。易有變常用。自痿弱無力也。故此者熱之明矣。</p>
<p>諸熱瞀螈。皆屬於火。熱氣勝則濁亂昏昧也。瞀視乃昏也。經所謂病筋脈相引而急名曰螈者。故俗謂之搐是也。熱勝風搏。並於經絡。故風主動而不寧。風火相乘。是以熱瞀螈而生矣。治法祛風滌熱之劑。折其火勢。</p>
<p>熱螈可立愈。若妄加灼火。或飲以發表之藥。則取死不旋踵。</p>
<p>諸禁鼓栗。如喪神守。皆屬於火。禁栗驚惑。如喪神守。悸動怔忪。皆熱之內作。故治當以制火。制其神守。血榮而愈也。</p>
<p>諸痙項強。皆屬於濕。寒濕同性。水火同居。故足太陽膀胱經屬水而位下。所以濕可傷也。其脈起目內　。</p>
<p>上額交於巔上。其支別從巔入絡於腦。還出別下項。故主項強。太陽表中風。加之以濕。客於經中。內挾寒濕。</p>
<p>則筋脈抽急。故痙項強而不柔和也。此太陽寒濕。當詳有汗無汗。治以流濕祛風緩發表而愈也。</p>
<p>諸逆衝上。皆屬於火。沖攻也。氣炎上。故作嘔涌溢。食不下也。</p>
<p>諸脹腹大。皆屬於熱。肺主於氣。貴乎通暢。若熱甚則郁於內。故肺脹而腹大。是以火主長而高茂。形現彰顯。升明舒榮。皆腫之象也。熱去則見白利也。</p>
<p>諸躁狂越。皆屬於火。胃實則四肢實而能登高也。故四肢者諸陽之本。經所謂陰不勝陽。則脈流薄疾。病乃狂。是以陽盛則使人妄言罵詈。不避親疏。神明之亂也。故上善若水。下愚若火。此之謂也。治之以補陰瀉陽。奪其食則病已。</p>
<p>諸暴強直。皆屬於風。炎威而害也。強勁有力而不能和柔也。乃厥陰風木勢甚而成此。王注曰。陽郁於內。</p>
<p>而陰行於外。千金曰。強直為風。治以瀉火補金。木能自平也。</p>
<p>諸病有聲。鼓之如鼓。皆屬於熱。腹脹大而鼓之有聲如鼓者。熱氣甚則然也。經所謂熱勝則腫。此之類也。</p>
<p>是以熱氣內郁。不散而聚。所以叩之如鼓也。諸腹脹大。皆為裡證。何以明之。仲景曰。少陰病腹脹。不大便者。急下之。宜大承氣湯。所謂土堅勝水則干。急與大承氣湯下之。以救腎水。故知無寒。其熱明矣。</p>
<p>諸病　腫。疼酸驚駭。皆屬於火。　腫熱勝。內則陽氣滯故也。疼酸由火實制金。不能平木。則木王而為酸。酸者肝之味也。故經所謂二陽一陰發病。主驚駭。王注曰。肝主驚。然肝主之。原其本也。自心火甚則善驚。所以驚則心動而不寧也。故火衰水準。治之本也。</p>
<p>諸轉反戾。水液混濁。皆屬於熱。熱氣燥爍於筋。故筋轉而痛。應風屬於肝也。甚則吐不止。　熱之氣加之以泄。濕勝也。若三氣雜。乃為霍亂。故仲景曰。嘔吐而利。名為霍亂。故有干霍亂。有濕霍亂。得其吐利。</p>
<p>邪氣得出。名濕霍亂也。十存八九。若不得吐利。揮霍撩亂。邪無由出。名曰干霍亂。十無一生。二者皆以冒暑中熱。飲食不節。寒熱氣不調。清濁相干。陰陽乖隔。則為此病。若妄言寒者。大誤矣。故熱則小便渾而不清。寒則潔而不濁。故井水煎湯沸。則自然混濁也。</p>
<p>諸病水液。澄徹清冷。皆屬於寒。水液為病寒也。故水清淨。其氣寒冷。水穀不化而吐利。其色白而腥穢。</p>
<p>傳化失常。食已不飢。雖有邪熱不殺穀而不飢者。無倦而常好動。其便色黃而酸。王注曰。寒者上下所出。即吐出溺出也。又法曰。小寒之氣。溫以和之。</p>
<p>諸嘔吐酸。暴注下迫。皆屬於熱。流而不腐。動而不蠹。故吐嘔吐酸者。胃膈熱甚。則鬱滯於氣。物不化而為酸也。酸者肝木之味。或言吐酸為寒者誤也。暴注者。是注泄也。乃腸胃熱而傳化失常。經所謂清氣在下。</p>
<p>則生飧泄。下迫者。後重裡急。窘迫急痛也。火性急速。而能造物故也。俗云虛坐弩責而痛也。</p>
<p>諸澀枯涸干勁皴揭。皆屬於燥。澀枯者。水液氣衰少。血不榮於皮肉。氣不通利。故皮膚皴揭而澀也。</p>
<p>及甚則麻痹不仁。涸干者。水少火多。系辭云。燥萬物者。莫　乎火。故火極熱甚。水液干而不潤於身。皮膚乃啟裂。手足有如斧傷而深三二分者。冬月甚而夏月衰。故法曰。寒能收斂。收斂則燥澀皴揭。熱能縱緩。縱緩則滋榮潤澤。皆屬燥金之化也。王注曰。物之生滑利。物之死枯澀。其為治也。宜開通道路。養陰退陽。涼藥調之。榮血通流。麻木不仁澀涸干勁皴揭。皆得其所。慎毋服烏附之藥。經所謂金木水火土營運之數。寒暑燥濕火風臨御之化。不失其道。則民病可調。凡受諸病者。皆歸於五行六氣勝復盛衰之道矣。王注曰。人生有形。</p>
<p>不能無患。既有其患。亦常有逃生化出陰陽者也。故曰謹守病機。各司其屬。有者求之。無者求之。盛者責之。</p>
<p>虛者責之。必先五勝。疏其血氣。令得調達。而致和平。此之謂也。</p>
<h3>氣宜論第八</h3>
<p>論曰。治病必明六化分治。五味五色所主。五臟所宜。五行之營運數。六氣之臨御化。然後明陰陽三才之數。故數之可數者。人中之陰陽也。然所合數之可得者也。夫陰陽者。數之可十。推之可百。數之可千。推之可萬。故天地陰陽者。不以數推。以象之謂也。經曰。丹天之氣。經於牛女戊分。　天之氣。經於心尾己分。</p>
<p>蒼天之氣。經於危室柳鬼。素天之氣。經於亢氐昂畢。玄天之氣。經於張翼婁胃。所謂戊己分者。奎壁角軫。</p>
<p>則天地之門戶也。是以將前三數與天象俱明。始終之六氣所司之高下。在泉淺深之勝復。左右之間同與不同。</p>
<p>三紀太過不及之理。故可分天地之化產。民病之氣宜矣。經所謂太陽司天之政。故歲宜苦以燥之溫之。陽明司天之政。故宜以辛苦。汗之清之散之。又宜以咸。少陽司天之政。故歲宜以咸宜辛宜酸。滲之泄之漬之發之。</p>
<p>觀氣寒溫。以調其過。太陰司天之政。故宜以苦燥之溫之。甚者發之泄之。不發不泄。則濕氣外溢。肉潰皮拆而水血交流。少陰司天之政。故歲宜咸以　之。而調其上。甚則以苦發之。以酸收之。而安其下。甚則以苦泄之。厥陰司天之政。故歲宜辛以調上。以咸調下必折其郁氣。先資其化源。是以迎而奪之。王氣之法也。故云六氣有餘。用熱遠熱。用溫遠溫。用寒遠寒。用涼遠涼。食宜同法。此其道也。故王注曰。夏寒甚。則可以熱犯熱。寒不甚。則不可犯也。若有表證。若有裡證。故法云發表不遠熱。攻裡不遠寒。不發不攻。而犯寒犯熱。使寒熱內賊。其病益甚。故無者生之。有者甚之。所以不遠熱則熱至。不遠寒則寒至。其寒至。則堅痞腹痛急下利之病生矣。熱至。則身熱吐下霍亂。癰疽瘡瘍。瞀　昏郁。注下　螈。腫脹吐嘔。鼽血衄血。頭痛骨節變肉痛。血溢血泄。淋閉之病生矣。王注曰。食已不肌。吐利腥穢。亦寒之疾也。暴喑冒　。目不認人。躁擾狂越。譫語罵詈驚癇。亦熱之病也。故經所謂無失天信。無逆氣宜。無翼其勝。無贊其復。是謂至也。倘不知斯。寒熱內賊。失氣之宜。因不知四時五行。因加相勝。釋邪攻正。絕人長命。朮不通經。為粗工之戒。是以六氣上司九宮。中司九元。下司九宣。三數俱明。</p>
<p>各分主客。勝復淫治。克伐主病。歲物氣味之濃薄。故經所謂氣味有濃薄。性用有躁靜。治保有多少。力化有淺深。故少陽在泉。寒毒不生。太陽在泉。熱毒不生。故其氣專。其味正。少陰在泉。寒毒不生。太陰在泉。</p>
<p>燥毒不生。此所謂天化地產。故天地氣合。六節分而萬物化生矣。經所謂謹候氣宜。無失病機。病機者。寒暑燥濕風。金木水火土。萬病悉自此而生矣。故謹察病機之本。得治之要者。乃能愈疾。亦常有不明六氣五行之所宜。氣味濃薄之所用。人身為病之所由。而能必獲其效者。鮮矣哉。</p>
<h3>本草論第九</h3>
<p>論曰。流變在乎病。主治在乎物。制用在乎人。三者並明。則可以語七方十劑。宣通補瀉輕重澀滑燥濕。</p>
<p>是十劑也。大小緩急奇偶復。是七方也。是以制方之體。欲成七方十劑之用者。必本於氣味生成而成方焉。</p>
<p>其寒熱溫涼四氣者生乎天。酸苦辛鹹甘淡六味者成乎地。氣味生成。而陰陽造化之機存焉。是以一物之中。</p>
<p>氣味兼有。一藥之內。理性不無。故有形者為之味。無形者謂之氣。若有形以無形之治。喘急昏迷乃生。無形以有形之治。開腸洞泄乃起。經所謂陰味出下竅。陽氣出上竅。王注曰。味有質。故下流於便瀉之竅。氣無形。</p>
<p>故上出於呼吸之門。故陽為氣。陰為味。味歸形。形歸氣。氣歸精。精歸化。精食氣。形食味。王注曰。氣化則精生。味和則形長。是以有生之大形。精為本。故地產養形。形不足者。溫之以氣。天產養精。精不足者。補之以味。形精交養。充實不虧。雖有苛疾。弗能為害。故溫之以氣者。是溫之以肺。補之以味者。是補之以腎。是以人為萬物之靈。備萬物之養。</p>
<p>飲和食德。以化津液。以淫筋脈。以行榮衛。故經所謂陰之所生。本在五味。氣味合而服之。以補精益氣。所以為全生之術。故五穀五畜五菜五果。甘苦酸辛鹹。此為補養之要也。何則穀入於口。而聚於胃。胃為水穀之海。喜穀而惡藥。藥之所入。不若穀氣之先達。故治病之法。必以穀氣為先。是以聖人論真邪之氣者。謂汗生於穀。不歸於藥石。辨死生之候者。謂安穀則生。過期不惟數於五臟。先明胃氣為本。以此知五味能養形也。</p>
<p>雖毒藥攻邪。如國之用兵。蓋出於不得已也。是以聖人發表不遠熱。攻裡不遠寒。辛甘發散為陽。酸苦涌泄為陰。故辛散酸收甘緩苦堅咸　。隨五臟之病證。施藥性之品味。然後分奇偶大小緩急之制也。故奇偶者。七方四制之法。四制者。大小緩急也。所謂氣有多少。病有盛衰。治有緩急。方有大小。故大小者。君一臣二。</p>
<p>奇之制也。君二臣四。偶之制也。君二臣三。奇之制也。君二臣六。偶之制也。又曰。奇方云君一臣二。君二臣三。偶方云君二臣四。君二臣六。所以七方者。四制之法。奇偶四制。何以明之。假令小承氣調胃承氣為奇之小方也。大承氣抵當湯為奇之大方也。所謂因其攻下而為之用者如此。桂枝麻黃為偶之小方。葛根青龍為偶之大方。所為因其發而用之者如此。經所謂近者奇之。遠者偶之。身之表者為遠。身之裡者為近。汗者不以奇。下者不以偶。不以者。不用也。故補上治上制以緩。補下治下制以急。急則氣味濃。緩則氣味薄。故味濃者為陰。薄為陰之陽。為味不純粹者也。故味所濃。則泄之以下。味所薄。則通氣者也。王注曰。味濃則泄。</p>
<p>薄則通。氣濃者為陽。薄為陽之陰。故附子乾薑味甘溫大熱。為純陽之藥。為氣濃者也。丁香木香味辛溫平薄。為陽之陰。氣不純粹者也。故氣所濃則發熱。氣所薄則發泄。經曰。</p>
<p>氣薄則發泄。濃則發熱。王注曰。陰氣潤下。故味薄則發泄。陽氣炎上。故氣濃則發熱。味薄為陰少。故通泄。</p>
<p>氣薄為陽少。故汗出。是以論氣味之薄濃。合奇偶之大小。故腎肝位遠。數多則其氣緩。不能速達於下。必大劑而數少。取其迅急。可以走下也。心肺位近。數少則其氣急。不能發散於上。必小劑而數多。取其氣易散。</p>
<p>可以補上也。王注曰。肺服九。心服七。脾服五。肝服三。腎服一。乃五臟生成之常數也。若奇之不去則偶之。</p>
<p>是謂重方也。偶之不去。則反佐以取之。所謂寒熱溫涼。反從其病也。王注曰。是以聖人反其佐。以同其氣。</p>
<p>令聲氣應合。復令寒熱參合。使其終異始同。燥潤而敗。堅剛必折。柔脆自消爾。故逆者正治。從者反治。從少從多。觀其可也。仲景曰。少陰病下利而脈微者。與白通湯。利不止厥逆無脈者。乾嘔煩者。白通加豬膽人尿。注曰。若調寒熱之逆。冷熱必行。則熱物冷服。下嗌之後。冷體既消。熱性便發。由是病氣隨愈。嘔噦皆除。情且不違。而致大益。此加人尿豬膽汁鹹苦寒物。於白通湯熱劑中。要其氣相從。可去格拒之寒也。經所謂熱因寒用。寒因熱用。塞因塞用。通因通用。必伏其所主。而先其所因。其始則同。其終則異。可使破積。</p>
<p>可使潰堅。可使氣和。可使必已。此之謂也。若病所遠而中道氣味之者。食而過之。無越其制度。王注曰。</p>
<p>假命病在腎。而心之氣味飼而冷。是仍急過之。不飼以氣味。腎藥凌心。心腹益衰。與上下遠近例同。是以聖人治上不犯下。治下不犯上。和中上下俱無犯。故經所謂誅罰無過。命曰大惑。此之謂也。有中外不相及。則治其主病。皆論標本。不令妄攻也。故從所來者為本。其所受者為標。是以內者內調。外者外治。內者調之。</p>
<p>不言其治。外者治之。不言其調。經所謂上淫於下。所勝平之。外淫於內。所勝治之。此之謂也。若從內之外。盛於外。先調其內。而後治其外。從外之內。而盛於內者。先治其外。</p>
<p>而後調其內。王注曰。皆謂先除其根底。後削其枝條也。是故病發有餘。本而標之。後治其本。故仲景曰。傷寒醫下之。續得下利清穀。身疼痛者。急當救裡。後身疼痛。清便自調。急當救表。救裡四逆湯。救表宜桂枝湯。故裡不足。必先救之。清便自調。知裡氣已調。然後急與桂枝湯以救表。是謂病發本而標之。先治其本。</p>
<p>後治其標。此以寒為本也。故知標本者。萬舉萬全。不知標本。是謂妄行。此之謂也。雖本草曰。上藥一百二十種為君應天。中藥一百二十種為臣應人。下藥一百二十種為使應地。若治病者。特謂此三品之說末也。經所謂有毒無毒。所治為主。適小大為制也。故主病之謂君。佐君之謂臣。應臣之謂使。非上中下三品之謂也。王注曰。但能破積愈疾。解急脫死。則為良方。非必要以先毒為是。後毒乃非。有毒為是。無毒為非。必量病輕重大小制之者也。帝曰。三品何謂。岐伯曰。所以明善惡之殊貫也。是以聖人有毒無毒。服自有約。故病有久新。方有大小。有毒無毒。固宜常制矣。大毒治病。十去其六。常毒治病。十去其七。小毒治病。十去其八。</p>
<p>無毒治病。十去其九。穀肉果菜。食養盡之。無使過之。傷其正也。不盡行復如法。王注曰。法謂前四約也。</p>
<p>余病不盡。然再行之。毒之小大。如約而止。必無過也。是以上古聖人。謂重身之毒。有故無殞。衰其大半而止。故藥之性味。本以藥治疾。誠能處以中庸。以疾適當。且如半而止之。亦何疑於攻治哉。此之謂也。故非調氣而得者。治之奈何。有毒無毒。何先何後。愿聞其道。王注曰。夫病生之類。其有四焉。一者始因氣動而內有所成。為積聚　瘕瘤氣癭起結核癲癇之類是也。二者不因氣動而外有所成者。謂癰腫瘡瘍痂疥疽痔掉螈浮腫目赤瘭胗　腫痛癢之類是也。三者不因氣動而病生於內。留飲　食飢飽勞損宿食霍亂悲恐喜怒想慕憂結之類是也。四者不因氣動而病生於外。為瘴氣賊魅蟲蛇蠱毒蜚尸鬼擊沖薄墮墜風寒暑濕斫射剌割捶朴之類是也。如此四類者。有獨治內而可愈。大小承氣陷胸抵當湯三花神　藏用之類是也。有兼治內而愈者。大小柴胡通聖洗心涼膈黃連解毒之類是也。有獨治外而愈者。善應膏拔毒散點眼藥生肌之類是也。有兼治外而愈者。撥雲散苦參散千金內托散之類是也。有先治內後治外而愈者。瘭胗丹毒瘡瘍癰疽斑疹之類。悉因三焦相火。熱甚於內。必先疏啟其中。涼苦寒之劑。蕩滌臟腑。或以砭射敷掃塗抹於外者是也。有先治其外後治其內而愈者。傷寒刺割破傷。皆因風寒之邪。從外之內。先以發散其外。發之不已。量其淺深峻泄之。有齊毒而攻擊者。暴病大小便不利胎死堅積滿脹之類是也。復有無毒而調引者。痰滯氣痞。胃虛脾弱。氣不往來。以通經利其氣之藥之類是也。方法所施。或勝或復。寒者熱之。熱者寒之。溫者清之。散者收之。抑者折之。燥者潤之。急者緩之。剛者　之。衰者補之。強者瀉之。堅者削之。留者攻之。客者除之。</p>
<p>勞者溫之。溫養也。結者散之。燥者濡之。損者溫之。溫補也。逸者行之。勞者動之。驚者平之。平常也。常見常聞。上之吐之。下之泄之。磨之灸之。浴之薄之。劫之燔之。針劫其下。開之發之。適可為故。各安其氣。</p>
<p>必清必淨。則病氣衰去。歸其所宗。此治之大體也。是以聖人法無定體。體變布施。藥不執方。合宜而用。故論言治寒以熱。治熱以寒。而方士不能廢繩墨而更其道也。有病熱者。寒之而熱。有病寒者。熱之而寒。二者皆在。新病復起。奈何。治諸寒而熱者。取之以陰。熱之寒者。取之以陽。所謂求其屬也。王注曰。謂治之而病不衰退。反因熱寒而隨生寒熱。病之新者也。謂其益火之原。以消陰翳。用水之主。以制陽光。故曰求其屬也。</p>
<p>夫取心者。不必齊以熱。取腎者。不必齊以寒。但益心之陽。寒亦通行。若強腎之陰。熱之猶可。此論五味所歸五臟寒熱溫涼之主也。嗚呼。聖人之道久塞。</p>
<p>而後之人獨不能之也。王注曰。言少可以貫多。舉淺可以料深。何法之明也如此。故非聖人之道。孰能至於是耶。是以治病之本。須明氣味之濃薄。七方十劑之法也。方有七。劑有十。故方不七。不足以盡方之變。劑不十。不足以盡劑之用。方不對病。非方也。劑不蠲疾。非劑也。今列而論之。</p>
<p>七方者。大小緩急奇偶復。</p>
<p>大方之說有二。一則病有兼證。而邪不專。不可以一二味治之。宜君一臣三佐九之類是也。二則治腎肝在下而遠者。宜分兩多。而頓服之是也。</p>
<p>小方之說有二。一則病無兼證。邪氣專一。可以君一臣二小方之治也。二則治心肺在上而近者。宜分兩微。</p>
<p>而頻頻少服之。亦為小方之治也。</p>
<p>緩方之說有五。有甘以緩之為緩方者。為糖蜜甘草之類。取其戀膈也。有丸以緩之為緩方者。蓋丸之比湯散。藥力宣行遲故也。有品味群眾之緩方者。蓋藥味眾多。各不能騁其性也。有無毒治病之緩方者。蓋藥性無毒。則攻自緩也。有氣味薄而緩方者。藥氣味薄。則常補於上。比至其下。藥力既已衰。為補上治上之法也。</p>
<p>急方之說有四。有急病急攻之急方者。如腹心暴痛。前後閉塞之類是也。有急風蕩滌之急方者。謂中風不省口噤是也。取湯劑蕩滌。取其易散而施攻速者是也。有藥有毒之急方者。如上涌下泄奪其病之大勢者是也。</p>
<p>有氣味濃之急方者。藥之氣味濃者。直趣於下而力不衰也。謂補下治下之法也。</p>
<p>奇方之說有二。有古之單行之奇方者。為獨一物是也。有病近而宜用奇方者。為君一臣二君二臣三。數合於陽也。故宜下不宜汗也。</p>
<p>偶方之說有二。有兩味相配而為偶方者。蓋兩味相合者是也。有病遠而宜用偶方者。君二臣四。君四臣六。</p>
<p>數合於陰也。故宜汗不宜下也。</p>
<p>復方之說有二。有二三方相合之為復方者。如桂枝二越婢一湯之類是也。有分兩勻同之復方者。如胃風湯各等分之類是也。又曰重復之復。二三方相合而用也。反復之復。謂奇之不去則偶之是也。</p>
<p>十劑者。宣通補瀉輕重澀滑燥濕。</p>
<p>宣者。宣散也。鬱而不散為壅。必宣劑以散之。如痞滿不通之類是也。本草曰。宣可去壅。必宣劑以散之。</p>
<p>如薑橘之屬。攻其裡則宣者上也。泄者下也。涌劑則瓜蒂梔豉之類是也。發汗通表亦同。</p>
<p>通。留而不行為滯。必通劑以行之。如水病痰癖之類也。本草曰。通可去滯。通草防己之屬。攻其內則通者行也。甘遂滑石茯苓芫花大戟牽牛木通之類是也。</p>
<p>補。不足為弱。必補劑以扶之。如氣形羸弱之類是也。本草曰。補可去弱。人參羊肉之屬。攻其裡則補養也。經所謂言而微。終日乃復言者。此奪氣也。故形不足。溫之以氣。精不足。補之以味。是以膏粱理疾。藥石蠲疾。五穀五畜。能補善養也。</p>
<p>瀉。有餘為閉。必泄劑以逐之。如腹脹脾約之類是也。本草曰。瀉可去閉。即葶藶大黃之屬。經所謂濁氣在上。則生　脹。故氣不施化而鬱閉不通。所以葶藶大黃味苦大寒。專能瀉熱去濕下氣。仲景曰。趺陽脈浮而澀。浮則胃強。澀則小便數。浮澀相搏。大便難。其脾為約。故約束津液不得四布。苦寒之劑。通塞潤燥而能泄胃強也。</p>
<p>輕。實則氣壅。欲其揚也。如汗不發而腠密。邪勝而中蘊。</p>
<p>必輕劑以揚之。本草曰。輕可去實。麻黃葛根之屬。經所謂邪在皮者。汗而發之。其實者。散而泄之。王注曰。</p>
<p>陽實則發散。</p>
<p>重。怯則氣浮。欲其鎮也。如喪神守而驚悸。氣上厥以顛疾。必重劑以鎮之。本草曰。重可去怯。即磁石鐵粉之屬。經所謂厥成為癲疾。故驚乃平之。所以鎮涎也。故使其物體之重則下涎而用之也。</p>
<p>澀。滑則氣脫。欲其收斂也。如開腸洞泄。便溺遺失。必澀劑以收之。本草曰。澀可去脫。則牡蠣龍骨之屬。如寧神寧聖散之類是也。</p>
<p>滑。澀則氣著。欲其利也。如便難內閉。必滑劑以利之。本草曰。滑可去著。即冬葵榆皮之屬。滑能養竅。</p>
<p>故潤利也。</p>
<p>燥。濕淫氣勝。腫滿脾濕。必燥劑以除之。本草曰。燥可去濕。即桑白皮赤小豆之屬。所謂濕甚於上。</p>
<p>以苦燥之。以淡泄之是也。</p>
<p>濕。津耗為枯。五臟痿弱。榮衛涸流。必濕劑以潤之。本草曰。濕可去枯。即紫石英之屬。故痿弱者用之。</p>
<p>王注曰。心熱盛則火獨光。火獨光則內炎上。腎之脈常下行。今火盛而上炎用事。故腎脈亦隨火炎爍而逆上行也。陰氣厥逆。火復內燔。陰上隔陽。下不守位。心氣通脈。故生脈痿。腎氣主足故膝腕樞紐如折去。而不相提挈。脛筋縱緩。而不能任用於地也。可下數百行而愈。</p>
<p>故此十劑七方者。乃太古先師。設繩墨而取曲直。何叔世方士。出規矩以為方圓。王注曰。嗚呼。人之死者。但曰命。不謂方士愚昧而殺之邪。是以物各有性。以謂物之性有盡也。制而用之。將使之無盡。物之用有窮也。變而通之。將使之無窮。夫惟性無盡用無窮。故施於品劑。以佐使斯人。其功用亦不可一而足也。於是有因其性而為用者。有因其所勝為制者。有氣同則相求者。有氣相克則相制者。有氣有餘而補不足者。有氣相感則以意使者。有質同而性異者。有名異而實同者。故蛇之性上竄而引藥。蟬之性脫而退翳。虻飲血而用以治血。鼠善穿而用以治漏。所謂因其性而為用者如此。弩牙速產。以機發而不括也。杵糠下噎。以杵築下也。所謂因其用而為使者如此。萍不沉水。可以勝酒。</p>
<p>獨活不搖風。可以治風。所謂因其所勝而為之用制也如此。麻。木穀而治風。豆。水穀而治水。所謂氣相同則相求者如此。牛土畜。乳可以止渴疾。豕水畜。心可以鎮恍惚。所謂因其氣相克則相制也如此。熊肉振羸。</p>
<p>兔肝明視。所謂因其氣有餘。補不足也如此。鯉之治水。　之利水。所謂因其氣相感。則以意使者如此。蜂蜜成於蜂。蜜溫而蜂寒。油本生於麻。麻溫而油寒。茲同質而異性也。蘼蕪生於芎　。蓬　生於復盆。茲名異而實同者也。所以如此之類。不可勝舉。故天地賦形。不離陰陽。形色自然。皆有法象。毛羽之類。生於陽而屬於陰。鱗介之類。生於陰而屬於陽。空青法水色青而主肝。丹砂法火色赤而主心。雲母法金色白而主肺。磁石法水色黑而主腎。黃石脂法土色黃而主脾。故觸類而長之。莫不有自然之理也。欲為醫者。上知天文。下知地理。中知人事。三者俱明。然後可以愈人之疾病。不然。則如無目夜游。無足登涉。動致顛殞。而欲愈疾者。</p>
<p>未之有也。故治病者。必明天地之理道。陰陽更勝之先後。人之壽夭生化之期。乃可以知人之形氣矣。王注曰。</p>
<p>不明天地之理。又昧陰陽之候。則以壽為夭。以夭為壽。雖盡上聖救生之道。心明經脈藥石之妙。猶未免世中之誣斥也。明乎醫者。幸詳究焉。</p>
<h2>卷中</h2>
<h3>中風論第十</h3>
<p>論曰。經云風者百病之始。善行而數變。行者動也。風本生於熱。以熱為本。以風為標。凡言風者熱也。</p>
<p>叔和云。熱則生風。冷生氣。是以熱則風動。宜以靜勝其躁。是養血也。治須少汗。亦宜少下。多汗則虛其衛。</p>
<p>多下則損其榮。汗下各得其宜。然後宜治在經。雖有汗下之戒。而有中臟中腑之說。中腑者。宜汗之。中臟者。</p>
<p>宜下之。此雖合汗下。亦不可過也。仲景曰。汗多則亡陽。下多則亡陰。亡陽則損其氣。亡陰則損其形。經曰血氣者人之神。不可不謹養也。初謂表裡不和。須汗下之。表裡已和。是宜治之在經也。其中腑者。面加五色。</p>
<p>有表證。脈浮而惡風惡寒拘急不仁。或中身之後。或中身之前。或中身之側。皆曰中腑也。其治多易。中臟者。</p>
<p>唇吻不收。舌不轉而失音。鼻不聞香臭。耳聾而眼瞀。大小便秘結。皆曰中臟也。其治多難。經曰六腑不和。</p>
<p>流經為癰。五臟不和。九竅不通。若外無留結。內無不通。必知在經也。初證既定。宜以大藥養之。當順時令而調陰陽。安臟腑而和榮衛。察病機。審氣宜。而少有不愈者。若風中腑者。先以加減續命湯。隨證發其表。</p>
<p>若忽中臟者。則大便多秘澀。宜以三化湯通其滯。表裡證已定。別無他變。故以大藥和治之。大抵中腑者。多著四肢。中臟者。多滯九竅。雖中腑者多兼中臟之證。至於舌強失音。久服大藥。能自愈也。有中風濕者。</p>
<p>夏月多有之。其證身重如山。不能轉側。宜服除濕去熱之藥治之。不可用針。可用灸。今具六經續命湯。通治八風五痹痿厥等疾。以一歲為總。以六經為別。春夏加石膏知母黃芩。秋冬加桂附。又於六經別藥。隨證細分加減。自古名醫。不能越此。</p>
<p>凡覺中風。必先審六經之候。慎勿用大熱藥烏附之類。故陽劑剛勝。積火燎原。為消狂瘡腫之屬。則天癸竭而榮衛涸。是以中風有此誡。故經所謂邪風之至。疾如風雨。易曰。撓萬物者。莫疾乎風。若感之淺者留於肌膚。感之深者達於骨髓。蓋禍患之機。藏於細微。非常人之豫見。及其至也。雖智者不能善其後。是以聖人之教下。皆謂之虛邪賊風。避之有時。故中風者。俱有先兆之證。凡人如覺大拇指及次指麻木不仁。或手足不用。</p>
<p>或肌肉蠕動者。三年內必有大風之至。經曰肌肉蠕動。名曰微風。宜先服八風散愈風湯天麻丸。各一料為效。</p>
<p>故手大指次指手太陰陽明經。風多著此經也。先服祛風滌熱之劑。辛涼之藥。治內外之邪。是以聖人治未病。</p>
<p>不治已病。又曰。善治者治皮毛。是止於萌芽也。故初成獲愈。固久者伐形。是治病之先也。</p>
<p>中風之人。如小便不利。不可以藥利之。既得自汗。則津液外亡。小便自少。若利之。使榮衛枯竭。無以制火。煩熱愈甚。當候熱退汗止。小便自行也。兼此證乃陽明。大忌利小便。須當識此。中風之人能食者。</p>
<p>凡中風病。多能食。蓋甲己化土。脾盛故能食。由是多食則脾氣愈盛。土剋制腎水。水虧則病增劇也。病宜廣服藥。不欲多食。病能自愈。中風多食。風木盛也。盛則克脾。脾受敵。求助於食。經曰實則夢與。虛則夢取。</p>
<p>是也。當瀉肝木。治風安脾。脾安則食少。是其效也。</p>
<p>中風之人。不宜用龍麝犀珠。譬之提鈴巡於街。使盜者伏而不出。益使風邪入於骨髓。如油入面。莫能出也。此之類焉。若痰潮不省。昏憒不知事。宜用藥下其痰涎。故風者乃百病之長。庸可忽諸。</p>
<p><u>小續命湯</u></p>
<p>麻黃（去節）　人參　黃芩　芍藥　防己　桂枝　川芎　甘草（各一兩）　防風（一兩半）　附子（半兩）</p>
<p>杏仁（一兩）</p>
<p>上除附子杏仁外。搗為粗末。後入二味令勻。每服五七錢。</p>
<p>水一盞半。生薑五片。煎至一盞。去滓稍熱服。食前。</p>
<p>凡中風。不審六經之加減。雖治之不能去其邪也。內經云。開則淅然寒。閉則熱而悶。知暴中風邪。宜先以加減續命湯。隨證治之。</p>
<p>中風無汗惡寒。</p>
<p><u>麻黃續命</u></p>
<p>主之。</p>
<p>麻黃　防風　杏仁依本方添加一倍。宜針太陽至陰出血。昆侖陽蹺。</p>
<p>中風有汗惡風。</p>
<p><u>桂枝續命</u></p>
<p>主之。</p>
<p>桂枝　芍藥　杏仁依本方添加一倍。宜針風府。以上二證。皆太陽經中風也。</p>
<p>中風無汗身熱。不惡寒。</p>
<p><u>白虎續命</u></p>
<p>主之。</p>
<p>石膏　知母（一料中各加二兩）　甘草（依本方加一倍）</p>
<p>中風有汗身熱。不惡風。</p>
<p><u>葛根續命</u></p>
<p>主之。</p>
<p>葛根（二兩）　桂枝　黃芩（依本方加一倍）</p>
<p>宜針陷谷刺厲兌。針陷谷者。去陽明之賊。刺厲兌者。瀉陽明經之實也。以上二證。陽明經中風也。</p>
<p>中風無汗身涼。</p>
<p><u>附子續命</u></p>
<p>主之。</p>
<p>附子（加一倍）　乾薑（加二兩）　甘草（加三兩）</p>
<p>宜刺隱白穴。去太陰之賊也。此一證太陰經中風也。</p>
<p>中風有汗無熱。</p>
<p><u>桂枝續命</u></p>
<p>主之。</p>
<p>桂枝　附子　甘草（依本方加一倍）</p>
<p>宜針太谿。此證少陰經中風也。</p>
<p>中風六證混淆。系之於少陽厥陰。或肢節攣痛。或麻木不仁。宜</p>
<p><u>羌活連翹續命</u></p>
<p>主之。</p>
<p>小續命（八兩）　加羌活（四兩）　連翹（六兩）</p>
<p>古之續命。混淆無六證之別。今各分經療治。又分經針刺法。厥陰之井大敦。刺以通其經。少陽之經絕骨。灸以引其熱。是針灸同象法。治之大體也。</p>
<p>中風外無六經之形證。內無便溺之阻格。知血弱不能養筋。故手足不能運動。舌強不能言語。宜養血而筋自榮。</p>
<p><u>大秦艽湯</u></p>
<p>主之。</p>
<p>秦艽（三兩）　甘草（二兩）　川芎（二兩）　當歸（二兩）　白芍藥（二兩）　細辛（半兩）　川羌活防風　黃芩（各一兩）　石膏（二兩）　吳白芷（一兩）　白朮（一兩）　生地黃（一兩）　熟地黃（一兩）</p>
<p>白茯苓（一兩）　川獨活（二兩）</p>
<p>上十六味　。每服一兩。水煎去渣。溫服無時。如遇天陰。加生薑煎七八片。如心下痞。每兩加枳實一錢同煎。</p>
<p>中風外有六經之形證。先以加減續命湯。隨證治之。內有便溺之阻格。復以</p>
<p><u>三化湯</u></p>
<p>主之。</p>
<p>厚朴　大黃　枳實　羌活（各等分）</p>
<p>上　如麻豆大。每服三兩。水三升。煎至一升半。終日服之。以微利為度。無時。法曰四肢不舉。俗曰癱瘓。故經所謂太過則令人四肢不舉。又曰土太過則敦阜。阜高也。敦濃也。既濃而又高。則令除去。此真所謂膏粱之疾。非肝腎經虛。何以明之。經所謂三陽三陰發病。為偏枯痿易。四肢不舉。王注曰。三陰不足。以發偏枯。三陽有餘。則為痿易。易謂變易。常用而痿弱無力也。其治則瀉。令氣弱陽衰土平而愈。或三化湯調胃承氣湯。選而用之。若脾虛則不用也。經所謂土不及則卑陷。卑下也。陷坑也。故脾病四肢不用。四肢皆稟氣於胃。而不能至經。必因於脾乃得稟受也。今脾不能與胃行其津液。四肢不能稟水穀氣。氣日以衰。脈道不利。</p>
<p>筋骨肌肉皆無氣以生。故不用焉。其治可補。十全散加減四物。去邪留正。</p>
<p><u>愈風湯</u></p>
<p>　中風證內邪已除。外邪已盡。當服此藥。以行導諸經。久服大風悉去。縱有微邪。只從此藥加減治之。然治病之法。不可失其通塞。或一氣之微汗。或一旬之通利。如此為常治之法也。久則清濁自分。榮衛自和。如初覺風動。服此不致倒仆。</p>
<p>羌活　甘草　防風　蔓荊子　川芎　細辛　枳殼　人參　麻黃　甘菊　薄荷　枸杞子　當歸　知母　地骨皮黃　獨活　杜仲　吳白芷　秦艽　柴胡　半夏　前胡　厚朴　熟地黃　防己（各二兩）　茯苓　黃芩（各三兩）</p>
<p>石膏（四兩）　芍藥（三兩）　生地黃　蒼朮（各四兩）　桂枝（一兩）　以上三十三味通七十四兩上　。每服一兩。水二盞。煎至一盞。去渣溫服。如遇天陰。加生薑煎。空心一服。臨臥再煎藥渣服。俱要食遠服。空心一服。　下二丹丸。為之重劑。臨臥一服。　下四白丹。為之輕劑。動以安神。靜以清肺。</p>
<p>假令一氣之微汗。用愈風湯三兩。麻黃一兩。均作四服。一服加生薑五片。空心服。以粥投之。得微汗則佳。</p>
<p>如一旬之通利。用愈風三兩。大黃一兩。亦均作四服。如前煎。臨臥服。得利則妙。常服之藥。不可失四時之轉。如望春大寒之後。加半夏二兩。通四兩。柴胡二兩。通四兩。人參二兩。通四兩。謂迎而奪少陽之氣也。</p>
<p>初夏之月。加石膏二兩。通六兩。黃芩二兩。通五兩。知母二兩。通四兩，謂迎而奪陽明之氣也。季夏之月。</p>
<p>加防己二兩。通四兩。白朮二兩。茯苓二兩。通五兩。謂勝脾土之濕也。初秋大暑後。加厚朴二兩。通四兩。</p>
<p>藿香二兩。桂一兩。通二兩。謂迎而奪太陰之氣也。霜降之後望冬。加附子一兩。桂一兩。通二兩。當歸二兩。</p>
<p>通四兩。謂勝少陰之氣也。得春減冬。四時類此。雖立法於四時之加減。又宜臨病之際。審病之虛實熱寒。土地之宜。邪氣之多少。此藥具七情六欲四氣。無使五臟偏勝。及不動於榮衛。如風秘服之。則永不燥結。如久瀉服之。則能自調。初覺風氣。便能服此藥。及新方中天麻丸各一料。相為表裡。治未病之勝藥也。及已病者。更宜常服。無問男子婦人。及小兒驚癇搐急慢驚風等病。服之神效。如解利四時傷風。隨四時加減法。又療脾腎虛。</p>
<p>筋弱語言難。精神昏憒。及治內弱風濕。內弱者。乃風濕火。先體重者。乃風濕。土余內弱之為病。或一臂肢體偏枯。或肥而半身不遂。或恐而健忘。喜以多思。故思忘之道。皆情不足也。是以心亂則百病生。心靜則萬病悉去。故此能安心養神。調陰陽無偏勝及不動榮衛。</p>
<p><u>四白丹</u></p>
<p>　能清肺氣養魄。謂中風者。多昏冒。氣不清利也。</p>
<p>白朮（半兩）　白芷（一兩）　白茯苓（半兩）　白檀（一兩半）　人參（半兩）　知母（三錢）　縮砂仁（半兩）　羌活（二錢半）　薄荷（三錢半）　獨活（二錢半）　防風　川芎（各五錢）　細辛（二錢）</p>
<p>甘草（五錢）　甜竹葉（一兩）　香附子（五錢炒）　龍腦（半錢另研）　麝香（一字另研）　牛黃（半錢）</p>
<p>藿香（一錢半）</p>
<p>上件二十味。計八兩六錢一字為細末。煉蜜為丸。每兩作十丸。臨臥嚼一丸。分五七次嚼之。上清肺氣。</p>
<p>下強骨髓。</p>
<p><u>二丹丸</u></p>
<p>　治健忘。養神定志和血。內安心神。外華腠理。</p>
<p>丹參（一兩半）　丹砂（二錢為衣）　遠志（去心半兩）　茯神（一兩）　人參（五錢）　菖蒲（五錢）</p>
<p>熟地黃（一兩半）　天門冬（一兩半去心）　麥門冬（一兩去心）　甘草（一兩）</p>
<p>上為細末。煉蜜為丸。如桐子大。每服五十丸。至一百丸。空心食前常服安神定志。一藥清肺。一藥安神。</p>
<p>故清中清者歸肺以助天真。清中濁者。堅強骨髓。血中之清。榮養於神。血中之濁。榮華腠理。如素有痰。久病中風。津液涌溢在胸中。氣所不利。用獨聖散吐之。後用利氣瀉火之劑。本方在後。</p>
<p><u>瀉青丸</u></p>
<p>　治中風自汗昏冒。發熱不惡寒。不能安臥。此是風熱煩躁。</p>
<p>當歸　龍膽　川芎　梔子　羌活　大黃　防風（各等分）</p>
<p>上為細末。煉蜜為丸。如彈子大。每服一丸。竹葉湯化下。</p>
<p><u>天麻丸</u></p>
<p>　系新方中。</p>
<p>天麻（三兩酒浸三日曝乾秤）　牛膝（六兩同上浸）　當歸（十兩）　杜仲（七兩炒去絲）　玄參（六兩）</p>
<p>羌活（十兩）　萆　（六兩別碾為細末秤）　生地黃（十六兩）　附子（一兩）</p>
<p>上為細末。煉蜜為丸。如桐子大。常服五七十丸。病大至百丸。空心食前溫酒或白湯下。平明服藥。至日高飢則止服藥。大忌壅塞。失於通利。故服藥半月。稍覺壅。微以七宣丸輕疏之。使藥再為用也。牛膝萆　治筋骨。杜仲治筋骨相著。天麻羌活利風之勝藥。當歸地黃養血能和榮衛。玄參主用。附子佐之。行經也。</p>
<p><u>獨聖散</u></p>
<p>　治諸風膈實。諸癇痰涎。津液涌溢。雜病亦然。</p>
<p>瓜蒂（一兩）</p>
<p>上　如麻豆大。炒令黃色。為細末。每服量虛實久新。或三錢藥末。茶一錢。酸齏汁一盞調下。若用吐法。</p>
<p>天氣晴明。陰晦毋用。如病卒暴者。不拘於此法。吐時辰巳午前。故內經曰。平旦至日中。天之陽。陽中之陽也。論四時之氣。仲景曰。大法春宜吐。是天氣在上。人氣亦在上。一日之氣。寅卯辰之候也。故宜早不宜夜也。先令病患隔夜不食。服藥不吐。再用熱齏水投之。如吐風癇病者。加全蠍半錢微炒。如有蟲者。加狗油五七點。雄黃末一錢。甚者加芫花末半錢。立吐其蟲出。如濕腫滿者。加赤小豆末一錢。故此不可常用。大要辨其虛實。實則瓜蒂散。虛則梔子豉湯。滿加厚朴。不可一概用之。吐罷可服降火利氣安神定志之劑。治風癇病不能愈者。從厚朴丸宜春秋加添外。又於每一料中。加人參　菖蒲　茯神（去木各一兩半）　上依厚朴丸春秋加添法。和劑服餌。厚朴丸方。在吐論中。</p>
<p><u>防風通聖散</u></p>
<p>防風　川芎　當歸　芍藥　大黃　芒硝　連翹　薄荷麻黃（不去節各半兩）　石膏　桔梗　黃芩（各一兩）　白朮　山梔子　荊芥穗（各二錢半）　滑石（三兩）</p>
<p>甘草（二兩）</p>
<p>上為粗末。每服一兩。生薑同煎。溫服。日再服。勞汗當風。汗出為　。郁乃痤。勞汗出於玄府。脂液所凝。去芒硝。倍加芍藥當歸。發散玄府之風。當調其榮衛。俗云風刺。或生癮疹。或赤或白。倍加麻黃鹽豉蔥白出其汗。麻黃去節。亦去芒硝。咸走血而內凝。故不能發。汗罷依前方中。加四物湯黃連解毒。三藥合而飲之。日二服。故內經曰。以苦發之。謂熱在肌表連內也。小便淋閉。去麻黃。加滑石連翹。煎藥湯調木香末二錢。麻黃主表。不主於裡。故去之。腰脅痛走注疼痛者。加硝石當歸甘草一服各二錢。調車前子末海金砂各一錢。內經曰。腰者腎之府。破傷風者。如在表則辛以散之。在裡則苦以下之。兼散之。汗下後。通利血氣。祛逐風邪。每一兩內。加荊芥穗大黃各二錢。調全蠍末一錢。羌活末一錢。諸風潮搐。小兒急慢驚風。大便秘結。邪熱暴甚。腸胃干燥。寢汗切牙上竄睡語。筋轉驚悸。肌肉蠕動。每一兩。加大黃二錢。梔子二錢。調茯苓二錢。如肌肉蠕動者。調羌活末一錢。故經曰肌肉蠕動。命曰微風。風傷於肺。咳嗽喘急。每一兩。加半夏桔梗紫菀各二錢。如打撲傷損。肢節疼痛。腹中惡血不下。每一兩加當歸大黃各三錢半。調沒藥乳香末各二錢。</p>
<p>解利四時傷寒。內外所傷。每一兩內。加益元散一兩。蔥白十莖。鹽豉一合。生薑半兩。水一碗。同煎至五七沸。或煎一小碗。溫冷服一半。以筋探之即吐。罷後服一半。稍熱服。汗出立解。如飲酒中風。身熱頭痛如破者。加黃連須二錢。蔥白十莖。依法立愈。慎勿用桂枝麻黃解之。頭旋腦熱。鼻塞。濁涕時下。每一兩加薄荷黃連各二錢半。內經曰。膽移熱於腦。則辛　鼻淵。鼻淵者。濁涕下不已也。王注曰。膽移熱於腦。腦液下滲則為濁涕。涕下不止如彼水泉。故曰鼻淵也。此為足太陽脈與陽明之脈俱盛也。如氣逆者。調木香末一錢。</p>
<h3>癘風論第十一</h3>
<p>內經曰。癘者。有榮氣熱　。其氣不清。故使其鼻柱壞而色敗。皮膚瘍潰。風寒客於脈而不去。名曰癘風。</p>
<p>又曰。脈風成為癘。俗云癩病也。故治法云。病大風骨節重。須眉墮。名曰大風。刺肌肉為故。汗出百日。王注曰。泄衛氣之怫熱。刺骨髓汗出百日。泄榮氣之怫熱。凡二百日。須眉生而止針。怫熱屏退。陰氣內復。故多汗出須眉生也。先樺皮散。從少至多。服五七日後。灸承漿穴七壯。灸瘡輕再灸。瘡愈再灸。後服二聖散泄熱祛血之風邪。戒房室三年。針灸藥止述類象形。此治肺風之法也。然非止肺臟有之。俗云鼻屬肺。而病發於肺。</p>
<p>端而言之不然。如此者。既鼻準腫赤脹。但為瘡之類。乃謂血隨氣化。既氣不施化。則血聚矣。然血既聚。</p>
<p>使肉腐爛而生蟲也。謂厥陰主生五蟲。厥陰為風木。故木主生五蟲。蓋三焦相火熱甚而制金。金衰故木來克侮。</p>
<p>經曰侮勝也。宜瀉火熱利氣之劑。蟲自不生也。法云流水不腐。戶樞不蠹。此之謂也。故此疾血熱明矣。當以藥緩疏泄之。煎局方內升麻湯。下錢氏內瀉青丸。余各隨經言之。故病風者。陽氣先受傷也。</p>
<p><u>樺皮散</u></p>
<p>　治肺臟風毒。遍身瘡疥。及癮疹瘙癢。搔之成瘡。又治面風刺。及婦人粉刺。</p>
<p>樺皮（四兩燒灰）　荊芥穗（二兩）　甘草（半兩炙）　杏仁（二兩去皮尖用水一碗於銀器內熬去水一半放令干）　枳殼（四兩去蘆用炭火燒欲灰於濕紙上令冷）</p>
<p>上件除杏子外。余藥為末。將杏子別研令細。次同諸藥令勻。瓷盒內放之。每服三錢。食後溫酒調下。</p>
<p><u>二聖散</u></p>
<p>　治大風癘疾。</p>
<p>大黃（半兩）　皂角刺（三錢燒灰）</p>
<p>上將皂角刺一二斤。燒灰研細。煎大黃半兩。湯調下二錢。早服樺皮散。中煎升麻湯下瀉青丸。晚服二聖散。此數等之藥。皆為緩疏泄血中之風熱也。</p>
<p><u>七聖丸</u></p>
<p>　郁李仁（去皮）　大黃（蒸焙各一兩）　肉桂（去粗皮）　羌活（去蘆）　檳榔（生）</p>
<p>木香（生）　川芎（各半兩）</p>
<p><u>七宣丸</u></p>
<p>　訶黎勒皮　柴胡（去苗洗）　枳實（　）　木香（各五兩）　桃仁（去皮尖　六兩）　大黃（面裹煨十五兩）　甘草（　六兩）</p>
<p>皆治風壅邪熱。潤利大腸。中風風癇癘風。大便秘澀。皆可服之。此方局方中治法曰。雖訶子味苦澀。而能止臟腑。此利藥中用訶子。令大黃枳實緩緩而推陳。泄去邪氣。若年老風秘澀者。乃津液內亡也。故不可用峻劑攻之。內經曰。年四十而陰氣自半也。起居衰矣。年五十體重耳目不聰明矣。年六十陰痿氣大衰。九竅不利。下虛上實。涕泣出矣。故曰知之則強。不知則老。舉世皆言。年老之人。無熱俱虛。豈不明年四十而陰氣自半。故陰虛陽盛明矣。是以陰虛其下。陽甚於上。故上實下虛。此理明矣。</p>
<h3>破傷風論第十二</h3>
<p>論曰。夫風者。百病之始也。清淨則腠理閉拒。雖有大風苛毒。而弗能為害也。故破傷風者。通於表裡。</p>
<p>分別陰陽。同傷寒證治。閭閻往往有不知者。只知有發表者。不知有攻裡者和解者。此汗下和三法也。亦同傷寒證。有在表者。有在裡者。有半在表半在裡者。在裡宜下。在表宜發汗。在表裡之間宜和解。然汗下亦不可過其法也。又不可妄意處治。各通其臟腑。免汗泄之非宜也。故破傷風者。從外至內甚於內者。則病也。因此卒暴傷損風襲之間。傳播經絡。至使寒熱更作。身體反強。口噤不開。甚者邪氣入臟。則分汗下之治。諸瘡不瘥。榮衛虛。肌肉不生。瘡眼不合者。風邪亦能外入於瘡。為破傷風之候。故諸瘡不瘥時。舉世皆言著灸為上。是謂熟瘡。而不知火熱客毒逐經諸變。不可勝數。微則發熱。甚則生風而搐。或角弓反張。口噤目邪。皆因瘡郁結於榮衛。不得宣通而生。亦有破傷不灸而病此者。瘡著白痂。瘡口閉塞。氣難通泄。故陽熱易為郁結。而熱甚則生風也。</p>
<p>故表脈浮而無力。太陽也。脈長而有力者。陽明也。脈浮而弦小者。少陽也。太陽宜汗。陽明宜下。少陽宜和。</p>
<p>若明此三法。而治不中病者。未之有也。</p>
<p><u>羌活防風湯</u></p>
<p>　治破傷風邪。初傳在表。</p>
<p>羌活　防風　川芎　本　當歸　芍藥　甘草（各一兩）　地榆　華細辛（各二兩）</p>
<p>上　咀。每服五七錢。水一盞半。同煎至七分。去滓熱服。不拘時候。量緊慢加減用之。熱則加大黃二兩。</p>
<p>大便秘。則加大黃一兩。緩緩令過。</p>
<p><u>白朮防風湯</u></p>
<p>　若服前表藥過。有自汗者。宜服此藥。</p>
<p>白朮（一兩）　防風（二兩）　黃　（一兩）</p>
<p>上　咀。每服五七錢。水一盞半。煎至一盞。去滓溫服。不拘時候。</p>
<p>臟腑和而有自汗。可用此藥。</p>
<p>破傷風臟腑秘。小便赤。自汗不止者。因用熱藥。汗出不休。故知無寒也。宜速下之。先用芎黃湯。三二服後。用大芎黃湯下之。</p>
<p><u>芎黃湯</u></p>
<p>川芎（一兩）　黃芩（六錢）　甘草（二錢）</p>
<p>上　咀。每服五七錢。水一盞半。同煎至七分。去渣溫服。不拘時候。三服即止。再用下藥。</p>
<p><u>大芎黃湯</u></p>
<p>川芎（二兩）　羌活　黃芩　大黃（各一兩）</p>
<p>上　咀。依前煎服。宜利為度。</p>
<p><u>發表雄黃散</u></p>
<p>雄黃（一錢）　防風（二錢）　草烏（一錢）</p>
<p>上件為細末。每服一字。溫酒調下。裡和至愈可服。裡不和不可服。</p>
<p><u>蜈蚣散</u></p>
<p>蜈蚣（一對）　鰾（五錢）　左蟠龍（五錢炒煙盡為度野鴿糞是也）</p>
<p>上件為細末。每服一錢。清酒調下。治法依前用。裡和至愈可服。但有裡證不可服。次當下之。用前蜈蚣散四錢。燒飯為丸。如綠豆大。每服一丸。漸加六七丸。清酒調蜈蚣少許送下。宣利為度。內外風去。可常服羌活湯。緩緩而治。不拘時候服之。羌活湯者。治半在表半在裡也。</p>
<p><u>羌活湯</u></p>
<p>羌活　菊花　麻黃　川芎　防風　石膏　前胡　黃芩　細辛　甘草　枳殼　白茯苓　蔓荊子（各一兩）</p>
<p>薄荷（半兩）　吳白芷（半兩）</p>
<p>上　咀。每服五錢。水一盞半。入生薑五片。同煎至一盞。去渣稍熱服。不拘時候。日進二服。</p>
<p><u>防風湯</u></p>
<p>　治破傷風同傷寒表證。未解入裡。宜急服此藥。</p>
<p>防風　羌活　獨活　川芎（各等分）</p>
<p>上　咀。每服五錢。水一盞半。煎至七分。去滓溫服。二三服後。宜調蜈蚣散。大效。</p>
<p><u>蜈蚣散</u></p>
<p>蜈蚣（一對）　鰾（三錢）</p>
<p>上為細末。用防風湯調下。如前藥解表不已。覺轉入裡。當服左龍丸微利。看大便硬軟。加巴豆霜服之。</p>
<p><u>左龍丸</u></p>
<p>左蟠龍（五錢炒）　白僵蠶　鰾（各五錢炒）　雄黃（一錢）</p>
<p>上同為細末。燒餅為丸。如桐子大。每服十五丸。溫酒下。如裡證不已。當於左龍丸末一半內。入巴豆霜半錢。燒餅為丸。如桐子大。每服一丸。同左龍丸一處合服。每服藥中加一丸。如此漸加服至利為度。若利後更服後藥。若搐　不已。亦宜服後藥羌活湯也。</p>
<p><u>羌活湯</u></p>
<p>羌活　獨活　防風　地榆（各一兩）</p>
<p>上　咀。每服五錢。水一盞半。煎至一盞。去滓溫服。如有熱加黃芩。有涎加半夏。若病日久。氣血漸虛。</p>
<p>邪氣入胃。宜養血為度。</p>
<p><u>養血當歸地黃散</u></p>
<p>當歸　地黃　芍藥　川芎　本　防風　白芷（各一兩）　細辛（五錢）</p>
<p>上　咀。依前煎服。</p>
<p><u>雄黃散</u></p>
<p>　治表藥。</p>
<p>天南星（三錢）　半夏　天麻（各五錢）　雄黃（二錢半）</p>
<p>上為細末。每服一錢。溫酒調下。如有涎。於此藥中加大黃為下藥。</p>
<p><u>地榆防風散</u></p>
<p>　治破傷中風。半在表。半在裡。頭微汗。身無汗。不可發汗。宜表裡治之。</p>
<p>地榆　防風　地丁香　馬齒莧（各等分）</p>
<p>上件為細末。每服三錢。溫米飲調下。</p>
<p><u>白朮湯</u></p>
<p>　治破傷風。大汗不止。筋攣搐搦。</p>
<p>白朮　葛根（各一兩）　升麻　黃芩（各半兩）　芍藥（二兩）　甘草（二錢半）</p>
<p>上　咀。每服一兩。水一盞半。煎至一盞。去滓溫服。不拘時候。</p>
<p><u>江鰾丸</u></p>
<p>　治破傷風。驚而發搐。臟腑秘澀。知病在裡。可用江鰾丸下之。</p>
<p>江鰾（半兩　炒）　野鴿糞（半兩炒）　雄黃（一錢）　白僵蠶（半兩）　蜈蚣（一對）　天麻（一兩）</p>
<p>上件為細末。又將藥末作二分用。一分燒餅為丸。如桐子大。朱砂為衣。後一分入巴豆霜一錢同和。亦以燒餅為丸。如桐子大。不用朱砂為衣。每服朱砂為衣者二十丸。入巴豆霜者一丸。第二服二丸。加至利為度。</p>
<p>再服朱砂為衣藥。病愈止。</p>
<p><u>沒藥散</u></p>
<p>　治刀箭所傷。止血定痛。</p>
<p>定粉（一兩）　風化灰（一兩）　枯白礬（三錢另研）　乳香（半錢另研）　沒藥（一字另研）</p>
<p>上件各研為細末。同和勻再研摻之。</p>
<h3>解利傷寒論第十三</h3>
<p>論曰。傷寒之法。先言表裡。及有緩急。三陽表當急。裡當緩。三陰表當緩。裡當急。又曰。脈浮當汗。</p>
<p>脈沉當下。脈浮汗急而下緩。謂三陽表也。脈沉下急而汗緩。謂三陰裡也。麻黃湯謂之急。麻黃附子細辛湯謂之緩。內經云。有漬形以為汗。為汗之緩。裡之表也。又曰在皮者汗而發之。為汗之急。表之表也。急汗者太陽。緩汗者少陰。是臟腑之輸應也。假令麻黃附子細辛湯。是少陰證。始得發熱脈沉裡和無汗。故漬形以為汗。</p>
<p>假令麻黃湯。是太陽證。頭項痛腰脊強。脈浮無汗裡和是也。在皮者汗而發之也。經曰。治主以緩。治客以急。</p>
<p>此之謂也。</p>
<p><u>麻黃湯</u></p>
<p>麻黃（去節五錢）　桂枝（三錢）　甘草（二錢炙）　杏仁（去皮尖炒二十個）</p>
<p>上　咀。都作一服。水煎去滓溫服。</p>
<p>假令得肝脈。其外證善潔。面青善怒。其三部脈俱弦而浮。惡寒裡和。謂清便自調也。麻黃湯內加羌活防風各三錢。謂肝主風。是膽經受病。大便秘。或泄下赤水無數。皆裡不和也。</p>
<p>假令得心脈。其外證面赤口乾善笑。其尺寸脈俱浮而洪。惡寒裡和。謂清便自調也。麻黃湯內加黃芩石膏各三錢。謂主心熱。是小腸受病也。</p>
<p>假令得脾脈。其外證面黃善噫善思善味。尺寸脈俱浮而緩。裡和惡寒。麻黃湯內加白朮防己各五錢。謂脾主濕。是胃經受病也。</p>
<p>假令得肺脈。其外證面白善嚏。悲愁不樂欲哭。其尺寸脈俱浮而澀。裡和惡寒。麻黃湯內加桂枝生薑各三錢。謂肺主燥。是大腸受病也。</p>
<p>假令得腎脈。其外證面黑善恐。其尺寸脈俱浮。而裡和惡寒。其麻黃湯內加附子生薑。謂腎主寒。是膀胱受病也。</p>
<p>以上各五證。皆表之表。謂在皮者急汗而發之也。皆腑受病。表之裡者。下之當緩。謂隨臟表證。外顯尺寸脈俱浮。而復有裡證。謂發熱飲水便利赤澀。或泄下赤水。按之內實或痛。麻黃湯去麻黃杏仁。與隨臟元加藥同煎。作五服。每下一證。初一服加大黃半錢。邪盡則止。未盡第二服加大黃一錢。邪未盡第三服加大黃一錢半。如邪未盡。又加之。邪盡則止。此所謂先緩而後急。是表之裡證。下之當緩也。</p>
<p><u>麻黃附子細辛湯</u></p>
<p>麻黃（半兩去根節）　細辛（半兩去苗土）　附子（一錢二分半炮裂去皮臍）</p>
<p>上　咀。都作一服。水煎去滓溫服。</p>
<p>假令得肝脈。其內證滿閉淋溲便難轉筋。其尺寸脈俱沉而弦。裡和惡寒。肝經受病。麻黃附子細辛湯內。</p>
<p>加羌活防風各三錢。</p>
<p>假令得心脈。其內證煩心心痛。掌中熱而噦。其尺寸脈俱沉。裡和惡寒。心經受病。加黃芩石膏各三錢。</p>
<p>假令得脾脈。其內證腹脹滿食不消。怠惰嗜臥。其尺寸脈俱沉。裡和惡寒。脾經受病。加白朮防己各三錢。</p>
<p>假令得肺脈。其內證喘咳洒淅寒熱。其尺寸脈俱沉。裡和惡寒。肺經受病。加生薑桂枝各三錢。</p>
<p>假令得腎脈。其內證泄如下重。足脛寒而逆。其尺寸脈俱沉。裡和惡寒。腎經受病。更加附子生薑各三錢。</p>
<p>以上五證。裡之表也。宜漬形以為汗。皆臟受病也。裡者下之當急。謂隨臟內證。已顯尺寸脈俱沉。復有裡證者。謂大小便秘澀或泄下赤水。或瀉無數。不能飲食。不惡風寒。發熱引飲。其脈俱沉。或按之內實而痛。</p>
<p>此謂裡實。宜速下之。麻黃附子細辛內去麻黃。與隨臟元加藥內。分作三服。每下一證。初一服加大黃三錢。</p>
<p>邪盡則止。如邪未盡。再一服加大黃二錢。又未盡。第三服加大黃一錢。此先急而後緩。謂裡之裡也。當速下之也。</p>
<p>通解利傷寒。不問何經所受。皆能混然解之。謂不犯各經之受病。雖不解盡。亦無壞證。</p>
<p><u>羌活湯</u></p>
<p>羌活（二兩）　防風（一兩）　川芎（一兩）　黃芩（一兩）　細辛（三錢半）　甘草（一兩炒）</p>
<p>黑地黃（一兩炒）　白朮（三兩如無用蒼朮加一兩）</p>
<p>上　咀。每服五七錢。水二盞。煎至一盞。無時溫服清。如覺發熱引飲。加黃芩甘草各一兩。更隨證。如頭痛惡風。於白朮湯一兩內。加羌活散三錢。都作一服。</p>
<p><u>羌活散</u></p>
<p>羌活（一兩半）　川芎（七錢）　細辛根（二錢半）</p>
<p>如身熱。依前加石膏湯四錢。</p>
<p><u>石膏湯</u></p>
<p>石膏（二兩）　知母（半兩）　白芷（七錢）</p>
<p>如腹中痛者。加芍藥散三錢。</p>
<p><u>芍藥散</u></p>
<p>芍藥（二兩）　桂枝（五錢）</p>
<p>如往來寒熱而嘔。加柴胡散二錢半。</p>
<p><u>柴胡散</u></p>
<p>柴胡根（一兩）　半夏（五錢洗）</p>
<p>加生薑煎。如心下痞。加枳實一錢。如有裡證。加大黃。初一服一錢。次二錢。又三錢。邪盡則止。</p>
<p>論曰。有汗不得服麻黃。無汗不得服桂枝。然春夏汗孔疏。雖有汗不當用桂枝。宜用黃　湯和解。秋冬汗孔閉。雖無汗不當用麻黃。宜用川芎湯和解。春夏有汗。脈乃微而弱。惡風惡寒者。乃太陽證。秋冬之脈也。</p>
<p>亦宜黃　湯。無汗亦宜川芎湯。秋冬有汗。脈盛而浮。發熱身熱者。乃陽明證。春夏之脈也。亦宜黃　湯。</p>
<p>無汗亦宜川芎湯。大抵有汗者。皆可用黃　湯。無汗者亦可用川芎湯。</p>
<p><u>黃　湯</u></p>
<p>　有汗則可止也。</p>
<p>黃　白朮　防風（各等分）</p>
<p>上　咀。每服五七錢。至十余錢。或半兩一兩。水煎溫服清。汗多惡風甚者。加桂枝。</p>
<p><u>川芎湯</u></p>
<p>　無汗則可發也。</p>
<p>川芎　白朮　羌活（各等分）</p>
<p>上　咀。同黃　湯煎法。稍熱服。惡寒甚及脈大浮可加麻黃。法云。五臟之脈。寸關尺也。今止言尺寸陰陽也。如陽緩而陰急。表和而裡病。陰緩而陽急。裡和而表病也。</p>
<p>若傷寒食少發渴。只可和胃止渴。不可太涼藥止之。然恐涼藥止之。損著胃氣。必不能食也。</p>
<p><u>和胃白朮湯</u></p>
<p>白朮　茯苓起臥不能謂之濕。身重是也。小柴胡湯黃芩芍藥湯。</p>
<p>起臥不安。眠睡不穩。謂之煩。梔豉湯竹葉石膏湯。解利四時傷寒。混解六經。不犯禁忌。</p>
<p><u>大白朮湯</u></p>
<p>白朮（二兩）　防風　羌活　川芎（各一兩）　黃芩（五錢）　細辛（三錢）　白芷（一兩半）　石膏（二兩）</p>
<p>知母（七錢）　甘草（五錢或一兩）　枳實（五錢去穰）</p>
<p>上為粗末。每服半兩水一盞半。煎至一盞。大溫服清。未解更一服兩服。藥滓又作一服。春倍防風羌活。夏倍黃芩知母。季夏雨淫倍白朮白芷。秋加桂枝五錢。冬桂枝八錢或一兩。立夏之後至立秋處暑之間傷寒者。身多微涼。</p>
<p>微有自汗。四肢沉重。謂之濕溫。又謂之濕淫。宜蒼朮石膏湯。</p>
<p><u>蒼朮石膏湯</u></p>
<p>蒼朮（半兩）　石膏（三錢）　知母（一錢半）　甘草（一錢）</p>
<p>上　細。同和均。都作一服。水二盞。煎至一盞。溫服清。謂內有濕熱也。多不欲飲水。如身熱脈洪無汗多渴者。是熱在上焦。積於胸中。宜桔梗散治之。</p>
<p><u>桔梗散</u></p>
<p>薄荷　黃芩　甘草　山梔子（各一錢）　桔梗（半兩）　連翹（二錢）</p>
<p>上　。每服五錢或七錢。秤半兩水煎。加竹葉。如大便秘結。加大黃半錢。</p>
<h3>熱論第十四</h3>
<p>論曰。有表而熱者。謂之表熱也。無表而熱者。謂之裡熱也。有暴發而為熱者。乃久不宣通而致也。有服溫藥過劑而為熱者。有惡寒戰栗而熱者。蓋諸熱之屬者。心火之象他。王注曰。百端之起。皆自心生。是以上善若水。下愚若火。治法曰。少熱之氣。涼以和之。大熱之氣。寒以取之。甚熱之氣。則汗發之。發之不盡。則逆治之。制之不盡。求其屬以衰之。故曰苦者以治五臟。五臟屬陰而居於內。辛者以治六腑。六腑屬陽而在於外。故內者下之。外者發之。又宜養血益陰。其熱自愈。此所謂不治而治也。故不治謂之常治。治之不治。謂之暴治。</p>
<p>經所謂諸寒而熱者取之陰。諸熱而寒者取之陽。此所謂求其屬也。王注曰。益火之源。以消陰翳。用水之主。</p>
<p>以制陽光。此之謂也。</p>
<p>病有暴熱者。病在心肺。有積熱者。病在腎肝。暴熱者宜局方中雄黃解毒丸。積熱者局方中妙香丸。暴熱上喘者。病在心肺。謂之高喘。木香金鈴子散。上焦熱而煩者。牛黃散。臟腑秘者。大黃牽牛散。上焦熱無他證者。桔梗湯。有虛熱不能食而熱者。脾虛也。宜以厚朴白朮陳皮之類治之。有實熱能食而熱者。胃實也。</p>
<p>宜以梔子黃芩湯。或三黃丸之類治之。鬱金柴胡之類亦是也。有病久憔悴發熱盜汗。謂五臟齊損。此熱勞骨蒸病也。瘦弱虛煩。腸　下血。皆蒸勞也。宜養血益陰。熱能自退。當歸生地黃或錢氏地黃丸是也。</p>
<p><u>木香金鈴子散</u></p>
<p>　治暴熱。心肺上喘不已。</p>
<p>大黃（半兩）　金鈴子　木香（各三錢）　輕粉（少許）　朴硝（二錢）</p>
<p>上為細末。柳白皮湯調下三錢或四錢。食後服。以利為度。喘止即止。</p>
<p><u>牛黃散</u></p>
<p>　治上焦熱而煩。不能睡臥。</p>
<p>梔子（半兩）　大黃（半兩）　鬱金（半兩）　甘草（二錢半）</p>
<p>上為細末。每服五錢。水煎溫服食後。微利則已。</p>
<p><u>大黃牽牛散</u></p>
<p>　治相火之氣。游走臟腑。大便秘結。</p>
<p>大黃（一兩）　牽牛（頭末五錢）</p>
<p>上為細末。每服三錢。有厥冷。用酒調三錢。無厥冷而手足煩熱者。蜜湯調下食後。微利為度。此謂不時而熱者。濕熱也。</p>
<p><u>地黃丸</u></p>
<p>　治久新憔悴。寢汗發熱。五臟齊損。瘦虛弱煩。腸　下血。骨蒸痿弱無力。不能運動。</p>
<p>熟地黃（一兩）　山茱萸（四錢）　干山藥（四錢）　牡丹皮　白茯苓　澤瀉（各三錢）</p>
<p>上為細末。煉蜜為丸。如桐子大。每服五十丸。空心溫酒送下。如煩渴皮膚索澤。食後煎服防風飲子。空心服地黃丸。</p>
<p><u>防風當歸飲子</u></p>
<p>柴胡　人參　黃芩　甘草（各一兩）　大黃　當歸　芍藥（各半兩）　滑石（三兩）</p>
<p>上為粗末。每服五錢。水一盞半。生薑三片。同煎至七分。去滓溫服。如痰實咳嗽。加半夏。如大便黃。</p>
<p>米穀完出。驚懼溺血淋閉咳血衄血。自汗頭痛積熱肺痿。後服大金花丸。</p>
<p><u>大金花丸</u></p>
<p>黃連　黃柏　黃芩　山梔子（各一兩）</p>
<p>上為細末。滴水為丸。如小豆大。每服一百丸。溫水下。日二三服。或大便實。加大黃。自利不用大黃。</p>
<p>如中外有熱者。此藥　作散服名解毒湯。或腹滿嘔吐。欲作利者。每服半兩解毒湯中加半夏茯苓厚朴各三錢。</p>
<p>生薑三片。如白膿下痢後重者。加大黃三錢。</p>
<p><u>涼膈散</u></p>
<p>　加減附於後連翹　山梔子　大黃　薄荷葉　黃芩（各半兩）　甘草（一兩半）　朴硝（二錢半）</p>
<p>上件為粗末。每服半兩。水一盞半。煎至一盞。去滓入蜜一匙。微煎溫服。食後。</p>
<p>咽嗌不利。腫痛並涎嗽者。加桔梗一兩。荊芥穗半兩。咳而嘔者。加半夏二錢半。生薑一錢。</p>
<p>如鼻衄嘔血者。加當歸芍藥生地黃各半兩。一料內服。如淋閉者。加滑石四兩。茯苓一兩。</p>
<p>或閉而不通。臍下狀如復碗。痛悶不可忍者。乃腸胃干涸。膻中氣不下故。經所謂膀胱者。州都之官。津液藏焉。氣化則能出矣。故膻中者。臣使之官名。三焦相火。下合右腎。為氣海也。王注曰。膀胱位當孤府。</p>
<p>故謂都官。居下內空。故藏津液。若得氣海之氣施化。則溲便注泄。氣海之氣不及。則　隱不通。故不得便利也。先用沉香木香各三錢。酒調下。或八正散。甚則宜上涌之。令氣通達。小便自通。經所謂病在下。上取之。</p>
<p>王注曰。熱攻於上。不利於下。氣盛於上。則溫辛散之。苦以利之可也。</p>
<p><u>當歸承氣湯</u></p>
<p>當歸　大黃（各一兩）　甘草（半兩）　芒硝（九錢）</p>
<p>上　如麻豆大。每服二兩。水一大碗。入生薑五片。棗十枚。同煎至半碗。去滓熱服。若陽狂奔走罵詈不避親疏。此陽有餘陰不足。大黃芒硝去胃中實熱。當歸補血益陰。甘草緩中。加生薑棗。胃屬土。此引至於胃中也。經所謂微者逆之。甚者從之。此之謂也。以大利為度。微緩以瓜蒂散加防風藜蘆。吐其病自愈。後調洗心散涼膈散解毒湯等藥調治之。</p>
<p><u>牛黃膏</u></p>
<p>　治熱入血室。發狂不認人者。</p>
<p>牛黃（二錢半）　朱砂　鬱金　牡丹皮（各三錢）　腦子　甘草（各一錢）</p>
<p>上為細末。煉蜜為丸。如皂子大。新水化下。</p>
<p>治暴熱者。局方中解毒雄黃丸　雄黃（碎飛）　鬱金（各一分）　巴豆（去皮出油十四個）。</p>
<p>治久熱者。局方中</p>
<p><u>妙香丸。</u></p>
<p>辰砂（飛研九兩）　牛黃　龍腦　膩粉（研）　麝香（研各三兩）　金箔（九十片研）　巴豆（三百一十粒去心腹炒研細）</p>
<p>治虛勞骨蒸。煩熱下血者。錢氏地黃丸。</p>
<p>治虛熱不能食者。脾虛也。宜以厚朴白朮陳皮之類治之。</p>
<p>治實熱能食者。胃實也。宜以梔子黃芩或三黃丸之類治之。鬱金柴胡亦可。</p>
<p>治表熱惡寒而渴。白虎湯也。</p>
<p>膚如火燎而熱。以手取之不甚熱。為肺熱也。目白睛赤。煩燥或引飲。獨黃芩一味主之。水煎。</p>
<p>兩脅下肌熱。脈浮弦者。柴胡飲子主之。</p>
<p>兩脅肋熱。或一身盡熱者。或日晡肌熱者。皆為血熱也。四順飲子主之。</p>
<p>夜發熱。主行陰。乃血熱也。四順桃仁承氣選用。當視其腹痛血刺痛。與有表入裡。腹中轉失氣燥結之異。</p>
<p>晝則明了。夜則譫語。四順飲子證。與桃仁承氣相似。不可不辨也。發熱雖無脅熱亦為柴胡證。晝則行陽二十五度。氣也。大抵柴胡。夜則行陰二十五度。血也。大抵四順飲子。</p>
<h3>內傷論第十五</h3>
<p>論曰。人之生也。由五穀之精。化五味之備。故能生形。經曰。味歸形。若傷於味。亦能損形。今飲食反過其節。腸胃不能勝。氣不及化。故傷焉。經曰。壯火食氣。氣食少火。壯火散氣。少火生氣。痹論曰。飲食自倍。腸胃乃傷。或失四時之調養。故能為人之病也。經曰。氣口緊而傷於食。心胸滿而口無味。與氣口同。</p>
<p>氣口者。乃脾之外候。故脾胃傷則氣口緊盛。夫傷者。有多少。有輕重。如氣口一盛。脈得六至。則傷於厥陰。</p>
<p>乃傷之輕也。檳榔丸主之。氣口二盛。脈得七至。則傷於少陰。乃傷之重也。煮黃丸厚朴丸主之。氣口三盛。</p>
<p>脈得八至。則傷於太陰。　塞悶亂。甚則心胃大痛。兀兀欲吐。得吐則已。俗呼食迷風是也。經曰。上部有脈。下部無脈。其人當吐。不吐則死。宜吐之以瓜蒂散。如不能則無治也。經曰。高者因而越之。下者引而竭之是也。</p>
<p><u>檳榔丸</u></p>
<p>檳榔（二錢半）　陳皮（去白一兩）　木香（二錢半）　牽牛（頭末半兩）</p>
<p>上為細末。醋糊為丸。如桐子大。每服十五丸。至二十丸。米飲下。生薑湯亦可。</p>
<p><u>煮黃丸</u></p>
<p>雄黃（一兩另研）　巴豆（五錢生用去皮研爛入雄黃末）</p>
<p>上二味再研。入白面二兩同再和研均。滴水為丸。如桐子大。每服時先煎漿水令沸。下藥二十四丸。煮三十沸。撈入冷漿水中。沉冰冷。一時下二丸。一日二十四丸也。加至微利為度。用浸藥水送下此藥。治脅下癖痛如神。</p>
<p><u>瓜蒂散</u></p>
<p>瓜蒂（三錢）　赤小豆（三錢）</p>
<p>上為細末。溫水調一錢。以吐為度。如傷之太重。備急丸獨行丸。皆急藥也。</p>
<p><u>金露丸</u></p>
<p>　治天行時疾。內傷飲食。心下痞悶。</p>
<p>大黃（二兩）　枳實（五錢麩炒）　牽牛（頭末二兩）　桔梗（二兩）</p>
<p>上同為細末。燒餅為丸。如桐子大。每服三五十丸。食後溫水下。如常服十丸二十丸。甚妙。</p>
<p><u>枳實丸</u></p>
<p>　治氣不下降。食難消化。常服進食逐飲。</p>
<p>枳實（五錢麩炒）　白朮（一兩）</p>
<p>上為細末。燒餅為丸。如桐子大。每服五十丸。米飲下。</p>
<p>治飲食不化。心腹膨悶。檳榔丸主之。</p>
<p>如甚則脅肋虛脹。煮黃丸主之。</p>
<p>治氣不下降。飲食難消。金露丸主之。</p>
<h3>諸瘧論第十六</h3>
<p>經曰。夏傷於暑。秋必病瘧。蓋傷之淺者。近而暴發。傷之重者。遠而　瘧。　者。久瘧也。是知夏傷於暑。濕熱閉藏。而不能發泄於外。邪氣內行。至秋而發為瘧也。初不知何經受之。隨其動而取之。有中三陽者。</p>
<p>有中三陰者。大抵經中邪氣。其證各殊。同傷寒論之也。故內經曰。五臟皆有瘧。其治各別。在太陽經者。謂之風瘧。治多汗之。在陽明經者。謂之熱瘧。治多下之。在少陽經者。謂風熱瘧。治多和之。此三陽經受病。</p>
<p>皆謂之暴瘧。發在夏至後處暑前。此乃傷之淺者。近而暴也。在陰經則不分三經。總謂之濕瘧。當從太陰經論之。其病發在處暑後冬至前。此乃傷之重者。遠而為　。　者。老也。故謂之久瘧。氣居西方。宜毒藥療之。</p>
<p>瘧之為病。因內積暑熱之氣。不能宣泄於外。而為瘧也。當盛夏之時。能食寒涼之物。而助陰氣者。縱使有暑熱之氣。微者自消矣。更時復以藥疏利臟腑。使邪氣自下。內經曰。春食涼。夏食寒。秋食溫。冬食熱。是謂春夏養陽。秋冬養陰。人能於飲食起居之間。順四時之氣而行之。邪氣何由得生也。</p>
<p>治瘧病處暑前。頭痛項強。脈浮惡風有汗。</p>
<p><u>桂枝羌活湯。</u></p>
<p>桂枝　羌活　防風　甘草（炙各半兩）</p>
<p>上為粗末。每服半兩。水一盞半。煎至一盞。溫服清。迎發而服之。如吐者。加半夏曲等分。</p>
<p>治瘧病頭痛項強。脈浮惡風無汗者。</p>
<p><u>麻黃羌活湯。</u></p>
<p>麻黃（去節）　羌活　防風　甘草（炙各半兩）</p>
<p>同前服。如吐者。加半夏曲等分。</p>
<p>治法。瘧如前證而夜發者。</p>
<p><u>麻黃桂枝湯</u></p>
<p>主之。</p>
<p>麻黃（一兩去節）　甘草（三錢炙）　桃仁（三十個去皮尖）　黃芩（五錢）　桂枝（三錢）</p>
<p>上五味。同為細末。依前服。桃仁味苦甘辛。肝者血之海。血聚則肝氣燥。經所謂肝苦急。急食甘以緩之。</p>
<p>故桃仁散血緩肝。謂邪氣深遠而入血。故夜發。乃陰經有邪。此湯發散血中風寒之劑。</p>
<p>治瘧病身熱目痛。熱多寒少。脈長睡臥不安。先以大柴胡湯下之。微利為度。如下過外微邪未盡者。宜服</p>
<p><u>白芷湯</u>。以盡其邪。</p>
<p>白芷（一兩）　知母（一兩七錢）　石膏（四兩）</p>
<p>上為粗末。同前煎服。</p>
<p>治瘧無他證。隔日發。先寒後熱。寒少熱多。宜</p>
<p><u>桂枝石膏湯。</u></p>
<p>桂枝（五錢）　石膏　知母（各一兩半）　黃芩（一兩）</p>
<p>上為粗末。分作三服。每服水一盞。同前煎服。間日者。邪氣所舍深也。</p>
<p>治瘧寒熱大作。不論先後。皆太陽陽明合病也。謂之交爭。寒作則必戰動。經曰。熱勝而動也。發熱則必汗泄。經曰。汗出不愈。知為熱也。陽盛陰虛之證。當內實外虛。不治必傳入陰經也。當用</p>
<p><u>桂枝芍藥湯</u></p>
<p>主之。</p>
<p>桂枝（三錢）　黃　知母　石膏　芍藥（各一兩）</p>
<p>上為粗末。每服五七錢。至半兩。水煎如前藥服之。寒熱轉大者。知太陽陽明少陽三陽合病也。宜用桂枝黃芩湯和之。</p>
<p><u>桂枝黃芩湯</u></p>
<p>柴胡（一兩二錢）　黃芩（四錢半）　人參　甘草（各四錢半）　半夏（四錢）　石膏　知母（各五錢）</p>
<p>桂枝（二錢）</p>
<p>上為粗末。依前服之。服藥已。如外邪已罷。內邪未已。再服下藥。從卯至午時發者。宜以大柴胡湯下之。從午至酉時發者。知其邪氣在血也。宜以桃仁承氣湯主之。</p>
<p>前項下藥。微利為度。便以小柴胡湯徹其微邪之氣。</p>
<p>立秋之後及處暑前發瘧。漸瘦不能食者。謂之　瘧。此邪氣深遠而中陰經。為久瘧也。</p>
<p>治久瘧不能飲食。胸中郁郁如吐。欲吐不能吐者。宜吐則已。當以藜蘆散雄黃散吐之。</p>
<p><u>藜蘆散</u></p>
<p>大藜蘆末半錢。溫齏水調下。以吐為度。</p>
<p><u>雄黃散</u></p>
<p>雄黃　瓜蒂　赤小豆（各一錢）</p>
<p>上為細末。每服半錢。溫齏水調下。以吐為度。</p>
<p>治秋深久瘧。胃中無物。又無痰癖。腹高而食少。俗謂瘧氣入腹。宜</p>
<p><u>蒼朮湯</u></p>
<p>主之。</p>
<p>蒼朮（四兩）　草烏頭（一錢）　杏仁（三十個）</p>
<p>上為粗末。都作一服。水三升。煎至一半。均作三服。一日服盡。迎發而服。</p>
<p>局方中七宣丸。治瘧之聖藥也。</p>
<p>局方中神效飲子。乃瘧疾之聖藥也。又名</p>
<p><u>交結飲子。</u></p>
<h3>吐論第十七</h3>
<p>論曰。吐有三。氣積寒也。皆從三焦論之。上焦在胃口。上通於天氣。主納而不出。中焦在中脘。上通天氣。下通地氣。主腐熟水穀。下焦在臍下。下通地氣。主出而不納。是故上焦吐者。皆從於氣。氣者天之陽也。</p>
<p>其脈浮而洪。其證食已暴吐。渴欲飲水。大便燥結。氣上衝而胸發痛。其治當降氣和中。中焦吐者。皆從於積。</p>
<p>有陰有陽。食與氣相假為積而痛。其脈浮而弱。其證或先痛而後吐。或先吐而後痛。治法當以毒藥去其積。檳榔木香行其氣。下焦吐者。皆從於寒。地道也。其脈沉而遲。其證朝食暮吐。暮食朝吐。小便清利。大便秘而不通。治法當以毒藥。通其閉塞。溫其寒氣。</p>
<p>大便漸通。復以中焦藥和之。不令大便秘結而自愈也。</p>
<p>治上焦氣熱上衝。食已暴吐。脈浮而洪。宜先和中。</p>
<p><u>桔梗湯。</u></p>
<p>桔梗（一兩半）　半夏曲（二兩）　陳皮（一兩去白）　枳實（一兩麩炒）　白茯苓（一兩去皮）　白朮（一兩半）　厚朴（一兩薑製炒香）</p>
<p>上　咀。每服一兩。水一盞。煎至七分。取清溫服。調木香散二錢。隔夜空腹食前服之。三服之後。氣漸下。吐漸止。然後去木香散。加芍藥二兩。黃　一兩半。每料中扣算。加上件分兩。依前服之。病愈則已。如大便燥結。食不盡下。以大承氣湯去硝微下之。少利為度。再服前藥補之。如大便復結。又依前再微下之。</p>
<p><u>木香散</u></p>
<p>木香　檳榔（各等分）</p>
<p>上為細末。煎藥調服。</p>
<p>治暴吐者。上焦氣熱所沖也。經曰。諸嘔吐酸。暴注下迫。皆屬於火。脈洪而浮者。</p>
<p><u>荊黃湯</u></p>
<p>主之。</p>
<p>荊芥穗（一兩）　人參（五錢）　甘草（二錢半）　大黃（三錢）</p>
<p>上為粗末。都作一服。水二盞。煎至一盞。去滓調檳榔散二錢。空心服。</p>
<p><u>檳榔散</u></p>
<p>檳榔（二錢）　木香（一錢半）　輕粉（少許）</p>
<p>上為細末。用前藥調服。如為丸亦可。用水浸蒸餅為丸。如小豆大。每服二十丸。食後服。</p>
<p>治上焦吐。頭發痛有汗脈弦。</p>
<p><u>青鎮丸</u></p>
<p>主之。</p>
<p>柴胡（二兩去苗）　黃芩（七錢半）　甘草（半兩）　半夏（湯洗半兩）　青黛（二錢半）　人參（半兩）</p>
<p>上為細末。薑汁浸蒸餅為丸。如桐子大。每服五十丸。生薑湯下食後服。</p>
<p><u>白朮湯</u></p>
<p>　治胃中虛損。及痰而吐者。</p>
<p>半夏曲（半兩）　白朮（一錢）　檳榔（二錢半）　木香（一錢）　甘草（一錢）　茯苓（二錢）</p>
<p>上六味。同為細末。每服二錢。煎生薑湯調下。食前。</p>
<p>吐而食不下。脈弦者。肝盛於脾。而吐乃由脾胃之虛。宜治風安脾之藥。</p>
<p><u>金花丸</u></p>
<p>半夏（湯洗一兩）　檳榔（二錢）　雄黃（一錢半）</p>
<p>上為細末。薑汁浸蒸餅為丸。如桐子大。小兒另丸。生薑湯下。從少至多。漸次服之。以吐止為度。羈絆於脾。故飲食自下。</p>
<p><u>紫沉丸</u></p>
<p>　治中焦吐食。由食積為寒氣相假。故吐而痛。宜服之。</p>
<p>半夏曲（三錢）　烏梅（二錢去核）　代赭石（三錢）　杏仁（一錢去皮尖）　丁香（二錢）　縮砂仁（三錢）</p>
<p>沉香（一錢）　檳榔（二錢）　木香（一錢）　陳皮（五錢）　白豆蔻（半錢）　白朮（一錢）　巴豆霜（半錢另研）</p>
<p>上為細末。入巴豆霜令勻。醋糊為丸。如黍米大。每服五十丸。食後生薑湯下吐愈則止。小兒另丸。治小兒食積吐食。亦大妙。</p>
<p>一法。治翻胃吐食。用橘皮一個。浸少時去白。裹生薑一塊。面裹紙封。燒令熟去面。外生薑為三番。並橘皮煎湯。下紫沉丸一百丸。一日二服。得大便通至不吐則止。此主治寒。積氣皆可。</p>
<p>治嘔吐腹中痛者。是有積也。胃強而乾嘔。有聲無物。脾強而吐食。持實擊強。是以腹中痛。當以木香白朮散和之。</p>
<p><u>木香白朮散</u></p>
<p>木香（一錢）　白朮（半兩）　半夏曲（一兩）　檳榔（二錢）　茯苓（半兩）　甘草（四錢）</p>
<p>上為細末。濃煎芍藥生薑湯。調下一二錢。有積而痛。手按之愈痛。無積者。按之不痛。</p>
<p>治下焦吐食。朝食暮吐。暮食朝吐。大便不通。宜</p>
<p><u>附子丸。</u></p>
<p>附子炮（五錢）　巴豆霜（一錢）　砒（半錢研細）</p>
<p>上同研極細。熔黃蠟為丸。如桐子大。每服一二丸。冷水送下。利則為度。後更服紫沉丸。常服不令再閉。</p>
<p><u>厚朴丸</u></p>
<p>　主反胃吐逆。飲食噎塞。氣上衝心。腹中諸疾。加法在後。烏頭減半更妙。</p>
<p>厚朴（二兩半）　黃連（二兩半）　紫菀（去苗土）　吳茱萸（湯洗七次）　菖蒲　柴胡（去苗）　桔梗皂角（去皮弦子炙）　茯苓（去皮）　官桂（刮）　乾薑（炮各二兩）　人參（二兩）　川烏頭（炮裂去皮臍二兩半）　蜀椒（二兩去目閉口者微炒出汗）</p>
<p>上為細末。入巴豆霜一兩和勻。煉蜜和為丸。如桐子大。每服三丸。漸次加。至以利為度。生薑湯下食後臨臥服。此藥治療。與局方溫白丸同。及治處暑以後秋冬間。臟腑下利大效。春夏再加黃連二兩。秋冬再加厚朴二兩。</p>
<p>治風癇病。不能愈者。從厚朴丸。依春秋加添外。又於每料中。加人參菖蒲茯苓各一兩半。</p>
<p>上依前法和劑服餌。治反胃。又大便不通者。是腸勝胃也。服局方中</p>
<p><u>半硫丸。</u></p>
<p>硫黃（明淨好者研令極細用柳木槌子絞過）　半夏（湯洗七次焙乾為末各等分）　一二百丸。如大便秘。用後藥。</p>
<p>附子（半兩）　巴豆（二枚）　砒（一豆許）</p>
<p>上為極細末。生薑糊為丸。如綠豆大。每服一丸。白湯下。</p>
<h3>霍亂論第十八</h3>
<p>論曰。醫之用藥。如將帥之用兵。本草曰。良醫不能以無藥愈疾。猶良將無兵。不足以勝敵也。故用藥如用兵。轉筋霍亂者。治法同用兵之急不可緩也。故吐瀉不止者。其本在於中焦。或因渴大飲。或因飲而過量。</p>
<p>或飢而飽甚。或濕內甚。故陰陽交而不和。是為吐瀉。仲景曰。邪在上焦則吐。邪在下焦則瀉。邪在中焦。則既吐且瀉。此為急病也。然吐利為急。十死其一二。如揮霍撩亂。而不得吐瀉。此名干霍亂。必死。法曰。既有其入。必有所出。今有其入。而不得其出者。痞也塞也。故轉筋吐瀉者。其氣有三。一曰火。二曰風。三曰濕。吐為　。熱也。王注曰。炎熱薄爍。心之氣也。火能炎上。故吐也。瀉為濕也。叔和云。濕多成五泄。內經曰。濕勝則濡瀉。又曰。風勝則動。筋屬肝而應於風木。故腳轉筋燥急也。內經曰。諸轉反戾。水液混濁。</p>
<p>皆屬於熱。故仲景治法曰。熱多欲飲水。五苓散。寒多不飲水者。理中丸。凡覺此證。或先五苓益元桂苓甘露飲。乃吐瀉之聖藥也。慎無與粟米粥湯。穀入於胃則必死。本草曰。粟米味鹹。微寒無毒。主養胃氣。去脾胃中熱。益氣。霍亂者。脾胃極損。不能傳化。加以粟米。如人欲斃。更以利刀鋸其首。豈有能生者耶。如吐瀉多時。欲住之後。宜微以粥飲。漸以養之。以遲為妙。</p>
<p><u>半夏湯</u></p>
<p>　治霍亂轉筋。吐瀉不止。</p>
<p>半夏曲　茯苓　白朮（各半兩）　淡桂（二錢半）　甘草（炙二錢半）</p>
<p>上為細末。渴者涼水調下。不渴者溫水調下。不計時候。</p>
<p><u>五苓散</u></p>
<p>白朮　茯苓　木豬苓（各一兩半）　澤瀉（二兩半）　桂枝（一兩）</p>
<p>上為細末。冷水調下。或水煎三沸。冷服亦得。</p>
<p><u>理中丸</u></p>
<p>白朮　人參　乾薑　甘草（各等分）</p>
<p>上為細末。煉蜜為丸。如彈子大。每服一丸。冷水化下。</p>
<p>如吐瀉不止。身出冷汗無脈者。可服後瀉痢論中漿水散。兼桂枝湯白朮湯。皆可用。後痢門中藥。亦可選用。</p>
<p>凡霍亂不可飲熱白米湯。飲之死。必不救。切須慎之。</p>
<h3>瀉痢論第十九</h3>
<p>論曰。臟腑瀉痢。其證多種。大抵從風濕熱論。是知寒少而熱多。寒則不能久也。故曰暴瀉非陽。久瀉非陰。論曰。春宜緩形。形緩動則肝木乃榮。反靜密則是行秋令。金能制木。風氣內藏。夏至則火盛而金去。</p>
<p>獨火木旺。而脾土損矣。輕則飧泄身熱脈洪。穀不能化。重則下痢膿血稠黏。皆屬於火。經曰。溲而便膿血。</p>
<p>知氣行而血止也。宜大黃湯下之。是為重劑。黃芩芍藥湯為之輕劑。是實則瀉其子。木能自虛而脾土實矣。故經曰。春傷於風。夏生飧紲。此逆四時之氣。人所自為也。有自太陰脾經受濕而為水泄。虛滑微滿身重。不知穀味。假令春。宜益黃散補之。夏宜瀉之。法云。宜補宜瀉宜和宜止。假令和則芍藥湯是也。止則訶子湯是也。</p>
<p>久則防變而為膿血也。脾傳腎。謂之賊邪。故難愈。若先痢而後滑。謂之微邪。故易痊。此皆脾土受濕。天行為也。雖聖智不能逃。口食味。鼻食氣。從鼻而入。留積於脾而為水瀉。有厥陰經動。下痢不止。其脈沉而遲。</p>
<p>手足厥逆。涕唾膿血。此為難治。宜麻黃湯小續命汗之。法曰。謂有表邪縮於內。當散表邪而愈。有暴下無聲。</p>
<p>身冷自汗。小便清利。大便不禁。氣難布息。脈微嘔吐。急以重藥溫之。漿水散是也。故法云。後重則宜下。</p>
<p>腹痛則宜和。身重則除濕。脈弦則去風。血膿稠黏。以重藥竭之。身冷自汗。以毒藥溫之。風邪內縮。宜汗之則愈。　溏為痢。當溫之。又云。在表者發之。在裡者下之。在上者涌之。在下者竭之。身表熱者內疏之。小便澀者分利之。又曰。盛者和之。去者送之。過者止之。兵法云。避其來銳。擊其惰歸。此之謂也。凡病泄而惡風寒。是太陰傳少陰。土來克水也。用除濕白朮茯苓安脾。芍藥桂黃連破血也。火邪不能勝水也。太陰經不能傳少陰。而反火邪上乘肺經。而痢必白膿也。加黃連當歸之類。又裡急後重。脈大而洪實。為裡熱而甚蔽。是有物結墜也。若脈浮大甚。不宜下。雖裡急後重。而脈沉細弱者。謂寒邪在內而氣散也。可溫養而自愈。裡急後重閉者。大腸經氣不宣通也。宜加檳榔木香宣通其氣。如痢或泄而嘔者。胃中氣不和也。上焦不和。治以生薑橘皮。中焦不和。治以芍藥當歸桂茯苓。下焦不和。寒治以輕熱甚以重熱藥□□□□□大便虛秘澀久不愈。恐太陰傳少陰。多傳變為痢。太陰傳少陰是為賊邪。先以枳實厚朴湯。以防其變。若四肢懶倦。小便少或不利。大便走沉困飲食減。宜調胃去濕。白朮芍藥茯苓三味。水煎服。以白朮之甘。能入胃而除脾胃之濕。芍藥之酸澀。</p>
<p>除胃中之濕熱。四肢困。茯苓之淡泄。能通水道走濕。此三味。泄痢須用此。如發熱惡寒。腹不痛。加黃芩為主。如未見膿而惡寒。乃太陰欲傳少陰也。加黃連為主。桂枝佐之。如腹痛甚者。加當歸倍芍藥。如見血。</p>
<p>加黃連為主。桂當歸佐之。如躁煩或先便白膿後血。或發熱。或惡寒。非黃芩不止。此上部血也。</p>
<p>如惡寒脈沉。或腰痛。或血痢下痛。非黃連不能止。此中部血也。</p>
<p>如惡寒脈沉。先血後便。非地榆不能止。此下部血也。</p>
<p>如便膿血相雜。而脈浮大。慎不可以大黃下之。下之必死。謂氣下竭而陽無所收也。凡陰陽不和。惟可以分陰陽藥治之。又云。暴泄非陽。久泄非陰。大便完穀下。有寒有熱者。脈疾身多動。音聲響亮。暴注下迫。此陽也。寒者脈沉而細疾。身不動作。目睛不了了。飲食不下。鼻準氣息者。薑附湯主之。若身重四肢不舉。朮附湯主之。</p>
<p><u>黃芩芍藥湯</u></p>
<p>　治泄痢腹痛。或後重身熱。久而不愈。脈洪疾者。及下痢膿血稠黏。</p>
<p>黃芩　芍藥（各一兩）　甘草（五錢）</p>
<p>上為粗末。每服半兩。水一盞半。煎至一盞。濾清溫服無時。如痛則加桂少許。</p>
<p><u>大黃湯</u></p>
<p>　治泄痢久不愈。膿血稠黏。裡急後重。日夜無度。久不愈者。</p>
<p>大黃（一兩）</p>
<p>上細　。好酒二大盞。同浸半日許。再同煎至一盞半。去大黃不用。將酒分為二服。頓服之。痢止一服。</p>
<p>如未止再服。以利為度。服芍藥湯和之。痢止再服黃芩湯和之。以徹其毒也。</p>
<p><u>芍藥湯</u></p>
<p>　下血調氣。經曰。溲而便膿血。氣行而血止。行血則便膿自愈。調氣則後重自除。</p>
<p>芍藥（一兩）　當歸　黃連（各半兩）　檳榔（二錢）　木香（二錢）　甘草（二錢炙）　大黃（三錢）</p>
<p>黃芩（半兩）　官桂（一錢半）</p>
<p>上　咀。每服半兩。水二盞。煎至一盞。食後溫服。如血痢則漸加大黃。如汗後臟毒。加黃柏半兩。依前服。</p>
<p><u>白朮黃　湯</u></p>
<p>　服前藥。痢雖已除。猶宜此藥和之。</p>
<p>白朮（一兩）　黃　（七錢）　甘草（三錢）</p>
<p>上　咀。均作三服。水一盞半煎至一盞。去滓溫清服之。</p>
<p><u>防風芍藥湯</u></p>
<p>　治泄痢飧泄身熱脈弦。腹痛而渴。及頭痛微汗。</p>
<p>防風　芍藥　黃芩（各一兩）</p>
<p>上　咀。每服半兩。或一兩。水三盞。煎至一盞。濾清溫服。</p>
<p>治太陰脾經受濕。水泄注下。體微重微滿。困弱無力。不欲飲食。暴泄無數。水穀不化。先宜白朮芍藥湯和之。身重暴下。是大勢來。亦宜和之。</p>
<p><u>白朮芍藥湯</u></p>
<p>白朮（一兩）　芍藥（一兩）　甘草（五錢）</p>
<p>上　。每服一兩。水二盞。煎至一盞。濾清溫服。如痛甚者。宜</p>
<p><u>蒼朮芍藥湯</u></p>
<p>蒼朮（二兩）　芍藥（一兩）　黃芩（半兩）</p>
<p>上　。每服一兩。加淡味桂半錢。水一盞半。煎至一盞。溫服清。如脈弦頭微痛者。宜</p>
<p><u>蒼朮防風湯</u></p>
<p>蒼朮　防風（各二兩）　上使上　。同前煎服。如下血者。宜</p>
<p><u>蒼朮地榆湯</u></p>
<p>蒼朮（二兩）　地榆（一兩）　下使上　。同前煎服。</p>
<p>以上證。如心下痞。每服加枳實一錢。如小便不利。各加茯苓二錢。如腹痛漸已。瀉下微少。宜訶子散止之。法云。大勢已去。而宜止之。</p>
<p><u>訶子散</u></p>
<p>訶子（一兩半生半熟）　木香（半兩）　黃連（三錢）　甘草（三錢）</p>
<p>上為細末。每服二錢。以白朮芍藥湯調下。如止之不已。宜歸而送之也。訶子散加厚朴一兩。竭其邪氣也。</p>
<p>虛滑久不愈者。多傳變為痢疾。太陰傳於少陰。是為賊邪。先以厚朴枳實湯。防其傳變。</p>
<p><u>厚朴枳實湯</u></p>
<p>厚朴（一兩）　枳實（一兩）　訶子（一兩半生半熟）　木香（半兩）　黃連（二錢）　甘草（三錢炙）</p>
<p>大黃（二錢）</p>
<p>上為細末。每服三五錢。水一盞半。煎至一盞。去滓溫服。</p>
<p><u>漿水散</u></p>
<p>　治暴泄如水。周身汗出。一身盡冷。脈微而弱。氣少而不能語。其甚者加吐。此謂急病。治之宜以此。</p>
<p>半夏（二兩湯洗）　附子（半兩炮）　乾薑（五錢）　良薑（二錢半）　桂枝（五錢）　甘草（五錢炙）</p>
<p>上為細末。每服三五錢。漿水二盞。煎至一盞。和滓熱服。甚者三四服。微者三服。大腸經動下痢為　溏。</p>
<p>大腸不能禁固。卒然而下。成水泄。青色。其中或有硬物。欲起而又下。欲了而不了。小便多清。此寒也。</p>
<p>宜溫之。春夏桂枝湯。秋冬白朮湯。</p>
<p><u>桂枝湯</u></p>
<p>桂枝　白朮　芍藥（各半兩）　甘草（二錢炙）</p>
<p>上　。每服半兩。水一盞。煎至七分。去滓取清。宜溫服之。</p>
<p><u>白朮湯</u></p>
<p>白朮　芍藥（各三錢）　乾薑（半兩炮）　甘草（二錢炙）</p>
<p>上　為粗末。如前服之。甚則去乾薑。加附子三錢。辛能發也。</p>
<p>治厥陰動為瀉痢者。寸脈沉而遲。手足厥逆。下部脈不至。咽喉不利。或涕唾膿血。瀉痢不止者。為難治。</p>
<p>宜升麻湯或小續命湯以發之。法云。謂表邪縮於內。故下痢不止。當散表邪於四肢。布於絡脈。外無其邪。則臟腑自安矣。</p>
<p>諸水積入胃。名曰溢飲。滑泄。渴能飲水。水下復瀉而又渴。此無藥證。當灸大椎。</p>
<p>諸瀉痢久不止。或暴下者。皆太陰守病。故不可離於芍藥。若不受濕。不能下痢。故須用白朮。是以聖人立法。若四時下痢。於芍藥白朮內。春加防風。夏加黃芩。秋加厚朴。冬加桂附。</p>
<p>然更詳外證寒熱處之。如裡急後重。須加大黃。如身困倦。須加白朮。如通身自汗。逆冷氣息微。加桂附以溫之。如或後重膿血稠黏。雖在盛冬。於溫藥內亦加大黃。</p>
<p>諸下痢之後。小便利而腹中虛痛不可忍者。此謂陰陽交錯。不和之甚也。當服</p>
<p><u>神效越桃散。</u></p>
<p>大梔子（三錢）　高良薑（三錢）</p>
<p>上和勻。每服三錢。米飲或酒調下。其痛立效。</p>
<p>治大便後下血。腹中不痛。謂之濕毒下血。宜服</p>
<p><u>黃連湯。</u></p>
<p>黃連（去須）　當歸（各半兩）　甘草（二錢炙）</p>
<p>上　咀。每服五錢。水一盞。煎至七分。食後溫服。</p>
<p>治大便後下血。腹中痛者。謂熱毒下血。當服</p>
<p><u>芍藥黃連湯。</u></p>
<p>芍藥　當歸　黃連（各半兩）　大黃（一錢）　桂（淡味半錢）　甘草（二錢炙）</p>
<p>上　咀。每半兩同前煎服。如痛甚者。調木香檳榔末一錢服之。</p>
<p>治久病腸風。痛癢不任。大便下血。宜服</p>
<p><u>地榆湯。</u></p>
<p>蒼朮（去皮四兩）　地榆（二兩）</p>
<p>上　咀。每服一兩。水一盞。煎至七分。食前多服除根。</p>
<p>治濕瀉</p>
<p><u>茯苓湯。</u></p>
<p>白朮（一兩）　茯苓（去皮七錢半）</p>
<p>上　咀。水煎一兩。食前服。食入而瀉。謂胃中有宿穀也。當加枳實五錢。酒入而瀉。濕熱瀉也。加黃芩五錢。</p>
<p>治寒積痢。男子小兒婦人皆不問赤白。或清痢如水。不後重者寒也。經云。澄徹清冷。皆屬於寒。皆為虛。</p>
<p>寒中有積也。宜附子巴豆之類下之。見痢則愈。空心服。</p>
<p>治瀉痢久不止。臟腑虛滑。穀不化。用蒼朮湯。下</p>
<p><u>桃花丸。</u></p>
<p>蒼朮（二兩）　防風（一兩）</p>
<p>上　為細末。用水一碗。煎至一大盞。絞清汁。下桃花丸八十丸立愈。如小便澀少。以五苓散下桃花丸。</p>
<p>或赤石脂丸。小便利則愈矣。</p>
<p>大陽為協熱痢。涼膈散主之。</p>
<p>陽明為痼瘕。進退大承氣湯主之。珍珠囊中有。</p>
<p>少陽風氣自動。其脈弦。大柴胡湯主之。</p>
<p>太陰濕勝濡瀉。不可利而可溫。四逆湯主之。</p>
<p>少陰蟄封不禁固。可澀。赤石脂丸乾薑湯主之。</p>
<p>厥陰風泄。以風治風。小續命湯消風散主之。</p>
<p>治下痢膿血。裡急後重。日夜無度。</p>
<p><u>導氣湯。</u></p>
<p>芍藥（一兩）　當歸（五錢）　大黃　黃芩（各二錢半）　黃連　木香（各一錢）　檳榔（一錢）</p>
<p>上為末。每服三五錢。水一盞。煎至七分。去滓溫服。如未止再服。不後重則止。</p>
<p>雜例溲而便膿血者。大腸泄也。脈五至之上洪者。宜以七宣丸。如脈平者。立秋至春分。宜香連丸。春分至立秋。宜芍藥柏皮丸。四季通用。宜加減平胃散七宣丸之類。後宜服此藥。去其余邪。兼平胃氣。</p>
<p><u>芍藥柏皮丸</u></p>
<p>芍藥　黃柏（各等分）</p>
<p>上為細末。醋糊為丸。如桐子大。每服五七十丸。至二百丸。溫水下。食前服。</p>
<p><u>加減平胃散</u></p>
<p>白朮　厚朴　陳皮（各一兩）　甘草（七錢）　檳榔（三錢）　木香（三錢）　桃仁　黃連　人參　阿膠（各半兩）　白茯苓（去皮半兩）</p>
<p>上為細末。同平胃散煎服。</p>
<p>血多加桃仁。泄加黃連。小便澀加茯苓。</p>
<p>氣不下後重。加檳榔木香。</p>
<p>腹痛加芍藥甘草。膿加阿膠。濕加白朮。脈洪加大黃。</p>
<p>四時以胃氣為本。久下血痢。則脾虛損。而血不流於四肢。入於胃中。為血痢宜滋養脾胃則愈。</p>
<p>夫五泄者之病。其治法各不同者。外證各異也。</p>
<p>胃泄者。飲食不化。色黃。承氣湯下。</p>
<p>脾泄者。腹脹滿泄注。食即嘔吐逆。建中及理中湯。</p>
<p>大腸泄者。食已窘迫。大便色白。腸鳴切痛。乾薑及附子湯。</p>
<p>小腸泄者。溲便膿血。少腹痛。承氣湯。</p>
<p>大瘕泄者。裡急後重。數至圊而不能便。足少陰是也。莖中痛。急利小便。此五泄之病也。胃小腸大瘕三證。皆清涼飲子主之。其泄自止。後厥陰少陰二證。另有治法。厥陰證加甘草。謂主莖中痛。是肝也。內經曰。</p>
<p>肝苦急。急食甘以緩之。少陰經證。多裡急後重。故加大黃。令急推過。物去則輕矣。內經曰。因其重而減之。</p>
<p>又曰。在下者引而竭之。又有太陰陽明二經證。當進退大承氣湯主之。太陰證不能食也。當先補而後瀉之。乃進藥法也。先煎厚朴半兩。俱依本方加制。水一盞半。煎至一半服之。若三兩服後未已。謂有宿食不消。又加枳實二錢。同煎服。三兩服泄又未已。如稍加食。尚有熱毒。又加大黃三錢。推過泄止住藥。如泄未止。謂腸胃有久塵垢滑黏。加芒硝半合。宿垢去盡。則愈矣。</p>
<p>陽明證。能食是也。當先瀉而後補。謂退藥法也。先用大承氣湯五錢。水一盞。依前法煎至七分。稍熱服。</p>
<p>如泄未止。去芒硝。後稍熱退。減大黃一半煎兩服。如熱氣雖已。其人心腹滿。</p>
<p>又減去大黃。枳實厚朴湯。又煎三兩服。如是腹脹滿退。泄亦自愈。後服厚朴湯數服則已。</p>
<p>又寒熱水泄之例於後。</p>
<p>泄者一也。總包五法。謂之六義。曰六解。難經有傷寒五泄。叔和云。濕多成五泄。仲景解四經泄利。有不可汗。有不可下者。可吐可灸者。仲景隨經自言之。假令渴引飲者。是熱在膈上。水多入。則下膈入胃中。</p>
<p>胃經本無熱。不勝其水。名曰水恣。故使米穀一時下。此證當灸大椎三五壯立已。乃瀉督也。如用藥。乃使車前子擂丸。白朮茯苓之類。可選用之。五苓散亦可。</p>
<p>又有寒泄者。大腹滿而泄。又有　溏者。是寒泄也。　溏者。大便如水。中有少結糞者是也。如此者。當用天麻附子乾薑之類是也。</p>
<p>又法曰。泄有虛實寒熱。虛則無力更衣。不便已泄出。謂不能禁固也。實則數至圊而不能便。俗云虛坐弩責是也。裡急後重。皆依前法進退大承氣湯主之。一說素問云。春傷於風。夏生飧泄。又云久風為飧泄者。乃水穀不化而完出爾。非水入胃而成此證。非前水恣也。此一證。不飲水而穀完出。名曰飧泄。治法於後。先以宣風散導之。出錢氏方中四味者是也。後服蒼朮防風湯。</p>
<p><u>蒼朮防風湯</u></p>
<p>蒼朮（去皮四兩）　麻黃（去根節四兩）　防風（去蘆頭五錢）</p>
<p>上為粗末。每服一兩。生薑七片。水二盞。煎至一盞。去滓溫服。泄止後服椒術丸。</p>
<p><u>椒術丸</u></p>
<p>蒼朮（二兩）　蜀椒（一兩去目炒）</p>
<p>上為極細末。醋糊為丸。如桐子大。每服二十丸。或三十丸。食前溫水下。一法。惡痢久不愈者。加桂。</p>
<p>如小兒病。丸如黍米大。</p>
<p>治瀉痢膿血。乃至脫肛。</p>
<p><u>地榆芍藥湯</u></p>
<p>蒼朮（一兩）　地榆（二兩）　卷柏（三兩）　芍藥（三兩）</p>
<p>上　咀。每服一兩。水一大盞半。煎至一半溫服清。病退藥止。</p>
<p>五泄傷寒。乃分三節。初說暴，次說中。後說久泄。</p>
<p>此說在難經二十二難。是三節內包十五法。初以暴藥。中以的對證藥。後疾得中也。末治久泄法。仲景論厥陰經治法是也。</p>
<p>治久泄法。先進縮煎小續命湯。是發其汗。使邪氣不能從外侵於內。然後治其痢。秋冬間下痢風。吐論中加減厚朴丸大效。</p>
<p>凡臟腑之秘。不可一例治療。有虛秘。有實秘。胃實而秘者。能飲食小便赤。當以麻仁丸七宣丸之類主之。</p>
<p>胃虛而秘者。不能飲食。小便清利。</p>
<p><u>厚朴湯</u></p>
<p>主之。</p>
<p>厚朴（薑製五兩）　白朮（五兩）　半夏（二兩）　枳實（一兩炒）　陳皮（去白二兩）　甘草（三兩炙）</p>
<p>上為粗末。每服三五錢。水一盞半。生薑五片。棗三枚。煎至一盞。去滓溫服空心。實秘者物也。虛秘者氣也。</p>
<p><u>平胃丸</u></p>
<p>　治病久虛弱。厭厭不能食。而臟腑或秘或溏。此胃氣虛弱也。常服和中消痰去濕。及濃腸胃。</p>
<p>進飲食。</p>
<p>厚朴（一兩）　白朮（一兩二錢）　陳皮（八錢去白）　木香（一錢）　生半夏（湯洗一兩）　檳榔（二錢半）</p>
<p>枳實（五分）　甘草（三錢炙）</p>
<p>上為細末。薑汁浸蒸餅為丸。如桐子大。每服三五十丸。生薑湯或溫水送下。</p>
<h3>心痛論第二十</h3>
<p>論曰。諸心痛者。皆少陰厥氣上衝也。有熱厥心痛者。身熱足寒。痛甚則煩躁而吐。額自汗出。知為熱也。</p>
<p>其脈洪大。當灸太谿及昆侖。謂表裡俱瀉之。是謂熱病汗不出。引熱下行。表汗通身而出者。愈也。灸畢服金鈴子散。痛止服枳朮丸。去其余邪也。有大實心中痛者。因食受時氣。卒然發痛。大便或秘。久而滯悶。心胸高起。按之愈痛。不能飲食。急以煮黃丸利之。利後以　本湯去其余邪。有寒厥心痛者。手足逆而通身冷汗出。</p>
<p>便利溺清。或大便利而不渴。氣微力弱。急以朮附湯溫之。寒厥暴痛。非久病也。朝發暮死。當急救之。是知久痛無寒。而暴痛非熱。</p>
<p>治熱厥心痛。或發或止。久不愈者。當用</p>
<p><u>金鈴子散。</u></p>
<p>金鈴子　玄胡（各一兩）</p>
<p>上為細末。每服三錢。酒調下。</p>
<p>大實心痛。</p>
<p><u>煮黃丸。</u></p>
<p>雄黃（一兩研）　巴豆（五錢去皮生用研細入雄黃末）</p>
<p>上再研二味。白面二兩同和。再研勻。滴水丸如桐子大。每服時。先煎漿水令沸。下藥二十四丸。煮一二十沸。澇入冷漿水沉冷。一時服二丸。一日二十四丸，加至微利為度。用浸藥水送下。此治脅下　癖痛如神。</p>
<p>治大實心痛。大便已利。宜</p>
<p><u>　本湯</u>。徹其毒也。</p>
<p>本（半兩）　蒼朮（一兩）</p>
<p>上為粗末。每服一兩。水二盞。煎至一盞。溫服清。</p>
<p>治寒厥暴痛。脈微氣弱。宜</p>
<p><u>朮附湯。</u></p>
<p>附子（一兩炮去皮臍細切一兩）　白朮（四兩）　甘草（二兩炙）</p>
<p>上為粗末。入附子令勻。每服三錢。水一大盞半。入生薑五片。棗一枚劈破。同煎至一盞。去滓溫服食前。</p>
<p>此藥又治風濕相搏。身重疼煩。不能轉側。不嘔不渴。大便堅硬。小便自利。及風虛頭目眩重者。不知食味。暖肌補中。助陽氣。止自汗。</p>
<p>治男子婦人心經中熱。搐如癇病狀。宜服妙香丸。</p>
<p>風癇者。煎羌活為引。下妙香丸。血癇當歸湯引下。</p>
<p>刺心痛諸穴於後。</p>
<p>真心痛。手足青至節。痛甚。旦發夕死。夕發旦死。</p>
<p>心痛腹脹。嗇嗇然。大便不利。取足太陰。</p>
<p>心痛引腰脊欲嘔。取刺足少陰。</p>
<p>心痛引小腹滿。上下無常處。便溺難。刺足厥陰。</p>
<p>心痛短氣。刺手太陰。</p>
<p>心痛。當九穴刺之立已。不已上下求之。得之則已。</p>
<p>按經三法心痛與背相接。善恐。如從後觸其心。傴僂者。腎心痛也。先刺京骨昆侖。不已刺合谷。</p>
<p>心痛腹脹胸滿。心尤痛者。胃心痛也。刺大都太白二穴。</p>
<p>心痛如錐刺。乃脾心痛也。刺然谷太谿。</p>
<p>心痛蒼然如死狀。終日不得休息。乃肝心痛。取行間太衝。</p>
<p>心痛臥若徒居。心痛間動作益痛甚者。其色不變。此肺心痛也。刺魚際太淵。宣通氣行。無所凝滯。則病愈也。</p>
<p>太谿穴足少陰腎經土也。為　。在足內踝後跟骨上脈動陷中。可灸三壯或五七壯。此瀉熱厥心痛。</p>
<p>昆侖足太陽膀胱經火也。在足外踝後跟骨上陷中。可灸三壯。或五七壯。亦可瀉熱厥心痛。</p>
<h2>卷下</h2>
<h3>咳嗽論第二十一</h3>
<p>論曰。咳謂無痰而有聲。肺氣傷而不清也。嗽是無聲而有痰。脾濕動而為痰也。咳嗽謂有痰而有聲。蓋因傷於肺氣。動於脾濕。咳而為嗽也。脾濕者。秋傷於濕。積於脾也。故內經曰。秋傷於濕。冬必咳嗽。大抵素秋之氣宜清。若反動之。氣必上衝而為咳。甚則動於脾濕發而為痰焉。是知脾無留濕。雖傷肺氣而不為痰也。</p>
<p>有痰寒少而熱多。故咳嗽者。非專主於肺而為病。以肺主皮毛。而司於外。故風寒先能傷之也。內經曰。五臟六腑。皆能令人咳。非獨肺也。各以其時主之而受病焉。非其時各傳而與之也。所病不等。寒暑燥濕風火六氣。</p>
<p>皆令人咳。唯濕病痰飲入胃。留之而不行。止入於肺。則為咳嗽。假令濕在於心經。謂之熱痰。濕在肝經。謂之風痰。濕在肺經。謂之氣痰。濕在腎經。謂之寒痰。所治不同。宜隨證而治之。若咳而無痰者。以辛甘潤其肺。故咳嗽者。治痰為先。治痰者。下氣為上。是以南星半夏勝其痰。而咳嗽自愈。枳殼陳皮利其氣。而痰飲自除。痰而能食者。大承氣湯微下之。少利為度。痰而不能食者。厚朴湯治之。夏月嗽而發熱者。謂之熱痰嗽。</p>
<p>小柴胡四兩。加石膏一兩。知母半兩用之。冬月嗽而發寒熱。謂之寒嗽。小青龍加杏仁服之。然此為大例。更當隨證隨時加減之。量其虛實。此治法之大體也。</p>
<p>蜜煎生薑湯　蜜煎橘皮湯　燒生薑胡桃此三者皆治無痰而嗽者。當辛甘潤其肺故也。如但用青陳皮藥。皆當去白。本草云。陳皮味辛。理上氣。</p>
<p>去痰氣滯塞。青皮味苦。理下氣。二味俱用散三焦之氣也。故聖濟云。陳皮去痰。</p>
<p>穰不除即生痰。麻黃發汗。節不去而止汗。</p>
<p>治風痰熱咳嗽。其脈弦。面青四肢滿悶。便溺秘澀。心多躁怒。水煮金花丸。</p>
<p>南星　半夏（各二兩生用）　天麻（五錢）　雄黃（二錢）　白面（三兩）　寒水石（一兩燒存性）</p>
<p>上為細末。滴水為丸。每服五七十丸。至百丸。煎漿水沸。下藥煮令浮為度。漉出淡漿水浸。另用生薑湯下。</p>
<p>或通聖加半夏。及局方中川芎丸防風丸。皆可用也。</p>
<p><u>小黃丸</u></p>
<p>　治熱痰咳嗽。脈洪面赤。煩熱心痛。唇口乾燥。多喜笑。宜小黃丸。</p>
<p>南星（湯洗）　半夏（洗各一兩）　黃芩（一兩半）</p>
<p>上為細末。生薑汁浸蒸餅為丸。桐子大。每服五十丸。至七十丸。食後薑湯下。及小柴胡湯中加半夏亦可。</p>
<p><u>白朮丸</u></p>
<p>　治痰濕咳嗽。脈緩面黃。肢體沉重。嗜臥不收。腹脹而食不消化。宜白朮丸。</p>
<p>南星　半夏（俱湯洗各一兩）　白朮（一兩半）</p>
<p>上為細末。糊為丸。桐子大。每服五七十丸。生薑湯下。及局方中防己丸。亦可用。</p>
<p><u>玉粉丸</u></p>
<p>　治氣痰咳嗽。脈澀面白。上喘氣促。洒淅惡寒。愁不樂。宜服之。</p>
<p>南星　半夏（俱洗各一兩）　官桂（去皮一兩）</p>
<p>上為細末。薄糊為丸。如桐子大。每服五七十丸。生薑湯下食後。及局方中防己丸亦可。玉粉丸加減在後。</p>
<p>心下痞者。加枳實五錢。身熱甚者。加黃連五錢。體重者。加茯苓一兩。氣上逆者。加苦葶藶五錢。氣促者。</p>
<p>加人參桔梗各五錢。浮腫者。加郁李仁杏仁各五錢。大便秘者。加大黃五錢。</p>
<p><u>雙玉散</u></p>
<p>　治痰熱而喘。痰涌如泉。</p>
<p>寒水石　石膏（各等分）</p>
<p>上為細末。煎人參湯調下三錢。食後服。</p>
<p>治痰</p>
<p><u>千緡湯</u></p>
<p>半夏（生末一兩）　大皂角（去皮子半兩　）</p>
<p>上同於絹袋中盛之。用水三升。生薑七大片。同煎至一半。以手操洗之。取清汁。分作三服。食後。並服二服效。</p>
<p><u>防風丸</u></p>
<p>　治痰嗽。胸中氣不清利者。枳朮丸亦妙。</p>
<p>防風（半兩）　枳殼（半兩去穰麩炒）　白朮（一兩）</p>
<p>上細末。燒餅為丸。每服五七十丸。生薑湯下。</p>
<p><u>天麻丸</u></p>
<p>天麻（二兩）　半夏　南星（各一兩）　雄黃（少許）</p>
<p>上以白面二兩。滴水為丸。如桐子大。每服五十丸。至百丸。煎淡水令沸。下藥煮十余沸漉出。食前生薑湯下。</p>
<p><u>利膈丸</u></p>
<p>　主胸中不利。痰嗽喘促。利脾胃壅滯。調藏秘瀉。推陳致新。消進飲食。治利膈氣之勝藥也。</p>
<p>木香（一錢半）　檳榔（一錢半）　人參（三錢）　當歸（二錢）　藿香（一錢半）　大黃（酒浸焙一兩）</p>
<p>厚朴（薑製三兩）　枳實（一兩炒）　甘草（三錢炙）</p>
<p>上為細末。滴水和丸。如桐子大。每服三五十丸。食後諸飲皆可下。</p>
<p><u>款氣丸</u></p>
<p>　治久嗽痰喘。肺氣浮腫。</p>
<p>青皮（去白）　陳皮（去白）　檳榔　木香　杏仁（去皮尖）　郁李仁（去皮）　茯苓　澤瀉　當歸廣術（炮）　馬兜鈴　苦葶藶（以上各三兩）　人參　防己（各五錢）　牽牛（取頭末一兩）</p>
<p>上為細末。生薑汁面糊為丸。如桐子大。每服一二十丸。加至五七十丸。生薑湯下。食後服。</p>
<p><u>玉粉丸</u></p>
<p>　治痰結咽喉不利。語音不出。</p>
<p>半夏（洗五錢）　草烏（一字炒）　桂（一字）</p>
<p>上同為末。生薑汁浸蒸餅為丸。如雞頭大。每服一丸。至夜含化。多歲不愈者。亦效。</p>
<p><u>枳殼湯</u></p>
<p>　治久痰胸膈不利者。多上焦發熱。</p>
<p>枳殼（麩炒去穰三兩）　桔梗（三兩）　黃芩（一兩半）</p>
<p>上同　。每日早。用二兩半。水三盞。煎至二盞。勻作三服。午時一服。申時一服。臨臥時一服。三日七兩半藥盡。服生半夏湯。</p>
<p><u>生半夏湯</u></p>
<p>半夏（不以多少洗七遍切作片子）</p>
<p>上每服。秤三錢。水一盞半。入生薑五大片。同煎至一盞。和滓食後服。一日三二服。服三日畢。再服枳朮丸。盡其痰為度。論曰。先消胸中氣。後去膈上痰。再服枳朮丸。謂首尾合盡消其氣。令痰不復作也。</p>
<p><u>清鎮丸</u></p>
<p>　治熱嗽。</p>
<p>小柴胡湯內加人參一倍。青黛（半兩）</p>
<p>上為細末。面糊丸。如桐子大。每服五十丸。生薑湯下。</p>
<p><u>半夏丸</u></p>
<p>　治因傷風而痰作喘逆。兀兀欲吐。惡心欲倒。已吐加檳榔三錢。</p>
<p>半夏（一兩湯洗切）　雄黃（研三錢）</p>
<p>上同為末。生薑汁浸。蒸餅為丸。桐子大。每服三十丸。生薑湯下。小兒丸如黍米大。</p>
<p><u>白朮散</u></p>
<p>　治夏暑大熱。或醉飲冷。痰濕不止。膈不利。</p>
<p>白朮　茯苓　半夏（洗）　黃芩（各等分）</p>
<p>上為粗末。每服五錢。至七錢。水二盞。入生薑十片。煎至一盞去滓。調陳皮末一錢。神麯末一錢。食後服。</p>
<p>法曰。大熱大飲。蓋酒味熱而引飲冷。冷與熱凝於胸中。不散而成濕。故痰作矣。甚者宜吐之。吐後服五苓甘露勝濕去痰之劑。</p>
<p><u>白朮湯</u></p>
<p>　治痰潮上如涌泉。久不可治者。</p>
<p>白朮　白茯苓　半夏（等分）</p>
<p>上為末。每服半兩。病大者一兩。水二盞。生薑七片。煎至一盞。取清調神麯末二錢。頓服之。病甚者。</p>
<p>下玉壺丸一百丸。大效永除根。</p>
<p><u>天門冬丸</u></p>
<p>　治婦人喘。手足煩熱。骨蒸寢汗。口乾引飲。面目浮腫。</p>
<p>天門冬（十兩去心秤）　麥門冬（去心八兩）　生地黃（三斤取汁為膏子）</p>
<p>上二味為末。膏子和丸。如梧子大。每服五十丸。煎逍遙散送。逍遙散中去甘草。加人參。或服王氏博濟方中。人參荊芥散亦可。如面腫不已。經曰。面腫曰風。故宜汗。麻黃桂枝可發其汗。後服柴胡飲子。去大黃。</p>
<p>故論曰。治臟者治其俞。治腑者治其合。浮腫者。治其經。治俞者。治其土也。治合者。亦治其土也。如兵家圍魏救趙之法也。</p>
<h3>虛損論第二十二</h3>
<p>論曰。虛損之疾寒熱。因虛而感也。感寒則損陽。陽虛則陰盛。損自上而下。治之宜以辛甘淡。過於胃則不可治也。感熱則損陰。陰虛則陽盛。故損自下而上。治之宜以苦酸鹹。過於脾則不可治也。自上而損者。</p>
<p>一損於肺。皮聚而毛落。二損損於心。血脈虛少。不能榮於臟腑。婦人月水不通。三損損於胃。飲食不為肌膚。</p>
<p>自下而損者。一損於腎。骨痿不能起於床。二損損於肝。筋緩不能自收持。三損損於脾。飲食不能消克。論曰。</p>
<p>心肺損而色蔽。腎肝損而形痿。穀不能化而脾損。感此病者。皆損之病也。漸漬之深。皆虛勞之疾也。</p>
<p><u>四君子湯</u></p>
<p>　治肺損而皮聚毛落。益氣可也。</p>
<p>白朮　人參　黃　茯苓（各等分）</p>
<p>上為粗末。每服五六錢七錢。水一盞。煎至七分。去滓食遠溫服。</p>
<p><u>八物湯</u></p>
<p>　治心肺虛損。皮聚而毛落。血脈虛損。婦人月水愆期。宜益氣和血。</p>
<p>白朮　人參　黃　茯苓　川芎　熟地黃　當歸　芍藥（各等分）</p>
<p>上粗末服五七錢。水一盞。煎至七分。去滓食後溫服。</p>
<p><u>十全散</u></p>
<p>　治心肺損及胃。飲食不為肌膚。宜益氣和血調飲食。</p>
<p>白朮　人參　黃　茯神　桂枝　熟地黃　當歸　川芎　芍藥　甘草（等分）</p>
<p>上為末。加生薑棗同煎。水一大盞。藥五錢。煎至七分。食前。日三服。</p>
<p><u>金剛丸</u></p>
<p>　治腎損。骨痿不能起於床。宜益精。</p>
<p>萆　杜仲（炒去絲）　蓯蓉（酒浸）　菟絲子（酒浸等分）</p>
<p>上為細末。酒煮豬腰子為丸。每服五七十丸。空心酒下。</p>
<p><u>牛膝丸</u></p>
<p>　治腎肝損。骨痿不能起於床。筋緩不能收持。宜益精緩中。</p>
<p>牛膝（酒浸）　萆　杜仲（炒去絲）　蓯蓉（酒浸）　防風　菟絲子（酒浸）　白蒺藜（各等分）</p>
<p>桂枝（減半）</p>
<p>上細末。酒煮豬腰子。搗丸桐子大。空心酒下五七十丸。</p>
<p><u>煨腎丸</u></p>
<p>　治腎肝損及脾損。穀不化。宜益精緩中消穀。</p>
<p>牛膝（酒浸）　萆　杜仲　蓯蓉　菟絲子　防風　白蒺藜　胡蘆巴　破故紙（等分）　桂（半之）</p>
<p>上和劑服餌如金剛丸法。腰痛不起者。甚效。</p>
<p>黑地黃丸。加五味子。名</p>
<p><u>腎氣丸</u>。治陽盛陰虛。脾腎不足。</p>
<p>房室虛損。形瘦無力。面多青黃而無常色。宜此藥養血益腎。</p>
<p>蒼朮（一斤米泔浸）　熟地黃（一斤）　川薑（冬一兩夏五錢春七錢）　五味子（半斤）</p>
<p>上為細末。棗肉為丸。如梧子大。每服一百丸。至二百丸。食前米飲下或酒。治血虛久痔甚效。經曰。腎苦燥。急食辛以潤之。開腠理致津液通氣。五味子味酸。故酸以收之。此雖陽盛不燥熱。乃是五臟虛損於內。</p>
<p>故可益血收氣也。此藥類象神品藥也。</p>
<p>治陽虛陰盛。心肺不足。宜八味丸。若形體瘦弱。無力多困。未知陰陽先損。夏月地黃丸。春秋宜腎氣丸。</p>
<p>冬月宜八味丸。</p>
<h3>消渴論第二十三</h3>
<p>論曰。消渴之疾。三焦受病也。有上消中消腎消。上消者。上焦受病。又謂之膈消病也。多飲水而少食。</p>
<p>大便如常。或小便清利。知其燥在上焦也。治宜流濕潤燥。中消者胃也。渴而飲食多。小便黃。經曰。熱能消穀。知熱在中。法云。宜下之。至不欲飲食則愈。腎消者。病在下焦。初發為膏淋。下如膏油之狀。至病成而面色黧黑。形瘦而耳焦。小便濁而有脂。治法宜養血。以整肅分其清濁而自愈也。法曰。燥上而渴。用辛甘潤肺。故可用蜜煎生薑湯。大器頓之。時時呷之。法云。心肺之病。莫厭頻而少飲。內經云。補上治上宜以緩。</p>
<p>又曰。辛以潤之。開腠致津液通。則肺氣下流。故氣下火降而燥衰矣。其渴乃止。又經曰。二陽結為消。王注曰。二陽結於胃及大腸。俱熱也。腸胃藏熱。則善消水穀。可甘辛降火之劑。黃連末一斤。生地黃自然汁。白蓮花藕自然汁。牛乳汁。各一斤。熬成膏子。劑黃連末為丸。如梧桐子大。每服三十丸。少呷溫水送下。日進十服。渴病立止。</p>
<p>治上焦膈消。而不欲多食。小便清利。宜小柴胡湯。或加白虎湯。或錢氏方中地骨皮散。內加　芍藥黃　石膏　黃芩　桔梗之類是也。</p>
<p><u>人參石膏湯</u></p>
<p>　治膈消。上焦煩渴。不欲多食。</p>
<p>人參（半兩）　石膏（一兩二錢）　知母（七錢）　甘草（四錢）</p>
<p>上為粗末。每服五錢至七錢。水煎食後溫服。</p>
<p><u>順氣散</u></p>
<p>　治消中。熱在胃而能食。小便赤黃。微利之為效。不可多利。服此藥漸漸利之。不欲多食則愈。</p>
<p>厚朴（薑製一兩）　大黃（四兩）　枳實（二錢炒）</p>
<p>上　。每服五錢。水煎食遠服。</p>
<p><u>茴香散</u></p>
<p>　治腎消病下焦。初證小便如膏油。</p>
<p>茴香（炒）　苦楝（炒）</p>
<p>上細末。酒調二錢。食前服。</p>
<p><u>八味丸</u></p>
<p>　治腎消大病加減法。</p>
<p>本方內倍加山藥。外桂附從四時加減。假令方內桂附一兩。春各用三錢。夏用一錢。秋用五錢。冬全用一兩。</p>
<p><u>珍珠粉丸</u></p>
<p>　治白淫夢泄遺精。及滑出而不收。</p>
<p>黃柏一斤（於新瓦上燒令通赤為度）　真蛤粉（一斤）</p>
<p>上為細末。滴水丸。如桐子大。每服一百丸。空心酒下。法曰。盛陽乘陽。故精泄也。黃柏降火。蛤粉咸而補腎。陰也。又治思想無窮。所愿不得之證。</p>
<p><u>竹籠散</u></p>
<p>　治消渴。</p>
<p>五靈脂　黑豆（去皮臍）</p>
<p>上等分為細末。每服三錢。冬瓜湯調下。無冬瓜。苗葉皆可。日二服。小渴二三服效。渴定不可服熱藥。</p>
<p>唯服八味丸。去附子。加五味子。</p>
<h3>腫脹論第二十四（小兒附）</h3>
<p>靈樞脹論云。帝問岐伯脹形何如。岐伯曰。夫心脹者。煩心短氣。臥不安。肺脹者。虛滿而喘咳。肝脹者。</p>
<p>脅下滿而痛引少腹。脾脹者。善噦。四肢煩　。體重不能勝衣。臥不安。腎脹者。腹滿引背央央然。腰髀痛。</p>
<p>六腑脹。胃脹者。腹滿胃脘痛。鼻聞焦臭。妨於食。大便難。大腸脹者。腸鳴而痛濯濯。冬日重感於寒。則飧泄不化。小腸脹者。少腹　脹引腰而痛。膀胱脹者。少腹滿而氣癃。三焦脹者。氣滿於皮膚中。輕輕然而不堅。</p>
<p>膽脹者。脅下痛脹。口中苦善太息。又水脹篇云。帝問岐伯水脹何如。答曰。水始起也。目窠上微腫。如新臥起之狀。其頸脈動。時咳。陰股間寒。足脛腫。腹乃大。其水已成矣。以手按其腹。隨手而起。如裹水之狀。</p>
<p>此其候也。帝曰。膚脹何如。岐伯曰。膚脹者。寒氣客於皮膚之間。　然不堅。腹大身盡腫。皮濃。按其腹而不起。腹色不變。此其候也。鼓脹何如。答曰。腹脹身皆大。大與膚脹等也。色蒼黃。腹筋起。此其候也。腸覃何如。答曰。寒氣客於腸外。與衛氣相搏。氣不得營。因有所系。癖而內著。惡氣乃起。　肉乃生。</p>
<p>其始生也。大如雞卵。稍以益大。至其成。如懷子之狀。久者離藏。按之則堅。推之則移。月事以時下。此其候也。石瘕何如。答曰。石瘕生於胞中。寒氣客於子門。子門閉塞。氣不得通。惡血當瀉不瀉。　以留止。</p>
<p>日以益大。狀如懷子。月事不以時下。皆生於女子。可導而下。帝曰。膚脹鼓脹可刺邪。曰。先瀉其脹之血絡。</p>
<p>後調其經。刺去其血絡也。</p>
<p>經云。平治權衡。去宛陳　。開鬼門。潔淨府。平治權衡者。察脈之浮沉也。去宛陳　者。疏滌腸胃也。</p>
<p>開鬼門潔淨府者。發汗利小便也。又鼓脹之病。治以雞屎醴。名醫云。其腫有短氣不得臥為心水。兩脅痛為肝水。大便鴨溏為肺水。四肢皆腫為脾水。腰痛足冷為腎水。口苦咽乾為膽水。乍虛乍實為大腸水。各隨其經絡。分其內外。審其脈證而別之。又有風水皮水石水黃汗。歸各臟以論之。風合歸肝。皮合歸肺。黃汗歸脾。石合歸腎。風水脈浮。必惡風。皮水脈亦浮。按下沒指。石水脈沉。腹滿不喘。黃汗脈沉遲。發熱而多涎。久而不愈。必致癰膿。水腫脈浮帶數。即是虛寒潛止其間。久必沉伏。沉伏則陽虛陰實。為水必矣。要知水脈必沉是也。論曰。脈出者死。與病不相應也。諸唇黑則傷肝。缺盆盈平則傷心。臍出則傷脾。足平則傷腎。背平則傷肺。此五者必不可療也。治法云。</p>
<p>腰以上宜發汗。腰以下利小便。錢氏論虛實腹脹。實則不因吐瀉久病之後。亦不因下利。脹而喘急悶亂。更有痰有熱。及有宿食不化而脹者。宜服大黃丸白餅子紫霜丸下之。更詳認大小便。如俱不通。先利小便。後利大便。虛則久病吐瀉後。其脈微細。肺主目胞腮虛腫。手足冷。當先服塌氣丸。後服異功散。及和中丸益黃散溫其氣。因於氣腫者。橘皮煎丸。因於濕為腫。煎防己黃　湯。調五苓散。因於熱為腫者。服八正散。</p>
<p>又一法。燥熱於肺為腫者。乃絕水之源也。當清肺除燥。水自生矣。於豉梔湯中。加黃芩。如熱在下焦。</p>
<p>陰消使氣不得化者。當益陰。則陽氣自化也。黃柏黃連是也。</p>
<p>五脈論五水灸法青水灸肝井。赤水灸心滎。黃水灸脾俞。白水灸肺經。黑水灸腎合。</p>
<p>婦人蠱脹無脈。燒青丸。五皮散亦是。</p>
<p>論諸蠱脹者有二。腫若從胃。則旦食而不能夜食。旦則不脹。夜則脹是也。若水腫證。濡泄者是也。內經曰。蠱脹之病。治以雞屎醴。酒調服。水脹之病。當開鬼門。潔淨府也。</p>
<p><u>白茯苓湯名變水</u></p>
<p>白茯苓　澤瀉（各二兩）　郁李仁（二錢）</p>
<p>上　咀。作一服。水一碗。煎至一半。常服無時。從少至多服。或煎得。澄入生薑自然汁在內和面。或作粥飯。作常食。五七日後。覺脹下。再以</p>
<p><u>白朮散。</u></p>
<p>白朮　澤瀉（各半兩）</p>
<p>上為細末。每服三錢。煎茯苓湯調下。或丸亦可。服三十丸。</p>
<p>末治之藥。服黃　芍藥建中之類。以調養之。平復後。忌房室豬魚鹽面等物。</p>
<p>治水氣蠱脹。潔淨府。</p>
<p><u>楮實子丸。</u></p>
<p>楮實子（一斗水二斗熬成膏子）　白丁香（一兩半）　茯苓（三兩去皮）</p>
<p>上二味為細末。用楮實膏為丸。如桐子大。不計丸數。從少至多。服至小便清利。及腹脹減為度。後服中治藥末治藥調養藥。疏啟其中。忌甘苦酸。補其下。五補七宣。</p>
<p>取穴法治腫治其經。治金火也。井滎俞經。陰經金也。金水木火。陽經火也。</p>
<p><u>治腫木香散</u></p>
<p>木香　大戟　白牽牛（各等分）</p>
<p>上為細末。每用三錢。豬腰子一對。批開摻藥在內。燒熟空心服之。如左則塌左。右則塌右。如水腫不能全去。於腹上塗甘遂末。在繞臍滿腹。少飲甘草水。其腫便去也。</p>
<p><u>治水腫</u></p>
<p>螻蛄去頭尾。與葡萄心同研。露七日。曝乾為細末。淡酒調下。暑月濕用尤佳。</p>
<p><u>又方</u></p>
<p>棗一斗。鍋內入水。上有四指。用大戟並根苗蓋之遍。盆合之。煮熟為度。去大戟不用。旋煮旋吃無時。盡棗決愈。神效。</p>
<h3>眼目論第二十五</h3>
<p>論曰。眼之為病。在腑則為表。當除風散熱。在臟則為裡。宜養血安神。暴發者為表而易治。久病者在裡而難愈。除風散熱者。瀉青丸主之。養血安神者。定志丸。婦人熟乾地黃丸是也。或有體肥氣盛。風熱上行。</p>
<p>目昏澀者。槐子散主之。此由胸中氣濁上行也。重則為痰厥。亦能損目。常使胸中氣清。無此病也。又有因目疾服藥多而損氣者。久之眼漸昏弱。乍明乍暗。不欲視物。此目少血之驗也。熟乾地黃丸。消風散。定志丸。</p>
<p>相須而養之。或有視物不明。見黑花者。此謂之腎氣弱也。宜補腎水。駐景丸是也。或有暴失明者。謂眼居諸陽交之會也。而陰反閉之。此風邪內滿。當有不測之疾也。翳膜者。風熱重而有之。或斑入眼。此肝氣盛而發在表也。翳膜已生在表明矣。當發散而去之。反疏利則邪氣內搐。為翳則深也。邪氣未定。謂之熱翳而浮。邪氣已定。謂之冰翳而沉。邪氣牢而深者。謂之陷翳。當以　發之物。使其邪氣再動。翳膜乃浮。輔之退翳之藥。</p>
<p>則能自去也。病久者。不能速效。當以歲月除之。</p>
<p>治眼赤暴發腫。</p>
<p><u>散熱飲子。</u></p>
<p>防風　羌活　黃芩　黃連（各一兩）</p>
<p>上　。每服半兩。水二盞。煎至一盞。食後溫服。如大便秘澀。加大黃一兩。如痛甚者。加當歸地黃。如煩躁不能眠睡。加梔子一兩。</p>
<p>川芎散　治風熱上衝。頭目眩熱腫。及胸中不利。</p>
<p>川芎　槐子（各一兩）</p>
<p>上細末三錢。如胸中氣滯不利。生薑湯調。目疾茶調。風熱上攻。　咀一兩。水煎食後服。</p>
<p>治眼久病昏澀。因發而久不愈。</p>
<p><u>地黃湯。</u></p>
<p>防風　羌活　黃芩　黃連　地黃　當歸　人參　茯神（各等分）</p>
<p>上為粗末。每服五七錢。水一盞半。煎至一盞。去滓溫服食後。</p>
<p><u>槐子散</u></p>
<p>槐子　黃芩　木賊　蒼朮（各等分）</p>
<p>上細末。茶清調下。食後。</p>
<p>治眼生翳膜。及斑入眼。　赤已過者。瀉青丸主之。當半減大黃。如大便秘。　氣未定。依方服之。</p>
<p>治冰翳久不去者。</p>
<p><u>羚羊角散</u></p>
<p>主之。</p>
<p>羚羊角　升麻　細辛（各等分）　甘草（半之）</p>
<p>上為細末。一半為散。一半蜜為丸。如桐子大。每服五七十丸。以羚羊角散下之。食後臨臥。米泔水煎服。</p>
<p>治太陽經。衛虛血貫腫人臉重。頭中濕淫膚脈。睛痛肝風盛。眼黑腎虛。</p>
<p><u>桔梗丸。</u></p>
<p>桔梗（一斤）　牽牛（頭末三兩）</p>
<p>上二味為末。煉蜜為丸。如桐子大。每服四五十丸。加至百丸。食前溫水下。日二服。</p>
<p><u>金絲膏</u></p>
<p>　點眼藥。</p>
<p>生薑（四兩取汁）　白沙蜜（一斤煉去滓）　豬膽汁（三錢）　黃連（四兩槌用水一斗浸煎取五升）</p>
<p>上先煎黃連水。後入薑汁。次入蜜。同煎去沫淨。次入下項藥末。</p>
<p>腦子（四錢）　麝香（三錢）　砂（四錢）　硼砂（三錢）　輕粉（五錢）　熊膽（四錢）　青鹽（三錢）</p>
<p>上極細攪勻。熬令稀膏。點用。</p>
<p>治眼暴赤發嗔痛不可忍者。</p>
<p><u>救苦丸。</u></p>
<p>黃連（一兩）　當歸（二錢）　甘草（一錢）</p>
<p>上同　細。新水半碗。浸一宿。以慢火熬。約至一半。以綿濾去滓。以淨為妙。用火再熬。作稠膏子為度。</p>
<p>攤在碗上倒合。以物蓋之。用熟艾一大彈子許。底下燃之。用艾熏膏子。艾盡為度。再入下項藥。</p>
<p>朱砂（一錢飛）　腦子（半錢）　乳香　沒藥（等分）</p>
<p>上同研極細。入黃連膏內。搜和丸如米大。每用二丸。點眼大角內。仰面臥。藥化則起。</p>
<p>治眼發赤腫。毒瓦斯侵睛脹痛。</p>
<p><u>宣毒散。</u></p>
<p>盆硝　雄黃　乳香　沒藥（各等分）</p>
<p>上為極細末。以少許。鼻內　之。</p>
<p>治眼風毒發腫。鼻中欲嚏。嚏多大損而生瘡。</p>
<p><u>宣風散。</u></p>
<p>川芎　甘菊（各二錢）　乳香　沒藥（各一錢）</p>
<p>上和勻。再研極細。少許鼻內　之。</p>
<p>能遠視不能近視。局方中</p>
<p><u>定志丸。</u></p>
<p>白茯苓（去皮）　人參（去蘆頭各三兩）　遠志（去苗及心）　菖蒲（各二兩）</p>
<p>目能近視不能遠視。</p>
<p><u>萬壽地芝丸。</u></p>
<p>生薑（四兩焙）　天門冬（四兩去心）　枳殼（三兩去穰炒）　甘菊（二兩）</p>
<p>上為細末。煉蜜丸如桐子大。茶清或溫酒下一百丸。食後。此藥能愈大風熱。</p>
<p><u>洗眼藥</u></p>
<p>訶子（二兩）　黃丹（四兩）　蜜（八兩）　柳枝（四十寸）</p>
<p>上以河水二碗。熬至半碗。用一錢熱水化洗之。石器內熬。</p>
<p>治眼赤瞎。以青　蛆。不以多少。淘淨晒乾末之。令害眼人仰臥合目。用藥一錢散在眼上。須臾藥行。待少時去藥。赤瞎亦無。</p>
<p><u>治倒睫</u></p>
<p>　無名異末之。摻在紙中。卷作捻子。點著到藥處吹殺。以煙熏目。睫自起。</p>
<h3>瘡瘍論第二十六</h3>
<p>論曰。瘡瘍者。火之屬。須分內外以治其本。內經曰。膏粱之變。足生大丁。其原在裡。發於表也。受持如虛。言內結而發諸外。未知從何道而出。皆是從虛而出也。假令太陽經虛從背而出。少陽經虛從鬢出。陽明經虛從髭而出。督脈經虛從腦而出。又經曰。地之濕氣。感則害人皮膚筋脈。其在外盛則內行。若其脈沉實。</p>
<p>當先疏其內。以絕其原也。其脈浮大。當先托裡。恐氣傷於內也。有內外之中者。邪氣至甚。遏絕經絡。故發癰腫。經曰。榮氣不從。逆於肉理。乃生癰疽。此因失托裡。及失疏通。又失和榮衛也。治瘡之大要。須明托裡疏通行榮衛三法。托裡者。治其外之內。疏通者。治其內之外。行榮衛者。治其中也。內之外者。其脈沉實。發熱煩躁。外無　赤痛。其邪氣深於內也。故先疏通。以絕其原。外之內者。其脈浮數。　腫在外。形證外顯。恐邪氣極而內行。故先托裡。內外之中者。外無　惡之氣。內亦臟腑宣通。知其在經。當和榮衛也。用此三法之後。雖未瘥。必無變證。亦可使邪氣峻減。而易痊愈。故經曰。諸痛癢瘡瘍。皆屬心火。又曰。知其要者。一言而終。不知其要。流散無窮。</p>
<p>針灸法曰。凡瘡瘍可灸刺者。須分經絡部分。血氣多少。俞穴遠近。若從背而出。當從太陽五穴。隨證選用。或刺或灸。泄其邪氣。</p>
<p>凡太陽多血少氣。</p>
<p>至陰　通谷　束骨　昆侖　委中從鬢而出者。當從少陽五穴選用。</p>
<p>少陽少血多氣。</p>
<p>竅陰　俠谿　臨泣　陽輔　陽陵泉從髭而出者。當從陽明五穴選用。</p>
<p>陽明多血多氣。</p>
<p>厲兌　內庭　陷谷　衝陽　解谿從腦而出者。初覺腦痛不可忍。且欲生瘡也。腦者髓之海。當灸刺絕骨。以泄邪氣。髓者舍也。故脈浮者。</p>
<p>從太陽經。依前選用。脈長者。從陽明經。依前選用。脈弦者。從少陽經。依前選用。論曰。諸經各有井滎俞經合。井主心下滿及瘡色青。滎主身熱及瘡赤色。俞主體重節痛瘡黃色。經主咳嗽寒熱瘡白色。合主氣逆而泄瘡黑色。隨經病而有此證者。或宜灸宜針。以泄邪氣。經曰。邪氣內蓄則腫熱。宜砭射之也。內經曰。夫癖氣之息者。宜以針開除之。氣勝血聚者。宜石而泄之。王注曰。石砭也。可以破大癰出膿。今以排針代之。凡瘡瘍已覺微漫腫硬。皮血不變色。脈沉不痛者。當外灸之。引邪氣出而方止。如已有膿水者不可灸。當刺之。淺者亦不灸。經曰。陷者灸之。如外微覺木硬而不痛者。當急灸之。是邪氣深陷也。淺者不可灸。慎之。</p>
<p>諸病瘡瘍如嘔者。是濕氣浸於胃也。藥中宜倍加白朮服之。</p>
<p><u>內疏黃連湯</u></p>
<p>　治嘔噦心逆。發熱而煩。脈沉而實。腫硬木悶而皮肉不變色。根深大。病在內。臟腑秘澀。</p>
<p>當急疏利之。</p>
<p>黃連　芍藥　當歸　檳榔　木香　黃芩　山梔子　薄荷　桔梗　甘草（以上各一兩）　連翹（二兩）</p>
<p>上除檳榔木香二味為細末外。並　。每服一兩。水一盞半。煎至一盞。先吃一二服。次每服加大黃一錢。再服加二錢。以利為度。如有熱證。止服黃連湯。大便秘澀加大黃。覺無熱證。少煎沒藥內托復煎散。時時服之。</p>
<p>如實無熱。及大小便通。止服復煎散。稍有熱證。卻服黃連湯。秘則加大黃。如此內外皆通。榮衛和調。則經絡自不遏絕矣。</p>
<p>治腫　於外。根　不深。形證在表。其脈多浮。痛在皮肉。邪氣盛則必侵於內。急須內托以救其裡也。</p>
<p>服</p>
<p><u>內托復煎散。</u></p>
<p>地骨皮　黃　芍藥　黃芩　白朮　茯苓　人參　柳桂（味淡者）　甘草　防己　當歸（以上各一兩）　防風（二兩）</p>
<p>上　咀。先煎蒼朮一斤。用水五升。煎至三升。去朮滓。入前藥十二味。再煎至三四盞。絞取清汁。作三四服。終日服之。又煎蒼朮滓為湯。去滓再依前煎服十二味滓。此除濕散鬱熱。使胃氣和平。如或未已。再作半料服之。若大便秘。及煩熱。少服黃連湯。如微利及煩熱已過。卻服復煎散半料。如此使榮衛俱行。邪氣不能內侵也。</p>
<p>治諸瘡瘍。臟腑已行。如痛不可忍者。可服</p>
<p><u>當歸黃　湯</u>。並加減在後。</p>
<p>當歸　黃　地黃　地骨皮　川芎　芍藥（等分）</p>
<p>上　咀。每服一兩。水一碗。煎至五分。去滓溫服。如發熱者。加黃芩。煩熱不能臥者。加梔子。如嘔是濕氣侵胃也。倍加白朮。</p>
<p><u>膏藥方</u></p>
<p>好芝麻油（半斤）　當歸（半兩）　杏仁（四十九個去皮）　桃柳枝（各四十九條長四指）</p>
<p>上用桃柳二大枝。新綿一葉包藥。系於一枝上。內油中。外一枝攪於鐵器內。煎成入黃丹三兩。一處熬。</p>
<p>水中滴成不散如珠子為度。</p>
<p>冶金絲瘡。一云紅絲瘤。其狀如線或如繩。巨細不等。經所謂丹毒是也。但比　毒不甚廣闊。人患此疾。</p>
<p>頭手有之。下行至心則死。下有之上行亦然。法當於瘡頭截經而剌之。以出血後。嚼萍草根塗之。立愈。</p>
<p>治從高墜下。涎潮昏冒。此驚恐得也。</p>
<p><u>苦杖散。</u></p>
<p>苦杖（不以多少）</p>
<p>上細末。熱酒調下。如產後瘀血不散。或聚血。皆治之。</p>
<p>治疔瘡。</p>
<p><u>奪命散。</u></p>
<p>烏頭尖　附子底　蠍梢　雄黃（各一錢）　蜈蚣（一對）　砂　粉霜　輕粉　麝香　乳香（各半錢）</p>
<p>信（二錢半）　腦子（少許）</p>
<p>上為細末。先破瘡出惡血畢。以草杖頭用紙帶入於內。以深為妙。</p>
<p>治瘡難消。不能作膿。痛不止。</p>
<p><u>木香散。</u></p>
<p>地骨皮（一兩去土皮）　木香（半兩）　穿山甲（二錢半炙黃）　麝香（一字）</p>
<p>上為細末。酒調下三錢。及小兒斑後生癰。米飲調下。效如神。</p>
<p>治疔瘡毒瓦斯入腹。昏悶不食。</p>
<p>紫花地丁　蟬殼　管仲（各半兩）　丁香　乳香（各一錢）</p>
<p>上細末。每服二錢。溫酒調下。</p>
<p>治惡瘡有死肉者。及追膿。</p>
<p>白丁香　輕粉　粉霜　雄黃　麝香（各一錢）　巴豆（三個去油）</p>
<p>上同研細。新飯和作錠子用之。</p>
<p>治諸瘡大疼痛。不辨肉色。漫腫光色。名曰附骨癰如神。</p>
<p><u>三生散。</u></p>
<p>露蜂房　蛇退皮　頭發（洗淨等分）</p>
<p>三味燒灰存性研細。酒調三錢。</p>
<p>治膀胱移熱於小腸。上為口糜。好飲酒人多有此疾。當用</p>
<p><u>導赤散五苓散</u></p>
<p>各半兩煎服。</p>
<p>治少陰口瘡。</p>
<p><u>半夏散</u>。若聲絕不出者。是風寒遏絕陽氣不伸也。</p>
<p>半夏（一兩制）　桂（一字）　草烏頭（一字）</p>
<p>上同煎一盞水。分作二服。其效如神。</p>
<p>治太陰口瘡。甘礬散生甘草（一寸）　白礬（一栗子大）</p>
<p>上含化咽津。</p>
<p>治赤口瘡。</p>
<p><u>乳香散。</u></p>
<p>乳香　沒藥（各一錢）　白礬（飛半錢）　銅綠（少許）</p>
<p>為細末。摻用。</p>
<p>諸瘡瘍痛色變紫黑者。</p>
<p><u>回瘡金銀花湯。</u></p>
<p>金銀花（連枝二兩）　黃　（四兩）　甘草（一兩）</p>
<p>上三味　細。酒一升。入瓶內閉口。重湯內煮三二時。取出去滓。放溫服之。</p>
<p>諸瘡腫已破。未破　腫甚。</p>
<p><u>當歸散</u></p>
<p>主之。</p>
<p>當歸　黃　栝蔞　木香　黃連（各等）</p>
<p>上為粗末。煎一兩。如痛而大便秘。加大黃三錢。</p>
<p><u>乳香散</u></p>
<p>　治瘡口痛大者。</p>
<p>寒水石（燒一兩）　滑石（一兩）　乳香　沒藥（各五分）　腦子（少許）</p>
<p>上各研細同和勻。少摻瘡口上。</p>
<p><u>雄黃散</u></p>
<p>　治諸瘡有惡肉。不能去者。</p>
<p>雄黃（一錢研）　巴豆（一個去皮研）</p>
<p>上二味同研如泥。入乳香沒藥少許。再研細。少上。惡肉自去也。</p>
<p><u>木香散</u></p>
<p>　治瘡口久不斂。</p>
<p>木香　檳榔（各一錢）　黃連（二錢）</p>
<p>上為細末。摻上。如痛加當歸一錢貼之。自收斂。</p>
<p><u>又方</u></p>
<p>蜀椒（去目炒黑色一錢另研）　定粉（一兩）　風化灰（五錢）　白礬（二錢半飛過）　乳香　沒藥（各一錢）</p>
<p>上為細末。摻瘡口上。</p>
<p><u>針頭歲</u></p>
<p>　治瘡瘍　腫木硬。</p>
<p>蟾酥　麝香（各一錢）</p>
<p>各同研極細。以兒乳沖調和泥。入磁合內盛。干不妨。每用以唾津調撥少許於腫處。更以膏藥敷之。毒瓦斯自出。不能為瘡。雖有瘡亦輕。</p>
<p>治白口瘡。</p>
<p><u>沒藥散。</u></p>
<p>沒藥　乳香　雄黃（各一錢）　輕粉（半錢）　巴豆霜（少許）</p>
<p>上細末。干摻。</p>
<h3>瘰論第二十七</h3>
<p>夫瘰　者。經所謂結核是也。或在耳前後。連及頤頷。下連缺盆。皆為瘰　。或在胸及胸之側。下連兩脅。</p>
<p>皆為馬刀。手足少陽主之。此經多氣少血。故多堅而少軟。膿白而稀如泔水狀。治者求水清可也。如瘰　生在別經。臨時於銅人內。隨其所屬經絡部分。對證之穴灸之。並依經內藥用之。獨形而小者。為結核。續數連結者。為瘰　。形表如蛤者。為馬刀。</p>
<p>治馬刀。</p>
<p><u>連翹湯</u></p>
<p>連翹（二斤）　瞿麥（一斤）　大黃（三兩）　甘草（一兩）</p>
<p>上　咀一兩。水兩碗。煎至一盞半。早食後巳時服。在項兩邊。是屬少陽經。服藥十余日後。可於臨泣穴。</p>
<p>灸二七壯。服藥不可住了。至六十日決效。有一方。加大黃。不用甘草。更加貝母五兩。雄黃七分。檳榔半兩。</p>
<p>同未熱水調下三五錢。</p>
<p>治瘰　。</p>
<p><u>文武膏</u>。（桑椹也。）</p>
<p>文武實（二斗黑熟者）</p>
<p>上以布袋取汁。銀石器中熬成薄膏。白湯點一匙。日三服。</p>
<h3>痔疾論第二十八</h3>
<p>論曰。手陽明大腸名曰害蜚。（蜚蟲也）六元正紀論。陽明又曰司殺府。（手陽明屬金）大腸名害蜚。謂金能害五蟲。又曰。司殺府。謂金主殺。既有此二名。何以自生蟲。蓋謂三焦相火盛。而能制陽明金。故木來相侮。內經曰。侮謂勝己也。木主生五蟲。叔和云。氣主生於脾臟旁。大腸疼痛陣難當。漸覺稍瀉三焦熱。莫漫多方立紀綱。此言飲酒多食熱物。脾生大熱。而助三焦氣盛。火能生土也。當瀉三焦。火熱退。使金得氣而反制木。木受制則五蟲不生。病自愈矣。</p>
<p><u>蒼朮澤瀉丸</u></p>
<p>蒼朮（四兩去皮）　澤瀉（二兩）　枳實（二兩）　地榆（一兩）　皂子（二兩燒存性）</p>
<p>上為細末。燒飯為丸。桐子大。每服三十丸。食前酒或米飲下。</p>
<p><u>又方</u></p>
<p>川烏（炮）　古鍛石（等分）</p>
<p>依前丸服。</p>
<p><u>淋洗藥</u></p>
<p>天仙子　荊芥　蜀椒　蔓荊子（等分）</p>
<p>上以水煎洗。</p>
<p><u>黑地黃丸</u>。治痔之聖藥也。在虛損門下有方。</p>
<h3>婦人胎產論第二十九（帶下附）</h3>
<p>論曰。婦人童幼天癸未行之間。皆屬少陰。天癸既行。皆從厥陰論之。天癸已絕。乃屬太陰經也。治胎產之病。從厥陰經者。是祖生化之源也。厥明與少陽相為表裡。故治法無犯胃氣。及上二焦。為三禁。不可汗。</p>
<p>不可下。不可利小便。發汗者。同傷寒下早之證。利大便。則脈數而已動於脾。利小便。則內亡津液。胃中枯燥。制藥之法。能不犯三禁。則榮衛自和。榮衛和而寒熱止矣。外則和於榮衛。內則調於清便。先將此法為之初治。次後詳而論之。見證消息。同壞證傷寒。為之緩治。或小便不利。或大便秘結。或積熱於腸胃之間。或以成　。或散血氣而為浮腫。蓋產理多門。故同傷寒壞證。如發渴用白虎。氣弱則黃　。血刺痛而用以當歸。腹中痛而加之芍藥。以上例證。不犯三禁。皆產後之久病也。凡產後暴病。禁犯不可拘也。如產後熱入血室者。桃仁承氣抵當湯之類是也。胃堅燥者。</p>
<p>大承氣不可以泄藥言之。產後世人多用烏金四物。是不知四時之寒熱。不明血氣之虛與實。盲然一概。用藥如此。而愈加增劇。是醫人誤之耳。大抵產病天行。從增損柴胡。雜證從加添四物。然春夏雖從柴胡。秋冬約同四物。藥性寒熱。病證虛實。不可不察也。四物湯常病服餌。四時各有增損。今具增損於後。</p>
<p>春倍川芎。（一曰春二曰脈弦三曰頭痛）　夏倍芍藥。（一曰夏二曰脈洪三曰泄）　秋倍地黃。（一曰秋二曰脈澀三曰血虛）　冬倍當歸。（一曰冬二曰脈沉三曰寒而不食）　此常服順四時之氣。而有對證不愈者。</p>
<p>謂失其輔也。春防風四物。（加防風倍川芎）　夏黃芩四物。（加黃芩倍芍藥）　秋天門冬四物。（加天門冬倍地黃）　冬桂枝四物。（加桂枝倍當歸）　此四時常服隨證用之也。如血虛而腹痛。微汗而惡風。四物加朮桂。謂之腹痛六合。如風虛眩暈。加秦艽羌活。謂之風六合。如氣虛弱。起則無力。匡然而倒。加厚朴陳皮。</p>
<p>謂之氣六合。如發熱而煩。不能安臥者。加黃連梔子。謂之熱六合。如虛寒脈微。氣難布息。不渴清便自調。</p>
<p>加乾薑附子。謂之寒六合。如中濕身沉重無力。身涼微汗。加白朮茯苓。謂之濕六合。此婦人常病。及產後病通用之藥也。治婦人虛勞。局方中謂之首尾六合者。如大聖散下熟乾地黃丸。是治無熱虛勞。專其養也。中道藥也。牡丹煎丸。空心食前。人參荊芥散。臨臥食後。是治有熱虛勞藥也。</p>
<p>治婦人懷胎腹脹。</p>
<p><u>枳殼湯。</u></p>
<p>枳殼（三兩炒）　黃芩（一兩）</p>
<p>上為粗末。每服半兩。水一盞半。煎一盞。去滓溫服。</p>
<p>治產前脹滿。身體沉重。枳殼湯中。加白朮一兩。</p>
<p>治產前寒熱。小柴胡湯中。去半夏。謂之黃龍湯。</p>
<p>治懷孕胎漏。</p>
<p><u>二黃散。</u></p>
<p>生地黃　熟地黃（各等分）</p>
<p>上為細末。加白朮。枳殼湯調下一兩。日二服。</p>
<p>治有孕胎痛。</p>
<p><u>地黃當歸湯。</u></p>
<p>當歸（一兩）　熟地黃（二兩）</p>
<p>上為粗末。作一服。水三升。煎至升半。去滓頓服。</p>
<p><u>束胎丸</u></p>
<p>白朮　枳殼（去穰炒等分）</p>
<p>上為末。燒飯為丸。如桐子大。每月一日食前服三五十丸。溫熟水下。胎瘦易生也。服至產則已。</p>
<p>產間藥治胎衣不下。或子死腹中。或血衝上昏悶。或血暴下。及胞干而不能產者。宜服</p>
<p><u>半夏湯。</u></p>
<p>半夏曲（一兩半）　桂（七錢半去皮）　大黃（五錢）　桃仁（三十個去皮尖炒）</p>
<p>上為細末。先服四物湯三兩服。次服半夏湯三錢。生薑三片。水一盞。煎去三分。食後。如未效。次服下胎丸。</p>
<p><u>下胎丸</u></p>
<p>半夏（生）　白斂（各半兩）</p>
<p>上為細末。滴水為丸。如桐子大。食後。用半夏湯下三二丸。續續加至五七丸。如有未效者。須廣大其藥。</p>
<p>榆白皮散主之。又不效大聖散主之。有宿熱人。宜服人參荊芥散。</p>
<p>產後藥治產後經水適斷。感於異證。手足牽搐。切牙昏冒。宜</p>
<p><u>增損柴胡湯。</u></p>
<p>柴胡（八錢）　黃芩（四錢半）　人參（三錢）　半夏（三錢）　石膏（四錢）　知母（二錢）　黃　（五錢）</p>
<p>甘草（四錢炙）</p>
<p>上為粗末。每服半兩。生薑五片。棗四個。水一盞半。煎至一盞。溫服清。無時。</p>
<p>前證已去。次服</p>
<p><u>秦艽湯</u>。去其風邪。</p>
<p>秦艽（八錢）　人參（三錢）　防風（四錢半）　芍藥（半兩）　柴胡（八錢）　黃芩（四錢半）　半夏（三錢）</p>
<p>甘草（四錢炙）</p>
<p>上為粗末。每服五七錢。水一盞。煎至七分。溫服清無時。二三日經水復行。前證退。宜服荊芥散。小柴胡小料中。加荊芥穗五錢。枳殼五錢麩炒去穰。同小柴胡湯煎服。三二日後。宜正脾胃之氣。兼除風邪。宜服</p>
<p><u>防風湯。</u></p>
<p>蒼朮（四兩）　防風（三兩）　當歸（一兩半）　羌活（一兩半）</p>
<p>上為粗末。每服一二兩。水三盞。煎至一盞半。取清。續續常服。無時。</p>
<p>凡胎前之藥。無犯胎氣。產後變化。並同傷寒壞證。盡從加減四物湯調治。</p>
<p>治產後腹大堅滿。喘不能臥。</p>
<p><u>白聖散。</u></p>
<p>樟柳根（三兩）　大戟（二兩半）　甘遂（一兩炒）</p>
<p>上為極細末。每服二三錢。熱湯調下。取大便宣利為度。此藥主水氣之勝藥也。</p>
<p>治產後風氣在表。面目四肢浮腫。宜加減局方中七聖丸。每服二十丸。白湯下。日加三四丸。以利為度。</p>
<p>如浮腫喘嗽。加木香檳榔倍之。謂氣多浮則腫。如頭目昏冒。加羌活川芎。謂多風也。如只浮腫。依七聖丸本方服之。</p>
<p>治產後日久虛勞。雖日久而脈浮疾者。宜服三元湯。</p>
<p>柴胡（八錢）　黃芩　人參　半夏（洗）　甘草（炙以上各三錢）　川芎　芍藥　熟地黃　當歸（各二錢半）</p>
<p>上為粗末。同小柴胡湯煎服。</p>
<p>治日久虛勞。微有寒熱。脈沉而浮。宜</p>
<p><u>柴胡四物湯。</u></p>
<p>川芎　熟地黃　當歸　芍藥（各一兩半）　柴胡（八錢）　人參　黃芩　甘草　半夏曲（以上各三錢）</p>
<p>上為粗末。同四物煎服。</p>
<p>如日久虛勞。針灸小藥俱不效者。宜服</p>
<p><u>三分散。</u></p>
<p>白朮　茯苓　黃　川芎　芍藥　熟地黃　當歸（各一兩）　柴胡（一兩六錢）　黃芩（六錢）　人參（一兩六錢）</p>
<p>半夏（六錢）　甘草（六錢）</p>
<p>上為粗末。每服一兩。水一盞。煎至半盞。溫服清。日一服。</p>
<p>治產後虛勞不能食。宜</p>
<p><u>十全散。</u></p>
<p>白朮　茯苓　黃　（各二兩）　人參　川芎　芍藥　熟地黃　當歸（各一兩）　桂（一兩半）　甘草（一兩半炙）</p>
<p>上　如麻豆。每服半兩。水一盞半。入生薑五片。棗三枚。同煎至七分。空心食前溫服清。</p>
<p>凡虛損病者。淺深治有次第。虛損論中詳論之。</p>
<p>治產後諸風。痿攣無力。</p>
<p><u>血風湯。</u></p>
<p>秦艽　羌活　防風　白芷　川芎　芍藥　當歸　地黃　白朮　茯苓（各等分）</p>
<p>上為細末。一半煉蜜丸如桐子大。一半散。溫酒調下丸子五七十丸。甚妙。</p>
<p>治產後諸積不可攻。當養陰去熱。其病自退。宜服</p>
<p><u>芍藥湯。</u></p>
<p>芍藥（一斤）　黃芩　茯苓（各六兩）</p>
<p>上三味為粗末。每服半兩。水煎。日三服。去滓溫服。</p>
<p>治產後兒枕大痛。</p>
<p><u>黑白散。</u></p>
<p>烏金石（燒紅醋淬七遍另為細末）　寒水石（燒存性末）</p>
<p>上二味各等分。另頓放。臨服各抄末一錢半。粥飲湯下。痛止便不可服。未止再服。大效。</p>
<p>治產後不煩而渴。</p>
<p><u>桃花散。</u></p>
<p>新鍛石（一兩）　黃丹（半錢）</p>
<p>上細末。渴時冷漿水。調一錢服。</p>
<p>治產後沖脹。胸中有物狀。是噎氣不降。</p>
<p><u>紫金丹。</u></p>
<p>代赭石　礪石（各等分）</p>
<p>上為細末。醋糊為丸。如桐子大。每服三五十丸。酒下。胸中痛。加當歸湯下。久服治血癖。</p>
<p><u>又方</u></p>
<p>代赭石（一兩）　桃仁（三錢炒去皮尖）　大黃（五錢）</p>
<p>上為末。薄荷水為糊。丸如桐子大。每服三五十丸。溫水下無時。</p>
<p>治臍腹痛不可忍。四物湯一兩。加玄胡三錢半。</p>
<p>治血癖腹痛。及血刺腰痛。四物湯細末二兩。加酒煮玄胡細末三兩。每服三錢。酒調下。</p>
<p>治血運血結血聚於胸中。或偏於少腹。或連於肋脅。四物湯四兩。倍當歸川芎。加鬼箭紅花玄胡各一兩。</p>
<p>同為末。如四物湯煎服。取清調沒藥散服之。</p>
<p><u>沒藥散</u></p>
<p>虻蟲（一錢去足羽炒）　水蛭（一錢炒）　麝香（一錢）　沒藥（三錢）</p>
<p>上為細末。煎前藥調服。血下痛止。只服前藥。</p>
<p>治產後頭痛。血虛痰癖寒厥。皆令頭痛。加減</p>
<p><u>四物湯。</u></p>
<p>羌活　川芎　防風　香附子（炒）　白芷（以上各一兩）　石膏（二兩半）　細辛（二錢）　當歸（五錢）</p>
<p>熟地黃（一兩）　甘草（五錢）　蒼朮（一兩六錢去皮）</p>
<p>上為粗末。每服一兩。水煎服無時。如有汗者。是氣弱頭痛也。方中加芍藥三兩。桂一兩半。加生薑煎。如痰癖頭疼。加半夏三兩。茯苓一兩半。加生薑煎。如熱厥頭痛。</p>
<p>又加白芷三兩。石膏三兩。知母一兩半。寒厥頭痛。加天麻三兩。附子一兩半。生薑煎。</p>
<p>治產後風虛血眩。精神昏昧。</p>
<p><u>荊芥散。</u></p>
<p>荊芥穗（一兩三錢）　桃仁（五錢去皮尖炒）</p>
<p>上為細末。溫水調服三錢。微喘加杏仁（去皮尖炒）　甘草（炒）　各三錢。</p>
<p>治產前證胎不動。如重物下墜。腹冷如冰。</p>
<p><u>立效散。</u></p>
<p>川芎　當歸（各等分）</p>
<p>上為粗末。每服秤三錢。水二盞。煎至一盞。去滓食前服。</p>
<p>治如人胎漏。及因事下血。</p>
<p><u>枳殼湯。</u></p>
<p>枳殼（半兩）　黃芩（半兩）　白朮（一兩）</p>
<p>上為粗末。每服五七錢。水一盞。煎至七分。食前空心服。</p>
<p>治婦人筋骨痛。及頭痛脈弦。憎寒如瘧。宜服</p>
<p><u>風六合湯。</u></p>
<p>四物湯四兩。加羌活防風各一兩。</p>
<p>治婦人血氣上衝。心腹肋下悶。宜服</p>
<p><u>治氣六合湯。</u></p>
<p>四物四兩。加木香檳榔各半兩。</p>
<p>治婦人臍下冷。腹痛腰脊痛。宜服</p>
<p><u>玄胡六合湯。</u></p>
<p>四物內加玄胡苦楝（炒）各一兩。</p>
<p>治婦人氣充經脈。月事頻並。臍下痛。宜</p>
<p><u>芍藥六合湯。</u></p>
<p>四物內倍加芍藥。</p>
<p>治婦人經事欲行。臍腹絞痛。宜服</p>
<p><u>八物湯。</u></p>
<p>四物內。加玄胡苦楝各一兩。檳榔木香各半兩。</p>
<p>治婦人經水過多。別無余證。</p>
<p>四物內。加黃芩白朮各一兩。</p>
<p>治婦人經水澀少。</p>
<p>四物內。加葵花煎。</p>
<p>治婦人虛勞氣弱。喘嗽胸滿。宜</p>
<p><u>氣六合湯。</u></p>
<p>四物內。加厚朴一兩。（制）　枳實半兩。（炒）</p>
<p>以上煎法。並同四物服之。</p>
<p>四物主治法熟地黃　補血。如臍下痛。非熟地黃不能除。此通腎經之藥也。</p>
<p>川芎　治風。瀉肝木。如血虛頭痛。非芎不能除去。此通肝經之藥也。</p>
<p>芍藥　和血理脾。治腹痛非芍藥不能除。此通脾經之藥也。</p>
<p>當歸　和血。如血刺痛。非當歸不能除。此通心經之藥也。</p>
<p>以上四味治法。如前一證。於四物湯中。各加二味用之。如少腹痛。四物湯四兩。加玄胡苦楝各一兩。經水暴多。四物四兩。加黃連黃芩各一兩。如腹痛者只加黃連。如夏月用不去黃芩。經水如黑豆水。加黃連黃芩各一兩。如經水少而血色和者。四物四兩。加熟地黃當歸各一兩。如經水適來適斷。往來寒熱者。先服小柴胡。</p>
<p>以去其寒熱。後以四物湯調治之。如寒熱不退。勿服四物。是謂變證。表邪猶存。不能效也。依前論中變證。</p>
<p>隨證用藥調治之。</p>
<p>治婦人血積。</p>
<p><u>增損四物湯。</u></p>
<p>四物內。加廣術京三棱桂乾漆。皆依法制。各加一兩。如四物煎服。</p>
<p>治婦人產後血昏血崩。月事不調。遠年干血氣。皆治之。名曰</p>
<p><u>紅花散。</u></p>
<p>干荷葉　牡丹皮　當歸　紅花　蒲黃（炒）</p>
<p>上各等分。為細末。每服半兩。酒煎和滓溫服。如衣不下。另末榆白皮。煎湯調半兩立效。</p>
<p>治婦人惡物不下。</p>
<p>當歸（炒）　芫花（炒）</p>
<p>上細末。酒調三錢。又好墨醋碎末之。小便酒調下妙。</p>
<p>又治胎衣不下。蛇退皮（炒焦）細末二錢。酒調下。</p>
<p>諸見血無寒。衄血下血吐血溺血。皆屬於熱。但血家證。皆宜服此藥。</p>
<p><u>生地黃散。</u></p>
<p>生地黃　熟地黃　枸杞子　地骨皮　天門冬　黃　芍藥　甘草　黃芩上各等分同　。每服一兩。水一盞半。煎至一盞。去滓溫服。脈微身涼惡風。每一兩加桂半錢。吐血者多有此證。</p>
<p>治衄血不止。</p>
<p><u>麥門冬飲子。</u></p>
<p>麥門冬　生地黃上等分　。每服一兩。煎服。又衄血先朱砂蛤粉。次木香黃連。大便結下之。大黃芒硝甘草生地黃。溏軟。</p>
<p>梔子黃芩黃連。可選用。</p>
<p>帶下附論曰。赤者熱入小腸。白者熱入大腸。原其本也。皆濕熱結於脈。故津液涌溢。是為赤白帶下。本不病。</p>
<p>緣五脈經虛。結熱屈滯於帶。故女子臍下　痛而綿綿。陰器中時下也。故經曰。任脈為病。男子內結七疝。女子帶下瘕聚。王注曰。任脈自胞上過帶脈。貫於臍上。故男子內結七疝。女子帶下。帶脈起於季脅章門。如束帶狀。</p>
<p>今濕熱冤結不散。故為病也。經曰。脾傳之腎。病名曰疝瘕。少腹冤熱而痛。出白。一名曰蠱。所以為帶下冤屈也。冤結也。屈滯而病熱不散。先以十棗湯下之。後服苦楝丸大玄胡散調下之。熱去濕除。病自愈也。如女子不月。先瀉心火。血自下也。內經曰。二陽之病發心脾。有不得隱曲。故女子不月。其傳為風消。王注曰。大腸胃發病也。心脾受之。心主血。心病則血不流。脾主味。脾病則味不化。味不化則精不足。精血不足。故其證不能已。虧則風邪勝而真氣愈消也。又經曰。月事不來者。胞脈閉也。胞脈屬於心。而絡於胞中。</p>
<p>今氣上迫。心氣不得下通。故月事不來。先服降心火之劑。後服局方中五補丸。後以衛生湯。治脾養血氣也。</p>
<p><u>苦楝丸</u></p>
<p>　治婦人赤白帶下。</p>
<p>苦楝（碎酒浸）　茴香（炒）　當歸上等分為細末。酒糊丸。如桐子大。每服三五十丸。空心酒下。腰腿痛疼。四物四兩。加羌活防風各一兩。</p>
<p><u>衛生湯</u></p>
<p>當歸　白芍藥（各三兩）　黃　（三兩）　甘草（一兩）</p>
<p>上為粗末。每服半兩。水二盞。煎至一盞。去滓溫服空心。如虛者。加人參一兩。</p>
<h3>大頭論第三十（雷頭風附）</h3>
<p>夫大頭病者。是陽明邪熱太甚。資實少陽相火而為之也。多在少陽。或在陽明。或傳太陽。視其腫勢在何部分。隨經取之。濕熱為腫。木盛為痛。此邪見於頭。多在兩耳前後先出。皆主其病也。治之大不宜藥速。</p>
<p>速則過其病所。謂上熱未除。中寒復生。必傷人命。此病是自外而之內者。是血病。況頭部分受邪。見於無形跡之部。當先緩而後急。先緩者。謂邪氣在上。著無形之分部。既著無形。無所不至。若用重劑速下過其病難已。</p>
<p>雖用緩藥。若急服之。或食前。或頓服。皆失緩體。則藥不能除病。當徐徐浸漬無形之邪也。或藥性味形體擬象。皆要不離緩體是也。且後急者。謂緩劑已瀉。邪氣入於中。是到陰部。染於有形質之所。若不速去。則損陰也。此終治卻為客邪。當急去之。是治客以急也。且治主當緩者。謂陽邪在上。陰邪在下。各本家病也。若急治之。不能解紛而益亂也。此故治主當緩。治客以急者。謂陽分受陰邪。陰分受陽邪。此客氣急除去之也。假令少陽陽明為病。少陽為邪。出於耳之前後也。陽明為邪者。首大腫是也。先以黃芩黃連甘草湯。通炒過　煎。少少不住服。或劑畢。再用大黃煨。鼠黏子新瓦上炒香。煎藥成去滓。內芒硝。俱各等分。亦時時呷之。無令飲食在前。得微利。及邪氣已。只服前藥。如不已。</p>
<p>再同前次第服之。取大便利。邪氣即止。如陽明渴者。加石膏。如少陽渴者。加栝蔞根。陽明行經升麻芍藥葛根甘草。太陽行經。羌活防風之類。</p>
<p>雷頭風附夫治雷頭者。諸藥不效。為與證不相對也。夫頭者。震卦主之。震仰盂。故予制藥內加荷葉。謂象其震之形。其色又青。乃述類象形也。當煎局方中</p>
<p><u>升麻湯。</u></p>
<p>升麻（一兩）　蒼朮（一兩）　荷葉（一個全者）</p>
<p>上為細末。每服五錢。水一盞。煎七分。溫服食後。或燒全荷葉一個。研細調煎藥服。亦妙。</p>
<p>耳論附論曰。耳者蓋非一也。以竅言之。是水也。以聲言之。金也。以經言之。手足少陽俱會其中也。有從內不能聽者主也。有從外不能入者經也。有若蟬鳴者。有若鐘聲者。有若火　狀者。各隨經見之。其間虛實不可不察也。假令耳聾者腎也。何謂治肺。肺主聲。鼻塞者肺也。何謂治心。心主臭。如推此法。皆從受氣為始。</p>
<p>腎受氣於巳。心受氣於亥。肝受氣於申。肺受氣於寅。脾王四季。此法皆長生之道也。</p>
<h3>小兒斑疹論第三十一</h3>
<p>論曰。斑疹之病。其狀各異。瘡發　腫於外。屬少陽三焦相火。謂之斑。小紅靨行於皮膚之中不出者。</p>
<p>屬少陰君火也。謂之疹。凡顯斑證者。若自吐瀉者。慎勿治。則多吉。謂邪氣上下皆出也。大凡瘡疹。首尾皆不可下。恐妄動而生變。此謂少陽通表宜和之也。當先安其裡以解毒。次微發之。安裡解毒者。謂能安和五臟。防風湯是也。如大便不秘。次微發之。微發之藥。錢氏方中甚多。宜選用之。如大便過秘。宜微利之。當歸丸棗變百祥丸是也。</p>
<p>初知是斑疹。若便發之。令斑並出。小兒難禁。是使別生他證也。首尾不可下者。首曰上焦。尾曰下焦。若已吐利。不可下也。便宜安裡藥三五服。如能食大便秘者內實。宜微疏利之。若內虛而利者。宜安裡藥三五服。</p>
<p>末後一服。調微發之藥服之。大抵用安裡之藥多。發表之藥少。秘則微疏之。邪氣不並出。能作番次。使小兒易禁也。身溫者順。身涼者逆。則宜服防風湯以和之。</p>
<p><u>防風湯</u></p>
<p>防風（一兩）　地骨皮　黃　芍藥　枳殼　荊芥穗　牛蒡子（以上各半兩）</p>
<p>上為細末。溫水調下。或為粗末。煎服二三錢。更妙。</p>
<p>治大便秘而內實能食。宜</p>
<p><u>當歸丸。</u></p>
<p>當歸（五錢）　黃連（二錢半）　大黃（二錢）　甘草（一錢炙）</p>
<p>先將當歸熬作膏子。入藥三味為丸。漸次服十丸。妙。</p>
<p>治斑疹大便秘結。</p>
<p><u>棗變百祥丸。</u></p>
<p>大戟（去骨一兩）　棗（三個去核）</p>
<p>上二味。用水一碗。煎至水盡為度。去大戟不用。將棗焙乾。可和劑旋丸。從少至多。以利為度。</p>
<p>五臟病各有所見證熱則從心。寒則從腎。嗽而氣上則從肺。風從肝。瀉從脾。假令瀉見嗽而氣上。脾肺病也。瀉白益黃散合而服之。又宜黃芩厚朴湯白朮厚朴湯。謂脾苦濕肺苦燥氣則上逆也。其證先瀉。</p>
<p>又兼面色黃。腸鳴呦呦者是也。如見渴熱多者。當服厚朴湯。不渴熱少者。當服白朮厚朴湯。其他五勝若有兼證。皆如此類。然更詳後說。四時經移用藥。</p>
<p>假令春分前。風寒也。宜用地黃羌活防風。或地黃丸及瀉青丸相間服之。春分後。風熱也。宜用羌活防風黃芩。或瀉青丸用導赤散下之。立夏之後。熱也。用三黃丸導赤散。夏至後。濕熱也。宜導赤瀉黃散合而服之。</p>
<p>或黃芩甘草白朮茯苓之類。為勝濕之藥。立秋後。宜用益黃散瀉白散。陳皮厚朴人參木香之類。秋分後。用瀉白散。立冬之後。地黃丸主之。謂腎不受瀉也。大凡小兒斑疹。已發有瘡有聲音者。乃形病氣不病也。無瘡無聲音者。乃氣病形不病也。有瘡而無聲音者。是形氣俱病也。後一證。當清利肺氣。八風湯或涼膈散。大黃芒硝亦可。或如聖東加大黃。或八味羌活東加大黃。此是春時發斑。謂之曰風斑耳。瘡疹者。內經云。痛癢瘡瘍。</p>
<p>皆屬心火。斑子者。是相君行命三焦真陽氣之所作也。若氣入肺。變膿胞。入肝為水胞。自病為斑。心乃君火。</p>
<p>入於皮作癮疹。為肺主皮毛。心不害肺金。此乃君之德也。未瘡而發搐。乃外感寒邪內發心熱而發搐。用茶湯下解毒丸。或犀角地黃湯主之。已發便稠密。情勢如針頭者。當輕發其表涼其內。連翹升麻湯主之。若斑已發稠密甚而微喘。飲水有熱證。當以去風藥微下之。若出不快。清便自調。知為在表不在裡。當微發之。升麻葛根湯主之。若有干黑陷身不大熱。大小便澀。則知熱在內。當煎大黃湯。下宣風散。身表大熱者。表證未罷。</p>
<p>不可利大便。若斑疹已出。見小熱小便不利者。當利小便。已發後有餘毒不散。為復有身熱癰瘡之類。當用解毒之藥。</p>
<h3>藥略第三十二（針法附）</h3>
<p>羌活（治支節痛太陽經風藥也）　防風（療風通用）　甘草（和中調諸藥）</p>
<p>肉桂（通氣助陽）　桂枝（閉汗和表）　麻黃（發太陽太陰經汗）　桃仁（滋血破血）　黃芩（瀉肺氣）</p>
<p>雄黃（去風）　白芷（治正陽明頭痛）　知母（泄腎火助陰）　石膏（瀉肺火是陽明大涼藥）　半夏（去痰）</p>
<p>柴胡（治少陽厥陰寒熱往來）　芍藥（止腹痛安太陰）　人參（補氣和中）　瓜蒂（治濕在上頭去中脘痰涎吐藥）</p>
<p>赤豆（利小便）　杏仁（潤肺除嗽）　蒼朮（溫中去濕熱強胃）　草烏頭（熱行經）　南星（治風痰須用）</p>
<p>天麻（治頭風）　神麯（消食強胃）　白朮蒼朮同功　陳皮（益氣）　枳實（治心下痞）　枳殼（利胸中氣消痞）</p>
<p>黃連（泄心火）　白茯苓（止渴利小便太陰經藥）　苦葶藶（瀉肺火）　桔梗（治咽喉痛利肺氣）　大黃（泄實熱）</p>
<p>厚朴（治脹滿濃腸）　黃　（止汗治諸氣虛不足）　檳榔（破氣下行）　荊芥（清利頭目）　烏梅肉（助脾收胃飲食）</p>
<p>沉香（益氣和神）　肉豆蔻（治大腸腸滑）　附子（補命及心火）　朴硝（寒咸去燥）　梔子（除煩利氣行小便）　當歸（補三陰血不足）　川芎（太陽頭痛）　地黃（補腎真陰不足臍下痛）　萆　（補腎不足）　杜仲（壯筋骨兩全）</p>
<p>牛膝（補筋益脾）　蓯蓉（益陽道及命門火衰）　沙苑蒺藜（補腎水真陰）　破故紙（補命門不足）　五味子（補五臟氣不足）　巴豆（去濕痰藥）　細辛（少陰頭痛不足）　升麻（陽明經和解藥）　蛇蛻（去皮膚風燥）</p>
<p>茴香（利小便補腎去濕寒助陽）　苦楝子（去小腹痛）　廣術（去積聚）　乾薑（益氣和中）　生地黃（涼血）</p>
<p>沒藥（除血痛和血之勝藥也）　地榆（治下部有血）　澤瀉（治少陰不渴而小便不利及膀胱中有留垢）</p>
<p>真假形金木水火土深淺色青赤黃白黑急緩性寒熱溫涼平濃薄味辛酸鹹苦甘潤枯體虛實輕重中輕枯虛薄緩淺假宜上。濃重實潤深真急宜下。其中平者宜中。余形色性味。皆隨臟腑所宜。此處方用藥之大概耳。知此者用心。則思過半矣。</p>
<p>流注針法心痛脈沉。腎經原穴。弦。肝經原穴。澀。肺經原穴。浮。心經原穴。緩。脾經原穴。</p>
<p>腰痛　身之前足陽明原穴。（衝陽）身之後足太陽原穴。（京骨）身之側足少陽原穴。（丘墟）</p>
<p>針之最要兩脅痛。針少陽經丘墟。心痛。針少陰經太谿涌泉。及足厥陰原穴。腰痛不可忍。針昆侖及刺委中出血。</p>
<p>太陽喘滿痰實。口中如膠。針太谿穴。噦嘔無度。針手厥陰大陵穴。頭痛不可忍。針足厥陰太陽經原穴。熱無度不可止。刺陷骨穴出血。骨熱不可治。前板齒干燥。當灸百會大椎。小腸疝痛。當刺足厥陰肝經太衝穴。</p>
<p>血不止。鼻衄。大小便皆血。血崩。當刺足太陰井隱白。喉閉。刺手足少陽井。並刺少商。及足太陰井。大煩熱。晝夜不息。刺十指間出血。謂之八關大刺。目疾睛痛欲出。亦大刺八關。百節疼痛。實無所知。三棱針刺絕骨出血。</p>
<p>眼大　痛。刺手太陽井穴少澤。</p>
<p>小　痛。刺少陽井穴關衝。</p>
<p>陰頭中痛不可忍者。卒疝也。婦人陰中痛。皆刺足厥陰井大敦穴。</p>
<h3>附：素問元氣五行稽考</h3>
<p>珞　子云。天元一氣。定侯伯之遷榮。蓋論元氣也。許員曰。木瘦金方火尖水肥土濃。蓋論五行以元氣為根。富貴壽夭系之。由有　羸而壽考。亦有壯盛而暴亡。元氣固藏則　羸而無害。及其散漫。則壯盛而愈危。</p>
<p>是以元氣為根本。五行為枝葉。夫元氣者。兌之位也。元始之祖。先天地生。圓而無隙。寂而不動。感而遂通。</p>
<p>虛而生神。乾體成焉。乾為天。天一生水。故一水二火三木四金五土。五行形焉。四方之民。均受元氣一也。</p>
<p>及其生焉。各類五行。形體殊異。是故西北之民。金水象。金方水肥。人方正肥濃。東南之人。木火象。木瘦火尖。</p>
<p>人多瘦長尖小。北人肥。南人瘦。理宜然也。北人賦性沉濃。體貌肥。上長下短。頭骨大。腰骨小。此本體也。</p>
<p>若光明磊落。見機疾速。腰背豐隆者。元氣固藏。富貴壽考。坎中藏真火升真水而為雨露也。南人賦性急暴。</p>
<p>體貌尖瘦。下長上短。頭骨偏。腰骨軟。此本體也。若寬大度。機謀詳緩。腦額圓聳。元氣固藏。富貴壽考。</p>
<p>離中藏真水降真火而為利氣也。又有南人似北人。北人似南人。不富則貴。以此推之。要在察元氣。觀五行。</p>
<p>分南北。定壽夭。則攻守有方。調養有法。不妄藥人也。亦猶有刑曹總其權。使執法者不私。巡禁者申具禁。使出塗者不擾。朝廷在於上。明賞罰於百官。施利氣於萬民。故君得以尊。無為而治。天下和平。災害不生。君臣和於上。百官和於朝。萬民和於下。庶物和於野。馴而行之於萬年計也。醫者明方術。制法度。以療民病。</p>
<p>養性之藥。防其漸也。猶巡尉也。治病之藥。減其毒。猶守令也。保命之藥。濟其弱。猶曹憲也。延年之藥。</p>
<p>防其危。猶朝廷也。良工總其要。明虛實於三部。調和氣於百骸。故心得以寧。神得以清。則四大和平。疾患不生。神氣和於上。五臟和於中。步履和於下。脈絡和於體。馴而行之。不死之道也。人之生也。自幼而至壯。</p>
<p>自壯而老。血氣盛衰。其各不同。不可一概治之。六歲至十六歲者。和氣如春。日漸滋長。內無思想之患。外無愛慕之勞。血氣未成。不勝寒暑。和之違也。膚腠疏薄。易受感冒。和之傷也。父母愛之。食飲過傷。其治之之道。節飲食。適寒暑。宜防微杜漸。行巡尉之法。用養性之藥。以全其真。二十歲至五十歲。和氣如夏。</p>
<p>精神鼎盛。內有思想之患。外有愛慕之勞。血氣方剛。不畏寒暑。和之違也。勞傷筋骨。冒犯八邪。和之傷也。</p>
<p>以酒為漿。醉以入房。其治之之道。辨八邪。分勞佚。行守令之法。宜治病之藥。當減其毒。以全其真。五十歲至七十歲者。和氣如秋。精耗血衰。血氣凝泣。思慮無窮。形體傷憊。和之違也。百骸疏漏。風邪易乘。和之傷也。風雨晦明。飲食遲進。其治之之道。順神養精。調腑和臟。行憲曹之權。施賑濟之法。守令內恤。巡尉外護。宜保命之藥以全其真。七十歲至百歲者。和氣如冬。五臟空洞。猶蛻之蟬。精神浮蕩。筋骨沮弛。和之違也。觸物易傷。衣飲濃薄。和之傷也。大寒振栗。大暑煎燔。其治之之道。餐精華。</p>
<p>處奧庭。行相傳之道。燮理陰陽。周流和氣。宜延年之藥。以全其真。夫如是則調御中節。治療得宜。陰陽協和。榮衛流暢。凡厥有生。同躋壽域矣乎。</p>
<h4>諸吐方法</h4>
<p>仲景云。傷寒三四日。邪氣未傳於裡。其邪氣在上。用瓜蒂散吐而瘥。豈可俟其汗。又云傷寒六七日。胸中微痞。不欲言。懊　昏眩。無下證。仲景用梔子豉湯吐之。立可。又忽然中風。不知人事。亦不須汗。喉中呷咂之聲。用稀涎散吐之。亦可。又有小兒驚風潮搐。手足掣縮。用驗命散吐之。又云風頭痛。經云若不吐涎。</p>
<p>久則瞽目而不治。用瓜蒂散吐之。三吐而瘥。又暴嗽風涎上壅。咽噎不利。用茶調散吐之。</p>
<p>又陽癇久不愈。未成痴呆。用導涎散吐之。</p>
<p>又陰癇。用二聖散吐之。</p>
<p>又膏粱之人。食物多食生膾。胸中不下。化蟲伏於胸中。胸膈不快。噎食不下。用藜蘆散吐之。</p>
<p>又久病患脅痛。諸藥莫能治。用獨聖散加蠍梢半錢吐之。</p>
<p>諸癇不時發作。不知人事。用半生半熟湯吐之。</p>
<p>暗風病久不瘥。發過如故。用鬱金散吐之。</p>
<p>瘧久不瘥。發寒熱無時。用常山散吐之。</p>
<p>蛟龍瘕痛。腹脹如蠱。用球糖散吐之。</p>
<p>人初患傷食。或用冷身腹悶亂。身熱見食則　。用赤小豆散吐之。</p>
<p>婦人筋攣骨痛。用神應散吐之。</p>
<p>或曰。筋病吐之何為。答曰。木鬱達之。所謂達者。令其條達也。或又有打撲墜墮。先吐之用金花散。後下之用承氣湯。蓋承者順也。</p>
<p>偏枯證。半身不遂是也。用追風散吐之。須風後有目疾。眼有半明。可救之。用防風湯吐之。</p>
<p>小兒上喘潮熱。先用蔚金散吐之。後用鎮庭散下之。立效。</p>
<p>治顛狂病久不已。用三聖散吐之。後大下之。</p>
<p>諸風掉搖強直。不知人事。便可懸豆膏。涎出立效。</p>
<p>胸膈滿悶。背痛或臂痛。可先用祛風湯吐之。後服烏藥散。癘風或瘡瘍惡瘡。便用二聖散吐之。後服苦參丸。</p>
<p>諸厥氣厥中風不省人事。便用神聖散膏。鼻內灌之。吐出涎立效。</p>
<p>破傷風。牙關緊急。角弓反張。便與神聖散吐之。後汗之下之效。三法俱用之。</p>
<p>又有人患蛟龍瘕痛。久不愈欲死。用球糖膏吐之。吐出其物形如蜥蜴。長七八寸。立可。</p>
<p>吐法者。上古高醫用之。今庸下之流。止看諸方。不知治法。不識病源。即不行聖人之法。去聖遠矣。</p>
<p>可不恐歟。</p>
<h4>治黃腫</h4>
<p>詩曰：白酒煎飛面。青礬百草霜。依方炮制作。消卻幾多黃。</p>
<p>綠礬（四兩）　五倍子　百草霜（一兩）　木香（二錢）</p>
<p>上為細末。用酒煎飛面為丸。如梧桐子大。每服五丸。空心酒下。二三服。</p>
<p>又方。平胃散四兩。青礬二兩。醋糊為丸。米飲下。</p>
<p>又方。平胃散烏沉湯。四兩青礬。二兩酒。糊為丸。</p>
<p>又方。好川當歸四兩。用浮子酒浸七日。青礬四兩。制　赤色成珠子。為細末。百草霜三兩。同研細。用當歸酒同研細為丸。如梧桐子大。每服五丸至七丸。服後一月。黃去立效。此方祖傳七世。</p>
<p>治諸氣腫。茯苓散。</p>
<p>芫花（醋拌炒）　澤瀉　郁李仁　甜葶藶　漢防己　本（各二錢半）　陳皮（去白）　白茯苓　白檳榔瞿麥（各半兩）　滑石　大戟（各七錢半）</p>
<p>上為細末。每服一錢。濃煎雙白皮湯。空心調下。取下碧綠水。如煙羊脂即效。如未盡。隔日又服。腫消不服。忌食鹽一百日。</p>
<p>治　瘡方爛至胸前。兩腋下有塊。如茄子大。或牽至兩肩上。四五年不能痊者。並皆治之。其驗如神。常州府武進縣朱守仁傳。其項不能回頭。數日減可。始看瘡爛破胸前者。用荊芥根下段。　碎煎沸。待溫洗瘡。</p>
<p>良久看瘡爛破處紫黑。用針刺一一出血。再洗三四次。</p>
<p>上真芝麻油將樟腦、雄黃為細末。用油調。雞翎掃瘡上。以出水下。次日再洗。仍用前藥掃。三日又用韭菜地上蚯蚓糞。五更早晨收。作圓虎口大。用炭火上燒　紅。取出淨碾為末。每一丸。添乳香沒藥輕粉各半錢少些。穿山甲九片。　紅色為末。合用芝麻油調敷患處。其妙如神。</p>
<p>千金漏蘆東加雞心檳榔點眼神效紫金膏輕粉　雄黃　銅青　川芎　龍腦　麝香　黃連　青鹽　海螵蛸　當歸　砂　乳香　血蠍（以上淨五分）</p>
<p>朱砂　硼砂（各三錢）　沒藥（一錢）　爐甘石（二兩童便制七次）　黃丹（二兩）　白丁香（二分）</p>
<p>先將十九味。乳制極細無聲。</p>
<p>白砂蜜一斤。先將黃連末熬。後下爐甘石黃丹。用槐枝攪不住手。煎如紫色。用瓷器盛。用油紙七片封口。</p>
<p>窖土內去火。七日方用。神效。</p>
