<header data-type="book">
<h1>惠直堂經驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="陶承熹">陶承熹、王承勳輯</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1759">公元1759年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>昔倉公挾方術周行天下。歷久而術益工。方益多。是知治病不可無方。而方尤不可不蓄之富莊按不可奇珍如是者濟人。</p>
<p>方。分為備急方。共聚五。好義先大夫集之憂。今孫子耶。雖然。</p>
<p>方湊病。苟若無方矣。</p>
<p>可。</p>
<p><u>雍正十二年歲次甲寅冬至日會稽青山學士陶承熹題於樂昌客館</u></p>
<h2>卷一</h2>
<h3>通治門</h3>
<p>原方紫金錠（一名玉樞丹每一料加雄黃三錢朱砂三錢治法同下而不及原方更靈惟用敷癰勝於原方）　當門子（三錢生麝揀去皮毛）　山文蛤（二兩去瓤淨）　千金子（一兩即續隨子去油殼）　山慈菇（二兩有毛者佳去皮毛）　紅芽大戟（一兩五錢去蘆洗淨杭州紫大戟為上江南者次之北方綿大上為極細末。</p>
<p>糯米粉煮糊。入臼同搗千余下。印錠。錠重一錢。每服一錠。重者連服二錠。取通利後。</p>
<p>以發背。對口。疔瘡。天蛇。無名腫毒。蛀節。紅絲等疔。及楊梅。痔瘡。無灰酒磨服。外以水磨塗瘡上。　陰陽二毒。傷寒瘟疫發狂。喉風。薄荷湯冷磨服。赤白痢。吐瀉霍亂絞腸。</p>
<p>及諸痰喘。薑湯磨服。　男婦急中顛邪。鬼交鬼胎。失心狂亂。羊兒豬癲等風。石菖蒲湯服。　縊溺驚壓鬼魅。但心頭微溫者。生薑續斷酒磨服。　蛇蠍瘋犬咬傷。酒磨灌下。再服蔥湯。被蓋取汗。　新久瘧疾。臨發時。東流水煎桃柳枝湯磨服。　急慢驚風。五疳五痢。</p>
<p>脾病黃腫。癮疹瘡瘤。薄荷浸水磨濃汁。加蜜服。仍搽腫處。年小者分數次服。　牙痛酒磨塗腫處。仍含少許。良久咽下。　小兒因父母遺毒。皮蹋爛斑。穀道眶爛。清水磨塗。　打撲損傷。無灰酒研服。　久年頭脹頭痛。偏正頭風。蔥酒研服。仍磨塗太陽穴。　婦人經閉。</p>
<p>紅花湯下。　天行疫氣。桃根湯磨濃汁。搭入鼻孔。次服少許。得不傳染。傳尸癆瘵。為蟲所噬。磨服一錢。或吐或下惡物小蟲。其病頓失。</p>
<h4>衛生寶丹</h4>
<p>（修合法治法同前玉樞丹而此藥又勝之）</p>
<p>山慈菇　川文蛤　紅芽大戟　千金子（各二兩）　麝香　西牛黃　珍珠　明雄黃　滴乳香（去油）　沒藥（去油）　朱砂　琥珀（蜜珀不用）　丁香　沉香（各三錢）　金箔（十帖）</p>
<p>為細末。糯米粉煮糊。木臼搗。印錠。每重一錢。</p>
<h4>菩提丸</h4>
<p>前胡　薄荷　蒼朮　厚朴　枳殼　香附　黃芩　砂仁　木香　檳榔　神麯　麥芽　山楂陳各等分。用薄荷葉煎湯。拌各藥勻。晒乾為末。　蜜丸。彈子大。每一丸小兒量減。　瘟疫。時病。感寒。薑湯下。　暑症。香薷湯下。　瘧疾。薑湯下。　傷風。咳嗽。百部三錢煎湯入薑汁下。　赤白痢。車前子湯下。　水瀉。薑茶湯下。　霍亂吐瀉。胡椒四十九粒綠豆四十九粒。煎湯下。　心腹痛。薑湯下。</p>
<h4>一粒金丹</h4>
<p>雄精　乳香（去油）　沒藥（去油）　砂仁　羌活（各一錢）　半夏（薑汁炒）　烏藥（各二錢）　巴（四十九粒去皮尖）　麝共為細末。蜜泛為丸。梧桐子大。辰砂為衣。每服一丸。病在上部研碎服。　中風痰厥暴死不順。木香湯下。　身熱。白湯下。肚脹。香附湯下。　口眼歪斜。麻黃湯下。　諸般腫毒。</p>
<p>老酒下。　蛇傷。雄黃湯下。　身腫。荊芥湯下。　瘋犬咬。斑蝥疾。井水下。　小兒驚風。薄荷湯下。　頭痛。川芎湯下。　酒肉食薄荷湯下。　腮紅腫。赤芍湯下。　孕婦忌服。又忌豬、羊、鵝、油煎。服後勿飲冷茶水。飲則無效。</p>
<h4>太玄丹</h4>
<p>白犀角　山慈菇　玄明粉　麻黃（去節）　血竭　甘草　黃連（各末一錢）　雄黃（三分）</p>
<p>治傷寒外感。瘟疫癰毒。哮喘。冷氣攻心。乳吹。兼治痘疹初起。誠神方也。上為極細末。</p>
<p>之。</p>
<p>極細立不能活命也。</p>
<h4>混元丹</h4>
<p>混元衣（即人胞二錢）　牛黃（三分）　麝香（三分）　黃　（二錢）　遠志（甘草汁泡二錢）　金箔（三帖為衣）　天竺黃（三錢）　白茯苓（二錢五分）　白茯神（二錢五分）</p>
<p>甘松（去毛四錢）　砂仁（去殼三錢）　梅花瓣（一兩）　益智仁（去殼六錢）　山藥（薑汁炒二錢五分）　滑石（丹皮二兩水同煮干去皮六兩）　粉甘草（去皮一兩）　莪朮（面包煨三錢）　人參（去蘆一錢）　木香（二錢）　香附（酒浸一日鹽水炒一兩）　桔梗（去蘆二錢）　辰砂（甘草一兩水泡同煮干去草一兩為此丹治男婦諸虛百損。五勞七傷。小兒百病。二十二味藥為細末。蜜丸如龍眼大。量人大小取汗裡急浮喘急咳嗽。麻黃杏仁湯下。　肚腹積聚。陳皮薑湯下。　蟲痛。苦楝樹根皮湯下。　小兒夜啼。燈心湯下。　夜啼。盤腸內吊。鉤藤湯下。　疝氣。偏墜大小。茴香湯下。　急驚搐搦薄荷湯下。慢驚。人參白朮湯下。　諸病。無精神。少氣力。減飲食。臥不穩。薑棗湯下寒。手腳冷。口氣涼。腹痛腸鳴刺痛。薑蔥湯下。　兩目浮腫。四肢俱腫。面黃。茯皮大腹皮陳皮薑皮。名曰五皮湯下。　瘧疾。槐柳枝各五寸。薑三片。蔥煎湯。露一日五更溫熱研下。　赤白濁。淡竹葉燈心湯下。　疳積發熱。肚大身瘦。手腳細枯。大便或瀉或閉。小便如泔如淋。陳倉米湯下。　小兒初生糞不出。口吐白沫。臍風撮口。腹薑湯下。　此藥大人每服三丸。小人每服半丸至一丸。三歲至十歲每服二丸。量大小常服進飲食。寬中寧心。消驚養神。百病俱效。</p>
<h4>先天一氣丹</h4>
<p>水中金（一錢）　滑石（研細丹皮湯煮過六兩）　粉甘草（二錢）　益智仁（六錢）　人參（一兩）</p>
<p>術（煨三錢）　桔梗（苓（二錢五分）　遠志肉（淨一錢砂（飛二兩）</p>
<p>為細末。蜜丸。重一錢。金箔七十張為衣。　治遠年痰火。中風喘逆。顛癇譫語。驚悸怔忡滯。</p>
<h4>無價寶珠丹</h4>
<p>琥珀（四錢）　牛黃（三錢）　珍珠（二錢）　犀角（一錢）　羚羊角（一錢）　水中金（二錢）琥四牛三珠二。靈犀一點無差。先天神水二分加。天月德合丸他。文蛤煎湯為糊。</p>
<p>金箔為衣妙無涯。</p>
<h4>二氣靈砂丹</h4>
<p>（胃虛嘔吐傷暑霍亂肺熱生痰心虛有火神魂不寧俱不可用）</p>
<p>水銀（一斤）　硫黃（四兩）</p>
<p>入鍋炒斷星。入陽城罐升打五香。開出成　針紋赤色為佳。桑灰醋淋汁煮。制米糊丸芥子大五臟空心勞咳疾風痛</p>
<h4>寸金丹</h4>
<p>川芎　防風　羌活　白芷　蘇葉　陳皮　赤茯苓　厚朴　蒼朮（米泔浸）　半夏（薑製）</p>
<p>白豆（以上各三以上藥共研細末。又用生神麯二十五兩為末。薑汁打糊為丸。每丸重二錢。朱砂漂過。</p>
<p>四兩瀉。</p>
<p>痛。</p>
<p>傷切</p>
<h4>蒸臍法</h4>
<p>用桑木。做一小甑。上口如酒杯大。下眼如筆管大。甑高三四分。以便藏藥。另用銀。</p>
<p>打一甑坐微汗人參　紅鉛　金剛子（即臍帶中血）　胎發餘（　存性）　鹿茸（酥炙）　大附子（制）</p>
<p>白附子鴿屎（　）</p>
<p>山甲（整用生漆塗封效）　龜板（炙）　秋石（上為細末。治下元虛冷。遺精白濁。　腰膝酸痛。　血崩淋帶。　經行不調。　產後久不生痰。心疼。（有蟲者不宜）　瘋疾。　大麻瘋。（加硫黃蛇骨）　筋骨疼痛。（穿山甲可照疼痛處取甲用）　凡屬虛寒之症。須用桂附者。無不立效。若骨蒸內熱多火。大腸燥結。及肚痛有蟲之症。皆非所宜。</p>
<h4>峒丸</h4>
<p>山羊血（四錢）　鬱金（一錢）　真西牛黃（不見火一錢）　黃（用清水重湯頓化濾淨渣再於磁晒乾四錢）　雄黃（不見火一錢）　兒茶　天竺黃（各四錢）　生大黃（錦紋者六錢）　血竭（微烘四錢）　阿毛皮淨五分二味俱勿見火）</p>
<p>去滓穢放銅杓內微火緩緩煮干置上藥研細末。煉蜜為丸。每重五分。此丸功力甚捷。一丸必救一人。百發百中。一效不可再忌生腸癰磨磨敷不服。　產後惡血攻心。昏迷不醒。並橫生逆產。胎衣不下。磨服。　婦人乳吹。磨服。</p>
<p>小兒急慢驚風。初生月內者。每丸分四次服。一周者。三次服。二三歲。二次服。五六一次服。　蛇傷。蜂蠍。蜈蚣。一切毒螫所傷。及顛犬咬。毒瓦斯入內。俱內服外敷。</p>
<p>三日內忌冷水生物。一切寒物犯之。害不可當。慎之。</p>
<h4>利生丸</h4>
<p>茅蒼朮　烏藥（二味俱米泔浸一宿晒乾）　香附（一半童便浸炒一半米醋浸炒）　藿香　純蘇葉木香　草果炒）　白茯苓　木通上藥不可烘。須日晒乾為末。陳早米糊為丸。每重一錢五分。亦須晒乾。不可見火。約干。</p>
<p>碎入用調小毒</p>
<h4>烏金丸</h4>
<p>木鱉子。不拘多少。以麻油煮。浮為度。以小麥麩炒去油氣。用磁鋒刮去毛皮。研為末。</p>
<p>面糊丸。綠豆大。每服三分。小兒一分。未服藥之先。去大小便。服藥後。蓋被出汗。不可見風。犯之寒戰。須嚼生薑解之。　傷寒。蔥湯下。　霍亂。藿香湯下。　痰火。薑湯下。</p>
<p>瘧疾。桃枝湯下。　火眼。菊花湯下。　瘟疫。涼水下。　流注。花粉湯下。　白濁。胡椒湯下。　紅痢。細茶下。　白痢。薑湯下。　吐血。京墨磨井水下。　結胸。薑湯下。　心痛。香附湯下。　腫毒。雄黃湯下。　便毒。蔥汁下。　水瀉。神麯茶汁下。　頭風。川芎湯下。　嘔吐。薑湯下。　血崩。紅花湯下。　重舌。吹藥五厘。涼水咽下。　脅脹。陳皮湯下。　食蠱。山楂麥芽湯下。　食膈。陳曲麥芽。夜壺水煎湯下。　鎖喉風。以火酒漱口。用藥摻之。　疝氣。橘核大茴湯下。　氣逆水蠱。芫花湯下。　月經不調。紅花湯下。</p>
<p>便血盜汗。黑豆湯下。　大便不通。枳殼湯下。　翻胃膈食。棗子湯下。　驅邪辟瘟。砂仁湯下。　。楊梅酒下。　胎衣不下。鍛石打水澄清下。　小便不通。檳喉癬。吹藥五分。　寒熱氣。火酒下。　小兒驚風。朱砂金箔湯下。　筋酒下。</p>
<h4>黑龍丹</h4>
<p>珍珠（一錢）　蜜蠟（二錢）　沉香（三錢）　白丑（四兩）　黑丑（四兩二味俱各半生半炒各研細研細末五錢余留後同上亦取末五錢）</p>
<p>上藥各照分秤過。不可多少。共為末。將剩下茵陳。用水三碗半煎兩碗。以好紙濾過渣。</p>
<p>再日更妙。如合好。即用炭火烘乾。服時每藥一錢。加丹砂一厘。此藥能治五勞七傷。山嵐瘴氣。水腫腹痛。脾胃心肺諸疾。　咳嗽。痰涎壅滯。酒食氣積。氣塊。翻胃吐食。十膈五噎蠱諸服送蟲服不元周方</p>
<h4>如意丹</h4>
<p>蒼朮（米泔浸一宿晒十二兩）　厚朴（薑汁炒十二兩）　甘草（去皮八兩）　木通（去皮八兩）　莪共為細末。將三年陳晚米一斗。巴豆四百九十粒同炒。至黃色揀去巴豆。碾米為末。同前不食風氣下陳</p>
<h4>奪命丹</h4>
<p>番木鱉（磁片刮去毛真麻油煎枯）　穿山甲（土炒）　甘草（各一兩）　朱砂（一錢）</p>
<p>共為細末。面糊丸。如粟米大。分為三分。各安開一分。再用朱砂為衣一分。用雄黃為衣一不用衣者　咳嗽痰火。火眼虛勞。絞腸痧。冷茶下。　小兒急慢驚風。薄荷湯下。</p>
<p>朱砂衣者。　胸膈飽脹。番胃膈食。火酒下。　氣膈。木香火酒下。</p>
<p>雄黃衣者。　傷寒傷風。寒濕。頭痛發熱。薑湯下。　偏正頭風。川芎湯下。　癰疽。</p>
<p>發背白酒</p>
<h4>化滯丸</h4>
<p>南木香　丁香（去苞不見火）　陳皮（去白）　黃連（去毛）　半夏（薑汁煮透陰乾以上各一兩）　三棱　莪朮（各一兩九錢二分）　烏梅肉二兩（一兩晒乾為末一兩醋煮爛）　檳榔（一兩）　黃芩（一兩）　青皮（去穰一兩）　巴豆仁（去殼不去油加醋高一指重湯煮燥研膏一兩一錢）將青皮、陳皮、黃連、三棱、莪朮切片。加米醋。用磁瓶煮干勿焦。晒研為末。以烏梅肉、巴豆仁、膏搗為丸。如黍米大。如干。加蒸餅。打糊煉勻。每服十五丸。小兒量減。孕婦忌理一切氣。化一切積。奪造化有通塞之功。調陰陽有補瀉之妙。久堅沉痼。磨之自消。</p>
<p>湯下。　雜色痢。甘草薑湯下。　九種心痛。菖蒲芍藥湯下。　諸般氣痛。生薑陳皮湯下。　小腸疝風。茴香湯下。　肚腹疼痛。陳皮紫蘇湯下。　吐蟲反食。烏梅茶葉湯下。　風痰症麻黃湯下。　傷風咳嗽。杏仁桑皮湯下。　時氣。訶子湯下。　頭痛。川芎湯下。　大小閉。燈心湯下。　小兒疳積諸積。米湯下。　死胎。茱萸湯下。　產後痢。當歸湯下。　月經不通。艾葉湯下。　諸般血氣痛。芎歸湯下。　脾痛。陳皮湯下。　諸般積食。木香磨下。　消磨積滯。須數日一進。如不欲瀉。以津唾咽下。　因食嘔吐酒。即以酒下。　若欲宣通。則用熱薑湯下。若欲止瀉。則飲冷水</p>
<h4>壬水金丹</h4>
<p>專治痰迷風癱。蠱膈虛損。立止痰火。哮喘痰壅。噎氣吞酸。降火寬中。消滯。噙丹舌下。</p>
<p>綿紋川大黃五斤。切薄片。滴燒酒一斤。白蜜四兩。拌勻。用柳木甑一口。下鋪柳葉寸余濃。以綠豆二升。水浸一夜。黑鉛二斤。打作薄片剪碎。同綠豆拌勻。一半鋪柳葉上。蓋新夏布一塊。將大黃鋪上。又蓋新夏布一塊。將所留一半鉛豆鋪。上面再將柳葉蓋滿。蒸七炷大線香。待冷起甑。去柳葉鉛豆不用。只將大黃晒乾露之。如此九次聽用。</p>
<p>再用烏梅肉（一兩）　薄荷葉（一兩）　枳殼（麩炒一兩）　廣木香（不見火一兩）　陳皮（一兩）</p>
<p>見火一兩）　枸杞子水十數斤熬汁。約三斤去渣。取淨汁浸前九製大黃。至汁盡晒乾。以磁罐收貯。聽配後藥。</p>
<p>（九制）玄明粉（八錢）　（七制）青礞石（五錢）　官白硼砂（五錢）　真血琥珀（八錢）　角沉香（粉（研細末水飛淨三錢）</p>
<p>上藥九味。共為極細末。將前九製大黃。秤準一斤研末和勻。用文蛤膏搗為丸。金箔和朱砂制文蛤膏法。文蛤八兩。鍋內炒黃色研末。入平底磁瓶中。以細茶濃汁熬一日。不住手攪。</p>
<p>炙）</p>
<p>以上藥熬汁二大鐘。入蛤膏。再煎成膏。以丸前藥。</p>
<p>計開共用好燒酒（九斤）　白蜜（二斤四兩）　綠豆（一斗八升）　黑鉛（十八斤）　柳葉（五斤）制藥功夫。須兩月有餘。要耐煩如法炮制。其效甚速。常服清心益智。永無中風之患。功難盡述。幸珍秘之。合藥。忌雞犬婦女。孝服不潔之物。</p>
<h4>人馬平安散</h4>
<p>朱砂　枯礬　硼砂（另研）　火砂（另研各二錢）　雄黃（五分）　冰片（三厘）　麝香（二厘）　赤上藥為細末。貯磁瓶內。勿令泄氣。男左女右。用骨簪點入大眼角　肉上。或用鼻吸上亦可兒驚</p>
<h4>夏枯扶桑丸治</h4>
<p>（一切瘡瘍並內傷陰虛癆瘵咳嗽痰喘血症諸病）</p>
<p>金銀純花（二斤）　百合（一斤）　真阿膠（八兩炒）　川貝母（去心八兩為末）</p>
<p>用夏枯草、桑葉、各二十斤。熬汁煎膏。搗丸重三錢。</p>
<p>肺痿肺癰。百合湯下。　心顫。朱砂麥冬湯下。　久嗽。五味湯下。　腸癰乳癰。帶殼栝蔞醋磨可用</p>
<h3>補虛門</h3>
<h4>三才葆真丸</h4>
<p>背陰草（即　草五月五日六月六日七月七日不見日色處用竹刀去根一尺割采嫩尖葉陰乾淘淨陰仁枸苑半骨碎補共為末。煉蜜為丸。如梧子大。老酒鹽湯任下。　凡五癆七傷。左癱右瘓。服之無不神效。</p>
<h4>全鹿膏</h4>
<p>鹿肉全一只。去油筋淨。用杞子十斤。米泔水五十斤。井水五十斤。熬至半濾出。再入泔水一斗煮豬肺法　虛損初起。一服復元。</p>
<p>人乳　蘿菔汁　梨汁　藕汁　童便（各一宮碗）　六月雪根（搗汁半宮碗）　醒頭草（連根搗汁上七味。共和勻。黑棗肉四兩。桂圓肉四兩。核桃肉四兩。　三味共搗勻。鋪鍋底。取不曾一二</p>
<h4>三才丸</h4>
<p>天冬（去心一斤蜜拌九蒸晒）　淮生地（一斤蜜拌九蒸晒）　茯苓（人乳拌晒至重二斤為度）　共</p>
<h4>腎虛陽痿方</h4>
<p>當歸（一錢二分酒洗）　生地（八分酒炒）　熟地（一錢二分酒炒）　枸杞（八分）　淮山藥（八分）</p>
<p>炙甘草（三分）</p>
<p>煮晒乾）</p>
<p>水煎服。</p>
<h4>寶精丸</h4>
<p>添精補髓。滋陰壯陽。明目延年。</p>
<p>白魚膠（八兩蛤粉炒）　人參（二兩）　熟地（四兩）　山藥（三兩）　沙苑蒺藜（八兩）　茯苓（四（三兩）　萸肉（四兩）</p>
<p>共為末蜜丸。早晚鹽湯下。</p>
<h4>全鱉丸</h4>
<p>治男婦一切骨蒸。虛損勞熱。</p>
<p>當歸　生地　熟地　丹皮　杜仲　益母草　地骨皮（各三兩）　天冬（去心）　白芍　麥冬（去味子（一兩）</p>
<p>上藥拌勻。分為兩處。以一半置大砂鍋內。用水八碗。煎至四五碗。將渣濾出。再入水五碗如續肉</p>
<h4>羅真人活命丹</h4>
<p>此丹。服兩月後。精神百倍。行走如飛。發白變黑。妙難盡述。</p>
<p>熟地　生地　枸杞　肉桂　肉蓯蓉　菟絲　人參　巴戟天　天冬　巨勝子　棗仁　補骨脂子上藥各二兩。如法炮制。研末米糊為丸。梧子大。每服二三十丸。空心淡鹽湯下。</p>
<h4>桑椹河車丸</h4>
<p>河車（二具酒淨焙乾）　鹿茸（一對酥炙）　黑驢腎（連腰子腎子切片酥炙四具）　黃狗腎（連腰子腎子酒煮焙乾十具）　熟地（九蒸晒）　枸杞（酒蒸）　生首烏（各八兩）　巴戟天（酒蒸）　破故紙（合桃拌炒）　山藥（鹽水炒）　萸肉　骨碎補（炒）　魚鰾（蛤粉炒）　五味子　菟絲子（酒煮）　仙茅（米泔浸三次去皮）　肉蓯蓉（去鱗腸）　鎖陽　茯苓（各四兩）　人參（二兩）</p>
<p>上為末。桑椹熬膏。加煉蜜為丸。梧子大。空心清湯下五錢。</p>
<h4>猴薑丸</h4>
<p>鮮猴薑數十斤（去毛洗淨亮去水氣搗爛揉汁聽用）　遠志肉一斤二兩（擇肥大者以甘草四兩煎首烏三斤（以青以上五味。如法制就為細末。用黑棗肉為丸。如桐子大。早晚各三錢。鹽湯下。久服寧神</p>
<h4>九制牛膝葆真丸</h4>
<p>牛膝（去頭尾三斤）　分作九分。聽制。</p>
<p>一分用補骨脂、巴戟肉、各一兩。黃酒三斤。煎至斤半。將汁泡牛膝。拌透晒乾。俟汁盡為一分用川椒、狗脊、各一兩。亦用酒煎。如上法。</p>
<p>一分用肉蓯蓉三兩。洗淨去甲。制如上法。</p>
<p>一分用蛇床、覆盆子、各一兩五錢。制如上法。</p>
<p>一分用紫梢花、天門冬、各四兩。制如上法。</p>
<p>一分用五加皮、菟絲子、各一兩。制如上法。</p>
<p>一分用熟地、五味、各一兩。制如上法。</p>
<p>一分用天雄二枚。切片。用童便十碗。煎汁兩碗。拌晒。如上法。</p>
<p>一分用小茴一兩。煎汁一碗。鹿茸血尖一兩研末。入小茴汁。拌牛膝晒乾。</p>
<p>上共為末。用核桃肉四兩。去皮搗爛。加煉蜜為丸。如梧子大。清晨好酒送下三錢。少壯者坎離既濟丸治四十歲之前。陰虛火動。將成癆瘵之症。</p>
<p>當歸（六兩）　川芎（一兩）　白芍（三兩）　熟地（酒蒸）　生地　天冬（去心）　麥冬（去心各四兩）　五味子　山藥（各三兩）　山萸　牛膝（各四兩）　龜膠（三兩酒化）　知母（二兩鹽水炒）　黃柏（九兩　三兩蜜水浸炒　三兩酒浸炒　三兩鹽共為末。煉蜜丸。每服三錢。空心鹽湯下。四十以後者。減黃柏。</p>
<h4>交泰丸</h4>
<p>文蛤（八兩飯上蒸）　熟地（九蒸晒）　五味子　遠志肉（甘草煮）　牛膝（酒洗去頭尾）　蛇床子去鱗甲）　青鹽（各四上制為末。酒糊丸。梧子大。朱砂為衣。每服五七十丸。淡鹽湯或酒下。隨吃干物壓之。</p>
<p>此子精為</p>
<h4>自汗不止方</h4>
<p>鬱金。未臥時。津調抹兩乳上。即止。</p>
<h4>保真丸</h4>
<p>何首烏（二十兩愈大愈妙赤白各半米泔浸一宿磁片去皮竹刀切碎以牛膝十兩黑豆三升同蒸九五錢蒸冬（去心六兩）　麥冬（去心六兩）　生六兩）　柏子仁（八兩湯泡七次去油淨）　茯苓（六兩人乳拌蒸）　茯神（六兩）　補骨脂（四兩核桃肉研碎拌炒）杜仲（四兩鹽水炒）</p>
<p>共為末。煉蜜丸。梧子大。每日清湯下三五錢。如年四十以上。陽氣弱而精不固者。加山萸者。</p>
<h4>地黃酒</h4>
<p>治虛症不睡。</p>
<p>熟地（八兩）　枸杞（四兩）　首烏（四兩黑豆蒸）　米仁（四兩炒）　當歸（三兩）　白檀香（三錢臨臥溫服。隨量多少。如一升之量。只可飲二</p>
<h4>龜鹿二仙膏</h4>
<p>治虛損遺泄。瘦弱少氣。目視不明。久服大補精髓。益氣養神。</p>
<p>鹿角膠（四兩）　龜板膠（四兩）　枸杞子（四兩）　人參（一兩）先用龍眼肉半斤。</p>
<p>煎濃汁。將二膠化開。入杞子。人參末攪勻。冷定打成小塊。初服一錢五空心老酒下。</p>
<h4>養生酒</h4>
<p>補心腎。和血氣。益精髓。壯筋骨。安五臟。旺精神。潤肌膚。駐顏色。</p>
<p>當歸（一兩酒洗）　圓眼肉（八兩）　枸杞（四兩）　甘菊花（去蒂一兩）　白酒漿（七斤）　滴燒酒上藥用絹袋盛之。懸放壇中。入酒封固。窨月余。不拘時隨意飲之。妙甚。</p>
<h4>癆病仙方</h4>
<p>此方傳自外國。得之者。當廣施濟眾。</p>
<p>雄精　朱砂　硫黃（去沙泥各一錢）　麝香（一分）</p>
<p>各研極細末。磁罐收貯。於端午日午時。用滴燒酒調和。用獨囊大蒜頭去蒂蘸藥。從尾閭一切癆除日大有</p>
<h4>水芝丸</h4>
<p>治氣血兩虛。飲食少進。</p>
<p>蓮子（去心不去皮八兩酒浸一宿）　大豬肚一個。打磨淨。又用白糖擦極淨。入蓮子於內。縫又方大烏母豬肚一個。擦淨入白蓮子（去心六兩）。縫口。蒸熟焙乾。加茅山蒼朮（六兩）。</p>
<p>米泔水共為末。神麯糊丸。梧子大。酒送五錢。能補中去濕。除痰消積。腹痛酒積並效。　一云。</p>
<p>必用</p>
<h4>癆瘵骨蒸方</h4>
<p>白蒺藜（炒舂去刺一鐘）　水二鐘。煎一鐘。分二次食後溫服。至七日後。只用蒺藜半鐘煎服</p>
<h4>癆瘵有蟲方</h4>
<p>食腌鰻魚。並細嚼其骨。蓋鰻肉最補陰。其骨髓最能殺蟲。且其髓流入牙齒間。並殺牙蟲</p>
<h4>五癆七傷方</h4>
<p>（無論男女通用）</p>
<p>好燒酒二斤。白飴糖四兩。核桃肉七枚。裝入磁瓶內。不可令太滿。滾湯煮一炷香。埋土七</p>
<h4>天冬膏</h4>
<p>天冬。不拘多少。滾湯泡去皮。取起晒乾。半捶去心。搗如泥。入沙鍋內。水煮成稀糊。</p>
<p>布止以健</p>
<h4>旱蓮膏</h4>
<p>旱蓮草。二十斤。搗汁濾過。沙鍋內熬成膏。入蜜少許收貯。早晚水酒任下二三錢。虛寒者明</p>
<h4>秘傳豆黃丸</h4>
<p>治濕痹膝痛。五臟不足。脾胃氣結積滯。久服壯氣力。</p>
<p>潤肌膚。填骨髓。補虛損。開胃進食。令人肥健。黑豆一斗浸透。甑上蒸熟鋪席上。用荷葉或蒿。覆如造醬法。七日黃透。取出晒乾。去黃為服百丸神驗。</p>
<h4>長生酒</h4>
<p>清心神。生精血。益氣力。壯下元。</p>
<p>枸杞　茯神　生地　熟地　萸肉　牛膝　遠志　五加皮　石菖蒲　地骨皮（各六錢）放絹袋內。用好酒浸十四日。每早服二三杯。忌蘿卜並銅鐵器。大有補益。</p>
<h4>水火既濟丹</h4>
<p>養心血。益心氣。滋腎水。</p>
<p>茯苓（四兩）　山藥　柏子仁（去油各三兩）　歸身（酒洗）　生地（酒洗）　五味　圓眼肉（搗膏）</p>
<p>參（一兩五錢）</p>
<p>共為末。用蘆根搗汁。打芡實粉糊為丸。桐子大。每服一錢。漸加至二錢。早晚白湯送下。</p>
<h4>六神粥</h4>
<p>治精血不足。神氣虛弱。益脾健胃。</p>
<p>芡實肉（三斤）　米仁（炒）　粟米（炒）　白糯米（炒各三斤）　蓮肉（去皮心炒一斤）　山藥（炒共為末。每日煮粥服。</p>
<h4>健脾方</h4>
<p>陳米鍋焦（二斤）　腿術（麩炒三兩）　白芍（醋炒三兩）　干佛手（八錢）</p>
<p>共為末。加白糖開水調服。</p>
<p>先天大造丸　一七十老人傳云。服後須白再黑。齒落重生。七旬之外。並不畏冷。筋骨強健棉花子（十二兩青鹽酒拌浸一宿去殼炒黃色）　杜仲（八兩青鹽酒拌浸一宿炒斷絲）　芡實（蒸）</p>
<p>杞子（炒五兩）</p>
<p>上藥研末。煉蜜同膏為丸。如桐子大。空心鹽湯下四錢。漸加至五錢。</p>
<h4>鰻鯉丸</h4>
<p>當歸（酒洗）　杜仲（鹽水炒）　生地（酒洗）　熟地（酒蒸）　枸杞（人乳浸）　菟絲（酒蒸）　女貞貝（去心）　百合　龜膠（面裹煨去核取肉）　金櫻子（去毛上藥各等分。入鰻灰加倍。共煉蜜為丸。梧子大。每服五七十丸。米湯下。</p>
<p>鰻灰法。覓年遠瓦夜壺一個。須擇其人中白最多而濃。不能多容小便者。用大鰻一條。</p>
<p>重</p>
<h4>衛生膏</h4>
<p>治五勞七傷。及一切遠年痼疾。無不神效。</p>
<p>人參（一斤）　枸杞（一斤）　牛膝（一斤）　天冬（去心一斤）　麥冬（去心一斤）　黃（二斤蜜角膠（一斤）</p>
<p>斤）</p>
<p>上諸膏俱貯磁瓶內。熔化攪勻。每日早晚。開水或無灰酒化服三錢。或半料。或四分之一。</p>
<h4>百補膏</h4>
<p>治心血。腎水不足及諸虛。</p>
<p>玉竹　枸杞　圓眼肉　核桃肉　女貞子（各一斤）砂鍋內多水煎一汁。二汁。三汁。合熬用文武火。俟滴水成珠。加白蜜一斤。再熬成膏。磁頭眩暈倒方　老年人更妙。</p>
<p>鮮白果二個（去殼衣）。　研爛空心開水沖服。至重者。不過三五服愈。</p>
<h4>癆嗽方</h4>
<p>並治一切弱疾。</p>
<p>雞冠油一個。砂鍋內少加水。熬出油去渣。入淨白洋糖二斤。同熬。化勻。每日不拘時服。</p>
<h3>種子門</h3>
<h4>太乙金鎖丸</h4>
<p>男服。</p>
<p>五色龍骨（五兩）　覆盆子（五兩）　蓮蕊（四兩未開者陰乾）　芡實（百粒）　鼓子花（三兩即單共為細末。用金櫻膏為丸。搗千余丸。桐子大每早鹽酒送下三十丸百日永不泄。如欲泄。</p>
<p>以</p>
<h4>延壽獲嗣酒</h4>
<p>此青城霍氏家傳。能補真陰。或素性弱不耐風寒勞役。或思慮太過。致耗氣血不遂。手足痿痹。或精元虛冷。久而不孕。及孕而多女。或頻墮胎俱宜。服之能添烏須明目。聰耳延年。　男女俱可服。</p>
<p>生地（十二兩酒浸一宿切片用益智仁二兩同蒸一炷香去益智仁）　覆盆子（酒浸一宿炒）</p>
<p>山藥蓯蓉（去甲）</p>
<p>上藥用燒酒五十斤。無灰酒二十斤。白酒十斤。圓眼肉半斤。核桃肉半斤。同入缸內。</p>
<p>重湯無比</p>
<h4>種子神方</h4>
<p>男服。</p>
<p>人參（二兩晒乾酒浸透）　古墨（一兩六錢愈久愈佳）　破故紙（鹽水泡炒香）　肉蓯蓉（酒浸一晒）　遠志肉（各一兩胡椒）　何首烏（一兩黑豆拌洗去土）　淫羊藿（八錢油少許拌炒上藥須揀選上品。如法制就。為末蜜丸。桐子大。每日空心。酒或淡鹽湯送下五錢。忌房事</p>
<h4>金鎖十益大安丸</h4>
<p>頂熟地（一斤人乳拌蒸九次）　頂生地（六兩酒洗）　菟絲子（五兩酒煮吐絲）　黃（蜜炙）　麥芍（酒炒）　芡實　歸兩乳拌蒸晒）　萸肉（二兩）　山蛤粉炒）</p>
<p>以上俱如法制過。照分兩秤準。為末。聽用。</p>
<p>圓眼肉（一斤）　青核桃肉（一斤二味搗如泥）　蓮子（八斤去心焙研）　真木棗肉（五兩）</p>
<p>以上四味。共搗勻。將藥末和煉蜜為丸。早晚各服五錢。男女俱可用。至半料必孕。若加人</p>
<h4>衍慶丸</h4>
<p>男服。</p>
<p>當歸（酒洗）　肉蓯蓉（酒洗）　山藥（乳拌蒸）　枸杞（各四兩酒蒸）　魚膠（一斤麩炒）　核桃肉兩酒浸一宿煮吐絲）</p>
<p>盆子（四兩酒浸）　人參上藥擇天月德日合煉蜜為丸。空心淡鹽湯送下。初服一錢。次服一錢五分。三服二錢。</p>
<p>四服酒送兼治偏墜疝氣等症。</p>
<h4>太極丸</h4>
<p>種子黑須。駐衰顏。延年益壽。　男服。</p>
<p>茯苓（四兩乳浸日晒夜露至重八兩止）　赤石脂（二兩川椒末四兩和炒去椒）　胎發（四五○先巴戟上共為末。鹿角膠四兩為丸。梧子大。酒下九丸。漸加至十五丸。至一七日。神清氣壯。</p>
<p>欲</p>
<h4>制米法</h4>
<p>返老為童。種子如神。　男服。</p>
<p>白糯米整粒者。二三斗。於二月初八日。壬癸亥子日。取長流水鍋內煮開水。徐徐入米。</p>
<p>一日淨間只生女而未得男者。以淡薑湯沖服。</p>
<h4>女人種子方</h4>
<p>無子得子。生女轉男。</p>
<p>取明亮雄黃。要純紅一毫無清色者為細末。俟婦人月經至時。以雄黃末用黃酒送下五分。</p>
<p>每</p>
<h4>桐葉仙方</h4>
<p>此方試無不驗。孕必生男。　女人服。</p>
<p>香附十兩去毛。分作五股。每股二兩。一紅花汁浸。一童便浸。一酒浸。一醋浸。一鹽水浸益母草（淨葉酒蒸晒為末三兩）　艾葉（務要蘄艾醋炒搗發綿以黃米粉薄糊拌透晒研末七錢）</p>
<p>地（二兩九蒸水炒）　條芩（一兩五苓（二兩）　炙甘（三錢）</p>
<p>上藥各照分兩。稱淨末醋糊為丸。如桐子大。每服三十丸。</p>
<h4>固本種子丸</h4>
<p>九香蟲（五十對黃酒洗淨焙）　五味子（四兩）　百部（酒浸一宿焙）　肉蓯蓉（酒洗）</p>
<p>遠志（去油）　山藥（各一為細末。煉蜜丸。桐子大。每服五十丸。食前溫酒或鹽湯下。</p>
<h4>神效種子魚肚丸</h4>
<p>魚肚（蛤粉炒至無聲為度去蛤粉加酥少許炒過一斤）　菟絲（酒水煮成餅晒二兩）　真北沙苑（各秤準淨末。同研千余。煉蜜為丸。梧子大。每日清晨。開水下三錢。男女皆服。二十以上羊十</p>
<h4>灸雞子法</h4>
<p>治婦人肥胖。不受孕者。子宮有痰之故。</p>
<p>雞子一個。用艾包裹。香火點著。俟艾燒盡無煙。去艾灰。去蛋殼吃之。並吃無灰酒三五合</p>
<h4>勝金丹</h4>
<p>和經益精。補諸虛種子。並治胎前產後。月經不調。淋濁赤白帶下等症　女服。</p>
<p>香附（一斤四制童便酒鹽醋浸春七夏三秋八冬十日炒）　人參（一兩五錢）　白薇（四兩去蘆）</p>
<p>芎（一兩五錢）　熟五錢）　甘草（七錢五分）</p>
<p>以上十四味。俱用好酒浸。春五。夏三。秋七。冬十日。淘洗淨。晒乾為末。再用白石脂一各一服一即孕</p>
<h4>禿雞丸</h4>
<p>治色欲過度。下元虛損。服之能種子。　男服。</p>
<p>河車（一具酒洗淨銀針挑去血絲焙乾）　肉蓯蓉（酒洗）　菟絲子（酒洗）　蛇床子（酒浸）　五味上為末蜜丸。梧子大。每日溫酒下三十丸。空心服。</p>
<h4>經驗種子丸</h4>
<p>男服。</p>
<p>甘枸杞（八兩酒洗）　白當歸（四兩酒洗）　蓮蕊（四兩）　沙苑蒺藜（四兩微炒）　魚鰾（切如豆共為末蜜丸。梧子大。空心下五十丸。</p>
<h4>經驗廣嗣丸</h4>
<p>治男子癆損羸瘦。中年陽事不舉。精神短少。未至五旬。須發早白。步履艱難下元虛冷。久不孕育。</p>
<p>人參　山萸　茯苓　天冬　石菖蒲　車前子　赤石脂（另研）　當歸（各一兩）　生地　熟地覆盆子為末蜜丸。梧子大。初服六十丸。漸加至百丸。空心鹽湯或酒下。</p>
<h4>十子奇方</h4>
<p>男服。</p>
<p>鳳仙花子（三兩井水浸一宿新瓦焙乾）　金櫻子（竹刀切開去毛子水淘淨舂碎熬膏三兩）</p>
<p>五味子（三兩乳拌蒸一半酒肥大者取汁以磁盆汁拌附子晒乾附子須上金櫻子、菟絲、桑椹三味為膏。入諸藥末。用淮山藥四兩。煮糊為丸。梧子大。每空心服日。覺貫。值</p>
<h4>魏國公紅顏酒</h4>
<p>滋陰壯陽。種子奇方。　男服。</p>
<p>蓮子（去心）　松子仁　胡桃肉　白果肉　龍眼肉各等分浸燒酒。隨用一二杯。</p>
<h4>仙茅油</h4>
<p>治男子精血虛損。陽痿無嗣。</p>
<p>仙茅（米泔浸出赤水四兩）　淫羊藿（去邊四兩）　五加皮（四兩）</p>
<p>上藥咀片。入生絹袋。浸酒一月。隨意取飲。</p>
<h4>固精酒</h4>
<p>助陽多子有奇效。</p>
<p>杞子（四兩）　當歸（二兩酒洗切片）　熟地（六兩）</p>
<p>上藥絹袋盛入壇內。好酒五六大壺。重湯煮二炷香。埋土中七日。每日早晚飲三五杯。</p>
<p>勿可</p>
<h4>龍虎小還丹</h4>
<p>治一切手足拘攣。血氣凝滯。陽事不舉。齒豁目昏。心神散亂。種子延年。</p>
<p>鹿角膠　虎掌（酒炙虎脛尤妙）　川萆　（酒洗）　肉蓯蓉（各四兩）　熟地（八兩牛膝三兩拌蒸）</p>
<p>苓（人乳拌蒸）</p>
<p>錢）　枸杞（六兩）</p>
<p>上為末。將石斛酒水煎膏。入鹿膠調化。神麯六兩。為糊和丸。梧子大。早晚淡鹽湯或酒下</p>
<h4>九仙丸</h4>
<p>黑驢腎。並腎子腰子全切片。以伏龍肝為末。鋪鍋底。將前物鋪上。再用伏龍肝末蓋之。</p>
<p>慢枸杞子（二兩）　巴戟（去心）　核桃肉（去皮各四兩）　蓮蕊　白芍（酒洗）　當歸（酒炒）　破故膝（酒蒸）　龍骨（　童上為末。酒糊為丸。每清晨開水下二錢。如欲種子。可日三服。先忌房事三七日效。此藥須</p>
<h3>傷寒門</h3>
<h4>神仙粥</h4>
<p>專治傷寒。陰陽兩感。初起發寒熱。</p>
<p>蔥白七條。連根葉。生薑五大片搗碎。加白糯米一撮。水三碗。煎清粥二碗。入老醋半小盞糯米</p>
<h4>薑熨法</h4>
<p>治傷寒。胸膈不寬作痛。一切寒結熱結。食結痰結。痞結水結等症。</p>
<p>生薑搗爛去汁。將渣炒熱絹包。漸漸揉熨心胸脅下。其痛豁然自開。如薑冷再添汁。炒熱再再以</p>
<h4>陰毒傷寒四肢逆冷方</h4>
<p>吳茱萸一升。酒拌濕。絹袋二個。包蒸極熱。更換熨足心。候氣透即止。</p>
<h4>陰症傷寒方</h4>
<p>蔥八兩。麥麩一斤。鹽一斤。乾薑四兩。共炒熱。青絹或布包熨臍。稍冷再炒熱熨。以手足</p>
<h4>陰陽易方</h4>
<p>傷寒愈後。男女交感。而無恙者反得病。其症手足俱急。名曰陰陽易。</p>
<p>乾薑為末。調服數錢。覆被出汗愈。</p>
<h4>發汗方</h4>
<p>乾薑　黃丹　枯礬　胡椒（各三錢）</p>
<p>上共為末。用滴燒酒為丸。一服分作二丸。男左女右。置手心上。按會陰穴。片時即出汗。</p>
<p>正中</p>
<h4>消跗散</h4>
<p>治香港腳傷寒。其症兩跗忽然紅腫。因而發熱。兩脛俱浮作痛。蓋因感染濕熱。先從但消其濕熱。從膀胱下行。則身熱自退。切不可用風藥散之。恐致上升。不可救矣。</p>
<p>茯苓（八錢）　薏苡（八錢）　茵陳　防己　梔子（各八分）　澤瀉（二錢五分）　木瓜（八分）</p>
<p>上用水煎服三劑。便利熱退。五劑腫消。十劑全愈。</p>
<h4>順導湯</h4>
<p>治同前。</p>
<p>茯苓　澤瀉（各五錢）　肉桂（三分）　木瓜　膽草（各一錢）　車前子（去殼淨三錢）</p>
<p>水煎。六七劑愈。</p>
<h4>陰症方</h4>
<p>老油松節（七兩捶極碎）　胡椒（每歲七粒）　雞蛋（二個）</p>
<p>水三四大碗。同蛋煮熟。先將汁半茶杯。與病者服之。次將蛋一枚。磨其胸腹。冷則易之。</p>
<p>又方丁香油塗其前心。後心。臍輪。丹田。腰眼。並小腹兩邊頂門。會陰。涌泉各處。大能驅陰</p>
<h3>感冒門</h3>
<h4>薑茶散</h4>
<p>薑五片　細茶（一錢）　冰糖（二錢）</p>
<p>水煎熱服。被蓋取汗。</p>
<h4>五神湯</h4>
<p>荊芥（二錢）　蘇葉（二錢）　細茶（一錢）　薑（三錢）　冰糖（三錢）</p>
<p>水煎服。被蓋取汗。</p>
<h4>蔥薑煎</h4>
<p>蔥（十枝去根葉）　薑（三錢）</p>
<p>煎一大碗。入酒一小鐘。取汗。</p>
<p>武當救世丸　治天時不正。傷風傷寒。初起瘟疫時氣。頭痛身熱。咳嗽骨痛。並惡毒生發身生何首烏（赤色）　川芎　羌活　川烏　草烏　細辛　生甘　全蠍　荊芥　防風　天麻當歸上各依古法炮制。為末蜜丸。再用朱砂雄黃各五錢為衣。每丸重一錢五分。大人二丸。</p>
<p>小兒</p>
<h3>瘟疫門</h3>
<p>（凡遇疫染。以初病患衣放甑上蒸之。則一家不染。）</p>
<h4>內庭奇方</h4>
<p>蒼朮　良薑　枯礬各等分為末。每用一錢。以蔥白一個。搗勻塗手心。男左女右。掩臍上。藥勿著肉。又以一飲綠</p>
<h4>內府解瘟丹</h4>
<p>端午夏至前後。燒一二丸。能遠疫鬼及蛇蠍毒物。</p>
<p>蒼朮（八兩）　明雄黃（二兩）　白芷（四兩）　肉桂（一兩）　艾葉（四兩三月三日收者佳）乳共為細末。用榆面三合。加紅棗煮爛去核同煮。如糊搗丸。陰乾收好。遇有時行。日焚一二</p>
<h4>疫症方</h4>
<p>治身熱發狂。</p>
<p>苦參十斤。上好燒酒十六斤。小缸內拌貯蓋好。過夜炒燥或烘乾磨末。水發為丸。綠豆大。</p>
<p>俱</p>
<h4>解邪丹</h4>
<p>虎頭骨（二兩）　朱砂　雄黃　雌黃　鬼臼　蕪荑　鬼箭羽　藜蘆（各一兩）</p>
<p>上為末蜜丸。彈子大。囊盛一丸。系右臂上。或於病患戶內燒之。一切邪祟遠避。</p>
<h4>疫毒下痢方</h4>
<p>松花（二錢）　薄荷葉煎湯。入蜜一匙調服。</p>
<h4>四時瘟疫方</h4>
<p>黑沙糖（一鐘）　薑汁（一鐘）　滾水（一鐘）</p>
<p>攪勻。令病患乘熱服之。當即增寒熱。發汗而愈。</p>
<h4>福靛散</h4>
<p>治大頭瘟。項腫腮大。形如蝦蟆。</p>
<p>靛青花（三錢）　雞子清（一個）　燒酒（一碗）</p>
<p>共打勻。吃下即愈。真神方也。</p>
<h3>中風門</h3>
<h4>釋麻丸</h4>
<p>專治指麻臂冷。忽覺一時昏　。及頭暈眼花。服此以預防。</p>
<p>白朮（二兩荷葉包蒸三次）　廣皮（八錢）　山楂（五錢）　川連（五錢吳茱萸拌炒去萸）　炙甘草兩茅山者佳米泔浸晒三白礬湯薑同煮）　當歸（一兩為細末。竹瀝、薑汁、荷葉汁。打神麯糊為丸。梧子大。空心服二錢。開水送。忌豬首鵝肉</p>
<h4>白虎散</h4>
<p>治中風。兼治小兒急驚。</p>
<p>生石膏（十兩）　辰砂（五錢）</p>
<p>共研細和勻。大人每服三錢。小兒一歲至三歲一錢。四歲至七歲一錢五分。八歲至十二歲二</p>
<h4>中風方</h4>
<p>治口噤痰厥。不省人事。</p>
<p>辰砂　白礬等分共為末。三伏時內裝入豬膽。掛透風處陰乾。每服豆許一粒。涼水溶化灌下。即愈。</p>
<p>然又方荊芥穗略焙乾為末。酒下二錢立愈。</p>
<h4>礞石化痰丸</h4>
<p>治中痰。並一切痰症。</p>
<p>大黃（二兩九蒸）　礞石（二兩　乳淬）　沉香（一兩）　半夏（二兩薑礬制）　陳皮（二兩）　黃芩為末。陳米糊為丸。綠豆大。每服三錢。</p>
<h4>中風口方</h4>
<p>皂角（五兩去皮）為末。三年陳醋和之。左　塗右。右　塗左。干更塗之。</p>
<h4>救右湯</h4>
<p>治中風後。右手不仁。或口角流涎。不能言語等症。</p>
<p>白朮（五錢）　人參（二錢五分）　黃　（五錢）　半夏（八分）　茯苓（一錢五分）　炙甘草（三分）</p>
<p>水煎服。三劑出聲。五劑收涎。連服二十劑全愈。　此方亦治女子左手不仁。</p>
<h4>救左湯</h4>
<p>治中風後。左手不仁。或目不識人等症。</p>
<p>熟地（一兩）　白芍（五錢）　柴胡（三分）　花粉（一錢五分）</p>
<p>水煎服。四五劑效。十劑大效。一月全愈。　此方亦治女子右手不仁。</p>
<h4>理氣化痰湯</h4>
<p>治無故身倒。肉跳心驚。口不能言。足不能動。痰聲如雷。此氣虛中痰也。</p>
<p>人參（二錢）　黃　（四錢）　歸身（二錢）　白芍（一錢五分）　茯苓（二錢）　白朮（二錢）　炙甘水煎服。二劑能言。再二劑而痰聲息。再二劑而手足活動。一月全愈。</p>
<h4>熨法</h4>
<p>治陰陽脫症。凡吐瀉之後。四肢厥冷。不省人事。或男女交合。小腹疼痛。外腎縮入冷汗大出。須臾不救。　又中風昏迷不醒。又陰毒腹痛。厥逆唇青。卵腫脈絕。皆治之。</p>
<p>生蔥一二斤。截去其葉須。留中段四寸許。用繩縛之。分二束。放鍋內蒸熱。不見水取起。</p>
<p>患人臍上熨之。又將次束置鍋內。此束冷則換之。如此數次。病患鼻氣略聞蔥氣即醒。一切急中風。陰脫風寒。無有勝此者。如無蔥。以蒜代。如上法亦好。又用生薑搗爛。加鹽四兩炒熱布包熨。亦作二包換之。</p>
<h3>中暑門</h3>
<h4>黃金丹</h4>
<p>治中暑發痧。霍亂痢疾等症神效。</p>
<p>川連（二兩四錢）　黃芩（二兩一錢酒炒）　乾薑（一兩二錢）　香附（醋製）　砂仁　丁香木香茇陳皮　麥芽共為細末。用新荷葉搗汁。或干者煮汁亦可。打面糊為丸。每料作一百丸。每丸可治二人。</p>
<h4>中暑方</h4>
<p>街上熱土。童便攪勻灌之即蘇。　又地漿水服之愈。（將地掘一坑入清水攪之即是）　又以熱</p>
<h4>香薷丸</h4>
<p>香薷（三兩）　薄荷葉（二兩）　硼砂（二兩）　柿霜（二兩）　粉甘草（一兩）　烏梅肉（二兩）　藿共為細末。白糖白蜜為丸。每丸重一錢。噙化或冷水下。</p>
<h4>中方</h4>
<p>青蒿（五錢）　茯神　白朮（各三錢）　香薷　知母　干葛（各一錢）　甘草（五分）</p>
<p>水煎服。一劑氣通。二劑熱散。</p>
<p>又方香薷　茯苓（各二錢）　甘草　黃連（各七分）　白朮（五錢）　白扁豆（二錢）　白豆蔻（一粒）水煎服。一劑即愈。</p>
<h3>吐血門</h3>
<h4>吐血不止方</h4>
<p>白茅草根一握。水煎服之。</p>
<p>又方百草霜（五錢）　槐花米（二兩）　每服二錢。茅根湯下。</p>
<p>百草霜。即人家鍋底煤也。鄉外人家長燒百草。要住居山場更好。止一切吐血衄血。取其紅又方白薄紙（五張）　燒灰水服。效不可言。此方極奇。</p>
<p>又方上下諸血通治。或吐血。或心衄。或內崩。或舌上出血。如簪孔。或鼻衄。或下便出並用。亂髮燒灰。水服二錢。一日三服。</p>
<p>又方韭菜搗汁一盞。童便半盞。頓熱服一二次立止。</p>
<h4>男婦吐衄不止方</h4>
<p>益母草搗汁一盞。童便半盞。燉熱服。無鮮者。以干者一二兩。煎湯和童便服。</p>
<p>又方藕汁一盅　蘿卜汁一鐘　溫服亦治血痢。</p>
<h4>血不歸經方</h4>
<p>治血從口鼻耳眼出。</p>
<p>用現彈過新棉花五兩。燒存性為末。淡酒送下。</p>
<h4>引血歸經方</h4>
<p>當歸（酒洗三錢）　白芍（酒炒二錢）　熟地（五錢）　川芎（一錢）　荊芥穗（一錢炒黑）　生地（水煎服。</p>
<h4>治吐血仙方</h4>
<p>柿霜　陳棕灰（各一錢）　清湯下。</p>
<h4>止血方</h4>
<p>生地（一兩）　當歸（蒸熟三錢）　元參（五錢）　荊芥（炒黑三錢）　三七（一錢）</p>
<p>水煎服。一劑止血。肺熱咳嗽。加茅根一兩。麥冬三錢。胃熱者加石膏五錢。同煎服。</p>
<p>無不</p>
<h4>吐狂血方</h4>
<p>生地（搗汁）　藕汁　人乳　茅根（搗汁）　梨花蜜　童便（各一碗）　京墨（六分磨入）　薑汁（上共熬成膏。每日清晨服五六錢。如臨吐時亦可服。</p>
<h3>瘧疾門</h3>
<h4>丹陽治藥三方</h4>
<p>不拘陰陽。一日。二日。三日。及非時瘧。人無老幼。病無久近。按方依次而愈。切勿增減。藥有首功。有後效。故分一二三。而第二方實為主。既不刻削</p>
<h4>而功獨歸之第一方。</h4>
<p>陳皮　半夏（薑汁製）　茯苓　威靈仙（各一錢）　蒼朮（米泔浸切片炒）　厚朴（薑汁炒）　柴胡生薑三片。河井水各一鐘。煎八分。空心服。如頭痛。加白芷一錢。無汗。加麻黃一錢。</p>
<p>只病雖減而不愈者。必用第二方。</p>
<h4>第二方</h4>
<p>生何首烏（三錢）　陳皮　茯苓　柴胡　黃芩（各八分）　白朮　當歸　威靈仙（各一錢）　炙甘生薑三片。河井水各一鐘。煎熟入酒半杯。煎數沸空心服。久瘧加莪朮一錢。此方補瀉互用參</p>
<h4>第三方</h4>
<p>人參（一錢）　黃　（炙一錢二分）　歸身（一錢二分）　白朮（炒一錢）　陳皮（八分）　炙甘（三分）　此二味臨時酌用。加薑一片。棗二枚。水煎。半飢服。三五劑元氣充實矣。初愈宜節飲食。</p>
<h4>瘧疾驗方</h4>
<p>治四日兩頭尤妙。</p>
<p>川貝　半夏各等分研末。薑汁為丸。如小龍眼大。先一時薑湯送下。</p>
<h4>四日兩頭方</h4>
<p>發過三四巡後。一服即愈。愈後宜服補藥數劑。則不復發。</p>
<p>常山　檳榔　蒼朮　陳皮（各三錢）　雞頭梢（一對）</p>
<p>水二碗。煎七分。入酒一鐘。煎數沸。露一宿。臨發日。五更湯燉熱。面東服。如不能飲者</p>
<h4>治瘧方</h4>
<p>須發三五次後方可用。</p>
<p>生薑一塊搗爛。入淨鍋焙成餅。如茶杯底大。濃二分許。取置桌上。略退火氣。貼風門穴。</p>
<p>萬與第三節交縫處。臨發黎明貼之即愈。膏藥勿揭。聽其自下。</p>
<h4>截瘧方</h4>
<p>香附（去毛米泔浸銼碎微火炒熟六兩）　草烏（老薑自然汁浸切片拌炒去薑三兩）</p>
<p>二味俱揀成個完整者方用。破碎半個者去之。用石臼搗為末。磁器收貯勿泄氣。每服一分四</p>
<h4>海上仙方</h4>
<p>番木鱉（二兩面炒三次至黑去油淨用銀刀或磁片刮去毛）　朱砂（一錢）　雄黃（一錢）</p>
<p>甘草（共為末。每服一分。臨發日清晨溫酒送下。服後吃半飽。睡一覺即愈。治四日兩頭神效。</p>
<p>忌之</p>
<h4>治諸瘧效方</h4>
<p>專治隔日瘧。</p>
<p>當歸（二錢）　黃芩（一錢）　柴胡（一錢）　陳皮（一錢）　半夏（六分）　澤瀉（八分）　茯苓（一勿令人見。用水酒各一碗。煎八分。露一宿溫服。分兩不宜加減。</p>
<h4>絕瘧膏</h4>
<p>斑蝥（一個去頭足翅）　紅棗（一個去核）</p>
<p>同搗爛包在眉心。先發時半日包上。過時即除下。遲則起泡矣。但須發過三五次後方可用。</p>
<h4>瘧疾不二飲</h4>
<p>常山（二錢雞油炒）　檳榔（雌雄各一錢尖者雄平者雌）　知母　貝母（各一錢五分）</p>
<p>酒水各半鐘。煎七分不可過熟。熟則不效。露一夜。臨發日五更天溫服。勿令婦人煎藥。</p>
<p>一</p>
<h4>信雄丹</h4>
<p>屢試屢驗。　吟按此方白砒。須放瓦上火　。出煙盡淨。否則極毒。殺人。</p>
<p>白砒（二錢）　明雄黃（八錢）　朱砂（水飛過為衣）</p>
<p>研細末。端五午時。用七家粽尖為丸。綠豆大。朱砂為衣。大人五丸。小兒三丸。無根水於</p>
<h4>一兩金</h4>
<p>治瘧如神。</p>
<p>首烏（五錢）　當歸　牛膝（各一錢）　陳皮　青皮（各一錢五分）水酒各一鐘。煎露一夜。發日五更用。重湯燉熱服。</p>
<p>又方治久瘧人虛。</p>
<p>雞子二個打散。入白糖一兩打勻。蒸熟食之立止。</p>
<h4>四日瘧方</h4>
<p>治四日瘧效。</p>
<p>斑蝥（每歲一個去頭足翅）　密陀僧（三錢）</p>
<p>研末。用軟柿餅二個同搗爛。臨發日五更貼臍上。一日足去之。</p>
<h4>又煎藥方</h4>
<p>生首烏（八錢）　沙參（三錢）　歸身（三錢）　夏枯草（一錢）　青皮（八分）　生甘（三分）酒水各半盞煎。發之次日。服二帖愈。</p>
<p>又方白朮（四兩）　半夏（二兩）</p>
<p>為末。薑汁打米粉糊為丸。每服三錢。服完全愈。</p>
<p>又方治四日兩頭。</p>
<p>常山（三錢）　陳皮（三錢）　檳榔（三錢）　子丁香（五分）　烏梅（三個）　白丁香（五分）酒水各半盞煎。雞鳴時服之。止後須服補中益氣湯。此藥可為末施舍。</p>
<h4>截三陰瘧方</h4>
<p>胡椒（三錢）　研為細末。用砂糖少許和勻。先一夜入臍內。用布包緊。至次日去之即愈。</p>
<p>一方椒末入臍內膏蓋。十六歲用五分。年小遞減。至六十外亦遞減。神效。</p>
<h4>瘧後怪症方</h4>
<p>治口鼻中氣出。盤旋不散。凝如黑蓋色。過十日漸至肩與肉相連。堅如金石。</p>
<p>無由飲食。澤瀉煎湯。日飲三五次。連服五日愈。</p>
<h4>代赭膏</h4>
<p>治小兒瘧不能進藥。</p>
<p>代赭石（五錢　醋淬）　朱砂（五錢）　人言（豆大一粒）紙包六層。打濕煨干。入麝香少許研末。香油調。少許塗鼻尖、眉心、手腳心。神效。</p>
<h3>痢疾門</h3>
<h4>淳於丸</h4>
<p>大黃（八兩）　白芍（四兩）　車前子（四兩）　蘿卜子（八兩）</p>
<p>俱生用為末。水打為丸。每服三錢。滾水送下。虛弱及老人。人參一分。煎湯送下。</p>
<h4>丹陽治痢三方</h4>
<p>川連　黃芩　括芍　山楂肉（各一錢二分）　枳殼　厚朴（薑汁炒）　檳榔　青皮（各八分）　當香（二分為末）</p>
<p>上藥水煎。空心服。不論紅白。身熱腹痛。並用此方。純白者。去地榆、桃仁。加橘紅四分內亦</p>
<h4>第二方</h4>
<p>川連　黃芩　芍藥（酒炒）　桃仁粉（各六分）　括生芍（四分）　山楂（一錢）　厚朴（薑炒）　青（五分）　地榆（四分）　紅水煎。空心服。若延至月余。脾胃虛弱而虛滑者。更立一方。</p>
<h4>第三方</h4>
<p>黃芩（酒炒）　白芍（各六分）　橘紅　厚朴（薑汁炒）　木香（各三分）　地榆（醋炒四分）　紅花水煎。空心服。以上三方。取效最奇。婦人有孕、去桃仁、紅花、檳榔。大凡痢症。一忌溫次緩</p>
<h4>忍冬散</h4>
<p>金銀花。入銅鍋內。焙枯存性五錢。紅痢以白蜜水調服。白痢以沙糖水調服。一服即愈。</p>
<p>否</p>
<h4>太和丸</h4>
<p>紅丹（二兩飛淨）　杏仁（一百粒去皮尖）　巴豆仁（四十粒去衣油）　乳香（去油）　沒藥（各二各為細末。黃蠟一兩二錢。化開攪藥末丸。如綠豆大。每服十五丸。紅痢。甘草湯下。</p>
<p>紅白痢。甘草薑湯下。　白痢。薑湯下。　裡急後重。白湯下。水瀉。米湯下。　如人小或虛弱人。須減少用。　孕婦忌服。</p>
<h4>薑蔥飲</h4>
<p>鳳尾草連根一大握。老米一勺。薑三片。蔥白三根連須。水三大碗。煎至一碗。去渣。</p>
<p>入燒煎炒</p>
<h4>椿皮丸</h4>
<p>治下痢危篤或色如羊肝者。服之可起死回生。</p>
<p>白臭椿根皮。紅香椿根皮。俱要在土內者。方可用。去土淨刮去粗皮。微焙為末。清米湯打</p>
<h4>熱痢方</h4>
<p>治便血腹痛。或如魚腦五色者。</p>
<p>干絲瓜一枚。連皮　研。空心酒服二錢。一方煨食之。</p>
<h4>瀉痢不止方</h4>
<p>亦治久痢。</p>
<p>五倍子一兩。半生半熟。為末糊丸。梧子大。每服三十丸。</p>
<p>紅痢。燒酒下。　白痢。水酒下。　水瀉。米湯下。</p>
<p>又方山楂不拘多少。去核為粉。每用五錢。紅痢加蜜。白痢加黑沙糖。俱用滾水調服。立止。</p>
<h4>一粒丹</h4>
<p>止痢疾水瀉。脾泄尤效。</p>
<p>巴豆（十粒）　半夏（十粒）　丁香（一錢）　雄黃（一錢醋煮研）　朱砂（五分為衣）</p>
<p>麝香（五厘酒糊搗丸。紅豆大。朱砂為衣。以茶汁潤臍納藥。上蓋膏藥良久。有積即行。無積則止。</p>
<h4>馬前散</h4>
<p>木鱉　母丁香（各五個）　麝香（一分）</p>
<p>研末。米湯調。作膏納臍中。以膏藥貼上護住。　噤口痢亦效。</p>
<h4>封臍丹</h4>
<p>治痢疾水瀉。並婦人白帶。</p>
<p>丁香（七個）　肉果（一個）　牙皂（二兩去筋）　大倍子（一個炒）　麝香（五厘）</p>
<p>為末。醋調為丸。綠豆大。入臍。外貼膏藥。</p>
<h4>點眼膏</h4>
<p>赤白痢疾。及噤口痢危篤者。皆神效。</p>
<p>初胎糞（炙干一錢）　雄黃（四分）　片腦（少許）</p>
<p>為極細末。水調點兩眼背。</p>
<h4>封臍膏</h4>
<p>大黃　黃芩　黃柏　枳實（各一兩）　檳榔（八錢）　黑白牽牛（各三錢）　當歸　槐花（各五錢）</p>
<p>以上熬成膏。攤貼臍上。忌油膩酒漿。煙面葷腥。　白多者。先用薑三片。茶葉一錢。</p>
<p>紅糖藥。</p>
<h4>藥梅方</h4>
<p>治痢神效。</p>
<p>青梅（一斗）　砂仁（四兩）　甘草（四兩）　川木通（八兩）　紫蘇（四兩）　黃芩（八兩）　防風（上好燒酒一斗。將藥拌勻。青梅浸酒一月。每用二三枚神效。</p>
<h4>金華散</h4>
<p>椿白皮（一兩須臭氣者去粗皮取向東南者）　松花（三錢）</p>
<p>共為末。紅痢蜜調。白痢沙糖調。紅白痢糖蜜兼調。滾水空心送下三錢。忌濃味。</p>
<h4>久痢不止方</h4>
<p>或噤口病勢欲絕者。</p>
<p>金色鯉魚一個或一二斤。如常用鹽、醬、蔥、必用。加胡椒三四錢為末。煮透盛於病者前。</p>
<p>痢為</p>
<h4>噤口痢方</h4>
<p>蓮肉炒為末。粥飯調食。數次即愈。</p>
<p>又方鹿角　存性。為末三錢。小人二錢。好酒送下。立時即思飲食。</p>
<p>又方雞肫皮焙研。乳汁服之。</p>
<h4>水仙散</h4>
<p>治噤口痢。</p>
<p>五穀蟲洗淨。瓦焙乾為末。每服二錢或一錢。米湯調下。即思飲食。</p>
<h4>痢疾丸方</h4>
<p>鴉片（淨一兩）　鴉膽（三錢五分即苦參子剝淨肉去油）　人參（三錢五分要頂好原枝）</p>
<p>白石榴上共研細末搗勻。用陳米一兩。以荷葉包蒸極熟。去荷葉。用飯搗藥為丸。重二三厘。</p>
<p>如新色苦</p>
<h2>卷二</h2>
<h3>諸風門</h3>
<h4>丸</h4>
<p>五月五日。六月六日。九月九日。采草單取葉莖入甑。層層洒酒與蜜水九蒸九晒。為末蜜丸臥不</p>
<h4>加味養生方</h4>
<p>主治手足麻木疼痛。</p>
<p>牛膝　枸杞　生地　杜仲　菊花　萸肉　白芍（各二兩）　五加皮　桑寄生（各四兩）　圓眼肉火酒三十斤。浸七日服。</p>
<h4>風痛酒方</h4>
<p>防風　秦艽　鱉甲　晚蠶蛾　虎脛骨　牛膝（各七錢）　羌活（三錢）　當歸（一兩二錢）　油松兩二錢）</p>
<p>燒酒十斤。浸一日。煮一二炷香。埋一宿服。</p>
<h4>大夫酒</h4>
<p>治風腰腳疼痛。不可踐地。並治中風。口眼歪斜。及歷節痛風。俱宜久服。</p>
<p>松葉（搗一斤）　酒三升。浸七日。每服一合。日二服。　或切細為末。酒下二錢。或蜜丸俱</p>
<h4>祛風藥酒方</h4>
<p>生地　當歸　枸杞　丹參（各一兩）　熟地（一兩五錢）　茯神　地骨皮　丹皮　川芎　白芍錢五分）</p>
<p>黃酒二斗。絹袋盛藥。浸七日隨用。</p>
<h4>二因勝駿丸</h4>
<p>治元氣虛弱。血脈凝滯。以致筋骨痿痹。或因風濕侵襲。致成鶴膝漏蹄等症。</p>
<p>損傷。瘀血未散。以致脈絡拘攣。走注疼痛。步履艱難。以此治之。百試百效。久健。行走如飛。妙難盡述。</p>
<p>附子（一枚一兩之外制）　明天麻　牛膝　棗仁　當歸　熟地　防風　木瓜（四兩）　麝香（一戟（去上為細末。蜜丸梧子大。每服七十丸。空心淡鹽湯溫酒任下。病近者七日。年深者半月見效</p>
<h4>扶桑煎</h4>
<p>治風熱臂痛。</p>
<p>桑枝一斤。　切片炒。水三升。煎一升半。一日服盡。</p>
<h4>簡易方</h4>
<p>治一切手足風痛。及酒腳風痛。</p>
<p>薑汁　蔥汁（各一碗）　醋（一小碗）　牛皮膠（八兩）</p>
<p>慢火同三味煮成膏。青布攤貼痛處即愈。一方加蒜汁。急性花汁。各一碗更佳。</p>
<h4>忍冬膏</h4>
<p>治濕氣流注之處。痛不可忍。</p>
<p>金銀花並葉。和酒糟研爛。用淨瓦攤火上。烘熱敷患處。</p>
<h4>鳳仙酒</h4>
<p>治風痛。</p>
<p>白鳳仙花四兩。晒乾浸火酒一埕。飲完愈。　又方用白鳳仙花九朵。每朝嚼爛。溫酒送下。</p>
<h4>七味無價仙方</h4>
<p>雄黃、南星、半夏、川烏、草烏、朱砂。再加一味白天麻。每服三分酒下。不論手足頑麻。</p>
<h4>千金不換餅</h4>
<p>治手足拘攣。雖跛至十余年者俱效。</p>
<p>雄黃（五分）　細辛　官桂　牙皂　川烏　羌活　骨碎補　白附子（各一錢）　蒼朮（一錢）　麝或一二處以墨記之。</p>
<h4>半身不遂方</h4>
<p>白蒺藜半斤。微炒去刺。捶碎水煮一滾。放雞蛋十個再煮。視雞蛋浮起為度。單吃雞蛋。</p>
<p>數</p>
<h4>治鶴膝風方</h4>
<p>兼治痢後鶴膝。</p>
<p>用虎食余狗頭。　存性。陳糟搗敷神效。</p>
<p>又方甘菊花蘄艾作踝膝。用久其病自除。</p>
<h4>雞蘇丸</h4>
<p>治男婦諸風上攻。頭目昏重。偏正頭風風痛。</p>
<p>雞蘇薄荷葉（八兩）　川芎　荊芥（各四兩）　羌活　防風　香白芷　炙甘（各二兩）　細辛（一為末。蒸餅糊為丸。每服二錢。清茶下。</p>
<h4>半邊頭風方</h4>
<p>石菖蒲根搗汁。酒沖服。至多不過三四服愈。如無鮮者。即以干者。水搗汁亦可。</p>
<p>又方金銀花　桑葉　茄杆（俱要經霜雪者）　夏枯草（各八兩）</p>
<p>煎湯一大鍋。患人於不通風房內。浴盆盛洗。淋得爽快。冷則換湯自愈。</p>
<h4>偏正頭風方</h4>
<p>白槿樹花子（三錢）　僵蠶　升麻　款冬花　天麻（各一錢半）　蔥頭（三個）　薑皮（三片）水二杯。煎八分。先薰鼻眼。待溫即服。如頭痛甚者。須發汗。輕者不必發汗。四服愈。</p>
<h4>內府頭風方</h4>
<p>蘿卜搗汁用一匙。入麝少許。仰臥注鼻孔。左痛注右。右痛注左。兩邊俱痛。二孔俱注即愈又方治偏正頭風。</p>
<p>老鼠洞口泥炒熱。乘熱絹帕包頭上。即愈。</p>
<h4>半肢風方</h4>
<p>半邊身冷。用真正廣西桑寄生。緩則浸酒溫服。急則酒煎服。</p>
<h4>忘痛湯</h4>
<p>治遍身骨痛。時止時痛。</p>
<p>黃　（一兩）　當歸（五錢）　肉桂（一錢有火者用桂枝）　元胡索（五分）　花粉（五分）　秦艽（水煎服。二三帖愈。</p>
<h4>鬼箭風方</h4>
<p>身痛有青痕。以亂髮擦之。發卷成團而硬者方是。如不卷硬者非是。</p>
<p>金銀花（一兩）　煎湯飲之立愈　兼治鬼擊。</p>
<h4>五龍針</h4>
<p>治鶴膝半肢風。並無名腫毒。初起跌閃神效。</p>
<p>硫黃（五錢）　皂角（一錢）　朱砂（一錢）　雄黃（一錢五分）</p>
<p>上藥為末。惟將硫黃烊化。入藥末在內。再加麝香三分。傾出綿紙撳薄片。用錢一個。</p>
<p>以藥</p>
<h4>濃皮風方</h4>
<p>苦參不拘多少。用無灰酒煎湯。去渣洗之。數日而愈。或用前汁。將末調敷患處。其效尤速</p>
<h4>大麻風方</h4>
<p>龍吞虎。即以竹削尖拴定。勿令吐出。活浸火酒壇中。蓋好過一宿。重湯煮三炷香。埋一日赤蠊</p>
<h4>煮鴨方</h4>
<p>治大麻風。手足拘攣。發眉盡落。</p>
<p>大雄鴨一只。　火蠊蛇長尺余者三四條。將鴨餓一二日。次早將蛇寸斷與食。俟鴨腹蛇化盡汗令</p>
<h4>麻風下法</h4>
<p>大黃（一兩煨）</p>
<p>為末。每服三錢。空心溫酒下。瀉惡物如魚腦。或有蟲如亂髮。候蟲盡乃止此藥。</p>
<h4>醉仙散</h4>
<p>治風痰。遍身癮疹。瘙癢麻木。毛髮脫落。　楊梅瘡。誤服輕粉。而成此症者並效胡麻子　牛蒡子　枸杞　蔓荊子（各一兩同炒）　白蒺藜　苦參　栝蔞根　防風（各五錢）</p>
<p>共為末。每末一兩。加輕粉一錢和勻。每服一錢。茶調下。晨午夕。各進一服。後五七日。</p>
<h4>鵝掌瘋方</h4>
<p>桐油（三錢）　鹽鹵和勻搽之。外用紙板火薰之。</p>
<p>又方輕粉　槐子　核桃肉　棗仁（各一錢）</p>
<p>共搗為丸。分二十一丸。每服七丸。第一日公雞汁送。次酒。次開水送。三日藥盡即愈。</p>
<p>又方生桐油抹上。用牙香薰之數次。即皮脫手好。永不再發。</p>
<p>又方黃丹　輕粉（各三錢）</p>
<p>用豬臟頭燒油。調藥搽之。風癬即除。或用生豬油。搗赤石脂末為丸。擦之即愈。</p>
<p>又方鮮蟹水。洗手即愈。　又用明天麻煮汁。熱洗擦效。</p>
<p>又方並治寒濕血風。</p>
<p>水龍骨（即舊船縫拆下油灰）　研末。麻油調塗立愈。</p>
<h4>紅白癜風</h4>
<p>硫黃末　白附子　薑汁（和勻）茄子帶。蘸藥擦之。紅癜用紅茄。白癜用白茄。二三次即愈。</p>
<h4>白癜風方</h4>
<p>雄黃　硫黃（各五錢）　南星　黃丹（各三錢）　枯礬　密陀僧（各二錢）</p>
<p>共為細末。先以薑汁擦患處。後以薑蘸藥末擦之。肉漸黑。次日再擦。黑散即愈。</p>
<h4>紫癜風方</h4>
<p>宮粉（五錢）　硫黃（三錢）</p>
<p>為末。雞子清調擦。</p>
<h3>癲癇門</h3>
<h4>逐癇丸</h4>
<p>靈砂（九錢）　乳香（二錢）　膽南星（四錢）　川連（一錢）</p>
<p>上為末。以南蛇膽二分。入豬心血。研開和丸。如粟米大。每服五分。臨臥時。橘皮湯下。</p>
<h4>救癇丸</h4>
<p>山藥　人參　遠志　防風　紫石英　茯神　虎骨　虎睛　龍齒　丹參　石菖蒲　細辛五味以上各照古制為末。神麯糊丸。如綠豆大。每服五六十丸。清湯早晨送下。</p>
<h4>安神丸</h4>
<p>附子（三分）　人參（三錢）　白朮（三錢）　陳皮（一錢）　歸身（五錢）　朱砂（一錢）　鐵衣（水粉（一錢）　膽星（一錢）　川連（二錢）</p>
<p>上為末。蜜丸。薑湯送下一錢。日進一服。藥完愈。</p>
<h4>鎮神丹</h4>
<p>人參（二兩）　白朮（二兩五錢）　歸身　生棗仁　生地　茯神　麥冬（去心各一兩五錢）　熟地陳皮（一錢五分）</p>
<p>上蜜丸。早晚清湯下五錢。</p>
<p>心腎兩交湯（徹夜不眠用之）</p>
<p>熟地（五錢）　萸肉　棗仁（各四兩）　人參　當歸　白芥子　麥冬（各二錢五分）　肉桂黃連水煎服。</p>
<h4>靈砂安神丸</h4>
<p>（兼治心腎不安怔忡恍惚妄事驚悸恐怖常服日記萬言又治吐血勞瘵怯弱神效）</p>
<p>靈砂（一兩一半留為衣）　茯神（乳制）　遠志　棗仁（炒）　生地　麥冬　石菖蒲　熟地天冬上為末。蜜丸。如梧子大。靈砂為衣。酒下五十丸。　一方加川連五錢。益智仁鹽水炒去殼丸。</p>
<h4>失心方</h4>
<p>治痰入心竅黃連（二錢）　鬱金（二錢）</p>
<p>煎濃汁。礬三錢為末。將前汁送下。三服後。服補中益氣湯十帖愈。</p>
<p>又方治失心。</p>
<p>蝦蟆（　存性）　朱砂等分為末。每用一錢。水調服神效。</p>
<h4>豬羊癇方</h4>
<p>牙皂（八兩去弦）　取不落水豬肝一具。同煮一二炷香。取出豬肝。將牙皂晒乾為末。</p>
<p>明礬四癇用羊</p>
<h4>化痰丸</h4>
<p>治風痰癇病。</p>
<p>生白礬（一兩入豬膽內陰乾）　細辛（五錢）</p>
<p>為末。蜜丸。桐子大。一歲十丸。茶湯下。大人五十丸。久服痰自大便中出。</p>
<h4>癇病神方</h4>
<p>（昔一婦人病狂十年遇異人授此方初服心間如有物脫去神氣洒然至再服而愈亦治男郁顛狂及風痰迷悶）</p>
<p>鬱金（七兩）　明礬（三兩）</p>
<p>為末。面糊為丸。滾水下三錢。藥完愈。</p>
<h4>醒迷至寶丹（白真人方）</h4>
<p>治痰迷心竅。呆痴狂癲。不論新久。多服除根。至效如神。</p>
<p>膽星（三錢）　朱砂（三錢水飛為衣）　金箔（十張）　生棗仁（三錢）　遠志　茯神（三錢）　柴胡錢）　生甘草（一錢）　木香共為末。蜜丸。梧子大。朱砂為衣。每日清晨。清湯下三四十丸。</p>
<h3>青筋門</h3>
<h4>備急丸</h4>
<p>治沙肚痛。</p>
<p>真茅朮（去皮尖）　母丁香　雄黃　朱砂（各淨末六分）　蟾酥（六分）</p>
<p>將蟾酥火酒開化。共研成丸。如芥子大。每用一粒。置舌尖上。藥化痛止。重者二服。</p>
<h4>烏沙脹方</h4>
<p>真麻油（一鐘）　溫服即止。</p>
<h4>馬土散</h4>
<p>白馬糞（　存性每用五錢）　入黃土新五分。能飲者溫酒調服。不能飲酒。溫湯調服。</p>
<p>即刻止</p>
<h4>絞腸痧方</h4>
<p>用好明礬末。溫水調服。三五錢即愈。　或用胡椒、綠豆、各二十四粒同研。酒調服即愈。</p>
<h4>干霍亂方</h4>
<p>用千裡馬煎湯。飲之即吐。</p>
<h4>急治轉筋霍亂法</h4>
<p>上不吐。下不瀉。肚痛腳筋吊者是也。急將病患頂發分開。以綠豆粉調井水。不住手拍頂心</p>
<h4>絞腸痧法</h4>
<p>凡陰痧。則腹痛而手足冷。看身上有紅點。以燈火爆之。陽痧則手足熱。用針刺出血即痊。用炒鹽一兩或數錢。以陰陽水一鐘調服。或吐或瀉即止。</p>
<h4>平痧丸</h4>
<p>治痧脹。霍亂吐瀉轉筋。並傷暑。心胃痛等症。</p>
<p>藿香葉（一兩）　茅朮（三錢米泔浸）　陳皮（五錢炒）　枳殼（一兩炒）　厚朴（八錢薑汁炒）　生蠶砂（二兩）　草紫河以上諸藥。再用青蒿汁浸三四次。</p>
<p>青皮（五錢炒）　川貝（去心五錢）　麝香（一錢）</p>
<p>上藥共為末。薑汁為丸。約重二錢。朱砂為衣。每服一丸。燈心湯下。小兒量減。孕婦忌服</p>
<h4>消渴門</h4>
<p>加減四物湯　丹溪云。三消多屬血虛。不生津液。宜四物湯為主。間服繅絲湯更妙。</p>
<p>熟地　當歸　白芍　川芎（各三錢）</p>
<p>上消者。加人參、五味子、麥冬、天花粉。煎入生藕汁、生地黃汁、人乳。飲酒人加葛根汁味。</p>
<h4>繅絲湯</h4>
<p>即蠶繭做絲湯。如無即以原繭殼絲綿煎湯皆可代。渴則飲之大效。蓋此物屬火。有陰之用。</p>
<h4>清涼水</h4>
<p>田螺（五升）水一斗浸過夜。渴則飲水。每日換水浸飲。</p>
<h4>二冬湯</h4>
<p>治肺消。氣喘痰嗽。面紅虛浮。口爛咽腫。飲水過多。飲訖即溺。</p>
<p>麥冬（一兩）　天冬（四錢）　茯苓（一錢五分）　車前子（一錢）</p>
<p>用水煎服。一二十劑愈。</p>
<h4>平胃滋腎湯</h4>
<p>治胃消。大渴多飲。嘈雜易飢。得食稍減。</p>
<p>熟地　元參　麥冬（各八錢）　石膏（三錢）　青蒿（二錢）</p>
<p>水煎服。十劑渴減。一月全愈。</p>
<h4>引龍湯</h4>
<p>（治腎消多飲多溺口吐清痰投水即散面熱唇紅口舌不峭此下部虛寒逼火上升故作大渴泛為痰故痰清而易散）</p>
<p>元參（一兩）　肉桂（一錢）　萸肉（一錢五分）　麥冬（三錢）</p>
<p>水煎。連進三劑渴減。十劑全愈。</p>
<h4>止氣湯</h4>
<p>治同上。</p>
<p>熟地（一兩）　肉桂（七分）　茯苓（三錢）　丹皮（三錢）　麥冬（六錢）</p>
<p>水煎服。五六劑即愈。</p>
<h3>痰喘門</h3>
<h4>滌痰散</h4>
<p>此藥清肺。消痰定嗽。解酒除毒。一切痰火神效。</p>
<p>廣陳皮先用泉水洗淨。每一斤入食鹽四兩。同入水浸過一指。鍋內煮干。略去筋膜。切作小</p>
<h4>萊子丸</h4>
<p>治風痰咳喘。或吐膿血。並老人痰喘。</p>
<p>蘿卜子（一兩炒研細末）　杏仁（五錢去皮尖）</p>
<p>共搗爛。加蜜丸。梧子大。每服一錢。清湯下。</p>
<h4>化痰止嗽方</h4>
<p>治陰虛火嗽。</p>
<p>絲瓜燒存性為末。棗肉和丸。彈子大。每服一丸。酒化下。</p>
<h4>如神湯</h4>
<p>治肺熱氣喘。</p>
<p>生茅草根一握。打碎。水二盞。煎一盞。食後溫服。甚者三服止。</p>
<p>又方白果煨食。大能降痰。定喘溫肺。</p>
<h4>天蟲散</h4>
<p>治風痰咳嗽。夜不能臥。</p>
<p>白僵蠶炒研。好茶各一兩為末。每用五錢。臥時泡湯服。</p>
<h4>久嗽方</h4>
<p>不論老少。無不奇驗。五六歲時服之。終身可無嗽病。</p>
<p>大蘿菔一個。去皮切作四塊。不可切到底。下留蒂。用砂鍋煮熟捻碎。和頂白洋糖再頓極爛腸等不過二三服。無不立效。</p>
<h4>青白散</h4>
<p>治痰火。並治童子癆。</p>
<p>人中白在露天者。不拘多少。炭火　過。用布包放青靛缸內。浸七日。取起晒乾為末。</p>
<p>每服</p>
<h4>熱嗽不止方</h4>
<p>熟栝蔞一個。入濃茶一鐘。洗去子。再加蜜一鐘。以碗盛於飯上蒸熟。取出。時時挑三四匙</p>
<h4>久嗽不止方</h4>
<p>治三十年。久嗽不止。諸藥不效。服此神驗。</p>
<p>百部一味。熬膏入蜜不時服。</p>
<h4>玉屑潤金丸</h4>
<p>治遠近咳逆不已。發熱不退神效。</p>
<p>人參　知母　貝母　五味子　桑皮（炒）　地骨皮（炒各一兩）　甘草（炙五錢）　麻黃（炒去節）　杏仁（去皮尖面炒各二兩）　罌粟殼（去筋膜炒一兩）　半夏（薑汁拌七次微炒一兩五錢）薄共為末。煉蜜丸。圓眼大。每噙一丸。徐徐咽下。日噙三丸。夜含一丸。神效。</p>
<h4>感寒咳嗽方</h4>
<p>款冬花（研細末三錢）　薑汁（五錢）　黃米糖（三兩）　頓化熱服</p>
<h4>服鱉甲法</h4>
<p>治上氣急滿。坐臥不得。</p>
<p>鱉甲（一兩）　炙令黃。細搗為散。燈心一握。水一升。煎五合。食前服一錢七分。食後蜜水</p>
<h4>清金丸</h4>
<p>治痰喘咳嗽。</p>
<p>枇杷葉（去毛蜜炙）　桑皮　冬花　木通　紫苑　杏仁（各等分）　大黃（減半）</p>
<p>共為末。梨汁、竹瀝、白蜜。熬膏為丸。食後夜臥。俱可噙化。</p>
<h4>定金丸</h4>
<p>清肺止嗽。定喘化痰。</p>
<p>薄荷（四兩）　桑皮　天冬（去心）　麥冬（去心）　知母（去皮毛）　百部　川貝　柿霜（各二兩）</p>
<p>仁錢）　真冰上為末。竹瀝、梨汁。蜜煎膏為丸。彈子大。亦可噙化。</p>
<h4>神煙</h4>
<p>治久嗽。</p>
<p>石黃　冬花　月經衣帶（瓦焙存性）　舊茅屋上塵。</p>
<p>共為末。以水和塗茅草上。待干。納新竹筒。內燒一頭。以口吸一頭。令煙氣咽下。無不愈</p>
<h4>哮病方</h4>
<p>蘄艾（一兩）　神麯（二錢）</p>
<p>酒水各半。煎服三帖即愈。</p>
<h4>蛤青散</h4>
<p>治久嗽。</p>
<p>真蛤粉（瓦　）　入青黛少許淡齏菜汁滴入麻油數點。調服二錢。</p>
<h4>冬花煙</h4>
<p>治久嗽。</p>
<p>冬花（二兩）於無風處燒之。用蘆管吸咽。以食壓之。</p>
<h4>薏苡散</h4>
<p>治咳嗽吐膿。</p>
<p>薏米仁（三兩）為末。水一升。煎三合。入黃酒一合。作五次溫服。或炒為散服。凡人咳嗽吐</p>
<h4>八仙丹</h4>
<p>治冷喘哮嗽如神。</p>
<p>雄黃（水飛一兩一半為衣）　鵝管石（　一兩）　礞石　硝（各一兩二物合　如金色）　款冬蕊（兩入白礬二兩用上共為末。甘草三錢煎汁。和綠豆粉糊丸。如綠豆大。每服八丸。臨睡津咽。或桑白皮湯冷</p>
<h4>治腎虛咳嗽方</h4>
<p>水泛為痰諸藥不效。</p>
<p>熟地（一兩）　元參（五錢）　麥冬　萸肉（各三錢）　茯苓　山藥（各二錢）　白芥子（研五分）</p>
<p>水煎服。如胸脅疼痛。加白芍二錢。柴胡三分。五六劑效。多服除根。</p>
<h3>黃膽門</h3>
<h4>雞子散</h4>
<p>治黃膽三十六症。</p>
<p>雞蛋（一個）　連殼燒研。醋一合溫服。鼻中蟲出為效。重者不過三服神效。時行發黃。</p>
<p>酒醋</p>
<h4>茱萸飲</h4>
<p>治黃膽痧。</p>
<p>半楂葉即山茱萸葉。采取水淨搗爛。濾汁一碗。同白酒各半。溫服。三次必愈。以小便白又方蚯蚓泥　存性為末。黃酒下三錢。</p>
<h4>黃膽痧方</h4>
<p>豬膽（一個如小用二個）　將膽汁沖入白酒娘內。每日空心服。或嫌苦用米粉和膽汁為丸。白又方只用生面糊圍臍。雞子開孔去黃白合臍上。四圍封固露頂。另用黃蠟拖荊川紙為筒。直豎雞當不</p>
<h3>腫脹門</h3>
<h4>試臌法</h4>
<p>鹽四兩炒熱。絹包放臍上。水臌鹽化水。食臌紅色。血臌紫紅色。氣臌紫黑色。氣虛中滿鹽</p>
<h4>千金散</h4>
<p>治一切臌脹。</p>
<p>千金子（取白仁去油約一兩）　枳實（炒）　青皮（炒）　陳皮　香附　山楂肉　木香　砂仁云九味為末。秤五分。加千金子霜八分。入生蜜調丸。五更盡用淡薑湯下。天明利三四次不甚九面、鹽、醋等物兩個月。終身忌團魚、河豚、騾馬、母豬、牛肉、王瓜、南瓜、立復。</p>
<h4>雄鴨酒</h4>
<p>鴨一只（綠頭雄者退洗去雜候用）　南蒼朮（三兩）　防風（一兩）　荊芥（五錢）　雄黃（三錢）</p>
<p>上為末。酒拌裝鴨內線縫。入磁瓶。用無灰陳酒三四斤浸之。封口入鍋重湯煮。四柱香去藥</p>
<h4>治臌脹驗方</h4>
<p>過山龍（即土牛膝）　土枸杞根（即地骨皮挫碎）</p>
<p>童子雞一只。去毛雜裝入前藥。貯砂鍋內。酒水各半。煮熟去藥吃雞。至重不過三只。</p>
<h4>消河餅</h4>
<p>治水腫。小便閉淋。</p>
<p>大田螺（四個）　大蒜（去皮五個）　車前子（三錢為末）</p>
<p>三味。共搗研成餅。貼臍中。以手帕縛之。貼藥後少頃。小便漸漸自出。其腫立消。</p>
<h4>婦人血臌方</h4>
<p>馬鞭草同劉寄奴煎湯服。或為末服神效。</p>
<h4>治遍身黃腫方</h4>
<p>取百部洗搗罨臍上。以糯米飯半升拌酒。半合蓋在藥上。以布包住。一二日後口中有酒氣。</p>
<h4>治水臌方</h4>
<p>用大鯽魚一個。去腸入建蓮子。去心蒸爛。淡食一個。即小便利。二個全愈。</p>
<h4>五臌點眼方</h4>
<p>麝香（一錢）　珍珠（一錢）</p>
<p>胎糞。初胎者。收貯磁瓶內。以泥封口。埋土中。三七日共研勻。取貯小磁瓶內。常置暖處上藥治六脈沉伏。臍番。眼突無紋。男左女右。點大眼角。一次眼有淚。鼻有涕。二次胸作</p>
<h4>半邊金蟾散</h4>
<p>大蝦蟆（一個）　稻草燒灰存性。去左邊。只用右邊為末。大蒜一個搗如泥。同蝦蟆灰拌勻為</p>
<h4>火棗散</h4>
<p>夜壺一個。內有人中白濃一寸以上者。將紅棗填滿。鹽泥封固一寸濃。三釘架起。用火一</p>
<h4>金蟾散</h4>
<p>治氣脹如神。</p>
<p>大蝦蟆（一個）　以砂仁填腹令滿。用泥罐封固。火　透。紅煙盡。取出待冷。去泥研末。作</p>
<h4>水腫秘方</h4>
<p>蝦蟆（一個）　裝豬肚內。好酒煮一伏時。去蝦蟆。將酒肚盡服。大便屁自多。或水下。</p>
<p>其腫</p>
<h3>膈症門</h3>
<h4>翻胃神方</h4>
<p>白鵝一只殺死。不可下水。即拔全毛　灰。無灰陳酒送下。即愈。</p>
<h4>丹崖祖傳狗寶丸</h4>
<p>硫黃（一錢）　水銀（一錢）</p>
<p>同炒成金色。加狗寶三錢為末。以雞蛋一個。去白留黃。和藥攪勻。紙封泥固。火煨半日。</p>
<h4>噎膈方</h4>
<p>（患此症胸前必有二小骨漸漸交合則不能食而死）</p>
<p>熱鵝血。不加鹽水飲之。則胸前二骨俱化。飲食可進。</p>
<p>又方梨一個。四方鑽七孔。每孔納川椒巴豆各一粒。又將頂切一蓋去心。入真阿魏一分半。</p>
<p>麝一者二又方生薑刮去皮。切濃片。以竹絲穿成一串。於五月盡日。入濃糞內七日。於六月初六日取出。</p>
<h4>翻胃虎肚丹</h4>
<p>虎肚一個。水略洗。瓦上焙乾。不可焦。配辰砂、雄黃、丁香、狗寶各一錢。麝三分。</p>
<p>共為十一</p>
<h4>枳殼丸</h4>
<p>整枳殼去穰四兩。每個入巴豆三粒。麻線十字扎定。用水五六碗煮透。去豆切碎晒乾。</p>
<p>橘紅（一兩）　青皮（去穰一兩）　木香（三錢）</p>
<p>共為細末。陳老酒。陳粳米粉打糊丸。臨臥酒服五十丸。</p>
<h4>真陰散</h4>
<p>治咽膈。</p>
<p>婦人指甲。腳指甲。二味並用。新瓦火上炒黃。待冷出火氣研碎。初服三厘。漸至一分。</p>
<p>白</p>
<h4>七紅丹</h4>
<p>治膈食牛黃　麝香　狗寶（各一分半）　沉香　朱砂　赤石脂（醋　）　松香（各一錢）</p>
<p>為細末。飯搗為丸。豆大。金箔為衣。每服七丸。清湯送下。兩服愈。</p>
<h4>翻胃奇方</h4>
<p>蓮藕一枝。風乾三四日。去其頭兩段。單吃藕梢一段。吞汁吐渣。一日一枝。二日服完即愈</p>
<h4>膈食驗方</h4>
<p>大豆（即羅漢豆）　或炒或煮。頻頻食之。久則自愈。蓋此症諸物不能下咽。惟食此無礙。以</p>
<h3>痞積門</h3>
<h4>平肝消瘕湯</h4>
<p>白芍（五錢）　歸身（二錢五分）　白朮（五錢）　柴胡（五分）　鱉甲（一錢五分）　神麯山楂水煎服。十劑塊小。二十劑全消。</p>
<h4>化鱉湯</h4>
<p>治胃中生鱉。有時亂動。痛不可忍。得食則解。日漸壯大。久久雖食亦痛。以手按宛如鱉形。</p>
<p>榧子（十個）　白薇　雷丸　神麯（各三錢）　檳榔（二錢）　史君子肉（十個）　白朮（一兩）　人上藥水煎服。服後腹必大痛。不可飲食。堅忍半日。渴則再吃二煎。少頃必有蟲穢之物打下</p>
<h4>阿魏散</h4>
<p>天竺黃（二錢）　阿魏（二錢五分）　蘆薈（　二錢）　番木鱉（去毛一個面裹煨）　僵蠶（炒）　兒上為細末。每服三錢。好酒調服。約重車行十裡時。化下膿血之物即愈。</p>
<h4>神效方。</h4>
<p>大蒜數個搗爛。加大黃皮硝各一兩。共搗成膏。貼患處即消。</p>
<h4>如神膏</h4>
<p>阿魏　朴硝　硫黃　甘草　甘遂（各一錢）　麝香（三分）　青皮（三錢）</p>
<p>上為末。獨蒜一個。蔥頭七個搗爛。入前藥末搗勻。攤布上。隔布貼患處。</p>
<h4>王家鱉甲方</h4>
<p>治左脅右痞積。內生鱉者神效。　吃得人參。用此方。不吃得人參。不可用此九肋大鱉甲一個洗淨。米醋三斤。文火煮干。不許甲焦。坐東朝西。制成粗末。每服五錢。</p>
<p>重</p>
<h4>七磨散</h4>
<p>人參　枳殼　川貝　烏藥　鬱金　木香　沉香上藥用清湯磨。各一分服。能消胸膈積食。不傷正氣。老年虛弱之人。用之甚妙。</p>
<h3>淋濁門</h3>
<h4>白濁方</h4>
<p>黃柏為末。雞子清為丸。每服三錢。肉桂湯送下。三四服即效。</p>
<p>又方</p>
<h4>石蓮子</h4>
<p>茯神（各三錢）</p>
<p>上為末。清晨用黃酒沖服三錢。睡片時。二服即止。三四服斷根。</p>
<h4>白濁莖痛方</h4>
<p>韭菜子（五錢）　車前子（三錢）</p>
<p>白酒煎。露一宿。空心熱服。</p>
<h4>散精湯</h4>
<p>治行房忍精。致成白濁。便短刺痛。或大便後急等症。</p>
<p>劉寄奴（一兩）　車前（五錢）　黃柏（五分）　白朮（一兩）</p>
<p>水煎服。一劑即愈。</p>
<h4>玄車丹</h4>
<p>治血淋。</p>
<p>玄參（一兩）　車前子（一兩）</p>
<p>水煎服。二劑愈。</p>
<h4>化石湯</h4>
<p>治砂石淋。</p>
<p>熟地（一兩）　茯苓　玄參　萸肉（各五錢）　米仁　麥冬　澤瀉（各二錢五分）</p>
<p>水煎服。五劑輕。十劑愈。二十劑全愈。</p>
<h4>禹治湯</h4>
<p>治濕熱下注成淋。</p>
<p>白朮　茯苓　米仁（各五錢）　車前子（一錢五分）</p>
<p>上水煎服。至重者十劑必愈。</p>
<h4>秋石丸</h4>
<p>治真元不足。下焦虛冷。白濁便數。凝白如油。光彩不定。澄下如糊如膏。及諸淋秋石（人中白代亦可）　鹿角膠（豆粉炒成珠）　桑螵蛸（炙各二兩）　白茯苓（四兩）</p>
<p>為末。米糊丸。梧子大。每服七十丸。虛者人參湯下。或麥冬湯下。</p>
<h4>螵蛸丸</h4>
<p>治諸淋。</p>
<p>桑螵蛸（微炒一兩）　菟絲子（酒煮一兩）　澤瀉（五錢）</p>
<p>上為末。蜜丸。梧子大。每服二三十丸。米湯下。</p>
<h4>淋症方</h4>
<p>石葦（一錢）　萆　（一錢）　石蓮肉（一錢）　山慈菇（二錢）　杏仁（八分）　生甘草（三分）　川水煎服愈。</p>
<h4>氣化湯</h4>
<p>治氣虛濕墜成淋。</p>
<p>黃　白朮（各一兩）　茯苓　豬苓　車前（各三錢）　升麻（五分）</p>
<p>水煎服。三五帖愈。</p>
<h4>散淋湯</h4>
<p>治濕熱腎虛成淋。</p>
<p>白朮（一兩）　杜仲　茯苓（各五錢）　草（一錢）　黃柏（五分）　肉桂（半分）</p>
<p>水煎服。三五帖愈。</p>
<h4>助膽導水方</h4>
<p>治肝膽虛弱。感濕成淋。</p>
<p>柴胡　黃芩（各二錢）　白芍　車前（各五錢）　茯神　澤瀉　梔子　蒼朮（各三錢）</p>
<p>水煎服。三劑愈。</p>
<h3>疝氣門</h3>
<h4>疝氣方</h4>
<p>（疝氣有五寒熱氣血濕又有房勞氣滯木腎筋疝　疝狐疝狐疝者日縮而夜出種種不同擇治之）</p>
<p>荔枝全用五六枚。搗爛。滾火酒沖。紙蓋片刻。飲之立愈。</p>
<h4>偏墜方</h4>
<p>胡椒（一兩）為末。面打濃糊。離火攪入椒末。攤成膏。貼陰子患處。一時小便如涌。</p>
<p>貼一日去膏即愈。</p>
<h4>水瓜散</h4>
<p>治小腸氣痛。繞臍衝心。</p>
<p>連蒂老絲瓜燒存性。研末。每服三錢。熱酒調下。甚者不過二三服即消。</p>
<h4>疝氣腫痛方</h4>
<p>（不論老少新久俱效）</p>
<p>旱蓮草搗汁一盞。黃酒和勻。頓熱服立效。</p>
<p>又方小茴（一錢）　荔枝核（研碎）　橘核（研碎）</p>
<p>酒煮。露一宿。次日空心溫服。</p>
<h4>立消斗大疝氣方</h4>
<p>沉香　紫蘇　蘇木　南星（各五錢）</p>
<p>多年香櫞一個切碎。雄豬尿胞。洗淨入藥扎緊。好酒四五斤。煮爛搗面糊丸。桐子大。</p>
<p>酒送</p>
<h4>疝氣丸方</h4>
<p>硫黃　荔枝核　陳皮共為末。蜜飯丸。如豆大。好酒下十五丸。空心服。不論撞上墜下。服之除根。（狐疝不治）</p>
<h4>偏墜灸法</h4>
<p>在兩腳大拇指甲下骨節上艾灸。用獨頭蒜切片。瓜子濃七片。黃豆大艾七壯。兩腳齊灸二次</p>
<h4>化木湯</h4>
<p>治木腎白朮（一兩）　附子　肉桂　柴胡（各五分）　野藍菊花根（五錢）</p>
<p>水煎服。服後被蓋取汗。至睪丸之外。汗出如雨為度。一帖即愈。如病重者。加倍煎服。</p>
<h4>逐狐湯</h4>
<p>治狐疝。日則縮而痛。夜則出而安。且能強陽善戰。是真狐疝也。</p>
<p>人參（五錢）　白朮（三錢）　茯苓（三錢）　肉桂（三分）　橘核（五分）　白薇（五分）　荊芥（一上水煎服。五六劑愈。</p>
<h3>夢遺門</h3>
<h4>夢遺方</h4>
<p>黃柏（三兩）　熟地　麥冬　枸杞　萸肉　天冬（各一兩五錢）　魚鰾（三兩炒）　蓮須五味（上為末。蜜丸。或金櫻膏丸。梧子大。空心清湯下三錢。藥完病愈。</p>
<p>又方歸身（酒洗）　白茯苓　川芎　白芍　甘草　熟地　杜仲　金櫻子　淫羊藿（去邊炙酥）</p>
<p>金釵上藥。水浸半日。臨臥煎服。能七日不遺。</p>
<h4>荊公散</h4>
<p>治夢遺失精。並驚悸郁結。</p>
<p>黃　（二兩）　山藥（二兩）　遠志（一兩去心）　茯苓　茯神（各一兩）　桔梗　炙甘（各三錢）</p>
<p>共為末。酒下二錢。有力者去黃　。加人參一兩更效。</p>
<h4>心腎兩交湯</h4>
<p>治勞心過度而遺者。</p>
<p>熟地　麥冬（各一兩）　山藥　芡實（各五錢）　川連（五分）　肉桂（三分）</p>
<p>水煎服。</p>
<h4>安心絕夢湯</h4>
<p>治同上人參（一錢五分）　麥冬（三錢）　茯神　白朮　菟絲子（各一錢五分）　熟地（五錢）</p>
<p>元參（五身（各一錢五水煎服。二三十劑愈。</p>
<p>又方菟絲子（一兩）　車前子（三錢）</p>
<p>水煎代茶。長服自愈。</p>
<h3>眼目門</h3>
<h4>補腎磁石丸</h4>
<p>磁石（二兩　醋淬七次水飛淨）　菟絲子（二兩酒製）　北五味（五錢）　建石斛（一兩）　枸杞子盆子（一兩酒炒）</p>
<p>錢）　槐子（五錢）</p>
<p>上為末。煉蜜為丸。每早空心服三錢。鹽湯送下。此方專治腎氣不足。瞳神昏暗。漸成內瘴</p>
<h4>還睛補肝丸</h4>
<p>專治羞明多淚。翳膜侵珠。時歇時作。久病不痊。久久服之。永不再發。</p>
<p>白芍（酒炒）　熟地　當歸（酒洗）　天冬　五味子　炙甘　白朮　白茯苓　官桂　車前子（微參骨皮　黃上共為末。蜜丸。梧子大。每服三錢。臨睡白湯下。</p>
<h4>勝金散</h4>
<p>治眼流冷淚。烏珠痛及羞明怕日。</p>
<p>夏枯草　香附末　夏桑葉上藥等分為末。每服三錢。麥冬湯下。</p>
<h4>草香散</h4>
<p>治目疼。至夜則甚。或點苦寒反重者。亦治肝虛冷淚。怕日羞明等症。</p>
<p>夏枯草（四兩）　香附子（四兩）　甘草（八錢）</p>
<p>上共為末。清湯下一錢五分。</p>
<h4>蟬花無比丸</h4>
<p>治大人小兒。遠近風眼氣眼。瞼上風疹痛。癢。翳膜侵睛。頭風牽搐。兩目漸赤爛。或白睛帶青。黑珠帶白。黑白之間。赤環如帶。謂之抱輪紅瘴。視物如霧。</p>
<p>或口乾舌苦。淚多羞澀。及小兒痘疹眼病並效。</p>
<p>蟬蛻（一兩去土翅足微炒）　蛇蛻（六錢微炒）　羌活　當歸　川芎　防風　白茯苓（研末水飛）炙甘草　石決明（東流水浸一宿鹽水微炒各四兩）　赤芍藥（十三兩）　山梔子（炒黑二兩）　白蒺藜（米拌炒黃去刺米不用半斤）　黃芩　甘菊花（各三兩）　蒼朮（米泔浸半日晒乾用芝麻一斤四兩）</p>
<p>上為末。蒸餅糊丸。晚食後睡時。清茶下二錢。忌發風之物。</p>
<h4>內瘴神方</h4>
<p>治神水寬大漸散。或空花二體。亦治心火乘金。水衰反制。久病累發者。服之服後仰視見星月。此其驗也。磁石（二兩火　醋淬七次）　朱砂（一兩）　生神麯（八兩）</p>
<p>共為末。另用神麯一兩。煮糊為丸。梧子大。每服二十丸。空心米湯下。</p>
<h4>日精月華丹</h4>
<p>治一切星障　肉。瞳神昏花。拳毛倒生等症。</p>
<p>爐甘石（輕松不夾石如羊腦者佳四兩用三黃湯　淬五次如粉淨末用一兩三錢）　黃丹（飛去土分四厘）</p>
<p>粉（真三分四厘）</p>
<p>白三分四厘）　熊膽（厘）　珍珠　琥珀（各五分）上各KT　千萬如塵。加蜜四兩。滾數沸去沫。煎熟。絹濾淨三兩。入碗重湯文武火熬。柳條不住手攪。至紫色滴水如珠。捻丸不黏手。牽蜜有絲。是其候也。即離火漸入丹石攪勻為丸。如蜜老不必晒。蜜嫩放箬上晒乾。金箔為衣。綠豆大。井水少許化。加米飲。軟鴨毛蘸點。</p>
<h4>風火眼點藥方</h4>
<p>用缸一口。大磚一方。放皮硝二三斤。每日叫童子以尿澆之。過數月取出。　放於靜室。</p>
<p>到可轉換掃硝。</p>
<h4>黃連養目膏</h4>
<p>治風熱。時眼赤腫。迎風流淚。畏日羞明等症。</p>
<p>黃連（六錢）　當歸（三錢）　防風（二錢）</p>
<p>水煎濃汁半碗。用絲綿濾淨。加白蜜半小鐘。重湯煎成膏。磁器貯。牙簪點大　神效。</p>
<h4>點眼方</h4>
<p>爐甘石（二兩三黃湯淬）　海螵蛸　月石（各一兩）　朱砂（五分）</p>
<p>上為極細末。煉老蜜為丸化點。</p>
<h4>二百味花草膏</h4>
<p>治火風赤眼。及一切痛癢流淚。畏日羞明諸般眼症。</p>
<p>羯羊膽汁和白蜜等分蒸熟。研成膏點之。一日淚止二日腫消。三日痛定。</p>
<h4>一抹膏</h4>
<p>治眼弦濕爛。</p>
<p>蠶砂。真麻油浸三日取起。研細末。拭目皮上。不論久遠。隔宿全愈。</p>
<h4>飛絲入目方</h4>
<p>不拘三五日。紅腫如桃者。俱可治。</p>
<p>細刮指甲末。唾津和點。其絲自然拔出。一治物入眼中。用燈心點指甲末於上即出。　又頭垢泥少許。點入即出。</p>
<h4>點眼秘方</h4>
<p>豬膽（一個）　用銀器內重湯燉成膏。入冰片少許。點之能退翳膜。又膽皮晒乾。捻成條子。</p>
<h4>洗眼方（時眼）</h4>
<p>龍膽草　杏仁　歸尾　防風　荊芥　甘草（各三分）</p>
<p>上藥加膽礬少許。開水沖。帶熱熏洗三四次愈。</p>
<h4>青盲數十年方</h4>
<p>白母狗待生子時。即以犬乳頻頻點之。小犬目開。人目亦開。</p>
<h4>明目方</h4>
<p>治眼目昏暗不明。</p>
<p>十二月桑葉不下地者。煎湯洗之。自亮。　留數片至九月念三日洗之。能令一生無目疾。</p>
<h4>眼中起星方</h4>
<p>取老荸薺捶碎。絹濾汁紙上。待干成粉。刮取點數次即去。</p>
<h4>小兒瞳神轉背方</h4>
<p>親父右手中指尖刺血滴入。即如舊。</p>
<h4>龍乳膏</h4>
<p>治一切目疾龍膽草（一斤）　銅鍋煎成膏。用上號白蜜收之。每兩入冰片五分。磁器盛之。勿泄氣。</p>
<p>臨時</p>
<h4>立效散</h4>
<p>治一切風火熱毒。羞明多淚。疼痛難開。並左右頭風等症。</p>
<p>羊躑躅花（五分）　鵝不食草（一兩）　蘇州薄荷（五分）　風花硝（五分）　青黛（一錢）　細辛（歸（一錢）</p>
<p>上為極細末。先吸冷水一口。後吹入藥末。左患吹左鼻孔。右患吹右鼻孔。日二三次。</p>
<p>打嚏</p>
<h4>時眼仙方</h4>
<p>甘蔗一節。連皮挖一孔。入川連三分。人乳傾滿。炙至裡面滾時。入明礬少許。抹眼三次即</p>
<h4>落星障方</h4>
<p>鵝不食草　塞鼻中。星障自落。七日無不效。</p>
<p>又方番尾草（即黃狗尾草子）　入眼中。轉下翳障。取出。用水濕剝去皮。可再用。</p>
<h4>雞盲眼方</h4>
<p>蘿卜子一兩。豬肝半斤。不見水。用布袋包。卜子錘碎。同肝入罐內。煮熟去蘿卜子。</p>
<p>加蓮用羊又方（小兒不肯吃焙乾為丸）</p>
<p>穀精草一兩。羊肝一具。入瓦罐煮熟食。羊肝忌鐵器。</p>
<h3>耳病門</h3>
<h4>耳出膿方</h4>
<p>蛇蛻（多少不拘）　新瓦焙黑存性。研細末。先將竹絲絞綿絮。捻淨膿水。吹入蛇蛻少許。二又方油胭脂水粉同拌勻。用手捻碎成末。吹入三四次。其效如神。</p>
<h4>耳閉作痛方</h4>
<p>田螺去蓋。入麝香五厘。自化成水。滴耳即愈。</p>
<h4>耳聾方</h4>
<p>（治腎虛耳聾數年久者俱效）</p>
<p>小蠍（四十九個）　薑切片如蠍大（四十九片）同炒。以薑干為度。研成細末。溫酒調服。至二</p>
<h4>年久耳聾方</h4>
<p>雄鼠膽汁。入麝少許。傾耳中。能開三十年耳閉。如不得。用龜尿滴之。亦大有奇效。</p>
<h4>透鐵關法（治耳聾）</h4>
<p>活磁石（二塊）　銼如棗大。一頭略尖。抹麝少許於尖上。塞兩耳孔中。口噙生鐵一塊。</p>
<p>候一</p>
<h4>耳底毒方</h4>
<p>番木鱉仁。麻油磨。滴入耳內。覺熱即換。</p>
<h4>耳疔方</h4>
<p>荔枝　存性。為末。麻油調敷耳外。內疔即消。</p>
<h3>鼻症門</h3>
<h4>鼻衄方</h4>
<p>紙數十層。水浸濕。安項中。以火熨之。紙干立止。</p>
<p>又方用線扎中指根節上。左鼻孔血出。則扎左手指。右鼻孔血出。則扎右手指。兩鼻孔出血。</p>
<p>則又方兼治虛火上升。眼目腫脹。大有神效。</p>
<p>大蒜（二個）　搗貼足心。患左貼右足心。患右貼左足心。兩管出血。並貼為妙。</p>
<p>又方山梔子燒灰吹之。</p>
<p>又方血余燒灰吹之立止。永不再發。男用母發。女用父發。</p>
<p>又方蘿卜菜干（二兩）　豬精肉（四兩）　濃煎飲之。即止。累效。</p>
<p>又方栗殼燒存性。研末。粥飲下二錢立止。</p>
<h4>鼻紅方</h4>
<p>蓼草根一團。塞鼻孔內一時辰。則終身不發。</p>
<h4>鼻痔方</h4>
<p>明礬（一兩）　蓖麻子（七個）　鹽梅（五個）</p>
<p>麝香少許。搗為丸。綿裹塞鼻內。令著息肉。候化。清水出。四邊玲瓏息肉自下。</p>
<p>又方輕粉（一錢）　杏仁（去皮尖一錢）　雄黃（五分）　麝香（少許）</p>
<p>為末。蜜調點息肉上。夜臥時用。</p>
<h4>鼻血不止方</h4>
<p>側柏葉（二兩用明礬四錢河水一碗煮干）　地榆（炒六錢）　敗棕灰（　存性一兩）</p>
<p>為末。紅棗肉搗成丸。每日服三錢。</p>
<h4>鼻塞不知香臭方</h4>
<p>皂角　辛夷　石菖蒲等分為末。綿裹塞鼻中。</p>
<h4>辛夷散</h4>
<p>治腦漏如神。</p>
<p>辛夷　川芎　防風　木通（去節）　細辛　本　升麻　白芷　甘草（各一錢）</p>
<p>共為末。清茶調下三錢。</p>
<h4>鼻中息肉有毛方</h4>
<p>藕節（一塊）　燒灰存性。為末。竹筒吹之。化為水。</p>
<h4>瓮鼻塞內方</h4>
<p>乃肺氣大盛所致。</p>
<p>枯礬末。綿裹塞鼻。數日自消。如鼻中肉墜。痛不可忍。枯礬加　砂少許。吹鼻中。化為水</p>
<h4>腦瀉流涕</h4>
<p>（鼻中時時流臭黃水腦痛名曰控腦痧有蟲食腦中也）</p>
<p>絲瓜藤近根三五尺燒存性。為末。每服一錢。溫酒下。以愈為度。</p>
<h4>鼻淵方</h4>
<p>辛夷（五錢）　蒼耳子（二錢五分）　甘草（一兩生）　薄荷（一錢）</p>
<p>共為末。蔥茶湯下。每服一錢。</p>
<h3>口齒門</h3>
<h4>口瘡方</h4>
<p>黃柏　五倍子（各一錢）　微炒為末。加冰片少許擦之。</p>
<h4>頰車不能開合方</h4>
<p>醉之睡中。用皂角末吹其鼻。嚏透自合。</p>
<h4>人咬舌斷方</h4>
<p>蟹一只。　存性。沒藥和勻。先用木賊草煎湯洗。後將藥敷。即長如舊。</p>
<h4>止舌血方</h4>
<p>治舌上出血。如簪孔者。</p>
<p>香薷（一握）　煎濃汁飲。治心煩躁熱並效。或用槐花炒為末摻之。</p>
<h4>重舌方</h4>
<p>兼治牙關緊急。</p>
<p>金錢薄荷（焙乾一錢）　青黛（三分）　冰片（一分二厘）　火硝（二分）　硼砂（五分）　僵蠶（一共為末。吹舌上下。立消。</p>
<h4>口疳方</h4>
<p>人中白（八分）　青黛（五分）　雄黃（二分）　冰片（五厘）</p>
<p>上藥。共研末。敷患處。</p>
<h4>收舌方</h4>
<p>治舌脹退場門外。</p>
<p>雄雞冠刺出血。以盞盛浸。或用筆蘸塗。　或用百草霜敷之。　又真冰片研末。敷舌上。</p>
<p>即</p>
<h4>齒縫出血方</h4>
<p>麥冬不拘多少煎湯。頻漱以止為驗。</p>
<h4>千金一笑散</h4>
<p>治牙疼不可忍。登時即止。</p>
<p>巴豆（一個）　入火略燒。去殼胡椒三粒。同搗爛。用薄帛包藥入口。上下痛齒咬定。</p>
<p>流出涎</p>
<h4>牙痛煎方</h4>
<p>甘草（五分）　防風　青皮　荊芥（各一錢）　丹皮　生地　升麻（各二錢）</p>
<p>上七味為主。再看何牙痛。加入何藥。煎服。如上門牙痛。加麥冬黃連之類。余仿此。</p>
<p>上牙左盡膽（羌活膽草）　下牙左盡肝（柴胡梔子）　左中胃（石膏白芷）　左中脾（白朮白芍）　正門牙心（麥冬黃連）　正門牙腎（黃柏知母）　右中胃（石膏白芷）　右中（白朮白芍）屬脾　右上藥。竹葉薑為引。二帖愈。如滿口痛。加人參五分。</p>
<h4>牙痛立止方</h4>
<p>辛夷　花椒　蜂房　防風（各等分）</p>
<p>上藥。煎湯漱之。立止。</p>
<p>又方蟾酥（一分）　冰片（少許）</p>
<p>上研細末。擦之神效。</p>
<p>又方蜂房（不去子入鹽於內　紅）研末。擦牙止痛。</p>
<p>又方蜂房（一個）　花椒（一撮）</p>
<p>煎湯漱之。</p>
<h4>哭來笑去散</h4>
<p>川芎　雄黃　乳香（去油）　沒藥（去油）　生石膏（各二錢）　硝（五錢）</p>
<p>上藥共為末。左牙疼。以半匙吹入右鼻孔。右牙疼。則吹入左鼻孔。急解奇方也。</p>
<h4>蠶硝散</h4>
<p>治牙疼。兼治喉痹。</p>
<p>焰硝（一兩）　官硼（五錢）　冰片（五分）　僵蠶（一錢）</p>
<p>上為末。摻患處。</p>
<h4>赴筵散</h4>
<p>治口瘡。及小兒走馬牙疳並效。</p>
<p>五倍子　青黛　枯礬　黃柏　硼砂　人中白　褐子灰上為細末。先用清米泔漱口。敷藥立效。</p>
<h4>馬鳴散</h4>
<p>（兼治小兒痘疹後余毒走馬牙疳黑爛流血漏頰穿喉落牙損命之症百發百中）</p>
<p>人中白（五錢）　蠶蛻紙（二錢五分燒灰）　五倍子（生用一錢又一錢入白礬二錢打碎入倍子炒上為末。先用米泔漱口淨。敷藥。</p>
<h4>樟冰散</h4>
<p>一方川椒、樟冰、薄荷等分。升如左法亦效。</p>
<p>艾（五分）　川椒（七粒開口者）　樟腦（三錢）</p>
<p>上藥盛碗內。上用一碗對合扣緊。用紙封固。下以炭火一小塊。如雞子大炙之。佛香一寸妙</p>
<h4>治蟲牙痛方</h4>
<p>用磨房驢糞泥燒灰。趁熱將青布包。切牙痛處。流涎入碗內如水。視之見蟲在碗上。神效。</p>
<h4>取牙蟲法</h4>
<p>楊梅根皮。韭菜根白。廚房案板上刮下泥。三味相等搗勻。貼兩腮上半時。其蟲從眼角而出</p>
<h4>又蟲牙方</h4>
<p>五倍子（一個）　鑽一小孔。填鹽滿。火　研末。擦數次。永不發。</p>
<h4>火牙方</h4>
<p>用大蒜一個。入水粉同搗如泥。做成一餅。罨外面腮頰上貼牙處。如左下牙第幾個疼。</p>
<p>則貼又方砒為末。用黃蠟熔化。入砒末半分。加棉花丸。如丁香大。竹絲寸許作柄。臨臥時。塞耳內</p>
<h4>清胃散</h4>
<p>治胃火盛牙疼。</p>
<p>升麻（二錢）　生地　丹皮　黃連　當歸（各一錢）　細辛（三分）　黃芩（一錢）　細茶（一錢）</p>
<p>如牙痛甚。加石膏一錢。如腫者。加荊防各一錢。水煎服。</p>
<h4>治牙痛仙方</h4>
<p>烏梅（一個）　生甘（七分）　冰片（五厘）</p>
<p>上搗為丸。含口中。少時涎出。即好。</p>
<h4>風牙腫痛方</h4>
<p>荔枝干連殼燒存性。研末。擦牙即止。</p>
<h4>牙瀉方</h4>
<p>治牙出血。兼治牙漏。有腐骨者。甚效。</p>
<p>用草決明煎水。含漱一二次。即止血。一日即斷根。</p>
<h4>復生牙齒方</h4>
<p>鼠骨一具。水浸去肉淨。打碎微炒。晒乾。入飯上蒸。又晒。如此三次。用何首烏二斤。</p>
<p>煎汁浸一夜。又晒。以汁乾為度。將骨收貯為細末聽用。</p>
<p>破故紙（四兩鹽水浸炒）　當歸（二兩酒炒）　川椒（四兩）</p>
<p>俱為末。用羊膽三個。蜜等分共熬。將前藥末入臼內。搗千余下。如干加蜜。丸綠豆大。</p>
<p>每</p>
<h4>落牙重生方</h4>
<p>嫩老鼠（未開眼者三四個）　外用白芨　白芷　青鹽　細辛　當歸　熟地（各五錢）</p>
<p>共搗爛和勻。一並包鼠。外用濕紙包裹。　煙盡。研末擦牙即生。</p>
<h4>蟲牙方</h4>
<p>五靈脂　白薇（各三錢）　骨碎補　細辛（各五分）</p>
<p>共搗成粗末。水煎微溫漱之。至氣喘為度。少停再漱。藥盡病愈。須連渣用。不可澄清。</p>
<h4>牙痛通治方</h4>
<p>玄參　生地（各一兩）</p>
<p>如系心火。加黃連五分。肝火。加炒梔子二錢。胃火。加石膏五錢。脾火。加知母一錢。</p>
<p>肺</p>
<h3>咽喉門</h3>
<h4>喉症十八種方</h4>
<p>牙皂（七根去弦）　水二鐘。煎六分去渣。入蜜少許。或雞子清少許。溫服。即吐出風痰。毒</p>
<h4>喉痹方</h4>
<p>野木連藤。米醋磨汁含漱。取出濃痰數口。即愈。</p>
<h4>冰梅</h4>
<p>大南星（鮮三十五個）　大半夏（鮮三十五個）　皂角（去弦淨四兩）　白礬　白鹽　防梗（淨一兩）　甘草（一兩各為末）　大梅子（半熟百個）</p>
<p>先將硝鹽水。浸梅一周時後。入各藥末。入水拌勻。將梅子放水中。其水要浸高三指。</p>
<p>至七噙口</p>
<h4>龍腦散</h4>
<p>薄荷　山豆根（各五錢）　青黛（飛淨三錢）　硼砂（一錢五分）　兒茶（一錢）</p>
<p>上研細末。每一錢。加冰片一分。吹之立消。</p>
<h4>喉症通治方</h4>
<p>金燈籠（二三個）　煎湯待冷。慢慢咽下。不過兩頓飯時。化痰吐出即愈。如未愈。再進一服</p>
<h4>冰瓜散</h4>
<p>用八月半後西瓜青皮。不見日色陰乾為末。每用一錢。加冰片少許。吹入喉中即愈。</p>
<h4>鎖喉風仙方</h4>
<p>僵蠶（七個）　大黃（一錢五分）</p>
<p>共為末。入沉香少許。金銀花夏枯草各一錢五分。煎湯送下。</p>
<p>又方用明礬末錢許。將綿子包扎定於筷頭。放口內小舌處。牙齒咬定。面向地下。流涎碗余。</p>
<p>即</p>
<h4>青金錠</h4>
<p>（治鎖喉風雙單蛾並男婦痰厥牙關緊閉難以進藥小兒驚風痰厥此藥一錠井水磨化用綿蘸藥汁入鼻中進喉內痰響取出風痰一刻即愈）</p>
<p>元胡索（三錢）　麝香（一分）　青黛（六厘）　牙皂（十四枚煨）</p>
<p>共研細末。清水調做錠。重五分。陰乾用。</p>
<h4>喉腫方</h4>
<p>土牛膝根搗汁。左邊痛滴在右鼻孔三四點。右痛滴左鼻孔內。流入咽喉痛處。其腫即消。</p>
<p>屢如人身上四肢痛。將汁煮酒服。一碗即止。（土牛膝即鼓捶草）</p>
<h4>咽中生癰方</h4>
<p>文蛤　僵蠶　生甘（等分）</p>
<p>為細末。用霜梅肉和丸。彈子大。含咽之自破。</p>
<h4>走馬喉痹方</h4>
<p>巴豆（去皮）綿紙微裹。左腫塞左鼻孔中。右腫塞右鼻孔中立透。如左右俱腫。用二枚塞左右</p>
<h4>雙單蛾方</h4>
<p>用桑螵蛸燒存性。以竹筒吹入。即穿破血出立愈。</p>
<p>又方山豆根不拘多少。加麝少許為末。吹入喉中自愈。</p>
<p>又方兼治喉疔將頭發打開。單蛾必有紅絲瘰。雙蛾有兩紅絲瘰。以銀針挑破血出。噙無根水不住吮咂。</p>
<p>先</p>
<h4>蟾酥丸</h4>
<p>治雙單蛾。</p>
<p>蟾酥（二錢人乳化）　雄黃（一兩）　人指甲（不拘多少焙研）　麝（二分）</p>
<p>為極細末。入蟾酥內。和勻成丸。如粟米大。噙化一丸立愈。恐口舌麻木。用人乳化開。</p>
<p>雞無</p>
<h4>提痰藥</h4>
<p>白礬（三錢）　磁器盛水少許化開。　巴豆仁（三粒）　分六塊投入礬內。用罐盛　。</p>
<p>礬枯取起之妙。</p>
<h4>針法</h4>
<p>專治喉閉。並大頭風。蝦蟆瘟。</p>
<p>少商穴。用三棱針。出血即愈。　穴在大指內側。去甲角如韭葉。左腫針右。右腫針左。</p>
<p>口</p>
<h4>喉風急救方</h4>
<p>噤口不開。用烏梅肉泡軟。擦牙根及兩頰即開。</p>
<p>膽礬（半枯半生五分）　熊膽（三分）　廣木香（三分）</p>
<p>共為細末。用番木鱉子。磨井水調之。雞翎蘸掃患處。如勢急口噤。以箸啟之。用藥掃下即</p>
<h4>通竅煙</h4>
<p>治喉痹。牙關緊急。兼治中風口噤。</p>
<p>巴豆仁紙裹筆管研取油。去豆作燃。燃火吹滅。取煙入鼻或熏口內。霎時流痰涎即開。</p>
<p>或吐</p>
<h4>吹藥方</h4>
<p>治喉癬喉痹。</p>
<p>鵝管石　蒲黃（各二錢）　青黛（三錢）　兒茶（五錢）　冰片　麝香（各一錢）　熊膽（一錢）　牛上為細末。吹入即愈。</p>
<h4>喉癬便方</h4>
<p>孵退已有小雞蛋。童便浸七日。　灰吹入立好。</p>
<h4>喉癬驗方</h4>
<p>凡喉症。忌用當歸。</p>
<p>番木鱉去毛切片。麻油炒焦黃。入白面一把。炒至干。去面為末。吹入五七厘立愈。</p>
<h4>喉癬神效方</h4>
<p>牛黃　琥珀　熊膽（各一錢）　麝香　乳香（去油）　沒藥（去油各五分）　珍珠（二錢）　冰片三錢）</p>
<p>上為極細末。銅管吹患處。效驗如神。</p>
<h4>纏喉風方</h4>
<p>皂角為末。米醋調塗外頸上。干則易之。其乳蛾即破而愈。</p>
<p>又方皂角一條。醋炙七次。研末吹入。吐痰而愈。</p>
<p>又方生礬於五月五日午時盛豬膽內。以滿為度。掛風處陰乾。愈久愈妙。用少許研末。吹入喉中</p>
<h4>諸骨鯁方</h4>
<p>威靈仙（五錢）　沙糖一匙酒煎服即消。　又象牙磨濃汁飲立愈。</p>
<h4>魚骨鯁喉方</h4>
<p>獨頭蒜。男左女右。塞鼻中自出。</p>
<p>誤吞木屑方　搶喉不下。死在須臾。</p>
<p>鐵斧磨水灌下即效。</p>
<h4>誤吞針方</h4>
<p>蠶豆同韭菜食之。針自大便出。</p>
<p>又方靈磁石為末。黃蠟為丸。綠豆大。清水下七八丸。能穿針。從大便出。</p>
<h4>誤吞棗核方</h4>
<p>兼治吞針。</p>
<p>蛤　眼珠一對。井水吞服。次日大便出。棗核兩頭。各眼珠一個。</p>
<p>誤吞銅鐵金銀不化以砂仁濃煎服之。其物自下。</p>
<h4>誤吞金銀方</h4>
<p>誤吞金銀。胸膈痛甚。以羊脛骨燒灰。米飲湯下二錢。立從大便出。</p>
<h4>誤吞田螺方</h4>
<p>鯁喉不下。死在須臾。</p>
<p>鴨一只。以水灌入口中。少頃將鴨倒懸。令吐出涎水。與患人服之。其螺即化。</p>
<h3>心胃門</h3>
<h4>九龍丹</h4>
<p>治九種心痛。五月五日。七月七日修合。</p>
<p>枳殼（一兩）　紅花　五靈脂（各三錢）　良薑　木香　巴豆　母丁香　胡椒　雄黃（各五錢）</p>
<p>空心</p>
<h4>胃痛方</h4>
<p>陳年葵扇（去筋燒灰存性一錢）　乳香（五分）　沉香（三分）　鬱金（五分）</p>
<p>各為末。金銀湯。入酒半鐘。調服立愈。</p>
<h4>心氣痛方</h4>
<p>香附子（一兩）　白礬（二錢）</p>
<p>為末。面糊丸豆大。空心服七丸。好酒下。服畢即睡。使汗出。即除根。忌青菜、生薑、魚</p>
<h4>陶真君心痛方</h4>
<p>胡椒（七粒）　棗子（十四個去核）</p>
<p>用水同煮干。去椒服之。</p>
<p>又方治失飢傷飽成病。每痛則吐酸水。</p>
<p>陳曲炒黃為末。清晨酒下五錢。再睡片時。十余服全愈。可除根。</p>
<h4>心痛方</h4>
<p>此藥消痰。兼殺蟲。</p>
<p>青色鴨蛋殼四個　存性。為末。黃酒下立愈。</p>
<p>又方荔枝核慢火燒存性。為末。酒調下即愈。</p>
<h4>國老散</h4>
<p>治心腹疼痛。嘔吐不止。或是蟲咬。服此立愈。</p>
<p>粉甘草（生三錢）研末。艾葉烏梅煎湯。緩緩送下。</p>
<h4>胡麻散</h4>
<p>一人心痛八九年。百藥不效。服此而愈。</p>
<p>胡麻一二兩炒研。黃酒下三錢。日數服而愈。後竟不發。</p>
<h4>蟲痛方</h4>
<p>治心胃急痛昏仆。牙關緊急欲絕。</p>
<p>老蔥白五莖。去皮須搗膏。以匙送入咽中。灌以麻油四兩。但得少咽即蘇。少頃蟲積皆化。</p>
<h4>真心痛方</h4>
<p>蓋因寒邪直入心經。心火衰弱。反為寒氣所劫故也。如手足青至節。寒至節。不豬心（一個煮熟去心留湯待用）　麻黃　官桂　乾薑　附子（各一錢）</p>
<p>用前湯煎服。乃死中救活法也。</p>
<p>又真心痛方桑葉搗爛。滾水送下立愈。</p>
<h4>心漏方</h4>
<p>胸前有孔。常出血。曰心漏。人多不曉。又能治腰痛神效。</p>
<p>鹿茸（去毛炙）　附子（炮去皮）　鹽花（各等分）</p>
<p>為末。棗肉丸。每服三十丸。空心酒下。</p>
<p>又方鳳凰衣（灰）　乳香（去油）</p>
<p>等分吹入愈。</p>
<h4>芍藥香連湯</h4>
<p>治心脅穿痛如神。</p>
<p>白芍（一兩）　香附（二錢）　炙甘（三分）　川連（一錢）　燈草（一錢）　柴胡（三分）　蓮子心（水煎服。一劑痛除。三劑全愈。</p>
<h4>九氣湯</h4>
<p>治膈氣。風氣。寒氣。憂氣。驚氣。喜氣。怒氣。瘴氣。痞氣。心腹刺痛。不能飲時止時發。藥輕功捷。不可泛視。</p>
<h4>香附米</h4>
<p>真鬱金　甘草（等分）</p>
<p>加薑一片。水煎服。</p>
<h4>五香奪命丹</h4>
<p>專治急慢心痛。絞腸痧症。酒疾冷病。小兒夾食傷寒。瀉痢積聚。婦人血塊。</p>
<p>食痞噎食等症。</p>
<p>沉香　木香　丁香　乳香　沒藥（各去油）　葶藶　牙皂　巴豆（去殼衣搗爛紙包壓去油各一煎湯打神麯糊為丸。粟米大。每服七丸。或五丸三丸。量人虛實大小。俱用冷水或溫開水下</p>
<h3>腰痛門</h3>
<h4>腰痛腎虛方</h4>
<p>小茴香為末。煨豬腰子服。</p>
<p>又方鹿角銼碎。炒黃色為末。酒下三錢即愈。</p>
<p>又方絲瓜根燒灰存性。為末。酒下二錢立止。</p>
<p>又方破故紙（炒）　肉蓯蓉（酒洗）　巴豆　杜仲（鹽水炒）　續斷（酒洗各二錢）　青鹽（一錢）</p>
<p>共為細末。豬腰子一對。破開去筋膜。用黃酒洗淨。入藥末二錢蒸食。</p>
<h4>龍虎續斷丸</h4>
<p>治少年色欲過度。中年不復保養。腎損腰痛難舒。</p>
<p>地龍（醋水養去泥七錢五分用火焙乾）　虎前腳骨（酒炙）　續斷（酒浸一宿）　萆（各一兩）</p>
<p>（炒）　鹿茸（炙各共為末。酒打米粉糊為丸。桐子大。每服五七十丸。空心鹽湯下。</p>
<h4>藥酒方</h4>
<p>治風濕腰痛。並血熱方。</p>
<p>生地（十兩）　海桐皮（二兩）　米仁（二兩）　川芎　骨皮　五加皮　羌活　牛膝（各一兩）　甘浸酒服。藥味分兩種。不得加減。</p>
<h4>術桂湯</h4>
<p>治腎虛感濕。腰重不能屈伸。</p>
<p>白朮（二兩）　肉桂（二分）</p>
<p>水煎服。三帖全愈。</p>
<h4>利腰湯</h4>
<p>治腎虛腰痛。</p>
<p>熟地（一兩）　杜仲（五錢）　破故紙（一錢）　白朮（三錢）</p>
<p>水煎服。四劑愈。</p>
<h4>寬腰湯</h4>
<p>治日重夜輕。小水不利。</p>
<p>白朮（三錢）　米仁（三錢）　茯苓（三錢）　車前（二錢）　肉桂（一分）</p>
<p>水煎服。</p>
<h4>砥柱丸</h4>
<p>治腎虛腰痛如神。</p>
<p>破故紙（炒四兩）　杜仲（去皮銼片用生薑二兩半搗汁炒斷絲四兩）</p>
<p>為末。取核桃肉三十個。去皮研和。少加煉蜜。丸梧子大。用茴香湯。或酒任下三錢。　一方加乳香、木香各四錢。神效。</p>
<h3>二便門</h3>
<h4>二便閉脹方</h4>
<p>蔥白搗炒熱。帕包熨小腹上。氣透即通。</p>
<h4>化便丹</h4>
<p>蘆薈（　存性三錢）　朱砂（九分）</p>
<p>研末。作三服。服後約三時。解出稀糞。</p>
<h4>濡腸湯</h4>
<p>治老年血虛。大便秘結。</p>
<p>熟地（八錢）　歸身（酒拌蒸四錢）　肉蓯蓉（水浸一日換水五次至淡洗淨鱗腸四錢）</p>
<p>水煎服。數劑效。</p>
<h4>小便熱閉方</h4>
<p>白礬末一匙安臍中。冷水滴之。透腹內即通。若臍凸出。以面作圈。礬安圈內。</p>
<p>又方韭菜地上。蚯蚓泥三合。井水攪勻。澄清去水。又入井水攪。澄又換。又攪。至第三次澄清</p>
<h4>去邪如掃湯</h4>
<p>治小便不通。膀胱氣閉。面紅耳赤。口渴煩燥。</p>
<p>王不留行（五錢）　澤瀉（三錢）　白朮（三錢）</p>
<p>水煎服一劑。通達如故。</p>
<h4>小便血淋方</h4>
<p>苧麻根煎湯服大效。亦治諸淋。</p>
<h4>尿血方</h4>
<p>車前子搗汁五合。空心服。或加蜜少許。</p>
<h4>地王止血散</h4>
<p>治尿血。</p>
<p>海螵蛸　生地　赤茯苓等分為末。柏葉、車前子。煎湯下一錢。神效。</p>
<h4>便紅方</h4>
<p>早起。一物不可吃。至巳時飢極。飽食淡白肉干燒酒令飽。不可飲茶。渴極少飲開水。</p>
<p>飢則</p>
<h4>血余丸</h4>
<p>治便血。並一切血症。</p>
<p>血余（八兩）　阿膠（一斤面炒成珠）</p>
<p>為末。煉老蜜作丸。桐子大。每服三十丸。清湯下。</p>
<p>又方古墨（一兩用濕草紙包煨透）　冬青子（八兩九蒸晒）　苔菜餅（一個晒乾）</p>
<p>共為末。用陳米糊為丸。每早白滾湯送下三錢。晚二錢。</p>
<p>又方荊芥槐花同炒為末。清茶下三錢。</p>
<p>又方用木耳（一兩）　炒黑。生木耳（一兩）　芝麻（五錢）　水煎。作茶飲甚效。不傷人。</p>
<h4>酒毒下血方</h4>
<p>扁柏葉。九蒸九晒二兩。　槐花生地汁拌炒黑二兩。為末蜜丸。酒下。或米湯下二錢。　去槐花。常服延年。</p>
<h4>大便下血仙方</h4>
<p>兼治便毒。</p>
<p>黑芝麻（五錢）　黑豆（五錢）</p>
<p>水七碗。煎五碗。不拘時。一日服盡。七日愈。</p>
<h4>國老丸</h4>
<p>治內熱便血。或血痔下血。</p>
<p>生甘為末。蜜調丸。芡實大。清湯下七丸。即日愈。</p>
<h2>卷三</h2>
<h3>癰疽門</h3>
<h4>灸法</h4>
<p>治一切癰疽惡瘡。初起宜早灸為妙。</p>
<p>凡人初覺發背。欲結未結。赤腫　痛。以濕紙覆其上。先干處即頭也。獨頭大蒜切片安頭上不痛餅上或四用此亦無又灸法此物以麻油調敷。血熱血虛瘡疥神效。</p>
<p>萬年冰一塊。水洗淨為末。陽毒以童便和成一餅。陰毒以酒和成一餅。量毒大小蓋上。</p>
<p>約濃</p>
<h4>消腫方</h4>
<p>治諸腫毒。兼治項後側少陽經中疙瘩。不辨肉色。不問大小日月深遠。或赤硬腫痛生山藥一塊去皮。蓖麻子一粒研勻。攤貼之。</p>
<h4>無名腫毒方</h4>
<p>當歸（八錢三分）　生黃　（五錢）　甘草（一錢八分）　金銀花（五錢）</p>
<p>黃酒煎服。二帖即愈。</p>
<p>又方五倍子炒研末。用醋攤成膏貼之。　加百草霜更妙。</p>
<p>又方鮮山藥搗成泥。敷之即消。　或蘿菔菜搗碎敷之。熱則換亦妙。</p>
<h4>發背腫毒未成方</h4>
<p>活蝦蟆一個。按扎瘡上。小半日。蝦蟆必昏憒。置水中救活之。再換一個。如前法。蝦蟆少覆瘡</p>
<h4>三生散</h4>
<p>治諸毒大痛。不辨肉色。漫腫光滿。名附骨癰。宜速服之。</p>
<p>蜂房　蛇蛻　頭發各等分。共　存性為末。酒下三錢。</p>
<h4>李迅蠟礬丸</h4>
<p>凡病癰疽發背。不問老少皆宜服。蠟礬丸服至一兩以上。</p>
<p>無不取效。最能止疼痛。不動臟腑。活人不可勝數。</p>
<p>明亮白礬（一兩）生研。以好黃蠟（七錢）溶化。和丸桐子大。每服十丸。漸加至二十丸。熟水亦三五則有力尤妙。</p>
<h4>古方蠟礬丸</h4>
<p>治癰疽。肺癰。腸癰。臟毒。痔漏。服之固臟腑。斂肌肉。止痛消毒。托裡散後服此。長肉收口。</p>
<p>黃蠟　明礬　乳香　沒藥　雄黃（各四兩）</p>
<p>將蠟溶化。離火待溫。入各末和勻。丸梧子大。食前溫酒下。二三十丸。日三服。</p>
<h4>治一切癰疽方</h4>
<p>不問虛實寒熱。治之皆愈。有死血陰毒在中則不痛。敷之即痛。有憂怒等氣不可忍。或蘊熱逼人手。敷之則即清涼。或氣虛冷潰而不斂。敷之即斂。</p>
<p>遠志（米泔浸洗去心為末）　每服三錢。溫酒二盞。煎一盞。澄清服。渣敷患處。</p>
<h4>無名腫毒初起</h4>
<p>用核桃殼半個。以大蒜搗爛填滿。以黃紙封口。蓋在患處。用大艾丸放殼上。灸七壯。</p>
<p>灸三</p>
<h4>內消散</h4>
<p>治一切腫毒。</p>
<p>貝母　知母　金銀花　白芨　半夏（薑製）　穿山甲（炒）　角刺　乳香（去油）　赤芍生甘上藥酒水各一碗。煎八分。隨病上下飢飽服。渣不再煎。搗爛加芙蓉葉末一兩。蜜五匙。</p>
<p>同</p>
<h4>真人奪命飲</h4>
<p>治一切癰疽疔腫。不問陰陽虛實。善惡腫潰。大痛或不痛。但當服於未潰之先之際。如毒已失潰。不可服。其功甚捷。真仙方也。</p>
<p>金銀花（三錢）　歸尾（一錢五分）　陳皮（一錢五分）　角刺（五分炒）　土貝（七分）　防風（七（一錢）　花粉（一錢）　山用水煎好。加酒一杯。空心熱服。能飲者。服後再飲三五杯。渣再煎服。在背俞倍皂角刺。</p>
<h4>七葉散</h4>
<p>治熱毒大葉浮萍　芙蓉葉　棗　槐　桑　柳　桃各葉等分。入鹽少許。蜜少許。搗爛敷患處即消。</p>
<h4>呂祖發背方</h4>
<p>栝蔞（五個取子）　乳香五塊如棗大。二味共研末。以白蜜一斤同熬膏。每服三錢。溫酒下。</p>
<h4>炙蘇湯</h4>
<p>生　（三錢五分）　連翹（三錢去心）　本（一錢五分）　生甘（一錢五分）　羌活（一錢五分）</p>
<p>梗（各一錢）　人參（五梢蘇木　歸尾　防己（各五上廿二味。每劑一兩。水煎去渣。入酒少許。溫服。　凡瘡。不過陰中之陽。陽中之陰而已食不竹小便不通。加車前子、梔子。</p>
<h4>塌腫湯</h4>
<p>治一切惡瘡。發背。癰疽。疔瘡。痛不可忍者。或瘡毒入內。神思昏倦嘔吐者。未消。已成即潰。不假砭蝕。惡毒自下。又治跌打損傷。筋骨疼痛。婦人產後肚痛。惡路赤白帶下等症。</p>
<p>黃　白芍　川芎　當歸　陳皮　甘草　麻黃（去節各二兩）　人參　乳香（炙）　沒藥（炙各上銼為片。每服一兩五錢。或二兩。水煎溫服。凡瘡科能專守此方。未有不獲全功者。</p>
<h4>腫香湯</h4>
<p>治一切無名腫毒。淡紅不赤。堅硬不起者。此系陰症。非此藥不能治也。　專治下焦癰疽毒骨疽。</p>
<p>當歸（一兩）　芍藥　甘草　牛膝　川芎　黃　（各三錢）　木通（五分）　乳香（炙）</p>
<p>沒藥（炙水二大碗煎服。</p>
<h4>洪寶丹</h4>
<p>花粉（三兩）　薑黃　赤芍　白芷（各一兩）</p>
<p>上藥為末。陽毒用蜜或茶汁調敷患處留頭。陰毒酒敷留頭。湯火傷雞子青麻油調敷。金瘡流</p>
<h4>如意黃金散</h4>
<p>治癰疽。發背。疔腫。乳癰。丹毒。跌撲。損傷。濕痰流注。大頭時症。漆瘡風熱。天泡。肌膚赤腫。干濕香港腳。及一切頑惡腫毒。隨用輒效。</p>
<p>花粉（上白者十兩）　大黃　黃柏（色重者）　薑黃（各五兩）　白芷（三兩）　紫厚朴陳皮　甘共為細末。瓷器收貯。勿泄氣。凡遇紅赤腫痛。發熱未成膿者。及夏月火令時。俱用茶清同不變形汁</p>
<h4>保元大成湯</h4>
<p>治潰瘍。元氣素虛。精神怯弱。或膿水出多。神無所主。睡眠昏倦。六脈虛細。足冷身涼。</p>
<p>人參　白朮　黃　（炙各二錢）　茯苓　白芍　陳皮　歸身　附子（制）　炙甘草　萸肉五味水煎。空心服。服至精神回。手足暖。脾胃醒。肉色紅為度。數症乃元氣虛脫。欲變壞症。</p>
<p>流注腫未</p>
<h4>花草湯</h4>
<p>治癰疽初起。</p>
<p>生甘（五錢）　金銀花（三兩）　當歸（一兩）　元參（五錢）　花粉（二錢）　白礬（一錢）　附子（水煎服。初起一服即消。腫起者二服即消。</p>
<h4>發背初起</h4>
<p>此方活人已多。未潰者微出黃水。既潰者能收口。</p>
<p>穿山甲（四片）　牛皮膠（四兩）</p>
<p>新瓦上燒灰。研細和勻。從容服完。永無大患。外用牛皮膠少加薑汁水。熬如稀糊。以布攤又方將泥水調塗疽上。看其何處先燥。即用墨圈以竹管蓋定。取螞蝗數條。入竹筒內。令螞蝗</p>
<h4>蟾酥丸</h4>
<p>治發背。疔腫。喉毒。小兒急慢驚風。痘疹傷寒寒症等候。</p>
<p>朱砂　雄黃（各五錢）　麝香（三分）</p>
<p>為細末。端午日以蟾酥。丸如綠豆大。每服三丸。蔥油送下。取汗為效。咽喉腫痛。點患處</p>
<h4>壺公丹</h4>
<p>治諸般腫毒陰症。</p>
<p>附子（一個半生半熟以面包煨）　倍子（五錢炒微黑）　麻黃（五錢）　枯芩（五錢）　甘草節（五共為細末。用米醋調塗留頭。</p>
<h4>神煙</h4>
<p>治一切無名腫毒。背疽。疔瘡立效。</p>
<p>桑樹嫩枝。銅刀切碎。香爐貯。微火燒熏患處。再用桑枝煎濃汁。絹帕蘸拭患處。屢拭熏至</p>
<h4>咬頭方</h4>
<p>蟾酥　麝香各等分為末。摻上瘡口。</p>
<p>又方二蠶出過蠶蛾繭一個。燒灰酒送下即出。只服一個。切勿多服。如多服一個。即多一頭矣。</p>
<h4>化腐紫霞膏</h4>
<p>治堅頑瘡毒。發背已成。瘀肉不腐。不作膿者。或諸瘡有膿而外不穿潰。俱用爛者自爛。不潰者自潰。功甚於烏金膏碧霞錠子。</p>
<p>輕粉　蓖麻子（研各四錢）　血竭（二錢）　巴豆仁（二錢）　潮腦（一錢）　金鼎砒（五分）　螺螄為末。瓷罐收貯。用時以麻油調搽頑硬肉上。以棉紙蓋貼。或膏貼俱可。至頑者不過二次。</p>
<h4>六合回生丹</h4>
<p>治癰疽發背潰爛者。有回生之妙。兼治　瘡下疳。</p>
<p>鉛粉（一兩炒黃色）　輕粉　銀朱　雄黃　沒藥　乳香（並炙各二分五厘）</p>
<p>上藥為細末。收貯。遇病者先煎茶汁。將瘡洗淨。軟帛拭乾後。剖開豬腰子一枚去膜。</p>
<p>用藥可手如上疳縛半</p>
<h4>治諸毒已破者</h4>
<p>如未破者不可用。</p>
<p>用葫蘆殼燒灰存性。麻油調敷留頭。三日毒盡收口。或用桃枝竹去青。刮肉搗軟。蒸熟罨之</p>
<h4>八寶丹</h4>
<p>琥珀（一錢新瓦炒）　珠子（四分）　象牙（一錢火　外黑內帶白色）　冰片（二分）　乳香（炙一上藥為細末。摻膏上貼之。即收口。</p>
<h4>收口長肉神方</h4>
<p>背疽惡瘡並效。</p>
<p>將甘蔗渣晒乾。火　存性。研細。以小竹管如瘡口大。用細夏布扎緊。篩灰於瘡上。填滿。</p>
<h4>斂口生肌散</h4>
<p>此治已潰瘡。</p>
<p>若有一人。患背疽已潰。如碗面大。視五臟僅膈膜耳。自謂必死。人傳此方。用之而愈。</p>
<p>大鯽魚一個。去腸。以山羊糞入其中。烘焙焦黑為細末。干摻之。瘡口遂收而愈。屢試皆驗須候膿少欲生肌時用之。</p>
<h4>久遠瘡口不收方</h4>
<p>醋煮桑葉貼之。即收口。</p>
<h4>長肉生肌散</h4>
<p>龍骨（　二錢）　血竭（三錢）　象皮（一兩炒）　兒茶（二錢）　甘石（二錢　）　乳香沒藥（各共為末。瓷瓶收貯。用時以少許摻膏藥上。</p>
<h4>生肌膏</h4>
<p>輕粉（一分半）　密陀僧（三分）　水粉（一錢）　冰片（三厘）　龍骨（　一分）　銀朱（五分）　赤上為末。熟豬肉油調和敷患處。外用膏蓋之。</p>
<h4>珍珠散</h4>
<p>生肌用。</p>
<p>爐甘石（五錢）　防風　生地　甘草　連翹　花粉　白芷　大黃（各三錢）</p>
<p>上煎濃汁。火　甘石令紅淬汁內。再　再淬。以汁盡為度。冷定研細末。加冰片二分。</p>
<p>研勻</p>
<h4>黃連消毒飲</h4>
<p>專治腦疽對口。及一切頭上太陽經病。初患三日者。服之立效。　又治骨槽風劑而愈。真神方也。</p>
<p>生地（酒洗）　連翹　桔梗　羌活　歸身（各一錢）　炙黃　人參　炙甘草　生甘梢　陳皮知母用水三鐘。煎盅半。加酒一小杯。再煎數沸。食後服。痛甚者加乳香沒藥。（各一錢去油）同</p>
<h4>對口仙方</h4>
<p>鯽魚一個。（去鱗腸）搗爛入頭垢五六錢。再搗極勻。加蜂蜜半盞攪勻。從外圍入裡面。</p>
<p>留或又方用抱小雞母出窠時熱糞塗之。即愈。神效。</p>
<h4>肺癰奇方</h4>
<p>薏米仁為末。糯米飲調下。或煮粥吃。</p>
<p>又方野芥菜。又名山芥菜。搗自然汁。酒漿和服立愈。</p>
<p>又方鮮百部根搗汁一盞。入酒漿一盞。灌下兩時辰即效。三服吐白痰。或口渴飲水不妨。忌飲茶</p>
<h4>地羅湯</h4>
<p>治肺癰胸膈作痛。咳嗽尤痛。手按氣急。</p>
<p>元參　麥冬（各二兩）　錦地羅　生甘草（各一兩）　桔梗　貝母（各五錢）</p>
<p>水煎服。一劑消半。二三劑全愈。</p>
<h4>岐伯養肺去痿湯</h4>
<p>治肺痿久嗽。皮膚黃瘦。毛悴色焦。膈上作痛。氣息奄奄。</p>
<p>金銀花（三錢）　生甘（五分）　生地（二錢）　麥冬（三錢）　紫菀（五分）　百合（二個）　款冬（水煎服。二十劑而膈上痛少輕者。便有生機。再服二十劑更輕。五十劑全愈。</p>
<h4>玄天散</h4>
<p>治肺癰。凡人咳嗽而兩脅疼痛者是。即宜速用此方。</p>
<p>玄參（八兩）　天冬（四兩）　桔梗（二兩）　炙甘（一兩）</p>
<p>水十五碗。煎二碗。取汁加入蒲公英五錢。金銀花五錢。再煎至八分。飽服。初起者即消。</p>
<h4>三真湯</h4>
<p>治大小腸癰。一劑即消。不須二服。</p>
<p>地榆（一斤）</p>
<p>水十碗煎三碗。再用生甘金銀花各二兩。同煎一碗服。</p>
<h4>敗毒至聖散</h4>
<p>治大小腸癰。</p>
<p>金銀花（八兩）　水十余碗。煎二碗。當歸（三兩）　地榆（一兩）　薏米仁（五錢）　水十余碗煎二碗。同金銀花汁和勻。分作二服。上午一服。臨臥一服。二劑愈。　凡腸癰必須內消。而火邪甚急。且大非杯水可救。必須大劑始效。然大劑敗毒。恐傷元氣。惟金銀花敗毒而又補</p>
<h4>多骨疽方</h4>
<p>生大腿傍。疽中有骨。</p>
<p>茯苓　紫花地丁（各一兩）　金銀花（三兩）　牛膝（五錢）</p>
<p>水煎空心服。三劑骨消。五劑愈。</p>
<h4>國老湯</h4>
<p>治騎馬毒。（在陰囊糞門居中處）</p>
<p>初發用甘草五錢。酒一碗。水一碗。煎服立愈。</p>
<h4>騎馬癰方</h4>
<p>金銀花（八兩煎水二大碗）　大黃（一兩）　牛膝（二錢）　車前子（五錢）　當歸（一兩）　生甘（用前金銀花汁煎後六味藥。空心服。服後飲酒盡醉。睡醒則如失。過一日微瀉而愈。（忌房</p>
<h4>立消散</h4>
<p>治便毒癰腫神方。</p>
<p>全蠍（炒）　核桃肉炒等分為末。酒調下二錢。空心午後晚日三服即愈。</p>
<h4>便毒方</h4>
<p>好米醋煮牛皮膠。熱敷之即愈。</p>
<h4>千金內消散</h4>
<p>治腸癰便毒。初起即消。已腫即潰。血從大便出。</p>
<p>大黃（三錢）　赤芍　白芷　木鱉（去殼）　乳香（炙）　沒藥（炙）　角刺　僵蠶　栝蔞花粉（銀花（三錢）酒水煎。空心服。有紅點者。加芒硝八分。服藥後宜避風。</p>
<h4>會毒散</h4>
<p>治魚口便毒。　未成膿者暗消。已成膿者從大便出。神效。</p>
<p>貝母　大黃　角刺（各五錢）　山甲（炙）　槐角（各三錢）　連翹（二錢）</p>
<p>水煎服。</p>
<h4>制火潤尻散</h4>
<p>治尻上銳疽。</p>
<p>金銀花　玄參（各二兩）　苦參（五錢）　生甘（三錢）　熟地（八錢）　山萸　白芥子茯苓（各水煎服。</p>
<h4>筅帚床頭驗方</h4>
<p>初起覺舌下一脈連腳根而痛。乃陰虛之症。</p>
<h4>第一方</h4>
<p>菊花（三株）　芭蕉（三錢）</p>
<p>水煎。入酒半杯服。渣罨。</p>
<h4>第二方</h4>
<p>牛膝（五分）　銀花（三錢）　扁蓄（一錢）　菊花（三株）　芭蕉（三錢）</p>
<p>水煎。入酒半鐘服。渣罨。</p>
<h4>第三方</h4>
<p>三角酸草（二錢）　伏龍肝（一錢五分）　萬年鍛石（一錢五分）　黃柏（五錢）　蚯蚓糞</p>
<h4>內服藥方</h4>
<p>白芍（三錢）　甘草節（一錢）　銀花（一兩）　牛膝（八分）　續斷（一錢）　真龜板膠（二錢）　當上用銀花益母葉二味。先煎汁六七碗。入余藥煎服。</p>
<h4>黃蛇散</h4>
<p>治甲癰腫爛。生腳指甲邊赤肉努出。　又治嵌甲入肉。時常出血。痛不可忍。</p>
<p>雄黃（五分）　蛇蛻燒（燒存性一分）</p>
<p>為細末。溫泔水洗瘡。以利刀去甲角拭乾。敷藥。絹帛裹半日許。藥濕即換。敷數次愈。</p>
<p>（</p>
<h4>琥珀膏</h4>
<p>治嵌甲。</p>
<p>黑沙糖（慢火熬成小球燒存性）</p>
<p>每一錢加輕粉二分。麝少許。麻油調敷。甲入肉者。一二日自去。</p>
<h4>木蛇毒</h4>
<p>驚蟄時。毒蛇出穴。遇草木必嚙一口。人遇之生毒。名木蛇毒。指上生者。取田雞肚。包在指上。即不疼。過夜取出。有細蛇六七條出愈。</p>
<h4>蛇瘡</h4>
<p>凡蛇相交。遺精涎於草上。人染之。足便起白泡。痛不可言。毒至心。三日即死。</p>
<p>急用硫黃研末。攪酒盡醉飲。可保無虞。　又雄黃研末。調服並塗。</p>
<h4>天蛇寄毒</h4>
<p>此症生十指羅心。一指爛去。遞傳一指。一節爛去。遞傳一節。傳至手心。必殞方屢試屢驗。</p>
<p>雄黃（五分）　蜈蚣（炙末二分）　雞子一枚（打一孔去黃入藥）拌勻以患指套浸。不可輕動</p>
<h3>疔瘡門</h3>
<h4>淵然真人奪命丹</h4>
<p>治三十六疔。及發背。腦疽。乳癰。附骨臟毒。一切無頭惡瘡。服之有頭。不痛。服之知痛血竭（一錢）　乳香（炙）　銅綠（各二錢）　輕粉　片腦（各五分）　膽礬（一錢）　雄黃（三錢）</p>
<p>朱砂（飛二錢為衣）</p>
<p>各為末。將蝸牛搗爛。少加酒糊並蟾酥為丸。梧子大。朱砂或用金箔為衣。每服二丸。</p>
<p>將蔥再過冷愈用</p>
<h4>蟾酥解毒丸</h4>
<p>治疔瘡惡毒。走黃疔。舌下噙之即黃出。耳疔神效。</p>
<p>蟾酥（一兩）　雄黃（一兩五錢）　乳香（一兩）</p>
<p>研末和蔥汁為丸。綠豆大。朱砂為衣。每服五丸。酒下。用銀針刺瘡頂出血。津化藥半粒。</p>
<p>藥針</p>
<h4>水澄膏</h4>
<p>白芨　為末。放碗內加水。沉者用紙攤貼。凡用拈點之藥。須用此膏貼。則不傷好新肉。</p>
<p>用</p>
<h4>拔疔散</h4>
<p>治諸疔。</p>
<p>紫花地丁（一兩）　甘菊花（一兩）</p>
<p>水煎。服五六劑全愈。</p>
<h4>秋葉散</h4>
<p>治疔瘡初起。</p>
<p>絲瓜葉（一片搗爛取汁）　明礬末（二錢）　雄黃末（二錢）</p>
<p>上用前絲瓜葉汁調。以鵝翎敷疔瘡上。隨干隨潤。一日即消。</p>
<h4>仙菊飲</h4>
<p>治諸疔痛甚者驗。</p>
<p>菊花根葉（二兩）　生甘草末（三錢）</p>
<p>將菊花根葉搗爛。白布絞出汁。再以滾水沖在渣內。用布瀝出。調生甘草末飲之。八日即活</p>
<h4>慈菇湯</h4>
<p>治諸疔。</p>
<p>山慈菇（二錢）　蒼耳子（二錢）　當歸（一兩）　白芷（二錢）　王不留行（三錢）　天花粉（三錢）</p>
<p>水煎加酒一杯。渣再煎。共一處服後。出汗而愈。</p>
<h4>仙傳化毒湯</h4>
<p>治疔瘡走黃發狂將死者。</p>
<p>牡蠣　大黃　山梔　金銀花　木通　連翹　乳香　沒藥　牛蒡子　地骨皮　皂角刺　栝蔞仁氣壯者。加朴硝一二錢。水酒各一碗。煎七分服。痛定自愈。</p>
<h4>疔瘡初起方</h4>
<p>飲麻油一鐘。可保無虞。　又血疔服麻油一杯。能止血。</p>
<h4>化毒消疔方</h4>
<p>大荔枝（一個）　同雞溏屎研和塗之。痛止熱退。</p>
<h4>疔瘡方</h4>
<p>鰣魚鱗。生取下。磁瓶收貯。用時以濕貼患處。覺冷愈。</p>
<p>又方大鯽魚頭切下。生　煙盡存性。　番木鱉麻油煎至浮。麩拌炒去油。為末。各等分。研細末</p>
<h4>疔瘡危篤方</h4>
<p>土蜂房全個　蛇蛻一條上同納瓦罐中。黃泥封固。　存性。為末。每服一錢。酒調下。少頃腹中大痛。痛止其瘡已</p>
<h4>碧霞丹</h4>
<p>不疼者甚效。</p>
<p>銅綠（一兩）　蟾酥（二錢）　巴豆霜（一錢）　麝（五分）</p>
<p>共為細末。用蝸牛搗為丸。米粒大。刺瘡出血。入藥粒膏蓋之。</p>
<h4>神效散</h4>
<p>硼　砂　皂礬（明透者）　鹽（各五分）</p>
<p>搗粗末。入鐵杓加水炒干。再炒至綠色為度。又研細末。用時以針將瘡刺破見血。以銀簪蘸生血</p>
<h4>反唇疔方</h4>
<p>荔枝燒灰存性。麻油調塗。　兼治諸毒奇妙。　如生耳疔或鼻疔。塗外面即愈。</p>
<p>又方鹽酸草　酒煎服汁。渣罨立愈。</p>
<h4>馬嘴疔方</h4>
<p>生唇中下。不急治即死。</p>
<p>用生雞冠血。頻頻塗之。　又蜘蛛一個。研爛塗之。</p>
<h4>紅絲疔治法</h4>
<p>起於手足上。長至一尺余。難治。　先用紅絨扎住。將小刀挑斷紅絲。要出血少許。用蘿菔或用芙蓉葉花根。搗敷亦可。</p>
<h4>牛水諸疔方</h4>
<p>以黃豆嚼不知腥即疔矣。急取家菊花不拘多少。無花用葉或根。搗汁酒沖。盡量飲之。</p>
<p>將渣</p>
<h4>山海丹</h4>
<p>治疔瘡惡瘡。</p>
<p>海馬一對（酒炙黃）　山甲（三錢土炒）　水銀（一錢）　雄黃（三錢）　兒茶（三錢）</p>
<p>黃柏（五錢）</p>
<p>共為末。同水銀研至不見星為度。磁器貯。用時以井水調塗瘡處。即毒出神效。</p>
<h4>豆腐疔方</h4>
<p>色白而痛不可忍。或生手指羅紋之上。又名發羅疔。</p>
<p>蜒蚰（三個）　水粉（二錢）　白梅干（三個去核）</p>
<p>上同搗敷患處。止痛立消。</p>
<h3>瘰癭瘤門</h3>
<h4>方</h4>
<p>蜒蝣（無殼者）</p>
<p>用鹽水浸一宿。陰於瓦焙為末。沙糖為丸。桐子大。每服三錢。蜜酒漿調勻下。任久遠不能</p>
<h4>瘰初起</h4>
<p>用全蠍炒為末。每服二三分。滾水調下。漸次自消甚效。</p>
<h4>遇仙丹</h4>
<p>治瘰　破者即合。未成者即消。</p>
<p>白朮（土炒一兩三錢）　檳榔（五錢）　防風（一兩）　密陀僧（七錢）</p>
<p>郁杏仁（泡取肉八錢）　黑牽牛（半生半炒頭尾一兩）　斑蝥（去頭足糯米炒黃色四十九個）　生為末。面糊丸梧子大。每服廿丸。用甘草檳榔湯食後送下。至一個月毒從小便出。如覺腹痛</p>
<h4>取核法</h4>
<p>水銀　月石　硝　皂礬　白礬　鹽（各一兩）　朱砂（二錢）</p>
<p>入罐內封固。升打三炷香。冷定取起為末。飯丸綠豆大。朱砂為衣。先將核挑破皮。用一丸</p>
<h4>海藻丸</h4>
<p>治蛇盤瘰　。　如頭項盤旋至交接者危。</p>
<p>海藻（水洗淨用蕎麥面拌炒去面）　白僵蠶（取內如栗青者用水洗酒拌炒去絲）</p>
<p>各等分為末。霜白梅泡取肉。搗丸梧子大。每服六十丸。薏米湯送下。</p>
<p>其毒從大便出。忌濃味豆腐。</p>
<h4>癭瘤方</h4>
<p>或水或血或粉或肉。</p>
<p>紅信（一錢）　明礬（一錢）　雄黃（三分）　象牙　沒藥（各五分）　狗寶（三分）</p>
<p>為細末。用紙捻麻油浸濕藥末。敷紙捻上圈瘤根。外用清涼膏貼之。四日一換。或六七次。</p>
<h4>系瘤方</h4>
<p>兼治去鼠奶痔。　凡根下小的俱可系。</p>
<p>芫花根洗淨。帶濕於木石器中搗取汁。用線一條。浸半日或一宿。陰乾。以線系瘤之根。</p>
<p>徐口</p>
<h4>血瘤驗方</h4>
<p>治下唇血瘤。</p>
<p>一人下唇中生一小血瘤。用手掐破。流血不止。此系任脈之盡故也。後以三七人參末敷之。</p>
<p>瘤較</p>
<h4>痰不收口方</h4>
<p>兼治一切痰毒不收口。</p>
<p>用淡豆豉一手把。嚼爛做成餅。蓋瘡上。大壯艾火灸之。至微痛而止。過一日又如前灸。</p>
<p>如</p>
<h4>虛驗方</h4>
<p>（治肝腎虛損生　連進數十劑未成者消已成者出毒愈）</p>
<p>熟地（八錢）　萸肉（二錢）　山藥（二錢）　茯苓（一錢五分）　丹皮（一錢五分）　澤瀉（一錢）</p>
<p>水煎飽服。或加黃酒一小杯更妙。</p>
<h3>乳病門</h3>
<h4>內外乳吹未潰方</h4>
<p>穿山甲（酒炙黃脆一錢五分）　蟬蛻（麻油炒透新瓦上炙燥四分半）</p>
<p>為末。分作四服。酒下三服。必愈。</p>
<h4>熨法</h4>
<p>治乳吹乳癰。登時立消。此方奇而穩甚效。</p>
<p>蔥連根搗爛。鋪乳患處。上用瓦罐盛炭火。蓋蔥上。一時蒸熱出汗即愈。</p>
<h4>一醉散</h4>
<p>治乳癰。</p>
<p>石膏　為末。每服（三錢）溫酒下。能飲者添酒。盡醉睡醒。再進一服。立消。</p>
<h4>乳結硬痛</h4>
<p>大鯽魚頭　灰。酒服一二錢。汗出即瘥。</p>
<h4>乳吹方</h4>
<p>以鵝毛　存性。為末。酒送三錢。</p>
<h4>地丁膏</h4>
<p>治乳吹並一切毒俱效。</p>
<p>黃花地丁（即蒲公英）　紫花地丁（各八兩）</p>
<p>以長流水洗淨。用水熬汁去渣。又熬成膏攤貼。</p>
<h4>內外乳吹</h4>
<p>用不經鹽蟹殼。瓦上焙乾為末。酒下二三錢立愈。</p>
<h4>乳癰紅腫</h4>
<p>蒲公英（一兩）　忍冬藤（二兩）</p>
<p>搗爛。水二鐘。煎一鐘。食前服。睡覺病去。其渣敷患處。</p>
<h4>乳吹乳岩方</h4>
<p>栝蔞（一個去皮子多者有力）　生甘　當歸（酒炒各五錢）　乳香　沒藥（去油各二錢半）</p>
<p>共為末。用無灰酒三升。砂鍋文火煎一升。分三次。食後良久服。如有乳岩。服此可斷根。</p>
<h4>乳癖乳岩方</h4>
<p>蒲公英　金銀花　夏枯草（各五錢）　土貝母（三錢）</p>
<p>白酒二碗。煎一碗。空心熱服愈。　一方加當歸一兩。花粉三錢。生甘二錢。山甲一片炙。</p>
<p>同上煎服。</p>
<p>又方治乳岩乳癰。</p>
<p>葫蘆巴（三錢搗碎）　酒煎服。渣敷之。未成散。已成潰愈。</p>
<h3>疳瘡門</h3>
<h4>楊梅瘡方</h4>
<p>用癩蝦蟆大者為佳。眼紅者有毒不可用。取時不可努力。恐走蟾酥。宜用圓口小瓶一個。</p>
<p>置緊去若且不復發。屢用屢驗。</p>
<h4>楊梅陰毒方</h4>
<p>得之房事者。毒瓦斯傷肝腎。為陰毒症重。</p>
<p>生地　當歸　銀花　甘草節（各一兩）</p>
<p>另用土茯苓二斤。捶碎入無灰酒十斤浸一宿。再入豬胰子二個。去筋膜淨砂鍋煮至四大碗。</p>
<h4>楊梅陽毒方</h4>
<p>因外感者。毒瓦斯傷脾胃。為陽毒。宜發汗。症少輕。</p>
<p>胡桃肉（一兩）　紅棗（一兩）　透骨子（即鳳仙子五錢）　松蘿茶（一錢）　黑沙糖（三錢）酒二碗煎一碗。露一夜。熱服。以綿被蒙頭取汗。以腳心有汗為度。重者二服。其被本人自取。埋土中。面紅面黑下疳並治。</p>
<h4>楊梅瘡煎方（七劑除根）</h4>
<p>防風　皂角刺　天冬　黃芩　栝蔞　金銀花　當歸　熟地　木瓜　木通　米仁　紫花地丁水三碗。煎二碗。作二次服。四劑後去木瓜木通蘚皮。土茯苓減二兩五錢。加桔梗七分。</p>
<p>再</p>
<h4>解毒湯</h4>
<p>土茯苓（一兩）　米仁　防風　木瓜　木通　白蘚皮（各七分）　金銀花（一兩）　皂角刺（四分）</p>
<p>水煎服。</p>
<h4>洗藥方</h4>
<p>生甘（五錢）　金銀花（四錢）　苦參　防風　荊芥　車前　黃柏（各二錢六分）　川椒（一錢）煎湯洗。</p>
<h4>末藥方</h4>
<p>治結毒。筋骨疼痛。口鼻腐爛。</p>
<p>冰片　朱砂　飛面　琥珀　珍珠　滴乳香　牛黃以上各一分半。共研細末。作十二次服。每日空心用白滾湯送下一服。如有腐爛處。即用此</p>
<h4>八寶丹</h4>
<p>治楊梅瘡。　此瘡不可用輕粉。風毒必用。</p>
<p>箭頭砂　滴乳香（各五分）　冰片（一分）　珍珠（二分）　琥珀（一分）　牛黃（二分）　麝香（七為細末。每服一分。和飛面五分。用岐良十兩。煎湯送下。每岐良十兩。木槌打碎。水十碗如治風毒。加輕粉五分。如破爛。加乳香四分。狗胎骨二分。</p>
<h4>楊梅風毒方</h4>
<p>一方生蘿卜。切片貼之。久則自愈。</p>
<p>用魚鰾切小塊。炒黃成珠。研末。每用五錢。以豆腐皮包末。分作數包。無灰酒送下。</p>
<p>瘡在</p>
<h4>松香散</h4>
<p>治疳瘡破爛。用此藥摻之。三日收口。但須內服解毒散。</p>
<p>冰片（三分）</p>
<p>為細末研勻。或摻。或用麻油調搽。如癢加白礬末少許。</p>
<h4>文蛤散</h4>
<p>治下疳神效。</p>
<p>五倍子（一個）　鑽孔入乳香（一錢五分）　為末。入冰片五厘。摻之。</p>
<h4>鼻疳方</h4>
<p>爛通鼻孔者俱治。</p>
<p>鹿角（一兩）　明礬（一兩）</p>
<p>俱放在瓦上隔火　過。人發五錢。在燈火上燒過。共為末。溫花椒湯洗淨。摻藥於疳上。</p>
<p>三</p>
<h4>鉛汞丹</h4>
<p>治楊梅瘡後舌斷。及陰陽爛去者。塗之即完如舊。</p>
<p>鉛一兩。用黑狗頭一個。將鉛入腦內。鹽泥重包。炭火燒紅取出。每制鉛一錢粉霜二分月石以綿以</p>
<h4>宮粉膏</h4>
<p>治陰陽爛去半邊者。</p>
<p>水粉（一錢）　兒茶（五分）　冰片（五厘）</p>
<p>豬骨髓少許。研膏。烏金紙攤貼。如婦人填入戶內。或晒乾研末。鵝毛管吹入即愈。</p>
<h4>闞家丸</h4>
<p>治楊梅結毒。誤服輕粉毒發。久爛不痊。七日見效。</p>
<p>槐蕊（三錢微炒）　輕粉（一錢二分）　當歸須（一錢五分）　白芷（一錢）　牛黃（五分）　丁香陳蜜丸。綠豆大。每服七丸。日四服。土茯苓湯下。</p>
<h4>歸靈湯</h4>
<p>治疳瘡不論新久。但元氣虛弱者。宜服此方。</p>
<p>當歸　川芎　白朮　白芍　熟地　米仁　木瓜　防己　花粉　金銀花　甘草　白蘚皮人參水煎服。下部者加牛膝五分。服至骨不痛。瘡色淡紅為度。</p>
<h4>加味遺糧散</h4>
<p>治疳瘡初起。筋骨疼痛。及瘡久不愈。或誤服輕粉。致發結毒等症。　此症初疳。服此不致成瘡。</p>
<p>當歸　川芎　防風　米仁　木瓜　金銀花　木通　白蘚皮　蒼朮　威靈仙（各一錢）　生甘（水煎服。病久者加人參一錢。下部瘡多加牛膝五分。病淺者服一月愈。病深者百日亦愈。</p>
<p>忌</p>
<h4>解毒岐良湯</h4>
<p>不問新久骨痛潰爛。並治壯健者用。</p>
<p>土茯苓（二兩）　防己　防風　花粉　角刺　蘚皮　連翹　川芎　木瓜　當歸　風藤　金銀花水煎服。加酒一小杯。下部加牛膝五分。</p>
<h4>升麻解毒湯</h4>
<p>治疳瘡骨痛。並流注結毒。破爛不收。及咽喉損破。但壯健者並宜服之。</p>
<p>升麻（四錢）　角刺（新鮮者四錢）　土茯苓（一斤）</p>
<p>項以上加白芷。　咽內加桔梗。　胸腹加白芍。　肩背加羌活。　下部加牛膝。（各一錢）</p>
<h4>珍珠散</h4>
<p>治下疳破爛。痛不可忍。及諸瘡新肉已生。不能生皮。並湯火瘡。破爛痛甚者俱效靛花（五分缸內取者佳）　珍珠（一錢豆腐煮研碎）　輕粉（一兩）　飛面（五分）</p>
<p>共為細末。先用生甘煎湯。洗淨瘡口。再用豬骨髓調前藥末敷之。</p>
<h4>鵝黃散</h4>
<p>治疳瘡破爛痛甚者。</p>
<p>石膏（　）　輕粉　黃柏（各等分）</p>
<p>為細末。摻瘡上即生疤。再爛再摻。毒盡乃愈。此止痛收干之聖藥也。</p>
<h4>岐良散</h4>
<p>治結毒初起。骨痛及已破潰爛者。</p>
<p>岐良（四兩）　荊芥　防風　川芎　當歸　花粉　金銀花　白蒺藜　米仁　威靈仙　梔子黃水煎服。服後飲酒一鐘。忌牛肉火酒。發物並房事。</p>
<h4>芎歸二術湯</h4>
<p>治結毒已成未成。骨痛步艱。及潰後肌肉不生症。</p>
<p>蒼朮　白朮　川芎　當歸　人參　茯苓　米仁　角刺　厚朴　防風　木瓜　木通　山甲（炒）</p>
<p>水煎。服數十劑愈。</p>
<h4>紫金錠</h4>
<p>治結毒腐爛不堪。</p>
<p>石決明（九孔者　紅童便漬之）　辰砂（各二錢）　龜板（炙焦酒娘塗之黃脆為度淨末二兩）</p>
<p>上為細末。飯丸麻子大。每服一錢。骨痛。酒下。腐爛。土茯苓湯下。</p>
<p>重者不過四十日愈。比五寶散更好。</p>
<h4>碧玉膏</h4>
<p>治結毒潰爛不收口。</p>
<p>輕粉　杭粉（各一兩）　乳香　沒藥（各去油三錢）　冰片（二錢）</p>
<p>上為細末。熟公豬油五兩。入白占米五錢。熬化入碗內。以前藥末和勻。水內頓一時。</p>
<p>用時</p>
<h3>火丹蛇纏門</h3>
<h4>丹腫奇方</h4>
<p>凡五色丹毒。俗名赤游風。不早治多死。不可輕視。</p>
<p>榆白皮為末。雞子清和敷。　一方螺螄搗汁塗效。　一方大黃朴硝等分為末。水調敷。</p>
<h4>白火丹</h4>
<p>用香麻油擦眉上即干者是。　又指甲白者是。</p>
<p>北細辛為末。大人每服二三錢。小兒一錢或五分。井水調下。其粗末再研。紗袋盛撲患處。</p>
<p>又方人中白末（三錢）搗生大黃汁送下。令大瀉。或大黃煎汁送亦可。</p>
<h4>又白火丹方</h4>
<p>用水田螺一個。冰片半分。合臍上。不過二三個愈。神方也。</p>
<h4>蛇頭方</h4>
<p>豬膽一個。入雄黃五分。冰片蟾酥各半分。攪勻套指上。線扎定。即時停痛。藥干瘡即愈。</p>
<h4>蛇頭蛇腹蛇眼</h4>
<p>蝸牛（五個）　荔枝肉（五個）　鹽梅（五個）</p>
<p>共搗爛。敷患處即消。</p>
<h4>赤白蛇纏方</h4>
<p>大黃　五倍子（各二錢為末）</p>
<p>蛇殼燒灰。菜油調敷立效。</p>
<h4>纏身龍</h4>
<p>將糞杓竹KT　燒灰。香油調敷立好。</p>
<h3>瘡癬門</h3>
<h4>瘡方</h4>
<p>兼治裙帶瘡。爛臭起沿。</p>
<p>生腐渣一味。捏成餅如瘡大小。先以清茶或蔥湯洗淨。絹帛拭乾。後以腐渣餅貼上。再以帛</p>
<h4>冰爐膏</h4>
<p>爐甘石（火　二兩為末）　冰片（二分）</p>
<p>上藥。以豬鬃油搗成膏。先以茶汁加鹽少許。洗淨瘡口敷藥。以膏蓋之。不獨　瘡。凡久遠</p>
<h4>又瘡方</h4>
<p>陳年地上白螺螄殼。洗淨　灰存性。研末。麻油調成膏。先將溫水洗瘡口。輕粉少許摻之。</p>
<h4>瘡收口方</h4>
<p>先拭淨瘡口。取十八九歲婦人頭發。洗淨燒灰研細末。填滿瘡上。外以油胭脂作膏。攤貼神</p>
<h4>惡瘡百藥不瘥方</h4>
<p>馬齒莧搗爛敷之。三兩次愈。</p>
<h4>救苦丹</h4>
<p>治赤爛瘡神效。</p>
<p>黃柏為末。生桐油調敷患處。三四日立效。</p>
<h4>肥瘡方</h4>
<p>兼治耳邊生瘡。</p>
<p>松香　水粉等分共為末。用麻油調勻敷碗底。將碗覆於盤上。微露縫。置艾火於盤內。</p>
<p>徐徐愈。</p>
<h4>凍瘡方</h4>
<p>記所凍處。次年櫻桃熟時。以桃擦之。當年不發。</p>
<p>又方鮮山藥　黑砂糖　各等分搗和塗之。</p>
<h4>漆瘡方</h4>
<p>旱蓮草和酒服。又煎水日洗。數次即愈。</p>
<h4>漆瘡發脹方</h4>
<p>鼓槌頭草（二三十株）　地骨皮（二兩）　鹽　礬（各三錢）　酒水各一升。煎洗數次。</p>
<p>冷再溫洗。</p>
<h4>烏金散</h4>
<p>治外腎生瘡。</p>
<p>松樹炭　紫蘇葉等分為末。香油調搽。</p>
<h4>蛀杆方</h4>
<p>鵝口繭（　灰五分）　枯礬（五分）　倍子（一大個炒）　兒茶（一錢）　輕粉（一錢）</p>
<p>紅絹（方圓為末。先將酸泔蔥椒煎湯溫洗。拭乾摻藥神效。</p>
<h4>護龍散</h4>
<p>治腎漏陰囊先腫後穿破。出黃水。瘡如魚口。能致害命。</p>
<p>文蛤（以鍛石炒黃色去灰出火毒）</p>
<p>研極細末。摻五七次愈。</p>
<h4>坐板瘡方</h4>
<p>蠟過舊皮鞋底。燒灰搽之妙。　又絲瓜皮焙乾為末。燒酒調搽愈。</p>
<h4>灸瘡久不瘥方</h4>
<p>牛屎燒灰存性。為末敷之。即好。</p>
<h4>風入瘡口方</h4>
<p>腫痛難忍。</p>
<p>劉寄奴末摻之即安。</p>
<h4>瘡不收口成漏方</h4>
<p>上身者名蟻漏。穿山甲炒研末摻之。　下體者為　漏。鍛石泡湯洗之。</p>
<h4>治漏方</h4>
<p>黃豆（七粒）　生男胎發（七團）</p>
<p>陰陽瓦　存性。為細末。入冰片少許。將瘡洗淨。填藥入內。次日如藥被毒水沖去。再填數螟蛉窠　去外層粗泥。研極細末。入冰片少許。敷之其口即收。</p>
<h4>治癬方</h4>
<p>土槿皮（五錢）　白芨（二錢五分）　白芷（二錢五分）　蓽茇（二錢五分）　白蘚皮（五錢）　明雄上藥為末。用好燒酒一斤。浸藥透。刮破癬。用土槿皮一塊。蘸藥擦之。每日兩三次。</p>
<h4>治癬效方</h4>
<p>蘆薈（三錢）　硫黃（一錢）　枯礬（四錢）　白信（一錢）　輕粉（六錢）</p>
<p>共為末。先用土大黃根擦之。癢處用陳米醋蘸藥擦之。神效。</p>
<h4>治癬神方</h4>
<p>不拘遠近頑癬俱效。</p>
<p>文蛤（一兩炒）　硫黃（一兩一錢）</p>
<p>為細末。米醋調如糊。先以穿山甲略刮去頑皮。敷藥如膏一層。外以皮紙貼之。遇晚揭去。</p>
<h4>風癬方</h4>
<p>艾葉不拘多少。醋煎如膏。先以穿山甲片。刮破癬。後擦之。</p>
<h4>頑癬方</h4>
<p>糠皮燒油搽之。三日愈。兼治癩頭瘡。搽之神效。　又溫湯洗軟。韭菜擦數次愈。</p>
<h4>又頑癬方</h4>
<p>先用米泔水洗淨。穿山甲刮破。再以白糖研爛。甘草汁調敷。</p>
<h4>頑癬神方</h4>
<p>雌黃　青黛　輕粉（等分）</p>
<p>為末。濕癬干摻。干者用指甲抓破。敷藥。上貼清涼膏。內出黃水。七八日後。水干自愈。</p>
<h4>多年頑癬方</h4>
<p>將雄雞腰子一副。摘開搽之。數日即愈。</p>
<h4>牛皮癬方</h4>
<p>香油（一兩）　全蠍（七個）　巴豆（二十粒）　斑蝥（十個）</p>
<p>同熬至焦黑色。濾去渣。入黃占一錢。候溶收起。朝擦暮好。</p>
<h3>疥癩門</h3>
<h4>洗疥方</h4>
<p>金神花（五錢）　荊芥（二錢）　防風（二錢）　甘草（一錢）　白礬（五分）　馬鞭草（五錢）　川椒上藥煎湯熏洗。三四次愈。</p>
<h4>疥瘡百效方</h4>
<p>石膏（生一兩）　硫黃（一錢）　枯礬（五分）</p>
<p>共為末。豬油調擦之。</p>
<h4>蛤石輕黃散</h4>
<p>蛤粉（一兩）　生石膏（一兩）　輕粉（五錢）　黃柏（五錢）</p>
<p>共為末。濕疥摻之。干疥用熟豬油磨檳榔至淡紅色。調敷。如癢少加枯礬。</p>
<h4>合掌丸</h4>
<p>大楓子（四十九粒去殼）　樟冰　花椒　檳榔（各三錢）　枯礬（二錢）　雄黃（二錢）</p>
<p>水銀（一先將楓子水銀同研至不見星。再研油核桃數枚令爛。入前藥搗丸如龍眼大。日則手搓鼻聞。</p>
<h4>禿瘡方</h4>
<p>蛇床子煎湯洗三五次。腥淨為度。後用黃柏一兩枯礬三錢為末。麻油調塗。</p>
<h4>癩瘡方</h4>
<p>豬腳合黑者為佳。不拘多少。每一個內入生梔子一個。白礬少許。火　存性。研末。芝麻油</p>
<h4>頭瘡方</h4>
<p>紅棗煮熟去皮核。加輕粉樟冰搗爛。濃敷頭上。戴氈帽。三日後去帽。瘡自愈。</p>
<p>又　方獨核肥皂（去核）　填入沙糖一匙。巴豆二粒。扎定鹽泥包。　存性為末。加檳榔輕粉各七分。研勻。香油和。擦頭上。先用灰汁洗頭。溫水再洗。拭乾搽藥。一宿換藥。次日又換。數</p>
<h3>痔漏門</h3>
<h4>痔漏神方</h4>
<p>忌薑椒辛熱。煎炒炙爆酒醴。及一切發風之物。　愈後忌房勞一百二十日。永不蕪荑仁　雷丸　當歸　龜板（酒炙）　鱉甲（各一錢炙）　蟬蛻　蠶蛻（各八分）　枳殼大黃（上藥。用黃酒碗半煎七分。空心溫服。以干豬肉壓之。服至八日後。漏管蟲根俱出。減去角用。</p>
<h4>痔漏落管方</h4>
<p>倍子（十兩）　水煎至如糊。入黃占十八兩為丸。每日空心清湯下三錢忌鵝、豬、羊、魚、發</p>
<h4>痔漏驗方</h4>
<p>象皮（一斤）　槐米（一斤炒淡黃色）</p>
<p>上藥為末。蜜丸梧子大。早服三錢。晚服二錢。淡鹽湯送下。</p>
<h4>枯痔方</h4>
<p>金色密陀僧（五兩）　生礬（一兩）　枯礬（一兩）</p>
<p>另用黃占三兩。麻油三兩。化開入前藥末攪勻。眾手為丸。如桐子大。雄黃五錢。青黛二錢</p>
<h4>血痔方</h4>
<p>用茅草燒灰。白酒調下。外用鵝膽調冰片塗之即消。</p>
<p>又方治血痔。兼下血能明目。</p>
<p>槐子於冬月入牛膽內陰乾。百日每日吞一枚。</p>
<h4>內痔腫痛方</h4>
<p>先用屋蔥一把。野木連（五六個經霜者）煎湯熏洗。再用鱉頭　存性。加冰片少許為末。</p>
<p>以木</p>
<h4>痔漏奇方</h4>
<p>貫眾（一斤去毛切片燒酒二斤煮干又加燒酒一斤鉛粉一兩同炒）　川萆　（一斤用醋二斤煮炒）</p>
<p>初起如珠者或下血。止用此四味醋糊為丸。服之自消。如臟穿成漏者。加蟬蛻（八兩水酒拌（五錢）　兒上藥共為末。醋打面糊為丸。如梧子大。每服三錢。每日三服。白滾湯下。空心服。</p>
<h4>痔漏腸紅方</h4>
<p>棉花子（炒黃黑去殼為末）　陳米糊入砂糖為丸。如桐子大。每日空心清湯下三錢。服三斤斷</p>
<h4>消痔散</h4>
<p>即拖出二三寸者皆可治。凡敷藥先以溫湯洗淨患處。</p>
<p>乳香（二兩明亮者佳）　沒藥（二兩和尚頭者佳）　大黃（三錢）　黃丹（五分）　朱砂（五分）　雄各藥研極細末。以菜子油調勻。鴨毛蘸藥輕敷患處。切忌指甲。立刻止痛收上。再加龍骨血用海</p>
<h4>痔漏方</h4>
<p>五靈脂（二斤）　炒無煙為末。米糊為丸。每服三錢。海粉湯下。</p>
<h4>又血痔方</h4>
<p>蕎麥面。不拘多少。用豬膽為丸。白滾水送下。二三錢即止。</p>
<h4>痔漏神效方</h4>
<p>刺　皮（一個鮮者更佳）　蟬蛻（二兩）　豬大腸（八寸入皮硝二兩）　防己（二兩）　豬後懸蹄爪炙）　血竭（三錢）</p>
<p>牙（三錢）　生地（一兩）</p>
<p>為末。蜜丸。陳酒空心下三十丸。　忌酒色。煎炒。魚鮮。油膩。發物。</p>
<h4>如金散</h4>
<p>擦痔七日自落。</p>
<p>雄雞二只。放在靜處。餓二日。次早用豬胰子切碎。拌米粉二合喂之。接糞一兩。晒乾。</p>
<p>入取起。加乳香沒藥各二錢。冰片五分。研勻磁罐收貯封口。每用。津唾敷痔上。良久去之。再敷六七次。至痔變黑色。不必上藥。待七日其痔自落。用甘石生肌</p>
<h4>神治遠年內外痔</h4>
<p>雄豬大腸（三尺去肛門七寸）　刺　皮（三張新瓦　存性）　明礬　槐米（各四兩）</p>
<p>上三味。為末。入大腸內。兩頭扎住。銅鍋煮爛。搗勻成丸。每日清晨開水下四五錢。</p>
<p>藥完</p>
<h4>痔漏內消散</h4>
<p>一料可愈四人。</p>
<p>冬青子（四兩）　雨前茶（四兩）　青黛（四兩）　象牙末（四兩）　刺　皮（瓦焙乾）</p>
<p>蟬蛻（焙各為末。以黃雄狗腸一條。煮爛搗勻為丸。每日清晨酒送下三五錢。</p>
<h4>痔漏不用刀針</h4>
<p>獨核肥皂（一個沙鍋內文火炙之蓋密以脆為度）　刺　皮（二個入砂罐內蓋密周遭封固炭火上藥為末。飛面打糊為丸。空心服三十丸。服完全愈。</p>
<h4>蔡中軍痔方</h4>
<p>熊膽（二分）　石蟹　胡連　明雄黃（各五分）　冰片（七厘）　三七（三分）　爐甘石（一錢）</p>
<p>如癢加枯礬共為細末。磁罐盛塞口。先將痔潤濕敷上少許。不可多用。多敷幾次為妙。</p>
<p>每晚用瓦松七枝。皮硝一錢。煎湯洗淨。敷藥便妙。</p>
<h4>奇驗痔瘡方</h4>
<p>兼治脫肛立愈。</p>
<p>核桃（一個）　去內肉。入五倍子末。合好線扎定。外用黃泥入鹽調和。團裹炭火　過。</p>
<p>至煙</p>
<h4>班龍靈龜化痔丸</h4>
<p>治痔漏膿血淋漓。</p>
<p>人參（一兩五錢）　鹿角尖（炙脆八兩）　龜板（四兩炙）　象牙屑（二兩）　白朮　茯苓（各一兩六兩）　露蜂房（炙八上為末。煉蜜一斤。入白蠟二兩。黃蠟八兩。下藥末。千捶丸梧子大。早晚各以藥酒下百丸</p>
<h4>藥酒方</h4>
<p>白梅花肉（泡淡五錢）　紅花（二兩）　蒼朮（二兩）　生地（一兩五錢）　當歸（二兩）　核桃白肉入老酒一斗。浸七日。送藥。亦可獨飲。</p>
<h4>不覺退管錠子</h4>
<p>象牙末　萬年冰（即糞窖年久磚　各五錢）　青鹽　輕粉（各三錢）　密陀僧（一錢）</p>
<p>共為末。用飯搗丸錠子。插入管內。數日後其管隨藥而出。不疼自然生肌。不用收口藥。</p>
<h3>體氣門</h3>
<h4>治狐臭方</h4>
<p>水銀　硝　礬（各一兩）　入KT　盆內。同研至不見星為度。用粗碗盛藥。樁實。上蓋一碗。鐵絲繞緊。鹽泥封口。將藥碗放炭火上。將蓋上碗足內。用濕紙打爛。鋪四五分濃。</p>
<p>常以水潤之。至加水煙出為度。取出冷定。開看其藥。桂紅色者佳。用法。濕布拭淨後。用吐沫調藥又方石綠（三錢）　輕粉（一錢）</p>
<p>濃醋調塗。五次斷根。</p>
<p>又方田螺（一個挑開靨）　入巴豆仁一個。研碎置螺內。一宿即化水。取塗之絕根。夜間擦數又方水田螺（一個挑去靨）　入冰片一分。化水。以手指蘸水擦數次愈。終身忌食筍。食之復發。</p>
<h3>外傷門</h3>
<h4>刀瘡神方</h4>
<p>朱砂為末。白糖對配。罨患處。即刻痛止生肌。</p>
<h4>破傷風方</h4>
<p>蟬蛻（六錢去頭足翅焙乾為末）　陳酒送下。發汗即愈。　一方川貝去心（一錢）　杏仁（去皮</p>
<h4>桃花散</h4>
<p>千年鍛石（搗為末）　錦紋大黃（切小塊入鍋內同炒至微紅色）</p>
<p>共為末。用敷金瘡。能止血生肌。亦治湯火傷。以麻油或茶汁調搽。</p>
<h4>紫金藤散</h4>
<p>專治刀瘡損傷出血。</p>
<p>紫降香為細末。敷患處。</p>
<p>湯泡　鹽鹵搗黃泥敷之立愈。　豬腳殼　存性。麻油調敷神效。豬毛亦可。　或用生地黃水綿紙</p>
<h4>煙火熏至死</h4>
<p>白蘿菔搗汁灌之立醒。</p>
<h4>保生救苦散</h4>
<p>治火燒油烙。及脫肌肉者立止痛。</p>
<p>寒水石（生用）　大黃　黃柏等分為末。清香油調敷。破濕者干摻。</p>
<h4>竹木刺入肉</h4>
<p>羊屎燒灰存性敷之。　又牛膝嚼爛敷之亦出。　又酸棗核燒灰存性為末。水調敷亦出。　蓖麻子搗敷傷處。刺出即去。恐去好肉。</p>
<h4>刺入指甲及身</h4>
<p>生栗子嚼爛。以布包裹三時。其刺自出。</p>
<h4>中藥箭毒</h4>
<p>犀牛角削尖。入瘡口內立愈。　又麻油塗之亦愈。</p>
<h4>箭鏃不出</h4>
<p>杏仁塗之即出　羊屎燒灰存性。敷罨略出。以鉗拔之。</p>
<h4>鉛子入肉</h4>
<p>水銀（二錢）　灌入瘡口。少時倒出。如多加幾分。是鉛子化的。如原數尚未化動。再灌入。</p>
<h4>軍中神應金瘡藥</h4>
<p>降香節　紅銅末　白松香（各一兩）　五倍子（五錢）　血竭（一錢五分）　沒藥（五分）</p>
<p>共研極細末。摻傷處血立止。</p>
<h4>刀斧槍箭傷方</h4>
<p>生半夏　研極細末。帶血敷之。止痛收口生肌。　損爛入寸深者。千年鍛石　輕粉　血竭</p>
<h4>金瘡折傷血出不止</h4>
<p>蔥白沙糖等分。研爛敷之。其疼立止。又無疤痕。</p>
<p>接骨方　並治夾棍傷立效。</p>
<p>小母雞（一只一斤以下者）　五加皮（五錢）　同將活雞連毛腸搗爛。敷一晝夜愈。</p>
<h4>骨斷折碎</h4>
<p>活蟹（一大只）　肥而多膏者。連殼搗如泥。同生薑四兩。入醋一鐘。帶糟更妙。老酒一碗。</p>
<p>者。只吃</p>
<h4>拶手指傷並杖瘡方</h4>
<p>訶子　研末。每一錢和銀朱四分。蜜調不令水洗敷上。以綿紙裹之。不痛不爛。</p>
<h4>犯杖臨時預用</h4>
<p>無名異　為末。溫酒調服三錢。不甚疼。不甚傷。</p>
<h4>防夾棍方</h4>
<p>先一晚用鯽魚一斤。搗爛罨上。扎定。次早洗去。不甚疼。不甚傷骨。</p>
<h4>跌打損傷並杖瘡</h4>
<p>初傷服童便陳酒各一鐘。防血衝心。　再以蔥切爛炒熱敷傷處。冷則再易。止腫消痛。</p>
<p>散瘀</p>
<h4>接骨紫金散</h4>
<p>土鱉蟲（去足焙乾）　骨碎補　乳香　沒藥（各去油）　自然銅　白硼砂　大黃　血竭　歸尾（瘀出未淨。亦</p>
<h4>鬼代丹</h4>
<p>乳香　沒藥　自然銅　無名異　骨碎補　地龍　土鱉蟲（各等分）</p>
<p>上藥為末。蜜丸彈子大。臨刑用好老酒化一丸。如不打。吃蔥即解。吃素者。甘草湯解。</p>
<h4>腳底無故開裂</h4>
<p>黃柏為末。豬脊髓研如膏。敷患處。如老年者。或系氣血兩虧。加八寶丹同調敷更妙。</p>
<h4>兩足無故發癢</h4>
<p>爬至血出始快。此系風入皮膚之故。</p>
<p>用白鳳仙花連根二三株。煎湯洗之。可得數日不癢。</p>
<h4>婦人穿耳腫爛</h4>
<p>血竭　兒茶　沒藥（各一錢）　雄黃（五分）　輕粉（二分）　黃柏（一錢）　白蠟（一錢五分）　松共為末。入飛礬少許。豬油調敷塗患處。</p>
<h4>樂得打</h4>
<p>夾棍神方。</p>
<p>白苧（一兩二錢　存性）　圓眼肉（數十個）　石菖蒲（三錢）　胡椒（二錢一分）　猴骨（六錢）</p>
<p>錢六分）　麝香（三分）</p>
<p>共為末。將圓眼肉搗爛成丸。金箔朱砂為衣。每丸三錢。老酒送下。能護心保命。夾杖不痛</p>
<h4>折傷</h4>
<p>大活蟹一只。　甜瓜子八九錢。同搗極爛。酒送下。三服愈。如無瓜子。將蟹搗爛。熱酒沖</p>
<h4>箭傷並針入</h4>
<p>在骨肉不得出者。</p>
<p>象牙屑以水和之。敷上即出。　螻蛄蟲煎濃汁。滴上三五度。即出。</p>
<h4>治金瘡</h4>
<p>活松木當時燒灰為末一錢。松香一錢。入鹽少許。研勻敷患處。一刻生肌。</p>
<h4>湯火傷</h4>
<p>蚌殼燒灰蜜調敷立愈。　又水青苔去水敷之。干即換之。　又芋頭磨水塗之即愈。　又雞子</p>
<h4>人咬指爛欲脫</h4>
<p>鱉甲燒灰存性。油調塗。　又龜板鱉肚骨等分　存性。麻油調搽。又方。鞭筍芽或冬筍芽。</p>
<h4>寄杖方</h4>
<p>好白蠟（一兩）　刮薄片以滾酒沖服之。即杖多不痛。</p>
<p>又方木耳（　存性為末五錢）　黃酒送下。重杖亦不妨。</p>
<h4>手足開裂</h4>
<p>牛骨髓搽之。</p>
<h4>腳指縫濕</h4>
<p>鵝掌皮燒灰研搽之。</p>
<h4>周身跌打損傷方</h4>
<p>至重者。　先將地上掘一坑。如人長。約深二尺許。用炭燒令極熱。以燒坑內。隨手以掘起散土拌之。將病患埋入坑內。熱土蓋之。露面。人須先飲醉令其熟睡。睡醒病如失。</p>
<h4>湯火並一切刀傷腐爛大痛</h4>
<p>沉沙木屑煎湯洗之。又燒灰存性。麻油調敷立效。</p>
<h4>夾棍神效方</h4>
<p>皮硝。端午日先晒存尤妙。</p>
<p>好陳酒五斤。煎數沸。投皮硝五兩。下焚桑木。北方用柳木。不用雜木一枝。風爐亦用新者藥淋</p>
<h4>八厘散</h4>
<p>治打傷。兼治爛瘡腫毒。</p>
<p>土鱉（一兩）　麝（二分）　打傷者八厘。酒下。破處以此摻之。爛瘡內服外摻。腫毒服之。先</p>
<h4>接骨仙丹</h4>
<p>治跌打損傷。筋斷骨碎。</p>
<p>五銖錢（五個火　醋淬四十九次重一錢）　甜瓜子（五錢）　珍珠（二錢腐煮布包捶碎）</p>
<p>狗胎骨上藥共研極細末。每服二分五厘。隨患上下。飢飽酒送。</p>
<h4>跌打損傷方</h4>
<p>但稍有氣者。俱可救。服藥後發戰。不必驚怕。</p>
<p>牛黃花（即鬧陽花）</p>
<p>端午日取花。不拘多少。去心蒂陰乾研末。至重者黃酒送四五分。輕者二三分。老年力衰者</p>
<h4>刀傷出血痛不可忍</h4>
<p>用老蔥折斷。入白糖在內。炭火炙熱。剖開。其中有涕。取罨傷處。仍多炙蔥繼之。冷則更</p>
<h3>蟲獸傷門</h3>
<h4>癲狗咬方</h4>
<p>明雄黃（五錢）　芝麻油半鐘。沖服立愈。　鹽物一切。可不必忌。</p>
<h4>瘋狗咬方</h4>
<p>水仙花根搗爛。入水白酒一二鐘。絞汁。以筆管吸飲。少頃即上吐下瀉而愈。</p>
<p>又方甘草　杏仁　各等分。口嚼爛敷患處。</p>
<p>又方瘋狗。舌出尾垂者是。</p>
<p>斑蝥（七個）　去頭足翅。同米一撮炒黃。去米。研末。面糊丸。如梧子大。溫酒下。</p>
<p>候小便以靛汁</p>
<h4>瘋狗咬傷久而服發</h4>
<p>透明雄黃（三錢）　麝香（五分）　共研末。以酒沖服二錢。服後熟睡為度。俟其自醒。</p>
<p>利下惡</p>
<h4>又狗咬方</h4>
<p>此草有一二尺高。其葉如山楂。背紫。根下有疙瘩。如有根。只用二錢。二服即紫背天葵葉（三錢）　老酒煮盡量飲之。重者三服。輕者一服。服後化血水而愈。七日全好。</p>
<p>又方斑蝥（七個去頭足翅用糯米炒七日外每日加一個）　雄黃（一錢）　麝香（一分小兒不用）　滑石上共為末。能飲酒下三錢。不能飲米湯下三錢。其毒或從大小便出。或吐即愈。</p>
<p>又方男子二十一日可治。　女子十四日可治。</p>
<p>斑蝥（七個頭足翅均去米炒去米人弱者減半）　生大黃（五錢）　金銀花（三錢）　僵蠶（七個）酒水各一碗。煎一碗半。飽服。候其小便解出血塊。再至小便清白方為毒解。後食溫粥一碗魚、蔥、發氣、動風之物。又忌麻布、夏布、衣帳、及麻地、茄地、赤豆地上行走。犯之復發。不可治。</p>
<h4>豬咬</h4>
<p>沙糖塗之亦效。</p>
<p>鮮鯽魚去腸留鱗。腹中入羊屎。線縫。火　存性為末。敷患處。或用沙糖水調敷亦可。</p>
<h4>鼠咬方</h4>
<p>貓屎塗之立愈。</p>
<h4>毒蛇咬方</h4>
<p>蒲子花（七朵）　搗爛敷患處立愈。</p>
<p>用蜈蚣一條。去鉗足。　存性。酒下。有煙氣自傷處出即愈。仙方也。</p>
<p>又方五靈脂　雄黃　等分為末。酒調服。或敷患處亦效。</p>
<h4>守宮蛇咬方</h4>
<p>用桑柴灰煎水調白礬末塗之。</p>
<h4>蟲入耳方</h4>
<p>桃葉塞耳。或安耳下枕之。即出。</p>
<h4>蟲入七竅</h4>
<p>香油滴之即出。　豬尾血滴之亦出。</p>
<h4>百蟲入耳方</h4>
<p>取雞冠血滴入。或韭汁或薑汁滴入即出。　如在左耳。以手緊閉右耳。努氣至左耳自出。</p>
<h4>誤吞蜈蚣方</h4>
<p>用生豬血飲之。少頃。又以清油灌口中。其蜈蚣裹在血內吐出。然後以雄黃末水調服。　一方多吃麻油自解。</p>
<h4>蜈蚣及百足蟲傷</h4>
<p>草紙擦軟。絞成條。點火取煙熏之。傷處少頃痛止。再熏一二條愈。屢驗。</p>
<h4>蜈蚣咬方</h4>
<p>香附嚼爛塗之。　又雞血敷之亦可。　用雞涎敷亦可。　又取大蜘蛛放患處。其毒吸去。</p>
<p>將</p>
<h4>治百腳蟲傷</h4>
<p>蟲隱壁間。以尿射人。使人遍身作瘡。用烏雞翎燒灰。雞蛋清調搽即愈。</p>
<h4>蠍子藥</h4>
<p>並治蜂毒。</p>
<p>雄黃　白砒　巴豆（各等分）　為末。將黃蠟於端午日午時化開。入藥調勻。捻成條。</p>
<p>用時將</p>
<h4>蜒蚰入耳方</h4>
<p>羊乳灌入。即化為水。</p>
<p>又方用蝸牛研為水。滴入即出。</p>
<h4>鱉虱入耳方</h4>
<p>頭痛不可忍者。</p>
<p>糯稻草灰煎汁灌之。即死而出。</p>
<h4>誤吞水蛭（即螞蝗）</h4>
<p>蜜水一鐘飲之。即化為水。</p>
<h4>諸毒蟲咬傷</h4>
<p>痛至垂危。</p>
<p>青黛（二錢）　雄黃（二錢）　麝香（一分）</p>
<p>為末。冷水調服。</p>
<h4>蜂叮人</h4>
<p>隨嚼青蒿。塗在患處立瘥。　又芋艿擦之。芋葉亦可。</p>
<h4>制蚊法</h4>
<p>蟾酥浸長線。圍臥處。蚊不能飛入。</p>
<h4>八角虱方（男女便毛生虱）</h4>
<p>以百部煎湯洗之。遂成空殼。</p>
<h4>去虱方</h4>
<p>秦艽　百部（各等分）　煎汁洗衣。永不生矣。</p>
<h4>蚯蚓咬毒</h4>
<p>形如大麻風。眉發皆落。每夕蚯蚓鳴於體。</p>
<p>用白鹽煎湯浸身。數次即愈。</p>
<h2>卷四</h2>
<h3>婦人門</h3>
<h4>益母丸</h4>
<p>益母草（四十斤熬成膏約三斤）　真龜膠（一斤蛤粉炒）　白當歸（二斤）　川芎（一斤俱蒸熟）上三味。為末。入益母膏為丸。每丸重三錢。晒乾磁瓶收貯。　胎動不安。蘄艾湯下。　催生。砂仁三錢。煎湯下。　產後血塊痛。紅花湯下。　血暈。山楂湯下。　虛脫。</p>
<p>人參湯下。血崩。人參湯下。　產後痰多。昏亂不知人事。醋炒紅花湯下。　月水先期。或一月兩次。或懨懨不息。人參條芩杜仲湯下。　月水過期。非紅非紫。桃仁紅花湯下。　赤帶。用赤雞冠花。白帶。用白雞冠花。煎湯下。　血枯。紅花湯下。　肉淋。黃連人參湯下。</p>
<p>吐紅。黃芩側柏湯下。　便血。地榆湯下。　虛損。熟地白芍陳皮湯下。　陰虛。潮熱往來。</p>
<p>沙參湯下。　骨痛。地骨皮湯下。　男人白濁。三角酸煎湯下。　夢遺。茯神杜仲白雞冠湯下。腳跟腫。皮脫出水。牛膝湯下。　心痛。桃仁湯下。　血虛頭疼。川芎白芍湯下。腰痛。</p>
<p>杜仲湯下。　腰痛脅脹。氣衝胸塞。芍藥杜仲湯下。</p>
<h4>益母膏</h4>
<p>又名還魂丹。</p>
<p>五月五日。六月六日。或小暑日。益母草花正開時采。取花葉子石臼內搗汁。沙鍋內文武火阿膠或紅下經</p>
<h4>獨聖散</h4>
<p>丹參為末。酒下二錢。此藥破宿血。生新血。安生胎。落死胎。止血崩帶下。調經脈。</p>
<p>或前</p>
<h4>女金丹</h4>
<p>人參　當歸　生地　丹皮　白茯苓　白芷　玄胡索（酒洗）　肉桂　白芍　本（去蘆酒洗）</p>
<p>兩）共為細末蜜丸。或益母膏為丸。朱砂五錢為衣。女人不孕。經後當歸川芎湯送下一丸。</p>
<p>重三保</p>
<h4>琥珀滋生丸</h4>
<p>治婦人胎前產後百病。</p>
<p>琥珀（一兩醋炒燈草同研）　阿膠（一兩炒成珠）　五味子（五錢）　附子（制各一兩夏五錢）　肉蓯蓉　人參　續斷黃（三錢）　朱砂（一兩為衣）</p>
<p>去渣。慢火熬成膏。和藥末。少加老蜜搗千余下。分為百分。每丸重一錢四分。朱砂為衣。</p>
<p>陰乾再晒極干。黃蠟為殼。每服不進飲食。用薑汁少許。和酒化薑艾葉炒。令黑色。酒煎數沸。</p>
<p>下。　血暈不知人事。童便調灌身虛腫水氣。赤小豆湯調服。</p>
<p>經不通。或間雜五色。頻頻頻痛。五心煩熱。黑　血斑。</p>
<p>下一丸。易產。　常服以童便痛。或服至十日。飲食倍增。</p>
<h4>四製香附丸</h4>
<p>此婦人之聖藥。種子之奇方。屢試屢效。</p>
<p>香附二斤（分四處一童便一米泔一米醋一鹽水各浸七日一日一換取出炒黃勿焦）　當歸（酒洗血熱加生地八兩。　共為末。蜜丸。空心清湯下。</p>
<h4>九製香附丸</h4>
<p>治婦人百病。調經種子。安胎神效。</p>
<p>香附十八兩（杵淨分作九分每分二兩）　一酒　一醋　一鹽水　一童便　一小茴（二兩煎汁）</p>
<p>附子（制）　石菖制法　各汁俱春浸三日。夏浸一日。秋浸五日。冬浸七日。浸至日足。連渣同香附晒乾。</p>
<p>檢至香附末（八兩）　歸身（酒洗）　大熟地（薑汁蒸）　大生地（薑汁洗）　白芍（酒炒各四兩）　川芎參（一兩）　茯苓（一兩）</p>
<p>真化皮（二兩）　元胡（醋炒一一兩五錢）</p>
<p>上藥各制如法。共為細末。蜜丸梧子大。必須早晚各服三錢。清湯下。服至一料。不孕者必</p>
<h4>調經方</h4>
<p>香附二斤（分四分一酒一醋一童便一蜜水俱浸一宿晒乾炒為末取淨末一斤）　歸身（酒蒸）　川上藥共為末。用益母草煎膏為丸。如梧子大。清湯送下三錢。用以調經種子。安胎俱神效。</p>
<h4>勝金丹</h4>
<p>治女人胎前產後。一切淋濁帶下。月經不調。並血枯不孕。小產難產。血暈血瘀。</p>
<p>停胞死胎等症。並男婦諸虛百損。</p>
<p>香附一斤（分四分一童便一酒一醋一鹽水各浸一日晒乾炒）　本（三兩）　歸身　川芎人參皮（三兩）　白以上俱酒浸一宿。晒乾為末。</p>
<p>赤石脂　白石脂（各二兩五錢）</p>
<p>以米醋浸透　紅。共七次為末。</p>
<p>朱砂　琥珀（各五錢）　乳香　沒藥（各一兩）</p>
<p>以上四味。用酒研爛如膏。和入前藥末內。擦磨數十次。令極勻。加蜜煉為丸。如彈子大。</p>
<p>金箔為衣。每服一丸。陳酒下。</p>
<h4>婦人不孕方</h4>
<p>雞一只。黑骨白毛者佳。如無。用三年陳騸雞亦可。　益母草一斤。（分四分一酒一醋一薑為</p>
<h4>伏龍肝</h4>
<p>孕婦傷寒。恐致墮胎。用灶心土。對鑊臍處取一塊。研末。溫水調塗臍上。一日一換。</p>
<p>至七腳心</p>
<h4>月水久閉方</h4>
<p>二蠶砂（四兩炒黃色）　即入無灰酒一壺。於砂鍋內。滾二三沸取起。以瓷器盛之。去沙。酒</p>
<h4>經血逆行方</h4>
<p>韭菜搗汁一盞。入童便半盞。燉熱服即止。</p>
<h4>白帶方</h4>
<p>鹿角燒灰為末。每早酒調下二錢。一二次即愈。</p>
<p>又方藕節（八兩）　赤茯苓　白茯苓　赤茯神　白茯神　柏子仁（去油）　益智仁（鹽水炒各一兩）為末。金櫻膏為丸。梧子大。每服三錢。清湯下。藥盡病愈。</p>
<h4>赤白帶下方</h4>
<p>棉花子（炒黑）　去殼研末。米糊為丸。每服三錢。赤帶用沙糖湯下。白帶用白糖湯下。</p>
<p>又方黃狗頭骨一具。燒灰存性。每服三錢。服完即愈。</p>
<h4>白帶丸方</h4>
<p>藕節（八兩）　芡實（二兩）　白茯苓（一兩）　白茯神（一兩）　山藥（三兩）　蓮須（一兩五錢）</p>
<p>上藥為末。膏丸。服藥完病愈。</p>
<p>又方並治遺精。</p>
<p>赤白茯苓（各四兩）　赤白茯神（各四兩）　柏子仁（五錢）　益智仁（五錢）</p>
<p>共為末。米糊為丸。梧子大。每早陳酒或清湯送下。</p>
<h4>血淋方</h4>
<p>車前子（二錢）　葵根（一錢）</p>
<p>水煎多服效。　又白荷花煎湯飲立愈。</p>
<h4>沙淋方</h4>
<p>車前草搗汁半碗。入蜜一兩懸井中。五更溫服效。　如白淋。去蜜加沙糖一兩。</p>
<h4>行經腹痛方</h4>
<p>兼能種子。</p>
<p>真蘄艾　紅花　當歸　益母草（各三錢）</p>
<p>酒煎。另用雞蛋一個。刺數孔。入藥罐內同煮熟。即以藥汁同雞蛋吃下。不過三個痛止。</p>
<p>即</p>
<h4>子宮脫下方</h4>
<p>治婦人濕熱。煩勞太過。子宮陰中脫出。無論有娠無娠俱可服。</p>
<p>藿香　臭椿皮　荊芥（各三錢）</p>
<p>煎湯洗之。如已收上。可不必服藥。如不收上。即服後方。</p>
<p>人參（一錢）　炙　（一錢五分）　白朮（一錢）　歸身（八分）　炙甘（五分）　陳皮（五分）　升麻瀉（各一錢）</p>
<p>如上焦有火頭眩。去人參加沙參二錢。薑棗為引。服一二劑即愈。再用歸皮湯調理。不可煩</p>
<h4>崩漏方</h4>
<p>阿膠（五錢炒為末）　乾薑（五錢炒黑）　香附（五錢醋炒黑）　蘄艾（五錢）</p>
<p>將薑附艾三味。用好酒二杯。煎一杯。和阿膠末。空心熱服。覺熱至臍即止。患一年者二帖白雞冠花（五錢炒）　炙甘（二錢）　百藥煎（二錢）　木耳（二錢）　白芷（一錢）</p>
<p>共為末。每日空心。當歸湯送二錢。藥完永不再發。</p>
<h4>血崩神方</h4>
<p>真阿膠（二兩炒）　慎火草（即火炎草炙焦研二兩）　棕毛（燒存性一兩）　龍骨（　）</p>
<p>牡蠣（　）</p>
<p>共為末。蜜丸梧子大。空心酒下三錢。</p>
<h4>血崩不止方</h4>
<p>蓮蓬殼荊芥穗燒存性。各半為末。每服二錢。米飲湯下。</p>
<p>又方棉花子燒存性。酒下三錢立止。</p>
<h4>保產無憂方</h4>
<p>歸身（一錢五分酒洗）　川芎（一錢五分）　厚朴（七分薑汁炒）　白芍（一錢二分酒炒冬月只用八分）　川貝（去心一空心煎服。六七月即可服。臨月服三五帖甚妙。難產橫生。胎動不安等症並治。兼</p>
<h4>鯉魚湯</h4>
<p>孕婦五六個月。腹大異常。高過心胸者。乃胎中蓄水。如不治子母難保。此方主之當歸（酒洗一錢五分）　白芍（一錢五分）　白茯苓（二錢）　白朮（炒二錢五分）　陳皮（三分）用鯉魚一尾。重半斤之上。去鱗腸白煮熟。去魚留汁二盞。加薑三片。同前藥慢火煎至一盞</p>
<h4>胎衝上心危急方</h4>
<p>白朮（五錢）　條芩（二錢）　白芍（四錢）　枳殼（一錢）</p>
<p>水煎服。如人壯健。單用枳殼五錢。煎服亦可。</p>
<h4>阿膠丸</h4>
<p>治娠婦大便閉。</p>
<p>枳殼（麩炒）　阿膠（炒等分）</p>
<p>為末。蜜丸梧子大。六一散為衣。清湯下二十丸。未通可加至五十丸。</p>
<h4>真人安胎散</h4>
<p>舊葵扇（燒灰三錢）　二蠶砂（二錢）</p>
<p>共為末。用鳳凰衣十四張。煎湯送下。</p>
<h4>阿膠酒</h4>
<p>孕婦血痢。並下血皆妙。</p>
<p>阿膠（炒二兩）　酒（一斤半）</p>
<p>煮化服。或黃明膠亦可。</p>
<h4>二神散</h4>
<p>治娠婦痢。</p>
<p>雞子（一枚）　破頂去白留黃。入黃丹一錢。攪勻封口。鹽泥固。火上煨焙。泥干取出為末。</p>
<h4>胎前產後下痢方</h4>
<p>敗龜甲。以米醋炙為末。調服自愈。</p>
<h4>娠婦下痢方</h4>
<p>黃柏（蜜拌炒焦為末）　蒜（煨熟去皮）　二味搗為丸。桐子大。空心米湯下三五十丸。</p>
<p>一日三</p>
<h4>止啼湯</h4>
<p>治妊娠兒在腹中啼。</p>
<p>黃連（二錢）　甘草（一錢）</p>
<p>水煎服立愈。</p>
<h4>達生散</h4>
<p>當歸（酒洗）　白芍（酒炒）　人參　白朮（土炒）　陳皮　紫蘇（各一錢）　炙甘（二錢）　大腹皮芎（一錢）　夏加黃芩（孕婦八九個月。服數十劑。有力易生。較勝瘦胎散。</p>
<h4>毓麟丸</h4>
<p>專治一保胎。服至七個月平安。可以止藥。</p>
<p>人參（一兩五錢）　條芩（鹽水炒二兩）　歸身　杜仲（各三兩）　白朮（炒四兩）　川斷（酒浸一晒乾四兩）</p>
<p>共為末。米糊為丸。綠豆大。空心服七八十丸。清湯下。一方加黃　蜜炙一兩五錢。</p>
<h4>通產散</h4>
<p>臨產交骨不開。五七日不生。及矮小女子。交骨不開。死在須臾。服之一二寸香時敗龜板（一個炙四兩）　女人發一握（洗去油　存性擇生過男者）　當歸（全用四兩）　川芎（二共為末。每服六錢。圓眼湯下。有力者加人參一錢。煎湯下更妙。</p>
<h4>難產方</h4>
<p>麻油（五錢）　好蜜（一兩）</p>
<p>同煎十數沸。溫服。胎滑即下。</p>
<h4>鼠腎丸</h4>
<p>鼠腎子（一對）　用燒酒浸三日。去皮膜。　輕粉　雄精（各一錢）　檀香（三分）　麝（一分）</p>
<p>下一丸立效</p>
<h4>橫生方</h4>
<p>於本婦右腳小指頭。灸三壯。艾如麥粒大神驗。</p>
<h4>潤胎方</h4>
<p>產婦胎未下。而胞水先流。則干澀難產。以車前子二三兩。酒半碗。水四碗煎服。</p>
<h4>胞衣不下方</h4>
<p>瓦松煎汁。服一口即下。　或用蟬蛻。瓦焙乾為末。清湯下。一刻即落。神效。</p>
<p>又方小貝母七個去心。煎服立下。</p>
<h4>治子死腹中不出方</h4>
<p>黃牛屎。　炒熱。醋調敷母臍。即出。</p>
<h4>催生遇仙丹</h4>
<p>蛇蛻一尺（新瓦上　存性）　蓖麻（淨仁七粒搗爛）　朱砂　雄黃（各一錢）</p>
<p>共研為末。入濃粥少許。為兩丸。候胞破水下。安臍中一丸。清涼膏封固。胞下速去。</p>
<p>不可</p>
<h4>血暈方</h4>
<p>此物須預備。</p>
<p>韭菜一把。寸斷入酒壺。以滾醋泡之。塞大口。用小口觸鼻即醒。如昏迷打呵。用人參一錢</p>
<h4>生化湯</h4>
<p>當歸（全五錢）　川芎（二錢）　炮薑（四分）　炙甘（四分）　桃仁（十粒）　紅花（八分）</p>
<p>水煎服。如汗多。減用川芎五分。小腹急痛。加元胡索一錢。汗出如油不止。加參　。</p>
<p>血暈四錢</p>
<h4>通乳方</h4>
<p>治產後乳汁不通。</p>
<p>木通（二個）　豬前蹄（一個）</p>
<p>煮爛並汁食之。即通。</p>
<p>又方豬前蹄（三只）　木通（五錢）　石膏（五錢）</p>
<p>煮熟食蹄與湯。即通。</p>
<h4>產後無乳方</h4>
<p>凡乳母不宜吃豬肝。</p>
<p>黑芝麻（炒焦為末三錢）</p>
<p>熱酒沖服。或用豬蹄湯沖服更妙。</p>
<h4>催乳散</h4>
<p>漏蘆　通草（各一錢）　貝母（二錢）　白芷（一錢）</p>
<p>共為末。用豬前蹄一個。酒水各半。煎湯送下。不可用鹽神效。</p>
<h4>子腸不收方</h4>
<p>枳殼（三錢）　煎服即收。</p>
<h4>縮舌散</h4>
<p>治產後舌出。</p>
<p>朱砂為末敷之。　或將盆急擲。驚之即收。並治房欲後。舌出不收。即將本婦鞋底炙熱。</p>
<p>頂</p>
<h4>產後經風方</h4>
<p>柚子皮（二個）　金銀花（半斤）　蘇梗（一兩）　過海風藤（四兩）　防風（一兩）　茄杆（一兩）</p>
<p>煎水一大鍋。傾盆內。患人坐於上。圍以綿被。勿令出氣。熏二次後。可服煎藥。</p>
<h4>華佗愈風散</h4>
<p>治產後中風口噤。手足螈　。如角弓式。產後血暈。不省人事。四肢強直。或吐瀉欲死。　荊芥穗微焙為末。每服三錢。酒調服。或童便溫服。噤口則挑齒灌亦效。　荊芥乃產後要藥。角弓反張。產後惡候。得此症者。十存一二而已。</p>
<p>發熱。以致迷悶。亦如上治之。　男婦中風口噤。酒服二錢立愈。</p>
<h4>血塊痛方</h4>
<p>伏龍肝（三錢研極細）　黃酒服。三錢立愈。</p>
<h4>止乳方</h4>
<p>婦人子壞。而乳不收。恐生乳病者用之。</p>
<p>麥芽（一兩）　水煎溫服。乳即收上。</p>
<h3>兒科門</h3>
<h4>白膜裹舌</h4>
<p>小兒初生有白膜皮裹舌。或遍舌根。可以指甲刮破。令血出。以　過白礬。如米粒少許敷之</p>
<h4>生下無氣</h4>
<p>小兒生下沒氣者。切不可棄之。即用新綿裹暖。以胞衣放鍋上。架起鍋內。著水漫火蒸。</p>
<p>令止</p>
<h4>頭裂奇方</h4>
<p>一小兒方七月。連胞生下。破胞而出。與乳吃得活。至三日後。忽頭破作四塊。此乃母力不</p>
<h4>撮口臍風</h4>
<p>小兒初患之時。齒根上有小泡。如粟米狀。急以溫水蘸。青軟絹裹指。輕輕擦破。兒口即開若</p>
<h4>鵝口白</h4>
<p>朱砂（二錢）　硝（一錢五分）　枯礬（三分）　鵝口皮（一錢陰乾火　存性）</p>
<p>共為末。先用亂髮裹指。將口內白拭去。用井水調藥。雞毛　之。</p>
<h4>臍不干</h4>
<p>亂髮燒灰。敷之效。</p>
<h4>臍風青筋神效方</h4>
<p>南星　半夏（各五分）　天麻　全蠍（各三分）　巴豆霜（一錢）</p>
<p>上為末。米糊為丸。粟米大。每服五丸。用牛黃少許磨水送下。其青筋處。用燈火打數十次</p>
<h4>小兒初生</h4>
<p>用胡桃去皮嚼爛。以綿包如乳頭樣。使兒吮汁盡。待其腹內污物去盡。並無瘡毒之患。</p>
<h4>稀痘方</h4>
<p>赤豆　黑豆　綠豆（各一撮）　甘草節（五分）</p>
<p>不時煎服。屢驗。　凡鄰近出痘。即與兒食。可免不出。即出亦輕。</p>
<p>又稀豆方朱砂（一分五厘飛淨）　黃連（一分五厘）　甘草（一分五厘）　臍帶（本人者瓦　存性）</p>
<p>上藥四味。各為細末。蜜調。一日夜於小兒口內抹完。則痘不出。即出亦少。</p>
<p>又方將臍帶瓦上焙乾。每重一分。用朱砂五厘。當歸生地煎濃汁一二蜆殼。調帶末抹兒上　。</p>
<p>並</p>
<h4>絕痘方</h4>
<p>用活烏鯉魚（一個）　入朱砂（五錢）　放魚口內。縫好陰乾。如端午日制。到冬至日煎湯。與</p>
<h4>稀痘丹</h4>
<p>立春前後三日內。采半開半含紅梅花蕊一茶鐘。去蒂仍放鐘內。以碟覆蓋一周時。其氣汗自緩緩忌鐵</p>
<h4>痘初起</h4>
<p>將臨清濟寧。上好油胭脂。點兩眼角。則免壞眼。</p>
<h4>痘疹神效三蠟丸方</h4>
<p>三丸俱用黃蠟為殼。</p>
<h4>化毒黃蠟丸</h4>
<p>朱砂（五兩明亮）　當歸　生地（各一兩）　犀角（要帶黑有棕眼）　人參（各五錢）　川連葛根牛黃（一錢上切片。將朱砂打綠豆大。絹袋裝縫。水十碗。酒二碗。同藥入砂鍋內。文武火煮之。</p>
<p>只剩即細氣和奏奇牛黃痘毒掃蕩</p>
<h4>快斑紅蠟丸</h4>
<p>當歸（紅花汁浸焙乾）　熟地（薑製）　生地（酒洗）　人參（各二兩）　白朮　川芎（各一兩酒炒）</p>
<p>牛黃（一錢五分）</p>
<p>上為細末。蜜丸如皂角子大。三歲兒服一丸。一歲服半丸。薄荷燈心湯下。此丸專治五六日益血毒日</p>
<h4>百解綠蠟丸</h4>
<p>歸尾（紅花汁浸二兩）　生地（一兩二錢）　白朮（八錢）　人參（八錢）　牛蒡子（炒八錢）　牛黃各五錢）　白丹皮（七麻汁浸四錢）</p>
<p>上為細末。蜜丸皂角子大。三歲一丸。一歲半丸。蠟丸收貯。愈久愈效。此丸專治十二日後痘疔。</p>
<p>患。</p>
<p>知毒從述。取</p>
<h4>痘瘡黑方</h4>
<p>豬第二番血清半盞。和冰片一分溫服。良久下痰血一二次。痘即紅起矣。</p>
<h4>痘瘡破爛方</h4>
<p>用陳年松花。　或干綠豆粉。　或蕎麥面敷之愈。</p>
<h4>痘生眼內方</h4>
<p>刺鱔魚之血點眼。不生蘿卜花。　又以麥冬（三錢去心）　搗爛。貼足心。其痘自落。</p>
<h4>痘後回毒膏</h4>
<p>兼治諸般熱毒。</p>
<p>麻油（四兩）　入番木鱉（一兩去毛）　同油煎枯。撈出木鱉。入壯人頭發（三兩）　熬化。滴水又方八月采田塍邊野毛豆。連莖根　存性為末。真麻油調敷。不問初起日久。已潰。未潰。</p>
<p>神效</p>
<h4>婁金散</h4>
<p>犬屎內骨（七分經霜糞更妙多收布包打碎水淘出骨洗淨搗爛）　金銀花（三錢）</p>
<p>水煎服。不問寒熱虛實。初起一服即消。已潰即斂。神方也。</p>
<h4>移回毒法</h4>
<p>治痘毒。生在枝節緊要處。</p>
<p>白豆為末。水調敷之。即攻平肉處發毒。以免後患。</p>
<h4>痘後余毒移法</h4>
<p>或生於手足節彎處。不知治法。恐成痼疾。須於毒腫起時。即剝蝦蟆皮貼之。內服敗毒藥。</p>
<p>金氏七寶丹蛇含石（六兩）　代赭石（六兩　二味以銀罐盛貯炭火內燒紅陳米醋淬其細者自沉醋底粗者撈香（一錢五上為細末。於端午正午時。用米粽入臼搗爛丸。如芡實大。用微火烘燥。瓦瓶盛之。密封勿竹葉</p>
<h4>又七寶丹</h4>
<p>膽南星（五錢）　麝香（二分五厘）　天竹黃　山藥（各三錢）　鉤藤　羌活（各三錢）</p>
<p>全蠍（一上為細末。蜜丸梧子大。辰砂金箔為衣。　急慢驚風薄荷湯下。感冒風寒發熱。薑蔥湯下。</p>
<p>清一丸半丸不拘時服。</p>
<h4>抱青丸</h4>
<p>（治小兒驚風痰嗽口臭喉腫痰涎壅盛厥逆癲癇一切風火等症及大人痰火症神效）</p>
<p>雄精　辰砂　琥珀屑（各二錢）　竹瀝霜（五錢）　明天麻（七錢面煨）　膽星（一兩九制）　珍珠上為細末。甘草熬膏作丸。如芡實大。朱砂為衣。　薄荷燈心湯下一丸。　取竹瀝霜法。</p>
<p>用以竹片括下收貯。但竹瀝清淡。成霜較少。今立一簡便法門。取上號天竹黃。研細水飛。入瀝晒乾。再入再晒。以加重五錢為度。用之功效相等。</p>
<h4>消疳丸</h4>
<p>（治疳眼因飲食失節以致腹大面黃肝血不能養目先治其疳而目自愈　忌面食炙爆發物）</p>
<p>蘆薈（一兩　）　胡黃連（五錢）　五穀蟲（先洗瓦焙乾二兩）</p>
<p>同研為末。蜜丸彈子大。每空心。米飲湯下一丸。至腹小。服理脾丸。</p>
<h4>理脾丸</h4>
<p>陳皮　茯苓　山楂（半生半蒸各一兩）　白朮（炒二兩）　黃連（炒）　蘆薈（　）　炙甘共為末。神麯黃米糊丸。彈子大。薑湯下。</p>
<h4>集勝丸</h4>
<p>（銅璧仙人曰凡治疳不必細分五疳但虛則補之熱則清之冷則溫之吐則治吐利則治利積治積蟲則治蟲不出此方加減用之屢試屢驗）</p>
<p>蘆薈（　）　五靈脂（去泥沙炒）　夜明沙（淘淨炒黑）　使君子（蒸取肉一半生一半熟）　砂仁當歸　青皮（者。加膽草。（三錢）　去砂仁莪朮子肉（各一錢五分）　去莪朮青皮。因於風者。加煨三棱川楝子肉小茴香。（炒各二錢）</p>
<p>錢）因於蟲者。加白人參白朮（各二錢）　去砂上為末。雄豬膽汁二個。打神麯糊為丸。如綠豆大。每日米湯下十丸。</p>
<h4>千金散</h4>
<p>治小兒一切痰喘。急慢驚風。雖至死咽下即活。</p>
<p>全蠍（炙三分）　朱砂（四分水飛）　牛黃（六厘）　炙甘（一分）　麝香（二厘）　膽星（二分）　黃共為細末。用五六厘。薄荷燈心同金銀花煎湯。不拘時調服。</p>
<h4>活絡丸</h4>
<p>（治臍風撮口急慢驚風痰膠滿口牙關緊急角弓反張等症）</p>
<p>川牛黃（一分）　辰砂（五分）　蜈蚣（一大條炙）　全蠍（全者三個酒洗炒）　麝香（少許）　膽礬硝（二分）</p>
<p>上研細末。用牙皂煎湯。糯米粉打成糊為丸。綠豆大。每服七丸。蔥白煎湯下。以利為度。</p>
<h4>五疳散</h4>
<p>（專治小兒五疳潮熱面黃肌瘦煩渴吐瀉肚大青筋手足如柴精神疲倦歷試有效無疾預服疾不生元氣虛弱者服半月自然身體輕健）</p>
<p>白朮（蜜水炒一兩五錢）　白茯苓　使君子（各七錢五分碎炒）　甘草（一錢五分）　山楂肉　麥兩）　芡實（蒸二錢共為細末。蜜丸。每服一錢。清湯下。</p>
<h4>回生丹</h4>
<p>（治小兒慢脾風）</p>
<p>附子（童便制）　人參（各五錢）　天麻（一錢）　紫河車（一錢）　全蠍（一錢五分炒）　山藥（三珀牛黃（各五分）　茯上研細末。麻油老酒服。一歲者一分。量兒大小加減服。</p>
<h4>治急驚風方</h4>
<p>辰砂　天竺黃（各一錢）　冰片　麝香（各一分）　月石（三分）　青黛（五分）　雄黃（三分）　珍上研細末。蜜丸黃豆大。薄荷湯調下一丸。</p>
<h4>走馬疳</h4>
<p>陳年糟茄一二個。燒灰存性。研末敷上。一二次即愈神效。</p>
<h4>小兒疳積並痢方</h4>
<p>雞肫皮（炒黃色）</p>
<p>為末。每服一錢。又治水瀉。及脾胃虛弱。以其能化食去積。健胃故也。</p>
<h4>雞肝散</h4>
<p>治疳積如神。或為丸服亦可。</p>
<p>白芙蓉花（陰乾三錢）　肉果（面裹煨去油一個）　胡連（五分）</p>
<p>上藥同雄雞肝一具。加酒漿一碗。重湯燉熟。去藥食肝。多吃十幾枚。即眼瞎亦愈。</p>
<h4>桃花散</h4>
<p>治痘後瘡成毒。</p>
<p>滑石（五錢）　龍骨（二錢）　白芨（一錢）　赤石脂（一兩）</p>
<p>上藥共為末摻之。</p>
<h4>肚大牙疳方</h4>
<p>斑蝥（七個去頭足）　糯米（一撮淘）</p>
<p>同炒黃。去米。將斑蝥為末飯丸。雄黃末為衣。晒乾入雞子內。飯鍋蒸熟。去藥吃雞子。</p>
<h4>喉瘡口疳方</h4>
<p>人中白（　）　輕粉（各一錢）　硼砂　胡連　薄荷葉　蠶子（燒灰）　川連　黃芩（各七分）　兒（二錢　存性）</p>
<p>以上俱為細末。吹患處。</p>
<h4>急慢驚風方</h4>
<p>取活鼠腎子。陰乾磨少許。清湯送下數匙。一腎可治數人。（放鼠仍活）。</p>
<h4>走馬牙疳方</h4>
<p>經霜貓糞。瓦　存性為末。每一錢加冰片一分青黛五分胡連三分。共研為細末。摻牙根。</p>
<h4>口疳腐爛方</h4>
<p>薄荷（六錢）　黃柏（五錢）　青黛（水飛四分）　白硼砂（三分）　冰片（一分）　朱砂（水飛二分）</p>
<p>共研細末。瓦罐收貯。每用少許。敷之數日愈。</p>
<h4>牙疳摻藥方</h4>
<p>真青布（五寸燒存性）　經霜野木連（一個　存性如無以白鯗頭代之）　冰片（五厘）　川倍子（共為末摻患處。</p>
<h4>蟾膽丸</h4>
<p>治小兒急慢驚風。</p>
<p>雄黃　朱砂　黃連　乳香（各二分四厘）　冰片（一分三厘）　麝香（一分三厘）</p>
<p>共為末。蝦蟆膽（五六個滴取汁）和藥為丸。芡實大。每服一丸。薄荷湯下。</p>
<h4>雞肝丸</h4>
<p>治小兒五疳蘆薈（炒一錢）　牛黃（一分）　雄黃（七分）　雷丸肉（炒二錢）　使君子（炒二錢）</p>
<p>共為末。用十兩重雞肝一具。秤藥末五分。塗肝上蒸熟。與小兒食之。或作丸如米粒大。</p>
<p>白</p>
<h4>小兒久病腹大人瘦</h4>
<p>初用人參調胃等藥二三帖。用蝦蟆一只洗淨紙包。外用黃泥包裹。猛火　過存性。去泥紙研</p>
<h4>避難救兒方</h4>
<p>（婦女避難小兒啼哭棄者甚多此方可止兒啼遇兵亂須刊刻貼示救人甚眾）</p>
<p>用棉花團（一個）不可甚大。大則塞口。又不可小。小則恐吞下。外用線扎緊。用蜜糖水煮透</p>
<h4>蛔厥方</h4>
<p>一人年近十二歲。病發目瞪口牽。手指捏撮。猶如風狀。發過即安。醫以風痰驚三症治之。</p>
<h4>小兒脫肛方</h4>
<p>鱉頭燒灰存性。為末。加冰片少許。麻油調搽即愈。</p>
<h4>蟬花散</h4>
<p>治夜啼不止。狀若鬼祟。</p>
<p>蟬蛻下半截為末。薄荷湯入酒少許。調下二三分。</p>
<h4>馬脾風方</h4>
<p>（肺脹喘滿胸高氣急兩脅扇動陷下作坑鼻竅張扇咳嗽聲啞痰涎潮塞身生油斑狀如早治即死）</p>
<p>人參　檳榔（各三分）　黑丑　白丑（各二分）　木香（一分）　生大黃（一分）</p>
<p>共為末。蜜水調桑白皮湯下一匙。名一捻金。服之無不神效。</p>
<h4>小兒水瀉方</h4>
<p>蔥薑搗爛。入黃丹為丸。如豆大。每服一丸。填臍內以膏蓋之即止。　又白面炒、飯鍋焦、</p>
<h4>腹脹大小便不通</h4>
<p>急令母漱口吸咂。胸前。背心。手足彎。臍下共七處。以紅赤色為度。須臾即通。</p>
<h4>小兒止瘧方</h4>
<p>胡椒（三粒）研末。入砂糖調勻為丸。瘧前一日。入臍內以膏蓋於上。使外游。次日解去。</p>
<h4>小兒痢方</h4>
<p>用梧桐葉三四片。煎湯洗足。三五次愈。</p>
<h4>小兒口白舌硬方</h4>
<p>不能飲食。</p>
<p>巴豆仁（一粒）　麝香（厘許）</p>
<p>共研成丸。貼眉心即愈。以舌變紅色赤色為度。</p>
<h4>肥兒丸</h4>
<p>（治小兒面黃飲食不進四肢倦惰冷汗夜熱腹大肚痛等症時時服之百病皆愈）</p>
<p>人參　黃連（薑汁炒）　神麯（炒）　麥芽（炒）　山楂（炒）　白朮（土炒各七錢）　茯苓炙甘（封以穀糠煨透）</p>
<p>共為末。以四五年陳米糊為丸。每丸重一錢。飯後與服。</p>
<h4>畫眉丹</h4>
<p>治小兒不肯斷乳。</p>
<p>山梔（三個　存性）　雄黃（少許）　朱砂（少許）　輕粉（少許）　黃丹末（一錢）</p>
<p>共為末。用生麻油調勻。候小兒睡熟。勿令知覺。以新筆畫兒兩眉上。次日即不吃乳。</p>
<h3>膏藥門</h3>
<h4>一見消</h4>
<p>治風氣折傷。並癰毒等症。其初起癤毒。須留頭攤貼。</p>
<p>川烏（三兩）　草烏（三兩）　川倍子（四兩）　鬧楊花（三兩）　大黃（六兩）　血余（四兩）　生南兩）　土貝母（四兩）　金銀花上藥用麻油五斤。浸三日。煎枯去渣濾淨。入紅丹四十兩收成膏。水浸去火毒。任意攤貼。</p>
<h4>加味太乙膏</h4>
<p>治跌打損傷。風寒濕痹。腰腹心胃疼痛。並已潰瘡瘍。拔毒收口。</p>
<p>黃柏　防風　元參　赤芍　白芷　生地　大黃　歸身　肉桂　海藻　昆布　蒼朮（以上各五翹花上藥用真麻油五斤浸。春五。夏三。秋七。冬十日。熬枯去渣。入飛過紅丹四十兩收成膏。</p>
<h4>松香膏</h4>
<p>治黃水瘡。　瘡俱效。</p>
<p>松香末（一兩）　蓖麻仁（四十九粒研細）</p>
<p>上藥用重湯煮化攪勻。隨意攤貼。如破　。用烏金紙攤。</p>
<h4>痞塊膏</h4>
<p>治積食痞脹等症。</p>
<p>川椒（四十九粒開口者）　倍子（七粒整者）　真麻油四兩。熬枯去渣。入鉛粉二兩收成膏。離不效。</p>
<h4>膏藥瘰方</h4>
<p>用人乳一鐘。入枯礬少許。雞翎塗之。一二日愈。</p>
<h4>水火既濟膏</h4>
<p>治夾棍癭瘤爛瘡。跌打損傷風痛。</p>
<p>麻油（二十兩）　象皮（三錢）　紅花（三錢五分）　大蓖麻（二十粒去殼）　五銖錢（二個）　蛛滾取起。連鍋放水缸內兒茶、麝香、各末四</p>
<h4>千捶膏</h4>
<p>治諸毒諸瘡。未潰已潰。俱可貼。惟　瘡楊梅毒不貼。</p>
<p>長夏枯草（一斤）　煎汁。入北蓖麻肉（二百四十粒）　甜杏仁（二百四十個）　合桃肉（十六個）</p>
<p>撈起為末。後（各六錢）並前煮</p>
<h4>蒲公英膏</h4>
<p>蒲公英（十數斤）熬成膏。用香油半鐘收成。貼諸毒瘰　。痘瘡疔瘡等症。</p>
<p>內庭秘制白玉膏　治一切癰疽。瘡瘍疔　。未成貼之消。已成貼之呼膿生肌。</p>
<p>大鯽魚（二尾十兩重者佳不去鱗腸）　大蝦蟆（一只重半斤以上者佳）　巴豆仁（三兩）</p>
<p>蓖麻仁銅鍋熬油滾入巴豆蓖麻。待枯撈出。後入鯽魚蝦蟆。仍候枯撈出。濾淨再熬。至滴水不散。</p>
<p>個）　面裹煨熟。為末攪勻。傾入水盆內去火毒。用時重湯燉攤。</p>
<h4>凍瘡破爛膏</h4>
<p>大黃（八兩）　麻油（一斤）　黃丹（八兩）</p>
<p>煎成膏攤貼。如無膏藥。遇凍瘡破者。用水煎大黃片貼。如未破酒煮貼俱效。</p>
<h4>鬱金膏</h4>
<p>治刀傷。　火傷。瘡毒未成留頭。兼女人貼腳肢。</p>
<p>生地（二兩）　鬱金（三兩）　臘豬油（一斤二兩）　熬枯去渣。入甘草末（一兩）　黃蠟（四兩）</p>
<h4>趙府神應比天膏</h4>
<p>接折骨斷指。化大毒。並治百病。</p>
<p>當歸　紅花　生地　川芎　芍藥　蘇木（各二兩）　羌活　獨活　莪朮（煨）　防風　荊芥野斷蟬蛻　全蠍（湯枝夏枯草　露蜂房（（皂角水洗三兩）　胎發（二十貝山慈菇　木別仁　甘草大黃象皮　昆布（洗去鹽味）　鳳凰蛻（各二兩藥玄參　五加皮　天麻　人參　大力子雄黃（二兩）　銀朱（六錢）　朱砂（二兩）　花蕊石（二兩為粗末用硫黃末二兩攪勻入陽城罐內傾銀罐內　紅醋淬骨（二兩照自然銅制）</p>
<p>兩五錢同石膏研）　兒茶（二兩珠（一兩即人血或用山羊血代）</p>
<p>片（二錢同朱砂研）　蝻蛇膽（五錢同雄香（五錢）　木香（一兩五錢）　降香（五錢以上五錢）　以上為細末黃蠟（三兩）　白蠟（三兩）　蘇合油（四兩）　淘鵝油（四兩）真麻油（十五斤）　將粗藥浸春五。夏三。秋七。冬十日。入鍋文武火煎枯。絹濾去渣。又煎至滴水成珠。下淘鵝油、黃白蠟、蘇合油。再下炒過黃丹七斤。柳枝攪勻。試其軟硬得所離火。下細藥。冷定。沉水中三日。取起攤用。</p>
<h4>貼膏法</h4>
<p>五癆七傷。遍身筋骨疼痛。腰腳軟弱。貼兩膏肓穴。兩腎俞穴。兩三裡穴。　腰痛。貼命門癱右精白正頭風。貼風門穴。　走氣。貼章門穴。　寒濕香港腳。貼兩三裡穴。　一切無名腫毒。癰疽發背對口。及瘰　瘡楊梅風毒。跌打損傷。指斷臂折。痞塊症瘕。皆貼本病患處。</p>
<h4>清涼膏</h4>
<p>白芷　大黃　生地　甘草　苦參　黃柏　黃芩　當歸　元參（各一兩五錢）　白芍（一兩）　紅上藥麻油（三斤）浸三日。熬枯去渣。入水粉紅丹。（各十二兩）收成膏攤用。</p>
<h4>灸瘡膏</h4>
<p>當歸　川芎　芍藥　白芷（各二兩）　細辛　頭發（各一兩）</p>
<p>用真麻油（一斤半）　浸三日。熬枯去渣。入鉛粉。（十二兩）收成膏攤貼。</p>
<h4>霏云祖師乩傳膏藥方</h4>
<p>治五癆七傷。一切濕瘓。流火痰注。傷筋動骨。惡毒怪瘡。血瘕食痞。腹臌胸　。湯火蛇傷熟地　生地　當歸　番木鱉（去毛）　白芷　赤芍　元參　大黃　肉桂　川椒　生薑（各二兩）</p>
<p>槿皮（各以上藥各咀皮。用真麻油（十斤）浸之。春五。夏三。秋七。冬九日取起。入大鍋內。</p>
<p>炭火熬待成膏輕粉、（四拔百余次。</p>
<p>癱瘓勞傷。宜休會其病患處貼之。</p>
<p>疝氣按痛硬處。丹田腎俞貼之。</p>
<p>瘧疾。貼寒熱起處。</p>
<p>水瀉痢疾腹痛。貼臍。　食積。貼胃口。</p>
<p>臌脹。用巴豆白仁一粒。少少綿裹納臍內。膏蓋之。</p>
<p>哮病。貼肩井穴心背。</p>
<p>頭風。貼太陽。　以上俱七日一換。</p>
<p>凍瘡爛瘡與癬。用貼過舊膏藥貼之奇效。凡積久難愈之症。須貼半年數月方愈。勿謂無速效</p>
<h4>化痞反正膏</h4>
<p>治諸般痞塊積聚。寒熱腹痛胸隔痰飲。小兒大肚疳積。婦人經水不通。血瘕等症。孕婦勿用川烏　草烏　半夏　紅牙大戟　芫花　甘草節　甘遂　細辛　薑黃　山甲　野狼毒　牽牛威參丹參　白芨　貝母（各一兩俱反藜蘆並治痞疾）　藜蘆（蔥管者真一兩）　干蟾（四只）</p>
<p>用麻油（五斤）浸七日。照常煎枯去渣。秤油一斤。用密陀僧八兩。次下黃占二兩。沸止離火。或用豆腐泔水浸。揉至三次。又用井水抽拔一度。以去辣味。免發瘍。復上火。不住手攪成膏。待稍溫下阿魏二兩。箬上炙研末投入。或同赤石脂研亦可。不住手攪勻。瓷器收貯。</p>
<p>用狗皮攤貼。每張重五錢。半月一換。重者不過三貼必愈。</p>
<h4>化痞消積膏</h4>
<p>凡小兒不壽。卒多痞積所致。此膏專治痞積氣塊。身熱口內生疳。用狗皮攤貼患處。三日即秦艽　三棱　莪朮　蜈蚣　巴豆（各五錢）　當歸　大黃　黃連（各三錢）　全蠍（十四個）　山二錢）　麝香　片熬枯去渣。入紅丹一斤二兩。以槐柳枝攪至煙盡。滴水成珠</p>
<h4>接骨神異膏</h4>
<p>骨碎補　當歸　赤芍　羌活　草烏　蘇木　桃仁　甘松　三柰　五加皮　大黃（各二兩）　川油（二斤）　浸前藥。煎枯去渣。收貯聽用。松香十余斤。以棕皮青松毛鋪甑底。入松香加多水蒸之。其松香盡流下甑去。加冷水不住手十余次。制五斤。淨末聽用。頭發（勿洗一斤）　舊發網巾（三頂）　血管鵝毛（二只）　另用油二斤。另鍋煎至發化為度。合香末。再下細藥。　土鱉蟲（炒黑醋淬七次）　阿魏（一兩）　乳香（三兩炙酥）　黃狗前蹄（一對　過）　肉桂（二兩去粗皮）上為細末。入膏內攪勻。水浸三日去火氣。攤貼接骨如神。</p>
<h4>紫金膏</h4>
<p>治風寒。濕氣痞積。漏肩風。鶴膝風。　氣。跌打損傷。夾棍棒瘡神效。</p>
<p>松香（十二斤溶化傾在地上候冷取起為末篩過聽用）　另用白芷、麻黃、川烏、草烏、（各六水三十碗。煎汁十碗先入汁四五碗。候沸入松兩。熬至滴水不散。俟冷藥、（去油）肉桂、五靈脂、</p>
<h4>岐天師一見消</h4>
<p>金銀花（一斤）　蒲公英（四兩）　赤芍（四兩）　黃　（八兩）　紫花地丁（六兩）　紅花（八兩）　鬼饅頭（四兩）　共七味　地榆（二兩）　黃柏（二兩）　羌活（一兩）　半夏（一兩）　紫草（一兩）</p>
<p>子（二兩）　獨活（一兩）　黑參（三通（一兩）　大黃（一兩）　柴胡（八錢）　甘草（五錢）　皂角（五錢）</p>
<p>風（五錢）　牛蒡子（五錢）　共二十三味　全蠍（二錢）　僵蠶（二錢）　廣木蟬蛻（三錢）　沒藥（三錢炙）　麝香（二錢）　以上六味共為末。</p>
<p>先將前七味。用麻油（十斤）　煎枯撈起。再下地榆等二十三味。煎枯撈出。再煎至滴水不散小毒一</p>
<h4>金鎖比天膏</h4>
<p>治發背癰疽。無名腫毒。疔瘡鼠　。馬刀瘰　。紫疥紅絲。鴉焰漏睛等瘡。兩腿血風。</p>
<p>內外萬般勢凶紫花地丁　劉寄奴（去泥根）　野麻根　蒼耳草（連根葉子）　草（各一斤）　山甲（一具或先煎穿山甲枯焦。余藥入（八斤）油內。加老酒蔥汁各二碗。文武火煎藥枯去渣。復煎至滴水砂）</p>
<h4>段門子膏</h4>
<p>治疔瘡癰毒瘋痛。痞塊積聚立效。</p>
<p>木通　威靈仙　川烏　羌活　防己（各五錢）　歸尾　白芷　赤芍　生地　穿山甲　玄參黃蠍連梢蛇（一條）</p>
<p>上藥細銼。麻油（六斤）浸。春五。夏三。秋七。冬九。入鍋熬至發化藥枯。去渣。又熬至滴蟾酥（二錢）　乳香（炙）　沒藥（炙）　血竭（各七錢）　兒茶（五錢）　阿魏（二兩）　蘆薈（一兩）</p>
<p>各末攪勻。候凝盛瓷器內。埋土中二十一日。去火毒用。　兼治撲跌傷損。須另加阿魏、麝</p>
<h4>化痞膏</h4>
<p>治一切痞塊。在左脅者更妙。</p>
<p>大黃（五錢）　人參（三錢）　白朮（五錢）　枳實（三錢）　丹皮（二錢）　鱉甲（一兩）　神麯（君子（三錢）　兩頭尖（二錢）　蒲公英（一兩）　金銀花（一兩）　生甘（二錢）　檳榔（二錢）　防風（一錢）</p>
<p>上藥。用麻油（三斤）浸一二日。熬枯去渣。再熬至滴水不散。入飛過紅丹（十八兩）</p>
<p>收成膏。</p>
<p>薄荷葉（二錢）　乳香（五錢）　沒藥（五錢）　赤石脂（二錢）　麝（一錢）　冰片（二錢）　阿魏（上為末。入膏內攪勻。攤貼一個即愈。藥須攤得濃。不可大。</p>
<h4>毓麟膏</h4>
<p>治婦人久慣小產。能保胎十月無虞。並治腎虛腰痛。諸瘡久爛。遺精白濁。及女人血枯經閉神效。</p>
<p>人參（一兩）　桑寄生（一兩）　二蠶砂（一兩五錢）　生地　杜仲　續斷　阿膠（各一兩）　地榆上藥用麻油（一斤半）按季浸。桑柴熬藥枯去渣。下飛過紅丹、（十二兩）黃占、（二兩）</p>
<p>成膏。</p>
<p>為末。入膏內攪勻。收貯攤貼。　如慣於三月墮者。先一個月預貼腰眼。七日一換。保過三其</p>
<h4>五神膏</h4>
<p>血余　蛇蛻　蜂房（各四兩）　元參　杏仁（各二兩）</p>
<p>上用麻油（二斤）浸一日。熬枯去渣。入黃丹（一斤）收成膏。貼一切無名腫毒癰疽等症。如遇</p>
<h4>春雪膏</h4>
<p>治一切腫毒。不必留頭。未成即消。已成貼上能止痛。又能使皮薄易潰。呼膿收口不神效。專治一切　。無論已破未破。俱有奇效。</p>
<p>白膠香（揀淨為末篩過一兩）　蓖麻子仁（紅殼者佳搗極爛四十九粒）</p>
<p>上二味擦拌勻。入瓷碗內。上蓋一小碗。用面糊封口。重湯煮三炷香收貯。用時以重湯烊化</p>
<h3>制藥門</h3>
<h4>造百藥煎法</h4>
<p>五倍子不拘多少。敲如豆板大。以白酒拌勻。置暖處發過。嘗無澀味為度。如澀再拌再發。</p>
<h4>又一法</h4>
<p>五倍子（一斤打碎）　薄荷（四兩）　知母（一兩）　烏梅（七個）</p>
<p>上三味。用水五碗。煎濃汁二碗半。儲存聽用。再煎二汁。將倍子入二汁內浸洗淨。以杵缽內。加頭汁半碗酒濕。依前又浸二日。待倍子生白毛。取出又搗千余下。入缽內。加入頭汁一碗。連浸七日夜完。待倍子又生白毛。又搗千余。做成餅。陰乾用。</p>
<h4>制鹿角霜法</h4>
<p>新鹿角斷二寸。長流水浸三日。刷去垢。每角（一斤）用楮實子（一兩）桑白皮（一兩）</p>
<p>同入鐵鍋黑皮切</p>
<h4>制膽星法</h4>
<p>天南星（不拘多少為末）冬月用黃牛膽汁數個。拌如糊。仍入膽皮內。掛當風處陰乾。</p>
<p>取出為</p>
<h4>制黃法</h4>
<p>嫩黃　（一斤）洗去泥砂。切片晒乾。另用防風（三兩）煎汁二宮碗。又煎二汁一碗。</p>
<p>又煎三汁又汁一微火炒干</p>
<h4>制白朮法</h4>
<p>雞腿冬術去蘆洗淨。用白布一層鋪甑底。將新黃土打碎。如指大。鋪布上一層。再蓋布一層隔。文辛燥之</p>
<h4>又荷葉蒸白朮法</h4>
<p>白朮切片。用荷葉煎湯拌透。外用荷葉包裹。入甑蒸三炷香。取出晒乾。又拌又蒸又晒。</p>
<p>如</p>
<h4>制甘草法</h4>
<p>大粉甘草。刮去粗皮。略捶損蜜塗炙干。又塗又炙。以透為度。切片入藥用。</p>
<h4>制秋石法</h4>
<p>秋月取童便。每缸用石膏（七錢）　桑條攪澄。傾去上面青液。澄去下面滓穢。如此二三次。</p>
<p>上起白霜濟。升打</p>
<h4>製半夏曲法</h4>
<p>半夏（一斤湯泡九次）　生薑（四兩）　小麥粉（六兩）　蓼草搗汁。牙皂煎湯。搗成餅。攤箕上</p>
<h4>取人中黃法</h4>
<p>用小竹筒刮去青。要兩頭有節。節上挖一小孔。入甘草末塞滿。用瀝青封口。冬月入糞缸內</p>
<h4>造神麯法</h4>
<p>六月六日。或五月五日。或三伏日。上寅日采蓼草、（三兩）青蒿、蒼耳、（各六兩）俱搗汁。</p>
<p>酒藥法。愈久</p>
<h4>制血余法</h4>
<p>頭發用灰汁浸一日。取起。洗淨入缸。多水浸之。用木棍攪之。漸漸將面上撈起。再攪再撈內按倒轉炭</p>
<h4>制淡豆鼓法</h4>
<p>黑大豆（一斗）　水浸一宿淘淨。蒸熱攤勻。蒿草蓋面。候上起黃衣。取出用淨水拌之。</p>
<p>干濕火氣</p>
<h4>法制陳皮方</h4>
<p>用陳皮（二斤）　河水浸一周時。用竹刀輕輕刮去浮白。貯竹筐內。再用沸湯淋三四次。</p>
<p>又用煎濃汁加入拌勻</p>
<h4>法半夏制</h4>
<p>（治痰厥中風以八九枚研末清湯下立效痰多者每日服一枚妙）</p>
<p>大半夏（四斤鍛石五升滾水三十碗澄清去渣將半夏浸七日日晒夜露取井水淘三四次水泡三日碗照前法瀝十碗浸。</p>
<p>實陳皮藥扣蓋熱坑上三錢）　五味（五錢）</p>
<p>上式制。</p>
<h4>制杏仁法</h4>
<p>杏仁（去皮尖四兩）　水煮三沸晒乾。入童便內浸透。又晒乾。再以生地、桑白皮、百合、又方大杏仁（去皮尖四兩）　先以川五倍炒黃烏梅（各二兩）銅鑊寬水煮杏仁如墨。取出洗淨。又用出陰乾任用</p>
<h4>取神火法</h4>
<p>劈砂（一斤）帶水研細。以滾水沖之。面上有浮起一層。用荊川紙拖之晒乾。掃下即神火也。</p>
<p>浮起者許於膏上</p>
<h4>取水中金法</h4>
<p>出山鉛（四五十斤）入大鍋內。上下架火煎煉。俟其化至大紅色。面上三開三合。忽現金色。</p>
<p>光景冷個。須口壇一固。勿</p>
<h4>升輕粉法</h4>
<p>水銀（一斤）　鹽　礬　硝　皂礬（各二兩）　研勻。入瓦盆內。上蓋一盆。用鐵絲繞之。鹽鹵掃下貯</p>
<h4>升粉霜法</h4>
<p>水銀（一斤）　鹽　礬　硝　皂礬（各四兩）　研勻。入陽城罐。鹽泥封口。地爐升打。</p>
<p>一炷香色不同</p>
<h4>降藥（一名帝金丹）</h4>
<p>水銀　食鹽　綠礬（青者佳）　白礬　火硝（各一錢）　以上共為細末。入傾銀小罐。</p>
<p>炭火煎滾內紙燃塞冷取起。</p>
<h4>九轉靈藥法</h4>
<p>水銀（一斤）　鹽　礬　硝　皂礬（各八兩）　入陽城罐內。鹽泥固濟。約四分濃。上蓋鐵盞。</p>
<p>香轉角。</p>
<p>起者。仍躋實。架降火。再打升。火前換下罐鐵盞蓋掃膏藥其余各轉所存之藥。研入疥瘡藥內。殺蟲如神。</p>
<h4>打靈砂法</h4>
<p>水銀（一斤）　硫黃（四兩）　先將硫黃入鍋化開。入水銀。炒至不見星為度。入陽城罐內。鐵紫紅色者</p>
<h4>干蒸米露法</h4>
<p>松柏葉露。花露俱同此法。收久不壞。</p>
<p>鐵熬盤置灶上。盤內貯砂三寸許。砂上加銅鏇一面。將米升許淘透入鏇內。合上錫甑。</p>
<p>俟其</p>
<h4>造錫蒸法</h4>
<p>（形如燒酒甑而不貯水內腰有槽傍通於滴口米氣上騰則露珠流入槽內而出下設子口二層內子口子寸俱</p>
<h4>又法</h4>
<p>銅鏇深五寸許。貯米合錫甑於上。入重湯內大火久煮。亦可取露。竟無焦氣。而露較多於前</p>
<h4>制玄明粉法</h4>
<p>朴硝（十斤）　長流水一石煎化。澄去沙土。熬至一半。入盆內露一宿。結成硝去水。</p>
<p>每硝（五七次九泥固濟。濃頂火（十五斤）</p>
<p>生甘末（一兩）炙甘</p>
<h4>制風化硝法</h4>
<p>以提淨芒硝。置風日中。消盡水氣。自成輕飄白粉。　又法以粗瓦瓶盛硝。掛當風檐下。</p>
<p>待</p>
<h4>制瓜霜法</h4>
<p>朴硝（一斤）打碎老皮西瓜（一個）切去蓋。去子留瓤。入硝於內。數日化成水。再以此水入頂用點風火時眼</p>
<h4>升白靈藥法</h4>
<p>外科收口神藥。</p>
<p>黑鉛（二兩化開投入水銀二兩聽用）　火硝（二兩）　綠礬（二兩）　白礬（二兩）</p>
<p>上三味。共碾為末。炒干。入前黑鉛水銀拌勻。入陽城罐內。鐵盞蓋口。鹽泥封固。晒乾。</p>
<h4>煉金頂砒法</h4>
<p>用鉛一斤。小罐內炭火煨化。投白砒二兩於化烊鉛上煉煙盡為度。取起冷定。打開金頂。</p>
<p>砒</p>
<h4>取蟾酥法</h4>
<p>用蟾不拘大小。其酥俱有。用闊銅鑷鑷蟾眉棱高肉上微緊。拔出酥來凝聚鑷裡。多則刮下陰破傷</p>
<h2>附</h2>
<h3>急救門</h3>
<h4>中草毒</h4>
<p>西涼嶺南一帶。常有其患。入咽欲死之急症。</p>
<p>馬兜鈴苗（二兩）　為末。溫水調服即愈。</p>
<p>菌毒　笑不止及腹痛。</p>
<p>地漿水飲之即愈。　或嚼金銀花不吐自愈。　或干花煎濃汁飲。</p>
<h4>解鉤吻毒方</h4>
<p>俗名斷腸草。</p>
<p>取人糞汁。或白鴨白鵝。斷頭滴血入口中。或羊血灌之亦好。或蔥汁或甘葛汁。或鵝蛋清皆中砒毒　心腹絞痛。欲吐不吐。面青肢冷。</p>
<p>防風（四兩）　煎湯服。即解。　柏樹葉搗爛。沖生白酒飲之。即解。　楊梅樹皮煎湯二三碗</p>
<h4>解鴆鳥毒</h4>
<p>干葛末。井水調服。</p>
<h4>解巴豆毒</h4>
<p>凡中此毒。口渴面赤。五心煩熱。泄痢不止。</p>
<p>冷粥一碗。服下即止。</p>
<h4>解燒酒毒</h4>
<p>鍋蓋上氣水半鐘。灌下即醒。</p>
<h4>狗肉毒方</h4>
<p>杏仁（二兩）和皮研細。熱湯拌勻。分三盞服。瀉出即愈。</p>
<h4>牛肉毒方</h4>
<p>黃連甘草湯。或單用大甘草煎服亦效。如渴切勿飲水。（飲則難治）</p>
<h4>解服鹽鹵方</h4>
<p>生大黃（二兩）　搗碎。生腐漿一碗。同搗數十下。服後瀉數通。再用生甘草汁一碗冷吃。解</p>
<h4>解鹽鹵毒方</h4>
<p>生豆腐漿灌之。　或黃豆入水搗汁灌之。　或肥皂水灌之。　或羊血灌之立愈。</p>
<h4>中蠱毒必效方</h4>
<p>芫荽根搗汁半升。和酒服立下。</p>
<h4>解蠱毒方</h4>
<p>玳瑁水磨濃汁。服一盞即消。</p>
<h4>解金蠶蠱毒</h4>
<p>凡中毒者。以白礬試嘗之。甘而不澀。再以黑豆嚼之。不腥即是。急取石榴。朝東根皮煎濃</p>
<h4>中藥毒及中惡卒死</h4>
<p>急取鴨熱血。灌入喉即活。（此方亦解河豚毒）</p>
<h4>救五絕方</h4>
<p>（一自縊　二牆壓　三溺水　四魘魅　五產後暈絕）</p>
<p>皆以半夏研細末。冷水和丸。如小豆大塞鼻中。並用燥末吹耳內。心溫者死一日猶可活。</p>
<p>此灸又方但心頭溫者皆可救。</p>
<p>生半夏為末。吹鼻可生。　一方皂角為末。吹其耳鼻即活。</p>
<h4>月蟾起死丹</h4>
<p>（凡遇凶死灌之即活命盡者亦能淹留三五天如有命服丹追魂用藥調治）</p>
<p>三月三日。向辰方取金絲大蝦蟆（一個）必前有五指者。養至五月五日午時。懸起陰乾。</p>
<p>勿令以溫酒凡跌打縊溺。心頭熱者。</p>
<p>急用大雄雞（一只）割去冠。血注鼻中即活。</p>
<p>打死暈倒在地。立救可活。</p>
<p>血管鵝毛（　存性一錢）　乳香　沒藥　百草霜（各一錢）</p>
<p>共為末。老酒調服即醒。</p>
<h4>救縊死法</h4>
<p>凡遇縊死者。徐徐抱住。急為解繩。不可割斷。取臥凳上。緊挽其發。一人摩其胸脅。</p>
<p>一人</p>
<h4>縊死方</h4>
<p>取活鵝嘴插入喉中。鵝鳴應聲即醒。</p>
<h4>水溺死方</h4>
<p>（一宿者尚可活）</p>
<p>紙裹皂莢末納糞門中。須臾水出即活。</p>
<h4>還魂草</h4>
<p>（治卒中惡死吐痢不止不知何病不拘大小男女）</p>
<p>用馬糞（一丸）絞汁灌之。干者水煮亦可。（此扁鵲法也）</p>
<h4>魘死並中惡方</h4>
<p>不可用火照。但痛咬其腳根即蘇。　或皂角末吹鼻中。嚏出即活。</p>
<h3>救荒門</h3>
<h4>諸葛干糧</h4>
<p>白茯苓（二斤）　乾薑（一兩）　黃米（二升）　山藥（一斤）　白面（二斤）　麻油（半斤）　芡實（如涌。一日不飢渴。行軍辟穀方（李衛公）</p>
<p>大黃豆（五斤淘三遍至極淨去皮為末）　麻子仁（三斤綿布包用滾沸湯浸至冷取垂井中一宿勿米（五升）　淘淨。與茯苓同蒸為末。先將麻仁糯米茯苓共搗極爛。漸加豆末和勻。捏如拳大塊。復入吃一切諸物第五頓千日飲食。用但服藥</p>
<h4>防飢救生四果丹</h4>
<p>栗子（去殼）　紅棗（去皮核）　胡桃（去殼皮）　柿餅（去蒂）</p>
<p>各等分入甑蒸二時取出。石臼中杵搗。不辨形色。捻為濃餅。晒乾收貯。冬月吉日。焚香修藥補</p>
<h4>辟穀仙丹</h4>
<p>熟地（一斤九蒸九晒）　天冬（二斤去心）為末。蜜丸。彈子大。晒乾。每服二三丸。</p>
<p>溫酒化下</p>
<h4>行路不餓</h4>
<p>芝麻（一斤炒）　紅棗（一斤蒸）　糯米（一升炒）</p>
<p>共為末。蜜丸。彈子大。每吃一丸水下。一日不飢。</p>
<h4>斬草丹</h4>
<p>（備荒　辟穀　修道）</p>
<p>芝麻黑豆半升齊。　炒成黃色去了皮。　貫眾茯苓各四兩。　乾薑甘草亦如之。　棗肉為丸</p>
<h4>生津止渴丸</h4>
<p>烏梅肉（二斤）　檀香（三錢）　白豆蔻（五錢）　薄荷（三兩）　甘葛（二兩）　飛鹽（一兩）　紫蘇為細末。煉蜜為丸。圓眼大。渴即噙化一顆。能止渴。</p>
<h4>救荒丹</h4>
<p>與辟穀少異黑豆（五升）　洗淨。蒸三遍晒乾。去皮為末。火麻子（三升）湯浸一宿。撈出晒乾。</p>
<p>用牛皮膠甑蒸。從食一切物渴即研薄粥飲</p>
<h4>守山干糧</h4>
<p>紅蘿菔（洗淨蒸熟俟半干搗爛）　糯米（舂白浸透蒸飯搗如糊）　入紅蘿菔等分搗勻。</p>
<p>泥竹壁上鍋。食之</p>
<h4>服黃精法</h4>
<p>黃精根梗。不拘多少細銼。陰乾為末。水調服。初服不可多。恐飽脹。以後漸漸加多。</p>
<p>飢則</p>
<h4>又法</h4>
<p>黃精蒸熟。晒乾為末。另用生黃精切碎。熬膏搗成丸。雞子大。日服三次。每次一丸。</p>
<p>可以</p>
<h3>怪症門</h3>
<h4>血余症</h4>
<p>十指皆斷壞。惟有筋連。每節內蟲出。如燈心長數寸。遍身綠毛。用胡黃連白茯苓、赤茯苓又血余症口生肉球。有根如線。吐出乃能飲食。捻之痛入心。用麝香水研服。三日根化即愈。</p>
<h4>臍蟲</h4>
<p>腹中如鐵石。臍內出水。旋變作蟲。行繞身體。其癢難忍。KT　撥不盡。用蒼朮為末。</p>
<p>入麝少許水調服。又將蒼朮煎濃湯浴之。</p>
<h4>離魂症</h4>
<p>臥時覺身外有一身。一樣無別。但不言語。名曰離魂。蓋臥則魂歸於肝。肝虛邪襲。魂不歸每夜一</p>
<h4>渾身虱陣</h4>
<p>臨睡渾身虱出約至四五升。隨致血肉俱壞。每宿漸多。癢極難言。惟飲水臥床。晝夜號哭。</p>
<p>有蟲如蟹。走於皮下。作聲若兒啼。</p>
<p>是為筋肉之化。用雷丸雄黃等分為末。摻豬肉上。炙服自安。</p>
<h4>脈溢</h4>
<p>毛竅出血不止。皮脹如鼓。須臾口鼻耳目被氣脹合。用薑汁飲之自安。</p>
<h4>眉毛動搖</h4>
<p>目不能交睫。喚之不應。但能飲食。用大蒜搗汁。酒調飲愈。</p>
<h4>傷寒狂走</h4>
<p>雞子殼出過小雞者。煎湯服即醒。</p>
<h4>夜多惡夢</h4>
<p>好朱砂大塊者。帶在頭上便解。</p>
<h4>水明內視</h4>
<p>一人閉目。即內見臟腑。頭眩心悸。三月不能寐。一醫人以大甘草作丸與服。數日漸瘥。</p>
<p>人</p>
<h4>反經上行方</h4>
<p>婦人經時。眼血如狂雨。用紅花桃仁歸尾等分煎湯服。破血下行即愈。</p>
<h4>意痛毛</h4>
<p>男女大腳指縫中生毛。拂著痛不可忍。用桐油煎滾。乘熱滴入一點於患處。毛即脫。忍痛少</p>
<h4>鼻繩</h4>
<p>一人鼻中出毛。晝夜一二尺。漸漸粗圓如繩。痛不可忍。摘去更生。此飲食豬羊血過多而然</p>
<h4>灸瘡飛肉</h4>
<p>一人因艾灸訖。火痂便落。瘡內鮮血片片。如蝴蝶樣騰空飛去。痛不可忍。此是血肉俱熱之</p>
<h4>發斑發硬</h4>
<p>一人眼赤鼻漲大喘。渾身出斑。發如銅鐵絲硬。乃熱毒結於下焦也。用白礬滑石各一兩。</p>
<p>水</p>
<h4>血擁</h4>
<p>一人遍身肉出如錐。癢痛不能飲食。名血擁。用赤皮蔥燒灰水淋汁洗。內服淡豆豉湯。</p>
<p>數盞</p>
<h4>空中見禽</h4>
<p>一人眼前。常見禽鳥飛去。捉之即無。乃肝膽經多痰。用棗仁、羌活、玄明粉、青葙子各一</p>
<h4>垂睛</h4>
<p>一人眼珠垂下至鼻。大便血出。名肝脹。用羌活水煎服。數次即愈。</p>
<h4>應聲蟲</h4>
<p>一人腹內有物作聲。隨人言語。名應聲蟲。服雷丸即愈。（或用板藍汁一盞）</p>
<h4>飲油</h4>
<p>一人飲油五升方快意。乃發入胃血裹化蟲也。用雄黃五錢水調服。</p>
<h4>失物望</h4>
<p>一人臥於床。四肢不動。只進飲食。好大言說吃物。謂之說失物望病。如說某肉。即以某肉</p>
<h4>血潰</h4>
<p>一人眼內白　俱黑。見物依舊。毛髮直如鐵條。不語如醉。名曰血潰。延醫治之。百藥不效</p>
<h4>傷寒並熱霍亂</h4>
<p>一人氣喘不能言。口中流涎吐逆。齒皆搖動。氣出轉大。即悶絕。名傷寒並熱霍亂。用大黃</p>
<h4>肉刺</h4>
<p>一人手足甲。忽然長倒生肉刺如錐。食葵菜自愈。</p>
<h4>白寒瘡</h4>
<p>一人面上及遍身生瘡。似貓兒眼。有光彩。無膿血。冬則近脛。名曰白寒瘡。多食魚雞蔥韭</p>
<h4>脅破腸出</h4>
<p>一人脅破腸出。臭穢難當。急以香油扶腸送入。即不出。以人參枸杞子煎湯淋之。皮自合。</p>
<h4>氣結堅硬</h4>
<p>一人口鼻中氣出。盤旋不散。凝似黑云。過十日漸至肩。與肉相連。堅勝鐵石。無由飲食。</p>
<h4>蛇光熱</h4>
<p>一人頭面發熱有光色。他人手近如火炙。用蒜汁半兩酒調下。吐物如蛇遂安。</p>
<h4>肉化石</h4>
<p>一人渾身生泡。如甘棠梨。破則出水。內有石一片。如指甲大。其泡復生。抽盡肌肉。</p>
<p>不可</p>
<h4>交腸</h4>
<p>一人小便出屎。大便出尿。名交腸。用舊　頭燒灰酒下五分愈。</p>
<h4>腎漏</h4>
<p>一人陽舉不痿。精流無歇時。痛如針刺。為腎漏。用韭菜子破故紙各一兩為末。每服三錢。</p>
<h4>肉腫如蛇</h4>
<p>一人身及頭面肉腫如蛇狀。用濕磚上青苔一錢。水調塗。立消。</p>
<h4>大腸蟲</h4>
<p>一人大腸內出蟲不斷。斷而復生。行坐不得。用鶴虱末。水調服五錢即愈。</p>
<h4>小兒流水</h4>
<p>一小兒初生如魚泡。又如水晶。碎則流水。用密陀僧研細末。摻之愈。</p>
<h4>兒生無皮</h4>
<p>一小兒初生遍身無皮。俱是赤血肉。掘土坑臥一宿長皮。或用白早米粉。干撲於身上。</p>
<p>候生</p>
<h4>斷皮</h4>
<p>一人項上生瘡。如櫻桃有五色。瘡破則項皮斷。逐日飲牛乳自消。</p>
<h4>肉人</h4>
<p>一人自項至前陰後尻尾。皮肉裂開。如刀割一條。痛不可忍。一道人云。是肉人症。教飲牛</p>
<h4>濃皮</h4>
<p>一人大指忽麻木。皮濃如裹鍋巴。一道人教用苦參。用酒煎吃。外敷苦參末而愈。後本人見</p>
<h4>四肢如石</h4>
<p>一人寒熱不止。四肢如石。擊之如鐘聲。日漸消瘦。用茱萸木香等分水煎。一二服即愈。</p>
<h4>截腸</h4>
<p>一人大腸頭出寸余。候干自落。落後又出。名截腸病。用芝麻油器盛坐洗之。飲火麻子汁數</p>
<h4>肉壞</h4>
<p>一人鼻腥臭水流。以碗盛而視之。有鐵色蝦蟆如米大走躍。捉之即化為水。此肉壞矣。</p>
<p>食雞</p>
<h4>冷熱相吞</h4>
<p>一人兩足心凸腫硬如釘。脛骨生碎孔流髓。身發寒戰。惟思飲酒。此肝腎氣。冷熱相吞。</p>
<p>用川烏炮為末敷之。內煎韭菜湯服之愈。</p>
<h4>筋解</h4>
<p>一人四肢節脫。但有皮連。不能舉動。名曰筋解。用黃蘆酒浸一宿。焙為末。酒下二錢。</p>
<p>多</p>
<h4>喉肉腫臭</h4>
<p>一人喉間生肉。層層相疊。漸腫起。有竅出臭氣。用臭橘皮葉煎服即愈。</p>
<h4>人面瘡</h4>
<p>昔人患人面瘡於臂上。滴洒瘡口即面赤。與物食之即肉脹。獨與貝母則斂眉閉口。若苦楚狀</p>
<h4>肺痿</h4>
<p>一婦人。年二十余。胸生一竅。口中吐膿血。與竅相應而出。此肺痿也。用人參黃　當歸加</p>
<h4>蛇瘕</h4>
<p>一人患蛇瘕。乃蛇精之液沾菜上。人誤食之。腹內成蛇。或食蛇。亦有此症。其人常飢食之</p>
<h4>蛟龍瘕</h4>
<p>蛟龍瘕。寒食飯三升。每服五合。日三服。吐出蛟龍而愈。</p>
<h4>鱉瘕</h4>
<p>鱉瘕。痛有來止。或食鱉即痛。用雞屎一升炒。投酒浸一宿。焙乾為末。原浸酒調下。</p>
<h4>雞瘕</h4>
<p>雞瘕有病冷痰者。是因食白淪雞過多所致。用蒜一枚煮服。乃吐一物如升大。痰裹。開視乃</p>
<h4>傷胞</h4>
<p>一婦人。產後有傷胞破。不能小便。常漏濕不干。用生絲絹一尺剪碎。白牡丹根皮一錢。</p>
<p>白芨末一錢。水煎至絹爛如餳。空心頓服。不得作聲。作聲即不效。</p>
<h4>尸厥氣走如雷</h4>
<p>一人尸厥。奄然死去。腹中氣走如雷。用硫黃一兩。焰硝五錢。細研。分三服。好酒煎。</p>
<p>覺</p>
<h4>瘡如蛇</h4>
<p>一人生瘡如蛇出數寸。用雄黃塗之即消。</p>
<h4>視物倒植</h4>
<p>一人眼中視物倒植。用藜蘆栝蒂為粗末。水煎服吐而愈。</p>
<h4>見獅子</h4>
<p>一人患疾見物如獅子。伊芳川教以用手直前捕之。見其無物。久久自愈。</p>
<h4>見蓮花</h4>
<p>一人見滿壁皆蓮花。以礞石滾痰丸下之而愈。</p>
<h4>乳懸</h4>
<p>一婦人產後。忽兩乳細小下垂過腹。痛甚。名乳懸。用川芎當歸各二斤。納半斤水煎服。</p>
<p>余</p>
<h4>肉線出</h4>
<p>一婦人。產後水道出肉線一條。長三四尺。動之則疼痛欲絕。先服失笑散數服。次以帶皮薑則熨治矣</p>
<h4>灸火血出</h4>
<p>一人灸火至五壯。血出一縷。急如溺。手冷欲絕。以酒炒黃芩二錢酒下。即止。</p>
<h4>頭出蛆</h4>
<p>一人頭皮內時有蛆出。以刀切破皮。用絲瓜葉擠汁搽之。蛆出盡絕根。</p>
<h4>痘爛生蛆</h4>
<p>一小兒痘爛生蛆。以柳條帶葉鋪地。將兒臥其上。蛆盡而愈。</p>
<h4>疽發有聲</h4>
<p>一人淵疽發於肋下。久則一竅有聲。如嬰兒啼。灸陽陵泉二七壯。聲止而愈。</p>
<h4>指節斷落</h4>
<p>一人手指彎曲。節間痛不可忍。漸至斷落。以蓖麻子二兩去殼。碎者不用。黃連四兩。</p>
<p>貯瓶微泄</p>
<h4>腦風</h4>
<p>一人患頭風症。耳內常鳴。頭上有啾啾鳥雀聲。此頭腦夾風也。用川芎當歸湯而愈。</p>
<h4>舌出</h4>
<p>一人傷寒舌出寸余。連日不收。用楊花腦抹舌上。應手而收。重者五錢方愈。</p>
<h4>木舌脹滿</h4>
<p>一婦人木舌脹滿口。諸藥不效。以排針砭之。五七度腫減。三日方平。血出盈斗。</p>
<h4>子母蟲</h4>
<p>一婦人忽生蟲一對。於地能行。長寸余。自此以後。月生一對。醫以苦參加蟲藥為丸服之。</p>
<h4>奶頭裂</h4>
<p>一人奶頭裂。尋秋後嫩茄子裂開頭者。陰乾焙為末。水調服。</p>
<h4>紅點</h4>
<p>一男子每至秋冬遍身發紅點發癢。此寒氣收斂。腠理陽氣不能發越。　郁內作也。宜以人參</p>
<h4>紫泡</h4>
<p>一人因剝牛瞀悶昏暈。遍身俱紫泡。急刺其泡處。良久遂蘇。更服解毒藥而愈。</p>
<h4>腦疽頭腫</h4>
<p>一人患腦疽。面目腫閉。頭　如斗。此膀胱濕熱所致。以黃連消毒飲二劑。又服槐花酒二碗以托</p>
<h4>紅絲瘤</h4>
<p>李叔和問東垣曰。中年得一子。一歲後身生紅絲瘤而死。四子皆然。何也。東垣曰。汝乃腎六味地</p>
<h4>產後身冷</h4>
<p>一婦產後日食茶粥二十余碗。一月後遍身冰冷數塊。人以指按其冷處。即冷從指上。下應至</p>
<h4>聞雷昏倒</h4>
<p>一小兒七歲。聞雷則昏倒。不知人事。以人參歸身麥冬少加五味子熬膏。盡一斤後。聞雷自</p>
<h4>飲食別下</h4>
<p>一人飲食。若別有咽喉斜過膈下徑達左脅而作痞悶。以手按之則瀝瀝有聲。以控涎丹十粒服</p>
<h4>三陰交出血</h4>
<p>一婦三陰交無故血出。如射將絕。以指按其竅。縛以布條。昏倒不知人事。以人參一兩。</p>
<p>煎</p>
<h4>頸腫連頭</h4>
<p>一人頸項與頭相統。按之堅硬。用漏蘆湯一劑。服下發癢。頃刻消散。</p>
<h4>身發癢</h4>
<p>一人田間收稻。忽然遍身癢入骨髓。用食鹽九錢湯泡三碗。每進一碗。探而吐之。三探三吐</p>
<h4>小兒身癢</h4>
<p>一小兒遍身癢。以生薑搗爛。布擦之而止。</p>
<h4>盤腸產</h4>
<p>一盤腸產者。臨產子腸先出。而後產子。產後而腸不收。用醋半盞冷水七分調勻。噴婦人面</p>
<h4>產戶下物如帕</h4>
<p>丹溪治一產婦產戶下一物。如帕有尖。約重一斤。卻喜血不盡虛。急以人參歸身各一錢。</p>
<h4>陽腫痿</h4>
<p>一少年陽物挺長腫而痿。皮塌常潤。磨股難行。兩脅氣衝上。手足倦弱。先以小柴胡湯加黃以散</p>
<h4>喘嘔煩亂</h4>
<p>一病患似喘不喘。似嘔不嘔。似噦不噦。心中憒憒然無奈。醫人用半夏半斤。生薑汁一升。水三升。先煎半夏至二升。入薑汁共煎至一升半。少冷分四服。日三服。夜一服。病止停服。</p>
<h4>夏月中寒</h4>
<p>一人暑月行百裡。渴飲山水。至晚以單席陰地上少睡。頃間寒熱吐瀉。身如刀刮而痛。</p>
<p>醫皆中湯</p>
<h4>冬天中暑</h4>
<p>一婦人冬月患惡寒發熱。惡食乾嘔。大便欲去不去。諸醫皆以虛弱。用滌痰二味湯不效。</p>
<p>後症如功</p>
<h4>紅絲瘡</h4>
<p>此症起於手者。頃刻紅絲長至胸。瘡起於足。頃刻紅絲到腹。死在旦夕。初起時兩頭繩線縛</p>
<h4>蚌珠</h4>
<p>患蚌珠。以河蚌蛤水養淨對剖。取肉半個貼患處。蚌肉熱又換。貼數次即愈。又治內蚌珠。</p>
<p>傾</p>
<p>人面瘡。以精豬肉一片。重三四兩。摻貝母末貼。每日一換。換時以豬肉蜂窠煎湯洗。</p>
<p>二十</p>
<h4>舌脹滿口</h4>
<p>用蒲黃乾薑各等分為末。干擦即愈。</p>
<h4>舌腫不能言</h4>
<p>用蓖麻子四十粒。紙上取油。將油紙燃燒。煙薰舌即消。　舌出血。用薰鼻中自止。</p>
<h4>齒縫血條</h4>
<p>齒中出血如條。系上熱下虛。內用防風、羌活、黃連、人參、茯苓、麥冬煎服。外用香附、</p>
<h4>血汗</h4>
<p>出汗紅色者。血自毛孔中出。即飢衄。又名脈溢。乃虛弱極有火之症也。用人參、歸身、黃次</p>
<h4>黑丹方</h4>
<p>人面忽生黑丹。如芥子狀不治。患將遍身即死。鹿角燒灰存性。豬油調敷愈。</p>
