<header data-type="book">
<h1>寓意草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>喻昌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1645">公元1645年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>聞之醫者意也。一病當前。先以意為運量。後乃經之以法。緯之以方。內經所謂微妙在意是也。醫孰無意。而淺深繇是。枘鑿繇是。徑庭繇是。而病機之安危倚伏。莫不繇是。意之凝釋。</p>
<p>剖判荒茫。顧不危耶。大學誠意之功。在於格致。而其辨尤嚴於欺慊之兩途。蓋以殺機每隨於陰幽。而生機恆苞於粹白。莊周曰。天地之道。近在胸臆。萬一肺腑能語。升墜可憐。先儒人鬼關之辨精矣。昌謂醫事中之欺慊。即眾人之人鬼關也。奈何世之業醫者。輒艷而稱儒。儒之誦讀無靈者。輒徙而言醫。究竟無主之衷。二三雜揉。醫與儒之門兩無當也。求其拔類者。長沙一人而已。代有　人。然比之仙釋。則寥寥易於指數。豈非以小道自隘。莫溯三氏淵源乎。夫人生驅光逐景。</p>
<p>偶影同游。欣慨交心。況於生死安危。忍懷僥幸。芸芸者物也。何以不格。昭昭者知也。何以不致。惟虛惟無。萌於太素者意也。何以不誠。格一物即致一知。尚恐逐物求知。乃終日勘病。不知病為何物。而欲望其意之隨舉隨當也。不亦難乎。昌於此道無他長。但自少至老。耳目所及之病。無不靜氣微心。呼吸與會。</p>
<p>始化我身為病身。負影只立。而呻吟愁毒。恍忽而來。既化我心為病心。苟見其生。實欲其可。而頭骨腦髓。</p>
<p>捐之不惜。儻病多委折。治少精詳。早已內照。他病未痊。我身先瘁。淵明所謂斯情無假。以故不能廣及。然求誠一念。多於生死輪上寂寂披回。不知者謂昌從紙上得之。夫活法在人。豈紙上所能與耶。</p>
<p>譬之兵法軍機。馬上且不能得。況於紙上妄說孫吳。但令此心勤密在先。冥靈之下。神挺自穎。邇年先議病後用藥。如射者引弓。預定中的之高下。其後不失。亦自可觀。何必剜腸滌肺。乃稱奇特哉。不揣欲遍歷名封。大彰其志。不謂一身將老。世態日紛。三年之久。不鳴一邑。幸值諫議卣臣胡老先生建言歸裡。一切修舉。</p>
<p>悉從朝廷起見。即昌之一得微長。並蒙格外引契。參定俚案之近理者。命名寓意草。捐貲付梓。其意欲使四方周覽之士。</p>
<p>大破成局。同心愍痛。以登斯民於壽域。而為聖天子中興燮理之一助云。然則小試寓意。豈易易能哉。</p>
<p><u>崇禎癸未歲季冬月西昌喻昌嘉言甫識</u></p>
<h2>先議病後用藥</h2>
<p>從上古以至今時。一代有一代之醫。雖神聖賢明。分量不同。然必不能舍規矩準繩。以為方圓平直也。</p>
<p>故治病必先識病。識病然後議藥。藥者所以勝病者也。識病。則千百藥中。任舉一二種用之且通神。不識病。</p>
<p>則歧多而用眩。凡藥皆可傷人。況於性最偏駁者乎。邇來習醫者眾。醫學愈荒。遂成一議藥不議病之世界。其夭枉不可勝悼。或以為殺運使然。不知天道豈好殺惡生耶。每見仕宦家。診畢即令定方。以示慎重。初不論病從何起。藥以何應。致庸師以模棱迎合之術。妄為擬議。迨藥之不效。諉於無藥。非無藥也。可以勝病之藥。</p>
<p>以不識病情而未敢議用也。危哉。靈樞素問甲乙難經無方之書。全不考究。而後來一切有方之書。奉為靈寶。</p>
<p>如朱丹溪一家之言。其脈因症治一書。先論脈。次因次症。後乃論治。其書即不行。而心法一書。群方錯雜。則共宗之。又本草止述藥性之功能。人不加嗜。及繆氏經疏。兼述藥性之過劣。則莫不懸之肘後。不思草木之性。亦取其偏以適人之用。其過劣不必言也。言之而棄置者眾矣。曷不將本草諸藥。盡行刪抹。獨留無過之藥五七十種而用之乎。其於周禮令醫人采毒藥。以供醫事之旨。及歷代帝王。恐本草為未備。而博采增益之意。不大刺謬乎。欲破此惑。無如議病精詳。病經議明。則有是病即有是藥。病千變。</p>
<p>藥亦千變。且勿論造化生心之妙。即某病之以某藥為良。某藥為劫者。至是始有定名。若不論病。則藥之良毒善惡。何從定之哉。可見藥性所謂良毒善惡。與病體所謂良毒善惡不同也。而不知者。必欲執藥性為去取。何其陋耶。故昌之議病非得已也。昔人登　指顧。後效不爽前言。聚米如山。先事已饒碩畫。醫雖小道。何獨不然。昌即不能變俗。實欲借此榜樣。闡發病機。其能用不能用何計焉。</p>
<p>胡卣臣先生曰。先議病。後用藥。真金匱未抽之論。多將　。不可救藥。是能議病者。若藥不瞑眩。厥疾不瘳。是能用藥者。</p>
<h2>極閘人定議病式</h2>
<p>某年某月。某地某人。年紀若干。形之肥瘦長短若何。色之黑白枯潤若何。聲之清濁長短若何。人之形志苦樂若何。病始何日。初服何藥。次後再服何藥。某藥稍效。某藥不效。時下晝夜孰重。寒熱孰多。</p>
<p>飲食喜惡多寡。二便滑澀無有。脈之三部九候。何候獨異。二十四脈中。何脈獨見。何脈兼見。其症或內傷。</p>
<p>或外感。或兼內外。或不內外。依經斷為何病。其標本先後何在。汗吐下和寒溫補瀉何施。其藥宜用七方中何方。十劑中何劑。五氣中何氣。五味中何味。以何湯名為加減和合。其效驗定於何時。一一詳明。務令纖毫不爽。起眾信從。允為醫門矜式。不必演文可也。</p>
<p>某年者。年上之干支。治病先明運氣也。某月者。治病必本四時也。某地者。辨高卑燥濕五方異宜也。</p>
<p>某齡某形某聲某氣者。用之合脈圖萬全也。形志苦樂者。驗七情勞逸也。始於何日者。察久近傳變也。歷問病症藥物驗否者。以之斟酌己見也。晝夜寒熱者。辨氣分血分也。飲食二便者。察腸胃乖和也。三部九候。何候獨異。推十二經脈受病之所也。二十四脈見何脈者。審陰陽表裡無差忒也。依經斷為何病者。名正則言順。事成如律度也。標本先後何在者。識輕重次第也。汗吐下和寒溫補瀉何施者。求一定不差之法也。</p>
<p>七方大小緩急奇偶復。乃藥之制。不敢濫也。十劑。宣通補泄輕重滑澀燥濕。乃藥之宜。不敢泛也。</p>
<p>五氣中何氣。五味中何味者。用藥最上之法。寒熱溫涼平。合之酸辛甘苦鹹也。引湯名為加減者。循古不自用也。刻效於何時者。逐款辨之不差。以病之新久五行定痊期也。若是則醫案之在人者。工拙自定。積之數十年。治千萬人而不爽也。</p>
<p>胡卣臣先生曰。此如條理始終。然智聖之事已備。</p>
<h2>論金道賓真陽上脫之症</h2>
<p>金道賓之診。左尺脈和平。右尺脈如控弦。如貫索。上中甚銳。予為之駭曰。是病枝葉未有害。本實先撥。必得之醉而使內也。曰。誠有之。但已絕欲三年。服人參斤許。迄今諸無所苦。惟閉目轉盼。則身非己有。恍若離魂者然。不識可治與否。予曰。可治。再四令疏方。未知方中之意。歸語門人。因請立案。予曰。凡人佳冶當前。賈勇以明得意。又助之以曲　。五臟翻覆。宗筋縱弛。百脈動搖。</p>
<p>以供一時之樂。不知難為繼也。嘗有未離女軀。傾刻告殞者矣。是病之有今日者幸也。絕欲三年。此丈夫之行。可收桑榆者。但不知能之不為乎。抑為之不能乎。不為者。一陽時生。斗柄嘗運。不能者。相安於無事而已。夫人身之陰陽。相抱而不脫。是以百年有嘗。故陽欲上脫。陰下吸之。不能脫也。陰欲下脫。陽上吸之。</p>
<p>不能脫也。即病能非一。陰陽時有亢戰。旋必兩協其平。惟大醉大勞。亂其常度。二氣乘之。脫離所爭。不必其多。即寸中脫出一分。此一分便孤而無耦。使營魄不能自主。治法要在尋其罅漏而緘固之。斷鰲立極。煉石補天。非飾說也。若不識病所。而博搜以冀弋獲。雖日服人參。徒竭重貲。究鮮實益。蓋上脫者。妄見妄聞。有如神靈。下脫者。不見不聞。有如聾　。上脫者。身輕快而汗多淋漓。下脫者。身重著而肉多青紫。昔有新貴人。馬上揚揚得意。未及回寓。一笑而逝者。此上脫也。又有入寢而遭魘。身如被杖。</p>
<p>九竅出血者。此下脫也。其有上下一時俱脫者。此則暴而又暴。不多經見者。其有左右相畸而脫者。右從下。</p>
<p>左從上。魂升魄降同例也。但治分新久。藥貴引用。新病者。陰陽相乖。補偏救敝。宜用其偏。久病者。陰陽漸入。扶元養正。宜用其平。若久病誤以重藥投之。轉增其竭絕耳。引用之法。上脫者。用七分陽藥。三分陰藥而夜服。從陰以引其陽。下脫者。用七分陰藥。三分陽藥而晝服。從陽以引其陰。引之又引。陰陽忽不覺其相抱。雖登高臨深無所恐。發表攻裡無所傷矣。經云。陰平陽秘。精神乃治。正謂此也。</p>
<p>善調者。使坎中之真陽上升。則周身之氣。如冬至一陽初生。便葭管飛灰。天地翕然從其陽。使離中之真陰下降。則周身之氣。如夏至一陰初生。便　蜩迭應。天地翕然從其陰。是身中原有大藥。豈區區草木所能方其萬一者耶。</p>
<p>胡卣臣先生曰。言脫微矣。言治脫更微。蓋天地其猶橐龠。理固然也。</p>
<h2>金道賓後案</h2>
<p>金道賓前案。次年始見而問治焉。今再伸治法。夫道賓之病。真陽上脫之病也。真陽者。父母構精時一點真氣。結為露水小珠。而成胎之本也。故胎在母腹。先結兩岐。即兩腎也。腎為水臟。而真陽居於其中。在易坎中之陽為真陽。即此義也。真陽既以腎為窟宅。而潛伏水中。凝然不動。嘿與一身相管攝。是以足供百年之用。惟夫縱欲無度。腎水日竭。真陽之面目始露。夫陽者親上者也。至於露則魄汗淋漓。目中有光。面如渥丹。其飛揚屑越。孰從把握之哉。所謂神魂飄蕩。三年未有寧宇也。故每歲至冬而發。至春轉劇。</p>
<p>蓋無以為冬水收藏之本。無以為春木發生之基。以故腰脊牽強。督脈縮而不舒。且眩掉動搖。有風之象。總由自伐其生生之根耳。夫生長化收藏之運。有一不稱其職。便為不治之症。今奉藏者少。奉生者更少。為不治無疑矣。而仆斷為可治者。以有法治之也。且再經寒暑。陰陽有漸入之機。而驗之人事。三年間如處絕域。居圍城。莫必旦夕之命。得於懲創者必深。夫是以知其可治也。初以煎劑治之。劑中兼用三法。一者以澀固脫。一者以重治怯。一者以補理虛。緣真陽散越於外。如求亡子。不得不多方圖之。服之果獲大效。於是為外迎之法以導之。更進而治其本焉。治本一法。</p>
<p>實有鬼神不覷之機。未可以言語形容者。姑以格物之理明之。畜魚千頭者。必置介類於池中。不則其魚乘雷雨而冉冉騰散。蓋魚雖潛物。而性樂於動。以介類沉重下伏之物。而引魚之潛伏不動。同氣相求。理通玄奧也。</p>
<p>故治真陽之飛騰屑越。不以黿鱉之類引之下伏。不能也。此義直與奠玄圭而告平成。施八索以維地脈。同符合撰。前案中所謂斷鰲立極。早已言之矣。然此法不可瀆也。瀆則魚亂於下矣。其次用半引半收之法。又其次用大封大固之法。封固之法。世雖無傳。先賢多有解其旨者。觀其命方之名。有云三才封髓丸者。有云金鎖正元丹者。封鎖真陽。不使外越。意自顯然。先得我心之同矣。前江鼎翁公祖案中。盞中加油。則燈愈明。爐中覆灰。則火不息之說。亦早已言之矣。誠使真陽復返其宅。而凝然與真陰相戀。然後清明在躬。百年嘗保無患。然道賓之病。始於溺情。今雖小愈。倘無以大奪其情。勢必為情所壞。惟是積精以自剛。積氣以自衛。積神以自王。再加平日之把持。庶乎參天之　。非斧斤所能驟傷者。若以其時之久而難於忍耐也。彼立功異域。嚙雪虜庭。白首始得生還者。夫獨非人也歟哉。前案中以絕欲三年為丈夫行。可收桑榆者。</p>
<p>亦早已言之矣。今以藥石生之。更不得不以苦言繼之。仆不自度量。輒以一葦。障狂瀾也。其能乎否耶。</p>
<p>胡卣臣先生曰。妙理微機。一經抽發。真有一彈而三日樂。一徽而終日悲者。</p>
<h2>辨袁仲卿小男死證再生奇驗並詳誨門人</h2>
<p>袁仲卿乃郎。入水捉　蜞為戲。偶仆水中。家人救出。少頃大熱呻吟。諸小兒醫以鎮驚清熱合成丸散與服二日。遂至昏迷不醒。胸高三寸。頸軟頭往側倒。氣已垂絕。萬無生理。再四求余往視。診其脈。止似蛛絲。過指全無。以湯二茶匙。滴入口中。微有吞意。謂之曰。吾從來不懼外症之重。但脈已無根。不可救矣。一趙姓醫曰。鼻如煙煤。肺氣已絕。縱有神丹。不可復活。余曰。此兒受症。</p>
<p>何至此極。主人及客俱請稍遠。待吾一人獨坐。靜籌其故。良久曰。得之矣。其父且驚且喜。醫者愿聞其說。余曰。驚風一症。乃前人鑿空妄譚。後之小兒受其害者。不知幾千百億兆。昔與余鄉幼科爭論。殊無證據。後見方中行先生傷寒條辨後。附痙書一冊。顓言其事。始知昔賢先得我心。於道為不孤。如此症因驚而得。其實跌仆水中。感冷濕之氣。為外感發熱之病。其食物在胃中者。因而不化。當比夾食傷寒例。用五積散治之。醫者不明。以金石寒冷藥。鎮墜外邪。深入臟腑。神識因而不清。其食停胃中者。得寒涼而不運。所進之藥。皆在胃口之上。不能透入。轉積轉多。以致胸高而突。宜以理中藥。運轉前藥。倘得症減脈出。然後從傷寒門用藥。尚有生理。醫者曰。鼻如煙煤。肺氣已絕。而用理中。得毋重其絕乎。余曰。所以獨坐沉思者。正為此耳。蓋煙煤不過大腸燥結之征。若果肺絕。當汗出大喘。何得身熱無汗。又何得胸高而氣不逼。且鼻準有微潤耶。此余之所以望其有生也。於是煎理中湯一盞與服。灌入喉中。大啖一口。果然從前二日所受之藥。一齊俱出。胸突頓平。頸亦稍硬。但脈仍不出。人亦不蘇。余曰。其事已驗。即是轉機。此為食之未動。關竅堵塞之故。再灌前藥些少。熱已漸退。症復遞減。乃從傷寒下例。以玄明粉一味化水。連灌三次。以開其大腸之燥結。是夜下黑糞甚多。次早忽言一聲云。我要酒吃。</p>
<p>此後尚不知人事。以生津藥頻灌。一日而蘇。</p>
<p>胡卣臣先生曰。驚風一症。小兒生死大關。孰知其為外感耶。習幼科者。才虛心領會此案。便可免乎殃咎。</p>
<p>若駭為異說。則造孽無極矣。</p>
<p>門人問曰。驚風一證。雖不見於古典。然相傳幾千百年。吾師雖辟其謬。頑鈍輩尚不能無疑。請明辨之。以開聾　。答曰。</p>
<p>此問亦不可少。吾為子輩大破其惑。因以破天下後世之惑。蓋小兒初生。以及童幼。肌肉筋骨。臟腑血脈。俱未充長。陽則有餘。陰則不足。不比七尺之軀。陰陽交盛也。惟陰不足陽有餘。故身內易至於生熱。熱盛則生痰生風生驚。亦所恆有。設當日直以四字立名曰熱痰風驚。則後人不炫。因四字不便立名。乃節去二字。以驚字領頭。風字煞尾。後人不解。遂以為奇特之病也。且謂此病有八候。以其頭搖手勁也。而立抽掣之名。以其卒口噤腳攣急也。而立目邪心亂搐搦之名。以其脊強背反也。而立角弓反張之名。相傳既久。不知其妄造。遇見此等證出。無不以為奇特。而不知小兒之腠理未密。易於感冒風寒。風寒中人。</p>
<p>必先中入太陽經。太陽之脈。起於目內　。上額交巔入腦。還出。別下項。挾脊抵腰中。是以病則筋脈牽強。</p>
<p>因筋脈牽強。生出抽掣搐搦。角弓反張。種種不通名目。而用金石藥。鎮墜外邪。深入臟腑。千中千死。萬中萬死。間有體堅證輕得愈者。又詫為再造奇功。遂至各守顓門。雖日殺數兒。不自知其罪矣。百年之內。千裡之遠。出一二明哲。終不能一一盡剖疑關。如方書中有云。小兒八歲以前無傷寒。此等胡言。</p>
<p>竟出自高明。偏足為驚風之說樹幟。曾不思小兒不耐傷寒。初傳太陽一經。早已身強汗多。筋脈牽動。人事昏沉。勢已極於本經。湯藥亂投。死亡接踵。何繇見其傳經解散耶。此所以誤言小兒無傷寒也。不知小兒易於外感。易於發熱。傷寒為獨多。世所妄稱為驚風者。即是也。小兒傷寒。要在三日內即愈為貴。若待經盡方解。必不能耐矣。又剛痙無汗。柔痙有汗。小兒剛痙少。柔痙多。世醫見其汗出不止。神昏不醒。</p>
<p>往往以慢驚風為名。而用參　朮附等藥。閉其腠理。熱邪不得外越。亦為大害。但比金石藥為差減耳。所以凡治小兒之熱。但當徹其出表。不當固其入裡也。仲景原有桂枝法。若舍而不用。從事東垣內傷為治。</p>
<p>毫厘千裡。最宜詳細。又新產婦人去血過多。陰虛陽盛。其感冒發熱。原與小兒無別。醫者相傳稱為產後驚風。尤堪笑破口頰。要知吾辟驚風之說。非謂無驚病也。小兒氣怯神弱。凡遇異形異聲。驟然跌仆。皆生驚怖。其候面青糞青。多煩多哭。嘗過於分別。不比熱邪塞竅。神識昏迷。對面撞鐘放銃。全然不聞者。細詳勘驗。自識驚風鑿空之謬。子輩既游吾門。日引光明勝義。洗濯肺腸。忽然靈悟頓開。便與飲上池無二。若但於言下索解。則不能盡傳者多矣。門人又問曰。傷寒原有一表一裡之法。</p>
<p>今謂熱邪當從表出。不當令其深入。則裡藥全在所擯矣。豈於古法有未合歟。答曰。此問亦不可少。古法甚明。但後人鹵莽不悟耳。蓋人身一個殼子。包著臟腑在內。從殼子上論。即骨亦表。而從近殼子處論。</p>
<p>即膀胱尾閭之間。亦出表之路也。在外以皮毛為表之表。在內以大小孔道為裡之表。總驅熱邪從外出也。惟有五臟之間。精神魂魄。意之所居。乃真謂之裡。而不可令外邪深入耳。如盜至人家。近大門則驅從大門出。</p>
<p>近後門則驅從後門出。正不使其深入而得窺寢室耳。若盜未至後門。必欲驅至。及已至後門。必欲驅從大門出。皆非自全之道也。試觀心肺脾肝腎之內。並無血脈皮毛肌肉筋骨也。而所主者。乃在外之血脈皮毛肌肉筋骨。則安得以在外者。即名為表耶。所以傷寒之邪入內。有傳腑傳臟之不同。而傳腑復有淺深之不同。胃之腑外主肌肉而近大門。故可施解肌之法。內通大小腸而近後門。故間有可下之法。至膽之腑。則深藏肝葉。乃寢室之內。去前後門俱遠。故汗下兩有不宜。但從和解而已。若傳至三陰。則已舍大門而逼近寢室。設無他證牽制。惟有大開後門。極力攻之。使從大便出耳。今之治傷寒者。誤以包臟腑之殼子分表裡。故動輒乖錯。誠知五臟深藏於殼內。而分主在外之血脈皮毛肌肉筋骨也。胸中了然矣。</p>
<p>門人又問曰。獲聞軀殼包乎五臟。奉之為主之誨。心地頓開。但尚有一疑。不識人身之頭。奉何臟為主耶。答曰。頭為一身之元首。穹然居上。乃主臟而不奉藏者也。雖目通肝。耳通腎。鼻通肺。口通脾。舌通心。不過借之為戶牖。不得而主之也。其所主之臟。則以頭之外殼包藏腦髓。腦為髓之海。</p>
<p>主統一身骨中之精髓。以故老人髓減。即頭傾視深也。內經原有九臟之說。五臟加腦髓骨脈膽女子胞。神臟五。形臟四。共合為九。豈非腦之自為一臟之主耶。吾謂腦之中雖不藏神。而腦之上為天門。身中萬神集會之所。泥丸一宮。所謂上八景也。惟致虛之極者。始能冥漠上通。子輩奈何妄問所主耶。凡傷寒顯頭痛之證者。用輕清藥徹其邪從上出。所謂表也。用搐鼻藥搐去腦中黃水。所謂裡也。若熱已平復。當慮熱邪未盡。用下藥時。大黃必須酒浸。藉酒力以上達。所謂鳥巢高巔。射而取之之法也。今世治大頭瘟一證。皆從身之軀殼分表裡。不從頭之軀殼分表裡。是以死亡莫救。誠知腦之自為一臟。而顓力以攻之。思過半矣</p>
<p><u>附沙宅小兒治驗</u></p>
<p>　衛庠沙無翼。門人王生之表兄也。得子甚遲。然縱啖生硬冷物。一夕吐食暴僵。不醒人事。醫以驚風藥治之。渾身壯熱。面若裝朱。眼吊唇掀。下利不計其數。滿床皆污。至寓長跽請救。診畢。</p>
<p>謂曰。此慢脾風候也。脾氣素傷。更以金石藥重傷。今已將絕。故顯若干危症。本有法可救。但須七日方醒。恐信不篤而更醫。無識反得諉罪生謗。王生堅請監督其家。且以代勞。且以壯膽。於是用烏蠍四君子湯。每日灌一大劑。每劑用人參一錢。其家雖暗慌。然見面赤退而色轉明潤。便瀉止而動移輕活。似有欲言不言之意。亦自隱忍。至第六晚忽覺手足不寧。揭去衣被。喜吞湯水。始極詆人參之害。王生先自張皇。竟不來寓告明。任其轉請他醫。才用牛黃少許。從前危症復出。面上一團死氣。但大便不瀉耳。重服理脾藥。又五日方蘇。</p>
<p>是役也。王生於袁仲卿一案若罔見。而平日提命。凡治陰病。得其轉為陽病。則不藥自愈。縱不愈。</p>
<p>用陰分藥一劑。或四物二連湯。或六味地黃湯。以濟其偏。則無不愈。亦若罔聞。姑為鳴鼓之攻。以明不屑之誨。</p>
<h2>辨黃長人傷寒疑難危證治驗並詳誨門人</h2>
<p>黃長人犯房勞。病傷寒。守不服藥之戒。身熱已退。十余日外。忽然昏沉。渾身戰栗。手足如冰。舉家忙亂。亟請余至。一醫已合就薑桂之藥矣。余適見而駭之。姑俟診畢。再三辟其差謬。主家自疑陰證。</p>
<p>言之不入。又不可以理服。只得與醫者約曰。此一病。藥入口中。出生入死。關系重大。吾與丈各立擔承。倘至用藥差誤。責有所歸。醫者曰。吾治傷寒三十余年。不知甚麼擔承。余笑曰。吾有明眼在此。不忍見人活活就斃。吾亦不得已耳。如不擔承。待吾用藥。主家方才心安。亟請用藥。余以調胃承氣湯。約重五錢。煎成熱服半盞。少頃。又熱服半盞。其醫見厥漸退。人漸蘇。知藥不誤。辭去。仍與前藥服至劑終。人事大清。忽然渾身壯熱。再與大柴胡一劑。熱退身安。門人問曰。病者云是陰證見厥。先生確認為陽證。而用下藥果應。其理安在。答曰。其理頗微。吾從悟入。可得言也。凡傷寒病。初起發熱。煎熬津液。鼻干口渴便秘。漸至發厥者。不問而知為熱也。若陽證忽變陰厥者。萬中無一。從古至今無一也。蓋陰厥得之陰證。一起便直中陰經。唇青面白。遍體冷汗。便利不渴。身蜷多睡。醒則人事了了。與傷寒傳經之熱邪。轉入轉深。</p>
<p>人事昏惑者。萬萬不同。諸書類載陰陽二厥為一門。即明者猶為所混。況昧者乎。如此病先犯房室。後成傷寒。</p>
<p>世醫無不為陰厥之名所惑。往往投以四逆等湯。促其暴亡。而諉之陰極莫救。致冤鬼夜嚎。尚不知悟。總由傳派不清耳。蓋犯房勞而病感者。其勢不過比常較重。如發熱則熱之極。惡寒則寒之極。頭痛則痛之極。所以然者。以陰虛陽往乘之。非陰乘無陽之比。況病者始能無藥。陰邪必輕。旬日漸發。尤非暴證。安得以厥陰之例為治耶。且仲景明言。始發熱六日。厥反九日。後復發熱三日。與厥相應。則病旦暮愈。又云。厥五日。熱亦五日。設六日當復厥。不厥者自愈。明明以熱之日數。定厥之痊期也。又云。厥多熱少則病進。熱多厥少則病退。厥愈而熱過久者。必便膿血發癰。</p>
<p>厥應下而反汗之。必口傷爛赤。先厥後熱。利必自止。見厥復利。利止。反汗出咽痛者。其喉為痹。厥而能食。恐為除中。厥止思食。邪退欲愈。凡此之類。無非熱深熱厥之旨。原未論及於陰厥也。至於陽分之病。而妄汗妄吐妄下。以至勢極。如汗多亡陽。吐利煩躁。四肢逆冷者。皆因用藥差誤所致。非以四逆真武等湯挽之。則陽不能回。亦原不為陰證立方也。蓋傷寒才一發熱發渴。定然陰分先虧。以其誤治。陽分比陰分更虧。不得已從權用辛熱先救其陽。與純陰無陽陰盛格陽之證。相去天淵。後人不窺制方之意。</p>
<p>見有成法。轉相效尤。不知治陰證以救陽為主。治傷寒以救陰為主。傷寒縱有陽虛當治。必看其人血肉充盛。</p>
<p>陰分可受陽藥者。方可回陽。若面黧舌黑。身如枯柴。一團邪火內燔者。則陰已先盡。何陽可回耶。故見厥除熱。存津液元氣於什一。已失之晚。況敢助陽劫陰乎。證治方云。若證未辨陰陽。且與四順丸試之。直指方云。未辨疑似。且與理中丸試之。亦可見從前未透此關。縱有深心。無可奈何耳。因為子輩詳辨。</p>
<p>並以告後之業醫者。</p>
<p>胡卣臣先生曰。性靈自啟。應是軒岐堂上再來。</p>
<h2>治金鑒傷寒死證奇驗</h2>
<p>金鑒春月病溫。誤治二旬。釀成極重死證。壯熱不退。譫語無倫。皮膚枯澀。胸膛板結。舌卷唇焦。</p>
<p>身蜷足冷。二便略通。半渴不渴。面上一團黑滯。從前諸醫所用之藥。大率不過汗下和溫之法。絕無一效。求救於余。余曰。此證與兩感傷寒無異。但兩感證日傳二經。三日傳經已盡即死。不死者。又三日再傳一周。定死矣。此春溫證不傳經。故雖邪氣留連不退。亦必多延幾日。待元氣竭絕乃死。</p>
<p>觀其陰證陽證。兩下混在一區。治陽則礙陰。治陰則礙陽。與兩感證之病情符合。仲景原謂死證。不立治法。然曰發表攻裡。本自不同。又謂活法在人。神而明之。未嘗教人執定勿藥也。吾有一法。即以仲景表裡二方為治。雖未經試驗。吾天機勃勃自動。忽生變化。若有鬼神相助。必可效也。於是以麻黃附子細辛湯。</p>
<p>兩解其在表陰陽之邪。果然皮間透汗。而熱全清。再以附子瀉心湯。兩解其在裡陰陽之邪。果然胸前柔活。人事明了。諸證俱退。次日即思粥。以後竟不需藥。只此二劑。而起一生於九死。快哉。</p>
<h2>辨徐國禎傷寒疑難急證治驗</h2>
<p>徐國禎傷寒六七日。身熱目赤。索水到前。復置不飲。異常大躁。將門牖洞啟。身臥地上。展轉不快。更求入井。一醫　急以承氣與服。余證其脈洪大無倫。重按無力。謂曰。此用人參附子乾薑之證。奈何認為下證耶。醫曰。身熱目赤。有餘之邪。躁急若此。再以人參附子乾薑服之。逾垣上屋矣。余曰。陽欲暴脫。外顯假熱。內有真寒。以薑附投之。尚恐不勝回陽之任。況敢純陰之藥。重劫其陽乎。觀其得水不欲咽。情已大露。豈水尚不欲咽。而反可咽大黃芒硝乎。天氣燠蒸。必有大雨。此證頃刻一身大汗。不可救矣。且既認大熱為陽證。則下之必成結胸。更可慮也。惟用薑附。可謂補中有發。</p>
<p>並可以散邪退熱。一舉兩得。至穩至當之法。何可致疑。吾在此久坐。如有差誤。吾任其咎。</p>
<p>於是以附子乾薑各五錢。人參三錢。甘草二錢。煎成冷服。服後寒戰。戛齒有聲。以重綿和頭覆之。縮手不肯與診。陽微之狀始著。再與前藥一劑。微汗熱退而安。</p>
<p>胡卣臣先生曰。先生雄辯。可以當仁。</p>
<h2>治錢仲昭傷寒發危證奇驗</h2>
<p>錢仲昭患時氣外感三五日。發熱頭痛。服表汗藥。疼止熱不清。口乾唇裂。因而下之。遍身紅　。神昏譫語。食飲不入。大便復秘。小便熱赤。脈見緊小而急。謂曰。此證全因誤治。陽明胃經表裡不清。邪熱在內。如火燎原。津液盡干。以故神昏譫語。若　轉紫黑。即刻死矣。目今本是難救。但其面色不枯。聲音尚朗。乃平日保養。腎水有餘。如旱田之側。有下泉未竭。故神雖昏亂。而小水仍通。乃陰氣未絕之征。</p>
<p>尚可治之。不用表裡。單單只一和法。取七方中小方。而氣味甘寒者用之。惟如神白虎湯一方。足以療此。</p>
<p>蓋中州元氣已離。大劑急劑復劑俱不敢用。而虛熱內熾。必甘寒氣味。方可和之耳。但方須宜小。而服藥則宜頻。如飢人本欲得食。不得不漸漸與之。必一晝夜頻進五七劑。為浸灌之法。庶幾邪熱以漸而解。元氣以漸而生也。若小其劑復曠其日。縱用藥得當。亦無及矣。如法治之。更一晝夜而病者熱退神清。脈和食進。其　自化。</p>
<p>胡卣臣先生曰。病與藥所以然之地。森森警發。</p>
<h2>治傷寒壞證兩腰僂廢奇驗</h2>
<p>張令施乃弟傷寒壞證。兩腰僂廢。臥床徹夜痛叫。百治不效。求診於余。其脈亦平順無患。其痛則比前大減。余曰。病非死證。但恐成廢人矣。此證之可以轉移處。全在痛如刀刺。尚有邪正互爭之象。若全然不痛。則邪正混為一家。相安於無事矣。今痛覺大減。實有可慮。宜速治之。病者曰。此身既廢。命安從活。不如速死。余蹙額欲為救全。而無治法。諦思良久。謂熱邪深入兩腰。血脈久閉。不能復出。只有攻散一法。而邪入既久。正氣全虛。攻之必不應。乃以桃仁承氣湯。多加肉桂附子二大劑與服。服後即能強起。再仿前意為丸。服至旬余全安。此非昔人之已試。乃一時之權宜也。然有自來矣。仲景於結胸證。有附子瀉心湯一法。原是附子與大黃同用。但在上之證氣多。故以此法瀉心。然則在下之證血多。</p>
<p>獨不可仿其意。而合桃仁肉桂以散腰間之血結乎。後江古生乃弟。傷寒兩腰僂廢痛楚。不勞思索。徑用此法二劑而愈。</p>
<p>胡卣臣先生曰。金針雖度。要解鑄古熔今。始能下手。</p>
<h2>辨黃起潛曙修時氣傷寒治各不同</h2>
<p>黃曙修與乃翁起潛。春月同時病溫。乃翁年老而勢輕。曙修年富而勢重。勢重者。以冬不藏精。體虛不任病耳。余見其頭重著枕。身重著席。不能轉側。氣止一絲。不能言語。畏聞聲響。於表汗藥中。用人參七分。伊芳表侄施濟卿。恐其家婦女得知。不與進藥。暗贈人參入藥。服後汗出勢減。次日再於和解藥中。贈人參一錢與服。服後即大便一次。曙修頗覺輕爽。然疑藥下之早也。遣人致問。余告以此證表已解矣。裡已和矣。今後緩調。即日向安。不必再慮。往診見老翁病尚未愈。頭面甚紅。謂曰。望八老翁。下元虛憊。陽浮於上。與在表之邪相合。所謂戴陽之證也。陽已戴於頭面。不知者更行表散。則孤陽飛越。而危殆立至矣。此證從古至今。只有陶節庵立法甚妙。以人參附子等藥。收拾陽氣。歸於下元。而加蔥白透表以散外邪。如法用之即愈。萬不宜遲。渠家父子俱病。無人敢主。且駭為偏僻之說。旋即更醫。投以表藥。頃刻陽氣升騰。肌膚粟起。又頃刻寒顫切牙。渾身凍裂而逝。翁雖海濱一氓。留心管晏富國之略。而　志以沒也。良足悼矣。其醫於曙修調理藥仍行克伐。致元氣日削。謝絕醫藥。靜養六十余日。方起於床。愈後。</p>
<p>凡遇戚友家。見余用藥。率多詆訾。設知當日解表和中。俱用人參。肯舍命從我乎。是其所以得全者。藉於濟卿之權巧矣。</p>
<p><u>附傷寒戴陽證</u></p>
<p>　石開曉病傷風咳嗽。未嘗發熱。日覺急迫欲死。呼吸不能相續。求余診之。余見其頭面赤紅。躁擾不歇。脈亦豁大而空。謂曰。此證頗奇。全似傷寒戴陽證。何以傷風小恙亦有之。急宜用人參附子等藥。溫補下元。收回陽氣。不然子丑時一身大汗。脫陽而死矣。渠不以為然。及日落。陽不用事。</p>
<p>愈慌亂不能少支。忙服前藥。服後稍寧片刻。又為床側添同寢一人。逼出其汗如雨。再用一劑。汗止身安。</p>
<p>咳嗽俱不作。詢其所繇。云連服麻黃藥四劑。遂爾躁急欲死。然後知傷風亦有戴陽證。與傷寒無別。總因其人平素下虛。是以真陽易於上越耳。</p>
<p>胡卣臣先生曰。戴陽一證。剖析精詳。有功來學。</p>
<h2>辨王玉原傷寒後余熱並永定善後要法</h2>
<p>王玉原昔年感證。治之不善。一身津液。盡為邪熱所爍。究竟十年余。熱未盡去。右耳之竅嘗閉。今夏復病感。纏綿五十多日。面足浮腫。臥寐不寧。耳間氣往外觸。蓋新熱與舊熱相合。野狼狽為患。是以難於去體。醫者不察其綢繆膠結之情。治之茫不中　。延至秋深。金寒水冷。病方自退。然淺者可退。深者莫由遽退也。面足浮腫者。肺金之氣。為熱所壅。失其清肅下行之權也。臥寐不寧者。胃中之津液干枯。不能內榮其魂魄也。耳間大氣撞出者。久閉之竅。氣來不覺。今病體虛羸。中無阻隔。氣逆上衝。始知之也。外病雖愈。而飲食藥餌之內調者。尚居其半。特挈二事大意。為凡病感者。明善後之法焉。蓋人當感後。身中之元氣已虛。身中之邪熱未淨。於此而補虛。則熱不可除。</p>
<p>於此而清熱。則虛不能任。即一半補虛。一半清熱。終屬模糊。不得要領。然舍補虛清熱外。更無別法。</p>
<p>當細辨之。補虛有二法。一補脾。一補胃。如瘧痢後脾氣衰弱。飲食不能運化。宜補其脾。如傷寒後胃中津液久耗。新者未生。宜補其胃。二者有霄壤之殊也。清熱亦有二法。初病時之熱為實熱。宜用苦寒藥清之。大病後之熱為虛熱。宜用甘寒藥清之。二者亦霄壤之殊也。</p>
<p>人身天真之氣。全在胃口。津液不足即是虛。生津液即是補虛。故以生津之藥。合甘寒瀉熱之藥。而治感後之虛熱。如麥門冬生地黃牡丹皮人參梨汁竹瀝之屬。皆為治法。仲景每用天水散以清虛熱。正取滑石甘草。一甘一寒之義也。設誤投參　苓朮補脾之藥為補。寧不並邪熱而補之乎。至於飲食之補。但取其氣。不取其味。如五穀之氣以養之。五菜之氣以充之。每食之間。便覺津津汗透。將身中蘊蓄之邪熱。以漸運出於毛孔。何其快哉。人皆不知此理。急於用肥甘之味以補之。目下雖精采健旺可喜。不思油膩阻滯經絡。邪熱不能外出。久久充養完固。愈無出期矣。前哲有鑒於此。寧食淡茹蔬。使體暫虛而邪易出。乃為貴耳。前藥中以浮腫屬脾。用苓朮為治。以不寐責心。用棗仁茯神為治。總以補虛清熱之旨未明。故詳及之。</p>
<p>胡卣臣先生曰。傷寒後飲食藥餌二法。足開聾　。</p>
<h2>答門人問蔣中尊受病致死之因</h2>
<p>門人問曰。崇明蔣中尊病傷寒。臨危求肉汁淘飯半碗。食畢。大叫一聲而逝。此何故也。答曰。今人外感病。兼內傷者多。用藥全要分別。如七分外感。三分內傷。</p>
<p>則治外感藥中。宜用緩劑小劑。及薑棗和中為引。庶無大動正氣汗血等累。若七分內傷。三分外感。則用藥全以內傷為主。但加入透表藥一味。而熱服以助藥勢。則外感自散。蓋以內傷之人。才有些微外感。即時發病。不似壯盛之人。必所感深重。其病乃發也。蔣中尊者。向曾見其滿面油光。已知其精神外用。非永壽之人也。人惟　然不足。方有餘地。可以應世。可以當病。若夫神采外揚。中之所存。寧復有幾耶。近聞其宦情與聲色交濃。宵征海面。冒蜃煙蛟霧之氛。尚犯比頑之戒。則其病純是內傷。</p>
<p>而外感不過受霧露之氣耳。霧露之邪。其中人也。但入氣釐清道。原不傳經。故非發表攻裡所能驅。惟培元氣。濃穀氣。則邪不驅而自出。設以其頭暈發熱。認為太陽之證。誤表其汗。則內傷必轉增。而危殆在所必致矣。且內傷之人。一飽一飢。早已生患。又誤以為傷寒而絕其食。已虛益虛。</p>
<p>致腹中餒憊。求救於食。食入大叫一聲者。腸斷而死也。此理甚明。如飢民仆地即死。氣從中斷。不相續也。又如膈病。展轉不能得食。臨危每多大叫而逝。以無外感之邪亂其神明。是以炯炯自知其絕也。果有外邪與正交爭。其人未死前。先已昏惑不省矣。安得精明若是哉。子於望聞問切之先。早清其鑒可矣。</p>
<p>門人又問曰。每見人之神采外揚者。病發恆多汗而躁急。不識何藥可以治之。答曰。上藥在以神治神。蓋神既外揚。必須內守。方可逆挽。老子所謂知其雄守其雌。知其白守其黑。真對證之藥也。若夫草木之性。則取其氣下達而味沉濃者。用之恆使勿缺。仿灌園之例。頻頻預沃之以水。而防其枯竭可也。</p>
<p>門人又問曰。臨危索飯之時。尚有藥可救否。曰。獨參湯可以救之。吾嘗治一孕婦傷寒。表汗過後。忽喚婢作伸冤之聲。知其擾動陽氣。急迫無奈。令進參湯。不可捷得。遂以白朮三兩。</p>
<p>熬濃汁一碗與服。即時安妥。況人參之力百倍白朮耶。</p>
<h2>論內傷轉瘧宜防虛脫並治驗</h2>
<p>袁繼明素有房勞內傷。偶因小感。自煎薑蔥湯表汗。因而發熱三日。變成瘧疾。余診其脈。豁大空虛。</p>
<p>且寒不成寒。熱不成熱。氣急神揚。知為元陽衰脫之候。因謂其父曰。令郎光景。竊慮來日瘧至。大汗不止。</p>
<p>難於救藥。倘信吾言。今晚急用人參二兩。煎濃汁頻服防危。渠父不以為意。次日五鼓時。病者精神便覺恍惚。扣門請救。及覓參至。瘧已先發矣。余甚彷徨。恐以人參補住瘧邪。雖救急無益也。只得姑俟瘧勢稍退。方與服之。服時已汗出沾濡。頃之果然大汗不止。昏不知人。口流白沫。灌藥難入。直至日暮。</p>
<p>白沫轉從大孔遺出。余喜曰。沫下行可無恐矣。但內虛腸滑。獨參不能勝任。急以附子理中湯。連進四小劑。人事方蘇。能言。但對面譚事不清。門外有探病客至。渠忽先知。家人驚以為祟。余曰。此正神魂之離舍耳。吾以獨參及附子理中。駟馬之力追之。尚在半返未返之界。以故能知宅外之事。再與前藥二劑而安。</p>
<p>胡卣臣先生曰。病情上看得委息周至。大開生面。</p>
<h2>推原陸中尊瘧患病機及善後法</h2>
<p>陸六息先生體偉神健。氣旺血充。從來無病。蒞任以後。適值奇荒巨寇。憂勞百倍。因而病瘧。食飲減少。肌肉消瘦。形體困倦。口中時時噯氣。其候一日輕。一日重。纏綿三月。大為所苦。察脈辨證。因知先生之瘧。乃飢飽勞佚所感。受傷在陽明胃之一經。夫陽經受病。邪氣淺而易愈。乃至為所苦者。緣不識病之所在。藥與病邪不相值。反傷其正耳。誠知病邪專專在胃。則胃為水穀之海。多氣多血之區。一調其胃。而瘧立止矣。故飲食減而大便轉覺艱澀者。胃病而運化之機遲也。</p>
<p>肌肉消瘦者。胃主肌肉也。形體困倦者。胃病而約束之機關不利也。口中時時噯氣者。胃中不和而顯晦塞之象也。至於一日輕而一日重者。此人所不經見之證。病機之最當發明者。其候亦陽明胃經之候也。內經陽明脈解篇有曰。陽明之病。惡人與火。聞木聲則惕然而驚。及刺瘧篇又曰。陽明之證。喜見火。</p>
<p>喜見日月光。何經文之自為悖謬耶。不知此正更實更虛之妙義。而與日輕日重之理相通者也。夫陽明得病之始。則邪氣有餘。故惡人惡火惡木音者。惡其劫邪也。及其病久。則邪去而正亦虛。</p>
<p>故喜火喜日月光者。喜其助正也。若是則時日干支之衰旺。其與人身相關之故。可類推矣。蓋甲丙戊庚壬者。</p>
<p>天時之陽也。乙丁己辛癸者。天時之陰也。瘧久食減。胃中之正已虛。而邪去未盡。是以值陽日助正。而邪不能勝則輕。值陰日助邪。而正不能勝則重也。夫人身之病。至於與天時相召。亦云亟矣。使當日稍知分經用藥。何至延綿若是哉。迄今吃緊之處。全以培養中氣為主。蓋人雖一胃。</p>
<p>而有三脘之分。上脘象天。清氣居多。下脘象地。濁氣居多。而其能升清降濁者。全賴中脘為之運用。一如天地定位。不可無人焉參贊之也。先生下脘之濁氣。本當下傳也。而傳入腸中則艱。不當上升也。而升至胸中甚易者。無他。中脘素受飲食之傷。不能阻下脘濁氣上干清道耳。試觀天地間。有時地氣上而為云。必得天氣下而為雨。則二氣和而晴爽立至。若一味地氣上升。天氣不降。則太空窒塞。而成陰噎之象。</p>
<p>人之胃中亦猶是也。清濁偶有相干。頃當自定。設有升無降則逼矣。故中脘之氣旺。則水穀之清氣。上升於肺。而灌輸百脈。水穀之濁氣。下達於大小腸。從便溺而消。胸中何窒塞之有哉。此所以培養中氣為亟亟也。中氣旺。則濁氣不久停於下脘。而臍下丹田之真氣。方能上下無礙。可以呼之於根。吸之於蒂。深深其息矣。所用六味地黃丸。凝滯不行之藥。大為胃病所不宜。況於濁氣上干。反以陰濁之屬。揚波助流。尤無所取。今訂理中湯一方升清降濁為合法耳。</p>
<p>胡卣臣先生曰。說病機處花雨繽紛。令觀者得未曾有。</p>
<h2>力爭截瘧成脹臨危救安奇驗</h2>
<p>劉泰來年三十二歲。體豐面白。夏月慣用冷水灌汗。坐臥巷曲當風。新秋病瘧三五發。後用藥截住。遂覺胸腹間脹滿日增。不旬日外。腹大胸高。上氣喘急。二便全無。飲食不入。能坐不能臥。能俯不能仰。勢頗危急。雖延余至家。其專主者在他醫也。其醫以二便不通。服下藥不應。商用大黃二兩。作一劑。病者曰。不如此不能救急。可速煎之。余駭曰。此名何病也。而敢放膽殺人耶。醫曰。傷寒腸結。下而不通。</p>
<p>惟有大下一法。何謂放膽。余曰。世間有不發熱之傷寒乎。傷寒病因發熱。故津液枯槁。腸胃干結。而可用下藥以開其結。然有不轉失氣者不可攻之戒。正恐誤治太陰經之腹脹也。此病因腹中之氣。散亂不收。故津水隨氣橫決四溢而作脹。全是太陰脾氣不能統攝所致。一散一結。相去天淵。再用大黃猛劑大散其氣。若不脹死。定須腹破。曷不留此一命。必欲殺之為快耶。醫唯唯曰。吾見不到。姑已之。出語家人曰。吾去矣。此人書多口溜。</p>
<p>不能與爭也。病家以余逐其醫而含怒。私謂醫雖去。藥則存。且服其藥。請來未遲。才取藥進房。余從後追至。擲之溝中。病者殊錯愕。而婉其辭曰。此藥果不當服。亦未可知。但再有何法。可以救我。其二弟之不平。則征色而且發聲矣。余即以一柬。面辨數十條。而定理中湯一方於後。病者見之曰。議論反覆精透。但參朮助脹。安敢輕用。大黃藥已吃過二劑。尚未見行。不若今日且不服藥。挨至明日。再看光景。亦無可奈何之辭也。余曰。何待明日。腹中真氣漸散。今晚子丑二時。陰陽交剝之界。必大汗暈眩。難為力矣。病者曰。銼好一劑。俟半夜果有此證。</p>
<p>即刻服下何如。不識此時。尚可及否。余曰。既畏吾藥如虎。煎好備急亦通。余就客寢。坐待室中呼召。絕無動靜。次早其子出云。昨晚果然出汗發暈。忙服尊劑。亦不見效。但略睡片時。仍舊作脹。進診。病者曰。服藥後。喜疾勢不增。略覺減可。且再服一劑。未必大害。余遂以三劑藥料作一劑。加人參至三錢。服過又進一大劑。少加黃連在內。病者扶身出廳云。內脹大減。即不用大黃亦可耐。但連日未得食。必用大黃些些。</p>
<p>略通大便。吾即放心進食矣。余曰。如此爭辯。還認作傷寒病。不肯進食。其實吃飯吃肉。亦無不可。於是以老米煮清湯飲之。不敢吞粒。余許以次日一劑。立通大便。病者始快。其二弟亦快云。定然必用大黃。但前後不同耳。次日。戚友俱至。病者出廳問藥。余曰。腹中原是大黃推蕩之泄糞。其所以不出者。以膀胱脹大。腹內難容。將大腸撐緊。任憑極力努掙。無隙可出。看吾以藥通膀胱之氣。不治大便。而大便自至。足為證驗。於是以五苓散本方與服。藥才入喉。病者即索穢桶。小便先出。大便隨之。頃刻泄下半桶。觀者動色。競稱華佗再出。然亦非心服也。一月後。小患傷風。取藥四劑。與葷酒雜投。及傷風未止。並謂治脹亦屬偶然。竟沒其功。然余但恨不能分身剖心。指引迷津耳。實無居功之意也。</p>
<p>胡卣臣先生曰。世間不少血性男子。然肝腦無補者多矣。此段轉移。全在危疑關頭著力。所以為超。</p>
<h2>詳述陸平叔傷寒危證治驗並釋門人之疑</h2>
<p>陸平叔文學。平素體虛氣怯。面色痿黃。藥宜溫補。不宜寒涼。固其常也。秋月猶患三瘧。孟冬復受外寒。雖逗寒熱一班。而未至大寒大熱。醫者以為瘧後虛邪。不知其為新受實邪也。投以參朮補劑。轉致奄奄一息。遷延兩旬。間有從外感起見者。用人參白虎湯。略無寸效。昏昏嘿嘿。漫無主持。彌留之頃。昆弟子侄倉皇治木。召昌診視。以決行期之早暮。非求治療也。昌見其脈未大壞。腹未大滿。小水尚利。但筋脈牽掣不停。因謂此病九分可治。只恐手足痿廢。仲景有云。經脈動惕者。久而成痿。今病已廿三日之久。血枯筋燥。從可識矣。吾今用法。治則兼治。當於仲景之外。另施手眼。以仲景雖有大柴胡湯兩解表裡之法。而無治痿之法。變用防風通聖散成方。減白朮。以方中防風荊芥薄荷麻黃桔梗為表藥。大黃芒硝黃芩連翹梔子石膏滑石為裡藥。原與大柴胡之制相仿。但內有當歸川芎芍藥。正可領諸藥深入血分。而通經脈。</p>
<p>減白朮者。以前既用之貽誤。不可再誤耳。當晚連服二劑。第一劑殊若相安。第二劑大便始通。</p>
<p>少頃睡去。體間津津有汗。次早再診。筋脈不為牽掣。但陽明胃脈洪大反加。隨用大劑白虎湯。石膏知母。</p>
<p>每各兩許。次加柴胡花粉芩柏連翹梔子。一派苦寒。連進十余劑。神識始得漸清。粥飲始得漸加。經半月始起坐於床。經一月始散步於地。人見其康復之難。咸憂其虛。抑且略一過啖。即爾腹痛便泄。儼似虛證。昌全不反顧。但於行滯藥中加用柴胡桂枝。升散余邪。不使下溜而變痢以取憊。然後改用葳蕤二冬。略和胃氣。間用人參不過五分。前後用法。一一不違矩。乃克起九死於一生也。門人不解。謂先生治此一病。藉有天幸。內經云。盛者責之。虛者責之。先生今但責其邪盛。而不責其體虛。是明與內經相背也。余笑曰。吾非騖末忘本。此中奧義。吾不明言。金針不度也。緣平叔所受外邪。不在太陽。</p>
<p>而在陽明。故不但不惡寒。且並無傳經之壯熱。有時略顯潮熱。又與內傷發熱相仿。誤用參朮補之。</p>
<p>邪無出路。久久遂與元氣混合為一。如白銀中傾入鉛銅。則不成銀色。所以神識昏惑。嘿嘿不知有人理耳。</p>
<p>又陽明者。十二經脈之長。能束筋骨而利機關。陽明不治。故筋脈失養。而動惕不寧耳。然經雖陽明。而治法迥出思議之表。仲景云。陽明居中土也。萬物所歸。無所復傳。又云。傷寒欲再傳經者。針足陽明。使邪不傳則愈。凡此皆指已汗已下已傳經之邪為言。故中土可以消受。若夫未經汗下。未周六經。方盛之邪。中土果能消之否耶。所以仲景又云。陽明中風脈弦浮大而短氣。</p>
<p>腹都滿。脅下及心痛。久按之氣不通。鼻干不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。時時噦。耳前後腫。刺之小瘥。外不解。病過十日。脈續浮者。與小柴胡湯。脈但浮無余證老。與麻黃湯。若不尿。腹滿加噦者不治。平叔之脈。弦浮大而短氣。鼻干不得汗。嗜臥。一身及面目悉黃。過經二十余日不解。</p>
<p>悉同此例。第其腹未滿。小水尚利。則可治無疑。然治之較此例倍難者。以非一表所能辦也。今為子輩暢發其義。夫天包地外。地處天中。以生以長。以收以藏。玄穹不尸其功。而功歸後土。故土膏一動。百草莫不蕃茂。土氣一收。萬物莫不歸根。仲景之言中土。但言收藏。而生長之義。在學人自會。設偏主收藏。</p>
<p>則是地道有秋冬。無春夏。能化物而不能造物矣。治病之機亦然。平叔之病。舉外邪而錮諸中土。則其土為火燔之焦土。而非膏沐之沃土矣。其土為灰砂打和之燥土。而非沖純之柔土矣。焦土燥土。全無生氣。而望其草木之生也。得乎。吾乘一息生機。大用苦寒。引北方之水。以潤澤其枯槁。連進十余劑。其舌始不向唇外吮咂。所謂水到渠成。乃更甘寒一二劑。此後絕不置力者。知其飲食入胃。散精於脾。如靈雨　。日復一日。</p>
<p>優渥沾足。無藉人工灌溉。而中土可復稼穡之恆耳。必識此意。乃知吾前此濫用苦寒。</p>
<p>正以培生氣也。生氣回而虛者實矣。夫豈不知其素虛。而反浚其生耶。</p>
<h2>面議何茂倩令嬡病單腹脹脾虛將絕之候</h2>
<p>從來腫病。遍身頭面俱腫。尚易治。若只單單腹腫。則為難治。此其間有所以然之故。不可不辨也。蓋傳世諸方。皆是悍毒攻劫之法。傷耗元氣。虧損脾胃。可一不可再之藥。縱取效於一時。倘至復腫。則更無法可療。此其一也。且遍身俱腫者。五臟六腑。各有見證。故瀉肝瀉肺瀉膀胱瀉大小腸之藥。間有取效之時。而單單腹腫。則中州之地。久窒其四運之軸。而清者不升。濁者不降。互相結聚。牢不可破。實因脾氣之衰微所致。而瀉脾之藥。尚敢漫用乎。此又其一也。且腫病之可瀉者。但可施之西北壯盛。及田野農夫之流。豈膏粱老少之所能受。設謂腫病為大滿大實。必從乎瀉。則病後腫與產後腫。將亦瀉之耶。此又其一也。且古方原載腫病五不治。唇黑傷肝。缺盆平傷心。臍出傷脾。背平傷肺。足底平滿傷腎。此五者不可治矣。是其立方之意。皆非為不可治之證而設。後人不察。概從攻瀉者何耶。惟理脾一法。雖五臟見不治之證。而能治者尚多。此又其一也。張子和以汗吐下三法。劫除百病。後人有謂子和之書。非子和之筆。乃麻徵君文之者。誠為知言。如常仲明云。世人以補劑療病。宜乎不效。此則過信劉張之學。而罔顧元氣之羸劣耳。所以凡用劫奪之藥者。其始非不遽消。其後攻之不消矣。其後再攻之如鐵石矣。不知者見之。方謂何物邪氣。若此之盛。自明者觀之。不過為猛藥所攻。即以此身之元氣。轉與此身為難者。實有如驅良民為寇之比。所謂赤子盜兵。弄於潢池。　其然哉。明乎此。則有培養一法。補益元氣是也。則有招納一法。升舉陽氣是也。則有解散一法。開鬼門潔淨府是也。</p>
<p>三法雖不言瀉。而瀉在其中矣。無余蘊矣。</p>
<p>胡卣臣先生曰。脹滿必從乎瀉。然善言瀉者。補之中無非瀉也。觀者須識此意。始得立言之旨。</p>
<h2>辨痢疾種種受證不同隨證治驗</h2>
<p>胡太夫人。偶然肚腹不寧。瀉下數行。醫以痢疾藥治之。其利轉多。更引通因通用之法。用九蒸大黃丸三錢下之。遂擾動胃氣脹痛。全不思食。有似噤口痢狀。余診之。見六脈皆沉而伏。應指模糊。亟曰。此非痢疾之證。乃誤治之證也。今但安其胃。不必治痢。而痢自止。不必治脹痛。而脹痛自止。於是以四君子湯為主治。少加薑蔻暖胃之藥。用之二劑。痢果不作。但苦胃中脹痛不安。必欲加入行氣之藥。以冀脹消痛止。而速得進食。余固爭曰。寧可緩於食。不可急於藥。蓋以前因誤治。引動胃氣作楚。如治亂民。惟有安之之法。若再加行氣。則脹痛必無紀極。堅持前說。即用橘皮和中。亦須炒而又炒。絕不惹動其氣。凡五日未得大便。亦不惹動其便。聽其緩緩痛止脹消。食進便利。共七日全安。渾不見藥之功。其實為無功之功也。噫。今之隨主見而圖可喜之功者。即生出事端。亦謂病之所有。非醫之所造。誰懸明鑒。而令絲毫莫遁耶。此所以成時醫之世界也。</p>
<p>張仲儀初得痢疾三五行。即請往診。行動如常。然得內傷之脈。而夾少陰之邪。余診畢。即議云。此證仍宜一表一裡。但表藥中多用人參。裡藥中多用附子。方可無患。若用痢疾門諸藥。必危之道也。仲儀以平日深信。徑取前藥不疑。然疾勢尚未著也。及日西。忽發大熱。身重如巨石。頭在枕上。兩人始能扶動。人事沉困。舉家惶亂。忙忙服完表裡二劑。次早診時。即能起身出房。再與參附藥二劑全安。若不辨證用藥。痢疾門中幾曾有此等治法乎。況於疾未著而早見乎。</p>
<p>周信川年七十三歲。平素體堅。不覺其老。秋月病痢。久而不愈。至冬月成休息痢。一晝夜十余行。面自浮腫。肌膚晦黑。求治於余。診其脈沉數有力。謂曰。此陽邪陷入於陰之證也。吾當以法治之。尚可痊愈。</p>
<p>明日吾自袖藥來面治。於是以人參敗毒散本方煎好。用濃被圍椅上坐定。置火其下。更以布條卷成鵝蛋狀。置椅褥上。墊定肛門。使內氣不得下走。然後以前藥滾熱與服。良久又進前藥。遂覺皮間有津津微潤。</p>
<p>再溉以滾湯。教令努力忍便。不得移身。如此約二時之久。皮間津潤總未干。病者心躁畏熱。忍不可忍。始令連被臥於床上。是晚止下痢二次。以後改用補中益氣湯。一晝夜止下三次。不旬日而全愈。蓋內陷之邪。欲提之轉從表出。不以急流挽舟之法施之。其趨下之勢。何所底哉。聞王星宰世兄。患久痢。諸藥不效。蘇郡老醫。進以人參敗毒散。其勢瘥減。大有生機。但少此一段斡旋之法。竟無成功。故凡遇陽邪陷入陰分。如久瘧久痢久熱等證。當識此意。使其緩緩久久。透出表外。方為合法。若急而速。則恐才出又入。徒傷其正耳。</p>
<p>朱孔陽年二十五歲。形體清瘦。素享安佚。夏月因　訟。奔走日中。暑濕合內郁之火。而成痢疾。晝夜一二百次。不能起床。以粗紙鋪於褥上。頻頻易置。但飲水而不進食。其痛甚厲。肛門如火烙。揚手踢足。</p>
<p>躁擾無奈。余診其脈。弦緊勁急。不為指撓。謂曰。此證一團毒火。蘊結在腸胃之內。其勢如焚。救焚須在頃刻。若二三日外。腸胃朽腐矣。於是以大黃四兩。黃連甘草各二兩。入大砂鍋內煎。隨滾隨服。服下人事稍寧片刻。少頃仍前躁擾。一晝夜服至二十余碗。大黃俱已煎化。黃連甘草。俱煎至無汁。次日病者再求前藥。余診畢。見脈勢稍柔。知病可愈。但用急法。不用急藥。遂改用生地麥門冬各四兩。另研生汁。而以天花粉牡丹皮赤芍甘草各一兩。煎成和汁大碗咽之。</p>
<p>以其來勢暴烈。一身津液。從之奔竭。待下痢止。然後生津養血。則枯槁一時難回。今脈勢既減。則火邪俱退。不治痢而痢自止。豈可泥潤滯之藥。而不急用乎。服此藥。果然下痢盡止。但遺些少氣沫耳。第三日。思食豆腐漿。第四日。略進陳倉米清汁。緩緩調至旬余。方能消穀。亦見胃氣之存留一線者。不可少此焦頭爛額之客耳。</p>
<p>陳汝明病痢。發熱如蒸。昏沉不食。重不可言。至第三日。危急將絕。方請余診。其脈數大空虛。尺脈倍加洪盛。謂曰。此兩病而湊於一時之證也。內有濕熱。與時令外熱相合。欲成痢證。尚不自覺。又犯房勞。</p>
<p>而為驟寒所乘。以故發熱身重。不食昏沉。皆屬少陰腎經外感。少陰受邪。原要下痢清白。此因腸中濕熱。已蒸成豬肝魚腦敗濁之形。故色雖變而下痢則同也。再用痢疾門藥一劑。即刻不救矣。遂忙以麻黃附子細辛湯一劑。與之表散外邪。得汗後熱即微減。再以附子理中湯。連進二劑。</p>
<p>熱退身輕能食。改用黃連理中湯丸。服至旬日全安。</p>
<p>葉茂卿幼男病痢。噤口發熱十余日。嘔噦連聲不斷。診其關脈。上涌而無根。再診其足脈。亦上涌而無根。謂其父曰。此非噤口痢之證。乃胃氣將絕之證也。噤口痢者。虛熱在胃。壅遏不宣。故覺其飽而不思食。</p>
<p>治宜補虛清熱兩法。此因苦寒之藥所傷。不能容食。治惟有顓顓溫補一法而已。於是以理中湯連投二劑。不一時痢下十余行。遍地俱污。茂卿恐藥不對證。求更方。余曰。吾意在先救胃氣之絕。原不治痢。</p>
<p>即治痢。人之大小腸。盤疊腹中甚遠。雖神丹不能遽變其糞。今藉藥力催之速下。正為美事。焉可疑之。遂與前藥連服三日。人事大轉。思食不噦。痢勢亦減。四日後止便糟粕。以補中益氣湯調理旬日全安。</p>
<p>此可見小兒之痢。縱啖傷胃者多。內有積熱者少。尤不宜輕用痢疾門中通套治法也。</p>
<p>浦君藝病痢疾。初起有表邪未散。而誤用參朮固表。使邪氣深入。又誤服黃連涼解。大黃推蕩。治經月余。胃氣不運。下痢一晝夜百余行。一夕嘔出從前黃連藥汁三五碗。嘔至二三次後。胃與腸遂打為一家。內中幽門闌門。洞開無阻。不但粥飲直出。即人參濃膏。才吞入喉。</p>
<p>已　從腸奔下。危急之中。諸昆玉及內戚俱探余曰。此證可無恐乎。余曰。在此用藥。便有可恃。吾豈不知病勢之危。但無別人可任。姑以靜鎮之。而殫力以報知己耳。於是以大劑四君子湯。煎調赤石脂禹餘糧二味。連連與服。服後其下奔之勢少衰。但腹中痛不可忍。君藝曰。前此下痢雖多。然尚不痛。服此藥而痛增。未可再服矣。余曰。此正所謂通則不痛。痛則不通之說也。不痛則危。痛則安。何樂而不痛耶。仍以前藥再進。俟勢已大減。才用四君子倍茯苓。十余劑全安。</p>
<p>胡卣臣先生曰。閉門造車。出而合轍。使郡邑醫學中。仿此議病。先衡量所造高下。然後用之則可矣。</p>
<h2>面議少司馬李萍槎先生誤治宜用急療之法</h2>
<p>老先生玉體清瘦。澹泊寧靜以御神。病邪無從竊入。雖食飲素約。然三日始一更衣。出孔比入孔尤約。</p>
<p>故精神有餘。足以慮周當世。而中外倚毗壯猷也。偶因大便後寒熱發作有時。頗似外感。其實內傷。非感也。</p>
<p>緣素艱大便。努掙傷氣。故便出則陰乘於陽而寒。頃之稍定。則陽復勝陰而熱也。若果外感之寒熱。何必大便後始然耶。此時但宜以和平之劑治內傷。輔養元氣為上。加入外感藥。驅導兼行。必致內傷轉增。奈何先生方欲治腸中之燥。醫家又欲除內蘊之濕。不思腸燥為相安之恆。可以不治。即治之不過潤腸生血。亦無不可。若乃見為濕熱。而用滑利之藥以驅導之。則誤甚矣。蓋瘦人身中以濕為實。有濕則潤。無濕則燥。今指燥為濕。是指火為水也。且膀胱者水道也。</p>
<p>大腸者穀道也。以三日一便之腸。誤用滑藥。轉致　出無度。猶不悔悟。每一大遺。輒矜祛濕之力。世間豈有濕從穀道而出之理哉。不過因主人暫快大腸之潤。而謬飾其詞耳。詎知滄海不足以實漏卮。而元氣日削乎。始之陰陽交勝者。漸至交離。而陰從瀉傷。陽從汗傷。兩寸脈浮而空。陽氣越於上。關尺脈微而細。陰氣越於下。不相維附。勢趨不返矣。然汗出尚有時。而下痢則無時。究竟陰陽之氣。兩竭於下。便出急如箭。肛門熱如烙。此時尚以滑石木通豬苓澤瀉等。分利小水以止泄。不知陰虛自致泉竭。小便從何得來。止令數十年大腸之積蓄盡空。仰給於胃脘。食入毋俟停留。</p>
<p>已挈柄而挹之下注。久久胃不能給。遂將腸中自有之垢。暗行驅下。其臭甚腥。色白如膿。垢盡而腸氣亦不留。只是周身元氣至寶。坐耗於空虛之府。非不服人參大補。然藥力入胃則腸空。入腸則胃空。便出則腸胃俱空。繇是下空則上壅。胸膈不舒。喉間頑痰窒塞。口燥咽乾。徹夜不寐。一切食物。惟味薄質輕者。胃中始愛而受之。此時尚圖養血安神。調脾祛痰。曠日緩治。其不達時宜也甚矣。</p>
<p>夫宣房瓠子之決。天子公卿。咸輕擲金馬璧雞奠之。以策群力。而襄底定。請以朝廷破格之法。而通於醫藥可乎。草野罔識忌諱。或者可與圖功耳。</p>
<p><u>附藥議</u></p>
<p>　方用人參。白朮。甘草。山茱萸。五味子。宣木瓜。白芍藥。升麻。赤石脂。禹餘糧。人參。</p>
<p>白朮。茯苓。甘草。為四君子湯。理脾胃之正藥也。而不用茯苓者。以其淡滲。恐傷陰也。而用山茱萸以收肝氣之散。五味子以收腎氣之散。宣木瓜以收胃氣之散。白芍藥以收脾氣及臟氣之散。合之參朮之補。</p>
<p>甘草之緩。升麻之升。陰陽兩和。俾元氣上者下而下者上。團聚於中不散。斯脈不至上盛。腹不至雷鳴。汗不至淋漓。肛不至火熱。食飲自加。便泄自止。是收氣之散。為吃緊關頭。故取四味重復。藉其顓力。至於用澀以固脫。藥味多般不同。此用禹餘糧石脂者。取其顓固下焦之脫也。況腸胃之空。非二味不填。腸垢已去。非二味不復。其黏著之性。所謂下焦有病患難會。須用余糧赤石脂者。以是故也。又況誤以石之滑者傷之。必以石之澀者救之。尤有同氣相求之義耶。所以必用大劑藥料。煎濃膏。調二味服下。恐藥力清薄。不遂其留戀。故以啜羹之法用之。取其久停。又以飲醇之法用之。取其緩入。非謂一飲盡劑。強以所難也。先生弗解其意。見藥劑過重。謂為難用。醫者見二味澀藥。又從旁破為不可用。不知十劑中澀居其一。如七曜經天。何可少一曜耶。且石脂不過土之赤者也。余糧不過土之外剛內柔者也。中州土病而引土為治。尚謂不宜。則諸草木之根　。更無取矣。東海西海。天下後世。有明者出焉。理自相同。光自不掩。必求行其所知。則賤者售。而病乃殆矣。謂之何哉。</p>
<p>先生聞名而請。極其敬重。及見議病議方。反多疑意。不才即於方末慨嘆數語。飄然而別。次日先生語戚友云。昨之論辨甚明。但石脂余糧。生平未曾服過。即婁中醫者亦未曾用過。只得附未達不敢嘗之義。華天御孝廉荐治陳彥質之病。比先生更重幾倍。用石脂余糧而收成功。其案具存。可復閱也。其後往郡迎醫。用補劑稍效。然不善於補。轉致夜間健食。脾氣泄露無余。肛門火烙。陽氣下陷。久而不升。遂成臀癰。竟付外科治瘳。吁嗟。先生獨何不身事視國也哉。</p>
<p>胡卣臣先生曰。萍槎司馬揚歷中外。清剛曉練。今之顯允方叔也。從津門歸。朝命再下。倚任方殷。司馬淹留抱　。竟至不起。使用嘉言之言。即以疆場死。不猶愈易簀家臣之手耶。</p>
<h2>面議陳彥質臨危之證有五可治</h2>
<p>陳彥質患腸風下血。近三十年。體肥身健。零星去血。旋亦生長。不為害也。舊冬忽然下血數斗。蓋謀慮憂郁。過傷肝脾。肝主血。脾統血。血無主統。故出之暴耳。彼時即宜大補急固。延至春月。則木旺土衰。</p>
<p>脾氣益加下溜矣。肝木之風。與腸風交煽。血盡而下塵水。水盡而去腸垢。垢盡而吸取胃中所納之食。</p>
<p>下行。總不停留變化。直出如箭。以致肛門脫出三五寸。無氣可收。每以熱湯浴之。睜叫托入。頃之去後。其肛復脫。一晝夜下痢二十余行。苦不可言。面色浮腫。夭然不澤。唇焦口乾。鼻孔黑煤。種種不治。</p>
<p>所共睹矣。仆診其脈。察其證。因為借箸籌之。得五可治焉。若果陰血脫盡。則目盲無所視。今雙眸尚炯。是所脫者下焦之陰。而上焦之陰猶存也。一也。若果陽氣脫盡。當魄汗淋漓。目前無非鬼像。今汗出不過偶有。而見鬼亦止二次。是所脫者脾中之陽。而他臟之陽猶存也。二也。胃中尚能容穀些少。未顯嘔吐噦逆之證。則相連臟腑。未至交絕。三也。夜間雖艱於睡。然交睫時亦多。更不見有發熱之候。四也。脈已虛軟無力。而激之間亦鼓指。是稟受原豐。不易摧朽。五也。但脾臟大傷。兼以失治曠日。其氣去絕不遠耳。</p>
<p>經云。陽氣者如天之與日。失其所。則折壽而不彰。今陽氣陷入陰中。大股熱氣。從肛門泄出。如火之烙。不但失所已也。所以猶存一線生意者。以他臟中未易動搖。如輔車唇齒。相為倚藉。供其絕乏耳。夫他臟何可恃也。生死大關。全於脾中之陽氣。復與不復定之。陽氣微復。則食飲微化。便泄微止。肛門微收。</p>
<p>陽氣全復。則食飲全化。便泄全止。肛門全收矣。然陰陽兩竭之余。偏駁之藥。既不可用。所藉者必參朮之無陂。復氣之中。即寓生血。始克有濟。但人參力未易辦。況才入胃中。即從腸出。不得不廣服以繼之。</p>
<p>此則存乎自裁耳。於是以人參湯調赤石脂末。服之稍安。次以人參白朮赤石脂禹餘糧為丸服之。全愈。其後李萍槎先生之病。視此尚輕數倍。乃見石脂余糧之藥。駭而不用。奈之何哉。</p>
<p>胡卣臣先生曰。似此死裡求生。誰不樂從。其他拂情處。不無太直。然明道之與行術。則徑庭矣。</p>
<h2>論黃湛侯吐血暴證治驗</h2>
<p>黃湛侯素有失血病。一晨起至書房。陡爆一口。傾血一盆。</p>
<p>喉間氣涌。神思飄蕩。壯熱如蒸。頸筋　勁。診其脈。尺中甚亂。</p>
<p>曰。此昨晚太犯房勞。自不用命也。因出驗血。見色如太陽之紅。其仆云。此血如宰豬後半之血。其來甚遠。</p>
<p>不識痴人有此確喻。再至寢室。謂曰。少陰之脈。縈舌本。少陰者腎也。今腎中之血。洶涌而出。舌本已硬。無法可以救急。因諦思良久。曰。只有一法。不得已用丸藥一服。墜安元氣。</p>
<p>若氣轉丹田。尚可緩圖。因煎人參濃湯。下黑錫丹三十粒。喉間　有聲。漸下入腹。頃之。舌柔能言。但聲不出。余亟用潤下之劑。以繼前藥。遂與阿膠一味。重兩許。溶化。分三次熱服。溉以熱湯。半日服盡。身熱漸退。勁筋漸消。進粥。與補腎藥。連服五日。聲出喉清。人事向安。但每日尚出深紅之血盞許。因時令大熱。遵內經熱淫血溢。</p>
<p>治以鹹寒之旨。於補腎藥中。多加秋石。服之遂愈。</p>
<p>胡卣臣先生曰。此等治法。全在批　導　處用意。未許向痴人說夢。</p>
<h2>論聞君求血證兼痰證治法</h2>
<p>聞君求有失血疾。時一舉發。其出頗多。咳嗽生痰。上氣。面青少澤。其脈厥陰肝部獨傷。原於忿怒之火無疑。合色脈諦詳。總是陰血不足也。但從前所用之藥。本以生血。反滋其痰。本以驅痰。轉耗其血。似是而非。誰其辨之。夫脈之充也。色之華也。皆氣與血為之也。以脫血故。致令氣亦易脫。每每上升胸膈。喘促脹悶。不利於語言行持。雖舉發有時。然非細故矣。乃用行氣藥以取快。何異操刀使割耶。誠欲氣不上升。無過於血日滋長。暗將浮游之氣。攝入不息之途。乃為良治。然胸膈肺胃間。頑痰膠結。既阻循環。又難培養。似乎痰不亟除。別無生血之法矣。不知此證而欲除痰。痰未必除。氣已先盡。不得之數也。從來痰藥入腹。其痰不過暫開復閉。勞而無功。吾於此每用乘機利導之法。先以微陽藥開其痰。繼以純陰峻投。如決水轉石。亟過痰之關隘。迨至痰之開者復閉。所用生血之藥。早已從天而下。日續一日。久久而血生。血生而氣返血室。如浪子歸家。轉能興家。所藉以驅膠結之痰者。即此氣也。此際始加除痰之藥。庶幾痰去氣存。累年之疾。至是始得痊安耳。然飲食最宜致慎。不但肥甘生痰。濃味傷陰已也。人身自平旦至日中。行陽二十五度。飲食易消。故不成痰。自日中至合夜。行陰二十五度。飲食不消。故易成痰。釋教以過午戒食。其大藥王護身之一則歟。進之調攝。尤為緊關。蓋賢人嘗以秋冬養陰。秋者於時為收。冬者於時為藏。法天地之收藏。而寧茹毋吐。寧拒毋迎。寧早臥。毋早興。蟄蟲尚知閉戶。豈君子可無居室之功耶。況乎欲血不再脫。尤貴退藏於密耶。又況乎厥陰肝木受病。其憔悴之色。見於三時者。猶可諉之病色。至春月發榮之時。更何諉耶。然春月之榮。不自春月始也。始於秋冬收藏之固。設冬月水臟所儲者少。春月木即欲發榮。其如泉竭。不足以溉苞稂何。故失此不治。至春病危始圖之。則萬無及矣。</p>
<p>胡卣臣先生曰。捫虱而談。可驚四座。</p>
<h2>為顧枚先議失血證治並論病機</h2>
<p>顧枚先年二十余歲。身軀肥大。平素嗜酒。邇來鰥居郁郁。壬午孟夏。患失血證。每晚去血一二盞。至季夏時。去血無算。面色不見憔悴。肌肉不見消瘦。診其脈亦不見洪盛。晝夜亦不見寒熱。但苦上氣喘促。夜多咳嗽。喉間窒塞。胸前緊逼。背後刺脹。腹中悶痛。躁急多怒。醫以人參阿膠治失血成法。用之月余。逾增其勢。更醫多方。以圖用膏子之潤上。而氣時降也。用牛膝黃柏之導下。而血時息也。及服酒研三七少許。則血止而　亦不作。但未久。血復至。咳復增。又以為龍雷之火所致。思用八味丸中之些微桂附。</p>
<p>以引火歸原。總繇未識病情也。請因是證而益廣病機焉。人身血為陰。男子不足於陰。故以血為寶。</p>
<p>是以失血之證。陰虛多致發熱。面色多致枯黑。肌肉多致消瘦。</p>
<p>今病者不然。豈其有餘於血哉。以病為飲醇傷胃。胃為水穀之海。多氣多血。二十余年水穀充養之精華。以漸內虧。而外不覺也。胃之脈從頭走足。本下行也。以嘔血之故。逆而上行。則呼吸之音。必至喘急矣。胃之氣傳入大小腸膀胱等處。亦本下行也。以屢嘔之故。上逆而不下達。則腸腹之間。必致痛悶矣。</p>
<p>胃氣上奔。嘔逆橫決。則胸中之氣必亂。至於緊逼痛楚。則亂之甚矣。胸中之位舍有限。已亂之氣。無處可容。勢必攻入於背。以背為胸之府也。至於肩　骨空。鑽如刃刺。則入之深矣。故一胃耳。分為三脘。上脘氣多。下脘血多。中脘氣血俱多。今胃中既亂。氣血混矣。不但胃也。胃之上為膈。其心煩多怒者。正內經所謂血並於膈之上。氣並於膈之下致然。氣血倒矣。所以內經又言血並於陽。氣並於陰。乃為熱中。又言癉成為消中。癉即熱也。消中者善食多飢。而肌肉暗減也。病者之嗜飲。為熱積胃中。其不病消中。而病嘔血者何耶。內經又以胃脈本宜洪盛。反得沉細者。為胃氣已逆。若見人迎脈盛。則熱聚於胃。而內生癰。今胃脈已見沉細。其不成胃癰。而成嘔血者又何耶。不知病者嘔血之源。與此二者同出異名耳。熱積於中即為消。血積於中即為癰。而隨積隨嘔。則為此證。揆其致此之繇。必以醉飽入房而得之。蓋人身氣動則血動。而　精時之氣。有乾坤鼓鑄之象。其血大動。精者血之所化也。灌輸原不止胃之一經。獨此一經所動之血。為醉飽之余所阻。不能與他經之血。緝續於不息之途。是以開此脫血一竇。今者竟成熟路矣。</p>
<p>欲治此病。不如此其分經辨證。何從措手乎。豈惟經也。絡亦宜辨。胃之大絡。貫膈絡肺。不辨其絡。亦孰知膈間緊迸。肺間氣脹痰膠。為胃病之所傳哉。當此長夏土旺。不惟母病。而子失養。抑且母邪盡傳於子。至三秋燥金司令。咳嗽喘滿之患必增。不急治之。則無及矣。今歲少陰司天。少陰之上。熱氣主之。運氣熱也。夏月適當暑熱。時令熱也。而與胃中積熱。合煽其虐。不治其熱。血必不止。然不難於血之止也。第患其止而聚也。聚於中為蠱為癰。猶緩也。聚於上為喘為厥。</p>
<p>則驟也。惟遵內經熱淫血溢。治以鹹寒之旨為主治。咸能走血。寒可勝熱。庶於消渴癰疽兩患。可無妨礙。然必先除經病。務俾經脈下走。經氣下行。後乃可除絡中之病。譬溝渠通而行潦始消也。未易言也。</p>
<p>病者嘔血經久。無法可止。父兄敦請仆往救治。告以必須議病不議藥。方能用。予乃定是案。用玄明粉化水煮黃柏。秋石化水煮知母。以清解蘊熱而消瘀化疽。加甘草以調其苦。獨取鹹寒氣味。進四劑而血止。可謂神矣。醫者果然破藥性太寒。渠家果不終其用。延至八月。病者胸脅高腫數圍。肺內生癰。寒熱大作。喘咳不休。食飲不入。俯幾不敢動移。以致瘠肉磨穿。危在呼吸。百計強與醫治。斷不應命。父兄因生仇恨。再求為其所難。以曲盡人情。只得極力治之。變證蜂出。通計免於五死而得五生。病者不戒。兼啖生冷。肺復生癰。一夕嘔痰。如豬膽狀者。百十余枚。一臟兩傷。竟至不起。仆焦勞百日。心力俱殫。第無如末流難挽何哉。</p>
<p>胡卣臣先生曰。向傳顧病治愈。競稱神仙。其後未免以成敗論矣。倘用鹹寒時。遇有識者贊之。何至渴而穿井。斗而鑄兵耶。然此案自堪傳也。</p>
<h2>面論顧季掖乃室奇證治之奇驗</h2>
<p>顧季掖乃室。仲夏時。孕已五月。偶爾下血。醫以人參阿膠勉固其胎。又經一月。身腫氣脹。血逆上奔。</p>
<p>結聚於會厭胸膈間。食飲才入。觸之痛楚。轉下甚艱。稍急即連粒嘔出。全如噎證。更醫數手。咸以為胎氣上逼。脾虛作腫。而成膈噎也。用人參之補。五味之收為治。延至白露節。計孕期已八月。而病造極中之極。呼吸將絕。始請余診。毫不泄露病狀。其脈尺部微澀難推。獨肺部洪大無倫。其喘聲如曳鋸。其手臂青紫腫亮。如毆傷色。余駭曰。似此凶證。何不早商。季掖曰。昨聞黃咫旭乃室。有孕而膈噎。得遇良治而愈。是以請救。但內子身腫氣急。不識亦可療否。余曰。此證吾視若懸鑒。不必明言以滋驚恐。姑以善藥一二劑投之。通其下閉上壅可也。季掖必求病名。余曰。上壅者。以肺脈之洪大。合於會厭之結塞。知其肺當生癰也。下閉者。以尺脈之微澀。合於肉色之青腫。知其胎已久壞也。善藥者。瀉白散加芩桔之苦以開之。不用硝黃等厲藥也。服一大劑。腹即努痛。如欲產狀。季掖曰。產乎。余曰。</p>
<p>肺氣開而下行。數時閉拒。惡穢得出可也。奚產之云。再進一劑。身腫稍退。上氣稍平。下白污如膿者數斗。</p>
<p>裹朽胎而出。旬余尚去白污。並無點血相間。可知胎朽腹中。已近百日。蔭胎之血。和胎俱化為膿也。</p>
<p>病者當時。胸膈即開。連連進粥。神思清爽。然朽胎雖去。而穢氣充斥周身。為青腫者未去也。胸厭雖寬。而肺氣壅遏。為寒熱咳嗽者未除也。余認真一以清肺為主。旬余果獲全痊。</p>
<p>顧生升恆曰。先生議內子病。余甚駭為不然。及投劑如匙開鑰。其言果驗。朽物既去。忽大腫大喘可畏。</p>
<p>先生一以清肺藥。批　導　。病邪旋即解散。不二旬體復康平。抑何神耶。內子全而老母不至尸饔。幼子不至啼飢。此身不至只影。濃德固難為報耳。因思譚醫如先生。真為軒岐繼後。世俗之知先生者。即謂之謗先生可也。然而百世之下。猶當有聞風與起者矣。昆庠晚學顧升恆季掖甫謹識於案末</p>
<h2>面論薑宜人奇證與交腸不同治法迥異</h2>
<p>薑宜人得奇證。簡本草經疏治交腸用五苓散之說。以為神秘。余見之。辨曰。交腸一證。大小二便。易位而出。若交易然。古用五苓治之。專為通前陰而設也。若此證閉在後陰。二便俱從前陰而出。</p>
<p>擬之交腸。誠有似是實非者。況交腸乃暴病。驟然而氣亂於中。此證乃久病。以漸而血枯於內。有毫厘千裡之不同。安得擬之。原夫疾之所始。始於憂思。結而傷脾。脾統血者也。脾傷則不能統攝。</p>
<p>而錯出下行。有若崩漏。實名脫營。脫營病宜大補急固。乃誤認為崩漏。以涼血清火為治。則脫出轉多。不思天癸已盡。潮汛已絕。萬無是病。其年高氣弱。無血以實漏卮者。毫不念也。於是胞門子戶之血。日漸消亡。勢不得不借資。不仰給矣。借資於大腸。</p>
<p>轉將大腸之血。運輸而滲入胞囊。久之大腸之血亦盡。而大腸之氣。附血而行者。孤而無主。為拳為塊。奔疼渙散。與林木池魚之殃禍同矣。又如救荒者。剝鄰國為立盡之墟所罔顧矣。猶未也。仰給於胃脘。</p>
<p>轉將胃脘之血。吸引而滲入胞囊。久之胃脘之血亦盡。下脫之血。始無源自止。夫胃脘之血。所以榮周身而灌百脈者。今乃暗歸烏有。則苞稂失潤。而黍離足憂。血盡而止。較之血存而脫。又倍遠矣。故血盡然後氣亂。氣亂然後水穀舍故趨新。舍寬趨隘。江漢兩渠。並歸一路。身中為之大亂。勢必大腸之故道復通。</p>
<p>乃可撥亂返治。與五苓一方。全無干涉。又況水穀由胃入腸。另有幽門泌別清濁。今以滲血之故。釀為穀道。</p>
<p>是幽門辟為坦徑矣。尚可用五苓再辟之乎。又況五苓之劫陰。為亡血家所深戒乎。今之見一病輒有一藥橫於胸中。與夫執成方奉為靈秘者。大率皆誤人者也。若宜人之病。余三指才下。便問曰。病中多哭泣否。婢媼曰。時時泣下。乃知臟燥者多泣。大腸方廢而不用也。交腸云乎哉。今大腸之脈。累累而現於指。可虞之時。其來春棗葉生乎。棗葉生而言果驗。</p>
<p>胡卣臣先生曰。此等證他人不能道只字。似此河漢無極。而更精切不可移易。為難能矣。</p>
<h2>治陸令儀尊堂肺癰奇驗</h2>
<p>陸令儀尊堂。平日持齋。腸胃素枯。天癸已盡之後。經血猶不止。似有崩漏之意。余鑒薑宜人交腸之流弊。急為治之。久已痊可。值今歲秋月。燥金太過。濕蟲不生。無人不病咳嗽。而尊堂血虛津枯之體。受傷獨猛。胸脅緊脹。上氣喘急。臥寐不寧。</p>
<p>咳動則大痛。痰中帶血而腥。食不易入。聲不易出。寒熱交作。而申酉二時。燥金用事。諸苦倍增。其脈時大時小。時牢時伏。時弦緊。服清肺藥。如以勺水沃焦。無裨緩急。諸子　徨無措。</p>
<p>知為危候。余亦明告以肺癰將成。高年難任。於是以葶藶大棗瀉肺湯。先通其肺氣之壅。即覺氣稍平。食稍入。痰稍易出。身稍可側。大有生機。余曰。未也。吾見來勢太急。不得已而取快於一時。究竟暫開者。</p>
<p>易至復閉。迨復閉。則前法不可再用。迄今乘其暫開。多方以圖。必在六十日後。交冬至節。方是愈期。</p>
<p>蓋身中之燥。與時令之燥。膠結不解。必俟燥金退氣。而肺金乃得太寧耳。令儀昆季極懇專力治之。此六十日間。屢危屢安。大率皆用活法斡旋。緣肺病不可用補。而脾虛又不能生肺。肺燥喜於用潤。而脾滯又艱運食。今日脾虛之極。食飲不思。則於清肺藥中。少加參朮以補脾。明日肺燥之極。熱盛咳頻。則於清肺藥中。少加阿膠以潤燥。日續一日。扶至立冬之午刻。病者忽然云。內中光景。大覺清爽。可得生矣。奇哉。</p>
<p>天時之燥去。而肺金之燥。遂下傳於大腸。五六日不一大便。略一潤腸。旋即解散。</p>
<p>正以客邪易去耳。至小雪節。康健加飧。倍於曩昔。蓋胃中空虛已久。勢必加飧。復其水穀容受之常。方為全愈也。令儀昆季咸錄微功。而余於此證有退思焉。語云。寧醫十男子。莫醫一婦人。乃今寧醫十婦人。不醫一男子矣胡卣臣先生曰。還丹不過九轉。舉世模之不就。陳詮可襲。活法難通也。</p>
<h2>議郭台尹將成血蠱之病</h2>
<p>郭台尹年來似有勞怯意。胸腹不舒。治之罔效。茫不識病之所存也。聞仆治病。先議後藥。姑請診焉。見其精神言動。俱如平人。但面色痿黃。有蟹爪紋路。而得五虛脈應之。因竊疑而詰之曰。足下多怒乎。善忘乎。口燥乎。便秘乎。胸緊乎。脅脹乎。腹疼乎。渠曰。種種皆然。此何病也。余曰。外證尚未顯。然內形已具。將來血蠱之候也。曰。何以知之。曰。合色與脈而知之也。夫血之充周於身也。榮華先見於面。今色黯不華。既無舊恙。又匪新　。其所以憔悴不榮者何在。且壯盛之年。而脈見細損。宜一損皮毛。二損肌肉。三損筋骨。不起於床矣。乃皮毛肌肉步履如故。其所以微弱不健者又何居。是敢直斷為血蠱。腹雖未大。而腹大之情形已著。</p>
<p>如瓜瓠然。其日趨於長也易易耳。明哲可不見機於早耶。曰。血蠱乃婦人之病。男子亦有之乎。曰。</p>
<p>男子病此者甚多。而東方沿海一帶。比他處更多。醫不識所繇來。漫用治氣治水之法嘗試。夭枉不可勝計。</p>
<p>總緣不究病情耳。所以然者。以東海擅魚鹽之饒。魚者甘美之味。多食使人熱中。鹽者鹹苦之味。其性偏於走血。血為陰象。初與熱合。不覺其病。日久月增。中焦沖和之氣。亦積漸而化為熱矣。氣熱則結。</p>
<p>而血始不流矣。於是氣居血中。血裹氣外。一似婦女受孕者然。至彌月時。腹如抱瓮矣。但孕系於胞中。如熟果自落。蟲蟠於腹內。如負贅難療。又不可同語也。究而論之。豈有東方之水土致然。凡五方之因膏粱濃味椒薑桂糈成熱中者。除癰疽消渴等症。不常見外。至脹滿一症。人人無不有之。但微則旋脹旋消。甚則脹久不消而成蟲耳。倘能見微知著。寧至相尋於覆轍耶。要知人之有身。執中央以運四旁者也。今中央反竭四旁以奉其錮。尚有精華發見於色脈間乎。此所以脈細皮寒。</p>
<p>少食多汗。　羸之狀。不一而足也。余言當不謬。請自揆之。月余病成。竟不能用。半載而逝。</p>
<p>胡卣臣先生曰。議病開此一法門。後有學人。不可及矣。</p>
<h2>答門人問州守錢希聲先生吐血治法</h2>
<p>門人問曰。州尊暴病。嘔血數升。指尖微冷。喉間窒塞。聲不易出。安危之機。關於醫藥。有用溫補人參阿膠之屬者。有用涼血生地玄參之屬者。有用降火黃柏知母之屬者。漫難適從。請吾師確言其理。以開瞽　。答曰。古今論失血之症。皆混在痰火一門。是以言之不中肯　。吾試為子詳之。夫血病有新久微甚。無不本之於火。然火有陰陽不同。治法因之迥遠。州尊雖舊嘗失血。不過傷損之類。其原頗輕。今入春以來。忽爾嘔血數盂。則出之暴矣。經云。暴病非陽。則其為火也。即非陽火甚明。陽火者五行之火。天地間經常可久之物。</p>
<p>何暴之有。設其暴也。復可以五行之水折之。不能暴矣。惟夫龍雷之火。潛伏陰中。方其未動。不知其為火也。及其一發。暴不可御。以故載陰血而上溢。蓋龍雷之性。必陰云四合。然後遂其升騰之勢。若天青日朗。則退藏不動矣。故凡用涼血清火之藥者。皆以水制火之常法。施之於陰火。未有不轉助其虐者也。</p>
<p>大法惟宜溫補。而溫補中之微細曲折。要在講明有素。經曰。少陰之脈縈舌本。謂腎脈縈繞於舌根之間也。</p>
<p>又曰。咯血者屬腎。明乎陰火發於陰中。其血咯之成塊而出。不比咳嗽癆症。痰中帶血為陽火也。此義從前未有發明。惟漢代張仲景為醫中之聖。於傷寒症中垂戒一款云。誤發少陰汗。動其經血者。下竭上厥為難治。後人隨文讀去。至下竭上厥之理。總置不講。不知下竭者。陰血竭於下也。上厥者。陰氣逆於上也。</p>
<p>蓋氣與血兩相維附。氣不得血。則散而無統。血不得氣。則凝而不流。故陰火動而陰氣不得不上奔。陰氣上奔。而陰血不得不從之上溢。陰血上溢。則下竭矣。血既上溢。其隨血之氣。散於胸中。不能復返本位。則上厥矣。陰氣上逆。不過至頸而止。不能越高巔清陽之位。是以喉間窒塞。心忡耳鳴。胸膈不舒也。然豈但窒塞不舒已哉。陰氣久居於上。勢必龍雷之火。應之於下。血不盡竭。不止也。</p>
<p>氣不盡厥。亦不止也。仲景所以斷為難治者。其以是乎。但止曰難治。非謂不治也。仲景不立治法者。以另有卒病論一十六卷。專論暴病。後世散逸無傳耳。吾為子大辟其扃。則以健脾中陽氣為第一義。健脾之陽。一舉有三善也。一者脾中之陽氣旺。如天青日朗。而龍雷潛伏也。一者脾中之陽氣旺。而胸中窒塞之陰氣。如太空不留纖翳也。一者脾中之陽氣旺。而飲食運化精微。復生其下竭之血也。況乎地氣必先蒸土為濕。然後上升為云。若土燥而不濕。地氣於中隔絕矣。天氣不常清乎。今方書皆治陽火之法。至龍雷之火。徒有其名。而無其治。反妄引久嗽成癆。痰中帶血之陽症。不敢用健脾增咳為例。不思咯血即有咳嗽。</p>
<p>不過氣逆上厥之咳。氣下則不咳矣。況於原無咳嗽者乎。古方治龍雷之火。每用桂附引水歸原之法。然施於暴血之症。可暫不可常。蓋已虧之血。恐不能制其悍。而未動之血。恐不可滋之擾耳。究而論之。治龍雷之火。全以收藏為主。以秋冬則龍潛雷伏也。用收藏藥不效。略用燥烈為向導。以示同氣相求之義則可。</p>
<p>既以收藏。寧敢漫用燥烈乎。先生宿有損傷失血之病。值此上下交匱。功令森嚴。人心欲逞。惴惴其不免。是勞傷又益以憂恐。恐則傷腎。而少陰之血。無端溢出。與仲景所謂誤發少陰汗動其血者。初無少異矣。又況肝主謀慮。性喜疏泄。冬間腎氣不藏。久已供肝木之挹取。今春令將行。而肝木居青龍之位。震雷之司。乘權用事。是以天時之龍雷未動。身中之龍雷先動。其血已暴涌而出。不識後此春夏十二氣。龍雷大發之時。將何血以奉之耶。夫大病須用大藥。大藥者。天時春夏。而吾心寂然秋冬是也。昔人逃禪二字甚妙。夫禪而名之曰逃。其心境為何如哉。子後遇此病。必以崇土為先。土濃則陰濁不升。而血患必止。萬物以土為根。元氣以土為宅。不可不亟講矣胡卣臣先生曰。今世失血一症甚多。前後四案。發明無窮奧義。垂誨殷殷。此篇詳論陰火原委。尤補千古闕失。</p>
<h2>李思萱乃室膈氣危症治驗</h2>
<p>李思萱室人有孕。冬日感寒。至春而發。初不覺也。連食雞面雞子。遂成夾食傷寒。一月才愈。又傷食物。吐瀉交作。前後七十日。共反五次。遂成膈症。滴飲不入。</p>
<p>延診時。其脈上涌而亂。重按全無。嘔噦連綿不絕。聲細如蟲鳴。久久方大嘔一聲。余曰。病者胃中全無水穀。</p>
<p>已翻空向外。此不可救之症也。思萱必求良治。以免余憾。余籌畫良久。因曰。萬不得已。必多用人參。但才入胃中。即從腸出。有日費斗金。不勾西風一浪之譬。奈何。渠曰。盡在十日之內。尚可勉備。</p>
<p>余曰。足矣。乃煎人參湯。調赤石脂末。以墜安其翻出之胃。病者氣若稍回。少頃大便。氣即脫去。凡三日服過人參五兩。赤石脂末一斤。俱從大便瀉出。得食仍嘔。但不嘔藥耳。因思必以藥之渣滓。如粞粥之類與服。方可望其少停胃中。頃之傳下。又可望其少停腸中。於是以人參陳橘皮二味。剪如芥子大。和粟米同煎作粥。與服半盞。不嘔。良久又與半盞。如是再三日。始得胃舍稍安。但大腸之空。尚未填實。復以赤石脂末為丸。每用人參湯吞兩許。如是再三日。大便亦稀。此三日參橘粥內。已加入陳倉米。每進一盞。日進十余次。人事遂大安矣。仍用四君子湯丸調理。通共用人參九兩全愈。然此亦因其胎尚未墮。有一線生氣可續。故為此法以續其生耳。不然者用參雖多。安能回元氣於無何有之鄉哉。</p>
<p>後生一子。小甚。緣母疾百日失蔭之故。</p>
<p><u>附葉氏婦治驗</u></p>
<p>　葉氏婦。亦傷寒將發。誤食雞面雞子。大熱喘脹。余憐其貧。乘病正傳陽明胃經。日間與彼雙表去邪。夜間即以酒大黃玄明粉。連下三次。大便凡十六行。胎仍不動。次早即輕安。薄粥將養。</p>
<p>數日全愈。此蓋乘其一日驟病。元氣大旺。盡驅宿物以免纏綿也。設泥有孕。而用四物藥和合下之。則滯藥反為食積樹黨矣胡卣臣先生曰。前治神矣。後治復不減。蓋前治明。後治良也。行所明以持危扶顛。藉有天幸者多矣。此嘉言所以昭述其事。亦曰不得已歟。</p>
<h2>辨黃咫旭乃室膈氣危症宜用緩治法果驗</h2>
<p>咫旭乃室病膈氣。二十余日。飲粒全不入口。延余診時。尺脈已絕而不至矣。詢其二便。自病起至今。</p>
<p>從未一通。止是一味痰沫上涌。厭厭待盡。無法以處。邑庠有施姓者。善決生死。謂其脈已離根。頃刻當壞。</p>
<p>余曰。不然。脈經明有開活一款云。上部有脈。下部無脈。其人當吐。不吐者死。是吐則未必死也。但得天氣下降。則地道自通。故此症倍宜治中。以氣高不返。中無開闔。因成危候。待吾以法緩緩治之。自然逐日見效。於是始獨任以觀驗否。乃遂變旋覆代赭成法。而用其意。不泥其方。緣女病至尺脈全無。則莫可驗其受孕。萬一有而不求。以赭石乾薑輩傷之。呼吸立斷矣。姑闕疑。以赤石脂易赭石。煨薑易乾薑。用六君子東加旋覆花煎調。服下嘔即稍定。其岳父見用人參。以為劫病而致憾。余曰。無恐也。治此不愈。愿以三十金為罰。如愈一文不取。乃全神照應。藥必親調。始與服之。三日後。漸漸不嘔。又三日後。粥飲漸加。舉家稱快。但病者全不大便。至是已月余矣。一則憂病之未除。再則憂食之不運。刻刻以通利為囑。余曰。臟氣久結。食飲入胃。每日止能透下腸中一二節。食飲積之既久。臟氣自然通透。原議緩治。</p>
<p>何得急圖耶。舉家僉以余為不情。每進診脈。輒聞病者鼻息之揚。但未至發聲相詈耳。蓋余以歸地潤腸之藥。</p>
<p>恐滯膈而作嘔。硝石大黃通腸之藥。恐傷胎而殞命。姑拂其請。堅持三五日。果氣下腸通而病全瘳矣。</p>
<p>病瘳而其家竊議曰。一便且不能通。曷貴於醫耶。月余。腹中之孕。果漸形著。又議曰。一孕且不能知。安所稱高耶。吁嗟。余之設誠而行。以全人夫妻子母。而反以得謗也。</p>
<p>豈有他哉。惟余得謗。當世之所謂醫者。然後乃得名耳。</p>
<p>胡卣臣先生曰。議病入理之深。自然入俗之淺。如中無開闔之語。及臟氣逐日漸通之語。豈堪向尋常索解耶。</p>
<h2>面議倪慶云危症再生治驗</h2>
<p>倪慶云病膈氣十四日。粒米不入咽。始吐清水。次吐綠水。次吐黑水。次吐臭水。呼吸將絕。醫已歇手。</p>
<p>余適診之。許以可救。渠家不信。余曰。盡今一晝夜。先服理中湯六劑。不令其絕。來早轉方。一劑全安。</p>
<p>渠家曰。病已至此。滴水不能入喉。安能服藥六劑乎。余曰。但得此等甘溫入口。必喜而再服。不須過慮。渠諸子或庠或弁。亦知理折。僉曰。既有妙方。何不即投見效。必先與理中。然後乃用。此何意耶。</p>
<p>余曰。金匱有云。病患噫氣不除者。旋覆代赭石湯主之。吾於此病。分別言之者有二道。一者以黑水為胃底之水。臭水為腸中之水。此水且出。則胃中之津液。久已不存。不敢用半夏以燥其胃也。一者以將絕之氣。</p>
<p>止存一絲。以代赭墮之。恐其立斷。必先以理中分理陰陽。俾氣易於降下。然後代赭得以建奇奏績。一時之深心。即同千古之已試。何必更疑。及簡仲景方。見方中止用煨薑而不用乾薑。又謂乾薑比半夏更燥。而不敢用。余曰。尊人所噫者。下焦之氣也。所嘔者。腸中之水也。陰乘陽位。加以日久不食。諸多蛔蟲。</p>
<p>必上居膈間。非乾薑之辣。則蛔蟲不下轉。而上氣亦必不下轉。妙處正在此。君曷可泥哉。諸子私謂言有大而非夸者。此公頗似。姑進是藥。觀其驗否。進後果再索藥。三劑後。病者能言。云內氣稍接。但恐太急。俟天明再服。後旦轉方為妥。至次早未及服藥。復請前醫參酌。眾醫交口極沮。渠家並後三劑不肯服矣。余持前藥一盞。勉令服之。曰。吾即於眾醫前立地轉方。頃刻見效。再有何說。乃用旋覆花一味煎湯。調代赭石末。二茶匙與之。才一入口。病者曰好藥。吾氣已轉入丹田矣。但恐此藥難得。余曰易耳。病者十四日衣不解帶。目不交睫。憊甚。因圖脫衣安寢。冷氣一觸。復嘔。</p>
<p>與前藥立止。思粥。令食半盞。渠飢甚。竟食二盞。少頃已食六盞。復嘔。與前藥立止。又因動怒以物擊婢。復嘔。與前藥立止。以後不復嘔。但困倦之極。服補藥二十劑。丸藥一斤。將息二月。始能遠出。方悔從前少服理中二劑耳。</p>
<p>胡卣臣先生曰。旋覆代赭一方。案中屢建奇績。但醫家未肯信用。熟讀前後諸案。自了無疑惑矣。</p>
<h2>論吳聖符單腹脹治法</h2>
<p>聖符病單腹脹。腹大如箕。緊硬如石。胃中時生酸水。吞吐皆然。經年罔效。蓋由醫輩用孟浪成法。</p>
<p>不察病之所起。與病成而變之理。增其勢耳。昨見云間老醫煎方。龐雜全無取義。惟腎氣丸一方。猶是前人已試之法。但此病用之。譬適燕而南其指也。夫腎氣丸為腫脹之聖藥者。以能收攝腎氣。</p>
<p>使水不泛溢耳。今小水一晝夜六七行。溝渠順導。水無泛濫之虞也。且謂益火之源。以消陰翳耳。今酸味皆從火化。尚可更益其火乎。又有指腹脹為食積。用局方峻攻。尤屬可駭。仆不得不疏明其旨。夫聖符之疾。起於脾氣不宣。鬱而成火。使當時用火鬱發之之法。升陽散火。病已豁然解矣。惟其愈郁愈湮。漸至脹滿。則身中之氣。一如天地不交而成痞塞。病成而變矣。證似無火。全以火為之根。不究其根。但治其脹。</p>
<p>如檳榔厚朴萊菔子之類。皆能耗氣助火。於是病轉入胃。日漸一日。煎熬津液。變成酸汁。胃口有如醋瓮。胃中之熱。有如曲　。俟穀飲一入。頃刻釀成酢味矣。有時新穀方咽。舊穀即為迸出。若互換者。緣新穀芳甘未變。胃愛而受之。其酸腐之余。自不能留也。夫人身天真之氣。全在胃口。今暗從火化。津液升騰屑越。已非細故。況土曰稼穡。作甘者也。木曰曲直。作酸者也。甘反作酸。木來侮土。至春月木旺時。必為難治。及今可治。又治其脹。不治其酸。曾不思酸水入腹。脹必愈增。不塞源而遏流。其勢有止極耶。</p>
<p>試言其概。治火無過虛補實瀉兩法。內郁雖宜從補。然甘溫除熱瀉火之法。施於作酸日。其酸轉增。用必無功。故驅其酸而反其甘。惟有用剛藥一法。剛藥者。氣味俱雄之藥。能變胃而不受胃變者也。參伍以協其平。但可用剛中之柔。不可用柔中之剛。如六味丸加桂附。柔中之剛也。於六味作酸藥中。入二味止酸藥。當乎不當乎。剛中之柔。如連理湯是也。剛非過剛。更有柔以濟其剛。可收去酸之績矣。酸去而後治脹。破竹之勢已成。迎刃可解。錮疾頓蠲。脾君復辟。保合太和。常有天命矣。謂用藥者後先銖兩間。可無審乎。</p>
<p>善後多年。聞用黃柏知母之屬。始得全效。更奇。</p>
<p>剛柔諸藥。為丸服之。胸中如天地交而成泰。爽不可言。脹病遂不勞余力而愈。</p>
<p><u>附論善後之法</u></p>
<p>　門人請曰。吾師治病。每每議先於藥。究竟桴鼓相應。纖毫不爽。今果酸止脹消。臍收腹小。奏全績矣。不識意外尚有何患。懇同善後之法。究極言之。余答曰。悉乎哉問也。內經病機。劉河間闡發頗該。至於微茫要渺。不能言下盡傳。吾為子益廣其義。夫病有逆傳順傳種種不同。所謂病成之機則然。至於病去之機。從來無人道及。前論聖符之病。乃自脾入傳於胃。今酸去脹消。亦自胃返於脾。故善後之法。以理脾為急。而胃則次之。其機可得言也。設胃氣未和。必不能驅疾。惟胃和方酸減穀增。漸復平人容蓄之常。然胃喜容蓄。脾未喜健運。倦怠多睡。惟樂按摩者有之。受食一盞。身若加重。受食三盞。身重若加一鈞者有之。步履雖如常候。然登高涉險。則覺下輕上重。舉足無力。身重肢疲。頭昏氣急者有之。脾陽弗旺。食後喜溉沸湯。借資於有形之熱者有之。其病之余。有夏熱為癉。秋涼為瘧。燥勝脾約。濕勝脾泄者有之。故理脾則百病不生。不理脾則諸疾續起。久之乃入於胃也。至若將息失宜。飲食房勞所犯。脾先受之。猶可言也。設忿怒之火一動。則挾木邪直侵胃土。原病陡發。不可言也。語以一朝之忿。亡身及親為惑。垂戒深矣。又其始焉酸脹。胃中必另創一膜。囊如贅龐者。乃肝火沖入。透開胃膜。故所聚之水。暗從木化變酸。久久漸滿。膜囊垂大。其腹之脹。以此為根。觀其新穀入口。酸物迸出。而芳穀不出。及每食飴糖。如汲筒入喉。酸水隨即涌出。皆可征也。若非另一窠臼。則其嘔時宜新腐俱出。如膈氣之類。何得分別甚清耶。昨游玉峰。渠家請授他醫調攝之旨。及語以另辟膜囊。其醫不覺失笑曰。若是。則先生真見隔垣矣。吁嗟。下士聞道。固若此乎。訂方用六君子湯。煎調赤石脂末。</p>
<p>其醫不解。豈知吾意中因其膜囊既空。而以是填之。俾不為異日患乎。吾昔治廣陵一血蠱。服藥百日後。</p>
<p>大腹全消。左脅肋始露病根一長條。如小枕狀。以法激之。嘔出黑污斗許。余從大便泄去。始消。每思蠱脹。</p>
<p>不論氣血水痰。總必自辟一宇。如寇賊蟠據。必依山傍險。方可久聚。內經論五臟之積。皆有定所。何獨於六腑之聚久為患如鼓脹等類者。遂謂漫無根柢區界乎。是亦可補病機之未逮。</p>
<p><u>附窠囊證據</u></p>
<p>　許叔微本事方曰。微患飲　三十年。始因少年夜坐寫文。左向伏幾。是以飲食多墜左邊。</p>
<p>中夜必飲酒數杯。又向左臥。壯時不覺。三五年後。覺酒止從左下有聲。脅痛食減嘈雜。飲酒半盞即止。十數日必嘔酸水數升。暑月止右邊有汗。左邊絕無。遍訪名醫及海上方。間或中病。</p>
<p>止得月余復作。其補如天雄附子礬石。利如牽牛大戟甘遂。備嘗之矣。自揣必有囊。如水之有科臼。不盈科不行。但清者自行。而濁者停滯。無路以決之。故積至五七日。必嘔而去。脾土惡濕。而水則流濕。莫若燥脾以去濕。崇土以填科臼。乃製蒼朮丸。服三月而疾除。</p>
<p>繇此觀之。痰飲小患。尚有科臼。豈脹滿大病。反無科臼乎。但許公酸水積至數升。必盡嘔去。故不下滲於腹。若聖符則積之經年。腹中已容數斗。喉間連穀上涌者。不過數口而已。向非吾先治胃中酸水。腹內再可加一年之積乎。然腹中之事。言之反涉於誕。其不以為功也宜矣。昔賢自病三十年始悟。今之醫輩。</p>
<p>視人猶己者有幾。況己病亦不如所繇耶。其更數醫而不能為善後計者。總之未透此關耳。</p>
<p>胡卣臣先生曰。認病機處。溯流窮源。若河漢莫可紀極。然實鑿鑿有據。不涉影響。覺十年讀書。三次折肱者。未必具此手眼。</p>
<h2>論吳叔寶無病而得死脈</h2>
<p>吳叔寶先生。因治長公聖符之暇日。無病索為立案。豈求隔垣早見。而撤土先防乎。仆未悉翁平素之脈。因嘗藥而吐瀉交作。始為診之。見脈躁而不靜。勁而不柔。疑所傷甚大。乃翁漫不介意。無非恃體之堅固耳。及具道平昔。始知稟受元陽甚旺。從前所患。皆為熱中之病。蓋膏粱濃味之熱。陽氣載以俱升。勢必發為癰疽疔毒。及膿潰斗許。毒盡而陽不乏。夫非得於天者濃耶。然屢費不貲。久從暗耗。況人身候轉不常。始傳熱中。今傳寒中矣。熱中則一身之痰。俱變為熱。痰熱則走。故發為瘡瘍。寒中則一身之痰。</p>
<p>俱變為寒。痰寒則凝。故結塞於胸膈。不易開散。一繇陽氣高亢。一繇陽氣卑微耳。今見脈中或三至一轉。或五至一轉。不與指相值。自為區別。雖名三五不調。其實陽氣孤危已甚。翁弗病則已。萬一病出。</p>
<p>必非紓徐迂緩。試即以冬時為譬。寒威凜冽。陰霾晝見。天日無光。或有之矣。能無慮乎。據所稟之濃。宜百年有常。乃今亦覺少衰。扶身藥餌。有斷不可缺者。服藥而脈返其馴。緝續罔間。尚可臻古稀之列。</p>
<p>蓋所稟之豐。如有國者祖功宗德之隆。即當衰季。復有中興一段光彩耳。</p>
<p>翁見案不懌。至冬月果患胸腹緊痛。脹悶不堪。以滾酒熱鹽。內澆外熨不止。服附子理中十數劑始安。</p>
<p>次年四月。臨喪過哀。嘔血升余。服潤滯藥過多。飲食入胃。先痛後嘔。大便黏滯而不堅燥。欲成痰膈。</p>
<p>在郡更醫十余手。雜投罔效。歸用土醫服觀音對坐草。而胃氣搜削殆盡。最後飲水惡熱。乃胃中久失穀養。津液盡枯。一團真火內熾。凡病此症者。無不皆然。醫者不審痰膈與熱膈異治。尚以牛黃狗寶。漫圖僥幸。仆以未病先識。不敢染指投劑。亦繇時輩媚嫉。欲借翁病為刀俎地。先以去年所用之藥為謗端。</p>
<p>是以即有旋覆代赭成法可施。承當不下耳。可勝悼哉。</p>
<p>胡卣臣先生曰。輿謗易興易息。出於公耳。獨熏　中之鬼域。造端微而貽禍遠。可慨可慨。</p>
<p><u>附極閘人論飲滾酒過多成膈症之故</u></p>
<p>　過飲滾酒。多成膈症。人皆知之。而所以然之理不達也。蓋膈有二種。一者上脘之艱於納。一者下脘之艱於出耳。然入之胃中。全是一團沖和之氣。所以上脘清陽居多。</p>
<p>不覺其熱。下脘濁陰居多。不覺其寒。即時令大熱。而胃中之氣。不變為熱。時令大寒。而胃中之氣。</p>
<p>不變為寒。氣惟沖和。故但能容食。不能化食。必藉脾中之陽氣入胃。而運化之機始顯。此身中自然之造化也。曲　之性。極能升騰。日飲沸酒不輟。勢必將下脘之氣。轉升於中上二脘。而幽門之口。閉而不通者有之。且滾酒從喉而入。日將上脘炮灼。漸有腐熟之象。而生氣不存。窄隘有加。止能咽水。不能納穀者有之。此其所以多成膈證也。若夫熱藥之性。其傷人也必僭。以火曰炎上也。寒藥之性。其傷人也必濫。以水曰潤下也。不僭不濫。而獨傷中焦沖和之氣者。必無之理。設果服附子能成膈患。去年勸勿飲熱酒時。何不蚤言。而治錢州尊失血。大劑倍用。又何自戾耶。赤土不容朱砂。</p>
<p>巧於用譖。此方之不我穀者。豈偶哉。</p>
<h2>面論大司馬王岵翁公祖耳鳴用方大意</h2>
<p>人身有九竅。陽竅七。眼耳鼻口是也。陰竅二。前後二陰是也。陽氣走上竅。而下入於陰位。則有溺泄腹鳴之候。陰氣走下竅。而上入於陽位。則有窒塞耳鳴之候。故人當五十以外。腎氣漸衰於下。每每從陽上逆。而腎之竅開於耳。耳之聰司於腎。腎主閉藏。不欲外泄。因肝木為子。疏泄母氣而散於外。是以謀慮鬱怒之火一動。陰氣從之上逆。耳竅窒塞不清。故能聽之近不礙。而聽遠不無少礙。高年之體。大率類然。然較之聾病。一天一淵。聾病者。其竅中另有一膜。遮蔽外氣。不得內入。故以開竅為主。而方書所用石菖蒲麝香等藥。及外填內攻等法者。皆為此而設。至於高年。陰氣不自收攝。越出上竅。此理從無一人會及。反以治少壯耳聾藥。及發表散氣藥。</p>
<p>兼帶陰虛為治。是以百無一效。不知陰氣至上竅。亦隔一膜。不能越出竅外。止於竅中　有聲。如蛙鼓蚊鑼。鼓吹不已。以故外入之聲。為其內聲所混。聽之不清。若氣稍不逆上。則聽稍清。</p>
<p>氣全不逆上。則聽全清矣。不肖悟明此理。凡治高年逆上之氣。屢有奇效。方中大意。全以磁石為主。以其重能達下。性主下吸。又能制肝木之上吸故也。而用地黃龜膠群陰之藥輔之。更用五味子山茱萸之酸以收之。令陰氣自旺於本宮。不上觸於陽竅。繇是空曠無礙。耳之於聲。似穀之受響。萬籟之音。尚可細聆。</p>
<p>豈更與人聲相拒。艱於遠聽耶。此實至理所在。但醫術淺薄之輩。不能知之。試觀人之收視而視愈明。返聽而聽愈聰者。然後知昌之斯言。非臆說也。謹論。</p>
<p><u>附答岵翁公祖書</u></p>
<p>　捧讀祖台鈞論。耳中根原甚悉。且考究方書。揣察仲景。即深於醫旨者。不能道只字。</p>
<p>不肖昌竦然於金石之音。從茲倍加深入矣。慶幸慶幸。昨方論中。明知左耳有一膜遮蔽。姑置未論。但論右耳。所以時清時混之故。在於陰氣上觸耳。蓋人兩腎之竅。雖開於耳。而腎氣上入耳際。亦為隔膜所蔽。不能越於耳外。止於耳根下。少則微鳴。多則大鳴。甚且將縈耳之筋。觸之跳動。</p>
<p>直似撞穿耳葉之象者。然實必不可出也。設陰氣能出耳外。而走陽竅。則陰陽相混。非三才之理矣。故耳之用。妙在虛而能受也。外入之氣。隨大隨小。至耳無礙。惟內觸之氣。　有聲。所以外入之氣。僅通其半。若鬱怒之火動。</p>
<p>內氣轉增。則外入之氣轉混。必內氣漸走下竅。上竅復其虛而能受之體。然後清清朗朗。聲入即通。無壅礙也。方書指為少陽膽。厥陰肝。二經熱多所致。是說左耳分部。然少陽之氣。能走上竅。其穴皆絡於腦巔。</p>
<p>無觸筋中耳之理。不當與厥陰混同立說。其通聖散一方。汗下兼用。乃治壯火之法。丹溪所取。亦無確見。惟滾痰丸一方。少壯用之。多有效者。則以大黃黃芩沉香之苦。最能下氣。而礞石之重墮。大約與磁石之用相仿也。不肖昌所以不用此方者。以其大損脾胃。且耗胸中氤氳之氣耳。至於腎虛耳鳴。指作胱膀相火上升。則陽火必能透出上竅。不為鳴也。尤見丹溪無據之譚。易言水中有火。原說真火。故坎中之一點真陽。即真火也。年高之人。腎水已竭。真火易露。故腎中之氣。易出難收。況有厥陰之水。為之挹取乎。</p>
<p>然則壯水之主。以制陽光。如盞中添油。而燈焰自小誠為良治。乃云作陰虛治不效者。知其泛論世人。不為老人立法也。夫收攝腎氣。原為老人之先務。豈丹溪明哲而為此等議論乎。不肖昌昨方論中欲返祖台右耳十余年之聰。以仰答帝鑒。慰藉蒼生耳。非為左耳數十年之錮論也。草野不恭。統惟亮宥。謹復。</p>
<p>胡卣臣先生曰。耳鳴之故。從來無人說透。此案方大開法門。</p>
<h2>直敘王岵翁公祖病中垂危復安始末</h2>
<p>岵翁公祖。自春月論耳鳴後。見昌執理不阿。知為可用。至冬初以脾約便艱。再召診視。進蓯蓉胡麻山藥首烏等。四劑即潤。蓋緣腸中少血多風。與藥適宜。故效敏耳。自是益加信悅。時沐枉駕就問。披衷相示。</p>
<p>冬盡偶因飽食當風。忽然一吐。傾囊而出。胃氣大傷。隨召診間。體中微似發熱。左關之脈甚大。自云始先中脘不舒。今覺氣反攻左。始用梨汁不投。今用蔗漿稍定。不知此何症也。昌因斷曰。此虛風之候也。</p>
<p>以胃中所受之水穀。出盡無留。空虛若穀。而風自內生。兼腸中久蓄之風。乘機上入。是以胃中不安。然風入於胃。必左投肝木而從其類。是以氣反攻左而左脈即為之大且勁。內經云。風淫於內。治以甘寒。梨汁蔗漿。俱甘寒對症之物。而一效一不效者。又可知胃中氣虛已極。不耐梨性之達下。</p>
<p>而喜蔗性之和中也。於是以甘寒一派之藥定方。人參竹瀝麥門冬生地黃之屬。眾議除參不用。服後腹中呱呱有聲。嘔出黃痰少許。胸中遂快。次早大便亦通。症似向安。然有可怪者。本是胃經受病。而胃脈反不見其病。只是上下兩旁。心腎肝肺之脈。時時另起一頭。不安其常。因為剖心爭論。謂此非上下兩旁之見病端也。乃中央氣弱。不能四迄。如母病而四子失乳。故現飢餒之象耳。觀公祖自云。口中之味極淡。</p>
<p>又云。水到喉管。即注住不肯下行。明明是胃中之氣不轉。宿水留住喉間。不能更吞新水耳。宜急用四君子湯以理胃氣。則中央之樞軸轉。而四畔之機關盡利。喉管之水氣不逆。而口中之淡味亦除矣。如不見信。速請明者商之。不便在此羈時誤事也。然而言過激烈。反怪為故意驚駭。改召二醫。有謂中風者。有謂傷寒者。見各不同。至於人參之不可用。則同聲和之。謂症之輕而易療。則同力擔之。微用發表之藥。即汗出沾濡。又同口贊之。曾罔顧已竭之胃氣。追之實難。反開關而縱之去。於是氣高神蕩。呃逆不休矣。再僥幸而投黃連一劑。將絕之系。加極苦以速其絕。二醫措手不及。復召昌至。則脈已大亂。如沸如羹。頻轉頻歇。神昏不醒。身強莫移。年壽間一團黑滯。其氣出則順。而入必噦。通計晝夜一萬三千五百息。即得一萬三千五百噦矣。二醫卸禍。謂昌前所議四君子湯。今始可用。吁嗟。呼吸存亡。尚圖雍容樽俎乎。據理答之曰。氣已出而不入。再加參朮之膩阻。立斷矣。惟有仲景旋覆代赭石一方。可收神功於百一。進一劑而噦勢稍減。二劑加代赭石至五錢。噦遂大減。連連進粥。神清色亮。脈復體輕。再用參苓麥冬木瓜甘草。</p>
<p>平調二日。遂康復如初。此蓋祖翁少時純朴不凋。故松柏之姿。老而彌勁。非盡藥之功能也。即論藥。亦非參之力。乃代赭墜參下行之力也。祖翁病劇。問昌何為不至。及病間。見昌進藥。</p>
<p>即鼓勇欣嘗。抑何見知之深耶。而昌亦得藉湯藥以行菽水之事。快矣快矣。</p>
<p>胡卣臣先生曰。左氏春秋。無與於兵。而名將以為兵法之至精。見理不到。則一心之運用不出也。噫。難與俗人言。</p>
<h2>直推王岵翁公祖病後再誤貽患</h2>
<p>岵翁公祖。深知醫理。投劑咸中肯綮。所以長年久世。然苦耳鳴。不樂對客。其左右侍從。誰能究心醫藥之事。前病獲安。競以為人參之力。而卸禍者反得居功。謂其意原欲用參。但不敢專主。姑進不肖商榷。</p>
<p>以示詳慎耳。於是善後之宜。一以諉之。曾罔顧夫一誤再誤也。吁嗟。善後之圖維。果易謀乎哉。前所論虛風一症。昌才用甘寒藥一劑稍效。俄焉更醫。誤以傷寒為治。而致危殆。昌雖用旋覆代赭二劑回天。然前此虛風本症。尚無暇於驅除。而主家及醫。其時方競夸人參之力。謂調理更宜倍用。無俟參酌。曾不思虛風醞釀日深。他日再求良治。不能及矣。此際欲造庭力爭。是謂生端。即上書陳說。又恐中格。惟有撫膺展轉太息而已。吁嗟。時事之不可為。大都若此矣。然雖不得借箸前籌。未可不列眉而論也。內經云。</p>
<p>風者善行而數變。言風之為病。無定體也。又曰病成而變。此則專言胃風所傳之病。變症最多也。變症有五。</p>
<p>一曰風成為寒熱。以風氣通肝。則木盛而侮脾胃。故生寒熱也。祖翁前病時。左關之脈獨大。自云氣反攻左。而每多寒熱之候。致醫輩視為外感者。是其征也。一曰厥成為巔疾。厥者逆也。謂胃氣逆而上升。</p>
<p>成巔頂之疾。如眩暈之類也。祖翁前病時。呃逆不休。時覺昏暈者。是其征也。一曰癉成為消中。癉者熱也。熱積胃中。善食而易飢。火之害也。祖翁胃中。素有積熱。而多欲得食者。是其征也。一曰久風為飧泄。言胃中風熾。飧已即泄。不留停也。祖翁平素三四日始一大便。今嘗無故泄下數行。是其征也。一曰脈風成為癘。言胃中之風。醞釀既久。則榮氣腐而不清。肌肉之間。</p>
<p>漸至潰爛。以胃主肌肉也。祖翁四末及脈道之間。慣生瘡瘍。浸淫為害者。是其征也。此五者。總為胃風之病。祖翁俱已見端。又喜飧羊肉河豚以召致之。然亦不自繇也。蓋風煽胃中。如轉丸之捷。食入易消。</p>
<p>不得不借資於濃味。而不知胃中元氣。久從暗耗。設虛風止熄。即清薄之味。尚不易化。況於肥甘乎。今之醫者。全不究病前病後消息。明明語以虛風之證。竟不知虛風為何物。奈何言醫耶。</p>
<p>奈何言調攝耶。昌於此殆不勝古今家國之感矣。</p>
<p>案雖定。而狂瞽之言。未便呈覽。兼值昌有浙游。旋日。祖翁復得重恙。召診時。語昌云。一病幾危。今幸稍可。但徹夜撰改本章不輟。神亂奈何。昌對曰。胃風久熾。津液干枯。真火內燔。宜用知母一兩。</p>
<p>人參甘草各一錢。日進二劑自安。眾議方中用參太少。且無補藥佐之。全無取義。竟置不用。連進參朮大劑。不效。越三日。劑中人參竟加一兩。服後頃刻氣高不返而仙逝。八旬元老。勛勒鼎彝。子姓森森。繞榻三匝。夫復何憾。獨昌親承　朴之化。於報稱之心。有所未慊也。哀哉。</p>
<h2>直敘立刻救蘇劉筠枝不終其用之故</h2>
<p>筠枝先生。創業維艱。大率得之節嗇者多。然七旬御女不輟。此先天元陽固密。非人力之所為也。若能良賈深藏。可以百年用之不竭。奈何以御女之故。而數擾其陽耶。夫陽者親上而衛外。易出而難收者也。在根基淺露之軀。毫不敢肆情縱欲。幸而根深蒂固。不易動搖。乃以房中之術。自伐其根。而重加栽接。致大命危於頃刻。豈誤以節嗇之方。而倒施之御女乎。夏月陽氣在外。陰氣在內。此時調攝之藥。全以扶陽抑陰為主。翁偶不快。於飲食起居如常。醫者以壯年傷暑之藥。香薷黃柏石膏知母滑石車前木通投之。即刻不支。臥於床褥。次早余見時。則身僵頸硬。舌強喉啞。無生理矣。余診畢云。此證雖危。然因誤藥所致。甫隔一晚。尚可以藥速追。急以大附子乾薑人參白朮各五錢。甘草三錢。大劑煎服。可解此厄。萬不宜遲。渠諸子不能決。余忙取藥自煎。眾議姑以前方煎四分之一。服之安貼。再煎未遲。只得從之。藥成送進。適前醫再至。遂入診良久。阻藥不用。余面辱其醫。進房親督灌藥。寸香之久。翁大嘔一聲。醒而能言。但聲雌而顫。呼諸子乳名云。適才見州官回。詢其所繇。開目視之不語。轉問醫者何人。曰江西喻。遂抬手一拱。又云。被縫有風來。塞塞。</p>
<p>余甚快。忙出煎所存三分之藥以再進。維時姻族雜至。商以肩輿送余歸寓。余斷欲進藥。眾勸云。且暫回寓。或者明日再請。其意中必懼吾之面折醫輩耳。及他醫進藥。啞　如前。越二日而逝。余為之嘆惜不已焉。七旬御女不輟。斧斤於內。而假庸醫以權。長子次子繼夭。斧斤於外。而開姻族以舋。氣機久動。尚自謂百年無患也。於人乎何尤。</p>
<p>胡卣臣先生曰。獻玉而遭刖。認為頑石也。投珠而按劍。詫為不祥也。</p>
<p>至剖石得玉。轉災為祥。尚然不識。則何見耶。醫事固裂。亦所遇適窮耳。</p>
<h2>論徐岳生將成痿痹之證</h2>
<p>徐岳生軀盛氣充。昔年因食指微傷見血。以冷水濯之。遂至血凝不散。腫潰出膿血數升。小筋脫出三節。</p>
<p>指廢不伸。邇來兩足間。才至秋月。便覺畏冷。重綿蔽之。外拊仍熱。內揣獨覺其寒。近日從踵至膝後。</p>
<p>筋痛不便遠行。云間老醫。令服八味丸。深中其意。及仆診。自云平素脈難摸索。乃肝肺二部。反見洪大。大為病進。況在冬月木落金寒時。尤為不宜。方來之勢。將有不可向邇者。八味丸之桂附。未可輕服也。何也。筋者肝之合也。附筋之血。既經食指之挹取。存留無幾。不能榮養筋脈。加以忿怒。數動肝火。</p>
<p>傳熱於筋。足跗之大筋。得熱而短。是以牽強不便於行也。然肝之所主者惟肺。木性畏金。稟令擁戴。若君主然。故必肺氣先清。周身氣乃下行。今肺脈大。則肺氣又為心主所傷。壅窒不清。是以陽氣不能下達而足寒也。然則所患雖微。已犯三逆。平素脈細。而今脈大。一逆也。肝脈大而熱下傳。二逆也。肺脈大而氣上壅。三逆也。設誤以桂附治之。熱者愈熱。壅者愈壅。即日便成痿痹矣。此際用藥。淵乎微乎。有尋常不能測識者。蓋筋脈短勁。肝氣內錮。須亟講於金伐木榮之道。以金伐木。而木反榮。筋反舒。匪深通玄造者。其孰能知之。然非金氣自壅。則木且奉令不暇。何敢內拒。惟金失其剛。轉而為柔。是以木失其柔。轉而為剛。故治此患。先以清金為第一義也。然清金又先以清胃為第一義。不清其胃。則飲酒焉。而熱氣輸於肺矣。濃味焉。而濁氣輸於肺矣。藥力幾何。能勝清金之任哉。金不清。如大敵在前。主將懦弱。已不能望其成功。況舍清金而更加以助火爍金。倒行逆施以為治耶。必不得之數矣。</p>
<p>翁見藥石之言。漫無忌諱。反疑為張大其說。而莫之信。竟服八味丸。一月後。痿痹之情悉著。不幸所言果驗。乃臥床一載。必不令仆一見。聞最後陽道盡縮。小水全無。乃肺金之氣。</p>
<p>先絕於上。所以致此。明明言之。而竟蹈之。奈何奈何。</p>
<p>胡卣臣先生曰。此治痿痹證之妙法蓮華經也。不當作文字褻視。</p>
<h2>論江沖寰先生足患治法</h2>
<p>庚辰冬。於鼎翁公祖園中。識先生半面。竊見身體重著。履步艱難。面色滯晦。語言遲緩。以為有虛風卒中之候也。因為過慮。辛巳秋召診間。細察脾脈。緩急不調。肺脈勁大。然肝木尚平。陽氣尚旺。是八風之邪。未可易中。而筋脈掣痛。不能安寢者。大率風而加之以濕。交煽其虐所致。以斯知尚可引年而施治也。何也。風者肝之病。天之氣也。濕者脾之病。地之氣也。天氣迅疾。故發之暴。益以地氣之迂緩。反有所牽制而不能暴矣。然氣別則病殊。而氣交則病合。有不可不明辨者。病殊者。在天氣則風為百病之長。其來微。則隨相克為傳次。必遍五臟而始烈。其來甚。則不繇傳次而直中。唯體虛之人。</p>
<p>患始不測焉。在地氣則濕為下體之患。其來微。則足跗腫大。然得所勝亦旋消。其來甚。則害及皮肉筋脈。</p>
<p>以漸而上攻。亦唯陽虛之人。勢始騰越焉。兩者一本之天。一本之地。病各懸殊。治亦異法者也。病合者。天之氣入於筋脈。地之氣亦入於筋脈。時乎天氣勝。則筋脈張而勁焉。時乎地氣勝。則筋脈　而緩焉。</p>
<p>兩者其源雖異。其流則同。交相蘊結。蔓而難圖者也。先生房中之風。始雖不可知。然而所感則微也。至若濕之一字。既以醇酒濃味而釀之於內。又為炎蒸嵐瘴而襲之於外。是以足患日熾。雖周身筋脈舒展。亦不自如。究竟不若足間晝夜掣痛。瘡瘍腫潰。浸淫無已也。夫春時之風也。夏時之濕與熱也。秋時之燥也。三時之氣。皆為先生一身之患者也。而一身之患。又惟一隅獨當之。亦良苦矣。設內之風濕熱燥不攘。足患其有寧宇乎。所可嘉者。惟冬月寒水司令。勢稍末減。而醫者不識此意。每投壯筋骨之藥酒。</p>
<p>以驅其濕。不知此乃治寒濕之法。惟冬月病增者方宜。豈以風濕熱濕。而倒行逆施。寧不重其困耶。況乎先生肺脈勁大。三四日始一大便。雖冬月亦喜形寒飲冷。而不欲近火。何所見其為寒濕也哉。所以孫真人大小竹瀝等方。風濕熱燥寒五治之藥俱備。籠統龐雜。後人全不知用。若識此義為去取。則神而明之之事矣。然則不辨證而用方者。幾何而不誤耶。</p>
<p>胡卣臣先生曰。辨證縱橫無礙。劍光燁燁逼人。</p>
<h2>論錢太封翁足患不宜用熱藥再誤</h2>
<p>錢叔翁太老先生。形體清瘦。平素多火少痰。邇年內蘊之熱。蒸濕為痰。辛巳夏秋間。濕熱交勝時。忽患右足麻木。冷如冰石。蓋熱極似寒。如暑月反雨冰雹之類。醫者以其足跗之冷也。不細察其為熱極似寒。誤以牛膝木瓜防己加皮羌獨之屬溫之。甚且認為下元虛憊。誤用附桂河車之屬補之。以火濟火。以熱益熱。由是腫潰出膿水。浸淫數月。踝骨以下。足背指踵。廢而不用。總為誤治而至此極耳。其理甚明。無難於辨。若果寒痰下墜。不過堅凝不散止耳。</p>
<p>甚者不過痿痹不仁止耳。何至腫而且潰。黃水淋漓。腐肉穿筋耶。太翁不知為醫藥所誤。乃委咎於方隅神煞所致。豈其然哉。此與傷寒壞證。熱邪深入經絡而為流注。無少異也。所用參膏。但可顓理元氣。而無清解濕熱之藥以佐之。是以未顯厥效。以元老之官。不可以理煩劇。設與竹瀝同事。人參固其經。竹瀝通其絡。則甘寒氣味。相得益彰矣。徐太掖先生服人參以治虛風。誤佐以附子之熱。迄今筋脈短縮。不便行持。</p>
<p>亦繇不識甘寒可通經絡也。且太翁用參膏後。脾氣亦既大旺。健運有加矣。此時倘能撙節飲食。俾脾中所生之陽氣。得顓力以驅痰驅熱。則痰熱不留行。而足患並可結局。乃日食而外。加以夜食。雖脾氣之旺。不為食所傷。然以參力所生之脾氣。不用之運痰運熱。止用之以運食。誠可惜也。今者食入亦不易運。以助長而反得衰。乃至痰飲膠結於胸中。為飽為悶。為頻咳而痰不應。總為脾失其健。不為胃行津液。而飲食反以生痰。漸漬充滿肺竅。咳不易出。雖以治痰為急。然治痰之藥。大率耗氣動虛。恐痰未出。而風先入也。唯是確以甘寒之藥。杜風消熱潤燥補虛豁痰。乃為合法。至於辛熱之藥。斷斷不可再誤矣。醫者明明見此。輒用桂附無算。想必因膿水易干。認為辛熱之功。而極力以催之結局耳。可勝誅哉。</p>
<p>胡卣臣先生曰。濕熱傷足。自上而下也。足寒傷心。自下而上也。自上下者。先清其上。自下上者。先溫其下。觀此而民病傷國。可知治先在民矣。</p>
<h2>論浦君藝喘病證治之法</h2>
<p>人身難治之病有百證。喘病其最也。喘病無不本之於肺。</p>
<p>然隨所傷而互關。漸以造於其極。惟兼三陰之證者為最劇。三陰者。少陰腎太陰脾厥陰肝也。而三陰又以少陰腎為最劇。經云。腎病者善脹。尻以代踵。脊以代頭。此喘病兼腎病之形也。又云。勞風發在肺下。巨陽引精者三日。中年者五日。不精者七日。當咳出青黃濃濁之痰如彈子大者。不出者傷肺。傷肺者死也。此喘病兼腎病之情也。故有此證者。首重在節欲。收攝腎氣。不使上攻可也。其次則太陰脾厥陰肝之兼證亦重。勿以飲食忿怒之故。重傷肝脾可也。若君藝之喘證。得之於髫幼。非有忿欲之傷。止是形寒飲冷。傷其肺耳。然從幼慣生瘡癤。瘡癤之後。復生牙癰。脾中之濕熱素多。胃中之壯火素盛。是肺經所以受傷之原。又不止於形寒飲冷也。脾之濕熱。胃之壯火。交煽而互蒸。結為濁痰。溢入上竅。久久不散。透開肺膜。結為窠囊。</p>
<p>清氣入之。渾然不覺。濁氣入之。頃刻與濁痰野狼狽相依。合為黨援。窒塞關隘。不容呼吸出入。而呼吸正氣。</p>
<p>轉觸其痰。鼾　有聲。頭重耳響。胸背骨間。有如刀刺。涎涕交作。鼻　酸辛。若傷風狀。正內經所謂心肺有病。而呼吸為之不利也。必俟肺中所受之濁氣。解散下行。從前後二陰而去。然後肺中之濃痰。咯之始得易出。而漸可相安。及夫濁氣復上。則窠囊之痰復動。窒塞仍前復舉。乃至寒之亦發。熱之亦發。傷酒傷食亦發。動怒動氣亦發。所以然者。總繇動其濁氣耳。濁氣本居下體。不易犯入清道。每隨火勢而上騰。所謂火動則氣升者。濁氣升也。腎火動。則寒氣升。脾火動。則濕氣升。肝火動。則風氣升也。故以治火為先也。然濁氣既隨火而升。亦可隨火而降。乃凝神入氣以靜調之。火降而氣不降者何耶。則以濁氣雖居於下。而肺中之窠囊。實其新造之區。可以僑寓其中。轉使清氣逼處不安。亦若為亂者然。如寇賊依山傍險。</p>
<p>蟠據一方。此方之民。勢必擾亂而從寇也。故雖以治火為先。然治火而不治痰。無益也。治痰而不治窠囊之痰。雖治與不治等也。治痰之法。曰驅。曰導。曰滌。曰化。曰涌。曰理脾。曰降火。曰行氣。前人之法。不為不詳。至於窠囊之痰。如蜂子之穴於房中。如蓮子之嵌於蓬內。生長則易。剝落則難。繇其外窄中寬。任行驅導滌涌之藥。徒傷他臟。此實閉拒而不納耳。究而言之。豈但窠囊之中。痰不易除。即肺葉之外。膜原之間。頑痰膠結多年。如樹之有蘿。如屋之有游。如石之有苔。附托相安。倉卒有難於　伐者。古今之為醫者夥矣。從無有為此渺論者。仆生平治此症最多。皆以活法而奏全績。蓋肺中濁痰為祟。若牛渚怪物。莫逃吾燃犀之照者。因是曠觀病機。異哉。肺金以脾土為母。</p>
<p>而肺中之濁痰。亦以脾中之濕為母。脾性本喜燥惡濕。迨夫濕熱久錮。遂至化剛為柔。居間用事。飲食入胃。既以精華輸我周身。又以敗濁填彼竅隧。始尚交相為養。最後挹彼注此。顓為外邪示豈弟。致使憑城憑社輩。得以久遂其奸。如附近流寇之地。益以巨家大族。暗為輸導。其滋蔓難圖也。有繇然矣。</p>
<p>治法必靜以馭氣。使三陰之火不上升。以默杜外援。又必嚴以馭脾。使太陰之權有獨伸而不假敵愾。我實彼虛。我堅彼瑕。批瑕搗虛。迅不掩耳。不崇朝而掃清穢濁。乃廣服大藥。以安和五臟。培養肺氣。肺金之氣一清。則周身之氣。翕然從之下降。前此上升濁邪。允絕其源。百年之間。常保清明在躬矣。此蓋行所當然。不得不然之法。夫豈塗飾聽聞之贅詞耶。君藝敦請顓治。果獲全瘳。益見仆言非謬矣。</p>
<p>胡卣臣先生曰。岐黃論道以後。從不見有此精細快徹之譚。應是醫門靈寶。又曰。君藝童年錮疾。非所易瘳。今疾愈而且得子矣。先議後藥。功不偉耶。</p>
<h2>論吳吉長乃室及王氏婦誤藥之治驗</h2>
<p>吉長乃室。新秋病洒淅惡寒。寒已發熱。漸生咳嗽。然病未甚也。服表散藥不愈。體日瘦羸。延至初冬。</p>
<p>飲以參朮補劑。轉覺厭厭欲絕。食飲不思。有咳無聲。瀉利不止。危在旦暮。醫者議以人參五錢。附子三錢。加入薑桂白朮之屬。作一劑服。以止瀉補虛。而收背水之捷。吉長　徨無措。延仆診畢。未及交語。前醫自外亟至。見仆在坐。即令疏方。仆飄然而出。蓋以渠見既訛。難與語至理耳。吉長辭去前醫。堅請用藥。仆因謂曰。是病總繇誤藥所致。始先皮毛間洒淅惡寒發熱。肺金為時令之燥所傷也。用表散已為非法。至用參朮補之。則肺氣閉錮。而咳嗽之聲不揚。胸腹飽脹。不思食飲。肺中之熱無處可宣。急奔大腸。食入則不待運化而直出。食不入。則腸中之垢污。亦隨氣奔而出。是以瀉利無休也。</p>
<p>今以潤肺之藥兼潤其腸。則源流俱清。寒熱咳嗽泄瀉。一齊俱止矣。但取藥四劑。服之必安。不足慮也。</p>
<p>方用黃芩地骨皮甘草杏仁阿膠。初進一劑。瀉即少止。四劑畢。而寒熱俱除。再數劑而咳嗽俱全愈矣。設當日與時輩商之。彼方執參附為是。能從我乎。又鄉中王氏婦。秋月亦病寒熱。服參朮後。亦厭厭一息。但無咳嗽。十余日不進粒米。亦無大便。時時暈去。不省人事。其夫來寓中。詳述其症。求發補劑歸服。余以大黃芒硝石膏甘草四味。為粗末與之。彼不能辨。歸而煎服。其妻云。此藥甚咸。夫喜曰。咸果補藥。</p>
<p>遂將二劑連服。頃之腹中努痛。下結糞數塊。絕而復蘇。進粥二盞。前病已如失矣。鄉人致謝忱始知之。凡此素有定見於中。故不為臨歧所炫也。姑存是案。為治病者廣其識焉。</p>
<p>胡卣臣先生曰。毫厘有差。千裡懸絕。案中治法。似乎與症相反。究竟不爽。大難大難。</p>
<h2>辨鼎翁公祖頤養天和宜用之藥</h2>
<p>舊憲治公祖江鼎寰先生。望七之齡。精神健旺。脈氣堅實。聲音洪亮。晉接不厭其繁。紛絲尚能兼理。</p>
<p>不羨洛社耆英。行見熙朝元老矣。偶有胸膈弗爽。肺氣不清。鼻多濁涕小恙。召診日兼患齒痛。謹饋以天冬熟地石棗丹皮枸杞五味等。收攝腎氣藥四劑。入桂些少為引經。服之齒痛頓止。鼻氣亦清。第因喉中作干。未肯多服。門下醫者素逢主。見治標熱。</p>
<p>不治本虛。特為辨曰。祖翁所稟先天陽氣甚濃。冬月尚仍早興晚寢。飲蔗啖梨。是以服藥多喜清畏補。然補有陰陽之不同。陽氣雖旺於上。陰氣未必旺於下。髭鬢則黑。步履則遲。其一征也。運臂則輕。舉腰則重。其一征也。陽道易興。精液難固。其一征也。胃能多受。腸弗久留。其一征也。下本不虛。下之精華。</p>
<p>暗輸於上。是以虛也。上本不實。清陽之分。為陰所湊。似乎實也。故陰湊於上而開竅於目。則為淚。開竅於鼻。則為涕。開竅於口。則為涎為唾。經云。五十始衰。謂陰氣至是始衰也。陰氣衰。故不能自主而從陽上行。其屑越者。皆身中之至寶。向非收攝歸元。將何底極。是以事親養老諸方。皆以溫補下元為務。誠有見於老少不同。治少年人惟恐有火。高年人惟恐無火。無火則運化艱而易衰。有火則精神健而難老。有火者老人性命之根。未可以水輕折也。昔賢治喉干。謂八味丸為聖藥。譬之釜底加薪。則釜中津氣上騰。理則然矣。可見下虛者。不但真陰虛。究竟真陽亦虛。何也。陽氣以潛藏為貴。潛則弗亢。潛則可久。易道也。盞中加油。則燈愈明。爐中覆灰。則火不熄。與其孤陽上浮為熱。曷若一並收歸於下。則鼻中之濁涕不作。口中之清液常生。雖日進桂附。尚不覺其為熱。矧清利潤下之劑。而反致疑乎。是為辨。</p>
<p>胡卣臣先生曰。吾鄉諸老。享有遐齡者最多。鼎寰廉訪年來絕欲忘機。怡情悅性。大藥不藉草木之偏。上壽更無涯　可測。此案第借為高年立法。理自不誣。</p>
<h2>論張受先先生漏證善後之宜</h2>
<p>舊鄰治父母張受先先生。久患穿腸痔漏。氣血大為所耗。有荐吾鄉黃先生善敷割者。先生神其術。</p>
<p>一切內治之藥。並取決焉。不肖昌雅重先生文章道德之身。居瀛海時。曾令門下往候脈息。私商善後之策。大意謂先生久困漏卮。一旦平成。精氣內榮。自可百年無患。然新造之區。尚未堅固。則有浸淫之虞。臟氣久虛。腸蓄易　。則有轉注之虞。清氣久陷。既服甘溫升舉矣。然漏下已多。陰血暗耗。恐毗於陽。水穀易混。既用養臟濃腸矣。然潤劑過多。脾氣易溜。恐毗於陰。且漏孔原通精孔。精稍溢出。勢必旁滲。則豢精當如豢虎。濃味最足濡脾。味稍不節。勢必走泄。則生陰無取傷陰。蓋人身脾氣。</p>
<p>每喜燥而惡濕。先生漏孔已完。敗濁下行者。無路可出。必轉滲於脾。濕固倍之。是宜補脾之陽。勿傷脾之陰。以復健運之常。而收和平之益云云。及至婁中。應召往診。指下輕取鼓動有力。重按若覺微細。是陽未見不足。陰則大傷矣。先生每進補陰之藥。則夜臥甚寧。腸　亦稀。以故瘍醫妄引槐角地榆。治腸風下血之法治之。亦不覺其誤。其實漏病乃精竅之病。蓋媾精時。氣留則精止。氣動則精泄。大凡強力入房者。</p>
<p>氣每沖激而出。故精隨之橫決四射。不盡繇孔道而注。精溢於精管之外。久久漸成漏管。今漏管雖去。而肉中之空隙則存。填竅補隧。非此等藥力所能勝也。不肖姑不言其非。但於其方中去槐角地榆等。而加鹿角霜一味。所謂惟有斑龍頂上珠。能補玉堂關下缺者是也。況群陰之藥。最能潤下。不有以砥之。則腸中之水。更聚可虞耶。然此特微露一斑耳。瘍醫不解。已阻為不可用。因思吾鄉一治漏者。潰管生肌外。更有二神方。</p>
<p>先以丸藥半斤。服之令人陽道驟痿。俟管中肉滿。管外致密。後以丸藥半斤。服之令人陽道復興。雖宜於少。</p>
<p>未必宜於老。然用意亦大奇矣。不肖才欲填滿竅隧。而黃生阻之。豈未聞此人此法乎。</p>
<p>胡卣臣先生曰。漏管果通精竅。敷治易而填補難。案中所說。確乎有見。</p>
<h2>詳胡太封翁疝證治法並及運會之理剿寇之事</h2>
<p>養　太老先生。精神內守。百凡悉處謙退。年登古稀。面貌若童子。蓋得於天全。而不受人損也。從來但苦脾氣不旺。食飲濃自撙節。邇年少腹有疝。形如雞卵。數發以後。其形漸大而長。從少腹墜入睪囊甚易。返位甚難。下體稍受微寒則發。發時必俟塊中冷氣漸轉暖熱。始得軟溜而縮入。不然則鼓張於隘口。不能入也。近來其塊益大。發時如臥酒瓶於胯上。半在少腹。半在睪囊。</p>
<p>其勢堅緊如石。其氣迸入前後腰臍各道筋中。同時俱脹。繇是上攻入胃。大嘔大吐。繇是上攻巔頂。戰栗畏寒。安危止關呼吸。去冬偶見暴發光景。知為地氣上攻。亟以大劑參附薑桂投之。一劑而愈。以後但遇舉發。悉用桂附速效。今五月末旬。值昌他往。其證連日為累。服十全大補湯二十余劑。其效甚遲。然疑證重。</p>
<p>不疑藥輕也。值年家俞老先生督餉浙中。遙議此證。亦謂十全大補用到百劑自效。乃決意服。至仲秋。其證復發。發時昌仍用薑桂參附投之。令郎諫議卣翁老先生。兩疑而莫所從也。昌請深言其理焉。夫人陽不足則用四君。</p>
<p>陰不足則用四物。陰陽兩不足。則合四君四物。而加味為十全大補。此中正和平之道也。若夫濁陰之氣。結聚少腹。而成有形。則陰盛極矣。安得以陰虛之法治之。助邪而滋疾乎。何以言之。婦女有娠者之病傷寒。不得已而用麻桂硝黃等傷胎之藥。但加入四物。則厲藥即不能入胞而傷胎。豈欲除塊中之邪。反可用四物護之乎。此一征也。凡生　瘕痞塊者。馴至身羸血枯。百計除之不減。一用四物。則其勢立增。夫四物不能生血活血。而徒以增患。此又一征也。人身之血脈。全賴飲食為充長。四物之滯脾。原非男子所貴。既以濁陰極盛。時至橫引陰筋。直衝陽絡。則地氣之上陵者。大有可慮。何得以半陰半陽之藥。蔓而圖之。四物之不當用無疑矣。即四君亦元老之官。不可以理繁治劇。必加以薑桂附子之猛。始克勝病。何也。陰邪為害。不發則已。其發必暴。試觀天氣下降則清明。地氣上升則晦塞。而人身大略可睹。然人但見地氣之靜。而未見地氣之動也。方書但言陰氣之衰。而未言陰邪之盛也。醫者每遇直中陰經之病。尚不知所措手。況雜證乎。請縱譚天地之道以明之。天地之道。元會運世一書。論之精矣。至於戌亥所以混茫之理。則置之不講。以為其時天與地混而為一。無可講耳。殊不知天不混於地。而地則混於天也。蓋地氣小動。尚有山崩川沸。陵遷穀變之應。況於地氣大動。其雷炮迅擊之威。百千萬億。遍震虛空。橫沖逆撞。以上加於天。寧不至混天為一耶。必至子而天開。地氣稍下。而高覆之體始露也。必至丑而地辟。地氣始返於地。而太空之體始廓也。其時人物尚不能生者。則以地氣自天而下。未至淨盡。其青黃紅紫赤白碧之九氣而外。更有諸多悍疾之氣。從空注下者。動輒綿亙千百丈。如木石之直墜。如箭弩之橫流。人物非不萌生其中。但為諸多暴氣所摧殘。而不能長育耳。必至寅而駁劣之氣。悉返沖和。然後人物得遂其生。以漸趨於繁衍耳。陰氣之慘酷暴烈。一至於此。千古無人論及。何從知之耶。大藏經中。佛說世界成毀至詳。而無此等論說者。蓋其已包括於地水火風之內。不必更言也。夫地水火風。有一而非陰邪也哉。</p>
<p>群陰之邪。釀成劫運。昌之所謂地氣之混於天者。非臆說矣。堪輿家尚知趨天干之吉。而避地支之凶。奈何醫之為道。遇地氣上奔之證。曾不思避其凶禍耶。漢代張仲景。特著卒病論十六卷。祿山兵火以後。遂湮沒不傳。後人無繇獲見。昌因悟明地氣混天之理。凡見陰邪上衝。孤陽擾亂之證。陡進純陽之藥。急驅陰氣。呱呱有聲。從大孔而出。以辟乾坤而揭日月。功效亦既彰彰。如太翁之證。屢用薑附奏績者。毋謂一時之權宜。實乃萬世經常之法也。但悍烈之性。似非居恆所宜服。即舉發時服之。未免有口乾舌苦之過。其不敢輕用者。</p>
<p>孰不知之。而不如不得不用也。即如兵者毒天下之物。而善用之則民從。不善用之則民叛。今討寇之師。</p>
<p>監而又監。制而又制。強悍之氣。化而為軟戾。不得不與寇為和同。至於所過之地。搶劫一空。荊棘生而凶年兆。盡驅良民而為寇矣。廟堂之上。罷兵不能。用兵無策。大略類然。昌請與醫藥之法。互相籌酌。夫堅塊遠在少腹。漫無平期。而毒藥從喉入胃。從胃入腸。始得下究。舊病未除。新病必起矣。於此而用治法。先以薑附肉桂為小丸。</p>
<p>曝令干堅。然後以參朮濃為外廓。俾喉胃間知有參朮。而不知有薑桂附子。遞送達於積塊之所。猛烈始露。庶幾堅者削。而窠囊可盡空也。今監督之旄。充滿行間。壯士金錢飽他人腹。性命懸他人手。其不能辦寇。固也。而其大病。在於兵護監督。不以監督護兵。所以迄無成功耳。誠令我兵四面與寇相當。而令監督於附近賊界。堅壁清野。與土著之民。習且耕且戰之法。以濃為我兵之外廓。則不至於縶騏驥而縛孟賁。我兵可以賈勇而前。或擊其首尾。或搗其中堅。或晝息夜奮。以亂其烏合。而廓清之功自致矣。況有監督以護之於外。諸凡外入之兵。不敢越伍而嘩。庶幾民不化為寇。而寇可返為民耳。山澤之　。何知當世。然聊舉醫法之一端。若有可通者。因並及之。</p>
<p>卣臣先生問曰。外廓一說。於理甚長。何以古法不見用耶。答曰。古法用此者頗多。如用朱砂為衣者。取義南方赤色。入通於心。可以護送諸藥而達於心也。如用青黛為衣者。取義東方青色。入通於肝。可以護送諸藥而達於肝也。至於攻治惡瘡之藥。包入蔥葉之中。更嚼蔥濃罨而吞入。取其不傷喉膈。而直達瘡所也。即煎劑亦有此法。如用大劑附桂藥煎好。再投生黃連二三分。一滾即取起。俟冷服之。則熟者內行下行。而生者上行外行。自非外廓之意耶。仲景治陰證傷寒。用整兩附子煎熟。而入生豬膽汁幾滴和之。可見聖神用藥。悉有法度也。卣臣先生曰善。</p>
<p>胡卣臣先生曰。家大人德全道備。生平無病。年六十。以冬月觸寒。乃有疝疾。今更十年。每當病發。</p>
<p>嘔吐畏寒。發後即康好如舊。今遇嘉言救濟。病且漸除。日安一日。家大人樂未央。皆先生賜矣。</p>
<h2>詳辯諫議胡老先生痰飲小恙並答明問</h2>
<p>卣翁老先生。脈盛體堅。神采百倍。從無病邪敢犯。但每早浴面。必嘔痰水幾口。胸前慣自摩揉。乳下宗氣。其動應衣。若夜睡寧。水道清。則胸中爽然。其候似病非病。遍考方書。廣詢明醫。不得其解。昌謂是痰飲結於胸膈。小有窠囊。緣其氣之壯盛。隨聚隨嘔。是以痰飲不致為害。而膻中之氣。因嘔而傷矣。</p>
<p>夫膻中者。與上焦同位胸膈。經云。上焦如霧。言其氣之氤氳如霧也。又曰。膻中者臣使之官。言其能分布胸中之氣而下傳也。今以嘔之故。而數動其氣。則氤氳變為急迫上奔。然稍定則仍下布。亦不為害也。大率痰為標。氣為本。治標易。而治本則難矣。非治本之難。以往哲從未言其治法。而後人不知所治耳。昌試論之。治氣之源有三。一曰肺氣。肺氣清。則周身之氣肅然下行。先生之肺氣則素清也。一曰胃氣。胃氣和。則胸中之氣亦易下行。先生之胃氣則素和也。一曰膀胱之氣。膀胱之氣旺。則能吸引胸中之氣下行。先生青年善養。</p>
<p>膀胱之氣則素旺也。其膻中之氣。亂而即治。擾而即恬者。賴此三氣暗為輸運。是以不覺其累。即謂之無病也可。若三氣反干胸膈之人。其為緊為脹。可勝道哉。故未形之病。可以不言。而屢動之氣。不可不亟反於氤氳。先生但覺為痰飲所苦。晝日常鼓呼吸之氣。觸出胸膈之痰。而未知痰不可出。徒傷氣也。蓋夜臥則痰聚於胃。晨起自能嘔出。日間胃之津液。四達臟腑。即激之出不出耳。然而痰消則氣自順。是必以治痰為急。而體盛痰不易除。又必以健脾為先。脾健則新痰不生。其宿痰之在窠囊者。漸漬於胃。而上下分消。於是無痰則不嘔。不嘔則氣不亂。氣不亂則自返於氤氳矣。雖然。尚有一吃緊關頭。當並講也。人身胸中。空曠如太虛。地氣上則為云。必天氣降而為雨。地氣始收藏不動。誠會上焦如霧。中焦如漚。下焦如瀆之意。則知云行雨施。而後溝瀆皆盈。水道通決。乾坤有一番新景象矣。此義首重在膀胱一經。經云。膀胱者州都之官。津液藏焉。氣化則能出矣。如人之飲酒無算而不醉者。皆從膀胱之氣化而出也。蓋膻中位於膈內。膀胱位於腹內。膀胱之氣化。則空洞善容。</p>
<p>而膻中之氣得以下運。若膀胱不化。則腹已先脹。膻中之氣。安能下達耶。然欲膀胱之氣化。其權尤在於葆腎。腎以膀胱為府者也。腎氣動。必先注於膀胱。屢動不已。膀胱滿脹。勢必逆奔於胸膈。其窒塞之狀。不可名言。腎氣不動。則收藏愈固。膀胱得以清靜無為。而膻中之氣。注之不盈矣。膻中之氣。下走既捷。則不為牽引所亂。而胸中曠若太空。昌更曰。氣順則痰不留。即不治痰而痰自運矣。謹論。</p>
<p>胡卣臣先生問曰。痰在膈中。去喉不遠。每早必痛嘔始出者何耶。曰。道不同也。胸膈之間。重重膈膜遮蔽。渾無空隙。痰從何出。所出者胃中之痰耳。曰。然則膈中之痰不出耶。曰。安得不出。但出之曲耳。</p>
<p>蓋膻中之氣。四布於十二經。布於手足六陽經。則其氣從喉吻而上出。布於手足六陰經。則其氣從前後二陰而下出。然從下出者無礙。從上出者。亦必先下注陽明。始得上越。是以難也。曰。若是則所論膀胱氣化一段。淵乎微矣。但吸引之機權。從不見於經典。豈有所自乎。曰。內經有巨陽引精之義。緣無注解。</p>
<p>人不能會。巨陽者。太陽膀胱經也。謂膀胱能吸引胸中之氣下行。而胸中之脹自消。此足證也。曰。胸中窠囊之說。確然無疑。不知始於何因。結於何處。消於何時也。曰。人身之氣。經盛則注於絡。絡盛則注於經。</p>
<p>窠囊之來。始於痰聚胃口。嘔時數動胃氣。胃氣動則半從上出於喉。半從內入於絡。胃之絡貫膈者也。其氣奔入之急。則沖透膈膜。而痰得以居之。痰入既久。則阻礙氣道。而氣之奔入者。復結一囊。如蜂子之營穴。日增一日。故治之甚難。必先去胃中之痰。而不嘔不觸。俾胃經之氣。不急奔於絡。轉虛其胃。以聽絡中之氣。返還於胃。逐漸以藥開導其囊。而滌去其痰。則自愈矣。此昌獨得之見。屢試之法也。曰。所言身內病情消息。如寶鑒列眉。令人欽服。生平讀醫書。於五臟位置。不能無疑。請並明之。人身戴九履一。左三右七。五居中宮。則心南腎北肝東肺西。乃定位也。乃腎不居正北。而分隸東北西北者何耶。曰。腎有兩。故分隸兩旁。而虛其在中之位以為用。所謂兩腎中間一點明。正北方水中之真火。而為藏精宅神之本。其體雖分左右。而用實在中。故心腎交媾之所。各該三寸六分。設從兩腎歧行而上。</p>
<p>其去中黃。不太遠乎。凡內觀五臟。當觀其用也。曰。肺為一身之華蓋。如蓮花舒葉於心之上。位正乎中。</p>
<p>何以定其位於西南耶。誠如兩腎之例。則西南可位。豈東南獨不可位乎。曰。肺居心上。其募不與左連。但從右達。其用亦在西也。曰。其不與左連者何也。曰。地不滿東南。其位常空隙不用。設肺募得與左連。地無缺陷矣。曰。然則天不滿西北。何以右腎居之耶。曰。兩腎之用在中。此不過其空位耳。惟右腎為空位。故與三焦之有名無形者相配。而三焦則決瀆之官。水道由之而出。正以天不滿西北也。曰。然則脾胃居右。其用亦在右耶。曰。胃居中。脾居右。胃中所容之水穀。全賴脾以營運。而注其氣以輸周身。其用即在中也。其用在中。故西方可容肺脾二臟。若脾之用在右。則置肺之用於何所乎。曰。然則肝之用何在耶。曰。肝木居於正東。東南為地之空位。其氣既無主。東北為左腎之本位。其用又不存。故肝之氣得以徹上徹下。全運於東方。其為用也大矣。曰。然則心之用何在耶。曰。心之外有包絡。包絡之外曰膻中。心者君主之官。膻中者臣使之官。是膻中為心之用也。曰。心之神明。其用何在耶。曰。神明之用。無方無體。難言也。道經云。</p>
<p>太玄無邊際。妙哉。大洞經曰太玄。曰無邊際。曰妙哉。形容殆盡矣。禪機云。赤肉團上。有一無位真人。</p>
<p>旨哉斯言。惟無位乃稱真人。設有位則仍為赤肉團矣。欲窺其倪。惟在感而遂通之界。先生曰。吾淺言之。人能常存敬畏。便可識神明之所起。曰。此堯兢舜業。而為允執者也。昌多言反晦。先生一言逗出。誠為布鼓過雷門矣。因並記之。</p>
<p>胡卣臣先生曰。每與嘉言接譚。如見劉穎川兄弟。使人神思清發。或體氣偶有未佳。則陳琳一檄。枚氏七發。少陵五言詩。輞川幾重圖。無不備矣。觀此論至明至正。至精至微。愧無馬遷筆。為作倉公傳也。</p>
<h2>論顧鳴仲痞塊錮疾根源及治法</h2>
<p>顧鳴仲有腹疾近三十年。朝寬暮急。每一大發。腹脹十余日方減。食濕面及房勞。其應如響。腹左隱隱微高。鼓呼吸觸之。　有聲。以痞塊法治之。內攻外貼。究莫能療。余為懸內照之鑒。先與明之。後乃治之。人身五積六聚之證。心肝脾肺腎之邪。結於腹之上下左右。及當臍之中者。皆高如覆盂者也。膽胃大小腸膀胱命門之邪。各結於其本位。不甚形見者也。此證乃腎臟之陰氣。聚於膀胱之陽經。有似於痞塊耳。何以知之。腎有兩竅。左腎之竅。從前通膀胱。右腎之竅。從後通命門。邪結於腹之左畔。即左腎與膀胱為之府也。六腑惟膽無輸瀉。其五腑受五臟濁氣傳入。不能久留。即為輸瀉者也。今腎邪傳於膀胱。膀胱溺其輸瀉之職。舊邪未行。新邪踵至。勢必以漸透入膜原。如革囊裹物者然。經曰。膀胱者州都之官。津液藏焉。氣化則能出矣。然則腎氣久聚不出。豈非膀胱之失其運化乎。夫人一團之腹。大小腸膀胱俱居其中。而胞又居膀胱之中。惟其不久留輸瀉。是以寬乎若有餘地。今腎之氣。不自收攝。悉輸膀胱。膀胱蓄而不瀉。有同膽腑之清淨無為。其能理乎。宜其脹也。有與生俱焉者矣。經曰。腎病者善脹。尻以代踵。脊以代頭。倘膀胱能司其輸瀉。何致若此之極耶。又曰。巨陽引精者三。曰太陽膀胱經。吸引精氣者。</p>
<p>其脹止於三日。此之為脹。且數十年之久。其吸引之權安在哉。治法補腎水而致充足。則精氣深藏。而膀胱之脹自消。補膀胱而令氣旺。則腎邪不蓄。而輸化之機自裕。所以然者。以腎不補不能藏。膀胱不補不能瀉。然補腎易而補膀胱則難。以本草諸藥。多瀉少補也。經於膀胱之予不足者。斷以死期。後人莫解其故。吾誠揣之。豈非以膀胱愈不足則愈脹。脹極勢必逆傳於腎。腎脹極。勢必逆傳於小腸。小腸脹極。勢必逆傳於脾。乃至通身之氣。散漫而無統耶。醫者於未傳之先。蚤見而預圖之。能事殫矣。</p>
<p>胡卣臣先生曰。言腹中事。如張炬而游洞天。愈深愈朗。</p>
<h2>袁聚東痞塊危證治驗</h2>
<p>袁聚東年二十歲。生痞塊。臥床數月。無醫不投。日進化堅削痞之藥。漸至枯瘁肉脫。面黧發卷。殆無生理。買舟載往郡中就醫。因慮不能生還而止。然尚醫巫日費。余至則家計已罄。姑請一診。以決生死遠近耳。無他望也。余診時。先視其塊。自少腹至臍旁。分為三岐。皆堅硬如石。以手拊之。痛不可忍。其脈止兩尺洪盛。余微細。謂曰。是病由見塊醫塊。不究其源而誤治也。初起時塊必不堅。以峻猛藥攻之。至真氣內亂。轉護邪氣為害。如人　打。扭結一團。旁無解散。故迸緊不放。其實全是空氣聚成。非如女子衝任血海之地。其月經凝而不行。即成血塊之比。觀兩尺脈洪盛。明明是少陰腎經之氣。傳於膀胱。膀胱之氣。本可傳於前後二便而出。誤以破血之藥。兼破其氣。其氣遂不能轉運。而結為石塊。以手摩觸則愈痛。情狀大露。</p>
<p>若是血塊得手。則何痛之有。此病本一劑可瘳。但數月誤治。從上至下。無病之地。亦先受傷。姑用補中藥一劑。以通中下之氣。然後用大劑藥。內收腎氣。外散膀胱之氣。以解其相　相結。約計三劑。可痊愈也。於是先以理中湯。少加附子五分。服一劑。塊已減十之三。再用桂附藥一大劑。腹中氣響甚喧。頃之三塊一時頓沒。戚友共駭為神。再服一劑。果然全愈。調攝月余。肌肉復生。面轉明潤。堆云之發。才剩數莖而已。每遇天氣陰寒。必用重　濃被蓋覆。不敢起身。余謂病根尚在。蓋以腎氣之收藏未固。膀胱之氣化未旺。兼之年少新婚。倘犯房室。其塊復作。仍為後日之累。更用補腎藥。加入桂附。而多用河車為丸。取其以胞補胞。而助膀胱之化源也。服之竟不畏寒。腰圍亦大。而體加充盛。年余又得子。感前恩而思建祠肖像以報。以連值歲凶。</p>
<p>姑尸祝於家庭焉。亦濃之道矣胡卣臣先生曰。辨證十分明徹。故未用藥。先早知其功效矣。又早善其後。得心應手之妙。一一傳之紙上。大有可觀。</p>
<h2>論楊季蘅風廢之證並答門人四問</h2>
<p>季蘅翁稟豐軀偉。望七之齡。神采不衰。近得半身不遂之證。已二年矣。病發左半。口往右　。昏厥遺溺。初服參朮頗當。為黠醫簧以左半屬血。不宜補氣之說。幾致大壞。云間施笠澤以參附療之。稍得向安。</p>
<p>然概從溫補。未盡病情也。診得脈體。軟滑中時帶勁疾。蓋痰與風雜合之證。痰為主。風為標也。又熱與寒雜合之證。熱為主。寒為標也。平時手冷如冰。故痰動易至於厥。然厥已復蘇。蘇已嘔去其痰。眠食自若。雖冬月亦能耐寒。無取重　復絮。可知寒為外顯之假寒。而熱為內蘊之真熱。既有內蘊之熱。自蒸脾濕為痰。久久阻塞竅隧。而衛氣不周。外風易入。加以房幃不節。精氣內虛。與風相召。是以雜合而成是證耳。及今大理右半脾胃之氣。以運出左半之熱痰虛風。此其間有微細曲折。非只溫補一端所能盡者。何也。</p>
<p>治雜合之病。必須用雜合之藥。而隨時令以盡無窮之變。即如冬月嚴寒用事。身內之熱。為外寒所束。不得從皮膚外泄。勢必深入筋骨為害矣。故用薑附以暫撤外寒。而內熱反得宣泄。若時令之熱。與內蘊之熱相合。復助以薑附。三熱交煽。有灼筋腐肉而已。孰是用藥之權衡。可以一端盡耶。或者曰。左半風廢。而察脈辨證。</p>
<p>指為兼痰兼熱似矣。痰者脾濕所生。寄居右畔。是則先宜中右。而何以反中左耶。既已中左。明系左半受病。而何以反治右耶。不知此正病機之最要者。但為丹溪等方書說。病在左血多。病在右氣多。教人如此認證。因而起後人之偏執。至內經則無此說也。內經但言左右者。陰陽之道路。夫左右既為陰陽往還之道路。何嘗可偏執哉。況左半雖血為主。非氣以統之則不流。右半雖氣為主。非血以麗之則易散。故肝膽居左。其氣常行於右。脾胃居右。其氣常行於左。往來灌注。是以生生不息也。肝木主風。脾濕為痰。而風與痰之中人。原不分於左右。但翁恃其體之健。過損精血。是以八八天癸已盡之後。左半先虧。而右半飲食所生之痰。與皮毛所入之風。以漸積於空虛之府。而驟發始覺耳。風脈勁疾。痰脈軟滑。</p>
<p>惟勁疾故病則大筋短縮。即舌筋亦短而蹇於言。小筋弛長。故從左而　於右。從左　右。即可知左畔之小筋。弛而不張也。若小筋能張。則左　矣。凡治一偏之病。法宜從陰引陽。從陽引陰。從左引右。從右引左。蓋觀樹木之偏枯者。將溉其枯者乎。抑溉其未枯者使榮茂。而因以條暢其枯者乎。治法以參朮為君臣。</p>
<p>以附子乾薑為佐使。寒月可恃無恐。以參朮為君臣。以羚羊角柴胡知母石膏為佐使。而春夏秋三時。</p>
<p>可無熱病之累。然宜刺手足四末。以泄榮血而通氣。恐熱痰虛風。久而成癘也。</p>
<p>門人問曰。經文左右者。陰陽之道路。注解以運氣之司天在泉。而有左間右間為訓。遂令觀者茫然。今先生貼以往還二字。與太極動而生陽。靜而生陰。天地生成之數。春秋自然之運。適相符契矣。但不知往於何始。還於何終。可得聞乎。答曰。微哉問也。天地之道。春氣始於左。而終於右。秋氣始於右。而終於左。夏氣始於上。而終於下。冬氣始於下。而終於上。人身亦然。經云。欲知其始。先建其母。母者五臟相承之母也。又曰。五臟以生克而互乘。如右之肺金。往左而生腎水克肝木。左之心火。往右而生脾土克肺金之類。其往還交織無端。然始於金者。生則終於土。克則終於火。始於火者。生則終於木。克則終於水。此則交織中之次第也。推之十二經。如子時注少陽膽。丑時注厥陰肝之類。亦交織中之次第也。誠建其母推其類。而始終大略睹矣。</p>
<p>又問曰。病機之左右上下。其往還亦有次第乎。答曰。病機往還之次第。不過順傳逆傳兩端。順傳者傳其所生。乃天地自然之運。如春傳夏。夏傳長夏。長夏傳秋。秋傳冬。冬復傳春。原不為病。即病亦輕。逆傳者。傳其所克。病輕者重。重者死矣。如春傳長夏。長夏傳冬。冬傳夏。夏傳秋。秋傳春。非天地自然之運。故為病也。曰經言間傳者生。七傳者死。則間傳為順傳。七傳為逆傳無疑。曰。非也。注難經者。言間傳是順行。隔一位而傳。誤認病機但從右旋左。不從左旋右。皆繇不知左右往還之理。而以訛傳訛。試詰以腎水間一位傳心火。為逆傳之賊邪。則無可置喙矣。故間傳七傳。俱於逆傳中分生死耳。間傳者。心病當逆傳肺。乃不傳肺。而傳肺所逆傳之肝。肺病當逆傳肝。乃不傳肝。而傳肝所逆傳之脾。推之肝病脾病腎病皆然。此則臟腑不受克賊。故可生也。七傳者前六傳已逆周五臟。第七傳重復逆行。如心臟初受病。二傳於肺則肺臟傷。三傳於肝則肝臟傷。四傳脾。五傳腎。六傳仍歸於心。至七傳再入於肺。則肺已先傷。重受賊邪。</p>
<p>氣絕不支矣。所謂一臟不兩傷。是以死也。不比傷寒傳經之邪。經盡再傳。反無害也。針經云。善針者以左治右。以右治左。夫人身之穴。左右同也。乃必互換為治。推之上下。莫不皆然。於往還之機。益明矣。</p>
<p>又問曰。半身不遂之病。原有左右之分。豈左右分屬之後。病遂一往不返乎。而治之迄無成效者。何也。答曰。風與痰之中人。各隨所造。初無定體。病成之後。亦非一往不返也。蓋有往有復者。天運人事病機。無不皆然。如風者四時八方之氣。從鼻而入。乃天之氣也。痰者五穀百物之味。從口而入。脾胃之濕所結。乃地之氣也。勢本相遼。亦嘗相兼。全似內傷之與外感。每夾雜而易炫。故風勝者先治其風。痰勝者先治其痰。相等則治風兼治痰。此定法也。內經云。風之中人也。先從皮毛而入。次傳肌肉。次傳筋。次傳骨髓。</p>
<p>故善治者。先治皮毛。其次治肌肉。繇此觀之。乃從右而漸入於左也。皮毛者右肺主之。肌肉者右胃主之。</p>
<p>筋脈者左肝主之。骨髓者左腎主之。從外入者轉入轉深。故治皮毛治肌肉。不使其深入也。又曰。濕之中人也。先從足始。此則自下而之上。無分左右者也。但內風素勝之人。偏與外風相召。內濕素勝之人。偏與外濕相召。內風之人。大塊之噫氣未動。而身已先傷。內濕之人。室中之礎磉未潤。而體已先重。是以治病必從其類也。從外入者。以漸而驅之於外。從下上者。以漸而驅之於下。若任其一往不返。安貴其為治乎。</p>
<p>又問曰。從外入者。驅而之外。從下上者。驅而之下。驟聞令人爽然。不識古法亦有合歟。答曰。此正古人已試之法。但未挈出。則不知作者之意耳。如治風大小續命湯。方中桂附苓朮麻防等藥。表裡龐雜。今人見為難用。不知用附桂者。驅在裡之邪也。用苓朮者。驅在中之邪也。而用麻防等表藥獨多者。正欲使內邪從外而出也。至於病久體虛。風入已深。又有一氣微汗之法。一旬微利之法。平調半月十日。又微微驅散。古人原有規則也。至於治痰之規則。不見於方書。如在上者。用瓜蒂散梔豉湯等方。在左者用龍薈丸。在右者用滾痰丸。以及虛人用竹瀝達痰丸。沉寒錮冷用三建湯之類。全無奧義。豈得心應手之妙。未可傳之紙上耶。</p>
<p>吾今為子輩傳之。蓋五味入口。而藏於胃。胃為水穀之海。五臟六腑之總司。人之食飲太過。而結為痰涎者。</p>
<p>每隨脾之健運。而滲灌於經隧。其間往返之機。如海潮然。脾氣行則潮去。脾氣止則潮回。所以治沉錮之法。</p>
<p>但取辛熱。微動寒痰。已後止而不用。恐痰得熱而妄行。為害不淺也。不但痰得熱而妄行。即脾得熱而亦過動不息。如潮之有去無回。其痰病之決裂。可勝道哉。從來服峻補之藥者。深夜亦欲得食。皆不知其故。反以能食為慶。曾不思愛惜脾氣。令其晝運夜息。乃可有常。況人身之痰。既繇胃以流於經隧。則經隧之痰。亦必返之於胃。然後可從口而上越。</p>
<p>從腸而下達。此惟脾氣靜息之時。其痰可返。故人有痰症者。早食午食而外。但宜休養。脾氣不動。使經隧之痰。得以返之於胃。而從胃之氣上下。不從脾之氣四達。乃為善也。試觀人痰病輕者。夜間安臥。次早即能嘔出泄出。痰病重者。昏迷復醒。反能嘔出泄出者。豈非未曾得食。脾氣靜息。而予痰以出路耶。世之喜用熱藥峻攻者。能知此乎。噫。天下之服辛熱。而轉能夜食者多矣。肯因俚言而三思否。</p>
<p>胡卣臣先生曰。知之深。故言之詳。然皆根據內經。而非創說。又自有神悟。而非襲說。予向者極嘆服王宇泰繆仲淳。真是齊人知管晏耳。</p>
<h2>治葉茂卿小男奇證效驗並詳誨門人</h2>
<p>葉茂卿乃郎。出痘未大成漿。其殼甚薄。兩月後尚有著肉不脫者。一夕腹痛。大叫而絕。余取梨汁入溫湯灌之。少蘇。頃復痛絕。灌之復蘇。遂以黃芩二兩煎湯。和梨汁與服。痛止。令制膏子藥頻服。不聽。其後忽肚大無倫。一夕痛叫。小腸突出臍外五寸。交紐各二寸半。如竹節壺頂狀。莖物絞摺長八九寸。明亮如燈籠。</p>
<p>外症從來不經聞見。余以知之素審。仍為治之。以黃芩阿膠二味。日進十余劑。三日後始得小水。五日後水道清利。臍收腫縮而愈。門人駭而問曰。此等治法。頑鈍一毫莫解。乞明示用藥大意。答曰。夫人一身之氣。全關於肺。肺清則氣行。肺濁則氣壅。肺主皮毛。痘不成漿。肺熱而津不行也。殼著於肉。名曰甲錯。甲錯者多生肺癰。癰者壅也。豈非肺氣壅而然與。腹痛叫絕者。壅之甚也。壅甚則並水道亦閉。是以其氣橫行於臍中。而小腸且為突出。至於外腎弛長。尤其剩事矣。吾以黃芩阿膠清肺之熱。潤肺之燥。治其源也。氣行而壅自通。源清斯流清矣。緣病已極中之極。惟單味多用。可以下行取效。故立方甚平。而奏功甚捷耳。試以格物之學。為子廣之。</p>
<p>凡禽畜之類。有肺者有尿。無肺者無尿。故水道不利而成腫滿。以清肺為急。此義前人闡發不到。後之以五苓五皮八正等方治水者。總之未悟此旨。至於車水放塘。種種劫奪膀胱之劑。則殺人之事矣。可不辨之於蚤歟。</p>
<p>趙我完孝廉次郎。秋月肺氣不能下行。兩足腫潰。而小水全無。臍中之痛。不可名狀。以手揉左。則痛攻於右。揉右則痛攻於左。當臍揉熨。則滿臍俱痛。叫喊不絕。利水之藥。服數十劑不效。用敷臍法。及單服琥珀末至兩許。亦不效。昌見時彌留已極。無可救藥矣。傷哉。</p>
<p>胡卣臣先生曰。凡求同理者。必不求同俗。嘉言之韜光匿采。寧甘訕謗。曾不令人窺識者。無意求知也。豈見此而有不心折者耶。</p>
<h2>議沈若茲乃郎腸危證並治驗</h2>
<p>沈若茲乃郎。因痘後食物不節。病瀉。瀉久脾虛。病瘧。遂爾腹痛脹大。三年來服消導藥無算。腹脹及瀉利總不愈。去歲迎醫。服參苓白朮稍效。醫去仍復如故。病本腹脹。更兼腸　。腸　者。大腸之氣。空洞易走。胃中傳下之物。總不停留。　出無度。腥水不臭。十中五死五生之症也。今則病勢轉深。又加四逆矣。暮熱朝涼。一逆也。大渴引湯救急。二逆也。氣喘不能仰睡。三逆也。多汗煩躁不寧。四逆也。無病患腹中之氣。運轉收攝。是以身體輕快。大便省約。今為久瀉。遂至氣散不收。腹之脹。腸之鳴。便出之不自知。皆此故也。氣既散而不收。又服行氣利水之藥。不愈增其散乎。無病患身中營衛。兩無偏勝。故陽勝則發熱。陰勝則惡寒。病瘧之時。寒熱交作。猶是陰陽互戰。迨瀉久亡陰。整夜發熱。一線之陰。為陽所乘。求其相戰。不可得矣。內水虧竭。燎原之火自焚。不得不引外水以濟急。然有形之水。不足以制無形之火。徒增脹瀉。而重傷其陰氣耳。醫不清其源。以香燥之藥。助火劫陰。如官桂肉豆蔻等類。用之誤矣。夫男子氣海在於臍下。乃元氣之舍。性命之根也。久瀉則真氣亦散。勢必上干清道。而不下行。鼻中鼾鼾有聲。不能仰臥。是其征也。夫此已散之氣。必不能復歸其處。但冀未散之氣。不致盡散則可耳。屢服木香檳榔蘇子腹皮厚朴等降氣之藥。尤誤之誤矣。至於汗出煩躁。則陰氣虛盡。孤陽亦不能久留之兆也。總如歲運。有溫熱無寒涼。有生長無收藏。人物能免夭札疵癘乎。於此而圖旋轉之功。亦難之難矣。若茲見案。轉托戚友。強懇用藥。因以清燥潤肺為主。阿膠地黃門冬等類同蜜熬膏三斤。渠男三年為藥所苦。得此甘味。稱為糖也。日爭十余次服之。半月藥盡。遂至大效。身涼氣平。不渴不煩不瀉。諸症俱退。另制補脾藥末善後。全愈。</p>
<p>胡卣臣先生曰。久瀉而用潤藥。與症相反。而究竟相宜。議病時先辟三種治法之誤。</p>
<p>已隱隱見大意矣。與吳吉長乃室治驗。參看自明。</p>
<h2>辨治楊季登二女奇證奇驗</h2>
<p>楊季登二女。俱及笄將字。長女病經閉年余。發熱食少。肌削多汗。而成癆怯。醫見汗多。誤為虛也。投以參朮。其血愈錮。余診時見汗出如蒸籠氣水。謂曰此症可療處。全在有汗。蓋經血內閉。止有從皮毛間透出一路。以汗亦血也。設無汗而血不流。則皮毛干槁而死矣。宜用極苦之藥。以斂其血入內。而下通於衝脈。則熱退經行。而汗自止。非補藥所能效也。於是以龍薈丸日進三次。月余忽覺經血略至。汗熱稍輕。</p>
<p>始減前丸。只日進一次。又一月。經血大至。淋漓五日。而諸病全瘳矣。第二女亦病多汗。食減肌削。診時手間筋掣肉顫。身倦氣怯。余曰。此大驚大虛之候。宜從溫補者也。遂於補劑中多加茯神棗仁。投十余劑。全不對病。余為徘徊治法。因自訐曰。非外感也。非內傷也。非雜症也。虛汗振掉不寧。能受補藥。而病無增減。且閨中處子。素無家難。其神情渾似喪敗之余。此曷故耶。忽而悟曰。此必邪祟之病也。何為其父不言。甚有可疑。往診問其面色。曰時赤時黃。余曰。此症確有邪祟。附入臟腑。吾有神藥可以驅之。季登才曰。此女每晚睡去。口流白沫。戰栗而絕。以薑湯灌至良久方蘇。挑燈侍寢防之。亦不能止。因見所用安神藥甚當。兼恐婿家傳聞。故不敢明告也。余曰。何不蚤言。</p>
<p>吾一劑可愈。乃以犀角羚羊角龍齒虎威骨牡蠣粉鹿角霜人參黃　等藥合末。令以羊肉半斤。煎取濃汁三盞。盡調其末。一次服之。果得安寢。竟不再發。相傳以為神異。余蓋以祟附於身。與人之神氣支持。亦逼處不安。無隙可出。故用諸多靈物之遺形。引以羊肉之膻。俾邪祟轉附骨角。移從大便而出。仿上古遺精變氣祝繇遺事。充其義耳。吾鄉熊仲紓先生幼男去疾。髫齡患一奇症。食飲如常。但脈細神呆。氣奪色夭。仲翁曰。</p>
<p>此何病也。余曰。病名淹牒。左傳所謂近女室晦。即是此病。彼因近女。又遭室晦。</p>
<p>故不可為。令郎受室晦之邪。而未近女。是可為也。即前方少加牛黃丸。服旬日而安。今壬午去疾已舉孝廉矣。</p>
<p>胡卣臣先生曰。辨症用藥。通於神明。究莫測其涯　。</p>
<h2>直敘顧明二郎三郎布痘為宵小所誤</h2>
<p>顧　明公郎種痘。即請往看。其痘苗淡紅磊落。中含水色。明潤可愛。且顆粒稀疏。如晨星之麗天。門下醫者。先已夸為狀元痘。昌未知也。躊躇良久。明告曰。此痘熱尚未退。頭重頸軟。神躁心煩。便泄青白。</p>
<p>全自一團時氣外感。兼帶內虛。若用痘門通套藥。必危之道也。　明毫不動念。適值二尹請同挨戶查賑飢民。出街親董其事。余忙造其契戚家謂曰。我觀　明公郎在家布痘。而精神全用於賑飢。雖仁人長者之事。</p>
<p>然此等處。他人可代。乃自任不辭。明明言之。絕不回顧。此必有醫者夸美獻諛。而信之篤耳。不然豈有倒行逆施之理哉。此痘必得一二劑藥。先退其外感。則痘不治自痊。若遲二三日。</p>
<p>緩無及矣。相煩速往朝陽門內外追尋。直述鄙意。其戚聞言即往。余亦回寓修書投之。其辭激切。不避嫌疑。</p>
<p>傍晚一仆攜回書至。擲於幾上。忿忿而去。余以為　明之見責也。折視。則云尊翁大人。必欲得方。始肯服藥。余即定一方。並詳論方中大意。令僮輩　送。僮輩竊謂余之不智也。一日三四次奔走大人之門。是自忘其恥辱矣。吁嗟。余豈不自愛。但當群小蒙蔽時。倘得一撥立轉。所全頗鉅。於是親送其方至門。</p>
<p>則內戶已扃。閽人收之。次早送進。余暗地獨行。往返六裡。以圖心安。次日再托其戚。促之進藥。</p>
<p>則云既是狀元痘。何必服藥耶。此後即欲一造其庭。末繇矣。吁嗟。朝廷之上。任者議者。不妨互用。使余得與其側。此兒即不服藥。亦必無死法。蓋感症在身。而以　魚雞筍發痘之物雜投。誤上加誤。適所以促其亡耳。才至六日而壞。正應感症壞期。若痘出既美。即有意外變症。亦在半月一月矣。越二日。三公郎即發熱布痘。仍夾時氣外感。仍用前醫。仍六日而壞。旬日間兩兒為一醫所殺。　明引為己辜。設局施藥於城隍廟。余偶見之。蹙然曰。盛德之人。恐懼修省。皇天明神。豈無嘿庇。然賞善自應罰惡。而殺兒之醫。寧無速奪其算耶。一夕此醫暴亡。余深為悚惕。然尚有未暢者。左右之宵人。未嘗顯誅也。</p>
<p>胡卣臣先生曰。讒諂蔽明。邪曲害正。今古一轍。而幽憤所至。真足以動鬼神之吉凶。</p>
<h2>論劉筠枝長郎失血之證</h2>
<p>筠翁長郎病失血。歲二三發。其後所出漸多。咳嗽發熱。食減肌削。屢至小康。不以為意。夏秋間偶發寒熱如瘧狀。每夜達曙。微汗始解。嗣後寒熱稍減。病轉下利。醫謂其虛也。進以參朮。胸膈迷悶。喉音窒塞。服茯苓山藥預收紅鉛末。下黑血塊數升。胸喉頓舒。而容亦轉。筠翁神之。以為得竹破竹補之法也。加用桂附二劑。於是下利一晝夜十數行。飲食難入。神識不清。病增沉劇。仆診其脾脈大而空。腎脈小而亂。肺脈沉而伏。筠翁自謂知醫。令仆疏方。並問此為何症。仆曰。此症患在亡陰。況所用峻熱之藥。如權臣悍帥。不至犯上無等不已。行期在立冬後三日。以今計之。不過信宿。無以方為也。何以言之。經云。暴病非陽。久病非陰。則數年失血。其為陽盛陰虛無疑。</p>
<p>況食減而血不生。漸至肌削而血日槁。虛者益虛。盛者益盛。勢必陰火大熾。上炎而傷肺金。咳嗽生痰。清肅下行之令盡壅。繇是腎水無母氣以生。不足以蔭養百骸。柴閘極瘦損。每申酉時洒淅惡寒。轉而熱至天明。微汗始退。正如夏日炎蒸。非雨不解。身中之象。明明有春夏無秋冬。用藥方法。不亟使金寒水冷。以殺其勢。一往不返矣。乃因下利誤用參朮補劑。不知肺熱已極。止有從皮毛透出一路。今補而不宣。勢必移於大腸。所謂肺移熱於大腸。傳為腸　者是也。至用紅鉛末下黑血者。蓋陽分之血。隨清氣行者。久已嘔出。其陰分之血。隨濁氣行至胸中。為膜原所蔽。久瘀膈間者。得經水陰分下出之血。引之而走下竅。聲應氣求之妙也。久積頓寬。面色稍轉。言笑稍適者。得其下之之力。非得其補之之力也。乃平日預蓄此藥。必為方士所惑。見為真陽大藥。遂放膽加用。桂附燥熱。以盡劫其陰。惜此時未得止之。今則兩尺脈亂。火燔而泉竭。</p>
<p>脾胃脈浮。下多陰亡。陽無所附。肺脈沉伏。金氣縮斂不行。神識不清。而魄已先喪矣。昔醫云。</p>
<p>亂世溷濁。有同火化。夫以火濟火。董曹乘權用事。漢數焉得不終耶。</p>
<p>胡卣臣先生曰。論症論藥。俱從卓識中流出。大有關系之作。</p>
<h2>論錢小魯嗜酒積熱之證</h2>
<p>錢小魯奕秋之徒也。兼善飲。每奕必飲。飲必醉。歲無虛日。辛巳秋。浩飲晚歸。嘔吐寒熱兼作。骨節煩疼。醫以時行感冒表散藥治之。不愈。更醫知為酒毒。於寒涼藥中用熱藥為鄉導。治之亦不愈。臥床二十余日。始請余診。其脈洪大促急。身　著席不能動展。左腿痛如刀刺。鼻煤。從病起至是。總不大便。此癰疽之候也。歸語兩門人。王生欣然有得。曰。迄今燥金司令。酒客素傷濕熱。至此而發。金盛則木衰。是以筋骨疼痛。而不能起於床。臟燥而腑亦燥。是以津液干枯。而大腸失其潤。以清金潤燥治之可矣。吳生曰。不然。酒毒大發。腸胃如焚。能俟掘井取水乎。是必以大下為急也。</p>
<p>余曰。下法果勝。但酒客胃氣。素為多嘔所傷。藥入胃中。必致上壅。不能下達。即敷臍導腸等法。無所用之。掘井固難。開渠亦不易。奈何奈何。吾為子輩更開一竇。夫酒者清冽之物。不隨濁穢下行。惟喜滲入者也。滲入之區。先從胃入膽。膽為清淨之府。同氣相交故也。然膽之收攝無幾。其次從胃入腸。膀胱滲之。</p>
<p>化溺為獨多焉。迨至化溺。則所存者酒之余質。其烈性實惟膽獨當之。每見善飲者。必慢斟緩酌。以俟腹中之滲。若連飛數觥。有傾囊而出耳。是以酒至半酣。雖懦夫有揮拳罵座之膽。雖窶人有千金一擲之膽。雖狷士有鑽穴逾垣之膽。甚至凶徒有撫劍殺人之膽。以及放浪形骸之流。且有一飲數斛。罔顧余生之膽。以小魯之赤貧。而膽不喪落者。夫非藉貲於酒乎。其受病實有較他人不同者。蓋膽之腑。原無輸瀉。膽之熱。他人可移於腦。濁涕從鼻竅源源而出。亦少殺其勢。若小魯則陽分之陽過旺。陽分之陰甚衰。髮鬢全無。直似南方不毛之地。熱也極矣。肯受膽之移熱乎。幸其頭間多汗。腦熱暗泄。不為大患。乃膽熱既無可宣。又繼以酒之熱時之燥。熱淫內熾。脈見促急。幾何不致極憊耶。故膽之熱汁滿而溢出於外。以漸滲於經絡。則身目俱黃。為酒癉之病。以其滲而出也。可轉驅而納諸膀胱。從溺道而消也。今獨攻環跳之穴。則在膽之本屬。可無驅矣。且其步履素為此穴所苦也。受傷已久。</p>
<p>氣離血散。熱邪彌滿留連。服藥縱多。有拒而不納耳。何能取效。即欲針之。此久傷之穴。有難於抉瀉者。</p>
<p>設遇良工如古人輩。將何法以處此乎。吾更有慮焉。有身以後。全賴穀氣充養。穀氣即元氣也。穀入素少之人。又即藉酒為元氣。今以病而廢飲。何所恃為久世之資耶。吾諦思一法。先搐腦中黃水出鼻。次針膽穴之絡腦間者數處。務期膽中之熱。移從腦鼻而出。庶乎環跳穴中。結邪漸運。而腸胃之枯槁漸回。然後以瀉膽熱之藥入酒中。每日仍痛飲一醉。飲法同而酒性異。始得陰行而妙其用。蓋其以生平之偏。造為堅壘。必藉酒為鄉導。乃克有濟也。豈清金潤燥與下奪之法。能了其局乎。兩生踴躍曰。蒙誨治法。令人心地開朗。請筆之以志一堂授受之快。錄此付渠子。令送商顧幼疏孝廉求救。小魯竟阻之。或以余言為不然耶。</p>
<p>胡卣臣先生曰。先寫全神。後論治法。大是奇觀。</p>
<h2>面論李繼江痰病奇證</h2>
<p>李繼江三二年來。嘗苦咳嗽生痰。胸膈不寬。今夏秋間臥床不起。瀕亡者再。其人以白手致素封。因無子自危。將家事分撥。安心服死。忽覺稍安。亦心死則身康之一征也。未幾仍與家事。其病復作。然時作時止。疑為不死之病也。聞余善議病。托戚友領之就診。見其兩頤旁。有小小壘塊數十高出。即已知其病之所在。因詰之曰。爾為何病。曰咳嗽。曰嗽中情狀。試詳述之。曰內中之事。愚者不知。是以求明耳。</p>
<p>余為哂曰。爾寒暑飢渴。悉不自知耶。觀爾脈盛筋強。必多好色。而喜任奔走。本病宜發癰疽。所以得免者。</p>
<p>以未享膏粱之奉。且火才一動。便從精孔泄出耳。然雖不病癰。而病之所造。今更深矣。爾胸背肩間。　岩如亂石插天。櫛比如新筍出土。嵌空如蜂蓮之房。芒銳如棘栗之刺。每當火動氣升。痰壅緊逼之時。</p>
<p>百苦交煎。求生不生。求死不死。比桁楊之罪人十倍過之。尚不自知耶。渠變容頓足而泣曰。果實如此。但吾說不出。亦無人說到耳。昔年背生癰癤。幸未至大害。然自癤愈。咳嗽至今。想因誤治所成。亦未可知。余曰不然。由爾好色作勞。氣不歸元。騰空而上。入於肝肺散葉空隙之間。膜原之內者。日續一日。久久漸成熟路。只俟腎氣一動。千軍萬馬。乘機一時奔輳。有入無出。如潮不返。海潮兼天涌至。倘後潮不熄。則前後古今。冤於此病者。不知其幾。但爾體堅堪耐。是以病至太甚。尚自無患。</p>
<p>不然者久已打破昆侖關矣。爾宜歸家休心息神。如同死去。俾火不妄動。則痰氣不為助虐。而胸背之堅壘。始有隙可入。吾急備藥。為爾覆巢搗穴。可得痊也。渠駭然以為遇仙。托主僧請以五金購藥。十金為酬而去。次日復思病未即死。且往鄉征租。旬日襄事。購藥未遲。至則因勞陡發。暴不可言。痰出如泉。聲響如鋸。面大舌脹。喉硬目突。二日而卒於鄉。真所謂打破昆侖關也。其人遇而不遇。</p>
<p>亦顧家罔顧身之炯戒矣。治法詳陰病論。</p>
<p>胡卣臣先生曰。論病從外灼內。因流識源。精鑒全非影響。</p>
<h2>吳添官乃母厥巔疾及自病真火脫出治驗</h2>
<p>吳添官生母。時多暴怒。以致經行復止。入秋以來。漸覺氣逆上厥。如畏舟船之狀。動輒暈去。久久臥於床中。時若天翻地覆。不能強起。百般醫治不效。因用人參三五分。略寧片刻。最後服至五錢一劑。日費數金。意圖旦夕苟安。以視稚子。究竟家產盡費。病轉凶危。大熱引飲。腦間有如刀劈。食少瀉多。已治木無他望矣。聞余返婁。延診過。許以可救。因委命以聽焉。余以怒甚則血菀於上。而氣不返於下者。名曰厥巔疾。厥者逆也。巔者高也。氣與血俱逆於高巔。故動輒眩暈也。又以上盛下虛者。過在少陽。少陽者足少陽膽也。膽之穴皆絡於腦。鬱怒之火。上攻於腦。得補而熾。其痛如劈。同為厥巔之疾也。風火相煽。故振搖而熱蒸。土木相凌。故艱食而多瀉也。於是會內經鐵落鎮墜之意。以代赭石龍膽草蘆薈黃連之屬。降其上逆之氣。以蜀漆丹皮赤芍之屬。行其上菀之血。以牡蠣龍骨五味之屬。斂其浮游之神。最要在每劑藥中。生入豬膽汁二枚。蓋以少陽熱熾。膽汁必干。亟以同類之物濟之。資其持危扶顛之用。病者藥一入口。便若神返其舍。忘其苦口。連進十余劑。服豬膽二十余枚。熱退身涼。飲食有加。便瀉自止。始能起床行動數步。然尚覺身輕如葉。不能久支。仆恐藥味太苦。</p>
<p>不宜多服。減去豬膽及蘆龍等藥。加入當歸一錢。人參三分。薑棗為引。平調數日而全愈。母病愈而添官即得腹痛之病。徹夜叫喊不絕。小水全無。以茱連東加玄胡索投之。痛始安。又因傷食復發。病至二十余日。肌肉瘦削。眼胞下陷。才得略寧。適遭家難。症變壯熱。目紅腮腫。全似外感有餘之候。余知其為激動真火上焚。令服六味地黃加知柏三十余劑。其火始退。退後遍身瘡痍黃腫。腹中急欲得食。不能少待片頃。整日哭煩。余為勉慰其母曰。旬日後腹稍充。氣稍固。即不哭煩矣。服二冬膏而全瘳。此母子二人。皆極難辨治之症。竟得相保。不大快哉。</p>
<p>胡卣臣先生曰。二病最多。此案深足嘉惠來學。</p>
<h2>論體盛絕孕治法</h2>
<p>一友繼室夫人。身體肥盛。經候雖調。從未孕育。令仆定方而施轉移化機之藥。雖從古醫書所未載。然可得言也。蓋山之不可葬者五。童斷過石獨。縱有明師。無所施其翦裁。以故女之不可孕。如方書所志生稟之殊。非人工所能改移者。可不更論。若夫生稟不殊。但為形軀所累。而嗣孕終不乏者。古今來不知凡幾。第夫婦之愚。天然湊合之妙。雖聖神有不能傳者。所以方書缺焉未備耳。仆試言之。地之體本重濃。然得天氣以苞舉之。則生機不息。若重陰冱寒之區。天日之光不顯。則物生實罕。人之體中肌肉豐盛。乃血之榮旺。極為美事。但血旺易至氣衰。久而彌覺其偏也。夫氣與血。兩相維附。何以偏衰偏旺耶。蓋氣為主。則血流。血為主。則氣反不流。非真氣之衰也。氣不流有似於衰耳。所以一切補氣之藥。皆不可用。而耗氣之藥。反有可施。緣氣得補則愈錮。不若耗之以助其流動之勢。久而久之。血仍歸其統握之中耳。湖陽公主。體肥受孕。然不能產也。進諸御醫商之。得明者定一傷胎之方。服數十劑。而臨產始得順利。母子俱無災害。蓋肥滿之軀。胎處其中。全無空隙。以故傷胎之藥。止能耗其外之血肉。而不能耗其內之真元也。此用藥之妙也。仆仿是意而制方。預為受胎之地。夫豈無術而杜撰乎。然而精誠之感。貫於金石。女之宜男者。先平其心。心和則氣和。氣和則易於流動充滿也。其次在節食。仙府清肌。恆存辟穀。宮中細腰。得之忍飢。志壹動氣。何事不成耶。而且為齋心積德。以神道之教。補藥餌之不逮。有不天人葉應者乎。仆於合浦求珠。藍田種玉之舉。而樂道之。</p>
<p>胡卣臣先生曰。觀此一論。不必問方。而已得其意之所存。破盡尋常窠臼矣。奇創奇創。</p>
<h2>華太夫人餌術方論</h2>
<p>天御孝廉太夫人。宿有胸膈氣脹小恙。近臻勿藥矣。孝廉膝下承歡。不以三公易一日者。今而後喜可知也。然以太夫人福體凝重。惟恐日增一日。轉為暮年之累。欲仆訂方。及早圖之。仆不覺悚然而動於衷曰。孝廉未嘗習醫。乃思治未病消未萌。何其深於醫旨若是。以知子道之貫徹者。無微不入矣。經曰。陰精所奉者其人壽。太夫人陰血有餘。即年過百歲。而形不衰。此可不問而知者。然形盛須充之以氣。而氣者漸衰漸耗之物。必欲兩得其平。所藉於藥力不少耳。況氣復有陰陽之別。身半以上陽主之。身半以下陰主之。陰氣過盛而乘陽位。則胸膈脹悶不舒。所謂地氣上為云者是也。云生而天地之寥闊。頃刻窒塞矣。故陰氣不可盛也。陰氣盛。勢不得不用耗散之藥。氣日耗。則體日重。又不能兼理之術也。湖陽公主以體盛難產。御醫為制枳殼厚朴等耗氣之藥。名曰瘦胎散。亦以當其壯年耳。若夫年高氣弱之時。而可堪其耗散乎。我儀圖之。至人服天氣而通神明。只此一語。足為太夫人用藥之準矣。蓋天食人以五氣者也。地食人以五味者也。以地之味養陰。不若以天之氣養陽。藥力既久。天氣運而不積。挈地氣以周旋。所謂載華岳而不重者。大氣舉之之謂也。方用茅山蒼朮一味。取其氣之雄烈。可驅陰邪而通天氣。本草列之上品。仙經號為山精者。誠重之也。每歲修事五七斤。每早百沸湯吞下三錢。秋月止服二錢。另用天門冬一錢。煎湯吞下。初服一兩月。微覺其燥。服至百日後。覺一日不可缺此矣。服之一年。身體輕健。服之三年。步履如飛。黑夜目中有光。可燭幽隱。所謂服天氣而通神明者。其不誣如此。食物諸無所忌。但能稍遠肥甘。白飯香疏苦茗。種種清勝尤妙。仆餌術以後。身健無病。今服三十余斤矣。</p>
<p>胡卣臣先生曰。此成方也。用之通天氣以苞舉乎地。覺制方之人。未必辨此。</p>
<h2>陸子堅調攝方論</h2>
<p>子堅玉體清和。從來無病。邇因外感之余。益以飢飽內傷。遂至胸膈不快。胃中隱隱作痛。有時得食則已。有時得食反加。大便甚艱。小水不暢。右關之脈。乍弦乍遲。不相調適。有似錮疾之象。用藥得當。驅之無難。若歲久日增。後來必為大患。大意人身胃中之脈。從頭而走於足者也。胃中之氣。一從小腸而達於膀胱。一從小腸而達於大腸者也。夫下行之氣。濁氣也。以失調之故。而令濁氣亂於胸中。干其清道。因是窒塞不舒。其始本於病時。胃中津液。為邪火所爍。至今津液未充。火勢內蘊。</p>
<p>易於上燎。所以得食以壓其火則安。然邪火熾則正氣消。若食飲稍過。則氣不能運轉其食。而痛亦增。是火不除則氣不復。氣不復則胃中清濁混亂。不肯下行。而痛終不免也。病屬胃之下脘。而所以然之故。全在胃之中脘。蓋中者。上下四旁之樞機。中脘之氣旺盛有餘。必驅下脘之氣入於大小腸。從前後二陰而出。惟其不足。所以反受下脘之濁氣而撓指也。夫至人之息以踵。</p>
<p>呼之於根。吸之於蒂者也。以濁氣上干之故。究竟吸入之氣。艱於歸根。且以痛之故。而令周身之氣。凝滯不行。亦非細故也。為訂降火生津下氣止痛一方。以為常用之藥。尚有進者。在先收攝腎氣。不使外出。然後濁氣之源清。而膀胱得吸引上中二焦之氣以下行。想明哲知所務矣。</p>
<p>胡卣臣先生曰。言一病即知其處。既知其處矣。又知其上下正反之因。猶珠玉之光。積而成照。非有意映重淵連赤極也。</p>
<h2>與黃我兼世兄書</h2>
<p>尊夫人驚痰堵塞竅隧。肝肺心包絡間。無處不有。三部脈虛軟無力。邪盛正衰。不易開散。有欲用涌劑稍吐十分之三。誠為快事。弟細籌之。此法殆不可行。蓋涌法正如兵家劫營之法。安危反掌。原屬險道。況痰迷不過片晌耳。設以涌藥投之。痰才一動。人即暈去。探之指不得入。咽之氣不能下。藥勢與病勢相扼。轉致連日不蘇。將若之何。無已。如丹溪所云。懼吐者宜消息下之乎。不知竅隧之痰。萬不能導。即導之下行。徒傷脾氣。痰愈窒塞。此法亦不可用也。為今之計。確以理脾為先。脾氣者。人身健運之陽氣。如天之有日也。陰凝四塞者。日失其所。痰迷不省者。脾失其權耳。理脾則如烈日當空。片云纖翳。能掩之乎。其次莫如清肺。</p>
<p>肺為將帥之官。氣清則嚴肅下行。氣下行。則痰之藉為堅城固壘者。方示以暇。而可用其攻擊之力。所謂攻堅則暇者亦堅。攻暇則堅者亦暇是也。今四末腫麻。氣壅已甚。尤不可不亟亟矣。其理脾之法。須藥餌與食飲相參。白飯香蔬苦茗。便為佳珍。不但滑膩當禁。即粥亦不宜食。以粥飲之。結為痰飲易易耳。不但雜食當禁。即飯食亦宜少減。以脾氣不用以消穀。轉用之消痰。較藥力萬萬耳。其辛辣酒脯。及煎爆日曝之物。俱能傷肺。並不宜食。至於用藥。弟自有節次矩　。俟日漸輕安。來春方奏全最也。緣此病患不識治。前賢亦未見高出手眼。弟思之累日。竊以為要領在是。所以必欲持久者。與金城方略同意。且先除脅從。後殲巨魁。自勢所不易捷得之事。惟台兄裁酌進教。毋謂小恙過矜。迂遠不切。幸孔幸孔。</p>
<p>驚痰之來。始於肝膽。冬月水氣歸根。不敢攻治。故但以理脾藥平調。必至春月木旺。才用四君子東加龍膽草蘆薈代赭石黃連青黛等藥為丸。服之痰迷之證。果獲全瘳。此後不發。</p>
<p>胡卣臣先生曰。情形方略。指畫無遺。古名將中求其人。不可多得也。</p>
<h2>辨黃鴻軒臂生癰癤之證並治驗</h2>
<p>黃鴻軒手臂忽生癰癤。蔓腫無頭。痛極莫耐。外科醫者。咸謂熱毒所致。揆之平素。淡泊明志。寧靜居心。絕無生熱致毒之因。究莫識其所起也。尊公我兼。謂昌善議病。盍舍樽俎而一代庖人乎。昌曰。吾議此證。請先為致賀。後乃言之。瘡瘍之起。莫不有因。外因者。天行不正之時毒也。起居傳染之穢毒也。內因者。醇酒濃味之熱毒也。鬱怒橫決之火毒也。治火毒與治諸毒。原自天淵。蓋火與元氣。勢不兩立。以寒涼折之。則元氣轉漓矣。鴻軒於四者總無其因。不問知為胎毒之余也。凡人稟受天地之氣。有清濁之不同。惟純粹以精之體。其福澤壽算。俱不可限量。然從父母媾精而有身。未免夾雜欲火於形骸。所賴者。惟在痘瘡一舉。暗將所藏欲火。運出軀外。復其粹精之恆體。如礦金相似。必經紅爐　煉。而渣滓與精瑩。始分之為兩。吾常以此法觀出痘者之眸子。七八日後。眼開之時。黑白分明者。精金也。赤筋紅膜包裹者。混金也。至於瞳人模糊。神光不現。則全非金矣。鴻軒幼時出痘太多。元氣不能充灌。又為雜證所妨。臟腑中之火毒雖盡。而軀殼間之留滯猶存。所以痘癰之發。必於手足之委中曲池者。則以零星小毒。無處可容。而潛避於呼吸難到之處耳。今之癰癤。正當委中之穴。其為痘毒何疑。毒伏肘腋之下。原無所害。但粹精之體。微有夾雜。是亦寶鑒之纖塵。白璧之微瑕也。日者太和元氣。充滿周身。將十五年前之余滓。盡欲化為膿血而出。他人見之為毒。吾蚤已卜其為興者機矣。豈有暢於四肢。而不發於事業者哉。治法外用馬齒莧熬膏。攻之速破。內用保元湯。托之盡出。仍以痘癰門藥為治。即日自當痊愈。必不似瘡毒之曠日持久。但不識證。而以治瘡毒寒涼瀉火諸藥投之。適以增楚貽患耳。孰謂外科小恙。可無樽俎折沖之人耶。如法治之。潰出膿水甚多。果不用生肌長肉而自愈。</p>
<p>胡卣臣先生曰。以慧心辨證。竟出恆理。而降衷所以不齊。受衷所以相遠之故。盡逗毫端。治火一法。礦金一喻。驗目一訣。種種指示。俱足令人心開神爽。</p>
<h2>論士大夫喜服種子壯陽熱藥之誤</h2>
<p>人生有性分之樂。有勢分之樂。有形體康健之樂。性分之樂。四時皆春。萬物同體。雖環堵蕭然。而樂在也。雖五官弗備。而樂在也。雖夷狄患難。而樂亦在也。溪山風月。有我便是主人。木石禽魚。相親悉為好友。何取溺情枕席。肆志淫佚也哉。即造物小兒。無所施其播弄矣。至於勢分之樂。與康健難老之樂。惟福濃者。始兼有之。蓋得貴之與得壽。其源若有分合兩途。少年　朴不凋。此壽基也。而嫌其精采不露。髫齜機神流動。此貴征也。而嫌其渾敦太鑿。此其間半予天。半予人。而後天奉若之功。不知費幾許小心。然後可凝休而永命。故在得志以後。既知此身為上天托界之身。自應葆精嗇神。以答天眷。若乃女愛畢席。男歡畢輸。竭身中之自有。而借資於藥餌。責效於眉睫。致宵小無知之輩。得陰操其禍人之術。以冀捷獲。雖前代之覆轍皆然。而今時為益烈矣。蓋今者雍熙之象。變為繁促。世運已從火化。復以躁急之藥濟之。幾何不喪亡接踵乎。此道惟岐黃言之甚悉。但仕宦家不肯細心究討耳。其云。凡陰陽之道。陽密乃固。兩者不和。如春無秋。如冬無夏。是故因而同之。是謂聖度。此段經文。被從前注解埋沒。不知乃是明言聖人於男女之際。其交會之法度。不過使陽氣秘密。乃得堅固不泄耳。然而陰陽貴相和。有春無秋。是無陰也。有冬無夏。是無陽也。所以聖人但調其偏。以歸和同。允為交會之法度而已。夫聖人太和元氣。生機自握。我觀夫調琴弄瑟。考鐘伐鼓。雖閨坤之性情克諧。而況於己身之血氣。禮陶樂淑。仁漸義摩。雖民物之殷阜坐致。而況於一人之嗣胤。所以凡為廣嗣之計者。其用藥之準。</p>
<p>但取純正以召和。無取雜霸以兆戾也。而經文又云陰平陽秘四字。尤足互暢其義。蓋陰得其平。而無過不及。</p>
<p>然後陽得其秘。而不走泄也。此可見陽之秘密。乃神聖交會所首重。然欲陽之秘密。即不得不予其權於陰。正以陽根於陰。培陰所以培陽之基也。今人以峻烈之藥。劫盡其陰。以為培陽。益以房幃重耗。漸至髓消肉減。</p>
<p>神昏氣奪。毛瘁色夭。尚不知為藥所誤。可勝悼哉。向見一浙醫宋姓者。在京師制成大顆彈丸。遍送仕宦。</p>
<p>托名臍帶胎發。其實用煉過硫磺在內。服之令人陽道驟堅可喜。未幾燥病百出。吾鄉諸大老受其禍者。歷歷可指。近游鹿城。聞張鴻一孝廉。以進紅鉛傷腦。而日夜精流不止。蓋腦為髓海。腦熱而通身之髓盡奔。究竟熱未除而髓先竭。骨痿艱行矣。至婁過天如先生舊宅。見鼻中濁涕。凡落板壁者。深黃之色。透入木中。　刷不除。詢之。亦由服種子熱藥所致。後以傷風小恙。竟至不起。噫嘻。腦熱已極。蒸涕為黃。出鼻之熱。尚能透木。曾不省悟。至熱極生風。尚治外而不治內也。復何言哉。吾鄉劉石閭先生。服熱藥而病消渴。醫者鄧橘存。堅令服六味地黃湯千劑。</p>
<p>果效。蓋得於壯水之主。以制陽光之旨也。高郵袁體仁種子經驗方。皆用陰陽兩平之藥。蓋得於陰平陽秘之旨也。此老於醫而審於藥者。因並表之。又方士取黑鉛之水。名為神水金丹以惑人。凡痰火之病。初得其下行之力。亦覺稍爽。而不知鉛性至燥。轉致劫陰。為害反大。又有用蒸臍之藥。名彭祖接命之法者。夫臍為人之命根。以麝香硫黃附子等大熱散氣之藥。加艾火而蒸灼。幸而不中真氣。尚無大害。若蒸動真氣。散越不收。</p>
<p>擾亂不寧。有速斃耳。聞婁中老醫穆云穀。常誨人曰。蒸臍一法。有損無益。斷不可行。旨哉言矣。亦並表之。</p>
<p>胡卣臣先生曰。艱嗣之故有五。一曰性偏刻。好發人陰私。一曰好潔。遇物多不適意處。一曰慳吝。持金錢不使漏一線。一曰喜孌童。非其所用。肝筋急傷。一曰多服熱藥。鑠真陰而盡之。嘉言此論。曲暢經旨。</p>
<p>以辟方士之謬。而破輕信之惑。真救世之藥石也。</p>
<h2>論治傷寒藥中宜用人參之法以解世俗之惑</h2>
<p>傷寒病有宜用人參入藥者。其辨不可不明。蓋人受外感之邪。必先發汗以驅之。其發汗時。惟元氣大旺者。外邪始乘藥勢而出。若元氣素弱之人。藥雖外行。氣從中餒。輕者半出不出。留連為困。重者隨元氣縮入。發熱無休。去生遠矣。所以虛弱之體。必用人參三五七分。入表藥中。少助元氣。以為驅邪之主。</p>
<p>使邪氣得藥。一涌而去。全非補養虛弱之意也。即和解藥中有人參之大力者居間。外邪遇正。自不爭而退舍。</p>
<p>設無大力者當之。而邪氣足以勝正氣。其猛悍縱恣。安肯聽命和解耶。故和解中之用人參。不過藉之以得其平。亦非偏補一邊之意也。而不知者。方謂傷寒無補法。邪得補彌熾。斷不敢用。豈但傷寒一證。即痘疹初發不敢用。瘧痢初發不敢用。中風中痰中寒中暑。及癰疽產後。初時概不敢用。而虛人之遇重病。一切可生之機。</p>
<p>悉置之不理矣。古今諸方。表汗用五積散參蘇飲敗毒散。和解用小柴胡湯白虎湯竹葉石膏湯等方。都用人參。皆藉人參之力。領出在內之邪。不使久留。乃得速愈為快。奈何世俗不察耶。獨不見感入體虛之人。大熱呻吟。數日間爍盡津液。身如枯柴。初非不汗之。汗之熱不退。後非不和之下之。和之下之。熱亦不退。醫者技窮。委身而去。不思內經所言。汗出。不為汗衰者死。三下而不應者死。正謂病患元氣已漓。而藥不應手耳。夫人得感之初。元氣未漓也。惟壯熱不退。灼干津液。元氣始漓。愚哉愚哉。倘起先藥中用人參三五七分。領藥深入驅邪。即刻熱退神清。何致汗下不應耶。況夫古今時勢不同。膏粱藜藿異體。李東垣治內傷兼外感者。用補中益氣。加表藥一二味。熱服而散外邪。有功千古。姑置不論。止論傷寒專科。從仲景以至於今。明賢方書充棟。無不用人參在內。何為今日醫家。單單除去人參不用。</p>
<p>以阿諛求容。全失一脈相傳宗旨。其治體虛病感之人。百無一活。俟閻君對簿日知之。悔無及矣。乃市並不知醫者。又交口勸病患不宜服參。目睹男女親族死亡。曾不悟旁操鄙見害之也。謹剖心瀝血相告。且誓之曰。今後有以發表和中藥內。不宜用人參之言誤人者。死入犁耕地獄。蓋不當用參而用之殺人者。皆是與黃　白朮當歸乾薑肉桂大附子等藥。同行溫補之誤所致。不與羌獨柴前芎桔芷芩膏半等藥。同行汗和之法所致也。汗和藥中兼用人參。從古至今。不曾傷人性命。安得視為砒鴆刀刃。固執不思耶。最可恨者。千百種藥中。獨歸罪人參君主之藥。世道人心。日趨於疾視長上。其醞釀皆始於此。昌安敢與亂同事。而不一亟辨之乎。</p>
<p><u>附人參敗毒散注驗</u></p>
<p>　嘉靖己未。五六七月間。江南淮北。在處患時行瘟熱病。沿門闔境。傳染相似。用本方倍人參。去前胡獨活。服者盡效。全無過失。萬歷戊子己丑年。時疫盛行。凡服本方發表者。無不全活。又云。飢饉兵荒之余。飲食不節。起居不常。致患時氣者。宜同此法。昌按彼時用方之意。倍加人參者。以瘟氣易染之人。體必素虛也。其用柴胡即不用前胡。用羌活即不用獨活者。以體虛之人不敢用復藥表汗也。飢饉兵荒之余。人已內虛久困。非得人參之力以驅邪。邪必不去。所以服此方者。無不全活。今崇禎辛巳壬午。時疫盛行。道　相藉。各處醫者。發汗和中藥內。惟用人參者。多以活人。更有發　一證最毒。惟用人參入消　藥內。全活者多。此人人所共見共聞者。而庸愚之人。泥執不破。誠可哀也。又有富貴人。平素全賴參朮補助。及遇感發。尚不知而誤用。譬之賊已至家。閉門攻之。反遭凶禍者有之。此則誤用人參為溫補。不得借之為口實也。</p>
<p>胡卣臣先生曰。將傷寒所以用人參之理。反覆辯論。即婦人孺子聞之。無不醒然。此立言之善法也。</p>
<h2>詳論趙三公郎令室傷寒危症始末並傳誨門人</h2>
<p>趙景翕太史。聞昌來虞譚醫。一旦先之以駟馬。昌心儀其賢。欲敬事而效藥籠之用久矣。孟冬末。三公郎令室。患傷寒。醫藥無功。漸至危篤。先日進白虎湯。其熱稍緩。次日進人參白虎湯。其勢轉重。皇皇求醫。因而召診。昌聞其咳聲窘迫。診其脈數無力。壯熱不退。肌膚枯澀。沉困不食。語景翕先生曰。此病大難為。惟不肖尚可悉心圖成。以報知己。疏方用仲景麻黃杏仁甘草石膏湯四味。先生頗疑麻黃僭汗。因問錢宗伯。公郎服西河柳犀角而疾瘳。今可用乎。昌曰。論太陽陽明兩經合病。其症頗似。但彼病秋熱。此病冬寒。安得比而同治。況病中委曲多端。河柳犀角。原非正法。惟仲景麻杏甘石一湯。允為此病天造地設。有一無二之良法。先生韙之。其房中女伴。以不省宜話。兼未悉昌之生平。爭用本地經驗名家。乃至服河柳而表終不解。服犀角而裡終不解。且引熱邪直攻心臟。其顛悖無倫。較胃實譫語更增十倍。醫者始辭心偏。不可救藥。吁嗟。人心位正中央。皇建有極。而何以忽偏耶。傷寒膀胱蓄血。有如狂一證。</p>
<p>其最劇者。間一發狂。旋覆自定。即心臟最虛。元神飛越者。間有驚狂臥起不安一證。未聞有心偏之說也。而病者何以得此乎。未幾陽反獨留。形如煙熏。發直頭搖。竟成心絕之候。此段疑案。直若千古不決。孰知有麻杏甘石為持危扶顛之大藥也哉。門人請曰。麻杏甘石湯。不過一發表藥耳。何以見其能起危困。萬一用之罔效。又何以起後學之信從耶。余曰。此淵源一脈。仲景創法於前。吾闡揚於後。如錐入木。如范　金。所以稱為天造地設。有一無二之法。用則必效。確無疑也。蓋傷寒一證。雖云傳足不傳手。其實足經而兼手經者恆多。醫者每遇足經六傳之病。尚爾分證模糊。至遇兼手十二經之證。鮮不五色無主矣。足經譬西北也。手經譬東南也。道理之近遠不同。勢自不能以飛渡。然乘舋召邪。阻險割據。豈曰無之。今病家為足太陽膀胱。</p>
<p>足陽明胃。兩經合病。既已難任。更加兩經之邪。襲入手太陰肺經。所以其重莫支。手太陰肺者。主統一身之氣者也。氣通則汗出。氣閉則汗壅。從前發汗而不得汗。馴至肌膚枯澀。豈非肺主皮毛。肺氣壅閉。津液不通。漫無潤澤耶。任用柴胡葛根河柳辛涼解肌。如以水投石。有拒無納。職此故耳。病者為昆邑開府王澄川先生之女。孝敬夙成。皎然與女曜爭光。澄川先生。嘗患鼻　。諸女稟之。鹹苦肺氣不清。鼻間窒塞。</p>
<p>所以邪易湊入。才病外感。便當蚤為足經傳手之慮。通其肺氣之壅。俾得汗出邪去。始稱明哲。此病為足太陽膀胱。足陽明胃。兩經合病。則足太陽之邪。繇背而貫胸。足陽明之邪。由胸而徹背。肺為華蓋。覆於胸背之上。如錢孝廉素無肺患者。病時尚且咳嗽緊逼。豈居嘗肺氣不清之體。可堪兩經之邪交射乎。其用白虎湯。為秋令清肅之藥。肺金所喜。故病勢稍持。才加人參五分。即轉沉重。豈非肺熱反傷之左券乎。至於犀角。乃手少陰心經之藥。夏月心火亢甚。間有可用。冬月水盛火衰。斷非所宜。又況手少陰心經。與手太陰肺經。膜屬相聯。以手經而傳手經。其事最便。所以才一用之。隨領注肺之邪。直攻心臟。正如足太陽誤用葛根。即領其邪傳入陽明之例耳。不然。傷寒之邪。</p>
<p>過經不解。蘊祟日久。不過襲入厥陰心胞絡已耳。豈有直攻心臟之理哉。吾用麻黃發肺邪。杏仁下肺氣。石膏清肺熱。甘草緩肺急。蓋深識仲景制方之妙。顓主足經太陽者。復可過於手經太陰用之。一舉而解手足兩經之危。游刃空虛。恢恢有餘。寧致手復傳手。而蹈凶禍乎。乃知肺臟連心。正如三輔接壤王畿。誤用犀角領邪攻心。無異獻門迎賊。天之報施聖君賢女。抑何慘耶。余非乏才無具者。而袖手旁觀。不禁言之親切。有如子規之啼血也已。</p>
