<header data-type="book">
<h1>證治準繩</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王肯堂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1602">公元1602年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·證治準繩》（<a href="https://www.kanripo.org/text/KR3e0078/">掃描及文字化本</a>）</dd></div>
</dl>
</header>
