<header data-type="book">
<h1>針經節要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>杜思敬</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1315">公元1315年</data></dd></div>
</dl>
</header>
<h2>總論</h2>
<p>黃帝問曰十二經中氣血多少可得聞乎岐伯對曰其可度量者中度也以經水應十二經脈也溪穀遠近淺深氣血多少各不同其治以針灸各調其氣血合而刺之補虛瀉實皆須盡知其部分也肝足厥陰經少氣多血　心手少陰經少血多氣脾足太陰經少血多氣　肺手太陰經少血多氣腎足少陰經少血多氣　膽足少陽經少血多氣小腸手太陽經多血少氣　胃足陽明經多血多氣大腸手陽明經多血多氣　膀胱足太陽經多血少氣心包絡手厥陰經多血少氣　三焦手少陽經多氣少血視其部中浮絡其色多青則痛多黑則風痹黃赤則熱多白則寒五色皆見寒熱也感虛則留於筋骨之間寒多則筋攣骨痛熱多則骨消筋緩也。</p>
<p><a href="_files/p06-d13a1.bmp">傍通十二經絡流注孔穴之圖</a></p>
<h2>十二經是動所生之病</h2>
<h3>手太陰肺之經</h3>
<p>是動病(氣)肺脹滿膨膨而喘咳缺盆中痛甚則交兩手而瞀是謂臂厥主肺所生病(血)咳嗽上氣喘喝煩心胸滿　臂內前廉痛掌中熱氣盛有餘則肩背痛風汗出中風小便數而欠氣虛則肩背痛寒少氣不足以息溺色亦卒遺失無度</p>
<h3>手太陽小腸經</h3>
<p>是動病嗌痛頷腫不可回顧肩似拔　似折主腋所生病耳聾目黃頰頷腫頸肩　肘臂外後廉痛手陽明大腸經是動病齒痛　腫主津所生病目黃口乾鼽衄喉痹肩前　痛大指次指痛不用氣有餘則常脈所過者熱腫虛則寒栗不復</p>
<h3>足厥陰肝之經</h3>
<p>是動病腰痛不可以俯仰丈夫　疝婦人少腹腫甚則嗌干面塵脫色主肝所生病胸滿嘔逆洞泄狐疝遺溺閉癃</p>
<h3>足少陽膽之經</h3>
<p>是動病口苦善太息心脅痛不能轉側甚則面微塵體無膏澤足外反熱是為陽厥主骨所生病頭痛角頷腫痛目銳皆痛缺盆中腫痛腋下腫馬刀挾癭汗出振寒瘧胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛小指次指不用</p>
<h3>足少陰腎之經</h3>
<p>是動病飢不欲食面黑如炭色咳唾則有血喉鳴而喘坐而欲起目KT　KT　無所見心懸若飢狀氣不足則善恐心惕惕若人將捕之是謂骨厥主腎所生病口熱舌乾咽腫上氣嗌干及痛煩心心痛黃膽腸癖脊股內後廉痛痿厥嗜臥足下熱而痛</p>
<h3>手少陰心之經</h3>
<p>是動病嗌干心痛渴而欲飲是謂臂厥主心所生病目黃脅痛　臂內後廉痛厥掌中熱</p>
<h3>手厥陰心包絡經</h3>
<p>是動病手心熱肘臂攣急腋腫甚則胸脅支滿心中澹澹大動面赤目黃善笑不休主脈所生病煩心心痛掌中熱</p>
<h3>足太陽膀胱經</h3>
<p>是動病頭痛目似脫項似拔。脊痛腰似折髀不可以曲　似結似裂是謂踝厥主筋所生病痔瘧狂癲疾頭腦頂痛目黃淚出鼽衄項背腰尻　腳皆痛小指不用</p>
<h3>足陽明胃之經</h3>
<p>是動病淒淒然振寒善神數欠顏黑病至則惡人與間木音則惕然而驚心動欲閉戶牖而獨處甚則欲上高而歌棄衣而走賁響腹脹是謂厥主血所生病狂瘧溫淫汗出鼽衄口　唇胗頸腫喉痹大腹水腫膝臏腫痛循膺乳街股伏兔　外廉足跗上皆痛中指不用氣盛則身已前皆熱其有餘於胃則消穀善飢溺色黃氣不足則身已前皆寒栗胃中寒則脹滿</p>
<h3>手少陽三焦經</h3>
<p>是動病耳聾渾渾　嗌腫喉痹主氣所生病汗出目銳皆痛耳後肩　肘臂外皆痛小指次指不用</p>
<h3>足太陰脾之經</h3>
<p>是動病舌本強食則嘔胃脘痛腹脹善噫得後與氣則快然如衰身體皆重主脾所生病舌本痛體不能動搖食不下煩心心下急痛寒瘧溏瘕泄水閉黃膽不能臥強立股膝內腫厥足大指不用</p>
<h2>十二經穴治證</h2>
<h3>手太陰肺經</h3>
<p>少商(井)　魚際(滎)　太淵(俞)　經渠(經)　尺澤(合)○少商二穴木也在手大指端內側去爪甲角如韭葉手太陰之脈所出也為井治煩心善噦心下滿汗出而寒咳逆　瘧振寒腹滿唾沫唇干引飲不下膨膨手攣指痛寒栗鼓頷喉中鳴以三棱針刺之微出血泄藏熱湊唐刺史成君綽忽腮頷腫大如升喉中閉塞水粒不下三日甄權針之立愈不宜灸○魚際二穴火也在手大指本節後內側散脈中手太陰脈之所流也為滎治酒病惡風寒虛熱舌上黃身熱頭痛咳嗽汗不出痹走胸背痛不得息目眩煩心少氣腹痛不下食肘攣肢滿喉中干燥寒栗鼓頷咳引尻痛溺出嘔血心痹悲恐針入二分留三呼○太淵二穴土也在手掌後陷中手太陰脈之所注也為　治胸痹逆氣寒厥善噦嘔飲水咳嗽煩怨不得臥肺脹滿膨膨臂內廉痛目生白翳眼　赤筋缺盆中引痛掌中熱數欠喘不得息噫氣上逆心痛嘔血振寒咽乾狂言口　可灸三壯針入二分○經渠二穴金也在寸口陷中手太陰脈之所行也為經治瘧寒熱胸背拘急胸滿膨膨喉痹掌中熱咳嗽上氣數欠熱病汗不出暴痹喘促心痛嘔吐針入二分留三呼禁不可灸灸即傷人神○尺澤二穴水也在肘中約上動脈中手太陰脈之所入也為合治風痹肘攣手臂不得舉喉痹上氣口乾咳嗽唾濁四支暴腫臂寒短氣針入三分灸五壯</p>
<h3>手陽明大腸經</h3>
<p>商陽(井)　二間(滎)　三間(俞)　合骨(原)　陽谿(經)　曲池(合)○商陽二穴金也一名絕陽在大指次指內側去爪甲角如韭葉手陽明脈之所出也為井治胸中氣滿喘咳支腫熱病汗不出耳鳴耳聾寒熱　瘧口乾頤頷腫齒痛惡寒肩背急相引缺盆痛目青肓可灸三壯右取左左取右如頃食立已針入一分留一呼○二間二穴水也一名間穀在手大指次指本節前內側陷中手陽明脈之所流也為滎治喉痹頷腫肩背痛振寒鼻鼽衄血多驚口針入三分可灸三壯○三間二穴木也一名少穀在手大指次指本節之後內側陷中手陽明脈之所注也為　治喉痹咽中如梗齒齲痛嗜臥胸滿腸鳴洞泄寒瘧唇焦口乾氣喘目　急痛針入三分留三呼可灸三壯○合谷二穴一名虎口在大指次指岐骨間陷中手陽明脈之所過也為原療寒熱瘧鼻鼽衄熱病汗不出目視不明頭痛齒齲喉痹痿臂面腫唇吻不收喑不能言口噤不開針入三分留六呼可灸三壯　若婦人妊娠不可刺刺之抬胎氣○陽谿二穴火也一名中魁在腕中上側兩筋陷中手陽明脈之所行也為經治狂言喜笑見鬼熱病煩心目風赤爛有翳厥逆頭痛胸滿不得息寒熱瘧疾喉痹耳鳴齒痛驚制肘臂不舉痂疥針入三分留七呼可灸三壯○曲池二穴土也在肘外輔骨屈肘曲骨之中以手拱胸取之手陽明脈之所入也為合治肘中痛偏風半身不遂刺風癮疹喉痹不能言胸中煩滿筋緩捉物不得挽弓不開屈伸難風痹肘細而無力傷寒余熱不盡皮膚干燥針入七分得氣先瀉後補之灸亦大良可灸三壯</p>
<h3>手少陰心經</h3>
<p>少衝(井)　少府(榮)　神門(俞)　靈道(經)　少海(合)○少衝二穴木也一名經始在手小指內廉之端去爪甲角如韭葉手少陰脈之所出也為井治熱病煩滿上氣心痛痰冷少氣悲恐善驚掌中熱胸中痛口中熱咽中酸乍寒乍熱手攣不伸引肘腋痛針入一分可灸三壯○少府二穴火也在小指本節後陷中直勞宮手少陰脈之所流也為滎治煩滿少氣悲恐畏人掌中熱肘腋攣急胸中痛手卷不伸針入二分可灸七壯○神門二穴土也一名　沖在掌後　骨之端陷中手少陰脈之所注也為　治瘧心煩心煩甚欲得飲冷惡寒則欲處溫中咽乾不嗜食心痛數噫恐悸少氣不足手臂寒喘逆身熱狂悲哭嘔血上氣遺溺大小人五癇可灸七壯炷如小麥大針入三分留七呼○靈道二穴金也去掌後一寸五分或一寸手少陰脈之所行也為經治心痛悲恐相引螈　肘攣暴喑不能言可灸三壯針入三分○少海二穴水也一名曲節在肘內廉節後又云肘內大骨外去用端五分手少陰脈之所入也為合治寒熱齒齲痛目眩發狂嘔吐涎沫項不得回顧肘攣腋脅下痛四肢不得舉針入三分可灸三壯甄權云屈手向頭取之治齒寒腦風頭痛不宜灸針入五分</p>
<h3>手太陽小腸經</h3>
<p>少澤(井)　前谷(滎)　後谿(俞)　腕骨(原)　陽谷(經)　小海(合)○少澤二穴金也一名小吉在手小指之端去爪甲下一分陷中手太陽脈之所出也為井治瘧寒熱汗不出喉痹舌強口乾心煩臂痛螈　咳嗽頸項急不可顧目生膚翳覆瞳子可灸一壯針入一分○前谷二穴水也在手小指外側本節之前陷中手太陽脈之所流也為滎治熱病汗不出　瘧癲疾耳鳴頷腫喉痹咳嗽衄血頸項痛鼻塞不利目中白翳臂不得舉可灸一壯針入八分○後谿二穴木也在手小指外側本節後陷中手太陽脈之所注也為　治瘧寒熱目赤生翳鼻衄耳聾胸滿頸項強不得回顧癲疾臂肘攣急可灸一壯針入一分○腕骨二穴在手外側腕前起骨下陷中手太陽脈之所過也為原熱病汗不出脅下痛不得息頸頷腫寒熱耳鳴目冷淚生翳狂陽偏枯臂肘不得屈伸　瘧頭痛煩悶驚風螈　五指掣可灸三壯針入二分留三呼○陽谷二穴火也在手外側腕中　骨之下陷中手太陽脈之所行也為經治癲疾狂走熱病汗不出脅痛頸頷腫寒熱耳聾耳鳴齒齲痛臂外側痛不舉妄言左右顧螈　目眩可灸三壯針入二分留二呼○小海二穴土也在肘內大骨外去肘端五分陷中甄權云以屈手向頭取之手太陽脈之所入也為合治寒熱齒齦腫風眩頸項痛瘍腫振寒肘腋腫少腹痛四肢不舉可灸三壯針入二分</p>
<h3>手厥陰心包絡經</h3>
<p>中衝(井)　勞宮(滎)　太陵(俞)　間使(經)　曲澤(合)○中衝二穴木也在手中指端去爪甲如韭葉陷中手厥陰心主脈之所出也為井治熱病煩悶汗不出掌中熱一身如火心痛煩滿舌強針入一分○勞宮二穴火也在掌中央動脈中以屈無名指取之手厥陰脈之所流也為滎治中風善怒悲笑不休手痹熱病三日汗不出怵惕胸脅痛不可轉側大小便血衄血不止氣逆嘔噦煩渴食飲不下大小人口中腥斃胸脅支滿黃膽目黃可灸三壯○太陵二穴土也在掌後兩筋間陷中手厥陰脈之所注也為　治熱病汗不出臂攣腋腫善笑不休心懸若飢喜悲泣驚恐目赤小便如血嘔逆狂言不樂喉痹口乾身熱頭痛短氣胸脅痛針入五分一灸三壯○間使二穴金也在掌後三寸兩筋間陷中手厥陰脈之所行也為經治心懸如飢卒狂胸中澹澹惡風寒嘔吐怵惕寒中少氣掌中熱腋腫肘攣卒心痛多驚喑不得語咽中如梗可灸五壯針入三分岐伯云可灸鬼邪○曲澤二穴水也在肘內廉陷中屈肘取之手厥陰脈之所入也為合治心痛善驚身熱煩渴口乾逆氣嘔血風胗臂肘手腕善動搖可灸三壯針入二分留七呼</p>
<h3>手少陽三焦經</h3>
<p>關衝(井)　液門(滎)　中渚(俞)　陽池(原)　支溝(經)　天井(合)○關衝二穴金也在手小指次指之端去爪甲角如韭葉手少陽脈之所出也為井治喉痹舌卷口乾頭痛霍亂胸中氣噎不嗜食臂肘痛不可舉目生翳膜視物不明針入一分可灸一壯慎豬魚酒面生冷等物○液門二穴水也在手小指次指間陷中手少陽脈之所流也為滎治驚悸忘言咽外腫寒厥手臂痛不能自上下　瘧寒熱目眩頭痛暴得耳聾目赤澀齒齦痛針入二分可灸三壯○中渚二穴木也在手小指次指本節後間陷中手少陽脈之所注也為　治熱病汗不出目眩頭痛耳聾目生翳膜久瘧咽腫肘臂痛手五指不得屈伸針入二分可灸三壯○陽池二穴一名別陽在手表腕上陷中手少陽脈之所過也為原治寒熱瘧或因折傷手腕捉物不得肩臂痛不得舉針入二分留三呼不可灸慎同前○支溝二穴火也在腕後三寸兩骨之間陷中手少陽脈之所行也為經治熱病汗不出肩臂酸重脅腋痛四肢不舉霍亂嘔吐口噤不開暴啞不能言可灸七壯針入二分慎同○天井二穴土也在肘外大骨後肘後上一寸兩筋間陷中屈肘得之手少陽脈之所入也為合甄權云曲肘後一寸義手按膝頭取之兩筋骨罅治心胸痛咳嗽上氣唾膿不嗜食驚悸螈　風痹臂肘痛捉物不得針入三分</p>
<h3>足厥陰肝經</h3>
<p>大敦(井)　行間(滎)　太衝(俞)　中封(經)　曲泉(合)○大敦二穴木也在足大指端去爪甲如韭葉及三毛中足厥陰脈之所出也為井治卒疝小便數遺溺陰頭中痛心痛汗出陰上入腹陰偏大腹臍中痛悒悒不樂病右取左左取右腹脹腫病少腹痛中熱喜寐尸蹶狀如死人婦人血崩不止可灸三壯針入三分留六呼內側為隱白外側為大敦○行間二穴火也在足大趾間動脈應手陷中足厥陰脈之流也為滎治溺難又白濁寒疝少腹腫咳逆嘔血腰痛不可俯仰腹中脹心痛色蒼蒼如死狀終日不得息口　四肢逆冷嗌干煩渴瞑不欲視目中淚出太息癲疾短氣可灸三壯針入六分留十呼○太衝二穴土也在足大趾本節後二寸或一寸半陷中丸胗太衝脈可訣男子病死生足厥陰脈之所注也為　治腰引少腹痛小便不利狀如淋　疝少腹腫溏泄遺溺陰痛面目蒼色胸脅支滿足寒大便難嘔血女子漏血不止小兒卒疝嘔逆發寒嗌干肘腫內踝前痛淫濼　酸腋下腫馬刀瘍　唇腫針入三分留十呼可灸三壯○中封二穴金也在足內踝前一寸仰足取之陷中伸足乃得之足厥陰脈之所行也寫經治　瘧色蒼蒼振寒少腹腫食怏怏繞臍痛足逆冷不嗜食身體不仁寒疝引腰中痛或身微熱針入四分留七呼可灸三壯○曲泉二穴水也在膝內輔骨下大筋上小筋下陷中屈膝取之足厥陰脈之所入也為合治女子血瘕按之如湯浸股內少腹腫陰挺出丈夫　疝陰股痛小便難復脅支滿癃閉少氣泄利四肢不舉實即身熱目眩痛汗不出目KT　KT　膝腫痛筋攣不可屈伸發狂衄血喘呼少腹痛引喉咽針入六分灸三壯　又云正膝屈內外兩筋間宛宛中又在膝曲橫文頭治風勞失精身體極痛泄水下利濃血陰腫　腫可灸三壯針入六分留十呼</p>
<h3>足少陽膽經</h3>
<p>竅陰(井)　俠谿(滎)　臨泣(俞)　丘墟(原)　陽輔(經)陽陵泉(合)○竅陰二穴金也在足小指次指之端去爪甲如韭葉足少陽脈之所出也為井治脅痛咳逆不得息手足煩熱汁不出轉筋癰疽頭痛心煩喉痹舌強口乾肘不可舉卒聾不聞人語可灸三壯針入一分○俠谿二穴水也在足小指二岐骨間本節前陷中足少陽脈之所流也為滎治胸脅支滿寒熱汗不出目外　赤目眩頰頷腫耳聾胸中痛不可轉側痛無常處可灸三壯針入三分○臨泣二穴木也在足小指次指本節後間陷中去俠谿一寸五分足少陽脈之所注也為　治胸中滿缺盆中及腋下腫馬刀瘍善齒頰天牖中腫淫樂　酸目眩枕骨合顱痛洒淅振寒婦人月事不利季脅支滿乳癰心痛周痹痛無常處厥逆氣喘不能行　瘧日發可灸三壯針入二分○丘墟二穴在足外踝下如前陷中去臨泣三寸足少陽脈之所過也為原治胸脅滿痛不得息久瘧振寒腋下腫痿厥坐不能起髀樞中痛目生翳膜腿　酸轉筋卒疝少腹堅寒熱頸腫可灸三壯針入五分留七呼○陽輔二穴火也在足外踝上四寸輔骨前絕骨端如前三分去丘墟七寸足少陽脈之所行也為經治腰溶溶如坐水中膝下膚腫筋攣諸節盡痛痛無常處腋下腫　喉痹馬刀膝　酸風痹不仁可灸三壯針入五分留七呼○陽陵泉二穴土也在膝下一寸外廉陷中足少陽脈之所入也為合針入六分得氣即瀉又宜久留針為要也治膝伸不得屈冷痹腳不仁偏風半身不遂腳冷無血色又以蹲坐取之灸亦良日灸七壯至七七壯即止</p>
<h3>足太陰脾經</h3>
<p>隱白(井)　大都(滎)　大白(俞)　商丘(經)陰陵泉(合)○隱白二穴木也在足大指端內側去爪甲角如韭葉足太陰脈之所出也為井治腹脹喘滿不得安臥嘔吐食不下暴泄衄血卒尸蹶不識人足寒不能溫針入三分　婦人月事過時刺之立愈○大都二穴火也在足大趾本節後陷中足太陰脈之所流也為滎治熱病汗不出手足逆冷腹滿善嘔煩熱悶亂吐逆目眩可灸三壯針入三分○大白二穴土也在足內側核骨下陷中足太陰脈之所注也為　治身熱煩滿腹脹食不化嘔吐泄濃血腰痛大便三壯○解谿二穴火也在衝陽後一寸五分腕上陷中足陽明脈之所行也為經治風面浮腫顏黑厥氣上衝腹脹大便下重　驚膝股腫轉筋目眩頭痛癲疾煩心悲泣霍亂頭風面赤目赤針入五分灸三壯○三裡二穴土也在膝下三寸　外廉兩筋間當舉足取之足陽明脈之所入也為合治胃中寒心腹脹滿胃氣不足聞食臭腸鳴腹痛食不化　秦丞相云諸病皆治食氣水氣蠱毒　癖四肢重滿膝　酸痛目不明　華佗云療五勞羸瘦七傷虛乏胸中瘀血乳癰外台明堂云人年三十己上若不灸三裡冷氣上衝目可灸三壯針入五分</p>
<h3>足少陰腎經</h3>
<p>涌泉(井)　然谷(滎)　大溪(俞)　復溜(經)　陰谷(合)○涌泉二穴木也在足心陷中一名地沖屈足卷指宛宛中足少陰脈之所出也為井治腰痛大便難心中結熱風胗風癇心病不嗜食婦人無子咳嗽身熱喉痹胸脅滿目眩男子如蠱女子如妊娠五指端盡痛足不得踐地可灸三壯針入五分無令出血　淳於意云漢比齊王阿母患足下熱喘病謂曰熱厥也當刺之足心立愈○然谷二穴火也一名龍淵在足內踝前起大骨下陷中足少陰脈之所流也為滎治咽內腫心恐懼如人將捕涎出喘呼少氣足跗腫不得履地寒疝少腹脹上愴胸脅咳唾血喉痹淋瀝女子不孕男子精溢　酸不能久立足一寒一熱舌縱煩滿消渴初生小兒臍風口噤痿厥洞泄可灸三壯針入三分不宜見血○太谿二穴土也在內踝後跟骨上動脈陷中足少陰脈之所注也為　治久瘧咳逆心痛如錐刺其心手足寒至節喘息者死嘔吐口中如膠善噫寒疝熱病汗不出默默嗜臥溺黃消癉大便難咽腫唾血　癖寒熱咳嗽不嗜食腹脅痛瘦脊手足厥冷可灸三壯針入三分○復溜二穴金也一名冒陽一名伏白在足內踝上二寸陷中是足少陰脈之所行也為經治腰脊內引痛不得俯仰起坐目KTKT　善怒多言舌乾涎自出足痿不收履　寒不自溫腹中雷鳴腹脹如鼓四肢腫十水病溺青赤黃白黑青取井　赤取滎　黃取　白取經　黑取合血痔泄後腫五淋小便如散大骨寒熱汗注不止可灸五壯針入三分留三呼○陰谷二穴水也在膝內輔骨後大筋下小筋上按之應手屈膝乃取之少陰脈之所入也為合治膝痛如錐不得屈伸舌縱涎下煩逆溺難少腹急引陰痛股內廉痛婦人漏下不止腹脹滿不得息小便黃男子如蠱女子如妊娠可灸二壯針入四分留七呼</p>
<h3>足太陽膀胱經</h3>
<p>至陰(井)　通谷(滎)　束骨(俞)　京骨(原)　昆侖(經)　委中(合)○至陰二穴金也在足小趾外側去爪甲角如韭葉足太陽脈之所出也為井治目生翳鼻塞頭重風寒從足小指起脈痹上下帶胸脅痛無常轉筋寒瘧汗不出煩心足下熱小便不利失精針入二分可灸三壯○通谷二穴水也在足小指外本節前陷中足太陽脈之所流也為滎治頭重目眩善驚引鼽衄頸項痛目KT　KT　甄權云結積留飲胸滿食不化可灸三壯針入二分○束骨二穴木也在足小趾本節後陷中足太陽脈之所注也為　治腰如折　如結耳聾惡風寒目眩項不可回顧目內　赤爛可灸三壯針入三分○京骨二穴在足外側大骨下赤白肉際陷中足太陽脈之所過也為原治膝痛不可屈伸目內　赤爛發瘧寒熱善驚不欲食筋攣足　痛髀樞痛頸項強腰背不可俯仰鼽衄不止目眩針入三分可灸七壯○昆侖二穴火也在外踝後跟骨上陷中足太陽脈之所行也為經治腰尻痛足端腫不得履地鼽衄腳如結踝如裂頭痛肩背拘急咳喘暴滿陰腫痛小兒發癇螈　炷如小麥大可灸三壯針入三分○委中二穴土也在　中央約文中動脈足太陽脈之所入也為合治腰俠脊沉沉然遺溺腰重不能舉體風痹髀樞痛可出血痼疹皆愈委中者血　也熱病汗不出足熱厥逆滿膝不得屈伸取其經血立愈</p>
