<header data-type="book">
<h1>奇症彙</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈源</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1786">公元1786年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>古人往矣不朽者，言與德功並重，士不良相即良醫，載籍極博，軒岐之所以壽世也。抱元子長水名裔，資敏學優，好著述，河洛之元機，羲周之秘蘊，鉤深致遠，一一寓之於醫。醫之為業，代有名家，攄所得以立說，汗牛充棟。抱元子以為我既托諸空言，不如載之臨症之深切著明也，搜羅奇症而以常理釋之，闡天文，抒地理，引人事，旁及品類，名之以匯，盧扁而韓董者也。當湖錢太史敦堂，其襟戚也，弁言以策其行世者二十稔矣。顧第勿自信，足跡所經，靡不咨諏，窮年　、句竄字易。或得之朋儕坐對之時，或得之風雨孤燈之夜，飲食而夢寐者胥是也。今夫操刀上游都市，鏡人之疾者，目未睹，耳未聞，其不眉攢而手棘也幾希，得是書而證之，了然若指諸掌，豈不大快？枕中之秘，何如肘後之方乎？爰請奉諸梨棗，以附於不朽之言。</p>
<p><u>乾隆丙午仲春上浣姻世侄李篪頓首</u></p>
<h2>卷之一</h2>
<h3>頭</h3>
<p>黃帝奇病論篇曰：人有頭痛，以數歲不已，此安得之，名為何病？（頭痛不當數歲，故怪而為問）岐伯曰：當有所犯大寒，內至骨髓，髓者以腦為主，腦逆，故令頭痛齒亦痛，病名曰厥逆。帝曰善。</p>
<p>夏子益《奇疾方》云：有人患頂上生瘡五色，如櫻桃狀，破則自頂分裂連皮剝脫至足，名曰肉人，常飲牛乳自愈。</p>
<p>〔源按〕病患頂上生瘡，病發於足太陽，足太陽之脈，從巔頂至足。《素問》云：風氣與太陽俱入，行諸脈　，散於分肉之間，與衛氣相干，其道不利，故使肌肉憤　而有瘍，肌肉乃陽明所屬，太陽受病必入陽明故也，此症瘡頂破裂，連皮剝脫至足，乃二經之風毒盛而行諸脈俞，散於分肉之間，與衛氣相干，所謂其道不利，營血不能貫潤。因肌肉燥而分裂，故皮脫可剝至足，不特憤　而發瘍也，牛乳潤胃解毒，使毒散胃潤，則氣血復貫而愈。</p>
<p>《奇病方》云：有人患鳥鵲生於頭上或臂上，外有皮一層包之，或如瘤狀，或不似瘤，而皮膚高起一塊，內作鳥鵲之聲，逢天明則啼，逢陰雨則叫，臨飢寒則痛，百藥不效，必須用刀割破其皮，則鳥鵲難以藏形，乃破孔而出，宛似鳥鵲，但無羽毛耳。鳥鵲出孔之後，以生肌散敷之，外加神膏，三日依然生合。</p>
<p>〔源按〕人身患成形成物，或羽、或介、或裸或鱗，皆應五臟所屬而生。《素問》云：東方生風，風生木，在天為風，在地為木，在臟為肝，其色蒼，其化榮，其蟲毛，蟲毛者，森森之象也。南方生熱，熱生火，在天為熱，在地為火，在臟為心，其色赤，其化茂，其蟲羽，蟲羽者，飛動之象也，中央生濕，濕生土，在天為濕，在地為土，在臟為脾，其色黃，其化盈，其蟲裸，蟲裸者，肉體之象也。西方生燥，燥生金，在天為燥，在地為金，在臟為肺，其色白化斂，其蟲介，蟲介者，金甲之象也。北方生寒，寒生水，在天為寒，在地為水，在臟為腎，其色黑，其化肅，其蟲鱗，蟲鱗者水中之象也。蓋人身一小天地，天應五方，所屬而化，人應五臟，所屬而生。前患似鳥鵲而無羽毛，此蟲裸肉體之象，應中央濕土為病，病生於脾也。</p>
<p>華倫云：有一人患頭面腫大如斗，看人小如三寸，飲食不思，呻吟如睡，此痰也。用瓜蒂散吐之，而頭面之腫消，又吐之，而見人如故矣。後用人參白朮散，三劑而愈。</p>
<p>《小山怪症方》云：有人頭皮作癢，時有蛆出，用絲瓜葉以刀切破搽之，候蛆出盡，絕根。</p>
<p>《楊氏醫方》云：有人患頭內有聲，如蟲蛀響，名天白蟻，此肝火為患。用茶子為細末，吹鼻中愈。</p>
<p>《稽神錄》云：處士蒯亮，言其所知，額角患瘤，醫為剖之，得一黑石棋子，巨斧擊之不傷缺。復有足脛生瘤者，因至親家為　犬所嚙，正嚙其瘤，其中得針百余枚，皆可用。</p>
<p>疾亦愈。</p>
<p>〔源按〕瘤生棋子及針者，此具患病於肺。肺為西方金，金乃堅剛之象，即經所謂其性剛，其化堅斂是也。注云：性剛故催鐵於物。堅斂，收斂堅強，金之化也。</p>
<p>一人發生水珠，如汗滴不止，用甘草一斤煎湯三四碗，作三四服，其水即止。此症自幼年間，服藥過多故也。</p>
<p>〔源按〕此症因服藥過多，良由少年性淫過服藥石，藥毒聚於腎間，積久始發也。蓋發屬腎，藥石之毒，逼迫腎中之水氣升外，故發生水如汗滴。甘草善解金石藥毒，故獨用此。然此症腎未全虧，故尚有腎氣升外，否則必發奇毒矣。</p>
<p>王節齋治一婦，始言頭痛，頭痛已，又心痛作，心痛已，又目睛痛，相去無瞬息。每頭痛甚，欲去大石壓之，心痛作，則以十指抓壁，血流滿掌，痛定目復痛，又以兩手自剜取之，如是十日，眾醫莫措，進黑龍丹半粒，疾少減，中夜再服之，服即閉目，寢如平昔，至平旦，下一行約三升許，如蝗蟲子，三疾皆減半，巳刻又行，則頓愈矣。</p>
<p>張子和治一僧，頭熱而痛，更畏明，以布圍其巔上，置冰於其中，日數易之，此陽蓄熱也，乃灼灰火於暖室，出汗涌吐，三法並行，七日而瘥。</p>
<p>唐與正治一女，年數歲，得風癉疾。先發於臆，迤邐延上，赤腫痛癢，醫以上膈風熱治之不效。唐診之曰：是肝肺風熱盛極耳。以羌活、荊芥、鼠黏子、赤芍藥、淡竹葉、桔梗、葛根八物治之，自下漸退，而腫聚於頂，其高數寸，雖飲食寢處無妨，而疾未去也。唐母吳夫人曰：此女乳母好飲熱酒，至並　其糟，疾殆因是歟？唐方悟所以至頂不消之由，思之惟葛消酒，且能療火毒，乃以前方加葛三倍服之，二日腫盡去。</p>
<p>又治一少年，患頭暈臥床。醫作虛治，反致頭不能動，動即暈絕。如是數年，惟飲食如故。唐曰：此肝膽有火，因火生痰，動即痰火內動，故遂暈絕。服六黃湯四劑而愈。</p>
<p>祝仲寧治一婦，年二十余，腦生一竅，口中咳膿血，每咳與腦竅相應而出，此肺痿也。用參、　、當歸退熱排膿之劑而愈。又有患胸膺間潰一竅，膿血亦口中相應而出，亦作肺痿治，用前藥而愈。</p>
<p>翟文炳治陸母，年七十，頭響耳鳴，項疼目眩，面麻腮腫，齒蘇唇燥，口苦舌強，咽腫氣促，心驚膽怯，胸滿痰滯，脅痛腰痛，足軟膝疼，已二年矣。復又不得臥，惟人扶而坐，稍欹臥即垂絕。翟診視，知氣挾肝火而然，先與抑青丸一服，即時睡熟，醒後諸症如失，接服補中益氣湯，調理而安。</p>
<p>朱丹溪治一人，左絲竹空穴壅出一角，如雞距，此少陽經多血少氣。朱戒其斷酒肉，須針灸以開發壅滯。他工以大黃、硝、腦等冷藥貼之，一夜裂開，如蚶肉，血濺出長尺余而死。此冷藥外逼，熱不得發故也。</p>
<p>一胡氏子，年十七八，發脫不留一莖，飲食起居如常，脈微弦而澀，輕重皆同。此濃味成熱，濕痰在膈間，復因多食梅酸味，以致濕熱之痰隨上升之氣至於頭，熏蒸發根之血，漸成枯槁，遂一時盡脫。以補血升散之藥。用防風通聖散，去芒硝，唯大黃三度酒炒，兼四物湯酒製，合煎服兩月余。診其脈濕熱漸解，乃停藥。淡味調養二年，發長如初。</p>
<p>薛己治一男子，年二十，巔毛脫盡，脈數。先以通聖散宣其風熱，次用六味地黃丸，不數日，發長寸許，兩月復舊。</p>
<p>一儒者，因飲食勞役，乃惱怒，眉發脫落，薛以為勞傷精血，陰火上炎所致。用補中益氣加麥冬、五味，及六味地黃丸加五味子，眉發頓生如故。</p>
<p>一男子染時瘡，服換肌散之類，眉毛頓脫，遍身作癢，或時赤暈。乃燥藥損其陰血，陽氣偏旺而然耳。朝用四物湯，倍熟地，加茯苓、白朮、丹皮、山梔、生甘草。夕用六味丸料加當歸、黃　治之，瘡症即愈，眉毫亦生。</p>
<p>一小兒年十四歲，而近女色，發熱吐痰。至有室，兩目羞明，頭覺脹大，仍不斷欲。頭漸大，囟門忽開。用地黃丸、益氣湯之類，斷色欲，年余而愈。</p>
<p>一小兒十四歲，解顱，自覺頭大，視物皆大，畏日羞明。先兄以為腎稟祛弱，用六味丸加五味、鹿茸及補中益氣加山藥、山茱萸。半載痊愈，二載而囟合。後畢姻，覺囟門開解，足心如炙，喜其斷色欲，戒濃味，日服前藥二劑，三載而愈。</p>
<p>予治山左葉氏子，年二十三歲，患眉發脫落，視其脈，兩尺沉遲，症由腎臟受寒，彼云：匝月前，泄後口渴，曾飲冷一盞，自後覺眉發漸脫。予曰：《素問》云，發之華在腎。又草木子云，氣之榮以眉，血之榮以發。發者，血之余；血者，水之類也。水之中有相火寄焉，若一接內，則此火翕然而下，又即以冷凍飲料加之，則火微水凝，十二經脈滯而不行，於是腎不華而氣不榮也。月令云，仲秋陰氣侵盛，陽氣日衰，水始涸。是水之涸，地之死也，死則草木漸衰。於仲冬水泉動而一陽生，是水之動，地之生也。生則草木漸長。眉發而欲其復萌，必得陽生而陰可長。用桂附純陽之火，加於六味純陽水中，使腎中溫暖。如冬月一陽，來復於水土之中，萬物皆生。如予言，服之而愈。</p>
<p>或問：氣之榮以眉，血之榮以發，何故？氣榮眉則短，血榮發則長。予曰：此五臟所屬也。眉榮氣分，屬肺，肺屬金，為乾。發榮血分，屬肝，肝屬木為巽。以易理推之，乾金短而巽木長，故眉短而發長也。</p>
<p>又問，眉發何故去之則日長，蓄之則不見其長乎？予曰：去之則氣血榮，其根故日長，蓄之則養其已蓄，故長而有定耳。</p>
<p>又問：仲冬一陽生，而草木萌；仲秋陰氣侵盛，陽氣日衰，草木漸萎；至冬草皆死，而木葉皆落，何故？松柏獨不凋乎？予曰：不獨松柏不凋，凡草木之葉無汁者，皆能存之。又問：何故葉無汁乎？予曰：無汁者非全無也。蓋無汁之葉，借滋化生，以氣用事，有汁之葉，借氣化生，以滋用事。故有有汁無汁之別。然不特草木之葉，無汁而能隆冬不凋，即草木之根或干若滋少，而以氣用事者，並寒冬可能發花，即梅蘭之類是也。蓋氣能敵寒，故如是耳。若人至暮年而亦能耐寒者，腎氣旺也，旺者壽。</p>
<p>鄰人顧姓者，因少年勤內事，頭皮血出如汗，此肝腎之火逆上，因血熱甚，所以從發竅直出，蓋汗乃血之液，從氣化白。《內經》有肌衄一條，因氣散不能從化，故肌膚汗血。此病並非氣不能化，化亦不及故也。治用甘露飲等劑得愈。</p>
<p>孝廉章睛皋尊人，御臣中年時，忽屢夢白人持刀自割其頭，至流血即驚醒，自後閉目亦然，眾醫莫措，就松江沈魯珍治之。沈曰：寐而見白人者，肺虛也。古人多用獨參湯，每服人參一兩，一劑可愈，服之果驗。</p>
<p><u>生肌散</u></p>
<p>寒水石（　）　滑石（二兩）　龍骨　海螵蛸（一兩）　蜜陀僧　枯礬　鉛粉　干胭脂（五錢）</p>
<p>共為細末，摻瘡口上。</p>
<p><u>瓜蒂散</u></p>
<p>甜瓜蒂　赤小豆二味為末，熟水或酸齏水調下，量人虛實服之。吐時須令閉目，緊束肚皮。吐不止者，蔥白湯解之，良久不出者，含砂糖一塊，即吐。諸亡血、虛家、老人、產婦、血虛、脈微者，俱不可服。</p>
<p><u>人參白朮散</u></p>
<p>人參　白朮　茯苓　半夏（各三錢）　甘草（一錢）　陳皮（五分）</p>
<p>清水煎服。</p>
<p><u>十全黑龍丹</u></p>
<p>當歸　五靈脂　川芎　良薑　熟地（各三兩）</p>
<p>上研末入罐，鹽泥固濟，炭十斤　令通紅，冷定取開看，成黑糟粕色，細研入後藥：百草霜（五錢）　硫黃　乳香（各一兩）　花蕊石　琥珀（各三錢）</p>
<p>上五味為末，並前和勻，丸如芡實大，每服一丸。</p>
<p><u>抑青丸</u></p>
<p>羌活　防風　龍膽草　川芎　當歸等分為末，蜜丸芡實大，每服二三丸，砂糖湯化下。</p>
<p><u>防風通聖散</u></p>
<p>防風　薄荷　連翹　荊芥穗　麻黃　川芎　當歸　芍藥（炒）　山梔　白朮　大黃（酒蒸）　芒硝（各五錢）　黃芩石膏　桔梗（各一兩）　甘草（二兩）　滑石（三兩）</p>
<p>加生薑、蔥白煎。</p>
<p><u>六味地黃丸</u></p>
<p>熟地黃（八兩，砂仁酒拌九蒸九晒）　山茱萸　山藥（各四兩）　茯苓（乳拌）　丹皮　澤瀉（各三兩）</p>
<p>蜜丸，空心鹽湯下。</p>
<p><u>四物湯</u></p>
<p>當歸（酒洗）　生地黃（各三錢）　芍藥（二錢）　川芎（一錢五分）</p>
<p>清水煎服。</p>
<p><u>瀉青丸</u></p>
<p>龍膽草　大黃　山梔　當歸　川芎　羌活　防風上各等分為末，蜜丸梧子大，每服四五十丸，竹葉湯下</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>十全大補湯、桂附八味丸</u></p>
<p>（二方見手足門）</p>
<p><u>加減八味丸</u></p>
<p>（見目門）</p>
<p><u>六黃湯</u></p>
<p>（見溺孔門）</p>
<h3>目</h3>
<p>夏子益《奇疾方》云：有人患眼前常見諸般禽蟲飛走，以手捉之則無，乃肝膽經有痰。用酸棗仁、羌活、玄明粉、青葙子花各一兩為末。每服二錢，水一大盞，煎至七分，和滓飲，一日三服。</p>
<p>又云：一婦人見滿壁皆蓮花，此痰症也，服礞石滾痰丸而愈。</p>
<p>又云：有人患目晴忽垂出至鼻，如黑角色，痛不可忍，或時時大便血出作痛，名曰肝脹。用羌活煎汁，服數服自愈。</p>
<p>〔源按〕此症為風熱客於厥陰肝木。蓋肝藏血，其主目，因風熱內攻，故目睛垂出至鼻，而使血時下也。若無熱，則目系不縱。無風，則便血不下。此乃風熱相搏，故病如是。羌活乃足太陽、少陰、厥陰三經之藥，其性祛風散熱，用之走入肝經，提邪外出而愈。</p>
<p>《奇病方》云：人有無故見鬼，如三頭六臂者，或如金甲神，或如斷手無頭死鬼之類，皆奇病也。方用白朮、蒼朮各三兩，附子一錢，南星三錢，半夏、大戟、山慈菇各一兩，俱為末。研麝香一錢，加入前藥，如玉樞丹一樣。凡遇前病，用一餅，薑湯化開飲之。必吐頑痰碗許而愈。</p>
<p>又云：有人眼內長肉二條，長一寸，如線香之粗。觸出眼外，此乃祟也。雖是肝膽之火，無祟則不能長此異肉，法當用藥點之。冰片、黃連、甘草各一分，硼砂五厘，各為細末，用人乳調少許，點肉尖上，覺眼珠火泡出，即時收入而愈。更服舒鬱金睛丹，舒其肝膽之氣，而又瀉其火與痰，則本源已探其驪珠，又何愁怪肉之重長耶？</p>
<p>《眼症論》云：有人患目之白睛忽變青蘭色，此被郁邪蒸逼，走入珠中，膏汁游出，入於氣輪，故色變青色。方用還陰救苦湯，頻服自愈。</p>
<p>又云：有人黑暗之夜、兩目倏忽見物，如日中一般。此水火不交，精華關格，乖亂不和之甚，而陽光飛越之害，不能攝養陰精，陽光無制使然。服加減八味丸乃可。</p>
<p>又云：有人患腦筋如拽，神珠不待人轉，而自驀然擦上，驀然擦下，下之不能上，上之不能下，或左或右，倏易無時，蓋轉動搏擊不定，筋脈振惕，緩急無常，被其牽拽而為害，名曰轆轤轉睛。輕則氣定脈偏而珠歪，重則反轉而為瞳神反背矣。服鉤藤飲子自愈。</p>
<p>藏器曰：宋嗣伯治沈僧翼患眼痛，多見鬼物。嗣伯曰：邪氣入肝，可覓死人枕煮服之，當埋枕於故外，如其言而愈。</p>
<p>伊芳川云：有一人患心疾，見物如獅子，川教以手直前捕之，見其無物，久久自愈。此乃痰也。繼服牛黃清心丸以除病根。</p>
<p>《本事方》云：荀牧仲頃年嘗謂予曰：有人視一物為兩，醫者作肝氣有餘，故見一為二。教服瀉肝藥皆不應，此何疾也？予曰：《靈樞經》云：目之為系，上屬於腦，後出於頂中，故邪中於內，因逢其身之虛，其入深，則隨眼系以入於腦，則腦轉，腦轉則引目系急，目系急則目眩以轉矣，邪中其精，其精所中，不相比也。則精散，精散則視歧，故見兩物也。令服驅風入腦藥得愈。</p>
<p>《云麓漫抄》云：淮南楊吉老，儒醫也。有富翁子忽病，視正物皆以為斜，幾案書席之類，排設整齊，必更移令斜，自以為正，以致書寫尺牘，莫不皆然，父母甚憂之。更歷數醫，皆不諳其疾。或以吉老告，遂以其子往求之，既診其脈後，令其父先歸，留其子，設樂開宴，酬勸無算，至醉乃罷。扶病者坐轎中，使人升之，高下其手，常令傾倒，輾轉久之，方令登榻而臥，達旦酒醒，遣至歸家，前日斜視之物，皆理正之。父母躍然而喜，且詢治之方，吉老云：令嗣無他疾，醉中常閃倒，肝之一葉搭於肺上不能下，故視正物反斜。令復飲之醉，則肺脹輾轉之間，肝亦下垂矣，藥安能治之哉？富翁濃為之酬。</p>
<p>《九靈山房》云：呂滄州治臨川道士蕭云泉眼中視物倒植，請治於呂。呂問其故，蕭曰：某因大醉，盡吐所飲之酒，熟睡至天明，遂得此病。呂切其脈，左關浮促，即告之曰：爾傷酒大吐時，上焦反覆，致倒其膽腑，故視物皆倒植。此不內外因而致內傷者也。法當復吐，以正其膽。以藜蘆、瓜蒂為粗末，用水煎之，使平旦頓服，以吐為度，吐畢視物如常。</p>
<p>《道山清話》云：張子顏少師，晚年嘗患目光閃閃然，中有白衣人如佛相者，子顏信之彌謹。乃不食肉，不飲酒，然體瘦而多病矣。一日從汪壽卿求脈，壽卿一見大驚，不復言，但投以大丸數十粒小丸千余粒。祝曰：十日中服之當盡，卻以示報。既如期，視所見白衣人，衣變黃而先無所見矣，乃欲得肉食，又思飲酒。又明日俱無所見，覺氣體異他日矣。乃詣壽卿以告，壽卿曰：吾固知矣，公脾初受病，為肺所乘。心者脾之母也，公既多疑，致心氣不固，自然有所睹。吾以大丸實其脾，小丸補其心。肺為脾之子，既不能勝其母，其病自愈也。</p>
<p>《寶鑒》云：一小兒四歲，因長老摩頂受記，生人念咒，恐懼發搐，痰涎有聲，目多白睛，項背俱強，一時許方醒。</p>
<p>自後，每見皂衣人即發。服朱砂、腦麝鎮墜之藥已四年余無功，又添行步動作神思如痴，脈沉弦而急。《針經》云：心脈滿大，癇　筋攣，病久氣弱，多服鎮墜寒涼之劑，復損正氣，故添動作如痴。先灸兩蹺各二七壯，次服沉香天麻丸而愈。</p>
<p>《內經》云：恐則氣下，精氣怯而上焦閉。方有羌活、獨活苦溫引氣上行，又入太陽，引用以為君；天麻、防風辛溫以散之；當歸、甘草辛甘以補氣血之不足，養胃氣以為臣；附子、川烏大辛溫，行陽退陰，又治客寒傷胃；腎主五液，入脾為涎，以生薑、半夏燥濕化痰；沉香辛溫，體重氣清，去祛安神，以為使耳。</p>
<p>《聞奇錄》云：全州防御使崔堯封，有甥李言吉，左目上瞼忽生一小瘡，漸大如雞卵，其根如弦，恆偃其目不能開，堯封使飲，令大醉，遂與割去其瘡，即破，中有黃雀飛鳴而去。</p>
<p>趙卿治一少年，目中常見一小鏡子，俾醫工趙卿診之，與少年期來晨以魚　奉候。少年及期赴之，延於內，且令從容俟客退。俄而設桌子施一甌芥醋，更無他味，卿亦未出。迨禺中久候不至，少年飢甚，且聞醋香，不免輕啜之，逡巡又啜之，覺胸中豁然，眼花不見，因竭甌啜之。趙卿知之乃出，少年以啜醋慚謝。卿曰：郎君因吃　太多，有魚鱗在胸中，故兩眼常見小鏡子。所備芥醋，只欲郎君，因飢以啜之，其疾自治，亨鮮之會乃權詐也。</p>
<p>徐之才治武城酒色過度，恍惚不恆，每病發，自云初見空中有五色物，稍近變成一美女，去地數丈，亭亭而立。之才云：此色欲過多，太虛所致。即處湯方一劑，便覺稍遠，又服還變五色物，數劑而愈。</p>
<p>汪石山治一人，年三十余，久病癇症，多發於晨盥時，或見如黃狗走前，則瞀撲地，手足螈　，不省人事，良久乃醒。或作痰火治，而用芩連二陳湯；或作風痰治，而用全蠍僵蠶壽星丸；或作痰迷心竅，而用金箔鎮心丸，皆不中病。汪診之，脈皆緩弱頗弦，曰：此木火乘土之病也。夫早晨陽分而黃狗物，黃土色，胃屬陽土，虛為木火所乘矣。經曰：諸脈皆屬於目，故目擊物而病作矣。理宜實胃瀉脾，而火自息。損其肝者緩其中，遂以參、　、歸、朮、陳皮、神麯、茯苓、黃芩、麥冬、荊芥穗，煎服十余帖，病減六七，再服月余而愈。</p>
<p>錢乙治一婦，因恐而病，既愈，目張不瞑，乙曰：煮郁李仁酒飲之，使醉即愈。所以然者，目系內連肝膽，恐則氣結，膽橫不下，用郁李潤能散結，隨酒入膽，結去膽下，則目瞑矣。</p>
<p>張子和治一富家婦，因思慮過甚，二年不得寐，無藥可療，其夫求治。脈之兩手俱緩，此脾受邪也，脾主思故也。</p>
<p>乃與其夫議以怒激之，多取其財，飲酒數日，不處一法而去。其婦大怒汗出，是夜困眠，如此者八九日不寤，如是其脈得平，此怒勝思法也。</p>
<p>丹溪治一婦，年近二十，發熱閉目則熱甚，渴思水解，脈澀而濁混，此食痰也。以干葛、白朮、陳皮、片芩、木通、桔梗、黃連、甘草，下保和丸二十粒漸愈。</p>
<p>江汝潔治葉廷傑之內，十月病眼若合即麻痹，甚至不敢睡，屢易醫，漸成崩疾，江診左手三部，舉之略弦，按入略大，而無力；右手三部，舉按俱大而無力。經曰：血虛脈大如蔥管。又曰：大而無力，為血虛。又曰：諸弦為飲。又曰：弦為勞據脈觀症，蓋由氣血俱虛，以致氣不周運，而成麻痹。時醫不悟，而作火治，藥用寒涼過多，損傷脾胃，陽氣失陷而成崩矣。以歲運言之，今歲天衛主氣，風木在泉，兩木符合，木盛而脾土受虧，是以上陷而行秋冬之令。以時候言之，小雪至大雪之末，六十日有奇，太陽寒水，主厥陰風木，客氣加歸於上，木火勝矣。經曰：甚則勝而不復也。</p>
<p>其脾大虛，安得血不大下乎？且脾裹血，脾虛則血不歸經而妄下矣。法當大補脾經為先。次宜補氣祛濕，可得漸愈矣。</p>
<p>以人參三錢，黃　二錢，甘草四分，防風、荊芥、白朮各一錢，陳皮八分，水煎食遠服。一劑分作三服，不數劑而愈。</p>
<p>李時珍按謝士泰《刪繁方》治尸疰，或見尸，或聞哭聲者，取死人席斬棺內余棄路上者，一虎口，長三寸，水三升，煮一升，服立效。此即嗣伯用死人枕之意也。</p>
<p>葛洪云：鬼疰者，是五尸之一疰，又挾諸鬼邪為害，其病變者三十六種至九十九種，大約使人寒熱淋漓，沉沉默默，不的知苦處，在於何所？累年積月，漸就沉滯，以致又傳旁人，不一而止，覺如是候者，急取獺肝一具，陰乾杵末，服方寸匕，日三，未愈再服。《本事方》云：《肘後》言此方甚良，宣和間，天慶觀一法師極精嚴。時一婦人投　，述患人有祟所附，須臾召至。附語云：非我為禍，別是一鬼，亦因病患命衰為祟耳，渠今已成形，在患人肺臟，為蟲食其肺系。故令吐血，聲嘶。師掠之，此蟲還有畏忌否？久而無語，再掠之，良久云：容其說。惟畏獺瓜屑為末，以酒服之則去。患家如其言而得愈。此予所目見也，究其患亦相似。獺瓜者，即獺肝之類也。</p>
<p>孫東宿治孫如亭令政，年過四十，眼偶赤腫，兩太陽疼痛，大便不行者三日，平時汛期一月僅二日，今行四日，猶且未止。裡有餘云穀者，自謂眼科捷手，醫治逾候，腫赤不消，而右眼內　突生一白泡，垂與鼻齊，大二寸余，見而駭走，以為奇疾，莫能措劑。又見其嘔吐、眩運，伏於枕上，略不敢動，動則眩愈極，吐愈急，疑其遍南不治，孫診之兩寸關俱滑大有力，兩尺沉微。曰：此中焦有痰，肝膽有火，必為怒氣所觸而然。《內經》云：諸風掉眩，皆屬肝火。諸逆衝上，皆屬火，蓋無痰不作運也，眼珠白泡，乃火性急速怒氣加之，氣乘於絡，上而不下，故直脹出眼外也。古壯士一怒而目珠裂，與白泡脹出珠外理同。肝為血海，故血亦來不止。治當抑其目，清鎮痰火，則諸症自瘳。先用薑汁益元丸，壓其痰火，以止其吐；再以二陳湯，加酒連、酒芩、天麻、滑石、吳茱萸、竹茹、枳實煎飲，一帖吐止運定，頭稍能動。改用二陳東加芩、連、穀精草、夏枯草、香附、茱萸、薏苡仁，兩劑。赤腫消，白泡斂。四劑全愈。血海亦淨，從是後不發。</p>
<p>又亮卿之女，左目紅腫，如腹中飽眼乃開，飢則眼不能開，此疳積虛寒症也。以夏枯草二錢，穀精草、甘草各一錢，香附一錢五分，煎服四帖而安。</p>
<p>李士材治朱文哉，遍體如蟲蜇，口舌糜爛，朝起必見二鬼執盤食以獻。李診其寸脈乍大乍小，意其為鬼祟，細察兩關弦滑且大，遂決為痰飲之　。投滾痰丸，雖微有所下，而病患如舊。更以小胃丹二錢與之，復下痰積及水十余碗，遍體之痛減半，至明早鬼亦不見矣。更以人參三錢，白朮二錢，煎湯服小胃丹三錢，大瀉十余行，約有二十碗，病若失矣。</p>
<p>乃以六君子為丸，服四斤而愈。</p>
<p>予治孫旗丁之內，產後十數日，覺氣不舒。自後兩目視物，漸至以直為曲，如彎弓狀。醫無所措，已及兩月。適予出京至天津。有運糧官馬石泉者，患目疾，延予治之，孫亦請求治。切其脈沉澀，症由淤滯，目視直而為曲者，必瘀血阻折肝膽之葉。昔呂復治道士傷酒大吐時，上焦反覆，致倒其膽腑，視物倒直。今折其肝葉，曲其膽腑，故視物亦曲，即用當歸、桃仁各三錢，五靈脂一錢五分，酒炒大黃、肉桂各一錢，以行其瘀，柴胡八分以舒其肝。一劑下黑血成塊者數次，視物漸直。再劑又下數次，即看物如故。</p>
<p>余姚陳載侯，寓居武林。初春患目痛，醫與涼劑，目即突出眶外，痛不可忍，予視其脈，兩手沉微，此肝腎受寒，治宜麻黃、附子、細辛湯。時有汪姓醫同座，曰：兩目突出，此肝火逼迫使然，先生以為寒何也？予曰：脈沉微云耳。又曰：脈不弱。予曰：子既不辨其脈，試即以症明之，初本疼痛，服寒涼而目反突出，非火症可知。又曰：火太盛而用藥輕，故也。予曰：目痛，人皆謂火，不特目突而為火也。殊不知此症，陰盛於下，格陽於上，陽不得降，故目疼痛。用寒涼而復逼其陽，陽無所歸，悉涌於目，致目突出。</p>
<p>仲景謂，少陰經傷寒，發熱咽痛，脈沉細，因寒傷於腎，逼腎中之火，飛越於上而為咽痛，今脈微而目突，即是理也。</p>
<p>若此症此脈，使再投寒涼，必再出而裂。古所謂眼不醫不瞎者，正謂此也。茲擬仲景少陰傷寒治法，用麻黃附子細辛湯，溫經散寒，使寒散火降，其目自平，載侯以為然，服二劑而愈。</p>
<p>己丑冬，有德青農人沈姓者，患目不見，已十年余矣。</p>
<p>渠云：初患時，耳鳴如雷，每聞人語如在頭頂之上。又兩目閃閃然，見兩火如豆大，閉目則目熱，而耳鳴更甚。投清利之劑，所患雖平，而且全不見矣，凡遇醫者俱曰：青盲內障，非針不明，今特訪至此，叩請求治。予曰：內障一症，六因七情，皆能為害。今切汝脈，脈尚沉弦，汝症初起，良由肝膽濕火盛而上攻，故目生火而耳如雷鳴。凡耳中火攻甚，則響如雷，如雷之響，中聞人語每自覺在頭頂之上。時當用龍膽瀉肝湯，瀉火開鬱，郁開則濕除，濕除則火全滅，自無內障之患也。乃但投涼劑，而不求其病之原，故脈尚如是。當先投加味逍遙散，去白朮十劑，以除積久之鬱熱，使不致針後復蒙。服後用金針撥去其障，即睹物如故而愈。</p>
<p>又德青沈鳳岐，年五十余，患左目不見已十余年矣。忽一日跌撲後，右目亦全不見物，如是半載，方來就治，予觀其左目，瞳神散大，神水已定，無庸施治。右起內障，可用針撥，撥即如故，此無他障。本患生瞳神之上，因撲擊而下故耳。</p>
<p>或問，目患瞳神散大及黃膜上衝，俱明見於黑珠之內，何故用金針入時，但見瞳神之處，而黑珠內不能明見其針？若因黑珠不明，則瞳神散大，黃膜上衝，何故又見乎？予曰：目中之水，狀如魚腦，其色不一。在白珠則綠，黑珠灰黑，瞳神若漆層層相裹，神水於中，外所包之殼，如指甲之濃，殼中生孔以貫瞳神外見，所以用針入瞳撥時，若針頭稍有向外，針即孔上留住，故知其天然生孔，以貫瞳神見外耳。殼孔之外，復生一翳，如晶之明滿包其珠，乃瞳神賴此以關其水也。若患瞳神散大，因神水逼迫孔外散於明翳之間，黃膜上衝，每取於黑珠下輪，此亦在明翳內，而珠殼外也。然是患雖但見於黑珠，而其原誠從白珠而來，因白珠與黃膜之色相若，故不明見於外。如值此症速當疏散其肺，更瀉其火，雖不能退此已見之膜，然不致上瞞瞳神，以成痼疾。予治裡人孫氏婦，初患左目瞳神細小，右患內障。因障初成不可用針遂撥，但治其左目，治三月而痊。約半載許，忽左目之珠微疼，視不見物，睡片時，則稍見，未幾復不見，又睡片時復又見之，如是六七日，復請求治，予視其瞳神但有混濁之氣，而非復細小也。又視黑珠下輪，起黃膜半米許。予曰：瞳神無病，瞳神之外，所帶混濁之氣，因明翳內有黃膜欲上衝故耳。此患屬內火旺而外邪閉郁，郁則氣不外舒，火邪內逼而上，故有是症。蓋寐則氣歸於下，其火邪亦隨氣而下，則混濁之氣稍退，故得見之。悟則其氣復升，因內之火邪復隨而上，故復不見。今速宜散其外邪，清其內火，用蘇葉、防風、甘菊各一錢，白蒺藜、石決明各三錢，黃芩二錢，鬱金一錢五分，黃連、羚羊角、赤芍藥各五分，服二劑，其目漸清。又二劑黃膜忽無，瞳神混濁之氣亦除盡而愈。予告之曰：黃膜上衝，治但收住其膜，今忽散去，因此膜白中帶黃，所起黑珠甚微，其邪尚淺，故得消除。然黑珠雖無，恐白珠內尚未全去，當再劑以絕病根。</p>
<p><u>還陰救苦湯</u></p>
<p>升麻　蒼朮　草梢　桔梗　柴胡　防風　羌活（各五分）　細辛（二分）　本（四分）　歸尾（七分）　黃連　黃芩黃柏　生地　知母　連翹（各六分）　紅花（一分）　膽草（三分）</p>
<p>清水煎服。</p>
<p><u>鉤藤飲子</u></p>
<p>鉤藤（炙，五分）　麻黃　甘草（炙，各三分）　川芎　防風　人參（各七分）　全蠍（炒，去刺，一錢）　天麻（八分）　僵蠶（炒，一錢二分）</p>
<p>薑三片，水煎不拘時服。</p>
<p><u>牛黃清心丸</u></p>
<p>牛黃（一兩二錢）　麝香　龍腦（三味另研）　羚羊角（鎊，各一兩）　當歸（酒洗）　防風　黃芩　白朮　麥冬（去心）　白芍（各一兩五錢）　柴胡　桔梗　茯苓　杏仁（去皮尖）　川芎　肉桂　大豆黃卷　阿膠（各一兩七錢）　蒲黃人參　神麯（各二兩五錢）　雄黃（另研）　甘草（五兩）　白蘞（七錢半）　乾薑（七錢半）　犀角（鎊，二兩）</p>
<p>干山藥（七錢）　金箔（一千三百片內四百片為衣）</p>
<p>上為末，大棗一百枚，蒸熟去皮核，研成膏，煉蜜與棗膏丸，每兩作十丸，用金箔為衣，每服一丸，溫水化下。</p>
<p><u>舒郁全睛丹</u></p>
<p>白芥子（三錢）　梔子　白朮　茯苓（三錢）　柴胡　陳皮（一錢）　白芍（五錢）　甘草清水煎服。</p>
<p><u>加減八味丸</u></p>
<p>熟地黃（八兩，忌鐵、酒煮爛搗膏）　山藥　山茱萸（酒洗焙，各四兩）　白茯苓　澤瀉（酒洗焙乾）　牡丹皮（酒洗烘，各三兩）　五味子（火干，兩半）　肉桂（去皮忌火，一兩）</p>
<p>上除地黃膏另入，余共為細末，煉蜜為丸，如桐子大，每服三錢，空心鹽湯送下，忌蘿卜。</p>
<p><u>礞石滾痰丸</u></p>
<p>青礞石（一兩）　沉香（五錢）　黃芩　大黃（酒蒸，八兩）</p>
<p>上將礞石打碎，用焰硝一兩，同入瓦罐鹽泥固濟，晒乾火　，石色如金為度。研末，和諸藥，水丸。量人虛實服之，薑湯送下。服後仰臥，令藥在胸膈之間，除逐上焦痰滯，不宜飲水行動。</p>
<p><u>寶鑒沉香天麻丸</u></p>
<p>沉香　益智　川烏（各二錢）　天麻　防風　半夏　附子（炮，各三錢）　羌活（五錢）　甘草　當歸　僵蠶　獨活（各一錢）</p>
<p>每服五錢，生薑三片，水煎去渣，溫服食前三劑。</p>
<p><u>保和丸</u></p>
<p>山楂（三兩，去核）　神麯（炒）　半夏　茯苓（各一兩）　陳皮　萊菔子（微炒）　連翹（各五錢）</p>
<p>曲糊丸麥芽湯下。</p>
<p><u>小胃丹</u></p>
<p>芫花（醋拌，一兩，瓦器內炒黑不可焦）　甘遂（長流水浸半日，煮晒乾）　大戟（長流水煮，再用水洗，晒乾，各五分）　大黃（濕紙裹煨，切，酒炒，一兩五錢）　黃柏（炒，三兩）</p>
<p>上為細末，以白朮膏丸如蘿卜子大，臨臥白湯送下一錢，欲利空心服。</p>
<p><u>六君子湯</u></p>
<p>人參　白朮　茯苓　甘草　陳皮　半夏各等分薑三片，棗二枚，水煎服。</p>
<p><u>益元散</u></p>
<p>滑石（六兩）　甘草（一兩）　辰砂（一錢）</p>
<p>上為末，每服二錢或三錢，冷水調下，燈心湯亦可。</p>
<p><u>二陳湯</u></p>
<p>半夏（薑製）　陳皮（去白）　茯苓（一錢）　甘草（五分）</p>
<p>加薑煎。</p>
<p><u>麻黃附子細辛湯</u></p>
<p>麻黃　細辛　附子先煮麻黃，去沫，納諸藥煎。</p>
<p><u>加味逍遙散</u></p>
<p>柴胡　薄荷　當歸　白芍　陳皮　甘草　茯苓　白朮　丹皮　山梔加薑煎。</p>
<p><u>六味地黃丸、四物湯</u></p>
<p>（一方見頭門）</p>
<h2>卷之二</h2>
<h3>耳</h3>
<p>李樓《怪症方》云：有人耳內生物如棗核大，痛不可動者，以火酒滴入，仰之片時，以鉗取出絕根，此名耳痔。</p>
<p>《奇病方》云：有人耳中作癢，以木剌之，尚不足以安其癢，必以鐵刀刺其底，始覺快然，否則癢極欲死。此腎肝之火，結成鐵底於耳，非湯藥可救，方用龍骨一錢，皂角刺一條，燒存性，冰片三分，雄鼠膽一枚，先將前藥為末，後以鼠膽水調勻，而後以人乳再調如濃糊一般，將此藥盡抹入耳孔內，必然癢不可當，須人執兩手，癢定而自愈矣。愈後當常服六味丸，庶不再發。</p>
<p>《類編》云：族人友夔，壯歲時，苦兩耳作癢，每日一作，遇其甚時，殆不可耐，擊刮挑剔無所不至，而所患自若。常以堅竹三寸許，截作五六片，細削如洗帚狀，極力撞入耳中，皮破血出，或多至一蜆殼而後止，明日復然，失血既多，為之困悴。適有河北醫士周敏道，到鄉裡，因往謁之。周曰：此腎臟風虛，致浮毒上攻，未易以常法治也。當服透冰丹，更戒酒、面、雞子之類，能一月為佳。夔用其戒，數日癢止。而食忌不能久，既而復作，乃著意痛戒，迨於累旬耳不復癢。</p>
<p>華佗云：余治一人，耳內忽長肉一條，手不可近，色紅帶紫。余曰：此腎火騰燒於耳也。用硼砂一分，冰片一分點之立化為水。後用六味丸大料飲之，二料痊愈。</p>
<p>《青箱集》云：孫兆殿丞，治平中有顯官權府尹，一日坐堂決事，人吏環立，尹耳忽聞風雨鼓角聲。顧左右曰：此何州郡也？吏對以天府。尹曰：若然吾乃病耳。遽召孫公往焉，公診之，乃留藥治之。翌日，尹如故。尹召孫問曰：吾所服藥切類四物飲。孫曰：是也。尹曰：如慮為大患，服此藥立愈，其故何也？孫曰：心脈大盛，腎脈不能歸耳，以藥涼心經，則腎脈復歸故耳。</p>
<p>楊洪《醫方摘要》云：有人患耳中忽大痛，如有蟲在內奔走，或血水流出，或干痛不可忍者，蛇蛻燒存性研末，鵝翎吹之，立愈，經驗秘方也。</p>
<p>〔源按〕此症為肝臟風虛，浮火上攻，游移不定，因而病患不一，蓋蛇屬巽，性能平肝祛風，故吹之立愈。</p>
<p>楊起《簡便方》云：一小兒七歲，聞雷即昏倒，不知人事，此氣怯也。以人參、當歸、麥冬各二兩，五味五錢，水一斗，煎汁五升，再水一斗，煎滓取汁二升，燒成膏。每服三大匙，白湯化下，服盡一斤，自後聞雷自若矣。</p>
<p>《太平廣記》云：參政孟庚夫人有奇疾，每有見聞即舉身戰栗欲絕，其母與弟亦不可見。又惡聞打銀鐵聲，嘗有一婢周旋已久，一日偶聞其家所為業，婢曰：打銀。聞其言，疾遂作。因逐其婢，醫者竟莫能施其術。</p>
<p>〔源按〕前症良由肝氣閉郁，郁久則五臟之氣皆鬱而不達，不達則清陽不升，心氣不舒，故惡見聞。惡見聞而偶有所觸則怒，怒則氣上，氣上即鬱火內升，故發戰栗。即《素問》所謂諸禁鼓栗，皆屬於火是也。夫戰栗而氣終不克外泄，則火徒亂於中，故至幾絕。移時火仍內伏，故又如故。</p>
<p>其惡金聲者，因肝火虛也。及見母與弟亦惡，必意有不合，復觸其怒耳。乃婢初極相合，因說打銀而惡，亦惡金聲故也。蓋肝木鬱久則燥，燥則血虛，故更惡金克。治當用黑逍遙散、左金丸滋水舒木，使郁氣暢達，則病當愈也。</p>
<p>《楓HT　別記》云：毀仲堪父，患耳聰病，聞床下有牛斗聲。仲堪視之，有兩蟻相斗耳。</p>
<p>〔源按〕修道之士，一旦得道，不特聞蟻斗有聲，即纖塵飄落，亦能聞之，並能聞極遠之聲，謂之耳通。即《內經》所謂：游行天地之間，視聽八達之外，此為神全。因心氣下降，百脈開通故也。若病聞蟻斗如牛，而名耳聰者，良由內火衰微，正氣下陷，因竅虛反聰其耳。猶心氣下降，以通其脈也。治宜補中益氣湯、八味丸。</p>
<p>或問神全之理如何？予曰：此道家修煉內丹之事。修煉內丹，以心為主，心乃神之舍，神不外游，心常守一。又謂之知一，即聖門所謂知，止而後有定。佛氏所謂無住，道家守一者，為意著元關，守而不移，一任呼吸往來，如河東之船，運久則結就聖胎，以成真人。蓋人身臍下一寸三分為丹田，又為氣海丹田之中，一陰一陽為太極、為元關、為黃庭、為歸根竅，復命關，其名不一。凡人之生，得父精母血而成胎。結胎之始，先成兩腎，然後布生五臟，及筋骨、皮肉，所以人之元氣發於腎，兩腎中間，一陰一陽，即謂之太極，是名歸根竅，復命關也。命之根蒂，在於此矣。若人呼吸，息息歸根，為之歸根復命。大凡呼吸，其氣止在胸中，而不歸根，不復命也。復命是接續其命，使之不絕。蓋氣歸根則氣壯，氣壯則精盛，久則體變純陽，而為至真。何得有六淫七情相感，而至殞命乎？經云：凝神入於氣穴，一任真息往來，升降於黃庭之中，旋曲委宛，由心而運至丹田，將太陽之精，從元關、渡尾，上夾脊、雙關、風府、泥丸，下明堂，過鵲橋（鼻為上鵲橋，舌為下鵲橋），降玉池，化為甘津，咽下重樓，復入丹田，上下往來，周而復始，如門之有樞，車之有轄，而轉運不息也。凡修煉工夫，有一分一分證驗，有十分十分證驗，難以強得，心惟專一，而不縱橫寢寐之際。與神相抱，切不可昏迷而沉於夢境，覺悟之後，常候丹之或存或亡，以為證驗。由是至寶蘊於中，精華發於外，容顏浸潤，骨節堅強，得此丹頭，晝夜運火，煉去陰氣，然後十月胎圓，體變純陽。從此工夫不輟，俾和氣周匝於一身，溶溶如云，霏霏如雨，淫淫然若春澤之滿池，液液然象河水之冰釋，當此之時，仙道已成。看山河如在掌中，視無不見，聽無不聞，此即謂之神全也。</p>
<p>又問呼吸升降，如河車之船運，一任真息往來，然其氣下降丹田則易，而欲任其上升泥丸則難。予曰：若能息念行火，以神為用，其氣自升。所運之時，舌宜抵　，口目當閉，不閉則氣不歸神，神雖至泥丸，而氣不能隨神而至也。</p>
<p>若工夫日久，則陽勝陰消，自然而仙。</p>
<p>又問意著元關，當守而不移，而無如心猿意馬，難以拘定奈何？予曰：經云，起念即覺，覺後即無，久久純熟，自不走也。又云：此心由來依境，未慣獨立，難以自安，縱得暫安，還復散亂，隨時隨制，務令不動，久久調和馴熟，此心自能安閑，無問晝夜，行住坐臥，及應事之時，當須作意安之。若心得定，即須安養，莫有觸惱，少得安閑，即堪自樂。且牛馬家畜也放縱不收，猶自生梗，不受駕御，鷹　野鳥也，為人羈維，終日在手，自然調熟，心亦自是，若放逸縱任不收，一任粗疏，何能觀妙。</p>
<p>又問何為又有嬰兒　女，黃婆為媒之說？予曰：心即　女，腎即嬰兒，脾即黃婆，蓋心屬陽為離，離卦中虛，為陽極生陰，故反為　女（離因一陰居內，為宅中之女，故名曰　）。腎屬陰為坎，坎卦中滿，為陰極生陽，故反為嬰兒。</p>
<p>脾屬坤土，坤為老陰，其色黃，故為之黃婆，居坎離之間，主營運其氣，若無此土營運，則　女焉得歸入洞房，與嬰兒交媾，成胎乎？故曰：黃婆為媒，猶外丹坎離為藥物（坎即鉛水，離即水中金，此金即在鉛中求出，為之兌金是也，猶人真一水中，內有真一之氣焉，有此真一之氣，則能成內丹，有此水中之金，則能成外丹也）。乾坤為土釜（乾為上釜，坤為下釜），釜乃運火之具，若無土釜，則坎離藥物，焉得轉而成胎乎？內外二丹，總歸一理也。</p>
<p>或又問：佛氏無往之語如何？予曰：無往謂外無往外相，內無住內相，然內無住，則外亦無住，無住而住，則心自降伏，真性亦自然而見。真性即名真如，天然正覺謂之真，無一不知謂之如，故謂之真如，即聖經所謂明德也。明德真如，皆明性之本體，本體無形，無形亦無所去來，惟天生自如，而未嘗少動也。蓋人生而始，有天然自覺之性，只緣情欲障礙，則智慧全失，故心嘗昏昧，若欲超生死而入涅　者，當返觀其內，所觀之法，即所謂內無住，外亦無住，無住而住，則心自寂而相自滅也。《金剛經》云：凡所有相，皆是虛妄，若見諸相非相，即見如來。佛所演是偈，因試問空生，可以身相見如來否？答曰：不可以身相得見如來，如來所說身相，即非身相，言所說之如來，非身相如來。故云即非身相，佛因即告，凡內觀見相，皆是虛妄生相，若能滅除虛妄諸相，而但見空空之性，即如來矣。蓋如來即是性，自性如來，誠空而無相。故經末復演說，不取於相，如如不動，言如來不可取相，所演說者，但如如不動而已。如如，即真性空也。故不動也，人當返觀，真空如如，則相自滅而心自住也，此即謂之即性而修。蓋性即佛，修佛即所以修性，佛即法，故又不可以佛法名之。即經云所謂佛法者，即非佛法，猶恐人泥佛法耳。又云：是法平等，無有高下。法即謂真性，平等言上自諸佛，下至蠢動含靈，其真性皆同。故云平等而無有高下，即所謂無（梵語阿）上（褥多羅）正（三）等（藐）正（三）覺（菩提）也。蓋真性即佛，以真性無得而上之，故云無上，然此性正相平等，故云正等。其覺無偏無虧，故云：正覺，然所演說真性，不曰如，而曰如如，凡一切為聖為賢為仙為佛，總是一如故名如如。所謂如來者，即諸法如義耳。如所修之人，已登彼岸，而謂之如來。若如未來之時，當十二時中，無一息不內照真空，則真性自現，現即所以入涅　而成正覺也。正覺即知其如來，如來者從真如來，故能成正覺以化眾生，而為之如來佛也。凡菩薩謂之覺有情，同佛所證之謂覺，無明未盡之謂情。因無明未盡，不能滿覺，故尚有情耳。</p>
<p>又問：不取於相，如如不動，又即續何以故？一切有為法，如夢幻泡影，如露亦如電，應作如是觀。言人能發菩提心者，持於此經，乃至四句偈等，受持讀誦，為人演說，其福勝彼，以滿無量阿僧祗（即無數之謂）。世界七寶，持用布施，觀此若修佛者，應作六如觀之。蓋六如有形而無體性，若作是觀，使心易於降伏。故復演說此偈，以作降伏之法，而謂之有為法乎？予曰：佛言不取於相，如如不動又恐不悟無相之理，故即云一切有為法，應作六如觀之。蓋六如乃速於變滅之物，凡世間一切有為之法，猶六如之變滅無常，應作是觀，始之有為法，非修持之法。蓋佛法無為，無為應無所往而生其心也。若將六如以作內觀之法，豈非有住於心乎？況佛有云：如來於燃燈佛所於法……。</p>
<p>本體失而性反昧矣，性有元性，有氣質性。元性，即先天之氣。氣質性，乃後天之氣也。先天之氣，即天所賦之靈光，名曰祖氣，又名真種子。後天之氣，乃父母以情而育體，故媾形之時，情動於內，所動之情，即交感之氣，乃即為之後天氣也。因有是氣，故每遇物而生情，即名氣質性耳。有此性，則本性漸失，而此性日長也。若能徐徐劃除，則本元自見，而心之所知無不盡矣。</p>
<p>又問：人有先後二天之氣，後天之氣，得之父母媾形之時，先天之氣，從何入乎？予曰：人因先有先天之靈氣，然後有後天之氣質性。當未媾形時，其情未動，故乾坤之間，但有先天之氣。已媾之後，坎離兩破，情已內感，故又有後天之氣也。若不先有是氣，而何得有先天之名乎？又問：人之幼時，性本不昧，因腎陽未足，故爾不靈，若人或病、或老年，腎陽不足，宜亦茫然無知，何故仍知覺乎？予曰：幼時腎陽未足，猶冬至一陽初生時，陽氣漸長，其氣漸升，以壯太陽之光，萬物皆生也。人得腎陽漸長，以益其性，則知覺自靈。若或病、或老年，腎陽不足，猶夏至一陰生也，一陰漸生，則太陽燥烈，萬物皆萎，此腎陽衰而陽反上浮，故仍知覺，若不知覺，則腎陽絕而死矣。</p>
<p>又問：小兒為純陽之體，若人之幼時，腎尚未足，而何得有純陽之名乎？予曰：凡父母媾精成胎，不論男女，總以父之陽精為主，母之陰血不過隨精施化以成胎。出胎之後，陰少於陽，即食乳，亦但長陽而不陰也。所以孩提時，體皆白而有神，此時名純陽者，實因陰少於陽，並非因腎陽足而名之也。一食五殼，其色漸蒼，乃五殼長陰故也。所以仙人十月胎圓之後，斷除殼食，恐陰血日長，不能速成純陽之體也。</p>
<p>又問：人因氣質用事，故所欲多而其性自昧。然同有是欲，而又有智愚之別何也？予曰：此氣之清濁所分也。得氣清者欲雖多而清靈，得氣濁者，欲雖少而心昏。又問：何故人有氣清、氣濁之分？予曰：氣之清濁，定於結胎時，若時在半夜，天氣清和，陰陽遞嬗之時，再得父母不食濁味，及心氣和平之候，交而成胎，其氣自清。若胎結日中，其子必忤逆，或值風雨交作之時，或父母食濁味，及酒後，其氣必濁，若遇疾風豪雨，及父母大醉後，並心懷不正，生子不但氣濁，必至頑劣，古人所以重胎教也。</p>
<p>又問：人之智愚，在結胎時，得氣之清濁所定，乃有雙胎，而所生各異何故？予曰：雙胎因母之陰精，沖開父之陽精而成，如結胎之始，居母腹之左，則腎之原根足，居右則不足，左者氣血發原之所，故足於左而不足於右。猶天地生物，同一土也，而有壯弱之莖焉。夫智愚總隨氣之清濁施化，然智有過不及，愚有甚不甚，又隨腎原足不足所分，如雙胎得氣皆清，居左則腎原足，則智常過中，居右則不足，則智常不及。得氣皆濁而左居之，則濁愈盛，愚亦愈甚也。</p>
<p>王肯堂治百戶張錦，耳內不時作痛，痛而欲死，痛止如故。診其脈，皆安靜，非病也。話間痛忽作，王度其有蟲，令即取貓尿滴耳，果出一臭蟲，遂不復作。或用麻油滴之，則蟲死難出，或用炒芝麻枕之，則蟲亦出，但不及貓尿之速也。</p>
<p>〔源按〕蟲入耳中，不獨壁虱臭蟲，如蚰蜒狀類，蜈蚣而細甚者，亦能為害。昔有人晝臥，忽蚰蜒入耳，漸覺腦痛，知其入腦莫能為計。一日將午飯，就案而睡，睡中忽噴嚏，覺有物出鼻，視之有雞饌置案，蚰蜒已居其上，所痛隨愈。</p>
<p>又一人患蟲入腦而痛，或教以桃葉函枕，一夕蟲自鼻出，狀如鷹嘴，人莫識其名。</p>
<p><u>透冰丹</u></p>
<p>川大黃　山梔仁　蔓荊子　白茯苓　益智仁　葳靈仙　白芷（各五錢）　香墨（燒醋淬干細研）　麝香（各一錢）　茯神（六錢）　川烏（二兩，水浸半月，切片焙乾，用鹽水炒）　天麻　仙靈脾葉（洗焙）</p>
<p>上為細末，煉蜜和如麥飯相似，以真酥塗杵，臼搗萬杵，如干，旋入蜜令得和丸如梧子大。用薄荷自然汁，同溫酒化兩丸，如卒中風，涎潮昏塞，煎皂莢、白礬湯，溫化兩丸。</p>
<p><u>升陽散化湯</u></p>
<p>柴胡（八錢）　防風（二錢五分）　葛根　升麻　羌活　獨活　人參　白芍（五錢）　炙甘草（三錢）　生甘草（二錢）</p>
<p>每服五錢，加薑棗煎。</p>
<p><u>左金丸</u></p>
<p>黃連（六兩，薑汁炒）　吳茱萸（一兩，鹽水泡）</p>
<p>水丸。</p>
<p><u>六味地黃丸</u></p>
<p>（見頭門）</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>八味丸</u></p>
<p>（見手足門）</p>
<p><u>黑逍遙散</u></p>
<p>（見口門）</p>
<h3>鼻</h3>
<p>夏子益《奇疾方》云：有人忽鼻中出毛，晝夜可長二三寸，漸漸粗圓如繩，痛不可忍，摘去復生，此因食豬羊血過多所致，用生乳香、　砂各一兩為末，飯丸梧子大，每服空心臨臥各服十丸，開水送下，服盡自落。</p>
<p>《奇病方》云：人有鼻中生紅線一條，長三尺許，少動則痛，此飲酒過多而然。方用硼砂一分，冰片一分，研為末，以人乳調之，點紅線中間自愈。</p>
<p>又云：有人患鼻大如拳，疼痛欲死，此乃肺經之火，熱壅於鼻而不得泄。法當清其肺邪，去其鼻間之火，服解壅湯數劑自消。此方全在群入肺經以去其邪，故治隨愈。此奇病而以常法治之者也。</p>
<p>《酉陽雜俎》云：永貞年，有東市富翁王布知之女，年十四五，患鼻孔各隨息肉，如皂莢子。其根細如麻絲，長寸許，觸之痛入心髓。其父破錢數百萬，治之不瘥。忽一日，有梵僧乞食，因問布知君，女有異疾，吾能治之。布喜即就治，僧隨取白色藥吹鼻孔，少頃摘去之，出黃水，都無所苦，賞之百金不受而去。</p>
<p>〔源按〕息肉由胃中食積，熱痰流注，古方俱用硼砂、白礬消，此二味色俱白，前案所吹之藥白色者，或即此也。</p>
<p>《集異記》云：狄梁公性好醫藥，尤妙針術。顯慶中，應制入關，路旁大榜云：能療此兒，酬絹千匹。有富室兒，鼻端贅如拳石，綴鼻根蒂如筋，痛楚危急。公即腦後下針，疣贅應手而落，其父母備干絹奉焉，公罔顧而去。</p>
<p>《聖惠方》云：有小兒患腦疳，鼻癢不止，毛髮作穗，身體黃瘦，用鯽魚膽滴鼻中，數日取效。</p>
<p>《醫學正傳》云：有人患腦崩流汁，鼻中時流臭黃水，兼痛。名控腦砂，有蟲食腦中故也，用絲瓜藤近根三五尺，燒存性，每服一錢，溫酒下，以愈為度。</p>
<p>許學士治檢正患鼻額間痛，或麻痹不仁，如是數年，忽一日，連唇口頰車發際皆痛，不能言語，飲食皆妨。許作足陽明經受風毒，傳入經絡，血凝滯而不行，故有此症，或以排風小續命、透髓丹之類與之，皆不效。制犀角升麻湯贈之，數日愈。夫足陽明胃也，經云：腸胃為市。又云：陽明多血多氣，胃之中腥膻五味無所不納，如市廛無所不有也。以其熟腐飲食之毒聚於胃，此方以犀角為主，解飲食之毒也。陽明經脈環唇，挾舌起於鼻，合額中，循頰車，上耳前，過客主人，循發際，至頭顱。今所患皆一經絡也。故以升麻佐之，余藥滌除風熱，升麻、黃芩專入胃經，稍通者自能曉。</p>
<p>史載之治朱思古，眉州人，年三十歲，得疾不能食，聞葷腥即嘔，惟用大鐺，旋煮湯沃，淡飯食之，醫莫能治。史曰：俗皆不讀醫經，而妄欲療人之疾，可嘆也。君之疾，正在《素問》經中，名曰食掛。凡人之肺六葉，舒張而蓋。下覆於脾，子母氣和，則進飲食。一或有疾，則肺不能舒，脾之氣敝，故不嗜食。遂授一方，清氣順肺為治。服之三日，病者鼻聞肉味覺香，取啖之甚美。此事宋人載於傳記，江篁南云：余考之岐黃書，皆無食掛之說，或記者假托耳，或史公大言以欺世歟？皆未可知也。</p>
<p>孫東宿治太學孫中叔，以暑月赴南雍，一日轉班出，索茶飲，飲輒逆流左鼻，茶入腹者十之三。幾一月，不惟茶水為然，粥飯亦多從鼻出。漸加惡心、頭暈、肌肉削，四肢無力，心益惴惴，亟歸，就孫治。孫云：諸醫認何症？投何藥？中曰：醫皆謂諸逆上衝，皆屬於火，故投劑非黃連解毒，即三黃、石膏、梔子、黃柏、知母、天花粉、葛根之屬。孫曰：治病貴辨明經絡，與經絡之出納虛實明藏象，察經度，究竟夫病機病能，此扁鵲所以隨俗為變也，何嘗拘拘守方書哉！</p>
<p>《內經》有云：咽喉者，水穀之道路也。喉嚨者，氣之所以上下者也。頑顙者，分氣之所泄也。人之鼻淵涕出不收者頑顙不開也。子之症，亦頑顙不開之類爾。頑顙不開，故氣上而不下，會厭弱而不能掩其氣喉，夫鼻與氣喉相通，惟不掩，故飲食逆從鼻竅而出。不見常人偶氣逆而飲食自噴嚏出乎？即其例也。且右脈緩弱無力，氣虛明矣。《內經》云：形寒飲冷則傷肺。又曰：脾胃喜溫而惡寒。又云：視聽明而清涼，香臭辨而溫暖。子多服寒涼，此所以惡心、頭暈、肌削也，症當溫補。蓋肺屬金而主氣，金氣旺則收斂不降，氣下降則飲食從氣下矣。以六君子東加辛夷、桑白皮、苡仁、沉香，一進而緩，三進止大半，七劑全安。</p>
<p>明宗室富順王，一孫嗜燈花，但聞其氣即哭索不已。時珍診之曰：此癖也。以殺蟲治癖之藥丸，服一料而愈。</p>
<p><u>解壅湯</u></p>
<p>黃芩　甘草　麥冬　花粉（各三錢）　桔梗　天冬（各五錢）　紫菀（二錢）　蘇葉　百部（各一錢）</p>
<p>水煎服。</p>
<p><u>犀角升麻湯</u></p>
<p>犀角（十兩）　升麻　防風　羌活（各三兩）　川芎　白附子　白芷　黃芩（各五錢）　甘草（一錢）</p>
<p>上用四錢，水煎，食後臨臥各一服，一日共服四次。</p>
<p><u>六君子湯</u></p>
<p>（見目門）</p>
<h3>舌</h3>
<p>《奇病方》云：人有患舌縮入喉嚨，乃寒氣結於胸腹之故。急用附子、肉桂、乾薑各一錢，白朮五錢，人參三錢，服之則舌自舒矣。</p>
<p>又云：有人患舌吐出，不肯收進，乃陽火盛強之故。以冰片少許，點之即收。繼服全舌散，二劑自安。</p>
<p>丁志云：臨安民有因患傷寒，舌出過寸，無能療治，但以筆管通粥飲入口，每日坐於門。一道人見之，咨嗟曰：吾能療此。頃刻聞耳，奈藥不可得，當竭力訪之，不肯告而去。明日又言之，至於旬時，會中貴人罷歸，下馬觀病者，道人適至，其言如初。中貴問所須，乃梅花冰片也。笑曰：此不難耳，即遣仆馳取以付之。道人即研為末，糝舌上，隨手而縮。凡用五錢，病立愈。</p>
<p>《王明清余話》云：王貺，字子亨，本士人，為南京宋毅叔婿。毅叔醫名擅南北，貺初傳其學未精，薄游京師，甚淒然，會鹽法有變，有大賈觀偈示，失驚HT　舌，遂不能復入。經旬遂不食下咽，　羸日甚，國醫不能療，其家憂懼。</p>
<p>榜於市曰：有治之者，當以千萬為謝，貺利其所售之濃，始往應其求。既見賈之狀，忽發笑不能止，心以未易措手也。</p>
<p>其家人怪而詰之，貺診為大言笑之曰：所笑輦轂之大如此，乃無人治此小疾耳？語主人家曰：試取《針經》來。貺漫檢之，偶有與其疾似是者，貺曰：爾家當勒狀與我，萬一不能治，則勿擾我。我當為針之，可立效。主病者不得已，亦從之。即針舌之底，抽針之際，其人若委頓狀，頃刻舌遂伸縮如平時矣。其家大喜，謝之如約，又為之延譽。是時翕然名動京師，家既小康，始得盡心《肘後》之書，卒有聞於世。事之偶然有如此者，貺後以醫得幸。宣和中，為朝請大夫，著《全生指迷論》，醫者多用之。</p>
<p>《聖惠方》云：有人忽舌硬如鐵，血出不止，用木賊煎水，漱之即愈。</p>
<p>〔源按〕經云：心脈系舌本，脾脈絡舌旁，系舌下，故舌病多二經之所致也。又云：心熱則生瘡，脾熱則強硬。舌尖腫脹疊濃，為重舌。舌腫硬而不柔和，挺然脹滿，或退場門者為木舌。乃心脾二經之火上壅。急以針砭，刺出毒血，以殺其標，然後以瀉心脾之藥，治其本可也。觀此則舌硬如鐵，而血出不止，則火已開泄，可不用針砭，獨用木賊一味，升散火邪，乘其勢而提之，故但漱而愈。</p>
<p>《良方》云：一人無故舌上出血，仍有小竅，醫者不曉何疾，偶曰：此名舌衄。炒槐花為末，摻之而愈。</p>
<p>又云：人有患舌痹或麻，此痰氣滯於心胞絡也，服順氣豁痰湯自愈。</p>
<p>〔源按〕舌痹，亦有患心血不足，不可作風熱及痰治，須用理中湯合四物湯治之。</p>
<p>立密云：先兄口舌糜爛，痰涎上涌，飲食如常，遇大風欲撲地。用補中益氣湯及八味丸即愈。間樂數日，仍作。每勞苦，則痰盛目赤，漱冷水舌稍愈，頃間舌益甚，用附子片含之即愈，服煎藥諸症方痊。</p>
<p>《醫說》云：一人中仙茅毒，舌脹退場門，漸大與肩齊，即以小刀　之，隨破隨合，　之百數，始有血一點。曰：可救矣。煮大黃、朴硝與服，以藥摻之，應時消縮。此皆火盛性淫之人，過服之害也。</p>
<p>戴人治南鄰朱老翁，年六十余歲，身熱數日不已，舌根腫起，和舌尖亦腫，腫至滿口，比原舌大三倍，一外科以燔針，刺其舌兩旁，下廉泉穴，病勢轉凶。戴人曰：血實者宜決之。以排針磨令鋒極尖，輕砭之，日砭八九次，出血約二三盞。如是者三次，漸覺血少，病減腫消。夫舌者，心之外候也。心主血，故血出則愈。又諸痛癢瘡瘍，皆屬心火。燔針艾火，皆失此義也。薛新甫云：凡舌腫脹甚，宜先刺舌尖，或舌上，或邊旁出血，泄毒以救其急。惟舌下廉泉穴，此屬腎經，雖當出血，亦當禁針，慎之。</p>
<p>甄立言治一婦，正產之時，收生婦以溫水進之，誤用鹿角脂，女子塗鬢發也。因哇而舌出，產後數日不能收，醫藥屢不應。甄以朱砂塗其舌，仍命作產子狀，以兩婦人掖之。</p>
<p>乃使人潛於壁外，多奉缶器，向危處擲地作聲。聲聞而舌收矣。</p>
<p>薛己治一小兒，舌斷半寸許，敷洪寶丹，服四物東加柴胡，痛定血止。次服四君子東加柴胡、山梔，月余而舌自完。</p>
<p>〔源按〕小兒跌撲斷舌，須乘熱接上。古法急用雞子輕擊周遭，去硬殼，取膜套舌，以洪寶丹敷膜上，自然接續。</p>
<p>若良久舌已冷，不必用接，但以洪寶丹敷之，其舌亦生。</p>
<p>予同郡有一富家婦，年五十余，忽一日舌出不收，別無他恙，醫作風痰治不效。一醫於風痰藥中，加蘄蛇舌一枚，煎服而愈。</p>
<p><u>全舌散</u></p>
<p>黃連　人參　白芍（各三錢）　柴胡　菖蒲（各一錢）</p>
<p>水煎服。</p>
<p><u>順氣豁痰湯</u></p>
<p>半夏（一錢半）　茯苓　橘紅　栝蔞　貝母　黃連　桔梗　枳殼（各一錢）　香附（七分）　甘草（四分）</p>
<p>薑三片，水煎服。</p>
<p><u>理中湯</u></p>
<p>白朮（土炒，二錢）　人參　乾薑（炮）　甘草（各一錢）</p>
<p>水煎服。</p>
<p><u>洪寶丹</u></p>
<p>天花粉（三兩）　薑黃　白芷　赤石脂（各一兩）</p>
<p>上為末，茶湯調敷患處。</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>八味丸</u></p>
<p>（見手足門）</p>
<p><u>四物湯</u></p>
<p>（見頭門）</p>
<h2>卷之三</h2>
<h3>口</h3>
<p>夏子益《奇疾方》云：有人病臥床，四肢不能動，只進得食，好大言說吃物，謂之失說物望病。治法：如說食豬肉時，便云你吃豬肉一頓，病者聞之即喜。遂置肉令病患見，臨要卻不與食，此乃失說物望也。當自睡中涎出便愈。</p>
<p>〔源按〕此症為陽盛於內，故好大言，而善說吃物。且陽盛則氣壅，氣壅則脈絡不利，故四肢不能舉動。治法：說所食之物，而即許食之，使病患心喜。即經所謂喜則氣散。</p>
<p>然置物令見而卻不與食者，所謂食入於陰，長氣於陽，故但使其望見彼見所喜之物，而不得食，故便能使口中涎出。蓋涎即痰也，痰即火，火即氣，同物而異名。涎出則氣自衰，而病自愈也。</p>
<p>又云：有人患口鼻出腥臭之水，以碗盛之，狀如鐵色蝦魚，如粒米大，走躍不住。以手捉之，即化為水。此肉壞也，任意饌食雞肉自愈。</p>
<p>〔源按〕此症因口鼻所出腥臭之水，而名肉壞。良由患毒於內膜之處，因化肉如膿若水，故所出之水腥而臭也。以碗盛之，狀如鐵色蝦魚，亦由患腎臟所屬之分使然。蓋腎屬水，其色黑，得腎臟之氣所化，故色如鐵，而狀如水族之物也然。此水何故不從內下？此乃感人氣血之靈，故能走躍水中。所以得隨上升之氣，從口鼻而出。若捉之又即化為水，此氣散故也。凡毒從肺氣所化，其膿色多白。蓋肺屬金，其色白，得從化而為白也。此毒生於內膜，在腎臟所屬之分，非肺之當令，故即隨是臟之氣所化，以得是臟所屬之色也。雞肉補虛溫中，而又能攻毒。蓋至陰之毒，非攻不可，攻之則毒散，即《內經》所謂其治宜毒藥是也（俗蒸雞汗發痘瘡，其效立見，此攻毒之驗也）。</p>
<p>又云：有人患口中生肉球，有根如線五寸余，如釵股。吐出乃能食物，捻之則痛徹心者，麝香研末一錢，水服之，日三，自消。</p>
<p>〔源按〕此症口生肉球，而但云口內，此必生於舌。經云：心脈系舌本，脾脈絡舌旁，系舌下，凡舌病，皆心脾二經之所致也。故捻之痛應於心。此由脾土不利，經脈不順，而有是患。所謂子病母亦病，而又實者當瀉其子。故但用麝香入脾治肉之味，通其土氣，開其經絡，則怪肉消而病自愈也。</p>
<p>又云：有人忽氣上喘，不能言語，口中流汁，吐逆，齒皆搖動，如欲脫狀。氣喘轉大，悶絕復蘇，名曰：傷寒並熱霍亂。用大黃、人參各半兩，水三盞，煎至一盞，去滓熱服自安。</p>
<p>又云：有人飲油至五斤方快意，不爾則病。此是發入於胃，氣血裹之化為蟲也。雄黃半兩為末，水調服之，蟲自出。</p>
<p>《奇病方》云：有人患唇上生瘡，久則瘡口出齒牙於上唇者，乃七情憂郁，火動生齒故也。方用柴胡、白芍、當歸、生地各三錢，黃芩一錢，天花粉二錢，白果十枚，水煎服。外用冰片一分，僵蠶一錢，黃柏炒，三錢共為末，摻之齒自消也。</p>
<p>張雞峰《備急良方》云：有人患牙齒日長，退場門難食，名髓溢病。用白朮煎湯漱服，即愈。</p>
<p>《搜神記》云：桓宣武有一督將，因時病後虛熱，便能飲馥茗一斛二斗乃飽。若減升合，便以為不足。後有客造之，更進五升，乃大吐一物，如升大有口，形質縮縐，狀似牛肚。客乃令置之盆中，以斛二斗馥茗澆之，此物　之都盡而止，覺小脹。又增五升，便悉混然從口中涌出，既吐此物遂瘥。或問此何病，答曰：此病名斛茗瘕。</p>
<p>東坡《物類相應志》云：齊諧記載江夏安陸縣，隆安中有人姓郭，名垣。得天行病後，遂能大餐，每日食至一斛，五年家貧，行乞於市。一日大飢，至一園，食薤一畦，大蒜一畦，便悶板臥地。須臾大吐，吐一物如籠，漸漸縮小，有人撮飯於上，即消成水，而病遂瘳也。</p>
<p>《酉陽雜俎》云：和州劉錄事者，大歷中罷官，居和州傍縣，食兼數人，尤能食　。嘗　味，未嘗果腹。邑客乃網魚百余斤，會於野處觀其下箸。劉初食　數碟，忽似小哽，因咯出一骨珠子，大如豆，乃置於茶甌中，以碟覆之。食未半，怪覆甌碟傾，側舉視之，骨珠子已長數寸如人狀，座客共觀之，隨視而長，頃刻長及人。遂摔劉，因相毆流血，良久各散走。一循廳之右，一轉廳之左，俱及後門相觸翕成一人乃劉也，神已痴矣，半日方能語。訪其所以，皆不省之，劉自是惡　。</p>
<p>《廣異記》云：句容縣佐吏，能啖　至數十斤，恆食不飽。縣令聞其善啖，乃出百斤，吏快食至盡，因覺氣悶，久之吐一物，狀如麻鞋。令命洗出安　所，　悉成水，醫莫能名。令命小吏持揚州賣之，冀有識者試之，若有買者，當高舉其價，看還幾錢。有胡求買，增價至三百貫文，胡輒還之。初無酬酢，人謂胡曰：是縣令句容家物，問此是何物。</p>
<p>胡云：是銷魚之精，亦能消腹中塊病。患者以一片如指端，繩系之置病所，其塊即消。我本國太子，少患此病，父求愈病者賞之千金。君若見賣，當獲大利，令竟賣半與之。</p>
<p>《宣室志》云：永徽中徐爽有，每食生魚三斗乃足。一日飢，作　未成，忍飢不禁，遂吐一物如蝦蟆，自此不復能食矣。</p>
<p>《名醫錄》云：虞侍郎，蘇州人，平生喜食生魚　。中年病腹堅，倒身不得，每發病疼痛幾死，累治不效。一善醫切脈曰：侍郎右關脈伏，伏為積聚，有生冷之積，成瘕在腹，則疼不可忍，可以藥取之，令用橄欖汁，吞丸子藥數粒，晚下利一盆許，是魚　婁，前一截皆成魚矣，從此遂安。</p>
<p>《說淵》云：陸　吳郡人，自幼嗜面食，食愈多而質愈弱，胡人以藥吐一蟲，長二寸許，色青狀如蛙，此名消面蟲，實天下之奇寶也。其說甚異，不具述。</p>
<p>玉田隱者云：一女子忽嗜河中污泥，每日食數碗方快。有一醫用壁間敗土，調水飲之遂愈。丹溪云：吃泥，胃氣熱也。用黃芩、白朮、茯苓、軟石膏煎服。</p>
<p>《楊氏經驗方》云：益昌伶人劉清嘯一娼，名曰花翠，年及逾笄，好食生米。惠民局監趙尹，用蒼朮，米泔水浸一宿，銼焙為末，蒸餅和丸梧子大，每服五十丸，食前米飲湯下，日二服，兩旬而愈。此症因食生熟物留滯腸胃，遂至生蟲。久則好食生米，否則終日不樂，至憔悴萎黃，不思飲食，以害其生。</p>
<p>《醫說》云：昔慎恭道，肌瘦如勞，唯好食米。缺之則口出清水，食之頓便如常，眾醫莫辨，有蜀僧道廣，以雞矢同白米合炒為末。以水一鐘調服，良久吐出如米形，即瘥。</p>
<p>又云：汪丞相徽之，祁門人，平日好食動風物，性尤嗜蟹，或作蟹　、蟹簽，恣啖之。一日得風熱之疾，齒間壅出一肉，漸大脹塞，口不能閉，水漿不入，痛楚待盡。已而有一道人言能治此疾，丞相命醫之，不日而愈。其法用生地黃汁一碗，豬牙皂角數挺，火上炙令熱，蘸生地汁令盡，末之。</p>
<p>敷壅肉上，隨即消縮。</p>
<p>《聖濟錄》云：有人患時復嘔吐，腹中有水聲者，此酒癖也。川芎、三棱炮，各一兩，為細末，每服二錢，蔥白湯下。</p>
<p>鎮陽有士人嗜酒，日當數斗，至午夜飲興一發，則不可遏，一夕大醉，嘔出一物如舌，視無痕竅，至欲飲時，眼偏其上，矗然而起，家人沃之以酒立盡，至常日所飲之數而止，士人由是惡酒。</p>
<p>一人自幼好酒，片時無酒，叫呼不絕，全不飲食，日漸羸瘦。或執其手縛柱上，將酒與看而不與飲，即吐一物如豬肝，入酒內，其人自此遂惡酒。</p>
<p>《異苑》云：宋元嘉中，有人食鴨成　瘕，以秫米研粉調水服之，須臾煩躁，吐出一鴨雛而愈。孫真人云：如食鴨肉成病，必胸滿面赤，不食，以秫米泔水一盞飲之。</p>
<p>《瘡瘍經驗》云：有人病冷痰，醫用大蒜一枚煮服，吐一物如升大，外痰包裹，開視之，乃雞雛也。再服，吐十三雛而愈，病名雞瘕。此因食白淪雞過多故也。</p>
<p>《泊宅編》云：洛陽李敏求赴言東吳。其妻牙疼，每發呻吟，不堪忍。用釵股按置牙間，少頃銀色輒變黑，此毒瓦斯所致。沿路屢醫，殊無一效。嘉禾僧會海，為制一物，服之半年，所苦良已。後因食熱面又作，坐間作湯，以進一服而愈。其神速若此。視藥之標題初不著明，但云活血涼血而已。敏徐扣之，知是四物湯，蓋血活則涼，何由致壅滯以生疾。</p>
<p>《儒門事親》云：一男子病口瘡數年，上至口，中至咽，下至胃脘皆痛。不敢食熱物，一涌一泄一汗，十去其九，次服黃連解毒湯，不十余日皆釋。</p>
<p>《綱目》云：有人患口唇緊小，不能開合飲食，不治殺人。以白布作大炷安刀斧上，燒令汗出，拭塗之，日三五度，再以青布燒灰酒調服。</p>
<p>〔源按〕經云：肝督衝任四脈，皆絡唇者也。一有受邪，則唇亦為之病，風則動，寒則緊，燥則干裂，氣鬱則生瘡，血少則澀而無血色。治法內理脾胃，外敷以藥，無不愈。乃前案所治，外用鐵物取汗，制肝經之毒，內服青布燒灰，解毒而兼去風。此不獨為寒所害，而更有風毒為患，治宜審症，不可執治。</p>
<p>《名醫錄》云：隋有患者，嘗肌而吞食，則下至胸，便即吐出。醫作噎疾、膈氣、翻胃三候治之無驗。有老醫任度視之曰：非三疾，蓋因食蛇肉不消所致，但揣心腹上有蛇形也。疾者曰：素有大風，嘗求蛇肉食，風稍愈，復患此疾矣。</p>
<p>遂以芒硝、大黃合而服之，微泄利而愈。</p>
<p>丹溪治一婦，孕三月，吐痰水並飲食。每日寅卯時作，作時覺小腹有氣衝上，然後膈痛而吐。面赤微燥，頭眩臥不能起，肢疼微渴，蓋肝火挾衝脈之火衝上也。一日甚，二日輕，脈和，右手寸高，藥不效者，將二月余。用沉香磨水，化抱龍丸一服，膈寬氣不上衝，二三服吐止，眩減而安。</p>
<p>一人患氣上衝，口出如煙霧，耳內常鳴，此衝脈逆上。與八物湯，加炒黃連二分，黃柏三分，數劑而愈。</p>
<p>張子和治一人，年二十余歲，病患口中氣出如登廁，雖親戚莫肯對語。戴人曰：肺金本主腥，金為火所乘，火主臭，應便如是。久則成腐，腐者腎也，此亢極反兼水化。病在上，宜涌之。以茶調散涌去其七，夜以舟車丸、浚川丸五七行，比旦而臭斷。</p>
<p>羅謙甫治韓子王父，年愈六旬，病消渴，至冬反添燥熱，須裸袒，以冰水噴胸腋乃快。日食肉面數回，頃時即飢，如此月余。羅診得脈沉細而疾，以死決之。子玉泣曰：病固危篤，君盡心救之，則死而無恨。羅曰：夫消之為病，其名不一，曰食　、曰消中、曰宣疾。此高粱之所致也。陽明化燥火，津液不能停，自汗小便數，故飲一溲二，胃熱則消穀善飢，能食而瘦。王叔和云：多食亦飢，虛是也。此病仲景所謂春夏劇，秋冬瘥，時制故也。令尊今當瘥之時反劇，乃腎水干涸，不能制其心，而獨旺於不勝之時，名曰真強，乃孤陽絕陰者也。且人之身為主，天令為客，此天令大寒，尚不能制其熱，何藥能及。《內經》云：主勝逆，客勝從，正以此也。設從君治療，徒勞而已。固辭而歸，後易醫與灸，數日而卒。</p>
<p>薛己治四明屠壽卿，孟夏，當門齒如有所擊，痛不可忍。脈洪大而弦。薛曰：洪弦相搏，欲發瘡毒也。先用清胃散加白芷、銀花、連翹，痛即止。至晚鼻上發一瘡，面腫黯痛，更用前藥加犀角十劑。腫至兩額，口出穢氣，脈益大，惡寒內熱，此毒熾血瘀，藥力不能驟敵。乃數砭患處與唇上，並刺口內赤肉，各出毒血，再服前藥至數劑而愈。若泥尻神不行砭刺，或全仗藥力，鮮不誤矣。</p>
<p>吳江史生之內，每產後齒根皆動，必逾日乃止。復懷妊臨月，時薛偶至，言及此症，留十全大補湯二劑，令產後煎服，齒不復動矣。</p>
<p>一婦年三十余，忽不進食，日飲清茶、水果，三年余矣。薛為脾氣鬱結，用歸脾東加吳茱萸四劑，遂飲食如常。</p>
<p>若人脾胃虛而不飲食，當以四神丸治之。</p>
<p>孫東宿治葉潤齋，年四十，心膈嘈雜，好啖肉，一日不能缺，缺即身浮力倦，神魂無措，必急得肉乃已，見則大嚼，及入腹，腹又大痛，痛極則吐酸水稠涎，然後定。稍定，又思肉啖也。其痛苦之態，叫喊之厲難狀，見之酸鼻。或有諭之曰：與其好肉而受痛，孰若絕肉以無楚也。久病脾虛，肉入難化，故使作痛，此婦人女子且知之，汝丈夫獨不慎何哉？潤曰：何吾豈不知絕肉之為愈也？蓋痛雖苦尚能熬，若嘈雜則遍身淫淫蘇蘇，左右無可奈何，手足無所把捉，頃刻不能自存，有近於死不能熬，急需食肉少蘇。吾豈縱口求痛哉？不得已也。孫診其脈，大小不等，觀其色，唇紅臉黃。孫曰：據色脈，乃蟲症，非祟也。予能殛之，先與雄黃丸一服，不瘳。改用膩粉五分，使君子一錢，為末，用雞子打餅，五更空心飼之。辰刻下長蟲十條，內有二大者，長尺有咫，自首貫尾皆紅。下午又下小蟲百余，自此再不喜肉，而嘈雜良愈。</p>
<p>崇禎時，武林姚應鳳，有一人患左唇生一紅痣，別無他苦，姚視之曰：此齒藎也，三年必死。其人怒不應。三年齒潰，詣求救，謝曰：君天譴也，不能過期矣。</p>
<p>當湖江希生內政，中年時，每食豬肉即身體戰栗，屢易不效。後因他病，服逍遙散數劑，舊患亦愈。汪時在燕京蔣相國家，予過之，言及此症，並問其故。予曰：《素問》云：諸禁鼓栗，皆屬於火。症由食豬肉戰栗，此肝膽素有鬱熱故也。因食發風動氣之味，徒引動其病，而不能力開其郁，故每食即發。逍遙散乃開鬱散火之劑，所以偶服得愈。</p>
<p>或問前症，每因食物動其內火，而何以內火動，即戰栗乎？予曰：素注云，火性就燥，內熱即甚，衛外之陽，皆湊入內，故外反鼓栗。此症因食物引動其火，至內火益熾，乃衛外之陽，以就火性之燥，皆湊入內，其重虛其外，故即戰栗。移時火伏氣靜，而衛陽復回，病愈如故。</p>
<p>一婦不月，發熱嗽痰如墨，疏表轉甚。脈之而尺倍數。症由經水逆上，痰血相混。因火極似水，故色黑，而治表反劇。經云：人有兩死，而無兩生。蓋汗即血之液，病失血，後發其汗，血汗兩傷，此即兩死，無兩生也。茲當四物東加知、柏、牛膝服四劑，經至而愈。</p>
<p>乙酉春，有紹興楊石林云漕白一人，忽患腹大痛，約二日許，糖粕悉從口出，醫無措劑。適有醫云：此陰陽錯亂，腎氣逆上，用茯苓五錢數服而愈。後又有患者，服之亦隨愈。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　黃柏　梔子等分水煎服。</p>
<p><u>抱龍丸</u></p>
<p>膽星（一兩）　天竺黃　雄黃　辰砂（二錢）　麝香（少許）</p>
<p>上為末，煮甘草汁，丸彈子大，陰乾。每服一丸，氣喘有痰加枯礬。</p>
<p><u>八物湯</u></p>
<p>生地　當歸（各三錢）　芍藥（二錢）　川芎（一錢五分）　木香（五分）　檳榔　枯楝　延胡索（各一錢）</p>
<p>水煎。</p>
<p><u>茶調散</u></p>
<p>瓜蒂　茶葉為末，每服二錢，齏汁調服，取吐。</p>
<p><u>舟車丸</u></p>
<p>黑牽牛（四兩，炒）　大黃（一兩，酒浸）　甘遂（面裹煨）　大戟（面裹煨）　芫花（醋炒）　青皮（炒）　橘紅（各一兩）　木香（五分）　輕粉（一錢）</p>
<p>水丸。</p>
<p><u>浚川丸</u></p>
<p>黑牽牛（二兩）　芒硝（一兩）　郁李仁（一兩五錢）　大黃（一兩）　甘遂（五錢）　輕粉（五分）</p>
<p>水丸薑湯下。</p>
<p><u>清胃散</u></p>
<p>升麻（五分）　生地黃　丹皮　黃連　當歸（各三分）</p>
<p>水煎服。</p>
<p><u>逍遙散</u></p>
<p>（此方加熟地名黑逍遙散）</p>
<p>柴胡　薄荷　當歸　白芍　陳皮　甘草　茯苓　白朮加薑煎。</p>
<p><u>歸脾湯</u></p>
<p>人參　白朮（土炒）　茯神　棗仁（炒）　龍眼肉（各二錢）　黃　（炙，一錢五分）　當歸　遠志（各一錢）　木香甘草（炙，五分）</p>
<p>薑棗煎。</p>
<p><u>四神丸</u></p>
<p>破故紙（四兩，酒浸、炒）　五味子（一兩，炒）　肉豆蔻（二兩，面裹炒）　吳茱萸（一兩，鹽湯泡）</p>
<p>用大棗百枚，生薑八兩，切片同煮。棗爛去薑，取棗肉，搗丸每服二錢，鹽湯下。</p>
<p><u>四物湯</u></p>
<p>（見頭門）</p>
<p><u>十全大補湯</u></p>
<p>（見手足門）</p>
<p><u>六君子湯</u></p>
<p>（見目門）</p>
<h3>面</h3>
<p>夏子益《奇疾方》云：有人患頭面生光，他人手若近之，如火熾者，此中蠱也。用蒜汁半兩，和酒服之，當吐出如蛇狀，乃止。</p>
<p>又云：有人患眉毛動搖，目不能交睫，喚之不應，但能飲食，此亦中蠱而心迷也。方用同上，亦當吐出蛇狀而愈。</p>
<p>〔源按〕《梅師方》云：凡中蠱毒，或下血如鵝肝，或吐血，或心腹切痛，如有物咬，不即治之，食人五臟即死。若欲知是蠱，但令病患吐水，沉者是浮者非也。用敗鼓皮，燒灰方寸匕，須臾自呼蠱主姓名。《搜神記》云：外姊夫蔣士先，得疾下血，言中蠱。其家密以　荷葉置於席下，忽大笑曰：蠱我者，張小小也。乃收小小，小小亡走，自此解蠱毒用荷，往往有驗。予考本草　荷。即今甘露是也，又名芭蕉。</p>
<p>又云：有人患面上生瘡，瘡上現五色者，即用鹽湯浸綿榻瘡上，五六度即愈。</p>
<p>〔源按〕經云：其色多青則痛，多黑則痹，黃赤則熱，多白則寒，五色皆見，則寒熱也。此症瘡見五色，乃熱中有寒也。鹽能清火解毒，凡煎鹽用皂角收之，所以鹽味微辛，辛能散寒搜風，故愈。</p>
<p>丁志云：臨川有瘤生頰間，癢不可忍，每以火炙則差止，已而復然，苦甚。一醫告之曰：此真虱瘤也，當剖而出之。</p>
<p>取油紙圍頂上，然後施砭，瘤方破，小虱涌出無數。最後一白一黑，兩大虱皆如豆殼，中空空無血，與頰肉了不相干，略無瘢痕，但瘤所障處正白耳。</p>
<p>張德俊云：頃年和　，余杭人，將赴官。因蒸降真木犀香，自開甑，面撲甑上，為熱氣所熏，面部浮腫，口眼皆為之閉。更數醫莫能治，最後一醫云：古無此症，請以意療之，於是取寺僧久用炊布，燒灰成性，隨敷隨消，不半日而愈。</p>
<p>蓋以炊布受湯上氣多，反用以出毒，亦猶以鹽水取咸味爾，醫者之智亦可喜。</p>
<p>全浙夫人，忽一日面上生黑斑數點，數日後，滿面俱黑，遍醫治不效。忽過一草澤醫云：夫人中食毒，治之一月平復。後校其方，止用生薑汁服之。問其故，云：夫人日食斑鳩，蓋此物常食半夏苗耳，是以中毒，故用生薑以解之。</p>
<p>羅謙甫治一婦，年幾三十，憂思不已，飲食失節，脾胃有傷，面色黧黑不澤，環唇尤甚。心懸如飢狀。又不欲食，氣短而促。大抵心肺在上，行榮衛而光澤於外，宜顯而不藏。肝腎在下，養筋骨而強於內，當隱而不見。脾胃在中，主傳化精微，以灌四旁，沖和而不息，其氣一傷，則四臟失所，憂思不已，氣結而不行。飲食失節，氣耗而不足。使陰氣上溢於陽中，故黑色見於面。又經云：脾氣通於口，其華在唇。今水來侮土，故黑色見於唇。此陰陽相反，病之逆也。</p>
<p>上古天真論云：陽明脈衰於上，面始黑，故知陽明之氣不足，非助陽明生發之劑，無以復其色。故以沖和順氣湯主之。</p>
<p>《內經》云：上氣不足，推而揚之。以升麻苦平，葛根甘溫，自地升天，通行陽明之氣為君，人之氣，以天地之風名之，氣留而不行者，以辛散之，防風辛溫，白芷辛甘，以散滯氣為臣，蒼朮苦辛，蠲除陽明經之寒，白芍酸寒安太陰經之怯弱。《十劑》云：補可祛弱，人參、羊肉之屬，人參、黃　、甘草甘溫，補益正氣為佐。至真大要論云：辛甘發散為陽，生薑辛熱，大棗甘溫，和榮衛，開腠理，致津液以復其陽，故以為使。每服早飯後，午飯前，取升陽之時，使人之陽氣易達故也，數服而愈。</p>
<p>孫招治一男子，因登廁被臭氣熏觸，隱忍良久，明日滿面皆黑色，月余不散。相士斷云：於出月外必死。至期無羌，孫招治以沉香各一兩，銼碎安爐中，燒熏帳內，以被蓋定。令病者瞑目端坐，候香盡，方可出帳，明日引鑒照之，面上黑色漸散矣。</p>
<p>平江陳氏，因驚駭後常用兩手指甲掐住兩頰，至兩頰破損，心中懊　不安，脈數而實，諸藥不愈。用牛黃涼膈丸，數服如故。</p>
<p>一有人患面上麻木，不知痛癢，名曰木痹（此陽明經絡受寒故也）。以牛皮膠化和桂末，濃塗一二分愈。</p>
<p>表兄屠學山治吳江王殿爵，患面腫兼起壘塊，如木偶夜叉狀，一無痛癢，醫治數年不效。請學視之，學曰：面乃陽明部分，此因濕邪入陽明絡脈而生痰也。經云：百病之始生也，必先於皮毛，邪中之則腠理開，開則入客於絡脈。留而不去，傳入於經，留而不去，傳入於府，廩於腸胃。又云：邪之始入於皮也，溯然起毫毛，開腠理，其入於絡也，則絡脈盛，色變。其入客於經也，則感虛，乃陷下。此症因經未虛，其濕邪正留絡脈，而未陷下也。故但患面部耳。然非藥所能治，當用砭刺。即用小刀刺破唇內齒上斷縫處，名斷交穴，痰即流外，所出稠痰數碗。即面目如故，繼服補脾調養之劑而安。</p>
<p><u>牛黃涼膈丸</u></p>
<p>牙硝　石膏　甘草（各五分）　膽星（二錢五分）　牛黃　紫石英（各一錢）　麝香　冰片（各五分）　寒水石（，五錢）</p>
<p>上為末，甘草膏丸，綠豆大，每一丸，陳皮湯下。</p>
<h3>項</h3>
<p>《奇疾方》云：有人患頭項腫大，又非癭瘤，忽痛忽不痛，外現五色之紋，按之半空半實，此乃痰病結成，似瘤非瘤，似癭非癭也。方用海藻、半夏、白芥子、南星、人參、桔梗、貝母各三錢、茯苓五錢，昆布一錢，附子一分，甘草一錢，水煎服，此方乃消上焦之痰聖藥也。又有海藻、昆布，以去其癭瘤之外象，消其五色之奇紋，妙在消痰而仍不損氣，則胃氣健而痰易化也。一劑知，二劑消大半，三劑則全消，四劑永不再發也。</p>
<p>《續玄怪錄》云：安康伶人刁俊朝，其妻巴嫗，項生一癭，初若雞卵，漸大如升。積五年，大如數斛之鼎，重不能行，有聲如音樂。積數年，癭外生小穴，如針芒者，不知幾千億。每天陰欲雨，則穴中吹白煙，霏霏如線縷，漸高布散，結為屯云，雨則立降。其家少長懼之，咸請遠送岩穴。妻懼送，請決折之。後朝即淬利刃，將及之中，軒然有聲，逐四分破裂，有一大猱，跳躍而去。即以白絮裹之，癭疾頓愈。時大定中也，後猶有說不具論。</p>
<p>一婦項下忽生一腫塊，漸緣至奶上腫起，莫知何病。偶用刀刺破，出清水一碗，日久不合。有道人見之曰：此蟻漏耳，因用飯誤食蟻故耳。詢之果然。道人云：此易治，但用穿山甲數片，燒存性為末，敷遂愈，蓋穿山甲蟻之所畏也。</p>
<p>薛己治一男子，素善怒，左項忽腫，漸大如升。用清痰理氣，而大熱作渴，小便頻濁。薛謂腎水虧損，用六味地黃，補中益氣而愈。亦有胸脅等處，大如升斗，或破而如菌、如榴，不問大小，俱治以前法。</p>
<p>舉人江節夫，項臂脅肋各結一核，服祛痰降火軟堅之劑益甚。薛為肝膽經血少而火燥也。江執前藥，至明年六月，各核皆潰，脈浮大而澀。薛斷秋金將旺，肝木被克，必不起，後果然。</p>
<p>予郡大人，項邊忽癢，漸起白痕一條，相延漸欲至喉，癢不可忍，群醫莫識。一方士用刀輕開其痕，內出白虱不計其數而愈。士云：此即虱瘤之類，凡內皮作癢，或起痕，或高起，即是症也。</p>
<p><u>補中益氣湯</u></p>
<p>黃　（一錢五分，蜜炙）　人參　甘草　白朮　陳皮　當歸（各五分）　升麻　柴胡（各三分）</p>
<p>薑三片，棗二枚煎。</p>
<p><u>六味地黃丸</u></p>
<p>（見頭門）</p>
<h3>喉</h3>
<p>夏子益《奇疾方》云：有人患咽喉生肉一塊，層層疊疊，漸漸腫起不痛，日久有竅出臭氣，廢飲食。用臭橘葉煎湯，連服而愈。</p>
<p>〔源按〕病患腫而不痛，或痛而不潰者，皆痰也。此症生肉喉間，層層相疊，漸腫不痛，亦痰之所為。久則但有竅出臭氣，乃痰之毒，泄於外也。若非痰則必痛而潰矣。臭橘葉散氣消痰，氣散則痰化，故服之得愈。</p>
<p>華佗云：有人喉中似有物，行動吐痰則痛難忍。身上皮膚開裂，有水流出，目紅腫而又不痛，足如斗腫而又可行，真絕世不見之症。此乃人食生菜，有蜈蚣子在葉，不知而食之，乃生蜈蚣於胃口之上。入胃則胃痛，上喉則喉痛，飢則痛更甚也。方用雞一只，煮熟，五香調治，芬馥之氣逼人，乘人睡熟，將雞列在病患口邊，則蜈蚣自然外走。若蜈蚣走出之時，當即拿住，或一條，或數條，候出盡自愈。大約喉中無物走動，則無蜈蚣矣。當即服全膚湯十劑，則皮膚之裂自愈，而雙足如斗亦消矣。蓋蜈蚣在上焦，非藥入能救，因藥下後即至胃中而蜈蚣卻在胃口之上，故不能殺之也。所以引其外出，然後以藥調治，其氣血自愈。皮膚開裂者，乃蜈蚣毒瓦斯盤居肺邊，肺生毛皮，故皮膚開裂。兩足如斗，足乃腎之部位，肺居上為腎之母，母病則子亦病，然腎水不乏而毒留於腎部，故足之皮，大而浮，非骨之病也。所以能走耳，眼屬肝，肝受肺氣之毒熏蒸，故紅腫耳。</p>
<p>丹溪云：有咽痛諸藥不效者，此非咽痛，乃鼻中生一條紅線如發，懸一黑泡，大如櫻珠，垂掛到咽門而止。口中飲食不入，惟用深取土牛膝根，獨條肥大者，搗碎入好醋三五滴，同研細，滴入鼻中二三點，即系斷珠破，吐出瘀血立安。</p>
<p>《綱目》云：有人患飲食食下，若別有咽喉，斜過膈下，經達在脅，而作痞悶。以手按之，則瀝瀝有聲。以控涎丹十粒服之，少時悶處熱作，一聲轉瀉，下痰飲數升。垂飲食正下，而達胃矣。</p>
<p>竇氏云：有一婦年二十三歲，懷妊九月矣。一日魚骨梗喉間，至半日嘔吐，繼至以血碗許，魚骨尚在喉中。忽吐一條約三尺余，形如小腸潤五分。內有所食魚菜、粉皮，飯未化，家人為推入口中，尚余五寸，其夫復納之。遂昏倦，自此嘔吐不止，湯亦不能進，延余治之，遂將生炭火一盆，放病榻前，以好醋一碗沃之，使醋氣盈滿其室，清其神也。進以牛黃清心丸，腹覺有微痛，再用人參一分，紅花、丹皮、當歸、川芎、生地、阿膠煎服，五六帖病愈。</p>
<p>孫東宿治臧少庚，年五十。每飲食胸膈不順利，覺喉管中梗梗，宛轉難下，大便燥結，內熱，肌肉漸瘦。醫與五香連翹湯、五膈丁香散，諸治膈之劑，嘗試不效。孫至，觀其色蒼黑，目中炯炯不耗，惟氣促骨立。孫知其有機心人也。</p>
<p>其脈左弦大，右滑大。孫謂之曰：據脈乃謀而不決，氣鬱成火，脾志不舒，致成痰涎。因而血少便燥，內熱肌消。張雞峰有言，膈乃神思間病，即是推之，子當減思慮，斷色欲，薄滋味，絕妄想，俾神思清淨，然後服藥有效。不然，世無大丹，而草木石何足恃哉？子既遠來，予敢不以肝膈相照！茲酌一方頗妥，歸即制服，其方用桂府滑石六兩，炙甘草、白芥子各一兩，蘿卜子、射干、連翹各一兩半，辰砂五錢，以竹茹四兩煎湯，打饅頭為丸，綠豆大。每食後及夜用燈心湯送下一錢五分，一日三服，終劑而病如失。</p>
<p><u>全膚湯</u></p>
<p>甘草　苡仁　當歸（各一兩）　白芍（五錢）　黃　防風（各五分）　荊芥　陳皮（各一錢）</p>
<p>水煎服。</p>
<p><u>控涎丹</u></p>
<p>甘遂（去心）　大戟（去皮）　白芥子等分為末，糊丸，臨臥薑湯送下。</p>
<p><u>牛黃清心丸</u></p>
<p>（見目門）</p>
<h2>卷之四</h2>
<h3>心神</h3>
<p>平人氣象論云：尺脈緩澀，謂之解　，（五注云：尺者陰部也，腹腎主之，緩為熱中澀為無血，故解　也）。</p>
<p>解之證，懈倦困弱，寒不甚寒，熱不甚熱，惡見人，見人心惕惕然。或熱多而汗出，肢體百骸散解，痿弱而不能任持，少氣而不欲言左右，佇（佇音能，困弱也）不可以名其狀，故謂之解　，注夏之證殆相似，亦虛類也。其治大生麥湯，足以注之，加木瓜、苡仁。</p>
<p>《史記》云：趙簡子疾，五日不知人，大夫皆懼。於是召扁鵲，扁鵲入視病，出董安於問扁鵲，扁鵲曰：血脈治也，而何怪？昔秦穆公嘗如此，七日而寤。寤之日，告公孫支於子輿曰：我之帝所甚樂，吾所以久者，適有所學也。帝告我晉國，且大亂，五世不安，其後將霸。未老而死，霸者之子，且令而國男女無別，公孫支書而藏之秦策。於是出夫獻公之亂，文公之霸，而襄公敗秦師於淆，而歸縱淫。此予之所聞。今主君之病，與之同，不出三日必間，間必有言也。</p>
<p>居二日半，簡子寤，語諸大夫曰：我之帝所甚樂，與百神游於鈞天廣樂，九奏萬舞，不類三代之樂，其聲動心。有一熊可援，我帝命我射之，中熊，熊死。有羆來，我又射之，中羆羆死。帝甚喜。賜我二笥皆有副。吾見兒在帝側，帝屬我一翟犬曰：及而子壯也，以賜之。帝告我晉國且世衰，七世而亡，嬴姓將大敗，周人於范魁之西，而亦不能有也。董安於受言，書而藏之。以扁鵲言告簡子，簡子賜扁鵲田四萬畝。</p>
<p>夏子益《奇疾方》云：凡人自覺本形作兩人，並形並臥，一樣無別，但不語。蓋人臥則魂歸於肝，此由肝虛邪襲，魂不歸舍，病名離魂。用人參、龍齒、赤茯苓各一錢，水一盞，煎半盞，調水飛辰砂末一錢，睡時溫服，一夜一服，三服後，真者氣爽，而假者即化矣。</p>
<p>金少游治徐太乙之女，年十六，許字巨族。而太乙日窘，女憂慮不食不寢，長臥目不瞑。太乙往郡城售絲未歸，女臥床上，自言曰：若許，絲止價四錢八分，不滿五數，侍者詢其何以知之？答曰：予方隨父入市也。太乙歸，少游先問其絲價，太乙言其數果符。少游云：此離魂病也。用人參、黃連、龍齒安魂等藥，平復。</p>
<p>王日新《小兒方》云：有小兒患驚風，大叫一聲就死者，名老鴉驚。以散麻纏脅下及手足心，以燈火爆之。用老鴉蒜苗干，車前子等分為末，水調貼手心，仍以燈心淬手足心，及肩膊、眉心、鼻心，即醒也。</p>
<p>〔源按〕老鴉蒜，一名石蒜，又名一枝箭是也。</p>
<p>《外台秘要》云：劉太丞毗陵人也，有鄰家朱玉者，只有一子，年三十余，忽然卒死，脈全無。請太丞治之，取徐州半夏細末一大豆許，納鼻中良久，身微暖而蘇，迤邐無事。人問太丞：單方半夏如何活得死人？答曰：此南岳魏夫人方也。</p>
<p>〔源按〕此方救五絕。一曰自縊死，氣絕；二曰牆壁崩壓死，氣絕；三曰溺水，氣絕；四曰鬼魘死，氣絕；五曰產婦死，氣絕，並能救之。昔葛生嘗用此方救人，人問葛生何授得此神術能活人命？生曰：吾因入山采藥，遇白衣人問曰：汝非葛醫生乎？吾乃半夏之精，汝遇人有五絕之病，用吾救治即活。但用吾作細末，令干入鼻中，即復生矣。</p>
<p>《堅夷志》云：成州團練使張子剛，名銳，以醫知名，居於鄭州刑部尚書。慕容彥逢為起居舍人，母夫人病，召銳於鄭，至則死矣。時方六月，將就木，張欲入視，彥逢不忍，意其欲求錢。乃曰：道路之費，當悉奉償，實不煩入。</p>
<p>張曰：傷寒法，有死一晝夜復生者，何惜一視之？彥逢不得已，自延入，悲哭不止。張揭面帛注視，呼仵匠語之曰：可嘗見夏月死者面色赤乎？曰：無。然則汗不出而厥爾。不死也。幸無亟斂，趨出取藥。令以水三升，煮其半，灌病者。</p>
<p>戒曰：善守之，至夜半大瀉，則活矣。銳舍於外館，至夜半時，守病者覺有聲勃勃然，遺尿已滿席，出穢惡斗余。一家大喜，遽敲門呼張。張曰：吾今體倦莫能起，然亦不必起，明日方可進藥也。天且明，出門若將便旋然徑命駕歸鄭。彥逢詣其室，但留平胃散一帖而已。其母服之，數日良愈。蓋張為彥逢有求錢之疑，故不告而去，紹興中流落入蜀，王柜叔問之曰：公之術，古所謂十全者幾是歟？曰：未也，僅能七八爾。長子病，診脈察色，皆為熱極。命煮承氣湯欲飲之，將飲復疑，至於再三，如有掣吾肘者，姑持杯以待。兒忽發顫悸，覆綿衾至四五，始稍定，汗出如洗，明日脫然，使吾藥入口則死矣，安得為造妙。世之庸醫，學方書未知萬一，自以為是吁，可悲哉。</p>
<p>《瘡瘍經驗》云：一老婦喉間及心中咬痛，得食則止，心思香燥之物。偶夏天貓繞足而叫，此婦素性愛貓，取鹿脯嚼之，喉中忽有物出，即取之墮地，頭足皆有，五寸長許，乃飢蟲也。</p>
<p>許智藏梁人也。秦王俊有病，上馳召之。俊夜夢其亡妃崔氏泣曰：本來相迎，聞智藏將至，當必相苦，為之奈何？明夜俊又夢崔氏曰：外家得許矣，當入靈府避之。及智藏至，為俊診脈曰：疾已入心，即當發癇，不可救也。果如言，俊數日而死。</p>
<p>齊州有人病狂毒而歌曰：五靈華蓋曉玲瓏，天府由城汝府中，惆悵此情言不盡，一丸采菔火吾宮。又歌曰：腳陽春，人間二月雨和塵，陽春踏盡秋風起，腸斷人間白發人。後遇一道士作法治之，乃曰：夢中見一紅裳女子，引入宮殿，皆紅紫飾，小姑令歌。道士曰：此症犯大麥毒，女則心神，小姑脾神也。按醫經蘿卜治麥毒，故曰火吾官，即以藥並蘿卜食之愈。</p>
<p>陳斗岩治一婦人，病厥逆。脈伏一日夜不蘇，藥不能進，陳視之曰：可活也，針手足陽明，氣少回，灸百會穴乃醒。初大泣，既而曰：我被數人各執凶器，逐潛入柜中，聞小兒啼，百計不能出。又聞擊柜者，隙見微明，俄覺火燃其蓋，遂躍出。其擊柜者針也，燃柜蓋者，灸也。</p>
<p>韓光武寓洋洲得異疾。與神物遇，頗不省人事，神氣恍惚，或食或不食，國醫陳易簡教服蘇合香丸，即愈。蓋蘇合香丸能辟邪故也。</p>
<p>潘溫叟治貴江令王齊，夜夢與婦人謳歌飲酒，晝不能食，如是三歲。溫叟治之，疾益平，則婦人色益沮，飲酒益怠，而謳歌不樂，久之遂無所見。溫叟曰：疾雖衰，然未愈也，如夢男子青巾白衣者方瘥，後果夢此，能食。</p>
<p>〔源按〕此症屬於脾，脾為坤土，坤乃陰象。因胃陽弱而坤陰用事，故每夢見婦人。歌者，《內經》所云：脾主歌是也。至所夢惟酒何故？故胃陽弱而本不思食，酒乃虛而不實之物，且又五穀所作，乃脾之所好，故夢中飲此也。溫叟所治，必補中益氣湯之類，使胃陽漸動，而坤陰之疾自退。即易所謂坤至柔而動也剛，至柔得剛，而所夢已無，自當能食，而仍不思食何也？因坤土之氣始復，猶冬至一陽內復之候，而氣之根原未旺，所謂母虛子亦虛也。蓋肺為脾之子，而氣之原發於肺，故肺主氣，脾主營運，因肺未旺而肝木未平，脾仍失健運之職，所以疾雖衰，然未愈也。乃初因病甚於坤，故但夢婦人，至坤陰之夢已退，而肺肝所患未除，故二臟之氣未和，所以又當夢見青巾白衣男子。青巾，肝所屬也，蓋肝屬木，其色青，故夢見青色之物。肺屬金，其色白，故所夢白人。然必是夢亦無，方得病痊而食也。</p>
<p>或問五內有病，何故每見於夢？予曰：人當寐時，則神歸肝腎之所。如一臟有病，則一臟之氣不和，不和則神不安，不安則多夢。如肝腎有病，即夢見肝腎所屬之物，即如前症；脾病，則夢脾臟所屬；肺肝病，則夢肺肝所屬。然夢婦人而又謳歌飲酒，夢男子而乃青巾白衣。青巾，乃肝臟所屬之物，而以冠白人之首，此中之奇特，皆臟氣所為，蓋氣之變化，誠難測之。</p>
<p>又問：如夢親戚長幼及所故之人，所屬何臟？予曰：神自病耳。因用神又過，神不能靜，故有是夢耳。</p>
<p>羅謙甫治副使許可道，脈來乍大乍小，乍長乍短，此乃氣血不勻，邪傷正氣。許云：路至邯鄲，夜夢一婦人，所服青衣，因用拳打下，卻打自脅。遂一點痛，往來不止，兼寒熱不能食。羅曰：此名鬼擊，可服八毒赤丸。遂與藥三粒，臨臥服，明旦下清水二斗而愈。又陳青玉子，因晝臥水仙廟中，夢得一餅食之，心懷憂慮，復即痞滿，飲食減少，約一載余，漸瘦弱，腹脹如蠱，屢醫不效。羅診之，問其病始末，又非外感風寒，內傷生冷，因思李子豫八毒丸，頗有相當，遂與五七丸服之。下清黃之涎斗余，漸漸氣調，而以別藥理之，數月良愈。</p>
<p>或問二症之夢，屬何臟病乎？予曰：此內感不正之氣，因心氣不寧，故感而成夢，蓋邪氣入內，正氣必傷，致病患多端，非辟邪不愈，八毒赤丸，因辟邪故也。凡夢如是者，脈必乍大乍小，乍有乍無也。</p>
<p>呂滄洲治一在室女，病不月，諸醫療治，皆不得其當，視之腹大如娠，求其色脈，頗怪之，曰：汝病非有異夢，即鬼靈所憑耳。女不答，趨入臥內，密語其侍嫗曰：我去夏過涼廟廡下，薄暮遇木神心動。是夕夢一男子如暮間所見者，即我寢親狎，由是感病，我慚赧不敢以報，醫言是也，嫗以告呂，呂曰：汝面色乍赤乍白者愧也，乍大乍小者祟也。病與色脈相符，雖劇無苦，乃以桃仁煎，下血類豚肝者六七枚，俱有竅，如魚目，病已。</p>
<p>朱丹溪治一少年，每夜有夢，朱連診兩日，觀其動止，頭不仰舉，但俯視不正，必陰邪相留，叩之不言其狀。詢其仆，乃言至廟見侍女，以手撫摩久之，不三日而寢疾。朱令法師入廟，毀其像，小腹中泥土皆濕，其疾遂瘳。</p>
<p>一女許嫁後，夫經商二年不歸，因不食困臥如痴，無他病，多向裡臥。朱診之，肝脈弦出寸口，曰：此思想氣結也。藥難獨治，得喜可解。不然令其怒，脾至思過，思則脾氣結而不食，怒屬肝木，木能克土，怒則氣升發而沖開脾氣矣。令激之大怒而哭，至三時許，令慰解之，與藥一服，即索酒食。朱曰：思氣雖解，必得喜則庶不再結，乃詐以夫有書，旦夕且歸，後三月，夫果歸而愈。</p>
<p>一婦患心中如火一燒，便入小腸急去小便，大便隨時亦出，如是者三年。求治，脈滑數，此相火送入小腸經。朱以四物東加炒黃柏、小茴香、木香，四帖而安。</p>
<p>一婦病不知人，稍蘇，即號叫數四而復昏。朱診之，肝脈弦而且滑，曰：此怒心所為，蓋得之怒而強酒也。詰之不得於夫，每夜必飲滿自酌，解其懷。朱治以清痰降火之劑，而加香附，以散肝經之郁乃愈。</p>
<p>一婦因久積憂患後，心痛食減羸瘦，渴不能飲，心與頭更換而痛，不寐，大溲燥結。與四物湯，加陳皮、甘草，百余帖不效。朱曰：此肺久為火所郁，氣不得行，血亦蓄塞，遂成污濁。氣壅則頭痛，血不流則心痛，通一病也。治肺當自愈，遂效東垣青空膏例，以黃芩細切酒浸，透炒赤色為細末，以熱白湯調下，頭稍汗，十余帖，汗漸通身而愈。因其膝下無汗，瘦弱脈澀，小溲數，大溲澀，當補血以防後患。以四物東加陳皮、甘草、桃仁、酒苓服之。</p>
<p>許文懿公，因飲食作痰，成心脾疼，後觸冒風雪，腿骨疼痛。醫以烏、附等藥治十余年，艾灸萬計。又冒寒而病加，胯難開合，脾疼則胯痛止，胯痛則脾疼止，初因中脘有食積痰飲，續冒寒濕，抑遏經絡，氣血不行，津液不通，痰飲注入骨節，往來如潮，涌上則為脾疼，降下則為胯痛，須涌泄之。時深秋而以甘遂末一錢，入豬腰子內煨食之，連泄七行，足便能步。後嘔吐大作，不食煩躁，氣弱不語。《金匱》云：病患無寒熱，而短氣不足，以息者實也，其病多年郁結，一旦泄之，徒行動其猖狂之勢，無他制御之藥故也。仍以吐劑達其上焦，次第治及中下二焦，連日用瓜蒂、藜蘆、苦參，俱吐不透，而噦燥愈甚。乃用附子尖三枚和醬水與蜜飲之，方大吐膠痰一大桶，以朴硝、滑石、黃芩、石膏、連翹等一斤濃煎置井中，極冷凍飲料之，四日服四斤。後腹滿，二溲閉，脈歇至於卯酉時，夫卯酉為手足陽明之應，此乃胃與大腸有積滯未盡，當速瀉之。群醫惑阻，乃作紫雪，二日服至五兩，神思稍安，腹亦減安。後又小溲閉痛，飲以蘿卜子半盂，得吐立通。又小腹滿痛，不可捫摸，神思不佳，以大黃、牽牛等分，水丸服至三百丸，下如爛魚腸二升許，神思稍安。診其脈不歇，又大溲迸痛，小腹滿悶。又與前丸百粒，腹大絞痛，腰胯重，眼熱如火，不言語，瀉穢如地瀝青條一尺許，肛門如火，以水沃之，自病半月不食不語，此方啜稀粥，始有生意，數日平安。自嘔吐至安日，脈皆平常弦大，次年行倒倉法痊愈。</p>
<p>一婦春末心脾疼，自言腹滿手足寒，兩膝間須綿裹火烘，胸畏熱喜掀露風涼，脈沉細澀，稍重則絕，輕似弦而短，渴喜熱飲，不食。以草豆蔻丸，加黃連、滑石、神麯為丸，白朮為君，陳皮為使，作湯下百丸，服至二斤而愈。</p>
<p>虞恆德治一婦，四月間因多食青梅，得痰因病。日間胸膈中大如刀錐，至晚氣胸中痛止，而膝KT　大痛，蓋痰飲隨氣升降故也。一醫作胃寒治，用乾薑、良薑、官桂、烏、附、丁、沉輩與之，病日劇，加之口渴，小水淋瀝。虞診其六脈洪數而滑，作清痰處治。令其急烹竹瀝服三日。口不渴，小水亦不淋瀝，但胸中與膝互痛如舊，用蘿卜子研汁與半碗，吐痰半升，至夜痛尤甚而厥，正所謂引動其猖狂之勢耳。次日用參蘆一兩，逆流水煎服不吐。又次日苦參煎湯，服亦不吐。又與附子尖、桔梗蘆皆不吐。一日清晨用黎蘆末一錢，麝香少許，酸漿水調與，始得大吐，至次日天明吐方定。前後得痰乃稠飲一小桶，其痛如脫，調理而安。</p>
<p>汪石山治一女，年十五，病心悸，常若有人捕之狀。欲避而無所，其母抱之於懷，數婢護之於內，猶恐恐然不能安臥，醫者以為病心，用安神丸、鎮心丸不效。汪診之，脈皆細弱而緩，曰：此膽病也。用溫膽湯，服之而安。</p>
<p>或問：人因心恐，遂覺皮膚寒而起栗何故？予曰：恐則氣下，氣下則陽氣內入，故若此，恐定氣還，便即如故。</p>
<p>又問：前症亦因恐而病，蓋恐則氣下，而何故反用溫膽湯降其氣乎？予曰：此乃少陽膽疾，非因恐而病，實因病而恐也。蓋膽以溫為候，虛則寒，寒則氣滯，滯則生痰，痰生膽腑，則神不歸舍，故令人心恐不寐。汪　庵云：此湯橘皮、半夏、生薑辛溫導痰，即以之溫膽；枳實破滯，茯苓除飲，甘草和中；竹茹開胃土之郁，清肺金之燥，涼肺金，即所以平甲木也。（膽為甲木）。如是則不寒不燥，而膽常溫矣。</p>
<p>一人年逾七十，忽病瞀昧，但其目系漸急，即合眼昏懵如睡瞌者，頭面有所觸皆不避，少頃而蘇。問之，曰不知也。一日或發二三次，醫作風治，病轉劇。汪診其脈結止。</p>
<p>蘇則皆浮洪數，不任尋按，坐起則覺略小，亦不甚數。脈書曰：數脈所主為熱，其症為虛。三日後再診，左脈小而滑，右脈大而滑，獨肺部浮軟，按之似蟄有聲，與昨脈不同者，虛之故也。夫陽氣者，清順調和之氣也，或勞動過度，或酒食過傷，則擾動其陽，變而為邪熱矣。然脾胃以陽氣為主，陽變為熱血必沸騰而越出於上矣。昏暈者由熱熏灼，故神昏運倒而類風也。風之旋動轉運與火相類，每覺下焦熱上胸膈壅塞而即發者，脾脈從足入腹至胸，令下焦熱上乃脾火也。</p>
<p>然胸膈心肺之分，為陽之位，清陽居上，而邪熱擾之，則陽不得暢達，而心脾之神魂不免為之昏亂矣。況五臟皆賴胃氣以培養，胃受火邪則五臟皆無所稟，而所藏之神亦無所依，故肺之魄、心之神、肝之魂、脾之意、腎之志，安得不隨之潰亂而昏瞀耶？多發於午前後者，乃陽氣所生之時，脈如常，但浮虛耳。曰：此虛病也，蓋病發而脈結者，血少氣劣耳。</p>
<p>蘇則氣血流通，心志皆得所養，故又脈如常也。遂以十全大補湯去桂，加麥冬、陳皮而安。其子問之，汪曰：三年之內，可保無恙，越此非予所知，果驗。</p>
<p>一人年十五色悴，十二月間，忽嘔瘀血一二碗隨止。延小兒醫調治，肌體尚弱，常覺頭暈。近三月間，天熱途步，出汗連日，又勞倦日昃，頓然昏暈不省人事，手足擾亂顛倒，將一時久方定，次日亦然。續後每午前後，如期發一次，近來漸早，自辰至午，連發二次，漸發三四次，比前稍輕。發時自下焦熱上至胸，壅塞則昏暈，良久方蘇，始疑為瘧成癇。醫云火動，又云痰症，用牛黃清心丸，以竹瀝、薑汁磨，服二次，共四丸。又與煎藥，多清痰火之劑，服後每日只發一次。止則汗多，口乾食少，身熱時多，涼時少。汪脈之陽為邪擾，不能用事，故每至其時而輒發也。且汗多津液泄，口乾津液少，醫用牛黃、朱砂、琥珀、南星、半夏等，而復燥之，是愈益其燥，故暫止而復發，不能去拔病根也。因取參、　各二錢半，遠志、山楂、川芎、黃芩各七分，天麻、麥冬、防風、茯神各一錢，甘草、陳皮各五分，歸身八分，白朮一錢半，煎服十余劑，而病不復作矣。</p>
<p>張子和治一婦，年逾三十，夜夢鬼交，驚怕異常，及見神堂陰府舟楫橋梁。如此一十五年，竟無妊娠。巫祈覡禱，無所不至，針肌灸肉，孔穴萬千，黃瘦發熱引飲，中滿足腫。張曰：陽火盛於上，陰水盛於下。鬼神者，陰之靈，神堂者，陰之所，舟楫橋梁，水之用。兩手寸脈，皆沉而伏，知胸中有痰實也。凡三涌、三泄、三汗，不旬日而無夢，一月而孕。</p>
<p>一婦喜笑不休半年矣，諸醫治之術窮。張曰：此易治耳。以食鹽三兩成塊，燒令通紅，放冷研細，以河水一大碗煎三五沸，溫分三服，須臾探吐出痰半升，次服大劑黃連解毒湯，不數日而笑止。</p>
<p>沈宗常治臨淄人，自謂無病，忽覺神思有異，晚歌笑不節。沈曰：此陰火乘肝，晚動宜以柔劑，少加利之，良愈。</p>
<p>莊先生治喜樂之極而病者。莊切其脈為之失聲，佯曰：吾取藥去。數日更不來。病者愁泣，辭其親友曰：吾不久矣。莊知其將愈，慰之，詰其故。莊引《素問》曰：懼勝喜，可謂得元關者。</p>
<p>陳尚古《簪云樓雜說》云：先達李其姓，歸德府，鹿邑人也，世為農家。癸卯獲雋於鄉，伊芳父以喜，故失聲大笑。</p>
<p>及春舉進士，其笑彌甚。歷十年擢諫垣，遂成痼疾。初猶間發，後宵旦不能休。大諫甚憂之，從容語太醫院某，因得所授，命家人給乃父云：大諫已歿。乃父慟絕幾殞，如是者十日，病漸瘳。佯為郵語云：大諫治以趙大夫，絕而復蘇，李因不悲，而笑症永不作矣。蓋醫者意也，過喜則傷，濟以悲而仍和，技進乎進矣。</p>
<p>薛己治一小兒，喜笑常作不安，面赤飲冷，手足並熱。先用黃連瀉心湯二服，稍定，又用六味地黃丸料煎服，頓愈。常服此丸則安，月許不服，仍前病作，又服愈矣。</p>
<p>許學士治一婦人，數次無故悲泣不止。或謂之有祟，祈讓請禱備至，終不應。許忽憶《金匱》有一症，婦人臟躁悲傷欲哭，象如鬼物神靈，數欠伸者，宜甘麥大棗湯。急令治藥，數劑而愈。</p>
<p>〔源按〕經云：在臟為肺，在志為悲。又云：精氣並於肺，則悲是也。蓋喜屬陽，心主之；怒屬陰，肝主之。婦人稟性陰柔，故喜常少而怒常多，或悲泣不止，皆陰類也。又云：神有餘則笑，神不足則悲，所以人之幼時，神魂未足，善於啼哭也。</p>
<p>邵氏《聞見錄》云：州監軍病悲思，郝因告其子曰：法當得悸而愈。時通守李宋卿御史嚴甚，監軍內所憚也。允與子，請於宋卿，一造問責其過失，監軍惶怖汗出，疾乃已。</p>
<p>紹興癸丑，許待次四明，有董生者，患神氣不寧，每臥則魂飛揚，覺身體在床，而神魂離體，驚悸多魘，通夕無寐，更醫不效。許為診視，詢之曰：醫作何病治？董曰：眾皆以為心病。許曰：以脈言之，肝經受邪，非心病也。肝氣因虛，邪氣襲之，肝藏魂者也，游魂為變。平人肝不受邪，臥則魂歸於肝，神靜而得寐。今肝有邪，魂不得歸，是以臥則魂飛揚若離體也。肝主怒，故小怒則劇。董欣然曰：前此未之聞，雖未服藥，已覺沉病去體矣，愿求治之。許曰：公且持此說，與眾醫議所治之方，而徐質之。閱旬日復至，云：醫遍議古今無與病相對者。許即處珍珠母丸，獨活湯以贈，服一月而病悉除。此方用珍珠母為君，龍齒佐之。珍珠母，入肝經為第一。龍齒、虎睛，今人例以為鎮心藥。殊不知龍齒安魂，虎睛定魄，各言其類也。蓋東方蒼龍木也，屬肝而藏魂，西方白虎金也，屬肺而藏魄。龍能變化，故魂游而不定；虎能專靜，故魄止而有守。許謂治魄不寧者，宜以虎睛，治魂飛揚者，宜以龍齒。萬物皆有成理而不失，在夫人達之而已。</p>
<p>徐仲子士緯曰：家君肄業過勞，場屋屢屈，志堅不懈，吐血盈盆，虛羸骨立。夜臥合睫則夢爭斗，轉斗轉負，恐畏之態，無可名狀，呼號之聲，轟然若雷，而不能騰出於口。家人侍睡者，莫不縮手伸舌，如是者十年余矣。每五七夜必一發，過勞則連發，發尤猛。歷訪師友，多作心血不足治，惟補心安神藥投之漠如也，終莫識其為何症，捫心苦思，思每達旦，更幾寒暑矣。一日偶觀《素問‧藏氣法時篇》論有曰：肝病令人善怒，虛則目　無所見，耳無所聞，善恐如人將捕之。恍然警悟，乃知為魂游症也。何言之？夫夜臥屬氣於肝，肝主藏血，藏魂，作文既言若衄血過度，則魂失養。惟是交睫若魔，則夢爭斗。肝虛則膽怯，故多負多恐也，非峻補不奏功。又思草木之劑，不堪任重，乃以鹿角膠三錢，清晨酒溶服，五日而睡臥安，半月而肌肉生，一月而神氣完，始能出戶。厥後每見血症虛憊者，崩中眩暈者，投前劑莫不附應。夫人但知鹿角膠補虛之功，勝於參　，而不知鹿角膠可以峻補肝血，蓋血盛而魂自安也。</p>
<p>黃師文治一婦，臥病三年，狀若勞瘵，諸醫以虛損治不瘥。黃視之曰：此食陰物時，或遭驚也，問之婦方自省悟也。</p>
<p>襄者食米團時，忽有報其夫墜水，由此一驚，病延至今不能愈。黃以青木香丸兼以利藥一帖與之，須臾下一塊，乃痰裹一米團耳。當時被驚，怏怏在下而不自覺也，自後安康無恙。</p>
<p>一人驚氣入心絡，喑不能言，以密陀僧研細一匕許，茶調服，遂愈。有一人伐木山中，為野狼所逐，而得是疾，或授此方而愈。又一軍尉，采藤入穀，逢惡蛇而疾，其症狀同，亦用此藥治之而愈。</p>
<p>或問：有鄰人，年六十余，因怒而發聲，其音遂失，諸治不效。約數年，適食飯蒸白花百合，食後聲忽有音，連食旬日，約二斤余，其音如舊。何故？予曰：聲為怒發，此火傷肺金，百合補中兼清，不寒不燥，中和之品，故得中病。</p>
<p>游以春治一婦，年三十余，忽午前吐酸水，至未時心前作痛，至申痛極暈絕，交戌方醒如故，每日如此。醫治期年不愈，游治用二陳下氣之劑不效，熟思其故，忽記《針經》有云：未申時氣行膀胱，想有瘀血滯於此經使然。遂用歸尾、紅花各三錢，乾漆五錢，煎服。吐止痛定，暈亦不舉。</p>
<p>次日復進一服，前症俱愈。第三日，前方加大黃、桃仁飲之，小便去凝血，三四碗而痊。</p>
<p>滑伯仁治一婦，氣實多恐，忽大叫而欲厥。蓋痰閉於上，火起於下而上衝。滑用香附五錢，生甘草三錢，川芎七錢，童便薑汁炒煎服。又用青黛、人中白、香附丸服稍愈，後用吐法乃安，再用導痰湯，加薑汁、黃連、香附、生薑，下龍薈丸而安。</p>
<p>孫東宿治白仰云內眷，每觸怒即暈厥，必閉門合目，靜坐不留一人在房中。是皆冷汗出如雨，氣息幾微，越一時許，醒如常。原以頸生瘰　，多服草頭藥，及專科用斑蝥等毒，因而脾胃損，元氣虧也。年三十八尚未生育，每日令二婢敲兩腿，俟其熟睡乃已。夜半心多驚跳，指甲皆無血色，經將行，小腹先痛二日，色紫有塊，諸病雖如是，而肌肉飲食卻如無事人。孫診其脈而寸短弱，左關大而有力，右關左尺俱滑，右尺沉微，據脈肺氣虛，肝木實，胃中有痰之症也。用六君子湯，加丹參酒，連青皮，外與珍珠母丸及獨活湯，調理而安。</p>
<p>喻嘉言治熊仲紓之子，髫齡患一症，飲食如常，但脈細神呆，氣奪色夭。仲紓曰：此病何也？喻曰：病名淹牒。《左傳》所謂近女室晦，即是此病。彼因近女，又遭室晦，又不可為，令郎受室晦之邪，而未近女，是可為也。即以羚羊角、犀角、龍齒、虎骨、牡蠣、鹿角霜、人參、黃　等藥合末，令以羊肉半斤，煎濃汁調末，少加牛黃丸，服旬日而安。</p>
<p>〔源按〕《左傳》晉侯求醫於秦，秦伯使醫和視之曰：疾不可為也，是謂近女室，疾如蠱。公曰：女不可近乎？對曰：天有六氣降生五味，發為五色，征為五聲，淫生六疾。六氣者，陰陽風雨晦明也。陰淫寒疾，陽淫熱疾，風淫末疾，雨淫腹疾，晦淫惑疾，明淫心疾。女陽物而晦時淫，則生內熱，惑蠱之疾。今君不節不時，能無及此乎？龔子才治一男子，忽低頭往暗處藏身，不言亦不答，以飲食俱背人竊食，人見之則食不下。諸人以為中邪，用三牲祭之，其物經宿，乃妻食之亦如是，諸醫莫識。龔云：必中鼠涎。蓋鼠涎有大毒，用吳茱萸塞貓口，以貓涎自出，將涎水令夫婦服之悉愈。</p>
<p>康熙年間，予裡地藏庵有一僧，名鶴松。忽一日藏身暗處，若見人或聞人語，即驚避。每進飲食，必置之外室，窺視無人，然後出食之，如是數年。適有方士視之曰：病名鼠魂。鼠竊食為貓所逼，因驚失其魂於食物間，食之乃得是症。治以安神藥，外加貓涎和服而愈。</p>
<p>〔源按〕此症即中鼠涎，云鼠魂者，士好名故耳。</p>
<p>有一人痞塞，不飲食，心中常有所歉。愛處暗地，或倚門後，見人即避，似失志狀。此為卑　之病，以血不足故爾，人參養榮湯主之。</p>
<p>學士盧抱經為侍讀時，每寤心必驚惕，醫用安神補血之劑，數年不效。時值乾隆戊寅，予至燕京，與公同寓。初寓之日，公即問予曰：此症何故使然？予視其脈，獨左關弦數。予曰：《內經》云：臥而驚者屬肝，臥則血歸於肝，今血不靜，血不歸肝，故驚悸於臥也。《三因》用羌活勝濕湯，加柴胡，治臥而多驚悸，多魘溲者，為風寒在少陽厥陰也，非風藥行經不可。今切肝脈弦數，此風熱內侵肝臟，正經所謂血不靜，血不歸肝故也。當用加味逍遙散，涼血舒肝，更加防風以祛其風，使風散熱解，血自歸經矣。公從之，服數劑而愈。</p>
<p><u>大生脈湯</u></p>
<p>人參　麥冬　五味子　天冬　黃柏　川歸　牛膝　紅花　枸杞　生地水煎服，有汁加黃　。</p>
<p><u>平胃散</u></p>
<p>蒼朮（泔水浸，二錢）　厚朴　陳皮　甘草（炙，各一錢）</p>
<p>薑棗煎。</p>
<p><u>桃仁散</u></p>
<p>桃仁　大黃　朴硝（各一兩）　虻蟲（半兩，炒黑）</p>
<p>四味為末，先以醇醋二升半，銀石器內慢火煎，取一升五合，下大黃、桃仁、虻蟲等藥，不住手攪，良久出，丸如梧子大。前一日不晚食，五更初溫酒吞下五丸。</p>
<p><u>清空膏</u></p>
<p>黃芩（酒炒）　黃連（酒炒）　羌活　防風（各一兩）　柴胡（各七錢）　川芎（五錢）　甘草（炙，兩半）</p>
<p>為末，每服三錢，茶調如膏，白湯送下。</p>
<p><u>紫雪</u></p>
<p>黃金（百兩）　寒水石　石膏　滑石　磁石（水煮，三斤，搗煎去滓入後藥）　升麻　玄參（各一斤）　甘草（炙，半斤）　羚羊角　沉香　木香（各五兩）　犀角　丁香（一兩，並搗銼入前藥汁中，煎去渣，入後藥）　朴硝　硝石（各二斤，提淨入前藥汁中，微火煎不住手將柳木攪；候汁欲凝再加入後二味）　麝香（一兩，二錢，研入前藥拌勻）</p>
<p>合成退火氣冷，水調服，每一二錢。</p>
<p><u>溫膽湯</u></p>
<p>陳皮　半夏　茯苓　甘草　枳實　竹茹薑棗煎。</p>
<p><u>導痰湯</u></p>
<p>陳皮　半夏　南星　赤苓　枳實　甘草水煎。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連（二錢）　黃芩　黃柏　梔子（各一錢）</p>
<p>水煎熱服。</p>
<p><u>甘麥大棗湯</u></p>
<p>甘草（三兩）　小麥一升　大棗十枚水六升煮三升，去渣分三服。</p>
<p><u>珍珠母丸</u></p>
<p>珍珠母（另研末，五錢）　當歸　熟地（各一兩半）　人參　茯苓　酸棗仁　柏子仁　犀角（各一兩）　沉香　龍齒蜜丸梧子大，辰砂為衣，每服四五十丸，金銀薄荷湯下，日午及夜服。</p>
<p><u>獨活湯</u></p>
<p>獨活　羌活　前胡　細辛　半夏　棗仁　沙參　茯苓　甘草　五味子（各等分）</p>
<p>每七錢，薑三片，烏梅一個，不拘時煎服。</p>
<p><u>青木香丸</u></p>
<p>青木香　補骨脂　蓽澄茄　黑豆　檳榔（飯裹煨）</p>
<p>為末，糊丸如豆，百沸湯下二十丸。</p>
<p><u>蘇合香丸</u></p>
<p>白朮　青木香　犀角　香附　朱砂（水飛）　檀香　訶梨勒（煨去皮）　安息香（酒熬膏）　沉香　麝香　丁香蓽茇（各二兩）　龍腦　薰陸香（別研）　蘇合香（各一兩）</p>
<p>上為末，細研藥勻，用安息香膏並蘇合香油和劑，丸如彈子大，以蠟櫝固緋絹當心帶之，一切邪神不敢近。</p>
<p><u>清魂散</u></p>
<p>澤蘭葉　人參（各三分）　川芎（五分）　荊芥（一錢）　炙甘草（三分）</p>
<p>為末，溫酒調下，更宜燒漆器淬醋炭於床前，使聞其氣。</p>
<p><u>人參養榮湯</u></p>
<p>人參　白朮　黃　甘草　陳皮　桂心　當歸（酒拌，各一錢）　熟地　五味子　茯苓（各七分）　遠志（五分）　白芍錢半薑棗煎。</p>
<p><u>倒倉法</u></p>
<p>黃牡牛肉（肥嫩者，二三十斤）</p>
<p>上牛肉須切碎洗淨，用長流水桑柴火煮爛，濾去渣，取淨汁，再入鍋中文武熬至琥珀色則成矣。擇一靜室明快不通風者，令病患先一夜不食，坐其中，每飲一鐘，少時又飲，積數十鐘。病在上者必吐，病在下者必利，病在中者吐而且利，視所出物可盡病根乃止。吐利後必渴，不得與湯，其小便必長，取以飲之，名輪回酒，非惟止渴兼滌余垢。行後倦臥覺飢，先與米飯，次與稀粥，三日後方與濃粥、軟飯、菜羹調養半月一月，精神煥發，沉　悉痊矣。須戒色欲半年一年，戒牛肉數年。</p>
<p><u>四物湯</u></p>
<p>（見頭門）</p>
<p><u>八物湯</u></p>
<p>（見口門）</p>
<p><u>十全大補湯</u></p>
<p>（見手足門）</p>
<p><u>八毒赤丸</u></p>
<p>（見腹門）</p>
<p><u>六君子湯、牛黃丸</u></p>
<p>（二方見目門）</p>
<h2>卷之五</h2>
<h3>胸</h3>
<p>夏子益《奇疾方》云：有婦人產後瘀血上攻，忽然兩乳伸出，細小如腸，垂過小肚，痛不可忍，危亡須臾，名曰乳懸。將川芎、當歸各一斤，以半斤銼碎，於瓦罐內，用水濃煎，不拘多少頻服。仍於一斤半銼塊於病患桌下燒煙，令將口鼻吸煙。用盡未愈，再作一料，仍以前法，再用蓖麻子一粒，貼其頂心，則乳頭自復。</p>
<p>《奇病方》云：有男子乳頭忽然壅腫，如婦人乳狀，捫之痛絕，經年藥醫不效，此乃陽明之毒瓦斯，結於乳房之間，非瘡毒乃痰毒也。若瘡毒經久，必然外潰，經年壅腫如故，非痰毒而何？法當消其痰，通其瘀，用化聖通滯湯煎服自愈。此方妙有銀花、蒲公英，直入陽明之經；又得清痰通滯之味為佐，附子引經單刀直入，無堅不破，又何患痰結之不消？或疑附子大熱，諸痛皆屬於火，似不可用。殊不知非附子不能入於至堅之內，況又有梔子、芍藥之酸寒，雖大熱亦解其裂性矣。</p>
<p>又云：有人心窩外忽然生瘡如碗大，變成數口，能作人聲叫喊，此乃憂郁不舒而祟憑之也。用生甘草三兩，人參五錢，白礬、茯神、銀花各三錢，水煎服，即不鳴，再用二劑即愈。蓋甘草消毒；人參、茯神以安其心；白礬以止其鳴；銀花以解其火熱，故易以奏效也。</p>
<p>《怪症方》云：有人忽胸背皆駝，頸項漸短。問其故，食旱鱉所致。用紫蘇煎湯洗患處，次用龜尿搽之愈。</p>
<p>〔源按〕此症即古云龜胸龜背是也。古方皆作肺治，謂受邪喘久所致。又乳母多食辛熱，貽毒於見，感之於肺，因肺脹大，故胸膈高滿如龜狀也。蓋胸膈之上，乃肺之分野，又肺主皮毛，若背受風邪，客於脊骨，故背高而僂傴。又或兒坐又早，亦能致之，然多成痼疾。考之古法，惟有百合丹、枳殼防風丸，乃灸肺　、膈　二穴而已，別無治法。若前症因食旱鱉患此，乃毒感於肺，故肺脹大而胸背皆駝也。紫蘇解一切魚毒，而更能疏通肺氣，龜尿軟骨，然亦宜速治，久則骨節堅硬，則不可復矣。</p>
<p>《宣室志》云：天寶中，有隴西李生，自白衣調選桂州參軍。既至任，以熱病旬余，覺乳痛不可忍，及視之，高若癰腫之狀，即召醫驗其脈。醫者云：臟腑無他苦，臆中有物，以喙攻其乳，乳痛而癰不可為也，又旬余病甚，一日癰潰，有雉自左乳中突而飛去，不知所止，是夕李生卒。</p>
<p>朱丹溪治東陽王仲延，咽膈間常覺有物悶悶然，每食必屈曲自膈而下，且梗澀作微痛，食亦減，他無所苦。朱視其脈，右甚澀而關甚沉，左卻和。朱曰：污血在胃脘之口，氣因鬱而為痰，此必食所致，明以告我，彼不自覺。朱又曰：汝去冬好食何物為多？曰：我每日早必單飲點剁酒兩三杯，逼寒氣。為制一方，用韭汁半盞令細呷之，一日三服，盡韭二斤而安。</p>
<p>一婦因哭子後，胸患痞有塊如杯。食減，面淡黃黲黑，憊甚，脈弦細虛澀，日晡寒熱，知其勢危，補瀉兼用。以補中益氣湯隨時令加減與東垣痞氣丸相間服之，食前用湯，食後用丸，一月寒熱退，食稍進，仍服前藥。二月後，忽夜發寒熱，至天明始退，其塊如失，至晚手足下半節皆腫，遂停數日。忽夜手足腫如失，天明塊復有，而小一暈。以二陳湯，加白朮、桔梗、枳實，服半月而安。</p>
<p>張子和治一婦，為室女時，心下有冷積如覆盆，按之如水聲，以熱手熨之如冰。於歸十五年不孕，其夫欲黜之。張曰：毋庸，若用吾藥，病可除，孕可得。從之。診其脈沉而遲，尺脈洪大有力，非無子之候也。乃先以三聖散，吐痰一斗，心下平軟，次服白朮調中湯，五苓散，後以四物和之。不再月，氣血合度，數月而孕。</p>
<p>程文彬治一孕婦，懷七月，胸膈飽悶氣喘，忽吐一物。如小腸寸許，舉家驚疑其胎爛。程至診得寸口脈洪滑，知其氣血少，胎氣逆上，中焦素有濕熱，濕生痰，知所吐之物乃痰結聚，病名子懸。以紫蘇飲，加芩連貝母十劑獲愈。</p>
<p>永徽中有僧惟則，病噎不能食，囑諸弟子曰：吾死後，便可開吾胸喉，視有何物。自經而卒，弟子儂言開之，中得一物，形似魚有兩頭，遍體皆肉鱗。乃置碗中，跳躍不止，戲投諸味，皆隨化盡。時適有一僧，以靛置碗中，此蟲隨繞碗而去，須臾化水。此乃蟲瘕非噎比，因此後人多以靛治噎，誤矣。</p>
<p>昔有人患　瘕死，遺言令開腹視之，得塊干硬如石，有五色紋理。人謂異物，竊去削刀柄，後因以刀刈三棱，柄化為水，乃知此藥可療　瘕也。</p>
<p>時康祖大夫，患心漏十余年，當胸數竅，血液長流，醫莫能治。或云竅多則愈損，閉則慮穴他岐，當存其一二，猶為上策，坐此形神困悴。又苦腰痛，行則傴僂，不飲酒；雖雞魚蟹蛤之屬，皆不入口。溫州郡守韓子溫，見而憐之，為檢《聖惠方》載腰痛一門，冷熱二症示之，使自擇。康祖曰：某年老久羸，安敢以為熱，始作寒症治療。取一方用鹿茸者，服之逾旬痛減，更覺氣宇和暢，月余腰屈復伸，無復叫痛，心漏亦愈。以告醫者，皆莫能測其所以。後九年，康祖自鎮江通判滿秩造朝訪子溫，則精力倍昔，飲啖無忌，漏愈之後，日勝一日。子溫書吏吳弼，亦若是疾照方服之，浹旬而愈。其方：鹿茸去毛酥炙微黃，附子炮去皮臍，皆二兩，鹽花三分為末，棗肉丸三十丸，每日一丸，空心酒下。</p>
<p>天聖中，工部尚書忠肅公家有媼，病漏十余年。一日有醫過，視之曰：此可治也。即取活鱔魚一條，削竹釘五七枚，乃擲鱔於地，屈曲圍盤以竹釘貫之，覆瘡良久取視，有白蟲數十如針，將鱔即置杯中，蠕動如線，後覆之又得十余枚，如是五六次。醫者曰蟲尚未盡，然皆小蟲，請以常用藥敷之。時用檳榔、黃連二味，即為散敷之。明日乃以干艾作湯，投白礬二三錢，先洗瘡口，然後敷藥。蓋人血氣冷必假艾力以佐陽，而艾亦能殺蟲也。如是者再，即生肌，不逾月愈。醫曰：瘡一月不消，則有蟲，蟲能蠕動，氣血亦隨之，故瘡不可遽合，合則結毒，實蟲所為。</p>
<p>一人別處無汗，獨心孔一片有汗，思慮多則汗亦多，病在用心，名曰心汗。宜養心血，以艾煎湯調茯神末治之。</p>
<p><u>化聖通治湯</u></p>
<p>銀花　蒲公英（各一兩）　花粉　白芥子（各五錢）　附子　木通（各一錢）　柴胡（二錢）　白芍　梔子　茯苓（各三錢）</p>
<p>水煎。</p>
<p><u>百合丹</u></p>
<p>大黃（煨）　天冬　杏仁　百合　桑皮　甜葶藶　軟石膏上為末，煉蜜為丸，梧子大。每服五丸白湯下，臨睡服。</p>
<p><u>枳殼防風丸</u></p>
<p>枳殼　防風　獨活　前胡　麻黃　當歸　大黃（煨，各一錢）</p>
<p>面糊丸黍米大，米飲下。</p>
<p><u>東垣痞氣丸</u></p>
<p>黃連（八錢）　厚朴（五錢）　吳茱萸（三錢）　白朮（土炒）　黃芩（二錢）　茵陳（酒炒）　乾薑（炮）　砂仁人參　茯苓　澤瀉（各一錢）　川烏（炮）　川椒（各五錢）　肉桂　巴豆霜（各四錢）</p>
<p>蜜丸燈草湯下。</p>
<p><u>三聖散</u></p>
<p>甜瓜蒂　防風　藜蘆為末，熟水調下。</p>
<p><u>白朮調中湯</u></p>
<p>白朮　橘皮　茯苓　澤瀉（各一錢）　砂仁　官桂　藿香　炮薑（各五分）　甘草（一兩）</p>
<p>白湯入蜜少許，調服二錢。</p>
<p><u>五苓散</u></p>
<p>豬苓　茯苓　桂　澤瀉　白朮為末，每服三錢。</p>
<p><u>紫蘇散</u></p>
<p>蘇葉（一錢）　當歸（七分）　川芎　芍藥　人參　陳皮　大腹皮（各五分）　甘草（二分）</p>
<p>薑棗煎。</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>二陳湯</u></p>
<p>（見目門）</p>
<p><u>四物湯</u></p>
<p>（見頭門）</p>
<h3>腹</h3>
<p>夏子益《奇疾方》云：有人患腹中如鐵石，臍中水出，漸變作蟲行之狀，繞身咂啄，癢痛難忍，扒掃不盡。用蒼朮濃煎湯浴之，仍以蒼朮末入麝香少許，水調服痊。</p>
<p>〔源按〕經云：寒以堅之。又云：水濕生蟲，此症臍中水出，漸變作蟲行之狀，繞身咂啄，此即水濕生蟲也。蓋水濕而腹如鐵石，即所謂寒以堅之，因內兼寒也。故蟲不從內生，反生於外耳。蓋蟲生水濕，必得陽氣吹之方生，此水在腹，本已得生生之氣，而有生蟲之象，因客寒內入，氣不復化，故但流水於外，復得皮膚之血氣吹感而生故也。蒼朮燥濕散寒，乃煎湯外洗，以除已出之水，更為末加麝，內治以絕其根。麝香通諸竅，暖水臟，而更能殺蟲，故用之宜耳。</p>
<p>又云：有人尸厥，奄然死去，腹中氣走如雷。用硫黃一兩，焰硝五錢，細研分三服，好酒煎覺煙起則止，候溫灌之，片時再服而安。</p>
<p>〔源按〕《靈樞經》云：邪客於手足太陰、少陰，足陽明之絡，皆會於耳中，上絡左角。若臟氣相形，或外邪相杵，則氣遏不行，五絡俱絕，諸脈伏匿，令人身脈皆動，而形無所知，其狀若尸，故名尸厥。此感冒不正之氣，忽然手足逆冷，肌膚粟起，頭面青黑，精神不守，牙緊口噤，昏不知人，頭旋暈倒者是也。凡吊死問喪，入廟登　，飛尸鬼擊，多有此病，急用蘇合香丸灌之。一法急用薑汁半盞，酒半盞，煎沸灌之。灸百會四十九壯，氣海、丹田二三百壯，覺體暖即止，後以陰毒法治之。此臟氣虛寒之症也，世俗不識，多作中風而治，鮮不斃矣。又有七情內傷，卒然氣逆，身冷僵撲，牙關緊急，痰涎潮壅，昏不知人者，此氣厥也。</p>
<p>凡忿怒太甚，多有此病，勿誤作中風而用疏風之藥，急以蘇合香丸灌之，候省以八味順氣散，或木香調氣散，調降其氣，自然平復。有痰者以四七湯，加南星、木香治之。然暴厥不省人事，有不治自愈者，昔宋仁宗貴妃一日食次，忽撲倒，遍身卒冷，急召孫尚杜任至。奏曰：不妨，此氣厥耳，少頃吐即復蘇。坐良久而果蘇。上問：因何故而蘇，又因何而得？奏曰：貴妃方食，因憂怒氣上，與食相並，故如此，吐即氣通，故復蘇也。《素問》云：厥或令人腹滿，或暴不知人，或至半日，遠至一日，乃知人者，陰氣盛於上則下虛，下虛則腹脹滿，陽氣盛於上則下氣重上，而邪氣逆，逆則陽氣亂，陽氣亂則不知人也。又云：血之與氣，並走於上，則為大厥，厥則暴死，氣復反則生，不反則死是也。又有醉飽之後，或感風寒，或著氣惱，忽然厥逆昏迷，口不能言，肢不能舉者，此食厥也。蓋食滯胸中，陰陽痞隔，升降不通，故生此症。若誤作中風，而用祛風散氣之劑，則胃氣重傷，死可立待，宜煎薑鹽湯探吐其食，後以平胃散加茯苓、白朮、麥芽、半夏之類調理。若有風寒尚在者，以藿香正氣散解之，氣滯不行者，以八味順氣散調之。</p>
<p>《奇病方》云：有人覺腸胃中癢，而無處扒搔者，只覺置身無地，此乃火鬱結而不散之故。法當用表散之藥，服化癢湯數劑自愈。</p>
<p>又云：有人臍中不痛不癢，忽出血不止，此亦奇疾也。方用六味東加骨碎補一錢，飲之即愈。蓋臍是腎經之位，而出血即是腎火之外越也。六味湯滋其水則火自息焰矣，骨碎補專能止竅，故加入相宜耳。</p>
<p>又云：有人臍口中忽長二寸，似蛇尾狀，不痛不癢。此因任帶之脈，痰氣壅滯，結成此症。法當以硼砂一分，白芷、雄黃各一錢，冰片一分，兒茶二錢，各為細末，將其刺尾出血，心昏暈欲死，急以藥點之，立化為黑水。用白芷三錢，煎湯服之自愈。倘不愈不必再治，此乃孽病，非藥所能療也。</p>
<p>又云：有人患蛇生腹中，即以身上辨之，身必干涸如柴，似有鱗甲者，蛇毒也，最易辨之。方用白芷一味為末，每日米飲湯送下即愈。</p>
<p>昔又有患者，飲食如故，發則如癲，面色青黃，小腹脹滿，狀如妊孕，醫診其脈，與症皆異，而難明主療。忽有一山叟曰：聞開皇六年，灞橋有患此病，蓋因三月八日水邊食芹菜得之。有識者曰：此蛟龍病也。為龍游芹菜之上，因食之為病。遂以寒食糖，每劑五合，服之數劑，吐一物，形雖小而狀似蛟龍，遂愈。</p>
<p>〔源按〕仲景云：春秋二時，龍帶精入芹菜中，人誤食之，為病面青色，腹滿如妊，痛不可忍，此內生蛟龍也，但服硬糖二三升，日三度，吐出蜥蜴便瘥。</p>
<p>華佗云：有人患胃脘不時作痛，遇飢更甚，尤畏大寒，日日作楚。余以大蒜三兩，搗汁灌之。忽吐蛇一條，長三尺而愈，蓋蛇最畏蒜氣，此余親手治人者也。</p>
<p>又云：余治一人，腹中攻痛十余日，鬢發墮落。余曰：是脾半腐，可刳腹治之也。使飲藥令臥，破腹就視，脾果半腐壞，以刀斷之，割去其惡肉，以膏敷之即瘥。</p>
<p>〔源按〕此症除此公之外，無人能治，予所錄者，恐後人有腹痛發落，不知脾腐故耳。</p>
<p>陳正敏《遁齋閑覽》云：楊　中年得異病，每腹中有小聲應之，久漸聲大。有道士見之曰：此應聲蟲也。但讀本草，有不應者治之，讀至雷丸不應，遂頓服數粒而愈。</p>
<p>《泊宅編》云：永州通判廳軍員毛景得疾，每語喉中必有物作聲相應。有道人教令學誦本草藥名，至藍而默然。遂取藍汁飲之，少頃吐出肉塊長二寸，人形悉具，遂愈。</p>
<p>《熊氏補遺》云：有人腹中有聲似鬼哭，急用黃連煎濃汁，每常呷之，自愈。</p>
<p>〔源按〕凡病患奇聲者，總屬蟲類。此症有聲似鬼哭，亦蟲也。蟲乃溫熱所生，故用黃連寒清其熱，苦燥其濕。且苦寒沉陰肅殺，伐傷生和之氣，猶冬令嚴寒，則諸蟲盡滅耳。</p>
<p>《良方》云：有孕婦腹內鐘鳴，用鼢鼠窟土為末二錢，入麝香少許，溫水調服立愈。或黃連煎濃汁，令婦時時呷之。</p>
<p>或問：所言病患奇聲者，皆屬蟲類。此症孕婦腹內鐘鳴，可亦是蟲乎？予曰：非也，凡聲不出宮商角徵羽五音者，悉屬臟病，非蟲也。蓋脾屬土，其音宮，宮音重而大，孕婦腹鳴如鐘，即土之宮音也。然此音非郁不發，郁非熱亦不發。症由脾土素有鬱熱，因胎日長，而其氣更郁，更郁則胎氣不順，不順則逆，逆則所郁之氣因逆而發是音也。（猶雷因元陽之氣閉郁，鬱而發之則雷聲內作）。土能清熱下氣，而鼠窟土乃至陰之土，可護麝直達脾陰之所，而共散其氣，兼清其熱，更納其香（土能納香），使胎亦無損而愈。或用黃連專清脾陰之火，使火滅氣散，而病亦可愈也。</p>
<p>主簿陳子直妻有異疾，每腹脹則腹中有聲如擊鼓，遠達於外，聞者疑似作樂，腹脹消則鼓聲亦止，一月一作。經數十醫皆莫能明其疾。</p>
<p>又問：是案腹鳴如鼓，乃一月一作，此何故乎？予曰：經云諸病有聲皆屬於熱，此症腹脹有聲如鼓，亦宮音也。因脾土虛而有熱，熱而兼郁所作。然作必一月者，蓋必由經而病。醫案中雖知其病之奇，而不明其病之源也。夫月事以時而下，而血必根乎氣，氣凝則凝，氣滯則滯。然氣滯亦有虛實之辨，氣實則痛，氣虛則脹。如應期之日，若遇太過，則必將行而痛，痛可立運而下。不及，則經雖應期而動，而無如氣不能營運，則氣滿郁於中，故即腹脹，脹則脾土所郁之氣，從血中外泄，故有是音也。所泄之際，血亦漸動，動則漸行而下，故腹脹消而鼓聲亦止，所以作必一月。若非因經而病，何得有是症乎？治若清補脾胃和血調經，其症亦當自愈。</p>
<p>又問：鐘鼓二聲之音，其音俱宮，故病皆屬土，乃同匙土病，而何故有鐘鼓二聲之患乎？予曰：此氣分順逆耳。鐘聲，雖脾土所發之音，乃因氣逆於肺，肺納其氣，則氣不散漫，所以其鳴如鐘。若肺不居上，則氣散漫不收，必當聲發如雷也。蓋肺屬金，其音商，當肺納氣之時，而肺之商音亦作，故聲發如是耳。鼓聲，其音走下，故下復覆皮，以應其下，症由土音下泄，故作聲如鼓也。</p>
<p>《肘後方》云：有人忽腹痛脹急，不得氣息，上衝心胸，旁攻兩脅，或塊壘涌起，或牽引腰脊，此乃身中尸鬼，接引為害。取屋上四角茅入銅器中，以赤帛覆腹，將銅器燒茅令熱，隨痛追遂，　下癢即瘥也。</p>
<p>又云：有人與女子交接，忽腹痛欲死，此陰毒也。用　豬血乘熱和酒飲之。</p>
<p>《寇氏衍義》云：有小兒臍中血出多啼，或出水汁，用白石脂末溫撲之，日三度，勿揭動自愈。</p>
<p>孫思邈云：有山野人好嚙虱，在腹生長為虱瘕。用敗梳、敗篦各一枚，各破作兩分，以一分用水五升，煮取一升，調服即下出。</p>
<p>《客座新聞》云：青陽復氏素業醫，任江陰訓利，有儒生之父，患腹脹，求其診視。乃脈洪而大，有濕熱生蟲之象，況飲食如常，非水腫蠱脹之症。以石榴、椿樹各取東引根，加檳榔各五錢，用長流水煎，空心服，少頃腹作大痛，瀉下長蟲一丈許，遂愈。</p>
<p>李子豫治豫州刺史許永之弟，患心腹痛，十余年殆死。忽一日夜間聞屏風後有鬼，謂腹中鬼曰：明日李子豫從此過，以赤毒殺汝，汝其死矣。腹中鬼答曰：吾不畏之。於是使人候子豫，豫果至。未入門，患者聞腹中有呻吟聲。及子豫入視曰：鬼病也。遂以八毒赤丸與服，須臾腹中雷鳴彭轉大利，數行遂愈。</p>
<p>嗣伯治張景聲十五歲，患腹脹面黃，眾藥不能治。伯曰：此石蛔爾，極難療，當取死人枕煮服之。得大蛔蟲，頭堅如石者五六升，病即瘥。王晏問其故？曰：石蛔者，醫療既僻，蛔蟲搏堅，世問藥不能遣，須以鬼物驅之。然後乃散，故用死人枕煮服之。</p>
<p>丹溪視一婦，腹漸大如懷子，至十月，求易產藥。察其神色甚困難，與之藥，不數日生白蟲半桶。蓋由婦之元氣大虛，精血雖凝，不能成胎而為穢腐，蘊積之久，濕化為熱，濕熱生蟲，理之所有，亦須周十月之氣，發動而產，終非佳兆，其婦不及月死。濕熱生蟲，譬之溝渠污濁，久不流，則諸蟲生於其間矣。</p>
<p>一婦以毒藥去胎後，當臍右結塊，塊痛甚則寒熱。塊與臍高一寸，痛不可按，脈洪數。朱謂曰：此瘀血流溢於腸外盲膜之間，聚結為癰也。遂用補氣血、行結滯、排膿之劑，三日決一鋒釘，膿血大出，內如糞狀者臭甚。病婦恐，因謂氣血生肌，則內外之竅自合，不旬日而愈。</p>
<p>汪石山治一人年五十，形色蒼白性急，語不合則叫號氣減嘔吐，左奶下忽有一點痛，後又過勞惱怒，腹中覺有穢氣衝上，即嗽及吐，亦或乾咳無痰，甚則嘔血，時發如瘧。或以瘧治，或從痰治，或從氣治，皆不效。診之脈皆浮細，略弦而駛。曰：此土虛木旺也。性急多怒，肝火時動，故在奶下痛者，肝氣鬱也。穢氣衝者，肝火凌脾而逆上也，嘔血者，肝被火擾，不能藏其血也；咳嗽者，金失所養，又受火克而然也；嘔吐者，脾虛不能運食，鬱而為痰也。寒熱者，水火交戰也。茲宜瀉肝木之實，補脾土之虛，清肺金之燥，庶幾可安。以青皮、山梔各七分，白芍、黃　各一錢，歸身、阿膠各八分，甘草、五味各五分，白朮、麥冬各錢半，人參三錢，煎服月余，諸症悉平。</p>
<p>一人長瘦體弱，病左腹痞滿，穀氣偏行於右，不能左達，飲食減，大便滯。汪診其脈，浮緩而弱，不任尋按。</p>
<p>曰：此土虛木實也。用人參補脾；枳實瀉肝；佐以芍藥引金泄木；輔以當歸和血潤燥：加厚朴、陳皮以寬脹；兼川芎、山梔以開鬱。服十余帖稍寬，因糞結，思飲人乳。汪曰：只恐大滑耳。果然，遂停乳，仍服前藥，每帖加人參四五錢，後思香燥物。曰：脾病氣結，香燥無忌也。每日食燥榧一二十枚，炙蒸餅十數斤，以助藥力，年余而安。</p>
<p>一婦年近五十，病腹痛。初從右指冷起，漸上至頭，如冷水澆灌。而腹大痛，則遍身大熱，熱退則痛止。或遇食，或不食，皆痛。每常或一年一發，近來二三日一發，遠不過六七日。醫用四物湯和柴胡、香附不應，更醫用四君、木香、檳榔亦不應；又用二陳加紫蘇、豆蔻，又用七氣等劑，皆不應。汪診脈皆微弱，似有似無，或一二至一止，或三五至一止，乃陽氣大虛。獨參湯五錢，陳皮七分，煎服十數帖而愈。夫四肢者，諸陽之末，頭者，諸陽之會。經曰：陽虛則惡寒。又曰：一勝則一負，陽虛陰旺，乘之則發寒。陰虛陽旺。盛之則發熱。今指梢逆冷，上至於頭，則陽負陰勝可知矣。陽負則不能健行，而痛大作，痛作而復熱者，物極則反也。及其陰陽氣衰而不相爭，則熱歇。痛亦息矣。況脾胃多氣少血之經，氣能生血，氣不足則血亦不足。仲景曰：血虛氣弱，以人參補之。故用獨參湯與服，而數年之痛遂愈矣。</p>
<p>錢仲陽治一童子，痘色全好，但腹中一瘡痛，色即變紫，痛止色復舊，脈洪大。時已十余日，灌漿將滿，但不靨，乃以藥下其血積，瘡遂轉好愈。</p>
<p>喻嘉言治葉茂卿乃郎，出痘未大成漿，其殼甚薄。兩月後，尚有著肉不脫者。一夕腹痛，大叫而絕，即梨汁入溫湯灌之，少蘇，頃復痛絕，又蘇。遂以黃芩二兩煎湯，加梨汁與服，痛止。令制膏子頻服，不聽。其後忽肚大無倫，一夕痛叫，小腸突出臍外五寸，交各二寸半，如竹節壺頂狀。莖物交折長八九寸，明亮如燈籠，外症歷來不經聞見。喻用黃芩、阿膠二味，日進十余劑，三日始得小水，五日後水道清利，臍收腫消而愈。後門人問而明云：夫一身之氣，全闋於肺，肺清則氣行，肺濁則氣壅。肺主皮毛，痘不成漿，肺熱而津不行也。殼著於肉，名曰甲錯。甲錯者，多主肺癰。癰者壅也，豈非肺氣壅而然。與腹痛叫絕者，壅之甚也。壅甚則水道亦閉，是以其氣橫行其中，而小腸且為突出。至於外腎弛長，其剩事矣。緣病已極中之極，惟單味多用，可以下行取效。故立方甚平，而奏功甚捷耳。試以格物之學，為子廣之。凡禽畜之類，有肺者有尿，無肺者無尿，故小道不利，而成腫滿，清肺為急，此義前人闡發不到，後之以五苓八正等方味治水者，總之未晤此旨。至於車水放塘，種種劫奪膀胱之劑，可不辨之於早歟？嘉靖中，長州鄒表之妻，患小腹下生一塊，形如梅李，久則腐潰，始吐出若米粞之狀，後又若蜆肉之狀。以指捻開，則有長發數條在內，名醫竟不能治，遂致不起。蛇發瘕往往載於方書，或因食物相感，假血而成，理或有之，不可指為妄誕也。</p>
<p>一人年二十三歲，膈有一點相引而痛，吸氣覺皮急，此有污血也。滑石一兩，桃仁、黃連各五錢，枳殼一兩，炙甘草二錢，為末，每服一錢五分，以蘿卜自然汁煎飲之，一日五六服。</p>
<p>予裡一婦，適咬針線，其針失口，未幾入喉而下，茫無措置。一鄰人云：速當取蟾兩目，用溫水吞下，可相針頭尾而出，服之果驗。又武林一童子，戲作吞針法，針亦入腹，治之亦如前而出。使蟾未有時，當往向南桑樹底下，開落丈許自有。</p>
<p><u>化癢湯</u></p>
<p>柴胡　梔子　天花粉（各三錢）　白芍（一兩）　甘草（二錢）</p>
<p>水煎服。</p>
<p><u>調氣和胃散</u></p>
<p>白豆蔻　木香　丁香　藿香　檀香　砂仁　甘草　蒼朮　厚朴　陳皮水煎服。</p>
<p><u>木香調氣散</u></p>
<p>木香　丁香　藿香　檀香　砂仁　白豆蔻　甘草為末，沸湯入鹽少許，調服二錢。</p>
<p><u>四七湯</u></p>
<p>人參　官桂　半夏（各一錢）　甘草（五分）</p>
<p>加薑煎。</p>
<p><u>藿香正氣散</u></p>
<p>茯苓　白芷　蘇葉　陳皮　桔梗　大腹皮　甘草　白朮　厚朴　半夏（各兩半）　藿香（三兩）　前胡（一兩半）</p>
<p>上每五錢，薑三片，棗一枚，水煎乘熱服。</p>
<p><u>八味順氣散</u></p>
<p>白朮　茯苓　青皮　陳皮　人參　白芷　烏藥　甘草水煎服。</p>
<p><u>八毒赤丸</u></p>
<p>雄黃　朱砂　礬石　附子（炮）　藜蘆　巴豆（去油及筋膜）　丹皮（各一兩）　蜈蚣一條（炙）</p>
<p>為末，蜜丸小豆大，水下七丸。</p>
<p><u>六味湯</u></p>
<p>（即六味丸見耳門）</p>
<p><u>平胃散</u></p>
<p>（見心神門）</p>
<h2>卷之六</h2>
<h3>身</h3>
<p>夏子益《奇疾方》云：有人患淵疽，發於肋下，久則一竅，有聲如嬰兒啼。灸陽泉二七壯，聲止而愈。</p>
<p>〔源按〕古去瘡久不愈，則內生蟲，此患淵疽，有聲如嬰兒啼者，因內生蟲也。然不用別治，而獨用艾灸。蓋人血氣冷，則瘡不消不潰。故假艾力以溫其內，使氣血得行，其疽自滅。況艾更能殺蟲，故但灸而愈。</p>
<p>又云：有人因艾火灸瘡，痂退落，瘡內鮮肉片子如蝶狀，騰空飛云，痛不可言，血肉俱壞，此火毒生怪病也。用朴硝、大黃為末，水調下，微利即愈。</p>
<p>又云：有人病眼赤，鼻張大喘，渾身如斑，毛髮如銅鐵，乃胃中熱毒瓦斯結於下焦。用白礬、滑石各一兩，為末，作一服，水三碗煎減半，不住服，服盡即安。</p>
<p>又云：有人患生蟲，如蟹走於皮下，作聲如小兒啼，為筋肉所化。雄黃、雷丸各一兩，為末，糝豬肉上炙熟，吃盡自安。</p>
<p>又云：有人患身及頭面生毒浮腫，如蛇狀。用雨濕磚上青苔一錢，水調塗之立應。</p>
<p>又云：有一婦產後，食茶粥二十余碗，一月後，身之上下發水冷數塊，人以手指按其冷處，即冷從指下上應至心。</p>
<p>如是者，諸治不效，以八物湯去地黃，加橘紅，入薑汁、竹瀝一酒鐘，十服乃痊。</p>
<p>又云：有人遍身忽然肉出如錐，癢而且痛，不能飲食，名曰血壅。不速治，必潰膿血，以赤皮蔥燒灰淋洗，飲淡豆豉湯數盞自安。</p>
<p>〔源按〕經云：營氣不從，逆於肉裡，此症為熱毒內攻，營氣逆於肉裡，而生奇毒也，癢乃津液枯澀，痛因氣血不行，故癢痛並作。蔥有疏表通氣之功，以洗於外，豉能清熱解毒，以飲於內，內外兼治，其病故痊。</p>
<p>又云：有人毛竅節次出血不止，忽皮脹如鼓，須臾耳目口鼻被氣脹合欲絕，此名脈溢。急用生薑自然汁和水合半盞，服即安。</p>
<p>〔源按〕在毛竅節次血出，而忽皮脹如鼓，及口鼻等處被氣脹合欲絕者，此必疫邪內攻，迫血於脈絡節次而出，名曰脈溢，蓋邪壅於中，衛氣散解，因衛不營行而不能衛護其血，故血外流。血流於外，邪當自解而不解者，蓋衛失其度，因失血而更虛其衛。其邪益甚，故忽皮脹如鼓，而頃刻氣滿欲絕也。經云：失之則內閉九竅，外壅肌肉，衛氣散解。此時若不急治其標，勢將立斃。故用生薑辛散逆氣之味，以搗自然汁，與水和飲，取其性須疾速，通格下關，使邪退而病可即安。</p>
<p>又云：有人忽遍身皮底混混如波浪聲，癢不可忍，抓之血出不能解，謂之氣奔，以苦仗、人參、青鹽、細辛共一兩，作一服，水煎飲盡便愈。</p>
<p>〔源按〕此症由肺氣熱而賊風襲之，故客於皮底之間，與氣相搏，因發聲若波浪之聲，而謂之氣奔也。蓋肺屬金，其音商，商音清而勁，故聲作如是。若無熱則聲不鳴，無風則氣不奔，即《內經》所謂諸病有聲皆屬於熱。又云：風善行而數變，故所患若是耳。蓋風盛則燥，燥則血澀，津液不行，故遍身搔癢，致血出不能解。苦杖、青鹽、細辛，清熱散風，而兼平氣逆；人參以補正氣。所謂邪之所湊，其氣必虛是也。</p>
<p>又云：有人患身面生瘡，如貓兒眼樣，有光采，膿血，但痛癢不常，飲食減少，名曰寒瘡。多吃蔥韭、雞魚自愈。</p>
<p>〔源按〕一凡瘍瘡，若內毒盛者，則必現奇形奇色。此症生瘡如貓兒眼樣，有光采，乃毒盛故也（猶蟲物等有毒，其色必鮮艷有光）。毒盛而兼寒內閉，至氣血欲行不行，似攻非攻，故不得作膿，而但痛癢不常也。此毒深寒閉，非攻不可，故多食蔥韭、雞魚之物自愈。</p>
<p>《奇病方》云：有人皮膚手足之間，如蚯蚓唱歌者，此乃水濕生蟲也。方用蚯蚓糞，以水調塗敷患處，約寸濃，鳴即止。再用白朮五錢，苡仁、芡實各一兩，甘草、附子、黃芩各三錢，防風五分，水煎服即愈。蓋治濕則蟲無以養，而更有甘草解毒殺蟲，防風去風逐瘀，附子斬關而搗邪，所以奏功如神也。</p>
<p>〔源按〕此症生蟲，如蚯蚓歌然。然亦有被蚯蚓咬毒，形如大風，眉發皆落，患處常聞蚯蚓唱歌者，用濃煎鹽湯浸身數遍自愈。昔浙西將軍張韶患此，每夕蚯蚓鳴體，一僧用此方而安，蚓畏鹽故也。</p>
<p>又云：有人腰間忽長肉痕一條，如帶圍至臍間，不痛不癢，久之飲食少進，氣血枯槁。此乃腎經與帶脈不和，又過於縱欲，乃得此疾。久則帶脈氣衰，血亦漸耗，顏色黑黯，雖無大痛，而病實篤也。法當峻補腎水，而兼補帶，自然身壯而痕消。滅痕丹每日早晚各服一兩，十日後，覺腰輕，再服十日，其肉糝淡，更服全消。然必須絕欲三月，否則無效。</p>
<p>又云：有人遍身發癢，以錐刺之，少已復癢；以刀割之快甚，少頃又癢甚，以刀割之覺疼，必流血不已。以鍛石止之，則血止而癢作又以刀割之，又流血，又以鍛石止之，止之又癢，勢必割至體無完膚而後止。方用人參一兩，倘值病者無力買參，則用黃　二兩代之，服三劑，必癢止痛平。此本孽病，若愈後須痛改前惡，庶幾不再發，否則發不能再救矣。</p>
<p>《類編》云：景陳弟子拱年七歲時，脅間忽生腫毒，隱隱見皮裡一物，頗肖鱉形，微覺動轉，其掣痛不堪。德興古城村外有老醫見之，使買鮮蝦為羹以食，疑以為瘡毒所忌之味，醫竟令食之，下腹未久，痛即止。喜曰：此真鱉瘕也，吾求其所好，以嘗試之耳。乃制一藥，如療脾胃者，而碾附子末二錢，投之數服而消。明年病復作，但如前補治，遂絕根。</p>
<p>《名醫錄》云：汾州王氏得病在脅，有聲如蝦蟆，常欲手按之，不則有聲聲相接，群醫莫能辨。聞留陽山人趙巒善診，趙曰：此因驚氣入於臟腑，不治而成疾，故常作聲。王氏曰：因水邊行次，有大蝦蟆躍高數尺，驀作一聲，忽驚叫，便覺右脅牽痛，自後作聲尚似蝦蟆也。趙診其脈，右關脈伏結，此積病也，當作積病治。用六神丸泄下青涎，類蝦蟆之衣，遂瘥。</p>
<p>《楊氏直指方》云：有人患癌瘡，上高下深，顆顆累垂，裂如瞽眼，其中帶青，頭上各露一舌。因毒深穿孔，男則多發於腹，女則多發於乳，或項或背，令人昏迷。急宜用地膽為君，佐以白牽牛、滑石、木通利小便，以宣其毒，更服童便灌滌余邪，乃可得安也。</p>
<p>《五湖漫聞》云：無錫一人，遍身膚肉有紅蟲如線，長二三寸，時或游動，了了可見，癢不可當，醫莫能治。一日偶思食水蛙，蛙至蟲遂不見，乃市蛙為脯，旦晚食之，月余其蟲漸消。</p>
<p>又云：吳城一人腰間生一癤，膿中流出蛔蟲四條，醫亦甚駭，耳目所未經者，癤後自愈，不致傷生。楓橋瘍醫龔生，目睹人，小腹生癤，流出蛔蟲兩條，俱長六七寸，後亦</p>
<p>《端效方》云：有人患白口惡瘡，其瘡如木耳，因肝木濕熱所生，不拘大人小兒，俱用五倍子、青黛等分為末，以筒吹之自愈。</p>
<p>《危氏方》云：有人患身體生泡如甘棠梨狀，每個出水內有石一片，如指甲大，其泡復生抽盡肌肉即不可治。用荊三棱、蓬莪朮各五兩為末，分三服，酒調連進愈。</p>
<p>〔源按〕此症因邪客於皮膚之內，分肉之間，而衛氣逆，逆則利用之肺金變而為頑金矣。不但不能主氣，反將頑劣之性以干脾土，土即隨金施化，而金質堅剛，因此肌肉化為石片。即《內經》所謂其性剛，其化堅斂是也。至石片從水而出，蓋因人身全賴金氣榮養，氣能管束津液，化精微而榮養於內，乃肺為邪毒所干，致頑劣其性，不但不能束津液而化精微，反化肉為石，致津液並隨所化之處發為水泡，故石片從水中出耳。治用三棱、莪朮破其血氣，兼散其毒，毒散氣和則金氣復利。肉裡得順，其病自瘳。本草云：二物能治瘡硬，性能治塊消癖故也。是症非此不能治堅剛石片，故用之相宜。</p>
<p>或問：人有足底發泡，如泡平之後，以指破之，間有硬片如皮生內，亦是肌肉所化否？予曰：非也。此泡初即刺破，則但有水而無硬片也。此水感金氣所生，故泡平之後，而有此片，並非如肌肉化石，由水中出也。</p>
<p>李樓《怪症方》云：一人灸火至五壯，血出如尿不止，手冷欲絕，以酒炒黃芩二錢為末，酒服即止。</p>
<p>《外台秘要》云：有人患身疽如石狀，如痤癤而皮濃，名曰石疽。以穀子搗敷即愈。</p>
<p>〔源按〕本草云：穀子即楮實，山野中處處有之，其樹汁黏如膠漆，即俗呼穀樹脂是也。</p>
<p>《衍義》云：有人遍身患熱毒痛而不癢，手足尤甚，至項而止，黏著衣被，曉夕不得寐，痛不可忍。有人教以石菖蒲三斗銼，日干之，春籮為末，布席上，使患者恣臥其間，仍以衣被覆之，既不黏著。又復得睡五日七日間，其瘡如失，後有患此者，治之應手取效。其石菖蒲根絡石生者節密入藥須此等。</p>
<p>《聖濟錄》云：人有患脅漏出水不止，用烏牛耳垢敷之即瘥。</p>
<p>劉禹錫《傳信方》云：貞元十年，崔員外言有人為蜘蛛咬腹，大如妊，遍身生絲，其家棄之乞食，有僧教啖羊乳，未幾即平也。又張荐員外住劍南，張延賞判官忽被蜘蛛咬頭上。一宿咬處有二道赤色，細如箸繞頂上，從胸前下至心。</p>
<p>經兩宿，頭面腫疼大如數升，腹漸腫，幾至不救。張公出錢五百千，並荐家財又數百千，募能療者，忽一人應召云：可治。張公不信，欲驗其方，答云：不諳方，但療人性命耳。遂取藍汁一碗，以蜘蛛投之，至汁而死。又取藍汁加麝香、雄黃更以一蛛投入，隨化為水。張公因甚異之，遂令點以咬處，兩日悉平，作小瘡而愈。</p>
<p>《千金方》云：有人患肉中忽生點，大者如豆，細者如黍粟，甚者如梅李有根，痛傷應心，久則四面腫泡，逐脈入臟者死，名曰瘭疽，乃熱毒也。以溫醋米泔洗淨，用胡燕巢土和百日，男兒尿敷之。又一種善著十指，狀如代指，根深至肌，能壞筋骨，毒瓦斯入臟殺人。宜燒鐵烙之，或灸百壯，日飲犀角汁即瘥。</p>
<p>《救急方》云：一兒初生如魚泡，又如水晶，碎則流水。用蜜佗僧籮極細，摻之而愈。</p>
<p>又云：一兒初生無皮，俱是赤肉，乃因母自懷胎十月，樓居不得地氣故也。取兒安泥地臥一宿，皮即長。又方用米粉干撲之，候生皮乃止。</p>
<p>《小兒秘訣》云：有小兒驚風，遍身烏都者，名烏紗驚風。急推向下，將黃土一碗搗末，入陳醋一鐘，炒熟絹包定熨之，引下至手足刺破為妙。</p>
<p>《南史》云：將軍房伯玉，服五石散十許劑，更患冷痰，夏日常復衣。徐嗣伯診之曰：乃伏熱也，須以水發之，非冬不可。十一月冰雪大盛時，令伯玉解衣坐石上，取新汲冷水從頭澆之，盡二十斛，口噤氣絕。家人啼哭請止，嗣伯執諫者，又盡水百斛，伯玉始能動，背上彭彭有氣，俄而起坐云：熱不可忍，乞冷凍飲料，嗣伯以水一升飲之，疾遂愈。</p>
<p>自後常熱，冬月猶單衫，體更肥壯。</p>
<p>〔源按〕經云：火鬱則發之。嗣伯所治前症，以十一月至後，陽氣在內之時，用平旦以水激之，蓋平旦陽氣初升時也。將郁久之熱，激發而汗解。即《素問》所謂正者正治，反者反治，逆而從之，從而逆之是也。春月則陽氣已泄，夏秋則陰氣在內，故必於冬月至後，行之乃可。</p>
<p>或問，經云陽氣者，一日而主外，平旦人氣生，日中而陽氣隆，日西而陽氣已虛，氣門乃閉。是則人之氣隨天地之氣為生閉也。平旦人氣生，因天地之陽氣生外，何故天地反寒於平旦乎？日西陽氣已虛何故反不寒乎？予曰：日西陽氣雖虛，尚余太陽之暖氣，故不寒。至深夜暖氣漸消，故漸寒。而至平旦，清晨太陽雖升，天地未暖，故尚寒耳。日中而陽氣隆，故日中則暖也。</p>
<p>又問：何故至平旦而每有露乎？予曰：陽氣升而地氣上也。地氣即地中之水氣，乃升而為露耳。然其氣升上，本晝夜不息，日中有太陽故不見。夜則見之，然所見亦微，非比平旦陽氣所升之時也。</p>
<p>又問：平旦無露，此何以故？予曰：因地氣不和，不和則氣升為云，故無露。若久旱地燥，其氣雖升，因上土燥而斂其氣，亦無露耳。</p>
<p>又問：霧因何至？予曰：地中之氣，隨陽升為露，若氣稍不和，則不能為露，亦不能為雨，故但下瞞如云若露而名霧也。</p>
<p>又問：雨從云降何故？常有云不雨乎？予曰：云亦地之水氣因天地之氣不和，而和之則水氣升上為云而為雨也，即所謂陰陽和而雨澤降耳。然不和有甚不甚之別，不和不甚，則水氣騰空而散，雖有云不雨（猶煮水，水氣升外，每騰空而散也）。甚則水氣盛，不能騰空而散，故即降而為雨也。蓋云每出於山，即卦傳所謂山澤通氣是也。</p>
<p>又問：風從何來？予曰：風乃大塊噫氣（噫氣猶噯氣，其氣從下散上也），因天地之氣不和而發，然天地有自然之風，有噫氣之風。蓋天地之氣升而降，降而升，猶人之呼吸然。若氣和則升降順而有自然之風焉，不和則不順，不順則逆，逆則發噫氣而為風耳。如氣或不和於東，則噫氣發東風，即從東而至。不和於西，則噫氣發西風，即從西而來，南北皆然，四隅亦如是。若有風而有雨者，因不和之水氣，從風而上故也。又問：氣或不和於東，而西或又有不和，若噫氣並發，當必有東西齊來之風，而何故無乎？予曰：天地一氣也，使氣東不和而又有西不和者，則噫氣或發於東，而西不順之氣亦從東而泄，故但有風於東耳。發於西，故但有風於西耳。然大莫大於天地，若彼不和，與此不和，固極遠而不能相應，則噫氣彼此齊發，則彼此之風遠而各殊，人所不得而知也。即諺云：千裡不同風耳。</p>
<p>又問：雷電何也？予曰：一歲之中，熱而寒，寒而熱，皆天地元陽之氣，升上則熱，降下則寒。若節至驚蜇，其氣漸升而達於外，因天地之氣不和，不和則氣不升，不升而欲升之，則破塊而出，故雷電並作。蓋電即元陽之氣，氣即火也，雷因元陽之火升外，故每先電而後雷也（猶人放炮火，先見而後聲發也）。若電閃甚，則雷猛發於外，故雷聲震上而形霹靂也。如雷止而但有電者，乃破中之余氣耳，所以電即閃而不遠，其氣乃破而易泄，故彼閃未已，而又有此也。初秋陽氣將收，或值天地之氣不和，則氣欲降不能，而反逆於上，故每發迅雷耳。若秋漸深，陽氣漸下，至冬伏藏，故雷亦收聲也。人與天地同參，至秋其氣漸收，收則毛竅閉，而春夏所受之病皆郁，鬱而發之，則病作矣，故病每多發於秋也。</p>
<p>許叔微《本事方》云：微患飲辟，三十年，始因少年夜坐寫文，左向伏幾，是以飲食多墜左。中夜必飲酒數杯，又向左臥，壯時不覺，三五年來，覺酒止從左下有聲，脅痛食減嘈雜，飲酒半杯即止。十數日必嘔酸水數升，暑月止右邊有汗，左邊絕無。遍訪名醫，治無一效。自揣必有　囊如水之有科臼，不盈科不行，但清者可行，而濁者停滯無路以決之，故積至五七日，必嘔而去。脾土惡濕，而水則流濕。莫若燥脾以去濕，崇土以填科臼。乃悉屏諸藥，只以蒼朮一斤，去皮切片為末，脂麻半兩，水二錢，研濾汁，大棗五十枚，煮去皮核，搗和丸，梧子大，每日空腹，溫服五十丸。</p>
<p>增至一二百丸，忌桃李雀肉，服三月而疾除。自此常不嘔不吐不痛，胸膈寬利，飲啖如故，暑月汗亦周身，燈下能書細字，皆術之力也。初服時，必覺微燥，以山梔末沸湯點服加之，久服亦自不燥矣。</p>
<p>又云：有人平居無疾，忽如死人，身不動搖，目閉口噤，或微知之，眩冒移時方寤，此名血厥，亦名鬱冒。因出汗過多，血少陽氣直上，氣塞不行，故身如死。氣過血還，陰陽復通，故移時方寤，婦人尤多此症。宜服白薇湯，用白薇、當歸各一兩，人參半兩，甘草錢半，每服五錢，水二盞，煎一盞，溫服。</p>
<p>《夢溪筆談》云：夏文莊公性豪侈，稟賦異人，才睡則體冷似僵，一如逝者。既覺須令人溫之，良久方能動。有人見其陸行，兩車相並，載一物巍然，問之乃綿帳也。以數十斤綿為之。常服仙茅、鐘乳、硫黃不可勝記，晨朝每服鐘乳粥。有小吏竊食之，疽發不可救。</p>
<p>《吹劍續錄》云：葛可久治同郡富家女，年可十七八，病四肢痿痹，不能自食，目瞪，眾醫莫治。葛視之曰：當去房中香奩流蘇之物，發地板掘土為坎，畀女子其中，扃其屏。戒家人俟其手足動而作聲，當報我。久之手足果動而呼，投藥一丸，明日坎中出矣。蓋此女平日嗜香，而脾為香所蝕故也。</p>
<p>濮陽傳云：萬歷丁亥，金台有婦人，以羊毛遍鬻於市，忽不見，繼而都人身生泡瘤漸大，痛死者甚眾，瘤內惟有羊毛。有道人傳一方云：以黑豆、喬麥為粉塗擦，毛落自愈，名羊毛疔。</p>
<p>〔源按〕此症近江南山東患者頗眾，然所患與前症不同，初起發熱，或似瘧，或似傷寒，體重，遍身皮肉脹痛不可忍，滿身發紅點如疹，用針挑破，內有羊毛，或一鬃或數莖，其色或白或赤，或粗或細，形色不一，俗稱羊毛疹子，死者頗多。或有不用針挑，內服葛根、升麻、柴胡、防風、荊芥、鼠黏子、蟬蛻、銀花、連翹、黃芩、羚羊角、西河柳等味。外用前案藥味塗擦，其毛多黏藥內，擦後其痛漸平。</p>
<p>但或一日，或二日，或半日許，仍然復作，作時仍用藥擦，其毛復有，漸擦漸平。如是者，或患一二月，或三四五月，至身上起白泡，遍身癢作，方得痊愈。若不用前法治之，得生者少。又有一種只發熱，體重而脹痛，並無紅點如疹。亦用前治法，其用針挑去其毛，並出其血，病可立愈，此是疫毒，因泄其毒故耳。</p>
<p>東垣治李正夫人病，診得六脈中俱弦，洪緩相合，按之無力，弦在其上，是風熱下陷入陰中，陽道不行。其症閉目即渾身麻木，晝減夜甚，覺而目開，則麻木漸退，久則絕止。常開其目則病不作，懼其麻木，不敢合眼，故不得眠。</p>
<p>身體皆重，時有痰嗽，覺胸中常有痰而不利，時煩躁短促而喘，肌膚充盛，飲食大小便如常，惟畏麻木，不敢合眼為最苦。觀其色脈，形病相應不逆。《內經》云：陽盛瞑目而動輕，陰病閉目而靜重。又云：諸脈皆屬於目。《靈樞》曰：目開則陽道行，陽氣通布周身，合目則陽道閉而不行，如晝夜之分，知其陽衰而陰旺也，且麻木為風，雖三尺童子，皆以為然。細校之則非，如久坐而起，亦有麻木，假如繩縛系之，覺麻木而不能動，釋之則漸自已，以此驗之，非有風邪，乃氣不行也。不須治風，當補中之氣，則麻木自去矣。知其經絡，陰火乘其陽分，火動於中，為麻木也，當兼去陰火則愈矣，時痰嗽者，秋涼在外，濕在上作也，當實皮毛以溫劑。身重脈緩者，濕氣伏匿而作也，當升陽助氣益血，微瀉陰火，去濕通行經脈，調其陰陽，則非五臟之本有邪也。補氣升陽和中湯主之，八劑而愈。</p>
<p>又治一人，中年以來得一子。一歲之後，身生紅絲瘤，後四子皆病瘤而死，問何緣致此。翌月思之，謂曰：汝腎中伏火，精氣必有紅絲，以氣相傳，故生子有此疾，俗名胎瘤是也。汝試觀之，果如其言。遂以滋腎丸數服以瀉腎中火邪，補真陰之不足，忌酒辛熱之物。其妻以六味地黃丸以養血，受胎五月之後，以黃芩、白朮作散，與五七服，後生子前症不作。</p>
<p>汪石山治一人，形長而瘦，色白而脆，年三十余得奇疾，遍身淫淫，循行如蟲，或從左腳腿起，漸次而上，至頭復下於右腳，自覺蟲行有聲之狀。召醫診視，多不識其為何病。汪診其脈，浮小而濡，按之不足，兼察形視色知其虛證矣。《傷寒論》云：如身蟲行，汗多亡陽也。遂仿此例，而用補中益氣湯，倍加參、　，以酒炒黃柏五分佐之，服至三十帖遂愈。</p>
<p>又治一婦，或時遍身麻木則懵，不省人事，良久乃醒。醫作風治，用烏藥順氣散，又用小續命湯，病益甚。汪診之，脈皆浮濡緩弱。曰：此氣虛也。麻者氣餒不行，遲不能接續，如人久坐膝屈，氣道不利，故伸足起立而麻者是也。</p>
<p>心之所養者血，所藏者神，氣運不利，血亦罕來，由心失所養而昏懵也。用參、　各二錢，歸身、茯苓、門冬各一錢，黃芩、陳皮、甘草各五分，煎服而愈。</p>
<p>祝仲寧治一貴婦，病惡寒，日夜以重裘覆其首，起躍入沸湯中不覺，醫以為寒甚。祝曰：此痰火上騰，所謂陽極似陰者也。非下之火不殺下，經宿而徹裘，呼水飲之，旬日氣平乃愈。</p>
<p>丹溪治一婦年近六十，暑月常惡寒戰栗，喜烈火服綿，汗時如雨，形肥肌濃，已服附子十余帖。渾身癢甚，兩手脈沉澀，重取稍大，如其熱甚而血虛也。以四物湯，去川芎，倍地黃，加白朮、黃　、炒黃柏、生甘草，每服一兩。始煎一帖飲之。腹大泄，目無視，口無言，知其病始深，而藥無反佐之過也。仍以前藥熟炒與之，蓋借火力為向導，一帖利止，四帖精神回，十帖病全安。</p>
<p>又治蔣氏婦，年三十余，形瘦面黑，六月喜熱惡寒，兩手脈沉而澀，重取則數。以三黃丸下之，用薑湯送下，每服三十丸，投至二十服，微汗而愈。</p>
<p>又治一女子，年逾笄，性躁體濃，因暑月大怒而咳逆，每作一聲，則舉身跳動神昏，凡三五息一作。脈不可診，視其形氣實。以人參蘆二兩煎飲，大吐膠痰數碗，大汗昏睡一日而安。</p>
<p>又治一人，遍身俱是塊，塊即痰也，二陳加白芥，薑炒黃連煎服。</p>
<p>吳邑一人，患肩背起塊，如向左臥，其塊走入於左，右臥至右。予作痰飲流注治之，用前藥去黃連，加桔梗愈。</p>
<p>江汝潔治一老婦，病虛弱氣喘，左身半自頭面以下至足，發熱自汗，單衣被不能耐。右身半自頭面以下至足，濃衣被不能溫，如此三年矣，醫藥不效。汪診其六脈，舉之俱微而略弦，按之略洪而無力，二關脈略勝於二寸。經曰：微則為虛。又曰：諸弦為飲。又曰：洪為陽為熱。又曰：無力為虛。據此則知風邪入脾，表裡陰陽氣血俱虛之候作也。經曰：治病必求其本，令受風邪，乃木來侵土。又風自太陽而入脾，先當以太陽疏泄以固表，次當養脾而　木，俾脾無賊邪之患，則血氣漸平而左熱右寒之疾可除也。以石膏、款冬花各三錢，官桂、甘草半之，研為細末，以管吹入喉中，濃茶送下三四錢，嗽喘即止。次日用滋補之劑，白朮二錢半，白芍、香附各一錢半，黃　、陳皮各一錢，甘草三分，水煎服，後除芍藥，加人參三錢，數服而愈。</p>
<p>時珍治一人，病發則右腰一點脹痛，牽引右脅，上至胸口，則必欲臥，大便裡急後重，頻欲登圊，小便長而數。或吞酸，或吐水，或作瀉，或陽痿，或得酒稍止，或得食稍減。但受寒食寒，或勞役，或入房，或怒，或飢，即時舉發。</p>
<p>一止則諸症泯然，如無病患，甚則日發數次，服溫補勝濕、滋補消導諸藥，皆微止隨發。珍思此乃飢飽勞役，內傷元氣，清陽陷遏，不能上升所致也。遂用升麻葛根湯合四君子湯，加柴胡、蒼朮、黃　，煎服，服後飲酒一二杯助之，其藥入腹則覺清氣上行，胸膈爽快，手足和暖，頭目清順，神采迅發，諸症如掃。每發一服即止，神驗無比。若減升麻、葛根，或不飲酒，則效便遲。大抵人年五十以後，其氣消者多，長者少，降者多，升者少，秋冬之令多，而春夏之令少。若稟氣弱而有前諸症者，並宜此藥活法治之。《素問》云：陰精所奉其人壽，陽精所降其人夭是也。</p>
<p>孫東宿治歙州一貴婦，遍身走注疼痛，至夜則發，如蟲嚙其肌，多作鬼治。孫曰：此正歷節風病也。以麝香丸三服愈。</p>
<p>江應宿見一木商，自云曾經五月放樹，久立風雨濕地，衣服盡濡，患寒熱交作，遍身脹痛欲人擊打，莫知為何病；服藥罔效。忽思燒酒，熱飲數杯，覺腹中寬快，數飲至醉，遂愈。此中寒濕，醫莫能察識耳。</p>
<p>姚應鳳視一人，年六十許，遍體發小疥如粟。應鳳曰：是名淨海瘡。甲子將周海上，神仙考核實，生此瘡不治則生，治之則死。其人未之信也。治瘡瘡愈而死。</p>
<p>一有人患異疽，如癰而小，有異膿如小豆汁，今日去，明日滿。用芸苔菜，散血消毒，須搗熟，將布袋盛於熱灰中煨熟，更互熨之，不過二三度愈。</p>
<p>吳篁池治一婦，年三十余，產後患虛症，惡寒，口不能言，手足不能動，飲食頗進，大小便如常，多汗。治用參、大劑，加桂枝，每劑或一錢，或二三錢，量病勢輕重出入，服至年半，時值暑月，惡風寒愈甚。惟口已能言，手足能動，但惡寒不去，乃令人強扶出風涼處坐，用涼水強浸手足，口含冷水，初甚　，良久能耐覺安，漸至暖至熱，熱漸甚，欲冷凍飲料，乃以涼水頓飲之，復衣頓除，如常而愈。</p>
<p>壬申狀元秦澗泉，三年盜汗，每寤衣被俱濕。飲食起居如常，經數十醫不效。時予在都，因來就視。予診之，六脈如絲，卻悠揚無病，惟肝脈中取弦實。予曰：公之脈，六陰脈也。脈無他異，惟左關弦耳，此肝膽有火。仲景云：盜汗在半表半裡，膽有熱也。用小柴胡湯，加當歸、生地、丹皮、經霜桑葉，不數劑而痊。</p>
<p>武林周南溪，年三十余，體壯畏熱，因避暑西湖，日坐陰濕之處，又常食瓜果等物，至仲秋忽兩腿筋脈釣痛，數日後牽釣至兩臂。又數日，手指一動，即周身經脈釣痛而絕。治用去風利痰之劑，一無取效，病在至危。予視其脈，皆弦急，蓋諸弦為飲，急為寒。又痰入筋骨，則牽引釣痛。此症由寒濕生痰，而流入筋脈故也。以半復、茯苓各三錢，白芥子二錢，陳皮、木瓜各一錢五分，乾薑、甘草各一錢，生薑三片，送妙應丸梧子大者七丸，服後約半日許，手指可動。</p>
<p>又服之手足即不復牽釣。改用六君子湯，調理半月而精神乃復。</p>
<p>一仕人王姓者，仲春肌體大熱，如有物在身行走之狀，口乾唇燥，小便黃赤。予曰：此即所謂熱痹也。《統旨》云：熱痹臟腑移熱，復遇外邪，客搏經絡，留而不行，陽遭其陰，故　痹　然而悶，肌肉熱極，體上如鼠走之狀，唇口反裂，皮膚色變，治宜升麻湯。予與此湯而愈。</p>
<p><u>滅痕丹</u></p>
<p>熟地黃　白朮　山茱萸（各一斤）　杜仲　山藥（八兩）　白芍（六兩）　白果肉　當歸　車前（各三兩）</p>
<p>蜜丸梧子大，每日早晚各一兩，服盡自消。</p>
<p><u>六神丸</u></p>
<p>神麯　麥芽　茯苓　枳殼　木香　黃連上為末，神麯和丸，桐子大，每服五十丸，白湯送下。</p>
<p><u>滋腎丸</u></p>
<p>知母（酒炒）　黃柏（酒炒，各二兩）　肉桂（二錢）</p>
<p>上各另為末，水丸桐子大，每服二百丸，空心百沸湯下。</p>
<p><u>三黃丸</u></p>
<p>黃芩　黃連　大黃（各等分）</p>
<p>上各另為末，水糊丸桐子大，每服七八十丸，白湯下。</p>
<p><u>升麻葛根湯</u></p>
<p>升麻（三錢）　葛根　芍藥（二錢）　甘草（一錢）</p>
<p>薑三片，棗二枚，煎服。</p>
<p><u>補氣升陽和中湯</u></p>
<p>黃　人參　白芍（三錢）　甘草　佛耳草（四錢）　陳皮　白朮　歸身（二錢）　黃柏　甘草　茯苓　澤瀉　升麻柴胡　草蔻（一錢）</p>
<p>每服三五錢，水煎，稍熱服。</p>
<p><u>麝香丸</u></p>
<p>川烏（大者三個生用）　黑豆（二十一粒，生用）　全蠍（二十一個，生用）　地龍（五錢）</p>
<p>上末，入麝香半字，同研勻，糯米糊為丸，綠豆大，每服七丸，甚者十丸，夜臥令膈空，溫酒下，微出冷汗一身便瘥。此方凡是歷節及不出痰痛，一二服便瘥。</p>
<p><u>升麻湯</u></p>
<p>升麻（三兩）　茯神　人參　防風　犀角　羚角　羌活（一兩）　官桂（五錢）</p>
<p>每服六錢，生薑一塊搗碎，竹瀝少許同煎至一盞，溫服。</p>
<p><u>八珍湯</u></p>
<p>人參　白朮　茯苓　甘草　生地　白芍　川芎　當歸薑棗煎。</p>
<p><u>八物湯</u></p>
<p>（見口門）</p>
<p><u>六味丸</u></p>
<p>（見耳門）</p>
<p><u>四物湯</u></p>
<p>（見頭門）</p>
<p><u>二陳湯</u></p>
<p>（見目門）</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>妙應丸</u></p>
<p>（即控涎丹見喉門）</p>
<h2>卷之七</h2>
<h3>背</h3>
<p>《奇病方》云：有人患背脊裂開一縫，出虱千余，此乃腎中有風，得陽氣吹之故也，不覺破裂虱現。即服活水止虱丹三劑，以減縫中之虱，再蓖麻三粒，紅棗三枚，搗和為丸，如彈子大，置火熏衣，使不盡之虱俱死，而縫自合矣。</p>
<p>蓖麻子能殺虱去風，故用之相宜。</p>
<p>徐弦《稽神錄》云：浮梁李生，肩起如盂，惟癢不可忍，人皆不識。醫士秦德立云：此虱瘤也。以藥敷之，一夕瘤破，出虱斗余，即日體輕，但小竅不合，出虱不止而死。</p>
<p>《濟生方》云：有人患虛寒，積癖在背膜之外，流於兩脅，氣逆喘急，久則凝滯，潰為癰疽，多致不救。用胡椒三百五十粒，蠍尾四個，生木香二錢半為末，粟米飯丸綠豆大，每服二十丸，橘皮湯下，名磨積丸。</p>
<p>《袖珍方》云：有人患背腿間一點痛不可忍者，此痰血也。芫花根為末，米醋調敷之，如不住，以帛束之，婦人產後尤多。</p>
<p>朱丹溪治一男子，忽患背胛縫有一線痛上肩，跨至胸前側脅而上，其病晝夜不歇，痛不可忍，脈弦而數。重取豁大，左大於右，夫背胛小腸經也。此必思慮傷心，心臟未病，而腑小腸先病，故從背胛起。又慮不能決，又歸之於膽，故痛至胸脅而止。乃小腸火乘肝木，子來乘母，是為實邪。詢止，果因謀事不遂所致。用人參四分，木通二分，煎湯吞龍膽丸，數服而愈。</p>
<p>戴人治一男子，年六十余，患腰尻脊胯皆痛，數載不愈。晝靜夜躁，大痛往來，屢求自盡，日夕痛作，必令人以手捶擊，至四五更雞鳴則漸減，向曙則病止。左右及病者皆疑祟病，朝禱暮祝，如僧道禁師至，則其痛似減。又夢鬼神戰斗，山川神廟，無不祭者，淹延歲月，肉瘦皮枯，飲食減少，暴怒日增，惟候一死。有書生曰：既云祟病，如此禱祈，何無一應？聞陳郡有張戴人，精於醫，可以請治。其家請張戴人，診其兩手，脈皆沉滯堅勁。曰：病雖瘦難以食，然腰尻脊胯皆痛者，必大便堅硬。其左右曰：有五七日，或八九日，見燥糞一兩塊，如彈丸大，結硬不可言，曾合人剜去之僅下一兩塊，渾身燥癢，皮膚皺揭，枯澀如麩片。戴人既得病患之虛實，遂用大承氣湯，以薑棗煎之，加牽牛頭末二錢。不敢言瀉劑，蓋病者聞暖則悅，聞寒則懼，說補則從，說瀉則忌，此弊非一日也。而況一齊人傳之，眾楚人咻之乎。及煎成，使稍熱飲之，從少至多，服至三日，臟腑下泄四五行，約半碗，以燈視之，皆燥糞及瘀血雜至，穢不可近，須臾痛減九分，昏睡鼻息調如常人。睡至明日將夕，始覺飢而索粥，溫涼與之。又困睡一二日，其病盡去，次令飲食調養，日服導赤甘露滑利便溺之藥，四十余日乃康。嗚呼！世傳三十六虎書，三十六黃經，乃小兒三十六吊，誰為之耶？始作俑者，其無後乎？古人以醫為重，故醫之道行。</p>
<p>今之人以醫為輕，故醫之道廢。學人自局於朮藝，病者亦不擇精粗耳。《靈樞經》云：刺與汗雖久，猶可拔而雪，結與閉雖久，猶可解而決。夫腰脊胯痛者，足太陽膀胱經也。兩胯，又足少陽膽經之所過也。《難經》曰：諸病為實。《內經》曰：諸痛瘍瘡，皆屬心火。注曰：心寂則痛減，心躁則痛甚，病見僧道禁師至，則病稍去者，心寂也，少頃仍復是耳，古之稱痛隨利減，不利則痛何由去，故凡躁症，皆三陽病也。</p>
<p>〔源按〕心寂則痛減，心躁則痛甚，此皆氣隨心役之道。如僧道禁師至，而痛稍減者，所謂心寂是也。蓋心寂則氣靜，氣靜故病覺減也。未幾心復躁，而氣亦不寧，故痛復如舊。要知人身最靈者，氣也，如思食思色，著哀著怒，未有不隨心感發。不但人身之中感發如是，即人子而能時念父母，亦能與父母之氣暗暗相感。雖遠離亦能相應，如曾子心痛，黔婁心驚，此氣之相應故也。若父母在時及歿後，無時不念，則根本之氣不絕，枝葉必茂，否則氣已絕，焉得善後，即善亦終必敗。孔聖云：身也者，親之枝也，敢不敬與？不能敬其身，是傷其親，傷其親，是傷其本，傷其本，枝從而亡。所以人能敬其身，即孝其親也。孝其親者，必好善，好善則善氣臨外，雖困必榮。惡則惡氣外繞，雖榮必敗。人不知氣數之理，乃天定氣數，即善惡之氣定數，並非別有數也。</p>
<p>孫東宿治周鳳亭孫女，年六歲，忽發寒熱，一日過後，腰脊中命門穴骨節腫一塊，如大饅頭之狀，高三四寸，自此不能平身而立，絕不能下地走動。如此者半年，人皆以為龜背痼疾莫能措治，即如幼科，將龜背古方治之，亦不效。孫曰：此非龜背，凡龜背在上，令在下部，必初年乳母放地，坐早之故。此時筋骨未堅，坐久而背曲，因受風邪初不覺，其漸入骨節間，而生痰涎，致今骨節腫滿而大。不急治之，必成痼疾。今起未久，可用萬靈黑虎比天膏貼之，外再以晚蠶沙醋洗炒熟，絹片包定於膏上，帶定熨之，一夜一次。再以威靈仙為君，五加皮、烏藥、紅花、防風、獨活，水煎服之。一月而消其半，骨節柔軟，不復腫硬，便能行走如初。後三月復不能行，問之，足膝酸軟，載身不起，故不能行。</p>
<p>孫知其病去而下元虛也，用杜仲、晚蠶沙、五加皮、苡仁、當歸、人參、牛膝、獨活、蒼耳、仙茅，水煎服二十劑，行動如故。</p>
<p>又治查良本內眷，怒後偶食魚頭，骨梗於喉，即以饅頭粽肉等壓之，骨雖下，便覺胸膈不快，又服消骨藥兩日，迨今乃七日矣。胸膈脹痛殊甚，飲食悉從背後而下，惡寒發熱，六脈弦數。孫思骨梗之後，用硬物壓之，傷其胃脘，必有瘀血停蓄膈間，將食管逼在背後，故飲食覺從背後而下也。今但消去瘀血，使食管復原，胸膈之痛可瘳矣。藥以五靈脂為君，山楂、元胡、桃仁、枳殼為臣，赤芍藥、牡丹皮、香附、山梔仁為佐，柴胡、石菖蒲為使，水煎臨服入韭菜汁一酒杯飲之。其夜胸膈寬快，大便瀉一次，痛減大半。飲食乃從右邊而下，右邊胸膈稍痛，吞物甚艱，痰出皆血腥氣。改以山梔、赤芍藥、歸尾、桃仁、劉寄奴、五靈脂、牡丹皮、穿山甲，煎入韭汁服之，兩帖全瘳。</p>
<p>又治一婦右背鹽匙骨邊一點疼痛，夜尤其，醫治半月不效，輾轉加劇。即以右邊手臂肢節皆脹痛。筋皆暴起，肌肉上生紅點，脈兩手皆數，右尺軟弱，乃濕熱傷筋，而成痛痹。以東垣舒經湯為主，羌活、升麻、桃仁、麻黃、紅花、當歸、防風、甘草、獨活、豬苓、黃柏、防己、知母、黃連，兩帖痛減腫消，再亦不發。</p>
<p>金少游治黃　之室，庚午秋，娩身後，腰胯痛，痛久，脊膂突出一骨一二寸許，腹下季脅，發一腫如拳大，每抽挈亦痛，遍身如刀剮，不能行，不能轉側，每欲舒展，則婦女八人舁之。三吳醫者莫不就診無效。辛未秋延少游診，其脈無他，兼以飲食不廢，謂之曰：奇經八脈俱受病矣，幸十二正經無恙，中氣不虛可療。　問其故，答曰：蓋脊梁突督脈也。季脅癰腫，腹與胃痛，衛任也。兩足筋急不能屈伸，陽蹺陰蹺也。腰以下冷，溶溶如坐水中，帶之為病也。初進龜鹿二仙膏二三兩，煎劑以骨碎補、續斷為君，佐以溫經大養氣血之劑，四服即緩。繼以鹿茸、河車、自然銅、骨碎補等劑，丸服一半，即能下床行動，療此症不過兩月而愈。愈而妊，更屬意外。其季脅近胯之瘤，為庸工決破而死，惜哉。</p>
<p><u>活水止虱丹</u></p>
<p>熟地黃　山萸肉（三兩）　杜仲（一兩）　防己（一錢）　草（三錢）</p>
<p>水煎服。</p>
<p><u>大承氣湯</u></p>
<p>大黃　芒硝　厚朴　枳實先煎朴實，將大黃煮二三沸，頃碗內和芒硝，服得利則止。</p>
<p><u>導赤散</u></p>
<p>生地　木通　甘草梢　淡竹葉等分煎</p>
<p><u>甘露飲</u></p>
<p>生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　枇杷葉　甘草等分每服五錢。</p>
<p><u>舒筋湯</u></p>
<p>片薑黃（一錢）　甘草（炒）　羌活（各三分）　白朮　海桐皮　赤芍　當歸（各五分）</p>
<p>上水煎服。</p>
<p><u>龜鹿二仙膏</u></p>
<p>鹿角（十斤）　龜板（五斤）　枸杞（二斤）　人參（一斤）</p>
<p>先將鹿龜板鋸截，刮淨水浸，桑火熬煉成膠，再將人參、枸杞，熬膏和入。</p>
<p><u>生肌散</u></p>
<p>（見頭門）</p>
<p><u>龍膽丸</u></p>
<p>（即龍膽瀉肝湯，見溺孔門）</p>
<h3>手足</h3>
<p>夏子益《奇疾方》云：有人手足十指節斷壞，惟有筋連，無節肉，蟲出如燈心長數寸，遍身綠毛卷，名曰血余。</p>
<p>以茯苓、胡黃連煎湯，飲之自愈。</p>
<p>〔源按〕經云：脾熱生肉痿，肉痿者色黃而蠕動。又云：地之濕氣感則害皮肉關節。注云：濕自下受，先入皮肉，濕流關節則傷筋脈，筋脈傷則肝亦受病。此症由皮肉化蟲至十指斷壞，無節肉，而更感肝木之氣，化生綠毛卷蟲，又經所謂東方生木，木生風，在臟為肝，其蟲毛。蟲毛者，森森之象，故有是形耳，而病名血余。因肝藏血，所得肝之余氣，而生蟲毛故也。然不生別色而獨生綠？蓋脾屬土，其色黃，肝屬木，其色青，青黃二氣相感，則生是色也。茯苓補脾利濕，胡黃連清肝木之熱，使木平脾強，則症自愈。</p>
<p>又云：有人患四肢節脫，但有皮連，不能舉動，名曰筋解。用酒浸黃蘆三兩，經一宿，取出焙乾為末，每服二錢，酒調下服盡安。</p>
<p>〔源按〕此症四肢節脫，但有皮連，因四肢筋脈痿而不用，故謂之筋解。解者，為筋脈解散，不堪任用耳。然痿有虛痿實痿，劉河間曰：四肢不舉，俗曰癱緩。故經所謂脾太過，則令人四肢不舉。又曰：土太過則敦阜。阜高也，敦濃也，既濃而又高，則令除去，此真所謂膏粱之疾，其治則瀉，令氣弱陽衰，土平而愈。或三化湯、調胃承氣湯選而用之，若脾虛則不用也。經所謂土不及則脾陷卑下也，陷坑也，故脾病四肢不舉。四肢皆稟氣於胃，而不能至經，必因於脾，乃能受稟？今脾病，不能與胃行其津液，四肢不得稟水穀氣，氣日以衰，脈道不利，筋骨肌肉皆無氣以生，故不用焉。其治可十全散，加減四物，去邪留正。予考《內經》，五臟使人痿，而河間獨言治脾者。《內經》又云：論言治痿者，獨取陽明故也。陽明五臟六腑之海，主潤宗筋，宗筋主束骨而利機關也，衝脈者，經脈之海也，主滲灌溪穀，與陽明合於宗筋，陰陽總宗筋之會，會於氣亍，而陽明為之長，皆屬於帶脈，而絡於督脈，故陽明虛則宗筋縱，帶脈不引，故足痿不用也。曰：治之奈何？曰：各補其榮而通其輸，調其虛實，和其逆順，筋脈骨肉各以其時受月，則病已矣（時受月謂受氣時月，如肝王甲乙，心王丙丁類也）。</p>
<p>又云：有人兩足心凸腫，上生黑豆瘡，硬如釘，脛骨生碎孔，內髓流出，身發寒顫，惟思飲酒。此是肝腎冷熱相吞。用炮川烏頭來敷之，內服韭子湯效。</p>
<p>又云：有人忽發寒熱，數日不止，四肢堅如石，擊之有鐘磬聲，日漸瘦惡。用吳茱萸、木香等分，煎湯飲之自愈。</p>
<p>〔源按〕此症為寒邪客於少陽，少陽與厥陰相為表裡，在三陽盡處，陽盡則陰生，故有寒熱之往來。厥陰在三陰盡處，陰盡則陽接，故有寒熱之勝復。此症由陰勝而不能外復於陽，至邪橫逆於脾，厥失健運之職，故四肢悉堅如石，即經所謂寒以堅之是也。夫擊之聲如鐘磬，乃土音也，蓋脾屬土，其音宮，宮音重而大，故聲如是。凡脾土之音，非火不發，非郁亦不發，猶天地元陽之氣，郁結於下而後外達，達則雷聲自內而出也。蓋脾土為寒所郁，擊之則筋脈自相應而作也，至四體日漸瘦惡，因脾病不為肌膚故耳。然治病當求其本，用吳茱萸直入肝臟，逐去深寒；而更以木香通其壅滯之氣，使氣通寒散，則木平土安，而病自愈也。</p>
<p>或問：邪入厥陰，因陰勝而陽下不能復至，邪橫逆脾土，當必吐利，而何故無乎？予曰：脾土雖困，而氣機尚能內動，所以擊之即有聲相應而出，即易所謂坤至柔而動也，剛故無是患。然此聲為寒鬱不能自達，則必擊之有聲者，亦猶土氣之有氣也，有氣之器，以鐵物擊之，其火自內而出，即是氣也。蓋其氣閉郁寒體之中，必擊之則氣機內動，而聲發於外也。若無火則無氣，無氣則不鳴，欲明此病，當以氣之擊而有聲者察之。</p>
<p>又問：土器之有聲者，擊之即隨所擊之處而發，若脾土深居於內，雖有筋脈相應，恐未必能隨所擊而發音。予曰：脾土之音，擊之聲發，猶琴聲之相應也。蓋琴無體，則弦不鳴，撥其弦，則遂應。明乎器之如是，便知是病所擊之聲矣。</p>
<p>又問：土器有氣則鳴，則木中有火，豈非氣乎，何故但有聲而不鳴耶？予曰：子不明器之為質，分五音之聲，非以氣恁也。即如木為器，其音角，角音調而直，故聲如是。予所言，土器之有聲者，叩之則鳴，若以五音論之，則收宮音之聲，無氣便無此音，豈可概以氣論之哉？若以氣論之，即鐘鼓等音亦宮音也，豈有氣乎？又問：鐘鼓二器，固無聲也，何故無氣之器，反鳴而且遠乎？予曰：鐘雖無氣，內有脈道，音從脈道而行，故得鳴而且遠。所以五金切之則光，折之則參差不齊，此依脈路所分，故不平而齊也。乃五金中，惟錫鉛無聲，因柔而不剛故耳。若以鼓論，不過因急而有聲，並非有氣而有脈道也，鼓聲其音走內，若下面覆皮，擊之以應其下，所以亦鳴而遠也，否則聲淺而不遠矣。</p>
<p>《奇病方》云：有人指縫流血不止，有蟲如蜉蝣之小鑽出，少頃即能飛去。此症乃濕熱生蟲也，然何故而能飛耶？蓋濕熱而更感風邪，凡蟲感風，即有翼能飛。蟲在人身，得風之氣，故亦能飛也。方用黃　、熟地、苡仁各五錢，當歸、白芍、茯苓、白朮各三錢，人參、柴胡、荊芥、川芎各一錢，水煎服，四劑而愈。此方全不在殺蟲，而但補氣血，佐用去濕去風，蓋人身氣血和，則蟲自滅故也。</p>
<p>又云：有人患手足脫下，而人仍不死者，此乃傷寒之時，口渴過飲涼水，以救一時之渴，孰知水停腹內，不能一時分消，遂至四肢受病，氣血不行，久而手足先爛，手指與腳指墮落，或腳指墮落之後，又爛腳板，久之連腳亦墮落矣。若有傷寒口渴，過飲冷水者，愈後倘手足指出水，急用此方可救指節、腳板之墮落也。方用苡仁三兩，茯苓二兩，肉桂一錢，白朮一兩，車前子五錢，水煎服，一連十劑，小便大利，而手腳不出水矣。</p>
<p>又云：有人患腳板中色紅如火，不可落地，又非痰毒，終歲經年不愈。此病因用熱藥，立而行房，火聚腳心而不散，故經久不肯愈也。法當用內藥消之。若作外治，必先爛去腳板。煎服祛火丹十劑自消，二十劑痊愈。然須忌房事三月，否則必發，發則死矣，慎之哉。</p>
<p>又云：有人患指甲盡行脫下，不痛不癢。此乃腎經火虛，又於行房之後，以涼水洗手，遂成此病。方用六味湯，加柴胡、白芍、骨碎補，治之而愈。</p>
<p>又云：有人患掌中忽高起一寸，不痛不癢，此乃陽明經之火不散，而鬱於手也。理痛癢而不痛癢，不特火鬱於腠理，而且水壅於皮毛也，法當用外藥消之。蓋陽明火盛，必作渴引飲不休，而又不渴，是胃中之火盡散，流毒於掌中。必其人是陽明之火盛，手按於床席之上，作意行房，過於用力，使掌上之氣血不行，久而突突而高也，不痛不癢，乃成死肉矣。方用附子一個，煎湯以手漬之，至涼而止，如是者十日，必然作痛，再漬必然作癢，又漬而高者平矣。蓋附子大熱之物，無經不入，雖用外漬，無不內入者也。倘以附子作湯飲之，則周身俱熱，又引動胃火，掌肉不消，而內症蜂起，故用以外治而愈者也。或附子湯中，再加輕粉一分，引入骨髓，更為奇效耳。</p>
<p>又云：有人腳肚之上，忽長一大肉塊，似瘤非瘤，似肉非肉，按之痛欲死。此乃脾經濕氣，結成此塊，而中又帶火不消，故手不可按，按之痛欲死也。法宜峻補，宜峻補脾氣，而分消其濕為是。然而外長怪肉，若在內一時消之，恐不能愈，當用內外夾攻之法。內服消濕化怪湯二劑後將，消塊神丹敷患處，一日即消，神效之極也。</p>
<p>又云：有人足上無故忽毛孔標血如一線者，流而不止即死。急以米醋三升，煮滾熱，以兩足浸之，即止血，後用人參一兩，當歸三兩煎，穿山甲一片，火炙為末，調飲，即不再發此症。乃酒色不禁，恣意縱欲所致，當速治之。</p>
<p>又云：有人腳板上忽生一指，痛不可忍者，乃濕熱之氣結成。用消指散，以刀輕刺出血，刺在生出指上，即時出水，敷在血流之處，隨出隨摻，以血盡力度，至三日可不流水矣，而痛亦少止。再以化水湯煎服，四劑可全愈，而指盡化為水矣，外用生肌散敷之，加膏藥掩之即愈。</p>
<p>程山孺文見一人忽手生丫枝，痛不可忍。一醫用通草為末，以雞蛋清塗調，即消。</p>
<p>《奇效方》云：有人患手足發指毒，痛不可忍者。用壁間蜂窠為末，入乳香少許，研勻，以醋調塗，干即以醋潤之。</p>
<p>《華佗別傳》云：有人手上皮上現蛇形一條，痛不可忍。此蛇乘人之睡，而作交感於人身，乃生此怪病，服湯藥不效。以刀刺之，出血如墨汁，外用白芷為末摻之稍愈，明日又刺，血如前，又以白芷末摻之，二三次化去其形，先刺頭後刺尾，不可亂也。</p>
<p>張杲《醫說》載《摭青雜記》云：有人患腳瘡，冬月頓然無事，夏月臭爛，痛不可言。遇一道人云：爾因行草上，惹蛇交遺瀝，瘡中有蛇兒，冬伏藏，故瘡至冬無恙，夏出行，故至夏臭爛。急以生蝦蟆搗敷之，一日三換，凡三日一小蛇自瘡中出，以鐵鉗之，其瘡遂愈。</p>
<p>又云：凡人冬月向火，火氣入內，致兩股生瘡，其汁淋漓不止，世莫能識。用黃柏末摻之立愈。一婦病此，人無識者，亦用此而愈。</p>
<p>李樓《怪症方》云：有一女年十四，腕軟處生物，如黃豆大，半在肉中，紅紫色，痛不可忍，諸藥不效。一方士以水銀四兩，白棉紙二張揉熟，蘸水銀擦之，三日自落而愈。</p>
<p>《本事方》云：唐時有一商人，左膊上有瘡，生如人面，亦無他苦。商人戲以酒滴口中，其面色赤，以物食之亦能食，多則膊肉脹起，或不食則一臂痹焉。有名醫教其歷試諸藥，悉無所苦，進至貝母其瘡乃聚眉閉目，商人喜因以小葦筒毀其口灌之，數日成痂遂愈。然不知何疾也，《本經》言是金瘡，此豈金瘡之類歟？</p>
<p>《肘後方》云：有人患手指赤色，隨月生死。以生薤一把苦酒煮熟，搗爛塗之，疾乃止。</p>
<p>〔源按〕此症由寒邪逆於肉理，營氣不從，血凝不行，留於脈絡之間，以隨人之氣血盛衰，而隱現其血之色也。</p>
<p>《內經》有云：天溫日明則人血淖溢，而衛氣浮，故血易瀉，氣易行，天寒日陰則人血凝泣，而衛氣沉，月始生則血始精，衛氣始行，月郭滿，則血氣實，肌肉堅，月郭空，則肌肉減。經絡虛，衛氣去，形獨居，是以因天時而調血氣也。以此推之，月始生則氣血初盛，赤色亦隨氣外浮，以漸而生也。郭滿則血氣充實，故色悉現於外，郭空則氣血衰而經絡虛，衛氣去而形獨居（猶日魂去而月魄獨居也），故又漸隱於內也，於是則知所患赤色，故有隨月生死耳。薤白辛溫散血散氣，更用苦酒以作向導，使氣散血行則寒自滅，故搗塗而愈。</p>
<p>《太原故事》云：徐之才治一人患腳根腫痛，諸醫莫能識。徐曰：此蛤精疾也，由乘舟入海垂腳水中。疾者曰：實曾如此。之才為剖得蛤二枚，大如榆莢。</p>
<p>鄧氏《筆峰方》云：有人患腳底木硬。以牛皮生薑汁化開，調南星末塗上，烘物熨之。</p>
<p>〔源按〕此症為腎臟受寒，營氣凝而不行，以成此疾，即《內經》所謂皮膚不營故為不仁，又曰：北方生寒在氣為堅是也。</p>
<p>道士王裕曰：有忽患腳心如中箭，痛苦無奈，發歇不時，此腎之風毒，瀉腎愈。</p>
<p>《南宮從岣嶁神書》云：南方地卑濕，人多患足瘡，歲久生蟲如蛭而出，乃風毒攻注而然。用牛肚或羊肚或豬去糞不洗，研如泥，看瘡大小，入　泥礬半兩，塗帛上貼之，須臾瘡癢入心，徐徐連帛取下，火上炙之，中出如絲發毛尾千萬，或青白赤黑，以湯洗之，三日一作，不過數次，蟲盡瘡愈。</p>
<p>《翰林叢記》云：李定言石藏用良醫也，有人承檐溜浣手，覺物入爪甲，初若絲發，數日如線，伸縮不能，始悟其龍伏藏也。乃叩藏用求治，藏用曰：方書無此，以意求之耳。螳螂為末塗指，庶免震厄，其人如其言，後有雷火繞身，急針挑之，果見一物跳出，亦不為災。</p>
<p>《霏雪錄》云：山東民間婦人，一臂有物隱然，屈曲如蛟龍狀，婦喜以臂浸水中，一日雷電自牖出，臂果一龍擘云而去。</p>
<p>蔡元長知開封正據案治事，忽如有蟲自足心行至腰間，即墜筆暈絕，久之方醒。據吏云：此病非俞山人不能療，驅使召之，俞曰：此真香港腳也。法當灸風市，為灸一壯，蔡晏然復常，明日病如初，再召，俞曰：除病根非千艾不可。從其言，灸五百壯，自此遂愈。</p>
<p>《名醫錄》云：學究任道，患腿間瘡腫黑，狀狹而長。北醫王通曰：此魚臍瘡也，一因風毒蘊結，二因誤食人汗而然。乃以一異散敷之，數日而愈。懇求其方，曰：但雪玄一味耳，任遍訪無知之者。有名醫郝允曰：《聖惠方》治此，用臘豬頭燒灰，雞卵白調敷，即此也。</p>
<p>張子和治新寨馬叟，年五十九，因秋欠稅，官杖六十，得驚氣成風搐，已三年矣。病大發則手足顫掉，不能持物，食則令人代哺，口目張HT　，唇口嚼爛，抖擻之狀如線引傀儡，每發市人皆聚觀，夜臥發熱，衣被盡蹇，遍身燥癢，中熱而反外寒，欲自盡，手不能繩。傾產求醫，至破其家，而病益堅。叟之子邑中舊小吏也，以父母訊戴人，戴人曰：此病甚易治，若隆暑時不過一涌，再涌奪則愈矣。今已秋寒，可三之，如未，更刺　穴必愈。先以通聖散汗之，繼服涌劑，則吐痰一二升，至晚又五七行，其疾小愈，待五日再一涌，出痰三四升，如雞黃成塊，狀如湯熱，叟以手顫不能自探，妻與代探，咽嗌腫傷，昏憒如醉，約一二時許，漸省，又下數行，立覺足輕顫減，熱亦不作，足亦能步，手能櫛巾，可持匙箸，未至三涌，病去如躍，病後但覺極寒。戴人曰：當以食補之，久則自退，蓋大疾之去，衛氣未復，故宜以散氣導氣之藥，切不以熱劑溫之，恐反成他病也。</p>
<p>〔源按〕顫振一症，古云木火上盛，腎陰不充，為下虛上實之症。實為痰火，虛則腎虧，法宜清上補下。如戴人所治，叟病泥用古法，則痰何由而去，故醫宜變通，若果標實本虛，治之又宜從古矣。</p>
<p>又治西華李政之病寒厥，其妻熱厥，前後十余年，共服逍遙散十余劑不效。二人脈皆浮大而無力，政之曰：吾手足之寒，時時漬以熱湯，寒不能止；吾婦手足之熱，沃以冷水而不能已，何也？子和曰：寒熱之厥也。此皆得之貪飲食，縱嗜欲。遂出《內經》厥論證之，政之喜曰：《內經》真聖書也，余年之疑，今而釋然，總不服藥，愈過半矣。熱厥者，寒在上也，寒在上者，以溫劑補其肺；寒厥者，熱在上也，熱在上者，以涼劑清其心。分處二藥令服之，不旬日而愈。</p>
<p>東垣云：有人患兩手十指疼痛，一指疼了，一指疼，疼後即腫，骨中痛、膝痛，先左膝痛了，然後右膝痛，發時多則五日，少則三日，晝輕夜重，痛時覺熱行則痛輕，腫反重。注云：先血後氣乃先痛後腫，形傷氣也，和血散痛湯主之。</p>
<p>羅謙甫治征南元帥忒木兒，年近七十，秋間征南過陽州，時仲冬病自利，完穀不化，臍腹冷痛，足脛寒，以手搔之，不知痛癢，常燒石以溫之，亦不得暖。診之脈沉細而微，蓋高年氣弱深入敵境，軍事煩冗，朝暮形寒，飲食失節，多飲乳酪，履旦濕陽不外固，由是清濕襲虛，病起於下，故　寒而逆冷。《內經》曰：感於寒則受病，微則為咳，盛則為泄、為痛。此寒濕相合而為病也，法當即退寒濕之邪，峻補其陽，非灸不已。先以大艾炷於氣海灸百壯，補下焦陽虛，次灸三裡各三七壯，治　寒而逆，且接引陽氣下行，又灸三陰交，散足受寒濕之邪。遂處方云：寒淫所勝，治以辛熱，濕邪於外，平以苦熱，以苦發之。以附子大辛熱，助陽退陰，溫經散寒，故以為君；官桂大熱辛甘，亦除寒濕，白朮、半夏苦辛溫燥脾濕，故以為臣；人參、草豆蔻、甘草大溫中益氣；乾薑大辛溫能散清濕之邪，蔥白性溫能通上焦陽氣，故以為佐。又云：補下治之以急，急則氣味濃，故作大劑服之，不數服，瀉止痛減，足　漸溫，調其飲食，十日平復。明年秋過，襄陽值霖雨旬余，前症復作，再依前灸，添陽輔，各灸三七壯，再以前藥投數服愈。</p>
<p>徐可豫治吳興沈仲剛內子，膝腫痛，右先劇，以熱熨之則攻左，熨左攻右，左右俱熨，則腹雷鳴上胸，已而背如受萬捶，獨元首弗及，發則面黛色，脈罔辨，昏作旦輟，日　弱甚，卻為弗救。徐視脈曰：是濕淫所中，繼復驚傷，膽疾雖劇，可治。即令以綿纏胸，少頃探咽喉間，涌青白涎幾斗許，涌定，徐曰：今茲疾發，至腹則弗上，面弗青矣，至昏膝痛仍如熨鳴，果弗及胸，至三鼓已定。皆如徐言，越三昏不復作，遂痊。</p>
<p>劉大用治韶州南七十裡，古田有富家婦陳氏，抱異疾，常日無他苦，但遇微風吹拂，則股間一點奇癢，把搔不定手，已而舉體皆然，逮於發厥，凡三日醒，及坐有聲如咳，其身乍前乍後若搖兀之狀，率以百數，甫少定。又經日始困臥，不知人累夕，漸至不敢出戶，更數醫不效。劉視之曰：吾得其症矣，先用藥一服，取念珠一串，病家莫省其用，乃當婦搖兀時，記其數，數之覺減，然後云是名鬼注，因入神廟為鬼所憑，致精氣蕩越。法當用死人枕，煎湯飲之，既飲大瀉數行愈，枕還原處。</p>
<p>韓飛霞治一都司，頭重眼昏，耳聾牙痛，便言兩腳如不著地，醫不識為何病。一日梳洗畢，腹痛少間手足不能舉。</p>
<p>韓曰：此火症也，蓋素勞心勞形所致，因檢《玉機微義》示之。用辛散之劑十帖，恐有消渴痿痹瘡瘍之患，乃屏喧嘩靜臥，果十劑耳知人叫，體蟣風發癢成疙瘩，然後頭腳始知著落，亟入山靜之偶以事觸怒，火一發遂渴如欲狂者，一日瓜梨泉水所食無計，韓曰：此非草木之藥可扶矣。遍求人乳，日進十盞，旬余渴減。又偶以事怒，手足不舉，如一軟物，臥四日，乃服乳無算而瘥。脈之心澀，曰：瘡作矣，幸不生大毒，患馬眼膿疥，越八月乃止。</p>
<p>薛己治一女子，腿前腫一小瘤作癢，搔破出蟲如蚊而飛去，寒熱如瘧。乃肝經之症，故有虱瘤之患。用加味逍遙散而愈。又有一種發瘤，破開有發，屬腎經之症也。</p>
<p>一儒者雖盛暑喜燃火，四肢常欲沸湯漬之，面赤吐痰，一似實火，吐甚宿食亦出，惟食椒薑等方快。薛曰：食入反出，乃腎胃虛寒，用八味丸，十全大補加炮薑漸愈，不月平復。</p>
<p>孫東宿治一文學，兩足不酸不痛，每行動絕不聽其所用，或扭於左而又墜於右，或扭於右而又墜於左，不能一步步正走。此亦目之稀覯，竟不識為何病。予臆度之，由筋軟不能束骨所致，故行動則偏斜扭墜也。夫筋者肝之所主，肝屬木，木縱不收，宜益金以制之。用人參、黃　、白芍，以補肺金，苡仁、虎骨、龜板、杜仲，以壯筋骨，以鐵華粉專制肝木，煉蜜為丸，早晚服之而愈。</p>
<p>一男子患腳後跟骨脫落，動之則痛，艱於行步。就吳門</p>
<p><u>祛火丹</u></p>
<p>熟地黃（三兩）　北五味（五錢）　麥冬（一兩）　山茱萸（五錢）　丹皮（三錢）　甘菊（五錢）　白茯苓（二錢）　澤瀉（三錢）　車前子（二錢）</p>
<p>水煎服。</p>
<p><u>消濕化怪湯</u></p>
<p>白朮　芡實（一兩）　澤瀉（五錢）　苡仁（一兩）　肉桂（五分）　人參　茯苓　車前　萆　白芥子　白礬（三錢）　牛膝　陳皮　半夏（二錢）</p>
<p>水煎服。</p>
<p><u>消塊神丹</u></p>
<p>蚯蚓糞（一兩）　水銀（一錢）　硼砂（一分）　黃柏（五錢）　兒茶（三錢）　冰片　麝香（五分）</p>
<p>各為細末，研至不見水銀為度。此藥用醋調成膏，敷在患處，一日即全消。</p>
<p><u>消指散</u></p>
<p>硼砂（一分）　瓦蔥（一兩）　冰片（三分）　人參（一錢）</p>
<p>各為末敷之。</p>
<p><u>化水湯</u></p>
<p>白朮（五錢）　半夏（一錢）　甘草（二錢）　苡仁（一兩）　萆　白芥子　牛膝　人參（三錢）</p>
<p>水煎服。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃　芒硝　甘草水煎服。</p>
<p><u>三化湯</u></p>
<p>大黃　厚朴　枳實　羌活水煎服。</p>
<p><u>和血散痛湯</u></p>
<p>羌活　升麻　麻黃（一錢五分）　桃仁（十個）　柴胡　防風　黃柏　知母（一錢）　黃連　防己（六分）　豬苓　獨活當歸（一分）　甘草（二分）　紅花（一分）</p>
<p>分二服水煎，食前熱服。</p>
<p><u>桂附八味丸</u></p>
<p>熟地黃（八兩）　山茱萸　山藥（四兩）　丹皮　茯苓　澤瀉　肉桂　附子（一兩）</p>
<p>蜜丸，空心鹽湯下，冬酒下。</p>
<p><u>十全大補湯</u></p>
<p>（即十全散）</p>
<p>人參　白朮　茯苓　當歸　撫芎　白芍　生地　甘草　黃　肉桂薑棗煎服。</p>
<p><u>聖靈丹</u></p>
<p>苦葶藶（炒，四兩）　漢防己　木香　茯苓　木通　人參（二錢半）</p>
<p>上為末，棗肉為丸如梧子大，每服三十丸，桑皮湯下。</p>
<p><u>生肌散</u></p>
<p>（見頭門）</p>
<p><u>六味丸</u></p>
<p>（見耳門）</p>
<p><u>通聖散</u></p>
<p>（見頭門）</p>
<p><u>加味逍遙散</u></p>
<p>（見目門）</p>
<h2>卷之八</h2>
<h3>溺孔</h3>
<p>張仲景云：有婦人陰吹，陰戶中喧搏聞聲，為胃氣下泄，穀氣實使然。用豬膏發煎導之，豬膏半斤，亂髮雞子大者三枚和煎，發消藥成矣。分再服，病從小便出也。</p>
<p>魏夫人《怪病方》云：有一婦產後用力，垂出肉線一條，長三四尺，觸之痛引心腹欲絕。一道人令買老薑皮三斤，搗爛入麻油二斤，拌勻灼干，先以熟絹五尺，折作方結，令人輕輕盛起肉線，使之屈折三圍，納入產戶，乃以絹袋盛薑，就近熏之，冷則更換，熏一日夜，縮入大半，二日盡收也。但不可使線斷，斷則不可治矣。</p>
<p>《經驗方》云：一婦人陰戶出一線，有兩年余，用倍子末敷陰中而愈。</p>
<p>夏子益《奇疾方》云：有婦人因生產陰陽易位，前陰出糞，名曰交腸。取舊　頭燒灰酒服，再間服五苓散，分利之。如無　頭，凡舊漆紗帽皆可代之，此皆取漆能行敗血之故耳。</p>
<p>丹溪云：有馬希聖，年五十余，性嗜酒，常痛飲不醉，糟粕出前竅，便溺出後竅，六脈皆沉澀。與四物東加海金沙、木香、檳榔、木通、桃仁，服之而愈。此人酒多氣肆，酒升而不降，陽極虛，酒濕積久生熱，煎熬血干，陰亦大虛，陰陽偏虛，時暫可活者，以其形實，酒中穀氣尚在，三月後其人必死，後果然。</p>
<p>又云：一婦年五十嗜酒，痛飲不醉，忽糟粕出前竅，尿溺出後竅，脈沉澀。與四物東加海金沙、木香、檳榔、木通、桃仁，八帖而安。</p>
<p>又云：一婦年三十余，產二日，產戶下一物如手帕，有二尖，約重一斤余。此胎前因勞役傷氣成肝痿所致，卻喜不甚虛。其時天寒，急以炙　、白朮、升麻各五分，參、歸身各一錢，連與三劑，即收上，得汗通身乃安。其黏席凍干者，落一片約五六兩，蓋脂膜也。脈澀左略弦形實，與白朮、芍藥、當歸各一錢半，陳皮一錢，薑一片，二三帖養之。</p>
<p>又云：一婦產後陰戶下一物如合缽狀，有二歧，此子宮也，氣血弱故隨胎下之。用升麻、當歸、黃　，大劑服二次，更用皮工之法，以五倍作湯，洗濯皴其皮，後覺一響而收入，但經宿著席，破落一片如掌大，心甚恐，慰之曰：此非腸胃比，肌肉破，尚可復完。以四物東加人參數十帖，三年後復生一子。</p>
<p>又云：鮑兄年三十，玉莖挺長腫而痿，皮塌長潤，磨股不能行，兩脅氣上，手足倦弱。先以小柴胡加黃連，大劑行其濕熱，略加黃柏，降其逆上之氣，其挺腫漸收，漸減其半。但莖中有堅塊未消，遂以青皮一味為末為君，佐以散風之劑末服，外以絲瓜汁調五倍子末，敷而愈。</p>
<p>又云：鄭子敬酒後飲水及水果，腎偏大，時作蛙聲，或作痛。炒枳實一兩，鹽炒茴香、炒梔子各三錢，煎湯送下保和丸而愈。</p>
<p>又云：一人膀胱氣下墜，如蛙聲。臭橘核炒十枚，桃仁二十枚，蘿卜汁下保和丸七十丸。</p>
<p>《奇症方》云：有人患玉莖不痿，精滑無歇，時時如針刺，捏之則痛，其病名強中，乃腎滯漏疾也。用破故紙、韭子各一兩為末，每服三錢，水二盞煎六分服，日三次，愈則止。</p>
<p>又云：一婦人生蟲一對，於地能行，長寸余，自後月生一對。醫以苦杖加打蟲藥為丸服之，又生蟲一對，埋於土中，過數日發而視之，暴大如拳，名子母蟲，從此絕根。</p>
<p>《危氏方》云：有女人月事退出，皆作禽獸之形，欲來傷人。先將綿塞陰戶，乃頓服沒藥一兩，白湯調下即愈。</p>
<p>〔源按〕此症必不正之氣感於子戶，其月事因隨所感，而化生怪物也。沒藥散結氣，通滯血，使氣散血通，則怪物消而邪自滅也。</p>
<p>孟詵《食療本草》云：有婦人產門患蟲疽，痛癢不可忍。用杏仁去皮燒存性，杵爛，綿裹納入陰中取效。</p>
<p>《集簡方》云：有婦人產後，因陰戶燥熱遂成翻花。急用澤蘭四兩，煎湯熏洗二三次，再以枯礬煎洗之即安。</p>
<p>《千金方》云：有人陰冷，漸漸冷氣入陰囊，腫滿欲死，日夜痛悶，不得眠。生椒擇之洗淨，以布帛著丸囊，令濃半寸許，須臾熱氣大通，再與之，取出瘥。</p>
<p>又《本事方》許學士云：曾有人陰冷，冷氣入陰囊，腫滿而痛，晝夜不得眠，煮大薊汁服之而痊。</p>
<p>《瑣碎錄》云：思村王氏子生七日，兩腎縮腹。一醫用硫黃、吳茱萸，研大蒜塗其腹，又以蛇床子熏之愈，蓋初受寒邪故也。</p>
<p>《雞峰備急方》云：有老人腎硬，此腎臟虛寒內腎結硬，雖服補藥不入。用羊腎子一對，杜仲長二寸闊一寸一片，同煮熟，空心食之，令內腎柔軟，然後服補藥。</p>
<p>《三十六黃方》云：有人走精，面目俱黃，多睡，舌紫甚，面裂，名走精黃病。若爪甲黑者死。用豉半兩，牛脂一兩，煎過，綿裹烙舌，去黑皮一重，濃煎豉湯飲之。又云：房勞黃病，體重不眠，眼赤如朱，心下塊起若瘕，十死一生。宜烙舌下，灸心　、關元，二七壯，以婦人內衣燒灰酒服二錢。</p>
<p>《臨汀集要方》云：葉朝議親人，患血淋流下，便在盆內，凝如HT　，久而有變如鼠形，但無足爾，百治不效。</p>
<p>一村醫用杜、牛膝根煎濃汁，日飲五服，名地髓湯。雖未即愈，而血色漸淡，久乃復舊。後十年病又作，服之又瘥。</p>
<p>江篁南云：休寧金舉人，常語人曰：予常小腹甚痛，百藥不應。一醫為灸關元十余壯，次日莖中淫淫而癢，視之如蟲，出四五分，急用鐵鉗扯出，長五六寸，連日蟲出，如是痛不復作。初甚驚恐，後則視以為常，皆用手扯，此亦偶中也。仲景云：火力雖微，內攻有力，蟲為火力所逼，勢不能容，故從溺孔出也。其人善飲，胃內膀胱不無濕熱，遇有留血瘀濁，則附行蒸郁為蟲矣，經云：濕熱生蟲有是理也。</p>
<p>《王逋肱蚓庵瑣語》云：新安程孝廉，名光禮，字奕先，奉呂祖甚虔，忽有黑氣入　中，似覺婦女之陰相接，其精大泄，符藥不愈。一日遇一道人，教其佩麝香可愈。初佩不多未驗，後佩兩余，其祟遂絕。予友盛鶴江親聞奕先自述如此。</p>
<p>《東軒主人述異記》云：紹興周山吳公弼妻章氏，病痿十余年，忽變淋漓，小便不通，臥床不起，醫藥罔效。有老姨婆年八十余，曰：此症我曾見過，非藥可治，必產一石卵方愈。眾皆不信，又年余，至康熙三十七年五月，產一石卵，大如鵝蛋，光滑有細紋，以斧擊之，毫無所傷，其卵至今尚在，章氏前症霍然俱愈。</p>
<p>青林治一婦產後因子死，經斷不行者半年，一日小腹忽痛，陰戶內有物如石硬，塞之而痛不禁，眾醫莫識。青林曰：此石瘕病也。用四物加桃仁、大黃、三棱、檳榔、元胡、附子、澤瀉、血竭，三劑而愈。</p>
<p>李東垣治一富者，前陰間嘗聞臊臭，又因連日飲酒，腹中不和，求東垣治之。曰：夫前陰者，足厥陰之脈絡，陰氣出其挺末，臭者心之所主，散入於五方為臭，入肝為臊臭，此其一也。當於肝中瀉行間，是治其本，後於心經瀉少衝，以治其標。如惡針，當用藥治之，治法當求其本。連日飲酒，夫酒者氣味俱能生濕熱，合於下焦為邪，故經云：下焦如瀆。又云：在下因而竭之，酒者是濕熱之水，亦宜決前陰以去之，是合下焦二法治之，龍膽瀉肝湯是也。</p>
<p>呂滄洲治一人年五十余，色蒼黑，素善飲，忽玉莖堅挺，莫能沾裳，不能屈腰作揖，常以竹篦為彎弓狀，攔於玉莖之前，但小溲後即欲飲酒，否則氣不相接，蓋濕熱流入厥陰經而然也，專治厥陰濕熱而愈。</p>
<p>一寵外家年三十余，凡交合則覺陰中隱痛，甚則出血。按其脈，兩尺沉滯而澀，用補血散寒之劑不愈。因思藥與病對，服而不效，恐未適至其數也，偶檢《千金方》，用蛇床子散綿裹納其中，二次遂愈。</p>
<p>薛己治一產婦子宮歷大，二日方收，損落一片殊類豬肝，面黃體倦，飲食無味，內熱晡熱，自汗盜汗。用十全大補湯二十余劑，諸症悉除，仍復生育。</p>
<p>唐與正治吳巡檢，病不得溲，臥則少通，立則不能點滴，遍用通藥不效。唐問其平日，自製黑錫丹常服，因悟曰：此必結砂時，硫飛去，鉛不死，鉛入膀胱，臥則偏重，尤可溲，立則止塞水道，故不通。取金液丹三百粒，分十服，瞿麥湯下，鉛得硫則化，水道自通。</p>
<p>孫東宿治都察院衷洪溪，發熱口渴，因解燥渴而過食冰浸瓜梨，遂成泄瀉，小水短少。醫以胃苓東加滑石、木通、車前，利之而瀉止，大便又因之結燥，艱澀不堪，乃用潤腸丸，復瀉不止。又進以前通利之劑，瀉雖止，而小便不得流通直遂，臍下脹急，立起解之，則點滴不出，臥則流之不竭，以頻取夜壺，至通宵不得寐也。治半年余，而精神削，寢食廢。孫至告其受病之源，探其脈兩寸短弱，關緩大，兩尺洪大，曰：此余暑未解，原素善飲，濕熱流於下部也。先以益元散三錢，煎香茹湯進之，略無進步。次早復診，六脈如昨，孫思之而恍然悟曰：此症尿竅不對也。《內經》云：膀胱者脬之室也。脬中濕熱下墜，故立解而竅不對，小水雖滑，滑而流，亦不能通達直遂，故了而不了也。治惟提補上中二焦元氣，兼清下焦濕熱，斯得矣。又有一法，今氣虛下陷已久，一二劑未能取效，安得復枕而睡？且此不寐，非心血不足之故，因著心防閑，小便之了而不了，而不敢寐也。暫將布襯於席上，不必防而其流出，又免取夜器，而勞動其神，自然睡熟矣。以補中益氣東加黃柏、知母，祛下焦之濕熱，夫清熱升，則濁陰自降，脬無濕熱則不下墜，竅可對而病可瘳矣。服之嗒然一睡，神氣頓回如未病者，調理四日而病即安。</p>
<p>李寅齊患血淋二年不愈，每發十余日，小水艱澀難出，竅痛不可言。將發必先面熱牙疼，後則血淋，前數日飲湯喜溫，再二日喜熱，又二日非冷如冰者不可，燥渴之甚令速汲井水，連飲二三碗，猶以為未足，未發時大便燥結，四五日一行，已發則瀉而不實，脈左寸短弱，關弦大，右寸下半指與關皆滑大，兩尺俱洪大，據此中焦有痰，肝經有瘀血也。</p>
<p>法當去瘀生新，提清降濁。用四物東加杜、牛膝補新血，滑石、桃仁消瘀，枳實、貝母以化痰，山梔降火，柴胡提清氣，二十帖而諸症漸減，再以滑石、黃柏、知母各一兩，琥珀、小茴香、桂心各一錢半，元明粉三錢，海金沙、沒藥各五錢，茅根汁熬膏為丸，每服一錢，空心及晚，茅根湯送下而愈。</p>
<p>一婦腹中微疼，經行不流利，喉痛，四肢麻木作戰，不知飢餓，左脈洪大，如豌豆大。以川烏、香附、麥芽、山楂、烏梅、粉草、桔梗、酒芩、防風、荊芥、白朮、茯苓，四劑而安。次月經水大行，十日不止。以黃　、阿膠、蒲黃各一錢，白芍二錢，甘草三分，一帖而止。此後但覺濁氣下墜，屁從子戶出，以補中益氣東加黃連調養而平。</p>
<p>一婦每月汛行，子戶旁輟生一毒，脹而不痛，過三五日，以銀簪燒紅，刺破出白膿盞余而消，不必貼膏藥，而生肉無疤痕。初間用針刺，近只以指掐之，膿即出，但汛行即發，或上下左右而無定所，第不離子戶也。於今八年，內外科歷治不效，且致不孕。孫思兩日而悟也，此中焦濕痰，隨經水下流，壅於子戶也，經流而痰凝，故化為膿，以原非毒故不痛。用白螺螄殼火　存性為君，南星、半夏為臣，柴胡、甘草為佐，面糊為丸。令早晚服之，未終劑而汛行不腫，次年生子。</p>
<p>一仆婦因產難而子宮墜出戶外，半月不收，艱於坐臥。家貧不能求醫，憂恐成痼。有專科云：只須用補中益氣湯一百帖，每帖用人參三錢，計二斤可收也。其夫謝云農家朝佣暮食，無隔宿之儲，安有人參二斤可服也？唯命是俟耳。有人對孫言之，孫曰：此必產時受寒，血凝滯不能斂而收入，症雖名陰脫，未必盡由氣虛下脫也，觀其善餐，而大小便如常可知矣。予有一法，價廉而功省，三五日可瘳也。用未經水鍛石一塊重二三斤者，又以韭菜二三斤，煎湯置盆中，將灰投入，灰開湯沸，看沸聲盡，乃濾去灰，帶熱坐於盆上，先熏後洗，即以熟韭菜於患處探挪，蓋鍛石能散寒消血，韭菜亦行氣消血，一日洗一次，如法洗之，初極爽快，洗三日果消軟收入。</p>
<p>一人莖頭腫大如升，明亮如水泡。一醫作濕痰流下，以二陳加升麻、青黛、牡蠣，二劑而愈。</p>
<p><u>金液丹</u></p>
<p>石硫黃（十兩）</p>
<p>研碎用瓷盒盛以水和赤石脂，封口，鹽泥固濟，晒乾。</p>
<p>地內先埋一罐，盛水令滿，安盒在上，用泥固濟。慢火養七日七夜，候足，加頂火一斤　，候冷，取出研末。每一兩用蒸餅一兩，水浸為丸，如梧子大，每服三十丸，清晨米飲下。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡　人參　半夏　黃芩　甘草薑棗煎服。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>龍膽草（酒炒）　黃芩　梔子　澤瀉　木通　車前　當歸（酒炒）　生地（酒炒）　柴胡　甘草水煎服。</p>
<p><u>六黃湯</u></p>
<p>黃　黃柏　黃芩　黃連　生地黃　熟地黃水煎服。</p>
<p><u>五苓散</u></p>
<p>（見胸門）</p>
<p><u>四物湯</u></p>
<p>（見頭門）</p>
<p><u>十全大補湯</u></p>
<p>（見手足門）</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>保和丸</u></p>
<p>（見目門）</p>
<h3>肛門</h3>
<p>黃帝氣厥論篇曰：肺移寒於腎為涌水，涌水者，按腹不堅，水氣客於大腸，疾行則鳴，濯濯如囊裹漿水之病也。（注云：腎氣凝寒不能化液，大腸積水而不流通，故其疾行則腸鳴，而濯濯有聲如囊裹漿而為水病也）所治葶藶丸。</p>
<p>夏子益《奇疾方》云：有人患大腸頭出寸余，痛苦，干則自落，落又出，名為截腸病，腸盡則死。但初覺截時，用器盛脂麻油坐浸之，飲大麻子汁數升即愈。</p>
<p>〔源按〕此症為風邪客於大腸，蓋風性善行，因逼迫而下，故腸頭外出，然風又生燥，燥則營血不能貫潤，故干而自落，落後復迫大腸又下，故又干而落也。麻油潤燥祛風，以治其外，大麻子汁驅一切惡風，而更能潤內，內外兼治，病故即安。</p>
<p>《奇病方》云：有人患糞門內拖出一條，似蛇非蛇，或進或出，又安然無礙。此怪物長於直腸之間，非蛇也，乃肉也，但伸縮如意，又似乎蛇。法當內用湯藥，外用點藥，自然消化矣。內用逐去殺蛇丹飯前服，二劑後，外用冰片點之。先用木耳一兩，煎湯洗之，洗後將冰片一分，研末而掃，掃盡即縮進而愈。</p>
<p>《怪疾奇方》云：人有患濕熱，大腸內蟲出不斷，斷之復生，行坐不得。治以鶴虱為末，水調兩半服自愈。</p>
<p>《肘後方》云：有人患蟲蝕肛，爛見五臟則死。以豬脂和馬蹄灰，再雞子白調塗，其毒瓦斯即能撥出也。</p>
<p>庚志云：趙千山寓居天王寺，苦寸白蟲為撓。醫者戒云：是痰，當止酒而以素所耽嗜。欲罷不能，一夕醉與外舍，歸以夜半，口乾咽燥，倉卒無湯飲，適廊廡間有瓮水，月色下照瑩然可掬，即酌而飲之，其甘如飴，連盡數盞，乃就寢，迨曉蟲出盈席，覺心腹頓寬，宿疾遂愈。一家驚異，驗其所由，蓋寺仆日織篦履浸紅藤根水也。</p>
<p>又云：蔡康積苦寸白為病，醫者使之碾檳榔為末，取石榴東引根，煎調服之，先炙豬肉一大臠，置口中咽咀其津膏而弗食言。此蟲惟月三日以前其頭向上，可用藥，余日即頭向下，雖藥無益，蟲聞肉香咂啖之意，故空則群爭赴之，覺胸中萬箭攻攢，是其候也，然後用前藥，蔡悉如之，不兩刻腹中雷鳴，急登廁，蟲下如傾。命仆人以杖桃撥，皆連綿成串，幾長數丈，尚蠕蠕能動，宿疾遂愈。</p>
<p>《幼科方》云：有小兒初生，穀道不通，多致不救，非藥可醫。曾有人用銀箸頭燒紅穿通其竅，大便始出，亦有用玉簪通者。</p>
<p>陳尚古《簪云樓雜說》，烏程姚莊顧又虎，累葉簪紱，習享半郁。忽一日促家人持竹批，解褲受杖二十，後習為常，間用稍輕輒加呵責，或反於杖杖之必重下，乃呼快心，如是數年，漸覺疼痛而止。醫者聞之曰：過嗜辛辣發物則熱毒內訌，因成奇癢，適打散不致上攻，否則患疽發背而死矣。此富貴人炯鑒也。</p>
<p>廣陵有一田婦，瀉下惡物如油，有一鄰童，用紙捻蘸之，與油無二，眾醫莫效。孫茲九治之，用補中益氣湯十劑，及天王補心丹，服之而愈。旁問其故，曰：驚氣入大腸也，詢之果因驚得此。</p>
<p>東垣治一人，腸　下血，另作一派，其血唧出有力而遠射，四散如篩，春中血下行，腹中大作痛，乃陽明氣衝，熱毒所作也。當升陽去濕，和血脈。以陳皮二分，熟地、歸身、蒼朮、秦艽、桂各三分，生地、丹皮、生甘草各五分，升麻七分，炙甘草、黃　各一錢，白芍一錢五分，名曰升陽去熱和血湯，作一服，水四盞煎一盞，空心稍熱服。</p>
<p>《準繩》載：無擇翁治脈痔外無形，而所下一線如箭，或點滴不已。此由脈竅中來也，用　皮丸。</p>
<p>程仁甫治一兒，一歲之內，大便三四十日只通一次，每通時腹脹盛。此乃胎毒熱結所致。用玄明粉米飲調下一錢，三五次之後不復閉。</p>
<p><u>葶藶丸</u></p>
<p>葶藶（炒）　澤瀉　椒目　桑白皮　木豬苓　杏仁（各五錢）</p>
<p>為末，煉蜜丸梧子大，每服三五十丸，蔥白湯下，不拘時服，以利為度。</p>
<p><u>逐邪殺蛇丹</u></p>
<p>當歸　白芍（各一兩）　蘿卜子（三錢）　地榆（五錢）　大黃（一錢）</p>
<p>水煎服。</p>
<p><u>天王補心丹</u></p>
<p>生地（四兩）　人參　元參（炒）　丹參　茯神　桔梗　遠志（炒，五錢）　棗仁（炒）　柏子仁（炒、研去油）　天冬（炒）　麥冬（炒）　當歸　五味子（一兩）</p>
<p>蜜丸彈子大，朱砂為衣，臨臥燈心湯下一丸。</p>
<p><u>　皮丸</u></p>
<p>皮（炙焦，一兩）　槐花（炒）　艾葉（炒黃）　豬後懸蹄垂甲（炙黃，十枚）　盈尺皂角（一挺，去弦核、醋炙黃）</p>
<p>為細末，蜜丸梧子大，每服五十丸，食前米飲送下。</p>
<p><u>補中益氣湯</u></p>
<p>（見項門）</p>
<p><u>二陳湯</u></p>
<p>（見目門）</p>
