<header data-type="book">
<h1>醫學舉要</h1>
</header>
<h2>卷一</h2>
<h3>六經合論</h3>
<p>按仲景自序，言作《傷寒雜病論》，合十六卷，則傷寒雜病，未嘗分為兩書也。所云太陽之為病，脈浮，頭項強痛而惡寒，陽明之為病，胃家實也；少陽之為病，口苦咽乾目眩；太陰之為病，腹滿而吐，食不下，自利益甚，若下之，必胸下結硬；少陰之為病，脈微細，但欲寐也；厥陰之為病，消渴，氣上撞心，心中疼熱，飢而不欲食，食則吐蛔，下之利不止。是六經分司諸病之提綱，不專為傷寒一症立法。今之讀傷寒論者，一惑於傳經之說，再惑於三綱鼎立之說，遂至經旨不明。自程郊倩、柯韻伯，撇去舊解，覺仲景所分之六經，不特可以頭痛發熱，汗出惡風，為桂枝本症。脈浮弱，為桂枝本脈。一見此症此脈，無問其為中風傷寒雜病也。汗出而熱不解，因邪在營衛之間，不在皮毛之際，故以桂枝生薑甘草大棗，辛甘發散，中配以芍藥酸寒，用以發汗，即用以止汗也。又慮中氣虛餒，不能送邪外出，須助以熱粥。經云飲入於胃，以傳於肺，肺主皮毛，汗所從出。服已啜粥，充胃氣以達於肺也。是方調和營衛，不特自汗盜汗，虛瘧虛痢所宜，即勞倦內傷，及一切陽虛等症，咸宜用之。以桂枝為建中之祖耳。胸滿去芍藥，喘加厚朴、杏仁，汗漏不止加附子，亡陽起臥不安去芍藥加蜀漆、龍骨、牡蠣，為救逆湯。此皆進而從陽也。若退而從陰者，加黃芩為陽旦湯，倍芍藥又治太陰腹滿，微痛加大黃，治太陰大實病。《難經》云：陽維為病苦寒熱，陰維為病苦心痛。後人並用桂枝湯，以陽維屬衛，陰維屬營，桂枝湯調和營衛也。專用芍藥甘草二味，名芍藥甘草湯，專治血虛腹痛，乃泄木安土之義。</p>
<p>余痛不治，以其酸寒，無溫散之力也。</p>
<p>桂枝湯治表虛，倍芍藥加膠飴，名小建中湯，桂枝為和劑，建中為補劑也。故不特傷寒心悸而煩，及腹中急痛者宜之，即虛勞裡急，亡血失精等症，《金匱》與黃　建中湯並用。又疸症篇云：男子黃，小便自利，當與虛勞小建中湯，則知此湯為治虛勞之專劑。男子身黃便利，顯屬虛寒而非濕熱，故亦以此湯治之也。是方加黃　，名黃　建中湯，意在保護肺氣，不令自汗，專為虛勞而設，而非傷寒門所有事。然許學士治傷寒無汗，尺中脈遲，不任發散者，先用黃　建中以實其氣，後用麻黃湯以發其汗，此又善於取裁矣。《千金》於小建中東加當歸，名內補當歸建中湯，治女科虛羸少氣，裡急腹痛等症，意在安營以補血，故更其名曰內補也。</p>
<p>麻黃湯，治頭痛發熱，身疼腰痛，骨節疼痛，惡寒無汗而喘之症，乃太陽發汗之峻劑。</p>
<p>桂枝湯中無麻黃，且得芍藥之監制，誤用尚可挽回，是方麻桂辛溫，佐以杏仁開氣，雖有甘草之和，猛銳莫當，頗為難用。時行感冒，代以蔥豉湯，九味羌活湯足矣。凡遇冷風哮喘等症，邪鬱肺經而無涉於下焦真元者，麻黃湯又為要劑。本方去桂枝，《局方》名三拗湯，冬日無汗用之，較本方為緩也。仲景於本方中去桂枝加石膏，更名麻杏甘膏湯，治肺經郁遏作喘，表寒裡熱之症。</p>
<p>小青龍湯，於發汗中利水。蓋汗為水類，肺為水源，傷寒表不解，發汗而未透也。心下為水氣，即未出之汗也。乾嘔發熱而咳，或微喘，邪未盡而停於肺胃之間也。病屬有形，非一派發汗所能愈，故用麻黃之解表，即用白芍五味之斂逆，一以散水寒，一以收喘咳也。又加乾薑之溫肺，細辛之溫腎，半夏之除嘔，甘草之緩中，表裡分消，水氣有不散者乎？金匱用以治溢飲，以飲亦水類，四肢之水，與心下之水同治也。加石膏以治肺脹，以水停心下而兼煩躁。石膏辛寒，即仿傷寒大青龍之旨也。後人用小青龍治水腫，以無汗而喘，即遵《內經》開鬼門之治也。方中五味、乾薑，尤為治表寒發咳之要藥。所以小柴胡真武等湯，方後俱云咳者加五味子、乾薑。五苓散與豬苓湯，同治脈浮發熱，渴欲飲水，小水不利之症。而一屬陽明，必顯躁煩熱悶，故於茯苓、豬苓、澤瀉利水之中，加阿膠、滑石以滋陰滌熱；一屬太陽，或太陽轉屬陽明，必因發汗未透，以致邪水內蓄，故於茯苓、豬苓、澤瀉利水之中，加白朮以健脾利水，桂枝以散表除邪。觀仲景云：多服暖水汗出愈。則知此方利水而兼發汗也。後人移治交腸，交腸者，大小易位而出也。《金匱》加茵陳治黃膽，名茵陳五苓散，後人去桂名四苓散，純為利水之劑。合平胃名胃苓湯，又為消腫利濕之劑。</p>
<p>痞者，天地不交之謂，以邪氣痞塞於中，上下不通而名。滿而硬痛為結胃，但滿不痛為痞。</p>
<p>諸家論痞，或偏於寒，或偏於熱，究之寒熱互結則成痞。惟其寒熱有差多差少，故諸方或以附子之辛熱立名，或以大黃黃連之苦寒立名，或以生薑之辛散立名，或以甘草半夏之和緩立名。按甘草瀉心湯，用乾薑、半夏、黃芩、黃連、甘草、大棗六味，益以人參名半夏瀉心，益以人參生薑名生薑瀉心。柯韻伯曰：太陽變痞，用生薑瀉心。陽明變痞，用甘草瀉心。少陽變痞，用半夏瀉心。至大黃黃連瀉心湯，止用大黃黃連二味，再加黃芩、附子，名附子瀉心。仲景立法，原各有不同，一言以蔽之，不外辛開苦降而已。治痞要藥，在乾薑、黃連二味。半夏、黃芩、甘草、大棗四味，則輔佐而已。偏於寒則多用乾薑，亦可參以附子；偏於熱則多用黃連，亦可參以大黃；偏於中虛則加人參；或涉表邪一二則加生薑，並可與旋覆、代赭、黃連等湯出入互用。又按程郊倩曰：若不因誤下而為痞者，或痰或食或氣為之結，俱非瀉心湯治。更有陰經得寒而成痞逆者，服瀉心湯必成大害。</p>
<p>大結胸證，硬滿而痛，不必定在心下，故用硝、黃、葶藶、甘遂等峻劑。而小結胸但在心下，按之則痛，較大結胸之手不可近為緩，而脈之浮滑，又不同於沉緊，但用黃連之苦以降之，半夏之辛以散之，栝蔞之苦以潤之（先煎去渣），微下黃沫即安。以熱痰留滯，不同蓄水橫溢，故不用峻劑也。</p>
<p>梔子豉湯治陽明初病，不全在表，不全在裡，汗下溫針，皆在所禁。惟用梔子一味先煎，後內香豉，為能雙解表裡，外而身汗惡熱身重，內而喘滿咽乾口苦，一齊可解矣。</p>
<p>凡三陽合病，腹滿身重，譫語遺尿而大汗出，白虎湯為要方。石膏知母之寒，監以甘草粳米，則不傷胃氣。加人參為人參白虎，治陽明渴欲飲水，口乾舌燥。蓋熱已入胃，不當復表，屎未燥硬，尚未可攻，須用白虎以除熱潤燥，人參以補氣生津。《金匱》治中　亦用人參白虎，以暑邪汗多作渴，雖曰太陽，實系陽明也。</p>
<p>豬苓湯治脈浮發熱，渴欲飲水，小便不利，證同五苓。此方以陽明燥熱，故用二苓澤瀉以利水，即用滑石、阿膠以滋陰，不同太陽寒水之化，故去朮桂二味。消渴門中，尤為要劑。</p>
<p>瘀熱在裡，非汗吐所宜。身無汗，小便不利，不得用白虎。斑熱發黃，內無津液，不得用五苓，故制茵陳蒿湯。茵陳稟北方之色，受霜承雪，經冬不凋，復感春生之氣發育，因舊本而復茂，故能啟水寒之氣上行。梔子則導君火之氣以下行，更入血分而通水之源。大黃苦寒下泄，導濕滌熱。三物合用，所以佐梔逗承氣之不及也。</p>
<p>《難經》云：陽盛陰虛，下之則愈，用承氣下之，乃所以存陰也。然下劑不用滋陰而用破氣，蓋胃主降，穢物停滯胃中而不降，由於氣之不承，故以承氣名湯。大承氣以厚朴、枳實、氣藥為君，大黃、芒硝血藥為臣。因痞滿燥實堅五者全見，勢甚盤結，硝黃大寒，必藉枳朴之苦溫以滌蕩之，煮法先內枳朴，後內大黃，又次內芒硝。小承氣以大黃為君，枳朴為臣，胃腑實滿，稍緩於三焦之實熱，不用芒硝，則不傷下焦真陰。煎法三味同煮，不分次第。若調胃承氣，以炙草硝黃，微和胃氣，不用枳朴，勿令大泄下。熱結有淺深，用藥有輕重，三承氣之用，總在臨證化裁耳。</p>
<p>少腹脹滿而小便自利，知為血蓄下焦，蓄血能發熱，故如狂。桃仁承氣湯，用芒硝、大黃、甘草，即調胃承氣也。熱甚搏血，故加桃仁以潤燥緩肝，表證未除，故加桂枝以調營解表。</p>
<p>是方於女科經閉門中，尤為要劑。</p>
<p>仲景抵當湯丸，用水蛭、虻蟲、桃仁、大黃四味，為攻瘀血之峻劑，而血蠱等證，尤為要藥。然水蛭鹹寒有毒，未可輕試，此代抵當丸所由設也。方用桃仁、歸尾、生地各一兩，潤以通之。桂心三錢，熱以動之。大黃四兩，元明粉一兩，苦寒鹹寒以蕩滌之。加穿山甲一兩者，引之以達瘀所，煉蜜為丸，甘以緩急也。</p>
<p>少陽屬膽，清淨之府，無出無入，經在半表半裡，治宜和解，小柴胡湯用柴胡升陽達表，黃芩退熱和陰，半夏祛痰散逆，參草薑棗輔正補中，使邪不得復傳入裡也。其見證則嘔而發熱，寒熱往來，口苦耳聾，胸滿脅痛，心煩喜嘔，但見一證即是。亦何必諸證悉具，始為小柴胡湯證哉？崔氏小前胡湯，即本方以前胡易柴胡。子和柴胡飲子，即本方去半夏，加當歸、白芍、大黃。</p>
<p>大柴胡湯治陽邪入裡，表證未除，裡證又急者，用柴胡解表，大黃、枳實攻裡，黃芩清熱，白芍斂陰，半夏和胃止嘔，薑棗調和營衛。是方比三承氣為緩，以不用芒硝之燥急也。</p>
<p>太陽少陽合病，必有頭痛胸滿，口苦咽乾，寒熱往來之病機，或大或弦之脈象，陽邪入裡，膽火移熱於脾，故自下利。黃芩湯用黃芩徹熱為君，佐白芍、甘草、大棗以和營氣，雖非胃實，亦非胃虛，故不須人參以補中。兼痰飲則嘔，故仍加半夏生薑。後人移治春溫伏熱，機要以之治痢，更名黃芩芍藥湯，是方遂為治痢之祖方矣。胸中有熱而欲嘔吐，胃中有寒而作腹痛，此上熱下寒也。濕家下之，丹田有熱，胸中有寒，此上寒下熱也。黃連湯為升降陰陽之通劑，與小柴胡兩解表裡，實為對待。方中人參補虛，半夏除嘔，甘棗緩中，四味與小柴胡同，余則彼用柴胡而此易以桂枝，彼用黃芩而此易以黃連，彼用生薑，而此易以乾薑，和解雖同，而上下之邪與表裡之邪異矣。是方與瀉心諸湯，出入互用。</p>
<p>仲景云：理中者理中焦，則知太陰厥逆，自利不渴，脈沉無力者，當以此方為主。方中人參補氣益胃為君，白朮健脾燥濕為臣，甘草和中補土為佐，乾薑溫胃散表為使。仲景本用丸劑，後人改丸為湯。加附子名附子理中，取補火生土之意。加黃連名連理湯，參辛開苦降之治。脾約丸，太陰下劑也，津液被約而未至虧損者宜之。麻仁、杏仁，甘以潤之，枳實、厚朴，苦以破之，白芍、大黃，寒以下之。使胃不過強而脾不過弱，津液流通，使小便不數而大便不硬，則約者自開。</p>
<p>四逆湯以炙草為君，乾薑附子為臣；通脈四逆湯以乾薑為君，炙草附子為臣。因加減中有面色赤者加蔥之例，後人遂以加蔥為通脈四逆。四逆與理中，同治太陰臟寒自利不渴四肢厥逆等證，而制方有中下之別。理中用白朮，取其守中，故專治太陰；四逆用生附，取其溫下，故不時兼治三陰，即太陽亦可通用。柯韻伯曰：用於太陰本經，固本以逐邪也。於少陰，溫土以制水也。於厥陰，和土以升木也。於太陽，益火以扶元陽也。本方加人參，名人參四逆湯。加茯苓人參，名茯苓四逆湯。去炙草，名曰薑附子湯。去炙草加蔥白，名白通湯。再加人尿豬膽汁，名白通加豬膽汁湯。陶節庵變易其制，於蔥白、乾薑、附子外加人參、五味、麥冬收陰生脈。面色赤者，更加黃連少許，大破其格拒之陰。廣皮芳香利氣，甘草甘緩和中，臘茶苦降達下，更用土漿水澄清煎藥，取土氣以靜鎮之，沖入白蜜冷服者，藉寒潤以急趨之也。</p>
<p>真武湯與小青龍，同為利水之劑。青龍治太陽邪水內蓄，汗劑以升散之也；真武治少陰真水泛溢，溫劑以鎮攝之也。方中附子益坎宮之少火以配水，佐白朮之健以制水，茯苓之淡以滲水，白芍之酸以收水，生薑之辛以散水，後人移治內飲，以飲亦水類也。腎氣丸為裡中之裡，真武用生薑，尚為裡中之表歟。</p>
<p>吳茱萸湯治陽明少陰二經虛寒之證，仲景以陽明病不能食者名中寒，食穀欲吐，或乾嘔，或吐涎沫，是胃氣虛寒，不能容物也。頭痛者，陽明之脈上於頭也。仲景以吐利煩躁四逆為少陰死症，今吐利手足厥冷，是專指手掌，與四逆之通冷者回別。故雖煩躁欲死，究非死症，並用此湯。吳茱辛熱，為通陽泄濁之要藥，故以為君，人參薑棗補益中氣，使土有以制水而水不上侵矣。</p>
<p>桃花湯用赤石脂，一半煎服，一半為末調服，取其固下。乾薑粳米辛甘相得，取其守中，治下利不止，便膿血者。夫下利而兼便膿血，則非下利清穀，全屬虛寒可知；便膿血而由於下利不上，則非裡急後重，全屬濕熱可知。讀者須會徐之才澀可去脫之條，兼參李東垣升陽散火之義。</p>
<p>黃連阿膠湯治少陰熱邪傳裡，心煩不寐之症。黃芩黃連直清心火，白芍收斂心神，阿膠雞子黃（生沖）滋補心神，且二物交通乎腎，亦以見芩連之輔佐，少陰與他經不同。</p>
<p>豬膚湯以豬為水蓄，而膚又津液所存，滋陰而不滑泄，佐以白蜜米粉，潤肺保脾，熬香熱服，功能引熱下行，治少陰病下利咽痛，胸滿心煩，方雖平淡，實出神奇。</p>
<p>烏梅丸治蛔厥，又主久利，泄肝安胃法也。蟲得酸則軟，而無力上攻，且酸為木味，助本氣也，故用烏梅苦酒之酸，蟲得辛則伏，而其頭向下。且辛為金味，制木邪也，故用蜀椒之辣，且細辛、生薑、桂枝、附子、當歸，莫非味之辛者，薑附之用，溫經而復陽，細辛雖入少陰，亦能散寒而通陽，桂枝和營衛而治其厥，人參同薑附則溫補中州，當歸一味，以厥陰本為血臟而宜之，黃柏、黃連，即《內經》熱因寒用之旨。恐寒邪拒格，即以寒藥引道之，所謂治寒以熱，涼而行之也。王晉三制安胃湯，治飢不欲食一症。川椒之辛（炒去汗），佐烏梅之酸（安吉者良），行陰以化肝，枳實、乾薑（用生淡者）助人參行陽道以益氣，黃連（真川）</p>
<p>清脾胃生化之源。統論全方，辛酸同用以化肝氣，酸甘相輔以和胃氣，肝化胃和，自能進食。</p>
<p>白頭翁湯治熱毒血痢，口渴下重之症。白頭翁苦寒而能息風，秦皮苦寒而能固脫，黃連苦寒而能燥濕，黃柏苦寒而能堅陰。四面搜逐伏邪，則上焦之渴，下焦之利，俱可止矣。《金匱》加阿膠甘草以治產後下痢，因產後虛極，兼顧其氣血也。</p>
<p>燒　散治陰陽易症，而朱奉議有　鼠糞湯治陰易。　鼠雄鼠也，其糞兩頭尖者即是，復以韭白，取以濁攻濁之義，後人移治遺濁疝氣，及女人淋帶等症，少腹疼痛者，屢有殊功。</p>
<p>竹葉石膏湯，治傷寒解後，虛羸少氣，氣逆欲吐之症。竹葉、石膏之辛寒，以散余熱，人參、甘草、麥冬、粳米之甘平，補虛生津，生薑半夏之辛溫，豁痰止嘔，雖曰寒劑，亦和劑也。移治暑熱煩渴等症，少變人參白虎之例。</p>
<p>旋覆代赭湯治傷寒解後噫氣一症。人參、甘草扶正補虛，薑棗、半夏和脾養胃，旋覆花之辛，旋轉於上，代赭之重，鎮逆於下。後人治頑痰，用代赭　末，旋覆花湯調服，亦良法也。</p>
<p>再按：噫氣有屬於土木交旺者，則又從事於承氣左金之例。</p>
<p>炙甘草湯又名復脈湯，治脈結代，心動悸者，雖於太陽傷寒見之，而不止太陽為然，傷寒為然，諸病之後皆然。故《千金》以治虛勞，外台以治肺痿。蓋氣血並虛，法當陰陽兼補，此氣者何？手太陰肺也，此血者何？手少陰心也。所謂脈為心合者是也。此氣此血，皆屬輕清而非重濁。觀此方用人參、炙草、桂枝、薑棗以補氣，而不用　朮，則不患燥陰，即所以調和營衛；用麥冬、生地、阿膠、麻仁以補血，而不用歸芍，則不患滯陽，即所以復脈通心。且更君以炙草，助以清酒，皆於輕清二字相協成功。薛生白曰：長沙夫子用阿膠，何曾云炒，後人畫蛇添足耳。阿膠之用，專為濟水伏流也，炒之濟水何在哉？險症每在陽明少陰二經，最當詳辨。喻嘉言治黃長人犯房勞病傷寒，守不服藥之戒，身熱已退，十余日外，忽然昏沉，渾身戰栗，手足如冰。一醫已合就薑附之藥矣，喻用調胃承氣湯，約重五錢，煎成熱服半盞，少頃又熱服半盞，人事大清，忽然渾身壯熱，再與大柴胡一劑，熱退身安。凡傷寒初起發熱，煎熬津液，鼻干口渴便秘，漸至發厥者，不問知其為熱也。蓋犯房勞而病感者，其勢不過比常較重，如發熱則熱之極，惡寒則寒之極，頭痛則痛之極，所以然者，陰虛陽往乘之，非陰盛無陽之比。況病者始能勿藥，陰邪必輕，安得以陰厥之例為治耶。又治徐國楨傷寒六七日，索水到前，復置不飲，異常大躁，將門牖洞啟，身臥地上，展轉不快，更求入井。一醫洶洶，急以承氣與服。喻診其脈，洪大無倫，重按無力，謂曰：此用人參、附子、乾薑之症，奈何認為下症耶？觀其得水不欲咽，情已大露，豈水尚不欲咽，反可飲大黃、芒硝乎？於是以附子、乾薑各五錢，人參三錢，甘草二錢，煎成冷服。服後寒戰戛齒有聲，以重綿和頭覆之，縮手不肯與診，陽微之狀始著。再與前藥一劑，微汗熱退而安。</p>
<p>厥逆一症，有陰陽之分。凡四肢厥逆，外見張目不眠，聲音響亮口臭氣粗，身輕惡熱之症，為陽厥。法主破陽行陰以止其厥。若外見目瞑蜷臥，聲低息短，少氣懶言，身熱腹寒之症，為陰厥，法主祛陰散寒以回其陽。</p>
<p>譫語一症，有陰陽虛實不同。經言實則譫語，虛則鄭聲。在陽明為實症，為譫語，乃陽明胃實，燥結不通，火亢極陽，真陰立亡，而神明內亂，譫語無倫，法主大承氣湯，急祛其陽以救其陰。在少陰為虛症，為鄭聲，乃少陰中寒，魄汗出而下利，氣虛陽脫，神魂無主，細語呢喃，錯亂顛倒，法主四逆理中，急回其陽以固其脫。</p>
<p>煩躁一症，陰陽互關，曰陽煩陰躁，又曰煩出於心，躁出於腎，其實不然，煩者未有不躁，躁者未有不煩，煩躁皆同，而症之陰陽不同。有為少陰亡陽，身熱多汗而煩躁者，乃腎中真陽，隨汗而浮越於外，法主溫補以回其陽。有為陽明熱越，身熱多汗而煩躁者，乃胃中津液，隨汗而盡越於外，法主人參白虎等法以徹其熱。</p>
<p>昏睡一症，在少陰為陰霾甚而陽不開，法當急回其陽以御其陰；在陽明則有熱甚神昏，法當速徹其熱以退其陽。且昏睡與不眠，其症不同而法則同。在陽明張目不眠者，其常也。然又有熱熾神昏之症，其人均為口臭氣粗，汗出惡熱，其法亦均當徹其熱，在少陰但欲寐者，其常也。</p>
<p>然又有裡陰過勝，格拒真陽，隨汗外越，不得內交於陰，亦不得眠，其人均為頭眩身重，少陰懶言，其法亦均當回其陽。</p>
<p>昔人以仲景、河間、東垣、丹溪為四大家，然仲景醫中時聖也，三子則伯夷、伊芳尹、柳下惠而已。試觀傷寒方中，黃芩白虎，已開河間之先也。建中理中，已開東垣之先也。復脈黃連阿膠，已開丹溪之先也。然則謂三子得仲景之一端而引伸之則可，謂三子補仲景之未備則未確也。</p>
<p>凡病不外六經，精於傷寒法，乃可通治雜病。蓋雜病之規矩準繩，已畢具於傷寒中也。</p>
<p>如虛損之症，保陰液則復脈宜投，護陽氣則建中是賴。痰飲之症，開太陽則青龍有效，攝少陰則真武多功。中風風痹等症，桂枝湯之加減，具見神奇。中寒寒厥等症，四逆輩之裁成，皆堪貴重。溫熱以黃芩為主，取其酸苦堅陰。暑　以白虎加參，借其甘寒制火。濕症宜發汗利水，而麻黃五苓，當增味以取效。燥症宜養血益陰，而膠連復脈，可節錄以見長。噎膈忌用辛香，惟瀉心湯可開可降。關格忌投劫奪，惟黃連湯能降能升。血症破瘀，在上則大黃黃連瀉心湯，在下則桃仁承氣抵當湯，而復脈尤滋陰調血之聖劑。水症攻邪，在表則青龍及越婢湯，在內則大陷胸與十棗湯，而真武尤溫經利水之良方。消渴之證，太陽則五苓文蛤，陽明則白虎豬苓。哮喘之證，兼寒則桂枝朴杏，兼熱則麻杏甘膏。疸證腹滿而嘔，仍取柴胡。小便自利，仍取建中，而穀疸始專事乎茵陳。瘧證調和營衛，不離桂枝，開發腠理，不離柴胡。</p>
<p>而溫瘧則借材於白虎，瀉痢諸證，烏梅丸為寒熱兼投之劑，而暴注下迫，則白頭翁、豬苓、豬膚、葛根、黃連、黃芩湯是也。至若白通、通脈、桃花等劑又治陰寒下利者矣。嘔吐諸證，小柴胡為表裡兼解之方。而虛陽上逆，則五苓散、竹葉石膏湯、黃芩半夏生薑湯是也。至若吳萸四逆理中等劑，又治中虛作嘔者矣。多汗有白虎桂枝四逆，不寐有豬苓梔豉膠連。大便閉則承氣脾約密煎是也，小便閉則五苓豬苓茵陳是也。婦人熱入血室，陽明受邪，少陽乘之，與丈夫異者，故另立規條也。小兒寒中陰經，太陰最多，厥陰間有與大人同者，即共此方法也。既悟微旨於傷寒之中，自得妙法於傷寒之外，更參《金匱》，如逢故我，豈有異致哉？</p>
<h2>卷二</h2>
<h3>時邪合論</h3>
<p>或謂東南多濕，但有溫暑而無傷寒，或謂溫暑莫非傷寒所致，故非過於寒涼，即過於辛散。</p>
<p>都非中道。茲將四時感證，一一合論，而知風寒溫暑燥濕，皆能著人為病。常氣異氣之不同，是邪非邪之互異，臨證了然，斯無或混。</p>
<p>《內經》云：今夫熱病者，皆傷寒之類也。程效倩曰：開口便道破熱病為傷寒之類，其與傷寒自是兩病。蓋傷寒有統屬之傷寒，有分隸之傷寒，所賅者廣。又曰：內經傳經熱病，是傷寒之類，實非傷寒而即瘟疫也。</p>
<p>《內經》曰：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑。程郊倩曰：</p>
<p>《內經》全文，俱是說熱病，恐人失去了冬傷於寒，春必病溫之旨。故以凡病傷寒而成溫者八字結出之，是其言熱，都是言溫。溫病已成，在春不發，在夏亦發。溫與暑實是一病，與時令之溫病，時令之暑病，從外得之者不同。</p>
<p>《難經》以中風、傷暑、飲食勞倦、傷寒、中濕為五邪，其意以中風屬肝木，傷暑屬心火，飲食勞倦屬脾土，傷寒屬肺金，中濕屬腎水。肝病中風得之，心病傷暑得之，脾病飲食勞倦得之，肺病傷寒得之，腎病中濕得之，此自病者為正邪也。肝病中濕得之，心病中風得之，脾病傷暑得之，肺病飲食勞倦得之，腎病傷寒得之，此從後來者為虛邪也。肝病傷暑得之，心病飲食勞倦得之，脾病傷寒得之，肺病中濕得之，腎病中風得之，此從前來者為實邪也。肝病傷寒得之，心病中濕得之，脾病中風得之，肺病傷暑得之，腎病飲食勞倦得之，此從所不勝來者為賊邪也。肝病飲食勞倦得之，心病傷寒得之，脾病中濕得之，肺病中風得之，腎病傷暑得之，此從所勝來者為微邪也。</p>
<p>《難經》以中風、傷寒、濕溫、熱病、溫病為五傷寒，其意以中風傷寒應風寒二氣，濕溫應暑濕二氣，熱病應燥火二氣。溫病則為異氣，故中風、傷寒、濕溫、熱病，各指脈形，而溫病之脈，則日行在諸經。不知何經之動，各隨其經所在而取之也。</p>
<p>仲景云：太陽病，發熱汗出，惡風脈緩者，名為中風。方中行曰：太陽病三字，即首條所揭脈浮頭項，強痛而惡寒者是也。後皆仿此。柯韻伯曰：中風惡風，類相感也。風性散漫，脈應其象，故浮而緩。</p>
<p>仲景云：太陽病，或已發熱，或未發熱，必惡寒體痛嘔逆，脈陰陽俱緊者，名曰傷寒。</p>
<p>程郊倩曰：太陽雖同，而寒屬陰邪，而發熱較遲於中風。然巳未之間，必惡寒特甚，自不同中風之僅惡風而稍兼惡寒也。其體則痛，陰寒擊於經隧而氣血凝泣，自不同中風之無內擊也。其嘔則逆，寒邪束於皮毛，氣無從越而壅上，自不同中風之乾嘔，僅鼻鳴而氣不甚逆也。脈陰陽俱緊，以寒主勁急，而且為實邪，故緊而浮沉俱有力，則大不同於陽浮陰弱之緩脈矣。證與脈非中風能混，即推之暑濕溫熱，俱不得以其似是者，混名曰傷寒也。</p>
<p>仲景云：太陽病，發熱而渴，不惡寒者，為溫病。若發汗已，身灼熱者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，息必鼾，語言難出。若被下者，小便不利，直視失溲。若被火者，微發黃色，劇則如驚癇，若火熏之，一逆尚引日，再逆促命期。柯韻伯曰：太陽中暑，亦有因於傷寒者，雖渴而仍惡寒。太陽溫病，反不惡風而渴，是病根不因於寒而因於風。發熱者病在表，法當汗解。然不惡寒，則非麻桂所宜，風與溫相搏，發汗不如法，風去而熱反熾。灼熱者，兩陽相熏灼，轉成陽明之候也。程郊倩曰：溫病初得，病在經隧之間，治法只宜求之太陽暑之裡。陽明暑之表，如所云心中懊　，舌上苔者，梔子豉湯主之。</p>
<p>渴欲飲水，口乾舌燥者，白虎加人參湯主之。脈微發熱，渴欲飲水，小便不利者，豬苓湯主之之類。</p>
<p>陽暑者，動而得之之症。潔古東垣所謂中熱，即仲景所謂中　也。陰暑者，靜而得之之症。</p>
<p>潔古東垣所謂中暑，其實非暑邪也，乃因暑而致之病，蓋亦傷寒之類。張鳳逵曰：劉復真謂暑脈虛而微弱，按之無力，又脈來隱伏，弦細芤遲，皆暑脈也。脈虛身熱謂之傷暑，中　脈虛而微者是也。寒病脈日變，溫熱脈不變，寒病脈浮洪有力者易治，芤細無力者難治，無脈者不治。溫熱則不然。溫有一二部無脈者，暑熱有三四部無脈者，被火所逼勒而藏伏耳，非絕無也。照經用辛寒藥，火散而脈起，脈起而病愈，要在辨之詳耳。周禹載曰：中暑一症，不過清心利小便，解暑毒，補真氣而已。即脈來虛弱，重者伏匿，喘促逆冷，卒然昏暈，不可用溫，此熱傷元氣，用溫則助陽耗陰。且冬月脈浮緊浮緩，分傷寒中風，夏月弦緊傷風，弦緩中暑，表疏自汗則脈虛，表致無汗則脈緊耳。世俗不明，曰夏月陰氣在內，大順散為必用之藥。夫陰非寒也，陽外而陰內耳。丹溪云：伏陰在內，陰字有虛之義，作陰冷則誤矣。火令之時，爍石流金，何陰冷之有？孫真人用生脈散，氣虛可知也。古人用大順散，非謂伏陰，本治冰果所傷。冷香飲子，治陽氣大虛，多欲厥逆。漿水散，治汗多亡陽，脈微欲絕。其余不過清暑益氣湯，消暑十全散，十味香薷飲之類足矣。</p>
<p>濕溫者，先傷於濕，又中於暑，暑濕相搏而為病也。王宇泰曰：昔人治濕溫，通身皆潤，足冷至膝下，腹滿不省人事，六脈皆小弱而急。問所服藥，皆陰病藥也。此非受病重，藥能重病耳。以五苓合白虎十余劑稍蘇，更與清燥湯調理而安。凡陰病厥冷，兩臂皆冷，今脛冷臂不冷，則非下厥上行，故知非傷微寒厥，而合用溫熱藥也。喻嘉言立三氣一門，三氣者，熱、濕、暑是也。蓋春分以後，秋分以前，少陽相火，少陰君火，太陰濕土，各行其令也。天之熱氣下，地之濕氣上，人在其中，受其炎蒸，無隙可避，多有氣倦神昏，肌膚痱起，胸膺痤出，頭面癤生，甚則消渴癰疽，吐瀉瘧痢，無所不病。內經運氣主病，凡屬少陰君火，即與太陰濕土，一例同推，不分彼此。而太陰司天，濕淫所勝，平以苦熱，佐以酸辛，以苦燥之，以淡泄之，治濕之法則然矣。下文即出治熱之法云：濕上甚而熱，治以苦溫，佐以甘辛，以汗為散而止。</p>
<p>飲食勞倦，《難經》列之五邪，李東垣獨以內傷立論。然亦必稍兼外感，故東垣補中益氣，亦用升麻柴胡以發表。王宇泰曰：內傷外感，兼見而相合者，脈症尤宜細心求之。若顯內症多者，則是內傷重而外感輕，宜以補養為先。若顯外症多者，則是外感重而內傷輕，則以發散和解為主。此又東垣未言之意也。</p>
<p>飲食勞倦，又宜分而為二：勞倦傷為不足，用東垣補中益氣；飲食傷為有餘，用潔古枳朮丸。又按王安道曰：枳朮丸之類，雖曰消導，尚有補益之意存乎其間，此物滯氣傷，消補並行者宜之。若所傷之物，枳朮丸所不能去者，備急丸，煮黃丸，瓜蒂散等。潔古東垣，亦未嘗委之而勿用也。又按秦景明曰：凡治夾食傷寒，不可先攻其食，且先發散寒邪，次可消導之也。</p>
<p>喻嘉言謂《內經》秋傷於濕，上痿而咳，發為氣厥，應是秋傷於燥，而凡諸氣　郁，諸痿喘嘔之症，皆是燥氣為病。爰立秋燥一門，可謂補千古之未備。但所制清燥救肺湯一方，都是內因之藥，必合《寓意草》中二案以觀之，始足盡秋令時邪之治。</p>
<p>吳吉長乃室新秋病洒淅惡寒，寒已發熱，漸生咳嗽，然病未甚也。服表散藥不愈，身日羸，延至初冬，飲以參朮補劑，轉覺奄奄欲絕，食飲不思，有咳無聲，瀉痢不止，危在旦夕。</p>
<p>是病總為誤藥所致，始先皮毛間洒淅惡寒，肺金為時令之燥所傷，用表散已為非法，至用參朮補之，則肺氣閉錮，而咳嗽之聲不揚，胸腹飽脹，不思飲食，肺中之熱，無處可宣，急奔大腸，食入則不待運化而直出，食不入，則腸中之垢污，亦隨氣奔而出，是以瀉痢無休。</p>
<p>今以潤肺之藥，兼潤其腸，則源流俱清，寒熱咳嗽泄瀉，一齊俱止。方用黃芩、地骨皮、甘草、杏仁、阿膠，初進一劑，瀉即少止，四劑畢而寒熱俱除，又數劑而咳嗽俱全愈。鄉人王氏婦秋月亦病寒熱，服參朮後，亦奄奄一息，但無咳嗽，十余日不進粒米，亦無大便，時時暈去，不省人事，喻以大黃、芒硝、甘草、石膏、四味為粗末與之，遂將二劑連服，頃之腹中弩痛，下結糞數塊，進粥二盞，前病如失。</p>
<p>仲景以痙濕　三者合論，則痙與濕不同。柯韻伯曰：六氣為病，皆能發熱。然寒與熱相因，暑與濕相從，獨燥與濕相反，濕病多得之地氣，燥病多得之內因，此病因之不同也。內經病機十九條，燥症獨無。若諸痙項強，皆屬於濕，愚竊疑之。傷寒論有痙濕之分，又云太陽病發汗太多因致痙，則痙之屬燥無疑也。</p>
<p>瘟疫者，沿門闔境，老少強弱，觸之即病，乃天地之癘氣也。疫癘之邪，都從口鼻而入，直行中道，流布三焦，非比傷寒六經，可表可下，吳又可曰：疫邪內不在臟腑，外不在經絡，舍於伏脊之內，去表不退，附胃亦近，乃表裡之分界，是為半表半裡，即《針經》瘧論所謂橫連膜原是也。所制達原飲一方，用檳榔（二錢）、厚朴（一錢）、草果仁（五分），三味協力攻堅，直達其巢穴，使邪氣潰敗，速離膜原。又慮發熱作渴之症，三者重傷津液，故加知母（一錢）以滋陰，白芍（一錢）以和血，黃芩以清熱，甘草（五分）以調中。後人治疫，皆遵此議。若喻嘉言所治之疫，值明季兵荒之後，乃大疫也，故以人參敗毒散為主方。與又可頗異，而其論症甚詳，爰為采入。喻曰：世俗所稱大頭瘟者，頭面腮頤，腫如瓜果者是也。所稱蝦蟆瘟者，喉痹失音，頸筋腫大者是也。所稱瓜瓤瘟者，胸高脅起，嘔血如汁者是也。所稱疙瘩瘟者，遍身紅腫，發塊如瘤者是也。所稱絞腸瘟者，腹鳴乾嘔，水泄不通者是也。所稱軟腳瘟者，便清泄白，足重難移者是也。治法未病前，預服芳香正氣藥，則邪不易入，此為上也。邪既入，急以逐穢為第一義。上焦如霧，升而逐之，兼以解毒。中焦如漚，疏而逐之，兼以解毒。下焦如瀆，決而逐之，兼以解毒。</p>
<p>經謂一陰一陽結，謂之喉痹。王太仆曰：一陰者，手少陰君火，心主之脈氣也。一陽者，手少陽相火，三焦之脈氣也。二火皆主脈，並絡於喉。氣熱則內結，結甚則腫脹，腫脹甚則痹，痹甚而不通則死矣。蓋手少陰少陽，君相二火獨甚，則熱結正絡，故病且速也。十二經中言嗌干、咽痛、喉腫、頷腫、舌本強，皆君火為之。喉痹急速，相火所為也。君火猶人火，相火猶龍火。人火焚木其勢緩，龍火焚木其勢速。《內經》之言喉痹，則咽與舌在其間，以其病同是火，故不分也。治喉痹之火，與救火同。內經火鬱發之，謂發汗也。然咽喉中豈能發汗？故出血者，乃發汗之一端也。近世有爛喉痧之名，最易傳染。蓋亦瘟疫之類，解表清熱兩途，一失其宜，禍生反掌，不可不慎也。</p>
<p>霍亂之症，仲景載之傷寒後，而不與中暑合論。熱多欲飲水者，五苓散主之。寒多不用水者，理中丸主之。治法已備具矣。道光初，遍地多朝發夕死之症，一起腹痛吐瀉，脈道歇絕，故難施治。其可治者，或用大熱而愈，或用大寒而愈，則知仲景寒多熱多之旨，為千古不易準繩也。</p>
<p>凡斑屬血，疹屬氣。斑疹初見，即當細看。葉天士曰：看胸背兩脅，點大而在皮膚之上者為斑，或云頭隱隱，或瑣屑小粒者為疹。又宜見而不宜見多。按：方書謂斑色紅者，屬胃熱，紫者熱極，黑者胃爛，亦必看外症所合，方可斷之。然而春夏之交，濕病俱發，疹為甚。且其色要辨，如淡紅色，四肢清，口不甚渴，脈不洪數，非虛斑，即陰斑。或胸微見數點，面赤足冷，或下利清穀，此陰盛格陽於上而見，當溫之。若斑色紫，小點者，心胞熱也。點大而紫，胃中熱也。黑斑而光亮，熱勝毒甚，雖屬不治，若其人氣血充者，或依法治之尚可救，若黑而晦者必死，若黑而隱隱，四旁赤色，火鬱內伏，大用清涼透發，間有轉紅成可救者，若夾斑帶疹，皆是邪之不一，各隨其部而泄，發出宜神情清爽，為外解裡和之意。斑疹出而昏者，正不勝邪，內陷為患，或胃津內涸之故。再有一種白　小粒，如水晶色者，此濕熱傷肺，邪雖出而氣液枯也，必得甘藥補之，或未至久延，傷及氣液，及濕鬱衛分，汗出不徹之故，當理氣分之邪。或白枯如骨者多凶，為氣液竭也。</p>
<p>幼科最多痧疹，聶久吾曰：最忌誤用溫熱，早用寒涼。此二語最為扼要。</p>
<p>婦人病溫，與男子同，但多胎前產後，與經水適來適斷。葉天士曰：大凡胎前病，古人皆以四物加減治之，謂護胎為要，恐來害妊。如熱極，用井底泥藍布浸冷，覆蓋腹上等，皆是保護胎元之意。但亦要看其邪之可解處，用血膩之藥不靈，又當審察，不可認板法。然須步步保護胎元，恐損正邪陷也。至於產後之法，按方書慎用苦寒藥，恐傷其已亡之陰也。然亦要辨其邪能從上中解者，稍從症用之，亦無妨也。不過無犯下焦，且屬虛體，當如虛怯人病邪而治。總之無犯實實虛虛之禁。況產後當氣血沸騰之後，最多空竇，邪勢必乘虛內陷，虛處受邪，為難治也。如經水適來適斷，邪將陷血室，傷寒少陽言之詳悉，不必多贅。但溫熱與正傷寒不同。仲景立小柴胡湯，提出所陷熱邪，參棗扶胃氣，以衝脈隸屬陽明也，此與虛者為合治。若熱邪陷入，與血相結者，當宗陶氏小柴胡湯，去參棗，加生地、桃仁、楂肉、丹皮，或犀角等。若本經血結自甚，少腹必滿痛，輕者刺期門，重者小柴胡湯去甘藥，加延胡、歸尾、桃仁。挾寒加肉桂心，氣滯者，加香附、陳皮、枳殼等。然熱陷血室之症，多有譫語如狂之象，防是陽明胃實，當辨之。血結者，身體必重，非若陽明之輕旋便捷，何以故耶？陰主重濁，絡脈被阻，側旁氣痹，連胸背皆拘束不遂，故去邪通絡，正合其病。往往延久，上逆心胞，胸中痛，正陶氏所謂血結胸症也。王海藏出一桂枝紅花湯，加海蛤、桃仁，原為表裡上下一齊盡解之理。看此方大有巧手，故錄出以備學人之用。</p>
<p>中寒症，屬少陰經，即傷寒之重者耳。王節齋曰：病有感有傷有中。感者在皮毛為輕，傷者兼肌肉稍重，中者屬臟腑最重。寒有感寒傷寒中寒，風有感風傷風中風，暑有感暑傷暑中暑，當分輕重表裡，治各不同。又如中風中濕中毒，中者，中也，謂邪直入於中也。</p>
<p>四氣著人，每多伏邪為患。生氣通天論曰：春傷於風，邪氣留連，乃為洞泄。夏傷於暑，秋為瘧。秋傷於濕，上逆而咳，發為痿厥。冬傷於寒，春必病溫。陰陽應象大論曰：春傷於風，夏生飧泄。夏傷於暑，秋必　瘧。秋傷於濕，冬生咳嗽。冬傷於寒，春必病溫。王安道曰：據此四傷，諸家注釋，皆不得經旨，蓋由推求太過故也。夫風暑濕寒者，天地之四氣也。洞泄也，　瘧也，咳與痿厥也，溫病也。皆是因其發動之時，形證昭著，乃逆推而知其昔日致病之原，為傷風傷暑傷濕傷寒耳。非是初受傷之時，能預定其今日必為此病也。且夫傷於四氣，自當時即發者，有過時發病者，有久而後發病者，有過時之久自消散而不成病者，蓋因邪氣之傳變聚散不常，及正氣之虛實不等也。按六氣雖分主四時，每多伏氣為患，故傷寒不必定屬於冬，而溫病亦嘗適見於冬，春溫因冬不藏精，暑之為病，每盛發於秋，而瘧痢諸邪，都因伏暑而發，即嘉言所補秋燥一篇，亦謂不應於新秋而應於十月。</p>
<p>瘧疾一症，方舊雖有痰食寒熱瘴癘之互異，然因暑發俱多。薛立齋曰：大凡瘧症，皆因先傷於暑，次感於風，客於營衛之間，腠理不密，復遇風寒，閉而不出，舍於腸胃之外，與營衛並行，晝行於陽，夜行於陰，並則病作，離則病止，並於陽則熱，並於陰則寒。淺則日作，深則間作。在氣則早，在血則晏。</p>
<p>痢疾一症，古稱滯下，蓋裡有滯濁而後下也。但滯在氣，滯在血，冷傷熱傷而滯非一。</p>
<p>症之大法，則機要所云後重則宜下，腹痛則宜和，身重則除濕，脈弦則去風。膿血稠黏，以重劑竭之。身涼自汗，以熱藥溫之。風邪內結宜汗之，　溏而利宜溫之。可謂要言不煩。</p>
<p>類傷寒症，不可不知。許叔微曰：近似傷寒者有五症，發熱而惡寒者，傷寒之候也。脈浮而數，發熱惡寒，或有痛處，是欲為癰膿也。脈浮按之反澀，發熱惡寒，或膈熱而嘔吐，此傷食也。脈浮而滑，發熱而背寒，或頭眩而嘔吐，此風痰症也。脈浮而弦，發熱而惡寒，或思飲食，此欲作瘧也。李士材曰：類傷寒有五症，一曰痰，中脘停痰，憎寒發熱，自汗胸滿，但頭不痛，項不強，與傷寒異耳。一曰食積，胃中停食，發熱頭痛，但身不痛，不惡寒，不浮緊，與傷寒異耳。一曰香港腳，足受寒濕，頭痛身熱，肢節痛，便閉嘔逆，但香港腳或腫滿，或枯細，與傷寒異耳。一曰內癰，脈浮數，當發熱惡寒，若有痛處，飲食如常，蓄積有膿也。胸中痛而咳，脈數咽乾不渴，濁吐腥鼻，肺癰也。少腹重按之痛，便數如淋，汗出惡寒，身皮甲錯，腹皮腫急，脈滑數，腸癰也。胃脘痛，手不可近，胃脈細，人迎盛者，胃脘癰也。</p>
<p>六氣之行，本乎五運，司天在泉，亦宜參以活法。何柏齋曰：天元紀大論等篇，以年歲之支干，分管六氣，蓋已失先聖之旨矣。年歲之支干，天下皆同，且通四時不變者也。天氣之溫暑寒涼，民病之，虛實衰旺東西南北之殊方，春夏秋冬之異候，豈有皆同之理，此其妄誕，蓋不待深論而可知。近世傷寒治法，則以得病日之干支為主，其源亦出於此，決不可用。蓋金木水火土之氣，各主一時，當時則為主氣，為司天，非其時而有其氣，則為客氣，與時正相反者，則為在泉。蓋其氣伏於黃泉之下而不見也。治療之法，用熱遠熱，用寒遠寒，所謂必先歲氣，毋伐天和也。春時木。</p>
<h2>卷三</h2>
<h3>雜症合論</h3>
<p>偏枯者，半身不隨也。風痱者，身無痛，四肢不收也。近世所見，二症居多，總名之曰中風。喻嘉言曰：中絡邪正衛，猶在經脈之外，故但肌膚不仁。中經則邪入營脈之中，內而骨，外而肉，皆失所養，故軀殼為之重著，然猶在軀殼之間。至中腑中臟，則離軀殼而內入，邪中深矣。臟腑必歸於胃者，胃為六腑之總司也。廩於腸胃，並舉大小二腸並重，蓋風性善行空竅，水穀入胃，則胃實腸虛，風邪即進入腸中。少頃水穀下胃，則腸實胃虛，風復進入胃中，見胃風必奔迫於二腸之間也。風入胃中，胃熱必盛，蒸其津液，結為痰涎，壅塞隧道，胃之支脈絡心者，才有壅塞，即堵其神氣出入之竅，故不識人也。諸臟受邪至盛，必進入心而亂其神明，神明無主，則舌縱難言，廉泉開而流涎沫也。</p>
<p>類中之症，河間主火，東垣主氣，丹溪主濕。王安道曰：三子所論，自是因火因氣因濕，而為暴病暴死之症。《內經》所云三陰三陽發病，為偏枯痿易四肢不舉，亦未嘗必因於風也。</p>
<p>夫風火氣濕之殊，望聞問切之異，豈無所辨乎。</p>
<p>內風之症，即景岳所云非風也。如陰中之水虛，則病在精血，陰中之火虛，則病在神氣。蓋陽衰則氣去，故神志為之昏亂，非火虛乎？陰虧則形壞，故肢體為之廢弛，非水虛乎？今以形離神壞之症，乃不求之水火之原，而猶以風治，鮮不危矣。試以天道言之，其象亦然。凡旱則多燥，燥則多風，是以風木之火從乎燥，燥則陰虛之候也。故凡治內風者，專宜培補真陰以救根本，使陰氣復則風燥自除矣。然外感者，非曰絕無虛症，氣虛則虛也。內傷者，非曰絕無實證，有滯則實也。治虛者，當察其在陰在陽而直取之。治實者，但當察其因痰因氣而暫開之。此於內傷外感，及虛實攻補之間，最宜察其有無微甚而酌其治也。甚至有元氣素虛，卒然仆倒，上無痰，下失禁，瞑目昏沉，此厥絕之證，尤與風邪無涉。使非大劑參附，或七年之艾，破格挽回，又安望其復元氣於將絕之頃哉。葉天士曰：凡中風證，有肢體縱緩不收者，皆是陽明氣虛，當用人參為首藥，而附子黃　炙草之類主之。若短縮拘攣，則以逐邪為急。</p>
<p>唐‧許胤宗治中風不語，用黃　防風二味，煮湯置床下蒸之，是夕便能語，後人遂將二味煎服，加白朮名玉屏風散，為治風要方。《金匱》黃　桂枝五物湯，即小建中去甘草飴棗加黃也，本治血痹，《醫宗金鑒》移治偏枯，左半身不遂，則加當歸以和血，右半身不遂，則倍黃　以補氣，手軟倍桂枝，足軟加牛膝，骨軟加虎骨，元氣虛加人參，陽氣虛加附子，以偏枯由於營衛之虛，故血痹之方，可以通用。又按喻嘉言曰：凡治一偏之病，治宜從陰引陽，從陽引陰，從左引右，從右引左。蓋觀樹木之偏枯者，將灌其枯者乎，抑灌其未枯者，使榮茂而因以條暢其枯者乎？口噤身冷為喑厥，四肢不收為風痱。河間所謂心火暴甚，腎水虛衰之證，制地黃飲子一方，熟地培根本之陰，桂附蓯蓉巴戟返真元之火，山茱石斛，溫肝平胃，茯苓菖蒲，補心通腎，麥冬五味保肺以滋化源，諸藥等分，每用五分，加薄荷煎湯。濁藥軟投，故云飲子。</p>
<p>痹者，風寒濕雜合之證。李士材曰：《內經》論痹，即其曰雜至，曰合，則知非偏受一氣可以致痹。又曰：風勝為行痹，寒勝為痛痹，濕勝為著痹。即其下一勝字，則知但分邪有輕重，未嘗非三氣雜合為病也。筋痹屬肝，游行不定，上下左右，隨其虛邪，與氣血相搏，聚於關節，或赤或腫，筋脈弛縱，古稱走注。今名流火。脈痹屬心，臟腑移熱，復遇外邪，客搏經絡，留而不行，故HT　痹，肌肉熱極，唇口反裂，皮膚色變。肌痹屬脾，留而不移，汗多，四肢緩弱，皮膚不仁，精神昏塞，今名麻木。皮痹屬肺，邪在皮毛，癮疹風瘡，搔之不痛，宜疏風養血。骨痹屬腎，痛苦切心，四肢攣急，關節浮腫。鶴膝風者，即三氣之痹於膝者也。如膝骨日大，上下左右日枯細者，且未可治其濕，先養氣血，俾肌肉漸榮　，後治其濕可也。</p>
<p>八風五痹之證，最宜藥酒，而必以史國公藥酒方為勝。當歸（二兩），杜仲（薑汁炒，二兩），牛膝（酒浸，二兩），白朮（土炒，二兩），枸杞（四兩），平補足三陰經，虎脛骨（四兩）壯骨而祛風，鱉甲（酥炙，二兩）益陰血而去肝風，防風（二兩），羌活（二兩），松節（二兩），晚蠶砂（炒，二兩），萆　（二兩），蒼耳子（炒，四兩），秦艽（四兩），茄根（飯蒸，八兩），等藥為末，用絹袋盛之，煮無灰酒三十斤，煮熟退火氣服之，每日數次，常令醺醺不斷，既以祛風，又能去濕，而左癱右瘓，口眼　斜，四肢疼痛等證，皆可愈矣。</p>
<p>痿證與痹證不同，由於真陰之虛，不可妄用風藥。張子和曰：大抵痿之為病，皆由客熱而成。好欲貪色，強力過極，漸成痿證，故痿　屬肺，脈痿屬心，筋痿屬肝，肉痿屬脾，骨痿屬腎。總由肺受火熱葉焦之故。相傳於四臟，痿病成矣。治痿獨取於陽明者何？蓋以陽明者，五臟六腑之海，主潤宗筋，宗筋主束骨而利機關也。朱丹溪曰：肺熱則不能管攝一身，脾傷則四肢不能為用，而諸痿之病作。瀉南方，則肺金清而東方不實，何脾傷之有？補北方，則心火降而西方不虛，何肺熱之有？虞天民曰：西北二方，在人為腎水肺金所居之地，二臟常恐其不足，東南二方，在人為肝木心火所居之地，二臟常恐其有餘。</p>
<p>虎潛丸為治痿要方，龜板（四兩），羊肉（半斤，搗爛作丸）、虎骨（一兩），皆血肉之品，而一取滋陰，一取補形，一取祛風，並通絡脈，熟地（二兩）、黃柏（四兩）填少陰之精，知母（二兩）清太陰之氣，牛膝（三兩）、當歸（一兩）、白芍（兩半）滋厥陰之血，諸藥皆滯，佐陳皮（七錢半）以疏之，諸藥皆涼，佐瑣陽（一兩）以溫之。丸用淡鹽湯下，引以下達，使經脈充盈，絡脈通利，則痿可愈矣。此方乃補陰通絡之要方，又不徒治痿也。陽痿之證，方書多云命門火衰，惟王節齋發明腎經鬱熱之義，云曾親見一二人服黃柏知母清金滋腎而愈。</p>
<p>原氣虛與虛損不同，喻嘉言曰：原氣虛可復，虛損難復。虛損又有易復難復兩候。因病致虛者，緩調自復，因虛致損者，虛上加虛，卒難復也。丹溪論勞瘵主乎陰虛者，蓋自子至巳屬陽，自午至亥屬陰。陰虛則熱在午後子前，寤屬陽，寐屬陰，陰虛則汗從寐時盜出，升屬陽，降屬陰，陰虛則氣不降，氣不降則痰涎上逆而連綿不絕。脈浮屬陽，沉屬陰。陰虛則浮之洪大，沉之空虛也。世人病陰虛極多，而陰中之水虛，與陰中之火虛，最宜分別。王太仆曰：倏熱往來，時發時止，是無水也。晝見夜伏，夜見晝止，不時而動，是無火也。當求其屬而主之。無火者，宜益火之源以消陰翳。無水者，宜壯水之主以制陽光。寒者熱之，熱者寒之，此其常也。惟陰虛之人，最宜詳審。王太仆曰：大寒而盛，熱之不熱，是無火也。大熱而盛，寒之不寒，是無水也。病有假熱真寒，則何以治之？李瀕湖曰：陰寒在下，虛陽在上。治之以寒，則陰寒愈甚，治之以熱，則拒而不內。熱藥冷服，下咽之後，冷性既消，熱性便發，病氣隨愈。此熱因寒用法也。按金匱男子脈大為勞，脈極虛亦為勞。脈大則氣分泄越，如建中、歸脾、四君、異功等所宜也。脈虛則精血下奪，如六味、八味、左歸、右歸、大造、天真等所宜也。若陰虛枯燥之極，不受補劑者，雖有清金滋肝之法，終難為力。干血勞證，最宜審察。血傷則無以沃其膚，故甲錯也。目得血而能視，營氣不貫於空竅，故黯黑也。此證補之不可，涼之無益，仲景有大黃　蟲丸之法，以地黃（十兩）為君，以大黃（十兩蒸）為臣，以甘草（二兩）、白芍（四兩）、桃仁（一兩）、杏仁（一升）為佐，以乾漆（一兩）之苦，蟲（一升）、水蛭（百枚）、臍螬（百枚）、虻蟲（一升）之咸為使。又有陳大夫所傳百勞丸，可以參酌互用。吳鶴皋曰：濁陰不降，則清陽不升。今人遇一勞證，便用滋陰，服而不效，坐以待斃，朮豈止此耶。</p>
<p>咳嗽一證，分外感內傷。張景岳曰：外感之咳，必由皮毛而入。皮毛為肺之合，而凡外邪襲之，則必先受於肺，久而不愈，則必自肺而傳於五臟。內傷之咳，必起於陰分。肺屬燥金，為水之母，陰損於下，則陽孤於上，水涸金枯，火過於燥，肺燥則癢，癢則咳不能已。朱丹溪曰：上半日嗽者，胃中有火也。黃昏嗽者，脾肺氣虛也。午後嗽者，腎中陰火也，徐叔拱曰：咳嗽外感六淫，鬱而成火，必六淫相合，內傷五臟相勝，必五邪相並。有此不同，而中間又有斂散二法。斂者，謂收斂肺氣也，散者，謂解散寒邪也，宜斂而散，則肺氣弱，一時發散而走泄正氣，為害非輕，宜散而斂，則肺寒邪一時斂住，害亦非小。且如感風咳嗽，已經散之後，其表虛復感寒邪，虛邪相並，又為喘嗽。若欲散風，則愈重而虛其肺。若收斂，則愈又滯其邪。當先輕解，漸次斂之，肺不致虛，邪不致滯，喘嗽自止矣。李辰山曰：丹溪以麻黃、人參同用，謂之一散一補，凡表邪入肺，失於疏散，經年咳嗽，百藥無功，自非麻黃，終難搜逐，即虛勞咳嗽。火浮於肺，帶節麻黃，同貝母收功，人疑而畏之，何不取丹溪之言，一再思之。肺痿因肺受火炎，久則肺竅俱閉，喉間或癢或瘡，嗽有血點，痰帶紅線，六葉遂日焦枯而成痿矣。仲景復脈湯，《千金》生脈散，錢氏阿膠散，喻氏清燥救肺湯，皆可選用。肺癰由氣血混一，壅滯不行，仲景葶藶大棗瀉肺湯，《千金》葦莖湯，並為要劑。又考喻嘉言治肺癰，皆用活法斡旋，因肺癰不可用補，而脾虛又不能生肺，肺燥喜於用潤，而脾滯又難於運食。今日脾虛之極，食飲不思，則於清肺藥中，少加參末以補脾，明日肺燥之極，咳逆有加，則於清肺藥中，少加阿膠以潤燥。</p>
<p>血證有傷陽傷陰之分，柯韻伯曰：氣亢於上焦之陽分則陽絡傷，血隨氣而上溢於口鼻，桃仁承氣湯以下之。血隨氣而下陷於二便，補中益氣湯以舉之。氣有餘必挾火，當用苦寒以涼其氣。氣不足，便挾寒，宜用甘溫以益其氣。此調氣之大法也。又曰：血自心來者，補心丹主之。脾來者，歸脾湯主之。肺來者，生脈散主之。腎來者，腎氣丸主之。此補血之大法也。</p>
<p>劉宗濃曰：四物湯，此特血病而求血藥之屬也。若氣虛血弱，又當從古人血虛以人參補之，陽旺即能生陰血也。補佐之屬，若紅花、桃仁、蘇木、丹皮、血竭者血滯所宜，蒲黃、阿膠、地榆、百草霜、棕櫚灰者血崩所宜，蓯蓉、瑣陽、牛膝、枸杞、龜板、夏枯草、益母者血虛所宜，乳香、沒藥、五靈脂、凌霄花者血痛所宜。乳酪血液之物血燥所宜，薑桂血寒所宜，苦參、生地汁血熱所宜。繆仲淳曰：治吐血有三訣，宜行血，不宜止血；宜補肝，不宜伐肝；宜降氣，不宜降火。葉天士曰：凡咳血之脈，右堅者，治在氣分，系震動胃絡所致，宜薄味調養胃陰，如生扁豆、茯神、北沙參、苡仁等類；左堅者，乃肝腎陰傷所致，宜地黃、阿膠、枸杞、五味等類；脈弦脅痛者，宜蘇子、桃仁、鬱金、降香等類；成盆盈碗者，葛可久花蕊石散，或大黃黃連瀉心湯。一證而條分縷析，從此再加分別，則臨證有據矣。衄者，皆因經絡熱盛，陽氣壅重，迫血妄行而出於鼻也，以犀角地黃湯為主方。口鼻俱出為大衄血，歸脾東加童便藕節。舌上出血曰舌衄，先用蒲黃煎湯漱之，次用槐花炒研摻之，黃　六一湯合生脈散服之。熱涌舌上，出血如泉，川文蛤為散摻之。虛熱舌脹大，出血不止，生乾薑蒲黃為末摻之。血從齒縫中或齒齦中出者，曰齒衄，又曰牙宣。有風壅，有腎虛，有胃火，消風補腎清胃，宜審診施治。耳中出血為耳衄，以龍骨燒灰吹之，有肝火，有腎虛，宜臨證施治。血從目出，因誤藥而為壞證者，斷不可救。若暴病發熱見此，梔子豉東加犀角秦皮丹皮赤芍。血從毛孔中出者為肌衄，脈數，當歸補血湯。脈浮，黃　建中湯。脈弱，保元湯。脈盛，當歸六黃湯。便血有腸風臟毒脈痔之分，又有陽氣不升，下部虛而下血者，一見革脈，即宜溫補。葉天士曰：凡心肝為剛臟，可受柔藥，脾腎為柔臟，可受剛藥。羅謙甫治便血，立法以平胃散作主，加桂附乾薑歸芍，重加炒地榆以收下濕，即此意也。溲血與血淋不同，痛屬火盛，血淋也，土牛膝一味煎膏服之。不痛屬虛，溲血也，若腎陰虧損，六味加土牛膝，或過服助陽藥而致者，為難治。</p>
<p>反胃一證，朝食暮吐，暮食朝吐，因胃中無陽，不能容受食物而然。非比食已即吐者，為胃火沖逆也。仲景大半夏湯，以人參佐半夏，取腑病以通為補之義，而又佐以白蜜，沖入水中，揚之二十四遍，用以煮藥，升之緩之，總欲其宣揚穀氣也。</p>
<p>噎膈與反胃不同，飲食之際，氣忽阻塞，如有物梗塞者，名曰噎。心下格拒，飢不能食或食到喉間，不能下咽者，名曰膈。此因陽氣內結，陰血內枯而成。丹溪有韭汁牛乳飲。汪　庵曰：丹溪所言養血益陰、潤燥和胃調中，不必盡備其方，可以意會。治噎膈諸藥，韭汁散瘀，竹瀝薑汁消痰，童便降火，人乳牛乳潤燥養血，蘆根汁止嘔，茅根汁涼血，蔗汁和胃，荸薺汁消食，驢尿殺蟲，或加燒酒米醋白蜜，和諸汁頻服亦佳。</p>
<p>關格一證，陰陽各極其偏，不能相營。先哲云：人迎候陽，一盛在少陽，膽與三焦也。</p>
<p>二盛在太陽，膀胱小腸也。三盛在陽明，胃與大腸也。四盛以上者，陽脈盛而陰無以通，故曰格陽。寸口候陰，一盛在厥陰，肝與心主也。二盛在少陰，心與腎也。三盛在太陰，脾與肺也。四盛以上者，陰脈盛而陽無以交，故曰關陰。喻嘉言曰：自《靈》、《素》、《難經》仲景皆深言之，然無其方也。因為上下古今，尋一死裡求生之治，治吐逆之格，由中而漸透於上，治不溲之關，由中而漸透於下，治格而且關，由中而漸透於上下，姑立進退黃連湯，要未可為中人道也。按仲景黃連湯，治上下寒熱不和，為升降陰陽之劑。喻氏師其意而進退之，方中黃連進則錢半，退則七分，進則生用，退則薑製。乾薑進退俱用錢半，進則生用，退則炮用。人參進退俱用錢半，進則生用，退則乳制。桂枝進用一錢，退則不用。製半夏進退俱用錢半，大棗進退俱用二枚。統論進退二法，總以胃為轉旋，而未及治下。夫腎為胃關，腎氣不足，則小便必不能利，此退法中又須腎氣丸以培其下元也。</p>
<p>嘔與吐不同，王安道曰：嘔者，東垣所謂聲物俱出者也。吐者，東垣所謂物出而無聲者也。</p>
<p>至若乾嘔與噦，皆聲出而無物也。東垣但以噦概之，而無乾嘔之論。夫乾嘔與噦，所異者，微甚而已矣。乾嘔乃噦之微，噦乃乾嘔之甚。乾嘔者，其聲輕小而短。噦者，其聲重大而長。又曰咳逆，俗以呃逆及呃忒呼之，治呃忒亦有用橘皮竹茹湯而愈者。然則噦逆呃忒，病雖不同，而為邪正之氣怫鬱擾亂所致則一也。</p>
<p>吐酸與中酸不同，劉河間曰：肝熱則口酸，心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸，或口淡者胃熱也。凡中酸法宜溫藥散之者，亦猶解表之義。若久酸不已，則亦不宜溫之，宜以寒藥下之，後以涼藥調之。膈氣之證，與噎膈不同。噎膈由漸而成，難任剛藥，膈氣因胃陽衰微，陰乘陽位，以致粒米不入，日久不食，諸多蛔蟲上居膈間，非辛辣不能開之。喻氏歷治多人，皆至半月不食而得生者，不出理中六君及旋覆代赭湯去代赭加赤石脂之治也。嘈雜與吞酸一類，張路玉曰：皆由肝氣不舒，相火乘及脾胃，治法不必用伐肝之劑，以六君子湯補脾運痰。火盛作酸者，用吳萸川連。</p>
<p>六郁者，氣鬱、濕鬱、痰鬱、熱鬱、血鬱、食鬱也。滑伯仁曰：氣鬱者，胸脅痛。濕鬱者，關節痛，周身疼，遇陰寒則發。痰鬱者，動則氣喘，寸口脈沉滑。熱鬱者，昏瞀小便赤，脈沉數，四肢無力，能食。食鬱者，噯酸，腹飽不能食，左寸脈和平，右寸脈緊甚。</p>
<p>五郁者，五行之郁也。趙養葵曰：東方生木，木者，生生之氣，即火氣也。火附木中，木鬱則火亦郁，火鬱則土鬱，土鬱則金鬱，金鬱則水鬱，五行相因，自然之理。余用逍遙散一方，治木鬱而諸郁皆愈。古方逍遙散，柴胡、薄荷、當歸、白芍、陳皮、甘草、白朮、茯神。</p>
<p>其加味者，則丹皮、山梔。余以山梔屈曲下行泄水，改用吳茱、炒連，即左金丸，黃連清心火，吳茱氣燥，肝氣亦燥，同氣相求，以平肝木，木平則不生心火，火不刑金而金能制木，不直伐木而佐金以制木，此左金所以得名也。繼用六味地黃加柴胡、白芍以滋腎水，俾能生木。逍遙散，風以散之也。地黃飲，雨以潤之也。凡熱寒往來，惡寒惡熱，嘔吐吞酸嘈雜，胸痛脅痛，少腹膨脹，頭眩盜汗，疝氣飧泄等證，皆對證之方，倘一服即愈，少頃復發，或頻發而愈甚，此必下寒上熱之假證，此湯不可復投，當改用溫補之劑。</p>
<p>怔忡之證，心胸築築振動，惶惶惕惕，無時得安者是也，歸脾湯為要藥。</p>
<p>離魂病，身形作兩並臥，不辨真假，不語，問亦無答，有人病此，用人參、朱砂、茯苓濃煎服，真者氣爽，假者即化。</p>
<p>五癇分五臟見證，錢仲陽曰：反折上竄，其聲如犬，證屬肝也。目瞪吐舌，其聲如羊，證屬心也。目直腹痛，其聲如牛，證屬脾也。驚跳反折手縱，其聲如雞，證屬肺也。肢體如尸，口吐涎沫，其聲如豬，證屬腎也。一說有馬癇而無犬癇，馬癇者，但走不得眠，其狀如馬者是也。有人患此，醫用皂莢丸而愈，又按薛立齋曰：癇證當滋腎以生肝血，則風自熄而痰自消，治分虛實天淵，不可不辨。</p>
<p>癲狂之證，昔人以為陽並於陰，陰並於陽，即《內經》重陰重陽之義。狂則少臥不眠，妄言妄笑，甚則上屋逾牆，其候多躁而常醒，實者用《內經》生鐵落飲，乃白虎承氣，虛者壯水以制火。癲則或歌或笑，如醉如痴，甚則不知穢潔，其候多靜而常昏，實者用滾痰丸清心丸，虛者當養神而通志。</p>
<p>驚恐二證，有輕重之分。張景岳曰：因病而驚者，當察客邪以兼治其標。因驚而病者，宜安養心神，滋培肝膽，專以扶元為主，恐之傷人，尤甚於驚。甚則心怯而神傷，精卻則陰痿，日消月縮，不亡不已，非大勇大斷，必不能拔去其根。</p>
<p>室晦之證，即《左傳》所謂晦淫惑疾也。喻嘉言曰：吾鄉熊仲舒幼男，髫齡患一奇證，飲食如常，但脈細神呆，色夭氣奪，《左傳》所謂近女室晦，即是此病。彼因近女，又遭室晦，故不可為。今受室晦之疾而未近女，是可為也。乃依治楊季登女病邪祟例，用犀角、羚羊角、龍齒、虎威骨、牡蠣粉、鹿角霜、人參、黃　、羊肉等，少加牛黃丸，服旬日而安。臟躁之證，婦人病也，喜悲傷欲哭，像如神靈所作，數欠伸，《金匱》用甘草小麥大棗，名甘麥大棗湯。方後注云：善補脾氣，則知是方不獨為女科設也。</p>
<p>遺滑之證，有夢屬心，妙香散主之。無夢屬腎，固精丸主之。脾胃濕熱，豬　丸主之。</p>
<p>妙香散用人參（一兩）、黃　（一兩）、山藥（二兩，薑汁炒）、遠志（一兩，炒）、茯苓（一兩）、茯神（一兩），所以補其正，丹砂（二錢）、麝香（二錢）所以解其邪，木香（二錢半）、炙甘草（二錢半）交和於中，桔梗（二錢）載引於上，使正氣旺而邪惑不侵，則遺泄可愈矣（上為末，空心溫酒下二錢）。又考王荊公方，於本方中去黃　、山藥、二香，加益智仁（二兩）、五花龍骨（二兩）則稍兼固澀之意也。是方亦治驚悸郁結。固精丸用鹿茸（二具）、鹿角霜（分兩同）升固督脈，以督脈主一身之陽也。真陽不固，則用陽起石（五錢）、以提之。強陽用事，則用韭菜子（五錢）以抑之。蓯蓉（浸淡，一錢）、五味（五錢）、巴戟肉（五錢）、制附子（五錢）皆峻補真陽之品，石脂（五錢，　）、龍骨（五錢）攔截精竅，茯苓（五錢）淡滲經氣，使諸藥歸就腎經，以成封固之功也。豬　丸系劉松石方，用白朮（四兩）健脾勝濕，白色苦參（三兩）堅腎去濕，牡蠣（四兩）鹹寒，清熱止遺，丸以豬肚（一具，煮爛搗藥為丸）屬水中之土，能濃胃泄水，空朝米飲送下。久服不獨止遺，即勞瘦之人，亦可使之肥也。</p>
<p>腫脹之症，陰陽虛實不同。李士材曰：陽症必熱，熱者多實，陰症必寒，寒者多虛。先脹於內而後腫於外者為實，先腫於外而後脹於內者為虛。小便黃赤，大便秘結者為實，小便清白，大便溏泄者為虛。脹滑數有力者為實，脈浮弦細澀者為虛。色紅氣粗者為實，色悴聲短者為虛。凡實，或六淫外客，或飲食內傷，陽邪急速，其來必暴，每成於數日之間。凡虛，或情志多勞，或酒色過度，日積月累，其來有漸，每成於經月之後。又曰：經云諸濕腫滿，皆屬於脾。又云其本在腎，其標在肺，皆聚水也。又云腎者主水，胃之關也，關門不利，故聚水而從其類也。腫脹之病，諸經雖有，無不由於脾肺腎者。脾主營運，肺主氣化，腎主五液，凡五氣所化之液，悉屬於腎。五液所行之氣，悉屬於肺，轉輸二臟以制水生金者，悉屬於脾。故腫脹不外此三經也。治法分內外上下虛實，不可不辨。在外則腫，越婢湯小青龍湯症也。在內則脹，十棗丸神　丸症也。在上則喘，葶藶大棗湯防己椒目葶藶大黃丸症也。在下則小便閉，沉香琥珀丸疏鑿飲子症也。此皆治實之法。若夫虛者，實脾飲腎氣丸（濟生方加牛膝車前為治腫要方）症也。王節齋曰：喘與脹二症相因，必皆小便不利。喘則必生脹，脹則必生喘。先喘而後脹者治在肺，先脹而後喘者治在脾。喻嘉言曰：凡禽畜之類，有肺者有尿，無肺者無尿。肺壅而小便不行，以清肺為急。按：脹症氣分不治，宜治血絡，久病必入絡也。葉天士治一徐姓小兒，單腹脹數月，幼科百治無功，僉用肥兒丸等，俱不驗效。乃用歸須、桃仁、延胡、山甲、蜣螂、　蟲、五靈脂、山楂之類為丸，十日全愈。婦人病腫，尤宜分別水分血分。《金匱》云：先腫而後經斷者為水分，先斷經而後腫者為血分。古方載腫脹五不治，唇黑傷肝，缺盆平傷心，臍出傷脾，背平傷肺，足底平滿傷腎。</p>
<p>消渴分三種，許叔微曰：一者渴而飲水多，小便數，脂似麩片甜者，消渴病也。二者吃食多，不甚渴，小便少，似有油而數者，中消病也。三者，渴飲水，不能多便，腿腫，腳先瘦小，陽痿弱，小便數，此腎消症也。按：仲景腎氣丸為治腎消之要藥，或有不宜於桂附者，可用六味湯。喻氏載鄧橘存治傷熱消渴，堅令服一千劑而愈。又考葉天士治消渴，於六味湯中加牛膝、車前，導引腎肝，可謂善用古方。許叔微神效散，用海浮石、蛤粉、蟬退為散，鯽魚膽七個調服，亦治消渴之良方也。</p>
<p>黃膽之症，有表裡虛實之分。趙羽皇曰：經云中央色黃，入通於脾，外主肌肉，上應濕化，今太陰濕氣熾盛，濕滯熱蒸，鬱而不發，如龕曲相似，遂成黃膽。治法有汗下之分，補瀉之異焉。今人但用平胃五苓茵陳湯之類，清熱滲利之外，並無他說。雖然，其濕熱之盛於腸胃者，或可攻之，若郁於皮膚之間而不得發越，過用疏利，則濕熱反內陷而不得出。仲景治身熱發黃，有麻黃連翹赤小豆湯，無非急解其表，令熱邪自外而散。方書止知可降而不知可升者，非理也。至於素患脾虛，寒涼過甚，或小便清白而大便微溏，力倦神疲而脈細少氣，皆太陰脾氣極虛，而真色外見之候。惟用補中益氣湯，略加車前牛膝一二味。濕勝者，連理湯尤宜。今人一遇此症，不問其孰實孰虛，在表在裡，概用寒涼通劑，詎知脾胃虛者不宜寒，寒之則中氣愈敗。脾胃弱者不宜降，降之則下多亡陰。或攻或補，或升或降，總在隨症變通。黃膽變黑為女勞疸，用硝石礬石散。硝石即芒硝之底沉凝者，性急下趨，苦鹹入血，散血消瘀。礬石（燒，一用綠礬）酸寒，除錮熱在骨髓。二味等分為散，用大麥汁和服方寸匕，此用急奪下焦之瘀血，乃死裡求生之治也。又羅謙甫治陰黃，於四逆湯中加茵陳，名茵陳四逆湯。</p>
<p>痰與飲不同，柯韻伯曰：痰飲之本皆水也。經云：飲食入胃，游溢精氣，上輸於脾，此自陽入陰也。脾氣散精，上歸於肺，此地氣上升也。通調水道，下輸膀胱，此天氣下降也。水精四布，五經並行，是水入於經而血乃成也。若陰陽不和，清濁相干，胃氣亂於中，脾氣艱於升，肺氣滯於降，而痰飲隨作矣。痰與飲同源而有陰陽之別，陽盛陰虛，則水氣凝而為痰。</p>
<p>陰盛陽虛，則水氣溢而為飲。除痰者，降氣清火，是治其標，補陰利水，是治其本也。滌飲者，降氣燥濕，是治其標，溫腎利水，是治其本也。按治飲有中下之分，如《金匱》所雲苓桂朮甘湯主之，腎氣丸亦主之是也。治飲有脾胃之分，如《金匱》小半夏湯、小半夏加茯苓湯二方治胃，《外台》茯苓飲治脾是也。治飲有內外之分，如仲景小青龍治外飲，真武治內飲是也。</p>
<p>頭痛一症，須分三陽及厥陰治之。外風內風，陽虛火鬱，無不有之，最宜詳審。</p>
<p>頭風有偏正之分，偏者主乎少陽，或補或瀉，總以柴胡為要。傷及肝陰者，咸涼柔鎮。</p>
<p>正者有氣虛血虛，痰厥腎厥，陰傷陽浮，火亢邪風之不同。</p>
<p>眩暈一症，乃肝膽風陽上冒，非外風也。火盛者，用羚羊、山梔、連翹、花粉、元參、鮮生地、丹皮、桑葉，以清泄上焦絡熱，此先從膽治也。痰多必理陽明，消痰如竹瀝、薑汁、菖蒲、橘紅二陳湯之類。中虛必用人參，《外台》茯苓飲是也。下虛必從肝治，補腎滋肝，育陰潛陽，鎮攝之治是也。至於天麻、鉤藤、菊花之屬，皆系熄風之品，隨症加入可也。</p>
<p>厥巔之疾，氣與血俱逆於高巔，故動輒暈去，婦人為多。喻嘉言治吳添官母，以代赭、龍膽、蘆薈、黃連降其上逆之氣，以蜀漆、丹皮、赤芍行其上郁之血，以牡蠣、龍骨、五味斂其浮游之神，最要在每劑藥中，入生豬膽汁二枚，蓋以少陽熱熾，膽汁必干，取同類相求之義也。</p>
<p>面痛有虛實之分，張路玉曰：面為陽明部分，而陽維起於諸陽之會，皆在於面，故面痛皆屬於火。暴痛多實，久痛多虛。高者抑之，郁者開之，血熱者涼之，氣虛者補之。</p>
<p>目疾初起，最要分別風寒風火。內障之症，因頭風致變者多，須從內風主治，不可過用風藥。耳中之症，體虛失聰，責在心腎，邪干竅閉，責在膽經。以腎開竅於耳，心寄竅於耳，膽絡脈附於耳也。</p>
<p>鼻中之病，手太陰手陽明主病。經又云：膽移熱於腦，令人辛　鼻淵。白芷辛散統治鼻病，以白芷（一兩）散陽明之風，辛夷仁（五兩）散太陰之風，蒼耳仁（炒去皮二錢半）散巔腦之風，並能去腐止淵，薄荷葉（二錢）氣味俱輕，能上行至高之分，為散每服一錢，蔥白湯及茶清湯服，服之不效，亦宜參用治本之法。</p>
<p>齒痛在胃為熱，清胃散主之。在腎為虛，石刻安腎丸主之。若有外邪壅遏者，辛溫散寒，辛涼泄上之法，亦不可廢。</p>
<p>瘰　婦女為多，不可輕用散堅追毒之劑。《外台秘要》曰：肝腎虛熱則生　矣。一方用前胡兩半，川貝一兩，元參二兩，大力子二兩，黃芩兩半，昆布一兩，海藻一兩，紫背天葵一兩，夏枯草二兩，煎湯泛丸，每服三錢有效。若久潰，脈浮大，邪火盛也。面色　白，金克木也，皆不治。若赤脈貫瞳子，有幾條，則幾年死。肩背作痛，手太陰足陽明為病。肺朝百脈，肺病則不能管束一身，故肺愈為病，即肩背作痛。又背為陽明之府，陽明有虧，不能束筋骨而利機關，即肩垂背曲。若外邪為患，當從太陽經治；沖氣上攻，當從少陰經治。</p>
<p>臂痛分六道，李東垣曰：以兩手仰直垂下，大指居前，小指居後而定之。臂　之前廉痛者屬陽明，升麻、白芷、干葛為引經。後廉屬太陽，　本、羌活為引經。外廉屬少陽，柴胡連翹為引經。內廉屬厥陰，柴胡當歸為引經。內前廉屬太陰，升麻、白芷、蔥白為引經。內後廉屬少陰，細辛、當歸為引經。</p>
<p>胸痹之症，人所通患。喻嘉言曰：胸中如離照當空，曠然無外，地氣一上，則窒塞有加。仲景用栝蔞之潤以豁痰，薤白之滑以利竅，使以白酒，淡而不滯，引藥上行，以解散窒塞之邪。重者用附子、乾薑，切不可任用香燥。</p>
<p>心痛有五，《初學記》曰：五臟失治，皆為心痛。刺治分經，理甚明析。至若舍針用藥，尤宜審此詳義。蓋腎心痛者，多由寒邪上衝，故善　。如從後觸其心，胃心痛者，多由停滯，故胸腹脹滿。脾心痛者，多由寒逆中焦，故其病甚。肝心痛者，多由木火之郁，病在血分，故色蒼蒼如死狀。肺心痛者，多由上焦不清，病在氣分，故動作則痛益甚。若知其在氣則順之，在血則行之，郁則開之，滯則逐之，火多實則或散或清之。寒多虛則或溫或補之。</p>
<p>必真心痛者，乃不可治。</p>
<p>腹痛一症，分無形有形。無形為患，如寒凝火鬱，氣阻營虛，及夏秋暑濕痧穢之類。有形為患，如蓄血食滯　瘕蛔蟯內疝，及平素偏好成積之類。審其痛勢之高下，色脈之衰旺，細究其因，確從何起。大抵在臟者，以肝脾腎為主，在腑者，以腸胃為主。</p>
<p>脅痛有左右之分，左脅作痛，專主厥陰肝經。右脅乘肺乘脾俱有，或泄木以安土，或清金以平木。左金丸用黃連為君。（六兩，薑汁炒，）以直瀉其子，吳茱（一兩，鹽水泡）氣臊，與肝同氣相求，故必用以為佐，金鈴子散用金鈴子（去核，一兩）泄肝家氣分之熱，延胡索（炒，一兩）泄肝家血分之熱，雪羹用荸薺（四個）以散結，海蛇（漂淨，一兩）以潛陽，三者俱為要方。若血絡受傷，又當從事於仲景旋覆花湯之治矣。</p>
<p>腰痛一症，腎為主治，腰者腎之腑也。腎與膀胱為表裡，在外為太陽，在內屬少陰，又為衝任督帶之要會，有內因外因不內外因之別。仲景腎著湯用乾薑（炮）辛熱以燥濕，白朮（炒）苦溫以勝濕，茯苓甘淡以滲濕，甘草和中而補土，腎病而皆用脾藥，益土即所以制水也。有寒者加附子，或加肉桂、澤瀉、杜仲、牛膝。</p>
<p>積聚之症，越人以積者陰氣，五臟所生，聚者陽氣，六腑所成，巢氏以不動為　，動者為瘕，亦即積聚之意。大凡屬腑屬臟，以經脈所過部分別之，又初病氣結在經，久病血傷入絡，用藥須於辛香之中，加入蠕動之品，透松病根，方能有效。</p>
<p>疝症之因，不外乎寒，故仲景獨以寒疝立名。其所制當歸生薑羊肉湯（三味以名其方亦為產後下虛要藥）等方，惟以祛散寒邪，調養補虛為事，並不雜入氣分之藥。又子和歷詳筋疝、水疝、狐疝、　疝、氣疝、血疝、寒疝七者之名，總以辛香流氣為主。</p>
<p>蟲有五種，許叔微曰：《千金》謂勞則生熱，熱則生火，心蟲曰蛔，脾蟲寸白，腎蟲如截絲縷，肝蟲如爛杏，肺蟲如蠶。五蟲皆能傷人。惟肺蟲為急，肺蟲居肺葉之內，蝕人肺系，故成瘵疾，咳血聲嘶，藥所不到，治之為難。有人說《道藏》中載諸蟲皆頭向下行，惟自初一至初五以前頭上行，故用藥多取月初以前，蓋謂是也。</p>
<p>淋濁二症，痛者為淋，不痛者為濁。淋有氣血砂膏勞五者之殊，氣淋為病，小便澀滯，常有餘瀝不盡。血淋為病，遇熱即發，甚則溺血。痛者為血淋，不痛者為尿血。砂淋為病，陰莖中有砂石而痛，砂出痛止是也。膏淋為病，溺出如膏，敗精結者為砂，精結散者為膏，又煮海為鹽之義。勞淋遇勞即發，通淋通瘀，虎林湯為要方。濁有赤濁白濁之分，戴元禮曰：赤濁屬血，由心小腸，火也。白濁屬氣，由肺大腸，金也。葉天士又發明便濁精濁之治，便濁用萆　釐清飲等，精濁傷及督任，必用升固八脈之氣。</p>
<p>腿痛亦分六經，李東垣曰：前廉為陽明，白芷升麻葛根為引經。後廉為太陽，羌活防風為引經。外廉屬少陽，柴胡羌活為引經。內廉為厥陰，青皮吳萸為引經。內前廉為太陰，蒼朮白芍為引經。內後廉為少陰，獨活澤瀉為引經。痛有血虛血寒寒濕風濕濕熱流注，陰虛陽虛腎虛風襲之殊。</p>
<p>足痛一症，外感者，惟寒濕濕熱風濕之流經入絡。經云：傷於涼者，下先受之，當以治濕為主，其間佐溫佐清佐散，隨症以制方。內傷則不外肝脾腎三者之虛，或補中，或填下，或養肝，隨症以施治。喻嘉言論足上麻木，有熱極似寒之症，如夏月之反雨冰雹也，宜以竹瀝等清絡為主。</p>
<h2>卷四</h2>
<h3>治法合論</h3>
<p>肺為嬌臟而朝百脈，主一身元氣，形寒飲冷則傷肺，火熱刑金亦傷肺，傷陽傷陰，是當詳辨。痹論云：淫氣喘息，痹聚在肺，肺位至高，六氣著人，肺先受之，治肺為急，用藥最貴輕清。其腑為大腸，位居於下，通腑之法，又不可不講也。</p>
<p>心為神明之主，經云：損其心者調其營衛，而營衛之調，亦分陰陽，桂枝加龍骨牡蠣等湯，補心之陽也。養心湯補心丹，補心之神也。仲景瀉心諸湯，雖曰瀉心，實則瀉胃，瀉其子也。其腑為小腸，位居於下，通腑之法，又不可不講也。</p>
<p>包絡系心，亦為一臟，熱邪塞竅，牛黃丸至寶丹，最能通絡。又考趙以德論《金匱》苓桂朮甘湯之治，亦本《靈樞》包絡脈動主議，則知熱痰宜涼，寒飲宜溫，又當分別。三焦亦為一臟，其實上中下三者，分管臟腑，最當詳辨。葉天士曰：仲景傷寒，分發六經，河間溫暑，專究三焦。故柯韻伯論陽明三症，亦主三焦分治，熱在上焦，用梔子豉湯吐之，上焦得通，津液得下，胃家不實矣。熱在中焦，用白虎湯清之，胃火得清胃家不實矣。熱在下焦，用豬苓湯主之，火從下泄，胃家不實矣。若雜症之分三焦，亦有其要。王叔和曰：假令病患聞穀氣臭者，病為在上焦。假令病患少多為欲食，不食亦可，病為在中焦。假令病患飲食如故，病為在下焦。</p>
<p>脾胃同處中州，亦宜分別治之。滑伯仁曰：劉河間謂補瀉脾胃之本者，蓋以脾胃中和之氣也。燥其濕則為瀉，潤其燥則為補。喻嘉言曰：補虛有二法，一補脾，一補胃。如瘧痢後脾氣衰弱，飲食不運，宜補其脾。如傷寒後胃中津液久耗，宜補其胃。葉天士曰：納食主胃，運化主脾，脾宜升則健，胃宜降則和。又曰：太陰濕土，得陽始運。陽明陽土，得陰自安。仲景急下存陰，其治在胃。東垣大升陽氣，其治在脾。肝為剛臟，有瀉無補，然四時之所化始於木，究十二經之所養始於肝，肝尤不可不養。肝之治有數種，水虛而木無以生，地黃丸乙癸同源是也。土虛而木無以植，參苓白朮散緩肝培土是也。本經血虛有火，用逍遙散清火。</p>
<p>血虛無水，用歸脾湯養陰。瀉火之治，上類乎心。補火之法，下同乎腎。其腑為膽，瀉腑之法，則柴胡溫膽為要方矣。</p>
<p>腎為先天之本，有補無瀉，故仲陽獨有六味丸補腎，而無瀉腎之方。然左為腎，右為命門，水火得其正，則為精為氣，水火失其和，則為熱為寒。水中不可無火，無火則陰勝而寒病生。火中不可無水，無水則陽勝而熱病起。如水虧陰虛，只宜大補真陰，切不可再伐陽氣。火弱陽虛，只宜大補元陽，切不可再傷陰氣。其腑為膀胱，外應皮毛，協營衛而主一身之表，臟氣足則腑不受邪矣。</p>
<p>奇經不可不究，李瀕湖曰：陽維起於諸陽之會，由外踝上行於衛分，陰維起於諸陰之交，由內踝上行於營分，所以為一身之綱維也。陽蹺起於跟中，循外踝上行於身之左右，陰蹺起於跟中，循內踝上行於身之左右，所以使機關之蹺捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈起於會陰，挾臍而行，直沖於上，為諸脈之沖要，故曰十二經脈之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也，是故陽維主一身之表。陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。督脈主身後之陽，任沖主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。喻嘉言曰：奇經所主，雖不同正經之症，其關於營衛則一也。葉天士曰：凡沖氣攻痛，從背而上者，系督脈主病，治在少陰。從腹而上者，系衝任主病，治在厥陰，或填補陽明。</p>
<p>絡脈不可不究，以初病在經，久病在絡也。喻嘉言曰：經有十二，絡亦有十二。絡者兜絡之義，即十二經之外城也。復有胃之大絡，脾之大絡，及奇絡之大絡，則又外城之通界，皇都出入之總途也，故又曰絡有十五焉。十二經生十二絡，十二絡生一百八十系絡，系絡生一百八十纏絡，纏絡生三萬四千孫絡，自內而生出者，愈多則愈小，稍大者在俞穴肌肉間，營氣所主外廓，由是出諸皮毛，方為小絡。</p>
<p>表症汗之，此其常也，而亦有先宜於補者。許叔微治鄉人邱生病傷寒發熱，頭痛煩渴，脈雖浮數而無力，尺以下遲而弱。許曰：此雖麻黃症，而尺遲弱，仲景云：尺中遲者，營氣不足，氣血微少，未可發汗，於是於建中湯內，加當歸黃　合飲。翌日脈尚爾，其家煎迫日夜促發汗藥，幾不遜矣。許忍之，但用建中調營而已，至五日尺部方應，遂授麻黃湯，啜第二服，發狂須臾少定，略睡已中汗矣。信知此事誠難。仲景雖云，不避晨夜，即宜便治，醫者亦須顧其表裡虛實，待其時日。若不循次第暫時得安，虧損五臟，以促壽限，何足貴也。</p>
<p>重症緩治，用法之詳審也。而有不得不急者。喻嘉言治朱孔陽年二十五歲，形體清瘦，素向安逸，夏月因構訟，奔走日中，濕熱合內郁之火而成痢疾，晝夜一二百次，不能起床。以粗紙鋪於褥上，頻頻易置，但進水而不能食，其痛甚厲，肛門如火烙，揚手擲足，躁擾無奈。</p>
<p>喻診其脈，弦緊勁急，不為指撓，謂曰：此症一團毒火，蘊結於腸胃之間，其勢如焚，救焚須在頃刻。若二三日外，腸胃朽腐矣。於是以大黃四兩，黃連、甘草各二兩，入砂鍋內煎，隨滾隨服，服下人事稍安片刻，少頃仍然躁擾，一晝夜服至二十余碗，大黃俱已煎化，黃連甘草俱至無汁。次日病者再求前藥，喻診畢，見脈勢稍柔，知病可愈，但用急法，不用急藥，遂改用生地、麥冬各四兩，另研生汁，而以花粉、丹皮、赤芍、甘草各一兩，煎成和汁大碗咽之。以其來勢暴烈，一身津液，從之奔竭，待下痢止，然後生津養血，則枯槁難回。今脈勢既減，則火邪俱退，不治痢而痢自止，豈可泥潤滯之藥而不急用乎。服此果然下痢盡止，但遺些少氣沫耳。緩緩調至旬余，方能進穀。治熱邪急症，豈可無此急法耶。</p>
<p>暑熱當令而發者易辨，而伏暑之症，至冬月而發者，尤不可不辨。吳茭山治一婦人冬月感病，洒洒惡寒，翕翕發熱，惡食乾嘔，大便欲去不去，諸醫皆以虛弱痰飲治以二陳補心等藥不效。延及半月，吳診其脈，虛而無力，類乎傷暑，眾不然也。究問病因，其婦曰：因天寒換著綿衣取綿套一床蓋之，須臾煩渴，寒熱嘔吐，延綿至今耳。吳曰：誠哉傷暑也。蓋綿套晒於盛暑，夾熱收入笥中，必有暑氣，尚未泄，今人體虛，得之易之，故病如是。其婦曰然。</p>
<p>遂製黃連香薷飲二服而愈。</p>
<p>凡病在危急，必得出奇制勝，方能速愈。李瀕湖治外甥柳喬，素多酒色病，下極脹痛，二便不通，不能坐臥，立哭呻吟者七晝夜，用通利藥不效，遣人叩李。李曰：此乃濕熱之邪，在精竅道，壅脹隧路，病不在大腸膀胱，而在二陰之間，故前阻小便，後阻大便。乃用楝實茴香穿山甲諸藥，入牽牛加倍煎服，一服而減，三服而平。喻嘉言治葉茂卿乃郎出痘，未大成漿，其殼甚薄，兩月後尚有著肉不脫者，一夕腹痛，大叫而絕。喻用梨汁入溫湯灌之立蘇，頃復痛絕，灌之又蘇，遂以黃芩二兩煎湯和梨汁與服，痛止，令制膏子藥頻服，不聽，其後忽肚大無倫，一夕痛叫，小腸突出臍外五寸，交鈕各二寸半，如竹節壺頂狀，莖物交摺長七八寸，明亮如燈籠，外症從來未經聞見，喻知其為肺熱而氣壅不行，仍為治之。以黃芩阿膠二味，清肺之熱，潤肺之燥，日進十余劑，三日後始得小水，五日後水道清利，臍收腫縮而全愈。凡病至延久，藥初投之而效，繼投之而不效者，必求其本而治之。柯韻伯治孫介夫春間病咯血，旋愈旋作，初服芩連而愈。繼而寒涼不效，更進參　而愈。後用溫補不效，復用寒涼而又不效，因而就商於柯，柯曰：斯未求其本耳，諸寒之而熱者取諸陰，所謂求其屬也。君病陰虛而陽盛，以寒藥治之，陽少衰，故病少愈耳。復進寒涼而陽亦虛，得溫補而病少愈耳。再進溫補而陰愈虛，復進寒涼而陰陽俱虛，故連綿而不解耳。豈知臟腑之源，有寒熱溫涼之主哉，必壯水之主，以制陽光，方為合法。因立加減腎氣丸，一劑而喘嗽安，再劑而神氣爽。</p>
<p>膏粱多虛，藜藿多實，此其常也，而亦有異焉者。富貴之人，讀書明理，不乏修心養性者，且富貴有二種，創業之富貴，多由艱難困頓而成，血脈筋骨充實，至一再傳之後，則專事豢養安佚而已。貧賤之人，飢餓勞役，最多內傷症，憂愁困苦，最多七情症，且貧賤有二種，生而貧賤者其心安，終貧賤而其始本不貧賤者其心不安。素問脫營失精二義，不可不知。</p>
<p>南北之說，亦不可拘。王節齋曰：李東垣北醫也，羅謙甫得其法以聞於浙。朱丹溪南醫也，劉宗濃世其學以鳴於陝西。方中行曰：東南之人，何嘗不病其東南之風寒。西北之人，豈可不病其西北之暑濕。</p>
<p>設有人焉，正已奪而邪方盛者，將顧其正而補之乎，抑先其邪而攻之乎？見有不的，則死生系之，此其所以宜慎也。夫正者本也，邪者標也。若正氣既虛，則邪氣雖盛，亦不可攻。蓋恐邪未去而正先脫，呼吸變生，則措手無及。故治虛邪者，當先顧正氣，正氣存則不至於害，且補中自有攻意。蓋補陰即所以攻熱，補陽即所以攻寒。世未有正氣復而邪不退者，亦未有正氣竭而命不傾者。如必不得已，亦當酌量緩急，暫從權宜，從少從多，寓戰於守，斯可矣。此治虛之道也。若正氣無損者，邪氣雖微，自不宜補，益補之則恐正無與而邪反盛，適足以藉寇兵而資盜糧，故治實症者，當直去其邪，邪去則身安。但法貴專精，便臻速效，此治實之道也。要之能勝攻者，方是實症，實者可攻，何慮之有？不能勝攻者，便是虛症，氣去不返，可不寒心，此邪正之本末，有不可不知也。惟是假虛之症不多見，假實上最多也。</p>
<p>假寒之症不難治，而假熱之治多誤也。然實者多熱，虛者多寒，如丹溪曰：氣有餘便是火，故實能受寒，而余續之曰：氣不足便是虛，故虛能受熱。世有不明真假虛實，而曰知醫者，則未敢許也。</p>
<p>邪氣盛則實，精氣奪則虛。二句為治病之大綱，其詞似顯，其義甚微，最當詳辨。而辨之有最難者何也？蓋實言邪氣，實宜瀉也。虛言正氣，虛宜補也。凡邪正相搏而為病，則邪實正虛，皆可言也。故主瀉者則曰邪盛則實，當瀉也。主補者則曰精奪則虛，當補也。各執一白，茫無定見，藉口文飾，孰得言非。是以至精之訓，反釀莫大之害。不知理之所在，有不可移易者，奈時醫不能察耳。余請析此為四：曰孰緩孰急，其有其無也。所謂緩急者，察虛實之緩急也，無虛者急在邪氣，去之不速，留則生變也。多虛者急在正氣，培之不早，臨期無濟也。甚虛甚實者，亦治其實，可一掃而除也。微虛微實者，所畏在虛，但固守根本，先為已之不可勝，則邪無不退也。二虛一實者，兼其實，開其一面也。二實一虛者，兼其虛防生不測也。總之，實而誤補，固必增邪，猶可解救，其禍小。虛而誤攻，真氣忽去，莫可挽回，其禍大。虛實之緩急，不可不察也。所謂有無者，察邪氣之有無也。凡風寒暑濕燥火，皆能增邪，邪之在表在裡，在腑在臟，必有所居。求得其本，則直取之。此所謂有，有則邪之實也，若無六氣之邪而病出三陰，則皆情欲以內傷，勞倦以傷外，非邪似邪，非實似實，此所謂無，無則病在元氣也。不明緩急有無四義，必至以逆為從，以標作本，絕人長命，損德多矣，可不懼且慎哉？</p>
<h2>卷五</h2>
<h3>古今方補注</h3>
<p>白虎加桂枝湯（仲景方）</p>
<p>溫癉二瘧，但熱不寒，治須清降，桂枝調和營衛，《金匱》用於白虎湯中，引領熱邪仍從外泄，用之恰當，二進必愈。然此乃邪發於手太陰肺經，故可頃刻致和而瘧已。若熱氣深伏，陰虛內熱而病涉足少陰，又當參鱉甲首烏養陰之例。</p>
<p>蒼朮白虎湯濕溫之症，暑濕相搏，其脈陽濡而弱，陰小而急；其症頭項多汗，兩足逆冷譫語。若視為虛寒而投以溫補，誤之甚矣。白虎湯為治暑熱之正劑，加蒼朮以治其濕，暑濕兼治，尤為要方。然恐寒降太過，許叔微治王彥龍，先用人參白虎，繼用蒼朮白虎，是兼顧其中氣也。</p>
<p>玉女煎（景岳方）</p>
<p>陽明少陰二經，皆是津液所關。陽明實則火熾而津液涸，少陰虛則水虧而津液亦涸。考兩經合治之方，仲景豬苓湯，養陰而兼利水。景岳玉女煎，養陰而兼清火。蓋白虎湯治陽明而不及少陰，六味地黃湯治少陰而不及陽明。是方石膏清胃，佐知母以泄肺氣，實則瀉其子也。熟地滋腎，佐麥冬以清治節，虛則補其母也。牛膝入絡通經，能交和中下，尤為八陣中最上之方。</p>
<p>追瘧飲　體瘧飲　何人飲（並景岳方）</p>
<p>三方並用製首烏當歸，以瘧邪既久，無不傷及營血也。追瘧飲用於氣血未甚大衰之候，而少陽半表之邪，尚滯於經，故用柴胡半夏陳皮青皮甘草以和之。休瘧飲用於汗散既多，意專固其元氣，故加人參炒白朮炙草以補之，不特止瘧，且為善後計也。何人飲則於補虛之中，又兼去寒，故加人參以補中，邪用陳皮以和中，生薑以溫中也。三方並用陰陽水煎，露一宿，次早清晨服。</p>
<p>柴芩煎（景岳方）</p>
<p>此方治表邪未解，內外皆熱，暑瘧煩渴，協熱下利，水蓄發黃等證。柴胡散表邪，黃芩梔子清裡熱，枳殼快氣以調和表裡，澤瀉木通滲濕以通利三焦。凡喜冷氣壯，脈象滑數者，並宜用之。如瘧痢並行，鮮血純血者，加白芍甘草。濕勝氣陷者，加防風。若營虛不能作汗者，又當參合歸柴煎之例，而加當歸炙草矣。</p>
<p>清燥湯（東垣方）</p>
<p>燥與濕相反，此方多用去濕之品，而特以清燥名者，蓋取清肅肺金之義。肺為辛金主氣，大腸為庚金主津，今為濕熱之邪所困，則腎水生化之源絕，而痿　喘渴之症作。是方用人參（三分）、黃　（錢半）、茯苓（三分）、白朮（一錢）、蒼朮（一錢）、陳皮（五分）、甘草（二分）補土以生金，麥冬（二分）、五味子（九粒）保金而生水，黃連（一分）、黃柏（二分）、當歸（二分）、生地（二分）瀉火滋陰，豬苓（二分）、澤瀉（五分）、升麻（三分）、柴胡（三分）升清降濁，使治節有權，則水出高源而諸症自愈。是方重在濕熱，故不用潤劑，與喻氏清燥救肺，各成一格也。</p>
<p>清燥救肺湯（喻嘉言方）</p>
<p>喻氏補秋燥一門，以正四時，以備六氣，可謂發前人之所未發。但燥氣傷人，必由陰分先虛，非比風寒暑濕，由於外感者多。所制清燥救肺湯，治諸氣　郁，諸痿喘嘔之症，純以生津保肺立法，並不雜入外感之藥。石膏（二錢半，　用）清肺中之熱，麥冬（去心，一錢）滋肺中之陰，阿膠（真者，八分）補肺中之血，佐胡麻（一錢，炒研）滑以利竅，人參（七分）補肺中之氣，佐杏仁（去皮尖，炒黃，八分）苦以豁痰，經霜桑葉（三錢）、枇杷葉（一片，去毛蜜炙）輕清涼泄，復用甘草（一錢）以和之。統論全方，清金平木，以制亢逆之火，補胃生肺，以壯高原之水，名之曰救肺，涼而能補之謂也。痰多加貝母、栝蔞，血枯加生地，熱甚加犀角、羚羊角、牛黃，泄郁不用辛香，清熱不用苦寒。凡治燥症之權衡，已畢具於此矣。</p>
<p>星附散中風之症，手足　曳者，因虛風寒痰，阻遏脾中陽氣而然也。夫既曰虛風，則必忌用治風之藥。曰寒痰，則必遍舉燥痰之藥。方中南星（制）、僵蠶（炒）、川烏（制）、黑附、白附皆辛熱之品，人參、茯苓、半夏（制）、則調養正氣者矣。每藥止用二分，煎成熱服，以助脾中之陽，此寓發散於不發散之中也。</p>
<p>烏頭粥（《本事方》）</p>
<p>此治風淫末疾，痹在手足者也。用香熟白晚米二合，入薑製川烏末四錢，以砂罐煮作稀粥，入生薑自然汁一匙，白蜜三匙，攪勻空心溫啜之。從營衛所生之地注力，故合谷味。如中濕多，再加薏苡仁三錢。凡半身不遂，腫痛不能舉者，服此預防之。</p>
<p>保陰煎（汪纘功方）</p>
<p>此方治虛勞，名曰保陰者，以虛勞未有不因於陰虛也。方中二地壯水為君，二冬清金為臣，龍眼悅脾而生金制水，玉竹潤肺而益腎養肝。陰不足者補之以味，人乳、龜板血肉之品，滋燥益陰，復佐以茯苓、山藥，調和脾胃，使無陰柔偏勝之虞。牛膝引藥下行，石斛煎湯代水。使虛羸之體，得以充血生津而有所恃。內熱有汗加地骨皮，內熱無汗加牡丹皮。腰痛加枸杞、杜忡，或加豬腰、豬脊髓。盜汗加棗仁、五味子，怔忡不寐加棗仁，咳嗽加桑白皮、枇杷葉、百合，有痰加貝母，有血加藕汁童便，食少加薏苡仁，泄瀉去生地、天冬，加山茱、白芍、大棗、蓮肉，肺脈按之無力者，宜加人參。</p>
<p>暖肝煎（景岳方）</p>
<p>此治陰寒疝氣之方，疝屬肝病，而陰寒為虛，故用當歸（二三錢）、枸杞（三錢）以補真陰之虛，茯苓（二錢）以泄經腑之滯，肉桂（一二錢）補火以鎮濁陰，烏藥（二錢）利氣而疏邪逆，小茴（二錢）、沉香（一錢，或用木香）為疝家本藥，生薑為引，辛以散之。如寒甚者，吳萸、附子、乾薑，亦可加入。</p>
<p>腎氣丸（仲景方）　六味地黃丸（錢仲陽方）　加味腎氣丸（《濟生》方）</p>
<p>仲景治虛勞痰飲消渴及婦人轉胞，並用腎氣丸。至崔氏移治香港腳上入。更名八味丸，後人遂為溫補命門之通劑。至錢仲陽治小兒，以體屬純陽，故去桂附，後人遂為峻補真陰之通劑。</p>
<p>至《濟生方》又於腎氣丸中加牛膝、車前以治水腫，方書或以六味地黃丸為主方，或以加味腎氣為《金匱》腎氣丸，由不明制方之源流也。</p>
<p>左歸丸（景岳方）</p>
<p>左歸宗錢仲陽六味丸，減去丹皮者，以丹皮過於動汗，陰虛必多自汗盜汗也。減去茯苓、澤瀉者，意在峻補，不宜於淡滲也。方用熟地之補腎為君（八兩），山藥之補脾（四兩）、山茱之補肝（四兩）為臣，配以枸杞補精（四兩），川膝補血（三兩，酒洗蒸熟精滑者不用），菟絲補腎中之氣（四兩），鹿膠（四兩，敲碎炒珠）、龜膠（四兩，敲碎炒珠）補督任之元。雖曰左歸，其實三陰並補，水火交濟之方也。至於加減之法，如真陰失守，虛火炎上者，去枸杞、鹿膠，加女貞、麥冬。火爍肺金，干枯多嗽者，加百合。夜熱骨蒸者，加地骨皮。小水不利不清者，加茯苓。大便燥結者，去菟絲，加肉蓯蓉。一切柔潤之品，在所必用。又如氣虛加人參，血虛微滯加當歸，腰膝酸痛加杜仲，臟平無火而腎氣不充，去龜膠，加補骨脂、蓮肉、胡桃。宜清宜補，應寒應熱，總在臨症化裁。</p>
<p>右歸丸（景岳方）</p>
<p>仲景腎氣丸，意在水中補火，故於群隊陰藥中加桂附。而景岳右歸，峻補真陽，方中惟肉桂（二兩）、附子（制，二兩）、熟地（八兩）、山藥（四兩）、山茱（四兩），與腎氣丸同，而亦減去丹皮之辛，澤瀉、茯苓之淡滲。枸杞、菟絲、鹿膠三味，與左歸丸同，去龜膠、牛膝之陰柔，加杜仲（四兩，薑湯制）、當歸（三兩，便溏忌用）溫潤之品，補右腎之元陽，即以培脾胃之生氣也。其加減之法，陽衰氣虛，必加人參以為之主。陽虛精滑，或帶濁便溏，加補骨脂。</p>
<p>飧泄腎泄不止，加北五味、肉豆蔻。飲食減少，或不易化，或嘔吞酸，加乾薑。腹痛不止，加吳茱萸。腰膝酸痛，加胡桃肉。陰虛陽痿，加巴戟、肉蓯蓉，或加黃狗外腎，與鹿膠同為血肉之補，誠為治命火衰微之要劑。</p>
<p>百勞丸勞瘵積滯，即世俗所稱干血勞是也，而於婦女為多，患此百無一痊。大半都為藥壞，非破氣，即滋陰，非寒涼，即溫補，俱未中病，故無一效。是方據許州陳大夫云：此仲景所傳，治一切勞瘵積滯，不經藥壞者宜服，則知此為治勞瘵積滯之第一方，並以知曾經藥壞者服之不效矣。方用乳香（一錢），沒藥（一錢），虻蟲（十四個），水蛭（十四個），大黃（四錢），桃仁（十四個），攻積消滯之中，加人參（二錢），當歸（二錢），護持氣血，是寓守於戰之意也。煉蜜為丸，急藥緩投，則不傷於峻也。百勞水杓揚百遍者是，又名甘瀾水，於五更時候，取水下百丸，一片清空之氣，以蕩滌邪穢也。惡物既下，只服白粥十日，取淡味以養陰，以示不可驟用補劑也。</p>
<p>祛風丸（潔古方）</p>
<p>枸杞、白芍、地骨皮、生地、熟地皆補血之品，而加黃　以固表，枳殼以疏裡，甘草以和中，一派調和營衛，獨防風一味為風藥，等分蜜丸，而特名為祛風丸者，以血行風自滅也。</p>
<p>四神丹（東垣方）</p>
<p>元參、當歸、生地，亦皆補血之品。而加羌活之走經散表者於其間，則能消解血分蘊積之風。丸用等分，煎服亦可。是方與前方，治癘風者，俱可為久服之方，取其調和營衛而不傷胃也。</p>
<p>化痰丸（王節齋方）</p>
<p>痰因火而逆上，凝結喉間，吐咯難出者，名老痰鬱痰。病在至高之分，非寒非濕，若用辛溫香燥，不特已過病所，抑且以火濟火。是方天冬（一兩），黃芩（一兩）以清肺，連翹（五錢）、青黛（三錢另研）以清心，蛤粉（一兩），芒硝（三錢，另研），軟堅散結，香附（三錢，鹽湯，浸炒），橘紅（一兩），利氣寬胸，蔞仁（一兩）為痰嗽所必需，復用桔梗（五錢）舟楫之劑浮而上之，此症根蒂已深，非湯藥所能速愈，故用丸以緩之。用煉蜜少加薑汁以作丸者，藉其辛甘之味，留戀喉間也。</p>
<p>代溫中丸丹溪小溫中丸，治腫脹之屬於濕熱者。《局方》禹餘糧丸，治水腫之屬於寒濕者。二方並用針砂。小溫中丸六君子合苦參黃連等，意在補虛以去其濕熱，熱為標而濕為本，故以溫中立名。禹餘糧丸，以余糧蛇黃針砂為主，輔佐之屬，不外開鬼門、潔淨府、去菀陳　三法，而復以薑桂附之大溫大熱，則通陽祛陰，奏功最捷，不治水而水自逐矣。然二方誠為腫脹要藥，而一用人參貴重，貧富不便道行，一苦制法浩繁，鄉野不能預備，此代溫中丸之所由設也。方用醋製針砂一兩，性燥重墜，能於胃中平肝邪克賊之氣，香附三錢，乾漆灰三錢，一氣一血，復以平胃散健脾燥濕，蒸餅為丸，湯酒任下，並不雜入寒涼，不失溫中之義。</p>
<p>旋覆花湯　紅藍花酒（皆仲景方）</p>
<p>是方仲景治肝著，及半產漏下，孫真人《千金方》亦采之，後世罕用，近時王晉三葉天士改用青蔥管理氣，新絳和血，治脅痛等症，開後人治絡法門，而我鄉不審制方之旨，疑新絳為代紅花，反議用者之好奇，其實紅花與新絳，治分天淵。仲景云：肝著，其人常欲蹈其胸上，未先苦時，但欲飲熱。蓋肝邪必由肺家傳來，肝氣著而不行，欲還之肺，故常欲蹈其胸上。</p>
<p>用旋覆花者，散結氣以安肺也。其人素有積冷，故先欲飲熱，全用蔥之青白，通陽以開積冷也。新絳雖紅藍花染就，而質本繭絲，功能補脾，且內有烏梅黃柏以監制之，則取其和血而非破血。所以婦人寒虛相搏，半產漏下，亦用此方。至若紅花止治血結，仲景另用紅藍花一味，酒煎單服，以治婦人六十二種風，腹中血氣刺痛。高明之士，盍將仲景書細細繹之。</p>
<p>虎杖湯（《本事》方）</p>
<p>許叔微《本事方》載此，治婦人諸淋。香岩葉氏云：今世無識此藥，每以土牛膝代之。</p>
<p>土牛膝一名地嵩，功專消瘀，取其根之鮮者，洗淨搗爛，絞汁大半茶杯，調入麝香乳香各分許，引入至陰之所，隔湯燉熱服之，屢有殊功。不特女科宜用，即男子通淋通瘀，亦要藥也。煎服治產後便閉，及血蠱等症。</p>
<p>生花湯（會稽錢氏方）</p>
<p>產後忌用酸寒，故於四物中去白芍，炮薑去血中之寒，凡外受新邪，及內傷積冷咸宜。</p>
<p>桃仁去皮尖生用則能和血，留皮尖炒用則能破血，且地黃生熟異功，亦可隨症施用。大便難者，加肉蓯蓉。若虛甚則加人參，又當從補氣生血之例矣。</p>
<p>烏　骨丸（《內經》方）</p>
<p>凡病實中有虛，則當於虛處推求。虛中有實，即當於實處推求。內經此方治血枯之病，而轉用破瘀之藥，以虛中有實也。夫女子而至月事衰少，而或不來，時病出清液，四肢清，目眩，唾血，前後血，而又不能食，氣竭肝傷可知矣。名曰血枯，不亦宜乎。據此病形，似當溫補，而其間不得不審察者，因病有新久，胸脅有寬否，不能食有妨礙不妨礙之分。若是暴病，胸脅兼無支滿之苦，投以溫補無疑矣。此則胸脅支滿而妨於食，是厥陰上乘陽明之候，病至則先聞腥臊臭者，腥臊為肝之本氣。病至聞之，不病時則不聞也。原其病因，總是瘀血為患，此非得之一時，良由少年時，有所大脫血，若醉入房中，日積月累而致此疾耳。瘀血不去，則新血不生，故名血枯。不同暴崩暴漏，藥宜溫補者也，治以烏　骨四分，　茹（一分，物並合，有破宿生新之妙。丸以雀卵，溫補助陽，服藥五丸而後飯，使其徐行下焦，復飲以鮑魚汁，取其臭穢之味，以利腸垢而和肝傷也。）</p>
<p>柳陰地黃丸（《本事》方）</p>
<p>生地（二兩），柴胡、黃芩、秦艽（各半兩），赤芍（一兩），皆清肝之品。凡師尼寡婦室女獨陰無陽，欲心萌而不遂，是以陰陽交爭，乍寒乍熱，全類溫瘧，久則為勞，其脈弦出寸口，為陰旺思男之候，宜用此方蜜丸，烏梅湯下，斂而抑之，使陰血得平，則寒熱止矣。</p>
<p>六神散（陳無擇方）　七味白朮散（錢仲陽方）　星附六君子湯小兒血脈筋骨未充，多虛熱，亦多虛寒。世醫於虛熱症，惑於外感風寒，而不知補中以。於虛寒症，狃於稚年陽體，而不知溫中以逐寒。如病解後發熱不除，與初病發熱不同，乃元氣虛而陽浮於外也，當用六神散固氣收陽之法。如泄瀉作渴，肌表發熱，非感冒也，乃津液少而脾胃虛也，宜用白朮散升清降濁之法。如慢驚嘔吐，痰涎上潮，此是純陰用事而不支也，當用星附六君子湯固正祛邪之法。三者皆以四君為主，一加山藥、扁豆，一加木香、藿香、葛根，一加南星、白附子，功堪鼎峙。六神散不合生脈者，治在脾而不關肺也，不合四物者，病在氣而不關血也。六味皆沖和純粹之品，收陽歸內，尤為神效。白朮散以二香佐四君，因脾喜芳香，補脾之功更捷。以葛根甘寒直走陽明，清陽得升而熱自除矣。至若風痰非南星莫效，寒痰非白附不除，而當寇深之日，有四君以坐鎮其間，此為有制之師。</p>
<h2>卷六</h2>
<h3>玉台新案</h3>
<h4>寒證醫案</h4>
<p>發熱惡寒，頭疼身痛之暴證，人易辨之。惟久郁肺經而成喘嗽，有似陰虛勞嗽者，不可不辨。郡城西門外奚藕莊客幕於外，上年道途受熱，曾患喘嗽，服自便而愈，今復患喘嗽，投自便而加劇，醫亦概用清肺補肺，終不見效。自疑為陰虛重證，彷徨無措，遂延予診。余為脈象見緊，似數非數，前患暑熱，故自便可愈。今患寒邪，故反增劇，用小青龍湯而愈。</p>
<p>魏湘舟郡城北門外猛將廟人，瘍醫也，患喘嗽二載，遍試醫人，總不出清肺補肺，自亦疑為陰虛勞證。予囑其常服乾薑、五味子，堅守一月，果得全效。</p>
<p>郡廟道士徐兆奎久患三瘧，堅不服藥，二年方愈。愈後冬月又病傷寒，壯熱頭痛，醫疑冬溫，誤投辛涼之劑，即昏嘿不省人事。醫者以其昏嘿不省，以為熱邪內陷，束身告辭。其師楊承宗求治於予，予診其脈，虛軟無神，似數非數，亦為驚徨，但知其瘧後中氣素虧，復傷於寒，非冬溫也。即投溫中之劑，一劑稍蘇，二劑方醒，三劑乃安。粥飲日漸增加，但膈中似有冷塊，即於溫中劑內加附子三分，始得平復，調理一月而安。</p>
<p>徽人夏履成年六十有餘，素日無疾，忽於三更時候，氣喘痰升，昏昏嘿嘿，不能自言所苦。</p>
<p>余系寓鄰，即來叩門索治。予即往診，見有出氣而無入氣，即投大劑腎氣湯，頃刻氣平而愈。此證若待來朝索治，必致不救。</p>
<h4>發斑醫案</h4>
<p>發斑初用辛涼，繼用鹹寒，人人知之。而陰斑之證，最不可誤。南匯承役許龍之子，身熱發斑，有似火證，醫用犀角等化斑套劑，病勢轉危，不省人事，口中歌唱不休，有時譫語。余診其脈，浮越無倫，按之不實，舌絳而潤，並不燥渴，疑是陰證。細詢病因，其妻言未病時，大叫腳冷，其為陰證無疑。遂用薑附等藥冷服一劑，夜即安睡。但元陽喪敗之余，神疲倦怠者半月，服歸脾湯二十余劑而愈。</p>
<h4>火證醫案</h4>
<p>火證清之，此其常也。而有不得不急下者，最當堅決。得勝渡范某，初病即昏沉，醫用辛散，汗後不解，即驚徨推委。余曰：汗之不解，治須下之。前醫曰：下之利不止奈何？余曰：右關沉實，攻下無虞。用大承氣合涼膈而愈。</p>
<p>南匯本城楊熙宗令郎，病瘧寒熱俱輕，飲食如故，守不服藥之戒。一日自神廟燒香而歸，忽發狂言，似有神靈所作。邀余診視。脈象沉郁，魄汗淋漓，未能審其果為熱厥，不敢驟用寒涼，姑用膽星、竹瀝與服，服下人事頓清。詢其近日所服何物，曰薑棗湯日服兩次。視其舌色，面白底絳，唇若塗朱，知為熱邪無疑，時已三更，余見其病勢稍持，約其明日轉方。天明復來邀診，據述醒時未及三刻，旋又發厥，遂用犀角地黃湯合大承氣，許其大便一行即愈。奈他醫謂下則必死，病家轉多疑慮，時有張二川系楊內戚，力動本家定服余方，煎藥已近下午時候，病者牙關緊閉，強將羊角灌入，服至半劑，大便即解，前恙頓除。</p>
<p>南匯姚裕豐，醫士也。秋月寒熱，雜投藿香正氣、香薷飲之類，醫中來問病者，必定一方，其自己亦不能主持矣。其父沛寰因其病勢危劇，始來邀余。余用急下之劑，前醫交沮，謂此屬不治之證，何用下為。余坐等其家煎服，大下宿垢，繼服滋補半月而愈。</p>
<h4>治脈伏醫案</h4>
<p>前營游擊舒公，初夏病感，寒熱頗輕，但右脅以下掣痛不安，頭痛亦在右邊，大便不實。醫以為類傷寒證，用辛溫表散不效。余按其脈隱伏不彰，舌上灰色，苔濃而濕潤欲滴，初疑濕勝於熱，用吳氏達原飲，繼疑寒熱互結，用進退黃連湯，但有二三分效驗。舒公深信不疑，然必終奏全效，余心始安。沉思良久，頭痛脅痛俱在右邊，此熱氣鬱遏陽明，故脈象不彰，遂揀去溫藥，專用三黃石膏，堅服二十余劑而愈。時前營守備邢公亦患熱病，初起即舌絳神昏，醫皆用蔥豉湯透表，余用涼膈散清中，授方不服，聽其津干液涸五日而亡，官在同營，病在一時，或信或不信，判若恩仇，舒公曰：總難逃一命字。</p>
<p>附錄與姚敬修書令愛之證，肝藏積熱，肺受暴寒，故沖氣上逆，咳嗽發喘。余用仲景麻杏甘膏湯，發散外邪，掃除內熱，失此不治，必延勞怯。因受足下重托，故再四沉思而用此方也。得汗後，用錢仲陽補肺阿膠散，大下宿垢瘀滯後，用喻氏清燥救肺湯。石膏搜剔余邪，人參補氣，阿膠補血，乃虛實兼到之方。寫方時，賢喬梓細問畢竟吉凶何如？予一口擔承，何嘗有片言驚駭。其方其案，尚在尊齋，可覆視也。足下受方不用，先自彷徨，更請某師延醫，誤認虛脫之證，揚言左脈已無，遂令合家大小，涕淚交零，並通知媒氏，通知許字之家，謂此證已被石膏吃壞，今已不治矣。噫！某師久負盛名，何徒恃妄才而不達古訓也。夫脈之郁也，被火逼勒耳，非無也。精究古大家書，則悟此奧義矣。某師言此是怯證。非時邪也，殊不知怯證初起，亦須下去惡物。古方百勞丸，許州陳大夫托名仲景而傳者也，某師亦嘗精究其義乎。人言某師所定之方，與予方相似，不知實判天淵。余以人參、石膏同用，意仍在於清火，某師以人參、五味、陳皮同用，意專在於補虛，不知此證大積雖去，余火尚多，稍帶溫補，尚慮復焰之勢，人參只宜些少，足下過費人參，反致增病。尊居之北，有俞姓女病伏熱，綿延四十余日，人用輕清不效，余用石膏而效。今歲少陰司天，陽明在泉，運氣使然也。某師讀景岳書，不達玉女煎用石膏之旨，其能升其堂而入其室乎。前俞姓女服石膏後，發出暑毒滿身，其母不以為藥之過，而以為藥之功。奇哉婦人有識，乃遠勝於丈夫也。敬修得書之後，其膽始壯，余仍大進寒涼，下利五日而全愈。</p>
<h4>治老人醫案</h4>
<p>老人元虛，病宜扶元，人人知之。竟有陽氣充實，常服大寒之藥，常得帶病延年者。南匯本城謝凰鳴年七十有四，因上年秋間涉訟到郡，舟中冒暑，即發溫瘧。微寒惡熱，胸膈痞悶，余適寓郡城，用清心涼膈散而寒熱止，繼用半夏瀉心湯而痞悶除，旋即結訟回南，不再服藥。延至初冬，喘嗽大作，醫用疏散，愈治愈劇。至新正初十外，日夜不能交睫，痰涎盈盆盈碗，囑其子恩榮等速辦後事，無余望矣。適有徽友汪郁廷在座，謂此證仍請予延醫，必有出奇制勝之處。郡城僅一浦之隔，何不專舟邀歸以一診。凰鳴平日持家甚儉，因欲死裡求生，不得不從汪議，余亦以世好難辭，即束裝東歸。時已正月十六夜，診畢，即知其誤用辛溫，許以尚可挽救，方用大劑白虎，參入大劑犀角地黃，堅服四十余日而全愈。若不細察其脈，而但拘年齒以施治，必至抱怨九泉。至嘉慶二十五年，重游泮水，至道光五年，已八十有四。一日不飲蔗汁梨漿等味，即大便艱澀，辛溫誤人有如此。</p>
<h4>瘧疾醫案</h4>
<p>寒熱往來之瘧，治宜小柴胡湯。不知陰虛之體，用之轉增大患者，郡城姚敬修夏日病瘧，醫投小柴胡十余劑，竟無增減，停藥二日，忽然發厥，舌短眩暈，危在頃刻。居與余寓相近，急來延診，余用大劑清肝之藥，一服而安。知其多服柴胡，肝陰虧乏，厥陽亢逆也。愈後四肢酸麻，用養陰藥調理半年，始得平復。</p>
<p>三陰久瘧，陽虛氣虛，人易知之，不知初因暑熱而起者，久瘧保陰為主。南匯本城沈熙曾堅信余言，服二十余劑而愈。其他服溫補，而致斃者，余親見二人也。</p>
<h4>痢疾醫案</h4>
<p>府廩生高菊裳（名崇瑚弟藥局名崇瑞選拔又中式）令堂，病陽虛久痢，醫頻服溫補延至半載，病反增劇，晝夜三五十次。余診時，但述腰脊空痛異常，遂用斑龍丸峻補奇脈。初服一劑，病勢大減，自後連服數劑，竟無增減，服參些少，略安片刻，而菊裳藥局昆仲，以尊人病怔忡經年，參藥大費，人參豈能常服。余為沉思良久，改用黃　建中加鹿角。時有醫士李蘅堂（秀）在座，謂峻補之法，繼以宣通陽氣，亦是一法。力贊此方為中病，堅服二十余劑而愈。</p>
<p>華庠生王羲令堂秋月病熱，初延李孝廉謹診視，用薄荷、連翹、山梔等，俱用薑汁製服，服後發厥，復延一時醫診視，用白虎湯清火，人事雖清，下痢不止。改用補劑，亦無效驗。王生系瑤峰先生令孫，余本屬世好，來寓力懇專治。余倍費苦思，用仲景桃華湯而愈。</p>
<p>南匯東門李連城病肝氣脹痛，因多服左金，遂至下痢不止，食飲不思，人亦不與之食。</p>
<p>更醫則倏張倏李，用藥則惟術惟苓，僉云不治，已措辦後事矣。不得已而索治於余，予令其早上服大劑歸脾，晚間服大劑六味，並令家人誘其食肉，即有效驗，一月全痊。</p>
<h4>勞倦內傷醫案</h4>
<p>南匯南門張寶華，勞倦之余，又兼食滯，及內傷中之有餘者。脈象狂大，熱渴異常，子系舊戚，平日相信不疑，即用下奪清中之法，但前因葬事太勞，未即痊愈，親友中有疑為失表之證，囑其更請他醫調治。醫謂從未得汗，熱邪內陷之象，用蔥豉等發汗，汗竟不出，反發昏沉。仍懇予治。予惟以清降為事，漸漸神清食進，始終無汗而愈，愈後大便艱澀，惟服大黃。補藥一劑不服，於以知外邪宜汗，內傷禁汗，內傷之虛者，為勞倦傷，宜補中益氣。飲食傷虛中挾實者，宜枳朮丸。內傷之純實者，則宜攻下也，王安道辨之甚詳。</p>
<h4>偏枯醫案</h4>
<p>新場鎮閔欽齋年五十外，形體清瘦，多火少痰，冬月忽患偏枯在左，遂從吳門解館而歸，醫惟以補氣消痰為事，反增咽燥喉痹等證。病家謂本原既竭，故用補劑不效。延予聊問消息，余謂其脈其證，純是一團火氣，須用河間治火之法，方用二地二冬知柏等，甘寒苦寒相間。</p>
<p>投二劑，頓覺神情清爽，病者方意未病前數日，左肩胛猶如火燒，始信治火之說為不謬也，繼服虎潛丸而全愈。</p>
<p>提憲稿房陳掌衡夫人患半身不遂，體實瘦弱，疑是血虛，投溫經養血，全無增減。因思</p>
<p>《內經》云：痛者寒氣多也，病在脈絡，非辛烈猛重之味，不能勝任。服許學士川烏粥而愈。</p>
<h4>痹證醫案</h4>
<p>風、寒、濕三氣合而為痹，祛風、祛寒、祛濕，人人知之。不知有當變通者，泗經戴星杓年近四十，因煙業赴上洋，一夕忽患腿痛，不便行走，寓中適有素明醫理者，謂腎氣素虛，乃欲中之漸，必服大造丸可。戴以客寓起居不便，遂乘肩輿而歸。本鎮及郡中之醫，皆用溫藥，並服大造丸，服下掣痛增至十分，兩手亦痛，陽事痿縮，遂延余診。余謂此屬熱痹，俗名流火是也，舌苔雖白，其實絳底，陽事痿縮，王節齋所云鬱火也。遂用三黃、石膏、犀角地黃等大劑，半月而起於床，更用虎潛大補陰丸等，一月後步履如常矣。</p>
<p>南庠生謝恩榮令堂患熱痹，醫以為血衰氣弱，投以補劑轉劇。余用羚羊角、二冬、玉竹、竹瀝等通絡之劑，投數劑而全愈。</p>
<h4>痿證醫案</h4>
<p>前營千總龔振邦，多欲陰虧，夏月病足膝痿弱。余謂當作暑痿治，清暑益氣加活血之品。授方不服，轉服傷科之藥。一旦昏厥，心痛欲死。仍延余診。脈來虛散，生脈散加和中之品，服一劑果覺少安，渠家信之不篤，遍請他醫通同酌治，改用參地桂附，服之轉增脹滿。又請一醫以和中降氣為治，脹滿雖稍除而元氣愈弱，病者益難支撐，改用參朮一劑，而從前心痛欲死之證復作。不得已，遂聽命於予焉。余謂此屬少陰腎水虧乏，轉服傷科之藥，則氣亦虛矣。</p>
<p>參朮桂附，適以耗陰，橘半枳砂，適以耗氣，俱未中病，故愈治愈劇。壯水之主以制陽光，乃正治也，用六味合生脈等，堅服五十余劑而愈。</p>
<p>南匯營兵朱七官，濕熱成痿，求治於他縣時醫，以峻補剛劑囑其頻服，半月後厥陽上逆，頭眩耳鳴，胸中擾攘不安，格寒於下，兩腳如冰，自分已無生理。友人武生顧鳴鶴與朱鄰近，延予判決死生，余按脈象狂大，謂此證因溫補誤投，非絕證也。遂用芩連知柏豬膽汁等大寒之品，一劑即減，投二十余劑而全愈。</p>
<p>郡城徐華封女病痿，兩足不能相去以寸，脊間皮寬肉軟，有如斗大，醫用雜補氣血之劑不效。予謂飲食如故，病屬下焦，　朮守中，不能達下，四物誠為女科要藥，若欲填實精髓，則又不勝任矣。考《內經》筋痿骨痿，皆屬奇經絡病，乃用生鹿角、龜板、海參、魚膠、羊肉等血肉之味，配入熟地、枸杞、牛膝、歸芍，堅服三十余劑而全痊。</p>
<h4>虛勞醫案</h4>
<p>亭林鎮北陸某，素患勞嗽，時作時止，至是益加氣喘，偏臥不能轉側，脈象細弱，有似氣虛痰飲，醫用補脾理氣，久而不效，遂以本證為辭。予適在鎮中顧宅，延予一判安危。余謂此屬肺腎陰虧，非氣虛也，初用錢氏阿膠散，繼用六味地黃湯而愈。</p>
<h4>腫脹醫案</h4>
<p>府庠生王迪賢令堂，患喘腫，脈浮無汗，渴飲異常，宗仲景風水治例，兼參王節齋先喘後腫之旨，用麻杏甘膏湯而愈。</p>
<p>南匯本城李孝思，單脹數月，諸藥不效，余按脈象沉微，此屬陽微，用塞因塞用法，專服理中加附子而愈。</p>
<p>郡城卜姓女十有三歲，先患痧疹，繼患瘧疾，醫用開泄太過，遂至脹滿，肚腹以下堅硬如石，本家疑為虛證，請一老醫中專用補藥者延醫，豈知竟云痧毒內攻，法在不治。余時初到郡中，遂延余診。余按其脈沉細而微，脾虛景象，顯然如繪，初用錢氏白朮散而堅硬消，繼用陳氏六神湯而脹滿愈。</p>
<p>得勝渡張永椿室，系氣虛之體，秋月患腹脹，服消耗藥太過，數日間腹大如臌。余即用</p>
<p>《濟生》腎氣，立見奇效，後稍有脹意，即投前方而愈。</p>
<h4>香港腳醫案</h4>
<p>郡廩生方鐵華（剛）令尊患香港腳上攻；醫投燥濕理氣通陽之劑，喘腫益加，余謂諸熱之而寒者取諸陽，因立加味腎氣湯，初服不覺其功，而亦不見其燥熱，堅服三十余劑而愈。</p>
<h4>發黃醫案</h4>
<p>吳靜山（敬權）孝廉令正錢夫人，時邪後遂發黃腫，日嗜干茶無度，蘇太諸醫，皆用氣血並補，久而不愈。延余診之。脈兩手俱洪數之甚，詢得腹中攻痛無常，夜則身熱如烙，此由陰液不充，瘀滯干黏所致。宿血不去，則肢體浮腫。新血不生，則肌肉消瘦。一切補脾剛藥，未可施於此證。考仲景治黃，有豬膏發煎潤燥之法，爰仿其義，專用滋潤之品，調養腎肝而愈。</p>
<p>前營游擊溫公（大勇）夏月自浦口來松，途中冒暑，到署後請醫調治，初用清暑利濕不效，改用參朮歸地，轉增脘痛。自後朝暮更醫，僉言誤補留邪，治難有效。遂延余診。余見其身面發黃，總是胃腑結聚不行所致，用連理湯辛開苦降法，授方不服，遂就診於青浦醫家，方用茵陳五苓散等，服之亦不效。遂以絕證為辭，歸至署中，計無復出，始委命以聽余焉。予仍用前法，服參些少，是夜即得安寢，改用理中湯調理半月而愈。後以禮貌之衰，堅辭不往，升金山參將後，重發舊恙，遂成不治之證矣。</p>
<h4>濁證醫案</h4>
<p>濁證濕滯為多，而亦有宜於溫固者。上海徐德音濁下如涕，醫不辨其為精濁，概以利濕之法治之，久不見效。漸至食則易飢，心火上亢，腎水下趨，形消腰折，寒熱頻頻，督脈陽維交病。余謂此系精濁。非便濁也。用鹿角菟絲骨脂等溫補下焦，兼服威喜丸而愈。</p>
<p>提憲稿房陳壽昌病濁，醫者疑其腎陰虧損而致此疾，早投補腎藥，少腹脹痛欲死。余用左金清火，合雄鼠糞湯攻濁而愈。</p>
<h4>頭痛醫案</h4>
<p>嘉定陳嫗年五十有七，病頭痛數年，額上為甚，額屬陽明部分，久痛必虛，須填補陽明，兼鼓舞胃中清陽之氣，用玉屏風散加炙草葛根，二劑全愈。推此而太陽頭頂痛，少陽頭角痛，厥陰頭巔痛，皆可按法而治矣。</p>
<p>高橋鎮曹連珍室，操持家事頗勞，兼多暴怒，孟夏得疾，自天柱至頭巔，忽然強痛，堅重難移，兩耳赤腫，胃中嘈雜，脈象洪數。宗喻氏治吳添官母例而愈。</p>
<h4>腹痛醫案</h4>
<p>楓涇鎮宋元英境享安閑，恣情房幃，患腹痛二年，醫藥不效，遂就診於吳郡極時之醫，以絕證為辭。宋即歸家，料理後事，深信醫言為不謬。余適過楓，晤宋氏西席程永孚，談及醫理，遂為知己。遂同元英來寓就診，細按其脈，細詢其證，總是陰陽悖逆，升降不利使然。問曰：曾服瀉心湯，進退黃連湯否？曰未也。因酌一方以授，投一劑而稍平，數劑而全愈。</p>
<p>前余在嘉定，有鄉人王四九官病膈，向服和中藥，據述投三四劑輒效，逾時復然。就診於予。投進退黃連湯不應，改用丹溪韭汁牛乳飲而愈。因知古人因證立方，不相假也。</p>
<h4>胎前醫案</h4>
<p>胎前宜涼，人人知之。而亦有宜於溫者，胎前宜補血，不宜破血，而亦有轉用破血而得安者，總在臨證時之細心體會也。郡城孫錦章室，懷胎五月，病轉胞不溺，醫用清利水道，並不究及轉胞由於下焦虛寒，由於中焦氣弱，由於肝家血滯，豬苓、澤瀉、車前等藥，徒傷胃氣，故飲食減少，夜不得寐，諸恙漸臻，而胞系之繚戾者如故也。日請穩婆抬起，始得溺出。</p>
<p>究之元氣不支，日甚一日，因而延余延醫。余診其脈，緩大有力，許以可救。遵《金匱》成例，投腎氣湯一劑，是夜稍得安寢，蓋利水之藥，足以瀉腎。投桂附而命門溫暖，故稍得安寢耳。再遵丹溪補氣成例，投參朮湯一劑，飲食漸能知味，惟病者大便不行已數日，腹中至此更覺不安，改用茱連湯一劑，大便得解，小便雖仍穩婆伺候。病者因諸恙悉減，深信不疑，再求良治，余為沉思者久之，脈象比前益見有力，元氣已復而胎氣未舉，必有瘀血阻塞其間，遂用大劑破血之藥，一劑而脹遂消，三劑而胎氣未舉，凡破血之藥，最足礙胎，今破血而胎反固，妙在先用補藥以助其元氣也。</p>
<h4>產後醫案</h4>
<p>產後感冒時邪，宜溫散，不宜涼散，人人知之。而亦有不宜於溫而宜於涼者，誤用溫則不得不用大寒矣。歸鞠氏侄女，冬月初產無恙，至六日頭痛身熱，凜凜畏寒，予用梔豉湯，夜半熱退，逾日復熱，更醫用產後逐瘀成法，遂加煩躁。余謂冬溫為病，清之可安。通評虛實論曰：乳子而病熱，脈懸小者，手足溫則生，仍依時邪治例，用白虎湯而愈。凡產後無產證而染他證者，即當以他證治之，而丹溪大補氣血之言，卻不可拘。仲景云：病解能食，七八日更發熱者，此為胃實，大承氣湯主之。夫陽明經中，仲景尚再三戒人不可輕下，而產後亡血既多，仍云承氣主之，蓋既為胃實自有不得不用之理，舉一證而產後之挾實者可類推也。仲景云：產後下利虛極，白頭翁加甘草阿膠湯主之。夫既曰虛極，仍用白頭翁湯者，下痢中既有渴欲飲水熱而下重之證，則白頭翁湯自有不得不用之理。惟其虛極，故加甘草、阿膠以養其正，舉一證而產後之挾虛者可類推也。</p>
<p>產後惡露不行，胸腹飽脹，溫之通之，人人知之。而亦有不宜於溫而宜於涼，不宜於通而宜於和者。東門鞠上玉室初產患此，其脈數大而疾，上兼鼻衄，余用當歸二兩煎湯，沖熱童便與服，稍稍安穩，但惡露止有點滴耳。更醫用炮薑等溫通套劑，遂至胸腹增脹，惡露點滴不行，有欲依產後春溫治例，大進苦寒之品，余曰：又非穩治。堅用歸地丹芍等涼血和血之劑，十余日，惡露大行而全愈。凡產後病解能食，七八日更發熱者，當作別病治。初產後即發熱者，則仍作產後治。但各有寒熱，兩途不可不條分縷析。</p>
<p>郡城侯姓婦年三下有八，因元霄夜游，行走太勞，歸即小產。醫者皆以其胸腹有塊，用逐瘀成法，每劑必加炮薑，俱未有效。後雖停藥，而骨節如焚，積塊愈大，小便艱澀，熱痛異常。至三月初始延余診，已奄奄一息。診其脈沉伏之極，隱隱難尋，予固知其陰虛陽盛，但日期多延，宜用緩治。初投復脈減去薑桂，神氣稍安，繼投丹溪大補陰丸，諸恙悉減，終投本事虎杖湯，積塊平復，淋痛皆除，不及一月，飲食大增而全愈。</p>
<p>得勝渡衛姓婦初產惡露不行，發熱疼痛，中挾冬溫伏氣，醫用逐瘀溫經套劑，遂至熱邪流注左腿，日夜難安，飲多食少，至冬至朝延予延醫。予變產後宜溫之說，用涼血大劑，加通瘀解毒，四服全愈。</p>
<p>郡城張六老室，產後月余，崩中不止，時當暑月，醫用和中養血，俱不能止，病已三日夜，視為必死。余診其脈，浮大欲脫，連聲索救，神氣尚清，急令煎黃　一兩，當歸一兩，服之頃刻立止。古方當歸補血湯，黃　多於當歸五倍，今加當歸與黃　等分者，時當暑月。恐黃之過亢也。</p>
<h4>血厥醫案</h4>
<p>郡城七星橋翁氏女經前發厥，厥必數日不醒人事，醫用朱、黃、膽星之屬，經年不效。</p>
<p>己卯六月，延予延醫。脈象搏指，余謂此系經血內瘀，久而發厥，非痰迷心竅也。朱、黃、膽星，焉能破瘀生新耶。乃合《內經》烏　骨丸，仲景旋覆花湯，河間金鈴子散為一方，數劑全痊，竟不再發。</p>
