<header data-type="book">
<h1>古今名醫方論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅美</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1675">公元1675年</data></dd></div>
</dl>
</header>
<h2>刻方論小序</h2>
<p>自昔彼美云遐，良遘難再，士生其間，動成慨往，無叩角短　之謠，有戴月歸鋤之興。</p>
<p>是以陸沉之志，思似長沮；麋鹿之情，實甘豐草。微吟午夜，耿懷人至曙星；　夢北窗，享羲皇去而以口五臟醫，痛心紹，始自經論證治日用常行耳前之嚆固然，而</p>
<p><u>時康熙乙卯巧月既望</u></p>
<p><u>新安羅美書於虞山麓之古懷堂</u></p>
<h2>凡例</h2>
<p>一、古之方書，得人乃傳，非人勿言，誠重之也。故扁鵲倉公輩，皆稱禁方，不輕授人。</p>
<p>後人寒心知其故。則見為古方難用，竟營膚淺，以矜捷得，所以瓦釜雷鳴也。茲編本欲以仲景方為首簡，恐人猶重視而畏遠之，姑以日用諸方表表耳目者為先導。諸方義明，而後入仲景之門，亦行遠登高之自爾。</p>
<p>一、漢建安以前，苦於無方；宋元豐以後，《局方》猥賾。蔓延今時，何有根柢，漫無指歸</p>
<p>《外台》諸書，及潔古、東垣、太無、丹溪方之佳者，咸擇而錄焉。仲景有云：學人能尋余所集，思過半矣。</p>
<p>一、有方即有柄，自仲景始也；有方更有論，自成無己始也。明代趙以德有《金匱衍義》，於方頗有論，吳氏鶴皋著《醫方考》。近時醫林復有張景岳、趙養葵、喻嘉言、李士材、程郊倩、張路玉、程扶生諸公，各有發明，余喜得而集之矣。然其間或擇焉而未精，語焉而未詳，亦間有不愜於心者。因與素交諸同人，往來探索古作者之意，時時析疑欣賞。得見一斑，即各與分方補論，因而附列增入，少開後學。本非啖名，實未辭續貂之愧云。</p>
<p>一、病名多端，不可以數計，故仲景分六經而司治之，使百病咸歸六經，是扼要法也。</p>
<p>後人不知六經為雜病辨證設，竟認為傷寒設，由是仲景辨證之權衡廢。夫不知證，便不知方矣。</p>
<p>金》，是後來《局方》之祖。然論雖多，方雖廣，而不得治之要，實千載迷途矣。後此繼起者，莫不貴敘證之繁，治法之備，集方之盛，求勝前人。不知病名愈多，後學愈昏；方治愈繁，用者愈無把柄。一遇盤根錯節，遍試諸方，眇無所措。豈如得仲景法，不於諸病搜索，但於六經講求，一劑而唾手可愈耶。友人韻伯，於仲景書探討有年，所著《傷寒論翼》，多所發明。故是編於傷寒方中，錄其論最多，亦欲學人因之略見仲景一斑耳。</p>
<p>一、吳氏作《醫方考》，其意未嘗不欲以立方本源，開後學之蒙也。究乃拘證論方，譬多疏與方用，方之命名之。</p>
<p>人一、僭評方論，非取文章。故所批閱，必於眼目肯綮，指出所以然，以質證同志。人有共目一、茲選不　本以數年心目，遍搜古今名醫經論，刪纂其要，定為《古今名醫匯粹》八卷，以為</p>
<h2>卷一</h2>
<h3>補中益氣湯</h3>
<p>治陰虛內熱，頭痛，口渴，表熱，自汗，不任風寒，脈洪大，心煩不安，四肢困倦，懶於言黃　人參　云術　炙甘草　陳皮　當歸　升麻　柴胡上八味，加生薑三片，大棗二枚，水煎，溫服。</p>
<p>柯韻伯曰：仲景有建中、理中二法。風木內干中氣，用甘草、飴、棗培土以御風，薑、桂、而生垣知有餘溫之品汗；元三味除且以散諸其本位，品而氣益損其肺者下者不宜木香，趙養葵曰：後天脾土，非得先天之氣不行。此氣因勞而下陷於腎肝，清氣不升，濁氣不降，凡方陸麗京曰：此為清陽下陷者言之，非為下虛而清陽不升者言之也。倘人之兩尺虛微者，或是宜於周慎齋曰：下體痿弱，虛弱者不可用補中，必當以八味丸治之。凡內傷作瀉，藏附子於白朮</p>
<h3>黃建中湯</h3>
<p>治虛勞裡急，悸，衄，腹中痛，夢失精，四肢酸疼，手足煩熱，咽乾口燥，諸不足。</p>
<p>黃　膠飴　白芍　甘草　桂枝　生薑　大棗上七味，水煎服。</p>
<p>喻氏曰：虛勞而至於亡血失精，津液枯槁，難為力矣。《內經》於針藥所莫制者，調以甘藥復其貴立令人令建之熱善為又曰：傷寒有小建中一法，治二三日心悸而煩，以其人中氣餒弱，不能送邪外出，故用飴糖表虛胸中陰也湯，之後惠先</p>
<p>《金</p>
<h3>人參養榮湯</h3>
<p>治脾肺俱虛，發熱惡寒，肢體瘦倦，食少作瀉等症。若氣血虛而變見諸症，勿論其病其脈，人參　白朮　茯苓　甘草　黃　陳皮　當歸　熟地　白芍　五味子　桂心　遠志上十二味，加薑三片，棗二枚，水煎服。</p>
<p>柯韻伯曰：古人治氣虛以四君，治血虛以四物，氣血俱虛者以八珍，更加黃　、肉桂，名十無故加陳治者，之主而溫之品流於四</p>
<h3>歸脾湯</h3>
<p>治思慮傷脾，或健忘，怔忡，驚悸，盜汗，寤而不寐；或心脾作痛，嗜臥，少食，月經不調人參　黃　甘草　白朮　茯苓　木香　龍眼肉　酸棗仁　當歸　遠志薑三片，水煎服。</p>
<p>羅東逸曰：方中龍眼、棗仁、當歸，所以補心也；參、　、朮、苓、草，所以補脾也。</p>
<p>立齋神，意慮見於交。</p>
<p>以必甚，故耳！張路玉曰：補中益氣與歸脾，同出保元，並加歸、朮，而有升舉胃氣，滋補脾陰之不同。</p>
<p>此減食者，以其純陰無陽，不能輸化藥力故耳！</p>
<h3>保元湯</h3>
<p>治氣虛血弱之總方也。小兒驚痘家虛者最宜。</p>
<p>黃　（三錢）　人參（二錢）　甘草（一錢）　肉桂（春夏二三分，秋冬六七分）</p>
<p>上四味，水煎服。</p>
<p>柯韻伯曰：保元者，保守其元氣之謂也。氣一而已，主腎，為先天真元之氣；主胃，為後天外為協肺元治如以氣從平用如宜燥則加苓、朮，宜潤加歸，宜收加芍，當散加芎。又表實去　，裡實去參，中滿忌甘，內熱除桂，斯又當理會矣。（推明加減，其法燦然。）</p>
<p>又云：人知火能克金，而不知氣能勝火；人知金能生水，而不知氣即是水。此義惟東垣知之知氣</p>
<h3>四君子湯</h3>
<p>治面色痿白，言語輕微，四肢無力，脈來虛弱者。若內熱，或飲食難化作酸，乃屬虛火，須人參　白朮　茯苓　甘草（各二錢）</p>
<p>水煎，加薑、棗。</p>
<p>加陳皮，為五味異功散。加陳皮、半夏，為六君子湯。</p>
<p>張路玉曰：氣虛者補之以甘，參、朮、苓、草，甘溫益胃，有健運之功，具沖和之德，故為受蔭子隨何</p>
<h3>香砂六君子湯</h3>
<p>治氣虛腫滿，痰飲結聚，脾胃不和，變生諸症者。</p>
<p>人參（一錢）　白朮（二錢）　茯苓（二錢）　甘草（七分）　陳皮（八分）　半夏（一錢）</p>
<p>砂仁（八分）　木上生薑二錢，水煎服。</p>
<p>柯韻伯曰：經曰：「壯者氣行則愈，怯者著而為病。」蓋人在氣交之中，因氣而生，而生氣總以胃氣為本。食入於陰，長氣於陽，晝夜循環，周於內外。一息不運，便有積聚，或脹滿不食，或生痰留飲，因而肌肉消瘦，喘咳嘔噦，諸症蜂起，而神機化絕矣。四君子氣分之總然利腎者</p>
<h3>四物湯</h3>
<p>治一切血虛、血熱、血燥諸症。</p>
<p>當歸　熟地（各三錢）　川芎（一錢五分）　白芍（二錢，酒炒）</p>
<p>上四味，水煎服。</p>
<p>張路玉曰：四物為陰血受病之專劑，非調補真陰之的方。方書咸謂四物補陰，遂以治陰虛發紛之湯必先調其氣。又云，四物湯不得補氣藥，不能成陽生陰長之功。誠哉言也！然余嘗謂此湯，傷寒火邪解後，余熱留於血分，至夜微熱不除，或合柴胡，或加桂枝，靡不應手輒效，不可沒其功也。</p>
<h3>聖愈湯</h3>
<p>治一切失血，或血虛煩渴燥熱，睡臥不寧，五心煩熱，作渴等症。</p>
<p>四物東加人參、黃　。一方去芍藥。</p>
<p>上水煎服。</p>
<p>柯韻伯曰：經曰：「陰在內，陽之守也；陽在外，陰之使也。」故陽中無陰，謂之孤陽；陰柏，久服便能絕孕，謂其嫌於無陽耳！此方取參、　配四物，以治陰虛、血脫等症。蓋陰陽互為其根，陰虛則陽無所附，所以煩熱燥渴，而陽亦亡；氣血相為表裡，血脫則氣無所歸，所以睡臥不寧，而氣亦脫。然陰虛無驟補之法，計在存陽；血脫有生血之機，必先補氣。此陽生陰長，血隨氣行之理也。故曰陰虛則無氣，無氣則死矣。此方得仲景白虎加人參之義而擴充者乎！前輩治陰虛，用八珍、十全，卒不獲效者，因甘草之甘，不達下焦；白朮之燥，不利脾腎；茯苓滲泄，礙乎生升；肉桂辛熱，動其虛火。此六味，皆醇濃和平而滋潤，服之則氣血疏通，內外調和，合於聖度矣。</p>
<h3>當歸補血湯</h3>
<p>治男婦肌熱，面赤，煩渴引飲，脈來洪大而虛，重按全無。</p>
<p>當歸（二錢）　黃　（一兩）</p>
<p>水煎服。</p>
<p>吳鶴皋曰：血實則身涼，血虛則身熱。或以飢困勞役，虛其陰血，則陽獨治，故諸症生焉。</p>
<p>為不能自生，生於無形之氣故也。《內經》云陽生陰長，是之謂耳！</p>
<h3>酸棗仁湯</h3>
<p>治虛勞虛煩不得眠。</p>
<p>酸棗仁（二升）　甘草（一兩）　知母（二兩）　茯苓（二兩）　川芎（二兩）</p>
<p>上五味，以水八升，煮棗仁得六升，納藥煮取三升，分溫三服。</p>
<p>羅東逸曰：經曰：「肝藏魂」，「人臥則血歸於肝」。又曰：「肝者，罷極之本。」又曰：「陽氣者，煩勞則張，精絕。」故罷極必傷肝，煩勞則精絕，肝傷、精絕則虛勞虛煩不得臥肝血，所謂以極，則而魂自</p>
<h3>養心湯</h3>
<p>治心神不足，夢寐不寧，驚悸，健忘等症。</p>
<p>白芍　當歸　人參　遠志　麥門冬　黃芩　山藥　芡實　蓮須　酸棗仁　茯神　石蓮子上十二味，水煎服。</p>
<p>吳於宣曰：《難經》云：心不足者，調其營衛。營衛者，血脈之所在，而心主之。故養心者相；所以明</p>
<h3>獨參湯</h3>
<p>治元氣虛而不支，脈微欲絕，及婦人血崩，產後血暈。</p>
<p>人參（分量隨人隨症）</p>
<p>須上揀者濃煎頓服，待元氣漸回，隨症加減。</p>
<p>柯韻伯曰：一人而系一世之安危者，必重其權而專任之；則一物而系一人之死生者，當重其華天寶息之間其權如古疑耶加黃以</p>
<h3>炙甘草湯</h3>
<p>治傷寒脈結代，心動悸者。《外台》又治肺痿，咳吐多，心中溫溫液液者。</p>
<p>甘草（四兩，炙）　生地黃（一斤）　麥冬（半斤）　人參（一兩）　桂枝（三兩）　生薑（二兩）　大棗（十上九味，以酒七升，水八升，煮取三升，去滓，入膠溶盡，溫服一升，日三服。一名復脈湯喻嘉言曰：按此湯仲景傷寒門治邪少虛多，脈結代，心動悸之聖方也。一名復脈湯。《千金生似尤柯韻伯曰：仲景於脈弱者，用芍藥以滋陰，桂枝以通血，甚則加人參以生脈，未有地黃、麥麥冬得人之猛不峻</p>
<h3>逍遙散</h3>
<p>治肝家血虛火旺，頭痛，目眩，頰赤，口苦，倦怠，煩渴，抑郁不樂，兩脅作痛，寒熱，小當歸　芍藥（酒炒）　白朮（炒）　茯苓　甘草（炙）　柴胡（各一錢）</p>
<p>加味逍遙散，即此方加丹皮、山梔（炒，各五分。）</p>
<p>趙羽皇曰：五臟苦欲補瀉云：肝苦急，急食甘以緩之。蓋肝性急，善怒，其氣上行則順，下脅此不能九地土升丹皮則達</p>
<h3>二陳湯</h3>
<p>治肥盛之人，濕痰為患，喘嗽，脹滿。</p>
<p>半夏（三錢）　茯苓（三錢）　陳皮（三錢，去白）　甘草（一錢）</p>
<p>上四味，加薑三片，水煎服。</p>
<p>李士材曰：肥人多濕，濕挾熱而生痰，火載氣而逆上。半夏之辛，利二便而去濕；陳皮之辛半或曰有痰而渴，宜去半夏，代以貝母。</p>
<p>吳鶴皋曰：渴而喜飲者易之，不能飲水，雖渴宜半夏也。此濕為本，熱為標，所謂濕極而兼砂二痰之</p>
<h3>生脈散</h3>
<p>治熱傷元氣，氣短，倦怠，口乾，出汗。</p>
<p>人參　麥門冬　五味子水煎服。</p>
<p>柯韻伯曰：肺為嬌臟而朝百脈，主一身元氣者也。形寒飲冷則傷肺，故傷寒有脈結代與脈微故雖前，則司；人而合仲景治傷寒，有通脈、復脈二法。少陰病裡寒外熱，下利清穀，脈微欲絕者，制通脈四逆湯寒，外無大棗資始待於</p>
<h3>理中湯</h3>
<p>治中氣不運，腹中不實，口失滋味，病久不食，臟腑不調，與傷寒直中太陰，自利不渴，寒人參　白朮　乾薑（炮）　甘草（炙，各一錢五分）</p>
<p>水煎服。加附子，即名附子理中湯。</p>
<p>程郊倩曰：陽之動，始於溫，溫氣得而穀精運，穀氣升而中氣贍，故名曰理中。實以燮理之功，予中焦之陽也。若胃陽虛，即中氣失宰，膻中無發宣之用，六腑無洒陳之功，猶如釜薪干五臟六腑皆以受氣矣。此理中之旨也。若水寒互勝，即當脾腎雙溫，附子之加而命門益，土母溫矣。</p>
<h3>《三因》附、朮附、參附三湯</h3>
<p>治陽虛自汗，寒濕沉痼，陽虛陰盛。</p>
<p>黃　（一兩）　附子（五錢）　名　附湯。</p>
<p>白朮（一兩）　附子（五錢）　名朮附湯。</p>
<p>人參（一兩）　附子（五錢）　名參附湯。</p>
<p>水煎，分三服。</p>
<p>喻嘉言曰：衛外之陽不固而自汗，則用　附；脾中之陽遏鬱而自汗，則用術附；腎中之陽浮虛風足貴陰盛以治急中</p>
<h3>清暑益氣湯</h3>
<p>長夏濕熱蒸炎，四肢困倦，精神減少，身熱，氣高，煩心，便黃，渴而自汗，脈虛者，此方人參　黃　甘草　白朮　蒼朮（一錢五分）　神麯　青皮　升麻　干葛　麥冬　五味當歸　黃柏　澤瀉吳鶴皋曰：暑令行於夏，至長夏則兼濕令矣。此方兼而治之。炎暑則表氣易泄，兼濕則中氣麥津液亡則口渴，故以當歸、干葛生其胃液；清氣不升，升麻可升；濁氣不降，二皮可理；蒼朮之用，為兼長夏濕也。</p>
<p>程郊倩曰：人知清暑，我兼益氣，以暑傷氣也。益氣不獨金能敵火，凡氣之上騰，而為津為</p>
<h4>附暑門諸方論</h4>
<p>喻嘉言曰：元豐朝立和劑局，萃集醫家經驗之方，於中暑一門獨詳。以夏月暑證，五方歷試名黃浸則為則間，生津液以益胃之虛。子和之桂苓甘露飲，用人參、甘草、葛根去濁；或用十味香薷飲，於《局方》五味中，增人參、黃　、濕熱。乃至東垣之清暑益氣湯、人參黃　湯，又補中實衛以去中暑與否，所宜頻服者也。中暑必顯躁煩熱悶，東垣仿仲景竹仍以去濕為首務。夫燥與濕，相反者也，而清燥亦務除濕，非又如益元散之去濕，而加辰砂則並去其熱；五苓散之去濕，而去熱；風一症愚見從入血分解深入火散，</p>
<h3>竹葉黃湯</h3>
<p>治消渴，氣血虛，胃火盛而作渴。</p>
<p>淡竹葉　生地黃（各二錢）　黃　麥冬　當歸　川芎　黃芩　甘草　芍藥　人參　半夏石膏（各一錢）</p>
<p>上水煎服。</p>
<p>柯韻伯曰：氣血皆虛，胃火獨盛，善治者補瀉兼施，寒之而不致亡陽，溫之而不至於助火，只用瀉心胃火路也陽之</p>
<h3>清燥救肺湯</h3>
<p>（喻氏制。論一條）</p>
<p>主治諸氣憤郁，諸痿喘嘔。</p>
<p>桑葉（經霜者，三錢）　石膏（二錢五分，　）　甘草（一錢）　人參（七分）　胡麻仁（一錢，炒研）</p>
<p>（去毛蜜炙，用一片）上九味，以水一碗，煎六分，頻頻二三次滾熱服。痰多加貝母、栝蔞。血枯加生地。熱甚加喻嘉言曰：按諸氣憤郁之屬於肺者，屬於肺之燥也。而古今治氣鬱之方，用辛香行氣，絕無以肺大約以胃為主，胃土為肺金之母也。其天冬、知母能清金滋水，以苦寒而不用，至如苦寒降火其人尚有生理乎？誠仿此增損以救肺燥變生諸症，庶克有濟耳。</p>
<p>柯韻伯曰：古方用香燥之品以治氣鬱，不獲奏效者，以火就燥也。惟繆仲淳知之，故用甘涼無子病則母虛，用甘草調補中宮生氣之源，而金有所恃；金燥則水無以食氣而相生，母令子虛矣，取阿膠、胡麻黑色通腎者，滋其陰以上通生水之源，而金始不孤；西方虛，則東實矣，木實金平之，二葉稟東方之色，入通於肝，枇杷葉外應毫毛，固肝家之肺藥，而經霜之桑葉，非肺家之肝藥乎？損其肺者益其氣，人參之甘以補氣；氣有餘便是火，故佐杏仁之苦以降氣，氣降火亦降，而治節有權，氣行則不郁，諸痿喘嘔自除矣。要知諸氣憤郁，則肺氣必大虛。若泥於肺熱傷肺之說，而不用人參，必郁不開而火愈熾，皮聚毛落，喘而不休。此名之救肺，涼而能補之謂也。若謂實火可瀉，而久服芩、連，反從火化，亡可立待耳！愚所以服膺此方而深贊之。</p>
<h3>當歸六黃湯</h3>
<p>治陰虛有火，令人盜汗者。</p>
<p>當歸　生地　熟地　黃　黃芩　黃連　黃柏水煎服。</p>
<p>季楚重曰：汗本心之液，其出入關乎肝、肺。營分開合，肝司之；衛分開合，肺司之。</p>
<p>顧營外，不生六黃之動也；陰虛用芩</p>
<h3>苓桂朮甘湯</h3>
<p>（《金匱》）</p>
<p>治心下有痰飲，胸脅支滿，目眩。又曰：短氣有微飲，當從小便去之，苓桂朮甘湯主之，腎茯苓（四兩）　桂枝（三兩）　白朮（三兩）　甘草（三兩）</p>
<p>上四味，以水六升，煮取三升，分溫三服，小便則利。</p>
<p>趙以德曰：《靈樞》謂心胞絡之脈動，則病胸脅支滿者，謂痰飲積於心胞，其病則必若是。</p>
<p>以為除脹益土夫用腎氣通則關門自利矣。（呼吸二義，發明極精。）</p>
<h2>卷二</h2>
<h3>小半夏湯三方</h3>
<h4>小半夏湯</h4>
<p>嘔家本渴，渴為欲解，今反不渴，心下有支飲故也。</p>
<p>半夏（一升）　生薑（半斤）</p>
<p>以水七升，煮取一升半，分溫再服。</p>
<h4>小半夏加茯苓湯</h4>
<p>治卒嘔吐，心下痞悶，間有水眩悸者。</p>
<p>半夏（一升）　生薑（半斤）　茯苓（三兩）</p>
<p>煎服如前。</p>
<h4>外台茯苓飲</h4>
<p>治心胸中有痰飲宿水，自吐出水，復心胸間虛氣滿不能食，消痰氣，令能食。</p>
<p>茯苓　人參　白朮（各三兩）　枳實（二兩）　橘皮（二兩半）　生薑（四兩）</p>
<p>上六味，水六升，煮取一升八合，分三服，如人行八九裡，再進之。</p>
<p>趙以德曰：嘔為痰飲動中，涌而出之。嘔盡本當渴，渴則可征支飲之全去。今反不渴，是其半伐腎邪安心神也。後方加人參、枳實、橘皮，此由上、中二焦氣弱，水飲入胃，脾不能輸歸於肺，肺不能通調水道，以致停積為痰，為宿水，吐之則下氣因當補益中氣，以人參、白朮為君；茯苓逐宿水，枳實調諸氣為凝滯，則陳皮、生薑為使也。凡積飲既去，而虛氣塞滿其中，</p>
<h3>瀉白散</h3>
<p>治肺氣熱盛，咳嗽而喘，面腫，身熱。</p>
<p>桑白皮　地骨皮　甘草水煎服。</p>
<p>季楚重曰：經云：肺苦氣上逆。上逆則上焦鬱熱，氣鬱生涎，火鬱生熱，因而治節不行，壅白滋腎子以清母；甘草益土和中，且生能瀉火，補土母以食子，瀉補交致，金元自正，於以佐桑皮而行諸氣之憤郁，鮮不達矣，較之黃芩、知母苦寒傷胃者遠也。夫火熱傷氣，救肺之治有三：傷寒邪熱侮肺，用白虎湯除煩，此治其標；內症虛火爍陰，用生脈散益陰，此治其本；若夫正氣不傷，鬱火又甚，則瀉白散之清肺調中，標本兼治，又補二方之不及也。</p>
<h3>地骨皮飲</h3>
<p>治陰虛火旺，骨蒸發熱，日靜夜劇者；婦人熱入血室，胎前發熱者。</p>
<p>四物東加地骨皮　牡丹皮（各三錢）</p>
<p>水煎服。</p>
<p>柯韻伯曰：陰虛者，陽必湊之，故熱。仲景曰：陰弱則發熱。陽氣下陷入陰中，必發熱。</p>
<p>然入涼補補其與四其性</p>
<h3>升陽益胃湯</h3>
<p>治脾胃虛，怠惰嗜臥，四肢不收，時值濕熱，體重節痛，口乾舌燥，飲食無味，大便不調，羌活　獨活　防風　柴胡　人參　白朮　茯苓　甘草　黃　白芍　半夏　黃連　澤瀉陳皮水煎服。</p>
<p>吳鶴皋曰：脾土虛弱，不能制濕，故體重節痛；不能運化精微，故口乾無味；中氣既弱，傳方陳古</p>
<h3>清脾飲</h3>
<p>治痰積成瘧。</p>
<p>青皮　厚朴　草果　半夏　柴胡　白朮　甘草　茯苓　黃芩水煎服。</p>
<p>柯韻伯曰：瘧為少陽病，治分六經。邪留於募原，有遠近之殊，其發有虛實先後之異。</p>
<p>而此成瘧凡之實本也法</p>
<h3>溫膽湯</h3>
<p>治熱嘔吐苦，虛煩，驚悸，不眠，痰氣上逆。</p>
<p>竹茹　枳實　半夏　甘草　陳皮　生薑　茯苓上七味，水煎服。</p>
<p>羅東逸曰：膽為中正之官，清淨之腑，喜寧謐，惡煩擾，喜柔和，不喜壅鬱。蓋東方木德，氣，謐也竹茹以家與</p>
<h3>導赤散</h3>
<p>治心熱，小便黃赤，莖中痛，熱急不通。</p>
<p>生地黃　木通　甘草梢上三味，水煎服。</p>
<p>季楚重曰：經云：兩精相搏謂之神。是神也者，待心中之真液，腎中之真氣以養者也，故心邪火直盜即清之</p>
<h3>芍藥湯</h3>
<p>治滯下赤白，便膿血，後重諸證。</p>
<p>芍藥（二兩）　當歸　黃連（各五錢）　檳榔　木香　甘草（各二錢）　桂（一錢半）　黃芩（五錢）</p>
<p>每服半兩，水煎服。痢不減，加大黃。</p>
<p>羅東逸曰：本方注云，溲而便膿血，知氣行而血止也，行血則便膿自愈，調氣則後重自除，暑濕收令赤為即於氣逆恐芩以蕩</p>
<h3>犀角地黃湯</h3>
<p>主治吐衄便血，婦人血崩，赤淋。</p>
<p>生犀角　生地黃　白芍藥　牡丹皮上四味，先用三物水煎去滓，入生犀汁，熱服。</p>
<p>柯韻伯曰：氣為陽，血為陰。陽密乃固，陽盛則傷陰矣；陰平陽秘，陰虛者陽必湊之矣。</p>
<p>故便生地酸鹹甘寒之味，以清君火；肝為藏血之室，肝火旺則血不守，故用丹皮、芍藥辛酸微寒之品，以平相火。此方雖曰清火，而實滋陰之劑。蓋血失則陰虛，陰虛則無氣，故陰不足者，當補之以味，勿得反傷其氣也。若用芩、連、膽草、梔、柏以瀉其氣，則陽之劇者，苦從火化，陽已衰者，氣從苦發，燎原而飛越矣。（此義不可不知。）</p>
<h3>人參清肺湯</h3>
<p>（《準繩》。三方合論）</p>
<p>治肺胃虛寒，咳嗽喘急，坐臥不安。並治久年勞嗽，吐血腥臭。</p>
<p>人參　阿膠　骨皮　知母　烏梅　粟殼　炙草　杏仁　桑皮（等分）　棗子水煎服。</p>
<h4>人參定喘湯</h4>
<p>（《準繩》）</p>
<p>治肺氣上逆喘嗽，喉中有聲，胸膈緊痛，及感寒邪，咳嗽聲重。</p>
<p>人參　麻黃　阿膠　五味　粟殼　甘草　半夏曲（各一錢）　桑皮（二錢）　生薑（三片）</p>
<p>水煎服。</p>
<h4>人參瀉肺湯（《金匱》）</h4>
<p>治肺經積熱上喘，胸膈脹滿，痰多，大便澀。</p>
<p>人參　黃芩　梔子　枳殼　薄荷　甘草　連翹　杏仁　桑皮　大黃　桔梗水煎服。</p>
<p>王又原曰：經曰：邪之所湊，其氣必虛。又肺為嬌臟。其不堪破耗也明矣。自肺熱傷肺之皆司之余知母、阿膠滋之，或烏梅、五味、罌粟殼斂之，或半夏曲、生薑降之，或杏仁、桑皮、枳殼、桔梗利之，或梔子、黃芩、連翹涼之，或麻黃、薄荷發之，大黃下之，總恃人參之大力握樞而運，已入之邪易出，而將來之邪無從入也。肺邪得諸藥以俱出，而肺氣不隨諸藥以俱出也。然則人參亦何嘗傷肺，乃畏而不敢用耶？</p>
<h3>溫脾湯</h3>
<p>（《本事方》）</p>
<p>主治錮冷在腸胃間，泄瀉腹痛，宜先取去，然後調治，不可畏虛以養病也。</p>
<p>厚朴　乾薑　甘草　桂心　附子（各二兩）　大黃（四錢）</p>
<p>上　咀，取一兩，水二鐘，煎六分，頓服。</p>
<p>喻嘉言曰：許叔微制此方，深合仲景以溫藥下之之法。其大黃只用四錢，更為有見。夫痼冷於仲黃、芍藥者，宜減之，以其人胃氣弱，易動故也。即是觀之，腸胃痼冷之泄瀉，而可恣用大黃耶？不用則溫藥必不能下，而久留之邪非攻不去；多用則溫藥恐不能制，而洞下之勢或至轉增。裁酌用之，真足法矣。（方妙矣，議更妙。）</p>
<h3>秦艽升麻湯</h3>
<p>治風寒客胃，口眼　斜，惡見風寒，四肢拘急，脈浮而緊。</p>
<p>升麻　葛根　秦艽（上）　白芷（上）　防風（上）　甘草　芍藥　人參　桂枝　蔥白上十味，水煎服。</p>
<p>李士材曰：至哉坤元，為五臟之主。木勝風淫，則倉廩之官承制，脾主四肢，故痿痹也。</p>
<p>口桂枝固其衛氣，芍藥、秦艽和其營血，防風卑賤之卒，隨令而行，蔥根發汗之需，無微不達，又藉甘草以和之，而邪有不散者乎？</p>
<h3>二黃湯</h3>
<p>治上焦火盛，頭面大腫，目赤腫痛，心胸咽喉口舌耳鼻熱盛，及生瘡毒者。</p>
<p>黃芩　黃連　甘草（各等分）</p>
<p>水煎，食後服。</p>
<p>柯韻伯曰：諸腫痞痛，皆屬心火，必用芩、連以瀉心。然傷寒熱結於內，而心下痞者，是為此熱漬之清而火芩、連</p>
<h3>四磨湯</h3>
<p>（《濟生》）</p>
<p>治七情感傷，上氣喘急，煩悶不食。</p>
<p>人參　檳榔　沉香　天台烏藥上四味，各濃磨水取七分，煎三五沸，放溫，空心服，或下養正丹尤妙。</p>
<p>王又原曰：經云：聖人嗇氣，如持至寶；庸人役物，而反傷太和。此七情隨所感，皆能為病宜瀉陰，必盛從而氣急</p>
<h3>升麻葛根湯</h3>
<p>治陽明表熱下利，兼治痘疹初發。</p>
<p>升麻　葛根　芍藥　甘草（炙）</p>
<p>上四味，水煎服。</p>
<p>柯韻伯曰：此為陽明初病，解表和裡之劑，可用以散表熱，亦可用以治裡虛，一方而兩擅其起，是陽葛汗承下法根甘草緩急和裡，則下利自止可知。治裡仍用表藥者，以表實下利，而非裡實故也。痘疹自裡達表，出於少陰而發於太陽，初起則內外皆熱，故亦宜於涼散耳。</p>
<h3>防風通聖散</h3>
<p>風熱壅盛，表裡三焦皆實者，此方主之。</p>
<p>防風　川芎　當歸　芍藥　大黃　薄荷　麻黃　連翹　芒硝（各半兩）　黃芩　石膏　桔梗（各一兩）　滑石每服三錢。</p>
<p>吳鶴皋曰：防風、麻黃，解表藥也，風熱之在皮膚者，得之由汗而泄；荊芥、薄荷，清上藥由後石歸、芍和肝血；而甘草、白朮，所以和胃氣而健脾。劉守真氏長於治火，此方之旨，詳且悉哉。亦治失下發斑，三焦火實。全方除硝、黃，名曰雙解散。解表有防風、麻黃、薄荷、荊芥、川芎；解裡用石膏、滑石、黃芩、梔子、連翹；復有當歸、芍藥以和血，桔梗、白朮、甘草以調氣。營衛皆和，表裡俱暢，故曰雙解。本方名曰通聖，極言其用之妙耳。</p>
<h3>藿香正氣散</h3>
<p>治外受四時不正之氣，內停飲食，頭痛寒熱，或霍亂吐泄，或作瘧疾。</p>
<p>藿香　桔梗　紫蘇　白芷　厚朴　大腹皮　半夏　茯苓　陳皮　甘草上十味，加薑、棗，水煎，熱服。</p>
<p>吳鶴皋曰：四時不正之氣，由鼻而入，不在表而在裡，故不用大汗以解表，但用芬香利氣之甘平之人出遠之芬</p>
<h3>防風黃湯</h3>
<p>治中風不能言，脈沉而弱者。</p>
<p>防風　黃　（等分）</p>
<p>水煎服。</p>
<p>柯韻伯曰：夫風者，百病之長也。邪風之至，急如風雨。善治者治皮毛，故用防風以驅逐表相居修惟補</p>
<h3>稀涎千緡湯</h3>
<p>治風痰不下，喉中聲如牽鋸，或中濕腫滿。</p>
<p>半夏（大者，十四枚）　豬牙皂角（一挺，炙）　甘草（一錢）　白礬（二錢）</p>
<p>上四味研末，用生薑自然汁少許，沖溫水一盞，調末一錢，灌之，得吐痰涎，即醒。</p>
<p>柯韻伯曰：攻邪有汗、吐、下三法。仲景於吐劑立梔豉、瓜蒂二方，所以導熱邪之外出，逐氣也之進吐</p>
<h3>麥門冬湯</h3>
<p>（《金匱》）</p>
<p>火逆上氣，咽喉不利，止逆下氣者主之。</p>
<p>麥門冬（七升）　半夏（一升）　人參（三兩）　甘草（二兩）　粳米（三合）　大棗（十二枚）</p>
<p>上六味，以水一二斗，煮取六升，溫服一升，日三夜一服。</p>
<p>喻嘉言曰：此方治胃中津液干枯，虛火上炎，治本之良法也。夫用降火之藥而火反升，用寒凡肺病，有胃氣則生，無胃氣則死。胃氣者，肺之母氣也。本草有知母之名者，謂肺藉其清涼，知清涼為肺之母也。有貝母之名者，謂肺藉其豁痰，豁痰為肺之母也。然屢施於火逆上氣，咽喉不利之症，而屢不應，名不稱矣。孰知仲景妙法，於麥冬、人參、甘草、大棗、粳米，大補中氣以生津液，津液隊中，又增入半夏辛溫之味，以開胃行津而助潤肺，豈特用其利咽下氣哉？顧其利咽下氣，非半夏之功，實善用半夏</p>
<h3>九味羌活湯、活人敗毒散</h3>
<p>（合論）</p>
<h4>九味羌活湯</h4>
<p>九味羌活湯（一名沖和湯）　四時發散之通劑（合論一條）</p>
<p>羌活　防風　川芎　白芷　細辛　蒼朮　黃芩　甘草　生地加生薑三片，蔥白三莖，水煎服。</p>
<h4>活人敗毒散</h4>
<p>羌活　獨活　前胡　柴胡　川芎　枳殼　白茯苓　桔梗　人參（各一兩）　甘草（五錢）</p>
<p>上為細末，每服二錢，水一盞，入生薑三片，煎七分，溫服，或沸湯點服。</p>
<p>治傷寒，溫疫，風濕，風眩，拘蜷，風痰，頭疼，目眩，四肢痛，憎寒壯熱，項強，睛疼。</p>
<p>趙羽皇曰：東南地土卑濕，凡患感冒，輒以傷寒二字混稱。不知傷者正氣傷於中，寒者寒邪深藏元氣不陽，其罔顧溫，至亡法。</p>
<p>胡天錫曰：非其時而有其氣，惟氣血兩虛之人受之。寒客營而風客衛，不可用竣劑，故稍從而入毒散連肺之，</p>
<h3>神術湯</h3>
<p>主治三時外感寒邪，內傷生冷而發熱及脾泄腸風。</p>
<p>白朮（三錢）　防風（二錢）　甘草（一錢）</p>
<p>上三味，無汗用蒼朮，加蔥白、生薑；有汗用白朮、生薑。</p>
<p>柯韻伯曰：此王海藏得意之方，仿仲景麻、桂二方之義，而制為輕劑也。然此是太陰之劑，</p>
<p>《內溫者為穩火往用方</p>
<h3>三生飲</h3>
<p>治卒中昏不知人，口眼　斜，半身不遂，並痰厥、氣厥。</p>
<p>南星（一兩，生用）　川烏（去皮生用，五錢）　附子（去皮生用，五錢）　木香（二錢）</p>
<p>上每服五錢，薑、水煎。加人參一兩。</p>
<p>柯韻伯曰：風為陽邪。風中無寒，不甚傷人；惟風中挾寒，害始劇矣。寒輕而在表者，宜發制，虛，齋先生真此謹熟陰五錢，必焉能挽本方去烏、附，即星香散，治痰厥、氣厥足矣。</p>
<h3>仙方活命飲</h3>
<p>（附薛立齋治瘍通方）</p>
<p>治一切瘡瘍，未成膿者內消，已成膿者即潰。又止痛、消毒之聖藥也。</p>
<p>穿山甲　白芷　防風　皂角刺　乳香　沒藥　當歸尾　赤芍　花粉　貝母　陳皮　甘草金銀花上十三味，用酒一碗，煎數沸服。</p>
<p>羅東逸曰：此瘍門開手攻毒之第一方也。經云：營氣不從，逆於肉理。故癰疽之發，未有不佐之以而疏其母、花粉、金銀花、甘草，一以豁痰解鬱，一以散毒和血，其為潰堅止痛衛尚強，中氣不虧者設，若脾胃素弱，營衛不調，則有托裡消毒散之法，之立齋先生所論，此千古不易之治也。因謹附先生治瘍用方之法於後，使薛立齋曰：治瘍之法，若腫高　痛者，先用仙方活命飲解之，後用托裡消毒散；漫腫微痛者陽寒虛益理怯豈有不宜補者哉？或疑參、　滿中，間有用者，又加發散敗毒，所補不償所損，又或以有疾不服補劑，因而致誤，傷哉！</p>
<h4>附托裡消毒散</h4>
<p>人參　黃　白朮　茯苓　當歸　川芎　芍藥　金銀花　白芷　甘草　連翹水煎服。</p>
<p>參、　、朮、苓、草以益氣分；歸、芎、芍以滋血分；銀花、白芷、連翹以解毒。</p>
<p>托裡散，即前方加熟地，去芎、甘、銀花、白芷、連翹。</p>
<h3>麻黃加朮、桂枝加附湯</h3>
<h4>麻黃加朮湯</h4>
<p>治濕家自煩疼。</p>
<p>麻黃（三兩）　桂枝（二兩）　甘草（二兩，炙）　杏仁（七十個）　白朮（四兩，炒）</p>
<p>上五味，以水九升，煮麻黃減二升，去沫，納諸藥，煮取二升半，去滓，溫服八合，復取微程扶生曰：此湯為濕家表散法也。身疼為濕，身煩為熱，加白朮於麻黃湯中，一以助其去濕</p>
<h4>桂枝加附湯</h4>
<p>主治傷寒八九日，風濕相搏，身體煩疼，不能轉側，不嘔不渴，脈浮虛而澀者。</p>
<p>桂枝（四兩）　附子（三枚，炮）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上五味，以六升水，煮取二升，去渣，分溫三服。</p>
<p>程扶生曰：濕與風相搏，流入關節，身疼極重，而無頭痛、嘔、渴等症。脈浮虛者風也，澀行</p>
<h3>木防己湯四方（合論）</h3>
<h4>木防己湯</h4>
<p>木防己（三兩）　石膏（用雞子大十二枚）　桂枝（二兩）　人參（四兩）</p>
<p>上四味，以水六升，煮取二升，分溫再服。</p>
<h4>木防去石膏加茯苓芒硝湯</h4>
<p>木防己　桂枝（各二兩）　人參（四兩）　芒硝（三兩）　茯苓（四兩）</p>
<p>上五味，以水六升，煮取三升，去滓，後納芒硝，再微煎，分溫再服，微利則愈。</p>
<h4>葶藶大棗瀉肺湯</h4>
<p>本方治肺癰　，喘不得臥，並治支飲不得息。</p>
<p>葶藶（熬令黃色，搗如彈子大）　大棗（十二枚）</p>
<p>上二味，以水三升，煮棗取二升，去滓，納葶藶，煮取一升，頓服。</p>
<h4>防己椒目葶藶大黃丸</h4>
<p>治腹滿，口舌乾燥。此腸門有水氣。</p>
<p>防己　椒目　葶藶（熬）　大黃（各一兩）</p>
<p>上為末，蜜丸如桐子大。先食飲服一丸，日三服。稍增，口中有津液，渴者加芒硝半兩。</p>
<p>喻嘉言曰：四方皆治支飲上入膈中，而有淺深次第之分。首二方先治其肺，中一方專治其肺心實為部留補心肺不足；桂枝辛熱，通血脈，開結氣，宣導諸藥。在氣分，服之即愈；若飲在血分，深連下焦，必愈而復發，故去石膏氣分之藥，加芒硝入陰分，開痰結，消血癖，合之茯苓去心下堅，且伐腎邪也。葶藶大棗湯大瀉其肺氣，亦以氣停，故液聚耳！防己椒目葶藶大黃丸，治腹滿，口舌乾燥，腸間有水氣之症，乃肺氣憤郁於上，以致水飲不行於下，而燥熱之甚。用此丸急通水道，以救金氣之憤郁，不治上而治其下，故用丸劑也。</p>
<p>羅東逸曰：此三方，《金匱衍義》趙以德注之已詳，而喻嘉言合而注之，青出於藍，故棄趙</p>
<h3>大黃附子湯</h3>
<p>主治脅下偏痛，發熱，其脈緊弦，此寒也，以溫藥下之。</p>
<p>大黃（二兩）　附子（二枚，炮）　細辛（二兩）</p>
<p>上三味，以水五升，煮取二升，分溫三服。若強人取二升半，分三服。服後如人行四五裡喻嘉言曰：仲景治傷寒熱邪痞聚心下，而挾陽虛陰盛之症，用附子瀉心湯之法矣。其雜症脅後世者，詎知張路玉曰：三承氣湯，為寒下之柔劑；白散、備急丸，為熱下之剛劑；附子瀉心湯、大黃附之熱結，芩、脅下</p>
<h3>續命湯</h3>
<p>（《金匱》）</p>
<p>治中風痱，身體不能自收持，口不能言，冒昧不知痛處，或拘急不得轉側。</p>
<p>麻黃　桂枝　石膏　乾薑　杏仁（四十枚）　川芎　當歸　人參　甘草（各三兩）</p>
<p>上九味，以水一斗，煮取四升，溫服一升。當小汗，薄覆脊，憑幾坐，汗出則愈，不汗更服趙以德曰：痱病者，營衛氣血不養於內外，故身體不用，機關不利，精神不治。然是症有虛實者其營風痹（</p>
<h3>栝蔞桂枝湯</h3>
<p>治太陽症備，身體強KT　KT　，然脈反沉遲，此為痙。此湯主之。</p>
<p>栝蔞根（二兩）　桂枝（三兩）　芍藥（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上六味，以水九升，煮取三升，分溫三服，取微汗。汗不出，食頃，須啜熱粥發之。</p>
<p>喻嘉言曰：傷寒方中，治項背KT　KT　，用桂枝加葛根湯矣。彼之汗出惡風，其邪在表，而此之太陽症，罔不具備，其邪之亦在於表可知也。但以脈之沉遲，知其在表之邪，為內濕所持而不解，即系濕熱二邪交合，不當從風寒之表法起見，故不用葛根之發汗解肌，改用栝蔞之味苦入陰，擅生津徹熱之長者為君，合之桂枝和營衛養筋脈，而治其痙，乃變表法為和法也。</p>
<h3>越婢加半夏、小青龍加石膏湯</h3>
<h4>越婢加半夏湯</h4>
<p>治咳而上氣，此為肺張，其人喘，目如脫狀，脈浮大者。</p>
<p>麻黃（六兩）　石膏（半斤）　生薑（三兩）　大棗（十五枚）　甘草（二兩）　半夏（半斤）</p>
<p>上六味，以水六升，先煮麻黃去沫，納藥，取三升，分溫三服。</p>
<h4>小青龍加石膏湯</h4>
<p>治肺脹咳而上氣，煩躁而喘，脈浮者，心下有水。</p>
<p>麻黃　桂枝　細辛　芍藥　甘草（各三兩）　五味子（半斤）　乾薑（三兩）　半夏（半斤）　石膏（三兩）</p>
<p>上九味，以水一斗，煮麻黃去沫，納諸藥，取三升，強人服一升，羸者減之，日三服，小兒喻嘉言曰：前一方，麻黃湯中以杏仁易石膏，而加薑、棗，則發散之力微而且緩；後一方中過汗半夏中，裁後學</p>
<h3>桂枝湯</h3>
<p>治風寒在表，脈浮弱，自汗出，頭痛發熱，惡風惡寒，鼻鳴乾嘔等症。雜症自汗、盜汗、虛桂枝　芍藥　生薑（各三兩）　甘草（炙，二兩）　大棗（十二枚）</p>
<p>上五味，以水七升，煮取三升，服一升，覆令微汗，不可令如水流漓，病必不除。若服一升柯韻伯曰：此方為仲景群方之冠，乃滋陰和陽、解肌發汗、調和營衛之第一方也。凡中風、具矣故麻義盡得用與心能到桂安助要知此方專治表虛，能解肌以發營中之汗，而不能開皮毛之竅，以出衛分之邪，故汗不出者是麻黃症，脈浮緊者是麻黃脈，即不得與桂枝湯矣。（此明不用桂枝之故。）然初起無汗，當用麻黃發汗，如汗解後復煩，即脈浮數者，不得更與麻黃而用桂枝。如下後脈仍浮，氣上衝與下利止，而身痛不休者，皆用此解外，何故？蓋此時表雖不解，腠理已疏，邪不在皮毛而在肌肉，故脈證雖同麻黃，而主治當屬桂枝也。（此明必用桂枝之故。）粗工妄謂桂枝湯專治中風，不治傷寒，使人疑而不用。不知此湯以治自汗、盜汗、虛瘧、虛痢，隨手而愈。因知仲景方可通治百病。後人遇一症，便集百方以眩人，使人無下手處，豈不陋哉！</p>
<h3>麻黃湯</h3>
<p>太陽風寒在表，頭項強痛，發熱，身疼，腰痛，骨節痛，惡風寒，無汗，胸滿而喘，其脈浮寒濕麻黃（三兩，去節）　桂枝（二兩）　甘草（一兩，炙）　杏仁（七十枚，去皮尖）</p>
<p>上四味，用水九升，先煮麻黃，減二升，去上沫，納諸藥，煮取二升半，去滓，溫服八合，柯韻伯曰：此為開表、逐邪、發汗之峻劑也。麻黃中空外直，宛如毛竅骨節，能驅骨節之風化液氣，胃，行喘平之汛然此可一枝二</p>
<h3>葛根湯</h3>
<p>主治頭項強痛，背亦強，牽引KT　KT　然，脈浮，無汗，惡風；並治風寒在表，而自下利。</p>
<p>葛根（二兩）　麻黃（三兩）　桂枝（二兩）　生薑（三兩）　芍藥（二兩）　甘草（一兩）　大棗（十二枚上七味，以水一斗，先煮麻黃、葛根，減二升，去沫，納諸藥同煎，分溫三服。</p>
<p>柯韻伯曰：此症身不疼，腰不痛，骨節不疼，不惡寒，是骨不受寒矣；頭項強痛，下連於背表；若表病而兼下利，是表實裡虛矣。比麻黃、青龍二症較輕，然KT　KT　更甚於項強，而無汗不失為表實，但脈浮不緊，是中於鼓動之陽風，故於桂枝方加麻黃倍葛根以去實，小變麻、桂之法也。葛根味甘氣涼，能起陰氣而作汗，開腠理而解表，故以為君；寒熱俱輕，桂、芍俱減；麻黃助桂、薑以開表；大棗助甘、芍以調內。故用以治表實，而表邪自解；不必治裡虛，而下利自瘳，與大青龍治表裡俱實者徑庭矣。蓋葛根稟氣輕清，而賦體濃重，輕以去實，重以鎮動，濃以固裡，惟表實裡虛者宜之，胃家實者非所宜也。故仲景於陽明經中不用葛根，東垣定為陽明經藥，易老云未入陽明者不可便服，豈二老未讀仲景書乎？要知葛根、桂枝俱是解肌和裡之劑，故有汗無汗，下利不下利俱可用，與麻黃之專於發表者不同耳。</p>
<p>《金匱》治太陽病無汗，小便反少，氣上衝胸，口噤不得語，欲作剛痙。</p>
<p>喻嘉言曰：傷寒項背KT　KT　，無汗惡風者，用葛根湯。此症亦用之者，以其邪在太陽、陽明兩經之界，兩經之熱並於胸中，必傷肺金清肅之氣，故水道不行而小便少，津液不布而無汗；陽明之筋內結胃口，外行胸中，過人迎，環口，熱並陽明，斯筋脈牽引，口噤不得語。</p>
<p>然剛痙無汗，必從汗解，況濕邪內郁，必以汗出如故而止，故用此湯合解兩經之濕熱，與風寒之</p>
<h3>大青龍湯</h3>
<p>治頭項強痛，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁，無少陰症者，用此發汗。若脈浮麻黃（六兩）　桂枝（二兩）　甘草（二兩）　杏仁（四十枚）　生薑（三兩）　大棗（十枚）　石膏（如雞子上七味，水煎服，如麻黃湯法。</p>
<p>柯韻伯曰：此麻黃症之劇者，故於麻黃東加味以治之也。諸症全是麻黃，而喘與煩躁有別。</p>
<p>津不中，雙解汗、桂枝故表兆躁用之</p>
<h3>小青龍湯</h3>
<p>治傷寒表不解，心下有水氣，乾嘔，發熱而咳，或渴，或利，或噎，或小便不利，少腹滿，桂枝　芍藥　甘草　麻黃　細辛　乾薑（各三兩）　半夏　五味子（各半升）</p>
<p>上八味，先煮麻黃，去沫，納諸藥，煮取三升，溫服一升。若渴，去半夏，加栝蔞根三兩。</p>
<p>加柯韻伯曰：寒熱不解而咳，知內有水氣射肺；乾嘔，知水氣未入於胃，而在心下也。心下為或泥去之解治也表趙以德曰：溢飲之證，《金匱》云當發其汗，小青龍湯治之。蓋水飲溢出於表，營衛盡為之必</p>
<h3>桂枝人參、葛根黃芩黃連湯</h3>
<p>太陽外證未解，而數下之，遂協熱而利，利下不止，表裡不解，脈微弱，心下痞硬者，桂枝</p>
<h4>桂枝人參湯</h4>
<p>桂枝　甘草（各四兩）　人參　白朮　乾薑（各三兩）</p>
<p>水九升，先煮四味，取五升，納桂，更煮三升，日再服，夜一服。</p>
<h4>葛根黃芩黃連湯</h4>
<p>葛根（半斤）　黃連　黃芩（各三兩）　甘草（炙，二兩）</p>
<p>水八升，先煮葛根，減二升，納諸藥，煮二升，分溫再服。</p>
<p>柯韻伯曰：外熱不除是表不解，下利不止是裡不解，病因則同。一以微弱之脈，而心痞硬，而辨解表本緩注下除喘者殊上條脈證是陽虛，雖協熱於外，而裡則虛寒；下條脈證是陽盛，雖下利不止，而表裡俱實。</p>
<p>之上中亦能</p>
<h2>卷三</h2>
<h3>葛根黃芩黃連湯</h3>
<p>治太陽誤下，邪熱入裡，脈促，喘而下利。</p>
<p>葛根（半斤）　甘草　黃芩（各二兩）　黃連（三兩）</p>
<p>上四味，以水八升，先煮葛根，減二升，納諸藥，煮取二升，去滓，分溫再服。</p>
<p>喻嘉言曰：太陽病原無裡症，但當用桂枝解外。若反下之，則邪熱之在太陽者，未入陽明之用葛太陽</p>
<h3>桂枝湯去桂加茯苓白朮湯</h3>
<p>服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿微痛，小便不利者，桂枝去桂加桂枝湯去桂，加白朮、茯苓各三兩，減芍藥一兩。</p>
<p>柯韻伯曰：汗出不徹，而遽下之，表證仍在，而反無汗，更見心下滿痛，此謂有表裡證矣。</p>
<p>若之芍可本由便</p>
<h3>黃芩湯</h3>
<p>治太陽、少陽合病，自下利者。若嘔者，加半夏、生薑。</p>
<p>黃芩　甘草　芍藥（各三兩）　大棗（十二枚）</p>
<p>上四味，以水一斗，煮取三升，去滓，溫服一升，日再服，夜一服。嘔者加半夏半斤，生薑程郊倩曰：此之合病者，頭痛，胸滿，口苦，咽乾，目眩，或往來寒熱，脈或大而弦。</p>
<p>半表虛，柯韻伯曰：太陽、少陽合病，是熱邪已入少陽之裡，膽火上逆，移熱於脾，故自下利。</p>
<p>與黃非胃</p>
<h3>黃連湯</h3>
<p>治傷寒胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者。</p>
<p>黃連　甘草　乾薑（各三兩）　人參（二兩）　桂枝（三兩）　半夏（半斤）　大棗（十二枚）</p>
<p>上七味，以水一斗，煮取六升，去滓，溫服一升，日三服，夜二服。</p>
<p>程郊倩曰：熱在胸中，有煩躁郁悶之症，可知胃中反有邪氣，以寒邪被格在下故也。此證寒腹中痛上下相氣，升乾薑，成無己曰：濕家下後，舌上如胎者，以丹田有熱，胸中有寒，是邪氣入裡，而為下熱上寒也</p>
<h3>十棗湯</h3>
<p>治太陽中風，表解後裡氣不和，下利，嘔逆，心中至脅痞滿硬痛，汗出，短氣，頭痛，不惡大棗（十枚，掰）　甘遂　大戟　芫花（熬，各等分）</p>
<p>上三味，各別搗為散，以水一升半，先煮大棗肥者十枚，取八合，去滓，納末藥。強人一錢柯韻伯曰：仲景利水之方，種種不同，此其最峻者也。凡水氣為患，或喘，或咳，或悸，或噎，或吐，或利，或無汗，病在一處而止；此則外走皮毛而汗出，上走咽喉而嘔逆，下走腸胃而下利，水邪之泛溢於外者，浩浩莫御矣。且頭痛，短氣，心腹脅下皆痞滿而硬痛，是水邪尚留結於中，三焦升降之氣阻隔而難通矣。表邪已罷，非汗散之法所宜；裡邪充斥，又非淡滲之品所能勝。非選利水之所至峻者以直折之，中氣不支，束手待斃耳。甘遂、芫花、大戟三味，皆辛苦氣寒而稟性最毒，並舉而用之，氣味合，相濟相須，故可交相去邪之巢穴，決其瀆而大下之，一舉而水患可平也。然水利所湊，其元氣已虛，而毒藥攻邪，必脾胃反弱，使無健脾調胃之品為主宰，邪氣盡，而大命亦隨之矣。故選十棗之大而肥者以君之，一以培脾土之虛，一以制水氣之橫，一以解諸藥之毒。得一物而三善備，既不使邪氣之盛而不制，又不使元氣之虛而不支，此仲景立法之盡善也。昧者惑於甘能中滿之說而不敢用，豈知承制之理乎？張子和竊此意而制浚川、禹功、神　等方，以治水腫、痰飲之病，而不知君補劑以培本，但知任毒藥以攻邪，所以善其後者鮮矣！</p>
<h3>小陷胸湯</h3>
<p>治心下痞，按之則痛，脈浮滑者。</p>
<p>黃連（一兩）　半夏（半升）　栝蔞實（大者一個）</p>
<p>上三味，以水六升，先煮栝蔞實，取三升，去滓，納諸藥，煮取二升，分溫三服。</p>
<p>程扶生曰：此熱結未深者在心下，不若大結胸之高在心上；按之痛，比手不可近為輕；脈之黃連上程郊倩曰：黃連滌熱，半夏導飲，栝蔞潤燥，合之以開結氣。亦名曰陷胸者，攻雖不峻，而</p>
<h3>大陷胸湯</h3>
<p>主治傷寒發熱，不發汗而反下之，表熱乘虛入於胸中，與不得為汗之水氣結而不散，令心下腸大黃（六兩）　芒硝　葶藶子　杏仁（去皮，各半升）　甘遂（一錢，為末）</p>
<p>上五味，以水先煮大黃、杏、藶，去滓，納芒硝，煮一二沸，納甘遂末。溫服，得快利，止柯韻伯曰：胸中者，宗氣之所出，故名氣海。氣為陽，故屬太陽之部。氣為水母，氣清則水下輸淫於任行胸解痢疾之初起者甚捷。然必視其人壯實，可以一戰成功。如平素虛弱者，病久而任攻伐者，當念虛虛之戒矣。</p>
<h3>五瀉心湯</h3>
<h4>半夏瀉心湯</h4>
<p>傷寒五六日，嘔而發熱，柴胡證具，而以他藥下之，但滿而不痛，此為痞，宜半夏瀉心湯。</p>
<p>半夏（半斤）　黃芩　乾薑　人參（各三兩）　黃連（一兩）　大棗（十二枚）　甘草（三兩）</p>
<p>上七味，以水一斗，煮取六升，分溫三服。</p>
<p>（此小柴胡去柴胡，而加乾薑、黃連。）</p>
<h4>大黃黃連瀉心湯</h4>
<p>傷寒大下後，復發汗，心下痞，惡寒者，表未解也，不可攻痞；當先解表，表解，乃可攻痞瀉心大黃（二兩）　黃連（一兩）</p>
<p>以麻沸湯二升，漬之須臾，絞去滓服之。</p>
<h4>附子瀉心湯</h4>
<p>心下痞，而復惡寒汗出者，附子瀉心湯。</p>
<p>大黃（二兩）　黃連（一兩）　黃芩（一兩）　附子（一枚，別煮取汁。）</p>
<p>以麻沸湯二升，漬三味，須臾，去滓，納附子汁。</p>
<h4>生薑瀉心湯</h4>
<p>傷寒汗出解之後，胃中不和，心下痞硬，干噫食臭，脅下有水氣，腹中雷鳴，下利，生薑瀉生薑（四兩）　甘草　人參（各三兩）　乾薑（一兩）　黃連（一兩）　黃芩（三兩）　半夏（半升）　大棗（十上八味，以水一斗，煮取六升，分溫三服。</p>
<h4>甘草瀉心湯</h4>
<p>傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞硬而滿，乾嘔，心逆甘草（四兩）　黃芩　乾薑（各三兩）　半夏（半升）　黃連（一兩）　大棗（十二枚）</p>
<p>上六味，以水一斗，煮取六升，去滓，分溫三服。</p>
<p>王又原曰：病發於陰而反下之，因作痞。然亦有汗出解之後而痞者，亦有下後復汗而痞者，辛以而同五六以和表裡，此以徹上下。而必推半夏為君者，痞從嘔得來，半夏之汗出解之後，已無傷寒矣。胃藏津液，發汗則津液亡，故胃中不發胃家升騰之氣，乃治雜證之標的也。一屬少陽，一屬汗解，人正在太陽，無用人參之例。雖下而復下，為胃中虛，不可用也。</p>
<p>和其客氣之上逆，溫其中氣之不調，補其心煩之不安焉耳。心下痞之診也。按之濡，關上浮，為痞尚未成，故無用虜荊之六十此漬以麻沸湯，須臾去滓，僅得其無形之氣，不用其有形之味之症，明系表邪未解；心下痞而復惡寒者，為續見之證，明系見者，以兩湯治之；續見者，以一湯救之。其附子則煮汁者，重也。然胃居心下，心下痞者，胃痞也。不曰瀉胃，而曰瀉心誤為傳入陽明，以治陽明之法治之也。此仲景之微旨也。</p>
<h3>桂枝加附子湯</h3>
<p>太陽病，發汗遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，此方主之。</p>
<p>桂枝東加附子一枚，炮去皮，破八片，煎服同，不須啜粥。</p>
<p>柯韻伯曰：發汗太過，陽無所止息，而汗出不止矣。汗多亡陽，玄府不閉，風乘虛入，故復不得則漏肢自急附有</p>
<h3>桂枝甘草湯</h3>
<p>治發汗過多，其人叉手自冒心，心下悸欲得按者。</p>
<p>桂枝（四兩）　甘草（二兩，炙）</p>
<p>上二味，水三升，煮取一升，頓服。</p>
<p>柯韻伯曰：汗出多則心液虛，氣餒故悸。叉手自冒則外有所衛，得按則內有所依。如此不堪得以自</p>
<h3>芍藥甘草附子湯</h3>
<p>發汗病解，反惡寒者，虛故也。此方主之。</p>
<p>芍藥（三兩）　甘草（二兩，炙）　附子（一枚，炮去皮，破八片）</p>
<p>上三味，以水五升，煮取一升五合，去滓，分溫服。</p>
<p>柯韻伯曰：發汗病解而反惡寒，比未汗時更甚，其陽虛可知矣。夫太陽、少陰為表裡，太陽從汗以扶使腎</p>
<h3>桂枝去芍藥加麻黃附子細辛湯</h3>
<p>治水飲在氣分，心下堅，大如盤，邊如旋杯者。</p>
<p>桂枝（三兩）　生薑（三兩）　甘草（二兩，炙）　大棗（十二枚）　麻黃（二兩）　細辛（二兩）　附子（一上七味，以水七升，先煮麻黃，去沫，納諸藥，煮取二升，分溫三服。當汗出，如蟲行皮中柯韻伯曰：水飲者，少陰所主。心下者，太陽之部。心下有水氣，至於堅大如盤，是五臟之則氣之；草、一汗而為陰，人凡遇勝道哉！故用硝、故於桂枝下之而</p>
<h3>小建中湯</h3>
<p>治傷寒表未解，或心悸而煩，或腹中急痛，而脈陽澀陰弦者。</p>
<p>桂枝（三兩）　芍藥（六兩）　甘草（三兩）　生薑（三兩）　大棗（十二枚）　膠飴（一升）</p>
<p>上六味，水七升，煮取三升，去滓，納膠飴，更上微火消解，分三服。</p>
<p>柯韻伯曰：桂枝湯為治表而設，佐以芍藥者，以自汗故耳。自汗本表證，而所以自汗者，因發不補不瀉，惟甘以緩之，微酸以收之，故名曰建耳。所謂中者有二：一心中悸而煩，煩則為熱，悸則為虛，是方辛甘以散太陽之熱，酸苦以滋少陰之虛，是建膻中之宮城也；一腹中急痛，急則為熱，痛則為虛，是方辛以散厥陰之邪，甘以緩肝家之急，苦以瀉少陽之火，酸以致太陰之液，是建中州之都會也。若夫中氣不足，勞倦所傷，非風寒外襲者，《金匱》加黃，以固腠理而護皮毛，則亡血失精之症自寧。此陽密乃固之理也。</p>
<h3>五苓散</h3>
<p>（附茵陳五苓散）</p>
<p>治脈浮，小便不利，熱微，消渴者；發汗已，脈浮數，煩渴者；中風發熱，六七日不解而煩茯苓（十八銖）　豬苓（十八銖）　白朮（十八銖）　澤瀉（一兩）　桂枝（五錢）</p>
<p>上五味為末，以白飲和，服方寸匕，日三服。</p>
<p>程郊倩曰：標邪傳入膀胱，是為犯本。其人必渴，必小便不利，宜可消水矣。（此傷寒五苓水，致取其液，止而為脈趙羽皇曰：人身之水有二，一為真水，一為客水。真水者，即天乙之所主；客水者，即食飲降，水飲也。</p>
<p>怠，泛流培土能化。先哲有曰：水之無火則水不行。</p>
<p>羅東逸曰：傷寒之用五苓，允為太陽寒邪犯本，熱在膀胱，故以五苓利水瀉熱。然用桂枝者，所以宣邪而以君之，而虛寒之積黃癉。蓋土虛則旺中州，利膀胱</p>
<h3>越婢湯（《金匱》）</h3>
<p>治風水惡風，一身悉腫，脈浮不渴，續自汗出，無大熱者。又治裡水，一身面目黃腫，其脈麻黃（六兩）　石膏（半斤）　生薑（三兩）　大棗（十五枚）　甘草（二兩）</p>
<p>上五味，以水六升，煮麻黃，去沫，納諸藥，煮取三升，分三服，惡風加附子一枚（炮）。</p>
<p>喻嘉言曰：越婢湯者，示微發表於不發之方也，大率取其通調營衛。麻黃、石膏二物，一甘陽，以實而萌趙以德曰：五臟各一其陰陽，獨脾胃居中而兩屬之，故土不獨成四氣，土亦從四維而後成，熱，以熱達走益胃中之氣。惡風者陽虛，故加附子以益陽。風水者，則加朮以散皮膚間水氣，發穀精以宣榮衛，與麻黃、石膏為使，引其入土也。越婢之名，不亦宜乎！喻論明析，趙說能細剖其理，開便後學，故兩錄之。</p>
<h3>茵陳蒿湯</h3>
<p>陽明病發熱，但頭汗出，身無汗，小便不利，渴飲水漿。此為瘀熱在裡，身必發黃，腹微滿茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）</p>
<p>水一斗，先煮茵陳減六升，納二味，煮三升，去渣，分溫三服。小便當利，尿如皂角汁狀；柯韻伯曰：太陽、陽明俱有發黃證。但頭汗而身無汗，則熱不外越；小便不利，則熱不下泄故用麻黃連翹赤豆湯，為涼散法；心胸是太陽陽明之裡，當寒以勝之，用梔子柏皮湯，乃清火法；腸胃是陽明之裡，當瀉之於內，故立本方，是逐穢法。茵陳稟北方之色，經冬不凋，傲霜瘀熱景治虎加茵通便湯者承小</p>
<h3>梔子豉湯</h3>
<p>（附加減諸湯）</p>
<p>治陽明病脈浮而緊，咽燥，口苦，腹滿而喘，發熱，汗出，不惡寒，反惡熱，身重煩躁，心梔子（十四枚）　香豉（四合，綿裹）</p>
<p>上二味，以水四升，先煮梔子得二升半，納豉，煮取一升半，去渣，分二服溫進。一服得吐安者乾薑柯韻伯曰：太陽以心腹為裡，陽明以心腹為表。蓋陽明之裡是胃實，不特發熱、惡寒、目疼臥、制明暮吐表色這心之加生薑以散邪。若下後而心腹滿，起臥不安，是熱已入胃，便不當吐，故去香豉。屎未燥硬，不宜復下，故只用梔子以除煩，佐枳、朴以泄滿，此兩解心腹之妙，又小承氣之輕劑也。</p>
<p>若以丸藥下之，心微煩而不懊惱，是知寒氣留中，而上焦留熱，故任梔子以除煩，倍乾薑以逐內寒，而表熱自解，此又寒熱並用，為和中解表之劑矣。內外熱熾，肌肉發黃，必須苦甘之劑以調之，柏皮、甘草色黃而潤，助梔子以除內煩而解外熱，形色之病，仍假形色以通之，此皆用梔豉於加減，以御陽明表證之變幻也。夫梔子之性，能屈曲下行，不是上涌之劑，惟豉之腐氣，上蒸心肺，能令人吐耳！觀瓜蒂散必用豉汁和服，是吐在豉而不在梔也。（此義豉陳</p>
<h3>豬苓湯</h3>
<p>治陽明病脈浮，發熱，渴欲飲水；少陰病下利六七日，咳而嘔渴，心煩不得眠者。</p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠（各一兩）</p>
<p>上五味，以水四升，先煮四味，取二升，去滓，納阿膠溶，溫服七合，日三服。</p>
<p>趙羽皇曰：仲景制豬苓湯，以行陽明、少陰二經水熱，然其旨全以益陰，不專利水。（二語津竭亦於胃家養陰；佐以二苓之淡滲者行之，既疏濁熱，而不留其瘀壅，亦潤真陰，而不苦其枯燥，源清而流有不清者乎？顧太陽利水用五苓者，以太陽職司寒水，故急加桂以溫之，是暖腎以行水之也；陽明、少陰之用豬苓，以二經兩關津液，特用阿膠、滑石以潤之，是滋養無形，以行有形也。（妙義環生。）利水雖同，寒溫迥別，惟明者知之。</p>
<h3>白虎湯</h3>
<p>治陽明症，汗出，渴欲飲水，脈洪大浮滑，不惡寒，反惡熱。</p>
<p>石膏（一斤碎綿裹）　知母（六兩）　甘草（二兩炙）　粳米（六合）</p>
<p>上五味，以水一斗，煮米熟湯成，去滓，服一升，日三服。</p>
<p>柯韻伯曰：邪入陽明，故反惡熱，熱越故汗出，因邪熱爍其精液，故渴欲飲水，邪盛而實，又脾知母氣寒主之緩其寒，佐，陰寒之白虎為西方甘草、粳米</p>
<h3>白虎加人參湯</h3>
<p>治太陽中熱，汗出，惡寒，身熱而渴者，　是也。</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩）　粳米（六合）　人參（三兩）</p>
<p>上五味，以水如前煮服法。</p>
<p>趙以德曰：汗出、惡寒、身熱而不渴者，中風也；汗出，惡寒，而渴者，中　也。其症相似人參湯惡寒也。</p>
<p>之源</p>
<h3>大小二承氣湯合論</h3>
<h4>大承氣湯</h4>
<p>治陽明病潮熱，手足　然汗出，譫語，汗出多，胃燥，獨語如見鬼狀，喘冒不能臥，腹滿痛心大黃（四兩，酒洗）　厚朴（半斤）　枳實（五枚，炙）　芒硝（三錢）</p>
<p>上四味，以水一斗，先煮二物，取五升，納大黃，煮取二升，去滓，納芒硝，再上火微煮三</p>
<h4>小承氣湯</h4>
<p>大黃（四兩）　厚朴（二兩，炙去皮）　枳實（三枚）</p>
<p>上三味，以水四升，煮取一升二合，去滓，分溫三服。初服湯當大便，不爾再服，以利為度柯韻伯曰：諸病皆因於氣，穢物之不去，由於氣之不順也。故攻積之劑，必用氣分之藥，因是其滓芒大喻嘉言曰：《金匱》治痙，為病胸滿，口噤，臥不著席，腳攣急，必　齒，可與大承氣湯，乃死裡求生之法也。《靈樞》謂熱而痙者死，腰折，螈　，齒　也。茲所云臥不著席，即腰折之變文；腳攣急，即螈　之變文；且　齒加以胸滿、口噤，上中下三焦熱邪充斥，死不旋踵矣。在傷寒症，腹滿可下，胸滿則不可下。然投是湯者，須知所謂胸滿，謂其邪尚在表，故不可下。（存此條，為下能存陰之一證。）此證入裡之熱，極深極重，匪可比倫。況陽熱至極，陰血立至消亡。即小小下之，尚不足以勝其陽，救其陰。故取此湯以承領其一線之陰氣，陰氣不盡為陽熱所劫，因而得生者多矣。可與二字甚活，臨症酌而用之，初非定法也。</p>
<p>既有下之重傷其</p>
<h3>桃仁承氣湯</h3>
<p>治血結胸中，手不可近，或中焦蓄血，寒熱，胸滿，漱水不欲咽，善忘，昏迷，如狂者。</p>
<p>此桃仁（半兩）　大黃（一兩）　硝（三錢）　桂（三錢）　甘草（三錢）</p>
<p>上每服一兩，薑、水煎服。</p>
<h3>抵當湯並丸</h3>
<p>治傷寒蓄血，並治症瘕，追蟲、攻毒甚佳。</p>
<p>水蛭（熬）　虻蟲（去翅足，各三十枚）　桃仁（二十枚）　大黃（三兩，酒洗）</p>
<p>上四味，水五升，煮取三升，去滓，溫服一升。不下再服，即以四味搗粉為丸，分四丸，以柯韻伯曰：膀胱為水府，血本無所容蓄者也。然太陽為諸陽主氣，是氣之最多者，而其經熱結必其急沉便非至峻之劑，不足以抵其巢穴而當此重任，故立抵當湯。蛭，蟲之善飲血者，而利於水；虻，蟲之善吮血者，而猛於陸。並舉水陸之善取血者以攻之，同氣相求；更佐桃仁之苦甘，推陳致新，大黃苦寒，蕩滌邪熱，此名抵當也。若熱雖盛而未狂，小腹滿而未硬，宜小其制，為丸以緩治之。若外症已解，小腹急結，其人如狂，是轉屬陽明，用調胃承氣加桃仁、桂枝之行血者於其中，以微利之，胃和則愈矣。此桃仁承氣，又為治之緩也。</p>
<h3>小柴胡湯</h3>
<p>治傷寒五六日，寒熱往來，胸脅苦滿，嘿嘿不欲飲食，心煩，喜嘔，耳聾，脈數。此是少陽柴胡（半斤）　黃芩　人參　甘草（各三兩）　半夏（半升）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。若胸中煩而不根四便不咳者，程郊倩曰：方以小柴胡名者，配乎少陽而取義。至於制方之旨及加減法，則所云上焦得通，入裡故故其余或之云者，以少陽在人身為游部，凡表裡經絡之罅，皆能隨其虛而見之，不定之邪也。</p>
<p>據症皆是太陽經中所有者，特以五六日上見，故屬之少陽。半表半裡兼而有之，方是小柴胡症。方中柴胡以疏木，使半表之邪得從外宣；黃芩清火，使半裡之邪得從內徹；半夏能開結痰，豁濁氣以還清；人參能補久虛，滋肺金以融木；甘草和之，而更加薑、棗助少陽生發之氣，使邪無內向也。至若煩而不嘔者，火成燥實而逼胸，故去人參、半夏，加栝蔞實。渴者，燥已耗液而逼肺，故去半夏，加栝蔞根。腹中痛，木氣散入土中，胃陽受困，故去黃芩以安土，加芍藥以戢木。脅下痞硬者，邪既留則木氣實，故去大棗之甘而緩，加牡蠣之咸而軟也。心下悸，小便不利者，土被侵則木氣逆，故去黃芩之苦而伐，加茯苓之淡而滲也。不渴，身有微熱者，半表之寒尚滯於肌，故去人參，加桂枝以解之。咳者，半表之寒湊入於肺，故去參、棗，加五味子，易生薑為乾薑以溫之，雖肺寒不減黃芩，恐木寡於畏也。總之，邪在</p>
<h3>大柴胡湯</h3>
<p>治熱結在內，往來寒熱者。</p>
<p>柴胡（半斤）　半夏（半斤）　黃芩（三兩）　芍藥（三兩）　枳實（四枚）　生薑（五兩）　大棗（十上七味，以水一斗二升，煮取六升，去滓，再煎。溫服一升，日三服。</p>
<p>柯韻伯曰：此熱結在氣分，不屬有形，故十余日復能往來寒熱也。若熱結在胃，則蒸蒸發熱加心不用大大柴大柴</p>
<h3>柴胡桂枝湯</h3>
<p>傷寒六七日，發熱，微惡寒，肢節煩疼，微嘔，心下支結。此太陽、少陽並病也，柴胡桂枝柴胡（四兩）　黃芩　人參　生薑　芍藥　桂枝（各一兩半）　甘草（一兩）　半夏（二合半）　大棗（六枚）</p>
<p>上九味，水煎服。</p>
<p>柯韻伯曰：柴、桂二湯，皆是調和之劑。桂枝湯重解表，而微兼清裡；柴胡湯重調裡，而微以調之任重注釋；柴胡亦本渴而之時微，則表證雖少陽微仍用人</p>
<h3>桂枝加芍藥加大黃二湯</h3>
<p>本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝加芍藥湯主之；大實痛者，桂枝加桂枝　芍藥　甘草　生薑　大棗即桂枝湯倍芍藥三兩；大實痛者，即原方加大黃二兩。煎法如前。</p>
<p>柯韻伯曰：腹滿為太陰、陽明俱有之證，然位同而職異。太陰主出，太陰病則腐穢之出不利不於太陰加大黃以轉屬太陰則腹大實而燥屎之征，故加</p>
<h3>麻黃附子細辛湯</h3>
<p>治少陰病始得之，發熱，脈沉，無裡證者。</p>
<p>麻黃（一兩）　附子（一枚，炮）　細辛（二兩）</p>
<p>上三味，以水一斗，先煮麻黃，減二升，去沫，納藥，取三升，去滓。溫服一升，日三服。</p>
<p>熱微者，以甘草易細辛，微發汗。</p>
<p>柯韻伯曰：少陰主裡，應無表證。病發於陰，應有內熱。今始受寒邪，即便發熱，而裡無熱，似乎太陽，而屬之少陰者，以頭不痛而但欲寐也。蓋少陰為太陽之雌，大言陰與陽，小言便露裡雌雄腎氣獨沉，故身雖熱而脈則沉也。所表反熱，便於表劑中加附子，以豫固陰邪始得以內侵，孤陽因之以外越耳！（且開且固，本方妙義如此。）夫發熱、無汗，太陽之表不得不開；沉為在裡，少陰之樞又不陽之微陽病及表，甘草易細</p>
<h3>乾薑附子、茯苓四逆二方</h3>
<p>下後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔，不渴，無表證，脈沉微，身無大熱者，乾薑（一兩）　附子（一枚，去皮破八片，生用）</p>
<p>上二味，以水三升，頓服。</p>
<p>發汗，若下之，病仍不解，煩躁者，茯苓四逆湯主之。</p>
<p>茯苓（六兩）人參（一兩）　甘草（二兩，炙）　乾薑（一兩半）　附子（一枚，去皮，生用）上五味，以水五升，煮三升，溫服七合，日三服。</p>
<p>柯韻伯曰：二條皆太陽壞病，轉屬少陰者也。凡太陽病而妄汗、妄下者，其變證或仍在太陽屬少陽少陰則少陰屬表證之解不解，為之詳辨，則陰陽之差多差少，不致混淆，而用方命劑，無纖毫之失也。夫先汗後下，於法為順，而表仍不解，是妄下亡陰，陰陽俱虛而煩躁也，制茯苓四逆固陰以收陽；先下後汗，於治為逆，而表證反解，內不嘔渴，似乎陰陽自和，而實妄汗亡陽，所以虛陽擾於陽分，晝則煩躁不得安，陽虛不得入於陰，故脈沉微而夜靜，是真陽將脫而煩躁也，用乾薑、附子固陽以配陰。（方議妙極！）同一煩躁，所用之方不同如此。薑、附者，陽中陽氣化，不假根苗而成，能補先天無形之氣，安虛陽外脫之煩，故以為君；人參能回元氣於無何有之鄉，通血脈於細微欲絕之際，故以為佐。是方以人參佐茯苓，補下焦之元氣；以乾薑而緩急自別，用方之神乎！（急緩二議，開後學心胸。）</p>
<h3>旋覆代赭湯</h3>
<p>治汗吐下解表後，心下痞硬，噫氣不除。</p>
<p>旋覆花（三兩）　代赭石（一兩）　人參（二兩）　甘草（炙，三兩）　生薑（五兩）</p>
<p>大棗（十二上七味，以水一斗，煎減半，去滓，再煎，取三升，溫服，日三服。</p>
<p>羅東逸曰：仲景此方，治正虛不歸元，而承領上下之聖方也。蓋發汗吐下解表後，邪雖去，以濁邪養胃，於下；使噫氣利在下胸中轉</p>
<h3>赤石脂禹餘糧湯</h3>
<p>主治久痢不止，大腸虛脫，服理中丸而利益甚者。</p>
<p>赤石脂　禹餘糧（各一斤，俱搗碎）</p>
<p>上二味，以水六升，煮取二升，去渣，分溫三服。</p>
<p>柯韻伯曰：甘、薑、參、朮可以補中宮元氣之虛，而不足以固下焦脂膏之脫。此利在下焦者責在者石脂色赤入丙，助火以生土；余糧色黃入戊，實胃而澀腸。急以治下焦之標者，實以培中宮之本也。要知此證，土虛而火不虛，故不宜於薑、附。仲景曰：復利不止者，當利其小便。</p>
<p>可知與桃花湯別成一局矣。</p>
<h3>真武湯</h3>
<p>治少陰水氣為患，腹痛下利，四肢沉重疼痛，小便不利。其人或咳，或嘔，或小便利而下利白朮（二兩）　茯苓　白芍（各三兩）　大附子（一枚，炮）　生薑（三兩）</p>
<p>上五味，以水八升，煮取三升，去滓。溫服七合，日三服。</p>
<p>趙羽皇曰：人之一身，陰陽是也。上焦屬陽而主心肺，下焦屬陰而主肝腎。肝藏陰血，腎兼酸能也。</p>
<p>孰為之主？故脾家得附子，則火能生土，而水有所歸矣；腎中得附所攝矣。更得芍藥之酸，以收肝而斂陰氣，陰平陽秘矣。若生薑者和胃也。蓋五苓散行有餘之水，真武行不足之水，兩者天淵。總之泛溢妄行者，非大補坎中之陽，大健中宮之氣，即日用車前、木通柯韻伯曰：坎宮火用不宣，故腎家水體失職，是下焦虛有寒不能制水故也。法當壯元陽以消陰翳，逐留垢以清水源，因立此湯。方後立加減法，是真武加減證，不是主症，雖皆水氣為患，而不屬少陰。其云若咳者，是水氣射肺所致，加五味子之酸溫，佐芍藥以收腎中水氣；細辛之辛溫，佐生薑以散肺中水氣。小便自利而下利，是胃中無陽，則腹痛不屬相火，四肢困於脾濕，故去芍藥之酸寒，加乾薑之辛熱，即茯苓之甘平者亦去之，此為溫中之劑，而非利水之劑矣。若嘔者，是水氣在中，故中焦不治，四肢不利，病不涉少陰，由於太陰濕化不宣也，不須附子之溫腎，倍加生薑以散邪，此為和中之劑，而非下焦之劑矣。附子、芍藥、茯苓、白朮四味，皆真武所重，若去一味，便不是真武。仲景論證治，多觸類旁通，並不畫地為界。</p>
<p>喻嘉言曰：亡陽而用真武以救之者，蓋真武北方司水之神。方中四味，是行水收陰，崇土回越，</p>
<h3>黃連阿膠湯</h3>
<p>治少陰病得之二三日，心中煩，不得臥。</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　雞子黃（二枚）　阿膠（三兩）</p>
<p>上五味，以水五升，先煮三藥，取二升，去滓，納膠溶，小冷，納雞子黃，攪令相得，溫服柯韻伯曰：此少陰之瀉心湯也。凡瀉心必藉連、芩，而導引有陰陽之別。病在三陽，胃中不者，神明非得不歸和，取急趨下精神乃</p>
<h3>當歸四逆湯</h3>
<p>手足厥冷，脈細欲絕者主之。若其人內有久寒，加吳萸、生薑。</p>
<p>當歸　桂枝　芍藥（各三兩）　細辛　甘草　通草（各二兩）　大棗（二十五枚）</p>
<p>上七味，以水八升，溫服一升，日三服。</p>
<p>柯韻伯曰：此厥陰初傷於寒，發散表寒之劑。凡厥陰傷寒，則脈微而厥。以厥陰為兩陰之交相火脈細也；通草氣血手足發散之細辛，陰內外程郊倩曰：少陰所主者氣，厥則為寒，當納氣歸腎；厥陰所主者血，厥則為虛，當溫經復營</p>
<h3>吳茱萸湯</h3>
<p>治厥陰病乾嘔，吐涎沫，頭痛者；少陰症吐利，手足厥冷，煩躁欲死者；陽明食穀欲嘔者。</p>
<p>吳茱萸（一升）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上四味，以水七升，煮取二升，溫服七合，日三服。</p>
<p>羅東逸曰：仲景救陽諸法，於少陰四逆湯，必用薑、附；通脈四逆湯，加乾薑分兩，其附子斷鰲茱萸一陽具，生矣升之之燥四末之間氣。學人王又原曰：少陰、厥陰，俱有躁煩。少陰之躁在水，由龍火不歸，故薑、附得而陽回；厥陰（兩</p>
<h3>白頭翁湯</h3>
<p>治厥陰熱利，下重，脈沉弦，渴欲飲水者。</p>
<p>白頭翁（三兩）　黃連　黃柏　秦皮（各二兩）</p>
<p>上四味，水煎服。</p>
<p>柯韻伯曰：三陰俱有下利證。自利不渴者屬太陰，是臟有寒也；自利渴者屬少陰，以下焦虛撞心脈沉為在裡，弦為肝脈，是木鬱之征也；渴欲飲水，厥陰病則消渴也。白頭翁臨風偏靜，長於驅風，用為君者，以厥陰風木，風動則木搖而火旺，欲平走竅之火，必寧搖動之風；秦皮木小岑高，得清陽上升之象為臣，是木鬱達之，所以遂其發陳之性也；黃連瀉君火，可除上焦之渴，是苦以發之，黃柏瀉相火，可止下焦之利，是苦以堅之也。治厥陰熱利有二：初利用此方，以升陽散火，是謂下者舉之，寒因熱用法；久利則用烏梅丸之酸以收火，佐以苦寒，雜以溫補，是謂逆之從之，隨所利而行之，調其氣使之平也。</p>
<h3>四逆、通脈四逆湯</h3>
<h4>四逆湯</h4>
<p>治脈沉、厥逆等證。</p>
<p>甘草（二兩，炙）　乾薑（一兩）　附子（一枚，生）</p>
<p>上三味，以水三升，煮取一升二合，溫服。</p>
<h4>通脈四逆湯</h4>
<p>治少陰下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾薑（三兩，強人可四兩）　甘草（三兩，炙）　附子（一枚，生）</p>
<p>上三味，以水三升，煮取一升二合，溫服。</p>
<p>加減法：面赤色者，加蔥九莖；腹中痛者，去蔥，加芍藥二兩；嘔者，加生薑二兩；咽痛者王又原曰：仲景真武湯一方，於水中補火；四逆與通脈四逆二方，是於水中溫土。二方用藥陽未內陽微薑，樹氣已離等分者四逆；內，面出，而外熱，</p>
<h3>麻黃杏仁甘草石膏湯</h3>
<p>溫熱內發，表裡俱熱，頭痛，身疼，不惡寒反惡熱，無汗而喘，大煩，大渴，脈陰陽俱浮者麻黃（四兩）　杏仁（五十枚）　甘草（炙，二兩）　石膏（半斤）</p>
<p>上四味，煎服同麻黃湯法。</p>
<p>柯韻伯曰：石膏為清火之重劑，青龍、白虎皆賴以建功。然用之不當，適足以招禍，故青龍但熱語、桂枝出，程扶生曰：此治寒深入肺，發為喘熱也。汗既出矣，而喘是寒邪未盡。若身無大熱，則是熱散除</p>
<h3>附子湯</h3>
<p>治少陰病，身痛，手足寒，骨節痛，口中和，惡寒，脈沉者。</p>
<p>附子（二枚，生）　人參（二兩）　白朮（四兩）　茯苓（三兩）　芍藥（三兩）</p>
<p>上五味，以水八升，煮取三升，去滓，分溫服一升，日三服。</p>
<p>柯韻伯曰：此仲景溫補之第一方，乃正治傷寒之法，為少陰固本御邪之劑也。夫傷則宜補，中之陰，又為寒水之臟，故傷寒之重者多入少陰，所以少陰一經，最多死證。方中用生附二枚者，取其力之銳，且以重其任也，益少火之陽，鼓腎間之動氣以御外侵之陰翳，則守邪之神臟陽無水。</p>
<p>以散子湯於經脈表與尚學人</p>
<h3>參胡三白湯</h3>
<p>治汗下後，虛微少氣，發熱，口燥。去柴胡，名人參三白湯。</p>
<p>人參　柴胡　白朮　白芍　白苓　薑　棗柯韻伯曰：汗下後裡氣既虛，當求之於三陰：而表熱復發，又當責之三陽。三陽以少陽為樞不得達少太陰為大冬、表熱</p>
<h2>卷四</h2>
<h3>濟生腎氣丸</h3>
<p>治腎虛脾弱，腰重腳腫，小便不利，腹脹，喘急，痰盛，已成鼓症，其效如神。</p>
<p>熟地黃（四兩）　白茯苓（三兩）　牡丹皮　干山藥　澤瀉　車前子　山茱萸　牛膝　肉桂上十味，蜜和丸。每服八十丸，空心米飲下。</p>
<p>張景岳曰：水腫乃脾、肺、腎三臟之病。蓋水為至陰，故其本在腎；水化於氣，故其標在肺無所關，即為必先失其之真故用牛膝即所減。</p>
<p>大傷桂、蓋如散以自斗勝</p>
<h3>八味地黃丸</h3>
<p>治命門火衰不能生土，以致脾胃虛寒，飲食少思，大便不實，或下元衰憊，臍腹疼痛，夜多熟地黃（八兩，用真生懷慶，洗，浸一宿，柳木甑砂鍋上蒸半日，晒乾，如式九次為度，臨用桂附子（各一兩）</p>
<p>上八味為末，煉蜜丸如桐子大。酒下十五丸，日再服。</p>
<p>趙養葵曰：君子觀象於坎，而知腎中具水火之用。今人入房，而陽氣易舉者，陰虛火動也；藥、澤中補火喻嘉言曰：《金匱》用八味丸治香港腳上入少腹不仁者。香港腳即陰氣，少腹不仁，即攻心之漸少腹阻其胸中之陽，自致短氣，故用此腎氣不能攝水，小便恣出，氣不上升之渴，非用此以蟄護藥，得其旨矣。</p>
<p>柯韻伯曰：命門之火，乃水中之陽。夫水體本靜，而川流不息者，氣之動，火之用也，非指腎家命門氣矣則崔氏加減八味丸，以五味之酸收，易附子之辛熱，腎虛而不甚寒者宜之也。《千金方》於八附加苓以味外</p>
<h3>六味地黃丸</h3>
<p>主治腎精不足，虛火炎上，腰膝痿軟，骨熱酸疼，足跟痛，小便淋秘或不禁，遺精夢泄，水熟地黃（八兩）　山茱萸（四兩）　白茯苓　干山藥（各四兩）　牡丹皮（三兩）　澤瀉（二兩）</p>
<p>上為末，煉蜜丸如桐子大，空心淡鹽湯下。</p>
<p>柯韻伯曰：腎虛不能藏精，坎宮之火無所附而妄行，下無以奉春生之令，上絕肺金之化源。地黃稟甘寒之性，制熟味更濃，是精不足者補之以味也，用以大滋腎陰，填精補髓，壯水之靜之腎之故固封藉以奉生</p>
<h3>天王補心丹</h3>
<p>主治心血不足，神志不寧，津液枯竭，健忘，怔忡，大便不利，口舌生瘡等症。</p>
<p>人參　酸棗仁　當歸　生地黃　柏子仁　麥冬　天冬　遠志　五味子　白茯苓　丹參玄參　桔梗上為末，煉蜜丸如椒目大，白湯下。</p>
<p>柯韻伯曰：心者主火，而所以二者神也。神衰則火為患，故補心者必清其火而神始安。</p>
<p>補心耳之以生心血，玄參之咸以補心血，楫，遠志為向導，和諸藥入心而生瘡、大便不利之虞哉？</p>
<h3>朱砂安神丸（東垣方）</h3>
<p>治心神昏亂，驚悸，怔忡，寤寐不安。</p>
<p>朱砂（另研）　黃連（各半兩）　生地黃（三錢）　當歸　甘草（各二錢）</p>
<p>上為細末，酒泡蒸餅丸如麻子大，朱砂為衣，每服三十丸，臥時津液下。</p>
<p>葉仲堅曰：經曰：神氣舍心，精神畢具。又曰：心者，生之本，神之舍也。且心為君主之官痴妄以養之；安；</p>
<h3>枳朮丸</h3>
<p>（東垣）</p>
<p>治胃虛，濕熱飲食壅滯，心下痞悶。</p>
<p>白朮（二兩，土蒸）　枳實（一兩，麩炒）</p>
<p>上為細末，荷葉煨陳米飯為丸如椒目大，白湯下。</p>
<p>東垣曰：白朮苦甘溫，其苦味除胃中之濕熱，其甘溫補脾家之元氣，多於枳實一倍；枳實味先補營氣矣。</p>
<h3>附錄《金匱》枳朮湯</h3>
<p>治心下硬大如盤，邊如旋杯，水飲所作。</p>
<p>枳實（七枚）　白朮（二兩）</p>
<p>上二味，以水五升，煮取三升，分溫三服，腹中軟即散。</p>
<p>趙以德曰：心下，胃上脘也。胃氣弱，則所飲之水不消，痞結而堅，必強其胃，消其痞。</p>
<p>白</p>
<h3>磁朱丸</h3>
<p>（《千金方》）</p>
<p>治神水寬大漸散，皆如霧露中行，漸睹空中有黑花，睹物成二體，及內障，神水淡綠色、淡磁石（二兩，　）　辰砂（一兩）　神麯（生，三兩，更以一兩水和作餅煮浮，搜入前藥，煉蜜每服十丸，加至三十丸，空心米湯下。</p>
<p>王又原曰：經曰：五臟六腑之精，皆上注於目。則目之能視者氣也，目之所以能視者精也。</p>
<p>則不神藏四收制柯韻伯曰：此丸治癲癇之聖劑。蓋狂痴是心、腎、脾三臟之病。心藏神，脾藏意與智，腎藏也。</p>
<p>所謂之重北方滋陰，於陰，旨乎！</p>
<h3>四神、二神、五味子散</h3>
<h4>四神丸</h4>
<p>治脾腎雙虛，子後作瀉，不思食，不化食。</p>
<p>肉果（二兩）　破故紙（四兩，炒）　五味子（三兩）　吳茱萸（五錢，鹽湯泡過）</p>
<p>上為末，紅棗四十九枚，生薑四兩切，水煮棗熟，去薑，取棗肉，搗和藥丸桐子大，空心鹽</p>
<h4>二神丸</h4>
<p>去茱萸、五味。</p>
<h4>五味子散</h4>
<p>去肉豆蔻、破故紙。</p>
<p>程郊倩曰：命門無火，不能為中宮腐熟水穀，藏寒在腎，誰復司其閉藏？故木氣才萌，不疏之能，五味子有酸收固澀之性，吳茱萸散邪補土，肉豆蔻澀滑益使氣壯，補腎仍是補脾矣。</p>
<p>李士材曰：腎水受時於子，弱土不能禁制，故子後每瀉也。</p>
<p>柯韻伯曰：瀉利為腹疾，而腹為三陰之都會，一臟不調，便能瀉利。故三陰下利，仲景各為膚、為一陰，陰脾虛不辛溫者虛無萸之辛症則同可互用曰四神</p>
<h3>滋腎丸</h3>
<p>治肺痿聲嘶，喉痹，咳血，煩躁。</p>
<p>黃柏（二兩，酒炒）　知母（二兩，酒浸，炒）　肉桂（一錢）</p>
<p>上為細末，熟水丸桐子大。每服五十丸，空心下。</p>
<p>羅東逸曰：此丸為腎家水竭火炎而設。夫水竭則腎涸，腎涸則下泉不鐘，而陽盛於上，斯喉焦苦燥龍歸海，於是坎盈　而流漸長矣。此滋腎之旨也。</p>
<p>柯韻伯曰：水為腎之體，火為腎之用。人知腎中有水，始能制火；不知腎中有火，始能制水所主</p>
<h3>虎潛丸</h3>
<p>治腎陰不足，筋骨痿軟，不能步履。</p>
<p>龜板　黃柏（各四兩）　知母　熟地（各二兩）　牛膝（三兩五錢）　芍藥（一兩五錢）　鎖陽　虎骨　當歸（各一兩）　陳皮（七錢五分）</p>
<p>上為末，煮羯羊肉，搗為丸桐子大，淡鹽湯下。</p>
<p>王又原曰：腎為作強之官，有精血以為之強也。若腎虛精枯，而血必隨之，精血交敗，濕熱搏，君；母愈北方又有焉。</p>
<p>葉仲堅曰：痿原雖分五臟，然其本在腎，其標在肺。《內經》云：五臟因肺熱葉焦，發為痿視為為肺潛之夫潛之必用二者為君，知母清太陰之骨正筋柔矣以溫之。羊</p>
<h3>越鞠丸</h3>
<p>治臟腑一切痰、食、氣、血諸郁，為痛，為嘔，為脹，為利者。</p>
<p>香附　蒼朮　撫芎　山梔仁　神麯水發丸，每服百丸。</p>
<p>季楚重曰：《內經》論木鬱達之五句，前聖治郁之法最詳。所謂郁者，清氣不升，濁氣不降交而由胃焦失梔子清郁導火，於以達肺騰胃而清三焦，尤妙撫芎之辛，直入肝膽以助妙用，則少陽之生氣上朝而營衛和，太陰之收氣下肅而精氣化。此丹溪因五郁之法而變通者也。然五郁之中，金、木尤甚。前人用逍遙散調肝之郁，兼清火滋陰；瀉白散清肺之郁，兼潤燥降逆。要以木上衝即為火，金鬱斂澀即為燥也。如陰虛不知滋水，氣虛不知化液，是又不善用越鞠矣。</p>
<h3>封髓丹</h3>
<p>治夢遺失精，及與鬼交。</p>
<p>黃柏　砂仁　甘草上蜜糊為丸，每服三錢。</p>
<p>趙羽皇曰：經云：腎者主水，受五臟六腑之精而藏之。又曰：腎者主蟄，封藏之本，精之處外溢黃柏至於且能而潤之者唯辛，縮砂通三焦、達津液，能納五臟六腑之精而歸於腎，腎家之氣內，腎中之髓自</p>
<h3>左金丸</h3>
<p>治肝臟火實，左脅作痛。</p>
<p>黃連（六兩，炒）　吳茱萸（一兩，湯泡）</p>
<p>上為末，作丸。</p>
<p>胡天錫曰：此瀉肝火之正劑。肝之治有數種：水衰而木無以生，地黃丸癸乙同源是也；土衰歸脾從其捍</p>
<h3>資生丸</h3>
<p>治婦人妊娠三月，脾虛嘔吐，或胎滑不固。兼丈夫調中養胃，飢能使飽，飽能使飢，神妙難人參（三兩）　云術（三兩）　茯苓（二兩）　山藥（二兩）　薏苡仁（兩半）　蓮肉（二兩）　芡實（白豆蔻（八錢）　桔梗（一兩）　藿香（一兩）　川黃連（四錢）　砂仁（一兩半）　扁豆（一兩半）　山楂（一兩半）</p>
<p>上十八味，為細末，煉蜜丸彈子大。每服二丸，米飲下。</p>
<p>羅東逸曰：此方始於繆仲醇，以治妊娠脾虛及滑胎。蓋胎資始於足少陰，資生於足陽明。</p>
<p>故之芎以補之。</p>
<p>墮。</p>
<h3>脾約丸</h3>
<p>治腸胃燥熱，大便秘結。</p>
<p>麻仁（二升）　杏仁（一斤）　枳實　厚朴　芍藥（各八兩）　大黃（一斤）</p>
<p>上為末，蜜丸，白湯下。</p>
<p>成無己曰：約者，約結之約，又約束也。經曰：飲入於胃，游溢精氣，上輸於脾；脾氣散精得四緩，結者約，理雖</p>
<h3>更衣丸</h3>
<p>治津液不足，大便不通。</p>
<p>朱砂（五錢，研如飛面）　蘆薈（七錢，研細）</p>
<p>滴好酒少許，和丸。每服一錢二分，好酒下。</p>
<p>柯韻伯曰：胃為後天之本，不及痼病，太過亦病。然太過復有陽盛、陰虛之別焉。兩陽合明必更土，色通劑矣夷所</p>
<h3>備急丸</h3>
<p>治寒氣、冷食稽留胃中，心腹痛，大便不通者。</p>
<p>大黃　乾薑（各一兩）　巴豆（一兩，去皮心，熬，研如脂）</p>
<p>先搗大黃、乾薑為末，納巴豆合搗千杵，和蜜丸如豆大，藏密器中勿泄氣，候用。每服三四頭起折齒柯韻伯曰：大便不通，當分陽結、陰結。陽結有承氣、更衣之劑，陰結又制備急之方。</p>
<p>《金立，仲景故用大議及寒</p>
<h3>當歸龍薈丸</h3>
<p>治肝經實火，大便秘結，小便澀滯，或胸膈作痛，陰囊腫脹。凡屬肝經實火，皆宜服之。</p>
<p>當歸　龍膽草　黃連　黃芩　梔子仁（各一兩）　大黃　蘆薈　青黛（各五錢）　木香（二錢上為末，炒神麯糊丸。每服二十丸，薑湯下。</p>
<p>柯韻伯曰：肝為相火，有瀉無補。青黛稟東方之色，入通於肝，大寒之性，所以瀉其實火也瀉火必克旺則此火劑中須也</p>
<h3>四生丸</h3>
<p>治陽盛陰虛，血熱妄行，或吐或衄者。</p>
<p>生地黃　生柏葉　生荷葉　生艾葉（等分）</p>
<p>上四味，搗爛為丸如雞子大、每服一丸，滾湯化服。</p>
<p>柯韻伯曰：心腎不交，則五臟齊損；陰虛而陽無所附，則火炎上焦；陽盛則陽絡傷，故血上盡而震暫血耳</p>
<h3>石斛夜光丸</h3>
<p>治神水寬大漸散，昏如霧露，空中有黑花，及睹物成二，神水淡綠、淡白色者。</p>
<p>天門冬（焙）　人參　茯苓（各二兩）　麥冬　熟地　生地（各一兩）　枸杞子　菟絲子甘菊連防風草決明（八錢）</p>
<p>上為細末，煉蜜丸桐子大。每服三五十丸，溫酒、鹽湯下。</p>
<p>羅東逸曰：此方為陽衰陰弱，不能生精於目而設，故目科與《千金》磁朱丸並重，治證亦同故夫肺虛其主是方陰、培補解結明之</p>
<h3>礞石滾痰丸</h3>
<p>治實熱老痰之峻劑，虛寒者不宜用。</p>
<p>黃芩　大黃（酒蒸，各八兩）　沉香（五錢，忌火）　礞石（一兩，焰硝　過，陳久者佳，新上四味為細末，水丸川椒大，量人大小用之。用溫水一口送過咽，即便仰臥令藥徐徐而下，間稠附應柯韻伯曰：脾為生痰之原，肺為貯痰之器，此無稽之談也。夫脾為胃行其津液，以灌四旁，當曰獨受則知腎有形之質得緣涯而故選金石穢濁不得膩滯而少留，此滾痰之所由名乎！又慮夫關門不開，仍得為老方之色，能內氣歸腎，又能疏通腸胃之滯，腎氣流通，則水垢不留，而不黏著於腸，二黃不傷及於胃，一舉而三善備，所以功效若神也。</p>
<h3>指迷茯苓丸</h3>
<p>治中焦停痰，伏飲。</p>
<p>半夏（制，二兩）　茯苓（一兩）　風化硝（二錢半）　枳殼（五錢）</p>
<p>上四味，薑汁糊為丸。</p>
<p>柯韻伯曰：痰飲之本，皆水也。水入於胃，游溢精氣，上輸於脾，此自陽入陰也；脾氣散精行，於降則滌茯苓滲濕，風硝軟堅，枳殼利氣，別於二陳之甘緩，遠於礞石之峻悍，亦平胃之劑耳！</p>
<h3>大黃蟲丸</h3>
<p>治五勞七傷，內有干血，肌膚甲錯，兩目黯黑。</p>
<p>大黃（十兩，酒蒸）　黃芩（二兩，炒）　甘草（三兩）　桃仁（去皮尖，炒）　杏仁（去皮尖，兩五錢，去翅足，炒）　水足，炒）</p>
<p>上十二味，為末，蜜丸如小豆大，酒服五丸，日三服。</p>
<p>李士材曰：勞傷之症，未有無瘀血者也。瘀之日久，則發為熱；熱涸其液，則干黏於經絡之則無之不統血苦血</p>
<h3>烏梅丸</h3>
<p>治厥陰病消渴，氣上撞心，心中疼熱，飢而不欲食，食即吐蛔。又主久利。</p>
<p>烏梅（三百枚）　黃連（一斤）　細辛　附子（炮）　人參　桂枝　黃柏（各六兩）　乾薑（十上十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核，蒸之五升米下，飯熟，搗成泥，和藥禁柯韻伯曰：六經惟厥陰為難治。其本陰，其標熱，其體木，其用火。必伏其所主而先其所因厥即陽渴；氣中空虛之品；入肝。</p>
<p>腎者肝之以散之苦酒漬蛔，昆因熱用收之，</p>
<h3>平胃散</h3>
<p>治濕淫於內，脾胃不能剋制，有積飲痞膈中滿者。</p>
<p>蒼朮（五斤，泔浸七日）　陳皮（去白）　厚朴（各三斤，薑汁炙）　甘草（三十兩，炙）</p>
<p>上為末，每服三錢，薑湯下，日三服。又水煎，每服七錢。</p>
<p>柯韻伯曰：《內經》以土運太過曰敦阜，其病腹滿；不及曰卑監，其病留滿痞塞。張仲景制削平以平之義第二術白者柔而緩，蒼者猛而悍，此取其長於發汗，迅於除濕，故以蒼朮為君耳。不得以白補氣行則愈，故更以陳皮佐之。甘先入脾，脾得補而健運，故以炙甘草為使。名曰平胃，實調脾雖倍白朮，而消伐過於此方。昧者以術為補，為當久服，不思枳實為峻而不宜多，特未之思耳。</p>
<h3>瓜蒂散</h3>
<p>邪結胸中，胸中痞硬，寸脈微浮，氣上衝咽喉不得息；或心下滿而煩，飢不能食，手足厥冷皆瓜蒂　赤小豆（熬黃，各一合）　香豉（一合）</p>
<p>上二味，別搗為散，取一錢，用香豉一合，熱湯七合，煮作稀糜，去滓，取汁，和散溫服之柯韻伯曰：胸中者，清虛之府。寒邪凝結，內熱不得外達，以至痞硬。其氣上衝，心下煩，喉不得息降，胃陽得達，肺升生發象心，胸中之以三法</p>
<h3>天水散</h3>
<p>（一名益元散，一名六一散）</p>
<p>治夏時中暑，熱傷元氣，內外俱熱，無氣以動，煩渴欲飲，腸胃枯涸者。又能催生下乳。</p>
<p>積桂府滑石（六兩，水飛）　甘草（一兩）　辰砂（三錢）</p>
<p>上為細末，新汲水一碗，調服三錢。</p>
<p>柯韻伯曰：元氣虛而不支者死，邪氣盛而無制者亦死。今熱傷元氣，無氣以動，斯時用參、虛者秉秋上清止渴安，通行催生下乳，積聚、蓄水等症，同乎此義，故兼治之。是方也，益氣而不助邪，傷氣，不負益元之名矣。宜與白虎、生脈三方鼎足可也。</p>
<h3>阿膠散</h3>
<p>治肺虛有火，嗽無津液，咳而哽氣者。</p>
<p>真阿膠（一兩半）　牛蒡子（二錢半，炒）　馬兜鈴（五錢，焙炙）　甘草（五錢　）</p>
<p>杏仁（七上為細末，每服兩許，水煎服。</p>
<p>程郊倩曰：痰帶紅線，嗽有血點，日漸成痿。緣肺處臟之最高，葉間布有細竅，氣從此出入久則力子</p>
<h3>玉屏風散</h3>
<p>治風邪久留而不散者，自汗不止者亦宜。</p>
<p>防風　黃　白朮（等分）</p>
<p>上為細末，酒調服。</p>
<p>柯韻伯曰：邪之所湊，其氣必虛。故治風者，不患無以驅之，而患無以御之；不畏風之不去以驅之清頭目然衛關鍵子以風毛</p>
<h3>五淋散</h3>
<p>治膀胱有熱，水道不通，淋澀不出，或尿如豆汁，或成砂石，或如膏汁，或熱怫便血。</p>
<p>赤茯苓（一錢五分）　赤芍藥　山梔仁（各一錢）　當歸　細甘草（各一錢二分）</p>
<p>上五味，加燈心，水煎服。</p>
<p>柯韻伯曰：經曰腎合膀胱，故腎為水臟，而膀胱為水腑。腎主癸水，受五臟六腑之精而藏能出之溺之根邪氣，而氣即為水，水精四布，下輸膀胱，源清則流潔矣。如淋澀，膏淋豆汁，砂石膿血，而水道為之不利矣。總由化源八正、舟車、禹功、浚川等劑治之，五臟之陰虛，太陽之氣以通上焦之氣，而五志火清；歸、芍滋腎肝，以安下焦之氣而陰陽釐清，則太陽之氣自化，而膀胱水潔矣。此治本之</p>
<h3>失笑散</h3>
<p>治產後心腹絞痛欲死，或血迷心竅，不省人事。</p>
<p>五靈脂　蒲黃（等分）</p>
<p>每服三錢，酒煎服。</p>
<h3>獨聖散（附）</h3>
<p>山楂肉（二兩）</p>
<p>水煎，用童便、砂糖和服。</p>
<p>吳於宣曰：經云心主血，脾統血，肝藏血，故產後瘀血停滯，三經皆受其病，以致心腹疼痛小腹結生用陳致新一味濃疼，更得宜，</p>
<h3>清胃散</h3>
<p>治胃經濕熱，牙齒牙根腫痛，或牽引頭腦，或面發熱。</p>
<p>生地黃　當歸　川黃連　升麻　牡丹皮水煎服。</p>
<p>羅東逸曰：陽明胃多氣多血，又兩陽合明為熱盛，是以邪入而為病常實。若大渴、舌苔、煩腑而本矣。</p>
<h3>龜鹿二仙膠</h3>
<p>大補精髓，益氣養神。</p>
<p>鹿角（血者，十斤）　龜板（自敗者，五斤）　枸杞子（甘州者，二十兩）　人參（十五兩）</p>
<p>上用鉛壇如法熬膠。初服酒化一錢五分，漸加至三錢，空心下。</p>
<p>李士材曰：人有三奇，精、氣、神，生生之本也。精傷無以生氣，氣傷無以生神。精不足者陰氣情，無曰</p>
<h3>瓊玉膏</h3>
<p>治虛勞乾咳。</p>
<p>生地黃（四斤）　白茯苓（十二兩）　白蜜（二斤）　人參（六兩）</p>
<p>上以地黃汁同蜜熬沸，用絹濾過，將參、茯為細末，入前汁和勻，以瓷瓶用棉紙十數層，加懸井中一日，取起，仍煮半日，白湯點服。</p>
<p>李士材曰：乾咳者，有聲無痰，火來乘金，金極而鳴也。此本元之病，非悠游漸漬，難責成肺者精，沉瘵</p>
<h3>附補方藥雜論十七條</h3>
<p>張景岳曰：沽古枳朮丸，以白朮為君，脾得燥而能健，佐以枳實，其味苦峻，有推牆倒壁之之藥東垣平胃散，欲治其不平也。本為胃強邪實者設，故性味從辛燥從苦，而能消散，唯有滯有補中益氣一湯，允為東垣獨得之心法。本方以升、柴助升氣，以參、朮、歸、　助陽氣，此散虧甚者，則升、柴大非所宜。蓋升、柴之味兼苦寒，升柴之性兼疏散，唯有邪者，可因升而散之，若無邪大虛者，即純用培補，猶恐不及，再兼疏散，安望成功？凡補陽之劑，無不能升，正以陽主升也。寇宗　極言五勞七傷，大忌柴胡，而李時珍以為不然。要之能散者，斷不能聚；能泄者，斷不能補；性味苦寒者，斷無扶陽之物。故表不固而汗不斂者，不可用；外無表邪，而陰虛發熱者，不可用；陽氣無根，而格陽戴陽者，不可用；脾肺虛甚，而氣促似喘者，不可用；命門火衰，而虛寒泄瀉者，不可用；水虧火旺，而衄血吐血者，不可用；四肢厥，而陽虛欲脫者，不可用。總之，元氣虛極者不可泄，陰陽下竭者不可升。人但知補神麯、麥芽，雖助戊土以腐熟水穀，然麥芽一味，治婦人喪子，乳房脹痛欲成癰者，用一多，喻嘉言曰：連、芩、柴、芍、知母，皆苦寒之劑，能瀉有餘之火耳！若飲食勞倦，內傷元氣以乘熱內之火熱之之劑發今人見煩熱、枯燥等症，不敢用附子者，惡其以熱助熱也。孰知不藏精之人，腎中陽氣不鼓加沖，真陽暴脫，氣喘痰鳴之急症，同桂、附虞天民曰：血不歸原，責之胃，寒涼屢用不效，唯炙甘草、炮薑輩，引血歸原妙。</p>
<p>失血後大熱大渴，症似白虎，惟脈虛大不長實為異，誤服寒涼必死，當歸補血湯主之。</p>
<p>趙羽皇曰：參者參也，與元氣為參贊者也。不特氣虛宜用，即血虛亦宜用；內傷宜用，外感至食大力滿，二經風寒如胃人豈識豉、瓜蒂之方滑可去著，膽是也；重可鎮翹赤小豆湯是看仲景加減法，當細審其深意。如腹中痛者，少陽加芍藥，少陰加附子，太陰加人參。</p>
<p>若心於加舍之仲景立方，精而不雜。其中以六方為主，諸方皆從而加減焉。凡汗劑皆本桂枝，吐劑皆本梔一十小柴胡方，為半表而設，而其證皆屬於裡。蓋表證既去其半，則病機偏於向裡矣。惟往來寒虛，故於桂枝本為太陽風寒設，可以散六經初感之邪；柴胡本為少陽半表設，更可以調三陽半表之證理，脾為至陰，居中宮而撫四肢，最畏寒邪為患，故仲景制理中、四逆二方。理中者，理中焦，有通生腎主五液，入心為汗，少陰受病，液不上升，所以陰不得有汗。仲景治少陰之表，於麻黃、反汗</p>
<h2>補遺</h2>
<h3>參蘇飲</h3>
<p>（《局方》）</p>
<p>治感冒風寒，咳嗽吐痰，涕唾稠黏，胸膈滿悶，寒熱往來，或頭痛惡寒，脈弱無汗。</p>
<p>人參　蘇葉　干葛　前胡　陳皮　枳殼　茯苓　半夏（各八分）　桔梗　木香　甘草（各五分）　生薑（五片）　大棗（一枚）</p>
<p>上水煎，熱服取汗。</p>
<p>葉仲堅曰：此少陽中風，而寒濕內著之證也。仲景於表劑不用人參，惟少陽寒熱往來，雖有液無不發枳殼，少佐木香以降之；痰涎壅盛於病高者宜下，故不取柴胡之升，而中宮，此薑、棗、甘草之所必須也芎、柴胡，即芎蘇散，則治頭痛、</p>
<h3>香薷飲</h3>
<p>（《局方》）</p>
<p>治暑月乘涼飲冷，陽氣為陰邪所遏，頭痛，發熱，惡寒，煩躁，口渴，腹痛，吐瀉者。</p>
<p>香薷　厚朴　白扁豆（炒）</p>
<p>水煎，浸冷服。</p>
<p>葉仲堅曰：飲與湯稍有別，服有定數者名湯，時時不拘者名飲。飲因渴而設，用之於溫暑，腹溫中加黃加減是重人不</p>
