<header data-type="book">
<h1>傷寒發微論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="許叔微">許叔微</data></dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1080/1154">公元1080年至公元1154年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=88352">哈佛燕京圖書館掃描本</a></dd></div>
</dl>
</header>
<h2>重雕元刻傷寒百證歌發微論敘</h2>
<p>新編張仲景注解傷寒百證歌五卷。發微論二卷。題曰白沙許叔微知可述。直齋書錄解題云。許叔微傷寒歌三卷。凡百篇。皆本仲景注。又有治法八十一篇。仲景脈法三十六圖。翼傷寒論二卷。辨類五卷。皆未見。</p>
<p>四庫提要云。叔微字知可。真州人。紹興二年進士。醫家謂之許學士。不知所歷何官也。案傷寒歌即百證歌。三與五蓋字之誤。翼傷寒論即發微論也。叔微揚州儀徵人。少孤力學。於書無所不讀。而尤邃於醫。建炎初。劇賊張遇破真州。已而疾疫大作。知可遍歷裡門。視病與藥。十活八九。仕至徽州杭州教官。遷京秩。見影宋抄本乾道庚寅張郯序。及獨醒雜志。西溪叢話。張杲醫說。知可所箸類證普濟本事方十卷。宋史藝文志書錄解題。文獻通考。四庫全書。皆箸錄。余僅見於書錄解題。脈法類辨久佚。八十一法當即張月霄藏書志箸錄之傷寒九十論。百證發微。元明以來不甚顯。</p>
<p>四庫未收。阮文達張月霄亦皆未見。惟錢遵王讀書敏求記箸於錄。遵王元刊今歸於余。夫醫家之有仲景。猶儒家之有孔子也。醫書之有傷寒論。猶儒書之有四書也。宋時為其學人。有成無己之注。李檉之要旨。王實之證治。韓祗和之微旨。龐安常之總病論。</p>
<p>朱翼中之活人書。錢聞禮之百問歌。雖皆各有所長。而知可之書。為最能得其意。百證歌七字韻言。意該言簡。發微論探微索賾。妙悟通神。於以嘆知可之學之深且邃。非薄技偏長。執一是之見者所可及也。明萬歷辛亥有喬山堂坊刻。合為四卷。</p>
<p>證以元刊。不但面目全非。竄改亦復不少。此明人刊板之通病。醫書尤甚者耳。余慮其誤俗醫而害人命也。重摹元刻以廣其傳。後之治醫家言者。由是以求仲景之書。庶幾免廢人之誚乎。</p>
<p><u>光緒七年歲在重光大荒落季冬之月既生霸歸安陸心源撰。</u></p>
<h2>卷上</h2>
<h3>論傷寒七十二證候</h3>
<p>循衣摸床（仲景云。傷寒吐下後不解。不大便五六日至十余日。發潮熱。不識人。</p>
<p>循衣妄撮。微喘。直視。脈弦者生。澀者死。華佗曰。病患循衣縫。譫語者。不可治。</p>
<p>仲景云。小便利者可治。）</p>
<p>瞪目直視（仲景云。直視搖頭。此為心絕。又云。狂言反目直視。腎絕也。）</p>
<p>汗出如油（仲景云。脈浮而洪。身汗如油。喘而不休。此為命絕也。）</p>
<p>兩手撮空（仲景云。吐下不解。大便不利。潮熱。摸床撮空。皆宜大承氣。服後脈弦者生。澀者死。華佗云。陰陽俱絕。掣衣撮空妄言者。死也。）</p>
<p>喑啞不言（　病者。如發癇之狀。喑啞不言。千金方。熱病七八日。其脈不軟不散。</p>
<p>當喑啞三四日。汗不出者。死也。）</p>
<p>舌卷囊縮（仲景云。厥陰受病。則舌卷。煩滿。而囊縮。扁鵲云。舌卷囊縮者。必死。千金云。陰陽病。卵腫。縮腹中。舌出數寸而死。）</p>
<p>鼻中煤煙（宋迪陰證訣云。陰毒漸深。則鼻中黑如煤煙。）</p>
<p>指甲黑青（宋迪陰證訣云。陰毒甚。則指甲黑青。扁鵲云。手足爪甲下肉黑者死。）</p>
<p>目盲見鬼（難經云。脫陽者見鬼。脫陰者目盲。）</p>
<p>九竅出血（仲景云。少陰病強發汗。必動血。或從口鼻耳目。是謂下厥上竭。為難治。）</p>
<p>環口黧色（仲景云。環口黧色。柔汗發黃。此為脾絕也。）</p>
<p>轉筋入腹（霍亂證。轉筋入腹者。雞矢白湯主之。）</p>
<p>吃噫噦　（仲景云。寸口脈微而澀。根葉枯槁而寒栗。咳逆。唾。嘔吐涎沫也。又云脈滑則為噦。</p>
<p>仲景傷寒咳逆上氣。其脈散者死。謂其形拍故也。）</p>
<p>膈肉拒痛（仲景云。膈肉拒痛。胃中空虛。心下因硬。則為結胸。此陷胸證也。）</p>
<p>發黃膽熱（萬全云。陽明病。瘀熱在裡。必發黃。凡發黃。寸口無脈。鼻氣冷。皆不可治。）</p>
<p>咽乾聲嗄（狐惑。濕　證也。狐則咽乾。惑則聲嗄。）</p>
<p>口噤（仲景云。　。面赤。目脈赤。搖頭。卒口噤。背反張者。　病也。又風溫被火炙。如驚癇　。萬全云。傷寒　者。由肺熱轉於腎。轉而為痙也。）</p>
<p>筋惕肉　（仲景云。脈微弱。汗出惡風。誤服大青龍湯。令人筋惕肉　。傷寒吐下後。心下逆滿。發汗則動經。身為振搖。）</p>
<p>叉手冒心（仲景云。發汗過多。其人叉手自冒心。心下悸。欲得按者。桂枝甘草湯。仲景云。持脈時。</p>
<p>病患叉手自冒心。所以然者。以重發汗虛。故如此。）</p>
<p>發斑癮疹（陽毒。面赤發斑如錦文者。升麻湯。仲景云。風氣相搏。則為癮疹。身體為癢癢者。名泄風。）</p>
<p>癲狂不定（難經云。重陽者狂。重陰者癲。仲景云。太陽病熱膀胱。其人如狂者。桃核承氣湯。小便利。其人如狂。血證諦也。）</p>
<p>耳聾脅痛（仲景云。少陽受病。胸脅痛而耳聾。仲景云。持脈時。其人叉手自冒心。師因教令咳而不咳。必兩耳無聞也。所以然者。以重發汗虛。故如此。）</p>
<p>上氣喘急（太陽陽明皆有喘證或水停心下。亦喘。陰證喘者。必喘而加急。）</p>
<p>小腹硬滿（小腹硬滿。小便不利者。膀胱有客熱也。小腹硬滿。小便利者。血證也。）</p>
<p>唾膿咯血（仲景云。脈浮熱甚。而反灸之必咽躁咯血。仲景云。吐血不止柏葉湯。）</p>
<p>上吐下利（仲景云。發熱惡寒。而復吐利者霍亂也。）</p>
<p>二便不通（少陰。小便不利者。真武湯。陽明大便不利者。承氣湯。）</p>
<p>振振欲擗她（仲景云。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩身　動。</p>
<p>欲振振擗地者。真武湯。）</p>
<p>遺尿失溺（仲景云。溲便遺失。狂言反目直視。腎絕也。風溫證。下之則直視失溲。）</p>
<p>揚手擲足（太陽中風。以火劫。則手足躁擾。又云。六七日。三部脈至大。手足躁擾者。欲解也。）</p>
<p>譫語鄭聲（仲景云。實則譫語。虛則鄭聲。鄭聲者。重語也。直視譫話。而喘滿者死。）</p>
<p>心下痞靳（仲景云。病發於陰。而下之早。則為痞。）</p>
<p>心中懊　（仲景云。心中懊　。梔子湯主之。）</p>
<p>舌上滑苔（仲景云。濕家。舌上滑苔者。丹田有熱。胸中有寒。又云。藏結滑苔者。</p>
<p>不可攻也。又云。陽明證。懊　。舌上滑苔者。梔子湯。）</p>
<p>腳攣嚙齒（風痹熱證。屬陽也。承氣湯主之。）</p>
<p>臍上下築動（發汗後。臍下悸者。欲作奔豚。）</p>
<p>項強KT　KT　（太陽病項背強KT　KT　。反汗出惡寒者。桂枝湯無汗者。葛根湯也。）</p>
<p>氣上衝胸（太陽病。下之後。其氣上衝者。與桂枝湯。）</p>
<p>外氣怫鬱（二陽並病。小發汗。面色緣緣正赤者。陽氣怫鬱。當解之薰之。怫音拂。）</p>
<p>腳膝攣拳（傷寒脈浮。自汗出。惡寒。腳攣急。反與桂枝湯。此誤也。）</p>
<p>大便黑堅（陽明證。其人喜忘。必有蓄血。所以然者。本以久瘀血。屎須硬。大便反易。其色黑。）</p>
<p>手足逆冷（有熱厥。有冷厥。冷厥者求得病便四肢冷。熱厥者。手足雖冷。半日復熱也。）</p>
<p>漱水不咽（陽明。但欲漱水不咽者。必衄。又濕家。丹田有熱。胸中有寒。渴欲得水而不能飲。口燥煩也。）</p>
<p>額上冷汗（濕家。額上汗出微喘。陰證。亦額上手背皆有冷汗。）</p>
<p>煩躁發渴（太陽。大汗出後。大煩。渴不解。宜白虎加人參湯。）</p>
<p>肉上粟起（太陽病。宜以汗解。反以冷水HT　其熱。卻不得法。彌更益煩。肉上粟起。）</p>
<p>咽喉干痛（傷寒。脈浮。咽中干。痛。而吐逆者。甘草半夏湯主之。又云。少陰證者。必咽痛。）</p>
<p>多眠好睡（此證大約有四。少陰狐惑。風溫及小柴胡證。）</p>
<p>夜不得眠（此證大約有六。具在歌中）</p>
<p>心下悸動（傷寒脈結代。心下悸動者。炙甘草湯主之。）</p>
<p>腹中雷鳴（仲景云。寒氣相搏。則為雷鳴。心下痞硬。脅下有水氣。腹中雷鳴者。生薑瀉心湯證。）</p>
<p>下利溏垢（寒則鳴溏。熱則垢膩。）</p>
<p>潮熱不常（仲景云。潮熱者實也。大抵潮熱有三證。具在歌中。）</p>
<p>寒熱往來（此證有三。一者中風證。小柴胡湯。二者熱入血室證。刺期門。三者狀如溫瘧。黃龍湯證。）</p>
<p>身體腫滿（風濕證。身微腫者。甘草附子湯。）</p>
<p>鬱冒不仁（仲景云。寒則為厥。鬱冒不仁。）</p>
<p>額上脈陷（衄家不可發汗。發汗則額上脈陷。脈緊急。直視不得　。不得眠。　胡絹切。目搖也。）</p>
<p>身重難轉（風濕有搏。桂枝。加白朮證。三陽合病。白虎加人參。柴胡加牡蠣龍骨證。）</p>
<p>鼻中衄血（陽明病。口燥。但欲嗽水不咽者。必衄。衄家不可發汗。宜小乾地黃湯。）</p>
<p>手背冷汗（宋迪云。額上手背有冷汗者。除毒也。）</p>
<p>下利膿血（仲景云。少陰下利便膿血者。桃花湯主之。）</p>
<p>吐逆不止（吐有冷熱二證。有胃熱吐者。有胃冷吐者。）</p>
<p>面垢背寒（中　。則面垢背寒。）</p>
<p>腹脹滿悶（發汗後。腹脹滿者。厚朴五物湯。下後。心煩腹滿。臥起不安者。梔子厚朴湯。又云。不轉失氣而下之。必腹滿。）</p>
<p>咳嗽涎盛（或上焦有熱。或水停心下皆嗽。）</p>
<p>頭疼惡心（頭疼惡心。身不疼痛者。食積也。身疼痛者。傷寒也。）</p>
<p>干噫食臭（胃中不利。心下痞硬。干噫食臭。脅下有水氣者。生薑瀉心湯。無水者食積也。）</p>
<p>身癢如蟲行（陽明病。當汗而反無汗。其身如蟲行皮中之狀。為其久虛故也。）</p>
<p>鼻鳴乾嘔（太陽中風證。鼻鳴乾嘔者。桂枝湯主之。太陽陽明合病。鼻鳴乾嘔者。葛根湯主之。）</p>
<p>洒淅憎寒（仲景云。陰氣上入陽中。則洒淅惡寒也。）</p>
<p>腰脊疼痛（仲景云。一二日太陽受病。則頭項痛。腰脊強。）</p>
<p>腹脅時痛（仲景云。傷寒五六日。中風。或腹中痛。或脅下痞硬者。小柴胡證。又腹中痛。小建中湯。</p>
<p>脅下痛。十棗湯。）</p>
<p>渾身壯熱（仲景云。陽明受病。則身熱目痛。鼻干不得臥。又太陽中風與傷寒皆發熱。）</p>
<p>以上七十二證。或必死。或可治。淺深雖不同。要之對證用藥。斯過半矣。</p>
<h3>論桂枝湯用赤白芍藥不同</h3>
<p>仲景桂枝東加減法。凡十有九證。但云芍藥。聖惠方皆用赤芍藥。孫尚方皆用白芍藥。聖惠乃太宗朝命王懷德等編集。孫兆為累朝醫師。不應如此背戾，然赤白補瀉。極有利害。常見仲景桂枝第四十七證云。</p>
<p>病發熱。汗出。此為榮弱衛強。故使汗出。欲救邪風。宜桂枝湯。蓋風傷衛而邪乘之。則衛強。榮雖不受邪終非適平也。故衛強則榮弱。仲景以桂枝發其邪。以芍藥助其弱。故知用白芍藥也。榮既弱而不受病。乃以赤芍藥瀉之。決非仲景意。至於小建中。為尺遲血弱而設也。舉此皆用白芍藥。而仲景亦止稱芍藥。可以類推矣。</p>
<h3>論傷寒慎用圓子藥</h3>
<p>仲景論中。百一十三方。為圓者有五。理中、陷胸、抵當、麻仁、烏梅是已。理中、陷胸、抵當。</p>
<p>皆大彈圓。煮化而服之。與湯無異。至於麻仁治脾約證。烏梅治濕　證。皆欲必達下部。故用小圓。</p>
<p>其它皆欲入經絡。逐邪毒。破堅癖。導瘀血燥屎之類。須憑湯劑以滌除也。余見俗醫用小圓藥巴豆以下邪毒。而殺人者。不可勝數。蓋巴豆止導食積。而不能去熱毒。既下之後。藏氣虛。而邪毒宛然猶在。更再以大黃朴硝下之。鮮不致斃。大抵下藥。欲其必中。必當一服而止也。故不可不慎歟。</p>
<h3>論桂枝麻黃青龍用藥三證</h3>
<p>仲景論表證。一則桂枝。二則麻黃。三則青龍。桂枝治中風。麻黃治傷寒。青龍治中風見寒脈。</p>
<p>傷寒見風脈。此三者人皆能言之。而不知用藥對病之妙處。故今之醫者不敢用仲景方。無足怪也。</p>
<p>且脈浮而緩者。中風也。故嗇嗇惡寒。淅淅惡風。翕翕發熱。仲景以桂枝對之。脈浮緊而澀者。</p>
<p>傷寒也。故頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘。仲景以麻黃對之。至於中風脈浮緊。傷寒脈浮緩。仲景皆以青龍對之。何也。予嘗深究三者。審於證候。脈息相對。用之無不應手而愈。</p>
<p>何以言之。風傷衛。衛、氣也。寒傷榮。榮、血也。榮行脈中。衛行脈外。風傷衛。則風邪干陽氣。</p>
<p>陽氣不固。發越而為汗。是以自汗而表虛。故仲景用桂枝以發其邪。用芍藥以助其血。蓋中風則病在脈之外。其病稍輕。雖同曰發汗。特解肌之藥耳。故桂枝證云。令遍身　微似有汗者益佳。不可令如水流離。病必不除。是知中風不可大發其汗。大發其汗。則反動榮血。邪乘虛而居其中。故不除也。寒傷榮。則寒邪干陰血。而榮行脈中者也。寒邪居脈中。則非特榮受病也。邪自內作。則並與衛氣犯之。久則浸淫及骨。是以汗不出而煩冤。仲景以麻黃大發其汗。又以桂枝辛甘。而其發散。欲捐其內外之邪。榮衛之病故爾。大抵二藥皆發汗。而桂枝則發其衛之邪。麻黃並與榮衛而治之。固有淺深也。何以驗之。仲景桂枝第十九證云。病嘗自汗出者。以為榮氣和。榮氣和者。外不諧。以衛氣不共榮氣諧和故耳。榮行脈中。衛行脈外。復發其汗。榮衛和則愈。宜桂枝湯。又第四十七證云。發熱汗出者。此為榮弱衛強。故使汗出。欲救邪風。宜桂枝湯。是知中風汗出者。榮和而衛不和也。又第一卷云。寸口脈浮而緊。浮則為風。緊則為寒。風則傷衛。寒則傷榮。榮衛俱病。骨節煩疼。當發其汗。是知傷寒浮緊者。榮衛俱病也。麻黃湯中。並桂枝而用。此仲景之意歟。至於青龍。雖治傷寒見風脈。傷風見寒脈。然仲景云。汗出惡風者。服之則筋惕肉　。故青龍一證尤難用。必須形證諦當。然後可行。王實止以桂枝麻黃各半湯代之。</p>
<p>蓋慎之者也。</p>
<h3>論兩感傷寒</h3>
<p>仲景論兩感傷寒云。凡傷於寒熱。雖甚。不死。若兩感於寒而病者。必死。又云兩感病俱作。治有先後。發表攻裡。本自不同。既云必死。又云治有先後。何也。大抵此病表裡雙傳。臟腑俱受。得此者十不全一。故云必死。然仲景豈以己見而重誣後人哉。故有發表攻裡之說。以勉後世。恐萬世之下。一遇大聖而得之者。不欲絕望於後人也。則仲景仁心可知矣。</p>
<h3>論傷寒以真氣為主</h3>
<p>傷寒不問陰證陽證。陰毒陽毒。要之真氣完壯者易醫。真氣虛損者難治。諺云傷寒多死下虛人。誠哉是言也。蓋病患元氣不固。真陽不完。受病才重。便有必死之道。何也。陽病宜下。真氣弱則下之多脫。陰病宜溫。真氣弱則客熱便生。故醫者難於用藥。非病不可治也。主本無力也。素問稱岐伯云。陽勝則身熱腠理閉。喘粗。為之俯仰。汗不出而熱。齒干以煩冤腹滿死。能（能音耐）。冬不能夏。陰勝則身寒汗出。身常清。</p>
<p>數栗而寒。寒則厥。厥則腹滿死。能夏不能冬。黃帝曰。調此二者奈何。岐伯曰。能知七損八益。則二者可調。</p>
<p>蓋陽勝而汗不出者。傷寒也。陰勝身寒而汗出者。中風也。二者須知七損八益而已。蓋女子二七天癸至。至七七止。男子二八精氣溢。至八八而止。婦人月事以時下。故七欲損。男子精欲滿而不竭。故八欲溢。如此則男子女人身常無病也。自身無病。真氣完固。雖有寒邪。易於用藥。故曰二者可調。是知傷寒以真氣為主。</p>
<h3>論治傷寒須依次第</h3>
<p>仲景論中。雖云不避晨夜。即宜便治。醫者亦須顧其表裡。待其時日。若不循次第。雖暫時得安。損虧五臟。</p>
<p>以促壽期。何足尚也。昔范云為梁武帝屬官。得時疫熱疾。召徐文伯診視。是時武帝有九錫之命。期在旦夕。云欲預盛禮。謂文伯曰。可便得愈乎。文伯曰。便瘥甚易。政恐二年外不復起爾。云曰。朝聞道夕死可矣。</p>
<p>況二年乎。文伯於是先以火　地。布桃柏葉。布席。置云其上。頃刻汗出。以溫粉　之。翌日遂愈。云甚喜。</p>
<p>文伯曰。不足喜。後二年果卒。夫取汗先期。尚促壽限。況罔顧表裡。不待時日。便欲速愈者耶。今病家不耐病。</p>
<p>才病三四日。晝夜督汗。醫者隨情順意。鮮不致斃。故予感此。而以為龜鑒也。</p>
<h3>論仲景緩遲沉三脈</h3>
<p>仲景云。衛氣和名曰緩。榮氣和名曰遲。緩遲相搏。名曰沉。注云緩者四肢不收。遲者身體俱重。沉者腰中直。腹內急痛。若然則三者皆病脈也。安得謂之和。注者乃以脈訣中沉緩遲論之。不知仲景傷寒脈。與雜病脈異。何以言之。上文云衛榮盛為高、章、綱。衛榮弱為　、卑、損。至此三脈謂之和。則不盛不弱。乃平和脈。</p>
<p>蓋傷寒之脈。高、章、綱者陽證類。　、卑、損者陰證類。即是而言。則緩、遲、沉者陰陽向安之脈也。</p>
<p>不特此爾。下文二寸口脈緩而遲。緩則陽氣長。遲則陰氣盛。陰陽相抱。榮衛俱行。剛柔相得。非安平而何。</p>
<h2>卷下</h2>
<h3>論表裡虛實</h3>
<p>傷寒治法先要明表裡虛實。能明此四字。則仲景三百九十七法。可坐而定也。何以言之。有表實。有表虛。</p>
<p>有裡實。有裡虛。有表裡俱實。有表裡俱虛。予於表裡虛實歌中。嘗論其事矣。仲景麻黃湯類。為表實而設也。桂枝湯類。為表虛而設也。裡實則承氣之類。裡虛則四逆理中之類是也。表裡俱實。所謂陽盛陰虛。下之則愈也。表裡俱虛。所謂陽虛陰盛。汗之則愈者也。嘗讀魏志華佗傳。有府吏倪尋、李延共止。俱頭痛身熱。所苦正同。佗曰。尋當下之。延當發汗。或難其異。佗曰。尋外實。延內實。故治之宜殊。此所謂能明表裡虛實者也。</p>
<h3>論桂枝肉桂</h3>
<p>仲景桂枝湯。用桂枝者。蓋取桂之枝梢細薄者爾。非若肉桂之肉濃也。蓋肉桂濃實。治五臟用之者。取其鎮重也。桂枝輕揚。治傷寒用之。取其發散也。今人例用之。是以見功寡。</p>
<h3>論滑脈</h3>
<p>仲景云。翕、奄沉。名曰滑。沉為純陰。翕為正陽。陰陽和合。故名曰滑。古人論滑脈。雖云往來前卻。流利展轉。</p>
<p>替替然與數相似。曾未若仲景三語而足也。翕、張也。言脈升而開張也。忽焉而沉。言脈降而復也。奄、言奄忽之間。與奄觀　艾同義。仲景論滑脈。可謂諦當矣。然其言雅。恐淺識者未易曉。</p>
<h3>論用大黃藥</h3>
<p>大黃雖為將軍。然蕩滌蘊熱。推陳致新。在傷寒乃為要藥。但欲用之當爾。大柴胡湯中不用。誠脫誤也。王叔和云。若不加大黃。恐不名大柴胡。須是酒洗生用為有力。昔後周姚僧坦名善醫。帝因發熱。欲服大黃。</p>
<p>僧坦曰。大黃乃是快藥。然至尊年高不宜輕用。帝弗從。遂至危篤。及元帝有疾。召諸醫。咸謂至尊至貴。不可輕脫。宜用平藥。可漸宣通。僧坦曰。脈洪而實。此有宿食。非用大黃。必無差理。元帝從之。果下宿食而愈。</p>
<p>此明夫用與不用之異也。</p>
<h3>論陰不得有汗</h3>
<p>仲景第四卷十七證云。脈雖沉緊。不得為少陰病。所以然者。陰不得有汗。今頭汗出。故知非少陰也。又云脈陰陽俱緊。而又汗出。為亡陽。此屬少陰。大抵陰虛者多汗。而此言陰不得有汗。何也。余嘗深究虛汗之證。亦自有陰陽之別。陽病自汗有九證。皆有治法。唯陰毒則額上手背有冷汗。甚者如水洗。然此是陽虛陰盛。亡陽而將脫也。其死必矣。仲景此篇。方論半在表。半在裡。故先曰汗出為陽微。此則虛汗。陽微故也。</p>
<p>非陰證無汗。不得有汗也。有汗則九死一生。由是言之。陽得有汗。陰不得有汗。以意逆志。是為得之。</p>
<h3>論林億疑白虎有差互</h3>
<p>仲景稱傷寒。若吐下後七八日不解。熱結在裡。表裡俱熱者。白虎加人參湯主之。又云傷寒脈浮。發熱無汗。其表不解。不可與白虎湯。又云。脈浮滑。此以表有熱裡有寒。白虎湯主之。國朝林億校正。</p>
<p>謂仲景於此表裡自差矣。是大不然。大抵白虎能除傷寒中　。表裡發熱。故此前後二證。或云表裡俱熱。或云表熱裡寒。皆可服之宜也。中一證。稱表不解不可服者。蓋以脈浮無汗發熱。此全是傷寒表證。宜麻黃葛根之類也。安可用白虎。億但見所稱表裡不同。便謂差互。是亦不精不思之過也。</p>
<h3>論弦動陰陽二脈不同</h3>
<p>仲景云。脈，大浮數動滑。此名陽也。脈，沉澀弱弦微。此名陰也。脈訣以動脈為陰。以弦脈為陽。</p>
<p>何也。此是開卷第一行疑處。而世人不知講。予謂脈訣所言。分七表八裡而單言之也。此之所論。</p>
<p>兼眾脈而合言之也。大抵雜病各見一脈。唯傷寒必兼眾脈而見。何以言之。仲景之意。若曰浮大者陽也。兼之以動、數、滑之類。安得不為陽。沉細者陰也。兼之以澀弦數之類。安得不為陰。故仲景論動脈。則曰陽動則汗出。陰動則發熱。數脈見於關上。上下無頭尾如豆大。厥厥動搖。名曰動也。</p>
<p>又結胸證云。脈浮而動。浮則為風。動則為痛。故兼數與浮而言動脈。則陽脈陽病也宜矣。仲景論弦脈。則曰弦者狀如弓弦。按之不移。弦則為減。又曰。支飲急弦。又少陰證云。手足寒。脈弦遲。</p>
<p>故此兼遲而言。弦則為陰脈陰病也宜矣。故仲景傷寒脈。不可與雜病脈同日而語。今陽證往往浮大。</p>
<p>而厥厥動搖。其沉細而弦者。必陰證也。何疑之有哉。不特此也。至如曰高、曰章、曰綱、曰　、曰卑、曰損。有縱有橫。有逆有順。趺陽太谿之類極多。予嘗撰仲景三十六種脈法圖。故知治傷寒。當以仲景脈法為本。</p>
<h3>論中風傷寒脈</h3>
<p>仲景以浮緩脈為中風脈。浮澀而緊。為傷寒脈。中風有汗。傷寒無汗。何也。內經云。</p>
<p>滑者陰氣有餘也。澀者陽氣有餘也。陽氣有餘。則身熱無汗。陰氣有餘。則多汗身寒。</p>
<p>大抵陰陽欲其適平而已。陽氣不足。陰往乘之。故陰有餘。陰氣不足。陽往從之。故陽有餘。風傷於衛。則榮不受病。故陽不足而陰有餘。是以中風脈浮而緩。必多汗也。寒傷於榮。則衛未受病。故陰不足而陽有餘。是以傷寒脈浮澀而緊。亦為無汗也。仲景辨二者脈證。亦有所受者矣。</p>
<h3>論表證未罷未可下</h3>
<p>仲景云。凡傷寒之病。多從風寒得之。始表中風寒。入裡、則不消矣。擬欲攻之。當先解表。</p>
<p>乃可下之。若表已解而內不消。大滿大實堅有燥屎。自可除下之。雖四五日不能為禍也。不宜下而便攻之。內虛熱入。協熱遂利。煩躁諸變。不可勝數。輕者困篤。重者必死矣。（元本重復、淺識者難曉。</p>
<p>故予刪正此一段。而其理易明也。）大抵風寒入裡不消。必有燥屎。或大便堅秘。須是脈不浮。不惡風寒。表證罷。乃可下之。大便不通。雖四五日。未能為害。若罔顧表而便下之。遂為協熱利也。</p>
<h3>論中暑脈不同</h3>
<p>仲景云。脈虛身熱。得之傷暑。又云。其脈弦細芤遲。何也。素問曰。寒傷形。熱傷氣。蓋傷氣而不傷形。則氣消而脈虛弱。所謂弦細芤遲。皆虛脈也。仲景以弦為陰。而朱肱亦云。中暑脈細弱。</p>
<p>則皆虛脈也可知矣。</p>
<h3>論傷寒須早治</h3>
<p>仲景云。凡作湯藥。不可避晨夜。覺病須臾即宜便治。不等早晚。則易愈矣。如或差遲。病即傳變。</p>
<p>雖欲除治。必難為力。今之醫者不究根源。執以死法。必汗之於四日之前。必下之於四日之後。</p>
<p>殊不知此大綱也。又云。甚者。病不服藥。猶得中醫。此為無醫處而設也。苟大小便不通。可待其自瘥乎。蓋前後不得溲。必腹脹。不過數日而死矣。又況結胸瘀血。發狂發黃發斑之類。未有勿藥而喜者。</p>
<p>智者知變。愚者執一。所以取禍也。須是隨病淺深。在表在裡。早為治療。如救火拯溺。庶易瘥也。</p>
<p>素問云。邪風之至。疾如風雨。故善治者治皮毛。其次治肌膚。其次治筋脈。其次治六腑。其次治五臟。治五臟者半死半生也。扁鵲望齊桓侯而走者。其以此歟。</p>
<h3>論發熱惡寒</h3>
<p>仲景云。假令寸口脈微。名曰陽不足。陰氣上入陽中。則洒淅惡寒也。尺脈弱。名曰陰不足。陽氣下陷入陰中。則發熱也。此謂元受病而然也。又云。陽微則惡寒。陰弱則發熱。此醫發其汗。使陽氣微。又大下之。令陰氣弱。此謂醫所病而然也。大抵陰不足。陽往從之。故陽內陷則發熱。陽不足。陰往乘之。故陰上入陽中。則惡寒。陰陽不歸其分。故寒熱交爭。是以發熱而惡寒也。故孫思邈云。有熱不可大攻之。熱去則寒至矣。</p>
<h3>論風溫證</h3>
<p>仲景云。太陽病發熱而渴。不惡寒者。為溫病。若發汗已。身灼熱者。名風溫。風溫為病。脈陰陽俱浮。自汗出。</p>
<p>身重多眠。睡、鼻息必鼾。語言難出。若被下者。小便不利。直視。失溲。若被火者。微發黃色。</p>
<p>劇、則如驚癇。時　。又云。陽脈浮滑。陰脈濡弱。更遇於風。變成風溫。大抵溫氣大行。更感風邪。則有是證。今當春夏。病此者多。醫作傷寒漏風治之。非也。不可火。不可下。不可大發汗。而仲景無藥方。古法或謂當取手少陰火。足厥陰木。隨經所在而取之。如麻黃薏苡仁湯、葳蕤湯之輩。予以謂敗毒。獨活。續命。減麻黃去附子。益佳。</p>
<h3>論溫瘧證</h3>
<p>仲景云。若脈陰陽俱盛。重感於寒者。變成溫瘧。故朱肱初虞世以小柴胡白虎之類加桂以治之。此則仲景所謂溫瘧。瘧之一證也。今庸醫見前人有此治法。不問是何瘧證。但見發寒發熱。</p>
<p>一概治之。疏矣。大抵瘧證多端。有暑瘧、有食瘧、癉瘧、脾寒。而千金又有五臟所受不同。六腑之中止有胃瘧一證。種類最多。安得一概而論。癉瘧者但熱不寒。當用白虎。食瘧者中有伏積。</p>
<p>當下而去之。至於中暑、脾寒。此二證。若水火相反。素問曰。夏傷於暑。秋為　瘧。又曰。夏暑。汗不出者。秋成風瘧。蓋暑伏於中。得秋氣乃發。故先熱後寒。熱多寒少。頭昏痛。虛則發戰。汗出。一時乃止。蓋心惡暑。心不受邪。而包絡受之。包絡眾涎所聚。暑伏於涎。心、豈若脾寒。厚朴草果所能祛也。豈若溫瘧。柴胡黃芩所能除也。非砒沙腦麝之屬不能入。故暑瘧脾寒。</p>
<p>患者多。而醫不識病。妄投以藥。邪未退。真氣先受病。所以連綿不瘥也。予曾精意深究瘧病一科。須是辨脈察證。窮究得病之淵源。故十治十中。無有失者。眾人以瘧為難治。予獨以為易。</p>
<p>要在辨其種類。識其先後。素問瘧論。甚有妙處。當思而得之。</p>
