<header data-type="book">
<h1>質疑錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張介賓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1688">公元1688年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>醫無一定之法，而有一定之理。理無可疑，則雖庸工一得，斷不以人廢言；理有可疑，則雖前代宗匠，奕祀之所奉為典型者，亦不護其所短，必為之摘發其萬一，以質諸天下後世。蓋醫以寄生死，故不得不闡發其精微，深探其義蘊。此會稽張景岳先生《質疑錄》一書之所由作也。粵稽軒、岐二聖，化天地身，發菩提愿，著《靈樞》、《素問》諸經，創立醫道，而斯民已登諸仁壽之域，厥德溥已；春秋時秦越人復有《難經》之作，漢文帝與淳於意問答若干條；臟腑之表裡陰陽，病證之寒溫虛實，言中機宜，了如指掌。此即後代質疑之權輿乎！厥後張仲景、劉河間、李東垣、朱丹溪四先生，後先踵起，著述最富，或精於傷寒，或工於雜證，各立一家言，發前人之未發，大暢宗風，遂令醫之一道，如日月經天，江湖麗地，昭垂宇宙，亙古如新。後之工於醫者，又何疑之可質乎？雖然，愚者千慮，豈無一得？智者千慮，豈無一失？況醫如用兵然，奇正變化，運用從心，不離乎法，而亦不泥乎法，豈得為前賢章句所埋，遂寄人籬下，而不思所以變通之也哉！先生天姿卓絕，復殫人工，其於岐黃之術，不啻三折肱矣，浙東西何止活萬人！取先聖之經，以辨前賢之誤。如傷寒一證，必辨虛實，攻補兼施，而不泥「傷寒無補法」之一言；中風則必辨十二經之見證，而不以治傷寒之法治之；血證必先清外感，次理內傷，而不泥潔古「見血無寒」之語。可疑者諸如此類，先生一一搜剔之，真可謂善讀古人之書矣。楷生也晚，不獲親炙先生之門，然至今讀其遺書，雖不能至心，竊向往之，篝燈披閱，以是質諸軒岐也可，質諸四大家也可，即以是質諸天地鬼神，亦無不可。於是知先生之為功，於天下萬世也大，而工於醫者，庶可以無疑矣。因先光梨棗，以公諸海內，若先生全集中，更有《雜證謨》、《傷寒典》、《婦人規》、《傳忠錄》、《本草類考》等書，嗣當謀諸同志君子，次第梓行，以共欣賞焉！</p>
<p><u>時康熙歲在丁卯蒲月東海石楷謹識</u></p>
<h2>張景岳傳</h2>
<p>二十年來，醫家之書盛行於世者，張景岳《類經》，趙養葵《醫貫》。然《醫貫》一知半解耳！</p>
<p>《類經》明岐黃之學，有王冰之所未盡者，即學士大夫，亦必累月而後能通之。昔在戊寅，曾於張平子座上識景岳，蓋交臂而失之。己酉寓證人書院，有蔣一玖者，年八十矣，欲為其舅作傳，則景岳也。景岳名介賓，別號通一子，越之山陰人也。其父為定西侯客。介賓年十四，即從游於京師，天下承平，奇才異士集於侯門。介賓幼而　齊，遂遍交其長者。是時金夢石工醫術，介賓從之學，盡得其傳。以為凡人陰陽，但以血氣、臟腑、寒熱為言，此特後天之有形者，非先天之無形者也。病者多以後天戕及先天，治病者但知有形邪氣，罔顧無形元氣。自劉河間以暑火立論，專用寒涼，其害已甚，賴東垣論脾胃之火，必務溫養，救正實多。丹溪出，立陰虛火動之論，寒涼之弊又復盛行，故其注本草，獨詳參、附之用。又慨世之醫者，茫無定見，勉為雜應之術，假兼備以幸中，借和平以藏拙。虛而補之，又恐補之為害，復制之以消；實而消之，又恐消之為害，復制之以補。若此者，以藥治藥尚未遑，又安望其及於病耶？幸而偶愈，亦不知其補之之力，攻之之力耶？及其不愈，亦不知其補之為害，消之為害耶？是以為人治病，沉思病原，單方重劑，莫不應手霍然。一時謁病者，輻輳其門，沿邊大帥，皆遣金幣致之。其所著《類經》，綜核百家，剖析微義，凡數十萬言，歷四十年而後成。西安葉秉敬謂之「海內奇書」。班孟堅贊孝宣之治政事，文學法理之士，咸精其能，至於技巧工匠器械，自元成間，鮮能及之！介賓此書，若非遭遇神宗之盛，亦莫能有也。又以應病如應敵，作《新方八陣》，為《八略》以破之。惜其書晚出，尚藏於家。介賓博學，於醫之外，象數、星緯、堪輿、律呂，皆能究其底蘊。在遼陽道中，聞御馬者歌聲聒耳，介賓曰：此惡聲也，不出五年，遼其亡矣。已而言驗。所親問以近事，介賓曰：我夜觀乾象，宮車殆將晏駕，天下從此亦亂矣。未幾，神宗崩。介賓遂返越，其年五十八，又二十年始卒。卒之日自題其像，召三子而誨之。其門人曰：先生乃死耶！吾先生故有不死者。介賓莞爾而逝。自太史公傳倉公，件系其事，後之儒者，每仿是體，以作名醫之傳。戴九靈、宋景濂其著也，而名醫亦復自列其事，存為醫案，以待後人遇有病之相同者，則仿而治之，亦盛心也。世風不古，以醫負販其術，無異於裡閭俗師也，而不肯以裡閭俗師自居，雖復殺人如草，亦點綴醫案以欺人。介賓醫案，散在《景岳全書》，予不敘於篇，惡夫蹈襲者之眾也。趙養葵名獻可，寧波人，與介賓同時，未嘗相見，而議論往往有合者。</p>
<p><u>姚江黃宗羲太衝父撰</u></p>
<h2>綜概</h2>
<p>醫道肇於軒岐，而著書立言以發明之者，莫如張、劉、李、朱為最，以至陶、王、陳、薛，各有闡述，然亦有不能無弊者。如一言之謬戾，每遺禍於後人，是不得不取而辨論之，以正其失，非敢妄訾乎前賢也。將以為質疑之一助云爾！</p>
<h2>論傷寒無補法</h2>
<p>傷寒千態萬狀，只虛實二字盡之。一實一虛，則邪正相為勝負，正勝則愈，邪勝則死。若正氣實者，即感大邪，其病亦輕；正氣虛者，即感微邪，其病亦甚。故凡氣實而病者，但去其邪，攻之無難，所可慮者，惟傷寒挾虛為難耳！最可恨者，有曰「傷寒無補法」，惑亂人心，莫此為甚。獨不觀仲景立三百九十七法，脈症之虛寒者一百有餘；定一百十三方，用參者三十，用桂、附者五十余。孰謂傷寒無補法耶？矧今人患挾虛傷寒者，十嘗六七，傳誦「傷寒無補法」者，十之八九，虛而不補，且復攻之，不可勝紀。故力辨之，欲以救時弊，非好補也。即如表邪不解，屢散之而汗不出者，中虛無力，陰氣不能達也。不知汗生於陰，補陰最能發汗。又如身熱不退，屢清之而熱猶熾者，陰不足也。人知惟寒可以去熱，不知滋陰方能降火也。又如正氣不足，邪氣有餘，正不勝邪，病必不解，但實中氣，使正氣內強，逼邪外出，榮衛漸平。此不散表而表自解，不攻邪而邪自退。今人不識虛實，見發熱胸悶不退，動手便攻，邪氣未去，而正氣因攻先敗。此皆守「傷寒無補法」一言誤之也。</p>
<h2>論真中風外有六經之形症</h2>
<p>中風證宜從潔古、東垣之論，以中臟、中腑、中血脈為辨證之的。潔古云：中腑多著四肢，中臟多滯九竅。東垣亦云：中腑則肢節廢，中臟則性命危，中血脈則口眼　斜。而方書所載，混言外有六經之形症，以大小續命湯為主。夫人身臟腑有十二經，手有三陽三陰，足有三陽三陰。中風之有六經形症也，手之六經乎？抑足之六經乎？六經之症，惟傷寒有之。或謂中風六經形症，即是傷寒六經形症，至有引傷寒六經之症，以解中風六經之症。其言為大可嗤也。夫傷寒六經症，只傷足而不傷手，故一日巨陽，則有發熱、惡寒、頭項痛、腰脊強之症，而中風無有也；二日陽明，則有身熱、目痛、鼻干、不得眠之症，而中風無有也；三日少陽，則脅痛、耳聾、口苦、寒熱往來而嘔之症，而中風無有也。此足三陽之見症也。至傳入足三陰，四日有腹滿、咽乾、自利、不渴、腹痛之症，是足太陰之見症，而中風有之乎？五日有引衣蜷臥、舌乾、口燥之症，是足少陰之見症也，而中風有之乎？六日有煩滿、囊縮之症，是足厥陰之見症也，而中風有之乎？傷寒六經次第傳變，故仲景有麻黃、桂枝、大小承氣之法，若中風為猝暴病，一時猝倒昏迷，難分經絡，而有臟腑、血脈之別，或中於足之六經，或中於手之六經，非若傷寒之有次第傳焉者也。若謂中風六經形症，即是傷寒六經形症，是欲以治傷寒之法治中風，其不至於殺人也幾希矣！若論中風，則十二經皆有見症，而不止於六經也。如四肢不收、手足拘攣者，風中足太陰脾也；口眼　斜、口噤不開，風中足陽明胃也；痰涎壅塞，聲如曳鋸，風中手太陰肺也；大便閉結，風中手陽明大腸也；舌喑不語，風中足少陰腎也；目瞀昏迷、不省人事，風中手少陰心與手厥陰包絡也；螈　強直、角弓反張，風中足厥陰肝與足太陽膀胱也；耳聾、脅痛，風中足少陽膽也。此皆中風之形症，豈可以六經拘之乎？其不同於傷寒之六經也明矣！</p>
<h2>論中風半身不遂在左屬血在右屬氣</h2>
<p>《內經》但言左右者，陰陽之道路，未嘗以人身之氣血分左右也。人之氣血，周流於一身，氣如橐　，血如波瀾，氣為血行，血為氣配，陰陽相維，循環無端，何嘗有左右之分？自丹溪論中風症，半身不遂分左右，謂在左者屬血虛，以四物為主，加竹瀝、薑汁；在右者屬氣虛，以四君為主，加竹瀝、薑汁。夫以脾肺在右，而右半身不遂者，主乎脾肺之為病；腎肝在左，而左半身不遂者，主乎腎肝之為病則可。若必主乎在右屬氣，在左屬血，豈血僅行於左，而右半身無血；氣僅行於右，而左半身無氣？是氣血在人身，已分離而不相屬矣。夫氣主　之，血主濡之；氣行則血行，氣滯則血滯。血與氣原相維，而何有左右之分？世醫執此，以分左右氣血治中風半身不遂之症，未有能愈人者也。果屬血虛，亦當補氣，以氣有生血之功；果屬氣虛，亦當養血，以血有和氣之力。若血自血，氣自氣，則陰陽乖格，豈云治病之權衡乎？</p>
<h2>論肝無補法</h2>
<p>（凡一切　癖、　瘕、痞氣、奔豚，腹中如杯如盤者，皆肝虛、金衰、木橫之病，當滋腎水以救之，切不可用疏利伐肝之劑。）</p>
<p>足厥陰肝為風木之臟，喜條達而惡抑郁，故經云木鬱則達之是也。然肝藏血，人夜臥則血歸於肝，是肝之所賴以養者，血也。肝血虛，則肝火旺；肝火旺者，肝氣逆也。肝氣逆，則氣實，為有餘；有餘則瀉，舉世盡曰伐肝，故謂「肝無補法」。不知肝氣有餘不可補，補則氣滯而不舒，非云血之不可補也。肝血不足，則為筋攣，為角弓，為抽搐，為爪枯，為目眩，為頭痛，為脅肋痛，為少腹痛，為疝痛諸症。凡此皆肝血不榮也，而可以不補乎？然補肝血，又莫如滋腎水。水者，木之母也，母旺則子強，是以當滋化源。</p>
<p>若謂「肝無補法」，見肝之病者，盡以伐肝為事，愈疏而愈虛，病有不可勝言矣。故謂「肝無補法」者，以肝氣之不可補，而非謂肝血之不可補也。</p>
<h2>論見血無寒</h2>
<p>世人患吐衄者多，而潔古則曰：見血無寒。東垣亦云：諸見血皆責於熱。丹溪亦曰：血無火不升。三家之論出，而世之治吐衄者，皆以滋陰降火為法矣。豈知《內經》論血溢、血泄，六淫皆有，故《綱目》序失血症，獨載運氣六淫之邪。王海藏云：六氣能使人失血，不獨一火。此語大發千古聾聵。夫六氣使人失血，此為外感之邪言也。</p>
<p>然外邪之來，未有不由於內傷者。如憂愁思慮則傷心，飲食勞倦則傷脾，持重遠行則傷肝，形寒飲冷則傷肺，入房過度則傷腎。五臟有傷，而後外邪乘虛襲入。故凡治失血，必先審其為風、為寒、為暑、為濕、為燥、為火，先清外感，次理內傷，則邪易伏而易療。若不先治標，而即救本，凡一切失血專主一火，日事芩、連、知、柏、山梔、生地、丹皮為治，未見其能愈人也。血得熱則行，得寒則凝。寒涼之劑日進，而血之屢止屢發者，往往而劇。此吐血之病之死，不死於病而死於醫也。悲哉！</p>
<h2>論無痰不作眩</h2>
<p>眩者，頭暈也，眼有黑花，如立舟車之上，而旋轉者是也。劉河間專主於火，謂肝木自病。經云：諸風掉眩，皆屬於肝。肝風動而火上炎也。故丹溪嘗言無火不生痰，痰隨火上，故曰無痰不作眩。夫眩，病也。痰，非病也。痰非人身素有之物。痰者，身之津液也。氣滯、血凝，則津液化而為痰，是痰因病而生者也。若云無痰不作眩，似以痰為眩病之本矣。豈知眩暈之來也，有氣虛而眩，有血虛而眩，有腎虛而眩。氣虛者，陽氣衰乏，則清陽不上升。經云：上氣不足，頭為之苦傾是也。血虛者，吐衄、崩漏、產後血脫，則虛火上炎，眼生黑花。</p>
<p>經云：肝虛則目　無所見是也。腎虛者，房欲過度，則腎氣不歸元而逆奔於上。經云：　蒙招尤目瞑，上實下虛，過在足少陰、巨陽。又云：髓海不足，目為之眩是也。風火之眩暈屬外感，三虛之眩暈本內傷。其云痰而作眩者，必內外合邪而後痰聚而為害，非竟主乎痰而可以為眩也。若一純攻痰，而不大補氣血、壯水滋陰，以救其本，病未有不斃者也。</p>
<h2>論無痰不作瘧</h2>
<p>瘧者，風、寒、暑、濕之邪，為外感三陽經病。故經云：夏傷於暑，秋成風瘧。或先傷於寒，而後傷於風，則先寒後熱；或先傷於風，而後傷於寒，則先熱後寒。病屬三陽，而寒熱往來，則以少陽一經為主。</p>
<p>初非有痰，以為瘧邪之根也。瘧邪隨人身之衛氣為出入，故有遲早、一日間日之發，而非痰之可以為瘧也。何也？人身無痰，痰者，人身之津液也。隨其邪之所在，而血凝、氣滯、停飲、宿食，則津液即化為痰，是痰從邪氣而成病者也。乃嚴用和論瘧，謂「無痰不作瘧」，若指痰為瘧邪之主，反以瘧邪為痰病之客矣。豈有人身津液變痰，而為寒為熱以成瘧者乎？痰本因瘧邪以生，而非因痰以有瘧邪者。如痰生於脾，脾惡濕則痰動；痰本於腎，腎陰虛則水泛。瘧病之痰，痰因風寒之邪而生者也。豈有無痰而便不作瘧者乎？至楊仁齋、許叔微，更有以瘀血、停涎、黃水主為瘧病之根，而後之治瘧者，均以常山、草果、檳榔、砒信，為吐痰、消瘀、截瘧之法，徒戕人元氣，而敗脾傷胃，以致夭枉也。</p>
<h2>論諸痛不宜補氣</h2>
<p>《靈樞》云：病痛者，陰也。又云：無形而痛者，陰之類也。其陽完而陰傷之也，急治其陽，無攻其陰。夫陽者，氣也，是痛病當先治氣。顧氣有虛有實。實者，邪氣實。虛者，正氣虛。邪實者，以手按之而痛，痛則宜通。正虛者，以手按之則止，止則宜補。丹溪猥云：諸痛不宜補氣。夫實者，固不宜補，豈有虛者而亦不宜補乎？故凡痛而脹閉者多實，不脹不閉者多虛；痛而喜寒者多實熱，喜熱者多虛寒；飽而甚者多實，飢則甚者多虛；脈實氣粗者多實，脈虛氣少者多虛；新病壯年者多實，愈攻愈劇者多虛。痛在經者脈弦大，痛在臟者脈沉微，兼脈症以參之，而虛實自辨。是以治表虛痛者，陽不足也，非溫經不可；裡虛痛者，陰不足也，非養榮不可；上虛而痛者，心脾受傷也，非補中不可；下虛而痛者，脫泄亡陰也，非速救脾腎溫補命門不可。凡屬諸痛之虛者，不可以不補也。有曰「通則不痛」，又曰「痛隨利減」。人皆以為不易之法，不知此為治實痛者言也。故王海藏解「痛利」二字，不可以「利」為「下」，宜作「通」字訓。此說甚善。明哲如丹溪徒曰：「諸痛不可補氣」，則失矣。</p>
<h2>論關格是脈而非症</h2>
<p>《素問》云：人迎與氣口俱盛四倍以上，為關格。格之脈羸，不能極於天地之精氣，則死。《靈樞》云：邪在六腑則陽脈不和，不和則陽脈盛；邪在五臟則陰脈不和，不和則陰脈盛。陽氣太盛則陰氣不得相營，故曰關；陰氣太盛，則陽氣不得相營，故曰格。關格者，不得盡命而死。此《靈》、《素》之論關格，以脈言，而非症也。自仲景宗之，而謂在尺為關，在寸為格。關則不得小便，格則吐逆。夫人迎四倍，寸口四倍。</p>
<p>則非尺寸之謂，而曰吐逆者，此隔食症也。曰不得小便者，此癃閉症也。自此叔和以後，俱莫能辨，悉以尺寸言關格。而潔古則曰：寒在上，熱在下。夫脈兩寸俱盛四倍以上，而可謂之寒在上、熱在下乎？東垣則以清氣反行濁道曰格，濁氣反行清道曰關。丹溪但言膈中覺有所礙，不能升降，是有格而無關。元方以大小便不通為關格，其說尤為舛錯。後丹溪竟以關格立症分門，致後學茫然莫辨。獨馬元台力辨諸子之非，謂關格非隔食、癃閉之症。夫巢、張、李、朱為醫之宗，尚與《內經》相乖，況下工？豈知關格為脈體，而非病名者哉！</p>
<h2>論疝不當專屬肝經病</h2>
<p>巢氏序疝症，有厥疝、寒疝、氣疝、盤疝、　疝、狐疝、瘕疝之名。子和非其謬立名色，以環陰器、抵少腹者，屬足厥陰肝經部，是受疝處也。故凡疝，非肝木受邪，則肝木自甚，皆屬肝經，因立七疝之名，曰：寒、水、氣、狐、筋、血、　，治多用下法。丹溪以來，皆宗其說，而亦未得也。夫前陰小腹間，乃足三陰、陽明，衝、任、督三脈所聚，豈得獨以厥陰經為言？但如本篇六疝，皆兼言風者，本非外入之風，風屬肝，肝主筋，故凡病各經之疝，謂其病多在筋，皆挾肝邪則可，若謂必在厥陰一經，則不可也。</p>
<h2>論疝與腎經絕無相干</h2>
<p>以肺在上屬陽，腎、肝在下屬陰。腎者，肝之母；肝者，腎之子。腎肝同病，乙癸同源之義也。故凡肝經有病，必推化源與腎。如疝為足厥陰肝經病，以其環陰器、抵少腹、控睪丸，而為痛者，皆肝之所屬也。而《素問》又云：腎脈主病，從少腹上衝心而痛，不得前後，為沖疝。則疝未嘗不本於腎經為病者，何丹溪乃曰疝主肝經，與腎經絕無相干？夫腎，水臟也，膀胱為之腑。膀胱為寒水所化，疝本寒濕之氣所感，以寒召寒，其邪最速，而腎與膀胱為表裡。經云：諸寒收引，皆屬於腎。故疝之攣急而上衝心胃者，正腎邪之為病也。見今人病疝，一有房勞，則其病便發而不止。故《聖濟總錄》云：嗜欲勞傷，腎水涸竭，無以滋榮肝氣，則留滯內結，發為陰疝，是疝之發於腎虛者多。若治疝不從化源，而日以伐肝疏導從事，則病益劇而難療。臨是症者，當以丹溪之言，專主肝經與腎虛而致者甚多，以參、朮為君，疏導藥佐之為得，而不可執腎經無干之言為據也。</p>
<h2>論三消有寒不專主火</h2>
<p>觀劉河間三消論，一皆以燥熱太甚。張子和三消，俱從火斷。二公之言詳矣。然《內經》又曰：心移寒於肺，為肺消，飲一溲二，死不治。此元陽既虧，金寒水冷，則陰邪乘之；陽衰則氣虛，陽不帥陰，則水不化氣。故飲水少而便溺多，為肺腎之消，必以溫劑散去寒邪，陽氣漸回，則陰寒自退。此正所謂心移寒於肺，飲一溲二之證也。可見消有陰陽，不得盡稱為火。</p>
<h2>論陽常有餘</h2>
<p>二者，陰也，後天之形；一者，陽也，先天之氣。神由氣化，氣本乎天，故生發吾身者，即真陽之氣也；形以精成，精生於氣，成立吾身者，即真陰之精也。經云：女子二七天癸至，男子二八天癸至。又云：人年四十而陰氣自半。所謂陰者，即吾之精，造吾之形也。人生全盛之數，惟二八後至四旬外，前後止二十余年，則形體漸衰。故丹溪引日月之盈虧，以為「陽常有餘，陰常不足」，立補陰丸為神丹。不知天癸未至，本由乎氣，而陰氣自半，亦由乎氣，是形雖屬陰，而氣則從陽也。故人身通體之溫者，陽氣也。及既死，則形存氣去，此陽脫在前，陰留在後。可見生由乎陽，死亦由乎陽。非陽能死物也，陽來則生，陽去則死。故經云：陽氣者，若天與日，失其所，則折壽而不彰。可見人之生，只此一息真陽為營運。孰謂陽常有餘，而以苦寒之味伐此陽氣乎？</p>
<h2>論氣有餘即是火</h2>
<p>人身捍衛沖和不息之謂氣，擾亂變動妄行之謂火。火與氣，二而一，一而二者也。顧人身之氣，有正氣，亦有邪氣；人身之火，有少火，亦有壯火。少火生人之元氣，是火即為氣。此氣為正氣。壯火食人之元氣，是氣即為火。此氣是邪氣。邪氣有餘即為火，若正氣有餘，便是人身之元氣。人身元氣生於命門。命門者，精神之所舍，而為陽氣之根也。故命門之火旺，則蒸糟粕而化精微，所謂人非此火不能有生者是也。是火即是氣，不可誤認有餘之邪。氣為生人少火，立命之本也。若正氣有餘，不可便指為火。丹溪之言殊欠明白。</p>
<h2>論《原病式》病機十九條</h2>
<p>《內經》一十九條，實察病機之要旨，末言「有者求之，無者求之，盛者責之，虛者責之」，以答篇首「盛者瀉之，虛者補之」之旨，總結一篇十九條之要法，此正先聖心傳妙旨。劉河間略其顛末，遺此一十六字，獨取其中十九條病機，著為《原病式》，偏言盛氣實邪，俱歸重於火者十之七八，至於不及虛邪，全不相顧。又云：其為治，但當瀉其過甚之氣，不可反誤其兼化。立言若此，虛者何堪？如病機大要，各司其屬。其在太過所化之病為盛。盛者，真氣也。其在受邪所化之病為虛。虛者，假氣也。故有其病化者，恐其氣之假，故有者亦必求之。無其病化者，恐其邪隱於中，凡寒勝化火，燥勝化風，及寒伏反躁，熱伏反厥之類，故無者亦必求之。其病之化似盛者，恐其盛之未的，故盛者亦必責之。其病之化似虛者，恐其虛之未真，故虛者亦必責之。此一十六字，為病機之要，今全去之，猶有舟無操舟之工，有兵無將兵之帥矣。實智士之一失也！</p>
<h2>論怪病多屬痰</h2>
<p>孫真人言人身之病，四百有四。其載之《素問》、《靈樞》者，病能已詳八九。而病邪之來，外不過風、寒、暑、濕、火、燥六淫之氣，內不過喜、怒、憂、思、驚、恐、悲七情之傷，變現於十二臟腑、經絡、皮毛之間而為病。病亦安有所謂怪也？即有云怪病者，如人入廟登塚，飛尸、鬼擊、容忤，亦由本人氣血虛弱，邪乘虛入，見為譫妄邪祟，若有神靈所憑，而為怪耳！故《靈樞》亦有黃尸鬼、青尸鬼、白尸鬼、赤尸鬼、黑尸鬼之症，何一非五臟素虛，而為之見形也。庸工不曉病機，一遇不識之症，輒謂怪病，即以痰為推測，而曰：「怪病多屬痰」。夫痰，非病也。人身無痰，痰本身之津液，豈得指痰為怪以藉口？雖王隱君著痰病，見症種種，亦不過推原痰之變化不測，而未嘗以為怪也。其以怪病而多屬之痰者，實庸工不識病能，以藏拙也。悲夫！</p>
<h2>論右腎為命門</h2>
<p>《內經》初無命門之名，命門之說始於越人之三十六難，而曰腎有兩，左為腎，右為命門，男子藏精，女子系胞。夫右腎既藏男子之精，則左腎將藏何物？女子之胞何獨偏系於右？此其說之不能無疑也。</p>
<p>命門居兩腎之中，而不偏於右，即婦人子宮之門戶也。子宮者，腎臟藏精之府也，當關元、氣海之間，男精女血皆聚於此，為先天真一之氣，所謂坎中之真陽，為一身生化之原。此命門在兩腎中間，而不可以獨偏於右。兩腎屬水，有陰陽之分，命門屬火，在二陰之中。故《脈經》以腎脈配兩尺，但當曰左尺主真陰，右尺主真陽，而命門則為陽氣之根，隨三焦相火，以同見於右尺則可，若謂左腎則主於腎，而右腎偏為命門，此千古訛傳之弊，而不得不亟正之者也。</p>
<h2>論痢不專屬濕熱</h2>
<p>瘧、痢發於夏秋，本因溽暑，豈非濕熱？但炎蒸之令出於天，苟能順天之氣，安能有病？惟因熱求涼，過於縱恣，則病由於人矣。故凡風寒感於外者，其邪在經，病多為瘧；生冷傷於內者，其邪在臟，病多為痢。痢之來也，暑濕鬱久，則為濕熱，然有瓜果生冷，涼風冰水，未必鬱積，加以飲食相犯，觸而成痢，則痢未有不本於寒濕生災者，豈必專以濕熱為患哉？</p>
<h2>論痢有寒熱不當以赤白分氣血</h2>
<p>痢以赤白分寒熱，巢元方而下主之。此自古法，不為謬論。自河間以白者屬肺，肺主氣；赤者屬心，心主血，亦屬有理。丹溪因之，遂謂白痢自大腸來，赤痢自小腸來。愚謂赤痢亦有寒證，終是熱多；白痢亦有熱證，終是寒多。其有白而熱者，脈症必熱；赤而寒者；脈症必寒。若謂白必屬肺，恐白痢非無血化；赤必屬心，恐血痢不離乎氣。《局方》治痢，例用溫熱：河間治痢，專主苦寒：皆偏見也。</p>
<h2>論痢無止法</h2>
<p>痢必由乎積滯，故曰：「無積不成痢」。治痢初起，必用消積導滯，以推蕩為法。此仲景治痢有十法，均主大、小承氣。而河間亦曰：「行氣則後重自除，調血則便膿自止。」此蓋為痢之有實邪者言也，所謂「痢無止法」是也。若久痢之後，元氣已虧。如氣本陷矣，而復行其氣，後重不將甚乎？中本虛矣，而再攻其積，元氣不將竭乎？濕熱傷血，自宜調血，若過用推陳，血愈傷矣。積滯頻下，謂當消導，久為克伐，積益多矣。此但知據見在者，為有形之疾病，而不知所傷者，皆無形之氣血也。豈可執「痢無止法」一語，而曰《內經》有「通因通用」之治，以致殺人也哉！</p>
<h2>論赤痢自小腸來</h2>
<p>白痢自大腸來，赤痢自小腸來，此丹溪以赤白分氣血為言也。然大腸為傳導之官，痢屬動臟腑之脂膏，傷腸胃之血絡，故赤白俱並入大腸而下。若小腸則為出溺，而赤痢何云自小腸來？謂心主血，心與小腸為表裡，故赤痢本小腸之所化則可，若謂從小腸而來，未見小腸為下痢之腑也。其言不可以辭害意。</p>
<h2>論三日瘧分子午卯酉日</h2>
<p>瘧者，風寒之邪也，為三陽經受病；而三日一發，則云　瘧，為三陰經受病。故丹溪云：三日一發者，陰經受病也。</p>
<p>此語為當。若謂作於子、午、卯、酉日者，少陰瘧；作於寅、申、巳、亥者，厥陰瘧；作於辰、戌、丑、未者，太陰瘧。</p>
<p>馬仲化議為子、午雖曰少陰，而卯、酉則屬陽明；巳、亥雖曰厥陰，而寅、申則屬少陽；丑、未雖曰太陰，而辰、戌則屬太陽：牽合附會為無理。夫瘧邪之來無定期，何嘗主於某日則定某經之瘧？予謂丹溪之以地支分三陰經者，大約以十二時論，而非以日言也。如成無己云：瘧分六經，以三時為解。太陽從巳至未，陽明從申至戌，少陽從寅至辰，太陰從亥至丑，少陰從子至寅，厥陰從丑至卯。以十二時分三陽三陰，陽主晝，陰主夜，三陰經瘧，大抵發於子前午後者多，陽道常饒，陰道常乏也。丹溪以子、午、卯、酉分屬三陰經者，此以時言，而非以日論也。</p>
<h2>論靜而得之曰中暑</h2>
<p>潔古《此事難知》有曰：動而得之曰中熱，靜而得之曰中暑。此言不能無議。夫中熱、中暑，均自夏月感受之熱邪也。故中暑即是中熱，初無有分，但其得之則有別者。如行人、農夫，奔走勞動於道途田野之間，此時熱氣充斥，一時昏悶猝倒，此謂中暑，即謂中熱，是皆動而得之者也。若靜而得之者，如安逸之人，乘涼於大廈高堂、涼亭水閣，一時陰寒之氣遏郁，周身之陽氣不得舒越，而肌膚粟栗、頭疼、發熱，此是夏月感寒病，而不得以中暑名之也。中暑者，中天令之熱邪，豈有感受房室陰寒之氣，而混以靜時得之，亦名之曰中暑可乎？若靜時感夏月之寒，而漫稱曰中暑，使不正其名、辨其症，而以清暑寒涼之品，如彼白虎、益元投之，其禍人必矣！</p>
<h2>論小便不通用隔三之法</h2>
<p>小便不通者，熱結膀胱而點滴不下也。經曰：膀胱不利為癃。此熱邪入於膀胱而為病。膀胱為津液之府，氣化能出，故三焦之氣不化，則水道不能通調，而下輸於膀胱為溺。丹溪隔二之治，以為水出高源，肺金者，腎之母，滋養肺金以生腎水，此法之善者也。若隔三之治，以脾濕不運，故精氣不調，當燥脾健胃，補土以生金，生金以壯水，用二朮、六君為治。夫氣虛則宜補氣以化水，若氣熱而反用燥氣、閉氣之劑，不幾助邪以為病。此隔三之治，為迂而不切。</p>
<h2>論傷寒傳足經不傳手經</h2>
<p>傷寒傳變，止言足經，不言手經，原本《內經》熱病論中六節之文也。自草窗劉氏不明其理，創論傷寒只傳足經，不傳手經，誕妄欺人，莫此為甚。人之金、火兩臟，不過以五行為分屬，豈有真金、真火，故不能傷乎？至陶節庵易之以傷足不傷手。夫既不傷手，何手六經之見症，亦變見於傷寒症中也？再觀本經云三陰三陽、五臟六腑皆受病，則手經亦在其中矣。故仲景有心、肝、肺、脾、腎五臟之絕症。顧本經不言手經者，以傷寒表邪也，欲求外症，但當察於周身，而周身上下脈絡，惟足六經盡之，手經無能遍也。且手經所至，足經無不至者，故但言足經，而手經即在其中。此本經止言足者，為察周身之表證也。疑義至今，皆惑於劉氏之妄言耳！況人身臟腑在內，經絡在外，故臟腑為裡，經絡為表。在表者手足各有六經，是為十二經脈。以十二經脈分陰陽，則六陽屬腑為表，六陰屬臟為裡。以十二經脈分手足，則足經之脈長而遠，自上及下，遍絡四體，故可按之以察周身之病；手經之脈短而近，皆出入於足經之間，故凡診傷寒者，但言足經，不言手經也。</p>
<h2>論痰病類傷寒香港腳類傷寒</h2>
<p>《活人書》有云：中脘有痰，令人憎寒壯熱，胸膈痞悶，有類傷寒。又云：傷寒只傳足經，不傳手經。地之寒、暑、風、濕，皆作蒸氣，足常履之，遂成香港腳，所以病症與傷寒相類。此等議論，大是惑人。夫傷寒為熱病，有六經傳變之異。痰本人身津液血凝氣滯而成，未嘗有六經之變症。至於香港腳，為寒、濕、熱三氣之感，雖東垣有南北內外之分，而孫真人詳香港腳見症甚悉，亦未始有六經之別。何將此二證竟以類傷寒混同名之？似欲以治傷寒之法治痰與香港腳耶！凡治病必正證之名，名不正則治療無據矣。</p>
<h2>論傷寒汗藥宜早下藥宜遲</h2>
<p>傷寒之病，莫先於分表裡；治表裡之法，莫先於分汗、下。汗、下一差，變症百出，是以前人論治傷寒，有曰汗藥宜早，下藥宜遲。此二語雖云大綱，亦緊要法也。然曰宜早者，謂風寒之邪自表而入，即當速為發表，即仲景所謂覺病須臾，即宜早治，不避晨夜是也。其曰宜遲者，謂風寒之邪傳入於裡，攻下必須在正陽陽明之腑，即仲景所謂下早恐成痞氣與結胸是也。此云「遲早」，論治法非論時刻也。而《此事難知》謂非預早之早，乃早晚之早，發汗當在午前陽分；非待久之遲，攻下當在巳後陰分。以遲、早二字，作日候之遲、早解，惑亂人心為甚，宜亟正之。</p>
<h2>論傷寒太陽經再傳</h2>
<p>傷寒六經傳變，自表入裡，三陽為表，三陰為裡，自淺而深，六經傳盡，必無出而再傳之理。成氏以六日厥陰傳經已盡，七日當愈；七日不愈，再自太陽傳出，復至厥陰；十三日不愈，謂之過經壞病。此等注釋，謬戾殊甚。馬元台辨之，謂太陽至厥陰，猶人入戶升堂以入於室。太陽為三陽，最在外；陽明為二陽，在太陽之內；少陽為一陽，在陽明之內。此三陽之在表也。太陰為三陰，在少陽之內；少陰為二陰，在太陰之內；厥陰為一陰，在少陰之內。此三陰之裡也。故一日始於太陽，二日傳陽明，三日傳少陽，四日傳太陰，五日傳少陰，六日傳厥陰。經文之論次第相傳，亦言其大概耳！所云七日不愈再傳經者，七日行經未盡，仍在太陽一經故也。如仲景所謂太陽病頭痛，七日以上自愈，以行其經盡也，若欲再作經者，針足陽明，使經不傳則愈。可見太陽一經有行之七日以上者，則陽明、少陽亦可羈留過經不解。</p>
<p>故針陽明中土，使經不傳，此行其經未盡，未嘗曰傳其經盡也。若云六經傳盡，復自厥陰出，而再傳太陽，則有二陰、三陰、一陽、二陽以格之，容有自外入內，又自內而越於外之理？風寒之邪，入人臟腑，豈兩陰交盡於裡，復從皮毛外而再入太陽以為害者耶？成氏之謬，千古大惑，請從辨之。</p>
<h2>論相火為元氣之賊</h2>
<p>東垣一部《脾胃論》，俱以補中益氣湯為主，無非培人後天元氣之本。顧元氣為生身之精氣，而實祖於胃。故胃氣有穀氣、榮氣、衛氣、宗氣、陽氣之別名，要皆此元氣之異稱，而此氣即《內經》所謂「少火生氣」之氣也。「少火生氣」，即為真陽之氣，乃生人立命之根。此火寄於腎、肝，名為相火。相火者，因君火不主令，而代君以行，故曰：「相火以位」。則此火本非邪火，而何得云元氣之賊？元氣在兩腎命門之中，隨三焦相火以溫分肉而充皮膚，蒸糟粕而化精微。是元氣即相火之所化，而非賊元氣之物。其賊元氣者，乃壯火而非相火也。若謂相火為下焦包絡之火，即指為元氣之賊，而曰火與元氣不兩立，一勝則一負，則生元氣者，更有何火耶？</p>
<h2>論陰火為心乘土位</h2>
<p>《內經》論火，止有君火、相火、少火、壯火、五志之火之名，而並無有以陰火名者。其以陰火名者，自東垣始。東垣謂心火者，陰火也，起於下焦，其系上系於心。夫心在膻中氣海之中，為足厥陰包絡之經，所謂陽中之太陽也，而何得以陰火名之？既指心火為陰火，心本在上焦，而何以云起於下焦？起於下焦，則不當指為心火矣！且土者，脾胃也。火為土之母，補土必先補火。上蒸丹田以腐熟水穀者，此心火也，即此陰火也。豈可謂陰火來乘土位，以傷脾胃生發之氣乎？火乘土以傷脾土生發之氣者，必陽邪之火，而非心君之陰火也。少陰心火，正補太陰脾土，此虛則補母之義，但不可大旺。夫火旺則土反燥，又當壯水以制之。</p>
<h2>論子宮之胞與溲胞不同</h2>
<p>《陰陽別論》云女子胞，《氣厥論》云胞移熱於膀胱，《五味篇》云衝脈、任脈，皆起於胞中。凡此「胞」字，皆音包，以子宮為言也。《靈樞》云膀胱之胞薄以懦。音拋，以溲脬為言也。胞音有二，而字則相同，奈何後人不解其意，俱讀為包，反因經語遂認膀胱與胞為二物，故在《類纂》則曰：膀胱者，胞之室。</p>
<p>王安道則曰：膀胱為津液之腑。又有「胞居膀胱之室」之說，甚屬不經。夫膀胱即脬，脬即膀胱也。焉得復有一物，居膀胱之內？以致後學之疑。</p>
<h2>論治病不出氣血痰鬱</h2>
<p>人身之病，變端無窮。其治法則千態萬狀，有不可以一例拘者。丹溪之治病也，總不出乎氣、血、痰三者。三者之中，又多兼郁。氣用四君子，血用四物湯，痰用二陳湯，郁立越鞠丸，以為定法。王節齋極言之。</p>
<p>而庸工學步邯鄲，亦遂執此，以為醫之能事盡此矣。夫丹溪之言，不過挈其大綱論之耳！若謂氣病治氣，血病治血，痰病治痰，郁病治郁，醫又何難哉？</p>
<h2>論心肺遠血腎肝近血</h2>
<p>《金匱要略》論大便下血，分糞前為近血，糞後為遠血。此以血來有遲早，而分遠近，未嘗主於心肺、腎肝之所出為遠近也。丹溪乃言血在糞後者，出於心肺，心肺在上，故血來遲；血在糞前者，出於腎肝，腎肝在下，故血來早。夫心主血，肺則主乎氣矣；肝藏血，腎則藏乎精矣。大便所下之血，本於濕熱之氣，傷於大腸而為病。此血總屬大腸經來，故人有終年患之，而不見其形痿體憊者。此濕熱之邪，而非四臟所傷之血。若四臟有傷，而頻下無度，必心肺損而色敗，腎肝損而形痿，而可以云無患乎？故以便下之血，以先後分遠近則可，以便下之血分心肺與腎肝，則鑿矣！</p>
<h2>論在內為血在外為汗</h2>
<p>方書多言血與汗異名而同類。丹溪因之，遂有在內為血，在外為汗之論。似乎血即是汗，汗即是血矣。豈知血與汗之由來，有不可以同類並言者。經云：心主血，血生於心。又云：腎主五液，入心為汗。又云：汗者，心之液。此言汗為心之液，而非曰心之血。血生於心，統於脾，藏於肝，而其原則自水穀之精氣，受於中焦，變化取汁，和調於五臟，洒陳於六腑，以奉生身者也。若夫汗則為人身之津液，因腠理疏，皮毛不能外衛，風、暑、濕、熱之邪干之，則蒸然發出，津津而為汗。是汗乃身之陽氣所化，故曰陽加於陰，謂之汗。當云在內為氣，在外為汗。此可以氣言，而不可以血類也。庸有在外之汗，而可以在內之血混言之乎？人之一身，有涕、淚、涎、唾、便、溺，皆屬一水之化，而發於九竅之中。故鼻之所出曰涕，目之所出曰淚，口之所出曰唾、曰涎，二陰之所出曰便、溺，而皮毛之所泄則曰汗。汗可以血類之，則涕、淚、唾、涎、便、溺，亦可以血言之矣！</p>
<h2>論天癸非精血</h2>
<p>天癸之義，諸家俱以精血為解，是不詳《內經》之旨也。玩本經云：女子二七天癸至，月事以時下；男子二八天癸至，精氣溢瀉。則是天癸在先，而後精血繼之，天癸非即精血之謂明矣。天癸者，天一所生之真水，在人身是謂元陰，即曰元氣。人之未生，此氣蘊於父母，謂之先天元氣；人之既生，此氣化於吾身，謂之後天元氣。但氣之初生，真陰甚微，及其既盛，精血乃旺。然必真陰足而後精血化，是真陰在精血之先，精血在真陰之後。不然女子四十九，男子六十四，而天癸俱絕，其周身之精血，何以仍營運於榮衛之中，而未嘗見其涸竭也？則知天癸非精血明矣。其以精血即為天癸者，王太仆、陳良甫以下之謬論也。</p>
<h2>論命門之火不可偏診於右尺</h2>
<p>人生有兩腎，兩腎並診於左右尺，而命門則居兩腎之中。所謂命門之火者，即兩腎中之元氣也。元氣生於命門，而不偏於右。自《難經》有云：腎有兩，左為腎，右為命門。命門遂專屬之右，而華元化因之，始分左腎屬水，右腎屬火，故以命門之火歸之右腎。後世醫者，不詳其義，論命門之火，則必以右之尺部為診，豈知兩尺為兩腎？腎者水也，俱藏精之舍也，故越人云：命門為男子藏精。精屬水，不屬火，火在水中，所謂一陽居二陰之間者是也。豈可以命門之火，偏診於右尺耶？舉世夢夢，是可嗤也。然則論命門之火者，當於何診？仍診之於兩尺可也。以兩尺之強弱，驗命門之火之衰旺為得耳！若以右尺之腎論命門，而遺乎左尺之腎，是習俗之弊，不可不亟正者也。至有以男子之命門在右，女子之命門在左，而曰：丈夫以右為命門，左為腎；女子以左為命門，右為腎。則又顛倒乖離，而不可稽矣！</p>
<h2>論聖人止有三法無第四法</h2>
<p>張戴人論病非人身素有之物，或自外入，或自內生，皆邪氣也。邪氣加身，速攻之可也。立汗、吐、下三法以攻邪，邪去則元氣自復。故曰聖人止有三法，無第四法。其論頗卓。故丹溪初閱子和書，惟務攻擊，亦謂醫之法盡是。後讀《內經》有云：虛者，精氣虛。實者，邪氣實。實則瀉，虛則補。何云聖人無第四法？於是不能不疑。子和之書，非子和之筆，而麻徵君偽為之者也。聖人之言，垂諸《靈》《素》，其主補虛、瀉實者不一，而子和敢為非聖之書？趙以德嘆《儒門事親》書為：其詞直，其義明，顧其一，罔顧其二。後之讀其書者，當得其法而善用之，毋執其法而偏溺之，則幾矣！凡治病如權衡，高下輕重，隨時變通，若偏矯一說，禍人不淺。</p>
<h2>論三焦有幾</h2>
<p>人身十二臟腑經絡，《靈樞》《素問》詳辨，各有定名部分，獨三焦之名，在經文亦多臆說；後賢之詳其義者，更多旁雜，而無一定之論，是不能無疑，而為之考究，以正其指歸。即如王海藏，為東垣高弟，亦致疑於三焦之名，而問之曰三焦有幾，啟其端而究未能定其說。是以總會經文與諸賢之論而詳之，以知三焦有三三焦，而後之人不能明其義，故多歧而未有以正其名也。所謂三焦之有三三焦也，即以經文正之。《靈》《素》之論三焦，與《難經》之論三焦，已自不同矣。《靈樞》曰：三焦者，上合手少陽，出關衝，小指次指之端。三焦下　，在足大趾之前，少陽之後，出　中外　，足太陽以絡於手少陽。此論手少陽三焦經脈之所行也。又曰：臍下膀胱至足，為足三焦。下焦別回腸，注膀胱以滲入。此論足太陽膀胱，為三焦一腑之所屬也。手三焦之經為少陽，主於上；足三焦之腑為膀胱，主於下：是二三焦也。</p>
<p>故《本臟篇》曰：密理濃皮者，三焦、膀胱濃；粗理薄皮者，三焦、膀胱薄。《論勇》曰：勇士，三焦理橫；怯士，三焦理縱。而《素問‧五臟別論》又曰：膽、胃、大小腸、三焦、膀胱五者，為天氣之所主。</p>
<p>夫三焦、膀胱，與膽、胃、大小腸四腑並言，而又有濃、薄、結、直、縱、橫之意，此所謂三焦者，屬之於腑，正有形有狀之三焦也。若《靈樞》又曰：上焦如霧，中焦如漚，下焦如瀆。此三焦為一氣之所主，故《三十一難》因之曰：上焦在胃上口，主內而不出，其治在膻中；中焦在胃中脘，主腐熟水穀，其治在臍傍，下焦在臍下，主分別清濁，出而不內。此三焦者，即《靈樞》所謂如霧、如漚、如瀆之三焦也。故《難經》又繼言之，三焦為水穀之道路，氣之所以終始。三焦者，原氣之別使。原氣在兩腎中間之動氣，為人之生命，十二經之根本，主通行三氣，經歷於五臟六腑。此所謂三焦者，屬之於氣，正王叔和所謂有名無狀之三焦也。是又一三焦也。論其經則手少陽三焦主之於上，論其腑則足太陽三焦主之於下，論其氣則兩腎原氣之三焦以行於中。故曰《靈》《素》之論三焦，與《難經》之論三焦，名各不同也。《靈》《素》之論手少陽三焦與足太陽三焦，是有形之腑也。《難經》之論上中下之三焦，是無形之原氣也。有形之腑，與膽、胃、大小腸為配；無形之氣，游行於五臟六腑之中，溫分肉而充皮膚，是即腎間之原氣，自下而中，自中而上，東垣所謂有名無形，主持諸氣，統領周身之氣，熏膚充身澤毛者也。三焦之有三者，此也。王海藏問三焦有幾，獨能辨手少陽三焦主上，足太陽三焦主下，而不及《難經》所云原氣之三焦為命門之別使，是以使後人疑而莫辨耳。故王叔和所云三焦無狀空有名者，即是腎間原氣之三焦也，不可謂盡非也。獨是陳無擇以臍下之脂膜為三焦：袁淳甫以人身著內一層，形色最赤者為三焦；虞天民以包涵腸胃之總司，指腔子為三焦：是皆說之不可稽者也。至金一龍舍手足之三焦不言，而易以前三焦、後三焦，尤誕妄而支離矣。予初注三焦論，漫引《靈樞》肺　在三焦，心　在五焦，膈　在七焦，肝　在九焦，脾　在十一焦，腎　在十四焦之間，以軀體之外稱焦，而從虞天民包羅六腑五臟之脂膜，以證三焦之說。自馬仲化以肺　、心　之「焦」為椎，則予之說要，亦可議而未有當焉也。</p>
<h2>論苦寒補陰之誤</h2>
<p>凡物之死生，本由乎陽氣。顧今人病陰虛者，十嘗八九，不知此「陰」字，正陽氣之根也。陰不可無陽，陽不可無陰。故物之生也，生於陽；而物之成也，成於陰。則補陰者，當先補陽。自河間主火之說行，而丹溪以苦寒為補陰之神丹，舉世宗之。盡以熱證明顯，人多易見；寒證隱微，人或不知；且虛火、實火之間，尤為難辨。孰知實熱為病者，十不過三四；而虛火為患者，十嘗有六也。實熱者，邪火也。邪火之盛，元氣本無所傷，故可以苦寒折之，亦不可過劑，過則必傷元氣。虛火者，真陰之虧也。真陰不足，豈苦寒可以填補？人徒知滋陰之可以降火，而不知補陽之可以生水。吾故曰：使劉、朱之言不息，則軒岐之道不著。</p>
<h2>論傷寒陽證下早成結胸陰證下早成痞氣</h2>
<p>仲景《傷寒論》有曰：病發於陽而反下之，熱入因作結胸；病發於陰而反下之，內虛因作痞氣。又曰：陽證下之早者，為結胸；陰證下之早者，為痞氣。夫結胸、痞氣，因下早而成，固人人能明之。獨陰陽二字，未有能確辨之者，不能不致疑其間也。其陰陽，指表裡之陰陽言乎？抑指風寒氣血之陰陽言乎？抑指三陽三陰經臟腑之陰陽言乎？其言陽證陰證也，抑以陽邪之熱為陽證乎？陰邪之寒為陰證乎？如以陰陽為表裡之陰陽也，以病發於陽為陽證屬表之證，不宜下，誤下成結胸，固矣。若以病發於陰為陰證屬裡之證，正宜下，何云誤下反成痞？則知此陰陽，非以表裡之陰陽言也。如以陰陽為風寒氣血之陰陽也，風為陽，陽邪傷衛，衛主氣，氣傷反成結胸；寒為陰，陰邪傷榮，榮主血，血傷反成痞氣。夫結胸為實邪，為證重；痞氣為虛邪，為證輕。豈有陽邪傷無形之氣，成結胸之實證；陰邪傷有形之血，反成痞滿之虛證乎？則知此陰陽，非以風寒傷氣傷血之陰陽言也。如以陽證陰證為三陽三陰經言也，夫三陽經證為屬腑，如太陽、陽明、少陽為病在表，當汗不當下，誤下則邪入裡而成結胸是矣。但三陰經證則屬臟，如太陰、少陰、厥陰為病在裡，正當下，當下而又言誤下遂成痞氣，則知此陰陽，非以三陰三陽之臟腑言也。如以陽邪之熱證為陽證，而下早成結胸是也，若謂陰寒之陰證下之則死，豈止於痞？則知此陰證，不可指為中寒之陰證言也。故陽證下早成結胸，此論固無庸辨，獨陰證下早成痞一語，不能無疑。仲景亦無明文，而歷代明醫，自成無己、許叔微以下，未見有發明。或指陰證之陰，或指陰寒之陰，或指為榮血之陰，或指為三陰之陰，紛紛擬議，而無定論。予反復思之，而知此陰證之陰，蓋以經腑言也。三陽有經有腑，三陰亦有經有臟。病在經則可汗而不可下，若風寒尚在三陰之經，則邪留肌肉之表，故曰下早則成痞，是病在經而傷於臟，則邪入而成痞，故邪在三陰之經，則可汗，若入三陰之臟，則可下，其邪在經而尚未入臟，則不可下，故病發太陰者，尚發於陰之經也，發於陰經而反下之，則作痞矣。雖然此辨是矣，而所謂三陰者，太陰、少陰、厥陰也，然足厥陰為一陰，足少陰為二陰，足太陰為三陰，概曰三陰，抑太陰乎？少陰乎？厥陰乎？傷寒之邪，自三陽經足太陽膀胱為始，膀胱為三陽經之首，其邪在三陽經，則可汗，而反下之，故成結胸。三陰經足太陰脾為始，脾為三陰之首，若邪在三陰足太陰脾之經，則可汗而不可下，反下之則成痞氣，則陰指太陰脾經者也。故王海藏與東垣論痞，謂從血中來，治痞獨益中州。中州者，脾也。脾可補不可瀉，當補而瀉之，是以成痞。此之謂也。</p>
<h2>論傷寒春變溫病夏變熱病</h2>
<p>《內經》曰：人之傷於寒也，則為病熱。又曰：熱病者，傷寒之類也。此之言熱病，乃冬令嚴寒，人觸冒之，感而即病之謂，而非夏時暑病為熱病之比。夏時熱病，今夏至後，天令暑熱炎蒸之邪，感傷於人，與冬時傷寒之熱病，大不侔也。冬寒之熱病，自表而入，夏暑之熱病，自內而發。病不同時，故治法亦異。辛溫發表與寒涼清解，有不可同日語矣。自王叔和序《傷寒論》而曰：中而即病，名曰傷寒，不即病者，寒毒藏於肌膚，至春變為溫病，夏至變為暑病。暑病者，熱極重於溫也。斯言出，而後世醫者，俱以春時之溫病，由冬傷之寒而變；夏月之暑病，亦由冬傷之寒而變。是溫病、熱病，皆因冬時受寒，而至春、夏以變焉者也。其言不大謬乎？經云：冬傷於寒，春必病溫者，蓋以冬時不藏精，觸冒寒邪，則春時必有溫病之症，非以春時之溫病，必自冬寒而變也。又云：夏至後病熱為暑。此本天令大熱之氣，即時感受而成，豈有寒毒藏於肌膚之中，至春不發，歷過春三月，伏藏至夏至後，而又變為熱，有是理乎？叔和又云：三月、四月，其時陽氣尚微，為寒所折，病熱則輕；五月、六月，陽氣已盛，為寒所折，病熱則重。夫三月、四月、五月、六月之寒，此暴時之寒氣也，與冬令嚴寒伏藏之寒不同。既曰春變為溫，夏變為熱，由冬時之寒傳變而來，又云陽氣已盛，為寒所折，則其變病為溫、為熱，其冬令之寒乎？抑時行之寒乎？立言為矛盾矣。夫風寒傷人，未發病已前，不能預知其客於某經絡、某臟腑，及其發病已後，而後能審其為何因何感也。若謂冬時受寒，而必逆決為春之必變為溫病也，夏之必變為熱病也，則鑿而不可稽矣。大約冬傷於寒而即病者，曰傷寒；冬不藏精而春病者，曰溫病；夏傷於暑而病熱者，曰熱病。此三證本各以其時受病，而非寒變為溫、變為熱之謂也。</p>
<h2>論肺熱還傷肺</h2>
<p>王節齋謂虛勞咳嗽症，戒服參、　，服之者必死。繼又曰：肺熱還傷肺。斯言出，而世之治肺經勞嗽者，輒以人參為鳩毒矣。手太陰肺主一身之氣，氣有虛有實，實者邪氣實，實則脈來洪數，按之有力，此而服參，勢必氣高而喘，胸熱而煩，藥助病邪，證必增劇，勞嗽之熱，為虛乎？實乎？脈或數而必細，按之必虛而無力，症或見為煩熱口渴，面赤氣喘，而少氣不足以息。此陰虛而相火刑金之虛證也。陰虛者，其熱必熾，誤認為實，而投以白虎、瀉白、知柏補陰之劑，則立斃。此之虛熱，非甘溫不能除之也。人參味甘，氣溫，雖補五臟之元氣，獨入手太陰一經者為最，故勞瘵而成肺經嗽咳者，非人參不能療。正丹溪所謂虛火可補，參、　之屬是也。則是人參為補肺藥也，而乃云傷肺者，以其有熱故也。然熱則有虛熱、實熱之分，實熱者宜戒，虛熱者宜補。非補其火也，補肺中之氣，以生腎水耳！火之刑金也，非火之有餘，乃水之不足，故欲制相火，必壯腎水，欲壯腎水，必滋水之母，以清金保肺，肺氣旺則水溢高源，而陰虛之火有制，則肺熱可寧，舍人參不能以有濟也。如不論肺之虛實，而執肺熱傷肺之論，以人參為戒，虛勞病之不死也，幾希矣！</p>
<h2>論傷寒無陰證</h2>
<p>經云：人之傷於寒也，則為病熱。是熱病為汗病也，而何嘗有所謂陰證哉？遍考《素問》《靈樞》諸經，並無陰證之名，故劉守貞論傷寒，無問三陰三陽，皆一於為熱，而無有寒者。故曰傷寒無陰證，陰證乃雜病也。然而仲景則云無熱惡寒者，發於陰也。夫無熱惡寒，則知無陽經之鬱熱，而發於陰，則知不從陽經之傳入，故有四逆、理中之用。而謂傷寒之無陰證乎？不知傷寒之有陰證也。有真寒直中少陰經，而名為陰證者；有房欲傷腎，虛寒上下陰虛，而名為陰證者。此之陰證，不可以傷寒中混名之也。若三陽經熱邪傳入三陰經，而名之為陰證者，此陽經熱證之陰證，而非直中、傷腎之陰證也。或謂傷寒傳變三陰之陰證，仲景以四逆、理中溫熱藥治之，以其本熱邪傳經，由於寒涼誤治，熱變為寒，則其說尤為謬戾。夫三陽傳經之邪熱，入於三陰，其來本熱，雖有寒藥誤治，豈有頓變陰寒為陰證，而用四逆、理中以溫經散寒為治者乎？</p>
<h2>論瀉南補北不可以治痿取陽明</h2>
<p>《痿論》云：五臟使人痿，而本於肺熱葉焦。終之曰：治痿獨取陽明。是痿病原於手太陰一經，以熱相傳而成，而治之者，惟取足陽明一經以為要。陽明為五臟六腑之海，總宗筋而束骨以利機關。陽明虛則宗筋縱，帶脈不引，故手足不用而成痿。是痿之來，起於肺經，而治則取於陽明。後人謂獨取陽明，此「取」字有教人補之意。是以丹溪獨引越人瀉南方、補北方之法，以發明「獨取陽明」之旨。究未能盡所以取陽明之義，而意反有相戾者。夫南方，離火也；北方，坎水也。其言曰：金體燥而居上，主畏火；土性濕而居中，主畏木。瀉南方，則肺金清而東方不實；補北方，則心火降而西方不虛。此其論似為肺熱葉焦者發明之，而於治痿取陽明之法，反未之悉也。陽明者，胃土也。補火可以生土，而反云瀉南；滋水則能助濕，而反云補北，則與取陽明之義有不合矣。夫足陽明為水穀之海，以為陽明虛而宗筋不用似矣，何以病痿之人，有兩足不任身，而飲食如故，其啖物反有倍於平人者何也？豈陽明之氣旺，而水穀入海，獨不能運化精微，以強筋骨乎？何飲啖日盛，形體日肥，而足痿不能用也？則知陽明之虛，非陽明之本虛，而火邪伏於胃中，但能殺穀，而不能長養血氣、生津液，以灌溉百骸，是以飲食倍於平人，而足反為之不用。此所謂「壯火食氣」，而邪熱不殺穀也。陽明之邪熱，原是肺熱中傳來，故治痿獨取陽明者，非補陽明也，治陽明之火邪，毋使干於氣血之中，則濕熱清而筋骨強，筋骨強而足痿以起。張子和嘗言痿病皆因客熱而成，斷無有寒。丹溪亦云治痿以清熱為主，不可作風治用風藥。誠得取陽明之義者矣。</p>
<h2>論發表不遠熱攻裡不遠寒之誤</h2>
<p>此二句大意，全在「發」「攻」二字。發者，逐之外也。攻者，逐之內也。寒邪在表，非溫熱之氣不能散，故發表不遠熱。熱鬱在內，非沉寒之物不能除，故攻裡者不遠寒。然亦有用小柴、白虎、益元之類，而取汗愈病者何也？此因表裡俱熱，故當涼解，非發之謂也。又有用四逆、理中回陽之類，而除痛去積者何也？此因陰寒留滯，故當溫中，非攻之謂也。所謂發者，開其外之固；攻者，伐其內之實。今昧者，但見外感發熱等病，不能察人傷於寒而傳為熱者，有本寒標熱之義，輒用芩、連等藥以清其標。豈知邪寒在表，藥寒在裡，以寒得寒，使內外合邪，遂不可解。此發表用寒之害也。故凡寒邪在表未散，外雖熾熱，內無寒症，正以火不在裡，最忌寒涼。此而誤人，是不知當發者不可遠熱也。又如內傷喘、痛、脹、滿等症，多有三陰虧損。今人但見此症，不辨虛寒，遽用硝、黃攻裡。焉知有假實真虛之病，而復伐之，則病未去而元氣傷。此而誤人，是不知當攻者不可遠寒也。二者之害頗多，不得不表出之以為戒！</p>
<h2>跋</h2>
<p>張景岳以醫術著聲於明萬歷、天啟間，所輯《類經》暨《景岳全書》二種，流播宇內殆遍，惟《質疑錄》一帙，雖已為東海石氏所刊，而人間見者甚少。其書於古名家，若劉、李、朱、張輩，所言稍有偏，著必加辯正。蓋恐後之不善讀者，守其一說，未得化裁之用，而因以夭札生民之命，故不憚昌言劇論以明之。夫豈好於前人洗垢索瘢哉！考其所列諸論，有已見《全書》《類經》中者；亦有與《全書》《類經》之說少異，而悔疇昔立言之未當者。人以此疑其為晚年未定稿，又以此知其所學愈老愈明，未嘗自矜已得，而孜孜日求正於至當為可則也。就中惟「論傷寒春變溫病夏變暑病」之非，此一條殊未是。蓋亦智者千慮之一失耶！葉敬問為景岳作《類經》序，稱為會稽傑士，幼稟明慧，六經諸子，無不考鏡。魯謙庵作《景岳全書》序，稱其於書無所不窺。壯年好談兵，思有所用於世。筮易得天山遁卦，始決意石隱。黃梨洲作《景岳傳》，稱其於象數、星緯、堪輿、律呂，皆能究其精蘊。至於遼陽之敗亡，中原之擾亂，皆預決於數年之前，是其所學甚博，不特醫術一端矣！</p>
<p><u>乾隆甲申孟陬望日錢江王琦</u></p>
