<header data-type="book">
<h1>三時伏氣外感篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>葉桂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>品質</dt><dd>70%</dd></div>
</dl>
</header>
<p>春溫一證，由冬令收藏未固，昔人以冬寒內伏，藏於少陰，入春發於少陽，以春木內應肝膽也。寒邪深伏，已經化熱，昔賢以黃芩湯為主方，苦寒直清裏熱。熱伏於陰，苦味堅陰，乃正治也。知溫邪忌散，不與暴感門同法。若因外邪先受，引動在裏伏熱，必先辛涼以解新邪，繼進苦寒以清裏熱。況熱乃無形之氣，時醫多用消滯，攻治有形，胃汁先涸，陰液劫盡者多矣。</p>
<p>風溫者，春月受風，其氣已溫。《經》謂「春氣病在頭」，治在上焦，肺位最高，邪必先傷。此手太陰氣分先病，失治則入手厥陰心包絡，血分亦傷。蓋足經順傳，如太陽傳陽明，人皆知之；肺病失治，逆傳心包絡，人多不知者。俗醫見身熱欬喘，不知肺病在上之旨，妄投荊、防、柴、葛，加入枳、樸、杏、蘇、菔子、楂、麥、橘皮之屬，輒云解肌消食。有見痰喘，便用大黃礞石滾痰丸，大便數行，上熱愈結。幼稚穀少胃薄，表裏苦辛化燥，胃汁已傷，復用大黃大苦沉降丸藥，致脾胃陽和傷極，陡變驚癇，莫救者多矣。</p>
<span class="註">
<p>自注：風溫肺病，治在上焦。夫春溫忌汗，初病投劑，宜用辛涼，若雜入消導發散，不但與肺病無涉，劫盡胃汁，肺乏津液上供，頭目清竅，徒為熱氣薰蒸，鼻乾如煤，目瞑或上竄無淚，或熱深肢厥，狂躁溺澀，胸高氣促，皆是肺氣不宣化之徵。斯時若以肺藥少加一味清降，使藥力不致直趨腸中，而上痹可開，諸竅自爽，無如市醫僉云結胸，皆用連、蔞、柴、枳苦寒直降，致閉塞愈甚，告斃者多。</p>
<p>又此證初因發熱喘嗽，首用辛涼清肅上焦，如薄荷、連翹、牛蒡、象貝、桑葉、沙參、梔皮、蔞皮、花粉。若色蒼，熱勝煩渴，用石膏、竹葉辛寒清散，痧疹亦當宗此。若日數漸多，邪不得解，芩、連、涼膈亦可用。至熱邪逆傳膻中，神昏目瞑，鼻竅無涕洟，諸竅欲閉，其勢危急，必用至寶丹或牛黃清心丸。病減後餘熱，只甘寒清養胃陰足矣。</p>
</span>
<p>春月暴暖忽冷，先受溫邪，繼為冷束，欬嗽痰喘最多，辛解涼溫，只用一劑，大忌絕穀。若甚者宜晝夜豎抱勿倒，三四日。夫輕為欬，重為喘，喘急則鼻掀胸挺。</p>
<span class="註">
<p>自注：春溫皆冬季伏邪，詳於大方諸書，幼科亦有伏邪，治從大方。然暴感為多，如頭痛惡寒發熱，喘促鼻塞聲重，脈浮無汗，原可表散，春令溫舒，辛溫宜少用，陽經表藥，最忌混亂。至若身熱欬喘有痰之證，只宜肺藥清解，瀉白散加前胡、牛蒡、薄荷之屬，消食藥只宜一二味；若二便俱通者，消食少用，須辨表裏上中下何者為急施治。</p>
<p>又春季溫暖，風溫極多，溫變熱最速，若發散風寒消食，劫傷津液，變證尤速。</p>
<p>初起欬嗽喘促，通行用：薄荷、連翹、象貝、牛蒡、花粉、桔梗、沙參、木通、枳殼、橘紅。</p>
<p>表解熱不清用：黃芩、連翹、桑皮、花粉、地骨皮、川貝、知母、山梔。</p>
<p>備用方：黃芩湯、蔥豉湯、涼膈散、清心涼膈散、葦莖湯、瀉白散、葶藶大棗湯、白虎湯、至寶丹、牛黃清心丸、竹葉石膏湯、喻氏清燥救肺湯。</p>
<p>裏熱不清，朝上涼，晚暮熱，即當清解血分，久則滋清養陰。若熱陷神昏，痰升喘促，急用牛黃丸之屬。</p>
<p>風溫乃肺先受邪，遂逆傳心包，治在上焦，不與清胃攻下同法，幼科不知，初投發散消食，不應，改用柴、芩、瓜蔞、枳實、黃連，再下奪，不應，多致危殆，皆因不明手經之病耳。</p>
<p>若寒痰阻閉，亦有喘急胸高，不可與前法，用三白吐之，或妙香丸。</p>
</span>
<p>夏為熱病，然夏至已前，時令未為大熱，《經》以先夏至病溫，後夏至病暑。溫邪前已申明，暑熱一證，醫者易眩。夏暑發自陽明，古人以白虎湯為主方。後賢劉河間創議迥出諸家，謂溫熱時邪，當分三焦投藥，以苦辛寒為主，若拘六經分證，仍是傷寒治法，致誤多矣。蓋傷寒外受之寒，必先從汗解，辛溫散邪是矣。口鼻吸入之寒，即為中寒陰病，治當溫裏，分三陰見證施治。若夫暑病，專方甚少，皆因前人略於暑，詳於寒耳。考古如《金匱》暑暍痙之因，而潔古以動靜分中暑中熱，各具至理，茲不概述。論幼科病暑熱，夾雜別病有諸，而時下不外發散消導，加入香薷一味，或六一散一服。考本草香薷辛溫發汗，能泄宿水。夏熱氣閉無汗，渴飲停水，香薷必佐杏仁，以杏仁苦降洩氣，大順散取義若此。長夏溼令，暑必兼溼，暑傷氣分，溼亦傷氣，汗則耗氣傷陽，胃汁大受劫爍，變病由此甚多，發泄司令，裏真自虛。張鳳逵云：「暑病首用辛涼，繼用甘寒，再用酸泄酸斂，不必用下。」可稱要言不煩矣。然幼科因暑熱蔓延，變生他病，茲摘其概。</p>
<span class="註">
<p>暑邪必挾溼，狀如外感風寒，忌用柴、葛、羌、防，如肌表熱無汗，辛涼輕劑無誤。香薷辛溫氣升，熱服易吐，佐苦降如杏仁、黃連、黃芩則不吐。宣通上焦，如杏仁、連翹、薄荷、竹葉。</p>
<p>暑熱深入，伏熱煩渴，白虎湯、六一散。</p>
<p>暑病頭脹如蒙，皆熱盛上熾，白虎、竹葉，酒溼食滯者，加辛溫通裏。</p>
</span>
<p>夏令受熱，昏迷若驚，此為暑厥，即熱氣閉塞孔竅所致，其邪入絡，與中絡同法，牛黃丸、至寶丹芳香利竅可效。神甦以後，用清涼血分，如連翹心、竹葉心、元參、細生地、鮮生地、二冬之屬。此證初起，大忌風藥。初病暑熱傷氣，竹葉石膏湯或清肺輕劑。大凡熱深厥深，四肢逆冷，但看面垢齒燥，二便不通，或瀉不爽為是，大忌誤認傷寒也。</p>
<span class="註">
<p>右暑厥。</p>
</span>
<p>幼兒斷乳納食，值夏月脾胃主氣，易於肚膨泄瀉，足心熱，形體日瘦，或煩渴善食，漸成五疳積聚，當審體之強弱，病之新久，有餘者疏胃清熱，食入糞色白，或不化，健脾佐消導清熱；若溼熱內鬱，蟲積腹痛，導滯驅蟲，微下之；緩調用肥兒丸之屬。</p>
<span class="註">
<p>右熱疳。</p>
</span>
<p>夏季秋熱，小兒泄瀉，或初愈未愈，滿口皆生疳蝕，嘗有阻塞咽候致危者，此皆在裏溼盛生熱，熱氣蒸灼，津液不生，溼熱偏傷氣分，治在上焦，或佐淡滲，世俗常刮西瓜翠衣治疳，取其輕揚滲利也。</p>
<span class="註">
<p>右口疳。</p>
</span>
<p>夏季溼熱鬱蒸，脾胃氣弱，水穀之氣不運，溼著內蘊為熱，漸至浮腫腹脹，小水不利，治之非法，水溼久漬，逆行犯肺，必生欬嗽喘促，甚則坐不得臥，俯不得仰，危期速矣。大凡喘必生脹，脹必生喘，方書以先喘後脹治在肺，先脹後喘治在脾，亦定論也。《金匱》有風水、皮水、石水、正水、黃汗，以分表裏之治，河間有三焦分消，子和有磨積逐水，皆有奧義，學者不可不潛心體認，難以概述。閱近代世俗論水溼喘脹之證，以《內經》開鬼門取汗為表治，分利小便潔淨府為裏治；《經》旨《病能篇》謂：諸溼腫滿，皆屬於脾。以健脾燥溼為穩治。治之不效，技窮束手矣。不知凡病皆本乎陰陽，通表利小便，乃宣經氣利腑氣，是陽病治法；暖水臟溫脾胃，補土以驅水，是陰病治法。治肺痹以輕開上，治脾必佐溫通。若陰陽表裏乖違，臟真日漓，陰陽不運，亦必作脹，治以通陽，乃可奏績，如局方禹餘糧丸，甚至三焦交阻，必用分消，腸胃窒塞，必用下奪。然不得與傷寒實熱同例，擅投硝、黃、枳、朴擾動陰血。若太陰脾臟飲溼阻氣，溫之補之不應，欲用下法，少少甘遂為丸可也。其治實證，選用方法備采。</p>
<span class="註">
<p>喘脹備用方：葶藶大棗湯、瀉白散、大順散、牡蠣澤瀉散、五苓散、越婢湯、甘遂半夏湯、控涎丹、五子五皮湯、子和桂苓湯、禹功丸、茯苓防己湯、中滿分消湯、小青龍湯、木防己湯。</p>
</span>
<p>吐瀉一證，幼兒脾胃受傷，陡變驚搐最多。若是不正穢氣觸入，或口食生冷，套用正氣散、六和湯、五積散之類；正氣受傷，肢冷呃忒，嘔吐自利，即用錢氏益黃散，有痰用星附六君子湯、理中湯等；倘熱氣深伏，煩渴引飲，嘔逆者連香飲，黃連竹茹橘皮半夏湯；熱閉神昏，用至寶丹；寒閉，用來復丹。</p>
<p>稚年夏月食瓜果，水寒之溼，著於脾胃，令人泄瀉，其寒溼積聚，未能遽化熱氣，必用辛溫香竄之氣，古方中消瓜果之積，以丁香、肉桂，或用麝香，今七香餅治瀉，亦祖此意；其平胃散、胃苓湯亦可用。</p>
<p>瘧之為病，因暑而發者居多，方書雖有痰食寒熱瘴癘之互異，幼稚之瘧，多因脾胃受病。然氣怯神昏，初病驚癇厥逆為多，在夏秋之時，斷不可認為驚癇，大方瘧證，須分十二經，與欬證相等，若幼科，庸俗但以小柴胡去參，或香薷、葛根之屬，不知柴胡劫肝陰，葛根竭胃汁，致變屢矣。幼稚純陽，暑為熱氣，證必熱多煩渴，邪自肺受者，桂枝白虎湯二進必愈。其冷食不運，有足太陰脾病見證，初用正氣，或用辛溫如草果、生薑、半夏之屬。方書謂草果治太陰獨勝之寒，知母治陽明獨勝之熱。瘧久色奪，唇白汗多餒弱，必用四獸飲。陰虛內熱，必用鱉甲、首烏、知母，便漸溏者忌用。久瘧營傷寒勝，加桂、薑。擬初中末瘧門用藥於左。</p>
<span class="註">
<p>初病暑風溼熱瘧藥：</p>
<p>脘痞悶：枳殼、桔梗、杏仁、厚樸、瓜蔞皮、山梔、香豉。</p>
<p>頭痛宜辛涼輕劑：連翹、薄荷、赤芍、羚羊角、蔓荊子、滑石。</p>
<p>重則用石膏，口渴用花粉，煩渴用竹葉石膏湯。</p>
<p>熱甚則用黃芩、黃連、山梔。</p>
</span>
<p>夏季身痛屬溼，羌、防辛溫宜忌，宜用木防己、蠶砂。暑熱邪傷，初在氣分，日多不解，漸入血分，反渴不多飲，唇舌絳赤，芩、連、膏、知不應，必用血藥，量佐清氣熱一味足矣。</p>
<span class="註">
<p>輕則用青蒿、丹皮、犀角、竹葉心、元參、鮮生地、細生地、木通、淡竹葉，若熱久痞結，瀉心湯選用。</p>
</span>
<p>夏月熱久入血，最多蓄血一證，譫語昏狂，看法以小便清長，大便必黑為是，桃核承氣湯為要藥。</p>
<span class="註">
<p>瘧多用烏梅，以酸泄木安土之意；用常山、草果，乃劫其太陰之寒，以常山極走，使二邪不相並之謂；用人參、生薑，曰露薑飲，一以固元，一以散邪，取通神明去穢惡之義。總之久瘧氣餒，凡壯膽氣，皆可止瘧，未必真有瘧鬼。又瘧疾既久，深入血分，或結瘧母，鱉甲煎丸設用煎方，活血通絡可矣。</p>
<p>徐忠可云：幼兒未進穀食者，患瘧久不止，用冰糖濃湯，余試果驗。</p>
</span>
<p>痢疾一證，古稱滯下，蓋裏有滯濁而後下也。但滯在氣，滯在血，冷傷熱傷而滯非一，今人以滯為食，但以消食，並令禁忌飲食而已。</p>
<span class="註">
<p>夫瘧痢皆起夏秋，都因溼熱鬱蒸，以致脾胃水穀不通，溼熱灼氣，血為黏膩，先痛後痢，痢後不爽，若偶食瓜果水寒即病，未必即變為熱，先宜辛溫疏利之劑。若膿血幾十行，㽲痛後重，初用宣通驅熱，如芩、連、大黃，必加甘草以緩之，非如傷寒糞堅，須用芒硝鹹以耎堅，直走破泄至陰，此不過苦能勝溼，寒以逐熱，足可卻病。古云，行血則便膿愈，導氣則後重除。行血涼血，如丹皮、桃仁、延胡、黑楂、歸尾、紅花之屬；導氣如木香、檳榔、青皮、枳、朴、橘皮之屬，世俗通套，不過如此。蓋瘧傷於經，猶可延挨，痢關乎臟，誤治必危。診之大法，先明體質強弱，肌色蒼嫩，更詢起居致病因由；初病體堅質實，前法可遵；久病氣餒神衰，雖有腹痛後重，亦宜詳審，不可概以攻積清奪施法。</p>
<p>噤口不納水穀，下痢都因熱升濁攻，必用大苦如芩、連、石蓮清熱，人參輔胃益氣，熱氣一開，即能進食，藥宜頻頻進二三日。</p>
<p>小兒熱病最多者，以體屬純陽，六氣著人氣血，皆化為熱也。飲食不化，蘊蒸於裏，亦從熱化矣。然有解表已復熱，攻裏熱已復熱，利小便愈後復熱，養陰滋清熱亦不除者，張季明謂元氣無所歸著，陽浮則倏熱矣，六神湯主之。</p>
</span>
<p>秋深初涼，稚年發熱欬嗽，證似春月風溫證，但溫乃漸熱之稱，涼即漸冷之意。春月為病，猶是冬令固密之餘，秋令感傷，恰值夏月發泄之後，其體質虛實不同。但溫自上受，燥自上傷，理亦相等，均是肺氣受病。世人誤認暴感風寒，混投三陽發散，津劫燥甚，喘急告危。若果暴涼外束，身熱痰嗽，只宜蔥豉湯，或蘇梗、前胡、杏仁、枳、桔之屬，僅一二劑亦可。更有粗工亦知熱病，與瀉白散加芩、連之屬，不知愈苦助燥，必增他變。當以辛涼甘潤之方，氣燥自平而愈，慎勿用苦燥劫爍胃汁。</p>
<span class="註">
<p>秋燥一證，氣分先受，治肺為急，若延綿數十日之久，病必入血分，又非輕浮肺藥可治，須審體質證端，古謂治病當活潑潑地，如盤走珠耳。</p>
<p>沈堯峰云：在天為燥，在地為金，燥亦五氣之一也。然燥萬物者，莫熯乎火。故火未有不燥，而燥未有不從火來，溫熱二證論火，即所以論燥也，若非論燥，仲景條內兩渴字從何處得來，且熱病條云口燥渴，明將燥字點出。喻氏云：古人以燥熱為暑，故用白虎湯主治。此悟徹之言也，明乎此則溫熱二證火氣兼燥，夫復何疑？</p>
</span>
