<header data-type="book">
<h1>慎柔五書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡慎柔</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1636">公元1636年</data></dd></div>
</dl>
</header>
<h2>顧序</h2>
<p>士生於叔葉，不能希志軒冕，又不能遂邱樊，其或隱身以利物，混俗以宏道，往往以技時。史家列方伎，日者，倉公並傳，劉歆較中秘書，占候醫方，並載《七略》，一則定猶豫於幾微，一則救艱危於呼吸，學醫乎？學卜乎？吾學醫矣。予自壬午逮乙酉間，連歲作客，幾罹兵革者數矣。乃退而懸壺市上，予豈妄誕哉？吾友石氏瑞章為之依表也，然予之知瑞章，由於先知有胡氏慎柔，以醫隱於僧，物故者十年矣。予交之在二十年之前，先是吾師熊魚山先生夫人，得奇恙，隨宦游，遍叩青囊，終無濟者。予推轂慎柔，竟以六劑奏效，再數劑全瘳。自是予與慎柔同客於先生松陵治所者一年，既得朝夕領緒益，又盡收其枕匣之秘，得抄本盈尺。辛未年，予北游太學，攜之簏中，會魚山先生以黃門罷歸，思慎柔不可得見，欲盡索其書。予不敢私，而紫編丹笈，自吳入燕者，又自燕入楚矣。尋又遭寇獗猖，先生挈家遷播，聞其書已久沒兵火中，乃慎柔即有另本，亦已星散不可問。比年來，予以瑞章友善，每與促席研究醫旨，兼諸家之長，深望洋之嘆，青過前人，元成奧帙，然終於不忘所自，思慎柔不少輟，而虛怯一門，尤推獨步，遂出其遺書，即予向所授受者也，予為慶幸及感慨者久之，瑞章遂謀之棗梨，蓋傳其學，傳其人。起膏肓於未形，驅府俞之沉患，瑞章之業廣矣，瑞章之慶長矣。瑞章齒少於予，其學窺淵海，宿儒不能也。刀圭入口，僵者立蘇，所在戶外層滿，所著述甚博，麗名諸生，身故在隱顯之間，予則灰心，將以越人老矣，惟瑞章有以導予。</p>
<p><u>敷尹顧元交書</u></p>
<h2>慎柔師小傳</h2>
<p>師毗陵人，胡姓，本儒家子，生而敏慧，稚年寄育僧舍，長尋剃發，法名住想，字慎柔。性喜讀書，凡一切宗乘，以及儒書經、史、子諸編，無不究覽。心血耗疲，得瘵疾幾不起。時查了吾先生寓醫荊溪，師往求治，歲余獲痊。了吾先生涇縣人，為太平周慎齋先生高座。師穎悟沉靜，了吾先生深器之，欲授以己學，師由是執贄，事先生十余年。先生懼其學識過己，乃令往從慎齋先生，與薛理還偕行。理還亦毗陵人。予於己卯春，曾識荊於嘉水，時年已逾七十。因出了吾生平所驗案及禁方贈予，予自此益盡窺了吾之學。慎齋先生名滿海內，從游弟子日眾，師隨侍，每得其口授語，輒筆之。先生初無著述，今有語錄數種行世，多師所詮次也。師自是歸裡，治病輒應，履日盈戶外，然性好施，雖日入不下數金，而貧如昔。歲庚午，吳江宰熊魚山先生夫人，抱奇恙六七年矣。延師至，以六劑奏效，一時荐紳士大夫，咸服其神明，因往來吳會間，裡居之日少。歲壬申，予時習岐黃家十余年，雅慕師，每相過從，談論輒達曙忘倦，師每愾生平所學，嗣者寥寥，言之惋然。然竊謂師貌古神暗，當得永年。亡何，丙子仲夏，忽示疾，以手札招予，授生平所著書，凡虛損一，癆瘵一，所札記師訓一，治病歷例一，醫案一。又數日竟脫然去，年六十五。距今又十年矣！予將以其書壽之於梓，因為之傳。</p>
<h2>師訓題辭</h2>
<p>師訓者，查了吾先生麈頭之言，而慎柔述之者也。刻慎柔五書，而先之以師訓者，志所。應酬駁劇，隨感隨發，非著撰也。晨昏風雨，隨聞隨述，非箋疏也。故其言多直率而不文，其詞章多瑣屑而無脊，然正如道家之丹源，禪家之宗旨，得其單詞片語，即可該貫萬理。</p>
<p>今又錯綜原文，依類連舉，稍加序秩，無倫次而有倫次，庶幾學人，便於觀覽焉。是編出，不但慎柔祖述了吾之言在是，而慎齋先生之源流，亦可窺豹一斑矣。</p>
<h2>卷一</h2>
<h3>師訓第一</h3>
<p>夫地黃丸，為腎家之主劑。蓋腎水枯，則肝木不榮；木不榮，則枯木生心火。（五行字面，乃醫家循例之詞，讀者當隨文而各求其義。此所謂腎水即津液也，肝水即血汁也，心火即亢燥之熱氣也。津不濡血而血滯且干矣。血不涵氣而氣亢愈悍矣。故曰：枯木生心火。）故用熟地以滋腎，用澤瀉以去腎家之邪，則地黃成滋腎之功。腎所惡者土也，脾家有濕熱，則能克腎水，故用山藥補脾，用茯苓以去脾家之濕，則山藥成補脾之功。木枯則耗水，以山茱萸斂火以潤肝；火熾亦能涸水，以丹皮瀉心火而補心。心足則火不妄起，且下降與腎交，而補腎之功愈成矣。此即《難經》東方實，西方虛，瀉南方，補北方之義；又《素問》亢害承制凡兩手俱數，大便燥者，八物湯。洪大有力，地黃湯；無力，大補湯。脾燥，加山藥；脈弦，加芍藥；右關浮無力，加丁香；沉無力，加乾薑。</p>
<p>內傷，寸脈大於尺脈，此陽盛脈也，宜用保元東加歸、芍引下，則大脈去，而陽氣亦內收矣。此從陽引至陰分之法。（用意甚是而藥不合，　升胃陽，歸升肝陽，非能降也。凡引下法有三：有直用清肅，有從下滋填，有從下溫補，更有宣其上而大氣自降者，各因其病本也。）</p>
<p>內傷，右尺弦弱，不宜用寒涼，以命門火虛故也。</p>
<p>右關緩有力，緩則為濕，又寸尺弱者，用補中東加赤茯、苡仁。蓋補中補寸弱，赤茯、苡仁行中焦濕，又能使中焦之氣下行，而尺脈自和。</p>
<p>右關緩無力，用參苓白朮散加黃　，以補上而益下。凡在右，以四君子東加減。欲上，用黃；欲下，赤苓、苡仁。在左，以四物湯調理。若左寸洪有力，加木通、黃連、赤苓之類。蓋木通瀉小腸火，小腸為心之腑，黃連瀉心，赤苓者，赤入丙丁也。</p>
<p>左關浮，用羌活、防風。左關沉有力，用山梔、柴胡、知、柏之類。左尺有力，加柏以瀉其有餘。蓋左有瀉而無補，右有補而無瀉，則命門火重矣。（此謬語也。左右俱有水火，太過俱宜瀉，不及俱宜補。即如本文左尺有力，加柏以瀉有餘，何嘗不是瀉火？倘右尺太過，豈可復補之？）</p>
<p>凡內傷發熱、口乾，乃下焦虛寒，火不歸元，陽氣在上故耳。須溫下焦，使陽氣下降，則口乾自愈。（此即所謂從下溫補也，是下焦虛寒，格陽於上。所以然者，下焦之氣不續升，氣無所接引，不得順降，久結於上，化為燥火。）</p>
<p>凡內傷，火在上，水在下，故發咳嗽而喘，此皆滋陰降火所致也。初用桂制白芍、吳茱萸少許，及甘草、人參、五味、半夏、破故紙、杜仲，一溫則火下行，水上升。如或作瀉，則陽下行，而胃中所積宿食水穀行動矣。（因滋陰降火而發咳喘，乃陽為陰抑，水上火下之咎也。用辛溫撥其陰而伸其陽，生氣勃發，而敗氣敗津舉無所容矣，故或汗或瀉也。內鬱熱甚者，略佐清降，恐鬱火之發太驟為患也，曾屢見之。）</p>
<p>凡虛損，肺脈大，氣喘，下部脈弦細弱微，此皆陽上越而不降，內寒外熱，上熱下寒之症，用人參一錢，桂制白芍一錢，乾薑三分，半夏一錢，五味子十五粒，甘草生炙二分，使溫中內收，陽氣降下。（虛損氣喘：有氣痹，有氣越。氣痹有清濕外侵，有衛陽內陷；氣越有內寒格熱，有陰虛陽泛。陽陷寸脈短弱，而邪侵反弦緊；陽泛寸浮散，而格熱反洪實，以純虛與夾實之故。純虛可任補斂，夾實有溫宣、溫降諸法，未可專任補斂，其吉凶全視尺脈有根、無根，相稱、不相稱以決之。何者？純虛肺氣弱，夾實肺氣困，補斂固以振弱，亦以增困，上焦氣閉，三焦大氣舉為其所吸攝，不得動轉順降，所謂宗氣反聚也。氣化不通，升降不續，喘逼反甚，故治法須有以開為斂、以降為補之妙用。）</p>
<p>凡久病服寒涼克伐過多，以致三陽氣衰，致痰凝氣滯，以調元之劑治之。陽氣一動，則少陽先升，少陽欲先出，前有太陽，後有陽明，遏截不能伸，少陽之氣至太陽，太陽與之並則寒，與陽明並則熱，遂成寒熱瘧狀，非真瘧也。其太陽氣達，遂有傷風之狀，鼻塞、惡風寒之症見矣。陽明氣達，則有作瀉之症。此時正當調脾補元，分頭施治，則舊病盡脫矣。（此條開人神智不少。）</p>
<p>凡服寒涼克伐之過，遂成血凝氣滯，用溫補之劑，其痰決行，脈氣漸和，須預言將來或有凝血少許。此乃通經，氣壯而血行也。（此可悟葉天士久病通絡之義。）</p>
<p>凡脈細數，腎虛；弦數，肝虛；短數，肺虛。此為病重之脈，有胃氣則生，無胃氣則死。散數則為心虛。諸數之中，尚有舒徐和緩之意者，是云有胃氣也。（來高去深，旋轉不躁，是為舒緩。）</p>
<p>凡虛損脈數十數至，尚不細短，按之有一條者，可服獨參湯一二兩，然後調理。（此脈率因下寒格陽不能歸窟，宜附子加龜板以招安之。）</p>
<p>凡脾脈細弦而澀，則中氣虛寒，宜溫。直用溫藥則火起，須益智溫之，更用山藥以養脾，則益智之溫，退居下焦，補命門，火生土，遂成連珠之補，而火不起矣。（直用溫藥則火起，血虛不能涵之也。宜介類、如龜板、鱉甲、牡蠣之屬同用，非益智所能為功。能任益智者，其陰虛猶未甚。）</p>
<p>虛損大便燥者，用杏仁、枳殼、蘇梗，則能去宿糞。</p>
<p>嘗診一人，脈右關浮大，乃陽氣浮上，症當中寒，果然肚疼作瀉，宜用建中湯，收陽入內，而中溫矣。</p>
<p>凡持齋人，所食之物皆淡滲，所食之油皆屬火。滲淡瀉陽，陽虛則火起。此東垣云：持齋之人多胃虛。（滲淡瀉陽四字極是。故風濕在表、寒濕在裡者，均不可率利小便也。陽虛火起，亦有理而欠發明。蓋火性宣發，遂其宣發之性，即不見火矣。故《內經》五臟苦欲補瀉之義最宜講究。）</p>
<p>凡久病，用補脾、補命門之藥，皆燥劑，須用當歸身以潤肝，恐燥能起肝火故也。（立意極是，而以當歸為能潤肝燥，貽誤非淺，其辛溫正起肝火也。血分虛寒宜之。虛燥者復與燥劑同用，必致頭眩、肋脹，不若鰲甲、牡蠣，介類潛陽而又清靈不膩）。</p>
<p>一痰症，曾有人病痴，寸脈不起，腳冷，關脈沉洪，此陽氣為痰所閉，宜升、宜降、宜開。用紫蘇、陳皮、半夏、赤芍、赤苓、枳殼、干葛、石菖蒲、遠志、人參之類。其病欲言而訥，但手指冷。（冷字疑誤，或是物字，或是空字。此心系、腦絡、脊髓之間有瘀痹之脈，阻其神機不能靈轉也。屬血，加桃仁、丹參；屬痰，加如下方。）此乃痰閉陽氣之病，治宜歸脾湯去棗仁、圓眼、黃　，加石菖蒲、遠志、半夏，一補一開一行，後用全料歸脾湯，久自愈。</p>
<p>病患久虛，內有宿積舊痰，用參、朮補之，久乃吐出臭痰，或綠色痰，當不治。蓋積之久，而脾胃虛極不運，故郁臭耳。（此症有因蠻補而然者，或可治，或不治，須別視見證決之。）</p>
<p>一人常夢遺，診其脈，關中有動脈如大豆圓，此痰凝中焦，幸夢遺，免鼓症。（夢遺之多，而總歸於心肝二氣之下陷。但有下虛而陷者，有脾虛而陷者，有心肝自虛而陷者，有外感遏制肺與膀胱之氣而陷者，有痰涎遏制脾胃之氣而陷者，各以其脈與兼證別之。關動如豆，胃有死血也。曾見夢泄人，舌心如錢大光滑無苔，即同此診。）且寸尺俱不起，補中加茯苓、半夏、石菖蒲，亦一升一降之道也。</p>
<p>一人久悲鬱，先前五、六月倦甚，尋得痴症，只以手空指，人問為何？曰：我欲言而不能也，（欲言屬心，不能屬腦，腦絡有痹而然。）診其脈，二尺微而不起，二關洪緩，此陽鬱而不能升不能降也。用二陳東加人參，以開瘧助脾，益以升、柴助陽，石菖蒲、遠志、赤茯苓以利濕降痰降火，四劑即安，緩服丸劑而愈。</p>
<p>吐血症，初六脈俱洪數，須用茯苓補心湯。蓋白茯苓能守五臟真氣，能泄腎中伏火，能瀉脾濕以健脾。二三劑後，數脈稍退，尚洪，以地黃丸納氣；洪稍減，至弱，以四君子加減，補脾生肺，肺生水之義。如或見血，加丹皮、熟地。右關有火，加山藥；左關有火，加山茱萸；左關左尺有火，加茯苓、澤瀉、熟地。</p>
<p>一人吐血後，右關、尺洪，大便燥，口乾，用白芍、甘草、人參、蘇梗、歸身各五分，枳殼五分，杏仁四粒，黃柏二分。二劑。下即潤，諸症即退。</p>
<p>凡欲止吐血，須炒黑乾薑、五味子二物。以乾薑性溫，且血見黑即止；五味子味酸，能收逆氣。</p>
<p>一人頭面俱痛，服寒涼藥多，其脾胃脈細澀，左尺亦澀，左寸、關洪，此下焦寒而火邪逆上之故也。用羌活五分，酒炒防風五分，酒連一分，酒苓三分，白茯苓一錢，人參二錢，甘草五分，半夏一錢，破故紙一錢，枸杞子一錢。二服，脈即粗而不細，而頭痛亦除。</p>
<p>治梅核氣，用四七東加人參一錢、乾薑三分、細辛二分、桂芍一錢、半夏一錢，此皆下氣散痰溫中升陽之劑。非細辛之升陽，上焦無陽，則痰氣焉能得動。（此症因憂鬱而成者，因稟賦不足傷於房室與勞倦而成者，十居八九，與痰何涉？即以為痰，亦是燥痰，未可用辛燥也。此非喉中多一物，乃其處無血溫養，木而不仁，遂如有別物附之。由於任脈血虛不周於上，督脈氣虛不交於前，氣血兩脫於上也。下焦燥盛者，龜、鹿大劑急施，久服或可挽回，兼溏泄者萬無生理。）</p>
<p>凡癆疰病，須用金銀藤葉煎湯藥。如肺虛，加保元、五味子；心脾虛，歸脾湯。六脈俱有火而虛，八珍；脾肺虛，補中；腎脈洪大，地黃湯。</p>
<p>凡病久嘔，用補脾下氣之藥，其中須用當歸錢許，以潤下枯。蓋氣在上，久而不下，下無津液，故用潤之。然脾胃虛而嘔者，又忌當歸。（肝熱與中焦濕熱為患者並忌之。）</p>
<p>五月火月，六月濕月，火旺則生濕，二者相並，肺金受克，則熱傷氣，而痿倦之疾作矣。故設清暑益氣之法。黃　助肺，人參助元氣，甘草瀉心火，則元氣復而肺氣清；濕熱盛而胃氣不清，故加蒼朮；濕熱在中而飲食不化，故加陳皮、青皮以開胸膈，加神麯以助消飲食；小便赤澀，加澤瀉以去下焦之濕；口渴，加葛根以解肌熱，又能接胃家津液上潤；胃家濕熱盛，則腎水受克，加黃柏以救腎水；濕熱盛則陽道遏而身熱，加升麻以升陽，又走表以益陽；而門冬清心，五味斂肺，恐濕熱傷肺故耳。</p>
<p>五苓散為四、五、六月時令之藥，（五苓散非可常服之藥，令人畏發散而喜利小便，其禍甚大。蓋人之病，從毛竅來者十九，即從呼吸入者，亦借發散之功以鼓動陽氣，俾得吐故納新。若利小便，必病從下而上及飲酒飲水得之者可耳！過用即傷膀胱元氣，三焦下陷不可復元矣，曾屢見之。）蓋濕熱盛，則三焦氣不清，上咳中滿下瀉等症作矣。豬苓清上焦，茯苓清中焦，澤瀉清下焦，恐濕熱盛而不化，故用白朮以健脾。然陽氣不到，則濕不去，譬如日所不照處，地不易干，用官桂之辛升至表，引表之陽氣入裡，裡得陽氣，而濕即行矣。此方可升可降可吐。欲吐，先煎前散冷服，次飲熱湯一碗，即吐；欲利小便，溫飲；欲發汗，熱飲。</p>
<p>去濕，濕去則金清，金清則降下之令復，譬如主人久不在家，家中穢污所塞，須掃除穢污心俟主人回之意。</p>
<p>截瘧方，用白朮五錢，當歸三錢，陳皮二錢，雄丁香五枚，烏梅三枚，母丁香四枚。水一大碗，浸露一宿，五更，去渣取汁溫服。蓋凡久瘧則內傷，五臟俱虛，內起火，發熱。火所畏者水也，以水浸藥，略溫服之，則火見水而火退矣，火退則諸藥皆能成功。白朮補脾，當歸潤肝，陳皮消痰，丁香溫胃，烏梅斂肺潤下，其病痊矣。露一宿以收清陽之氣，五更服者，子一陽生，至寅三陽足矣。（久瘧可用，初瘧再加散邪之藥。）</p>
<p>凡右關浮緩，此陽氣在上，中已虛寒，主肚疼之疾，秋來主有瘧痢。蓋內已虛寒，受邪已深，至秋，陽氣下降入腹，而正氣已旺，宿邪不能容，故發此二疾。邪輕則瘧，重則痢，皆正瘧疾，二尺細，此下焦寒也，溫下則瘧可以去矣。不然，亦成脹。</p>
<p>凡豁大脈，久病按下尚渾渾一條，此陰陽未離，猶可治之。若下無一條，開在兩邊，此陰陽已離，法不可治。此脈常主作瀉，蓋豁大陽虛不能固下，而陰與陽不相合，故下不禁而作瀉也。（臥病日久，不宜此脈，若帶病作勞，身燥、氣促而脈散者，未可徑汗之。）</p>
<p>凡久病患，脈大小、洪細、沉浮、弦滑，或寸浮尺沉，或尺浮寸沉，但有病脈，反屬可知。</p>
<p>如久病浮中沉俱和緩，體倦者決死。且看其面色光潤，此精神皆發於面，決難療矣。（此條論死脈極驗，體倦二字著眼，此時大率神清音朗而長臥不能反側也。）</p>
<p>凡肝脈細，余脈和緩，周慎齋用補中東加枸杞即愈，以枸杞補肝故也。</p>
<p>凡寸脈大，陽邪勝，則病者亂而言神；陰脈勝，則病者亂而言鬼。</p>
<p>病重藥宜輕宜少，只以固中劑三四味，漸漸取效。（只言陽邪陰邪未晰，氣在血上多言神，亢吉散凶；血在氣上多言鬼，郁吉陷凶。亢、郁可治，散、陷脫也。）</p>
<p>大抵吐極難醫，瀉極難醫。</p>
<p>凡久病，左尺浮大，宜補肺氣，須保元加白芍、白茯苓之類，蓋金能生水之義。</p>
<p>大抵病在上，宜求之下；在下，宜求之上。凡用藥，有用味留氣者，須熱飲為妙。倘有畏服熱藥者，以水洒藥面上，即氣收在內，是留氣也。</p>
<p>凡四時之令，皆有寒熱溫涼，有及時來者，謂之正令。譬如春宜溫而反寒，謂之不及；溫而先熱，謂之太過。宜溫而寒，用香蘇散解之。如當春得正令，夏初反復　峭，其春初之令未除也，猶宜香蘇散解之。倘春遇極溫，即為太過，則口渴、舌燥之症見矣。第發熱而不惡寒者，謂之溫病。此溫令之過，治有溫病條說具。四時各有時令之病，各有時令之過，咸以此類推之。</p>
<p>若夏時四、五、六月正當夏令，而寒凜凜猶春初之意，香蘇猶不免耳。若當時小便赤、口渴等症見，此時令症也，宜五苓、清暑益氣、十味香薷之類治之。若當時不熱，至秋七、八月天氣暑熱，人患前症，仍以前湯治之。是治其不及之症，而調其不及之候也。</p>
<p>譬如春天正令，三月溫和，偶或風寒大作，即有感冒傷風寒之症。若五、六月正令大熱，偶或大雨，遍地塵熱之氣，為寒雨逼入人家，即為受暑之症，宜清暑益氣湯解之。</p>
<p>凡診老人及病患，六脈俱和緩而浮，二、三年間當有大病或死，何也？脈浮則無根，乃陽氣發外而內盡陰火也。（陽衰於外，陰竭於內，即洪緩而按之無一條者也，最忌喘促、瀉利與徹夜不眠、飲食日減、四肢無力等證。）急用保元或建中服之，則陽氣收於內，即反見虛脈，或弦或澀，此真脈也，宜照脈用保元助脾之劑，脈氣待和，病亦尋愈，壽有不可知者。（此條說得好，嘗見老人冬月體倦、少食、畏寒、右寸短、左關陷、兩尺緩長或左尺微陷，立春加病，春分死，未有能延至立夏者，金敗水枯，木無所生也。兩尺緩長，所謂緩臨水宮也。）</p>
<p>大凡內傷症，下俱虛寒。</p>
<p>凡病，肺脈浮大即喘，用溫脾斂肺之藥，斂不下則成脹，既斂下，肺脈猶大則成瘧。若遍身發瘡，浮大無妨矣。右關浮大則肚疼，建中斂之，斂不下則成痢，皆內傷之症。</p>
<h2>歷例題辭</h2>
<p>語云：百聞不如一見。固有著書盈棟，而見之施行，則膠瑟罔效。宋義譚兵，非不娓娓一用輒蹶，曾不如一小卒之久於行間者，跡所睹聞，恆為七書韜略所未經道，此無他，其所回來，千書萬軸，數言可了，更為躬行體驗，要語無多，發前人之未發，開後人之津梁，慎柔固有功於今古哉！故為列虛勞歷例，次於師訓云。</p>
<h2>卷二</h2>
<h3>醫勞歷例第二</h3>
<p>嘗治虛損，脈緩五六至，但咳嗽、發熱、無惡寒、喉痛、喉梗等症，以為可治。服保元君之類十余劑，咳嗽略可，熱亦微退。至二十劑外，咳嗽反甚，熱又如故，而身反不能展側，兩足漸無力，至不能行而足　。此何也？緣下焦腎氣衰憊，而百骸間無津液涵溉，且陽氣不能四達，脾肺之氣不能下輸。（數語實括盡虛損機關，但保元、四君、八味、補中，斷難治此大症，偶有治愈者，必其血分猶未甚虛甚痹也。）故足無力而蜷，雖藥有效，病難暫減，終不治也。</p>
<p>嘗治虛損，六脈俱數，有神和緩，雖數至十余至，不妨可治，初用四君加黃　、五味子數劑後，數脈漸減，仍帶和緩意，可治之。若退出，細如絲，尚數，決不可治。又有退出如絲而不數，此猶有胃氣，無肚疼作瀉，（肚疼為血死，作瀉為氣脫。）而飲食如常，亦可保元、參、朮調理，二三年愈。然所云服藥後數脈漸減，和緩有神為可治者，亦須三月見功，年半方全愈。又須看年力之衰壯，及精神脾胃之強弱也。若服藥後，脈雖和緩，而腿足漸無力，如前所述，且痰嗽不止，脈雖緩，治之無益焉。然或如前症，足雖無力，而熱已退，嗽減，飲食如平人，此脾氣尚弱，猶可遷延歲月。又有如前症，六脈俱和緩，服前劑，熱退而脈漸弦，反作瀉下血，此平時經絡留血，為火熱煎熬而成者也。（此涼藥遏血，伏陽灼而敗之，即仲景平脈篇熱氣所過血為癰膿義。）下半月或十日五日自愈。下血時，能飲食，不死；不能飲食，精神倦怠，死可立待。其用藥，健脾保元氣為主。腹痛、脈弦，理中湯；惡心、飲食少，六君子湯。無此二症，用四君、保元治之。蓋下血者，邪氣從下竅而出也；又有變作傷風狀者，邪氣從上竅而出也，宜溫肺助脾之藥，亦得半月而愈。又有六脈俱和緩，數八九至，服前劑，先右三脈退去二三至，左脈尚數不退，是右表先退，左裡未退也。至數脈盡退，病將痊愈，左脈猶比右脈多一至，足見表退而裡未和耳。《難知》云：傷寒以左為表，右為裡；雜病以右為表，左為裡。信然。（看元氣之存亡在左，看元氣之輕重在右，百不爽慎齋師嘗云：凡病求汗不出者，不治。虛損，六脈俱數，服滋陰降火之品，不及四、五十劑者，猶可治之。如服至數十劑及百劑者，真元耗盡，雖脈大洪緩，中已無神，因用補劑即退去，洪緩變為細數，即漸痿困不起而斃矣。戴人：年少不妄服藥，易治。正此謂也。又或服寒涼未多，用保元、四君加生薑一二錢，一二十劑。求汗不出，而洪緩之脈不退，亦屬難救，或雖無汗，而洪緩漸減，病亦漸去，且能飲食，則無妨矣。如此脈，大抵秋冬易治，春夏難療也。</p>
<p>凡虛損，三四月，脈雖數，尚和緩，六七至。若逢春夏火令，津液枯槁，腎水正行死絕之鄉，肺絕脾燥，無有不死者。若秋冬，火令已退，金水正旺，脈雖數，可治也。然使病者，骨立、喉啞、喉痛、寒熱、脈細數、肚疼作瀉，亦不治。如前症求治，初用補劑，病當反重，何也？病已延至三四月，服藥已多，其不效者，必過用寒涼，病者五臟愈虛，邪火愈熾，初用補劑，或數帖，或一二十帖，邪火一退，反覺頭眩、惡心、骨疼、腳酸、神氣昏懶、不思食。（亦有宣肺疏肝健脾滋腎反見火大者，初為涼劑遏其真陽下伏，接用振陽安陰法即愈，以根氣尚穩也。）倘脈不細數，而帶和緩，急用保元、四君大劑連服之，便安寢半日或一日，睡覺即精神頓爽。再一劑，再寢，飲食漸增，則可治矣。倘脈細如絲，肚飽昏憒，即屬難治。</p>
<p>凡虛損病久，脈雖和緩，未可決其必療。蓋久病之人，元氣虛弱，脈氣和緩者，假氣也。</p>
<p>（真氣渙散，不能鼓動而怠緩也。）過七、八月，間服補劑，病得漸減，此生機也。或延至十一月，一陽初動，陽氣漸升，內氣空虛，無以助升發之機，則變憎寒壯熱。（久病忽見寒熱如新感者，乃生死關頭也。得微汗而體輕氣旺，為陽氣振；或微汗，或不汗熱退而體重氣弱，為陽氣脫；或肢困不能反側，或胸痹飲食日減，是皆奇經已敗之絕證。）服補藥十余帖，寒熱漸退，猶可延捱，調理至二三月不變，得生矣，否則不治。緣春木旺，脾肺久病氣衰，不能敵時令矣。</p>
<p>嘗醫新病，或痢或雜病，初時有邪，脈浮數。用按脈病藥數劑，數脈即退，病亦向安。</p>
<p>劑，即倦，脈反覺浮數，此時不可謂尚有邪也。蓋邪退而神氣初轉，故浮，只宜保元湯養元氣。浮數之脈，得微汗而退，此乃陽氣升，元神足，而邪自退之法也。倘不識此，仍以祛邪之藥治之。精神日損，肌肉日消，久之變為虛勞矣。</p>
<p>凡病遇時節則變換不定，或又加者，蓋遇時節，則天地之氣或升或降，而人身之氣亦應病者精氣尚充，猶能與時令相應。若元氣久虛之人，無以助升降之氣，上升則頭眩、嘔噦，下降則足熱、身寒，反為氣候所牽，而身不能為之主矣。（病隨節氣而動者，氣敗也；隨月之盈虧而動者，血敗也。故重病朔望有加即不治。本文是專指升降太過，更有當升不得升，當降不得降，身氣與天地參差者，其實亦是一般機括。）</p>
<p>脾胃病，十分虛，死於初春，亦有望春而死者；八分虛，死於孟春；五、六分虛，死仲春。</p>
<p>及醫之不得其當者，雖原無死道，而業已醫壞，至季春不能挨矣。清明前後二、三日，尤為肺腎病，起於春，十分虛，死於初夏，亦有望夏而死者；八分虛，死於仲夏，六分虛，死於季夏。</p>
<p>凡久病，服藥後六脈俱和，偶一日診之，或細加數，或虛弱，或變怪異常，即當細問起居之故，或有一晚不睡而變者，或因勞碌惱怒，或感冒風寒，各隨其感而治之。治之而脈終不和，此為難治。一晚不睡或勞傷者，則用補中助元；傷飲食，則用鹽湯探吐，後以二陳加減消食之品佐之。若房勞者，脈雖變而病不變者，猶可以平日調補治之。倘病與脈俱變，調之不和，決難救矣。秋冬尚可冀幸，春夏萬不可為。若傷暑者，宜少撤帷閉，以治暑法治之。若冒風寒，以溫肺加風藥散之，一、二劑即和，乃可；若不轉，亦不治。大抵易於秋冬，而難於春夏，亦觀人脾胃元氣而消息之，不可輕忽，妄許人以易治。</p>
<p>嘗治一產後婦人，素有勞症，一年前，以八物湯愈，然連連綿綿，未為全去。次年得產，正癸亥，屬戊癸化火之年，天氣炎甚，時醫雖用人參，仍以山楂能解參毒間之，致寒熱作瀉。</p>
<p>余診之，脈數九至，尚不短，用保元加乾薑、熟附一分，四劑，數脈退減。再清晨診之，按下浮緩，但去著骨，指下細弦如絲，數脈如故。（此又以浮緩中有一條為敗脈矣，可知前卷一條之說，只是脈中之脊，非別一條也，神理全不同。）予曰：不可為矣。彼懇求不已，用桂制白芍五分，炙草五分，參、　各五分，作建中湯之意，服至八劑，數脈退，幾六至。又四劑，幾五至。彼以為愈矣，遂止藥。此四、五、六月後，脈轉弦細而歿，此案有裨前論，故附之。</p>
<p>（凡診虛損，無不留心生死關頭者。然生死在脈，死之遲速在證，其中頗有難決者。以脈言之，一則兩寸短弱，兩尺軟長，起伏如一，極似無病，而兩旁邊際蕭條，與肌肉不相入也；二則右寸短弱，左關沉陷，右尺細長，左尺軟長，極似有根也；三則午前脈和似無病，午後硬大似病重，而其證無甚增減也。以證言之，一則體重不能反側，或兩肋支滿，或起動汗出而神清音朗也；二則胸痹似結，痰不能出，飲食日減，而亦有不減也；三則忽發寒熱如新感，旋即熱退，更加體倦氣弱，語聲拖曳也。至於脈之細數芤散革牢，先數後緩，先硬忽軟，先細忽大；證之喑啞噦噫，更無不知其逆者，欲以此決其死之何日何時，終難灼見。曾診兩人，一壯年冬月寒傷於足，以麻黃發其上，氣逆足　稍動即喘，不能飲食，正月諸症稍減。</p>
<p>診之，脈久不來，來如雀啄，僅在皮毛，五、七啄後，即盤旋於皮毛之上而不能去，去又如弦之絕，從中分斷，不能返入，兩手並診，又彼此相避，來去不齊。此元氣已斷，危在旦夕。因飲食步履未改，決在立夏，竟延夏至何也？一老年平氣弱音低，忽增胸痹、體倦、行步乏力，飲食日減，夜不成眠，脈來雀啄，參伍不調，模糊無力，但不盤旋，不中斷，不兩手相避，其歇在已去之後，而不能來耳，亦無寒熱。時方冬月，用溫補大劑，保腎安肝，兼行痰血，並於飲食加意調攝。脈旋轉正，猶慮腎涸木枯，及春生發之令，難免摧折。乃至次年冬月，脈又結代，復以法調之，至今四年安健，此又何也？元氣退而藥食進之，其勢必有相及者，特其機微而難喻耳。究竟死期遲速，總不外臟氣、天時、五行互克，即不十全，不失八、九。《內經》曰：別於陽者，知病處也；別於陰者，知死生之期。陽脈知病，陰脈知死，陰陽之脈，豈可不別乎？）</p>
<h2>虛損門題辭</h2>
<p>虛勞兩字，世皆　侗言之，不知症有不同，治有相反。予幼年初聞慎柔之教，輒云損病自上而下，勞病自下而上；損病傳至脾至腎者不治。勞病傳至脾至肺者不治。以勞法治損，多轉泄瀉；以損法治勞，必致喘促。於此之涇渭不明而懵焉，以怯病該之，其能免於南轅北轍之相左乎？丹溪立相火之旨，惟以四物滋陰，陰陽久為晦塞。《內經》益火壯水，分別之理，豈好為多事哉？嘉隆間，薛立齋先生出，而醫學於丹溪，方得一變；慎齋先生嗣出，而醫學乃得再變。至我慎柔，乃為集先賢之法，及授受之源流，以虛損勞瘵，截然分為兩門，而金篦家始煌然再添一炬矣。夫近代《原氣論》一書，以先後天分陰陽，即以先後天立治法。余竊謂先天固有損者，非後天損之，無以致病。後天既損之矣，而先天又何能無損？治先天者，治後天耳。豈能舍後天而治先天，愈玄愈奧，總緣作者非真實生平得手，說玄說奧何益也。簡而備，明而確，其在此編乎？</p>
<h2>卷三</h2>
<h3>虛損第三</h3>
<h4>脈法</h4>
<p>《脈經》曰：脈來軟者為虛，緩者為虛，微者為虛，弱者為虛，弦者為虛，細而微者血氣俱虛，小者血氣俱少。</p>
<p>仲景《要略》曰：脈芤者血虛，沉而遲者脫氣。又曰：血虛脈大，如蔥管。又曰：脈大而芤者脫血。</p>
<p>慎齋先生云：浮大脈，見於右尺，為假火，假火按內傷施治。</p>
<p>凡損病脈數，為胃氣不足。若轉緩弱，即胃家生發之兆矣。左脈微細不起，右尺帶數或浮大，調治非二三年不愈也。</p>
<p>緊數之脈，表裡俱虛，緊為寒傷衛，數為血不足。肺緊則肺氣不足，不能衛皮毛而畏風脈數則陰虛火動，脈緊猶有胃氣，脈數則無胃氣。（以脈緊為有胃氣，真見到之言，然亦須審有無伏陽在內，若緊而孤即凶。）</p>
<p>內傷作瀉，而肺脈豁大者，難治。</p>
<p>病久而脈弦者，轉瘧方愈；脈緩者，轉痢方愈。蓋久病得氣血活動，故轉病也。脈數不得汗，即生腫毒方愈。</p>
<p>兩尺無脈，是濁陰在上，痰凝氣閉，肺不下降，金不能生水，而成痰厥。（此吾所謂吸，肺氣上閉，如王啟玄云：虛管溉滿，捻上倒懸，而其下滴水不能漏。）經曰：上部有脈，下部無脈，其人當吐。吐則濁痰涌出，上部疏通，肺氣下降於腎，少陰上升於巔，而有生發之機矣。</p>
<p>仲景云：陽脈澀，陰脈弦，當腹中急痛，尺為陰，寸為陽，陰脈弦，水挾木勢而侮土也。陽脈澀者，澀為氣有餘，是氣分有伏火也。火鬱在上，水盛在下，故腹急痛。</p>
<p>寸口脈微，尺脈緊，其人虛損多汗，此陽弱也，衛氣弱，名曰　；榮氣弱，名曰卑。</p>
<p>寸口脈微而澀，微者衛氣衰，澀者榮氣不足，衛氣衰則面色黃，榮氣衰則面色青。榮為根，衛為葉，枝葉枯槁，而寒　咳逆，唾腥吐涎沫也。</p>
<p>趺陽脈浮而芤，浮者衛氣衰，芤者榮氣傷，其身體瘦，肌肉甲錯，浮芤相搏，宗氣衰微，四屬斷絕。</p>
<p>寸口脈微而緩，微者衛氣疏，疏則其膚空；緩者胃實，實則穀消而水化也。穀入於衛，脈道乃行，水入於經，其血乃成。榮盛則其膚必疏，三焦絕經，名曰血崩。</p>
<p>趺陽脈微而緊，緊為寒，微為虛，微緊相搏，則為短氣。（以上數條所稱微脈，皆謂起伏短小，非形細亦非力弱也。故主衛氣。）</p>
<p>少陰脈弱而澀，弱者微煩，澀者厥逆。</p>
<p>趺陽脈不出，脾不上下，身冷膚硬。</p>
<p>少陰脈不至，腎氣微，少精血，奔氣促迫，上入胸膈，宗氣反聚，血結心下，陽氣退下，熱歸陰股，與陰相動，令身不仁，此為尸厥，當刺期門、巨闕。</p>
<p>脈見短數，則無胃氣，細數、緊數，俱非吉兆。</p>
<p>洪大，按之下者，虛損之脈。（下下似當有空字。）</p>
<p>凡虛損之脈，命門火旺，腎水不足，心火克金，木燥土干，五火交熾，若用知、柏之品降火，是猶干鍋紅烈之中，傾一杯之水，反激火怒，立地碎裂矣。若脈帶緩，是胃氣未絕，猶可調理，用四君加山藥，引入脾經，單補脾陰，再隨所兼之症治之。土能生金，金能生水虛損，肺脈數大者，須防作瀉。</p>
<p>江篁南云：得之好內者，其脈芤而駛，真陰損，熱內生也。緩而弱者，重傷於苦寒劑也。</p>
<p>汪石山云：凡見數脈，難治，病久脈數，尤非所宜。脈或浮澀而駛，或沉弱而緩者，脈之不常，虛之故也。虛損，轉潮熱、泄瀉，脈短數者，不治。</p>
<h4>損脈致病次序</h4>
<p>扁鵲曰：損脈之為病若何？一損損於皮毛，皮聚而毛落；二損損於血脈，血虛不能榮於；三損損於肌肉，肌肉消瘦，飲食不能為肌膚；四損損於筋，筋緩不能自收持；五損損於骨，骨痿不能起於床。反此者，至脈為病也。從上下者，骨痿不能起於床者死；從下上者，皮聚而毛落者死。</p>
<h4>損脈損症</h4>
<p>扁鵲曰：一呼二至，一呼一至，名曰損。人雖能行，獨未著床，血氣皆不足矣。再呼一至，再吸一至，名曰無魂，無魂者當死。人雖能行，名曰行尸。</p>
<h4>治損法</h4>
<p>扁鵲曰：治損之法若何？損其肺者益其氣，損其心者調其榮衛，損其脾者調其飲食、適其寒溫，損其肝者緩其中，損其腎者益其精氣。</p>
<h4>五臟逆傳致病訣</h4>
<p>汪石山云：余治一人，年二十余，病咳嗽、嘔血、盜汗，或腸鳴作泄，午後發熱。診其脈，細數無倫次。語之曰：《難經》云：七傳者，逆經傳也。初因腎水涸竭，是腎病矣。腎邪傳之於心，故發熱而夜重；心邪傳之於肺，故咳嗽而汗泄；肺邪傳之於肝，故脅痛而氣壅；肝邪傳之於脾，故腸鳴而作泄；脾邪復傳之於腎，而腎不能再受邪矣。今病兼此數者，死不出旬日之外，果期而歿。所云邪者因自病之極，不能自安而侵凌於上也。（隨筆承制生化論：自虛為人所乘其勢順；自病而反能乘人，其勢逆，即此義。）</p>
<h4>虛損死證</h4>
<p>經曰：肉脫熱甚者死，嗽而加汗者死，嗽而下泄、上喘者死，嗽而左不得眠者肝脹，嗽而右不得眠者肺脹，俱為死症。（當云：脹在肋上近腋屬肺，肋下近腰屬肝。上下俱脹，氣血</p>
<p>《靈樞》云：皮寒熱，不可附席，毛髮焦，鼻槁，臘不得汗，取三陽之絡，以補手太陽寒熱者，肌肉毛髮焦，而唇槁，臘不得汗，取三陽於下，以去其血者，補足太陰，以出其汗。骨寒熱者，病無所安，汗注不休，齒未槁，取其少陰於陰股之絡；齒已槁，死不治，厥劉河間曰：虛損之疾，寒熱因虛而感也。感寒則損陽，陽虛則陰盛，損自上而下，治之宜以辛甘淡，過於胃則不可治也；感熱則損陰，陰虛則陽盛，故損自下而上，治之宜以苦酸鹹，過於脾則不可治也。自上而下者，由肺而心而胃；自下而上者，由腎而肝而脾。論曰：心肺損而色敝，腎肝損而形痿。穀不能化而脾損，漸漬之深，皆為虛勞。</p>
<h4>寒熱論</h4>
<p>汪石山論寒熱互發者，蓋氣少不能營運，而滯於血分，故發熱；血少不能流利，而滯於氣分，故發寒。仲景云：陽入於陰則熱，陰入於陽則寒，是也。寒則戰栗鼓頷者，陰邪入於陽分也；熱則咳痰不已者，陽邪入於陰分也。此則陰陽兩虛，故相交並而然也。</p>
<p>慎齋云：傷寒寒熱往來，系邪在半表半裡；內傷寒熱，系氣血兩虛。氣虛則發熱，血虛則發寒。</p>
<p>凡肌表發熱，皆邪陽勝，正陽虛也。用黃　、附子，所以助陽。蓋陽氣既虛，黃　性緩，不能到表，須得附子雄壯之氣，引　直走於表，助之成功也。</p>
<h4>五臟致傷</h4>
<p>《靈樞》云：神傷於思慮，則肉脫；意傷於憂愁，則肢廢；魂傷於悲哀，則筋攣；魄傷於喜樂，則皮槁；志傷於盛怒，則腰脊難以俯仰也。</p>
<h4>虛損致病之由</h4>
<p>褚先生精血篇云：男子精未通，而御女以通其精，則五體有不滿之處，異日有難狀之疾。陰已痿，而思色以降其精，則精不出而內敗，小便道澀而為淋；精已耗而復竭之，則大小便道牽痛，愈疼則愈欲小便，愈便則愈疼。又云：女人天癸既至，逾十年無男子合，則不調；未逾十年，思男子合，亦不調。不調則舊血不出，新血誤行，或潰而入骨，或變而之腫，或雖合而難子。合男子多，則瀝枯虛人；乳產眾，則血枯殺人。觀其精血，思過半矣。</p>
<p>為月水，為經絡之余氣。苟外無六淫所侵，內無七情所傷，脾胃之氣壯，則衝任之氣盛，故月水適時而至。然有面色萎黃，四肢消瘦，發熱口乾，月水過期且少。乃陰血不足，非有餘瘀閉之證，宜以滋血氣之劑徐培之，使經氣盛，水自依時而下。</p>
<p>又云：凡放出宮人，及少年孀婦，年逾三十，兩跨作痛，而膚不腫，色不變，或大小便如淋，登廁尤痛，此血瘀漬入隧道為患，乃男女失合之證也。（若漬入腸胃，即為血臌。經云：腹裡大，膿血在腸胃之外，小便澀而奇痛，不可作水利之。）</p>
<p>丹溪云：腎主閉藏，肝主疏泄。二臟俱有相火，而其系上屬於心，心為君火，為物所感則易動。心動則相火翕然而隨，雖不交合，其精暗耗矣。</p>
<h4>亢則害承乃制論</h4>
<p>慎齋先生云：在上益下謂之濟，以下犯上謂之亢。水火濟制，則無病而多壽。譬若火生，則金氣受傷，而金之子為水，水能克火，子報母仇，而火反受其制矣。蓋造化之常，生則必克，克則必生，不能以無亢，亦不能以無制焉耳。故又曰：制則生化。所以有病久自愈者，亦亢而自製，剝生復也。苟亢而不能自製，則湯液、針石、導引之法以為之助。譬如水固能制火，而腎水本涸之人，豈能以涓滴救其燎原哉？！明乎此理，而補瀉運用之妙，自超越於</p>
<p><a href="_files/pw-w1.bmp">河洛生成之圖</a></p>
<p>又云：人之一身，生死系於脾胃。凡傷寒、雜病一七後，只當於脾胃求之，始免殺人之東垣云：補腎不若補脾，此之謂也。然調理脾胃之法，須明五行化氣制克之理，譬如木乃水生，獨水不能生木，水為木之母，克水者土，則為人，金失所養，水枯火凡補瀉法，瀉其有餘，因不足者瀉之；補其不足，因有餘者補之。譬如木盛，因於肺虧，當瀉南方以制肝，使火無相克，則肺自清。金衰因於火盛，火盛則水虧，當補脾以養金，則水自長。蓋土常不足，最無有餘。氣血貴於中和，偏勝者乃邪傷也。瀉其有餘，是瀉邪也；補其不足，是補正也。氣有餘者，非氣也，火也。初因氣不足，漸化為火，燒爍真陰，為害滋大。人之一身，以血為主，血以氣為先，（二語似平淡而超卓千古，前人重氣不重血，西人知血不知氣。人之百骸五臟，由血長養，而氣所以運化夫血以遂其長養也。悟此乃能養生，乃能制病。）當補血中之氣，四物加肉桂；補氣中之血，保元東加減。治病不可忘血，亦不可忘氣。忘血則四肢不能用，忘氣則體無管攝，平和之藥，氣血疏暢，宜多不宜少；寒熱之藥，不過卻病，宜少不宜多，多則大傷脾胃。虛中有實，正虛生實邪；實中有虛，實邪由虛致。實以瀉為補，虛以補為瀉。言不能盡，學人研究之可也。東垣《脾胃論》盛衰用藥禁論，豈可不熟讀乎？</p>
<h4>虛損誤藥之辨</h4>
<p>凡得勞心、嗜欲、七情、飲食、縱酒、飢飽過度，此內傷也。初不自覺，久則成患，以致身熱、頭痛、惡寒。或因微熱，脫換衣服，腠理不密，易感風寒，症類傷寒，實非傷寒。醫不明此，驟用麻黃、紫蘇、荊芥大發其汗，熱未退，仍以寒涼瀉火之劑，下陷清氣，濁氣轉升，故食下腹滿，又大下之，故中愈不足，以致汗多亡陽，下多亡陰，陽耗散，死不旋踵，實醫殺之耳。</p>
<p>傷寒發表，汗透而愈。內傷寒熱，間作不齊，發熱而微汗至頸或臍而還，（臍字誤，仲劑頸而還。劑，際也。謂汗僅在頭，齊頸而下無汗也。）口不知味，似瘧非瘧，或兼泄瀉，醫與諸傷寒藥，不愈。如是者，名曰內傷。雜病多端，汗而又熱，熱而又汗，亦頭痛發熱，或自語煩躁，不思飲食，遍身骨痛者，用補中益氣加羌活；或泄瀉而熱不退，此陽虛也，補中加附子；頭痛甚，加蔓荊子、川芎；或無汗而熱不退，亦補中；或咳嗽痰中帶紅，亦補中。此病裡虛不足，反用汗下清利，死可待矣。內傷病中，有泄瀉、嘔吐、腹脹疼痛、咳嗽、清涕，四君加和中散，無有不效。</p>
<p>元氣藏於腎中，靜則為水，動則化而為火。腎者肝之母也，元氣足則肝子足以承乎心。心為主，神明出焉，元氣不足，心神失養，相火抗拒，脾土受虧，金衰木旺，諸臟皆病矣。惟胃氣不絕，用藥力以培之，庶可冀幸萬一。生脈散加參、　或保元之類是也。但見潮熱，宜補中。火熾，宜發，用升陽散火湯。虛而不瀉，宜血分中補氣，保元加滋陰。若瀉發困熱，宜氣分中補血，保元、四君加芍藥。瀉則加松花。如自汗，乃陽氣虛，加附子。內似火爍，胸中嘈痛，白朮一錢，黃連一分，陳皮二分，神麯為丸細小。臨臥時嚼碎，津咽下三十丸，三日愈，則止。久瀉傷腎，用保元兼四神丸。或腹脹，和中散並補中。脈見平和，而病不愈，乃藥力未至，不可改換。倘不愈，又脈見細數、緊數，皆邪脈變異，更兼嘔吐，不祥之兆也。又口失滋味，不思飲食，不可誤作胃絕，是內有虛火，當滋生元氣，不可以燥劑動火。蓋總以脾胃為主，脾胃四季皆擾，常自不足，傷寒言陽明有餘，因火邪鬱於胃中，故瀉胃中之火耳。</p>
<p>虛損由於內傷證，與外感相似。外感頭疼、發熱、惡寒，其脈浮數有力，宜汗解而愈，從表入裡，脈洪大，大便燥，宜和解通利之。內傷亦頭痛、發熱、惡寒，其脈緊數無力，宜補中加羌、防。元氣一足，邪氣自散。羌活領太陽經而出，前證俱退矣。不效，再一劑，自然見汗，乃愈。庸醫不知此理，仍用發表，汗至頸而還，一旦發似瘧，作瘧治之，又似痢，作痢治之，更加發熱，庸醫無措手處矣。傷寒脈洪大有力，內傷豁大，似洪而無力，亦大便結燥，仍用清涼汗下解散之法，大傷脾胃，則肺已虧矣。咳嗽吐痰，或吐紅痰，又作陰虛火動治之。脾土一損，雜病多端，潮熱似痢似瘧，且脾虛不能統血，而吐血之症成矣。若因火盛，脾陰不足，血枯之症，亦不可用滋陰劑，當用救陰之法。陰從陽生，陽從陰長之義。人參、白朮、蓮子、五味、甘草、白茯苓之類是也。惡心，加乾薑；不思飲食，加砂仁；胸中氣滯，加陳皮；泄瀉，去陳皮；汗多，加白朮、黃　；惡寒，加肉桂；吐紅，去桂。若泄瀉而諸藥不愈，胃虛而難受藥者，陳臘肉骨灰、陳米鍋焦，共三分，炒松花一分，米糊丸，人參看輕重虛實用之，煎湯送下六、七十丸。此法活人多矣。</p>
<h4>虛損秘訣</h4>
<p>虛損之起，或久遇勞碌，損傷陽氣，遂發熱，漸至咳嗽，或傷風失治，或治之不當，亦症。或傷寒汗下失宜，久之遂成寒熱之症。或飢餓傷脾，飽食傷胃，治之不妥，亦成此症。</p>
<p>是皆陽氣虛弱，倒入於內，便化而為火，而發熱也。須用保元或四君加黃　，再加干葛以開肌，紫蘇以開皮毛。病未多日者，服十五、六劑，則自然汗來。譬如夏天鬱蒸一二日或三四日，遂大雨方涼，陰陽和而後雨澤降也。又如秋冬陽氣降入地中，則井水溫暖；至春夏陽升，則天地和暖，萬物生化，井中水冷徹骨矣。何內熱之有？損病初發，十數日間，未經寒涼藥，可用火鬱湯、升陽散火湯及補中益氣湯。若久之，則火鬱湯不宜用矣。保元、四君繼之，此為第二關。蓋元氣已虛，只助陽氣，不宜散火。誤以當歸、地黃補血，並黃柏、知母苦寒，有形重味，反傷無形陽氣。陽氣愈弱，愈不升發，陽絕則陰亦隨之而絕，損病之死，職此故也。</p>
<p>損病六脈俱數，聲啞，口中生瘡，晝夜發熱無間。經云：數則脾氣虛，此真陰虛也，此第三關矣。則前保元、四君等劑，皆投之不應，須用四君加黃　、山藥、蓮肉、白芍、五味子、麥冬，煎去頭煎不用，止服第二煎、第三煎，此為養脾陰秘法也。服十余日，發熱漸退，口瘡漸好，方用丸劑，如參苓白朮散，亦去頭煎，晒乾為末，陳米鍋焦打糊為丸，如綠豆大，每日服二錢，或上午一錢，百沸湯下。蓋煮去頭煎，則燥氣盡，遂成甘淡之味。淡養胃氣，微甘養脾陰。師師相授之語，毋輕忽焉。</p>
<h4>損病湯藥加減法</h4>
<p>有汗，用黃　蜜炙；無汗，煨用；胃虛，米泔水炒用；表畏寒，酒炒；嘈雜，乳汁制；表虛，多。瀉火，生甘草；熱盛，　、草多；無汗，加干葛、防風、升麻、柴胡；久病熱不退，去表藥，只用保元；血虛，加當歸；脾虛，加白朮；渴，加麥冬、五味；虛煩，亦加；不睡，加酸棗仁；頭痛，宜補中益氣加川芎、蔓荊；小水不利，加牛膝、茯苓；心神不安，加茯苓、遠志、酸棗仁；退火，多用參、　；虛而動火，少加炒黃柏；小便不通，或赤或白，黃柏、知母酒浸炒各一兩，肉桂一錢，為末，開水為丸，空心服百丸，小便下異物為驗。腰痛，薑汁炒杜仲；惡寒，加官桂；惡心，加乾薑；自汗虛寒，加附子。內傷發熱不退，莫如補中益氣加附子，　、草倍之，甘溫除大熱故也。腹脹，恐成中滿，補中加附子、薑、桂、吳萸、青皮、麥芽、神麯、枳殼之類，隨手用之；濕痰，加羌活、防風、茯苓，風能勝濕故也。</p>
<p>去病之藥，不可多服，恐泄真氣，人無氣不生。氣常有餘，血常不足，前藥皆補血中之氣，血無氣不行，須用保元。獨陰不生，獨陽不長。保元者，保血之元氣耳。</p>
<p>人稟天地之氣，猶恐陽陷於陰分，常使胃氣有春夏之令，故宜大升大舉，使清陽發腠理，濁陰走五臟是也。蓋人以血為主，胃乃生血之源，若元氣不足，陷於陰分，則通身化為虛火，變異無常，人死莫知其故，何也？人天庭屬陽，下體屬陰，天庭一倒，其死即速者，上陽不生而陰氣絕也。故天之陽氣上升，即地之陰氣不絕；人之陽氣升舉，即血之陽布於四肢，何病之有？倘陽一不升，則氣凝澀，諸病生焉，聖人固不過升降浮沉之法耳。</p>
<p>虛損諸病，久之皆屬脾虛，脾虛則肺先受之。肺病，不能管攝一身；脾病，則四肢不能為用。謹養脾氣，惟以保元氣為主，或前從瘧、痢、吐瀉變症，總從脾胃治。則保元兼溫脾，勿用血藥。蓋縱有雜症，火起不必去火，有痰不治痰，宜參苓白朮散加減。腹痛，加乾薑；腰痛，益智、吳茱萸少許；小腹疼痛亦宜；胃不思食，加砂仁、木香；噯氣，神麯；腹脹，和中散加六君子。久病以溫補為主，病急則緩治，攻則散離。書曰：大毒治病，十去一二；中毒治病，十去其五；無毒治病，十去八九。</p>
<p>慎齋先生內傷治法，凡邪火逆行，上乘脾位，用吳茱萸炒黃連者，以黃連瀉火，歸於其位，所以木沉則火降。凡內傷，清氣下陷，陰火在上者，若用寒藥，則陽愈陷，火愈熾，火尋竅出，虛者受之，或目痛，或耳聾，或齒痛，從其虛而攻之也。（此所以寒遏於上陽陷於下，而反不免有上焦熱證也。肺閉則中下之氣為所攝，胃閉則上下之氣為所格，真陽失道，久郁盡化為陰火，甚有令人心孔鼻竅日夜如煙熏難受者。）</p>
<h4>損病主治湯方門</h4>
<p>人參（一錢）　黃　（炙，一錢五分）　甘草（炙，一錢；生，三分）　加煨薑（三片）　黑棗水二茶盅，煎八分，空心服。</p>
<p>人參（一錢）　白朮（一錢五分）　白茯苓（一錢）　甘草（炙，八分）</p>
<p>即四君加陳皮</p>
<p>即四君加陳皮（一錢）　半夏（湯泡五次，晒乾，切片，一錢）</p>
<p>人參（五分，補氣之血）　黃　（一錢，炙，補氣中之氣）　甘草（炙，七分）　當歸（三分）</p>
<p>陳皮（五分）　白朮（七分）　升麻（二分）　小柴胡（三分）</p>
<p>治中氣虧損，津液短少，口舌乾渴，或口舌生瘡，不喜飲冷，或吐瀉後口乾，最宜服。</p>
<p>人參　白朮　木香　甘草　藿香　白茯苓（各五分）　干葛（一錢）</p>
<p>當歸　川芎　白芍　熟地</p>
<p>一名八物湯即四君四物合</p>
<p>即八珍加黃　（一錢）　肉桂（一錢）</p>
<p>治中寒腹痛，或寒瀉清水，或飲食傷，噯麩氣，或久痢寒虛。</p>
<p>乾薑（三兩，炒黑，脾家藥）　肉桂（一兩五錢，腎家藥）　吳茱萸（五錢，鹽水炒過，肝家俱用苦烈好大酒，頓半熱一杯，調下五分。</p>
<p>（孫真人制）</p>
<p>麥冬（五分，去心）　北五味（三分）　人參（一錢）</p>
<p>甘草（生，二錢；炙三錢）　防風（二錢五分）　柴胡（八錢）　升麻　葛根　白芍　羌活獨活　人參（各五錢）</p>
<p>每服五錢，水三盞，煎至一盞，去渣熱服，忌寒冷物及冷水月余。東垣云：陰覆其陽，能伸，宜汗之。經云：體若燔炭，汗出而散，是也。脈弦而數，此陰氣也，風藥升陽，以發火鬱，則脈數峻退矣。凡治此證，脈數者，當用黃柏，少加川黃連、柴胡、蒼朮、黃　、甘草，更加升麻，得汗出則脈必下，乃火鬱則達之也。</p>
<p>治男婦四肢發熱，筋痹熱，骨髓中陽郁，因熱如火燎，捫之烙手，四肢熱者，屬脾土，熱伏地中，此病多因血虛而得也；亦有胃虛，過食冷物冰水，郁遏陽氣於脾土之中。經曰：火鬱則發之。</p>
<p>升麻　葛根　獨活（各三兩）　防風（二錢五分）　生甘草（二錢）　柴胡（二錢）　炙甘草（二錢）　人參（五錢）　白芍（五錢）</p>
<p>上　咀，每服半兩，水兩大盞，煎至一盞，去渣溫服，忌食寒冷。</p>
<p>治五心煩熱，心火下陷，郁於脾土。</p>
<p>升麻　葛根　防風　柴胡根　炙草　白芍（各五錢）</p>
<p>上　咀，每服三錢，或四錢，水二大盞，入連須蔥白三寸，煎至一盞，去渣溫服。</p>
<p>以上三方，宜於初發熱之時，未服藥之前，元氣未傷，服之若神；若已經服過寒冷，已，火氣亦餒者，服此反禍，於人無益也。蓋虛損初時，可以發之，故勞證內以上三方不與焉</p>
<h2>癆瘵門題辭</h2>
<p>慎柔師父所謂自下而上者，勞症多系水枯火燥，故特舉其大凡，而內有命門真陽衰者，不仍用壯火之法。惟真陽衰，故虛火旺，其源未嘗不合，自在按脈識病者，臨時之善別，而讀書明理者，平日之善會耳。至險怪之症，於癆瘵乃備，既為一門之專牘，不可不竟其詳，雖世人不恆犯而適有犯者，豈可無法以待之？此先聖賢已創於前，而慎柔之婆心，固不厭繁委，次第以備全覽。夫著書之難，古今通患，千慮一失，孰能無之。在學人，諒其創始之苦心，而踵事增華，自所望於高明君子耳。予與顧子，特仍其舊聞，稍加刪潤，未敢以意為補竄也。</p>
<h2>卷四</h2>
<h3>癆瘵第四</h3>
<h4>脈法</h4>
<p>癆瘵脈，酉、戌時洪盛，寅、卯時細弱者，陽氣虛陷也。忌服苦寒，損其陽氣，當以助劑，復其寅卯之位，微加瀉陰火而已。若服寒涼，證雖大減，脈反加數者，陽郁也。（朝暮異脈，而朝細暮洪者，振陽分之陽，滋陰分之陰；朝洪暮細者，斂陽分之陰，溫陰分之陽。）</p>
<p>右脈大，用保元湯；左脈大，用六味湯。不減，若燥者，以栝蔞、生甘草散潤之。</p>
<p>久病咳嗽、氣喘，若脈洪數，不可即用補藥。如服之，虛火一退，多令人痿倦不起。（下文意測之，補藥二字，當作瀉火。此證本不宜瀉火，肺體已痿，一瀉不返，治法不外宣陽納陰。陽郁由於濕痹，陰浮由於血虛及燥熱，宜以龜板、牡蠣清滋。又有下寒上衝而然者，是實邪也，以法逐之化之。）須先用獨參湯以接其氣，數日後，數脈漸退，方與調理為是。</p>
<h4>總論</h4>
<p>夫癆者勞也，非一端可盡，或若心竭其心脾之神志，或酒色竭其肝腎之陰精，或久痢、久瘧、傷寒、傷暑諸證，治之不當，損其氣血，傷其脾胃，五臟干枯而火起，以致發熱，則金受克，大腸先結燥，而水之源先涸矣，宜見脈見症，用藥果當，無不愈者。若初熱未甚，繼以治法之非，久之即成蒸病。蒸病者，如甑之蒸，熱之極也。然使初病，元氣尚強，脈氣尚旺，照古方用五蒸東加減二十三蒸之法，亦無不驗。治蒸法服之，病稍退，又當察症清心，參用癆病治方，不可造次。蒸或病十日、半月熱極，致骨中血凝，便化為蟲，張仲景立祛血之法，不使凝血化蟲，　蟲丸、百勞丸是也。倘治之不得其序，不能祛血，血化為蟲，是時病人脈氣尚充，精神尚充，猶可救也。如聲啞、喉痛、寒熱大作、脈細而數、不思飲食、精神視聽俱不能支，皆屬不治。又有火鬱、痰凝、氣滯、咳嗽、發熱、氣喘，葛先生保和湯、保真湯次序用之。火散痰開熱退，總歸八珍湯調理。又有吐紅、咳嗽，脈雖數，有神，不致於蒸極作蟲者。脈洪、脈數，虛虛實實，通變在乎心靈矣。</p>
<p>骨蒸由氣虛不能化血，血干則火自沸騰，內如針刺，骨熱煩疼。或五心俱熱，或兩肋如火，或子午相應。或晝微惡寒，而夜反大熱。雖腎經所主，傳變不常。蒸上則喘咳、痰血、舌黑、耳鳴、目眩等症；蒸下則見夢遺，淋濁、泄瀉、腰疼、腳疼等症；蒸中則見腹脹、脅痛、四肢倦怠等症。</p>
<p>不問陰病陽病，日久皆能傳變，男子自腎傳心、肺、肝、脾，女子自心傳肺、肝、脾、腎，五臟復傳六腑而死矣。有始終只傳一經者，有專著心腎而不傳者，大要以脈為證驗。</p>
<p>凡氣血勞倦不運，則凝滯疏漏，邪氣得以相乘，又飲食勞倦所傷，則上焦不行，下脘不通，熱極蒸胸中，而內熱生矣。凡頸上有核，腸中有塊，或當臍冰冷，或無力言動，皆痰涎結聚，氣血凝滯之所致，故以開關啟胃為先。蓋關脈閉則氣血干竭，胃氣弱則藥無由行。但陽虛不可偏用辛、香、丁、附之類，陰虛不可用苦寒，古方有開關定胃散，今亦難用，竊其意推之。</p>
<p>蟲為氣血凝滯瘀血化成，但平補氣血為主，加以烏梅、青蒿、朱砂之類，而蟲自亡矣。紫河車丹、紫河車丸、青蒿膏、蛤蚧散選用，惟度其虛實為主。</p>
<p>凡體虛者，宜先用補法，補其元氣，然後用王道之藥，佐之以殺蟲之劑，如化蟲丸，使君子丸之類。或追蟲後，而繼以溫補亦可，不然則蟲去而元氣亦散。</p>
<p>傳尸之說，不必深泥，歷觀癆瘵，皆因酒色之類，損傷心血，以致虛火妄動。醫者不分陰陽用藥，病者不思疾由自取，往往歸咎前因，甚者疑及房室、器皿、墳墓及冤業、飛尸，遞相傳疰。古人云：癆瘵三十六種，惟陰德可以斷之。不幸患此疾者，或入山林，或居靜室，清心戒欲，專意保養，庶乎病可除根。不然，即服藥不效。</p>
<p>癆蟲須分五臟，常居肺間，正所謂膏之上，肓之下，針之不得，藥之不行，只宜早灸膏肓、四花為佳。若蝕肺系，則咯血、吐痰、聲嘶、思食無厭。病恚至此，未易療治，當參究古法九蟲及一十八種蟲名之異，並紫庭取蟲諸法。</p>
<p>晝熱，行陰二十五度，大抵柴胡飲子；夜熱，行陰二十五度，四順飲子；平旦發熱，熱在行陽之分，肺氣主之，故用白虎湯，以瀉氣中之火；日晡潮熱，熱在行陰之分，腎氣主之，故用地骨皮散，以瀉血中之火。</p>
<p>肝症發熱，肉下骨上，寅卯尤甚，瀉青丸、人中白散；心症發熱，在血脈，日中則甚，單瀉心湯、導赤散、朱砂安神丸；脾症發熱，在肌肉，遇夜尤甚，瀉黃散、三白湯；肺症發熱，在皮毛，日西則甚，瀉白散，甚者涼膈散；腎證發熱，在骨，亥子尤甚，兩手足心如火，滋腎丸。</p>
<p>尸注一症，予嘗治之，先癸亥夜二更，六神皆聚之時，灸腰眼穴七壯，然後用藥。倘不，先用藥亦可。注病亦似勞症，但兩足無力，行則痿疲是也，其治法：六脈洪數，八物湯；脾肺不足，補中益氣湯；睡不穩，歸脾湯；不思食，六君子湯，隨症推類。但煎劑中，須加忍冬葉三錢同煎，《本草》以其葉能治尸注也。</p>
<p>凡治勞症，或男或婦，若淫火不退者，雖治不治。</p>
<h4>骨蒸勞</h4>
<p>夫骨蒸勞者，由於積熱附於骨而名也。亦曰傳尸、　，復連、無辜，其名不一，此病皆由肺胃虧損所致。其形羸瘦、泄痢、肢體無力。傳於腎，則盜汗不止，腰膝痛，夢鬼交侵，小便赤黃；傳於心，則心神怯悸，喜怒不時，頰唇赤色，乍熱乍寒；傳於肺，則胸滿短氣，咳嗽吐痰，皮膚甲錯；傳於肝，則兩目昏暗，脅下妨痛，閉戶忿怒，五臟既病，則難治療。立齋云：前症多因經行胎產，或飲食七情而傷脾胃之所致，又或病後失於調攝而成也。</p>
<p>東垣云：發熱之症，肺熱者輕手乃得，微按全無，日西尤甚。其證咳嗽、寒熱，輕者用瀉白中大甚。其症心煩心痛，掌中熱而噦，用黃連瀉心湯、導赤散、朱砂安神丸。脾熱者，輕手捫之不熱，重手按至筋骨又不熱，不輕不重，在輕重之間，在肌肉也，遇夜尤甚，其症怠惰嗜臥，四肢不收，無氣以動，用瀉黃散。肝熱者，按之肌肉之下，至骨之上，寅卯時為甚，其症四肢滿悶，便難轉筋，多怒，多驚，筋痿不能起於床，用瀉青柴胡湯飲。腎熱者，按至骨分。甚熱蒸手，其症骨酥如蟲蝕，困熱不能起於床，用滋陰丸，此治實熱之法也。（蒸無實熱，即鬱極化實，亦宜宣清滋化並用，諸方未可專恃。）</p>
<p>薛立齋云：肺經虛熱者，用人參補肺湯；脾虛不能生肺者，用六君子湯；脾熱移於肺者，用三黃丸；心經虛熱者，用補心湯；命門火衰不能生土者，用八味丸；肝虛不能生心者，用補肝散；腎克心者，用附子理中湯；脾經虛熱者，用人參黃　散；土克水者，用承氣湯；腎虛不能培肝者，俱用六味丸。</p>
<h4>血風勞</h4>
<p>（風言燥也，血虛氣無所維，陰虛陽無所附，化為燥火，走注於經脈之間，上下無常，忽寒忽熱，刺痛昏厥，而成風象。）</p>
<p>血風勞症，因氣血素虛，或產後勞傷，外邪所乘，或內有宿冷，以致腹中疼痛，四肢酸倦，發熱自汗，及婦人月水不調，面黃肌瘦，當調肝脾氣血為主。</p>
<p>東垣云：喜怒不節，起居不時，有所勞傷，皆損其氣，氣衰則火旺，火旺則乘其脾土，脾主四肢，故因熱懶言，動作喘乏，表熱自汗，心煩不安，當病之時，宜安靜存養，以甘寒瀉其熱氣，以酸味收其散氣，以甘溫補其中氣。經言：勞者溫之，損者溫之。《要略》云：平人脈大為勞，以黃　建中湯治之。</p>
<h4>冷勞</h4>
<p>（此血虛而痰水漬於筋骨之間也，痰盛則冷。亦有寒濕所傷者，血虛甚即見拘攣轉筋。）</p>
<p>冷勞者，氣血不足，臟腑虛寒，以致臍下疼痛，手足時寒，婦人月水失常，飲食不消，或時嘔吐，惡寒發熱，骨節酸疼，肌膚羸瘦，面色萎黃也。</p>
<p>立齋曰：前證有內外真寒，有內外真熱，亦有內真熱而外假寒，有內真寒而外假熱。若飲食難化，大便不實，腸鳴腰痛，飲食畏寒，手足逆冷，面黃嘔吐，惡見風寒，此內外真寒之症也，宜用附子理中湯以回陽，八味地黃丸以壯火。若飲食如常，大便堅實，胸腹痞脹，飲食喜冷，手足煩熱，面赤嘔吐，不畏風寒，此內外真熱之症也，宜用黃連解毒湯以滋陰，六味丸以壯水。若飲食如常，大便堅實，胸腹痞脹，而飲食喜寒，手足逆冷，面黃嘔吐，畏見風寒，此內真熱而外假寒也，亦用解毒湯、六味丸，而宜於熱服。若飲食少思，大便不實，吞酸噯氣，而手足煩熱，面赤嘔吐，不畏風寒，此內真寒而外虛熱也，亦用附子理中及八味丸，而不妨溫飲，經曰：益火之原，以消陰翳；壯水之主，以制陽光。使不知真水火之不足，泛以寒熱藥投之，則舊病不去新病復生矣。火之原者，陽氣之根，即心是也；水之主者，陰氣之根，即腎是也。非謂火為心，原為肝，水為腎，主為肺也。或者亦以命門為火原，未為非是，故用八味丸以益命門耳。</p>
<h4>熱勞</h4>
<p>（此津液不足而血滯於經脈之間也，血盛則熱。亦有風暑內灼者，其證兼見昏厥。）</p>
<p>熱勞由心肺壅熱，傷於氣血，以致心神煩躁，頰赤頭疼，眼澀唇干，口舌生瘡，神思困倦，四肢壯熱，飲食無味，肢體酸痛，怔忡盜汗，肌膚作疼，或寒熱往來，當審其所因，調補氣血其症自減。</p>
<p>立齋云：前症乃壯火食氣，煎熬真陰所致也。王太仆云：如大寒而甚，熱之不熱，是無火也，當治其心；大熱而甚，寒之不寒，是無水也，當助其腎。心盛則生熱，腎盛則生寒。然心虛則熱收於內，腎虛則虛寒動於中。竊謂前症，若肝脾血虛，四物、參、朮；肝脾鬱熱，小柴胡合四物，脾胃氣虛，補中益氣湯；肝經血虛，加味逍遙散；肝經風熱，小柴胡湯；心經血虛，加味四物湯。午前熱，屬氣分，清心蓮子飲；午後熱，屬血分，四物、參、朮、丹皮。熱從左邊起，肝火也，實則四物、龍膽、山梔，虛則四物、參、朮、黃　；熱從臍下起，陰火也，四物、參、朮、酒拌炒黑黃柏、知母、五味、麥冬、肉桂，如不應，急用加減八味丸。不時面熱，或無定處，或從腳心起，此無根虛火也，用加減八味丸及十全大補加麥冬、五味子主之。以上多出自立齋《婦人良方》帙中，但男女五臟相同，間有少異，其為勞則一也。</p>
<h4>癆瘵各疰論</h4>
<p>夫骨蒸　，半臥半起之謂復連，內傳五臟之謂尸注、勞注、蟲注、熱注、冷注、食注、鬼注。疰者，注也。自上注下，與前人相似，故曰注，（注、疰皆蛀也，如蟲之蛀，即穀飛為蟲之義也。注易之說本於巢氏，似為協。）言其變有二十二種，或三十六種，或九十八種，令人沉沉默默，寒熱盜汗，夢與鬼交，遺泄白濁，或腹中有塊，或腦後兩邊有結核，咳嗽膿血，下痢羸瘦，死而傳注，甚至滅門。更有飛尸、遁尸、寒尸、喪尸、尸疰，謂之五尸。人為其疰者，不自知所苦，雖有狸骨、獺肝、天靈蓋等方，未嘗效也。惟崔氏灸法，早用有濟。</p>
<p>若寒熱自汗，面白目干，口苦，神昏，善恐，不能獨臥，傳在肝也。若寒熱面黑，鼻燥，善忘，大便秘瀉，口舌生瘡，傳在心也。若寒熱面青，唇黃，舌本硬強，言語不出，飲食無味，羸瘦吐涎，傳在脾也。若寒熱面赤，鼻白，干燥毛折，咯嗽喘急，吐涎膿血，傳在肺也。</p>
<p>若寒熱面黃，耳焦，腳　酸痛，小便白濁遺瀝，腹痛，傳在腎也。以上陳臨川先生，未有治法。</p>
<p>立齋云：前證誠然有之，故葛仙翁用獺肝一具，陰乾，杵末，水下方寸匕，日三服，未愈再服。宋宣和間，一法師善考訊鬼怪，時一婦以疾投狀，既而如有鬼祟所附曰：非我為患，乃病患命自衰耳，渠今已成蟲食肺，故令吐血、聲嘶。又屢訊彼所畏何物，云以獺爪為末，酒服之，則去矣。患家如其言，則愈。獺爪即獺肝之類與？元珠云：蟲瘵多有互相傳染，甚至絕戶，此乃冤業相纏及風水所致，雖有符文法水下蟲之方，蟲去而人亦亡。但能平素保養，或可希免。《救生微旨》云：益氣補肺，益精補腎，皆資其化源也。蓋人之精血常不足，加之數奪其精，資化失常，則胃氣不固，精氣滑脫，不能上接陽氣，故頭重，或氣弱食少，元氣下陷，脈微外散欲絕而虛洪，或見損脈，總屬元氣不足，非有外感賊邪之證也。</p>
<p>立齋嘗治一婦，素勤苦，因喪子（肺病），飲食少思（脾病，）忽吐血甚多（心病）而自止，此後每勞則吐數口。瘵症已具，形體甚倦。午前以補中益氣湯滋其脾肺，午後以歸脾湯養其心脾，送地黃丸滋腎而愈。（肺病、脾病、心病六字原注。）</p>
<p>又一女子患前症，反其唇，視有白點，此蟲蝕肺也。余曰：急尋獺肝治之。不相信，果咯膿而歿。反聞其兄弟三人皆夭於此症。大凡久嗽，當視其兩唇，若上唇有點，蟲蝕上部，下唇有點，蟲蝕下部。</p>
<h4>尸厥</h4>
<p>夫飛尸者，游走皮膚，穿行臟腑，每發刺痛，變作無常。遁尸者，附骨入肉，攻通血脈，見尸喪、聞哀哭便發。風尸者，淫濯四肢，痛而昏沉，遇風雪便發。沉尸者，纏骨結臟，內腫心脅，發則絞痛，遇寒冷便發。注尸者，舉身沉重，精神錯雜，時覺昏憒，每至節氣便發。</p>
<p>以上並宜蘇合香丸治之。</p>
<p>按丹溪云：凡人手足逆冷，膚栗，頭面青黑，精神恍惚，或錯言妄語，或牙關緊急，或昏寐倒云：卒厥、飛尸、客忤、鬼擊口噤，用麻黃湯。寒厥，表熱裡寒，則下利清穀，食下則吐，脈沉，手足冷，用四逆湯。熱厥，腹滿身重難轉，面垢，譫語，遺尿，手足冷，自汗，脈沉滑，用白虎湯。若人身忽然不動，目閉口噤，惡聲聞響，眩冒，頃時方寤，此由出汗過多，氣並於血，陽獨上而不下，氣壅塞而不行耳。氣過血還，陰陽復通，移時方寤，名曰鬱冒，亦名血厥，宜白薇湯、倉公散。</p>
<p>人病尸厥，呼之不應者死。脈當大，反小者死。</p>
<p>錦衣楊永興舉家避眚，有仆沉醉失避者，既而神思昏昧，遍身青傷，煎金銀藤湯灌之，即愈。</p>
<p>一婦人忽昏憒發譫語，兩腳踝膝、臀處皆青腫，痛不可忍，口稱苦楚，次日方蘇，痛尚不止，用金銀藤兩許，水煎服愈。</p>
<p>一婦人入古塚，患前症，以紫金錠灌之，即愈。</p>
<h4>勞病主治湯方門</h4>
<p>治男子血虛，有汗潮熱。（以下諸方皆甘溫加辛散，有略佐苦降酸斂者。有汗潮熱，無汗潮，行氣行血佐之。強筋即補氣固氣兼到，而又無壅滿之虞，桂、附、參、　桓多流弊。）</p>
<p>人參　白朮　茯苓　甘草　川歸　黃　肉桂　陳皮　遠志　熟地　五味子薑、水煎。</p>
<p>補中益氣湯　治氣虛，有汗，潮熱。</p>
<p>見虛損門。</p>
<p>治血虛，無汗，潮熱。</p>
<p>人參　茯苓　陳皮　桔梗　枳殼　前胡　川芎　地黃　川歸　白芍　甘草　半夏　紫蘇　干葛薑、棗，水煎。</p>
<p>治氣虛，無汗，潮熱。</p>
<p>人參　白朮　茯苓　赤芍　當歸　柴胡　葛根　甘草　半夏曲薑、棗，水煎。</p>
<p>八物湯　治女子血虛，有汗，潮熱。</p>
<p>見損虛門。</p>
<p>治氣虛，無汗，潮熱。</p>
<p>白朮　葛根　半夏　柴胡　白茯苓　人參　赤芍　當歸　甘草薑、棗、水煎。</p>
<p>治氣血兩虛，無汗，潮熱。</p>
<p>白朮　茯苓　甘草　白芍　歸身　柴胡薑、棗、水煎。</p>
<p>治咳嗽，咯血（咳嗽由於陽明衝任上虛，血不溫養；咯血由於絡血為邪氣吸攝，不能勻布。《內經》所謂真邪相攻亂而相引也。）</p>
<p>人參　五味子　桑白皮　白朮　黃　白茯苓　地骨皮　熟地　柴胡　歸身　前胡　陳皮甘草　枳殼　桔梗渴加烏梅半個；熱加青蒿、知母。</p>
<p>治吐血後咳嗽。（此系任脈上虛，肺失溫養，方中多用清肺，未合。）</p>
<p>知母　貝母　天冬　麥冬　款冬花　天花粉　苡仁　杏仁　五味子　甘草　兜鈴　紫菀百合　桔梗　阿膠　當歸　生地　紫蘇　薄荷薑煎，入飴糖一匙，日三服。血盛，加蒲黃、茜根、藕節、大薊、小薊、茅花。痰，加南星、半夏、橘紅、茯苓、枳殼、枳實、栝蔞仁。喘盛，加桑白皮、陳皮、大腹皮、萊菔子、葶藶子、蘇子。熱盛，加山梔、黃連、黃柏、連翹。風盛，加防風、荊芥穗、金沸草、甘菊、細辛、香附。寒盛，加人參、芍藥、桂枝、五味子、白蠟。</p>
<p>治骨蒸。</p>
<p>人參　黃芩　知母　地黃　葛根　石膏　粳米　麥冬　甘草浮小麥一撮，水煎。</p>
<p>二十四種蒸病用藥法。以下方法，俱從五蒸湯見症加減。</p>
<p>所謂勞蒸者，毛折發焦，肌膚甲錯，其蒸在皮。又症舌白唾血。加石膏、桑白皮。</p>
<p>外熱內寒，身振肉　，其蒸在肉。又症食無味而嘔，煩躁不安。加芍藥。</p>
<p>發焦，鼻衄，或復尿血，其蒸在血。加生地、當歸、童子小便。</p>
<p>身熱煩躁，痛如針刺，其蒸在脈。又症唾白，浪語，脈絡亂，緩急不調。加生地、當歸、童便。（痛如針刺，血滯而散，不能融活故也。）</p>
<p>爪甲焦枯，眼黑脅痛，其蒸在髓。又症髓沸骨中熱。加天門冬、當歸、生地。</p>
<p>頭眩，熱悶，涎濁，眵淚，其蒸在腦，加生地、防風。</p>
<p>男子失精，女子白淫，其蒸在玉房。加知母、黃柏、當歸、芍藥。</p>
<p>乍寒乍熱，中脘煩悶，其蒸在三焦，加竹葉、石膏。</p>
<p>小便赤黃，凝濁如膠，其蒸在膀胱。又症右耳焦。加澤瀉、滑石。</p>
<p>大便秘泄，腹中雷鳴，其蒸在小腹。又症下唇焦。加赤茯苓、木通、生地。</p>
<p>大腹陰痛，口舌乾疼，其蒸在大腸。又症右鼻孔干痛。加大黃、芒硝。</p>
<p>口鼻干燥，腹脹自汗，睡臥不安，其蒸在胃。又症舌下痛。加石膏、粳米、大黃、芒硝、干葛。</p>
<p>口苦耳聾，兩脅下痛，其蒸在膽。又症眼色白。加柴胡、栝蔞。</p>
<p>裡急後重，肛門閉澀，其蒸在廣腸。加（缺）</p>
<p>小腹　痛，筋脈縱緩，陰器自強，其蒸在宗筋。加（缺）</p>
<p>眩暈下淚，躁怒不常，其蒸在肝。又症眼黑。加川芎、當歸、前胡。</p>
<p>舌黑氣短，煩悶洒淅，其蒸在心。又症舌乾。加黃連、生地、當歸。</p>
<p>唇干口瘡，胸腹脹滿，畏寒不食，其蒸在脾。加芍藥、木瓜、苦參。</p>
<p>咳嗽喘滿，咯痰吐血，聲嘶音啞，其蒸在肺。又症鼻干，加天冬，桔梗、紫菀、烏梅肉。</p>
<p>耳葉焦枯，香港腳酸痛，其蒸在腎。加生薑、石膏、知母、寒水石、　本。</p>
<p>情想不寧，精物時下，其蒸在右腎。加（缺）</p>
<p>心膈噎塞，攻擊疼痛，俯仰煩冤，其蒸在膈。加（缺。）</p>
<p>上氣喘促，鼻干，身熱不安，其蒸在氣。加人參、黃芩、梔子。</p>
<p>以上共二十三種加減，系立齋先生引《醫林集》。</p>
<p>胞蒸，小便赤。用澤瀉、茯苓、生地、沉香、滑石。</p>
<p>膀胱蒸，右耳焦。用澤瀉、滑石。</p>
<p>骨蒸，齒黑腹痛，足脛瘦。用鱉甲、地骨皮、丹皮、當歸、生地。</p>
<p>臀蒸，腿細，肢腫，腑臟俱熱。用石膏、滑石。</p>
<p>膚蒸，肌肉熱。用牡丹皮。實熱。加黃芩、黃連、黃柏、大黃。虛熱，加烏梅、柴胡、蛤蚧、青蒿、鱉甲、丹皮。</p>
<p>以上出《體仁匯編》。</p>
<p>薛立齋云：凡此諸症，虛勞熱病，皆由食肉與油膩、房勞、飲酒而成者，久蒸不除，變為疳症，即死。亦有瘧久不愈，以致咳嗽失治，漸成骨蒸勞瘵，當推標本而治之。</p>
<p>按：薛立齋云：蒸病二十四種，止簡得二十三種。《體仁匯編》言蒸病亦二十三種，且蒸病各異，各蒸下注，或有或無。可見病之險難，人罕傳師，所以闕漏無憑，前後不一，俟博觀者補之。</p>
<p>海藏云：以上諸蒸，或臟病，或腑病，或腑臟俱病，脈絡氣血，交經相屬，用藥皆當合而用之。君臣佐使，上下奇偶，表裡虛實，逆從通塞，汗下補吐，咸在其中。</p>
<p>凡蒸病不已，骨節間陰有干血，用行血丸。（凡血實能令肌肉實腫，血虛亦能令腠理膜絡虛腫。腫則升降開合失常不能循環接濟，而遺溺滑精諸證先見，久則枯萎攣縮幻證迭出，故治虛中，緩中者內膜筋舒，氣活而無脹急也，靜參大黃　蟲丸當有悟入。）</p>
<p>治一切勞傷，內有干血，肌膚甲錯，兩目黯黑，緩中補虛。</p>
<p>大黃（十分，蒸）　黃芩（二兩）　甘草（三兩）　桃仁（一升）　杏仁（一升）　芍藥（四兩）</p>
<p>干地煉蜜丸小豆大。酒飲服五丸，日三服。</p>
<p>治一切勞瘵積滯，未經藥壞症者。</p>
<p>當歸（炒）　乳香　沒藥（一錢）　人參　虻蟲（十四個，去翅足）　水蛭（十四個炒）　桃仁（十四粒，去皮尖）　大黃（四錢）</p>
<p>蜜丸如桐子大，都作一服，可百丸，五更用百勞水下，取惡物為度，服白粥十日。百勞水者，杓揚百遍，即甘瀾水也。</p>
<p>立齋先生止述獺爪治蟲，不及言古治蟲之方，今具於此，有心者究焉。</p>
<p>一肝癆熱，生長蟲，在肝，令人畏恐不安，眼中赤壅，治以五鳳丸。</p>
<p>烏雞卵（去黃，五枚）　吳萸（東行根，三升）　黃蠟（三兩）　乾漆（四兩）　粳米粉（半升）</p>
<p>一心癆熱，有蟲長尺余，名蠱蟲，貫心即死，治以雷公丸。</p>
<p>雷丸（五枚）　陳皮　桃仁（各一兩一錢半）　貫眾　蕪荑　青葙子　乾漆（各一兩）　亂髮（一團）　僵蠶（十四枚）</p>
<p>為末，蜜丸小豆大。每二十丸，空心溫酒下。</p>
<p>一脾勞熱，內有白蟲在脾，令人好嘔，而胸中咳吐不出，治以吳萸根湯。</p>
<p>吳茱萸（東行根，一錢）　火麻子（八錢）　陳皮（一兩五錢）</p>
<p>水煎服，或下蟲，或下黃汁。凡合此藥，禁聲勿語方驗。</p>
<p>一肺勞熱，瘦損，有蟲在肺，令人咳逆氣喘，所謂憂忿氣膈寒熱，皆膏肓之疾，針灸麥冬（五兩）　蜀椒（一兩）　遠志　防風　細辛　生薑　甘草（各五錢）　百部　人參　白朮黃　（各七錢五分）　桂心（二錢五分）　杏仁（二十四粒）</p>
<p>上為末，蜜丸彈子大。每服一丸，含化，忌生冷肥膩。</p>
<p>一腎癆熱，蟯蟲生腎中，令人四肢腫急，治以千金散。</p>
<p>貫眾（三兩）　乾漆（二兩）　蕪荑　胡粉　槐白皮（各一兩）　吳萸（五十粒）　杏仁（四上為末，平旦井水調服方寸匕，漸加，病瘥即止。</p>
<p>傳尸癆蟲一十八種。傳尸自上注下，病與前人相似，故又曰注。化精血歸於元陽之內，（句似有誤。）變幻種類，最多古怪。</p>
<p>第一代，蟲如嬰兒，或如鬼，或如蛤蟆，遇丙丁日食起，醉歸心俞。</p>
<p>第二代，蟲如亂髮，或如守宮，或如蜈蚣，或如蝦，遇庚辛日食起，醉歸肺俞。</p>
<p>第三代，蟲如蚊如蟻，或如蜣螂，或如刺　，遇庚辛日食起，醉歸厥陰。</p>
<p>第四代，蟲如亂絲，或如豬肝，或如蚯蚓、如蛇，遇戊巳日食起，醉歸脾俞。</p>
<p>第五代，蟲如鱉龜，或有頭無足，或有足無頭，或如鼠，或如精血，遇甲乙日食起，醉歸肝俞。</p>
<p>第六代，蟲如馬尾，有兩條，一雌一雄，或如鱉有頭足尾，或如爛面，或長或短，遇癸亥日食起，醉歸腎俞。</p>
<p>古又有九蟲：一曰伏蟲，長四寸許，為諸蟲之長；二曰蛔蟲，長尺許，貫心即殺人；三曰白五曰肺蟲，其狀如蠶，令人咳嗽；六曰　蟲，狀如蛤蟆，令人嘔吐呃逆，喜嘔，嘈雜，愛食泥炭、生米、茶、鹽、薑、椒等物；七曰膈蟲，如瓜瓣，令人多唾；八曰赤蟲，狀如生肉，令人腸鳴；九曰蟯蟲，狀如菜蟲，形至細微，大抵諸蟲，皆因飲食不節，或飢飽失宜，或過飧腥膾炙　，或鱉、莧同食，以致中脘氣血不運而成積，積久成熱，濕熱熏蒸，與瘀血凝結，隨五行之氣變化，而為諸般奇怪之形，若腐草為螢是也。</p>
<p>凡蟲症，眼眶上下青黑，面色痿黃，臉上有幾條血絲，如蟹爪分明，飲食不進，肌肉不生，沉重寒熱。若不早治，相生不已，貫心殺人。</p>
<p>又有山澗蛇虺、水蛭遺精，誤飲其水，或草木果實蟲聚，誤食以致心腹刺痛，或引腰脅，時作時止，諸藥不效，乃蟲症也。雄砂丸主之。</p>
<p>鶴虱　蕪荑　乾漆　僵蠶（各三錢）　貫眾　石榴皮（各五錢）　朱砂　雄黃　雷丸　甘遂上為末，米粉煮糊，為丸，麻子大。每十丸，五更時粥飲下。善殺諸蟲，或加麝香少許又方單用雄黃末酒調下亦可。</p>
<h4>取蟲法</h4>
<p>凡取勞蟲，依五臟方選用，必俟其大醉日，方可取之。取後隨補各臟，如取脾蟲後，則補脾；取腎蟲後，則補腎。若病甚者，不分臟腑，只用追病丹以斷其根。又有輕者，用鰻魚食，或紫河車。單陽虛者，金液丹最妙。</p>
<p>取蟲法，先令病家以皮紙糊一密室，不留罅隙，擇一老成人過遞，以安息水洒其過遞之人身，以雄黃、雌黃塗耳、目、口、鼻上。備鐵鉗一把，布巾一幅，用香油二斤，入鍋微煎令沸，仍用高桶一只，置鍛石在內，生布巾蓋桶口。俟月初蟲頭向上，卻服取蟲藥，五更初一服，五更三點時一服。服後腹中疼痛，如刀斧擘，總不妨也。至巳時，必須下蟲，或取臭穢如膠漆，或吐瀉膿血塊，皆於灰桶中，其蟲或從汗出，如紫蠶苗狀，或從耳、鼻、口中出，或小便出，怪形不一，或青黑，或黃紅。大者即用鐵鉗取入油中煎，當日將油紙裹入瓦瓶內，鍛石填實，埋於深山遠僻處，以杜傳染。其患人衣被席床，盡皆棄之。醫者付藥遠避，其取下蟲色白者，食臟腑脂膏可三十日，服藥補之。色黃赤者，食血肉可六十日，服藥補之。色紫黑者，食精髓，病傳至腎，可謂極矣。冀其萬一，或為子孫除患則可。又蟲白頭者亦難治，此危氏說也。丹溪云：不必深泥。</p>
<h4>追蟲方</h4>
<p>河車（一具，焙乾）　龍膽草　甘草（各二錢）　鱉甲（五錢）　大黃　苦參　黃柏　知母貝母　敗鼓皮　人中白（各二錢半）　桔梗　胡黃連（二錢半）　犀角　莪朮　芒硝（各錢半）</p>
<p>為末，蜜丸梧子大，辰砂末為衣。每服捻丸至三十丸。腹熱食前溫酒下，膈熱食後溫酒下，傳尸癆瘵俱可下，其余勞怯，一月平復。</p>
<p>天靈蓋（二指大）　檳榔（五個）　麝香　阿魏　甘遂　安息香（各三錢）　朱砂（一錢）</p>
<p>上為末，每服三錢。用薤白、蔥白各十四莖，青蒿二把，甘草，桃枝、柳枝各五寸，桑白皮，石榴根皮各一片，以童便四大碗，於瓷器內文武火煎，至一碗，去渣，分作三盞，調前藥末，五更初服。男患女煎，女患男煎，服藥後知覺欲吐，即用白梅含之，五更盡，須下蟲及惡物黃水黑糞。如未下，良久又進一服，天明更進一服。如瀉不止，用龍骨、黃連等分為末</p>
<p>白薇　當歸（各一兩）　人參　甘草每服五錢，水煎。</p>
<p>治卒中鬼擊，心腹如刺，下血不省，及臥魘嚙腳指不覺，並諸毒等症。</p>
<p>皂莢　藜蘆　雄黃（研）　礬（　研，各等分）</p>
<p>每用少許，吹入鼻中，未嚏再吹，以得嚏為度。</p>
<p>治尸厥脈動亂而若死。</p>
<p>用石菖蒲末納鼻中，仍以桂末安於舌上，蘇合香丸亦可。</p>
<p>治尸厥不省，四肢逆冷，腹中如雷鳴，或痰氣不降。</p>
<p>焰砂（半兩）　硫黃（一兩）</p>
<p>各為細末，每服三分，酒調灌之，良久再服即蘇。</p>
<p>慎柔以勞損劈分兩病，用意甚是，命名殊非。前人虛勞損極，只以病之深淺立名，損上損有國中不同，究無專攻，亦無蠻補，陰陽之際，微有偏重，兼顧之辨而已。至於癆瘵，別是一病，內夾奇邪，前人別以殺蟲毒藥加補藥治之，似《本草》所謂鬼注、蠱毒，西醫所謂長蟲、細蟲、扁蟲及遺傳諸證。雖其本必由正虛，究與虛損之病，由於六淫七情迥異，本是兩病，不待剖析。慎柔以損上損下為勞損之辨，是一病分二；又以瘵為損下之勞，是二病混一。獨其論治虛損，以出汗、見血為轉關，實為扼要中肯，與張石頑虛損各案吻合，直接仲景真傳，迥非專主陰柔溫潤可比，世固有見汗、見血而速死者。仲景所謂衛氣前通、陰氣前通絕證也。此系真氣充周，血脈流暢，榮衛交通。</p>
<p>勞也者，過勤之謂也。《內經》曰：四時陰陽生病，常起於過用，或過於勞心，或過於勞力，或過於房室，或過於飢飽，而其機尤在過用之後重感於邪，使勞氣不得休養。如勞力之後，汗出而外撲風寒，口渴而內傷生冷，腠理外閉，經絡內凝。其逼迫離位之氣血為所吸攝，不得反其故道，經絡氣血俱困，謂之虛勞。此時急治得法，猶可一撥即轉，以其機尚靈也。遷延誤治，機鈍勢折，陰陽開合，舉失其樞，所謂真邪相攻亂而相引也，臟腑肌肉俱減，謂之勞損。復連、　之名，即由於此。以其困而又困，不能振新也。五臟真氣不能相濟，四時更代，陰陽竭絕，骨萎髓枯，形脫色壞，窮無復之矣，謂之勞極。此時惟專由邪傷藥誤，而稟賦素強，根氣尚伏，肉脫未盡，尺脈尚能緊而不斷者，猶可挽救，治之須知五行生化，輾轉相資之義，臟氣、天氣循環相應以緩待之。若大勢日下，不及輾轉，庸有幾乎，凡體倦困臥不能反側，及寒熱似瘧而無汗，溏泄腹痛而面赤，胸痹氣阻而無嘔吐，皆上下內外斷絕不續之極，陰陽俱竭也。治法當氣血初困之時，行氣為主，行血佐之，或微加酸斂，或微加苦堅。東垣甘溫除熱、升陽散火諸法，可用於此時，及肌肉已減，當用血肉之品，補血為主，行氣，行血佐之，苦酸堅斂，皆在所後。逮至勞極，法不外此，而飲食之調，起居之慎，導引之勤，尤不可忽。人身為血肉之體，虛勞以積久而成，決非草木所能效靈，旦夕所能奏效。此中進退消息，有不在形跡間者。當轉關時，氣化將通未通，往往有沖突格拒之象，如胸痹氣阻，中滿食減，頭眩心煩，咳嗽多痰，筋骨脹疼，肌膚　腫，鼻塞聲瓮，寒熱往來等象，屢轉屢變，進退無常。即至見汗、見血，機已大轉，仍不免時時發動，發動愈勤，轉關愈速，全在病家、醫家細心體察，以靜參之。彼以血肉為膩而戒之，或用之不得其法以致困者，是悖也。證減即喜，轉變即憂，毫無真見，用藥反時時錯過好機會者，益悖也。天下萬病，情形之變幻，治法之微妙，未有甚於虛勞者。癆瘵一門，證雖奇險，尚無許多變化，其治法尚無許多曲折也。讀書臨證，悉心揣摩，其難易當默喻之。</p>
<h2>醫案題辭</h2>
<p>夫醫病者，無一定之治，然不可無一定之學。譬如同一病也，有主於扶陽之說者，以扶陽之同歸。《內經》云：醫之治病也，一病而治各不同，亦此意也。乃淺夫窺其一隅，遂欲執此非彼，豈窮本達原之論乎？今按慎柔之醫案，合之慎柔之學，若左券焉？固無所不驗也。若欲執慎柔之醫，以概天下之醫，則予豈敢？至欲執天下之醫，以非慎柔之醫，則此書既付梨棗，公之海內，傳之千百世，其間自有識者定論，予不必贅。夫慎柔往矣，慎柔之書燼矣，今復不能終秘，而炳諸日星，此亦有天也，非人也，予又何功焉？</p>
<h2>卷五</h2>
<h3>醫案第五</h3>
<h4>風例</h4>
<p>金壇孝廉蔡長卿令堂，年六十余。六脈俱數八至，按之中沉則滑而實，惟肝、腎二脈洪大而目扎，手搐身搖，面色紅白不時，遍身熱火攻刺，自言心中昏悶，四肢浮腫硬堅，此皆風火搖動之象，陰虛陽亢之症。正經所謂：熱勝則腫，風勝則動也。宜滋陰抑陽，用四物湯以養血為君，加山藥以扶中氣為臣，佐山萸以助陰養肝，使黑柏二分以引經，陳皮理胃氣為俾佐。服二劑，診之，數脈退去一至。又服四劑，又退一至，而昔日之虛洪，稍收斂有神矣。外證四肢腫硬漸平，攻刺亦無，心中不言昏悶。又四劑，前之硬滑，俱已空軟，數亦更減，然真陽未復，邪火未盡退也。以六味丸料四兩作一劑，頓服之，腎經洪大脈全斂而火退矣。</p>
<p>復因夜間取涼太過，至下午覺身寒，唇昏紫黑，此邪火退而陰陽俱虛。急用人參三錢，白朮一錢，甘草三分，白茯二錢，當歸二錢，附子一錢八分，官桂二分。服至一茶盞，（前方已非全合，此方更非針對，其愈者，幸也，本人體壯，非藥之功。）覺身大熱，口乾，時索水飲，發熱，此真氣虛不相合，和降不下故也。至初更診之，六脈俱細急短數，略無和氣，予甚危之。至明日再診，則有神氣，尚有六至余，此陰陽未全克復，元氣未充耳。教以朝服六味一錢五分，間日服補中湯，數十劑而愈。</p>
<p>劉某夫人，年及三十，稟體元弱。未病十日前，身如舟中行，後忽遍身痛，臍下痛，牙關緊不言，目瞪汗出，大小便不通，身熱。（此下寒上衝，血隨氣逆，相搏而不得降也。）延余視之，診其脈俱浮細，來往不定，一息十余至，重按則無。退而思之，外證皆屬陽虛，脈又無神，臍下痛甚，目瞪至死而醒，陽和之氣欲絕，而胃氣虛，升降失司，故大小便不通。且東垣云：裡虛則急。以此思之，則內外俱虛，宜先建中，將四君去茯苓，加歸、　各二錢，熟附二分，午時服一帖，遍身痛稍緩，而小便溺矣。申時又進前劑，汗止，遍身痛己，大便亦通，但臍下痛不減，及兩脅痛，此陽虛也，寒甚也。又加附子五分，臍痛止矣。但大便了而不了，有欲出而不出之狀，正東垣所謂血虛，加當歸身，一帖而愈。</p>
<p>李子才，年四十余。素性暴，忽因怒卒暈倒，（必怒未得泄。）脈浮中無沉，按數六至，此陽虛陷入陰中之證，以補中益氣加六味丸料少許，四帖而愈。</p>
<p>一少年，忽不思食，惡心，偶逢文期，強作文一日，晚即頭暈作嘔。余脈之，二寸洪緩，以為勞碌而動心火，遂以加味逍遙散二劑，嘔不食，病亦不減。其年正、二、三、四月淫雨，此濕勝而然也，（此濕從上受，遏其清陽。）以太無神朮散一劑，即不嘔惡，第頭暈未除，二寸脈猶如故，其脈狀有焰焰欲發之意，用前劑加紫蘇、防風取微汗。頭暈除，脈亦退，第不思食耳，六君子一劑，飲食如常。</p>
<p>周近庵令愛，年十九。左耳下紅腫，發熱作痛，脈之，六部俱數，八至無神，且素弱，經水不調。予曰：此運氣病也。以小柴胡合四物加牛蒡子，內黃芩用酒炒，四劑而愈。（此病曾近庵令子室，年二十余。兩耳下俱紅腫，痛甚發熱，其狀可畏。醫者以大黃行數次，又用敷藥，反覺坐臥不安，亦運氣病也。診之六脈俱細數少力，惡心不食。先以人參敗毒散一劑以發之，又用甘桔加牛蒡、射干、陳皮、半夏含漱之，次將小柴胡湯內加牛蒡，六劑而腫消，飲食猶未貪，異功散加牛蒡，四、五劑，脾胃健而全愈。</p>
<p>馬山徐云所，六月受熱受勞，又飲酒，忽上膈不寬如刺痛，頭暈且重。自以過食，曾以指探吐，即枕不得，惟坐而已。予診之，二寸俱洪緩有力，關尺俱弱帶弦，此濕熱上干清陽之分，故頭暈重，胸膈痛，此時症耳。用平胃加半夏、黃芩、紫蘇、木香，取微汗，此症即退，淮安客，年三旬外，季夏患癉瘧，單熱不寒，連日發於午後，熱躁譫語，至次日天明才退。數日後，忽腹痛，晝夜無間，勺水不進，呼號欲絕，遇瘧發時即厥去，延醫治之，投藥皆不效。求余診，脈弦細而濡。余謂：弦細為虛為暑，而濡為濕。蓋暑邪為瘧，濕熱乘虛內陷而腹痛。用酒炒白芍、炙草五分，水煎，調下天水散五錢。服後腹痛如失，次日瘧亦不發。（此案看似尋常，實非老手不辦，論證用藥，均極堅實。第痛厥皆屬血滯，似宜酌加桃仁、丹</p>
<h4>痢例</h4>
<p>甲辰閏九月間，天氣寒熱不時，痢者甚眾。予四弟永穆，年二十七歲。忽患痢下紅，腹痛後重，已三日矣。來取藥，付以芍藥湯一帖，香連丸二服。不止，反增心口如刀　，當臍腹痛，肛門痛亦劇，聲撼四鄰，自分必死，告母決別，因整囊往鄉視之，晝夜不得臥，次數難定，日下紅血一桶，痛不可忍，發熱流汗不食。脈之，六部皆豁大，浮中沉無力，四至。予曰：雖痛，雖發熱，脈無力，已虛寒矣。古人云：脫血益氣，此證正宜。遂用異功散加升麻三分、木香五分、炒乾薑五分。一劑，去後覺疏，痛亦可忍，至五更，腹痛如前。予曰：此藥力盡也。急煎一劑與之，比前愈疏，痛亦減七八，即酣睡至日中方醒，云不甚好過。予又曰：此藥只能支持一覺，再煎與之，遂安寢至晚，痛止，後重亦可，還服前劑而愈。一、二日後，因吃雞肉，仍前腹痛、肛腫，穢下不止。第三日，病勢篤極，復報予診之。脈三至余，浮無沉，按之則大，脾命脈微，與補中益氣湯不應。此虛脫之甚，加御米殼一錢，亦不應，下如洞泄，流汗發躁，尺脈漸欲收斂，予亦慌急，令人二更後往城取參，至早歸，補中益氣加人參二錢服之，下咽常憒（參能令人憒，濕熱內盛者尤甚，歷試驗之。）此正氣欲復，邪氣欲退也，頃之，精神頓增，痢稍緩，恐再作，又一劑。下注、昏憒、發熱、躁諸症漸緩，脈亦有神，短脈退。尋思久之，古人云：久泄久痢，湯劑不如丸、散。即合參苓白朮散與服，覺疏下，至下午復躁熱。予再脈之，左尺洪如火射狀，此陰虛火動之象。與加減八味丸至六十丸，精神覺爽。頃之，又下八、九十丸，睡至天明，病去十七。方信立齋師加減八味丸治水涸之症。即令朝暮服此丸，復合參苓白朮散，漸愈，覺小便痛，想動色事故耳，服以逍遙散、門冬、五味子而平。（此病動色而不死，必體實而邪氣仍非深重者，前敘證似未協。細審尺脈收縮，當是血去痰生，痰伏下焦；尺脈洪射，當是下陽乍復與痰相激也。）</p>
<p>王春元二令郎，年甫七歲。久患赤痢，消導削積之劑已服過多，後轉下白如涕，渾無糞。診之症。宜溫補脾胃以生肺金，用補中益氣加炮薑、官桂各二分，其間人參止用三分，且陳腐不堪。服四劑，手足略軟，言語亦健，第未溫耳，其下白仍不減，亦虛寒滑脫危症，宜補、宜澀、宜溫，復用前藥加好參五分、大附二分半、御米殼一分。服一劑，則足已溫，大便即有糞，白退十八，自茲手足俱溫軟，泄自全止，還服前方，去御米殼、附子二味。予歸，囑以如身中已溫暖，薑、桂亦去，後服參苓白朮散以培中氣。使來歲乙巳厥陰風木之氣不能制，飲食尤宜慎之。</p>
<p>予友薛理還仆，遠行忍飢，又相毆脫力，時五月初，遂發熱譫語，以補中益氣及五苓數劑不效。延予診之，六脈俱無，乍有則甚細，其外症則面赤、譫語、口碎。一友曰：陽症見陰脈，證在死例。予曰：當以陽虛從脈舍症治之，遂下附子理中湯冷服。二帖，脈稍見；四帖則脈有神，而口碎愈矣；六帖則脈如常，但譫語未已。予曰：脈氣已完復，而譫語不休者，胃有燥糞，宜以膽導導之，果下燥結，譫語遂平。（此證若大便滑易者，有瘀血也。以桃仁下馬見源精神素弱，且勞甚，餓時吃冷肉一塊，遂不快，發熱譫語作狂，乃飲食勞倦之症。鄉吐痰者，肺胃筋膜內傷也，多由飲食勞倦，宜堅筋以復其力。痰發於筋膜者也，筋膜傷而濕困之，則痰常多，筋膜傷而火激之，則痰暴涌。凡治痰欲除根本者，在補血養筋而堅之，筋力堅強，自液不外泄。）下多亡陰，中氣大虛之故。迎予診，六脈俱有四至，洪緩無力。（缺）至半夜，反加吐痰不已。起復診之，六脈俱細，此邪氣已去，真陰欲還，陽虛反發躁之象。急用六君加薑、桂各三分，服即成寢，至明午方喚醒之。又一劑，欲睡不醒，精神反覺懶怠，邪氣盡退，而正氣將復矣。至下午，吃米湯一盅，口知穀味，再用補中加乾薑、桂、門</p>
<h4>脾胃例</h4>
<p>孝廉王於　父，年六十余。六脈俱弦牢，右三關浮中沉甚豁大，左三略差；外症晚則作飽，且大便不利。此土受木制，脾胃不輸津液，中氣虧損之候也。宜補脾胃生肺金，乃用補中益氣味驟收肺金以生新水。服二劑，覺胸中稍寬，身中反有眩意，此正氣欲復，而邪漸退，故瞑眩耳。又服數劑，復診之，則牢堅已去，第二尺俱洪。此真陰真陽並虛，當平補之，用八珍，晚服六味丸，大腸漸潤，再數劑全愈。</p>
<p>邱生，年十八歲。正月間，過食曲餅湯面，遂不快，發熱，頭痛。邀予診之，脈略緊，中沉彼延別醫，用柴平湯一帖，病不減。晚歸診之，脈洪汗出，而腹痛甚，不可按。以元明粉泡湯下導滯丸二錢，其痛減半，尚有脹，再用前丸一劑，而飽脹如脫，但腹痛耳，復增瘧狀。</p>
<p>（諸症皆胃中有死血也，何不重加桃仁於劑中。）予又診之，六脈俱細弦，此脾土受木乘，又被伐之過，宜用溫補，以理中湯二劑，肚痛除。又以過食復飽，診之，弦細如前，仍以前湯，但溫脾胃，而食自消，諸症去。</p>
<p>湯如玉母，懷七月而生，後每大便甚艱，須二、三時方安，百治不效。予謂：肺腸氣血不能之氣自如，調理數月而愈。（每見雞雛初生，當肛門內，猶一片色如卵黃，是人物之生，以腸胃為最後。七月而生，腸力未全，必有補血堅筋強力固腸之法，隨時進退，與之終身。）</p>
<p>一婦，年五旬。二寸浮洪，二尺小，右關弦，不思食，頭眩。余曰：二寸浮洪，病主頭眩，亦主上膈不清，此陽氣虛而越上，不能歸根復元，以致丹田氣虛寒，不能養溫脾胃，是以右關脈弦，飲食不消而少飧也。理宜斂陽氣歸於下焦丹田之內，下焦溫暖，脾胃自健，水穀自化矣。用桂枝、白芍六分，五味子二分，白茯一錢，黑薑三分，人參五分，杜仲一錢，破故紙五分，炙草四分，湯泡半夏一錢，加煨薑，十余劑而愈。</p>
<p>蔣懷劬，年六十。素吐白沫，已數十年矣。忽喉中有噎意，以白予。曰：此脾胃虛寒也，宜用人參調補中氣，彼辭以貧窶，自將白糖齏汁熬化含吐，及六七日，則溏泄，日五六次，神亦勞倦，食亦不貪。延視之，六脈皆二至，來三五至則止，如雀啄之狀。此元氣大虛，不能噓，反加浮洪粗大，數七八至，發熱、口碎，舌碎，乃虛陽上越之證，予思之，脈已犯難治之例，且吐沫不止，腎水泛，脾虛失統也。用（缺）。病亦稍退。稍勞即復，服數劑復減，再勞又如故。至兩三月後，藥亦不受，亦不效，五六日而歿。先賢云：粗大之脈難治。書此以證</p>
<h4>虛勞例</h4>
<p>曹桐江令堂，年六十外。九月間，發熱，少飧。余診之，六脈俱無神，有八至，右關浮則滿，沉則無。正經云：脾虛浮似肺，亦火內郁之症，脾弱宜矣，用補中益氣數劑。變瘧，此正氣復而邪氣欲出矣，用六君加五味、乾薑，四帖痊復，合參苓白朮丸調理，康健如故。</p>
<p>三月間，予六弟，年九歲。先於二月十八日病痧，疹退發熱不已，不飧飲食，惟飲冷水，啜數口，少頃即出，延之三月來報。余思之曰：不思食，脾胃虛也；欲飲水，熱也；飲少頃即吐熱，此中氣虛極，得藥力則退，藥衰復熱，此藥力少而病氣重也。往診之，脾胃脈弦無神，五、六至不定，見遲，左三洪漫，看指上三關俱透，命關脈已黑，喘氣晝夜不休，遍身發熱六日，十日余不更衣矣。遂膽導一次，出糞不黑不硬而帶溏，非真元之熱，乃脾胃氣虛不能升降耳。小便赤澀，欲便則叫呼痛楚之極，乃陽氣餒而下陷，升降失司，氣化失職所致。用補中合六味湯三帖，加麥冬、五味子，喘氣即止，熱亦退，惟小便澀痛不已。仍用補中益氣加麥冬、五味子、牛膝、車前、乾薑炒黑，清肺生水，升陽益胃暖中。一劑，小便出血，並血塊若干，乃邪火煎熬，陰血干枯而成也。又二劑，痛止，飲食頓增，全愈矣。予曰：用前劑而獲如此之效，豈非補脾養肺、金盛水生、氣化自出之謂乎？了吾先師云：無非清氣下陷，不升不降。此翁諄諄言之，治百病無不驗，識此以語後昆。（此肺熱氣陷蓄血於膀胱之分曹悟岡令愛，年十七歲。七月間以勞倦發熱，不思飲食，六脈俱洪，用逍遙散四劑遂愈。自十一月間，忽氣喘咳嗽，此土不能生金也，且發寒熱，復診之，六脈無倫次、無至數，偶來如游絲，亦無定跡，外症喘急吐痰，不食面紅，遍身冰冷，兩目有時而左紅赤、有時而右紅赤，此脾胃久虛，真陰漸亡，虛陽上越之危證。以六君加薑、桂各三分、門冬、五味、黃。二帖嗽為稍緩，四帖而寒熱止，飲食增。又診之，右三脈尚弦細，用補中加薑、桂，晚煎八味丸一錢五分，十余劑而痊。至來年正月間，復病如前，蓋因節下飲食過傷，亦緣前之元氣未復，脾胃未充故耳。其症比前更重，脈亦如前，日夜不睡，以歸脾東加大附三片，薑、桂各二分，服一劑，即　睡一晚。又三劑，更服補中加薑、桂、山藥、故紙，二十余劑。復診之，右三比前覺定，但弦不和，仍服前湯，用八味丸四十余粒同煎服之，又二十余劑，身溫症退而平。（與劉夫人、馬見源案參看。）</p>
<p>錢心卓令愛，五歲，先於十二月間患肛門腫痛，且碎且瘡，不思飲食，以翰示予。曰：此脾胃虛弱，虛陽內郁不伸，下溜侵肺，金受克之故，宜六君加升、柴、吳萸、製黃連炒黑色三分，二劑即瘳。第未全復。延至正月盡，發熱不思食，眼札淚出而紅，泄瀉。服他醫煮肝治疳之藥不效，復語予，亦以四味肥兒之品與之。初覺有效，數日反益重，此元氣已虛，攻伐太過也。遂乘舟來就診之，則右關弦細，左關洪漫，發熱日夜更甚，晚間瀉十數次，咳嗽。予嘗觀脾胃不足及久病之人，未有不左脈大過於右者，正東垣左脈克右脈之說，理勢使然。況脾土一虛，肺金益衰，水涸木枯，枯木生火，焉得左脈不大於右？用前劑加薑、桂、門冬、五葉，送下四神丸，六七帖。暫進暫退，脈細如故，此元氣未充，不宜改方，彼亦深信，又服四劑，眼札略疏矣，此真元漸有復意。適了吾師至，云所用之方，止減陳皮，泄氣不能堪也。又去陳皮十余劑，病減十八，再數劑全愈。</p>
<p>張敬山夫人，年四十外。病已八月多矣，遍身肉盡脫，氣喘，不思食。延予視之，六脈俱和緩有神，四至，雖名有胃氣。經曰：形肉盡脫者不治，脈不應病者死。姑用六君加門冬、五味、乾薑二劑，初覺不安，頃之遂　睡，氣喘亦疏，聲亦響亮。復診之，六脈俱細，脾肺二脈，似來似去，欲脫之象，此的為死候矣。再三諦詢，彼云稍可，但不思食耳。予思此脈比前反退，甚是不宜，又勉進前劑一帖。又瀉，增胸膈飽悶，且不納水湯，此中氣已虛，不能輸運，遂查歷日，乃乙巳。曰：今晚死矣。重於甲，卒於乙，此五行之定制也。已而果然，友人薛理還云：久病脈有神，服藥頓退，此決死之病。正如燈火之將滅，又愈明而遽絕耳。</p>
<p>。（此痘後熱血蓄於肺絡也。若外襲風寒，內伏寒濕，必兼喘急。）六君加薑、桂、門冬、五味四劑。飲食頓進，嗽亦稍止，此真元未散，藥力易得，再十余劑，去十九。然脈尚弦細，較前不過略和，教以服前劑，不允而止。明年復患如左，脈亦仍前，以煎劑治之，全愈，第脈終末和緩，猶帶弦細也。予曰：病雖瘳，脈氣未復，（脈久不和，其本在血絡，和血即脈復。）</p>
<p>又明年三月，重患如前，又視之如故，以十全大補湯、門冬、五味，四服而愈，予思之，猶未脫也。當補中大補劑百余，方獲五臟堅牢，而宿疾亦不再起矣。不然，年盛時色念一動，將有不勝其喘患矣。世醫以咳嗽之疾，全作痰火，盡治以清痰降火順氣克伐之劑，遂至脾土中損，多致不救，不知咳嗽之疾，由脾胃不和，肺金失養，金不生水，心肝二火陡起於內，乘所不勝，遂咳嗽不止，而肺病奄奄，脾胃益虛，此子病母憂，化氣使然也。正宜補脾胃，生肺金，不拘劑數，使脾肺得養，五行暗化，土盛金生，而咳嗽自休矣。</p>
<p>丹徒王盛之，年三十余。六脈俱九至，外症則咳嗽面赤，懶言怕鬧，時病已半年，從前苦寒數則脾氣虛。又云：數則有熱而屬虛，是皆不足之症。六脈中又脾、腎二脈洪大，此肺金不能生腎水也，理宜補肺金生腎水，水旺則制火，金旺則生水準木，木平則脾土盛，又生金矣，此正治也。乃與云：茲證取藥十四五帖或二十帖外，當有汗出，此陽氣升而經絡通矣。汗後即當倦，八九日或半月，此邪退而正虛也。</p>
<p>或十日、半月，元氣漸復，倦態方去，自後溫補脾胃之劑，又當痰動、血動，或發腫毒，或作瀉，此數者，聽其自來，乃臟腑邪氣欲出，發動流行之象也。倘不預言，恐變症多端，患者驚駭耳。因與以補脾生肺滋腎水之劑，五、六帖，數脈不減，此真元虛而燥也。即以前劑去頭煎，服二煎，三煎，不十劑而數脈去，此時虛火一退，中氣便寒，以六君子加薑、桂五、六帖，脾氣運動，痰飲便行，歸於腰脊，肝腎部分大痛。邪之所湊，其氣必虛，益見肝腎虛矣。（是胃脘死血下溜，未得出路也。）令外以鹽熨，內服二陳加桃仁，元胡索，薏苡仁二帖，大腸見痰血而痛止，（血為熱為痛，痰為冷為喘，此病久服苦寒，仍能見血而愈，是體氣壯實也。）復用補脾六君加五味、白芍而愈，倘不預明此理，則變出腰脊痛時，便沒主張矣一婦，年五十。小便時嘗有雪白寒冰一塊，塞其陰戶，欲小便，須以手摳溺，否則難。予曰：此胃家寒濕，緣脾氣氣寒，凝結而下墜，至陰戶口而不即出者，脾胃之氣尚未虛脫，但陷下耳。用六君加薑、桂，不念劑而愈。</p>
<p>一婦素勞症，四月間，胸中作飽，腹亦脹，不飢，日夜瀉十數次。診之，肝腎脈弦而不和，此肝腎虛寒也。治以破故紙一錢，杜仲一錢五分，山萸三分，熟地三分，吳茱萸三分，甘草二分，烏藥三分，沉香磨三分。四帖稍有轉頭，八帖能進湯水，二十帖全愈。</p>
<p>豐義儲中和，持齋十七年矣。先九月患夢泄，已而發驚。此五臟空虛，津液燥涸，肝木生風，風火扇搖，故令精動而泄也，攻補皆不效，先潤養其脾胃，脾胃潤，使津夜四布，百骸通澤。一月再診之，肺脈大，土不能生金也；左尺細長，金不能生水也；余俱洪緩，且不甚流利，（洪緩不流利，津虛血燥，浮無根，幸不在尺部，左尺細長，是夢泄發驚之本脈，以下焦寒氣上擎也。）以補肺之劑，四劑則和而長矣，虛則補其母之法也。先時不知飢，以異功散加黃　、桂、芍、五味子補脾生肺，肺復生腎，三臟相生。晚臥不寧，以歸脾湯間服之，元氣漸充，精神漸發，越半月余，加用太素丸全愈。</p>
<p>庚午正月，診得用吾先生左三脈沉枯細小澀，此勞傷筋骨氣也；右三脈浮而洪數，左右皆八、九至，此飲食勞倦傷脾脈也；其症神思昏倦，發熱，先因飲食不消，曾服消導之劑以致如此。思之曰：脈雖數，年雖高，症雖重，而長緩，尚可延生。遂用保元加桂、芍、五味子、黑薑三分。服數劑，浮洪脈斂，數脈亦退，第不知飢耳，此脾胃不開也。且服此劑而無汗，必氣未全旺，遍身經絡尚未通故耳，恐此後必發毒，因五臟之邪未透，毒必內攻一經而出。</p>
<p>況此平素郁勞甚，毒必從虛臟而出，未幾，果少陽經發一毒，痛甚，其堅如鐵，灸之念艾，遂浮腫而散，傍復生一腫，再灸念艾而痛止，耳前後板甚，此血雖行而滯未盡散，經絡未盡通，再以保元輔脾活血通經之劑與之。適左半身發汗甚黏，左屬陽，此陽氣發動也。明日，覺身中不安而躁，此作汗之兆，果下午遍身有汗，且作瀉，此中氣虛寒也。（作瀉有蓄痰宿水，因氣化而下出者，不盡由虛寒，當詳察所瀉形色。）以中和散人參湯調服，遂稍飢，肚痛亦退矣。明日再診，六脈俱六至，二尺弦，此下焦虛寒，丹田氣冷，命門火虛，不能生脾土也，虛則補其母，不思食而作飽，當以六君子湯主之，加破故紙、小茴香溫下焦以生火，火以生土之義；加黑薑以溫中，以稍食，加健運；加桂、芍、五味以斂肺金生水，水升火降也，自此以後，脾氣漸健，飲食漸進，而腫處滯血，方化為膿。大抵脾胃之疾，兼之高年，又值春木正旺之時，過此一關，無肚飽之症，可保萬全矣。（肚飽為太陰內陷，胸痹為陽明下陷。任脈上虛，皆由血死下澄不復溫化。梵穀年及虛人久病，無端忽見肚飽、胸痹、體倦、食減即不起。脈反緩長，如無病也。）</p>
<h4>頭痛例</h4>
<p>一老婦患頭痛二月，諸治罔效。余治以通經絡和氣血之劑，十余帖。晚上吐血二碗許，其家惶恐奔告。余謂：其症明日當愈，已而果然。</p>
<p>一貴介，年三旬。先因齒痛，用石膏三錢煎服，頃即滿頭皆腫痛，牙根上　腫勢尤甚，俟天和，定方各羌活散火湯，羌活酒炒五分，防風三分，酒連一分，酒芩二分，白茯苓一錢，人參二錢，甘草五分，半夏一錢，破故紙一錢，枸杞子一錢。二劑，其細澀脈即粗大，是陽氣下行矣，頭痛稍止，可見前頭痛是下焦無陽，陰火上衝。服之八劑，頭痛全止，齒根腫猶未退，脈則益和。余曰：將愈矣，此陽氣已至羌所。果四五日出膿少許而瘳。</p>
<h4>胃脘痛例</h4>
<p>萬歷壬寅六月間，家君年五十三矣。患心口痛，嘔食面黃。診之，脈細弦數六至余。即灸氣，遂愈。明年天旱，家貧車戽力罷，復吐酸如前，再服前劑及八味丸而安。</p>
<p>一婦人，年五十余。素有心疼，久已疏矣。七月間，舊病忽作，醫以寬中導氣削堅攻血等劑，致中氣愈虛，不思飲食，神憊，迎予治之，已五六日不食。診之，六脈俱沉，惟脾胃弦細，似有神，尋亦難得；外證則心口痛，左脅脹硬，嘔苦酸水，但能飲清湯，如吃米湯一口，即飽脹不勝，正木來克土之症也。然其人脈病雖篤，面色、肌肉猶不甚脫，憶古人憑證不憑脈之語，投以異功散加吳萸、乾薑，佐以薑炒山梔三分。二帖，病失十五，再二帖而愈。</p>
<h4>眼痛例</h4>
<p>徽州方奉安令郎，十二歲。孩時乳母無乳，且喜酒，恐其父知無乳，私以果米食喂之，乳哺三年後，便眼弦紅爛，此受母濕熱故也，漸至眼不得開。延予治之，六脈俱洪。予曰：此腎水不足之疾，當益水以滋肝木，以六味東加柴胡、山梔，數十帖而愈，時方秋候，余復言宜多服前劑，預培腎水，以助來春生發之氣。彼怠緩不果，至春遂如予言。他醫治以芩、連涼心之劑，進至五日，眼不開，且發熱不思食，作瀉，咳嗽，此過傷苦寒，收降太過，致陽氣受虧，胃氣不升發也。（凡過服苦寒，在血實之人，胃絡凝痹，當見一塊結急而疼痛，且愈覺內熱。血虛之人，胃血辟易，胃體寒僵，肚中一片全不柔和，溏泄作墜而微痛，若不速救，至舌淡無苔，是血絡全閉，胃氣不能上榮也。此案是濕熱酒毒，久伏血肉之中，治宜活血解毒，使遍身發瘡自瘳。苦寒逆折，固在所忌，甘溫補脾，亦非邪盛時所宜，能增濕熱助毒瓦斯。）復請視之，六脈俱八、九至，按至骨則細無神，左心肝洪大於右，按之無力，此氣血大虛，元氣大憊之症。幸童子真元未散，尚可救藥，亦須服藥半年，方可見效，治以四君加黃　、山藥、門冬、五味。三月，發熱、咳嗽稍可，作瀉猶未止，教以服補劑參苓白朮丸，間以前藥，至半年，脈退六七，眼亦開矣，第赤爛上下黏膩未除，或時可，或時黏，此正氣未全復，邪火未全退也，還當扶元氣，而邪火自息。彼吝於參費，復用別醫，以補血當歸、生地之類，一兩月，前症復作，眼復赤爛不開，反增惡寒發熱，作瀉、咳嗽如舊，事已告急，復求予診，六脈俱細數，比前更甚，余許以八帖之後，惡寒不減，便不可回。服保元加白朮、門冬、五味。四劑後，惡寒頓退，惟發熱不已。余曰：蓋惡寒者，陽氣虛也，服四劑而祛之，陽尚強，尚可救療，後以保元、四君加山藥、門冬出入服之。至冬，眼弦赤爛已去，數脈俱退，止五六至，按之無力，眼中不時兩　有紅　入睛，此陽虛上越之故也。以補中湯去升麻，入熟附一二分，七八劑　退，數脈亦退，仍眼前劑而全愈。</p>
<p>左光祿丞，年及四十。兩目俱瘀肉滿珠，他醫與以祛風散熱之劑，不效。余謂：脾主肌肉，此脾胃肉滯也。以桃仁泥二錢，枳實一錢半，連翹一錢半，元明粉二分，白芷二分，山楂肉一錢半，晚上日服一帖，至十帖而全愈。余以此方治數百人患此者，俱未嘗不效。第先曾服多苦寒之劑，已傷脾胃，不思飲食者，禁不可與，如勉用之，則眼必壞，且致虛損。如患此症，服過寒涼，已傷中氣，且宜靜養守之，亦得漸退，不可造次，至於失明。蓋此症醫者罕識，陽明多血多氣之經，而經云：血實宜決之，此方決之之意也。如患者脾胃素虛，必欲服之，或間日一帖，或間二日一帖可也，急服則損目傷脾也。（此方從桃仁承氣套出，而丁寧告戒者，過服寒涼，胃血辟易，再用苦鹹寒泄，即血不復能上榮。）</p>
<p>邱豫章，患瘀　滿眼，醫以大黃行之，祛風散熱之劑服之，俱不退，以前方三、四劑而一女人，年五十余。素眼疾，因服祛風散熱之劑，忽口乾，且發熱，多眵，開合不得，紅筋薄翳滿目，六脈洪數五六至，浮沉俱無力，此氣有餘而血不足症也。四物加黑柏二分、劉夫人，年五十余，忽眼疾，醫以祛風散熱養血之劑治之，不效。已五、六日矣，眼珠痛，聲撼鄰。予診之，左關洪喘且大，此肝血不足，肝自生風也。細觀之，左瞳神散大，痛不可忍，無紅筋，加味逍遙一帖，服之痛止，一二時復作，此藥力盡也，日服二劑，將六七帖，痛減十六，十二三帖全愈，後教以服六味地黃以生肝木。</p>
<p>楊宅使女，年八歲。兩目眵淚不干，眼眶赤爛，此脾胃濕熱，以胃苓加酒炒黃芩、連翹一朱友，年三十外，患左目自上而下，紅瘀兼翳，俗曰垂帘。其勢自上而下，象垂帘之狀，故云。用加味逍遙去白朮，加川芎，少白芍。十數帖，去其十六，再十帖而全愈。復令服地一唐友，年二十外，症亦如前，亦用逍遙加減如上，服十五六帖而愈。</p>
<h4>齒痛例</h4>
<p>家慈，年五十三歲。齒痛不食，已幾月矣，人誤以舊方野蜂窠填入鹽椒，羊脛骨為末擦之，滿口皆碎，倍痛，愈不能食，而母以人中白塗疳散抹之，方可進湯水，遂乘舟入城。診之，右三脈俱伏，左寸關細，左尺洪緩。怵曰：揀方醫病，不如以理思之。右三部伏，因齒痛不便食，脾胃失養故也；左寸關細者，緣脾胃虛，不能榮養心肝之血而然；左尺洪緩，乃濕熱耳。用白朮、甘草、陳皮補脾胃，四物湯以養陰血，蒼朮、茯苓、黃柏、知母以除尺之洪緩、崔友，年二十外。素好色，忽患齒病，遣使來云：病齒齦腫痛，且流血不止。予思之曰：此木克土之象，肝腎血虛，風火妄動，乘其所不勝也。以加味逍遙散二劑治之，服一劑痛則減血收，二劑全愈。蓋涼肝腎之陰，治風熱之標，培脾土之虛。經云：木鬱則達之，火鬱則發師祖存碧，年四十余。素脾胃不充，忽一日齒痛，兩口角流涎不止，灰挹滿斗，楚聲撼鄰。脈之，右關弦急，此脾胃虛寒之症，用補中益氣東加吳茱萸、乾薑、肉桂各三分，內人參五分，服之頃間，痛未解而反增，坐臥不安，此藥力未施也。再頃之，痛雖減，而涎猶不止。予曰：涎乃脾家液，不宜過去，即煎前東加人參八分，明曰又如上一劑，痛止，液亦不去，再</p>
<h4>雜症例</h4>
<p>一女人胎八九月矣，忽腰痛甚。診之，六脈俱細，二尺澀且弦。予疑之，視其懷抱不虛。予期而產一子，然不暮而亡。觀此女素稟弱，勉得胎孕，而乏其滋養，宜如此之克驗也。</p>
<p>侄男，甫六歲。三月間，忽然熱，三日，右面心胃經部分出痘一顆，如鵝眼大，右眼弦胞皮上一顆，不甚發而沒，余而細紅筋數條，至五六日不貫漿，發熱煩躁，晝夜不睡，肚飽，咬牙，寒戰，抽搐，時刻叫喊不安。余視之，六脈俱八、九至，幸大便不瀉。予思曰：肚飽者，脾胃弱不能輸運毒瓦斯也；煩躁者，腎水不足而有火也；抽搐切牙者，水不能生木，枯木生火，風火搖動之象，乘其所不勝也。大法，當先保元氣，清肺金，生腎水，水旺木滋，而火自息，遂合方名保七六三湯，保元湯七分，六味湯料三分也，加門冬、五味。一帖，鼾睡半日，醒而復躁，復半日，偏身如蚊嚙之狀，甚細。又照前一帖，復睡如前，醒後煩不安。予曰：鼾睡，得藥暫元氣少復，邪氣少退之故；復煩者，裡毒未盡出也。復用參　四聖飲二帖，漿足，黃如蠟色，又七、八日方脫靨。古人云：三日熱，三日透，三日齊，三日漿足，三日脫靨，此正氣不虛者言也，虛而邪盛者，不拘於此。余曾見切牙寒戰，俱棄之不醫，而諸書亦云難治，惟立齋先生有治方，不拘此，神化再出，非庸醫可覷其一二者。</p>
<p>葉少池令郎，年十五。發熱，足不能行，且痛。予診之，六脈俱十至，二尺弦細，此血虛發熱，兼濕有寒。用逍遙散加酒柏三分、蒼朮一錢三分、吳萸三分，二帖全愈，予不意應效如此之捷。（近年榮相文忠公患此證，即用此方，神效，但不除根。）</p>
<p>丁會成，年四十余，春季右腿正面忽痛麻。診之，右三部洪數五六至，問口渴否？曰：是也。升麻葛根湯二帖而愈。</p>
<p>壬寅九月間，大妹，年二十一歲。緣家貧憂悶，忽患乳癰，不信服藥，漸至脹長尺許，極為可駭。予思石山先生微義，大都人患瘡癰，畏針不早開膿，致大傷陽氣，後難收復，即以神效栝蔞散二劑與服之，膿即射出，厥後果然瘡口不收，汗出如珠，至日西則昏憒不省人事。</p>
<p>予曰：雖膿已出，陽氣終損，第未全脫耳。診之，脾胃命門脈細弦，余浮無沉，按無力，此陽氣虛也，以十全大補及補中益氣出入服之，數十劑方愈，仍令再服八味丸數斤，無後患，不則，陽氣終難恢復。以怠惰不如所言，來年十月間，前陽虛之症復作，流汗如珠，拭去復有。予曰：此少服八味丸之故。以補中益氣加吳茱萸、破故紙、乾薑，二三帖即減，數十帖而安。復教以服前丸，妹猶未果。又來年七月患傷風狀，來告予欲藥。予曰：此陽虛不衛外之故，以補中益氣二帖服之。緣中氣寒極，不甚應病，已十二三日矣。復召予視之，汗出流水，面赤，舌出不收，嘔惡吐痰吐酸，晝夜不知人事，下瀉清水，滿口皆碎，膈中隔塞不通。診其脈，十至余，有影無形，浮中沉俱無力，脈狀難定，明知前症之虛寒，尋思東垣《此事難知》之旨，上吐下瀉，此中氣不和，脾胃虛寒之症也。即投理中東加吳萸、薑汁炒山梔。一帖，上下皆通，舌收、喘定、痰止，遂索湯水，惟昏憒如故。再一帖，口瘡盡愈。與十全大補湯，並服加減八味丸，二十劑余，兩太陽各生小癤一二枚，前數脈盡退，方識人。</p>
<p>自云：向晝夜如夢，今日方醒。九月盡，再診之，豁大難明之脈已退，惟細弦耳，尚呃逆吐痰，重以六君加吳萸、乾薑、砂仁、煨薑，一二劑呃止。復以異功散加乾薑、吳萸及前二丸邱子明，年五十外。左乳上發一腫，服消毒藥，且不戒勞，又兼遠行，遂腫大如盤，高一寸而錢，薑、桂各五分。一劑，至晚即睡，不覺天明，腫遂平，嘔惡減半。再劑，嘔惡去，飲食頓增。復用八珍湯去地黃，加　、桂、薑如前，腐如瓜瓤，此陽氣尚能作腐，可醫之兆。予適他往，瘀死之肉剪遲，瘡面連結，色黑如墨，重發熱攻開。一方醫為割之，熱透遂涼，仍服消毒藥，乃泄瀉，日數十行，嘔惡、渴甚、肚痛，瘡紫黑。予歸，急用六君加　、薑、桂如前，煎送四神丸百粒。二劑，泄瀉止半；三劑，肚痛、泄瀉俱定，瘡色變紅，但渴不止，此真陰虧也。用八物去地黃加　、薑，送下加減八味丸七十余粒，數十劑而愈。（此節有訛一友，年二十外。左邊睪丸並腰痛，醫以大黃等藥與之，約六七日矣。反發熱、痛甚。此寒氣著於內，著而不行也。余診之，二尺沉按弱細，余俱洪數，且有滑意，予曰：此作痛將欲成膿，用真人活命飲加人參（五分，缺）牛蒡子。一劑痛減，二劑全愈。</p>
<p>蔣子賢，年四十外。因長途勞頓兼酒色，面若熏黑，橘黃帶微黑也。無力不思食，六脈俱細至三十帖，面紅活，但作瀉未止，與以四神丸。三四服而愈，第覺左邊睪丸有腫意，此脾健運，濕熱下流之故也。不及治之，復北行，酒色兩兼，且受惱怒，重發熱不安，與補中益氣東加羌活、蔓荊。一帖，熱稍退，而陰子腫大如鵝子大，左脈洪，用小柴胡湯合四物加車前。一帖，不減，且溺則小便澀痛難出，口乾，發熱。更加龍膽瀉肝東加牛蒡子。七八帖，發熱退去，口乾亦減，溺亦不澀，睪丸腫軟十八，又服數劑。服活命飲加牛蒡、人參，十數劑王岐岡，年十七，讀書坐久受寒，遂左邊睪丸作痛。用真人活命飲加牛蒡、人參，八帖陸起潛，右拗患腫作痛，六脈洪數，右關尤甚。用逍遙散加川芎，二帖而愈。予曰：洪，心脈也；數者，火旺水虧之征也；而右脈盛，氣有餘而血不足也。肝血不足，肝木生火，故脈洪數也。而右陰　腫痛者，以右脈甚也，　者，肝家部分，肝木為火所爍，則筋急，而拘攣腫痛也。以前湯清其熱，養其血，培其根，故捷如影響也。（亦瀉實火耳，非養陰培根也。）</p>
<p>伸故耳，六脈俱洪大有力，數有十至。用加味逍遙散，四帖而愈。越二月，手足復患如前，六脈俱按洪大，以四物加朮、陳、　、門、味，八帖而愈。</p>
<p>伍姓，久患漏腫，肛口連臀尖流血不止。醫以大黃末敷之，其肉漸黑硬麻，且病目，紅筋滿珠，開合不便。余視之，以逍遙加味者，添桃仁、連翹。十余劑服之，而紅筋十退六、七，而漏亦稍可。予復令揭去大黃，日灸艾十余壯，候痛即撤之，內服托裡消毒散加破故紙，以其命門脈弦故也。服數十劑，此方去取一二味後，肉漸軟紅活而愈，亦教以服六味地黃丸加統觀諸案，恪守立齋家法，理路正大，第藥力太薄，法少變化，不足治大病，啟後學。</p>
<p>在氣血微虛，津液不足，而經絡未有痼痹者，自可收功。若夫虛極之重病，實極之暴病，虛實雜極之奇病，諸方安能制之？故講方法者，必有《傷寒》、《金匱》之矩　，兼《千金》、《台》之魄力，乃能任艱巨，適變化而不竭焉。此書格律謹嚴，可為老人、虛人調養指南。首二卷頗有精語，極宜潛玩，視近世好為張皇幽渺詞蔓理晦者，奚啻霄壤？</p>
<h2>後跋</h2>
<p>程瘦樵每以舊醫書餉予，前歲得睹王太仆《元和紀用經》及白飛霞《韓氏醫通》，既抄珍襲之矣，今夏復以《慎柔五書》示予。予觀其書，凡治諸症，皆以保護脾胃為主，淵源本於東垣，而化裁宗諸薛氏，其於虛勞之症，截然兩分，治法不混，更發前人所未發，洵為醫家可寶之書也。手為抄錄，不憚煩暑，亦以見老年嗜好云爾！</p>
<p><u>乾隆丙午秋七月後學王陳梁識時年六十有五</u></p>
