<header data-type="book">
<h1>劉河間傷寒醫鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬宗素</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1271/1368">公元1271年至公元1368年</data></dd></div>
</dl>
</header>
<h2>傷寒醫鑒</h2>
<p>天道有遭世而興，事有遇時而顯，此古今之常理，出於自然者也。且謂儒書衰滅，以後邪說蜂起，以淆亂六經之道，紅紫亂朱，無以折衷。孝武皇帝，舉用俊茂，罷黜百家之非，而六經之道始明。自漢而降，注述繁錯，醫書尤甚。況醫乃人之司命，所系尤重，殆非小智，所能及也。</p>
<p>惟昔黃帝、岐伯，難疑答問，上窮天道，下極地理，中盡人性，垂法萬世，以為生民之壽域，是以名曰《素問》。於是守真劉先生恐斯文將墜於地，民罹橫夭，於是天地、陰陽、剛柔、消長之理，察人生風氣、血脈、寒熱之宜，逐一擬一篇，無不引《素問》，先標受病之本源，所處方用藥。注書有四焉，一者，明天地之造化，論運化之盛衰，目之曰《要旨論》一部，計三萬六千七百五十三字，一者，分君臣佐使，定奇偶之逆從，又作《宣明論》一部，計八千九百零三字，一者，又注傷寒六經傳受，《直格》一部，計一萬七千零九字，又取至真要大論一篇，病機氣宜之說，著《玄機原病式》一帙，計二萬余言。又，先生歸世之後，恐庸醫不知樞要，於《宣明論》內，又集緊切藥方六十道，分為六門，亦名《直格》。通計八萬余言，可謂勤矣。</p>
<p>守真曰：自昔以來，惟仲景著述遺文，立傷寒九十七法，合一百一十三方，而後學人，莫能宗之。謂如人病傷風，則用桂枝解肌，傷寒則用麻黃發汗。傷風反用麻黃，則致項強柔　，傷寒反用桂枝，則作驚狂發斑，或誤用此二藥，則必死矣。故仲景曰：桂枝下咽，陽盛則斃，承氣入胃，陰盛則亡是也。守真為此慮，恐麻黃、桂枝之誤，遂處雙解散。無問傷風傷寒，內外諸邪，皆能治療，從下證錯汗者，亦不為害。如此，革誤人之弊，已不少矣。仲景處大承氣湯、小承氣湯、調胃承氣湯，亦各有所宜。熱勢大者，大承氣主之，微，小承氣主之，腹中有痛，大便硬者，調胃承氣主之。守真又恐承氣有三，恐有過焉不及之患，遂處三一承氣以總之。又慮仲景所著之書，文深義奧，淺學難通，遂芟其根蔓，撮其根本，十去七八，將三百九十七法，一百一十三方，制三十二藥而總之，使人易於檢閱。一見此書，對形見影，了無障礙，得之對證用藥，人可自療，況醫家者流，業此者乎。兼仲景除《傷寒》之外，亦無雜病之論，是已備於仲景書也，故守真首論《傷寒》之差謬。</p>
<p>故一切內外所傷，俱有受汗之病，名曰熱病，通謂之傷寒。今春溫、夏熱、秋涼、冬寒，是隨四時天氣、所感輕重，及主療消息不等，合而言之，則一也。冬伏寒邪，藏於肌肉之間，至春變為溫病，夏變為暑病，秋變為濕病，冬變為正傷寒。冬冒其氣，而內生怫熱，微而不病者，以至將來陽熱變動，或又感之，而成熱病也，經曰冬傷於寒，春必病溫，亦其義也。然其陰證者，止為雜病，終不為汗病，由是傷寒汗病，直言熱病，不言其寒也。三陰證者，邪熱在臟裡，以臟為裡為陰，當下者也。《素問》三篇：刺熱、評熱論論、熱論，論熱不說其寒，非無謂者也，熱論之外，《素問》更無說傷寒之證。熱論云：熱病者，皆傷寒之類也。又云：人之傷於寒也，則為病熱。注云：寒者，冬氣也。冬時嚴寒，萬類深藏固密，不傷於寒。觸冒之者，名曰傷寒。傷於四時之氣皆能病，以傷寒為毒者，最為殺厲之氣，中而即病，名曰傷寒，不即病者，寒毒藏於肌肉之間，久而不去，變為熱病，故曰熱病者，傷寒之類也。</p>
<p>古聖訓陰陽為表裡，此一經大節目，惟仲景深得其旨趣。後朱肱編《活人書》，將陰陽二字，釋作寒熱，此差之甚也，中間誤HT　橫夭，嗟之何及！《素問》言人之臟腑陰陽，臟者為陰，腑者為陽，又四時陰陽，盡有經記，內外之應，皆表裡，其信然乎。六合為十二經脈之合，太陰陽明為一合，厥陰少陽為一合，少陰太陽為一合，手足之脈，是謂六合。表裡者，諸陽脈皆為表，諸陰脈皆為裡。以此驗之，是守真之言不誣矣。然恐俗人不悟，朱肱《活人書》之謬，且略舉傷寒六經傳受一端而明之。肱書云：傷寒中病時，腠理寒，便入陰經，脈不微細，不經三陽也。三陰中寒，微則理中湯，稍厥或下利，即甘草乾薑湯。若陰毒已深，病勢困重，六脈附骨，浮之則有，按之則無，於臍中用蔥熨法。灸艾三五百壯以來，手足不溫者，不可治也。守真曰：前三日，三陽病，在表，故當汗之，後三日，三陰病，在裡，故當下之。六經傳受，皆是熱證，非有陰寒之病也。《素問》云：傷寒未滿三日者，可汗而已，其滿三日者，可泄而已。由此言之，守真之說，正合《素問》，肱書失之遠矣。又如身冷脈微，陽厥極深一證，肱書云：病患身冷，脈沉細而疾，或時鄭聲，指甲面色青黑，陰毒已深。若服涼藥，則渴轉甚，躁轉急，須急服辛熱之藥。如得手足溫，更服前熱藥助之。若陰氣散，陽氣來，即漸減熱藥而調之。守真曰：傷寒下後熱不退，蓄熱在內，陽厥極深，以至陽氣怫鬱，不能營運於身表四肢，以至遍身青冷。若急下之，殘陰暴絕，陽氣俊竭而死，不下亦死。此際當以涼膈散或解毒養陰退陽。但欲蓄熱漸散，則心腹復暖，脈自漸生。至於脈復有力，方可三一承氣湯下之。守真復慮熱有兩感之說，復以《素問》證之曰：亢則害，承乃制。此則正謂陽厥極深，不能營運於四肢，以至身冷脈微也。此略舉一二端耳，余者自可觸類。夫肱書，暴於當世，亦一代之名醫，其誤謬猶若是，況其余碎雜不經之說，何可盡信！至論小兒，如閻孝忠曰：凡小兒瘡疹，當乳母慎口，不可令飢。及受風冷，歸腎變黑而難治。春夏病為順，秋冬病為逆。冬月腎旺寒盛，多歸腎變黑。若妄下之，則內虛，多歸於腎。此則直以瘡疹為寒。守真云：閻孝忠不詳錢氏本方，斑疹黑陷，牛李膏、百祥丸，寒藥下之，多獲痊，不救必死，為熱豈不明哉！經云諸痛癢瘡瘍，皆屬心火，及斑疹黑陷，無不腹滿喘急，小便赤澀不通，豈非熱極使然耶！此閻孝忠所以失錢氏之意也。守真如此分別，可謂醫者之龜鑒也。學人當詳其說，無妄謂傷寒有陰毒之證，便投薑附之藥，使實實虛虛，損不足，益有餘，以此誤人，不亦冤哉！每觀乎城翟公《序》曰：譬如宵行，冥冥迷路，不知其往。遇明燈炬火，正路昭然，此醫鑒之所作也。</p>
<p>然世俗惡寒好熱，蓋亦有說。守真云：病勢輕微，以熱藥強劫開發，誤中而獲效者有矣。</p>
<p>如中酒熱毒，而復飲熱酒以投之，令郁結得開，而氣液宣通，此謂以熱療熱，亦有痊者。世俗惑於病輕而易痊，謂大疾亦然，殊不知不中則反為害也。熱病以熱藥治之者，譬如驕主得佞臣縱恣，禍及滅亡，更不覺佞臣之惡，惟其同好之可樂，使熱勢轉甚，以至陽厥，身冷脈微，反陽為陰，雖死不悟。至於諸熱變證，十損八九，莫不皆然也。如下利不止，瘀熱在裡，若使火艾熨烙，無不悅者也。此世俗好熱惡寒，所以滋肱書之失也。</p>
<p>又，守真云：病熱勢甚，依法治之而不退者，或失寒涼，或因失下，或熨烙熏灸，使熱極而妄為陽厥。切不可用銀粉、巴豆性熱大毒丸藥下之，反耗損陰氣而衰竭津液，使熱勢轉甚，而懊、喘滿、結胸、腹痛、下利不止、血溢、血泄，或為淋閉、驚狂譫妄，熱證蜂起，不可勝舉。由此為瘕　堅積之疾，誤人必多。然則世情亦不知醫者之過，未盡究守真之奇效。</p>
<p>嘗聞守真之言曰：正治者，以寒治熱，以熱治寒。病證輕微，可如此治之，若病危重，則當從反治之法。其反治者，亦名從治，蓋藥氣從順於病氣也，是故以熱治熱，以寒治寒，是謂反治。以熱治熱者，非謂病氣熱甚，而更以熱性之藥治之，本謂寒性之藥，反佐而服之。蓋謂病氣熱甚，藥氣寒甚，拒其藥寒，則寒攻不入，寒熱交爭，則其病轉加也，故用寒藥，反熱佐而服之，令藥氣與病氣不相忤。其藥本寒，熱服下咽之後，熱體既消，寒性乃發，由是病氣隨愈。余皆仿此。然正治之法，猶君刑臣過，逆其臣性而刑之，故病熱不甚，治之以寒，逆其病氣，而病自愈矣。反治之法，猶臣諫君非，順其君性，而以悅之，其始則從，其終則逆，可以諫君去其邪而歸於正。王冰曰：病微猶救人火，火得木而　，得火而燔，得水而滅。病濕猶救龍火，火得濕而，得水而燔，以人火不逐之，則其火自滅耳。此謂良醫之法也。夫逆治從治，皆是違性之藥，病患豈有不惡者。是藥病相爭，其氣所以得固也。然十救其十，不為醫之功，以謂人之有命也。</p>
<p>如身冷脈微，終不省蓄熱在內，設以涼膈、解毒之藥調治，無有不惡。又如患形，不至有經年，終不曉瘀熱在裡，設以承氣。寒藥下之，無有不畏，雖得痊愈，尚不免於畏惡。病勢大，藥力小，而致死者，亦不知杯水救車薪之火為非，只指為涼藥之過。此二者無他，存於世人是非不明，而惡寒好熱也。</p>
<h2>論脈證</h2>
<p>《活人書》：陰毒，脈疾七至八至以上，疾不可數者，正是陰毒已深也，六脈沉細而疾，尺部斷小，寸口或大。若誤服涼藥，則渴轉甚，躁轉急。有此二證者，便急服辛熱之藥，一日或二日便安。若陰毒漸深，其候沉重，四肢首冷，腹痛轉甚，或咽喉不利，心下脹滿，結硬燥渴，虛汗不止，六脈但沉細而疾，一息七至以來。有此證者，速於氣海關元二穴灸三百壯，以手足和暖為效，仍兼服正陽散。守真云：然既脈疾，至七八至以上，疾不可數者，正是陽熱極甚之脈也。世俗妄傳陰毒諸證，以《素問》驗之，皆陽熱亢極之證，但熱於內，在裡極深，身表似其陰寒者也。及夫經云亢則害，承乃制也，謂五行之道，實甚則過極，則反似克己者也，是謂兼化。</p>
<p>如萬物熱極，反出水液，以火煉金，熱極而反化為水，是以火極而反以水化也。《素問‧脈要精微論》：長則氣治，短則氣病，數則心煩，大則病進。（注曰：數急則熱，故煩心也。）又，六節藏象論：人迎一盛，病在少陽，二盛病在太陽，三盛病在陽明，四盛以上為格陽。（注云：謂人迎大於寸口脈一倍。余盛同法。又云：俱盛，謂大於平常之脈四倍也。）四倍以上為關格，關格之脈羸，不能極於天地之精氣，則死矣。</p>
<h2>論六經傳受</h2>
<p>《活人書》：太陰、少陰、厥陰，皆屬陰證也。少陰者，腎也，厥陰者，肝也，太陰者，脾也。何謂太陰？太陰者，脾之經，主胸膈　脹。何謂少陰？少陰者，腎之經，主脈微細，主心煩欲寐。或自利而渴者，何也？謂中病時，腠理寒，便入陰經，不經三陽也。蓋寒入於太陽則發熱而惡寒，入於少陰，只惡寒而不發熱也。三陰中寒，微則理中湯，稍厥或中寒下利，即甘草乾薑，大段重者，四逆湯，無脈者，通脈四逆湯。何謂厥陰？厥陰者，肝之經也，厥陰之為主，主消渴，氣上衝心，心中痛熱，飢而不欲食，食則吐蛔，下之利不止也。若陰氣獨盛，陽氣暴絕，則為陰毒，其證四肢逆冷，腹臍築痛，身如被杖，脈沉疾，或吐或利。當急灸臍下，服以辛熱之藥，令陽復而大汗矣。守真曰：人之傷寒，則為病熱，古今一同，通謂之傷寒病。前三日，巨陽、陽明、少陽受之，熱在於表，汗之則愈，後三日，太陰、少陰、厥陰受之，熱傳於裡，下之則愈。六經傳受，由淺至深，皆是熱證，非有陰寒之證。古聖訓陰陽為表裡，惟仲景深得其義。</p>
<p>厥後朱肱《活人書》，特失仲景本義，將陰陽二字釋作寒熱。此差之毫厘，失之千裡矣。《素問‧熱論》云，黃帝問曰：熱病者，皆傷寒之類也，或愈或死，其死皆以六七日之間，其愈皆以十日以上者，何也？不知其解，愿聞其故。岐伯曰：巨陽者，諸陽之屬也，其脈連於風府，故為諸陽主氣也。人之傷於寒也，則為病熱，熱雖甚不死，其兩感於寒而病者，必不免於死。帝曰：愿聞其狀。岐伯曰：傷寒一日，巨陽受之，故頭項痛，腰脊強。二日陽明受之，陽明主肌肉，其脈夾鼻絡於目，故身熱、目痛、鼻干，不得臥也。三日少陽受之，少陽主膽，其脈循脅絡於耳、故胸脅痛而耳聾。三陽經絡皆受其病，而未入於藏，故可汗而已。四日太陰受之，太陰脈布胃中，絡於嗌，故腹滿而嗌干。五日少陰受之，少陰脈貫腎絡於肺，系舌本，故口燥舌乾而渴。六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮。三陰三陽、五臟六腑皆受病，營衛不行，五臟不通，則死矣。其不兩感於寒者，七日巨陽病衰，頭痛少愈，八日陽明病衰，身熱少愈，九日少陽病衰，耳聾微聞，十日太陰病衰，腹減如故，則思飲食，十一日少陰病衰，渴止不滿，舌乾已而嚏，十二日厥陰病衰，囊縱，小腹微下，大氣皆去，病日已矣。帝曰：治之奈何？岐伯曰：治之各通其臟脈，病日衰矣。其未滿三日，可汗而已，其滿三日，可泄而已。</p>
<h2>論汗下</h2>
<p>《活人書》云：陽明證宜下，少陰證宜溫。又曰：少陰病，一二日，口中和，其背惡寒者，宜著艾，並四逆湯。又云：三陽證宜下，三陰證宜溫。少陰病，發熱，脈沉，麻黃附子細辛湯主之，少陰病，二三日，當見少陰證，無陽者，宜麻黃附子甘草湯，皆陰證表藥也。又云：發熱而惡寒者，發於陽也，麻黃、桂枝湯主之。守真云：夫辨傷寒陰陽之理者，邪熱在表，腑病為陽，邪熱在裡，臟病為陰。世俗妄謂有寒熱陰陽之異，誤人多矣。寒病固有，然非汗病之謂也，止為雜病，不可與汗病同科。且造化為汗液之氣者，乃陽熱之氣，非陰寒之所能也，觀萬物熱極而反出水液，明可知矣。況法曰身熱為熱在表，飲水為熱在裡，其傷寒病，本末身涼不渴，及小便不黃，脈不數者，未之有也。雖仲景有四逆湯證，表熱裡和，誤以寒藥下之太早，表熱未入於裡，裡寒下利不止，及表熱裡寒自利，急以四逆湯溫裡，利止裡和者，急於解表也。故仲景四逆湯證後，復有承氣湯寒藥下熱之說。由是傷寒汗病，經直言熱，而不言其有寒也。經言三陰證者、邪熱在臟在裡，以臟為裡為陰，當下熱者是也。按《素問》論傷寒熱病三篇，皆名曰熱，竟無寒說，兼以《靈樞》諸經運氣之說推之，則名為熱病，誠非寒也。《素問‧熱論》云，帝曰：治之奈何？岐伯曰：治之各通其臟脈，病日衰矣。其未滿三日，可汗而已，其滿三日，可泄而已。此言表裡之大體也。（注曰：《正理傷寒論》脈大浮數，病在表，可發其汗，脈沉細數，病在裡，可下之。）由此，雖日數過多，但有表證，而脈浮數，猶宜發汗，日數雖少，即有裡證，猶宜下之，正應脈證而汗下之也。</p>
<h2>論陽厥極深</h2>
<p>《活人書》云：傷寒，陰盛隔陽，病患身冷，脈細沉疾，煩躁而不飲水者。又云：大抵陰毒，因腎氣虛寒，或因冷物傷脾，外感風寒，則陽氣不守，遂發頭痛，腰重，腹痛，眼睛疼，身體倦怠，四肢逆冷，汗不止，或多煩渴，精神恍惚。若誤服涼藥，則渴轉甚，躁轉急。有此病者，便須急服辛熱之藥。或時鄭聲，指甲面色青黑。若陰毒已深，病勢困重，六脈附骨，浮之則有，按之則無，但於臍中用蔥熨法，或著艾三百壯，以來手足不溫者，不可治也。守真云：或下後熱不退，或蓄熱內甚，陽厥極深，以至陽氣怫鬱，不能營運於身表四肢，以致遍身清冷，痛甚不堪，項背拘急，目睛赤痛，昏眩恍惚，咽乾或痛，燥渴虛汗，嘔吐下利，腹滿實痛，煩冤悶亂，喘急鄭聲，以其蓄熱極深，而脈道不利，以脈沉細欲絕者，俗未明其造化之理，而反傳為陰毒。</p>
<p>或失下熱極，以致身冷脈微，而昏冒將死。若急下之，則殘陰暴絕，陽氣後竭而立死，不下亦死。病患至此，命懸頃刻。然則治法當何如？曰：此當涼膈散，或黃連解毒湯，養陰退陽，但欲蓄熱漸漸宣散，則心腹復暖，脈漸以生。至於脈復有力，可以三一承氣湯微下之，或解毒加大承氣湯尤良。俗未明此故，認作陰證，是以失其治也。《素問‧五營運大論》岐伯曰：氣有餘則制己所勝而侮所不勝，不及則己所不勝乘而侮之，己所勝輕而侮之。木余則制土，輕侮於金，金氣不爭，故木恃其余而欺侮之也。又，木少金勝，土反傷木，以木不及，妄　之也。四氣本同。（侮，謂侮慢也，而凌忽之也。）又云：以火煉金，熱極反化為水。又云：亢則害，承乃制。</p>
<h2>論濕熱發黃</h2>
<p>《活人書》云：一身盡痛，發熱身黃，小便不利，大便反快者，此名中濕。風雨襲虛，山澤蒸氣，人多中濕。濕留關節，須身體煩痛，其脈沉緩，內中濕也。主一身盡痛，發熱身黃，小便不利。又云：以寒濕在表不解，為不可下也，可以朮附湯主之。守真云：發黃者，陽明裡熱極甚，煩渴熱鬱，留飲不散，以致濕熱相搏，而體發黃也。或言寒濕相搏而發黃者，色及苔膏也。</p>
<p>本傷寒失下，或誤汗之、溫之、灸之、熨之，或服銀粉、巴豆大毒熱藥下之，反以亡液，損其陰氣，邪熱轉甚，或下太早，熱入不成結胸，但發黃者，或失於寒涼調治，或熱勢本惡，雖按法治之，而不能退其熱勢之甚者，或下後熱不退，皆為發黃也。大抵本因熱鬱極甚者，留飲不散，濕熱相搏，而以朮附湯主之，誤矣。《素問‧平人氣象論》云：食已如飢者，胃疸，則是胃熱也。熱則消穀，食已如飢。目黃者，陽怫於上，熱積胸中，陽氣燔上，故目黃也。《素問‧通評虛實論》云：足之三陽，從頭至足，然久厥逆而不下，以致怫積於上焦，故為黃膽。</p>
<h2>論不得眠</h2>
<p>《活人書》云：下後復發汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身無大汗者，乾薑附子湯主之。守真云：夫傷寒病，懊　心煩，反覆顛倒，不得眠者，燥熱怫鬱於內，而氣液不得宣通也，梔子豉湯主之。《素問‧刺熱篇》云：肝熱甚，小便先黃，腹痛，多臥，身熱。熱爭則狂言及驚，脅滿痛，手足躁，不得安臥。</p>
<h2>論嘔吐</h2>
<p>《活人書》云：無陽則厥，無陰則嘔。卻言少陰下利，脈微者，與白通湯，利不止，厥逆無脈，乾嘔者，白通加豬膽汁湯主之。又云：膈上有寒痰，乾嘔者，不可吐，急溫之，宜四逆湯主之。守真云：嘔者，火氣上炎之象也，故胃熱甚則嘔也。又云：吐酸，肝木之味也，由火實制金，金，不能平木，肝木日甚，故為吐酸也，則如飲食，則喜酸也。或言酸為寒者，則如酒苦性熱，養於心火，故飲之則令人色赤氣粗，脈洪大而數，語澀譫妄，歌唱悲笑，喜怒如狂，冒昧健忘，煩渴嘔吐，皆熱證也，其吐必酸，宿熱甚明矣。《素問‧至真要大論》云：諸嘔吐酸，暴注下迫，皆屬於熱。（注云：內格嘔逆噫，食不得人，是火也。）</p>
<h2>論濕熱下利</h2>
<p>《活人書》云：傷寒下利多種，須辨陰陽，勿令差互。大抵傷寒下利多種，須看脈與外證。下利脈大者，虛也。脈微弱者，為自止。寒毒入胃，臍下必寒，腹脹滿，大便黃白，或青，或黑，或下利清穀。濕毒瓦斯甚，則下利腹痛，大便如膿血，或如爛肉汁也。得之寒毒入胃，四逆，理中湯、白通東加附子、四逆湯等。若濕毒下膿血者，桃花湯、地榆湯主之。守真云：下利膿血者，如世之穀肉果菜，濕熱甚，則自然腐爛潰發化為水，故食於腹中，感人濕熱邪氣，則自然化為膿血。其熱為赤，熱屬心火故也。其濕為黃，濕屬脾土故也。燥郁為白，屬於肺金故也。濕熱甚於腸胃，怫熱結也。濕主於痞，以氣逆不能宣通，因而以成腸胃之濕也。濕熱相兼。蓋水火陰陽寒熱，猶權衡也，一高則一下，一盛則一衰，豈能寒熱俱盛於腸中，而同為利者乎。若此之謬，世傳多矣，則如熱生瘡瘍。《素問‧大奇論》云：腸　下血，為少陰氣不足，搏為陽氣乘之，熱在下焦，故下見血也。《素問‧陰陽別論》云：陰結者，便血一升，（陰主血故也。）再結二升，三結三升。（注云：二升，謂之再結。三升，謂之三結。）</p>
<p>《素問‧至真要大論》云：大熱內結，注泄不止。熱宜寒療，結復須除，以寒藥下之，結散利止、則通因通用也。</p>
<h2>論霍亂</h2>
<p>《活人書》云：霍亂，嘔吐而利，熱多而不渴，寒多而不飢，理中丸主之。吐利汗出，發熱惡寒，四肢拘急，手足厥冷，四逆湯主之。吐利已，汗出而厥，四肢拘急不解，脈微欲絕者，通脈四逆加豬膽汁湯主之。錢氏吐瀉問難：廣親七太尉，七歲病吐瀉，是時七月，其證全不食而昏睡，睡覺而悶亂，吸氣乾嘔，大便或有或無，不渴，眾醫以驚治之，疑睡故也。錢氏曰：先補脾，後退熱，石膏湯。次日又以水銀、硫黃末，生薑水調一字。八月十五日以後，吐瀉身冷，無陽也，不能乳，乾嘔，瀉清褐水，當補脾，益黃散主之，不可下。守真云：吐瀉霍亂，三焦為水穀傳化道路，熱甚則傳化失常，而吐瀉霍亂，火性燥動故也。或云熱無吐瀉，只是寒，此說誤也。《素問‧至真要大論》云：諸病喘嘔吐酸，暴注下迫，轉筋，小便混濁，腹脹大如鼓，有聲如鼓，癰疽瘡疹，瘤氣結核，吐下霍亂，皆屬於火。</p>
<h2>論好用寒藥</h2>
<p>《活人書》云：傷寒，論家方論不一，獨伊芳尹、仲景之書，猶六經也，其余諸子百家，時有一得，要之不可為法。況有好涼藥者，附子、硫黃，笑而不喜用，雖隆冬，使人服三黃丸之類，又有好熱藥者，如大黃、芒硝，則畏而不敢用，雖盛暑，勸人灸病，服金液之類。非不知罪福，蓋緣偏見所趨然也。又云：近時用小柴胡湯，不問陰陽表裡，凡傷寒之家，皆令服此藥。蓋不可輕用，雖不若大柴胡湯、小承氣湯緊要之藥，病不相當，其為害也同，往往服小柴胡湯而成陰證者，甚多矣。又云：陰毒傷寒，心神煩躁，頭痛，四肢逆冷，返陽丹主之。此方甚驗，喘促嘔逆者，入口便住。若加小便不通，及陰囊縮入，小腹絞痛欲死，臍下二寸灸，仍與返陽丹、當歸四逆加吳茱萸生薑湯，慎勿與尋常利小便之藥。尋常利小便之藥者，多是冷滑藥，此陰毒瓦斯在小腹所致也。守真云：大凡治病，必先明此寒暑燥濕風火六氣，最為要也。故曰其治病之法，以寒治熱，以熱治寒，以清治溫，以濕治燥，乃正治之法也，又云：逆治，所謂藥氣逆病之氣也，其病輕微，則當如此治。其病重，當從反治之法，其反治者，亦名從治，所謂從順於病之氣也，是故經曰以熱治熱，以寒治寒。治熱非謂病氣熱甚，更以熱性之藥治之，本是寒性之藥，反熱佐而服之。所謂病氣熱甚，藥氣反寒，病熱極甚，而拒其藥寒，寒攻不入，寒熱相爭，則其病轉加也。故用寒藥，反熱佐而服之，令藥氣與病氣不相違忤，其藥性寒，熱服下咽之後，熱體既消，寒性乃發，由是病氣隨愈。其余皆仿此。然正治之法，猶君刑臣過，逆其臣性而刑之矣，故熱病不甚，治之以寒，逆其病氣，而病自除矣。反治之法，猶巨諫君非，順其君性而說之，其始則從，其終則逆，可以諫君失其邪而歸於正也。《素問‧至真要大論》云：寒者熱之，熱者寒之，從者逆之，順者從之。王冰注云：病微猶救人火，得木而　，得火而燔，可以水滅之，故逆其性氣而折之，病之氣微，而攻之以寒。病濕猶救龍火，得濕而　，遇水而燔，不知其性，以水折之，以濕攻之，適足以光焰詣天，物窮方止矣。識其性者，反常之理，以人火逐之，則焰灼自消，炎光撲滅。然逆之謂以寒攻熱，以熱攻寒，從之謂逆難入，從其性用，不必皆同，是以下又曰逆者正治，從其反治。從小從多，觀其事也，此之謂呼。</p>
<h2>論小兒瘡疹</h2>
<p>《活人書》云：小兒瘡疹，與傷寒相類，頭痛身熱，足冷脈數。疑似之間，只與升麻解肌，兼治瘡子，已發未發皆可服，但不可下，瘡疹發熱在表，尤不可轉瀉。世人不學，乃云初覺以藥利之，宜其毒也，誤矣。又云：疹痘已出，不可疏轉。出得已定，或膿血大甚，卻用疏利，亦非也。大抵瘡疹，首尾不可下。小兒身熱，耳尻冷，咳嗽，而用利藥，即毒瓦斯入內，殺人！錢氏曰：瘡疹始出之時，五臟訶見，惟腎無候，但見平證耳，尻冷耳涼是也。論瘡疹，尻耳俱屬腎，其居北方，主冷也。若瘡黑陷，耳尻反熱者，為逆是也，若用牛李膏、百祥丸各三服不愈者，死。病此瘡疹，當乳母慎口，不可令飢，受風冷，必歸於腎，變黑難治也。有大熱，利小便，有小熱，宜解毒。若黑紫干陷者，百祥丸下之，不黑者，慎勿下。更時月輕重，故春夏為順，秋冬為逆，冬月腎旺，又盛寒，病多歸腎。變黑者，無問何時，十難救一。又曰：瘡疹始出，未有他證，不可下也，但當用平和之藥，頻用乳食，不受風冷耳。如瘡疹三日不出，出不快者，即微發之。微發不出，即加藥發之。加藥不出，即大發之。出後不多，若反脈平無證者，即瘡疹稀少，不可更發也。腎旺發薄，土不克水，故脾虛寒戰，則難治矣。所以百祥丸者，瀉膀胱之腑，腑若不實，臟自不盛也。何以不瀉腎？曰：腎主虛，不受瀉，故二服不效，反加寒而死矣。守真云：小兒瘡疹未出，誤以熱藥汗之致陽氣轉甚，則重密出不快，多致黑陷而死。恐是斑疹，未敢服藥，以誤小兒諸病多矣。亦不知古人留寒涼之藥，通治驚風熱積。設是斑疹，使熱稍退而稀少出快，得痊除愈也，若用涼膈散，為妙耳。《閻孝忠集‧小兒論》未達錢氏本意，不明造化之理，反妄言黑陷為寒，及云斑瘡始終不可服涼瀉之藥。後人因之，反致熱甚黑陷而死者。閻公豈不詳錢氏本方，治斑瘡黑陷者牛李丸、百祥丸，寒藥利之，而多獲痊可，不救必死，為熱豈不明哉！夫斑瘡黑陷者，無不腹滿喘急，而小便赤而不通，豈非熱極者也，豈反能為寒耶！《素問》云：諸痛癢瘡瘍，皆屬於火。</p>
