<header data-type="book">
<h1>醫宗金鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙等</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>古版</dt><dd><data value="false">非古版</data></dd></div>
<div><dt>直書</dt><dd><data value="false">非直書</data></dd></div>
</dl>
</header>
