<header data-type="book">
<h1>何氏虛勞心傳</h1>
</header>
<h2>虛勞總論</h2>
<p>虛勞之症，無外邪相干，皆由內傷臟腑所致。如酒傷肺，濕熱熏蒸，則肺陰消爍；色傷腎，伐真陰；怒氣傷肝，鬱怒則肝火內熾而灼血，大怒則肝火上衝而吐血。此五者，皆能勞其精血。《道經》云：涕、唾、精、津、汗、血、液，七般靈物總屬陰。陰虛則內熱生而成虛勞之症。大約酒色成勞者多，然有童子亦患此者，則由於先天稟受之不足，而稟於母氣者尤多。其師尼、寡婦、室女，思欲不遂，氣血鬱結，以致寒熱如瘧，朝涼暮熱，飲食不思，經期不準，或閉絕不行，成此病者甚多，多由鬱火所蒸而致。方書之言虛勞，皆言氣虛、血虛、陽虛、陰虛，混同立治。是以學人，漫無指歸。不知氣虛者，面目無神，語言輕微，四肢無力，脈來微弱；陽虛者，體冷畏寒，手足逆冷，溺清溏泄，脈沉小遲，可投溫補。故謂虛勞之，可服參、　受補者，為可治，氣虛陽虛之症也；虛勞之不能服參　不受補者，為不可治，血虛、陰虛之症也。雖血脫有補氣之法，此指卒暴失血，素非血虛之人。如新產症之類，皆非所論於血因火燥致虛之症。夫火之所以燥者，水虛無以制之也，故經曰：一水不能勝五火。五火者，五志之火也；一水者，腎中真陰之水，即精也。人生全盛之數，前後止二十余年耳！故丹溪引日月之盈虧，以為陽常有餘，陰常不足。王節齋亦以為陰虛成病，十之八九，陽虛成病，百無一二。蓋以節欲少，縱欲者多耳！夫人但知縱欲勞精，孰知陰精日損，飲食無味，轉勞轉虛，脈從內變，色不外華，其為病也。在腎則為腰脊腿脛酸軟，或攸隱而痛，為骨蒸內熱盜汗，或至夜發熱，為遍身骨疼，或疼痛如折，為夢遺滑泄，為耳中鳴，足心熱。在心則為驚悸怔忡，為掌中干熱，為虛煩無寐，為魘夢不寧，為口苦舌乾，為口舌糜爛。在肺則為咳嗽多痰，或乾咳少痰，為胸滿氣逆，或喘或促，為兩顴紅若脂，為鼻中氣如火，為咳血衄血，甚則吐白沫，一邊不能睡，咽痛喉爛，聲嘶音啞。在肝則為寒熱如瘧，為頸項瘰　，為脅肋作脹作疼，為兩目或澀或痛，為頭暈眼花，為多怒，為吐血。在脾則為飲食少思，惡心嘔吐，為脹滿腹痛，食不消化，為腸鳴泄瀉，肌肉消瘦。皆五臟虛勞之本症。經云：治病求其本。須審其因何致損？何臟受傷？如因於色者，則知其傷在腎，縱有他經現症，亦當以補腎為主，而兼治他經之症。其因於酒者，又當以清肺為先。標本既審，而病之傳變，尤宜熟察。如腎傳心，心傳肺，五臟相傳，必侮而乘之，謂之賊克，大凶之兆。經云：諸病以次傳者死。謂五臟克遍也。《難經》云：七傳者死。諸病始於腎，而脾又傳腎，謂六經已盡，一臟不可再傷也。如腎病不傳心而傳肺，此間一臟，以子病及母也。如不傳心肺而傳肝，此間二臟，以母病及子也。如不傳心肺肝而傳脾，此間三臟而傳於己之所不勝，所謂輕而侮之也。傳乘不明，豈能治病！世醫不知陰虛者，多將氣血陰陽模糊調治，豈不誤哉？試言之，其誤有七：一、引火歸元之誤。命門之龍火，謂之真陽。如果衰弱，腎中陰盛，龍火不能安其位，浮越於上，而為上焦假熱，面赤、煩躁、口渴，甚則舌苔。但口雖渴而不欲飲水，苔雖有而舌必滑軟，小便清長，足冷過膝，其右尺必沉小而遲，或浮大無根，此陰盛於下，逼陽於上之假症。如夏至一陰生，水底冷而天上熱也。正宜八味之屬，引之歸元。如冬至一陽生，而地中水暖，龍歸大海也。至若虛勞症，是因腎水真陰虛熱，水不攝火，火因上炎，而致面赤唇紅，口鼻出血，齒痛、齒浮、齒衄，種種上焦虛熱之症，雖亦龍火上炎，與浮陽上泛不同，縱有下部惡寒足冷，此因虛火上升所致，非真陽衰而然，故小便必黃赤，脈必帶數，有內熱的症之可據。誤用桂附引火歸元之法，是抱薪救火，上焦愈熱，而咳嗽燥渴，咽痛喉爛諸症至矣。二、理中溫補之誤。如果虛寒腹痛綿綿，痛無增減，喜熱手按，熱飲食，虛寒泄瀉，水穀不化，而澄澈清冷，必有虛寒之脈症可憑，然後用之有效。今人一見脹滿腹痛，食不消化，腸鳴泄瀉等症，便認為虛寒，而投以白朮之香燥，又濟以乾薑之辛熱。不知虛勞之症，患在傷陰，再補其陽，則陽益亢而陰益竭，是促之也。更有見其脹滿泄瀉，遂引經文。清氣在下則生飧泄，濁氣在上則生　脹。而用補中益氣，以升清降濁。誤施升柴，反促陰火上逆，以致咳嗽增，吐衄至，而危亡見矣。三、參、　助火之誤。夫肺脈按之虛而不數，肺中不熱，參　可受，故有土旺生金，弗拘保肺之說。而今火已爍金而咳矣，火蒸津液而化為濃痰矣！君相亢甚，而血隨上逆矣，猶引無陽則陰無以生，虛火可補參、　之屬，富貴之家，大劑投之，因之陽火愈亢而金益傷矣。四、苦寒瀉火之誤。實火為病，可以苦寒直折之，然須熱去即止，不可過用。虛火陰虧，豈知、柏苦寒之劑所可清？非惟不能清火熱，抑且有損真陰，徒敗胃氣，食少泄多，將何療治？甚者見其大便燥結，則用硝、黃以通之，不知腎主二便，更主精液，腎之精液即竭，自然不能濡潤。滋其陰，潤其燥，而便自通。彼既虛之陰，豈能勝硝、黃之攻擊乎？故士材之論，人徒從其溫補，豈知其深戒苦寒之不可妄用也。五、二陳消痰之誤。脾痰為濕痰，滑而易出，或稀如飲水，濕者燥之，半夏為正治之藥。若陰水不足，陰火上升，肺受火侮，不得清肅下行，由是津液凝濁，不生血而生痰，此當以潤劑滋其陰，使上逆之火，得返其宅，而痰自清矣。二陳豈可輕用哉！六、辛劑發散之誤。</p>
<p>世之真陰虛而發熱者，十之六七，亦與外感無異。火逆衝上，則頭脹微痛；火升壅肺，則有鼻塞；陰虛陽陷入裡，則洒淅惡寒；陰虛陽無所附，則浮越肌表發熱。但其發時，必在午後，先洒淅惡寒，少頃發熱，熱至雞鳴，寅卯時盜汗出而身涼，或不微寒，而但午後發熱，必現前列腎虛諸症，或兼唇紅顴赤，口渴煩躁，六脈弦數，或虛數無力，此宜大劑補陰，如保陰六味之屬。若認為外感，而用風藥以表散之，則魄汗淋漓，諸虛蜂起。或有失血之人，表之無汗，所謂奪血者，無汗也，若強發之，血必從口鼻中出，為下厥上竭之症，難治矣。今人一見發熱，便用表散，更以為邪尚未清，禁其飲食，以致胃氣餒敗，至於不起，能不為之寒心哉！七、治療過時之誤。上古治未病，如勞神者常養其心，勞倦者常補其脾，多怒者常滋其肝血，多飲者常清其肺熱，好色者峻補其腎水，及病之方萌，即為補救。今人以內熱之症而忽之，虛症漸見，猶不求治，自恃飲食如常，毫不加意，迨至病日深而後求治，亦已晚矣。蓋治之甚難，有三大要焉：一曰補腎水。夫腎主水，受五臟六腑之精而藏之。故五液皆歸於精，而五精皆統於腎。腎有精室，是即命門，精藏於此，氣化於此。精即陰中之水也，氣即陰中之水火也，故命門之水火，為十二臟之化源。然火不患其衰，水則患其少。王節齋云：少年腎水正旺，似不必補，然施泄太過，豈能充滿？中年欲心雖減，然少年斫喪太多，豈能復實？及至老年，天真漸絕，只有孤陽。凡人自少至老，所生疾病，大半由於真陰不足。即童子稟賦弱者，幼即填補，亦有可復之天。所以補陰之藥，人生一日不可缺，況虛勞之因入房太甚而得者乎！故保陰、六味、左歸之屬，皆甘寒滋水添精之品，補陰以配陽，正所謂壯水之主，以制陽光也。滋其陰則火自降，譬之殘燈火焰，添油則焰光自小也。</p>
<p>然須制大劑長久服之，蓋益陰之藥，必無旦夕之效，以陰無速補之法也。若因於酒者，清金潤榮為主，而保陰之屬，仍不可廢。何則？好飲之人，仍有不患虛勞者，以腎水不虛也。虛則心寡於畏，而復灼久傷之，肺焉得不病？補北方所以瀉南方也。因於思慮者，清心養血為主，而保陰之屬，仍不可廢，所謂水壯而火熄，弗急急於瀉心是也。因於勞倦者，培補脾陰為主，而佐以保陰之劑。經云：於腎也。若忿怒傷肝動血，保陰六味為正治之品，蓋水旺則龍火不炎，而雷火亦不炎，乃腎肝同治之法也。二曰培脾土。脾胃為後天之本。經云：安穀則昌。蓋飲食多，自能化精生血。雖有邪熱，藥得治之，久則火自降而陰自復。若脾胃一損，則血不生，而陰不足以配陽。</p>
<p>故越人歸重脾胃，而言一損損於肺，皮聚毛落；二損損於心，血脈不能榮養臟腑；三損損於脾，飲食不為肌膚；四損損於肝，筋緩不能自收持；五損損於腎，骨痿不能起於床。從上而下者，過於胃則不治，至骨痿不能起於床者死；從下而上者，過於脾則不治，至皮聚毛落者死。所以仲景治虛勞，惟用甘藥建立中氣，以生血化精，為復虛勞之良法。又精不足者，補之以味。味，旨味，非獨藥也，五穀之味，皆味也。補以味而節其勞，則漸有餘矣。經云：陰陽形氣俱不足者，調以甘藥。蓋脾胃之強弱，動關五臟，況土強則金旺，金旺則水充。又男為主。三曰慎調攝。虛勞之因於酒色者固多，其因於憂思鬱怒者亦不少。如僧尼寡婦，童男室女，及不得意之人，必須消遣情懷，善於自解，非全仗草木之力也。今人患此者，徒恃藥力，不知屏欲，間者有知戒酒色而不知節勞逸，能節勞逸，而於七情多所難釋。不知心有妄動，氣隨心散，氣散不聚，精隨氣亡。故廣成子曰：必靜必清，毋勞爾形，無搖爾精，乃可長生。斯言可謂虛勞調攝之良法也。今觀世人之患之者多，而保之者少，以病者治之不早，醫者治之不善也。故特發明陰虛成病之因，次及方書之混列，更推其真陰易虛之故，以及標本傳乘並治之誤，而終之以治要。其指歸如是，非敢矯當世之偏，實本諸先哲及先世之發明，余生平之經驗合之，以為心傳云爾！</p>
<h2>脈法</h2>
<p>勞極諸虛，浮軟微弱（虛症宜見虛脈為順）。土敗雙弦，（兩手俱弦，木克土敗。若左手脈細若六至以上必死。）骨蒸發熱，脈數為虛，（虛數二脈，是其本象。）熱而澀小，必殞其軀，（發熱脈靜，不可救藥。）氣結或代，亦死何疑！失血諸症，脈必見芤，緩小可喜，（身涼脈靜易治。）數大堪憂，（身熱脈大者，為難治。）</p>
<h2>死候</h2>
<p>虛勞不能服參、　，不受補者死。勞嗽聲啞者死。一邊不能睡者死。（皆肺敗之征。）</p>
<p>久瀉及、白涎、白液、涎沫雖白，實血所化。一謂白血淺紅色，而似肉，似肺者。）勞嗽久而咽痛無聲，此為下傳上；不嗽不疼，久而溺濁脫精，此為上傳下，皆死。吐血若咳逆上氣，脈數有熱，不得臥者死。</p>
<p>虛勞所宜飲食藥物。及養生之法。</p>
<p>白花百合湯、麥冬湯，取其清肺止嗽。真玉露霜，取其消痰解熱，人乳為補陰神品。</p>
<p>童便乃精泄瀉最宜求。扁豆棗湯，專補脾胃。圓眼肉湯，兼養心脾。豬脊髓、鰉魚膠，填精益髓。</p>
<p>（同雞鴨諸物中煮爛尤佳，燕窩亦好。）鳳頭白鴨烏骨白雞，補陰除蒸。豬肺煎白芨末，保肺止血。丸如回生六味、左歸、乳金、四聖、固本之屬。膏如清金、清寧、白鳳、坤髓、集靈、衛生、瓊玉之屬。或間用湯液以治之。如內熱甚，或發寒熱，則用保陰六味，婦女或間用逍遙散。咳甚用清金，或間用噙化。吐血用仲淳驗方。心跳善驚，虛煩無寐，則用天王補心丹，或脾胃虛弱，兼用歸脾。食少便瀉，量用資生。果系干血勞症，審之的確，可用大黃蟲之屬。傳尸勞，獺肝無疑也。</p>
<p>虛勞所忌飲食諸物，及卻病之方。</p>
<p>煙為辛熱之魁，酒為濕熱之最。凡薑、椒、芥、蒜，及一切辛熱之品，熱能傷陰，斷不可用：腎主閉藏，肝主疏泄。二臟皆有相火，而其系上屬於心，故欲心一動，相火翕起，雖不交會，精已暗耗，況近色乎？又曰：怒則氣逆，甚則嘔血及飧泄。又曰：憂愁則氣閉不行。又曰：思則氣結。又曰：煩勞太過，則氣張於外，精絕於內，陽擾陰虧之故也。切忌火灸。仲景曰：微數之脈，慎不可灸。火氣雖微，內攻有力，焦骨傷筋，血難復也。</p>
<h2>選方</h2>
<h3>保陰煎</h3>
<p>治真陰虛，相火熾而發熱，其熱在午後子前。（屬陰分，）或皮寒骨蒸。（骨髓空虛，火焰骨唇紅顴赤，口苦舌乾，（皆內熱之征也。）耳鳴目眩，腰膝酸軟，四肢無力，倦怠嗜臥，（皆精血虛損內傷之故。）大便燥結小便黃赤。（內熱。）六脈弦數，或虛或無力。（皆虛損的症，不必吐血咳嗽也。故有吐血咳嗽症，而無上文之內熱虛症，脈數仍非虛勞，不可不辨。）若病久飲食少思，大便溏泄，（脾胃傷之故也。）午後洒淅惡寒，少傾發熱，或至雞鳴，寅卯時分盜汗出而解，並以此方，或六味、左歸加減治之。</p>
<p>熟地（三錢至一二兩）　生地（二三四錢，二地補腎陰，培其根本）　麥冬（三四五錢，清肺降山藥（蒸用，三四五錢，同茯苓以補脾）　玉竹（五六錢，治虛損寒熱，一切不足，用代參、）　鱉甲（退勞熱在骨及陰虛寒熱往來之上品）　龜甲（補腎陰，退骨蒸。二甲酥炙，各三錢至一兩），加桂圓肉（十枚至三十枚），入人乳牛乳（各一杯），骨蒸內熱，有汗加骨皮（二錢），無汗加丹皮（一錢五分），腰痛加枸杞（三錢至八錢）、杜仲（二錢）、余用豬腰子（一枚）、豬脊髓（五錢至八錢），五味（一分至一錢），怔忡不寐，加棗仁倍桂圓肉。咳嗽加桑白皮（蜜炙，血加藕汁一杯，或童便一杯。食少加苡仁（炒，五錢至一兩）。泄瀉去生地天冬乳汁，加白芍（炒，三四錢）、大棗蓮肉（二三十粒）、萸肉或用石斛煎湯煎藥。肺經無熱，肺脈按之無力者，量加人參。</p>
<p>古方有人參固本丸，人參（二兩）、二地二冬（各四兩）是也。固本丸、加牛膝枸杞七味均分，即集靈膏也。</p>
<p>此方君以甘寒滋陰添精之品，所謂損其腎者，益其精也。臣以二冬，保金而滋其生化之源，恐太沉陰濡潤，而又佐以甘平補脾之劑，顧其中氣，備加減之法，以善其用。</p>
<h3>六味地黃丸</h3>
<p>治陰虛腎水不足，發熱作渴。（陰虛則發熱，津液少則作渴。）氣壅痰嗽，（腎虛不能納氣歸龍火炎，則雷火亦發。肝血虛而為眩為花，陰虛痰火上升，故耳聾。）咽燥舌痛，齒牙不固，（喉嚨、舌本，皆腎脈之所過，腎主骨，齒乃骨之余，腎之標也。精髓枯而齦骨失潤，則齒動搖，譬之幾敗木枯則榫寬，濕則緊。）腰脊腿脛酸疼。（腰為腎之府，腎脈循內踝上　內，至股內後廉貫脊精水竭，故酸軟疼痛也。）齒衄便紅吐血，（凡見血為熱症，由君火相火亢甚，於是煎迫而越出於諸竅之中也。）盜汗失音，（寤屬陽，寐屬陰，陰虛則汗從寐中盜出，閉臟失職也。腎虛脈不上循喉嚨挾舌本，故失音。）水泛為痰，（陰虛火動，則水沸泛上而為痰。）小便淋閉，（淋者，淋澀而痛；閉者，不通也。腎司開合，虛則失職。《金匱》云：熱在下焦者，則尿血亦令淋閉。）夢遺精滑，（陰虛而君相妄動也。）足心干熱，腳跟作痛，（腎脈走足心，入跟內故也。）經水不調，血枯閉絕。（衝任二脈損傷之故也。）</p>
<p>熟地（補髓填精，用八兩）　萸肉（補腎氣，固元精，四兩）　山藥（入手太陰能潤皮膚，清虛降陽中之陽，三兩）　澤瀉（咸滲以降陰中之陰，三兩）　加麥冬、（滋燥金而清水源，六兩，）五味子（上能收耗散之肺氣，下能滋不足之腎水也，三兩，）名八仙長壽丸。再加人參，是合生脈也。煉蜜丸如梧桐子大，空心淡鹽湯下四五錢，若煎服則制小其劑。發熱作渴，加鱉甲、二冬、花粉。氣壅加沉香、砂仁、麥冬。痰嗽加貝母、花粉、百合、麥冬。眩暈加甘菊、鉤藤、枸杞。耳鳴耳聾，加磁石、羊腎、花粉。咽燥舌痛，加二冬、元參。齒牙不固，加麋茸，豬、牛脊髓，麥冬、五味。腰痛加枸杞、杜仲。麋角，湯內鎊，酒焙亦可。龜甲，湯內炙用，丸中煎膏。腿脛酸疼亦如之，再加牛膝虎脛。齒縫牙齦出血，加麥冬、童便、骨碎補，麥冬煎湯頻頻漱之。便血，加麥冬、龜甲，五味、白芍，不止宜補胃氣，更宜加人參。</p>
<p>溺血若痛者為血淋，加牛膝。如陰莖時舉，溺管脹痛者，再加黃柏知母，不痛者為尿血，加麥冬、白芍、牛膝、降香，入童便、藕汁、人參、茅根汁（各一杯）和服。盜汗加棗仁、五味、白芍、圓肉。失音加麥冬、生雞子、人乳、竹瀝、梨汁。水泛為痰，倍茯苓。小便淋閉，俱加二冬、牛膝（此味為君）、車前。莖中痛加甘草梢。夢遺精滑，加蓮須、五味、龍齒、牡蠣、鰾膠。相火盛，陽易舉者，加鹽炒黃柏。足心干熱，加二冬、牛膝、龜甲。足跟作痛，加牛膝、鹿角、龜甲、虎脛骨。經水不調，血枯閉絕，參後歸脾東加減法。以上加減諸法，保陰左歸仿此，此純陰重味潤下之方也。純陰，腎之氣；重味，腎之質；潤下，腎之性。宋錢仲陽用此方治小兒齒遲語遲，腳軟行遲，囟門不合，陰虛發熱諸症，以皆屬腎虛，緣小兒稚陽純氣，故以仲景八味丸去桂附，而但補其真陰，隨手輒效。明‧薛立齋因之悟大方陰虛，用丹溪補陰法不效，以此代之立效。薛氏加減之法甚多，即如本方去澤瀉加黃　，以合養血之奇。蓋為發熱作渴，小便不調，理無再竭，故去澤瀉。又入生脈散，以生金滋水，虛則補母之義，復合異功散以崇土生金，兼母之外家而補之，更其名曰人參補氣湯。加減變合無窮，真如游龍戲海之妙，舉一為例，學人當善悟其法，而以意通之，則不可勝用矣。趙養葵</p>
<p>《醫貫》一書，得力於《薛氏醫案》，而益闡其義，觸處旁通，外邪雜病，無不貫攝，而六味之用益廣。試舉其陰虛諸症所用，如云：世之真陰虛而發熱者，十常六七，亦與外感無異，余於陰虛發熱者，見其火熱面赤，口渴煩躁，與大劑六味湯服之而愈。又云：陰虛火動，則水沸泛上為痰，其痰重濁白沫，與火衰水泛為痰，純是清水者不同。動於腎者，猶龍火之出於海，龍興而水附；動於肝者，猶雷火之發於地，雷出而雨隨。用六味湯以滋陰降火，此不治痰之標，而治痰之本，既治其本，復宜補脾以制水，方為良法。又云：咳嗽必責之肺，以治之之法，不在於肺而在於脾，而又歸六味湯主之。毋徒從事於肺，以肺司出氣，為氣之主，腎司納氣，為氣之本。又腎為肺之子，虛則補其子也。大凡陰虛咳嗽，起於房勞，火上刑金，咳則肺金必傷。余先以六味之類壯其水，使水升而火降，然後以參　救被傷之肺，兼有虛則補母之義，一舉兩得之法也。若不先壯水以鎮火，而遽投參　以補陽，反使陽火愈旺，而金益受傷，豈藥之罪哉？此所謂不識先後著者也。如火不降，則參　始終難用，治陰虛之所以難也。又云：腎水虛則有火，有火則有痰，有痰則咳嗽，咳嗽甚則喘，宜六味丸加麥冬、五味、牛膝之屬，大劑重飲。蓋陰症發喘，去死不遠，幸幾希一線牽帶，在命門之根，尚爾留連。善治者，惟以助元元，接直下鎮墜之藥，俾其返本歸元，或可回生，然亦不可太峻也。又云：陰虛喉痛，屬少陰之病。</p>
<p>少陰之火，烈如奔馬，逆沖而上，到咽喉緊要之所，緊鎖氣鬱，結而不得舒，或痛或腫，其症必內熱，口乾面赤，痰涎涌上，其尺脈必數而無力，須六味加麥冬五味，大劑飲之。褚氏所謂上病療下也。又云：陰虛失血一症，分言之，則有嘔血吐血，或出於胃經，或出肝經；咯血，出於腎經，或出於心包；咳血，出於肝經；唾血，出於腎經，或出胃經；衄血，出於肺經，或出胃經；痰涎血者，出於脾經。合而言之，皆屬於腎。蓋腎中之真水干，則真火炎，血亦隨火沸騰，故錯經而妄行，越出諸竅。褚氏所謂服寒涼百不一生，飲溲溺百不一死。</p>
<p>愚謂六味湯獨補腎水，性不寒涼，不損脾胃，久服則水升火降而愈，又須人參補脾補胃藥以收功。蓋初時忌用人參者，不欲其補助陽氣也，及火既歸原，人參又所不禁，然亦宜同滋陰藥中用之則善。又云：陰虛小便不通，因汗多，五內枯燥，膀胱原無水積，強欲通之，如向乞人而求食，其可得乎？惟六味滋水，小水自來，切忌淡味滲泄之藥。又云：陰虛之人，大便閉結者，是因腎之津液虧少，惟以六味加二冬人乳牛乳，滋陰潤燥，而便自如常。又云：腎為陰主藏精，陰虛則精不藏；肝為陽主疏泄，陽強則火不秘。以不秘之火，加臨不藏之精，故夢交即泄。惟用六味補水，總有相火，水能滋木，水升而木火自息。沈氏謂因君心一動，相火隨之，則成夢境，而氣搖精泄，治法總不越補腎水，斂元精，安心神為主。余因世人喜用六味之方，而未能盡明用方之旨，故詳及之。</p>
<h3>左歸丸</h3>
<p>治症同。</p>
<p>熟地（八兩）　萸肉（蒸，四兩）　枸杞（三兩）　菟絲子（酒煮，焙乾，三兩）　牛膝（酒蒸，三之。麋角補陰，左腎血液不足者宜之。節齋云：左尺常虛，右尺常旺。若左右兼補，依舊火勝於水，只補其左制其右，庶得水火相平。余治真陰不足之症，每以麋角代之，若平人調理用之，俱酒化）</p>
<p>上用膠丸如桐子大，空心服。煎膏服亦可。如真陰失守，虛火上炎者，宜用純陰至靜之劑骨蒸，加骨皮（三兩）。小水不利，加白茯苓（三兩）。大便燥澀，去菟絲子，加肉蓯蓉（四兩）</p>
<p>。血虛有滯者，加當歸（四兩）。凡五液皆生於腎，故凡屬陰分之藥，亦無不走於腎。有謂必須引導者，皆所見之明耳。此方壯水之主，以培左腎之元陰。凡精氣大損，年力俱衰，真陰內乏，不能滋溉營衛，漸至衰羸，即從純補，猶嫌不足，若加苓、澤滲利，未免減去補力，奏功為難，故群隊補陰藥中，更加龜鹿二膠，取其為血氣之屬，補之效捷耳。景岳云：余及中年，方悟補陰之理，因推展其義。而制左歸大飲，但用六味之意，而不用六味之方，活人應手之效，不能盡述。</p>
<h3>左歸飲</h3>
<p>治症同熟地（二三錢至一二兩）　萸肉（一二錢，畏酸少用之）　枸杞（二錢，相火盛者，去之）</p>
<p>山藥冬（二錢）。肺熱多嗽，加百合（二錢）。血少者，加當歸（二錢）。血滯而熱者，加丹參（二錢）。陰虛不寧者，加女貞子（二錢）。血熱妄動者，加生地（二錢）。脾熱易飢及多汗傷陰者，加白芍（二錢）。心熱多燥者，加元參（三錢）。腎熱骨蒸者，加骨皮（二錢）。津枯熱渴者，加花粉（二錢）。上實下虛者，加牛膝（二錢）。以導之。本方加人參、當歸，即補元煎。</p>
<h3>回生丸</h3>
<p>（自製）　治虛勞等症。功在六味左歸之上，不可忽者也。</p>
<p>熟地（八兩）　萸肉（四兩）　枸杞（四兩）　菟絲子（四兩）　牛膝（補腎，酒蒸，四兩）</p>
<p>山藥（芡實（略炒，四兩）　砂仁（略炒，四兩）　麥冬（去心，八兩）　棗仁（略炒，六兩）　北五味（斂肺，蜜水拌蒸，焙乾，四兩）　圓眼肉（養心，炙干，六兩，煎膏倍用）　蓮須（澀精，固腸，四兩）　麋角膠（補真陰，四兩）　龜膠（八兩）　龜甲膠（退骨蒸，四兩，俱用地黃汁溶化，用甲酥炙，六兩）　虎骨膠（壯筋骨，四兩，煎濃，麥冬湯溶化亦可）　鰾膠（牡蠣粉炒，八兩）　黃牛肉（補脾胃，去油膜，十斤，熬膏）　豬脊髓（填精髓，三十條，去筋膜，搗爛蜜熬）　紫河車膏（峻補氣血，吳球制大造丸用此，以其有奪造化之權，極夸其功效也。八兩，制法：泔水洗淨，隔湯煮熟，搗爛，干藥拌勻，晒乾）</p>
<p>共二十四味，諸膏髓，丸如桐子大，空心圓眼湯下，或淡鹽湯下，每服三四五錢。脾胃弱而亦可也。若兼咳嗽者，不時兼服噙化丸，或清寧膏。有血兼飲自便。（用麥冬、米仁煎湯，多飲小便自清白。）此方補腎理脾保肺，兼而有之，補腎用熟地、萸肉、枸杞、菟絲子、牛膝，有理肺藥以佐之，則不嫌其滋潤。理脾用山藥、茯苓、白芍、蓮肉、芡實、砂仁者，以其無香燥傷陰之患，兼能入腎經也。砂仁似燥，然辛能潤腎，且腎虛不能納氣歸原，非此向導不濟，更得滋陰藥以君之，用之無虞矣。麥冬清肺，五味斂肺，皆所以保肺也。保肺金正以生腎水，理脾土亦為生金以生水也。棗仁、圓肉養心，一恐水虛而火旺耗血，一恐心虛而下不交腎。蓮須澀精固腸，糜角補真陰，龜鱉二甲退骨蒸，豬脊鰾膠填精髓，牛補脾胃，虎壯筋骨，河車峻補精血，是以血肉之物，補血肉之軀也，功效甚速也。嘉言云：虛勞之疾，百脈空虛，非黏膩之物，不能填實；精血枯涸，非滋陰之物，不能濡潤。是以治虛勞，縱遇能消丸藥之人，亦必兼膏服之，若脾弱者，尤為定法。內熱甚重，加除蒸之品一二味，此方凡男婦陰虛欲成虛勞者，急宜服之。</p>
<h3>清金散</h3>
<p>（自製）　治陰虛咳嗽，或多痰，或乾咳，或痰血紅，或純血。</p>
<p>麥冬（三四錢）　天冬（潤肺，二錢）　白花百合（保肺，一兩，有血倍用）　桑皮（瀉火，蜜炙）茯苓（補脾，二錢）　貝母（二錢，痰多痰紅倍用）　枇杷葉（降火，蜜炙，三大片，咳甚加）　米仁（補肺熱，燥脾濕，五錢，食少有血倍用）</p>
<p>入人乳、牛乳（各一杯妙），煎成，加煉蜜或飴糖數匙，薄荷、貝母研細亦和勻其內，頻頻此潤燥清金降氣消痰之劑。凡陰虛咳嗽，酒客病最宜服之。若熱甚痰多，大便燥結者，加梨以人補人，其妙無加。</p>
<h3>加味清寧膏</h3>
<p>治症同。</p>
<p>生地（補陰，四兩，酒拌略蒸）　麥冬（四兩）　白花百合（八兩，晒乾、四兩）　桑白皮（蜜炙消痰，三兩）　山藥（蒸熟，六兩，以上三味研細入膏）　桔梗（一兩）　枇杷葉（蜜炙，八兩）</p>
<p>橘紅（一兩）　米仁（炒，八兩，泄瀉加四兩）　茯苓（二兩）　白芍（酒炒，三兩）　炙甘草（一兩）　圓眼肉（四兩）　大棗（補脾，六兩）</p>
<p>十六味煎成膏，加飴糖白蜜（各一斤），俱煎極熟收之，俟冷入薄荷、貝母、山藥末拌勻，時回生之屬。</p>
<p>此方補陰清肺，益脾降氣，消痰之劑。士材云：虛勞之所難者。如脾喜溫燥，清肺則礙脾；少泄多，雖喘嗽不寧，但以補脾為要，清潤之品，所宜斟酌。以脾有生肺之能，肺無扶脾之力，故制清寧膏一方而兼補脾陰之藥。注云：潤肺不礙脾，補脾不礙肺，以肺屬金而法天，脾屬土而法地。曰清寧者，脾肺兼理，取天清地寧之義也。愚以此方另添數味，投之輒效。</p>
<p>用方者，弗以品多而去之可也。按經言腎病而謂諸陽氣浮，無所依從，故嘔逆上氣喘。蓋陽根於陰，腎陰虛則陽無依，而上升為嘔噯喘逆諸症。沈氏謂虛勞咳嗽，皆由陰虛陽盛，氣為陽，氣有餘便是火。火性上炎，勢必刑金。肝木挾心相二火上逆，反侮肺金，故咳嗽無度，至於黃昏肺氣不能歸納腎間，夜咳愈甚，但肺為嬌臟，咳傷肺膜，則痰中見血，火蒸精液，化為痰涎，痰火交結，咳逆無休，肺陰日衰，以致音啞聲嘶，則不治矣。故初病之時，急宜降氣消痰，調養脾胃，以生營衛，清潤肺金，以生腎水，俾心火有制，不刑於肺，金水相生，陰火退伏，而咳自寧矣。古方治乾咳嗽有瓊玉膏，用生地（四兩）、茯苓（十二兩）、人參（六兩）、白蜜（二斤），　仙加琥珀、沉香（各五錢），同參茯為末，隔湯再煮，自云神效異常。此雖以滋陰藥為君，然人參乃肺熱所忌，宜酌用之。</p>
<h3>噙化丸</h3>
<p>治陰虛久嗽。噙化三冬橘貝杷，柿霜甘桔味天花，桑皮部菀元參薄，煉蜜丸如彈子夸麥冬（去心，三兩）　天冬（火灼肺燥，則喉中淫癢為咳嗽，故以二冬滋陰潤燥，清金降火。</p>
<p>開豁，卻不助火，三兩）　貝母（去心，二兩）　百部（潤燥清熱，兼能殺蟲，去心，三兩）</p>
<p>薄荷葉（辛能散熱，涼能清利，三兩）　柿霜（一兩）　花粉（治嗽以理痰為要，故以貝母、柿霜潤肺中燥痰，花粉治膈上之熱痰。二兩）　橘紅（一兩）　枇杷葉（蜜炙，二兩）　紫菀茸（治痰以理氣為先，二味皆下氣，氣降則火清，痰順而嗽自止。一兩）　元參（治胸中氤氳之氣，無根之火，一兩）　五味（咳久必耗氣，用五味酸收之品，蜜炙，一兩）　桔梗（一兩）　甘草（咳屬上焦，故用甘，桔為舟楫之濟。炙，一兩）</p>
<p>共十六味，蜜丸如彈子大，不時噙化，臨臥更佳，亦可作膏服。</p>
<p>此潤燥清金，降氣消痰而兼收斂之劑。仲淳所制，用治陰虛咳嗽不止者立應。愚謂世人患陰虛者多，如傷風咳嗽外邪已解，久而不愈，服之甚效。</p>
<h3>天王補心丹</h3>
<p>治憂愁思慮傷心，（心為君主，心傷則神去，頃刻云亡。凡云心病皆包絡受病，）心血不足，，故血虛則心生火，火則生痰，痰動心包，故驚跳及夢寐不寧。怔忡者，心中惕惕，恍惚不安，如人將捕之狀也。）虛煩無寐，（腎水不上交，心火無所制，亦心血少之故，仲淳云：不寐，清心火為主。）大便不利，（心主血，心傷則血燥，而便難。）小便短赤，（心與小腸為表裡，藏移熱於府。）咽乾口渴，（津液被灼，）口舌生瘡等症。（心火上炎。）</p>
<p>人參（補心氣，五錢，虛者量加也）　當歸（養心血，一兩）　棗仁（炒，四兩）　五味（收心液麥冬（益心津，二兩）　天冬（二兩）　元參（壯腎水，一兩）　桔梗（引諸藥停留上焦，不使速下也。五錢）　十三味，蜜丸如彈子大，加朱砂（護心，一兩五錢），研細為衣。一方用黃連，心火甚者加之亦可。食遠臨臥時，竹葉燈心湯或桂圓湯化服，噙化更佳。</p>
<p>此生津養血，清熱安神，鎮心之劑。勞心之人所宜服之。昔志公禪師日夕誦經，鄧天王憫其、辰砂、益元散；豁痰則有竹瀝、貝母、天竺黃、膽星、牛黃；鎮驚則有金箔、代赭石。皆可隨症選用。愚按：經文心為五臟六腑之大主，而總統魂魄，兼該志意。故憂動於心則肺應，思動於心則脾應，怒動於心則肝應，恐動於心則腎應。凡喜、怒、憂、恐、悲、思、驚、七情，雖分屬五臟，然無不從心而發。經云：心主一身之脈。又云：心生血，是心者，血之原。故心不妄役，則其血日生，惟勞心過度，心血日耗，由是臟腑無所潤，筋脈無所養，營氣衰少，邪熱隨作，所謂陰虛生內熱者是也。若腎水不虛，猶能上交，心火不至灼肺為害，虛則心火無制，亢甚刑金為咳而喘，肺陰消灼，身體羸瘦，而危亡可立待矣。此症不得志者多有之，故治斯症者，必兼壯水為主，又須顧慮中氣為重。大凡虛勞之人，無論何臟受傷，非內熱骨蒸，即不謂之虛勞；非食少泄瀉，肌肉消瘦，尚不至死地。所以，孫思邈謂補脾不如補腎，許學士謂補腎不如補脾。二先生深知二臟為生人之根本，故凡病皆宜脾腎，不獨虛勞為然也。</p>
<h3>歸脾湯</h3>
<p>治思慮傷心（脾在志，為思也）。健忘怔忡，驚悸不寐，（悸者，心築築跳動也。）自汗盜汗，汗出也。）或勞倦傷脾，（應酬太煩，奔走太苦，飲食失節，皆能傷脾。）肢體酸疼，（脾主四肢肌肉，故也。然久立傷骨，久行傷筋，則肝腎亦傷，所以亦有兼筋骨腰酸也。）嗜臥少食，（脾傷則神亦倦，故嗜臥，又腎病則嗜臥，精竭者，神倦也。少食者，胃傷也。）或心脾虛痛，（所謂胃脘，當心而痛是也。）大便不調，（脾主大便，虛則或滯或閉，是其本病也。）血無主統，（心虛則不能生血，脾虛則不能統血。）錯經妄行，（或上或下皆是。）或血虛發熱晡熱，（申酉時，心脾血虛，皆發熱晡熱。）或經不準閉絕等症。（心脾受傷之故，亦有房勞傷腎，惱怒傷肝，而損衝任二脈所致。）</p>
<p>人參（虛者多用）　黃　（蜜炙）　白朮（米泔水浸半日，隔土蒸，晒乾再用白蜜調人乳浸，照五錢）　遠志（安神補心，以生神，五分，原方無）　當歸（養血益肝，以生心，五分，原方無）圓眼肉（甘先入脾，以脾喜甘也。十枚）　木香（香能快氣，以脾喜通也。三五分）　他如驚悸怔忡，加辰砂、麥冬。不寐多用棗仁、圓肉，加生地、麥冬、石斛、竹葉。如有痰者，再加竹瀝、天竺黃。自汗多用參、　。盜汗多用棗仁，加白芍、五味、生地、麥冬，而參、、木、遠四味，隨症減去。肢體酸疼，加牛膝、續斷、秦艽、二地。食少多用人參。胃脘心痛，倍木香，加砂仁、橘紅。大便泄瀉，倍白朮，加米仁、山藥、蓮肉。便血加生地、白芍、麥冬、五味。血熱甚者，加地榆。血虛發熱晡熱加地冬，而參、　、木香隨症去留。如因肝經血虛而寒熱如瘧者，則宜逍遙散加減。如腎中陰虛而發熱者，則宜保陰六味之屬。經水先期者為血熱，色紫黑者熱之甚，加二地、白芍、五味、麥冬。熱甚者，加龜甲、黃柏，而參、　、木香，隨症去留。後期者為血虛，色淡者為虛之甚，倍當歸，加地芍、枸杞、麋角、龜甲，兼服六味，左歸。經水或前或後不一，其症氣亂，患從虛治，仍照上法，再加四製香附。（為氣病之總司，女科之主帥，同艾浸，浸二宿，分作四分，一分鹽水浸炒，一分酒浸炒，一分童便浸炒，一分人乳浸炒。）經水閉絕，屬心脾虛者，倍當歸，加地、芍。若因火盛陰虛血枯者，則宜參用六味、左歸之屬，加柏仁、澤蘭、麥冬、白芍。如因氣血鬱滯或肥人痰多壅閉等症，另消息治之。崩漏加地芍、麥冬、五味、萸肉、龜甲、血余。本方加柴胡、山梔，是加味歸脾湯也。</p>
<p>此方補氣養血安神，乃心脾肝三經之藥，宋‧嚴用和所創。內經所謂二陽之病發心脾，有不及其子。勞倦本以傷脾，臟傷則病連於腑。故凡內而傷精，外而傷形，皆能病及於胃。此二陽之病，所以發心脾也。不得隱曲，陽道病也。夫胃為水穀之海，主化營衛而潤宗筋。如經云：前陰者，宗筋之所聚，太陽陽明之所合也。胃病則失生化精血之原，故為陽衰少精，其在女子則為不月。又云：其傳為風消，其傳為息賁者，死不治。胃家受病，久而傳變，則肝木勝土，風淫而肌體消削，胃病則肺失所養，故氣息奔急，氣竭於上，由精虧於下，敗及五臟，故死不治。所以病才見端，即為療治。原方無遠志、當歸，薛氏加入以治血虛，又加丹皮、山梔，以治血熱，而陽生陰長之理乃奮。隨手變化，通於各症，無不神應。趙氏謂凡治血症，須按三經用藥。心生血，脾統血，肝藏血。歸脾湯一方，從肝補心，從心補脾，率所藏所生，而從所統，所謂隔二之治，其意蓋歸血分藥一邊。後人不解，妄為加減，盡失其義，即有稍知者，亦只謂治血從脾，雜入溫中香燥劫陰之劑，而嚴薛二家之旨益晦。高鼓峰熟於趙氏之論，獨悟其微，謂木香一味，香先入脾，縱欲使血歸於脾，此噓血歸經之法，然嫌其香燥，反動肝火而干精液，故其用每去木香而加白芍，以追已散之陰。且心血衰少，火必刑金，白朮燥烈，恐增咳嗽，得芍藥則太陰為養營之用。惟脾虛泄瀉者，方留木香以醒脾，脾挾虛寒者，方加桂附以補陽。而外此者，出入心肝脾三經，甘平清潤之藥。愚謂經期不準，閉絕崩漏及便血等症，本方加減，多所相宜。若嘔吐諸血，果屬氣虛不能統攝，必面色黃白而無神，言語輕微而倦怠，脾胃虛薄而不調，六脈微弱而不數者，亦可用本方。然患氣虛失血者甚少，即思慮傷心，勞將成未成之界，未見腎陰虛諸症，而兼脾虛症候，或大便溏泄者，則宜是方。若內熱骨蒸已成虛勞，又宜壯水滋陰為要，縱食少便泄，非參、　、白朮助陽之品所宜矣。若勞役而兼勞心者，是心脾俱傷，具前列之症，未見肺腎陰虛諸病者，可用本方加減。然勞倦傷脾，乃脾之陰分受傷者多。故經云：陰虛生內熱，因有所勞倦，形氣衰少，穀氣不盛，上焦不行，上脘不通，胃氣熱，熱氣熏胸中，故內熱，是宜補脾胃之陰。此勞役太過，陽和之氣，亢極化火，火旺則陰虛內熱，但非色欲傷腎，真陰虛而生內熱之難療。又云：有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎。腎者，水藏也。今水不勝火，則骨枯而髓虛。遠行勞倦，骨必受傷，逢大熱者，或逢天令之熱，或陰不足而內熱，火旺水虧，故骨枯髓虛，而必腎虛諸症見矣。此平時色欲過度，以致不能勞役而然，急當壯水滋陰為主，亦非本方之所宜也。</p>
<h3>逍遙散</h3>
<p>治鬱怒傷肝，肝血虛少。（抑郁多怒，肝火旺而血虛。）寒熱如瘧，（必先有微寒，此陽陷入故此症最能誤也。）五心煩熱，鼻燥咽乾，（血虛則內熱矣。）頭暈眼花，兩目干澀，（肝傷血少之本病也。）脅肋作痛，（肝脈布脅肋也。）肢體盡疼，（血不能榮筋也。）嗜臥少食，（子病及母，故嗜臥，肝木乘胃，故食少。）月水不調，（血熱相搏故也。）或小腹重墜，水道澀痛，或腫痛出膿，（亦有陰中癢者，皆肝火所致，以肝脈繞陰器，抵小腹也。）或遍身瘙癢，赤白游風，或瘰　結核等症。（肝傷火旺，血燥生風，或　瘩瘙癢，或膿水淋漓，或赤或白，游行無定，瘰　結核，皮色不變，皆屬肝火，血燥而筋攣所致，瘰　則累累如貫珠，多生於前後胸脅間，結核則如榛如豆，亦有累累如貫珠者，不拘頭項肢體皆結也。）</p>
<p>柴胡（能散諸經血結氣滯）　薄荷（木不能郁，故用柴、薄之辛以散之，各五錢，此味趙氏加，如嫌辛溫，些少用之，或生地涼血補陰之品，或另代二地，丹參之屬）　乳制白朮（木盛則土衰，朮以扶之，如嫌香燥，或另代石斛、米仁、山藥之屬）　茯苓（木枯則易焚，木火通氣，心必不寧，苓以寧之，愚每兼用麥冬，以清心降火）　甘草（肝為將軍之官，火動必猛烈。</p>
<p>丹溪云：火甚不可驟用寒涼，蓋恐撲之而愈焰，以生甘草瀉而兼緩，猖狂自定。各一錢）</p>
<p>加丹皮（涼血活血），黑山梔（瀉火，各五分），名加味逍遙散。趙氏以山梔屈曲下行泄水，改用吳茱萸、薑汁炒黃連。呂晚村云：山梔亦不止治水，但不若黃連之運用，在上能達心胃之郁耳！愚謂如見吞酸症，用之如神。</p>
<p>此方辛散酸收，甘緩養血，而兼寧心扶脾之劑。乃肝經之要藥，女科之神劑也。倉公傳與褚寒乍熱，而如瘧狀，久則成勞。愚謂大凡女人多郁，鬱怒則傷肝，氣結血凝，火旺血虛而成勞。所以前論云：童子室女，不生歡笑，及寡婦僧尼，易犯此症也。立齋《女科醫按》，每用此方，屢屢見功。又云：若因鬱怒傷肝而寒熱，有怔忡不寐少食等症者，參以加味歸脾湯治之。李時珍云：寇氏乃謂柴胡本草無一字治勞，不分臟腑有熱無熱，一概擯斥，殊非通論。東垣則謂諸有熱者加之，無熱去之。愚謂勞有五勞，病有五臟。柴胡為肝、膽、心包、三焦引經之藥。故勞在肝，而寒熱如瘧者，正宜用之，若勞在肺腎者，不可用耳！沈氏云：若病起於肝，先見脅痛而後咳嗽，乃木挾心相刑金，先治其本，加清金之藥，兼治其標，原有郁甚舒肝之說也。嘉言謂虛勞畏寒發熱，禁用小柴胡湯。又謂骨蒸發熱，熱深在內裡，禁用一切輕揚之劑，恐引熱勢外出，而增其熾，灼干津液肌肉。正與上言勞在肺腎，不用柴胡之說相合。此方趙氏極稱其用之廣，而效之神。凡寒熱往來如瘧，嘔吐吞酸，嘈雜胸痛脅痛，小腹脹悶，頭暈盜汗，黃膽風溫，疝氣飧泄，一切郁症，皆對症之方，以此加減出入，無不獲效。愚按：師尼寡婦，欲念一萌，腎中相火必動，動久則水必虧，鬱怒傷肝，火旺血虛，肝木將槁，若非腎水澆灌，則干柴烈火燎原，不可止遏，雖用本方，必兼壯水為主。</p>
<h3>仲淳驗方</h3>
<p>治吐血如神。</p>
<p>生地（補腎，壯水制火，四錢）　白芍（制肝斂氣涼血，三錢）　麥冬（清心，心既清寧，妄行養脾，脾旺則能統血，五錢）　蘇子（炒研，五錢）　橘紅（二錢）　枇杷葉（降氣，氣降則血歸經，三片）　茅根（甘寒，可除內熱，性又能入血消瘀，一二兩）　牛膝（引藥下行，生用則去惡血，二錢）　鱉甲（肝經血分之藥，補陰清熱，兼能下瘀，三四五錢）　降香（降氣行瘀，一錢）　加藕汁（一杯）　童便（一杯）</p>
<p>此方滋陰涼血，清熱降氣，而兼行瘀之劑，累試輒驗，然陰無速補之法，非多服不效。病者要法：一宜行血，不宜止血。血不遁經絡者，氣逆上壅也。降氣行血，則血循經絡而自止，若止之則血凝，必發熱惡食及脅痛，病日沉痼矣。二宜補肝，不宜伐肝。經曰：五臟者，藏精氣而不瀉者也。肝為將軍之官，主藏血。吐血者，肝失其職也。養肝則氣平而血有所歸，若伐之則肝虛不能藏血，血愈不止矣。三宜降氣，不宜降火。氣即火，火即氣，故氣降即火降。血隨氣行，無溢出上竅之恐。若用苦寒降火，則反傷脾胃，脾愈不能統血矣。今之療吐血者，其患有三：芩、連、知、柏、硝、黃，此苦寒敗脾傷胃，一也；乾薑、桂附，此辛熱助陽劫陰，二也；人參、黃　，所謂肺熱還傷肺，三也。亦有用參而愈者，此是氣虛咳嗽，不由陰虛火熾所致，乃百不一二也。失血方論平正切用者，莫若仲淳。然諸家皆有治論，不可不考。劉氏云：阿膠、鬱金皆治血之神藥，患無真者，沙參雖補五臟之陰，其性平淡，未能速效，市中所市，皆近山之土桔梗，誤用之，則反提濁氣，不可不辨。至若三七、血余、山羊血、人中白之屬，皆稱藥，亦可隨宜取用。本草方云：吐衄來勢甚者，以麥冬一斤，煎濃汁入煉蜜少許，分作二服即止。士材云：凡吐血如脈洪有力，精神不倦，胸中滿痛，或吐血塊，宜生地、牛膝、赤芍、丹參、桃仁、大黃之屬，從大便導之。血以上出為逆，下出為順，非大虛泄瀉者當行之，以轉逆為順，此釜底抽薪之法。若吐血已多，困倦虛乏者，不可行也。沈氏云：若傾盆大吐不止者乃腎肝真殞傷，木火過旺，脾胃血虛不攝，必須顧慮元氣，以防氣脫，急當破格挽回，暫用獨參湯（一兩至三四兩，）入童便溫服。（趙氏用人參一二兩，為細末，入飛籮面一錢，新汲水調如稀糊，不時啜服。）蓋有形之血不能速生，無形之氣所當急固。恐陰血未盡，陽氣先脫而死，俟其大勢稍定，再用陰分之藥，則萬舉萬當。趙氏云：凡治血症，先分陰陽。陰虛者，壯水滋陰為主。間有陽虛者，其人平素氣虛挾寒，更或身受寒氣，口食冷物，脾胃愈虛，寒而不能統血，血亦錯行，所謂陽虛必走耳！其血必黑黯，其色必　白，其身必清涼，其脈必微遲，無內熱骨蒸虛勞諸症者，可用理中湯，（炮薑炒黑則止而不走，亦兼散凝血。）加木香當歸之屬，以理中能止傷胃吐血，理中焦之虛寒。</p>
<p>若腎中真陽衰弱，下焦寒冷，龍火上炎，血隨上出者，必有真寒的症，當用八味冷凍飲料，以引火歸原。既分陰陽，又須分三因。風、寒、暑、濕、燥、火為外因。余曾治一貧人，冬天居大室中，臥大熱坑而得吐血。余謂貧人冬居大室，衣蓋單薄，表感微寒，壅遏裡熱，火邪不得舒伸，故血出於口，憶仲景於太陽傷寒，當發汗而不發，因致衄血者，用麻黃湯，遂仿其法以微汗之，一服而愈。蓋汗與血一物也，奪血者無汗，奪汗者無血，自然之理也。若傷暑而衄必心煩口渴，眩暈面垢，自汗嘔惡等症，其脈必虛，宜竹葉石膏湯清解暑邪，加犀角生地，以涼血清心。蓋暑傷心，心主血故也。又經云：濕淫所勝，民病血見，燥氣流行，咳逆血溢，是宜以治濕治燥為本，而兼治其標。</p>
<p>蓋世人陰虛者多，只因內有陰虛火症，外為風寒暑濕所郁，郁則火不得泄，血隨火妄行而越出諸竅矣。喜、怒、憂、思、悲、恐、驚為內因，是故怒而動血者，火起於肝；憂而動血者，火起於肺；思而動血者，火起於脾；驚而動血者，火起於心；勞而動血者，火起於腎。能明乎火之一字，而於血之理，思過半矣。斗毆跌撲，負重閃挫，及飲酒過多，炙爆辛熱過啖者，隨宜施治。此不內外因也。凡失血之後，必發大熱，口渴心煩微汗，六脈豁大空虛，名曰血虛發熱。古方用當歸補血湯，然不若六味東加減治為善也。趙氏所論陽虛及真陽衰弱，並外感風寒濕氣諸症失血，此非恆有之症，必審察明確，方可依此施治，不宜漫為嘗試。總遇此症，當中病則止，不可過劑。按嘉言云：桂、附引火歸原之法，可暫而不可常。觀其治猝暴中寒，陽微陰盛之症，用桂、附回陽之後，即改用地、冬、梨汁、竹瀝甘寒之屬。辛熱之藥，始先不得已而暫用，陽既安堵，即宜休養其陰。則凡用辛熱辛散之劑，其不可過用也明矣。況虛勞失血，的系陰虛，當從仲淳方論為主。前云有吐血而非虛勞者，如上所言諸症是也。</p>
<h3>乳金丹</h3>
<p>治虛勞等症，久服神效。</p>
<p>香甜濃白人乳，置薄銀碗內隔湯煮熱，以竹箸劈開一頭，夾上號沉香線扎，不住手攪之，乳干為度，眾手丸如桐子大，早晚白湯下三四錢，可用參者，參湯下之彌佳。</p>
<p>此方乃營衛之形質，而無寒熱陰陽之偏，大補榮衛氣血，亦返本還原之上品也。</p>
<h3>坤髓膏</h3>
<p>補中填骨髓，潤肺澤肌膚，安臟平三焦，續絕陽，益氣力，除消渴，寧咳嗽。久服增年，虛損更宜。</p>
<p>黃牛脊髓（腿髓全用彌佳，去筋膜搗爛，八兩）　山藥（蒸，研細末，八兩）　煉白蜜（八兩）　共搗勻，入瓷器內隔湯煎，一炷香為度，空心用雞子大一塊，白湯調服。</p>
<p>此補精填髓潤肺寧嗽之劑，誠簡便之良方，虛損之神藥也。</p>
<h3>白鳳膏（自製）</h3>
<p>治虛勞，內熱骨蒸，咳嗽痰血。</p>
<p>烏嘴鳳頭白鴨（一只）令餓透，將二地、二冬、青蒿、鱉甲、骨皮、女貞子（各四兩）共為末，血陳酒沖服，將鴨去毛，挖淨肚雜如常，用甜白酒加鹽少許，煮爛，空心服之更妙。若作丸服，仍用前藥一料，為細末。入鴨腹中，麻線扎定，以清白人溺煮爛去骨，搗為丸服。</p>
<p>此方滋陰除蒸，化痰止嗽，亦血肉有情之劑。虛勞之人，所宜常服，誠聖品也。</p>
<h3>四聖丸</h3>
<p>治虛損如神。</p>
<p>紫河車膠（十二兩）　龜甲膠（八兩）　麋角膠（四兩，以上三味名三益膏。）　人參（十二兩，參，可以茯苓代之，制亦如上法。）濃麥冬湯入三益膏，隔湯煮烊，搗勻為丸桐子大，空心白湯送下四五錢，或竟三益膏中加茯苓、乳粉拌勻，麥冬湯化服亦可。此方峻補精血之神劑，無有更出其右者。好色之人，及本元虛弱之體，或此丸或衛生膏之屬，預宜長服。若已成虛勞內熱骨蒸等症者，更宜參以壯水滋陰除蒸之品，如二地、二冬、青蒿、鱉甲、骨皮、女貞子之類也。</p>
<h3>衛生膏</h3>
<p>治虛勞等症，久服大效。</p>
<p>人參　黃　（二味肺有熱者去之）　生地　熟地　天冬　麥冬　牛膝　甘枸杞　圓眼肉五味龜天膏（黃牛肉去皮油，浸去血水，頻頻換水，乃得不腥氣，煎濃汁去肉熬膏）　梨汁（自煎，上十四味各等分，五味子減半）</p>
<p>此方益氣血，生津液，補精髓，壯筋骨。凡虛弱之體，宜預服之，久自神效，老人常服，能御外家生子，誠衛生之神丹也。</p>
<h3>資生丸</h3>
<p>健脾開胃，消食止瀉，調和臟腑，滋養榮衛，神效不能盡述。</p>
<p>人參（補脾胃之元氣，三兩）　白朮（健脾之陽，陳壁土拌蒸，借其土氣以助之，蜜同乳九制豆（去殼，炒，一兩五錢）　蓮肉（去心，炒，一兩五錢）　藿香（五錢）　米仁（淘淨，炒，三兩）　芡實（補脾陰，炒，一兩五錢）　楂肉（炒焦，二兩）　白蔻仁（去衣，炒三錢）　橘紅（辛香以疏其滯氣，二兩）　麥芽（炒焦，一兩五錢）　神麯（消導以助其健運，炒，二兩）　川連（瀉脾胃火，酒炒，五錢）　桔梗（為舟楫之劑，焙，五錢）　澤瀉（利脾胃之濕，鹽水炒，三錢五分）</p>
<p>共十八味，蜜丸如彈子大，重四五錢，開水化服。</p>
<p>此方調補脾胃之聖藥。方下所治，非為虛勞設也。然虛勞症最重脾胃，如食少瀉多，用補脾無使有陽旺之害可耳！按：嘉言論參朮膏一方，謂治虛勞藥品，功效敏速，莫逾於此，然虛勞症之屬氣虛及陽虛者絕少也。</p>
<h3>大黃蟲丸</h3>
<p>《金匱》云：五勞虛極羸瘦，（經云：五勞所勞傷，久視傷血，久臥傷氣，久坐傷肉，久立瘦，大肉欲脫也。）腹滿（脾不健運也。）不能飲食，（胃不容納也。）食傷、飲傷、憂傷、房勞傷、飢傷、勞傷、經絡榮衛氣血傷，（其受病之原不同，皆可以漸而至極。）內有干血，（諸傷臟腑，則真氣不能統血於周身，營血痹著，而不行於經絡，是以瘀積不散而內有干血也。）肌膚甲錯，（甲錯者，如鱗也。）兩目黑黯，（肝主血，主目，干血之氣，內乘於肝，則上熏於目，而黑黯也。）緩中補虛，此丸主之。（瘀血得去，飲食自進，則氣血復，故為緩中補虛。）</p>
<p>大黃（酒蒸，三兩）　蟲（三兩）　水蛭（炒枯）　虻蟲（去足、翅，炒）　蠐螬（炙焦）</p>
<p>乾漆（破血去瘀之品，君以大黃聽令於將軍矣）　黃芩（清熱，以瘀久必生熱也。酒炒，一兩）　杏仁（利氣，以氣滯則不行也。去皮尖，三兩）　生地（四兩）　芍藥（收養陰血，酒炒，二兩）</p>
<p>甘草（調和諸藥，一兩）</p>
<p>十三味為末，蜜丸小豆大，酒送五丸，每日三服。</p>
<p>此方破血行瘀，乃世俗所稱干血勞之良治也。內有干血瘀積之久，牢不可拔。新生血不能周血，峻藥緩圖，陸續漸除，俾瘀積去，而虛勞庶可復，死裡求生之方也。嘉言云：有勞之之極，血滯不行，惟就干涸，皮鮮滑澤，面無榮潤。於是氣之所過，血不為動，徒蒸血熱，或日晡，或子午，始必干蒸，候蒸散，微汗而熱解，熱蒸不已，不死何待？甚有熱久則蒸，其所瘀之血，化而為蟲，遂成傳尸瘵症。又云：童子臟腑脆嫩，才有寒熱積滯，易於結癖成疳，待其血痹不行，氣蒸發熱，即女子血干經閉，發熱不止，勞瘵之候更多，待其勢成，縱有良法，治之無及。倘能服膺仲景幾先之哲，於男子童子女子瘵病，將成未成之候，胃氣尚可勝藥，急宜導其血，同人參以行之。如瓊玉膏中加桃仁泥、大黃末之屬，或用此丸，以瓊玉膏潤補之藥送之。行瘀退熱，全生保命，所關甚大，第率常者，弗能用耳！愚按：此方乃攻擊之劑，因干血而設，非虛勞常用之方，若見之不真而誤投，反速之斃矣。</p>
<h3>獺肝散</h3>
<p>治傳尸勞瘵。</p>
<p>獺肝（一具，炙干）</p>
<p>為末，水服二錢，每服三次，以瘥為度。</p>
<p>此殺蟲之劑也。《紫庭方》云：傳尸勞瘵必有蟲，須用乳香熏病患手，以帛覆之，良久出毛勞也。又法：病患吸安息煙嗽不止者，乃屬傳尸，不嗽者，非傳也。蓋虛勞熱蒸積久，則生惡蟲，食人臟腑，同氣連枝，多遭傳染，甚至滅門。法當補虛以復其元，殺蟲以絕其根，能殺其蟲，雖病者不生，亦可絕其傳疰。《金匱》之於虛勞門後，附獺肝散一方，豈無意哉！他如獺爪、雄黃、桃仁、雷丸、青蒿、百部皆勞症殺蟲之品，不可不考。劉氏云：凡童子室女，不生歡笑，及鰥寡僧尼，情志抑郁，郁則熱蒸，久而生蟲，蟲侵臟腑骨髓之中，遂難療治。此症初起，只宜暢達情志，恬淡靜養，內服宣發鬱熱，如逍遙散之劑，不使內蒸。外用桃柳頭、生艾頭，搗爛，入麝香、雄黃末拌勻，烘熱，擦脊骨四肢關骨之處，以杜生蟲之害。更用百部（一斤，）生艾葉（四兩）煎湯，四周密圍，不使有風，中生炭火一盆，然後洗浴，早晚洗面。房中常燒玉樞丹，鼻聞此氣，可以殺蟲，如法調治，以圖萬一之僥幸！凡近視此病者，不宜飢餓，虛者宜服補藥，宜備安息及麝香，則蟲鬼不敢侵也。</p>
<h3>長春廣嗣丹</h3>
<p>大補真陰壯腎陽，固精填髓骨筋強，百齡能御青娥女，此是人間第一方。</p>
<p>生地（八兩）　萸肉（六兩）　菟絲（六兩）　枸杞（六兩）　牛膝（六兩）　杜仲（六兩）　山藥（六歸身（六兩）　骨脂（六兩）　巴戟肉（六兩）　肉蓯蓉（八兩）　蓮須（六兩）　覆盆子（六兩）　沙蒺藜（八兩）　鹿角膠（一斤）　元武膠（一斤）　虎骨膠（一斤）　鰾膠（一斤）　豬脊髓（一斤）</p>
<p>黃牛肉（八斤，熬膏）　精羊肉（一斤）　黑狗肉（八斤）　紫河車（十具）　驢陰莖（四條）　狗陰莖雄蠶蛾（八兩）</p>
<p>共三十二味，諸膠髓丸如桐子大，空心淡鹽湯，飢時陳酒各送下四五錢，美食壓之。</p>
<p>若肥人八兩，枸杞、菟絲、牛膝、當歸、破故紙。（各八兩，原方故紙只四兩，）仍加人參、蓮須、覆盆、蒺藜，再入於茅朮（各八兩）沉香、砂仁（各四兩，）後龜鹿等藥同上。異類有情丸，只用後十二味，加嫩鹿茸（一對）羊內外腎（一斤，干）狗內外腎（一斤，干）牡蠣（半斤）</p>
<p>俱用鰾膠拌勻，諸膠為丸，二陰莖不用，麋角霜代之亦可，與古方稍異。此方峻補其腎為主，而兼調其五臟為佐。經曰：腎者主蟄，封藏之本，精之處也。真陰之藏，乃先天之本，性命之根，故腎之精貴欲其藏，然精又化生於臟，腎特受而藏之耳！故五臟和而精自日生，腎得補而封藏稱職，所謂精盈則氣盛，氣盛則神全，神全則身鍵，身健則無病，可以長春廣嗣矣。凡丈夫中年覺陽衰精薄，便可服餌。藥雖三十二味，俱同類有情之物，並無錯雜之品，譬如韓侯之兵，多多益善耳！相火易動，及陰虛內熱者，切不可服，服之則反生別病也。</p>
<p>按：此方非為治勞而設，而乃附於後者，以人之致虛者由於欲，故虛而火旺者，既有保陰六味左歸回生之屬以治之。若虛而火衰者，雖不多得，然此方不可不備也。他如八味右歸之屬，皆可隨宜選用。惟無故而服此縱欲則不可。若陽事短少，易痿易泄，精薄精寒，因無子嗣者服之，不惟無損，且大有益，潤而不燥，溫而不熱，較房術方一派辛熱雜霸之劑，相去天淵矣。</p>
<h3>治驗</h3>
<p>一人患陰虛內熱，仲淳曰：當用甘寒，弗用苦寒，非百余劑不效。用二冬滋陰清肺，蘇一婦徹夜不眠，兩月飲食俱廢，形體日削，皆謂不治。余延醫之，許以可救。蓋此症雖屬虛劑，自然水升火降而愈。用生脈散、加茯、棗、遠志、歸、地，大劑飲之，因虛甚氣怯，佐以琥珀、辰砂、金銀器之類，約百余劑而瘳。</p>
<p>一人患目珠痛如欲墮，胸脅及背如槌碎狀，晝夜咳嗽，眠食俱廢，自分不起。仲淳令日進童紅、杷葉，貝母、竹瀝以下痰氣，青蒿，白芍、鱉甲，以治肝火。久之未痊，病家疑其虛，促用參、　，仲淳不可，乃自隱以黃　（二錢）入藥嘗之，竟夕悶熱，目不交睫，始固守前方，兼服噙化丸，不輟逾月而平。蓋此病本於親喪過哀，更觸惱怒，肺經熱甚，肝血上衝所致，故不宜參、　耳！一童子年十五，患寒熱咳嗽，面赤鼻塞，夜劇，家人以為傷風。仲淳視之曰陰虛。蓋傷風面是以其陰虛也。投鱉甲以除寒熱，生地以補腎陰，麥冬、桑皮、貝母、沙參、百部清肺降火，五味收斂肺火，不四劑而安。</p>
<p>一人氣喘自汗，晝夜不眠不食，醫以外感治之，益甚。仲淳曰：此腎虛氣不歸原，故火上浮茯苓、白芍、棗仁，補脾斂肺，不數劑而愈。</p>
<p>一人客邸耽於青樓，且多拂意之事，至冬底發熱咳嗽，醫皆用發表和解，以外感治之。神色，內有瘀血，故脈時一結，肺肝葉損，所以臥不能下，症屬不治，況誤認外感，多服發散，復蹈虛虛之戒耶！不數日而沒。</p>
<p>一人形體單弱，神氣衰少，且素耽酒色，時常齒衄。春間，偶患右乳旁及肩背作痛異常，手。邀余延醫，六脈虛數，肝腎為甚。余斷以陰虛火旺之症，當滋陰養血，扶持脾胃，俾陰血漸生，虛火下降，則痛不求其止而止矣。如必以和傷治痛為急，則徒敗胃氣，克削真元，非所宜也。疏一方付之，用地、芍、杞子、牛膝、麥冬，滋陰養血，石斛、甘草扶持脾胃，桑皮、續斷、丹皮，和調血脈，囑其十劑方有效，以陰無驟補之法耳！服至八劑後，脈氣漸和，精神漸旺，尚未出房室，至此則能步出中堂，但痛處未盡除，然而生機則躍躍矣。惜其欲速太過，惑於群小，棄置余方，復以前藥雜進。一月後胃氣果敗，作嘔逆，陰血愈耗，發潮熱，脾氣傷盡，作腹脹，再半月死矣。</p>
<p>一人患遺精，聞婦人聲即泄，瘠甚欲死，醫告術窮。仲淳之門人以遠志為君，蓮須、石蓮子終劑而愈。</p>
<p>一人因肄業勞心太過，患夢遺症已三四年矣。不數日一發，發過則虛火上炎，頭面烘熱，手、枸杞、萸肉、天冬補腎，麥冬清心，蓮須五味澀精，鰾膠填精，車前利濕熱之水，使相火安寧，不終劑而愈。病者初時恐黃柏太寒，不欲用也。余謂尊症之所以久而未愈者，正未用此藥耳！經曰：腎欲堅，急食苦以堅之，黃柏是也。腎得堅，則心經雖有火，而精自固，何夢遺之有哉？向徒用補益收澀，而未及此，故難取效。</p>
<p>一人病失血，歲二三發，其後所出漸多，咳嗽發熱，食減肌削，屢至平康，不以為意。夏秋、朮，胸膈迷悶，喉音窒塞，服茯苓、山藥，預收紅鉛末，下黑血數升，胸喉頓舒，面容亦轉，以為得竹破竹補之法也。加用桂、附二劑，於是下痢，晝夜十數行，飲食難進，神識不清，病轉增劇。嘉言診之，脾脈大而空，腎脈小而亂，肺脈沉而伏，病者問此為何症也？曰：此症患在亡陰，況所用峻熱之藥，如權臣悍師，不至犯上，無等不已。行期在立冬後三日，以今計之，不過信宿，無以方為也。何以言之？經云：暴病非陽，久病非陰，則數年失血，其為陽盛陰虛無疑。況食減而血不生，漸至肌削，而血日槁，虛者益虛，盛者益盛，勢必陰火大熾上炎而傷肺金，咳嗽生痰，清肅下行之令盡壅，由是腎水無母氣以生，不足蔭養百骸，柴閘極瘦損，每申酉時洒淅惡寒，轉而熱，至天明，微汗始退，政如夏日炎蒸，非雨不解。身中之象，明明有春夏而無秋冬，用藥之法，不亟使金寒水冷，以殺其勢，一往不返矣。</p>
<p>乃因下利誤用參、朮補劑，不知肺熱已久，止有從皮毛透出一路，今補而不宣，勢必移於大腸，所謂肺熱於內，傳為腸　是也。至用紅鉛末下黑血者，蓋陽明之血，隨清氣行者，久已嘔出，其陰分之血，隨濁氣行至胸中，為募原所閉，久瘀膈間，得經水陰分下出之血，引之而走下竅，聲應氣求之妙也。久積頓寬而色稍轉，言笑稍適者，得攻之力，非得補之力也。</p>
<p>乃平日預蓄之藥，必為方士所惑，見為其陽大虛，放膽加用桂附燥熱以盡劫其陰，惜此時未得止之。今則兩尺脈亂，火燔而泉竭，脾胃脈浮，下多亡陰，陽無所附，肺派沉伏，金氣縮斂不行，神識不清，而魄已先喪矣。昔醫云：亂世混濁，有同火化，夫以火濟火，董曹秉權用事，漢數焉能不終也！一人勞心太過，因食海鮮吐血有痰，喉間如鯁，日晡煩熱，士材診之曰：六脈不數，惟左寸劑，而症減六七，兼服六味丸三月，遂不復發。</p>
<p>一人發熱咳嗽，呼吸喘急，用蘇子降氣湯不應，乃服八味丸，喘益急。士材云：兩頰俱赤，喘急頓止。隨用地黃丸料，以麥冬、五味煎膏，及龜膠為丸，至十斤而安。</p>
<p>一室女年十七，患瘰　久不愈，天癸未通，發熱咳嗽，飲食少思。醫欲用巴豆、肉桂之類，先稟氣不足，陰血未充之故，須養氣血，益津液，其經自行。惑於速效，仍服前藥。立齋云：非其治也。此類剽悍之劑，大助陽火，陰血得之則妄行，脾胃得之則愈虛。經云：女子二七而天癸至。若過期不至，是為非常，必有所因。寇宗　云：夫人之生，以血氣為本，人之病，未有不傷血氣者。世有童男室女，積想在心，思慮過當，多致勞損，在男子則神色先敗，在女子則月水先閉。何以致然？蓋憂愁思慮則傷心，心傷則逆竭，故神色先敗，而月水先閉也。火既受病，不能營養其子，故不嗜食。脾既虛，則金氣虧，故發咳嗽。嗽既作，水氣絕，故四肢干，木氣不充，故多怒，須發焦，筋骨痿。俟五臟傳遍，雖猝不能死，然終死矣。</p>
<p>此種虛勞，最難療治，若能改易心志，用藥扶持，可得九死一生。又張氏云：室女經久不行，切不可用苦寒，以血得冷則凝也。若經候微少，漸漸不通，手足骨內煩疼，日漸羸瘦，潮熱，其脈微數，此由陰虛血弱，火盛水虧，不可以毒藥通經，宜常服柏子仁丸、澤蘭湯。</p>
<p>一放出宮女，年三十，兩胯作痛，肉色不變，大小便中作痛如淋，登廁尤甚。立齋云：此瘀，可見在宮久懷憂郁，既嫁又不能如愿，致生此症，愈見流疰瘰　，乃七情氣血皆已損傷，不可用攻，其斷然矣。按：精血篇云：精未通而御女，以通其精，則五臟有不滿之處，異日有難狀之疾，陰已痿而思色以降其精，則精不出而內敗，小便道澀而為淋，精已耗而復竭之，則大小便牽痛，愈痛則愈欲便，愈便則愈痛。女人天癸既至，逾十年無男子合則不調，不調則舊血不出，新血誤行，或漬而入骨，或變而為腫，或雖合而難子。合男子多則精枯虛人，產多則血枯殺人，觀其精血，思過半矣。</p>
<p>一婦蚤孀居，時年三十七，患兩腿骨作痛，晡時體倦，月經不調，或發寒熱，已數年矣。一等藥，三十余劑，症漸輕安。再用加味歸脾等藥，年余而痊。</p>
<p>一放出宮人，年四十余，臀腿內股作痛，晡熱口乾，月經不調。立齋云：此系肝經血少，不劑而痊也。</p>
<p>一放出宮人，臀腿腫痛，內熱晡熱，惡寒體倦，咳嗽胸痞，月經過期而少。彼以為氣毒流疰。宜補者脾也，宜制者肝也。彼不信，仍服前藥而斃。</p>
<p>一孀婦內熱晡熱，腹脹脅痛，肢體酸麻，不時吐痰，月經不調，帶下青黃。立齋云：此鬱怒劑而痊。</p>
<p>一婦因夫經商久出，時發寒熱，經行旬日方止。服涼熱降火藥，內熱益甚，自汗盜汗，月經一婦發熱口乾，肢體倦怠，腿痛膝腫，月經不調。立齋云：此足三陰血虛之症也。用六味丸、逍遙散，兼服兩月，飲食漸進，形體漸健，膝腫漸消而愈。</p>
<p>一人患陰虛內熱，咳嗽有痰。余朝用回生丸，以補腎培其根本；午間臨臥，用加味清清肺，理其痰嗽。有時脾氣不佳，間服資生丸；有時內熱或甚，間用保陰煎加減。喜其遵守飲食宜忌，及養生卻病之法，年余，虛漸退熱漸除。三年膏丸湯液，未嘗一日間斷，竟得全愈。又延醫患前症，皆用上法，全愈多人。數年淹淹不死者，亦多人。或見吐血，則用仲淳方加減治之；或寒熱如瘧，則用逍遙散加減治之。</p>
<p>大抵此症傷損未重，內熱未甚，初起加謹，調治服藥，毋使有間，慎勿躁急求功，自然悠久益其氣。愚謂參　固為補氣之正藥，然有肺火熾盛日久，必致肺氣索然，又當用潤燥清金之品。清肺熱即所以救肺氣，亦為益氣之本也。凡用藥須活潑地如珠走盤，越人所以不立方者，意在斯矣。損其心者，調其榮衛。心者血之原，榮衛發動之始。古方如歸脾湯，乃調榮衛之法也。損其脾者，調其飲食，適其寒溫。如春夏食涼食冷，秋冬食溫食熱，及衣服起居，各當其時是也，然亦不可執定。損其肝者，緩其中。經謂：肝苦急，急食甘以緩之。逍遙散中用甘草，緩其中之謂也。損其腎者，益其精。凡黏膩滋濕之物，皆益精之品，經所謂精不足者，補之以味也。此治損之妙法，無有過於是者矣。</p>
