<header data-type="book">
<h1>醫效秘傳</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="葉桂">葉桂述，吳金壽校</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1831">公元1831年</data></dd></div>
</dl>
</header>
<h2>卷之一</h2>
<h3>要書說</h3>
<p>古吳　葉桂天士　述　後學　吳金壽子音　校傷寒之病，不外六經，欲明六經，當知其要。要者何。定其名，分其經，審其症，察其脈，識陰陽，明表裏，度虛實，之標本者，是也。定其名者，是定其正傷寒、或感冒、與風溫、溫毒之類也。分其經者，是分其陽經、陰經、直中之類。審其症者，是審其陽症、陰症、表症、裏症、虛症、實症、寒症、熱症之原。察其脈者，是察其有力、無力、及浮、沈、遲、數、弦、滑之類也。識陰陽者，謂識其陽病、陰病、陽虛、陰虛之候。名表裏者，是明其在表、在裏、或在半表半裏之間。度虛實者，是度其表虛、裏虛、表實、裏實之病耳。知標本者，欲知其一經之中，而有標病、本病之類也。誠能若是，可謂知其要矣。既知其要，則仲景三百九十七法，一百一十三方，不出握中矣。何患症之不明，病之難愈哉。經曰、知其要者，一言而終，不知其要，流散無窮。又曰、知其要者，萬舉萬當，不知其要，則支離破碎。猶涉海而問津，故曰傷寒要書。</p>
<h3>六經圖</h3>
<h4>足太陽膀胱經手小腸</h4>
<p>足太陽膀胱經，乃諸陽之首，故多傳變受病者為先，其脈起於目內皆，從頭下後項，連風府，行身之背，終於左足外踝，故頭項痛，腰脊強。發熱惡寒，尺寸俱浮者，太陽經受病也。若頭痛發熱，汗出惡風是風傷?氣，乃表虛，宜解肌，桂枝湯主之。若頭痛發熱，無汗惡寒，是寒傷營血，乃表實，宜發散，麻黃湯主之。頭痛、發熱、惡寒者，此太陽表症，標病也。不拘日數多少，便宜發散。若發熱煩渴，小便不利者，此太陽本府受病也，宜利小便，五苓散主之。若小便利者，不可再利，利之則引熱入裏，而為熱結膀胱、其人如狂等症。又不可下，下之則表邪乘虛入裏，而為痞滿結胸、協熱下痢等症。故曰太陽經症切不可下，下之則表邪乘虛內陷，而傳變不可勝數。又不可利小便，利之則引邪入裏，其害不淺。又曰、有汗不可服麻黃湯，無汗不可服桂枝湯。又曰、有汗不可再汗，汗多不可利小便也。</p>
<h4>足陽明胃經手大腸</h4>
<p>足陽明胃經、乃兩陽合明於前也。胃府者、府居中土，萬物所歸也。其脈起於鼻，上額，絡於目，循於面，行身之前，終於左足內踝。經曰、尺寸俱長，陽明受病也。若頭額痛、目疼、鼻乾、不得眠,此陽明經標病也。不拘日數多少，即宜解肌，葛根湯。若身熱煩渴，汗出惡熱，此陽明經本病也，宜清邪熱。若潮熱自汗，譫語發渴，不惡寒，反惡熱，揚手擲足，斑黃便硬等症，此陽明胃本實也，急宜下之。故曰、在經當解肌，在府當平熱，府實則宜下。</p>
<h4>足卲陽膽經手三焦</h4>
<p>足少陽膽經、乃前有陽明，後有太陽，居二陽之中，所以主半表半裏，以膽為清淨之府，無出入之路，不論在經在府，治法俱同。其脈起於目銳皆，上頭角，絡耳中，循胸?行身之側，終於右足外踝。經曰、尺寸俱弦，少陽受病也。其症頭角痛而目眩，胸?痛而耳聾，寒熱嘔而口苦，皆少陽症也。此經有三禁，不可汗，不可下，不可利小便也。只宜小柴胡湯加減和之。</p>
<p>凡頭角痛耳烘烘而鳴，耳之上下腫痛，皆少陽所主部分邪火為之也。</p>
<h4>足太陰脾經手肺</h4>
<p>足太陰脾經、為三陰之首，其脈始於左足內踝大指，行至腹，絡於嗌，連舌本，行身之前。若寒邪卒中，直犯本經者，一時便發，腹痛、或吐、或利、俱宜溫之。若四五日而發，腹滿嗌乾，此傳經之邪也，又宜和之。如不渴而利者，寒也，理中湯溫之。渴而利者，熱也，豬苓湯清之。</p>
<p>寒熱二症，皆有腹滿，以熱陷於內，邪氣盛而充塞也，寒盛於內，胃氣虛而壅滯也。</p>
<h4>足少陰腎經手心</h4>
<p>足少陰腎經、為人身之根蒂，其脈始於左足內踝足心，上行貫脊，循喉嚨，絡舌本，散舌下，注心中，行身之前。若一二日無熱惡寒，足冷踡臥，或厥逆，脈沈無力者，宜溫經散寒。若五六日而發，口燥舌乾，脈沈有力者，此傳經之熱邪也，急宜下之。大抵少陰傷寒，多因勞慾損傷腎經而致，切不可妄投涼藥。若脈沈足冷，雖發熱，急宜溫腎以扶元氣。經曰、少陰病始得之，其脈沈，其症反熱，此少陰自受風寒以起病，當汗之。若一日、則用麻黃附子細辛湯，二日則用麻黃附子甘草湯，切要記其日子用藥。</p>
<p>若三日後，不可妄汗也。經曰、誤發少陰汗者，必動陰血，死不治。少陰病不問利不利，當分寒熱而治。</p>
<p>若脈沈實有力，此熱也，當下之。若脈沈弱無力，此寒也，宜溫之。然寒熱二症皆令有厥，以陽熱內附，致手足冷也，陰寒獨勝，亦手足冷也。然寒症亦有渴者，以少陰主水，腎虛水燥而渴，欲引水自救，故少陰虛寒亦有渴症也。</p>
<h4>足厥陰肝經手心胞</h4>
<p>足厥陰肝經，厥者盡也，六經之尾也，其脈始於右足大指，環陰器，抵少腹，循?肋，上唇口，與督脈會於巔頂，行身前之側。若本經不足，寒邪直入，一二日便發，吐利少腹疼，脈沈無力，無熱惡寒，甚則唇青厥冷，嘔吐涎沫，舌卷囊縮，此直中厥陰之寒症，急溫之。又曰、脈沈有力，飲水不止，此熱也，是即傳經之熱症，急下之。微細無力，或沈伏不見，此寒也，急溫之。然寒熱二症皆有舌卷囊縮，以熱主煎迫，寒主收引也，須仔細辨之。</p>
<h3>傷寒綱領</h3>
<p>傷寒一症，雖有活人書、明理論、指掌圖、傷寒論全生集等書，其間有論缺方，有分失論，有脈無症，有有症無法者，何哉。蓋緣歷年既久，遺失頗多，實非仲景之全書也。後之王叔和、以斷簡殘編而補方造論，成無己、以順文註釋而集成全書，所以遺禍至今而未止也。嗟乎，仲景之書失全，傷寒之病枉死。</p>
<p>蓋傷寒原無定體，或入於陽，或入於陰，入陽則太陽為首，入陰則少陰為先，故傳變不一，治法不同。</p>
<p>而其要總不越乎陰、陽、表、裏、虛、實、寒、熱，知八者之要，悉在浮中沈三脈有力無力中分辨之，有力者為陽、為實、為熱，無力者為陰、為虛、為寒。若能明此八字，則仲景三百九十七法，一百一十三方，了然於胸中矣。今之治傷寒者，一二日，不問屬虛、屬實，便用麻黃、桂枝湯以汗之。三四日，不問在經、在府，便用柴胡、葛根湯以和之。五六日，不問在表在裏，便用承氣等湯以下之。致令陰陽俱病，變症蜂起。</p>
<p>夫麻桂兩湯，仲景專為冬月正傷寒而立也，今人乃以通治非時暴寒溫暑。又將傳經陰症，與夫直中陰症，混同立論，豈不誤哉。學者平時之際，須將脈症講明，方論詳審，臨病之時，得心應手，則陽症陰症之別，發汗吐下之宜，了然於心，確然無疑。又須如珠走盤，活潑潑地，見太陽症、直攻太陽，見少陰症、直攻少陰，不可泥於始太陽、終厥陰之論。仲景曰、日數雖多，有表症而脈浮者，宜汗之。日數雖少，有裏症而脈沈者，宜下之。?乎仲景處方立論甚嚴，曰、可溫，曰、可下，曰、與下，曰、急下，與夫先溫其裏、乃攻其表，先解其表、乃攻其裏，切不可執定一二日宜發汗，三四日宜和解，五六日方下。更須審脈驗症，辨府定經，一一親切無疑，方可下手。真知其表邪而汗之，真知其直中陰經而溫之，桂枝承氣，投之必差，薑附理中，發而必當，可謂得其綱領者也。</p>
<h3>傷寒論</h3>
<p>寒者、冬月嚴寒殺厲之氣也，然有冒、有傷、有中之不同。冒者、皮膚受寒，鼻寒眼脹，灑淅寒熱，微覺拘倦者是也。傷者、即下文傳經之症也。中者、因體虛腠理?豁，寒邪直入三陰之經，不從表傳，其症四肢厥冷，臍腹絞痛，脈沈遲無力者是也。蓋自霜降後至春分前，乃天令嚴寒，水冰地凍，而成殺厲之氣，人觸犯之，即時而病者，名為正傷寒。其不即病，寒毒藏於肌膚，至春而發者，為溫病。至夏而發者，為熱病。古人均為之傷寒也。然傷寒從表入裏，必次第而傳，如發於一二日間，便覺頭項痛，腰脊強，發熱惡寒，尺寸俱浮，乃太陽經受病也，若以次傳經，必傳於胃。如發於二三日間，便覺目疼鼻乾不得眠，日晡潮熱，不惡寒，反惡熱，尺寸俱長，乃陽明經受病也，若以次傳經，必傳於膽。如發於三四日間，便覺胸?痛而耳聾，寒熱嘔而口苦，尺寸俱弦，乃少陽經受病也，若以次傳經，必傳於脾。如發於四五日間，便覺腹滿嗌乾，自利不渴，尺寸沈細，乃太陰經受病也，若以次傳經，必傳於腎。如發於五六日間，便覺口燥舌乾而渴，尺寸俱沈，乃少陰經受病也，若以次傳經，必傳於肝。如發於六七日間，便覺煩渴囊縮，尺寸微緩，乃厥陰經受病也。則六經之形症已明矣。然六經既明，未可便視為一定不易之序，有始於太陽，以次傳入陰經，而終於厥陰者，或太陽不傳於陽明、少陽，而及傳於少陰者，或不由陽經而直入陰經者，或始終只在一經而不傳者，或二陽三陽同受而為合病者，或太陽陽明先後而為併病者，緣經無明文，後人妄治，蒙害者多矣。</p>
<h4>傷寒標本</h4>
<p>夫標本而曰先受病為本，次傳流受病為標，此言標本之大略也。假令病人發熱惡寒，頭痛身疼，則知是太陽經表症，標病也。若加發熱煩渴，小便不利，則知是太陽經入府，本病也&gt;。假令病人目痛鼻乾不眠，則知是陽明經表症，標病也。若加煩渴欲飲，汗出惡熱，則知是陽明經入府，本病也。若加潮熱譫語，發渴，不惡寒，反惡熱，揚手擲足，斑黃狂亂，則知是陽明經傳入胃府，實病也。假令病人頭角痛而耳聾，寒熱嘔而口苦，則知是少陽經經病也。緣少陽居表裏之間。而膽又無出入之路，故皆以小柴胡湯和解之。假令病人腹中滿，嗌乾，自利不渴，則知是陽經熱邪傳入太陰經，標病也。若加燥渴腹滿，則知是太陰經本病也。若初起便就怕寒吐利，則知是太陰經直中，本病也。假令病人舌乾口燥，大便不通，則知是陽經熱邪傳入少陰經，標病也。若初起便怕寒踡臥，腹痛吐瀉，則知是少陰經直中，本病也。假令病人囊縮消渴舌卷，則知是陽經熱邪傳入厥陰經，標病也。若初起就怕寒，嘔吐涎沫，少腹疼痛，舌卷囊縮，則知是厥陰經直中，本病也。若總以六經言之，而不分標病本病，謬之甚矣。故曰知標知本，萬舉萬當，不知標本，如　者失杖而行，有路而不知也。</p>
<h4>表裏虛實</h4>
<p>有表虛，有裏虛，有表實，有裏實，仲景用麻黃湯，為表實而設也，用桂枝湯，為表虛而設也，裏實用承氣，裏虛用四逆。昔華陀治倪尋、李延，俱患頭疼身熱，陀曰、尋當下，延當汗。或疑其異。陀曰、尋內實，延外實，是以異也。</p>
<h3>發表之藥用溫攻裏之藥用寒溫裏之藥用熱論</h3>
<p>表有邪則為陽虛，溫之所以助陽也，陽有所助，則陰邪由以自消，發表之藥用溫者此也，即經曰陽虛陰盛，汗之則愈是也。邪傳裏則化熱傷陰，寒之所以抑陽也，陽受其抑，則真陰得以自長，攻裏之藥用寒者此也。故經曰陰虛陽盛，下之則愈是也。若陰經自受寒邪，則陽不足而陰有餘，故用辛熱以助陽抑陰，此溫裏之藥用熱者是也。</p>
<p>傳足不傳手論謂傷寒傷足不傷手，可也，謂傷寒傳足不傳手，則不可也。蓋手之六經，皆屬金火，故金火不畏寒者也。其足之六經，曰土、曰木、曰水，以水遇寒則凍冰，木遇寒則葉落，土遇寒則裂不堅，是不能勝其寒也，故能傷之。由是觀之，豈非傷足不傷手者乎。傳之一字，必是書寫之誤，有感而云。</p>
<h3>十六種治法</h3>
<p>仲景傷寒正名十六種，其餘發狂、譫語、鄭聲、結胸、痞滿等症，皆繫十六種正病傳變所致，豈可概論作傷寒稱之。</p>
<h4>一傷寒</h4>
<p>傷寒者，冬時冒寒邪，而病即發者也。其症頭項痛，腰脊強，發熱惡寒，不煩躁，無汗，脈來浮緊而濇，若在冬時霜降後及春分前，宜用麻黃湯。</p>
<h4>二傷風</h4>
<p>傷風者，感冒風邪也。其症頭痛、身熱、惡風、自汗，脈來浮緩，宜桂枝湯。脈緊而濇，無汗惡寒者，傷寒也，緊為惡寒，濇為無汗。然寒傷營屬陰，陰主必藏，是以無汗，故用麻黃輕揚以發表。浮緩惡風者，傷風也，浮為傷風，緩為自汗，故用桂枝甘溫以解肌。</p>
<h4>三傷寒見風</h4>
<p>傷寒見風者，其人初感於寒，續中於風是也。外症寒多熱少，不煩躁，脈當浮而緊，今反浮而緩者，此傷寒而見風脈，乃營?並傷之症也。</p>
<h4>四傷風見寒</h4>
<p>傷風見寒者，其人先中於風，而重感於寒者是也。外症惡風、發熱、煩躁，脈當浮而緩，今反浮而緊者，此傷風而見寒脈，亦營?並傷之症，俱用大青龍湯、或九味羌活湯加減治之。</p>
<h4>五濕</h4>
<p>病有傷濕，有中濕，有風濕。傷濕者，濕傷太陽膀胱經者是也。中濕者，濕中太陰脾經或腎經者是也。</p>
<p>風濕者，或先傷於濕，後傷於風，風濕相搏而為病者是也。蓋東南窊下之地，水多聚焉，居其處多濕，或中風雨霧露，是名中濕，此脾經與腎經受病也。其症一身盡疼，發熱身黃，脈沈而緩，治宜燥勝可也。或素有濕，又中於風，是為風濕。其症肢體疼痛，難以轉側，脈沈而濇，治宜微表以去其風行燥以去其濕。大抵治濕之法，咸用羌防以勝之，二朮以燥之，苓澤以滲之，或用附子以溫之，看所挾風寒濕熱之有無，及上下微甚以治之，切不可大發汗，汗之則風氣去而濕氣存，又不可下，下之則額上汗出微喘而死矣。</p>
<h4>六濕溫</h4>
<p>濕溫者，其人素傷於濕，又中於暑者也。其症兩脛逆冷，腹滿多汗，頭目痛，或妄言，切不可發汗，發汗則使人不能言，耳聾，不知痛處，身青，面色變，名曰重暍，重暍宜白虎湯加蒼朮，去暑燥濕故也。</p>
<h4>七風溫</h4>
<p>風溫者，其人素傷於風，復傷於熱，風熱相搏故也。其症四肢不收，頭疼身熱，常自汗出，治在少陰、厥陰。仲景曰、汗出身熱者為風溫，治宜辛涼，疏風解熱為主，切不可汗，汗之則發譫語，又不可下，下之則小便難，更不可溫鍼，溫鍼則耳聾而難言矣。</p>
<p>濕溫汗之名重暍，風溫汗之多致死，但取小汗，清解表裏為佳。</p>
<h4>八冬溫溫毒</h4>
<p>冬溫者，冬感溫氣而成，即時行之氣也。何者。冬令嚴寒而反溫熱，人觸冒之，名曰冬溫。冬溫之病，與傷寒大異，以溫則氣泄，是失其閉藏之令矣，故古人用補中益氣帶表藥以治之。</p>
<p>溫毒者，或冬令嚴寒，觸冒寒邪，待天氣暄熱而發。或傷寒之熱未已，再遇溫熱，變為溫毒。溫毒為病最重也，治宜寒涼大解其熱。若邪熱日深，毒氣不泄，發為癮疹斑斕與時氣發斑，其病尤重，或升麻葛根湯，或化斑湯治之。</p>
<h4>九中暍</h4>
<p>中暍者，夏月所得熱病也，與傷寒相類，與熱病相同。其症身熱大渴，自汗煩躁，不甚惡寒，身體疼痛者是也。蓋中暍者熱傷太陽經，中暑者熱傷心脾經也。雖與傷寒相似，切不可作傷寒治之。然手足雖冷，脈息雖虛，又不可用熱，宜清心利小便，或用清暑之藥可也。</p>
<p>活人書曰、夏日有四症，傷寒傷風，脈症互見，中暑熱病，疑似難明。然脈緊惡寒，謂之傷寒。脈緩惡風，謂之傷風。脈盛壯熱，謂之熱病。脈虛身熱，謂之傷暑。醫者可不明辨。又有饑飽勞役之症，以致肌膚燥熱，大渴引飲，面紅目赤，脈洪而虛，重按全無者，此血虛發熱也。症類白虎，惟脈不長實為異耳，?服白虎湯者必死，故東垣用當歸補血湯治之。嗟乎，中暑果類傷寒矣，殊不知有類中暑者，可不慎歟。</p>
<h4>十溫病</h4>
<p>溫病者，冬時感冒寒邪，不即時而病，藏於肌肉之中，至春溫暖而發者是也。其症發熱而渴，不惡寒者為溫病也。或用升麻葛根湯，或用葛根解肌湯。大抵治溫病之法，無正汗之理，此怫鬱之熱，自內達外，無表症明矣，宜辛平之劑發散之。</p>
<h4>十一熱病</h4>
<p>熱病者，冬傷於寒不即發，至春又不發，鬱而至夏發者是也。其病身熱頭痛，煩渴，不惡寒，脈洪而盛。</p>
<p>蓋因夏月時熱兩盛，治宜苦辛寒，清解為主。寒邪鬱久化熱，經曰、熱病者傷寒之類也，故主苦辛寒法以救之。</p>
<p>溫病熱病，其脈洪大有力，此陽症見陽脈也，可治。若脈來沈微細小，此陽症見陰脈也，必死。經曰、溫病攘攘，大熱脈小足冷者死。</p>
<h4>十二晚發</h4>
<p>晚發者，清明後、夏至前、而發者是也。其症身熱頭疼，或惡風惡寒，或有汗無汗，或煩躁脈來洪數。亦由冬時感寒所致，比之溫熱二症稍輕耳。不宜峻劑，宜清解邪熱，通用槴子生麻湯加減治之。</p>
<h4>十三痙病</h4>
<p>痙病者，太陽經傷風、重感寒濕而致也。又曰、大發濕家汗，則成痙。其症頭項強直，身熱惡寒，搖頭噤口，背反張者是也。外症發熱惡寒，與傷寒相似，但其脈沈遲弦細，兩目圓張，而項背反張強硬，如發癇之狀。當視其有汗、無汗，以分剛痙、柔痙，若無汗惡寒，名剛痙，宜葛根湯。有汗不惡寒，名柔痙，桂枝加葛根湯，如汗下太過，重亡津液，以致筋脈失養，不柔和而變痙者，又宜補養氣血為主。更有產後或金瘡一切去血過多之症，皆能成痙，亦當補養為先。此則似痙而非痙者，豈可一例，而用風藥?之。</p>
<h4>十四溫瘧</h4>
<p>溫瘧者，由傷寒之熱未已，再感於寒，變為溫瘧，或過經壞病變為溫瘧而寒熱羈留者，皆因寒熱相搏而成。治宜散寒解熱為主，並用加減小柴胡湯。如熱多倍加柴胡，寒多，倍加桂枝而或柴胡葛根散其寒、石膏知母解其熱也。</p>
<h4>十五時行</h4>
<p>時行者，謂春應暖而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫是也。蓋四時不正乖戾之氣，流行期間而有其氣，是以一歲之中，長幼之病相似，此則時行之氣也。其外症有類傷寒，治宜解散，並用升麻葛根湯。然時行猶外入之感冒，而瘟疫乃內出之邪毒也。</p>
<h4>十六寒疫</h4>
<p>寒疫者，非時感冒之暴寒，亦時行之氣也。傷寒例曰、從春分以後，至秋分節前，天有暴寒，皆時行寒疫也。其症憎寒惡風，頭痛身熱，或用消風百解散，或用六神通解散加減。大抵此病與溫病及暑病相似，但治理有殊耳。然溫暑之熱，自內而出，寒疫之邪，寒抑陽氣，乃外感者也。故治宜解表。若溫暑，又兼表裏者也。</p>
<h3>溫熱論從種福堂本補入</h3>
<p>溫邪上受，首先犯肺，逆傳心胞，肺主氣屬?，心主血屬營，辨營?氣血，雖與傷寒同，若論治法，則與傷寒大異。蓋傷寒之邪，留戀在表，然後化熱入裏，溫邪則熱變最速，未傳心胞，邪尚在肺，肺主氣，其合皮毛，故云在表，在表初用辛涼輕劑，挾風則加入薄荷牛蒡之屬，挾濕加蘆根滑石之流，或透風於熱外，或滲濕於熱下，不與熱相搏，勢必孤矣。不爾，風挾溫熱而燥生，清竅必乾，謂水主之氣，不能上榮，兩陽相劫也。濕與溫合，蒸鬱而蒙蔽於上，清竅為之壅塞，濁邪害清也。其病有類傷寒，其驗之之法，傷寒多有變症溫熱雖久，在一經不移。以此為辨。</p>
<p>前言辛涼散風，甘淡驅濕，若病仍不解，是漸欲入營也。營分受熱，則血液受劫，心神不安，夜甚無寐，或斑點隱隱。即撤去氣藥，如從風熱陷入者，用犀角竹葉之屬，如從濕熱陷入者，犀角花露之品，參入涼血清熱方中。若加煩躁大便不通，金汁可以加入，老年或平素有寒者，以人中黃代之，急急透斑為要。若斑出熱不解者，胃津亡也，主以甘寒，重則如玉女煎，輕則如梨皮蔗漿之類。或其人腎水素虧，雖未及下焦，先自徬徨矣，必驗之於舌，如甘寒之中，加入鹹寒，務在先安未受邪之地，恐其陷入易易耳。若其邪始終在氣分流連者，可冀其戰汗透邪，法宜益胃，令水與汗併，熱達腠開，邪從汗出。解後胃氣空虛，當膚冷一晝夜，待氣還、自溫暖如常矣。蓋戰汗而解，邪退正虛，陽從寒泄，故漸膚冷，未必即成脫症，此時宜令病者安舒靜臥，以養陽氣來復，旁人切勿驚徨、頻頻呼喚，擾其元神，使其煩躁。但診其脈，若虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫症。若脈急疾，躁擾不臥，膚冷汗出，便為氣脫之症矣。更有邪盛正虛，不能一戰而解，停一二日再戰汗而愈者，不可不知。再論氣病有不傳血分，而邪留三焦，亦如傷寒中少陽病也，彼則和解表裏之半，此則分消上下之勢，隨症變法，如近時杏樸苓等類，或如溫膽湯之走泄，因其仍在氣分，猶可望其戰汗之門戶，轉瘧之機括。大凡看法，?之後、方言氣，營之後、方言血，在?汗之可也，到氣纔可清氣，入營猶可透熱轉氣　，如犀角玄參羚羊等物，入血就恐耗血動血，直須涼血散血，如生地丹皮阿膠赤芍等物，否則前後不循緩急之法，慮其動手便錯，反至慌張矣。且吾吳、濕邪害人最廣，如面色白者，須要顧其陽氣，濕勝則陽微也。</p>
<p>法應清涼，然到十分之六七，即不可過於寒涼，恐成功反棄，何以故邪，濕熱一去，陽亦衰微也。面色蒼者，須要顧其津液，清涼到十分之六七，往往熱減身寒者，不可就云虛寒而投補劑，恐鑪煙雖熄，灰中有火也，須細察精詳，方少少與之，慎不可直率而往也。又有酒客裏濕素盛，外邪入裏，裏濕為合，在陽旺之軀，胃濕恆多，在陰盛之體，脾濕亦不少，然化熱則一。熱病救陰則易，通陽最難，救陰不在血而在津與汗，通陽不在溫而在利小便。然較之雜症，則有不同也。</p>
<p>再論三焦不得從外解，必致成裏結，裏結於何，在陽明胃與腸也。亦須用下法，不可以氣血之分，就不可下也。但傷寒熱邪在裏，劫爍津液，下之宜猛，此多濕邪內搏，下之宜輕，傷寒大便溏為邪已盡，不可再下，濕溫病大便溏為邪未盡，必大便硬，慎不可再攻也，以屎燥為無濕矣。再人之體，脘在腹上，其地位處於中，按之痛，或自痛，或痞脹，當用苦泄，以其入腹近也。必驗之於舌，或黃或濁，可與小陷胸湯或瀉心湯，隨症治之。或白不燥，或黃白相兼，或灰白不渴，慎不可亂投苦泄。其中有外邪未解、裏先結者，或邪鬱未伸，或素屬中冷者，雖有脘中痞痛，宜從開泄，宣通氣滯，以達歸於肺，如近俗之杏蔻橘桔等是，輕苦微辛，具流動之品可耳。</p>
<p>再前云舌黃或濁，須要有地之黃，若光滑者，乃無形濕熱，中已虛象，忌前法。其臍以上為大腹，或滿或脹或痛，此必邪已入裏矣，表症必無，或十之存一。亦要驗之於舌，或黃甚，或如沈香色，或如灰黃色。或老黃色，或中有斷紋，皆當下之，如小承氣湯，用檳榔青皮枳實元明粉生首烏等。若未現此等舌，不宜用此等法，恐其中有濕聚太陰為滿，或寒濕錯雜為痛，或氣壅為脹，又當以別法治之。</p>
<p>再黃胎不甚厚而滑者，熱未傷津，猶可清熱透表。若雖薄而乾者，邪雖去而津受傷也，苦重之藥當禁宜甘寒輕劑可也。</p>
<p>再論其熱傳營，舌色必絳，絳、深紅色也。初傳絳色中兼黃白色，此氣分之邪未盡也，泄?透營，兩和可也。純絳鮮澤者，胞絡受病也，宜犀角鮮生地連翹鬱金石菖蒲等。延之數日，或平素心虛有痰，外熱一陷，裏絡就閉，非菖蒲鬱金等所能開，須用牛黃丸、至寶丹之類以開其閉，恐其昏厥為痙也。</p>
<p>再色絳而舌中心乾者，乃心胃火燔，劫爍津液，即黃連石膏亦可加入。若煩渴煩熱，舌心乾四邊色紅，中心或黃或白者，此非血分也，乃上焦氣熱爍津，急用涼膈散散其無形之熱，再看其後轉變可也。慎勿用血藥，以滋膩難散。至舌絳望之若乾，手捫之原有津液，此津虧濕熱熏蒸，將成濁痰蒙閉心胞也。</p>
<p>再有熱傳營血，其人素有瘀傷宿血在胸膈中，挾熱而搏，其舌色必紫而暗，捫之濕，當加入散血之品，如琥珀丹參桃仁丹皮等。不爾，瘀血與熱為伍，阻遏正氣，遂變如狂發狂之症。若紫而腫大者，乃酒毒衝心，若紫而乾晦者，腎肝色泛也，難治。舌色絳，而上有黏膩似苔非苔者，中挾穟濁之氣，急加芳香逐之。舌絳，欲伸出口而抵齒難驟伸者，痰阻舌根，有內風也。舌絳而光亮，胃陰亡也，急用甘涼濡潤之品。若舌絳而乾燥者，火邪劫營，涼血清火為要。舌絳而有碎點白黃者，當生疳也，大紅點者，熱毒乘心也，用黃連金汁。其有雖絳而不鮮，乾枯而痿者，此腎陰涸，急以阿膠雞子黃地黃天冬等救之，緩則恐涸極而無救也。其有舌獨中心絳乾者，此胃熱，心營受灼也，當於清胃方中加入清心之品，否則延及於尖，為津乾火盛也。舌尖絳獨乾，此心火上炎，用導赤散瀉其府。</p>
<p>再舌胎白厚而乾燥者，此胃燥氣傷也，滋腎藥中加甘草，令甘守津還之意。舌白而薄者，外感風寒也，當疏散之。若白乾薄者，肺津傷也，加麥冬花露蘆根汁等輕清之品，為上者上之也。若白苔絳底者，濕遏熱伏也，當先泄濕透熱，防其就乾也，勿憂之，再從裏透於外，則變潤矣。初病舌就乾，神不昏者，急養正，微加透邪之藥。若神已昏，此內匱矣，不可救藥。又不拘何色舌，上生芒刺者，皆是上焦熱極也，當用青布拭冷薄荷水揩之，即去者輕，旋即生者險矣。舌苔不燥，自覺悶極者，屬脾濕盛也。或有傷痕血跡者，必問曾經搔挖否，不可以有血而便為枯症，仍從濕治可也。再有神情清爽，舌脹大不能出口者，此脾濕胃熱鬱極化風，而毒延口也，用大黃磨入當用劑內，則舌脹自消矣。</p>
<p>再舌上白苔黏膩，吐出濁厚涎沫者，口必甜味也，為脾癉病，乃濕熱氣聚，與榖氣相搏，土有餘也，盈滿則上泛，當用省頭草，芳香辛散以逐之則退。若舌上苔如鹼者，胃中宿滯挾濁穟鬱伏，當急急開泄，否則閉結中焦，不能從募原達出矣。</p>
<p>若舌無苔而有如烟煤隱隱者，不渴肢寒，知挾陰病。如口渴煩熱，平時胃燥舌也，不可攻之。若燥者，甘寒益胃。若潤者，甘溫扶中。此何故？外露而裏無矣。</p>
<p>若舌黑而滑者，水來?火，為陰症，當溫之。若見短縮，此腎氣竭也，為難治，欲救之，加人參五味子勉希萬一。舌黑而乾者，津枯火熾。急急瀉南補北。若燥而中心厚1者，土燥水竭，急以鹹苦下之。</p>
<p>舌淡紅無色者，或乾而色不榮者，當是胃津傷而氣無化液也，當用炙甘草湯，不可用寒涼藥。</p>
<p>若舌白如粉而滑，四邊色紫絳者，瘟疫病初入募原，未歸胃府，急急透解，莫待傳陷而入為險惡之病。且見此舌者，病必見凶，須要小心。凡斑疹初見，須用紙撚照看胸背兩?，點大而在皮膚之上者為斑，或云頭隱隱，或瑣碎小粒者為疹。又宜見而不宜見多。按方書謂斑色紅者屬胃熱，紫者熱極，黑者胃爛，然亦必看外症所合，方可斷之。然而春夏之間，濕病俱發疹為甚，且其色要辨，如淡紅色，四肢清，口不甚渴，脈不洪數，非虛斑、即陰斑。或胸微見數點，面赤足冷，或下利清榖，此陰盛格陽於上而見，當溫之。若斑色紫小點者，心包熱也。點大而紫，胃中熱也。黑斑而光亮者，熱勝毒盛，雖屬不治，若其人氣血充者，或依法治之，尚可救。若黑而晦者，必死。若黑而隱隱四旁赤色，火鬱內伏，大用清涼透發，間有轉紅成可救者。若夾斑帶疹，皆是邪之不一，各隨其部而泄。然斑屬血者恆多，疹屬氣者不少，斑疹皆是邪氣外露之象，發出宜神情清爽，為外解裏和之意，如斑疹出而昏者，正不勝邪，內陷為患，或胃津內涸之故。</p>
<p>再有一種白1，小粒如水晶色者，此濕熱傷肺，邪雖出而氣液枯也，必得甘藥補之。或未至久延傷及氣液，乃濕鬱?分，汗出不徹之故，當理氣分之邪。或白如枯骨者多凶，為氣液竭也。</p>
<p>再溫熱之病，看舌之後，亦須驗齒。齒為腎之餘，齦為胃之絡。熱邪不燥胃津，必耗腎液。且二經之血皆走其地，病深動血，結瓣於上。陽血者色必紫，紫如乾漆。陰血者色必黃，黃如醬瓣。陽血若見，安胃為主。陰血若見，救腎為要。然豆瓣色者多險，若症還不逆者，尚可治，否則難治矣。何以故耶，蓋陰下竭、陽上厥也。</p>
<p>齒若光燥如石者，胃熱甚也。若無汗惡寒，?偏勝也，辛涼泄胃，透汗為要。若如枯骨色者，腎液枯也，為難治。若上半截潤，水不上承，心火炎上也，急急清心救水，俟枯處轉潤為妥。若咬牙齧齒者，濕熱化風，痙病。但咬牙者，胃熱，氣走其絡也。若咬牙而脈症皆衰者，胃虛，無榖以內榮，亦咬牙也。何以故耶，虛則喜實也。舌本不縮而硬，而牙關咬定難開者，此非風痰阻絡，即欲作痙症，用酸物擦之即開，酸走筋，木來泄土故也。</p>
<p>若齒垢如灰糕樣者，胃氣無權，津亡濕濁用事，多死。而初病齒縫流清血，痛者胃火衝激也，不痛者龍火內燔也。齒焦無垢者死，齒焦有垢者，腎熱胃劫也，當微下之，或玉女煎清胃救腎可也。</p>
<p>再婦人病溫，與男子同，但多胎前產後，以及經水適來適斷。大凡胎前病，古人皆以四物加減用之謂護胎為要，恐來害?。如熱極，用井底泥藍布浸冷覆蓋腹上等，皆是保護之意。但亦要看其邪之可解處，用血膩之藥不靈，又當審察，不可認板法。然須步步保護胎元，恐損正邪陷也。至於產後之法，按方書謂慎用苦寒藥，恐傷其已亡之陰也。然亦要辨其邪能從上中解者，稍從症用之，亦無妨也。不過勿犯下焦，且屬虛體，當如虛怯人病邪而治。總之，毋犯實實虛虛之禁。況產後當血氣沸騰之候，最多空竇，邪勢必乘虛內陷，虛處受邪，為難治也。如經水適來適斷，邪將陷血室，少陽傷寒，言之詳悉，不必多贅。但數動與正傷寒不同，仲景立小柴胡湯，提出所陷熱邪，參棗扶胃氣，以衝脈隸屬陽明也，此與虛者為合治。若邪熱陷入與血相結者，當宗陶氏小柴胡湯去參棗加生地桃仁查肉丹皮或犀角等。若本經血結自甚，必少腹滿痛，輕者刺期門，重者小柴胡湯去甘藥加延胡歸尾桃仁，挾寒加肉桂心，氣滯者加香附陳皮枳殼等。然熱陷血室之症，多有譫語如狂之象，防是陽明胃實，當辨之，血結者身體必重，非若陽明之輕旋便捷者。何以故耶。陰主重濁，絡脈被阻，側旁氣痹連胸背皆拘束不遂，故去邪通絡，正合其病，往往延久上逆心胞，胸中痛，即陶氏所謂血結胸也。王海藏出一桂枝紅花湯加海蛤桃仁，原為表裏上下一齊盡解之理。看此方大有巧手，故錄出以備學者之用。</p>
<h3>瘟疫附</h3>
<p>瘟疫者，因傷寒之熱未已，更感時行之氣，而為瘟疫也。其症身熱頭疼，煩渴嘔逆，或有汗，或無汗。皆由溫熱相合而成，治宜寒涼解熱為主。經曰、更遇溫氣，變為瘟疫。則知是再感溫氣而成瘟疫，更感溫熱而成溫毒者也。何活人書混注冬溫症下，而百病歌強以冬溫溫疫為一病。不知冬溫是感非節之氣，長幼之病相似，時行之氣為病也。溫疫乃傷寒再感溫氣而成，實相似而非也。敢錄之。</p>
<p>瘟疫者，渾身壯熱，惛惛不爽，沿門闔境，遞鄉傳染，盛於春夏之間者是也。雖因時氣而得，然所感者皆由惡毒異氣而成，非若春寒夏涼秋熱冬溫之類也。夫天地間之氣，升於春，浮於夏，不無有惡毒者在焉。人在氣中莫知也，若正氣虛者，遂致傳染。或病者身熱，其氣蒸蒸浮越於外，若正氣虛者，亦致傳染。然感天地之邪者，在春夏間，感病人之邪者，無分春夏者也。是以獄中此病，四時無間，最易傳染，其不染者，由正氣內實邪不能感也。然感是邪者，從口鼻而入也，由是正被邪侵，怫鬱煩擾，而病作矣。雖因天地之邪，實自內出者也。故感受之因，異傷寒，異溫暑，異非時感冒之寒疫。其治法亦異也，故丹溪用人中丸，補、散、降三法並施。明醫雜著用清熱解毒湯，內、外兼施。斯二者，乃治瘟疫之大法也，大率當辟邪散氣，扶助正氣為主。若與長幼相似之時行混論，則非矣。今人多以溫病熱病名時行，又以溫毒為瘟疫，謬之甚矣。噫，非造道之元，烏能識此。</p>
<p>西山記曰、近穢氣，傷真氣。孫真人曰、乘馬夜行，當沐浴更衣，方可近小兒、使不聞馬毒氣，不然則多天弔急驚也。錢仲陽曰、步糞穢之履，毋近嬰兒。亦此意也。</p>
<p>雍正癸丑，疫氣流行，撫吳使者屬先生制此方，全活甚眾，時人比之普濟消毒飲云。</p>
<p>先生云、時毒癘氣，必應司天。癸丑太陰濕土氣化運行，後天太陽寒水，濕寒合德，挾中運之火，流行氣交，陽光不治，疫氣乃行。故凡人之脾胃虛者，乃應其厲氣，邪從口鼻皮毛而入。病從濕化者，發熱目黃，胸滿，丹疹，泄瀉。當察其舌色，或淡白，或舌心乾焦者，濕邪猶在氣分，用甘露消毒丹治之。若壯熱旬日不解，神昏譫語，斑疹，當察其舌，絳乾光圓硬，津涸液枯，寒從火化，邪已入營矣，用神犀丹。</p>
<h4>甘露消毒丹</h4>
<p>飛滑石十五兩　淡　芩十兩　茵　陳十一兩　藿　香四兩　連　翹四兩　石菖蒲六兩白　2　四兩　薄　荷四兩　木　通五兩　射　干四兩　川貝母五兩神3糊為末。</p>
<h4>神犀丹</h4>
<p>犀　尖六兩　生　地一斤熬膏　香　4　八兩熬膏　連　翹十兩　黃　芩六兩　板藍根九兩銀　花一斤　金　汁十兩　元　參七兩　花　粉四兩　石菖蒲六兩　紫　草四兩即用生地香4金汁搗丸，每丸重三錢，開水送下。</p>
<h3>類傷寒四症</h3>
<h4>痰症</h4>
<p>痰者，津液所化。蓋由風傷肺，肺氣不清而生痰，濕傷脾，脾氣凝濁而生痰。其人亦憎寒壯熱，惡風自汗。但胸膈病滿，氣上?咽不得息，皆因肺氣不舒。故雖類傷寒，但頭不痛，項不強，或寸脈浮滑，或沈伏為異爾。宜瓜蒂散或稀涎散吐之。</p>
<h4>傷食</h4>
<p>傷食類傷寒者，以其亦有發熱惡寒頭疼等症，但非若傷寒之甚者也。其症或兼惡食，或噫氣作酸。</p>
<p>或飽悶作痛，氣口脈緊者是也。當於消食門中求之。</p>
<h4>虛煩</h4>
<p>煩者熱也，心中鬱鬱不安，故謂之煩也&gt;蓋緣其人素弱有勞損。因而損氣，氣衰則精虛，精虛則火旺，即內經所謂陰虛生內熱也。以內有熱。則應於外。然雖發熱而無惡寒頭疼身痛等症。治宜補中益氣湯加黃柏。</p>
<h4>腳氣</h4>
<p>腳氣類傷寒者，以其有發熱頭疼身痛等症，但起初足脛腫痛，或足膝屈強不能移動為異爾。其病始於受濕，復感挾風寒暑熱而成，故陳無澤曰、腳氣不專主一氣，亦不專在一經，若自汗走注為風勝，無汗攣急為寒勝，腫滿重者為濕勝，煩渴熱蒸為暑勝，若四氣兼中，但推其多者為勝。又曰、足脛焮赤而腫者，濕熱也。黃白而腫者，寒濕也。大法用二朮以燥濕，苓柏以清熱，歸芍以調血，木香檳榔以行氣，烏附行經絡以除濕散寒，羌獨利關節以散風勝濕，防己牛膝，行之下引，以去濕消腫。更看所梜風寒暑熱之有無微甚，及在表在裏，總當於腳氣門中求之。切不可用補劑，及湯藥淋洗，並冷藥攤盦，使毒氣上入心腹，胸痹氣喘，死矣。</p>
<h3>新增類傷寒四症</h3>
<h4>瘡毒</h4>
<p>瘡毒初生，必有寒熱交作，不可作傷寒治之。蓋癰毒浮於肌表，脈亦浮數，經絡為邪壅遏，身亦發熱，熱毒居表，陽氣不能衛外，故亦惡寒，其人飲食起局如常，或偏著一處痛者，此即癰毒病也。當驗其頭面身體手足，若有痛處，或紅腫或堅塊，或疔毒者，須瘍科治之。</p>
<h4>瘀血</h4>
<p>瘀血類傷寒者，以其有寒熱故也。蓋因素有痰火，或胯縫，或腋下，略有動作，必腫硬疼病，脈來弦數無力者，為異也。宜調養氣、養血、活血，有熱者、或滋陰、降火、清痰。</p>
<h4>勞發</h4>
<p>勞發有類傷寒，以其虛寒虛熱故也。其人或因於勞倦，或傷於七情酒色，以致精神疲憊，營衛失司，惡寒發熱，骨節疼痛，其脈或浮芤虛數，或弦濇沈緊，或博堅，階其候也。治當察其陰虛陽虛，上損下損，以分藏性之陰陽喜惡而調理之，總當於虛勞門中求之。</p>
<h4>痘疹</h4>
<p>凡幼稚之兒，並長成之輩，忽然發熱憎寒，頭疼身痛，唇紅臉赤，嚏欠嘔吐，狀類傷寒，不可遽施汗下，須問其曾否出痘。如未出，當驗其尻骨耳尖並足心皆冷者，再觀耳後有紅脈赤縷，即令專門調治之。</p>
<h3>傷寒治例三十七條</h3>
<p>凡治傷寒，須識陰陽二症。如初起之時，頭疼身痛，發熱惡寒，脈來浮大，即是陽經之表症也。自此以後，煩躁作渴，或不大便，即是陽經傳入陰經之熱症也。脈雖沈伏，不可誤作陰症治之。如初起之時，臍腹絞痛手足，厥逆唇青指冷，脈來沈伏，即是直中陰經之寒症也。</p>
<p>一、或曾是陽症，其人素弱，不任轉下。醫者下之太過，忽然臍腹絞痛，洞泄不止，手足厥逆，此陽症而轉為陰症也。當溫之。</p>
<p>一、或曾是陰症，其人素有內熱，醫者補之太過，忽然煩躁作渴，大小便不通，此陰症而轉為陽症也。</p>
<p>當解之。</p>
<p>凡治傷寒，須識表裏，汗下無誤。如病在表而反下之，則乘虛入裏，微為痞氣結胸，甚為腸滑洞泄，此皆誤下之壞症也。如病在裏而反汗之，則表益虛而裏益實矣，或為衂血斑黃，甚則亡陽，此皆誤汗之壞症也。</p>
<p>凡治傷寒，不論日數，但有頭疼身痛，惡風惡寒，脈來浮大，即是表症。雖有便難小便不利，亦當先解其表，後攻其裏也。</p>
<p>凡治傷寒，不論日數，但有腹痛吐利，脈來沈弱，即是裏症也。雖有惡風惡寒，亦當先救其裏，後解其表也。</p>
<p>凡治傷寒，先視兩目。若黑白分明，內無熱也。目不明者，裏有熱也。</p>
<p>凡治傷寒，須看唇舌。若唇紅而鮮濕者，內無熱也。唇乾而燥者，熱入裏也。若舌白滑者，表未解也。舌黃者，熱漸深也。舌黑者，熱已劇也。</p>
<p>凡欲發汗，須審其頭真痛，項真強，風寒真惡，即當用湯藥汗之，不可妄用水攻火劫之法。</p>
<p>凡欲攻下，須審其頭不痛，風寒不惡，其便果硬，其腹果滿，即當以湯藥下之，亦不可妄用丸藥。</p>
<p>凡傷寒在霜降以後、春分以前，名為正傷寒，宜用辛熱之藥以發之。若至春而發，名為溫病。至夏而發，名為熱病。宜用辛涼之藥以解之。若入裏者，宜用苦寒之藥以下之。若直中者，宜用辛熱之藥以溫之。其在四時，有辛然感冒，當視其寒暄，或用辛熱，或用辛涼要在適中。</p>
<p>凡風寒始傷太陽，必用辛溫散之，如麻黃桂枝之類。若傳入陽明、少陽，必用辛涼解之，如葛根柴胡之類。至邪傳入胃府，必用苦寒下之，如承氣之類。夫邪自表而入裏，用藥由溫而漸寒。若誤治而致熱入，攻之必宜苦寒。</p>
<p>凡服汗藥，不可太過，過則反致陽虛。如服一劑無汗，再作湯與之，又復無汗，此營衛乏絕，法當養陰輔正而再汗之，三治無汗者死。</p>
<p>凡服下藥，燥屎已來，又得溏泄，此已解也。如服下藥，但利清水一二次，又無燥屎，痞滿如故，此未解也，再當下之。如服下藥二三次而不通者，此腸胃枯苦澀也，當下取之，取之而不通者死。</p>
<p>凡治傷寒，須審胸腹若何。胸滿而痛，名為結胸。胸滿不痛，名為痞氣。如未經下而有之，此傳經之邪也已經下而有之，此？下之壞症也。未經下，飲水多而得者，此水氣也。</p>
<p>凡治傷寒，須按其腹痛與不痛，硬與不硬。若腹中痛與硬者。此燥屎也。臍下硬而痛者。此燥屎與蓄血也。臍下築築然痛，上衝於心者，此奔豚氣也。腹中響，氣下趨者，欲作瀉也。燥屎者，小便不利，而臍下如疙瘩狀。蓄血者，小便利，而臍下如懷孕狀。</p>
<p>凡治傷寒，須問其渴與不渴。渴而不飲水者，邪在表也。渴而飲水多者，內熱甚也。含水不欲吞者，欲作衂也。</p>
<p>凡傷寒得死症，其脈尚可治者，則當棄症從脈，虛補之，實瀉之。</p>
<p>凡傷寒得死脈，其症有可治者，則當棄脈從症，表急解之，裏、急攻之，熱則清之，寒則溫之。</p>
<p>凡傷寒脈洪大浮數動滑，此陽脈也，陽症宜見此脈，若陰症得此者凶。脈來沈濇弱弦微，此陰脈也，陰症宜見此脈，若陽症得此者凶。</p>
<p>凡傷寒頭疼身熱，忽然無脈而昏冒，此欲汗之候，如天將明，六合皆晦之象，不須服藥。</p>
<p>凡傷寒頭疼身熱，便是陽症，不可服熱藥。</p>
<p>太陰，頭不痛，身不熱。少陰，有反發熱而無頭疼。厥陰，有頭疼而無身熱。</p>
<p>凡傷寒之症，不可驟用補益。</p>
<p>凡傷寒不思飲食，不可就用溫補脾胃藥。</p>
<p>凡傷寒腹痛，亦有熱症，不可概用溫煖藥，當參脈症治之。</p>
<p>凡傷寒自利者，當看陰陽，不可便用止瀉溫補。</p>
<p>凡傷寒手足厥冷，當分熱厥、冷厥。</p>
<p>凡傷寒若見吐蛔蟲者，雖有大熱，忌用寒涼。</p>
<p>凡服下藥，另用鹽炒麩皮於病人腹上款款熨之，使得熱，則行而易通。</p>
<p>凡服藥吐出不納，須用薑汁半鍾熱飲，其吐即止。</p>
<p>凡傷寒發黃，用生薑週身擦之。若心胸脇下結實、滿悶、硬痛，用薑渣炒熱，於患處熨之。若加葱水，更妙。</p>
<p>凡傷寒吐血不止，用韭汁磨京墨呷下。如無韭汁，雞子清亦可。</p>
<p>凡傷寒熱病，亢極不解，用黃連煎湯一盞，井中頓冷，浸於青布上，搭在胸中，徐徐易之，候熱稍退即除。</p>
<p>凡傷寒腹中痛甚，將河水一鍾飲之，其痛稍可，屬熱，當用涼藥清之，清之不已急用寒藥下之。若飲水愈加作痛，屬寒，當用溫藥和之，和之不已，急用熱藥捄之。</p>
<p>凡直中真寒陰症，或痛甚無脈，或吐瀉脫元無脈，須用酒釀薑汁各半鍾服之，脈來可治，脈不來者，死。</p>
<p>凡直中陰經之直寒症，或腹中絞痛，或嘔逆厥冷，或不省人事，或藥不得入口，或六脈暴絕，將葱白三寸搗成餅，先用麝半分填於臍中，後放葱餅在上，以火熨之，連易二三餅，稍醒，灌入薑汁，然後煎服回陽急捄湯，如不醒，再灸關元、氣海，若得手足溫和汗出者，生。</p>
<p>凡傷寒陰病，不論熱與不熱，不分脈之浮沈大小，但指下無力，或重按全無，便是陰病也。最為良法。</p>
<h4>表症</h4>
<p>表症者，發熱惡寒，頭疼身痛，而脈浮者是也。然惡寒者，表症也，惡寒為表之虛，此屬太陽，宜汗之。若熱多寒少，脈來微弱，或尺脈遲者，不可汗。衂血下血者，不可汗也。壞病者，不可汗也。經水適來者，不可汗也。風溫者，不可汗也。濕溫者，不可汗也。虛煩者，不可汗也。動氣者，不可汗也。又有三陰病，不可發汗，發汗則動經血。若太陰症脈浮者，宜微汗之。少陰症發熱脈沈者，又宜麻黃附子細辛湯汗之。</p>
<h4>裏症</h4>
<p>裏症者，不惡寒，反惡熱，潮熱譫語，腹脹滿，大便硬，脈沈而滑者是也。然惡熱者，裏症也，惡熱為裏之實，此屬陽明，宜下之。若脈浮者，不可下也。虛細者，不可下也。嘔吐者，不可下也。不轉矢氣者，不可下也。小便清者，不可下也。三陰，大約可溫而不可下，然有積症，又當下也。如太陰腹滿時痛，少陰口燥咽乾，或腹滿不大便，或下利清水，心下痛，此積症也。</p>
<h4>表裏俱見症</h4>
<p>病人脈浮而大，即是表症當汗之。其人發熱煩渴，小便志澀，卻當下。此是表裏症俱見也，五苓散主之。</p>
<p>傷寒不大便六七日，頭痛有熱，即是裏症，當下之。其人小便清者，知不在裏、仍在表也，當發汗。此是兩症俱見，未可下，宜桂枝湯。</p>
<p>病人心下滿，不欲食，大便硬，即是裏症，當下之。其人頭汗出，微惡寒，手足冷，卻當汗。此是兩症俱見，仲景所謂半表半裏，小柴胡湯主之。</p>
<h4>無表裏症</h4>
<p>傷寒四五日，或十餘日，無表症，無裏症，俱用小柴胡湯，隨症加減用之。</p>
<h4>陽症</h4>
<p>陽症者，即太陽、陽明、少陽也。初病發熱頭疼項強，以後唇焦口燥，煩渴喜冷，面色光彩，語言清亮，手足溫煖，爪甲紅潤，大便或閉或硬，小便或赤或澀，脈來浮洪數大，此階陽症之候也。其治或汗或和或下可也。</p>
<h4>陰症</h4>
<p>陰症者，即直中太陰、少陰、厥陰之寒症也。初病無頭疼，無身熱，無口渴，就便惡寒或戰慄，面如刀刮，身體沈重，難以轉側，嘔吐瀉利，小便清白，踡臥欲寐，手足厥冷，爪甲青面，面色慘黯而無光，脈來沈濇而細小，此皆陰症之候也。其治或溫或補可也。</p>
<h4>陽毒</h4>
<p>陽毒者，陽氣獨盛，陰氣暴絕所致也。或陽症誤服溫熱之藥，或吐下後變成陽毒。其人壯熱發躁，或狂走罵詈，妄見鬼神，或口吐膿血而發錦斑，或舌捲焦黑，鼻如烟媒，或咽喉腫痛，下利黃赤，六脈洪大而數。輕者陽毒升麻湯，重則青黛一物湯。</p>
<h4>陰毒</h4>
<p>陰毒者，陰氣獨盛，陽氣暴絕所致也。或虛症誤服寒涼之藥或吐瀉後變成陰毒。其人臍腹攪痛，身如被杖，或四肢厥冷，六脈沈細微弱。陰毒甘草湯主之。</p>
<h2>卷之二</h2>
<h3>傷寒諸證論</h3>
<h4>發熱</h4>
<p>發熱者，怫怫然發於皮膚之間，熇熇然散而成熱者是也。與潮熱、寒熱、煩躁之熱不同。煩躁之熱，熱在內者也。潮熱之熱，有時而熱，不失其時。寒熱之熱，寒已而熱，相繼而發。至於發熱，則無時而發也。</p>
<p>然有翕翕發熱，蒸蒸發熱之異。翕翕發熱者，若合羽所覆，明其熱在外也，故與桂枝湯汗以散之。蒸蒸發熱者，若熏蒸之蒸，明其熱在內也，故與調胃承氣湯下以除之。然發屬表者，即風寒客於皮膚，陽氣怫鬱所致也。發熱屬裏者，即陽氣下陷入陰中所致也，觀其熱所從來，而汗下之症明矣。若熱先自皮膚發者，知邪氣在外者也。熱先自裏生而達於表者，知邪氣在裏者也。舉斯二者，則邪之在表在裏又明矣。惟其在表在裏俱有發熱，故半表半裏亦有發熱，何者以表症未罷，邪氣傳裏，裏未作實，是為半表半裏。然同一發熱也，或始自皮膚，而漸傳為裏熱，或始自內熱，而外達於肌表。故邪氣在表而發熱者，表熱而裏不熱也。邪氣在裏而發熱者，裏熱甚而達於表也。其在半表半裏而發熱者，則表裏俱發熱者也。難經云、發熱惡寒者，發於陽也，無熱惡寒者，發於陰也。然太陰厥陰，皆不發熱，維少陰病始得之，雖有發熱之症亦脈沈下利手足冷為異爾，故與麻黃附子細辛湯汗以散之。然有汗後發熱者，或表邪未盡，或裏症已具，或邪在半表半裏之間。有下後發熱者，或宿垢未盡，或丸藥誤下。有勞復發熱者，蓋因新瘥後津液未復，血氣尚弱，或語言以傷氣，思慮以傷神，邪熱隨至，原病復舉，當調和營衛，清解邪熱為佳也。有食復發熱者，須滌邪扶正，消食丸為妙也。雖然，發熱、傷寒之常也，如有陰陽俱虛，及下利與新汗後，又皆惡其熱也。豈可一概論耶。</p>
<h4>惡寒</h4>
<p>惡寒者，風寒客於營衛之中也。惟其風寒客於營衛，則灑淅然惡寒也。惟其營衛之受風寒，則嗇然不欲舒也。其惡寒者，非惡寒熱之寒，又非惡風也。蓋惡風、見風則惡，若居密室之內，幃帳之中，則坦然自舒也。至於惡寒者，雖不見風，亦自裏寒雖身大熱，亦欲近衣，始發之間，戰慄鼓頷，甚則體振，肌膚粟起，毫毛畢直，雖在幃帳之中，重衣厚被，亦不能禦其寒也。且寒熱之寒，謂寒熱更作，熱至則寒無矣。其惡寒者，雖身發熱，而不欲去衣，甚至向火覆被，猶不遏其寒也。所以然者，由陰氣上入陽中，或陽微，或風虛相搏所致。惡寒一切屬表，若下症悉具而微惡寒者，是表猶未解，當先解表，乃可攻裏也。經曰、發熱惡寒、發於陽，無熱惡寒、發於陰。如傷寒或已發熱，或未發熱，若先惡寒，必繼之以發熱，此則發於陽也。若惡寒而踡臥，脈細而緊，此則發於陰也。在陽者可發汗，在陰者可溫裏。惡寒雖悉屬表，而在表自有虛實之別。若汗出而惡寒者，為表虛，可解肌。無汗而惡寒者，為表實，可發活。如汗後仍不解，反惡者。虛故也，芍藥甘草附子湯之。如或少陰病，惡寒而踡臥，手足厥冷，自利煩躁，脈不至者，又為不治之症。</p>
<p>按發熱惡寒，明是傷寒之候，然亦有近似傷寒者。如脈浮而數，發熱惡寒，是傷寒症也，若脈浮而發熱惡寒，或有痛處，是癰疽症也。脈浮而濇，發熱惡寒，或膈實嘔吐，噫噯吞酸，是傷食症也。脈浮而弦，發熱惡寒，或惡食，是欲作瘧也。由是觀之，發熱惡寒之症，豈同一而語哉。</p>
<h4>背惡寒</h4>
<p>背為陽，腹為陰。背惡寒者，陽氣不足，陰寒氣盛故也。若風寒在表而惡寒，則一身盡寒矣。若陽氣衰，陰氣盛，寒邪在裏，口中和，無熱而背惡寒者，屬少陰也，宜溫之，附子湯主之。若陰氣微，陽氣威，熱邪陷內，口燥熱而背惡寒者，屬陽明也，宜清之，白虎加人參湯主之。三者均自巨惡寒也，有陰陽寒熱之不同，而於口中潤燥得之。</p>
<h4>惡風</h4>
<p>惡風者，見風則怕，在密室之中，無所惡也。蓋因風邪傷衛，衛氣虛弱，腠理不密，所以汗出而惡風也。</p>
<p>然衛氣者，能溫分肉、充皮膚、肥腠理、司開闔者也。若風邪中於衛，則必惡風，何也。風則傷衛，寒則傷營，衛為風邪所中，分肉不溫而熱矣，皮毛不充而緩矣，腠理失其肥，則疎而不密，開闔失其司，則泄而不固，是以惡風也。然惡風惡寒二症，均為表症，以惡風與惡寒比之，惡寒者，嗇嗇然而憎寒即不當風而自惡寒。其惡風者，得居密室之中，幃帳之內，舒緩而無所畏也，或用扇，或當風，則淅淅然而惡，此為惡風也。惡寒，有屬於陽，有屬於陰，若是惡風，悉屬於陽，非若惡寒有陰陽之別也，故三陰之症，並無惡風者是也。然惡風雖悉屬表，而發散又有不同。若無汗而惡風，為傷寒，當發其汗。汗出而惡風，為中風，當解其肌。若下症悉具，而惡風未罷者，當先解其外也。又有汗多亡陽與風濕，皆有惡風之症。若發活過多，遂漏不止，衛虛亡陽，惡風脈浮者，必以桂枝加朮附陽溫其經而固其衛。若風濕相搏，骨節煩疼，濕勝自汗，皮腠不密，惡風短氣，必用甘草附子湯散其濕而固其衛。由是觀之，惡風屬衛，明矣。</p>
<h4>寒熱</h4>
<p>寒熱者，謂往來寒熱也。經曰、血弱氣虛，腠理受邪，陰陽相勝，邪正相爭而作矣。若邪氣之入也，而正氣不與之爭，但熱而無寒也。今熱而寒者，謂正氣與邪氣分爭，於是寒熱作矣。爭則氣鬱不發於外，而寒熱爭焉，爭甚則憤然而熱，故寒已而外熱作焉，斯乃寒熱之理也。或謂寒熱者，陰陽爭勝也，以陽勝則熱，陰勝則寒，斯乃陰陽之爭也。何則。以寒為陰而熱為陽，以裏為陰而表為陽。邪之客於表者為寒，邪與陽爭，則為寒矣。邪之入於裏者為熱，邪與陰爭，則為熱矣。其邪半在表半在裏，外與陽爭而為寒，內與陰爭而為熱，是則表裏不拘，內外不定，或出或入，由是寒熱且往且來而間作也，是以往來南戴熱，多屬半表半裏之症。一云、陽不足，則陰邪出表而與之爭，故陰勝而為寒，陰不足，則陽邪入裏而與之爭故陽勝而為熱。邪居表多則多寒，邪居裏多則多熱，邪在半表半裏，則寒熱平半矣。審其寒熱多少，視其邪氣深淺，俱用小柴胡湯和之，若寒多、加桂枝，熱多、加大黃，是大法也。</p>
<h4>似瘧</h4>
<p>似瘧者，與發熱惡寒，往來寒熱，相似而實非也。寒熱似瘧者，作止有時，若往來寒熱，則作止無時，或往或來，日有至三五發，甚則十數發勢是也。至於發熱惡寒者，為發熱時惡寒並不見，惡寒時發熱亦不見也。不若此寒已而熱，熱已而寒也。然有太陽似瘧，有陽明似瘧，有厥陰似瘧，有婦人熱入血室似瘧，症雖同而用藥異也。</p>
<h4>潮熱</h4>
<p>潮熱者，若潮水之潮，其來不失其時，一日一發，日晡時至者是也。日若三五發，即是發熱，非潮熱也。</p>
<p>潮熱者，以表邪傳至陽明胃府，胃實而致潮熱也。蓋陽明旺於未申時，所以發於日晡，是日晡所發潮熱者，屬陽明也。惟其陽明，故潮熱為可下之症。經曰、潮熱者，胃實也。又曰、潮熱者，此外欲解，可攻其裏。又曰、若熱不潮，未可與承氣湯。雖然，潮熱屬裏實可下之症，或脈浮而緊，潮熱而利，或小便難、大便溏，與夫潮熱於寅卯，則屬少陽，潮熱於巳午，則屬太陽，是皆尚有表邪未全入裏，先須解表，待小便利、大便硬而燥渴者，方可攻之。</p>
<h4>自汗</h4>
<p>自汗者，不因發散而自然汗出者是也。蓋衛為陽，能護衛皮膚，肥實腠理，禁固津液不得妄泄。若邪干於衛，不能衛固於外，則皮膚為之緩，腠理為之疎，由是淨液妄泄，濈濈然潤，漐漐然出，謂之自汗也，故曰風暑濕邪干之，皆令自汗。惟傷寒人獨不出汗，因傷營而不傷衛，以寒氣收藏故也。若寒漸入裏，傳而為熱，亦令汗出，以熱則營衛通，腠理開，而汗泄矣。然自汗之症，又有表裏之別，虛實之異。</p>
<p>若汗出惡風，及微惡寒，皆表未解，必待發散而後愈。至於漏不止而惡風，及發汗後惡寒，又皆表虛，必得溫經而後愈。大抵傷風則惡風自汗，傷濕則身重自汗，中暑則脈虛自汗，中暍則煩渴自汗，濕溫則妄言多汗，風溫則鼾睡自汗，霍亂則吐瀉自汗，柔痙則搐搦自汗，陽明則潮熱自汗，陰虛則身倦自汗，亡陽則遂漏不止自汗，各開本條，不及細詳。設或汗如貫珠，喘而不休，又為衛絕不治之症也。</p>
<h4>盜汗</h4>
<p>盜汗者，謂睡去則出，醒來則止。然雜症盜汗，責其陽虛。傷寒盜汗，由邪氣在半表半裏使然也。何則。</p>
<p>以邪氣在表，干於衛中，則自然汗出。此則邪氣侵行於裏，外連於表，睡則衛氣行裏，表中陽氣不緻，津液得泄，故睡則汗出，覺則氣散於表，而汗止矣。且自汗有虛有實，而盜汗悉皆知表而已。</p>
<h4>頭汗</h4>
<p>頭者諸陽之會，邪博諸陽津液上湊則汗見於頭也。若邪熱內蓄，蒸發腠理，遍身汗出，謂之熱越。今瘀熱在裏，不能發越，熱蒸於陽，故令頭汗出也。何者。以三陰之經，至頸而還，不循於頭，獨諸陽脈上循於頭耳。夫頭汗出者，五內乾枯，津液衰少，慎不可再汗也。一云、將欲發黃，先出頭汗，則頭汗之症，發黃症也，治宜清理濕熱。又有水結而頭汗出者，宜溫散水氣。若半表半裏而頭汗出者，當和營衛。</p>
<p>其或瘀熱在裏，或熱入血室，並虛煩之症，皆令頭汗，或吐或下，以去其邪。設或小便不利，濕家下後，又為陽脫而不可治也。</p>
<h4>手足汗</h4>
<p>手足，即四肢也。四肢乃諸陽之本，而胃主四肢，手足汗出者，是陽明之症也然有自汗出，有頭汗出，有手足汗出者，悉屬陽明也。何者。若一身汗出，謂之熱越，是熱外達者也。若頭汗出，是熱不得越，而熱氣上達者也。今手足汗出，為熱聚於胃，逼其津液而旁達於四肢者也。或謂熱聚於胃，故手足汗出矣，而寒聚於胃，獨無汗出者，何故。經曰、蘊熱則燥屎譫語，手足汗出者，承氣湯主之。挾寒則水穀不分，手足冷，汗自出者，理中湯主之。是以有承氣理中之不同。</p>
<h4>無汗</h4>
<p>傷寒無汗，何以明之。蓋腠理者，津液湊泄之所、為腠，文理縫會之中、為理。如津液為風暑濕氣所干，外湊皮腠，則為自汗。若寒邪中經，腠理緻密，津液內滲，則為無汗。然無汗之由，又有數種，如寒邪在表，及邪氣行於裏，或水飲內蓄，與夫已陽久虛，皆令無汗者也。如或當汗不汗，服湯劑病症仍在，至三劑不汗者，死。</p>
<h4>頭痛</h4>
<p>頭痛者，寒邪入足太陽經，邪氣上攻於頭所致也。蓋三陽之脈，皆上於頭，而頭疼獨太陽為專主也。</p>
<p>若太陰少陰之脈，至頸而還，不上循頭，則無頭疼之症。稚厥陰之脈，循喉嚨，入頏顙，連目眥，上出額，雖有頭疼，卻無身汗。故發熱惡寒頭痛者，太陽也。至於頭痛不大便，潮熱譫語者，承氣湯主之。頭痛口苦脈弦者，小柴胡湯主之。頭痛吐?沫者，吳茱萸湯主之。設或兩感於寒而頭痛，與夫痛連入腦，手足青至節，又為直頭痛而不可治也。</p>
<h4>身體痛</h4>
<p>身體痛者，蓋因風寒入於肌膚，孔竅閉塞，血脈漸滯不和所致，乃太陽經病也。然有發汗溫經之不同。如太陽身痛，惡寒發熱，頭疼無汗者，麻黃湯。風濕身痛，一身困重，莫能轉側者，桂枝湯加附子。陰症身痛如被杖，脈沈自利者，四逆湯。至若脈寸遲而身痛，與汗後脈沈遲而身痛者，皆血不足也，並用黃?建中湯。勞倦之人身體疼痛者，必脈虛因倦，用補中益氣湯。茗瘡家身體痛，切不可發汗，汗之則成痙。</p>
<h4>?痛</h4>
<p>?乃少陽部分，傷寒傳至少陽，則?痛之病現矣。然有表裏水氣而?痛者，有邪熱攻注而?痛者，有食積相連而?痛者，有積痰咳喘而?痛者，有惡血停蓄而?痛者之不同。</p>
<p>項強項強者，頸硬而不能回顧左右者也。蓋太陽感受風寒，則經脈不利，而項為之急，巠為之強耳。是則傷寒頸項強急，乃太陽表症也，發散則解。若結胸項強，誤下之症。寒濕項強，則多痙症。一云、太陽病，項背強几几，反汗出惡風者，桂枝加葛根湯主之。太陽病，項背強几几，無汗惡寒者，葛根湯主之。二者均是項背強急，而發散則有輕重之不同。以發熱汗出惡風為表虛，可解肌。無汗惡寒為表實，可發汗。是以治之不同也。</p>
<h4>頭眩</h4>
<p>有眩運者，有眩冒者，運為轉運之運，此為頭斿者是也，冒為蒙冒之冒，此為昏迷者是也，乃少陽為病。以少陽屬木，木能生風，風主運動，故時目斿而頭眩也。針經曰、上虛則眩，下虛則厥。則知是少陽表邪漸行於裏，表中陽虛，故有此症也。然有太陽漏汗不止而頭眩，有陽明風病善食而頭眩，有汗吐下後氣虛而頭眩，有素因怯弱血少而頭眩，有火載痰上而頭眩，有正氣虛脫而頭眩，有婦人經水適來而頭眩，有易病真元耗奪而眩運，輕則起方眩運，重則臥亦斿轉矣。一云、不經汗吐下，脈眩而眩運者，小柴胡湯主之。若經汗吐下後而眩運者，宜用溫經之藥，故仲景治頭眩而用茯苓桂枝白朮甘草、真武之類。</p>
<h4>頭重</h4>
<p>傷寒頭重有二症。有太陽惡寒項強頭疼而不能舉，宜發散寒邪。有易病百節解散而眩運不能舉，宜補益真元。</p>
<h4>咽痛</h4>
<p>咽痛者，熱毒上衝所致也，宜甘桔、苦酒湯主之。然有陰陽二病。脈浮數，面赤斑斑如錦紋，而咽痛吐膿血者，此陽毒也。脈沈遲，手足冷，或吐利，而咽痛者，此少陰也。</p>
<h4>咽癢</h4>
<p>咽癢者，或陽厥誤汗而致，或寒伏於腎，陰火上?而致。</p>
<h4>身癢</h4>
<p>身癢者，或太陽不能作汗而致，或陽明久虛無汗而致，或厥陰似瘧不能得小汗而致。</p>
<h4>耳聾</h4>
<p>耳聾者，邪傳少陽之經也。若未曾經汗，宜和解，曾重發汗，宜補。</p>
<h4>胸?滿</h4>
<p>胸滿者，謂膈間氣塞滿悶，非心下滿也。?滿者，謂?助下氣塞填滿，非腹中滿也。蓋邪氣自表傳裏，必先自胸膈、?助，以次至腹入胃。是以胸滿多帶表症，治宜發散。?滿為半表半裏症，治宜和解。若腹滿，又為裏症，而用通利之法也。大抵胸?滿者，以邪氣初入裏，未停留為實，氣鬱積而不行，致生滿也，發散和解之斯可矣。若邪氣留於胸中，聚而為實者，非湧吐不可也。</p>
<h4>心下滿附結胸痞氣臟結</h4>
<p>心下滿者，謂正當心下、高起滿硬者是也。若不經下後而滿，則有吐下之殊。若下後而滿，則有結胸痞氣之別。一云、實邪留結，則為硬為痛，名結胸也。虛邪留滯，則為痞滿，滿而不痛，名虛痞也。經云、病發於陽，而反下之，熱入於裏,　因作結胸。病發於陰，而反下之，因作痞氣。病發於陽者，謂身熱惡寒也。</p>
<p>應宜發汗，若由下之，則表邪乘虛而入，結於心下，而為結胸也。病發於陰者，謂無熱惡寒也，先宜解表，若由下之，則邪氣入於中焦，而為痞氣。是以結胸痞氣等症，皆因下早而成，當分大、小、寒、熱、水五者以治之。若不按而痛，或腹臍堅硬，手不可近者，大結胸也，大陷胸湯主之。心下滿，按之方痛者，小結胸也，小陷胸湯主之。懊憹滿悶，身無熱者，寒結胸也，三物白散或枳實理中湯主之。懊憹煩躁，舌上燥渴者，熱結胸也，大陷胸湯主之。心下怔忡，頭微汗出，身無大熱，揉之汩汩有者，水結胸也，小半夏加茯苓湯主之。大抵結胸與痞，皆應下之，若表未解，不可攻之，仲景曰、當先解表，待表解乃可攻之，解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。一說、治痞服瀉心不愈，然後可用陷胸下之。節痷曰、結胸因下由而成，若未經下，非結胸也，乃表邪傳至胸中，未入乎腑，症雖滿悶，尚在於表，只須小柴胡湯加枳桔可也。世醫但見心下滿，便呼為結胸，用瀉利之藥，反成真結胸，有之也。設或結胸症煩躁者，不治。臟結者，其症如結胸狀，飲食如故，時時下利，仲景無治法，故曰臟結者死。</p>
<p>一切結胸等症，先用枳桔以寬其氣，外用薑渣揉熨，法甚良。</p>
<h4>腹滿</h4>
<p>腹滿者，腹中脹滿也。脾為中央土，所以腹滿者多屬太陰症也。當分虛實而治。經曰、腹滿不減者，為裏實，當下之。腹滿時減者，為裏虛，當溫之。然腹滿雖為裏症，亦有淺深之別。經曰、表已解而內不消，非大滿，未可下。是未全入腑也。若大滿大實，堅硬燥屎，日數雖少，當下之。是邪氣已人腑也。若陽邪陷內而為腹脹，則口燥咽乾。陰寒入裏而為腹脹，則吐利厥逆。一說、腹脹滿者正虛邪勝，陰陽不和，清濁相混，用桔梗半夏湯最良。</p>
<h4>少腹滿</h4>
<p>少腹滿，即臍下滿也。若胸中滿，皆為邪氣、而非物，今少腹滿，則為有物、而非邪氣。茲若腹中滿者，則有為之燥尿矣。經曰、清陽出上竅，濁陰出下竅。當出不出，積而為滿。是知在上而滿者，氣也。在下而滿者，物也。所謂物者，溺與血也。如小便利者，則為畜血也。小便不利者，乃為溺濇之症。此攻血、滲利，宜分兩途。</p>
<h4>腹痛</h4>
<p>腹痛，皆邪氣入裏與正氣相搏故也。經曰、諸痛為實。又曰、痛隨利減。此則言其實也。若虛而作痛者，豈可一例視之乎。大凡不可按、不可揉者，實也。可按、可揉者，虛也。時痛、時止者，虛也。痛無休息者，實也。陽邪傳裏，裏氣作實，腹痛大便硬者，實也。陰邪入裏，裏氣停寒，腹痛瀉利者，虛也。脈來滑大有力者，實也。弦細無力者，虛也。又當分其大、小、少、三腹而治之。大腹痛者，即心腹痛也，為有寒邪食積，屬大陰。小腹痛者，即臍腹痛也，為有熱邪燥屎屬少陰。少腹痛者，即臍以下丹田穴痛，為有瘀血結熱，屬厥陰。若陽邪傳裏而腹痛不常，當以辛溫之劑和之，如小建中湯之類。若陰寒入裏而腹痛，則痛無休時，常欲作利，當以熱劑溫之，如附子理中湯之類。若燥屎譫語，不大便，腹滿而痛者，宜以藥下之，如承氣湯之類。</p>
<h4>煩</h4>
<p>煩者，熱也，與發熱若同而異。發熱者，怫怫然發於肌表，有時而已者是也。煩者，其熱無時而歇者是也。二者均是表熱。而煩熱而熱所煩，非若發熱而時發時止，故為煩熱。經曰、病人煩熱，汗出則解。又曰、發汗熱已解，半日許腹煩，脈浮數者，再與桂枝湯。即此觀之，煩為表熱，明矣。又有煩疼，即是熱疼，煩渴，即是熱渴也。以煩為熱，又何疑乎。至於胸中煩、心中煩、內煩、虛煩，皆為熱也。</p>
<h4>虛煩</h4>
<p>虛煩者，心中欲吐不吐，攪亂轉側不安，鬱悶不舒之貌。蓋因邪熱傳裏，故有胸中煩、心中煩、虛煩之別，非若煩熱而為表熱也。如不經汗吐下而煩，則是傳經之熱，不作膈實，但多和解而已。若因汗吐下後而煩，則是內陷之煩，但多湧吐而已。一云、先煩而悸者，為實。先悸而煩者，為虛。學觀其熱所後來，審其虛實而治，則無誤矣。</p>
<h4>煩躁</h4>
<p>煩為攪亂而煩，躁為憤怒而躁。合而言之，煩躁皆熱也。析而言之，煩也躁也，有陰陽之別焉。煩者陽，躁者陰也。經曰、心熱則煩，陽盛陰虛。又日、腎熱則躁，陰盛陽虛。煩為熱之輕，躁為熱之甚也。若煩疼、煩滿、煩渴、虛煩者，皆以煩為熱也。若不煩而躁者，為怫怫然便作躁悶，此陰盛格陽也，雖大躁欲於漏水中臥，但水不得入口者是也。所謂煩躁者，先發煩而漸至躁也。所謂躁煩者，先發躁而迤邐復煩也。煩躁之由，又各不同。有邪氣在表而煩躁者，有邪氣在裏而煩躁者，有火劫而煩躁者，有陽虛而煩躁者，有陰盛而煩躁者。經云、當汗不汗，其人煩躁。又曰、脈浮而數，不汗出而煩躁。俱用大青龍湯主之。是邪氣在表而煩躁者也。病人不大便五六日，繞臍下硬痛，煩躁發作有時，此有燥屎也，承氣湯主之。是邪氣在裏而煩躁者也。太陽病以火熏之不得汗，其人必躁。太陽病火熨其背，令大汗出，大熱入胃，亦令煩躁。是火劫而煩躁者也。若已下、腹發汗，晝日不得眠，夜而安靜，不嘔不渴，無表裏症，脈沈徵，身無大熱而煩躁者，乾薑附子湯主之。此陽虛而煩躁者也。少陰吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。此陰盛而煩躁者也。諸如此者，乃症之常，非熱也。設或結胸證具而煩躁，吐利四逆而煩躁，惡寒踡臥而煩躁，皆為死證而不治也。</p>
<h4>不得眠</h4>
<p>夜以陰為主陰氣盛則目閉而安臥，若陰虛為陽所勝，則終夜煩擾而不眠也。心臟神，大汗後則陽氣虛，故不眠心主血，大下後則陰氣弱，故不眠。熱病邪熱盛，神不清，故不眠。新瘥後、陰氣未復，故不眠。若汗出鼻乾而不得眠者，又為邪入表也。</p>
<h4>欲寐</h4>
<p>衛氣者，晝則行陽，夜則行陰，行陽則寤，行陰則寐。今欲寐者，蓋因陽氣虛、陰氣盛，故目瞑而多眠也，乃邪傳陰而不在陽也。然傷寒之多眠，雖屬於少陰居多，而亦有不同。如太陽十餘日，脈沈細，惡寒踡臥而欲寐者，此神氣昏也。汗出身重，鼻乾語澀，目不了了而多眠者，此風溫病也。唇黑有瘡，咽乾聲啞，默默而多眠者，此狐惑也。若汗下後，邪氣已退，正氣已復，身涼脈微，鼾息酣睡，此吉兆也。</p>
<h4>澳憹</h4>
<p>澳憹者，心中澳憹，鬱悶不舒之貌，比之煩悶尤甚者也。蓋因表邪未解，而遽下之，陽氣內陷於心胸之間，鬱而不發，心中惱亂不安，甚則為結胸也。若邪在心胸，宜吐。在胃府，宜下。已吐下後，邪氣壅塞而未盡，心中鬱悶而不舒，又當隨其虛實以治之。</p>
<h4>拘急</h4>
<p>拘急者，手足屈伸不便，如踡臥惡風之貌，以四肢乃諸陽之本，因發汗亡陽，陽虛而有此症也。</p>
<h4>舌胎</h4>
<p>舌者，心之官，應南方火，本紅而澤。若傷寒邪熱爍，則津液枯涸，是以心苗乾槁，而舌生胎矣。若邪熱在表，則生白胎，邪熱在裏，則生胎刺，其或黃，或黑，或濇，或滑，或生芒刺，或生裂紋者，為熱氣之淺深者也。故曰、胎白而滑，邪熱漸深，胎黑而裂，邪熱尤極，病則危篤矣。大抵鮮紅濕潤者吉，燥濇乾裂者凶。又有一種陰寒症，水極反來剋火，亦現黑胎等症，其胎必濕冷而滑，不燥不濇，不渴不熱，脈必沈細，症必足冷，又當以四逆湯溫之。夏月人病黑胎者，因時火與邪火內外炎爍，尚有可生，未可斷其死症。若冬月黑胎者，必死。此心傳之妙也。</p>
<p>一切白胎之症，用生薑片薰蜜擦之。黃胎之症，用青布裏指薰薄荷湯或冷水頻擦之。至若胎黑而裂，乃水刊於心火也。經曰、熱病口乾舌黑者，死。</p>
<h4>血附少陰</h4>
<p>衂血，鼻中出血者是也。蓋因經絡熱甚，陽氣擁重，迫血妄行，出於鼻者，為衂也。雖然熱甚，邪猶在經，慎不可發汗，雖云桂枝湯治衂，非治衂也，正欲發散其經中之邪氣耳。故雜病衂者，積熱在裏。傷寒衂者，積熱在表。然衂血雖為欲解，若衂不止，而頭汗、身無汗及發熱不止，又為不治之症也。凡衂血點滴成流，此邪欲解，少頃自愈。若點滴不成流，邪尚在經，未得解散，卻須調治。又云、衂血下一二升不止，不必驚惶，以綿紙摺疊數層，冷水浸濕，卻與病人項後及鼻梁、兩太陽穴上，頻頻搭之即。愈陰症有衂血者何。然陰症無熱，何緣有衂。經云、少陰病，但厥無汗，而強發之，必動其血，未知從何道出，或從口鼻，或從耳目，是名下厥上竭，為難治也。</p>
<h4>吐血</h4>
<p>吐血，口中血出是也。蓋因當汗失汗，邪熱入臟，積瘀於內所致也。若見眼閉目紅，神昏語短，眩冒迷妄，煩躁漱水，驚狂譫語，背冷足寒，四肢厥冷，胸腹急滿，小便自利，大便黑者，皆瘀血症也。不必悉具，但見一二，便作血症主張。宜清解熱毒，使血順下則安。凡治血症，上焦，犀角地黃湯。中焦，承氣湯。下焦，抵當湯。</p>
<h4>噦附噫氣</h4>
<p>噦與乾嘔相似，噦者其聲濁而長，嘔則聲短而小，皆有聲而無物出，是嘔為輕、噦為重也。經曰、木衰者枝葉枯落，病深者其聲噦。蓋因胃氣本虛，汗下太過，胃氣虛冷則噦，或恣飲冷水，水寒相搏則噦，是則胃中虛寒故也。理中湯主之。又有熱氣鬱遏，上塞不下通則，輕則和解之、疎利之，甚則溫散之。至若噦而不屎者，則病篤矣。又有所謂噫氣者，胸喉間氣不得下通，然而無聲也。蓋因寒氣客胃，厥逆上行，復出於胃，故為噫也。理中湯加橘皮半夏丁香之類。</p>
<h4>呃逆</h4>
<p>呃逆，氣自腹中時逆上衝，纔發聲於咽喉則遽止，軋軋然連續數聲，其聲短促不長，俗謂之呃忒。古謂之噦，非也。且其氣皆從胃中起，至胸嗌之間而為呃忒也。若將呃逆紊為噦與咳逆，誤人多矣。然呃逆之病，或胃中實熱失下而作，或服寒涼太過，胃中虛冷而作，或胃中痰水衝逆而作，或水氣停畜而作，或食積壅塞而作。寒者溫中以散寒，熱者涼膈以逐熱，水停者分利之，食積者消導之，痰逆者開豁之。俱用引而伸之，達而降之，推而逐之，由而順之，無不愈也。</p>
<h4>咳嗽</h4>
<p>肺主氣，肺為邪所干，氣逆而不下，故令人咳嗽。有肺寒而咳，有停飲而咳，有邪在半表半裏而咳，治各不同。其水咳三症，不可不辨。小青龍湯，太陽之表水也。十棗湯，太陽之裏水也。真武湯，少陰之水氣也。</p>
<h4>喘</h4>
<p>喘者，氣逆而上行，衝衝而氣急，喝喝而息數，張口抬肩，搖身掀肚者是也。有邪在表而喘，有邪在裏而喘，有水氣之喘。在表者，因太陽表邪未解所致，必必腹滿而不堅，治宜發散。在裏者，因陽明內實失下而致，必心腹脹滿，治宜攻下。指掌賦云，微喘緣表之未解。喘滿而不惡寒者，當下而痊。若飲水過多，水氣泛溢而喘，必心下怔忡，治宜行水。若身汗如油，喘而不休，又為絕候。</p>
<h4>嘔吐附乾嘔</h4>
<p>嘔者，聲物俱有而漸出。吐者，無聲有物而頓出。較其輕重嘔甚於吐也。若有聲無物，為乾嘔也。蓋因表邪傳裏，裏氣上逆，則為嘔也。大抵傷寒嘔吐，多屬半表半裏。間有胃熱而嘔吐者。經曰、嘔吐雖有陽明症，不可攻之，為氣逆未收歛為實也。若胃熱而嘔吐者，脈弦數，口燥渴是也。胃寒而嘔吐者，脈弦遲，逆冷是也。水氣而嘔吐者，先渴後嘔鬲間怔忡是也。膿血而嘔吐者，喉中腥腥，血逆上衝是也。</p>
<p>又有所謂乾嘔者，因邪熱在胃脘，熱氣與穀氣相併，逆上冲胸，故有此症。大率與嘔吐治法不遠。</p>
<p>若太陽汗出而乾嘔，桂枝湯，主自汗也。少陰下利而乾嘔，薑附湯，生主下利也。厥陰吐涎沫而乾嘔，吳茱萸湯，主涎沫也。邪去則嘔自止矣。又有水氣之症，當之表裏別之。</p>
<h4>悸</h4>
<p>悸者，心中築築然動，而不能自安，即名怔忡，此屬心，心虛、故築然而動，若人捕焉。然悸症有九，其治法惟三。一曰、氣虛，因發表太過，氣衰神弱，心虛不能自持。二曰、水停心下，水氣乘心，心火畏水不能安。三曰、汗為心液，汗之過多，液去心空，無所倚依。各從症治，或養神，或補氣，或溫經分水可也。</p>
<h4>振</h4>
<p>振者，聳然動搖者是也。蓋汗吐下太過，使氣血虛而作。傷寒振者責其虛寒，至於欲汗之時，其人素虛，必蒸蒸而振卻發熱，汗出而解。振、近戰者也，而輕者為振矣。戰則正與邪爭，爭則鼓慄而戰，振則虛而不至爭，故止聳動而振也。下後復發汗者振寒，謂其表裏俱虛也。血家發汗，寒慄而振者，謂其氣血俱虛也。諸如此者，都是振聳耳。茲若振振欲擗地，有聲為振搖，二者皆發汗過多之陽經虛，不能主持，身為振搖也，非振慄之比，皆用溫經助陽滋血益氣之劑。一說、氣血俱虛，不能營養筋骨，身不能主持，故為振搖也。須大補氣血，曾用人參養營湯數服甚效。有一人身搖不得眠，以十昧溫膽湯倍用人參得效，</p>
<h4>戰慄</h4>
<p>戰慄者，陰陽相爭，肢體振動是也。經曰、戰者身為之戰搖，慄則心戰是也。形雖相似，實非一也。既分為二，更有內外之別焉。戰者，外也，屬陽。慄者，內也，屬陰。邪氣外與正氣爭，則為戰，戰其愈者也。邪氣內與正氣爭，則為慄，慄為甚者也。戰者正氣盛，慄者邪氣勝也。一云、戰之與振，振輕而戰重也。戰之與慄，戰外而慄內也。昧者通以為戰慄，非也。傷寒六七日，欲解時，必發戰而汗解也。戰則正氣勝，故得汗而解。慄則不戰，而但心戰，搖頭鼓頷，遂成寒逆，此陰氣內勝，正氣虛極，不能勝邪，宜薑附四逆湯以救之，故經曰、陰中於邪內必慄也。正氣內實，邪不能爭，則便汗出而不發戰。若邪氣欲出，其人本虛，邪與正爭則為振，甚則為戰，戰已發熱汗而解矣。若正不勝邪，雖戰無汗，為難治。若至半日或至夜有汗，亦解也。七日，或十四日，或五日，或十一日，忽然身寒鼓頷戰慄，急與薑米湯熱飲，以助陽氣，須臾戰止汗出而解矣。</p>
<h4>短氣</h4>
<p>短氣者，似喘非喘，呼吸短促，不相接續者是也。然有為之實者，有為之虛者，有在表者，有在裏者之不同。經曰、跌陽脈微而緊，緊為寒，微為虛，微緊相搏，則為短氣。金匱要略云、短氣不足以息者為實。</p>
<p>大抵心腹脹滿而短氣，邪在裏而為之實。心腹濡滿而短氣，邪在表而為之虛。又有水停心下，亦令短氣。</p>
<h4>渴附舌乾口燥</h4>
<p>渴者，裏熱也。津液為熱所耗，故令渴也。傷寒傳至厥陰，則為消渴，謂飲水多而小便少也。輕曰、脈浮而渴屬太陽，小青龍湯去半夏加花粉。有汗而渴屬陽明，白虎湯加人參，便實者宜下之。自利而渴屬少陰，承氣湯主之。至於厥陰，則熱之極矣，俱宜下之。大抵胃實熱甚而渴，當損其有餘。胃虛陰火上浮而渴，當補其不足。太陽症無汗而渴者，不可與白虎。陽明症汗多而渴者，不可與五苓。至若六七日渴欲得水，此為欲愈，宜少與之。若汗下過多，耗奪津液，亦令口渴。又有所謂舌乾口燥者，蓋因邪熱聚胃，消耗津液，胃汁乾也，宜調胃承氣湯。少陰舌乾口燥，此內外枯極，熱消腎汁，宜急下之。若汗下過多，津液衰少，或病方瘥，血氣尚虛，以致心火不降，腎水不升，而口燥咽乾者，宜滋陰養氣之劑。</p>
<h4>發黃</h4>
<p>經曰、濕熱相交，民多病癉。癉者，單陽而無陰也。蓋因當汗不汗，當下不下，當利小便不利小便所致也。太陰脾土，濕熱相蒸，色見於外，必發身黃。若濕氣勝，則如熏黃而晦，一身盡痛，乃濕病也。熱氣勝，則如橘黃而明，一身不痛，乃黃病也。傷寒至此，熱勢已極，且與蓄血症大抵相類。若小便不利，大便實，為發黃，小便自利，大便黑，為蓄血也。發黃，宜通利小便，分導其氣，流行其濕可也。故曰治濕不利小便，非其治也。茲若形體煙熏，環口黧黑，柔汗發黃，又為脾絕而不可治也。</p>
<h4>發狂</h4>
<p>經曰、重陽者狂，重陰者癲。又曰、邪入於陽則狂，邪入於陰則癲。又曰、陽邪併於陽則狂，陰邪併於陰則癲。又曰、熱毒在胃，併入於心，使神不寧，而志不定，遂發狂也。蓋因陽症失汗，使陽熱入深，又失下，使陽氣重盛，陰氣暴絕，獨陽而無陰者也。始則少臥頻起，妄語妄笑，甚則登高而歌，棄衣而走，踰垣上屋，熱莫可遏，治宜寒涼之劑勝之。傷寒至於發狂，邪熱至極，非大吐不能已也。若手足和煖，神氣清爽，脈息洪大，目睛光彩，此為可治。若反目直視，四肢厥冷，六脈沈微，狂言不食，此為必死。</p>
<p>凡發狂奔走，勢不可遏，煩置火盆於病人處，用醋一碗傾於火炭上，令其氣衝入病人鼻內，仍將薑汁噴其頭面身體手足即安，方可察其陽狂陰躁，而施治療。</p>
<p>凡熱病發狂，切不可掩閉床帳，須要揭開，候爽氣良久，遂用銅鏡按在心胸問，俟熱勢稍退即除。若熱太盛，燥渴不止，將硝一斤研細，以水一盆，用青布三五塊浸於硝水中，微攪半乾，搭在病人胸膛並心上，頻頻易之，如得睡汗乃愈。</p>
<h4>如狂</h4>
<p>如狂者，勢緩而尚能阻當，非若發狂勢凶而不能抵禦者也。惟起臥不安未至於狂耳。輕曰、熱結膀胱，其人如狂，此畜血症也，治以抵當湯或桃仁承氣湯。</p>
<h4>驚狂</h4>
<p>驚狂，乃亡陽驚惕之狂，非若重陽奔走之狂也。蓋因陽邪在表，發汗再之而汗不行，以致津液內竭，正氣耗散，或置火床榻之下，或燒鍼灼艾，劫奪取汗，變為此症，所以焂然而起，惕然而動，精神耗亂，肢體不寧。實者煩躁不已，虛者真陽脫亡。法當柴芩以卻熱，龍牡以收神又當視其虛實而酌治之。</p>
<h4>陰躁</h4>
<p>陰症而發躁者，亦如發狂狀，實非狂也。其病初起無頭疼，但躁煩欲坐泥水井中，或欲陰涼處坐，躁亂不心　，此陰極發躁者也。但手足逆冷，脈沈細，雖煩渴不能飲水者，為異也。用霹靂散治之，更須冷服。甚則身發微熱面赤戴陽，足冷煩躁，脈數無力，乃裏寒下虛，虛陽伏陰所致，宜人參四逆湯冷服。</p>
<p>欲醫乃以面赤身熱而誤作陽狂實熱，反成大害者，有心矣。須用涼水半盞試之，入口即吐出而不納者是也。又須詳脈，脈來有力無力者。此為良法。</p>
<h4>發斑</h4>
<p>發斑者，蓋因傷寒當下失下，邪熱蘊蓄於胃而致。不當下而下早，邪熱乘虛入胃。又有陽症誤服熱藥者，熱極焦腐而至。若汗下後熱不解，足冷耳聾，煩悶欲嘔，便是發斑之症。然斑症有二，一曰溫毒發斑，二曰熱病發斑，皆邪熱傷血，血熱不散，發於皮膚，輕為癮疹，重為錦紋也。俱用化斑湯主之。切不可發汗，汗則重令開泄，更增斑斕也。大抵身溫足暖，脈洪數者，為順。身涼足冷，脈微細者，為逆。如紅潤起發者，吉。稠密成片者，兇。微者赤斑，五死一生。甚者黑斑，十死一生。夫斑之方萌，與蚊跡相似，然發斑多見胸腹，蚊跡只見於手足。又脈來洪大，其人昏憒，先紅後赤者，斑也。脈不洪大，病人自靜，先紅後黃者，蚊跡也。</p>
<h4>霍亂</h4>
<p>經曰、有發熱頭疼，身痛惡寒，而吐利兼作者，此屬何病。答曰、此名霍亂是也。然有乾霍亂、濕霍亂之異。濕霍亂者，上吐下利，所傷之物，得以盡出而自愈矣。乾霍亂者，上不得吐，下不得利，物不能泄出，擁閉邪氣，關隔陰陽，煩擾擾悶亂，絞腸腹痛而死矣。大抵傷寒吐利，邪氣所傷。雜病吐利，飲食所傷。嗚呼，飲食有節，起居有常，豈能霍亂耶。飲食自倍，腸胃乃傷，喪身之由，實自至耳。</p>
<h4>鄭聲</h4>
<p>鄭聲者，聲如鄭衛之音，不能正也。孔子曰、惡鄭聲之亂雅樂也。經曰、虛則鄭聲，蓋因汗下過多，表裏虛竭，以致陽脫陰勝，其人正氣衰而本音失，精神奪而語句重，手足並冷，神昏舌短，音響糊塗，與譫語迴不相同。此症十無一治，不得已、姑用獨參湯或白通湯。</p>
<h4>言嚴語</h4>
<p>言嚴語者，謂呢喃而語，又作譫語，謂妄有所見而言也。皆由真氣昏亂，神識不清之所致也。又曰、表邪不散，陷入於胃，胃中熱盛，上乘於心，心為熱冒，則神氣昏亂，妄有所見而言也。輕則睡中呢喃，重則不睡亦語。有錯語，有獨語，有狂語，有語言不休，有語言舛亂者之不同，各以見熱之輕重也。大抵熱入於胃，水涸糞燥，必發譫語。經曰、邪氣盛則實，實則譫語。</p>
<h4>動氣</h4>
<p>動氣者，築築然跳動者是也。蓋因其人素有積氣，偶感傷寒，醫者妄施汗吐下法，致動其氣，隨臟所主，而見於臍之左右上下，是皆真氣不足。動及當臍者，以脾為中州，發汗吐下，先動脾氣，故不待言之也。故真氣內虛，臟氣不治，慎不可汗下也。又有腎臟之氣內虛，水結不散，氣與水搏，即發奔豚。通宜理中去朮加桂，以朮能燥腎水而閉氣，桂能泄奔豚故也。</p>
<h4>瘈瘲</h4>
<p>瘈者，筋脈急也。瘲者，筋脈緩也。急則引而縮，緩則縱而伸，或伸動而不止，名曰瘈瘲，俗謂之搐是也。</p>
<p>然瘈瘲者，風痰也，故癲癇則瘈瘲焉。傷寒瘈瘲者，皆由汗下之後，脾土受傷，肝木時旺，肺金不能制之，是以木生火，火生熱，熱生風，風火交煽，則手足動搖而搐搦也。傷寒至此，可謂危矣。治須平木降火，佐以和血脈、祛風痰之劑，倘勢稍減，症可治也。</p>
<h4>鬱冒</h4>
<p>鬱者，為鬱結而氣不舒。冒者，為昏冒而神不清。世謂之昏迷者是也。經曰、諸虛乘寒，則為鬱冒不仁。</p>
<p>又曰、冒家汗出自愈。由此觀之，鬱冒為虛寒可知矣。若少陰病下利而頭眩，時時自冒者，又為死證，謂其虛極而脫也。觀其若是，幸毋忽焉。</p>
<h4>自利</h4>
<p>自利者，不經攻下，而自然泄瀉者是也。然有協熱、協寒之別，須當明辯之。夫協熱者，即表邪傳裏，裏虛協熱，而自下列者是也。又有不應下而誤攻之，內虛協熱，亦為下利者是也。協寒者，即三陰經病。</p>
<p>協熱利者，臍下必熱，渴欲飲水，泄下黃赤，發熱後重，脈數者是也。協寒利者，臍下必寒，自利不渴，泄下清穀，脈微惡寒者是也。蓋傷寒自利多種，須識陰陽二字。如三陽下利，則身熱。太陰下利，則手足溫。少陰、厥陰下利，則身涼無熱。此確論也。大抵傷寒下利，挾太陽脈證，便不得用溫藥。俗醫但見下利，便作陰症而用溫熱之藥，其不發黃生斑也幾希。至若下利而有頭疼腰痛，肌熱目疼，鼻乾脈長者，此太陽陽明合病，葛根湯主之。若下利而有頭疼脈滿，口苦咽乾，或往來寒熱，脈弦而嘔者，此太陽少陽合病也，柴苓湯主之。若下利而有身熱脇痛，往來寒熱，或乾嘔，脈弦而長者，此陽明少陽合病，承氣湯主之。若脈不弦者順，脈弦者逆也。若風邪入胃，木來侮土，故令暴下。其治法或溫，或攻，或清下焦，或利小便，切不可發汗耳。設或下利而發熱，下利而厥逆，下利而肺實，下利而煩躁不得眠。</p>
<p>皆不可治也。</p>
<p>傷寒不利，十有六七，俗人不識，呼為潰底，遽用溫燥止濇之劑以助邪，變為危症，深可哀憫。</p>
<h4>不大便</h4>
<p>不大便，謂大便不通。蓋因熱蓄於胃，胃土燥裂，津液潰耗，以致大便不通。若見發渴譫語，潮熱自汗，脈實脹滿等證，宜三承氣湯選用。若以下後或發汗後，而大便乃不通者，此津液內竭，宜用蜜導或猪膽導法。若帶嘔者，未全入府人，雖有陽明症，不可攻之。若小便清者，知邪不在裏，而仍在表，亦不可攻心。若瘥後食早，胃氣不能運行而不便，分輕重以消導之。若病後血少，腸胃燥濇而不便者，又分老壯以滋潤之。</p>
<h4>小便自利</h4>
<p>太陽症下焦有熱，小腹必滿，應小便不利，今反利者，血症諦也。抵當湯主之。陽明症自汗出，腹發汗應小便少，今反利者，津液內竭也，尿雖硬、不可攻之，宜蜜導法。少陰症而小便利者，虛寒症也，四逆湯主之。</p>
<h4>小便不利</h4>
<p>膀胱乃津液之府，氣化則能出焉。若熱畜於下，濕蘊於中，氣因熱傷，結而不散，甚則小腹硬滿而痛，小便閉而不通也。若飲水過多，或中濕發黃，皆以利小便為先。如汗後亡津液，陽明汗多，則以利小便為戒。</p>
<h4>小便難</h4>
<p>經曰、陰虛則小便難。陰虛者，陽必湊之。蓋因膀胱受熱，，故小便澀而不能流利。</p>
<h4>小便數</h4>
<p>小便數者，腎與膀胱俱虛，而有客熱乘之也。二經既虛，致受客熱，虛則不能制水，故令數，小便數則水行澀，澀則小便不快，故令數。</p>
<h4>四逆附厥</h4>
<p>四逆者，四肢逆而不溫也。厥者，手足寒冷，甚於四逆也。節菴曰、邪在表則手足熱，邪在半表半裏則手足溫，邪在陰經則手足逆冷。然自熱致溫，自溫至冷，此傳經之邪也，輕則四逆散，重則承氣湯。若乃直中陰經之邪，初得病便手足厥冷，輕則理中湯，重則四逆湯。陽厥初有頭痛身疼，發熱惡寒，喜冷便秘，譫語，露手揚衣，發渴，脈沈數者，承氣湯。陰厥初無頭疼身熱，惟怕寒戰慄，倦臥欲眠，下利清穀，引衣自蓋，脈沈遲者，四逆湯。按四逆散方用柴胡枳實芍藥甘草，皆寒冷之物，而治四逆之疾，是知傳經之邪，非虛寒症也，故忌用溫熱之劑。今將傳經、直中兩症，分作陰厥、陽厥，則四逆與厥判然分明矣。</p>
<h4>畜血</h4>
<p>畜血者，瘀血立細結於內也。蓋因邪熱相攻，血留不行，故成此症也。經曰、太陽隨經瘀血在裏，血為熱搏結而不行，畜於下焦所致也。然血畜於上，則為善妄。血畜於下，則為如狂。若少腹急滿，小便當不利，令反利而大便黑者，血症諦也。宜用鹹寒苦泄勝血之劑，或抵當湯之類。若小便不利，則津液留結，可利其小便。若小便自利，則是畜血之症，可下其瘀血也。</p>
<h4>遺溺</h4>
<p>膀胱不利為癃，不約為遺溺。若腎虛，則膀胱之氣不約，故小便出而不自知也。其治法有陰陽虛實之別。若陽邪譫妄，神昏熱甚而遺尿者，當清心解熱。若陰邪厥逆，脈微寒極而遺尿者，當溫腎散寒。</p>
<p>設或狂言直視而遺尿者，又為腎絕而不可治也。</p>
<h4>搖頭</h4>
<p>頭者諸陽之會，諸陽脈皆上於頭，陽脈不治，則頭為之搖矣。然搖有三。一曰、搖頭言者，裏病也，以裏有痛，語言則劇，欲言而頭搖矣。二曰、獨頭搖，卒口噤，背反張者，痙病。以風盛於上，風主動搖，故頭搖也。然裏病、非邪病也，痛使之然。痙病、非厥逆也，風使之然。至於陽反獨留，形體如煙熏，直視而搖頭者，又為心絕也。</p>
<h4>怫鬱</h4>
<p>怫鬱者，蓋因表邪發熱汗出，覆蓋不週，汗出不徹，或甲遏風邪，是以陽氣鬱於肌膚，蒸於頭面，聚而不散也。若陰盛而面赤者，其色黯而不光。陽盛而面赤者，其色明而且潤。治須察其虛實，不可見面紅便作陽火治之。</p>
<h4>藏厥</h4>
<p>傷寒七八日，脈微膚冷，煩躁無時暫安者，此名藏厥。多難治，始當用四逆湯。</p>
<h4>除中</h4>
<p>傷寒厥深，下利脈遲，當不能食，而反能食者，名曰除中。除中者，中氣已絕，病不可治也。</p>
<h4>不仁</h4>
<p>不仁者，肌膚頑麻而不知痛癢寒熱也。蓋因發汗過多，亡其營血，不能周流經絡，乃為寒邪輳襲，血脈凝泣而不仁也。設或身汗如油，喘而不休，水漿不入，形體不仁，又為絕候也。</p>
<h4>直視</h4>
<p>直視者，視物而目睛不轉動者是也。傷寒至於直視，為邪氣已極，候已逆，多難治也。設或目中不了了者，又為可治之症也。二者形症相近，為工者宜熟思之。</p>
<h4>筋惕肉目閏</h4>
<p>內經曰、陽氣者，精則養神，柔則養筋。發汗過多，津液枯少，陽氣大虛，筋肉失養，故惕然而跳，目閏然而動也。治宜溫經養營之劑，故張氏特設真武湯以救之。</p>
<h4>熱入血室</h4>
<p>王冰曰、衝為血之至。言諸經之血，朝會於此。其脈起於腎下，並足陽明之經。若衝脈得熱血必妄行故。</p>
<p>在男子則為下血譫語，以邪熱傳入，正場明府病也。在婦人則為寒熱似瘧，以邪熱乃隨經而入也。</p>
<p>故曰婦人則隨經而入，男子由陽明而傳。一說、傷寒中風，偶遇經水適來，邪隨而入，或經水適斷，血熱而結，或胸滿膽語，或往來寒熱，或如瘧狀，皆為熱入血室也。皆不可汗下，無犯胃氣及中上二焦，並用小柴胡湯加歸芍生地丹皮以治之。</p>
<h4>吐蟲尤</h4>
<p>吐蟲尤者，蓋因傷寒胃虛之人，素有積冷，妄發其汗，以致胃中虛冷，饑不欲食，食即吐蟲尤也。先用理中湯，次用烏梅丸。待蟲尤已定而熱不退，或嘔噁脈數者，方用小柴胡湯。此症身雖躁熱，口雖燥渴，忌用寒涼。</p>
<h4>狐惑</h4>
<p>狐惑者，猶豫不決、進退之義也。蓋傷寒失汗，邪熱入腹，以致飲食少而腸胃空虛，三蟲舉而求食。其候四肢沈重，精神困倦，惡聞食氣，默默欲臥，目閉，舌白齒晦，面眉間赤白黑色變易無常。然蟲蝕下部為狐。下唇有瘡，其咽乾，蟲蝕其藏，為惑。上唇有瘡，其聲噁，通用治蠶桃仁湯。</p>
<h4>漱水不下咽</h4>
<p>漱水不下咽有三。若見表症而不下咽者，必作衂，以邪熱在經，迫血妄行也。若無表症，加之腹滿如狂，此為瘀血停留也。若陰極發躁，渴欲飲水，水入即吐，此無根之火遊於咽嗌之間，假作渴也。若能盡飲不解渴，而睡臥不寧者，此實火作渴也。</p>
<h4>饑不欲食</h4>
<p>饑不欲食者，由胃氣虛、客熱在胸中所致也，宜吐之。仲景曰、手足厥冷，脈乍緊，心煩，饑不欲食，病在胸，瓜蒂散吐之。</p>
<h4>過經不解</h4>
<p>傷寒，六日傳六經，為一候，七日當解。若不解，再傳，至十三日謂之過經。然去傷寒之邪，不過汗吐下三法，三法得當，則隨手而愈矣。若當汗失汗，則邪熱內陷，當下失下，則邪熱留滯，傳變不已，過經而不解也。亦有汗吐下後藥力欠至，邪氣未盡宿垢凝結於腸胃，餘毒壅窒於經絡，亦致過經而不解也。大法，虛者視輕重而調養之，實者量怯弱而再下之。</p>
<h4>百合病</h4>
<p>傷寒病後，失於調理，餘邪未盡，陰陽錯攻，當汗反下，當下反汗，以致為逆，邪不能解，故為百脈一宗，舉皆受病，無復經絡傳次，所以欲食不食，欲臥不臥，欲行不行，似寒無寒，似熱無熱，默默不知，口苦便赤，藥入口即吐利愈劇，如有邪祟，其脈微數，此為百合病，故用百合等湯。若溺時頭痛，六十日愈。</p>
<p>溺時頭不痛，淅然寒者，四十日愈。若溺快然而頭眩者二十日愈。</p>
<h4>壞病</h4>
<p>傷寒邪未盡，又感風寒暑濕燥火，而成壞病，或汗吐下溫鍼仍不解或小柴胡證罷而熱尚在，亦為壞病。蓋病已過經，熱留臟腑，陰陽壞亂，日久不痊，氣血漸衰，變為此症。視其何逆，以法治之。</p>
<h4>勞復</h4>
<p>勞、為勞動之勞，復、為再病之復也。蓋因傷寒新瘥，血氣未平，餘熱未凈，勞動其熱，熱氣還經，遂復熱也。非止強力搖體，持重遠行，至於梳頭洗面，夏悲思慮，皆能復也。况其過用者乎。其飲食復者，乃曰多食，過食內滯則復，餘邪因食滯而復聚也。又曰、食穀則危，飲酒則劇。經曰、傷寒瘥後更發熱者，小柴胡湯和之。脈浮數者，以汗解之。脈沈實者，以下解之。然傷寒之邪，自外入也。勞復之邪，自內發也。</p>
<p>嗚呼，食復也，勞復也，諸復可治，而御內則死矣。</p>
<p>昔顧子獻不以華尃之診為信，臨死致有舌出數寸之驗。由此觀之，可不駭哉。</p>
<h4>易病</h4>
<p>易病者，乃陰陽交易之謂也。蓋大病方瘥，餘邪未凈，車取動淫慾，毒氣返遏，互相為病也。若男病新瘥，婦人與之交而反得病者，謂之陽易。婦病新瘥，男子與之交而反得病者，謂之陰易。若不因易而自病重舉者，名曰女勞復，通用逍遙散加減。在男子則陰腫，少腹絞痛。在婦人則裏急腰胯重，連腹內掣痛。其症熱上衝胸，氣乏身重，頭重不舉，足不能移，眼中生花，四肢拘急，百節解散，男子卵縮入腹，婦人痛引陰中，俱用燒裩散，或豭鼠糞、竹皮等散，待小便利、陰頭腫退為愈。若手足拳攣，舌吐，而脈離經者，又為不治之症也。</p>
<h4>發頤</h4>
<p>傷寒汗不下徹，邪結在耳後一寸二分，或兩耳下俱腫硬者，名曰發頤。此皆餘邪熱毒不清，速宜消散，緩則腫潰矣，宜連翹敗毒散。</p>
<h4>厥</h4>
<p>夫陽氣衰於下，則為寒厥。陰氣衰於下，則為熱厥。經云、陽氣起於足五指之表，陽脈集於足下，而聚於足心，故陽氣勝則足下熱。陰氣起於足五指之裏，陰脈集於膝下，而聚於足心，故陰氣勝則從足五指至膝上寒。其他傷寒時疫，熱極入深、手足厥冷者，所謂熱深厥亦深，陽極似陰也。若誤認為寒，而用熱藥，則殺人於俄頃矣。宜承氣湯、白虎湯、大柴胡湯。若真是陰寒而厥者，則宜附子理中陽。陰衰熱厥，宜滋陰以制火。又有火鬱脾土之中，手足熱甚者，東垣升陽散火湯所由設也。</p>
<h4>疝</h4>
<p>疝氣者，睪丸連少腹急痛。有痛在睪丸者，有在五樞穴者，皆足厥陰經也。</p>
<p>按經云、任脈為病，男子內結七疝。則諸經之疝，無不以任脈為原矣。七疝者，衝、狐、㿗、厥、瘕、㿉、癃。寒則多痛，熱則多腫，濕則腫墜，虛亦腫。氣分多動，血分不移。在左丸屬寒，在右丸屬氣。痛少腹多。　後人謂七疝者，筋、水、狐、㿗、氣、血、寒。</p>
<h2>卷之三</h2>
<h3>陰虛論</h3>
<p>太極、動而生陽，靜而生陰。陽動則變，陰動則合，而生五行，各稟其性。惟人得備形氣之正，所受天地生氣。陽氣為氣，陰氣為血，身中之神，元氣之根。根於內者，名曰神機。根於外者，名曰氣立。與天地參而在氣交之中，隨天地之氣以升降浮沈。陽實陰虛，氣常有餘，血常不足，所與天地日月、四時盈虛、並同。陰平陽秘，形志以寧陽本在外，為陰之衛。陰本在內，為陽之守。性惑物感，精神外馳，嗜慾無節，陰氣耗散，陽無所附，遂至病作。惡寒非寒，惡熱非熱，證類實邪，此實陰虛發熱。熱乃火動，有君相之別。相火、所謂龍雷天火，君火、所謂人火。暑熱故火、乃有二，備於六氣。以名而言，形氣相生，配於五行，命曰君火。以位而言，生於虛無，守位稟命，目動而見，謂之相火。天以此火而為陽氣、以生萬物。人以此火以生一身。道氣沖和，助我元氣，元氣不足，相火燭盛。火與元氣，不能兩立，一勝一負，乃致陰虛火動，五亂俱施，金危木盛，土困水橫，迭相為制，母子背違。陽強不密，陰氣乃離，府藏經絡，偏實偏虛，遂失其正，邪悉由矣。虛邪外人，實邪內起，取經治正，補瀉所宜。肝主疎泄，腎司閉藏。肝為相火，有瀉無補。腎為真火，有補無瀉。水火變病虛實。所以夏月陽極，其本陽虛，水多火少。陰實陽虛，甚至傷寒，病未傳變，初治責虛。傷寒祛寒助陽，暑病清暑益氣。虛者十補勿一泄之，卻邪養正，平則守常。陽動陰靜，五行之機，根本化源，由乎水土。水為物元，土為物母。人能自存，益其根本，遞相濟養，是為和平，生化不已。若交互剋伐，變亂失常，鬱而無伸，甚而無制造化息矣。</p>
<h4>腸澼下血</h4>
<p>夫飲食不節，起居不時，則陰受之。陰受之則入五藏，為月真滿，為歹食泄，久為腸澼。腸澼者，水穀與血另作一派女泄桶湧出。又有藏毒，乃風暑熱蘊毒藏府，而下瘀血。腸風、乃風邪入藏，而下清血。糞前為近血，糞後為遠血。宜升補陽明，不可純用寒涼，須知寒因熱用之法，酒浸炒芩連槐花升麻秦艽白朮四物歸脾之類。果是風邪，如荊芥防風。邪減收濇，用烏梅地榆。溫散，加炒乾薑。</p>
<h4>治脾腎要知燥潤得宜</h4>
<p>大抵人之虛、多是陰虛火動，脾胃衰弱。真陰者水也，脾胃者土也。土雖喜燥，然太燥則草木枯槁。水雖喜潤，然太潤則草木濕爛。是以補脾胃及補腎之劑，務在燥潤得宜，隨病加減為妙。</p>
<h3>經論要旨</h3>
<p>炁之升降，天地之更相為用也。天炁下降，氣流於地，地氣上升，炁騰於天。故高下相召，升降相因，出入廢則神機化滅，升降息則氣立孤危。</p>
<p>出入、謂喘息也，升降、謂化氣也。夫毛、羽、倮、鱗、介及飛走蚑行，皆生氣根於身中，以為動靜之主，故曰神機。然金玉土石鎔延草木，皆生氣根於外，假氣以成立主持，故曰氣立。故非出入、則無以生長至壯老，非升降、則無以生長化收藏，是以升降出入，無器不有。</p>
<p>包藏生氣，皆謂生化之氣觸物然。夫竅橫者，皆有出入去來之氣，竅竪者，皆有陰陽升降之氣，往復於中。何以明之。則壁窗戶間，兩面同之，皆承來氣衝擊於人，是出入氣也。夫陽升則井寒，陰升則水煖，以物投井，及葉墜空中，翩翩不疾，皆升氣所礙也。虛管溉滿，捻上懸之，水固不泄，為無升氣而不能降也。空瓶小口，頓溉不入，為氣不入而不能入。由是觀之，升無不降，降無不升，無出則不入，無入則不出，有識無識，有情無情，去出入升降而云存者，未之有也。故曰升降出入，無器不有。</p>
<p>元氣凝空，水始生也。赤氣炫空，火始生也。蒼氣浮空，木始生也。素氣橫空，金始生也。黃氣際空，土始生也。人生十歲，始定血氣，已通其氣在下，故好走。二十歲血氣已盛，肌肉方長，故好趨。三十歲五藏大定，肌肉堅固，血脈盛滿，故好步。四十歲五藏六府皆大盛以平定，腠理始疎，榮華頹落，髮頗斑白，平盛不搖，故好坐。五十歲肝氣始衰，肝葉始薄，膽汁始減，目始不明。六十歲心氣衰，苦憂思，血氣懈惰，故好臥也。七十歲脾氣虛，皮膚枝。八十歲肺氣衰，魄離，故言善誤。九十歲腎氣焦，四藏經脈空虛。</p>
<p>百歲五藏皆虛，神炁皆去，形骸獨居而終矣。</p>
<p>生之來，謂之精。丙精相搏，謂之神。隨神往來者，謂性魂。並精出入者，謂之魄。所以任物者，謂之心。心有所憶，謂之意。意之所存，謂之志。因志而存變，謂之思。因思而遠慕，謂之慮。因慮而處物，謂之智。夫人之生，惟精與氣。為毛骨血肉者，精也。為呼吸冷熱者，氣也。然人為萬物之靈，非木石比，故其精其氣，莫不各有神焉。精之神、為之魄，氣之神、為之魂。耳目所以視聽者，魄之為也。此心之所以思者，魂之為也。合魂與魄，乃陰陽之神，而理實貫具乎其中。惟其魂魄之中有理具焉，是以靜則為仁義禮智之性，動則為寊隱羞惡恭敬是非之情，胥此出也。</p>
<p>夫天即氣，地即血。天包地，氣載血。今人骨肉藏府，皆血也，魄也。神機靈運，皆氣也，魂也。人死乃魂去魄存，氣靜血尚聚也。是以貴養氣，氣降、氣轉耗也。</p>
<p>人身之天為首，而一身之氣自流行貫通，脈絡相連，如耳目口鼻，為炁之出入，皆在於首，而為氣，必自下而上，故目如日月，而五藏皆屬之，豈非自地而起乎。天包地，地之上下有天，天之氣循環轉旋，無一息之停止。如人身自腹以上為天，腹之下為地，人身之氣，自足之湧泉而起，至於頭頂，又降而下，循環不窮。然謂之陰陽，亦以其上下言之爾。天氣在地下者為陰，在地上者為陽，其為形雖有陰陽之殊，其為氣則一也。</p>
<p>營者、穀之精氣，和調於五藏，灑陳於六府，乃能入於脈，故循脈上下、貫五藏六府也。衛者、水穀之悍氣，其氣慄疾滑利，故循皮膚之中、分肉之間，熏於盲膜，散於胸腹，不能入於脈也。</p>
<p>人有精、氣、津、液、血、脈，以為一炁乃辨為六名，其所以然者，兩神相搏，合而成形，常先身生，是為精。上焦開發，宣五穀味，熏府、充身、澤毛，若霧露之溉，是為氣。腠理發泄，汗出溱溱，是為津。穀入氣滿，淖澤注於骨憐　骨屬屈伸，洩澤，補益腦髓，皮膚潤澤，是為液。中焦受氣取汁，變化而赤，是為血。壅遏營氣，令無所避，是為脈。十二經脈，三百六十五絡，其血氣皆上於面，而走空竅。其精陽氣上走於目而為睛，其別氣走於耳而為聽，其宗氣上出於鼻而為臭，其濁氣出於胃走唇舌而為味，其氣之津液皆上熏於面。而諸陰脈皆至頸胸中而還，獨諸陽脈皆上至頭耳，故人面獨耐寒也。婦人無鬚者，衝任二脈皆起於胞中，上循腹裏，為經絡之海，不足於血，以其數脫血，衝任之脈不營於唇口，故鬚不生。有天宦者，此天之所不足也，其衝任不盛，宗筋不成，有氣無血，唇口不營，故鬚不生。</p>
<p>九竅者，肝開竅於目，心開竅於耳，肺開竅於鼻，脾開竅於口，腎開竅於二陰。胃者水穀之海，衝脈者十二經脈之海，膻中為氣之海，腦為髓之海。</p>
<p>形與氣任則壽，不相任則夭。皮與肉裏則壽，不相裏則夭。血氣筋絡勝形則壽，不勝形則夭。形充而皮膚緩者則壽，形充而脈小以弱者氣衰，氣衰則危矣。形充而顴不起者骨小，骨小則夭矣。形充而大肉月困堅分理者肉堅，肉堅則壽矣，形充而大肉無分理不堅者肉脆，肉脆則夭矣。平人而氣勝形者壽，病而形肉脫、氣勝形者死，形勝氣者厄。</p>
<p>太陽常多血少氣，少陽常少血多氣，陽明常多血多氣，太陰常多氣少血，少陰常少血多氣，厥陰常多血少氣。五運生病者，謂諸風掉眩，皆屬於肝。諸痛癢瘡，皆屬於心。諸濕腫滿，皆屬於脾。諸氣膹鬱，皆屬於肺。諸寒收引，皆屬於腎。</p>
<p>六炁為病者，謂諸暴強直，支輭戾，裏急筋縮，皆屬於風。厥陰風木，乃肝膽之氣也。諸病喘嘔吐酸，暴注急迫，轉筋，小便洞濁，腹滿月真脹，鼓之如敼，癱疽瘍疹，瘤氣結核，吐下霍亂，瞀鬱腫脹，鼻塞鼻衂，血溢血泄，淋閉身熱惡寒戰慄，驚癇、悲笑、譫妄衂衊血污，皆屬於熱。少陰君火之熱，乃心小腹之氣也。諸痙強直，積飲、痞膈中滿，霍亂吐下，體重跗腫，肉如泥、按之不起，皆屬於濕。太陰濕土，乃脾胃之氣也。諸熱瞀瘈，暴瘖昧，躁擾狂越，罵詈驚駭，跗腫痠疼，氣熱上衝，禁慄如喪神守，嚏嘔，瘡瘍喉痹，耳鳴耳聾，嘔湧溢食不下，目昧不明，暴注目閏瘈，暴病暴死，皆屬於火。少陽相火之熱，乃心包三焦之氣也。諸濇枯涸，乾勁皴揭，皆屬於燥，陽明燥金，乃肺大腸之氣也。諸病泄利，所出水液澄澈清冷，癥瘕㿗疝，堅痞，腹滿急滿、下利清白，食已不饑，吐利腥穢屈伸不便，厥逆禁固，皆屬於寒。乃腎與膀胱之氣也。</p>
<p>六極者，盡力謀慮，勞傷乎肝，應乎筋極。曲運神機，勞傷乎心，應乎脈極。意外過思，勞傷乎脾，應乎肉極。預事而憂，勞傷乎肺，應乎氣極。矜持志節，勞傷乎腎，應乎骨極。此因五勞應乎五極者也。然精極者，五藏六腐之氣皆衰，形體皆極，眼視無明，齒焦髮落，體重耳聾，行履不正，邪氣通於六府、厥於五藏，故成精極。</p>
<p>中熱消癉則便寒，寒中之屬則便熱。胃中熱，則消穀令人善饑，臍以上皮熱。腸中熱則出黃如糜，臍以下皮熱。胃中寒則腹脹。腸中寒則腸鳴歹食泄。胃中寒、腸中熱，則脹而且泄。胃中熱、腸中寒，則疾饑、少腹痛脹。氣海有餘者，胸中悗息面赤。氣海不足者，少氣不足以言。血海有餘，則常想其身大，怫然不知其所病。血海不足，則常想其身小，狹然不知其所病。水穀之海有餘，則腹滿能食。水穀之海不足，則饑而不受穀食。髓海有餘，則身輕有自過其度。髓海不足，則腦空耳鳴，脛痠眩冒，目無所見，懈惰嗜臥。</p>
<p>肝藏血，血舍魂，肝氣虛則恐，實則怒。脾藏營，營舍意，脾氣虛則四肢不用五藏不安，實則腹脹、經溲不利。心藏脈，脈舍神，心氣虛則悲，實則笑不休。肺藏氣，氣舍魄，肺氣虛則鼻塞不利少氣，實則喘喝、胸盈抑息。腎藏精，精舍志，腎氣虛則厥，實則脹。</p>
<p>肝病者，兩脇下痛引少腹，令人善怒，虛則目目巟目巟無所見，耳無所聞，善恐如人將捕之狀，逆則頭痛耳聾，則宗脈虛，虛則下溜脈有所竭者，故耳鳴人之自齧其舌者，此厥逆走上，少陰氣至則齧舌，少陽氣至則齧頰，陽明氣至則齧唇矣。故邪之所在，皆為不足。故上氣不足，腦為之不滿，耳為之苦嗚，頭為之苦傾，目為之眩。中氣不足，溲便為之變，腸為之苦鳴。下氣不足，則為痿厥心悗。人之善忘者，上氣不足，下氣有餘，腸胃實而心肺虛，虛則衛留於下，久不以時上，故善忘也。人之善饑而不嗜食者，精氣并於脾，熱氣留於胃，胃熱則消穀，穀消則善饑，胃氣逆上則胃脘寒，故不嗜食也。病而不得臥者，衛氣不得入於陰，常留於陽，則陰氣虛，故目瞑也。病而不得視者，衛氣留於陰，不得行於陽，則陽氣虛，故目閉也。病有標本，故有在標而求之於標，有在本而求之於本，有在本而求之標，有在標而求之本，故知標本者，萬舉萬當，不知標本，是謂妄行。先病而後熱者，治其本。先熱而後者，治其標。先寒而後生病者，治其標。先病而後生寒者，治其本。先熱而後生病者，治其本。先熱而後生中滿者，治其標。先病而後泄者，治其本。先泄而後生中滿者，治其標。先中滿而後煩心者，治其本。大小便不利，治其標。大小便利，治其本。病發而有餘，本而標之，先治其本，後治其標。病發而不足，標而本之，先治其標，後治其本。</p>
<h4>因形氣以定診之說</h4>
<p>逐脈審察者，一成之短。隨人變通者，圓機之士也。瘦小之人，氣居於表，六脈常帶浮洪。肥盛之人，氣歛於中，六脈常帶沈數。性急之人，五至方為平脈。性緩之人，四至便作熱醫。身長之人，下指宜疎。身短之人，下指宜密。北方之人，每見強實。南方之人，每多柔弱。少壯之脈多大。老年之脈多虛。酒後之脈多數。飯後之脈多洪。遠行之脈必疾。久饑之脈必空。室女尼姑多濡弱。嬰兒之脈常七至。經曰、形氣相得者生，三五不調者死。其可不察於此乎。</p>
<h4>脈貴提綱之說</h4>
<p>脈者，氣血之先，先陰陽之兆，貴得其綱領而提挈之也。左手為陽，右手為陰。關前為陽，關後為陰。浮取為陽，沈取為陰。躁數為陽，遲慢為陰。有力為陽，無力為陰。長大為陽，短小為陰。明乎此，而脈之大端已在是矣。故曰、約而言之，只浮沈遲數，已見其梗概。博而致之，雖二十四字，未盡其精詳。經曰、知其要者，一言而終，不知其要，流散無窮。此之謂也。</p>
<h4>陰陽相乖相伏</h4>
<p>浮取之候，兩關之前，皆陽也。若見緊小短濇之類，是陽不足而陰乘之也。沈取之候，兩關之後，皆陰也。若見洪大數滑，是陰不足而陽乘之也。陰脈之中，陽脈間一見焉，此陰中伏陽也。陽脈之中，陰脈間一見焉，此陽中伏陰也。陰乖陽者，必惡寒。陽乘陰者，必發熱。陰中伏陽者，期於夏。陽中伏陰者期，於冬。以五行之理推之，而月節可期也。</p>
<h4>脈無根有兩說</h4>
<p>一以尺中為根。人之有尺，猶樹之有根，水為天一之元，先天命根也。王叔和曰、寸關雖無，尺猶不絕，如此之流，可憂殞滅，謂之有根也。若腎脈獨敗，是無根矣。一以沈候為根。經曰、諸脈浮而無根者皆死，是謂有表無裏，是謂孤陽不生。造化所以亘萬古而不息者，一陰一陽、互為其根。陰既絕矣，孤陽豈能獨乎。此二說似乎不同，而實則一致。兩尺為腎部，沈候之、六脈皆腎也。然則兩尺之無根與沈取之無根，總為腎水絕也。</p>
<h4>經脈直指</h4>
<p>夫脈者，氣血之先。氣平則和，氣盛則洪，氣衰則微，氣滯則濇，氣縮則短，氣虧則虛，氣急則促，氣大則長，氣搏則浮，氣鬱則沈，氣寒則遲，氣而數，氣結則歇止見矣。若以脈之盛者察諸病原，未有不得其情者也。左寸盛者，風寒也。右寸盛者，痰火也。左關盛者，氣鬱也。右關盛者，內傷也。左尺盛者房勞也。左尺盛者，勞力也。兩寸俱盛者，傷風生痰也。兩關俱盛者，氣鬱傷食。兩尺俱盛者，房勞兼之勞力也。左寸與右關盛者，風寒挾食也。左寸與右尺盛者，勞力受寒也。右寸與左關盛者，氣鬱生痰也。右寸與左尺盛者，陰虛火動也。左寸與左關盛者，感寒鬱氣也。左寸與左尺盛者，房勞受寒也。右寸與右關盛者，食積生痰也。右寸與右尺盛者，勞傷元氣、感受風邪也。左關與右尺盛者，氣鬱勞傷也。左關與左尺盛者，房勞鬱氣也。右關與左尺盛者，醉飽房勞也。右關與右尺盛者，飽食勞役也。又有六脈皆浮者為風，滑者為痰，遲則為冷，濡則為濕，洪則為火，緊則為痛，沈則為氣，數則為熱，弦則為寒，弱則為虛，芤則為失血，濇則為少氣，弦緊者為風寒，微弱者為陽虛，短縮者為陰虛，浮滑者為風痰，洪大為火邪，弦大者為實熱，實大為有餘，虛大為不足。</p>
<h4>婦人脈</h4>
<p>婦人女子，尺脈常盛，而右手脈大，皆其常也。若腎脈微濇，左手關後尺內脈浮，或肝脈沈急，或尺脈滑而斷絕不勻，皆經閉不調之候也。婦人三部浮沈正等，脈來流利均勻和平，無他病而不月者，娠也。尺脈滑大，數而旺者，亦孕也。又左手尺脈洪大為男，右手沈實為女。又曰洪大為女。經曰、陰搏陽別，謂之有子。尺內陰脈搏手，則其中有陽脈也。陰陽相穀，故能有子也。凡女子天癸未行之時、屬少陰，既行、屬厥陰，已絕、屬太陰，胎產之病、屬厥陰。凡婦人室女，病傷寒熱病及諸寒熱氣滯，須問經事若何，產後須問惡露有無多少。</p>
<h4>辨胎脈</h4>
<p>脈動入產門者，有胎也。尺中脈滑而旺者，胎脈。左手尺脈浮洪者為男，右手尺脈沈實為女。關脈滑者為男。左手寸口脈大為男，右手寸口脈沈細為女。足太陽膀胱洪大是男，足太陰脈洪是女。陽脈皆為男，陰脈皆為女。陰中見陽為男，陽中見陰為女。手少陰脈動者，妊子也。兩手尺部俱洪者為兩男，兩尺俱沈實者為兩女。左手脈逆為三男，右手脈順者為三女。寸關尺大小連疾相應，是為一男一女。脈滑而疾者，三月胎候也。但疾而不散者，五月也。關上一動一止者一月。一動二止者二月。依此推之，萬不失一中。衝是陽明胃脈連絡，脈來滑疾者，孕及九旬，尺脈沈細而滑或離經，夜中覺痛，日中則生矣。</p>
<h4>傷寒不治症</h4>
<p>大發熱，汗出不止如貫珠，此本氣衰者，不治。爪甲青為陽氣衰者，不治。循衣摸床，喘而不休，衛氣絕者，不治。聲如鼻鼾，肺絕者，不治。身體如僵，正氣脫也。喘而不休邪氣勝也。汗出如油，喘而不休，水漿不下，形體不仁，午靜乍亂者，此為命絕也，不治。汗出髮潤，喘而不休者，此為肺絕也。陽反獨留，形體如煙熏，直視搖頭者，此心絕也。唇吻反青，四肢漐習汗出者，此肝絕也。環口黧黑，柔汗發黃者，此脾絕也。溲便失遺狂言，目反直視者，此腎絕也。皆不治也。</p>
<p>醫書、生死書也，最忌迂而不切，晦而不明，以滋學者之惑，而傷寒一書尤甚。吾師因由博反約，採取前賢往論，集成二卷，復講明陰陽升降之理，切脈審症之要，為一卷，名曰醫效秘傳。書僅盈寸，而旨趣無窮，此吾師不得已成此概明且切之書，以使學者觸眼即豁，不致低徊沈索，亦行遠自邇、登高自卑之意也。然讀是書者，不得因其觸眼即豁而低徊沈索，又大非吾師繼往開來之深意矣。乾降七年五月望日門人陸得楩禹川百拜敬識附諸方桂枝湯桂　枝　芍　藥　甘　草　生　薑　大　棗麻黃湯麻　黃　桂　枝　杏　仁　甘　草桂麻各半湯即桂枝湯合麻黃湯。</p>
<p>麻桂飲官　桂　當　歸　炙甘草　麻　黃　陳　皮五苓散豬　苓　茯　苓　苓　朮　澤　瀉　桂葛根湯葛　根　麻　黃　生　薑　桂　枝　芍　藥　甘　草大　棗桂枝加葛根湯即前方除麻黃。</p>
<p>柴葛解肌湯柴　胡　葛　根　羌　活　白　芷　黃　苓　芍　藥桔　梗　甘　草加薑、棗、石膏煎。</p>
<p>小柴胡湯柴　胡　黃　苓　人　參　甘　草　生　薑　半　夏大　棗大柴胡湯柴　胡　半　夏　黃　苓　芍　藥　生　薑　大　棗枳　實　大　黃理中湯白　朮　乾　薑　甘　草　人　參附子理中湯即前方　如附子。加枳實、茯苓，蜜丸，即枳實理中丸。</p>
<p>豬苓湯豬　苓　茯　苓　阿　膠　滑　石　澤　瀉麻黃附子細辛湯麻　黃　附　子　細　辛麻黃附子甘草湯即前方去細辛，加甘草。</p>
<p>大承氣湯大　黃　芒　硝　厚　樸　枳　實小承氣湯大　黃　厚　樸　枳　實調胃承氣湯大　黃　芒　硝　甘　草乾薑附子湯乾　薑　附　子四逆湯附　子　乾　薑　甘　草冷服。</p>
<p>四逆加人參湯即前方加人參。</p>
<p>大青龍湯麻　黃　甘　草　桂　枝　杏　仁　石　膏　生　薑大　棗小青龍湯麻　黃　桂　枝　芍　藥　細　辛　甘　草　乾　薑半　夏　五味子九味羌活湯羌　活　防　風　蒼　朮　細　辛　川　芎　白　芷生　地　黃　苓　甘　草加生薑、蔥白煎。</p>
<p>白虎湯石　膏　知　母　甘　草　粳　米人參白虎湯即前方加人參。</p>
<p>補中益氣湯黃　耆　人　參　甘　草　白　朮　陳　皮　當　歸升　麻　柴　胡　生　薑　大　棗升麻葛根湯升　麻　葛　根　芍　藥　甘　草加薑煎。</p>
<p>化斑湯即白虎湯除粳米，加人參。</p>
<p>當歸補血湯黃　耆　當　歸空心腹。</p>
<p>梔豉湯肥梔子　香　豉升麻湯升　麻　蒼　朮　麥　冬　麻　黃　黃　苓　大　青石　膏　淡竹葉消風百解散荊　芥　白　芷　陳　皮　麻　黃　蒼　朮　甘　草用蔥白、生薑煎。</p>
<p>人中黃丸大　黃　人中黃　蒼　朮　桔　梗　滑　石　人　參黃　連　黃　苓　防　風　香　附神麴為丸。</p>
<p>清熱解毒湯黃　黃　黃　苓　芍　藥　生　地　人　參　石　膏羌　活　知　母　甘　草　升　麻　葛　根　生　薑瓜蒂散甜瓜蒂　赤小豆稀涎散皂　角　白　礬回陽救急湯附　子　乾　薑　肉　桂　人　參　白　朮　茯　苓半　夏　陳　皮　甘　草　五味子加薑煎。入麝三釐調服。</p>
<p>陽毒升麻湯升　麻　甘　草　犀　角　射　干　黃　苓　人　參陰毒甘草湯升　麻　鱉　甲　當　歸　甘　草消食丸砂　仁　陳　皮　三　稜　蓬　朮　神　麴　麥　芽香　附麴和丸。</p>
<p>芍藥甘草附子湯即四逆湯去乾薑，加芍藥。</p>
<p>桂枝附子去桂加白朮湯附　子　甘　草　白　朮　生　薑　大　棗甘草附子湯甘　草　附　子　白　朮　桂　枝吳茱萸湯吳茱萸　人　參　大　棗　生　薑小建中湯桂　枝　生　薑　芍　藥　甘　草　大　棗　飴　糖黃耆建中湯即前方加黃耆。</p>
<p>真武湯附　子　白　朮　茯　苓　白　芍　生　薑附子湯即前方法生薑，加人參。</p>
<p>甘桔湯甘　草　桔　梗苦酒湯半　夏　雞子白　苦　酒大陷胸湯大　黃　芒　硝　甘　遂小陷胸湯黃　連　半　夏　栝　蔞三物白散桔　梗　貝　母　巴　豆小半夏加伏苓湯半　夏　生　薑　茯　苓大黃黃連瀉心湯大　黃　黃　連桔梗半夏湯半　夏　陳　皮　茯　苓　甘　草　結　梗加薑煎。</p>
<p>犀角地黃湯生　地　白　芍　犀　角　丹　皮抵當湯水　蛭　蝱　蟲　桃　仁　大　黃十棗湯芫　花　甘　遂　大　戟　大　棗人參養營湯人　參　白　朮　白　芍　黃　耆　當　歸　茯　苓熱　地　甘　草　陳　皮　桂　心　遠　志　五　味加薑、棗煎。</p>
<p>十味溫膽湯半　夏　茯　苓　陳　皮　甘　草　枳　實　竹　茹遠　志　棗　仁　人　參　熱　地加薑煎。</p>
<p>桃仁承氣湯桃　仁　大　黃　芒　硝　甘　草　桂　枝霹靂散附　子　真臘茶水煎，冷服。</p>
<p>獨參湯人　參去蘆煎。</p>
<p>白通湯附　子　乾　薑　蔥　白柴苓湯即小柴胡湯合五苓散。</p>
<p>蜜煎導法以蜜煉如餳，捻成指大，長二寸許，納穀道中。</p>
<p>豬膽導法豬膽汁入醋少許，用竹管長三四寸，以一半納豰道中，將汁灌入。</p>
<p>四逆散柴　胡　芍　藥　枳　實　甘　草烏梅丸烏　梅　細　辛　桂　枝　人　參　黃　連　乾　薑川　椒　當　歸　附　子　黃　柏　苦　酒治蜜桃仁湯桃　仁　槐　子　艾　棗百合地黃湯百　合　生地黃汁燒裩散取婦人中裩近隱處者，剪燒灰，以水和服。婦人病，取男子裩襠。</p>
<p>豭鼠糞散韭　根　豭鼠糞連翹敗毒散人　參　羌　活　獨　活　柴　胡　前　胡　川　芎枳　殼　桔　梗　茯　苓　甘　草　連　翹　金銀花加薑、薄荷煎。</p>
<p>升陽散火湯柴　胡　防　風　葛　根　升　麻　人　參　白　芍炙　草　生　草　羌　活　獨　活加薑、棗煎。</p>
<p>歸脾湯黃　耆　當　歸　龍眼肉　木　香　茯　神　遠　志酸棗仁　甘　草　人　參　白　朮薑、棗煎。</p>
<p>四物湯當　歸　生　地　芍　藥　芎　藭竹皮湯青竹皮</p>
