<header data-type="book">
<h1>救傷秘旨</h1>
</header>
<h2>管序</h2>
<p>跌打損傷諸方，從古為技擊家所秘，世傳蓋鮮。然冰淵之懼，人所時有。一遭不虞，而治之不得其法，命懸呼吸矣。友人趙君蘭亭，薄游吳楚，遍集良方。初不自私，欲以濟世。</p>
<p>余戚黃云海為序其書，名曰《救傷秘旨》。而余任開雕之責，夫亦愿家有是書，可收救傷之實效也。既而蘭亭復以《跌損方》一冊見示。閱其書，蓋高郵孫氏所刊傳者。卷中分門別類，各出證治。其傳甚遠而且秘，誠異書也。特高郵遠隔三江，去吾鄉千余裡，雖有刊本，何能多得。今並梓之，以廣其傳。亦猶刻趙君《救傷秘旨》之意耳。</p>
<p><u>時咸豐二年歲在壬子中秋前三日黃岩管頌聲賡堂甫書於米船樓</u></p>
<h2>黃序</h2>
<p>士君子身體發膚，不敢毀傷，蓋語其常耳。使之從王事赴疆場，矢刃交下，旗鼓相當，遑慮傷哉！顧有國家者，得人以興，失人以亡。當臨陣時，雖智勇之將，難保無傷。其傷也，不治則死，得治則生。生則國家倚賴，死則三軍沮喪。以是知醫治之術，不可不詳也。等而下之，鄉鄰有斗者，一朝之忿，或傷人，或受傷，不治則死，得治則生。生則可以息爭，死則受傷者賁恨。而傷人者斷　以償，於是更知醫治之術，不可不詳也。吾友天台趙君蘭亭，慈祥人也。嘗溯江流，學西洋種痘之法於武昌，歸而傳種，俾兒痘不殤。又嘗廣集醫方，隨宜施治。而尤憫夫受傷者之鮮良方也。蓋是技擊之家，以為秘藏，索賂不足，則求治不應，是以傷者多亡。君少好勇，薄游四方。遇技擊之良者，必止而請教焉。故獨得其詳，匯抄成帙，藏之縹緗。固嘗不受酬謝，而起人折傷矣。以種痘來黃，余與管君賡堂獲交焉。君因出示所抄諸方。閱其方，皆世所不傳，而誠可以救傷者也。遂名曰《救傷秘旨》。而賡堂為之出資刊布，以播諸遐方。今而後治傷之術可得而詳。其將為醫國之良歟。然吾尤愿人之無傷也。</p>
<p><u>咸豐元年孟夏之月蒼溪教弟黃　拜撰</u></p>
<h2>總論</h2>
<p>六脈綱領曰：浮、沉、遲、數、滑、澀。浮沉以部位言，而虛、實、濡、弱、革、牢六脈從之。遲數以至數言，而緊緩促結代五脈從之。滑澀以形象言，而長、短、洪、微、芤、弦、動、伏、散、細十脈從之，此脈之大概也。又有解索、雀啄、屋漏、魚翔、彈石、蝦游等名，皆死脈。人有四海，腦為髓海，丹田為精海，臍為氣海，脾為血海。人有五余，頭發屬心，血之余。眉毛屬肝，筋之余。須屬腎，精之余。腋毛屬脾，肌肉之余。陰毛屬肺，氣之余也。又指爪筋之余，筋乃骨之余，骨乃精之余，皮乃血之余，脈乃氣之余，骨節乃五臟之余也。五臟之竅，舌為心苗，心寄竅於耳，眼為肝竅，口為脾竅，鼻為肺竅，耳為腎竅，腎又開竅於二陰焉。五臟絕症，鼻孔向上而黑者，肺絕也。嘴唇反起黑色者，脾絕也。魚目定睛，人中陷者，肝絕也。舌尖黑色，芒刺有胎，心絕也。兩耳黑色，腎囊吊起，腎絕也。以上五絕之症，不治。頭為諸陽之會，正額屬心，心主血，最畏見風，若破傷風，頭額發腫者即死。</p>
<h3>十二時氣血流注歌</h3>
<p>寅時氣血注於肺。卯時大腸辰時胃。巳脾午心未小腸。膀胱申注酉腎注。戌時包絡亥三焦。子膽丑肝各定位。</p>
<p>凡損傷骨斷皮破者，藥用水煎。皮不破者，藥用酒煎。必加童便，以活瘀血。</p>
<h4>發散方</h4>
<p>凡跌打損傷，先用發散為主。</p>
<p>川芎　枳殼　羌活　澤蘭　荊芥　防風　獨活　歸尾　乾薑（各一錢）　加蔥白三莖，水煎服。</p>
<h4>十三味總方</h4>
<p>三棱（五錢）　赤芍　骨碎補（各一錢五分）　當歸（傷上中二部用全歸，傷下部用歸尾）莪朮　元胡索　木香　烏藥　青皮　桃仁　蘇木（各一錢）　若傷重者，大便不通，加大黃四錢。恐有瘀血入內，澀滯，通瘀為主。用陳酒半斤煎，又加縮砂仁三錢。同煎服。</p>
<h4>十四味加減方</h4>
<p>菟絲子　肉桂　劉寄奴　蒲黃　杜仲　元胡索　青皮　枳殼　香附　五靈脂　歸尾縮砂仁（各一錢）　五加皮（一錢五分）　廣皮（二錢）　酒水各半煎服。</p>
<h4>七厘散</h4>
<p>地鱉蟲（去頭足）　血竭　硼砂（各八錢）　莪朮（醋炒）　五加皮（酒炒）　菟絲子木香　五靈脂（醋炒）　廣皮（各五錢）　生大黃　土狗（各六錢）　朱砂　猴骨（各四錢）　巴豆霜　三棱　青皮　肉桂（去粗皮，不見火，各三錢）　赤芍（酒炒）　烏藥（炒）　枳殼　當歸（酒炒）　蒲黃（生熟各半,各二錢）　麝香（一錢五分）　以上各制，共為末。傷輕者服七厘，重者服一分四厘。最重者服二分一厘。陳酒沖服。仍可加入十三味總方內服之。凡瘀血攻心者即醒。</p>
<h4>飛龍奪命丹</h4>
<p>硼砂　地鱉蟲　自然銅（醋炙七次）　血竭（各八錢）　木香（六錢）　當歸　桃仁　莪朮五加皮（酒炒）　猴骨（制,各五錢）　元胡索（醋炒）　三棱（醋炒）　蘇木（各四錢）　五靈脂（醋炒）　赤芍（酒炒）　韭子（炒）　蒲黃（生熟各半）　破故紙（鹽水炒）　廣皮（炒）　川貝枳殼　朱砂　葛根（炒）　桑寄生（炒各三錢）　肉桂（去粗皮，不見火）　烏藥　羌活　麝香杜仲（鹽水炒）　秦艽（炒）　前胡（炒）　土狗（不見火）　青皮（醋炒，各二錢）　以上各制，共為細末。傷重者服三錢，輕者服一錢五分。老酒沖服。仍可加入十三味總方內服之。</p>
<h4>地鱉紫金丹</h4>
<p>地鱉蟲　硼砂　血竭　自然銅（各八錢）　烏藥　土狗　元胡索（醋炒）　當歸（酒炒）　桃仁威靈仙（酒炒）　川牛膝（各五錢）　麝香　香附（制）　木香（各四錢）　川續斷（鹽水炒）</p>
<p>五加皮（炒）　猴骨（制）　蘇木　貝母　廣皮（炒）　澤蘭　五靈脂（醋炒，各三錢）　菟絲子（不見火，二錢）　以上各制，共為細末。傷重者服三錢，輕者服一錢五分。酒送下。</p>
<h3>三十六大穴圖說</h3>
<p>凡人身上，有一百零八穴。內七十二穴不致命，不具論。其三十六大穴，俱致命之處，受傷者，須用藥調治之。藥法開後。</p>
<p>頭額前屬心經，心主血，不可損。損後最怕風。打重血不止者，血出見風發腫者，三五日或六七日死。不見風不腫者，不死。用川羌活、川芎、防風各一錢，加前十三味方內同煎服。再用奪命丹三四服，愈。</p>
<p>兩眉中間為眉心穴。打重者，頭大如斗，三日死。用前十三味方加川芎、川羌活、防風、荊芥各一錢五分，煎服。如不服藥者，不腫不死。浮腫出血，必死。</p>
<p>頭額兩邊為兩太陽，打重者七日死，或半月死。損耳目，其血凝成膿者，不死。不可見風，見風則發腫而死。宜用川芎、川羌活各一錢，加入十三味方內煎服。仍沖七厘散二分，再用奪命丹二服，外敷桃花散。</p>
<p>頭腦後為枕骨，管十二經。又名督脈。一身之主，不可損傷。打重者腦骨髓傷，多則七日，少則五日，必死。極重者或一日即死。用前十三味方加當歸、川芎各一錢，同煎服。沖入七厘散三分，又奪命丹三五服。不吃藥，雖愈後，腦疼不止。</p>
<p>腦後兩邊屬太陽經，有藏血穴。近耳後，又屬肝膽經，有厥陰穴。打重者，損其血。見風，又損其氣。浮腫者，四十日必死。用前十三味方加生地、川芎、當歸各一錢，煎服。仍沖七厘散三分，再用奪命丹三服。</p>
<p>心口上為華蓋穴，屬心經。直拳打重，人事不省，血迷心竅，不治必死。此乃傷胃氣，致心胃氣血不能行走。宜用枳殼三錢、良薑一錢、加前十三味方內同煎服。又加七厘散二分五厘，行走心胃中瘀血。瘀血走動，泄瀉三五次，即瘥。瀉不止，用冷粥止之。又用奪命丹二服，全愈。如不斷根，三十六個月而死。</p>
<p>心口中名黑虎偷心穴，屬心經。上擦下拳，打重者，兩眼昏花，人事不省。用前十三味方加肉桂一錢，丁香五分，同煎。再用七厘散三分沖服。又用奪命丹三服，再用紫金丹三五服。如不服藥，百二十日必死。又方：金竹葉（二錢）　柴胡（一錢五分）　鉤藤（一錢）　當歸　陳皮楂肉　苡仁　麥冬（各五分）　沉香　炙草　荊芥　防風（各三分）　加青柿蒂三個，酒、水各半煎。又加膽草五分調服，效。</p>
<p>心口下一寸五分為巨闕穴，為心募。打重者，人事不省。當用打法，向右邊肺底穴下半分，劈拳一　，即醒。用前十三味方加桔梗八分、川貝一錢，同煎二服。再用奪命丹五六服，又紫金丹二三服。若不愈，一百二十日死。</p>
<p>臍上水分穴。屬小腸、胃二經。打重者，不服藥二十八日死。宜用前十三味方加桃仁、元胡索各一錢，同煎。沖七厘散三分服，再用奪命丹三服。</p>
<p>臍下一寸五分名氣海穴。打重者九日死。用前十三味方加木通一錢，三棱一錢五分，同煎。沖七厘散一分五厘服。又加減十四味方二服。如不服藥，四十八日必死。</p>
<p>臍下三寸名關元穴。傷重者五日死。用前十三味方加青皮、車前子各一錢五分，同煎。</p>
<p>沖七厘散三分服。再用奪命丹三服全愈。若不服藥，二十四日必死。</p>
<p>臍下四寸名中極穴。傷重者，大小便不通，十二日死。用前十三味方加三棱、莪朮、生大黃各一錢，同煎。沖七厘散一分五厘服。再用紫金丹二服。如不服藥，一百零八日必死。</p>
<p>左乳上一寸六分為膺窗穴。屬肝經。拳打重者十二日死。用前十三味方加青皮、乳香各一錢，同煎。沖七厘散三分服。再用奪命丹三服，每服三錢。仍沖十三味方內服。如不服藥，四十八日必死。</p>
<p>右乳上一寸六分，膺窗穴。屬肺經。金槍傷重者，一百十六日死。用前十三味方加木香一錢五分同煎。沖七厘散二分服，可以行走瘀血。再用奪命丹三服，全愈。</p>
<p>左乳下一寸六分為乳根穴。屬肝經。拳打重者吐血死。用前十三味方加鬱金　劉寄奴各一錢五分　同煎。沖七厘散二分五厘服。再用奪命丹一服。如不服藥，三十四日死。</p>
<p>右乳下一寸六分乳根穴，屬肺經。拳打重者九日死。或兩鼻出血，必死。宜用前十三味方加百部、桑白皮各一錢同煎。沖七厘散一分五厘服。再用紫金丹三服。如不斷根，一年必死。</p>
<p>左、右乳下一同受傷，名為一計害三賢。三夾者死。此心、肝、肺三經傷也。重者七日死。用前十三味方加木香、枳殼各一錢同煎，沖七厘散三分服，再用奪命丹三服。如不斷根，五十四日死。</p>
<p>左乳下一寸六分旁開一寸為期門穴。屬肝經。拳打重者三十八日死。用前十三味方加木香、廣皮各一錢五分，同煎。沖七厘散二分五厘服，再用奪命丹三服。</p>
<p>右乳下一寸六分旁開一寸為期門穴。屬肺經。拳打重者三十六日死。用前十三味方加五靈脂一錢五分，蒲黃一錢，同煎。沖七厘散二分五厘服，再用奪命丹三服全愈。如不斷根，五十四日必死。</p>
<p>心下巨闕穴兩旁各開五分名幽門穴。左屬肝。右屬肺。拳打重者，名曰沖炮。一日即死。用前十三味方加白豆蔻、木香各一錢，同煎。沖七厘散三分服，再用奪命丹三服。又用加減十四味方，煎二劑。沖紫金丹三服。外用吊藥敷上。如不服藥，其傷必發。一百二十日死。</p>
<p>左肋近臍處為血門，名商曲穴。點打重者六個月死。用前十三味方加羌活、五加皮各一錢五分，同煎。沖七厘散二分五厘服，再用奪命丹二三服。如不服藥，一年必死。</p>
<p>右肋近臍處為氣門，名商曲穴。點打重者五個月死。用前十三味方加柴胡、當歸各一錢，同煎。沖七厘散二分五厘服。再用奪命丹三服。若損傷後小便不通，加車前子、木通。若仍不通，用蔥頭白搗碎，酒炒，貼臍上，即愈。如不服藥，一百二十日死。</p>
<p>左肋梢骨盡處軟肉邊為血囊，名章門穴。打重者四十二日死。用前十三味方加歸尾、蘇木各一錢，同煎。沖七厘散二分五厘服。再用紫金丹三五服愈。如不服藥，一年而死。</p>
<p>右肋梢骨盡處軟肉邊為氣囊，名章門穴。打重者一百二十日死。用前十三味方加五靈脂一錢五分，砂仁一錢，同煎服。再用加減十四味方一服。若不服藥，二百四十日必死。</p>
<p>左肋梢骨下一分名腹結穴。為血囊。打重者四十二日死。用前十三味方加蒲黃二錢，生韭子一錢五分，同煎服。如不服藥，三個月必死。</p>
<p>右肋梢骨下一分名腹結穴。為氣囊。打重者六十日死。用前十三味方加丹皮　紅花各一錢　同煎服。再用奪命丹三服。如不服藥，一年死。</p>
<p>凡人身背上穴道，乃生死所系。背心從上數下，第十四節骨下縫間為命門穴。打重者，暈去一日半不醒而死。用前十三味方加桃仁一錢，同煎服。再用奪命丹三服。</p>
<p>第十四節骨下兩旁各開一寸五分軟肉處，為腎俞穴。打重者，吐血痰。十四個月而死。</p>
<p>用前十三味方加補骨脂、杜仲各一錢五分，同煎服。再用奪命丹三服。如不服藥，過周歲而亡。</p>
<p>第十四節骨下兩旁各開三寸，名志室穴。屬腎經。打重者三日死。當發笑而亡。用前十三味方加桃仁、菟絲子各一錢，同煎服。再用奪命丹三五服，又用藥酒服之。</p>
<p>腎俞穴下兩旁，各有氣海俞穴。打重者三十三日死。用前十三味方加補骨脂一錢五分，烏藥二錢，同煎服。再用紫金丹二服愈。</p>
<p>尾閭骨下兩腿骨盡處中間，名鸛口穴。打重者一年死。用前十三味方加牛膝、苡仁各一錢，同煎服。再用紫金丹三四服愈。</p>
<p>糞門前，陰囊後，為海底穴。傷重者七日死。用前十三味方加大黃、朴硝各一錢，同煎服。再用奪命丹三服，紫金丹三服。</p>
<p>兩腳底心為涌泉穴，傷者十個月而死。用前十三味方加木瓜、牛膝各一錢，同煎服愈。</p>
<p>以上穴道，皆傷人性命。初傷時不知，至後來病發而死。只說病多，豈知病固由於傷乎。凡人被打時，切勿輕意，必須服藥為主。</p>
<h3>少林寺秘傳內外損傷主方</h3>
<p>（按症加減）</p>
<p>歸尾　川芎　生地　續斷（各二錢）　蘇木　乳香（去油）　沒藥（去油）　木通　烏藥　澤蘭（各一錢）　桃仁（去皮尖，十四粒）　甘草（八分）　木香（七分）　生薑（三片）</p>
<p>水煎，加童便、老酒各一杯沖服。</p>
<p>引經各藥開後：瘀血凝胸，加砂仁一錢五分；血攻心氣欲絕，加淡豆豉一錢；氣攻心，加丁香一錢；氣喘加杏仁、枳殼各一錢；狂言，加人參一錢，辰砂五分，金銀器同煎；失音不能言，加木香、菖蒲各一錢；氣塞，加厚朴，膽草各一錢，陳皮五分；發熱，加柴胡、黃芩、白芍、薄荷、防風各一錢、細辛六分；瘀血多，加發灰二錢；發笑，加蒲黃一錢、川連二錢；腰傷，加破故紙、杜仲各一錢，肉桂、小茴各八分；大便不通，加大黃、當歸各二錢，朴硝一錢；小便不通，加荊芥、大黃、瞿麥各一錢，杏仁（去皮尖）十四粒；大便黑血，加川連一錢、側柏葉二錢；小便出血，加石榴皮一錢五分、茄梗二錢；大小便不通，加大黃、杏仁、肉桂各一錢五分；小便不禁，加肉桂、丁香各一錢；大便不禁，加升麻、黃　、訶子、桔梗各一錢；腸中冷痛，加元胡索、良薑各一錢；咳嗽，加阿膠二錢、韭根汁一杯；腸右邊一點痛，加草果、連翹、白芷各一錢；糞門氣出不收，加升麻、柴胡、黃　、白朮各一錢，陳皮、甘草各五分；腸左邊一點痛，加茴香、赤苓各一錢，蔥白三個；咳嗽帶血，加蒲黃、茅花各一錢；口中出糞，加丁香、草果、南星、半夏各一錢，縮砂七粒；舌短語不清，加人參、黃連、石膏各一錢；舌長寸許，加生僵蠶、伏龍肝各一錢、生鐵四兩、赤小豆百粒；舌上生苔，加薄荷二錢、生薑一錢；耳浮起，加豆豉一錢；呃塞，加柴胡、五加皮、木瓜、車前子各一錢；九竅出血，加木鱉子、紫荊皮各一錢，童便一杯沖服；腰痛不能轉側，加細茶（泡濃）三杯、陳老酒一杯沖服；遍身痛，難轉側，加巴戟、牛膝、桂枝、杜仲各一錢；發腫加防風、荊芥、白芍各一錢；喉干、見藥即吐，加好豆沙納在舌上半時，用藥送下。喉不干、見藥即吐，加香附、砂仁、丁香各一錢。言語恍惚，時時昏沉欲死，加木香、辰砂、硼砂、琥珀各一錢、西黨五錢；血氣攻心、有宿血不散，用烏雞娘一只煎東加陳老酒、黑豆汁各半，沖藥內服；頭痛如裂，加肉蓯蓉、白芷梢各一錢；頭頂心傷，加白芷、厚朴、　本、黃芩各一錢；眼傷，加草決明一錢五分，蔓荊子四分。鼻傷加辛夷、鱉甲各一錢。耳傷加磁石一錢；喉嚨傷，加青魚膽、清涼散。兩頰傷，加獨活、細辛各一錢。唇傷，加升麻、秦艽、牛膝各一錢；齒傷加穀精草一錢；齒搖動未落，加獨活一錢，細辛七分，另用五倍子、干地龍為末，摻牙根上即愈；左肩傷，加青皮一錢五分；右肩傷，加升麻一錢五分；若身上亦有傷，不可用升麻，致血攻心而死；手傷加桂枝、禹餘糧各一錢，薑汁三匙；乳傷加百合、貝母、漏蘆各一錢；胸傷加柴胡、枳殼各一錢，韭汁一杯；左脅傷，加白芥子、柴胡各一錢；右脅傷，加地膚子、白芥子、黃　各一錢，升麻一分；肚傷，加大腹皮一錢；背傷加砂仁、木香各一錢；腰傷，加杜仲、破故紙各一錢。腰脅引痛，加急性子二錢；小肚傷，加小茴、急性子各一錢；左右兩胯傷，加蛇床子、槐花各一錢；外腎傷，縮上小腹，加麝香二分、樟腦三分、萵苣子一杯，三味共研細末，以萵苣葉搗為膏，和藥貼臍上，即出。肛門傷，加檳榔、槐花、炒大黃各一錢；兩足腿傷，加牛膝、木瓜、石斛、五加皮、蘇梗各一錢；兩足跟傷，加茴香、紫荊皮、蘇木各一錢；諸骨損傷，加蒼耳子、骨碎補各一錢。諸骨節損，加茯神心木二錢；腫痛加人參、附子各一錢；瘀血積聚不散，腫痛，服藥不效，取天應穴，用銀針刺出血愈。腫痛發熱，飲食不思，加人參、黃　、白朮、柴胡各一錢；若寅卯二時發熱作痛，加陳皮五分、黃　、白朮各一錢，黃連八分。腫痛不赤加破故紙、大茴香、巴戟各一錢，菟絲子一錢五分；如漫腫不甚作痛，加赤芍、熟地、杜仲、蒼朮各二錢；青腫潮寒作熱，加山楂、山藥、厚朴、白朮各一錢，砂仁七粒；青腫不消、面黃寒熱如HT，加人參、黃　各七分、白朮、升麻、柴胡各一分，陳皮八分。</p>
<h4>損傷補藥方</h4>
<p>大熟地（七錢）　炙黃　白當歸　焦術　生苡仁　淨棗仁（各三錢）　川牛膝（二錢）　赤芍白茯苓　木瓜（各一錢五分）　海防風（一錢）　川芎（八分）　加桂圓肉三個，水煎服。</p>
<h3>王瑞柏損傷用藥論</h3>
<p>凡跌打損傷之症，不可概論也。青腫不痛，或腫不消退者，氣血虛弱也，用十全大補湯。若腫或作寒熱者，血傷而肝火動也，用四物加山梔、柴胡。血出不止，或又發寒熱者，用四君子東加川芎、當歸、柴胡。寒熱而痛甚者，欲潰膿也，用參　內補散。若膿出而痛甚者，氣虛也，用八珍湯。瘡口赤肉突出者，血虛而肝火生風也，用柴胡梔子散。若膿不止，瘡口白肉突出者，氣虛而有邪感也，用補中益氣湯。若膿潰而痛，或潰而不斂者，皆脾胃虛也，用六君子湯。苟徒知敷涼藥而不潰不斂，所以致敗症也。受傷若腸中作痛，按之不能寧者，內有瘀血也，用承氣湯下之。下後仍痛，瘀血猶未盡也，用加味四物湯調之。按之不痛，血氣傷也，用四物東加參、　、白朮。下後胸脅作痛，肝血傷也，四君子東加川芎、當歸。下後發熱，氣血俱虛也，用八珍東加當歸、半夏。胸脅脹滿，飲食不思者，肝脾氣滯也，用六君子東加柴胡、枳殼。切牙發搐者，肝盛脾虛也，用蜈蚣散加川芎、山梔、鉤藤、天麻。以上須要謹慎，不可妄用也。各方載後。</p>
<h4>十全大補湯</h4>
<p>人參　茯苓　川芎　當歸　白芍　地黃　黃　肉桂（各一錢）　白朮（一錢五分）　炙草（五分）　水煎服。</p>
<h4>四物湯</h4>
<p>當歸　地黃（各三錢）　炒白芍（二錢）　川芎（一錢五分）　水煎服。</p>
<h4>四君子湯</h4>
<p>人參　焦術（各二錢）　茯苓　炙草（各一錢）　薑（三片）　棗（二枚）　水煎服。</p>
<h4>八珍湯</h4>
<p>人參　茯苓　川芎　當歸　炒白芍　地黃（各一錢）　白朮（一錢五分）　炙甘草（五分）</p>
<p>水煎服。</p>
<h4>補中益氣湯</h4>
<p>黃　（二兩）　人參（一錢）　炙草（八分）　半夏（一兩）　炒白芍　獨活　防風（各五錢）</p>
<p>炒白朮　茯苓　澤瀉　柴胡（各三錢）　連翹（二錢）　羌活（一錢五分）　生薑（三片）　棗（二枚）　水煎服。</p>
<h4>六君子湯</h4>
<p>即四君子東加陳皮（一錢）　製半夏（一錢五分）　水煎服。</p>
<h4>加味承氣湯</h4>
<p>治瘀血在內者。</p>
<p>大黃　厚朴　枳實　羌活　防風　當歸　生地　朴硝（各一錢）　水煎，空心服，多寡隨量加減。</p>
<h4>加味四物湯</h4>
<p>治瘀血未盡者。</p>
<p>當歸　川芎　白芷　生地　桃仁　紅花　枳殼　牛膝　大黃　蘇木　羌活（各一錢）　水煎，早服。</p>
<h4>逍遙散</h4>
<p>柴胡　土炒白朮　茯苓（各一錢）　當歸（酒拌二錢）　炙草（五分）　薄荷（六分）　加煨薑（三片）　水煎服。</p>
<h4>異功散</h4>
<p>即六君子湯去半夏。</p>
<h4>獨參湯</h4>
<p>人參（一兩）　水（二盅）　棗（十枚）　或蓮肉、龍眼肉，同煎服。</p>
<h4>六味湯</h4>
<p>地黃（四兩）　山茱萸　山藥（各二兩）　茯苓　丹皮（各一兩）　澤瀉（一兩五錢）　水煎服。若破傷出血不止者，加麥冬、五味子各三錢。</p>
<h4>托裡散</h4>
<p>金銀花（五錢）　當歸（二兩）　大黃　花粉　連翹（各五錢）　牡蠣　皂角刺（各三錢）</p>
<p>黃芩　赤芍（各一錢）　朴硝（五錢）　酒、水各半煎服。</p>
<h4>奪命回陽方</h4>
<p>當歸　澤瀉（各五錢）　桃仁　蘇木　丹皮　川芎　紅花（各三錢）　酒、水各半，煎八分服。若口閉者，撬開灌之，即蘇。如現各經症，加引經藥。</p>
<h4>跌打損傷三方</h4>
<p>〔第一方〕</p>
<p>羌活　天麻　防風　白芷　白附子　制南星（各五錢）　焙乾為末。每用五錢。加童便老酒各一杯煎。再沖七厘散或活命丹一厘服。立效。</p>
<p>〔第二方〕　此藥只可服一帖，不可多服。</p>
<p>歸尾　乳香　沒藥　五加皮（各五錢）　生地　烏藥　紅花　澤蘭　蘇木　赤芍　元胡索（各四錢）　桃仁　川斷（各三錢）　木通　木香　細辛　肉桂（去皮）各二錢　上各秤足，用童便一碗，老酒二碗，共煎至一碗，沖活命丹一厘服。又將渣用水二碗，煎一碗，仍沖活命丹一厘服。</p>
<p>〔第三方〕　十服十帖，多服更妙。</p>
<p>歸身　白朮　炙黃　川斷　酒炒白芍　白茯苓　酒炒骨碎補（各三錢）　人參　川芎（各二錢）　熟地（一錢）　炙草（八分）　水煎服。</p>
<h4>人中白散</h4>
<p>治跌打損傷將死之症，灌之即醒。</p>
<p>用男女尿桶溺壺白片，　紅　醋淬七次，研末。已死者勿移動。若口閉者，撬開用藥末三分，陳酒沖灌下，吐出惡血，即可活矣。若移動過，不治。又方：損傷吐血死者，服之神效。金銀花根搗碎取汁，加童便熱酒沖服，渣敷患處。</p>
<h4>又打死方</h4>
<p>益母草燒灰（二錢）　醋調灌下一、二盅，被蓋，出汗後，用薑汁老酒沖服之。又方：用蚯蚓火　為末，熱酒送下，立效。又方：用竹中白節，同木耳燒灰，老酒沖服，立效。</p>
<h4>救死活命丹</h4>
<p>自然銅（　、醋淬七次，二錢）　朱砂（五分）　孩兒牙齒（一個，火　）　雞子（一個）</p>
<p>用針七支，刺雞子內，加古屋朝東壁泥一塊、桑木一寸、金（不拘多少），水一碗，同雞子放鍋內煮熟，去白用黃，共藥四味，研細為丸。用時，每服一厘。不可多用。</p>
<h4>花蕊石丹</h4>
<p>治一切刀箭所傷，及跌打豬狗咬傷，重至將死去者。急摻藥於傷處，血自化為水，再摻即活。若內損重傷，血入臟腑，以藥一錢五分，用熱酒半盅、童便半盅，調和服之立效。若腸出未斷者，急用桑白皮為線，蘸花蕊石散，縫合其傷口。先以大麥煮粥，取濃汁溫洗。再用活雞冠血，和清油塗腸令潤，輕輕托入腹內，外用生人長發，密縫腹皮傷口。（縫法：須縫傷口皮內之肉，若連皮縫之，藥不入肉，難以見效）。摻藥於口上，血止立活。不用物封裹，恐作膿血。如傷口乾，先以唾津潤之，後摻藥粉。若產婦血暈，死胎不下，胞衣不下，至死者，但前心溫暖，急以童便調藥一錢，溫服立愈。血在膈上者，化黃水吐出。在膈下者，隨小便出，蓋諸血之聖藥也。</p>
<p>花蕊石二兩（出陝州者佳，中有黃點如花心）　硫黃（四兩，明潤者佳）　二味研碎，和勻，入陽城罐內蓋好，鐵線扎住；外用鹽泥封固，候干。上寫八卦五行字樣，安在四方磚上。</p>
<p>外結百眼爐，爐內用炭二十許斤。蓋住泥罐，從下生火，先文後武，漸漸上徹，自晨至晚方息，終宿不動。次早取出，研細，以淨瓷瓶收貯備用。</p>
<h4>三黃寶蠟</h4>
<p>治一切跌打損傷，及槍銃打傷，鉛子在內，危在頃刻者。服一錢，飲酒數杯，安睡片時，汗出即愈。忌涼水、生冷燒酒三日。</p>
<p>天竺黃　劉寄奴　紅芽大戟　血竭（各三兩）　雄黃（二兩）　歸尾（二兩五錢）　兒茶辰砂　人參　參三七（各一兩）　琥珀　乳香（去油、淨末）　麝香　真山羊血　輕粉　水銀（各三錢，同輕粉研，不見星）　藤黃（二兩，以紗包之，入羊血內，隔湯燉一炷香時，每日再以血燉，只留藤黃三錢為度）　共為細末，用好黃蠟二十四兩，燉化，入前藥末，離火攪勻，滾水燉化為丸。大丸每重一錢，中丸五分，小丸三分，瓷器收貯。</p>
<p>凡破傷，切不可用香灰搽。犯之難愈，至囑。</p>
<p>凡閃打傷未出血，但青紫色者，先以蔥白搗爛炒熱，將痛處擦遍。隨用生大黃研末，生薑汁調敷。盡量飲好熱酒，令臥自愈。即日久不愈者亦神驗。又方：用生梔子和面粉搗塗，腫消青退。</p>
<p>凡損傷胸膈，不食者，以生豬肉切細末，溫水送下一錢，即思食。</p>
<p>凡破傷血流不止，用水磨橄欖汁塗之，數日可愈、且無痕。</p>
<p>凡金刃重傷，急用炭燒紅，和砂糖搗爛塗之，可救。</p>
<p>凡騾馬踏傷骨碎者，用生半夏、生黃柏各二錢研敷。再用蟹殼、新瓦上炙存性，研末，老酒盡量調服，其骨自合。若生蟹搗爛更好。</p>
<p>凡損傷眼睛突出者，急揉進，用生豬肉一片，將當歸、赤石脂末少許，摻肉上貼之，去毒血即愈。</p>
<p>凡破傷氣絕，膜未損者，可救。急用蔥白搗碎，炒熱濃封，即活。或和蜂蜜，或和砂糖亦可。皆能止血定痛。若冷再換。</p>
<p>凡破傷後，受風致危者，用糞堆上蠐螬蟲一、二個（草房上亦有），將脊背捉住，捏令口吐黃水，於熱酒內，攪勻飲之。再以黃水抹瘡上，覺身麻出汗即愈。</p>
<p>凡破傷後，因澡浴受濕，致　斜、舌強、昏迷，狀類中風者，用白朮一兩，酒煎，頻服；不善飲酒者，水煎亦可。</p>
<h4>青城山仙傳接骨方</h4>
<p>生半夏四兩，泡制六次。第一次米泔水浸三日，二次鹽水浸一日，三次醋浸一日，四次童便浸一日，五次黃酒浸一日，六次薑汁浸一日。陰乾，加黃芩四兩共為細末，老酒送下。</p>
<p>若腫痛或損骨，用醋調敷傷處即愈。</p>
<p>又方　跌打損傷，垂死可救。但百日內，勿食雞肉。</p>
<p>荊芥　黃蠟　魚鰾膠（炒黃色，各五錢）　艾葉（三片）　無灰酒（三碗）　重湯煮一炷香時，熱服取汗即效。</p>
<h4>腫痛圍藥方</h4>
<p>僵蠶　大黃　生南星　肉桂（各三錢）　皂角　乳香（去油，各二錢〕　甘松（四錢）</p>
<p>淡附（五錢）　上八味，共為細末，加醬粉、薑汁調敷，即退。又方：鉛粉　鍛石　黃柏半夏　肉桂　白芷　赤芍　芙蓉葉　枇杷葉（去毛）　天南星（各一兩）　枯礬（二錢）</p>
<p>乳香（去油）　沒藥（去油，各五分）　上十三味，共為末，生薑汁同熱醋調敷，濃布裹住，即消。又方：白玉簪花根搗敷，一服即退。加肥皂同搗，更速。</p>
<h4>損傷筋骨方</h4>
<p>黃榔刺根（二兩）　紅曲粉（一兩五錢）　老山梔（三兩）　共為末，用糯米飯同搗糊敷傷處，以杉樹皮夾上，效。</p>
<h4>損骨方</h4>
<p>小雞（一只，約重五、六兩，連毛）　五加皮（一兩）　同搗為糊，拓在傷處。一炷香時解下，後用山梔三錢、五加皮四錢、酒一碗，煎成膏貼之。再以大瓦松煎酒服之。真神方也。</p>
<h4>脫骨斷筋方</h4>
<p>凡受傷，即搗碎大生蟹一只，熱老酒沖服數碗。渣敷傷處。半日許，骨內簌簌有聲，骨節自合。螃蟹肉黃，最能續筋接骨，納入傷中，筋骨即連。</p>
<h4>接骨藥方</h4>
<p>黃榔刺樹根（四兩，如無，用五加皮四兩代之）　小雄雞（一只，重四、五兩，去毛）</p>
<p>糯米飯一盞　同搗糊，貼在斷骨處，外包好。一日一夜去藥，其骨自接。如夏天，加蓮早樹根少許同搗，則不生蟲。或未全愈，再用外接骨方：蔥白（四兩）　桃仁（三兩）　生薑（三兩）</p>
<p>當歸（三兩）　五加皮（二兩）　赤芍（一兩）　白芥子（五錢）　樟冰（五錢）　共搗爛炒熱，同蕎麥粉調成膏，包傷處，半月全愈。</p>
<h4>整骨麻藥方</h4>
<p>開取箭頭等物，服之不痛。</p>
<p>麻黃　胡茄子　薑黃　川烏　草烏（各三錢）　鬧羊花倍用　上六味，共為細末，每服五分，茶酒送下。欲解，用甘草湯服之，即蘇。又方：茉莉花根磨汁，服一寸，一日不醒；二寸，二日不醒。鹽湯解之即蘇。或醋泡湯解之亦可。</p>
<h4>外敷麻藥方</h4>
<p>此藥敷毒上，麻木，任割不痛。</p>
<p>川烏尖　草烏尖　生南星　生半夏（各五錢）　蟾酥（四錢）　胡椒（一兩）　共為細末，燒酒調敷。一方加蓽茇五錢。一方加細辛一兩。</p>
<h4>經驗正骨丹</h4>
<p>自然銅（一兩，醋炙）　地鱉蟲（去頭足）　水蛭（火　、醋淬）　地龍（酒洗、火　）　龍骨降真香　蘇木（各五錢）　土狗（十個，火　）　川烏　明松節　乳香（去油）　沒藥（去油）　血竭　木香（各三錢）　白芍（二錢）　麝香（一錢）　以上十六味，共為細末，每服一錢，酒送下。</p>
<h4>一厘丹</h4>
<p>亦接骨藥也。</p>
<p>無名異（二分）　自然銅（　，八分）　狗脊（二錢）　麝香（五分）　共為細末，每服一分，酒沖服。</p>
<h4>破傷風方</h4>
<p>川羌活　防風　荊芥　歸尾（各三錢）　生地　白芷　紅花（各二錢）　明天麻（煨）　劉寄奴（各一錢五分）　水煎。</p>
<h4>仙傳膏</h4>
<p>治打板重傷，死血瘀結，呃逆不食，及夾傷內爛。貼之起死回生。</p>
<p>乳香（去油，五分）　沒藥（去油）　樟腦（各二錢）　輕粉　血竭（各三錢）　冰片（三分）</p>
<p>麝香（一分）　黃蠟（一兩）　豬板油（二兩二錢）　以上前七味，共研細末，後將蠟油同化，調藥成膏，貼患處，日夜流水，即蘇醒。又方：雄豬油（一斤四兩）　松香（六兩）　黃蠟（六兩）　以上三味，先煎化，去渣淨，將冷，加樟腦（三兩）　面粉（炒，四兩）　麝香　冰片（各六分）　乳香　沒藥（各去油）　血竭　兒茶（各一兩）　俱為細末，入油內攪勻，攤貼患處。</p>
<h4>斷臂斷指方</h4>
<p>水蛭（即田中馬蝗，當歸酒飲之）　地鱉蟲（竹刀切斷，過夜能續者，可用。亦以當歸酒飲之）　二味不拘多少，入布袋內，浸清尿中。一月取起，又浸圓沙內抽淡。焙乾研末，敷傷處，即能續生。</p>
<h4>斷指方</h4>
<p>淨輕粉　血竭（各一錢）　降香（二錢）　梅冰（八分）　象皮（土炒，五分）　共為細末，敷傷處即愈。夏令加龍骨五分。</p>
<h4>喉傷未斷方</h4>
<p>用絲綿一塊，看傷口長闊，以雞子清刷皮，將綿糊上，外用八寶丹敷。一日一換，等番哄時收口。加白蠟二錢敷上，愈後無痕。</p>
<h4>八寶丹</h4>
<p>乳香（去油）　沒藥（去油，各二錢）　輕粉　兒茶　龍骨　鉛粉　血竭（各一錢）　冰片（一分）　珍珠（二粒）　百草霜（二錢）　共研極細末，敷之，去腐生新，極效。</p>
<h4>舌斷唇傷方</h4>
<p>急用雞子一個，輕輕擊碎，周遭去硬殼，取殼內膜，套在舌上，外用洪寶丹敷之，自然接續。如有風寒作痛，以四物東加柴胡、地骨皮煎服愈。</p>
<h4>洪寶丹</h4>
<p>亦名濟陰丹，治接斷用。</p>
<p>天花粉（三兩）　薑黃　白芷　赤石脂（各一兩）　共為細末，茶湯調敷患處。又接斷方：亂髮燒灰敷舌上接之。必須口合，以防其冷。凡耳鼻斷落，乘熱蘸之，接上即愈。亦須包暖、勿冷方效。能以口合，更妙。</p>
<h4>四季金瘡藥</h4>
<p>春天屬木，木能生火，當先去風清火。有膿血，用三黃散洗之。又將新鮮豬油同艾葉搗敷。後用合口藥敷之，即愈。</p>
<h4>三黃散</h4>
<p>洗膿血方。</p>
<p>金銀花　歸尾（各五錢）　大黃（四錢）　黃芩　黃柏　赤芍（各三錢）　荊芥　薄荷　山慈菇甘草（各三錢）　防風　黃連（各一錢）　水煎洗。</p>
<h4>春合口藥粉方</h4>
<p>赤石脂　乳香（去油）　沒藥（去油，各一兩）　血竭　杉木炭（各五錢）　胎發灰（二錢，若無胎發，亂髮亦可）　共研細末。</p>
<p>夏令屬火，去熱為主，藥宜涼。有膿血，用三黃敗毒散洗之，後敷合口藥。</p>
<h4>三黃敗毒散</h4>
<p>金銀花（四錢）　防風　杉木蕊（燒灰，各三錢）　黃連　黃芩　赤芍（各二錢）　黃柏（八分）　共煎，待冷洗之。</p>
<h4>夏合口藥粉方</h4>
<p>黃柏（六錢）　乳香（去油）　沒藥（去油）　海螵蛸　赤石脂　觀音竹（各五錢）　冰片　朱砂（各二錢）　共為細末。</p>
<p>秋令氣涼，若有膿血，用溫涼散洗之，後敷合口藥，即愈。</p>
<h4>溫涼散</h4>
<p>連翹　赤芍　羌活　茯苓（各三錢）　穿山甲　川連（各二錢）　山梔仁　防風　桃仁甘草（各一錢）　水煎洗。</p>
<h4>秋合口藥粉方</h4>
<p>松香（水制）　海螵蛸　生半夏　赤石脂　白蠟（各一兩）　雄黃　花龍骨　兒茶（各五錢）血竭（二錢）　共為細末。</p>
<p>冬令氣寒，藥宜近熱，不可以寒涼凝其血。先用消風敗毒散洗之，後敷合口藥粉，即愈。</p>
<h4>消風敗毒散</h4>
<p>芒硝　皮硝　荊芥　穿山甲　檳榔　草烏　赤芍　甘草（各二錢）　水煎洗。</p>
<h4>冬合口藥粉方</h4>
<p>花龍骨（　，二兩）　赤石脂（五錢）　雄黃（一兩）　發灰（三錢）　象皮（一錢，水制，切片紙包煨）　血竭（一錢）　共為細末。</p>
<h4>蠶蛾散</h4>
<p>止血定痛，生肌，極效。</p>
<p>晚蠶蛾　白芷　當歸頭　陳鍛石（各等分）　共研細末敷。又方：晚蠶蛾新瓦上焙乾為末，摻患處，絹包之，隨即血止，傷口自合。</p>
<h4>刀箭傷方</h4>
<p>除膿、止痛，不怕風。</p>
<p>牛膽（一個）　鍛石（一兩）　白芨（五錢）　乳香（五分，去油）　共為末，入牛膽內，陰乾。用時以少許研細干貼之。制藥忌婦人手。</p>
<h4>見血生</h4>
<p>（凡血傷，當時敷之即生）　若傷風受毒不用。</p>
<p>生甘石（一兩）　龍骨（　，一兩）　象皮（土炒，一兩）　花蕊石（一兩）　地鱉蟲（三錢）　參三七（二錢）　乳香　沒藥（去油，二錢）　麝香（一分）　共為細末，敷之即生。</p>
<h4>拔毒生肌</h4>
<p>凡破傷不論新久，敷之極效。</p>
<p>制甘石（一兩）　寒水石（三錢）　月石飛（三錢）　乳香　沒藥（去油，一錢五分）　大黃（六錢）　蓖麻子（去油，八錢）　原寸（二分）　梅冰（三分）　共研細末，加紅升丹三分，同研勻。如傷紅腫，去升丹，加小赤豆，研末少許。</p>
<h4>神效生肌散</h4>
<p>此散去瘀，搜膿生肌。蓋先去瘀則肉自生也。</p>
<p>木香　輕粉（各一錢）　黃丹　枯礬（各五錢）　共為細末，以臘月豬膽汁和勻，仍裝入膽內，懸掛一百日，陰乾，再研細用。</p>
<h4>四龍丹</h4>
<p>止血生肌。</p>
<p>石膏（五兩）　淡黃丹　乳香（去油）　沒藥（去油，各五錢）　共為細末。夏令加冰片少許。</p>
<h4>五龍丹</h4>
<p>服藥也。</p>
<h4>木耳灰</h4>
<p>毛竹節　地龍　桑寄生　龍膽草　香絲藤皮　麻根（各等分）　為末。酒沖服。</p>
<h4>六龍丹</h4>
<p>夏天用方。</p>
<p>石膏（四兩五錢）　淡黃丹（四錢）　乳香（去油，四錢五分）　沒藥（去油，五錢）</p>
<p>龍骨　大黃（各一兩）　共為細末。</p>
<h4>生肌定痛散</h4>
<p>治潰爛，紅熱腫痛、有腐肉者。</p>
<p>生石膏（一兩，為末，用甘草湯飛七次）　辰砂（三錢）　冰片（二分）　硼砂（五錢）</p>
<p>共為末，撒。</p>
<h4>刀口生肌散</h4>
<p>陳鍛石（七兩）　大黃（一兩）　二味同炒，令鍛石如桃花色。去大黃，加兒茶、血竭、乳香（去油）、沒藥（去油）各二錢，共為細末敷之。若傷口爛者，用麻油調敷，無不效也。</p>
<h4>合口長肉方</h4>
<p>生半夏（一兩）　乳香（去油）　象皮（火焙）　川斷　銅綠（各五錢）　黃丹　沒藥（去油）</p>
<p>花龍骨　白芷（各三錢）　樟冰（二錢）　共為細末，敷之即效。</p>
<p>破傷出血太多，皮肉盡寒，不能收口方。</p>
<p>大艾葉搗去筋淨，同真芯油調敷即愈。若皮肉虛，不能合口者，用桂圓肉貼三、五日，即滿而合矣。</p>
<h4>金瘡鐵扇散</h4>
<p>（塞外異僧所傳）</p>
<p>象皮（切片焙乾）　花龍骨（各五錢）　陳鍛石　柏香（即松香中黑色者）　松香（與柏香同溶化，傾水中，取出晾干）　枯白礬（各一兩）　共研細末，迂破傷者，用敷血出，以扇扇之，立時收口結疤。忌臥熱處。或傷處發腫，黃連煎汁，塗之立消。戒飲酒，恐血熱妄行。</p>
<p>勿濃裹，恐太暖難愈。</p>
<h4>拔箭鏃方</h4>
<p>陳腌豬肉（紅活美好者，用其肥）細切，銼濃；再以象牙及人爪甲研極細，入肉拌勻，濃敷周遭，箭鏃自迸脫出。（《洗冤錄》詳注）</p>
<h4>神效七厘散</h4>
<p>乳香（去油）　沒藥（去油）　紅花（各一錢五分）　兒茶（二錢四分）　朱砂（一錢二分）　血竭（一兩）　冰片　麝香（各一分二厘）　共研極細末，瓷瓶收貯，勿令泄氣。貯久更妙。每服七厘，不必多服。孕婦忌之。</p>
<h4>銃子傷肉方</h4>
<p>蜂蜜（八兩）　煎滾，加好燒酒一斤，盡量熱服，取汗安臥。次日自出。</p>
<h4>外敷方</h4>
<p>肥老臘肉搗爛，加指甲末、象牙末各少許，拌勻敷之即出。又方：山中牛屎上所出蕈菰，晒乾為末，蜜調敷之自出。又方：用米作寒食餳，敷上，痛止而癢，即出。又方：巴豆（半粒）　蜣螂（一個）　同搗爛塗，癢極即出。若錫彈傷入肉內，用水銀灌入傷口，錫彈自化。</p>
<h4>毒箭傷方</h4>
<p>飲麻油一杯，外以雄黃塗之，其毒自消。又方：以犀角削尖，入傷口內，飲金汁一杯，瘡外亦塗之。如無金汁，以糞汁代之。</p>
<h4>鐵針入肉方</h4>
<p>無眼者不動，有眼則隨氣游走；若向心窩，險。</p>
<p>烏鴉翎數根，炙焦黃色，研末，酒服一、二錢。外用車輦脂油研如膏，和磁石末貼三、五次，其針自出。又方：鼠肝、鼠腦，搗膏敷。又方：山間鑽糞蟲所鑽牛糞丸，堅圓如彈者，極細，香油調敷一夜，針仍退出。即箭鏃入肉亦效。</p>
<h4>人咬傷方</h4>
<p>若牙黃入肉不出，重則喪命，輕則爛成痼疾。用人尿洗淨，又浸一、二時，待牙黃出後，以鱉甲、龜板炙為末，麻油調敷愈。又：人糞溏、雞尿，皆可塗。又方：千斤拔草根，和雞子清，搗爛敷亦效。昔有人手指被咬幾斷，醫索重酬，不允而去。自用此藥治之，三日全愈。</p>
<h4>筋骨閃挫膏藥方</h4>
<p>蒼朮（四兩）　巴豆（十粒）　秦艽　良薑　青皮　薄荷　丹皮　桃仁　山楂　五加皮（各五錢）　杜仲　連翹　赤芍　紫蘇　川斷　厚朴　羌活　獨活　前胡　生地　劉寄奴（各四錢）陳皮　柴胡　杏仁　木瓜　地丁　大黃　大茴　苡仁　烏藥　當歸　骨碎補　滑石　香附桔梗　木香　赤蘞　白芷　威靈仙　桑皮（各三錢）　川貝　白朮　川椒　黃柏　麻黃細辛　升麻　紅花　花粉　知母　澤瀉　牛膝　黃連　黃芩　三棱　天冬　麥冬　僵蟲　豬苓肉桂　木通　桂枝　川芎　阿魏　白蘞　荊芥（各二錢）　各藥切片。真麻油七斤二兩，春秋浸半月，夏十日，冬一月。放鍋內，用文武火熬至黑色，加蔥十根，梅干十個，苦味酒三盅，山黃草一兩，蜈蚣十條，再熬數沸，去渣，熬至滴水成珠。加瀝清水熬七次，漂淨，炒黃丹一斤，看藥老嫩，用瓷器收貯，掘地埋之，十日後取出，用細青布攤貼。仍加摻藥。</p>
<p>摻藥方：乳香（去油）　沒藥（去油）　無名異（各二錢）　龍骨（五錢）共研細末，瓷器貯，候用。</p>
<h4>壯筋骨丸</h4>
<p>（附錄）</p>
<p>白蒺藜（酒洗）　沙蒺藜（土炒，各一斤）　川牛膝（酒洗）　淮牛膝（酒洗）　骨碎補（去皮，各八兩）　全當歸（酒洗，十兩）　虎骨（乳炙，八兩）　魚肚（蛤粉炒，一斤）</p>
<p>共為末，蜜丸。</p>
<h2>救傷秘旨續刻</h2>
<h3>跌打損傷辨生死訣</h3>
<p>頭頂受傷，口鼻出血，手足不動，急灌童便一碗。若能知痛，手足轉動者，可治。若仍手足難動，言語不明，不治。氣喘呃塞者，七日必死。</p>
<p>頂門傷破，骨未陷入者，可治。骨碎陷入者，不治。氣出不收者，不治。</p>
<p>囟門出髓者即死。食後受傷，七日不死，可治。眼閉者不治。</p>
<p>太陽受傷，暈倒在地，急灌童便一碗，若能知痛者，可治。不知痛者，七日死。如知痛，頃刻又暈者，二十一日死。</p>
<p>耳後受傷，血入內者不治。</p>
<p>兩目受傷可治。</p>
<p>山根受傷，不斷者可治，斷者不治。</p>
<p>食管斷者不治。氣管全斷者不治。未斷者十可救五。色紅者可治。發青黑色不治。</p>
<p>兩肩受傷，血入內者不治。</p>
<p>心口受傷，青色者七日死。服藥三日後，轉紅黃色者可治。食飽受傷，三日不死可治。</p>
<p>心窩骨斷者不治。</p>
<p>兩脅受傷，痛緊急者七日死。傷入肺者十四日死。傷入肝膽，面青發暈，口吐黃水者，不滿五日死。如痰冷者，四十九日死。筋骨麻木，身熱如火，飲食不進者不治。破傷血入內者不治。血流出盡者不治。出黑血黑水者不治。</p>
<p>兩乳受傷，男人可救，宜急治。女人難治。</p>
<p>大腹受傷，不發暈，口內吐飯者可治。若不吐飯，腹內作痛不絕，四十日死。發熱亂言，至夜發厥者三日死。</p>
<p>小腹受傷，血入內者，其脈不實不治。孕婦犯胎者，胎必下不治。</p>
<p>大腸受傷，糞從口出，當日死。若便出尿，四十九日死。口不能語，二十日死。眼目眩暈，手足皆冷，難治。過一時能轉熱者，可治。</p>
<p>小腸受傷，昏暈發熱，口中亂言，七日死。不分陰陽者，不治。</p>
<p>腹破腸出，未斷半斷者可治。全斷者不治。不臭者可治，臭者不治。色不變者可治，變紫黑色者不治。</p>
<p>腰傷嘔血，急飲童便一碗，自知痛者可治。不知痛而發笑者，三日內死。</p>
<p>夾脊骨受傷，斷者不治。</p>
<p>腎經受傷，嘔吐不出，全身難動，掙坐不起，睡臥不安，七日死。若吐鮮血，十日死。</p>
<p>外腎傷，囊內有子者，可治。子入小腹者不治。子碎囊內者，不治。囊腫不從上痛者，可治。時日久長，連腹內作痛者，四十九日死。若發熱發暈，三日死。人事不知，手足不動，一時死。囊破子入小腹者不治。子未入腹，雖垂懸於外，可救。</p>
<p>老人左股壓碎者，不治。</p>
<p>凡受傷後，魚際骨有脈者可治。不動脈者死。脈大而緩，不治。汗出不止，形象變者，防五日死。目暈青色者，不治。魚口傳風，不治。頭目青黑，額汗不流，眼小目瞪，身汗如油，謂之四逆，不治。</p>
<h4>仙授外傷見血主方</h4>
<p>（按症加減）</p>
<p>歸尾　川芎　地黃　白芍　益母草　本（各二錢）　乳香（炙）　沒藥（各二錢五分）　川續斷（三錢）　蘇木（一錢五分）　白芷（一錢）　甘草（五分）　生薑（三片）　水煎服。</p>
<p>頭頂傷加升麻一錢，肉桂二錢。頭骨沉陷加白芷三錢。腦門腫痛加茯苓、白朮各二錢。</p>
<p>腦髓出加香附二錢，白附子、蒼耳子、牡蠣各一錢。面青懶食腹痛加柴胡、茯苓各一錢五分，陳皮八分，升麻、半夏、黃　各一錢。破處生蛀，加細辛、青黛、蛇蛻各一錢，蛀即化為黃水滾出。在腦側近耳邊寒熱作痛加丹皮一錢，石棗、澤蘭各二錢。目傷出血不止，用人乳飯內蒸過塗之。如黑睛脫出，用手掌趁熱按進，將絹緊緊包住，三日不開。外用生地黃搗爛，貼退其血，內服主方加木賊草、石決明、菊花各一錢。目眶傷損，　肉脫出，用杏仁去皮尖嚼細，吐於掌上，趁熱以綿裹筋頭，按　肉上四、五次，送安目內，再用鮮地膚子汁點之，自愈。如無鮮者，即濃煎熬膏亦可。（注：　肉疑有誤）。後以清水調生半夏末，搽六、七日，眉毛即生。目傷青腫，水調生半夏末塗，立愈。耳傷加磁石一錢。鼻傷加辛夷二錢、鱉甲三錢。頰傷加獨活、細辛各二錢，唇傷加升麻、秦艽各二錢，牛膝三錢。舌傷加石膏二錢，升麻三錢，用黃芩片貼舌上含之，以斷其血。齒傷加獨活、細辛、穀精草；血流不止，用燈心緊咬，立止。左肩傷加青皮二錢。右肩傷加升麻一錢。喉項傷加羌活、獨活、穀精草各一錢。手傷加桂枝、禹餘糧各一錢，薑汁五匙。胸傷加川貝三錢，柴胡一錢，枳殼二錢。乳傷加川貝、百合各二錢，漏蘆一錢。胸腹傷，強言亂語加辰砂、茯神各一錢，遠志一錢五分，金銀箔十張，復盆子二錢為引。吐黃水加木香、木瓜、扁豆、大茴各一錢，大黃二錢，砂仁十四粒。</p>
<p>左脅傷加白芥子一錢，柴胡一錢五分。右脅傷加白芥子一錢，升麻二錢。腹傷加大腹皮二錢。如腹破腸出，加黃　、鹿茸各二錢。其腸將手輕輕按入，不可犯指甲。其傷口用柿餅眾人嚼碎填塞，七日全愈。若不便以手按者，用磁石末、滑石粉各二錢，米飲調服，其腸自入。</p>
<p>如不入，將病患臥席上，四角用人拿定舉搖，其腸自入。或以小麥煎濃湯，待冷，不令病患知，含　其背，漸漸自入。不令與人相見，並止旁人說話。腹破脂膜出，用銅刀割去，傷口用竹刀夾住，十日自愈。腸入後，食羊腎粥十日，不可大飽。若傷口燥裂，以熱雞血塗之。</p>
<p>腹傷倒KT　者，將病患橫臥被上，被四角用人拿定扛懸，一頭提起，一頭放下，彼此下上，令病患左右旋轉數次，其KT　即歸原處矣。小腹傷加小茴一錢，槐花二錢。背傷加香附、木香各一錢，羌活一錢五分。腰傷加木鱉子一個，杜仲、牛蒡子、破故紙、小茴、白芷各一錢，大茴八分，巴戟二錢。臀傷加白蠟、自然銅各二錢。腎囊破，睪丸跌出，血筋未斷者，將手輕輕托入。用桑白皮取絲成線，以針縫合其皮，外用生肌散塗之。如睪丸墜地，無血筋相連，取起搗碎，早米飯搗糊為丸，空心黃柏湯送下，傷口仍用上法縫之，三、五日如舊。寒熱發搐，切牙唇口牽動加天麻、升麻各一錢，柴胡八分。囊腫痛不愈，飲食少思加人參、白朮、柴胡各一錢。兩足腿傷加牛膝二錢，木瓜、苡仁、五加皮、檳榔、石斛、蘇梗各一錢。傷口作癢加干葛一錢，防風、荊芥、連翹殼各一錢五分，赤芍二錢。血出多瘦弱加人參、麥冬各一錢。煩躁不止加柴胡五分，丹皮一錢。面黑喘急加人參五分，蘇梗一錢。膿出、口噤流涎加人參三錢，柴胡、升麻各一錢。膿出不干加滑石、蒼朮各一錢，白朮一錢五分。手足微搐，眉目微動加鉤藤、柴胡各一錢。手撒目閉，汗出如雨加人參一兩，附子五錢。眼開能言，氣不相接加人參、黃　、白朮各一錢。</p>
<h4>外敷生肌散</h4>
<p>炙乳香、炙沒藥、白芷、赤石脂、兒茶、龍骨、貓頭骨、五倍子（各一錢）　共研細末。</p>
<h4>補唇方法</h4>
<p>龍骨　乳香　沒藥　白芨　白蘞　文蛤　黃連　黃柏（各三錢）　麝香（少許）　人乳調敷。先將麻藥敷缺處一刻，再用竹片夾住兩邊缺弦。用快刀削去薄皮。將繡針二枚，上下合正拴定，用線緊緊扎住。外敷藥散。三、四日後，其肉生牢。去針，又用藥摻針孔處，全愈。若新打破者，不必用麻去皮，依法敷藥，即效。</p>
<h3>破傷總錄</h3>
<p>夫刀傷雖易實難。筋斷腹破，皮連骨削，刺入骨間，箭鏃斷在肉內。或破後傷風，如此等症，最宜良手。皮開而長者，必用細針將兩邊新破皮慢慢扯合，以針拴好，內外搽藥。不可用膏藥貼蓋，恐敗血成膿，肉爛難斂。如燥痛時，以豬油或麻油拭之。腹破腸出者，令平臥避風處，先用油搽傷口四旁，緩緩將腸送入腹內，用藥線將皮縫好，然後敷藥。三日內不可轉側，須待藥氣流通，不見疼痛方可。箭鏃斷骨肉間者，須用麻藥服之，使不知痛，庶可鉗出。若小刺不出，以黑寶散敷之，即出。指節或骱骨被傷而偏者，或連皮屈折者，必要傷時理正。若至潰，則不可整矣。敷貼扎縛，均須仔細，勿令黏連，至後成膿。老年虛弱羸瘦，不忍痛苦者，須以救生為本，不必定施整理也。凡頭上傷，或筋管穴通之處，血來必涌，須預調備止血之藥。打開看時，內有碎骨斷發等類，必要盡行取出，速以藥敷好。必用玉貞散蓋護，防其傷風。爛壞者，用收斂藥，至肉滿不得結痂。肌有小孔，流膿不合者，必有碎骨，或芒刺斷發之類，潛住新肉故也。必用烏金膏、三品錠插入，潰開好肉，細察取出，方能收斂結痂。或生疔或內有膿窠者，亦用此法治之。刎斷喉者，傷及內喉。飲食不可進，則難治矣。先以血竭末散內喉四旁，勿令漏入喉管，以桑線縫合外皮，再用風流散，蓋一層補血膏貼之。四圍周密，不可泄氣。內服參竹飲，以接元氣。並清氣血之藥，自然全愈。</p>
<h4>玉貞散</h4>
<p>南星　白芷　防風　天麻　羌活　白附子（各等分）　為末。敷用護風，亦可調服二錢。</p>
<h4>風流散</h4>
<p>降香節（四兩）　血竭（二兩五錢）　蘇木（二兩）　乳香（五錢）　沒藥（三錢）　龍骨（二錢）</p>
<p>紅花（一錢）　桔梗（少許）　燈心（一把）　孵成形雞蛋（十個，連毛醋煮，黃泥封固，文武火煨。）　各為細末，和勻再研。干摻止血。止後燥痛，用清油調敷。血不止者，以血竭末獨敷立止。</p>
<h3>整骨接骨夾縛手法</h3>
<p>夫腦者，諸陽所聚。其太陽、囟門、腦蓋骨等處，一有破傷，即性命所系。宜分開其發，尋看傷處，剪去近傷之發，方好用藥。若血涌出，用燈心嚼成團，蘸桃花散塞之，無不止矣。小則不必，若或臭爛，先煎消風散服之，又煎辛香散洗之。洗時切忌當風處，猶恐寒熱增重難醫。若頭面皆腫，此風入裡也，宜服消風散。患處有腫，用蜜調聖神散，或薑汁醇酒調貼亦可。若髓出，用安髓散清茶調敷。二藥合用尤妙。若腦骨沉陷，用白金散，加淮烏散貼之，即時吸起，服藥取效。</p>
<p>夫面有七孔，眼居第一，為人生一世之最要者，治宜詳慎。如睛出胞外者，趁熱送入，但用聖神散貼，退其血與腫，內仍服藥。若黑睛破水出者，其目必壞，若翻轉在胞內，可輕輕撥轉歸原，亦用聖神散貼之。若血侵睛，用桃柳嫩枝、生地黃、地龍煎水，浸豬腿精肉，貼眼上，秘傳。常服活血注痛散，及清頭面藥，余皆照外傷見血治之。</p>
<p>夫頰骨脫，令患人坐定，揉以百十下，令口張開，醫者以兩手大拇指入口中，合手掇定，往下一伸，復還上一送，即入臼矣。仍用手巾兜住，一時可解。</p>
<p>夫牙床骨被傷，用手揣搦，令相按歸原，用聖神散貼之，外用絹手巾兜住下頰，直上縛在頭頂上。牙落者去之，搖動者以箸撥正。血出不止，用五倍子、白礬煎湯，含口中止之。</p>
<p>以米湯調白金散噙化，或用桃花散塞之。</p>
<p>夫頭頸從高墜下縮者，先用消風散，或住痛散，加痹藥昏昏散服之。令患人仰臥，用絹帶兜其下頰，直上頭頂，再將頭發解伸，同絹帶拿作一把，令其頭睡得平正，醫者坐於地下，伸直兩腳，踏患人肩上，用力徐徐拔伸，歸原合好。用生薑自然汁、韭汁、酒、醋調聖神散貼之。綁縛牢固，常服尋痛住痛散取效。</p>
<p>夫肩井欄骨折斷者，先用消風散住痛散，加痹藥昏昏散服之。揣搦相按歸原，次用蜜調聖神散貼之。卻用毛竹一節，長短闊狹，以患處為度，破開兩片，用一大片，削去楞角，闞入骨，用綿絮一團實股下，以絹帶從股下纏至那邊肩上扎住，服藥取效。</p>
<p>夫肩膊飯鍬骨破傷出者，以消風散住痛散加痹藥服之，次削甲辦藥，用手巾袱蘸辛香散藥湯，洗　其肩上，以舒其肩骨。令患人側臥，以一人立其面前，帶伸患人之手，與肩並齊，以足撐開患人之脅，如此則伸骨而易入也。醫者居其肩後，用手搦令患骨相接，要折試其手，上至腦，下腦後，又過胸前，令其掌於心脘下，不許搖動。卻用薑汁、韭汁，調聖神散貼之，用紙裹杉木皮一大片，按住藥上，用絹帶一條，從患處脅下綁至那邊肩上，其大杉木皮亦要穿數孔，庶好摻濕內面藥，日服加減活血尋痛散，取效。</p>
<p>夫肩胛骨脫出腕外者，此骨下段是杵，上段身骨是臼，治法先用住痛散加痹藥服之，次削甲辦藥。用布手巾袱蘸辛香散藥湯，　洗患處，令筋骨舒軟。如左手骨脫者，令患人臥，一人坐其左膝之側，曲其左足，踏患人左脅下，用帶綁住患人肘上，系於坐者腰間，坐者以手扶平患人之肘，卻低頭向前，倒腰向後，用力徐徐拔伸患人之骨，按正入於脅下。如骨脫向內，斂脅不開者，令患人側臥於地，用踏腳凳一條，夾其腳背，令其轉動，著一人曲腰坐於凳子上，用絹帶綁住患人肘股，上懸於坐者之肩，伸腳踏患人脅下，然後抬肩帶肘，徐徐用力拔伸患骨，用手按正其肩腕，務要折轉，又試其手，上到腦後，下過胸前，反手於臂，方是歸原。然後調聖神散貼之。用絹帶一條，從患處綁至那邊脅下縛住。又一條從患處脅下綁至這邊肩上，亦用綿絮一團，實其脅下，方得穩固。日服消風散，住痛散取效。</p>
<p>夫兩臂骨折斷或破碎者，先用消風散住痛散加痹藥服之。用杉木皮三片，削去粗皮，掐令微薄，如指面大，長短以患處為則。用綿紙包束黏定，用油透甲紙上，用左綁繩四部，編成閘極子，如此通漏，內面藥干，庶可摻濕。編畢，用熱藥湯　軟其筋骨。令患人臥於地，用絹帶縛患人肘臂，系於醫者腰間，醫者坐其膝側，雙手捉定患肘，腳踏其腋下，倒腰向後，徐徐用力拔伸斷骨，用手揣令歸原。以薑汁韭汁醋調聖神散，攤於油布上貼之。外用甲縛，寬緊如法，帶兜其手肘，懸於項下，要時常屈伸，肘腕不強，否則日久筋強，難以屈伸。日服加減活血住痛散，若甲兩頭泡起，不可挑破，用黑神散油調貼即消。</p>
<p>夫兩手肘腕骨骼，俗名胖KT　。若骨出於腕外者，先用住痛散加痹藥服之，後用藥湯軟筋骨，令患人仰臥，醫者居其側，用絹帶縛其臂，系於腰間，伸腳踏其腋下，捉住其股，倒腰徐徐用力拔伸，揣令相按歸原。就以大拇指著力張按其腕中，余四指分四處托其胖KT　後，又用兩手指托其骨內，卻隨折試其曲肱，使能伸屈，其骨不再去，方是歸原。試兩手合掌一齊復舊方好。用油紙攤聖神散貼之，加甲，其甲要闊杉木皮一片，可托得胖KT　過，其長要至上下臂骨腰間為則，杉木皮中間對KT　處，剮一大孔，容KT　尖轉折可動，其孔兩旁皮弦，另用皮紙包束黏定，復用皮紙包束其甲，兩頭亦黏定，如此則可屈伸。用左綁紙繩，編上四部，先編大片居中作紙甲，兩頭各編繩兩部，兩旁余繩，復編小甲作兩頭短甲，其短甲編作上下兩截，每編繩兩部，將上截甲綁住上臂骨上，下截甲綁住下臂骨上，腕間各空二分，庶甲不相撞，屈手無礙，日服活血住痛散取效。</p>
<p>夫兩手腕骨斷，極難調理，用藥不可過涼。夾後不可時常兜掛項下，要時常屈伸。坐則令其舒於幾案之上，或屈或伸。臥則令其舒於床席之間，時上時下。三日後令其折轉，上過腦後，又反手轉於背上，漸漸折試，方是活動歸原。若過三日，能如此轉動，亦不為遲。縱有腫貼藥，切忌過涼，恐筋寒貼肉，難伸難屈也。夫兩手背骨折斷而碎者，服　如前，令患人仰臥，醫者坐其膝側，伸腳踏患人腋下，左手托住患人中間三指，同作一把，著力拔伸，右手揣令歸原，即與貼藥。加夾用杉木皮一大闊片，可托掌背過骨，其長短從臂骨中間起，至掌背拳尖骨為則，杉木皮中間對腕骨處剮一橫孔，令可屈伸。又用杉木皮數小片，如指面大，其長從臂骨起至掌邊止。又兩小片夾臂側邊者，略長半寸，各用紙束定。用左綁繩五部編之，將兩部縛其托掌背大甲，並兩臂側小甲梢，其中一部，縛於大拇指根。掌兩邊弦上，其骨按得牢，外四部皆要寬舒，用帶懸於項下，三日後，亦要折轉，屈伸活動，服藥取效。</p>
<p>夫兩手掌骨碎肉爛，服　如前，揣正相接，用麻油調白金生肌散貼之，用蜜調聖神散敷。四圍紙裹，用杉木皮一大片，按於掌上，又將紙裹軟竹箬一大片，蓋於掌背，用手巾綁縛如法，不必服藥可也。</p>
<p>夫手指骨斷者，先整筋骨合皮，用桃花散止其血。以竹箬軟者一大片，要包得指頭過，紙裹定，用麻油調白金生肌散，攤箬紙上，包束患指，用帛纏之，次日藥干，再用麻油透潤，三日後，再用麻油調白金生肌散貼之，仍服活血住痛散取效，或蜜調聖神散貼之，亦可取效。</p>
<p>夫肩膊骨脫出，如左手脫出，醫者以右手叉其左手。右手脫出，醫者以左手叉其右手，以膝跪其脅，用手帶伸。如骨向上，以手托其上，要如故。搦軟其手，可齊頭上肩，方可貼藥。以紙塊實其腋下，用帶二條，一條從這邊肩上，纏至那邊腋下，一條從那邊患處腋下，纏至這邊肩上，日服住痛散自安。</p>
<p>夫腰骨背脊骨折斷者，令患人覆臥凳上，用大研米錘直於腹下，用絹帶縛其兩肩胛於凳腦上，又縛其兩足於凳腳橫檔上，如此則鞠曲其腰，斷骨自起而易入也。再用曲扁擔一條，從背脊趁直，壓其斷骨，徐徐按入，相接歸原，然後用聖神散貼之，再用紙裹杉木皮一大片，按在藥上，以暖肚緊緊縛之，日服加減活血住痛散取效。</p>
<p>夫兩脅筋骨折斷者，不必夾縛，日服加減住痛散取效。</p>
<p>夫兩腿環跳骨脫出者，此最難治之症也。足短者易治，足長者難治，日服加減活血住痛散取效。</p>
<p>夫兩足腿骨折斷者，　服如前，令其仰臥，綁其胸腋，系於凳腦上，如右足患，直伸左足，豎屈右足，醫者側立右手凳弦邊，　其右足，踏患人右臀尖，一人以帶系患人右足脛骨，正坐凳頭，著力挽帶，拔伸患骨，醫者揣捫患骨歸原，即按定雙手，按住莫動，令伸其足，試其齊否，然後貼藥，如法夾縛定。日服加減活血住痛散取效。</p>
<p>夫兩足膝蓋骨碎斷，或斡脫者，服　如前，用箍傘篾圈一個，其大要箍得膝蓋骨住，四圍絹包，旁安帶二條。令患人仰臥，直伸其足，醫者揣捫，相按居位，用圈子箍在膝蓋骨上，縛定不解，後用聖神散敷於圈子內，外再用草紙裹束，則不污染，日服活血住痛散取效。</p>
<p>夫兩足脛骨折斷而碎者，與接腿骨同。</p>
<p>夫兩踝骨及掌，斡脫而若蹣跚者，服　如前。用杉木皮二大片，其長從小腿肚下起，至腳底為則，中間對踝骨處剮一圓孔，要箍得踝骨過。又用杉木皮一大片，要托得腳掌過，從趾下起，至KT　後轉折直上夾住後KT，要留兩旁邊弦。又用杉木皮三四片，如指面大，編作閘極欄子甲，夾住筋骨面前，大小杉木皮皆紙包油透如法，用左綁繩編。踝上兩部，腳下兩部，先拔伸患骨，揣正歸原，夾之。其腳底用布兜掌前，系於膝下，令腳掌不直伸下，仍令腳掌時常伸屈，日服活血住痛散取效。</p>
<p>夫十足趾折斷者，法與手指同。應用諸方開後。</p>
<h4>聖神散</h4>
<p>淮烏　白芷　赤芍　白芨　枇杷葉　芙蓉葉（各三錢）　韭根　韭菜（各一兩）</p>
<p>用薑汁、韭汁、老酒同調敷。</p>
<h4>桃花散</h4>
<p>止血。</p>
<p>大黃　黃柏　黃芩（各五兩）　鍛石半斤　同炒。至灰如桃花色。退火收貯，候用。</p>
<h4>消風散</h4>
<p>人參　防風　川芎　川朴　僵蠶　桔梗　獨活　半夏　肉桂（各一錢）　羌活蟬蛻　當歸（各一錢五分）　南星　白芷（各二錢）　黃芩（三錢）　柴胡（七分）　甘草（五分）　水煎。童便老酒沖服。</p>
<h4>辛香散</h4>
<p>洗。</p>
<p>防風　荊芥穗（各十兩）　劉寄奴（二兩）　獨活　乳香　明礬　倍子　苦參（各五錢）</p>
<p>柏葉　當歸　白芷　銀花　蒼耳子　澤蘭　細茶（各少許）　水煎。入飛鹽一撮，洗之。</p>
<h4>安髓散</h4>
<p>川芎　香附　白附子　甘草　白芷　相草　牡蠣（各一兩）　共為細末。每服二錢。清茶調服。</p>
<h4>白金散</h4>
<p>白芷梢一味為末，香油調敷。</p>
<h4>淮烏散</h4>
<p>淮烏　川芎　白芷（各等分）　共為細末，薑汁和酒調服。</p>
<h4>痹藥昏昏散</h4>
<p>草烏（一錢五分）　骨碎補（二錢）　香附　川芎（各一錢）　共為細末。薑汁和酒調服。飲醋冷水即解。</p>
<h4>住痛散</h4>
<p>杜仲　小茴　大茴（各四錢）　共為細末。每服二錢。老酒調服。</p>
<h4>活血住痛散</h4>
<p>白芷　山甲　小茴　甘草（各三錢）　當歸　川芎（各二錢）　獨活　羌活（各一錢五分）</p>
<p>木瓜　肉桂　淮烏（各一錢）　草烏　麝香（各三分）　共為細末。薑酒調。作一次服。</p>
<h4>尋痛住痛散</h4>
<p>乳香　沒藥　淮烏　川烏　川芎　山甲　木香　虎骨　自然銅　赤芍　紫荊皮（各二錢）</p>
<p>當歸（一錢五分）　小茴　大茴　沉香　白朮　桔梗　牛膝　烏藥（各一錢）　枳殼（八分）</p>
<p>甘草　香附　降香節（各五分）　生薑（三片）　水煎服。</p>
<h4>加減活血住痛散</h4>
<p>當歸　山甲　木瓜　牛膝（各三錢）　乳香　沒藥（各二錢）　獨活　羌活　枳殼（各一錢五分）　小茴　甘草　淮烏　川芎　白芷　人參　大茴　血竭（各一錢）　肉桂（八分）　麝香（一分）　生薑（五片）　水煎。酒沖服。</p>
<h4>黑神散</h4>
<p>百草霜（即鍋臍煤）　一味。炒至煙盡存性。清油調敷。</p>
<h3>輕重損傷按穴治法</h3>
<p>（計三十四穴）</p>
<p>天關穴（在百會前一寸五分。即前頂穴。）督脈。與涌泉通，屬脾肺二經。</p>
<p>紅花　當歸　劉寄奴　赤芍　陳皮　蘇術　續斷　川芎　威靈仙　乳香　沒藥　如皮傷輕者，頭上浮腫，其勢反重。用原方治之，膏貼穴內，自愈。傷重者，穴內血有一塊，反不浮腫，其勢似輕。其血一阻，周身之血不通。傷血入脾經，一二日遍身如刀刺之，六七日轉入肺經，腹即腫脹，十日後肺漸斃，至十五日準斃其內。醫治用原方。將膏貼涌泉穴，約半月，其血流通即愈。打破者以象皮湯抹淨，不可惹頭發在內，摻藥紅玉膏收之，煎藥原方加骨碎補。</p>
<p>百會穴（在天關後一寸五分，頂中央旋毛陷中。）乃天關頂門交界之所，受傷時看近何穴，照何穴治之。</p>
<p>頂門穴（在百會後一寸五分，即後頂穴。）　督脈，屬心脾二經。</p>
<p>當歸　紅花　威靈仙　枳殼　烏藥　陳皮　赤芍　澤蘭　五加皮　傷輕者，將膏貼穴內，煎藥用原方。傷重者，傷血即入心經，眼脹頭痛，口發譫語，第三日轉入脾經，遍身赤脹，原方加三棱、莪朮。不可用破血藥，第七日還入心經，則無救矣。若打破出血，仍噴不止，用四生湯治之。後用摻藥紅玉膏貼之，血止後，用附子、肉桂等熱藥敷之。</p>
<p>天星穴（在入後發際一寸，大筋內宛宛中，即風府穴。）　督脈。</p>
<p>澤蘭　紅花　歸尾　三棱　川芎　桃仁　續斷　烏藥　陳皮　莪朮　五加皮　骨碎補赤芍　蘇木　薑黃　紫蘇　木香　看傷輕重，以此方減用之，若打破出血不止，急用四生湯止，用象皮湯抹，摻藥以紅玉膏蓋之。</p>
<p>眉心穴（在兩眉頭陷中，即攢竹二穴，一名員柱，一名始光，一名光明。）　足太陽，屬心肺二經。</p>
<p>澤蘭　紅花　歸尾　草決明　烏藥　銀花　續斷　三棱　莪朮　受傷不論輕重損破，若不醫治，一百二十日即眼前清盲。</p>
<p>耳後穴（在耳後青脈中，即螈脈二穴。）手少陽三焦經。</p>
<p>川芎　薄荷　當歸　薑黃　澤蘭　五加皮　烏藥　莪朮　三棱　肉桂　骨碎補　陳皮傷輕者，七日耳內流血死，傷重者，三日七竅流血死，其藥宜重劑。二三分傷者，不醫後必發毒，左為夭毒，右為脫疽。先用原方清理，出毒之後，以十全大補湯調治，外用腫毒藥治之，其毒由損傷發者，其色紫黑，不由損傷發者，其色紅白。</p>
<p>骨枕穴（在後頂後三寸，強間後一寸五分，即腦戶穴。）　督脈，屬心肺二經。</p>
<p>當歸　骨碎補　陳皮　銀花　烏藥　澤蘭　赤芍　紅花　威靈仙　續斷　五加皮　川芎傷重者，七日頭顱脹而死，甚者爆碎而死，傷六七分者，滿頭脹痛，用原方治之。三四分傷者，不醫發毒，名為玉枕疽。其色初起白，有膿反紅，切不可用刀，須用巴豆半粒，搗爛，安膏上貼之。半刻自穿，若不出膿，用火罐拔之，有鮮血流出可救。無鮮血再用火罐，有血則生，無血不治之症。可救者，出毒之後，服八珍湯數劑，後服十全大補湯。膿黃者脾經，膿清者肺經。</p>
<p>轉喉穴（在頸直人迎俠天突陷中，梭子骨尖上橫左一寸，再直下一寸。）　足陽明氣舍穴，屬心肺二經。</p>
<p>紅花　烏藥　藿香　石斛　當歸　薑黃　陳皮　五加皮　丹參　赤芍　續斷　受傷如刀刺，有時痛，有時不痛，重者七日喉閉而死，治法當用蔥薑熨數次，煎藥加肉桂、石蠶即好，輕者不醫，後喉必痛，用清涼藥治之。</p>
<p>閉氣穴（與轉喉同，亦即氣舍穴。左為轉喉，右為閉氣耳。）　足陽明，屬心經。</p>
<p>澤蘭　枳殼　紅花　烏藥　生地　丹參　陳皮　木通　赤芍　續斷　木香　傷重者，即刻悶倒，周時內用原方易治，過期難治。先將枳殼煎湯，磨金沉香服之，後用原方，照前法蔥薑熨之。</p>
<p>泰山穴（離梭子骨四寸六分）　屬心肝二經。</p>
<p>紅花　當歸　續斷　赤芍　元胡索　烏藥　澤蘭　陳皮　秦艽　丹參　茯神　遠志　傷重者，即時發喘，十一日死。輕者不喘，二十八日亡。當日醫用原方。二三日醫加破血藥，緩治之，外亦以蔥薑熨六七次，病稍退輕後，用養血行血藥服之即好。</p>
<p>心井穴（在心窩內軟骨上。即鳩尾穴。）　任脈，屬五臟。</p>
<p>木香　半夏　澤蘭　紅花　當歸　陳皮　骨碎補　銀花　烏藥　赤芍　肉桂　石斛傷時不論輕重，積血皆重，傷重者三日死，輕者七日死，俱用原方加五加皮，外照前法蔥薑熨之。極輕者不醫傷血積入臟腑，後必發出，傷入心經，則成心痛，用心痛方治之。入肝經，渾身發瘡，用枳殼、雞子煎紅玉膏抹。入脾經，則成痢疾，用枳殼、蘇葉、查肉各五錢煎，將砂糖沖入服。入肺經，則成痰火，用蘇子、蘿卜子、菠菜子各一兩，白芥子三錢去殼，共為末，以米糖在飯鍋上蒸化，將藥末三錢調入糖內候冷，白湯送下，每日一服，連服數日而好。凡久年者皆效。入腎經，則成白濁，用三聖丸治之即愈。凡遺精夢泄者皆效。</p>
<p>對門穴（在蔽骨下一寸五分，巨闕旁各開二寸，即不容穴。）足陽明，屬心肺二經。</p>
<p>木香　當歸　赤芍　澤蘭　陳皮　烏藥　秦艽　紅花　肉桂　薑黃　藿香　元胡索傷重者五日死，輕者四十九日死。俱用原方，若呼吸稍痛，加蘇木、生地各三錢。</p>
<p>扇門穴（與對門對，男人左對門，右扇門，女人左扇門，右對門。）　足陽明，屬肺經。</p>
<p>澤蘭　紅花　當歸　五加皮　烏藥　陳皮　薑黃　續斷　赤芍　威靈仙　傷重者，渾身發熱氣斷，口齒皆焦黑發臭，七日死，口舌必爛，不爛用原方，若爛加門冬、萆　、射干、玄參。輕者，四十九日，咽喉閉塞，飲食不能進而死。</p>
<p>血浪穴（在乳直上二寸，即膺窗穴。）　足陽明胃經。</p>
<p>紅花　劉寄奴　歸尾　陳皮　赤芍　薑黃　烏藥　銀花　五加皮　續斷　骨碎補　傷重者浮腫。輕者但痛不腫。俱六十日死。重者原方加桃仁、蘇木，或加大黃。輕者止用原方。</p>
<p>丹田穴（在臍下一寸五分，即氣海穴。）　任脈，屬腎經。</p>
<p>紅花　當歸　澤蘭　續斷　威靈仙　赤芍　木通　豬苓　澤瀉　烏藥　陳皮　薑黃　受傷痛如刀刺，積血甚重，小便不通，用原方治之，過九日者不效。</p>
<p>期門穴（在乳下第二肋端蔽骨下一寸五分，巨闕旁三寸五分，不容旁一寸五分。）　足厥陰，屬心腎二經。</p>
<p>紅花　當歸　骨碎補　烏藥　陳皮　威靈仙　薑黃　肉桂　劉寄奴　五加皮　三棱　莪朮赤芍　重者三日即死。輕者二十二日死。當日即醫用原方。第二日原方加半夏。第三日外用蔥薑搗爛鋪傷處，用火熨七次，原方去三棱、莪朮，加歸尾，桃仁，破血為主，破之仍痛，用大黃下之自愈。</p>
<p>章門穴（在期門下五寸五分，直臍端。）　足厥陰，屬肝、肺、心三經。</p>
<p>紅花　當歸　續斷　澤蘭　赤芍　骨碎補　烏藥　陳皮　銀花　五加皮　薑黃　威靈仙三棱　莪朮　傷重者五日死，輕者九日亡。二三日醫用原方，四五日醫原方去三棱、莪朮，加肉桂、附子，然附子看人稟氣，濃者可用，薄者不可用。若腫痛不住，加破血藥破之，仍痛用蔥薑照法熨六七次，再加升降之藥服之。</p>
<p>七勞穴（在期門下二寸，即腹哀穴。）　足太陰，屬肝經。</p>
<p>赤芍　澤蘭　當歸　紅花　烏藥　五加皮　陳皮　骨碎補　薑黃　威靈仙　銀花　肉桂傷重者七竅流血，輕者發狂，傷左邊者左臂不能動，右邊者亦然，重者用原方治之。不退加三棱、川芎、香附、元胡索，去威靈仙；輕者原方加桔梗、蘇木，再輕者只加蘇木，俱照前法蔥薑熨之，七孔流血者，一日即死，初流時用四生湯止之，緩用原方。</p>
<p>京門穴（在監骨腰中季肋，本俠脊也。期門穴下三寸二分。）　足少陽，屬心肝二經。</p>
<p>歸尾　紅花　續斷　威靈仙　赤芍　五加皮　骨碎補　陳皮　烏藥　澤蘭　傷重者日半死，輕者三日亡。當日即醫，原方加破血之藥。二三日加大黃下之。</p>
<p>五定穴（在京門下四寸八分，即五樞穴。）　足少陽，屬脾肝二經。</p>
<p>當歸　紅花　澤蘭　赤芍　五加皮　烏藥　銀花　骨碎補　三棱　莪朮　陳皮　桂枝傷重者立發寒熱，三次即死。一次者照前法蔥薑熨之。原方去三棱、莪朮、桂枝，加肉桂、草烏。二次除肉桂、草烏，加大黃、神麯。三次去大黃、神麯，加桃仁、升麻；其血稍松，去桃仁、桂枝，仍以大黃下之。輕者竟用原方。</p>
<p>伯勞穴（在大椎下二椎上節間陷中，即陶道穴。）　督脈，屬五臟。</p>
<p>劉寄奴　紅花　當歸　薑黃　五加皮　烏藥　續斷　川芎　赤芍　骨碎補　陳皮　銀花傷重發腫，其首俱不能動，用原方，膏上刺數孔貼之。傷輕不醫，其傷反要傳入臟腑。</p>
<p>傳入心經，嘔血甚多。一方梨十斤，藕節十斤，搗爛，水煎成膏，白糖霜攪勻，每清晨服一鐘，自愈。傳入肝經，渾身發熱，不能行動，兩目昏花，口齒出血，先將熱血藥服數劑，後用涼藥。傳入脾經，身似蛇皮，發瘋病，用蘄蛇一條，童雞一只，干捋毛腸，不可見水，將蛇入雞肚內蒸熟，去蛇淡吃雞肉，即愈。傳入肺經，似痰火而無痰，微有紫血嘔出，先服四生湯數劑，後用六味丸自好。傳入腎經，似怯症，腎水阻滯使然，先用原方四劑，後服六味丸。</p>
<p>肺使穴（在第三椎下，兩旁各開一寸五分，即肺　穴。）　足太陽，膀胱經。</p>
<p>紅花　當歸　薑黃　三棱　莪朮　肉桂　陳皮　烏藥　威靈仙　赤芍　五加皮　傷時不疼不腫，渾身酸癢者無救，三日死。腫疼者可救，用原方，重者加桃仁，改歸尾，甚者再加蘇木。</p>
<p>膏肓　穴（在第四椎下，近第五椎上，兩旁各開三寸。）　足太陽，膀胱經。</p>
<p>防風　赤芍　當歸　威靈仙　薑黃　銀花　陳皮　桔梗　肉桂　烏藥　柴胡　此穴平素負重肩挑，俱不能傷。倘或受傷，手臂不能舉動，如脫樣。須用膏藥二張，一貼穴內，一貼肋下，用原方加升麻。</p>
<p>對心穴（在第七椎下節間，伯勞下六寸，即至陽穴。）　督脈，屬心經。</p>
<p>陳皮　烏藥　骨碎補　當歸　紅花　威靈仙　薑黃　肉蔻　五加皮　赤芍　三棱　莪朮木香　藿香　傷時頃刻悶死，不醒，微有氣息。救法：在百會穴內，用艾火灸之，以醒為度，不可再灸，重灸頭要爆開，醒時用原方加桔梗。</p>
<p>命門穴（在十四椎下，對心下八寸。）　督脈，屬心腎二經。</p>
<p>歸尾　杜仲　紅花　澤蘭　肉桂　赤芍　骨碎補　續斷　五加皮　烏藥　薑黃　陳皮傷重者九日死，以原方治之即愈。輕者不醫，後必發毒，名為腎癰。先去其傷血，後以腫毒藥托之，稍松易治，不松難治，後必腎水耗盡自死。</p>
<p>鸛口穴（在尾　骨上脊骨盡處。）　督脈，屬肺腎二經。</p>
<p>歸尾　劉寄奴　紅花　赤芍　陳皮　木通　續斷　骨碎補　五加皮　五靈脂　烏藥　澤蘭傷重者立時軟癱，不痛者凶，痛者次之。凶者須在伯勞穴灸三壯，後以原方治之。不醫五日死。輕者不醫，後發毒名鸛口疽，用黃　湯治之。若出毒入內不救。</p>
<p>海底穴（在糞門前陰囊後，即會陰穴，一名屏翳。）　任脈，屬心經。</p>
<p>紅花　當歸　澤蘭　續斷　威靈仙　赤芍　豬苓　木通　澤瀉　骨碎補　乳香　沒藥傷處虛腫，積血甚重，小便不通，龜頭腫脹，用銀絲打通六寸，離龜頭一寸上，用艾火灸，灸一壯；將銀絲取出一寸，再灸一壯，再出一寸，如是四次，取出銀絲，其血即出，再以原方治之。</p>
<p>環跳穴（在髀樞中大腿上骱。）　足少陽，屬肝脾二經。</p>
<p>歸尾　銀花　續斷　生地　骨碎補　陳皮　五加皮　紅花　木瓜　石斛　烏藥　牛膝傷重者不能行動，酸痛非常，腿足皆縮，用原方先服一劑，後熨九次，再以原方服之即愈。如傷輕不醫，後必發骨疽。先用黃　加之，後加香附，又以白朮湯服之。</p>
<p>蓋膝穴（在蓋骨）</p>
<p>元胡索　丹皮　赤芍　續斷　歸尾　紅花　骨碎補　銀花　牛膝　烏藥　五加皮　蘇木傷重者立刻坐倒，腿不能伸直，筋縮酸痛，用原方加升麻服之。一帖後，去升麻，加桃仁破血為主，數劑即愈。</p>
<p>膝眼穴（在膝臏上內　白肉陷中，即血海穴。）　足太陰，屬心經。</p>
<p>歸尾　紅花　萆　澤蘭　牛膝　五加皮　骨碎補　石斛　續斷　烏藥　陳皮　威靈仙傷重者周身紫脹，周時即死。立刻就醫，原方加蘇木、桃仁。輕者三日嚼碎舌頭而死。</p>
<p>期內再加升麻、桂枝，照前法蔥薑熨之。</p>
<p>膝底穴（在膝下內側輔骨下陷中，即陰陵泉穴。）　足太陰經。</p>
<p>紅花　烏藥　歸尾　骨碎補　木瓜　陳皮　銀花　續斷　牛膝　五加皮　赤芍　肉桂澤蘭　丹皮　傷重者，三日內不腫不疼，三日後其色發紫，已在內作膿，用原方治之。傷左用左方。傷右用右方。二三分傷者，人不知覺，雖其傷自愈，後傷血上行攻心，主一百六十日後中焦必發背，其毒先痛久，然後成形，其色胭脂，見形之後，反不疼，皆因傷血內凝之故。治法先用內傷藥一二劑，破血為主，後用腫毒藥治之。但毒愈後，其腿無小肚子，不能行動，終成廢人矣。</p>
<p>竹柳穴（在內踝上二寸，即交信穴。）　足少陰，屬五臟。</p>
<p>歸尾　澤蘭　紅花　赤芍　廣皮　銀花　續斷　牛膝　木瓜　威靈仙　烏藥　丹皮　傷重者原方治之。輕者不醫。病有五種。傷入心經，痴呆發癇症，不省人事，治法於原穴內灸三壯，後在百會穴內灸三壯，先以原方服數劑，後以天王補心丹服之即好。入肝經膽經者，遍身虛黃浮腫。（治法未詳）入脾經者，遍身筋骨縮，酸麻。治法用舒筋養血方。入肺經者，發佛頂疽，用上部活血藥，服一二劑，再用腫毒藥治之。入腎經者，小便流血，治法原方去續斷、牛膝、木瓜、靈仙、烏藥、丹皮，加澤瀉、木通、連翹、黃芩、豬苓、甘草治之。</p>
<p>腳住穴（在腳面上，有骨高起似豆之旁。）</p>
<p>元胡索　當歸尾　丹皮　赤芍　續斷　紅花　骨碎補　牛膝　生地　澤蘭　陳皮　五加皮傷重者立時痛倒，七日後入經絡。七日先用原方，七日後加升麻、桂枝。傷輕者不醫，變為腳發背，若用腫毒藥治之，腐爛不能收功。須用補為妙，當用人參，在身邊窩燥為末，摻上即好。不爛者，用養血藥治之。</p>
<p>涌泉穴（在足底心陷中。）　足少陰腎經，屬五臟。</p>
<p>澤蘭　紅花　當歸　骨碎補　烏藥　陳皮　生地　牛膝　肉桂　五加皮　赤芍羌活　傷輕重者俱不知覺，頂重者其血不能流通大關，一周時遍身猶蟲鑽，原方加川芎即愈。若不醫，傷入心經，則眼紅鼻內流血。以生芥子煎湯先服。後以原方治之。入肝經則半身軟癱，猶如半身不遂，用原方加香附、元胡索治之。入脾經，則渾身發瘡，猶如水泡，其泡穿作爛臭不可聞。先用活血藥，加脾經引藥治之；外以水龍衣（即螺螄殼）　煨灰研末，生鵝油調敷瘡上即愈。入肺經，肺氣脹痛，十五日轉入脾經，即發流注。（治法未詳）　入腎經，則小便不利，小腹作痛，用原方去牛膝、羌活、骨碎補，加木通、豬苓、澤瀉，小腹上用蔥薑，照前法熨之立愈。</p>
<h4>萬應紅玉膏</h4>
<p>治破傷潰爛，不得收斂者。瘡瘍並治。</p>
<p>麻油（二十三兩）　雞子黃（十個）　血余（三錢）　黃蠟　樟冰（各五兩）　黃丹（六兩）</p>
<p>先將油煎極滾，下雞子一枚，熬枯去之，又下又去，十枚盡後，下血余煎烊，以棉濾淨；再入黃蠟，待沫淨離火，用槐枝攪，入黃丹樟冰；稍冷，入水浸一夜，出火毒，備用。</p>
<p>不拘破傷瘡毒爛孔，以舊棉攤貼，加細藥末，臨用摻之。乳香　沒藥　兒茶（各一錢）　珍珠（五分）　冰片（三分）　共為細末，摻膏內貼。又紅玉膏，治同。黃蠟　白蠟　乳香沒藥（各五錢）　樟冰　血竭　輕粉　象皮（各四錢）　兒茶（二錢）　熟豬油（四兩）　將二蠟化去渣，取起入前藥末攪勻，先以蔥白湯洗淨患處，拭乾後，敷藥，以紙蓋，勿令見風。</p>
<h4>白玉膏</h4>
<p>治一切破傷極效。</p>
<p>冬熟豬油燉烊濾清，每油七兩，配白蠟三錢，攪勻聽用。　鉛粉（四錢）　輕粉（二錢）</p>
<p>冰片（二分）　制油（二錢五分）　擂勻，作膏貼之。</p>
<h4>神效內傷丸</h4>
<p>治瘀血內凝，煩悶疼痛者。</p>
<p>巴豆霜　甘草粉（各三錢）　以飲糊為丸，如麻子大，朱砂為衣，每服七丸，茶酒送下。</p>
<h4>尋痛丸</h4>
<p>治損傷疼痛難禁者，服之神效。</p>
<p>生草烏（去皮尖）　乳香　沒藥　五靈脂（各五錢）　麝香（少許）　共為細末，酒糊為丸，如芡實大，朱砂為衣，薄荷湯生薑汁磨化服。</p>
<h4>尋傷丸</h4>
<p>治筋骨碎斷者。</p>
<p>乳香　沒藥　蘇木　川烏　松節　自然銅（醋　）　降香　地龍（炒去油）　水蛭（各五錢，香油炒炙）　血竭（三錢）　龍骨（五錢）　土狗（十二個，焙乾）　各為細末，每服三錢，熱酒下。</p>
<h4>順風散</h4>
<p>治損傷後，惡氣上升，嘔吐不止者。</p>
<p>大黃（三錢）　生地　熟地　川芎（各五錢）　共為末，每服三錢，空心溫酒送下立效。</p>
<h4>保命丹</h4>
<p>治筋骨損傷，無分經絡，定痛散血，立見神效。</p>
<p>白頭地龍（二十四條，童便制）　石蟹（三只，酒製）　土狗（十二個，蔥汁制）　水蛭（六條，醋製）　地鱉蟲（三百六十個，薑汁製）　上各浸制為末，加乳香　沒藥　血竭（各一兩）　天雷石（一兩，醋製七次，須預制去火毒）　米糊為丸，彈子大。作三十丸，每丸可救一人，胡桃、紅花煎酒磨化送下。　又方　治傷後瘀血攻心，垂危欲死者，服之神效。　血竭　當歸　百草霜　乳香　沒藥　官桂　大黃　好酒煎服。</p>
<h4>保安萬靈丹</h4>
<p>治破傷風，寒熱發噤，入裡內陷者。</p>
<p>茅蒼朮（八兩）　全蠍　石斛　明天麻　當歸　炙甘草　川芎　羌活　荊芥　防風麻黃　細辛　川烏（湯泡去皮）　草烏（湯泡去皮尖）　何首烏（各一兩）　明雄黃　朱砂（各六錢）　上共為細末，煉蜜為丸，彈子大。每丸五六錢，朱砂為衣，蔥白煎湯，乘熱化開，通口服盡，被蓋出汗為效。如無汗再服如前。</p>
