<header data-type="book">
<h1>傷寒醫訣串解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1856">公元1856年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>傷寒醫訣串解者。長樂陳修園先生晚年所編集也。惜六篇之中尚缺其一。以其未成書。故不及付梓。其門徒猶子陳道著。有盧扁風。閩之名醫也。既能學先生之學。又能承先生之志。日嘗手披而秘藏之。復體會其遺意而敬續一篇以補其缺。合成六篇。而篇帙遂成。茲修園古矣。其猶子道著亦古矣。閩中林子壽萱。專心衛世。於舊書肆中。檢得修園先生注解葛可久十藥神書一卷。購而珍存之。並恐此二種沒而不彰。因細加讎校。韻而錄之。欲與兩先生傳名。兼以傳世。值余奉命巡撫全閩。因舊疾復起。探知林子精於療治。常勞診視。論及閩中名醫。林子以陳修園陳道著兩先生對。敬以修園先生所著南雅堂十一種醫書見示。且余本善病患也。又耳熟是書久矣。適林子復以傷寒醫訣串解手錄一通乞序於余。余不敏。每兢兢官守。尚恐才不足以經世。何暇論及衛世。然串解實補傷寒淺注所未備。不可以無傳。若再附以十藥神書注解合而刻之。庶可以作岐黃家秘本矣。今之術岐黃者。果能默會精審。互相參校。其裨益良不淺也。姑就林子所述其緣起。為之弁數語於簡端云爾。</p>
<p><u>咸豐丙辰秋九月望後三日福建巡撫呂　孫書</u></p>
<p>曩集傷寒淺注。凡三百九十七法。依法條晰。期於明白易曉。而又慮學人未能融會貫通而得其要旨也。</p>
<p>不揣固陋。復為綜貫衍繹。名曰傷寒醫訣串解。其於疑似細微之處。抉剔詳辨。頗費苦心。修園老矣。敢謂於此道三折肱。然有志之士。誠能即此　繹其端緒。推尋其綱領。而不眩於似是而非。未必非活國活人之一助也。</p>
<p><u>閩長樂陳念祖修園識</u></p>
<h2>卷一</h2>
<h3>太陽篇</h3>
<p>（太陽為寒水之經。主一身之表。）</p>
<p>何謂太陽經症。曰。頭痛項強。發熱惡寒是也。有虛邪實邪之辨。</p>
<p>脈緩。自汗惡風。為虛邪。宜桂枝湯。如八九日過經不解。如瘧狀。面熱。身癢。以其不得小汗故也。宜桂枝麻黃各半湯。因前此未汗。不得不發其汗。因日數頗久。故小發其汗。如服桂枝湯。大汗出後。形如瘧。日再發者。以余邪未盡故也。宜桂枝二麻黃一湯。大汗之後。不得再行大汗之法。而余邪未盡。不得不從汗而竭之。但藥品宜輕耳。</p>
<p>脈浮緊。無汗惡寒。為實邪。宜麻黃湯。如無汗煩躁者。加石膏薑棗。名大青龍湯。如乾嘔而咳。去杏仁。加五味乾薑半夏細辛芍藥。名為小青龍湯。此二湯。即麻黃湯之加減。總不出麻黃湯之范圍。</p>
<p>此二法。治表中之表也。</p>
<p>何謂太陽腑症。曰。表邪不去。必入於裡。膀胱為表中之裡也。有蓄水蓄血之辨。</p>
<p>太陽病。其人口渴。煩躁不得眠。脈浮。小便不利。水入即吐。為膀胱蓄水症。宜五苓散。</p>
<p>太陽病。其人如狂。小腹硬滿。小便自利。脈沉。為膀胱蓄血症。宜桃仁承氣湯。</p>
<p>此二法。治表中之裡也。</p>
<p>何謂太陽變症。曰。汗下失宜。從陰從陽之不一也。</p>
<p>不應下而下之。續得下利清穀。身疼痛。宜四逆湯。以救清穀之裡。又以桂枝湯。以救身疼痛之表。</p>
<p>病發熱頭痛。脈反沉。若不瘥。身體疼痛。當救其裡。宜四逆湯。</p>
<p>大汗大下利而厥冷者。四逆湯主之。</p>
<p>太陽病。發汗太過。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸。桂枝加附子湯主之。</p>
<p>太陽病。發汗太過。動其榮血。而衛邪反內伏。其人仍發熱。心下悸。頭眩身　動。振振欲擗地者。真武湯主之。</p>
<p>以上言汗下太過。傷正而虛其陽。陽虛則從少陰陰化之症多。以太陽少陰為表裡也。</p>
<p>陽盛於內。誤服桂枝湯。大汗出後。大煩大渴不解。脈洪大者。白虎加人參湯主之。</p>
<p>傷寒若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上干燥而煩。欲飲水數升者。白虎加人參湯主之。</p>
<p>傷寒不大便六七日。為裡症。頭痛發熱。為表症。外不解。由於內不通也。下之。裡和而表自解矣。與承氣湯。</p>
<p>病患煩熱。汗出則解。又如瘧狀。日晡所發熱。屬陽明也。脈實者。宜下之。與大承氣湯。脈虛者。宜發汗。與桂枝湯。</p>
<p>發汗後惡寒者。虛故也。不惡寒但熱者。實也。當和胃氣。與調胃承氣湯。</p>
<p>太陽病未解。脈陰陽俱停。停者沉滯不起也。陰陽者尺寸也。必先振栗。汗出乃解。但陽脈微者。先汗而解。</p>
<p>但陰脈微者。下之而解。若欲下之。宜調胃承氣湯。按此脈微。即上文脈停也。</p>
<p>以上言汗下失宜。熱熾而傷其陰。陰傷則從陽明陽化之症多。以太陽陽明遞相傳也。</p>
<p>何謂發汗利水為治太陽兩大門。曰。邪傷太陽。病在寒水之經。驅其水氣以外出則為汗。逐其水氣以下出。後為黃涎蓄水。前為小便長。</p>
<p>太陽為寒水之經。邪之初傷。必須發汗。麻黃湯發皮膚之汗。桂枝湯發經絡之汗。葛根湯發肌肉之汗。</p>
<p>小青龍湯發心下之汗。大青龍湯發其內擾胸中之陽氣而為汗。此發汗之五法也。</p>
<p>若汗之而不能盡者。則為水。水在心下。乾嘔而咳。宜小青龍湯。發熱而煩。渴欲飲水。水入即吐。名曰水逆。宜五苓散。汗後心下痞硬。干噫食臭。脅下有水氣。腹中雷鳴下利者。病勢雖在腹中。而病根猶在心下。宜生薑瀉心湯。此水氣在上焦。在上者。汗而散之也。若妄下之後。自心上至小腹。硬滿而痛不可近。</p>
<p>（水與氣所結）脈遲。名大結胸。宜大陷胸湯。若項亦強。如柔　之狀。宜大陷胸丸。蓋病勢連於下者主以湯。病勢連於上者主以丸是也。若其結止在心下。按之始痛。脈浮滑。名小結胸。邪氣尚在脈絡。宜小陷胸湯。</p>
<p>若無熱症。名寒實結胸。宜三物白散。若心下痞硬滿。引脅下痛。乾嘔。短氣。汗出不惡寒。三焦升降之氣。</p>
<p>阻格難通。宜十棗湯。此水氣在中焦。中滿。瀉之於內也。若頭痛項強。翕翕發熱。無汗。心下滿微痛。小便不利者。因膀胱之水不行。營衛不調。不能作汗。宜以桂枝去桂加茯苓白朮湯治之。是水氣在下焦。在下者。引而竭之是也。</p>
<p>內經云。太陽之上。寒氣治之。所謂本也。本之下。中之見也。見之下。氣之標也。又曰。太陽從本從標。又曰。</p>
<p>太陽為開。又熱病論曰。傷寒一日。巨陽受之。故頭項痛。腰脊強。</p>
<p>傷寒論云。太陽之為病。脈浮。頭項強痛而惡寒。</p>
<p>又云。太陽病。發熱汗出。惡風脈緩者。名為中風。</p>
<p>又云。太陽中風。陽浮而陰弱。陽浮者。熱自發。陰弱者。汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。</p>
<p>桂枝湯主之。</p>
<p>又云。太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘者。麻黃湯主之。</p>
<p>太陽主一身之表。六經中最外一層。故表病俱屬太陽。但有表中之表。病在肌腠則有汗。宜桂枝湯。病在膚表則無汗。宜麻黃湯。兩法用之得當。一劑可愈。又有脈微惡寒。面色反有熱色而身癢。是邪欲出而未得遽出。必得小汗而解。宜桂枝麻黃各半湯。又有服桂枝湯。大汗出後。形如瘧。日再發。是肌病兼見表病。宜桂枝二麻黃一湯。是二方。即上兩法之佐也。然二方能治肌腠膚表之病。不能治經輸之病。</p>
<p>太陽之經輸在背。內經云。邪入於輸。腰背乃強。論中以項背強KT　KT　。無汗惡風。用葛根湯。項背強KT　KT　。</p>
<p>反汗出惡風。用桂枝加葛根湯。二方亦上兩法之佐也。但兩法俱是太陽本寒之症。故方中取用辛熱之品。若太陽標熱之自汗症。不得徑用桂枝湯。宜用芍藥甘草湯。以各症與桂枝症無異。惟腳攣急獨異。是太陽之標熱合少陰之本熱之病也。無汗症。不得用麻黃湯。宜用麻杏甘膏湯。以各症與麻黃證相似。惟初起口渴發熱而無惡寒。或發汗已身灼熱不似。論雖另別為溫病風溫之證。然節首冠以太陽病三字。蓋指太陽之標熱而言。明明為一隅之舉。不讀內經。不能解也。其云桂枝二越婢一湯。為標內陷於裡陰而化熱。故熱多寒少。而脈微弱。論曰無陽。言無在表之陽也。論曰不可發汗。言不可發太陽之表汗也。故用此湯。直從裡陰而外越之也。此又可借用為上兩法之佐也。</p>
<p>然太陽為表而亦有裡。膀胱即太陽之裡也。如太陽病。發熱無汗。而心下滿。微痛。小便不利。不宜取汗。</p>
<p>宜桂枝去桂加茯苓白朮湯。令小便利則愈。又有發汗後。脈浮。小便不利。微熱消渴之症。又有中風發熱。六七日不解。而煩為表症。渴欲飲水為裡症。論名曰表裡症。水入則吐。論名曰水逆證。兩證俱宜五苓散。多飲暖水以出汗。此表中裡症之治法也。至若大青龍湯。因脈浮緊。身疼痛。不汗出而煩躁。為麻黃證之重者而設。小青龍湯。因表不解。水停心下而咳噎。變大青龍湯之大寒大散。而為發汗利水之劑。即是麻黃湯之加減。總不出麻黃湯之范圍。即若桂枝去芍藥湯。因桂枝症誤下。脈促胸滿而設。桂枝去芍藥加附子湯。又因前症脈不見促而見微。身復惡寒而設。桂枝加附子湯。因發汗太過。遂漏不止。惡風。小便難。四肢微急難以屈伸而設。此因大汗以亡陽。因亡陽以脫液。取附子以固少陰之陽。固陽即所以止汗救液也。推之汗後。病已解復煩。及桂枝症初服桂枝湯。反煩不解。刺風池風府。卻再與桂枝湯則愈。其用甚廣。總不出於桂枝證頭痛發熱汗出惡風八個字之外。須知太陽治法。不外桂枝麻黃二湯。服麻黃湯之後。復有再服桂枝湯之法。服桂枝湯之後。並無再服麻黃湯之法。更須知太陽為寒水之經。病本寒者較多。病標熱者較少。若標本兼病。亦以熱多寒少為欲愈。治傷寒者當知所重矣。此論太陽病。以桂枝麻黃二湯為主。一線到底。千古注家。無此明晰。外此亦即二湯之更進一步。非離乎二湯之外而立法也。</p>
<p>太陽主一身最外一層。邪從外來。須要驅之使出。服上二湯。尚不能出。或留本經。或侵他經。必藉少陽之樞轉以達太陽之氣而外出也。故小柴胡湯。為太陽篇之要劑。今人不知。擅改為少陽主方。失之遠矣。故無論桂枝證麻黃證。若值三日。九日。十五日。少陽主氣之期。必藉其樞轉而出。或又見往來寒熱。</p>
<p>樞不轉。現出開闔不利之象。胸脅苦滿。胸乃太陽出入之部。脅為少陽所主之樞。默默不欲食。心煩。默默必神機內郁。而心煩喜嘔不欲食。必胃氣不和而喜嘔。嘔則逆氣少疏。故喜也。或涉於心而不涉於胃。則胸中煩而不嘔。或涉於陽明之燥氣。則渴。或涉於太陰之脾氣。則腹中痛。或涉於厥陰之肝氣。則脅下痞硬。或涉於少陰之腎氣。則心下悸而小便不利。或太陽藉少陽之樞轉已有向外之勢。則不渴身有微熱。或涉於太陰之肺氣。則咳者。皆以小柴胡為主。而隨其或然之證。加減而治之。若太陽病過經不解。先與小柴胡湯。嘔不止心下急。郁郁微煩。與大柴胡湯下之。以平其胃則愈。凡太陽篇有柴胡之方。或因其病象有從樞欲達之意。而以柴胡達之。抑因其久郁未解之邪。而以柴胡可以從樞達之。</p>
<p>無非乘機利導之法。亦即麻黃桂枝二湯進一步之佐也。</p>
<p>推而言之。太陽之氣外行於胸膈。不能外而病於內。實則為大小陷胸湯證。虛則為諸瀉心湯證。且太陽之氣。上行而至於頭。下行而歸於腹。不能上而病於下。從背而下結於胞室。則為桃仁承氣湯證。從胸而下瘀於胞室。則為抵當湯證。何莫非桂枝麻黃二湯應用不用。或用之失法所致哉。蓋太陽經正治法。不過二十余條而已。其他則皆權變法。斡旋法也。假使治傷寒者。審其脈之或緩或緊。辨其症之有汗無汗。則從而汗之解之。如桂枝麻黃等法。則邪卻而病除矣。其或合陽明。或合少陽。或合三陽者。</p>
<p>則從而解之清之。如葛根湯治太陽陽明合病下利。葛根加半夏湯治合病不下利而但嘔者。黃芩湯治太陽少陽合病而自利。黃芩加半夏生薑湯治合病而嘔者。如白虎湯治三陽合病。其云腹滿者。為陽明經熱合於前也。其云身重者。為太陽經熱合於後也。其云難以轉側者。為少陽經熱合於側也。其云口不仁而面垢者。熱合少陽之腑也。其云譫語者。熱合陽明之腑也。其云遺尿者。熱合太陽之腑也。</p>
<p>既審其為三陽之合。又必得自汗出之的證。而後用白虎湯之的方。斯邪分而病解。此為正治之法。</p>
<p>顧人氣體有虛實之殊。臟腑有陰陽之異。或素有痰飲痞氣。以及咽燥淋瘡汗衄之疾。或適當房室金刃產後亡血之余。是雖同為傷寒之候。不得竟用麻桂之法矣。於是有旋覆代赭石湯。治傷寒汗吐下解後。心下痞硬。噫氣不除。是胃氣弱而未和。痰氣動而上逆之症。有茯苓桂枝白朮甘草湯。治吐下後邪解。而為飲發之證。金匱云。膈間支飲。其人喘滿。心下痞堅。又云。心下有痰飲。胸脅支滿。目眩。又云。其人振振身　。劇者必有伏飲。其云發汗則動經者。言無邪可發。而反動其經氣也。有承氣湯。治傷寒六七日不大便。頭痛有熱。必衄。以陽熱太重。以此湯承在上之熱氣而使之下也。有小建中湯。以治傷寒二三日。心悸而煩。補中氣以生心血。有炙甘草湯。治脈結代。心動悸。啟腎陰以行於脈道。有四逆湯。治發熱頭痛。脈反沉。身體疼痛。扶腎陽以救其虛陷。是為權變之法。而用桂枝麻黃等法。又不能必其無過與不及之弊。或汗出不徹。而邪不外散。則有傳變他經。及發黃蓄血之病。如中風以火劫汗。則兩陽熏灼。其身發黃。陽盛則欲衄。陰虛則小便難。甚則見發噦譫語。捻衣摸床諸危症。服藥得小便利者。方可治之。如桂枝證外不解。而熱結膀胱。其人如狂。血得自下乃愈。若小腹急結。有桃仁承氣湯之輕攻法。如麻黃證表不解。脈微而沉。其人狂。其邪反不結於胸。而直下於少腹而硬滿。為瘀熱在裡。又身黃脈沉結。小便自利。不為水而為血。其血不能自下。必攻而始下。又有抵當湯之峻攻法也。或汗出過多而並傷其陽氣。則有振振擗地。肉　筋惕。為真武湯之證。有發汗後血液內亡。身疼痛。脈沉遲者。為桂枝加芍藥生薑人參新加湯證。有發汗過多虛其心氣。其人叉手冒心喜按者。為桂枝甘草湯證。有發汗後虛其腎氣。臍下悸。欲作奔豚。為茯苓桂枝甘草大棗湯證。有發汗後傷其中氣。不能營運升降而腹脹滿。為厚朴生薑甘草人參半夏湯證。有發汗後反惡寒。陰陽兩虛。為芍藥甘草附子湯證。且有更發汗。小發汗。論中有論而無方。亦可以意會之。是為斡旋之法。學人宜究心焉。</p>
<h2>卷二</h2>
<h3>陽明篇</h3>
<p>（陽明主裡。外候肌肉。內候胃中。）</p>
<p>何謂陽明經症。曰。身熱目痛。鼻干不得眠。反惡熱是也。有未罷太陽已罷太陽之辨。</p>
<p>若兼見頭痛惡寒。是太陽症未罷。自汗脈緩。宜桂枝湯。項背強KT　KT　。桂枝加葛根湯主之。無汗脈浮。宜麻黃湯。項背強KT　KT　。葛根湯主之。</p>
<p>若無頭痛惡寒。但見壯熱口渴。是已罷太陽。為陽明經之本症。宜白虎湯主之。</p>
<p>何謂陽明腑症。曰。潮熱譫語。手足腋下　然汗出。腹滿大便硬。是也。有太陽陽明少陽陽明正陽陽明之辨。</p>
<p>本太陽病。治之失法。亡其津液。致太陽之熱。乘胃燥而轉屬陽明。其症小便數。大便硬。傷寒論謂之脾約。宜麻仁丸。以上言太陽陽明之症也。</p>
<p>本少陽病。治之失法。亡其津液。致少陽之邪。乘胃燥而轉屬陽明。為大便結燥。傷寒論謂為大便難。以蜜煎膽汁導之。以上言少陽陽明之症也。</p>
<p>病患陽氣素盛。或有宿食外邪傳入。遂歸於胃腑。傷寒論謂為胃家實。宜以三承氣湯下之。以上言正陽陽明之症也。</p>
<p>陽明在經。未離太陽。宜汗之。既離太陽。宜清之。在腑。審其輕重。宜下之。若在經絡之界。汗之不可。清之不可。下之不可。宜用吐法。柯韻伯云。除胃實症。其余如虛熱咽乾。口乾口苦。舌苔。腹滿煩燥。不得臥。消渴而小便不利。凡在胃之外者。悉是陽明表症。仲景制汗劑。是開太陽表邪之出路。制吐劑。是引陽明表邪之出路。使心腹之濁邪。上出於口。一吐則心腹得舒。表裡之煩熱悉除矣。煩熱既除。則胃外清。自不致胃中之實。所以為陽明解表之聖劑。</p>
<p>內經云。陽明之上。燥氣治之。所謂本也。本之下。中之見也。見之下。氣之標也。又曰。陽明不從標本。從乎中見。從中見者。以中氣從化也。又曰。陽明為闔。又熱病論曰。二日陽明受之。陽明主肉。其脈挾鼻。絡於目。故身熱目痛。而鼻干不得臥也。傷寒多發熱。而此獨身熱者。蓋陽明主肌肉。身熱尤甚也。邪熱在胃則煩。故不得舒臥也。</p>
<p>傷寒論云。問曰。病有太陽陽明。有正陽陽明。有少陽陽明。何謂也。答曰。太陽陽明者。脾約是也。本太陽病不解。太陽之標熱。合陽明之燥熱。以致脾之津液。為其所灼而窮約。正陽陽明者。胃家實是也。燥為陽明之本氣。燥氣太過。無中見濕土之化而實。少陽陽明者。發汗利小便。胃中燥。煩而實。大便難是也。少陽之上。相火治之。少陽病誤發汗。誤利小便。則津液竭。而相火熾盛。胃中燥實。而大便難矣。</p>
<p>陽明之為病。胃家實也。言陽明病雖有三者之分。而其為胃家實則一也。此節為陽明病之提綱。沈堯封云。胃家實言以手按胃中實硬也。柯韻伯云。不大便利便。是胃家實。尤在涇云。凡傷寒腹滿。便閉。潮熱。轉失氣。手足　汗出等證。皆是胃家實。三說不同。均存之以互參。</p>
<p>問曰。陽明外證云何。答曰。身熱。肌肉蒸蒸然熱達於外。與太陽表熱不同。汗自出。熱氣內盛。</p>
<p>然汗溢於外。與太陽之自汗不同。不惡寒。外寒已解。反惡熱。裡熱已盛也。沈堯封云。此節合上一節。為陽明證一內一外之提綱。只因有胃家實之病根。即現熱盛汗出之病證。不惡寒反惡熱之病情。必內外俱備。方是陽明之的證。</p>
<p>陽明本燥而標陽。若不得中見太陰之濕化。其燥氣陽熱太盛。則為胃家實之病。故仲景以胃家實為此證提綱。雖有太陽陽明正陽陽明少陽陽明之分。而其為胃家實則一也。且更合之外證。自熱汗自出。不惡寒反惡熱。便知胃家實證。有諸中而見諸外。愈可定其為真陽明也。其證雖有在表宜從汗解者。須知汗出多。脈微。宜桂枝湯。無汗而喘。脈浮。宜麻黃湯。二者俱太陽證而屬之陽明者。以其不頭痛項強故也。若惡寒已罷。二方必不可用。且陽明提綱。重在裡證。所以論中以此條別作一章也。</p>
<p>至於陽明本證。有自受證。有轉屬證。有邪盛證。有正虛證。有能食不能食證。有寒冷燥熱證。有從樞從開證。有名同而實異。源一而流分證。治之者不得其緒。如治絲而棼之也。</p>
<p>何謂自受。病起於陽明本經自為之病。其外證身熱汗自出。不惡寒反惡熱。為陽明病自內達外之表證。其有得之一日。不待解散。而二日惡寒自罷。即自汗出而發熱。為風寒入於陽明本經之表證。此陽明自受之大略也。</p>
<p>何調轉屬。凡太陽病。過汗亡其津液。致胃中干燥而轉屬者固多。亦有本太陽病。初得時發汗不徹。太陽標熱之氣。不能隨汗而泄。即與陽明燥氣。混為一家而轉屬者。亦有發熱無汗。嘔不能食。其時即伏胃不和之病機。不因發汗。而自　然汗出為轉屬者。更有誤下而轉屬者。此陽明病轉屬之大略也。</p>
<p>何以謂正虛。本篇第十六節云。陽明病。不能食。胃中虛冷。攻其熱必噦。言胃腑之虛也。第十七節云。脈遲。食難用飽。飽則微煩。頭眩。必小便難。此欲作穀癉。雖下之。腹滿如故。此言經脈之虛也。第十八節云。</p>
<p>無汗。身如蟲行皮中狀者。虛故也。此言皮腠之虛也。論雖無方。大抵不外溫補之法。第二十六節云。傷寒嘔多。雖有陽明證。不可攻之。以嘔則胃氣虛。雖有陽明實熱之證。不可誤攻而致死。此言胃氣虛不可下也。第二十七節云。心下硬滿者。不可攻之。攻之利遂不止者死。論止言心下。而不及腹。止言硬滿。</p>
<p>而不兼痛。且心下為陽明之膈。膈實者腹必虛。腹中之虛氣閉於陽明之部。若誤攻之。則穀氣盡而下利死矣。此言真虛假實者不可下也。第十八節云。面合赤色。不可攻之。攻之必發熱色黃。小便不利。以陽明之脈。上循於面。不知熏解之法而誤攻之。則變為發熱色黃。小便不利等症。此言外實內虛不可下也。須知陽明證。雖以胃家實為提綱。惟不得中見太陰之濕化。陽明愈實。而中見愈虛。前此注家。不知從此發揮。以致患陽明證者。以白虎承氣枉死幾千萬人也。</p>
<p>何謂邪實。論中陽明腑證。皆熱邪為病。然熱邪散漫於內外。大渴大汗。宜用白虎逐熱而生液。熱邪結聚於腸胃。潮熱譫語。宜用承氣逐熱而蕩實。二方均為陽明腑病而設。誤用之。便致殺人。第四十一節。</p>
<p>三陽合病。末一句云。若自汗出者。主用白虎湯。可以得其大要。而三承氣湯各有所主。陽明證不吐不下。雖胃氣不虛。而胃絡上通於心。可因其心煩一證。而知其胃氣不和。可與調胃承氣湯。二十九節已有明文也。至於大承氣證。於其脈遲。則知其陽邪盡入於裡陰。又於其汗出不惡寒。身重。短氣。腹滿而喘。五者之中。更取出裡證最確者。曰。不惡寒而潮熱。言熱邪盡入於胃。必變身熱為潮熱也。且於裡證中。而知其大便硬之最確者。曰。手足　然而汗出。言胃主四肢。若大便已硬者。必通身熱蒸之汗。自斂而變為手足　然之汗。方為大承氣之的證。否則不過燥屎不行。只為小承氣證耳。然而小承氣亦不可以輕用也。不大便六七日。欲知其有燥屎與否。少與小承氣湯試之。湯入腹中而轉失氣者。可再用之。若不轉失氣者。此為胃氣之虛。初硬後溏。必致不能食而脹滿。不能飲而作噦矣。論中二十九節。三十節。三十一節。當潛心體玩。至於譫語。諸家皆謂邪實。然論中三十二節。有實則譫語虛則鄭聲之分。</p>
<p>本節直視為精氣已奪。喘滿為脾肺不交。下利為脾腎不固。此皆譫語虛脫之死候。其余自三十三節至四十三節。實邪固多。而亦不可概認為實邪之為病也。張隱庵云。凡譫語乃心主神氣內虛。言主於心。非關於胃。胃燥譫語而用承氣。乃胃絡不能上通於心。胃氣清而脈絡能通之義。仲景示以法。不可泥於法也。</p>
<p>何謂能食不能食。若中風則能食。以風能鼓動陽明之氣也。若中寒則不能食。以寒能拒閉陽明之氣也。中寒之旨。詳於第十九節。中風之旨。詳於第二十節。意以寒為陰邪而下行。故無汗而小便利。風為陽邪而上行。故不惡寒而頭眩。寒則嘔不能食。風則能食。寒則頭痛。風則咽痛。此陽明有風寒之別也。</p>
<p>何謂寒冷燥熱之分。本篇第四十四節云。脈浮而遲。虛寒之脈也。其云表熱者。陽明戊土。不能下合少陰癸水。而獨主乎外也。其云裡寒者。少陰癸水。不能上合陽明戊土。而獨主乎內也。其云下利清穀者。</p>
<p>戊癸不合。而下焦生陽不升也。以四逆湯為主治。第四十五節云。胃中虛冷者。言中焦土氣虛冷也。其云不能食者。中焦虛冷。夫其消穀之用也。其云飲水則噦者。兩寒相得而為噦也。論中未出方。而理中湯堪為主治。推之第六十節云。食穀欲嘔者。屬陽明也。吳茱萸湯主之。與此節亦互相發明也。第四十六節云。脈浮發熱者。陽明燥熱在於經脈也。其云口乾鼻燥者。熱循經脈而乘於上焦也。其云能食則衄者。熱在經脈。不傷中焦之胃氣。此證正於能食。而得熱在經脈之確證。經脈熱甚。得衄則熱有出路而解矣。推之第六十節。食穀欲嘔。後半節云。得湯反劇者。屬上焦也。上焦主火熱而言。與此節亦互相發明也。</p>
<p>何謂從樞從開。內經云。太陽為開。陽明為闔。少陽為樞。三經者。不得相失也。使陽明而終於闔則死矣。</p>
<p>然則何法以致其開。一則從少陽之樞以轉之。四十七節云。下之後。外熱。手足溫。不結胸。心中懊　。飢不能食。但頭汗出者。是陽明闔。其氣不交於上下也。以梔子豉湯主之。四十八節云。發潮熱。大便溏。小便自可。胸脅滿不去者。是陽明闔。其氣不涉於大小二便。止逆於胸脅之間。以小柴胡湯主之。且小柴胡湯時醫止知為少陽之方。而不知為陽明之要方也。四十九節云。陽明病。脅下硬滿。言不得少陽之樞。則下焦不通而為不大便。中焦不治。胃氣不和而為嘔。上焦不和。火鬱於上。其舌上現有白苔。可與小柴胡湯。上焦得通。津液得下。胃氣因和。身　然汗出而解。所以從樞以轉之者此也。一則從太陽之開以出之。五十節。陽明中風。脈弦浮大而短氣。共九十三字。解詳淺注。病過十日。又當三陰受邪。若脈續浮者。知其不涉於陰。仍欲從少陽之樞而出。若脈但浮而別無余症者。是病機欲從太陽之開。可與麻黃湯以助之。若不尿。腹滿加噦者。是不從少陽之樞。太陽之開。逆於三陰。為不治之證。所謂從開以出者此也。</p>
<p>何謂名同而實異。內經云。人之傷於寒也。則為熱病。二日陽明受之。其脈挾鼻。絡於目。所云身熱目痛。</p>
<p>鼻干不得眠。是止就陽明經病之一端而言。仲景以胃家實提綱。是該內外證治之全法而立論也。後人妄用升麻葛根湯。反發陽明之汗。上而鼻衄。下而便難。是引賊破家矣。此所謂名同而實則異也。</p>
<p>何謂源一而流分。陽明原主氣。而蓄血證則主血。陽明原主燥。而發黃證則合溫。五十五節云。陽明證。</p>
<p>其人喜忘。必有蓄血。屎雖硬。大便反易。其色必黑。抵當湯主之。七十五節云。病患無表裡證。發熱七八日。雖脈浮數者。可下之。言病在陽明之絡。絡則無涉於表裡也。發熱而不惡寒。下之所以泄其熱也。假令已下。脈浮已解。而數不解。知其熱不在氣而在血。不在陽明之經而在陽明之絡。論名合熱。其合有二．一合於中。則為消穀善飢。至六七日不大便。其血必瘀於中。宜抵當湯以攻之。一合於下。則為下利不止。必協熱而便膿血。雖未出方。大抵溫劑不外桃花湯。寒劑不外白頭翁湯之類。同一陽明證。而又有發黃者。第二十一節云。陽明病。無汗小便不利。心中懊　者。身必發黃。二十二節云。陽明病被火。額上微汗出。小便不利者。必發黃。此言濕熱鬱於中土也。七十六節云。傷寒發汗已。身目為黃。為寒濕在裡。意者濕熱之黃可下。而寒濕之黃不可下。雖未出方。大抵五苓散加茵陳蒿為近是。七十七節云。傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯主之。此言濕熱鬱於裡而為黃。以大黃合茵陳蒿導之從小便出也。七十八節云。傷寒身黃發熱者。梔子柏皮湯主之。言濕熱已發於外。全無裡證。</p>
<p>取柏皮以走皮。以三味色黃以治黃也。七十九節云。傷寒瘀熱在裡。身必發黃。麻黃連翹赤小豆湯主之。此言傷寒表證未解。而濕熱瘀於裡而形於外。藉麻黃以取微汗也。此所謂源一而流則分也。</p>
<p>至於治法。闔者恐其終闔。實者慮其大實。故以三承氣湯之重劑為主。麻仁尤為潤下之輕劑也。蜜煎導為外取之尤輕者也。其調胃承氣湯。方中芒硝。上承火氣。大黃下通地道。不用朴實之破泄。而用甘草之和中。所以名為調胃也。其小承氣湯。專取通其燥屎。故不用芒硝之上承火氣。配不炙之枳朴。而疏達壅滯。多與為攻。少與為和。故名之曰小也。若夫大承氣湯。乃大無不該。主承通體之火熱而下行。</p>
<p>凡血氣瘀滯。聚邪宿食。無不一掃而淨。為下劑之最重者。用之得法。可以起死回生。倘若一誤。則邪去而正亦亡矣。所以二十一節言欲與大承氣湯。先少與小承氣湯。若轉失氣為有燥屎。方以大承氣湯攻之。與三十六節言欲與大承氣湯。即以小承氣湯為試。其義相通。詳於淺注。若大便硬。忽見外便數少。以津液當還入胃中。不久自下。不必攻之。詳於二十五節。當細味之。三十九節言汗出譫語。以燥屎在胃中。此為風也。過經乃可下之。下之若早。語言必亂。無非諄諄然不可輕下不可早下之意。陶節庵云。痞滿燥實堅五者全具。方可用之。此語雖曰未粹。亦堪為鹵莽者腦後下一金針也。然論中急下三條。卻不在痞滿燥實堅五證。第七十節云。傷寒六七日。目中不了了。睛不和。無表裡證。大便難。無裡證。</p>
<p>故大便不硬。但覺其難。身微熱者。無表證。故身無大熱。而止微熱。此為實也。急下之。宜大承氣湯。此言悍熱之氣上走空竅也。七十一節云。陽明病。發熱汗多者。急下之。止發熱汗出無燥渴硬實之證。而亦急下之者。病在悍氣無疑矣。宜大承氣湯。此言悍熱之氣內出。而迫其津液外亡也。七十二節云。發汗不解。腹滿痛者。急下之。宜大承氣湯。此言悍熱不上走於空竅。而下循於臍腹也。三者之外。雖無急下之明文。亦有不可姑緩者。七十三節云。腹滿不減。減不足言。當下之。宜大承氣湯。言在陽明無形之悍氣。從肓膜而聚有形之胸腹。又與陽明之本氣不同也。蓋此證初患。皆為病不甚重。病家醫家。往往不甚留意。若讀過薛立齋張景岳。及老村學先生多閱八家書者。為之主方。其死定矣。陽明篇此證甚為難治。其余各症。皆可於本篇按法而施方治。自無難事。善讀者當自領之。不能以筆楮罄也。</p>
<p>門人問曰。時賢柯韻伯謂陽明表證。身熱自汗。不惡寒反惡熱。此因內熱外發。以梔子豉湯因勢吐之。</p>
<p>後人認不出陽明表證。既不敢用麻桂。又不知用梔豉。必待熱深熱極。始以白虎承氣投之。是不知仲景治陽明之初法。遂廢仲景之吐法。立說甚超。夫子以為何如。曰。梔子豉湯。治心煩胸中懊　不眠等證。堪為陽明證初患未實者之要藥。善用之。自有左宜右有之妙。但云因勢吐之。是因前人之誤。反失梔子豉湯立方之本旨。且以瓜蒂散之涌吐。亦移入陽明篇中。更失之遠矣。其自撰出上越中清下奪為治陽明三大法。試問陽明篇何嘗有涌吐之條乎。門人又問曰。發汗利小便為陽明之大禁。然乎否乎。曰。此為正論。但不可泥矣。五十二節五十三節。麻黃桂枝二湯。已有明文。且五十八節。桂枝湯與大承氣湯。為一表一裡之對峙。以脈實宜下。脈浮虛宜汗。六十二節。病患不惡寒而渴者。此轉屬陽明也。</p>
<p>小便數者。大便必硬。不更衣十日。無所苦也。渴欲飲水。少少與之。但以法救之。渴者宜五苓散。意者十日無所苦。承氣湯既不可用。飲水亦不至數升。白虎加人參湯又非所宜。惟以五苓散助脾氣以轉輸。</p>
<p>多飲暖水以出汗。則內外俱松矣。讀此可知禁汗為正治之法。而發汗原為除熱以存津液起見。亦為權宜之法也。四十三節云。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯主之。意者利水之中寓以育陰。</p>
<p>不失陽明之治法。而後半節又云。陽明病。汗出多而渴者。不可與豬苓湯。以汗多胃中燥。豬苓湯復利其小便故也。讀此。可知利水原為清火以存津液起見。是為權宜之妙用。若汗出不多者可與。汗出多者不可與。以汗之與溺。同出而異歸。權宜中仍以正治之法為重也。</p>
<h2>卷三</h2>
<h3>少陽篇</h3>
<p>（少陽主半表半裡。）</p>
<p>何謂少陽經症。曰。口苦。咽乾。目眩。是也。有虛火實火二症之辨。</p>
<p>寒熱往來於外。胸脅苦滿。默默不欲食。心煩喜嘔。為虛火症。宜小柴胡湯。</p>
<p>寒熱往來於外。心中痞硬。郁郁微煩。嘔不止。為實火症。宜大柴胡湯。</p>
<p>何謂少陽腑症。曰。少陽主寒熱。屬於半表則為經。屬於半裡則為腑。其症雖無寒熱往來於外。而有寒熱相搏於中。有痞痛利嘔四症之辨。</p>
<p>因嘔而痞。不痛者。半夏瀉心湯。</p>
<p>胸中有熱而欲嘔。胃中有邪氣。而腹中痛。宜黃連湯。</p>
<p>邪已入裡。則膽火下攻於脾而自利。宜黃芩湯。</p>
<p>膽火上逆於胃而為嘔。宜黃芩加半夏生薑湯。</p>
<p>以上四方。寒熱攻補並用。仍不離少陽和解法。</p>
<p>經云。少陽之上。相火治之。所謂本也。本之下。中之見也。見之下。氣之標也。又曰。少陽從本。又曰。少陽為樞。又熱病論曰。三日少陽受之。少陽主膽。其脈循脅絡於耳。故胸脅痛而耳聾。其經脈出耳前後。下循胸脅。</p>
<p>故為脅痛耳聾等症。</p>
<p>傷寒論云。少陽之為病。口苦。苦從火化。咽乾。火勝則干。目眩。風火相煽。則眩也。此節為少陽證之提綱。主少陽之氣化而言也。柯韻伯云。口咽目三者。不可謂之表。亦不可謂之裡。是表之入裡。裡之出表處。所謂半表半裡是也。三者能開能闔。恰合樞機之象。苦干眩三者。皆相火上走空竅而為病也。此病自內之外。</p>
<p>人所不知。惟病患自知。診家所以不可無問法。三證為少陽病機。兼風火雜病而言。</p>
<p>少陽標陽本火。標本不異。故從本經云。少陽為甲木。主風火之為病。論中止十節。第一節言口苦咽乾目眩。為少陽之總綱。皆就氣化而言也。以下補言經脈。第二節云少陽中風兩耳無所聞者。以少陽之脈。從耳後入耳中。出走耳前也。目赤者。以少陽之脈。起於目銳　也。胸中滿而煩者。以樞不運則滿。相火合於君火則煩也。不可吐下者。恐傷上下二焦之氣也。吐下則悸而驚者。以手少陽三焦合於手厥陰心包。足少陽膽合於足厥陰肝。吐則傷心包而為悸。下則傷肝而為驚也。此少陽自受之風邪。戒其不可吐下。從總綱中分出一綱也。第三節云傷寒脈弦細者。以弦為少陽之本脈。而細則為寒邪傷經之脈也。頭痛發熱屬少陽者。以少陽之脈。上頭角而為痛。少陽之火。發於外而為熱。此屬少陽自受之寒邪也。不可發汗。發汗則譫語者。以少陽主樞而不主表。若發表汗。則耗傷其津液。以致胃不和而譫語。故特申之曰。此屬胃。言所以運此樞者胃也。胃和則愈。胃不和則煩而悸者。言胃和則能轉樞而病愈。胃不和則手少陽三焦之火氣上逆而為煩。足少陽膽氣失職而為悸也。此少陽自受之寒邪。戒其不可發汗。從總綱中又分出一綱也。但二者為少陽自受之風寒。而更有少陽轉屬之風寒。又從總綱中續分出一綱。第四節云本太陽病不解。轉入少陽者。轉入即轉屬。言少陽病自受外而又有轉屬之證也。脅下硬滿者。以少陽之脈。其直者。從缺盆下腋。循胸。過季脅也。乾嘔不能食者。以木火相通。而膽喜犯胃也。往來寒熱者。以少陽居表裡之間。進而就陰則寒。退而從陽則熱也。此三句為少陽病大略。</p>
<p>尚未吐下者。以未經吐下。猶幸中氣之未傷也。脈沉緊者。以邪氣向內則沉。太陽傷寒其本寒。與少陽火熱相搏。則脈緊。言外可悟太陽中風。其標陽與少陽相合則脈緩。既入少陽。無論傷寒中風皆為樞。</p>
<p>逆於內不得外達。均宜小柴胡湯達之。故曰。與小柴胡湯。見汗吐下皆非所宜。惟此湯為對證之的劑也。然而汗吐下三禁外。又有溫針為尤忌。第五節云。若已吐下。發汗溫針。譫語。柴胡湯證罷。此為壞病者。承上節尚未吐下句而言。庸醫誤行吐下。且更發汗溫針。大傷中氣。竭其胃液而譫語。其脅下硬滿。</p>
<p>乾嘔不能食。往來寒熱之柴胡湯證反罷。胃壞全無樞象。正與第三節所言屬胃。胃和則愈之旨相反。</p>
<p>故特儆之曰。此為壞病也。知犯何逆。以法治之者。言病無樞象。斷不可用小柴胡之樞藥。當知所犯何逆而救治之也。且也自受轉屬誤治證。各節既詳其義。而合病之脈證。不可不明。傳經之同異。不可不講。欲已欲解之日時。不可不知。曷言合病。第六節云。三陽合病。脈浮大上關上。但欲眠寐者。以太陽之浮。陽明之大。二脈俱上於少陽之關上。則二陽之氣。不得少陽樞轉而俱行於陰。故但欲眠寐也。目合則汗者。以開目為陽。合目為陰。陽氣乘目合之頃內行於陰。則外失所衛而汗出也。曷言傳經。第七節云。傷寒六七日。無大熱。其人煩躁者。此為陽去入陰故也。蓋以七日來復於太陽。太陽與少陰。一腑一臟。雌雄相應之道也。若少陽病當太陽主氣之期。樞有權則外轉而出。樞失職則內入而深。去太陽則身無大熱。入少陰則其人煩躁。此表裡相傳之義也。第八節云。傷寒三日。三陽為盡。三陰當受邪。其人反能食而不嘔者。此為三陰不受邪也。蓋以三日為三陽之終。太陰為三陰之首。能食不嘔。太陰不受邪。便知三陰俱不受邪。此以次第相傳之義也。曷言欲已之日。第九節云。傷寒三日。少陽脈小者。為欲愈也。言少陽本弦之脈。轉而為小。小則病退。其病欲已。不但三陰不受邪也。曷言欲解之時。第十節云。</p>
<p>少陽病欲解時。從寅至辰上。蓋以少陽之氣旺於寅卯。至辰時上。其氣已化。陽氣大旺。正可勝邪故也。</p>
<p>少陽全篇止此十節。而病之源流分合。無有弗備。治之經權常變。無有弗該。熟讀而玩味之。方知其妙。</p>
<p>門人問曰。少陽篇止十節。夫子逐節引其原文。析其疑義。與各家之妄逞臆見。及畫蛇添足者不同。第有論無方。學人無從摸索。本篇中止於第四節云。本太陽病不解轉入少陽者。與小柴胡湯一方。其實此方詳於太陽篇中。與陽明篇及各篇亦有之。未可謂為少陽之專方。然則治少陽病。將何從下手乎。</p>
<p>曰。太陽篇傷寒五六日中風。往來寒熱。胸脅苦滿。默默不欲食。心煩喜嘔。以此數證。為小柴胡之的證。</p>
<p>其余兼證尚在或然或不然無定之間。統以小柴胡湯主之。論中謂有柴胡證。但見一證便是。不必悉具。即此意也。以下凡十五節。皆論柴胡湯之證治。不可謂為少陽之正方。然少陽主風火之氣。而所重在樞。柴胡為轉樞之藥。故後人取之以為和解之方。汗下俱在所禁也。然和解中亦兼及汗下。時賢謂為權變法。大抵證兼太陽之表。則宜兼汗。證兼陽明之裡。則宜兼下。如柴胡加桂枝湯。柴胡加芒硝湯。</p>
<p>大柴胡湯。柴胡桂枝湯等方是也。然寒熱游行於外。則有柴胡等法。而寒熱互搏於中。則為痞嘔。又有諸瀉心湯。黃連湯。黃芩湯等法。柯韻伯論翼已詳言之。至於少陽為樞。而所以運此樞者胃也。小柴胡湯中之參棗。是補胃中之正氣以轉樞。柴胡龍骨牡蠣湯是驅胃中之邪氣以轉樞。補正即所以驅邪。</p>
<p>驅邪即所以補正。一而二之。二而一之。不可姑待其樞折而救治無及也。且也黃　一味。得初陽之氣。</p>
<p>初陽者少陽也。手少陽三焦之氣。上逆則為煩。足少陽膽氣。失職則為悸。凡少陽樞折之壞症。必重用此藥以救之也。少陽寒熱往來。病形見於外。苦喜不欲。病情得於內。有苦喜欲三字。非真嘔真滿真不能飲食也。看往來二字。即見有不寒熱時。往來寒熱。胸脅苦滿。是無形之表。心煩喜嘔。默默不欲食。是無形之裡。其或胸中煩而不嘔。或渴。或腹中痛。或脅下痞硬。或心下悸小便不利。或咳者。此七證皆偏於裡。惟微熱為在表。皆屬於無形。惟脅痛痞硬為有形。皆風寒通證。惟脅下痞硬屬少陽。總是氣分為病。非有實熱可據。故從半表半裡之治法。</p>
<p>少陽為游部。其氣游行三焦。循兩脅輸腠理。是先天真元之正氣。正氣虛。不足以固腠理。邪因其開。得入其部。少陽主膽。為中正之官。不容邪氣內犯。必與之相搏。搏而不勝。所以邪結脅下也。邪正相爭。即往來寒熱。更實更虛。所以休作有時。邪實正虛。所以默默不欲飲食。仲景於表證不用人參。此因邪正分爭。正不勝邪。故用之扶元氣。強主以逐寇也。若外有微熱而不往來寒熱。是風寒之表未解。不可謂之半表。當小發汗。故去參加桂。心煩與咳。雖逆氣有餘。而正氣未虛。故去人參。如太陽汗後身痛而脈沉遲。與下後協熱利而心下硬。是太陽之半表裡證也。表雖不解。裡氣已虛。故參桂並用。是知仲景用參。皆是預保元氣。更有脈證不合柴胡者。仍是柴胡證。本論云。傷寒五六日。頭汗出。微惡寒。手足冷。心下滿。口不欲食。大便硬。脈細者。此為陽微結。半在裡半在表也。脈雖沉緊。不得為少陰病者。陰不得有汗。今頭汗出。故知非少陰也。可與小柴胡湯。此陽微結之治法也。夫陰不得有汗。亦須活看。然亡陽與陰結。其別在大便。亡陽則咽痛吐利。陰結則不能食而大便反硬也。亡陽與陽結。其別在汗。亡陽者衛氣不固。汗出必遍身。陽結者邪熱閉結郁。汗止在頭也。且陽微結者。謂少陽陽微。故不能食而大便硬為的證。非若純陽結為陽明陽盛。以能食而大便硬為的證。則陽結陽微結之辨又在食也。故少陽之陽微結證。欲與小柴胡湯。必究其病在半表。然微惡寒。亦可屬少陰。但頭汗出。始可屬少陽。故反復講明頭汗之義。可與小柴胡而無疑也。所以然者。少陽為樞。少陰亦為樞。故見證多相似。必於陰陽表裡。</p>
<p>辨之真而審之確。始可以一劑而瘳。此少陽少陰之疑似證。又柴胡證之變局也。</p>
<p>脅居一身之半。故脅為少陽之樞。岐伯曰。中於脅則下少陽。此指少陽自病。然太陽之邪。欲轉屬少陽。</p>
<p>少陽之邪。欲歸迸陽明。皆從脅轉。如傷寒四五日。身熱惡風。頭項強。脅下滿者。是太陽少陽並病。將轉屬少陽之機也。以小柴胡湯與之。所以斷太陽之來路。如陽明病。發潮熱。大便溏。小便自可。胸脅滿而不去者。是少陽陽明並病。此轉屬陽明之始也。以小柴胡湯與之。所以開陽明之出路。若據此次第傳經之說。必陽明而始傳少陽。則當大便硬而不當大便溏。當曰胸脅始滿。不當曰滿而不去矣。又陽明病脅下硬滿。大便硬而嘔。舌上白苔者。此雖已屬陽明。而少陽之證未罷也。蓋少陽之氣游行三焦。因脅下之阻隔。合上節之治節不行。水精不能四布。故舌上有白苔而嘔。與小柴胡湯轉少陽之樞。則上焦氣化始通。津液得下。胃不實而大便自輸矣。身　然而汗出解者。是上焦津液所化。故能開發腠理。</p>
<p>熏膚充身澤毛。若霧露之溉。與胃中邪熱症不同。故以小柴胡湯主之。所謂樞機之象。宜熟玩者也。</p>
<h2>卷四</h2>
<h3>太陰篇</h3>
<p>（太陰為濕土純陰之臟也。病入太陰。從陰化者多。從陽化者少。）</p>
<p>何謂太陰之邪從陰化。傷寒論云。腹滿。吐食。自利。不渴。手足自溫。時腹自痛。是也。宜理中丸湯主之。不愈。宜四逆輩。</p>
<p>何謂太陰之邪從陽化。傷寒論云。發汗後不解。腹痛。急下之。宜大承氣湯是也。又曰。腹滿時痛。屬太陰也。時痛者。謂腹時痛時止。桂枝加芍藥湯主之。大實痛者。大便堅實而痛。桂枝加大黃湯主之。</p>
<p>內經云。太陰之上。濕氣治之。所謂本也。本之下。中之見也。見之下。氣之標也。又曰。太陰從本。</p>
<p>又曰。太陰為開。又熱病論曰。四日太陰受之。太陰脈布胃中。絡於嗌。故腹滿而嗌干。</p>
<p>傷寒論云。太陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。若下之。必胸下結硬。</p>
<p>按傷寒論太陰病脈證。只有八條。後人謂為散失不全。及王叔和之變亂。而不知八條中有體有用有法有方。真能讀者。則取之無禁。用之不竭矣。所可疑者。自第一節提綱外。其第二節云。太陰中風證。四肢煩疼等句。言其欲愈之脈。而不言未愈時何如施治。第三節云。太陰病欲解時。從亥至丑上。以太陰主開。地辟於丑。故愈於其時也。第四節云。太陰病脈浮者。可發汗。宜桂枝湯。而不言脈若不浮。如何施治。惟於第五節云。自利不渴者屬太陰。以其臟有寒故也。當溫之。宜服四逆輩。曰輩者。凡理中湯通脈四逆湯吳茱萸湯之類。皆在其中。第六節云。傷寒脈浮而緩。手足自溫者。系在太陰。太陰當發黃。若小便自利者。不能發黃。至七八日。雖暴煩下利。日十余行。必自止。以脾家實腐穢當去故也。策七節云。太陽病。醫反下之。因而腹滿時痛者。桂枝加芍藥湯主之。大實痛者。桂枝加大黃湯主之。第八節云。太陰為病脈弱。其人續自便利。設當行大黃芍藥為訓者宜減之。以其人胃氣弱易動故也。此外並無方治。</p>
<p>以為少則誠少矣。而不知兩節兩出其方。大具經權之道。宜分兩截看。</p>
<p>仲景所謂太陰證。與內經人傷於寒為熱病。腹滿嗌干證不同。提綱皆言寒濕為病。以四逆湯為治內正法。桂枝湯為治外正法。自第一節至第五節。一意淺深相承。不離此旨。所謂經也。此為上半截。</p>
<p>第六節言傷寒脈浮而緩手足自溫十二句。意者太陰以中見為主。以上五節。言不得中見之寒證。若中見太過。太陰濕土。不與寒合而與熱合。若小便利。則不發黃。若暴煩下利。則腐穢當去。是常證之外。</p>
<p>略有變局。另作一小段。承上即以起下。第七節言太陽病誤下。轉屬太陰。腹滿時痛。大實痛者。以桂枝加芍藥加大黃為主治。一以和太陰之經絡。變四逆輩之溫而為和法。變桂枝湯之解外而為通調內外法。是於有力處通其權也。一以脾胃相連。不為太陰之開。便為陽明之闔。既闔而為大實痛。不得不借陽明之捷徑。以去脾家之腐穢。要知提綱戒下。原因腹時痛而言。此從正面審到對面以立法。又於暴煩下利十余行自止節。言其愈尚未言方。此從腐穢既下後。而想到不自下時之治法。是於無方處互明方意以通權。此為下半截。</p>
<p>總而言之。四逆輩桂枝湯。及桂枝加芍藥。桂枝加大黃湯。皆太陰病之要劑。若不渴則四逆輩必須。若脈弱則芍黃等慎用。脈浮有向外之勢。桂枝湯之利導最宜。煩疼當未愈之時。桂枝加芍藥湯亦可通用。原文雖止八條。而諸法無有不具。柯韻伯等增入厚朴生薑半夏甘草人參湯白散麻仁丸等方。欲廣其用。反廢其活法。大抵未讀聖經之前。先聞砭剝叔和之語。謂非經文。無不可以任意增減移易。致有是舉耳。</p>
<p>按沈堯封云。太陰陽明。俱屬土。同主中州。病則先形諸腹。陽明為陽土。陽道實。故病則胃家實而非滿也。太陰為陰土。陰道虛。故病則腹滿而不能實也。凡風燥熱三陽邪犯陽明。寒與溫二陰邪犯太陰。陽邪犯陽則能食而不嘔。陰邪犯陰則不能食而吐。陽邪犯陽則不大便。陰邪犯陰則自利。證俱相反可認。若誤下則胃中空虛。客氣動膈。在陽邪則懊　而煩。在陰邪則胸下結硬。倘再誤攻。必致利不止而死。此太陰病之提綱。凡稱太陰。俱指腹滿言。</p>
<p>按柯韻伯云。內經云。太陰脈布胃中。絡於嗌。故腹滿嗌干。此熱傷太陰。自陽部注經之證。非論中所云太陰自病也。仲景以太陰自病為提綱。因太陰主內。故提綱中不及中風四肢煩疼之表。又為陰中之至陰。故提綱中不及熱病嗌干之證。太陰為開。又陰道虛。太陰主脾所生病。脾主濕。又主輸。故提綱中主腹滿時痛而吐利。皆是裡虛不固。濕勝外溢之證也。脾虛則胃亦虛。食不下者。胃不主納也。要知胃家不實。便是太陰病。</p>
<h2>卷五</h2>
<h3>少陰篇</h3>
<p>（少陰腎中水火同具。邪傷其經。或從水化而為寒。或從火化而為熱。二症俱以脈沉細但欲寐為提綱。）</p>
<p>何謂少陰之邪從水化而為寒。曰。脈沉細而微。但欲寐。背惡寒。口中和。腹痛。下利清穀。小便白是也。宜用回陽法。而回陽中首重在溫劑。又有交陰陽。微發汗。共成三法。</p>
<p>少陰病。寒邪始傷。是當無熱。而反發熱。為太陽之標陽外呈。脈沉為少陰之生氣不升。恐陰陽內外不相接。故以熟附助太陽之表陽而內合於少陰。細辛啟少陰之水陰而外合於太陽。仲景麻黃附子細辛湯。</p>
<p>非發汗法。乃交陰陽法。以上言交陰陽法也。</p>
<p>少陰病。自始得以至於二三日。俱無裡症。可知太陽之表熱非汗不解。而又恐過汗以傷腎液。另出加減法。取中焦水穀之津而為汗。則內不傷陰。邪從表解矣。仲景麻黃附子甘草湯。變交陰陽法而為微發汗法。以上言微發汗法也。</p>
<p>手足厥冷。吐利。小便復利。下利清穀。內寒外熱。脈微欲絕者。宜四逆湯。</p>
<p>裡寒外熱。面赤。或腹痛。或乾嘔。或咽痛。或利止脈不出。或出而厥。宜通脈四逆湯。</p>
<p>少陰下利。宜白通湯。利不止。厥逆無脈。乾嘔煩。白通加豬膽汁湯主之。服藥後。脈暴出者死。微續者生。</p>
<p>汗下後不解。煩燥者。茯苓四逆湯主之。</p>
<p>少陰病。二三日不已。至四五日。腹痛。小便不利。四肢沉重疼痛。自下利。此為水氣。宜真武湯。</p>
<p>咳嘔小便利下利四症。或有或無。因症下藥。當於淺注細玩之。</p>
<p>少陰病。得之二三日。口中和。其背惡寒者。太陽之陽虛。不與少陰之君火相合。當灸之。又身體痛。君火之氣不能周遍於一身。手足寒。君火之氣不能充達於四肢。骨節痛。君火之神機不能游行以出入。脈沉者。</p>
<p>君火之神機不能自下而上。一為陽虛。責在太陽之陽氣虛。不能內合。一為陰虛。責在少陰之君火內虛。</p>
<p>神機不轉。皆以附子湯主之。</p>
<p>少陰病吐利。神機不能交會於中土。手足逆冷。中土氣虛不能達於四肢。煩躁欲死者。少陰神機挾寒而逆於經脈。心脈不能下交於腎則煩。腎脈不能上通於心則躁。吳茱萸湯主之。</p>
<p>以上用溫劑法也。</p>
<p>何謂少陰之邪從火化而為熱。曰。脈沉細而數。但欲寐。而內煩外躁。或不臥。口中熱。下利清水。小便赤是也。宜用救陰法。而救陰中又有補正攻邪之異。</p>
<p>少陰病二三日。咽痛者。可與甘草湯。不瘥。與桔梗湯。</p>
<p>少陰病。咽中傷。生瘡。不能語言。聲不出者。苦酒湯主之。</p>
<p>少陰病。咽中痛。半夏散及湯主之。</p>
<p>少陰病。下利咽痛。胸滿心煩者。豬膚湯主之。</p>
<p>少陰病。得之二三日以上。心中煩。不得臥。黃連阿膠湯主之。</p>
<p>少陰病。下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。</p>
<p>少陰病二三日。至四五日腹痛小便不利。下利便膿血。桃花湯主之。</p>
<p>以上皆以補正為救陰法也。</p>
<p>少陰病。得之二三日。口燥舌乾者。急下之。宜大承氣湯。熱淫於內。因而轉屬陽明。胃火上炎。故口燥舌乾。急下之。穀氣下流。津液得升矣。</p>
<p>少陰病六七日。腹脹不大便者。急下之。宜大承氣湯。得病六七日。當解不解。津液枯涸。因轉屬陽明。故腹脹不大便。宜於急下者。六七日來陰虛已極。恐土實於中。心腎不交而死也。</p>
<p>少陰病。自利清水。色純青。心下必痛。口乾燥者。急下之。宜大承氣湯。是土燥火炎。脾氣不濡。胃氣反濃。</p>
<p>水去而穀不去。故宜急下。</p>
<p>以上皆以攻邪為救陰法也。</p>
<p>內經云。少陰之上。火氣治之。所謂本也。本之下。中之見也。見之下。氣之標也。又曰。少陰從標從本。又曰。少陰為樞。又熱病論曰。五日少陰受之。少陰脈貫腎。絡於肺。系舌本。故口燥舌乾而渴。</p>
<p>傷寒論曰。少陰之為病。脈微細。但欲寐也。微者。體薄而不濃也。為手少陰神病。細者形窄而不寬也。為足少陰精病。病在陰則欲寐。在陽則不得寐。故曰但欲寐。此為樞象。少陰證之總綱也。柯韻伯云。少陽為陽樞。少陰為陰樞。樞機不利。故欲寐。與少陽喜嘔。嘔者欲出。陽主外也。寐者主入。陰主內也。喜嘔是不得嘔。</p>
<p>欲寐是不得寐。皆在病患意中得樞機之象如此。又云。但欲寐即是不得眠。然但欲寐是病情。乃問而知之。不得眠是病形。可望而知之。欲寐是陰虛。不得眠是煩躁。故治法不同。</p>
<p>按少陰本熱而標寒。其病或從本而為熱化。或從標而為寒化。與太陽一例。第一節言微細之病脈。但欲寐之病情。兼水火陰陽標本寒熱。而提其總綱也。以下共四十四節。皆本此而立論。然他經提綱。皆是邪氣盛則實。少陰提綱。俱指正氣奪則虛。以少陰為人身之根本也。所以第二節即言上火下水。虛而未濟。第三節即言外陽內陰。虛而不交。第四節第五節。又言不可發汗。第六節又就脈而言不可下。</p>
<p>無非著眼於虛之一字。而以根本為重也。</p>
<p>今再詳第二節。原文云。少陰病欲吐不吐。心中煩。但欲寐三句。指初病時水火不濟。已具樞病之象。又云。五六日自利而渴。屬少陰也。虛故引水自救四句。方指出五六日為少陰主氣之期。火不下交。則自利。水不上交。而作渴。屬少陰之虛。為寒熱俱有之證。又云。若小便色白者。少陰病形悉具。小便白者。以下焦虛有寒。不能制水。故令色白也六句。分出小便色白。始為少陰陰寒之病形悉具。言外見少陰熱化之病。邪熱足以消水。其小便必赤。此寒熱之幾微當辨也。其第三節原文云。病患脈陰陽俱緊。反汗出者。亡陽也。此屬少陰四句。以諸緊為寒。陰不得有汗。今反汗出。此屬少陰陰盛於內。陽亡於外。陰陽不交之故也。又云。法當咽痛而復吐利二句。以陰陽不交。則陽自陽而格絕於外。其咽痛為假熱之象。</p>
<p>陰自陰而獨行於內。其吐利為真寒之證。此寒熱之真假當分也。其第四節原文云。少陰病。咳而下利。</p>
<p>譫語者。被火氣劫故也。小便必難。以強責少陰汗也六句。言少陰上咳下利之證。被火則精竭神越而譫語。小便必難。戒其勿發少陰汗。慮其虛也。其第五節原文云。少陰病。脈沉細數。病為在裡。不可發汗三句。言少陰自有表裡。脈沉而發熱。為少陰表有麻黃附子細辛湯法。脈細而沉。數而不發熱。為少陰裡。不可發汗。其第六節云。少陰病脈微。不可發汗。亡陽故也。陽已虛。尺脈澀弱者。復不可下之六句。言脈微為亡陽。不可發汗以傷陽。若兼見尺脈弱澀為亡陰。更不可復下以傷陰。自第二節至此。皆著眼於虛之一字以立論也。</p>
<p>請再言欲愈之證。第七節大旨。以脈緊為寒。至七八日緊去。而發煩自下利。脈微手足溫。此少陰之寒。</p>
<p>得陽明之熱。為戊癸之合化而愈也。第八節大旨。下利自止。得手足溫之吉候。雖惡寒蜷臥而可治。以其得中土之氣而愈也。第九節提出自煩欲去衣被。雖惡寒而蜷可治。以得君火之氣而可治也。第十節少陰中風。風為陽邪。陽寸應浮。陰尺應沉。大旨以陽得微而外邪不復入。陰得浮則內邪從外出而欲愈。言外見中風。而可推及傷寒矣。第十一節言少陰病欲解時。從子至寅時。上二句。指出陽生於半子而病解。並結上數節。少陰得陽則解之義也。</p>
<p>雖貴得陽。陽者太陽之標陽也。既知得標陽之熱化則生。亦當知熱化太過而亦成病。第十二節云。少陰病吐利。手足不逆冷。反發熱者不死。言少陰而得太陽之標陽也。又云。脈不至。灸少陰七壯。言不得太陽標熱之化而下陷。灸之以啟在下之陽也。第十三節云。少陰病八九日。一身手足盡熱者。以熱在膀胱。必動便血也。言少陰熱化太過。移於膀胱。膀胱主外。為一身發熱。膀胱為胞之室。胞為血海。熱邪內干而為便血也。第十四節云少陰病。但厥無汗。熱化太過而行於裡而為厥。若強發之。必動其血。未知從何道出。或從口鼻。或從目出。是名下厥上竭。為難治。言少陰熱化太過而厥。誤汗反增其熱。蓋主內經厥論起於足下。以陽氣起於足五趾之裡。今誤發少陰汗。激動少陰熱化之邪。自下逆上。名曰厥。</p>
<p>少陰原為少血之藏。動其陰血而脫出。名曰上竭。為難治之證。</p>
<p>若夫不得太陽標陽。則為陰寒之症。不止難治。而為不治之死證。自第十五節。以及第二十節。各有妙義。第十五節云。少陰病。惡寒身蜷而利。手足逆冷者不治。蓋以少陰之脈起足心。至俞府。行身之前。外呈而為寒。內陷而為利。真陽絕不行於手足而為逆冷。此言少陰之寒。不得太陽標陽之死證也。第十六節云。少陰病。吐利躁煩。四肢逆者死。蓋少陰上下水火陰陽之氣。全賴中土以交合。今吐利躁煩。陰陽水火之氣頃刻離決。四肢逆冷。土氣已絕。此言少陰不得中土之交之死證也。第十七節云。少陰病。</p>
<p>下利止而頭眩。時時自冒者死。蓋以陰竭於下而利止。陽亡於上而眩冒。為死證。利不止而眩冒。更為死證。言陰陽不得倚附也。第十八節云。少陰病。四逆惡寒而身蜷。脈不至。不煩而燥者死。此言少陰有陰無陽之死證也。第十九節云。少陰病六七日。息高者死。此言少陰生氣上脫之死證也。第二十節云。</p>
<p>少陰病脈微細沉。但欲臥。汗出。不煩。自欲吐。此十一字為一截。言少陰陰寒恆有之脈證也。其云至五六日自利。復煩燥不得臥寐者死。此十五字又為一截。少陰病以五六日為生死之關。若至五六日云云。是真寒反為假熱。陽被陰迫而飛越。此言少陰陽氣外脫之死證也。</p>
<p>自章首至此凡二十節。論少陰證之全體已備。但未詳其標本。寒熱。陰陽水火。神機樞轉。上下出入之理。自二十一節至四十三節發明其旨。而並出其方。讀者不可一字放過。此又少陰之大用也。</p>
<p>曷言標本。少陰標寒而本熱。與太陽本寒而標熱。為雌雄表裡之相應。二十一節云。少陰病。始得之。反發熱。脈沉者。麻黃附子細辛湯主之。言少陰脈沉不當發熱。今反發熱。是太陽標陽陷於少陰而為熱。</p>
<p>宜以此湯交和其內外也。二十二節云。少陰病得之二三日。麻黃附子甘草湯微發汗。以二三日無裡證。故微發汗也。言二三日值少陽主氣之期。陰樞藉陽樞之力。可用此湯微發其汗。又申之曰。以二三日無少陰之裡證。止見太陽之表證故也。要知太陽陽虛。不能主外。內傷少陰之氣。便露出少陰底板。</p>
<p>少陰陰虛。不能主內。外傷太陽之氣。便假借太陽之面目。所以太陽病而脈反沉。用四逆以急救其裡。</p>
<p>少陰病而表反熱。用麻辛以微解其表。此表裡輕重兩解法也。故始得之不發汗。得之二三日微發汗。</p>
<p>用細辛非發汗。用甘草乃發汗。此旨不可與淺人語也。然二十一節二十二節。合臟腑雌雄而淺深言之。二十三節二十四節二十五節。就少陰本經分標本而對待言之。其云。少陰病得之二三日以上。心中煩。不得臥。黃連阿膠湯主之。言少陰本熱之病。二三日隨三陽主氣之期而化熱。此少陰本熱之證也。其云少陰病。得之二三日。口中和。其人皆惡寒者。當灸之。附子湯主之。言少陰君火之用弗宣。病在上焦陽中之陽。為陽虛。其云少陰病。身體痛。手足寒。骨節痛。脈沉者。附子湯主之。言少陰生陽之氣不用。病在下焦水中之陽。為陰虛。主以附子湯。面面俱到。此少陰標寒之證也。然亦本熱之證。不病無形之氣化。而病有形之經脈者。二十六節云。少陰下利。便膿血者。桃花湯主之。二十七節云。少陰病二三日至四五日。腹痛小便不利。便膿血者。桃花湯主之。二十八節云。少陰病。下利便膿血者可刺。此言本熱病在經脈者。宜用石藥。而濟以期門刺法。便膿血。亦熱入血室之義也。又有標寒之證。病發於手足之少陰。而實本於陽明之中土者。二十九節云。少陰病吐利。手足厥冷。煩躁欲死者。吳茱萸湯主之。此從少陰而歸重到陽明。以百病皆以胃氣為本。傷寒證重之。少陰證尤重之。總結上文數節之義。少陰證雖有標本寒熱之不同。而著眼不離乎此。首節至此作一大段讀。</p>
<p>然而少陰上火下水而主樞也。主樞則旋轉無有止息。第三十節云。少陰病。下利（火不下交而下寒）咽痛。</p>
<p>（水不上交而上熱。）胸滿心煩者。（上下神機內鬱而樞轉不出為煩滿）豬膚湯主之。此上下而合言也。第三十一節云。</p>
<p>少陰病二三日咽痛者。（少陰從心系之脈而挾咽）可與甘草湯。不瘥者與桔梗湯。此言水不上交而為痛也。第三十二節云。</p>
<p>少陰病咽中傷。生瘡。不能語言。聲不出者。苦酒湯主之。此言水不上交。甚則兼及於肺而宜斂也。第三十三節云。少陰病咽中痛。半夏散及湯主之。此言水不上交。正治不愈者。宜用從治之法也。此數節承第三十節咽痛立論。為少陰上火作一　也。</p>
<p>下利為少陰證下水之一　。自三十四節至三十七節。皆言水火不交。則水中無火。火失閉藏之職。至三十八節。變回陽之法為和解。三十九節。變辛溫之法為清利。而推言中焦不輸之下利。言其常亦不遺其變。俱補出少陰主樞之義。今試再詳之。第三十四節。謂少陰病下利。白通湯主之。示少陰下利以此為專方。第三十五節。謂少陰病下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。服湯脈暴出者死。微續者生。此言寒盛驟投熱藥而拒格。必取熱因寒用之法也。第三十六節。</p>
<p>謂少陰病二三日不已。至四五日腹痛。小便不利。四肢沉重疼痛。自下利者。此為有水氣。其人或咳。或小便利。或下利。或嘔者。真武湯主之。此言水中無火。則土虛不能制水。此為有水氣五字最重。為少陰之側面文章。非白通四逆之為正面文章也。第三十七節。謂少陰病下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。通脈四逆湯主之。此言內真寒而外假熱。為少陰之正面文章。又為四逆證之進一步文章也。自三十一節至此。承上第三十節下利立論。為少陰證下水作一　也。</p>
<p>第三十八節。謂少陰四逆。其人或咳。或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。此承四逆不專主於虛寒。復設和解一法。以示變動不居之意。所以暗補出主樞之義也。第三十九節。謂少陰下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。此承下利雖屬於下焦。至六七日寒變為熱。而氣復上行。病見咳嘔渴煩不眠等證。所謂下行極而上也。復設一清利法。遵經旨邪氣自下而上者。仍須從下引而出之。亦所以暗補出主樞之義也。跟上第三十節全節大意主樞作一　也。所以然者。少陰為性命之根。病有水火之分。治若焚溺之救。稍遲則不可挽矣。</p>
<p>第四十節云。少陰病得之二三日。口燥舌乾者。急下之。宜大承氣湯。此言少陰君火亢於上。不戢將自焚也。第四十一節云。少陰病。自利清水。色純青。心下必痛。口乾燥者。急下之。宜大承氣湯。此言少陰君火亢於上。加以木火煽之。一水不能勝二火而立竭矣。第四十二節云。少陰病六七日。腹脹不大便者。</p>
<p>急下之。宜大承氣湯。此言少陰君火不能從樞而出。逆於地中而為脹。即內經所謂一息不運。則針機窮。必急下以運少陰之樞而使轉之。少陰三急下證。宜於淺注而熟玩之。又有二急溫症。第四十三節云。少陰病脈沉遲者。急溫之。宜四逆湯。言少陰為性命之根。起首脈沉。預知已伏四逆吐利煩燥之機。</p>
<p>即易履霜堅冰至之義。蓋於人所易忽者。獨知所重而急治之也。第四十四節云。少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。（陰寒拒格不納露出樞象）始得之。手足寒。脈弦遲者。此胸中實。不可下也。</p>
<p>當吐之。（借胸中實可吐證敘出急溫症。）若膈上有寒飲。乾嘔者。不可吐也。急溫之。宜四逆湯。此少陰陰氣上　寒飲。不同於胸實。蓋人所搖移者。得所獨斷而急治之也。究而言之。少陰重在救陽。而真陰亦不可傷。</p>
<p>第四十五節云。少陰病下利。脈微（陽虛）澀（陰虛）。嘔而汗出。（陽虛則陰寒上逆而為嘔。陰虛則陰不內守而汗出）</p>
<p>必數更衣。反少者。（七字是一節之眼目。陽虛則氣下墜。陰虛則動努矣）當溫其上灸之。</p>
<p>言當灸百會一穴。以溫其上。不可偏溫其下。以灼真陰。言外見對待之陰陽。分而為兩。互根之陰陽。合而為一也。少陰篇文字空靈幻變。不可方物。老子其猶龍矣乎。</p>
<h2>卷六</h2>
<h3>厥陰篇</h3>
<p>（厥陰為風木之臟。從熱化者多。從寒化者少。以木中有火故也。）</p>
<p>何謂厥陰症。傷寒論云。厥陰之為病。消渴。火盛。氣上撞心。氣逆即火逆也。心中疼熱。火邪入心。飢火能消物也。而不欲食。木克土也。食則吐蛔。蟲為風化。一聞食臭。則上入於膈而吐出。下之利不止。誤下傷胃氣是也。厥陰為兩陰交盡。宜無熱症。然厥陰主肝。而膽藏於內。則厥陰熱症。皆少陽之火內發也。要知少陽厥陰。同一相火。相火鬱於內。是厥陰病。相火出於表。為少陽病。少陽咽乾。即厥陰消渴之機。胸脅苦滿。即氣上衝心之兆。心煩。即疼痛之初。不飲食。是飢不欲食之根。喜嘔。即吐蛔之漸。故少陽不解。轉屬厥陰為病危。厥陰病衰。轉屬少陽為欲愈。</p>
<p>烏梅丸為厥陰證之總方。吐蛔久利者。尤宜。</p>
<p>病初起手足厥冷。脈微欲絕。宜當歸四逆湯。有久寒。加生薑、吳萸。酒水各半煎。以相火寄於肝。經雖寒而臟不寒。故先厥者後必發熱。手足愈冷。肝膽愈熱。故云厥深熱亦深也。薑附不可妄投。</p>
<p>脈結者。脈緩時一止曰結。活人云。陰盛則結。代者。一臟氣敗。其脈動而中止。不能自還。而他臟代之。心動悸。心氣不寧。炙甘草湯主之。按他經亦有此症。是陽氣大虛。虛極生寒。非薑附肉桂不為功。若用此藥。是速其死也。惟厥陰症。肝中之相火。本少陽之生氣。而少陽實出坎中之真陰。即經所謂陽為之正。陰為之主是也。</p>
<p>按前言表證而手足厥逆。此言裡證而脈結代。雖為厥陰寒化。終不用薑附大熱之品。以厥陰之臟。相火游行於其間故也。</p>
<p>脈微欲絕。不可下。若脈滑而厥。是內熱鬱閉。所謂厥應下是也。下之是下其熱。非下其實。泄利下重者。四逆散。欲飲水數升者。白虎湯。皆所以下無形之邪也。若以承氣下之。則不止矣。</p>
<p>熱利下重者。白頭翁湯主之。下利欲飲水者。熱也。白頭翁湯主之。</p>
<p>以上治熱化之法也。</p>
<p>厥者必發熱。熱與厥相應。熱深厥亦深。熱微厥亦微。此四症是厥陰傷寒之定局。先熱後厥。厥熱往來。厥多熱少。熱多厥少。此四症是厥陰傷寒之變局。皆因其人陽氣多少而然。</p>
<p>乘脾乘肺。二症宜辨。</p>
<p>曰。傷寒腹滿。經云。諸腹脹大。皆屬於熱。此由肝火也。譫語。經云。肝氣盛則多言。寸口脈浮而緊。緊即弦脈。</p>
<p>此肝乘脾也。名曰縱。刺期門。</p>
<p>曰。傷寒發熱。嗇嗇惡寒。肺主皮毛。因無頭痛項強。非屬太陽病。為肺虛。渴欲飲水。無白虎證之欲飲。亦為肺虛。腹滿。無承氣證。因肺虛不能通調水道。此肝乘肺也。肺金虛不能制木。肝寡於畏。侮所不勝也。名曰橫。</p>
<p>刺期門。肝有亢火。隨其實而瀉之。</p>
<p>傷寒。陽脈澀。陰脈弦。法當腹中急痛。此亦肝乘脾也。先與小建中湯平肝以補脾。不瘥者。中氣虛而不振。</p>
<p>邪尚流連。與小柴胡湯主之。令木邪直走少陽。使有出路。所謂陰出之陽則愈也。</p>
<p>傷寒。厥而心下悸者。宜先治水。當服茯苓甘草湯。卻治其厥。不爾水漬入胃。必作利也。此亦肝乘肺也。雖不發熱惡寒。亦木實金虛。水氣不利所致。上節腹滿。是水在中焦。故刺期門以泄其實。此水在上焦。故用茯苓甘草湯以發其汗。此方是化水為汗。發散內邪之劑。即厥陰治厥之劑也。</p>
<p>內經云。厥陰之上。風氣治之。所謂本也。本之下。中之見也。見之下。氣之標也。又曰。厥陰不從標本。而從中見也。又曰。厥陰為闔。又熱病論曰。傷寒六日。厥陰受之。厥陰脈循陰器而絡於肝。故煩滿而囊縮。厥陰木氣逆。火氣盛。故煩滿。循陰器。故囊縮。</p>
<p>蓋厥陰以風木為本。以陰寒為標。中見少陽。厥陰為陰極。故不從標本。而從中見也。本論以厥陰自得之病為提綱。故先曰消渴氣上撞心。心中疼熱。飢而不欲食。食則吐蛔。下之利不止等證。然必合之外證。有厥熱往來之氣化。或嘔或利。方為真厥陰。其余或厥。或利。或嘔。內無氣上撞心。心中疼熱等症。皆似厥陰而非厥陰也。其云消渴者。消為風消。渴為木火上熏也。其云氣上撞心者。木氣上凌心包也。其云心中疼熱者。是其氣甚即為火。火甚即生熱。陰血受灼。不足榮養筋脈。故筋脈不舒而疼。胃液受灼故飢。其云不欲食者。是木氣橫逆也。其云食則吐蛔者。蛔感風木之氣而生。聞食臭則出。濕熱腐成。居於胃底。無食則動。胃寒則出。胃熱亦出。下之利不止者。陰寒在下也。</p>
<p>二章一節云。厥陰中風。脈微浮為欲愈。不浮為未愈。陰經受邪。脈當沉細。今反浮者。以風為陽邪。元氣復而邪將散。故脈見微浮。不浮則邪深入不外散。故為未愈。二節言欲愈之時。蓋少陽旺於寅卯。解於此時者。中見少陽之化。三節厥陰陰之極。渴欲飲水。水為天一所生之水。以水濟火。陰陽氣和而病自愈。提綱後止此三節提出厥陰病。其余則曰傷寒。曰厥。曰下利。而不明言厥陰病。以厥陰從中見。而不從標本也。</p>
<p>三章一節曰。諸四逆厥者。不可下之。虛家亦然。總起下文諸節厥逆之意。亦以承上文下之利不止。夫四逆厥者。咸藉生陽之來復。故不可下。非特陽氣大虛。寒邪直入。即熱深者亦閑有之。熱盛於內。內守之真陰被爍幾亡。不堪再下以竭之。故申其戒曰。氣血兩虛之家。即不厥逆。亦不可下也。二節言陰陽寒熱互換之理。厥陰傷寒。先厥後發熱而利。必自止。厥不再作。利亦不再下。若見厥。則復利。三節言寒熱勝復之理。而歸重於胃氣也。凡厥利。當不能食。今反能食者。恐中氣除去。求救於食。當以索餅試之。</p>
<p>若胃氣能勝穀氣而相安。則不暴然發熱。恐暴熱來驟而去速也。本發熱六日。厥反九日。復發熱三日。</p>
<p>熱與厥無太過不及。故期旦日夜半愈。若再發熱三日。兼之脈數。此中見太過。熱氣有餘。必發癰膿也。</p>
<p>總之厥利轉為發熱。乃屬愈期。仲師不是要其有熱。要其發熱而厥利止。厥利止而熱亦隨罷。方為順候。若熱氣有餘。則傷血分。而化為如癰之膿。非發癰也。數脈為熱氣有餘。遲脈為寒氣不足。傷寒六七日。陰盡出陽。可望其陽復。與黃芩湯復除其熱。熱除內外皆寒。腹中應冷。當不能食。今反能食。此中氣已除。必死。此節因脈數而推及脈遲。反復以明其義。五節言熱化太過。火熱下行。則便膿血。火熱上升。</p>
<p>則咽痛而為喉痹。隨其經氣之上下而為病也。傷寒先厥後發熱。下利必自止。而反汗出。陰液泄於外。</p>
<p>而火熱炎於上。必咽中痛。其喉為痹。發熱無汗。而利必自止。發熱無汗而利不止。則陽熱陷下。必便膿血。火熱下行。故其喉不痹。第六節遙承諸四逆厥者不可下。恐泥其說也。傷寒一二日。至四五日而厥者。必發熱也。是先厥後發熱也。前熱者後必厥。是先熱後厥。厥之日期深者。則發熱亦深。厥之日期微者。則發熱亦微。厥應下之。前不可下。指承氣等方。此應下。熱證輕有四逆散。重有白虎湯。寒症有烏梅丸是也。沈堯封云。厥陰乃正邪分爭。一大往來寒熱。厥深熱深。厥微熱微。言寒熱輕重。論其常理。其有不然。亦以決病之進退矣。厥陰為三陰之盡。病及此。必陰陽錯雜。厥陰肝木。於卦為震。一陽居二陰之下。是其本象。病則陽泛於上。陰伏於下。而下寒上熱之證作矣。其病藏寒。蛔上入膈。是下寒之證據也。</p>
<p>消渴心中疼熱。是上熱之症據也。況厥者逆也。下氣逆。即是孤陽上泛。其病多升少降。凡吐蛔氣上撞心。皆是過升之病。治宜下降其逆上之陽。取內經高者抑之之義。其下之法。非必硝黃攻克實熱方為下劑。即烏梅丸一方已具。方中無論黃連烏梅黃柏。苦酸鹹為下降藥。即附子直達命門。亦莫非下降藥也。下之而陽伏於下。則陰陽之氣順。而厥可愈。倘誤認為外寒所束。而反發其汗。以心中疼熱之陽。</p>
<p>盡升於上。而口傷爛赤矣。以厥陰之脈。循頰裡環唇內故也。七節言厥熱相應。陰陽平。當自愈。八節云。</p>
<p>凡厥者。陰陽氣不相順接。便為厥。厥者。手足逆冷是也。觀以凡字冠首。不獨言三陰之厥。並該寒熱二厥在內矣。蓋陽受氣於四肢。陰受氣於五臟。陰陽之氣相貫。如環無端。若寒厥則陽不與陰相順接。熱厥則陰不與陽相順接也。或曰。陰不與陽相順接。當四肢煩熱。何反逆冷也。不知陽邪熱邪深入。陽氣壅遏於裡。不能外達於四肢。亦為厥。豈非陰與陽不相順接之謂乎。九節以惟陰無陽之臟厥。托出陰陽不和之臟寒為蛔厥。傷寒脈微而厥。至七八日膚冷。其人躁無暫安時者。此為臟厥。夫少陰水火不交。則為煩躁。若真陽欲脫。則但躁不煩。與厥陰之但煩不躁者不同。蛔厥者。其人當吐蛔。今病者靜而復時煩。此為臟寒。蛔上入膈。故煩。須臾復止。得食而嘔又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。又主久利方。吐蛔言其常。不吐蛔而嘔煩。風木之動。亦可以吐蛔例也。金匱云。腹中痛。其脈當沉而弦。今反洪大。故有蛔蟲。蛔蟲之病。令人吐涎心痛。發作有時。毒藥不止者。甘草粉蜜湯主之。蓋腹痛脈多伏。陽氣內閉。或弦。則邪氣入中也。今反洪大。是蛔動而氣厥也。吐涎。吐出清水。心痛。痛如咬嚙。時時上下也。蛔飽而靜。其痛立止。蛔飢求食。其痛復發也。十節十一節。言厥陰必藉少陽少陰之樞轉。樞轉不出逆於陰絡而為便血。樞轉不出逆於膀胱關元而為冷結。厥陰傷寒。熱少厥微。指頭寒。默默不欲食。煩躁。數日小便利。下利色白。此熱除。欲得食。其病為愈。若少陰樞轉不出。故厥而嘔。少陽樞轉不出。胸脅煩滿者。陰陽並逆。不得外出。內傷陰絡。其後必便血。熱邪內陷為便血。寒邪內陷則手足厥冷。言我不結胸。胸在上而主陽。腹在下而主陰。各從其類。故少腹滿。以厥陰之脈。</p>
<p>過陰器抵少腹。按之則痛。此冷結在膀胱關元也。十二十三節。言陰陽勝負。可以日數之多寡驗之。厥少熱多。陽氣太過。</p>
<p>陰血受傷。其後必便血。以厥陰主包絡而主血。寒多熱少。陰氣盛而陽氣退。其病為進。人之傷於寒。則為熱病。熱雖甚不死。是傷寒以熱為貴。然熱不及者病。太過者亦病。故此二節論寒熱之多少。以明不可太過與不及也。仲師以熱多為病愈。厥多為病進者。是論病機之進退。以厥為熱邪向內。熱為熱邪向外。非內來客熱。向外為退。向內為進也。故熱多為病邪向愈之機。不是病邪便愈之候。所以縱有便膿血之患。而熱迫榮陰。與熱深厥逆者。仍有輕重也。</p>
<p>厥陰有不治之死證。不可不知。傷寒六七日。脈微手足厥冷。虛陽在上。不得下交於陰。故煩。真陰在下。</p>
<p>不能上交於陽。故躁。此陰陽水火不交。宜灸厥陰以啟陰中之生陽。而交會其水火。若厥不還。則陽氣不復。陰氣乖離。故死。厥不還者死。則知發熱為厥陰之生機。然發熱亦有三種死證。傷寒發熱當利止。</p>
<p>而反下利。身雖熱而手足反見厥逆。孤陽外出。獨陰不能為之守。更加躁不得臥。陰盛格陽。主死。傷寒發熱下利至甚。厥不止者。即無躁不得臥。亦主死。金匱云。六腑氣絕於外者。手足寒。五臟氣絕於內者。</p>
<p>利下不禁。臟腑氣絕。故主死。傷寒六七日不利。若發熱而渴。汗　而微利。是陽復之證。倘熱汗下三者。一時並見。乃真陽之氣虛脫於內為利。浮散於外為熱。發越於上而為汗。主死。亡陽有死證。亡陰亦有死證。傷寒五六日。不傷於氣。而傷於血。故不結胸。不結胸則腹亦不硬而濡軟。傷於血則脈虛。血虛於內。不能與陽相接於外。故手足復厥。厥不為熱深而為亡血。下之愈亡其陰。故死。發熱而厥。至七日六氣已周。來復於太陽則應止。今不惟不止。而反下利。陰盛雖未至於死。亦為難治。</p>
<p>五章凡八節。皆論厥證有寒有熱有虛有實也。陽盛則促。雖手足厥逆。亦是熱厥。忌用火攻。然有陰盛之極。反假現數中一止之促。但陽盛者。重按之指下有力。陰盛者。重按之指下無力。傷寒脈促。知其陽盛之假。手足厥冷。知其陰盛之真。可於厥陰並榮經俞等穴灸之。以啟其陷下之陽。此厥陰證之寒也。</p>
<p>傷寒脈滑而厥者。陽氣內郁。不能外達。外雖厥而裡有熱。白虎湯主之。脈微而厥為寒厥。脈滑而厥為熱厥。陽極似陰。全憑脈以辨之。然必煩渴引飲。不大便。乃為裡有熱也。經脈流行。營周不息。經血虛少。</p>
<p>不能流通暢達。手足厥寒。脈細欲絕者。當歸四逆湯主之。若其人內有久寒。加吳萸生薑。厥陰肝臟。藏榮血以應肝木。膽腑內寄。風火同原。苟非寒邪內犯。一陽生氣欲寂者。不得用大辛大熱之品。以擾動風火。不比少陰為寒水之臟。其在經之邪。可與麻辛附子合用。是以雖有久寒。不現陰寒內犯之候者。</p>
<p>加生薑以宣泄。不取乾薑之溫中。加吳萸以苦降。不取附子之助火。分經投治。法律精嚴。學人所當則效也。經脈內虛而厥。有當歸四逆湯之治。而陽虛之厥。反作假熱。又當何如。大汗出謂如水淋漓。熱不去謂熱不為汗衰。蓋言寒氣外泄。寒邪獨盛。表虛邪盛。勢必失和。有內拘急四肢疼之證。再見下利厥逆。陰寒內盛。惡寒。陽氣大虛。故用四逆湯溫經復陽。以消陰翳。大汗身熱。四肢疼。皆是熱邪為患。而仲師便用四逆湯者。以外有厥熱惡寒之證。內有拘急下利之候。陰寒畢露。則知汗出為陽氣外亡。身熱由虛陽外泄。肢冷為陽氣內脫。其辨證又只在惡寒下利。總之仲師辨陽症。以惡熱不便為裡實。上節陽虛有假熱。此節陽虛無假熱。大汗若大下利而厥冷者。四逆湯主之。汗而云大。陽氣亡於表。下利云大。陽氣亡於裡。加以厥冷。何不列於死證。玩本文不言五六日六七日。可知乃陰寒驟中。邪氣雖盛。正氣初傷。急溫正氣。猶能自復。故用四逆湯勝寒毒於瀕危。回陽氣於將絕。汗利止。厥回。可望生全。不因汗下而厥冷。用當歸四逆湯。因汗下而厥冷。用四逆湯。此緩急之機權也。此證無外熱相錯。為陰寒之證易明。然云大汗大下。則陰津亦亡。此際救陽為急。陽回亦當徐救其陰也。亦有因痰水而致厥者。病人無他證。手足厥冷。四肢受氣於胸中。因痰飲結聚。斯氣不能通貫於四肢。脈乍緊者。痰脈怪變無常。</p>
<p>不緊而忽緊。忽緊而又不緊。邪結在胸中。胸者心主之宮城。心為邪礙。心下滿而煩。飢不欲食。病在胸中。當須吐之，宜瓜蒂散。即內經所謂高者引而越之之意。再言水厥。傷寒厥而心下悸。宜先治水。當服茯苓甘草湯。卻治其厥。不爾水漬入胃。必作利也。此厥陰病預防下利之法。病至厥陰。以陽升為欲愈。</p>
<p>邪陷為危機。厥而下利。則中氣不守。邪愈內陷。此條厥而心下悸。水邪乘心。心陽失御。見此則治厥為緩。而治水為急。何也。厥猶可從發熱之多少。以審進退之機。水必趨於下。而力能牽陽下墜故也。傷寒六七日大下後。寸脈沉而遲。手足厥冷。下部脈不至。咽喉不利。唾膿血。泄利不止。為難治。麻黃升麻湯主之。寸脈。氣口也。氣口獨為五臟主。胃陽衰而寸脈沉遲也。四肢為諸陽之本。陽虛故手足厥冷。下後陽虛。故下部脈不至。下寒則熱迫於上。故咽喉不利而吐膿血也。即前所謂厥後熱不除者。必便膿血。</p>
<p>熱氣有餘。必口傷爛赤。泄利不止。寒邪在下。正虛邪實。陰盛陽衰。寒多熱勝。表裡舛錯。治寒則遺其熱。</p>
<p>治熱則遺其寒。補虛必助其實。瀉實必助其虛。誠為難治。</p>
<p>六章十八節。皆統論厥陰下利。有寒熱虛實陰陽生死之不同。傷寒四五日腹中痛。若轉氣下趨少腹者。厥陰陰寒。內合太陰。由太陰而仍歸厥陰。下而不上。此欲自利也。傷寒本自寒下。醫復吐下。寒格更逆吐下。若食入口即吐。乾薑黃連黃芩人參湯主之。其人本從於寒而下利。復吐下之。下因下而愈寒。</p>
<p>上因吐而愈熱。寒熱相阻而成格症。非寒熱相結而成痞症。不食則不吐。是心下無水。故不用薑夏。以乾薑辛溫除寒下。而辛烈又能開格納食也。下利。有微熱而渴。脈弱者。今自愈。此言得中見之化也。下利脈數。有微熱。汗出。今自愈。設復緊。得厥陰之氣矣。故為未解。下利手足厥冷。無脈者。陽陷下。不得橫行於手足。又不能充達於經脈也。灸之不溫。若脈不還。反微喘。是根氣絕於下。陽氣脫於上。故死。少陰負趺陽者為順也。負。承也。趺陽乃陽明胃脈。言少陰之氣。得上承陽明。則陰氣生而脈還。陽氣復而得溫。故為順也。下利陽氣下陷。其脈當沉。陰氣內盛。其脈當遲。今不沉遲而寸脈反浮數。是熱傷心包。尺中自澀者。下利陰血虛也。陽盛血虛。迫血下行。必清膿血。上節言陰盛傷陽。此節言陽盛傷陰。下利清穀。藏氣虛寒。不可攻表。汗出則表陽外虛。裡陰內結。故必脹滿。經云。臟寒生滿病。下利脈沉弦。則少陽初之氣下陷。下重是火邪下逼。若陽熱甚而脈大。而非初陽之脈象。為未止。脈微弱為陰。數為陽。乃陰中有陽。為欲自止。內經有身熱則死之說。而此得少陽中見之化。為陰出陽。雖發熱不死。厥陰陰寒下利。脈沉而遲。其人面少赤。三陽之氣。上循頭面陽格於上。喜得少陽之熱化。身有微熱。然而下利清穀者。厥陰之標陰。全陷於下。陽熱在上。陰寒在下。兩不相接。惟取少陰篇大方救之。從陰出陽。必鬱冒汗出而解。病患必微厥。所以然者。其面戴陽。下虛故也。下利脈數而渴者。今自愈。設不瘥。必清膿血。以有熱故也。言當愈不愈。必熱傷心包絡而便膿血。申明所以便膿血者。以脈數而渴。內有熱故也。下利後脈絕。下焦生氣不升。手足厥冷。中焦土氣不和。　時環轉一周。脈還手足溫者。中土之氣將復。復能從中焦而注於手太陰。故生。脈不還者。中土已敗。生氣已絕。雖手足不逆冷。亦主死。此言生死之機。全憑脈息。而脈之根。又藉於中土也。諸節皆言下利。此節獨言下利後。則與少陰下利。而頭時時自冒者同意。利後似乎邪去。殊不知正氣與邪氣俱脫之故。　時脈還。手足溫。陽氣尚存一線。猶可用四逆白通等法。以救將絕之陽也。傷寒下利。日十余行。病在厥陰。而三陽三陰之氣皆虛。脈反實者。無胃氣柔和之脈。乃真元下脫。故死。穀入於胃。藉中土之氣。變糟粕。猶奉心化赤。厥陰標陰氣盛。入胃不能變化精微。蒸津液而泌糟粕。清濁不分。下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯主之。此言裡不通於外。</p>
<p>而陰寒內拒。外不通於裡。而孤陽外越。非急用大溫之劑。必不能通陰陽之氣於頃刻。厥陰標陰病。則為下利清穀。厥陰中見得病。則為熱利。下重者。白頭翁湯主之。內經所謂暴注下迫。皆屬於熱也。下重者。厥陰經邪熱入下於大腸之間。肝性急速。邪熱甚則氣滯壅塞。其惡濁之物。急欲出而不得。故下重也。下利腹滿。身體疼痛。先溫其裡。乃攻其表。溫裡宜四逆湯。攻表宜桂枝湯。臟寒生滿病。水穀之氣下行。陰寒之氣上逆。故先溫其裡寒。後去其表寒也。下利欲飲水者。以有熱故也。白頭翁湯主之。此申明白頭翁湯。能清火熱以下降。而引陰液以上升也。下利　語者。中是火化。與陽明燥氣相合。胃氣不和有燥屎也。厥陰忌下。有燥屎不得不下。宜小承氣湯微和胃氣。下利後更煩。水液下竭。火熱上盛。按之心下濡者。非上焦君火充盛之煩。乃下焦水陰不得上濟之煩。此為虛煩。宜梔子豉湯。</p>
<p>嘔家有癰膿者。熱傷包絡。血化為膿也。腐穢欲去而嘔。不可以辛散之品治嘔。反逆其機。熱邪內壅。無所泄矣。俟膿盡則熱隨膿去而自愈。此章四節。俱厥陰之嘔。有血氣寒熱虛實之不同也。嘔而脈弱。裡氣大虛。小便復利。氣機下泄。身有微熱。見厥者。陰陽之氣不相順接。上者自上。下者自下。有出無入。故為難治。四逆湯主之。乾嘔吐涎沫。頭痛者。吳茱萸湯主之。此言厥陰陰寒極盛。津液為寒氣絆迎而上。</p>
<p>所嘔皆涎沫。而無飲食痰飲。而且逆行巔頂而作頭痛。非大劑不能治此暴劇之證。方中無治頭痛之藥。以頭因氣逆上衝。止嘔即所以治頭痛也。嘔而發熱者。小柴胡湯主之。厥陰與少陽為表裡。邪在厥陰。惟恐厥逆下利。若見嘔而發熱。是臟邪還腑。自陰出陽。無陰邪變逆之患矣。故當從少陽之樞而治之。傷寒以胃氣為本。不獨厥陰然也。厥陰不治。取之陽明。尤為要法。傷寒大吐大下之。極虛復極汗出。</p>
<p>則外亦極虛。虛則氣少不能交通於內。其人外氣怫鬱。恰似外來之邪怫鬱於表。誤認為邪熱。復與之水以發其汗。因得噦。所以然者。胃中寒冷故也。傷寒噦而腹滿。視其前後。知何部不利。利之則愈。噦既有虛寒之症。亦有實熱之症。厥陰之經。抵少腹。挾胃。上入頏顙。凡噦呃之氣。必從少腹而起。由胃而上升於咽嗌故也。夫傷寒至噦。非中土敗絕。即胃中寒冷。然亦有裡實不通。氣不得下泄。反上逆而為噦者。玉機真藏論云。脈盛、皮熱、腹脹、前後不通、悶瞀、此謂五實。身汗得後利。則實者活。今噦而腹滿。前後不利。五實之二實也。實者瀉之。視其前後二部。利之則氣得通。下泄而不上逆。噦即愈矣。夫以至虛至寒之噦症。亦有實者存焉。凡實熱之證。亦有虛者在矣。視其寒熱虛實。而施溫涼補瀉。則人無夭扎之患矣。</p>
