<header data-type="book">
<h1>察舌辨症新法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉恆瑞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1856">公元1856年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>脈學診斷之書，以李瀕湖、朱丹溪二家最為細膩，凡相似相異之處，皆能分別清楚，用筆描摹，比擬形狀，俾後學無誤認之處，可謂大有功於斯世。惜察舌一法，二公未有專書，世所傳者，惟傷寒舌鑒、溫疫舌鑒而已，欲求其如脈學之詳細者，未之有也。瑞因用心三十余年，將診斷試驗，醫治得效，歷歷不爽者，筆記於冊，以授徒輩，未敢自以為是也。庚戌，鎮郡同志袁君桂生等創辦《醫學扶輪報》，以昌明醫學，瑞舞附驥，分任印費報料之責。至庚戌歲冬，諸君有退志者甚多，印費報料因而缺乏，將成中止之局。瑞濫竽充數，刻印未終，至辛亥八月，而瑞等之《扶輪報》，亦與清鼎同時革命矣。今紹興醫會、上海醫會閱報諸君，時有來函，向袁、楊二君索閱全稿者。此皆閱《扶輪報》之舊友，不以葑菲見棄。殆以管見之比擬描摹，尚有可采處。爰從二君之議，抄錄全稿，加序送《紹學醫學報》社，遵周君小農流通書籍辦法亦拋磚引玉之苦心耳，是為序。伏乞諸大名家誨政，以匡不逮，是幸。</p>
<p><u>歲次柔兆執徐春分後三日劉恆瑞自序於京江之有預齋停云傳舍。</u></p>
<h2>舌苔原理</h2>
<p>舌為胃之外候，以輸送食物入食管胃脘之用。其舌體之組織，系由第五對腦筋達舌，其功用全賴此筋運動。舌下紫青筋二條，乃少陰腎脈上達，名曰金津、玉液二穴，所以生津液以濡潤舌質，明，其辨症之識，必有毫厘千裡之誤，此原理之不可不講也。夫舌之表面，乃多數極小乳頭，鋪合而點，其不易見高起一日三餐，故苔亦日有三變，謂之活苔，無病之象也。其所以有變者，因飲食入胃時，將腐濁之氣，遏郁下降，故苔色一退；至飲食腐化，濁氣上蒸，苔色又生。胃中無腐濁，則苔薄而少，有腐胃中正色不能直達而上，故有暫白之時；青為絕色，青綠之色，見於舌上，其人命必危。其外尚有似黃非黃、似白非白，各類間色，皆條分於後，以備後學細心參考。</p>
<h2>看舌八法</h2>
<p>一、看苔色。（詳後）。</p>
<p>二、看舌質。（質亦有色，又有大小濕熱之症，舌質脹大，滿口邊有齒印。血熱之症質色紫）。</p>
<p>三、看舌尖。（白苔滿舌，尖有紅刺，勿用溫燥之藥）。</p>
<p>四、看舌心。（四邊有苔，中無，或中有直裂，或有直槽或橫裂）。</p>
<p>五、看燥潤。（以手摸之，或滑潤或燥刺棘手，有看似潤而摸之燥者，有看似燥而摸之滑者）。</p>
<p>六、看舌邊。（苔色與邊齊否）。</p>
<p>七、看舌根。（根後有無苔色接續，有無大肉瘤）。</p>
<p>八、看變換。（觀其變與不變）。</p>
<h2>黃苔類總論</h2>
<p>黃色有深淺老嫩之殊，其形似亦有燥潤滑澀之異。有正黃色者；有老黃色者；有黃如炒枳殼色者；有黃黑相間如鍋焦黃色者；有嫩黃色者；有牙黃色者；有如裱心紙兼灰青色者；有黃如粟米染著者；有黃如虎斑紋者；有黃如黃蠟敷舌上者；有水黃苔如雞子黃白相兼染成者；有黃腐苔如豆渣炒黃堆舌者；此皆黃色之類，而症候之殊詳後。</p>
<h2>白苔類總論</h2>
<p>白苔有濃薄密疏之殊，其形似亦有深淺間雜之異。有薄白如米飲敷舌者；有白如豆漿敷舌者；有白而濃如豆腐腦鋪舌者；有白而疏如米粉鋪紅者；有白如粟米成顆粒者；有白如銀色者；有白如旱煙灰色者；有白如銀錠底者；有白如豆腐渣堆舌者；有白如豆腐筋堆舌者；有白如糙石糙手者；有似白非白色如畫工以脂調粉（此色有二：一淡如雪青湖縐色者，一深如雪青杭綢色者，古皆以絳色名之）。更有舌質深紅如紅蘿卜干有鹽霜者，此皆白苔之類，而寒熱之症各殊，亦細詳於後。</p>
<h2>舌質無苔類總論</h2>
<p>舌質無苔，亦有分別。有質紫無苔者；有質紅無苔者；有舌上無苔質光如鏡者；有質干如刺無苔者；有中凹如駁去者；有中有直溝，如刀背印成者；有舌質橫裂者；有舌生裂後，如冰片紋者；有前半光滑如鏡，後根上有肉瘤二粒，色如舌肉色者；有表面無苔，而皮內隱一塊如錢大，或黃或白者；有苔上見圓暈，分二三色者；有苔見青綠二色者，此皆表面無苔，而所主之症，各不同也，亦詳於後。</p>
<h2>黃苔類分別診斷法</h2>
<p>正黃色，為胃土正色，為溫病始傳之候。其為濕溫、溫熱，當以脈之滑澀有力無力老黃色，為胃中陽氣旺盛之候。若濃腐堆起，此胃中飲食消化腐濁之氣上達之後，為濕溫化熱之始，為溫熱傳入中焦陽明之候。</p>
<p>黃如炒枳殼色，為胃陽盛極，陽亢陰虛之候。胃氣欲傷，胃汁乾槁，故苔黃色如枳殼炒過狀，以其干枯不潤澤也。</p>
<p>黃黑相間，如鍋焦黃色，摸之棘手，看之不澤，為胃中津液焦灼，口燥舌乾之候；然亦有陽氣為陰邪所阻，不能上蒸而化為津液者。當以脈診分別斷之，脈澀有力鼓指者，火灼津也；脈滑無力鼓指，只有往來而無起伏者，痰飲瘀血阻抑陽氣，嫩黃色，由白而變為黃，為嫩黃色。此為用藥當，胃陽初醒之候。吉兆也。為飲食消化腐濁初升牙黃色，胃中腐濁之氣始升也。牙黃無孔，謂之膩苔，中焦有痰也。</p>
<p>裱心紙兼灰青色，苔雖黃而兼灰青，此傷風初候。或陽氣抑郁，黃苔無正色，當舒氣化郁。</p>
<p>黃如粟米染著，顆粒分明，此為胃陽太旺，胃熱之候。</p>
<p>黃如虎斑紋，氣血兩燔之候。</p>
<p>黃如蠟敷舌上，濕溫痰滯之候，故苔無孔而膩。</p>
<p>水黃苔，如雞子黃白相間染成，此黃而潤滑之苔，為痰飲停積，是濕溫正候。或為溫熱症而有水飲者，或熱入胃陰，誤服燥藥，而變生此苔式者，宜以診脈分別斷之。</p>
<p>黃腐苔，如豆渣炒黃堆舌，下症也。如中有直裂，氣虛也，不可下，當補氣，以氣不足以運氣也。</p>
<h2>白苔類分別診斷法</h2>
<p>薄白如米飲敷舌，此傷寒、中寒之初候也。無表症狀見者，飲食停膈上也。</p>
<p>白如豆漿敷舌，此白而滑潤，傷寒、中寒、濕邪、痰飲等病也。以脈診分別斷之。但薄白不潤澤，舌質不甚紅者，傷燥表症也。</p>
<p>白而濃如豆腐腦鋪舌，痰熱症也。</p>
<p>白而疏如米粉鋪紅，傷熱、傷暑初傳之候也。</p>
<p>白如粟米成顆粒，此熱邪在氣分也。</p>
<p>白如銀色，謂光亮如銀，此熱症誤補之變苔也。</p>
<p>白如旱煙灰色，不問潤燥，皆熱症誤燥之變苔也。</p>
<p>白如銀錠底，謂有孔如銀錠底式，此熱症誤補誤燥，津液已傷，元氣欲陷，邪將深入之候也白如豆腐渣堆舌，此熱症誤燥，腐濁積滯胃中，欲作下症也。如中心開裂，則為虛極反似實症之候，當補氣，須以脈診分別之。</p>
<p>白如豆腐筋堆舌，謂白苔濃而有孔，如豆腐煮熟有孔者曰筋，謂有二三條白者，余則紅色，或白如糙石糙手，此燥傷胃汁，不能潤舌，腎氣不能上達之候。亦有清氣被抑不能生津者，當以脈診分別斷之。與黃黑如鍋焦色條下參觀。</p>
<p>似白非白，如畫工以脂調粉，為雪青色。有深淺二種，淺者如雪青湖縐色，此乃熱邪入營初候；深者如雪青杭綢色，此乃暑熱二邪已入血分之候。</p>
<p>此苔類似薄白，但舌質紅而細看有乳頭微點者，故以雪青色名之。為血分熱症必有之苔，常見後學何從解悟。故以細心體認，比例法直告之。俾無誤認之弊。</p>
<p>舌質深紅，如紅蘿卜干有鹽霜，此乃熱邪深入久留，誤服攻燥之藥，胃陰大傷之候。溫熱末傳危症也。</p>
<h2>舌質無苔分別診斷法</h2>
<p>質紫無苔，熱在陰分也。</p>
<p>質紅無苔，熱邪初入陰分，或者傷食，胃氣不能上升，或憂思郁抑，陽氣不能上升，須以脈舌上無苔，質光如鏡，為胃陰胃陽兩傷，腸胃中之茸毛貼壁，完穀不化，飢不受食之候。亦有頑痰膠滯胃中，茸毛不起，皆有此候。須以脈診參斷。</p>
<p>前症完穀陰陽傷，脈必細澀。後症痰滯，脈必洪滑而大。</p>
<p>質干如刺無苔，紫而干者，熱傷陰液；紅而干者，氣不化津。須以脈診參斷。</p>
<p>中凹如駁去，胃有燥結傷陰，或盲腸有燥結久留不去之候。</p>
<p>中有直溝，如刀背印成，陰液元氣皆虛也。</p>
<p>舌質橫裂，素體陰虧也。</p>
<p>舌生裂紋如冰片紋，老年陰虛常見之象也。少年罕見，有此不吉。</p>
<p>前半光滑無苔，後根上有肉瘤二粒，如舌肉色，為陰虛癆症之象也。</p>
<p>表面無苔，而皮內有一塊如錢大，或黃或白，為正氣不足，血液虧虛，或有痰凝之候，須以苔上見圓暈，分二三色，燥金內結，燥屎不下之候，其症必險。</p>
<p>苔見青綠色，必死之症也。</p>
<h2>苔色變換吉凶總論</h2>
<p>總之，苔黃為正，白次之，無論何症，若用藥當，皆由白而黃，由黃而退，由退復生新薄白苔，此謂順象。無論何症，若用藥不當，則由黃而白，由白而灰，由灰而黑，由活苔變為死苔，此逆象化苔化，氣散布苔亦散布，氣凝聚而結，苔亦凝聚而結。氣結於一邊，苔亦結於一邊。故氣鬱之症，苔邊整齊，如石階之起邊線，線內有苔，線外無苔，但紅邊而已。若氣舒化則散布，由密而疏散，則不似斬然齊一之邊矣。故苔有邊齊如斬者，氣聚也。有積滯抑郁者也。</p>
<h2>苔之真退假退駁去辨</h2>
<p>苔之真退、真化，與駁去、驟退，有大分別。真退必由化而退，何謂化退，因苔由濃而漸薄，由板而此點，散離而不連續，皆逆象也。皆因誤用攻伐消導之劑，或誤表之故，胃氣胃汁，俱被傷殘，故有此候。</p>
<h2>燥潤辨</h2>
<p>濕症舌潤，熱症舌燥，此理之常也。然亦有濕邪傳入氣分，氣不化津而反燥者；熱症傳入血分，舌反下診脈功夫，參合之矣。</p>
<h2>濃腐之苔無寒症辨</h2>
<p>濃腐之苔無寒症，胃陽上蒸，濁氣上達，故苔腐濃，忌用溫燥宣化之劑，尤忌發表，此宜清降必變灰暗，切宜猛省。</p>
<h2>濃腐與濃膩不同辨</h2>
<p>濃腐與濃膩不同，腐者如腐渣，如腐筋如豆腐堆鋪者，其邊濃為陽有餘，能鼓胃中腐化濁氣上升，故有此象。若濃膩則中心稍濃，其邊則薄，無毛孔，無顆粒，如以光滑之物刮一過者，此為濃膩，為陽氣被陰邪所抑，必有濕濁、痰飲、食積、瘀血、頑痰為病，宜宣化。一為陽氣有餘，一為陽氣被抑，差之毫厘，失之千裡，可不慎哉今人多誤認膩字，故特論辨，以分別之。</p>
<h2>舌短舌強辨</h2>
<p>短者，舌伸不長之謂也，屬虛。舌短囊縮者，屬熱。舌短而囊不縮者，屬虛。</p>
<p>強者，不能運用，言語不清之謂也。則腦筋功用有損失之因，當察其所因之故，得其故，方有治法。</p>
<h2>補黑苔類</h2>
<p>舌上黑苔，有由白而黃，由黃而黑者，順症也。有由白而灰，由灰而黑，不由黃而黑者，此謂之黑陷苔，逆症也。此多因誤用溫燥之藥多日所致，甚難挽救。亦有脈遲苔黑者，此腎命不足，以辨真偽。真者刮之不去，方以黑苔斷之。其由黃而黑者，此乃陽明熱結之症，潤下得法，胃腑炭氣得以外出也，故曰順症，使人不必疑慮也。</p>
