<header data-type="book">
<h1>邯鄲遺稿</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙獻可</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1796">公元1796年</data></dd></div>
</dl>
</header>
<h2>敘</h2>
<p>《史記》扁鵲傳中稱其過邯鄲，聞趙貴婦人，遂為帶下醫，此女人科之所　乎？先生之《邯鄲遺稿》，此物此志也。婦女之病難治於男子，稟性陰柔，氣血最多凝滯，且見症又詭變百出，往往誤投一劑即釀成沉　，而世所稱女科善本，如《濟陰綱目》諸書，議病裁方不無畸重畸輕之弊。《邯鄲遺稿》他書引用頗多，其論胎產別開生面，實有發前人所未發者。惜無刻本行世，辛丑歲得抄本一帙，屢於臨症時師其大意，輒獲奇效。藏諸家塾，借抄者踵相接也，恐轉輾沿寫，或滋亥豕魯魚之誤，亟付梓人，以公同好，庶先生一片苦心，其啟牖靡涯歟！先生《醫貫》一書，久經行世，以未化拘墟之見，故洄溪砭之，而此書則簡賅詳明，能令讀者耳目一新，較諸《醫貫》，奚翅霄壤哉！想《醫貫》著在學養未深之候，或依草附木者流捉刀所為，亦未可定。烏容執一以薄古人耶。先生趙氏，名獻可，養葵其字也。</p>
<p>著述家每出一書，輒稱翻刻必究，余甚惑焉，倘藝林中有同余好者，或嫌鐫板未工，務期陸續刊發，則先生之立言，尚其不朽乎千古。</p>
<p><u>嘉慶元年歲次丙辰春王月吳趨生吳升謹敘</u></p>
<h2>卷之一</h2>
<h3>調經總論</h3>
<p>凡婦女經事，謂之月水，又謂之潮水。曰月者一月一至也，曰潮者取其信也。上蓄為乳汁，下行為月水。夫陰必從陽，故稟火色而紅。血為氣配，氣寒則寒，氣熱則熱，氣降則降，氣凝則凝，氣滯則滯，氣行則行。平和之氣，三旬一見，應月盈焉，其行有常，故名曰月經。貴調其氣以行其血，血盛氣聚是謂之從，從則孕而無損，若將理失宜，變證百出，為病不淺。有枯閉不通者，有淋漓不止者，有不及期與過期者，有先通而後止者，有錯經而妄行者，有紫黑塊而行痛者，有全白色而似魚腦者，有黃綠色而似牛髓者，有肥人痰多血海彌滿而經閉者，有瘦人精氣不聚子宮無血者，有因久患潮熱消血者，有因久發盜汗耗血者，有因脾弱不生血者，有因七情氣結而經閉者，有瀉痢失血者，有年久經不絕者，有一生經不至者，有來時發譫語如見鬼狀者，有臨行遍身痛而浮腫者，或赤白淋濁，或崩中帶下，或七疝八瘕，或聚或散，乍有乍無，其余病證未能悉舉。其將來而痛者血之滯也，塊而下者氣之涼也，來後作痛者氣血俱虛也，色淡者亦虛也，錯經妄行者氣亂也，色紫者氣熱也，黑者熱甚也，參前者氣熱而速也，遲後者氣滯而澀也，一月兩至者血熱、故多也，兩月一至者血冷、故少也，血得熱則行，得冷則凝也，熱用冷藥，冷用熱藥，不可一途而取明矣。</p>
<h3>經候</h3>
<p>《素問》曰：「女子七歲，腎氣盛，齒更發長；二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子。」</p>
<p>《靈樞》曰：「衝脈起於胞中，出於氣街，前行於胸，伏行於背，上出頏顙，滲灌諸陽，下入於足，注諸經，為十二經脈之海，其出入偕少陰經以行，故為血海。」</p>
<p>凡室女從幼經水未至，面色如故，飲食如常，名為石女，不在經閉成勞內論，不須服藥。亦有年大自通而受孕者。</p>
<p>凡室女諸病，以調經為先，理氣為要，每遇經至，切戒氣惱，否則有症瘕之患。</p>
<p>室女經閉成勞，不可投通血桃仁之類，當用生血四物之劑。若骨蒸、潮熱、咳嗽，脈七八至，視其肌肉消瘦之甚，藥之無益。</p>
<p>室女經水先通後閉有二：飲食如故，面色不黃，名曰歇，非病也，不須服藥；如面黃身熱，不食，此因積想沉思，氣鬱不遂，致血枯竭而月水先閉，多成勞損，名曰童勞，非藥可治，此症陰陽不和，急於配合，夫婦成歡即愈，否則十死八九，宜服補中益氣東加知、柏、生地，如咳嗽，加五味、門冬之類。</p>
<p><u>【補中益氣湯】</u></p>
<p>人參　黃　白朮　陳皮　升麻　柴胡　當歸　炙甘草　生薑　大棗室女經閉不通，五心煩熱，宜四聖散。</p>
<p><u>【四聖散】</u></p>
<p>桃仁　當歸　紅花　牛膝室女經水淋漓不斷者，宜琥珀黑龍丹。</p>
<p><u>【琥珀黑龍丹】</u></p>
<p>五靈脂　當歸　地黃　川芎　良薑入砂鍋內，用赤石脂、紙筋、鹽泥封固，火　紅，去火候冷，取去黑色，研細入後藥：百草霜　乳香　生硫黃　琥珀　花蕊石上五味研細入前藥，和勻，用醋煮糊為丸。每服時用炭火　紅，投入薑汁內浸淬，以酒、童便調服。</p>
<p>寡婦尼姑經閉，乃獨陰無陽，志欲不遂，是以陰陽交爭，乍寒乍熱，全類溫瘧，久則成勞，肝脈弦出寸口，比男十倍難治。當開鬱為先，後乃調經生血，然亦生死參半，蓋由男子精盛則思室，女子血盛則欲動也。</p>
<p>娼婦經閉由勞郁所致，但娼婦本無經閉之理，間或有之，乃為元氣未足即被男子所傷，宜服補血養氣之藥。</p>
<p>經水過期而來，有血虛、血寒、血滯、血熱。血虛者，腹不痛，微微身熱，宜生血調氣，用八物湯加香附，或四物東加黃　、升麻、陳皮。</p>
<p><u>【八物湯】</u></p>
<p>人參　茯苓　當歸　白芍　白朮　甘草　地黃　川芎</p>
<p><u>【四物湯】</u></p>
<p>地黃　當歸　芍藥　川芎血寒者，宜四物東加木香、香附、陳皮、甘草、紅花，或用歸附丸、艾煎丸。</p>
<p><u>【歸附丸】</u></p>
<p>香附　童便　醋煎至四分之一，下艾葉，煮干取出，搗爛入後藥：當歸（酒浸）　地黃（酒浸）　川芎醋、酒糊為丸。</p>
<p><u>【艾煎丸】</u></p>
<p>吳茱萸（泡淡）　當歸　熟地　白芍　石菖蒲　川芎　人參　艾葉　橘紅如惡心嘔吐，加丁香、半夏、生薑。</p>
<p>血滯者腰腹疼痛，胸膈飽滿，宜四物東加醋炒香附、延胡索。</p>
<p>腹不痛者為血熱，宜四物東加黃連、香附。</p>
<p>過期而來，並色淡者，此痰多血少也，宜補血豁痰，治以川芎、當歸、生地合二陳，或加參、　、阿膠。</p>
<p><u>【二陳湯】</u></p>
<p>橘紅　半夏　茯苓　甘草肥人過期是氣虛挾痰也，以二四湯去熟地，加香附、參、　，或二陳加芎、歸、蒼、附、南星。</p>
<p><u>【二四湯】</u></p>
<p>橘紅　半夏　茯苓　甘草　熟地　當歸　川芎　芍藥瘦人過期是熱多血少也，宜四物加歸、地、甘、　，少佐桃仁、紅花。</p>
<p>經水過期不調，或一二月不至，或三四月不行，用艾煎丸、醋附丸主之。</p>
<p><u>【醋附丸】</u></p>
<p>香附（醋浸透）</p>
<p>醋糊丸淡鹽湯下。</p>
<p>加艾、當歸，如前法，治症同，名艾附丸。</p>
<p>若經水過期，骨蒸發熱更兼白帶者，宜四物加杜仲、續斷、巴戟、丹皮、柴胡、香附、白朮、地骨皮。</p>
<p>經水先期而來者，有血熱、有氣傷血海，血熱者腹多不痛，乃是火也，宜服涼血地黃湯，或四物湯加芩、連、柴胡、香附，或加黃柏、知母、陳皮為丸。</p>
<p><u>【涼血地黃湯】</u></p>
<p>生地　黃連　升麻　細辛　當歸黃芩　柴胡　本　紅花　黃柏　防風　蔓荊子　川芎　知母　羌活　荊芥　甘草肥人亦兼痰治之。</p>
<p>虛熱者，宜逍遙散、補中益氣東加知母、黃柏。</p>
<p><u>【逍遙散】</u></p>
<p>白朮　當歸　柴胡　甘草　茯苓　白芍　薄荷加煨薑一片，水煎服。</p>
<p>氣傷血海者，宜大用芎歸之劑，蓋此證以肚腹痛為別：若瀉、腹中冷痛，用五個散；干嗽者，逍遙散治之。</p>
<p><u>【五個散】</u></p>
<p>陳皮　甘草　枳殼　川芎　大腹皮　厚朴　桔梗　白芍　半夏　香附　紫蘇　白芷　茯苓藿香　麻黃　乾薑　肉桂經水如不及期而來者，有火也，宜以六味地黃丸滋水，則火自平矣；如不及期而來多者，本方加海螵蛸、柴胡、白芍；如半月或十日而來，且綿延不止，此屬氣虛，用補中湯；如過期而來者，火衰也，本方加艾葉；如遲而色淡者，本方加桂。此其大略也。其間亦有不及期而無火者，有過期而有火者，多寡不同，不可拘於一定，當察脈之遲數，視稟之虛實、強弱，但以滋水為主，隨證加減。凡紫與黑色者多屬火旺之甚，亦有虛寒而紫黑者，不可不察脈審證，若淡白則無火明矣。</p>
<p><u>【六味地黃丸】</u></p>
<p>熟地　山藥　茯苓　山萸肉　澤瀉　丹皮經水來臍腹絞痛，時作時止，乃氣鬱血滯，宜四烏湯。</p>
<p><u>【四烏湯】</u></p>
<p>當歸　香附　陳皮　甘草　川芎　烏藥　白芍經水欲行臍腹絞痛，乃血澀故也，以四物東加延胡索、檳榔、川楝子、木香治之。</p>
<p>經水臨行誤食冷物，血氣阻遏，臍腹刺痛，宜服當歸須散。</p>
<p><u>【當歸須散】</u></p>
<p>當歸須　桃仁　香附　赤芍　烏藥　紅花　蘇木　肉桂　甘草酒、水煎服。</p>
<p>臨經腹痛，以四物東加延胡索、丹皮、陳皮。如痛甚者，豆淋酒；痛緩者，童便淋酒。</p>
<p><u>【豆淋酒法】</u></p>
<p>以黑豆炒焦投入酒中經水行後，腹痛綿綿不止，雖曰虛寒宜補，然氣亦能作痛，若一概補之，不益痛乎！須視受補與否？如不受補者，以四物加陳皮；如受補者，以八物加香附，血虛者倍參、　，挾寒者加乾薑，血行氣滯者加艾。若經淨後腰腹疼痛者，此血虛也，宜服八珍散，以白芍易赤芍，白朮易砂仁；如覺腹冷，加肉桂。</p>
<p><u>【八珍散】</u></p>
<p>與前八物湯同經水過期紫黑有二：有氣血混並而成紫黑者，有塊痛是也；有血熱而成紫黑色者，腹不痛是也，統以四物加連、附治之。</p>
<p>經水過期而似魚腦者，痰多血少也。有綠黃如泥土者，血寒氣虛也。其黃綠者宜暖經和血，忌用涼劑；其淡白者，宜補血導痰，以二陳加芎、歸、參、　、膠、地。</p>
<p>經水澀少不快，宜四物加紅花、葵花，如經水行微少、或脹或疼，宜四物加延胡索、白芷，醋煎。</p>
<p>經水過多，以六合湯或膠艾湯治之。</p>
<p><u>【六合湯】</u></p>
<p>生地　白芍　歸身　川芎　黃芩　白芷</p>
<p><u>【膠艾湯】</u></p>
<p>阿膠　熟地　川芎　艾葉　當歸　白芍如去血過多，神氣倦怠者，宜增減四物湯。</p>
<p><u>【增減四物湯】</u></p>
<p>人參　當歸　白芍　乾薑　川芎　甘草如去血過多，心神不安，言語不常，宜寧心膏、膠艾湯。</p>
<p><u>【寧心膏】</u></p>
<p>辰砂　棗仁　琥珀　人參　茯神　乳香上為末，每服一錢，濃煎棗子、燈心湯。或作丸，薄荷湯下。</p>
<p>因氣不和，致血不能流轉而經不調、臍腹疼痛者，是血凝氣結，其脈沉緊，宜溫經湯。</p>
<p><u>【溫經湯】</u></p>
<p>人參　當歸　白芍　延胡索　肉桂　川芎　牛膝　蓬朮　丹皮　甘草氣滯血凝者，腰腹刺痛，宜桂枝桃仁湯、通經六合湯。</p>
<p><u>【桂枝桃仁湯】</u></p>
<p>桂枝　桃仁　生地　芍藥　人參　甘草加棗子煎。</p>
<p><u>【通經六合湯】</u></p>
<p>生地黃　當歸　赤芍　川芎　蓬朮　肉桂經水凝滯，心腹疼痛者，宜琥珀散、佛手散治之。</p>
<p><u>【琥珀散】</u></p>
<p>熟地　赤芍　肉桂　三棱　當歸　丹皮　延胡索　蓬朮　烏藥　蒲黃　劉寄奴　琥珀為末，酒調服。</p>
<p><u>【佛手散】</u></p>
<p>川芎　當歸水、酒各半煎服。</p>
<p>經閉腹滿疼痛，發熱惡寒者，宜凌霄花散、牡丹皮散。</p>
<p><u>【凌霄花散】</u></p>
<p>凌霄花　當歸　桂枝　紅花　劉寄奴　赤芍　延胡索　丹皮　白芷酒半盞，再入紅花煎。</p>
<p><u>【牡丹皮散】</u></p>
<p>當歸　紅花　肉桂　蓬朮　赤芍　丹皮　蘇木　延胡索　鬼箭羽　乾漆　沒藥（另研）</p>
<p>陳皮　烏藥　甘草室女經閉成勞，臍腹瘕痛，宜牛膝散或通經丸。</p>
<p><u>【牛膝散】</u></p>
<p>當歸　丹皮　肉桂　桃仁　川芎　赤石　延胡索　牛膝　木香水、酒煎。</p>
<p><u>【通經丸】</u></p>
<p>肉桂　大黃（煨）　乾漆（研碎炒令煙盡為度）　青皮　川烏（泡去皮）　川椒　蓬朮乾薑　桃仁　紅花　當歸上為末，蜜丸，每服三十丸，淡醋湯下。</p>
<p>經水澀少，漸漸不通，潮熱瘦弱者，宜四物湯倍加澤蘭治之。</p>
<p>淤血凝積，經候不調，時時作痛，腰膝重疼，小腹堅硬者，宜紅花當歸散。</p>
<p><u>【紅花當歸散】</u></p>
<p>紅花　牛膝　劉寄奴　肉桂　當歸　紫葳　蘇木　白芍　白芷　甘草酒煎服。</p>
<p>婦人胃氣不調，亦能使經經歲不通，體壯實，但飲食減少者是也，宜服逍遙散以消食理脾，使飲食進而元氣足，後以和其血氣，則經水自行矣。</p>
<p>經沉滯不調，臍腹刺痛，或前或後，或多或少，或一月不至，或一月兩至，宜服佛手散，或三神丸。</p>
<p><u>【三神丸】</u></p>
<p>當歸　橘紅　延胡索（酒炒）</p>
<p>為末，酒糊丸，空腹艾醋湯下。</p>
<p>婦人月水不調，或前或後，或淋漓不斷，斷後復來，狀若瀉水，腹中堅痛，或閉塞不來，宜服桃仁散。</p>
<p><u>【桃仁散】</u></p>
<p>人參　川芎　赤芍　丹皮　牛膝　肉桂　當歸　生地　澤蘭　蒲黃　桃仁　半夏　生薑　甘草經水不調，或來多不節，或過月不行，或崩血不止，宜大溫經湯。</p>
<p><u>【大溫經湯】</u></p>
<p>人參　肉桂　川芎　白芍　天冬　阿膠　吳茱萸　當歸　丹皮　甘草　半夏　生薑經水適來適斷，日晡往來寒熱如瘧狀，或痰嗽，宜先服小柴胡湯，後服四物湯。若泄瀉，去黃芩，加白朮、茯苓；如自汗，減柴胡，加黃　；如寒熱皮膚冷，加桂枝；如腹冷，加肉桂，如咳嗽，加五味。</p>
<p><u>【小柴胡湯】</u></p>
<p>柴胡　人參　黃芩　半夏　甘草　生薑　大棗陰虛潮熱，漸成骨蒸，宜逍遙散，或牡丹皮散。</p>
<p>月水或前或後，崩漏，赤白帶下，每遇經行，小腹急痛，頭眩，飲食少進，氣悶者，宜加減吳茱萸湯。</p>
<p><u>【加減吳茱萸湯】</u></p>
<p>吳茱萸　乾薑　當歸　防風　茯苓　肉桂　細辛　丹皮　桔梗　木香　門冬　半夏　甘草加薑、棗煎服。</p>
<p>經水不調，臍腹冷痛，惡心，脹滿，至晚則劇者，宜四烏湯、薑黃散，或艾煎丸。</p>
<p><u>【薑黃散】</u></p>
<p>薑黃　川芎　肉桂　蓬朮　丹皮　紅花　當歸　赤芍　延胡索水煎，入酒少許。</p>
<p>形體黑瘦，經水不調者，子宮無血故也，養其陰則自然經至矣。</p>
<p>肥人經水不調，乃濕痰也，去其痰，則經自調矣，宜二四湯，或導痰湯入芎、歸、連、地（必用薑汁炒，恐泥膈也）。</p>
<p><u>【導痰湯】</u></p>
<p>半夏　茯苓　枳殼　南星　甘草　陳皮　薑經水不調，臍腹冷痛，宜牛膝散；若經水不利，時覺冷痛，寒熱往來者，宜異攻散。</p>
<p><u>【異攻散】</u></p>
<p>丹皮　肉桂　川芎　烏藥　白芷　芍藥　乾薑　當歸　延胡索　桔梗　生薑水、酒煎服。</p>
<p>婦人血枯經閉，有因胃氣虛，水穀難化，津液不生，而血虛不來者；有因少時吐衄，崩漏大脫血，氣亦不足者；有因潮熱骨蒸，不生津液，而經水閉絕者；有因房勞多產，枯竭於內，而經不通者。以上四者，總名血枯。</p>
<p>若脾虛胃消善食，黃瘦而不生血，月水全閉者，宜補中益氣東加川芎、生地、天花粉。</p>
<p>氣血俱虛，潮熱骨蒸，宜十全大補湯，加酒黃柏、牛膝。</p>
<p><u>【十全大補湯】</u></p>
<p>人參　白朮　茯苓　甘草　黃　熟地　當歸　白芍　川芎　肉桂　生薑　大棗心腎俱虛，咳嗽一、二聲無痰，夜熱盜汗，肌體瘦弱，飲食減少，臥則恍惚，異夢不常，微咳，痰中有紅絲者，名曰脈痿，宜劫勞散。</p>
<p><u>【劫勞散】</u></p>
<p>人參　黃　茯苓　半夏　甘草　熟地　當歸　白芍　阿膠　五味子每服二錢，水盞半，加薑三片，棗子三枚，煎八分，日進三服。</p>
<p>經水斷後，身熱譫語，日哺尤甚，宜小柴胡湯。</p>
<p>經水先斷，後小便不通，四肢浮腫，名曰血分，此症難治，宜小調經湯。</p>
<p><u>【小調經湯】</u></p>
<p>當歸　白朮　肉桂　赤芍　沒藥　細辛　麝香上為末，每服二錢，薑汁調或酒下。</p>
<p>若先小便閉，後致經水不通，四肢浮腫，名曰水分，此病易愈，宜葶藶丸。</p>
<p><u>【葶藶丸】</u></p>
<p>葶藶子　續隨子　乾薑上為末，棗肉為丸，桐子大，煎竹葉湯送下七丸。</p>
<p>如大便去，減續、葶，加白朮為丸。</p>
<p>或問：論調經以滋水為主，不須補血，何也？曰：經曰：女子七歲，腎氣盛，齒更發長；二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子。天者天一之真，癸者壬癸之水，月者水之精，以一月而盈，盈則昃。女人經水一月以時而下，能有子；不以時下，或過期，或不及，皆為病，病則不能有子。所以必須調經，調經必須滋水為主。又問曰：同一紅色，非血而何？曰：女人系胞之所而養經之處，養之一月而行，行則虛矣；以時交感，以虛而受，人若有孕，此水即化為乳而不月。乳之色白也，何謂血乎？至四十九而天癸絕，其所絕者天癸水也，其流行之血不見其虧，故不須四物湯補血，補血兼不得滋水，滋水必兼補血，故必以六味丸滋水。何也？蓋血乃後天飲食入胃，游溢精氣而成，以為流行之用。若經水乃衝任所主，人身中有奇經八脈，俱屬腎經無形之脈，其衝任者，奇經之二，其脈起於胞中，為經脈之海，與手太陽、手少陰為表裡，上為乳汁，下為月水，女人獨稟此水以為生生之原，與男子二八之精同氣，從天一之源而來，精則一月而滿，滿則溢，似血實非血也。</p>
<p>衝任起於胞中，男於藏精，女子系胞，其間又恃一點命門之火為之主宰。火旺則紅，火衰則淡，火太旺則紫，火太衰則白。所以，滋水更當養火，甚有干涸不通者，雖曰火盛之極，亦不宜以苦寒之藥降火，只宜大補其水──天一之原。以養之使滿，滿則溢，萬無有毒藥可通之理！此調經之法類如此。</p>
<h2>卷之二</h2>
<h3>血崩</h3>
<p>凡血崩之疾當分陰陽而治，氣血人身之陰陽也。陽主升，陰主降，陽根陰，陰根陽，一升一降，循經而行，無崩漏也。若陽有餘則升者勝，血出上竅；陽不足則降者勝，血出下竅。總之血隨陽氣而升降，陽氣者風也，風能上升，然必須東方之溫風始能升，故用助風益氣。凡氣虛不能攝血而崩者，其人必面白、尺脈虛大、食飲無味，久病者有之。</p>
<p>崩漏，有血虛，有驚憂，有怒氣，有熱搏，有勞傷。經血忽下者，名曰崩漏。其為病，須審腹痛、腹不痛。如腹痛，當分虛實之異，緩急之殊，若淤血者，體必作寒；空痛者，少腹喜按也。淤血則當去，空痛則當補。緩則治其本，急則治其標。經曰：崩中日久為白帶，漏若多時骨髓枯。脈小虛滑可治，急疾緊數難痊。凡治崩漏，宜大補氣血與養脾胃，微加鎮逐心火之藥以治之，補陰瀉陽其患自愈矣。</p>
<p>經水妄行及血崩不止，宜黃柏散，或涼血地黃丸。</p>
<p><u>【黃柏散】</u></p>
<p>地黃　柏葉　黃芩　蒲黃　當歸　艾葉　伏龍肝　乾薑因熱崩下者，宜膠艾四物東加黃芩，或黃連解毒東加艾葉。</p>
<p><u>【黃連解毒湯】</u></p>
<p>黃連　梔子　黃芩　黃柏崩漏純血，乃脾弱氣逆也。如身熱，宜當歸芍藥湯。</p>
<p><u>【當歸芍藥湯】</u></p>
<p>當歸　白芍　陳皮　甘草　黃　白朮　柴胡　蒼朮若崩而脈緊無力，臍下如冰，白滑間有如屋漏水者，宜膠艾東加青皮、炮薑炭、蒲黃、黃　，或丁香膠艾湯。</p>
<p><u>【丁香膠艾湯】</u></p>
<p>丁香　阿膠　艾葉　四物湯若氣血俱虛，以四物東加人參、黃　，或平補散，或大溫經湯，治之即愈。</p>
<p><u>【平補散】</u></p>
<p>阿膠　椿樹花　熟地　川芎　艾葉　蒲黃　白芍　當歸　地榆若因氣虛而下，宜四物加參、　、白朮、升麻、蒲黃、香附。</p>
<p>若崩中過極，心神恍惚，宜茯苓補心湯。</p>
<p><u>【茯苓補心湯】</u></p>
<p>人參　熟地　當歸　白芍　茯苓　紫蘇　川芎用米飲湯煎服。</p>
<p>若崩漏連日不止，宜荊芥散、如聖散、黃柏散、立效散，或四物東加黃芩、荊芥，或膠艾四物東加黃芩、槐花。若少腹刺痛，艾煎丸主之。</p>
<p><u>【荊芥散】</u></p>
<p>荊芥用麻油少許以燈草燃燈，燒荊芥焦色為末，童便調服。</p>
<p><u>【如聖散】</u></p>
<p>棕櫚　乾薑　烏梅並燒炭存性，用烏梅酒調下。</p>
<p><u>【立效散】</u></p>
<p>當歸　蓮蓬殼　紅花　茅花　白棉花用白棉紙包好，以火　之存性為末，開水送下。</p>
<p>若崩漏晝夜不止，或經年不愈，諸藥不效，急則治其標，宜白芷、香附、百草霜；緩則治其本，宜四物東加芩、連、參、　、薑、附，又四物東加荊芥、黃芩止血尤效，或香附、蓮房灰、米飲湯送下，或以十灰丸，或以五靈脂燒存性為末，烏梅湯下。</p>
<p><u>【十灰丸】</u></p>
<p>黃絹　艾葉　蓮房　棕櫚　馬尾　蒲黃　油發　綿　藕節　赤松皮上十味各燒存性為末，醋糊為丸，米飲湯下。</p>
<p>腎虛不能鎮守相火，如暴崩、下血不止腹不痛者，宜服涼血地黃湯，或八物湯內加芩、連。</p>
<p>因內傷所致，腹不痛者，宜涼血地黃湯；如腹痛者，宜大劑四物湯治之，後用補宮湯。</p>
<p><u>【補宮湯】</u></p>
<p>當歸　熟地　阿膠　艾葉　川芎　白芍　地榆　白朮　甘草老年血崩腹不痛者，宜八物東加芩、連、柏葉，此乃急則救標之意，必當先理脾胃為主。</p>
<p>若少年血崩腹痛，實者多，虛者少，雖崩，當服四烏湯。</p>
<p>若年高血崩腹痛，有餘者少，不足者多，雖痛，宜眼十全大補湯。</p>
<h3>帶下</h3>
<p>白帶，如帶不斷者是也。其所以然之故，帶者奇經八脈之一也，腰臍間回身一周，如束帶然。八脈俱屬腎，人身帶脈統攝一身無形之水。下焦腎氣虛損，帶脈漏下，白為氣虛，赤為有火，治法俱補腎為主。白者多，赤者少。有脾虛者，六君子東加升麻；有氣虛者，補中湯；肝虛者，逍遙散兼六味地黃丸。</p>
<p><u>【六君子湯】</u></p>
<p>人參　白朮　茯苓　甘草　半夏　橘紅帶下有氣虛、痰鬱、血虛，種種不一，傷於臟腑，流經而發。傷肝經者，色青如泥；傷心經者，色赤如紅精；傷脾經者，色黃如爛瓜；傷肺經者，色白如涕；傷腎經者，色黑如衄。然雖分五色之傷，大約赤、白色居多。白者熱入大腸，赤者熱入小腸。白者屬氣，赤者屬血。氣虛者用參、朮，血虛者用芎、歸也。然此症腰痛者多，不痛者少。大凡白帶甚則腰痛，輕則不痛也。今人受氣甚時，則就腰痛、頭暈、眼眩，然則白帶系氣虛可見矣，宜服養榮湯。</p>
<p><u>【養榮湯】</u></p>
<p>熟地　當歸　川芎　白芍　薑黃　烏梅　白芷　生薑　五加皮　海桐皮肥人白帶，多是濕痰，宜用星、夏、海石、芎、柏、蒼、附之類。</p>
<p>瘦人白帶，多是濕熱，宜用滑石、芎、柏、海石、蛤粉、青黛之類。</p>
<p>治赤白帶與痢同法，宜胃風湯、五苓散、四物湯。</p>
<p><u>【胃風湯】</u></p>
<p>白朮　牡蠣　當歸　白芍　肉桂　茯苓　粟米　川芎</p>
<p><u>【五苓散】</u></p>
<p>桂枝　白朮　茯苓　澤瀉　豬苓痰流下注，滲入膀胱，上宜用吐以提其氣，下用二術二陳丸、瓦楞子以燥其濕。</p>
<p><u>【二術二陳丸】</u></p>
<p>即二陳東加蒼朮、白朮。</p>
<p>白帶、心腹痛，面黃虛弱者，宜當歸煎丸。如腰痛，宜萆　釐清飲。</p>
<p><u>【萆　釐清飲】</u></p>
<p>川萆　石菖蒲　益智仁　烏藥　甘草梢　茯苓　鹽</p>
<p><u>【當歸煎丸】</u></p>
<p>當歸　赤芍　牡蠣　陳皮　熟地　白芍　地榆　川斷上為末，醋糊丸。酒、米湯下。</p>
<p>白帶漏久，尺脈微弱，腎水枯者，宜用補經固真湯。</p>
<p><u>【補經固真湯】</u></p>
<p>白葵花　郁李　甘草　陳皮　乾薑　柴胡　人參上藥先煎，再入川芎煎服。</p>
<p>治白帶用白芷、黃柏，須炒成炭；蒼朮，鹽水炒焦。</p>
<p>東垣先生用葵花法：白者治白帶，紅者治赤帶；芍藥須炒黑，用之良驗。</p>
<p>治婦人赤自帶下，宜用七製香附丸。</p>
<p><u>【七製香附丸】</u></p>
<p>香附、三棱、蓬朮，童便同浸；又以香附、紅花、烏梅、鹽水同浸；又以香附、川芎、生水同浸；又以香附、當歸、酒同浸；又以香附、延胡索、生水同浸；又以香附、熟地、酒同浸；又以香附、丹皮、艾葉、醋同浸。</p>
<p>用淨香附為末，酒、醋糊為丸，淡醋湯送下。</p>
<h3>淋濁</h3>
<p>婦人年七七，數盡而經不斷，此乃氣血有餘也，不可止之。若既絕而復來者，或傷損，或淤血，皆以兩脅、少腹急痛為辨，宜四烏湯，用赤芍；其勢不可止，宜八物東加芩、連，然不可遽投，恐傷脾胃。</p>
<p>老年淋漓不斷，因幼時氣多，積久而成。經水每月二、三至者，多成崩淋，宜大劑八物湯主之。</p>
<p>淋漓白滑，間有如屋漏水狀，下而不止，止而復來，臍下如冰者，宜香膠艾葉湯。若勞傷血氣虛弱，淋漓日久者，宜膠艾東加炒蒲黃、黃芩。如有汗，加黃　；如虛者，加人參。</p>
<p><u>【香膠艾葉湯】</u></p>
<p>丁香　阿膠　艾葉　川芎　熟地　當歸　白芍血淋不斷，三、五日一至，積久不愈，或因經來入房致勞，或因受氣鬱結所致。須視小腹痛與不痛、脾胃實與不實。若房勞所傷，宜先活血，後理其經。如小腹痛者，以歸附丸治之；如小腹不痛者，以內補湯治之。如氣傷，胸滿迷悶，腹痛，與脾胃不實者，恐上有淤血，未可止也。宜四烏湯、歸附丸、大個散、四物東加陳、甘、桂、附，後以補宮湯、安胎飲。</p>
<p><u>【內補湯】</u></p>
<p>地黃　當歸　川芎　白芍　橘紅　茯苓　白朮　甘草</p>
<p><u>【大個散】</u></p>
<p>半夏　陳皮　甘草　桔梗　厚朴　蘇梗　香附　藿香　白芷　茯苓　菟絲子</p>
<p><u>【安胎飲】</u></p>
<p>白朮　黃芩　地榆　甘草　熟地　當歸　白芍　川芎　阿膠　艾葉　半夏腹不痛，胃實而淋日久者，宜八物東加芩、連，若食少者，略加陳、楂少許，或內補湯、補宮湯治之。若瀉，腹不痛者，宜胃苓湯治之；若瀉，腹冷痛者，宜五積散治之。若嗽而不瀉者，宜二四湯治之；嗽而兼瀉者，宜胃苓湯治之。大凡治血淋症，必以胃氣為本，故先理胃健脾為要。如嗽急淋緩，先止其淋，勿可忽也。</p>
<p><u>【胃苓湯】</u></p>
<p>（又名五苓平胃散）　肉桂　白朮　茯苓　豬苓　澤瀉　蒼朮　厚朴　陳皮　甘草　生薑　大棗</p>
<p><u>【五積散】</u></p>
<p>肉桂　乾薑　白芷　茯苓　麻黃　藿香　甘草　桔梗　半夏　生薑　厚朴　陳皮　川芎枳殼　當歸　白芍淋雖有赤白之分，不過虛寒鬱結為多。如淋漓不斷，養胃東加香附；紅色者，用八物湯；白色者，用艾煎、歸附二丸；如淋而帶沙者，尤當分氣血輕重，不可渺也。若白淋變為黃水，則將變血為淋矣，宜艾煎丸加白芍。</p>
<p><u>【養胃湯】</u></p>
<p>生地　當歸　白芍　川芎　丹皮　青皮　薑黃　白芷　生薑　海桐皮　五加皮白濁者，膀胱經熱也，失治當生癰疽，宜服清心蓮子飲。若白淫者，或一時放白水，寡婦尼姑多有是疾，此乃鬱火也，宜降火為主。或有勞傷腎虛，或有心虛而得，或因思慮過度。若過慮傷脾，宜四七湯、鎖精丸，重則加益智、鹽煎。</p>
<p><u>【清心蓮子飲】</u></p>
<p>人參　黃　茯苓　甘草　黃芩　車前子　石蓮子　地骨皮　麥冬水煎候冷，空腹服。</p>
<p><u>【四七湯】</u></p>
<p>半夏　厚朴　茯苓　蘇葉　生薑　大棗</p>
<p><u>【鎖精丸】</u></p>
<p>青鹽　茯苓　五味子　破故紙上四味，等份為末，蜜丸，淡鹽湯下。</p>
<h2>卷之三</h2>
<h3>妊娠</h3>
<p>《素問》：「女子七歲，腎氣盛，齒更發長；二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子」；「七七，任脈虛，太衝脈衰少，天癸竭，地道不通，故形壞而無子也」。「丈夫八歲，腎氣實，發長齒更；二八，腎氣盛，天癸至，精氣溢瀉，陰陽和，故能有子」；「八八，則齒發去……五藏皆衰，筋骨解墮，天癸盡矣，故髮鬢白，身體重，行步不正，而無子耳」。</p>
<p>人身氣血，各有虛實寒熱之異，惟察脈可知。舍脈而獨言藥者，妄也。脈不宜太過而數，數則為熱；不宜不及而遲，遲則為寒；不宜太有力而實，實者正氣虛，火邪乘之而實也，治法當散郁以伐其邪，邪去而後正可補；不宜太無力而虛，虛者氣血虛也，冶法當補其氣血。又有女子，氣多血少，寒熱不調，月水違期，皆當診脈，而以活法治之。務使夫婦之脈，和平有力，交合有期，不妄用藥，乃能生子也。</p>
<p>或問曰：「黃芩、白朮，安胎之聖藥，此二味恐胎前必不可缺乎？」曰：「未必然也。胎莖之系於脾，猶鐘之系於梁也。若棟柱不固，棟梁必撓。所以安胎先固兩腎，使腎中和暖，始脾有生氣，何必定以白朮、黃芩為安胎耶！凡腹中有熱胎不安，固用涼藥；腹中有寒胎亦不安，必用溫藥，此常法也。殊不知兩腎中具水火之原、衝任之根，胎元之所系，甚要，非白朮、黃芩之所能安也。如腎中無水胎不安，用六味地黃丸壯水；腎中無火，用八味地黃益火。故調經當用杜仲、續斷、阿膠、艾葉、當歸、五味子，出入於六味、八味湯中為捷徑。總之，一以貫之也。此諸書之所不及，余特表而出之」。</p>
<p><u>【八味湯】</u></p>
<p>地黃　山萸肉　山藥　丹皮　茯苓　澤瀉　附子　肉桂婦人懷胎二、三個月，兩寸脈浮大，兩關脈滑，兩尺脈微帶數者是也。左乳先有核者男，右乳先有核者女。左尺滑大而疾者男，右尺滑大而疾者女，若兩尺俱洪者雙胎。六脈洪大而身不熱者，胎也。又兩尺脈或大或小，或沉或動或止，今明不同，早暮殊別，此鬼胎也；又脈來如風雨亂點，忽然而去，久而復還者，亦鬼胎也。必連視三四日方見。</p>
<p>婦人經脈不行，欲驗胎否，服探胎丸，腹內微動者，是胎也。</p>
<p><u>【探胎丸】</u></p>
<p>川芎為末，濃煎艾湯調下。</p>
<p>孕婦脈沉細而腹痛，胎伏不動，此為邪氣蓄積，水停故也。以小腹冷暖為別，宜順氣活血藥治之。</p>
<p>婦人經水二、三月不行，身如病狀，六脈洪大，此孕脈也。精神如故，好食咸酸，惡聞食氣，或但嗜一物，或嘔吐痰水，或飽悶，寒熱，名曰「惡阻」。俗謂「病兒」，惡心嫌食是也。切不可以寒熱病治之，須順氣豁痰，服保生湯，倍加丁香、生薑治之。</p>
<p><u>【保生湯】</u></p>
<p>人參　白朮　茯苓　甘草　陳皮　厚朴　生薑　丁香惡阻多在三個月之時，相火化胎之候。壯火食氣，上衝胃口，食入即嘔吐。少陰腎水既養胎，少陽之火益熾。先用逍遙散止嘔，再用清肝滋腎東加杜仲、續斷，甚者加川連、吳茱萸。</p>
<p><u>【清肝滋腎湯】</u></p>
<p>地黃　山萸肉　山藥　柴胡　丹皮　澤瀉　茯苓　白芍惡阻嘔吐，以紫蘇飲加茯苓、半夏、枳實、草果。蓋此是氣上停痰與食所致。若心悶頭眩，嘔吐，惡寒，汗出，宜四七湯，或半夏茯苓湯；若吐逆不食，心虛煩悶，宜參橘散；如胃寒嘔逆，心腹脹滿，加丁香、藿香。</p>
<p><u>【紫蘇飲】</u></p>
<p>紫蘇　橘紅　甘草　當歸　川芎　白芍　人參　大腹皮</p>
<p><u>【半夏茯苓湯】</u></p>
<p>半夏　茯苓　紫蘇　藿香　川芎　橘紅　甘草</p>
<p><u>【參橘散】</u></p>
<p>人參　橘紅　白朮　炙甘草　麥冬　赤苓　竹茹　厚朴　生薑若痰逆嘔吐酸水，惡聞食氣，頭眩，眼花，多臥，宜用旋覆半夏湯；若傷食嘔吐者，宜用枳縮二陳湯。</p>
<p><u>【旋覆半夏湯】</u></p>
<p>旋覆花　半夏　茯苓　甘草　人參　當歸　川芎　細辛　乾薑</p>
<p><u>【枳縮二陳湯】</u></p>
<p>枳殼　砂仁　半夏　茯苓　陳皮　甘草凡嘔吐擇食，因中脘停痰氣滯，宜二陳東加白朮、藿香、砂仁；若脈弱嘔吐，服藥不效，當理血歸源，古云「帶陰則嘔」也，以二四湯去地黃，加丁香、枳殼、桔梗；若悶飽，惡食，嘔逆及胎不安，腰腹痛，宜安胎飲。</p>
<p>若傷寒，煩熱，頭疼，胎氣不安，吐逆不食，宜人參白朮散。</p>
<p>若胃虛氣逆，嘔吐清水，數日不食，宜參朮散加砂仁、竹茹；惡心，加乾薑；如胸膈不寬，加枳實。</p>
<p>若嘔吐頭眩，左脈弦甚，此怒氣所激，忌參、朮等劑，須氣順為上，以順氣安胎為主。</p>
<p>若胃虛嘔吐不食，以砂仁槌碎，用薑汁浸少頃，炒紫色，滾湯，再入薑汁少許點服，或紫蘇湯亦可。</p>
<p><u>【人參白朮散】</u></p>
<p>人參　白朮　橘紅　甘草　麥冬　赤苓　竹茹　半夏　川芎　前胡</p>
<p><u>【參朮散】</u></p>
<p>人參　白朮　甘草　蘇梗　藿香　橘紅　丁香　烏梅　生薑妊娠漏胎訣曰：血下如同月水來，漏極胎干主殺胎。亦損妊母須憂慮，爭遣神丹救得回。</p>
<p>蓋胎漏者，或誤食動胎之物所致，或誤食熱毒之物侵損胞胎所致，或因房勞傷損驚觸，或服熱藥太過干損。輕則漏輕，重則漏重。若不急治，血盡則死。然安之之法有二：若因母病而動胎者，單治其母，其胎自安；若因胎不安以致母病者，單安其胎，則母病自愈。</p>
<p>懷妊之後，經水雖不多，虛熱而下者，以紫蘇東加黃芩、白朮、阿膠、砂仁。</p>
<p><u>【紫蘇湯】</u></p>
<p>紫蘇　桑皮　桔梗　甘草　茯苓　陳皮　五味子　大腹皮　草果　生薑　鹽妊娠卒然腰痛，而血下不止者，宜安胎飲主之。</p>
<p>胎漏淋漓不已，宜膠艾四物東加黃芩、續斷；如下血不止者，加烏梅、石菖蒲、地榆、小薊、赤石脂。</p>
<p>妊娠誤食毒物、毒藥，傷動胎氣，下血不止者，隨其所傷之物治之。</p>
<p>妊娠偶因跌仆，胎動不安，衝心，腰腹痛，下血，隨死，宜佛手散治之。</p>
<p>孕婦遺尿，用白薇、白芍為末，一日服三服愈。</p>
<p>胎從心腹湊上者，名曰子懸。此命門火衰，胎在腹中寒冷，不得已上就心火之溫暖，須理中湯，不應，八味丸作湯。</p>
<p><u>【理中湯】</u></p>
<p>人參　白朮　炮薑　炙甘草胎氣不和上湊，心腹脹滿疼痛，謂之子懸，宜紫蘇飲。此藥有安生墜死之功，兼治臨產累日不下。</p>
<p>妊娠胎動不安，下血腹痛，或下血不痛，以安胎和氣飲或芎　補中湯。</p>
<p><u>【安胎和氣飲】</u></p>
<p>白朮　橘紅　良薑　陳米　訶子　甘草　木香</p>
<p><u>【芎　補中湯】</u></p>
<p>人參　白朮　黃　當歸　阿膠　乾薑　甘草　白芍　川芎　木香　五味子　杜仲胎氣不和，腰腹疼痛，以安胎飲加紫蘇、黃芩、砂仁、陳皮；如胎不時動而腰腹痛者，單服安胎飲；如胎動不安，以佛手散加膠、艾、蔥白治之。</p>
<p>孕婦內傷，當辨其胎之死生。若腹迸痛，發寒，舌青者，子死也，以香桂散下之；如症未明，以佛手散探之，胎損者立便送下，未損者其痛自止，然痛止後，須視其輕重，即治其傷，罔顧其胎，血下胎安，母命全矣，或單服紫蘇飲加枳殼、童便、酒及砂仁亦可。</p>
<p><u>【香桂散】</u></p>
<p>肉桂　麝香　艾葉　杏仁為末，酒調服。</p>
<p>胎前腰痛甚者，腎虛極也，其胎必墮。急服安胎飲以固其胎，如腰不疼，加黃芩服之。</p>
<p>妊娠腹痛者，名曰痛胎，俗名胎氣，至產則愈。若二、三月間忽然心腹疼痛，宜用芎、歸、阿膠、蔥白，或紫蘇飲加砂仁，或四七東加川芎、當歸，或四磨飲治之。</p>
<p><u>【四磨飲】</u></p>
<p>人參　烏藥　檳榔　沉香各磨濃汁，開水沖服。</p>
<p>胎痛與胎動不同，有因母病而動者，因胎不堅而引動者，痛亦如之，切宜詳辨。或有動而不痛者。</p>
<p>阿膠治胎動，川芎、當歸身治胎痛。</p>
<p>胎前心痛欲死，以沉香降氣湯、茯苓補心湯、四七湯、紫蘇飲擇而用之。</p>
<p><u>【沉香降氣湯】</u></p>
<p>沉香　香附　縮砂　甘草為末，入鹽少許，鹽湯下。</p>
<p>胎前胃痛口噤，宜服養胃湯。</p>
<p>妊娠心腹急痛歌：「心腹急痛面目青，冷汗氣絕命將傾。血下不止胎衝上，心腹痛悶定傷身。」此症多因，難治。</p>
<p>胎前小腹冷痛攻刺，　癖疼痛，宜服蔥白散，須量其輕重而用之。</p>
<p><u>【蔥白散】</u></p>
<p>蔥白　肉桂　三棱　蓬朮　人參　熟地　當歸　白芍　厚朴　神麯　青皮　木香　麥芽乾薑　茯苓　川芎　川楝子　小茴香胎前臍下小腹冷痛，小便數，大便滑。此因食生冷不時物所致，宜安胎和氣飲治之。</p>
<p>胎前小腹痛者，須視其如果不安，宜紫蘇飲，不可多服活血行氣藥；若內傷甚者，下之；亦有生孕癰而痛者，在乎謹細詳辨，不可忽也。</p>
<p>胎前脅痛者，其因有三：有因慟哭，有因內傷，有因惱怒。有胎不宜與傷藥，誤則墮胎。宜服童便、酒，或用紫蘇飲加當歸尾、砂仁、童便，去參服之。雖曰內傷，猶宜安胎為上。若脅痛甚，紫蘇飲中加白芥子、柴胡、枳殼升達之。</p>
<p>孕婦背痛者，氣所滯也，宜紫蘇飲；若腰背痛不可忍者，虛則杜仲丸；腰痛如折者，以黑豆炒熟，酒飲之，或破故紙、紫胡桃酒服。</p>
<p>孕婦遍身拘急不仁、作痛，眼黑花，不寐，胎氣亦有然者，宜用紫蘇飲。</p>
<p>妊娠面及四肢浮腫如水氣者，名曰子腫。有胎氣，有水腫，有濕，有熱，有因瘧過飲傷脾，有因瀉利虛滑損胃，皆能令腫也。若胎氣腫者，以紫個散加白朮；若虛浮水腫者，以五皮飲加白朮、丁香、萊菔子；若浮腫小便不利者，乃胎水證也，宜紫個散加澤瀉、木通、白朮；如三焦熱病，加梔子、黃芩，利小便、退腫尤捷；若浮腫腹大者，氣也，必利小便為上，宜服紫個散。若脾氣虛，遍身浮腫，心腹脹滿，喘急氣促，小便不利者，名曰胎水，又名子滿，以紫個散加桑皮、赤茯苓、木香、澤瀉、木通，甚者加防己；若濕，以五苓散去桂加車前子、大腹皮、人參、木通治之。</p>
<p><u>【紫個散】</u></p>
<p>紫蘇　厚朴　陳皮　桔梗　甘草　半夏　香附　藿香　白芷　茯苓　菟絲子　人參　白芍當歸　川芎　大腹皮</p>
<p><u>【五皮飲】</u></p>
<p>桑皮　薑皮　大腹皮　茯苓皮　五加皮胎前水腫危殆歌：水腫傷肝唇定黑，背平傷肺脾臍凸。缺盆平也已傷心，足底平傷腎藏格。</p>
<p>妊娠遍身脫皮，因腫服藥，腫退去皮也。</p>
<p>妊娠兩足面腫至腿膝，行步艱難，喘悶妨食，似水腫，甚至指間水出者，名曰子腫，宜服天仙散。</p>
<p>如腳浮腫因脾衰不能制水，血化成水所致，宜生料平胃散加蘇葉、生薑、大棗。</p>
<p><u>【天仙散】</u></p>
<p>香附　木瓜　甘草　陳皮　烏藥　蘇葉木香　天仙藤</p>
<p><u>【生料平胃散】</u></p>
<p>生白朮　厚朴　甘草　陳皮妊娠心驚膽怯，終日煩悶，口乾，不得臥，名曰子煩。或肺虛熱乘心肝，或心肺停痰積飲，或氣鬱煩躁，或嘔吐痰涎，俱謂之子煩，宜安胎竹葉湯。如不效，以紫蘇飲或麥門冬散之類治之。或胎氣未安，似虛煩不得臥者，宜知母丸。</p>
<p><u>【安胎竹葉湯】</u></p>
<p>人參　茯苓　黃芩　麥冬　淡竹葉如有痰，加竹瀝。</p>
<p><u>【麥門冬散】</u></p>
<p>麥冬　防風　茯苓　生薑　人參　淡竹葉</p>
<p><u>【知母丸】</u></p>
<p>知母（一兩，焙）</p>
<p>為末，大棗肉搗和為丸如彈子大，人參湯送下。</p>
<p>妊娠子癇，氣有絕少，蓋氣調和則能安胎，萬一有此，名曰子癇，又名子冒，俗名兒風。此證雖不致於死，亦能墮胎，速服紫蘇飲，或消風散，或烏藥順氣散，並用香蘇散以理之。若忽然發搐，不省人事，後復發如角弓反張，狀若中風者，宜羚羊角散，或用當歸獨活湯入竹瀝，或用砂仁湯服之。</p>
<p><u>【消風散】</u></p>
<p>荊芥　川芎　甘草　陳皮　厚朴　防風　藿香　蟬殼　僵蠶　人參　茯苓　羌活</p>
<p><u>【烏藥順氣散】</u></p>
<p>烏藥　桔梗　橘紅　白芷　乾薑　麻黃　枳殼　甘草　僵蠶　生薑　川芎　大棗</p>
<p><u>【香蘇散】</u></p>
<p>香附　紫蘇　陳皮　甘草　生薑　青蔥</p>
<p><u>【羚羊角散】</u></p>
<p>羚羊角　防風　當歸　艾葉　川芎　米仁　茯神　杏仁　木香　甘草　獨活　五加皮棗仁　生薑</p>
<p><u>【當歸獨活湯】</u></p>
<p>當歸　川芎　甘草　桂枝　貝母　葛根　杜仲　防風　陳皮　人參　茯苓　藿香　獨活咳嗽多痰者，宜旋覆花東加芩、連，或二陳東加貝母、薑汁服之。</p>
<p><u>【旋覆花湯】</u></p>
<p>旋覆花　赤芍　荊芥　半夏曲　前胡　炙甘草　茯苓　杏仁（炒）　麻黃（各等分）</p>
<p>上　咀，每服四錢，水一盞半，生薑二片，大棗一枚，煎至七分，去渣，食前服。</p>
<p>有汗者，不宜服。</p>
<p>感風頭痛壯熱，宜芎蘇散。若惡風發熱有汗，宜杏子湯。</p>
<p><u>【芎蘇散】</u></p>
<p>川芎　紫蘇　枳殼　桔梗　葛根　前胡　甘草　橘紅　木香　茯苓　生薑</p>
<p><u>【杏子湯】</u></p>
<p>人參　茯苓　半夏　甘草　肉桂　細辛　白芍　五味子　杏仁若感寒頭痛，咳嗽痰多，宜服華蓋散。</p>
<p><u>【華蓋散】</u></p>
<p>麻黃（去節）　桑皮　茯苓　杏仁　蘇葉　陳皮　甘草若咳嗽而兼泄瀉者，以養胃湯治之。</p>
<p>若乾咳者，以紫個散倍加歸、苓治之。</p>
<p>妊娠傷寒者，仲景云治法用藥其避忌與常人不同。若頭痛，身熱，無汗，脈浮緊者，以四物東加麻黃、細辛；若過經不愈，溫毒發斑如錦紋者，以四物加升麻、防風、連翹、黃芩、柴胡。</p>
<p>如發斑而滿，非人參白虎湯不能治；若見斑而隱沒者，元氣不足也，宜加倍人參服之，則斑出矣。</p>
<p><u>【人參白虎湯】</u></p>
<p>人參　石膏　粳米　甘草　知母如外感重者，宜服十神湯，或五積散，輕者用養胃湯。</p>
<p><u>【十神湯】</u></p>
<p>香附　紫蘇　川芎　乾薑　赤芍　升麻　甘草　橘紅　麻黃　白芷孕婦傷寒，但濃煎蔥白湯，或加醋或加薑汁一滴，服之即愈。切不可輕與之表，蓋有胎者如服表藥，不惟墮胎，抑且母命難存，慎之慎之。</p>
<p>胎前瘟疫與傷寒同，如前用蔥白湯服之，蓋蔥白可以解邪，又可以安胎也。</p>
<p>胎前譫語，宜二四湯去熟地，加山楂、薄荷，水煎和薑汁灌之。</p>
<p>胎前中寒，與傷寒治法同。</p>
<p>胎前中暑，治法與無胎同。</p>
<p>妊娠或梳頭、沐浴當風取涼，風寒客於皮膚，致頭暈、目昏、頭痛、憎寒發熱、心胸煩悶者，此胎前之證，二命所系，不可妄投藥餌，蓋傷風、傷寒不同。若初感，宜用參蘇飲、芎術散、理中湯。</p>
<p><u>【參蘇飲】</u></p>
<p>人參　紫蘇　枳殼　桔梗　葛根　前胡胎前嗽有血者，宜服上清丸，或二陳湯作丸加黃柏、知母、山楂、白朮；如氣血俱虛者，用八物加黃柏、知母，或用雞蘇散。</p>
<p><u>【上清丸】</u></p>
<p>薄荷（一兩六錢）　百藥（煎八錢）　砂仁　桔梗　甘草　玄明粉　訶子　冰片　月石（各一錢）</p>
<p>蜜丸如黃豆大，含化一丸。</p>
<p><u>【雞蘇散】</u></p>
<p>生地　黃　貝母　阿膠　茅根　桔梗　麥冬　蒲黃　雞蘇（即薄荷）</p>
<p>胎前氣喘，乃胎不安也，或冒風，以連須蔥頭煎湯服之，自然愈矣。此物能通百竅，能發散，且安胎也。若傷觸而喘者，宜紫蘇飲加童便、砂仁。</p>
<p>胎前泄瀉，忌服理中、五個二方，因有乾薑、肉桂故也；宜服香連術苓散，此為胎前泄瀉之聖藥。</p>
<p><u>【香連術苓散】</u></p>
<p>木香　黃連　蒼朮　茯苓　厚朴　豬苓　澤瀉　陳皮　肉桂　艾葉　甘草凡胎前食瀉，宜服養胃湯、五苓散，加消食藥如山楂、神麯、麥芽、枳殼之類。</p>
<p>胎前寒瀉，用胃苓東加木香治之。</p>
<p>若胎前食生冷作瀉，宜服養胃湯。</p>
<p>胎前暑瀉，以胃苓東加香薷、扁豆，煎汁冷服。</p>
<p>若胎前血瀉，宜胃苓東加砂仁、木香、黃連；或紫蘇飲加澤瀉、神麯、砂仁；如飲食少進，胸膈飽悶，痰多者，去人參，加茯苓、製半夏、蓬莪朮。</p>
<p>若胎前腸胃虛冷，水穀不化，泄瀉日夜無度，狀如豆汁，或下淤者，宜胃苓湯。</p>
<p>臍下冷痛，滑瀉腸鳴，宜理中東加肉果、砂仁，或用治中湯。</p>
<p><u>【治中湯】</u></p>
<p>人參　白朮　乾薑　青皮　陳皮　甘草因暑煩渴，恣意引飲，下如瀉水，宜胃苓湯去桂。</p>
<p>傷濕腰腳冷痹，泄下黃黑，宜服金不換正氣散。如赤白相雜者，加黃連；若白痢，加烏梅煎服，不然，胃苓湯亦可。</p>
<p><u>【金不換正氣散】</u></p>
<p>藿香　厚朴　甘草　半夏　蒼朮　陳皮若胎前氣血虛陷瀉痢，宜補中益氣湯。</p>
<p>胎前痢疾，切不可用芍藥等湯，宜用胃苓湯。此藥多服，雖有食積，亦能自消，宜倍加白朮、半夏、山楂。</p>
<p>若胎前紅痢，以紫蘇飲加神麯、茯苓、白朮、澤瀉治之。身不熱者，加木香。此藥治紅白痢皆妙，然腹不痛者則可。</p>
<p>胎前痢疾，無分赤白，以養胃湯主之。始終以此方為主，胃苓湯亦可。如五個散服一、二劑亦無妨，蓋食生冷而痢者，非薑、桂不能除。</p>
<p>胎前赤白痢疾，宜服香連術苓湯。若赤多於白者，傷於血分，重也，宜連多於香；若白多於赤者，傷氣分，輕也，宜香多於連治之。此藥水火相濟，隨其虛實用之。</p>
<p>妊娠下利赤白，穀道腫痛，宜香連丸治之，無他劑也。</p>
<p><u>【香連丸】</u></p>
<p>木香（八錢）　黃連（一兩）　肉果（五錢）　蒼朮（一兩）　麥芽（五錢）　榴皮（四錢）</p>
<p>白芍　香附（各八錢）　厚朴　澤瀉　茯苓　陳皮　豬苓　青皮　萊菔子（各一兩）　神麯（一兩二錢）　山楂（二兩三錢）　甘草（五錢）　粟殼（七錢）　烏藥（八錢）　訶子（三錢）　白朮（二兩）</p>
<p>煉熟白蜜為丸。</p>
<p>妊娠臨產下痢，以梔子燒炭存性為末，溫湯送下即止。</p>
<p>妊娠挾熱，下痢純血，以黃連解毒湯治之。若下膿血不止，腹痛者，宜黃連阿膠丸治之；若純血如魚腦者，以正氣散加烏梅、陳皮；若赤白相雜者，亦以正氣散加黃連；若噤口者，以敗毒散加陳皮、砂仁治之。</p>
<p><u>【黃連阿膠丸】</u></p>
<p>黃連　黃芩　阿膠　雞子黃　白芍</p>
<p><u>【敗毒散】</u></p>
<p>人參　茯苓　枳殼　川芎　獨活　前胡　羌活　柴胡　桔梗　薄荷　生薑　甘草經曰：胎前痢疾，產後不治，謂因利下胎故也。脈必沉細則生，洪大則死。</p>
<p>凡胎前霍亂，治法與平人同。</p>
<p>若四時霍亂吐瀉，宜服藿香散。</p>
<p><u>【藿香散】</u></p>
<p>藿香　厚朴　山楂　橘紅　白芷　甘草　紫蘇　半夏　茯苓　桔梗　大腹皮　生薑　大棗轉筋入腹，悶絕，宜服木瓜東加蘇葉、藿香治之。然而有夏月之別，若夏月轉筋入腹，悶絕者，以黃連香薷飲，或竹茹飲，或五苓散，或縮脾飲，或人參白朮散，選而用之。</p>
<p><u>【木瓜湯】</u></p>
<p>木瓜　吳茱萸　紫蘇　茴香　鹽　生薑</p>
<p><u>【黃連香薷飲】</u></p>
<p>黃連　香薷　厚朴（薑汁炒）</p>
<p><u>【竹茹飲】</u></p>
<p>竹茹　人參　麥冬　茯苓　半夏　小麥　甘草　生薑　大棗</p>
<p><u>【縮脾飲】</u></p>
<p>草果　烏梅　甘草　生薑水煎冷服。</p>
<p>若霍亂腰痛，吐逆不止，宜白朮散。</p>
<p><u>【白朮散】</u></p>
<p>白朮　枳殼　益智仁　橘紅　良薑　生薑胎前瘧疾，宜養胃湯、草果飲、青皮飲。若停食感冷而發瘧者，宜驅邪散治之。</p>
<p><u>【草果飲】</u></p>
<p>草果　紫蘇　川芎　良薑　青皮　甘草</p>
<p><u>【青皮飲】</u></p>
<p>青皮　厚朴　白朮　草果　柴胡　茯苓　黃芩　半夏　生薑　大棗</p>
<p><u>【驅邪散】</u></p>
<p>白朮　草果　良薑　陳皮　藿香　茯苓　甘草凡胎前嘔吐不定，有寒，有食，有痰，有血：虛寒用理中湯，食用五積散，痰用旋覆花湯，血虛用八物湯。</p>
<p>胎前呃逆不已，此乃氣不順也，以紫蘇飲加蘇子、茯苓、半夏、薑汁治之。然亦有胎死腹中，冷氣侵蒸而作呃者，宜下其胎，則呃自愈矣。</p>
<p>胎前吞酸者，此乃火也，以四物加黃柏、知母之類，或旋覆花湯治之。</p>
<p>胎前停食感氣，安胎飲治之，虛則加炒砂仁，或紫蘇飲加神麯、山楂、木香治之；實則養胃東加砂仁、薑倍用之，或加味二陳湯，或平胃散、治中湯、正氣散，俱加蘇葉、木香。</p>
<p><u>【加味二陳湯】</u></p>
<p>半夏　陳皮　茯苓　甘草　山楂　砂仁　香附　木香　紫蘇　川芎妊娠小便澀少，遂成淋症，謂之子淋，宜服安榮散去滑石治之，臨月加梔子。然尤恐損胎，不可輕投。或用地膚子湯。若胎前小便頻數，亦曰子淋，宜服內補湯。</p>
<p><u>【安榮散】</u></p>
<p>人參　麥冬　通草　甘草　當歸　川芎　細辛　燈心　滑石</p>
<p><u>【地膚子湯】</u></p>
<p>地膚子　知母　黃芩　枳殼　赤茯苓　車前子　通草　升麻　甘草胎前大便閉者，宜用枳殼歸靈散。或大小便俱閉結，以四物東加黃芩、枳殼、木通、赤茯苓治之，或用大腹皮飲，或八正散。</p>
<p><u>【枳殼歸靈散】</u></p>
<p>枳殼　當歸　川芎　白芍　熟地</p>
<p><u>【大腹皮飲】</u></p>
<p>大腹皮　陳皮　甘草　桔梗　厚朴　紫蘇　半夏　香附　藿香　白芷　茯苓</p>
<p><u>【八正散】</u></p>
<p>車前子　滑石　梔子　蓄　瞿麥　木通　甘草梢　燈心或小便閉者，以四物東加木通、赤茯苓治之。</p>
<p>亦有傷者，血不能去，令尿梗痛，服童便木香酒，亦可治之，但過後即發，不若紫蘇飲加木通，略用梔子、童便。若非內傷發熱，加黃芩治之。</p>
<p>胎前尿血者，熱症也，以四物東加涼藥治之，或五苓散去桂，加阿膠、車前、茅根，或酒蒸黃連丸，或導赤散，或八正散。</p>
<p><u>【導赤散】</u></p>
<p>生地　茯苓　甘草梢　木通　黃芩胎前大便去血者，宜四物東加金墨汁服之，極妙。</p>
<p>若腸風臟毒者，用枳殼散、烏梅丸、敗毒散治之。</p>
<p><u>【枳殼散】</u></p>
<p>枳殼　甘草</p>
<p><u>【烏梅丸】</u></p>
<p>烏梅　訶子　乾薑　黃芩　黃連　白芍　神麯　香附　青皮　枳殼　厚朴　茯苓　阿膠滑石　地榆　當歸胎前漏尿不知出者，亦屬子淋，曰遺尿不禁，宜以桑螵蛸散治之。</p>
<p><u>【桑螵蛸散】</u></p>
<p>桑螵蛸（炙）　益智仁　雞毛灰為末，酒調下，或米飲調服。</p>
<p>胎前不語者，謂啞胎。若痰氣閉其心竅者，用二四湯倍加砂仁、蘇子、薑汁治之。亦有啞胎，不須服藥，產後自愈。蓋絡貫腎系，舌本包絡，怯故不能言。經曰九月喑，十月復矣。</p>
<p>胎前耳忽聾，目忽昏，或氣血不足，或露怒火動，皆能生此症也，以安胎飲加生血藥治之，以生血為主。或用十全大補湯，或補中益氣東加菖蒲連柏飲引治。</p>
<p>胎前手足麻木者，此乃血少也，宜養血安胎為上，以八物湯為主。</p>
<p>胎前鼻衄者，產後多不吉。蓋胎以血為養，豈可漏溢乎？不惟鼻衄，諸所見血同論，宜服紫蘇飲加黃芩（炒焦）。如吐衄，以必勝散治之。</p>
<p><u>【必勝散】</u></p>
<p>人參　當歸　熟地　川芎　小薊　蒲黃（炒）　烏梅肉上等份，為細末，水煎去滓，無時服。</p>
<p>胎前虛汗如雨，以麥煎散、當歸六黃湯主之。若中風出汗者，治法與傷寒同。</p>
<p><u>【麥煎散】</u></p>
<p>茯苓　地骨皮　柴胡　牡蠣　白芍　甘草　白朮　麻黃根　黃　麥冬</p>
<p><u>【當歸六黃湯】</u></p>
<p>當歸　生地　熟地　黃連　黃芩　黃　黃柏胎前口中咯血者，以扁豆散治之。</p>
<p><u>【扁豆散】</u></p>
<p>白扁豆　生薑　白朮　半夏　人參　枇杷葉妊娠鬼胎者，其脈乍有乍無，乍大乍小，浮沉不一也，雖有形而不動也，如抱瓮之狀，按之冰冷，此即邪氣也，宜用補虛活血之藥以治之。若果系是胎而不長養，以黃芩散調之。</p>
<p><u>【黃芩散】</u></p>
<p>黃芩　川芎　甘草　人參　黃　白朮　陳皮　麥冬　茯苓　前胡　生薑　大棗妊娠兒在腹中叫哭，不須服藥，產當愈也，或用黃連濃煎湯常服之。</p>
<p>凡妊娠數墮胎者，乃血氣不足也。若腰腹痛甚而墮胎者，以四製香附丸與安胎飲治之。若赤白帶淋者，香附丸加艾葉四兩。</p>
<p><u>【四製香附丸】</u></p>
<p>香附（酒　醋　童便　薑汁四制）　當歸　川芎　知母　紅花　吳茱萸　木香為末，醋和丸，每服三十丸。</p>
<p>婦人有胎即墮，其脈左大無力，重取則澀，乃血少也，濃煎白朮湯調黃芩服之，或服固胎飲入糯米煎服。若血虛者，加阿膠；胎氣者，加砂仁，或加艾葉可也。</p>
<p><u>【固胎飲】</u></p>
<p>熟地　川芎　白朮　茯苓　當歸　白芍　甘草　黃柏　黃連懷胎月數未足，而腹痛胎動不安，如欲產者，宜杜仲丸、芎　補中東加知母，酒調送下。</p>
<p><u>【杜仲丸】</u></p>
<p>杜仲（薑汁炒）　川續斷為末，棗肉搗丸，如桐子大，每服三十丸，米飲送下。</p>
<p>若血氣虛弱，不盈月數而胎墮者，名曰半產，宜用芎　補中湯治之，乃以養新去舊、扶危補虛之劑以調治之。</p>
<p>半產除跌仆損傷外，前次或三、四月墮，後期必應，此乃其乘虛也，須養其血氣，固其胎元，以八物東加膠、艾、黃芩之類治之。俗以黃芩乃為冷物寒涼之味，不敢用，不知胎孕宜清熱養血，使血循經絡而不妄行，然後胎能安也。</p>
<p>妊娠腹痛，與之安胎飲不效，與之消食通氣亦不應，但腹近下處，腫脹浮滿發光者，此曰孕癰，宜服補劑，用十補托裡散，其次則千金托裡散，皆可服。如未潰者，宜服十補托裡散，已潰者加黃　。蓋黃排膿，泄之則愈矣，或用烏梅、牛皮膠煎亦可。</p>
<p><u>【十補托裡散】</u></p>
<p>人參　黃　當歸　川芎　肉桂　厚朴　白芷　防風　甘草　桔梗胎不動，下墮，腹冷如冰，以佛手散治之。</p>
<p>妊娠因病熱熏蒸，以致兒死腹中不出，但服黑神散暖之，其胎自下。欲驗胎之死生者，看其母舌，青色者，其胎是死。或五積散去苓、麻，加木香、杏仁治之，或用香桂散加艾、杏服之，須臾則下也。</p>
<p><u>【黑神散】</u></p>
<p>黑豆　當歸　白芍　肉桂　乾薑　蒲黃　熟地酒煎，入童便服。</p>
<p>驗胎死宜去症，視其母舌色指甲青黑者，腹悶，口中作尿臭，此胎死矣，宜以胃苓東加朴硝三錢，酒、水煎服，其胎化水而下。若生胎用此法，不惟不效，反傷母命，慎之慎之！妊娠忽然心腹刺痛，悶絕欲死者，名曰中惡，此乃邪惡毒瓦斯沖胎傷人也，宜服當歸散。</p>
<p><u>【當歸散】</u></p>
<p>當歸　川芎　丁香　青皮　吳茱萸懷孕，苦於難產。若氣實者，宜耗其氣，以瘦胎飲服之。如氣弱者，以紫蘇飲去苓加朮治之，即達生散也。</p>
<p><u>【瘦胎飲】</u></p>
<p>治難產五六日不下者，及婦人交骨不開者，服此藥約行裡許立效。</p>
<p>川芎　當歸（各一兩）　敗龜版（一個，酥炙）　多生婦人發（一握，燒存性）</p>
<p>每服三錢，水煎服。</p>
<p>妊娠臨月欲瘦胎易生，世多用枳殼散。此方本能瘦胎易生者，然胎肥實則可，否則僨事，不若救生散之妙，且能安胎，又能益氣。或以紫蘇飲加枳殼、香附治之亦通。</p>
<p><u>【救生散】</u></p>
<p>人參　訶子　白朮　神麯　麥芽　陳皮上等份為末，每服三錢。</p>
<p>妊娠未產而乳汁先下者，名曰兒泣，生子多不育。</p>
<p>妊娠煩躁悶亂，口乾臟熱，宜知母散。</p>
<p><u>【知母散】</u></p>
<p>黃芩　黃　麥冬　甘草　知母　赤苓入桑皮煎，再入竹茹煎服。</p>
<p>妊娠未產而胎水先下者，應以無憂散治之。</p>
<p><u>【無憂散】</u></p>
<p>艾葉　當歸　川芎　乳香　枳殼　亂髮　白芍水煎服。</p>
<p>妊娠轉胞不得小便，由中氣虛怯不能舉胎，胎壓其胞，胞系了戾，小便不通，以補中益氣加升舉之藥，令下竅通則愈。</p>
<p>妊娠轉胞不得小便，症不同論，有稟受弱者，有憂悶多者，有性躁急者，有食濃味者，有過忍小便者，皆用利藥，便可解得。因思胞不自轉，為胎所壓，轉在一邊，胞系了戾不通，立則尿，下蹲則不能；胎若舉起於中，胞系自疏，水道自利，故此胎逼小便不通，名曰轉胞。若尿出不止者，名曰漏胎，治各有方。若不得溺而腹脹者，名曰轉胞，宜八味丸治之，或丹溪參朮飲；服過，以指探之，吐出藥汁，少頃氣定，又與之亦然。立則尿，蹲則不能者，宜五苓散治之。過忍小便至久不通者，以滑石末，蔥湯調服，或紫蘇葉、蔥白、良薑煎湯熏洗前陰亦可。</p>
<p>妊娠無故悲泣不止，象若神靈，謂之臟躁悲傷，宜用竹茹湯、甘麥大棗湯，或以紅棗燒炭存性，米飲下。</p>
<p><u>【竹茹湯】</u></p>
<p>竹茹　人參　麥冬　半夏　茯苓　甘草　生薑</p>
<p><u>【甘麥大棗湯】</u></p>
<p>甘草　小麥　大棗安胎與固胎不同：血虛欲墮而補之者，謂之固胎；氣不和而順之者，謂之安胎。安胎以順氣涼血為主，固胎以生血補氣為主。</p>
<p>妊娠經水雖不多，或一月一至者，名曰漏胎。有氣虛者，有血虛者，有熱者，有風者，有因血盛者，有因多氣而動血者，又有因事而下血者，非至一端。</p>
<p>若氣血虛者，以膠艾四物東加烏梅，或四物東加參、朮、升麻。</p>
<p>若虛而挾熱者，以紫蘇飲加黃芩、白朮、阿膠、砂仁治之。</p>
<p>若因事而下血者，以佛手散加枳殼、黃芩、白朮。</p>
<p>若因氣而動血者，因血盛而自至者，不須服藥，而胎亦無恙。</p>
<h3>臨蓐</h3>
<p>妊娠至臨月，當安神定慮，時常步履，不可多睡、飽食、過飲、酒醴、雜藥。欲產時，不可多人喧鬧愴惶。若見漿水，腰間痛甚，是胎已離經，方可用藥催生、坐草。不可早服催生藥、早坐草。</p>
<p>臨蓐切忌飲酒。酒性多熱，口鼻出血，多致不救，急與二四東加行血藥、入童便治之。</p>
<p>凡兒在腹，男負陽背陰，女負陰背陽，首上足下，臨產側轉順出。其有橫生逆產之患者，因產母忍痛，曲腰眠臥，不肯舒伸行動，倒運不轉故也。坐草不宜太早，須再扶行運動，方免禍患。徒及氣血不足，則誤矣！若產頓遲難者，此方可歸罪於氣血也。</p>
<p>臨產切戒驚嚇，致產婦恐怖氣怯，上閉下脹，氣乃不行，不候時至，妄亂用力，逼兒錯路，以取前禍。譬如登廁，時候未至，用力何益。急用紫蘇飲以寬氣。</p>
<p>臨產腹痛，而不甚痛者，產未至也，切勿使穩婆探候。雖臍腹痛，猶當熟忍，扶挾而行，憑物而立，須候腰腹痛極不已，穀道如挺並，目中火生，胞水已破，尺脈切如繩珠之狀，便當順產。若有橫逆倒生，皆由先期動手，風入產戶，以致腫脹，門戶狹小干澀故也。臍帶系於命門，兒將育時，兩手動蕩，使帶脫落，然後得出，安得不痛乎？諺曰「瓜熟蒂落，栗熟自出」，此喻最善。若夏時之盛暑，宜深屋宇，多貯清水，預防血暈不省之患。若值盛寒，多宜閉戶，生火向暖，下部宜濃衣覆裹，庶免貽寒血結之患矣。</p>
<p>凡臨月忽然腹痛，或作或止，或三四日，或數日，胎水下而痛不急者，名曰弄胎，非產也，不必藥治。</p>
<p>妊娠臨產，胞水未破而血先下，此是傷胎。腹不痛者，八物湯與安胎飲治之。若胞水已破，此是欲產，宜服紫蘇飲，以生其氣血也。</p>
<p>妊娠，或足月，忽然腹痛，似欲生產，卻又無事，名曰試產，非產也。不問胎水來與不來，但寬心等候時至，服紫蘇飲加枳殼理之。</p>
<p>臨蓐胎水放盡而胎不下，以無憂散加紫蘇服之。或胎肥氣逆，母瘦血少，亦宜用此方。</p>
<p>凡婦有十產之症，子母須臾者為生，收生不可不慎也。月滿、腰痛、穀道挺並、漿破、血下，用藥攻催，謂之催生。</p>
<p>嚴寒天氣，血凝產道，兒不能生，謂之凍產；盛暑時月，熱氣逼蒸，昏暈如醉，而不能生者，謂之熱產；月份不足謂之半產；有胎即墮，謂之小產；坐草太早，努力過多，兒身倒運不轉，先露足者，謂之逆產；先露手者，謂之橫產；兒頭或注一邊者，謂之偏產；若臍帶絆住兒肩，謂之凝產；倘子腸先出，名盤腸產；或腹痛時作時止，漿水淋漓，名曰試產；臨產坐著一物，抵住兒頭，不能生動，謂之坐產。此皆不明生育之理，臨產倉皇，致有此等，保產者能不預為講明乎？偷生與村姑等婦，無難產者，有妊時運動不惜，臨產又不能不忍故也。</p>
<p>《金匱要略》曰：新產婦人有三病：一者病痙，二者病鬱冒，三者大便難。皆因氣血虛耗，內亡津液，腸胃干涸，故有此症。其脈微弱，嘔不能食，大便堅，頭汗出。如此者，血虛而厥上，故冒；冒欲解，故大汗出；以血虛下厥，孤陽上出，故頭汗出。所以產婦喜汗出者，亡陰，血虛陽盛，故當汗出；陽盛陰虛，所以大便堅，嘔而不能食也。</p>
<p>難產者，以白芷散治之。甚者，不過再服。</p>
<p><u>【白芷散】</u></p>
<p>百草霜　白芷為末，用童便、酒煎，熱服。</p>
<p>凡交骨不開，產門不閉，子宮不收三證，皆由元氣素弱，胎前失於調理，致血氣不能運耳。然交骨不開者，陰血虛也，佛手散加龜版；產門不閉者，氣血虛也，十全大補東加五味子收之；子宮不收者，補中益氣加醋炒白芍、五味子。</p>
<p>如初產，腫脹，痛而不閉者，補中東加半夏、茯苓以健脾，使元氣復而諸疾自愈，切忌寒涼之劑。</p>
<p>又曰，交骨不開者，陰氣虛也。龜為至陰，則交錯相解，故用之。</p>
<h2>卷之四</h2>
<h3>產後</h3>
<p>凡新產婦人，氣血大損，諸事必須保重，切不可恃健勞碌，致內傷外感，六淫七情諸症，為患莫測。故產後症，先以大補氣血為主，雖有他症，以末治之。或欲去邪，必兼補劑為當，不宜專用峻厲，再損血氣也。</p>
<p>或問產後症，丹溪云：當大補氣血為主，雖有雜症，以末治之。又云：產後中風，切不可作中風治，用風藥。然則產後不問諸症，悉宜大補氣血乎？曰：詳主末二字，其義自明。虛而無他症者，合宜大補氣血自愈；或陰虛而感冒風寒者，補氣血藥帶驅風之劑；或因脾虛而食傷太陰者，補氣血加消導之劑；或因淤血，惡露未盡而惡寒發熱者，必先逐其淤血，然後大補。經曰：有本而標之者，有標而本之者。又曰：急則治標，緩則治本。丹溪之主末二字，即標本之意也。</p>
<p>新產婦脈訣歌：新產之脈緩滑寧，實大弦急死來侵；俱要沉重小者吉，忽然堅牢命不停；寸口澀疾不調死，沉細附骨不絕生；審看此疾分明記，方知醫者有神靈。</p>
<p>大凡新產之後，血氣衰弱，脈必沉細緩滑為正，實大弦牢堅急不調為反。正則吉，反則凶。</p>
<p>產後切勿側臥，免致敗血流經。若流至膝，輕則無妨，重則生癰，其症難愈，豈可不慎也哉！才生產時，切戒飲酒，臟腑皆虛，不勝酒力，多致眩暈，宜用黑豆炒出煙，同羌活入酒煎飲之，避風邪、養氣血、下惡露、行乳脈也。</p>
<p>產婦胞衣不下，惡露不盡，攻衝心腹刺痛，或血暈神昏，眼黑，口噤，宜服黑神散。若臨產難生，及胞衣不下，血暈不省人事者，敗血衝攻，心腹刺痛，語言狂妄，困頓垂死，宜用琥珀黑龍丹。若敗血攻心迷暈，或胞衣不下，胎死腹中，垂危者，但心頭暖，急以童便調花蕊石散服之，不能服者灌之。若胞衣不下，寒熱腹痛，以五個散去茯苓、麻、桔主之。</p>
<p><u>【花蕊石散】</u></p>
<p>花蕊石（一斤，　透，輕者為上）　硫黃（四兩）</p>
<p>上二味拌勻，入瓦罐內，將泥固口，候干、放磚上，以炭火　經宿，候冷取出，為末，童便調服。</p>
<p>因墮胎，胞衣不出，及胎死腹中，宜牛膝散，或大黃醋熬成膏，為丸，醋湯下。</p>
<p>凡胞衣不下，稍久困倦，敗血流入胞中，因血脹滿，衝心喘急，疼痛危篤，先用物系住臍帶，然後斷之。否則胞上掩心，危在頃刻。須令產母口銜發尾，得嘔噦，即時下矣。或單將蓖麻子搗爛，塗腳底，若胞下，隨即洗去，如遲，恐傷母，腸亦下，慎之！如胞無沖掩等患，雖延數日，亦不害人，止要產婦安心，終自下也。</p>
<p>產後中風、中氣，口噤，湯藥不能下者，用舊油篦箕，燒存性，為末，擦其牙根即開，應驗，然後主意用藥。</p>
<p>婦人分娩，昏冒瞑目，因陰血暴亡，心神無所養。心與包絡，君火相火也，得血則安，亡血則危矣。火上熾，故令人昏冒，火乘肺，令人瞑目不省人事，是陰血暴亡，不能鎮撫也。經云：病氣不足，宜補不宜瀉。瞑目合眼，病悉屬陰。暴去有形之血，則火上熾，但補其血，則神自安，心得血則能養而神不昏迷矣。</p>
<p>產後滿急，神昏口噤，不省人事，宜破血行血，以黑神散、四烏湯、琥珀黑龍丹、花蕊石散擇而用之。</p>
<p>產後用心、使力過多，虛暈，宜補氣血之藥，加香附、薑、棗煎服即愈。</p>
<p>產後子腸不收，急用枳殼煎湯服，即收。若素多風疾，因產乘虛作暈，以四烏東加羌活、防風。</p>
<p>產後下血過多，虛暈，神昏煩亂，當補其血，服清魂散。</p>
<p><u>【清魂散】</u></p>
<p>人參　澤蘭　荊芥　川芎（各一錢）　甘草（五分）</p>
<p>產後眩暈，卒然間難辨其虛實，但以勿問散治之，如飽悶，加陳皮、蘇子。</p>
<p><u>【勿問散】</u></p>
<p>川芎　荊芥　歸尾　延胡索　丹皮　澤蘭　山楂　貝母煎好，沖入童便服。</p>
<p>若血暈昏迷不省，衝心悶絕，此宜行血醒血理之，以荊芥散，或鹿角散，或五靈四物湯主之。</p>
<p><u>【鹿角散】</u></p>
<p>鹿角四兩燒炭存性為末，童便、酒調下。</p>
<p><u>【五靈四物湯】</u></p>
<p>五靈脂（半生半炒）　地黃　當歸　白芍　川芎產後血暈，因氣暴虛，痰火泛上作暈，以二陳東加貝母、竹瀝、薑汁、童便。凡導痰，隨氣血加減，氣虛加氣藥，血虛加血藥，或以十全大補東加橘紅、黃芩、黃連。</p>
<p>產後血虛，上攻心腹，刺痛悶亂，宜延胡散加烏、附，或用琥珀散治之。</p>
<p><u>【延胡散】</u></p>
<p>延胡索　當歸　川芎　赤芍　艾葉　枳殼　桃仁　橘紅　熟地　肉桂　生薑</p>
<p><u>【琥珀散】</u></p>
<p>琥珀　蒲黃　赤芍　當歸　延胡索香附　丹皮　沒藥　木香　蓬朮　肉桂　烏藥產後敗血衝心，或歌舞，或罵詈，或笑怒，或逾垣咬打，神名佛號，無一不知，似有鬼祟之狀，此病五死五生，宜龍齒清魂散治之。</p>
<p><u>【龍齒清魂散】</u></p>
<p>龍齒　遠志　肉桂　人參　當歸　茯神　麥冬　細辛　延胡索　甘草　黃金　紋銀　生薑　大棗煎汁，調麝香服之。或將金、銀、薑、棗先煎百余滾，調入在內，前藥煎好，取汁一並服之。</p>
<p>產後敗血衝心、衝胃，此是危症。沖胃則飽悶嘔逆，衝心者，則癲狂錯亂，速急用藥，多主不效，不可不知。</p>
<p>產後口中暴溢血者，名曰暴血衝心，宜延胡散治之。若經惡露已盡日久，而嘔嗽出血者，治法與常同。</p>
<p>新產禁用芍藥，因酸寒能伐生發之氣。若腹痛，非芍藥不能止，以酒炒用則不妨。若以醋炒，猶能治兒枕塊痛，酸以收之之意也。如補虛時，黃　可代。</p>
<p>產後敗血腹痛寒熱，名曰兒枕痛也。若無塊，輕，以四烏湯治之；若有塊，重，則以醋個散治之，須量人虛實而用，大抵產後禁用棱、朮二味，必元氣實者方可用之；若瘦弱者，只可服四烏湯；若不咳嗽，加肉桂些須亦可，以行血。倘飲食不進，而四烏湯不濟事，乃用醋個散治之，然亦不宜多服。</p>
<p><u>【醋個散】</u></p>
<p>三棱　蓬朮　肉桂　香附　烏藥　甘草　赤芍醋煎服。</p>
<p>若兒枕塊凝滯，小腹刺痛，宜琥珀黑龍丹，或三聖散，或延胡散，或桃仁承氣湯，三聖散加青皮、山楂、五靈脂、蒲黃治之亦可。</p>
<p><u>【三聖散】</u></p>
<p>肉桂　當歸　延胡索</p>
<p><u>【桃仁承氣湯】</u></p>
<p>桃仁　當歸　赤芍　甘草　蒲黃　川芎　肉桂產後惡露不行，小腹刺痛，甚至發熱者，用四烏湯。因怒氣相搏，刺痛者，枳殼散合五積散，加醋、童便服。</p>
<p><u>【枳殼散合五積散】</u></p>
<p>枳殼　甘草　陳皮　川芎　乾薑　肉桂　白芷　茯苓　麻黃　桔梗　半夏　厚朴　藿香　生薑腹臍間急痛不止，因淤血未盡行也，宜歸須散、佛手散，加肉桂、丹皮、延胡索、蒲黃、烏藥、香附，童便煎，治之。若惡露不行，腹痛，兼冒風勞碌、寒熱者，此症以三元散治之則愈矣。</p>
<p><u>【三元散】</u></p>
<p>人參　熟地　半夏　川芎　當歸　白芍　黃芩　柴胡　茯苓　生薑　大棗產後月余，因怒氣，惡露不止，如有塊淡紅色似米粒者，以九仙散治之。</p>
<p><u>【九仙散】</u></p>
<p>當歸　川芎　芍藥　甘草　丹皮　青皮　蒲黃　黃芩　香附將青皮、黃芩、蒲黃，炒黑為末，同煎服。</p>
<p>產後惡露不快，小腹急痛有塊者，及發熱頭暈，宜用五積散，加醋（少許），童便服之。</p>
<p>產後二月余，惡露不止，腹痛，宜服加艾湯。</p>
<p><u>【加艾湯】</u></p>
<p>熟地　艾葉　阿膠　白芍　當歸　川芎　香附　青皮　地榆　蒲黃　甘草產後小腹刺痛不止，以四烏東加桂心、童便，酒煎。或佛手散加蒲黃、延胡索、肉桂、童便、酒煎；若小腹攻痛，蒲黃必用；若腹痛，以平胃散去甘草治之。</p>
<p><u>【平胃散】</u></p>
<p>蒼朮　厚朴　陳皮　甘草如胎前原有陰火證，至產後、去血過多，必大發熱、煩躁、汗出等症，若以前法大補氣血，其症必甚，當用逍遙散以清肝火、養肝血，因去血既多，肝虛血燥之故，不可泥於氣血虛之論也。</p>
<p>產後乍寒乍熱有二：有陰陽不和，有敗血不散，寒熱相似，虛實不同。但小腹不痛者，是陰陽不和也，宜用芎歸散治之，不可作瘧治，又當量其虛實，加減四物治之。若小腹刺痛者，是敗血不散，宜五積散去麻黃，加香附。</p>
<p>產後二三日，覺壯熱頭痛，胸膈刺痛，不可作傷寒治，此乃乳脈將行，宜服玉露散。</p>
<p><u>【玉露散】</u></p>
<p>人參　茯苓　甘草　當歸　白芷　桔梗　川芎　白芍產後去血過多，陰虛內熱，頭痛，晡時尤甚，與大病後虛煩相似，宜服人參當歸散。若小腹甚痛，手足麻木，及遍身麻、暈，為痰與血虛也，宜二四東加香附治之。蓋血虛證亦能作小腹痛，但重按之痛若緩者，是血虛也。</p>
<p><u>【人參當歸散】</u></p>
<p>人參　當歸　丁香　青皮　吳茱萸果系去血過多，腰腹空痛者，宜用補劑，以止為愈，在於隨證用藥可也。</p>
<p>產後譫語者，須問其去血多少。產婦雖不能言，然旁觀可知去血多少，宜用治血藥清魂散、延胡散，或用四物加易湯亦可。</p>
<p><u>【四物加易湯】</u></p>
<p>熟地　當歸　白芍　川芎　半夏　陳皮　茯苓　甘草　山楂肉　桃仁　薄荷　生薑產後去血過多，發譫語者，論曰：心主乎血，因產耗血過多，心神失守，故發譫語。雖宜大補氣血，又不可太峻，必知真正十分虛極，則可補，又必先用活血藥，禁用行血藥也。若出汗者，宜養榮、麥煎散，臨時酌而用之。</p>
<p>產後狂言譫語，如見鬼神者，其原不一。有因驚風，語言顛倒，心神恍惚不定者，宜用琥珀丸。</p>
<p>有因心虛驚悸，言語錯亂，不知人事，目瞪不能叫呼，宜用龍齒清魂散。</p>
<p>有因敗血攻心，狂言顛語錯亂者，宜用延胡散。</p>
<p>有因風寒，致令惡露不行，憎寒發熱，儼如瘧狀，晝則明，夜則昏者，此乃熱入血室，宜用琥珀地黃丸，或小柴胡湯，或四物東加柴胡亦可。</p>
<p><u>【琥珀地黃丸】</u></p>
<p>琥珀（另研）　延胡索（炒）　當歸（各二兩）　蒲黃（炒，四兩）　生地（二兩，取汁留渣）　生薑（二兩，取汁留渣）</p>
<p>用薑汁炒地黃渣，地黃汁炒薑渣，互炒汁乾為度，共為末，蜜和丸，如彈子大，當歸湯送下一丸。</p>
<p>若產後譫語，熱盛，脈大而有力者，難治，此症不與之藥為妥也。如脈沉細滑小者，尚可圖治。</p>
<p>若產後去血過多，因虛而發譫語者，宜以二四湯去地黃，略加山楂、薑汁治之。不可專以痰斷，亦不可為血迷心竅也。</p>
<p>產後心虛，怔忡不定，言語錯亂者，宜茯神散。</p>
<p><u>【茯神散】</u></p>
<p>人參　甘草　山藥　當歸　茯神　肉桂　遠志　麥冬產後不語者，此乃敗血迷心竅，心氣不通，氣塞於心，舌強不語，不必恐疑，但服七珍散，彌月愈矣。若發狂者，加辰砂治之。</p>
<p><u>【七珍散】</u></p>
<p>人參　石菖蒲　生地　川芎　防風　甘草　細辛加辰砂，即名八珍散。</p>
<p>產後冒風不語者，以小續命加薑汁治之，若痰閉心竅不語者，以二四東加竹瀝、薑汁治之。若舌強不語，眼花發狂，及胞衣不下，心腹脹滿者，宜琥珀地黃丸。</p>
<p><u>【小續命湯】</u></p>
<p>桂枝　人參　附子　生薑　川芎　甘草　黃芩　麻黃　杏仁　白芍　防風　大棗產後乍見鬼神，言語顛倒，因產暴虛，敗血挾邪氣攻心。醫者誤為風邪，謬矣。以調經散加龍腦服之，則安矣，或用琥珀地黃丸亦可。</p>
<p><u>【調經散】</u></p>
<p>麝香（五分）　沒藥（一錢）　肉桂（一錢）　白芍（二錢五分）　琥珀（一錢）</p>
<p>上為末，每服五分，生薑汁、溫酒各少許調服。</p>
<p>產後發熱自汗，日久不止，名曰蓐勞，宜服逍遙散。</p>
<p>若蓐勞因虛發熱自汗不止，或遇風邪復發，宜黃　東加麻黃根、浮小麥治之。</p>
<p><u>【黃　湯】</u></p>
<p>黃　白朮　防風　熟地　牡蠣　茯苓　麥冬　甘草　大棗　浮小麥　竹葉小產後蓐勞，有汗以增減柴胡湯治之，若半身出汗，又宜二四湯。</p>
<p><u>【增減柴胡湯】</u></p>
<p>柴胡　人參　白芍　川芎　半夏　甘草　陳皮　生薑　大棗產後盜汗如雨，服多煎劑，血虛生熱自汗，不可太補，兼以調理為主，宜服逍遙散；若喜食而痛甚者，非養榮湯不能治。蓋補中益氣湯因有升麻、柴胡，不能斂汗，不若逍遙散，又能止汗、治血虛。如氣虛、血虛兼者，必用八物湯、養榮湯並治。</p>
<p>產後不能輕發汗，如已有汗，不可再發汗也。若虛汗兩手拭不干者，不可治也。</p>
<p>產後中風，醫血為要，不可先治風，敗血得行則止也，宜清心牛黃丸。不語者，乃風觸陰戶也，以小續命湯治之。若手足癱瘓者，敗血入經絡也，宜五積散，或二四東加桔梗，活血入薑汁治之。若譫語，以二四加消食、活血之藥，入薄荷、薑汁少許治之。產後中風，不過痰、氣、血虛也，故二四湯不可缺，若眼合而痰喘者，尤宜服之。</p>
<p>小產後，因受氣忽跌，惡露未盡，迷悶不語，人事不知者，以二四東加紅花、山楂、薑汁治之。</p>
<p>產後惡露未盡，而中風口噤、角弓反張者，以荊芥散加豆淋酒、童便治之，口噤者吹鼻中尤妙。</p>
<p>產後中風口噤，角弓反張，以小續命湯或交加散治之，加竹瀝。若中風口噤，四肢頑痹不仁，角弓反張者，宜羌活酒服之，汗出則愈也。</p>
<p><u>【交加散】</u></p>
<p>生地（五兩，取汁留渣）　生薑（五兩，取汁留渣）</p>
<p>互相浸一宿，次日各炒干為細末，加竹瀝酒調服。</p>
<p>又方加當歸、地黃。</p>
<p><u>【羌活酒】</u></p>
<p>羌活　防風　黑豆（一升，炒黑令煙盡）</p>
<p>入好酒，納於瓶中，重湯煮半日，候冷開飲。</p>
<p>產後剛、柔二痙，以五積加麝香煎服。蓋痙者，口噤不開，背強，面如癇狀，搖頭馬鳴，身反折，氣息如絕者是也。</p>
<p>產後半身不遂，言語蹇澀，恍惚不定，以天麻散治之。</p>
<p><u>【天麻散】</u></p>
<p>天麻　朱砂（水飛）　防風　羌活（各一兩）　僵蠶（炒，七錢半）　干蠍（炒）　白附子（炮）</p>
<p>五靈脂（炒，各半兩）　雄雀糞（炒）　牛黃（另研，各二錢半）</p>
<p>上為細末，糯米飯為丸，如桐子大，每服二三十丸，薄荷酒送下，日進二服。</p>
<p>產後惡露不淨，半身肉戰，半身出汗，用二四東加桃仁、紅花、山楂、薑汁治之。</p>
<p>產後麻木，血少也，宜生血補虛為主，以八物湯治之。</p>
<p>產後中風惡候歌（與男子同看）：中風惡候要君知，眼合肝亡手撒脾，心絕口開肺鼻鼾，腎家將絕定尿遺。</p>
<p>凡初產傷寒，切不可用小柴胡，因有黃芩，容易停血，恐傷人也，宜參蘇飲為佳。</p>
<p><u>【參蘇飲】</u></p>
<p>人參　紫蘇　枳殼　桔梗　葛根　前胡　甘草　橘紅　半夏　茯苓　木香　生薑產後中寒，以理中湯治之，如惡露未盡，去參；宜用五個散，此方不論吐泄有無，皆可服也。</p>
<p>產後傷寒脈象論訣：產後傷寒熱病臨，脈細四肢暖者生，脈大忽然肢逆冷，便是神仙醫不醒。</p>
<p>蓋熱病之脈，固當洪大，但產後血氣俱虛，亦所不宜，勿以陽病見陰脈論也。</p>
<p>產後內傷與暑病者，與常人同治，故不書湯藥也。</p>
<p>產後惡露未盡，而兼傷風咳嗽、腹痛者，必行血理氣為先，輕則以四烏湯，川芎為君，重則以二四湯；如不解，以五個散加行血之劑治之；如兼瀉者，亦以五個散治之，但薑、桂少用為上。若惡露既盡，小腹不痛，而傷風頭疼者，不拘咳嗽痰有無，無汗者，旋覆花湯治之；不咳嗽而重感者，芎蘇散治之；虛汗出者，參蘇飲；內傷而瀉者，但以五個散治之，不必用行血之藥也。</p>
<p>產後勞碌，感冒，頭痛寒熱者，宜服三元散。</p>
<p>產後重感傷風，骨節皮膚皆痛，未汗，宜服敗毒散治之；若虛者，只可服五個散；若惡露淨後，兼痰飲，十分虛者，宜用參蘇飲治之。若產後虛甚而著風，不可專與之發散，必須逍遙散治之，其效雖遲，漸解無失也。</p>
<p>產後蓐勞，寒熱頭疼者，宜增減柴胡湯治之。</p>
<p>產後傷風，寒熱者，以五積散治之。</p>
<p>產後傷風，寒熱，咳嗽，喘急，痰涎壅盛者，以旋覆花湯，見汗則止，有汗勿服。</p>
<p>產後血虛寒熱者，治之以逍遙散。</p>
<p>若寒熱往來者，宜小柴胡湯主之。</p>
<p>若久坐、多語、勞力，頭目四肢寒痛，寒熱如瘧，名曰蓐勞，以茯苓散治之。</p>
<p><u>【茯苓散】</u></p>
<p>茯苓　當歸　川芎　白芍　人參　熟地　黃　肉桂用豬腰子一只（去膜），生薑二片，大棗二枚，水二鐘，煎湯代水煎前藥。</p>
<p>產後冒寒，頭痛發熱，足冷者，以芎蘇散，或五積散亦可。</p>
<p>產後偏正頭痛，宜川芎茶調散治之；又不若敗毒散之尤勝，合五積散，原治敗血流經之劑耳。</p>
<p><u>【川芎茶調散】</u></p>
<p>川芎　荊芥　白芷　甘草　羌活　防風　薄荷　細辛等份為細末，用茶煎濃調服。</p>
<p>一方加香附。</p>
<p>產後大發熱者，必用炮薑治之，何也？此熱非有餘之邪，乃陰虛生熱也，故乾薑炮用之。其入肺則利氣，入肝則生血，其妙在此也。</p>
<p>產後大失血，陰血暴亡，必大發熱，名曰陰虛發熱。此陰字，正謂氣血之陰，若以涼藥正治必斃。</p>
<p>正所謂症象白虎，誤服白虎必死。此時偏不用四物湯何也？有形之物，不能速化幾希之氣，急用獨參湯，或當歸補血湯，無形生出有形來，陽生陰長之妙，不可不知也。</p>
<p><u>【當歸補血湯】</u></p>
<p>黃　（炙，一兩）　當歸（酒洗，二錢）</p>
<p>空腹服。</p>
<p>產後日晡發熱轉甚，非柴胡不能治，以八物東加柴胡，或四物湯合小柴胡湯治之亦可。</p>
<p>產後咳嗽痰盛者，宜旋覆花湯治之；如血未盡，則先治血，後發散可也；或二四東加消食藥為善。</p>
<p>痰火怔忡嘈雜，宜茯苓半夏湯。</p>
<p><u>【茯苓半夏湯】</u></p>
<p>茯苓　半夏　黃連　黃芩　熟地　當歸　川芎　香附　杏仁　栝蔞　竹瀝產後食鹽太早而咳嗽者，此症難治，不輕與藥。</p>
<p>產後惡露上流肺經，咳嗽，與平人同治，以二母湯去參為妙。</p>
<p><u>【二母湯】</u></p>
<p>知母　貝母　茯苓　桃仁　人參　杏仁產後嗽喘者，此乃危急之疾，若不嗽而獨喘者尤甚，不宜與藥；不得已，以二四東加薑汁、紅花、山楂、枳殼之類。</p>
<p>古曰：諸喘皆凶。若敗血上熏於肺而喘者，名曰孤陽絕陰，此症難治，勉用奪命丹。</p>
<p><u>【奪命丹】</u></p>
<p>（佚）</p>
<p>若傷食感寒而喘急者，宜用五積散治之。若傷風寒痰喘者，旋覆花湯治之。</p>
<p>產後勞碌，發乾咳嗽者，以二四東加活血藥治之。若惡露已盡，宜知母茯苓湯，或八物東加黃柏、知母治之，或用雞蘇散。</p>
<p>產後哮喘，遇產而發者，宜以寧肺湯治之。</p>
<p><u>【寧肺湯】</u></p>
<p>杏仁　阿膠　半夏　細辛　烏梅　大棗　甘草　陳皮　茯苓　蘇子　桑皮　枳殼　生薑產後外感兼瀉者，以五個散加行血藥。</p>
<p>產後血瀉者，以胃苓東加山楂、神麯、半夏治之；若腹痛拒按者，加消食藥；如有惡露，加活血藥治之。</p>
<p>產後食瀉者，宜養胃湯；如惡露不盡者，以五個散加桃仁、紅花治之。</p>
<p>產後寒瀉者，宜五積散；如惡露已盡，用白芍，亦不必用活血藥也。若咳嗽者，薑、桂少用，即理中湯亦可。</p>
<p>產後傷食者，如惡露未盡，以四烏東加消食藥；若瀉者，以五個散治之；若惡露去多者，宜五苓散；若惡露去多而不瀉者，宜養胃湯治之。</p>
<p>產後冷熱不調，上吐下瀉，名曰霍亂，渴而飲水者，宜五苓散；寒多不飲水者，以理中湯治之；霍亂吐瀉，又宜藿香正氣散。</p>
<p>產後嘔吐，如惡露未盡者，以二四東加活血藥。</p>
<p>產後瘧疾，如惡露未盡者，以五積散加桃仁、紅花、山楂、神麯治之；如已盡者，以養胃東加消食藥治之，蓋瘧雖不瀉，然須預防脾胃為要，故用此劑也；如兼瀉者，用之尤妙；熱多寒少，以生熟飲、養胃湯治之；久而不已者，以七寶飲治之。</p>
<p><u>【生熟飲】</u></p>
<p>肉豆蔻　草果　厚朴　半夏　甘草　陳皮　大棗加生薑一半生用，一半濕紙裹煨熟用，和前藥煎服。</p>
<p><u>【七寶飲】</u></p>
<p>青皮　陳皮　甘草　當歸　厚朴　草果　檳榔產後惡露未盡而痢，以胃苓東加桃仁，雖日夜去百次，服之可驗。如飽悶，加紅花、當歸，而滑腸者禁用，可服神麯、五個散亦可。</p>
<p>產後惡露盡而痢者，以胃苓東加半夏、神麯治之。</p>
<p>產後不拘赤白痢者，以胃苓湯一方而可治也；雖有食積，多服幾劑自愈。</p>
<p>產後冷熱痢者，宜黃連阿膠丸。</p>
<p><u>【黃連阿膠丸】</u></p>
<p>黃連（去須，三兩）　阿膠（碎炒，一兩）　茯苓（去皮，二兩）</p>
<p>上以黃連、茯苓為細末，水熬阿膠為丸，如桐子大，每服三十丸，空腹米飲送下。</p>
<p>產後痢疾，渴飲無度，宜用麥門冬、烏梅煎湯，或用冬瓜汁亦可。</p>
<p>產後赤白痢者，宜服香連術苓散，又以四君子東加黃　、粟殼治之。</p>
<p><u>【四君子湯】</u></p>
<p>人參　白朮　茯苓　甘草產後氣虛下痢，宜用當歸芍藥湯。</p>
<p>產後血痢，宜三黃熟艾湯。</p>
<p><u>【三黃熟艾湯】</u></p>
<p>黃連　黃柏　黃芩　艾葉　大棗產後痢疾脈訣：產後痢疾，脈息須知：細小者生，洪大不取；欲絕附骨，無事斷之；產後須細，痢疾尤宜；浮鉤洪大，必死無疑。</p>
<p>產後下痢，宜用參粟散。</p>
<p><u>【參粟散】</u></p>
<p>人參　粟殼　白朮　甘草　肉桂　當歸　烏梅　蒼朮　枳殼　訶子產後感寒而腹痛者，以理中湯去人參以治之。</p>
<p>產後因受氣而小腹脹痛者，以分氣紫蘇飲；如停食，加消食藥治之。</p>
<p>產後敗血攻心，而胃口痛甚者，宜延胡散。單胃口痛者，以養胃湯治之。</p>
<p>產後腰痛而下注兩腹，痛如錐刺入骨者，敗血未盡而停住經絡也，腎虛者，以四物東加黃柏，或五個散治之；蓋此藥能除敗血、去風濕也；如淨後作痛者，以四物湯治之則愈矣。</p>
<p>若產後去血過多而腰痛者，至月外者，以補中益氣湯及內補湯治之。</p>
<p>產後半邊腰痛者，多因側臥，以致敗血流於一邊故也，以四烏湯，或二四東加紅花、桃仁治之。若非血而痛者，只因受氣而痛，以二四湯並補中益氣去參，加活血藥治之，如不嗽者，加香附治之。</p>
<p>產後皮肉痛者，此外感也，若惡露未盡，先服行血藥，後服芎蘇散；若血已盡，服芎蘇散，然此藥乃發汗之劑，不可多服。</p>
<p>產後骨痛者，若惡露未盡，宜五個散治之；如故，以四烏湯、二四湯治之；如小腹痛者，加活血藥；若惡露已盡，宜用增減柴胡湯治之。</p>
<p>產後遍身骨節疼痛，或因氣滯，或因血凝，或感風寒，或初產血氣未和，或蓐勞、血少，皆能作痛也，故腰背不能轉側，手足不能運動，身熱頭痛，儼如傷寒色樣。若作傷寒治之，其變症不淺，宜五積加羌活，入醋煎，效，或韭白亦可。若蓐勞而筋骨不利者，用逍遙散以治之。</p>
<p>產後血氣刺痛，小腹宿冷　癖者，宜蔥白散。</p>
<p><u>【蔥白散】</u></p>
<p>蔥白　肉桂　三棱　蓬朮　人參　熟地　當歸　白芍　厚朴　神麯　青皮　木香　麥芽乾薑　茯苓　川芎　川楝子　小茴香產後發呃，敗血未盡而不行也，宜用行血藥；如已淨而呃者，多是受凍，宜順氣調胃為上，如紫蘇飲之類。</p>
<p>產後呃逆不已，乃胃寒而氣不順也，宜丁香散治之，或單橘皮湯，或用肉桂、薑汁，以火炙熱，用手承擦摩背上。</p>
<p><u>【丁香散】</u></p>
<p>丁香　白蔻仁　伏龍肝為細末，用吳茱萸湯調下（或桃仁湯亦可）。</p>
<p>產後嘔逆不已，以君陳丸治之。若腹痛脹滿，嘔逆不定，多因是食，宜丁香消食之劑；是痰者，宜旋覆花湯；是寒者，以理中東加木香、青皮、半夏、陳皮治之。</p>
<p><u>【君陳丸】</u></p>
<p>人參　白朮　茯苓　甘草　半夏　陳皮　藿香　砂仁產後腹脹滿不定，此由敗血散於脾胃也。若脾受之，則不能運化精微而成腹脹；胃受之，則不能受納五穀而生嘔吐也，明矣，平胃散、安胃湯主之。</p>
<p><u>【安胃湯】</u></p>
<p>半夏　橘紅　生薑　甘草　神麯　藿香產後吞酸水者，宜七氣湯。</p>
<p><u>【七氣湯】</u></p>
<p>人參　肉桂　半夏　甘草　生薑產後腹脹，必利小水為主，若遍身脹者，宜木香流氣飲治之。</p>
<p><u>【木香流氣飲】</u></p>
<p>木香　甘草　陳皮　青皮　草果　丁香　厚朴　藿香　木通　人參　檳榔　白芷　香附肉桂　蓬朮　大腹皮　蘇葉　麥冬　木瓜　白朮　半夏　茯苓　菖蒲　生薑產後沐浴太早，或感風濕而筋脈拘急，骨節疼痛者，以五積散加木瓜、吳茱萸煎服。</p>
<p>產後四肢浮腫而腹大者，此乃氣食也，宜紫蘇飲加消食藥。若身熱者，當防其有血也。蓋產後浮腫多端：或胎前腫至產後者，或產後著風寒而腫者，或內傷生冷而腫滿者，或因敗血化水而腫滿腸鳴者，或因血虛氣滯而浮腫者，切不可專用導藥，宜辨其虛實而治之。雖見虛，又不可便用重補，須治其氣，氣順理其血，血活則氣血和而病得效矣。然順氣之藥，當以黑龍丹、黑神丸、五積散、紫蘇飲調經之劑。</p>
<p><u>【黑龍丹】</u></p>
<p>（佚）</p>
<p><u>【黑神丸】</u></p>
<p>（佚）</p>
<p>產後兩足忽腫疼者，腫是濕而疼是熱，恐成香港腳而有患也，以當歸定痛散治之。若紅腫者，恐生毒瘡，以皮之熱與不熱為辨也。</p>
<p><u>【當歸定痛散】</u></p>
<p>人參　當歸　葛根　黃芩　羌活　茵陳　知母　茯苓　豬苓　澤瀉　蒼朮　甘草　防風　升麻產後肚大筋青，小水多不利者，或食生冷，或淤血停滯而帶傷者，治以胃苓湯，起劑加桃仁、紅花、杏仁、蘇葉、赤芍、歸尾，或五個散加桃仁、紅花、赤芍消食之劑，或紫蘇飲加行血消食藥尤妙，內加木香愈佳，總身有熱者不忌也，蓋木香亦能清熱也。</p>
<p>產後因氣，或得寒物，惡露凝住，腹脹如鼓而疼痛者，以四烏湯治之。凡胎前以分氣飲，產後則服五個散。</p>
<p>產後耳忽聾、目忽昏者，血氣不足也，宜十全大補湯。</p>
<p>產後目腫赤而痛者，以四物加生地、黃連治之。</p>
<p>產後吐血、嗽血、咯血，恐血氣衝心，急用延胡湯治之。</p>
<p>產後鼻衄，宜紫蘇飲入童便治之，或荊芥散入童便。</p>
<p>產後尿血者，以四物東加涼血藥治之，或八正散。</p>
<p>產後小便閉者，以四物湯去地黃，加入赤茯苓、木通、竹葉之類，或用五苓散去桂枝，加入木香、滑石冶之；若甚者，以八正散治之。</p>
<p>產後小便不通，腹脹如鼓者，用炒鹽加麝香少許，填平臍中，再以蔥白一束，切片如指濃，安鹽上，又以艾柱滿蔥餅，以火灸之，覺腹內有熱時，小便即通。</p>
<p>產後大小便俱不通者，如惡露已淨，以四物東加黃芩、生地、木通、枳殼、梔子（炒）；如未盡者，以五個散加桃仁、赤芍、歸尾、紅花治之。</p>
<p>產後大便閉者，宜玉燭散，或麻仁丸，或五仁丸，或四物東加枳殼、青皮，或蘇子、麻仁煮粥食之，並妙。</p>
<p><u>【玉燭散】</u></p>
<p>地黃　當歸　白芍　川芎　大黃　枳實　厚朴</p>
<p><u>【麻仁丸】</u></p>
<p>人參　大黃　麻仁　枳殼蜜丸，酒服。</p>
<p><u>【五仁丸】</u></p>
<p>杏仁　麻仁　郁李仁　桃仁　松子仁產後大便閉結而小便自利者，宜用無違散。</p>
<p><u>【無違散】</u></p>
<p>當歸　白芍　麻仁　山楂　神麯　枳殼　青皮產後內傷，大便利而小便閉者，宜用五苓加當歸、赤芍、桃仁、茯苓，入少許童便服之，不可用胃苓湯，以其苓、朮、厚朴，止血故也，血止、氣亦止也。</p>
<p>產後乳汁不通者有四：有氣血盛壅閉者，有氣血虛而不至者，有初產風熱相搏而無乳者，有累產無津而無乳者。若虛者補之，宜潤乳散；氣血壅閉者，疏通之，宜服漏蘆湯；血氣少而無乳者，以天花散治之，玉露散亦可，或用油木梳梳乳上，令下。</p>
<p><u>【潤乳散】</u></p>
<p>豬蹄　鯽魚　鐘乳粉煎服。</p>
<p><u>【漏蘆湯】</u></p>
<p>漏蘆　栝蔞（　存性）　木通為末，酒服。</p>
<p><u>【天花散】</u></p>
<p>天花粉　木通　陳皮　糯米　豬蹄　人參　白朮　茯苓　炙甘草　熟地　當歸　白芍　川芎產後乳腫硬痛者，因兒呼吸不通，壅閉乳道，蓄積在內，遂成腫硬而疼也，名曰吹奶，宜栝蔞散、皂角散治之。</p>
<p><u>【栝蔞散】</u></p>
<p>栝蔞根（二兩）　乳香（一錢）</p>
<p>研為末，溫酒下。</p>
<p><u>【皂角散】</u></p>
<p>皂角（燒存性）　蛤粉（生研）</p>
<p>為細末，熱酒送下。</p>
<p>產後微發熱惡寒，此氣血俱虛也，宜用大補氣血之劑，忌散表之藥。左脈不足，補血之藥，倍於補氣之藥；右脈不足，則補氣之藥，多於補血之藥；若兼痰者，各以其類治之。</p>
<p>產後陰脫，名曰產頹，宜用當歸黃　散治之。</p>
<p><u>【當歸黃　散】</u></p>
<p>黃　當歸　白芍（各二錢半）　升麻（一錢）　人參（三錢）</p>
<p>產後子腸不收者，宜補氣血，以八物湯去熟地、茯苓，加升麻、防風，然必以酒黃　為主。</p>
<p>產後陰腫煩疼，宜桃仁膏，或用四物加　本、防風。</p>
<p><u>【桃仁膏】</u></p>
<p>枯礬末　桃仁共研膏拌擦。</p>
<p>產後陰腫、陰癢者，此乃濕也，宜小治方。</p>
<p><u>【小治方】</u></p>
<p>荊芥　白芷　花椒　細辛　枯礬煎湯熏洗，甚者不過三、四次。</p>
<p>產後勞力太過，至產則突出腫疼，名曰疝頹，用鱉頭燒存性為末，搽上，忌登高舉重；或將蓖麻子肉塗頭頂心，如收時即刻去藥；或以五倍子、白礬、枳殼、荊芥、蛇床子，煎湯熏洗，亦妙。</p>
<p>產後玉門不閉，此乃氣虛不足也，以補中益氣湯倍加升麻治之，或八物湯，或硫黃湯。</p>
<p><u>【硫黃湯】</u></p>
<p>硫黃（四兩）　吳茱萸　菟絲子（各二兩半）</p>
<p>煎湯洗，自收。</p>
<p>產後淤血流入腰膝走注，或右或左，痛如錐刺入骨中，不能舉動，此敗血流注經絡。若大痛不已，必成癰疽。宜服荊防交泰散。</p>
<p><u>【荊防交泰散】</u></p>
<p>即五積、敗毒同劑產後虛煩，渴飲不止，短氣眩暈，飲食無味者，宜竹葉東加烏梅、乾薑，或四物東加門冬、五味子、烏梅、花粉治之。</p>
<p><u>【竹葉湯】</u></p>
<p>生地　麥冬　五味子　人參　竹葉　茯苓　黃芩　甘草　栝蔞　浮小麥　大棗產後昏迷悶亂，口噤眼花，不省人事者，謂之血暈。此症不一：或去血過多而虛暈者，或下血少而衝上暈者，或痰火因虛泛上而暈者，或用力過多而作暈者，正是暈同而治法各異也。苟不諳練而誤治之，夭人天年，於心何安？宜速將產婦扶起，用醋炭等法，或燒漆氣，或醋洒口鼻、　面，或韭汁盛瓶，以滾醋沃之，將瓶口沖產婦鼻，令醋氣入內沖醒，然後審虛實而用藥治之。蓋韭能去心中滯血，又加醋氣，運用無不效。倘或覓藥不及，即燒秤錘，投入醋中熏之，切戒冷水噴灌，激住敗血，多致不救。倘夏月，宜用燒磚如醋炭之法治之。</p>
<p>臨產因收生婦誤損尿脬，致成淋漓不禁，宜用參朮膏治之。</p>
<p><u>【參朮膏】</u></p>
<p>人參　白朮　黃　茯苓　陳皮　甘草　川芎　當歸　桃仁先將豬、羊脬各一件，煎五六沸後，入前藥，再煎，極飢時服之。</p>
<p>產後，前竅相連後竅，大小便易位而出者，名曰交腸，此因氣不循故道，清濁混雜，宜五苓散合調氣飲，加黃連、阿膠、木香、檳榔、桃仁、木通治之。若止小便出於大便者，以五苓散分利小水。</p>
<p><u>【調氣飲】</u></p>
<p>木香　丁香　檀香　白蔻仁　砂仁　藿香　甘草產後血崩不止者，以芎　東加百草霜、側柏汁、烏梅炭、鹽等份，煎服。</p>
<p>產後陰頹脫下，玉門不閉，以鍛石少許，燒熟，次煎防風、荊芥滾湯，置桶內，沃炭，急坐上，使氣熏入陰戶；待湯溫，浸洗，候平復為度。</p>
<p>產後覺熱、頭疼者，不可便作傷風、傷寒治之。或蒸乳，或淤血，或血虛，或傷食，或蓐勞，或風寒。若先乳旁脹痛，此乳汁將行也，宜玉露散治之；若腹中刺痛，此淤血不盡也，以五積散治之；若去血過多者，以增減四物湯治之；若早起勞碌，名曰蓐勞，以增減柴胡湯，或茯苓湯、補中益氣湯治之；若飽悶噯氣者，此乃飲食所傷也，以枳縮二陳湯治之。</p>
<p>產後小便頻數，宜菟絲子丸。或豬腰子一只（去膜），薑三片，棗二枚，煎服。</p>
<p><u>【菟絲子丸】</u></p>
<p>吳茱萸　白芨　白蘞　茯苓　陳皮（各一兩）　細辛（五錢）　肉桂　五味子　牛膝　厚朴　白附人參　當歸　乳香　沒藥　菟絲子（各四兩）</p>
<p>壬子日合為丸。每服十五丸，經淨後連二服。此方無不可者，男女皆可服。昔承相室三十九歲無子，服此丸後生九子。</p>
<p>產後氣血雖虛，不可太補，宜當歸散治之，即四物湯去地黃，加白朮、黃芩也。</p>
<p>產後下血不止，以四物東加生地、荊芥、粟殼炭治之。凡婦人有子飲乳，而經水三四年至者，不須服藥，乳汁盡即下之為經事也。</p>
<p>凡婦人元藏受氣虛弱，致令乏嗣，及生百病者，宜服濟陰丹。凡一切　瘕冷疼、白濁白淫、崩中帶下，若不治則無子；然服此劑，宿血則去，新血則生，能令血和而受孕也。</p>
<p><u>【濟陰丹】</u></p>
<p>木香　赤茯苓　京墨　秦艽　熟地　甘草　陳皮　石斛　肉桂　乾薑　細辛　丹皮　當歸牛膝　杜仲　白朮　厚朴　蒼朮　大豆蜜丸，每兩作六丸，每服一丸，酒磨送下，將糯米粥補之。</p>
<p>凡婦人生理不順，怕產者，宜服九龍丹則不娠，其故何也？此藥能令脂膜生滿子室，不受孕矣。</p>
<p>如後要嗣而受孕者，以車前子為末，溫酒服一錢，數服仍可以受孕，極善之法也。</p>
<p><u>【九龍丹】</u></p>
<p>枸杞子（二兩）　金櫻子（五兩，煎膏）　山楂（一兩五錢）　佛座須（二兩）　芡實（三兩蓮肉（四兩）　茯苓（二兩）　川芎（五錢）　當歸（二兩）</p>
<p>為末，酒和丸，每服三五十丸，或酒、或鹽湯送下。男子服之精澀體健，女子服之則不孕。</p>
