<header data-type="book">
<h1>五十二病方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>西漢</dd></div>
<div><dt>年份</dt><dd><data value="-0168">公元前168年</data></dd></div>
</dl>
</header>
<h2>【諸傷】：</h2>
<p>□□膏、甘草各二，桂、　（薑）、椒□□□□□□□□□□□□□□□□□□□□□（一）□□毀一垸　（杯）酒中，飲之，日【壹】飲，以□其■（二）</p>
<p>【一】，□□□□朐，令大如答，即以赤答一斗並□，復冶□□□□□□□□□□□（三）</p>
<p>孰一，冶齊□，□淳酒漬而餅之，　瓦　炭□□□□□□□□□□□□□漬□（五）　之如□，即冶，入三指最（撮）半　（杯）溫酒□□□□□□□□□□□□□□□者（六）　百冶，大□者一，燔白雞毛及人發，冶【各】等。百草末八灰，冶而□□□□□□□一垸溫酒一　（杯）</p>
<p>中一，以刃傷，　（燔）羊矢，敷之（一○）。</p>
<p>一，止血出者，燔發，以安（按）其　（一一）。</p>
<p>一，令傷者毋痛，毋血出，取故蒲席厭□□□燔□□□□　（一二）。</p>
<p>一，傷者血出，祝曰：「男子竭，女子　。」五畫地□之（一三）。</p>
<p>一，令傷毋般（瘢），取彘膏、□衍並冶，敷之（一四）。</p>
<p>一，以男子洎敷之，皆不般（瘢）（一五）。</p>
<p>一，金傷者，以方（肪）膏、烏　（喙）□□，皆相□煎，　（施）之（一六）。</p>
<p>一，傷者，以續【KT　（斷）】根一把，獨□長支（枝）者二廷（梃），黃KT　（芩）</p>
<p>二□梃，甘草□廷（梃），秋烏　（喙）二□□（一七）□□□者二甌，即並煎□孰（熟），以布捉取，出其汁，以陳</p>
<p>【一】，□者，冶黃黔（芩）與□□□□□彘膏□□之，即以布捉【取】，□□□□□□□□（一九）　之（二○）。</p>
<p>一，久傷者，薺（齏）杏KT　〈KT　（核）〉中人（仁），以職（　）膏弁，封　，蟲即出。【●嘗】試（二一）。</p>
<p>一，稍（消）石直（置）溫湯中，以洒癰（二二）。</p>
<p>一，令金傷毋痛方，取鼢鼠，干而冶；取彘魚，燔而冶；□□、薪（辛）夷、甘草各與</p>
<p>【鼢】（二三）鼠等，皆合撓，取三指最（撮）一，入溫酒一　（杯）中而飲之。不可，財益藥，至不癰而止。●【令】（二四）。</p>
<p>一，令金傷毋痛，取薺孰（熟）干實，KT　（熬）令焦黑，冶一；　（術）根去皮，冶二，凡二物並和，取三（二五）指最（撮）到節一，醇酒盈一衷　（杯），入藥中，撓飲不者，洒半　（杯）。已飲，有頃不痛（二六）。復痛，飲藥如數。不痛，毋飲藥。</p>
<p>藥先食後食次（恣）。治病時，毋食魚、彘肉、馬肉、龜（二七）、蟲、葷、麻○洙采（菜），毋近內，病已如故。治病毋時。壹冶藥，足治病。藥已冶，裹以（二八）繒臧（藏）。冶　（術），暴（曝）若有所燥，冶。令（二九）。</p>
<h2>傷痙：</h2>
<p>痙者，傷，風入傷，身信（伸）而不能　（屈）。治之，KT　（熬）鹽令黃，取一斗，裹以布，卒（淬）醇酒中，入（三○）即出，蔽以布，以熨頭。熬則舉，適下。為□裹更【熨，熨】寒，更KT　（熬）鹽以熨，熨勿（三一）絕。一熨寒汗出，汗出多，能　（屈）信（伸），止。熨時及已熨四日內，□□衣，毋見風，過四日自（三二）適。熨先食後食次（恣）。毋禁，毋時。●令（一，傷而頸（痙）者，以水財煮李實，疾沸而抒，浚取其汁，寒和，以飲病者，飲以□□（三四）故。節（即）其病甚弗能飲者，強啟其口，為灌之。節（即）毋李實時□□□□□□（三五）煮炊，飲其汁，如其實數。毋禁。嘗【試】。●令（三六）。</p>
<p>一，諸傷，風入傷，傷癰痛，治以　絮為獨□□□傷，漬□□□□□彘膏煎汁□（三七）□□沃，數□注，下膏勿絕，以歐（驅）寒氣，□□□□舉□□□□□，以敷傷空（孔），KT　（蔽）□（三八）休得為□□□□□□□□□□□□□□□□□□□□癰□□□□□（三九）。敷藥先食後食次（恣）。毋禁，【毋】時。□　不□□□盡□（四○）。</p>
<p>一，傷而頸（痙）者，小KT　一犬，　與薛（　）半斗，毋去其足，以□並盛，漬井KT□□□（四一）出之，陰乾百日。即有頸（痙）者，冶，以三指一撮，和以溫酒一（杯），飲之（四二）。</p>
<p>一，傷脛（痙）者，擇薤一把，以敦（淳）酒半斗者（煮）KT　（沸），【飲】之，即溫衣陝（夾）坐四旁，汗出到足，乃□（四三）。</p>
<p>一，冶黃黔（芩）、甘草相半，即以彘膏財足以煎之。煎之KT　（沸），即以布足（捉）</p>
<p>之，予（抒）其汁，□敷□（四四）。</p>
<h2>嬰兒索痙：</h2>
<p>索痙者，如產時居濕地久，其　（　）直而口扣，筋KT　（攣）難以信（伸）。取封殖土冶之，□□（四五）二，鹽一，合撓而　（蒸），以扁（遍）熨直　（　）攣筋所。道頭始，稍□手足而已。熨寒□□（四六）復　（蒸），熨干更為。令（四七）。</p>
<h2>嬰兒病間（癇）方：</h2>
<p>取雷尾〈KT　（矢）〉三果（顆），冶，以豬煎膏和之。小嬰兒以水【半】斗，大者以一斗，三分和，取（四八）一分置水中，撓，以浴之。浴之道頭上始，下盡身，四支（肢）</p>
<p>毋濡。三日一浴，三日已。已浴，輒棄其（四九）水　中。間（癇）者，身熱而數驚，頸脊</p>
<h2>嬰兒螈：</h2>
<p>嬰兒螈者，目　KT　然，脅痛，息癭（嚶）癭（嚶）然，KT　（矢）不○化而青。取屋榮蔡，薪燔之而□（五一）匕焉。為湮汲三渾，盛以　（杯）。因唾匕，祝之曰：「噴者居（劇）噴，上○○○○○○（五二）如KT　（彗）星，下如KT　（　）血，取若門左，斬若門右，為若不已，磔薄（膊）若市。」因以匕周KT　（五三）嬰兒螈所，而洒之　（杯）</p>
<p>水中，候之，有血如蠅羽者，而棄之於垣。更取水（五四），復唾匕KT　（漿）以KT　，如前。毋征，數復之，征盡而止。●令（五五）。</p>
<h2>狂犬嚙人：</h2>
<p>取恆石兩，以相靡（磨）　（也），取其靡（磨）如麋（糜）者，以敷犬所嚙者，已矣（一，狂【犬】嚙人者，孰澡（操）湮汲，注　（杯）中，小（少）多如再食浮（漿），取灶末灰三指最（撮）□□（五七）水中，以飲病者。已飲，令孰奮兩手如□□間手□道□□□□□□（五八）</p>
<p>一，狂犬傷人，冶　與橐莫，【醯】半　（杯），飲之。女子同藥。如■（六○）</p>
<h2>犬筮（噬）人傷者：</h2>
<p>取丘（蚯）引（蚓）矢二升，以井上　斷處土與等，並熬之，而以美【醯】□□□□（六一）之，稍垸，以熨其傷。犬毛盡，敷傷而已（六二）。</p>
<p>一，煮莖，以汁洒之。冬日煮其本（六三）。</p>
<p>一，犬所嚙，令毋痛及易瘳方，令【嚙】者臥，而令人以酒財沃其傷。已沃而□（六四）越之。嘗試。毋禁（六五）。</p>
<h2>巢者：</h2>
<p>侯（候）天甸（電）而兩手相靡（摩），鄉（向）甸（電）祝之，曰：「東方之王，西方□□□□主冥冥人星。」二七而□（六六）。</p>
<p>一，取牛KT　、烏　（喙）、桂，冶等，淆□，【熏】以□病（六七）。</p>
<h2>【夕】下：</h2>
<p>以黃　（芩），黃　（芩）長三寸，合盧大如□□豆卅，去皮而並冶。□□□□□□□（搗）而煮之，令（六八）沸，而　去其宰（滓），即以汁□□淒夕【下】，已，乃以脂□□</p>
<h2>【毒烏（喙）者】：</h2>
<p>炙□□，飲小童弱（溺）若產齊赤，而以水飲■（七一）</p>
<p>一，屑勺（芍）藥，以□半　（杯），以三指大　（撮）飲之（七二）。</p>
<p>【一】，取杞本長尺，大如指，削，KT　（舂）木臼中，煮以酒■（七三）</p>
<p>一，以□汁粲叔（菽）若苦，已（七四）。</p>
<p>一，煮鐵，飲之（七五）。</p>
<p>一，禺（遇）人毒者，取麋（蘼）蕪本若□薺一□□□□□□□□□敷宥（　）（七六）。</p>
<p>一，穿地□尺，而煮水一　□□□□□□□□□□□一　（杯）（七七）。</p>
<h2>【KT（蠆）】：</h2>
<p>□□□□□□□以財KT　薤■（七八）</p>
<p>【一】，■（七九）</p>
<p>一，濡，以鹽敷之，令牛　（舐）之（八○）。</p>
<p>一，以疾（蒺）黎（藜）、白蒿封之（八一）。</p>
<p>一，　（唾）之，賁（噴）：「兄父產大山，而居□穀下，□□□不而□□□□而鳳鳥□□□□□□（八二）尋尋　且貫而心（八三）。」</p>
<p>一，「父居蜀，母為鳳鳥蓐，毋敢上下尋，鳳【貫】而心（八四）。」</p>
<h2>蛭食（蝕）</h2>
<p>人　股【膝】，產其中者，並黍、叔（菽）、秫（術）三，炊之，　（蒸）□□□□病（八五）。</p>
<p>一，KT　（　）　，敷【之】（八六）。</p>
<h2>：</h2>
<p>KT　（　）蘭，以酒沃，飲其汁，以宰（滓）封其　，數更之，以熏□（八七）</p>
<p>一，以　印其中顛（八八）。</p>
<p>一，以產豚　（　）麻（磨）之（八九）</p>
<p>一，以堇一陽築（築）封之，即燔鹿角，以弱（溺）飲之（九○）。</p>
<p>一，　：「KT　（嗟），年，KT　殺人今茲。」有（又）復之（九一）。</p>
<p>一，以青梁米為鬻（粥），水十五而米一，成鬻（粥）五斗，出，揚去氣，盛以新瓦　，冥（冪）口以布三□（九二），即封塗（　）濃二寸，燔，令泥盡火而KT　（　）之，己（九三）。</p>
<p>一，亨（烹）三宿雄雞二，洎水三斗，孰（熟）而出，及汁更洎，以食□逆　下。炊五KT　（　）、兔□（九四）肉陀（他）　中，稍沃以汁，令下盂中，孰（熟），飲汁（九五）。</p>
<p>一，賁（噴）　：「伏食，父居北在，母居南止，同產三夫，為人不德。」已。不已，青敷之（九六）。</p>
<p>一，湮汲一　（杯）入奚蠡中，左承之，北鄉（向），鄉（向）人禹步三，問其名，即曰：「某某年□今□（九七）。」飲半　（杯），曰：「病□□己，徐去徐已。」即復（覆）</p>
<p>奚蠡，去之（九一，煮鹿肉若野彘肉，食【之】，KT　（　）汁。●精（九九）。</p>
<p>一，燔　皮，冶灰，入酒中，飲之。多可　（也），不傷人。煮羊肉，以汁□之（一○○）。取井中泥，以還（環）封其傷，已（一○一）。</p>
<h2>尤（疣）：</h2>
<p>取敝蒲席若藉之弱（　），繩之，即燔其末，以久（灸）尤（疣）末，熱，即拔尤（疣）</p>
<p>去一，令尤（疣）者抱禾，令人　（呼）曰：「若胡為是？」應曰：「吾尤（疣）。」置去禾，勿一，以月晦日之丘井有水者。以敝帚騷（掃）尤（疣）二七，祝曰：「今日月晦，騷（掃）</p>
<p>尤（疣）北。」入帚井中（一○四）。</p>
<p>一，以月晦日日下　時，取由（塊）大如雞卵者，男子七，女子二七。先【以】由（塊）</p>
<p>置室後，令南北【列】（一○五），以晦往之由（塊）所，禹步三，道南方始，取由（塊）</p>
<p>言曰由言曰：已靡（磨），置由（塊）其處，一，以月晦日之內後，曰：「今日晦，弱（搦）又（疣）內北。」靡（磨）又（疣）內辟（壁）二七（一，以朔日，葵莖靡（磨）又（疣）二七，言曰：「今日朔，靡（磨）又（疣）以葵戟。」</p>
<p>有（又）以殺本若道旁KT　（　）根二七，投（一○九）澤若淵下。●除日已望（一一○）。</p>
<p>一，祝尤（疣），以月晦日之室北，靡（磨）宥（疣），男子七，女子二七，曰：」今日月晦，靡</p>
<h2>顛（癲）疾：</h2>
<p>先侍（　）白雞、犬矢。發，即以刀　（　）其頭，從顛到項，即以犬矢【濕】之，而中（　）雞□（一一二），冒其所以犬矢濕者，三日而已。已，即孰（熟）所冒雞而食之，□一，　（癲）疾者，取犬尾及禾在圈垣上【者】，段冶，湮汲以飲之（一一四）。</p>
<h2>白處方：</h2>
<p>取灌青，其一名灌曾，取如□□鹽廿分斗一，灶黃土十分升一，皆冶，而□□（一一五）指，而先食飲之。不已，有（又）復之而□灌青，再飲而已。○令（一一六）。</p>
<p>【一】，□□其□□□□□與其○真□□，冶之【以】鳥卵勿毀半斗，□甘鹽□□□□（一一七）□□□□□□□□□□□者□□□□□□其中，卵次之，以□□□□□（一一八）</p>
<p>冥（冪）　以布四□□□□□□□□□□□□□□□□□三□□□□□□（一一九）蔡。已塗之，即縣（懸）陰燥□□□□□□□□□□□□□□□□□□□□□（一二○）濃蔽肉，扁（遍）施所而止，□□□□□之於□□□□熱弗能支而止，而止施□□（一二一）雖俞（愈）</p>
<p>而毋去其藥。藥○□□而自□　（也）。□□已□。炙之之時，□食甚□□□（一二二）搜，及毋手敷之。以旦未食敷藥。已【敷】藥，即飲善酒，極厭而止，即炙□。已炙□（一二三）</p>
<p>之而起，欲食即食，出入飲食自次（恣）。旦服藥，先毋食□二、三日。服藥時毋食（一二四）魚，病已如故。治病毋時。●二三月十五日到十七日取鳥卵，已□即用之。□□（一二五）鳥　（也），其卵雖有人（仁），猶可用　（也）。此藥已成，居雖十【余】歲到□歲，俞（逾）良。□（一二六）而干，不可以塗身，少取藥，足以塗施者，以美醯□之於瓦KT中，漬之□（一二七）可河（和），稍如恆。煮膠，即置其KT　於KT　火上，令藥已成而發之。發之□□□□塗（一二八），冥（冪）以布，蓋以KT　，縣（懸）之陰燥所。十歲以前藥乃干（一二九）。</p>
<p>一白KT　：白KT　者，白毋奏（腠），取丹沙與　魚血，若以雞血，皆可。雞湮居二□□之□（一三○），以蚤挈（契）KT　令赤，以□之。二日，洒，以新布孰暨（　）之，</p>
<p>【復】敷。如此數，卅【日】而止。●令（一三一）。</p>
<h2>大帶者：</h2>
<p>燔KT　，與久膏而□敷之（一三二）。</p>
<p>一，以清煮膠，以塗（塗）之（一三三）。</p>
<h2>冥（螟）病方：</h2>
<p>冥（螟）者，蟲，所嚙穿者□，其所發毋恆處，或在鼻，或在口旁，或齒齦，或在手指□□（一三四），使人鼻抉（缺）指斷。治之以鮮產魚，□而以鹽財和之，以敷蟲所嚙□□□（一三五）□□□之。病已，止。嘗試，毋禁。【●】令（一三六）。</p>
<h2>【□者】：</h2>
<p>□□以　一入卵中□□□□之（一三七）。</p>
<p>入■（一三八）兔皮■（一三九）</p>
<p>一，KT　（　）蘭■（一四○）</p>
<p>一，以淳酒■（一四一）</p>
<p>一，以湯沃■（一四二）</p>
<h2>KT：</h2>
<p>取蘭■（一四三）</p>
<p>一，炙KT　■KT　（一四四）。</p>
<h2>【人】病馬不間（癇）者：</h2>
<p>■以浴病者。病者女【子】□（一四五）男子■即以女子初有布（一四六）燔■（一四七）</p>
<p>■飲以布■（一四八）■酒中飲■（一四九）</p>
<p>□□□□□□干蔥■（一五○）鹽隋（　）炙尻（一五一）。</p>
<p>一，KT　華，以封隋（　）及少【腹】■（一五二）</p>
<p>一，冶KT　少半升、陳葵種一□，而■（一五三）</p>
<p>一，湮汲水三斗，以龍須（須）一束並者（煮）■（一五四）</p>
<p>一，久（灸）左足中指（一五五）。</p>
<p>一，□□三湮汲，取　（杯）水　（噴）鼓三，曰：「上有□□□□□□□□□□銳某□□□（一五六）□□飲之而復（覆）其　（杯）（一五七）。</p>
<p>一，□□及癟不出者方：以醇酒入□，煮膠，廣□□□□□□□，燔段（　）□□□□（一五八）火而　酒中，沸盡而去之，以酒飲病【者】，□□□□□□□□飲之，令□□□（一五九一，KT　，痛於脬及衷，痛甚，弱（溺）□痛益甚，□□□□【治】之，黑叔（菽）</p>
<p>三升，以美醯三□（一六一）煮，疾炊，KT　（沸），止火；KT　（沸）下，復炊。參（三）</p>
<p>KT（沸），止。浚取【汁】。牡【厲（蠣）】一，毒堇冶三，凡【二】物□□（一六二）。</p>
<p>取三指最（撮）到節一，醯寒溫適，入中□飲。飲先食【後】食次（恣）。壹飲病俞（愈），日壹【飲】（一六三），三日，病已。病已，類石如泔從前出。毋禁，毋時。冶厲（蠣）；毒堇不暴（曝）。以夏日至到□□（一六四）毒堇，陰乾，取葉、實並冶，裹以韋臧（藏），用，取之。歲【更】取○毒堇。毒堇□□□（一六五）堇葉異小，赤莖，葉從（縱）　者，□葉、實味苦，前【日】至可六、七日KT　（秀），一，以水一斗煮葵種一斗，浚取其汁，以其汁煮膠一廷（梃）半，為汁一參，而■（一六八）</p>
<p>一，贛戎鹽若美鹽，盈隋（　），有（又）以塗（　）隋（　）□下及其上，而暴（曝）</p>
<p>若□（一六九）</p>
<p>一，亨（烹）葵而飲其汁；冬□□本，沃以□□（一七○）。</p>
<p>一，亨（烹）葵，熱　（　）其汁，即□□隸，以多為故，而□□尻厥（一七一）。</p>
<p>一，以酒一　（杯），漬襦頸及頭垢中，令沸而飲之（一七二）。</p>
<p>一，KT　，弱（溺）不利，脬盈者方：取棗種　（粗）屑二升，葵種一升，合撓，三分之，以水一斗半【煮一】（一七三）分，孰（熟），去滓，有（又）煮一分，如此以盡三分。</p>
<p>浚取其汁，以　（蜜）和，令　（才）甘，寒溫適，□（一七四）飲之。藥盡更為，病【已】而止。●令（一七五）</p>
<p>一，KT　，取景天長尺、大圍束一，分以為三，以淳酒半斗，三【KT　】煮之，孰（熟），浚取其汁，【　（　）】（一七六）之。不已，復之，不過三飲而已。先莫（暮）毋食，旦飲藥。●令（一，KT　，坎方尺有半，深至肘，即燒陳　其中，令其灰不盈半尺，薄洒之以美酒，□（一七八）　莢一、棗十四、　（KT　）之朱（茱）臾（萸）、椒，合而一區，燔之坎中，□以隧下。已，沃（一，KT　，燔陳芻若陳薪，令病者北（背）火炙之，兩人為靡（磨）其尻，KT　已（一八○）。</p>
<p>一，以水一斗煮膠一參、米一升，孰（熟）而啜之，夕毋食（一八一）。</p>
<p>一，取蠃牛二七，薤一拼（KT　），並以酒煮而飲之（一八二）。</p>
<p>一，以己巳晨，KT　（寢）東鄉（向）弱（溺）之。不已，復之（一八三）。</p>
<p>一，血KT　，煮荊，三溫之而飲之（一八四）。</p>
<p>一，石KT　，三溫煮石葦若酒而飲之（一八五）。</p>
<p>一，膏KT　，澡石大若李KT　，已食飲之。不已，復之（一八六）。</p>
<p>一，女子KT　，取三歲陳霍（藿），取其汁，□而飲之（一八七）。</p>
<p>一，女子KT　，煮隱夫術，飲之。居一日，KT　（　）陽□，羹之（一八八）。</p>
<p>一，以醯、酉（酒）三乃（KT　）煮黍稷而飲其汁，皆□□（一八九）。</p>
<p>一，以衣中衽（　）緇〈繢〉約左手大指一，三日□（一九○）。</p>
<h2>【弱（溺）】□淪者方：</h2>
<p>取□□□□□□其□□□□。先取鵲棠下蒿（一九一）。</p>
<h2>膏弱（溺）：</h2>
<p>是胃（謂）內復，以水與弱（溺）煮陳葵種而飲之，有（又）KT　（　）陽□而羹之（一九二）。</p>
<h2>種（腫）橐：</h2>
<p>種（腫）橐者，黑實橐，不去。治之，取馬矢粗者三斗。孰析，沃以水，水清，止；浚去汁，洎以酸漿□（一九三）斗，取芥衷夾。壹用，智（知）；四五用，種（腫）去。【毋】禁，毋時。●令（一九四）。</p>
<h2>頹（）：</h2>
<p>操柏杵，禹步三，曰：「賁者一襄胡，　者二襄胡，　者三襄胡。柏杵臼穿，一母一□，□（一九五）獨有三。賁者種（腫），若以柏杵七，令某KT　（　）毋一。」必令同族抱□□頹一，令斬足者清明東鄉（向），以　KT　之二七（一九八）。</p>
<p>一，KT　，以月十六日始毀，禹步三，曰：「月與日相當，日與月相當。」各三；「父乖母強，等與人產子，獨（一九九）產頹（　）尢，乖已，操葭（鍛）石墼（擊）而母。」即以鐵椎　段之二七。以日出為之，令頹（　）者東鄉（向）（二○○）。</p>
<p>一，漬女子布，以汁亨（烹）肉，食之，　（　）其汁（二○一）。</p>
<p>一，破卵　（杯）醯中，飲之（二○二）。</p>
<p>一，炙蠶卵，令簍簍黃，冶之，三指最（撮）至節，入半　（杯）酒中飲之，三、四日（二○三）。</p>
<p>一，以辛巳日古（辜）曰：「賁辛巳日。」三；曰：「天神下干疾，神女倚序聽神吾（語），某一，以日出時，今頹（　）者屋　下東鄉（向），令人操築西鄉（向），祝曰：」今日□，某頹（　）尢，今日已。某頹（　）已□（二○六）。而父與母皆盡柏築之顛，父而沖，子胡不已之有？一，辛卯日，立堂下東鄉（向），鄉（向）日，令人挾提頹（　）者，曰：「今日辛卯，更名曰禹（二○八）。」</p>
<p>一，取　垢，以艾裹，以久（灸）頹（　）者中顛，令闌（爛）而已（二○九）。</p>
<p>一，令頹（　）者北首臥北鄉（向）廡中，禹步三，步　（呼）曰：「吁！狐　。」三；若智（知）</p>
<p>一，KT　（　）及癭，取死者　（蒸）之，而新布裹，以囊□□□□前行■（二一一）</p>
<p>一，陰乾之旁逢卵，以布裹□□（二一二）。</p>
<p>一，頹（　）者及股癰、鼠復（腹）者，□中指蚤（搔）二【七】，必瘳（二一三）。</p>
<p>一，以稈為弓，以　衣為弦，以葛為矢，以□羽□。旦而射，莫（暮）而□小（二一四）。</p>
<p>一，以冥蠶種方尺，食衣白魚一七，長足二七。熬蠶種令黃，靡（磨）取蠶種冶，亦靡（磨）白魚、長（二一五）足。節三，並以醯二升和，以先食飲之。嬰以一升（二一六）。</p>
<p>一，穿小瓠壺，今其空（孔）盡容頹（　）者腎與KT　，即今頹（　）者煩夸（瓠），東鄉（向）坐於東陳垣下，即內（納）腎（二一七）KT　於壺空（孔）中，而以采為四寸二七，即以采木椎　（　）之。一□□，再靡（磨）之。已　（　），輒　（二一八）</p>
<p>垣下，以盡二七　而已。為之恆以入月旬六日□□盡，日一為，□再為之。為之恆以星出時（二一九）為之，須頹（　）已而止（二一，KT　（　），先上卵，引下其皮，以砭（砭）穿其【隋（　）】旁；□□汁及膏□，撓以醇□。有（又）久（灸）其　，勿令風（二二一）及，易瘳；而久（灸）其泰（太）陰，泰（太）陽□□。【●一，治頹（　）初發，傴攣而未大者【方：取】全蟲蛻一，□□□，皆燔□□□□□□□□酒飲財（二二三）足以醉。男女皆可。●令（二二四）。</p>
<p>一，頹（　），以奎蠡蓋其堅（腎），即取桃支（枝）東鄉（向）者，以為弧；取□母□□□□□□□□□□□上，晦，壹（二二五）射以三矢，□□飲樂（藥）。其藥曰陰乾黃牛膽。干即稍□□</p>
<p>【一】，冶　（菌）【桂】尺、獨□一升，並冶，而盛竹甬（筒）中，盈筒□□□□□□□□□□□□□□□□（二二七）□□即　（冪）以布，而敷之隋（　）下，為二處，即道其□□□□□□□□□□□□□□（二二八）□□□之。炊者必順其身，須其身安定，□□□□□□□□□□□□□□□□（二二九）□□頹（　）己，敬以豚塞，以為不仁，以白□□□□□□□□□□□□□□□□□□（二三○）□縣（懸）茅比所，且塞壽（禱），以為■（二三一）</p>
<p>【一】□【取】女子月事布，漬，炙之令溫□□□□□□□□□□□□□□□□□□□□□（二三二）□□□四榮□，燔量簧，冶桂五寸■（二三三）■上■（二三四）</p>
<p>頹（　）□久（灸）左　■（二三五）</p>
<p>一，夕毋食，旦取豐（蜂）卵一，漬美醯一　（杯），以飲之（二三六）。</p>
<h2>【脈】者：</h2>
<p>取野獸肉食者五物之毛等，燔冶，合撓□，誨（　）旦【先】食，取三【指大撮】三，以溫酒一杯和，飲之。到（二三七）莫（暮）有（又）先食飲，如前數。恆服藥廿日，雖久病必□。服藥時禁毋食彘肉、鮮魚。●嘗【試】（二三八）。</p>
<h2>【牡】痔：</h2>
<p>有蠃肉出，或如鼠乳狀，末大本小，有空（孔）其中。□之，疾久（灸）熱，把其本小者而KT　（KT　）絕之，取（二三九）內戶旁祠空中黍　、燔死人頭皆冶，以修膏濡，而入之其空一，多空（孔）者，亨（烹）肥　，取其汁KT　（漬）美黍米三斗，炊之，有（又）</p>
<p>以（　）之，孰（熟），分以為二，以□□□，各□（二四一）一分，即取KT　（KT　）</p>
<p>末、菽醬之宰（滓）半，並KT　（舂），以敷痔空（孔），濃如韭葉，即以濃布裹，□□更溫（二四二），二日而已（二四三）。</p>
<p>一，牡痔居竅旁，大者如棗，小者如棗KT　（核）者方：以小角角之，如孰（熟）二斗米頃，而張角，　以小（二四四）繩，剖以刀。其中有如兔KT　，若有堅血如　末而出者，即已。●令（二一，牡痔之居竅KT　（廉），大如棗KT　（核），時養（癢）時痛者方：先　（　）之；弗能　（　），□龜KT　（腦）與地膽蟲相（二四六）半，和，以敷之。燔小隋（橢）石，淬醯中，以熨。不已，有（</p>
<h2>【牝】痔</h2>
<p>之入竅中寸，狀類牛幾三□□然，後而潰出血，不後上鄉（向）者方：取弱（溺）五斗，以煮青蒿（二四八）大把二、鮒魚如手者七，冶桂六寸。干KT　（薑）二果（顆），十沸，抒置　中，　（埋）席下，為竅，以熏（二四九）痔，藥寒而休。日三熏。因（咽）敝，飲藥將（漿），毋飲它。為藥漿方：取KT　莖干冶二升，取（二五○）KT　（署）　（　）</p>
<p>汁二斗以漬之，以為漿，飲之，病已而已。青蒿者，荊名曰【　】。KT　者，荊名曰盧茹（二五一），其葉可亨（烹）而酸，其一，牝痔有空（孔）而欒，血出者方：取女子布，燔，置器中，以熏痔，三【日】而止。</p>
<p>●令一，牝痔之有數竅，蟯白徒道出者方：先道（導）以滑夏鋌，令血出。穿地深尺半，袤尺，【廣】（二五四）三寸，【燔】□炭其中，段（　）駱阮少半斗，布炭上，【以】布周蓋，坐以熏下竅。煙滅（滅），取肥□（二五五）肉置火中，時自啟竅，□□燒□節火滅（滅）</p>
<p>□以□。日一熏，下□□而□。五六日清□□□□（二五六）。駱阮一名日白苦、苦浸（二五七）。</p>
<p>一，痔者，以醬灌黃雌雞，令自死，以菅裹，塗（　）上〈土〉，炮之。塗（　）干，食雞，以羽熏纂（二五八）。</p>
<p>一，冶麋（蘼）蕪本、方（防）風、烏　（喙）、桂皆等，漬以淳酒而垸之，大如黑叔（菽），而吞之。始食一，不智（知）益一，□（二五九）為極。有可，以領傷。恆先食食之（二六○）。</p>
<p>一，未有巢者，煮一斗棗、一斗膏，以為四斗汁，置般（盤）中而居（踞）之，其蟲出（二六一）</p>
<p>一，巢塞直（　）者，殺狗，取其脬，以穿　，入直（　）中，炊（吹）之，引出，徐以刀【　（　）】去其巢。冶黃黔（芩）而婁（屢）敷（二六二）之。人州出不可入者，以膏膏出者，而到（倒）縣（懸）其人，以寒水KT　（濺）其心腹，入矣（二六三）。血KT（痔），以弱（溺）孰（熟）煮一牡鼠，以氣熨（二六四）。</p>
<h2>朐養（癢）：</h2>
<p>痔，痔者其直（　）旁有小空（孔），空（孔）兌兌然出，時從其空（孔）出有白蟲時從其空出，其直（　）痛，尋（　）然類辛（二六五）狀。治之以柳蕈一　、艾二，凡二物。</p>
<p>為穿地，令廣深大如KT　。燔所穿地，令之干，而置艾（二六六）其中，置柳蕈艾上，而燔其艾、蕈；而取KT　，穿其斷，令其大圓寸，以復（覆）之，以土雍（壅）（二六七）</p>
<p>KT，會毋□，煙能KT　（泄），即被KT　以衣，而毋蓋其KT　空（孔）。即令痔者居（踞）</p>
<p>KT，令直（　）直（值）KT　（二六八）　空（孔），令煙熏直（　）。熏直（　）熱，則舉之；寒，則下之；圈（倦）而休（二六九）。</p>
<p>一，取石大如卷（拳）二七，孰（熟）燔之。善伐米大半升，水八米，取石置中，□□孰（熟），即　（　）之而已（二七○）。</p>
<h2>睢（疽）病：</h2>
<p>冶白　（蘞）、黃蓍（　）、芍樂（藥）、桂、　（薑）、椒、朱（茱）臾（萸），凡七物。</p>
<p>骨睢（疽）倍白簽（蘞），【肉】睢（疽）【倍】黃蓍（　），腎睢（疽）（二七一）倍芍藥，其余各一。並以三指大最（撮）一入　（杯）酒中，日五六飲之。須已■（二七二）</p>
<p>一，三KT　煮逢（蓬）　，取汁四斗，以洒睢（疽）癰（二七三）。</p>
<p>一，睢（疽）始起，取KT　〈商〉牢漬醯中，以熨其種（腫）處（二七四）。</p>
<p>【一】，睢（疽），以白蘞、黃耆（　）、芍藥、甘草四物者（煮），□、　（薑）、蜀焦（椒）、樹（茱）臾（萸）四物而當一物，其一骨□□□三（二七五）□□以酒一　（杯）</p>
<p>□□□□筋者　翟一，□□□□□□□□□□□□□□□□□□□□□□□□□者方：以□□（二七七）</p>
<p>斗□□□□□□□□□□□□□□□□□□□□已洒睢（疽）□□□□□（二七八）以羹■（二七九）</p>
<p>一，睢（疽）未□□□□烏　（喙）十四果（顆），以【美】醯半升□□□□□□澤（KT）泔二參，入藥中□□□（二八○）令如□□□□□灸手以靡（磨）□□□敷□□□□□之，以余藥封而一，益（嗌）睢（疽）者，白蘞三，罷合一，並冶，□□□□□□□飲之（二八三）。</p>
<p>一，爛疽：爛疽者，□□起而□□□□□□□□冶，以彘膏未湔（煎）者灸銷（消）以和□敷之。日一【敷】（二八四）樂（藥），【敷】樂（藥）前洒以溫水。服藥卅日□已。</p>
<p>嘗試。●【令】（二八五）。</p>
<p>一、諸疽物初發者，取大叔（菽）一斗，熬孰（熟），即急抒置甑□□□□□□□□□置其□□（二八六）醇酒一斗淳之，□□○即取其汁盡飲之。一飲病未已，□□□□□□□□□□□（一、血睢（疽）始發，KT　（　）KT　（　）以熱，痛毋適，□□□□□□睢（疽）</p>
<p>□□□□□□□□□□□□（二八九）○戴KT　（糝）、黃芩、白　（蘞），皆居三日，□□□□□□□□□□□□□□一，氣睢（疽）始發，　以KT　，如□狀，KT　（撫）靡（摩）□而□□□□□□□□□□□□□□□□（二九二）二果（顆），令KT　叔□KT　（熬）可□，以酒沃，即浚□□□□□□□□□□□一，□睢（疽）發，出禮（體），如人KT　之□，人攜之甚□□□□□□□□□□□□□□□□□（二九五）□□半斗，煮成三升，【飲】之，溫衣臥■（二九六）</p>
<p>【一】，□□□□□□□□□□喙■（二九七）■雖■（二九八）</p>
<p>【一】，■睢（疽），　（薑）、桂、椒□居四■（二九九）■淳酒半斗，煮，令成三升，■（三○○）</p>
<p>【一】，■三KT　（KT　），細切，淳酒一斗■（三○一）■即淙而□之，溫衣■（三○二）</p>
<p>【一】，■桂、椒■（三○三）</p>
<p>一，煮麥，麥孰（熟），以汁洒之，□□□膏■（三○四）</p>
<p>一，灸梓葉，溫之（三○五）。</p>
<h2>□闌（爛）者方：</h2>
<p>以人泥塗之，以犬毛若羊毛封之。不已，復以■（三○六）</p>
<p>一，闌（爛）者，爵（嚼）　米，足（捉）取汁而煎，令類膠，即冶濃　和敷（三○七）。</p>
<p>一，熱者，古（辜）曰：「　，從灶出毋延，黃神且與言。」即三　（唾）之（三○八）。</p>
<p>一，煮秫米期足，　（才）孰（熟），浚而熬之，令為灰，敷之數日。干，以汁弁之（三○九）。</p>
<p>一，以雞卵弁兔毛，敷之（三一○）。</p>
<p>一，冶　米，以乳汁和，敷之，不痛，不瘢（三一一）。</p>
<p>一，燔魚衣，以其灰敷之（三一二）。</p>
<p>一，燔敝褐，冶，布以敷之（三一三）。</p>
<p>一，漬女子布，以汁敷之（三一四）。</p>
<p>一、　（蒸）KT　土，裹以熨之（三一五）。</p>
<p>一，浴湯熱者熬彘矢，漬以KT　（醯），封之（三一六）。</p>
<p>一，以湯大熱者熬彘矢，以酒　，封之（三一七）。</p>
<p>一，般（瘢）者，以水銀二，男子惡四，丹一，並和，置突【上】二、三月，盛（成），即□□□囊而敷之。敷之，居室（三一八）塞窗閉戶，毋出，私內中，毋見星月一月，百日己（三一一，去故般（瘢）：善削瓜壯者，而其瓣材其瓜，其□如兩指，以靡（磨）般（瘢）令□□之，以□□（三二○）敷之。干，有（又）敷之，三而己。必善齊（齋）戒，毋□而己□（三二一）。</p>
<p>【一】，□□者，靡（磨）□□以□，以汁敷，產膚（三二二）。</p>
<p>一，般（瘢）□□□□□□□□□□□□者，【燔之】令灰，以□，□如故膚（三二三）。</p>
<p>一，■（三二四）</p>
<p>一，取秋竹者（煮）之，而以氣熏其　，己（三二五）。</p>
<p>治　，取陳黍、叔（菽），冶，以犬膽和，以敷（三二六）。</p>
<p>一，取無（蕪）夷（荑）中KT　（核），冶，　膏以KT　，熱膏沃冶中，和，以敷（三二七）。</p>
<p>一，取雉二，孰（熟）者（煮）余疾，雞羽自解，隋（墮）其尾，□□□□□皆燔冶，取灰，以豬膏和【敷】（三二八）。</p>
<p>一，夏日取堇葉，冬日取其本，皆以甘〈口〉沮（咀）而封之。干，輒封其上。此皆已驗（三</p>
<h2>傷：</h2>
<p>取久溺中泥，善擇去其蔡、沙石。置泥器中，旦以苦酒□□。以泥【敷】傷，敷□□三○）之，傷已。己用（三三一）。</p>
<p>一，　久傷：　久傷者癰，癰潰，汁如靡（糜）。治之，煮水二【斗】，郁一參，　（術）</p>
<p>一參，□【一參】，●凡三物。郁、　（術）皆【冶】，□（三三二）湯中，即炊湯。湯溫適，可入足，即置小木湯中，即□□居□□，入足湯中，踐木滑□（三三三）。湯寒則炊之，熱即止火，自適　（也）。朝己食而入湯中，到　【時】出休，病即俞（愈）矣。病不□（三三四）者一入湯中即瘳，其甚者五、六入湯中而瘳。其瘳　（也）□癰，□癰而新肉產。肉產，即毋入【湯】（三三五）中矣，即自合而瘳矣。服藥時毋禁，及治病毋時。●令（三三六）。</p>
<h2>加（痂）：</h2>
<p>以少（小）嬰兒弱（溺）漬　羊矢，卒其時，以敷之（三三七）。</p>
<p>一，冶雄黃，以彘膏　（　），少淆以醯，令其□溫適，以敷之。敷之毋濯。【先】孰洒加（痂）以湯，乃敷（三三八）。</p>
<p>一，冶仆累，以攻（　）脂膳而敷。敷，炙之。三、四敷（三三九）。</p>
<p>一，刑赤蜴，以血塗（　）之（三四○）</p>
<p>一，冶亭（葶）　（藶）、　夷（荑），熬叔（菽）□□皆等，以牡□膏、　血膳。【先】以酒洒，燔朴炙之，乃敷（三四一）。</p>
<p>一，冶牛膝、燔　灰等，並□□，孰洒加（痂）而敷之。炙牛肉，以久脂塗（　）其上。</p>
<p>雖已，一，以□脂若豹膏□而炙之，□□□而不痛，婁（屢）復【之】。先飲美【酒】令身溫，乃□（三四四）</p>
<p>一，善洒，靡（磨）之血，以水銀敷，【有（又）】以金KT　（KT　）冶末皆等，以彘膏【膳而】敷【一，壽（搗）　慶（蜣）　良（螂），膳以醯，封而炙之，蟲環出（三四六）。</p>
<p>一，取慶（蜣）　良（螂）一斗，去其甲足，以烏　（喙）五果（顆），　大如李，並以□斗煮之，汔，以敷之（三四七）。</p>
<p>一，大皮桐，以蓋而約之，善（三四八）。</p>
<p>一，燔牡鼠矢，冶，以善　膳而封之（三四九）。</p>
<p>一，燔　，冶烏　（喙）、黎（藜）盧、蜀椒（菽）、庶、蜀椒、桂各一合，並和，以頭脂□□□布炙以熨，卷（倦）而休（三五○）。</p>
<p>一，以小童弱（溺）漬陵（菱）　（芰），以瓦器盛，以布蓋，置突上五、六日，□【敷】之（三一，冶　夷（荑）、苦瓠瓣，並以彘職（　）膏弁，敷之，以布裹【而】約之（三五二）。</p>
<p>一，冶烏　（喙）　四果（顆）、陵（菱）　（芰）　一升半，以南（男）　潼（童）</p>
<p>弱（溺）一斗半並一，冶烏　（喙），炙　脂弁，熱敷之（三五四）。</p>
<p>一，取陳葵莖，燔冶之，以彘職（　）膏淆弁，以【敷】　（三五五）。</p>
<p>一，濡加（痂）：冶巫（　）　夷（荑）半參，以肥滿剡　膏□夷□□□□□□□善以水洒加（痂），干而敷之，以（三五六）布約之。□□死人　骨，燔而冶之，以識（　）膏■（三五七）</p>
<p>一，產痂：先善以水洒，而炙蛇膏令消，敷。三敷■（三五八）</p>
<p>一，痂方：取三歲織（　）豬膏，敷之。燔　（腐）荊箕，取其灰□□三□□【巳】。【●】令（三五九）。</p>
<p>一，干加（痂）：冶蛇床實，以牡彘膏膳，先括（刮）加（痂）潰，即敷而□□，干，去□目■（一，以水銀、穀汁和而敷之。先以KT　（　）□□□敷（三六一）。</p>
<p>一，加（痂）方：財冶犁（藜）盧，以　（蜂）駘弁和之，即孰□□□□加（痂）□而己。嘗試。毋</p>
<h2>蛇嚙：</h2>
<p>以桑汁塗（　）之（三六三）。</p>
<h2>癰：</h2>
<p>取□□羽□二□二，禹步三，□□一　（杯）■（三六四）</p>
<p>一，癰自發者，取桐本一節所，以澤（KT　）泔煮■（三六五）</p>
<p>一，癰種（腫）者，取烏　（喙）、黎（藜）盧，冶之，□□□□□□□□□□之，以熨種（腫）所一，癰首，取茈半斗，細KT　（KT　），而以善　六斗□□□□□□如此□□醫以此教惠■（三六一，身有癰者，自睪（擇）取大山陵：「某幸病癰，我直（值）百疾之□，我以明月若，寒□□□□（三六九）以柞KT　，　若以虎蚤，抉取若刀，而割若葦，而刖若肉，□若不去，苦。」</p>
<p>一，白　、白衡、菌○桂、枯　（薑）、薪（新）雉，●凡五物等。已冶五物□□□取牛脂□□□細布□□（三七二），並以金銚　桑炭，　（才）　（沸），發KT　（　），有（又）</p>
<p>復　（沸），如此□□□布【抒】取汁，即取水（三七三）銀靡（磨）掌中，以和藥，敷。</p>
<p>旦以濡漿細□□□之□□□□□。敷藥毋食□（三七四）彘肉、魚及女子。已，面類□□者（三七五）。</p>
<p>一，身有體癰種（腫）者方：取牡□一，夸就□□□□□□□□炊之，候其洎不盡（三七六）一斗，抒臧（藏）之，稍取以塗身體（體）種（腫）者而炙之，□□□□□□【癰】種（腫）盡去，已一，頤癰者，冶半夏一，牛煎脂二，醯六，並以鼎□□□如□KT　，以敷。勿盡敷，圓一寸（</p>
<h2>鬃：</h2>
<p>唾曰：「　，　（漆），」三，即曰：「天啻（帝）下若，以　（漆）弓矢，今若為下民　，塗（　）若以豕矢。」以履下靡（磨）抵之（三八○）。</p>
<p>一，祝曰：「啻（帝）右（有）五兵，KT　（爾）亡。不亡，瀉刀為裝」。即唾之，男子七，女子二七（三八一）。</p>
<p>一，「　，　（漆）王，若不能　（漆）甲兵，令某傷，奚（雞）矢鼠襄（壞）塗（　）</p>
<p>（漆）王（三</p>
<p>【一】，□□□鼠□KT　（腕），飲其□一　（杯），令人終身不　（三八三）。</p>
<p>【一】，□□□□□□□□□□□□敷之（三八四）。</p>
<p>【一】，□□□□□□□□□□□□□□□□□□□□□□□□□□（三八五）□□以朝未食時敷□□□□□□□□□□□□□□□□□□□□□（三八六）【病已】如故。治病毋時。治病，禁勿■（三八七）</p>
<p>【一】，□□以木薪炊五斗米，孰（熟），□之，即□□□□□□□□□□□□□□□（三八八）□□時取野狼牙根（三八九）。</p>
<h2>蟲蝕：</h2>
<p>□□在於KT　（喉），若在它所，其病所在曰□□□□□□□□□KT　（核），毀而取□□（三九○）而□□，以□洒之，令仆仆然，即以敷。敷□□□□□□□□□湯，以羽靡（磨）□□（三九一）□□□，即敷藥。敷藥薄濃盈空（孔）而止。□□□□□□□□□明日有（又）洒以湯（三九二），敷【藥】如前。日壹洒，日壹敷藥，三□□□□□□□□□數，肉產，傷□□（三九三）肉而止。止，即洒去【藥】。已去藥，即以彘□□□□□□□□□□□，　瘳而止。□□（三九四）三日而肉產，可八【九日】而傷平，傷平□□□□□□□□，十余日而瘳如故。傷□□（三九五）欲裹之則裹之，□欲□勿□□□□□□□□□□矣。敷藥先旦，未敷□□（三九六）敷藥，欲食即食。服藥時□□□□□□□□□（三九七）。</p>
<p>一，燔　（漏）KT　（蘆），冶之。以杜（牡）豬膏■（三九八）</p>
<p>一，取雄雞矢，燔，以熏其　。□□□□□□□□□□鼠令自死，煮以水，□（三九九）</p>
<p>布其汁中，敷之。毋【以】手操　（四○○）。</p>
<p>一，蟲蝕：取禹灶□□塞傷　□□□□□□□□。●令（四○一）。</p>
<p>一，　（　）　食（蝕）口鼻，冶KT　（堇）葵□□□，以桑薪燔□□其□□令汁出，以羽取■（四</p>
<p>【一】，　（遽）斬乘車　槨■（四○三）</p>
<p>【一】，□食（蝕），【以】豬肉肥者■（四○四）□□□□以■（四○五）</p>
<p>一，冶陳葵，以■（四○六）</p>
<p>一，　（　）食（蝕）齒，以榆皮、白□、美桂，而並□□□□敷空（孔）■（四○七）</p>
<h2>干騷（瘙）方：</h2>
<p>以雄黃二兩，水銀兩少半，頭脂一升，□【雄】黃靡（磨）水銀手□□□□□□□（四○八）雄黃，孰撓之。先孰洒騷（瘙）以湯，潰其灌，撫以布，令□□而敷之，一夜一■（四○九）</p>
<p>一，熬陵（菱）KT　（芰）一參，令黃，以淳酒半斗煮之，三沸止，蚩其汁，夕毋食，飲（四一○一，以般服零，最（撮）取大者一枚，壽（搗）。壽（搗）之以KT　（舂），脂弁之，以為大丸，操（一，取茹盧（蘆）本，KT　之，以酒漬之，後日一夜，而以【塗（　）】之，已（四一二）。</p>
<p>一，取犁（藜）盧二齊，烏　（喙）一齊，　一齊，屈居（據）□齊，蕪華（花）一齊，並和以車故脂，如□□□（四一三）裹。善洒，干，節（即）炙裹樂（藥），以靡（磨）　其騷（瘙），□靡（磨）脂□□脂，騷（瘙）即已（四一四）。</p>
<p>一，取闌（蘭）根、白付，小　一升，舂之，以　、沐相半洎之，　（才）□□，置溫所三日，而入豬膏□□（四一五）者一合其中，因炊【三】沸，以敷疥而炙之。干而復敷者□。居二日乃浴，疥已。●令（四一六）。</p>
<p>一，煮桃葉，三KT　，以為湯。之溫內，飲熱酒，已，即入湯中，有（又）飲熱酒其中，雖久騷（瘙）【已】（四一七）。</p>
<p>一，干騷（瘙）：煮弱（溺）二斗，令二升；豕膏一升，冶黎（藜）戶二升，同敷之（四一八）。</p>
<h2>身：</h2>
<p>毋名而養（癢），用陵（菱）叔〈　（芰）〉熬，冶之，以犬膽和，以敷之。敷之久者，一，　：KT　葵，漬以水，夏日勿漬，以敷之，百　盡已（四二○）。</p>
<p>一，黎（藜）盧二，　一，豕膏和，而KT　以熨　（四二一）。</p>
<p>一，久　不已，干夸（刳）灶，漬以敷之，已（四二二）。</p>
<p>一，行山中而　出其身，如牛目，是胃（謂）日■（四二三）</p>
<p>一，露　：燔飯焦，冶，以久膏和敷（四二四）。</p>
<p>一，■（四二五）</p>
<p>一，以槐東鄉（向）本、枝、葉，三KT　煮，以汁■（四二六）</p>
<p>一，其祝曰：「浸KT　浸KT　蟲，黃神在灶中。□□遠，黃神興■（四二七）</p>
<p>一，涿（瘃）：先以黍潘孰洒涿（瘃），即燔數年【陳】　，□其灰，冶□□□敷涿（瘃）。</p>
<p>已敷灰，灰盡漬□□□（四二八）摹以　去之。已　，輒復敷灰，　如前。【雖】久涿（瘃），汁盡，即可瘳矣。敷藥時禁□□□□（四二九）。嘗試。●令（四三○）。</p>
<p>一，　（蒸）凍土，以熨之（四三一）。</p>
<p>一，以兔產KT　（腦）塗之（四三二）。</p>
<p>一，咀　（薤），以封之（四三三）。</p>
<p>一，踐而涿（瘃）者，燔地穿而入足，如食頃而已，即□蔥封之，若　（蒸）蔥熨之（四三四）。</p>
<h2>□蠱者：</h2>
<p>燔扁（蝙）輻（蝠）以荊薪，即以食邪者（四三五）。</p>
<p>一，燔女子布，以飲（四三六）。</p>
<p>□蠱而病者：燔北鄉（向）並符，而　（蒸）羊尼（KT　），以下湯敦（淳）符灰，即□□病者，沐浴一，病蠱者：以烏雄雞一、蛇一，並直（置）瓦赤鋪（釜）中，即蓋以□，□東鄉（向）</p>
<p>灶炊之，令雞、蛇（四三八）盡　，即出而冶之。令病者每旦以三指三最（撮）藥入一　（杯）</p>
<p>酒若鬻（粥）中一，蠱，漬女子未嘗丈夫者【布】□□　（杯），冶桂入中，令毋臭，而以□飲之（四四一）。</p>
<h2>魃：</h2>
<p>禹步三，取桃東枳（枝），中別為□□□之倡而　門戶上各一（四四二）。</p>
<p>一，祝曰：「　者魃父　母，毋匿□□□北□巫婦求若固得，□若四　（體），編若十指，投若（四四三）□水，人　（也）人　（也）而比鬼。」每行□，以采蠡為車，以敝箕為輿，乘人黑豬，行人室家，□□（四四四）□□□□□□□若□□徹KT　□　□□□□所（四四五）。</p>
<h2>去人馬疣方：</h2>
<p>取段（鍛）鐵者灰三□□□□□□□□□□□□□□□□□□□□（四四六），以KT煮，安炊之，勿令疾沸，□不盡可一升，□□□以金□□□□□□□□□□（四四七）去，復再三敷其處而已。嘗試。毋禁。令（四四八）。</p>
<p>一，去人馬疣：疣其末大本小□□者，取夾□、白　□，繩之以堅　□□手結□□□□（四四九）疣去矣。毋禁，毋禁。嘗【試】。●令（四五○）。</p>
<h2>【治KT：KT】者</h2>
<p>癰痛而潰。KT　居右，□馬右頰【骨】，左□【馬】左頰骨，燔，冶之。KT　（煮）</p>
<p>叔（菽）取汁洒□（四五一），以彘膏已湔（煎）者膏之，而以冶馬【頰骨】□□□敷布□膏□□□更裹，再膏敷（四五二），而洒以叔（菽）汁。廿日，KT　己。嘗試。●令（四五三）。一，KT　：KT　者有牝牡，牡高膚，牝有空（孔）。治以丹□□□□□□□□□□為一合，撓之，以豬織（　）（四五四）膏和，敷之。有去者，輒逋之，勿洒。□□□□□□□□□□面　赤已一，KT　：KT　者，癰而潰，用良叔（菽）、雷矢各□□□□□□□□□□而KT　（搗）</p>
<p>之，以敷癰空（孔）（四五六）中。敷【藥】必先洒之。日一洒，敷藥。敷藥六十日，KT■（四五七）□筮（噬）：□○○○取莓莖，暴（曝）干之■（四五八）毋□□，已飲此，得臥，臥KT　（覺），更得□□□□□□已解弱（溺）（四五九）□□○○○○○○○○○□□□□□□□干莓用之（四六○）。□□根，干之，剡取皮□□采根■（四六一）□十斗，以美■（四六二）</p>
