<header data-type="book">
<h1>兒科萃精</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳守真</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1930">公元1930年</data></dd></div>
</dl>
</header>
<h2>李序</h2>
<p>天下事至變者病，而可見者恃乎形；至精者醫，而可據者恃乎理。極精以窮變必本見微知著之旨，就形而求理尤賴慎思明辨之功，是以疾在腠理扁鵲論其易治，病居膏肓秦緩知其難效。若夫河內出蛇之奇，海陵走獺之變，伯宗之徙癰於柳，秋夫之針鬼於茅，要皆病之變者，亦即醫之精也。唯能神而明之，自可習而化之耳。</p>
<p>醫道一端，茫無涯　，始於黃岐，聖於仲景，遞演相傳，名家輩出，撰述千百，闡發靡遺。降及今日，斯道凌夷，或剽竊膚辭，或拘泥古法，偶閱本草，粗記成方，既盲於心，復昧於目，本以活人之術，轉為殺人之具，吁可嘆也，亦可畏也。閩侯陳君守真，今之知名醫也，茲以所著《兒科萃精》一書，不棄淺陋而來求序於余，余不敏黍長衛生職司鎖鑰，長城日壞，　焉憂之，正欲領導群倫同遵正軌，務期挽救民生咸登壽域，方在整理之中，猝遇濟世之筏，披閱再四，喜慰無量。竊愛其命名兒科獨具只眼，題曰萃精別有會心，融化聖經賢訓，吸其精華，采取名言要訣，傾其糟粕，深具得醫之意，猶善察脈之真，擇焉既精，語焉亦詳，何異龍宮之獲，寧非金匱之鈔。</p>
<p>行見蘇耽救疫，常滿橘井之泉；將使董奉賑貧，偏多杏林之樹。陸宣公道在活人，范文正志在濟眾，余知斯書之出也或莫非其意也歟，是為序。</p>
<p><u>民國十八年十二月朔日漢口特別市衛生局長李博仁序</u></p>
<h2>自序</h2>
<p>上古羲農黃帝及臣岐伯所作《天元玉冊》、《本草》、《靈樞素問》三經為醫書之鼻祖，厥後而漢唐而宋元而明清，代有傳書，獨兒科專集寥落如晨星，且皆缺而不全，雜而不純，泥古而不通今，構虛而不核實。雖鄙陋如守真，愚鈍如守真，猶知醫之難在乎順天之時，測氣之偏，適人之情，體物之理，合名物象數兼賅之為難也。</p>
<p>兒科之難在乎不精方脈婦科，透徹生化之源者不能，作兒科之尤難上難也。嬰兒肌膚薄，營衛疏，觸感則萬端傳變；臟腑柔，骨筋脆，遇傷則全體動搖。前賢云：小兒有病，外不過六淫，內不過胎毒飲食。創是說者輒謂治小兒之病不難，孰知小兒之喜怒哀樂較成人更專且篤乎。無病之兒賴父母，有病之兒賴乎醫。父母唯恐其兒之飢而不慮其過飽，唯恐其兒之寒而不慮其過暖，實不知飽暖太過即致病之媒也。兒有病而延醫，則治病之權責在醫。</p>
<p>昔醫云小兒純陽，此丹灶家言謂其未曾破身耳。因誤會純陽二字，有病恣用苦寒，苦能滲濕，殊不知人　蟲也，兒體本屬濕土，濕重者肥，濕輕者瘦，安可盡滲其濕而令兒枯槁乎。寒能瀉火，更不知唯壯火可減，少火則兒所賴以生者，愈瀉愈瘦，愈化愈燥，重伐胃汁，勢不變為痙厥者幾希。甚至感本外標，用羌、防、柴、葛、麻黃、細辛以虛其腠理；邪非內實，用蠍、蚣、腦、麝、芫花、大戟以削其元精，小兒何辜，冤成大錯，言之痛心。李士材曰：用古方療今病，不啻折舊料改新房。誠哉是言也。夫藥以治療，有是病而服是藥病當之，無是病而服是藥氣當之。治未藥之病則但求其中的，治誤藥之病則病不免於牽纏。守真不才，爰將生平實驗著兒科，顏曰萃精，以表閱兩寒暑聚精會神之微意也。</p>
<p>竊謂小兒稚陽未充，稚陰未長，證宜詳表裡陰陽虛實寒熱，方宜按君臣佐使性味功能，稍呆則滯，稍重則傷，稍不對證則莫知其鄉，本斯意以成編。誰非父母，誰無兒子，所愿注目先機防汛，永慶築堤之固，羅胸定算，臨渴無憂掘井之艱，天下之兒皆壽，此守真朝夕虔　，壽世壽民之一瓣心香也。</p>
<p><u>民國十八年十月既望閩侯陳守真自序於漢口法租界三德裡之醫室</u></p>
<h2>凡例</h2>
<p>一是書以普及兒科醫學常識為職志，凡家置一編披覽記憶，便得保赤誠求之要道。</p>
<p>一小兒病證共分三十六門，每門先有詳細講解，次則各證必分其種類，各病必究其原因，對證下藥，無庸假借，古方固不可磨滅，然參以數十年臨證經驗治之而應如桴鼓者，不敢不筆之於書。</p>
<p>一總論中護胎並臟腑生成諸說，為父母者不可不知，壽夭之征，勿疑為偽，變蒸之日，莫信為真，此亦育兒者所當領悟也。</p>
<p>一兒之初生調護得宜，易於撫養，自能出險境而入坦途，本門所列諸證頗詳，足供采擇。</p>
<p>一兒之身體諸病彰明較著，然面部之五臟部位顏色苗竅及五聲之如何能聽，指紋之如何能驗，周歲脈之如何能切，病狀之如何能勘，皆詳述於本門之首數節，並附圖說以方參考。</p>
<p>一風寒暑濕燥火六淫之氣，小兒最易感受，各門各有區別，細閱各本門證治自有把握。</p>
<p>一小兒感冒風寒，或夾食，或夾熱，或夾驚，皆非單純觸受六淫之氣，其治法亦各不相同，故另立一門以醒眉目。</p>
<p>一小兒時疫之病最不耐受，稍一延誤，蜂起變端。其時以疫為名，即疫因時而異。本門分時疫、瘟　、痧疹暨風溫、暑溫、秋疫、冬溫諸病證較易辨認。</p>
<p>一驚風為小兒要證，此名訛傳已久，難於變更，故雖辨其實之非仍沿其名之舊。但不特天釣內釣不得謂之驚，即慢脾風亦不得謂之驚，審證關頭不容含混。</p>
<p>一小兒癇證，時俗多誤認為驚風者，不足道矣。然以癇論癇，除驚癇一證外，尚有陰陽風痰食及心肝脾肺腎五臟諸癇，均詳本門。</p>
<p>一小兒種痘之簡單，可免出痘之危險。其法至善，然未種之先既種之後有宜特別注意者，本門分條羅列，層次不紊。即未種而自出之痘，法亦不能偏廢，本門又列專條以括其全。</p>
<p>一小兒麻疹再無種法，為小兒萬不能免之一大宗，本門證治條列詳明，知此則不必驚慌，不容疏忽。若瘙疹、癮疹，蓋痘疹皆與正疹治法不同，特為揭出，以示區別。</p>
<p>一小兒霍亂一證，與尋常偶吐偶瀉懸殊，非徒干與濕殊，即先瀉後吐與先吐後瀉亦殊。細閱本門，便分涇渭。</p>
<p>一小兒疳症種類繁多，且最易成此疾，不特五臟暨眼鼻腦脊蛔有疳之名，即疳熱、疳渴、疳瀉、疳痢、亦有疳之實，其他無辜、丁奚、哺露諸疳，均宜杜漸防微，為未雨綢繆之計。</p>
<p>一小兒瘧輕於痢，痢重於瘧，人皆知之。然瘧有風寒暑濕食之分，痢有寒熱血噤口休息之分，更有一種時痢及痢脫肛者，並先痢後瀉，先瀉後痢諸名目，各本門列舉無遺，閱者察之。</p>
<p>一小兒疝證，有屬寒者，有屬濕熱兼寒者，有屬胎者，以及陰腫、小腸氣諸名目。本門逐一縷晰，以便揣摩。</p>
<p>一小兒淋證往往有之，本門分寒熱右血四種，依法施治，皆有途徑可循。</p>
<p>一小兒黃膽，有陰陽之別，理所至明，然相差一黍，不但觀其外表，且須察其內因。本門解釋已無余蘊。</p>
<p>一小兒之痰血汗，皆不宜多外溢。然痰有燥濕，血有衄吐便溺，汗有自盜之分，各本門闡發無遺，且汗本門附有外治一法。</p>
<p>一小兒咳嗽，極易發生，然肺寒肺熱食積風寒，認證不差，尚稱易治，獨百　嗽一證，每至糾纏不愈，肺臟損傷本門，此證舉一簡便治法，依法治之，甚有靈效。</p>
<p>一小兒喘證，或因火熱，或因肺虛，或因風寒，或因痰飲，治之合法，均不足慮，惟馬脾風一證，最急最危，稍遲不救，若照本門治法，則可轉危為安。</p>
<p>一小兒尋常吐瀉，皆所恆有，然吐有傷食傷乳，夾驚痰飲，虛實寒熱蟲之分，瀉有傷乳中寒，脾虛臍寒，驚飧水火之分，一切證治，均詳於各本門。</p>
<p>一小兒食積為輕，癖積為重，皆不能混亂雜治，致體已虛而積仍未消，以瀕於危，參看各本門證治，自覺胸有成竹。</p>
<p>一小兒水腫，或上身腫，或下體腫，或通身腫，且有陽水陰水之分，宜細體認，始免差錯，更有氣虛浮腫一證，切勿誤認為水腫，特另附於本門之末，以昭鄭重。</p>
<p>一小兒腹脹，不可視為故常，宜分虛實寒熱，其或虛者兼寒，實者兼熱，真寒似熱，真熱似寒之類，極要認清，細閱本門，解釋分證，自能一目了然。</p>
<p>一小兒三消之證，上消為消渴，中消為消飢，下消為消濁，及早施治，斷不至由上消而傳變為中下二消，則無不愈矣。</p>
<p>一小兒頭痛，與成人不同，只有風寒內熱二證，其余小兒雖無，各證亦詳敘於本門，解釋之首段以資研究。</p>
<p>一小兒腹痛之證，不外傷食感寒蟲積及內食外寒四種，尤以蟲積為最要，蓋此證治法，不但止其痛，且當化其蟲，最後更當培其脾土，則蟲不再生矣。</p>
<p>一雜證一門，兼收並蓄，凡不屬於各專門者，皆列本門，以補其缺，外治九法，以輔內藥之進行，最簡最捷，有益無損，故附列雜證門之後，以便翻閱。</p>
<p>一小兒誤服反藥時，或有之不得不思解救之法，以策萬全，亦附於外治法之後。</p>
<p>一是書各門列方，皆從多年經驗而得，所患何病，可服何藥，但求中病之適可而止。蓋小兒之病，參互錯綜，惟不誤證不誤藥，雖病仍可轉為無病。區區一片婆心，尚冀高明匡其不逮，閱者諒之。</p>
<h2>卷一</h2>
<h3>總論</h3>
<h4>胎嬰說</h4>
<p>上古元氣渾龐，太和洋溢，八風正而寒暑調，六氣勻而雨　若，故胎元之受於父母也濃，迨開辟既久，人物繁植，發泄過傷，水旱刀兵，災　迭見，而況膏粱藜藿，遭遇不同，殫精竭神，耗傷元氣，故胎元之受於父母也薄，賦稟既分濃薄，斷不能執古方以治今病可知矣。</p>
<h4>護胎說</h4>
<p>天地好生，萬物化生，胎元長養，關乎造化自然，茲將成胎之後，照《顱囟經》按月次第列之。</p>
<p>一月為胞胎，精氣凝也。</p>
<p>二月為胎形，始成胚也。</p>
<p>三月陽神為三魄。</p>
<p>四月陰靈為七魂。</p>
<p>五月應五形，分五臟也。</p>
<p>六月應六律，定六腑也。</p>
<p>七月精竅開，通光明也。</p>
<p>八月元神具，降真靈也。</p>
<p>九月宮室羅布，以御外侮。</p>
<p>十月受氣足，萬象成也。</p>
<p>觀上列則知胎元長養，本乎天之自然，非由於人之勉然，古人胎教，茲不贅言，惟妊母以臟氣護胎，凡母之飽飢勞逸，喜怒憂驚，飲食寒溫，起居慎肆，皆與胎嬰有密切之關系，竊愿以節飲食、適寒暑、戒嗔怒、寡嗜欲，為妊母勖之。</p>
<h4>臟腑生成說</h4>
<p>一月之孕如白露，二月如桃花，三月先生右腎則為男，陰包陽也，先生左腎則為女，陽包陰也。</p>
<p>其次腎生脾，脾生肝，肝生肺，肺生心，腎屬水，故五臟為陰。</p>
<p>其次心生小腸，小腸生大腸，大腸生膽，膽生胃，胃生膀胱，膀胱生三焦，小腸屬火，故六腑為陽。</p>
<p>其次三焦生八脈，八脈生十二經，十二經生十二絡，十二絡生一百八十絲絡，絲絡生一百八十纏絡，纏絡生三萬四千孫絡，孫絡生三百六十五骨節，骨節生三百六十五大穴，大穴生八萬四千毛竅，由是五官八骸之身，可稱完備。</p>
<h4>論兒之壽夭</h4>
<p>頭角豐隆，髓海足也，壽。背脊平滿，臟腑實也，壽。腹皮寬濃，水穀盈也，壽。肉實者脾足，壽。筋強者肝足，壽。骨堅者腎足，壽。不妄言笑者心足，壽。不多啼哭者肺足，壽。哭聲連續者肺實，壽。不久眠睡者脾實，壽。肌肉溫潤，榮衛和也，壽。人中深長者，壽。臉妍如桃，發黑如漆者，表氣實也，壽。小便清長，大便滋潤者，裡氣實也。壽。</p>
<p>以上列舉皆主壽相。</p>
<p>顱破項軟者，陽衰於上。　小腳　者，陰衰於下。鼻孔干燥者肺枯，唇縮流涎者脾冷。發稀者血衰。形枯色灰者表虛。瀉利無時者裡虛。青紫之筋散見於面者，多病風熱。</p>
<p>瘡疥啼哭，多笑語者，皆陽火妄動之候。</p>
<p>以上列舉，雖主夭相，亦在撫兒者善為調護耳。</p>
<h4>辨兒之變蒸</h4>
<p>變蒸之說，亙古所無，至兩晉王叔和始一言之，迄隋唐巢氏以來，其說更繁，蓋謂小兒變蒸，以初生至三十二日為一變，六十四日為一蒸，變者變生五臟，蒸者蒸養六腑，積五百七十六日而畢，如蠶之有眠，龍之脫骨，虎之轉爪，已屬隔靴搔癢之談，更有主天一生水之說者，有主木火相生之說者，有主木金相克之說者，皆非也，若謂小兒至變蒸之日，必身熱或夾驚，而口面唇舌俱不變色，身熱或輕或重，而精神與常無異，乃考其變蒸之方，竟有乳母宜服小柴胡湯以解之，甚至用褊銀丸之巴豆、水銀、黑鉛、京墨、麝香之類而峻下之，此誠不值一笑矣。予平日臨證之經驗，未見一兒依變蒸之期而發熱者，有自生至長未嘗發熱者，有生下十朝半月而常多作熱者，豈變蒸之期可以更改耶，況小兒有病，非外感，即內傷，未聞有無因而病者，豈有病即可以變蒸為病因乎，知此則不辨自明矣。</p>
<h2>卷二</h2>
<h3>初生門</h3>
<h4>初生保護</h4>
<p>甲、穿衣不宜過暖，最好用老人舊襖舊　，改作衣衫，取其真氣相滋，令兒多壽，蓋被用新彈舊棉絮最佳。</p>
<p>乙、睡時不宜枕臂，須制小枕，或裝綠豆殼，或裝蘆絮，左右調換側臥為安，勿使正面仰臥，恐易釀成驚疾，又小兒同母睡時，切忌鼻風口氣吹兒囟門，致成風疾。</p>
<p>丙、燈火切不宜炙，古法有初誕之時，便用燈火於頭額發際灸之，又有用全身燈火，按穴灸之，彼以為有經有府，有理有法，能截風路，適足以大開風門，戒之戒之。</p>
<p>丁、初生百日之內，不宜豎抱，恐有頭傾項軟，天柱倒側之虞，半歲前不可獨坐，恐有龜背傴僂之疾。</p>
<p>戊、衣服自初生至十歲，不可夜露，因有鳥名天地如，一名隱飛鳥，純雌無雄，最喜夜出飛鳴，落羽毛於兒衣中，令兒作病，如衣經夜露，可即用醋熏之。</p>
<h4>附養子十法</h4>
<p>一要背暖。二要臍暖。三要足暖。四要頭涼。五要心胸涼。六要勿見怪物。七脾胃常要溫。八啼未定勿便食乳。九勿服輕粉、朱砂。十少洗浴。</p>
<h4>初生拭口</h4>
<p>嬰兒初離母體，口有液毒，啼聲一出，隨即咽下，而毒伏於命門，他日發為驚熱、瘡瘍、惡痘等症，須於未啼時，急用絲棉裹指，挖退場門內濁穢，以清臟腑經絡。</p>
<p>至月內拭口解毒，有用胭脂蘸茶者，有用黃連浸汁者，有用朱砂蜜者，有用豆豉汁者，有用金銀花湯者，有用三黃湯者，有用京墨磨茶者，有用淡薑湯者，其法不一。</p>
<p>〔真按〕：新產小兒，胃氣未動，混一清虛之府，只用生甘草末少許，煎湯不可太甜，輕輕擦之，或用淡鹽茶，均為穩妥，至拭口之後，以胡桃肉去皮嚼極爛，以薄絹包如小棗，納兒口中，使吮其汁，非獨和中，且能養臟，亦佳法也。</p>
<h4>初生斷臍</h4>
<p>兒在胞胎十月，止於臍中與母通氣，雖出胞胎，其臍中所通之氣，猶未盡絕，剪斷臍帶，當以六寸為度，不可過為短長，短則傷臟，長則損肌，其束臍當用軟絹新棉裹之，以避尿濕風邪，此預防臍風第一要法。</p>
<p>〔真按〕古法用胡粉散敷臍帶間，或用烙臍餅子，安灸臍上，及用艾丸浸油熏燒臍帶，均有流弊，但俟臍帶自落時，以封臍散摻之，再蓋以小膏藥，如濕再換，以干為度。</p>
<h4>初生洗浴</h4>
<p>臨浴時須擇無風密處，適可而止不可久坐水中，冬月恐其受寒，夏月恐其傷熱。其湯古用虎頭骨、桃枝、金銀器、豬膽汁煎湯洗之；或用桃槐桑梅柳五枝加豬膽汁洗之，以去污穢而潤肌膚，並可使兒少驚，亦不多生瘡疥。</p>
<p>〔真按〕洗浴當護兒背，以防風寒從背入，而成癇風，又需掩好肚臍，勿令潮濕，恐生撮口臍風，其湯只用鮮菖蒲金銀器煎洗，尤為簡切。</p>
<h4>初生哺乳</h4>
<p>凡初乳先須捏去宿乳後與之。</p>
<p>凡母欲寐即奪其乳，恐睡困不知飽足，亦防兒之鼻風吹乳，變成外吹。</p>
<p>嬰兒半歲以內，只可吃乳，出六個月，方可與稀粥，然腸胃尚脆而窄，不可與乳同吃，恐乳食相並，難以克化。</p>
<h4>初生乳核</h4>
<p>嬰兒初生，兩乳必有核子，歷久不散，則腫硬成毒，啼哭不已，須常常將兩乳揉去乳汁，其核自消。</p>
<h4>初生剃頭</h4>
<p>嬰兒彌月，剃頭，須向密室溫暖處剃之，因其氣血未盈，寒風易入，剃後須用杏仁三枚，研細，薄荷三葉再同研，將麻油滴三四點，合膩粉拌勻擦頭上，能避風邪，免生瘡癤熱毒等症。</p>
<p>〔真按〕剃胎頭不用熱湯，只用煮熟雞子黃去白一個乘熱擦頭，比湯洗尤覺柔滑易剃，可免濕氣傷風。</p>
<h4>初生無皮</h4>
<p>兒初生下，滿身無皮，但是紅肉，其證有二：（甲）因父母素有楊梅結毒，傳染胞胎，故生下或上半身赤爛，或下半身赤爛，甚至色帶紫黑者。（乙）因月分未足，生育太早，遍體浸漬，紅嫩而光，二證俱是險惡之候。</p>
<p>（甲）證因父母遺毒而無皮者，古法內服換肌消毒散（如當歸、生地、赤芍、川芎、皂刺、土茯苓、銀花、連翹、生甘草、白芷、苦參、白鮮皮、防風，引用燈芯等味），外敷清涼膏（用鍛石粉水泡露一宿，面上浮起如云皮者，輕輕取之，微帶清水，對小磨香油順攪成膏），或用雞黃散（如黃柏、石膏，各等分　研細末），濕則干撲，干則用豬膽汁調塗。（乙）證因胎元不足者，古法內服當歸飲（如何首烏、白鮮皮、白蒺藜、甘草、當歸、生地、白芍、人參、黃　、川芎等味），外用早稻白米研細粉，時時撲之，其皮漸生。</p>
<p>〔真按〕內服多味湯藥，斷非兒體所能勝。（甲）證只用金銀花、生甘草、煎湯服之，外加蘆甘石研粉，調雞子清塗之。（乙）證不必服藥，只用頂好粳米，此米產自福建省，次則江西弋陽縣所出，遜於閩產，研極細粉，撲之，較為平穩。</p>
<h4>初生胎黃</h4>
<p>兒生遍體面目皆黃，其色如金，此因孕婦濕熱太盛，兒胎在母腹中，久受濕熱熏蒸，蘊毒致生此症，有微黃深黃之別，症輕者為微黃，古法用生地黃湯（如生地、赤芍、川芎、當歸、赤苓、澤瀉、豬苓、天花粉、生甘草、茵陳蒿，引用燈芯等味），症重者為深黃，古法用犀角散（如犀角、茵陳篙、栝蔞根、升麻、生甘草、龍膽草、生地、　寒水石等味），皆以滲濕清熱為法。</p>
<p>〔真按〕微黃只用茵陳蒿、豬苓、澤瀉、生甘草四味，深黃只用茵陳蒿、細生地、赤苓、滑石、生甘草、燈芯六味足矣，不必多劑。</p>
<h4>初生胎赤</h4>
<p>兒生頭面肢體，赤若丹塗，名曰胎赤，此因孕婦過食辛熱之物，歷久熱毒凝結，蘊於胎中所致，古法用清熱解毒湯（如生地、黃連、金銀花、薄荷葉、連翹、赤芍、木通、生甘草，引用燈芯等味）。熱盛便秘者，古法用蔣氏化毒丹（如犀角、黃連、桔梗、玄參、薄荷葉、生甘草、大黃、青黛，引用燈芯等味）。</p>
<p>〔真按〕遍體色赤，不熱不腫，只用銀花、連翹、赤芍、生甘草、燈芯五味，毒可解而熱亦可清，即使熱盛便秘，再加黃連少許可耳。</p>
<h4>初生不啼</h4>
<p>兒生落地，啼聲即發，可謂形生命立，若不啼則有二原因，一因生產艱難，氣閉不通，二因時值天寒，為寒所迫，氣閉者，古法用蔥鞭背，輕輕擊之，取其蔥辛通氣，擊動醒神也，寒迫者，切勿剪斷臍帶，古法急用棉絮包裹，抱於懷中，用紙捻蘸油點火，於臍帶下往來熏之，令火氣由臍入腹，寒得溫散，氣得暖通，自然啼聲漸出矣。</p>
<p>〔真按〕鞭背熏臍二法，均可仿行，惟因氣閉者，一時無蔥，不能久懸以待，即用手法輕擊亦可，寒逼者，兼用熱醋湯燙洗臍帶尤妙，更有啼不出聲音，急需細看牙齦有黃筋兩條，或上　有白泡，或舌下如石榴子，以蘆葦削作刀割之，無蘆葦，速用銀針輕輕刮破，或用指甲摘破，並將泡內白米取出，以棉拭去惡血，勿令咽下，破處以豬乳點之，要豬婆，初次有乳更佳，但甚難覓耳，或以八寶京墨擦之，均能立刻見效。</p>
<h4>初生不乳</h4>
<p>不乳，謂初出胞胎不吮乳也，其故有二，（甲）因臍糞未下，能令小兒腹滿氣短，嘔吐不乳，古法用一捻金（如大黃、黑丑、白丑、人參、檳榔，各等分），研為細末，以少許蜜水調服。（乙）因兒母過食寒涼，胎受其氣，兒必腹痛多啼，面色青白，古法用勻氣散（如陳皮、桔梗，炮薑、砂仁、木香、炙甘草，研末），每服五分，紅棗煎湯調服。若四肢厥逆者，古法用理中湯（如人參、土白朮、乾薑、炙甘草，引用紅棗肉等味），隨症分別治之。</p>
<p>〔真按〕（甲）證用一捻金，藥力過猛，只宜用生甘草末一分，黃連末少許，煎服以下臍糞。（乙）證用勻氣散，散氣傷元，即兼厥逆，只宜用淡乾薑炙甘草煎湯，徐徐與飲，可以回陽，不傷元氣，更有一法，用蔥管一寸長者三段，即將產母乳一小杯，同蔥放杓內熬滾，稍候與飲，便能吮乳。</p>
<h4>初生不小便</h4>
<p>不小便者，乃胎熱流於下也，古法用導赤散（如生地、木通、生甘草、引用竹葉、燈芯等味）。熱盛者，古法用八正散（如　蓄、瞿麥、滑石、木通、赤苓、車前子、生大黃、生梔子，引用燈芯等味），外貼臍上，用豆豉膏（如淡豆豉、田螺、蔥，共三味，共搗爛，以芭蕉汁調貼臍上）。</p>
<p>〔真按〕初生雖屬熱盛，不宜用八正散大劑，損兒臟腑，亦不必用外貼豆豉膏，反引臍風，即導赤散原方，古稱木通，即今之通草，氣味懸殊，不可不辨，只須用通草、生甘草、燈芯三味，自無不利小便矣。</p>
<h4>初生不大便</h4>
<p>小兒初生之日，或次日即大便者，俗云下臍屎，此腸胃通和，幽門潤澤也，若至二三日不大便者，名曰鎖肚，乃胎中受辛熱之毒，氣滯不通也，其兒必面赤腹脹，不乳多啼，古法先用朱砂蜜治之，設若不應，再酌用一捻金與之（方見不乳），繼令婦人以溫水嗽口，吸吮小兒前後心，兩手足心、臍下、共七處，以皮見紅赤色為度，可通大便。</p>
<p>〔真按〕朱砂鎮墜損神，不宜輕用，一捻金更勿論矣，惟有吸吮前後心手足心臍下七處，盡可仿行，或用生甘草末加黃連末少許，沸湯浸漬片刻，服之亦無妨礙。</p>
<h4>初生二便不通</h4>
<p>小兒初生，大小便俱不通者，最為急候，乃胎中熱毒而成也，若延至七日謂之一臘，肚腹硬脹，常作呻吟，則難痊矣，古有急用口咂五心臍下法，再以木通散行其熱（如木通、車前子、　蓄、瞿麥、赤苓、山梔、滑石、黃芩、大黃、生甘草，引用燈芯等味），或以紫霜丸開其結（如代赭石，赤石脂、杏仁、巴豆等味），為急救之法，或用生地龍數條，蜜少許，同研勻敷陰莖上，內用蟬蛻紙燒灰，入朱砂、龍腦、麝香各少許，麥冬燈芯煎湯，調灌口中即通。</p>
<p>〔真按〕嬰兒具薄弱柔嫩之質，木通散清熱太過，紫霜丸開結更太過，俱不宜輕試，即以生地龍調蜜敷用，亦未合法，腦麝香竄之藥，尤非所宜，只要婦人吃吮前後心七處，兩手足心連臍下在內，若仍腹脹氣悶，急以乳汁加蔥白汁少許，調勻抹兒口中，與乳吮下，再以硬蔥輕輕插入糞門，須臾即通。</p>
<h4>初生眼不開</h4>
<p>眼不開者，因孕婦姿情濃味，熱毒熏蒸，以致熱壅兒脾，眼胞屬脾，其脈絡緊束，故不能開也，古法用內服生地黃湯（如生地、赤芍、當歸、川芎、天花粉、生甘草等味），外用熊膽、黃連各少許，以滾湯淬洗為法。</p>
<p>〔真按〕上下眼胞屬脾土，既因熱蘊於脾，自當以瀉脾火為宜，生地黃湯內歸、芎二味應刪，外洗熊膽、川連，亦嫌猛涼，但用金釵石斛、生白芍、生甘草各少許，煎湯飲之，外用軟帛浸淨涼開水洗之，其目自開。</p>
<h4>初生吐不止</h4>
<p>兒自胞胎既脫以後，有因便秘腹中，穢惡不淨，令兒腹滿，其吐不止者，古法主一捻金，（方見不乳），若生育時觸犯寒邪，入裡擾胃，則曲腰而啼，吐沫不止者，古法主香蘇飲以溫散之（如藿香、蘇葉、厚朴、陳皮、枳殼、茯苓、木香、炙甘草，引用生薑等味）。又有胎前受熱，面黃赤，手足溫，口吐黃涎酸黏者，古法主黃連二陳湯（如半夏、陳皮、茯苓、甘草、黃連，引用生薑等味）。</p>
<p>若胎前受寒，面青白，四肢冷，口吐清稀白沫者，古法主理中湯（方見不乳）。</p>
<p>〔真按〕初生即吐不止，胃寒胃熱，大有區別。如胃熱，但用淡竹茹、生甘草，煎服；若胃寒，但用淡乾薑、炙甘草，煎湯服下，便可止吐。</p>
<h4>初生肛門內合</h4>
<p>小兒初生，肛門內合，有二原因，一因熱毒太甚，壅結肛門，古法用內服黑白散（如半生半炒黑牽牛、白牽牛、生大黃、檳榔、陳皮、生甘草等味）研末以溫蜜湯調化，外用蘇合香丸（如蘇合香油、安息香、丁香、木香、檀香、沉香、蓽茇、香附、訶子、烏犀、朱砂、熏陸香、片腦、麝香等味為丸作棗核狀），納入孔中，二因脂膜遮瞞，無隙可通，古法先以金玉簪透之，刺破脂膜，再以蘇合香丸照前法導之。</p>
<p>〔真按〕熱毒壅結，斷不宜用黑白散，以損薄脆之腸胃，但以生甘草末加黃連末少許，煎湯服之，已足清熱潤腸。至糞門有一膜，名悶臍生，薄者以手微拍之，則膜破可通，濃者以金玉簪輕刺之，套以油紙捻，不使再合，即使穀道無孔，治法也不外是。</p>
<h4>初生噤口</h4>
<p>小兒噤口之證，失治多致不救，其候舌上生瘡，如粟米狀，吮乳不得，啼聲不出，因胎熱所致也，古用清熱疏利之法，主龍膽湯（如柴胡、黃芩、生甘草、鉤藤鉤、赤芍、煨大黃、龍膽草、檳榔、桔梗、赤苓，引用棗肉等味）。若肚腹脹硬，二便不通者，主紫霜丸（方見二便不通）。又有一種口吐白沫，牙關緊急者，此胎熱內結，復為風邪外襲，主秘方擦牙散（如生南星、龍腦、二味，共研極細末，用指蘸合生薑汁，放大牙根擦之，立開，如不開者，其藥設法吹入小兒鼻內，立時即刻開關），次服辰砂全蠍散（如辰砂、全蠍、硼砂、龍腦、麝香五味研極細末，以乳母唾調抹口唇裡及牙齦上，證退），再以勻氣散（方見不乳）調和脾胃。</p>
<p>〔真按〕噤口系熱毒流於心脾，胎中久蘊，故生後遂發於口舌之間，一名鵝口瘡，倘治之稍遲，必口舌糜爛，難於痊愈，急宜清熱瀉脾，但用金釵石斛、黃連、生地、赤苓、燈芯五味各少許煎服，外用枯白礬、朱砂、馬牙硝，研末，名保命散，以冷開水調塗舌與口角上，白退自安。</p>
<h4>初生撮口</h4>
<p>撮口者，口撮如囊而不乳也，舌強唇青，面色黃赤，亦系心脾之熱，受自胎中而然也，其證為危候，急當隨證治之，如氣高痰盛者，古法主辰砂薑蠶散（如辰砂、薑蠶、蛇蛻皮、麝香四味研末），用蜜調敷唇口，二便秘結者，古法主紫霜丸（方見二便不通），身熱多驚者，古法主龍膽湯（方見噤口），手足抽搐者，古法主撮風散（如赤腳蜈蚣、鉤藤鉤、朱砂、直僵蠶、全蠍尾、麝香等味，以竹瀝汁調服）。</p>
<p>〔真按〕撮口為初生七日內之篤疾，若口出白沫，四肢冰冷，尤為惡候，急看兒齒齦上，有小泡子如粟米狀，以棉裹紙蘸溫水，輕輕擦破，用青黛、冰片、略塗口內，即能吮乳，不必服藥，或用朱砂僵蠶散調敷唇上，可以采用，或研真西牛黃末少許，調竹瀝汁沫兒口中亦佳。</p>
<h4>初生臍濕臍瘡</h4>
<p>兒生久坐水中，任意洗濯，或包裹時，水濕浸臍，尿濕浸臍，遂致肚臍浸漬不干，名曰臍濕，古法用滲臍散（如　龍骨、紅棉灰、焙歸頭，三味研末摻之，或用白羯子即　子，燒灰敷上。）若漬濕已久，　赤成瘡，名曰臍瘡，古法用金黃散（如黃連、胡粉、龍骨等味），敷之可愈。</p>
<p>〔真按〕肚臍濕氣，最易惹起臍風，急治以防變狀，只用枯白礬、　龍骨、研極細末，干撒臍中，至已成臍瘡，或出血及膿，金黃散中黃連一味，仍嫌寒涼過甚，用海螵蛸、胭脂，共為末，摻之極易收干。</p>
<h4>初生臍突</h4>
<p>嬰兒熱在腹中，無所發泄，故頻頻呻引，睡臥不寧，努脹其氣，沖入臍間，所以臍忽腫赤，虛大光浮，名曰臍突，此乃胎熱所致，非斷臍不慎之過也，口法用內服犀角消毒飲（如防風、荊芥、炒牛蒡子、金銀花、生甘草，煎熟，入犀角細末，調勻服之），外敷二豆散（如赤小豆、淡豆豉、天南星、白蘞為末，以芭蕉汁調敷臍上，可散毒熱而愈）。</p>
<p>〔真按〕臍忽腫突，最忌外敷寒涼之藥，恐寒凝毒熱，反足為害，內服亦不宜太涼，只用金銀花、生甘草煎湯，外以豬板油調　龍骨、胡粉、敷臍周遭，俟小便一暢，則突自消。</p>
<h4>初生臍風</h4>
<p>臍為百風總竅，五臟寒門，小兒之根蒂也，兒在胎時，口鼻未通，呼吸惟臍間真息，隨母之呼吸為呼吸，其下地呱呱一聲，氣通口鼻，而胎元之一息，不復為用，遂寄於臍內一寸三分，中虛一穴，名曰神闕，穴近三陰，喜溫惡涼，喜干惡濕，惟不知慎重，致水濕風冷之氣，入於臍中，兒必腹脹臍腫，吮乳口松，或多啼不乳，此臍風將作之候也，古法用驅風散（如蘇葉、防風、陳皮、厚朴、枳殼、木香、僵蠶、鉤藤鉤，引用生薑等味）。</p>
<p>〔真按〕散風消導，未免太過。</p>
<p>若寒邪深入，已成臍風，古法又分別所兼之形證治之。</p>
<p>（甲）肚腹脹硬，大便不通者，風兼實也，主黑白散（方見肛門內合）。</p>
<p>〔真按〕嬰兒未下臍糞為實，不宜重攻，大傷元氣。</p>
<p>（乙）面青肢冷，二便不實者，風兼虛也，主理中湯（方見不乳）。</p>
<p>〔真按〕以參朮補虛，未免呆滯。</p>
<p>（丙）痰涎涌盛，氣高喘急者，風兼痰也，主辰砂僵蠶散（方見撮口）。</p>
<p>〔真按〕以此散調敷唇口，不得已可用少許，但不宜多。</p>
<p>（丁）身體壯熱，面赤口乾者，風兼熱也，主龍膽湯（方見撮口）。</p>
<p>〔真按〕此方過涼，蜣螂尤不宜用。</p>
<p>（戊）面青嘔吐，曲腰多啼者，風兼寒也，主益脾散（如茯苓、人參、草果、木香、炙甘草、陳皮、厚朴、紫蘇子各等分，每服一錢，薑棗湯調服）。</p>
<p>〔真按〕此方有補、有滲、兼疏散，甚難。</p>
<p>（己）撮口唇青，抽搐不止者，風兼驚也，主撮風散（方見撮口）。</p>
<p>〔真按〕此方蜈蚣、蠍尾、麝香等味，萬不宜試。</p>
<p>若臍邊青腫，爪甲均黑，口噤不開，是為內抽，不治。臍風見於一臘者（即七日）血脈未凝，病已中臟，不治。百日內見此證，手足蜷者亦不治。</p>
<p>說明：臍風惡候，有內外二因。</p>
<p>外因：臍有濕氣，客風乘虛而入，內傷於腎。腎傳肝，肝傳心，心傳脾，脾傳肺，蘊蓄其毒，發為臍風。</p>
<p>面赤啼叫者心病，手足抽搐者肝病，唇青口撮者，痰涎壅盛者脾病，牙關緊急者腎病，啼哭不止者肺病。</p>
<p>五臟之症，略見一二者，猶可治，全見者不治。</p>
<p>內因：稟父母真陽不足，必發於六七日之間，病在於五臟，故不可治。</p>
<p>〔真按〕此症先以簡便之法行之。</p>
<p>（一）兒兩乳內有小核，宜輕緩常常搓之，以化為度。</p>
<p>（二）兒齒齦上有小白點泡，以溫水蘸青布，或絲棉裹指，輕輕擦破，此法出在臟經，切勿藐視。</p>
<p>（三）吸吮兒之前後心、手足心、臍下七處。</p>
<p>外敷用黃柏末、釜下墨、亂髮灰各等分，研勻干摻之，或以油調敷之。若腫硬如盤，前散再加麝香少許敷之可痊。</p>
<p>至隨證分別內服湯劑，有風而兼虛、實、寒、熱、痰、驚，所兼何症或幾症，非臨時詳辨，不敢率擬。</p>
<p>再古法有用全身燈火，按穴灸之，使兒徒受痛苦，於病無益，萬勿輕試。</p>
<h4>初生啼哭不止</h4>
<p>小兒初生，不妄哭者易養，如日夜啼哭不止，為母者以誠求之，渴則飲之，飢則哺之，痛則摩之，癢則抓之，其哭止者，中其意也，如仍不止，而又日夜大哭者，肝熱也，古法主瀉青丸（如羌活、川芎、黑梔仁、龍膽草、當歸、防風、大黃，研末，煉蜜為丸，青黛為衣），清茶化下。若日夜啼哭，身熱煩躁者，心熱也，古法主導赤散（方見不小便），煎湯溫服。</p>
<p>〔真按〕因肝熱而啼，不過清肝熱，不必多味，但用石決明、生甘草、燈芯三味，煎湯服之，若因心熱而啼，不過瀉心熱，但用淡竹葉、方通草、生甘草三味煎服，中病而止。</p>
<h4>初生夜啼</h4>
<p>夜啼之症有二，一因脾寒，二因心熱，皆受自胎中，觀其形色，便知病情，但見兒之面色青白，手腹俱冷，不欲吮乳，曲腰不伸者，脾寒也。古法主鉤藤飲（如川芎、當歸、茯神、白芍、茯苓、甘草、木香、鉤藤鉤，引用紅棗）。若面赤唇紅，手腹俱熱，小便不利，煩躁多啼者，古法主導赤散（方見不小便）。</p>
<p>〔真按〕寒則腹痛而啼，多在下半夜，蓋夜則陰盛，寒則作痛，所以夜半後啼也。但用淡乾薑、制烏藥、炙甘草，煎服；熱則心躁而啼，多在上半夜，或有汗仰身而啼，面赤心熱者，必是痰熱也，但用燈花三顆，研細，另用燈芯煎湯，調塗口中，以乳汁送下，最良，或用前方竹葉、通草、生甘草三味煎服亦可。若無以上形證，但多啼者，只用去翅足蟬蛻下半截五個，燈芯七寸，煎服，可以止啼。</p>
<h4>初生遍身魚泡</h4>
<p>兒初生下，遍身如魚泡，或如水晶，碎則成水，此因孕婦濕熱過重，兒在胎中感受其氣而發也。古法用密陀僧研極細末，撒之即愈。</p>
<p>〔真按〕此證濕重於熱，故不　腫，然宜速設法治之，以保全膚，惟密陀僧出銀坑者難得，今皆傾銀爐底入藥煮一伏時，辛鹹有小毒，不可用，不如以爐甘石、　龍骨，共研細末，干摻尤良。內服土茯苓、金銀花、生甘草三味，以清內之濕熱，更易收功。</p>
<h4>初生螳螂子</h4>
<p>新產月內，小兒兩腮腫硬，不乳不啼，名螳螂子，又名腮，此症少遲片刻，腫延喉鼻，則不可救，然亦最忌割治，古法用麝香、朱砂、螺螄、用搗如泥，敷囟門上，待其自干自落，切勿剝去，若極重者，將銀針微刺患處出血，以好陳墨磨塗立愈。</p>
<p>〔真按〕歷代諸書，並無割治，吳俗盛行此風，亟宜改良，不必用銀針刺血，宜速以真正八寶京墨磨濃汁頻搽患處，最妙。若以麝朱螺螄搗敷囟門上，恐因拔毒而傷元氣，苟一時難覓京墨，即用青橄欖核以好醋磨汁頻搽亦佳。</p>
<h4>初生猢猻疳</h4>
<p>小兒初生，從肛門或陰囊邊，紅暈長起，漸至遍身潰爛，即不可救，此兒受父母命門相火之毒而發，名猢猻疳，切忌洗浴，古法用牛黃、琥珀、花乳石、濂珠、川具、乳香、冰片、綠豆粉、人中黃、燈草灰，研末，開水調服。</p>
<p>〔真按〕此症先用敷藥，以生石膏、大梅片、白蠟、赤石脂、滑石、青黛，共研極細末，以哺胎雞蛋調敷患處，倘疳濕，即以藥末干摻之，俱可。然後再以生甘草煎湯，兌入金銀花露，野薔薇露，燉溫徐徐送之。若毒過重者，略加真西黃末、真西珀末、燈芯灰各少許，調湯緩服為安。</p>
<h4>初生陰囊過大</h4>
<p>小兒新生，陰囊甚大，名曰胎疝，日後長成，恐變水疝，古法俟兒過盈月後，遇端午日午時，以腳盆盛熱水，安於中堂，隨抱小兒將陰囊放水內一浸，再將小兒在於中門檻上中間一擱，其陰囊上之水，印痕於檻，將艾火在檻上濕印處燒三次，其囊逐漸收小，其效如神。</p>
<p>〔真按〕此法固甚簡便，不能盡信，但用石蟹磨好醋常常擦之，以收小為度。</p>
<h4>初生陰囊縮入腹</h4>
<p>兒初生六七日後，陰囊忽然收縮入腹，啼哭不止者，此受寒所致，古法用硫磺、吳茱萸，為末，和大蒜調塗臍下，仍以蛇床子微炒布包熨臍即下。</p>
<p>〔真按〕硫磺大毒，不宜輕用，但以吳茱萸、小茴香，共研細末，和大蒜同搗如泥，俟不冷不熱時，貼於臍下，以軟帛束之，外再以熱水袋熨之，至陰囊垂下而止。</p>
<h4>初生赤游風</h4>
<p>兒生遍體丹毒赤腫，游走不定，多由胎中毒熱而成，亦有因生後過於溫暖，毒熱蒸發於外，致皮膚赤熱而腫，色若丹塗，名曰赤游風，先發於頭面四肢之間，若內歸心腹則不治，此症不可以針刺血，古法用犀角解毒散（如犀角、牛蒡子、荊芥穗、防風、連翹、銀花、赤芍、生甘草、黃連、生地，引用燈芯等味），或用蘭葉散（如蘭葉、黃芩、犀角、大黃、柴胡、梔子、升麻、石膏、甘草，引用竹瀝等味），外以生赤小豆末調雞子清塗之，或用豬精肉切薄片，貼於患處。</p>
<p>〔真按〕丹毒乃熱毒之氣，與血相搏，而風乘之，故游走赤腫。此毒自腹內生出四肢，則易愈，自四肢入腹則難治，須趁其毒未入腎未入腹之先，內服以桑葉、金銀花、生地、生甘草煎湯，兌入竹瀝汁少許，徐徐送之。</p>
<p>外以寒水石、生黃柏、生甘草，共為末，調芭蕉汁敷之，無芭蕉汁改用新汲水亦可，再仿移花接木之法，以黃牛肉切薄片，先用黃連水浸過，貼患處干即易之，以吸收其丹毒，比用豬精肉更佳。</p>
<h2>卷三</h2>
<h3>身體諸病門</h3>
<p>（首敘四診要言）</p>
<h4>面部五臟部位</h4>
<p>額上屬心火居南。左頰屬肝木居東。鼻準屬脾土居中。右頰屬肺金居西。頦下屬腎水居北。</p>
<h4>察面色</h4>
<p>青為肝色，如面青病在肝，主多腹痛，又主驚風之證。赤為心色，如面赤病在心，主火熱。黃為脾色，如面黃病在脾，主傷食。白為肺色，如面白病在肺，主虛寒。黑為腎色。如面黑病在腎，主痛，若黑而無潤色，多是惡候。</p>
<h4>審苗竅</h4>
<p>舌乃心之苗，紅紫為心熱，腫黑為心火，淡白為心虛。</p>
<p>鼻準與牙床乃脾之竅，鼻紅燥為心熱，鼻慘黃為脾敗，牙床紅腫為脾熱，牙床破爛為心火。</p>
<p>唇亦脾之竅，紅紫為脾熱，淡白為脾虛，黑為脾將絕，口左扯為肝風，口右扯為脾之痰。</p>
<h4>聽五聲</h4>
<p>五聲者，笑、呼、歌、悲、呻。內應心、肝、脾、肺、腎五臟也。五聲不和，則五臟有病之情畢露矣。</p>
<p>心屬火，病則聲急喜笑。肝屬木，病則聲狂叫多呼。脾屬土，病則聲顫輕如歌。肺屬金，病則聲悲音濁。</p>
<p>腎屬水，病則其聲長細如呻吟。有聲有淚，聲長曰哭。有聲無淚，聲短曰啼。啼而不哭則氣不伸暢，主腹痛。哭而不啼則氣急心煩，將成驚也。　煎不安者，乃心經內熱，故煩躁不寧也。嗄聲者，啞也，聲重音濁，此為外感風寒也。</p>
<p>有餘之證其氣實，故聲雄大而壯麗。不足之證其氣虛，故聲怯弱而輕短。</p>
<p>多言，其身熱，皆陽也。陽主腑，故曰陽腑證也。</p>
<p>懶語與身涼，皆陰也。陰主臟，故曰陰臟證也。</p>
<p>狂言焦燥者，邪熱盛也。神昏譫語者，熱乘於心，故曰病勢重也。鴨聲音，聲在喉中而啞，氣將絕也。有聲音，聲無回轉而急，氣將散也。</p>
<h4>驗指紋</h4>
<p>第一節風關。第二節氣關。第三節命關。虎口，叉手處也。男先看左手，女先看右手。</p>
<p>辨紋色又當視紋形大小曲彎。</p>
<p>紅黃相兼，隱隱不見，則為平安無病。紫主內熱。紅主傷寒。黃主傷脾。黑主中惡。青主驚風。白主疳證。</p>
<p>再脈紋見下截風關為輕，中截氣關為重，上截命關為尤重，直透三關則大危。</p>
<p>如圓長者，名曰長珠紋，主飲食傷。如一點紅色，名曰流珠紋，主內熱。如上尖長，下微大者，名曰去蛇紋，主傷食吐瀉。如上大，下尖長者，名曰來蛇紋，主濕熱成疳。如形彎向中指，名曰弓反裡紋，主感冒寒邪。如形彎向大指，名曰弓反外紋，主內熱痰盛。如紋斜向中指，名曰紋斜向左，主傷風。如紋斜向大指，名曰紋斜向右，主感寒。如若直懸針，微短，名曰針紋。主痰熱。如直射如槍，微長，名曰槍紋。主痰熱。如紋直射指端，名曰透關射指紋，主脾氣大敗。如紋直射指甲，名曰透關射甲紋，主脾氣大敗。二者均病危不起。如紋似乙字者，名曰乙字紋，主驚風抽搐。如二曲如鉤，其紋主傷生冷。如三曲如蟲，其紋主傷硬物。如紋形似水，名曰水字紋，主咳嗽。如紋聯絡如環，名曰環紋，主疳病。如紋似彎蟲，名曰曲蟲紋，主積滯。如紋似魚刺，名曰魚骨紋，主驚熱。如紋似亂蟲，名曰亂蟲紋，主蛔蟲纏擾。</p>
<h4>切周歲脈</h4>
<p>小兒一歲有病，則當切脈，但部位甚小，只以一指診之，而寸、關、尺三部。胥在其中。切脈法分別詳列於下。</p>
<p>一息者，人之一呼一吸也。至者，脈之至數也。一息六至，為和平之脈，則曰無病。</p>
<p>浮脈者，輕取皮膚之上，故曰浮。其病在表，主外感風寒。</p>
<p>沉脈者，重按筋骨之間，故曰沉。其病在裡，主內傷飲食。</p>
<p>數脈七至或八至，主病在六腑，屬陽也。</p>
<p>遲脈四至或五至，主病在五臟，屬陰也。</p>
<p>滑脈如珠，往來流利，病主痰盛。</p>
<p>澀脈滯澀，往來艱難，病主血少。</p>
<p>芤脈者中取無力，病主失血。</p>
<p>微脈者，按之微細，若有若無，病主怯弱之證。</p>
<p>洪脈者，來時雖盛，去時無力，病主火熱。</p>
<p>促脈者，數而時止，病主驚癇。</p>
<p>結脈者，緩而時止，病主積聚。</p>
<p>緊脈者，左右如轉索之象，沉緊病主腹痛。浮緊病主感寒。</p>
<p>弦脈者，端直如張弓弦，病主停飲。</p>
<p>浮中沉三部無力，為虛，虛為不足。</p>
<p>浮中沉三部有力，為實，實為有餘。</p>
<p>洪緊者，痘疹欲發也。</p>
<p>大小不勻者，中惡之證也。</p>
<p>一息三至，是虛寒之極。九至十至，乃火熱太甚。若一息只一至二至，或十一至十二至者，皆不治之症。</p>
<p>浮散無根又沉，及浮取之不應指，皆難治之脈。</p>
<p>小兒診脈，不過如此。凡病之陰、陽、表、裡、虛、實。仍當合望聞問三者。參考而得病情矣。</p>
<h4>勘病狀</h4>
<p>發熱無汗，是病之邪在表也。內熱便硬，是病之邪在裡也。晝煩熱而夜安靜，是陽旺於陽分，其病在陽。</p>
<p>夜煩熱而晝安靜，是陽陷於陰分，其病在陰。喜冷惡熱，皆屬陽病，故為熱也。喜熱惡冷，皆屬陰病，故為寒也。</p>
<p>胃壯者能食，胃弱者不能食。胃干燥者口渴，胃濕盛者口不渴。</p>
<p>大便稠黏，穢氣難聞者，是內有滯熱，病從熱化也。</p>
<p>小便清白不赤，為虛寒，病從寒化也。</p>
<p>耳梢冷，尻骨冷，四肢發冷，此痘疹欲發之候。如單指梢發冷者，此驚癇將作之征。肚腹熱悶主內熱，手足厥冷主中寒。</p>
<p>小兒無故皺眉曲腰啼者，主內因腹痛，又當按其或軟或硬，若喜按者為虛，不喜按者為實。</p>
<p>兩耳常常發熱者，主外因風熱。</p>
<h4>解顱</h4>
<p>解顱者，謂頭縫開解而顱不合也。此由先天腎氣不足之故。腎主骨髓，而腦為髓海，腎氣不足，則腦髓不足，故顱為之開解也。古法用六味地黃丸（如熟地、山萸、山藥、丹皮、茯苓、澤瀉）或用加味八物湯（如參、朮、苓、草、芎、歸、芍、地，加酒炒芩、連），煎服。外用天南星，微炮為末，醋調塗緋帛，貼於頭上。炙手頻熨。或用乾薑、細辛、桂心，研末，和生薑汁塗之。以合為度。</p>
<p>〔真按〕腦不滿而顱不合，中陷而角四起，如古錢之形，兒無腦髓，猶樹無根，不過千日則成廢人。此兒長必少笑，宜於千日內急治之，暑月可服六味地黃丸，冬天則宜服補天大造丸，以人參、黃　、白朮、棗仁、當歸、山藥、茯苓、枸杞、熟地、再加龜鹿二膠，熬膏服之。外以柏子仁、防風、南星，研末，醋調攤紅　上，看顱門大小剪貼。干則用熱醋潤濕，或用茵陳、車前子、百合，為末，以烏牛乳汁調塗足心及頭縫開處，一日一換。</p>
<p>更有一法，只用頭巾裹護，服湯劑不敷外藥，俟氣血漸充。自無不合矣。</p>
<h4>顱腫</h4>
<p>顱門腫起，謂之顱填。因乳哺失常，或寒熱乘脾，其氣上衝，則顱高而突。又有肝盛風熱交攻，亦致顱填突起，汗出，毛髮黃而短是也。若寒氣上衝則牢硬，熱氣上衝則柔軟。然寒腫者十之一，熱腫者十之九。古法用瀉青丸（如羌活、川芎、黑梔仁、龍膽草、當歸、防風、錦莊黃，研末蜜丸，青黛為衣，如大豆大），每服一二丸，清茶化下。寒腫，古法用參蘇丸，或煎湯劑（如人參、茯苓、枳殼、半夏、前胡、桔梗、蘇葉、葛根、陳皮、甘草，引用生薑、蔥白等味）。</p>
<p>〔真按〕顱門腫起，除寒氣熱氣外，更有因包裹嚴密、蓋覆過濃，陽氣不得外出，亦現赤腫之形。只要衣被寒暖，適合中度，即可痊愈。若寒腫者，但用吳茱萸末和水，調貼兩足心。熱腫者，但用黃柏末調塗兩足心。即愈。</p>
<h4>囟陷</h4>
<p>囟陷者，因臟腑有熱，渴飲水漿，致成泄瀉，則氣血虛弱，不能上交腦髓，故囟陷成坑也。古法用參苓白朮散（如人參、白朮、茯苓，山藥、桔梗、薏苡、蓮肉、炙甘草，引用薑、棗），或八味地黃丸（如六味地黃丸加附子、肉桂），外用黃狗頭骨炙黃為末，以雞子清調敷，漸漸自平。</p>
<p>〔真按〕囟陷乃胃虛脾弱之見證。若與枕骨同陷，則尤甚於囟陷。有因稟受父精不足，母血虛羸而陷者；有因久病而陷者，腎元不固，急宜培補氣血。必使氣血充足，方能上交腦髓，而陷自平。但用補氣生血之法，以參與遠志二味，藥雖簡單，久服有益。參品不一。須視小兒之寒體熱體為取裁耳。外敷之藥，與解顱相同。</p>
<h4>發不生</h4>
<p>發不生者，因稟受血氣不足，不能榮於發也。古法用蓯蓉丸（如蓯蓉、生薑、地黃、當歸、山藥、白芍、胡粉，煉蜜為丸），黑豆湯吞下。另用礬化二三十丸，塗擦頭上。</p>
<p>〔真按〕發為血之余，血足自能自發。小兒以乳為糧，只要良好乳汁，培養後天，外擦生發油以助其發源，不必服藥。</p>
<h4>齒不生</h4>
<p>齒不生由稟氣不足。則髓不能充於骨，故齒久不生。古法用芎黃散（如川芎、生乾地黃、當歸、山藥、白芍、沉香、甘草，為末），白湯調服。再將干藥末擦齒齦上，日二次，或用雄鼠脊骨為末，擦齒齦。</p>
<p>〔真按〕生齒較遲，兒之氣力薄弱，已可想見。惟揠苗助長，恐無益而反有害。只用真燕窩粉平淡之味補之，不用外擦之藥。</p>
<h4>五軟症</h4>
<p>五軟，謂頭項軟、手軟、腳軟、身軟、口軟是也。</p>
<p>頭項軟者，天柱骨倒也。古法主健骨散（如白僵蠶炒為末，每服五分或一錢，薄荷泡酒調下）。外貼生筋散（如木鱉子三個，蓖麻子三十粒，俱去殼，研勻，先抱兒頭仰起，摩頂上令熱，作餅貼之）。</p>
<p>手軟者，無力以動也。古法主薏苡丸（如薏苡仁、當歸、秦艽、酸棗仁、防風、羌活各等分，為末蜜丸），荊芥湯化下。</p>
<p>腳軟者，行遲也。古法主六味地黃丸，加五味子、鹿茸、牛膝、五加皮，久服有效。</p>
<p>身軟者，肉少皮膚自離，或遍身筋軟者。古法主鹿茸四斤丸〔如肉蓯蓉、牛膝、木瓜、菟絲子、熟地、鹿茸、天麻、杜仲、五味子（各等分），為末蜜丸〕，溫酒或米飲下。</p>
<p>口軟者，語遲也。古法主六味地黃丸，如鹿茸、五味子，久服有效。</p>
<p>〔真按〕頭項軟為肝腎病。手足軟為脾胃病。身軟為陽衰髓怯。口軟為虛。五軟之症，厥有二因：（甲）因稟受胎氣不足。虧於先天者，補於後天。此語誠然。獨不思兒體嬌嫩。藥性剛悍。方名健骨生筋，匪特骨不能健，筋不易生，而反累及陰陽不協，水火不調。兒之體既涉於偏。兒之病安期其復。惟藉天然培養，寒熱適宜，乳食合度，自有不期然而然者，其效較著。（乙）因大病或久病之後。忽見頭項軟者。亦當察其何病之根源。不但強筋骨之首烏、木瓜、五味子、五加皮諸味宜慎用，即補氣血之人參、熟地等味亦宜慎用。蓋此證重脾腎尤重在胃，因胃為五臟六腑之化源，若能升舉其脾氣，則臟氣有所稟，而諸軟之症悉除矣。</p>
<h4>五硬症</h4>
<p>五硬，謂頭項硬、手硬、腳硬、身硬、口硬也。硬者強直冰冷，乃肝受風邪所致。古法皆主烏藥順氣散（如麻黃、陳皮、烏藥、川芎、白芷、白僵蠶、枳殼、桔梗、乾薑、甘草，引用生薑、棗），煎服。</p>
<p>〔真按〕五硬宜分手硬、腳硬、腰硬、肉硬、頸硬也。仰頭取氣，難以動搖，氣壅疼痛，連於胸膈，手心腳心冰冷而硬，此陽氣不榮於四體。合五者連帶關系，為獨陰無陽。若面青而小腹硬者不治。但硬而肚筋青急，乃木乘土位，只須六君子湯為主治，加上肉桂、乾薑，或少加鹿茸，煎濃，令乳母頻頻服之。小兒常吮母乳，便可回陽。</p>
<h4>頭面紅癤及軟癤</h4>
<p>紅癤古法用大黃、遠志，各等分為末。以豬膽汁調塗之。或用黃柏、黃連、黃芩，各等分，研末，調醋敷之即愈。</p>
<p>軟癤古法用鮮枳殼，又名臭橘子，無鮮用干蒸融，貼亦可，刳去瓤。以面糊塗抹四圍，合蓋癤子，旁安一燈芯，以通膿水，數日自愈，並無疤痕。或用豬頭上毛、貓頸上毛各一撮，燒灰，雄鼠糞（兩頭尖者是）一粒，共研末，香油調敷即愈。</p>
<p>〔真按〕紅癤熱毒，宜內服土茯苓、連翹、銀花、甘草，煎湯。外用菊花葉搗汁，調淨白蜜敷之，甚效。</p>
<p>軟癤愈而復發，最難除根。內服苦絲瓜連筋帶子燒存性為末，每服二錢，白蜜湯送下。日二服，夜一服，外用生大黃磨濃汁，調冰片粉塗效。</p>
<h4>目爛</h4>
<p>小兒眼胞赤爛，痛癢難睜，因毒熱上攻於目，故有是證。古法主內服地黃湯（方見眼不開），以清熱。外用真金散（如生黃連、黃柏、當歸、赤芍、杏仁，　散，浸乳汁一宿，晒乾為極細末），用生地黃汁調，頻頻點目即愈。</p>
<p>〔真按〕除毒熱外，亦有因產時拭洗不淨，以致穢惡浸漬兩目角而赤爛。至長不瘥者，名爛弦風眼，內以桑葉、菊花、生地、甘草、燈芯，長流水煎服。外敷之藥，如用連藥抑遏火邪不能外出，必變眼珠疼痛，久不能愈。</p>
<p>不如用鮮色銅綠三錢，研末，以生蜜濃調，塗粗碗內。以艾葉燒煙，將碗覆艾煙上熏之。須熏至銅綠焦黑為度，取起冷定，以人乳調勻，飯上蒸過，用鴨翎掃塗患處。並可除根。或用薄荷、文蛤、黃連、防風、荊芥穗、苦參，加銅綠少許，煎湯乘熱洗眼。神效。</p>
<h4>附例</h4>
<p>小兒目內赤者，心經積熱上攻。宜瀉丙火從小便而出，治法以導赤散少加黃連，則赤可退。</p>
<p>小兒目內黃者，脾熱也。上下眼胞腫者，脾經風熱也。治法以石斛、白芍、甘草，少加黑梔仁，煎服，則黃可退。</p>
<p>小兒目連札者，因肝風入目。上下左右如風吹，兒不能任，故連札也。治法以薄荷、石決明、生甘草、燈芯為引。煎服有效。</p>
<p>小兒久嗽，兩眶黑腫，白珠如血，謂之血眼。治法以桔梗、陳皮、桑白皮、地骨皮、炙甘草，煎服。外用大生地、大黑豆等分，浸水一宿，取起為膏，貼眼皮上。其水自散，血淚既出，腫黑亦消。</p>
<h4>耳聾</h4>
<p>小兒有忽然氣塞耳聾，此由風入於腦，停滯於太陽經。古法主疏風清火（如導赤散加防風，煎服）或用通竅丸（如　雄石一錢、真麝香五厘，共為細末，以棗研爛，和為一丸，如棗核大），棉裹塞鼻中。又以生鐵一小塊，熱酒泡過，含口內，須臾氣即通，亦即不聾矣。</p>
<p>〔真按〕小兒耳忽暴聾，不過火盛氣逆，非若中年老年之氣虛血虛腎虛者可比。內以菊花、木通、石菖蒲，煎服。外以細辛、木通，石菖蒲各一分，真麝香二厘，共為細末，棉裹塞耳中即通。或用虎耳草，又名倒垂蓮，搗汁，略加枯礬，灌入耳中，則耳竅開，而自不聾矣。</p>
<h4>耳痛</h4>
<p>小兒耳中忽作大痛，如有蟲在耳內奔走，或出血水，或干痛者，古法主蛇蛻散（如蛇蛻燒灰存性為末）吹入耳中。取蛇之善脫，以解散鬱火也。</p>
<p>〔真按〕小兒耳痛，無非腎中火熱，瀉之則安。但用黃柏、青鹽、甘草，煎服；外用黃魚牙齒，瓦上炙存性為末，放土地上退火氣，加入干胭脂研極細末，再加梅花冰片少許，菜油調，以雞毛蘸入耳中，即不痛矣。</p>
<h4>耳膿</h4>
<p>小兒有因腎經氣實，其熱上衝於耳遂使津液壅而為膿，或為清汁。亦有因沐浴水入耳中灌為膿者。古法主內服蔓荊子散（如蔓荊子、粉干葛、赤芍、前胡、桑白皮、木通、生地、白芍、赤苓、升麻、甘草，燈芯為引），外用龍骨散（如　龍骨、明白礬、真鉛丹、胭脂胚、當門子，共為末），先以棉展干耳內膿，將藥吹耳即愈。</p>
<p>〔真按〕小兒耳內悶腫出膿，必先驗其膿色：耳疳則出黑色臭膿；震耳則出青膿；纏耳則出白膿，停耳則出黃膿。</p>
<p>以上四症，俱由胃濕與肝火相兼而成。但以野菊花、馬兜鈴、通草，煎服。是以清肺瀉肝。外用　龍骨、炒五倍子、乳香、枯礬、血余炭，各等分，共研細末，吹之即干。</p>
<p>若耳內有蟲，膿血不止，則用雞蛋一個，豬肝五錢，俱用香油炒，再以黑芝麻一兩，炒研共搗融，微火烘暖，攤綢上貼耳外，血蟲出盡即干。</p>
<p>惟風耳則出紅膿。</p>
<p>此偏於肝經血熱。宜內服四物東加丹皮、石菖蒲。耳內有膿先絞淨，再以桑螵蛸五分，燒存性，和麝香五厘，研末摻入，其效如神。</p>
<p>小兒耳中出血，但用五色龍骨　研細末，吹入耳中即止。</p>
<p>小兒耳旁赤腫，皆屬熱毒，若不急治，必成大癰。內服柴胡、連翹、龍膽草、甘草，以瀉膽火。外以綠豆粉不拘多少，以老醋調成膏敷腫處，干則易之，而腫易消。</p>
<p>小兒耳珠前後生瘡，浸淫不愈，名月蝕瘡。皆用外治之法，但用黃柏、枯礬、滑石、龍骨、海螵蛸，各等分，共為末。瘡濕則用干捻，瘡干則用豬油調塗，克日可愈。</p>
<h4>鼻淵</h4>
<p>小兒流涕腥臭，此膽移熱於腦，名曰鼻淵，又名腦崩。古法用辛夷散（如辛夷仁、蒼耳子、香白芷、薄荷、黃連，共晒乾為末），蔥湯調下。</p>
<p>鼻淵經久不愈，則名控腦砂。古法用紫貝子、俗名南蛇牙齒，粵人名狗尾螺。以二三枚火　醋　為末，紙包放地上去火毒，以絲瓜藤煎湯調藥空心服。</p>
<p>〔真按〕鼻淵雖由膽熱移腦，其實兼受風寒凝鬱火邪而成。但用鮮鵝兒不食草，一名地胡椒，塞鼻，立刻應效。或用老刀豆，文火焙乾為末，每次酒服三錢，重者不過三服即愈。</p>
<p>若控腦砂，則淋瀝腥穢不止，腦亦時痛，或眩暈，必有蟲蝕，且濾兒體已虛。仍用鮮草塞鼻數次，兼服益氣補中湯劑，方能痊愈。</p>
<h4>鼻衄</h4>
<p>小兒五歲積熱，一時血隨氣行，得熱妄動，溢出於鼻，名曰鼻衄。古法主加減地黃湯（如生地、黃芩、黑梔、赤芍、白茅根），水煎溫服。外用吹鼻散〔如炒黑梔仁、亂油發（等分），　存性，共為末〕，以些微吹鼻中即止。</p>
<p>〔真按〕鼻血不止，輕者先用燈芯浸水塞鼻，內以麥冬、生地等分，煎服足已。若積熱過重，止而復衄者，則用生荷葉、生艾葉、柏子仁、山萸肉、丹皮、生地、蓮肉、山藥、澤瀉，水煎服。外以炒黑梔、百草霜、　龍骨、京墨、牡蠣、血余灰，吹鼻即止。如用茅花水蘸濕蘸藥，搽入鼻孔更妙。</p>
<h4>鼻塞</h4>
<p>小兒因風寒外感，肺氣壅閉而鼻塞，古法主川芎丸（如川芎、細辛、　本、白芷、炙甘草、梅花片、當門子、光杏仁，煉蜜為丸，如龍眼核大），每服一丸，燈芯湯化下。</p>
<p>〔真按〕小兒肺氣不通，鼻竅遂閉，除風寒外感外，亦有因乳母夜臥，不知回避鼻中出氣，吹兒顱門，或因洗浴未避風寒，致兒鼻塞。不必服藥，輕者只用蔥白搗爛，捏一小丸，貼兒天庭心（在兩眉之間），即通鼻竅。如仍未通，再以細辛、附子、通草，同研末，蜜調棉裹，納兒鼻中，須臾即通。</p>
<p>小兒鼻涕，因肺為寒風所襲，津液不收，則為清涕。只用生薑搗爛，貼天庭心，即止。若兼別症，當另議治。</p>
<p>小兒鼻　，因肺受風寒，久而不散，膿涕結聚不開，不聞香臭，只用辛夷花苞，又名木筆花，又名旱蓮草，去赤肉毛子，用芭蕉浸水泡一夜，焙乾為末，加麝香少許，以蔥白汁蘸入鼻孔，極效。</p>
<p>小兒鼻干，因心脾有熱，上蒸於肺，故津液枯竭而干。宜清熱生津，但服導赤散加麥冬，可以化干而為潤。</p>
<p>小兒鼻疳，破爛欲穿鼻孔，只用紙包壓去油杏仁粉二分，真輕粉一錢，和勻吹患處。或用真鹿角霜、枯礬、血余灰、燈芯灰，共研末，吹之即愈。</p>
<p>小兒鼻疔，其毒速宜散化，急用荔枝肉一兩，雄黃一分半，吸鐵石五厘，共搗為丸，塞鼻中，自能脫落。再飲生菊花葉汁一小杯，更佳。</p>
<p>小兒鼻　，因鼻中漸生　肉，妨礙氣息流通，但用生藕節一個，要有根連須處，燒灰存性為末，吹患處自落。</p>
<p>或用枯礬、豬脂油，共搗和丸，以棉裹塞鼻中，數日隨藥脫去。</p>
<p>小兒鼻痔，根蒂甚深，較　肉更加痛癢。但用霜梅一個，蓖麻仁七粒，生礬少許，三味同打，將絲棉包裹塞鼻內，一日夜即愈。或用甜瓜蒂四錢，甘遂一錢，枯礬、螺殼灰、草烏灰各五分，為末，麻油調作丸，如鼻孔大，每日以藥塞入一次，其痔即化為水。再用收口藥粉摻上，即干。</p>
<p>大兒鼻瘡，形如粟米，毒易漫延，但用生薏苡、東瓜、煎湯，代茶飲之。外用杏仁去皮尖搗爛成膏，以人乳調塞鼻內，最為穩效。</p>
<p>小兒鼻孔，無知誤將豆粒塞入，又用手指自挖，進入關內，不能取出。臨時即用人馬平安散吹入鼻孔少許，則豆可隨打嚏而出。若延誤已久，豆因鼻涕浸漬放大，愈腫愈痛，治法須用二人，以一人掩緊小兒兩耳竅，叫小兒雙眼閉緊，再以一人用手掩住無物鼻竅，以口對小兒之口，用力一吹，豆即落下。</p>
<p>小兒鼻外人中忽然腫爛，瘙癢異常，有礙飲食。但用舊氈帽、青果核二味，俱燒灰，以好麻油調之，日搽數次即效。</p>
<h4>唇腫</h4>
<p>小兒唇中忽見腫大，此系脾熱所致。古法用生蒲黃、川連、冰片，共為細末，麻油調敷有效。</p>
<p>〔真按〕上下唇若赤腫，外敷蒲黃等藥，固有效驗。但若腫黑痛癢難忍者，宜用舊有方孔之大銅錢同樣大者四個，於石上磨豬油時常擦之。至或破爛流水者，則宜改用銅青、宮粉、明礬、頂上梅花冰片、黃連、麝香，共研細末，破處則用干摻，干處則和豬油搽之尤效。</p>
<h4>唇疔</h4>
<p>小兒唇邊忽生紅白顆粒，此即生疔。症見頭痛寒熱痛癢，亦有麻木不知痛癢者。古法先看大腿彎中，如有紫筋，以銀針刺出血。外用生雞冠血點於唇上，或用活蝦蟆破開，取肝貼之，或用生蜆去殼搗爛敷之，均效。</p>
<p>〔真按〕唇疔多至頭痛心悶神昏，趕緊施治，遲則不救。內以紫花地丁、金銀花、白果、桔梗、生甘草、知母，煎服。外用蛔蟲搗爛敷之，如無蛔蟲，以焙五穀蟲一錢，研末，白礬三分，蟾酥三分，再以燒酒溶化調勻，敷疔上，少頃疔即破流毒水而愈。</p>
<p>小兒唇瘡，無論破與未破，皆系脾蘊熱毒而發。但用瓦松，生薑汁搗融，入鹽少許敷之，或用藍靛葉取汁洗之，均效。</p>
<p>小兒唇緊，初起即不能飲食，宜急治之。但用新白布作卷，如酒杯大，燒燃放刀口上，俟刀口汁出，取汁搽之，日搽十余次，並以青布燒灰沖酒服之，過夜即愈。</p>
<p>小兒唇干血出，只用生桃仁搗爛，調豬油敷之。若干燥已極，紅腫難堪，時以舌　口水滋潤，尚恐不及者，則以松毛煮豆腐約半日之久，取豆腐貼之，日換數次有效。</p>
<p>小兒唇忽翻突，形如豬嘴，此名唇菌，乃心脾熱毒所致，非急救不可。須覓活地龍（又名蚯蚓、曲鱔）十條，搗爛，吳茱萸二錢研末，加灰面少許，醋調敷兩腳心，用布捆住，半日一換；內服唇疔湯劑（見上）。以愈為度。</p>
<h4>口臭</h4>
<p>小兒口中時出臭味，此因虛熱，或因心氣不足所致。古法主茴香煮羹，或生食，或用鹽梅時時含之，均效。</p>
<p>〔真按〕小兒口臭難聞，本有醋調密陀僧嗽口一法，施之小兒，則不適用。細審果系心氣不足，但用益智仁三錢，甘草三分，煎濃湯服之。如屬虛熱，則用麥冬、生地、茵陳、枳殼、甘草，煎服甚效。</p>
<h4>口瘡</h4>
<p>小兒滿口生瘡，皆因胎稟本濃，養育過溫，心脾積熱，熏蒸於上，而成口瘡。古法主沆瀣丹（如川芎、大黃、黃芩、黃柏、黑牽牛、薄荷葉、滑石、檳榔、枳殼、連翹、赤芍，煉蜜為丸），開水化服，外用活地雞擂水搽瘡上，地雞即桶蟲，人家磚下有之。</p>
<p>〔真按〕口瘡內服之藥，但用天冬、麥冬、玄參三味各等分。外吹之藥，但用燈草灰、大冰片、薄荷葉、生石膏各等分。或以陳白螺螄殼燒灰，和兒茶少許為末，吹患處，均無不效。</p>
<h4>口糜</h4>
<p>小兒滿口潰爛，乃膀胱移於小腸，上迫而生口糜。古法主導赤散五苓散合用，以導赤能去小腸之熱，五苓能去膀胱之熱，必合用乃效。</p>
<p>〔真按〕口糜多因久病失治，不能概以實熱括之。如果屬熱，內可服導赤五苓兩散，外則用薄荷、青黛、黃柏、人中白、兒茶、冰片、青果核灰、經霜西瓜皮，共為末，吹患處可愈。然亦有因肝脾之氣不足，虛火泛上無制，則宜用理中湯收其浮游之火，外以上桂心末吹之，方能有效。寒熱之界，毫厘千裡，是不可以不辨。</p>
<h4>口生瘡</h4>
<p>小兒口內上　，腫起如蘆籜鹽水狀者，名曰懸瘡。古法主以棉纏長銀針留鋒刺之，瀉去青黃赤汁，刺後以鹽湯拭口，再以一字散（如朱砂、硼砂、龍腦、朴硝，共研細末），用蜜調少許。鵝翎蘸搽口內。</p>
<p>〔真按〕懸瘡生口上　，形如紫葡萄，舌難伸縮，口難閉合，鼻內出血，時作寒熱，亦可不用針刺。但內服通草、黃連、甘草、燈芯，煎服。外用食鹽、燒紅枯礬各等分，研細末，以牙筷頭蘸藥點口三五次自消。</p>
<p>小兒口生肉球，有根如線，吐出不能飲食，捻之其痛入心，但用血余灰沖開水服之。若仍未消，則以真麝香少許，研末沖服自消。</p>
<p>小兒口角流涎，有脾冷脾熱之分。脾冷則用焦木、青皮、法夏，生薑為引，煎服。脾熱則用生白朮、扁豆、滑石、石斛，甘草，燈芯為引，煎服。不可錯認冷熱，以致相左。</p>
<h4>舌脹</h4>
<p>小兒心經火盛，頃刻間舌脹滿口，咽喉閉塞，至危之症。古法先用鹽梅或半夏擦牙關，俟其開時，以皂礬放新瓦上，火　紅色，攤冷研細，將藥搽舌上。或用蒲黃末調乳汁塗上均效。</p>
<p>〔真按〕舌忽脹大，但用頂上梅花冰片研細摻舌上，應手而縮。若腫退場門外寸余者，亦以此藥敷之，或用川連煎濃汁，以舌浸之，立效如神。惟舌腫而喉內有痰，即是喉風，急以冰片一分，火硝三分，膽礬二分，青黛二分，僵蠶五分，硼砂三分，研末，敷舌兼吹喉立愈。</p>
<h4>舌菌</h4>
<p>小兒舌上初起如豆，漸大如茵，疼痛紅爛無病，朝輕暮重，由心脾熱毒所致。古法用　砂、人中白各五分，瓦上青苔、瓦松、溏雞糞，各一錢，用傾銀罐子二個。將藥裝入封固，外用鹽泥再封一層，以炭火　紅，待三炷香為度，候冷開罐取出，再加頂上梅花冰片、麝香各一分，共研細末。臨用時，先以磁針刺破血菌，用藥少許點之，再以蒲黃末蓋之，內服二陳東加黃連、黃芩、薄荷，有效。</p>
<p>〔真按〕舌菌惡症，先用外治之法，以吳茱萸三錢研末，好醋調敷兩腳心，用布捆緊，對時一換，其效如神。</p>
<p>或用蜘蛛絲搓作線一條，打圈套在菌根上，其絲自漸收緊，收至極痛，不得不忍耐片時，菌落血出，以百草霜敷之，內以六味地黃東加槐花三錢煎服尤效。</p>
<h4>舌弄</h4>
<p>小兒舌頻向口中搖動者，因心脾有熱，以致唇焦舌乾，煩熱便穢。古法主瀉黃散（如藿香葉、炒梔子、　石膏、防風、生甘草、燈芯為引），次主瀉心導赤湯（如木通、生地、黃連、生甘草、燈芯為引），煎服。</p>
<p>〔真按〕弄舌一症，有舌微吐而又收者，謂之弄舌。經云：吐舌屬實，弄舌屬虛。因脾胃津液不足，而有虛熱，或渴欲飲水，面無赤色，不可誤認為實熱，但用四君子東加木香、藿香、葛根治之。若久病得之則難治。</p>
<p>更有舌長卷左右兩邊，兀兀搖動者，此名蛇舌風，只用雄黃精一大塊，點之數次即安。</p>
<h4>舌重</h4>
<p>小兒舌下近舌根處，其腫形似舌，故名重舌，亦因心脾之熱，而成此症。古法主內服清熱飲（如黃連、生地、木通、生甘草、連翹、蓮子、淡竹葉為引），水煎時時灌入口中。外吹涼心散（如青黛、硼砂、黃柏、黃連、人中白、風化硝、冰片）研極細末，摻入舌下有效。</p>
<p>〔真按〕重舌因心脾有熱，然脾之大絡出於舌下，有熱則氣血俱盛，重生一舌，此屬上焦實熱。內以黃連、生甘草、淡竹葉、牛蒡子、燈芯煎服。外用黑棗一個，去核留肉，貫入青礬一錢，紙包煨熱，去棗不用，但以青礬二分調水，以筆塗數次即消。</p>
<p>小兒舌腫，但以梅花冰片點之，或用蓖麻油蘸紙作燃，燒煙熏之，隨即消縮。</p>
<p>小兒舌中出血不止，但用烏賊骨、蒲黃各等分。為細末，敷舌上愈。</p>
<p>小兒舌頭潰爛，飲食難進，先用吳茱萸研末，好醋調敷兩腳心，對時一換。再用人中白、兒茶、青黛、硼砂、薄荷、玄明粉、馬庇勃、冰片，共研極細，摻之立效。</p>
<p>小兒舌硬生衣，但用真犀牛黃、朱砂、元精石，共研細末，頻塗舌尖即愈。</p>
<p>小兒舌生紅泡，此證與咽喉不同，但用蛇床子一兩，罐內燒煙，吸入喉中自消。</p>
<h4>牙疳</h4>
<p>小兒牙齦初作臭氣，次則齒牙黑，甚則齦肉爛而出血，名曰牙疳。此由腎熱，其氣直奔上焦，故以走馬為喻。古法主內服沆瀣丹（方見上），外敷如聖散（如人中白、銅綠、麝香，共為細末），先以蠟樹葉浸米泔水洗淨後搽此藥。</p>
<p>〔真按〕小兒多因熱病之後，或痘疹之後，火毒流於胃經，致有此患，勢甚危急，甚則落牙、穿腮、透鼻，一二日即能致命，故名走馬，言其驟也，此症有五不治：（一）舌根爛不能食者不治；（二）黑腐如筋者不治；（三）白色肉浮者為胃爛不治，（四）牙落穿腮、鼻臭不堪聞者不治，（五）山根上發紅點者不治。</p>
<p>須趁其初起時，急用生大黃三錢，丁香十粒，綠豆三錢，共研末，熱醋調敷兩足心。再用　赤透綠礬、　人中白、雄黃精、真麝香、頂上梅花冰片，共研極細末。先用銀針挑刮去腐肉紫血，然後以藥末敷之，吐出毒血，方能愈也。</p>
<p>再此症如兼兩腿形如雲片，或紅或青，大小不一，痛而腫硬，步履艱難者，其腿上腫處，須用磁鋒刺破出血，隨之以牛肉片貼之，日換數次，甚有效驗。</p>
<h4>牙痛</h4>
<p>小兒牙痛，不外風火蟲三項。又有虛火實火之分：虛火其痛甚緩。日輕夜重；實火痛不可忍。風痛者痛而且腫，甚至頭面皆痛，呵風亦痛。蟲痛者，發時必在一處，叫號不已。古方有分別上下左右，按經施治之法，不甚見功，蓋因未詳辨風火蟲及虛實不同之故耳。再舉古方之多見效者，風火牙痛，以生地搗爛，加入潮腦少許，不可過多，捶勻貼患處，吐出涎水即愈。蟲牙痛者，以韭子煎濃湯漱之，或用五倍子煎濃汁，含漱數次即愈。</p>
<p>〔真按〕小兒牙痛，含漱之藥每多不便，但用細辛頭末七分，片腦二厘，麝香二厘，牙硝一分，硼砂六厘，白礬四厘，研極細末，無論風火蟲，擦患處即愈。但須斟酌虛實，內服湯劑，以杜後患。</p>
<p>小兒上下牙床腫者，此足陽明胃、手陽明大腸實熱也。但用連翹、薄荷、淡竹、知母、石膏、生甘草煎湯，頻頻含咽即消。</p>
<p>小兒牙齦腫者，因腎臟積熱附齦而腫痛，但用生黃柏研末，敷牙齦上有效。</p>
<p>小兒夢中切牙，風熱也。由手足陽明二經積熱生風，故令相擊而有聲也。其必在夢中者，風屬陽，動則風行於陽，靜則風歸於裡也。此症惟痘疹見之為危候，余則無大害。但用蟬蛻、陳皮、竹茹、甘草等分，煎服有效。</p>
<p>小兒牙縫出血，乃陰虛熱極所致，名曰牙衄，又名牙宣。但用黃豆渣（即豆腐店中取過黃豆漿之渣）敷之立止，如神，若血出不止，速煎六味地黃湯去萸肉，服之立愈。</p>
<h4>咽喉腫痛</h4>
<p>小兒咽喉腫痛，無非胸中鬱積熱毒及風痰壅滯，而發於咽喉。古法輕則用甘桔湯。即桔梗、甘草二味。重則化毒湯主之（如桔梗、薄荷、荊芥穗、炙甘草、芒硝、山豆根、牙硝、硼砂、朱砂、雄黃），水煎服。仍以此藥研末吹喉中。</p>
<p>〔真按〕咽為胃管，主納水穀而居後。喉為肺管，主司呼吸而居前。無論風痰熱毒，症之或輕或重，竊謂古法服藥吹藥，均宜古而不宜今，但用薄荷尖、浙貝母、連翹殼、淡竹葉、生甘草，水煎服。外用霜白梅，燒存性，硼砂、頂上梅花冰片，吹之，較為平穩。</p>
<p>再兒在三歲以內，不便吹藥，單用燕子泥研過篩，要極細，以冷開水調敷喉外腫處。即外面不腫，亦照喉內腫痛之處，於喉外遍敷之，可以化毒清熱。且牙關緊閉者，敷之即開，可以進藥。如無燕子泥，改用燒紙數張，以燒酒浸濕貼喉外，隨干隨換，此以熱導熱之意也，幸勿輕視。</p>
<p>小兒鎖喉風，但用鮮芙蓉葉搗爛，作二小餅，一貼囟門，一貼肚臍即愈。</p>
<p>小兒單雙喉蛾，生於咽喉關上者輕，生於關下者重。此症喉閉片時，即不可救。急看小兒兩手虎口，如有水泡，即用銀針挑穿，喉蛾即破，忌見燈火。一面用老蒜搗融，如蠶豆大，敷經渠穴（穴在大指下手腕處寸脈後），即爛，男左女右。右用蜆殼蓋上扎住，用別物蓋亦可，片時起一水泡，再用銀針挑破，將水揩淨，以去毒瓦斯，立刻安痊。若再服善後養正湯劑，更可永杜後患。</p>
<p>小兒咽喉聲啞，但用川貝、款冬花，各研細末，和胡桃肉（去皮研細）、白蜜，四味和勻，飯上蒸熟作丸。</p>
<p>每次含化一丸，數次即愈。</p>
<p>小兒喉外生癰，初起發於頸項結喉之上，名結喉癰。發於結喉兩旁，名夾結瘡。重則堵塞咽喉，湯水不下。</p>
<p>若穿爛見喉，則難治矣，須乘其初發時，內服連翹、淡竹葉、金銀花、浙貝母、生甘草、生白蘿卜、生青果，煎湯飲之。外以坎宮錠，磨豬膽汁塗之，可消。</p>
<p>小兒諸骨哽喉，吐不出，吞不下，骨之小者，但用金鳳花根搗碎，以米醋濃煎，用有嘴瓶盛之，令兒口銜瓶嘴，仰面吸藥，吞之，其骨即下，惟切記吞藥勿使　牙為要。又骨之大者，但取穀樹葉搗爛取汁服，其骨自軟而出。</p>
<h4>頸上生對口瘡</h4>
<p>小兒後頸正中處生瘡，名對口瘡。偏生者，名偏對口。古法內服鮮茄蒂、生紅何首烏，煎服二三劑，未破即消，已破拔膿生肌。外用干茄蒂、燒煙頻熏瘡口，良久瘡口自開，即有一線紅絲流下，不可移動，直俟紅絲流盡自斷，則瘡毒盡矣。</p>
<p>〔真按〕對口瘡只用婦人頭上油垢三錢，黑背鯽魚一個，約重一兩，雄豬眼梢肉一對，同搗爛，敷之即愈。</p>
<h4>龜背</h4>
<p>小兒初生不能護背，致風入於脊骨，精血不能流通，而成龜背。古法主松蕊丹〔如松花、枳殼、防風、獨活、麻黃、大黃、前胡、桂心（各等分），蜜丸米湯吞服〕。外用鴨毛浸龜尿刷小兒胸高處數次，歷久自平。</p>
<p>附取龜尿法：古用荷葉承龜，以鏡照之，多不應，惟用銅鑼一口，放龜在內，又在龜上再以鑼一口蓋定，打鑼警之，其尿即出。</p>
<p>〔真按〕龜背或因坐太早，以致傴僂，背高如龜，殊不盡然。即使風入脊骨，必有酸痛，不酸不痛，而背骨高突如龜者，實因先天不足，督脈為病所致。宜用人參、黃　、白朮、當歸、熟地、枸杞、金毛狗脊、鹿角、龜版，先熬膏，後為丸。早晚白開水吞服，或化服，以培本元，外用樟腦油常塗背上凸處，可以漸平。</p>
<h4>龜胸</h4>
<p>小兒胸高脹滿，形如復掌，皆因乳母多食五辛酒面炙　之類，或夏月熱乳宿乳與兒吮之，致兒肺臟日久痰滯，則生風熱，肺受火邪，則胸骨脹起如龜。古法主百合散（如天門冬、大黃、杏仁、百合、木通、桑白皮、枳殼、甜葶藶、石膏，蜜丸綠豆大），每夜臨睡時，白開水送下。以兒之年齡月數酌量多少為準。</p>
<p>〔真按〕小兒龜胸，多因痘疹之後，調治失宜，肺不清火不降，而現此症。但用桑白皮一錢，炒地骨皮錢半，石膏三錢，知母一錢，甘草四分，粳米一撮，水煎服即愈。</p>
<p>小兒鶴膝，因稟受腎虛，血氣不充，以致肌肉瘦削，形如鶴膝，外色不變，膝內作痛，屈伸艱難。若掀腫色赤而作膿者，為外因。但用十全大補東加蒼朮、黃柏、防己，煎服。其腫硬色白不作膿者，則屬本性，但用六味地黃東加鹿茸，補其精血，仍須調養脾胃，以助生化之源。</p>
<p>小兒脫肛不收，久則堅硬難入，急用五倍子三錢，白礬少許，煎濃湯乘熱熏洗。再用　龍骨三錢，木賊草（燒存性）二錢五分，共研極細末，搽肛自斂。</p>
<h2>卷四</h2>
<h3>傷風門</h3>
<h4>風解</h4>
<p>風者，善行而又善變者也。然風之所以善變，一則隨天行四時之氣候而變，再者隨人具五臟六腑之氣候而變。其變隨四時之氣候者，風在春為調暢之溫風，在夏為南北薰之熱風，在秋為淒其之涼風，在冬為　發之寒風，此風隨天時而變之出乎天然也，其變隨臟腑之氣候者，風在肝則為熱，風在脾而兼在腎則為寒為濕，風在胃而兼在肺則為燥，風在脾而兼在肝，則又為痰為濕，此風隨臟腑而變之本乎自然也。經曰：賊風虛邪，避之有時。何以謂之賊風。如立春日起，肝木主七十二日，西風為賊邪，金克木也。立夏日起，心火主七十二日，北風為賊邪，水克火也。立秋日起，肺金主七十二日，南風為賊邪，火克金也。立冬日起，腎水主七十二日，西南風為賊邪，土克水也。三、六、九、十二月脾土。每季主十八日，東風為賊邪，木克土也。此對沖之風，最易傷人。然小兒之中氣足，腠理密者，雖遇對沖之風，皆不能傷。其為風所傷者，多屬怯弱之兒。然亦有壯盛之兒，因飲食起居不慎，風邪遂乘其隙而入者，為傷風病。</p>
<h4>肺傷風</h4>
<p>小兒傷風，屬肺居多。症見身熱脈浮，指紋紅紫而長，涕流、鼻塞、聲重者是。古法主香蘇散（如紫蘇葉、香附、蒼朮、陳皮、炙甘草、薑，蔥白為引）。</p>
<p>〔真按〕風邪傷衛，衛主皮毛，內合於肺，故見上症。然單獨傷風在肺，兒體柔脆，不宜過表。但用桑葉、苦杏仁、化橘紅、淅貝母、炒枳殼、炙甘草，一劑風散熱退為度。</p>
<h4>太陽傷風</h4>
<p>小兒太陽傷風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，淅淅惡風，翕翕發熱。古法主桂枝湯（如桂枝、白芍、甘草、薑棗為引）。</p>
<p>〔真按〕桂枝湯為治太陽傷風自汗而設。兒體受風，未必恰在足太陽經，使從發散陽經，恐雖汗而仍不解。</p>
<p>但用薄荷五分，連翹六分。浙貝母、化橘紅、北沙參各一錢，生甘草三分。一劑為度。汗多者不用薄荷，改用桑葉一錢。</p>
<h4>破傷風</h4>
<p>小兒初因擊破皮肉，視為尋常，殊不知風邪乘虛而襲，為破傷風，變證多端。古之按症治法列下。</p>
<p>（一）口噤身強直者，古法主定風散（如防風、天南星等分），以薑汁和溫酒調服。再以滓敷破口上。</p>
<p>（二）發熱紅腫，風邪欲傳經絡而未深入者，古法主水調膏（如杏仁研為泥，和白面等分），新汲水調服。</p>
<p>再以膏塗傷腫處。</p>
<p>（三）風痰痙陰痙者，古法主參歸養榮湯（如人參、當歸、川芎、白芍、熟地、白朮、茯苓、陳皮各一錢，甘草五分，薑棗為引，水煎服）。</p>
<p>（四）痰火痙者，古法主栝蔞枳實湯（如栝蔞仁、枳實、桔梗、貝母、片芩、梔子、陳皮、茯苓、麥冬、人參、當歸、蘇子各八分，甘草三分），和竹瀝薑汁服。</p>
<p>（五）口　噤、肢體反張者，古法主全蠍散（如蠍梢七個，為末）熱酒調服。</p>
<p>（六）抽搦反張者，古法主大蜈蚣散（如蜈蚣一條，江鰾三錢，為末），每服一錢，防風羌活煎湯調下。</p>
<p>（七）角弓反張、牙關緊急者，古法主二烏丸（如生川烏、白芷、天麻各二錢，生草烏、雄黃各一錢，為末，酒糊和丸）。每服溫酒下十丸。</p>
<p>（八）風痰盛者，古法主烏蛇散（如烏蛇六錢，麻黃一兩，草烏炮乾薑、炮附子、川芎、白附子、天麻各五錢，蠍梢二錢半，為末），熱酒調服。</p>
<p>（九）手足戰掉不已者，古法主朱砂指甲散〔如水飛朱砂、薑製天南星、獨活（各二錢，）入手足爪甲燒存性六錢，為末〕，熱酒調下。</p>
<p>（十）血凝昏悶者，古法主烏鴉散（如烏鴉翎一錢，燒灰酒調服）。</p>
<p>〔真按〕小兒因跌撲或鐵器打破傷風，先用敷藥為要。輕者但用真象皮粉敷之，如無真象皮粉，即用明天麻、羌活、防風、生南星（薑汁炒）、白芷，各一分，白附子一錢二分，共研極細末，敷之。裹緊勿見風，內以白糖調開水服之，一二日收口落疤即愈。</p>
<p>重者風邪暗襲傷處發腫，宜速治之，不然則成痙矣。但用蘇木三分，當歸、生地、赤芍、防風各五分，炙甘草三分，水煎服。可以疏風活血。外用紫金錠磨敷即愈。</p>
<h4>附例</h4>
<p>小兒傷風咳嗽，極易變為氣逆喘急。但用桑葉錢半，枇杷葉、苦杏仁各二錢，川貝、廣陳皮各一錢，炙甘草五分，一劑不必再服。</p>
<p>小兒傷風自利，腹痛而手足冷者，脾怯也。但用炙桑葉一錢，化橘紅、茯苓、豬苓、澤瀉各二錢，炙甘草五分，生薑一片為引。一劑而止。</p>
<p>小兒傷風嘔吐，乳食不消，大便黃白而嫩者，脾肺受寒，不能受納而吐也。但用炙桑葉一錢，川朴花一朵，藿香梗八分，款冬花錢半，炙甘草五分，乾薑一片為引。</p>
<p>小兒傷風脅痛，目腫多淚而咳者，兼肝證也。照傷風咳嗽方，加甘菊花、白芍各一錢為劑。</p>
<p>小兒傷風面赤汗流，舌苔而咳者，兼心證也。照傷風咳嗽方，加石菖蒲一分，以通心氣。</p>
<p>小兒傷風面黃唇腫，少食惡心者，兼脾證也。照傷風自利方去藿香梗、款冬花，加焦建曲錢半，茵陳蒿八分為劑。</p>
<p>小兒傷風面白眶腫，上氣喘急者，為肺本病也。照傷風咳嗽方，加甜葶藶一分為劑。</p>
<h3>傷寒門</h3>
<h4>寒解</h4>
<p>漢仲景專以傷寒立論，蓋以寒為六淫中之要症也。前哲有謂小兒八歲以前無傷寒，不知出於何經，殊難明了。但八歲以後小兒，氣血充足，經脈完固，病傷寒者，則與大人同治。仍自表達裡，先皮毛，次肌肉，再次筋骨腸胃。蓋寒邪先在太陽膀胱經，則頭痛惡寒，發熱脈浮；繼傳陽明胃經，則目痛鼻干，唇焦不渴；再傳少陽膽經，則目眩耳聾，胸滿肋痛，口苦寒熱往來，頭汗脈弦。此三陽傳經之表證也。失治則傳入三陰矣。其傳入太陰脾經者，則腹滿痛、下利、脈沉。其傳入少陰腎經者，則口燥、咽乾痛、利清水、目不明，危矣。至傳入厥陰肝經者，則少腹滿，舌卷囊縮，手足厥逆，更危矣。亦有不傳三陰，而傳入少陽膽腑者，則口渴溺赤。傳入陽明胃腑者，則譫語狂亂，燥渴便閉，轉矢氣自汗不得眠。以上謂傳經傷寒，因寒化火也。其有初起寒邪直中三陰者，其症腹冷痛，吐清沫，利完穀，蜷臥肢冷，囊縮吐蛔，舌黑而潤，脈沉細，此系寒證。以上皆敘小兒八歲以後與大人同治之症象也。若襁褓小兒至八歲以前，初感寒邪，即當化解。否則小兒質薄神祛，不耐傳經，病變錯綜，而猶泥以傷寒之法治之，吁，誤矣。</p>
<h4>寒邪傷表</h4>
<p>小兒傷寒在表，乃寒邪傷表榮分也。其證身熱惡寒。無汗。頭痛身痛。而脈浮緊者。古法主九味羌活湯。</p>
<p>（如蒼朮、白芷、川芎、細辛、羌活、防風、生地、黃芩、生甘草，引用生薑、蔥白）大便秘者加大黃。</p>
<p>嘔逆煩渴而熱甚者，古法主雙解通聖湯（如麻黃、朴硝、大黃、當歸、赤芍、川芎、炒白朮、石膏、滑石、桔梗、梔子、連翹、黃芩、薄荷、生甘草、荊芥、防風，引用生薑、蔥白）。</p>
<p>服前藥後，已汗下不解而傳經者，古法主柴葛解肌湯（如柴胡、葛根、白芷、羌活、桔梗、石膏、黃芩、赤芍、生甘草，引用生薑、紅棗）。</p>
<p>兼裡證者，古法主大柴胡湯（如柴胡、黃芩、赤芍、薑製半夏、枳實、大黃，引用生薑、大棗）。</p>
<p>〔真按〕兒體皆不宜用前藥，恐其誤服生變。寒初在表，邪未深入，但用紫蘇葉五分，桑葉錢半，桔梗六分，苦杏仁二錢，生薑皮三分為引，一劑可愈。若寒已化熱，則又當用石斛、白芍、黃芩、淡竹等味以清之。至失治而寒邪久戀，極易變痙，又當察其變狀，對症下藥，方為平穩。</p>
<h4>附例</h4>
<p>小兒感寒在表，而脾胃兼有積痰者，但用桑葉一錢，苦杏仁錢半，化橘紅一錢，半夏曲五分，生薑一片為引。</p>
<p>小兒寒入營分，而腹中兼挾濕邪者，但用炙桑葉錢半，陳皮一錢，白蔻仁六分，茯苓二錢，炒薏米錢半，炙甘草五分，乾薑三分為引。</p>
<p>小兒寒邪初入，而素體兼蘊風濕者，但用桑寄生一錢，蘇葉五分，苦杏仁二錢，茯苓錢半，僵蠶五分，甘草三分為劑。</p>
<p>小兒外發假寒，而內蘊積熱者，但用夏枯草錢半，桑葉一錢，淡黃芩八分，生白芍一錢，鮮竹茹二錢，生甘草四分，燈芯為引。</p>
<h3>傷暑門</h3>
<h4>暑解</h4>
<p>暑有分陽暑陰暑，如冰炭之不相容，人莫不知之。然靜而得之為中暑，動而得之為中熱。陽暑者，因暑受熱之意，是陽暑即為中熱也。陰暑者，因暑受寒之意，是陰暑即為中暑也。經曰：氣虛身熱，得之傷暑。嬰兒之患，於長夏為尤甚，蓋火土最旺於長夏，正當金木受傷，稚陽甚微，已失天和，兼之有暑即有熱，陽氣浮於外，生冷戕其中，夏失長養，而欲保其生全，是不能不加意講求傷暑之病。</p>
<h4>因暑受寒為陰暑</h4>
<p>膏粱之兒，日在深堂廣廈之中，畏熱貪涼，不謹衣被，致寒邪襲於肌表，其得病因暑而受寒也。初起頭痛無汗，惡寒身體拘急，四肢酸痛。古法主五積散（如白芷、廣皮、厚朴、桔梗、枳殼、川芎、白芍、茯苓、白朮、當歸、半夏、桂枝、炮薑、炙甘草，生薑、棗為引）。</p>
<p>〔真按〕小兒易虛易實之體，雖因暑受寒，亦不宜溫散，若五積散更非所宜，但用鮮荷葉一角，扁豆皮一錢，川厚朴八分，滑石三錢，生甘草五分，長流水煎服，即愈。蓋因暑中之寒化，而暑亦隨之而俱化也。</p>
<h4>因暑受熱為陽暑</h4>
<p>藜藿之兒，常在烈日之中，坐於熱地之上，其得病因暑而受熱也。初起發熱頭痛，煩燥大渴大汗，脈洪滑，大便干結，小便赤痛。古法主白虎湯（如石膏、知母、甘草、粳米為引）。脈虛煩渴而少氣者，主白虎加人參。</p>
<p>若眩暈者，主生脈散（如人參、麥冬、北五味），水煎服。</p>
<p>〔真按〕症屬陽暑，熱焰沸張，須防引動肝風，則發搐厥，治宜以清暑滌熱為法。但用連翹殼、淡竹葉各錢半，青蒿一錢，黑梔子五分，飛滑石三錢，赤芍一錢，鮮荷葉一角為引，服之。斯熱解而暑無不解矣。</p>
<h4>傷暑復感風寒</h4>
<p>小兒受暑之後，復感風寒，其證發熱無汗，口渴飲水，面色紅赤，乾嘔惡心，或腹中絞痛。嗜臥懶食，古法主二香飲（如蘇葉、藿香、茯苓、扁豆、厚朴、陳皮、半夏、甘草、大腹皮、白芷、桔梗、黃連、香薷，引用生薑、燈芯）。</p>
<p>〔真按〕香薷辛溫升散，即使以苦降之杏仁芩連制之，總不適用。但以蘇葉五分，藿香五分，茯苓錢半，厚朴八分，扁豆衣一錢，川黃連三分，引用鮮荷梗二錢、燈芯三十寸，為劑。</p>
<h4>附例</h4>
<p>小兒傷暑氣虛，症見身熱有汗，頭痛口渴，煩躁不寧，足冷惡寒，氣乏神倦者，可於清暑之中，少加人參以益氣。</p>
<p>小兒傷暑夾食，或吐或瀉者，但用川厚朴一錢，扁豆衣錢半，山楂二錢，豬苓三錢，枳實五分，生甘草三分，鮮荷葉邊錢半為引。</p>
<p>小兒暑風，因暑熱攻肝，而狀似驚風者，其症煩渴身熱有汗，手足抽搐，急宜利火降痰，但用川黃連六分，連翹錢半，黑梔子五分，飛滑石三錢，細木通八分，淡黃芩八分，小枳實八分，栝蔞霜錢半，車前子一錢，生甘草三分，鮮荷花露一兩，沖藥徐徐服之。</p>
<p>小兒暑熱衝心，或挾痰上衝，以致精神昏憒者，但用辰砂益元散三錢，燈芯三十寸，煎湯化抱龍丸一分服之。</p>
<h3>傷濕門</h3>
<h4>濕解</h4>
<p>濕邪有三大原因，曰天地人。何則？屬於天者，雨露之濕，從天而下降也。屬於地者，泥水之濕，由地之所生也。屬於人者，酒漿之快飲，生冷之恣食，汗衣之穿，濕席之臥，澡浴衣履之不干，無一非人自取之地。經曰：諸濕脹滿，皆屬於脾。是治濕固當以理脾為先著，然濕因於寒為寒濕，因於熱為熱濕，因於風為風濕，因於燥為燥濕，是濕又當視其所因而通變之。治濕之法：濕在上宜散，濕在中宜燥，濕在下宜清，然此亦守經之法。</p>
<p>施於小兒，又當大而變之之謂化，化而不可知之之謂神，法雖不能盡詳，爰照一隅之舉，為傷濕病。</p>
<h4>濕熱證</h4>
<p>小兒腹中有熱，而又外冒雨露而發，為濕熱證。初起發熱頭痛，多煩渴，小便赤澀，大便秘結，古法主柴苓湯（如人參、柴胡、黃芩、半夏、白朮、豬苓、澤瀉、茯苓、上青桂、炙甘草，引用生薑、大棗），水煎熱服。</p>
<p>〔真按〕小兒內有伏熱，外感濕邪，如肌表熱無汗，只須宜通上焦，則病可解。方用薄荷尖五分，連翹殼錢半，淡竹葉一錢，苦杏仁二錢，生薏米一錢，六一散三錢，燈芯六分為引。</p>
<p>如小兒元氣壯實，大便多日秘結不通者，加生錦紋三分。</p>
<h4>寒濕證</h4>
<p>小兒因喜弄冷水，坐臥濕地而發為寒濕證，初起頭痛身重，寒熱往來。古法主胃苓湯（如漂白朮、炒白朮、川朴、陳皮、茯苓、豬苓、澤瀉、炙甘草、上青桂，引用生薑）。</p>
<p>〔真按〕小兒因受外面寒濕，二術過於呆滯，上桂過於剛猛，與童體初劑皆不相宜。但用冬桑葉一錢，赤茯苓二錢，廣橘紅錢半，炒白朮錢半，炙甘草五分，引用生薑皮三分。</p>
<h4>附例</h4>
<p>小兒因傷寒濕而兼嘔吐，照寒濕證方中，加藿香五分，砂仁三分，引亦改用乾薑一片。</p>
<p>小兒因傷寒濕而兼泄瀉，照寒濕證方中，去桑葉，加豬苓、澤瀉各二錢。小兒因傷寒濕而兼浮腫者，但用大腹皮、茯苓皮、炙桑皮、廣陳皮、生薑皮各八分，炒白朮二錢，車前子五分，引用燈芯十莖。</p>
<p>小兒中濕發黃，因坐臥濕地，為霧露陰雨所浸漬而入，又因澡浴為風所閉，郁於肌腠，則發黃。但用茵陳蒿二錢，漂白朮一錢，白茯苓錢半，結豬苓一錢，炙甘草五分，引用生薑一片。</p>
<p>小兒破傷之處，浸入水濕，一時口噤身強直者，但用　牡蠣為粉，敷破傷之口，仍以牡蠣粉一錢，甘草湯調服。</p>
<h3>傷燥門</h3>
<h4>燥解</h4>
<p>燥為肺金之本。以肺為華蓋，處於高原，故燥必由肺先受之。燥金受熱化以成燥澀，由風能勝濕，熱能耗液而成燥也。燥於外則皮膚皺折，燥於中則精血枯涸，燥於上則咽鼻焦干，燥於下則便尿閉結。經曰：諸澀枯涸，干勁皺揭，皆屬於燥。謂陽實陰虛，則風熱勝於水濕而為燥也。究其實皆肺燥不潤，則脾自枯，血自槁，精自竭，腸自涸，因肺燥而隨之俱燥，理宜然也。稚年秋令感傷，又與成人不同，故列傷燥病。</p>
<h4>傷燥潮熱</h4>
<p>小兒傷燥潮熱，日輕夜重，古法主天門冬膏。以生天門冬去心，搗絞取汁，濾去滓，砂鍋熬成膏。每次開水調服一二匙。</p>
<p>〔真按〕因燥潮熱，是熱不時而起，故謂之潮。但用生玉竹二錢，廣桔梗八分，竹葉心八分，生甘草三分，水煎服，則燥可除。</p>
<h4>傷燥發熱</h4>
<p>小兒因秋令暴涼，外束軀骸，發熱鼻干，煩躁不寧。古法主防風通聖散（如防風、川芎、當歸、白芍等十八味）。</p>
<p>〔真按〕前方斷不可服，但用蘇梗五分，桑葉錢半，前胡三分，忍冬藤一錢，浙貝母錢半，桔梗五分，杏仁錢半，鮮生地一錢，水煎服。</p>
<h4>附例</h4>
<p>小兒因感受燥邪，咳嗽痰黏難吐，此因火爍肺金而然也。但用瓊玉膏，每次開水調服一二匙，連服數次即愈。</p>
<p>小兒傷燥皮膚折裂，爪甲干枯，搔之屑起血出，痛楚難堪，但用天麥二冬各錢半，生熟二地各一錢，栝蔞仁錢半，淡黃芩五分，水煎服。外以白蜜膏頻擦之。</p>
<p>小兒傷燥，大便閉結，日久不通者，但用玄明粉二錢，白蜜半兩，開水沖服即通。</p>
<h3>火熱門</h3>
<h4>火熱解</h4>
<p>人身有二火，一曰君火，猶人火也，二曰相火，猶龍火也。小兒平素有火，加以寒鬱，而熱成矣。若臟氣素陰，則寒雖入而熱不生。在初惟見無熱惡寒，至夜方見熱作。且有平素無熱，因於火虛而熱上浮，其症有似於熱。</p>
<p>又或中有食滯，上下氣不通泄，而身時見熱作，皆非真正純熱之謂。故治熱須分表裡陰陽，及有積熱、伏熱、熱毒、假熱之異也。火與熱有連帶關系，本草治火之藥，多屬治熱之藥，故以熱並於火，但舉熱病而火在其中矣。</p>
<h4>肝熱</h4>
<p>小兒四肢滿悶，便難轉筋，多怒多驚，筋痿不能起床，按其肌肉之下至骨之上有熱，寅卯間尤甚，此肝熱也。</p>
<p>古法主柴胡飲（如柴胡、黃芩、人參、當歸、赤芍、大黃、甘草各等分），水煎服。</p>
<p>〔真按〕瀉肝之熱，但用石決明三錢，車前子一錢，淡竹葉錢半，生草梢三分，引用生白芍磨汁沖藥服。</p>
<h4>心熱</h4>
<p>小兒心煩，掌中熱，而腕微按其皮膚之下，肌肉之上，輕手乃得，重按之則全不熱，日中為甚，此熱在血脈，即心熱也。古法主黃連瀉心湯（如黃連一味）煎湯服。</p>
<p>〔真按〕瀉心之熱，單用黃連，苦寒礙胃，但用麥冬去心一錢，淡竹葉一錢，生甘草梢三分，引用燈芯三十寸，煎服即退。</p>
<h4>脾熱</h4>
<p>小兒怠惰嗜臥，四肢不收，無氣以動，輕手捫之不熱，重按至筋骨亦不熱，不輕不重，在輕手重手之間，過夜尤甚，此熱在肌肉，即脾熱也。古法實熱則主調胃承氣湯（如大黃、芒硝、甘草三味），虛熱則主補中益氣湯（如人參、黃　、白朮、升麻等十味）。</p>
<p>〔真按〕瀉脾之熱，實者只用生黃芩一錢，生白芍一錢，生甘草梢五分；虛者只用鮮竹茹錢半，生白芍一錢，雲茯苓錢半，白通草三分，為劑。</p>
<h4>肺熱</h4>
<p>小兒咳嗽，洒淅惡寒，熱輕者，輕手按之乃得，重按全毛，日西尤甚，乃皮毛之熱，即肺熱也。古法主人參地骨皮散（如人參、地骨皮、柴胡、生地、黃　、知母、石膏、赤苓等味）。</p>
<p>〔真按〕瀉肺之熱，但用粉葛花八分，淡黃芩一錢，炙甘草五分為劑。</p>
<h4>腎熱</h4>
<p>小兒骨蒸潮熱，蘇蘇然如蟲蝕其骨，不能起床，輕手按之不熱，重按至骨，其熱蒸手，如火如炙，此腎熱也。</p>
<p>古法主滋腎丸（如黃柏、知母、肉桂等味）。</p>
<p>〔真按〕瀉腎之熱，但用熟地二錢，山萸肉、山藥各一錢，丹皮、茯苓、澤瀉各八分，加炙地骨皮錢半為劑。</p>
<h4>附例</h4>
<p>小兒上焦有熱，但用連翹殼一錢，薄荷五分，黃芩五分，生甘草梢三分為劑。</p>
<p>小兒中焦有熱，但用赤芍藥錢半，薄荷尖三分，肥知母五分，炒澤瀉一錢，雲茯苓二錢，生甘草梢三分為引。</p>
<p>小兒下焦有熱，但用五苓散三錢，燈芯十莖為引，煎服即愈。</p>
<p>小兒外熱，無故而發，多因外感，其證喜人懷抱，畏冷不欲露出頭面，面帶慘色，不渴，清便自調，吮乳口不熱，渾身拘急，此表熱也。不可用柴葛荊防，發表太過，但用連翹殼錢半，淡竹葉一錢，天花粉五分，青蒿穗一錢，粉丹皮六分，生甘草五分，引用燈芯二十寸。</p>
<p>小兒內熱傷食，但用雲茯苓錢半，山楂炭錢半，萊菔子錢半，建神麯一錢，廣陳皮一錢，加炙地骨皮一錢為引。</p>
<p>小兒內熱停痞，但用炒白朮錢半，炒扁豆一錢，雲茯苓一錢，砂仁粉五分，小枳實錢半，焦建曲一錢，炒麥芽八分，山楂炭八分，廣陳皮錢半，五穀蟲八分，加炙鱉甲五分，　牡蠣五分為引。</p>
<p>小兒內熱伏燥，但用川貝母二錢，栝蔞仁錢半，黑山梔五分，淡黃芩五分，生甘草三分為劑。熱甚加川連三分。痰多加腥星三分。</p>
<p>小兒內熱伏火，但用片黃芩錢半，生白芍錢半，生甘草八分，黑梔皮五分，牡丹皮八分為劑。</p>
<p>小兒內熱陰虛，但用生地黃二錢，北沙參二錢，炙鱉甲錢半，生白芍一錢，青蒿穗一錢，地骨皮錢半，牡丹皮八分，生甘草五分為劑。</p>
<p>小兒內熱陽虛，但用西洋參一錢，白茯苓錢半，生白朮錢半，炙甘草五分，加大棗一枚為引。</p>
<h3>感冒門</h3>
<h4>感冒風寒夾食</h4>
<p>小兒平日飲食無節，內傷停滯，外復為風寒所襲，症見發熱憎寒，頭痛惡食，噯臭吐酸，便秘尿澀，腹熱膨脹。熱盛者，古法主雙解通聖湯，雙解之法（如麻黃、朴硝等十七味，引用生薑、蔥白）；無熱者，古法主藿香正氣湯，和解之法（如藿香、蘇葉等十味，引用生薑、紅棗）；表邪即解之後，古法又主平胃散加山楂、神麯、麥芽以消導之。</p>
<p>〔真按〕既系感冒，當然混身皆熱，朝夕無間。若無熱，則但謂之傷食，不得謂感冒又夾食。此症固宜雙解，惟立方以感冒為主，夾食之藥，只兼一二味足矣。方用薄荷尖一錢，紫蘇葉八分，廣陳皮錢半，焦建曲一錢，連翹殼八分，加生蘿卜五片為引。</p>
<h4>感冒風寒夾熱</h4>
<p>小兒臟腑素稟多熱，今復為風寒所傷，風熱相搏，則火邪愈盛。症見面赤唇焦，口鼻干燥，憎寒壯熱，口渴飲冷，心神煩躁，譫語狂妄，二便秘澀，古法亦主雙解通聖湯（方見前）。如服藥後汗出便利，病雖少減，熱猶不退，古法又主涼膈散合天水散，引用燈芯煎服。</p>
<p>〔真按〕感冒夾熱，先受風寒而起，須知風寒一變，即化為熱，一切溫藥，在所必禁。但用淨連翹錢半，淡竹葉錢半，霜桑葉錢半，枯黃芩五分，飛滑石三錢，生甘草五分，引用燈芯十五寸為劑。</p>
<h4>感冒風寒夾驚</h4>
<p>小兒感冒，邪氣未解，復為驚異所觸，故見心驚膽怯，睡臥不安，身熱煩躁，面色青赤之證，古法主疏解散（如羌活、蘇葉等十一味，生薑為引），次主涼驚丸（如龍膽草、防風、青黛、鉤藤、黃連，引用生薑），煎服。</p>
<p>〔真按〕感冒兼受驚嚇，入手即須清解，勿令由感起驚，為第一要義。但用連翹殼二錢，竹卷心二錢，天竺黃錢半，小枳實五分，潤玄參五分，制膽星三分，海浮石錢半，生甘草三分，引用淡海哲三錢、生荸薺三個為劑。</p>
<h3>時疫門</h3>
<h4>時疫解</h4>
<p>時疫一證，乃天地之厲氣流行，沿門蓋境，無論老少強弱，觸之即病，遂相傳染，迥非春溫夏熱秋涼冬寒之類也。夫天地間之氣，升於春，浮於夏，收於秋，藏於冬，此氣之常也。春應溫而反寒，夏應熱而反涼，秋應涼而反溫，冬應寒而反熱，此氣之變也。人在氣交之中，如魚在水中，時行不正之氣，人受之從口鼻而入，即受毒邪異氣而不自知，迨一發則迅如風火，治之或誤時，或誤藥，即不可救。一傳十，十傳百，百傳千，一誤再誤，識時者不免撫膺而三嘆，況小兒古稱啞科，幼科諸書，皆詳於痘疹驚疳吐瀉並諸雜證，獨時疫則付闕如。若謂小兒無時疫，凡遇地方疫毒，大人易染，小兒則獨不染，於理既不可通。惟所受毒邪雖一，因其氣血未足，筋骨柔脆，故所見之症為異耳。世人但知小兒之身熱，安知其頭疼身痛乎；但知其不思乳食，心胸膨脹，疑其傷食，安知疫邪傳胃乎；但見嘔吐惡心，口渴下利，以小兒吐瀉為常事也，又安知其因時疫毒邪所迫，而為吐為瀉乎。小兒一染時疫，延捱失治，瞬即兩目上吊，不時驚搐，肢冷發痙，十指勾曲，甚則角弓反張。幼科對於此症，往往診其無吐瀉者，誤認為急驚風；兼吐瀉者，誤認為慢驚風其禍伊芳於胡底，因而作時疫解。</p>
<h4>時行瘟疫</h4>
<p>小兒當疫毒流行，忽染此病（病狀已詳時疫解說內，不再贅），古法主發毒邪者，以荊防敗毒散（如荊芥、防風、羌活、獨活等十一味。引用生薑）。清毒邪者，以普濟消毒飲（如板藍根、升麻、芩、連等十四味，引用燈芯），攻毒邪者，以二聖救苦丹（如大黃、皂角二味），水丸。無根水化服。</p>
<p>〔真按〕疫毒須分在表、在裡、在陰、在陽，不可錯認。又當察四時之氣各異，症之輕重，體之強弱，斟酌施治，方為穩當。茲只列急救一方：天竺黃三錢，人中黃三錢，直僵蠶（去黑口入藥直者為雄）一錢，全蠍一錢，荊芥穗一錢，防風一錢，水煎，沖當門子一分，調勻服之。</p>
<h4>瘟痧疹</h4>
<p>小兒忽染時疫，有兼發瘟　或瘟痧或瘟疹。出未透而表熱輕者，古法主升麻葛根湯合消毒犀角飲（如升麻、葛根、生白芍、生甘草、牛蒡子、荊芥、防風、犀角，引用芫荽）；出未透而表熱重者，主三黃石膏湯（如黃芩、黃連、梔子、黃柏、豆豉、麻黃、石膏，引用生蔥）；已透者，主消毒青黛飲（如石膏、知母、犀角、生甘草、生梔子、生川連、青黛、玄參、柴胡、生地、人參、大黃等味）；若　疹初起，表裡不清，仍主雙解通聖湯（方見前）。</p>
<p>〔真按〕時氣傳染，不是風寒客邪，亦非停滯裡證。發於衛分則為痧，衛主氣，故色白。發於榮分則為　疹，榮主血，故色紅。若其色淡紅稀暗者，皆因邪在三焦。已成疹，由外入裡，邪從陰化，或過服涼藥所致，是為陰痧、陰　、陰疹，又當從陰寒主治。茲分別證狀，列方於下。</p>
<p>小兒外見暴寒，內有伏熱，邪鬱則氣血雍遏，瘀疹不肯外達，痰阻喘逆，急宜開閉消毒，方用連翹心錢半，飛滑石三錢，石菖蒲五分，炒金銀花錢半，射干一錢，通草六分，煎化牛黃一粒。</p>
<p>小兒舌邊赤，昏譫，早輕夜重，　疹隱現，是毒邪已入血絡，但宜輕劑透　，參入芳香以開內竅，方用烏犀角五分，玄參心二錢，連翅心二錢，拿銀花錢半，石菖蒲三分。煎好，和入金汁半兩，研入牛黃丸半粒。</p>
<p>小兒伏氣，熱蘊三焦，遍體赤　，壯熱煩躁不寐，方用羚羊角二分，犀角尖二分，連翹心二錢，玄參心二錢，鮮生地三錢，金銀花錢半，天花粉一錢，石菖蒲三分為劑。</p>
<p>小兒瘟毒痧疹，口糜喉啞，治在上焦，方用烏犀角三分，鮮生地二錢，細玄參錢半，連翹殼一錢，石菖蒲二分，金銀花錢半，臨服沖入金汁半兩，湯方至寶丹半粒。</p>
<p>小兒　疹之後，伏火未清，內熱身痛，方用炒玉竹三錢，白沙參三錢，地骨皮錢半，川石斛錢半，原麥冬一錢，生甘草梢五分為引。</p>
<p>小兒　疹之後，內熱不止，陰傷少食，方用生白芍二錢，炙甘草一錢，生扁豆錢半，炒麥芽錢半，連心麥冬二錢，川石斛二錢，青蒿腦八分，五穀蟲六分，鱉甲粉一錢為劑。</p>
<h4>風溫</h4>
<p>小兒春月受風，其氣已溫，肺位受邪在先，此手太陰氣分先病，失治則入手厥陰心包絡血分，氣血兩傷，古法多主荊、防、柴、葛，加入枳、朴、杏、蘇之屬，發散消導，變證甚速。</p>
<p>〔真按〕風溫肺病，治在上焦，初起發熱喘嗽，但用薄荷葉一錢，栝蔞皮錢半，北沙參三錢，霜桑葉二錢，川貝母一錢，牛蒡八分，連翹錢半，熱重加生石膏二錢，鮮竹葉十五片，上焦得開，則邪自解矣。</p>
<h4>暑溫</h4>
<p>經云：先夏至病溫，後夏至病暑。長夏濕令，暑必兼濕，暑傷氣分，濕亦傷氣，汗則耗氣傷陽，胃汁大受劫煉，變症由此而多。然暑病古之專方甚少，皆以白虎湯為主，次亦主香薷散（如香薷、扁豆、厚朴、甘草四味）。</p>
<p>〔真按〕香薷辛溫氣升，熱伏易吐，古方大順散，香薷必佐杏仁，取杏仁苦降泄氣，以監香薷。然治小兒暑濕之症，仍不適用。初起但用鮮竹葉三十片，六一散三錢，蘇薄荷六分，連翹心錢半，鮮荷葉一角，光杏仁錢半為劑。熱甚煩渴無濕者，前方除去六一散不用，加　石膏三錢，炒知母錢半。</p>
<h4>秋疫</h4>
<p>秋疫因秋令感傷，恰值夏熱發泄之後，小兒體質虛實不同，往往混投發散，津液被劫，喘急告危，古法多用荊、防、前胡、葛根之屬，發散解肌為主。</p>
<p>〔真按〕秋疫一症，氣分先受，治肺為急，勿使熱鬱內蒸，逆傳膻中，至天君震動，狀若癇症。一切苦寒沉降及膩滯陰藥，俱在禁例。但用西瓜翠衣錢半，鮮石菖蒲五分，薄荷尖八分，嫩桑葉二錢，薏米仁錢半，白茯苓二錢，川鬱金八分，淡竹葉二錢，忍冬藤錢半，服後肺氣清肅，則營衛兩和。</p>
<h4>冬溫</h4>
<p>冬令暴冷折陽，外感發熱，頭疼身痛，嘔惡必從太陽。若渴能飲水者，則裡熱見症，又非傷寒可比。幼科太陰中寒居多，厥陰間亦有之，若冬令應寒而反溫，氣候應藏反泄，即病冬溫，古法亦以辛溫為主。</p>
<p>〔真按〕冬溫非寒症可解，若涉表邪一二，裡熱必兼七八，或外受之邪，與裡邪相搏，則郁於經絡，治法當以裡證為主，稍兼清散，方用大沙參三錢，桑葉二錢，肥玉竹三錢，生苡仁三錢，甜杏仁三錢，苦杏仁二錢，炒麥冬錢半，生甘草之分，引用絲瓜絡三寸、廣橘絡錢半為劑。</p>
<h2>卷五</h2>
<h3>驚風門</h3>
<h4>驚風辨</h4>
<p>驚風二字，立名不慎，小兒之罹其厄者，指不勝屈，揆厥原因，實不能歸咎於錢仲陽，雖喻嘉言欲糾正之，莫能翻其成案，吁！可慨也。考驚風古有八候之名。</p>
<p>一曰搐，謂肘臂伸縮也。</p>
<p>二曰搦，謂十指開合也。</p>
<p>三曰掣，謂肩頭相撲也。</p>
<p>四曰顫，謂手足動搖也。</p>
<p>五曰反，謂身仰向後也。</p>
<p>六曰引，謂手足開弓也。</p>
<p>七曰竄，謂目直而似怒也。</p>
<p>八曰視，謂睛露而不活也。</p>
<p>此八候者，無論急驚、慢驚、慢脾風，皆見之候，故謂之驚風八候。厥後因證立名，又有三十個某驚之名，間多乖謬，姑舉之以明畫蛇添足之說。</p>
<p>一曰急驚，口眼歪斜，四肢搐掣，痰壅心迷，人事不省，謂肝經積熱風火之證也。</p>
<p>二曰慢驚，面青唇白，四肢厥冷，人事昏迷，手足搐掣，眼翻痰壅，謂由大病之後，吐瀉之余，脾土虛敗，肝木無風而自動也。</p>
<p>三曰盤腸驚，氣吼肚膨，飲食不進，人瘦體弱，肚起青筋，眼黃手軟，大小便不通，肚腹疼痛，謂六腑有寒也。</p>
<p>四曰馬蹄驚，四肢亂舞，頭向上，謂因受風熱被嚇之症也。</p>
<p>五曰鯽魚驚，口吐白沫，四肢擺動，嘴歪常搭，眼翻白，謂胃經有風，脾經有寒也。</p>
<p>六曰擺手驚，兩眼向上，四肢反後，或兩手垂下，眼黃口口，人事昏沉，謂因水唬，掐之覺痛者治之，不痛不治。</p>
<p>七曰宿沙驚，曰輕夜重，到晚昏迷，口眼歪斜，四肢掣跳，黑鼻氣凝，謂脾腎有寒之證也。</p>
<p>八曰內吊驚，兩眼迷閉，哭聲不止，面青眼黃，手眼望內掣者，謂肺經受寒症也。</p>
<p>九曰天吊驚，眼向上，哭聲號，四肢掣，口眼歪斜，鼻流清水或衄血，謂肺經受風，或食後感寒而成也。</p>
<p>十曰彎弓驚，頭仰後，四肢向後，眼翻或閉，腹脹，哭聲不止，謂肺受風積痰所致也。</p>
<p>十一曰蛇絲驚，口中拉舌，肢冷而掣，哭聲不出，謂心經有熱，睡中食乳口角入風也。</p>
<p>十二曰鷹爪驚，兩手抓人，捻拳切牙，手望下，口望上，身寒戰，謂被嚇傷乳，心有風熱也。</p>
<p>十三曰烏沙驚，四肢掣跳，口唇青黑，肚脹青筋，謂臟腑受寒之證也。</p>
<p>十四曰烏鴉驚，手足掣跳，口眼俱閉，大叫一聲，形狀呆滯，謂心有熱有痰也。</p>
<p>十五曰鎖心驚，口吐沫，鼻流血，四肢軟，好吃冷物，眼白不哭，謂心肝經有熱，火盛痰壅之證也。</p>
<p>十六曰撒手驚，翻眼切牙，手足一掣一不動，謂心經被風嚇，先寒後熱，有痰之證也。</p>
<p>其余胎驚、月家驚、潮家驚、臍風驚、嘔逆驚、泄瀉驚、膨脹驚、夜啼驚、看地驚、飛大驚、擗地驚、馬路驚、瞌睡驚、饕餮驚。</p>
<p>凡如此類，種種牽強不通名目，一若有病皆驚，無病非驚，驚之命名雖多，究不越急慢驚之范圍，附會穿插，類似雷同，以眩耀庸耳俗目，誤藥誤兒，職此之故，吁！更可哂也。</p>
<p>驚字命名，均不可靠，再祥敘諸家驚風之說，加以簽注，其說益明。</p>
<p>或曰：急驚身熱目赤，口鼻氣粗，痰涎潮涌，忽然而發，發過容色如舊，有因驚駭者，亦有不因驚駭者，大都是火燥木急，故身先有熱，未有身涼而發者，證皆屬陽，宜用涼劑，除熱化痰，則驚自息，昔人謂痰生熱，熱生風，風生驚，其實皆本氣自病，世不解風自內生，徒執天麻、膽星、栝蔞、貝母、僵蠶、全蠍，雜亂風痰之藥，治之不應，更以奪命丹、或蠟丸、牛黃丸、紫雪丹等藥治之，及至元氣損傷，虛痰上逼，胸膈膨脹，則謂證變結胸，有是理哉。</p>
<p>〔真按〕目赤、身熱、氣粗、痰壅諸見端，皆由外感內傷，安有突如其來。又云火燥木急，亦有因寒傷筋而急者，未必盡由火燥。又云身先有熱而發，此熱究竟在表在裡，並未指明。又云宜用涼劑，仍慮引邪入裡。又云本氣自病，毫無依據。又云風自內生，安知其非由外生。此說之不足憑者一也。</p>
<p>或曰：驚者嚇也，由兒先有內傷，復來外感，肺竅痰迷，心無所主，一著驚而即發也。</p>
<p>〔真按〕先內傷而復外感，以致肺竅痰迷，心無所主者，非由於驚，而實由於病也，迨一著驚而即發，如專治驚而不治痰，置內傷外感於不問，不揣其本，而求其末，安望其藥能中病。此說之不足憑者二也。</p>
<p>或曰：驚生於心，痰生於脾，風生於肝，熱出於肺，此一定之理也，熱盛則生風，風盛生痰，痰盛生驚，此賊邪必至之勢也，療驚必先豁痰，豁痰必先祛風，祛風必先解熱，而解熱又將以何為先乎，肺主皮毛，皮毛為熱邪出入之門戶，彼風、寒、暑、濕、燥、火六淫之氣，皮毛受之，即入於肺，肺本出熱地也，燥火暑邪一入，則熱與熱依，而熱盛，風寒濕邪一入，肺竅為之閉塞，則熱無所泄，而熱亦盛，故解熱必先祛邪。</p>
<p>〔真按〕驚生於心等語，是驚風痰熱，皆由本臟自生，又云熱生風，風生痰，痰生驚，何以又認為賊邪，治驚先治痰，治痰先治熱，治熱先治風，又明指外邪非心肝脾肺自主，即云內生，又云外至，前後語相矛盾，難以自圓，且肺為清肅之地，非出熱之地，六淫初入，無過皮毛，使知先從外解，何至使入肺竅，而致胃塞耶，其歸宿一語，又云解熱必先祛邪，更與各本臟自生之說，互相抵忤，此說之不足憑者三也。</p>
<p>或曰：急驚者，肝經血虛，火動生風，蓋風生則陰血愈散，陰火愈熾，火動則肺金愈虛，肝邪愈熾，宜滋肝血，養脾氣，若屢服祛風化痰之劑而不效，瀉火而亦不效，便宜認作脾虛血損，急補脾土。</p>
<p>〔真按〕所云陰虛則陰火愈熾，是不知肺為何物而言，如果火盛生風，則祛風化痰瀉火之劑，不為誤用，至屢服不效，急補脾土，可見證候不確，藥不對病，誤治致變，雖煞費揣摩，亦終歸於無濟。此說之不足憑者四也。</p>
<p>或曰：急驚屬木火土實，木實則搐而有力，兩目上視，土實則身熱面赤，而不吐瀉，偃臥合睛，治宜涼瀉，亦有因驚而發者，壯熱、牙關緊急，此內有實熱，外有風邪，當截風定搐。</p>
<p>〔真按〕所云木火土實，不知所解，蓋木邪凌土，木旺土衰，何以土亦雲實，又云因驚而發，可知其神必虛，神虛則火虛，又非火實，以截風定搐為利器，類皆以風藥嘗試之。此說之不足者憑五也。</p>
<p>或曰：急驚者，壯熱痰壅、竄視反張，搐搦掣動，牙關緊急，口中氣熱，頰赤唇紅，脈浮洪數，此肝邪風熱，陽盛陰虛證也。</p>
<p>〔真按〕上述症候，明明表邪失治，未能外解，以致熱邪入裡，表裡俱急之狀，安得謂之急驚。此說之不足憑者六也。</p>
<p>或曰：小兒驚風，肝病也，亦脾熱心肺病也，蓋小兒之真陰未足，柔不濟剛，故肝邪掃動，木能生火，火能生風，風熱相搏則血虛，血虛則筋急，筋急則眩掉反張強直之類，皆肝木之本證也，至其相移，木邪侮土則脾病，木盛金衰則肺病，木火相炎則心病，木火傷陰則腎病，此五臟驚風之大概也，治之之法，一曰風，二曰火，三曰痰，四曰陽虛，五曰陰虛。</p>
<p>〔真按〕人身榮衛脈度，每日寅時，起於手太陰肺，然後五十度周於身，至丑時終於足厥陰肝，寅時復交於肺，今專指肝邪，殊不適當，即眩掉反張強直，本內經太陽經所主之病，亦非專屬於肝，若因肝而波及此臟，速宜滋水養血，猶慮其遲，安能一味施以攻伐，最後所云陽虛陰虛，與驚風毫不相涉。此說之不足憑者七也。</p>
<p>或曰：急慢驚風，古人所謂陰陽癇也，急驚屬陽，慢驚屬陰，驚邪入心，則面紅頰赤，惕惕夜啼，入肝則面目皆青，眼睛竄視，入腎則面黑惡叫，嚙齒咬人，入肺則面色淡白，喘息氣急，入脾則嘔吐不食，面色淡黃，然風非火不動，火非風不發，風火相搏而成驚風，故心肝二臟主之，然火虛則金傷，水失其母，而火無所畏，且木無所制，而脾土又受傷矣。</p>
<p>〔真按〕癇為痼疾，非驚風之暴病，驚惟心臟受之，何至入肝入脾入肺入腎，既云驚入五臟，則肝風無與焉。又云風火相搏而成驚風，心肝為主，欲證其木火生風之語，殊近牽扯。若云水盛則火傷，土失其母，而水無所畏，且金無所制，而肝木又受傷，亦無不可。此說之不足憑者八也。</p>
<p>或：急驚者陽證也，小兒陽常有餘，陰常不足，易於生熱，熱甚則生風生痰生驚，且飲食難節，喜怒不常，暴怒傷陰，暴喜傷陽，傷陰則瀉，傷陽則驚，小兒暴喜傷乳，夫乳甘緩戀膈，又兼外感寒邪，則痰凝壅塞，鬱滯熏蒸，內有食熱，外有風寒，心家熱甚則生驚，肝家風甚則發搐，肝風心火交爭，故痰生於脾，風生於肝，驚出於心，熱出於肺，驚風痰熱四證，而八候生焉。</p>
<p>〔真按〕兒體易虛易實，陽未必盡有餘，陰未必常不足，經曰嬰兒內脆，血少氣弱，未嘗云血少氣多，蓋謂真氣未生，惟此呼吸一腺而已，陽既有餘，何又有暴喜傷陽之慮，乳非屬陽，何以有暴喜傷乳之詞，從陽盛陰虛、以及飲食喜怒、內傷外感，仍舊說到驚風痰熱，雜亂無章。此說之不足憑者九也。</p>
<p>或曰：急慢驚風，或聞大聲，或大驚而發搐，發過如故，此無陰也，當下之，此證因熱生於心，身熱面赤嗜飲，口中氣熱，大小便黃赤，劇則熱也，蓋熱盛則生風，屬肝陽或陰證也，陰證指陰虛而言，故下之以除其痰，小兒痰熱客於心間，因聞非常之聲而發搐，若熱盛，不聞聲及驚，亦自驚而自發搐矣。</p>
<p>〔真按〕內經之大驚猝恐，氣血分離，此正神志受傷，陰陽破敗，急救尚恐不及，何以謂無陰而當下，且既云因驚，何以又云心熱，既云發過如故，何以又云身熱面赤二種，宜除其痰，況小兒稟受薄者，先天不足於妊前，癸水未成於現下，元精未滿，元氣無根，何得因驚而牽扯及熱生風乎。此說之不足憑者十也。</p>
<p>或曰：小兒平常無事，忽然壯熱，手足抽搐，眼目戴上，涎潮壅塞，牙關緊急，身熱目赤，此急驚屬陽，病在腑。</p>
<p>〔真按〕小兒忽發壯熱，及種種惡候，非風寒入裡為壯熱，即飲食停滯為壯熱，此實因病而發。固非平常無事之謂，但應察其受病之原，外因則達之發之，內因則導之化之，又云急驚屬腑，則與心臟肝臟渺不相關，斷無是理。此說之不足憑者十一也。</p>
<p>或曰：急驚者陽證也，俱腑受病耳，小兒客痰熱於心膈，是少陽相火旺，經云：熱生風，因時火盛而作，蓋東方之震木，得火氣而發搐。</p>
<p>〔真按〕心火顯非少陽相火，其云震木得火而搐，亦屬杜撰。此說之不足憑者十二也。</p>
<p>或曰：身熱脈浮，精神恍惚，或吐瀉不思乳食，發搐，即半陰半陽合病，身熱脈沉，精神倦怠，或吐或瀉，又能乳食，發搐，亦半陰半陽合病。</p>
<p>〔真按〕脈浮屬太陽，明明外感風寒，吐瀉兼作，屬陽明太陰，明明內傷飲食，身熱脈沉，屬太陽受寒，但吐不瀉，屬陽明傷食，明明夾食傷寒，不得謂為半陰半陽，更不得謂之驚風。此說之不足憑者十三也。</p>
<p>或曰：亦有急驚驚瀉而不愈，或與吐下藥太過，變為慢驚者，又有慢驚補溫而不愈，變為急驚者。</p>
<p>〔真按〕諸書以急驚為陽，為實熱，既是急驚，則用涼瀉無疑，何以不愈，蓋因誤以傷寒表證為急驚，所以不愈也，既系脾虛陰寒為慢驚，則用溫補適宜，何以不特不愈，反加變證，蓋因誤以傷寒自汗為慢驚，不知此證本有風邪，在表，正宜外解，而誤用溫補，所以更劇。此說之不足憑者十四也。</p>
<p>或曰：病有陰陽，急驚風屬實熱，病在心肝二臟，謂之陽癇，慢驚風屬虛寒，病在脾肺二臟，謂之陰癇，此以寒熱分陰陽也，五臟屬陰，六腑屬陽，急驚發於六腑為易治，慢驚發於五臟為難治，此以臟腑分陰陽也。</p>
<p>〔真按〕上節云急驚病在心肝，慢驚病在脾肺，此以急慢二驚屬五臟，與六腑無涉也明矣。下節又云急驚發於六腑，慢驚發於五臟，是又以臟腑皆有驚風也，屬臟屬腑，且分不清，治證安有不誤。此說之不足憑者十五也。</p>
<p>諸家之說，曰風，曰痰，曰驚，曰嚇，曰火，曰熱，曰血虛，曰木急，曰相火，曰陰火，曰外感，曰內傷，曰喜怒，曰乳哺，曰陽盛，曰陰虛，曰屬腑，曰屬臟，種種不經之言，究與驚風二字，毫無著落，夫所謂驚風者，必須認定此兩字，針鋒相對，加以急字或慢字，更須字字貼切，方可命名，獨慨夫世之有是症，而不必以此命名者，使忽改此名而不仍其舊，恐一誤再誤，其誤伊芳於胡底，今姑從世俗最普通習慣之名稱，並古之舉症施治，詳列辨明於後。</p>
<h4>大驚猝恐</h4>
<p>小兒有因目觸異物，耳聞異聲，神散氣亂而動驚者，古法主清熱鎮驚湯（如柴胡、麥冬、薄荷、梔子、川黃連、龍膽草、茯神、鉤藤鉤、生甘草、木通，引用燈芯、竹葉），調朱砂末服，亦主安神鎮驚丸（如天竺黃、茯神、膽星、棗仁、麥冬、赤芍、當歸、薄荷、黃連、辰砂、牛黃、梔子、木通、龍骨、青黛，研末煉蜜丸），量兒大小與之，淡薑湯化下。</p>
<p>〔真按〕此症乃小兒真驚也，氣血未充，精神怯弱，一遇非常之驚，則神魂震布，舉動失常，夜則跳醒，晝則驚惕，但用朱砂染茯神二錢，麥冬錢半，天竺黃二錢，細生地錢半，炒棗仁五分，　龍齒一錢，生甘草五分，引用燈芯十莖，金銀器煎湯代水，安神定魄，則驚自正。</p>
<h4>急驚風</h4>
<p>有因心肝火盛，外為風寒鬱閉，不得宣通而生者，證多暴發，壯熱煩急，面紅唇赤，痰壅氣促，牙關噤急，二便秘澀、古法主至寶丹（如麻黃、防風等二十六味，共為細末，煉蜜為丸，每丸重五分，淡薑湯化下）。</p>
<p>有因痰盛生驚者，古法主牛黃丸攻下之（如黑牽牛、白牽牛、膽星、枳實、半夏、牙皂、大黃等味，研末蜜丸，服法同上）。</p>
<p>有因熱極生風者，古法主涼膈散清解之（如黃芩、大黃、連翹、芒硝、甘草、梔子、薄荷，引用竹葉，生蜜煎服）。</p>
<p>肝熱者，古法主瀉青丸（如龍膽草、梔子、大黃、羌活、防風、川芎等味，研末，蜜丸，竹葉薄荷湯調下）。</p>
<p>痰兼熱者，古法主清熱化痰湯（如橘紅、麥冬、半夏、赤苓、黃芩、竹茹、甘草、川連、枳殼、桔梗、膽星等味，引用生薑、燈芯，水煎服）。</p>
<p>心經熱者，古法主涼驚丸（如龍膽草、防風、青黛、鉤藤鉤、黃連、牛黃等味，研末面糊為丸，金器煎湯化下）。</p>
<p>〔真按〕時俗所謂急驚風者，即痰火閉也。小兒或感風寒，或積乳食，皆生痰。痰積則化火，或受暑熱亦生火，一時失於清解，則火升而痰亦生，痰火上壅，閉其肺竅，則諸竅皆閉，目直氣喘，昏悶不醒，且火甚則肝燥筋急，變象多端，總因痰火鬱結，肝風內動而成，但可以手輕扶，不可用力抱緊，傷其經絡，致成廢疾，初起但以生藕汁，或生梨汁、或生荸薺汁，徐徐灌之，待其醒後，輕者用黃連三分，連翹一錢，黑山梔五分，飛滑石三錢，細木通六分，淡黃芩八分，小枳實五分，栝蔞霜三錢，車錢子八分，生甘草三分，引用鮮石菖蒲一分，長流水煎服。重者加制膽星三分，天竺黃錢半。若熱邪塞竅，神迷昏憒者，再加局方至寶丹半粒，藥化服。或先用白開水化服後，再服藥亦可。</p>
<h4>急驚後調理法</h4>
<p>痰火稍退，余熱尚存者，古法主琥珀抱龍丸（如人參、琥珀、茯神、山藥、甘草、天竺黃、檀香、枳殼、枳實、辰砂、膽星、金箔等味，研末蜜丸），淡薑湯化下。</p>
<p>脾虛多痰者，古法主清心滌痰湯（如竹茹、橘紅、半夏、茯苓、枳實、甘草、麥冬、棗仁、人參、菖蒲、南星、黃連，引用生薑，水煎服）。</p>
<p>〔真按〕痰火閉證善後方劑，只要清熱養血，方用細生地二錢，玫瑰炒竹茹錢半，黑山梔五分，青蒿腦八分，粉丹皮一錢，生白芍八分，生甘草梢五分，甘瀾水煎服。</p>
<h4>慢驚風</h4>
<p>此症或緣稟賦虛弱，土虛木盛者有之，或由急驚過用峻利之藥，以致轉成此證者，亦有之。發時緩緩搐搦，時作時止，面色淡黃，或青白相兼，身必溫和，昏睡眼合，或睡臥露睛，脈來遲緩，大便青色，此乃脾胃虛弱，元氣損傷，虛而夾痰者，古法主醒脾湯（如人參、白朮、茯苓、天麻、半夏、橘紅、全蠍、僵蠶、甘草、木香、倉米、膽南星，引用生薑）。</p>
<p>脾虛夾痰者，古法主緩肝理脾湯（如桂枝、人參、茯苓、白芍、白朮、陳皮山藥、扁豆、甘草，引用煨薑、大棗）。</p>
<p>〔真按〕時俗所謂慢驚風者，即木侮土也。小兒受暑受寒，或傷乳食，皆能作吐作瀉，或吐瀉交作，久則脾土虛弱，肝木乘之，其瀉漸見青色，面部痿白帶青，手足微搐無力，神氣懨懨不振，慎防暴脫，若手足一邊搖動者，十難救其一二，初起即宜用五味異功散加減，方以炒白朮二錢，雲茯苓三錢，炙甘草五分，化州橘紅一錢，扁豆衣錢半，豬苓半錢，澤瀉錢半。吐瀉加藿香梗五分，川厚朴六分。若手足皆冷，脈息細微，唇舌痿白，此將脫之證，方用西黨參錢半，炒白朮三錢，北乾薑五分，上肉桂二分，炙甘草一錢，溫中回陽，以救其脫。</p>
<h4>慢驚夾熱夾痰</h4>
<p>慢驚本無熱可言，但因脾虛而虛熱內生，故痰涎上泛，咽喉氣粗，身熱心煩，痰熱相兼者，古法主清心滌痰湯（方見急驚後調理法）。</p>
<p>脾虛肝旺痰盛者，古法主柴芍六君子湯（如六君子東加柴胡、白芍、鉤藤鉤，引用薑、棗）。</p>
<p>〔真按〕痰熱之生，皆由脾虛，仍宜以治脾為主，方用卷茯苓三錢，炒竹茹錢半，化橘紅二錢，麥冬去心錢半，川尖貝錢半，金錢術錢半，炙甘草五分，引用生白芍磨汁五分。</p>
<h4>慢脾風</h4>
<p>此證多由吐瀉即久，脾氣大傷，以致土虛不能生金，金弱不能制木，肝木強盛，惟脾是克，故曰脾風。閉目搖頭，面唇青黯，額汗昏睡，四肢厥冷，舌短音啞，頻嘔清水，此乃純陰無陽之症，吐瀉亡陽者，古法主溫中補脾湯（如人參、黃　、白朮、乾薑、附子、半夏、陳皮、茯苓、砂仁、肉桂、白芍、甘草、丁香，引用煨薑、大棗）。</p>
<p>因大病後而發者，古法主固真湯（如人參、白朮、甘草、肉桂、茯苓、山藥、黃　、附子，引用薑、棗）。</p>
<p>〔真按〕肺金不能制肝木，故肝益強，脾土不能生肺金，故脾益弱，此乃木強侮土過甚，脾陽不展，少延則脾敗，急宜大補脾土，生胃回陽，方用真吉林人參須三錢（無力者改用西黨參三錢），卷茯苓三錢，淡乾薑一錢，炒天生野術三錢，廣陳皮二錢，炒山藥錢半，炒扁豆錢半，炙甘草八分，引用上肉桂一分。</p>
<h4>附例</h4>
<p>小兒天釣，證由邪熱痰涎壅塞胸間，不得宣通所致，發時驚悸壯熱，眼目上翻，手足螈　，爪甲青色，證似驚風，但目多仰視，較驚風稍異，方用鮮竹葉心二十條，天竺黃三錢，連翹心一錢，生黃芩一錢，川黃連五分，栝蔞霜三錢，川貝母錢半，生甘草梢三分，鮮生地二錢，引用竹瀝汁十滴，沖藥服。</p>
<p>小兒內釣，多因肝臟素病，外受寒冷，其候糞青潮搐，傴僂腹痛，口吐痰沫，雖與驚癇相類，但以目有紅絲血點為別，若肢冷甲青唇口黑者不治，初起方用鉤藤鉤錢半，廣木香一錢，淡乾薑五分，甘草五分，炒白芍錢半，經霜桑葉二錢，引用炒小茴香三分。</p>
<h3>癇症門</h3>
<h4>癇解</h4>
<p>小兒癇證，類乎驚風痙風者，謂發時昏倒抽搐，痰涎壅盛，氣促作聲，故與驚痙二證相似也。但其四體柔軟，不過一食之頃即醒，依然如無病之人，非若驚風之神志不定，又非若痙風之一身強硬、終日不醒也，其證不一，治法亦各不同，臨證最宜詳辨，方可下藥。</p>
<h4>陰癇</h4>
<p>此證屬臟寒，多因慢驚之後，痰入心包，發時手足厥冷，偃臥拘急，面色青白，口吐涎沫，聲音微小，脈來沉細，輕者古法主醒脾湯（方見慢驚症），重者古法主固真湯（方見慢脾風證）。</p>
<p>〔真按〕癇症初起，先用竹瀝汁薑汁各等分，量兒大小，徐徐灌之，迨其醒後，再議用藥，無論何癇，均可照此辦法，此乃陰癇之證，方用竹節白附子一錢，天竺黃二錢，舊膽星三分，石菖蒲一分，川鬱金八分，抱茯神二錢，廣橘紅錢半，炒川連三分，炙甘草五分。</p>
<h4>陽癇</h4>
<p>此證屬腑熱，多因急驚祛風下痰不淨，久而致成是證，發熱自汗，仰臥面赤，牙關噤急，或啼叫不已，口吐涎沫，如風兼熱者，古法主龍膽湯（方見噤口），肝經熱者，古法主瀉青丸（方見急驚風）。</p>
<p>痰涎壅盛者，古法主四制抱龍丸（如天竺黃、辰砂、膽星、雄黃、麝香，研末，另用麻黃、款冬花、甘草，煎湯去滓，慢火熬成膏，合藥末為丸）。</p>
<p>〔真按〕陽癇先用局方至寶丹三分，白開水沖化，灌之即醒，然後方用制膽星五分，黑梔皮一錢，潤玄參錢半，石菖蒲三分，連翹殼二錢，竹葉心三十條，引用朱砂染燈芯一束，煎湯沖入犀角尖磨汁二分。</p>
<h4>驚癇</h4>
<p>小兒心肝熱甚，偶被驚邪所觸，因而神氣潰亂，逐致成癇，發時吐舌急叫，面色乍紅乍白，悚惕不安，如人將捕之狀，古法主先服大青膏（如天麻、白附子、青黛、蠍尾、朱砂、天竺黃、麝香、烏梢蛇肉，同研細，煉蜜和膏）。</p>
<p>次服鎮驚丸（如茯神、麥冬、辰砂、遠志、石菖蒲、棗仁、牛黃、黃連、珍珠、膽星、鉤藤鉤、天竺黃、犀角、甘草，研細煉蜜為丸）淡薑湯下。</p>
<p>〔真按〕驚癇又非大驚猝恐可比，蓋因先有蓄熱，後又受驚，方用羚羊角三分，朱茯神錢半，淡竹葉二錢，川貝母一錢，淨連翹錢半，玄參心一錢，細生地錢半，生白芍一錢，甘草梢三分，引用金銀器煎湯代水。</p>
<h4>痰癇</h4>
<p>小兒平素痰盛，或偶因驚熱，遂致成癇，發時痰涎壅塞，喉間氣促，昏倒，口吐痰沫。古法主先服一捻金以急下其痰（方見不乳），次則服朱衣滾痰丸（如礞石、沉香、黃芩、大黃，為末，水泛為丸，朱砂為衣），量兒大小，白開水化服。</p>
<p>〔真按〕古之先後二方，均太猛烈，慎勿輕用。方以萊菔子錢半，舊膽星五分，化橘紅錢半，川尖貝二錢，鮮竹茹二錢，淨連翹錢半，苦杏仁二錢，天竺黃二錢，引用竹瀝汁十滴，服之氣順痰清，則癇自止。</p>
<h4>食癇</h4>
<p>小兒乳食過度，停結中脘，一時痰熱壅盛，遂致成癇，其初面黃腹滿，吐利酸臭，後變時時發搐，古法主妙聖丹（如雄黃、蠍梢、朱砂、代赭石、巴豆、杏仁，共研細末，蒸棗肉為丸），木香煎湯化服。</p>
<p>〔真按〕因傷食而發癇，所重全在食積，方用小枳實一錢，生熟穀芽各八分，薑汁炒竹茹錢半，山楂片二錢，白芥子一錢，范志曲一錢，黑梔皮五分，生甘草五分，引用玄明粉錢半，沖藥服，清其積滯，而癇自定。</p>
<h4>風癇</h4>
<p>小兒因汗出脫衣，腠理開張，風邪乘隙而入，發時目青面紅，手如數物，古法主化風丹（如膽星、羌活、獨活、天麻、防風、甘草、荊芥穗、人參、川芎，為末蜜丸），薄荷湯化開服。</p>
<p>〔真按〕感受外風，由腠理而入，只要從輕化解，不必重用風藥，方用嫩薄荷五分，桑葉絡錢半，舊膽星三分，細木通八分，淡竹茹錢半，炒白芍一錢，廣橘絡錢半，絲瓜絡二寸，炙甘草三分。</p>
<p>若風兼痰者，加真西牛黃一分，沖服。</p>
<h4>附例</h4>
<p>小兒肝癇、謂肝有邪也，忽然昏迷，抽掣有力，方用龍膽草一錢，淡黃芩八分，生白芍八分，連翹殼錢半，生甘草五分。</p>
<p>大便不通，加生錦紋三分。</p>
<p>小兒心癇，謂心有火也，忽然昏迷，目赤有火，飲水，方用生川連五分，淡竹葉錢半，連翹心一錢，細生地錢半，朱燈芯六分，栝蔞霜錢半，甘草梢三分。</p>
<p>小兒脾癇，謂脾有痰也，忽然昏迷，目直發熱，面色光潤，方用紫蘇梗一錢，生香附錢半，米泔浸蒼朮八分，廣陳皮錢半，川鬱金三分，炙甘草三分，蜜栝蔞錢半，引用竹瀝薑汁各十滴。</p>
<p>小兒肺癇，謂肺氣不通也，忽然昏迷，面色白，手足微動，方用苦桔梗錢半，川貝母一錢，甘菊花錢半，蜜款冬花錢半，廣陳皮錢半，雲茯苓三錢，甜杏仁三錢，炙甘草五分，引用甜葶藶三分。</p>
<p>小兒腎癇，謂腎氣先天不足也，忽然昏迷，肢體如尸，口吐白沫，方用六味地黃丸三錢，加炒牛膝八分，上肉桂二分，煎湯連續服。</p>
<p>附：諸癇外治法：細看小兒耳後高骨間，有紫青筋紋，用銀針輕輕挑破即醒。</p>
<h3>痘證門</h3>
<h4>痘解</h4>
<p>上古之人不出痘，中古之人皆出痘者，此情欲之關系，即胎稟之關系也。塞北之人不出痘，中土之人，無一不出痘者，此地理之關系，即氣候寒涼溫熱之關系也。毒有淺深，故出有輕重，小兒痘證初起，與傷寒相似，身體發熱，不時驚悸，口鼻氣粗，兩眼發定，惟中指獨冷，耳尻不熱，再細察耳後有紅筋，皆為出痘之形證也，如呵欠煩悶，痘出肝經，咳嗽有痰，噴嚏出涕，痘出肺經，驚悸煩躁，面色紅赤，痘出心經，喜睡自利，四肢發熱，痘出脾經，惟腎經但見耳尻發涼者，是火不能勝水也。</p>
<p>當今種痘之法，盛行中外，一切出痘之部位，痘形痘色之順逆，痘證之老嫩疏密，辨形神聲氣飲食之虛實，辨氣血陰陽表裡之虛實，稟賦之順逆，天時人事之順逆，皆與種痘無關系，故略而不詳。</p>
<h4>種痘解</h4>
<p>古有種痘之法，相傳宋真宗時，峨嵋山神人所創，實具百發百中之功，洵為盡美盡善之術，推原其理，出痘多感於得病之後，而種痘必施於無病之先，出痘或遭天地寒暑之不齊，而種痘必擇天地融和之美候，內無他病之夾雜，外復有善苗為引導，化險為夷，何樂不為。</p>
<p>或者曰：痘為小兒一大病，當天行時，人人尚思遠避，今無故取嬰孩而與之以病，可乎，曰非也。譬如捕盜，乘其羽翼未成，就而擒之，甚易耳；譬如去莠，乘其滋蔓未延，芟而除之，又甚易耳。小兒痘毒，其發由腎而肝、而心、而肺、而脾，故痘之發毒，腎最重，脾最輕，即古用痘苗塞鼻孔法，亦必五臟傳編，始能發熱，緣鼻為肺之外竅，苗塞鼻中，其氣先傳於肺，肺傳心，心傳脾，脾傳肝，肝傳腎，腎主骨，痘毒藏骨髓之內，感苗氣而發其毒。</p>
<p>自骨髓盡達於筋，則腎臟之毒解矣。自筋盡達於肌肉，則肝臟之毒解矣。自肌肉盡達於血脈，則脾臟之毒解矣。自血脈盡達於皮毛，則心臟之毒解矣。自皮毛盡達於顆粒，則肺臟之毒解矣。</p>
<p>苗氣必歷五臟層遞而入，內毒亦必歷五臟層遞而出，此傳送之次序也，今種牛痘法擇於兩臂中消爍清冷淵二穴、上下交連之處，下苗種之，似與塞鼻孔之法有異，殊不知人身兩臂，乃手少陽三焦經也，三焦者人身最關要之腑，如天地之三元，總領五臟六腑，營衛經絡，通內外左右上下之氣，三焦通則內外左右上下皆通，得其關要之處，引之直從皮毛血脈肌肉經絡，同時直傳而入，縱有胎毒深藏於腎，亦自然同時引挈而出、如引路然，引諸坦途，則無顛躓之患，如引絲然，引其端緒，則無棼亂之尤，此種痘所以免出痘之危險，更分別條列於後。</p>
<h4>審天時可種不可種</h4>
<p>種痘之時，以天氣融和為主，正、二、三、八、九、十月為上，嚴寒酷暑，均非所宜，必不得已則四、七、十一、十二，尚可種也。若五月六月，斷不可種。又如春應溫而反涼，夏秋冬可類推，凡遇天時不正之氣，皆不可種。</p>
<h4>驗兒體可種不可種</h4>
<p>自小兒生百日後，若形氣充實，精神強健，內無痰熱食積驚嚇所傷，外無風寒暑濕燥火所感，並無瘡癩、無瘰、無胎毒者，便可及時引種。</p>
<p>又兒若面部紅潤精采，明亮透達，印堂、山根、年壽及眼下口角無青暗之色，兩目有神氣精光，此皆無病之兒可種，反是則不可種。</p>
<h4>痘苗</h4>
<p>痘種何以自牛而來，前賢欲窮其故，見牛乳旁有青蘭小泡，形與痘類，因悟牛之患痘必輕，以之傳人，必然無害，於是按古之針刺法，取牛痘之漿，種人兩臂，按穴刺之下苗，旬日果於所刺之處，隨出數顆，自灌水至滿漿，以及收痂落靨，無一損傷，無一復出，蓋牛土畜也，人之脾屬土，以土引土，同氣相感，故能取效，然必須擇佳種鮮漿為要。</p>
<h4>論種痘已出時期</h4>
<p>自刺引之後，並不發熱，其初一二日所刺處，常如蚊咬，至第三四日始露形影，發出痘尖頂脫血跡，第五六日起如小　，周遭灌水，第六七日水足灌漿，微微覺癢，第八九日灌漿滿足，兩腋底微疼，略似結核，頭額掌心俱見微熱，此周身痘由此出，毒發則火動，正要其元陽運化也，第九日十日腳外紅暈隨散，微熱必退，漿轉黃蠟色，痘心焦硬處變蒼而結靨，半月之外，靨落有疤，其靨光澤堅濃，卷邊如小香菰樣，細看　內更有幾點小　，居其中間，此種情形齊備，可以告成功矣。</p>
<h4>調寒暖</h4>
<p>酌量天時，相度小兒體氣，以加減其衣被，常令兒手掌溫和，身不煩躁，並忌一切擁爐向火、乖涼風、弄冷水等事。</p>
<h4>慎飲食</h4>
<p>吮乳小兒，不多乳，不闕乳，能食之兒，勿吃辛熱炙　黏硬生冷，勿多吃茶水，食勿過飽，亦勿過飢，乳母先須戒食一切鮮發辛熱炙　生冷等物。</p>
<h4>補種</h4>
<p>下苗之後，有因痘苗日久，氣薄無驗不出者，或因小兒五內壯實，不受苗氣，難於傳進不出者，或因胎毒深邃，潛藏內蓄，雖苗氣傳至不能引出者，總當候至十四日，再為補種。</p>
<h4>治痘損破膿水不止</h4>
<p>〔真按〕此方可用綠豆一兩，茶葉五錢，雄黃三分，梅花冰片二分，共為細末，如豆干則用芙蓉花油、或蠟梅花油調搽，若痘濕則以細末摻之。</p>
<h4>治痘潰爛</h4>
<p>〔真按〕此方可用荔枝殼微燎存性，草紙燒灰存性，多年陳茅草晒乾三味，共為細末摻於爛處，即能收水結痂。</p>
<p>如陳茅草一時難尋，即單用黃豆燒灰，研極細末，摻之亦可。</p>
<h4>治痘潰爛流血不止</h4>
<p>〔真按〕此方可用古牆屋之爛草、或稻草，洗淨晒乾為末，摻之可止，因此草久經風霜雨露之滋，而感天地陰陽之氣，善解痘瘡之毒，並能收濕氣也。</p>
<h4>未種而自出痘</h4>
<p>痘出發熱，古法主解肌疏表，多用升麻葛根湯（如升麻、葛根、赤芍、甘草，引用芫荽），或用荊芥、防風、前胡、牛蒡、紫草、木通、紅花、天蟲、川芎、蟬蛻等味。</p>
<p>〔真按〕伍氏方法，見點忌升麻，即葛根疏表亦忌，世俗布痘，每盛發於君相風木燥金司令，蓋非火不發也，若裡熱甚重，煎灼脂液，只可苦寒下奪，略佐升表，方用生石膏三錢，生大黃一錢，連翹殼二錢，赤芍藥錢半，天花粉錢半，紫草五分，細木通一錢，粉丹皮錢半，引用犀角尖磨汁二分。腹痛加小青皮五分。</p>
<h4>附例</h4>
<p>小兒痘已發齊，又須涼血解毒，方用生地黃二錢，淨連翹錢半，金銀花二錢，生甘草五分，紫花地丁錢半，紫草五分，便滑改用紫銚。血熱加丹皮錢半，犀角屑三分；火盛加黃連五分，石膏三錢，羚羊角三分，有　加金汁一小匙，玄參錢半；頭面不起，加川芎五分，雞冠血五滴；咽喉痛加射干一錢，玄參錢半，山豆根錢半；狂亂躁擾，加地龍汁一小匙；毒重血凝，加豬尾血一小匙，冰片二分。</p>
<p>小兒痘已堆沙靨痂，恐有餘毒，宜進清涼，佐以分利，方用生苡仁二錢，百合一錢，片茯苓三錢，霍石斛二錢，北沙參錢半，炒麥冬錢半，川尖貝一錢，生草梢五分。</p>
<h3>麻疹門</h3>
<h4>麻疹解</h4>
<p>麻疹之名，各方不同，北京以溫疹為命名，河南以　疹為命名，山西陝西以糠瘡為命名，山東、福建、廣東、廣西、雲南、貴州、四川俱以疹子為命名，江南以痧疹為命名，浙江以　子為命名，湖廣江西俱以麻疹為命名，又呼為艄子，聞人氏以膚疹為命名，雖四方之命名有別，其實皆一疹也，他如瘙疹、癮疹、溫疹、蓋豆疹，皆非正疹，惟麻疹乃謂之正疹，亦系胎元之毒，伏於六腑，感天地邪陽火旺之氣，自肺脾而出，故多咳嗽噴嚏，鼻流清涕，眼淚汪汪，兩胞浮腫，身熱二三日、或四五日，始見點於皮膚之上，形如麻粒，色若桃花，間有類於痘大者，此麻疹初發之象也，形尖疏稀，漸次稠密，有顆粒而無根暈，微起泛而不生漿，此麻疹見形之後，大異於痘也，但調治麻疹者，慎毋失之大意，以麻疹變化之迅速，較出痘更有甚焉者，此亦小兒萬不能免之一大證也。</p>
<h4>麻疹輕重辨</h4>
<p>輕證因小兒氣血和平，素無他病，雖感時氣而正能制邪，發熱和緩，微微汗出，神氣清爽，二便調勻，見點則容易透澈，散沒則不疾不徐，此系輕證為易治。</p>
<p>重證因小兒素有風寒，食滯、表裡交雜，一觸邪陽火旺之氣，內外合發，而正不能制邪，必大熱無汗，煩躁口渴，神氣不清，便閉尿澀，見點不易透澈，收散或太緊束，此系重證為難治。</p>
<h4>麻疹證象並主治大綱</h4>
<p>麻疹之證，其初發熱，與傷寒相似，但疹則面頗紅，咳嗽噴嚏，鼻流清涕，目中淚出，呵欠喜睡，或吐或瀉，或手掐眉目鼻面之為異耳，不可誤作傷寒施治，而妄用汗下也。</p>
<p>妄汗則增其熱，而證一變，或鼻衄，或咳嗽，或口瘡咽痛，或兩目赤痛，或煩躁，或大小便不通。</p>
<p>妄下則虛其裡，而證又一變，或滑泄，或滯下。</p>
<p>經曰：必先歲氣，勿伐天和，言不可妄汗妄下也，故治麻疹者，於未出之先，宜用表發，不宜過用寒涼，恐冰伏毒熱，雖出也不能盡透，其毒反內攻於心，若已出透，又當用清利之品，以祛內之余熱，況麻疹屬陽，留熱則傷陰，陰分傷則血耗，最後以養血為正宗，至臨時權變之方，則又當隨證為轉移，非楮墨之所能盡述也。</p>
<h4>麻疹初潮辨證</h4>
<p>麻疹初潮，未現標時，必身熱憎寒頭疼，咳嗽，或吐，或乾嘔，或瀉，或腹痛，或鼻塞，或鼻流清涕，噴嚏呵欠，眼胞浮腫，目淚汪汪，腮赤，煩躁不寧，古法主宣毒發表湯（如升麻、葛根、前胡、桔梗、枳殼、荊芥、防風，薄荷、木通、連翹、牛蒡子、淡竹葉、生甘草，引用芫荽）。</p>
<p>〔真按〕疹亦胎毒所發，其色紅而碎密，行於皮膚之間者，屬手少陰心經君火也，心肺相連，肺位乎上，心經火旺，則肺受之，故肺受毒最重。</p>
<p>咳嗽者，肺因心火炎上，而肺葉焦舉也。</p>
<p>鼻流清涕者，鼻為肺之竅，以火爍金，而液自流也。</p>
<p>目中淚出者，肺熱則移於肝，肝之竅在目也。</p>
<p>呵欠者，肝屬木，木能生風之故也。</p>
<p>吐與乾嘔者，心火流入於胃也。</p>
<p>眼胞浮腫，腹痛而泄瀉者，肺熱流於大腸，肺與大腸相表裡也。</p>
<p>腮赤煩躁，心火旺也。</p>
<p>噴嚏，肺經火邪也。</p>
<p>或手掐眉目唇鼻及面者，肺熱之候也。</p>
<p>細看兩耳根下頸項連耳之間，以及背脊之下，至於腰間，必有三五紅點，此即麻疹之報標，方用薄荷葉八分，粉葛花五分，荊芥穗五分，連翹殼錢半，牛蒡子一錢，細木通一錢，鹽枳殼六分，淡竹葉錢半，引用燈芯七莖。</p>
<p>附加減法：無咳加留白陳皮一錢，以甚其咳，有咳切不宜加；往來潮熱者，除淡竹葉不用，加蘇葉五分，蔥白一寸，以疏表之，潮熱太甚者，加赤茯苓八分，生地錢半，淡黃芩一錢；無汗，加蔥白三寸以發之；喘促，加栝蔞仁錢半，甜葶藶三分，炒萊菔子三分；嘔吐，加竹茹錢半，柿霜一錢；呃逆，加鮮枇杷葉一片，鮮竹茹一錢；鼻衄，加鮮茅根三錢；咽喉痛，加射干一錢，牛蒡子照原方倍用之；唇干齒燥，舌苔枯黃口渴等候，加麥冬錢半，天花粉八分，生條芩八分，黑梔仁五分；熱甚、大便堅實者，加火麻仁二錢，炒枳實八分；大便溏者，除枳殼不用；大便溏泄而有微汗者，除薄荷竹葉二味不用；洞泄者，加豬苓錢半，澤瀉錢半；小便赤者，除薄荷葉加赤茯苓錢半，車前子六分；小便不通者，加細生地三錢，木通八分，淡竹葉照原方倍用。</p>
<h4>麻疹已現治法</h4>
<p>麻疹見形，以細密紅潤者為佳，若有不透徹者，因風寒閉塞，必有身熱無汗，頭疼嘔惡，疹色淡紅而黯之症，古法主升麻葛根湯（如升麻、葛根、白芍、甘草），加蘇葉、川芎、牛蒡子。</p>
<p>因毒熱壅滯者，必面赤心熱，譫語煩渴，疹色赤紫滯黯，古法主三黃石膏湯（如麻黃石膏、淡豆豉、黃柏、黃連、梔子、黃芩等味）。</p>
<p>又有正氣虛弱，不能送毒外出者，必面色　白，身微熱，精神倦怠，疹色白而不紅，古法主人參敗毒散（如人參、川芎、羌活、獨活、前胡、枳殼、桔梗、柴胡、生甘草、赤苓，引用生薑）。</p>
<p>〔真按〕疹證初現，未全透徹，方用粉葛根八分，軟前胡八分，荊芥穗八分，連翹殼錢半，淨蟬蛻七個，細木通六分，蜜蒸桑白皮五分，川貝母錢半，引用燈芯十莖。</p>
<p>附加減法：潮熱太甚者，加生地黃二錢，地骨皮一錢，生條芩八分；口渴者，加原麥冬一錢，天花粉八分；無咳，加留白陳皮八分；無汗，加蔥白三寸；氣喘者，加甜葶藶三分，栝蔞霜錢半；喘甚者，加萊菔子八分，白芥子五分，紫蘇子五分；嘔吐者，加柿蒂一個，新竹茹錢半；鼻衄，加鮮茅根三錢；衄甚者，加生黃芩錢半，生黃連五分；大便堅者，加生枳實一錢，火麻仁錢半；大便閉者，加丑牛八分，大便閉用丑牛仍不通者，加生錦紋五分，生黃芩五分，生黃連三分；大便溏者，加赤茯苓一錢，宣澤瀉八分；小便閉塞不通者，加車前子八分，枳殼八分。</p>
<h4>麻疹宜避風寒</h4>
<p>麻疹未出之先，一受風寒，令兒肌膚干燥，腠理閉密，遂至疹毒不得發越，正出之際，忽為風寒所觸，出必復收，已收之後，若不避忌，留毒難盡，變證無窮，輕者證延日久，咳嗽與痰疾，終身不愈，重者必變危證，宜始終謹避為妥。</p>
<h4>麻疹忌食生冷</h4>
<p>疹本火候，自發熱至出透之日，未免有口渴煩躁，故多喜食冷物，然食冷雖曰無妨，而生冷始終當忌，即使透表之後，只可以雪梨、蓮藕、荸薺、柿餅略食，亦不可恣食，若桃、李、梅子、柑、橘、石榴、菱角，又在所必忌。</p>
<h4>麻疹忌食辛辣</h4>
<p>小兒出疹，最嗜辛辣之味，與熱湯水，蓋疹屬火候，火蘊於內，得辛辣熱物，而痰火暫快，故多喜食，如或因其酷飲，遂以胡椒、茱萸作湯，或醇酒、薑、蒜、韭、薤之類，與食而順其欲，暫雖快暢，久則痰火益甚，致疹變為紫黑色，或二便閉結，或成血痢腸頭露出，或生牙疳，或唇舌破裂，或喉中痰響　，或五竅出血，或大熱不止，致胃火益甚，而飲食即吐不能下者，種種惡候，因而生焉，食物既忌辛辣之味，藥劑更忌辛辣之品，又可知矣。</p>
<h4>麻疹忌食諸肉、雞、魚、鹽、醋等物</h4>
<p>疹證，凡馬、牛、豬、羊、鵝、鴨、魚腥等味，鹽、醋、甘、甜、面食、五辛、滯氣煎　等物，必俟疹收後四十九日之外，方可食用。惟宜食淡，庶無後患，否則食鹽太早，令兒咳嗽；食五辛太早，能生驚熱；食葷腥太早，必生奇證，慎之慎之。</p>
<h4>麻疹忌用補澀</h4>
<p>疹證初起，多有泄瀉不止者，其毒火正可因瀉而減，此殊無妨，若出透之後，而瀉紅黃色糞者，乃內有伏熱也，與泄瀉過甚者，俱宜以加味三苓散與之，一服即愈，切不可用參朮訶蔻補澀之劑，以圖速止，否則必多變證，輕則變為休息痢，重則變為腹脹喘滿而不可救，戒之戒之。</p>
<p>附加味三苓散方結豬苓（七分）　細木通（七分）　車前子（七分）　赤茯苓（七分）　宣澤瀉（八分）　酒炒黃芩（五分）</p>
<p>炒研牛蒡子（五分）　川黃連（二分）　引用燈芯（五十寸）</p>
<h4>麻疹收沒太早</h4>
<p>疹證見形，三日之後，當漸次沒落，不疾不徐，方為無病，若一二日疹即收沒，此為太速，因調攝不謹，或為風寒所襲，或為邪穢所觸，以致毒反內攻，輕則煩渴譫狂，重則神昏悶亂，古法主內服荊防解毒湯（如薄荷、連翹、荊芥、防風、黃芩、黃連、牛蒡子、大青葉、犀角、人中黃，引用燈芯、蘆根）。</p>
<p>亦有當散不散者，因有虛熱留滯於肌表也，其證潮熱煩渴，口燥咽乾，切不用純用寒涼之劑，古法主柴胡四物湯（如柴胡、白芍、當歸、川芎、生地、人參、淡竹葉、地骨皮、知母、黃芩、麥冬，引用生薑、紅棗）。</p>
<p>〔真按〕疹證因風寒邪穢所傷，收沒太早，方用荊防解毒，正合病情，茲擬鮮大青葉二錢，北防風一錢，酒黃芩一錢，酒黃連五分，連翹殼一錢，人中黃一錢，荊芥穗六分，犀角片五分，蘇薄荷六分，引用燈芯一束，鮮蘆根二錢，牛蒡子一錢。</p>
<p>若虛熱留滯肌表，方用鮮生地三錢，台黨參錢半，當歸尾八分，軟柴胡五分，炒白芍一錢，炒知母一錢，酒黃芩八分，蜜炙桑白皮八分，淡竹葉五分，麥冬去芯一錢，引用小紅棗一枚。</p>
<h4>麻疹出透熱不退</h4>
<p>麻疹非熱不出，若既出透，其熱當減，倘仍大熱，則系毒盛壅遏，古法主化毒清表湯（如葛根、薄荷、地骨皮、牛蒡子、連翹、防風、黃芩、黃連、玄參、知母、木通、生甘草、桔梗、引用生薑、燈芯）。</p>
<p>〔真按〕身熱不退，方用粉葛根一錢，牛蒡子錢半，軟防風一錢，潤玄參錢半，肥知母錢半，連翹殼一錢，生黃連六分，地骨皮一錢，生黃芩一錢，薄荷葉五分，生甘草五分，引用燈芯十五莖。</p>
<h4>附例</h4>
<p>小兒出痘之際，發熱熏蒸，才現痘苗數十顆，遍身通紅細密，形如出疹，是痘為正出，而疹不過脾肺兩經之風熱游火隨痘而出現也，方用潤玄參錢半，升麻五分，防風五分，荊芥穗五分，牛蒡子八分，生甘草去皮三分。</p>
<p>小兒麻疹閉證，其初出時眼胞腫，白夾赤色，聲啞，唇腫掀翻，鼻干鼻煽，氣喘煩躁，口渴，腰痛腹脹，人事昏沉，口鼻出血，煩亂狂叫，二便出血，此乃毒火鬱內而閉也，方用宣毒發表湯，除升麻、桔梗、甘草三味，加酒炒黃芩七分，酒蜜炒麻黃三分，或更加玄參錢半，山豆根一錢。</p>
<p>小兒毒熱入眼生翳，方用蟬蛻去頭足洗淨白菊花二味等分，水煎加蜜再煎，食後溫服。</p>
<p>小兒疹證失音，乃熱毒閉塞肺竅而然也，疹初失音者，方用細玄參錢半，牛蒡子一錢，生甘草五分，升麻三分。</p>
<p>已發失音者，方用玄參錢半，原麥冬錢半，黑梔仁一錢，牛蒡子錢半，蘇薄荷五分，生甘草三分，酒黃芩一錢，胡桃肉去皮錢半。</p>
<p>小兒疹後成癆，因疹已收沒，身熱日久不退，肉消骨立，毛焦發枯，已成疹癆，方用背陰草一名鳳尾草，生於背陰之處或井中，用燒酒同草及雄黃末，煎熱數沸，將軟絹蘸藥在背脊骨上揩拭，從上至下，久久行之可愈。</p>
<p>小兒瘙疹，因在胎中受母血熱之氣，所蒸已久，及生後外遇涼風，以致遍身紅點，如粟米之狀，盈月內見者，名為爛衣瘡，百日內見者，又名百日瘡，未出痘疹之先見者，即名為瘙疹，不治自愈。</p>
<p>小兒蓋痘疹，因痘方愈而疹隨發也，痘後余毒未盡，恣意飲食，外感風寒，致又遍身出疹，色赤作癢，始如粟米，漸成雲片。方用連翹殼一錢，牛蒡子七分，防風七分，荊芥七分，黃芩七分，梔仁五分，滑石五分，車前子八分，穀瞿麥八分，木通六分，蟬蛻十二只，熟石膏一錢，天花粉一錢，淡竹葉一錢，炙地骨皮一錢。</p>
<p>小兒癮疹，乃心火灼於肺金，又兼外受風濕而成也，發必多癢，隱隱於皮膚之中，宜疏風散濕。方用薄荷尖一錢，前胡八分，麩炒枳殼八分，桔梗八分，蟬蛻十四只，連翹殼一錢，赤茯苓一錢，生甘草五分，引用鮮桑葉三片。</p>
<h2>卷六</h2>
<h3>霍亂門</h3>
<h4>霍亂解</h4>
<p>經曰，足太陰厥氣上逆，則霍亂。又曰，不連熱則熱至，熱至則身熱，吐下霍亂。此病起於倉猝，揮霍擾亂，無有或止，然小兒得之，多因夾食傷寒，陰陽乖隔，上吐下瀉，煩躁悶亂，即此證也。蓋人有三焦，上焦受納水穀，主入而不主出，中焦腐化水穀，流行於五臟六腑，下焦分別水穀，主出而不主納，故邪在上焦則吐，邪在下焦則瀉，邪在中焦，則上吐下瀉。大凡濕霍亂能吐能瀉，則邪氣上下得出，迨穢滯出盡，則吐瀉自止，故治之尚易。若干霍亂則上不得吐，下不得瀉，脾胃六邪，毫無出路，若加喘滿作搐，多不可救，故稱難治。且治須分別寒熱，慎勿錯認誤投，此最要關鍵也。</p>
<h4>干霍亂</h4>
<p>干霍亂乃寒暑凝結，欲吐不吐，欲瀉不瀉，腹中絞痛，俗名絞腸痧。其證煩渴大飲者屬熱，古法主桂苓甘露飲（如土炒白朮、茯苓、澤瀉、石膏、水飛滑石、豬苓、寒水石，加肉桂少許）。</p>
<p>若厥逆不渴者，屬寒，古法主理中湯（如人參、白朮、乾薑、炙甘草）。</p>
<p>〔真按〕小兒體弱不能忍耐，得絞腸痧證尤易生變，無論陰痧陽痧，急用食鹽和陰陽水與服，一面令兒伏臥，以手蘸溫水，輕輕拍其兩膝彎，名曰委中穴，細看彎內有紫黑點出現，以銀針刺出惡血，立時即松，脾脈、肝脈、腎脈三陰之脈皆從此委中穴經過。</p>
<p>又一法以軟帛蘸香油擦兩手肘內彎，名曰曲池穴，刮起紫疹，亦立時即松，肺脈、心脈、心包絡脈皆從此曲池穴經過。</p>
<p>繼以湯劑，腹痛手足冷者、為陰痧，方用藿香梗一錢，廣木香八分，油厚朴八分，炒枳實一錢，炙甘草五分，煎好、再以蘇合香丸半粒，研細，調藥溫服，腹痛手足暖者，為陽痧，方用生扁豆錢半，川厚朴八分，赤茯苓錢半，砂仁粉五分，薑黃連五分，引用荷花露半兩，沖服。</p>
<h4>濕霍亂吐瀉交作</h4>
<p>濕霍亂乃暑飲合邪，其證吐瀉交作，刻無停機，肚腹疼痛，口渴引飲，胸膈膨悶，飲盛者，古法主二香飲（如蘇葉、藿香、茯苓、扁豆、厚朴、陳皮、半夏、生甘草、大腹皮、白芷、桔梗、黃連、香薷，引用生薑、燈芯）。</p>
<p>暑盛者，古法主辰砂益元散（如辰砂、滑石、甘草，引用燈芯、生薑）合抱龍丸沖服。</p>
<p>〔真按〕小兒得吐瀉寒證，方用潞黨參二錢，炒白朮六分，炙甘草一錢，北乾薑三分，淡附子一片，陰陽水煎服。寒甚，加來復丹一分，沖服。</p>
<p>熱證方用荷葉梗二錢，縮砂仁五分，生扁豆錢半，油厚朴五分，宣木瓜六分，赤茯苓錢半，新會皮一錢，塊滑石三錢，生甘草五分。</p>
<p>注意：熱湯米湯，切忌勿犯，必待其吐瀉過後一二時，服藥過後，俟胃氣稍回，渴止知飢，方可稍與稀粥吃之。</p>
<h4>附例</h4>
<p>小兒濕霍亂，有先瀉後吐者，乃脾胃虛寒，故先瀉白水，而吐亦不多，口氣緩而神色不慢，額上有汗，六脈沉細，此屬虛寒，方用理中丸三錢，加藿香五分，木瓜三分，川朴五分，陰陽水煎服。</p>
<p>小兒濕霍亂，有先吐後瀉者，乃脾胃有熱，故喘促唇紅，吐多面赤，隨即泄瀉，渴飲水漿，脈數，此屬積熱，方用雲茯苓三錢，漂白朮二錢，結豬苓二錢，宣澤瀉二錢，藿香梗一錢，川朴花一朵，扁豆皮一錢，引用鮮荷梗五寸，陰陽水煎服。</p>
<h3>疳證門</h3>
<h4>疳解</h4>
<p>凡十六歲以上為成人，病則為癆，十六歲以下為小兒，病則為疳。緣所稟之氣血虛弱，真元不足，臟腑嬌嫩，易於受傷，有因一歲以內，腸胃未堅，乳食雜進，所吮之乳，與所食之物，不相融化而成者；有因兒僅歲余，甘肥無節，積滯日久，面黃肌削，而成者；有因二三歲後，雜物恣其啖食，食久成積，又因取積太過，反傷胃氣而成者；有因大病之後，吐瀉瘧痢，乳食減少，以致脾胃失養而成者；有因乳母寒熱不調，或喜怒房勞之後，即與乳哺而成者。究其病源，莫不由於脾胃。蓋胃為水穀之海，水穀之精氣為營，悍氣為衛，營衛豐盈，灌溉五臟，所以氣足毛孔致密，腠理堅強，血足則顏色鮮妍，皮膚潤澤，若病疳之形不魁，乃氣不足也，病疳之色不華，又血不足也，而要皆由脾胃之因積化熱，因熱成疳，消耗氣血，煎熬津液，其證初起，不過尿如米泔，午後潮熱，歷久失治，則轉為頭皮光急，毛髮焦稀，腮縮鼻干，口饞唇白，兩眼昏爛，操眉擦鼻，脊聳體黃，斗牙咬甲，焦渴自汗，便白瀉酸，肚大青筋，酷嗜瓜果咸炭水泥者，即疳之正候也。若謂治疳必攻其積，然積為虛中之積，恐攻不受攻，而疳危矣。若謂治疳必除其熱，然熱為虛中之熱，恐除未盡除，而疳又危矣。苟能分其所屬而善治之，何至有惡食滑瀉，乳食直下，牙齦黑爛，頭項軟倒，四肢厥冷，下痢腫脹，面色如銀，肚硬如石，肌肉青黑，肛門如筒，口吐黑血，吐痢蛔蟲，種種不治之危候乎，故不厭煩辭而為之解。</p>
<h4>脾疳</h4>
<p>小兒脾疳，證見面色發黃，肌肉消瘦，身體發熱，困倦喜睡，心下痞硬，乳食懶進，睡臥喜冷，好食泥土，肚腹堅硬疼痛，頭大頸細，有時吐瀉，口乾煩渴，大便腥黏諸狀，古方主消疳理脾湯（如蕪荑、三棱、莪朮、青皮、陳皮、蘆薈、檳榔、使君子肉、生甘草、川黃連、胡黃連、炒麥芽、炒神麯，引用燈芯）。</p>
<p>〔真按〕脾屬土，色黃、主肌肉，故脾疳之證必發黃，且有發稀作穗，腹脹腳弱，晝涼夜熱，或不思乳食，或飲食無度之現象，方用蓬莪朮二錢，炒青皮五分，廣陳皮錢半，煨蘆薈五分，西黨參二錢，花檳榔五分，使君子肉五分，川黃連二分，胡黃連四分，炒麥芽一錢，炒山楂錢半，范志曲八分，炙甘草八分，引用舊倉米錢半，燈芯十五寸。</p>
<p>若將湯劑改作丸劑，除舊倉米不用，以米湯糊丸，如綠豆大，每晨空心再以米湯送下二十丸，如兒小不能吞丸，即用米湯化十丸服之亦可。</p>
<h4>疳瀉</h4>
<p>小兒疳瀉之證，多緣積熱傷脾，以致水穀不分，頻頻作瀉，古法主清熱和中湯（如白朮、陳皮、厚朴、赤苓、黃連、神麯、穀芽、使君子、生甘草、白澤瀉，引用燈芯）。</p>
<p>〔真按〕久泄不止，胃虛成疳，方用土炒白朮二錢，雲茯苓二錢，西黨參三錢，薑炒川朴五分，焦穀芽八分，炒黃連五分，使君子肉八分，赤茯苓錢半，生甘草五分，訶子肉一錢，引用燈芯十五寸，干荷蒂一個。</p>
<h4>疳腫脹</h4>
<p>小兒疳病腫脹之證，氣逆喘咳，胸膈痞悶，肚腹腫脹，面色浮光，多因傳化失宜，脾肺兩傷所致，古法主御苑勻氣散（如桑皮、桔梗、赤苓、甘草、藿香、陳皮、木通，引用薑皮、燈芯）。</p>
<p>〔真按〕疳者干也，灼津液而干於內者多，窒樞機而腫於外者少，此證宜平其乖逆之氣，復其傳化之權，方用炒枳實一錢，制野術錢半，蜜炙桑皮錢半，廣木香五分，薑製竹茹錢半，大腹皮六分，茯苓皮三錢，小青皮三分，留白陳皮五分，方通草五分，引用絲瓜絡三寸。</p>
<h4>疳痢</h4>
<p>小兒疳痢，皆由熱結腸胃，證見腹中窘痛，下痢或赤或白，古法主香連導滯湯（如青皮、陳皮、厚朴、川芎、川黃連、生甘草、山楂、神麯、木香、檳榔、大黃，引用燈芯）。</p>
<p>〔真按〕痢系疳疾曰久，而下赤白，小兒之腸胃，因疳積熱，因熱下痢，且因胃熱而牽及腸熱，法宜雙清腸胃，其積熱始得下行，方用生錦紋五分，人中黃一錢，油厚朴八分，川黃連三分，生條芩八分，煨木香一錢，結檳榔八分，廣橘紅錢半，建神麯錢半，最好以雪水煎藥服，無雪水改用長流水亦可。</p>
<h4>肝疳</h4>
<p>小兒肝疳，證見面目爪甲皆青，眼生眵淚，隱澀難睜，搖頭揉目，合面睡臥，耳瘡流膿，腹大青筋，身體羸瘦，燥渴煩急，糞青如苔諸狀，古法主柴胡清肝散（如銀柴胡、炒梔子、連翹、生地、黃連、赤芍、龍膽草、青皮、生甘草，引用燈芯、竹葉）。</p>
<p>〔真按〕肝屬木，色青主筋，故病狀多現青色，以柴胡舒肝，須防迫火上炎，以龍膽瀉肝，亦慮傷陰下降，法宜涼肝平木，則熱自清，方用細生地二錢，生白芍錢半，赤芍藥一錢，人中白八分，霍山石斛錢半，雲茯苓二錢，胡黃連五分，淡竹葉錢半，五穀蟲錢半，引用鮮車前草一錢，鮮茅根二錢。</p>
<h4>心疳</h4>
<p>小兒心疳，證見面紅目赤，壯熱有汗，時時驚煩，切牙弄舌，口舌乾燥，渴飲生瘡，小便紅赤，胸膈滿悶，睡喜伏臥，懶食干瘦，或吐或利諸病狀，熱盛者，古法主瀉心導赤湯（如木通、生地、黃連、生甘草，引用燈芯）。</p>
<p>熱盛生驚者，古法主珍珠散（如珍珠、麥冬、天竺黃、金箔、牛黃、胡黃連、生甘草、羚羊角、大黃、當歸、朱砂、雄黃、茯神、犀角，研為細末），以茵陳蒿湯調勻，冷服之。</p>
<p>病久心虛者，古法主茯神湯（如茯神、當歸、人參、炙甘草，引用龍眼肉），煎服。煩渴者加麥冬。</p>
<p>〔真按〕心屬火，色赤主血脈，故有壯熱驚煩之現象，心與包絡相連，心熱，急防攻入包絡，致生變端，珠箔之鎮墜，當歸之辛散，均不相宜，所以熱盛但用鮮竹葉十五片，細木通一錢，天竺黃二錢，生白芍八分，生甘草梢三分，煎好，以羚羊尖磨汁二分沖服。</p>
<p>若病久心虛，方用太子參三錢，朱砂拌茯神錢半，熟地黃錢半，生白芍二錢，遠志肉一錢，生甘草八分，酸棗仁五分，引用石菖蒲三分，　龍齒錢半。</p>
<h4>疳渴</h4>
<p>小兒疳渴，多因肥甘積熱，煎耗脾胃，以致津液虧損，故不時大渴引飲，心神煩熱，古法主清熱甘露飲（如生地黃、麥冬去心、石斛、生知母、蜜炙枇杷葉、　石膏、生甘草、茵陳蒿、黃芩，引用燈芯）。</p>
<p>〔真按〕小兒恣食肥甘，傷津耗液，胃氣下陷，故津液不生，治法固以生津為主，然不補其胃，則清陽不得上升，何能生其津液，宜以補胃兼清積熱為法，方用淡竹葉錢半，細生地二錢，金釵石斛錢半，原麥冬一錢，制天冬一錢，西洋參一錢，生白朮一錢，茯苓片二錢，粉葛根五分，生甘草五分，引用金銀花露一兩。</p>
<h4>肺疳</h4>
<p>小兒肺疳，證見面白氣逆，咳嗽，毛髮焦枯，皮上生粟，肌膚干燥，憎寒發熱，常流清涕，鼻頰生瘡諸病狀，古法主生地清肺飲以疏解之（如炒桑皮、生地黃、天冬、前胡、桔梗、蘇葉、防風、黃芩、生甘草、當歸、連翹、赤苓，引用生薑、紅棗），繼用甘露飲清之（如生地黃、熟地黃、天冬、麥冬、炒枳殼、桔梗、黃芩、蜜炙枇杷葉、茵陳蒿、石斛，引用紅棗肉）。</p>
<p>日久肺虛者，主補肺散（如白茯苓、蛤粉、炒阿膠、糯米、馬兜鈴、炙甘草、炒杏仁），水煎服。</p>
<p>〔真按〕肺屬金，色白主皮毛，故有面白焦枯諸現象，甚至鼻下赤爛，手足枯細，口中腥臭，亦系此證中所應有，古方疏解之法，參以防風、當歸、薑、棗，未免過當，但用蜜炙桑皮錢半，苦桔梗一錢，炙蘇葉八分，軟前胡五分，生熟地黃各一錢，川石斛錢半，寸麥冬一錢，生甘草三分，引用鮮枇杷葉一大片，去毛淨。</p>
<p>日久肺虛，本方加東阿膠錢半，生熟白芍各六分，改用白粳米一撮為引。</p>
<h4>腎疳</h4>
<p>小兒患腎疳者，初必有解顱、鶴膝、齒遲、行遲、腎氣不足等證，更因甘肥失節，夕則漸成腎疳。證見面色黧黑，齒齦出血，口中氣臭，足冷如冰，腹痛泄瀉，啼哭不已諸現象，古法主先用金蟾丸治其疳（如　干蝦膜五個，胡黃連，川黃連各三錢，鶴虱二錢，煨肉豆蔻、苦楝根、桑白皮、雷丸、生蘆薈、蕪荑各三錢，共為末，面糊為丸，綠豆大，雄黃為衣），每服十五丸，米湯化下。</p>
<p>繼以九味地黃丸調補之（如熟地、茱萸肉各五錢，赤苓、澤瀉、牡丹皮、炒山藥、當歸、川楝子、使君子肉各三錢，共為細末，煉白蜜為丸，如芡實大，用滾白水研化，食前服）。</p>
<p>若稟賦不足者，古法主調元散（如人參、茯苓、土白朮、炒山藥、川芎、當歸、熟地黃、茯神、炙黃　、炙甘草、炒白芍，引用薑棗）。</p>
<p>〔真按〕腎屬水，色黑主骨，初由先天不足，或腎氣虧損，始得此證，或有兩耳內外生瘡之現象，金蟾丸劑過於猛烈，小兒氣力不支，調補又嫌太晚，只可消中帶補，方用熟地三錢，茯苓三錢，山藥三錢，山萸肉二錢，丹皮二錢，澤瀉二錢，干蟾蜍錢半，使君子肉錢半，蓬莪朮二錢，川黃連八分，高麗參須三錢。引用炒粳米一撮。</p>
<p>稟賦不足，加炙黃　二錢，高麗參須倍用之。</p>
<h4>疳熱</h4>
<p>小兒疳疾，身多發熱，宜分別輕重虛實治之，初起多實者，古法主鱉甲青蒿飲，（如銀柴胡、炒鱉甲、青蒿、生甘草、生地黃、赤芍、胡黃連、炒知母、地骨皮，引用燈芯）。</p>
<p>日久多虛者，主鱉甲散（如人參、炙黃　、炙鱉甲、生地、熟地、當歸、炒白芍、地骨皮等味）。</p>
<p>〔真按〕疳熱、由於脾胃虛弱，陽浮於外，氣不歸元，故生內熱，實者用瀉肝滌熱之法，方用鮮石斛二錢，生白芍錢半，雞內金一個，使君子肉一錢，生地錢半，赤芍藥一錢，雲茯苓二錢，生甘草五分，引用燈芯二十寸。</p>
<p>虛者，方用結洋參錢半，生於朮錢半，白茯苓二錢，生甘草八分，懷山藥二錢，熟地黃二錢，粉丹皮錢半，福澤瀉一錢。</p>
<h4>腦疳</h4>
<p>小兒腦疳，原素受風熱，又兼乳哺失調，變生此證，頭皮光急，腦生餅瘡，頭熱毛焦，發結如穗，鼻干心煩，腮囟腫硬，困倦睛暗，自汗身熱，諸病狀，須分別治之。腦熱生瘡者，古法主龍膽丸（如龍膽草、升麻、焙苦楝根皮、赤茯苓、防風、蘆薈、油發灰各二錢，青黛、黃連各三錢，共為細末，豬膽汁浸糕糊丸，如麻子大，薄荷湯下，量兒大小與之）。</p>
<p>煩熱羸瘦者，古法主龍腦丸（如龍腦、麝香各五分，雄黃二錢，胡黃連三錢、牛黃一錢，朱砂錢半，生蘆薈三錢，干蝦蟆灰四錢，共為細末，熊膽合丸，如麻子大，每服三丸，薄荷湯下）。</p>
<p>外用吹鼻龍腦散（如龍腦、麝香各少許、各研細末，炒黃蝸牛殼、蝦膜灰、瓜蒂、黃連、細辛、桔梗各等分，研極細末，入瓷盒內貯之），每取少許，吹入鼻中，日吹二次。</p>
<p>〔真按〕腦疳如上述諸病狀外，更有腦熱如火，兩眼疼痛者，其病亦在肝，故腦熱生瘡，方用酒炒龍膽草錢半，炒黃芩錢半，酒炒梔子五分，澤瀉錢半，細木通一錢，車前子八分，細生地錢半，金銀花錢半，土茯苓二錢，生甘草梢五分。</p>
<p>煩熱羸瘦，若以腦麝內服，究宜慎用，本方除龍膽草、炒梔子二味，加鮮石斛三錢，西洋參錢半，引用燈芯三十寸。</p>
<p>外用明松香一兩，入蔥管內煎過，待干冷後，同飛丹一兩，過頭發三錢，研細，菜油調搽疳瘡即愈。</p>
<h4>眼疳</h4>
<p>小兒疳熱，上攻於眼，故發時癢澀赤爛，眼胞腫疼，白睛生翳，漸漸遮滿，不時流淚，閉目羞明諸病狀，古法主先用瀉肝湯疏解之（如生地黃、當歸、赤芍、川芎、連翹、生梔子、龍膽草、大黃、羌活、生甘草、防風，引用燈芯）。</p>
<p>次用清熱退翳湯消其翳（如微炒梔子、胡黃連、木賊草、生地、羚羊角、龍膽草、銀柴胡、蟬殼、赤芍、生甘草、菊花、蒺藜，引用燈芯）。</p>
<p>若日久不愈，法宜改用調補，古法主逍遙散（如茯苓、白朮、當歸、炒白芍、柴胡、薄荷、炙甘草、丹皮、梔子，引用薑、棗）。</p>
<p>古法又主羊肝散〔如青羊肝（一具），去筋膜，切韭菜薄片。人參、羌活、土炒白朮、蛤粉各等分，共為細末，調勻，將藥末置荷葉上，如錢濃一層，鋪肝一層、包固，外以新青布包裹蒸熟，令兒食之，如不食者，及夏月恐腐壞，則宜晒乾為末），早晚白湯調服，服完再合，以好為度。</p>
<p>此散如系肝熱，則減去人參不用。</p>
<p>〔真按〕眼疾失治，便成廢人，瀉肝散內之當歸、羌活、防風等味，究不易用，但以龍膽草錢半，穀精草二錢，淨蟬蛻十個，赤芍藥錢半，胡黃連五分，滁菊花二錢，霜桑葉錢半，潼蒺藜錢半，生甘草五分，鮮生地二錢，引用羚羊片五分，先煎，後入各藥再煎服。</p>
<p>外以真熊膽少許，用淨水略潤開，盡去筋膜塵土，入冰腦一二片，如淚癢則加生薑粉些少，以新牙箸點眼，能退翳障，神效。</p>
<h4>鼻疳</h4>
<p>小兒鼻疳，因肝熱攻肺而成，蓋鼻為肺竅，故發時鼻塞，赤癢疼痛，浸淫潰爛，下連唇際成瘡，咳嗽氣促，毛髮焦枯諸病狀，宜分別治之，熱盛者，古法主清金散（如生梔子、黃芩、蜜炙枇杷葉、生地黃、花粉、連翹、麥冬、薄荷、玄參、生甘草、桔梗，引用燈芯）。</p>
<p>蟲蝕者，古法主化蟲丸（如蕪荑、生蘆薈、青黛、川芎、白芷梢、胡黃連、川黃連、蝦蟆灰各等分，共為細末，豬膽汁浸糊為丸，如麻子大，每服二十丸，食後杏仁煎湯下）。</p>
<p>外用鼻疳散敷之（如青黛一錢，麝香少許，熊膽五分，共為細末，用豬骨髓調貼，濕者干上）。</p>
<p>〔真按〕鼻疳既因疳熱攻肺，應先治肺以除鼻患，然後再清內之疳熱，且此證鼻中必有疳蟲，亦宜先設法除之，內服方用連翹二錢，玄參二錢，淡黃芩錢半，馬兜鈴一錢，寸麥冬一錢，薄荷葉八分，桑白皮八分，生甘草一錢，生蘆薈三分，引用竹瀝汁十滴。</p>
<p>外用微炒蟬殼三分，研青黛三分，蛇蛻皮三分，飛滑石三分，真麝香三分，研極細末，每用綠豆大吹入鼻孔，每日早午晚吹三次，疳蟲盡出，則鼻患可除。</p>
<h4>脊疳</h4>
<p>小兒脊疳因積熱生蟲，上觸脊膂，以手擊其背，必空若鼓鳴，脊骨羸瘦，狀若鋸齒，乃成此證，外面亦身體發熱，下利煩渴，十指皆瘡，頻嚙指甲，最為可怕，古法主先用蘆薈丸殺其蟲（如生蘆薈、青黛、朱砂、熊膽、胡黃連、貫眾、微炒地龍、川黃連、蟬蛻去足、雷丸各五錢，真麝香一錢，蝦蟆一個，酥塗炙焦，共為細末，用蝸角肉研和丸，如麻子大），每服五丸，粥飲下，量兒大小與之。</p>
<p>繼用金蟾散消其疳（如蟾一枚酥塗炙焦、夜明砂炒、桃白皮、樗根白皮、地榆、黃柏、訶黎勒皮煨、百合、人參、大黃、白蕪荑、炒胡粉各三錢、檳榔一錢，丁香三十七粒，共為細末，每服五分，粥飲調下）。</p>
<p>〔真按〕小兒疳疾至於蟲食脊膂，發熱黃瘦，從前失治，已可概見，凡五疳皆有停食成積，積久生蟲，形如絲發，如馬尾，多出於頭頂背腹之間，蟲色黃白赤者好治，青黑者難治，除蟲原為急務，然亦須兼顧其本體，宜用丸劑，方以苦楝根皮二錢，貫眾二錢，蕪荑二錢，檳榔二錢，蘆薈酒炒錢半，夜明砂錢半，使君子肉二錢，五靈脂炒二錢，南木香一錢，薑製川連二錢，干蟾蜍二錢，黨參炒三錢，共研極細末，以米湯糊丸，仍以米飲送下，量兒大小酌定丸數與之。</p>
<p>如兒太小，不能吞丸，以米湯調藥末送下亦可。</p>
<h4>蛔疳</h4>
<p>小兒蛔疳，因過食生冷油膩肥甘之物，以致濕熱生蛔，腹中擾動，故有時煩躁多啼，有時肚腹攪痛，口唇或紅或白，口溢清涎，腹脹青筋，肛門濕癢諸病狀，古法主先用使君子散治之〔如使君子肉（十個）、瓦上炒為末，苦楝子五個（泡去核），白蕪荑一錢，甘草節一錢，豬膽汁浸一宿，共為末，每服一錢，水調服〕。</p>
<p>不應，古法又主下蟲丸（如苦楝根皮新白者佳酒浸焙、木香、桃仁浸去皮尖、綠包貫眾、焙蕪荑、雞心檳榔各二錢，輕粉五分，炒鶴虱一錢，干蝦蟆炒黑三錢，使君子去肉三錢，共為末，面糊成丸，如麻子大，每服二十丸，滾白水下）。</p>
<p>〔真按〕兒疳因積熱生蟲，除上述諸病狀外，更有皺眉多哭，腹聚成塊，摸之硬起之現象，即用前擬脊疳本方治之，但下蟲後又當調補其脾，方用西黨參二錢，雲茯苓三錢，炒於潛術三錢，炒扁豆三錢，炒薏米三錢，炒山藥三錢，留白陳皮三錢，苦桔梗二錢，炙甘草一錢，建蓮子五錢，砂仁粉八分，共為細末，每服一錢，老米湯調服。</p>
<h4>無辜疳</h4>
<p>小兒無辜疳，其病源有二，或因浣衣晚露，被無辜鳥落羽所污，兒著衣後致成此證；或因乳母有病，傳染小兒，致有此疾。其證頸項生瘡，或項內有核如彈，按之轉動，軟而不疼，其中有蟲如米粉，不速破之，使蟲蝕臟腑，則有便利膿血，身體羸瘦，面黃發熱諸病狀，古法主先用柴胡飲清其熱（如柴胡、赤芍、黃連、薑製半夏、桔梗、夏枯草、龍膽草、浙貝母、黃芩、生甘草，引用燈芯）。</p>
<p>繼用蘆薈肥兒丸消其疳（如五穀蟲二兩，生蘆薈、炒胡黃連、薑炒川黃連各一兩，炒銀柴胡一兩二錢，炒扁豆、炒山藥各二兩，南山楂二兩半，　蝦蟆四個，煨肉豆蔻七錢，尖檳榔五錢，炒使君子二兩半，炒神麯二兩，炒麥芽二兩，炒鶴虱八錢，炒蕪荑一兩，飛朱砂二錢，真麝香二錢，共為細末，醋糊為丸，如黍米大，每服一錢，米飲下）。</p>
<p>〔真按〕無辜疳雖有二因，其病一也。清熱消疳。不必分作先後。方用使君子二錢，生蘆薈一錢，干蟾蜍酥炙錢半，炙黃　一錢，炙鱉甲研粉錢半，尖檳榔八分，薑製黃連五分，夏枯草錢半，浙貝母二錢，赤芍藥錢半，苦桔梗一錢，引用燈芯五莖。</p>
<h4>丁奚疳</h4>
<p>小兒遍身骨露，其狀如丁，故名曰丁奚疳，證見肌肉干澀，啼哭不已，手足枯細，面色黧黑，項細腹大，肚臍突出，尻削身軟，精神倦怠，骨蒸潮熱，燥渴煩急諸病狀，古法主先用五疳消積丸化其滯（如炒使君子肉五錢，炒麥芽、陳皮、炒神麯、山楂各一兩，白蕪荑、黃連、龍膽草各三錢，為末，陳米飯為丸，每服一錢，米飲下）。</p>
<p>繼用人參啟脾丸理其脾（如人參五錢，土炒白朮五錢，茯苓五錢，陳皮四錢，炒扁豆五錢，炒山藥五錢，煨木香二錢，炒穀芽三錢，炒神麯二錢，炙甘草二錢，共研細末，煉蜜為丸，每粒重一錢，以建蓮湯化下）。</p>
<p>〔真按〕丁奚疳亦當消補兼施。方用使君子一錢，炒麥芽八分，化州橘紅一錢，范志神麯一錢，西洋參錢半，生金錢術二錢，生穀芽八分，雲茯苓二錢，山楂片一錢，炙甘草五分，引用老粳米三錢。</p>
<h4>哺露疳</h4>
<p>小兒因乳食不節，大傷脾胃，則成哺露疳。其證羸瘦如柴，吐食吐蟲，心煩口渴，頭骨開張，日晡蒸熱，諸病狀。古法主先用集聖丸消其積滯〔如蘆薈、炒五靈脂、夜明珠（淘洗烘乾）、縮砂、木香、陳皮、莪朮、使君子肉、黃連、川芎、炙干蟾各二錢，當歸錢半，青皮二錢，共為細末，用雄豬膽二個，取汁和面糊為丸，每服一錢，米飲送下〕。</p>
<p>再用肥兒丸清理其脾（如人參二錢半，土炒白朮五錢，茯苓三錢，川黃連二錢，胡黃連五錢，使君子四錢，炒神麯、炒麥芽、山楂肉各三錢半，炙甘草錢半，煨蘆薈二錢，共為末，黃米糊丸如黍米大，每服二三十丸，米湯化下）。</p>
<p>〔真按〕疳症若主先消積，後理脾，兒體本弱，釀成疳症則更弱，純粹消導之藥，非傷正氣，即礙脾胃，不能不十分考量，不敢輕施。方用結洋參二錢，原麥冬錢半，茯苓三錢，炙甘草八分，炙鱉甲研粉錢半，蜜炙桑白皮六分，炒地骨皮一錢，生穀芽六分，炒黃連五分，川朴花一朵，引用生粳米一撮，每日煎藥，宜在下午四點鐘以前服之，過時服則無益。</p>
<h3>瘧證門</h3>
<h4>瘧解</h4>
<p>經曰：　瘧皆生於風。又曰：夏傷於暑，秋必　瘧，推原其故，夏傷暑，其氣舍於營內，至秋後感寒風，則營衛合邪而成瘧。此證發時，或寒或熱者，陰陽相並也，每日發一次者，因初病邪氣尚淺，伏藏於營，隨經絡而行故也，其間日發一次者，因邪已深入脊膂間，伏藏於衝脈故也。又發在子後午前者，因邪在三陽，其邪尚淺，發在午後子前者，因邪在三陰，其邪已深；發在夏至後處暑前者，三陽受病猶淺，發在處暑後冬至前者，三陰之病乃深。是以瘧後必有寒有熱，外邪伏於半表半裡，正在少陽所主之界，出與陽爭，陰勝則寒；入與陰爭，陽勝則熱，即純熱無寒為溫瘧，純寒無熱為牝瘧，皆自少陽而造其極偏，少謂陽而兼他經則有之，謂他經而不涉少陽，則不成其為瘧矣。瘧不離於少陽，猶咳嗽不離於肺，溫瘧牝瘧，亦必還返少陽之界，使陰陽協和，而後能愈。小兒脾胃素弱，故風、寒、暑、濕、食五者之邪，得以乘之。治法宜分國中末三期，初期正氣未傷，宜用疏解，中期正氣漸傷，宜用和解，末期正不敵邪，宜用調補。尤當以寒熱多少，稟受強弱，參酌得宜，無論何瘧，皆可應手而治，因作瘧解。</p>
<h4>風瘧</h4>
<p>小兒風瘧，身必有汗，因先傷於風，後傷於寒，故先熱後寒，熱多寒少，古法主桂枝羌活湯（如羌活、防風、桂枝、生甘草，引用生薑）。</p>
<p>〔真按〕風屬陽邪，然風為陽中之涼氣，小兒因感寒風而發熱瘧，惡風自汗，煩渴頭痛，謂之風瘧，身即自汗，羌防過於溫散，切忌發汗過多，大傷元氣。方用杭青皮一錢，真廣皮一錢，雲茯苓二錢，法半夏一錢，漂白朮六分，炙蘇子七分，芽桔梗五分，尖檳榔五分，嫩桂枝三分，引用生薑一薄片。</p>
<p>若服輕解之劑，其瘧已止，再方用結洋參一錢，生於朮錢半，雲茯苓二錢，炙甘草五分，真廣皮八分，油厚朴六分，以調補之。</p>
<h4>寒瘧</h4>
<p>小兒寒瘧，身必無汗，因先傷於寒，後傷於風，故先寒後熱，寒多熱少。古法主麻黃羌活湯（如麻黃、羌活、防風、生甘草，引用生薑）。</p>
<p>〔真按〕寒屬陰邪，小兒因感寒而發瘧，惡寒拘急，面帶慘色，謂之寒瘧。身雖無汗，麻黃、羌、防、表汗太過，多生變端。方用薑炒廣皮二錢，紫川朴一錢，漂蒼朮八分，草果仁三分，花檳榔八分，炙甘草五分，引用生薑一片、上桂心一分，沖服。</p>
<h4>暑瘧</h4>
<p>小兒暑瘧，因傷暑而得此證。陰氣獨微，陽氣獨發，但熱不寒，非風瘧寒瘧可比，古法主柴胡白虎湯（如人參、柴胡、黃芩、半夏、熟石膏、知母、炙甘草、晚粳米，引用生薑、大棗）。</p>
<p>〔真按〕暑雖亦稱陽邪，然暑為熱中之寒邪，故證見獨熱無寒，煩渴少睡，嘔惡時作，肌肉消爍，謂之暑瘧，宜解暑毒為主，柴胡石膏二味，究不宜用。方以冬桑葉二錢，炙鱉甲搗碎二錢，肥知母錢半，淡黃芩一錢，浙貝母二錢，西瓜翠衣三錢，川石斛錢半，生甘草五分，引用藕汁一兩沖服。</p>
<h4>濕瘧</h4>
<p>小兒濕瘧，因冒襲雨濕，汗出澡浴，坐臥濕地，而得此證，古法主胃苓湯（如漂白朮、炒厚朴、廣陳皮、炒白朮、白茯苓、結豬苓、炒澤瀉、炙甘草、上青桂，引用生薑）。</p>
<p>〔真按〕濕亦陰邪，既發濕瘧，必見身體腫痛，肢節乏力，嘔逆脹滿諸病狀。方用雲茯苓三錢，生野術錢半，炒薏米二錢，川朴花一朵，藿香葉八分，粉葛花五分，花檳榔八分，炒常山五分，引用烏梅一個，煎好，候微溫服之。</p>
<h4>食瘧</h4>
<p>小兒食瘧，因平時飲食無節，復受風暑之氣，以致寒熱交作，胸腹脹滿，痞悶不通，面黃惡食諸病狀，但食有輕重，須分別治之，傷食輕者，古法主柴平湯（如陳皮、薑製半夏、蒼朮米泔水浸炒、薑炒厚朴、黃芩、柴胡、甘草、人參，引用薑、棗），傷食重者，古法主大柴胡湯（如柴胡、黃芩、赤芍、薑製半夏、麩炒枳實、大黃，引用生薑、大棗）加檳榔、草果二味。</p>
<p>〔真按〕食瘧一名痰瘧。凡食傷生冷、魚肉、油膩之物以致中脘停痰，皆為食瘧。既系傷食生痰而發，不宜用參，方以廣橘紅錢半，法半夏一錢，油厚朴八分，炒枳實八分，炒白朮一錢，白茯苓二錢，蓬莪朮錢半，小青皮五分，引用生薑二片。</p>
<p>若痰消而瘧減，本方加炒黨參錢半，再服。</p>
<h4>瘧痰瘧飲</h4>
<p>小兒素有痰飲，復因外邪凝結脾胃，故見嘔逆，若瘧疾或因汗下之後，表裡無證，古法主清脾飲（如柴胡、黃芩、薑半夏、炙甘草、厚朴、青皮、檳榔、茯苓、草果、人參、白朮、橘紅、蒼朮，引用生薑）。</p>
<p>〔真按〕瘧後痰飲，不必再用柴芩，但以化州橘紅錢半，薑製半夏一錢，醋炒青皮五分，草果仁五分，土炒白朮錢半，油厚朴八分，雲茯苓三錢，炙甘草五分，不引。</p>
<p>痰盛者，加制膽星三分；飲盛者，加米泔浸炒蒼朮五分；體虛弱者，加炒黨參錢半。</p>
<h3>痢證門</h3>
<h4>痢解</h4>
<p>小兒痢證，多因外受暑濕，內傷生冷而成，傷於氣者色多白，以肺於大腸為表裡也。傷於血者色多赤，以心與小腸為表裡也。裡急者腹窘痛也，後重者頻下墜也。古今方書以其閉滯不利，故又謂之滯下。其證裡急後重，或垢或血，或見五色，或多紅紫，或痛或不痛，或嘔或不嘔，或為發熱，或為惡寒。此證之陰陽虛實，最宜詳審，庶不差誤，仍宜脈證合參。凡身熱作渴，脈數有力而能食者為熱，身涼不渴，脈沉無力而不能食者為寒。凡痢能食者易治，不能食者難治。痛久不止，脾胃受傷，中氣下陷，則為脫肛。熱毒上逆，食入便吐，不思飲食，則為噤口。久痢陰傷，腎氣虛敗，兩膝紅腫，則為鶴膝。失治痢轉五色，則五臟俱敗，或如煙塵水，或如屋漏水，或肛門如竹筒，如魚膠，胸高氣促，心煩、坐臥不安，大渴引水，面容似朱，皆不可治。故治痢須分寒痢、熱痢、時痢、噤口痢、休息痢、血痢各名目，不可混而言之曰痢也，因作痢解。</p>
<h4>寒痢</h4>
<p>小兒因寒冷傷胃，久痢不已，或臟氣本虛，復為風冷所乘，傷於脾胃，故痢時腸鳴切痛，面唇青白，口雖甚渴，最喜熱飲，此裡寒虛之證也，寒痢初起，古法主理中湯（如人參、白朮、乾薑、炙甘草）。</p>
<p>寒痢已久，古人主真人養臟湯（如人參、土炒白朮、煨木香、土炒當歸、炒白芍、肉桂、炙甘草、蜜炙罌粟殼、訶子肉面煨去核、煨肉果，引用烏梅）。</p>
<p>〔真按〕痢之初起，實熱實積，皆易知而易治，惟體虛冷積成痢，人多不以為意，此由陰性遲緩，慎毋養虎貽患。方用廣陳皮錢半，酒炒赤芍一錢，陳松蘿茶炒麥芽八分，當歸身八分，煨木香一錢，炒白芍八分，煨肉果五分，炒蔻仁五分，炙甘草五分，引用北乾薑三片。</p>
<h4>熱痢</h4>
<p>小兒因濕熱凝結於腸胃，以致腹中窘痛，頻頻下利，尿短色紅，舌赤唇焦，喜飲冷水，此裡熱之證也，熱重者，古法主當歸芍藥湯（如當歸、白芍、木香、黃芩、黃連、肉桂、大黃、生甘草、檳榔等味）。</p>
<p>熱輕者，古法主白頭翁湯（如白頭翁、黃連、黃柏、秦皮等味）。</p>
<p>〔真按〕小兒熱痢，其腸胃單純為無形濕熱所凝結，較有形之食滯不同，輕者用白頭翁湯，猶嫌味重性寒，過劑傷胃，但用廣木香一錢，川黃連八分，老倉米錢半，引用燈芯五莖。</p>
<p>熱重則用川黃連一錢，茵陳蒿錢半，生錦紋五分，尖檳榔一錢，六神麯八分，酒炒白芍八分，茯苓皮二錢，白歸身五分，青子芩一錢，引用鮮荷葉二錢。</p>
<h4>時痢</h4>
<p>小兒本有痢疾，復感時氣，身熱無汗，遍體疼痛，此系熱為邪束，頻作嘔逆，古法主倉廩湯（如人參、茯苓、獨活、桔梗、前胡、川芎、炙甘草、枳殼、倉米、柴胡、羌活，引用生薑）。</p>
<p>〔真按〕小兒有痢，兼感時邪，下利在先，感邪在後，專治邪而痢仍不能止，專治痢而邪仍不能退，倉廩湯散邪而忽於痢，難稱完善，法宜表裡雙解，方用冬桑葉錢半，連翹殼一錢，粉葛根五分，川黃連五分，酒黃芩八分，小青皮五分，花檳榔八分，油厚朴一錢，滑石塊二錢，生甘草三分，引用鮮竹葉五片、燈芯五莖。</p>
<h4>噤口痢</h4>
<p>小兒痢疾，至於噤口，其證脈大身熱，不能飲食，舌赤唇紅，惟喜歡冷，此系火毒攻胃，而成此證，古法主參連開噤散（如人參、薑炒川連、蓮子肉各等分，共為細末，米飲調下）。</p>
<p>〔真按〕噤口痢乃胃虛逆氣，上衝而吐，飲食不能下咽，多屬虛損，不得專指火毒攻胃，而罔顧其虛損，方用西洋參錢半，薑汁炒黃連八分，石菖蒲七分，石蓮子一錢，京丹參二錢，白茯苓二錢，冬瓜仁去殼錢半，引用老倉米一撮、鮮荷蒂一個。</p>
<h4>附例</h4>
<p>小兒休息痢，皆因冷積失於急下，其積日久漸次下墜，竟至大腸下口，直腸上口交界之處，有小曲折隱匿，至此為腸臟最深之處，藥力難到，其證乍輕乍重，或愈或發，便則乍紅乍白，或硬或溏，總無一定，古方有用巴豆為丸下之者，久病神虛，不宜輕用，但以鴉蛋子（形似益智子而小，外殼蒼褐色，用小錘輕敲其殼，肉出，白色有油，其大如米，敲碎者不用，專取全仁用之）二十四粒，以龍眼肉緊包，每包三粒，空腹用米湯吞下，再以飯食壓之，以八包繼續吞畢為度。</p>
<p>小兒先下痢，後變為泄瀉者，腎傳脾也，此為微邪易治，血病傳入氣中，以調氣為主，略加養血之藥，不可一意收澀，恐毒氣留而不去，復轉為痢也，方用西黨參一錢，生野術錢半，白茯苓二錢，當歸身七分，杭白芍一錢，炙甘草五分，引用生薑一片，干荷蒂一個。</p>
<p>小兒先患泄瀉，後變為痢者，脾傳腎也，此為賊邪難治，氣病傳入血中，宜養血為主，再加調氣之藥，不可誤下，以傷胃氣，方用白歸身一錢，杭白芍一錢，懷生地錢半，白雲苓錢半，正雅連一錢，南木香八分，尖檳榔五分，炒地榆八分，引用六一散二錢。</p>
<p>小兒風冷客於腸胃，泄下鮮血，及腸胃濕毒，下如豆汁，或下瘀血，方用川黃連八分，東阿膠錢半，白雲苓錢半，當歸身八分，廣木香六分，引用舊倉米一撮。</p>
<p>小兒胃氣下陷，後重不除，因弩掙太過，腸頭脫出，法宜養血調氣，加升提之品，則痢自止而肛亦自收，方用綠升麻五分，炒黨參錢半，白茯苓二錢，荊芥穗五分，白歸身八分，炒白芍八分，真廣皮一錢，炙甘草五分，引用肥烏梅一粒。</p>
<p>外用五倍子三錢，白芒硝六分，荊芥穗一錢，煎湯熏洗，再用五倍子研末敷之，以軟帛托入，則肛自收矣。</p>
<h3>疝證門</h3>
<h4>疝解</h4>
<p>經曰：邪客於足厥陰之絡，令人卒疝暴痛。又曰：病在少腹痛，不得大小便，病名曰疝。是諸疝皆起於厥陰之為病也，厥陰環陰器，入少腹，任脈起於中極之下，以上毛際，循腹裡，上關元，故諸病疝莫不屬之也。小兒病此，多因先天不足，本臟虛弱，復因外感風邪，內食生冷，寒邪凝結而成者有之，或因濕熱鬱於中，復被寒邪束於外，邪氣乘虛並於血隊，流入厥陰，厥陰屬肝，其性急速，故牽引睪丸，少腹絞痛，又有胎疝一證，多因孕婦啼泣過傷，動於陰氣，結聚不散，令兒生下即成此證。大抵熱則疝多縱，寒則疝多痛，在血分者疝不移，在氣分者疝多動，濕腫則疝墜必重，虛腫則疝墜必輕，明乎此則治小兒諸疝無余蘊矣。</p>
<h4>寒疝</h4>
<p>小兒平日過食生冷，或臥濕地，以致陰結於內，氣滯不行，為日既久，復為風冷所束，水濕所傷，故發寒疝，囊冷結硬，牽引少腹作痛，初得此證，兼有表邪者，古法主烏頭桂枝湯（如桂枝、赤芍、炙甘草、烏頭，引用生薑）。</p>
<p>寒甚者，古法主金茱丸（如金鈴子肉一兩，吳茱萸五錢，共為細末，酒煮面糊為丸，如麻子大，每服數丸，鹽湯送下）。</p>
<p>〔真按〕小兒疝因寒邪所襲，內則少腹絞痛，外則睪丸腫大，並腹痛啼哭，皆裡證，無表證，初起方用白歸身一錢，開口吳萸三分，青化桂五分，黑薑炭八分，南木香五分，小茴香一錢，炙甘草五分，煎好、加入鹽七分，為引，空心溫服）。</p>
<p>日久則將本方改為丸劑，早晚空心服一錢，尤效。</p>
<h4>濕熱兼寒疝</h4>
<p>小兒平素過食濃味，致生濕熱，因濕熱之氣下行，流入囊中，復為風寒所束，遂結為疝，囊縱紅腫，常常刺痛，古法主烏頭梔子湯（如烏頭、炒梔子二味），引用順流水，入薑汁煎服。</p>
<p>〔真按〕證本濕熱，又襲寒邪，方用漂蒼朮一錢，炒黃柏一錢，制南星八分，香白芷一錢，山楂肉一錢，廣橘核錢半，六神麯五分，吳茱萸三分，炒薏米一錢，共研細末，面糊為丸，每次淡鹽湯吞下一錢五分，空心服。</p>
<h4>胎疝</h4>
<p>孕婦啼泣過傷，氣結不散，蘊於胞中，令兒生下胞硬疼痛，名曰胎疝，輕者古法主十味蒼柏散（如醋炒青皮、炮附子、黃柏、南山楂、蒼朮、製香附、益智仁、醋炒延胡索、桃仁、炙甘草，引用小茴香）。</p>
<p>重者，古法主金鈴散（如三棱、莪朮、陳皮、赤苓、茴香、甘草、枳殼、鉤藤鉤，青皮、金鈴子肉，以上均焙，檳榔、南木香，不過火。共為細末，每服五分，無灰酒調服）。</p>
<p>〔真按〕既系胎疝，則小兒在胞中早得疝氣而始生，猛烈之劑，萬不宜服，即產母亦萬不可服。此方但用橄欖核、荔枝核、山楂核三味各等分，俱焙乾存性，研細末，每次用五分，淡薑湯調勻送下。</p>
<h4>陰腫</h4>
<p>小兒陰器，乃諸經之總會也，因邪客於少陰厥陰之經，濕熱之氣，與風冷之氣相搏，氣不得通，故結聚而陰囊腫大，究之風盛多癢，濕盛多墜，熱盛多疼，如外腎膚囊腫大，癢痛墜下，此風濕襲於下也，古法主疏風五苓散（如防風、蒼朮、肉桂、羌活、豬苓、澤瀉、赤苓、土炒白朮，引用生薑）。</p>
<p>〔真按〕此散可用等分水泛為丸，每次用一錢，空心以淡薑湯送下。</p>
<p>如外腎膚囊腫疼光亮，此因心火移熱於小腸故也，古法主加味五苓散（如金鈴子、土炒白朮、澤瀉、木通、炒茴香、赤茯苓、橘核仁、肉桂、檳榔、豬苓，引用生薑、燈芯）。</p>
<p>〔真按〕此散可用等分水泛為丸，每次用錢半，以生薑燈芯湯送下，空心服。</p>
<p>更有偏墜一法，或左或右，睪丸作腫者，此因食積不消，濕氣下行故也，古法主加味守效丸（如南星、南山楂酒炒、炒蒼朮各二錢，白芷、薑製半夏、橘核仁，神麯各一兩，海藻、昆布各五錢，吳茱萸、醋炒青皮、延胡索、炒荔枝核各一兩，共為細末，神麯為丸），每服錢半，空心白酒下。</p>
<p>〔真按〕此丸可改酒泛為丸，每次用一錢，空心白滾湯送下。</p>
<h4>小腸氣</h4>
<p>小兒患小腸氣一證，其受病與疝氣等，亦因濕氣在內，而寒氣又束於外，發時少腹脹控，睪丸引腰脊，上衝心痛，而不腫是也。治宜分別形狀，如引腰而痛者，古法主加味香蘇散以溫散之（如蒼朮、陳皮、川楝肉、甘草、蘇葉、醋炒香附，引用連須蔥白，水酒兌煎服）。</p>
<p>〔真按〕可服此散，但小兒不必兌酒煎之。</p>
<p>痛而衝心氣者，古法主加味失笑散（如五靈脂、醋炒延胡索、醋炒蒲黃等分，每服一二錢，水酒調下）。</p>
<p>〔真按〕此散每次用一錢，加入肉桂心細末少許，以白滾水調服尤效。</p>
<p>如少腹中有形如卵，上下往來，痛不可忍者，古法主胡蘆巴丸〔如炒胡蘆巴、川楝子（去皮核焙）各四錢，川烏（去皮臍）、巴戟肉各錢半，茴香三錢，吳茱萸（半酒半醋浸一宿焙）二錢半，炒牽牛二錢，共為細末，酒面糊為丸，每服數丸，空心溫酒下〕。</p>
<p>〔真按〕此證但用荔枝核四十九個，炒焦留白陳皮九錢，炒大茴香五錢，炒小茴香四錢，真黑沉香末一錢，酒打面糊為丸，如綠豆大，遇痛時，空心淡鹽湯研送九丸，良久再進一服，不過三服全安。</p>
<h3>淋證門</h3>
<h4>淋解</h4>
<p>小兒淋證，與成人迥不相侔，治之較易，揆厥原因，或因風寒襲入，或因濕熱下移，乘入膀胱，以致水道澀滯，欲出不出，淋漓不斷，甚至窒塞其間，令其作痛，然必辨其為寒、為熱、為石、為血，分別施治，總不外宣通水道，則治小兒諸淋證無余事矣。</p>
<h4>寒淋</h4>
<p>小兒寒淋，皆因風寒乘入膀胱，致下焦受冷，遂成寒淋，其候小便閉塞，脹痛難禁，不時淋漓，少腹隱痛，古法主五苓散倍加肉桂小茴香治之（如土炒白朮、澤瀉、豬苓、肉桂、小茴香、赤茯苓等味）。</p>
<p>〔真按〕小兒寒邪襲入膀胱，欲治其淋，即當先祛其寒，既不能以麻黃祛膀胱之寒，亦不能以苓澤瀉膀胱之熱，蓋膀胱本無熱而僅有寒，方用上肉桂三分，小茴香一錢，細木通八分，荔枝核錢半，赤小豆錢半，赤茯苓一錢，引用生薑皮三分。</p>
<h4>熱淋</h4>
<p>小兒熱淋，因膀胱蓄熱而成，其候小便不通，淋漓澀痛，古法主十味導赤湯（如生地、山梔子、木通、瞿麥、滑石、淡竹葉、茵陳蒿、黃芩、生甘草、豬苓等共十味）。</p>
<p>〔真按〕小兒熱淋，遽用十味，未免過劑，但用細生地二錢，小木通一錢，寸麥冬一錢，車前子一錢，淡竹葉一錢，生甘草梢三分，引用燈芯三十寸，虛者加西洋參五分。</p>
<h4>石淋</h4>
<p>小兒石淋，逢溺則莖中作痛，常帶砂石之狀，因膀胱蓄熱日久所致，正如湯瓶久經火煉，底結白　也，輕者古法主葵子散（如炒桑皮、瞿麥、梔子、赤茯苓、木通、車前子、炙甘草、葵子等味），重者古法主八正散（如蓄、瞿麥、滑石、木通、赤苓、車前子、生大黃、生梔子，引用燈芯）。</p>
<p>〔真按〕小兒熱結膀胱，日久始至成淋，下如砂石，亦由平日失治，今治之亦不為晚，方用生地黃二錢，大木通一錢，川黃連五分，飛滑石三錢，赤茯苓錢半，生甘草梢五分，引用鮮竹葉十五片，燈芯十莖。</p>
<p>重者加生錦紋六分。</p>
<h4>血淋</h4>
<p>小兒血淋，因心熱傷於血分，熱氣傳入於胞，日久則尿血同出，遂成血淋，莖中不時作痛，古法主小薊子飲（如通草、滑石、淡竹葉、當歸、小薊、炒梔子、生甘草、蒲黃、藕節等味，水煎空心服）。</p>
<p>若莖中痛甚者，古法主五淋散（如當歸、赤芍、苦葶藶、炒黃芩、木通、梔子、車前子、淡竹葉、滑石、葵子、生甘草、赤茯苓，引用蔥白）。</p>
<p>〔真按〕小兒血淋，必有瘀血蓄於莖中、割痛難忍，急用通則不痛之法，方以鮮生地三錢，白歸身五分，赤芍藥錢半，鮮竹葉二十片，滑石塊三錢，車前子八分，引用真西琥珀五分。</p>
<h3>黃膽門</h3>
<h4>黃膽解</h4>
<p>《經》曰：身痛而色微黃，齒垢黃，耳目上黃，黃膽也。又曰：溺黃赤安臥者曰黃膽，已食如飢者曰胃疸。</p>
<p>古人論小兒黃膽一證，皆云濕熱鬱久，外發肌膚，其候遍身面目皆黃，甚則深黃，面如煙熏之狀，其中又有陰陽之別。如面紅口渴，尿赤色亮身熱者，乃脾家濕熱，此陽黃也；口不渴而色暗黃，身冷如冰者，乃脾腎寒濕，此陰黃也。</p>
<p>陰陽既有差別，惟陽黃又宜分表裡，陰黃又宜分脾腎，此古人立論如此。然究其實，則小兒因濕熱發黃者少，因脾虛發黃者多。蓋脾土強者，足以捍御濕熱，必不生黃；惟有脾虛不運，所以濕熱乘之。此正理也，因作黃膽解。</p>
<h4>陽黃</h4>
<p>小兒陽黃一證，原因濕熱而成，表實無汗者，古法主茵陳麻黃湯，外發其汗（如茵陳蒿、麻黃二味，水煎加黃酒少許服之，使黃從表解也）。</p>
<p>裡實二便秘澀，腹滿者，古法主茵陳蒿湯（如茵陳蒿、川大黃、梔子，引用燈芯），使黃從裡解也。</p>
<p>若表有汗，裡不便秘腹滿，是表裡無證，不可汗下，古法主茵陳五苓散（如茵陳蒿、赤苓、豬苓、澤瀉、土炒白朮、肉桂，引用燈芯），使黃從水道利之則愈。</p>
<p>〔真按〕陽黃證因濕多成熱，熱則生黃，故謂之濕熱證，必見身熱煩渴，或躁擾不寧，或消穀善飢，或小便熱痛，或大便秘結，其脈實而有力，此證不拘外感風濕、內傷飲食，皆能致之。</p>
<p>但察兒之元氣尚強，脾胃無損，而濕熱果盛者，則宜清火邪，利小便。方用生野術一錢，炒野術一錢，川厚朴一錢，白茯苓二錢，結豬苓錢半，宣澤瀉錢半，茵陳蒿錢半，黑梔子八分，生黃柏八分，炙甘草五分。</p>
<p>若大便秘結熱甚者，本方加生錦紋五分。</p>
<h4>陰黃</h4>
<p>小兒陰黃，乃脾濕腎寒兩虛而成，此最為危候，若用溫脾之黃，古法主理中東加茵陳蒿。</p>
<p>若用溫腎之黃，古法主茵陳四逆湯（如制附子、北乾薑、茵陳蒿、炙甘草等味）。</p>
<p>〔真按〕陰黃證全非濕熱，總由氣血之敗，蓋氣不生血，所以血敗，血不華色，所以色敗。凡病黃而絕無陽證陽脈者，便是陰黃，或因大病之後，或因脾胃久虧，故脾土之色，自現於外，必見喜靜惡動，喜暗畏明，神思困倦，言語輕微，畏寒少食，四肢無力，或大便不實，小便如膏，皆是陽虛之重候，與陽黃反如冰炭。方用炒黨參錢半，生野術二錢，白扁豆一錢，化橘紅五分，炮薑炭五分，白歸身八分，炙甘草六分，水一杯半，煎七分服。</p>
<h2>卷七</h2>
<h3>痰證門</h3>
<h4>痰證解</h4>
<p>痰本水穀所化，其所化何以變為痰，蓋所化之津液不能四布，留於胸中，變為濁液，故書多責於脾。謂脾氣清澈則痰不生，脾氣濁混則痰始成。小兒之痰，多由乳食無節，或過食濃味，脾胃不能運化而生。若陰氣素盛，則化為飲；陽氣素盛，則化為痰。書又言痰之標在脾，痰之本在腎。蓋以脾屬後天，腎屬先天。凡後天之病，未有不根先天之所致也。表痰宜散，熱痰宜吐，實痰宜降，寒痰宜燥，痰之變幻萬端，然在小兒只分燥濕兩種。此治小兒痰證最簡便最切要之良法也。</p>
<h4>燥痰</h4>
<p>小兒燥痰，是痰因火而動。火盛則痰多稠黏，氣逆喘咳，夜臥不寧，面赤口乾，小便黃赤，輕者古法主清氣化痰丸（如膽南星、半夏、橘紅、枳實、杏仁、栝蔞仁、黃芩、白茯苓，共為末，薑汁為丸，薑湯化服）。重者古法主蘇葶滾痰丸（如蘇子、苦葶藶、大黃、沉香、黃芩、青礞石，共為末，水泛為丸），量兒虛實服之，薑湯送下。</p>
<p>〔真按〕燥痰必澀滯難出，如南星、半夏、薑汁等味。既慮其愈結愈堅，葶藶、礞石、沉香並用。又慮其愈破愈弱，但以苦杏仁二錢，栝蔞仁錢半，川貝母一錢，新竹茹錢半，麩炒枳殼八分，萊菔子五分，引用竹瀝汁十滴，重者本方加甜葶藶三分。</p>
<h4>濕痰</h4>
<p>小兒濕痰，因過食生冷油膩之物，有傷脾胃，遂致脾土虛濕，不能運化而成。其痰滑而易出，脾虛不運，故懶食，脾主四肢，故倦怠嗜臥，脾屬土，故面色多黃。痰多者，古法主枳桔二陳湯（如枳殼、桔梗、陳皮、半夏、茯苓、炙甘草，引用薑）加蒼朮、白朮以除濕化痰。</p>
<p>痰飲盛者，古法主桂苓甘術湯（如茯苓、桂枝、生甘草、土炒白朮，引用生薑）。</p>
<p>〔真按〕濕痰必清稀色白，絮絮不休，但以化州橘紅錢半，半夏曲一錢，土炒白朮錢半，米泔浸炒蒼朮五分，炒茯苓一錢，白芥子五分，炙甘草三分，引用薑汁炒竹茹一錢。</p>
<p>痰飲盛者，加九轉膽南星三分，生薑一片。</p>
<h3>血證門</h3>
<h4>血解</h4>
<p>血為一身之液，有血則筋骨臟腑皆得其灌溉而成，無血則內失所養，形容無不枯槁。小兒失血之證，陽盛乘陰，則血為熱迫，故犯氣分而妄行，不得歸入經脈也。若血病傷及於腑者，則血滲入腸胃之濁道，上行於咽，出而為吐為衄，下從二便而出，為便為溺也。若血病傷及於臟者，則溢出於胸中之清道，上從喉出，而兼咳嗽，下從精竅而出，為溺血也。夫血藏於臟內，行於脈中，流於軀殼之內，不可得而見也，非損傷不能為病，故損之原因有三。</p>
<p>一曰。熱傷陽絡，腑病也。熱傷陰絡，臟病也。宜以清熱為主。</p>
<p>二曰努傷，宜以破逐為主。</p>
<p>三曰勞傷，宜以理損為主。</p>
<p>治血須先明此三大原因，始不至誤治小兒之失血證。循其名而核其實，因作血解。</p>
<h4>衄血</h4>
<p>小兒鼻中出血，為衄血。其候鼻中干燥，身熱不渴，苦頭痛，是熱傷陽絡也。有因傷寒失汗衄血者，乃熱鬱於榮，其身無汗，古法主麻黃湯以汗之（如麻黃、杏仁、桂枝、生甘草，引用生薑）。</p>
<p>身有汗者，古法主桂枝湯以解之（如桂枝、白芍、炙甘草，引用薑、棗）。</p>
<p>設無表病，因內熱而衄血者，古法主犀角地黃湯以清之（如犀角、生地、丹皮、白芍等味）。便秘者加大黃。</p>
<p>〔真按〕血為水穀之精，調和於五臟，洒陳於六腑，乃能入於脈，主化於脾，總統於心，藏受於肝，宣布於肺，施泄於腎，濡潤宣通，皆此血也。鼻衄乃脾熱傳肺，血行清道，故血從鼻出，未嘗聞小兒因傷寒失汗而衄血者。方用大麥冬錢半，黑梔仁五分，片黃芩八分，細生地一錢，生甘草三分，引用燈芯十莖，鮮竹葉七片，熱甚加犀角尖磨汁二分，沖服。</p>
<h4>吐血</h4>
<p>小兒吐血不咳嗽者，多因內熱，致血妄行上逆也。古法主犀角地黃湯（方見本門衄血）。</p>
<p>若因努勞吐血者，兼咳嗽，古法主先用桃仁承氣湯，以破逐之（如桃仁、大黃、芒硝、甘草、桂枝，加當歸、白芍、蘇木、紅花四味）。</p>
<p>繼用加味四物湯和之（如當歸、白芍、川芎、生地、茅根、蒲黃、牡丹皮、黑梔子、生甘草，引用藕節），酒水煎服。</p>
<p>又有勞傷吐血者，亦兼咳嗽，痰中帶血，有熱者，古法主雞蘇散（如雞蘇、薄荷葉、川貝母、麥門冬、桔梗、阿膠、生地黃、生甘草、炙黃　、白茅根、炙蒲黃等味）。無熱者，古法主救肺湯（如麥冬、人參、炙黃　、鬱金、五味子、酒洗當歸、酒炒白芍、川貝母、炙甘草、馬兜鈴等味）。</p>
<p>〔真按〕凡吐血者，榮衛之氣逆也。蓋心者血之主，肺者氣之主，氣主煦之，血主濡之，榮養百骸，溉灌筋脈，升降有常，自然順適，或外干六淫，內傷飲食，氣留不行，血壅不濡，所以熱極涌泄，不無妄動之患。且氣有餘便是火，火乘於血，得熱妄行，故上奔而為吐血也。小兒吐血，因食傷者最多，蓋陽明多氣多血，若鬱熱內逼，必致榮血妄行。所以小兒吐血，屬胃者十之七八、甚至尚在襁褓而吐血者，多由重闈暖閣，火氣熏蒸，或過啖辛辣，流於乳房，兒吮之後，積溫成熱，熱極上崩而吐血者有之。即衄血便血溺血，亦皆由乎此。若因久嗽吐血，是又肺虛所致。肺調百脈之氣，肝統諸經之血，脾胃有傷，榮衛虛損，故血失常道而妄行。倘此兒氣虛神倦，唇無紅色，切勿誤用寒涼，方以西洋參八分，生於朮一錢，白雲苓二錢，生甘草五分，加燈芯七莖，竹葉十片，以救其脾，脾實則血自止。</p>
<p>若因胃中積熱而吐，則宜先清胃火，使血歸經，方用淨知母一錢，懷生地二錢，粉丹皮錢半，雅川連五分，白歸身三分，大麥冬一錢，潤玄參一錢，炙甘草五分。襁褓小兒，但用細生地一錢，連心麥冬八分，生甘草五分，引用燈芯十莖，竹葉七片。</p>
<p>小兒咳嗽見血，此因心腎水火不升降，火炎無制，肺胃枯燥，不可作童子癆治。方用大生地一錢，杭白芍一錢，肥知母一錢，白蓮肉一錢，玄參一錢，寸麥冬錢半，真雅連八分，天花粉五分，炙甘草五分。</p>
<h4>便血</h4>
<p>小兒大便下血，皆因恣食肥甘，致生內熱，傷陰絡也。若血色黯而濁，肛門腫痛，先血後糞者為近血，名曰臟毒。若血鮮而清，腹中不痛，先糞後血者為遠血，名曰腸風。故便血屬臟毒者，肛門每多腫痛，初起古方主皂刺大黃湯消之（如皂刺、生大黃、各等分）。量兒年歲大小虛實，酌其多少。水酒煎服。大下血後，熱盛微痛者，古法主槐花散和之（如炒槐花、側柏葉、炒枳殼、川黃連、炒荊芥穗等味）。</p>
<p>臟毒加蒼朮、苦楝；腸風加秦艽、防風。濕盛不痛者，古法主平胃地榆湯和之（如炒蒼朮、陳皮、薑炒厚朴、甘草、地榆，引用生薑）。</p>
<p>便血日久，脈微氣血弱者，古法主升陽和血湯和之（如炙黃　、酒炒當歸、炒白芍、牡丹皮、陳皮、肉桂、秦艽、生地、熟地、生甘草、炙甘草、炒蒼朮、綠升麻等味）。</p>
<p>繼以人參養榮湯補之（如人參、黃　、炒白朮、茯苓、炒白芍、肉桂、熟地、酒洗當歸、炒甘草、陳皮，引用薑、棗）。</p>
<p>〔真按〕小兒糞前見血，此血自大腸來也。方用正雅連五分，川黃柏一錢，小條芩一錢，生甘草五分，引用燈芯十莖。</p>
<p>糞後見血，此血從胃脘小腸來也。方用黑梔仁五分，大生地錢半，粉丹皮一錢，大歸身五分，雅川連五分，太子參八分，生於朮六分。</p>
<p>久不止者，本方加西黨參錢半，升麻三分。</p>
<h4>溺血</h4>
<p>小兒溺血，為精竅之病，乃尿與血先後分出者也。古法主牛膝四物湯（如牛膝、木通、鬱金、甘草梢、瞿麥、當歸、川芎、生地、赤芍等味）。</p>
<p>〔真按〕小兒溺血，固屬罕見，若有此證，方用鮮生地錢半，生牛膝一錢，細木通八分，赤芍藥一錢，瞿麥穗五分，白雲苓二錢，引用燈花一顆。</p>
<h3>汗證門</h3>
<h4>汗解</h4>
<p>《經》曰：陽之汗，以天地之雨名之。又曰：陽加於陰，謂之汗。又曰：心為汗。夫心之所藏，在內者為血，在外者為汗。汗乃人之津液，存於陽者為津，存於陰者為液，發泄於外者為汗。若汗無故而出者，乃因陰陽偏勝也。如小兒無因而汗自出者，謂之自汗。自汗屬陽，有虛實之別。虛者汗出翕翕，發熱惡寒，乃表虛也。汗出蒸蒸，發熱不惡寒，乃裡實也。表虛者法當固表，裡實者法當攻熱。又有睡則汗出，覺則汗止，謂之盜汗。盜汗主陰虛，然當分心虛不固，心火傷陰二候。心虛當補心，心熱當涼血，最宜詳辨，因作汗解。</p>
<h4>自汗</h4>
<p>小兒表虛，　自汗，古法主玉屏風散（如蜜炙黃　、防風、土炒白朮等味）。</p>
<p>若惡寒冷，陽氣虛也，古法主桂枝湯（如白芍、桂枝、炙甘草）。加炙附子，引用薑、棗。</p>
<p>陽明裡實。蒸蒸自汗。古法主白虎湯（如　石膏、生知母、生甘草、粳米等味）以清之。</p>
<p>便秘者。古法主調胃承氣湯（如大黃、芒硝、甘草，引用生薑）以攻之。</p>
<p>〔真按〕自汗一證，多由心腎兩虛而得之者。然陰虛陽必湊之，故發熱而自汗。陽虛陰必湊之，故發厥而自汗。皆陰陽偏勝之見端也。小兒臟腑嬌嫩，皮腠未密，或重衣濃被，致五內生熱，熱搏於心，故心腋不能自存，而額汗出也。額為心之位，宜收斂心氣，固心血，方以炒黨參二錢，白歸身五分，另有　豬心切一薄片，共煎湯，空心服之。</p>
<p>若大病後，氣血兩虛，津液自汗，或潮熱，或寒熱發過之後，身涼自汗，日久令兒黃瘦，失治則變蒸疸，急宜固其真元。方用嫩黃　一錢，炒黨參八分，漂白朮八分，炙甘草五分，引用龍眼肉三枚。</p>
<p>若脾虛泄瀉自汗後，而遍身冷，有時遇瀉則無汗，不瀉則有汗，此為大虛之候，急用真人參三錢（無力者用西黨參三錢）。生金錢術二錢，北乾薑一錢，炙甘草一錢，以挽救之。</p>
<p>瀉止，除去乾薑不用，加炙黃　一錢，同煎。</p>
<p>小兒自汗，上至胸，下至臍，此胃虛也，宜補胃。方用四君子東加黃　。</p>
<p>小兒肺虛自汗，面唇俱白，六脈無力，蓋因久嗽所致。方用四君子東加麥芽、五味子。</p>
<h4>盜汗</h4>
<p>小兒盜汗有二，虛實兩分：心虛者，陰氣不斂也，睡則多驚，古法主酸棗仁湯（如當歸、炒白芍、生地、茯苓、炒酸棗仁、炒知母、炒黃柏、五味子、人參、炙黃　等味）。</p>
<p>心熱者，火傷於陰也，身多煩熱，古法主當歸六黃湯（如當歸、生地、熟地、黃芩、黃柏、黃連、炙黃　，引用浮麥）。</p>
<p>〔真按〕小兒睡中汗出，醒來則止，此心虛盜汗。宜和心氣，養心血。但用前擬自汗本方黨參、歸身、豬心等味，服之即愈。</p>
<p>若睡中遍身有汗，覺來久不干者，此食積盜汗脾冷所致。方用正廣皮八分，杭青皮八分，訶子肉四分，粉甘草四分，公丁香三分，引用五穀蟲五分。</p>
<p>附諸汗外治法：凡諸汗服藥不止者，用五倍子一個，研細末，醋和作一小餅，貼肚臍，以帶扎之，即能見效。</p>
<h3>咳嗽門</h3>
<h4>咳嗽解</h4>
<p>黃帝曰：肺之令人咳，何也。歧伯曰：五臟六腑皆令人咳，非獨肺也。夫肺為華蓋，口鼻相通，息之出入，氣之升降，必由之路，故專主氣。《經》曰：形寒飲冷則傷肺。由兒衣太薄及冷凍飲料之類，傷於寒也。《經》曰：熱傷肺。由兒衣太濃，愛養過度，傷於熱也。又曰：皮毛者肺之合。皮毛先受邪氣，邪氣得從其合，使氣上而不下，逆而不收，充塞咽嗌，故令咳嗽也。</p>
<p>《病機式要》云：咳嗽謂有聲有痰，因肺氣受傷，動乎脾濕而然也。咳謂無痰而有聲，肺氣傷而不清也。嗽謂無聲而有痰，脾虛動而為痰也。</p>
<p>二者雖俱屬肺病，然又有肺寒肺熱之分，食積分寒之別，宜詳辨之。</p>
<p>臟腑皆令人咳，然必臟腑各受其邪，而終皆不離乎肺也。但因痰而嗽者痰為重，主治在脾；因咳而動痰者，肺為重，主治在肺。</p>
<p>以時言之：清晨咳者，屬痰火；午前嗽者，屬胃火；午後嗽者，屬陰虛；黃昏嗽者，火浮於肺，二便嗽者，食積滯於三焦；肺實者，煩嗽抱首，面赤反食；肺虛者，氣逆虛鳴，面目白飧泄；肺熱者，痰腥而稠，身熱喘滿，鼻干面紅，手捏眉目；肺寒者，嗽多痰清，面白而喘，惡風多涕。</p>
<p>又因其虛實寒熱，調理各不相同，因作咳嗽解。</p>
<h4>肺寒咳嗽</h4>
<p>小兒寒嗽，因平素肺虛，喜啖生冷，以致寒邪傷肺，發為咳嗽。其證面色　白，痰多清稀，鼻流青涕，初起古法主聖惠橘皮飲（如人參、貝母、蘇葉、陳皮、桔梗、杏仁，引用紅棗）。</p>
<p>若日久不愈者，古法主補肺阿膠散（如人參、麩炒阿膠、炒牛蒡子、炒杏仁、糯米、炙甘草、馬兜鈴等味），水煎食後服。</p>
<p>〔真按〕小兒寒嗽，除前述諸病狀外，更有氣壅喘促，聲濁無汗，鼻塞聲重之狀。方用老蘇梗八分，白雲苓錢半，陳枳殼一錢，信前胡六分，芽桔梗一錢，浙貝母錢半，苦杏仁錢半，引用嫩生薑一薄片。</p>
<p>次用化痰寧嗽之法，方用叭噠杏仁二錢，蜜紫菀一錢，炒百部一錢，炒白前一錢，炙甘草五分，煎服則氣順痰清，而咳嗽不強止而自止矣。</p>
<h4>肺熱咳嗽</h4>
<p>小兒火嗽一證，乃火熱熏擾肺金，遂致頻頻咳嗽，面赤咽乾，痰黃氣穢，多帶稠黏。便軟者，古法主加味瀉白散（如桑皮、地骨皮、生甘草、川貝母、麥冬、生知母、桔梗、黃芩、薄荷等味）。</p>
<p>便硬者，古法主涼膈散（如黃芩、大黃、連翹、芒硝、生甘草、梔子、薄荷，引用竹葉、生蜜），加桔梗、桑皮。</p>
<p>〔真按〕小兒熱嗽，便軟者，但用蜜炙桑皮錢半，蜜炙地骨皮一錢，川尖貝八分，去心麥冬錢半，苦桔梗八分，新竹茹一錢，浮海石八分，引用生白蜜一小匙，沖服。</p>
<p>便硬者，加玄明粉二錢，炒黃芩八分。</p>
<h4>食積咳嗽</h4>
<p>小兒積嗽，因食積生痰，熱氣熏蒸，肺氣上促痰壅，頻頻咳嗽。便溏者，古法主曲麥二陳湯（如陳皮、薑製半夏、茯苓、生甘草、薑製黃連、山楂、炒麥芽、炒神麯、栝蔞仁、炒枳實，引用薑、棗）。</p>
<p>便秘者，古法主蘇葶滾痰丸〔如炒蘇子一兩，苦葶藶一兩，酒蒸大黃四兩，沉香五錢，黃芩四兩，青礞石（火如金為度）五錢，共為末，水為丸〕，量兒虛實服之，薑湯送下。</p>
<p>〔真按〕小兒積嗽，積已化痰，痰壅而後氣促，此即咳嗽之根原。便溏、但用炒麥芽一錢，炒神麯一錢，炒枳實八分，半夏曲八分，制膽星三分，薑製半夏五分，炒栝蔞錢半，炒山楂一錢，引用竹瀝汁薑汁各十滴。</p>
<p>便硬者，加酒蒸大黃五分。</p>
<h4>風寒咳嗽</h4>
<p>小兒脫衣，偶為風冷所乘，肺先受邪，使氣上逆，沖塞咽膈，發為咳嗽，嚏噴流涕，鼻塞聲重，頻唾痰涎，古法主先以參蘇飲疏解表邪（如蘇葉、干葛、前胡、陳皮、半夏、生甘草、炒枳殼、桔梗、赤茯苓等味）。</p>
<p>再以金沸草散清其痰嗽（如細辛、荊芥、半夏、旋覆花、前胡、甘草、赤苓，引用薑、棗）。</p>
<p>苦寒邪壅蔽，古法主加味華蓋散（如麻黃、杏仁、炒蘇子、前胡、橘紅、生甘草、炒桑皮、桔梗、赤茯苓等味）水煎，食後溫服。</p>
<p>〔真按〕小兒因受風寒而起咳嗽，但用苦杏仁二錢，嫩蘇梗一錢，軟前胡五分，赤芍藥一錢，留白陳皮八分，片桔梗五分。生甘草五分。</p>
<p>痰薄者，加薑製半夏五分；痰濃者，加川貝母八分，栝蔞仁一錢。</p>
<h4>附例</h4>
<p>小兒百　嗽，面白唇淡，白眼帶青，痰不相應，此系肝風有餘，肺氣不足，未可以常法治之。若投疏風清肺，適足益燥傷陰，但用川貝母五錢（淡薑湯潤濕飯上蒸過），半生半炒甘草共二錢五分，研細末，每次用一錢，加砂糖少許，米湯調服，連服七日即愈。</p>
<h3>喘證門</h3>
<h4>喘解</h4>
<p>《經》曰：犯賊風虛邪者陽受之，陽受則入六腑。入六腑則身熱不得臥，上為喘呼。又曰：諸氣　郁，皆屬於肺。喘者即肺之　郁也。凡呼吸氣出急促者，謂之喘急，外候抬肩欠肚。若更喉中有聲響者，謂之哮吼。然致病之原不一。如氣粗胸滿，痰稠便硬，而喘者，此實熱也。</p>
<p>氣之息微，不能續息而喘者，此虛邪也。</p>
<p>因風寒鬱閉而喘者。因痰飲壅逆而喘者。此外，更有馬脾風一證，最為危急。辨別之內，毫厘千裡，因作喘解。</p>
<h4>火熱喘急</h4>
<p>小兒因火邪刑金，作喘有聲者，外候口乾舌燥，渴甚，面赤唇紅。審其脈證，屬肺熱者，古法主涼膈散（如黃芩、大黃、連翹、芒硝、生甘草、梔子、薄荷，引用竹葉、生蜜）。</p>
<p>〔真按〕此方芒硝、薄荷可不用。</p>
<p>屬胃熱者，古法主涼膈白虎湯（如生大黃、朴硝、生甘草、連翹、梔子、生黃芩、薄荷葉、生石膏、生知母，引用粳米）。</p>
<p>〔真按〕此方大黃、朴硝、薄荷三味可不用。</p>
<p>心火刑金者，古法主導赤散（如生地、木通、生甘草，引用燈芯、竹葉）。</p>
<p>〔真按〕如系心火過旺，可加黃連、滑石二味。</p>
<p>腎虛火來爍金者，古法主知柏地黃湯（如干生地黃、山茱萸肉、炒山藥、炒知母、鹽炒黃柏、牡丹皮、澤瀉、茯苓等味）。</p>
<p>〔真按〕此方甚佳，但分量不必過重，黃柏一味，尤宜少用為妥。</p>
<h4>肺虛喘急</h4>
<p>小兒虛喘之證，氣乏聲音短澀，古法主王潔古黃　湯（如人參、炙黃　、炙甘草、地骨皮、炒桑白皮等味）。</p>
<p>〔真按〕小兒因純粹肺虛而喘，不夾他證。方用西洋參一錢，蜜炙桑白皮，地骨皮各八分，甜杏仁一錢，炙甘草三分。</p>
<p>喘促夾痰者，古法主百合固金湯（如百合、天門冬、麥門冬、生地、熟地、當歸、白芍、生甘草、貝母、玄參、桔梗等味）。</p>
<p>〔真按〕小兒因肺虛夾痰而喘，重在補肺化痰，方以栝蔞霜錢半，百合一錢，川貝母一錢，炒麥冬六分，制天冬六分，西洋參錢半，炒白芍八分，生甘草三分。</p>
<p>喘促夾熱者，古法主本事黃　湯（如五味子、白芍、天冬、麥冬、人參、黃　、熟地、炙甘草、白茯苓，引用烏梅、薑、棗）。</p>
<p>〔真按〕小兒因肺虛夾熱，而作喘者，此方甚不相宜。方以西洋參一錢，連心麥冬一錢，潤玄參一錢，生白芍六分，白茯苓錢半，淡竹葉一錢，川貝母八分，炙桑白皮五分，生甘草梢五分，引用鮮栝蔞錢半。</p>
<h4>風寒喘急</h4>
<p>小兒因受風寒，內閉肺氣，則氣逆不降，呼吸氣急，以致作喘，發熱無汗，古法主華蓋散（方見風寒咳嗽）。</p>
<p>〔真按〕麻黃表散太過，兒體萬不能支，但用嫩蘇葉八分，薄荷尖五分，苦杏仁錢半，信前胡三分，冬桑葉一錢，醋炒青皮三分，引用鮮枇杷葉一片。</p>
<h4>痰飲喘急</h4>
<p>小兒痰飲作喘，實因痰壅氣逆，其音如潮。響聲如曳踞者，古法主蘇葶滾痰丸（方見食積咳嗽）。</p>
<p>〔真按〕此方太猛，慎勿輕試。但用甜葶藶三分，淡海蜇皮三錢，鮮荸薺三枚，生甘草五分，煎好，以枇杷露、杏仁露各半兩沖服。</p>
<p>若停飲喘急不得臥者，古法主蘇葶丸（如炒蘇子、苦葶藶子各等分，蒸棗肉為丸），淡薑湯下。</p>
<p>〔真按〕停飲喘急，先宜瀉飲降逆，此丸暫時可服，但須以薑汁和棗肉為丸。放小兒口中，銜化徐徐咽下。</p>
<p>若兒過小，改用炒蘇子二分，微炒葶藶一分，棗一枚，生薑一小片，煎服。</p>
<h4>馬脾風</h4>
<p>小兒暴喘，俗謂之馬脾風，因寒邪客於肺俞，寒化為熱，閉於肺經，故胸高氣促，肺脹喘滿，兩脅煽動，陷下作坑，鼻竅煽張，神氣悶亂，初起古法主五虎湯（如蜜炒麻黃、炒杏仁、生甘草、石膏、細茶等味）。</p>
<p>〔真按〕小兒胸膈積熱，心火凌肺，熱痰壅盛，忽然大喘，為馬脾風。蓋心為午火，屬馬，言心脾有風熱也。急用黑牽牛（生炒）五分（取頭末）、錦莊黃（酒潤晒乾）、陳枳殼（麩炒）各一錢，煎好，加生白蜜一湯匙，調勻，徐徐灌之，以氣平為度。</p>
<h3>吐證門</h3>
<h4>吐解</h4>
<p>《經》曰：諸逆衝上，皆屬於火。諸嘔吐酸，皆屬於熱。又曰：寒氣客於腸胃，厥逆而出。故痛而嘔。是嘔吐一證，皆諸逆上衝所致也。如溢乳、　乳、嘔噦，皆與嘔吐相似，不可概以嘔吐治之。惟諸逆上衝，始得謂之嘔吐。</p>
<p>究其諸逆之原因：或乳食過多，停滯中脘，致傷胃氣，不能健運而上逆也。</p>
<p>或於食時觸驚，停積不化，而上逆也。</p>
<p>或痰飲壅盛，阻隔氣道為上逆。</p>
<p>或蛔蟲擾亂，懊　不安為上逆。</p>
<p>總而言之，上逆之因雖不同，而皆成為嘔吐則同也。然其中虛實寒熱，當於臨證時參合兼見之證，審慎以別之，因作吐解。</p>
<h4>嘔吐噦辨</h4>
<p>吐證有三：曰嘔、曰吐、曰噦。古人謂：嘔屬陽明，有聲有物，氣血俱病也；吐屬太陽，有物無聲，血病也；噦屬少陽，有聲無物，氣病也。</p>
<p>獨李杲謂嘔、吐、噦俱屬脾胃虛弱。潔古老人又從三焦以分氣、積、寒之三因。然總不越《內經》諸逆上衝之一語也。知此則不辨自明矣。</p>
<h4>傷乳吐</h4>
<p>小兒因乳食過飽，停蓄胃中，以致運化不及，吐多乳片，猶如物盛滿而上溢也。其證身熱面黃，肚腹膨脹，古法主消乳丸（如製香附、炒神麯、炒麥芽、陳皮、炒砂仁、炙甘草，共為細末，滴水為丸，如粟米大），量兒大小服之。薑湯化下。</p>
<p>〔真按〕小兒因傷乳而吐，但用炒神麯八分，茯苓皮一錢，炒砂仁三分，炙甘草三分，生薑皮一分。服之，即能化其宿乳，安其胃腑，則吐自止。</p>
<h4>傷食吐</h4>
<p>小兒因飲食無節，過食油膩，或面食等物，以致壅塞中脘而吐。其證肚腹脹熱，惡食口臭，頻吐酸黏，眼胞虛浮，身體發熱。古法主先用三棱丸止其吐（如煨三棱、陳皮、薑製半夏、炒神麯、薑製黃連、枳實、丁香，共研細末，面和為丸，如黃米大，食後薑湯下）。</p>
<p>再用和胃湯化其滯（如陳皮、半夏、縮砂仁、炒蒼朮、薑製厚朴、藿香葉、炒香附、炙甘草、山楂、炒神麯，引用生薑）。</p>
<p>〔真按〕小兒因傷食而吐，但用山楂炭一錢，白雲苓一錢，萊菔子三分，炒神麯八分，廣橘紅一錢，引用五穀蟲三分。</p>
<h4>夾驚吐</h4>
<p>小兒多因飲食之時，忽被驚邪所觸而吐，其證頻吐青涎，身體發熱，心神煩躁，睡臥不寧，古法主先用全蠍觀音散截其風〔如人參、蜜製黃　、炒扁豆、茯苓、蓮肉、煨木香、白芷、羌活、防風、天麻、全蠍（去毒）、炙甘草，共為細末，薑、棗煎湯調服〕。</p>
<p>次用定吐丸止其嘔（如丁香二十一粒，蠍梢四十九條，薑製半夏三個，共為細末，令勻煮棗肉為丸，如黍米大，每服七丸，白滾湯化服）。</p>
<p>〔真按〕小兒因夾驚而吐，古人散劑丸劑，均不宜服，但用朱茯苓錢半，薑汁炒竹茹一錢，天竺黃一錢，連翹殼八分，生甘草梢五分，先以金銀器煎湯，再煎藥服。</p>
<h4>痰飲吐</h4>
<p>小兒飲水過多，以致停留胸膈，變而為痰，痰因氣逆，遂成嘔吐之證，其候頭目眩暈，面青，嘔吐痰水涎沫也。</p>
<p>古法主香砂二陳湯（如二陳湯本方加藿香、砂仁）。</p>
<p>虛者古方主香砂六君子湯（如六君子湯本方加藿香、砂仁）。</p>
<p>〔真按〕小兒因痰飲而吐，但用化州橘紅一錢，炒茯苓錢半，半夏曲八分，藿香葉五分，川朴花一朵，炙甘草三分，引用北乾薑一薄片，虛者加炒黨參八分，炒白朮一錢。</p>
<h4>蟲吐</h4>
<p>小兒蟲吐之證有二：（甲）因胃經熱蒸而吐；（乙）因胃經寒迫而吐，皆能令蟲不安，擾亂胃中而作吐也，其證唇色或紅或白，胃口時痛時止，頻嘔清涎。屬寒屬熱，當從陰陽之證辨之。熱者，古法主化蟲丸（如蕪荑、鶴虱、苦楝根皮、胡粉、使君子肉、檳榔、枯礬，共為細末，面糊為丸）量兒大小與之。寒者，古法主加減理中湯（如人參、乾薑、炒白朮、川椒，引用烏梅一個）。</p>
<p>〔真按〕小兒因蟲而吐，不但治吐，且當治蟲。熱者，但用淡竹茹二錢，花檳榔八分，使君子肉一錢，蕪荑三分，雷丸三分，炙甘草五分。寒者，除去淡竹茹不用，加川朴五分，木香五分。</p>
<h4>虛吐</h4>
<p>小兒虛吐，多因胃氣虛弱，不能消納乳食，致成此證。其候精神倦怠，囟門煽動，睡臥露睛，自利不渴，頻頻嘔吐，古法主丁沉四君子湯（如人參、炒白朮、茯苓、炙甘草、丁香、沉香，引用煨薑）。</p>
<p>〔真按〕小兒因虛而吐，但用炒黨參一錢，炒於朮錢半，茯苓塊錢半，炙甘草五分，丁香八分，引用煨薑二片。</p>
<h4>實吐</h4>
<p>小兒平素壯實，偶而停滯，胸腹脹滿，二便秘澀，痞硬疼痛，口渴思飲寒涼，吐多酸臭，古法主三一承氣湯（如芒硝、生大黃、炒枳實、生甘草、厚朴，引用生薑）。</p>
<p>〔真按〕小兒因實而吐，但用油厚朴八分，小枳實八分，飛滑石一錢，生甘草五分，玄明粉一錢，引用燈芯十莖，生白蜜一湯匙。</p>
<h4>寒吐</h4>
<p>小兒過食生冷，或乳母當風取涼，使寒氣入乳，小兒飲之，則成寒吐。其候朝食暮吐、乳食不化，吐出之物，不臭不酸，四肢逆冷，面唇色白，治當溫中定吐。</p>
<p>胃寒者，古法主薑橘散（如白薑一錢，陳皮一兩，炙甘草一錢，共為細末）每服一錢，溫棗湯調服。</p>
<p>寒甚者，古法主丁萸理中湯（如理中湯本方加丁香、吳茱萸）。</p>
<p>〔真按〕小兒因寒而吐，但用制川朴一錢，廣陳皮錢半，丁香五分，北乾薑五分，炙甘草五分，引用小紅棗一枚。寒甚者加飴糖一錢。</p>
<h4>熱吐</h4>
<p>小兒熱吐之證，或因小兒過食煎　之物，或因乳母過食濃味，以致熱積胃中，遂令食入即吐，口渴飲冷，嘔吐酸涎，身熱唇紅，小便赤色，古法主加味溫膽湯（如陳皮、半夏、茯苓、麥冬、炒枳實、生甘草、竹茹、薑炒黃連，引用燈芯）。</p>
<p>〔真按〕小兒因熱而吐，自當以清熱為主，雖方名溫膽，藥品本不甚溫，然陳皮、半夏二味，究嫌過燥，但用鮮竹茹錢半，茯苓塊錢半，小枳實五分，炒黃連三分，熟石膏錢半，生甘草五分，引用竹瀝汁十滴，燈芯十莖。</p>
<h3>瀉證門</h3>
<h4>瀉解</h4>
<p>《經》曰：虛邪之中人也，留而不去，傳舍於腸胃，多寒則腸鳴飧泄食不化，多熱則瀉泄。夫泄瀉無不本於脾胃，胃為水穀之海。而脾主運化，脾健則胃和，水穀腐化，而為氣血以行營衛，若飲食失節，寒溫不調，脾胃受傷，則水反為濕，穀反為滯，精華之氣，不能輸化，乃至合污下降，而瀉泄作矣。</p>
<p>如腸鳴腹不痛者，是濕，宜用燥滲。</p>
<p>飲食入胃，不能留住，或完穀不化者，是氣虛，宜用溫補。</p>
<p>腹痛腸鳴，如水聲，痛一陣、瀉一陣者，是火，宜用清利。</p>
<p>時瀉時止，或多或少，是疾枳，宜豁之。</p>
<p>腹痛甚而瀉，瀉後痛減者，宜消之，體實者宜下之。</p>
<p>脾瀉已久，大腸不禁者，宜澀之，元氣下陷者，宜用升提。</p>
<p>小兒之瀉，多因脾被濕浸，土不勝水而成，然致病之原不同，或乳食停滯，或感受寒暑，或驚邪外觸，或臟受寒冷，或脾虛作瀉，更有飧瀉水瀉之證，均須詳細明辨，因作瀉解。</p>
<h4>傷乳食瀉</h4>
<p>小兒因乳食過飽，損傷脾胃，乳食不化，故頻瀉酸膿也，噫臭腹熱，脹滿疼痛，口渴惡食，小便赤澀，古法主保安丸消其滯（如醋炒香附、縮砂仁、炮白薑、醋炒青皮、陳皮、三棱、莪朮、炙甘草，共為細末，面糊為丸，量兒大小與之，白湯化下）。</p>
<p>次用平胃湯和其脾（如炒蒼朮、陳皮、薑炒厚朴、炙甘草、炒麥芽、砂仁，引用薑）。</p>
<p>〔真按〕小兒因傷乳而瀉，但用炒麥芽八分，焦穀芽八分，廣橘紅五分，茯苓塊二錢，赤茯苓一錢，炒澤瀉一錢，山楂炭錢半，炙甘草五分。</p>
<p>如因傷食而瀉，則用炒枳殼八分，炒神麯一錢，廣陳皮一錢，五穀蟲八分，炒麥芽一錢，扁豆衣一錢，川朴花一朵，赤茯苓錢半，炙甘草五分，引用生薑一片。</p>
<h4>中寒瀉</h4>
<p>小兒過食生冷，以致寒邪凝結，腸鳴腹脹，時復疼痛，所瀉皆澄澈清冷，面色淡白，四肢厥冷，飲食懶進，古方主理中湯以溫中（方見前）。</p>
<p>止瀉，古方主訶子散（如面煨訶子、肉豆蔻、土炒白朮、人參、茯苓、煨木香、陳皮、炙甘草，共為細末），每服一錢，薑湯調服。</p>
<p>〔真按〕小兒寒瀉，但用炒白朮錢半，赤茯苓二錢，白通草五分，結豬苓二錢，白澤瀉錢半，引用北乾薑二片。</p>
<h4>火瀉</h4>
<p>小兒因臟腑積熱，或外傷暑熱，故瀉時暴注下迫，肚腹疼痛，心煩口渴，瀉多黃水，小便赤色，古法主先用玉露飲清其熱（如寒水石、石膏、生甘草，共為細末），量兒大小，溫湯不拘時調服，再用四苓湯利其水（如茯苓、白朮、豬苓、澤瀉，引用燈芯）。</p>
<p>〔真按〕小兒火瀉，但用飛滑石三錢，生甘草五分，煎服後，再以雲茯苓二錢，生金錢術一錢，結豬苓錢半，炒澤瀉錢半，車前子八分，淡竹葉一錢，引用燈芯七莖，荷葉露半兩，沖服。</p>
<h4>驚瀉</h4>
<p>小兒因氣弱受驚，其候夜臥不安，晝則驚惕，糞稠若膠，色青如苔，古法主鎮心抑肝。先以抑脾定驚散定其驚（如人參、白朮、茯苓各三錢，鏡面朱砂八分，鉤藤二錢，炙甘草五分，共為細末）。每服一錢，燈芯湯調服。</p>
<p>次以養脾丸理其脾（如人參、白朮、當歸、川芎各三錢，醋炒青皮、煨木香、薑炒黃連、陳皮各二錢，炒神麯、山楂、縮砂仁、炒麥芽各一錢，共研細末。神麯糊為丸，如麻子大）。每服二十丸，陳倉米煎湯化服。</p>
<p>〔真按〕小兒驚瀉，若用古之鎮驚理脾二方，誠恐肝不能抑，心不能鎮，而脾亦不能理，多生變端，蓋兒因驚而始瀉，只要化其驚而瀉自無不止，方用朱砂拌茯苓錢半，白澤瀉一錢，細木通八分，赤茯苓一錢，炒白芍一錢，引用金銀器煎湯，代水煎藥。</p>
<h4>臍寒瀉</h4>
<p>小兒多因斷臍失護，風冷乘入，傳於大腸，遂成寒瀉之證，其候糞色青白，腹痛腸鳴，古法主先用和氣飲溫散之（如蒼朮、紫蘇、防風、赤苓、豆豉、藿香、陳皮、厚朴、炙甘草，引用生薑、燈芯）。</p>
<p>再以調中湯溫補之（如人參、茯苓、藿香、炒白朮、炙甘草、煨木香、製香附、縮砂仁，引用煨薑）。</p>
<p>〔真按〕小兒既因臍寒而瀉，古方斷不宜服。若兒未盈月，但用暖臍膏貼之可愈，不必服藥，若泄瀉過甚，但用炒白朮八分，白茯苓二錢，炒豬苓八分，宣澤瀉八分，引用乾薑一片。</p>
<h4>脾虛瀉</h4>
<p>小兒脾虛泄瀉，多因脾不健運，故每逢食後作瀉，腹滿不渴，精神短少，面黃懶食，肌肉消瘦，古法主參苓白朮散（方見脾疳）。</p>
<p>〔真按〕小兒脾虛泄瀉，最防轉為慢驚，方用扁豆衣錢半，炒白朮錢半，結豬苓錢半，炒澤瀉錢半，吉林參須五分，雲茯苓二錢，炒枳殼五分，白芡實一錢，炙甘草五分。</p>
<h4>飧瀉</h4>
<p>小兒飧瀉，或因春傷風邪，清氣下陷，脾失健運，以致完穀不化，古法主補中益氣湯（如人參、蜜製黃　、土炒當歸、土炒白朮、炙甘草、陳皮、土炒升麻、醋炒柴胡，引用薑棗）。</p>
<p>若泄瀉日久，腸滑不禁者，古法主四神丸（如補骨脂、五味子、肉豆蔻、吳茱萸，共為末，薑、棗肉為丸）</p>
<p>每服一錢，米飲下。</p>
<p>〔真按〕小兒飧泄，固當補養脾土，然選用補中益氣，亦不相宜。至用四神散以溫腸，尤所當禁。方用生於朮錢半，赤茯苓一錢，白茯苓一錢，炒黨參一錢，蓮子肉一錢（去芯），炙甘草五分，懷山藥錢半，扁豆肉一錢。</p>
<p>若因清氣下陷，加升麻二分。</p>
<h4>水瀉</h4>
<p>小兒水瀉，皆因脾胃濕盛，以致清濁不分，變成此證，其候小便短澀，懶食，溏瀉色黃，古法主胃苓湯以除濕（如炒蒼朮、陳皮、厚朴、炒白朮、茯苓、炙甘草、肉桂、澤瀉、豬苓，引用生薑、紅棗）。</p>
<p>若瀉久不止，則用升陽除濕湯（如蒼朮、陳皮、防風、炒神麯、炒麥芽、澤瀉、炙甘草、升麻、羌活、柴胡、豬苓，引用生薑）。</p>
<p>〔真按〕小兒水瀉，不釐清濁，宜用燥濕兼分利之法，方以川萆　一錢，米泔浸炒蒼朮六分，制金錢術二錢，炒豬苓二錢，炒澤瀉二錢，炒扁豆一錢，炒麥芽八分，引用煨薑一片，上肉桂一分，研末，沖服。</p>
<h3>積滯門</h3>
<h4>積滯解</h4>
<p>《經》曰：新積痛可移者，易已也。積不痛，難已也。小兒所資以養生者，惟乳與食，乳為血液，飲之類也，穀為糟粕，食之類也。乳貴有時，食貴有節，若父母過愛，乳食無度，雖曰愛之，其實害之。脾虛不運，氣不流行，而積滯成矣。傷熱乳熱食者，則為熱積。傷冷乳冷食者，則為冷積。五穀之類為食積，禽畜之類為肉積，菜果之類為冷積。飲食之積，必用消導。消者散其積也，導者行其氣也。輕則和解常劑，重則峻下湯丸。蓋濁陰不降，則清陽不升，客垢不除，則真元不復。譬如戡定禍亂，然後可以致太平。或消補並行，或補多消少，或先補後消，潔古所謂養正而積自除。故前人破滯消堅之藥，必假參朮以贊助成功。經曰：無攻邪，無失正。此之謂也。因作積滯解。</p>
<h4>乳積</h4>
<p>乳積之兒，其候睡臥不寧，不時啼叫，口中氣熱，頻吐乳片，肚脹腹熱，大便酸臭，古法主消乳丸（方見傷乳吐）。</p>
<p>〔真按〕小兒乳積，因傷乳而停積，自與傷乳即吐者有別，臟腑嬌嫩，不宜妄攻，方用炒麥芽一錢，六神麯八分，雲茯苓二錢，炒萊菔子五分，炒枳殼八分，炙甘草三分，引用生薑一片。</p>
<h4>食積</h4>
<p>小兒恣意肥甘生冷，不能運化，則腸胃皆有積滯。其證頭溫腹熱，大便酸臭，噯氣惡食，煩不安眠，口乾作渴，積輕者，古法主木香大安丸以消導之（如木香、黃連、陳皮、土炒白朮、炒枳實、山楂、連翹、炒神麯、炒麥芽、砂仁、萊菔子，共為細末，神麯糊為丸）。每服一錢，陳倉米湯下。</p>
<p>積重便秘者，古法主小承氣湯以攻下之（方見前）。</p>
<p>〔真按〕小兒食積，輕者但用麩炒枳實一錢，制野術一錢，引用縮砂仁三分。食積重者，本方加炒神麯八分，炒麥芽八分，山楂肉錢半，焙萊菔子五分，引用香連丸十粒。便秘者，再加更衣丸五粒。</p>
<h3>癖疾門</h3>
<h4>癖疾解</h4>
<p>凡飲食之積，其初積者不過偶傷飲食，必在腸胃之內，可行可逐，治之不難。惟歷久飲食無節，漸留滯垢，遂成癖疾。其積在左脅膈膜之間，此陽明宗氣所出之道也。《經》曰：胃之大絡，名曰虛裡，貫膈絡肺，出於左乳下，其動應衣脈宗氣也。結而橫有積矣。人苟平日飢飽失時，飲食疊進，以致陽明胃氣一有所逆，則陰寒之氣得以乘之，而脾不及化，則余滯並腸外汁沫，團聚不散，漸成症結，始如雞卵，堅硬成塊，漸如覆盆之形，過臍則證危矣。然其初起甚微，人多不覺，既久根深蒂固，則藥力難達病所。今西北小兒多有此疾，尤以食面之鄉村為最多，因留積於皮裡膜外，所以不易治也。治宜緩消，不宜急攻，要詳察之，因作癖疾解。</p>
<h4>癖疾</h4>
<p>小兒癖疾，始則午後潮熱，口渴飲冷，肚大青筋，漸至堅硬成塊，不時作痛，古法主內外兼治，內服千金消癖丸（如蘆薈、阿魏，另為糊；青黛、木香、厚朴、檳榔、陳皮、生甘草各一錢，使君子肉、胡黃連、山楂肉、醋炒香附、三棱、莪朮各二錢，水紅花子、炒神麯、炒麥芽各四錢，人參、土炒白朮、茯苓各三錢，共為細末。</p>
<p>將阿魏一錢，白水和面打糊為丸，綠豆大）。米飲下，量兒大小服之。</p>
<p>外貼紅花膏（如沒藥五錢，血竭、麝香、阿魏各三錢，當歸、赤芍各一錢，水紅花料一捆，煎汁去渣熬膏一碗，以上六味共為細末，入膏內攪勻，以青布攤貼患處）。</p>
<p>若無熱渴者，古法主先用木香丸（如木香、蓬莪朮、縮砂仁、青皮、朱砂各二錢，共為細末，和勻，飛白面糊和丸，麻子大）。每服二三丸。乳傷，即用乳飲下；食傷，即以所傷物熬湯下。</p>
<p>〔真按〕小兒癖疾，多因飲食過節，腸胃填滿，濁汁外溢，復感寒氣凝結而成。或因血膜化水，日久則癖脅旁，時時作痛，時發潮熱，或寒熱往來似症。大抵有癖之兒，虛者居多，攻下之藥，非可常用。體虛者，但用西黨參、炒金錢朮、正廣皮、白雲苓、乳蒸杭青皮（醋炒）、川厚朴（薑製）、小枳實（酒炒）、法半夏、西砂仁（酒炒）、六神麯（炒）、陳麥芽（炒）各二錢，炙九肋鱉三錢，京三棱（煨）一錢，共為細末，早米粉和為丸，每服一二錢。量兒大小，米飲吞下，以癖消為度。</p>
<p>體實者，可用代赭石，火煨醋淬至酥研末水飛過用，杭青皮（醋炒）、蓬莪朮（煨炒）、南木香（銼屑）、青化桂各三錢，巴豆霜（去油極淨取霜）一錢，川大黃二錢，共研細末，醋煮面糊為丸，蘿卜子大，每服五丸，淡薑湯送下。外可兼貼紅花膏減輕。依法制之。</p>
<h2>卷八</h2>
<h3>水腫門</h3>
<h4>水腫解</h4>
<p>《經》曰：膚脹者，寒氣客於皮膚之間。腹大身盡腫，皮濃按之突而不起，腹色變，此其候也，又曰：諸濕腫滿，皆屬於脾。又曰：水病下為　腫，上為喘呼。不得臥者，標本俱病。若小兒水腫，皆因水停於脾肺二經。</p>
<p>藏於內者：水停胸中則喘。水停膈下則脹。發於外者，當察其所腫之部位。腫在腰以上者，屬風，治宜發汗。</p>
<p>腫在腰以下者，屬濕，治宜利水。通身上下皆腫者，系風濕兩傷，治宜汗利兼施。腫而喘不得臥，宜逐肺飲。腫而脹滿便秘，宜攻脾水。腫從腹起至四肢者，可治。腫從四肢起至腹者，難治。陽水屬實，治宜攻泄。陰水屬虛，治宜溫外。</p>
<p>治腫之法，大概盡述於前。其間通權達變，神而明之，存乎其人。又不可執膠柱鼓瑟之見。因作水腫解。</p>
<h4>風水腫</h4>
<p>小兒上身腫者，頭面肩臂至腰間皆腫也，病由外感風邪，古法仿經所謂開鬼門。主越婢加蒼朮湯以發汗（如麻黃、　石膏、生甘草、米泔浸炒蒼朮等味）。</p>
<p>〔真按〕小兒之腫，自上而起，既系因風，則治宜在肺。古方太猛，但用炒黨參五分，倍前胡五分，芽桔梗一錢，老蘇葉五分，真廣皮一錢，炙甘草五分，生薑皮一錢，大腹皮一錢，茯苓皮一錢，炒桑白皮一錢，五加皮一錢，引用燈芯十莖。</p>
<h4>濕水腫</h4>
<p>小兒下體腫者，腰臍至兩足皆腫也，病由脾經濕熱所致。古法仿經所謂潔淨腑。主內用貼臍法（如巴豆，去油，四錢，水　粉二錢，硫磺一錢，共研勻成餅，先用新棉一片，包藥布貼臍上，外用帛縛時許，自然瀉下惡水，待下三五次，去藥，以粥補住）。</p>
<p>內服沉香琥珀丸〔如苦葶藶子一兩五錢，郁李仁一兩五錢，防己七錢五分，沉香一兩五錢，陳皮（去白）</p>
<p>七錢五分，琥珀五錢，杏仁（去皮尖炒）五錢，蘇子五錢，赤苓五錢，澤瀉五錢，共為細末，煉蜜為丸，如梧桐子大，以麝香為衣，每服一錢，量兒大小與之，用白滾水下〕。</p>
<p>〔真按〕小兒之腫，自下而起，或因腎虛水泛，或因脾氣受濕，古方內外治法，皆極暴烈，此藥不宜妄施，但宜滲利。方用生於朮二錢，白雲苓二錢，結豬苓二錢，炒澤瀉二錢，上肉桂三分，炒防己一錢，花檳榔一錢，引用生薑一片，燈芯十莖。</p>
<h4>風濕腫</h4>
<p>小兒通身腫者，頭面手足皆腫也，病由內停濕飲，外感風邪，風濕相搏，水道不利，外攻肌表，因而作腫，重者，古法主疏鑿飲（如商陸、秦艽、羌活、椒目、木通、赤小豆、茯苓皮、大腹皮、澤瀉、檳榔，引用薑皮）。</p>
<p>輕者，古法主茯苓導水湯（如紫蘇、陳皮、炒白朮、木香、炒桑白皮、去心麥冬、赤茯苓、澤瀉、木瓜、大腹皮、縮砂仁、檳榔，引用燈芯）。</p>
<p>若水停上攻於肺，喘急不得臥者，古法主蘇葶丸瀉之（方見痰飲喘急）。</p>
<p>水停中州脹滿者，古法主舟車神佑丸攻之〔如甘遂、芫花、大戟各一個（俱醋炒），大黃二兩，黑牽牛（頭末）四兩，炒青皮、正陳皮、木香、檳榔各五錢，輕粉一錢，共為細末，水丸，如椒目大，小兒二三丸，大兒五七丸，量服之，滾白水送下〕。</p>
<p>〔真按〕小兒身盡腫者，或因胎稟不足，卒冒風寒，或因瘧痢脾虛，皆能作腫，古方除茯苓導水湯外，如疏鑿飲等劑，以治壯實之兒，猶虞隕越，怯弱之兒，更所難勝。但用生於朮一錢，炒厚朴一錢，廣陳皮一錢，制於朮一錢，雲茯苓二錢，結豬苓二錢，宣澤瀉二錢，炙甘草五分，上肉桂三分，引用生薑三片。</p>
<p>重者頭面腫起，加蜜炙麻黃二分；作喘，加炒桑白皮一錢，苦杏仁二錢；小便黃赤，加木通八分；身腫，加五加皮一錢；腹脹，加砂仁五分，白蔻仁五分，丁香五分，枳殼八分；腳冷不溫，加熟附子五分，上肉桂三分，防己五分。</p>
<h4>陽水</h4>
<p>小兒陽水，因濕熱內郁，水道阻塞，外攻肌表，以致外腫內脹，發熱，口渴心煩，小便短赤，大便秘結。治宜泄水，熱盛煩渴者，古法主大聖　川散〔如煨大黃、牽牛（取頭末）、郁李仁各一兩，木香三錢，芒硝三錢，甘遂五分，共為細末，薑湯調下，量兒大小用之〕。</p>
<p>濕盛脹滿者，古法主舟車神佑丸（方見風濕腫）。</p>
<p>〔真按〕小兒陽水，但用茯苓皮、大腹皮、炒桑白皮、生薑皮，五加皮各二錢，煎湯，送清寧丸一錢，微下之為穩。</p>
<h4>陰水</h4>
<p>小兒陰水，因脾腎虛弱而成，脾虛不能制水，腎虛不能主水，以致外泛作腫，內停作脹。若二便不實，身不熱，心不煩者，古法主實脾飲（如草果仁、大腹皮、木瓜、木香、厚朴、乾薑、制附子、炒白朮、茯苓、炙甘草，引用棗二枚）。</p>
<p>〔真按〕小兒陰水，先用金匱腎氣丸吞之，每服一錢，日三服，白開水送下。如服仍不應者，則是虛中有實，法宜攻補兼施，要抱逐邪不傷正之宗旨，則藥與元氣相當，自見效驗。但須忌鹽醬百日，不得絲毫入口，方易收功。</p>
<h4>附例</h4>
<p>小兒元氣本虛，復遇大病之後，渾身浮腫，四肢厥冷，口不渴，小便清長，大便滑泄，不思飲食，此陰寒之極，脾胃將絕。治腫之方，切勿沾唇，但以四君子略加肉桂、炮薑、砂仁、豆蔻，以救其脾胃。便可挽回。</p>
<h3>腹脹門</h3>
<h4>腹脹解</h4>
<p>《經》曰：足太陰虛則臌脹。又曰：胃中寒則脹滿。又曰：濁氣在上，則生　脹。夫腹脹由脾肺氣虛，不能健運，以致作脹，有虛脹、實脹、寒脹、熱脹之別。大抵虛脹寒脹，已居十之八九，實脹熱脹，只居十之二三。</p>
<p>何則？實熱之證，人所易見，或因傷食，或因傷寒入裡，故易知而易治。虛寒之證，由中氣衰虛，脾氣不化而脹，故難見而難醫。苟以虛寒認為實熱，則去題萬裡，其變不可勝言矣。因作腹脹解。</p>
<h4>虛脹</h4>
<p>小兒久病脾虛，或吐瀉暴傷脾氣，健運失常，所以飲食不化，食少腹即脹滿，現證精神倦怠，面黃肌瘦，此虛脹也。古法主香朴四君子湯（如人參、土炒白朮、茯苓、炙甘草、製香附、薑炒厚朴，引用生薑）。</p>
<p>〔真按〕小兒虛脹，多因久病內傷其脾，或因服藥攻下太過，皆成腹脹。方用吉林參須五分，紫厚朴一錢，真廣皮錢半，制金錢術錢半，白雲苓錢半，草蔻仁五分，南木香五分，炙甘草五分。兼寒者，加熟附子五分。</p>
<h4>實脹</h4>
<p>小兒飲食過度，則胃中停滯，以致腹脹大便不利，身體潮熱，心煩口渴，形氣壯實，此實脹也。輕者古法主加味平胃湯（如炒蒼朮、炒厚朴、大腹皮、生甘草、陳皮、萊菔子、焙山楂、炒麥芽、炒神麯，引用生薑）。</p>
<p>重者，古法主小承氣湯（方見前）。</p>
<p>〔真按〕小兒實脹，多因腹中原有食積，或飲食過飽，故結於中，其候胃口胸前高脹，身熱口渴，倦臥不語，腹痛微喘，目閉不開，顯然虛極之象，小兒此證最多，若非詳細審察，但見其四肢不舉，口閉不開，誤為慢驚，而用寧神導痰之劑，則誤兒不淺，咎將誰歸。方用小枳實一錢，白蔻仁一錢，南山楂錢半，炒麥芽一錢，范志曲一錢，生錦紋五分。玄明粉錢半，生甘草五分，生條芩一錢，引用萊菔子八分、大腹子五分。</p>
<h4>附例</h4>
<p>小兒寒脹，由中氣素寒，冷滯郁結，身不熱，口不渴，唇青，手足厥冷，氣喘腹脹，先用生薑一錢，熟附子一錢，真沉香屑二分，濃煎服，重脹消後，更用五味異功散調補其脾胃。</p>
<p>小兒熱脹，或傷寒入裡化熱，大便閉結，小便短赤，渾身壯熱，面赤煩躁，可用小枳實錢半，生錦紋大黃八分，油厚朴錢半，大腹皮錢半，縮砂仁五分，服之脹消便通，改用四君子加厚朴、砂仁，調理為妥。</p>
<h3>三消門</h3>
<h4>三消解</h4>
<p>《經》曰：心移熱於肺，為膈消。又曰：二陽結謂之消。夫消渴枯燥之急也。</p>
<p>凡渴而多飲，為上消，肺熱也。多食善飢，為中消，胃熱也。渴而小便數，膏濁不禁，為下消，腎熱也。</p>
<p>雖為火盛水衰之證，然由虛熱者多，實熱者少，若作有餘治之，則誤矣。始而心肺消渴，脾腎消中，或腎虛消濁，傳染日久，則腸胃合消，五臟干燥，精神疲怠，以致消瘦四肢，則元氣難以驟復矣。因作三消鮮。</p>
<h4>消渴</h4>
<p>小兒消渴，由心火動而消上，上消乎心，移熱於肺，渴飲茶水，飲之又渴，名曰上消。小便最多，由其水不能停，所以飲水無厭，凡飲一溲一者可治，飲一溲二者不可治，古法主蓮花飲（如白蓮須、粉干葛、茯苓、生地、黃連、天花粉、人參、北五味、知母、炙甘草、淡竹葉，引用燈芯）。</p>
<p>〔真按〕小兒口渴消水，方用制天冬錢半，濃麥冬二錢，天花粉一錢，枯黃芩一錢，鹽知母一錢，炙甘草五分，西洋參五分。</p>
<h4>消飢</h4>
<p>小兒消飢，由脾火動而消中，中消於脾，移熱於胃，喜多食，食無足時，小便色黃，名曰中消，古法主人參白虎湯（如人參、石膏、知母、炙甘草，下晚粳米為引）。煎以米熟為度，澄清熱服。</p>
<p>〔真按〕小兒消穀易飢，方用生地二錢，麥冬二錢，山藥錢半，知母錢半，丹皮錢半，黃連六分，黃芩六分，黃柏六分，引用荷葉錢半。</p>
<h4>消濁</h4>
<p>小兒消濁，色如膏脂，名曰下消。古法主加味地黃湯（如大生地、懷山藥、山茱萸肉、澤瀉、丹皮、知母、茯苓、北五味子、建蓮肉、芡實米、大麥冬等味）。濃煎空心服。</p>
<p>〔真按〕小兒口渴，小便如膏，但用六味地黃東加生脈散主之。方以熟地黃錢半，山萸肉一錢，懷山藥一錢，粉丹皮一錢，雲茯苓錢半，白澤瀉錢半，西洋參錢半，麥冬（去心）錢半，五味子五分。</p>
<h3>頭痛門</h3>
<h4>頭痛解</h4>
<p>頭痛之證不一，怒甚則太陽作痛，小兒無此證也。頭痛必吐清水，不拘冬夏，食薑即止，此中氣虛寒，小兒無此證也。煩勞則頭痛，此陽氣虛不能上升，小兒亦無此證。痰濕頭痛，發則嘔吐痰涎，此濕痰上攻所致，小兒又無此證。熱厥頭痛，雖當嚴冬，猶喜風寒，其痛便止，略見溫暖，其痛更甚，小兒更無此證。然則小兒頭痛之證，何以辨之？曰：只有表裡二證，在表者外感風寒也，在裡者內熱熏蒸也。因作頭痛解。</p>
<h4>風寒頭痛</h4>
<p>小兒風寒頭痛，因太陽經受邪也。其候惡寒發熱，上及巔頂，下連額角，不時作痛，古法主清空膏以取汗（如羌潔、防風、柴胡、川芎、黃芩、黃連、生甘草，引用生薑）。</p>
<p>痛甚，加細辛；便秘，加川大黃。</p>
<p>〔真按〕小兒因感受風寒而發頭痛，羌防柴芎並用，過於表散。但以蘇薄荷八分，嫩桑芽一錢，連須蔥白二寸，淡黃芩一錢，生甘草五分，引用生薑二片。一劑痛定，不必再劑。</p>
<h4>風熱頭痛</h4>
<p>小兒胃熱頭痛，病在陽明，因平日肥甘無節，胃火上炎，故發時鼻干目痛，上至頭，下至齒頰，痛無定時，古法主加味茶調散清之（如荊芥穗、薄荷、黃芩、青茶葉、生石膏、白芷、川芎，引用生薑）。便秘者加川大黃。</p>
<p>〔真按〕小兒因胃腑內熱，而發頭痛，但宜清解。方用薄荷尖五分，　石膏二錢，鹽知母一錢，炒牛膝八分，麥冬（去心）錢半，宣澤瀉一錢，炙甘草五分，引用鮮竹葉十五片。痛甚加粉葛根一錢，燈芯三十寸；便結加清寧丸錢半。</p>
<h3>腹痛門</h3>
<h4>腹痛解</h4>
<p>《經》曰：勞役過甚，飲食失節，中氣受傷，寒邪乘虛入客，陽氣不通所致，故腹卒然而痛。然小兒本無勞役，惟飲食不節則有之。中腕痛屬太陰，臍腹痛屬少陰，小腹痛屬厥陰，皆非所論於小兒之腹痛。惟食痛、寒痛、蟲痛，更有因內食外寒而痛，其證不出四者之外。因作腹痛解。</p>
<h4>食痛</h4>
<p>小兒因飲食不節，積滯不化所致。故食入即痛，其候喜飲涼水，惡食腹滿，吐酸便秘，古法主小承氣湯以下之〔如大黃、枳實（麩炒），厚朴（薑炒），引用生薑〕。</p>
<p>若下後仍痛者，古法主香砂平胃散以消導之〔如蒼朮、陳皮、厚朴、炙甘草、縮砂、香附（醋炒）、南山楂、炒神麯、炒麥芽、炒枳殼、炒白芍，引用生薑〕。</p>
<p>〔真按〕小兒因傷食而腹痛，只要消食兼微下之為得。方用川厚朴八分，山楂炭錢半，五穀蟲一錢，范志曲一錢，炒麥芽一錢，廣陳皮錢半，炒枳殼一錢，玄明粉一錢，炙甘草五分，引用生薑二薄片。</p>
<h4>寒痛</h4>
<p>小兒因中氣虛弱，復為風冷所乘，則脾經受寒，故不時腹痛。現證尿白，爪甲白，面多青，喜飲熱，或腹滿下痢，古法主理中湯（方見不乳）。若四肢厥冷，則加附子。</p>
<p>〔真按〕小兒因氣弱受寒而腹痛，用參尚須斟酌，必先去寒止痛，再為調補氣分，尤臻穩妥。方用北乾薑一錢，煨木香八分，廣陳皮錢半，炙甘草五分，薑炒厚朴八分，引用生薑一片，俟痛止，再以五味異功散加乾薑為引，調補其脾。</p>
<h4>蟲痛</h4>
<p>小兒因腹中蟲動不安，故作痛。其候面色乍赤、乍青、乍白，其痛時作時止，時吐清水。切不可妄用攻下，古法主錢氏安蟲散〔如炒胡粉、鶴虱、枯白礬、川楝子（去皮核）各二錢五分。共為細末〕。每服一匙，大者五分，米飲調下，痛時服。痛久不愈者，古法主加減理中湯（方見蟲吐）。</p>
<p>〔真按〕小兒因腹中積化為蟲，蟲動則腹痛，發則腫聚一塊。其蟲為蛔蟲，長至一尺，則貫胃傷心，禍不旋踵。當蟲痛時，但少與花椒湯服之，其蟲聞椒則伏，痛亦立止。</p>
<p>若欲除蟲，則宜用化蟲丸，方用蕪荑、雷丸各二錢，檳榔、木香、炒白朮、陳皮、神麯各錢半，雄黃三錢，使君子肉三錢，共為末，水為丸，如綠豆大，以米湯送下。量兒大小強弱與之。</p>
<p>蟲已下盡，復用異功散加山藥、芡實，以養脾，可免蟲類再生之患。</p>
<h4>內食外寒腹痛</h4>
<p>小兒內傷乳食，外感寒邪，遂至食寒凝結，腹中作痛。其候發熱惡寒，而更為腹痛，惡食嘔吐，啼叫不已，古法主藿香和中湯（如藿香、砂仁、羌活、蒼朮、陳皮、厚朴、生甘草、山楂、炙甘草、香附、白芷、蘇葉、川芎，引用生薑）。</p>
<p>〔真按〕小兒因停食感寒，而腹作痛。方用藿香梗八分，川厚朴一錢，砂仁粉五分，廣陳皮一錢，炙甘草五分，嫩蘇梗八分，山楂炭錢半，炒麥芽八分，引用生薑二片。</p>
<h3>雜證門</h3>
<h4>童癆</h4>
<p>小兒痘疹之後，或大病之後，用藥失當，或調養失宜，便成童癆。其候面黃口乾，煩嗽無痰，不思飲食，肌肉消瘦，漸延不起，古無成方。</p>
<p>〔真按〕童癆與成人癆證有別，其體由漸而損，其治亦當由漸而復，內以鮮地骨皮三錢，燕窩屑一錢，大紅棗七個，每日煎服一劑。外用雄黃五分，鏡面朱砂五分，真麝香五厘，倭硫磺五分，各研細末，滴入燒酒調勻，以獨囊大蒜一個，去蒂蘸藥，從背尾骨逐節擦上，看青腫處，即知癆蟲所在，此處多擦數次，其蟲自滅，內外並治，可以除根。</p>
<h4>客忤</h4>
<p>小兒神氣怯弱，忽有非常之物，或未識見人觸之，或入寺廟，與陰氣相忤，故謂之客忤。其候口吐青黃白沫，或下水穀鮮雜，面變五色，腹痛反側，螈　，狀似驚癇，但眼不上竄耳。古法主雄麝散（如雄黃一錢，乳香五分，麝香一字，共為末）。每一字刺雞冠血調灌之，仍以母衣復兒身，即愈。</p>
<p>〔真按〕小兒客忤，又與大驚猝恐之證不同。方用朱砂拌茯神二錢，　龍骨二錢，淡竹茹一錢，以金銀器煎湯代水煎藥服之。</p>
<h4>中惡</h4>
<p>小兒神氣未充，一為邪惡所觸，何能主持，自然神魂離舍，目閉面青，悶亂，不省人事，古法主內服蘇合香丸，除其邪（方見肛門內合），外以生皂角末開其竅，嚏出，則氣通而蘇矣。</p>
<p>〔真按〕小兒中惡，外以生半夏末，生皂角末等分，以少許吹鼻，先通關開竅，內以燈芯十莖，淡竹茹錢半，煎濃湯，調抱龍丸細末五分，服之。</p>
<p>附：抱龍丸方制膽星（一錢）　天竺黃（八分）　雄黃末（五分）　鏡朱砂（五分）　炒麥冬（二分）　共為末，水糊丸。</p>
<h4>盤腸氣痛</h4>
<p>凡盤腸氣痛，皆由寒邪所搏，肝腎居下，故痛則曲腰。古法主白豆蔻散（如白豆蔻、砂仁、青皮、陳皮、炙甘草、香附米、蓬莪朮各等分，共為末，每服一錢），紫蘇煎湯調下。</p>
<p>外用熨臍法（如淡豆豉、生薑各二錢。蔥白五莖，食鹽一兩，同炒熟，置臍上熨之）。</p>
<p>〔真按〕小兒盤腸氣，皆因胎氣鬱結，壅塞營衛，五臟六腑無一舒暢，其氣不能升降。阻礙腸胃之間，抵心而痛。其聲轆轆，如貓吐惡，干啼口開，手足皆冷，宜疏氣調中，方用杭青皮五分，廣陳皮一錢，白蔻仁五分，淡乾薑五分，炙甘草五分，引用佛手片八分。</p>
<h4>痞塊</h4>
<p>小兒腹中痞塊，或生寒熱，或時作痛，古法主挨痞丸（如醋赭石、小青皮、蓬莪朮、南木香、青化桂、巴豆霜、大黃，共為細末，醋煮面糊為丸），蘿卜子大，每服五丸，淡薑湯送下。</p>
<p>〔真按〕小兒痞塊，但用大紅棗八兩，皮硝五錢，同煮以水干為度，晒乾，每日食此棗，徐徐服之，其痞自消。</p>
<h4>蟲症</h4>
<p>小兒腹內有蟲，口饞好甜，喜食泥土茶葉木炭之類。古法主檳榔丸以攻之（如小檳榔一兩，南木香五錢，鶴虱子五錢，光貫眾五錢，廣錫灰五錢，陳漆渣二錢，燒灰，正輕粉二錢，白雷丸二錢，巴豆霜二錢，以漆楂灰同眾藥研為細末，醋煮面糊為丸）。麻子大，每服二十丸，五更苦楝皮煎湯下。</p>
<p>〔真按〕小兒腸有濕熱，宜用苦寒引導小腸。方以苦楝皮、北秦皮、槐角子、胡粉、黃柏、牡蠣各等分，豬肚腸一只，漂淨煮丸，量兒大小與之。</p>
<p>蟲下後，以黃連、神麯、木香、檳榔、肉豆蔻、使君子、麥芽各等分為丸，調補其脾。</p>
<h4>附例</h4>
<p>小兒蟲自溺竅而出，因濕傷脾胃，下注小腸，糞溏完穀，不宜溫補，方用黃柏八分，茯苓錢半，豬苓錢半，槐米一錢，澤瀉錢半，川萆　八分。</p>
<h4>二便秘結</h4>
<p>小兒前陰主氣，後陰主血。蓋膀胱之津液，血所化也，由氣而後能出，太陰之傳送，氣之運也，由血而後能潤，此便溺之流通，即氣血之依附。血不化，氣不運，則二便秘結。古法主八正散（如淮木通、白滑石、黑梔子、車前子、巨麥穗、錦莊黃、生條芩。七味煎極熟，以芒硝沖服）。</p>
<p>〔真按〕小兒二便秘結，先用外導之法，以香油半盞，調芒硝一錢、皂角末少許。裝貯玻璃器管內，插穀道中，將調勻之油徐徐送入，少頃大便即通。內以玄明粉錢半，滑石粉二錢，生白蜜半兩，白滾水沖服，則二便皆通暢矣。</p>
<h4>肛腫翻出</h4>
<p>小兒積熱太盛，以致肛門作腫，大便艱難，努力翻出，肛脫不收，古法主外用蟠龍散消其腫〔如干地蟠龍（略用土焙）一兩，風化朴硝二錢，以上　研為細末，仍和勻，肛門濕潤者干塗，干燥者以濕油調塗〕。先用荊芥、生蔥、煎湯洗浴，輕予拭乾，然後敷藥。</p>
<p>內服皂刺大黃湯（方見便血）。</p>
<p>〔真按〕小兒肛腫翻出，但用生鱉頭（　灰）一個，五倍子（　末）三分，枯白礬三分，共研極細摻之，則肛自收。</p>
<p>小兒肛漏瀉蟲，因真陰未充，陽獨升降，肌肉蒼赤，巔竅如蒙，當與壯水制火，兼以化蟲。方用生六味各二錢，加苦楝子白皮八分，煎服。</p>
<p>小兒夢中遺尿，但以生甘草頭一個，煎濃湯常飲之有效。</p>
<p>小兒水痘有似正痘，外候面紅唇赤，眼水如光，咳嗽噴嚏，涕唾稠黏，出時形如小豆，明如水泡，皮薄痂結，中心圓暈，易出易壓，溫之則痂難落，而成爛瘡。切忌薑椒辣物，並沐浴冷水，犯之則薑疥水腫。方用飛滑石錢半，地骨皮五分，生甘草五分，金銀花一錢，赤芍藥一錢，荊芥穗五分，引用小麥十四粒。</p>
<p>小兒最多瘡瘍，方用金銀花一錢，生甘草五分，赤芍藥一錢，淨連翹一錢，細木通五分，引用燈芯十莖。</p>
<p>小兒黃水瘡，方用　石膏、　龍骨、片松香、枯白礬各等分，共研細末，以雞蛋黃熬油，和前藥敷上。</p>
<p>小兒白禿癩瘡，方用百草霜一兩，雄黃一兩，膽礬六錢，輕粉一錢，榆皮三錢，用鍛石窯內燒紅流結土渣四兩，共為細末，豬膽汁調勻，俟剃頭後搽之極效。</p>
<p>小兒疥瘡，但用苦參一兩，煎湯，滴入豬膽汁，乘熱遍身沐浴，內亦以苦參一錢煎服，但苦參不宜常服，每日洗一次，亦可痊愈。</p>
<p>小兒瘰　，由肝膽二經風熱血燥而成，結若貫珠，多生於耳之前後，及頭項下至缺盆，及胸腋之側。初起如豆粒，漸如桃李，按之則動而微痛，宜速治不能久延，方用直僵蠶二兩，水洗三次，晒乾炒枯，另用晚米二兩，炒熱並研末，細米糊為丸，以夏枯草煎湯送下，量兒大小與之。</p>
<p>小兒湯火傷，方用生大黃末研極細，再用豬板油熬汁候冷，成凍如膏，和大黃末搽之即愈。急則以香油菜油先搽亦可。</p>
<h4>附：外治九法</h4>
<p>外治疏表法：小兒發熱，不拘風寒食積，時行痘疹，法以蔥一握搗爛取汁，少加麻油和勻，指蘸蔥油，摩運兒之五心頭面項背諸處，略疏微汗，不傷正氣。</p>
<p>外治清理法：小兒感邪入裡，或乳食停滯，內成鬱熱，法以雞蛋清淨麻油各等分，再入雄黃細末一錢，攪勻，以婦女亂髮一團，蘸染清油，由胸口輕拍至臍輸為止。寒天用火烘暖，須拍半時之久，仍以亂髮敷於胸口，以帛扎一炷香取下，能退諸熱。</p>
<p>外治解煩法：小兒寒熱及麻疹毒甚熱極，法用水粉一匙，以雞子清調勻，略塗兒之胃口，及兩掌心，更以釀酒小曲十余枚，研爛，熱酒和作二餅，貼兩足心，少頃熱散四肢，自不煩擾。</p>
<p>外治開閉法：小兒昏沉不醒，藥不能入，蓋因痰塞其脾之大絡，截其陰陽升降之隧道，法以鮮菖蒲、生艾葉、生薑、生蔥各一握。搗如泥，以麻油好醋同前四味，炒熱布包，從頭頂背胸四肢乘熱而下熨之，其痰一豁，倏然而醒。</p>
<p>外治引痰法：小兒痰嗽上氣喘急，引而下行，法以生白礬一兩，研細，少入面粉，以好醋和作二小餅，貼兩足心，用布包三小時，其痰自下。</p>
<p>外治暖痰法：小兒胸有寒疾，不時昏絕，醒則吐綠色寒痰，法用生附子一枚，生薑一兩，同搗爛，炒熱布包，熨背心及胸前，仍以薑附共捻成一餅，貼於胃口，良久，其痰自開。</p>
<p>外治納氣法：小兒虛脫大證，真氣浮散，不得歸元，法以吳茱萸五分，胡椒七粒，五倍子一錢，研極細末，酒和作餅，封肚臍以帶系之，其氣自順。</p>
<p>外治通脈法：小兒忽然手足厥冷，或因表邪閉其經絡，或因風痰阻其營衛，又或大病之後，陽不布散於四肢，法用生薑一塊，煨熱搗爛，略入麻油調勻，以指蘸薑油往下摩兒手足，以通經絡，俟其熱稍回即止，不必太過。</p>
<p>外治定痛法：小兒胸中飽悶，腹中疼痛，法以食鹽炒極熱，布包，向胸腹從上熨下，冷則再炒再熨，以痛定而止。</p>
<p>附：解誤服藥法：小兒誤服反藥，或煩躁不安，或吐或瀉不止，欲解其誤服之藥，法用黑豆一杯，生甘草三錢，煎濃湯服之可解。如無黑豆，綠豆亦可用。</p>
