<header data-type="book">
<h1>性命要旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪東亭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1889">公元1889年</data></dd></div>
</dl>
</header>
<h2>首序</h2>
<p>試看世上之人不求於名即貪於利而不貪不求者。蓋亦鮮矣。惟修道之士。體混元之本法。天地之樞。立為洪爐。大鼎以煉其真毫無掛礙。隨緣安止。故不與世俗等類也。予於是年作客。漢皋適遇柯翁懷經汪翁東亭豐姿俊秀品格高超。飄然有出塵之表。復探其行。止二翁常憩僻處。促膝論道。津津有味。無日不然。因謂曰二翁之學志在一身何不著書。廣行天下。教後世人人修其慧。命同臻壽域。以建功德之不朽。二翁答曰。子之所言者。善也。然道至公豈敢私於一己不費苦心。切究不遭。明師指點。又焉能聞斯大道乎。</p>
<p>頃即遂出書二帙。以示比閱之。乃知養性編。柯翁所作性命要旨。汪翁所著。退而讀之。一文章華美學業功宏克繼黃老之道脈一辭。旨淺顯義理精詳盡。露鐘呂之玄機守勸以刊刻兩卷合成一部。公諸海內。</p>
<p>以預學人采藥煉丹之捷徑。超凡人聖之慈航也。恐誤入傍門者。得遇是書可能去傍而歸正有被偽師所惑者。得遇是書。亦可知偽而悟真辟其異端得入正道。不負二翁。壽世一片婆心。爰不揣固陋妄作序以志之。</p>
<p><u>時光緒十五年荷月天貺日新安弟程守一拜序於云鶴山房</u></p>
<h2>自序</h2>
<p>蓋聞玄學。自黃帝問道於廣成子。以創其始。老子著道德經。以發其源。亙古迄今。成仙得道者。莫不以黃帝老子為宗也。予生性嗜慕玄學。搜羅丹經子書。博覽經史道籍。歷有年所。無非頗明其理。未得其訣是以浪跡江湖。遍越名山覓訪明師。十有二載。一日由匡廬經過。偶遇天秩吳翁。睹其豐神洒脫。必非常人也。故請問玄旨。答曰。子雖有仙緣誠恐始勤而終怠。予以弟子禮事之。復詢其訣。師乃大發鴻慈。遂傳七返九還。金液大丹之法。火候次序之妙。予已心領神會。豁然貫通。乃知大道原在己身所得。決非向外求也。嗣後至漢。又遇柯懷經。李云嵐。周俊夫。柯載書等四五道友。同參切究。頓悟全旨。始知起手。性命雙修之理。生人生仙同出一源。下手功夫。明白玄關。一陽初動。神入氣穴。化生機緘。次。地果還生。腹中覺有一物。活活潑潑。如盤走珠次。鉛汞交歸真土。仍從竅內發出。先天真鉛。謂之藥產。次。藥物采歸爐裡。封固停息。以伏神氣。次。氣滿督任。子進陽火。聚於乾頂。卯沐浴以益其鉛。午退陰符。降歸坤宮。酉沐浴以益其汞。次。周天行滿。鉛氣飛盡。　成一塊干水銀。斯為丹矣次用七日采功。神攢入鼎中。</p>
<p>大藥始萌。次。煉到火珠呈象。采大藥出爐。營運大周天。穿過後三關降下重樓。落入黃庭。次。靜養道胎。養到十月胎圓氣足。遷至上田。次。寄居泥丸。百日冥目。始見天花亂墜。則出神之景至矣。次。調神出殼。初出頂門。俟金光如車輪之大。即收歸於上田。次。一出一入。漸漸純熟。能通天達地。遂以身化身。愈化愈多。不可勝數。古人謂之千百億化是也。次。萬殊復歸一本。煉神還虛。功行圓滿。永作帝鄉之客。俾學人閱其綱領。庶不致前後之混雜也。因不揣譾劣。勉成書一卷。名曰。性命要旨。彰明玄學。大開道門。亦不敢以為己作。引諸仙口訣。概而證之。愿天下人人修此大道。超升上界。同享天福是予之濃望也夫。</p>
<p><u>時光緒十三年仲秋月中浣海陽汪東亭(序於北學草堂之玩月軒)</u></p>
<h2>性命篇上</h2>
<p>大道起手。在乎性命。兩者合一。得其把柄。</p>
<p>東亭曰。學問之大。莫大於性命。性命之學。不明於世也。久矣。故今將性命之玄旨。遂以發明之。蓋人父母未生之前。本來性命合一。到十月胎圓氣足。形動胞裂。猶如高山失足HT　地一聲。而性命到此。則分為一矣自此性不能見命。命不能見性。少而壯。壯而老。老而嗚呼。是以上古至人。大發仁慈。教後世學人再入胞胎。重造我之性命。將我之神氣。入於竅內。合而為一。古人謂之性命雙修。而性命雙修。斯為仙道。男女交合。斯為凡道。凡道仙道。其道一也。凡道以女嫁男。仙道以男嫁女。凡道汞去投鉛。仙道鉛來投汞。凡道未濟仙道既濟。凡道是順。仙道是逆。順行有生有死。逆修萬劫常存。凡道婦人懷孕後。有一物如豆子大。</p>
<p>覺在臍下跳動。醫書謂之胎原。胎原者。人身從此發源也。由是而五臟六腑。由是而四肢百骸。</p>
<p>由是而能視能聽。能持能行。由是而能仁能義。能禮能智。由是而能聖能神。能文能武。若達此理。乃凡父凡母交。凝成一胎原也。仙道自結丹頭後。亦有一物如豆子大覺在臍下跳動。惟斯命寶上天所秘。聖賢仙佛。留下丹經子書。僉不肯明言直論。巧喻設象。萬號千名無非此物無非此竅也。如不諳此竅。而欲修道。真是涉水捕雞兔。登山索魚龍矣。三豐祖師云。修煉不知玄關。如入暗室一般。苟或不知玄關。但從何處采取。從何處烹煉。真種從何處覓。藥物從何處產。爐鼎從何處立。周天從何處運。陽火從何處進。陰符從何處退。卯酉從何處沐浴。小周天始終功夫靡不在玄關用事。若達此理。乃聖父靈母交。凝成一玄關也。紫陽真人云。此竅非凡竅。乾坤共合成是也。凡道無胎原。不能生男生女。仙道無玄關。又豈能成佛作祖乎。學人先明玄關之理待後行功。心有主宰也得此法者。至簡至易。不得此法者愈繁愈難。自知一天必有一地。一日必有一月。一男必有一女。一龍必有一虎。一龜必有一蛇。一雄必有一雌。一陰必有一陽。易曰。一陰一陽之謂道。呂翁云。玄篇種種說陰陽二字名為萬法王。三豐祖云女子無夫為怨女。男子無妻是曠夫。天下萬事萬物莫不有對。若能知二八同類。三五合一。自然語一悟百。豁然貫通。再加平時熟讀丹經。仔細參悟。則無弗明矣。後信心愈堅。而功行愈篤。如撥開雲霧而得見天日也。抱朴子曰。世或有好道者。不見此法。</p>
<p>不遇真師無由聞天下之有斯妙事也。少年下手。立見效驗。若不能頃刻見效。便是偽師。哄弄愚夫。烏足信乎然道有三秘。一曰采取。二曰藥物。三曰火候。三者之外。更有玄關。三豐所謂不識玄關端的處。真鉛采來何處安。只知玄關。而不知采取。紫陽所謂鉛遇癸生須急采。</p>
<p>金逢望遠不堪嘗只知采取。而不知藥物。紫陽所謂鼎內若無真種子。猶將水火煮空鐺。只知采取。藥物。玄關。而不知火候者。上陽子所謂外火雖動而行內符閉息不應。枉費神功。以至逐節功夫。文武火候亦如算法。九九八十一歸除也。其中細微。教人見子打子也。於是調息之法。人能知進氣者。其心愈細。而氣愈微。只消數十息。多則百余息。自然氣伏於下元。則其息長而遠矣。出於三焦之上。則其息短而促矣。所以靈龜千歲者。善調息之故也。常將日光下照。海水自然上潮。潮信至。則先天氣生。入藥鏡云。先天氣。後天氣得之者。常似醉。是也。夫天氣下降。地氣上升。而萬物始生男精和於女血。而胎原始成。丹道亦然。旌陽祖云。與君說破我家風。太陽移在月明中。又云。日精若與月華合。自有真鉛出世來。柯懷經云。日裡金烏。飛入廣寒。此所謂心中之陰氣。去和腎中之陽氣。陰氣得此陽氣。則有安身立命之所也。朝元子云。南邊血是砂中汞。北畔精為水內鉛。柯懷經云。風吹楊柳鉛情現。</p>
<p>雨洒桃花汞性開。馬自然云。鉛汞鼎中居。燒成無價珠。都來兩個字。了盡萬家書。鐘離翁曰。除卻鉛汞兩味藥。其他都是誑愚迷。欲修先天大道。妙在一陽下手。冬至乃一歲一陽。月出庚。乃一月一陽。子時乃一晝夜一陽。學人。須明白我身中一陽。身中一陽即外腎舉也。</p>
<p>無念而舉斯為清。有念而舉斯為濁。豈不究哉。柯懷經云。一陽初動自心知。正是丹家下手時華陽祖云。陽生之時即起手之時。能於此時。下手又何疑惑乎。鉛返之際。運一點汞。以迎之此章凝神入氣之時也。逐日行工。須藉巽風吹噓。則鉛盡化為氣矣。棲云先生云。人吃五穀。化為陰精不曾　煉。此物在裡面作怪。只用丹田自然呼吸之氣吹動其中真火。水在上。火在下。水得火自然化而為氣。其氣上騰熏蒸。傳透一身之關竅流通百脈。燒得裡頭神嚎鬼哭將陰精煉盡。陰魔消散矣。又覓元子云。陰精者。</p>
<p>五穀飲食之精。苟非巽風坤火猛烹極煉。此精必在身中。思想淫欲。攪亂心君。務要凝神調息。使橐　鼓風。而風吹火。烹煉陰精。化而為氣。其武火能采取。又能煉鉛。文火能溫養。又能益汞。古人謂之文烹武煉。是也。所謂巽風者。後天呼吸之氣。乃母氣也。先天真一之氣。乃子氣也。以母氣伏子氣。如貓捕鼠。見賊即擒。則用風之法得也。子時用武火。他時用文火。用橐　為武火。不用橐　為文火。然火候未得師授終難自知。天道無一息不運丹道無一息不行。必要行到無息。方成一個大丹。而先天之氣。來自虛無真正迅速。若起大明覺。則入於後天。非先天清真之氣也。倘稍遲。即轉經化為濁精而泄。亦無所用矣。悟真篇云。見之不可用。用之不可見。恍惚裡相逢。杳冥中有變。古人比喻親切。今人心內糊塗。反謂丹經不曾直說。良可嘆也。每當活子時。外形勃起。神入氣穴。用武火猛煉。少頃陽痿。用文火溫養或一月之間。或百日之期。則我身內之玄關。自然透露矣。天秩老師云。人能知鉛汞二物。</p>
<p>合成一物。則玄關始立矣。柯懷經云。玄關本無。待神氣交而後有上陽子云。兩者相形。一物生焉。五化篇云。陰陽相搏芝菌無根而生也。燥濕相育。蝤蠐不母而產也。以上言立玄關之法也。老子云。恍恍惚惚。其中有物杳杳冥冥。其中有精。莊子云。北溟有魚。其名為鯤。魏伯陽云。知白守黑。神明自來。丹經云。真鉛真汞。人不識。露出一鉤清淨月。此章言玄關初立。則五陰之下。一陽始生也。三豐祖云。玄關往來無定位。又云黃庭一路皆玄關。此二句蓋言玄關透露已久。活活潑潑。曾無定向。純陽祖云。玄牝玄牝真玄牝不在心兮不在腎。窮取生身受氣初。莫怪天機都泄盡。悟真篇云。勸君窮取生身處。返本還原是藥王。此二段。</p>
<p>言透露玄關之所。則男子之氣穴。與婦人之子宮。是也。而氣穴子宮。其地一也。其位同也。</p>
<p>間有不同者。只是中間顛倒。顛耳。如何是中間。程子曰。不偏不倚是也。知此道者。則曰。君子中庸不知此道者則曰。小人反中庸。如何是顛倒易曰。地天泰是也。既知顛倒顛。則可以盜天地之機。而成造化，程伊芳川云。若非竊造化之機。安能長生乎。陰符經云。其盜機也。能知盜機者。</p>
<p>而命由我。不由天矣。且夫六合內一虛竅者，則上天下地交媾。於虛竅之中。東日西月。運行於虛竅之外。而萬物得以生生無窮。實因天地之交感。日月之營運也。雖天地交感。日月營運。若無土為根基。而萬物何以發生乎。然五行無土則不全。五金無土則不生。五穀無土則不實。金丹無土則不成。金丹之始終全賴真土以成功。蓋土者意也。卻非後天之意乃先天之真意也。尹真人云。真意者。乾元也。乃天地之母。陰陽之根。水火之本。日月之源。</p>
<p>三。終在玄關處交媾何也。東亭答曰。不在玄關處交媾。根基何所立焉。金碧古文云。上弦金八兩。下弦水半斤。兩弦媾其精。乾坤體乃成。即此義也。天秩老師云。修煉功勤者。效驗極速。</p>
<p>只消三兩月。多則百余日。玄竅補足。其物上至心宮。下至腎府。縱橫順逆。莫可遮攔。莊子云。化而為鳥。其名為鵬。丹經所謂菩提子。又謂舍利子。又謂黍米玄珠。又謂人參果。異名極多。</p>
<p>無非喻我身中之種子也。無非喻我身中之玄關也。無非喻我身中之太極也。學人。　煉至此。切勿犯淫。如有犯淫等事。大則必死。小則必瘋。可不戒之。</p>
<h2>性命篇下</h2>
<p>藥物火候。大小周天。依法　煉。九轉成仙。東亭曰。煉到玄竅充溢。爐內自有藥物發生。</p>
<p>則謂之真一之氣。又為先天真鉛。張三豐云。只在家中取。何勞向外尋。悟真篇云。此般至寶家家有。自是愚人識不全。陸子野云。家家有個家家有。幾個能知幾個還。白玉蟾云。原來家裡有真金。修真詩云。隨時藥料家中取。又云。認取家園真種子。好收海底白蓮花。以上所云家中家。家家裡。家園即自家之謂。切勿聽偽師之謬解也。夫藥物欲生。俄頃癢生毫竅。肢體如綿。心覺恍惚。壺中藥氣外馳。玉莖挺硬。丹經所謂藥產之子時也。華陽祖云。此乃藥產之法象。不可驚怪。一起驚疑之念。則神馳氣散矣。務須思慮頓息。以虛待之。不可妄起刻漏之武火。亦不可迷失真候。靜聽氣之動旺。沖虛子云。覺而不覺。復覺真元。覺而不覺者陽氣未旺。不宜急進武火。復覺真元者。陽氣已旺。斯時速當下手采取矣。采取藥物。怎知不老不嫩耶。即張三豐云。月之圓存乎口訣。時之子妙在心傳。白玉蟾云。月圓口訣明明語時子心傳果不訛。是也。而藥物采入爐。乃一候武火封固停息。乃一候文火。達摩祖云。</p>
<p>候采牟尼者。即此也。張三豐云。只於二候金丹就。亦即此也。又云。尚余四候有神功乃小周天。升降沐浴之四候也。寂無禪師謂采取。從督脈上升泥丸。烹煉。從任脈降下丹田。為一周天。許旌陽謂乾用九。積得陽爻。二百十六。乃抽鉛度數。坤用六積得陰爻。一百四十四乃添汞限規。為一周天。柳華陽謂十二規。為一周天。伍沖虛謂子進陽火三十六。歇火於卯謂之沐浴。午退陰符二十四。停符於酉謂之沐浴。為一周天。陳泥丸謂天上十二辰。行至卯位則刑殺。運至酉地則德生。為一周天。參同契謂十二個月。逢春分而榆葉落。</p>
<p>遇秋分而麥芽生。為一周天。其小周天。功法甚多。姑不具論。有行幾十周天。而滿足。有行百余周天而滿足。甚有行數百周天。而滿足者亦有之。總之凡一動即一煉。煉而復煉。周而復周。又云。積之不過百日。則精不漏而返氣矣。張三豐云。照此進功。築基可翹。足而至。不必百日也。柳華陽云。百日是煉精之名。若少年功勤者。得丹速。則百日可期。若中年年邁之人未可定期。恐有外陽不生者。務要煉到外陽生。而外陽生者。又要煉到外陽不生。而外陽不生。何也。茲因鉛氣飛盡。煉就一塊干水銀。方得龜縮不舉。佛經云。成就如來馬陰藏相。黃庭經云。閉子精路可長活。李虛庵云。陽關一閉個個長生。圭旨云。逐日如此交媾。如此抽添。汞漸多。鉛漸少。久則鉛將盡。汞亦干。結成一顆摩尼。是為金液大還丹也。悟真篇云。用鉛不得用凡鉛。用了真鉛也。棄捐。此是用鉛真妙訣。用鉛不用是誠言。朝元子云。</p>
<p>汞干鉛自捐。紫賢真人云。學人問道至此。則知師恩難報。當盟心於天日之下誓當成道。以答師恩。若負師恩。如負天日也。子野真人云。用鉛之法。如捕魚兔之筌蹄。魚兔賴筌蹄而得之。既得魚兔。則筌蹄無用矣。張紫陽云。始於有作人難見。及至無為眾始知。但信無為為要妙。豈知有作是根基。有作若交媾也。築基也。</p>
<p>命功也。命者也。調藥。采藥煉藥。以補其虧損。則固其命蒂也。無為者。煉已也。性功也。</p>
<p>性也者。去三心。滅四相。絕六欲。斷七情。一切俗慮俱忘。則養其性根也。白玉蟾云。性之根。命之蒂。同出異名分。兩類。合歸一處結成丹。還為元始先天氣。誠哉是言也。煉丹到陽純陰盡之際。自有陽光發現於眉端。已到陽光三現。速當止火。倘不知止足。必傾危矣。</p>
<p>紫陽真人云。若也持盈未已心。不免一朝遭殆辱。所云止火。止其後天武火。遂用天然文火。悟真篇云。自有天然真火候。不須柴炭及吹噓。於是真氣盡凝於鼎中。必匿而不出。前文言小藥先生而後采。此卻言大藥先采而後生。須用七日采工。其采法。以雙眸之光。返視於鼎中。以兩耳之聰。返聽於鼎中。以心中之靈。注定於鼎中。一晝夜或兩三次。或四五次。</p>
<p>余時渾渾淪淪。如此行持。到七日之間。懸胎鼎中。則大藥始萌矣。黃庭經云。晝夜七日思勿眠。</p>
<p>易云。七日來復。又云。復其見天地之心乎。丹經云。天女獻花。龍女獻珠。即此也。前小周天。以元兩腎湯煎。眼吐金光。耳聞風聲。腦後鷲鳴。身有涌動。鼻有搐氣。經此效驗。當采大藥出爐。行大周天之功。以靜而照。以柔而用。待動而引。護持而行。切防蹊路危險之患。則過關之法得矣。伍沖虛云。五龍捧聖。丹經云。轉神入定。是也。藥當此際。自然流動。活潑。必上衝於心。心宮不能透。自轉向下田。前至陽關。陽關已閉。自轉於後。而沖夫尾閭。</p>
<p>尾閭不通。由尾閭而奔穀道。如穀道開而未防。大藥泄去。前功廢矣。此名下鵲橋之危險也。</p>
<p>須以真意度過。則無患矣。而大藥沖尾閭不透。自上升夾脊。而穿玉枕。直貫頂門。佛云。</p>
<p>一箭射透九重鐵鼓。即此義也。遂向前下至印堂。印堂髓阻不通。恐妄馳鼻下虛竅而泄。泄則前功廢矣。此名上鵲橋之危險也。學人。不可不預防也。須以真意引過印堂。降下十二重樓。古人謂之服食。又云。一粒金丹吞入腹。始知我命不由天。而丹至於神室之中。點化陰神。謂之取坎填離復成乾坤定位。此大周天之功法也。大藥既歸於中宮。須用抱元守一之法。其法如龍養珠。如雞抱卵。古人謂之養道胎。中庸曰。道也者。不可須臾離也。書云。允執厥中是也。</p>
<p>元神寂照於中下二田。相與渾融。化一虛空境界。使元神靜養道胎。守至二三月。則元氣動機甚微。識性漸漸消磨。真性漸漸靈覺矣。守至四五月。則元氣因元神寂照。以絕飲食。斯為胎仙矣。更守至六七月。昏睡全無。頭目爽快。守至八九月。百脈住停。口鼻絕無呼吸。</p>
<p>更守至十月之期。元神大定。已足純陽。華陽曰。十月道胎火。一年沐浴功。正謂此也。於是功到此際。則能生智慧。自有六通之驗矣。六通者。漏盡通。天眼通。天耳通。宿命通。</p>
<p>他心通。神境通。是也。前煉精之時。精不走泄。則成漏盡通。此後方得五通。蓋天眼通。</p>
<p>能觀天上之事。天耳通。能聞天上之言。宿命通。能曉前世之因。他心通。能知過去未來之事。惟有神境一通。若以識神用事。專喜言人間禍福。而不能保扶心君。則入於魔道矣。豈不嘆哉。須慧而不用。則能轉識成智。始得性固而胎圓也。胎已滿足。神以純全。斯時只知。有神。而不知有氣。則識性死而真性靈。其胎不可久留。恐有滯胎之患。再用徙法。自中下二田。徙至上田。尹真人云。五氣俱朝於上元。三華皆聚於乾頂。靜養百日。直至功純。垂帘偶見。六出紛紛。遍彌六合。則出神之景至矣。猛然霹靂一聲。元神自天門而出。慎勿驚恐。驚恐則金光比散矣。如有奇怪之物。不可著認。俟金光如車輪之態。即收歸於上田。養至七日。再出又旋收焉。一出一入。由近而遠。切勿躐等。嬰兒幼小恐迷失忘歸。或有天魔來試。亂我心君。出入必須謹慎。方可成太虛之體。古人云。道高一尺魔高一丈。倘煉已未純之士。多由此境而壞也。若乳哺三載陽神老成。自可達地通天。入水不溺。入火不焚。入金石無礙歷遍此驗。方行煉神還虛一著。九年面壁功夫。及臻形神俱妙。以待丹書下詔。方證天仙之果。永享無疆之福。古云。天地壞有時。仙翁壽無極。柯懷經云。萬物歸原只一圈。是也。然言雖淺陋。法自仙傳。後學若潛閱是書。下手功勤。靡不見驗。如能離塵脫俗。九轉丹成。指日可與鐘呂並駕矣。</p>
<h2>補遺篇一</h2>
<p>男女老少。皆可修行。精詳妙理。一見自明。</p>
<p>東亭曰。男女修真。俱在己身用事。無非初下功夫。間有異焉。男子煉氣。在坎宮下手。坎宮。即臍下丹田。醫書謂之內腎是也。女子煉形從離位興功。離位。即兩乳中間。古人謂之乳房是也。劉悟元云。太陽煉氣男子理。太陰煉形女蹄筌。須知煉氣是煉鉛。煉形是煉汞。</p>
<p>男子不知真汞。是有陽無陰。女子不知真鉛。是有陰無陽。所以男子修真降白虎。女子修真斬赤龍。末後功夫。男女皆同也。男子知真汞。則知末後煉形一著。女子知真鉛。則知末後還丹一著。紫陽所謂後行長也。於人年老精神衰敗。又無陽生。意欲修道。多有畏其不能也。三豐祖云。人老原來有藥醫訪明師。問方兒。豈虛語哉。今不待訪問。遂以此方兒告之。必先擇一靜室。邀三兩知己同伴。行住坐臥。俱隨己意。毫不勉強。照此進功。積神生氣。積氣生精。積之日久。飲食漸加。四體輕快。丹田溫暖。外陽勃興。從此一靜。則生機發動不期然而然。此欲非術。理固如是。似水貯久生蟲其義同也。以上盡言男女老人修行之訣。以下言汞生之旨。靈源大道歌云。休論涕　。精津氣血液。達本窮源總一般此物何曾有定位隨時變化。</p>
<p>因心意。在體感熱。即為汗。在眼感悲。即為淚。在腎感念。即為精。在鼻感風。即為涕。縱橫流轉運一身。到頭不出於神水。神水難言識者稀。資生一節由真氣。一切常人。每到夜間睡熟。亦有陽生。不知采取。可惜當面錯過矣。圭旨云。陽精日日發生世人不知翕聚。散在周身。變為後天之汞也。可見終日。所作所為。無不是汞用事。一到夜間。汞少必昏沉睡去矣。</p>
<p>及至年老。海水枯渴。而無潮信。此是汞不流潤。精水絕矣。精路閉矣。眼精昏矣。耳朵聾矣。故曰。百姓日用而不知。是不知汞用盡也。欲要朱汞常存。須得水鉛以制之。悟真篇云須要制伏覓金公。參同契云。太陽流珠。常欲去人。卒得金華。轉而相因。又云。河上　女。</p>
<p>靈而最神。將欲制之。黃芽為根。曰流珠。曰　女。皆指真汞而言。曰金華。曰黃芽。皆指真鉛而言。丹經云。命無性不立。性無命不存者此也。故曰。煉精化氣。煉氣化神。神即汞。而氣即鉛。豈不是鉛能生汞也。圭旨云。人見金之產於月。而不知月之光。本出於日。豈不是汞亦能生鉛也。鉛汞相生。風火交煉。及煉至鉛盡汞干。斯為金丹。而且龜得夜明珠。而能脫殼。</p>
<p>龍得辟火珠而能飛騰蛇得定風珠。而能永壽。狐得月華。而能變人。異類尚能如是。豈獨人不能得丹。其理明矣。蓋天地為一太極。各物具一太極。今例以人身太極之理言之。人即一太極也。鉛汞即太極之陰陽也。玄關即太極中之無極也。若夫伏羲河圖。先天對待。上德可以學之。上德者乃童真之體也。大禹洛書。後天流行。下德可以學之下德者。乃已破之體也。上德下德。煉法雖殊。及其成功一也。但真鉛水中金。一與四孫悟空也。真汞火中木。二與三豬悟能也。玄關真土居中。生數五沙悟淨也。豈不是三五合成一個唐三藏也。白馬者。正位居體。美在其中。而暢於四肢。世之讀四游者。能知三藏二字。則金丹之道。無不成矣。參同契云。三五與一天地至精。可以口訣。難以書傳。譬如渡江以船。獲魚以網。無船江怎渡。無網魚怎獲。無法道怎修。饒君智過顏閔。實難強猜。余今直言愿同志者。一目了然。</p>
<h2>補遺篇二</h2>
<p>兩者同出故有異名兩者同入一本共根東亭曰。上德無為不以察求者。上德是童真之體。不必求師傳授。有為之學。只行無為之功下德為之。其用不休者下德是已破之體。必要求師傳授。有為之學。早行栽接之功。蓋破體者。必有虧損。若無栽接基。</p>
<p>豈能築乎。故云。氣敗血衰。宜補接道。經云。按年接命以作長生之客。釋典云。老僧會接無根樹能續無油海底燈。呂祖云嗇精宜及早接命莫教遲圭旨云果然接之則長生不接則夭死矣今人不明比喻一聞栽接即信偽師置買女鼎離形交氣以為是道。契云雜性不同類。安肯合體居。余言栽接是從自己身中。</p>
<p>後天返出。先天真陰。真陽兩味藥物。丹書所謂九還七返金液大丹也。故三豐祖云萬般渣質皆非類。真陰真陽正栽接。又云陰陽交鉛汞接要知是用本身鉛汞栽接。切莫猜到女人身上。夫鉛汞者。</p>
<p>水火也。必要明白水火之根。即知栽接之義矣。道德經云。此兩者同出而異名。所以三教經書異名同出。故有鉛汞之分。水火之別。巧喻設象萬號千名然皆不越陰陽之外。總在自己身中。故云愚昧小人得而行之。立超聖地紫清翁云。性之根。命之蒂。同出異名。分兩類合歸一處結成丹。還為元。始先天氣。</p>
<p>夫元始先天者。即身中水火之根。白虎首經至寶也。老子云。有物混成先天地生寂兮。寥兮。獨立而不改。周子云無極之真。</p>
<p>二五之精妙合而凝。何謂二五二者六二居內。卦中女陰也。五者九五居外。卦中男陽也。內外男女陰陽和合化為真一之陽。所謂吾善養。吾浩然之氣也。吞入腹中。所謂刀圭一入口白日生羽翰也。蓋天地間無雨。不化來。子易云。對待者數噫乾坤交而萬物泰坎離交。而一身泰雙修秘旨盡泄於斯。</p>
<p>謂非儒教可乎。更進而論之。顛倒聖功之水火者。即易所云。以男下。女是以亨之義也蓋火非尋常之火。其火由坎水生。足以開通。脈絡是為真陽。水非尋常之水。其水由離火生。足以降伏熏蒸是為真陰。崔公云。水真水火真火。又云。鉛龍升。汞虎降。呂祖云。乾鉛坤汞金丹祖龍鉛虎汞最通靈三豐祖云真水火配陰陽世人莫要亂思量。饒爾無為空打坐。不免亡身葬北邙水火尚不能知。從何栽接乎。所謂真水火者。蓋水中之火水不能熄。</p>
<p>名曰真火。火中之水火不能消名曰真水即是真陰真陽也。如再不明。試看前西游。紅孩兒之火四海龍王之水不能救熄。後西游火云。樓之火。四海龍王之水。亦不能救。必要南海觀音之水方能了事夫南者離也火也海者水也。火中之水乃身中之真水也。紅孩兒之火與火云。樓之火乃身中之真火也。</p>
<p>觀音者觀內之音信也。音信一至水火自然既濟。呂祖云。此中有真信信至君必驚泥丸翁云。精生有時時至神知朱元育云。時節一到藥物自產余見。西游記人參果樹。是這一味藥物。栽接女鼎無用愈無疑矣。但識藥物而不知采取火候也。是徒然丹書最秘是此三者非是真秘。其中有分合。內外實難言也。試申論之分。</p>
<p>則采者采外也。取者取內也。火者神火也。候者真息也。合則采取。即是火候。火候即是采取。故云火候不在采取之外。采取即在火候之中一到臨爐自家不能作主。必要黃婆登壇分合內外。皆聽黃婆。號令經云黃婆乃中宮主帥又云。嬰兒　女齊齊出卻被黃婆牽入室。噫嬰兒能騎白虎。　女能跨青龍。黃婆只要一牽。這個神通何等廣大。四象五行全藉土信不誣也。愈知黃婆能降龍伏虎。黃婆能匹配團圓不特此也。不刻時中黃婆。能分子午無卦爻內黃婆能定乾坤丹道始終全伏黃婆蓋黃者中之色婆者。和之意來。子易云。主宰者理此。所以須臾不可離也。及至脫胎紫清翁云。泥丸宮裡有黃婆。又西游記孫悟空每到交戰時起。在空中自稱曰。認得孫外公么只有黃婆認得清白識得老嫩。夫黃婆在人為真意尹真人云。真意者。乾元也。自得吳師口訣即知黃婆是父母未生身以前面目。三豐祖云。本來面目常發現。是教人認識黃婆也。或問發現可以見乎曰易無思也無為也寂然不動感而遂通於此時。始得見黃婆矣。至於下手調藥之法。分則采真陽真火戊土也取真陰真水己土也合則陰陽和水火交戊己疊而成刀圭也。</p>
<p>以藥產言之分則要明白如何是壬水是癸水壬水陽癸水陰壬水清癸水濁壬水是真鉛。是外藥。</p>
<p>是自外而來故云鉛還向外求癸水是真汞。是內藥。是自身所有。故云汞在家中取合。則歸爐烹之。煉之也。以火言之文火者封固。沐浴止火溫養是也。武火者采先天之氣。取真一之鉛采坎中之爻取水中之虎采黑中之白取陰中之陽是也。以周天言之陰符云。天地之道浸來於云。流行者氣蓋氣到。即子時至矣。隨用文人浸。浸變成武火比喻冬至復卦一陽從地底漸漸升到天頂故謂之進陽火又名乾用九九者陽也再從武火浸浸化成文火。比喻夏至　卦一陰從天頂降到地底。故謂之退陰符又名坤用六六者陰也。這就是復　。自茲能運用金丹。誰道不成功。訣曰。</p>
<p>念不起意不散含光默真息綿文武轉換調勻自然暗合天度方可。謂之周天火候。故參同契以六十卦消長喻之以一年節候喻之以一月盈虛喻之。其中更有言不盡底者。參同契已詳載之。故曰。</p>
<p>神仙不作參同。契火候工夫。那得知此。所以為萬古丹經王也。總而言之。通篇所論之理。雖覺明白。要知皆是象言。幸勿自作聰明而自誤也。故紫陽云。本立言以明象。既得象以忘言。猶設象以指意悟其意則象捐眾仙垂語。雖不一律。然有一寓言必有一實義。務要得象。忘言得意忘象切不可泥象而執文也。噫愿我同好必要堅志將心鑽入理窟苦讀數年。一遇師時真偽自分。邪正自別。何至當面錯過。如不悟丹書不明象言朝王暮李。</p>
<p>無怪乎指鹿為馬。以羊易牛不是置女鼎。便是買童男不責自己糊塗。反云仙佛教我咄有是理乎。余心不忍特補此篇以救之也。</p>
<h2>辟邪篇</h2>
<p>邪術異端。門戶林立。煽惑人心不可不辟。</p>
<p>東亭曰。方今正道湮沒。邪教蜂起。見有在家修道之士。誤入傍門曲徑。執迷不悟者。</p>
<p>多也。邇聞俺中土。教門林立。聊以表之。有清靜門。大乘門。金丹門。瑤池門。以及姚門。一指門。先天門。大智門。老君門。最上一乘門。種種傍門。姑不盡述。無非教人吃齋誦經。謂之修善果。戒殺放生。謂之積功德。存思死後。必為仙真。而歸閬苑。或作佛祖。而歸西天。</p>
<p>以此蠱惑人心。敗壞風俗。皇天震怒。官府知之而不容哉。向有在家門祝。出家僧道。捏造科錄。與病患禳解星辰。代老人拜斗延生。或替死人做齋。超度亡魂。或遭災厄。打醮保護地方。但此外道。焉有斯法力。實乃弄財一大術局而已。且王公學士之家。亦被哄弄。以為前傳後教之事。不曾究及。未必不明其理。不知其幻乎。更有引誘人出家。削發改妝。學習沙門規矩。謂之皈依佛氏。有開設禪林。招搖四方僧人聚會。用艾火。灸頭頂。打七跑香。給文帖衣缽。謂之受戒和尚。有待老死。用火焚身。謂之脫化成佛。有提公案。參話頭。冥心打坐。</p>
<p>盲修瞎煉。謂之修行。有搬運存想。咽津納氣。守靜觀鼻。謂之學道。有終日忙忙。募化功德。建修寺觀。實為已身營謀有吞日精。吸月華。注想長生而不老。有步罡履斗書符念咒。</p>
<p>拿妖捉怪。騙人銀錢。有用五金八石。講爐火。煉黃白。拐人資本。有黑夜糾集男女。入立空室。赤身露體。比臍合氣。以為傳道。有用女子。作鼎器采取首經紅鉛凝結丹藥。只望白日而登天。紛紛邪術。難以悉舉概行不義之事。實屬傷天害理。惑世誑人。饒爾逃過。法網。料知難逃業報。到不如改務正業。歸入正道。何等樂哉。但望天下善男信女。明其弊端。知其妄謬。固不被斯坑陷耳。</p>
<h2>太極圖說注解序</h2>
<p>太極之理微矣。哉妙矣。哉至無而含至有至虛而含至實無形無象先天而立。其體後天而發。其用不可以知知不可以識識擬之則失議之。則非古人強圖之。以○強名之曰道。曰虛。無曰先天一氣。曰無極曰太極曰道者無名之名也。曰虛無。無極者自未生物時言之曰太極一氣者自方。生物時言之其實虛無一氣。</p>
<p>無極太極總是道之一個物事非有二件。在河圖洛書即中五之中。一點在先天後天。即陰陽相交之中。</p>
<p>一竅惜乎為氣稟所拘人欲所蔽順其後天之陰氣。迷失虛靈不昧之。本宗流蕩忘返深可慨也。</p>
<p>仆慕道久矣。乙未冬托足漢皋適聞汪東亭先生抱道在躬緣執弟子禮叩以先天後天之奧旨蒙垂慈答曰。</p>
<p>伏羲氏之河圖而虛。其中者先天也。老子曰。無名天地之始性也。即此物○也儒有黃中之中釋有空中之中道有環中之中是指天地交成。一點靈光也。神禹氏之洛書而實其中者。後天也。老子曰。有名萬物之母命也。即此物──也儒有精一之。一釋有歸一之一道有得一之一是指父母交成一點。真氣也。此先天性命自然配合○欲求雙修亦復如是儒曰一貫者貫此一於中也。釋曰歸一者。歸此一於中也。道曰。抱一者。抱此一於中也。有中必有一。有一必有中。中包乎一。一主乎中即是性不離命。命不離性。性命混化成此一物○人人具足個個圓成處聖不增處。凡不減雖蚊虻蚤虱之微物莫不相同。邵子云一物一太極物。物各一太極是也。第一出母胎一物即分為二及至破體二又分為三矣。於是先天蔽藏後。天坎水下漏。離火上炎水火不濟漸至老死都為尋不著來時舊路耳權以造端夫婦之道合仙凡論之凡道外托媒人說一女子臨期送入洞房。男子一見後天心腎合一。外陽勃舉立成此一物──也。卻將此物投入女子。此一物○之中片刻婦人懷孕。此以女嫁男順行之事也。仙道內明本身　女亦有此一物○也時至嬰兒出現先天心腎合一外陽。即舉亦成此一物──也隨請黃婆送入麗春院內。將此物中一線真氣投入　女。此物○之內男兒亦片刻懷胎。此以男下女逆修之事也。究之仙凡雖路實無二致。只爭順逆之分耳。不觀夫元要篇之詩乎卻將　女。當時待勾引郎君自外來他如會心集云九三男子來投宿二八佳人去安床黃婆說合為匹配夫妻相愛似鴛鴦顛鸞倒鳳神氣合如醉如痴。</p>
<p>鬧一場忽然一點滴元竅固濟。牢封莫商量。從此聖胎已有象太乙真精在內藏指元集云。自家精血自交媾身裡夫妻是妙哉。大成集云自家身裡有夫妻說與世人真笑殺。總之千聖一貫心傳必須分清身圖說注解之裡不死。知此丹必可成。仆非阿所好而夸大其言也。亦非有所貪而虛張其勢也。憶自丁丑病後灰心銖視軒冕塵視金玉垂二十年矣。此外尚可求哉。不過念同志者未逢師指此事難知特請付諸。手民以為學道之圭旨焉。是為序。</p>
<p><u>光緒丙申年春王正月豫章趙抱真慕韓氏拜書　</u></p>
<p>於西昌別墅。</p>
<p><u>　</u></p>
<h2>周子太極圖</h2>
<p><a href="_files/pt163a1.bmp">太極圖說</a></p>
<h2>無極而太極</h2>
<p>太極在開辟之前。夫開辟之前作何形狀。蓋未可知。以人身之太極。推之是必為太極也太極之前更有無極愈。不可知孔子曰。易有太極是生兩儀。未嘗言無極也。然則無極究何如者人之有太極也。由於陰陽交感其未經交感而散於陰陽者無極也。天地渾沌之時。陰陽未分。豈有散於陰陽而待交感之無極乎。不知有後天之陰陽。即有先天之陰陽。開辟以後。後天之陰陽交。而成物之太極。開辟之前。先天之陰陽交而成天之太極。則當先天陰陽之未交其散。而無紀者。即先天之無極也無極二字。（陸）</p>
<p>子疑之朱子信而注之特未詳言其理耳。</p>
<p>太極動而生陽。動極而靜。靜而生陰。靜極復動。一動一靜互為其根。</p>
<p>太極者何也。即渾沌也。例以人身之太極。父生母育之時。有一點靈光明而且赤。與精俱下。以為一身之本在天曰。命在人曰性。所謂不離乎氣。不離乎氣者是也。有主靜之功者。於獨坐時。自能見之。東坡詩云。</p>
<p>中宵一點落黃庭蓋有見乎此也。人本天地以生天地之。太極當不異此其論動靜與漢張子遠異。子遠云。一動而生陰陽此云動而生陽靜而生陰。蓋有對待之陰陽。有流行之陰陽對待之陰陽由動而生譬如人生男育女非動不能也。流行之陰陽或生於靜或生於動。動靜遞嬗而陰陽不窮。譬如四時之運冬而又春也陰陽之流行即至誠之無息周子明言之欲人從事於至誠也。動而生陽。其理易知靜而生陰。其理難知。今特詳生陰之說靜也者窈冥之謂也。一元之窈冥在戌亥兩會一年之窈冥在戌亥兩月。</p>
<p>一月之窈冥在末後五日。一日之窈冥在末後兩時。此乃天地自然之道。人能順之動。而無動。而陽孕陰之機靜而無靜而陰發陽之用。即謂之動生陰。靜生陽亦無不可。蓋動靜互為其根正周子之說也。</p>
<p>分陰分陽兩儀立焉。</p>
<p>陰陽分乃陰陽自分非分太極為兩儀也。故陰陽雖分太極自在若太極變而為陰陽則太極壞。天地又安得長存乎。以天地言之乾上坤下相隔不相通也。以人身言之。離為心象。取中女陰也。心所藏者性也。</p>
<p>坎為腎象取中男陽也。腎所藏者命也。昔人云。凡人未生以前。性命合一本為不朽之身一出胞衣而性不見命。命不見性。於是凡而不聖則陰陽之分譬。如夫妻反目不復。同居其家不敗者。未之有也。觀此而下文自然之功用不可少矣。</p>
<p>陽變陰合而生水火木金土五行順布。四時行焉。予觀太極圖。陰陽而心初疑之。其陽動一邊。兩陽夾一陰厥象為離於易離為中女陰也。而今反為陽。其陰靜。一邊兩陰夾一陽厥象為坎於易坎為中男陽也。</p>
<p>而今反為陰即朱子注亦謂火陽水陰。夫太極圖說。所以明易理也。孔子云陽卦多陰。陰卦多陽乃敢翻孔子系辭之案果何說乎。不知陽變陰合具有功夫。非如男女媾精可不學而能也。火陰水陽乃常理耳。若有主靜之功者。火非尋常之火。其火由坎水生。足以開通脈絡。是為真陽水。非尋常之水。其水由離火生足以降伏熏蒸是為真陰推之木能生火平火以養木。木植火中而質不焦。金能生水煉水以成金。</p>
<p>金沉水底而形不化。火能生土。燥土以培火火居土下而焰不消。此所以顛倒陰陽聖功之水火者也。不然陰本靜也何以靜而無靜陽本動也。何以動而無動乎。至言五行而曰。順布蓋舉時序言之在天為自然之元貞在人為自然之終始非有功夫而有功夫又在下文矣五行一陰陽也陰陽一太極也太極本無極也此二句復說。上文而顛倒。出之初看甚無大意。不知是由博返約功夫孔子所謂一貫者也。天下萬事萬物莫非五行悉數之。不能終也。斂事物而歸五行。初由格致之精。繼由變通之妙。然使五行各居其所。</p>
<p>而畛域終分相生無以資不足相克無以制有餘天地之間生機必息。故必融五行為陰陽。而分者漸歸於合。然易云一陰一陽之謂道乃指人道而言。若盡人合天則太極是道陰陽尤未盡其妙也。故必使陰陽還為太極於是乎盡性即於是乎立命賢而近於聖宜若可以止矣。噫。詩不云乎上天之載無聲無臭太極無質而猶有形終非其究竟也。明太極本無極又加一層功夫天地不能限鬼神不能知散之。則無痕聚之。亦無體萬古以來。微孔子其誰與歸。</p>
<p>五行之生也各一其性太極生天地。天地各有一太極。天地生五行。五行亦各有一太極。五行之太極不惟彼此皆同。並與先天之太極亦無不同太極即天命之性。書曰。惟皇降衷若有恆性。曰恆者明天下蕃衍不齊之數其性無所不同也。此云五行各具一性何歟曰五行亦有氣質之性。試問五味入藥或溫或涼即各一其性之驗也。非天命之性也。無極之真二五之精妙合而凝。</p>
<p>上文言五行各性不專指人身言也。就人身言之五臟亦五行而各有性。亦各有無極但後天之無極非先天之無極耳。先天之無極。即圖中五行水火所綴之。無極也。何者為真。即前所云一點靈光。明而赤者也。何謂二五二者六二居內卦之中女之少者也。五者九五居外卦之中。男之少者也。卦以二五為偶。是如是而已。</p>
<p>乾道成男坤道成女乾坤指父母。男女指小孩。夫無極之真乾先至而坤應之。則成男坤。先至而乾。應之則成女。乾坤各有無極即各有其真而先入者為主後來者不能爭也天地之產陰陽亦猶是耳。</p>
<p>二氣交感化生萬物。萬物生生而變化無窮焉。</p>
<p>變化無窮至誠無息也惟人也得其秀而最靈形既生矣。神發知矣。五性感動而善惡分萬事出矣。</p>
<p>上文所言。均是天道而注多就人言。蓋天道難通。就人身以指點。較為親切。庶令閱者洞知也。此則專言人事也秀而最靈者何也。蓋羽蟲秉南方火德。介蟲秉北方水德。鱗蟲秉東方木德。毛蟲秉西方金德獨人為蟲之長秉中央土德左氏所謂受天地之中以生也。惟其受中故兼日月五星之氣而無美不臻雖聖凡有別而其為靈則一也形者氣質也神者天命也。五性兼天命氣質兩端故感動時有善惡也。苟其行所無事。如大舜由仁義行非行仁義匪。惟無惡即善。亦不留其跡。安得有事而世人之善惡。</p>
<p>皆是有心。即是多事。惡故有罪。善亦無功萬事之出。就使每事留神而百孔千瘡終難彌補則逐末忘本揚湯止沸真不如釜底抽薪矣。</p>
<p>聖人定之以中正仁義而主靜立人極焉中正者太極也。仁義者。陰陽也。以太極為體。以陰陽為用。明體達用之學內聖由之。</p>
<p>外王亦由之似可以無憾矣。乃聖人不背自滿而必盡。主靜之功也。夫主靜二字。朱子易為主敬後之尊。朱子者遂爭言靜不如敬。不知敬由勉強靜本自然靜也者。浩浩其天無心成化。並此主一無適之心渾而忘之。</p>
<p>聖不可知之。謂神而向之中正仁義亦返虛入渾而不留。其跡人之無極耶。天之無極耶。胡為乎而測。</p>
<p>故聖人與天地合其德。日月合其明。四時合其序。鬼神合其吉凶。</p>
<p>凡此者皆無心者也。天地不自知。其德日月不自知。其明四時不自知。其序鬼神不自知。其吉凶順乎性之自然而毫無成見。惟聖人拾其全理渾然泛然應之。未嘗有心求合。而兩閭之大不能出其范圍。蓋其體既立其用自神初無顧。茲失彼之憂也。</p>
<p>君子修之吉。小人悖之凶。</p>
<p>不修不悖者聖人也。修之悖之者君子小人也。夫聖人初無(吉凶之見由博返約洞燭本原不必勉其修。而自無不修不必禁其)悖而自無所悖所謂安行也。若君子明知有吉而為理所范皇然修之其功雖有淺深。均能造福小人明知有凶而為欲所歆。毅然悖之。其過雖分輕重。均能招殃。精神所至。天地應之。通塞壽夭胥判如此矣。</p>
<p>故曰。立天之道曰陰與陽。立地之道曰柔與剛。立人之道曰仁與義。</p>
<p>此易系辭之說也。陰陽剛柔仁義。誰不知之。所難者。立其道焉耳。立者立乎其先。而怡然。渙然不著於欲。</p>
<p>並不著於理而陰陽剛柔仁義。莫非此怡然渙然者生。生不窮而左宜右。有謂其陰而又陽謂其剛。而又柔謂其仁。而又義溥博淵泉。而時出之。而所云天地人三道亦旁觀者分之。而在己並無容心也。斂之藏一心放之彌六合握中和之準定位育之功非具盛德其孰能與於斯。</p>
<p>又曰原始反終故知死生之說。</p>
<p>有始即有終。有生即有死。但死生可知。而未生以前既死以後。則不可知其說。若何日觀乎復。而一陽動即知生觀乎　。而一陰萌即知死。不但此也。生者死之本觀。生時之作為。而死可知。死者生之機。觀死時之情狀。而生可知。大抵人之初生。各有天命。氣即與命。俱理即與氣俱以理攝氣而精完。以氣壯理而神固生。固生也。</p>
<p>死亦生也。其在常人日沉酣於人欲之中而理久澌滅。其氣雖不遽散。而無以為之主。斷不久長。死固死也。生亦死也。間有能文之靈鬼。享福之庸鬼。銜冤之苦鬼。耿耿一靈不肯消化。亦但如電光石火。疑有疑無。且難至數百年。況與天地同壽乎。因思三教皆名為道。而老氏符錄釋氏經咒。儒氏詩文。其非本旨灼然。即數千年以前。老氏深根固蒂守中。抱一以命而全性也。釋氏和合凝集。決定成就。以性而全命也。孔子盡性以至命。孟子養性以立命。皆為性命雙修。有利無害。豈非死生之說了然於胸中哉。大哉易也。斯其至矣。</p>
<h2>後跋</h2>
<p>東亭先生。安徽休寧縣鳳湖人也。生平心跡好積功累行。毫不以功名富貴。系於懷馬。</p>
<p>茲於沒。以至如此。家嚴答曰。雖陰符道德傳世。文辭古奧。學人閱之而不解。及後丹經疊出。半隱半露。學人參之而不透。非道之不行。實出道之不明也。先生因茲。大發慈悲。著性命要旨一書。書成之日。見示於兆受而誦之純是先天之大道。身心性命之學古來聖賢仙佛。心心相印。口口相傳。秘訣。莫不一一□發之。洵為宇宙間。金科玉律。天壤中寶字奇文也。誠意修真之君子。有緣得遇是書。便可升堂入室。遵法而行之。層層透達。節節見驗。方知先生之道高矣。先生之德濃矣。而天下後世學人無不沾先生之恩矣。</p>
<p><u>時光緒丁亥年孟冬月富川愚侄柯兆平頓首敬跋</u></p>
