<header data-type="book">
<h1>仿寓意草</h1>
</header>
<h2>提要</h2>
<p>《仿寓意草》二卷，有清丹徒李文榮冠仙著。先生表字如眉老人，有《知醫必辨》一書，本社已刊入木版醫藥叢書第一集。讀是書者，鹹佩其議論翔實，非斫輪老手不能道隻字。本書為其治驗案，所記多棘手之症，所用無怪誕之方，而論病之透闢，足與西昌頡頑。較諸《薛氏醫案》之語焉不詳，《臨症指南》效否不知，奚啻上下床之別，真醫案之上上乘也。爰亟刊行於世，以供同好。</p>
<h2>《仿寓意草》序</h2>
<p>儒者讀書明理，經史而外，並及《靈素》小道也，而至理寓焉。非實學不足以資考訂，非虛心不足以闡精微。此中甘苦，身歷者知之；此中功效，身受者知之。憶自乙酉秋，余病瘧為醫藥所誤，幾莫能挽。蒙觀察錢公特薦潤洲文士冠仙李君來，一經診視，轉逆為順，調治痊可，如獲再生，遂成契好。厥後冠仙從余遊，無往不利，凡論診治，靡不應驗。有初診惟恐冠仙言不治者，蓋一言不治，則雖遠就諸醫，莫能救藥。知冠仙於此真三折肱矣。且其為人，亦光明磊落。相知日久，公餘之暇，輒與暢談文字，窮究岐俞，從末聞一語道及私事，知其立晶端，居心正，故肄業獨精。竊歎錢公推薦之初，謂為近今罕覯，洵不我欺也。茲見所著《仿寓意草》，信而有徵，言近旨遠，堪為有心人引伸觸類之一助。爰敘其梗概，俾後來者略見一斑云云。</p>
<p>道光十五年歲次乙未八月既望友生云汀陶澍書於江節署</p>
<h2>《仿寓意草》序</h2>
<p>臨證而不讀書，不可以為醫。東坡有言，藥雖出於醫手，方多傳於古人。故惟讀書多乃能辨證，亦惟讀書多乃能用方。彼之不用古方者，非棄古方也，直未一見古方耳。善用方者，且讀無方之書，不執方以治病，而方自與古合。餘持此論以治人久矣。余讀京江李冠仙先生書，而歎其能讀書以臨證也。喻嘉言《寓意草》未議藥先議病，先生本之以作此書，記其生平治驗若干篇，人心追手摹，有可取信而又矜平躁釋，絕不以盛氣淩人，是其高出西昌之上者也。中翰汪君藥階自京江來，攜以示餘，屬為序，校讀數過，訛者正之。先生有子，盍即刊以行世，俾世人知臨證者必多讀書，而後能辨證用方以活人耶？余臨證亦有心得，惜不獲就正於先生。而昔在京扛時，側聞有李半仙者，度即是先生也。故樂為序而歸之。</p>
<p>光緒七年春二月元和陸懋修書於都門寓齋</p>
<h2>《仿寓意草》敘</h2>
<p>恩綬焉知醫。自先世潔夫、根仙兩公相繼以醫名，家藏《靈素》及鏡經諸書，惜皆棄佚無存。然獨剩時珍《綱目》殘帙數十卷，每刺取其典入詞章，輒見其中附鐵甕城西申先生方，怪其名字竟不傳，意其為壺隱之流，必邃於醫者，或亦我輩中人也。如眉老人精於文，暇讀方書，間出其餘技以濟人，應手即活。嗣為陶文毅座賓，賞識尤有加，一時名噪遐邇。記恩綬童草時，曾見先叔秩音師假《仿寓意草》鈔置案頭，沫胝不已。又授以老人所著《含飴堂文》，讀之儼然箴膏盲起廢疾。予文遂稍進，而苦於《仿寓意草》之不敢問津。前歲客金陵，詠春丈寄視此編，讀一過乃知醫之理通於文。老人因病立方，絕不掉以輕心。而察脈之細，如講《學》《庸》諸題，其識症之精，如論大題之能得主腦，而且不泥古方，不膠成見，又如文之行機參變，宜其取效之神如此。編中每敘某某症，詳其來源顛末，批卻導窾，癥結立剖，灑灑千百言，其筆力又足以副之。蓋詞藻繽紛，有足多者。信乎儒者之醫，高出市上衙推，誠不可以道裏計，較喻氏原編有過之無不及也。今詠春丈年亦八十，頎乎以傳先世之箸作，為事仁孝尤可嘉。兩世皆享大年，知頤攝之功，必有薪傳。申先生邈矣！吾願獲此編者，好學深思，心通其意，不但鐵甕城中民無夭劄，行見傳諸寰宇，咸樂游於仁壽之天也。時光緒丁亥閏四月下盥四日宗再侄恩綬謹敘於都門宣武坊南之信天翁室</p>
<h2>《仿寓意草》自敘</h2>
<p>方書汗牛充棟，鮮不稱神效者，而用之往往不驗。古人豈欺我哉？抑病情變幻無窮，藥不執方也？若醫案諸書，成效可睹，宜足啟發後人。然如《薛氏醫案》書盈二尺，擇焉不精，語焉不詳，一男子一婦人，真耶假耶，觀者懵焉。至葉氏《臨症指南》見書不多，文義淺薄，方求平妥，不言效驗，是書不作可也。惟喻嘉言先生《寓意草》，力大思深，議論精闢，明效大驗，彰彰可考，書雖二帙，正足以簡煉揣摩，益入神智。予心摹神追，自思二十年來亦頗有精心獨造得古人法外法者，辛卯二月宮保云汀夫子留住節署，雨窗無事，隨筆記錄。雖所忘實多，而經過一番苦心者，尚歷歷可紀，已得若干篇，何年何月何病何效，大都其人具在，信而有徵。嗣後倘有心得，仍當節錄。蓋雖無格致之功，尚有虛靈之性；雖無折肱之學，實有割股之心。喻氏有知，或不至揮之門牆外乎！爰題為《仿寓意草》云。</p>
<h2>仿寓意草卷上</h2>
<h3>田展初內治效</h3>
<p>田展初五兄，予至好也。嘉慶十四年，伊遠館吳門，其內染時邪之症，醫者皆用傷寒藥發散，升提太過，其熱不減；又皆竟用寒涼，如黃芩、黃連、山梔、石膏之類，連進多劑，熱仍不減，面轉通紅，頭皮作痛，手不能近，近則痛甚，病勢沉重，醫皆曰邪已傳裏，無法可治。又換某時醫，於前藥中加犀角、羚羊角，謂只此扳劑，再不應即不治。適其內兄李進之亦予至好，知予素解歧黃，邀予一診，以決生死。予診其脈上部浮大而空，兩尺沉細欲絕，雖氣微弱不欲言語，而心尚明瞭，並不昏迷，詢其欲飲否？曰不欲。詢其二便，大便少而稀溏，小便清白，少腹有痛意，予急曰：此戴陽症也。此素本陰虧不能潛陽，今時邪誤作傷寒論治，溫散太過，虛陽上浮，治宜引火歸源。醫者見其煩躁，不知其為龍雷上升侵犯清虛之府所致，反以為熱邪傳裏，肆用寒涼，陽即欲回歸路已阻；再用寒藥，不獨腹痛自利症必加重，而無根之陽將一汗而亡，奈何於是。竟用真武湯勸其速進，病者知用附子斷不肯服，以為我煩熱如此，如何還服此熱藥？伊兄勸以汝服涼藥已多，而轉火炎於上，茲方稱引火歸源，或當有效，今已危急，何不試之？勸之再三，勉進半劑。本已十日不寐，進藥後不覺安睡兩時許，始寐頭皮不痛，面赤全退，腹痛亦止，心中不煩，乃復索藥盡劑。次日延予復診，其病若失。細詢平日本有上紅之恙，生育亦多，其陰本虧，故陰中之陽易動也。改用附子理陰煎服一劑，又專用理陰煎服三劑，後以八珍加減調理全愈。半月後展初自吳門歸，向予申謝，且言幸伊不在家，其妻得生，否則必死。予問何故？展初曰；如此熱象，群醫皆用寒涼，而子獨用大熱，且子不懸壺，我豈能相信哉！予曰：然則足下亦不必謝予也，是有命焉，不可強而致也。</p>
<h3>顏鳳堯內治效</h3>
<p>田展初居荷花池巷，其比鄰顏風堯先生，丹陽名醫，在此懸壺，醫輒有效，誠老手也。其田姓之症，亦曾診視，惟為群醫所嘩，未能獨出手眼。嗣聞予治法，深為佩服，適其尊閫亦染時症，先生年將古稀，本有半身不遂之恙，恐診脈不准，轉延醫診，而醫者不識其病，先生亦自不解，乃延予診。時當盛夏，病為時邪，人事昏沉，壯熱口渴，渴欲熱飲，雖熱嫌冷，家人以炭爐而烹百沸湯與服，獨云不熱。脈來洪，數而滑，惟右寸見沉，實熱症也，而見寒象，又非熱極似寒，醫之不解在此。予亦躊躇莫決，忽爾機來，因問主人，尊閫有甚舊恙否？主人曰；無。予曰：非必有大恙，或年高多痰否？主人曰：此誠有之，每日約吐三碗許，轉覺爽快。問今病幾日？曰：五日。病中吐痰否？曰：無。予曰：得之矣。主人問何以得之？予曰：時邪乃熱症，診亦熱症，而寸口獨沉者，肺氣為痰所遏也。一日吐痰三碗，五日不吐，積痰當有幾許？阻塞肺氣，上下不通，內雖甚熱，氣不得上，口鼻吸入無非冷氣，至喉而止，亦不得下，肺氣通於喉，今為痰所阻，故肺以下則甚熱，喉以上則甚冷。是非先用吐法提去其痰不可，雖然不易言也。沸湯下喉而不熱，痰之膠固非常，肺之閉塞已甚，雖用瓜蒂散、梔豉湯等法，恐格格不入，不足以搜肺竅提肺氣而鼓動其痰，是非仲景麻杏石甘湯不可。主人曰：麻黃乃夏令所忌，今值六月盛夏，患時邪非傷寒，麻黃尚可服乎？予笑曰：藥不執方，相宜而用，古之訓也。今痰阻肺痹，非麻黃之大辛大熱不能搜肺活痰，且是方也，有石膏之寒以制麻黃之熱，有杏仁之降以濟麻黃之升，有甘草之甘以緩麻黃之急，非同正傷寒之用麻黃湯，專取辛熱表散也。主人曰：內人已花甲有餘，設服之而大汗不止，得毋有亡陽之慮乎？予曰：藥有監制，既已申明，且麻黃肺之藥也，下喉必先達肺，肺氣開提，痰涎必活，活則湧吐，藥隨痰出，麻黃之性輕浮，豈能入腹作大汗哉！況時邪亦須汗解，吐中有發散之意。石膏乃白虎湯之主藥，《金匱》治中暑之藥方，色白入肺，兼清陽明之熱，兼散兼清，邪熱從而得解，未可知也。主人曰：此首准得吐否？予曰：麻黃大力，入肺搜痰，痰結既開，勢必上湧作吐。主人曰，理解明透，更無他疑，竟請立方。予方用麻黃八分、杏仁三錢、石膏五錢、甘草一錢，囑其必服而去。次日未明即寤，回憶昨日之論，自笑愚忠太過，然細思無誤也。清晨不待請，即喚與往，探見其醫室已開，急趨而入，主人出迎，予不及寒溫，急問曰如何？主人笑應曰：其效如神。予心乃定，細問服藥片刻，立即吐痰升許，不過微汗，外熱已退，人事全清。予入內復診，脈象不洪，按之仍數，不熱飲而欲冷飲，舌赤無苔，知其大熱傷陰。改用犀角地黃湯，一服熱減，再服全愈。是症也，非細心切問，安能得門而入哉！夫望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切而知之謂之巧，神聖工巧謂之四診，缺一不可。吾見今之粗工假裝時派，每至人家診病，僅一搭脈，遂即開方，主人欲細告病情，則曰：我今日有數十家延請，豈能為一家耽擱。嗟乎！三部九候，全然不明，又不肯問，草菅人命，莫此為甚。雖庸醫殺人不聞償命，然冥冥之中，罪安可逃哉！子日懍之，兼望業此者共懍之。</p>
<h3>笪豫川治效</h3>
<p>友人笪東洲，一日忽詣予曰：汝稱善診，今有一病汝能診治，我乃拜服。予問何病，笪云：與我偕往，到彼自知。及至半途，忽告予曰：適與君戲言耳！病者為予堂兄豫川，病已不治，惟望兄診定死期，代辦後事耳。及至其家，問其病乃患癉瘧，單熱不寒，已經兩月，從未有汗，每日壯熱六時許，形銷骨立，實已危殆。診其六詠弦數，全無和柔之意，而按尚有根。予知其素來好內，肝腎俱虧，加以大熱傷陰，陰不化汗，邪無出路。醫者不知，所用不過達原飲、清脾飲、小柴胡等方，如何得汗？予曰：症雖重而並未服對症之藥，尚可為也。乃用景岳歸柴飲，柴胡錢半、當歸一兩、甘草一錢，加大生地二兩，令濃煎與服，服後進熱米飲一碗，不過一帖，大汗而解。</p>
<h3>筿村侄治效兼及諸小溲不通治效</h3>
<p>大侄筿村，小溲不通已至三日，腹膨急脹，至不能忍。先有某醫連進通利，不通愈甚，急覓予診，予見其肺脈獨大而數，知其素來嗜飲，因問連日飲何酒？筿村曰：近因酒貴，常飲燒酒，三日前有小集，飲燒酒且甚多。予曰，是矣。時端陽節後，急令買大枇杷二斤，恣意啖食，另變補中益氣方法，去黨參、黃耆、白朮、當歸，惟用陳皮一錢、甘草梢八分、醋炒柴胡五分、蜜炙升麻三分，而加天冬三錢、麥冬三錢、北沙參三錢、車前草一顆，與服一時許，小溲大行一大缽而愈。伊急遽中不暇問故，予亦未言。後至松江華亭縣刑席邵瓣蓮有沉屙甚奇，每發當臍腹痛非常，而先必溲閉，百醫罔效，必小溲自通而腹痛乃止，其症少時即有，至四十外乃更甚。適當舉發延予一診，其脈肺部獨大而數，與筿村侄同，予問素嗜煙酒否?曰：皆有之，而水煙尤朝夕不斷。予曰：是矣。即以與筿村侄方去升柴，加黃芩、知母與服，服後小溲大行，腹痛亦止。伊問予病如何，何藥之靈也。予曰：肺為氣之主，又為水之上源，《內經》云膀胱為州都之官，津液藏焉，氣化則能出矣。有屬中氣者，中氣不足，溲便為之變。有屬腎氣者，腎與膀胱相表裏是也。而其實氣化之權，肺實主之。肺在人身主乎天氣，天氣清明而下降，肺氣清肅而下行，上源行乎所不得不行，下流自有所不得而止，而有所不行者，虛也熱也，虛則氣不足以行，熱則氣反逆而上，肺氣不行。則諸氣不行，通則不痛，痛則不通，今溲不通而腹乃痛，肺脈獨大而數。症經三十年，此先天肺熱，後天煙酒，積熱日傷肺陰，肺失清肅之令，故病易發而亦漸重也。以後將此方常服，且戒煙酒，可望不發。瓣蓮欽服，請將所論書一通，並藥方裱糊收藏。連服二十劑後，果不發。治筿村法，至松江始暢發其義。蓋嘗觀諸禽鳥，有肺者有尿，無肺者無尿，知肺之關乎小溲者多矣。筿村侄用升柴，而邵兄不用升柴加黃芩、知母者，何也？筿村曾服利藥而溲更不通，氣乃更結，非加升、柴以提其氣轉不能通，如酒壺然，壺嘴不通，揭其蓋自通也。邵瓣蓮未服利藥而熱久而重，故不用升柴而加黃芩、知母也。雖然，勿謂癃閉之盡在清肺也。吾鄉錢光鬥之弟婦張氏，產育用力太過，正氣大傷，三日小溲不通，予用補中益氣湯全方，薑棗引，加冬葵子三錢，一服而通。寫真華秋岩內懷孕六七月，偶因下階一跌坐地，腹中墜脹，小溲不通半日，即延予診。予知胎氣震壓膀胱，亦用大劑補中益氣薑棗引，一服而通。此皆用溫補升提，治在中氣而不在肺氣也。其冬葵子或用或不用者，一則癃閉三日，以葵子引經通之；一則僅半日許，提其氣而溲自行，毋煩通利也。後又有丹徙縣署吳晴椒明府所請錢席胡晴麓恙已愈後，大解數日未行，急欲其解，以便加餐，一日登廁數次，力努乾結不出，是日晚登淨桶約一更許，掙極力努掙，大便不來而小便反閉；次日自用車前、澤瀉等藥通利之，而仍不通，腹加脹；又次日延予，予曰：大腸膀胱相隔一間，分道而行本不相礙，今因直腸有燥糞阻塞，努力太過，前無出路，後有來者，廣腸之糞皆集於此，直腸脹滿，擠合膀胱，小溲無路可出，此非膀胱自病，雖多方通利，終不得通，徒增脹滿耳。予有一法不知肯用否？眾問何法？予曰止有下法耳。下其大便，小便自通。時署中官親朋友來問病者甚多，予有房中倡議，而房外竊議者皆不以為然。以為小便不通，反通大便，殊難相信。且病者年已六十有四，又值病後連日，怕脹又不敢多進飲食，如何能受下劑？眾口難調，予亦辭去。第三日又來敦請，晴麓本與予金蘭契好，萬不能辭，至則脹已至胸，蓋又雜進單方，如促織、草帽圈之類，有入無出，直至脹不能動。予曰：在書大便不通有四五十日無妨者，而小便不通五日必死。今已三日，再延二日，神仙不治。此症下或不死，不下必死，諸君奈何，必欲置之死地耶！時晴椒先生以為不可下，眾皆和之，予言至此，眾不復言。而其如君獨奮然曰：三日以來愈治癒壞，今日竟請立方，雖死不怨。予索紙開方：西黨參五錢、炙黃耆三錢、於朮三錢、當歸身三錢、陳皮一錢、炙草-錢、炒柴胡一錢、炙升麻六分，煨薑二片、大棗二枚，眾皆詫意曰：先生說要用下法，何開此補中益氣湯？予笑曰：諸公勿急，尚有加味。爰加生大黃三錢、元明粉三錢，因告眾曰：大便阻塞，小便固非用下不可。然是症有三虛，年高一虛也，久病二虛也，連日不敢納穀三虛也。此三虛者，諸公曾言之，予豈不知之，故是症非下不可，而非用補以用下不可，古人黃龍湯用參以用下，玉燭散用四物以用下，今用大劑補中益氣，然後用硝、黃以推蕩之，大解行而膀胱路寬，小解亦自暢行，二便俱行而正氣不陷，相輔之道也。不然予豈孟浪用下者哉！眾乃爽然，制藥與服，一時許大便暢行，小便隨至源源不絕幾半淨桶，腹中暢快，病乃若失。以上五症皆小溲不通，四用東垣補中益氣，而變化不同，法則仿古，用則因心。易云神而明之，存乎其人。豈不信哉。</p>
<h3>牙痛治效</h3>
<p>甥婿劉桐村，嗜酒成牙痛症，痛則牽引至額，以至顛頂，一月數發，痛不可忍。予曰：面額屬陽明，牙齦屬陽明，齒屬腎，厥少陰會於顛頂，此濕熱太重，蘊積於胃，兼傷肝腎之陰。以景岳玉女煎加西茵陳三錢，囑服七劑，且囑節飲，可以不發。伊一服即愈，因思不能戒酒，不若將此方多服，竟服至二十餘劑，後竟永不復發。吾友趙義之牙痛纏綿月餘不已，忽詣予要方，診其脈左關尺數，以六味地黃湯加升麻三分、柴胡五分，與之曰：此藥服後未免更痛，然片刻即止矣。次日告予，昨服藥而臥，忽然痛不可忍，急得罵汝，後竟安寐，天明不知牙痛之何往矣。藥既對症，又多此一痛者何也？予曰：齒乃骨之餘，而腎主骨，足下腎水太虧，腎火上浮，而為牙痛，故用六味全劑補之瀉之。然其浮於齒牙之熱，不能下降至腎也，不若用升柴以透之，升透之時未免較痛，然所用無幾，痛亦無幾，而補瀉之力甚大，陰能潛陽，火不復上作痛，且得安寐也。義之兄本通晶，聞之拜服。後予以此方治腎虛牙痛者，無不立效，更勝於玉女煎。武生蓋七下牙床作癢，至不能受，不寐者累日矣。偶值予求治，予笑曰：此大腸風也。上牙床屬足陽明胃，下牙床屬手陽明大腸，大腸有積熱，熱生風，風生癢。問大便結否？曰：結甚。以調胃承氣小其制，加生地、槐花、荊芥、防風，與之一藥，得大解暢行而愈。</p>
<h3>龔玉屏治效並後不治之驗</h3>
<p>龔玉屏予少時第一交好也，其食量最大，面量倍於飯量，肉量倍於面量，年未四十，忽得中痰，人事不知，聲如拉鋸，予急往視之，其脈洪勁滑數，予曰：此非中臟，乃中腑耳。中臟多虛，中腑多實。平日肥濃太過，痰多氣壅。問大便閉否？其內曰：數日不解。予曰：無妨。以二陳加大黃、芒硝與服，大便通暢，痰下氣平，人事遂清。後以清火化痰調理而愈。予告之曰：從此以後君能吃素，高夀無難，否則當戒豬肉，亦可延年，不然恐不過三四年客耳。君之病痰所致，痰之病肥濃所致，而豬肉則肥濃之尤，助火生痰者也。此病後胃氣已傷，脾氣亦損，清升濁降。健運為難。君若仍如往日食肉兼人，十分飽足，猶如大嚼，脾氣不能運動，安得不俱化為痰？只宜八分飽，東坡之養生不使勝食氣，聖人之垂訓，子其戒之。玉屏曰：唯唯。半年餘見玉屏面有滯色，語言不甚清楚，問之曰：連日食肉否？曰：不食。予心竊疑之，伊常住地藏庵僧學恭最善烹調，一日遇之，予問龔玉屏連日食肉否？僧笑曰：不食。因其笑也，而堅問之，僧又笑曰：不食精肉矣！因責玉屏曰：予何等相勸，子乃不信，且不食精肉，而食肥肉。奈何伊病後肝火甚旺，回予之言甚屬決絕，大約萬不能不食肉，再病不要予診耳。予特開健脾清胃消食化痰丸方，勸之常服，亦置不理。年復一年，語言日加蹇滯，步履日見艱難，人事日見昏憒，予雖常見，知其病非一朝一夕之故，已入膏肓，伊不問予，予亦不敢多事。三年後忽一日痰湧氣開閉，昏迷若睡一日夜，遂不復醒矣。予往唁，痛哭後，立制挽聯曰；予交最久始為文字交繼為道義交終為性命交彼此皆推心相與，君事猶多上有老母事中有弱弟事下有諸孤事如何竟撒手長辭。文雖鄙俚，亦可見吾兩人之交情，而竟不能白首相依也，哀哉。</p>
<h3>龔玉屏子椿官治效並後不治之驗</h3>
<p>龔玉屏子椿官體本瘦弱，十六歲自在揚管店務當事亦太早，忽受暑而歸，發熱頭眩，倦怠少氣，心煩渴飲，天柱傾欹欲倒。予用人參白虎湯，其家以時症用參為疑，予曰：先天氣弱，暑又傷氣，脈象數而甚虛，非參不可，且必佳參，汝等不信，多請先生斟酌當可決疑。再三敦囑而去。是時天氣炎熱，病症甚多，予至晚回家，則其叔守園坐等已久，予一見即問曰：爾侄服藥何如。曰，尚未。問何以不服？曰：君教我多請先生斟酌，我連請七人矣。問伊等云何？曰：止錢覲揚先生欲改用黨參，徐壽東先生以為君當不錯，其餘皆以為不可用參。內有焦醫尤以為不可，曰時邪用參，如吃紅礬，入腹必死，眾言如此，不得不疑，而寒家素服君藥，無有不效，又不敢服他人之藥，特再候教。予曰：予只道此法平常，醫者當無不解，今若此更何言。但令侄今日不服此藥，明日即不救。子速回府，制藥與服，倘有不測，予當償命。送至門又囑曰：予願償命，君或不肯，此方參一錢，銀三十兩，倘有不測，予當罰出。君縱不要，聽憑散與窮苦，予決不食言。若不服至不救，其責在子。次日大早往視，已一藥而愈矣。嗟乎！醫道之不明也，竟至於是耶。經云熱傷氣，又云壯火食氣，盛夏酷熱，爍石流金，未有不傷氣分者，故治之必顧氣分。孫真人生脈散、東垣清暑益氣湯、丹溪十味香藿飲，皆人人共見之方，未有不用參者。至人參白虎湯，乃《金匱》中暍門專主之方，《金匱》乃醫聖仲景之書，是不足法，更何法也。且夫椿官之症，乃中暑，非時邪也。時邪者，春當暖反涼，夏當熱反寒，秋當涼反暖，冬當寒反溫，為四時不正之氣，感而病者謂之時邪。至風、寒、暑、濕、燥、火，此六氣者應時而至，本天地之正氣，人或不慎感之，而病直謂之中寒中暑而已，不得混謂時邪也。今椿官當暑，中暑而混指為時邪，症且不知，何竟謗予之用藥哉！論椿官之虛弱，清暑益氣可用，因其大渴欲飲，恐黃耆、二朮過於溫補而燥，故用人參白虎。予本細心斟酌，尚幾為若輩所誤。椿官倖免矣，而當世之冤魂何可勝數哉！喻西昌曰：醫至今日，生民之厄運也。誠哉是言也。椿官二十一歲自常販布回家，自稱有恙，延予診治，時十二月初一也。其症外似灑浙怯寒，內則煩躁覺熱，舌赤無苔，溲帶白濁，脈來洪數無倫，按之空象。謂之曰：子始回家，一路恐微有外感，而又虧虛，攻補俱有未便，遲數日再診可也。因密告其叔曰：令侄此症真不治矣。奈何其叔曰：伊起居如常，飲食尚好，何至不治。予曰：子原難解，俟至春來，予言自驗。予昔年受滂不辭因能治也，今知不治，斷不敢纏手招謗而受怨也。後屢請，予堅辭，且遇伊家親友，遍告以椿官復病予並未一診，恐將來受謗也。伊家只得另延他醫，初云無妨，繼則無效而加重，屢更皆然。至次年正年十八日溘然長逝矣。予往唁，其祖母泣謂予曰：子真神仙，何一見而知其不治也。予曰：予幸立意不診，今乃以為神仙，否則今將為府上之仇仇矣。後有他醫虛心問故，予曰：此不難知也。冬見夏脈，書稱不治。伊脈洪數無倫，在夏脈尚為太過，而見於冬令閉藏之日，且又無根腎水告竭，肝火獨旺，木生於水，無水之木何以應春氣之發生乎？如樹木然，當冬令閉藏莫能定其生死，至春則生者生，而死者死，人身一小天地，肝木應乎春氣，根本既拔，故知其死於春也。然予雖以先見之，故脫然無累，而與龔玉屏實一人交也。伊喬梓二人，予皆能治其前而不能治其後，每念及此，心猶惻然。</p>
<h3>蔡姓時醫治效</h3>
<p>鎮江北門外蔡姓世出時醫，今其子孫雖不及其祖父，而業此者甚多，友人戴半山，蔡氏婿也，一日詣予曰：有舍舅病重，請兄一診。時予雖知醫而並不行道，辭之曰：蔡家醫生不知凡幾，爭代人家看病，豈自家病症不能治，而反需予不行醫者乎！予斷不去。半山曰：其症諸蔡皆看過，皆回不治，惟予叔岳欲以附子、肉桂扳之，不能決，請兄一決耳。予曰：設至其家而群相詫異奈何？半山曰：舍親在我金珠店管事，現在惟我作主，不必過慮。隨喚輿逼予同往，至其室審其症，乃時邪十一日矣。所服之方，大抵羌、防、柴、桂、枳實、查炭、厚朴、蒼朮、草果、炮薑之類，其症則燥熱非常，人事昏沉，耳無聞，目無見，舌卷囊縮，死象已具。其脈弦勁疾數，不辨至數，惟按之尚未無根，病中從未大解。診畢半山問臼：桂附可服否？予曰：桂附萬無服理。然此人誤已深，實屬難治，姑請伊母出來商議。其母出見，予問曰：汝家看此人到底是死是活？其母曰：先生何出此言？予曰；汝家若以為未死，則予不敢多事，恐藥不能救，歸過於予，予何為來擔此惡名哉！若汝家以為必死，則予尚覺有一線生路。其母曰；吾家諸醫皆已回絕，先生若能施治，生死不忘。予乃曰：時邪熱症治以辛涼，非比傷寒之症治以辛溫，且傷寒下不厭遲，時邪下不厭早，三五日內熱重便閉即當用下存陰，今時邪誤服傷寒藥，佐以溫燥，意在推滯，不知愈燥愈結，火愈熾而真陰耗矣。真陰根於肝，腎開竅於耳，肝開竅於目，腎脈挾舌本，肝脈絡陰器，今目瞆耳聾，舌卷囊縮，大熱傷陰可知也。症本不治，而予謂有一線生路者，幸脈尚有根，非症重至此，藥誤實多，為今之計，仍非下之不可。然古人急下存陰，陰未傷也。今下已遲，陰已傷矣。宜用玉燭散法養其陰，以用下。於是用生地一兩、當歸五錢，加大黃三錢、芒硝二錢、甘草一錢，與服，夜下黑糞，次日熱退，諸症皆退，仍進養陰清熱。又次日往診，半山出迎曰：舍親又復發狂，奈何？予入診，見其罵詈不避親疏，果有狂象。予曰，無妨。仲景云下後發狂，再下則愈，一下未盡故也。仍以前方與服，明日往診，據其家云，昨下更多，幾半淨桶，後繼以血。予疑此方不應動血，及見原方，忽有人添桃仁三錢，予曰：此無怪乎有血矣。傷寒有蓄血症，其人如狂，下其血則愈。重則用抵當湯，輕則用桃仁承氣湯，今下後發狂，並非如狂，何用桃仁動其血分，所幸脈靜神安，症已無妨，惟養血藥要多服數貼耳。後代立方，總以地黃、阿膠為主，幸無復參議者，而其疾乃瘳。</p>
<h3>包式齋治效</h3>
<p>包式齋患尿血二年未痊，後覓予調治而愈。蓋腎虧人也，偶然傷風，某醫發散太過，轉致喘不能臥者屢日，急乃延予，予曰：咳出於肺，喘出於腎，肺腎為子母之臟，過散傷肺，母不能蔭子，則子來就母，而咳變為喘，腎虛人往往如此。今已腎氣上衝，脈來上部大下部小，而猶以為風邪未盡，更加發散，無怪乎喘不能臥也。與以都氣全方，加紫衣胡桃肉三錢，納氣歸腎，一藥而愈。越二年又因傷風，某醫仍肆意發散，致喘不能臥者三日，又請予治，曰此與前症無異，彼昏不知，子何毫無記性耶！曰；因伊在舍診病，偶貪順便，不意至此。予曰：無他，仍服前方可也。其內因夫病著急，忽得笑症，終日啞啞不止，亦求予診。其左關寸皆數甚，予曰：膻中為臣使之官，喜樂出焉，此肝火犯心包絡也。與犀角地黃湯加羚羊角，次日復請予至，則笑病一藥而痊。而式齋則夜仍喘不能臥，惟下半夜稍平耳。餘曰；異哉！何藥之靈於當年而不靈於此日哉？細診脈象，上部大下部小，實屬腎氣不納，毫無他疑，靜思良久，因問昨何時服藥，曰：晚飯後。予曰：是矣。今可於晚飯前服藥，當必有效。次日問之，則喘定氣下，一夜安眠矣。伊問何故，曰：藥本納氣歸腎，飯後服藥，為飯阻不能直達於腎，故上半夜全然無效，下半夜藥性漸到，故稍平也。今於飯前服藥，腹中空空，藥力直達腎經，然後以飯壓之，腎氣豈有不納者哉。囑其多服數貼，後加十倍為丸常服。並囑偶有外感，不可任醫發散，其症乃不復發。蓋嘗覽《石室秘錄》，陳氏假託乩方，直至岐伯、雷公、華佗、仲景，古之聖神無不畢集，可謂怪誕。至其方藥議論亦甚平平，而大其制，一藥必數兩，一方必一二斤，萬難取法。惟其主意先分治法，則群書罕見，可稱獨得之奇。如教包式齋飯前服藥，即內餓治法下冶法也。是故醫書汗牛充棟，而除《內經》《難經》、仲景《傷寒》《金匱》二書，無可疵議，其餘則各有所偏，亦各有所得。惟在學者之知所取，而勿尚其偏而已。然則不讀書固不可，而讀書亦豈不貴善讀哉！</p>
<h3>厲登銘瘋症治效</h3>
<p>厲登銘五兄，住城內演軍巷，子後門外之賢鄰，又予之密友也。初秋患瘧少汗，予治之始以和解，繼以景岳歸柴飲加生地一兩、薑皮三分，得透汗而解。知其好內嗜飲，陰虛居多也。瘧三次即已，精神未甚減。是晚城南起火，伊命家人秉燭至大門觀看，忽謂家人曰；適地坊老爺過去，汝等見否？家人曰：未見。登銘曰：如何未見，明明帶高帽穿青袍，左扛雨傘右持芭蕉扇，适才過去，我等速關門進去。是夜遂瘋，喊罵大鬧，擲毀什物，且持廚刀欲殺其妻，其妻躲至床下。其嬸母令人奪取其刀，伊更罵詈跳鬧不止。次日大早，急請予，其妻托家人聲言救命。予至其室，伊正持破碗欲傷人，見予至，忽然放下，稱予曰：六哥。予見其有怯意，似予有以鎮之者，因更自提精神，正言厲色謂之曰：坐下。伊即坐下。曰；將脈來診。伊即伸手候診，予診其脈數大不定，而左關尤大而有力，予問因何胡鬧，欲殺爾妻？伊則穢語謂妻王氏與狐狸在牆內如何，又白猴子持大扇扇伊腳等瘋語。予不復問，惟囑好好坐著，不許胡鬧，否則予將治汝。伊亦應承，予至廳，家人出云又大鬧矣。親朋滿座問予何法，予曰，諸病從虛而入，邪祟亦從虛而入。厲兄本瘧症初愈，瘧發於少陽膽經，瘧後受傷，其膽必虛，適遇邪祟乘虛入膽，而成瘋。且夫厲兄平日之膽最小，一語不敢傷人，琴瑟之好，稱為最篤，今忽欲殺人，且為素所愛敬者，瘋則膽大，豈非祟據其中而有以使之耶。夫瘋字從風，有風象，然瘋之或重或輕猶風之或大或小，瘋之忽發忽止猶風之忽起忽息，邪祟之中人而成瘋也，未嘗不憑藉人身內風之力，惟木生風，肝膽是也。肝膽相為表裏，今邪入於膽，必將借膽之力而鼓動乎，肝因木生風，因風生火，因火生痰，痰火相搏，勢乃大張，而人之魂魄神明皆擾亂而不能自守。雖然，今幸邪祟初入，譬如匪人初至旅邸，左鄰右舍並無相識，其勢尚孤，驅逐亦易；若失今不治，盤踞既久，巢穴已固，風鼓其勢，火張其威，痰助其力，如惡人居久定而党已成，則驅逐良難也。於是用溫膽湯，京製半夏二錢、化橘紅八分、云茯神三錢、生甘草五分、麩炒枳實七分、鮮竹茹三錢，加粉丹皮二錢、龍膽草一錢同煎，外加朱砂三分、豬膽汁少許和服。此方專於瀉膽，使邪祟不能甯居，又兼清火化痰使邪祟無所憑藉。法雖平平，竟一藥而愈。後以十味溫膽，以沙參代人參，以生地代熟地，且重用之，以生地能補膽，賊去關門法也。連進四帖，神志如常。此嘉慶十六年事，時尚未識王九峰先生，後先生聞知，適見脈案，深蒙許可，遂相往來。予視先生為前事師，而先生以予為忘年友矣。</p>
<h3>陳外甥瘋症治效</h3>
<p>吾適陳四妹其長子乳名得兒，在泰興南貨店生理多年，已二十餘歲，忽一日自歸，神情沮喪，鬱鬱不樂，吾妹問之亦不言。數日後，忽成瘋疾，不似厲登銘之殺人，惟欲自戕，見繩欲勒，見刀欲刎，見碗欲敲碎自劃，語言並不顛倒，人事並不糊塗，惟言有女鬼在其腹中，教之尋死，不能不依。其家日使兩人持其手，否則即欲覓物自戕，數日予始知，往視之，命人放其手，垂手不動，診其脈乍疏乍數，而按之細弱，知其陽氣大虛，實有鬼物憑之。乃用參附理中加黃耆、茯神、鬼箭羽朱砂、龍齒、虎骨，並加雄黃少許，麝香少許，大補陽氣，兼辟其邪。用香藥以透其出路，並告吾妹曰：此冤魂也，可先請高僧施食，因服此藥，當可愈也。予去後，甥告吾妹曰：他人診脈，鬼按脈不令診，舅診脈則鬼躲在腹底不敢上來，現囑我曰：汝舅之藥必不可服，服則必死。吾妹曰：此怕汝服也，不可聽信。旋即請僧施食，亦即服藥。藥後甥云：他去矣。病即愈。嗣予因其陽氣太虛，仍以參附理中加遠志、茯神、黃耆、枸杞、棗仁，命之多服。病癒後仍不敢獨宿，服藥月餘，始能如常。後至予家，詢其鬼從何來，始推不知，再三駁問，乃云泰興店對門有小戶少婦，代人漿洗衣服，伊亦常送衣與漿洗，不意其夫忽疑其有私，始以罵，繼以打，其婦忽自縊而死。伊聞一嚇，遂覺神魂不定，渡江遄歸，不意其相隨而來也。予問與爾有染否？堅稱無有。此子素純謹膽小，當無他事。惟年長未婚，未免有情耳。甚矣！情之不可妄動也如是夫。此嘉慶二十四年事也。二十餘年後，此子仍往江北生理，竟自縊而亡，奇哉。</p>
<h3>吳預生瘋症治效</h3>
<p>吳鑒林名炯，諸生也。其長子預生，亦諸生，在鄒同裕淮北信陽鹽店管書啟，其店有空房久無人住，伊愛其靜，移居其中，一日忽大瘋，用裁紙刀自劃胸膛，店夥救之，已傷數處，鮮血淋漓矣。其店用十人幫送，始能到家，以其力大難制，有且路途遙遠也。到家雖不自戕，而狂鬧愈甚。醫藥罔效，閱二月，予自吳門歸，其父鑒林屢來探予，欲得一診。予嘗謂眷屬曰：瘋子見予，即不敢瘋。眾人將信將疑，適其家與予相近，一日傍晚得暇，令人告之使來就診。半晌數人將瘋子挾持而來，舞蹈而入，予出至廳，瘋子即寂然不動，予如診厲登銘法，予上坐，使之下坐，正容壯色，以診其脈，脈象或大或小，或疏或密，或結或促，知其邪祟無疑。厲聲謂之曰：爾遇我即當去，不去我將在鬼哭穴灸汝針汝，雖然爾來路遠，我當囑伊父多贈汝盤纏。予說一句，伊應一聲，予眷屬乃皆稱奇，予知其邪祟重，而且久氣血暗傷，先以參地兩補之，加犀角、羚羊角、琥珀、朱砂、龍齒、虎骨、龜板、鹿角諸多靈通寶貴之藥，以通其靈性，以鎮其神魂。譬如正人君子巍然滿座，邪人自不能安，此藥入腹，邪祟自逼處不安而思去。又仿喻西昌法，用羊肉湯一碗為引，使邪祟借腥膻之氣味而出，惟藥不與病人知，恐二豎避入膏盲也。又囑鑒林曰：此實鬼祟信陽來路甚遠，務請高僧施食，多燒冥資，以踐予多贈盤纏之言，服藥始靈。蓋因鑒林素慳吝，故再三囑付，時四月十九日也。二十日伊家施食服藥，瘋果即愈。二十一日行都天會，其次子忽至晚不歸，次日遍找不見，其家因長子幸愈，次子年輕不才，亦即置之。三日後忽句容鄒同裕鹽店管事親送伊回，細問情由，伊看會至晚，忽一大黑人引之前行，身不自主漸至曠野，不辨東西走了一夜，腿雖酸疼而不能不走，似將天明，忽路旁又走出二人與黑人大吵說：是我孫子，爾帶他何往。且吵且走，忽已天明，而三人皆不見矣。伊遠見有城，權且走進，不知何城，正在無路可走，幸鹽店開門見問，始知遇鬼，始知已至句容，離家百里矣。管事者亦丹徒人，且與吳氏相好，留住二日，撥冗送回。吳預生曰：此想必附我之鬼也。前燒冥資太少，鬼尚不服，而服藥又不能不去，故復禍弟，予向見人家寄庫燒冥資，以為徒費無益，至治瘋症屢用有效，且嫌少而爭多不可解也。此道光八年事也。</p>
<h3>常鎮道劉公治效</h3>
<p>常鎮道劉名載字竹湄，嶺南人也。由山東濟南府保舉赴都，自都赴鎮，於道光五年正月二十五日到任，二月初一謁聖廟行香，官屬齊集，劉公言身有久病未愈，欲請一儒醫診治，未知有否。當有王惹山明府保舉微名，謬謂文名久著，醫理更深，惟不懸壺，必須禮請。劉公即煩王明府先容，隨後差內使持貼延請，予因往診，詢其病源，乃瀉泄已閱四月，天未明瀉起至晚不過五六遍，而進京出京一路醫治，總無效驗。予診其脈，諸脈皆平，肺脈獨大，按之見數，予曰：此肺移熱於大腸，乃熱瀉也。公曰：予一路來往皆值冬寒，屢遇風雪，反致熱瀉乎？予曰：據公言當為寒瀉，據脈象實為熱瀉，右寸屬肺，肺與大腸相表裏，獨見數大，故知其移熱作瀉也。脈象大於他脈數倍，自診可知。且公一路所服，可系溫燥藥否？泄瀉時可熱而有聲否？公曰；皆然。予曰：豈有寒瀉服溫燥而不減者？豈有在腹為寒瀉出轉熱者？豈有寒瀉急迫作聲者？經云：暴注下迫，皆屬於熱。豈人止有寒瀉而無熱瀉乎？公自診其脈，亦覺肺部獨大，辨論既明，疑團盡釋。予乃用天冬三錢、麥冬三錢、孩兒參三錢，以養肺陰，加瀉白散地骨皮二錢、桑白皮一錢、粉甘草五分以瀉肺熱，又加茯苓三錢以為分利，懷山藥五錢以顧脾腎，定方後公問可服幾劑，予曰：二劑後再診。公服一帖，日間瀉止，惟余天明一瀉，服二帖而天明之瀉亦止。第三日因公無暇未請診，亦未服藥，而次日天明之瀉又來，又急請診，問何以故？予曰一百念日之恙，可以一藥而止，不能一藥除根，再服二帖，病當霍然。雖然診公之脈沉部頗有數象，似乎尚有伏熱，瀉不難止，恐春氣大透，木來生火，變生他症，須預為調治，未可大意。公曰：予急欲赴揚關，月餘乃還，再當請診可也。十日即返鎮署，且急延予，稱有重症，予往視，見其面左部．白頭至項半邊全行紅腫，左目腫合不能開，上下唇皆厚寸許，心煩意亂。自謂此次定當告病去官。予診其脈洪數有力，而無浮象。予慰之曰：無妨也。此症似乎大頭天行，而實非也。此久有鬱熱，熱鬱成毒，春透木旺，借肝氣發生，熱毒上達，肝位於左，氣由左升，故病在左，所喜六脈根本甚固，尚能勝病，月餘可痊，無庸告病而去。於是用東垣普濟消毒飲子，而去其升、柴，以症無外感，火發於肝，延熾於胃，其勢已甚，不敢再為升提也。且加犀角、羚羊角清肺胃以清肝，恐其上犯咽喉也，大便屢結異常，加調胃承氣以下之。十日後火勢漸平，腫亦漸消，知其血陰傷，加丹皮、生地以涼之，每帖藥計四五兩，始多苦寒，繼加甘涼，而總不用發散。其始尚用桔梗、薄荷二味，取其辛涼疏解，後並此而去之。症雖日減，而劉公見予每曰：我病莫非有風寒，先生何不散之。予曰：無有也，不可散也。嗣後跟隨諸人見予至，故揚言曰：主人之病，只要發散即愈，惜未發耳，予若弗聞也者。惟每至署，見轅外有醫轎一頂，密詢之，乃李某也，其人雖醫生而不務醫學，專務結交各衙門號房，巴結家人，希圖引薦，今聞劉公有病，無門可入，訪予方藥不用辛散，乃揚言一散即愈，托其家人聳動其主，以圖進見。劉公雖未之信，而未免有疑，嘖嘖者所由來也。至二十日症已全愈，惟偏左頭內尚覺沉悶，劉公向予歎曰：症雖承先生治好，但將來未免頭風之患耳。予問何故？曰：先生總末代我發散也。予曰：諾。今日竟用發散何如？公輾然色喜。予乃用小發散方，荊防不過數分，尚另加監制，謂之曰：公恙實不可發散，服必無效，今姑用之，以除公疑。又另開清涼養陰鎮攝肝風一方，與之曰：服前方平平則已，設有不適，再進此藥則安。次日進診，公曰：予昨日了不得。問何故？公曰：人人皆說予症當發散，而先生獨不然。予因前泄瀉，先生辨論精微，一藥而愈。又不敢請他人，然心中實不能無疑也。昨見肯用發散，欣然煎服，不意服無片時，即覺火勢一轟，似覺頭面復欲大腫，頭暈眼花，急忙伏枕，猶然難過。幸後方亦已煎成，服下始定。看來不能發散，誠如先生之言。然竊聞風善腫，風宜散；又聞有大頭瘟症，屬乎風火，亦用發散，而予症似之，其風火獨不可散何也？予笑曰：公之恙非風火，家人乃火風鼎也。風火者因風生火，風為本而火為標，散其風而火自平。火風者火為本，而風為標，瀉其火而風自息。試觀天地之道，熱極生風，得大雨施行，天氣清涼而風亦頓息，俗所謂煞風雨也。今火風之症，若誤作風火論治，妄用發散，譬如爐火已旺，而又以大扇扇之，火豈有不更熾者哉？公二十日來服寒涼重劑，統計約五六斤，而始進發散小劑，即如此火上頭轟，若初起誤進發散，將火勢焮騰，焦灼肌肉，蔓延咽喉，雖有善者奈之何哉！若夫大頭瘟症，予豈不知，其初起也惡寒體重，頭面俱腫，必兼表像。兩目鼻面腫起者陽明也，耳前後並額腫起者少陽也，腦後項下腫起者太陽也，三陽多表症，故可先加表散。公恙初起毫未惡寒惡風，面腫於左肝部也。公嶺南人，地氣溫熱，秉賦偏陽，京官十數年，飲食皆用煤火，官山東六年亦用煤火，火毒積蘊已久，北地風土高寒積而未發，今至江南水土不同，又值春深肝旺肝火沖起，久鬱之火上犯陽明，致成此症。故治法只宜消毒瀉火，經所謂高者抑之，不可散也。公曰：己病不知，經先生之論恍然大悟，而今而後直以性命相托。調理十餘日，頭之沉悶亦愈。公囑署中凡欲診病，非予不可。嗣後往署診病，亦無不應手。公意深為器重，秋七月前任觀察錢益齋夫子請予至金陵診病，適劉少君患時邪，請予不至，家人號房遂將李某薦進，三日無效，又延他醫，纏綿五月。予亦有在家時並不過問。予知李某之必有讒間也，然不足校也。次年劉公請王九峰先生診脈，一見即問李冠仙乃貴相契否？先生曰：然。且言醫道精通。劉公曰：醫道吾所深知，但其品行何如？先生曰：伊久在學中，品行並無不好，未免性傲，於同道中目空一切耳。劉公曰：果止性傲目空一切，尚是讀書人本色。僅作半面語，後不復言。先生出以語予曰：似有人在劉公前讒汝。予曰：其人予久知之，雖然問心無疚，何恤乎人言。末幾趙雨樓先生來守鎮江，其號房早將李某薦進、診病不效，復延予，予告趙公曰：子實不願在本地衙門診病，以後幸勿強予，反致害予。公問何故，告以劉公後來一節，公笑曰：是誠有之。李某初見即言兄乃訟師，萬不可請。吾遍訪毫無影響，且多稱足下品學兼優，故敢奉屈。予乃恍然李某之在道署謗我者訟師也。劉公之所以絕跡也。未及一載，劉公已知李某之誣，復延予，予卻之。又二載劉公卸事住揚，不知得何病症，復再三延予，予仍卻之，而劉公死矣。此中殆亦有數焉。</p>
<h3>陶文毅公治效</h3>
<p>宮保陶云汀夫子，於道光五年撫蘇適辦海運，夏秋間往來上海，親至海隅相度機宜，旋又蒞金陵監臨鄉試，是歲陽明燥金司天，少陰君火在泉，秋熱更甚也。乃醫者盡用傷寒辛溫發散，且屢用桂枝，邪不能透其熱，轉加致成熱瘧，寒少熱多。醫者改用柴胡，亦仍加桂，而其佐使者無非厚朴、蒼朮、草果、青皮，一派溫燥克伐，觀察錢益齋夫子素知醫道，時為監試，心竊非之。因在常鎮道任內知予善於治瘧，回明宮保，專差飛請，十八日晚予到行轅，隨即進診，細詢瘧在陰分，不過微寒，旋即發熱，壯熱六時許，解時無汗，熱時煩躁，至不能受，渴欲冷飲，飲亦不多，脈則十分弦數，舌則紅赤無苔，泄則其赤如血，且不寐者多日矣。予曰：此大熱症，加以燥劑傷陰，陰虛作瘧，陰虛不能化汗，無汗故熱邪難解，陰虛故神煩不寐，治宜養陰化汗，以化邪。於是即據此立案開方，惟思進見之初，未便驟用大劑，姑以小柴胡去參，加大生地五錢、當歸二錢、赤芍錢半、夜交藤三錢，三更後瘧勢減，進藥竟安寐至天明，可謂小效。次日本地陳林二醫至，知服予藥，密告宮保曰：大人此症，不可服當歸，服則熱必重出。又謂予曰：尊方用何首烏何太早。予曰：未也。意者謂夜交藤乎？此乃首烏之藤，非首烏也。且此不過取夜交之意，為不寐而設。葉氏治瘧亦嘗用之，以交通陰陽用意之藥，虛實皆宜，非如首烏之力能溫補也。君得毋見《本草備要》不列夜交藤，其何首烏注內有曰一名交藤，遂認夜交藤為何首烏乎？伊掩飾曰：恐敞地藥店止有何首烏，無此藤耳。予曰：昨藥系餘親見，其藤甚佳，君等或未用過耳。予知道不同不相為謀，伊等亦公然開方，並不予讓。惟是日盡去溫燥，改用黃連、石膏，而宮保服之，躁熱有加無已。蓋伊等只知用寒以治熱，不知黃連苦燥仍能傷陰，石膏雖能清熱而不能養陰，虛人服之，轉伐胃氣，雖《本草備要》之語，伊等未能全覺也。然是時宮保未能信任，總服二人之方，予屢告辭，堂官不肯放行。予曰：如此治法，必不能愈，設有不測，而予在幕中，將毋留以為二人所歸過耶。堂官轉稟方伯張公，公進見宮保，病果沉重，出見二醫，語言荒謬，遂往告唐陶山方伯，蓋陶山方伯乃宮保之同鄉兼戚誼，寓居金陵而精通醫理者也。二十二日早，陶山方伯來，細切脈理，遍閱諸方，出與二醫及予相見，先問二醫曰：先生們看大人究系何症？陳醫俯首不言，林醫曰是瘧疾。方伯曰：瘧疾吾豈不知？但是何瘧症？林醫不能對。方伯轉而問予，予對曰：據愚見乃陰虛作瘧耳。方伯曰：誠然，此當用小柴胡合四物湯加減，去川芎，重用生地，何方藥並不及此。林醫曰：服此即能愈否？方伯曰：汝等治已半月有餘，愈治癒壞，吾僅一言，即當全愈耶？雖然，如果重用養陰，症當大減，愈亦無難。譬如天氣亢熱已極，不得一場大雨，何以回涼？但可下雨而不可下冰雹，冰雹亦能傷人，如黃連、石膏，冰雹是也。林醫語塞。予問曰：養陰必兼歸地，或謂當歸助熱不可用，奈何？方伯曰：何來此不通之論也。閱諸方前所服者一派溫燥，不知助熱，而當歸反助熱耶？當歸雖微溫而養陰，設使方中早能助以當歸，尚不至陰傷熱重至此，且夫生地陰中之陰，當歸陰中之陽，陰陽相輔，動靜相生，用藥之道也，何可偏廢？此不過以生地為君，當歸為佐耳。言畢扶杖而入。二醫赧顏而去。方伯復出謂予曰：先生脈案方藥皆極通，惟尚輕耳。吾已與大人說明，以後惟子是任，子好為之。予以醫多論雜為慮。方伯曰：此我自當之。我當間日一至，以辟群疑。是日予用大生地二兩、當歸三錢、柴胡錢半、黃芩-錢、赤芍二錢、赤芩三錢、甘草五分、會皮一錢，服後瘧來不過兩時許，即大汗熱清，較前減四個時辰，熱時亦覺能受。後總本此法為加減，陰虧太甚，生地減至一兩，即不復減，瘧勢漸輕，至月底不及一時，陶山方伯果常來，各處薦醫雖多，宮保因已有效，一概辭去。予嗣聞方伯九月初三日回楚，恐又為他醫所誤，回明宮保，請九峰先生坐鎮。先生九月初一到，診後亦謂養陰為是，症愈在邇，不必更法。仍命主方稍為參酌，至初七日全愈。是役也，初賴益齋夫子之薦舉，中蒙陶山方伯之賞識，終借九峰先生之名望，克終其事。由此受宮保知，遂相契合。究之此方亦不過本景岳歸柴飲意變化而出，乃用此治癒陰虛瘧症，不啻數十百人，法甚平平，不足奇也。惟陶山方伯議論高超，譬喻辟石破天驚，名言千古，予常志之不敢忘。</p>
<h3>劉眉士治效</h3>
<p>道光五年八月二十三日，予因宮保初服予方已有大效，予心亦定。因城北張佑溪協台屢次延請未去，是日午後往候，張公曾任鎮江參府，本舊相識，見面傾談，又代其夫人診脈，為時既久，往來遙遠，至起更方到察院，到則巡捕堂官群相問曰：先生來何遲？日間監試錢道台有條子來請先生進貢院代內簾劉奉賢縣隔簾診脈，因先生不在辭去，傍晚又具稟劉令病已垂危，求大人格外施恩，讓劉令出場就死。大人勉准，適已出場，大人意要請先生去一診，或尚有救，連問數次矣。予問究竟何如？眾曰：適伊家人亦來求請，據云僕有一絲遊氣，半日不知人事矣。予至上房，宮保曰：先生來耶，我今日甚好。惟有內簾劉令，據監試稟稱亦於初六日得病，今已垂危，懇請讓伊出場就死，因其並未閱卷，姑勉准之。因先生高明，或能起死回生，亦大陰德，且吾亦同病相憐之意也。對曰：聞其病實已不治，治之無益，徒損賤名。宮保曰：此等病治之不效，豈復能歸過於先生，惟念此人乃吾所取簾官房首，其文甚佳，功夫尚在，其房中當可多中幾本好卷子，不意如此，然其文不似要死者，因命人將其文與予看，題乃舉賢才，曰焉知賢才而舉之。予看畢曰：此文果不似要死者。宮保問何以見得？對曰：其文清華，其氣通暢，似有福澤之文，而又無發洩太盡之弊。且其書法端楷，到底不懈，未曾錯落，其精神必素能完足，故論文字皆當不死。宮保曰：所論甚是。看文章面上請去一看何如？對曰：諾。時將二更且大雨，予乘輿冒雨至承恩寺曲折達僧舍，見旁空房一間，床架一張，堆草薦數條，床上靠一人即劉公也。油燈一盞，燈光如豆，陰冷之氣逼人，呼其僕秉燭至，見其大汗如雨，面白如紙，二目直視，牙關緊閉，喉中痰湧，口角流涎，全不知人事矣。使僕探其下體，則囊縮遺尿。予曰：此死在頃刻，尚何治為。即欲辭去，適其群僕自貢院取行李回，互相攔住，且有跪者，皆曰先生去不得。予問何故，曰：主人素本寒士，幸得一官，尚未一載，今年四十一歲，尚未有子，一死實為可慘。先生乃撫憲請來高明，若不肯治，更有何人？況他醫皆已回絕矣。今聽憑先生要銀多少，總要立方。予曰：行醫計利，賤丈夫之所為，予豈為此不診，奈此病情形實不可診耳。伊等堅放阻不有泣下者。子忽轉今其文不死，何其人之多死象耶？問闈中服藥否？曰：天天服藥，方在否？曰：全在。予索方細看，無非發散溫燥，而熱總不解，至十九日一方，麻黃錢半、羌活二錢、甘草五分、桂枝二錢，余想時邪十四日，忽服此方，其人即當死，何尚能活至今日，莫非與我競有醫緣乎？於是始為診脈，細細推敲，脈來數大而空，俱欲離根，惟左尺尚有一線可按而得。予暗歡，此真讀書人，惟知用功，不貪色欲，根本素能保守，雖經群藥刀砍斧削，而命根猶有存焉者。於是用犀角地黃湯通心達腎，養陰化熱，鎊犀角三錢、大生地一兩、大白芍三錢、粉丹皮三錢，又思所服溫燥，一派傷陰，脈來甚數，陰不潛陽，當於養陰之中加介以潛陽法，非若大汗亡陽脈僅空大，當以參附回陽也。於是加左牡蠣一兩、元武板五錢，外加橘紅一錢、竹瀝五錢、薑汁少許，以達其痰。謂其家人曰：既然服藥，以速為貴，遲則不及。牙關緊閉以烏梅擦之必開，惟咽喉痰湧，藥恐難下，此藥得一半下腹即有轉機，恐全不下而死，勿謗予也。回時已近三更，宮保猶等信未眠，真菩薩心腸也。細詢一切，色然喜曰：如此盡心，或當有救。明早伊家人來告曰；主人已轉過來矣。予往問如何服藥？前三分皆不受，後得一匙下喉，七分皆順流而下。予見人事漸清，向予點頭，但語言蹇滯耳。連進原方二劑，痰降能言，惟雖不大汗，而總未全止。知其表虛也。於主方外另仿玉屏風法，用黃耆皮五錢、防風一錢、五味子七分，一服而汗全止。嗣後方去犀角，加大麥冬三錢、高麗參一錢，減竹瀝二錢，約十劑，改用黑歸脾調理而痊。劉公名佳，字眉士，浙江江山縣人也。先任奉賢，予曾一過訪，嗣改調溧水，今已四載，音問未通，似乎於情較薄，不似宮保之卷卷不忘也。然聞其所至，愛民頌聲載道，夫雖薄於我而厚於民，則亦不負予之救之也。</p>
<h3>張偉堂治效</h3>
<p>張偉堂二兄，吾鄉南張榜眼公嫡派先居城南塞上，太夫人患瘧，服涼藥太多，病劇。其戚嚴嘉植素信予薦診，知其本體虛寒，始以溫解，繼以溫補而愈。嗣遷居揚州十餘載，不相往來，道光五年十二月十七日，忽接嚴嘉兄信，據云偉堂病已垂危，諸醫朝至以為暮必死，暮至以為朝必死，既如此，何敢復以相累。但病者忽憶當日母病系兄挽救，思得一診，雖死瞑目，務懇屈降，死生均感等語。因其言直諒不欺，二十日渡江下，晝到張府，即上樓診視，見其痰湧氣急，坐伏茶几，一人兩手扶其頭，不能俯仰，十餘日不得一臥矣，人事昏沉，不能言語，診其脈滑數而大，雖已空象，而尺部尚覺有根。遍閱渚方，自八月服起，皆作外感治，盡用發散消導；月餘後想覺人虛，易而為補，總以人參為主；後想因痰多氣阻，又改用化痰；又或疑外感，加用疏解。現在諸醫皆云不治，無藥可用。惟一朱醫與偉堂至好，一日數至，以二陳湯作丸與服，見症愈壞，束手流淚而已。予乃曰：此腎氣上衝症也。諸氣以下行為順，今肺不清降，腎反上衝，氣降則痰降，氣升則痰升，故痰湧氣急，不能俯仰，且其脈象甚數，似雜濕熱陰虛，濕熱不化，亦隨腎氣而上衝，若能納氣歸腎，氣降痰降，濕熱亦降，可以安臥，可以調理，症雖重無妨也。於是用六味為君，以都氣法，原本六味，而六味地黃，古稱為治痰之聖藥，又稱為下焦濕熱之聖藥，有三善焉，皆合乎此症，故特用之。大熟地八錢、山萸肉四錢、懷山藥四錢、粉丹皮三錢、福澤瀉三錢、雲茯苓三錢，外加北沙參四錢、杏仁泥三錢，以潤肺降氣，胡桃肉三錢以助納氣，福橘皮一錢，取其順氣而不燥。開方後予往候九峰先生，因即止宿，次日復請，予至門嚴嘉翁迎出，服藥如何？曰：差不多若有不豫色。然予心竊疑之，至廳坐定，予問曰：藥吃壞耶，何吾兄之怏快也？曰：藥並未服，正以遠勞吾兄，又不服兄藥，故不快耳。予聞未服藥，心轉定。因問何不服藥？曰；朱先生堅稱熟地不可服故耳。伊家聞予至，又請上樓診脈，太夫人曰：昨方因有熟地不敢服，今懇另定良方。予曰：熟地乃此症要藥，吾方君藥，舍此更有何法。日聞所請先生不少，朝稱夕死，夕稱朝死，無藥可治，今服熟地不合，亦不過死，況予尚許君家不死耶。此症服熟地則生，不服則死，服與不服，悉聽君家，予無他方。下樓予即欲行，嚴嘉兄曰：今已將午，不及到鎮，飯後兄仍住九峰先生處，明早動身可也。予唯唯。嘉兄又曰；此地有好浴堂，陪兄去一浴何如？予曰：甚好。正欲偕行，忽一人出告曰：老爺過矣，請嚴大太爺勿他往。嘉兄彷徨欲止，予笑曰：予診脈未久，豈有死在頃刻而不知者耶。此不過痰厥，片時即蘇，其尺脈根本尚在，保無慮也。轉拉嘉翁出浴，浴罷而歸，曰：醒久矣。時有伊戚鄒翁親聞予言，進告太夫人曰：伊言如此有准，其藥尚不可服耶。半響其侄出，問今日如服先生方，可肯在此住宿否？予曰：服吾方，吾敢在此，不服吾方，吾不敢在此也。又半晌其侄出，問曰：如服熟地不合，可有解藥否？予笑曰：今日如此謹慎，何不慎之於當初耶？藥中佐使已解在內，不必過慮。蓋誑之也。然後其家始肯依方制藥，而尚止服一半，服後氣痰漸平，已覺能俯，乃又進一半，覺痰與氣隨藥而降，並能仰矣。遷延太甚已二鼓，後復請予看脈，脈亦漸平。偉堂並能說話，謂予曰：藥真如神，但尚不能平臥，君能令我一臥則快甚矣。予曰：惜君家不肯早服予藥耳，昨肯服藥，今日安眠矣。雖然，明日保君酣睡無慮也。次日依方再進，傍晚服藥，旋即能臥，臥則熟寐，三更始寤。以後予用藥無復敢贊一詞，而予總本初方，略為加減，地黃則始終未減分毫，八劑後其症大痊。餘乃辭歸，次年復請調理，煎方膏方悉本原方，蓋偉堂素嗜蝦油，每食不撤，其濕熱甚重，因熱生痰，因痰致咳，所用辛散，既誅伐無過，所用人參亦助熱錮痰，因咳致喘，腎氣上衝，猶以二陳丸治痰，豈不去題千里乎？惟六味地黃三補可葆腎氣，三瀉兼治濕熱，於偉堂最宜。況痰之本在腎，腎安痰亦自減也。偉堂從此與予交好，不啻骨肉，太夫人及闔家見予亦如至親，予每至揚必主其家，雖九峰先生處不許復往。偉堂嘗謂予曰：吾命由君活，不敢一日忘也。蓋極情重人也。予自診病以來，無不死中求活，而人情每過輒忘，如偉堂者豈可多得哉。予嘗謂偉堂曰：君經大病久病，所傷實多，不能徒恃藥餌，我有八字贈君，君能守之，可以永年。曰；不動肝氣，不勞心神。偉堂唯唯。至八年精神有復元之象，不意忽高興辦運，且辦至一萬數千之多，以數萬之家資辦二十萬之業，必期獲利，奈值漢陽滯消，其鹽二載始輪，賣至十年，冬輪賣價又大跌，予嘗曰：偉堂不可發病，發則不救。十二月初一，偶有微感，稍見痰咳，忽於初三日接漢信鹽價虧至七折，其船又有淹消，一急而喘，遂不能臥。初四日急請予，適予在滸關，兒輩知我至好，飛信寄予，予初六日得信，即辭主人而行，初八日回鎮，則初七日之訃音至矣。聞其三日內頻呼冠仙救我，至死猶呼餘不置。嗚呼，其病當不治，然如此良友，不得令我一握手一盡心，而竟溘然長逝，豈不痛哉！予初十日渡江往唁，撫棺一哭，淚出痛腸，遂揮淚書一聯，懸諸靈右，曰：一藥有緣五載中未嘗忘我，干呼不至九泉下何以對君。</p>
<p>《仿寓意草》卷上終</p>
<h2>仿寓意草卷下</h2>
<h3>滸關黃拙安治效</h3>
<p>滸關黃翁字拙安，豪傑士也。其少君小香與予有金蘭之好，予往來滸關有微名，翁之推許居多。翁素奉呂祖師，臨乩擅賜，名曰鶴真。嘉慶間曾患不寐三月，諸醫罔效。在祖師殿求籤，得第十六簽，曰支體魁吾氣稟豐，縱然疾病不為凶，君能再得軒岐術，壽到期頤未改容。翁思據此簽詞，蘇醫總不能治矣，急買舟至揚，就九峰先生診治。先生用孩兒參三錢、夜交藤三錢、白芍二錢、甘草五分、燈心五十寸、雞子黃二枚，每個點青鹽三分，輕描淡寫，頗似仙方，翁一眼即酣寐。道光九年正月翁又抱恙，醫至二月半後，愈治癒重，自分不起，命小香至祖師殿求籤以蔔生死，仍得第十六簽，翁曰莫非我尚可活，但蘇醫不能，九峰先生吾不能請。李冠仙與吾家世好，請當來。連夜放船至鎮，予念交誼，聞信即行，於二十二日開船，二十三日辰刻到毗陵，屈指二十四日始能到關，不意忽遇大順風，船行如駛，酉初已抵滸關，不及五個時辰行一百六十裏，在河道實所未經，豈非神助。到即進診，翁已弱不能言，止低聲曰；六兄救我。診其寸關皆沉閉若無，惟兩尺雖小而數，按之有根。出見案上有十全大補方，候於是晚不至則服之。當有關醫施朗山先生問予曰：此數人公訂之方，不知可服否。予曰：年近古稀，氣弱至此，十全大補，自應是理。但閱前方，人參、熟地所不少，並非不補，乃愈補愈壞，或者用補太早乎？翁素有痰患，今反無痰，而脈來上中二部皆沉閉，豈非痰因藥補，膠固不活，阻塞氣機乎？若盡由於虛則尺部亦應沉弱不見矣。故此方將來當可服，而現在則斷不可服，恐痰更結而氣更塞，竟至不治也。且其尺脈甚數，溫補亦恐非所宜也。於是變化大半夏湯，用孩兒參三錢、半夏粉三錢、白蜜三錢、竹瀝三錢、薑汁少許，千里長流水揚三百六十五遍，煎服。翁已十日不寐，服九峰先生舊方亦不寐，服予方後忽然安寐約兩時許，寤即痰活，連吐數盂，心中暢快。請予復診，則寸關皆起矣。方亦輕描淡寫，而靈異如此，即予亦有所不解。三進原方，日見起色，見其脈總兼數象，漸加石斛、生地，十日即起床健飯，又去白蜜加陳倉法十日，飲食如常，精神清健，蓋本火體，只宜清補，乃知前此皆參耆溫補之誤也。盤桓數日，予乃辭歸，握別之際，翁謂予曰：兄似祖師意中人，何不皈依。予曰：惜身不能作道士。翁曰：何必道士，只在心耳。祖師以濟世為心，兄亦操濟世之術，以祖師之心為心即皈依矣。子曰；唯。長者之言，謹當書紳。然此正可見翁之為人不可及也已。</p>
<h3>戴都統寸白蟲治效</h3>
<p>京口都統戴公字魯望，大解出寸白蟲，甚至不解時三五條自行爬出。予曰：此脾虛生濕，濕熱生蟲，蟲有九種，惟寸白蟲居腸胃中，時或自下，乏人筋力，耗人精氣。其蟲子母相生，漸大而長，亦能殺人。於是以歸脾去耆，加苦楝根、使君子肉，又加榧子肉為引，公問榧子肉何為？對曰：能殺蟲。問可常吃否？曰：可。公服藥二帖，蟲較減而未盡。公乃買榧子一斤，無事服之，日盡半斤許，次日又服，大便後忽下蟲二尺餘長，嘴尾相銜，以物挑之，寸寸而斷。榧子肉原可治蟲，而專用多服，竟除寸白蟲之根，書所未載，可謂奇矣。後有李氏子，蟲蝕其肛，有似狐惑症。予代調理外，亦教其專食榧子肉，亦下寸白蟲二尺餘而愈。然則斯方竟可傳矣。</p>
<h3>李青原傷寒治效</h3>
<p>李青原兄，病傷寒頭痛，項強背板，一身盡痛，甚惡寒而不甚發熱，自服發散藥無汗。予診之，見其脈浮而弦，甚知其素來陰虛，不能作汗，以九味羌活湯去生地、黃芩，加當歸八錢，一服得透汗而解。方本景岳歸柴飲，景嶽專用柴胡，只治少陽症，不能治太陽症，特變而通之。陶節庵九味羌活湯治江南傷寒最好，江南無正傷寒，不能用麻黃湯也。或議其黃芩、生地，不應見而用涼，然已見口渴欲飲，用之有效，否則不妨易之。予自治李青原後，每遇傷寒夾陰虛者，即以節庵景嶽法參用，去芩、地，加當歸，少則五錢，多至一兩，無不得汗而解，三載以來取效不下數十人。然則斯法亦殆可傳也。</p>
<p>凡發散藥，太陽經居多，陽明經則白芷、葛根、升麻三味，少陽經則柴胡一味。仲景小柴胡湯為少陽症而設也。瘧症不離乎少陽，今人用小柴胡湯治瘧症，未嘗不可，乃景嶽五柴胡飲及正柴胡飲，皆用柴胡，太陽傷寒恐不能散邪而反引入少陽也。至葉天士治瘧症，則又戒用柴胡，更不可解。今吳人患瘧不敢少用柴胡，以致纏綿日久，甚有死者，皆其遺禍也。景岳名家，葉氏亦醫中翹楚，一則重柴胡如此，一則棄柴胡如彼，豈非偏之為害哉。</p>
<h3>郭秉和戒煙治效</h3>
<p>郭秉和嗜鴉片煙，其癮甚大，忽詣予求戒。予思煙癮甚怪，書稱諸怪病皆屬於痰，痰病求之不得則屬於蟲，五臟之中，為蟲所據，則精神血氣皆不能自主，而聽蟲所為，煙癮之怪蟲為之也。諸病從虛而入，諸蟲亦從虛而生。五臟之中何臟為虛，則煙毒先入，而蟲亦先生，故同此吃煙，而癮之來也迥不相同，或神疲呵欠，或腹痛異常，或時欲大解，或精泄如溺，種種不一，大抵何臟生蟲則現何臟之病，至其時蟲欲得煙，其癮乃至，今欲戒煙，非治蟲不可，而欲治蟲，非兼補其虛不可。郭兄之癮來時即屢欲大解，中氣腎氣皆虛。於是以補中益氣合補陰益氣，每日作大劑與服，另治藥末，用貫眾、雷丸、蕪夷、鶴虱、苦楝、錫灰、檳榔、榧實、粟殼諸多殺蟲之藥，稍加煙灰為引，沙糖調服，命於癮初到時仍吃煙一二口，使蟲頭皆已向上，即將末藥調服，蟲食而甘之，而不知其殺之也。伊本服煙二十四口，如法服三日即減去一半，又三日僅余於每早四口，糞後逐日下碎黑蟲，細小而多。十數日早上四口總不能免，復請予商酌，予曰：既如此有效，有何酌改，想蟲根未盡耳，子姑待之。又十余日，伊忽欣然來告曰：我早上四口煙亦戒矣。問何故？曰：餘昨大解後似有物堵塞肛門，極力努掙，突出而下，視之如一小胞衣，破之則皆碎蟲也。一時傳聞皆以為奇，後有癮小者，以所餘末藥如法眼之，連治二人，此數年前事也。近日吃煙者更多，求戒者絕少，即郭秉和亦仍吃煙矣。嗟乎！我欲活人，而人皆求死，奈之何哉！此嘉慶二十年前事，邪片煙初本二三換，後忽貴至十換，郭姓本不甚有餘，竟吃不起，所以求戒；後煙漸賤，所以復吃。三十五六年來煙賤至半換，吃煙者十有三四，到處煙館，雖賣菜傭挑漿老亦多吃煙，下至乞丐輩亦吃煙，即窮且病，甚至於死，而皆不悔哀哉。</p>
<h3>徽州餘姓治效</h3>
<p>予三十歲時館於京口，旗營呼協領家呼公六旬外忽得類中症，眩暈非常，頭不能抬，夜不能臥，面色浮紅。適萬廉山先生宰丹徒，薦其鄉親唐朗山先生診治，朗山以為虛陽上浮，以真武湯坐鎮北方，用附子至三錢，闔家疑懼，不敢服。朗山力主之，惟予贊之，一服而定，調理煎方百餘帖，總用附子五錢，丸藥亦重用附子，統計服附子十餘片，精神加旺，後不服藥，壽至七十七歲。江西宜服附子而能用之於江南郎山先生，真大手筆也。一時稱奇，予亦心服，常相往來，多蒙指教，其學問深厚，脈理尤精，並非孟浪用藥者。十餘年後，李進之兄油行徽夥餘姓行二年三十歲，六月出門討賬，抱恙而回。醫者以為受暑，投以清涼，忽變周身寒冷，熱飲嫌涼。診其脈沉細若無，知其體本陽微，雖當夏令仍屬感涼，以桂附理中湯用附子一錢，如弗服也加至二錢，如弗服也加至三錢，身寒稍減而熱飲仍涼，直加至五錢乃日見有效，計服附子二斤許，症乃全愈。蓋其家婺源皆服山澗之水，其性極寒，生斯地者體多偏寒，以寒體受寒涼服寒藥，故一寒至此，醫貴審時兼宜度地非易易也。然予之所以敢用重劑者，由先得叩朗山先生之教也。大凡脈沉多寒症，而亦有不儘然矣。嘉慶十八年予往常州，有朱某者小販賣人也，，忽得奇疾周身畏寒，醫投以溫劑不應，因投以熱劑如桂附之類，而其寒愈甚。爰求予診，其脈皆沉，按之至骨略見疾數，知其為同氣相求症也。以犀角地黃湯與之，朱本賤業，以得予至為幸，見方即服，一服而寒減，三服而全愈。此等症候，身寒脈沉，未有不用熱藥者。不知其伏熱在至深之地，一遇熱藥相引而入，並人身之衛陽亦隨之而入，故外反憎寒也。朱姓幸服熱劑不多，尚能挽救，若肆用熱藥，如郎山之治呼公及予之治餘姓，不過數劑，真陰內竭，肝風必動，不可治矣。孰謂切脈之可忽哉。</p>
<h3>李楚生眼病治效</h3>
<p>李楚生三兄患目，二目皆病，左目尤甚，紅痛異常，瞑不能開，勉強開之，盲無所見，頭痛難忍，亦左為甚，尤可怪者，大渴欲飲，每日飲濃茶十大碗。蔡醫以白虎湯投之，石膏每劑一兩許，愈服愈渴，數劑後濃茶加至三十大碗，飲食不思，神煩不寐，終日終夜飲茶而已，兩月有餘，困頓已甚，乃延予診。脈皆弦數而大，而右關數疾之中尤欠和柔，子笑曰：此非白虎湯症也。白虎湯乃傷寒時邪，胃有實熱，大渴欲冷飲症所用。今因患目而渴，飲欲熱飲，不欲冷飲，乃素嗜濃茶，克伐胃氣，胃液乾枯，求飲滋潤，而其實潤之者乃更傷之，故愈飲愈渴。彼石膏輩能治實熱，不能治虛熱，本草載虛人禁用，恐伐胃氣，彼庸庸者不知，以為渴飲則當用石膏，而不知外感內傷有天淵之別，熱飲冷飲有毫釐千里之分，率意妄投，不獨損人之目，即損人之命不難也。其仲兄乃秀才也，問曰；聞目屬肝，何患目而胃病如此？予笑曰：肝開竅於目，夫人而知之；乙癸同源，肝虧則腎虧，亦夫人而知之；不知五臟六腑十二經脈三百六十五絡其血氣皆稟受於脾土，上貫於目而為明，故脾虛則五臟之精氣皆失，所使不能歸明於目矣。以脾與胃相表裏而為胃行精液，胃主降脾主升，胃降然後脾升，飲食入胃，遊溢精氣，下輸於脾，然後脾氣散精而上輸於肺也。今胃汁乾枯，胃氣不降，脾有何精液可升，尚能歸明於目哉！況病者肝腎本虧，腎不養肝，肝虛生熱，熱盛生風，以久虛之胃，木火乘之，故不獨燥熱難堪，飲不解渴，且胃無和氣，直致飲食不思，胃不和則臥不安，故夜不能寐也。至目痛自屬肝火，頭痛自屬肝風，而今欲治之，必先救胃，救胃必先戒茶，然後大養胃陰，並養肝腎。胃喜清和，得滋潤而氣自能降；木虛枯燥，得涵濡而火自能平；火平則風息，眼無火不病，頭無風不疼，如此調治，症雖險無虞也。病者慮茶不能戒，予曰：非戒飲也，特戒茶耳。於是以菊花、桑葉代茶，而先投以養胃陰扶胃氣重劑，十日後即不思飲茶。然後兼調肝腎，並或清肺以滋生水之源，或清心以瀉肝家之熱，千方百計，乃得漸痊。二年後其尊人亦得目病，蔡醫以為能治，不必延予，而一目瞽矣。</p>
<h3>柏邃庵協領耳患臨危治效</h3>
<p>京口協領柏邃庵，予三十歲時館子其家，彼此契好，不啻手足，計今三十餘年矣。邃庵方正從無淫鴉，奈二十餘歲初次進京，未知檢點，竟不知於何處旅店蒙其不潔，頭生顆粒，有似廣瘡，急延外科醫治，想用捺藥，隨即痊好，而年餘發下疳，外科調治久而不愈。予勸以仙遺糧湯下五寶丹，由漸而愈。邃庵最畏服藥，愈後未經清理，後乃發為陰癬，腰以下腹以上蔓延無隙，其癢異常，然三十二年以來竟無他患。不意於道光十一年忽有教以醫癬者，用紫荊皮為末，以白芨磨汁調敷。余聞之，再三勸以勿治，蓋疥癬之疾不足憂也。設使治癒，必生他患，奈邃庵竟為所惑，不納予言。日以二藥裱敷下體，自秋徂冬，癬竟全收，不復作癢，欣然得意。十一月望後忽患耳痛，就予診脈，其時適值云汀宮保忽患吐紅，專禮見招，是日診脈後即束裝赴省，余謂兒輩曰：邃庵脈象大為不好，恐有重症，而予適不在家奈何？兒輩唯唯，蓋其一切如常，予言似不確也。赴省一月予接家信，據云邃庵病勢沉重，有朝不保暮之象，請予速回，或可一訣。余不勝駭然，幸宮保恙已全愈，隨即買舟南下，一日達鎮，即詣柏府看視，見其耳連項腫，稠膿淋漓，臭不可近，人則一絲兩氣，蓋已米飲不下者九日矣。見餘至亦不能多言，惟曰：弟雖來，吾亦不吃藥也。詢之伊子症勢如此，何為不肯服藥？據云一月之中所請內外科服藥不少，大抵清涼居多，以致胃敗，故邃庵誓不服藥矣。予因轉為邃庵曰：兄之病源，惟予深知，他人不及知也。不知者認為尋常之火毒，必用涼藥，須知此症不但不可用涼，且宜用溫，兄如服弟藥，三劑必然有效，如不效再不服藥何如？邃庵聞以溫易涼，不覺首肯。予遂以歸脾湯加減，另以五寶丹加西牛黃與服，三劑後臭味頓減，口味大開，精神漸振。邃庵問予何藥之神也？予笑曰：兄之病根在三十年前，他醫不及知，即兄亦念不及此也。兄當年曾沾染惡氣，誤服捺藥，後變為下疳，愈後未經清理，漸化為陰癬，此癬為餘氣之出路，且周身之濕熱皆從此出，原萬無治理者也。奈兄誤聽人言，忽然欲治，居然治癒，而究之風濕熱毒從何而去，不覺上攻清竅。又值現與統軍不合，告老罷官，雖素闊達，究非得已，Jb懷未免不暢，心寄竅於耳，故病發於耳也。醫者不知，肆用寒涼，使熱毒欲發不發，遏成臭氣，異乎尋常；人之脾胃喜香而惡臭，此等惡臭積於胃中，胃氣焉得不敗，尚冀飲食之甘乎。且夫治餘氣之法，以升透為主。尤以扶正為主蓋餘氣即邪氣也，正氣衰則邪氣陷而入內，正氣旺則邪氣托而達外。常見庸庸者治濕毒之症，專主苦寒攻下，百無一愈，誠昧於醫理也。兄之症情節過多，醫更難明，動輒得咎，予用歸脾湯法可以養心，可以健脾，可以扶胃，可以開鬱，可以建中，可以托邪；而又用加味五寶丹諸多寶貴，敗毒搜毒，專使外透，不容內蘊，用藥得當，似乎通神，雖然現幸獲效，仍須癬發，方許收功也。數日後癬漸作癢，十數日後癬遍下體，而耳患全愈，飲食倍常。始終總此一方，並未改易。方餘自省回，見邃庵光景亦疑不可救，而竟獲速效，此其中殆有天焉，非人力所能致也。</p>
<h3>李曜西子瘧症誤藥幾危治效</h3>
<p>李青原之弟曜西，吾長子之襟兄也。其子於初秋患瘧，醫者為徐姓，延至八月中，忽請予診。據云瘧本寒少熱多，多汗而熱難退，徐醫連投白虎湯，石膏每用一兩，熱較減而寒較多，現則寒後不能轉熱，有氣自少腹上衝，疼痛異常，至不能受，約有一時然後漸漸轉熱痛，隨熱減熱壯而後痛止，胸次飽悶，飲食不進，神情疲敗。徐醫屢用順氣止痛等法，全然不應，故請斟酌。余問何以用白虎湯？據云因病者熱多渴飲，予問渴飲幾何？曰熱時約飲二十次，每次一茶碗蓋。予笑曰：次數雖多，茶碗蓋貯茶無幾，雖二十次不足兩碗，不算大渴，再問病人欲冷飲欲熱飲，則專用熱飲。予曰：據此則大錯矣。書載白虎湯症，必大渴欲冷飲，而後可投，足見雖渴欲飲而不欲冷飲，尚不可投也。況並非大渴且欲熱飲乎？且夫治瘧之法，必寒能化熱而後可愈，豈有寒本少而欲其寒多者乎！夫白虎湯在瘧門未嘗不用，然必熱瘧而後可。今症汗多熱難解，明系暑瘧，暑中兼濕故也。暑乃陰邪，熱乃陽邪，豈可徒見其熱遂以陰邪，而用陽邪之藥耶？此必誤用白虎致寒轉增，而將暑邪逼入肝腎，以致肝氣挾腎氣上衝也。曜西問瘧乃少陽症，何以轉入肝腎？予曰：五臟皆令人瘧，而不離乎少陽，少陽膽經，膽在肝葉之下，肝膽相為表裏，膽經邪熱，為寒所逼，不得外達，則內傳於肝，乙癸同源，則又內傳於腎，余向診令郎脈象，肝腎本虛，所謂諸病從虛而入也。當其瘧來寒固因寒藥而加甚矣。至熱邪為寒所遏，欲達不達，轉將肝腎之氣逼令上衝，以致疼痛異常，神昏氣逆，久之而熱漸透，疼亦漸止，久之又久而熱大透疼乃全止，邪氣透而肝腎之氣乃寧也。至始尚能食，今則全不能食，皆因石膏誅伐無過，大傷胃陽之故。曜西聞予議論，以為透闢，遂請入診，診得脈來沉象，按之弦數，左關尺尤為不靜，右關沉而不數，按之無力。予曰：症本暑瘧，無服熱藥之理，奈過服寒涼，邪陷肝腎，非附子理陰煎不可。雖然其法過大，諸公未免疑慮，權以當歸建中改生薑為煨薑，投之以觀進退。一劑後痛較減而熱較易，漸欲飲食，二劑後痛又減而熱又易，然腎氣仍沖，而瘧不能止。予竟用附子理陰煎，曜西尚在遊移，予告之曰：桂桂附子之先聲也，煨薑炮薑之先聲也，歸芍熟地之先聲也，建中既已有效，又何疑也。建中雖能溫中，不能納腎氣補腎陰以托邪也。今用附子理陰，以熟地一兩納氣歸腎，兼以平肝，即以托邪；加以附子五分、炮薑五分，溫中散寒，領邪外達；當歸三錢，和陰化瘧。斯方也瘧可以已，奈何不用，而任瘧之纏綿耶？再三開導而後肯用，如方一服，不獨肝腎安寧，而瘧竟止矣。知者無不以為神奇，適云汀宮保招赴清江，未能一手調理，半月後予自清回，復請往診，蓋其瘧已反，他醫不敢用原方，雖輕不愈。予仍以原方投之，一劑而愈。愈後連服七劑，瘧不復發，而飲食香甜，精神如舊。古人稱有是病即有是藥，不我欺也。庸庸不知，差若毫釐，謬以千里，戕人性命，如同兒戲，豈不深可痛恨哉。尤可恨者，成效在前，猶執已見，不肯遵循，真所謂下愚不移，不教誨屑者矣。</p>
<h3>吳婿瘧中又中熱治效</h3>
<p>吳澤之吾婿也，甲午歲館於孩溪，夏秋之交，天時盛暑，致患暑瘧，地無醫者，喚輿來城，至晚到家，似無重恙，乃上燈時忽然昏厥，手足抽搐不知人事，惟時作笑，旋又身熱如炭，煩躁異常，其時城門已閉，餘不及知，天明得信，隨即往看，舉家慌亂，病者情形實已危急。診其脈象洪數之中更兼躁急，夜間有劉醫來診，以為中暑。餘曰：非也，此中熱也，此熱中厥陰也。熱中足厥陰肝經，故抽搐；熱中手厥陰心包，故善笑。中暑之脈數而兼濡，暑乃陰邪也；中熱之脈數而兼洪熱，乃陽邪也；此又兼躁急，乃素本陰虧；又中陽邪，有孤陽無陰之慮。雖然勿謂全未中暑也，其作瘧也，其中暑也。因患瘧而來城，由孩溪至城幾四十裏，至晚方到，則其動身必不早，連日天久不雨，亢熱異常，一路烈日當空，四野又無避處，以中暑之虛體，日行於炎熱如焚之中，有不中熱者乎？故此乃先中暑而後又中熱也。為今之計，且治中熱，幸未服錯藥，似尚可救。以大劑犀角地黃湯加羚羊片三錢，犀角入心包以清熱，羚羊入肝經以清熱，生地輩則養陰清熱，以化亢陽，外加竹茹、竹葉、西瓜翠衣涼心清熱化痰以為佐，一服後人事漸醒，不復笑而抽搐，然尚神煩譫語，渾身不著一絲，三服後始知著褲，熱退神寧。伊長兄渭筠素來友愛，見此十分欣悅，以為全愈。餘曰：未也。中熱雖解，中暑尚未全解，暑瘧尚不得免耳。後果復行作瘧，其脈弦數之中總兼躁象，汗出不易。余知陰瘧之故，於小柴胡湯多加生地輩甘涼養陰之品，真陰難成而易虧，又系胎瘧不能驟止，十數貼後始能霍然。至次年乙未，館於東馬頭夏間又患暑瘧，張醫投以清脾飲，更覺煩熱異常，急急回家就醫，餘仍投以隔歲原方，兩劑而愈。</p>
<h3>蘭如弟鬼病治效</h3>
<p>蘭如七弟吾胞弟也，又受業於予，入泮食餼晶學兼優，學中拱服且素不好色，專惡淫邪，惟信陰陽，未免偏執。道光十三年有友鄭某妻病莫治，托求仙方，蘭如誠心設壇，乩竟自動降壇，詩句甚屬清通，自稱清風真人，蘭如以為神異。然所降之方全無效驗，此不過靈鬼遊魂能通文義者之所為，非真仙方也。果仙也，方豈有不驗者。奈蘭如十分敬信，以為神仙竟可求而至。十四年元旦乃蘭如花甲壽辰，忽獨自一人辟居云台山道院，托言持齋誦經報母，半月後回家開館，而早晚獨處密室，不許他人窺伺，惟聞檀降香氣徹夜不絕。吾弟兄久已分居，伊繼室年輕不知道理，二三小兒女更不知事，聽其所為，吾家竟毫無聞見，百日後蘭如怡然自得，偶與餘晤，謂吾子皆能誠信，將來欲傳之以道。予詢何道，謂予不信，笑而不言，予亦置之。忽於秋間伊家傳蘭如往往徹夜不眠，似與人吵鬧，不知何故？中秋日蘭如進城敬香，順至於家似有話說，予適不在，怏怏而去。據內人云：七爺神情恍惚，消瘦異常，近聞其家稱有鬼纏鬧，光景逼真。奈何予因終日診病，未能得暇，因思二十二日秋分年例祭祠，伊最重祀先，是日必到，可以面察情形。於是前期約伊早會，是日與合族在祠專候，直至日午而蘭如不來，特著人往請，竟辭以病。予更著僕人率輿夫四人將輿前去強接而至，至則在祖先前伏地大哭，口稱我如何該如此死法；且稱我如此傷痛，他竟不許我眼淚出來。眾人拉勸不起，予親自扶起，見其面果無滴淚，予曰：據弟言是有鬼矣。論治鬼予實有專長，弟無慮也。祀事畢後，喚輿同至予家，予細加盤問此鬼從何而來，伊尚含糊，予笑曰：弟雖不言，吾已知之矣。此弟煉筆錄招來之鬼也。蘭如驚曰：兄何以知吾煉筆錄？予曰：弟之生性志誠而愚，素信鬼神，聞去冬弟為鄭姓設壇扶乩，居然有甚清風真人降壇，此不過一鬼耳。夫秦皇漢武求神仙而不得，千古奉以為戒，豈有我輩凡人設此乩壇即有神仙下降者。故夫今之扶乩者有二，一則全無憑藉，自畫砂盤，假託神仙，以之愚人；一則或遇遊魂，居然亂動，誤認神仙，轉以自愚。究之愚人之害尚小，而自愚之害則不可勝言也。故夫清風真人實鬼也，而弟直以為仙也，神仙既可求而至，何不竟煉筆錄使仙與我合而為一也。故弟吃報母齋至百日者，實煉筆錄也。他人煉筆錄十無一成，而弟獨能成者，有現成清風之鬼魂，鬼欲附弟，而弟又求鬼，故一煉而成也。弟與鬼初合之時必有彼此相契之意，故弟以為神奇，而且欲傳諸侄也。久之而鬼附人身有何好處，自然轉生惡念，欲害弟命，鬼本利人之死也，甚且鬼生癡念，冀弟死而伊即借軀殼以回生，若此則逞其魑魅魍魎之術無所不至矣。愚揣度如此，然乎否乎？蘭如曰：人鬼情形，皆被兄道盡矣。弟實因扶乩有靈而煉筆錄，附弟者即清風真人，伊稱前生文士，位列桂宮，五六兩月以來常作詩文，文筆清挺，且甚敏捷，所作古風大有古氣，非弟所能，弟深佩服，以此日復一日，契合甚篤，凡所談論，無非文章道義。不意七月間伊忽語涉淫邪，弟切責之，伊亦托戲言而止。弟家素供觀音聖像，十五日弟清早敬香，伊忽於聖像頭頂幻出大紅鞋小腳一雙，弟不覺大怒，責問何褻瀆神靈，無禮至此。伊言初亦善念，今不知何故變為惡念，如肯淫欲，可以相安，否則必致弟命而後已。從此之後，日以淫詞褻語聒噪不已，偶見少婦略施脂粉，伊即幻其全身一絲不著，蠱惑弟心，甚即見一油頭背面，伊即幻出背面全體以相惑，致弟不敢見婦人之面。八月以來，伊見弟心不動，遂於夜間作鬧，使弟不能安眠，眠則幻作淫夢，欲遺而醒，弟諭以既然不合，何不便去？伊言能來不能去，已與我合氣，除非弟死，伊方能去。弟言我亦何能即死？伊言或刀或繩，皆是死法，否則耗盡精神，亦不愁弟不死。弟不聽其言，伊徹夜吵鬧，睡則抓心，弟已八夜不沾床不合睫矣。伊言弟命亦在早晚，今見兄面不過一別而已。予笑曰：弟何愚也，死生有命，鬼何能為？且此鬼欲弟死而不能死弟，乃欲弟自覓刀繩，其伎倆亦可鄙之至，弟何懼焉！予又若與鬼言曰：爾既通文義，當知情理，吾弟如此敬爾，乃忽誘之以淫，且懼之以死，反臉無情，天良喪盡，足見爾生前有文無行，淫惡多端，天理不容，以致絕子絕孫，死後遊魂無所依歸，不自修省，猶思害入耳。然吾笑爾有害人之心，無害人之力，且有我在，我將以藥治爾，不去則以火在鬼哭穴灸爾，不去則以針在十三穴刺爾，看爾如何當受。據弟云：鬼在腹中不時說語，似以說話為生氣，弟與他人言，伊即怪弟不聽伊言，更加吵鬧，其音聚於耳底，竟致不辨人言。今與兄言，伊即不吵，且若靜聽，不知何故。予聞之暗喜，據云鬼乃教門，不許弟吃豬肉。予是晚大烹肉食，強弟大嚼；據云鬼遇飲食之馨香者，雖相隔甚遠而能嗅其氣味由鼻入腹；予以大蒜汁調雄黃、朱砂末，令弟先塗鼻竅而後食，鬼竟不敢復嗅，蓋鬼不能飲食，惟借馨香之氣味以為養，每飯肉食既為其所惡，而雄黃、朱砂又為其所畏，間有合式之馨香又不敢嗅，則失所養而鬼氣亦漸衰矣。予因謂弟曰：治鬼易，治心難，妖由人興，鬼不自作。弟讀孔聖之書，而於敬鬼神而遠之一語全不領略，心多妄念，致受此累，從今以後，當正其心，不可信鬼，不必懼鬼，任彼多言，弟只將心拿定，聽而不聞，鬼術自窮。而予又以藥治之，不愁其不消滅也。是夜予與對床而眠，先制安神定魄，扶正辟邪湯藥，臨臥與服，又以云汀宮保所書"天地正氣"四字，每字上有兩江總督朱印，向聞字能辟火，茲又以之辟邪，懸於床後。又有家藏真藏香，囑人於弟臥床後暗暗點起，予親視弟臥，見其小衣不去，知其為夜間不眠地也。予責之曰：我再三教汝不要懼他，汝膽怯如此，鬼安得不放肆耶。逼令盡去小衣，且令人將衣遠置他處，告之曰：有我在此，保汝安眠，不必作中夜起舞之想也。先是鬼不獨不許弟安眠，且誘以徹夜舞蹈，因煉筆錄時有持筆手舞一法，鬼誘以如此而來仍須如此而去，實欲耗其精神也。故我言及此，是夜弟竟熟睡至辰正方覺，予亦適寤，偶然一咳，據弟云鬼聞咳聲在腹內嚇得蹌了三蹌。予更暗喜，知予必能治之也。於是第款留在家，暇則以言語治其心，晚則以藥石治其鬼，夜夜安眠，精神漸振。然鬼無我在前仍刺刺不休，服藥後較為安靜，而日間尚在胸次拱脹作祟，於是另制丸藥，早服三錢，午服三錢，晚則進藥，鬼勢漸弱。一日弟述其言曰；令兄醫道雖好，但我與爾合神，必欲治我，豈非兩敗俱傷耶！予笑曰：伊自稱文士，究竟不通，夫神藏於心，神合則心合，心合則式好無尤矣。今弟現深惡而痛疾之，心之不合甚矣，尚何合神之有？彼此說話不過借氣耳，弟如能聽而不聞，將氣亦不能借，尚望合神耶？一日弟又述其言曰：伊連日深自悔恨，先本欲致弟命借軀殼以回生，不意百般淫誘竟不動心，真是個正經人；又遇見令兄醫道高明，連鬼之情形無不灼見，真乃我前生作孽，反陷於此，進退無法，望你轉懇令兄設一良法，讓我離去，感激不盡。予曰：借軀殼以回生，本其不通之想，世有暴死而鬼附以生者，其精血本尚存也。今伊欲弟淫欲而死，必定精枯髓竭，所謂無用之軀殼，伊些須鬼氣即能回生耶？今伊既願去，伊從何處來仍從何處去耳，何必求予。弟又述伊答言曰：伊本從口鼻而來，今屢次欲從口鼻掙出，竟不能去奈何？予曰：清竅即不能去，濁竅亦可去，伊尚嫌穢耶？數日後弟又述其言曰：伊言令兄分咐濁竅可去，實屬出路，我此時亦不嫌穢，但我屢次欲由濁竅掙出亦不能去，轉懇令兄用藥之中加何藥品使我乘勢而去，感恩無盡。予笑曰：小鬼頭，敢欺我耶。夫正氣旺則鬼氣衰，正氣衰則鬼氣旺，一定之理也。今見弟正氣漸旺，伊之鬼氣漸衰，從前恐嚇之術不行，乃為哀憐之語，騙汝以騙子，以為予即可信其言，因於藥巾加大黃、巴豆之類，大為攻下，冀其乘勢而去，其實伊僅鬼氣耳，大黃巴豆攻下有形之物，不能攻下無形之氣，徒致無故攻下正氣大傷，鬼氣復旺，將更作祟，使予難治，伊視我為何如，乃敢如此見欺耶。小鬼頭刁惡異常，我自能逐漸消磨，有如淩遲碎剮，以報其惡，將來連鬼亦不能成，尚欲何往耶？此鬼凡三變，七月以前居然文人，七月以後竟是惡人，遇予以後又似小人。予親至弟家，將所作詩文、所供牌位-齊燒毀，囑弟恐嚇之言固不可聽，哀憐之語亦不可聽，總以不動心為主。伊千方百計欲動弟心，弟心動則可借氣，心不動則伊不能借氣，不能借人之氣，鬼氣自易消磨，聽而不聞乃不動心之要著也。一月之中，予與弟同臥起，不時開導，加以藥力，鬼氣漸下不至心胸，語音漸飄不在耳底，而眠則無日不安也。九月二十日外赴清江，半月回鎮，看弟光景未見大好，據云鬼見兄出門大為歡喜，以為此番准可要弟之命，在腹中頗不安靜，因兄前有不去將針之言，聞有包姓針科請來用針，鬼將氣拱在中腹，包姓即拱處一針，拔針之後覺氣外泄，而鬼並未去，反行得意，夜間漸不安眠，精神漸覺恍惚矣。予默思治鬼原有針法，書所謂十三鬼穴一齊針是也。但此鬼已與人合而為一不能用針，前言不過恐嚇之耳。不意弟不解而妄請針科，包姓又不解而妄用針法，所針又非鬼穴反為鬼所戲弄，致傷正氣，正氣虛則鬼氣旺，所以又將作祟也。幸我早回，尚無大害，惟此故不能與弟直言，弟知即鬼知也。因慰之曰：包姓本不善針，而此鬼伎倆有限，亦無須用針大法，今我已回無慮也。弟言鬼見兄回，亦甚懼怯，現在此報怨命運不好，無生理矣。予曰：此無恥之魍魎，不必睬他。復將弟邀住家中，仍同臥起如前，調治二十日後，鬼氣漸由中腹下至少腹，語音更遠而低，且不成文，意欲拱腹無力而止，初時每大解後鬼必拱鬧，正氣稍虛也。兩月餘以來轉覺大解後腹中稍快，鬼氣漸消也。弟亦知鬼無能為，欲回家去住，予知無反覆，聽其自便，惟丸藥尚逐日令服，囑全無而後已。弟回家後亦二十餘日，而後影響全無，真如淩遲碎剮，鬼不成鬼也。所服煎方不外乎氣血兩補兼以定魄安魂，服丸方則生熟黃精、龍骨、龍齒、虎骨、鹿膽、犀角、羚角、琥珀、朱砂，諸多寶貴靈通之品，鎮心辟邪，外加桃奴、箭羽、雷丸、雄黃殺鬼之藥，又以羊肉湯和丸，因鬼系教門，投其所好，又借腥膻之氣以散鬼氣。知弟病者鮮不以為萬無痊理，乃竟為予治癒，一時以為大奇。然此病固非予不能治，非弟素不好色不能治，而非親兄弟而甚相好者不能治，不然徒知用藥，而無千萬言講說之功，與數十日同住之久，亦安能獲效哉。究其受惑之原由扶乩而起，今之以扶乩惑人者甚多，能毋聞之而警懼乎。鬼之挪揄蘭如，刁詐百出，變幻無窮，不能備述，此不過紀其大略而已。</p>
<h3>劉松亭患瘧轉痢治效</h3>
<p>劉松亭清江浦知名之士也，年將七旬，夏患暑瘧，寒輕熱重，醫者朱某亦清江之翹楚，清扛風氣愛用大黃，不論風寒時邪，見熱不退即行加用。朱某未免稍染習氣，見劉公熱重，即加大黃兩劑，後遂變為痢，紅多白少，裏急後重，一夜二十餘遍，年老之人又屬瘧後，委頓不堪。知予在浦，延請斟酌，予至見朱某業已定方，仍以大黃為主，予曰：痢疾滯下，大黃原在所當用，但此症非本來痢疾，乃瘧變為痢，少陽熱邪陷入太陰，在書為逆，若再攻下，恐脾氣大虛，又屬高年有下陷之慮，書稱和血則便自愈，調氣則後重除，似宜以此為主，兼用喻西昌逆挽之法，使邪氣仍從少陽而去，庶為平穩。朱某亦以為然。囑予立方，予用當歸八錢、白芍八錢、甘草八分以和血也，加紅糖炒查肉三錢、木香五分、廣皮八分以調氣也，加川連五分、黃芩八分以清熱也；外加柴胡二錢，以提邪出少陽，一服而大解通暢，滯下全無，再服而紅白皆淨，其家疑復作瘧，而瘧竟不來，蓋皆化去矣。此方治虛人痢疾最宜，予屢獲效，然非重用歸芍不可。聞清江藥鋪見用歸、芍至八錢以為奇，夫用大黃至一二兩不以為奇，而用歸、芍至八錢則以為奇，此邦之人狃於積習，良可慨也。</p>
<h3>滸關顧某治效</h3>
<p>道光九年予應滸關黃拙安之召，有顧某因與人忿爭，忽然直立不能臥，諸醫罔效，懇予診治。予一見曰：此肝葉倒豎也，伊家驚問肝倒轉來還能治耶？予笑曰：病患不能識，既識之易易耳。用小溫膽湯加龍膽草，再加金器同煎，另以豬膽一個懸高梁上開一小竅，令膽汁滴下，將火爐藥銑對準，使滴滴俱歸中，俟汁滴盡藥亦煎熟，一服而愈。舉家以為大奇，嗣有關醫虛心者，特向予請教，以為先生治法可謂奇效，但案云肝葉倒豎，而所用藥品皆入膽經何也？應之曰：此安甲和乙法也。肝為乙木，膽為甲木，膽在肝葉之下，肝之庇蔭若母子然，凡肝氣上逆未有不膽氣隨之者，故平肝不及，不如安膽。譬如母攜子出，與人作鬧，勸母不依，姑以餅餌騙令小兒欲歸，其母因愛子之故，亦只得息怒而去。且夫肝為將軍之官，謀慮出焉；膽為中正之官，決斷出焉；經以十一臟皆取決於膽，而肝尤取決於膽者也，故安甲木即所以和乙木也。關醫聞之拜服而去。</p>
<h3>丹徒縣吳晴椒內治效</h3>
<p>杭州進士吳晴椒宰丹徒，其夫人忽得異疾，每於梳頭後胸乳間發紫斑，心中難過之至，約一二時許斑消心定，十餘日不愈。乃請予診，予問何不早梳頭？曰：早梳亦然？何不遲梳頭？曰：遲梳亦然。會遲至申酉梳頭亦無不然，第惟不梳頭耳。診其脈皆沉象，兩關按之則左弦數而右滑數，予曰：此脾氣也，而兼乎肝。左沉弦而數者，肝氣鬱而肝陰虧也；右沉滑而數者，脾氣鬱而濕熱不宣也。夫脾主健運，肝主條達，今皆以鬱故土受木制，濕熱亦鬱於脾而不化。脾主四肢，梳頭則兩手皆舉，而脾氣上升，濕熱隨之而升，故心胃之部外則發斑，內則難過，梳頭之後手下垂，而脾氣亦下，濕熱仍歸於脾，不復上擾，故病象暫退，而根未拔也。所幸濕熱不重，只須和其肝脾，開其鬱結，透其濕熱，病自退矣。予進以補陰益氣煎，以熟地平肝，以山藥健脾，以柴胡疏肝，以升麻蘇脾，以陳皮、甘草、當歸調和其中，一服而愈，再進二服以善後，永不發矣。</p>
<h3>謝蕉石先生間日不寐治效，附戴六兄治效</h3>
<p>謝蕉石先生江西人，原任開歸道現揚州安定書院掌教，其人膽怯多疑。適虞運司有七情鬱結之病而愛吃熱藥，揚醫鄭姓盡以桂附投之，鎮江府學司訓陳君更加石琉黃丸，以致臟腑燒爛，大便下血如爛魚腸，猶不肯稍服養陰而死。蕉石先生素所交好，因此傷懷，轉生疑懼，忽然間日不寐，不寐之日，夜固難過，而晝亦各病叢生，如頭暈頭痛，腰疼腿疼，心跳肉晌，腹脹痛等症，或來或去，變幻無窮，惟得寐之日較為安靜。揚醫無能治之者，先生更加惶懼，延一張醫字學林留住齋中，日夜醫治，毫無效驗，而病象更多，精神日減，隔江延予。即予初亦不解，不過育心寧心等藥，亦無甚效。三日後予細想病情，審視脈象，不覺恍然大悟，蓋其脈象三日以來大小疏數不能一致，有似邪脈，而察其神情並無外來邪祟，必三屍為之也。蓋嘗考之三屍，或稱三彭，上屍彭琚住泥丸宮，中屍彭質住膻中，下屍彭矯住臍下丹田，三屍喜人為惡，不喜人為善，修煉家必斬三屍而後得道。然能斬之者何人，修煉反成瘋魔，皆三屍為之也。至於人之運用，總在一心，夜寐則神靜心藏，何反多夢，亦三屍為之也。人有隱瞞之事不肯告人，而夢中反自說出者，三屍喜揭人之惡也。夫心為君主之官，膽為中正之官，如果心正膽壯，三屍亦可安靜。若心虛膽怯，疑懼環生，則三屍從中侮弄，病情愈出而愈奇，俗所謂疑心生暗鬼者實常有之，不必外來之鬼，大約即三屍耳。三屍謂之蟲，又謂之神，極其靈異，雖守庚申者不能斬也。今蕉石先生心膽本虛，又生疑懼，故三屍得間之作祟。此非治三屍蟲不可，但用藥不與病人知，病人知之，則三屍蟲知之，二豎之技量可畏也。於是與四少君細剖其理，囑以開方，勿與尊人看閱，症始可治。少君有難色，謂家君不獨閱方，且時本對草，焉肯不看方藥？即另立藥方，家君常常服藥，稍有異味，要追究奈何？予思方不與閱不可，藥全與知不可，好在先生有性命之憂，而十分信予，當可進言。因於進診時謂之曰：大人此症調治良難，然能不究方藥，則予煎方外外另有丸方，可保一服即效。若大人必知何藥，則藥必不靈，予技已窮，只好告辭。先生因予言激烈，只得答應。予因另開丸方，皆殺三屍蟲之藥，加以寶貴鎮邪寧心之品，是晚正值不寐之期，以二煎湯藥下丸藥三錢，居然一夜安眠，從此以後無夜不寐，精神如舊，二十日來並無反覆。予即告辭歸裏，蕉石先生云：病已痊好，不敢屈留，但早晚必得一人看脈才可放心，並願送銀一兩在此過夜，當請何人？予對曰：府上本有張先生住此，何不仍請伊來。張醫脈理頗好，時運未通，一兩一宿，必然情願，好在無須伊另用藥也。於是將張學林請來，予告之曰：大人此症甚奇，予幸猜著，特薦先生來此，萬勿更方，先生住此，大人全愈，即算先生看好，亦可得名，不與先生爭功也。伊似甚感佩，再三問予究系何症，丸方何藥，予如不告，恐其多心，因大略告之曰；此因疑生蟲，不過用殺蟲之品，加朱砂、琥珀以寧心育神耳。但治法藥不與病人知，幸勿說破。次日予即辭歸，乃七八日又專差過江說病已反，逼予到揚，予至謝府，先晤四少君，問病何故忽反？少君曰：此張先生之害也。家君本時訪丸方為何藥，總對以冠仙先生不知在何處合來，實在不知。乃張先生來，家君再三盤問，伊即言略知一二，大抵朱砂、琥珀之類，家君即將予喚進大聲呼斥，謂予明知不言，朱砂如何吃得，人家以毒藥殺汝父，汝亦不吉耶。從此以後不吃丸藥，仍間日不寐，諸病叢生。張先生無法可施，只得又來奉請。予聞之，亦著急之至，進見蕉石，即懇予曰：先生救我。予曰：予前本救大人，不敢毒殺大人也。病已愈二十日予始辭歸，予之治法，本囑大人不問藥始有效，奈大人多疑，必訪何藥，張醫不知醫理，告知大人，因此不服丸藥，除此之外，尚有何法耶？大人曰：吾今再吃丸藥如何？予曰：再吃亦斷無效也。是夜正當不寢，大人囑煎藥人加丸藥三錢在內，臨臥服之，依然不寐，次日難過異常，吃飯時忽請予進內，謂予曰：先生看我如何？時二月初春寒不減，大人重裘皆大毛也，乃忽皆脫去，止穿絲綿小襖，而大汗如雨，將小襖濕透胸膛坦開熱氣騰騰，據云近日每飯必然大汗，今日僅吃飯一口而汗即如此，直截不能吃飯，奈何先生務要救我。予想三屍蟲因知昨晚藥內有制他之藥，故更幻出此象也。予因此轉得靈機，因慰之曰，不必過急，容予思之。蓋汗雖心之液，而飲食時多出於胃，蕉石性多偏好，其飲食非極熱者不吃，其胃本有積熱，三屍故得借此作祟，今借治胃熱，暗加一治三屍之藥，假設其詞，使病人知其藥而不知其用，三屍雖靈同二豎，亦不知所避也。少間謂之曰：大人不寐之症尚可緩治，而此大汗倒甚可畏，急須挽救，不然恐汗脫也。伊本心虛膽怯，聞此急求治汗。予曰：大人果然顧命，從此飲食不可過熱，而胃中積熱已多，必須重用蘆根帶涼帶通，汗可漸少；但蘆根必須常服，而其性頗涼，恐服之又生泄瀉，必須更得一藥可制蘆根，不至泄瀉。如二朮健脾可制泄瀉，而未免過燥，與蘆根不合。再四思維，止有黃精一味，脾腎雙補，可與蘆根合用，不改其清涼之性，而又可不至泄瀉也。蕉石即要本草來看，予即將本草贊黃精功用處指點與看，而內有殺三屍蟲一語，伊本不留心，而予不等看完即令拿去。伊怕出汗，即令速買二味，蘆根二兩，黃精三錢，當晚與服，是晚吃飯亦即無汗，是日本當寐之期，夜固安靜，明日當不寐之期仍服二味，汗既不出，夜得安眠，從此煎方，以二味為引，夜夜安眠，諸病皆無。予屢告歸，伊家款留不放，直至一月後始得旋裏。四少君問予前丸方何以無黃精？予告之曰：此用藥之道也。此等怪症實不經見，予精思而得之，所用丸藥十數味，多方以治之，以為當可有效，尚留一二，以為後圖，設使竟用完了，後被張醫說破，豈不束手無策耶！此道光十六年事也。越十五年，咸豐元年，又有戴六兄之症。戴六兄字槐卿，素亦心虛膽怯，偶住場下空房獨宿，頗生疑懼，忽覺背心微寒，漸覺周身怯寒，因而睡去，似入黑暗地獄中，繩捆索綁，難過異常，欲喊不能出聲，欲動如石壓住，惡境多端，不能細述，夫來必待有人來帶推帶喊，得以醒來，如出苦海。次日另移臥地，而惡夢依然，從此神情恍惚，飲食不甘，睡則惡夢難受，或炎熱時蓋薄被猶嫌涼，或夜回涼不蓋被猶嫌熱，或夜間大笑，或白日大笑，不笑時間之，彼並不知。由場下回揚，覓一汪醫診視，與以歸脾湯宜乎合式，乃二三劑後，覺心忽然落下，自覺有聲，從此五日不寐，全非歸脾湯之故。只得過江覓醫，先就蔣醫某診，蔣以為陽虛用桂附等藥，正值長夏炎熱非常，伊不敢服，轉就予診。予診其脈，大小疏數不一，知是三屍蟲，因疑懼而作祟，與蕉石先生同。因告之曰：此症非寒非熱，奇幻百出，醫家鮮能知之者，兄既遇我，可保必愈，但必不看藥方，如看藥方，予斷不治。伊素知予，深信不疑，所有藥方，命伊子來取，予見面即於補膽養心藥中加以黃精，囑臨臥服，即得安眠，不做惡夢。然其所現之症，大有祟氣，恐其所住空房本有陰邪之氣，以致三屍借此作威。又另合丸，方用黃精為君、佐以犀角、羚角、龍齒、鹿霜、虎骨、龜板、雷丸、朱砂、琥珀諸多寶貴靈通之品，壯心膽而通靈明，制服三屍。又加箭羽、桃奴，兼制邪魅之氣。又囑用上等朱砂大塊包藏頂發內，二十日來，不獨惡夢永絕，而諸恙全無，不似當年蕉石大人之難治。此等症候，古書所無固由，予看出睡夢顛倒皆三屍為之之理，亦由書稱藥有不與病人知者真不我欺也。《內經》論夢甚詳，亦各有因，如陰甚則夢大水，陽甚則夢大火，上盛則夢飛，下盛則夢墮，甚饑則夢取，甚飽則夢與，皆有至理。夫人寐則心如死矣，神盡藏矣。夢又誰為之主？非三屍神為之而誰為之哉！雖岐黃未言及此，而予因神明所通，所治二症現有明效大驗，殆亦開千古不傳之秘也歟。</p>
<h3>鄒姓傳屍癆治已得效，被人打破一症</h3>
<p>西門外打索街鄒宅同裕旗老家也，有寡居八房次子吐紅，請某醫診治不愈，轉請王九峰先生診視一次，亦未見效，轉囑請予。予見其子午將二十，生而肥白，病雖久並不消瘦，吐紅不多已止，惟食入必吐多日，已納穀食，神情疲憊，脈來不甚細數，而大小疏數不一。予細詢其家曾有此症而死者否？則其父死於瘵，長子亦然，今及次子。本來在中堂開方，即病者所住房外，其家房屋甚多，予拉某醫及其陪醫者另至一廳，去病者住房甚遠，因告之曰；此非尋常怯症，乃傳屍症也。某醫年輕，初出診病，不知何為傳屍，告之曰：此症乃有癆蟲，歷代相傳，由長及幼，可以滅門，其蟲之靈，甚於二豎，男子由腎傳心，心傳肺，肺傳肝，肝傳脾，至傳脾則修煉已成，其先尚容人進食，彼亦資其精氣，至修煉成則不容人進食矣。今食入必吐，無法可治，奈何？某醫問古人豈無治法乎？予曰：治法雖有大概無，惟仲景先師有獺肝丸一方最妙，予曾在揚治過一泰州人，果然有效，系加獺肝於老六味中，三料而愈。共用好獺肝三個，然其病未久，蟲尚未成，故可得效。後遇此症甚多，蟲或將成或已成，雖有獺肝，亦不能治，今症已傳脾，不可為也。且獺肝一月生一葉，必至臘月十二葉變化始全，功用乃大現在初秋，其肝不過七葉，以變化未全之獺肝，治修煉已成之癆蟲，有何益乎？論此症本無治法，果能納穀不吐，尚有生機，今再四思維，止有鰻魚湯一法。予見《東醫寶鑒》載人家染傳屍癆，相繼死者，不一而足。後傳一女，慮其復傳，竟將此女拋棄水中，漁人網得，見其尚生，適值鰻魚旺產，船上以鰻代飯，即以湯飲之，其女漸蘇後，日以鰻為食，癆蟲遂死，其女猶生，即為漁家婦。本草亦有載鰻魚能殺癆蟲者，今若覓鰻魚一條，煎湯與吃，但不可說是鰻魚，只說是腳魚湯，用以滋陰，或可不吐。但得一日不吐，即日日以此湯飲之，連粥食亦可不吐矣。從此調理，可望殺蟲活命。俟至冬間，再覓全獺肝，合丸與服，可以除根，但制蟲之品萬不可與病人知，即傳屍二字亦不可與病人說，二豎子之利害，真可怕也。故今與諸君說話，必遠隔病者，臥室少走風聲，仙丹無用矣。其時某醫漫聽漫應，全然不解予言，其家依言，覓有小鰻一條，煎湯作腳魚湯進，居然不吐，另有煎方亦不吐，明日如法仍不吐，且能進粥十數日來，藥食與鰻魚湯雜進，全然不吐，納穀漸多，居然望好。予適欲赴蘇，特囑其家及某醫藥方不過敷衍病人，全靠鰻魚，但不與病人知一言，須牢牢切記，不可視為閒話也。予赴蘇一月，中秋始回，至家則鄒姓日日著人請予，至其家則吐病已反幾十日矣。問何以故？則九峰先生到鎮，某醫本撲名之徒，欲恭惟先生，逼伊家請診，伊家言李先生治已得效，又何必請九峰先生。某醫以為李先生乃九峰後輩，今李先生有效，再請九峰參酌，其效不更速耶。鄒姓乃聽其代請某醫，先將予傳屍蟲之論問九峰以有無，先生答以所論真確不誣爾，初學不知耳。某醫又將鰻魚湯治法告之，隨同往鄒宅，九峰腿足不便，須人扶持到房中，診視後扶至中堂坐下，與臥室僅隔一板，而先生年老恍惚，略坐片刻，忽大聲曰：此傳屍症也，有蟲之患必得大鰻魚一條，用老僧尿壺同陳倉老米煨爛，合搗為丸，服盡則其病可愈。但不可與病人知，此蟲極靈，人知則蟲知，不肯受治矣。九峰本重聽耳聾之人，言語聲高，病人朗朗聽見，九峰去後，伊家如法合藥，急與病者服，到口即吐，再以鰻魚湯與服，亦到口即吐，病者亦知非腳魚矣。伊家尚向予求救。予曰：前法已是無中生有，幸而獲效，聞一月以來大有起色，如能全好，豈不於難治之症得一妙法耶！不謂破此法者，轉在九峰先生。然此皆某醫多事之過，且無記性之過也。如記予言，將先生請之後廳，雖大聲無害矣。今實無法，只得告辭。後聞諸醫雜進，日見其壞，即於八月內死矣。病者尚有一弟，予囑其速速過江，到同裕去躲避，不可見兄之死，蓋屍蟲之傳人，往往即在人死之時也。今聞其弟尚未接此症，可謂幸矣。此症已得效，被人打破，而猶記之者，予思鰻魚竟能治癆蟲，只要於未成勢時，尚少知覺，未具神通，日食鰻魚，竟可治之，保人性命。所望人家，有此害者，早為防備耳。（不足盡信）</p>
<h3>徐氏子怪症</h3>
<p>徐某予季穠兄之親也。予初診病，兄薦予至徐家診其子之病，予至其家，見其子始八九歲，立於大廚之榻床上，以手敲廚環連連不住，貌甚清秀，面無病容。予問何病？其父謂敲廚環即病也。予笑而不解，其父曰：且請少坐，還有病來。予見桌上有一方，藥三味，芫花、牽牛、大戟，乃張在韶之方也。亦初看未服，忽然聲音，其子跌倒在床，旋又扒起將身彎倒頭面，出於兩腳後，片刻忽又跌倒，扒起身往後彎頭面出兩腳前，中腹挺起如橋，亦片刻忽又跌倒，扒起仍靠廚敲環，據其父云前幻象甚多，連日變此樣耳。懇賜治法，予曰：此冤孽病也，想此子前生乃教戲法之師父，因教小兒，至於傷命，今此小兒來報冤耳。不然此等翻跟頭學且難能，何自然而無苦耶？問其眠食如常，惟起床後則有如許異樣，蓋小鬼頭力量有限，尚不能致人於死，全靠醫家妄用攻下，傷其正氣，乃能索命耳。以後斷勿服藥，惟多為超度，可望解結也。隔數日遇其父問令郎愈否？則曰：連日不翻跟頭，逐日打聊叉矣。又隔多日，見其父問連日如何？則曰：連日不復打聊叉，起床即逼人將伊倒豎，只得將椅靠板壁，將伊頭向下腳向上倒豎起來，從朝至暮，並不難過，且要剪子剪紙作人為樂，惟飲食需人喂之，至晚則安眠如故。予曰：此真冤孽光景，尚不至死，何不請高僧放焰口以解釋之。時竹林寺恒贊大和尚頗有道行，予囑令親往拜請，又數十日遇其父問令郎如何，伊笑對曰：先生真多情人，小兒不過蒙診一次，而月餘來見面必問，可謂難得，今告先生小兒全愈矣。問何以愈？則竹林寺大和尚放焰口之後，一日忽然而愈。此症予初診病，閱歷未深，未敢妄治，而猶記之者，一以見病之奇，一以見冤冤相報，擇術不可不慎也。予從來不信釋教，自行醫後常見鬼神邪祟致成瘋魔之病，治無不效，而必囑服藥時放焰口一台，無不即愈，乃知鬼需冥資，竟非誣也。徐父已死，徐子現存，住花巷內。予曾見之，念書未成，年將半百，大有呆形，全非幼少時清秀之貌矣。</p>
<h3>缸瓦廠張大兄鼻淵治效</h3>
<p>張瑞郊大兄，予世交也。忽得鼻淵症，伊家常延徐醫，因請調治兩月有餘，濁涕濃臭不減，更增鼻塞不通，頭昏而痛，徐醫自稱所用之藥，皆古人鼻淵治法，查書可證，奈此症最難治耳。張大兄不得已來就予診，情形恍惚，予診脈畢謂之謂之曰：症非難治，但治不得法耳。初診立方，令服藥三帖，鼻涕大減，鼻全不塞，頭不昏痛；再診原方加減，令服七帖，竟全愈矣。照方令加二十倍，熬膏常服，以杜後患。有伊友問予曰：他人醫兩月餘無效，而加病，老翁一見以為無難，一二診而果全愈，何其神也。予笑應之曰：此非足下所知也，行醫必知古方，不知古方有合用者，有不合用者，全在醫有靈機，不可泥古也。況鼻淵一症，古方全不合用，予向過滸關適有總辦張姓正患鼻淵，諸醫不效，托總庫黃拙安懇予診治，予閱所服之方，無非泥古法者。蓋古方治此症，大抵用辛夷、蒼耳輩通腦之藥，殊不思《內經》云：膽移熱於腦，則心頞鼻淵。今不知治熱之來路，惟用辛熱之藥上通於腦，腦愈熱而臭涕愈多，日久腦虛，頭昏頭痛所由來也。治不得效，甚有謂之腦寒者，經明云膽移熱於腦，何得謂之寒。夫鼻淵由腦熱而來，腦熱由膽熱所致，只須涼膽，使無熱可移於腦，腦雖有餘，熱自由濁涕而去，何愁病之不愈哉！予竟將此理開於脈案，方用犀角地黃湯，以羚角易犀角，清補肝膽。蓋膽在肝短葉之下，相為表裏，清膽必先清肝，甲乙皆得所養，則不生火而熱自清。再合溫膽湯，重用竹茹兼清肺胃以化痰，藥煎成後入豬膽汁少許以為引，一藥得效，數服全愈。今治張兄之病，予若不思而得者，蓋有成竹在胸也。其友聞之，稱拜服而去。</p>
<h3>余泰符子邪祟治效</h3>
<p>余泰符在西湖布業，其子因夷亂後家道中落，心多抑鬱，人事改常，曾經自縊，得救未死，嗣後雖不瘋，而如癡已數年矣。道光三十年患目羞明起翳，醫半載未痊，特詣天長眼科醫治，多服發散，目患未愈，轉生痰火，曾經半夜投河，救起後更癡呆，不言不語。茲於咸豐元年回裏，就醫非止一人，大抵清火化痰作瘋病治，方以龍膽瀉肝湯為主，而癡呆更甚，飲食減少，作嘔作乾，頭痛少寐，目患亦絲毫不減。因來向餘求診，其脈滑數有之，而不甚有力，且疏密不一，詢其大瘋數年內不過二次，總要自戕，並不惹人，且必避人，現在全無瘋象，惟有呆象，多服苦寒，不獨傷胃，不思飲食，且胃不和則臥不安，每每夜不能寐，心何以寧，神何以育？予知此症乃陰分大虧，沾染邪祟所致。邪祟者，非必有鬼魅，或空房暗室久無人住，陰氣甚重，集久成祟。遇氣血虧虛之人，祟氣即乘虛而入，使人如瘋如魔，癡呆不語，病名淹殜。又即《左傳》所謂晦淫惑疾也。蓋左氏載醫和之言有云：天有六氣，曰陰陽風雨晦明，過則為災。內有云：晦淫惑疾，淫者過也，晦太過則中人而成惑疾，有如邪祟。今此子乃中晦氣，並無邪鬼依附，治之不難。然有鬼之瘋，只要將鬼驅除，即無後患。此無鬼之魔，雖將祟氣驅除，而氣血兩虧，調補不易。且臟腑久為祟氣所據，神魂不能自主，加以本身三屍，再喜與外邪結黨助虐。今外邪雖去，恐三彭尚不能安靜，治癒後仍宜大補氣血，使正氣充足，邪不能干，即三屍亦寂然不動，而後可能全愈也。於是以煎方養陰育神，另制丸方鎮以寶貴之品，通以靈異之品，使祟氣逼處不安，而本心之虛靈由漸而復。每日以煎藥下丸藥三錢，五六服後言笑如常，寢食亦皆安適。其丸方與治戴六兄方大略相同，其藥一料，不過三兩。予囑以再合一料，兼服煎方峻補，以杜後患。惜乃翁吝嗇，竟不肯從，僅要一膏方而去。現在病已若失，後來反復與否，非予所知也。</p>
<p>《仿寓意草》卷下終</p>
<h2>跋</h2>
<p>此編外尚有《知醫必辨》，林謹遵遺命未敢付梓。先君晚年見醫學日雜，多狃於積習，防後人習此亦為所誤，特明辨若干條，以除其惑。所辨切中時弊，皆有所見。大抵類吳又可之粗率，則動用攻發，致犯虛虛。不善讀《景嶽全書》，過信其偏論，則動用溫補，致犯實實。其他或誤會古方，轉致貽害。更有不得不明辨者（如肝陽不斂，認作腎氣不納，妄投金匱腎氣湯之類是也），惟誤者不察，明辨何益，將徒肆譏評耳。故此卷只合傳家，難以問世。數十年來，知己爭相傳鈔，輒云獲益，此不梓尤梓矣。至邑乘列我先君知醫，不辦於書目，而不及《仿寓意草》，是亦傳聞失實之一證。聞同人疑之，爰謹陳其顛末云。</p>
<p>男士林敬跋 </p>
