<header data-type="book">
<h1>景景醫話</h1>
</header>
<h2>腸癰</h2>
<p>族侄欽文，號佩珊，其高祖自蘇遷常，惕身叔名爾昭之孫也，赴日本遊學返，見余曰：「赴東入普通學校一年，方畢業，患腸癰，入醫院。」東醫曰：「是不難，剖而去之可也。」，不旬日，已平復，詫以為神，遂即以東醫為師，在千葉縣專門醫學校習業，又二年學成，今得畢業<span class="註"><small class="雙行小字">文</small></span>憑而返。余詳問其狀，亦甚驚異，嗣赴常赴甯，忽聞其又驟赴日本，未知何事？不一月，得其家中書來，謂舊病復發，不能自療，急至日本，求其師醫治。師仍曰：「是不難，剖而去之可也。」乃不料一剖後，溘然未醒。不知何以昔者效而今不效？余默思其故，前者之效，氣血未衰，愈後失調，元未復而病根仍在；後者之不效，氣血已衰，是以遽殞耳。乃知猶是病也，而體之虛實，不可以不辨，混同治之可乎哉？</p>
<h2>急勞</h2>
<p>江建霞，名標，余至好也。一夕筵次，聞其咳嗽，余曰：「君咳不暢，有外邪閉塞肺經，宜服開泄藥。」江曰：「有西醫勸服止嗽藥水。」擬即服之矣。余曰：「西藥余未詳其性，但顧名思義，恐是劫劑，古云『傷風不醒便成勞』，似不宜服。」渠意不謂然。江與余省試，先後出汪瑤庭先生門，時汪任長邑，其明日為師母壽誕，約祝壽再見，至明日，江不至，晚筵時，瑤師云。江僕來，言建霞病不來矣。「以為小恙，未之省視。又匝月餘，聞噩耗，為之駭然，不意筵次一別，遂成永訣。後晤其兄宵緯云。病重時曾至曹君智涵處診治，曹極言病險，建霞猶不為然，曹告其家人曰：「尺脈弱甚，腎虧已極。」。余細思之，此猶是邪留於肺，肺病，金不生水，為止嗽藥水強止其嗽之害。蓋腎陰素虧者，肺熱液涸，腎無來源，往往不起，勞瘵中有七日之急勞，半由於此，人皆以為日甚短，不疑其為勞耳。</p>
<h2>走馬牙疳</h2>
<p>佘友范某，其岳<span class="註"><small class="雙行小字">父</small></span>走方醫也，有草研爛，以少許貼山根，取泡挑破，治走馬牙疳極效。範識其草，到處皆有，而不知其名，余曾囑其覓來植諸盆，不久即萎，繼余侄女患是病，兄來索此草，無以應，但以意會之，矚其用喉科中異功散少許，和蒜搗爛，亦於山根取泡，果效。記得張舜欽傳方，用斑蟊、麝香、白胡椒，調薄荷油，貼兩太陽<span class="註"><small class="雙行小字">穴</small></span>取泡，治頭痛如刀劈者，亦此意也。病之經絡不同，則貼之穴道亦異，以此類推，當再可以治他病之宜拔毒外散者。</p>
<h2>西法化驗</h2>
<p>見某報紙載有人患恙，鄰予以單方藥兩味，係大辛大溫。發汗散氣者，服後即殞。某告渚公庭，命西醫取藥化驗，皆無毒。余按凡病之不在表者，及表分素虛者，皆忌表；病之不在裏者，及在裏而不實者，皆忌下，故麻黃、細辛，大黃，芒硝，並足以殺人，即和平之晶，苟不對症，亦足以輕病變重，重病致死，取諸藥以化驗，豈必有毒乎？</p>
<h2>倒視</h2>
<p>《民立報》載美國阿倭吾亞市，有少年格柏魯迭拉，其官能之奇異，映於眼者，順皆為逆，如下樓梯，則目為上而墜落者，屢矣；馬車從右來，則目為左而沖僕者，又屢矣，就診於紐約專門醫希蒙博士，據云係因視神經有異狀之故。竊考《名醫類案》載呂滄洲案，視物皆倒植渭為倒其膽府；陳吉老案視正物皆斜，斜者反正，謂為閃倒肝之一葉，搭干肺上。又某方書云。桌椅等平者反側，側者反正者，此胸膈有伏痰也。。魏玉璜駁陳案，謂肝去肺位甚遠，安能上搭？余謂目係內連肝膽，此就痰滯膽絡，治用膽星、半夏、絲瓜、蔞實、赤芍等，當不致誤。錢仲陽用郁李<span class="註"><small class="雙行小字">仁</small></span>治目張不得瞑，此藥潤而散結，亦可移治。至孫真人謂風入腦，則視一物為兩。李東垣謂食辛熱物太甚，辛主散，熱助火，上乘於腦，則視物無的實，以小為大，以短為長。張子和謂痰熱病，則目梘壁上皆是紅蓮花，與上症雖稍異，而皆可互參，惟視一為兩，視小為大，痰症有之，虛症亦多，精散故也，須於脈證詳辨之。</p>
<h2>痧穢宜嚏、過飽宜吐</h2>
<p>吳尚先《理瀹駢文·略言》云：「上用嚏，自注嚏即吐也。」在上宜嚏，感邪從口鼻入，宜嚏。按嚏法與吐法異，凡六淫之氣從鼻入者，宜用嚏，就其受病之處驅而出之，故五六月暑濕時令所感，氣兼穢濁，發為痧症，尚未入營分者，取嚏即愈，以其邪在清道也，是即經所謂「天牝從來，復得其往，氣出於腦．即不干邪。」者是。若飲食不慎，或過飽面填息，或感穢氣而與胃中之宿食、痰飲為伍，上填胸膈，則宜．用吐，吐必病本從口入，亦就其受病之處驅而出之。但嚏法、吐法，俱治邪之在上焦者，要不得云嚏即是吐也。推之風寒之宜發汗，風熱之宜涼表，花柳病之宜通利精竅，皆就其受病之處驅而出之，斯即病在上焦，毋犯中下，病在下焦，毋犯上中之旨。</p>
<h2>痧症、鼠疫</h2>
<p>又按痧症，必有時行穢濁之氣，夾雜而成，亦瘟疫之類，特其輕焉者耳，至時行極盛，互相傳染，比戶皆然，便是疫矣。其病亦由表入裏，由衛氣而入營血。其初起自鼻入者，固得嚏即愈；其氣自口入者，用葉天士炒香枇杷葉方飲之；其自皮毛入者，用刮(痧法)最佳，藥則芳香逐穢為主，而視其兼症以成方。若病已深入營分，則宜刺委中穴，僅在氣分者，不宜刺也。</p>
<p>昔遊閩垣，鼠疫盛行，詳究其病，由濕熱成毒，深入血分，壅塞經絡，窒不能行，隨所窒而結核。明是熱病，而用涼則更遏伏，用溫則又助毒益劇，惟急刺委中穴出血，再用紅花、川芎、天仙藤等溫藥以通絡活血，即繼以犀角、紫草、丹皮、鮮<span class="註"><small class="雙行小字">生</small></span>地、絲瓜絡等涼藥以通絡涼血，兩方之進相間，不過鐘許，庶幾有濟，否則，初方嫌性溫助熱矣。余曾用之有驗。</p>
<h2>寒包暑熱</h2>
<p>一方面溫涼藥並用，或先後分用，皆就其病以施治，非必用溫者必不可用涼，用涼者必不可用溫也。余前在湘省，襄某中丞幕，一日中丞出，中軍阮某隨行，時溽暑鬱蒸，比返，大雨驟寒，將進署，阮某衣履盡濕，忽墜馬昏倒，舁入，譫語喃喃，言有人揪之下，索博負。群以為祟。余診之脈，沉分洪數有力，而無汗，膚如灼，引被自蔽，猶惡寒。余曰。此連日之暑熱為一時之寒濕所束也，宜先辛溫以發汗，俟表分之寒濕去，然後辛涼以解之。乃用羌活、香薷、蘇葉、陳皮等，令其先眼。又預開白虎湯，去粳米、甘草，加西瓜翠衣、扁豆衣，囑其煎就，曰「候脈浮汗多時，即接服之。」果也跟初方後，汗出而多，非但不惡寒，且惡熱特甚，至裸體赤身。進第二方，逾時汗斂熱退，神識清楚，晚膳時．霍然矣。此等症候，日間受暑晚間貪涼之輩，往往有之，治法亦無奇異，本不足記，因論鼠疫之宜先溫後涼，而連類及之。</p>
<h2>久咳、風溫咳、風寒</h2>
<p>醫苟能知其理，並知哿物之性，則雖尋常各物，無在而非藥物也。曩者宰閩之安溪，其俗朴野，視宮如神明，一日有執香而踵門者，吏曰「此其家有病人，而來求藥者也。」不必問其何病，亦不必定是藥物，隨意與以食物，習俗如是，仿佛如求仙方然，其愚真可嗤。余姑訊何病？則曰久咳，喜飲。因思久咳則無庸開泄，適席間有梨，予以二枚，囑其煎服而愈。以熟梨能潤肺燥也。</p>
<p>又進京在船遇一友，患咳不暢，友曰「登舟才咳，苦於有醫而無藥。」余曰「是不難。」診之脈浮數，舌<span class="註"><small class="雙行小字">苔</small></span>薄黃，症屬風溫，因囑其取包南貨之乾箬葉，煎一大盂，服之而咳暢，以是物辛涼泄肺也。</p>
<p>又一次夏令晉京，遇一新學家，賺艙中人多氣熱，另臥艙面，謂可得空氣，天明時發熱、惡寒．無汗，困憊甚，茶房扶之下，與余商同一艙，詢其欲服藥否？渠曰「奈船中無藥何？」余曰「是不難。」症屬風寒，因囑其取白蘭地<span class="註"><small class="雙行小字">酒</small></span>一大杯，和以薄荷酒一小杯，溫而服之，蓋被取汗，亦應手而愈。以兩酒合服，辛溫發表也。此三事近於遊戲，均無足述，拉雜書之，聊助談資云爾。</p>
<h2>二便不通</h2>
<p>顧緝庭先生，引余為忘年交，詩酒往還，過從甚密，自卸招商局事後，僑居吳鄉之木瀆鎮，蹤跡稍稀，然偶來城，必晤面，見其行步蹇遲，語言錯亂，知其老衰矣。閱一年歲首，聞其病二便不通，臥則小便又自遺，少腹有瘕塊，心嘈雜，饑欲食，食至又不欲食。醫用通利二便之劑，不應。余曰「考《金匱真言論》云，北方黑氣入通干腎，開竅於二陰；趙獻可《醫貫》云，腎氣虛則大小便難。宜以地黃、蓯蓉、車前子、茯苓之屬補其陰，利水道，少佐辛藥，開腠理，致津液而潤其燥。又《難經》云，腎之積名曰賁豚，發干少腹，上至心下，若豚狀，或上或下無時；又《經脈篇》云，腎足少陰之脈，是動則病，饑不欲食；又《玉機真臟論》云，冬脈不及，則令人心懸如病饑，張注謂腎為生氣之原，不及則心腎水火之氣不能交濟；張潔古《活法機要》云，壯人無積，虛人則有之，若遽以磨堅破結之藥泊，疾去而人已衰，故治積當先養正。今病大小便不通，少腹有瘕塊，非腎病而何？腎氣虛則滯，故有瘕塊，滯而下墜，阻塞隧道，故小便不通，臥下氣升，則阻塞為開，故小便又自遺。時時欲食者，不關於胃，乃心腎不交所致。所謂心懸如病饑，非真饑也。」治宜補腎氣以交心，佐以散滯升墜之品，擬用坎離丹先服，以交其心腎，續用遠志、茯苓，蓮子、沙苑子、肉蓯蓉、巴戟天、枸杞子、枳殼、升麻，地黃丸等，方交郵局寄鄉，不及服而已殞，此方應否不可知，姑志於此，以俟高明之評隲。</p>
<h2>神昏譫語</h2>
<p>葉天士曰：「溫邪上受，首先犯肺，逆傳心胞。」又云「舌色純絳鮮澤者，胞絡受邪也。平素心虛有痰，外熱一陷，裏絡即閉．非菖蒲、鬱金等所能開，須用牛黃丸、至寶丹之類，以開其閉，恐其昏厥為痙也。」吳鞠通云：「太陰溫病，汗出過多者，必神昏譫語，清宮湯主之，牛黃丸、紫雪丹、局方至寶丹亦主之。」又云「溫毒神昏譫語者，先與安宮牛黃丸、紫雪丹之屬，繼以清宮湯。」又云「手厥陰暑溫，身熱不惡寒，清神不了了，時時譫語者，安宮牛黃丸主之，紫雪丹亦主之。」又云「夜寐不安，煩渴舌赤，時有譫語，暑入手厥陰也，清官湯主之，舌白滑者不可與也。」王孟英說亦大略相同。於是後之醫家，因陋就簡，據此數書，遂以為道盡於斯也，一遇神昏譫語，為葉吳輩印定眼目，便以為治溫熱病在手經而不在足經．一若人身果分兩截，漠然不相關者，於是群以為心包絡病矣，詎知其不專屬心包絡乎。王晉三云：「病起頭痛，而後神昏不語者，此肝虛魂升於頂，當用龍骨、牡蠣救逆以降之，非至寶丹等所能蘇也。」此則神昏屬諸肝。李東垣云：「熱入血室，晝則明瞭，夜則譫語。」夫血室者，肝臟也，既曰晝則明瞭，夜必不明了可知，不明了即神昏之謂，此則神昏亦屬諸肝。但王說魂升於頂之神昏，乃肝虛。李說熱入血室之神昏，乃肝實。此則有異。《內經·熱論》云：「陽明者，十二經脈之海，其氣血盛，故不知人。」《金匱·中風篇》云：「邪入於府，即不識人。」趙以德注謂胃為六府總司，諸府經絡受邪，必歸於胃，胃熱甚，津液壅溢，結為痰涎，閉塞隧道，堵其神氣出入之竅，故不識人。徐忠可注謂將頸兩人迎脈按住，其氣即壅遏不識人。人迎者，胃脈也。夫所謂不知人、不識人者，非即神昏而何？此則神昏又屬諸胃。裴兆期《醫談》曰：「人謂神昏之病原於心，心清神乃清。」余謂神昏之病原於胃，胃清神乃清．胃氣一有不清，即不能攝神歸舍，是神之昏不昏，專在乎胃之清不清。不觀酒醉之人乎？酒醉之人，醉胃不醉心也，何以神昏而言語無倫也，不觀飽食填息之人乎？飽食之人，飽胃不飽心也，何以神昏而一時瞀亂也；不觀痰涎壅塞之人乎？痰塞之人，塞胃不塞心也，何以神昏而瞑眩無知也。以上諸說，豈醫者未之見耶？抑以為不足信耶？他書姑勿論，至《內經》、《金匱》而未之見，不復信，則何必為醫。然近人亦非無知之者，余伯陶云：「陽明之火蒸騰入腦，神即昏矣。」則神經之昏，明明是神經受熱，究其神經之所以熱，仍由陽明而來，即經所謂悍氣上衝頭也。余氏說與徐忠可說當互參。蓋人迎胃脈，由胃過頸後入腦，悍氣即循此脈上衝，然則臚考諸說，神昏屬胃者多，屬肝者亦有之，安得專屬諸心包絡哉？再論譫語，《內經·厥論》云：「陽明之厥，妄見而妄言。」張仲景云：「三陽合病，腹滿身重，口不仁而面垢，譫語遺尿，白虎湯主之。」雖曰三陽合病，而六腑之邪，盡歸於胃，此則譫語屬諸胃。仲景又云：「陽明病，其人多汗，以津液外出，腸中燥，大便必鞭，鞕則譫語，小承氣湯主之。」又云：「陽明病，譫語，有潮熱反不能食，胃中必有燥矢，宜大承氣湯下之。」此則譫語亦屬諸胃。惟《內經》論厥而妄言，統胃經．胃腑言之。仲聖淪用白虎湯者，屬胃經之熱；用大小承氣湯者，屬胃腑之實，此則有辨，而其譫語屬胃則一也。故崔尚書云：「胃有燥糞，令人錯語；邪熱盛，亦令人錯語。若<span class="註"><small class="雙行小字">便</small></span>秘而錯語者，宜承氣湯；<span class="註"><small class="雙行小字">便</small></span>通而錯語者，宜黃連解毒湯。」錯語，語言錯亂之渭，與譫語義同．是崔說亦分胃腑、胃經以論治。然亦有不屬胃者，《內經·厥論》云：「厥陰厥逆譫語。」張隱庵注，謂肝主語。譫語者，肝氣鬱也。《傷寒論》中儼語，《千金方》俱作譫語，可見二字音義並同。王肯堂云：「下血譫語頭汗出者，熱入血室也。」葉天士云：「熱陷血室，與陽明胃實，多有譫語如狂之象，當辨之血結者身體必重，非若陽明之輕旋便捷。」此則譫語又屬諸肝。然則臚考諸說，譫語亦屬胃者多，屬肝者間有之，安得專屬諸心包絡哉？余上年治城內和尚浜馬姓兒，病神昏譫語，當時以伊父亦知醫理，與之辯論後，開方而未列案，即就肝胃兩經用藥，為羚羊角、石決明、陳膽星、枳實汁、鮮竹瀝、生瓜蔞(打)、元明粉等，寥寥數味，乃諸醫見之，群嘩為非，因補一案曰：「病交十二日矣，初起發黃咳嗽，或有外感，辛以散之，理原不謬，但辛熱以治風寒，辛涼以治風熱，已自有別。以辛溫治風熱，已致引動木火，已屬醫家之用藥不細。三四日間，案中有左脅痛，惡吐，環唇青等候，脅屬肝之部分，唇屬脾胃部分，青乃肝色，全屬肝邪犯胃見症，此時何猶因咳嗽未止，而純用肺家開泄藥耶，內僅一方加用鉤藤，是肝藥矣。然鉤藤雖清肝熱，而息肝風為主，肝熱而不至熱極生風者，與夫肺表外感風熱者，早用之反足以引動內風，醫家曾知之否？此時之咳嗽未止，已屬木火刑金，所以愈開泄而愈劇也，洎乎木火熾盛，爍胃液而成痰，復挾痰以上蒙，遂致神昏譫語，理當援仲景胃熱之例，兼涼肝降痰以清之；以其又大便久不通，滿腹脹痛拒按轉矢氣也，當兼參仲景胃實之例以下之。何諸醫於辛散泄肺而後，一變而即用清宮湯、至寶丹耶？前者失諸不及，後者失諸太過，其為誅伐無過則一也。余方不用白虎、承氣，而另撰一方者，以其病不獨在胃，而肝邪特甚，故用仲聖之法，而不用仲聖之藥，師其意不必襲其方也。」質諸高明，以為然否？</p>
<p>按前期「寒包暑熱」條，阮某譫語，即屬胃熱，如誤用牛黃丸、至寶丹等，領邪入內，必然不救，並無繞臍痛，按之有物，轉矢氣等候，倘用承氣亦不救。胃熱之中，又有兩法：其不兼濕者，則用白虎湯；其兼濕邪者，則用三黃石膏湯、黃連解毒湯，以苦能燥濕也。上期《醫學報》袁桂生劄記，與予說同。余君伯陶之論神昏屬陽明，袁君桂生之論神昏譫語，不可只用清宮湯、紫雪丹，至寶丹，可見世固不乏高明之士，殆所謂鐵中錚錚，庸中佼佼者歟！</p>
<h2>用藥分量</h2>
<p>用藥分量之輕重，鄙意當視其病以為准，初不能執定某藥必重用，某藥必輕用，即古方流傳，其分量固已酌定，仍必賴用之者增損其間，乃合病機，不獨藥品之宜加減也。所謂君臣佐使，即別之於分量，故同一方也，有見此證則以此藥為君，見他證復以他藥為君者，朱應皆云：「古方所謂各等分者，非同一分量之謂，謂審病以定藥之輕重耳。」斯言甚確，余前治袁姓兒濕溫症，案曰：「滿舌苔薄白而帶滑，濕在肺胃之表也。邊尖絳赤，心肝營分有熱也，中心獨灰微澀，胃聚濕而欲化火也，小便短赤，大便秘，火鬱濕滯，而氣化不靈也；濕為火爍則生痰，痰氣上蒙，故欲昏睡也；其有時能冷飲者，則濕從火化，已熱多濕少也；有時足冷，熱內追也，須防其熱厥；新又咳嗽，君相二火爍金也，宜清心肝之火，導以下行，滲肺胃之濕以佐之，斯熱解而濕亦去矣。」藥用淡竹葉、燈心草、石決明、通草，白茯苓、生苡仁、知母、茅根、蘆根，碧玉散，鮮竹瀝，內以別無痰藥，竹瀝用四兩，分頭二煎沖入。有訾余分量太重者，匡子不逮，幸甚，錄此方案以志吾過。猶憶去年鄒君鶴儔，病譫語如狂，時欲出門，其力甚大。余疑其痰火上壅，而脈象沉細若無，脈證不符，欲用羚羊角、竹瀝而不敢，轉延余君伯陶決之，余君亦疑不可，乃商酌一方服之，當日稍定，翌日，忽奪門而出，至其相知家酣睡，比醒，診之脈忽變為滑數而大，乃知昨係熱厥伏匿之脈，因用羚羊角，以鮮竹瀝磨之，隨磨隨進，只此二味，計是日磨去羚羊角五錢許，竹瀝十三四兩，稍有狼戾，飲下亦復不少，較此症用之更多，病之輕重固異，然至今思之，治雖幸中，究嫌孟浪，懸壺應世，誠不如以平易藥方，輕微分量，免為庸流所詬病耳。</p>
<h2>胎黃</h2>
<p>癸醜五月十二日，五孫欽尚生，生而面目身皆黃，此胎黃也。以其小便清長，疑是虛寒，然身體壯盛，啼聲載路，唇色紅紫，察其瞳於，黑而有神，且伊父係木火體質，伊母係濕痰體質，因決其為濕熱無疑，但質小不能服藥，思吳尚先云：「內服之方，皆可移作外治」，遂用綿茵陳、赤小豆、海螵蛸、馬鞭草、紫花地丁、生草梢、仙半夏、大腹皮、小青皮、炒白朮、赤白芍，赤苓、白頸蚯蚓等，共研細末，酒調敷臍上，日再易，兩旬而全愈。可見小兒之不能服藥者，類推可以改外治，如病在頭目，則敷兩太陽，病在臂腿則敷手足心，病在胸脯則敷胸間，病在肺則敷肺俞等穴，病在肝則敷期門等穴，病在脾胃則敷臍腹，視何病則用何藥，溫涼攻補，因病而施，想亦有效也。</p>
<h2>鼻衄</h2>
<p>賴佩瑜函詢：「敝邑有孔某者，年二十許，自十四歲以來，得一鼻衄奇症，每逢月之上旬，七句鐘時，其鼻血源源而來，投之截血諸藥，終不能禁止其流，迨至次日，呼吸始通：衄血亦時來時止，三日後，其衄血自然而愈。測量其血，多至五磅有奇。察其病時病後，神識俱清，兼無別病。但此症自發生以宋，月累一月，毫無過期．誠世界最新發明之一大奇症也。所延醫治，已閱百人．投諸藥石，俱無效驗。延至今春，邀余診視，切其脈．大而且沉，察其面色，非象失血之人，兼無寒熱煩咳，惟不得安眠。檢前所服之方，不外瀉心、地黃、柏艾等湯，均歸無效。僕采擇古今醫書，研究斯症．皆係真陽不足之弊，故先擬服獨參湯加附子五錢．連服數劑，至後月復作如前，再擬早服加減歸脾湯，晚服黃土湯，至三閱月，衄復如是。其或藥不對症歟？即或四五劑不能中病歟？究意是何理由，敢以質之高明家。」余答之曰：「《素問》謂邪客於足陽明之經，令人鼽衄。《靈樞》謂胃足陽明之脈，起於鼻之交額中，下循鼻外，所生病者鼽衄。」是衄病有厲胃者，胃為多氣多血之鄉，故宋多而無害。</p>
<p>考蟲證，必月初其頭上向，安知此衄之來，非即胃中憂蟲為患，大約病者體必壯實．嗜濃厚，多濕熱，鬱蒸生蟲，攻動其贏余之血，激而上衝，其不得安臥，亦胃不和之故，經所謂「胃不和則臥不安」也，觀其積久，而面色如常。決非虛症，擬用生牛膝、薑炒竹茹、刺蝟皮、山梔子、川楝子、法半夏、蕪荑、琥珀等，稍加以大黃末、乾漆末，逐月於病發時服之，或能漸減而愈。古本有胃蠱一症，用使君子、五穀蟲、雷丸、厚朴以殺蟲，但不見其變病為衄耳。</p>
<p>竊謂天地之大，無奇不有，陰陽之對待，有時而勝負迭乘，故有五不女之奇形，即有五不男之異稟，安知此人非有生以來，雖具乾健之體，實賦坤順之性者乎？月事之來，上應乎月，下應乎潮，月初月上鉤而潮生，月望月正，圓而潮盛，月屬陰象，潮為陰質。仲秋陰氣最足，故月最明而潮最大，女亦陰類．月事應之，世既有不月之婦人，安必無有月之男子，猶世有無須之男子，間有有須之婦人，倘詢其陽道不舉，可證我說之不盡無稽，但血與經，二而一者也，血以下行為順，仍當用生牛膝、大黃、槐角等以導之，使從大腸出耳，從大腸出則不必復冶之矣，奇想也，而實由理想，姑附載之，以博諸公一粲。</p>
<h2>濕溫、疝氣、風疹、熱入血室、陽明經白虎證、天花、時氣</h2>
<p>辛亥秋，余晉引南旋，奉楊俊卿文鼎中丞奏隨赴秦，在滬未行，會武漢革命事起，道阻不得往，時事日非，遂壺隱淞濱，親友延余診治者，公啟一函，為余揄揚，由孫燕秋文詒主稿，孫亦知醫者，函中頗於醫理有所闡發，故錄出，且以志厚誼於勿諼焉。《函》：陸君晉笙，向與都人士游，鮮知其能醫者，即或知之，亦不意其邃於醫者， 自避來申，顏其居曰「景景醫室」，應病家之招。誠保患濕溫，嘉年之侄應歡亦患濕溫，君謂：彭 <span class="註"><small class="雙行小字">某</small></span>體肥，濕重熱輕；鄒<span class="註"><small class="雙行小字">某</small></span>體瘦，熱重濕輕，同一滲濕清熱，而分量不同。承豫亦患濕溫，君謂熱為濕遏，宜先溫化，然後用苦寒淡滲，其治法又不同。家怡患腹脹，疝氣偏墜，痛不可忍，君謂舌苔白膩而厚，是肝氣為寒濕所遏，用蒼朮、厚朴、柴胡、茴香等，一劑而愈，翌日已出門。</p>
<p>廷韶兩子並患疹？君謂長者有汗，兩關數甚，宜石膏、決明；幼者無汗，宜荊芥、薄荷，而方中之以辛涼解表則又同。文詒予疹兼泄瀉，君謂是肺移熱於大腸，邪有去路，於病為順，斷不可升提止澀，又不可因勢下導，下導則表邪內陷，疹透邪盡，則泄自止，其言果驗。元基於患疹內隱，反見惡寒等象，或以為寒，將用桂、朮、橘，半，君謂不可，此溫熱內伏，改用牛蒡、豆豉、淡豆卷、銀花、丹皮、石膏而安。承豫一子一女，並發熱惡寒，君謂鼻塞微咳， 目含水氣，將發疹矣，先以發透之， 自見疹至全愈，曾無多劑，未誤治治也。</p>
<p>國楨女患風溫發疹，經方來而忽止，君用辛涼之劑，而佐以丹皮、丹參等。又見其治周姓女，同患風溫，經將盡而邪襲入，君亦用辛涼之劑，而佐以元參、生地等．同一熱入血室，而君謂一血虛、一有瘀，是以佐使之藥異，且病皆屬熱．是以一不用桃仁、菱蔚，一不用川芎、當歸也。</p>
<p>又見其治周姓予，面赤大汗，神昏譫語，或以為邪入心包，君謂呼之神清，左才不數，右關浮滑數，此白虎證也，誤用清心丸、至寶丹則反領邪入內矣。嘉年之侄孫女，午九歲，幼居北地，曹種牛痘，今患似疹者累累，君謂此天花也，乃從前余毒未淨，北地高寒．蓄而不泄，今南來，感時氣而發，雖云痘出五臟，古法用溫，然今乃熱毒傷陰，斷難泥古，用解毒養陰藥而痊。</p>
<p>靜章兩子相戲，傷長者，胸痛甚，靜章以為傷也。君視之曰「非是。」適感時氣，氣阻胸膈耳，用疏表氣分而愈。設投行血消瘀之劑，誤矣。他如溥孫之患類中風，人龍內予之患大頭風，盛年之子女，子婦孫輩患各症，無不藥到病除。此外目擊其治驗，更指不勝屈，姑就嘉年等熟人賴其治癒者，略述一二，為之表彰，以鳴謝忱。鄒嘉年、潘盛年、馮廷韶。孫文詒，金國楨、顧元基、彭溥孫、潘靜幸、彭誠保，錢人龍、劉家怡．汪承豫同啟。</p>
<h2>肝氣為濕熱所遏、痘不化漿</h2>
<p>虞師涅邃於醫而不行道，見滬上二醫之謬，著XXX、XXX是名醫而非庸醫辨，余因其於醫道有所裨益，故錄之。其辨云：友人告余曰：「XXX治許嫗，肝氣為濕熱所遏，理宜辛溫以舒肝鬱，苦寒以清濕熱。」某醫案云「木火內寄，脾胃受侮，升降矢司，以致脅痛、痰多、神疲．嗜臥、苔黃，脈細弦滑數。」而藥則用旋覆花、海浮石、杏仁、象貝、杷葉等肺家藥為多，方案不符，未識何故？</p>
<p>陳君有女患痘，點已齊備而未化漿，考漿之不化，其因有二：一則毒氣熾盛，血燥而凝，不能運化成漿，法宜清血化毒；一則元氣虛弱，血寒而滯，亦不能運化成漿，法宜溫補內托。延XXX診治，其案明云。「痘點齊而漿未化」，乃藥則用<span class="註"><small class="雙行小字">皂</small></span>角針、筍尖、大力子等攻透之品，亦方案不符，未識何故？余曰：「此其所以為名醫也。」夫所謂名醫者，聯絡同道，互相標榜，延必厚值，出必高車，一病幸中，便侈然自譽，罔顧匿笑於旁觀，是不務其實而務其名也，吾故曰名醫也。至於庸者，平庸之謂，雖不能傑出尋常，而猶不至謬妄陋劣。其頭痛醫頭，腳痛醫腳，而莫明其所以然，故或愈或否，重為世詬，然何至自相矛盾，方案不符耶，是則若輩並不獲在千庸之列，吾故曰非庸醫也。夫夏桀殷紂，茶毒生靈，二醫殆其苗裔．故草管人命，以致於此。僕將輯其謬方謬案，指摘駁辯，刊以問世，名之曰哎伐罪編，庶幾人知其謬，而枉死者鮮，當亦慈善之一端，雖然世俗驕奢，人心澆薄，天道福善而禍淫，水劫，火劫、兵劫、疫劫之未已，而更加以「醫劫」，是天意也，於二醫乎何尤？</p>
<h2>神昏譫語</h2>
<p>前論神昏譫語，義有未盡，因再言之。此證並非無屬心包絡者，但不專厲渚心包絡耳。其屬諸心包絡者，病在上焦，葉天士云：「舌色純絳鮮澤者，胞絡受邪。」吳鞠通云：「夜寐不安，煩渴舌赤，暑入手厥陰也。」又云「舌白滑者，不可與也，心為君主，義不受邪，邪入即死，包絡與心相附，居隔上，代君行事，臣使之官，其能受邪者，胞絡也。」凡古今方書所言心病者，皆包絡病也，故真心痛者不冶。包絡受病，與心相鄰，症已危險。色絳厲心，故葉天士以舌色純絳鮮澤為候，吳鞠通以舌赤為候，復申其誡曰舌白滑者，不可與。又云「色絳而舌中心或黃或白者，此非血分，乃上焦氣熱爍津也。」其辨明絳而中心黃、白者，非血分病，正恐人誤作心包絡病治之耳。可見葉、吳輩於神昏譫語症，苟遇舌苔黃、白者，亦並不以牛黃丸、至寶丹等治之，既不以牛黃丸、至寶丹為治，豈遂別無治法，我於此知葉先生時，必然世多以治胃治肝者療神昏譫語，絕不知溫邪有襲入心包絡症。爰著《溫熱論》以救其失，乃近今醫家，不復博覽群書，細辨病症，手一卷《溫熱論》、《溫病條辨》、《溫熱經緯》，遂以為道盡於是，而其於「不可與」之誡，全未細察，葉、吳輩豈任咎哉！</p>
<h2>腫脹後昏厥、熱病經來</h2>
<p>肝藏血而主疏泄，故陰虛火旺之體，每有水不涵木，木火內熾，血不能藏，失其疏泄之常，而月經先期而至，或因熱病而未期驟至者，此須涼肝涼血為要。經初至一日，或有瘀積，可用涼血而動血者，如丹皮之辛以流動之，丹參之下行以暢達之，二藥性雖寒涼，決不至凝澀不行。醫家輒用桃仁、紅花、澤蘭等溫劑，謂寒涼則血凝滯，不知此蓋指苦寒而味不辛、性不下行者而言；設熱病而用溫劑以助熱，害不勝言；經將淨時，則並此二藥亦不可用，須白薇、紫草，生地等涼血而不動血者治之矣。昔治張紹庭景羲女，驟然昏厥，至三時之久，紹庭見昏厥，即來延余，余適出診松江，又延葉晉叔君，葉亦適他出，紹庭惶急萬狀，知余三鐘返，在寓守候。余歸，即同往，猶未醒也，面青，脈伏，四肢逆冷，但知其體肥有痰，月經先期而至，先患腫脹，是肝厥耳，為寒為熱不得而知之。余甚躊躇，其時牙猶緊閉，姑用箸強汗之，略露一縫，窺見舌邊尖碎爛，乃知為心肝兩經血分之熱．病亟不及詳列脈案，因囑先以紫雪(丹)開之，俟其稍醒，以犀角、羚羊角磨竹瀝等頻灌之，半時即醒．乃繼之以方藥，而列脈案如右：初病腫脹，脹屬肝，腫屬脾，木強土弱，木強則生火，土弱則聚濕，濕為火爍，則凝而為痰，火熱盛而動風，則手足抽搦，肝陽為痰濕所遏，鬱而暴發，挾痰以上升，則發厥，上蒙清竅，則神昏，今竅已開，神識已清，但兩手脈皆沉伏不見．名曰伏匿脈，乃熱深蹶深之候，慎防再厥再昏。此際痰火未平，亟宜清降，舌尖碎，心熱也，舌邊碎，肝熱也，由肝及心，心肝皆屬血，宜清血分之熱，肝主疏泄，故經期反先時而至，但用辛涼以清血，勿嫌其性寒阻經也，藥為青黛拌石決明二兩，竹卷心三錢，大丹參三錢，西赤芍五錢，粉丹皮二錢，水炒竹茹三錢後下，嫩鉤藤一錢五分，沖入鮮竹瀝二兩，白萊菔汁一杯，枳實汁一匙，連三劑而大愈，厥未再發。又調理肝脾，並腫脹亦盡消。當時頗有以兩脈伏經來，訾余用涼者，乃紹庭信余深，不之疑，因錄出以告時醫之溫病經至．而扭於用溫通者；熱深厥深致脈伏，而誤認為虛寒欲脫者。</p>
<h2>虛喘</h2>
<p>治病用藥，可因此悟破，唐立三治其妹，夙苦難產，謂瘦胎飲為陽湖公主作，以奉養之人氣必實，耗其氣使和平，故易產。今妹形肥，知其氣虛，勤針黹久坐，知其下運，於孕五六月。以紫蘇飲加補氣藥與十數帖，得男甚快。同一難產，而有虛實之別，補氣之方反從瘦胎方悟出。</p>
<p>又張仲華案云，表熱四候，額汗如淋，汗時膚冷，汗收熱灼，診脈虛細。惟尺獨滑，舌苔已淨，細繹詠證，不在三陽而在三陰，考仲聖有反發熱一條，是寒邪深伏少陰陽分，今乃濕溫餘邪流入少陰陰分，宗其旨，變其法．擬補腎陰泄腎邪．以熟地、枸杞等補之，細辛，丹皮等泄之，一劑而愈．是從寒邪入腎悟出濕溫之邪入腎治法。前余診治王立群嗣母。病喘，詢其狀，確係腎家之虛喘。而非肺家之實喘，閱前方，係專科女醫蔡小香君所開，用咸溫重鎮，甚合腎氣不納治法，惟恩服藥何以反甚，既以形瘦尺脈帶數也，乃悟其故．因即原方於其蛤蚧，杜仲等之咸溫者，易以阿膠、元參之鹹寒，於其蘇子之溫降者，易以白前之寒降，惟旋覆、赭石二味未之易，亦即其理以對勘之．即其法以變用之。</p>
<h2>劑字解</h2>
<p>讀書必先識字，為醫亦何獨不然。古者造宇之初，義寓於聲，劑從齊聲，即有齊義，齊者平也，藥稱劑者，即虛者補之，實者瀉之，熱者寒之，寒者溫之之旨．故六淫之外因，飲食傷之不內外因，於我身所本無者，則必散之、瀉之、消之、下之而後安；七情之內因傷及我身所本有者，則必血虧益以血、氣虧益以氣而後可。凡所以劑其平也，俗稱一劑，日一帖意亦猶是。</p>
<h2>淫字解</h2>
<p>人身生氣通於天，凡風寒暑濕燥火六氣，皆與我身臟腑相感應，天地一陰陽五行也，人身亦一陰陽五行也。然則六氣皆為生入之具，而非殺人之物，何稱之曰六淫？曰。此惟過則為害耳。淫者，過也。大水曰淫，大雨曰霪，佚蕩曰侄，並義寓於聲。六氣苟不過極，即不得名之曰淫。</p>
<h2>取字解</h2>
<p>治痿必取陽明，《內經》下一「取」字，大有斟酌。近人多以痿為虛症而用補．或知其多濕熱症而用瀉。實則痿症虛實皆有，而治法總在乎陽明，故不曰治痿必補陽明，亦不曰治痿必瀉陽明，而獨曰「取」也，治病不知分經論治，其猶瞽者之挺埴乎。</p>
<h2>變字解</h2>
<p>《內經》於「肺氣虛曰溺色變；少陰司天熱淫勝曰溺色變。」釋者多以色黃赤言之，實則變者，反乎常也，與尋常溺色有異，即謂之變，如米泔色、敗醬色、黑色皆包括在內，不專指黃赤色言。經又云：「冬脈不及小便變。陽明司天燥氣下陷小便變。」釋者亦多以色黃赤言之，此更連癃閉、不禁皆包括在內，不專指黃赤色言，並不專指溺色言，故不曰色變，而僅曰變也。經又曰「中氣不足，溲便為之變。」溲為小便，便為大便，此更兼大小便而言，凡二便之異乎常者，一應包括在內。而釋者亦多以溺色黃赤言之，得毋挂一漏萬耶，實則讀書不細耳。至於經云「肝熱病者小便先黃；胃氣盛溺色黃；厥陰之勝小便黃赤；少陽之勝溺赤。」然則果係色之為黃為赤為兼黃赤者，經固未嘗不明言之。</p>
<p>又王孟英《隨息居，霍亂論》云：「乾矢自遺而不覺者，經謂中氣不足，溲便為之變，是亦變也。」所謂不足者，非言中氣虛也，以中氣為病所阻，則不足於降濁升清之職，故溲便為之改常也。趙菊齋謂霍亂之吐瀉無度，乾霍亂之便秘不行，皆變也、皆中氣為病所阻，而不足於降濁升清之職也。設泥不足為虛，則諸霍亂皆當補中氣為治矣。余謂王趙以二便釋溲便，以二便失常釋「變」字，俱得經旨。但以不足於降濁升清釋「不足」兩字，恐未必確。竊以邪之所湊，其氣必虛，是皆因中氣本虛，故邪得而干之，有邪即是實，當其邪方盛時，自斷無補中之理；及邪之既去，仍宜以補善其後，斷未有中氣本足，而邪能干之者。然則其標為邪實，其本為正虛，故不足者，不必曲為之解，仍以虛釋之，自覺直截了當。</p>
<h2>聖人不治已病治未病解</h2>
<p>《金匱》云：「上工治未病何也？師曰治未病者，見肝之病，知肝傳睥，當先實睥，餘臟准此。」《不謝方·序》云：「疾甚曰病。」謂人於已疾之後未病之先，即當早為之藥。引《說文》「疾病也，病疾加也」為證。兩說不同。愚按《內經》云「善治者治皮毛，其次治五臟。治五臟者，半死半生也。以及風寒客於人，使人毫毛畢直，皮膚閉而為熱，當是之時，可汗而發也」云云一節，俱可為治未病之根據，以經證經，毫無疑義，故扁鵲治齊桓侯，在腠理、在血脈、在腸胃謂為可治，在骨髓則望而卻走，是未病始治，已病則不治也。</p>
<h2>內傷解</h2>
<p>王孟英述其慈訓曰；「內傷證必求其所傷何病，而先治其傷，則病去而元自復。」古人不曰內虛而曰內傷，顧名思義，則純虛之證殊少也。徐洄溪亦云「大凡人非老死即病死，其無病而虛死者，千不得一。況病去則虛者亦生，病留則實者亦死。」孟英又云屍雖在極虛之人，既病即為虛中有實，然則近今醫家，一遇內傷，而專事蠻補者，其亦來明「傷」字之真諦乎。經曰「不能治其虛，焉問其餘。」既云虛矣，猶曰治而不曰補，讀書細心者盍昧之？</p>
<h2>記諸兄姊妹病故情形</h2>
<p>余同父之兄姊妹八人，四兄、六姊、八妹均幼殤，殤於何病？未之前聞也。二兄錦煌，號仲芾，乳名延齡，卒於清江旅次，年十五歲。先是咸豐庚申發逆之亂，蘇州陷，先父母挈眷避難於豫晉。甲子，官軍復蘇城。乙丑，眷返裏。聞諸先母曰：「在太原延齡已病，背腐如碗，臥床不能起，而弗自知其痛，質聰，文字俱秀，先父劇愛之，病後不能文字，戲作女紅以自遣，未學也而能。醫曰『譬諸器，靈巧者易破。』歸時，路次兜以行，抵清江，病經年矣。易簀時，神識清湛，謂母曰『我目不見物』。持燈就之，仍曰『我目不見物』。繼曰『我不支矣』，遂殂。經曰『氣脫者目不明』。又曰『陰虛者目盲。』此虛證也。使不遭亂在外，有藥餌之滋養，無道途之辛勞，安必遽天其天年。」其長兄、三姊、五兄、九妹之歿，則皆余壯年後事。長兄錦娘，號炳甫，肝旺，性卞急，形瘦色蒼，火體也，適遇拂意事，肝鬱生火，延及於胃：，患中消症，嗜食無饜時，醫處以養陰之劑，予曰但存其陰，未撤其熱，烏乎可？胃火熾甚，非石膏、知母不為功，顧及本，其景岳玉女煎乎？不聽，病日劇而殞。三姊歸吳氏，生子三女一，血熱而少，不足以養肝，肝氣無所附南，遂竄入絡，筋拘不舒，氣鬱不散，而病作焉。某醫處以香燥疏肝，加抽搐，易貝賦琴先生，·處以生地、羚角、橘絡、葉等，服一劑。有孟河世醫費晉卿先生後號XX者，自薦，作外感風寒濕致痙治，用羌活、獨活等，連服數劑而日劇。吳族有以善針薦者，既至，不以針而以灸，遂神昏面赤，舌乾無液，以至於死。夫香燥疏肝，是治血足而肝鬱者也。某醫僅知疏肝氣，而不知此症之氣鬱，由於血虧而氣不相附使然，香燥足以爍陰，其知之耶？貝醫於平肝養血清絡中，略佐疏通，方極精當，而僅僅一劑，未竟其功，惜哉！費醫則外感內傷之未晰，內風外風之未辨，熱症寒症之未分，實醫家之門外漢，遑曰世醫，吾知九原有知，晉卿先生應痛哭於地下也。仲景曰「微數之脈，慎不可灸。」以艾火大能傷陰也。陰虛內熱之體，灸之以艾，火氣內攻，以火濟火，陰何以堪？仲景謂「一逆尚引日，再逆促命期」，矧乎此症之誤，一而再再而三哉。五兄錦垣，號叔和，性敏，善文章詞賦，年十六即游庠，顧屢試不售，鬱鬱不得志，從大令游宦於越，亦浮沉未攝一篆，肆志於酒以澆塊壘，濕積痰生，中氣傷矣。辛亥，武漢革命軍起，越亦亂，避難申江，偶早起感風寒，風寒束於外，濕熱蒸於內，遂壯熱惡寒，舌滑膩，醫者初以辛涼解風熱者治之，不應，復以苦溫消痰飲者繼之，復不應，遷延焉而卒不救。九妹歸張氏，婉順有德，孝於姑，姑將壽，自夏徂秋，傍晚必登涼臺，勤針黹以備為姑壽，內蘊暑熱，外冒涼風，遂患咳，不即醫，逾半載而成勞，乃醫，無及矣，卒年僅二十有八。語云「傷風不醒便成勞」，傷風非絕症也，治之非皆不醒也，其不醒者，不即治故耳。諸兄姊妹，二哥九妹，誤於病而不即醫也；長兄三姊五哥，誤於醫而非其冶也，亦可見誤死者之多，蜷念同懷，後先物化，孑身孤處，盡焉心傷矣。</p>
<h2>記諸子女病殤情形</h2>
<p>余子女二十人，存者半，亡者半。長子培植，為其外祖父母所溺愛，漲其食，食不節，得疳積症，由實而轉虛，延鮑竺先生治之愈，元未復，逾數月，秋酷暑，侍者挾以嬉於市，被驚驟厥，未及醫，不逾刻而殤。是時余以赴秋試舟泊鎮江，夜夢齒落，隱為憂，私以告汪賓穀表兄，翌日，諸同伴以風逆俱登岸，余忽忽若有失，辭不去，臥舟者竟日。家中恐余悲，不使知，返後乃知。殤年四歲。四女長堃，乳媽嗜酒，且時以肉食食之，年才期，患泄，醫者或曰虛，或曰實。余時不知醫，聽之耳。旋殤。五子培榮，隨余上杭伍，早起嬉戲，傷於寒化熱，醫用牛黃清心丸，遂發狂而死，時年十二歲。夫發狂而清心，猶之可也；用清心而乃發狂，其為領邪入心包可知。余不憾醫，憾己於醫道時未明瞭，致有此失耳。七女孕時，母病甚，落蓐而即殤。十女長平，先天本不足，尻而行，又傷食，消之，更傷，以弱病卒於上杭縣署，年二歲。十二女清溪，體本虛，亦傷於食，醫以大黃下之，重虛其虛，以至於脫，時年十二歲。十六子培復，當暑，婢抱之遊園中，受風，又受驚，醫之不瘳。余素服韓半池大令之術，時在杭，攜兒以就診，登火車，汽笛鳴，兒又驚，抵杭，韓辭不洽，殤於杭之旅舍，時年二歲。十七子培厘，十八子培矽，攣生也，氣血分而兩不足，一即殤，一越半月餘而殤。十九女患痘，時旅滬上，天花時行，偶出，感其氣遂病，時余雖知醫，而不精於痘，痘出遍身首無隙，如水泡，中有黑點，內有一大者，延他醫治之，不愈，殤年二歲。其間長堃、培榮、清溪三人，似皆可治而失治，余由是愈以醫藥為可懼，亦由是愈以醫藥為宜究。</p>
<h2>記何鴻舫先生療先母瘺症、先兄痢疾情形</h2>
<p>同治戊寅季春，先君仁卿公見背，先慈汪太淑人，以氣血素虧之體，驟遭此變，心勞力瘁，遂得痿症，不起床者經年。己卯秋，外叔祖汪安齋公病，迓名醫何鴻舫先生於重古<span class="註"><small class="雙行小字">固</small></span>，先慈轉延其診治。先生與先大母舅汪子緝本交好，先君亦與稔，至是診畢，責余昆季曰：「余與君家係世交，此病起時何以不早告，致困床褥者經年，幸也今尚可治。」遂索紙出方者二，一先服數劑，一接服數十荊，復屈指計曰：「明年仲春可起行矣。屈時侍爾夫人來重固，當為轉方。」當時聽其言，疑信參半，姑服其方，日有起色，至正月而可扶床以行，二月而不扶亦能行，異哉！於是赴重固轉方，且致謝焉。余是以知醫之能起廢疾矣，己醜秋，五兄叔和應秋試，患濕瘡，將入闈，求速愈，用一掃光治之愈，實劫劑也。旋返，在禾郡汪氏寓，疾復作，變為痢，禾醫治之匝月，痢已止，口糜呃逆，神倦無力，不思食，有欲脫之狀，時先母亦在禾，信至家，告病亟，速余往。余素服何醫<span class="註"><small class="雙行小字">指何鴻舫</small></span>之神，遣僕持函往邀之，余亦即赴禾，至則醫曰病去矣，體虛甚，宜進補，用阿膠等，煎成為貓所傾，再煎再傾，異之。余曰「何先生來否恤有確信」，盍停藥以俟之。傍晚何先生至，診脈良久，忽仰首曰「三焦均未通奈何？」旋檢從前所服方，依次閱之，至末頁，見阿膠方，忽拍案曰「此方服否？服則不救矣。」因告以為貓所傾者再，未之服。何曰「未服則猶可。」因謂余曰「口糜，濕滯薰蒸也。，呃逆，下不通反乎上也，不思食，濕滯阻塞也。大實若羸，三焦均窒，須導之，仍痢乃佳。」並曰「病不去則終死。余與君家係世交，不作應酬方，余宿舟候信，服餘劑，夜仍痢，則有生機，明當再診。設通之而不通，餘劑適更速其斃，期在明日。余亦明早返棹矣。」言之甚決。余因將再痢可愈之說，稟我母，告我嫂，其不復痢則斃之說，不敢言也。憂甚，徹夜無寐，天微明，內室門啟，有婢出，亟詢之，白昨夜又痢十一次，狂喜，亟登舟告何先生，先生亦喜，登岸再診，診畢曰「可以生，但需時日耳。」，又曰「余女病甚危，須急返待余治，故婿同來。」先生之婿，彭君文伯，本余友，彭亦急促其翁返，堅留之不可。余曰「我不知醫，先生去，無繼其任者，是先生生之而復棄之也，奈之何？」先生尋思良久日「有松江王松亭者，余門下士，在禾行醫，盍覓之。」遣僕四出，未幾，王醫來，詢之乃王斗槎之弟，斗槎亦余至交也。何乃疏方二紙，一為痢未淨之方，一為痢已清之方，紙背列藥幾滿，見何證，有何脈，則增減何味，蓋一方而不啻數十方焉，將方交王醫，一一為王預言將來之情狀，且謂必依次下五色痢，初青，黑次之，黃次之，赤次之，白又次之，無害。詢其故，曰「積應臟色也，肺位最高：白積下則痢清矣。」又屈指計曰「某日晨必神沉欲脫，勿藥勿擾，靜俟之，無害。」詢其故，曰「霜降節令也。氣先三日至，常人不覺，而病人則必加劇耳。」繼而王醫守其方治之，盡如其言，愈。余是以知醫之能殺人能生人矣，余之究心於醫術，自見何先生愈我母、我兄病而始。</p>
<h2>記繼室汪氏怯病治癒情形</h2>
<p>丙午春，余以忤長官罷職歸，寓湖州，子女林立，而宦囊如洗，繼室汪氏憂甚，肝鬱生火，木火刑金，得咳症，余不敢自醫，延醫醫之，久不愈，且日劇，加經斷、吐血，繼以白血，大便艱，醫咸曰「怯成矣。」辭不治。余乃遍檢方書，用《千金方》意，以生粉沙參一味治之，日服五錢。五日後，便中下血塊者一，再服，又下血塊者二，咳頓止，乃以百合、冬蟲夏草兩味常服之，元日復，飲食漸如常。又數月，覺腹脹如向來經將至之狀，余亦意其可至也，用丹皮之辛以動之，丹參之鹹以降之，果通，病全愈。始終未用養陰養血之套藥也。蓋肺與大腸相表裏，臟病而驅之自腑出，則肺不病，肺不病則自能制肝，雖病起於肝，未嘗治之而火自平矣。</p>
<h2>記侄培勳生時僵、子培治病厥均獲救情形</h2>
<p>外祖汪星階公名曜奎，好方書，輯有《續經驗方》行世，故先母汪太夫人，竊聞諸論，備知方法，常曰「藥性吾不知，但聞方法之有益無害者，默志之，亦足以備緩急。」長嫂周氏懷孕七月，患瘧，寒戰劇，胎為之墜，時雖七月，而秋寒特甚，胎下無啼聲，面色白，肢冷氣絕，母命勿斷其臍，以紙撚蘸香油熏之，並徐擠其暖氣送入腹，熏至臍枯而斷，搦以指，弗使洩氣，乃紮束，而兒早呱然醒矣，即今三侄培勳也。案薛己治荊婦孟冬分娩艱難，勞傷元氣，產子已死，用油撚燃燒斷臍，藉其氣以暖之，俄頃忽作聲，苟非素知此法，幾何不誤一命耶？其小兒胎墜七月者可生，八月者反不生，何也？以七月為陽月也。二子培治，驟患厥，手足逆冷，勢劇不及延醫，母曰「厥逆有寒熱之分，藥非醫來弗誤投。有法在，不分寒厥、熱厥可用者。」命抱入密室不透風處，以巾多幅絞熱水，數人分熨其四肢，稍冷即易，弗暫停，俄而漸溫，乃延醫診治之而愈。又先母於諸婦生產時，必預備千年X<span class="註"><small class="雙行小字">疑艾</small></span>一盆，早收惡露穢氣也；醋、炭兩物，曰防血暈也；冬月則火爐，曰禦寒氣也；夏月則井水，曰收暑氣也；以及參湯、洋參湯、白花益母草湯罔弗齊，並曰「寧備焉而不用，勿用焉而不備。」</p>
<h2>記三女長鈞病熱厥、八女佩玢慢脾獲愈情形</h2>
<p>三女長鈞數歲時，在其外家南塘鎮張氏，患病手足厥冷，鄉醫有王姓者，處以肉桂，內弟張君駿八，以鄉間藥不良，遣人來城購取，並通信告余，余瞿然曰「厥有寒熱之殊，肉桂可輕試耶？」遂懷藥，邀城醫李彤伯先生同赴鄉，李診之曰「熱厥也。」治以四逆散而愈。向使鄉有佳桂，誤一命矣。</p>
<p>八女佩玢，余以斷弦無內助，寄養於禾郡叔和五兄處，患驚，日久不效，加劇。余聞信飛棹往，見其面色咣，唇舌色淡，啼如鴉而低，亦無多聲，伏乳婦肩，若倦甚者，欲睡而睡不安，不思乳，小便清，大便溏，而神識則甚清，檢所服方，皆消痰、清火、散風、止驚之劑，所以治急驚風者也。余時雖喜覽方書，不甚了了，疑屬《福幼編》所謂慢脾者，然禾醫盡延過，無可商酌，姑用莊在田法，以附桂萸術薑五味熬濃汁，令乳婦頻頻飫之。時余六母舅汪公爾祉亦寓禾郡，開方後，謁母舅，母舅問狀，告以故，母舅詫曰「爾知醫耶？附桂可亂用耶？」余因之轉疑慮，姑察其藥後何狀，則安睡矣；睡甚久，醒則索乳矣。疑乃釋，遂依據莊氏法以治之，獲瘳。時實未能真知灼見也，詭遇耳，略知醫理而未能精通者，幸勿效諸。</p>
<h2>記侄培本故於腫病情形</h2>
<p>侄培本，號心源，患腹腫，醫作濕熱實症治，用中滿分消湯去參萸二薑，余素知其腎虧，曰「此病實中有虛，須兼顧本。」並檢示以各方書。不聽，既而愈，更以余為謾言矣。余與旁人言，必復發，既而果然。醫不知變，仍治以前法，僅加白朮、山藥等健睥藥。余曰「殆矣。」適侄婿曹融甫來？名醫曹智涵之子也。余謂侄曰「盍邀諸。」曹診畢，用金匱腎氣丸加減焉，而易以湯。侄輩素懼附桂之熱者，不敢飲。病日篤，遂卒。卒時見種種心腎不交象，余曰「藥既對病，雖附子、肉桂之大熱，石膏、龍膽之大寒，麻黃、細辛之外竄，大黃、芒硝之下奪，俱足以生人；苟不對症，即小小感冒，風溫而治以卒溫之荊防，風寒而治以辛涼之前蒡，亦足以輕病轉重，倘怵於大熱大寒而不同，古宋何必有此藥哉！」</p>
<h2>記侄培俊夫婦、再侄成懋均死於傷食情形</h2>
<p>從侄培俊，號君彥，遇拂意事，肝本鬱，飽食後遊留園，見有市蟹粉饅頭者，素所嗜，又食五枚．，返家而厥，食厥也，旋醒，醫來用消導藥。余曰「食在胃中則宜消？轉入大腸則宜下，今滿填至膈，盍用吐法？」醫曰「吐則氣逆，其如再厥何？」余曰「誠哉，是言也。但膈與胃腸食滯充塞，氣道艱通，轉輸亦鈍，必俟大腸之宿垢下，而後胃之宿食動，必俟胃之宿食化而轉入腸，而後胸膈胃口之新食入於胃，入於胃仍必俟化而轉入腸，恐病去而！氣液與之俱去耳，因知吐法非萬全也。但考古謂新食宜吐，宿食宜消亦非無見，使吐而不再厥，或厥而即醒，食去其半，氣得其通，便易於措治矣。」，未敢試，滯盡下而脫。侄婦程氏，即君彥之室也，曾有血症，亦不常發，患虛信補，但聞補者即嗜之，余勸曰「虛有陰陽氣血之分，即物有補陰、補陽、補氣、補血之別，況血症未必即屆虛乎？」不聽，常服紫河車。余又勸曰「紫河車之為物，罕可用者，以其或有黴病蘊毒之胞，食反有害。」，亦不聽，某日與其母其兄會飲，有辛辣物，食過量，飽食填膺，息驟湧，狂吐，繼以血，血不止，醫治之無效。後余在濟陽，得家報，知再從侄成懋，係君彥之次子也，亦以傷食失治而殞。夫婦父子三人，均死於食，語曰「禍從口出，病從口入」，謂言之不可不慎，食之不可不節也，可不儆哉！</p>
<p>以上八則，丙辰陰曆九月十二日在濟陽署，公余之暇，寂坐衙齋，默計十年前三姊於是日身故，為之愴然，因追憶情狀；，沘筆為記，並連及數事，醫愈者少半，醫死者反大半，宜乎古人謂「不服藥為中醫」哉。醫談錄舊<span class="註"><small class="雙行小字">陸晉笙弁言</small></span>閱舊小說家往往記載醫事，其間頗有中肯要處，因而掇拾，輯為一帙，茲者印鄙著：《景景醫話》，以其相類也，故附編於後。</p>
<h2>三焦有名無形辨</h2>
<p>明·仁和薑蓉塘南《半村野人閒談》載蘇黃門《龍川志》云：彭山有隱者，通古醫術，與世諸醫所用法不同，人莫知之。單驤從之學，盡得其術，遂以醫名於世。治乎中，予與驤遇於廣都，·論古今術同異，驤既言其略，復歎曰「古人論五臟六腑，其說有謬者，而相承不察，今欲以告人，人誰信者，古說左腎其府膀胱，右腎命門其府三焦，丈夫以藏精，女子以係包，以理言之，三焦當如膀胱，故可以藏有所係，若其無形，尚可以藏係哉？且其所以謂之三焦者何也？三焦分佈人體中，有上中下之異，方人心湛寂，欲念不起，則精氣散在三焦，榮華百骸，及其欲念一起，心火熾然，翕撮三焦精氣，入命門之府，輸瀉而去，故號此腑為三焦耳。世承叔和之謬而不悟，可為長歎息也。」予甚異其說，後為齊州從事，有一舉子齊遁者，石守道之婿也，少嘗學醫於衛州，聞高敏之遺說，療病有精思，予為道驤之言，遁喜曰「齊嘗大饑，群句相臠割而食，有一人皮肉盡而骨脈全者，遁以學醫，往觀其五臟，見右腎下有脂膜如手大者，正與膀胱相對，有二白脈自其中出，夾脊而上貫腦，意此即導引家所謂夾脊雙關者，而不悟脂膜如手大者之為三焦也。」單君之言，與所見懸合，可以正古人之謬矣。今醫家者流，皆執叔和三焦無狀空有名以自信，不聞有此說，故錄之。燧按：謂三焦有名無形始於秦越人，然愚以為乃軀殼內臟腑外之脂膜高處，焦者高也，非氣也，但以氣道所流通，用藥則宜氣藥而不宜血藥耳。</p>
<h2>病笑</h2>
<p>德清陳云瞻尚古《簪云樓雜說》載：先達李其姓，歸德府鹿邑人也，世為農家。癸卯獲雋於鄉，伊父以喜故，失聲大笑，乃春舉進士，其笑彌甚，曆十年擢諫垣，遂成痼疾，初猶間發，後宵旦不能休，大諫甚憂之，從容語太醫院某，因得所授，命家人紿乃父云「大諫已歿。」乃父慟絕幾殞，如是者十日，病漸瘳。佯為郵語云「大諫治以趙大夫，絕而復蘇。」李因不悲，而笑症永不作矣。蓋醫者意也。過喜則傷，濟以悲而乃和，技進乎道矣。燧按：此深得《內經》「喜傷心，恐勝喜；恐傷腎，思勝恐；思傷脾，怒勝思；怒傷肝，悲勝怒；憂傷肺，喜勝憂」之旨；，知此可與言治七情病矣。</p>
<h2>過食辛辣成毒</h2>
<p>又載烏程顧文虎，累葉簪纓，習享豐豫，忽一日，促家人持竹批，解褲受杖，後習為故常，用稍輕，輒加呵責，或反以杖杖之，必重下乃呼快心，如是數年，漸覺疼痛而止。醫者聞之曰「過嗜辛辣發物，則熱毒內訌？因成奇癢，適打散不致上攻，否則疽發背而死矣。」此富貴之人炯鑒也。</p>
<h2>頭痛</h2>
<p>《譚瀛》云：山右傅青主徵君山，精醫，今所傳世者，僅婦科書，顧不徒精婦科也。有同鄉某，客都中，忽患頭痛，經多醫不效。聞太醫院某公為國手，斷人生死不爽，特造請診治，公按脈畢，命之曰：「此一月症也，可速歸家料理後事，遲無及矣。」某聞怏怏歸寓，急治任兼程旋裏。會徵君入都，遇諸途，問某歸意，以疾告，曰太醫院某君，今國手也，盍請治之？某歎曰「僕此歸，正遵某公命也。」乃具告所言。徵君駭曰：「果爾奈何？試為汝詠之。」按脈良久，歎曰：「某公真國手也，其言不謬。」某固知徵君技不在某公下，泫然泣曰：「誠如君言，某真無生望矣。然君久著和緩名，竟不能生死人而肉白骨乎？」徵君又沉思久之，謂曰；「汝疾萬無生理，今思得一法，愈則不任功，不愈亦不任過，汝如法試之何如？」某大喜求方，徵君命歸家遍覓健少所著舊氈笠十餘枚，煎濃湯，漉成膏，旦夕服之。疾果瘥。尋至都中，見徵君，喜慰異常。趨往謁某公，公見某至，瞿然曰「君猶無恙耶。」具以徵君所治之法告之，公歎曰：「傅君神醫，吾不及也。吾初診汝疾，係腦髓虧耗，按古方唯生人腦可療，頤萬不能致，則疾亦別無治法。今傅君以健少氈笠多枚代之，真神手，吾不及也，若非傅君，汝白骨寒矣，謂非為鄙人所誤耶！」</p>
<h2>解鹵汁</h2>
<p>紀曉嵐昀《如是我聞》載：飲鹵汁者，血疑(凝)而死，無藥可醫。裏有婦人飲此者，方張惶莫措，忽一媼排闔入曰「可急取隔壁賣豆腐家所磨豆漿灌之。鹵得豆漿，則凝漿為腐，而不至於凝血。我是前村老狐，曾聞仙人言此方也。」</p>
<h2>經阻腹大嘔不納穀</h2>
<p>上海毛祥麟對山《快心醒睡錄》，載治繆理堂司馬細君，經阻年餘，腹形漸大，嘔不納穀，日僅飲藕汁一二杯，已待斃矣。延余往診，見其弱不勝衣，喘不成語，按脈左三部細若遊絲，而右關獨大，知疾在厥陰而損及太陰，閱前醫立案，或言氣言聚，或言症瘕，雜投辛香燥散，以至危殆，爰以甘緩之劑，一進而逆止，再進而食增，繼以育陰益氣，經月而脹滿悉除矣。是症初不過液枯氣結，木乘中土，惟攻伐過甚，陰液日涸，遂至肝陽莫制，陽明受困，夫陽土喜柔，甘能緩急，進甘緩者，治肝即所以救胃，此一舉兼備法也。</p>
<h2>浮腫</h2>
<p>毛又云：「癸丑寓鄉，有舵工子，夏患瘡癢，醫投苦寒之品，至秋漸至浮腫，繼延幼科，更進利導，腫勢日甚，病及半年，僅存一息，絕食已二日矣。」或謂余知醫，其父遂踵門求治。余鑒其誠，往視，腫勢已甚，面目幾不可辨，脈亦無從據按，因思病久必虛，且多服寒涼，脾土益衰，而及於腎，腎水泛溢，三焦停滯，水滲皮膚，注於肌肉，水盈則氣促而欲脫，擬急進獨參湯以助肺氣，蓋肺主一身氣化，且有金水相生之義也，時鄉間無以覓參，乃以仙居術一兩，令濃煎，盡一器服之，喉間痰聲覺漸退，於是特進六君<span class="註"><small class="雙行小字">子湯</small></span>，重用參朮，甫半月而腫盡消。此二症皆以平淡取效，可見方不在奇，在用之得當耳。</p>
<h2>霍亂吐瀉</h2>
<p>毛又云：夏令暑熱炎蒸，濕濁上騰，人在蒸淫熱迫中，設或正氣不足，最易感病，矧南方地卑氣薄，更多中痧吐瀉之症。推其致病之原，或過於貪涼，風寒外受，或困於行路，暑濕相干，或口腹不慎，為冷膩所滯，或飲食不節，使輸化失宜，或感時行疫癘之邪，或觸穢惡不正之氣，皆能致脾土不運，陰陽反戾，升降失司，卒然腹痛，上下奔迫，四肢厥冷，吐瀉並作，津液頓亡，則宗筋失養，故足攣筋縮，先起兩腿，或見四肢，名曰霍亂轉筋，生死瞬息。年來此症大行，我色地窄人稠，互相傳染，甚有一家數人，同時告斃，深可畏也。茲故不揣鄙陋，爰擬一方，名曰聖治，入夏可預合備用，如遇疫癘時行，痧暑並觸，或感穢，或入病家心懷疑慮，胸覺痞悶時，藉以一丸入口，以解穢卻邪，勿亂其氣。方用正號仙居野術，烘燥勿令焦黑二兩，真川厚朴二兩，白檀香研細末一兩，真降香研細末一兩，新會皮用鹽水炒二兩，以上五味，再同研為極細末，以廣藿香六兩煎濃湯，泛丸如大黃豆大，每服二三丸，細嚼和津咽下。按術味甘能和脾，苦能燥濕，定中止嘔，扶正卻邪，開胃氣以除積飲，故用以為君；朴苦辛能瀉實而化濕，平胃調中，消痰行水，兼治瀉痢嘔惡；陳皮為脾肺氣分之藥，能快膈導滯，宣通五臟並可除寒散表，故用此二味為臣；檀香調脾利膈，正氣驅邪；降香能辟穢惡怪異之氣，故用為佐使，藿香稟清和芬芳之氣，為達脾肺之要藥，氣機通暢，則邪逆自定，故用為引，其曰聖治者，以聖人有治病治未病之旨，蓋思患預防，莫若服藥於未病之先，使輕者解散，而重者化輕，未必非卻病養生之一助云。</p>
<h2>生螺鯁喉</h2>
<p>《譚瀛》載富翁某，中年舉二雄，甫周啐，忽終日啼哭，滴乳不食，舉家憂惶，延多醫商治，籌商立方，藥不下嚥，束手無策，次第散去，中有某醫，素專治小兒，其術甚精，再三諦視指紋，知兒固無病，竊希厚酬，獨留不去，而輾轉思維，卒不喻其啼哭不乳之故，偶遊後園，見乳姆於荷池為兒洗濯衣袴，蓬頭悲泣，問其何泣之哀，答曰「妾一家老幼不下十口，皆賴妾在此乳兒，得不凍餒，今兒疾不治，一家斷難存活，那得不哭，」醫聞是乳姆，其心忽動，乃曰「我醫也，再四諦視指紋，兒實無病，但不喻其啼哭不乳之故，汝若知之，可悉告我，我當設法治之。若是則汝家溫飽，我亦得厚酬矣，未審汝知之否？」乳姆聞之，惶遽投地，悄語之曰「先生必秘勿告翁，妾乃敢言。」醫曰「諾。」乃曰「前日抱兒戲池畔，兒掬石上生螺，納諸口中，妾急以指掬之．已鯁喉際，從此啼哭，滴乳不食，此致病之由，惟妾一人知之，先生未審果能治之否？」醫撫掌笑曰「得之矣。」見翁，笑賀曰「頃思得一良法，疾可立愈。」囑翁速購肥鴨百頭，繩係其足而倒懸之，以盎承鴨嘴所流漁(涎)沫若千，用銚頻挹注兒口中，不炊許時，兒啼哭頓止，且以手索乳哺矣。</p>
<h2>轉女為男</h2>
<p>天長宣鼎瘦梅《夜雨秋燈錄》載：吾鄉史苕楣明經，為人慷慨好施，老年望孫念切，子婦懷孕，未卜男女，時有精岐黃之迫，不屑以醫名者，苕楣延診，其人曰「脈主得女，然吾翁之善，可回天意，請竭吾術，使轉為男，以報知己。第陽莖須移一肢改造，得男必缺一肢，翁願之否？」苕楣詫曰「先生之學，素所敬佩，不意竟能化女為男，無已，請移其足趾？無礙觀瞻，更妙。」其人曰「不能。上可移下，下不能移上。」再三籌度，惟兩手小指無用，可以挪借。苕楣欣然諾謝，遂設爐煉藥，佩服兼行，及期，果產男孩，手僅八指，見客靦腆，宛若閨閣中人。</p>
<p>又載姑蘇有老翁，富而無嗣，僅生一女，及笄病篤，醫皆束手，聘名醫葉天士診之，笑曰：「是非病也。肯以若女為我女，且從我遊，百日後，還閣下以壯健者，如遲疑不決，是翁自殺之，死非正命，良可哀也。」翁詫曰：「誠如是，願以千金為壽。」天士攜歸，另潔密室選婢之美而豔者，使伴女宿，囑曰「此汝姑也，終身依依在是，順姑無違，稍有拂逆，致增其病，惟汝是間。」於是日給藥餌，恒往困之，見女體漸壯，容漸舒，與婢情纖日密，形影相隨，知事已遂，遽入其室，迫喝婢日「汝與姑所作何事？我窺覘洞徹，必盡言之，如敢隱諱，將以刑求，毋自苦也。」婢視女而泣，女忸怩曰：「婢之伴我，翁之嚴命，如違應責，順何罪耶？」婢因曰：「是主陷奴耳。以郎君偽稱義女，而使奴同衾枕，違既不敢，從又獲咎，使奴置身何地？」天士大笑曰：「已順從姑耶，方為汝喜，豈汝責耶，速女改裝，去髮而辮之，以藥展其弓足。」衣冠履舄，居然男子。延其父至，而告曰：「閣下以子為女，偽疾誑我，誤使義女伴之，今為其所亂，將如之何？」翁愕然，不解所謂，乃使兩人出拜，顧而大樂，願以婢為兒婦，與天士結為姻婭，往來無間。</p>
<p>《鄉序》曰：「變女為男之法，見於醫經，史以盛德而遇良醫，理所應得，無足怪者。」，惟葉所治之女，其醫經所載之五不男耶，名曰「天捷妬變半」。任衝不盛，宗筋不成曰天；值男即女，值女即男曰捷；男根不滿，似有似無曰妬；半月為男，半月為女曰變；雖有男根，不能交媾曰半。此五等人，狀貌血氣，本具男形，惟任衝二脈不足，似男而不成其男，為父母者，誤以作女，年至十六，氣足神旺，陽事興矣，鬱不得發，是以病篤，幸遇名醫，充以妙藥，誘以所欲，自然陽莖突出，不復女矣。吾意五不男中，除天閹外，皆可以藥救也。</p>
<h2>環唇疔</h2>
<p>《譚瀛》載杭城某富翁，好行善，一子七歲，環唇生七疔，痛徹心髓，症甚危殆，凡精岐黃者，皆羅致家中，商榷立方，卒無效。創且日甚，水漿不入，醫謝無能，相率辭去。翁愁思無策，坐待其斃而已。忽有嫗丐於門，聒求無厭，閽者呵之，翁聞，出責閽者，如言給媼。媼見翁淚承睫，詰知兒疾，曰「此名七星攢月，危症也。惟十二歲內小兒所下蛻蟲百條，搗餅，疊敷之可治。」翁聞媼言，入諭於眾，比出延媼，不知所往。而所給之物固在，驚以為神。如媼言，懸格徵求，凡有小兒者，咸以藥下擾蟲，爭獻求嘗，敷之果愈。燧按：唇為脾胃之應，如無蛔蟲，以雞內金、知母為末，加五穀蟲共搗塗之亦可。</p>
<h2>實熱內伏</h2>
<p>又載錢福耀，好善知醫，治疾不責謝，元旦山行，見兩叟坐地談醫，一叟蒼髯垂胸，一叟豐頤微髭，錢頓觸所好，拱手請教。蒼髯者笑曰「汝亦知醫耶？」；對曰「然。」曰「醫有'三審，汝知之乎？」曰「何謂三審？」曰「一審色，二審舌，三審脈。」凡為人治疾，先審面色，由色而辨五行，或宜相生，或宜相克；次審舌，辨其枯潤；次審脈之浮沉遲數，以分表裏虛實，而決其風寒濕熱。三審既確，然後斟酌立方，百不失一。汝第識吾言，神而明之，能事畢矣。錢頓首領教，請問兩叟姓名，微髭者指蒼髯者謂曰「此三國時華元化先生，予乃唐時孫思邈也。」錢大驚，知為遇仙，急僕伏叩首、及仰視，杳矣。自是醫理日進，會太守有母，暑月患疾，衣重裘尚自惡寒，群醫僉以熱劑投之，不效。延錢診治，觀病者兩顴赤，舌色黑燥，確係實熱內伏，攻去內熱，外邪自去，急命飽飲瓜汁，少選，泄去惡滯，儽然熟睡，寤後，汗出如雨，其疾良瘥。</p>
<h2>虛寒中風</h2>
<p>又載中丞某公，於中秋忽白睛上泛，驟然倒地，手足攣搐，多醫相視，不敢立方，錢見某公面白微青，舌白而潤，意中秋金氣得令，涼風乘虛而入，引動內風，症屬虛寒，治宜扶火泄金，培土制木，遂進參耆術桂等藥，而疾頓愈。</p>
<h2>膈</h2>
<p>東軒主人《述異記》載：楚武昌府漢陽門內，舊有陳友諒廣積倉基，今皆為民治，康熙甲子年，有地中掘得黑米者，黑如漆，堅如石，炒之即松，研為末，治膈症如神。臨海教諭吳牖丹在楚殺見言之。</p>
<h2>失明</h2>
<p>祖台之《志怪錄》載：吳中書郎盛沖至孝，母王氏失明，沖暫行勒婢食母，婢乃以蠐螬齏食之，王氏甚美，然非魚肉，母謂沖曰，汝試問之，既而問婢，服實見蠐螬。沖抱母慟哭，而目立開。《本草經》曰：「蠐螬一名蟦齊，主治血瘴。」</p>
<h2>痘</h2>
<p>《時報》載淩頌和《患痘須知》九條云：一痘發五六日痘當出齊，看是否出齊，以腳心為驗，腳心有痘則出齊矣。然痘稀少者亦不拘此，總以邪熱退而痘為出齊矣。若-一發便出齊者，勢必重也。一先發驚而後發痘者多安？先發痘而後發驚者多危，名曰驚痘。一用手揩摩面頰如紅隨手轉白，白隨轉紅，謂之血活可治，如揩之不白舉之不紅，謂之血枯，雖疏難治。一痘未開盤而頭面先腫，此元氣大虛，名為虛腫，非起脹也，其痘不能起脹，宜大補元氣，腫自消而脹自起，若痘已回而腫不消，是元氣大虛，不能攝毒盡化為漿，余毒留於肌膚之間所致。； 一痘從正額兩顴先見者多順，人中，口鼻先見者多險，或口唇、目胞先浮腫者，此脾胃受毒尤險，太陽頤腮耳先見者多逆，其不能先見於上部而反見於下部者，亦元氣不振耳，其起漿收痂亦回。一諸處痘不起，惟面部及臀上痘有漿起綻者可治。有面部痘好，惟鼻上無痘，或有痘不出綻行漿者皆難治。四肢有漿惟身面無漿者難治。全身痘漿灌足，惟面上不行漿者死。全身痘色紅活，惟面部焦枯者難治。周身痘好，惟兩足膝下全無者凶。若面半以上稠密灰滯，而面半以下勻明綻澤者，名云掩天庭難治。抑諸處出齊勻朗紅潤，而腰間稠密灰滯作痛者，名纏腰，此毒滯於陰，不能成漿，九日危，遲則不過十一日也。一痘色紫中帶黑焦枯者，乃純陽無陰之症，其人必口乾畏寒、小便短大便結，宜清火解毒，但得灌漿，猶望生活。一顆粒疏綻，根盤紅潤，精神爽健，二便如常，吉痘也，勿藥有喜。一痘中有紫黑乾硬、暴脹獨大，腳無紅暈或疼或不疼者，即痘疔也，痘疔能閉諸毒，未齊有疔則諸痘不能出；既齊有疔則諸痘不能起脹；行漿時有疔則諸痘必致倒陷，故初出時見有紫黑獨大之點，恐其成疔，即宜以銀針挑破，吸盡毒血，然後以拔療散敷之，次日復看，若再硬脹，仍然刺破，以前藥敷之，必轉紅活方可已也；若針挑不動，手撚有核，則成療矣，須用針從四邊刳開，以小鉗鉗出，其形如療，有寸許長，拔去其療，仍以前藥敷瘡口，乃可無虞。又四肢有痘，慘暗堅硬而甚痛，或外無痘而內有核作痛者，亦痘疔也，宜以艾火燒之即愈，或以燈火烙之亦效。若不急治，則此粒痘深陷穿筋透髓而爛見骨，甚可畏也。又天庭有黑點，心窩舌上必有疔；地角有黑點，陰囊陰戶必有疔；兩顴有黑點，兩腋必有疔；準頭有黑點，四肢必有疔，此觀顯可知其隱，又不可不詳也。又痘大色黃如金者，名賊痘，大而黑者為痘疔，當以銀針挑破吸盡毒血，拔疔散敷之。附拔疔散方：水飛明雄黃二錢．胭脂粒五錢，無則胭脂膏亦可，共為細末。凡遇痘疔、賊痘刺出黑血，敷之立能止痛，神效。儻舌上痘疔，用銅綠、銀朱、朱砂、雄黃，人中白等分，共研勻擦之。</p>
<h2>食鴨成癥</h2>
<p>宋·劉敬叔《異苑》載：元嘉中章安有人噉鴨肉，乃成瘕病，胸滿面赤，不得飲食，醫令服秫術瀋，須臾煩悶，吐一鴨雛，身啄翅皆已成就，惟左腳故綴昔所食肉，病遂獲瘥。</p>
<h2>發癥</h2>
<p>又載有人誤吞發，便得病，但欲咽豬脂，張口時，見喉中有一頭出受膏，乃取小鉤為餌，而引得一物，長三尺余，其形似蛇，而悉是豬脂，懸於屋間，旬日融盡，惟發在焉。</p>
<h2>中痰</h2>
<p>明，鄭仲夔胄師《耳新》載：嚴分宜朝退，忽暴疾，家人救不醒，京師名醫延請略遍，而服藥都不少效，舉家惶惶，且欲議後事。有彭孔者，善醫而甚無名，聞而自薦，入視，修一劑，謂分宜夫人曰：「飲此，當嘔出多痰，痰去，至夜半方醒，明晨可全無事。若吾來遲，即無濟矣。」諸醫咸目笑之。煎服，有頃果嘔痰數升，再服復睡去，至三更，忽能言，次日遂愈。孔由是知名，大為分宜用事。燧按：名公巨卿，信虛喜補，醫家以逢迎以卸責，雖見症確鑿，不敢放手用攻，比比皆是，可慨也。</p>
<h2>脾疾</h2>
<p>禾水包公剡汝輯《南中紀聞》載：靖州南二十裏飛山砦，相傳為元末朱都督屯兵之所，牆礫間時有米粒，色微黑而不腐，云是朱公所遺兵糧，遊客謁神祠，取輒得之，至今尚有，服之可療脾疾。此亦一段奇跡。聞衡山有仙人糧，斯其仿佛歟。燧按：相傳黑米能治膈症，治脾胃也頗有理在。</p>
<h2>猘犬傷</h2>
<p>華亭陳繼儒《群碎錄》載：《左傳》云：國狗之瘈無不噬也。杜預注云：「瘈狂犬也。今云猘犬。」《宋書》云：「張收為猘犬所傷，食蝦蟆膾而愈。」又椎碎杏仁納傷處即愈。</p>
<h2>邪祟交合</h2>
<p>梢李王枕甫逋肱《蚓庵瑣語》載：新安程孝廉名光裏字奕先，奉呂祖甚虔，忽有黑氣入裩中，似覺婦人之陰，一接而精大泄，符藥不靈。一日遇一道人，教具佩麝香可愈。初佩不多，未驗，後佩兩余，其祟遂絕。</p>
<h2>噎</h2>
<p>吳江鈕玉樵誘《觚賸》載：武昌小南門外獻花寺僧自究病噎，百藥不效，臨歿，謂其徒曰「我毒<span class="註"><small class="雙行小字">獨</small></span>罹此患，胸臆必有物為祟，逝後剖去殮我，我感之入地矣。」其徒如教，得一骨如簪，收置經案，久相傳示。閱歲，適有戎帥寓寺，從者殺鵝。未斷其喉，偶見此骨，取以挑刺，鵝血噴發，而骨遂消滅。自究之徒亦病噎，因悟鵝血可治，數飲遂愈。遍以此方授人，無不驗者。燧按：蘇恭謂鵝毛灰治噎，不獨血也。</p>
<h2>龜癥、產</h2>
<p>明·楊循吉《蓬軒吳記》載：葛可久國初名醫，有奇驗。一人患腹疼，延葛治，葛視之，謂其家曰「腹有肉龜，俟熟睡吾針之，勿令患者知，知則龜藏矣。」患者問故，家人誑曰「醫云寒氣凝結，多飲釀酒自散耳。」患者乃引觴劇飲，沉酣而臥，家人亟報葛，葛診其脈，以針刺其腹，患者驚寤，畀以藥，須臾，有物下，儼如龜，厥首有穴，蓋針所中也，病遂愈。又一鄰婦娠將娩，氣上逆，痛不可忍，就葛視，葛見之，遽以掌擊案，厲聲大叱，婦驚，產一子。葛慰曰「向見爾色青氣逆，是腹中兒上攻，少緩不可救矣。猝然被驚，故即產也。」其神驗如此。燧按：三屍為患，亦不能明告患者何病何藥，告則其蟲避不飲藥矣。又驚則氣下，故葛之治二病如此。</p>
