<header data-type="book">
<h1>研經言</h1>
</header>
<h2>袁序</h2>
<p>莫枚士《研經言》一書，余從丹徒楊霽青先生抄得者也。全書四卷，凡一百五十余篇，多釋經辨誤之作，實有發前人所未發者。陸九芝、陸心源二家序中已詳言之。余諷誦再四，覺此公之學養卻優，不獨其疏證經義，獨具卓識，即其評論近世名醫，如謂葉天士《臨證指南》，於溫熱脾胃最精等處，皆極平允之論，以視黃坤載、陳修園輩之一味泥古，抹煞先賢者，其相去為何如耶。跡其生時，適當洪楊割據，天下大亂之時，故雖經鏤版，而所傳未廣。余曩讀《世補齋醫》書，即知有先生此書，而四方尋覓，竟未得見。後承霽青先生賜覽，因得錄一副本，私心欲廣其傳，以公同好。故於醫學扶輪報、神州醫藥學報中，皆擇尤刊布。誠以維持絕學，非廣為流布，不以收效。今年春紹興醫藥學報社擬刊醫學叢書，以存國粹。貽書相囑欲，將此書刻入叢書中，因即將所錄副本郵寄付刊。夫表彰前哲，刊刻遺書，耗為吾儕醫家之責，不足深論。獨是莫氏作此書時，即當洪楊割據，天下大亂之時，而今日貴社刻此書時，又值天下大亂，禍至無日之候，豈天心不仁，降此鞠凶，即塗炭其民眾，復肆虐於醫籍耶。抑劫運有常，洪楊距今已六十年，前造此因，今日應有此果耶。然而風雨如晦，雞鳴不已，貴社諸君子之用心，亦良苦矣。</p>
<p><u>丙辰首夏江都袁焯記於京口</u></p>
<h2>陸序</h2>
<p>余婿沈子彥模初，自吳興來謁，即盛稱其師莫枚士先生之醫學。余即以拙著《世補齋》初稿，介沈子正於先生，而先生亦郵寄所撰《研經言》屬校，並索為序。既卒讀，乃嘆先生之學之博，識之邃，深造自得，而左右逢原者，有如此也。夫《本經》、《靈》、《素》，刊之三墳，既非蓬心人所能領會，而如南陽一脈，以及《脈經》、《病源》、《千金》、《外台》之所言，則皆隨時隨地習見之病，而亦視為鳥篆蟲書，不可測識，曾不能用其一方一藥，尚何醫之足云哉。君舉於鄉，不樂仕進，潛心國小，出其余緒，以治醫家言，為之審聲音，詳訓詁，以經解經，復以方求病，遂乃病無遁狀，方無虛設。如君之學，若漫譽以高出時輩，則是誣君而已。豈知君者，君所著尚有數種，應請先以此冊付手民，俾今而後之病患，得遇識字之醫，而免夭札也。裡居戢影，韓陵片石外，無可語者，行將鼓棹游苕　間，登君之堂，以所學相質證，然亦勿勿耳。沈子何幸，而得立雪君門也，是為序。</p>
<p><u>光緒五年己卯三月元和陸懋修拜撰</u></p>
<p>（按：先生於甲申四月刊《世補齋醫書》文十六卷中，於此序多所增改，今謹錄其初稿。）</p>
<p>予少與同裡莫枚士同治訓詁之學，既遭多故，余以軍事馳驅南北，與枚士不相聞者數年。及余奉諱歸，握手道故，則其氣益穆，其學益邃，且有不為良相為良醫之志。其言醫也，本小學以讀《靈》《素》，祧宋元而檷漢唐，與論學之旨同。余初驚詫其言，而卒無以易也，未幾出所著《研經言》，屬余為序。夫先秦古書，存於今寡矣。幸而僅存，又多詰屈奧衍，魯魚亥豕，非好學深思不能讀，而醫書為尤甚。蓋近古多聞綴學之士，未必通醫家言，醫家者流，往往不識字，不讀書，而以醫為市，即有一二名家，或究心方劑，而昧於微言，或各執己見，而疏於考古。無惑乎醫家之不明，而世人之多夭札也。枚士憂之，據《說文》以釋疝之殊，據《玉篇》以明癲癇之異，而前人之失正焉。邪哭則證之《巢氏》，症即風痴，酸削則證之《周禮》，定為酸消。而舊注之疏焉。蛟龍乃龍咬之訛，蛔咬有例。柔　實惡寒之症，元本足征。而傳刻之訛祛焉。洵乎仲景之功臣，而俗醫之針砭矣。他日推其所學以治天下，所造豈可量哉。獨念予妄談經濟，無裨於世，及退而著書，亦無成就。讀枚士書，不能無愧於心也。</p>
<p><u>同治十年七月愚弟陸心源拜撰</u></p>
<h2>自序</h2>
<p>余於咸豐之季，避寇海上，時疫盛行，流民踵喪，盡無以救，始知醫之急於人也。而學之既有年，乃輯眾說，考文析義，校注《傷寒論》、《金匱方論》二書，繼以《金匱》論略，因集眾症，釋名狀，立義例，作證原及脈法，繼又以治病在處方，因闡經方作釋例，繼又以處方在辨藥，因《校注神農本草經》。此外解經之作，隨成隨棄，錄其存者，得百余首，厘為四卷，名曰《研經言》。質之通人，以為他日自鏡之資。余不敏，凡所論述，不敢故為高深，獨標新異。惟務切近平實，求當乎古人之書之義理而已。記不云乎，致知在格物，書亦物也，讀而格之，以致其知，將為延醫地也。如曰有裨斯藝，以俟能者。</p>
<p><u>苕川迂叟自序</u></p>
<h2>卷一</h2>
<h3>原因</h3>
<p>百病之因有八：一邪氣，二水濕，三鬼神，四蟲獸，五器物，六飲食，七藥石，八人事。前五者在身外，後三者在身內。而八綱之中，各有數目。邪氣之屬，有風日霧瘴，有寒暑。水濕之屬，有露雨，有水。鬼神之屬，有沖擊，有喪尸，有精魅，有禍祟。蟲獸之屬，有咬螫，有影射，有遺毒，有觸氣。器物之屬，有金鏃，有打壓，有觸傷，有湯火。飲食之屬，有禁忌，有過多，有五味所傷，有中毒。藥石之屬，有服藥過劑，有藥誤石毒鴉片。人事之屬，有喜憂欲恚恐，有行立坐臥，舉重閃挫，墮墜跌仆。總計其目，二十有餘。擬引古論，衍成一卷，而未遑也，略序於此。</p>
<h3>原賊邪</h3>
<p>賊邪者，太一沖方之氣，因太一之氣不能自旺而來也。自太一言之曰虛風，自沖方言曰之賊風，自受於人言之曰虛邪，亦曰賊邪。經云「邪氣者，虛邪之賊傷人也」是也。《病源》云：冬至之日，有風從南方來曰賊風。以此推之，則春分西風、夏至北風、秋分東風、季春西北風、季夏東北風、季秋東南風、季冬西南風，皆賊風也。其法不取五行生克，而用八方對沖。一九相對，故子午沖而寒熱可以互勝，凡熱極反寒、寒極反熱之病準此。三七相對，故卯酉沖而溫涼可以互勝。二八、四六相對，二坤熱土，八艮寒土，四巽溫土，六乾涼土，坤、巽得溫熱之氣則皆濕土，艮、乾得寒涼之氣則皆燥土。濕土漸於辰、旺於未，燥土漸於戌、旺於丑，故辰戌丑未沖而燥濕可以互勝。《靈》九宮八風篇文及《素》委和之紀眚於三五段，及乙丑乙未歲災七宮十五段，文義蓋如此。其原出於九疇、八卦也。</p>
<h3>原風濕</h3>
<p>漢鄭康成注《書‧洪范》曰：風，中央土氣。此言最的。土旺四時，故春溫、夏熱、長夏濕、秋燥、冬寒之氣，皆於風見之。以五行言，曰五氣；以六元言，曰六氣；以四時言，曰四氣；以五方言，曰五風；以八方言，曰八風；自其偏勝者言，曰五邪；自六氣之偏勝者言，曰六淫。皆此一風，乃天地所以生萬物、長萬物、茂萬物、收萬物、藏萬物者也。此氣失和，則病萬物，而又徹乎四時，故經曰：風者百病之長也。以其氣散發，故經又以風為木氣，而屬之春，猶濕亦為土氣，而經或屬之秋也。夫濕有數種，第古人於水土之蒸氣，正謂之濕，而五行之濕統於風，水穀之濕直云水若飲，分別綦嚴。近世概以濕目之。然古人治濕之方，不可以治今之所謂濕也。</p>
<h3>原榮衛</h3>
<p>人有三氣。衛氣出於上焦（據《素問》注），榮氣出於中焦，二者皆氣也；二氣合行於心肺之間，則積而為宗氣，本無形質，必有所附麗以行。故榮行脈中，附麗於血；衛行脈外，附麗於津。惟血隨榮氣而行，故榮氣傷則血瘀；津隨衛氣而行，故衛氣衰則津停。治血以運化榮氣為主；治津以溫通衛氣為主。知乎此，而榮血、衛氣之說可以息矣。且也，血所以濡脈，津所以濡筋。（傷寒汗後，四肢拘急，此津不濡筋之故），而榮之行，自手太陰始，故《靈》經脈篇序十二經以手太陰為端；衛之行，自足太陽始，故《靈》經筋篇序十二經以足太陽為端。知乎此，而心榮、肺衛之說可以息矣。（衛出上焦，據王《素問》注。今《靈樞》「上」</p>
<p>作「下」，誤。）</p>
<h3>原易</h3>
<p>病之得於歲氣者，一自正氣來，一自時氣來。正氣為病，以傷寒、傷暑為最著；時氣為病，以冬溫、寒疫為最著：皆以其極偏也。正氣，太一方之王氣，本不病患，而人自觸之，謂之以人干天；時氣，對沖方之戾氣，本能病患，而人適中之，謂之以天令人。以人干天，則觸之者病，而不觸者無與焉；以天令人，則中之者固病，而不中者即染之。人氣處於獨，天氣統於同，所以正氣病無易，時氣病有易也。正氣雖過中而非厲，時氣即稍弱而已毒。所以正氣病，縱如傷寒、傷暑之重而不易；時氣病，縱非冬溫、寒疫之重而亦易也。今傷風咳嗽有相易者，以此咳嗽亦自時氣來。</p>
<h3>傷寒溫熱延醫論</h3>
<p>所以謂傷寒、熱病有別者，別於診不別於症，別於法不別於藥。氣盛身寒，得之傷寒；氣虛身熱，得之傷暑。診之別也。然而傷寒傳變，則亦身熱；傷暑發狂，則亦氣盛。非症之無別者乎？淺人誤認，職是故耳！傷寒皆先汗後下；溫熱或先下後汗：法之別也。然而汗則麻、葛，下則硝、黃；傷寒之汗、下以是，溫熱之汗、下亦以是。非藥之無別者乎？由是推之，傷寒雖因於寒，一經化熱，舍黃連、石膏，更用何藥以涼之？溫熱雖已為熱，倘或過治，舍乾薑、附子，更用何藥以溫之？人生之患，縱有萬端，本草之數，止此一定，藥可通用，方何獨不可通用？近之解《傷寒論》者，執其中之白虎、黃芩等湯，以證此書之兼出溫熱治法。彼將謂傷寒病始終不宜寒藥，溫熱病始終不宜溫藥乎？噫！醫可若是之固哉？</p>
<h3>論河間說傷寒之誤</h3>
<p>寒之為氣，雖截然與熱對峙，而其傷人也，則隨人虛實而為病。其人實，則寒不能深入，但著於皮膚，而閉其腠理，即不得不熱；其人虛，則寒無所隔礙，遂過乎肌表而達於臟腑，即不得不寒。苟取《素》風論之旨繹之，即知仲景方論寒熱雜見之故矣。若《素》熱論人傷於寒，則為病熱云云，乃專主寒邪在經之常法，以答篇首六七日之問，不兼直中言，與仲景為寒字盡致者義別。河間泥此，遂謂傷寒有熱無寒，概指通脈、理中等症，為得之寒藥誤下，非惟濃誣仲景，並誤會《內經》也。寒之乘也，猛於他氣，故例曰：其傷於四時之氣，皆能為病。以傷寒為毒者，以其最成殺厲之氣也。河間乃謂溫熱涼寒，皆取傷寒而分其微甚，是以傷寒為四氣病統稱，豈其然乎？寒之藏也，歷春至夏，則陽氣大泄，而不能復留，故例止云寒毒藏於肌骨，至春變為溫病，至夏變為暑病。河間乃續之曰：秋變為濕病，冬變為正傷寒。如此任意增改，其不足與語傷寒也明矣。</p>
<h3>原瘴</h3>
<p>古者於隔蔽之義，字止作障。《說文》云：障，隔也。是也。其作　、作鄣者，系通借字。</p>
<p>由是山之隔蔽者，即易　以山而作嶂。其因山之隔蔽，致少風多濕，蒸而為氣，足致民病者，又易山以　而作瘴。觀於字孳之義，而瘴之屬濕可知已。瘴取隔義，則與地氣發，天不應之霧相似；而與天氣發，地不應之霧為對。但患霧氣者，《千金》自有症治，與治瘴之度障散不同，足征近世混瘴於霧之非。《病源》通瘴於疫。余見東洋足本，於「青草黃芒瘴候」</p>
<p>，較中國本多四百余字，所列瘴病，證治獨詳。第其稱嶺南之瘴，猶如嶺北傷寒，似戾乎他論，當是指其盛行之勢相例耳！故其病不隸於傷寒諸候，而隸於癘疫，要之濕疫乃疫中之一端，未可以概疫也。《外台》又呼瘴為瘧，要之濕瘧亦瘧中之一端，未可以概瘧也。《聖濟總錄》論瘴與巢、王異，而延醫加詳，亦足補前人所未備。大抵瘴之發也，自有挾寒、挾熱二者。寒者白芷、桂枝、防風、檳榔等，已在度障散方中；熱者犀、羚，見《本經》及《綱目》集簡方。江南山多之地，其瘴雖不比嶺南之甚，然塗泥卑濕，水氣適為瘴助，往往於溫及暑病發時，錯出其間，故尤於犀、羚宜也。三吳老醫，善使犀、羚，蓋自此始，相治既久，遂有混施之而失當者。</p>
<h3>原痧</h3>
<p>《詩》疏謂江南有射工，一名短弧，含沙射人。《病源》卷二十四分其種類為射工、沙虱、溪毒三者。其中人狀，皆如傷寒，有惡寒、體熱、四肢拘急、頭痛、骨　屈伸、張口欠KT　等候。《本草綱目》四十二溪毒、射工毒、沙虱毒三者相近，俱似傷寒，故有挑沙、刮沙之法。其腹痛悶亂，須臾殺人者，謂之攪腸沙。據引諸說，則痧本作沙，即指射工所含者言也。</p>
<p>其沙著人肉，則或挑或刮以出之，證治相符，的有明征。後人踵用其法，不能灼知是否為射工病，但見惡寒發熱，狀如傷寒者即用之，於是治痧之法，遂混入治暑中。所以誤者，以射工毒亦盛行於夏故爾！夏月人氣自虛，倘非沙毒而用刮挑，則邪氣被卻不得出，有因而增病者矣，診者審之！至沙加　旁作痧，而近醫遂云感觸痧穢，乃天地間另一種氣。此所謂不得其說，從而為之辭也。</p>
<h3>原胎</h3>
<p>胞宮血氣之生，源有靈機，故有化機，不可有一物入留其中，有之則血氣隨物而裹，即令經閉腹大，謂之胎也。第其入留之物，有內外之別。由內入留者，本氣所結，故無所成；由外入留者，他氣所感，故有所成。二者皆於經行初淨得之，有所成者，必如其所感。當經行後，感男子之精，即成為人；感蟲蛇異物之精，即成為蟲蛇異物。至其生時，皆有可驗。此自外入留者二也。其自內入留者四：一為氣。多怒之婦，當其經行胞淨，氣乘虛入，則血與氣結，令人經閉腹大，方書謂之氣胎，治之下其氣而消；一為液。多痰之婦，當其經行胞淨，痰乘虛入，則血與痰結，令人經閉腹大，方書謂之痰胎，治之下其痰而消；一為水。《靈樞》謂之石瘕，與氣、液二胎同法，治之下其水而消；一為血。當經行時，或因舉重，或因犯房，致經事不卒，血瘀胞宮，亦令人經閉腹大，絕似真胎，治之下其血而消。以上四者，系婦人本氣所結，法與感異，而與積聚同。細考《病源》八瘕及魏之　《續案》，自知其故。</p>
<p>《病源》又有鬼胎，云是精魅入藏所致。然鬼交多在夢寐，非真有施泄，焉得似胎？若精物意在吸取人精，令人瘵死，亦非有所施泄，焉得似胎？以今俗稱痰胎為鬼胎推之，疑《病源》所云鬼者，亦對人言之耳！但須分別此五者，方能各盡其法，如概予以統同之號，即概施以安鎮之藥，多不效也。嗟乎！醫學不明，難免閨門不白之冤，仁者可不究諸！</p>
<h3>成注《傷寒論》論</h3>
<p>王叔和之次仲景論也，有義有例，各以類從，無可議者。成氏即用其本，故與《玉函經》次同。其六經六篇，又與《千金翼》次同。由晉而唐而宋，即此本、即此次也。何自明以來，諸家竟以顛倒移易為能哉？夫成氏至八十歲始注此書，則見聞廣、閱歷深，宜其辨別之精若此。然於脈證方藥則當，而於章節義例則疏。如六經篇首，不注明太陽、陽明等之謂何？與太陽諸症獨舉頭項強痛、惡寒以為端，陽明諸症獨舉胃家實以為端之義云何？若《平脈法》寸口趺陽兩脈迭舉，經意自有所指，成則各分段隨文以注之，使讀者茫然不知其何謂。凡此皆成氏之疏。欲窮經者，尚須參考《病源》、《千金》等書以自得之，勿墨守一家也。</p>
<h3>五志論</h3>
<p>人應乎天，天有元陽。元陽者升於春，春時陽半在下，陰半在上，陽氣欲升而不能遽越，當旺而不能自如，則有雷霆以彰之。人應之，為事未遂，其志拂拂然，怒之象也。春應肝，故肝為怒。怒生於恨，成於憤。恨而不已，為怨，為慍，為恚；憤而不已，為奮，為發，為自強。</p>
<p>元陽者泄於夏，夏時盛陽在上，微陰在下，陽氣盛滿於己而若自得，輕易乎陰而不措意，則有炎暑以彰之。人應之，為事已遂，其志怡怡然，喜之象也。夏應心，故心為喜。喜生於盛，成於玩。盛而不已，為舒緩，為惰，為安；玩而不已，為狎侮，為愎，為自足。</p>
<p>元陽者平於中央，此時陰陽和勻，既籌及於陽之勝，又預計夫陽之敗，則反覆以存其變焉。</p>
<p>人應之，為思患而預防。又土為萬物所歸，和者偏者皆歸之。春氣溫而極於季春，夏氣熱而極於季夏，秋氣涼而極於季秋，冬氣寒而極於季冬，靜觀以持其常焉。人應之，為閱歷多而是非熟，二者思之象也。中央應脾，故脾為思。思生於先，成於後。先事而思，為慎，為戒，為畏，為自虛；後事而思，為樂，為慕，為智，為自矜。二者皆思之所為，如是則勞矣，故脾主勞。</p>
<p>元陽者收於秋，秋時陽半在上，陰半在下，陽氣就衰而日受陰之剝，已退而日視陰之長，則有淒切之氣以彰之。人應之，為事將敗，其志殷殷然，憂之象也。秋應肺，故肺為憂。憂生於慮，成於悔。慮而不已，為拘，為愁，為不安；悔而不已，為悲哀，為哭，為自咎。</p>
<p>元陽者藏於冬，冬時微陽在下，盛陰在上，陽氣避陰之方張而不出，防陰之滅己而自懼，於是乎水冰地坼，寒風冽凜，而陽氣惟不樹聲色以避之。人應之，為事已敗，其志惕惕然，恐之象也。冬應腎，故腎為恐。恐生於暇，成於怯。暇而不已，為退，為優游，為呻吟；怯而不已，為愧，為伏，為自餒。</p>
<h3>陰陽交並論</h3>
<p>陰陽交並，二者乃熱病表裡俱實者之診法也。其表裡俱實，而復相連互曰交，續自釐清曰並。陰交者，裡實較盛，故已得汗，而脈尚躁盛；並陽則初似陰交，而復得汗，脈漸靜，以裡散表解也。陽交者，表實較盛，故脈常躁盛而不得汗；並陰則初似陽交，而一得汗散熱即泄，以表解裡微也。故交者皆死，並者皆生。《脈經》曰：熱病已得汗而脈尚躁盛，此陰脈之極也，死；其得汗而脈靜者，生也。（「得」上當有「復」字。《脈經》熱病煩已而汗，脈當靜。太陽病脈反躁盛者，是陰陽交，死；復得汗，脈靜者，生。又曰：熱病已得汗，脈尚躁盛，大熱，汗之雖不汗出，若衄，是謂並陽，故活。皆言復汗也。）此合陰交與並陽言之。又曰：熱病脈常（各本「常」作「尚」涉上而誤）躁盛，而不得汗者，此陽脈之極也，死；脈躁盛，得汗出者，生也。此合陽交與並陰言之。陰極陽極，即裡實盛表實盛之謂。大抵表裡俱實之症，不交則並，不並則交，死生之關，捷於反掌。《史記‧倉公傳》脈法曰：熱病陰陽交者死。切之不交，並陰。並陰者，脈順清而愈。其熱雖未盡，猶活也。繹倉公「不交」</p>
<p>「並陰」四字，則知其轉易間難逆料矣。診交之法，又有進退，諸證在《脈經》中。此皆診決死生之要，切宜究之。（復得汗以症言，非以治言，故有下之而始得汗者。）</p>
<p>《素問》所言，實止是陰交，於陽交無涉。統稱陰陽交者，猶男子陰易、女之陽易，統稱陰陽易也。</p>
<h3>蟲論</h3>
<p>三尸九蟲，與人俱生，無所假也。外此必有所假而生，如　瘕門之鱉症、蛇瘕、雞雛，及諸門之蜣螂、蚍蜉、螻蟻等名，皆因飲食而假外之蟲氣以生。其結於腸胃之募原為　瘕，散於經絡為　也。至若五臟之勞，有五臟之蟲，五色之風，有五色之蟲，則並不假於外之蟲氣以生。若曰人身血肉可化異類，毋乃誕乎！此必假內之蟲氣以生也。內之蟲氣，三尸九蟲是也。大抵邪入而與三尸九蟲相感，則孕而生蟲，猶之六淫之感人，本以人五臟所稟五行氣應之也，夫何足怪！《病源》卷二十三去：尸蟲常接引外邪，為人患害。又陰尸者，初著之狀，起於皮膚，內卒有物，狀如蛤蟆，經宿與身內尸蟲相搏，如杯大，動搖掣痛不可忍者，多因天雨得之。此外邪與尸蟲相感之證，風勞生蟲，亦猶是也。知此，始可與論尸注、疳蒸諸大症。若僅執熱極風生之說，猶知其當然，不知其所以然也。又況以隋唐言蟲諸論，為不經而棄之哉！</p>
<h3>溫疫總論</h3>
<p>寒與熱為定名，溫與疫為虛位。傷寒例雖以溫兼正氣，疫貼時氣，其實溫者蘊也。疫者役也。苟有蘊蓄在內，而其病如相役使者，不論寒熱，皆得稱為溫疫例，據時稱以示別，不必泥看。能知此義，而後百家之言溫疫者，可一一以意逆之也。夫溫與疫既為虛位，則其為病不一。但因於寒暑，而又有四時不正之氣挾之，則為天行溫疫，屬傷寒；若因於寒暑，而又有山川林穀及天地霧霧之氣抑之，則為瘴疫溫瘴，亦通稱為溫疫；因於寒暑，而又有鬼神之氣乘之，則為癘疫，亦稱溫疫，屬雜病；苦因於寒暑，而又有飲食之氣間之，則發為雜病，如霍亂、瘧、疸之類，皆不稱為溫疫，屬雜病。條分縷析，而後溫疫諸雜出之論，不至目炫。此溫疫數者中，惟鬼神一因與因於寒暑者，言多相混，近世不能分別，須細參《病源》卷十癘疫、瘴氣兩候及《千金》卷九辟溫篇自明。《病源》癘瘴不與溫病同篇，而另列為一卷，《千金》以兩溫分居二篇首尾，豈無意哉？而鬼神之不兼溫疫者，自屬中惡，與傷寒法無涉。猶瘴不兼溫疫，但為之瘴；飲食不兼溫疫，但謂之傷飲食而已。</p>
<h3>瘧論</h3>
<p>葉案治瘧，不用柴胡，徐評非之。解之者曰：治傷寒少陽正瘧用柴胡，治秋間寒熱類瘧不用柴胡。泉應之曰：否，不然。《素‧瘧論》以夏傷於暑為端，而余瘧附焉，是秋間寒熱之為正瘧，經有明文。《病源》、《千金》皆本經說。《外台》既列《病源》之論，而所集方不下千首，鮮用柴胡者。可見謂秋間之寒熱，不用柴胡則是，而指為類瘧則非。仲景於少陽篇明言往來寒熱，形如瘧狀。「如瘧」二字，正類瘧之謂。少陽症之為類瘧，出於仲景親口，今反指為正瘧何耶？但諸醫猶止誤於論症，徐氏則並論治亦誤。何以言之？傷寒邪從表入，其裡無根，以柴胡提之則出；夏秋之病，新涼在外，而蘊暑在中，其裡有根，若以柴胡提之，則外邪雖解，而內熱即升，橫流沖決，不可復制，往往有耳聾、目赤、譫語神昏、汗漏體枯，延成不治者，不得不以徐說為淫辭之助也。噫！亦究古訓而已矣。</p>
<h3>尸疰疳蒸四大症論</h3>
<p>五尸、五疰、五疳、五蒸，雜病中之四大症也。仲景《傷寒》始言蒸蒸，《金匱》狐惑實開疳症，而走馬湯治飛尸，獺肝散治冷疰，已略具大綱矣。至《巢源》、《肘後》、《千金》、《外台》諸書，始暢厥論，以為內科專家最重之任也。近世書中鮮有之，非近世無此四症也。醫者遇尸疰，詭以肝氣目之；遇疳蒸，詭以勞病目之。相沿既久，遂不措意，因不列名耳！然「尸疰」二字，涉於不祥，「疳蒸」二字，僅見兒科。今若稱此以告諸病家，及加諸年壯，不幾駭人聽聞乎！古名誠難復也，但須於肝氣一門，知有尸、疰二症混其中；於勞病一門，知有疳、蒸二症混其中。隱其名而存其實，則臨症了然矣。至古人治此四症之效方，亦欲為大醫者，所不可不備也。</p>
<h3>虛勞論</h3>
<p>今之所謂虛勞，古之所謂蒸也；古之所謂虛勞，今之所謂脫力也。《金匱》必列虛勞者，以見傷寒自有因脫力得者也，俗稱脫力傷寒本此，知此而《金匱》虛勞諸方能用之矣。（俗稱脫力，不專指疲勞言，凡五勞皆在其中。）脫力有成痼疾者，有在一時者，有著一處者，苟因勞傷氣血不復，皆得稱為虛勞。人但泥於弱症損症之不起者為虛勞，而不知彼特其一端也。若一時一處之虛勞，則或待治而後愈，或不治而自愈，無甚足異。第既有虛勞之因，風寒隨而入之，《金匱》本為風寒盡其變，故渾言之曰虛勞，不復分別其為何勞。推而準之，傷寒勞復，乃虛勞之在一時者，亦不分別其若者為操作之勞，若者為房室之勞也。依義本當列此篇末，編《傷寒論》者，欲其便覽，移置如此耳！他如《脈經》云：病患一臂不隨，時復轉移在一臂者，此為微勞，營衛氣不周故也，久久自愈。乃虛勞之著一處者，亦不分別有為何勞，亦以有本病可列故也。此經又有勞瘧，《千金》、《外台》有勞嗽、勞聾，凡在一時及著一處者皆仿此。讀古人書，須辨其名，以究其指，醫亦如之。誠能知此，何至以建中湯等方，誤投之蒸病也哉？</p>
<h3>傳尸勞論</h3>
<p>《外台》始有傳尸勞之名，歷宋至今，皆著於錄。嘗欲問其為何病，則諸老醫無能言之者。</p>
<p>及泉習之有年，乃知傳尸勞者，合尸、疰、疳、蒸四大症以名之也。初以體虛受邪，入感尸蟲，於是沉沉默默，無處不惡，而不能的言所苦，此時名之為尸可也；甚而發熱、喘促、顴赤，名之為蒸可也；及其項間生塊、唇口喉舌皆瘡，名之為疳可也；至差而復劇，死而傳人，則為注矣。備此四症，故方法不一，各據見在為言也。古人　、無辜、伏連、尸注等稱，亦各據一端為言也。余幼時，胞姑有病此死者，及長，而嫡妹又病此死，然皆不傳染，殆相似而未的者歟！要之，已備尸、疳、蒸三大症矣。遇是症者，倘能分別論治，其於古方清熱、調胃、殺蟲諸法，庶不貽誤，特未必其果愈耳！</p>
<h3>肺萎論</h3>
<p>肺萎，肺之大葉不舉也。其外症以咳而唾白沫者為真。《病源》或兼欲咳不能咳及嘔逆、小便言之，成無己注《傷寒論》，則以咽喉不利、唾膿血為肺萎，皆非的候。惟《外台》引許仁則云肺萎之狀，「唾白如雪，細沫稠黏。」此八字深得仲景言外之意，最為的當。若巢、成所說，乃其兼症，或有或無，未可必也。肺萎病當屬六極，氣極之一也，多在久嗽之後，骨蒸之余，其甚者白沫中帶血，且或帶膿焉。故《金匱》云咳唾膿血，脈數虛者為肺萎，數實者為肺癰。仲景以脈之異，辨其症之同，亦可知膿血不獨肺癰有之。詳余所撰《證原》中。</p>
<h3>正水風水診法論</h3>
<p>目裹腫、頸脈動、時咳諸症，正水與風水同。但有此諸症，而按其腫上隨手起者正水，不起者風水，以此為別。且必股冷腹大，乃為正水已成，則正水重於風水也。《靈‧水脹》水始起也，目裹上微腫，如新臥起之狀，其頸脈動，時咳，陰股間寒，足脛腫，腹乃大，其水已成矣。以手按其腫（俗本「腫」作「腹」，今從《病源》引）隨手而起，如裹水之狀。《金匱‧水氣》視人之目裹上微腫，如新臥起狀，其頸脈動，時咳，按其手足上陷而不起者風水。文義甚明。《病源》於水腫，全據《靈樞》，於風水，全據《金匱》，分別當已。惟風水久久變成水病，則亦按之隨起，故《肘後方》曰：水病之初，先兩目上腫起，如老蠶色，俠頸脈動，股裡冷，脛中滿，按之沒指，腹內轉側有聲，此其候也；不即療，須臾身體稍腫，腹盡脹，按之隨手起，則病已成。非與經違也。葛意以風水為正水之初起，而渾言之曰水者，亦以有股裡冷一症耳！實與諸經相成也。</p>
<h3>女勞疸黑疸同治論</h3>
<p>《千金》及《外台》引《金匱》黃膽篇文，皆以硝礬散症為女勞疸。而《近效》云女勞疸療與黑疸同。《病源》則曰女勞疸之狀，身目皆黃，發熱惡寒，小腹滿急，小便難，因大勞大熱而交接竟即入水所致也。黑疸之狀，小腹滿，身體盡黃，額上反黑，足下熱，大便黑是也。</p>
<p>夫黃膽、酒疸、女勞疸，久久變成黑疸。據疸說，則《金匱》硝礬散症，經文當斷，自膀胱急以下十六字，屬黑疸，獨日晡發熱惡寒，為女勞疸的候，余則女勞疸久久變為黑疸之候也。如此疏解，則於經文「得之」二字及「因作」二字語氣極合。巢氏真善會仲景意者。其硝礬散本是治黑疸之方，以黑疸與女勞疸同治，故《金匱》不別言之，《近效》之說，信而有征。詳余所撰《金匱方論注》中。</p>
<h3>吐血衄血便血溺血嘔吐汗出下利消利八症異形同診論</h3>
<p>亡血之大症四：吐、衄、便、溺是也。亡津之大症四：嘔、利、消、汗是也。吐血出於賁門，與嘔吐同；衄血名為紅汗，與汗出同；便血出於魄門，與下利同；溺血出於胞，與消利同。八症以四屬之，殊途而同歸，為亡津、亡血最大者也。《靈樞經》云：「奪血者無汗，奪汗者無血。」是津血同類。又手陽明主津，足陽明主血，是津血又同經。津血之為物既同，故八症之為診從同。八症之由熱得之者，並以見陰脈及陰症為欲已。見陽脈及陽症為未解；其由寒得之者，並以見陽脈及陽症為向愈，見陰脈及陰症為將脫。俱詳《靈》、《素》、</p>
<p>《脈經》等書，不贅引。凡辨症有當分而觀之者，如痰飲篇是也；有當合而觀之者，如此篇是也。</p>
<h3>思慮致遺論</h3>
<p>心藏神，脾藏智與意，腎藏精與志。人之思慮，智意主之；智意之運用，神主之。故或曰思慮傷心，或曰思慮傷脾者，舉一言之也。究之，思慮之始構也，則因心以令脾，及思慮之既竭也，則因脾以累心，是傷脾重於傷心矣。大抵五志所傷，每以過極而氣並。思慮之過，氣並於脾，故經曰思則氣結。並，乃結也。五行土克水，水主冬，為閉藏。脾實則有火，火性發泄，以過極之實，乘受克之虛，以發泄之性，變閉藏之常，而復以脾病累心之故，處以無主之神，於是乎恍惚離散，而精以泄。經云有餘則夢予。脾以氣並，而見為有餘，故夢以精予人也。論是症者，自當以脾火上蒙心神，下克腎水為正。或概執諸熱屬心之說以相列，見其與五行生克之理不合，遂據《易》水火既濟、未濟二卦、證成心腎不交之論。豈知《易》象止取貞悔為義，並非實事，若移此以論病，則大蓄天在山中，大壯雷行天上，亦將信為事之所有，而以肺入脾中，心行肺上者，擬其病象何如乎？夫立論當取其推而皆準者。</p>
<h3>病無純虛論</h3>
<p>以人之虛，因天之虛，為賊邪病，自春分至秋分之寒，自秋分至春分之熱是也；以人之虛，因天之實，為正邪病，自春分至秋分之熱，自秋分至春分之寒是也。總言之，則寒、熱二者以應二氣；析言之，則寒、熱、涼、溫四者以應四時，而皆生於風。故《內經》曰：「風者百病之長也」。風之溫者必挾濕，其涼者但為風，與寒熱分主四時，《靈》九宮所謂春濕、夏熱、秋風、冬寒是也。然濕與寒熱，惟當其旺時則有之，而風乃四時皆有，故風之病患獨多。人以勞役解脫、喜怒陰陽、飲食醉飽、人鬼驚恐、跌打墮壓、蟲獸咬傷而致虛，有一於此，則風即湊之；其在濕與寒熱之令，及有賊邪時者，亦各湊之。故曰：「邪之所湊，其氣必虛。」第既湊之後，反見為實。其為狀也，有相半者，有相過者，無純虛也。惟大病被汗、吐、下後，邪去而氣血不能遽復，及婦人新產後而液去，而形氣不足以充，則純虛。然一在病後，一則非病，不可以治病之法治之。夫病無純虛，則方無蠻補，無足怪者。或難之曰：老年聾盲，非純虛乎？答曰：此亦風也。老年血氣當衰，藥不能托，且托之而後者乘虛續至，故永不愈耳！其不愈者在虛，其為病者仍屬風。</p>
<h3>用藥論一</h3>
<p>藥性有剛柔：剛為陽，柔為陰，故剛藥動，柔藥靜。剛而動者其行急，急則迅發而無余，其起疾也速，其殺人也亦暴；柔而靜者其行緩，緩則潛滋而相續，其起疾也遲，其殺人也亦舒。無識者，好為一偏，其害不可勝言。而中立者，因有牽掣之說焉。豈知柔者自遲，不能強之使速；剛者自速，不能強之使遲。遲速並使，遲者必讓速者以先行，下咽之後，但見陽藥之行陽，不見陰藥之行陰。若病宜於陽，則陰藥初不見功，而反釀禍於陽藥已過之後；若病宜於陰，則陰藥未及奏效，而已顯受夫陽藥反掌之災。是以史立者亦謬也。總之，對病發藥，斯為行所無事。</p>
<h3>用藥論二</h3>
<p>凡藥能逐邪者，皆能傷正；能補虛者，皆能留邪；能提邪出某經者，皆能引邪入於某經。故麻、桂發表，亦能亡陽；苓、瀉利水，亦能爍津。於此知無藥之不偏矣。惟性各有偏，故能去一偏之病。若造物生藥，概予以和平之性，何以去病乎？夫亦在馭之而已，馭之能否，全在醫者識症有定見。俾逐邪者，辨其正之虛不虛，而邪去正自復；補虛者，知其邪之盡不盡，而正勝邪難干。斟酌輕重之間，分別後先之次，神明於「隨症用藥」四字，方法之能事畢矣。何必朋參、　而仇硝，黃哉！</p>
<h3>湯液論</h3>
<p>湯液，亦飲也。《素》經脈別飲入於胃，游溢精氣，上輸於脾；脾氣散精，上歸於肺；肺朝百脈，行精於皮毛，毛脈合精；通調水道，下輸膀胱；水精四布，五精並行。其言飲入胃後，上下先後分布之序，即藥入胃後，與病相當之理。以其先布於上，故遇輕清之藥則先發，而與上病相當。但先發者先罷，至水精四布，而後輕清者已無力矣。其不能治下，而亦不足礙下者勢也。重濁之藥，其發既遲，當其輸脾歸肺之時，尚未盡發，必至水精四布，而後藥力始畢達，而與下病相當，此輕清治上、重濁治下所由分也。經曰：近而奇偶，制小其服也；遠而奇偶，制大其服也。皆取藥發遲速、部位高下為義。其入臟者，亦止云五味入胃，各歸其所喜攻，如酸先入肝云云，不必不入他臟也。後人不知古人制方之意，遂謂某藥入某經，某藥兼入某經。則試問胃氣被藥氣使乎？抑藥氣被胃氣使乎？夫固不辨而明也。乃或誤宗其說，如桂枝湯方，見其主治太陽病多，因以桂枝為足太陽經藥，殊不思太陰病亦用桂枝，而真武、理中、四逆，皆有加桂之例，吁！可怪也。總之，湯液治病，分氣味不分經絡，與針法大異。</p>
<h3>制藥論</h3>
<p>自雷　著炮制之論，而後世之以藥制藥者，愈出而愈奇，但因此而失其本性者亦不少。</p>
<p>藥之有利必有弊，勢也；病之資利不資弊，情也；用之去弊勿去利，理也。古方能使各遂其性，如仲景小半夏湯類，凡生薑、半夏並用者，皆一時同入之，非先時專制之，正欲生半夏之得盡其長，而復借生薑以隨救其短。譬諸用人，自有使貪、使詐之權衡，不必胥天下之菲材而盡桎梏之，使不得動也。各遂之妙如此。若後世專制之法，在臨時修合丸散而即服者猶可，倘預制備售，則被制者之力已微，甚而至再、至三、至十余制，則取其質而　其性，其能去病也幾何？近見人治痰瘧，於肆中求半貝丸服之無效，取生半夏、貝母為末，和薑汁，服之即效，但微有煩狀耳！於此可類推已。或薄古法為疏，盍思之！</p>
<h3>藥驗論</h3>
<p>凡中病之藥，服後半日許，可驗其當否者，大法有三：一則藥到病除。如《靈樞》不得臥，用半夏秫米，覆杯即臥，及他方所云一劑知二、劑已者是也。一則服藥後別生他病，非藥之祟，正是病被藥攻，拒之使然。如《傷寒論》太陰病服桂枝湯反煩，風濕相搏服朮附湯，其人如冒狀者是也。一則服藥後所病反劇，非藥之誤，正是以藥攻病，托之使然。如《證類本草》成訥進　丸方表云：臣弟訴患中風五年，服此丸至二千丸，所患愈加，不得憂慮，服至四千丸必得復，至五千丸當復丁壯是也。第一驗人所易知。其第二驗恆易令人疑惑，自非識病辨脈確有把握，必將改易方法，以致轉輾貽誤者有之。若第三驗則必訾之議之，因而棄之矣。然數十年目見耳聞，第三驗最多，如傷寒初起及瘧、痢方盛之時，投以中病之藥，往往增劇。第二驗次之，第一驗最少。世人狃於第一驗之快，而欲以概其余。噫！此事真難言哉。</p>
<h3>古方用法論</h3>
<p>古者，每方各有主藥，用其主而進退其余，可云從古某方加減；如用其余而去其主，即不得稱某方矣。仲景理中湯，一名治中湯，蓋取《別錄》人參「調中」兩字，是人參乃其主藥也。桃花湯取赤石脂一名桃花石為義，是赤石脂乃其主藥也。若去人參、赤石脂，用其朮、干等，而稱理中、桃花，則失其義而襲其名，陋乎不陋？非獨經方為然也，雖後世亦有之。丹溪治六郁越鞠丸方，以川芎、山梔為主，緣川芎即《左傳》鞠窮，山梔《本草》一名越桃，故各摘取一字以名之，以見能治郁者之全在乎此。若不用芎、梔，用余四味，尚能再稱越鞠乎？《本草》經用之藥，僅四、五百種，而自漢至明，方以億萬計，隨舉數味以成方，皆當有合於古，舉其相似者，反遺其相同者矣。昔徐靈胎誚葉天士，用《局方》逍遙散而去柴胡，非以此哉？學人可以類推。</p>
<h3>瀉心湯類諸方總論</h3>
<p>諸瀉心皆從小柴胡來。小柴胡以柴、薑治半表；芩、參、甘、半治半裡。茲則去其治半表者，參用陷胸法，而隨建主藥，故當分數類觀之。</p>
<p>半夏瀉心湯，即小柴胡去柴、薑之治表，加乾薑、黃連以和胃也。其生薑瀉心湯與甘草瀉心湯，皆即半夏瀉心湯原方，而主藥略增（從《金匱》有人參。）三方不外乾薑、黃連者，以此祛心下痞，乃胃虛上逆所致，與表陷之痞不同，故重在和胃也。其主藥皆在小柴胡中，自為一類。</p>
<p>其乾薑黃連黃芩人參湯，則截半夏瀉心之半而為之。其黃連湯，又即半夏瀉心去黃芩加桂枝者。但二方皆重用黃連，使與乾薑並視半夏瀉心為小變也。</p>
<p>黃芩湯，即截小柴胡之半而加芍藥，以治腹痛。其黃芩加半夏生薑湯，即小柴胡去柴、參加芍藥也。二方皆主小柴胡中之黃芩，自為一類。</p>
<p>旋覆代赭湯，即小柴胡去柴、芩，加旋、代，增薑、減參者，故以旋代命名。厚朴生薑甘草半夏人參湯，即小柴胡去柴、芩，加朴，增薑、減參者。二方皆主小柴胡中之生薑，自為一類。</p>
<p>其橘皮竹茹湯，即厚朴生薑甘草半夏人參湯去朴、半，加橘皮、竹茹、大棗，增甘草，故以橘皮竹茹命史。其橘皮湯，即取其方中二味為之。二方自為一類。</p>
<p>小半夏湯乃抽小柴胡方中治嘔之品，而倍其分者。其生薑半夏湯，即半夏之法，而小半夏加茯苓湯屬焉。其半夏乾薑散，即生薑半夏湯去生薑加乾薑者，意固重在溫胃，與生薑溫經略殊。而大半夏湯，即半夏乾薑散之變焉者也。其乾薑人參半夏丸，即半夏乾薑散加人參，倍半夏者。六方皆從小半夏湯來，主小柴胡中之半夏，自為一類。</p>
<p>瀉心湯，自大、小陷胸來。大黃黃連瀉心湯，即瀉心湯原方去黃芩。附子瀉心湯，即瀉心湯原方加附子。三方不外大黃、黃連者，以此處心下痞，乃表邪內陷所致，與結胸之義相同，而與半夏等三方痞症不同，故重在下實，乃由瀉心而將入承氣也。</p>
<h3>承氣湯類諸方總論</h3>
<p>胃實則不調，承氣意在調胃，故或以「調胃」二字冠之。大黃下一切積，芒硝軟一切堅，考之本草，皆屬蕩滌腸胃之品，故仲景合二味以治胃實，而一切病胃實者準此，其用甘草，不過和硝、黃之味而已，不必泥和中益氣，謂為：「調胃」二字命名之所在也，此本籠統之方，用之者隨症加減，往往師其意而易其名。故見腹滿，則加朴、枳，去甘草，為大承氣；見腹滿不結者，則加朴、枳，去甘草，為小承氣；有瘀血則加桃、桂，為桃核承氣；見水結，則加甘遂，去草，為大陷胸；見吐食，則去硝，為大黃甘草湯。一方生五方，有條不紊。</p>
<p>若夫從大承氣來者，則去硝為厚朴三物湯；三物合桂枝、去芍藥，則為厚朴七物湯，皆主厚朴也。</p>
<p>其從小承氣來者，則差其分，為厚朴大黃湯；差其分而加芍藥、二仁，為麻仁丸。皆主大黃也。</p>
<p>其從桃核承氣來者，則大黃　蟲丸、桂枝茯苓丸、抵當湯及丸，皆主桃核也。</p>
<p>其從大陷胸來者，則大陷胸丸、十棗湯、甘遂半夏湯，皆主甘遂也。而己椒藶黃丸，又從大陷胸丸來，以同用葶藶也。</p>
<p>其大黃硝石湯、備急丸、大黃附子湯，即承氣之隨症加減法也。而小陷胸湯、白散，則又因所治之部位略高，而師承氣之意以變焉者也。小陷胸主心下結痛，與心下痞相近，故又生出瀉心一派來。小陷胸主胸有黃涎，與胸痹之頑唾相近，故又生出栝蔞薤白一派來，要之，白散之下以巴豆，小陷胸之下以栝蔞。其栝蔞薤白湯、栝蔞薤白加半夏湯、枳實薤白桂枝湯三方，皆從小陷胸來。</p>
<h3>古方權量有定論論</h3>
<p>從來考古方權量者，人各言殊，大半誤以漢制當之耳！豈知經方傳於仲景，而不自仲景始。</p>
<p>《外台》卷一謂桂枝湯為歧伯授黃帝之方，而分兩與《傷寒論》悉同。可見經方傳自上古，所用權量，亦上古制，非漢制也。《千金》備詳神農秤及古藥升之制。蓋古醫權用神農、量用藥升，於一代常用權量外，自成一例。仲景而下，訖於《外台》，所集漢晉宋齊諸方皆然。迨隋唐人兼用大兩大升，而後世制方遂有隨代為輕重者，此古權量所由湮也。國朝吳王繩林所考，宗法《千金》，參以考訂，定為古一兩，當今七分六厘；古一升，當今六勺七抄。</p>
<p>洵不刊之論，無間然矣。其書載在《吳醫匯講》中。</p>
<h2>卷二</h2>
<h3>學醫說</h3>
<p>夫欲學醫，必先讀無方之書，則莫善於巢氏《病源》焉。《病源》引申經意，別類分門，比《靈》、《素》為易知，亦較《靈》、《素》而易入。習之既久，遂乃上探《靈》、《素》，兼讀《難經》、《甲乙經》二書以疏之，明乎經絡臟腑之源，達於望聞問切之故，而於向者之所得，益覺融會貫通，而明體者漸漸達用矣。然後讀有方之書，《玉函》、《傷寒》、《金匱》是也。讀三書尤必兼資《脈經》，以稽其異同，披本草（須用《證類本草》）以觀其方法，蓋臨病之舟楫在焉。然《傷寒》之理，未許其遽通也，又必浸淫乎《肘後》、《千金》及《翼》、《外台》四書，斟酌乎《本事方》、《百證歌》、《九十論》、《明理論》等說，參互考訂，以徐俟其悟，殆另有一境矣。大抵醫者之於傷寒，其致力每在雜病未究之先，其得心轉在雜病悉通之後，不親歷者不知也。溯流窮源，其事止此；神而明之，存乎其人。至於《聖濟》、《局方》以下，則學成後讀之，亦足擴聰明而煉識力，不必概屏之以自隘也。</p>
<h3>診訣說</h3>
<p>診病之訣，在知表、裡、虛、實、逆、從六字。第欲臨診時知之明，必於讀書時知之豫。</p>
<p>夫仲景之辨表、裡二字亟矣，而喜言統治者或不信，謂《靈》、《素》論症，概以六經臟腑為別，何嘗有所謂表、裡者？不知兩經為針法設，不為藥法設。針法在取穴，但審其何經、何臟、何腑，而巨刺、繆刺諸法已可施，不以表、裡為汲汲也。若藥法則清輕宜表，重濁宜裡，如此而已。且其為氣，化於胃、運於脾、布於肺，如飲食然，斷無專走一經之理。故必分表、裡，而後汗、吐、下、補諸法，各如其輕清、重濁之性以為用。仲景之詞，所以異於</p>
<p>《靈》、《素》者此爾！至於虛、實，則有二義：邪在為實，邪不在為虛一也；邪結為實，邪不結為虛二也。皆為瀉邪地，非為用補地。試取諸經論讀之，當不以余言為謬。</p>
<p>至於逆、從二字，則色、脈、證、治皆有之。須先審定其病，而後可言也。神而明之，死生可決已。</p>
<h3>《內經》熱病說</h3>
<p>兩經於一切身熱之診，皆稱熱病。是以《素》則勞風、腎風同評於溫後；《靈》則如蟲、如疸並列於熱中。至其散見他篇，尤不可勝數。蓋以可診者言，不以所因者言，其可專以傷寒之成溫者言乎？夫為身熱一證，舉其尤而窮其類，尤者詳之，類者附之，固當如是，與仲景論傷寒而及似傷寒之　濕　同意。淺人每論溫熱，舉兩經熱論，或采之或剩之，果有當於病源否也。其言暑者，只作「熱」字解，《素‧通天》因於暑及骨空立而暑解等，並不指夏令之熱。如後世所云，或采通天論之言，列於夏病，真不得經旨也。其言溫者只作「蘊」字解，《素‧熱病》先夏至者為病溫云者，意以夏至後天氣熱，人易於感則言熱，夏至前天氣未熱，人無所感，故止就所蘊者名之。而言溫則仍取乎本義，非如近世訓為小熱也。不觀今之病春溫者乎，赫赫炎炎，豈是小熱？讀書不明義例，古法於是盡湮矣。</p>
<h3>七傳辨誤說</h3>
<p>《難經》七傳傳其所勝，間傳傳其所生，皆止言五傳。注家不得其說，以心復傳肺數之，其實止得六傳，無七傳，且間傳之如環無端，何嘗不如是。而經獨以傳其所勝為七傳也，揆之於理，殊覺牽強。竊謂「七」字，當為「次」字聲之誤也。古音去聲、入聲不甚分別。如《書》康誥勿庸以次汝封。「次」字《荀子》引作即之比。何以言之？《素》玉機真臟及標本病傳兩篇，於傳其所勝者，皆謂之次傳，無言七傳者。且標本病傳篇末，明云諸病以次是相傳，如是者皆有死期，不可刺，間一臟止及至三、四臟者，乃可刺也。其義與真臟「風者百病之長也」以下至「此病之次也」數段甚合。然則傳其所勝者之為次傳，經有明文，乃病傳之定例，《難經》原文必不誤，後人傳寫誤耳！《千金方》卷七，經云次傳、間傳是也，亦其一證。又《難經》於間傳言如環無端者，乃就一臟之傳其所生而卒言之，與《素問》本無不合。而徐氏泥《素問》、《難經》之文，以相駁詰，真多事也。</p>
<h3>傷寒傷暑說</h3>
<p>古者於冬月觸冒正邪之寒及夏月中時行之寒，皆稱傷寒，故仲景存或已發熱、或未發熱兩者於傷寒條。已發熱者，時行之寒；未發熱者，正邪之寒。意在統一，使人易識耳！至《巢源》始別傷寒，時氣為二門，而於小兒傷寒候並列兩寒，特以一語示別，曰時行傷寒，亦簡且審。唐人乃曰天行熱病，天行即時行。但「時氣」二字之義，本兼四時為主，而「時氣」二字之名，若惟熱病獨擅，其為語似混。然歷考志乘，凡疫皆在春、夏、秋三時，而夏尤多。仲景自春分至秋分有非時暴寒，皆為時行寒疫之言。益信古者於夏月觸冒正邪之暑及冬月中時行之暑，皆稱傷暑。《素》形氣虛實氣虛身熱之傷暑，不必專以夏言也。仲景始別之以中　、冬溫兩名，然溫病《難經》不指定何脈，仲景止略陳其症狀，則是所發無定，不必其盡發熱惡寒也。凡咳嗽、腫癰皆得有之，仲景雖不明言，其散見於《千金》、《外台》者，可舉一二以推。蓋「傷暑」二字之義，雖得兼通夫四時，而「傷暑」二字之名，不得概施之冬月。此古今稱謂之所由異也。</p>
<h3>疹斑互訛說</h3>
<p>《外台》引《素問》逸文，赤疹者，搔之重沓隴起，及《病源》赤疹、白疹兩候，即今所謂風斑也。《金匱》陽毒面赤斑斑如錦文，及《病源》、《千金》、《外台》斑瘡，即今所謂疹子也。凡宋以前醫書，皆如此分別，於字義甚協。疹者診也，必皮膚有所變疹浮起，方合疹稱，觀《病源》屢言軫軫起，合之《素問》隴起之詞自見。斑者點也，必有點子方合斑稱，觀《病源》斑爛云云自見。近世不正其名，遂至互訛，今則競以疹為斑，以斑為疹，相沿既久，苟或正之，則反遭嘩笑，以為大謬。然茲二病，雖皆有毒，而疹由於風，不由於溫；斑由於溫，而前受之邪，未必皆風。病因久暫既殊，治法輕重亦異，古人各有主方，不可混施。不審乎此，無惑乎謂古方不可治今病矣。《論語》曰必也正名乎，凡事皆然。</p>
<h3>古方蟲混稱說</h3>
<p>古方於　瘕及蟲病，往往混稱。然動者為蟲，不動者為　瘕，分別亦不難。良由蟲所居處，其阻礙氣血，實與積同，故混稱之耳！如《病源》十九酒瘕，云有蟲使之然。夫能飲人所飲酒，則動矣。而巢氏入之　瘕門，後世直稱之為酒蟲。其食症，能食人之所食飯，以酒瘕例之，是亦有蟲使然也，而巢氏則但稱為症而已。此混稱二病之證也。推之《綱目》所載茶瘕，吐出後猶能飲茶，亦其類矣。崔元亮《海上方》，以地黃　治心痛，吐出蟲長尺許，頭如壁宮。劉禹錫《傳信方》崔抗女患心痛，食地黃冷淘吐出物可方寸許，狀如蛤蟆，無足目，似有口。此二物皆不云動，明是瘀血所為　病也，而以蟲狀之。諸如此類，不可枚舉，讀者當以意逆旨，勿泥其詞。況醫書之傳自文人者，又多形容過情者乎！余作《證原》，以能動及飲食者入之蟲，不能者入之積，非違古也，古略今詳，有勢不得不如此者。</p>
<h3>扁鵲見垣一方人說</h3>
<p>《史記》（五百）扁鵲傳載扁鵲飲長桑君藥，三十日見垣一方人，由是診病洞見五臟症結，特以診脈為名。注：方，邊也。言見牆垣彼邊之人也。案如注說，是謂能隔牆見人矣。長桑何藥，而乃變易形質若此耶？竊謂此當與紀昌貫虱同義。大抵久竭目力，則所見必異。虱大如輪，以徑言也；垣一方人，以深言也。跡雖不同，理則一致。想扁鵲學望診時，必日視其垣以煉目力，而以意合之人面，久之則垣中淺者深者，一一分明，便似其中有人在。云一方者，正就其日所注視者言，非彼邊之謂。且「彼」字尤屬添釋，《史》文無此義也。余嘗師其意而為之，雖未能見人，亦似有眉目可別，雖未能洞見臟結，臨症時看人面及舌色浮沉、大、小、濃淡，一目了然，不待多時而細察。故謬揣史遷此言，系形容之詞，非果隔牆見人。</p>
<p>且扁鵲脈法，具載《脈經》，果以診脈為名，豈其言皆虛飾耶？史遷於此及倉公兩傳，皆未能實疏所以，但據人間形容之詞，不復顧其過當，良由其於醫事未能了了耳！班書不錄，豈無故歟？范書不為仲景作傳，亦當以其妙難言喻，恐轉滋人惑也。陳志華佗傳，多據實質言之。</p>
<h3>診虛須知勞極說</h3>
<p>古有五勞、七傷、六極之目，皆言虛也，核之則勞、極二端而已。勞是過用其氣，極則幾於無氣，其淺深不同。以《病源》所記言之，五勞中之志勞、心勞、憂勞，是過用其神；其疲勞，是過用其形。七傷則房勞之病，亦勞屬也，以其病多，故別出之。然精為七神之一，是亦過用其神也。約之，特形、神二者盡之矣。若風寒暑濕及一切病之久而不去，甚虛其氣者，皆極也。極有氣、血、筋、骨、肌、精六症者，謂病於氣，其極也不欲言；病於血，其極也無顏色，眉發墮落，喜忘。余極仿此。然約之亦不外形、神也。大抵勞言其始，極言其終，分別截然。近世不知有極，概目為勞，則將以治極者治勞，而勞永無愈期矣。嘻！</p>
<h3>溫疫說</h3>
<p>溫也，疫也，溫疫也。三病之稱，第稱溫疫者為定名，而稱溫、稱疫者為虛位。溫者，蘊也。儒書謂夫子溫良，言容之蘊；詩教溫柔，言辭之蘊；良玉溫潤，言彩之蘊。醫書謂春氣溫和，言陽之蘊；則病之稱溫，必以其邪之蘊也。蘊寒曰溫，蘊熱亦曰溫。《傷寒例》冬傷於寒，至春變為溫病，是蘊寒者；冬有非節之暖，名曰冬溫，及《巢源》冬感非時之暖，至春亦為溫病，是蘊熱者。所蘊不同，而其為溫則同也。言乎其治，則一於寒，何也？其初則異，其終則同也。然而論治可通者，臨文必不可通，著書之指，固與臨症別也。疫者役也，傳染之時，病狀相若，如役使也。役於寒曰疫，役於熱亦曰疫。《傷寒例》之疫可謂是疫於寒者，《巢源》、《千金》以下諸書之疫，半是疫於熱者，所役不同，而其為疫則同也。然此所謂寒若熱者，非正邪之寒熱也，必惑夫反時者始相役也。故溫有正邪之溫，而疫無不由於賊邪。古謂賊病為時氣，一曰時行，故後世稱疫為時疫。然時氣乃賊邪之混稱，不暇詳其傳染與否也。其傳染者，若僅目之為時氣，則無以示別也。且傳染之氣，惡於不傳染者，不得不別也。疫氣惡，故疫亦曰癘疫，癘之為言惡也，此疫之別於時氣也。或曰：如此則役於熱者，不幾與溫相混乎？曰：否。冬溫亦以傳染者為疫，其未經傳染，或止就一人言之也，直稱溫，不得稱疫。溫者先乎病以言之，疫者後乎病以言之，以其各有寒若熱，故曰虛位。若合溫、疫兩字以名之之病，則惟《傷寒例》陽脈濡弱，陰脈弦緊，遇溫氣變為溫疫者，可以當之。以其先有溫邪，又傳染時氣中之寒之役使者，例不得另立一名，故疊此兩字以呼之，所謂定名也。至於溫熱云者，其指多本《內經》先夏至為溫，後夏至為熱之文，而括其輕重之謂，倘知溫之為蘊，則溫、熱兩病之僅皆屬溫可決已。周揚俊以《溫熱暑疫》名其書，而王孟英著《溫熱經緯》，復雜取《傷寒論》文，皆由不能識別，則不敢正稱，而姑以含糊囫圇，可以附古可以欺今之溫、熱兩字，為藏身之固，使人不便顯言其非耳！近世醫說之不足恃類此。</p>
<h3>溫瘧說</h3>
<p>古者於冬傷於寒不即發，至春遇溫而病者，及冬中於非時之暖不即發，至春遇溫而病者，皆胃之溫。故仲景既存《素問》、《傷寒》成溫之論，復於冬有非節之暖稱為冬溫。以溫之言蘊，所蘊不同，而為蘊則同，故通為溫。《巢源》溫病候、溫毒候，皆兩存之，固深於仲景者也。準此以推，夏之暑亦當如是。夏傷於暑不即發，至秋遇風而病者，及夏傷於非時之寒不即發，至秋遇風而病者，皆謂之瘧。故《素問》瘧論有夏傷於暑之　瘧，而生氣通天及金匱真言夏暑汗不出秋風之瘧，以瘧之言瘧，為瘧不同，而所虐則同，故通為瘧。惟仲景專為「寒」字立論，故不及夏暑即發、不即發之病，而《巢源》以下亦仍之，而不復分晰也。春主溫，故溫性緩，緩則性長，故為病壯熱，而其脈為緩弱；秋主風，故瘧性暴，暴則性短，故為病休作，而其脈緊弦。溫宜於下，則瘧宜於吐。</p>
<p>治瘧之常、蜀，猶治溫之硝、黃也。惟溫在冬月，故發有先後重沓，則治有汗、下兼施，與瘧之吐、下兼施，微有不同者此耳！</p>
<h3>溫瘧有三說</h3>
<p>古稱溫瘧有三。《素》瘧論兩溫瘧，《巢源》總敘之，意謂冬中於風，寒氣藏於骨髓，至春遇大暑，或有所用力，邪氣與汗偕出之。溫瘧止有先熱後寒者，而無先寒後熱者。何以言之？經以先風後寒為先熱後寒之因，先寒後風為先寒後熱之因，大暑為時令，不必數，故止數風寒之先後，所以止有先熱後寒者也。若夏傷於大暑，腠理發泄，遇夏氣非時小寒，藏於腠理皮膚，至秋傷於風，則病成之溫瘧，則有先熱後寒者，又有先寒後熱者。何以言之？以此暑也，小寒也，秋風也，為三感，則當置其一輕而論其兩重。若傷暑重而秋風輕，則置風而論暑、寒，而為先熱後寒之瘧；若暑輕而秋風重，而置暑而論寒、風，而為先寒後熱之瘧也。復總而別之曰：夫病溫瘧六七日，但見熱者是矣。此謂壯熱不兼寒者，故加「夫」字，示與經文別出也；不析言冬夏者，明冬夏皆有此壯熱者也。此與先熱後寒、先寒後熱為三矣。</p>
<p>大法由冬來者，即今春溫；由夏來者，即今伏暑。古既統稱溫瘧，則本草諸治溫瘧之藥，皆是治春溫、伏暑明甚，《金匱》白虎加桂枝湯症正此也。此外，尚有《傷寒論》脈陰陽俱緊者，重感於寒，變為溫瘧。則冬傷於寒，至春分以後，復感時行之寒者，先後皆寒，與寒多之牡瘧同理。故《金匱》蜀漆散方下云溫瘧加蜀漆，當即指此。越其外受之蒙，即以截其遞入之路，而俗稱蜀漆截瘧，亦以辭害旨哉！若白虎加桂枝湯方，自是治春溫、伏暑之溫瘧，與重感於寒之溫瘧無涉，故其方同傷寒法，不同瘧法也。</p>
<h3>黃膽黑疸說</h3>
<p>《金匱》云：理者，皮膚臟腑之文理也。以此推之，腸胃之膜，其有罅縫可知。人若脾虛不為胃消水穀，則水穀之停於胃者久，久則瘀而為熱，其氣從腑理中溢出，食氣溢則皮色黃，水氣溢則皮色黑。其有脾本不虛，但因飢暴多食、渴暴多飲，所受倍常，則脾不及消，亦久留於胃而為熱，即亦從腑理溢出，此　瘕、系氣、溢飲等證所由來也。夫腑既有理，則尋常飲食，其氣何嘗不溢？不溢則何以生衛以肥肌熏膚、充身澤毛，生營以成脈、華色乎？特所溢者是精氣非滯氣；精氣益人，滯氣病患耳！人若肺虛，為風濕寒熱怕襲，則皮膚之理實而閉，腑理中之應溢者，不得通於外，則水穀之氣亦久留於胃而為熱，滯則溢遲，故色變也。傷寒、溫病所致之疸及風疸、濕疸，皆取諸此，雖不自飲食致之，而其為溢之滯，在理則同矣。獨是水色雖黑，然留胃之水，亦黃中帶黑，不能全黑，以胃為土，土色但黃故也。惟涉及於腎，則黑黃相半，所以然者，腎為胃關，關門不利，則水之流於腎部者，留久其責在膀胱，膀胱亦腑也，亦有理也。不挾熱者，水溢為飲，《巢源》云痰在胸膈，飲在膀胱者此也。其挾熱者，則氣與水蒸而為疸。《金匱》診疸，於穀疸、酒疸但言黃，而於女勞疸必言額上黑。以女勞則腎虛而利水遲，水即久留而氣溢，且胃中之水，乘腎虛而流疾，腎故不及利也。推之風水、正水、石水為病之義，亦當如是。黃膽久之皆亦為黑疸者，胃實滯多則乘腎，腎以得水穀之精氣少，則益易乘也。知腑理之為病，而推之奇病中有飯粒出瘡孔、蛔蟲在皮中者，皆不足為奇矣。</p>
<p>又《金匱》之例，於風濕搏於水穀而成疸者，稱黃膽，與穀疸、酒疸、女勞疸、黑疸為五。</p>
<p>其與傷寒同法，不必搏於水穀者，則但稱黃。論中諸黃膽云云，以此別之。疸為勞熱，食勞、女勞之有疸，猶食勞，女勞之有復也。</p>
<h3>勞疸女勞疸二症說</h3>
<p>五疸中惟勞疸、女勞疸多相混，故或去勞疸，入黑疸，以足五疸之數。但勞疸之名舊矣，《病源》名勞疸為勞黃，與十種黃並列。其女勞疸則次黃膽、穀疸、酒疸、黑疸之中，是勞疸屬黃，女勞疸屬疸，所屬不同。《外台》引《集驗》、《刪繁》皆有療勞疸之方，用苦參、龍膽草、梔子三味，以牛膽或豬膽和丸，而與穀疸並列，是勞疸療與穀疸同，而《近效》云女勞疸療與黑疸同，是治法亦不同。二疸為證相似，所異者，勞疸微汗出，手足間熱，小便利，而女勞疸無之；女勞疸發熱惡寒，足下熱，而勞疸無之。且診其少腹，但急不滿者勞疸，急而滿者女勞疸，此其要訣。自《金匱》勞疸條衍「女」字，而後世遂不知此義矣。詳余所撰《金匱方論注》中。</p>
<h3>三消說</h3>
<p>古今諸家言消渴者不一，要當以《金匱》為正。《金匱》首列厥陰病一條，是渴而不消；次列脾約症一條，是消而不渴；次列腎氣症一條，是消渴並作。其旨以飲、溲相較，而分為三，最為簡當，猶霍亂之分但吐、但瀉、吐瀉並作為三也。其言飲一溲一者，乃較其出入之多寡以出診法也。推詳其意，似有可以飲多溲少、飲少溲多、飲溲相當為三者，亦即就前三者而引申之也。其兼及能食、便難者，乃旁參他症以為出治地也，並非三消必定如是。後人誤會其旨，所以說歧而義轉未備。泉嘗即《金匱》以推諸家之言知所謂能飲不能飲，及溲如麩片、如油，及溲數不數者，皆當作診法觀，不必致辨。總之，但渴者，有燥、濕兩種，五苓、白虎是也；但消者，有虛、實兩種，脾約、腎瀝是也。消渴並作者，有寒、熱兩種，黃連、腎氣是也。其方備見唐人書中，但不以兼證測之，不確也，故諸家云云。</p>
<h3>痱與喑俳不同說</h3>
<p>凡辨症須於同中求異，如痱與喑俳是也。《靈》熱病痱之為病，身無痛者，四肢不收，智亂不甚，其言微知可治，甚則不能言，不可治也。是痱之名，名於四肢不收，不收則廢也。《素》脈解內奪而厥，則為喑俳，此腎虛也。少陰不至者厥也。注：俳，廢也。腎之絡與衝脈並出於氣街，循陰股內廉，斜入　中，循　骨內廉及內踝之後，入足下，故腎氣內奪而不順則足廢。是痱與俳之名，並名於廢也。但痱為腫，喑俳則不腫，痱至喑不可治，喑俳則以喑為正，以此為異。故治痱用續命湯，而喑俳宜地黃飲子，補瀉天淵已。乃《宣明方》反云地黃飲子治中風舌喑不能言，足廢不能行，此少陰氣厥不足，名曰風痱。則混痱與俳，自河間始；以地黃飲子概治中風之誤，自河間之混痱於俳始。</p>
<p>少陰不至，謂太谿脈絕，仲景原尸厥云，少陰脈不至，本此經以太谿絕為診厥之法，故云少陰不至者厥也。河間「少陰氣厥不至」六字殊誤，氣厥正是至，何云不至也？</p>
<h3>癲說</h3>
<p>古之所謂癲者二：一　仆之癲，《靈》、《素》所謂巔疾，王注謂上巔之疾是也。與狂對舉，其病自足太陽經來，其名以「巔疾」二字稱，其義取顛頂為說，此其可治者也；惟由胎驚得之則難治。一昏亂之癲，《難經》所謂重陰者癲，《金匱》所謂陰氣衰為癲是也。雖亦與狂對舉，要之即狂之甚者，其病自心、肝兩臟來，其名以一「癲」字稱，其義以顛越為說，此則必不可治。後人概加　旁，而二癲乃不能別，而諸書之論，亦不可盡曉，必如此分別，斯各各相通矣。《靈‧本神》喜樂無極則傷魄，魄傷則狂，狂者意不存人；悲哀動中則傷魂，魂傷則狂忘不精明，不敢正當人。彼二狂不同，故經文自為之注。其魂傷者則癲也，正《金匱》之所本。《素》調經血並於陰，氣並於陽，乃為驚狂。此一狂乃是渾稱。其血並於陰者則癲也，正《難經》之所本。泉嘗遍考而核之曰：古之巔疾，今之癇也；古之癲，今之痴也。執是說也，庶不至謂古方不可治今病乎！</p>
<h3>臟色單見說一</h3>
<p>人之臟色單見，猶天之運星獨明也。太過之運其星明，不及之運其星減。明則自旺，減則所勝兼之，人之於色也亦然。《金匱》云肝旺色青，四時各隨其色。由斯以推，何臟色見，即是何臟氣勝，觀其所勝，而源委可見已。何以言之？五行相乘，如夫婦然，夫為婦綱，以能乘者為正，不能乘者為變，陰陽之義也。故病在此者，知其因必在彼也。此負者，因彼之乘而太過，病也；此勝者，因彼之弱不能乘，亦病也。乘而太過，則彼強而當見彼臟之色；弱不能乘，則此強而當見此臟之色。故凡其色獨見者，皆勝也，非負也。值不及之運，而曰運星獨明者，未之聞也。顧見注家，輒云脾虛而色外見。嘻！果系脾虛，即使色不純青，亦當於淡黃中見青。如不及之年，運星必兼勝星之比，豈得獨見黃色哉？且也色與脈應，臟和則脈和，而不名一象；偏勝則弦鉤毛石，隨所勝而為象。脈弦不得謂之肝負，則色黃反得謂之脾負乎？倘因此而用益脾之法，則差若毫厘，繆以千裡矣。</p>
<h3>臟色單見說二</h3>
<p>或難之曰：子言何臟色見，即是何臟氣勝，而《靈樞》黃色薄皮弱肉者，不勝春時之虛風云云，非明明以見何臟之色，為何臟之虛乎？曰：是大不然。經意非春風病脾之謂，謂臟色單見者臟勝也，而薄皮弱肉者稟虛也。稟虛而臟勝，則非臟之真實也，其為勝我之臟弱不能乘顯然也。如春肝旺時也，肝既弱矣，焉得不畏虛風乎？春之虛風，西風也，其氣乘於肝，肝受之非脾受之，故知非春風病脾之謂也。《靈樞》之文，看似直易，而其義層累奧衍，極耐尋繹。余說正與之相發明，不得據以為難。其真臟虛色見者，惟肝氣先絕而吻青、心氣內索而面赤之類可以當之，要非尋常之症所可同日語也。</p>
<h3>脾脈說</h3>
<p>《脈經》脾脈長長而弱，來疏去數，再至曰平。案長長謂來長，較去短者為疏，故以來疏申之。弱言其和柔，與《素‧脈要精微》義合。彼文曰：平脾脈來和柔（句），相離如雞踐地曰平。雞之踐地，舉足舒而下足略促，故取以形容來長去短之脈，且如雞踐地之象，去來略差，不似夏脈之鉤來盛去衰、秋脈之毛來急去散也。如雞踐地之象，去來略斷，不似春脈之弦長而相引、冬脈之石絕不相續也。此所以為脾脈也。鳥喙之兌（兌古銳字），鳥距之堅，正和柔之友，屋漏之止而時行，水流之行而不止，正相離如雞踐地之反。又再至非數，而云去數者，非一息六至之謂，但謂其密耳，對疏言之也《病源》作來疏去　，　正訓密，較《脈經》易知。數之為密，亦有確證。《孟子》數罟不入　池。罟數，即密綱。</p>
<h3>是動所生病說</h3>
<p>《靈‧經脈》十二經皆有是動所生病，《難經》以氣、血二字釋之，後人不得其解，反以為非。泉謂榮行脈中，衛行脈外，此經以脈為主，自當兼榮衛言。是動者衛也，衛主氣，故以「氣」字釋是動；所生病者榮也，榮主血，故以「血」字釋所生病：於義甚合。且經於是動在手太陰云臂厥，足陽明云　厥，足太陽云踝厥，足少陰云腎厥，足少陽云陽厥，諸厥皆以衛言；於所生病則各就其脈所過者，不似是動之或循脈，或不循脈，正以榮有定位故也。其榮衛俱有之症，則兩出之，如手太陰之咳喘是也。凡脈病當以此篇為正，余篇及《素問》，則或合臟腑言，或互眾經言，言各有當。窮經者當即此篇以究他篇，則病之所屬自明，勿執他篇以疑此篇也。</p>
<h3>古湯液丸散同方異法說</h3>
<p>《傷寒論》辨可汗云，凡云可發汗而無湯者，丸散亦可用，要以汗出為解，然不如湯隨症良；辨可下云，凡服下藥，用湯勝丸散。考仲景書，汗方除桂枝、麻黃等湯外，別無發汗之丸散。今此云云，可見古方湯液丸散，隨宜酌之，不似後世異法者必異方也。仲景於此起，例如理中丸及湯、半夏散及湯、抵當丸及湯、蜘蛛散及丸，其最著者也。而於病後喜唾，用理中丸；胸痹，用人參湯；於小腹硬滿，小便利如狂者，用抵當湯；於但小腹滿，小便利者，用抵當丸：非隨症異法之證乎？他如太陽篇云：傷寒十三日不解，過經譫語者，以有熱也，當以湯下之；若小便利者，大便當硬，而反下利，脈調和者，知醫以丸藥下之，非其治也；若自下利者，脈當微厥，今反和者，此為內實也，調胃承氣湯主之。丸謂調胃承氣丸也。此症宜湯下不宜丸，故辨之尤明。且也仲景有麻黃湯，而《深師》直作麻黃散；仲景有乾薑附子湯，而《肘後》變為薑附丸；仲景有枳朮湯，而張潔古變為枳朮丸。吾湖郡志所載，有以小柴胡散治病不效，且作湯即效者，皆足證余說也。</p>
<h3>雜病治法折衷說</h3>
<p>仲景之《傷寒論》、《金匱要略》二書，古總為《傷寒雜病論》（雜或為卒，卒即雜之剝文，勿作傷寒為倉卒之病解），《外台》總稱為《傷寒論》（詳泉《金匱方論注‧序注》），是所謂《傷寒雜病論》者，為傷寒中之雜病說，非為一切雜病說（下另有論）。徒恃此書不足與治雜病，則《千金》尚焉。孫氏亦推本仲景，而其論症之精詳，用藥之變化，雜法之明備，數倍於仲景書。非仲景之賢不及孫氏也，仲景既以寒字目其書，自專於寒科盡其變，其他病因，例不羼入。若《千金》統論百病，凡風雨寒暑、飲食居處、陰陽喜怒，諸因隨病聚。則二家命意不同，故其書詳略亦異。讀者能各得所宗，則傷寒、雜病兩擅其長。自墨守者以《金匱》為治一切雜病之宗，而《千金》遂斥為僻書，無惑乎學術隘而治法闕矣！</p>
<h3>釋證名</h3>
<p>有所苦之謂病。病無定所曰流，亦曰游。其有定所而移者曰轉。由此轉彼，而此已罷者曰並病。其依次者曰傳經。其彼病而此不罷者曰合病。其相為表裡之經俱病，亦以次傳者曰兩感。至邪已入裡，而有所著曰結。結而有定形，余症悉罷者始曰積。積而可移曰聚。偏僻在側曰癖，亦曰KT　。假物而成曰　瘕：症言其可征驗；瘕言其為虛假（本《病源》）。結而無定形，久不愈，愈而復發曰注，亦作疰，亦曰系氣。其新病甫愈，有因復發者直曰復，亦作。誤於醫曰壞病。染於人曰易病。病而至於氣竭曰極：極有六，言究竟也；氣去曰死，言澌散也。大抵散者泄之，結者排之，誤者救之，染者絕之，症宜用此數法。而正氣有不支者，即於其中加補味以扶之。歷代醫法，約略如此。</p>
<h3>釋露</h3>
<p>《本草》、《靈》、《素》屢言淋露寒熱，《靈樞》又以「歲露」名篇。「露」字人皆不曉。泉案：淋露即羸露，古者以為疲困之稱。《左‧昭元年傳》勿使有所壅閉湫底，以露其體。注：露，羸也。《韓非子‧亡征》好罷露百姓。《風俗通義》怪神大用羸露。皆此義也。</p>
<p>字亦肯作路，《詩‧皇矣》患夷載路，箋路瘠也，侵伐混夷以瘠之。《管子‧四時》不知四時之故，天下乃路是也。歲露者，謂歲氣不及，虛風困之，民受虛風之邪，即被困成病，與</p>
<p>《管子》之言正合。楊上善注《太素》，概以霧露當之，陋矣。傷寒例凡有觸冒，露體中寒，正本《左傳》。淺人增霜字於冒下，豈寒之為氣，止霜露乎？經文必不若是掛漏也。《病源》有小兒傷食而瘦之哺露，婦人產後瘀血之惡露，皆其引申義也。（淋，古多作癃，楊注</p>
<p>《太素》癃，淋也。而《漢書》有癃疲之病，是淋亦通疲。）</p>
<h3>釋痙</h3>
<p>《玉篇》　，充至切，惡也；痙，渠並切，風強病。二字義別。《素問》氣厥、五常政等篇，及《傷寒》舊本痙皆作　。許叔微《百證歌》以為名異實同，而字仍作　，不改。成無己注傷寒，則直云　字誤，亦不改。今本作痙，傳寫者之故。近代但知痙，無有能知　者。泉案作為是。古人列病，恆重乎證。　乃痙之總號，痙乃　之一端。觀仲景云：病身熱足寒，頭項強急，惡寒，時頭熱面赤，目脈赤，獨頭搖，卒口噤，背反張者，痙病也。明此數者，皆為惡候，故知當作　。若痙字則因勁而起，專指口噤、背反張言，不足以賅余惡。是痙者證名，　者病名。人體強直，有似勁象，故謂之勁；去力加　即為痙，可逆溯而得也。《巢源》亦作　，故得與癇冒混稱。癇固小兒之惡候，冒亦產家之惡候，病不同而惡則同，此其所以混稱之歟！《說文》　部無　字，廠部有　字，云礙止也。然則邪氣礙止不去，乃見惡候，　即　之訛。</p>
<h3>釋喘</h3>
<p>古之所謂喘，即今之所謂氣促。《說文》喘，疾息也。疾息，謂息之疾者。兩經多以喘息對說，正以喘為疾息，息為平息故也，勿作串說。疾息正今之氣促，而又非氣短之謂。短氣者，息不必促，而其氣不足以息，故不曰短息，而曰短氣。氣促者，氣不必短，而其息不利於氣，故《脈經》或謂之息促，而後世渾言之，則遂曰氣促也。今之所謂喘，即古之所謂上氣。鄭注《周禮》上氣，逆氣也。逆氣謂其逆在氣，則不僅責在息。人之將死，有張口抬肩而逆氣者此也。淺者不識上氣，謬目為喘。由是，今之喘，重於古之喘數倍矣。豈知此喘，乃是氣逆，苟非不治，多有下之而愈者，如咳逆葶藶瀉肺湯症，及《外台》備急丸症是也。若疾息之喘，是肺實所致，宜用宣利，如太陽麻黃湯症是也。古人分別之嚴，原為治法設，非可苟焉而已。自二症混，而治法乖矣。</p>
<h3>釋癲</h3>
<p>癲之言　，　仆也。凡物上重下輕則仆，故人病氣聚於頭頂則患　。《素‧脈解》太陽所謂癲疾者，陽盡在上，而陰氣從下，下虛上實，故癲疾也。與厥論巨陽之厥，發為　仆同義。</p>
<p>是明以癲為仆也。癲，經文作巔，故注云頂上曰巔。古字無巔，止作顛，後人加　旁遂作癲。</p>
<p>亦或省作　，《玉篇》癇，小兒　病也是也。且據《玉篇》，知癲癇實一病。《病源》亦云十歲以上為癲，十歲以下為癇，然則二字之分，分於年之長少也。《金匱》風引湯下云，治大人癲、小兒癇，即此意。近世不曉此義，專指古之風邪為癲，而以別於子癇。執今之名，檢古之書，無怪乎其謂古方不可治今病矣！</p>
<h3>釋淋</h3>
<p>《靈》、《素》、《本草》有五癃、癃閉之名，而仲景以下諸書並無之。考楊上善《太素》注：癃，淋也。因知淋、癃乃一聲之轉。《毛詩‧皇矣》與爾臨沖，《韓詩》作與爾隆沖，是其的證。所以通淋於癃者，以癃訓罷。《漢書》云：臣有疲癃之病。注：癃，罷病也。而</p>
<p>《素問》說癃者，一日數十溲，則膀胱之胞罷疲矣，故得假借取義。近世不知此義，歧而二之。徐靈胎《軌范》以癃、閉、利、淋四字為目，又自注云：絕不便為癃。於此嘆識字之難！依字當作麻，《說文》麻，疝類。則是麻之名，取義於腹痛，故仲景亦以少腹弦急，痛引臍中為正。後世以其病狀淋瀝不宣，遂借淋字為之。詳泉所撰《證原》中。</p>
<h3>釋疝</h3>
<p>《說文》疝，腹中痛也。《釋名》疝，猶詵也，氣詵詵上也。然則腹氣逆上作痛者疝也，許略而劉詳耳！《金匱》寒疝正指此，故次於腹滿下，不與狐疝同篇，其各條經文，不涉及前陰一字。隋巢元方知此義，故《病源》載諸疝候，亦無涉及前陰，惟疝非前陰莖卵之病，故女子亦得有之。如《素問》厥疝，《外台》血疝、石疝之屬是也。疝以寒疝為正，若狐疝、疝諸關前陰者，特以其兼腹痛，故以疝之名名之，其不兼腹痛，則直云陰縮、陰　而已，諸經中自有條理可尋也。近世以狐疝為正疝，遂不識《金匱》寒疝為何病，而烏頭等方乃廢。至張石頑《醫通》、徐靈胎《軌范》，皆合狐疝、寒疝為一門矣，而淺者又目為肝氣矣。</p>
<h3>釋膈</h3>
<p>《素問》有隔，《傷寒論》有格，《病源》、《千金》、《外台》有鬲，音義皆相近，而要非今之所謂膈也。何以言之？隔為不便（經曰隔陽不便，王注亦屢曰隔，隔塞而不便寫也，）即仲景書之關元方書之內關外格也。格為吐逆（見《傷寒平脈法》，王注《素問》亦用之），義取格拒。鬲為鬲氣，其別有五，其症不一，不過寒食氣結所為，皆與膈輕重懸殊。治隔可利其二便，治格可平其胃氣（據仲景乾薑黃芩黃連人參湯症言），治鬲可運其陽氣。若今之所謂膈，乃吳江徐氏所謂胃口枯槁，不能受食者，實噎與反胃之極境，屬六極，故多死，無藥可治。不得以鬲、膈字同，隔、格、膈音同而牽合之。</p>
<h3>釋痰</h3>
<p>仲景書有濁唾，有涎唾。涎唾，後人或稱淡唾。淡言其薄，以別於濁唾也。淡字去　加即為痰。《巢源》而下，唾皆稱痰，即於唾之不薄者，亦稱痰不稱唾。如凝唾謂之膠痰，黏唾謂之膩痰，皆與古書相戾也。第古人名病，必名其所可見，薄唾稱淡，有淡可見，若無淡可見，焉得冒淡之名？因知《金匱》四飲中之痰飲，雖本一作痰，而走於腸間之水，淡不淡尚未可卜，仲景亦必不憑空名之。淡飲之淡，當為流字之誤。走於腸間，正謂其流，與溢字、懸字、支字，皆是狀其水行以為別。水之行象，必得此四者方備。《巢源》論飲，悉本《金匱》，於四飲獨無淡飲，有流飲，所列流飲症狀，正即《金匱》之淡飲，隋時《金匱》不誤，巢所據足為的證。《千金翼》配入留飲為五次，改懸飲為　飲，支飲為淡飲，而於腸間動作有聲之飲，亦作流飲，與巢氏合。緣「流」字似淡，傳寫誤之，尋又改為痰，其跡顯然。</p>
<p>近有粗知訓詁者，謂痰字從炎，病必屬火。依彼論治，豈不大謬信乎？辨之不可不審也！</p>
<h3>釋散</h3>
<p>脈有左右如相低昂者，謂之散，如樹葉之動、榆莢之落，（《玉函》聶聶如落榆莢者，名曰散也。《八十一難》作厭厭聶聶。依義當作　，《廣韻》　，葉動貌；　，樹葉動貌。）</p>
<p>物輕而泛於水，（《素問》秋脈來急去散，故曰浮，又如物之浮，曰肺死，）車行而望其蓋，（</p>
<p>《傷寒論》脈藹藹如車蓋者，名曰陽結也。《八十一難》以為肺平脈。）其象莫不如是，故歷擬之也。左右如相低昂，與數脈相似。其實數之促急，以徑言，散之低昂，以橫言；數之促急起線，散之仰昂不起線：大不相同，故言如數。（《素問》冬脈其去如數，正謂散也。</p>
<p>示從容肝急沉散似腎。）又如物之浮，是散之黏著而兼實者；如車之蓋，是散之有力而兼大者。（《素問》如物之浮，如風吹毛。成注《傷寒論》藹藹如車蓋者，大而厭厭聶聶也。）故一為肺死脈，一為陽結脈，皆非散之正。故仲景以如落榆莢為正。又惟散之低昂以橫言，故緊脈亦兼散象。（王注《素‧示從容》急緊而散曰肝。）惟散之低昂不起線，故洪脈亦沿散名。（《八十一難》浮而大散者心也。）引而申之，觸類而長之，天下之能事畢矣。</p>
<h3>釋毛</h3>
<p>古以毛為輕之譬。《詩》大雅德　如毛，　輕也；《孟子》以一羽對百鈞，又曰金重於羽；</p>
<p>《漢書》或重於泰山，或輕於鴻毛：皆言輕也。脈以毛名者，為其重按即無，輕取則得也。</p>
<p>《素》玉機真臟秋脈者肺也，故其氣來輕虛以浮，來急去散，故曰浮，《脈經》肺脈來泛泛（《說文》浮，泛也。則泛泛，浮也。）而輕，如微風吹鳥背上毛。然則浮之輕，而重按即無者，乃為正毛脈矣。其輕而不甚浮起，或浮之輕而沉候又兼他象者，只可謂之輕，不得謂之毛。《脈經》於吐衄曰脈來輕輕在肌肉。此輕在中候，故不云毛也。於婦人妊娠曰按之則滑，浮之則輕。此以沉候有他象，故亦不云毛也。言輕不足以該浮，言浮不足以該輕，故《傷寒論》疊稱之曰毛浮。</p>
<h3>釋代一</h3>
<p>古說脈代有數種。《素》宣明五氣脾脈代，注：軟而弱也。案軟弱則氣未盡暢，有乍數乍疏之意，此與《靈》邪氣臟腑病形黃者，其脈代，皆謂脾之平脈。以《脈經》脾平脈長長而弱，來疏去數參之，則此所云代，實即乍數乍疏之義。蓋有數有疏，則氣不調勻，如相更代，故曰代，而古因謂不調之脈為代。《史記》倉公傳：和即經主病，代則絡脈有過。以代對和，則代為不調可知。《素‧三部九候》中部乍數乍疏者死，其脈代而鉤者，病在絡脈，亦謂不調者為代。承上句乍疏乍數而言，意謂經代死，終代病。夏氣在絡，長夏同法，故脾以代為正，此與倉公說皆取脾平脈之代，而於非時妄見者，射其主病也。所以謂之代者，取其變更不常，如四時代更，日月代明，父子代嬗，盛衰代遷之比。《說文》：代，更也是也。代之本義，並不取乎止，第以純軟弱則或不能行，有疏數則似可得間，間者止也。不能行亦止也。故古因又謂脈之有止者為代，如經所云數動一代，五十動一代，乃「代」字之引伸義。</p>
<p>所以引代於止者，即動以觀止則見為數，即止以觀動則見為數，仍是乍疏乍數之意也。然猶通指一止者為代也。至仲景而下，別代於結，始以動而中止，不能自還，為代之專稱矣。至李時珍而下，別代於促、結，始以止有常數，為代之專稱矣。於此見古今號之沿革。</p>
<h3>釋代二</h3>
<p>《脈經》代脈來數中止，不能自還，因而復動，此論最明。來數，數也；中止，疏也；不能自還，弱之甚也；因而復動，但弱無胃也。與兩經之言，若合符節。於此知中止去軟弱止一間，有胃氣為軟弱，無胃氣即中止。有胃氣則雖無力而其動猶覺不勻而勻，故但謂之乍數乍疏；無胃氣則雖有動而極無力以久持，故謂之弱而乍數乍疏。《素》玉機真臟真脾脈至，弱而乍數乍疏，其即《脈經》之所本乎！《素》平人氣象長夏胃微軟弱曰平，但代無胃曰死。亦明以軟弱為有胃，代為無胃。且不云代而無胃，必云但代無胃者，以其但見軟弱中之疏數，而無軟弱中之和氣，故曰但代。王注以軟而弱釋《宣明篇》之代，而於但代直云動而中止，不能自還，義各允協。又《素》脈要精微兩言代，王注於數動一代云：代，止也；於代則氣衰云：動而中止，不能自還：亦切當。其釋三部九候之代則過，觀《倉公傳》自知。總之，釋脈必先明其字之本義及引申義，而後前人之得失異同，可考而知也。</p>
<h3>釋鉤毛弦石溜五脈</h3>
<p>《素》五臟別鼓一陽曰鉤，鼓一陰曰毛，鼓陽勝急曰弦，鼓陽至而絕曰石，陰陽相過曰溜。</p>
<p>案一陽一陰，謂一於陽一於陰也。一與壹通。壹，專也。夏陽大旺，陰不能與之爭，故曰一陽，而鉤脈當之。秋陽剝喪、不能與陰爭，則陰專，故曰一陰，而毛脈當之。此二者言陰陽勝負之極也。陽勝謂與陰爭而能勝陰也。春時陽雖漸旺，而尚為陰蒙，故其象為急，而弦脈當之。陽至謂不能與陰爭，故止曰至也。冬時陰多陽少，則陽沉潛，故去來斷絕，而石脈當之。此二者言陰陽勝負之多少也。溜脈不言鼓者，以其弱甚也，此陰陽之無勝負者也，中氣也。此經發明四時臟脈之義最精核，曰一、曰勝、曰至、曰過，字字可求。勝、至二字，義猶未了，故足以曰急、曰絕。讀者所當緣文以求義也。王注誤以一陽一陰牽合上文三焦與肝，由此穿鑿附會，頓失經旨，致言臟脈者，但知其當然，不知其所以然矣。</p>
<h3>釋KT</h3>
<p>《千金》卷十三心臟篇云：夏三月主心、小腸病，曰赤脈KT　。「KT　」字經傳少見，醫書僅見於此。考《禮‧中庸》君子之道費而隱。注：費猶詭也，道不費則仕。《釋文》云：本又作拂。費字無詭訓，原本必作拂。拂之別體作KT　，故又省作費。若KT　省貝為拂，則有　為費，理固然也。若經本作費，鄭當破讀云費當為拂矣。《詩‧大雅‧皇矣》四方以無拂禮。《大學》是謂拂人之性。箋注皆云拂猶KT　也，與《中庸》注同，可證也。《千金》赤脈KT　云者，謂邪氣KT　其脈氣也。後人不知此義，宋許叔微傷寒九十論引龐安常《傷寒總病論》赤脈攢，攢即KT　之誤，KT　語正本之《千金》，而字誤作攢，則不可通矣。</p>
<h3>釋解</h3>
<p>「　」字《說文》所無，以食亦推之，當為「亦」，亦通於射。古今人表曹嚴公亦姑，師古曰：即射姑也。《詩》抑矧可射思、射厭也。然則解　云者，謂懈怠而厭事也。射又通於夜，《荀子‧勸學》：西方有木焉。名曰夜干，亦作射干。《左‧昭廿五傳》：狐夜姑。《釋文》本作射，夜從亦省聲。《說文》：夜舍也，天下休舍也。然則解　云者，謂懈怠而休舍也。夜又通於液。周有叔液鼎，即八士之叔夜，而《周官‧考工》弓人春液角，近朱駿聲謂液解也。然則解　云者，即解字之重言也。此王太仆寒不甚、熱不甚、弱不甚、強不甚之訓，所以不可易也。又案食亦云者，即臨食不甚喜好之稱，故曰瘦人以其未食時若欲食，及臨食則不甚欲食，故曰善食而瘦人。（善讀如彼為善之之善。）兩症名義並同。</p>
<h3>釋服</h3>
<p>一方之藥料，古曰服，今曰貼。「貼」字古無，止作帖。《說文》：帖，帛書署也。以木曰檢，以帛曰帖。案，檢即簽也。以檢類帖，是帖即如今招貼之謂。明帖即貼也。《文選‧陸機文賦》或安帖而易。施注《公羊傳》曰：帖，服也。今《公羊‧僖四年傳》曰卒帖。荊注：，服也，字從立心，疑即帖之訛。然則帖與服義同爾。貼占聲，《史‧平準書》各以其物，自古索隱，自隱度也。《漢書》注：各隱度其財物多少，而為名簿，送之於官也。由是推之，則醫者隱度其藥物多少，而為書署以予人者，宜其稱帖矣。《說文》服，用也。《呂覽》論威敵已服矣。注：降也。方藥稱服者，言其用以降服病氣也。降服之服同於伏，而醫方有云一伏時、三伏時者，猶言盡此一時、三時之候也。藥物畏火煮爍，故謂之伏，猶秋之於夏，以金續火名，是時為三伏也。學人果能隨處顧名思義，則知古人牖我者至矣。</p>
<h2>卷三</h2>
<h3>伏沖解</h3>
<p>《說文》沖，通道也。《玉篇》沖，交道也。脈以沖名者，取經隧四達，表裡交通之義。此脈並陽明之經行身前者，應孔穴，其不應孔穴者，並足少陰之經，伏行背膂之下，始稱伏沖，亦曰伏膂，名異實同。惟其伏行，故得交通前後，為四達之路。經敘虛邪中人之次，不直言衝脈，必別言伏沖者，以傳邪未到伏沖之先，由孫而絡而經而輸，其入淺，其途一；一到伏沖，則入較深，而途不一，或由腸胃之腠而傳二腑，或由腸胃之外而傳膜原，路路可走，防御綦難，為泄為積，未可預卜。經意當以兩歧言，不以遞進言，否則既入腸胃，豈有復出而傳膜原之理哉？腸胃之外，膜原之間，所部甚廣，自鬲肓至脖　，跨有臍之四旁，於古尺約尺許，其止者為積，其行者為繞臍痛；其不內逼於膜而傳者，尚有腸胃之後膂筋一次；其內逼膜原而傳者，亦尚有小腸膜原之間一次；其由支絡而傳者，尚有衝脈之正經，為臍上喘動應手之症。益信此一脈之四達交通矣。衝脈之外行者但稱沖，則其伏行者稱伏沖，理固宜然。楊注《太素》不誤，王注《瘧論》以為腎絡之伏行膂筋者，蓋謂衝脈本腎絡之一也。核之上文入脊內，下文出缺盆之路，甚合。</p>
<h3>中風傷寒解</h3>
<p>《傷寒論》於傷寒外稱中風，各詳其脈證於六經篇。《病源》謂之中風、傷寒，其論即取論中六經脈證。《千金》、《外台》相承皆如此。泉案《金匱》有中風篇，　仲景不以此病同列於彼者，以此與傷寒相似，與痹、歷節等不相似故也。巢氏以傷寒稱之，最得其旨。蓋冬時疾風及非時寒風，其來無漸，非關觸冒，故云中。又以其彼來而我始冒之，故云中，又可云傷。又以此風起毫毛髮腠理，入襲於衛而自汗，不能循經而傳，故論文特起傳經例於傷寒條後，而中風條不之及。欲知傳經與否之義，但取《傷寒論》營行脈中、衛行脈外，及風則傷衛、寒則傷營數語繹之自明，勿為近世所惑也。</p>
<h3>秋傷於濕解</h3>
<p>凡論四氣，當分二例。自春分至秋分皆為暑，自秋分至立春皆為寒。二氣極偏，皆從風傷於人。經以暑配夏、寒配冬者，據其極偏之氣，配以極偏之時也。春之溫和，秋之涼和，本無所偏，介乎寒暑往來之間，而不可以寒暑言，故於春言風，以溫非邪，風則為邪。又以此風不偏勝，故但言傷於風，不別言寒者，非謂風止於春傷人也。於秋言濕者，秋承中土之後，本氣既無可言，即以中土之濕配之。秋謂秋分以前，若秋分後天氣已寒，此時傷之，則從傷寒法。經意以四氣分發四時，言自難齊，當以意逆實，當如傷寒例從秋分後皆為傷寒也。秋以土氣為氣者，正如草木黃落，以土色為色之比。近喻嘉言欲改「濕」字為燥，非是。不觀</p>
<p>《靈‧九宮八風》又以濕配東乎，喻又將何以改之？</p>
<h3>《傷寒論》六經解一</h3>
<p>《傷寒》所列六經，與《素‧熱病論》不同。熱病論依氣行之脈絡言，故所著症，與《靈‧經脈篇》義合。《傷寒論》依邪入之次序言，故所著症，與《靈‧經脈篇》義不合。經脈三陽經皆有頭痛，陽明始有惡寒，而仲景乃皆入之太陽，更以胃實為正陽明；經脈嗜臥屬足太陰，而仲景乃謂少陰病欲寐；經脈渴而欲飲，飢不能食，屬足少陰，而仲景乃謂厥陰病消渴，飲不欲食，種種皆殊。惟少陽、太陰為近之，而亦有殊者：經脈目KT　KT　屬足少陰，而仲景少陽目眩；經脈飧泄屬足厥陰，而仲景三陰俱列。所以然者，經但以陰陽分表裡兩層，而以身之前後兩側分為三陰三陽，仲景不但分表裡兩層，且分表之表為太陽，表之裡為少陽，裡之表為太陰，裡之裡為少陰，裡之至裡為厥陰，其腑為陽明，義取遞進，不取平按。故僅列熱病論六經症於傷寒例，而不即引之以冠六經篇首，別自為說以著，其名同實異也。所以實異而名仍同者，以太陽等六者，乃古今紀陰陽者之大名，六元以紀天之六氣，《難經》以紀歲之六節，《脈經》卷五扁鵲法以紀一日之六候、卷十手撿圖以紀診法之六部，經筋以紀筋，皮部以紀絡，若經脈則以紀榮衛，而仲景因以紀表裡，其義一也。欲窮《傷寒》六經症者，勿纏合《靈》、《素》以亂之。</p>
<h3>《傷寒論》六經解二</h3>
<p>《傷寒》一書，專明表裡，以寒邪之入也，表裡以次，故分六經以列其次之後先。寒病之呈也，表裡恆兼，故又分六經六篇，以辨其兼之多少，於是屬詞比事，不得不起一例。其例純表者入表部，兼裡者亦入表部，必純裡者乃在裡部。假如六經症具，必在太陽篇，以太陽為表之表也。太陽症罷，乃入陽明，陽明罷乃入少陽，少陽罷乃入太陰、入少陰、入厥陰，各取最外一層隸之，故於太陽著論最多，而厥陰獨少。非略也，他經之兼太陽者，例不得入於他經，而厥陰之兼他經而已分入各部者，例不得入於厥陰，則第紀其經症及解時愈候而已。</p>
<p>其自諸四逆以下，古另為一篇，《玉函》題曰平嘔噦厥利脈症並治，成本誤並之。或據成本而猶以為少，不得其故，乃曰此仲景未成之書也，否則曰此王叔和之所亂也。</p>
<h3>《傷寒論》六經解三</h3>
<p>余論《傷寒》六經為紀表裡，屢矣。究何所證？曰：證諸華佗。《千金》引其說云：凡傷寒一日在皮，二日在膚，三日在肌，四日在胸，五日在腹，六日入胃，是分六層以紀表裡之次者由佗始。所云入胃，即陽明病胃家實也；在皮、在膚、在肌，即太陽及陽明經病也；在胸，即少陽及太陰病吐食不下也；在腹，即太陰腹滿痛及少陰、厥陰病也。特措詞有文質，分次有贏縮，以此不同耳！其紀表裡之義則同，仲景既存</p>
<p>《素問》六日六經之文於例，而又取華氏六日六層之義潤飾之，而易其目以著篇，乃主藥法而略針法之意。巢元方能知之，故《病源》存華說於總論，復次《素問》六日六經依脈生病之文於後，與仲景若合符節，是又得一證矣。夫又奚疑？</p>
<h3>《傷寒論》六經解四</h3>
<p>前論分次有縮，又有一證，蓋六經雖六，核之止四。華佗一日、二日、三日在膚皮肌，仲景以太陽統之；四日在胸，以少陽統之；六日在胃，以陽明統之；五日在腹，仲景分為太陰、少陰、厥陰三經。是華佗、仲景雖各分為六，恰各合為四耳！故仲景著各經欲解是，太陽巳午未，陽明申酉戌，少陽寅卯辰，三陰則以亥子丑三時前後，兼一時而錯互之，其實於十二時中，止得三時焉。與《靈‧衛氣行》水下一刻，人氣在太陽，二刻少陽，三刻陽明，四刻陰分大同。陰分即三陰之分也。陰陽贏縮之義，殆本此乎。又仲景書中三陽中風，皆各有證，獨至三陰，則太陰有四肢煩疼一證，而少陰、厥陰皆止言脈不言證，明太陰篇一言可賅二經，故二經篇從省也。由中風推傷寒，則太陰篇首所謂腹滿吐食者，恐亦賅二經言。第兼欲寐為少陰，兼渴熱疼飢為厥陰，皆當以滿吐為本，不然僅僅欲寐，豈足定為傷寒少陰病乎？且少陰篇詳言吐利腹痛，若以陽明、少陽篇不詳太陽證例之，不大相徑庭乎？且三陽篇詳言傳經，又言並病合病之證，獨於三陰則從略，而無太陰與少陰並病合病、太陰與厥陰並病合病之證，更無三陰合病、二陰並病之證，豈不昭然乎哉！</p>
<h3>陽明病胃家實解</h3>
<p>邪之中人，各有法度。在軀則風中皮腠，濕流關節，寒傷筋骨，熱傷血脈；在臟則風傷肝，濕傷腎，寒傷肺，熱傷心。二者皆以類從。若邪之不以類從者，則必其表裡相傳者也。大法在軀者以六經傳，至七日愈；在臟者以五臟傳，至六日愈。六經為陽，五臟為陰也。其表裡互傳，不在此例。故仲景書於惡寒則以發熱無熱起，例於太陽篇，而於通書中，則本華佗六日六層之說，而文之以六經之名，殆混經臟而橫斜截之，自成一家言。故至陽明篇，獨以胃家實為正，而姑存陽明外證以備義，其篇中冠以「陽明病」三字者，皆指胃家實，與《素》、</p>
<p>《靈》所稱陽明為行身前之脈者不同。所以然者，藥法與針法異也。讀仲景書，勿執他經以疑此論，亦勿執此論以疑他經可已。經於他篇之首，各舉病名，獨「胃家實」三字渾含之者，以見胃象萬物所歸，無所復傳，其部既廣，不可單稱一二故也，細讀之自知。《千金》作胃家寒者，「寒」即「塞」字之誤，與「實」同義。《金匱》黃膽陰被其寒，《千金》亦作塞，可證。奈何有見一「寒」字之異，從而為之辭者！</p>
<h3>腸覃解</h3>
<p>《靈‧水脹篇》腸覃者，寒氣客於腸外，與衛氣相搏，氣不得榮，因有所系，癖而內著，惡氣乃起，息肉內生。其始生也，大如雞子，稍以益大，至其成，如懷子之狀，久者離歲，按之則堅，推之則移，月事以時下，此其候也。泉案：腸覃既生息肉，則有形矣。但覃乃延長之義，於病狀何取？當為蕈之省文。《韻》、《篇》並云：蕈，之荏反，地上菌也。病之蕈名者，蓋取腸外息肉生如蕈狀，後世咽菌、陰菌等名準此。讀當尋上聲，不當如字讀。古蕈、蕈二字多相通，故五經文字云詩葛，覃字亦作蕈。但彼蕈仍當訓延，而此蕈則當訓菌。二字之詁雖異，二字之通則同。此類甚多，不可不正。</p>
<h3>蠱解</h3>
<p>《靈‧熱病》男子如蠱，女子如　，身體腰脊如解，不欲飲食。楊注《太素》以為男女相悅之病。女惑男為蠱，男惑女為　。泉案：楊說蓋據《左傳》而對參得之，於名義最合。今為引申之。蠱者，壞也。《素‧生氣通天》注謂煎厥由房勞來，而至耳目潰潰乎若壞都，正以女惑男而壞也。　者，阻也。《史記‧倉公傳》韓女欲男子不可得，病寒熱，月不下，正以男惑女而阻也。曰煎厥，曰寒熱，則身必發熱，故經列於熱病。此熱必發於腎，腎熱則侮脾，故身體腰脊如解，不欲飲食。腎中之熱既淫於脾，則必脾腎同治，故下文云刺涌泉及跗上。經文莫著於此，由刺法推藥法，其方可知。《千金》無比山藥丸可以治蠱，《本事方》抑陰煎可以治　。若更中於虛邪，必皆致羸瘦、咳嗽、沉默、　，為風虛勞、傳尸勞等症，當各隨宜治之矣。或據《玉篇》　，驕也。《廣韻》　，　也。而通　於狙，釋為詐病亦得。蓋此症變幻，不的知所苦，朝涼即如平人，暮熱輒至大劇，有似詐也。然以狙虛擬其神，不若以阻實征諸病。《千金》直作「阻」字，阻者，經阻。</p>
<h3>邪解</h3>
<p>楊注《太素》，概釋「邪」字為虛邪，最合經旨。經謂風雨寒暑，不能獨傷人，必因於天之虛邪，與其人虛，兩虛相得，乃客其形。於此知外來之病，無不挾有虛邪，故兩經動輒言邪，此「邪」字對太一之正風言也。《難經》始目一切病患之氣為邪，如心邪、肝邪等臟腑之邪，及飲食之邪云云，不必皆是虛邪，殆以「邪」字對人身之正氣言也。仲景因之有大邪、小邪、清邪、濁邪、穀飪之邪諸稱，皆用《難經》而引申。其云邪哭者，又將虛邪之氣，名虛邪之病，是以「邪」字對他病之正狀言也。《巢源》因之而有五邪之名，《千金》、《外台》又皆衍為驚邪之名，皆由《金匱》而引申。《千金》又有邪思泄痢症，則又以「邪」字對心術之正用言也。大抵名稱隨時而改，讀者通其意勿泥其文，否則必執今疑古，而謂古方不可治今病矣。</p>
<h3>邪哭解</h3>
<p>《金匱》五臟風寒篇有「邪哭」二字，自來注家皆謂非哭之正狀，如有聲無淚，或哭而不悲之比。是以邪為反正泛稱也。然於本文血氣少之原不協。惟巢氏《病源》中風門，有驚、邪、狂、癲四症相類，而皆冠之以風。是古固有以一「邪」字為病名者，巢氏必本經說。邪哭云者，謂得邪病而哭，《病源》所謂邪之為狀，悲喜無度是也。義本直截，無俟深求。且其病原於風，則於「血氣少」三字允協。風勝則燥，理固然矣。考古之邪，即今之痴。凡《外台》、《千金》治風邪諸方，皆可治痴。昧者以癲為痴，而別於癇。癲、痴強合，癲、癇強分，皆於古訓相背。詳泉所撰《金匱方論注》及《證原》中。</p>
<h3>酸削解</h3>
<p>《金匱》勞篇，男子勞之為病，其脈浮大，手足煩熱，春夏劇，秋冬差，陰寒精自出，酸削不能行。泉案：酸削當為酸消，謂酸嘶消沮也。髓藏於頭，而會絕骨。絕骨穴在脛外廉，故腦髓少者，則頭痛而脛不能行。其至春夏劇者，以春氣病在頭故也。《周禮‧疾醫》春時有首疾。鄭注：　酸削也；首疾，頭疾也。彼削亦當作消，所以疊　也。《說文》　，酸，頭痛也。《周禮》曰：春時有　首疾。此與鄭同義。鄭注是分釋「　首疾」三字之義，非分三字為二症名。《說文》「酸　頭痛也」五字句，是渾括其狀。賈疏頭痛之外，別有酸削之疾云云，蓋誤會鄭意。《蜀都賦》味蠲癘　。注：　，頭痛也。是誤會許意。余目驗春溫症及春月傷風而病頭痛者，無不脛酸。《周禮》「　首疾」三字，真善狀病態者。許、鄭由頭言之，仲景由脛言之，各以其次為異耳！</p>
<h3>下利解</h3>
<p>古書多言下利。下即泄字；利言其快，加　旁即為痢字。下利與吐利文同，吐利為快吐，則下利即為快泄已。兩經或稱其甚者為洞泄，又為腸　。王注謂腸門開辟，知本作辟，讀為辟，其病即下利也。所云腸　下白沫，即今之白積；腸　下膿血，即今之紅白積；腸　下血，即今之赤痢、腸紅等。近世分下為泄瀉，利為痢疾，於是今之痢，異於古之利矣。豈知今之痢，即《難經》五泄中之大瘕泄。《難經》與余四泄同稱泄，是古之下，賅今之痢。仲景書亦止加「下重」二字以別之，不另立一名。隋唐時或稱滯下，或稱重下，皆不脫「下」字，存古義也。徐氏《軌范》泛指腸　為腸紅，而以《難經》五泄概入泄，仲景下利概入痢。</p>
<p>於此嘆論古之難！</p>
<h3>病遇節發解</h3>
<p>古書言病之遇節即發也，僅見於《巢源‧尸注候》，而目見甚多。有發於交節日者，有發於交節前後數日者，不必盡是尸注。總之，病根不拔，則愈而復發。其必遇節何也？考萬物應節而來者，莫如八風，以風為中央土氣，（本《尚書‧洪范》鄭注，詳前《原風濕》。）土於五常主信，故至期而不爽，而經謂風者百病之長，是知遇節即發之病必風也。風留經脈，則隨感而作，且五日為候，三候為氣，一氣者月郭盈虧之大法。人身惟經脈隨月郭之盈虧以為盛衰，故必久風之在經脈中者，方為遇節即發；若病不在經脈中，雖屬久風，亦不至遇節即發也。故遇節即發之狀，於風虛勞獨多。</p>
<h3>陰脈陽脈解</h3>
<p>前論陽脈候先受，陰脈候後受者，其義本之叔微。叔微於濕溫之脈，陽濡而弱，陰小而急，則云先受溫，後受濕，以彼準此，義當如是，並以知溫脈濡弱也。經意謂邪中於人，其兼及表裡者，當陰陽如一，如溫瘧是。若先受某邪，後又受某邪，則先之兼見於陰者，必退而並於陽，斯後之獨見於陰者，乃得而乘於陽。風溫、溫毒、溫疫脈法皆如是。後者之不得陷於陽也，以陽有宿邪也；先者之不得越於陰也，以陰有新邪也。新者欲下不得下，宿者欲上不得上。不得下而因汗之，則宿者隨新者以俱升而病劇；不得上而因下之，則新者隨宿者以深入而病變。此二變者皆難治。必明於溫熱之脈法，而後溫病可診也；亦必明於溫病之診法，而後溫病可治也。所以溫病大法禁汗下偏行之治，而宜汗下並行之治，萎蕤湯汗下並行之方也。由萎蕤而推之他方，思過半矣。</p>
<h3>晚發解</h3>
<p>平脈法脈陰陽俱緊，至於吐利，其脈獨不解；若脈遲，至六七日不欲食，此為晚發，水停故也，為未解。成注晚發者，後來之疾也。泉案：《外台》卷一張文仲療晚發傷寒，三月至年末為晚發，方生地、梔子、升麻、柴胡、石膏、五味。若頭面赤，去石膏用干葛，無地用豉。然則晚發云者，乃傷寒最晚所發，以意逆之，感寒熱而至半年發者曰晚發。三月晚發者，其感在冬至前，不論時氣、正氣也；年末晚發者，其感在夏至後，不論時氣，正氣也。以寒熱在身，蓄至半年必發也。何以言之？自秋分至春分，正氣之寒，當以冬至為界，冬至前傷寒者，其晚發至三月末而極，以距秋約半年也；若冬至後傷寒，至五月後發，則為病熱，不稱晚發，為其兼新感也。凡寒熱至二至後而木偏，最易有新感；有新感則病兩歧，故不得稱晚發。自春分至秋分時氣之寒，當以夏至為界，夏至前傷寒至九月發，則為溫瘧，不稱晚發，為其兼新感也；若夏至後傷寒至年末發者，則為晚發，以相距半年也。自秋分至春分時氣之熱，以冬至為界，冬至前感熱者，其晚發在三月末，法與正氣同；若冬至後感熱者，至夏末發則為溫熱，不稱晚發，法與正氣同。自春分至秋分正氣之熱，亦以夏至為界，夏至前感熱者，至九月發則為溫瘧，不稱晚發，法與正氣同；若夏至後感熱至年末發，則為晚發，法與正氣同。然則晚發云者，是從溫熱兩病中別出言之，亦對時氣、正氣之即發者言之，蓋冬至後感之年末發，與夏至前感之六月發，皆即發也。「即」字與「晚」字正相對。若專以冬月正氣言之，恐未能遲至次年末始發也。《活人書》因此改為三月至夏，殆未達其旨，所以如是晚者，以積受寒邪，寒搏於液，液停為水，邪不得發故也。凡邪伏不發者，多由水停。《外台》卷四溫病，冬溫未即發，至春被積寒所折不得發，至夏得熱，其春寒解，冬溫毒始發出肌中，斑爛隱軫如錦文，壯熱咳悶，嘔吐清水。據此知冬溫被春寒折時，先有水停，故至夏發時，必嘔吐出水而後疹見。此冬至後感時氣發於夏末者，不稱晚發之證。彼方用麻、杏、葛、橘，與此方皆是提出寒水之意。又《錄驗》載溫毒此條下，又云已自得下利，宜服黃連橘皮湯。然則停水之毒，吐利皆有，與晚發同法。即謂《外台》、《錄驗》兩溫毒為晚發之溫也，亦無不可。</p>
<h3>鼠解</h3>
<p>《靈》、《素》、《本草》皆屢言鼠　，說者皆以食鼠殘成　者當之。《病源》列九中有鼠，引《靈‧寒熱》赤脈貫瞳於其下。但《病源》鼠　既為九　之一，則不得以概諸　可知。三經鼠　，鼠當為竄，鼠性善竄，故竄字從鼠，鼠字即通竄。《詩》正月鼠憂以癢，小鼠思泣血。兩字皆為竄義，蓋遭亂之人，多方求脫而卒不可得，故既言鼠，而復綴以憂、思二字。　之稱鼠，亦取竄通經絡為義。竄俗作串，　與　為雙聲，故近世瘍科書皆呼　串。患即竄　之倒言也。鼠如字讀，則與注為聲轉，　與流為聲同，故近世瘍科書或呼流注。流注即鼠　之倒言也。凡取兩字相切成義者，可順可倒，如丁東東丁、歷六陸離之類甚多。鼠　之為　串、流注，斷無疑已。又此病初起曰瘰　，從其外命之；已成曰鼠　，從其內命之。經稱寒熱瘰　及寒熱鼠　，別之以此。因知赤脈貫瞳，當是已成之　串診法，非初起之瘰　診法。何以言之？經以赤脈多則死期遠，少則近，則見赤脈非凶兆明矣。大抵血虛之人，目皮裡面必白，血主脈，故以脈見之多少，驗血虛之微甚。瘰　初起，當不至是，必已成串，膿水淋漓已久，合用此診法耳！《玉篇》　，病也；　，瘡也。</p>
<h3>衄有太陽陽明證解</h3>
<p>《金匱》衄云，從春至夏衄者太陽，從秋至冬衄者陽明，獨不言少陽。或據《靈樞‧經脈》謂少陽脈不至鼻，似也，而實非也。蓋仲景所云太陽、陽明者，非謂太陽、陽明之經，乃其自分之部也。太陽統三陽之表，陽明為胃腑之裡。衄有由陽絡之陽傷而得者，外感風熱所致，春夏從開，邪必著於表，故云從春至夏衄者太陽；衄有由陽絡之陰傷而得者，內傷飲食之熱，復被風鑠所致，秋冬主闔，邪必著於裡，故云從秋至冬衄者陽明。此文正與泉前三陰三陽諸篇相證，雖似本之《靈樞》，而要各自成論，偶與之合也。</p>
<h3>女勞疸日晡惡寒解</h3>
<p>凡黃家日晡多發熱者，以陽明旺時也。（晡，《說文》作　，云日加申時食也。仲景云陽明旺申酉戌時，）疸熱隨之而發，故以此為黃膽之常。以其病在中上而下無病，則散而不至逆也。凡氣在中則可上可下，在上必陷，在下必逆。若女勞疸熱固結於下，不得下泄，則時時上逆，特與脾近，與肺遠，止得逆乘於中，不能逆乘於上。至日晡則中實脾旺，疸熱之逆乘於中者，得以乘勢逆乘於上，上至肺而極，故以肺虛惡寒之例而為此病。惡寒仍肺病，非腎病，辨症之訣如此。其額上黑之義同。蓋女勞疸之熱之逆行於臟者，借逕於脾胃而及肺；其逆行於經者，借逕於大腹而及額上。額上為心之部。腎病者，顴與顏黑，此之謂也。此義三十年來，屢思不得，至癸巳夏偶得之。</p>
<h3>隱指解</h3>
<p>《脈經》第一篇釋脈名，兩言隱指。嘗以問之老醫，舉無應者。及歷症有年，始知其的。蓋隱者，揚之反。經文皆於按之下言隱指者，謂脈氣之鼓，被指按住，則不能發揚，似乎隱匿，故曰隱指。其獨系之虛實二脈何也？實脈初持時，止見長大，不得謂之實；及按之而長象不減，又不得發揚，則其氣橫充指下而見滿象，始成實脈矣。故曰隱指　然。《廣雅》：「，滿也」是也。虛脈初持時，止見軟大，不得謂之虛；及按之而大象不減，又不得發揚，則其氣旁流指下而見芤象，始成為虛脈矣。故曰隱指豁豁然空。《玉篇》：「豁，空也」</p>
<p>是也。虛實二脈之真際，皆待按之而見，故惟此二脈言隱指。古人立言之妙，非淺學所能領會矣。</p>
<h3>陰陽附解</h3>
<p>《脈經》所謂陽附陰、陰附陽者，陰陽謂表裡，附謂薄也。陽附陰，即表邪內陷之謂；陰附陽，即裡邪外乘之謂。病發於太陽則內薄，發於少陰則外薄，薄而不已必爭。其與交、並之別：交者表裡不釐清，附者表多即裡少，裡多即表少也；並者表並於裡即無表，裡並於表即無裡，附者裡猶帶表，表猶帶裡也。至於爭，則薄者將勝矣；將勝者，盡入其境也。表盡入裡則陷，故死；裡盡入表則出，故生。陰主闔，陽加之則不能容，故脹滿；陽主開，陰加之則虛者泄，故汗出。而其與並有別者，並者已汗出，附而爭者未汗出也。可見診熱病總以汗出為佳也。又案：此時脹滿，必不大便，下之則其死尤速；此時汗之必昏運；補之則其愈遲，補甚亦死。一先一後之間，必列此數名，其丁寧示人之意切矣。</p>
<p>《脈經》歷集古今眾論，其名稱或隨時代而異，故多有詞異旨同者。此謂薄為附，亦其一端也。</p>
<h3>溫病脈法解</h3>
<p>凡脈來盛去微，如人喘狀者，是邪氣由表薄裡之象；若又動數不均，則薄裡尤急，即初大漸小之厥脈也。傷寒得之為惡寒甚而熱多者以此。今病過數日，不見此二脈，知其邪將衰，不能薄裡，不薄裡必還表，將汗之兆也。然亦有不薄裡又不還表，逗留半表裡間而脈如是者，則象其肺臟之有所載也。肺在軀殼內四臟上，正在半表裡之次，邪著於此則脈緩，故去來平，初終勻，其人當喑。喑者肺載邪而氣實無聲也。欲邪之散，仍須從汗出。設汗之不汗，則邪著固而肺將爛若萎矣，法在不治。《脈經》卷七熱病肺不喘三條，義實如此。凡云不者，皆昨然今否之詞，府謂胸中，藏謂胃部，陰陽謂表裡，凡云期者，皆施治冀望之詞，三日四日者，自七日後數之也。七加四為十一日，邪氣還表，行其經竟之時，至是不汗，則其終不還表而著肺之固可知，治法乃窮矣。</p>
<h3>軟弱有石解</h3>
<p>《素問‧平人氣象》長夏軟弱有石曰冬病，石甚曰今病。（從《脈經》及《甲乙》。）案石之義，似當為堅，而經與軟弱並舉，則石脈之象，從此可推已。蓋堅為長屬，去來相引；石為短屬，去來皆斷：兩者固別。《素‧玉機真臟》真腎脈至搏而絕，如以指彈石辟辟然。絕謂去來絕也。一曰如奪索。（「奪」古「脫」字，見《說文》。奪索即絕也。）是石脈取義於絕，不取於堅，故得與軟弱並舉。第辟辟之石無胃氣，軟弱之石有胃氣，故在彼為死脈，在此為病脈耳！所以長夏忌石者，脾平脈相離，如雞踐地，則離而不甚覺其離也；石則離之顯焉者矣。夫離之為言，猶斷也。以不甚覺離者，而忽顯見為離，脾氣弱而腎氣強矣，故病。</p>
<h3>玉屏風散方義解</h3>
<p>玉屏風之止汗，非如圬者之於牆然也。其謂汗之因風得之者，恆至虛其衛氣而久戀，衛則不收，風戀則不純，以不純乘不收，則汗出自易。故必以防風從外發之，白朮從中守之，而黃則居其間而托之。　之為言致也，（《詩‧皇矣》上帝耆之，耆致也。）推致衛氣使風不得留，則衛自收而汗自止。方義如此。人見其汗止也，而以為黃　固表，亦盍觀其方下有治風邪久留不散，自汗不止兩語乎？《本草經》曰：黃　治大風。此方本之，故其義與金匱血痹黃汗黃膽諸用黃　方不同而同，以彼症亦由衛虛挾風故也，其防術並用，取諸金匱桂芍知母湯方中，亦以彼症由風汗之故，以彼證此，斷可知已，必其人之症，如方下所云，始可用之，倘其汗不由於風，或微有風而屬在表虛裡實之體，即不可服，服之則衛以被托而益虛，表虛而裡益形其實，諸氣不和，雖本無汗，且可使有汗，奈何忌汗而藉此止汗耶，且屏風之名，兼有屏絕屏擋之義，若專以屏藩屏蔽為言，則艷其名而沒其實矣，大抵古今名方，苟得仲景之一端，即非望文而可曉，讀者當以意逆志焉。</p>
<h3>磁石治周痹解</h3>
<p>人皆知磁石之益腎氣也，而本經獨主周痹，痹為風寒濕三氣雜至之病，未必皆由腎虛，經意何所指乎，蓋嘗歷考方書，乃知磁石能吸通一切擁塞之氣，塗於外則從外吸內，如入升藥提毒，納喉中引針是也，以彼例此，治痹之義灼然矣，經隧中為風寒濕所阻而成痹，亦系擁塞為病，故須此以吸通之，第古方中依經直用者絕少，而繹周義為流之理，則凡擁塞之處，無非痹氣所流之外，故用之者，不必規規於經文，而自合經旨，且因此益知益腎氣之故焉，心肺主呼，肝腎主吸，能吸之物，與喜吸之症，其氣相協，虛者得吸以實之，謂為益腎也固宜，特不比泛泛益腎如山藥地黃輩耳，臨證者審諸，每見上下俱虛之人，咳喘吐血，醫用磁石，漸至肺萎，延成死症，實由吸傷上焦之誤，而醫者無一悟及，可慨也夫，案、仲景書不及此藥者，仲景為傷寒設法，原書不別出金匱，金匱亦論傷寒之雜病也，寒邪從外入內，不可再服磁石，使之從內吸外，故不及也。</p>
<h3>人參解</h3>
<p>人參性效，近陳修園砭新方八陣，辨之而未盡也，泉謂仲景於亡脈亡血並用人參者，非以人參為能生血脈也，特培其血脈所由生者耳，脾主為胃行其津液，津血同類，津液不行，則血亦減少，而津血又皆元氣所生，元氣實藏於脾，人參專能補脾，脾王而氣液充，則亡血亡脈皆愈，故人參之補脾，實人參之培元氣也，惟人參培元氣，故陽虛者得之能益氣，如四君子湯是也，陰虛者得之能蓄津，如人參白虎湯是也，且人參反大黃，大黃功專瀉胃，而胃為萬物所歸，能瀉胃者必能瀉胃之所及，人參功專補脾，而脾為諸經之母，故補脾者必能補脾之所統，推而暨之，大黃無所不瀉，人參無所不補，凡通治之藥準此。</p>
<h3>桑根白皮解</h3>
<p>據《本經》主傷中、五勞、六極、羸瘦、崩中、絕脈、補虛、益氣云云，則桑白皮補肺也。</p>
<p>《別錄》則主肺中水氣、唾血、熱渴、水腫、腹滿，臚脹、利水道、去寸白、縫金瘡，似桑白皮又瀉肺也。豈相背哉？蓋《本經》「中」字皆指胃言，胃主肌肉，百脈秉穀氣而成，則羸瘦、絕脈，亦系胃病。補虛者補胃之虛，益氣者益胃之氣。胃以下行為順，上逆則肺不平，而肺病作。《本經》著治胃之效，而肺之平，不言可喻也。《別錄》以經義隱約，故推衍之，其主治皆胃逆陵肺之症，一本一標，詞相反，義相成。《肘後方》以之治消渴尿多及產後下血，是宗《本經》為用。錢仲陽瀉白散治小兒肺經實熱，是宗《別錄》為用。</p>
<h3>百合病用百合解</h3>
<p>仲景以百合治百合病專方也，諸家注從未有能道其故者。案《本草經》百合除邪氣，利大小便。百合病症狀雖變幻不一，要之，小便赤黃一症則有定。仲景於至無定中求其有定者，以立延醫之準，此百合病所以必用百合也。百合病重在小便，故於頭痛、頭淅淅、頭眩諸足以卜愈期者，皆於小便時診之。凡辨疑難症，皆當準此。夫古人至奇之法，實有至常之理。淺人泥於百合補肺之說，因以肺朝百脈為之解，淺也。又百合病者，由於余邪逗留，血氣不潤所致。如意欲食而或美及欲臥欲行云云，狀其無大邪之抑，正氣有時得伸也；復不能食至不用聞臭、不能臥、不能行云云，狀其氣血少潤也。如寒如熱，肌中不潤而滯澀也；無寒無熱，余邪不能作勢也；口苦，胃液被余邪所吸，不能消淨食物也；得藥劇吐利，胃液不充，反為藥所勝也；脈微數，微為血氣少，數為邪氣止也；溺時痛見於頭者，溺為去液之事，故病液少者，卜之於此，下虛則上實也。此證之於症而合者也。其治法，專以滋潤為主，故本方於百合外，加生地汁，津血並潤也。汗下吐皆傷液，故隨上下之所傷而救之。知母、雞黃皆滋潤之品。滑石為潤下之品。惟赭能逐邪，欲乘其方下而逐之也。變渴，則栝蔞、牡蠣；變發熱，則滑石。無非取乎其潤。此證之於方而合者也。然後知《本經》百合除邪氣、利大小便云云，皆潤之之效也。大抵病至邪留正虛之時，攻則害正，補則礙邪，惟有潤之，使正紓邪浮，始可設法逐邪。其逐邪之法，總不出傷寒差已後更發熱者，小柴胡湯主之，脈浮者以汗解之，脈沉實者以下解之數語，決不以百合數方了事也。惟至此時，則病之局勢已移，不得仍以百合稱，故百合病止此耳！讀仲景書，如讀《春秋左傳》，當取他傳，續此傳後，而後紀事之本末始全。</p>
<h3>仲景用桂枝例解</h3>
<p>仲景之用桂枝，不獨太陽病為然，即已見裡症而表猶未罷者亦用之。故建中、復脈，雖於滋膩中，尚借一味桂枝以達余邪；　而桃仁承氣湯、黃連湯、桂枝人參湯、柴胡薑桂湯、當歸四逆湯、烏梅丸諸方之用桂枝準此矣。其尤著者，陽明、太陰二篇，皆有浮脈者宜桂枝湯之論，可見無表症而有表脈者，猶當用桂枝。所以然者，有表脈則氣連於表，與未罷之表症同；無表症則不得不隨其所見之病以為隸。近人泥桂枝為太陽經者，究未明其例也。夫仲景之用意雖深，能善讀之，則義隨文見，自有跡之可尋，此所以為醫學中百世之師也。</p>
<h3>桂枝加芍藥生薑人參新加湯解</h3>
<p>任分則權分，任專則權專；權分則功分，權專則功專。分者我與人均，專者人由我使。</p>
<p>桂枝湯桂、芍俱三兩，則桂自驅風，芍自斂汗，各不相假，所謂任分權分而功分也。此方桂三兩，芍四兩，則芍能使桂，桂雖有驅風之能，亦不過以辛溫善達之氣，助芍藥宣已痹之血，而不得獨炫其長，所謂任專權專而功專也。加生薑之義，可以類推。此論身疼痛在發汗後，顯屬汗後亡津，血氣痹著之象。津血同類，故從血痹治。芍藥、生薑皆治血痹，故獨重其分。</p>
<p>亡津故加人參，與白虎加人參湯症義同。何以知此身疼痛為血痹也？以脈沉細知之。栝蔞桂枝湯症，亦云脈沉細，而其病由於亡津，以彼例此昭然已。</p>
<h3>桂枝附子湯去桂加朮解</h3>
<p>論曰：此本一方二法。以大便堅，小便自利，去桂也；以大便不堅，小便不利，故加桂。其義深奧難明，注家皆不得之。近徐氏《類方》則云桂枝能利小便，又云白朮能生腸胃津液，亦屬牽強。繹經意以身疼、脈虛而澀，為表虛挾濕，復以脈浮推得有風，復以不嘔明其無裡症，故以桂枝解表之風，附、朮解表之濕。其可確指為濕者，全在「不渴」二字上勘出，故脈澀作陽虛挾濕論也。然果系有濕，必大便溏，小便不利；若大便堅，小便自利，則非濕症矣。既非濕症，而見身疼、虛澀之脈，是專屬陽虛可知。即其脈浮，亦平脈法所謂浮為虛也，不得再用解表之藥，以重虛其陽，故決然去桂，桂去而朮、附皆轉為溫煦陽氣之用矣。二方之別，所以明二症虛實疑似之辨者至矣。</p>
<h3>大青龍湯麻杏甘石湯越婢湯解</h3>
<p>三方皆麻黃、石膏並用，乃表裡同治之法也。然石膏雖曰治裡，而《本草》亦稱其能解肌。</p>
<p>是三方者，必也表裡俱有熱，而又擁於上焦者宣之。且其為制也，大青龍湯麻黃六兩，石膏如雞子大；麻杏石甘湯麻黃四兩，石膏八兩；越婢湯麻黃六兩，石膏八兩。是皆石膏重於麻黃，石膏為主，麻黃為佐，則解熱之杈勝。麻黃雖有發散之性，只得於解熱中疏其鬱滯而已。性隨制變，故仲景用大青龍，必提出「煩躁」二字，而以脈弱惡風戒其誤用，以見大青龍專為煩躁設。於越婢湯則主自汗出，無大熱；於麻杏甘石湯則主汗出而喘，無大熱。以見二方專為喘、汗設。煩躁、喘、汗症雖不同，其為上焦熱擁則同，故立法亦同。近柯氏琴《來蘇集》，疑麻杏甘石症「汗出而喘無大熱；七字為誤，欲移「無」字於「汗出」上。其不足與語仲景化裁之妙用必矣。</p>
<h3>小青龍湯解</h3>
<p>古經方必有主藥，無之者小青龍是也。何以言之？方中麻、芍、薑、辛、桂、甘各三兩，味、夏各半升。考古半升，約古分亦三兩。仲景每以半夏半斤配生薑三兩，五味半升配生薑三兩。此方正其例也。八味輕重同則不相統，故曰無主藥。或謂麻黃先煎即是主藥。豈知麻黃以有沫當去，不得不先煎，與先煎澤漆、先煎大黃有別。特以肺為水源，以此疏其壅塞耳！且本方加減法云去麻黃者四，麻黃在可去之例豈主藥乎？匪特麻黃非主藥也，即桂枝亦不過因表不解發熱而用之，其與芍藥、甘草同用，全乎桂枝湯矣。桂枝即非主藥，芍藥、甘草更可知已，又何論半夏乎？此方本從桂枝湯來，而其義則在乾薑、五味、細辛三味。本論於柴胡湯、四逆散方下云：咳者，加乾薑、五味子、細辛，即此方主治之義。柴胡湯方下又云：咳者去人參、生薑、大棗，加五味子、乾薑，即此方用桂枝湯，所以必去棗、薑之義。然則小青龍為治飲家咳之方，故凡用乾薑、五味子，而與若桂若麻並施者，皆自此出。如《金匱》厚朴麻黃湯、射干麻黃湯、苓桂五味甘草薑辛湯、苓桂五味甘草薑辛半夏湯、苓桂五味甘草薑辛半夏杏仁湯、苓桂五味甘草薑辛半夏杏仁大黃湯六方是也。論此方所從來，當入桂枝類；論此方所由衍，當另建一類，而六方隸焉，斯當矣。</p>
<h3>當歸四逆湯症解</h3>
<p>論曰：手足厥寒，脈細欲絕者，當歸四逆湯主之。此症比諸四逆略輕。所以改用當歸者，在一「細」字上勘出。諸四逆皆脈微，無言細者。微、細雖皆亡陽脈，而微為無氣，細為無血，其指不同。本論云下之後復發汗，脈微細。以微自汗來亡陽，細自下來亡陰。以彼例此，細為血虛顯然。《金匱》云：血虛而厥，厥而必冒。是厥固有生於血虛者，故必以當歸溫經，芍藥治痹，而後血利；細辛開之，通草穿之，而後血流；其用桂枝者，取其散表寒也。方意如是。論又曰：下利強下之，脈浮革，因而腸鳴者，屬當歸四逆湯。浮革亦血虛之脈，腸鳴亦血虛之因，又在利後，與此正足相參。此四逆症自屬半表半裡，《千金》謂為陽邪內陷之治者得之。夫強下脈大，亦兼表耳！</p>
<h3>侯氏黑散解</h3>
<p>釋此散者，言人人殊，皆無確據。考《病源》寒食散發候云，皇甫曰寒食藥者，世莫知焉。</p>
<p>或曰華佗，或曰仲景。考之於實，佗之精微方類單省，而仲景經有侯氏黑散、紫石英方，皆數種相出入，節度略同。然則寒食、草石二方，出自仲景，非佗也。據此，知侯氏黑散系石發家服食之方，故有冷服填腸之說。石熱之發，亦足召風，故入之中風。大約服石之風，創於漢季，盛於隋唐。仲景傳方而後，《外台》用此尤詳。宋以來服石者鮮，此散幾廢。近喻嘉言誤指為中風主方，踵其說者，見其藥不對症，未敢遵用，因專取菊花一味，以為本諸仲景，而此方之義湮。詳余所撰《經方例釋》中。</p>
<p>案：喻氏之意，以經文中有中風之論，而方止黑散數種耳！豈知中風自以續命為主方，</p>
<p>《外台》中明謂續命為仲景方，今《金匱》無者，脫也。詳余所撰《金匱方論注》中。</p>
<h3>天雄散解</h3>
<p>《金匱》天雄散，有方無論。近人不得其說，或疑為後人所附而議去之。泉謂此乃陽虛失精之祖方，未可去也。古者失精與夢失精分而為二：夢因於風，夢失精者，虛而挾風，故仲景以桂枝湯中加龍、蠣治之，桂枝湯中風方也；不夢而但失精者，虛而挾寒，故又以天雄散治之，天雄祛寒壯陽之藥也。其治失精，於何征之？《病源》引「失精家少腹弦急，陰頭寒，目眶痛，發落」一段經文於失精候，而《外台》即以范汪天雄散隸之，范汪方較仲景止少龍骨一味，而注中引張文仲有龍骨，與仲景一味不差。此天雄散治失精之證也。古失精，近滑精也。《局方》金鎖正元丹，蓋取諸此。</p>
<h3>理中四逆方義解</h3>
<p>大凡思義必先顧名。仲景書名傷寒，則方義自系治寒。寒邪從表乘裡，裡氣不支，揮霍撩亂，勢將直搗。此時未暇顧表，先與建裡，故但用參、朮、甘、薑四味，而置頭痛、發熱、身疼諸證於不問，亦以實其裡，本無妨於表也。俟亂一定，然後解表，以截來路，方下所以有吐利止而身痛不休者，當消息和解其外，宜桂枝湯之論也。理中專為此設，並無伏熱痰食在內，故無壅塞橫決之慮，不然則有因而致變者矣。其緩者更有桂枝人參湯（即理中加桂枝）</p>
<p>，法與先理中後桂枝者同一表邪乘裡，而分治合治猶尚有別，況於裡實者，而可無別乎？至於四逆亦為表邪乘裡而設，但見厥，則所乘已在三陰，較理中症尤重，乃反不用參、朮何也？蓋以寒邪已入三陰，則裡為實，與理中症寒邪將入三陰，其裡猶虛者，先後止爭一間。正如婦人臨產可服補劑助力，已產則有血肉瘀不得再補之比，知此始可與言虛實矣。且吐利而又厥逆，為表裡同病，故既以乾薑溫裡，即以生附托表，其與真武湯、附子湯之用熟附益氣，迥然不同。然則桂泄三陽，生附泄三陰，經有定例，非僅以「性熱」兩字了之。夫一寒之傳變，其別如此，則凡不止一寒，本先裡實者，從可推已。用此二方，但將已所診症，細細與仲景論中義例相參，合則用，不合則否，毋執成見為也。</p>
<h2>卷四</h2>
<h3>《素問‧平人氣象》闕文辨</h3>
<p>《素問‧平人氣象》於人以胃氣為本後，獨言三陽之脈，不及三陰。林億以為闕文，引</p>
<p>《難經》呂廣說補之。泉案：三陰之脈行五臟，經於三陽脈後，即言五臟脈，五臟即三陰也。文與《靈‧經脈》六陽氣俱絕、五陰氣俱絕，及《素‧經終》六陽、五陰之終例同。蓋分手足言之，則六陽；渾舉之，則三陽；統言之，則五臟稱五陰經。實核之，則五臟言各有當，非一端也。三陽主軀殼，與《脈經》時脈之六經必兼三陰者，相似而不同。《難經》所言，亦系時脈，其動搖幾分云云，不可執以例此。五臟主軀內，兼主時，故五臟平脈與四時脈同。</p>
<p>然四時脈通主一身，五臟脈專主一臟，故病脈、死脈之象，則與玉機所云太過不及者不同。</p>
<p>讀《靈》、《素》常須識此，勿令誤也。林校殊未審。</p>
<h3>仲景法非北學辨</h3>
<p>仲景生於南陽，官於長沙，醫於京洛。今案其地，皆非北方郡縣，而洛稱中土尤著。仲景是書，將為前聖集大成，為後世立大法，而斤斤一隅之見，何以為仲景？且歷東西晉、南北朝及隋唐，其間建都若鄴、若金陵、若長安，幾於五方無定。而《外台》所采諸家，半皆當時士大夫在京師者，其尊仲景方，至於天下附應，及宋許白沙當南渡時，去仲景千有餘年，而傷寒九十論中，所紀證治，若合符節。可見通人之學，不以方隅限也。其所謂傷寒病則惡寒、體痛、嘔逆而已，並不大重，何異之有？若以其處方太峻，則古權量不及今之十一，有</p>
<p>《千金》可證，又何異之有？夫天下事，果有二千年來，五方通行，末幾而止宜一方者乎？人亦自求所以知仲景者可耳！按《河南通志》云：張機涅陽人。涅陽，即南陽郡之屬縣名，非有異也。惟張松北見曹操，以川中醫有仲景為夸（見《方氏條辨》自序，）則與此異。豈仲景曾入蜀為醫歟？要之，蜀亦西南方也。</p>
<h3>《金匱》非論雜病書辨</h3>
<p>丹溪謂《金匱》為論雜病之書，以示別於《傷寒論》似也。抑知《金匱》即論傷寒中雜病，非論一切雜病乎！夫痙、濕、　、奔豚氣、宿食、嘔吐、噦、下利之為寒類，仲景有明文；百合、狐惑、陰陽毒之屬寒科，《千金》有成例；瘧、癰、咳、心痛、腹滿、寒疝、積聚、水氣之挾寒，見於《靈》、《素》：中風、歷節、心痹、胸痹、痰飲，消渴、黃膽、驚悸、吐衄、下血、瘀血、轉筋、狐疝之或由風或由寒，詳於《病源》，虛勞必助其陽，肢腫必吐其痰，蛔動必溫其胃可見也。其尤著者，中風宜若多端，反取風寒濕雜至之痹為正；下利宜若不一，專以陽脈陽症為順；肺萎、上氣、淋似乎熱矣，而萎有甘草乾薑湯症，上氣有半夏越婢湯症，淋有弦急痛引症。婦人病則尤雜矣，則妊娠、嘔吐、產後三症，皆從傷寒法治；經水不論過期、不及期，並主溫經湯，是皆以或純寒或兼寒者言也。若臨症者泥此概施，鮮不貽害！作書之旨，自為「寒」字窮其類耳，勿執小異而疑大同。仲景自名其書曰《傷寒雜病論》，自敘其由曰宗族死傷寒，故迄於隋唐總呼傷寒者以此。自林億校成，始與傷寒分。</p>
<p>而丹溪之說行，近世又以其方論多倚溫熱，不得其解，則曰此北學也。吁！其蔽甚於丹溪矣。</p>
<h3>兩濕溫不可合一辨</h3>
<p>《難經》濕溫，言脈不言症；《脈經》濕溫，言症不言脈。何也？蓋在《難經》者既屬傷寒，則必有頭痛、發熱等症。又以其脈陽濡弱也。</p>
<p>推得先受溫而尺熱、口渴在其中；陰小急也，推得後受濕而身疼、拘急在其中：不言症而症可知已。其與《脈經》所言先受濕後受熱者迥別。後受濕者，其濕浮於表，與寒同法而減等。小急者緊之減象也。許叔微蒼朮白虎湯，蒼朮散濕、白虎治溫最合，緣此濕溫重在溫也。先受濕者，其濕沉於裡，與凡濕病同法，故脛冷、胸腹滿，其脈當沉，可以白虎概治之乎？頭目痛、妄言，是濕甚於裡，將與後受之熱合化，故禁汗之，虛表以甚裡，蒼朮其可用乎？緣此濕溫，雖屬中　，重在濕也。觀其所重，兩者懸殊，朱奉議見其名同而合之，則奉議之不足與言傷寒也明矣。（三風溫準此。）</p>
<h3>溫瘧辨</h3>
<p>《內經》以先熱後寒為溫瘧，與先寒後熱之寒瘧反對，而以但熱不寒為癉瘧，《金匱》癉、溫二瘧皆但溫不寒，注家不能分別。泉謂瘧之命名，本對溫而立。冬感於寒及非時之溫，至春發者，其狀和順謂之溫；夏感於暑及非時之寒，至秋發者，其狀酷虐謂之瘧。瘧有寒、溫、無寒，先溫而感春寒，則內熱為外寒所抑，表實故無寒。曰溫瘧者，合二病以名之。仲景書言溫、言瘧，則必言溫瘧，立言之體宜然。其與《內經》不同者，《內經》主瘧，仲景主溫也，宜所言之同溫矣。若癉則《內經》、仲景皆主瘧，宜所言之不同矣。但此溫瘧者，「者」字當作「也」，與上文連讀，謂癉、溫二瘧，並宜白虎加桂方也。不然，自鱉甲煎丸條以下，皆方論並列，何獨癉瘧條有論無方乎？徐靈胎批《金匱》本亦云白虎加桂枝湯，此溫瘧、癉瘧之主方。</p>
<h3>辨柔痙不惡寒之誤</h3>
<p>《金匱》痙篇太陽病發熱汗出而不惡寒者，名曰柔痙。《脈經》及成本《傷寒》同。近嘉定黃校《脈經》本云不惡寒，一作惡寒。案黃序於所言一作某者，多據元泰定謝校本，謝校本又多據宋熙凝林校本，非不足據也。明刻《醫統正脈》林校本有「不」字者，傳寫誤衍。</p>
<p>幸《病源》傷寒痙候錄柔痙，亦無「不」字，與元泰定本《脈經》同。明王肯堂校《千金翼》卷九亦云不惡寒，一作惡寒。然則《千金翼》亦有無「不」字者。巢、孫二書，多據《金匱》也。《金匱》又云：病者身熱足寒，頸項強急，惡寒，時頭熱，面赤，目脈赤，獨頭搖，卒口噤，背反張者，痙病也。彼經是釋痙病之綱，特揭「惡寒」二字，則知痙未有不惡寒者。以經證經，尤為可據。蓋剛柔之分，分於汗不分於惡寒也。此一字所關非小，不得不辨。</p>
<h3>蛟龍病辨誤</h3>
<p>《金匱》果食菜穀禁忌云：春秋二時，龍帶精入芹菜中，人偶食之為病，發時手背腹滿痛不可忍，名蛟龍病。泉謂病得之誤食龍精，與蛟無涉。「蛟」當為「咬」字之誤，在「龍」字下。病名龍咬者，以龍精入腹，變生小龍，咬人腸胃，故腹滿痛不可忍。方下云吐如蜥蠍，可見龍精固能生子於腹中也。作咬為是。古「咬」字恆誤作蛟。《靈‧厥病》云：腸中有蟲瘕及蛟　，皆不可取以小針，心腹痛，發作腫聚，往來上下行，痛有休止，腹中熱喜渴，涎出者，是蛟　也。（今本「發」作「　」，「作」字下有「痛」字，舛誤不可讀。茲從《脈經》、《千金》、《外台》引參正。）二「蛟　」字。《脈經》、《千金》、《外台》引皆作「蛔咬」，而經誤且倒，正與此同。以蛟　證蛟龍，尚何疑哉？又案：以夏小正鳴札之義例之，則作咬龍亦可，以先知其咬，後知為龍也。咬　仿此。</p>
<h3>黃疸辨</h3>
<p>黃，黃胖也。疸，五疸也。《金匱》原有諸黃、諸疸之別，特疸詳而黃略，讀者易混，因誤認諸黃為即五疸中之黃膽耳！考《病源》黃病候，自黃病至治也，百四十六字，列症甚詳，必本之《金匱》逸文。何以言之？一身盡疼，發熱，目澀，鼻疼，兩膊及項強，腰背急，乃太陽陽明表證，而《金匱》有黃家脈浮，當以汗解，宜桂枝加黃　湯一條，證治相符。大便澀，正陽陽明胃家實症也，而《金匱》有諸黃豬膏發煎主之一條，證治相符。《金匱》既詳其治，不應反闕其證，故疑巢說本《金匱》逸文。且以此推之，黃病固有與傷寒同法者，故傷寒亦多病黃。若五疸中之黃膽，則與余疸同屬雜病，自不若黃病初起可以傷寒法治之，此其別也。巢於黃病外別有黃膽，與女勞疸、酒疸、穀疸、黑疸同列，而以《靈》、《素》所言黃膽諸條，及《金匱》所言疸而渴者以下三十五字入之黃膽候，較之黃病論絕異，其分別甚嚴，真善讀仲景書者。後人誤認《金匱》標目黃膽二字，即五疸中黃膽，因以篇中諸黃云云，皆認為五疸中黃膽，而黃與五疸之治法淆矣。不效，必曰古方難用也，故讀書須取其至是者。</p>
<h3>陰黃辨</h3>
<p>人但知黃膽之有陰陽，而不知陰陽之何所指也。一聞「陰」字，即確認為虛症而不疑。</p>
<p>此不獨於疸為然，而疸之害尤甚。蓋疸本濕熱所為，無問陰陽，皆當以治濕熱為正。的系陰黃，則濕熱入深，其候重於陽黃可知，一投補劑，收住濕熱，當時雖瘥，而病根終身不拔矣。余見甚多，而卒不可奪。噫！人亦思陰陽之論何自　哉？《金匱》云：疸病發於陰部，其人必嘔；發於陽部，其人振寒而發熱。然則二疸之別，別於症之淺深，不別於氣之虛實。陰以五臟言，謂肺也；陽以六經言，謂三陽經也。仲景書中固有此例。如傷寒發熱惡寒發於陽，無熱惡寒發於陰；咽喉痛，面赤有斑為陽毒，面青身痛為陰毒。皆是也。後世不明此義，每遇陰症之名，不以為寒而用熱藥，即以為虛而用補藥。元明以來，比比然矣。景岳於陰黃多制補劑，其意豈欲誤人哉？良由誤認一時之收住為功且速，而不知能料他日復發之真明且遠也。《大學》貴知至，信然！</p>
<h3>內風辨</h3>
<p>兩經無內風之名，始見於《史》一百零五卷《倉公傳》「脈來滑者為內風也」一語。蓋指外風之入內者，不謂其自內出也。《千金方》亦頗言內風，細繹其指，與倉公同。惟王太仆《素‧大奇》腎風注云，勞氣內蓄，化而為風，始以自內出者解經風字，然究不言此風宜補也。且《素‧水熱穴》原腎風明言汗出逢風，是腎風何嘗非外入之風，不必如王注所云矣。近世內風之說盛行東南，嘗以意別之，乃中風、痹、痱及肝氣、腎氣等症，但本各有主名，何庸易以混號。且古人惟以中風諸症為外風入內，故制諸續命東加減之方以治之；惟以肝氣諸症為臟氣之厥，故制諸七氣東加減之方以治之。若概目為內風，專為補計，則續命不嫌於發散，七氣不嫌於走泄乎？夫古人立法，每症皆有百世不易之準，何獨風、厥兩門，乃至與後世大相刺謬如此耶？噫！異矣。</p>
<h3>人迎氣口辨</h3>
<p>《靈》、《素》動以人迎、氣口對說，而於終始篇專著「太陰」二字於脈口上（太陰謂手太陰。脈口即氣口），其言曰：人迎與太陰脈口俱盛四倍以上，命曰關格。此一語，正以別人迎於氣口也。王注知人迎之不屬太陰，因以結喉旁脈當之。蓋本《素‧陰陽別》三陽在頭、三陰在手之論最的。後人不知其所本，粗讀古經，轉駁王注為謬，而創左人迎、右氣口之說，以為本之《脈經》。豈知《脈經》「關前一分，人命之主，左為人迎，右為氣口」四句，一氣貫下，與神門訣斷兩在關後相對，則專謂關前一分之在左者為人迎，故與關後一分之神門並論，非統左三部言也。平人迎條云，左手寸口人迎以前脈實者，陽實也，等語，與《靈》、《素》所言迥殊，細玩「以前」兩字自明。《脈經》本不誤，後人自誤會耳！前人辨此者多，茲不備引，要惟楊上善《太素》注為獨勝焉。</p>
<h3>《千金》辨誣</h3>
<p>《千金》卷二十六菜蔬類，瓜子主治下云：一名白瓜子，即冬瓜子也，白冬瓜子味甘，微寒無毒，除小腹水脹，利小便，止消渴。莧菜實主治下云：一名馬莧，即馬齒莧菜也，治反花瘡。案：此兩條，當是北宋修者所改。何以言之？瓜子乃香瓜子，其與冬瓜異物，人人所知，馬齒莧之於白莧菜亦然。凡藥名以馬稱者，皆言其大。經以白莧為主，而白莧大於糠莧，故稱馬莧，對糠莧之稱細莧言，馬齒莧既非一物，安得同條？若以同條言之，則是同物。而馬齒莧之主治，何以與白莧大殊乎？孫系博學通人，必不若是之謬，緣宋以來，皆誤認古人單稱瓜者為冬瓜，又見其馬字從同，遂以臆改。陶注亦以馬莧為馬齒莧而辨其異，猶無大誤。</p>
<p>嗚呼！唐人舊說，被後人竄易者，可勝道哉！</p>
<h3>君火相火辨</h3>
<p>火之稱君、相也，惟天有，然而人則否。何以言之？《素問》說少陰君火，主春分後六十日；少陽相火，主夏至前後六十日。與厥陰風木、太陰濕土等，同為天之六氣。六氣惟火、暑為時最長，故分其純者為君火，烈者為相火。相火亦謂之暑，乃始溫終熱之義也，故曰惟天有。然至於人身，則左腎水、右腎火，即為諸臟腑所秉氣液之源。無一臟無水，即無一臟無火，本與六氣火暑之別於四氣者不同。論其源委，心亦資源於腎，安得以心為火中之火而君之，腎為水中之火而相之？且心之為火、腎之為水，不過配合五行之位如此，豈謂火結成心、水結成腎乎？心之稱君，特十二官比例如此，其為五臟之一則同，然猶有經可據也。至於腎之稱相，並無所出，尤不可也。且五臟既皆有火，除心為君外，於分皆為相，何得專以相之稱屬腎乎？　況心腎既皆有液，則皆為水，何以無君水相水之稱乎？可見《六元正紀》之說，斷斷不可移之人身者也。此等混蒙話頭，不可不辟，不辟則道之真者不見。相沿既久，至有以欲火當相火者。噫！醫道之難言也。昔徐靈胎曾著《君火相火論》，專論腎火之不合稱相，而其義猶未盡當。又移《六元正紀》之說於人身者，宋成聊攝已不免有之，然其是非正不難辨。若云天之二火，可移以論人，則必手臂內側後廉及心臟皆專有溫氣，手臂外側及三焦皆專有熱氣而可；推之余四氣，將謂足經外側後廉及膀胱皆專有寒氣乎？足經外側前廉皆專有燥氣乎？其不可也明甚。而承訛襲謬，日以加劇，蓋由《內經》之學，淺嘗者多，深思者少耳！</p>
<h3>龍雷之火辨</h3>
<p>余素不信「龍雷之火補陽則消」之說，後閱葉桂《景岳全書發揮‧本草正》，乃知有先我言之者矣。其言曰：今醫家每言龍雷之火，得太陽一照，火自消靡。此言甚是悖理。龍雷之起，正當天令炎熱，赤日酷烈之時，未見天寒地凍，陰晦凜冽，而龍雷作者。則知仍因陽亢，而非熱藥所能治也。若用熱藥，乃戴陽、格陽，陰極似陽之症。此處尚要講究明白。按葉說甚當。考龍火得水而燔，遇濕而焰之說，本始於王太仆《素問‧至真要大論》注，不過借以形大熱之氣，不可以寒折之，折之以寒，而熱愈不得泄，勢必鑠盡氣血而死。注中所以有物究方止之喻也。至真要篇前列六氣，後列治法，則此注當指感症言。如傷寒在表，身熱如灼，反宜桂枝之熱，不宜石膏之寒，故經文此下有反治云云。義止如此，無俟深求。今因葉說，推原及之葉書，系道光時，其五世孫所刊者。此言在第四卷中。</p>
<h3>甘草粉蜜湯方白粉辨</h3>
<p>白粉，說者謂即鉛白粉。泉謂經處此方於已服毒藥後，是因毒藥不效而改治。若鉛白粉，仍系毒藥，何庸以毒繼毒乎？蓋此方與傷寒少陰豬膚湯方，皆粉蜜同用。成注白粉益氣斷利，明是米粉。以彼例此，義可知已。考《外台》治一切藥毒方：甘草三兩炙，以水五升，煮取二升，內粉一合，更煎三兩沸，內蜜半兩，分服以定止。《千金翼》治藥毒不止，解煩悶方：甘草二兩炙，白梁粉一升，蜜四兩，煎服法與《外台》同。泉據此經為說，粉為米粉無疑。且經云毒藥不止者，謂藥毒傷其胃氣，故蛔動不止。若作毒藥殺蟲解，則豈甘草粉蜜之甘和，功反過於毒藥，而毒藥所不能殺者，殺之以平藥乎？必無此理。仲景書文義簡奧，有當即症求方者，有當即方求症者。余作此篇，即方求症也。</p>
<h3>《金匱》水莨菪辨</h3>
<p>水莨菪，不見於他書。《本草經》有莨菪，云苦寒無毒，通神見鬼，多食令人狂走，與此經大同，其言無毒則反。《綱目》直引此經於莨菪下，意謂水莨菪即莨菪也。但莨菪非菜類，又希用，仲景緣何慮其誤食？李氏必誤。考《百一方》云：菜中有水莨，葉圓而光，生水旁，有毒，蟹多食之，人誤食之，狂亂如中風狀，或吐血，以甘草汁解之。其論全據此經，而云水莨是。經文「莨」讀如艮卦之艮，「菪」字衍也。水茛似水堇，堇為菜屬，故云菜中有水茛，以其似堇，故著誤食之戒，《百一》所據當不誤。且經於上節言鉤吻似芹，誤食殺人。說者謂鉤物似毛茛，此節光茛，正與上反，皆為食芹者辨其似。下節言蛟龍病，又為食芹者潔其治。數節皆特明芹之禁忌，則非茛菪明矣。此種亟當削正而自明已，然無人議及於此，嘆讀書之難。</p>
<h3>常蜀截瘧辨</h3>
<p>古治中暑用腦、麝，而治瘧用常、蜀、法異意同，何以言之？無形之暑氣痹著膈間，蒸痰結固，既非表寒可汗，又非裡實可下，必須氣烈開提之藥，直達病所，追逐其痰，斯無形者失所恃而去。瘧須常、蜀，猶暑須腦、麝也，但淺深之別，各有宜耳！今治中暑，尚知遵古，獨於常、蜀，僉謂其截瘧釀變。然余目驗蘇州、吳江、震澤等處，其俗呼常山為甜茶，遇瘧發輒采鮮者一大把煎服，皆輕者止、重者減，未聞有止後變生者。余踵用其法亦然。夫截之為言，堵塞也。藥之能堵截病由者，必其性澀壅，足以遏住經絡，斯留邪而釀變，非常、蜀開提之性所及也。為斯說者，盍觀《外台》、《聖濟》各集漢魏以來千余年諸治瘧名方幾千首，而用常、蜀者十之八九。</p>
<h3>癟螺痧辨</h3>
<p>光緒紀元之十一年夏秋，有疫盛行於大江之南，其症惡寒、四逆、頭疼、體酸、短氣、汗出，或吐瀉，湖中死者日數十人。人以其指頭之肌之陷也，謂之曰癟螺痧；又以其半日輒死也，亦曰六時痧、曰子午痧。嗣後間數歲或一歲輒復行，至今十年未已。客有問余者曰：何氣使然也？古人亦言之否？笑應之曰：天止六淫，人止五志，病雖百變，不出兩端，自仲景著論而後，至於唐宋而降，治法備矣。循途守轍，弗之有誤，醫者之能事畢矣，然而人以為數見不鮮也。其黠者因摘古人之所略，矜言創獲，以新一時之耳目。故於熱病必稱白　，曰此古書所無也；於喉風必稱白喉，曰此古書所無也。如此方可動人聽聞，把持由我，而其術易行。嗚呼！巧則巧矣，抑思其所用方，果能外古人治熱病與喉症之方乎？吾知其名可改，其法不可改也。今癟螺痧即暑月之中寒耳！其吐瀉者即霍亂耳！其正名自在古人論中，所傳治癟螺痧十余味一方及雷公散，皆古人治霍亂及暑月中寒之常法，何奇之有？吾子徒受人愚耳！每見虛弱人手浸冷水久，或猝遇大冰雪，皆令螺癟，何獨為痧異？其痧而死也，死於汗，死於瀉，非死於癟螺。不死於癟螺，即不言癟螺也可。</p>
<h3>駁元陰</h3>
<p>近徐靈胎砭趙養葵之改太極也，曰人身有元陽無元陰，大哉言矣！人身如天地，元陽猶</p>
<p>《易》之太極；元陽動而為陽，靜而為陰，猶兩儀也。惟元陽動而為陽之陽，方可以陰字對之；若元陽則無可與匹者，安得有元陰？夫元陽所息曰陽，所消曰陰。陽者揚也，言元陽所發揚也；陰者隱也，言元陽所隱藏也。不觀之十二辟卦乎？息則為陽爻，消則為陰爻。陽爻作一象，元陽之實之也；陰爻作一象，元陽不在而位虛也。貴陽賤陰，職是之故。故謂人身有陰則可，謂人身有元陰則不可。至於治病，亦一以元陽為主，元陽虛則培之，亢則抑之。明乎此義，而陰陽二字始得其解。吾於國朝諸醫，不能不推尊洄溪一老。</p>
<h3>駁吳喻二家說溫疫之非</h3>
<p>泉昔著《溫疫說》，以證其自時氣來，復慨吳又可、喻嘉言之惑人也，而為此駁。吳、喻之言曰：溫疫感受，異於傷寒，異於溫熱，又異於非時寒疫，是天地間另有一種戾氣為之。夫謂溫疫異於傷寒、溫熱，與傷寒例合可；謂溫疫異於非時寒疫，與例不合，而合猶可（例文以溫疫即寒疫之變；）至謂另有一種厲氣，則例無此文，不可。天地間止有六氣，其濃者即為厲氣，厲氣有毒，毒者濃也。此外果有另一種氣，可與並列為七，何以軒、岐、鵲、景如此神聖，而無一字及之？原大兵荒後所以有疫者，非謂人尸混處之故，以人憂勞倍苦，則正氣倍虛，非時之氣易入，而為病易深耳！要其所感之氣，仍是六氣。天何嘗特設另一種厲氣，以困此身遭兵荒者乎？吳、喻不解例意，妄斥叔和。豈知仲景書賴叔和存，無叔和即無仲景也。</p>
<h3>駁《臨證指南》二條</h3>
<p>葉氏桂《臨證指南》一書，於溫熱、脾胃最精，似可為初學法。然其可議者不少，如溫熱類，以神昏為心包絡病。考古說神昏屬陽明，見於《素》脈解厥逆及《金匱》中風等篇，而《靈》經脈篇釋心包絡經是動所生病，無神昏不知人之說，則葉氏之於經學可知也。脾胃類，則云陽明陽土，得陰始安；太陰陰土，得陽始運。夫以陰療陽、以陽療陰，似也。但胃若虛，自宜以陽藥培之，仲景於傷寒下後諸治皆用乾薑，義可見也；脾若虛，自宜以陰藥培之，仲景於亡津諸治皆用人參，義可見也。自難執一而論。此二條皆徐靈胎所未及駁者，而誤人也亦不淺。</p>
<h3>十三科考</h3>
<p>十三科有兩說：大方家說寒一、內二、喉三、目四、瘍五、傷六、金鏃七、女八、兒九、痘疹十、針灸十一、祝由十二、符禁十三。明王肯堂《證治準繩》、近王晉三《古方選注》皆如此。祝由家說並符禁於祝由，另立風科以足其數。考祝由無不用符禁者，符禁安得別為一科？中風之病千頭萬緒，自應另立，不可與內科混。且內科者，主飲食、起居、房室、情志之病，而中風之邪自外致，不自內生，不得屬之內科。《史‧扁鵲傳》扁鵲至洛陽，貴小兒，即為小兒醫；至邯鄲，貴婦，即為帶下醫；至周，貴老人，即為耳目痹醫。夫耳目痹醫，即風科也。則風科之自為一科也，由來舊矣。</p>
<h3>《金匱》馬刀考</h3>
<p>注家皆謂馬刀為瘡，形長如馬刀蛤。然經文與俠纓對舉，俠纓以部位名，而馬刀以形似名，儷語不類。馬刀當亦部位之名，與俠纓相近。大約是頸側　肉，在耳之下，而略近於後，下當肩井之上，揣之曲肖馬刀者。頸側　肉之名馬刀，猶掌側白肉之名魚乎！取於物為假，亦古命名之例。夫生於俠纓之處曰俠纓，則生於馬刀之處曰馬刀。經之對舉，義當如此。《千金》九　篇以馬刀　、馬刀肩腫二症，與掖下腫、吻傷、四肢不舉、喉痹、天牖中腫等，作一例文法。掖下、吻、肢等既是部位，則馬刀可推。其尤著者，「馬刀肩腫」四字，謂馬刀與肩俱腫也。以《千金》證《金匱》，決然已。若瘡形之長者，則與圓者何別，而必提出言之？且俠纓之瘡未必無長，頸掖之瘡未必盡長，又何以別之？詳經意不問長否，苟生於頸側　肉間，總謂之馬刀而已矣。</p>
<p>此篇專明《金匱》之馬刀，若執是以概近世方書則否。愿用近世書者，勿引《金匱》也。自記。</p>
<h3>命門考</h3>
<p>《難經》左為腎，右為命門。命門者，精神之所舍，原氣之所系也，男子以藏精，女子以系胞。案《銅人》任脈有石門穴，一名精路，一名命門，一名丹田，在臍下二寸，三焦募也。</p>
<p>其旁有足少陰四滿二穴，一名髓府，去腹中行一寸，足少陰、衝脈之會，是男子之精藏於臍下二寸也。又關元在臍下三寸，左為胞門，右為子戶，去腹中行二寸五分，為足少陰、衝脈之會。《病源》三十八，胞門、子戶主子精，神氣所出入合於中，黃門、玉門、四邊主持關元，禁閉子精。關元主藏魂魄，婦人之胞，三焦之府，常所從止，是婦人之胞系於臍下三寸也。</p>
<p>以此推之，精宮高於胞宮一寸，非同一穴，且命門在十四椎下，去二穴遠，當是《難經》混稱之故耳！其稱命門者，名同實異也。男子精自石門離宮，至橫骨約四寸而出於玉莖，能射者為有力，不能射者為無力。其與女子交，則莖頭當女子中極之下，龍門之次，其瀉精正當關元，旁當胞門、子戶。故《病源》有胞門、子戶不受男精之論。《千金》云：進火之時，當至陰節間而止。《外台》云：下精時入玉門半寸許為佳。此莖頭當龍門之證。</p>
<h3>胞門龍門玉門考</h3>
<p>《脈經》帶下有三門：已產屬胞門，未產屬龍門，未嫁屬玉門。案已產之帶，由胎育來，其屬胞門易曉；若未產即已嫁，其帶應由房室來，而屬龍門；未嫁之帶，應由邪思來，而屬玉門何故？考胞門在關元旁，去臍三寸，再下一寸為中極，一名玉泉，其下有龍門穴，內當交骨孔中。《千金》云：龍門在玉泉下，女子入陰內外際。《翼》云：龍門是陰中上外際是也。女子傷於丈夫之病，多在龍門。何以言之？《千金》云：進火之時，當至陰節間而止。蓋謂陰內交骨節間也。《外台》云：下精時入玉門半寸許為佳。蓋玉門內半寸許，正當交骨孔間，與男子交時，龍門以屢開而傷，故已嫁之帶屬此。玉門即陰門，在交骨間，無穴。若未嫁，龍門尚未經開，其因邪思而致營熱者，止為病在經絡，玉門亦經絡外候，故未嫁之帶屬此。《脈經》分別絕精。又案《病源》云：胞門、子戶主子精，神氣所出入合於中，黃門、玉門、四邊主持關元，禁閉子精。彼論三門淺深同此，則黃門當即龍門。以穴言稱龍門，以門言稱黃門，各有當也。妊娠為夫所動，則龍門傷，不能持關元，即致胎墮，故《千金》、</p>
<p>《外台》諸書治胎落，有灸龍門者。</p>
<h3>白虎病考</h3>
<p>唐宋人論白虎病，證治不一，猝不易曉。以泉考之，其別有三。一為年神。《病源》卷四十八云：太歲在卯，即白虎在寅。準此推之，知其神所在，小兒有居處觸犯此神者，便能為病，其狀身微熱，有時啼喚，有時身小冷，屈指如數，似風癇，但手足不螈　耳！又《外台》卷十三，蘇孝澄云白虎病，婦人因產犯白虎，丈夫因眠臥犯白虎，其病口噤，手拳，氣不出是也。一為糞神。《證類本草》云：白虎鬼古人言如貓，在糞堆中，亦云是糞神。今時掃糞，莫置門下，令人病此。陳藏器云治法，以雞子揩病者痛處，咒愿送著糞堆頭上，勿反顧，不過三次瘥。白虎是糞神，愛吃雞子也是也。今湖俗名此曰送客人。但古為白虎設，今則沿用而忘所自耳！一為歷節風。以其百節皆痛，晝差夜劇，如虎之嚙，故名。亦見《外台》。近世謂之白虎歷節，治屬風家。白虎病須別此三者，斯知古論有條不紊。</p>
<h3>羊脛骨考</h3>
<p>宋‧朱端章《衛生家寶‧產科備要方》卷七追命散方，治婦人血症，方中有羊脛炭，云即炭中圓細緊實如羊脛骨者，取三四寸，卻作十余段，別以著灰同燒通紅，淬入醇酒中，如此七遍，烘乾為末半兩。案《綱目》炭火、羊脛骨下，皆不載此方。獨《蘇沈良方》小兒吞鐵方，剝新炭皮為末，調粥服，炭屑裹鐵而下云云，與《談野翁方》誤吞銅鐵，以羊脛骨燒灰，煮稀粥食，神效云云正合。而《綱目》卷五十二，采談方乃入羊部，不云即炭。他書亦未有言羊脛骨如朱說者，則訛以傳訛久矣。</p>
<h3>四十難義疏</h3>
<p>四十難：肝主色，心主臭，脾主味，肺主聲，腎主液。其義難明。泉擬為之疏曰：氣之蘊借而征者為色，其發越而透者為臭，其搏擊而出者為聲，其團聚而流者為液。陽氣者升於東，升者陽之始也。尚被陰蒙，不得遽出，蘊借於中，而征中外，則為色。東位肝，故肝主色。</p>
<p>陽氣者極於南，極者陽之泄也。盛陽充滿，發越於上而為臭。南位心，故心主臭。陽氣者衰於西，陽消則陰長，陽不勝陰，反受其爍，則震蕩而不靖，於是乎有聲。西位肺，故肺主聲。陽氣者伏於北，伏者團聚而不散，則釀之蒸之而液生焉。北位腎，故腎主液。陽氣者和於中央，和者陰陽平。陽主氣，陰主質，氣與質合而味生焉。中央位脾，故脾主味。五主之義如此。</p>
<h3>訂正《素問‧通評虛實論》經文並補注</h3>
<p>所謂重實者，言大熱病氣實脈滿，是謂重實。</p>
<p>尺膚候周身之寒熱。今云大熱病，則尺實可知，故下文重虛一段，以尺虛對說。</p>
<p>經絡皆實者，是脈急而尺緩也。</p>
<p>今本「脈急」作「寸脈急」。案注脈急，謂脈口急也，是王本原無「寸」字。脈謂脈口，統三部言。尺謂尺膚。候經在脈口，候絡在尺膚。後人誤以尺緩為切法，因別脈急為寸脈急，而衍「寸」字。若經本有之，注不得截去之。</p>
<p>絡氣不足，經氣有餘者，脈熱而尺寒也，秋冬為逆，春夏為從；經虛絡滿者，尺熱滿脈寒澀也，此春夏死，秋冬生也。</p>
<p>今本脈熱、脈寒澀「脈」下皆有「口」字。蓋涉注中脈口熱、脈口寒而誤衍，今從《脈經》削正。上文脈急而尺緩也，亦無「口」字。</p>
<p>何謂重虛？脈虛、氣虛、尺虛，是謂重虛。</p>
<p>今本脈虛、氣虛作「脈氣上虛」。今從林校正。案重虛即重實之反，則當脈症亦反。脈虛反上脈滿；氣虛反上氣實；尺虛反上大熱病，以尺虛則身無大熱可知也。王注言尺寸俱虛，詳其詞旨，正釋脈虛、尺虛，則王本原不誤。</p>
<p>所謂氣虛者，言無常也。</p>
<p>注：寸虛則脈動無常。「寸」字乃「氣」之誤。氣為脈氣。明經文脈虛之「脈」，專謂寸口，尺虛之「尺」，專謂尺膚，而氣虛之「氣」，則統謂尺寸營運之氣，義深且當。楊上善以膻中不足釋氣虛，終不若王氏之精也。此注與上注尺寸俱虛相印，欲人互推以見義。寫者誤「氣」作「寸」，則難通矣。易一字義了。</p>
<p>尺虛者，行步　然。</p>
<p>行步　然者，寒懍不能自持之狀。蓋尺膚本候周身，尺虛則必身寒，與上文重實之大熱反對。緣經不質言而形容之，故淺人不得耳！今因注略，故補明之。</p>
<p>脈虛者，不象陰也。</p>
<p>注：不象太陰之候也。何以言之？氣口者脈之要會，手太陰之動也。詳王意，讀象為像。《易》云：象也者，像此者也。</p>
<p>寒氣暴上，脈滿而實。實而滑則生，實而逆則死。</p>
<p>實謂氣實也。寒氣暴上，則尺虛可知。上文重實、重虛二端，謂尺、氣、脈三者之各極一偏者，此節謂氣、脈二者，如上重實而尺獨異者。</p>
<p>脈實滿，手足寒，頭熱，春秋則生，冬夏則死。</p>
<p>此節承上脈滿實，而言其有寒有熱者。</p>
<p>其形盡滿者，脈急大堅，尺澀而不應也。如是者，從則生，逆則死。所謂從者，手足溫也。所謂逆者，手足寒也。</p>
<p>此氣實而脈虛、尺虛者。此經明言尺澀，而以從、逆並言，見尺澀亦有手足溫者。可證上文手足寒為氣虛，非尺虛，而脈實滿、頭熱，為脈實、尺實也。</p>
<p>消癉，脈實大，病久不可治；脈懸小堅，病久不可治。</p>
<p>今本脈實大病久下無「不」字。詳注云：久病氣血衰，脈不當實大，故不可治。是王本原有「不」字。巢氏《病源》云：消癉之脈，實牢大者死，細小浮者死。巢說正據此經。而雲實牢大，云細小浮，則經「堅」字當在「大」字上無疑。且經文是帝問消癉虛實，則岐伯當明實脈、虛脈以對之。實堅大是實，懸小正是虛，問答相符。不當反列「堅」字於懸小，致令虛實相亂。浮即懸，牢即堅。</p>
<h3>校正《靈樞‧經脈篇》經文</h3>
<p>起於大指次指之端。</p>
<p>《脈經》此下有「外側」二字。案：經於諸指端，皆不言何側。然以穴求之，則《脈經》亦得。</p>
<p>入肘下廉。</p>
<p>《脈經》「入」上有「上」字，兩通。「下」作「外」。案：陽明行身之前，不應入肘下廉。本經肘　穴，正當肘外廉，不在下廉，當從《脈經》改正。</p>
<p>從缺盆上頸貫頰。</p>
<p>《脈經》「盆」下有「直入」二字。案經於脈之從此伏行者，通謂之入。本經自巨骨至天鼎無穴，明系缺盆上頸之次，是伏行也。若如今本，似缺盆以前浮行而上頸，於經隧穴道不合。</p>
<p>入下齒中。</p>
<p>《脈經》「齒」下有「縫」字。馬注及卷三寒熱篇注引皆同，是明時經文尚不誤。</p>
<p>頸腫。</p>
<p>《脈經》「頸」作「　」。案：《素‧至真要大論》少陰在泉，民病齒痛　腫。新校正引《甲乙經》亦作「　」。蓋目下曰　，本經脈挾鼻孔，正當目下，故有　腫一症。若缺盆上頸之次，脈已伏行，不得復有腫症。</p>
<p>起於鼻之交　中。</p>
<p>《素》五臟生成、平人氣象注兩引皆無「之」字。案：有「之」字則似，「交　」二字，為脈次之名。詳馬注云：起於鼻之兩旁迎香穴，上行而左右相交於　中。則經原不衍。</p>
<p>上入齒中。</p>
<p>《脈經》作「入上齒中」，與手陽明入下齒中相對。案：上齒屬足陽明，下齒屬手陽明，經有明文。若混言齒中，則上下莫辨。且本經自鼻至齒至口，明系下行，何得云上入？起於胃口，下循腹裡。</p>
<p>《脈經》「口」字在「下」字之下。《素‧五臟生成》注引同。馬注亦云：起胃下口，循腹裡，則經本不誤，傳寫倒之。</p>
<p>以下髀關。</p>
<p>王注《素‧五臟生成篇》引無「關」字。</p>
<p>下廉三寸而別，下入中指外間。</p>
<p>《脈經》「廉」作「膝」。「別」下有「以」字。案：本經自中指內間分支至外間，不得云下廉。馬注正作下膝，則經文本不誤。蓋上一支入膝髕中，此支不入髕中，而從膝浮行下三寸而別也。「以」字依此篇通例應有。</p>
<p>善呻數欠。</p>
<p>《脈經》「呻」作「伸」。蓋以善伸數欠為一症也。《禮記》云：君子欠伸。若呻為腎病，不應屬胃。</p>
<p>則惡人與火。</p>
<p>《素》脈解及陽明脈解「則」下皆有「厥」字，義長當補。</p>
<p>心欲動，獨閉戶塞牖而處。</p>
<p>《脈經》「欲」字在「動」下，屬為句，無「塞」字。《素‧陽明脈解》同。蓋古本《靈樞》如是。且《脈解》不釋「心動」二字，是上屬「驚」字為說。</p>
<p>甚。</p>
<p>《素‧脈解》於「病至」作「甚」，「甚」作「病至」，與此互異。釋經文當從脈解改正。</p>
<p>蓋「閉戶牖」以上，為衛氣自虛之症；「上高」以下，為衛氣大實之症。實者病也。如今本則不可通。</p>
<p>口　唇胗。</p>
<p>《脈經》「胗」作「緊」。案口　屬筋病，與脈病不干。「　」當為「　」，謂口生瘡，與唇胗同為瘍症。　本俗書，古無口旁，此經原文必作　，蓋即　之省　，淺人誤認之耳！緊即瘕之假，謂唇瘡胗緊，兩通。詳余所撰《證原》中。</p>
<p>大腹水腫。</p>
<p>案此經皆論症狀，不及病因，何獨於此言水腫也？《素‧脈解》云：所謂客孫絡，則頭痛、鼻鼽、腹腫者，陽明並於上，上者則其孫絡太陰也，故頭痛、鼻鼽、腹腫也。彼文是釋大腹腫，而無「水」字，亦可見此經衍也。寫者以水氣門中有大腹水腫之名，因致舉燭之誤。</p>
<p>得後與氣，則快然如衰。</p>
<p>《脈經》作「得酸與熱，則快然而食」。泉案：「後」與「酸」偏旁相似；「氣」或作「」，與「熱」相似；「衰」與「食」下截相似。故致抵牾。</p>
<p>心下急痛。</p>
<p>《脈經》此下有「寒瘧」二字，疑衍。</p>
<p>不能臥。</p>
<p>《脈經》作「好臥不能食肉唇青」八字。案：胃病則不能臥，脾病則好臥。以此論之，</p>
<p>《脈經》是也。余義未詳。</p>
<p>股膝內腫。</p>
<p>《脈經》「腫」作「痛」，義長。案：腫，衛病；痛，榮病。所生病下，不應錯出衛病之症，當從《脈經》改正。</p>
<p>出肘內側兩筋之間。</p>
<p>《脈經》「筋」作「骨」。</p>
<p>入缺盆。</p>
<p>《脈經》此下有「向腋」二字，義匝。</p>
<p>頰腫頸頷肩　肘臂外後廉痛。</p>
<p>《脈經》「頰腫頸頷」四字作「　頷腫頸」。案：《脈經》之文，合於脈道行次，當補「」字，改「頷」字。</p>
<p>下挾脊貫臀。</p>
<p>《脈經》作「下會於後陰，下貫臀」。案：本經所生病中有痔，痔為後陰病，經有生於後之陰症，必有會於後陰之脈。本篇云：足太陽之正，其一道下尻五寸，別入於肛。與《脈經》文合。此經不應脫去，此脈當從《脈經》改正。</p>
<p>頭囟項痛。</p>
<p>《脈經》「囟」作「腦」，「項」作「頂」。案：以本經從巔入絡腦論之，《脈經》義長。如馬本則項痛一症，與下復，非也。</p>
<p>氣不足則善恐。</p>
<p>《素‧脈解》作「少氣善怒」，是氣不足，與善恐當平列，「則」字衍也。自飢不欲食以下至此，皆為氣不足所生，何獨一善恐也？當從脈解削正。</p>
<p>是為骨厥。</p>
<p>《脈經》「骨」作「腎」。</p>
<p>循胸中。</p>
<p>《脈經》無「中」字。案本篇通例，凡言循者，皆系浮行之脈。若胸中則為脈道伏行之次，當注云若入，不當云循也。經無「中」字，顯然。馬注亦無「中」字。</p>
<p>布膻中。</p>
<p>《脈經》「布」作「交」。案：馬注亦作「交」。則經本不誤，否則上言布，下言散，豈不義復。</p>
<p>以屈下頰至　。</p>
<p>《脈經》「頰」作「額」。案本經從耳上角而下，自額至　，其勢順；自頰至　，其勢逆。</p>
<p>且經果有此回繞之脈，亦當云以屈下頰，復上　，不得如是立文也。急當從《脈經》改正。</p>
<p>下大迎，合手少陽，抵於　。</p>
<p>《脈經》引此有二文：一作「上迎手少陽於巔」，一本與此同，但無「抵」字。案馬注亦無「抵」字，則經本不衍，當削正。至「上迎手少陽於巔」，揆之穴道甚合。蓋在陽白、眼隼、目窗、正營、承靈、腦空之次，於馬本較備，必當從《脈經》改正。</p>
<p>入小指次指之間。</p>
<p>《脈經》「間」作「端」，義長。蓋小指次指即無名指，非是兩指，不當云「間」。</p>
<p>還貫爪甲，出三毛。</p>
<p>《脈經》「貫」下有「入」字。案「三毛」無義，依足厥陰經經文，當為叢毛。</p>
<p>頷痛。</p>
<p>《脈經》作「角額痛」。袁校本作「頭角痛，額痛」。案：本經自頰車下頸，不及頷，不當有頷痛一症。其支脈自目兌　上迎手少陽於巔，必過額無疑，應有額痛一症，《脈經》義長。至「頭角痛」三字，即上「頭痛」二字之異文，但三陽惟太陽居頭之正，得專稱頭痛，少陽止經頭角，自當云頭角痛，不當混言頭痛也。</p>
<p>循股陰入毛中。</p>
<p>《脈經》「陰」字在「入」字下。案本篇之例，或曰前廉、後廉，或曰內側、外側，內廉、外廉，從無以陰陽立名者。依例當云：循股內廉」，以上文已云「上　內廉」，故省其文曰「循股」。當從《脈經》更正。</p>
<p>則津液去皮節，津液去皮節者則爪枯、毛折，毛折者則毛先死。</p>
<p>《難經》「則津液去」句，「皮節津液去皮節者」八字，作「津液去則皮節傷，皮節傷者」</p>
<p>十一字。《脈經》同。「爪」字《難經》作「皮」。《脈經》與經同。「毛先死」《難經》與經同，《脈經》作「氣先死」。案：「津液去皮節」無義，《難經》為長。若爪則足厥陰之候，非手太陰之候，不當列此。即《難經》「皮」字，亦與上「皮傷」義復。以經文單承「毛折」二字推之，「爪枯」二字當為衍文。「毛先死」與「毛折」義復。以下四段經文例之，則作「氣先死」為的，且與上「氣不榮則皮毛焦」允協。又案：上文已云「皮毛焦」，此文復云「皮節傷」，何於皮獨詳也？古人恐無此重復文法。「皮節」當為「肢節」</p>
<p>之誤。「肢」古或作「支」，與「皮」形似，故誤。</p>
<p>則脈不通，脈不通則血不流，血不流則髦色不澤，故其面黑如漆柴者。</p>
<p>《脈經》「則脈不通」四字下有「少陰者心脈也，心者脈之合也」十二字。</p>
<p>《難經》與經同。《難經》「髦色不澤」作「色澤去」，無「髦」字。案：以上下四節經文例之，則十二字當有。此十二字，是釋經文以脈不通，候少陰氣絕之故，無者傳寫脫之耳！「髦」字衍。《素‧六節臟象論》云：「心，其華在面，其充在血脈」，是候心者當在面與脈。色不澤謂面色黑，與「故」字緊接，下若有「髦」字，則謂髦發之枯，非謂面色之黑矣。故其以下八字，接得上否？且髦為手太陰之候，何得列此？則脈不榮肌肉唇舌者。</p>
<p>《難經》、《脈經》並作「則脈不榮其，口唇者」，義長。如馬本則上下皆不圓，且舌為足厥陰之候，非足太陰之候，自是「口」字之誤。</p>
<p>則舌萎。</p>
<p>《難經》、《脈經》並無「舌萎」二字。案：當從彼削正，義見前。</p>
<p>故骨不濡，則肉不能著也。</p>
<p>《脈經》「著」下有「骨」字。案：《難經》云「肉不著骨」，是。經文固有「骨」字。</p>
<p>則筋絕。</p>
<p>《脈經》「絕」作「縮」，義長。</p>
<p>聚於陰氣，而脈絡於舌本也。</p>
<p>《難經》、《脈經》「氣」並作「器」。王注《素‧診要經終論》引亦同。《難經》無「脈」字，義長。</p>
<p>則筋急，筋急則引舌與卵，故唇青。</p>
<p>《脈經》「急」上並有「縮」字，《難經》同，義長。《難經》無「唇青」二字。案：唇為足太陰之候，非足厥陰之候，雖青色屬厥陰，而此篇通例，皆紀經不紀色，其為衍文無疑。</p>
<p>起於腕上分間，並太陰之經。</p>
<p>《脈經》「腕上」作「腋下」。「間」字下有「別走陽明，其支者」七字。案：列缺穴在腕間寸半，不在腋下，疑《脈經》誤。意者其正絡出腋下，其支絡之直入掌中，散入於魚際者，乃為列缺歟！然魚際與列缺位不相當，闕疑可也。（案：以他絡例之，別走太陰，當從《脈經》次於此。）</p>
<p>取之去腕半寸，別走陽明也。</p>
<p>《脈經》「半寸」作「一寸半」，無「別走陽明也」五字。案考古針灸家說，列缺穴在腕間寸半，於此知經文誤倒也，當從《脈經》改正。《脈經》「別走陽明」在「腕上分間」下，故於此無之。</p>
<p>虛則為頭強。</p>
<p>《脈經》「頭強」作「煩心」。案：手心主脈並無至頭者，不得有頭強一症。且頭強是項筋所生，當屬足太陽，列此非也。若「煩心」，則於經「絡心系」三字允協，當從《脈經》改正去內踝五寸。</p>
<p>《脈經》「踝」下有「上」字。案：據馬注，則經文本有「上」字，今本傳寫脫之耳！實則挺長。</p>
<p>《脈經》「長」下有「熱」字，義長。</p>
<h3>讀《經脈篇》書後</h3>
<p>此篇書例：以經所從始曰「起」，以連本經之臟腑者曰「屬」，以本經縈相表裡之臟腑者曰「絡」，由此適彼曰「循」，自下而上曰「上」，自上而下曰「下」，過乎他經曰「行」，過乎肢節之旁曰「過」，穿乎其中曰「貫」，並乎兩旁曰「挾」，彼此相互曰「交」，巡繞四邊曰「環」，直達其所曰「抵」，自外至裡曰「入」，本隱忽見曰「出」，直行曰「直」，平行曰「橫」，半橫曰「斜」，兩支相並曰「合」，一支而歧曰「別」，疾行往聚曰「趣」</p>
<p>，去此復回曰「還」。</p>
<p>《內經》中句斟字酌，無過此篇，仿佛《禹貢》山脈水道書例。惜乎馬元台輩，未能一一注明也。且此篇與《經筋》、《衛氣》、《營氣》及《素問》所載陰陽大論諸篇，皆古之奇文，當熟讀而精通之。而此篇敘營衛各病之原尤切要。故既校其文，復書其書例於後。</p>
<h3>讀仲景書書後</h3>
<p>讀仲景書，而窮源於《靈樞》、《素問》，人知之；讀仲景書，當竟委於《千金》、《外台》，人不知。蓋《千金》、《外台》之視若僻書也久矣。抑思仲景之書，其文簡，其義隱，其症略，其方約，其藥省；除傷寒桂枝、麻黃、柴胡、四逆等湯症反復辨論外，大抵為後學發凡起例，未暇致詳，墨守其書無益也。惟《千金》、《外台》兩書，根柢仲景而推衍之，集九代之精華，成千秋之鉅制，元關秘　，發泄無遺。若能從此上溯，而於其參互合並、厘析移易、變通脫化之處，以意逆志，斯仲景之症類賅、方用神、藥例見，久之可以窺其堂奧矣。況有逸論逸方，足補王、林（王，王洙；林，林億，俱北宋人）之本缺；古說古義，堪砭成、趙，（成，成無己，宋人；趙，趙良，元人之傳訛。學人舍是，其何以問南陽之津哉？）夫儒家文宗韓、柳，詩宗李、杜，經義宗陸、孔，書法宗歐、柳，皆唐法也，則唐人之守先傳後可知也。惟醫亦然。</p>
<h3>《傷寒論》跋</h3>
<p>仲景書之以傷寒名也，仲景自題之；仲景書之為傷寒作也，仲景自序之。而議者必曰此兼論溫熱也。何以其書於大書中風、傷寒、風溫三條外，但屢言中風若何，傷寒若何，不更言溫病若何，熱病若何耶？是明明為傷寒盡其變，而特以風溫備其例，如泉前篇所云也。議者又執書中有治熱方以為難。夫驟而觀之，寒藥誠若與寒病乖，第思寒之直中於裡，可暖之以辛、附；寒之甫受於表，可宣之以麻、桂。若寒已入裡化熱，而後既格於辛、附之暖，又礙於麻、桂之宣，則舍膏、知、芩、連，將何所用？此時之不得不與溫熱同治者勢也，而所治之病仍從傷寒來，不自溫熱來。夫傷寒與溫熱之始異終同，譬如風、寒本異，自一過少陽，則概從柴胡論治，更無區別。倘於斯時指之曰風本與寒同一法也，其為講傷寒者所許乎？故謂仲景方可治溫熱則是，謂仲景書兼論溫熱則非。夫兩間藥物，止有此數，傷寒已成裡熱，固宜涼平，溫病苟挾表寒，亦資溫散，圓機活相，非可以口舌論也。</p>
<h3>《傷寒論》例跋</h3>
<p>仲景列四溫脈法外，於冬溫則僅舉其氣，濕溫則並無其目者，以仲景書以傷寒名，必溫之兼寒者，始論及之。若冬溫則但溫無寒，濕溫則兼濕而非寒，例不得入此書，故不論及。其濕篇之濕，雖自濕來，要與濕溫全不相似。濕溫脈證，自在《難經》、《脈經》中，不可混指也。且仲景於濕已明云與傷寒相似，故此及之。相似者，謂其體痛也。其篇首又云宜應別論，以明其體例之不雜，可謂嚴矣，安得以濕當濕溫，強配《難經》傷寒有五之言乎？又論文於四溫前云，冬溫復有先後，更相重沓，亦有輕重，為治不同，證如後章；而於四溫後云，以此冬傷於寒，變為溫病，病之傳變、方治如說。兩文驟若　牾，必如余說方合。蓋冬溫所以受而不發者，亦以其有正氣之寒束之故也。《靈》、《素》止有冬傷於寒之溫，而無冬中於溫之溫，正以後束之寒，統於專受之寒，詞雖融渾，而義特引申。學人必知此，而後仲景此文及《病源》、《千金》、《外台》諸言春溫者，始一一了然矣。</p>
<h3>《傷寒論》濕篇跋</h3>
<p>仲景以風、濕、寒、暑四氣為感症之大數，既自以《傷寒》著其論，以名其書，而不辨夫風、濕、暑之為病若何，即無以明己之獨為傷寒設，於是又出類傷寒之論。首列　、次濕，次，若恪循風、濕、暑之序，而匯為一篇。其所謂　者，即風家之專病也。《千金》云：太陽中風，重感寒濕，則為　。於此知　病雖有自傷寒變來者，要自有其正主。推之濕、　，義亦復然。所謂與傷寒相似者，謂其形證之似，非謂其感受之似也。其形證之似，則　之惡寒，濕之體痛，　之惡寒發熱是也。此篇之旨，與平霍亂、平嘔噦等篇不同。彼數篇所列之病，雖亦各有正主，第正主之初起，絕不似乎傷寒。且凡風、濕、寒、暑四氣所致皆得有之，故但擇其關於寒者為論，以盡寒病之發，不必皆始於惡寒發熱也。其始於惡寒發熱，若　、濕、　三者，反不自傷寒來，則各列正病區而別之，曰太陽所致　、濕、　三者，宜應別論。</p>
<p>夫曰「應別」，則《傷寒論》之專為寒，因可知已。向嘗謂仲景為寒因盡其變者以此。</p>
<h3>《傷寒論》太陽篇跋</h3>
<p>《傷寒論》太陽篇，大書寒因三條。先中風者，是於有寒有熱之邪據其一端言；次傷寒者，以寒之正言；終溫者，則以熱而兼寒之病，就其所兼言。寒因必列此三者而始備。溫與風溫雖殊，其為不即發而名溫則不殊，故合為一條，而統冠之以太陽病。太陽病則頭項強痛矣，以其因寒乃發，故有此證。其文法先言溫而後以風溫隸焉，何等謹嚴！夫熱而兼寒，自當以溫為主，不以所兼為主，故但列脈症於此，以後更不言溫病若何，風溫若何，如中風、傷寒之必屢屢言之也。義例自分軒輊，不得執是而謂其兼論溫熱也。若中濕之體痛，中熱之惡寒，則皆以其形似傷寒，而因於濕、因於熱皆非寒也，與大書之三條懸絕，故另出辨之，不與中風、傷寒、溫病同篇。觀其分合，可知其指矣。或據《難經》傷寒有五之文，派入此書，遂以濕溫當中濕，而罔顧陽濡而弱、陰小而急之脈，與沉而細者不合；以熱病當中熱，而不顧陰陽俱浮，浮之而滑、沉之散澀之脈，與若微弱、若弦細、若遲者不合。豈知《難經》是約舉其類，配合成論，視專為寒因盡其變者，其精粗不可同日語乎！</p>
<h3>讀《金匱》書後</h3>
<p>仲景著《傷寒雜病論》十六卷，以明傷寒初起及傷寒雜出之病。後人寶藏之，改題曰《金匱玉函方》。是以《外台》引之，概稱張仲景《傷寒論》，（於原書摘稱二字者，猶《肘後備急》單稱《肘後》，亦引證家之一例，）《證類本草》引之，概稱《金匱玉函方》，一從其初，一從其後也。當時以十六卷文繁而有刪本二：其一，就原書逐篇刪存要略，並為三卷，題曰《金匱玉函要略方》，後為仁宗時王洙所得；其一，就原書刪雜病以下等卷，存脈法、六經及治法、諸可不可等十卷，題曰《傷寒論》，而削「雜病」二字，即今本《傷寒論》也。此書行而刪余之卷亡，十六卷原書不可得見矣。故林序云：張仲景為《傷寒論》合十六卷，今世但傳《傷寒論》十卷，《雜病》未見其書也。林氏又以《傷寒論》十卷，校《金匱玉函要略方》，知其上卷傷寒文多節略，至中、下卷雜病及方療婦人，無本可校，雖有節略，不能的知。（以《脈經》卷七、八、九校之，知其是節略。）斷去上卷，分中、下二卷為三卷，改題曰《金匱方論》，即今本《金匱要略》也。自是以來，不可復合矣。吁！唐宋人於仲景書任意分並，其不絕僅如線耳。近又移第其文，以就己意，考古者宜何如珍惜也！</p>
