<header data-type="book">
<h1>麻疹備要方論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳硯丞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1853">公元1853年</data></dd></div>
</dl>
</header>
<h2>吳序</h2>
<p>夫天有非時之氣，人即有非時之疾。稟賦強濃者，尚得以元氣勝之，惟麻痘兩症，盡人不免，每多發於嬰兒，則為寰區通病。考先哲傳書，詳於論痘而略於論麻，蓋以麻出六腑，與痘出五臟者不同，治得其法，可以片言居要，後學不明此意，輒謂治痘難，治麻易，淺試輕嘗，多至草菅人命，良可悲也。壬子歲，自春延及夏秋，凡大村小落，小兒枉折者，不知凡幾。雖曰氣數使然，亦半由司命者未得其竅要也。硯丞匯有《麻疹備要》，皆采古人精言良法，可與明理者證活幼之心源。頃因家君代刻《神灸經綸》一書，請付梓其後，爰志數言於簡端。</p>
<p><u>時咸豐三年歲次癸丑仲夏月雙溪吳與九書於聊且粗略之居</u></p>
<h2>原始論</h2>
<p>疹之為病也，本乎胎毒，感時行　戾之氣而發，亦與痘同。但痘出五臟屬陰，陰主血，故有形有漿，其症有寒有熱有虛實。疹出於六腑屬陽，陽主氣，故有形無漿，其症多實，有熱而無寒。症既不同，治法亦異。世咸知痘疹所系於人者甚重，而不知疹之系人生死者為尤重。蓋人當有生之初，受天地之氣以成形，干為天陽也，故稱乎父，坤為地陰也，故稱乎母。陰陽二氣交感，而相火即寓乎其中，所以陰中之火，伏於人之身，發而為痘，陽中之火，伏於人之身，發而為疹。當其未發，無形可擬，無跡可尋，如石中之火，必擊而後動。及其動也，因人之稟質為輕重，輕者可不治而愈，重者非善治不愈，所謂先天而天不違者此也。又必因天行之時氣為緩急，緩者外邪之來不暴疾，可輕散，可清解，隨表達而不遺；重者外邪之氣多暴疾，正氣先被其侵伐，內毒蘊結而不出，急當專力以治其標，使蘊結者乘勢而外達，所謂後天而奉天時者此也。苟能悉先天之體，明後天之用，則周旋折旋，無所往而不得其中矣。</p>
<h2>疹脈</h2>
<p>凡候疹脈，自初熱見形，以及收沒，但看右手一指脈洪大有力，雖有雜症，亦無大害，蓋右手一指脈，太陰肺脈也。肺主皮毛，脈氣通，自能載毒外出，是以無害。若肺脈沉小無力，大非所宜，疹發於陽經，脈反沉小，是為陽症陰脈。司命者於此處最要留心，不得謂疹症無虛寒，而固執清熱解毒，以敗乃事也。</p>
<h2>辨症</h2>
<p>症者證也，證之於外，以知其內。凡病皆然，不獨疹也。疹出於脾肺二經，初必因外感而發，與傷風傷寒無異，特其症咳嗽噴嚏，面腫腮赤，目胞浮腫，眼淚汪汪，鼻流清涕，呵欠悶頓，乍涼乍熱，手足稍冷，或中指獨冷，睡時驚悸，或惡心嘔噦，或以手掐面目唇鼻，是皆出疹之候。又必發熱五六日，而後見遍身紅點，大者如蘇子，次者如芥子，小者如蠶子，而成粒成片者是也。麻則最細而碎，如蚊跡模糊，斑則無顆粒，惟成片紅紫，如云如錦。又有遍身但紅而絕無斑點者，謂之火丹，數種亦皆疹類，大都正疹則熱至五六日而後出，則成朵成粒，非若斑疹之皮紅成片也。且斑疹之出，則不拘三日四日五日六日，出而又沒，沒而又出，俗謂一日三出，三日九出，只要出透，以遍身紅潤者為美，最嫌黑陷，及面目胸腹稠密，纏鎖咽喉者為逆。發不出而喘者即死。如傷寒發斑，不能透發者亦危。金鑒謂麻為正疹，亦胎元之毒，故凡出疹，必須識各經中現症，如邪氣遏郁於脾，則泄瀉不止，擾亂於心，則煩熱不退而發驚，熏灼於肺，則嘔嗽出血，移熱於肝，則目多眵淚，歸結於腎，則牙齦爛而疳蝕。五臟受病既深，正氣日餒而不振，若非及早圖之，鮮有不敗者矣。更有不治之症，如黑黯焦枯一出即沒者，氣血兩敗也。鼻扇口張者，脾肺氣將絕也。鼻青糞黑者，脾腎垂危也。氣喘心前吸者，心氣已殆也。諺云：走馬看麻痘，極言其變遷甚速，非比尋常內傷外感，可緩治以圖功。</p>
<h2>初熱</h2>
<p>天地六淫之氣感人，多致發熱，但手足稍微冷，惡寒而無汗，面色青慘不舒，左頰有青紋者，傷寒之熱也。手足稍微冷，發熱有汗，面赤而光者，傷風之熱也。目胞腫，右頰有筋，發熱時頭額肚腹更甚，或兼嘔吐腹疼者，傷食之熱也。面色青紅，額正中有紋，手掌心有汗，時作驚惕，手絡微動而發熱者，驚熱也。身熱而倍能食，唇紅頰赤，大小便秘，脅下汗者，火熱也。面色紅黃，發熱多汗，腹痛吐瀉，暑邪濕熱也。凡此症各不同，而熱則一。麻疹之熱，又何以別？大法以面赤耳冷，手中指獨冷，目含淚，鼻清涕，咳嗽噴嚏為別耳。且麻疹發熱見點，近者五六日，遠則七八朝，甚者有十余日，不限定日數也。初起一二日內，不可即行汗解，妄用寒涼，若熱發微和，發一日退一日，可不必服藥。如熱來連日不退，嗽煩無汗，宣毒發表湯主之，或用升麻葛根湯發之。</p>
<h2>疹治合時</h2>
<p>疹由胎毒，亦必因時令之氣而發，先宜表托，使毒盡達於肌表。若過用寒涼，遏伏熱毒，則必不能出透，多致毒瓦斯內攻，喘悶而亡。若已出透，又當清利，以解余熱，免致疹後變生諸症。且疹屬陽，熱重則陰分受傷，血為所耗，故沒後必須養血，以保陰虧發燥，勿執泥於清利也。若病者血氣和平，素無他疾，雖感時氣，而正能勝邪，發熱必然和緩，微微汗出，神清氣爽，二便調勻，見點則透徹，收沒亦不疾不徐，此為輕而易治，故萬氏家法，戒用藥不可太早，恐致耗散元氣，反生害患，必待見點方用，徐徐升發。然飲藥亦有次第，凡一劑分作十余次服，以疹在皮膚之間。若作一次服，則藥性催之太速，每致譫語煩躁，是可為輕視妄藥之良箴也。若素有風寒食滯，表裡交雜，一觸邪陽，火旺之氣，內外合發，而正不能制邪，必大熱無汗，躁煩口渴，神氣不清，便閉尿澀，見點不能透徹，收散或太急速，則為重而難治，急宜臨機審察，果犯何逆，損其有餘，扶其不足，毋稍存游移之見，此又萬氏之法不可拘守也。善治者機圓而法活，用藥必合時宜，如時值溫暖，宜發之以辛涼，用防風解毒湯。時值暄熱，宜治之以辛寒，用黃連解毒湯。若大寒之時，宜以辛溫發之，用桂枝解毒湯，或麻黃湯。當乍寒乍暖之際，宜以辛平發之，用升麻解毒湯，或荊防敗毒散。因時用藥，毋伐天和，又須看人之虛實。如大便閉結，躁煩熱重，疹發不出，屬實症者，將酒蒸大黃微利之。如大小便清利，熱不重，吐利不止，屬虛症者，可加人參、白朮之類補托之。毋實實，毋虛虛，貴得其平，中病則止。如用前藥發散，一劑而疹仍不出，再作一劑，水煎溫服，外擦以芫荽酒，又以苧麻蘸酒戛之，務使肌理疏通，疹盡透發於表，庶無腹脹喘閉之患。若再不出，則為不治之症矣。然亦有不盡然者，當人人束手之時，細心詳察。</p>
<p>一初起發熱，遍身自汗，此毒從汗解，麻疹易出。若自汗過多，又是火盛內迫，致汗妄流，恐有亡陽之變，宜當歸六黃東加浮麥止之。</p>
<p>一發熱鼻血，亦毒從鼻衄解也，不可妄治，倘血出太多，是火盛致血妄行，以茅花湯主之。</p>
<p>一發熱嘔吐者，是邪火內逼，毒瓦斯上行，用竹茹石膏湯，微吐者不必用此。</p>
<p>一初起自利甚者，亦火邪內熾，毒瓦斯奔下大腸，宜升麻澤瀉湯。</p>
<p>一初熱裡急後重，毒甚而滯下也，宜黃芩芍藥湯。</p>
<p>一初熱咳嗽氣急，而出不快者，宜麻黃湯，春夏秋加石膏，冬加桂枝，或用羌活散，或用消毒飲，外以芫荽酒自頭至足遍擦之。</p>
<h2>見形論治</h2>
<p>麻出有陰陽部位多寡之分，自頭而背及四肢向外處為陽部，宜多出起頂，向內處為陰部，宜稀少。若見陽部稀疏而不起頂，縱陰部多出起發是陰陽相反，必有後患，當預防之。又云：自耳後項上腰腿先見，其頂尖而不長，其形小而勻淨者吉也，勿藥有喜。大凡疹子只要出得盡，則毒邪散，正氣自得和平。如拂拂發熱，煩悶不安，如蛇在灰，如蚓在塵，或嘔吐注瀉，皆毒邪壅遏，尚未盡出，急用托裡散表之劑，或用麻黃湯，去杏仁加蟬蛻、升麻，外用胡荽酒之類。</p>
<p>一疹出色白，由於脾胃氣餒，血不充肌，不可專主於清熱，宜助益脾氣，或養營湯，或人參敗毒散主之。</p>
<p>一風寒外閉，欲出不出，熱重無汗，內外有不可解之勢，速用羌活內托散。若見隱影紫色，熱甚氣喘，宜清熱黃芩湯。</p>
<p>一麻出紫黑，晦暗不透，宜黃連解毒湯。若紫紅干燥色晦，是火毒熾盛，宜滋陰涼血湯，或大青湯，或元參湯選用。</p>
<p>一麻出不透，熱極目紅，發痰作喘，此毒未盡出，氣因熱逼，宜用柴連解毒湯。</p>
<p>一麻出熱不退，渴不止，遍身如錦紋者，宜化斑湯，毒甚煩躁不眠，紫滯不紅活者，宜疏風解毒飲。夾痰煩渴者，宜人參白虎湯。</p>
<p>一麻出夾斑，無他雜症，宜小柴胡湯。若蘊毒發斑者，宜黃芩橘皮湯。疹出色黑，熱毒亢極，乃不治之症，姑用加味化斑湯，或涼血解毒湯。</p>
<p>一麻出紫赤，內熱極也，但得形色光潤，顆粒尖聳者可治，速宜清涼解毒，佐以清痰定喘，便得安痊。若枯燥無起色者不治。又有見暖則紅活，不暖則枯燥，是為風寒所折，雖宜涼解，不可太過。如見疹色鮮紅，光澤有艷，頭粒離肉者輕，頭頂平塌不起者重。</p>
<p>一麻出如云一片紅腫，又有細碎紅點，見於紅腫大片之上，此毒火熾盛，宜清解分利。</p>
<p>一疹已透表而粒焦者，無分紅淡，皆屬熱重，急當清解肺胃之熱，分利小便。如大便閉者，佐以涼血潤下之品，甚則投以承氣湯，失治則變紫黑，難以救療。</p>
<p>一暑月出疹，發自陽明，古人治暑，以白虎湯主之。蓋以暑必兼濕，非用甘寒，不足以徹其熱。若疹毒內發，暑濕外侵，煩渴神不安者，宜卻暑丹，佐以化毒。</p>
<p>一咳嗽氣喘，口乾心煩者，乃毒在心肺發未盡也，宜瀉白散。</p>
<p>一咽喉腫痛，不能食者，乃毒火抑郁上熏，宜甘桔東加味，或以千金散少許，用竹管吹入喉中，或玉鎖匙亦可。</p>
<p>一疹出即沒，煩渴躁甚者，宜白虎東加桔梗，連進二三服，若疹出後，熱不退，連綿三四日不收者，此毒火太甚，外發未盡，內有餘邪，宜化斑湯，或消毒飲，加元參、石膏、桔梗。倘遍身既出，而猶煩熱，頻作嘔吐，此毒邪留於肺胃，亦宜化斑湯。如大便閉結者，少加大黃微利之。</p>
<h2>收沒論治</h2>
<p>麻疹收沒，期以三日為常，不疾不徐，自無後患。若未至三日而沒，肌膚暖處，絕無形影，此為太速，必因調攝不謹，或為風寒所襲，或為邪穢所觸，以致毒反內攻，急宜內服荊防解毒湯，外用胡荽酒熏其衣被，使疹透出，方保無虞。有至二三日，疹雖沒而肌膚暖處還有形跡，此毒尚未盡，失治必致內攻，仍當疏托，佐以清涼。若當散不散者，內有虛熱留滯於肌表也，切不可純用寒涼之劑，以柴胡四物湯治之，使血分和暢。余熱悉除，疹即沒矣。若麻點帶白色，隱於肌表，似沒而不沒者，必因風寒外折，而不能透發，亦表虛故也，宜溫散風寒，使白變紅活，免致生變。古云：白疹溫而自消是也。有延至五六日不沒者，此內熱未除，以致不能盡沒，宜清涼佐以利水。若加煩躁，右關脈洪數有力，此胃中伏有濕熱，宜化斑湯。若疹已沒而身猶熱，晝夜不退，此邪火伏郁皮膚之間，久則毛髮焦枯，肌表干燥，肉見消瘦，是為骨蒸癆症，宜蘆薈肥兒丸治之，遲則不救。如疹沒後身雖不見瘦削，但時發壯熱，煩躁不安，搐掣驚悸，神昏志亂者，此陰血虛耗，余毒入肝而傳於心，宜棗麥四物湯主之。</p>
<p>一疹沒綿綿發熱，不知早治，則成疳症，必致腹脹，午後發熱頭痛，宜柴苓四物湯。若口渴少食煩悶，宜小柴胡湯。</p>
<p>一沒後潮熱，宜升麻葛根湯，煩渴用黃連解毒湯，溺赤如米泔汁宜五苓散加車前子、木通。若見便血，宜黃連解毒合犀角地黃湯。鼻血用涼膈散，加梔仁、生地童便。</p>
<p>一沒後日夕煩躁，譫語狂亂，是余熱在肺胃，宜辰砂益元散，燈草煎服下，或辰砂五苓散，水煎服。</p>
<p>一沒後飲食如常，動止如故，卒然心腹絞痛，遍身汗出如水，此元氣虛弱，失於調補，偶為惡氣所中，謂之中惡，危在旦夕。用砂仁末二錢，浮麥煎湯沖服，或伏龍肝泡水溫飲，亦百中救一。</p>
<p>一沒後腹痛兼瀉利，宜連芍湯。若腹脹不食，脾胃受傷，宜柴蘇清肺飲。</p>
<p>一面目浮腫，此飲食內傷，或過食生冷，致陰陽不能升降，膀胱之氣不行。如見小便短少，必致氣喘，宜五苓散，加木通、滑石、腹皮。若見喘促，又宜四苓，加竹瀝、桑皮、葶藶。喘促甚急者不治。</p>
<p>一沒後泄瀉，用黃連解毒合導赤散。若泄瀉不止，口渴目閉，四肢厥冷者難治。加以嘔吐不食，肛門突出，或大孔直如竹筒者不治。如沒後痢疾，是熱積大腸，宜四苓加芩、連、木通、白芍，或香連丸亦可。</p>
<p>一沒後咳嗽，宜涼膈散，加桔梗、地骨皮。嗽不止，宜清肺飲，或四物合二陳，加桔梗、栝蔞、五味。渴加麥冬。喘加桑皮、枳殼、蘇子。嗆嗽或咳出血，此熱毒乘肺，宜麥冬清肺飲。</p>
<p>一胸高如龜，肩聳而喘，血從口鼻出，搖頭擺手，面色時變枯黯者不治。亦有肺氣虛，為毒所遏，而發喘不已者，宜清肺飲，倍人參，不可拘肺熱一端，純用清涼。若聲啞喘咳，身熱不退，肺金受克，宜清金降火湯。又有麻毒內攻，喘促胸突，肚急目閉者，九死一生之症，速用防風消毒飲治之。</p>
<p>一沒後發癰毒，肢節疼痛者，乃熱毒留結，宜羌活散，微汗利之。或遍身生瘡，為麻風瘡，宜大連翹飲。若生瘡發熱不退，宜解表，用疏風散，不治必每歲應時而發。</p>
<p>一沒後眼紅目腫，翳膜遮睛，乃麻毒上攻，久必傷目，宜芎歸飲。</p>
<p>一口舌生瘡腫痛，此心脾有熱，必二便結澀，宜清心脾之火，兼潤大腸，用豬苓澤瀉湯，泄去余毒，其症自愈。若滿口唇舌黃赤白爛，其症最重，速宜清胃涼血，佐以潤腸。</p>
<p>一沒後牙疳，乃心脾二經為毒火所攻，若不早治，漸有穿腮落齒之患，甚至痰喘，救無及矣。又麻後血液傷耗，早食甜物，及感風生蟲侵蝕筋骨，口鼻壞爛，先以米泔溫洗淨，急用勝金散敷之，或搽牙散亦好，仍以消毒飲煎服，合四物東加甘草五味更妙。若爛喉者，以小竹筒裝藥吹之。如山根發紅點者，便不可治。若牙疳肉爛，鼻血橫行，並為失血之症，用四物加山楂、茵陳、木通、犀角治之。如疳及舌苔白色者，則胃已爛，亦不可治。又有麻毒入胃，結而不散，致成牙齦黑爛出血，是為走馬牙疳，久則穿腮破爛，缺唇崩鼻，遂成危症。外用文蛤散吹之，或雄黃散，先以艾煎湯洗淨搽之，再服蘆薈黃連丸，以清胃火。大抵牙疳一症，初見紅腫，俱宜清胃散主之。</p>
<h2>分論麻疹始終雜症</h2>
<h3>發熱</h3>
<p>麻疹非熱不出，然有微熱，有壯熱，有乍熱潮熱復熱之不同。微熱者熱輕而不壯，惟初起為宜。正出之時，熱不可微，微則不能透表，將沒及沒後見此，為疹毒已盡，不須服藥。壯熱者經日不退，正出時是為正候。若初起壯熱，直至已出不少減，其症必重。沒時壯熱不退，尤為不宜，急當用藥清解，熱退神安，方可無慮。然亦有沒後壯熱，口乾唇燥，昏睡沉沉，服清涼解毒之藥，熱退身冷如冰，少時又復大熱，再投以芩、連之類，全無應效。而且面色青慘，喉作雞聲，頭搖目泛，氣喘神昏，此為中氣虛寒，浮陽外越，有不得終日之勢。非大辛大熱之品，不足以沖開寒痰反真陽於內府，速用熟附湯，或加肉桂、胡椒、炮薑之類，接用附子理中湯，合六味丸料，去澤瀉、丹皮，加枸杞子、破故紙，庶使寒消陽復，風熄痰平，再加棗仁、白芍、五味子，以斂其陰，所謂甘溫能除大熱，正此意也。有熱數日止，過數日又熱，或一日間早熱午涼，中熱暮止，均為乍熱，未出時見之，毒邪難透，宜疏散，正出時見之，恐毒攻內，宜疏托。若沒後乍熱，毒邪未盡，當涼解分利。又有一日一度，如潮水之信，來不失期曰潮熱。初時必無此症，出盡及沒後，氣血兩虛，營衛之行，失其常度，故熱應時而作，宜益陰退陽，乃為正治。復熱者熱已退而復發，亦沒後有之，是余毒未盡，治宜涼解總之疹子出透，其熱當減。倘仍大熱者，宜化毒清表湯，疹已收沒而身熱者，宜柴胡清熱飲。</p>
<h3>身冷</h3>
<p>麻疹屬火，身宜溫暖，今反身冷如冰，未出正出時見之，最為逆候。正沒及沒後有此，屬氣血大虧，脾胃將壞，當行溫補，或可得生。</p>
<h3>咳嗽</h3>
<p>疹喜咳嗽，咳多則毛竅開而易出，故先時以嗽為吉，若初熱三日中咳，至四五日仍不見咳，便非疹候，初時咳少，則腠理秘密，而疹不出，當於發散藥中加半夏，以助其咳。</p>
<p>又有乾咳，連咳不斷者，此為火旺，肺金受克，必須清肺降火，佐以升發，初起升麻葛根湯，加前胡、桔梗、蘇梗、杏仁，沒後用清金寧嗽湯。但疹後旬日內，尚宜有嗽，所遺余毒，須假嗽而散，此頓出頓入之勢，切不可見嗽多而治嗽也。</p>
<h3>氣喘</h3>
<p>喘為惡候，麻疹濃為不宜，喘者開口而作，胸肋高疊，起止不定是也。當分虛實施治，虛者小便清利，大便溏瀉，唇白身不甚熱，絕無火證又非外邪，必皆氣脫之候。此非六氣，煎貞元飲，必不可也。實者大便堅結，小便赤澀，熱重不退，初出未透無汗，用麻杏石甘湯，已出用清氣化毒飲，或如神定喘湯亦佳。大抵未出而喘者可治，已出並沒後喘者，多不可救。</p>
<h3>氣促</h3>
<p>氣來急迫，呼吸緊而不和，是屬肺病。蓋肺為五臟華蓋，主氣出入，一經毒火熏灼，失其清肅之權，則氣不清，因致急促，見於未出正出之時，治宜疏托，甚至　聲鳴，速為清痰降火，十中可救二三。若見於正沒，沒後亦宜清火保金。倘見風沒早，毒火內攻，並見　，可不必治。</p>
<h3>嘔吐</h3>
<p>麻疹嘔吐，是胃中毒火，不能發泄，鬱而上攻，須以竹茹石膏湯，和中清熱，其吐自止。若吐清涎白沫，亦胃火內逼，津液上泛，又有吐出如藥者，有吐出成塊者，皆宜降火消痰，用花粉、貝母、甘桔、芩連、杏仁、桑皮、麥冬之類，南星、半夏等燥藥，又不可妄用。</p>
<h3>吐下蛔蟲</h3>
<p>蟲之吐下，見於將出正出之間，因胃中有熱，膈上有痰，蟲不能安，所以吐而下也。</p>
<p>正沒沒後犯此，是熱重不納食，蟲無所養，思食而出，若過十余條，則有蟲厥之變。初熱吐蟲者，是脾胃虧虛，疹必難出，大非所宜。沒後下蟲，乃胃熱未清，熱退自愈。</p>
<h3>煩渴</h3>
<p>凡麻疹煩渴者，乃毒火壅甚也，心為熱擾，神志不得安然，故嘈雜而煩，胃因熱鬱，津液被火爍耗，故口乾而渴。初出用升麻葛根湯，加麥冬、花粉，已出用白虎湯，沒後用竹葉石膏湯。若煩至干燥，渴無已時，則亦難矣。</p>
<h3>譫妄</h3>
<p>譫妄一症，乃真氣昏昧，神識不清所致。夫心藏神而主火，病則熱氣歸焉。麻疹胃中熱甚，上乘於心，心為熱冒，則神明昏亂，而言無倫次，遂成譫妄之語。未出宜三黃石膏湯治之，已出用黃連解毒湯治之。</p>
<h3>發搐</h3>
<p>麻症發搐，不可以急驚風同論。初熱見形之時，熱勢勃勃，周身氣擾動筋絡，遂抽搐，無甚大害，只宜疏散，加以清涼。若沒後壯熱不除，忽作搐者，宜導赤散，加人參、麥冬，送七味安神丸。小便清者可治，短少者難治。如見多痰，或用抱龍丸，或以四物湯，加麥冬、棗仁、淡竹葉、龍膽草、甘草、黃連、茯苓、辰砂、石菖蒲之類。</p>
<h3>飲食</h3>
<p>凡出疹不思飲食，此胃為邪氣所侵，或三四日，或五六日，亦無妨。切不可因其不食，著意治之，只宜清胃火，疹子出盡，自能漸進穀食。若麻後血虛脾弱，不思食者，宜四物湯，加麥芽、神麯治之。如欲飲水者，可少少與之，則毒瓦斯隨之漸解。蓋疹為實熱，自初至末，必皆喜飲涼水，此不必禁。</p>
<h3>目疾</h3>
<p>凡疹初熱未出，眼光如水，此為正候。若眼多眵淚，乃肝脾有火，無分前後，總宜清熱。未出時白珠赤肺有熱也，疹出自解。沒後白珠仍赤，亦肺火未盡，宜清肺瀉火。若沒後不避風寒，以致眼眶紅爛流淚，速宜疏風解毒。若延遲不治，則有終身之患。若沒後余毒入目，翳膜遮睛，或成珠目蟹眼，用孫氏洗肝散。又斑瘡入目生翳障，用通神散。</p>
<p>余毒壞目，用明目方。</p>
<h3>鼻症</h3>
<p>鼻為肺竅，肺氣清則疹易出。若鼻干無涕，臟腑熱極，塞而不通，前後見之，皆為重症，或暫涕暫無，或先無涕，熱退清涕即來。或因熱鼻眵干結，似無涕者，此皆熱毒閉塞，速為清熱解毒，得嚏涕鼻通，毒即解矣。若毒火上衝，肺氣載血上行，則為鼻衄。</p>
<p>然衄中有發散之義，以毒從衄解，不須止，但不可太過，過則血脫而陰亡也。如衄甚者，外用發灰散吹入鼻中，內服犀角地黃湯，其血可止。又有鼻扇者，肺將絕也，一見喘滿痰鳴，便不能治，若咽清不喘，精神如故，治以潤肺清痰，庶危者猶可望其生也。</p>
<h3>口舌牙喉病</h3>
<p>凡麻症口臭，是火毒積於腸胃，若其人平日已然，又不以此論，只清胃降火，口臭自平。若見唇口破裂，知為心脾二經熱毒上衝，初起色紅血活，用清涼加以疏托，尚可解散。如見紫黑枯燥，血已凝滯，遂不易治。</p>
<p>沒後見此，則心脾已敗，必不免於危亡。若唇生瘡，亦屬胃熱，每日用米泔水溫洗十余次，漸次消解。至於舌乃心之苗，舌苔薄熱亦輕，舌苔濃熱亦重，或生瘡蕈，白屑腫痛，皆心火炎灼，懼宜清涼疏利治之。惟黑苔枯燥起刺，火亢而兼水化，則胃敗矣。凡出疹之先，或有胃火，及出疹之後，余毒不散，熱毒積聚於牙齦，若不知早為解毒，多變走馬疳症。又有熱重切牙者，此陽隱於陰，必多渴而手足俱熱，喜飲冷水，宜滋陰降火。如食辛辣助熱之物，必致下血，咽痛痰響而死。蓋熱毒上攻咽喉，輕則腫痛，重則湯水難下，最為可慮。表邪鬱遏疹毒，不能發舒於外，而咽喉腫痛者，元參升麻湯主之。裡熱壅盛，疹已發於外，而咽喉作痛者，涼膈消毒飲主之。若熱毒閉塞肺竅，以致失音，初出用元參升麻湯，已出用加減涼膈散，沒後宜兒茶散主之。</p>
<h3>論汗</h3>
<p>凡出疹最喜有汗，有汗則腠理開通，毒從汗解，但不可太過。如汗太多，用人參白虎湯，或合黃連解毒湯治之。若皮膚干燥無汗，閉而難出，或致內攻，為腹脹氣急等症。</p>
<p>此外為風寒所折，夏秋用輕劑宣發肌表，春冬用重劑升散寒邪。如果屬火熱，閉郁無汗，必唇紅破裂，二便結澀，渾身脹痛，多致喘促，　痰鳴，速用寒涼，清肺降火，俾肌表透達而有汗，疹即隨汗而盡出於外，後可無余毒，不然即成敗症，故麻症始終以微汗為吉。</p>
<h3>腹痛</h3>
<p>麻症腹痛，由於食滯凝結，熱毒不能宣發於外，故有時曲腰啼叫，兩眉頻蹙，須用加味平胃散治之。若不因食積，全是熱毒內結，治宜疏托，使疹子盡出，痛自止矣。沒後見此，又宜清涼解毒，使毒內消，痛亦隨減。</p>
<h3>泄瀉</h3>
<p>麻本火候，大便溏瀉，黃褐色為正。初熱正出時，下利數次，毒瓦斯得泄，但不宜多，久久則脾氣下陷。毒難發越，後恐變痢，初起作瀉者，以升麻葛根湯，加赤苓、豬苓、澤瀉主之。已出作瀉者，以黃連解毒湯主之。若水瀉黃色有沫，小便赤，唇燥口乾，乃毒熱移入腸胃，傳化失常，亦宜清涼利水，俱不可用溫熱之劑。如自利不止，水瀉頻數，最為惡候。若疹子稠密，或紫紅色，則又無妨。蓋以毒在大腸，非瀉不解，宜平胃散加黃連、葛根、連翹以解之。疹子發透，自然瀉止。有沒後仍不止者，此未出盡，再用前藥，倍連翹、黃連，加木通，澤瀉、牛蒡子分利之，切勿治以固澀，致腹脹痞滿，喘急不治。景岳以為瀉利一症，果由疹毒，固不可以溫補，若其人脾氣本弱，或過用寒涼之藥，或誤食生冷，致傷脾胃，而為泄瀉者，雖曰由疹而發，而實非疹毒之病矣。但察其無熱症熱脈，而兼色白氣餒者，便宜溫胃飲、五君子煎、胃關煎之類主之。若執謂疹毒不可溫，則無不危矣。</p>
<h3>痢疾</h3>
<p>麻疹作痢，謂之夾疹痢，因毒熱未解，移於大腸所致。有腹痛欲解，或赤或白，或赤白相兼者，悉用清熱導滯湯主之。若見痢色紫黯，或如癰膿，屋漏水，雞肝色，黑豆汁，氣喘燥渴，發呃不食，皆不可治。若麻出之時，曾作瀉痢，未經清解，至沒後變成休息痢，裡急後重，晝夜無度，此余毒留於大腸，須分虛實用藥。實者三黃丸利之，虛者香連丸和之，再以黃芩湯養血行氣，血和則便膿自愈，氣行則後重自除，正此謂也。</p>
<h3>大小便閉</h3>
<p>麻疹大便閉者，乃火邪留結大腸，結而不解，致毒內攻，故無論前後，即與潤利無妨。小水赤澀者，初起正出時為正候，若見於正沒及沒後，為遺毒不散，宜用導赤散治之。如仍不通，或因大便閉結所致，通其大便，小便自利。</p>
<h3>沉睡</h3>
<p>凡麻疹熱輕，神安氣安，醒睡如常吉也。設當發熱正出之時，昏昏沉睡，必是火邪內郁，未透於表，速宜勝藥宣發，佐以清熱，免致後患。若正沒及沒後見此，又是熱退神清，多睡以養元復元氣，不為害也。倘昏睡不省人事，不知痛癢，或似睡非睡等症，皆在不治。又有一等面腫目閉者，乃脾經火旺，治以瀉黃利水，火退，目閉自開。</p>
<h3>麻疳</h3>
<p>麻後發熱成疳，初時夜間身熱自汗即退，或日晡時面紅神倦嗜臥，微熱得汗稍解，日復如是，宜早為施治，用黃連解毒湯主之。倘延遲失治，或四五十日、或百日、或一二年，形體日瘦，腹膨泄瀉，不可救藥。</p>
<h3>妊娠出疹</h3>
<p>凡婦人懷胎出疹，不可與尋常同論，須以安胎清熱為主，使胎無犯，而麻易沒也，宜四物湯，加條芩、白朮、艾葉、砂仁。如胎氣上衝，急用苧根、艾葉煎湯，磨檳榔少許，服之即安。</p>
<h3>蓋痘疹</h3>
<p>凡小兒出痘方愈，隨即出疹，名蓋痘疹。因痘後余毒未盡，更兼不戒口腹，外感風寒，以致遍身出疹，色赤作癢，如如粟米，漸成雲片，宜加味消毒飲，疏風清熱，疹即愈矣。</p>
<h3>癮疹</h3>
<p>癮疹者，發必多癢，色則紅赤，隱隱於皮膚之間，乃心火灼於肺金，又兼外感風濕，先用加減羌活散，疏風散濕，繼以加味消毒飲，清熱解毒，表裡清而疹自愈。</p>
<h2>禁忌</h2>
<p>凡麻疹初出，切戒風寒生冷，如一犯之，則皮膚閉密，毒瓦斯壅滯，遂變渾身青紫，而毒反內攻，煩躁腹痛，氣喘悶亂，諸症作矣。欲出不出，危亡立至，首宜慎之。至於飲食，尤宜戒忌，雞魚炙　，鹽醋五辛之類，須過七七之後，方宜食之。惟宜食淡，不可縱口，致生他疾。若誤食雞魚，則終身粟起如雞皮之狀，誤食豬肉，則每歲出疹之月，多致下利，誤食鹽醋，必致咳嗽，亦遇出疹時必發，誤食五辛，則不時多生驚熱。此皆出疹之家，不可略意，而遺小兒終身之患也。戒之慎之。</p>
<h2>麻疹備用諸方</h2>
<p><u>宣毒發表湯</u></p>
<p>升麻　葛根　荊芥　防風　薄荷葉　枳殼　桔梗　前胡　連翹　牛蒡子　木通　生甘草　淡竹葉引加芫荽，水煎。外感寒邪，加麻黃，夏月勿用。食滯加南山楂。內熱加黃芩。</p>
<p><u>升麻葛根湯</u></p>
<p>升麻　葛根　赤芍　生甘草引加芫荽。水煎。</p>
<p><u>防風解毒湯</u></p>
<p>荊芥　防風　連翹　枳殼　牛蒡子　桔梗　石膏　知母　木通　生甘草　淡竹葉引加燈心，水煎溫服。</p>
<p><u>加味黃連解毒湯</u></p>
<p>黃芩　黃連　黃柏　元參　山梔仁　桔梗　石膏　荊芥　防風　牛蒡子　知母　木通生甘草水煎服。</p>
<p><u>桂枝解毒湯</u></p>
<p>麻黃　桂枝　赤芍　甘草　荊芥　防風　川芎　羌活　桔梗　人參　牛蒡子生薑引，水煎。</p>
<p><u>升麻解毒湯</u></p>
<p>升麻　葛根　荊芥　防風　柴胡　前胡　甘草　桔梗　羌活　牛蒡子　連翹　赤芍引用竹葉，水煎。</p>
<p><u>荊防敗毒散</u></p>
<p>羌活　荊芥　獨活　防風　茯苓　生甘草　枳殼　柴胡　前胡　川芎　桔梗引用生薑，水煎服。</p>
<p><u>當歸六黃湯</u></p>
<p>當歸　黃連　黃芩　黃柏　黃　山梔仁　生地　熟地引加浮小麥，水煎服。</p>
<p><u>茅花湯</u></p>
<p>生地　丹皮　歸身　甘草　茅花　元參　百草霜水煎服。</p>
<p><u>犀角地黃湯</u></p>
<p>犀角　丹皮　生地　白芍水煎服。</p>
<p><u>竹茹石膏湯</u></p>
<p>半夏（薑製）　赤苓　石膏（　）　陳皮　生甘草　竹茹引用生薑，水煎服。</p>
<p><u>升麻澤瀉湯</u></p>
<p>赤苓　豬苓　澤瀉　甘草　滑石　升麻用引燈芯，水煎服。</p>
<p><u>黃芩芍藥湯</u></p>
<p>黃芩　黃連　當歸　白芍　升麻　甘草　生地　木通　枳殼或加大黃。水煎服。</p>
<p><u>羌活散</u></p>
<p>羌活　防風　川芎　前胡　枳殼　桔梗　薄荷　甘草引用生薑，水煎服。加連翹、蟬蛻、茯苓，名加味羌活散。</p>
<p><u>消毒飲</u></p>
<p>荊芥　防風　桔梗　枳殼　牛蒡子　升麻　蘇葉　甘草　石膏引用生薑，水煎服。</p>
<p>本方去枳殼、桔梗、蘇葉、石膏，加連翹、赤芍、山楂，名加減消毒飲。</p>
<p><u>養營湯</u></p>
<p>人參　當歸　赤芍　紅花　甘草水煎服。</p>
<p><u>羌防內托散</u></p>
<p>羌活　防風　葛根　桔梗　楂肉　地骨皮　蟬蛻　僵蠶　連翹　甘草引用薑、棗，水煎服。</p>
<p><u>清熱黃芩湯</u></p>
<p>黃芩　赤芍　木通　防風　葛根　桔梗　楂肉　元參　連翹　蟬蛻　僵蠶　花粉　石膏　地骨皮引用燈芯，水煎服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　黃柏　黑山梔水煎服。</p>
<p><u>滋陰涼血湯</u></p>
<p>當歸　白芍　川芎　柴胡　葛根　牛蒡子　黃芩　連翹　紅花水煎服。</p>
<p><u>大青湯</u></p>
<p>大青草　元參　桔梗　石膏　知母　人中黃　梔子仁　木通　升麻水煎服。</p>
<p><u>元參解毒湯</u></p>
<p>元參　甘草　桔梗　山梔　黃芩　葛根　荊芥　生地水煎服。</p>
<p><u>柴連解毒湯</u></p>
<p>柴胡　黃芩　黃連　元參　知母　貝母　防風　赤芍　連翹　牛蒡子　陳皮　甘草水煎服。</p>
<p><u>化斑湯</u></p>
<p>人參　知母　石膏　牛蒡子　連翹　升麻　地骨皮　竹葉　甘草　粳米水煎服。</p>
<p><u>人參白虎湯</u></p>
<p>人參　石膏　知母　甘草　粳米水煎服。去人參即白虎湯。</p>
<p><u>疏風解毒飲</u></p>
<p>荊芥　牛蒡子　丹皮　元參　貝母　蘇葉　黃連　甘草　麥冬水煎服。</p>
<p><u>小柴胡湯</u></p>
<p>人參　半夏　甘草　黃芩　柴胡引用生薑，水煎。</p>
<p><u>黃芩橘皮湯</u></p>
<p>黃芩　陳皮　干葛　杏仁　枳實　麻黃　厚朴　甘草水煎服。</p>
<p><u>涼血解毒湯</u></p>
<p>當歸　生地　紫草　紅花　丹皮　連翹　白芷　川連　甘草　桔梗引用燈芯，水煎服。</p>
<p><u>小承氣湯</u></p>
<p>大黃　厚朴　枳實水煎服。</p>
<p><u>卻暑丹</u></p>
<p>黃芩　甘草（各五錢）　朱砂（二錢）</p>
<p>研末蜜丸，麥冬湯下。</p>
<p><u>瀉白散</u></p>
<p>桑白皮　地骨皮　甘草　粳米水煎服。</p>
<p><u>甘桔湯</u></p>
<p>甘草　桔梗　連翹　元參　防風　牛蒡子水煎服。</p>
<p><u>千金散</u></p>
<p>黃柏（錢半，酒炒）　黃芩（二錢）　元參（五分）　硼砂（三分）　乳香（二分）　兒茶（四分）</p>
<p>雄黃（五分）</p>
<p>共研細末，每用少許吹之。</p>
<p><u>玉鎖匙</u></p>
<p>硼砂（一錢）　朴硝（五分）　僵蠶（二條）　冰片（五厘）</p>
<p>共為細末，用竹管吹之。</p>
<p><u>荊防解毒湯</u></p>
<p>荊芥　薄荷　黃連　防風　大青草　黃芩　犀角　人中黃　連翹　牛蒡子引用燈芯、蘆根，水煎。</p>
<p><u>四物湯</u></p>
<p>生地　白芍　當歸　川芎水煎服。</p>
<p><u>柴胡四物湯</u></p>
<p>即四物加人參　柴胡　淡竹葉　地骨皮　知母　黃芩　麥冬引用薑、棗，水煎。</p>
<p><u>棗麥四物湯</u></p>
<p>即四物加麥冬　棗仁　黃連　石菖蒲　淡竹葉　龍膽草　茯神　甘草引用燈芯，水煎。</p>
<p><u>柴苓四物湯</u></p>
<p>即四物加茯苓　黃芩　陳皮　甘草　柴胡　黑山梔　木通水煎服。</p>
<p><u>蘆薈肥兒丸</u></p>
<p>蘆薈　龍膽草　木香　蟬蛻　人參　胡黃連　川黃連　檳榔　芫荑　使君子肉　麥芽當歸　連翹各制為末，豬膽汁丸黍米大，每服五六十丸，米飲下。</p>
<p><u>五苓散</u></p>
<p>白朮　澤瀉　茯苓　豬苓　官桂水煎服。本方除桂，即四苓散。本方加辰砂，即辰砂五苓散。</p>
<p><u>涼膈散</u></p>
<p>大黃　朴硝　黑山梔　連翹　黃芩　薄荷　甘草水煎服。</p>
<p><u>辰砂益元散</u></p>
<p>滑石（六錢）　甘草（一錢）　辰砂（三分）</p>
<p>共為細末，每服三錢，燈芯煎湯調服。</p>
<p><u>連芍湯</u></p>
<p>當歸　白芍　黃芩　黃連　甘草　枳殼　葛根　陳皮　蒼朮　烏梅水煎服。</p>
<p><u>清肺飲</u></p>
<p>知母　貝母　甘草　桔梗　杏仁　牛蒡子　石膏　馬兜鈴　粳米水煎服。</p>
<p><u>麥冬清肺飲</u></p>
<p>即前清肺飲加麥冬　連翹水煎服。</p>
<p><u>紫蘇清脾飲</u></p>
<p>防風　柴胡　蘇葉　厚朴　腹皮　當歸　山楂　香附　神麯　麥芽　陳皮　甘草　砂仁水煎服。</p>
<p><u>導赤散</u></p>
<p>生地　木通　甘草梢　淡竹葉水煎服。</p>
<p><u>香連丸</u></p>
<p>黃連（一兩，吳茱萸一兩水拌蓋定，坐滾水內半日許，炒揀去萸）　廣木香（三錢，不見火）</p>
<p>同研末。醋糊丸。每服一錢，米飲湯化服。</p>
<p><u>清金降火湯</u></p>
<p>生地　當歸　白芍　陳皮　栝蔞子　貝母　天冬　杏仁　甘草　石膏　黃連　黑山梔桑皮　茯苓　元參　蘇梗　黃芩水煎，加薑汁、竹瀝服。</p>
<p><u>防風消毒飲</u></p>
<p>荊芥　防風　牛蒡子　甘草　枳殼　桔梗　石膏　蘇葉　百部　馬兜鈴　葶藶　桑皮水煎服。</p>
<p><u>大連翹飲</u></p>
<p>當歸　赤芍　荊芥　防風　黑山梔　黃芩　柴胡　甘草　蟬蛻　淡竹葉水煎服。</p>
<p><u>疏風散</u></p>
<p>羌活　當歸　白芍　連翹　升麻　蒼朮　干葛　生地　柴胡　甘草水煎服。</p>
<p><u>芎歸飲</u></p>
<p>升麻　干葛　蔓荊子　連翹　荊芥　防風　木賊　白蒺藜　石膏　白菊花　黃芩黃柏　黑山梔　甘草　燈心水煎服。</p>
<p><u>豬苓澤瀉散</u></p>
<p>荊芥　防風　薄荷　連翹　當歸　白芍　川芎　白朮　白芷　陳皮　桔梗　豬苓　澤瀉水煎服。</p>
<p><u>清胃散</u></p>
<p>升麻　黃連　當歸　生地　牡丹皮水煎服。</p>
<p><u>勝金散</u></p>
<p>青黛　明礬　雄黃　文蛤　皂莢　梔子　血余　冰片制為細末。瓷瓶收貯。</p>
<p><u>文蛤散</u></p>
<p>雄黃（五錢）　五倍子（二錢）　枯礬（八分）　麝香（五厘）</p>
<p>共為末，用吹牙疳甚效。</p>
<p><u>雄黃散</u></p>
<p>雄黃（一錢）　黃柏（二分）　麝香（五厘）</p>
<p>合為末，用治牙疳，先以艾煎湯，洗淨搽之。</p>
<p><u>蘆薈黃連丸</u></p>
<p>蘆薈　龍膽草　黃連　五靈脂　使君子肉　人中白蒸餅為丸，開水下。</p>
<p><u>熟附湯</u></p>
<p>熟地　制附子水煎服。</p>
<p><u>附子理中湯</u></p>
<p>人參　制附子　白朮　炙甘草　炮黑乾薑水煎冷服。</p>
<p><u>六味丸</u></p>
<p>熟地　丹皮　澤瀉　山萸肉　山藥　茯苓制末蜜丸，或照料煎服亦可。</p>
<p><u>化毒清表湯</u></p>
<p>葛根　薄荷　地骨皮　牛蒡子　荊芥　防風　黃芩　黃連　元參　知母　甘草　桔梗引生薑、燈草，水煎。</p>
<p><u>柴胡清熱飲</u></p>
<p>生地　白芍　柴胡　黃芩　麥冬　地骨皮　知母　甘草引生薑、燈草，水煎。</p>
<p><u>清金寧嗽湯</u></p>
<p>前胡　桔梗　栝蔞仁　杏仁　川連　貝母　橘紅　炙桑皮　甘草引生薑、紅棗，水煎。</p>
<p><u>麻杏石甘湯</u></p>
<p>麻黃　杏仁　石膏　甘草水煎服。</p>
<p><u>清氣化毒飲</u></p>
<p>前胡　桔梗　栝蔞仁　杏仁　川連　黃芩　連翹　桑皮　元參　麥冬　甘草引蘆根，水煎。</p>
<p><u>如神定喘湯</u></p>
<p>黃芩　川連　梔子仁　桔梗　花粉　赤苓　貝母　牛蒡子　栝蔞仁　杏仁　麥冬　生石膏水煎，沖竹瀝一杯服。</p>
<p><u>三黃石膏湯</u></p>
<p>麻黃　石膏　淡豆豉　黃柏　黃連　梔子仁　黃芩水煎。</p>
<p><u>七味安神丸</u></p>
<p>川連　麥冬　當歸　茯苓　甘草（各五錢）　朱砂（一兩）　冰片（二分半）</p>
<p>上為末，蒸餅，用　豬心血搗，丸黍米大，每服十丸，燈芯湯下。</p>
<p><u>抱龍丸</u></p>
<p>天竺黃　水飛辰砂　生甘草　炒枳殼　白茯神　薑炒膽星　白硼砂（各一兩）　懷山藥（二兩）　琥珀（七錢）　沉香　雄黃（各五錢）　麝香（三分）</p>
<p>蒸餅為丸，芡實大，金箔為衣，陰乾收貯，薄荷湯下。</p>
<p><u>孫氏洗肝散</u></p>
<p>全蛇脫（一條）　馬勃（一兩）　皂角子（十四枚）</p>
<p>共入瓷罐內，鹽泥封固，燒存性，退火研末，白湯調下。</p>
<p><u>通神散</u></p>
<p>甘菊　綠豆皮　穀精草上等分為粗末，同柿餅用粟米泔慢火熬干，去藥渣，食柿餅，不過十余個立效。</p>
<p><u>發灰散</u></p>
<p>取少壯無病患發，煮皂角水洗淨，焙乾填滿新瓦罐內，用新瓦片蓋定，鹽泥封固，用炭火圍罐之半，　一炷香，取出候冷，研極細末，吹入鼻中。或發灰二分，童便七分，酒三分調服，止血如神。</p>
<p><u>加減涼膈散</u></p>
<p>苦桔梗　山梔仁　黃芩　生甘草　元參　牛蒡子　薄荷　連翹　麥冬水煎服。</p>
<p><u>兒茶散</u></p>
<p>硼砂（二錢）　孩兒茶（五錢）</p>
<p>共為細末，涼水一盞調服。</p>
<p><u>加味平胃散</u></p>
<p>升麻　防風　枳殼　葛根　南山楂　麥芽　蒼朮　厚朴　陳皮　生甘草引生薑、燈芯，水煎。</p>
<p><u>五君子煎</u></p>
<p>人參　茯苓　白朮　炙草　炮薑水煎服。</p>
<p><u>溫胃飲</u></p>
<p>人參　當歸　扁豆　白朮　炙草　陳皮　乾薑水煎服。</p>
<p><u>胃關煎</u></p>
<p>熟地　山藥　扁豆　炙甘草　淡吳萸　白朮　炮薑水煎服。</p>
<p><u>清熱導滯湯</u></p>
<p>當歸　白芍　連翹　牛蒡子　小青皮　炒枳殼　黃芩　川連　山楂　厚朴　檳榔　甘草引生薑，水煎。</p>
<p><u>三黃丸</u></p>
<p>黃芩（酒炒）　川連（吳萸拌炒）　蒸大黃上各等為末，糊丸梧子大，每服二十丸，白湯下。</p>
<p><u>黃芩湯</u></p>
<p>黃芩　黃連　當歸　川芎　人參　木香　青皮　枳殼　檳榔　甘草水煎服。</p>
<p><u>貞元飲</u></p>
<p>熟地　當歸　甘草水煎服。</p>
<p><u>六氣煎</u></p>
<p>人參　黃　當歸　肉桂　白朮　炙草水煎服。</p>
