<header data-type="book">
<h1>全生指迷方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王貺</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1100/1150">公元1100年至1150年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·全生指迷方》（<a href="https://www.kanripo.org/text/KR3e0030/">掃描及文字化本</a>）</dd></div>
</dl>
</header>
<h2>原序</h2>
<p>余昔任左史，遇疾瀕死，考城王貺子亨，為察眾工之用藥而余以生，因以其所著《全生方》一編遺予，藏之未暇讀也。繼掌外制，一日得異疾，謀諸醫未決，子亨笑曰：毋恐，此我書所有也，視某章，病當某藥。如方，信宿而疾良已，於是奇之。歸居淮南，去王城國偶有病，只訊於書。謫三巴，遷百粵，去醫益遠，又　本以歸余。余以為之表其端曰：此直而邃，曲而通，部居彪列，而脈絡潛流，形色昭彰，而對治要妙。知方者讀之，智思橫不知者，猶可按圖而愈疾。真衛生之奇寶，濟物之良術也。至理不煩，至語不費。余非者，而於此乎取之。子亨當官不苟，遇世變，嘗慨然再請，出疆萬裡。其論著此書，用世利物，不特此矣。</p>
<p><u>吳敏　序</u></p>
<h2>自序</h2>
<p>德彌大者，常存乎好生之心；志彌廣者，每切於立言為教。在上世則有伊芳尹，逮後漢乃見張機；祖述神農之經，發明黃帝之道。雖然術至通神之妙，在乎知慮以為先；藥至起生之功，必因精而能後效。天無棄物，非人莫知所能；人有常心，非道莫知所適。凝神自悟，觸理皆分，故能贊益天機，悉體陰陽之變，深窮造化，博極生死之源，候色驗形，自契一時之理，刳腸剖臆，難傳後代之精。至於湯液除　，砭石起死，必當研窮性味，斟酌淺深。治理在於君臣，協攻資乎佐使。方書之行，其來尚矣。有人猶不能刻意研求，專心致志，攖邪抱病，則束手無能，制療處方，則委身紕繆，余竊悲之。於是采古人之緒余，分病證之門類，別其疑似，定其指歸，陰陽既明，虛實可考。若能按圖求治，足以解惑指迷，雖未起死回生庶幾扶危拯困，故號曰「全生指迷」，以崇大倫之道焉。</p>
<p><u>考城王貺子亨序</u></p>
<h2>卷一</h2>
<h3>脈論</h3>
<p>論曰：人以天地之氣生，四時之法成，是以有五臟六腑，四肢十二經，三百六十五穴，以象五運六氣，四時十二月周天之度。陰陽變化，與天地同流。乖其氣，逆其理，則陰陽交錯，腑臟偏毗，脈行遲速，榮衛失度，百病從生。非脈無以探賾索隱。所謂脈者，乃天真之元氣，有生之精神。精神去干，脈理乃絕。故上古聖人，體性鑒形，剖別臟腑，詳辨經絡，會通內外，各著其情，氣穴所發，各有　名。善診脈者，靜意視義，觀其變於冥冥之中，以神合神，悠然獨悟，口弗能言。先別陰陽，審清濁，而知分部。視喘息，聽音聲，而知病所生。所謂陰陽者，至者為陽，謂隨呼而出也；去者為陰，謂隨吸而入也。動者為陽，鼓擊躁急也；靜者為陰，來去沉沉默默也。數者為陽，謂一呼一吸六至也；遲者為陰，謂往來不滿三至也。於三部九候之內，察其脈形，有獨異者，謂獨大獨小，獨疾獨遲，獨不應四時者，乃受病之所也。</p>
<h3>辨五臟六腑部位脈法</h3>
<p>左手寸口脈，浮取之屬小腸為腑，沉取之屬心為臟，其經則手太陽、少陰。左手關上脈，浮取之屬膽為腑，沉取之屬肝為臟，其經則足少陽、厥陰。左手尺中脈，浮取之屬膀胱為腑，沉取之屬腎為臟，其經則足太陽、少陰。右手寸口脈，浮取之屬大腸為腑，沉取之屬肺為臟，其經則手太陰、陽明。右手關上脈，浮取之屬胃為腑，沉取之屬脾為臟，其經則足太陰、陽明。右手尺中脈，浮取之屬三焦為腑，沉取之屬心包絡，又屬右腎，其經則手少陽、厥陰。</p>
<h3>辨人迎三部趺陽九候五臟六腑脈法</h3>
<p>論曰：診脈之法，其要有三：一曰人迎，在結喉兩傍，取之應指而動，此部法天也。二曰三部，謂寸關尺也。於腕上側有骨稍高，曰高骨。先以中指按骨，謂之關，前指為寸部，後指為尺部。尺寸以分陰陽，陽降陰升，通度由關以出入，故謂之關，此部法人。三曰趺陽在足面系鞋之所，按之應指而動者是也，此部法地。三者皆氣之出入要會，所以能決吉凶生。凡三處大小遲速相應齊等，則為無病之人。故曰：人迎、趺陽三部不參，動數發息，滿五十，未知生死，以三者為決死生之要也。故人迎一盛病在太陽，謂陽極也。四盛以上隔陽，謂無陰以收也。寸口一盛病在少陰，二盛病在太陰，三盛病在厥陰，厥有盡也。四以上為關陰，謂無陽以系也。隔陽者，氣上而不能下，則吐逆；關陰則閉塞，大小便不通皆死不治。九候者，謂三部之位，一位有三候。浮取之屬陽，沉取之屬陰，中得之為胃氣故無胃氣則死。五臟之脈，輕手於皮膚得之者肺也，至肌得之者心也，至肉得之者脾也，筋得之者肝也，至骨得之者腎也。五者輕重皆應，是謂五臟之氣全也。又有推而外之在經推而內之在血脈。凡診平人之脈，當以平旦，陰氣未動，陽氣未散，飲食未進，脈絡調可以見有餘不足之脈。一呼行三寸，一吸行三寸，呼吸行六寸而脈四至，呼吸之間又一此盛脈得天全者也。若過十息，脈應五十動，又須與氣相應。往來緩急，得中潤澤，如流行源源者，此壽脈無疾也。若不滿五十動一止，此一臟之氣絕，四歲死，三十動一止死，二十動以下一止，期以歲月死。若與形氣不相應，往來短促枯燥無首尾，此不壽之多病。凡診病脈，則不拘晝夜，審脈所以察其由，則寒熱虛實見矣。凡脈病患不病者死病脈不病者生。</p>
<h3>診諸病證脈法</h3>
<p>論曰：脈變於內，病形於外，相參以察其理。氣熱脈滿，是謂重實。脈實以堅，謂之益甚。上下相失，不可數者死，謂至數也。脈口熱而尺反緩，皮膚外證也，滑則從，澀則逆。</p>
<p>寸口膚熱而尺膚寒，是經氣有餘，絡氣不足也。尺膚熱脈滿，寸口膚寒脈澀，是經氣不足，絡氣有餘也。脈寸虛尺虛，是謂重虛，重虛者死。寸虛者，病情無常，神不守也。尺虛者，行走　然，脈滑則生，澀則死。脈急大堅，尺澀而不應，謂之形滿，手足溫則生，寒則死。</p>
<p>乳子中風熱，喘鳴肩息，脈緩則生，急則死。下痢白沫，脈沉則生，浮則死。下痢膿血，脈懸絕則死，滑則生。浮澀之脈，身有熱者死。癲疾之脈，博大而滑，久久自已，脈小堅急，死不治。病患口甘而渴，此數食甘美而多肥，五氣之溢也，謂之脾癉病。人口苦，此因數謀慮不決，膽虛氣上溢，是謂膽癉。凡消癉之脈實大，病久可治。病患身熱如炭，頸膺如格，人迎躁盛，喘息氣逆，太陰脈微細如發者，死不治，謂氣口與人迎不相應也。心脈滿大，癇螈筋變。肝脈小急，癇痙筋攣。肝脈騖暴，有所驚駭。無故而喑，脈不至，不治自已，謂氣暴厥也，氣復則已。腎脈小急，肝脈小急，皆為瘕。肝脈並沉為石水，並浮為風水，並虛為死，並小弦為驚。腎脈大急沉，肝脈大急沉，皆為疝。肺沉博為肺疝。太陽急為瘕，膀胱氣也。太陰急為脾疝。少陰急為癇厥，心病也。少陽急為驚，膽病也。脾脈沉鼓為腸癖，由飽食而筋脈橫解，腸癖為痔。胃脈沉鼓澀，胃外鼓大。心脈小急，皆為偏枯。年不滿二十者，三歲死。脈至而搏，血衄身熱者死。心肝脈小沉澀，為腸癖。心脈至如喘，名曰暴厥，不知與人言。脈至如數，使人暴驚，三四日自已。肺脈有餘，病皮痹，閉不通而生癮疹，不足，病肺痹寒濕。脾脈有餘，病肉痹，寒中，陰隔塞也。肝脈有餘，病筋痹，脅滿不利；不足，病肝痹。腎脈有餘，病骨痹，身重；不足，病腎痹。凡陰病見陽脈者生，謂病患四肢厥，惡寒多汗，脈得洪大數實也。陽病見陰脈者死，謂病患身熱狂躁譫言，欲飲水，脈得沉細微遲也。</p>
<h3>辨脈形及變化所主病證法</h3>
<p>浮脈之狀，在皮膚輕手得之，重按則似有若無。王於秋，主肺，主風，主虛乏短氣。秋得之為順，春得之為賊邪，冬得之為虛邪，夏得之為實邪，又為微邪，其病不治自愈。純浮為感風，浮弦為虛勞，浮緊為風寒，浮芤為衄血，浮滑為風痰，浮洪為風氣壅滯，浮微為氣不足，浮緩為風虛，四肢不隨，浮澀為傷肺咯血、嗽血，浮遲為傷憊，浮弱為虛損，浮濡為氣血俱不足。又看見於何部位，以臟腑經絡推之，余皆仿此消息。</p>
<p>沉脈之狀，取於肌肉之下得之。主臟病，沉滯伏匿。在寸為心肺鬱伏，悲憂不樂。在關為肝脾不利，中滿善噫　脹。濕勝則腫滿溏泄，食不化，支膈，　脅滿，善恐。在尺則為石水，腹腫硬，以指彈之殼殼然有聲，小便澀。沉緊為腸間積寒痛，沉澀結為五氣積聚成形，沉數或疾為骨蒸，沉滑為腎消、骨枯、善渴、小便數。純沉為腫重，足膝不利，不得履地，得之於陰濕之氣。沉而微，五臟氣衰，骨痿不能起。</p>
<p>遲脈之狀，往來極遲，一息三至。為陰盛陽虛之候，若手足厥不回者死。五臟氣短，不能朝於氣口，肺腎俱衰也。《太素脈訣》作肺腎俱絕。陳無擇《三因方》云：遲者應動極緩與人迎相應，則濕寒凝滯，與氣口相應，則虛冷沉積，為寒為痛。遲而澀為症瘕咽酸。</p>
<p>數脈之狀，往來急數，一息六至。為陽盛陰微之候。寸脈見之為熱，為躁，為煩。左關為目赤頭痛煩滿，右關為口臭胃煩嘔逆。尺中見為小便黃赤，大便閉澀。與人迎相應為熱，與氣口相應或為瘡。</p>
<p>洪脈之狀，大而隱指。若大而散漫，是謂氣衰。大而浮，風客於衛，咳出青黃膿如彈丸大，若不出則傷肺。下利得脈大，利益甚。霍亂得之吉。又其脈主夏，屬心。</p>
<p>虛脈之狀，浮大無力，遲而且柔，又如蜘蛛絲。此陽氣衰少，陰氣獨居，為多汗亡陽，形氣蕭索，其人不壽。</p>
<p>散脈之狀，浮而無力，至數不齊，渙漫不收，更甚於虛，或來多去少，按之如無。此氣血俱虛，根本脫離之候。左寸軟散，為陽虛不斂。右寸見之，為氣耗汗出。肝脈軟散，色澤者，當病溢飲。脾脈得之，色不澤，當病足　腫。尺脈見散，為精氣衰耗。又產婦得之生，孕婦得之死。</p>
<p>芤脈之狀，如浮而大，於指面之下，其形中斷，又如流水不相續，或如瀉漆之形，斷而倒收，又似弦而軟。（《太素脈訣》云：芤脈之狀，中空弦散。）主吐血，嘔血，衄血，男子失精，婦人胞漏，半產，血崩。又曰，其狀弦大，弦則為減，大則為芤，弦芤相搏，此名為革，金刑木而傷肝也。芤而滑，嘔吐，甚則亡血。芤而數，陽陷陰中，血妄行。芤而急，風冷濡脈之狀，極軟弱，如以指按水中綿，如有如無。（《太素脈訣》云：諸部脈形，按之極小。）為陰陽俱不足，濕冷霧露之氣所傷。為病，頭重如以濕熱之物裹首；大筋軟短，小筋弛長，為痿弱骨不能立；又為亡津液，精神不收；（《十便良方》云：精神干急或偏枯，血脈痹微脈之狀，極微，或似有似無。為氣血不足，為虛憊，亡血，亡汗，小便數或白濁。若微數為陰虛，客陽內熱，穀氣少也。若在尺部，腎脂枯，髓不滿骨。若在左關則肝虛血不足目視　，筋緩弱。若在右關則虛滑泄注，穀不化，腸鳴及漿粥不入胃。若在右寸，則為損背寒，口中如含霜雪，咳嗽肌疏，不可以風，短氣。若在左寸，為心虛恍惚，憂思不樂多恐，如人將捕之。若六部俱微，則陽不及四肢，足脛冷，手足厥，常欲湯火暖之。陳無</p>
<p>《三因方》云：微者，極細而軟，似有若無。與人迎相應，則風暑自汗。與氣口相應，則陽脫泄。入裡，病脈微，為虛，為弱，為衄，為嘔，為泄，為亡汗，為拘急。微弱為少氣為中寒。</p>
<p>革脈之狀，渾渾革至如涌泉，謂出而不返也。為陰氣隔陽，又為溢脈。蓋自尺而出，上於魚際，亦謂之離經，無根本也。又覆脈之狀，自寸口下退，過而入尺，皆必死之脈也。</p>
<p>伏脈之狀，重於沉，指下尋之方得，蓋時見時隱也。（《太素脈訣》云：伏脈之狀，其形沉伏，隱隱其位。）此陰陽之氣相伏也，或陰中伏陽，陽中伏陰。脈疾為伏陽內熱，身雖寒而脈實者有伏氣在內，澀者有動氣，在左則左病，在右則右病，在臍則居臍上下，居臍上為逆居臍下為從。</p>
<p>牢脈之狀，如弦而實，尋之則散。（《太素脈訣》云：指下尋之不動。）為五勞六極七傷之實脈之狀，舉按有力，重按隱指　然。氣不利，亦主伏陽在內，蒸熱勞倦，胃氣壅塞為內癰。實數為三焦閉熱，大便秘實。滑為癖飲症瘕留聚之病。實大為氣盛閉塞。（《太素訣》，）實大作實洪。實沉為臟腑氣不通，帶短（《太素脈訣》云：實而短。）為宿穀不化。</p>
<p>弱脈之狀，小而無力。為精不足，短氣，表裡俱衰，為暴下。陰並於陽，汗出不止者死又為腳弱筋緩，足不能履地。惡寒，不可出風。</p>
<p>細脈之狀，細細似線。（《太素脈訣》云：其形細微。）陰氣勝陽也。又為手足寒，氣少，慘慘不舒暢。又血不榮於四肢，謂寒則澀而不流行也。（《太素脈訣》云：又主冷泄痢。）</p>
<p>緩脈之狀，不遲不疾，一息四至，往來得中，實得土氣。（《太素脈訣》云：緩脈之狀，如柳葉也。）緩甚，為病四肢不收，受濕而痹。緩而沉，脾氣滯，志意不舒展，氣痞多噎。</p>
<p>緩而澀，肌肉不仁，津液不流行，榮衛失度，因以致風。緩而微，為消氣。緩而滑，為熱中多食。緩而短，穀不化，為溏泄。緩而浮，為風　曳。陳無擇《三因方》云：緩者，浮大而軟為弱為痹，為疼為不仁，為氣不足，為眩暈。緩而滑為熱中。緩而遲，虛寒相搏，食冷則咽痛。</p>
<p>澀脈之狀，往來極澀，如水不能流，或聚於指下，或綿綿如瀉漆，斷而倒收，又似止非止。（《太素脈訣》云：澀脈之狀，如刀口到指，不離其所。）主男子亡血失精，婦人胎妊不成，月候凝澀，或崩傷不止，五帶，敗血在腹，或血瘕成形，筋急寒痹。浮澀為肺病，咯血咳嗽，虛勞。澀中時弦，為金木相克，脅下痛，不得臥者死。在左寸，為心痹寒栗，病積溲血結脈之狀，大小不定，往來不拘，數至時一止。主氣不流行，腹中症癖，氣塊成形。</p>
<p>或因大病後亡津液，亡血，或驚恐神散而精不收，或夢漏亡精，又多慮而心氣耗也。若無是因，則其人壽不過一二年。</p>
<p>代脈之狀，其來如斷絕，而相待其息以至時，搏而動。主血氣虧損，或驚憂積甚，形氣不相得也。</p>
<p>滑脈之狀，指下如水之流，或如轉珠而滯礙。（《太素脈訣》云：不緩、不洪、不實，如珠之形。）主嘔吐，主飲。滑而弦細者為支飲，咳逆倚息，面浮腫。滑而緊，停寒積飲吞酸，腸間漉漉有聲。滑而弦，留飲在胃，頭痛而眩。滑而數，為中　，甚則為　，手足螈　搐搦盛肺緊脈之狀，如按繩繳指，三部通度，與弦相似而有力，舉按皆有餘。主中寒腹痛切急。</p>
<p>在寸口，則中寒口噤，頭痛惡寒，欲得覆被火炙。在關上，則胃冷吞酸，中脘臍腹痛，下利筋寒，或轉筋霍亂，咳嘔膽汁。緊數為冷熱痢，下膿血，或身熱飲食如故，有痛處則結癰疽在尺為寒疝痛。</p>
<p>促脈之狀，自尺上寸口促急，有來無去。（《太素脈訣》作有來時止復來。）此榮衛無度數，陰氣促陽也。又腎氣離經，升而不降，又為無陰而陽無以系也。若時氣促數，上出寸口，動脈之狀，鼓動而暴於指下不常。氣血相乘，搏擊而動也。或鼓於陽，則一陽為鉤，如夏脈之盛。或鼓於陰，一陰為毛，如秋氣之急切勁烈。鼓陽勝而急曰弦，陰緩而陽急也。鼓陽至而絕曰石，陽辟而陰孤也。陰陽相過曰溜，氣相鼓作而動也。</p>
<p>弦脈之狀，如張弓弩弦，應指有力，重按則軟弱。（《太素脈訣》云：狀如琴弦。）主春氣，主肝臟，主虛，主痰，主瘧，主勞。弦而微，氣不足，筋緩不榮。弦急似數非數，綿綿之狀，勞傷氣促急，四肢煎厥。無首尾而促疾，虛勞不足。弦弱而疾，夜多盜汗。弦短而大，榮衛勞傷，內急外緩。兼數則熱，目視　，血不足也。兼遲則寒，筋脈急攣。弦澀因失血女子則月閉血瘕。弦緊為虛寒裡急，寒疝少腹痛，面青下利。弦遲而澀，出入無首尾，為寒閉血少，筋干急，（《太素脈訣》作弦而急。）或偏枯血脈痹，得之風冷濕也。（《十便良方》短脈之狀，往來極短，不待息盡而回，或無首尾，但見於指面，亦不待氣來而至。其人短氣息，或不能長息，又為大下脫氣，又主久病。</p>
<p>長脈之狀，往來指下，息隨而盡，其有餘，如操帶物之長。（《太素脈訣》云：長脈之狀往來至長。）稟賦氣強，勝血而氣擁，其人壽。若加大而數，為病陽盛內熱，當利三焦。</p>
<h2>卷二</h2>
<h3>寒證</h3>
<p>論曰：若其人洒淅惡寒，但欲濃衣近光，隱隱頭重時痛，鼻窒塞，濁涕如膿，咳嗽，動輒汗出或無汗，甚則戰栗，此由寒中於外，或由飲冷傷肺胃，內外合邪，留而不去，謂之感寒。寒從外至者，兩手寸口脈俱緊，或但見於右寸。寒從內起者，其脈遲小。無汗者，小青龍湯主之。小汗者，溫肺湯主之。</p>
<p>小青龍湯五味子　細辛（去苗）　乾薑　半夏（湯洗七遍）　甘草（炙，各一兩）</p>
<p>上為散。每服五錢，水二大盞，薑三片，棗一個，擘破，同煎至八分，去滓溫服。</p>
<p>溫肺湯（方缺）</p>
<p>若陰寒積冷，心腹大痛，嘔逆惡心，手足厥冷，心胸不快，腰背疼痛，良薑湯主之。</p>
<p>良薑湯高良薑（一兩，銼碎，炒）　官桂（一兩，去皮）　當歸（去蘆，一兩，銼炒）　白茯苓（一兩）　附子（半兩，炮）</p>
<p>上為散。每服二大錢，水一盞半，入生薑五片，煎至七分，去滓，空心服。</p>
<p>若但寒頭重，動眩暈，肌肉痛，牽急不得轉側，　汗出，惡寒，小便難，大便反快，短氣，足寒，或時咽痛，微熱，此由寒濕客搏經脈，不得發泄，其脈遲緩而小弦，附子湯主之，除濕湯亦主之。</p>
<p>附子湯附子（一個，炮，去皮臍）　白朮（一兩，炒）　茯苓　白芍（各三兩）　人參（二兩）</p>
<p>上為散。每服二大錢，水一盞半，入生薑三片，煎至七分，去滓，空心服。</p>
<p>除濕湯（方缺）</p>
<h3>熱證</h3>
<p>論曰：陰不足則陽偏，陽偏則發熱。若熱從背起，自手足漸漸周身，口舌乾燥，欲飲水而不能，此由陰氣虧少，少水不能制盛火。諸陽起於四末，循行於背，陰不能斂陽，陽氣獨行，所以發熱，或晝發而夜寧，或夜發而至旦即消。其脈虛疾而小，芍藥黃　湯主之。</p>
<p>芍藥黃　湯芍藥（三錢）　黃　甘草（炙）　青蒿（陰乾，各一兩）</p>
<p>上為散。每服五錢，水二大盞，煎至一盞，去滓，食後溫服。</p>
<p>若熱從腹起，上循胸腋，繞頸額，初微而漸至大熱，發無時，遇飢則劇，中脘不利，善食而瘦，其色蒼黃，肌肉不澤，口唇干燥，由脾氣素弱，曾因他病，誤服熱藥，入於脾，脾熱則消穀引飲，善消肌肉，其脈濡弱而疾，參橘丸主之。若嗽者，用加減法，及灸脾　百壯參橘丸橘皮（三兩，洗）　麥門冬（去心）　人參（去蘆，各一兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大。食前米飲下三十丸。若嗽，加五味子一兩。</p>
<p>若熱從腹中或從背起，漸漸蒸熱，日間劇，夜漸退，或寐而汗出，小便或赤或白而濁，甚則頻數尿精，夜夢鬼交，日漸羸瘦，由思慮太過，心氣耗弱，陽氣流散，精神不藏，陰無所使，治屬虛勞，大建中湯主之。</p>
<p>大建中湯芍藥（六兩）　黃　遠志（去心）　當歸（洗）　澤瀉（各三兩）　龍骨　人參　甘草（炙，各二兩）</p>
<p>上為散。每服五錢，水二盞，棗二個，擘破，薑五片，同煎至一盞，去滓，食後溫服。</p>
<p>腹中急，加餳如棗大。</p>
<p>若自腰以上發熱，熱及則汗出，出已而涼，移時如故，復加昏暈，腹中膨　，其氣上攻，時時咳嗽，嗽引脅下牽痛，睡則驚悸，其脈弦急疾，由外寒客搏，內冷相合，寒則氣收，水液聚內化成飲。醫以熱藥攻寒，寒閉於內，熱增於上，陽氣不下行，故散越於上，發而熱，散而為汗。汗多亡陽，心氣內虛，故令驚惕。治屬飲家，以旋覆花丸主之。</p>
<p>旋覆花丸旋覆花　桂心　枳實（麩炒）　人參（各五分）　乾薑　芍藥　白朮（各六分）　茯苓　野狼毒烏頭黃（濕紙裹汁炙，各四兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。米飲下三丸，未效，加至七丸。小兒黃米大二丸。</p>
<p>若熱起骨間煩疼，手足時冷，早起體涼，日晚即熱，背膂牽急，或骨節起凸，足脛酸弱由陰不足，而陽陷陰中，熱留骨髓，髓得熱則稀，髓稀則骨中空虛，陰虛水少脂枯，故蒸起，其脈沉細而疾。治屬骨蒸，補髓丸主之。</p>
<p>補髓丸生乾地黃（晒乾，三兩）　乾漆（半兩，碎，炒令煙盡）</p>
<p>上為末，煉蜜為丸，如梧桐子大。飲下三十丸，空心臨臥服。</p>
<p>若自胸以上至頭發熱，口鼻氣色時如煙熏，目澀咽燥，唾如凝脂，時咳，毛竦，大便不利，小便赤，由肺不調，邪熱熏上焦，其脈疾大，先服桔梗湯。熱不退者，五味子湯主之。</p>
<p>桔梗湯桔梗（一兩）　人參　麥門冬（去心）　甘草（炙　各半兩）　小麥（一合）</p>
<p>上　咀。水三升，煎至一升，去滓，分三服。</p>
<p>五味子湯《指南方》治發熱甚不退。</p>
<p>柴胡（去苗，洗，四兩）　半夏（湯洗七遍，一兩一分）　黃芩　五味子　赤茯苓（分兩原缺）</p>
<p>上為散。每服五錢，水二盞，薑五片，棗二個，擘破，同煎至一盞，去滓溫服。</p>
<p>若但熱不歇，日晡尤甚，口中勃勃氣出，耳無所聞，晝多昏睡，睡即浪言，喜冷，小便赤澀，大便不通，由三陽氣盛，蘊於經絡，內屬腑臟，或因他病而致疾，其脈短疾而數，柴胡芒硝湯主之。</p>
<p>柴胡芒硝湯柴胡（四兩，洗，去苗）　黃芩　甘草（炙）　赤茯苓（各一兩半）　半夏（湯洗七遍，一兩一上為散。每服五錢，水二盞，生薑五片，棗二個，擘破，同煎至一盞，去滓，入芒硝一錢，攪和溫服，以大便利為度。</p>
<p>若身大熱，背微惡寒，心中煩悶，時時欲嘔，渴不能飲，頭昏重痛，惡見日光，遇涼稍清，起居如故，由飲食失時，胃中無穀氣，熱蓄於胃中，中脘熱，則三陽不下降，而上聚於腦。又胃主陽明經，為惡熱，其脈虛大而數，久則細小，謂之中暑。初即服好茶一杯立愈，不即治之，留而在胃，別致他病，生薑竹茹湯主之。</p>
<p>生薑竹茹湯竹茹（雞子大）　人參（半兩）　葛根（半兩）　生薑（一錢，切）</p>
<p>上為散。水三盞，煎二盞，去滓，分二服，不拘時。</p>
<p>若間日發熱，發必數欠，頭痛拘倦，由肺素有熱，氣盛於身，厥逆上衝，中氣實而不外泄，其氣五內於心，外舍於分肉之間，令人消爍脫肉，其脈弦大而數，謂之癉瘧，柴胡栝蔞湯主之。</p>
<p>柴胡栝蔞湯柴胡（去苗，洗，八錢）　芍藥　人參（各二錢）　半夏（湯洗七遍，二錢半）　甘草（炙，二錢）　栝蔞（二錢）</p>
<p>上　咀。水二升，生薑十片，棗二個，擘破，同煎至一升，分三服，去滓服。　大熱去芍藥、栝蔞，用黃芩三錢，即名小柴胡湯。</p>
<p>若身熱汗出，煩滿不為汗解，由太陽之經先受風邪，與熱相搏，腎氣厥則煩滿，謂之風厥，澤瀉湯主之。</p>
<p>澤瀉湯澤瀉（半兩）　白朮　防風（各二兩）　石膏（研）　赤茯苓（各一兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若四肢發熱，逢風如炙如火，由陰不勝陽，陽盛則熱，起於四肢，少水不能滅盛火，而陽獨治於外，以菟絲子丸主之。</p>
<p>菟絲子丸菟絲子（先於臼內杵百下，篩去雜物末）　五味子（各一兩）　生乾地黃（一兩）</p>
<p>上為末，煉蜜和丸，如梧桐子大。飲下三十粒，食前服。</p>
<p>若發熱，耳暴聾，頰腫脅痛，　不可以運，由少陽之氣厥，而熱留其經，宜小柴胡湯。</p>
<p>若口乾溺赤，腹滿心痛，由熱留於手少陰之經，其氣厥也，赤茯苓湯主之。</p>
<p>赤茯苓湯赤茯苓（四兩）　甘草（生，一兩）　木香（半兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<h3>風食</h3>
<p>論曰：若其人翕翕如熱，淅淅如寒，無有時度，支節如解，手足酸痛，頭目昏暈，此由榮衛虛弱，外為風邪相乘，搏於陽則發熱，搏於陰則發寒，久不治成勞氣，荊芥散主之。</p>
<p>荊芥散荊芥穗　人參　白朮　當歸（切細，焙）　黃　芍藥　桂（去皮，各一兩）　柴胡（去苗二兩）　甘草（炙，半兩）</p>
<p>上為末。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若忽然牙關緊急，手足螈　，目直視，此風客血經，謂之風　，脈緊大者不可治，獨活湯主之。</p>
<p>獨活湯獨活（半兩，銼）　荊芥穗（一兩）</p>
<p>上以水三盞，煎荊芥汁至一大盞，再入獨活煎一半，去滓溫服。凡用獨活，紫色有成臼子者。蓋羌活極大而老者，是尋常所用。白色者，乃老宿前胡也，慎不可用。</p>
<p>又方煎荊芥濃汁於盆中，坐病患於上熏蒸，然後淋洗之。</p>
<p>若寒熱如瘧，不以時度，腸滿膨　，起則頭暈，大便不通，或時腹痛，胸膈痞悶，此由宿穀停留不化，結於腸間，氣道不舒，陰陽交亂，備急丸主之。</p>
<p>備急丸大黃（濕紙裹煨）　巴豆（去皮心及油）　乾薑（去皮，等分）</p>
<p>上為細末，煉蜜為丸，如豌豆大。每服一丸，米飲下。羸人服一丸，如綠豆大。以便快利為度。</p>
<h3>風濕</h3>
<p>論曰：若身體疼，心煩口燥，欲得水而不能飲，額上微汗，背強，欲得覆被向火，其脈浮虛，或日晡發熱，或身重汗出，而脈但浮，或掣痛不得屈伸，近之則痛極短氣，或身微腫或發熱面黃而喘，鼻塞而煩，脈大自能飲食，此由汗出當風，或因冒濕冷，復遇風邪之氣閉固腠理，病名風濕，麻黃加朮湯主之。日晡發熱者，薏苡仁湯主之。掣痛不得屈伸者，草附子湯主之。鼻窒塞氣不通者，瓜蒂散主之。惡風身體重者，防己湯主之。</p>
<p>麻黃加朮湯麻黃（去根節，三兩）　桂心（二兩）　甘草（炙，一兩）　杏仁（湯洗，去皮尖，半兩）　白朮（四兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>薏苡仁湯麻黃（去根節，三兩）　杏仁（去皮尖，半兩）　甘草（炙）　薏苡仁（各一兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>甘草附子湯甘草（炙，二兩）　附子（炮，去皮臍，一兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>瓜蒂散瓜蒂　細辛（去苗）　藜蘆（去苗，各等分）</p>
<p>上為細末。每用半字許，內鼻中，以氣通為度。</p>
<p>防己湯防己（四兩）　黃　（四兩）　甘草（炙，二兩）　蒼朮（去皮，三兩）</p>
<p>上為散。每服五錢，水二盞，薑二片，棗一個，擘破，同煎至一盞，去滓溫服。</p>
<h3>瘧疾</h3>
<p>論曰：寒熱之病，或寒已而熱，或熱已而寒，或寒熱戰栗，頭痛如破，身體拘急，數欠渴欲飲冷，或　時而發，或間日而作，至期便發，發已即如常，此謂之瘧。瘧脈自弦，弦多熱，弦遲多寒。此皆得之於冬中風寒之氣，藏於骨髓之中，至春陽氣大發，邪氣不能自因遇大暑，而後與邪氣相合而發，常山湯主之。</p>
<p>常山湯常山　知母　甘草（炙，各三兩）　麻黃（去節，一兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。以糜粥一杯，助取汗為度。</p>
<p>熱多者宜解之，栝蔞湯主之。</p>
<p>栝蔞湯栝蔞根（四兩）　柴胡（去苗，八兩）　人參　黃芩　甘草（炙，各三兩）</p>
<p>上為末。每服二錢，水二盞，生薑三片，棗一個，擘開，煎至一盞，去滓溫服。</p>
<p>寒多者宜溫之，薑桂湯主之。</p>
<p>薑桂湯乾薑　牡蠣（火　通赤）　甘草（炙，各二兩）　黃芩（二兩，《活人書》用三兩）　柴胡（去苗，八兩）　栝蔞根（四兩）　桂（去皮取心，三兩）</p>
<p>上為末。每服五錢，水二盞，煎至一盞，去滓溫服，不拘時候。</p>
<p>寒熱等者宜調之，鱉甲湯主之。</p>
<p>鱉甲湯鱉甲（湯浸，刮令淨，醋炙）　白朮　常山　桂（去皮）　柴胡（去苗，各一兩）　牡蠣（半兩，火　赤）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<h3>痹證</h3>
<p>論曰：若始覺肌肉不仁，久而變生他證，病名曰痹。此由風寒濕三氣客於經絡，舍於血脈，搏於榮衛，故令皮膚痹而不仁。有熱則肌肉骨節煩疼，有寒則冷。以春得之在筋，夏得之在脈，秋得之在皮，冬得之在骨，四季得之在肌肉。又久而不去，各傳其臟，筋痹不已，舍之於肝，夜臥則驚，飲食多，小便數，上為引如懷妊。脈痹不已，舍之於心，其脈不通，煩滿，心下鼓，暴上氣。肌痹不已，舍之於脾，其狀四肢懈惰，發咳，嘔汁，上為大塞。皮痹不已，舍之於肺，其狀煩滿而喘嘔。骨痹不已，舍之於腎，其狀善脹，尻以代踵，脊以代頭。上證雖多，必先肌肉不仁。其始，治當以增損小續命湯，證狀小不同者，當依本法。病久入深，魯公酒主之。</p>
<p>增損小續命湯（方缺。）</p>
<p>魯公酒茵芋　川烏頭（炮，去皮臍）　躑躅花　天雄（炮，去皮臍）　防己　石斛（去根，各一兩）</p>
<p>細辛艽（去苗土）</p>
<p>風生乾地黃（各半右　咀，酒四斗，漬十日。每服一合，常令酒氣相續。</p>
<p>若胃干而渴，肌肉不仁，由居處卑濕，以水為事，肌肉濡漬，痹而不仁，是謂肉痿，罌粟湯主之。</p>
<p>罌粟湯罌粟（不計多少）</p>
<p>上研細末，煮稀粥，入蜜飲之，大解金石毒。</p>
<p>若一邊足膝無力，漸漸瘦細，肌肉不澤，上牽脅肋，下連筋急，不能行步，此由大病之後，數亡津液，血少不榮，氣弱不運，肝氣虧損，無血以養筋，筋不榮則干急而痛，亦不能舉，活血丹主之。</p>
<p>活血丹乾地黃（二兩）　當歸（洗）　芍藥　續斷　白朮（各一兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大。溫酒下三十丸，食前服，加至五十丸。如痛甚，足痿不能行，去朮，加杜仲一兩，乳香、葳靈仙、木鱉子仁、草烏頭、白芥子各半兩。</p>
<p>鹿茸丸鹿茸（去毛，切作片子，酥炙，五兩）　乾地黃（二兩）　菟絲子（揀淨，酒浸透，乘潤搗爛，焙，二兩）</p>
<p>杜仲（去粗皮，搗爛，酒拌，炒干，二兩）　牛膝（二兩）　萆　（二兩）　附子（炮，去皮臍，半兩）　乾漆（半兩，炒煙盡為度）</p>
<p>上為細末，酒糊為丸，如梧桐子大。飲下三十丸，食前服。</p>
<p>若時覺腳弱，速灸風市、三裡二穴各一二百壯。若覺熱悶，慎不可灸，大忌酒面房勞。</p>
<p>風市穴，使病患平立垂兩手，合手著腿，中指尖頭即是穴。三裡穴在足膝蓋下三寸外廉，按之陷中是。又法以指深按之，則足趺陽脈不見為準。</p>
<h3>勞傷</h3>
<p>論曰：古書有五勞、六極、七傷，皆由勞傷過度，或五臟六腑互相克賊，一臟偏損，五行逆伏，以致盡絕，皆謂之虛勞也。</p>
<p>若日頓羸瘦，短氣，腰背牽急，膝脛酸痿，小便或赤或白而濁，夜夢紛紜，或夢鬼交，翕翕如熱，骨肉煩疼，由房勞過度，或思慮過多，皆傷神耗精之由，得之心腎，其脈細促。</p>
<p>大骨枯者不治，微弱者可治，脈大數甚不能食者死，大建中湯主之。</p>
<p>大建中湯（見前發熱門）。</p>
<h3>氣病</h3>
<p>論曰：百病皆生於氣，其始必由喜、怒、悲、憂、驚、恐，由是變生，形證不一。若其氣起於一邊，或左或右，循行上下，或在肌肉之間，如錐刀所刺，其氣不得息，令人腹中滿由驚恐恚怒，或冒寒熱，留而不去，為鬱伏之氣，因氣流行，隨經上下相搏痛，久久令人悶，其脈短澀，謂之聚氣，七氣湯、趁痛散主之。</p>
<p>七氣湯　楊仁齋《直指方》云：治七情相干，陰陽升降，氣道壅滯，攻衝作疼。</p>
<p>京三棱　蓬莪朮　青橘皮　香附子（去毛）　陳橘皮（洗）　桔梗　藿香葉　桂（取心）</p>
<p>益智（各一兩半）　甘草（炙，三錢。）胡氏（《經效方》有沉香半兩，無陳橘皮）</p>
<p>上為散。每服五錢，水二盞，生薑二片，棗二枚，煎至一盞，食前溫服。</p>
<p>趁痛散　《可用方》云：治氣搏作痛，肌肉之間如錐刀所刺，胸膈痞悶。</p>
<p>蓬莪朮（炮）　桂心（各一兩）　檳榔　附子（炮，去皮臍）　細辛（去苗，　各半兩）</p>
<p>芫花（炒，別為末，一錢）</p>
<p>上除芫花外，共為末。每服三大錢，水一盞，煎至七分，去滓，調芫花末一字，溫服。</p>
<p>若心下似硬，按之即無，常覺膨脹，多食則吐，氣引前後，噫氣不除，由思慮過多，氣不以時而行則氣結。又曰，思則心有所存，神有所歸，正氣留而不行，其脈澀滯，謂之結氣參橘丸主之。</p>
<p>參橘丸橘皮（四兩，洗）　人參（一兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。米飲下三十丸，食前服。</p>
<p>若咽中如核，咽之不下，吐之不出，久不治之，漸妨於食。或由思慮不常，氣結不散，或因飲食之間，氣道卒阻，因而留滯。因氣者，謂之氣噎，其脈緩澀。因食者，謂之食噎，其脈短澀。氣噎，嘉禾散主之。食噎，神麯丸主之。</p>
<p>嘉禾散（方缺）。</p>
<p>神麯丸神麯（炒，一兩）　橘皮（洗，二兩）</p>
<p>上為細末，煉蜜和為丸，如雞豆大。每服一粒，含化咽津。</p>
<p>若痛而游走，上下無常處，脈亦聚散，或促或澀，謂之游氣，朮香散主之，不止者，延胡散主之。</p>
<p>術香散蓬莪朮（炮，一兩）　人參（一分）　木香（一錢）</p>
<p>上為細末。醋湯調方寸匕。</p>
<p>延胡散延胡索（炒）　當歸（洗，等分）</p>
<p>上為細末。醋湯調方寸匕。</p>
<p>若自咽嗌以下至臍，左右氣各不相通，氣上奔急攻，右臂痛如斧槌，肌肉日消，漿粥不下，心中懊悶，由肺經本受寒邪，留於右邊，以肺在右，或因以大熱藥攻寒，寒本在於經而不能散發，於是火氣但逼於肺，肺燥則氣上迫。但解藥毒，然後理肺，先宜炙肝散，後宜理氣湯。</p>
<p>炙肝散牡丹皮　柴胡　芍藥（各一兩）　白朮（二兩）</p>
<p>上為細末。用豬肝三指許，薄批，摻藥末二錢，慢火炙熟，細嚼，米飲下，食前服。</p>
<p>理氣湯（疑即前七氣湯。）</p>
<p>柏子仁丸　史載之《指南方》多楮實一兩。治臂痛不能屈伸，筋脈攣拘。</p>
<p>柏子仁（炒，研）　乾地黃（各二兩）　茯苓　枳實（麩炒，去瓤）　桂（取心）　五味子　附子（炮香黃（各上為細末，煉蜜和丸，如梧桐子大。酒下三十丸，空心服。</p>
<p>若腹脅有塊，大小成形，按之不動，推之不移，久久令人寒熱如瘧，咳嗽，面目浮腫，動輒微喘，日就羸瘦，由暴怒或驚恐，氣上而不下，動傷於肝，氣結聚成形，始得之在肝，其脈牢大而結，不傳可治，沉香煎主之。</p>
<p>沉香煎石斛（五兩）　椒（去目，炒出汗）　附子（炮，去皮臍）　秦艽（去土）　鱉甲（煮，刮去筋膜，炙）　柴胡（去苗）　沉香　木香　檳榔　黃　（各二兩）</p>
<p>上為末，先用枸杞根新者十斤，淨洗槌碎，好酒二斗，煮至七升，取出枸杞，別用好酒三升，拍洗令淨，漉去滓，濾過，並於前煎酒內，更入熟蜜四兩，再熬成膏，和藥末，丸如梧桐子大。飲下二十丸，食前服。</p>
<h3>血證</h3>
<p>論曰：諸陽統氣，諸陰主血。陰盛則陽虧而陽病，陽盛則陰虧而陰病。陽氣侵陰，血失常道，故或吐或衄，或從口，或從鼻。若暴出而色鮮，心煩燥悶，時欲引飲，出自三斗，陽入於陰也。血得熱則流散，譬如天地之經水，天暑地熱，則經水沸溢而壟起，故有內衄肺疽其證大同而小異。其脈洪數者為逆，微小者為順。宜梔子柏皮湯，煎金湯。大熱者宜地黃若吐血時，先聞腥臊臭，出清液，胸脅支滿，妨於食，目眩，時時前後血，此由素經大奪血，或醉入房中，氣竭傷肝，女子則月事衰少不來，病名血枯，梔子柏皮湯主之。</p>
<p>梔子柏皮湯黃柏　梔子（各一兩）　甘草（半兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>煎金湯金花並莖葉陰乾，不拘多少。</p>
<p>上濃煮汁，頓服立定。</p>
<p>地黃煎生地黃汁（半斤）　大黃（末，一兩）</p>
<p>上將地黃汁熬耗一半，內大黃末同熬，候可丸，如梧桐子大。熟水下五粒，未效，加至十粒。</p>
<p>若吐血，服湯後轉加悶亂煩躁，紛紛欲嘔，顛倒不安，由胸上有留血，其脈沉伏，急須吐之，人參散主之。</p>
<p>人參散人參蘆上為末。水調下一、二錢。</p>
<p>若血隨嘔出，胸中痞悶，嘔畢則目睛痛而氣急，由怒氣傷肝膽，血隨嘔出，竹皮湯主之竹皮湯青竹皮　甘草（炙）　芎　黃芩　當歸（洗，各六分）　芍藥　白朮　人參　桂心（各一兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若先吐血，血止後嗽，嗽中血出如線，痛引脅下，日漸羸瘦，由悲憂傷肺。肺主諸氣，血常隨之，氣傷則血無以運，故橫流而暴出，後隨病而上下也。其脈緩小者可治，細數加急者不可治，黃　湯主之。</p>
<p>黃　湯黃　（蜜炙，一兩）　白朮（炒，二兩）　人參　甘草（炙，各一兩）　白芍（一兩）　陳皮（半兩）　藿香（半兩）</p>
<p>上為散。每服四錢，水一盞半，煎至七分，去滓溫服。</p>
<p>若衄血吐血，發作無時，肌肉減少，由氣虛弱，或從高墮下，勞傷所致，其脈虛弱，當補陰平陽，阿膠散主之。</p>
<p>阿膠散阿膠（蛤粉拌炒，一兩半）　杏仁（炮，去皮尖，七錢）　馬兜鈴（焙）　牛蒡子（炒，各一兩）　甘草（炙）　糯米（一兩）</p>
<p>上為細末。熟水調下一二錢。</p>
<p>若吐血腹中絞痛，汗自出，胸中悶，由飲食傷胃，胃氣不轉，氣上衝胸，所食之物與氣迫蹙，因胃裂，白朮湯主之。</p>
<p>白朮湯（方缺）</p>
<h2>卷三</h2>
<h3>諸積</h3>
<p>論曰：若腹中成形作塊，按之不移，推之不動，動輒微喘，令人寒熱，腹中時痛，漸漸羸瘦，久不治之，多變成水虛勞，亦由憂思驚恐寒熱得之。陰陽痞滯，氣結成形，其脈結澀謂之積氣，萬安丸主之。</p>
<p>萬安丸大戟（炒）　甘遂（炒）　牽牛（炒）　五靈脂（各半兩）　芫花（炒，一分）　膽礬（一錢，研）</p>
<p>細墨（燒，一蝥（二十個，去頭去翅）</p>
<p>上為細末，白面糊為丸，如綠豆大。生薑橘皮湯下一粒，日二服，病去六七分即住服。</p>
<p>史氏《指南方》有續隨子、郁李仁、信砒各一分，無延胡索、巴豆。袁當時《大方》有砒一分，無斑蝥、芫青、巴豆。</p>
<p>若左脅下如覆杯，有頭足，久不已，令人發痰瘧，寒熱，咳，或間日也。始由肺病傳肝者，當傳脾，脾乘王而不受邪，其氣留於肝，故結而為積，其脈澀結，麝香丸主之。</p>
<p>麝香丸蓬莪朮（炮，一兩）　桂心　當歸　人參（各半兩）　細辛（去苗）　川烏頭（炮，去皮臍，各一分）　巴豆（一分，去皮，出油）</p>
<p>上研細末，白面糊為丸，如綠豆大。食後飲下三粒。史氏《指南方》無蓬莪朮，有芍藥一兩。</p>
<p>若心下如盤，久不已，令人四肢不收，發黃膽，飲食不榮肌膚。始由肝病傳脾，脾當傳腎，腎乘王而不受邪，氣留於脾，其脈緩澀時結，謂之痞氣，三棱煎主之。孫氏《仁存方》云：兼治食症、酒症、血蠱、氣塊、血瘕，時發刺痛，婦人血分，男子脾氣橫泄。</p>
<p>三棱煎京三棱銼　蓬莪朮（各四兩，銼）　芫花（一兩）</p>
<p>上用米醋三升，煮令醋盡，獨炒芫花令干，余二味切片子，焙乾，同為末，白面糊為丸如豌豆大。橘皮湯下三粒，以知為度。</p>
<p>若從少腹上衝心胸，咽喉發痛，如　肝狀，發作欲死，由脾病傳腎，腎當傳心，心乘王而不受邪，氣留於腎，結而為積，其脈沉結，謂之賁　，賁　湯主之。</p>
<p>賁　湯甘草（炙）　川芎　半夏（湯洗七遍）　芍藥　黃芩（各二兩）　葛根　甘李根皮（各五兩）</p>
<p>上為散。每服五錢，水二盞，薑五片，同煎至一盞，去滓溫服。　史氏《指南方》加當歸一兩。孫氏《仁存方》加乾薑一兩一分，當歸二兩，無葛根。</p>
<p>若脈大而散，時一結，謂之伏梁，伏梁丸主之。</p>
<p>伏梁丸青皮（白馬尿浸三日，令軟透，切，三十個，）巴豆（去皮，十五個，與青皮同炒干，去巴上為末，白面糊為丸，如綠豆大。飲下五粒，未知漸加至十粒。</p>
<p>若身體及髀股　皆腫，環臍而痛不可動，動之為水，亦名伏梁，椒仁丸主之。</p>
<p>椒仁丸五靈脂　吳茱萸（炒）　延胡索（炒，各半兩）　芫花（醋浸一宿，炒，一分）　續隨子（去皮，研）</p>
<p>仁甘遂（炒）　附上為細末，白面糊為丸。豌豆大，橘皮湯下一粒，早晨、日午、臨臥服。如婦人血分，則去木香，加斑蝥、芫菁各三十枚，去頭足翅，炒當歸半兩。</p>
<h3>諸痛</h3>
<p>論曰：諸心腹痛者，或外邪來客，或氣相干，其卒然痛而即止者，此寒氣客於脈外，得寒則縮蜷絀急，外引小絡，得熱即止，宜先用熨法，後以良薑散主之。</p>
<p>熨法《指南方》云：治心腹痛，卒然而止，遇寒再發。</p>
<p>鹽（半斤，炒極熱）</p>
<p>上以舊帛包，熨痛處。　《指南方》云：漸去至一重。</p>
<p>良薑散高良薑（五兩）　厚朴（去皮）　薑汁（塗，炙，二兩）　當歸　桂心（各三兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若腰者腎之外候，足太陽經之流注。如痛連小腹，不得仰俯，　短氣，由腎氣虛弱，有所不榮，補腎散主之。</p>
<p>補腎散杜仲（去粗皮，杵碎，酒拌，炒焦，一兩）　桂（去皮）　牡丹皮（各半兩）</p>
<p>上為末。每服三錢，用豬腎一個，批開，糝藥在內，入鹽少許，以線扎定，水煮熟，空心食之。</p>
<p>若隱隱腰痛，以熱物熨痛處即少緩，由處卑濕，復為風邪傷足太陽之經，其脈緩澀，白朮散主之。</p>
<p>白朮散白朮（二兩）　芍藥（三兩）　桂（去皮）　附子（炮，去皮臍，各一兩，銼）</p>
<p>上為細末。溫酒調二錢匕，食前服。</p>
<p>若腰痛不能轉側，由勞役動傷經絡，或從高墮下，氣滯於腰，正氣流行，相搏則痛，其脈沉，大小不常，謂之　腰，趁痛丸主之。</p>
<p>趁痛丸（諸氣門見趁痛散）</p>
<p>若腰如錐刀所刺，大便黑色，小便赤黑，此留血滯於腰間，謂之血瀝腰痛，其脈澀，當歸丸主之。</p>
<p>當歸丸當歸（三兩，銼碎）　水蛭（好者，炒，三十個）　桃仁（去皮尖，三十個，炒，研）</p>
<p>上為末，酒糊為丸，如梧桐子大。酒下十粒，未知，加至三十粒。</p>
<p>若腰冷，腹重如帶五千錢，如坐於水，由腎經為陰濕所逼，復受風冷，久不治，變成水病，腎著湯主之。</p>
<p>腎著湯甘草（炙）　乾薑（各二兩）　白茯苓　白朮（各四兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓，食前溫服。</p>
<p>若腰脊不舉，由遠行勞倦，逢大熱而渴，陽氣內伐，熱舍於腎，水不勝火，則骨枯而髓減，蓋陽明並腎，則腎脂枯。而宗筋主束骨而利機關也，是謂骨痿，菟絲子丸、補腎散主之菟絲子丸菟絲子（揀淨，酒浸透，搗爛，焙乾，二兩）　牛膝（酒浸，一兩）　杜仲（去粗皮，杵碎，酒拌一宿，炒焦，三兩）　乾地黃（焙，二兩）　萆　（一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。飲下三十粒，食後服。</p>
<p>補腎散（見前。）</p>
<p>若脅痛不得息，痛則咳而汗出，由邪客於足少陽之絡，屬膽。宜灸足小指次指爪甲上與肉交處七壯，竅陰二穴也。</p>
<p>若臂外　痛，手不及頭，心煩喉痹者，以邪客於手少陽之絡，以針刺手大指次指之端，去爪甲如韭葉，令血出而止。</p>
<p>若臂痛不能屈伸，此邪客於臂掌之間，取腕踝骨後，以指按之極痛，刺之留二呼，急出針，或灸。</p>
<p>若筋拘攣，背急痛，引脅下，從項推下夾脊，按之應手痛者，於其上灸七壯，未定，加至十四壯。</p>
<p>若痛引小腹，由寒氣客於厥陰之脈，或脅肋相引，腎肝脈弦大，久成寒疝，桂枝烏頭湯主之。</p>
<p>桂枝烏頭湯桂心（三兩）　芍藥（三兩）　烏頭（炮，去皮臍，二兩半）　甘草（炙，二兩）</p>
<p>上為散。每服五錢，水二盞，薑五片，棗一枚，同煎至一盞，去滓，入蜜半匙許，再煎一二沸，稍熱服。</p>
<h3>眩暈</h3>
<p>論曰：頭眩之狀，謂目眩旋轉，不能俯仰，頭重不能舉，目不能開，閉則不能視物，（史氏《指南方》云：觀物如反，或如浮水。）或身如在車船上，是謂徇蒙招尤，目瞑耳聾，下實上虛，過在足少陽厥陰，由肝虛血弱，則風邪乃生，蓋風氣通於肝。又曰，諸風掉眩皆屬於肝。左手關脈虛弦，謂之風眩，香芎散、桃紅散主之。</p>
<p>香芎散芎　獨活　旋覆花　本（去苗）　細辛（去苗）　蔓荊子（各一兩）　石膏（研）　甘草（炙）　荊芥穗（各半兩）</p>
<p>上為末。每服五錢，水一盞，薑三片，同煎至七分，去滓溫服，不拘時。</p>
<p>桃紅散白附子（新羅者）　黃丹（等分）</p>
<p>上同炒，候黃丹深紫色，篩出黃丹不用，只將白附子為末，清茶調下一錢匕。</p>
<p>若頭眩，發則欲嘔，心下溫溫，胸中如滿，由胸上停痰，胃氣不流，盤郁不散，氣上騰入腦，腦滿則眩，關脈沉弦，或謂之痰眩，旋覆花丸主之。</p>
<p>旋覆花丸（見前熱證門。）</p>
<p>若但暈而不眩，發則伏地昏昏，食頃乃蘇，由榮衛錯亂，氣血溷濁，陽氣逆行。（《指南下流氣飲子紫蘇葉　青皮　當歸（洗）　芍藥　烏藥　茯苓　桔梗　半夏（湯洗七遍，焙乾，為末，薑汁各三分）　木香（一分）　連皮大腹（銼，薑汁浸一宿，焙，一兩）　川芎（三分）</p>
<p>上為散。每服五錢，水二盞，生蓋三片，棗一個，同煎至一盞，去滓溫服。</p>
<p>草烏頭湯草烏頭（去皮尖，生用）　細辛（去苗）　茶芽（等分）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓緩緩服盡。</p>
<p>若但欲上視，目瞑不能開，開而眩，唾出若涕，惡風振寒，由腎氣不足，動作勞損，風搏於肺，腎氣不足，膀胱不榮於外，故使強上瞑視。因其勞而受風在肺，故唾出若涕而惡風謂之勞風，芍藥黃　湯主之。</p>
<p>芍藥黃　湯芍藥（二兩）　黃　（三兩）　川芎（二兩）　烏頭（炮，去皮，半兩）</p>
<p>上為散。每服五錢，水二盞，薑三片，棗一個，同煎至一盞，去滓溫服。</p>
<h3>厥證</h3>
<p>論曰：若暴厥卒然不知人事，身脈皆動，其狀如尸，聽其耳中，如循嘯聲，股間暖，由邪氣折於手足少陰、太陰、足陽明之絡，五絡俱竭，腎氣微，少精血，奔氣促迫，上入胸膈宗氣反聚，血結心下，陽氣下墮，陰氣卒上而不交，陰陽離居。身溫而汗出，氣復，反則青身冷，此為入臟即死，謂之尸厥。先以竹管吹左耳，極三度，又吹右耳如前，灸熨、斗兩脅，以石菖蒲末著舌下及吹鼻中。又刺足大指內側，爪甲去端如韭葉，入一分，留三呼謂隱白穴也，出之。又刺足心涌泉穴，如上法。又刺足中指爪上，令破，如上法，謂厲兌也。又刺手大指內側，去端如韭葉。又刺手心主，謂中衝穴也。又刺掌後銳骨之端，謂神穴也。又剔取頭左角之發，燒灰，酒服方寸匕，不能飲，灌之後，宜太乙神精丹。</p>
<p>太乙神精丹（方缺。）</p>
<p>若居常無苦，忽然如死，身不動，默默不知人，目閉不能開，口噤不能語，又或似有知而惡聞人聲，或但如眩冒，移時乃寤，此由亡汗過多，血少，氣並血中，氣血爭，陰陽亂，氣過血還則陰陽復通，而人乃寤，謂之鬱冒、血厥，此證多生婦人，男子亦有之，白微湯、倉公散主之。</p>
<p>白薇湯白薇（一兩）　當歸（一兩）　人參（半兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>倉公散瓜蒂　藜蘆　雄黃（研）　礬石（火　一伏時，研）</p>
<p>上等分為末。以豆許吹鼻內，醒為度。</p>
<p>若卒然昏冒無所知，或妄言語，此由暴驚，心無所倚，神無所歸，久不治，陰陽相並，或陰氣並陽，陽氣並陰，令人九竅閉塞，狀類尸厥，菖蒲散主之。</p>
<p>菖蒲散石菖蒲（一兩）　麝香（一錢，研）</p>
<p>上為細末。酒調服二錢，或飲亦得。</p>
<p>若忽然螈　目不能語，喉中有聲，大便不通，胸滿欲嘔，或惡人聲，聞人聲則驚，或時叫，此得之暴驚，氣積而不散，伏痰聚於中脘，濕漬於脾，久而脾氣既耗，之，則風動四末，宜先吐之，以勝金丸，次宜玉壺丸，以大便利即止，有熱則脈洪數郁於心，鐵粉丸主之。</p>
<p>勝金丸（方缺。）</p>
<p>玉壺丸（方缺。）</p>
<p>鐵粉丸鐵粉（二兩）　朱砂（一兩，研）　牛黃（研）　天竺黃（研）　鉛霜（研，各半兩）　天南星上為末，薑汁煮糊為丸，如梧桐子大。生薑湯下五丸。</p>
<p>若素無疾，而暴得螈　，發訖即如常，經隔月日又復如前，由陰陽失其常度，氣血相並也，此謂之癇，宜龍齒丸、烏鴉散、獨活湯主之。</p>
<p>龍齒丸牛黃（研）　麝香（研，各半錢）　羚羊角（銼）　龍齒　龍骨　羊齒（火　赤，各一分）　朱砂（研，半兩）　蛇退（炒）　白僵蠶（炒，各一分）</p>
<p>上為末，煉蜜和丸，如梧桐子大。飲下五丸，臨臥服。</p>
<p>烏鴉散臘月烏鴉一個，去足嘴大翅，用麝香一錢，填口內，以好紙通裹了，再用鹽紙和泥團了候干，炭火燒，煙盡取出為末，更入麝香一錢，研和。飲調方寸匕，日二服。</p>
<p>獨活湯獨活（一兩）　細辛（去苗，一分）　僵蠶（炒，半兩）　牡丹皮（三分）　防己（半兩）　紫菀（去苗，一分）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若病患喜怒不常，獨閉戶牖而處，惡聞人聲者，蓋陽氣常動，因暴折而難決，肝膽氣鬱而不伸，故令喜怒，謂之陽厥，宜鐵落飲，無食肉，及菖蒲散。</p>
<p>鐵落飲（方缺。）</p>
<p>菖蒲散（見前。）</p>
<p>若言語不避親疏，或棄衣而走，登高而歌，此思慮用心太過，神散不藏，又或悲哭，忽忽不樂，神有餘則笑，為狂，勝金丸主之。神不足則悲，露朱丹主之。</p>
<p>勝金丸（方缺。）</p>
<p>露朱丹好朱砂（一兩，碎）</p>
<p>上用真琉璃器盛之，露四十九夜，陰雨不算數。研細，入牛黃半錢，研和，滴熟蜜珠子丸如梧桐子大。空心人參湯下一粒。</p>
<p>若腫首，頭重足不能行，發則　仆，此太陽厥也，烏頭湯主之。</p>
<p>烏頭湯（見前眩暈門。）</p>
<p>若喜怒嗌痛，不肉食，氣奔走上，刺足下中央之脈，血出而止。</p>
<h3>痰飲</h3>
<p>論曰：若咽中如炙肉臠，咽之不下，吐之不出，由胃寒乘肺，肺胃寒，則津液聚而成痰，致肺管不利，氣與痰相搏，其脈澀，半夏厚朴湯主之。</p>
<p>半夏厚朴湯半夏（湯洗七遍，五兩）　厚朴（去皮，薑汁塗炙，三兩）　茯苓　紫蘇葉（各二兩）</p>
<p>上為散。每服五錢，水二盞，生薑十片，同煎至一盞，去滓，食前溫服。</p>
<p>若心下盤旋，欲吐不吐，由飲癖停留不散，枳朮湯主之枳朮湯白朮（四兩）　枳實（麩炒，去瓤，二兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓，食前溫服。</p>
<p>若腹滿，按之沒指，隨手而起，余與正水皆同，但四肢聶聶動，其脈亦浮，由肺氣久虛為風邪所客，氣不得運，百脈閉塞，氣結陰聚成水，謂之皮水，亦宜發汗，先以防己湯，以大豆散。</p>
<p>防己湯防己（三兩）　人參（四兩）　桂心（二兩）　茯苓（四兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>大豆散（方缺。）</p>
<p>若咳嗽，喘不得臥，面浮腫，脈弦急或遲，由肺胃停寒，水聚成飲，支乘於心，氣不得下，謂之支飲，宜先用十棗湯瀉之，後宜防己湯主之。</p>
<p>十棗湯芫花（炒黑）　甘遂　大戟（各等分）　大棗（十枚）</p>
<p>上先煮棗去滓，內前藥末。強人服一錢，虛人服五分。若病不除，再服，得快下利為度後以糜粥自養。</p>
<p>防己湯（見前。）</p>
<h3>消證</h3>
<p>論曰：消渴之病，其來有二，或少服五石湯丸，恣欲不節，不待年高氣血衰耗，石性獨存，火烈焦槁，精血涸竭，其狀渴而肌肉消。又有積久飲酒，酒性酷熱，熏蒸五臟，津液枯燥而血澀，其狀渴而肉不消。如解五石毒者，宜罌粟湯。欲止渴者，宜菟絲子丸。大渴而加煩熱者，宜馬通散、栝蔞粉。</p>
<p>罌粟湯（見前痹證門。）</p>
<p>菟絲子丸菟絲子（不計多少，揀淨，水淘，酒浸三宿）</p>
<p>上控干，乘潤搗，羅為散，焙乾，再為細末，煉蜜和丸，如梧桐子大。食前飲下五十粒一日二三服，或作散，飲調下三錢。《瑣碎錄》云：用酒侵晒於日中，三兩日一換酒，用時洗去酒，濃煎湯飲。</p>
<p>馬通散（方缺。）</p>
<p>栝蔞粉（方缺。）</p>
<p>若其人素渴飲水，一旦不飲不渴，小便日夜數十行，氣乏肉消脫，此消中，腎氣敗也，茱萸丸主之。</p>
<p>茱萸丸蓯蓉（洗，切，酒浸，焙）　五味子（炒）　山茱萸　干山藥（等分）</p>
<p>上為末，酒糊為丸，如梧桐子大。飲下三十粒，空心服。</p>
<h3>疸病</h3>
<p>論曰：黃膽之病，皆屬於脾，脾屬土而色黃，惡濕，濕勝則土氣不行而鬱，故發則真色見。蓋黃膽本得之濕，瘀熱在裡，濕熱相搏，身必發黃。若先有留熱，而後為濕氣所加，則熱多而濕少，治之先導其熱。若先為濕氣所乘，而後有熱，則濕多而熱少，治之先去其濕，去其濕，則熱從而去。亦有因冷痞結，陰加於陽，上下氣不通，而脾氣不行，則陰氣鬱而生濕，其狀胸中痞，嘔逆，時惡寒，當先除痞，利其小便，則濕自去，脈洪大，大便利加渴者死。脈微小，小便不利，不渴則生。若病患一身悉黃，四肢微腫，胸滿不得臥，汗出如黃柏汁，此由大汗出，卒入水中所致，苦酒湯主之。</p>
<p>苦酒湯黃　（五兩）　芍藥　桂心（取心，各三兩）</p>
<p>上為散。每服五錢，水二盞半，苦酒半盞，同煎至一盞，去滓溫服。</p>
<p>若因他病未除，忽然一身面目悉黃如橘，瘀熱在裡也，或因大熱以冷水洗之，濕熱相搏熏蒸肌肉，謂之黃膽，柏皮湯主之，茵陳五苓散主之。</p>
<p>柏皮湯黃柏　黃連　黃芩（各等分）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>茵陳五苓散茵陳（一兩）　豬苓　茯苓　白朮（炒，各十八銖）　澤瀉（一兩半）　桂心（半兩）</p>
<p>上為散。每服五錢，水一盞半，煎至一盞，去滓溫服。</p>
<p>若心下懊痛，足膝脛滿，小便黃，面發赤斑，由大醉當風入水，濕加於熱，內蒸脾氣，謂之酒疸。治屬飲家，茯苓半夏湯主之。</p>
<p>茯苓半夏湯茯苓（四兩）　半夏（二錢半，湯洗七遍）　旋覆花（三錢）　甘遂（銼末，炒，一錢）</p>
<p>上　咀，水二盞，煎至一盞，去滓，將甘遂末分二服，用藥汁半盞調服，以利為度。</p>
<p>若脈浮腹滿欲嘔吐者，先吐之，瓜蒂散主之。脈沉，腹滿，大便秘，先利之，大黃丸主之。</p>
<p>瓜蒂散瓜蒂　赤小豆　秫米（等分）</p>
<p>上為細末。粥飲調方寸匕，以吐為度。</p>
<p>大黃丸大黃（煨）　葶藶（各等分）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。蜜湯下十粒，以利為度。</p>
<h2>卷四</h2>
<h3>咳嗽</h3>
<p>論曰：古書有咳而無嗽，後人以咳嗽兼言之者，蓋其聲響亮。不因痰涎而發，謂之咳痰涎上下隨聲而發，謂之嗽，如水之漱蕩，能漱其氣也。諸咳之原，其來雖各不同，其氣至於肺而後發。若非其時感邪而發咳者，固因臟氣虛弱，抑或五行之氣，內相剋制。病作治，無使傳注，不即治之，傳注他臟，遂至不起。然有因寒者，因風者，因熱者。風寒從至，熱則從內起。風寒則諸經自受其邪，熱則臟腑熏蒸，乘而為病，風則散之，寒則溫之熱則調之、瀉之。因風者惡風，出風中則咳甚；因寒者，遇寒則劇；因熱者，得熱則發。</p>
<p>因外感風寒，不即治之，邪氣留淫日深，攻傷臟氣，一臟受極，遂傳其所不勝。如肺經受久而不去，咳則右脅痛，不可轉側，遂傳之肝。肝屬木，肺屬金，金克木，咳引左脅，臥，臥則咳劇，遂傳之脾。脾，土也，為木來克，則大便鴨溏，甚則螈　如癇狀，腎屬水，為土所克則骨痿，不能起於床，手足浮腫，次傳之心則死。若因臟氣自心乘於肺，急補肺而瀉心，補肺宜辛甘，瀉心宜苦。若脾熱熏蒸，但瀉其脾，治肺以辛溫，謂之間傳，學宜知此。</p>
<p>若肺咳，惡風脈浮，小青龍湯主之。惡寒脈緊，杏子湯主之。微弱者，鐘乳丸主之。惡熱喉燥，脈數甚則咯血，天門冬湯、杏子湯主之。孫氏《仁存活法秘方》：肺咳之狀，喘息有音，甚則咯血。</p>
<p>小青龍湯（見前寒證門。）</p>
<p>杏子湯杏仁（去皮尖）　乾薑　細辛（去苗）　甘草（炙，各半兩）　五味子　桂心（各一兩）</p>
<p>上為散。每服五錢，水二盞，棗一個，同煎至一盞，去滓溫服。痰多者，加半夏半兩，湯洗七遍。</p>
<p>鐘乳丸鐘乳（銀石器內煮一時，研一伏時，一兩）　紫菀（去苗及枯燥者，半兩）　桑白皮（一分，銼，微炒）　款冬花　黃　（各半兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。飲下三十丸，食前服。</p>
<p>天門冬湯天門冬（去心）　紫菀（去苗及枯燥者，焙）　知母（焙，各一兩）　桑白皮　五味子　桔梗（各半兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。咳血者，阿膠半兩，炒燥。大便澀而喘，加葶藶半兩。</p>
<p>若心咳，脈浮惡風，桂心湯主之。惡寒，時口噤，脈緊大，附子細辛湯主之。惡熱脈疾小便赤澀，茯苓湯主之。</p>
<p>桂心湯　孫氏《仁存活法秘方》云：心咳之狀，上引心痛，喉介介然如梗，甚則咽喉腫痛，脈浮惡風，宜桂心湯。</p>
<p>人參　桂（取心）　白茯苓（各一兩）　麻黃　貝母（炒，各半兩）　遠志（去心）　甘草（炙各一分）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>附子細辛湯附子（炮，去皮臍）　細辛（去苗，各半兩）　人參　菖蒲（各一兩）　甘草（炙，半兩）</p>
<p>五味子（二兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>茯苓湯茯苓　麥門冬（去心）　黃芩（各一兩）　秦艽（去土）　柴胡（去苗，各半兩）　杏仁（去皮尖，一分）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若肝咳，惡風脈浮弦，射干湯主之。　孫氏《仁存活法秘方》云：肝咳之狀，咳則兩脅痛，甚則不可轉側，轉側兩脅下滿。　惡寒脈浮緊，五味子煎主之。惡熱脈疾，目赤頭眩，百部丸主之。</p>
<p>射干湯射干　麻黃（去根節，各半兩）　五味子　半夏（湯泡七遍，各一兩）　款冬花（二兩）</p>
<p>上為散。每服五錢，水二盞，薑五片，同煎至一盞，去滓溫服。</p>
<p>五味子煎五味子（五兩）　桂（取心，一兩）　川烏頭（炮，去皮臍，一兩）</p>
<p>上為末，水五升，煎至一升，絞取汁，用好蜜二兩，再熬成膏。溫酒化彈子大，食前服百部丸百部（八兩，為細末）　生地黃（五斤，取汁，熬成膏）</p>
<p>上將地黃膏和百部為丸，如梧桐子大。飲下三十粒，食後服。</p>
<p>若脾咳惡風脈浮緩，麻黃厚朴湯主之。　孫氏《仁存活法秘方》云：脾咳之狀，咳則右脅下痛引肩背，痛甚則不可以動，動則咳劇。　口中如含霜雪，中脘隱隱冷，惡寒脈緊弱，溫中丸主之。大便堅，從腹上至頭發熱，脈疾，茯苓丸主之。</p>
<p>麻黃厚朴湯厚朴（去皮，薑汁塗，炙）　麻黃（去根節）　杏仁（去皮尖）　橘皮（洗，各一兩）　甘草（炙）　半夏（湯洗七遍，各半兩）</p>
<p>上為散。每服五錢，水二盞，薑五片，同煎至一盞，去滓溫服。</p>
<p>溫中丸乾薑　半夏（湯洗七遍，各一兩）　白朮（二兩）　細辛（去苗）　胡椒（各半兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。米飲下三十粒，食前服。</p>
<p>茯苓丸茯苓　黃芩（各一兩）　五味子（半兩）　半夏（湯洗七遍，切，薑汁浸，焙，半兩）　橘皮（洗，一兩）　桔梗（半兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。米飲下三十粒，食後服。</p>
<p>若腎咳惡風脈浮，白前湯主之。　孫氏《仁存活法秘方》云：腎咳之狀，咳則腰背相引疼痛。惡寒，唾冷沫，小便數，脈緊，椒紅丸主之。　惡熱，骨間煩疼，地骨皮湯主之。</p>
<p>白前湯白前　細辛（去苗）　川芎　五味子（各一兩）　麻黃（去根節）　芍藥　桂（取心，各半兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>椒紅丸椒（去目，炒出汗，半兩）　款冬花　紫菀（去苗及枯燥者）　乾薑（各一兩）　礬石（火一伏時）　附子（炮，去皮臍）　細辛（去苗）　皂莢（去子，酥炙，各半兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。米飲下三十粒，食前服。</p>
<p>地骨皮湯地骨皮　百部（各二兩）　芍藥　赤茯苓（各一兩）</p>
<p>上為散。每服五錢，水二盞，竹葉十片，同煎至一盞，去滓，食後溫服。</p>
<p>若顴骨赤，大如錢，日晡發熱者死。若潮熱有時，五心煩熱，搏於營衛，不咳者易治，脈促澀者難治，青蒿煎、柴胡芍藥湯主之。</p>
<p>青蒿煎青蒿（汁，一升）　人參　麥門冬（去心，各一兩）</p>
<p>上將二味為末，用青蒿汁同熬成膏，丸如梧桐子大。飲下二十粒，食後服。</p>
<p>柴胡芍藥湯柴胡（去苗）　芍藥（各一兩）　地骨皮　石膏（各半兩）</p>
<p>上為散。每服五錢，水二盞，小麥五十粒，同煎至一盞，去滓，食後溫服。</p>
<p>若但嗜臥，飲食不榮肌膚，或不能食，心腹虛脹滑泄，背膂牽急，勞倦不能動止，或因大病後，或因下利後不復常，得之於脾。脈弦大者不治，四肢煎厥，亦謂之肉極，炙肝散、白朮丸主之。</p>
<p>炙肝散（見前氣證門）。</p>
<p>白朮丸白朮　橘皮（洗，各一兩）　厚朴（去皮，薑汁塗，炙焦）　人參（各半兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。米飲下三十丸。</p>
<p>若咳嗽如膿涕，或微喘急，短氣，脅下痛，皮膚干燥，動則咳極，由形寒飲冷傷於肺經久嗽不已則肺枯燥，令人先寒後熱，脈弱者可治，或緊或弦者不可治。</p>
<h3>喘證</h3>
<p>論曰：凡人一呼一吸謂之息，呼出心肺，吸入腎肝，呼吸之間，脾受其氣，則營衛行陽二十五度，行陰亦二十五度，而周身之氣，無過不及。若藏氣乘並，則榮衛不能循常，氣過周身失度，不能隨陰陽出入以成息，故促迫而喘，諸氣並上於肺，肺管隘，則氣爭而喘也。</p>
<p>其始或因墜墮恐懼，恐則精卻，精卻則上焦閉而氣不行，氣不行則留於肝，肝乘於肺，此喘出於肝也。或因驚恐，驚則心無所倚，神無所歸，氣亂而氣乘於肺，此喘出於心也。或因渡水跌仆，腎氣暴傷，腎氣乘肺，此喘出於腎也。或因飽食過傷，動作用力，穀氣不流行，脾氣逆而乘肺，此喘出於脾也，團參散主之。</p>
<p>若喘而發熱，頸脈皆動，日漸瘦削，由客熱乘肺，或因飲食失宜，氣不轉而氣急，誤服熱藥，火氣熏肺而遂喘，頰赤咽燥，其脈細數，治屬骨蒸，小建中湯、天門冬湯主之團參散人參（一兩）　桑白皮（銼，炒，二兩）　大腹皮（銼，炒，一兩）　麥門冬（去心，一兩）</p>
<p>橘皮（洗，一兩）　吳茱萸（炒）　檳榔（銼，炒）　芫花（炒）　附子（炮，去皮臍）　澤瀉（各半兩實（麩炒，去瓤，半兩）　白朮（半兩）</p>
<p>上為細末，薑汁煮糊為丸，如梧桐子大。米飲下二十粒，食前服。</p>
<p>小建中湯芍藥（六兩）　桂心（三兩）　甘草（炙二兩）</p>
<p>上為散。每服五錢，水二盞，生薑三片，棗二個，同煎至一盞，去滓溫服。</p>
<p>天門冬湯天門冬（去心，一兩）　馬兜鈴　百部（各半兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p>若喘嗽時血出，四肢懈怠，脈浮大而沉，由腎氣上並於胃，氣道壅塞，血無所行而散溢於脾，精不化，上不勝下，脾之絡脈外絕，去胃外歸陽明，白朮丸主之。</p>
<p>白朮丸麥門冬（去心）　人參　茯苓　白朮　澤瀉　生地黃（焙）　大豆卷（各一兩）　桑白皮（炒，二兩）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。米飲下三十粒，食前服。</p>
<p>若病患不臥，臥而有所不安則喘者，臟有所傷，精有所寄，故不得臥而喘，肺氣盛，脈滿大也，牡蠣散主之。</p>
<p>牡蠣散用左顧牡蠣，文片色白正者二兩，先杵為粗末，以干鍋子盛，火燒通赤，放冷，研為細末。每服一錢，濃煎鯽魚湯調下，不拘時。鯽魚重四兩者一個，去鱗肚，濃煎，煎時不許動。</p>
<p>若咳嗽逆，倚息喘急，鼻張，其人不得仰，咽中作水雞聲，時發時止，由驚憂之氣蓄而不散，肺氣鬱，或因過飽勞傷，氣上行而不能出於肺，復遇寒邪，肺寒則諸氣收聚，氣緩則息，有所觸則發，經久則不能治，杏子散主之，及灸腎　百壯。</p>
<p>杏子散杏仁（去皮尖，麩炒黃色，研成膏）　麻黃（為末，等分）</p>
<p>上研和。煎橘皮湯，調二錢匕。</p>
<p>玉腋散人參　川芎　茯苓　桂心（各一兩）　馬兜鈴（半兩）　知母　貝母（炒）　杏仁（去皮尖）</p>
<p>葶藶（炒）</p>
<p>二兩）　橘皮（洗，一上為細末。每服三錢，水一盞半，生薑三片，棗一個，煎至一盞，去滓，食前溫服。</p>
<p>若喘息肺鳴而痿蹶，由有所失亡，所求不得，氣鬱而肺熱葉焦上舉，是謂肺痿，阿膠丸主之。</p>
<p>阿膠丸天門冬（去心）　桔梗　生乾地黃（焙）　阿膠（銼，炒燥）　桑白皮（銼，炒）　麥冬（去心）</p>
<p>柏子仁（炒，研，各半兩）　甘草（炙，一分）</p>
<p>上為末，煉蜜和丸，如彈子大。每服一丸，水一盞，煎至七分，食後溫服。</p>
<h3>嘔吐</h3>
<p>論曰：嘔吐者，由清濁不分，中焦氣痞。若心下牢大如杯，或時寒時熱，朝食則暮吐，暮食則朝吐，關脈弦緊，弦則為虛，緊則為寒，虛寒相搏，此名為格，與關格同也，是謂反胃，青金丹、朴附丸主之。</p>
<p>青金丹硫黃　水銀　木香（末）</p>
<p>上將硫黃水銀二味同研，令不見水銀星子為度，合木香再研，用生薑汁煮糊為丸，如梧桐子大。米飲下三粒，食後服。</p>
<p>朴附丸厚朴（去皮，銼作小塊子）　附子（炮，去皮臍，銼作小塊子，各一兩）　生薑（八兩，去皮取汁）</p>
<p>上將二味，以薑汁同煮，盡汁為度，焙乾為末，酒煮和丸，如梧桐子大。米飲下三粒，食前服。</p>
<p>若心中溫溫常欲嘔，聞食吐酸，由宿寒在胃，不能運水穀，中腕成痰，其關弦，脈小而短，白朮丸、大半夏湯主之。</p>
<p>白朮丸白朮（三兩）　半夏（湯洗七遍，二兩）　橘皮（洗）　乾薑（各三兩）　丁香（一兩）</p>
<p>上為細末，薑汁煮糊為丸，如梧桐子大。薑湯下三十丸，食前服。史氏《指南方》無橘皮。</p>
<p>大半夏湯半夏（一升）　人參（一兩）　白蜜上為末。每服三錢，水一盞，煎至半盞，加白蜜少許，食前服。</p>
<p>若心上汪洋嘈煩，頭目時痛，胸中不利，或嘔膽汁，大便或利或秘，喜渴，此中脘伏痰旋覆丸主之。</p>
<p>旋覆花丸（見前熱證門。）</p>
<p>若心下虛滿，不入飲食，時時欲嘔，嘔無所出，　短氣，由他病瘥後，復為寒邪傷氣氣寒則不能食，胃無穀氣以養，其脈微弱，大藿香散主之。</p>
<p>大藿香散藿香葉　人參　茯苓　桔梗　木香　桂（取心）　白朮（各半兩）　半夏（湯洗七遍，為末半兩，薑汁和成餅子，陰乾）　枇杷葉（十片，刷去毛）</p>
<p>上為末。每服三大錢，水一盞，炒薑絲一分，與藥同煎至七分，去滓，食前溫服。劉孟容《瑣碎錄》名藿香湯。</p>
<p>若心下煩，不喜熱物，得熱即嘔，喜渴，由胃受邪熱，胃熱則氣濁，陰陽渾亂，其脈虛數，或細而疾，竹茹湯主之。</p>
<p>竹茹湯竹茹　橘皮　甘草　半夏　赤茯苓　麥冬　人參　枇杷葉上加薑棗煎，胃寒去竹茹麥冬，加丁香，實火去人參。</p>
<p>若心下悶亂，嘔吐不止，臥起不安，手足躁擾，水漿不下，由冷熱不和，邪正相干，清濁不分，陰陽錯亂，喜冷者因熱，惡冷者因寒，名曰霍亂。其脈弦大者，寒也，大理中湯、半硫丸主之。其脈數疾者，熱也，小藿香散、青金散主之。</p>
<p>大理中湯（方缺。）</p>
<p>半硫丸半夏（湯洗七遍，焙，為末）　硫黃（研，等分）</p>
<p>上研細，生薑汁煮糊為丸。米飲下三十丸。</p>
<p>小藿香散丁香　枇杷葉（去毛）　干葛　赤茯苓　藿香葉　甘草（各等分）</p>
<p>上為末。每服三錢，水一盞，生薑三片，同煎至一盞，去滓溫服。</p>
<p>青金散（方缺。）</p>
<p>若卒然嘔吐，胸中痞悶，氣不下行，由飲食過傷，胸氣滯而不轉，胃中為濁，逆行則吐其脈沉疾，金汁丸主之。</p>
<p>金汁丸（方缺。）</p>
<p>若痛而嘔者，此寒氣客於腸胃，腸胃得寒則聚沫，聚沫則痛，痛則氣逆，逆則津液反出而嘔，其脈緊細而滑，粳米湯主之。</p>
<p>粳米湯附子（炮，去皮臍，切片子，半兩）　半夏（湯浸七遍，切片子，二兩半）　甘草（炙，銼碎，一兩）　陳粳米（二兩半）</p>
<p>上拌和，分作十二服。每服用水三盞，薑十片，同煎至一盞，去滓溫服。</p>
<p>若因嘔而噦者，吳茱萸丸主之。</p>
<p>吳茱萸丸吳茱萸（炒，一兩）　橘皮（洗，二兩）　附子（炮，去皮臍，半兩）</p>
<p>上為細末，白面糊為丸，如梧桐子大。飲下二十粒，食前服。</p>
<h3>小便</h3>
<p><u>附大便</u></p>
<p>論曰：小腸為受盛之腑，傳導水液，若始覺小便微澀赤黃，漸漸不通，小腹膨　，由心經蘊熱，傳於小腸，小腸熱，則滲於脬中，脬辟而系轉，診心脈大而牢，用　葉散，或石葦湯主之。</p>
<p>葉散裹茶　葉（一兩，燒灰）　滑石（半兩，研）</p>
<p>上為細末，沸湯浸服。或小便暴不通，點好茶一杯，入生油三兩，點飲之。</p>
<p>石葦湯石葦（去毛，銼）　車前子（銼，車前葉亦可，等分）</p>
<p>上濃煮汁飲之。若腹脹，溺溲不得，好臥屈膝，陰縮腫，此厥陰之厥，加赤茯苓、黃芩分兩如前。</p>
<p>若卒暴小便不通，臍腹膨急，氣上衝心，悶絕欲死，由忍尿勞役，或從驚恐，氣無所伸乘並膀胱，氣衝脬系不正。診其脈，右手急大，蔥白湯蔥白湯橘皮（洗，三兩，切）　葵子（一兩）　蔥白（三莖，切）</p>
<p>上以水五升，煮取二升，分三服。</p>
<p>固脬丸茴香（炒，一兩）　桑螵蛸（炒，半兩）　菟絲子（揀淨，酒浸一宿，乘潤搗爛，焙乾，二兩）　戎鹽（炒一分）　附子（炮，去皮臍，半兩）</p>
<p>上為細末，煮糊為丸，如梧桐子大。飲下三十粒，空心服。</p>
<p>若小便純血，血下則凝，亦無痛處，　短氣，由陽氣不固，陰無所守，五液注下脈散澀欲絕而身冷者死，蓯蓉丸主之。</p>
<p>蓯蓉丸　史載之《指南方》：治虛勞溺血，加桑螵蛸半兩，炙焦，酒糊為丸，鹽湯下。</p>
<p>菟絲子（揀淨，酒浸一宿，乘潤搗爛，再焙）　肉蓯蓉（洗，切，焙）　鹿茸（去毛，截片酥炙）　乾地黃（等分）</p>
<p>上為細末，煮糊為丸，如梧桐子大。飲下三十粒，空心服。</p>
<p>若大腸為傳導之官，變化出焉。如大便不通者，津液燥也。慎無以烈藥，宜紫蘇丸主之紫蘇丸紫蘇子（去皮，研）　橘皮（洗，各二兩）　知母（一兩）</p>
<p>上為末，用生薑汁調成稀膏，於重湯上煮，不住手攪，候可，丸如梧桐子大。蜜湯下三十粒。</p>
<h3>婦人科</h3>
<p>四物加桂湯　治忽然寒熱。</p>
<p>川芎　當歸（洗，焙）　芍藥　地黃（焙）　桂心（等分）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服。　史載之《指南方》內無川芎。</p>
<p>葶藶丸　治先因小便不利，後身面浮腫，致經血不行，此水乘於血，名曰水分。</p>
<p>甜葶藶（炒）　續隨子（去皮，研，各半兩）　干筍（一兩）</p>
<p>上為細末，熟棗肉和丸，如梧桐子大。煎扁竹湯下七粒。如大便利者，減葶藶、續隨子各一分，加白朮半兩，食後服。</p>
<p>牡丹丸　治經候時行時止，或淋漓不斷，腹中時痛，其脈沉澀，由寒熱邪氣客於胞中，留而為血滯，當有所去乃愈。</p>
<p>大黃（蒸）　附子（炮，去皮臍）　茯苓　牡蒙　牡丹皮　桔梗（各二兩）　芎　人參厚朴（去皮，薑汁塗，炙）　當歸（焙，各半兩）　甜葶藶（炒，各二兩）　椒（去目，炒出汗，半兩）　虻蟲（去頭足翅，五十個）　吳茱萸（炒）　柴胡（去苗）　乾薑　桂（去心，各半兩）</p>
<p>細辛（去苗，上為細末，煉蜜和丸，如梧桐子大。酒下十粒，未知，加至二十粒，食後服。</p>
<p>小薊湯　治經候過多，遂至崩漏，色鮮明如水下，得溫則煩，至於昏悶，其脈數疾微小為順，大者逆，由陰虛陽搏，為熱所乘，傷於衝任，血得熱則流散，衝任不能收也。</p>
<p>小薊莖葉（洗、切、研，服汁，一盞）　生地黃汁（一盞）　白朮（半兩，細銼）</p>
<p>上以水一盞同煎。取一半，去滓，分二服。</p>
<p>人參白朮散　治婦人經候不來，身如病而無病，脈滑大而六位俱勻，謂之陰搏陽，有子也。精神如故，惡聞食臭，但嗜一物，或大吐，時吐清水，此名惡阻，毋作他病治之。</p>
<p>白朮（一兩）　人參（半兩）　丁香　甘草（炙，各一分）</p>
<p>上為末。每服三錢，水一盞，生薑三片，同煎至七分，去滓，食前溫服。</p>
<p>秦艽散　治胎動不安。</p>
<p>秦艽　阿膠（炒）　艾葉（等分）</p>
<p>上為散。每服五錢，水二盞，糯米百粒，同煎至一盞，去滓溫服。</p>
<p>白朮散　治妊娠面目腫，如水狀。</p>
<p>橘皮（洗）　大腹皮　茯苓　生薑（各半兩）　白朮（一兩）</p>
<p>上為末。飲調方寸匕，　食前服。</p>
<p>兔血散　治難產最要，臨產服之。</p>
<p>臘兔血上用蒸餅，切片子，蘸血陰乾為末。煎乳香湯，調服二錢。</p>
<p>半夏散　治胎死腹中，其母面赤舌青者是。</p>
<p>半夏（湯洗七遍，薄切片，薑汁浸三日，炒干）</p>
<p>上為末。溫酒調下一錢。不能酒，用湯。亦治橫生逆產。</p>
<p>桃仁湯　治惡露頓絕或漸少，腰重痛，下注兩股，刺痛如錐刀刺，此留血於經絡，不即通之，大有痛處必作癰腫。</p>
<p>蘇木　地黃　桃仁（去皮尖，炒，各半兩）　虻蟲（去頭足翅，炒）　水蛭（炒，各三十枚）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓溫服，惡露行即住服。</p>
<p>五香湯　治同前。</p>
<p>木香　丁香　沉香　乳香　麝香　升麻　獨活　連翹　桑寄生　木通（各二兩）　大黃（一兩）</p>
<p>上為散。每服五錢，水二盞，煎至一盞，去滓，食後溫服。</p>
<p>沒藥丸　治惡露方行，忽然斷絕，驟作寒熱，臍腹大痛，胸中如以針刺，此大有蓄血留於經絡。</p>
<p>當歸（焙，一兩）　桂心　芍藥（各半兩）　沒藥（一分）　桃仁（去皮尖，炒，一分）</p>
<p>虻蟲（去頭足翅，炒）　水蛭（炒，各三十枚）</p>
<p>上為細末，醋糊丸，如梧桐子大。醋湯下三丸。</p>
<p>皂角散　治乳婦吹奶，由哺兒時，鼻氣衝乳中，忽然腫硬痛急，手揉，服皂角散、栝蔞散及敷藥。不即治之，結癰膿，能殺人。</p>
<p>皂角（燒，細研）　蛤粉（研，等分）</p>
<p>上研細，熱酒調一匙或半錢，急以手揉之，取軟為度。</p>
<p>瓜子湯　治腸頭如以針刺，連穀道。又因痔痛，小便如淋狀，時寒時熱，此由產時用力氣並腸間。亦由陰虛，邪熱乘客留聚腸間，熱結恐成腸癰。</p>
<p>袁當時《大方》云：崔左丞屢用有效。</p>
<p>薏苡仁（炒，四兩）　桃仁（去皮尖）　牡丹皮（各三兩）　瓜子（一兩）</p>
<p>上為末。每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<p><u>皇清嘉慶十有三年歲在著雍執徐陽月照文張海鵬較梓</u></p>
