<header data-type="book">
<h1>虛損啟微</h1>
</header>
<h2>張序</h2>
<p>余友洪君緝庵，病棄舉業，潛心醫學。不數年，得其奧，嘗示所著《虛損啟微》。采，辨論明晰，非他方書所及，或以多錄成方為議，不知成方者規矩也，規矩積古今而不可易，有所變通，視夫人之善用其巧。緝庵此書，真具有與人規矩，不能使巧之微。緝庵又最孝，其學醫也，雖因已病，而實圖治其母夫人之疾。始余嘗見其秤藥量水，心極精審，多語余藥性，故余於醫道獨學緝庵而得者，其所著敢易視耶？況又為人之所不能易視者耶？惜其亡後，多致散逸，恐不久為醫家覆瓿用矣，特錄存之。</p>
<p><u>時乾隆辛巳小春中浣羅山張廷枚識</u></p>
<h2>自序</h2>
<p>陸宣公見古方，必手抄錄。范希文自以不為良相，當為良醫。余寢瘵也久，倦於文史方書，於虛損一症，尤加體會，自救也因以救人，肱蓋三折矣。歲壬申，隨侍山陽官署，暇輒以己意條疏數語，積而成卷。或亦啟微之論，發古人之所未發，而其方則仍采諸古，古即不宜於今，斟酌之，增減之，神而明之，存其人也。</p>
<p><u>重九後三日，病夫洪煒識於淮署之飲默軒</u></p>
<h2>卷上</h2>
<h3>經義</h3>
<p>上古天真論曰：今時之人，以酒為漿，以妄為常，醉以入房，以欲竭其精，以耗散其真，不知持滿，不知御神，務快其心，逆於生樂，起居無節，故半百而衰也。</p>
<p>本神篇曰：五臟主藏精者也，不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。</p>
<p>故智者至，長生生氣通天論曰：凡陰陽之要，陽密乃固，兩者不和，若春無秋，若冬無夏。（猶四時之缺一，精宣明五氣論曰：久視傷血，久臥傷氣，久坐傷肉，久立傷骨，久行傷筋。</p>
<p>痹論曰：陰氣者，靜則神藏，躁則消亡。</p>
<p>五癃津液別篇曰：陰陽不和，則使液溢，而下流於陰，髓液皆減而下，下過度則虛，背痛而脛酸。（陰陽不和，則精氣俱亂，不相統攝故液溢於下，而流泄陰竅，以至真陰日損，腰痛脛酸，此即勞瘵之漸也。）</p>
<p>調經論曰：陽虛則外寒，陰虛則內熱。</p>
<p>衛氣篇曰：下虛厥，上虛則眩。</p>
<p>通評虛實論曰：所謂氣虛者，言無常也。（聲音不能接續。）尺虛者，行步　然。（　，音匡，怯弱也。尺虛則下虛。）</p>
<p>脈虛者，不象陰也。（氣口獨為五臟主藏，為陰而在裡，今其脈中空不象陰矣。）如此者，滑則生，澀則死也。</p>
<p>臟氣法時論曰：肝虛，則目KT　KT　（音荒）無所見。耳無所聞，（膽脈，從耳後入耳中。）</p>
<p>善恐如而痛。（心主血，血虛不能榮養筋脈。胸腹腰脅，皆手少陰厥陰脈所及，故病見於此。）脾虛，則腹滿，腸鳴飧（音孫）泄，食不化。肺虛，則少氣不能報息。（呼吸難於接續。）耳聾，（絡會耳中。）嗌干，（脈循喉嚨。）腎虛，則胸中痛，大腹小腹痛。（腎脈夾臍上行，從肺出，絡心注胸中。）清厥，（精不化氣。）意不樂。（心腎不交，膻中拂鬱。）</p>
<p>口問篇曰：上氣不足，腦為之不滿，耳為之苦鳴，頭為之苦傾，目為之眩，中氣不足，溲便音樂同義。）</p>
<p>脈要精微論曰：言而微，終日乃復言者，此奪氣也。（肺臟失守。）衣被不斂，言語善惡，不（脾臟失守。）水泉不止者，是膀胱不藏也。（腎臟失守。）得守者生，失守者死。夫五臟者，身之強也。頭者，精明之腑。（五臟六腑之精氣，皆上升於頭。）頭傾視深，（目限無光，）精神將奪矣。背者，胸中之府。（背乃臟俞所系。）背曲肩隨，腑將壞矣。腰者，腎之腑。轉搖不能，腎將憊矣。膝者，筋之府。屈伸不能，行則僂（音呂）附，筋將憊矣。骨者，髓之腑。</p>
<p>不能久立，行則振掉，骨將憊矣。</p>
<p>經脈篇曰：手太陰氣絕則皮毛焦。太陰者，行氣溫於皮毛者也。故氣不榮，則皮毛焦焦則津液去皮節，津液去皮節者，則爪枯毛折，毛折者，則毛先死。丙篤丁死，火勝金也。</p>
<p>手少陰氣絕則脈不通，脈不通則血不流，血不流則髦色不澤，故其面黑如漆柴者，血先死。</p>
<p>壬篤癸死，水勝火也。足太陰氣絕者，則脈不榮肌肉。唇舌者，肌肉之本也。脈不榮則肌肉軟，肌肉軟則舌萎，（枯蔫）人中滿，人中滿則唇反，唇反者肉先死。甲篤乙死，木勝土也。</p>
<p>足少陰氣絕則骨枯。少陰者，冬脈也，伏行而濡骨髓者也。故骨不濡，則肉不能著也，骨肉不相親，則肉軟卻，肉軟卻，故齒長而垢，發無澤，發無澤者，骨先死。戊篤已死，土勝水也。足厥陰氣絕則筋絕。厥陰者，肝脈也。肝者筋之合也，筋者聚於陰器而脈絡於舌本也。</p>
<p>故脈弗榮則筋急，筋急則引舌與卵，故唇青舌卷，卵縮則筋先死。庚篤辛死，金勝木也。五陰氣俱絕，則目系轉，轉則目運，（五臟之精，皆上注目。）目運者，為志先死，（志藏於腎，陰之神也。）志先死則遠一日半死矣。六陽氣絕，則陰與陽相離，離則腠理發泄，絕汗乃出，故旦占夕死，夕占旦死。</p>
<p>方盛衰論曰：至陰虛天氣絕，（陰虛則無以升，不升則天氣亦絕而不降。）至陽盛地氣（陽亢則不能降，不降則地氣不足而不升。）形弱氣虛死，形氣有餘，脈氣不足死，（臟氣先壞。）脈氣有餘，形氣不足生。</p>
<p>三部九候論曰：五臟已敗，其色必夭，夭必死矣。形盛脈細，少氣不足，以息者危。（余而內不足，枝葉盛而根本傷也。）形瘦脈大，胸中多氣者死。（陰氣敗而孤陽獨留。）形肉已脫，九候雖調猶死。（脾氣脫也。）</p>
<p>平人氣象論曰：臂多青脈曰脫血，尺脈緩澀，謂之解亦。（音懈跡，困倦難狀之名也。</p>
<p>）安臥脈盛，謂之脫血，（邪盛，臥必不安，今脈盛而臥安，知非氣分陽邪，而為陰虛脫血也。亦指尺脈言。）尺澀脈滑，謂之多汗，（尺膚澀則營血少，尺脈滑則陰火盛，陽盛陰虛故多汗。</p>
<p>）尺寒脈細，謂之後泄。（尺膚寒，脾陽衰，尺脈細腎陽衰，脾腎虛寒故後泄。）脈尺粗常熱者，謂之熱中。（尺粗則真陰不足，常熱則陰火有餘，故為熱中。）</p>
<p>論疾診尺篇曰：尺肉弱者，當病解　安臥。（尺肉弱者，肌必消瘦，瘦為陰虛，故病解，而時欲安臥。）脫肉者，寒熱不治。（若至於脫肉，則必發寒熱，而真陰敗絕矣。）尺炬然熱，人迎大者，當奪血。（尺膚熱，火在陰，人迎大，陽氣勝，故當失血。）尺堅大，脈小甚，少氣，　有加立死。（尺膚堅大而脈則小甚，真氣衰少而煩　有加，真陰虛極，故當立死。</p>
<p>音懣。）</p>
<p>邪氣臟腑病形篇曰：諸小者，（諸脈細小。）陰陽形氣俱不足，勿取以針，而調以甘藥大奇論曰：脈至而搏，血衄身熱者死。（搏脈弦強陰虛，最忌失血，而脈搏身熱，真陰矣。）脈來懸鉤浮為常脈。（搏固大忌矣，然陰虛者，脈多浮大，若其來不高不下，如物懸空浮鉤而不失中和之氣，乃其常脈無足慮也。）脈至浮合，浮合如數，一息十至以上。（如浮波之合後以催前，泛泛無常，其狀如數而實，非數熱之脈。）是經氣予不足也，微見九十日死。（初見此脈，期在九十日而死，若見之已久則不必九十日矣，所以在九十日者，以時更季易天道變而人氣從之也。）脈至如火薪然，（來如焰之銳，去如滅之速。）是心精之子奪也。</p>
<p>草干而死。（火臟無根之脈，故曰心精予奪，草干者，陽盡時也。）脈至如散葉，（浮泛無根零亂不整。）是肝氣予虛也，木葉落而死。（金勝木敗。）脈至如省客，省客者，脈塞而鼓，（如省問之客去來無定，或無而止，或有而搏。）是腎氣予不足也，懸去棗華而死。（懸華開去華落，言於棗華開落之時，火王水敗而死也。）脈至如丸泥，（泥彈之狀，堅強短澀。）是胃精予不足也，榆莢落而死。（榆錢春深而落，木王土敗也。）脈至如橫格，（長而且堅，如橫木格於指下。）是膽氣予不足也，禾熟而死。（禾熟於秋，金令王也。）脈至如弦縷，（如弦之急，如縷之細。）是胞精予不足也。（胞，子宮，命門元陽所聚，真元虧損也。）病善言，下霜而死。不言，可治。（善言則陰氣不藏，而虛陽外見，故至下霜時虛陽消敗而死矣。不言則腎氣猶靜，故尚可治。）脈至如交漆，交漆者，左右旁至也。（如寫漆之交，左右旁至而纏綿不清。）微見三十日死。（陰陽偏敗，死期已促，三十日者，月建之易也。）脈至如涌泉，浮鼓肌中，（如泉之涌，有升無降，而浮鼓於肌肉之中。）太陽（膀胱）氣予不足也。少氣味，韭英而死。（外實內虛，陰精不足，故為少氣味，韭英而死者，冬盡春初水漸衰也。）脈至如頹土之狀，按之不得，（虛大無力，按之即不可得。）是肌氣予不足也。五色先見黑，白　發死。（肌氣即脾氣，黑色者，土敗極而水反乘之也。白　發於春，木王而土敗矣。）脈至如懸雍，懸雍者浮揣，切之益大，（喉間下垂肉乳，曰：懸雍，浮短孤懸有上無下，）是十二俞（音輸）之予不足也，（俞皆在背，為十二經臟氣所系。）水凝而死。（陰氣盛則孤陽絕。）脈至如偃刀，偃刀者，浮之小急，（如刀口，）按之堅大急，（如刀背，）五臟菀（郁同）熱，寒熱獨並於腎也。（五臟鬱熱而發為寒熱，陽王則陰消，故獨並於腎也。）如此其人不得坐，（腰為腎之腑。）立春而死。（立春陽盛，陰日以衰，故死。）脈至如丸，（短小，）滑不直手，不直手者，按之不可得也，是大腸氣予不足也。棗葉生而死。（棗葉生初夏，火王克金，故死。）脈至如華者，（如草木之華，輕浮柔弱。）令人善恐，不欲坐臥，行立常聽，是小腸氣予不足也，（小腸與心表裡，故心氣怯而不能寧。）季秋而死。（丙火墓於戌。）</p>
<p>玉機真臟論曰：大骨枯槁，（肩垂項傾腰重膝敗，腎主骨，骨枯則腎敗矣。）大肉陷下，（尺膚細削，臂肉消瘦，脾主肉，肉陷則脾敗矣。）胸中氣滿，喘息不便，其氣動形，（肺主氣，氣滿喘息，以至形體振動，則氣不歸原，而肺臟敗矣。）期六月死，（六月者，一歲陰陽之更變。）真臟脈見，乃予之期日。（可因克賊之日以定其死期。）大骨枯槁，（腎）大肉陷下，（脾）胸中氣滿，喘息不便，（肺）內痛引肩項，（病及心經）期一月死。（較前已甚，故期一月斗建移而死。）真臟見，乃予之期日，大骨枯槁，（腎）大肉陷下，（脾）胸中氣滿，喘息不便，（肺）內痛引肩項，（心）身熱脫肉破　。（音郡，筋肉結聚處，蓋至此而肝亦敗矣。）真藏見，十日之內死。（五臟俱傷，真臟又見，故近在十日之內死。）大骨枯槁，（腎）大肉陷下，（脾）肩髓內消，（因於骨枯，）動作益衰，（因於肉陷，）真臟未見，期一歲死，（雖諸症未全，然敗竭已兆，僅支一年，歲易氣新不能再振矣。）見其真臟，乃予之期日。大骨枯槁，（腎）大肉陷下，（脾）胸中氣滿，（肺）腹內痛，心中不便，（心）肩項身熱，破　脫肉，（肝）目匡陷，真臟見，目不見人，立死。（神氣已脫，故當立死。）其見人者，至其所不勝之時則死。（神氣猶存，故必待克賊之時而死。）真肝脈至，中外急如循刀刃，責責然如按琴瑟弦，色青白不澤，毛折乃死。真心脈至，堅而搏，如循薏苡子累累然，（堅強短實）色赤黑不澤，毛折乃死。真肺脈至，大而虛，如以毛羽中人，膚色白赤不澤，毛折乃死。真腎脈至，搏而絕，（甚也）如指彈石辟辟然，色黑黃率以毛折，死</p>
<h3>論證</h3>
<p>虛損之由，不論酒色勞倦，七情飲食，皆能致此，而惟陰陽之辨為最要。陰虛者，其發熱躁煩，頭紅面赤，唇干舌燥，咽痛口瘡，吐血衄血，便血尿血，大便燥結，小水痛澀等證；陽虛者，其病則為怯寒，憔悴氣短，神疲頭運，目眩嘔惡，食少腹痛，飧泄，二便不禁等證。至若咳嗽吐痰，遺精盜汗，氣喘聲喑，筋骨疼痛，心神恍惚，肌肉漸削，夢與鬼交，婦人月閉等症，則又無論陰陽，而凡病至甚者，皆其所必至。然腎為五臟之本，水為天一之源，則凡患虛損者，實惟腎水之虧，十居八九。蓋腎水虧則肝失所滋，而血燥生，腎水虧則水不歸源，而脾痰起；腎水虧則心腎不交，而神色敗；腎水虧則盜傷肺氣，而咳嗽頻；腎水虧則孤陽無主，而虛火熾。節齋先生云：人若色欲過度，傷損精血，必生陰虛火動之病。丹溪先生云：凡患虛者，多陰虛也，古人豈欺我哉！</p>
<h3>陰虛論治</h3>
<p>陰虛者多熱，以水不濟火，而陰虛生熱也。欲滋其陰，惟宜甘涼醇靜之物，大忌辛溫，如乾薑、桂附、故紙、白朮、蒼朮、半夏之屬，斷不可用。即如人參、黃　、枸杞、當歸、杜仲、菟絲之類，是皆陰中有陽，尤當斟酌。蓋陽旺則陰愈消，熱增則水益涸矣。然陰虛之熱，為真水之虧，寒涼之品，又不可妄用。其有火盛而不得不從寒治者，亦當兼壯水之劑，可止即止，以防其敗，斯得滋補之大法矣。</p>
<p>夜熱或午後熱，或喜冷便實，此皆陰虛生熱，水不制火也，宜加減一陰煎。驚悸失志，火在心腎也，宜二陰煎。若外熱不已，而內不甚熱，則但宜補陰，不宜清火，宜一陰煎，或六味地黃湯。</p>
<h3>陽虛論治</h3>
<p>陽虛者多寒，以陽氣不足而寒生於中也。欲補其陽，惟辛甘溫燥之劑為宜，勿兼清涼品，如生地、芍藥、天麥冬、沙參之屬，皆非所宜。而石斛、元參、知、柏、芩、連、龜膠之類，則又切不可用。</p>
<p>氣血俱虛者，宜大補元煎，或八珍湯、十全大補湯。五臟俱虛，宜平補者，五福飲。</p>
<p>分不足者，左歸飲、左歸丸。命門陽分不足者，右歸飲、右歸丸。氣分虛寒者，六氣煎。脾腎陰分虛寒，諸變不一者，理陰煎。三焦陽氣大虛者，六味回陽飲。氣虛脾寒者，一　丹。</p>
<p>胃氣虛寒者，溫胃飲、理中湯。血虛寒滯者，五物煎。</p>
<h3>咳嗽</h3>
<p>腎水不能制火，所以克金，陰精不能化氣，所以病燥，故有咳嗽喘促，咽痛喉瘡聲啞只宜甘涼至靜之劑，滋養金水，使肺腎相生，不受火制，則真陰漸復，而嗽可漸愈。火盛者，宜四陰煎加減。火微者，宜一陰煎、六味地黃湯、或左歸飲。兼受風寒而嗽者，宜金水六君煎，或百合固金湯。貝母丸治嗽最佳。</p>
<h3>失血</h3>
<p>陰平陽秘，五臟調和，何失血之有？惟真陰有傷，則或吐或衄，所不能免。但當察其有火無火，及火之微甚而治之，切勿概用寒涼之劑。</p>
<p>火盛載血上行，脈症俱熱，急則治標，不得不暫用芩、連、梔、柏、竹葉、童便之屬抽薪飲、徙薪飲之類主之。若陰虛而兼微火者，宜保陰煎，或清化飲，或加減一陰煎。上盛下虛，血隨氣上，氣降則血自歸經，宜一陰煎，加鬱金、香附之類。若無實火，而全屬陰虛，陰血失守，而為吐為衄者，是宜甘醇養陰，以靜制動，以和治傷，使陰氣安靜得養，則血自歸經。宜一陰煎，或六味地黃湯，或小營煎之類。若陰虛連肺，而兼嗽兼血者，宜四陰煎加減。若因勞役，別無火症，心脾腎三陰受傷而動血者，宜五陰煎、五福飲、六味地黃丸之。若陰虛於下，格陽於上，六脈無根，而大吐大衄者，此火不歸源，真陽失守也。宜右歸飲加減，或八味地黃湯亦可。思慮勞倦過傷者，多有此症。若因勞倦而素易嘔瀉，致脾不攝血，而為吐血下血者，宜六味回陽飲，大加白朮。勿用涼藥。若大吐大衄，六脈細脫，手足厥，危在頃刻，而血猶不止者，速用鎮陰煎，其血自止。若血脫至甚，氣亦隨之，至厥逆昏憒，速當益氣以固生機，宜獨參湯，或六味回陽飲、四味回陽飲。用寒涼即死。凡喘滿咳嗽，左右膈間，隱隱作痛，病在肺也。宜清降，不宜升浮。膻中牽痛如縷，懊　嘈雜，病在心包絡也。宜養營，不宜耗散。胸腹膨脹，不知飢飽，多涎沫無味，病在脾也。宜溫中，不宜酸寒。脅肋牽痛，躁擾喘急寒熱，病在肝也。宜疏利，或宜甘緩。不宜秘滯。氣短聲啞，蒸熱盜汗，咽乾喉痛動氣，病在腎也。宜壯水，不宜香燥。大嘔大吐，煩渴頭痛，大熱不得臥，病在胃也。宜大瀉，或宜大補。若血色如朱，光亮如漆，吐出即干，以指甲剔之，成片而起者，雖能食不倦，後必暴脫而死。若血中見似肉似肺，如爛魚腸，此胃中脂膜，為邪火所爍，凝結而成，方書咸謂必死。然吐後凝結，既去而不發熱，能進飲食，調理得宜，多有得生者。出於肺，多帶痰沫，及粉紅色。出於心包，色必正赤，如朱漆光澤。若吐出便凝，摸之不黏指者，為守臟之血，見之必死。出於脾者，亦必鮮紫濃濃，但不若心包血之光澤也。出於肝者，血必青紫稠濃，或帶血縷，或有結塊。出於腎者，或從咳逆，或從咯吐，或稀痰中雜出如珠，血雖無幾，色雖不鮮，其患最劇。出於胃者，多兼水液痰涎，吐則成盤成盞，汪洋滿地。失血後頭暈發熱者，往往有之，此是虛火上炎外擾之故，不可誤認外感。血若暴涌如潮，喉中　不止，脈見虛大，此火勢未斂，不可便與湯藥，急以熱童便或藕汁灌之。俟半日許，脈勢稍緩，可進調養之劑，服藥後脈漸調和，飲食漸進，肢體輕捷，面色不赤，足膝不冷，身不灼熱，額無冷汗，溲便如常，雖有紫黑血塊，時欲咯出，而無鮮血上行，方許可治。血雖止而脈大不減，或雖小而弦細數疾，或弦硬不和，慎勿輕許可治。亦有他部柔和，而左手關尺弦強者，為陰虛火旺，最為危兆。其變有三，一則陰火引血復上而暴脫。一則虛陽發露而發熱。一則火上逼肺而喘咳。此終不救。血不止者，用童便最效，或搗側柏葉，以童便二分，酒一分，和飲之，大能止血。吐血新服五七日，永不復發。</p>
<h3>骨蒸</h3>
<p>凡治骨蒸，熱深在裡，一切輕揚之藥，皆在所禁。若用以升散之，反引熱勢外出，而增其熾灼，干涸津液，肌肉枯槁，求其止在內熱，且不可得，安望其熱除病止乎？水虧血燥，陰火沸騰，宜加減一陰煎加青蒿主之。若精血留於經脈，阻陽為熱，積陰為疰，蒸久血干，速宜去瘀，麥煎散主之。又風附於骨，亦令蒸熱盜汗，宜秦艽鱉甲散，或柴胡梅連丸。又有陽邪入骨，不能泄越，而先寒後熱，脈長有汗者，宜用石膏。</p>
<h3>遺精</h3>
<p>虛損而兼遺泄者，如實漏卮，最難調治也。或緣君火之搖，或緣相火之盛，或緣玉門，或緣心腎之不交，又或氣不攝精，而滑脫不禁，或元陽衰憊，而關開亂流，急須反觀內養，而以藥餌調劑，必使痛斷根株，然後本病可得瘳也。</p>
<p>君火不清，神搖於上，精搖於下。火甚者，宜先以二陰煎之類，清去心火；火不甚者以柏子養心丸、天王補心丹之類，收養心氣，然後用藥固之。相火易動，肝腎多熱，而易於疏泄者，惟經驗豬肚丸為最，或用固精丸之類。然須察其火之微甚，宜清者，亦當先清其火。玉門不固者，宜苓朮菟絲丸，或水陸二仙丹，金鎖正元丹、金鎖思仙丹之類。心腎不交者，宜坎離交濟丹。氣不攝精者，宜秘元煎，或舉元煎、壽脾煎，或十全大補湯。元陽不足者，宜右歸丸、八味丸、家韭子丸，或固腎丸之類。</p>
<h3>女人月閉</h3>
<p>凡婦女病損至旬月半載後，未有不經閉者，此因陰竭，所以血枯，最為危殆。必須漸，方可回生。若或久久斷絕，斷難施治。然欲其不枯，無如養營，欲其通之，無如充之，但使雪消，則春水自來，血盈則經脈自至耳。若再用桃仁、紅花之類，是與榨干汁者無異，非治法也。</p>
<p>血枯經閉，通用烏賊丸。水不制火，夜熱盜汗，及煩渴咳嗽者，宜一二三四五陰等煎用之。欲念不遂，心脾郁結者，宜逍遙飲。三陰虧弱，無寒無熱平臟者，宜小營煎、五福飲，或左歸飲、左歸丸之類。三陰虧弱，兼陽虛者，宜大營煎、理陰煎，及右歸飲、右歸丸、八味地黃湯丸之類。</p>
<h3>諸虛見症</h3>
<p>兩顴紅或唇紅，陰虛於下，逼陽於上也。仲景先生云：其面戴陽者，下虛故也。</p>
<p>虛而渴欲多飲，腎水不足，引水自救也，又火乘金位也。</p>
<p>足心如烙，虛火爍陰，涌泉涸竭也。</p>
<p>喑啞聲不出，腎氣竭也。蓋聲出於喉，而根於腎。經曰：內奪而厥，則為喑俳，腎氣虛而喘急，陰虛肺格，氣無所歸也。又水不制火，衝脈上衝也。</p>
<p>喉干咽痛，真水虧，虛火上炎也。</p>
<p>不眠恍惚，血不養心，神不能藏也。又腎不交心，心火無制也。</p>
<p>時多煩躁，陽中無陰，柔不濟剛也。</p>
<p>易生嗔怒，水虧木燥也。</p>
<p>盜汗不止，有火則陰不能守，無火則陽不能固也。</p>
<p>骨痛如折，腎主骨，真陰敗竭也。尋常痛，骨衰而火乘之也。</p>
<p>筋急酸痛，肝失所滋也。</p>
<p>痰如清水，而口不渴，水泛為痰，脾不制水也。</p>
<p>痰多白沫而口渴，水沸為痰，陰火煎熬也。宜壯水以制相火。</p>
<p>心下跳動，氣不歸精也。經曰：胃之大絡，名曰虛裡，出於左乳下，其動應衣，宗氣泄也。欲納氣歸原者，惟有補陰以配陽一法。</p>
<p>小便黃澀淋瀝，真陰虧，氣不化水也。</p>
<p>消瘦，精不生氣也。又燥萬物者，莫HT　乎火，陰火盛也。若肉極者，陰火久灼難治，若勞倦傷脾而然，宜用十全大補湯。</p>
<p>善驚，火起於心也，或心傷而神不安也。</p>
<p>爪甲痛，木極筋虧，金氣乘之也。用豬膏養筋。</p>
<p>腰脅痛，肝腎虛也。</p>
<p>不能久立，筋不束骨也。當滋腎生肝。</p>
<p>不能獨臥，肝腎虛也。</p>
<p>皮毛枯，無津液以充澤皮毛也。</p>
<p>足心痛，肝腎傷也。</p>
<p>手指微脹，言語急遽，真陰虧也。當清金滋水。</p>
<p>合目恍惚不寧，陰虛而三焦包絡之火游行也。</p>
<p>內熱，五心熱，水虧火炎也。</p>
<p>虛損呃逆，水不制火，木挾火勢，沖逆而上也。</p>
<p>口瘡，心火上炎也。宜天王補心丸。</p>
<p>目昏，腎虛也。宜六味地黃，加柴胡、五味。</p>
<p>虛而大便結，水虧液涸也，宜地六湯。</p>
<p>胸膈隱痛，腎虛不能納氣歸源，氣滯於上，而不流暢也。補陰之中須納氣。</p>
<p>虛損頭運，上焦陽氣虛也，或陰虛血損，氣逆上衝也。</p>
<p>怔忡不寧，血虛或有痰也。各臟有疾，皆能與包絡之火合動而為怔忡，隨其所犯而補瀉之，更須從包絡而調之平之。如各臟移熱於心，以致包絡火動，治亦如之。</p>
<p>健忘，心血不足，而痰與火亂其神明也。又腎不足而志衰，不能上通於心也。</p>
<p>膻中不樂，怒則氣上，恐則氣下，一怒一恐，拂於膻中也。宜用柴胡、苓、澤以升降之，亦有可用連以平其逆者。</p>
<p>胸中痞塞，居暗避人，病名卑　，血不足也。宜養營東加減治之。</p>
<p>自覺吾身之外，更有一我，病為離魂，心氣虛也。單補其心，心足而魂自定。</p>
<p>須發脫落，腎枯火炎，肺失治節，而內風妄動也。</p>
<p>虛人頭頂出汗，腎水不足，而腎火有餘也。宜滋腎清肺，用桑葉、熟地、五味、麥冬蜜丸，服二月愈。若用止澀之藥，則目昏耳聾矣。</p>
<p>虛人每飯頭汗，胃火勝也。宜用固本，加元參、五味、棗仁。</p>
<p>兩足不能步履，肝腎虛，精血不足也。或因氣虛不能運動，宜用補中益氣湯，及牛膝、釵斛、黃　。</p>
<p>舌根苦直，不能咽唾，脾不能行氣於三陰也。</p>
<p>手足煩痛，不欲行動，骨肉空虛也。</p>
<p>飲食不甘，肌肉漸削，脾元失守，化機日敗也。</p>
<p>懸心，胃陰不足，胃火消爍心血，而懸懸不寧也。</p>
<p>虛損善穀，陰虛火盛，則速於傳化也。</p>
<p>氣短口乾，氣不足，無以化液也，又金受火制也。</p>
<p>氣逆左脅，上嘔酸水，脈弦數而濡，此火鬱肝血燥也。</p>
<p>按之至骨，其熱烙手，骨困不任腎熱也。惟烏梅能引諸藥入骨，而收其熱。</p>
<p>面黑羸瘦，肌膚甲錯，不能飲食，此血積胃中，而中土失其灌溉，虛極也。</p>
<p>汗出淋漓，一晝夜津液隨熱勢外越也，速用人參。</p>
<p>夢與鬼交，真陰敗也，血海瘀積，經斷蒸熱，亦有是症。宜補血加參以行之。</p>
<p>虛而臍腹疼痛不止，腎水虧極也，重用杞子。</p>
<p>少腹拘急，小便牽痛，真陽內衰也。</p>
<p>惡寒不樂，而五心煩熱，重陰覆其陽，火不得伸也。宜用升柴以舉之。</p>
<p>下唇生瘡，此血瘀營虛發熱，蒸其所瘀之血，化而為蟲，遂成此症，蓋即傳尸勞之謂足寒無論陰陽，凡下虛者，皆能致此，治須辨別。又肺氣虛則逆而不行，無以及於四虛而氣哽，火盛則津枯，津枯則氣哽也。</p>
<p>膝下冷，火不歸源也。若上氣喘，命門衰絕也。</p>
<p>不時溏泄，脾腎虛弱也，或心火不生脾土也。</p>
<p>發尖生穗，血虛火炎也。</p>
<p>身冷，營衛虛寒也。宜用當歸、乾薑。</p>
<h3>論虛損勞瘵</h3>
<p>凡損傷元氣者，本皆虛症，而古方以虛損勞瘵，各分門類，則病若有異，亦所宜辨。</p>
<p>之虛，有在陽分，有在陰分，其病尚淺，或用益火，或用滋陰，見症施治，各有宜也。至若勞瘵，則或為骨蒸，或為干嗽，吐血吐痰，營衛俱敗，　羸日甚，其病深在陰中之陰分，多有不宜溫補者。此虛與勞，似乎各有分別。然要而論之，則勞瘵之症，特不過陰虛之極深極重者耳！凡陰虛用藥失當，或誤用辛溫，或妄投消伐，遂至日甚而成瘵矣，有不可不慎也。</p>
<h3>論虛損傳變</h3>
<p>不論陰陽，虛損日久，皆能傳變。有謂男子自腎傳心肺肝脾，女子自心傳肺肝脾腎者，此其說不可信也。《難經》云：損脈為病，一損損於皮毛，皮聚毛落；二損損於血脈，血，不能營於五臟六腑；三損損於肌肉，肌肉消瘦，飲食不為肌膚；四損損於筋，筋緩不能自收持；五損損於骨，骨痿不能起床。反此者，至脈之病也。從上下者，骨痿不能起於床者死。從下上者，皮聚毛落者死。觀此上損下損之說，其義極精。蓋凡思慮勞倦外感等症則傷陽，傷於陽者，病必自上而下也。色欲醉飽內傷等症則傷陰，傷於陰者，病必自下而上也。自上而下者，先傷乎氣，故一損於肺，而病在聲息膚腠；二損於心，而病在血脈顏色；三損於胃，而病在飲食不調；四損於肝，而病為　疼痛；五損於腎，而病為骨痿。二便不禁，此先傷乎陽，後及乎陰，陽竭於下，則孤陰無以獨存，而不可為也。自下而上者，先傷乎精，故一損於腎，而病為泉源干涸；二損於肝，而病為血動筋枯；三損於脾，而病為痰涎壅盛；四損於心，而病為神魂失守；五損於肺，而病為短氣喘呼。此先傷乎陰，後及乎陽，陰竭於上，則孤陽無以獨存，而不可為也。然二者之損，又皆以脾胃為生死之大關，蓋脾胃者土也，萬物之本也。若上過乎此，則傳肝傳腎，不可治矣。下過乎此，則傳心傳肺，不可治矣。</p>
<p>故曰：心肺損而神衰，肝腎損而形敝，脾胃損而飲食不歸血氣。夫迨其傳變已深，而希望回生，不已晚乎！所貴君子者，亦在乎防微杜漸而已。</p>
<h3>論五勞七傷六極</h3>
<p>五勞者：一曰肺勞，短氣面浮，鼻不聞香臭；二曰肝勞，面目干黑，口苦精神不守，能獨臥，目視不明；三曰心勞，忽忽喜忘，大便苦難，或時鴨溏，口內生瘡；四曰脾勞，舌本苦直，不得咽唾；五曰腎勞，背難俯仰，小便不利，色赤黃而有餘瀝，莖內痛，陰囊濕生瘡，小腹滿急。六極者：一曰氣極，令人內虛，五臟不足，邪氣多，正氣少，不欲言；二曰血極，令人無顏色，眉發落，忽忽喜忘；三曰筋極，令人數轉筋，十指爪甲皆痛苦，倦不能久立；四曰骨極，令人瘦削，齒苦痛，手足煩疼，不可以立，不欲行動；五曰肌極，令人羸瘦無潤澤，飲食不生肌肉；六曰精極，令人少氣，吸吸然內虛，五臟氣不足，毛髮落，悲傷喜忘。七傷者：一曰大飽傷脾，善噫欲臥，面黃；二曰大怒逆氣傷肝，少氣目暗；三曰強力舉重，久坐濕地，傷腎少精，腰背痛，厥逆下冷；四曰形寒寒飲傷肺，少氣咳嗽，鼻塞，五曰憂愁思慮傷心，苦驚喜忘喜怒；六曰風雨寒暑傷形，發膚枯夭；七曰恐懼不節傷志，恍惚不樂。又有志勞、思勞、心勞、憂勞、瘦勞，亦名五勞。陰寒、陰痿、裡急精寒精少、陰下濕、精清、小便苦數、臨事不舉，亦名七傷。種種區別，愈繁愈亂，按圖索驥，貽誤實多，皆非求本之論也。要之，五臟不可不分，輕重不可不辨，氣血陰陽水火，不可不知，虛症之治，無余蘊矣。若其強作解人，硬派名目，幾何而不至殺人於反掌間也哉？</p>
<h3>辨虛火</h3>
<p>虛火二字，混淆已久，貽誤最多，不可以不辨也。夫火有陰盛格陽之火，有陰虛火動有純屬陰虛，似火非火之火。所謂陰盛格陽者，龍雷之火，得水愈燔，得熱則散，內真寒而外假熱，真正之虛火也，補陽即消矣，有曰虛火宜補溫，能除大熱者，此之謂也。所謂陰虛火動者，真水虧乏，邪火妄行，神魂躁動，內外枯熱，是亦不得不謂之虛火，若補陽，則助其熱矣，有曰陽旺陰愈消，熱增水益涸者，此之謂也。所謂似火非火者，原無外火銷爍，止以真陰虧竭，泉源斷流，而致為干枯燥旱，是又不可不名為虛火，此則腎水大傷，非純補真陰莫濟矣，有曰補陰以配陽者，此之謂也。</p>
<h3>論脈</h3>
<p>虛損之脈，凡甚急、甚數、甚細、甚弱、甚澀、甚滑、甚短、甚長、甚浮、甚沉、甚緊、甚洪、甚實者，皆是其候。然陰陽之辨，則全以遲數二字，為損症之大關鍵，雖其遲數中，又有浮、沉、大、小、之不同，要以陰虛脈數，陽虛脈遲，不可易也。大凡數脈不及六至者，可治也。六至以上者，難治也。若數甚而再加弦緊細小，則百無一生矣。然脈數至極多，有兼滑，但見其滑愈甚者，其死愈近，以決短期，萬無或爽也。</p>
<p>遲不甚遲，而脈中有神者，治之甚易，可數劑取效也。遲敗之極，而微弱無神者，死在頃刻，雖大進溫補，無能為力也。</p>
<p>陰虛脈數，陽虛脈遲，是固然矣，及病至危篤，亦有數之至而漸緩者，以陰脫盡而陽也。又有遲之甚而轉數者，以陽敗極而陰亦漸散也。此不得視為佳兆，正死期之日促耳！陰陽雖為對待，然世人勞損，畢竟陰虛脈數者居多，陽虛脈遲者恆少，所以但見脈數，便須認定陰虛，斷不容混。惟知愈虛則愈數，愈數則愈虛，而弱症思過半矣。</p>
<p>弦脈者，虛損最忌，又最多也。《脈經》謂之中虛，崔真人謂之土敗。以余觀之，亦遲數，蓋凡遲緩而弦者，其為中虛土敗，不待言耳！若數中兼弦，則以水枯木燥，愈燥愈弦，愈弦愈燥，並不關中土之病，即使木氣燥極，亦致凌脾，究竟補水為主。而快脾等劑，斷不可用，毫厘之失，何啻千裡之差！世人右尺虛者極多，粗工不察，動云補火，不知火上浮則右尺必虛，不定屬腎寒也。</p>
<p>若不加詳審，而遽投溫熱，鮮不致誤矣。</p>
<h3>論爪</h3>
<p>指爪為精血之余，凡於診候之際，若見干黃，覺有枯槁之色，則其發膚營氣，具在吾目中，而損之微甚，亦可從此而識矣。此可於脈色之外，參觀並用，而資其工巧者也。</p>
<h3>論嚏</h3>
<p>凡陽虛之人，因氣虛也，陽氣既虛，即不能嚏。仲景先生曰：「欲嚏不能，此人肚中寒，故以陽虛之證，而忽見嚏者，最是回生之佳兆。」</p>
<h3>虛損危候</h3>
<p>虛損既成，百脈空虛，精血枯涸，使非大投補劑，何以望生？若有不能服諸補之藥者，此為虛不受補也，不治。</p>
<p>勞損吐血失血後，嗽痰不止，而極多極濁者，此其精血飲食，皆化為痰。經曰：白血出者死，即其類也，不治。</p>
<p>嗽而下泄上喘者死，或嗽而肛門生　者，亦不治。</p>
<p>左右為陰陽之道路，其有不得左右眠，而認邊難轉者，此其陰陽之氣，有所偏竭也，嗽而左不得眠肝脹，右不得眠肺脹，皆為死症。</p>
<p>虛損原無外邪，所以病雖至困，終不憒亂，其有別無邪熱而忽譫妄失倫者，此神去之兆，心臟敗也，必死。</p>
<p>勞嗽喑啞，聲不能出，或喘急氣促者，肺臟敗也，必死。</p>
<p>嗽而聲啞，喉痛不能藥食者，不治。</p>
<p>勞損肌肉脫盡者，脾臟敗也，必死。</p>
<p>虛損多有筋骨疼痛，若痛至極，不可忍者，此血竭不能榮筋，肝臟敗也，必死。</p>
<p>勞損既久，再及大便，泄瀉不能禁止者，腎臟敗也，必死。</p>
<h3>辨似損非損</h3>
<p>虛損之症，必有所因。而似損非損之症，其來則驟，蓋以外感風寒，不為解散，而誤，或用溫補，或用清涼，或用消導，以致外邪鬱伏，久留不散，而為寒熱往來，及為潮熱咳嗽，其症全似勞損。若用治損之法以治，則滋陰等劑，愈以留邪熱蒸，久久非損成損矣。欲辨此者，但當審其並無積漸之因。或身有疼痛，而微汗則熱退，無汗則復熱。或見大聲咳嗽，脈雖弦緊而不甚數。或兼和緩等症，則雖病至一兩月，而邪有不解，病終不退者。本非勞損，毋誤治也。</p>
<p>寒熱往來不止者，宜一二三四五柴胡等飲，酌宜用之，或正柴胡飲亦可。兼咳嗽者，柴陳煎。若脾腎氣虛而兼咳嗽者，金水六君煎，或邪有未解而兼寒熱者，仍加柴胡。</p>
<p>有一種血分鬱滯，氣行而血不行，徒為蒸熱，俟蒸氣散，微汗而熱退者，此宜活血為主。</p>
<h2>卷下</h2>
<h3>六味地黃丸</h3>
<p>治腎水虧損，小便淋閉，頭目眩運，腰腿酸軟，陰虛發熱，自汗盜汗，憔悴瘦弱，精神疲困，失血失音，水泛為痰，病為腫脹，壯水制火之劑也。</p>
<p>熟地黃（八兩，蒸搗）　山萸肉（四兩）　山藥（四兩，炒）　澤瀉（三兩）　白茯苓（三兩）</p>
<p>丹皮（三兩）</p>
<p>上為細末，和地黃膏加煉蜜，為丸桐子大，每服七八十丸，空心食前白滾湯、或淡鹽湯任下。此方用水煎湯，即名六味地黃湯，下八味丸亦同。</p>
<h3>八味丸（崔氏）</h3>
<p>治命門火衰，不能生土，以致脾胃虛寒，飲食少思，大便不實，或下元冷憊疼痛等症，王太仆先生云：益火之源，以消陰翳，即此謂也。即前六味地黃丸，加肉桂、制附子各一兩。</p>
<h3>大補元煎（新方）</h3>
<p>治男婦氣血大壞，精神失守，危劇等症。此回天贊化，救本培元，第一要方人參（補氣補陽，以此為主，少則用一二錢，多則用一二兩）　熟地（補精補陰，以此為少則用二三錢，多則用二三兩）　山藥（二錢，炒）　杜仲（二錢）　當歸（二三錢，泄瀉者去之）枸杞（二三錢）　萸肉（一錢，畏酸者去之）　炙甘草（一二錢）</p>
<p>水二盅，煎七分，食遠溫服。如元陽不足多寒者，於本方加附子、肉桂、炮薑之類，隨宜用之。如氣分偏虛者，加黃　、白朮。如胃口多滯者，不必用。如血滯者，加川芎，去山萸。</p>
<p>如滑泄者，加五味、故紙之屬。</p>
<h3>左歸飲（新方）</h3>
<p>此壯水之劑也。凡命門之陰衰陽勝者，宜此方加減主之。</p>
<p>熟地（二三錢或加至一二兩）　山藥（二錢）　枸杞（二錢）</p>
<p>水二盅，煎七分，食遠服。如肺熱而煩者，加麥冬二錢。血滯者，加丹皮二錢。心熱，加元參二錢。脾熱易飢者，加芍藥二錢。腎熱骨蒸多汗者，加地骨皮二錢。血熱妄動者，加生地二三錢。陰虛不寧者，加女貞子二錢。上實下虛者，加牛膝二錢以導之。血虛而燥滯者，加當歸二錢。</p>
<h3>右歸飲（新方）</h3>
<p>此益火之劑也。凡命門之陽衰陰勝者，宜此方加減主之。此方與大補元煎出入互用，如治陰盛格陽，真寒假熱等證，宜加澤瀉二錢，煎成用涼水浸冷，服之尤妙。</p>
<p>熟地（用如前）　山藥（二錢，炒）　山萸（一錢）　枸杞（二錢）　甘草（一二錢，炙）　杜仲（二錢，鹽制）　肉桂（一二錢）　附子（一二三錢）</p>
<p>水二盅，煎七分，食遠溫服。如氣虛血脫，或厥或昏，或汗或運，或虛狂，或短氣者參、白朮，隨宜用之。如火衰不能生土，為嘔噦吞酸者，加炮薑二三錢。如陽衰中寒，泄瀉腹痛，加人參，肉豆蔻，隨宜用之。如小腹多痛者，加吳茱萸五七分。如淋帶不止，加破故紙一錢。如血少血滯，腰膝軟痛者，加當歸二三錢。</p>
<h3>左歸丸（新方）</h3>
<p>治真陰腎水不足，不能滋養營衛，漸至衰弱，或虛熱往來，自汗盜汗，或神，血不歸原，或虛損傷陰，或遺淋不禁，或氣虛昏運，或眼花耳聾，或口燥舌乾，或腰酸腿軟。凡精髓內虧，津液枯涸等症，俱速宜壯水之主，以培左腎之元陰，而精血自充矣，宜此方主之。</p>
<p>大懷熟（八兩）　山藥（四兩，炒）　枸杞子（四兩，制）　山茱萸（四兩）　川牛膝（酒洗蒸熟，上先將熟地蒸爛杵膏，加煉蜜丸桐子大，每食前用滾湯或淡鹽湯送下百余丸。如真陰虛火炎上者，宜用純陰至靜之劑，於本方去枸杞、鹿膠，加女貞子三兩，麥冬三兩。如火爍肺金，干枯多嗽者，加百合三兩。如夜熱骨蒸，加地骨皮三兩。如小水不利不清，加茯苓三兩。如大便燥結，去菟絲，加肉蓯蓉三兩。如氣虛者，加人參三四兩。如血虛微滯，加當歸四兩。如腰膝酸痛，加鹽水炒杜仲三兩。如臟平無火而腎氣不充者，加破故紙三兩，去心蓮肉、胡桃肉各四兩，龜膠不必用。五液皆主於腎，凡屬陰分之藥，皆能走腎，有謂必須導引者，皆見之不明耳。</p>
<h3>右歸丸（新方）</h3>
<p>治元陽不足，或先天稟衰，或勞傷過度，以致命門火衰，不能生土，而為脾，飲食少進。或嘔惡膨脹，或翻胃噎膈，或怯寒畏冷，或臍腹多痛，或大便不實，瀉痢頻作，或小水自遺，虛淋寒疝，或寒侵溪穀，而肢節痹痛，或寒在下焦，而水邪浮腫。總之，真陽不足者，必神疲氣怯，或心跳不寧，或四體不收，或眼見邪祟，或陽衰無子等症，俱速宜益火之源，以培右腎之元陽，而神氣自強矣，此方主之。</p>
<p>大懷熟（八兩）　山藥（四兩，炒）　山萸肉（四兩，微炒）　鹿角膠（四兩，炒珠）　枸杞（四兩漸可加至四兩）　制附子（自二兩漸可加至五六兩）</p>
<p>上丸法如前，或丸如彈子大，每嚼服二三丸，以滾白湯送下，其效尤速。</p>
<p>如陽衰氣虛，必加人參以為之主，或二三兩，或五六兩，隨人虛實，以為增減。蓋人，隨陽藥則入陽分，隨陰藥則入陰分，欲補命門之陽，非人參不能捷效。如陽虛精滑，或帶濁便溏，加補骨脂酒炒三兩。如飧泄腎泄不止，加北五味三兩，肉豆蔻三兩，面炒去油用。</p>
<p>如飲食減少，或不易化，或嘔惡吞酸，皆脾胃虛寒之症，加乾薑三四兩，炒黃用。如腹痛不止，加吳茱萸二兩，湯炮半日炒用。如腰膝酸痛，加胡桃肉連皮四兩。如陰虛陽痿，加巴戟肉四兩，肉蓯蓉三兩，或加黃狗外腎一二副，以酒煮爛搗入之。</p>
<h3>八珍湯（《局方》）</h3>
<p>治氣血兩虛，調和陰陽。</p>
<p>人參（二錢）　白朮（二錢）　茯苓（二錢）　甘草（一錢，炙）　熟地（三錢）　當歸（二錢）</p>
<p>川芎（一錢）　芍藥（二錢，炒）</p>
<p>水煎溫服。</p>
<h3>十全大補湯</h3>
<p>治氣血俱虛，惡寒發熱，自汗盜汗，肢體困倦，眩暈驚悸，晡熱作渴，遺精白濁，二便見血，小便短少，便泄閉結，喘咳下墜等症。</p>
<p>即前八珍東加黃　、肉桂各一錢。</p>
<h3>人參養榮湯（《局方》）</h3>
<p>治脾肺俱虛，惡寒發熱，肢體瘦倦，食少作瀉，口乾心悸自汗等。</p>
<p>人參　黃　當歸　白朮　甘草　桂心　陳皮（各一錢）　熟地　五味　茯苓（各七分）</p>
<p>白芍（錢半）　遠志（五分）</p>
<p>加薑棗水煎服。</p>
<h3>五福飲（新方）</h3>
<p>凡五臟氣血虧損者，此能兼治之，足稱王道之最。</p>
<p>人參（隨宜，心）　熟地（隨宜，腎）　當歸（二三錢，肝）　白朮（炒，一錢，肺）　炙甘草（一錢，脾）</p>
<p>水二盅，煎七分，食遠溫服。或加生薑三五片。凡治氣血俱虛等症，以此為主，或宜溫者，加薑附。宜散者，加升麻柴葛。左右逢源，無不可也。</p>
<h3>七福飲（新方）</h3>
<p>治氣血俱虛，而心脾為甚者，即前方加棗仁二錢，遠志三五分，制用。</p>
<h3>獨參湯（葛氏）</h3>
<p>治大吐大衄後，血脫氣隨，速宜益氣。</p>
<p>人參（二兩）</p>
<p>加大棗煎服，服後宜熟睡。</p>
<h3>養心湯（《醫統》）</h3>
<p>治體質素弱，或病後思慮過多，心痛，驚悸不寐。</p>
<p>歸身　生地　熟地　茯神（各一錢）　人參（錢半）　麥冬（錢半）　棗仁　柏子仁（各八分）炙甘草（四分）　五味（十五粒）</p>
<p>加燈心、蓮子，水煎八分服。</p>
<h3>天王補心丹</h3>
<p>寧心保神，固精益血，壯力強志，令人不忘，去煩熱，除驚悸，清三焦，解干渴，育。此方之傳，未考所自，《道藏》偈云：昔志公和尚日夜講經，鄧天王憫其勞，錫之此方，生地黃（四兩，洗淨）　人參　元參（各五錢，炒）　丹參　遠志肉　桔梗　白茯苓（各五錢）　五味（炒）　當歸（酒洗）　麥冬（炒）　天冬（炒）　柏子仁（炒）　酸棗仁（各一兩，炒）</p>
<p>上為細末，煉蜜為丸，每兩分作十丸，金箔為衣，每服一丸，燈心棗湯化下，食遠臨臥服，或作小丸亦可。</p>
<h3>柏子養心丸（《集驗》）</h3>
<p>治心勞太過，神不守舍，合眼則夢，遺泄不常。</p>
<p>柏子仁（鮮白不油者，以紙包，槌去油）　白茯神　酸棗仁　生地黃　當歸身（各二兩）</p>
<p>五味子　辰砂　犀角（鎊）　甘草（各半兩）</p>
<p>上為末，煉蜜丸如芡實大，金箔為衣，午後、臨臥，各津嚼一丸。</p>
<h3>人參固本丸（《千金》）</h3>
<p>治脾虛煩熱，金水不足，及肺氣燥熱，作渴作嗽，或小便赤色，短少澀滯如淋，大便燥結，此陰虛有火之聖藥也。</p>
<p>人參（二兩）　天冬　麥冬　生地　熟地（四兩）</p>
<p>蜜丸桐子大，每服五六十丸，空心淡鹽湯下，中寒之人不可服。如欲作膏，俟煎成，外加白蜜四兩。</p>
<h3>一陰煎（新方）</h3>
<p>此治水虧火勝之劑，故曰一陰。凡腎水真陰虛損，而脈症多陽，虛火發熱，及陰虛動血等症，皆宜用此加減主之。</p>
<p>生地（二錢）　熟地（三五錢）　芍藥（二錢）　麥冬（二錢）　甘草（一錢）　牛膝（一錢半）</p>
<p>丹參（二錢）</p>
<p>水二盅，煎七分，食遠服。如火盛躁煩，入真龜膠二三錢化服。如氣虛者，間用人參一二錢。如心虛不眠多汗者，加棗仁、當歸各一二錢。如汗多煩躁者，加五味子十粒，或加山藥、山茱萸。如見微火者，加女貞子一二錢。如虛火上浮，或吐血或衄血不止者，加澤瀉一二錢，茜根二錢，或加川續斷一二錢，以澀之亦妙。</p>
<h3>加減一陰煎（新方）</h3>
<p>治症如前，而火之甚者，宜用此方。</p>
<p>生地（二錢）　熟地（三五錢）　芍藥（二錢）　麥冬（二錢）　炙甘草（五七分）　知母　地骨皮（各一錢）</p>
<p>水二盅，煎服。　如躁煩熱甚便結者，加石膏二三錢。小水熱澀者，加梔子一二錢。</p>
<p>如火浮於上者，加澤瀉一二錢，或黃芩一錢。如血燥血少者，加當歸一二錢。</p>
<h3>二陰煎（新方）</h3>
<p>此治心經有熱，水不制火之病，故曰二陰。凡驚狂失志，多言多笑，或瘍疹煩熱失血等症，宜此主之。</p>
<p>生地（二三錢）　麥冬（二三錢）　棗仁（二錢）　甘草（一錢，生）　元參（一錢半）　黃連（或一二錢）　茯苓（錢半）　木通（一錢半）</p>
<p>水二盅，加燈草二十根，或竹葉亦可，煎七分，食遠服。如痰勝熱甚者，加九制膽星一錢，或天花粉一錢五分。</p>
<h3>三陰煎（新方）</h3>
<p>此治肝脾虛損，精血不足，及營虛失血等症，故曰三陰。微有火者，宜一陰煎，無火者宜此主之。</p>
<p>當歸（二三錢）　熟地（三五錢）　甘草（一錢，炙）　棗仁（二錢）　芍藥（三錢，酒炒）</p>
<p>人參（隨宜）</p>
<p>水二盅，煎七分，食遠服。如嘔惡者，加生薑三五片。汗多煩躁者，加五味子十四粒氣虛者，加黃　一二錢。小腹陰痛，加枸杞二三錢。如有脹悶，加陳皮一錢。如腰膝筋骨無力，加杜仲、牛膝。</p>
<h3>四陰煎（新方）</h3>
<p>此保肺清金之劑，故曰四陰。治陰虛勞損，相火熾盛，津枯煩渴，咳嗽吐衄多熱等症。</p>
<p>生地（二三錢）　麥冬　芍藥　百合　沙參（各二錢）　甘草（一錢，生）　茯苓（一錢五分水二盅，煎七分，食遠服。如夜熱盜汗，加地骨皮一二錢。如痰多氣盛，加貝母二三膠一二錢，天花粉亦可。如金水不能相滋，而干燥喘嗽者，加熟地三五錢。如多汗不眠，神魂不寧，加棗仁二錢。如汗多兼渴，加北味十四粒。如熱甚者，加黃柏（如易知母，更見針線，）一二錢，鹽水炒用，或元參亦可，但分上下用之。如血燥經遲，枯澀不至者，加牛膝二錢。如血熱吐衄，加茜根二錢。如多火便燥，或肺乾咳咯者，加天門冬二錢，加童便亦可。</p>
<p>如火載血上者，去甘草，加炒梔子一二錢。</p>
<h3>五飲煎</h3>
<p>（新方）凡真陰虧損，脾虛失血等症，或見溏泄未甚者，所重在脾，故曰五陰。忌用潤滑，宜此主之。</p>
<p>熟地（五七錢或一兩）　山藥（二錢，炒）　扁豆（二三錢，炒）　炙甘草（一二錢）　茯苓（一錢半）　芍藥（二錢，炒黃）　五味子（二十粒）　人參（隨宜）　白朮（一二錢，炒）</p>
<p>水二盅，加蓮肉去心二十粒煎服。</p>
<h3>大營煎（新方）</h3>
<p>治真陰精血虧損，及婦人經遲血少，腰膝筋骨疼痛，或氣血虛寒，心腹疼痛等症。</p>
<p>當歸（二三錢或五錢）　熟地（三五七錢）　枸杞（二錢）　炙甘草（一二錢）　杜仲（二錢）</p>
<p>牛膝（一錢半）　肉桂（一二錢）</p>
<p>水二盅，煎七分，食遠溫服。如寒滯在經，氣血不能流通，筋骨疼痛之甚者，必加制二錢方效。如帶濁腹痛者，加故紙一錢炒用。如氣虛者，加人參、白朮。中氣虛寒嘔惡者，加炒乾薑一二錢。</p>
<h3>小營煎（新方）</h3>
<p>治血少陰虛，此性味和平之方也。</p>
<p>當歸（二錢）　熟地（二三錢）　芍藥（二錢，酒炒）　枸杞（二錢）　山藥（二錢，炒）　炙甘草（一錢）</p>
<p>水二盅，煎七分，食遠溫服。如營虛於上，而為驚恐，怔忡不眠多汗者，加棗仁、茯神各二錢。如營虛兼寒者，去芍藥，加生薑。如氣滯有痛者，加香附一二錢，引而行之。</p>
<h3>坎離交濟丹（新制）</h3>
<p>此治心腎不交等症。</p>
<p>熟地（五兩，搗）　生地（三兩）　茯神（一兩半）　遠志（八錢）　阿膠（二兩，炒珠）　雞子黃（六個）　炙甘草（一兩）　蓮肉（四兩）</p>
<p>（此方地黃一生一熟，卻有顛倒陰陽，水火既濟之妙。茯神通心氣而下交腎，復以雞子赤入心，補離中之氣，遠志通腎氣而上交心，復以阿膠色黑，入腎，補坎中之精，俾水火渾合一氣，交相為濟，然媒合嬰　作用，全賴黃婆，故以蓮肉、甘草補土，而為交通上下之佐上先將地黃杵爛，加煉蜜丸桐子大，空心食前滾白湯送下三錢。如見微火者，加麥冬或元參二兩，隨宜用之。無寒無熱者，加菟絲子二兩，人參二兩。如心氣浮散不入於精者，加五味子一兩，茯苓一兩。</p>
<h3>地六湯（新制）</h3>
<p>治水虧液涸，大便秘結。</p>
<p>熟地（六錢）　蓯蓉（三錢，漂淡）　麥冬（三錢）　白芍（一錢）　生地（三錢）　柏子仁（二錢）</p>
<p>水二盅，煎七分，溫服。或加砂仁五六分。</p>
<h3>金鎖正元丹（《和劑》）</h3>
<p>治真氣不足，遺精盜汗，目暗耳鳴，吸吸短氣，四肢酸倦，一切虛損等症補骨脂（十兩，酒浸炒）　肉蓯蓉（酒洗，焙）　巴戟（去心）　葫蘆巴（各一斤，炒）　文蛤（八兩）　茯苓（六兩，去皮）　龍骨（二兩，　）　朱砂（三兩，另研）</p>
<p>上為細末，酒糊丸桐子大，每服二十丸，空心溫酒鹽湯送下。</p>
<h3>金鎖思仙丹（萬氏）</h3>
<p>治男子嗜欲太過，精血不固，此澀以去脫之劑。</p>
<p>蓮蕊　芡實　石蓮子（各十兩）　金櫻子膏（三斤）</p>
<p>上以金櫻膏入前三味藥末，和丸桐子大，空心鹽湯下三十丸，服久精神完固，大能延年，平時服食忌葵菜，車前。</p>
<h3>水陸二仙丹（經驗）</h3>
<p>治精脫腎虛，夢遺白濁等症，與補陰藥同用，甚有奇效。</p>
<p>金櫻膏（一斤）　用金櫻子不拘多少，入粗麻布袋內，擦去毛刺，搗爛入缸，以水沒頭宿，濾去渣，取汁以綿濾二三次，卻入銅鍋，用桑柴文火熬成膏，取起以碗瓶收貯聽用。</p>
<p>芡實粉（一斤）</p>
<p>上二味和勻，丸桐子大，每服二三百丸，空心淡鹽湯下。</p>
<h3>固精丸（《濟生》）</h3>
<p>治下元虛損，白濁如脂，或胞氣虛寒，腰重少力，小便無度並效。</p>
<p>牡蠣（　）　菟絲（酒浸，蒸炒）　韭子（炒）　龍骨（　）　北五味（炒）　白茯苓　桑螵蛸（酒炙）　白石脂（　，各等分）</p>
<p>上為細末，酒糊丸桐子大，每服七十丸，空心鹽湯下。</p>
<h3>固精丸（《直指》）</h3>
<p>治腎虛有火，精滑，心神不安。</p>
<p>黃柏（酒炒）　知母（各一兩，酒炒）　牡蠣（　）　龍骨（　）　蓮蕊　芡實　山茱萸　遠志（制）　茯苓（各三錢）</p>
<p>上為末，山藥糊丸桐子大，每服五十丸，空心溫酒下。</p>
<h3>家韭子丸（《三因》）</h3>
<p>治少長遺溺，及男子虛劇，陽氣衰敗，小便白濁，夜夢遺精，此藥補養元家韭子（六兩，炒）　鹿茸（四兩，酥炙）　肉蓯蓉（酒浸）　牛膝（酒浸）　熟地　當歸（各二兩）　菟絲（酒煮）　巴戟（各一兩半）　杜仲（炒）　石斛　桂心　乾薑（各一兩，炮）</p>
<p>酒糊丸桐子大，每服五七十丸，加至百余丸，食前溫酒任下。</p>
<h3>豬肚丸（經驗）</h3>
<p>止夢遺泄精，進飲食，健肢體，此藥神應，瘦者服之自肥，莫測其理。</p>
<p>白朮（五兩，面炒）　苦參（白者，三兩）　左牡蠣（四兩，　研）</p>
<p>上為末，用雄豬肚一具，洗淨，以瓷罐煮爛，木石臼搗如泥，和藥再加肚汁搗半日，丸如小豆大，每服四五十丸，日進三服，米飲送下。久服自覺身肥，而夢遺永止。</p>
<h3>秘元煎（新方）</h3>
<p>治遺精帶濁等病，此方專主心脾。</p>
<p>遠志（八分，炒）　山藥（二錢，炒）　芡實（二錢，炒）　白朮（一錢半，炒）　棗仁（二錢碎）　茯苓（一錢半）　炙甘草（一錢）　人參（一二錢）　五味（十四粒，畏酸者去之）　金櫻子（二錢，去核）</p>
<p>水二盅，煎七分，食遠服。此治久遺無火，不痛而滑者，乃可用之。如尚有火覺熱者，加苦參一二錢。如氣大虛者，加黃　一二三錢。</p>
<h3>固陰煎（新方）</h3>
<p>治陰虛滑泄，帶濁淋遺，及經水因虛不固等症，此方專主肝腎。</p>
<p>人參（隨宜）　熟地（三五錢）　山藥（二錢，炒）　山萸（錢半）　遠志（七分，炒）　甘草（一二錢，炙）　菟絲（二三錢，炒）　五味（十四粒）</p>
<p>水二盅，煎七分，食遠溫服。如虛滑遺甚者，加金櫻子肉二三錢，或醋炒文蛤一錢，二個。如陰虛微熱而精血不固者，加川續斷二錢。如下焦陽氣不足，而兼腹痛溏泄者，加補骨脂、吳茱萸之類，隨宜用之。如肝腎血虛，小腹痛而血不歸經者，加當歸二三錢。如脾虛多濕，或兼嘔惡者，加白朮一二錢。如氣陷不固者，加炒升麻一錢。如兼心虛不眠，或多汗者，加棗仁二錢炒用。</p>
<h3>苓朮菟絲丸（新方）</h3>
<p>治脾腎虛損，不能收攝，以致夢遺精滑困倦等症。</p>
<p>白茯苓　白朮（米泔洗炒）　蓮肉（各四兩）　五味（酒蒸）　山藥（各二兩，炒）　杜仲（三兩，十兩）</p>
<p>上用山藥末，以陳酒煮糊為丸桐子大，空心滾白湯，或酒下百余丸。如氣虛神倦不能收攝，有加人參三四兩尤妙。</p>
<h3>補中益氣湯（東垣）</h3>
<p>治勞倦傷脾，中氣不足，清陽不升，外感不解，體倦食少，寒熱瘧痢，氣虛不能攝血等症。</p>
<p>人參　黃　（炒）　白朮（炒）　甘草（各一錢半，炙）　當歸（一錢）　陳皮（五分）　升麻柴胡（各三分）</p>
<p>上加薑棗水煎，空心午前服。</p>
<h3>補陰益氣煎（新方）</h3>
<p>此補中益氣湯之變方也。治勞倦傷陰，精不化氣，或陰虛內乏，以致外感不，寒熱　瘧，陰虛便結不通等症。凡屬陰氣不足，而虛邪外侵者，用此升散，無不神效。</p>
<p>人參（一二三錢）　當歸（二三錢）　山藥（二三錢，酒炒）　陳皮（一錢）　熟地（三五錢或用至水二盅，加生薑三五七片，煎八分，食遠溫服。</p>
<h3>舉元煎（新方）</h3>
<p>治氣虛下陷，血崩血脫，亡陽垂危等症，有不利於歸熟等劑，而但宜補氣者，以此主之。</p>
<p>人參　黃　（各三五錢，炙）　炙甘草（一二錢）　升麻（五七分，炒）　白朮（一二錢，炒水一盅半，煎七八分，溫服。如兼陽氣虛寒者，桂附、乾薑，隨宜佐用。如兼滑脫者，加烏梅二個，或文蛤七八分。</p>
<h3>歸脾湯（《濟生》）</h3>
<p>治思慮傷脾，不能攝血，致血妄行，或健忘、怔忡、驚悸、盜汗、嗜臥、或大便不調，心脾疼痛，瘧痢郁結，或因病用藥失宜，克伐傷脾，以致變症者，最宜用之。</p>
<p>人參　黃　白朮　茯苓　棗仁（各二錢）　遠志　當歸（各一錢）　木香　炙甘草（各五水二盅，加圓眼肉七枚，煎七分，食遠服。</p>
<p>景岳先生云：此湯之用木香，特因郁結疼痛者設，如無痛郁等症，必須除去木香，以燥，豈不於氣虛血動者為尤善乎？又遠志味辛，氣升而散，凡多汗而躁熱者，亦宜酌用。</p>
<h3>加味歸脾湯（薛氏）</h3>
<p>治脾經血虛發熱等症。即前方加柴胡、山梔各一錢。</p>
<h3>生脈散（《醫錄》）</h3>
<p>治熱傷元氣，肢體倦怠，氣短口渴，汗出不止，或金為火制水失所生，而致咳嗽喘促，肢體痿弱，腳軟眼黑等症。</p>
<p>人參（五錢）　麥冬　五味（各三錢）</p>
<p>水煎服。</p>
<h3>百合固金湯</h3>
<p>熟地　生地　麥冬　當歸　芍藥　百合　貝母　元參　桔梗　甘草</p>
<h3>烏賊魚骨丸（《內經》）</h3>
<p>治血枯經閉。</p>
<p>烏賊魚骨（四兩，去甲）　茹（一兩，即茜根）</p>
<p>上為末，以雀卵搗丸小豆大，每服五丸或十丸，鮑魚煎湯下，以飯壓之。鮑魚即今之淡干魚也。</p>
<h3>五物煎（新方）</h3>
<p>治婦人血虛凝滯，蓄積不行，小腹痛急，產難經滯，及痘瘡血虛寒滯等症。</p>
<p>當歸（三五七錢）　熟地（三四錢）　芍藥（二錢）　川芎（一錢）　肉桂（一二三錢）</p>
<p>水一盅半，煎服。兼胃寒或嘔惡者，加乾薑炮用。水道不利，加澤瀉或豬苓。氣滯者，加香附或丁香、木香、砂仁、烏藥之類。</p>
<h3>理中湯（仲景）</h3>
<p>治太陰病，自利不渴，陰寒腹痛，短氣咳嗽，霍亂嘔吐，飲食難化，胸膈噎塞，或瘧疾，瘴氣，瘟疫，中氣虛損，久不能愈，或中虛生痰等症。</p>
<p>人參　白朮（炒）　乾薑（炒）　炙甘草（各三兩）</p>
<p>上四味，搗篩為末，蜜丸雞黃大，以沸湯數合和一丸，研碎溫服之，日三四，夜二服未熱，益至三四丸，然不及湯，湯法以四物依數切，用水八升，煎取三升，去渣溫服一升，日三服。</p>
<h3>理陰煎（新方）</h3>
<p>此理中湯之變方也。凡脾腎中虛等症，宜剛燥者，當用理中六君之類；宜溫當用理陰大營之類。欲知調補，當先察此。此方通治真陰虛弱，脹滿嘔噦，痰飲惡心，吐瀉腹痛，婦人經遲血滯等症。</p>
<p>熟地（三五七錢或一二兩）　當歸（二三錢或五七錢）　炙甘草（一二錢）　乾薑（一二三錢，炒黃）　或加桂一二錢。</p>
<p>水二盅，煎七八分，熱服。若治脾腎兩虛，水泛為痰，或嘔或脹者，加茯苓一錢半，芥子五分以行之。若泄瀉不止，及腎泄者，少用當歸，或並去之，加山藥、扁豆、吳茱萸、破故、肉豆蔻、附子之屬。若腰腹有痛，加杜仲、枸杞。若腹有脹滯疼痛，加陳皮、木香、砂仁之屬。</p>
<h3>四味回陽飲（新方）</h3>
<p>治元陽虛脫，危在頃刻者。</p>
<p>人參（一二兩）　制附子（二三錢）　炙甘草（一二錢）　炮乾薑（二三錢）</p>
<p>水二盅，武火煎七八分，溫服，徐徐飲之。</p>
<h3>六味回陽飲（新方）</h3>
<p>治陰陽將脫等症。</p>
<p>人參（一二兩或數錢）　制附子　炮乾薑（各二三錢）　熟地（五錢或一兩）　歸身（三錢，泄瀉或血動者，代以冬術，多多益善）　炙甘草（一錢）</p>
<p>水二盅，武火煎七八分，溫服。如肉振汗多者，加炙黃　四五錢，或一兩，或冬術三泄瀉者，加烏梅二枚，或北五味二十粒亦可。如虛陽上浮者，加茯苓二錢。如肝經鬱滯者，加肉桂二三錢。</p>
<h3>溫胃飲（新方）</h3>
<p>治中寒嘔吐，吞酸泄瀉，不思飲食，及婦人臟寒嘔惡，胎氣不安等症。</p>
<p>人參（一二三錢或一兩）　白朮（一二錢或一兩，炒）　扁豆（二錢，炒）　陳皮（一錢，或不用）　乾薑（一二三錢，炒焦）　炙甘草（一錢）　當歸（一二錢，滑泄者不用）</p>
<p>水二盅，煎七分，食遠溫服。如下寒帶濁者，加破故紙一錢。如氣滯或兼胸腹痛者，、丁香、木香、白豆蔻、砂仁、白芥子之屬。如兼外邪及肝腎之病者，加桂枝、肉桂，甚者，加柴胡。如脾氣陷而身熱者，加升麻五七分。如水泛為痰而胸腹痞滿者，加茯苓一二錢。</p>
<p>如脾胃虛極，大嘔大吐，不能止者，倍用參朮，仍加胡椒二三分許，煎熟徐徐服之。</p>
<h3>鎮陰煎（新方）</h3>
<p>治陰虛於下，格陽於上，則真陽失守，血隨而溢，以致大吐大衄，六脈細脫厥冷，危在頃刻，而血不能止者，速宜用此，使孤陽有歸，則血自安也。如治格陽喉痹上熱者，當以此湯冷服。</p>
<p>熟地（一二兩）　牛膝（二錢）　甘草（一錢，炙）　澤瀉（錢半）　肉桂（一二錢）　制附子（五七分或一二三錢）</p>
<p>水二盅，速煎服。如兼嘔惡者，加乾薑炒黃一二錢。如氣脫倦言，而脈弱極者，宜速速多加人參，隨宜用之。</p>
<h3>壽脾煎（新方）</h3>
<p>一名攝營煎。治脾虛不能攝血等症，凡憂思鬱怒、結勞，及誤用攻伐等藥，陰，以致中氣虧陷，神魂不寧，大便脫血不止，或婦人無火崩淋等症。凡兼嘔惡，尤為危候，速宜用此。單救脾氣，則統攝固而血自歸源。此歸脾湯之變方，其效如神。若犯此症，而再用寒涼，則胃氣必脫，無不即斃者。</p>
<p>白朮（二三錢）　當歸（二錢）　山藥（二錢）　棗仁（錢半）　炙甘草（一錢）　遠志（三五分，制）　炮乾薑（一二三錢）　蓮肉（二十粒，去心炒）　人參（隨宜一二錢，急者用一兩）</p>
<p>水二盅煎服。如血未止，加烏梅二個。凡畏酸者，不可用，或加地榆一錢半亦可。滑者，加醋炒文蛤一錢。下焦虛滑不禁，加鹿角霜二錢為末，攪入藥中服之。氣虛甚者，加炙黃二三錢。氣陷而墜者，加炒升麻五七分。或白芷亦可。兼溏泄者，加補骨脂一錢炒用。</p>
<p>陽虛畏寒者，加制附子一二三錢。血去過多，陰虛氣餒，心跳不寧者，加熟地七八錢，或一二兩。</p>
<h3>一氣丹（新方）</h3>
<p>治脾腎虛寒，不時易瀉，腹痛陽痿，怯寒等症。此即參附湯之變方。</p>
<p>人參　制附子（各等分）</p>
<p>煉白蜜丸如綠豆大，每用滾白湯送下三五分，或一錢。凡藥餌不便之處，或隨途次，隨帶此丹最妙。</p>
<h3>六氣煎（新方）</h3>
<p>治男婦陽氣虛寒等症。</p>
<p>黃　（炙）　肉桂　人參　白朮　當歸　炙甘草水煎服。</p>
<h3>保陰煎（新方）</h3>
<p>治男婦帶濁遺淋，色赤帶血，脈滑多熱，便血不止，及血崩血淋，或經期太早，凡一切陰虛內熱動血等症。</p>
<p>生地　熟地　芍藥（各二錢）　山藥　川續斷　黃芩　黃柏（各錢半）　生甘草（一錢）</p>
<p>水二盅，煎七分，食遠溫服。如小水多熱，或兼怒火動血者，加焦梔子一二錢。如夜，加地骨皮錢五分。如肺熱多汗者，加麥冬、棗仁。（恐棗仁與肺熱非宜，不如用桑葉為妥。）如血熱甚者，加黃連一錢五分。如血虛血滯，筋骨腫痛者，加當歸二三錢。如氣滯而痛，去熟地，加陳皮、青皮、丹皮、香附之屬。如血脫血滑，及便血久不止者，加地榆一二錢，或烏梅一二個，或百藥煎一二錢，文蛤亦可。</p>
<p>如少年或血氣正盛者，不必用熟地、山藥。如肢節筋骨疼痛或腫者，加秦艽、丹皮各</p>
<h3>抽薪飲（新方）</h3>
<p>治諸凡火熾盛而不宜補者。</p>
<p>黃芩　石斛　木通　梔子　黃柏（各一二錢）　枳殼（錢半）　澤瀉（錢半）　細甘草（三水一盅半，煎七分，食遠溫服。內熱甚者，冷服更佳。如熱在經絡肌膚者，加連翹天花粉以解之。熱在血分大小腸者，加槐蕊、黃連以清之。熱在陽明，頭面或躁煩便實者，加生石膏以降之。熱在下焦小水痛澀者，加草龍膽、車前以利之。熱在陰分津液不足者，加門冬、生地、芍藥之類以滋之。熱在腸胃實結者，加大黃、芒硝以通之。</p>
<h3>徙薪飲（新方）</h3>
<p>治三焦凡火，一切內熱，漸覺而未甚者，先宜清以此劑，其甚者，宜抽薪飲陳皮（八分）　黃芩（二錢）　麥冬　芍藥　黃柏　茯苓　牡丹皮（各錢半）</p>
<p>水一盅半，煎七分，食遠溫服。如多郁氣逆傷肝，脅肋疼痛，或致動血者，加青皮、</p>
<h3>清化飲（新方）</h3>
<p>治血熱妄行，陰虧，諸火不清等症。</p>
<p>芍藥　麥冬（各二錢）　丹皮　茯苓　黃芩　生地（各二三錢）　石斛（一錢）</p>
<p>水一盅半，煎七分，食遠溫服。如覺骨蒸多汗者，加地骨皮一錢五分。熱甚而渴或頭加石膏一二三錢。下熱便澀者，加木通一二錢，或黃柏、梔子、皆可隨症用之。如兼外邪發熱，加柴胡一二錢。</p>
<h3>秦艽鱉甲散</h3>
<p>治風勞骨熱盜汗。</p>
<p>秦艽　知母　當歸　鱉甲　烏梅　青蒿　柴胡　地骨</p>
<h3>柴胡梅連丸</h3>
<p>治同上。</p>
<p>柴胡　前胡　烏梅　胡連　豬脂　豬髓　童便　韭白</p>
<h3>逍遙飲（新方）</h3>
<p>治婦人思郁過度，致傷心脾，衝任之源，血氣日枯，漸至經脈不調者。</p>
<p>當歸（二三錢）　芍藥（錢半）　熟地（三五錢）　棗仁（二錢，炒）　茯神（錢半）　遠志（三五分，制）　炙甘草（一錢）　陳皮（八分）</p>
<p>水二盅，煎七分，食遠溫服。如氣虛者，加人參一二錢。如經水過期兼痛滯者，加酒炒香附一二錢。</p>
<h3>金水六君煎（新方）</h3>
<p>治肺腎虛寒，水泛為痰，或年邁陰虛，血氣不足，外受風寒，咳嗽嘔惡，多痰喘急等症，神效。</p>
<p>當歸（二錢）　熟地（三五錢）　陳皮（錢半）　半夏（二錢）　茯苓（二錢）　炙甘草（一錢）</p>
<p>水二盅，生薑三五七片，煎七八分，食遠溫服。如大便不實而多濕者，去當歸，加山痰盛氣滯，胸脅不快者，加白芥子七八分。如陰寒盛而嗽不愈者，加細辛五七分。如兼表邪寒熱者，加柴胡一二錢。</p>
<h3>貝母丸（新方）</h3>
<p>消痰熱，潤肺止咳，或肺癰肺痿，乃治標之妙劑。</p>
<p>貝母一兩，為末，用沙糖或蜜，和丸龍眼大，或噙化，或嚼服之。若欲劫止久嗽，每兩，宜加百藥煎、蓬砂、天竺黃各一錢，佐之尤妙。如無百藥煎，即炒醋文蛤一錢亦可，或粟殼亦可酌用。若治肺癰，宜加白礬一錢，同貝母丸服，如前最妙。</p>
<h3>一柴胡飲（新方）</h3>
<p>一為水數，從寒散也。凡感四時不正之氣，或為發熱，或為寒熱，或因勞因婦人熱入血室，或產後經後，因冒風寒，以致寒熱如瘧等症，但外有邪而內兼火者，須從涼散，宜此主之。</p>
<p>柴胡（二三錢）　黃芩（錢半）　芍藥（二錢）　生地　陳皮（各錢半）　甘草（八分）</p>
<p>水一盅半，煎七八分，溫服。如內熱甚者，加連翹一二錢隨宜。如外邪甚者，加防風之。如邪結在胸而痞滿者，去生地，加枳實一二錢。如熱在陽明而兼渴者，加天花粉或葛根一二錢，熱甚者，加知母、石膏亦可。</p>
<h3>二柴胡飲（新方）</h3>
<p>二為火數，從溫散也。凡遇四時外感，或其人元氣充實，臟氣素平無火，或時逢寒勝之令，本無內熱等症者，皆不宜妄投涼藥，以致寒滯不散，宜此主之。</p>
<p>陳皮（一錢五分）　半夏（二錢）　細辛（一二錢）　厚朴（錢五分）　生薑（三五七片）　柴胡（一錢半或二三錢）　甘草（八分）</p>
<p>水一盅半，煎七八分，溫服。如邪盛者，可加羌活、白芷、防風、紫蘇之屬，擇而用頭痛不止者，加川芎一二錢。如多濕者，加蒼朮。如陰寒氣勝，必加麻黃一二錢，或兼桂枝。不必疑也。</p>
<h3>三柴胡飲（新方）</h3>
<p>三為木數，從肝經血分也。凡人素稟陰分不足，或肝經血少，而偶感風寒者邪不深，可兼補而散者，或病後產後感冒，有不得不從解散，而血氣虛弱，不能外達者，宜此主之。</p>
<p>柴胡（二三錢）　芍藥（錢半）　炙甘草（一錢）　陳皮（一錢）　生薑（五七片）　當歸（二錢，溏泄者易以熟地）</p>
<p>水一盅半，煎七八分，溫服。如微寒咳嘔者，加半夏一二錢。</p>
<h3>四柴胡飲（新方）</h3>
<p>四為金數，從氣分也。凡人元氣不足，或忍飢勞倦，而外感風寒，六脈緊數微細，正不勝邪等症，必須培助元氣，兼之解散，庶可保全，宜此主之。</p>
<p>柴胡（一二三錢）　炙甘草（一錢）　生薑（三五七片）　當歸（二三錢，瀉者少用）　人參（二三錢或五七錢，酌而用之）</p>
<p>水二盅，煎七八分，溫服。如胸膈滯悶者，加陳皮一錢。</p>
<h3>五柴胡飲（新方）</h3>
<p>五為土數，從脾胃也。脾土為五臟之本，凡中氣不足，而外邪有不散者，非。此與四柴胡飲相表裡，但四柴胡飲止調氣分，此則兼培血氣，以逐寒邪，尤切於時用者也，神效不可盡述。</p>
<p>柴胡（一二三錢）　當歸（二三錢）　熟地（三五錢）　白朮（二三錢）　芍藥（錢半，炒用）</p>
<p>炙甘草（一錢）　陳皮（酌用或不必用）</p>
<p>水一盅半，煎七分，食遠熱服。寒勝無火者，減芍藥，加生薑三五七片，或炮乾薑一或再加桂枝一二錢，則更妙。脾滯者，減白朮。氣虛者，加人參隨宜。腰痛者，加杜仲。頭痛者，加川芎。勞倦傷脾陽虛者，加升麻一錢。</p>
<h3>正柴胡飲（新方）</h3>
<p>凡外感風寒，發熱惡寒，頭疼身痛，　瘧初起等症，凡血氣平和，宜從平散者，此方主之。</p>
<p>柴胡（一二三錢）　防己（一錢）　陳皮（錢半）　芍藥（二錢）　甘草（一錢）　生薑（三五片水一盅半，煎七八分，熱服。如頭痛者，加川芎一錢。如熱而兼渴者，加葛根一二錢惡者，加半夏一錢五分。如濕勝者，加蒼朮一錢。如胸腹有微滯者，加厚朴一錢。如寒氣勝而邪不易解者，加麻黃一二三錢，去浮沫服之，或蘇葉亦可。</p>
<h3>柴陳煎（新方）</h3>
<p>治傷風兼寒，咳嗽發熱，痞滿多痰等症。</p>
<p>柴胡（二三錢）　陳皮（錢半）　半夏（二錢）　茯苓（二錢）　甘草（一錢）　生薑（三五七片水一盅半，煎七分，食遠溫服。如寒勝者，加細辛七八分。如風勝氣滯者，加蘇葉一。如冬月寒甚者，加麻黃一錢五分。氣逆多嗽者，加杏仁一錢。痞滿氣滯者，加白芥子五七</p>
<h3>麥煎散</h3>
<p>鱉甲　乾漆　大黃　生地　柴胡　赤苓　石膏　白朮　甘草　小麥思則火結心包，加常山以開其結。</p>
