<header data-type="book">
<h1>醫醫小草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>寶輝</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1901">公元1901年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>予友玉珊寶君，姿性傑出，好讀書而尤致力於醫，醫書無所不窺，凡岐軒方術，與夫古今名家諸集，皆能潛心考究，默尋指歸，如此者亦有年，其間或有因疑得悟，因悟得解者，爰撮其大要，著為論說，名之曰《醫醫小草》。予周覽一過，竊嘆寶君此書，能發前人之所未發，補古人之所不逮，使非洞明乎五運六氣之機緘，七情九候之異同，以及臟腑虛實，經絡源流，陰陽變化，氣血周轉，而又方藥爛熟，臨症甚多，安能如是之精審詳備，不滋遺議也乎？吁，博學詳說，盡宣醫學之奧，使天下後世，凡業醫者皆有所依據，寶君方功，誠匪淺矣。予少與君同學，備悉君之天姿英敏，立志甚大而銳，自離群而後，予雖稍稍涉獵方書，亦欲以術活人，而著述之事，自漸固陋，謝未能也。今讀《醫醫小草》，深幸寶君既能醫世，又能醫醫，行見此書之不脛而走，遂不計辭之工拙，樂而為之序云。</p>
<p><u>光緒二十有七年歲次辛丑季夏初吉硯愚弟春云倬清甫拜敘</u></p>
<p>醫之難能也，孫氏思邈其知之乎？孫氏之著《千金要方》也。曰：「凡欲為大醫者，必諳</p>
<p>《靈》、《素》、《甲乙》、《明堂》、《流注》、《本草》、《藥對》，以及仲景、叔和、阮、范、張、靳諸部經方，又須妙解陰陽祿命，諸家相法，灼龜五兆，周易六壬。若不爾者，如無目夜游，動致顛隕。」豈不以醫之道，通乎造化，與陰陽五行相消息，不如是不足盡醫之能事哉！今之世距唐遠矣，孫氏所言諸術不盡傳，諸經方亦多不可見。然自唐以來，千余年間，以醫名者數十人。此數十人者，又各有所論著，以成一家之言，雖其中是非雜出，要莫不即其生平辛苦所僅獲者，掬而告諸萬世。自今觀之，南北燥濕不同，古今稟賦亦異，執其一說，或且足以殺人。然則欲應無窮之變，而不窘於所施，不可不廣覽博采，以待一日之用明矣。顧今之懸壺者流，略識藥性，請者造門，如《內》、《難》、《傷寒》、《金匱》諸書，不一寓目，遑問其他？晚近人情，樂簡易而惡繁重，大抵然也。有本其師說，與其平日揣摩而有得者，約舉以相示，不可謂非仁人之用心，而希捷獲者之所甚便，然則玉珊是書之刻，其亦有不容已者乎？余與玉珊遇於維揚書肆中，非素相識也。聞余購夏氏奇疾方未獲，慨然出其家藏本假鈔，因以是書屬序。觀玉珊之先施於朋友如此，其於療疾處方又何如耶？書二種，號《醫醫小草》一卷，</p>
<p>《游藝志略》一卷。玉珊富於年，異日讀書愈多，研理愈深，吾知其所撰述，較今必更有進也。</p>
<p><u>望江何聲煥頓首拜序。</u></p>
<p>寶子玉珊，余世好也。卓　有大志，而酷嗜醫，少時讀《靈、《素》、《玉函》諸經，有神悟。若熟識者，其談醫則按病施治，毫無難色。余尚不之信，適余患溫病，十余日數易醫矣。</p>
<p>玉珊為出一方，投之立效，始信玉珊之有得於醫為不誣云。然余究惜玉珊之自小其志，而未觀於讀書致用之大也。而玉珊則視棄舉之業，如棄敝屣，以為從事占HT　，規規於記誦詞章之末，即幸獲一第，亦復於世何裨？是則玉珊之牢騷郁抑，因托於醫以自見者。歲丙申余治裝北上，赴部供職，而玉珊亦於是歲出游，由是天各一方，幾及四年。旋余以讀禮家居，就館於鄂之撫署。季夏假歸，玉珊亦先於前月旋裡，握手道故，歡逾平生，出所著《易知錄》、《醫藉選》、《游藝志略》、《夜談隨記》各種而請序於余。余固不能辭，惜余少究心岐黃，未識玉珊醫術，果能闡《內經》之奧旨，窺仲聖之秘蘊否？但自玉珊之立意言之，亦若懲世之庸醫殺人，而有所不得已者，則以是延頸翹首而望之曰：玉珊之書，其傳矣乎！是為序。</p>
<p><u>光緒庚子立秋之後一日前工部主事愚小兄迎喜雨亭甫識</u></p>
<h2>自序</h2>
<p>醫學之難，難於無偏，無偏者仲景一人而已。厥後方書汗牛棟，以偏得名者莫勝於金元，如子和偏攻，丹溪偏補，河間偏涼，東垣偏溫，入主出奴，愈趨愈下。而學古者泥古，執一家言，妄辨得失，非偏於寒證治法，即偏於溫證疫證治法。殊不知寒溫疫三證，包括者廣，推之霍亂、瘧痢、吐血、咳嗽，莫不各有斯三者，是三證明，而諸外感證，自迎刃而解。何偏之有？夫醫本全生術耳。今習是術者，全生適足以傷生。蓋欲人之生者，是其心。速人之死者，是其術。無他，醫庸故也。天下多一明醫，而所全者眾，少一庸醫，而所全者更眾。茲編其欲化庸醫為明醫，俾使融會三者，同歸於無偏而後已，未始非救偏之一助乎？</p>
<p><u>光緒辛丑夏仲西園居士撰於輔文書院之南軒</u></p>
<h2>游藝志略自序</h2>
<p>余自從朱爻生習醫後，在皖南遇一友，周君潛初也。在揚州遇一師，葉君子雨也。余川廣閩浙，足跡所經，知音者希。竊以不明營衛，血脈難通。不明三焦，氣化何識？勞瘵，人只知虛而不知實。蠱脹，人只知實而不知虛。霍亂第知其為寒，消渴第知其為熱，而不知凡病各有寒熱虛實，偏則多弊。余不揣譾陋，謹將得諸師友者，都為一卷，以公同好。顏曰</p>
<p>《游藝志略》。蓋持藝以游，游愈遠而藝愈進，聊以備救弊補偏之一助，敢著述云乎哉！然亦僅可為知者道也。</p>
<p><u>光緒二十七年歲次辛丑仲夏月兩湖釣叟自記</u></p>
<h2>精義匯通</h2>
<p><u>滋膩妨中運，剛烈動內風</u></p>
<p>滋膩如天冬、麥冬、熟地、生地、石斛、葳蕤、人參、阿膠、百合、蜂蜜、甘草、大棗、麻仁、文蛤、花粉、菊花、小麥、雞黃、蠶砂、首烏之斂陰，剛烈如吳萸、丁香、川椒、乾薑、肉桂、附子、硫黃、蒼朮、巴豆、草果之動陽，乃一時救急之藥，非常病可久任之品。妨中運者，以土喜燥而惡濕。動內風者，以木喜水而憎火也。</p>
<p><u>辛熱耗營液，溫補實遂絡</u></p>
<p>外感發表，辛藥固不可少，如麻黃、蘇葉、葛根、升麻、羌活之散氣，桂枝、柴胡、荊芥、當歸、川芎之行血，各有奇功，誤用耗液，多變痙厥。內傷托裡，溫藥亦未可廢，如白朮、黃　、飴糖之補脾，杜仲、菟絲、故脂之補腎，非無幸中，第過用阻絡，定患藥癖。二者皆能助邪而益病，主用者，不可不慎。</p>
<p><u>苦寒傷生氣，咸潤蔽太陽</u></p>
<p>熱在氣分，宜甘寒，在血分，宜苦寒，盡人而知，據時令言，春溫，秋燥，甘寒用處甚多，惟夏外陽內陰，則宜苦以燥濕，寒以勝熱。然胃陽素虛者，自不可過投。而《金匱‧吐衄》篇三黃瀉心湯云：治心氣不足，西昌謂培生氣而堅臟。誠然，何醫只知有倒胃之弊哉？其藥如大戟、甘遂、葶藶、防己、知母、大黃、黃芩、黃連、梔子、丹皮、青黛、木通、苦參、龍膽草、鴉膽子之類是苦寒，雖有清實熱之益，弊與滋膩同，不再贅。鹹寒如鱉甲、蟹殼、僵蠶、蟬蛻、蛇皮、蜣螂、水蛭、　蟲、海藻、紫葳、文蛤、牡蠣、秋石、戎鹽、人中白、肉蓯蓉、桑螵蛸、元明粉之屬，軟堅，清燥，卻風火，攻宿血，非無捷效，用之過當，心陽蒙蔽，而神明為之不靈，精血為之日削矣，司命者尤當急知之。</p>
<p><u>外感忌酸收，內症戒消導</u></p>
<p>酸收如棗仁、榴皮、五味、烏梅、訶黎勒、罌粟花、宣木瓜、山茱萸，澀可固脫似也。設有一毫外感，令邪永無出路。即系內傷吐血、咳嗽之證，反致成勞。觀仲景用烏梅，必用川椒，用五味，必用乾薑，用麥冬必用半夏，用棗仁必用川芎，其意深矣。內傷之證，有陽虧於外者，有陰虛於內者，彼茱萸、茯苓、澤瀉、滑石、瞿麥、石韋之利溺，牽牛、芒硝、大白、大青、大黃之滑腸，切勿亂投。即兼有外感，則麻桂發汗，瓜蒂、皂角探吐，更宜酌用。傷寒有云：亡血家不可發汗，瘡家亦不可汗，濕家不可下，是其例也。乃暴病忌參、朮、黃　、熟地，沉　忌枳、朴、桃仁、山楂，亦可類推。</p>
<p>合觀四節，可審用藥之法。</p>
<p><u>二妙不盡妙，四神亦非神</u></p>
<p>蒼朮、黃柏，一生一熟，偶方中之小劑，濕熱證之妙方，所以二妙命名。究竟治濕重於熱者則妙，若熱重濕輕，當加入知母、地榆較妥，而風濕寒濕，終非其治也。故脂、豆蔻、吳萸、五味，四藥合丸，治食後脾泄、五更腎泄神效。殊不知脾腎之泄，有命火虛者，有肝火熾者，徒以為神，即有增病速死之神矣，可知方書中，隨意命方者，如八珍、十全、固本、保真之類，不得以其名目好看，而妄投不計。但四君子扶脾，誰謂不善？以治脾虛，可稱君子，若遇胃實，何異小人？蓋方無論平奇，要在對證。</p>
<p><u>白虎固金佳，青龍驅水捷</u></p>
<p>虎嘯風生，其熱自平，凡火刑肺胃，當推白虎第一。若火在肝腎，即芩連阿膠雞子黃湯、白頭翁湯之證治，此方未能勝其任。胃有實邪，粳米又宜減之。而小青龍，桂枝開天，細辛通地，復有薑、夏、麻、草溫中以散其外，芍藥內助以托其邪，面面周到，無微不入，故洄溪謂為治寒水之神劑。發汗利水，並可補四逆、真武之不逮。然溫邪咳嗽，誤投必斃。大青龍發汗亦然。是二法乃一大寒大熱之對子，瀉心、四逆，庶堪比肩。</p>
<p><u>理中傷胃脂，逍遙劫肝陰</u></p>
<p>理中湯之醒脾，逍遙散之疏肝，洵為良方，然治氣分不足則可，若以之治血虛之體，是增病而速斃。凡方皆利弊相因，彼偏用二方者，何徒知其利而不計其弊哉？</p>
<p><u>牛黃損離火，黑錫奪坎水</u></p>
<p>一清心中痰火，一攝腎下寒水，誠醫家宜備之要藥。然備以治倉猝閉證，則有無窮之益，誤施於久延脫證，其害不可勝言。蘇合香丸治氣閉，大活絡丹治中風，損益同此。</p>
<p>合觀四節，可以悟投方之機。</p>
<p><u>溫寒須行氣，清熱要活血</u></p>
<p>氣滯而後寒積，血壅而後熱生。行氣如旋覆、香附、陳皮、蔥、薤等味，加入溫藥隊中以散寒，其效倍捷。清熱苦寒，甘寒鹹寒諸藥，大劑寒涼，必加入活血之品，如桃仁、丹皮、澤蘭、茜草、劉寄奴、參三七等，乃無冰伏熱邪之弊。此理本易知，惜醫多不識，故特表而出之。</p>
<p><u>命方良有以制劑豈徒然</u></p>
<p>方有膏、丹、丸、散、煎、飲、湯、漬之名，各有取義。膏取其潤，丹取其靈，丸取其緩，散取其急，煎取其下達，飲取其中和，湯取其味，以滌蕩邪氣，漬取其氣，以留連病所。而君臣佐使，配合全在分量，如小承氣用大黃為君，走中下焦血分，厚朴為君，即變而為中上焦氣分之法。陽旦湯桂枝為君，走太陽，芍藥加倍，便入太陰。當歸赤小豆散，赤豆為君，重在敗毒，當歸為君，重在理血。主之，佐之，輕之，重之，運用之妙，存乎一心，立方者詎可忽諸？</p>
<h2>六經提綱</h2>
<p>仲景《傷寒》一書，乃統治外感之書，非專治風寒者也。六經分明，寒溫疫三證，均曉然矣。茲錄提綱於下曰：「太陽之為病，脈浮，頭痛，項強，而惡寒。」「陽明之為病，胃家實是也。」「少陽之為病，口苦，咽乾，目眩，耳聾。」「太陰之為病，腹痛，自利，時時嘔吐。」「少陰之為病，但欲寐是也。」「厥陰之為病，消渴，氣上衝胸，飢不欲食，食則吐蛔，下之利不止。」</p>
<h2>六字真言</h2>
<p>無論外感內傷，無論出其右者，莫六字若也。曰表，裡，寒，熱，虛，實。三陽為表，三陰為裡。表中之裡，陽明是也，裡中之表，少陰是也。並各相表裡。三陽之腑主表，經主裡。三陰則心肺主表，脾肝腎主裡。外感者表宜汗，裡宜下。內傷者表宜清補，裡宜溫補。內傷陽則陰盛，陰盛者易感寒。內傷陰則陽亢，陽亢者易感熱。此所謂邪乘虛入也，虛為正虛，實乃邪實。故經云：「邪氣盛則實，精氣奪則虛。」醫能將此參伍錯綜，條分縷晰，則亦庶乎其可也。</p>
<h2>六氣便解</h2>
<p><u>風</u></p>
<p>風有內外。內動之風病於肝，治當辛涼。</p>
<p>外感之風病在肺，治當溫散。兼寒脈緊，兼濕脈弦，燥化脈數，寒化脈遲，本病脈浮。</p>
<p><u>寒</u></p>
<p>寒有表裡，而表裡各有虛實。實者解表，宜麻黃湯，攻裡宜三物白散。虛者固表，宜桂枝湯，溫裡宜四逆湯。兼風脈浮，兼濕脈沉。</p>
<p><u>暑</u></p>
<p>天熱地濕，合而成證，暑氣當令，因時命名，邪實脈洪，正虛脈濡。</p>
<p><u>濕</u></p>
<p>濕有清濁。露霧濕傷氣分者曰清，潮水濕傷血分者曰濁，清宜發汗，濁宜利水。從燥化則脈急，從寒化則脈緩，本病脈滑。</p>
<p><u>燥</u></p>
<p>燥有虛實，虛燥救肺，實燥瀉心，酸甘涼潤，始終正治，邪實脈澀，正虛脈短。</p>
<p><u>火</u></p>
<p>火有陰陽，陽火可釜底抽薪，陰火宜導龍歸海，陽脈有力，陰脈無神。</p>
<h2>醫經補正</h2>
<p>服桂枝湯，大汗出，脈浮大者，與桂枝湯如前法。若形如瘧，日再發者，汗出必解，桂枝二麻黃一湯主之。</p>
<p>脈浮緊者，病在表，可發汗，宜麻黃湯。脈浮而數者，可發汗，宜麻杏甘石湯。</p>
<p>傷寒脈浮緩，身不疼，但重，乍有輕時，無少陰裡證者，越婢湯主之。</p>
<p>傷寒脈浮滑，此表有熱，裡有寒，白虎加桂枝湯主之。</p>
<p>寒實結胸，無熱證者，與三物白散，小陷胸湯亦可用。</p>
<p>傷寒身黃發熱者，麻黃連翹赤小豆湯主之。傷寒瘀熱在裡，身必發黃，梔子柏皮湯主之。</p>
<p>傷寒心下有水氣，咳而微喘，發熱不渴，小青龍湯主之。服湯已渴者，此寒去欲解也。</p>
<p>傷寒脈浮緊無汗，發熱身疼痛，八九日不解，表證仍在，此當發其汗，麻黃湯主之。</p>
<p>服藥已微除，其人發汗，目瞑劇者，必衄，衄乃解。所以然者，陽氣重故也。</p>
<p>傷寒不大便六七日，頭痛有熱者，與承氣湯。小便清者，知不在裡，當須發汗，宜桂枝湯。苦頭痛者必衄。</p>
<p>太陽病寸緩，關浮，尺弱，其人發熱汗出，復惡寒，不嘔，但心下痞者，此以醫下之故也。病患不惡寒而但渴者，此轉屬陽明也。其不可下者，小便數者，大便必硬，不更衣十日，無所苦也。渴者宜五苓散，渴欲飲水者，少少與之。</p>
<p>病發於陽，而反下之，熱入，因作結胸。病發於陰，而反下之，因作痞。所以成結胸者，以下之太早故也。所以成痞者，誤下故也。</p>
<p>金匱云：陽毒咽痛吐膿血，面赤斑如錦紋，升麻鱉甲湯主之，陰毒面青如藍靛，身痛如被杖，升麻鱉甲去雄黃蜀椒主之。</p>
<p>金匱云：病微飲，短氣，苓桂朮甘湯主之。腎氣丸亦主之。</p>
<h2>治病法解一</h2>
<p>治外感如將，（意在去其所本無，所謂急則治標。）治內傷如相，（意在復其所固有，所謂緩則治本。）治心肺如羽，（藥當從輕）。治脾胃如衡，（藥當從平。）治肝腎如權。（藥當從重。）</p>
<h2>治病法解二</h2>
<p>古人治外感，有汗吐下三法。治內傷有溫清和三法，其實皆治肺胃也。肺寒實則汗之。胃寒虛則溫之。肺胃虛熱，治以清和。肺胃實熱，治以吐下。此至當不易之法，時醫不識，調理肺胃，歸宗脾腎，去古遠矣。</p>
<h2>素問摘要</h2>
<p>臟腑為病者：心為噫，肺為咳，肝為語，脾為吞，腎為欠為嚏，胃為氣逆為噦為恐，大小腸為泄，下焦溢為水腫，膀胱不利為癃閉，不約為遺溺，膽氣鬱為怒。諸病所屬者：諸風掉眩，皆屬於肝。諸寒收引，皆屬於腎。諸氣　郁，皆屬於肺。諸濕腫滿，皆屬於脾，諸瘡痛癢，皆屬於心。諸痿喘嘔，皆屬於上。諸厥固泄，皆屬於下。諸暴強直，皆屬於風。諸病水液，澄澈清冷，皆屬於寒。諸嘔吐酸，暴注下迫，皆屬於熱。諸脹腹大，諸病有聲，按之如鼓，諸轉反戾，水液混濁，皆屬於熱。諸痙項強，皆屬於濕。諸熱督　，諸禁鼓栗，如喪神守，諸病跗腫，疼酸驚駭，諸逆衝上，諸躁狂越，皆屬於火。四時所病者：春善病鼽衄，仲夏善病胸脅，長夏善病洞泄，寒中，秋善病風瘧，冬善病痹厥，此病機之要旨也。</p>
<p>風淫於內，治以辛涼，佐以苦甘，以甘緩之，以酸瀉之。寒淫於內，治以辛涼，佐以甘苦，以咸瀉之。暑淫於內，治以鹹寒，佐以苦甘，以酸收之。濕淫於內，治以苦熱，佐以酸辛，以苦燥之，以淡泄之。燥淫於內，治以苦溫，佐以酸辛，以苦下之。火淫於內，治以咸冷，佐以苦甘，以酸收之，以苦發之。此治法之要則也。</p>
<h2>三證合參</h2>
<p>發熱，汗出，惡風，脈緩者，名曰中風。惡寒，體疼，嘔逆，脈寸尺俱緊者，名曰傷寒。此風寒脈證之提綱也，分言之六經，各有專證，各有異脈。太陽受病，寸尺俱浮。陽明受病，寸尺俱長。少陽受病，寸尺俱弦。太陰受病，寸尺俱細。少陰受病，寸尺俱弱。厥陰受病，寸尺俱微而緩，故曰脈異。太陽汗不出名傷寒，汗自出名中風。陽明能食為中風，不能食為傷寒。少陽耳聾，目赤，胸滿，心煩，為中風；頭痛，發熱，而脈弦細，為傷寒。太陰中風，手足自溫，傷寒自利，不渴。少陰中風，自利而渴，傷寒欲吐欲寐。厥陰中風，舌卷囊縮，傷寒飢不欲食。故曰證專在三陽，脈則浮，三陰脈則沉，其緩緊遲細則一。若浮不緩，不緊，而滑數，沉不細，不遲，而濡急，則即風溫與濕溫之脈。再審其證，庶無錯誤。至於陽證見陰脈，陰證見陽脈，舍從兩難，乃系疫證，與寒溫異治矣。</p>
<p>寒本陰邪，何以傷寒證中又有中風？溫乃陽邪，何以溫證之中，又有濕溫？要知陰中有陽，陽中有陰。寒證中傷寒是主，中風是賓。溫證中風溫是主，濕溫是賓。濕溫與傷寒相對待，風溫與中風相對待。而疫則有寒有溫，溫疫是其常，寒疫是其變。知常知變，知對待，知賓主，可與言陰陽互根之理矣！彼囿於一偏者，不肆用寒涼，即概用溫補。曾亦思偏寒偏熱之證，不多見耶。</p>
<h2>說寒</h2>
<p>寒最要者，表裡二字。而表裡中，又有兼風兼濕之別。風寒病太陽，濕寒病太陰。伏氣治少陰，感冒治少陽。第拘標本言，少陰太陽司此氣耳。余惟太陰亦多，至少陽陽明厥陰三經，即系寒病，每從熱化，和解可也。當與前六氣參看。</p>
<h2>說溫</h2>
<p>溫熱之論，葉香岩尋其源。風濕之分，陳平伯溯其流。厥後吳氏鞠通，祖述葉案，而著《條辨》。王氏孟英，憲章平伯，而纂《經緯》。治溫津梁諸書備已。然一則界劃三焦，一則伏氣未達，智者一失，殊為二先生惜。今將風濕分兩段，持前人言，以明其義，庶長夜一燈，不致盲人摸索。</p>
<h2>風溫</h2>
<p>吳鞠通曰：風有溫有寒。風寒之風，此風從北方來，乃觸發之寒風也。最善收引，陰盛必傷陽，故首郁遏太陽經中之陽氣，而為頭痛，身熱等證。太陽陽腑也，傷寒陰邪也，陰盛傷人之陽也，故曰風寒。風溫之風，此風從東方來，乃解凍之溫風也。最善發泄，陽盛必傷陰，故首郁遏太陰經中之陰氣，而為咳嗽，自汗，口渴，頭痛，身熱等證。太陰陰臟也，溫熱陽邪也，陽盛傷人之陰也，故曰風溫。</p>
<h2>濕溫</h2>
<p>葉子雨曰：濕溫之因有三，陽脈濡而弱，陰脈小而急，此先受暑，後中濕，乃暑邪蒸濕者是也。證見兩脛冷，腹滿，又胸頭目痛，妄言，治在足太陰，不可發汗。由先傷於脾，因而中，濕熱相搏者是也。脈濡弱，舌苔白或絳底，嘔逆口乾，不能湯飲，胸滿悶，身潮熱，汗出稍涼，少頃又熱，此春分後，秋分前，少陰君火，少陽相火，太陰濕土，三氣合行，加以天氣熱下降，地氣濕上騰，由口鼻吸受，著於脾胃者是也。誤治變證，非一端所能盡。夫濕自外來，上焦氣分受之，潮熱，自汗，表之不解，清之不應，宜宣通氣分。若冒雨霧，濕留太陰，肌表發熱，自汗，不渴，不飲，舌苔灰白，黏膩，身雖熱，不欲去衣被者，宜解肌和表。論證不清，鮮有不僨事者。</p>
<h2>說疫</h2>
<p>疫者，役也。猶徭役之謂，多見於旱潦兵燹之余，烈日鬱蒸，尸骸之氣，與亢勝之氣，混合化而為厲毒，散漫於天地之間，受之者大則一郡一城，小則一村一鎮，互相傳染，所感之因雖同，所患之證不一。如東坡所論寒濕之疫也，東垣所論虛疫也，吳又可所論濕熱相搏之疫也，余師愚所論暑燥之疫也，故劉溫舒《素問遺篇》有五疫之刺，龐安常《總病論》有五色之治，然不可泥也。越人《五十八難》言，傷寒有五，其中風，傷寒，濕溫，熱病，證脈委曲詳盡，行在諸經，不知何經之動也。蓋隨其經所在而取之。蓋天地　厲之氣，不可以常理測，不得以常法治。彼見溫病，動手發汗，是誤以傷寒法治溫病。每遇疫病，往往失下，則又是以溫病法施治於疫，更誤之甚矣。</p>
<h2>辨證</h2>
<p><u>發熱</u></p>
<p>寒證發熱惡寒者，病發於太陽也。無熱惡寒者，病發於少陰也。溫疫發熱是潮熱，非若傷寒壯熱，初起間有惡風，及次日即口渴畏熱。而疫證憎寒壯熱，有如癉瘧是已。</p>
<p><u>嘔利</u></p>
<p>少陽膽木，挾火披猖，嘔是上衝，利由下迫，此謂風溫之嘔利也。中虛始利，聚飲而嘔，此濕溫之嘔利也。若夫胃氣不降，肺氣不和之嘔利，疫多有之。蓋或溫或疫，凡嘔利者，是其邪之出路，不可遽止，寒病反是。</p>
<p><u>諸痛</u></p>
<p>頭痛目痛，太陽陽明傷寒者不至側傾難舉，溫與疫則頭痛如劈，兩目昏瞀，勢若難支，骨煩疼，腰如被杖。寒病責在傷陽，溫疫責在虧陰。</p>
<p><u>肢冷</u></p>
<p>在寒證是腎陽不通，在溫證、疫證是肝陽不宣，所以寒踞少陰，與熱伏厥陰有別。</p>
<p><u>鼻衄</u></p>
<p>寒證見之是邪氣之將退，溫疫見之乃邪氣之正進。</p>
<p><u>蓄血</u></p>
<p>寒證當汗不汗，熱結膀胱，溫疫當下失下，火鬱膜原，均有此證。凡發熱不退，小便自利，其人如狂，而喜忘者皆是。</p>
<h2>治法</h2>
<p>寒病宜汗者，是外感之風寒。而中寒則宜溫，雖有裡證，總以先汗後下為是。溫病風溫慎汗，治當辛涼，濕溫禁下，治宜苦寒。疫病表裡雙解，內外分消，偏汗偏下，兩非所宜。</p>
<h2>指南</h2>
<p>病證有相類者，不可不辨。濕從寒化曰痹，濕從熱化曰痿。中風，寒中衰食飲，熱中消肌肉。厥冒血厥由風，氣厥由痰，煎厥是風，薄厥是熱，痛厥是寒，蛔厥是濕。此風痹痿厥相類而實殊。重陽者狂，重陰者癲，陰陽相搏者癇，津液兩虧者痙，此癲狂癇痙，相類而實殊。</p>
<p>清不升則嘔，濁不降則吐，清濁不分則噦，營衛不和則噫，此嘔吐噦噫，相類而實殊。氣分六聚，　癖是已，血分五積，　瘕是已，此　瘕癖，相類而實殊。虛損宜補精，勞瘵宜攻血，蠱宜開肺，膈宜調胃，此蠱膈虛勞，各從其類。</p>
<p>黃癉黃汗，濕與風別，臟結臟燥，寒與熱分。咳嗽當別痰飲，消渴須分寒水。水逆火逆，少陰手足不同。風溫濕溫，太陰手足各異。九痛七疝，虛實自喜按拒按而定。三沖五郁，燥濕由善怒多恐而明。各門別類，毫厘千裡，醫當辨記，勿謂不然。</p>
<h2>審脈</h2>
<p>浮沉以審表裡之虛實，遲數以審臟腑之寒熱，大小以審邪氣之進退，長短以審正氣之濃薄，滑澀以審血氣之盛衰，左右以審生克之順逆，合望聞問思過半矣。此所云者，聊舉一隅，是在善悟者，觸類旁通可耳。</p>
<h2>附：游藝志略</h2>
<p><u>營衛，血氣也。何以《內經》或云一晝夜五十周於身，或云一晝夜一周於身？其運　</u></p>
<p>行之道，生會之理，盍詳陳之。</p>
<p><u>　</u></p>
<p>答曰：一陰一陽之謂道，有三氣存乎其間。譬如陰靜也。陽動也。所以使其動靜者，又一也。識此則明三才之指歸，知互根之為用矣。營主血，衛主氣，然營血何以能循行經脈，衛氣何以能濡潤皮毛？蓋血中有氣，氣中有血，不可斯須之相離，此即陰陽互根之理也。請參中西之說以證明之。西士言食入於胃，其精汁有微絲液管吸至頸，過肺入心，化赤為血，由總脈管達下焦，散布十二經脈，此即行十六丈二尺，脈道以應漏水百刻，五十度周於身之營血也。經言營氣之道，內穀為寶。穀入於胃，乃傳之肺，流溢於中，布散於外。精專者，行於經隧，常營無已，終而復始。又言人受氣於穀，穀入於胃，以傳於肺，五臟六腑，皆以受氣，其清者為營，濁者為衛，營在脈中，衛在脈外，周營不休，五十而復大會，陰陽相貫，如環無端者是也。人之飲食五味雜投，奚能無毒？其清者，奉心化赤為血。其濁者，積於胸中，隨經脈中之血氣，出諸氣街，散布周身，以衛護陽氣，故謂之衛氣。西士言血由脈管之尾，入微絲血管，纏布周身，以充膚熱肉。其所謂微絲血管者，孫絡也。微絲血管之血行遍周身，漸並漸粗，而入回血管。回血管者，絡脈也。血入回血管，則其色漸變為紫，中含毒瓦斯故也。其管兩支，一支向上，一支向下，皆與十二經脈，逆順皆行，至總回管入心右房，由心至肺，呼出毒瓦斯，吸入生氣，其血復變為赤。</p>
<p>從心左房而入總脈管，往來如環，晝夜不息。經言穀始入胃，其精微者，先出胃之兩焦，以溉五臟，別出兩行營衛之道。其大氣搏而不行，積於胸中，命曰氣海者也。西士言脈管內其血行速．微絲血管內，其血行遲，查得總脈管內，每秒時行十二寸，足脈管內，每秒時行二寸有奇，微絲血管內，每分時只行一寸。經言衛氣之行，一日一夜五十周於身，晝日行陽二十五度，夜行陰二十五周，周於五臟。又言衛氣常一日一夜，大會於風府，日下一節，二十一日下至尾　，二十二日入脊內，注於伏沖之脈，其行九日出於缺盆之中，其氣上行者也。</p>
<p>夫《營衛生會篇》所謂一日一夜，五十度周於身者，乃奉心化赤之血，由心入總脈管，散布三陰三陽之十二經脈，行八百十丈脈道之營氣也。《歲露篇》所謂一日一夜，行身一周者，乃脈管之血氣，由三焦氣街，出諸孫絡，挾陽明悍氣，纏布周身，充膚熱肉，淡滲毫毛之衛氣也。《營衛生會篇》所謂晝行陽二十五度，夜行陰二十五度者，乃絡脈中之氣血，行遍周身，漸並漸粗，而入絡脈也。絡脈有陰陽之分，陽絡浮於膚表，陰絡沉於肌裡，皆與十二經脈管交相逆順而行。緣人晝則寤，寤則動，動則陽氣浮，故絡脈中之氣血，行陽絡者多。夜則寐，寐則靜，靜則陰氣沉。故絡脈中之氣血，行陰絡者多。是皆奉心化赤之血，從經脈而行孫絡，從孫絡而入絡脈，一氣營運，循環不息耳。然經以清者為營，濁者為衛，此中界限，分劃甚嚴。蓋脈管之血色紅，既出三焦氣街，入孫絡色即兼紫，挾陽明悍氣之毒故也。入絡脈其紫色較重，必待入心出肺，呼出此毒瓦斯，吸入生氣，其血復變為赤，落心左房，而入脈管，是脈管中營運之血氣，為營，清而無毒也。孫絡絡脈中之氣血為衛，濁而有毒也。學人當知同一榮養百骸之氣血，而涇渭分明，不容紊亂也明矣。其治病大法，亦當從茲悟入。風寒由毛竅襲入者，宜達表。由口鼻吸受者，宜攻裡。沙瘴一證，刮則瀉孫絡中之熱毒，刺則瀉絡脈中之熱毒，故刺出之血紫病輕，深紫病重，色黑則危。蓋暑穢之毒，隨陽明悍氣，至總脈管，入心，入心則死矣，凡百傷寒溫暑，從可類推也。若夫《歲露篇》所謂衛氣之行，一日一夜，大會於風府，日下一節，九日而上出缺盆，與一日一夜，五十度，周於身之行度，遲速不侔者，蓋出三焦氣街，入孫絡之氣血，纏布周身，如日繞天之外，故其行遲。經脈陰陽逆順偕行絡脈中之氣血，如月行地之中，故其行速。或謂江河窄處水流急，寬處水流緩，何以脈管闊處血行速，而出氣街之氣血，挾陽明　悍之氣，何以行遲？斯說亦頗近理，江河窄處其流急是矣。若支派分流，則細港淺渠，其泄亦迂緩，陽明悍　之氣滑疾是矣，若散漫不收其氣，亦力弱行遲。況億萬分派之微絲血管乎？勢分行緩，理勢然也。雖然，此猶日月營運，陰陽造化自然之理，非知力所能臆度者也。《衛氣篇》黃帝所云：亭亭淳淳乎，孰能窮之？其斯之謂歟。</p>
<p><u>外感重病，因四時之有伏氣也。伏氣不明，何療外感？張隱庵非不知也，惜於反覆　</u></p>
<p>辨論中，多有詞不達意者，繼而王孟英議吳鞠通略伏氣，而自強侈談，毫無實際，愿聞其說。</p>
<p><u>　</u></p>
<p>答曰：《素問‧陰陽應象大論》曰：重陽必陰，重陰必陽，故曰冬傷於寒，春必病溫，春傷於風，夏生飧泄，夏傷於暑，秋必　瘧，秋傷於濕，冬生咳嗽。此四時伏氣之機，尤重在「重陰必陽，重陽必陰」八字，以明陰陽互根之義也。何以言之？傷於風者上先受之，傷於濕者下先受之。風為陽邪，陽病者上行極而下，是以春傷於風，夏生飧泄，此重陽必陰也。濕為陰邪，陰病者下行極而上，是以秋傷於濕，冬生咳嗽，此重陰必陽也。冬傷於寒，春必病溫者，冬至一陽漸生，人身之陽熱內盛，被嚴寒之氣，折伏於肌髓之間，至春陽氣盛長，伏邪淺者，亦可隨春陽之氣漸散，伏邪深者，或因風寒所遏，或為嗜欲所傷，伏結之陽氣，遇天氣之陽熱，兩熱相干，發為溫病，此重陰必陽也。夏傷於暑，秋必瘧者，夏至一陰漸生，人身之陰氣內盛，暑乃陽邪，陽氣外熾，則裡氣虛寒，加以貪涼飲冷，損其真陽，至秋陰氣之時，內伏陰邪欲出，外襲陽暑欲入，陰陽相持，故發為往來寒熱之　瘧，此重陽必陰也。是即伏氣是即外感之源也。再求精詳，自有子雨之</p>
<p>《伏氣解》在。</p>
<p><u>生氣通天論云：其生五，其氣三。何謂也？</u></p>
<p>答曰：天地陰陽一氣而已，自太虛而有太乙之生，氣由是動靜焉。而陰陽分，陰陽分而五行具，是五行之生，不離夫陰陽之一氣也。而經曰其生五，其氣三。且曰三而成天，三而成地，三而成人。是三氣者天地人之本始也。請試明之。太極無形，靜則為陰，動則為陽。易曰「一陰一陽之為道」。此一陰一陽，非各一之一，乃道之妙用，而合一之一也。惟其合一，乃能各一，則是其本一而已。有三氣存乎其間矣，是故動與靜各一也。</p>
<p>而所以能動靜者，又一也。由此觀之，太乙之所施生，造化之所鼓鑄，必得三而始能成。</p>
<p>物氣不得三則無以布於五，而五非得三，又不能各致夫一也。三者一之用，五者三之成也，故三而成天。立天之道，曰陰與陽，天總陰陽，而又積陽以自剛也。立地之道，曰柔與剛，地致柔剛，而又積陰以自奠也。立人之道，曰仁與義，然理以宰氣，而氣以宰理，故人之成也。本乎氣交，稟天之陽動為氣，本地之陰靜為精，而有神存乎其間，以立性命之基。是精氣神三者，合而不離，所謂三而成人也。且太極用此三氣以生五行，而五行之生，又莫不各用夫三氣。試就人之五臟言之。心為太陽而主血脈，是合陰陽而自為陽也。腎為太陰，而涵命門真火，是合水火而本為陰也。肺主制節，而水出高源，是合金木水以行氣也。肝為血海，而生一陽，以升太衝，是合水木火而總於厥陰也。脾上承火，下涵水以奠乎中，火以腐熟，水以滋灌，而土以歸藏，是合水火土而養四臟也。故知陰陽之致，相待為用，陰陽之根，互藏其舍。</p>
<p>而五行之變化，皆非一氣偏至之所成，蓋一有偏至，而合三則無偏至，一無鼓動，而合三則能鼓動，人徒知為三，而不知合三而後致夫一也。從知生於一，而不知用於三，而後全夫生也。自軒岐指出三氣，而造化之妙用始彰，故三五與一，太上之玄閫，養生奧關也。</p>
<p><u>《三十二難》有曰：肺白象金，肝青象木，金得水則沉，木得水則浮，何以肺浮肝沉？樂　</u></p>
<p>火樂金，其合化之道，可得聞乎？</p>
<p><u>　</u></p>
<p>答曰：十干合臟腑，甲陽木應膽，乙陰木應肝，丙陽火應小腸，丁陰火應心，戊陽土應胃，己陰土應脾，庚陽金應大腸，辛陰金應肺，壬陽水應膀胱，癸陰水應腎。若以五音配五行，營土，商金，角木，徵火，羽水。各因十干之陰陽、而分太少也。肝屬乙，木得水當浮，何以反沉？然肝雖乙木，乙與庚合，庚為陽金，金性本沉，婦當從夫，其意樂金，而失木之本性，故得水反沉也。肺屬辛，金得水當沉，何以反浮？然肺雖辛金，辛與丙合，而為陽火，火性炎上，婦當從夫，其意樂火，而失金之本性，故得水反浮也。生則生氣旺，故能合化。熟則生氣盡，故不能合化。所以肝熟而復浮，肺熟而復沉，乃返本還原也。大而言之，天地之陰陽。小而言之，即人倫之夫婦。其理一也。夫肝屬足厥陰經，位乎膈下，故行陰道多也。肺屬手太陰經，位乎膈上，故行陽道多也。今舉肝肺類推，則臟腑陰陽之合化，從可會通矣。然陰陽之理，以和為洽。夫婦之道，非脅可成。</p>
<p>合化之義，未有明其所以然者，雖張隱庵、高士宗、汪雙池、張翼元諸家，不以翼軫分疏，即用生克定論，似是而非，支離頗多。惟羅淡生《內經博議》，引申《天元玉冊》之義，最為曉暢。今節錄於下：岐伯述《天元玉冊》曰：太虛寥廓，肇基化元，萬物資始，五運終天，布氣真靈，總統坤元。夫肇基化元，而布氣真靈，乃云總統於坤元，是坤元為萬物之母也。坤元既為萬物之母，而總統之，而天亦必先有以用之也。天之十干，以戊己居中宮，而先用水火，然後成於金木，豈非總統坤元而以土為首之義乎？是以天之御化，首以土為甲，而甲遂為土，仍順布五行於乙丙丁戊之上，而以本氣化之，土生金，金加於乙，金生水，水加丙，水生木，木加丁，木生火，火加戊。五行畢，再傳而土加於己，故甲己合也。金加庚，故乙庚合也。水加丙，故丙辛合也。木加壬，故丁壬合也。火加癸，故戊癸合也。因合而化，此一定之理，有不可移易者也。然本氣之陰陽，仍有不能從化，而依之以為用者，如加陽干為氣有餘，加陰乾為氣不足，此又因值年以佐用也。</p>
<p><u>昔賢論三焦一府，紛紛聚訟，莫衷一是，或謂無形，或謂有形，或言是一，或言是二，　</u></p>
<p>甚則云為腎傍之脂者，雖明如張隱庵，亦游移其詞，不能指為何物，《內經》謂上焦如霧，中焦如漚，下焦如瀆，豈虛語哉？</p>
<p><u>　</u></p>
<p>答曰：考臟腑之學，西士言之最詳，觀《全體通考》，三焦即所謂腹包膜也。其膜包繞全腹，上通顛頂，下行膀胱，中有脂膜，橫於肝胃之間，惟遮陰道，護子宮，則男女稍異耳。或問復包膜即三焦，亦有證據否？曰觀其包二腸，遮兩腎，正當七節之間，命門部位。命門既藏水中，真火，即為相火之宅，居其位，行其權，此膜即為相火之腑。考心肺之下，肝胃之上，有膈膜一層，其形薄如細綱，上與心包絡之下面相連，下與此膜之上層黏續，氣脈通貫，則包絡為相火之臟。由膈膜上通腦筋，即經所云「上焦如霧」是也。中有薄膜兩層，包肝裹胃，即經所云「中焦如漚」是也。繞膀胱，遮陰道，以行其氣化，即經所云「下焦如瀆」是也。以此證之，腹包膜即三焦，夫復何疑？夫三焦者，腎中之脂，與膀胱相峙，有二白膜，通於兩腎，貫膂筋，由脈管以入心，即引心火入腎，蒸膀胱之水，化而為氣之物也。故心火一動，相火隨之。肝膽屬乎巽，三焦包絡屬乎震，震為陽木，火無體，以木為體，《說卦》傳言，震為雷，為龍雷之火，三焦包絡之流行，即是火之流行也。況以似府外府之大囊，配似臟別臟之小囊，亦天造地設，不可移易者也。若求此膜功用全文，自有《通考》在，茲不具贅。</p>
<p><u>三陽為腑，三陰為臟，或云心為太陽，腎為太陰，何也？六陽六陰，云手云足，或有　</u></p>
<p>他意歟？其標本之傳變，經絡之起止，可以曉否？</p>
<p><u>　</u></p>
<p>答曰：陰陽分而天地定其位，陰陽交而否泰呈其象，陰陽錯綜而後變化見焉。萬物之中惟人最靈，稟二氣淑德以生，故圓其顱，方其趾，而異於物，是以與天地相應，陰陽相參者也。夫心為手少陰，腎為足少陰，人所知也。心腎系背，背為陽，臟為陰，而心腎皆為陰者，五臟系於背內，背雖屬陽，其內所包者陰也。陽中有陰，故能剛柔相濟以成其化。蓋身中之定位，當如此耳。心復為太陽，腎復為太陰，斯又舍人身而言天地之定位。心赤色象火，應於南方。南方者，天地所長養，陽之所盛處也，則心屬老陽，故曰心主太陽矣。腎紫色象水，應於北方。北方者，天地所閉藏之域也，風寒冰冽，則腎屬老陰。故曰腎主太陰，雖然，非有異於手足少陰乎？不知其定位既異，正陰陽互根之理，復何害其不同哉？惟施治於病。在經脈者，即隨經脈所主。論治於時令勝復，即隨時令所主論治。其隨時論治，如夏為太陽，病當在心，則宜視心之受邪與否？冬為太陰，病當在腎，則宜視腎之受邪與否？無使逆其時氣。心脈不鉤，腎脈不石，斯生病矣。然所投藥餌，亦皆入手足少陰，非走太陽太陰者，尤參伍錯綜之要道焉。況心居尊高，並於君主，有顯明之象。腎處卑順，比於外家婦，屬蟄封藏之本。得主太陰太陽者以此。心通離卦，離為中女，實含陰德，且蕭邱生寒焰，海水成夜磷，復為火有出於陰者之明證，心得主少陰者，又以此也。其六陰六陽，云手云足者，考《經脈篇》手太陰肺，終手大指次指之端，即接手陽明大腸，足陽明胃終足大指之端，即接足太陰脾，手少陰心終手小指之端，即接手太陽小腸，足太陽膀胱終足小指外側，接足少陰腎，手厥陰心包終手小指次指之端，即接手少陽三焦，足少陽膽終足小指次指之間，即接足厥陰肝。蓋十二經脈云手云足，以行手行足而得名耳。豈因足在下屬陰，手在上屬陽，號為太陽陽明少陽，即不當行於足，號為太陰少陰厥陰，即不當行於陽哉？果爾，則日陽也，設不行寒帶，則格林蘭濟諸國無明也。可乎？月陰也，設不行於赤道，是蘇門答喇諸國無夜也。可乎？況三陰之脈起於面，三陽之脈起於腹裡，更非若手足之比矣，亦得謂為錯行乎？惟知陰陽相互根，即可明乎斯理矣。至標本之傳變，《至真要大論》曰：少陽太陰從本，少陰太陽從標，陽明厥陰不從標本，從乎中也。言邃旨深，殊難明曉，故自王太仆以下，皆未通其意，及張戴人始闡發火濕二字，介賓張氏又從而引伸之，厥義益顯，說具《類經圖翼》中。略謂少陽太陰從本，以少陽本火而標陽，太陰本濕而標陰，標本同氣，故當從本。其不言從中，少陽中見木，太陰中見土，木火共化，土金相生也。少陰太陽從本從標者，以少陰本熱而標陰，太陽本寒而標陽，標本異氣，故或從本，或從標。亦不言從中，少陰之中水，太陽之中火，同本則異標，同標則異本也。若陽明厥陰，其不從標本，從乎中氣者，以陽明中濕土，是濕從燥化矣。厥陰中相火，是木從火化矣。故不從標本，從中氣也。傳變則勝復，盛衰之道生焉。從其化則為常，然後生不息。逆其化則為變，必致災害起。如木從火化，木具生氣，遇火盛而化為炭，反無鑽火之功，此太過也。木失其化，木朽火衰，亦少出火之質，此不及也。</p>
<p>燥從濕化，物雖感濕生，干物含濕必霉壞，遂非本性，此亦太過也。土失其化，地薄土濕，則五金不能蘊，此亦不及也。皆標本傳變之理，當隨其衰王以消息之。是以經言百病之起，有生於本者，有生於標者，有生於中氣者。有取本而得者，有取標而得者，有取中氣而得者，有取標本而得者，有逆取而得者，有從取而得者，逆正順也，若順逆也。又曰人有客氣，有同氣。有小大不利治其標，小大利治其本。病發而有餘，本而標之，先治其本，後治其標。病發而不足，標而本之，先治其標，後治其本也。經言如此，要必明知勝復，而知百病之害矣。經絡之起止者，手太陽之脈起於小指少澤，至頭之聽宮。手陽明起於次指，至頭之迎香。手少陽起於四指關衝，至頭之絲竹空。各長五尺，六陽經共長三丈。手太陰之脈起於胸中中府，至大指少商。手少陰脈起於胸中極泉，至小指少衝。</p>
<p>手厥陰起於胸中天池，至中指中衝。各長三尺五寸，六陰經共長二丈一尺。足太陽之脈起於頭之精明，至小指至陰。足陽明起於頭之頭維，至次指厲兌。足少陽起於頭之瞳子，至四指竅陰。各長八尺，六陽經共長四丈八尺。足太陰之脈起於足大指隱白，至胸中大包。足少陰起於足心涌泉，至胸中俞府。</p>
<p>足厥陰起足大指大敦，至胸中期門。各長六尺五寸，六陰經共長三丈九尺。督脈起於尾閭長強，至內唇齦交。任脈起於毛際會陰，至下唇承漿。各長四尺五寸，共長九尺。蹺脈從足至目內　，各長七尺五寸，左右共長一丈五尺。都合一十六丈二尺也。衝脈起於氣街，至胸中而散。帶脈起於季脅，回身一周。維絡於身。陽維起於諸陽會，陰維起於諸陰交也。二脈皆無尺寸之可稽，經絡起止盡於是矣。</p>
<p><u>八脈者，陽蹺，陰蹺，陽維，陰維，沖，任，督，帶也。蹺者蹺於何經何絡，維者維　</u></p>
<p>於何經何絡，其有形無形，可實指其所在乎？周氏所論，病機體用治法，是耶非耶？</p>
<p><u>　</u></p>
<p>答曰：夫十二經脈，相為表裡，陰陽斯偶，前賢論之詳矣。顧有偶即有奇，大易之象也。是故復有奇經者焉。沖往督三脈之行。經文班班可考。帶脈回身一周，已可考見。惟蹺維二脈，起止難詳，謹述所得於下焉。蹺，履也。蹺起於足跟，故曰蹺。維，綱也。維絡於一身，故曰維。《二十八難》曰：陽蹺脈者，起於跟中，循外踝，上行入風池。陰蹺脈者，亦起於跟中，循內踝，上行至咽喉，交貫衝脈。陽維陰維者，維絡一身，溢蓄不能環流，灌溉諸經者也。故陽維起於諸陽會，陰維起於諸陰交。蓋陽蹺為足太陽之別，故始申脈。陰蹺為足少陰之別，故始少海。二蹺既有行道，則不得謂之無形，乃絡脈中之氣血，行身之左右，與少陽厥陰同行，諸筋所主。然其行不同，皆陰出陽而交於足太陽，陽入陰而交於足少陰，陰陽交互，蹺自下而榮於上，大會於目，此蹺脈有形之證也。惟既屬絡脈，則豈若正經有一定循行之路？其不用丈尺計者，以此耳。維則越人明言，灌溉諸經，亦不能究其行度，是本非一脈，故難悉數。雖不曰無形，而未可實指所在，與蹺脈有行道可考者異也。陽維主皮膚之氣，行身之表。陰維主脂膜之氣，行身之裡。而陽維以維於諸陽，陰維以維諸陰。諸陽會，諸陰交者。督脈，陽脈之海也。衝脈，陰脈之海也。陰陽維即起於是。何則？飲食入胃，有無數微絲血管，吸其精汁，至領會管，過肺入心。由心下房，出總脈管，以達於督脈，陽維者當起於是。沖為血海，騰精氣而上積於胸中，為宗氣，人之五味雜投，奚能無毒？穀入於胃，其精者固化血液，而陽明之悍氣，不隨精者，俱化聚於宗氣之區，然後散布周身，陰維者當起於是。斯皆二維之脈，即孫絡，故更無行度可計也。況蹺脈為病目不瞑，諸脈者皆屬於目，蹺脈上屬目內　，則蹺脈為絡脈不可證耶！維脈為病，發寒熱，邪在皮膚，寒熱乃生。經絡居內，不當復病寒熱，則維為孫絡，不又可證耶？至周氏所論，體用病機，治法委曲詳盡，先得我心。其論桂枝湯之治維病，不徇入太陽經之謬說，尤卓識也。</p>
<p>或謂昔人皆有二維脈起止之度，如陽維起於少陰，而至太陽，陰維起於少陽，而至厥陰，瀕湖李氏載之甚詳，何可遽謂孫絡乎？斯皆誤會叔和微旨也。從少陰斜至太陽。少陰，心也，太陽，膀胱也。由心生血，行於孫絡，孫絡纏布周身，膀胱主一身之表，故以太陽少陰候陽維之脈也。從少陽斜至厥陰。少陽，三焦也。厥陰，心包也。三焦為腹包膜，血挾陽明之悍氣，出諸氣街，而遍周包膜，返還入總脈管，從心包復歸於心，故以少陽厥陰，候陰維之脈也。且脈絡論列所主病多肌肉痹癢，汗出惡風等證，雖所刺有陽谷、金門、仆參、客主人、承山，分肉、築賓穴，究非一經所主，豈一脈而交貫四五經耶？《素問》陽維之脈，肉裡之脈者，脈氣與太陽少陽相合。陽維維諸陽．故取太陽少陽泄其邪也，即服桂枝湯反煩不解，先刺風池、風府。衛氣行孫絡，一日一夜，大會於風府，故取風府也。</p>
<p>觀此則維脈屬孫絡明矣。如實有可稽，何盧、華、仲景、叔和諸書不一稱之哉？然絡脈孫絡從未有以比諸蹺維者，狂瞽愚論，復望高明一為發其聵也。</p>
<p><u>傷寒桂枝湯所治之中風，與小續命湯所治中風，是一是二？而金匱防己地黃湯，與　</u></p>
<p>風引湯所主，是異是同？但中風一證，自有真類之說，愈辨愈晦，何所取法？勞以虛名，愈補愈劇，何則？蠱膨云虛雲實，孰是孰非？遍察古書，有云關格是證，有云關格是脈，將誰適從？溫暑燥濕，瘧痢霍亂，各有名義，其所以然，請各抒所見以對。</p>
<p><u>　</u></p>
<p>答曰：中風真類之說，始自金元，古醫經未之見也。類中者，即經所謂厥。是桂枝湯所治，邪居淺者。小續命湯所治，邪居深者。病因無異，故藥惟以輕重別之。豈若古今錄驗續命湯，治風熱之痱證，而用石膏哉？防己地黃治陰虛於內，邪並於陽。風引治陽實於外，邪並於陰。病既各異，為治是以懸殊。脈有損至，而後證有虛勞。虛曰虛損，勞曰勞瘵，乃一病而二證，概行溫補可乎？況有者為實，無者為虛。虛勞者，是非勞力勞心而因逸以致病也，故仲景以血痹類為一門。痹者，閉也。所以大黃　蟲丸與薯蕷丸為起死之神方，女惑，男風，落山謂之蠱，後人云膨，因其膚肉腫脹，形類乎鼓，外實中空而言，非膨與蠱有別。實指肝言，虛指脾言，云虛雲實皆是也，偏攻偏補，非法也。《內經》治以雞矢醴，非取金制木，木制而土不受木賊，運化之機自生乎？關格是證，覆溢是脈，膈乃關格之始，格即關膈之終，正《素問》所謂陰陽離決，精氣乃絕之敗證，蔣寶素有考宜參。溫者外寒內熱，至春而發之病。暑乃天之陽熱下降，地之陰濕上騰，濕熱互合，化而為暑。濕重病太陰則曰陰暑，熱重病陽明則曰陽暑。病暑輕重不同，所以又有中傷之分。水濕火燥，《內經》謂秋傷於濕，言氣之本，西昌補秋傷於燥，言氣之標。春夏地濕則天熱，秋冬天寒則地燥，燥濕固對待，究各有寒化熱化之無定也。瘧者言其病之暴瘧而難驟愈，其脈自弦可知，不弦雖寒熱往來，猶非瘧。　瘧，溫瘧，癉瘧，瘴瘧，為證不一，治不如法，有三患，戕脾元則成瘧鼓，蓄肝血則成瘧母，耗腎陰則成瘧勞。無犯三患，則無論痰瘧、食瘧、牡瘧，自隨手奏效。</p>
<p>痢因欲利不得利，其病在利，故曰痢。有虛實，有寒熱。桃花湯非治虛寒者乎？白頭翁湯非治實熱者乎？由此類推，治法可思矣。霍亂是陰陽淆亂，如雨聲霍霍而暴注下迫也。屬寒者固多，屬熱者亦常見，但須刻刻顧慮其脾胃耳。因寒宜理中四逆，故薑附不嫌其熱。因熱宜白虎天水，則膏滑不嫌其寒。若救陰當於大劑參朮中佐以牡蠣、白芍，轉筋宜在扶持脾胃，參用蜘蛛散以抑風木，審因察證，活法運乎一心，不可泥執一家之言而僨事也。</p>
