<header data-type="book">
<h1>原機啟微</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>倪維德</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1370">公元1370年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>《原機啟微》一書，敕山老人所著也。敕山吳人，生勝國時，卒於洪武初，少受書碧山湯公，得其疏通知遠之旨，好積墳素，多至五千卷，為重屋棲之。恣其探討，以才博聞，或勸之仕，則曰富貴有命，不可強也。時元季崩剝，意不欲仕亂世，故謾應云，晚置別墅於敕山，逍遙物外，自稱敕山老人，人亦隨稱之。敕山嘗讀《黃帝內經》，慨然嘆曰：窮而在下，可以濟人利物者，其惟醫乎。乃益發古今方書，研究而會通之。不數年，盡能工其術。其治人，無問貴賤男女，內外大小，凡所治咸效，專以慈仁為意，未嘗邀報謝，故施惠博而道益尊。浙河之西，其聲　然震也。是書載治眼一科，書凡二卷。上卷論病疾之原，下卷論方劑之宜，以及君臣佐使、從逆反正之義。其說甚明，使人可按疾而治。治罔不奇效者，敕山之用心如此，可謂仁矣。他所著方書，並行於世，不特專是科也。今之為醫者，大抵守師說，如傷寒、內傷、帶下、小兒，各專門自高，殊不能相通，此豈可與論玄命之奧哉。治眼絕無古傳方，雖張仲景、李明之諸公，論醫之詳，庶幾神妙，而於是猶略略也。後之學人無所師，故目疾為最難治。夫醫者，意也，非其心明乎天人之際，察乎古今之變，卓然有所見焉，烏可以易言哉。是書析理精明，法制具備，文詞爾雅，成一家言，殆有超乎方術之外者，雖達之為政可也。敕山之學，其能以涯　窺乎。予舊藏寫本，顧多訛謬，不敢輕以試人。南京太醫院院判薛公新甫見之曰：此書予求之久矣，今幸見之先生所，請梓焉以廣其傳，仍撰次己所見聞為一卷附於後。薛公亦吳人，以醫顯，生平著述甚富，藏之尚方，副在家集，能行其學人也。此書之傳絕，且百余年，至新甫而復行，後之人日蒙利焉，新甫可謂同敕山之用心矣。敕山姓倪氏，名維德，其行事具宋太史墓銘，予但序是書之始末云。</p>
<p><u>嘉靖壬辰春南京禮部祠祭司主事長洲王庭書</u></p>
<h2>卷之上</h2>
<h3>淫熱反克之病</h3>
<p>膏粱之變，滋味過也；氣血俱盛，稟受濃也；亢陽上炎，陰不濟也；邪入經絡，內無御也。因生而化，因化而熱，熱為火，火性炎上。足厥陰肝為木，木生火，母妊子，子以淫勝，禍發反克，而肝開竅於目，故肝受克，而目亦受病也。其病眵多　緊澀，赤脈貫睛，臟腑秘結者為重。重者，芍藥清肝散主之，通氣利中丸主之。眵多　緊澀，赤脈貫睛，臟腑不秘結者為輕。輕者，減大黃、芒硝，芍藥清肝散主之，黃連天花粉丸主之。</p>
<p>火盛，服通氣利中丸。目眶爛者，內服上藥，外以黃連爐甘石散收其爛處，兼以點眼春雪膏、龍腦黃連膏、　鼻碧云散攻其淫熱，此治淫熱反克之法也。非膏粱之變，非氣血俱盛，非亢陽上炎，非邪入經絡，毋用此也。用此則寒涼傷胃，生意不上升，反為所害，病豈不治而已也。噫，審諸。</p>
<h3>風熱不制之病</h3>
<p>風動物而生於熱，譬以烈火焰而必吹，此物類感召而不能違間者也。因熱而召，是為外來，久熱不散，感而自生，是為內發。內外為邪，惟病則一，淫熱之禍，條已如前。益以風邪，害豈纖止，風加頭痛，風加鼻塞，風加腫脹，風加涕淚，風加腦巔沉重，風加眉骨酸疼，有一於此，羌活勝風湯主之。風加癢，則以杏仁、龍膽草，泡散洗之。病者有此數證，或不服藥，或誤服藥，翳必隨之而生。翳如雲霧，翳如絲縷，翳如秤星。翳如秤星者，或一點，或三四點，而至數十點。翳如螺蓋者，為病久不去，治不如法，至極而至也，為服寒涼藥過多，脾胃受傷，生意不能上升，漸而至也。然必要明經絡，庶能應手。翳凡自內　而出，為手太陽、足太陽受邪，治在小腸、膀胱經，加蔓荊子、蒼朮，羌活勝風湯主之。自銳　客主人而入者，為足少陽、手少陽、手太陽受邪，治在膽與三焦、小腸經，加龍膽草、　本，少加人參，羌活勝風湯主之。自目系而下者，為足厥陰、手少陰受邪，治在肝經、心經，加黃連，倍加柴胡，羌活勝風湯主之。自抵過而上者，為手太陽受邪，治在小腸經，加木通、五味子，羌活勝風湯主之。熱甚者，兼用治淫熱之藥。　鼻碧云散俱治以上之證，大抵如開鍋蓋法，　之隨效，然力少而銳，宜不時用之以聚其力。雖然始者易而久者難，漸復而復，漸復而又復可也。急於復者則不治。今世醫用磨翳藥者有之，用手法揭翳者有之。</p>
<p>噫！翳猶瘡也，奚斯愈乎。庸者用此，非徒無益，增害猶甚。愚者受此，欣然而不悟，可嘆也哉！故置風熱不制之病治法。</p>
<h3>七情五賊勞役飢飽之病</h3>
<p>《陰陽應象大論》曰：天有四時，以生長收藏，以生寒暑燥濕風。寒暑燥濕風之發耶，發而皆宜時，則萬物俱生；寒暑燥濕風之發耶，發而皆不宜時，則萬物俱死。故曰：生於四時，死於四時。又曰：人有五臟，化為五氣，以生喜怒憂悲恐。喜怒憂悲恐之發耶，發而皆中節，則九竅俱生；喜怒憂悲恐之發耶，發而皆不中節，則九竅俱死。故曰：生於五藏，死於五臟。目，竅之一也。光明視見，納山川之大，及毫芒之細，悉云霄之高，盡泉沙之深，至於鑒無窮為有窮，而有窮又不能為窮，反而聚之。則乍張乍斂，乍動乍靜，為一泓一點之微者，豈力為強致而能此乎！是皆生生自然之道也。或因七情內傷，五賊外攘，飢飽不節，勞役異常。足陽明胃之脈，足太陰脾之脈，為戊己二土，生生之原也。七情五賊，總傷二脈，飢飽傷胃，勞役傷脾，戊己既病，則生生自然之體，不能為生生自然之用，故致其病，曰七情五賊勞役飢飽之病。其病紅赤睛珠痛，痛如針刺，應太陽，眼睫無力，常欲垂閉，不敢久視，久視則酸疼，生翳，皆成陷下。所陷者，或圓或方，或長或短，或如點，或如縷，或如錐，或如鑿，證有印此者，柴胡復生湯主之，黃連羊肝丸主之。痛睛甚者，當歸養榮湯主之，助陽活血湯主之，加減地黃丸主之，決明益陰丸主之，加當歸、黃連羊肝丸主之，龍腦黃連膏主之。以上數方，皆群隊升發陽氣之藥。其中有用黃連、黃芩之類者，去五賊也。</p>
<p>鼻碧云散，亦可見用。最忌大黃、芒硝、牽牛、石膏、梔子之劑，犯所忌，則病愈厲。</p>
<h3>血為邪勝凝而不行之病</h3>
<p>血陰物，類地之水泉，性本靜。行，其勢也。行為陽，是陰中之陽，乃坎中有火之象。</p>
<p>陰外陽內，故行也。純陰，故不行也。不行則凝，凝則經絡不通。經曰：足陽明胃之脈，常多氣多血。又曰：足陽明胃之脈，常生氣生血。手太陽小腸之脈，斜絡於目　。足太陽膀胱之脈，起於目內　。二經皆多血少氣，血病不行，血多易凝。《靈蘭秘典論》曰：脾胃者，倉廩之官，五味出焉。五味淫則傷胃，胃傷血病，是為五味之邪，從本生也。又曰：小腸者，受盛之官，化物出焉。遇寒則阻其化。又曰：膀胱者，州都之官，津液藏焉。遇風則散其藏，一阻一散，血亦病焉。是為風寒之邪，從末生也。凡是邪勝，血病不行，不行漸滯，滯則易凝，凝則病始外見，以其斜絡目　耶，以其起於目內　耶。故病環目青　，如被物傷狀，重者白睛亦　，輕者或成斑點，然不痛不癢，無淚眵　羞澀之證。是曰血為邪勝，凝而不行之病。此病初起之時，大抵與傷風證相似，一二日則顯此病也，川芎行經散主之，消凝大丸子主之。睛痛者，更以當歸養榮湯主之。如此則凝復不滯，滯復能行，不行復行，邪消病除，血復如故。志此，無所不愈也；不志於此，無所愈也。</p>
<h3>氣為怒傷散而不聚之病</h3>
<p>氣陽物，類天之雲霧，性本動。聚，其體也。聚為陰，是陽中之陰，乃離中有水之象。</p>
<p>陽外陰內，故聚也。純陽，故不聚也。不聚則散，散則經絡不收。經曰：足陽明胃之脈，常多氣多血。又曰：足陽明胃之脈，常生氣生血。七情內傷，脾胃先病。怒，七情之一也。胃病脾病，氣亦病焉。《陰陽應象大論》曰：足厥陰肝主目，在志為怒。怒甚傷肝，傷脾胃則氣不聚，傷肝則神水散，何則？神水亦氣聚也。其病無眵淚痛癢羞明緊澀之證。初但昏如霧露中行，漸空中有黑花，又漸睹物成二體，久則光不收，遂為廢疾。蓋其神水漸散而又散，終而盡散故也。初漸之次，宜以《千金》磁朱丸主之，鎮墜藥也；石斛夜光丸主之，羨補藥也；益陰腎氣丸主之，壯水藥也。有熱者，滋陰地黃丸主之。此病最難治，餌服上藥，必要積以歲月，必要無飢飽勞役，必要驅七情五賊，必要德性純粹，庶幾易效，不然必廢，廢則終不復治，久病光不收者，亦不復治。一證因為暴怒，神水隨散，光遂不收，都無初漸之次，此一得永不復治之證也。又一證為物所擊，神水散，如暴怒之證，亦不復治。俗名為青盲者是也。世病者多不為審，概曰目昏無傷，始不經意，及成，世醫亦不識，直曰熱致，竟以涼藥投。殊不知涼藥又傷胃，況不知涼為秋為金，肝為春為木，涼藥又傷肝，往往致廢而然後已。病者猶不以藥非，而委之曰命也，醫者猶不自悟其藥，而贅之曰病拙。吁！二者俱此，誰其罪乎？予累見也。故兼陳涼藥之誤。</p>
<h3>血氣不分混而遂結之病</h3>
<p>輕清圓健者為天，故首象天；重濁方濃者為地，故足象地；飄騰往來者為云，故氣象云；過流循環者為水，故血象水。天降地升，云勝水流，各宜其性。故萬物生而無窮，陽平陰秘，氣行血隨，各得其調。故百骸理而有餘。反此，則天地不降升，云水不勝流，各不宜其性矣。反此，則陰陽不平秘，氣血不行隨，各不得其調矣。故曰：人身者，小天地也。《難經》曰：血為榮，氣為衛，榮行脈中，衛行脈外。此血氣分而不混，行而不阻也明矣。故如云騰水流之不相雜也。大抵血氣如此，不欲相混，混則為阻，阻則成結，結則無所去還，故隱起於皮膚之中，遂為疣病。然各隨經絡而見，疣病自上眼睫而起者，乃手少陰心脈、足厥陰肝脈，血氣混結而成也。初起時，但如豆許。血氣衰者，遂止不復長，亦有久止而復長者。盛者則漸長，長而不已，如杯如盞，如碗如斗，皆自豆許致也。凡治在初，須擇人神不犯之日，大要令病者食飽不飢，先汲冷井水洗眼如冰，勿使氣血得行，然後以左手持銅箸，按眼睫上，右手翻眼皮令轉，轉則疣肉已突，換以左手大指按之，弗令得動移，復以右手持小眉刀尖，略破病處，更以兩手大指甲捻之令出，則所出者，如豆許小黃脂也。恐出而根不能斷，宜更以眉刀尖斷之。以井水再洗，洗後則無恙。要在手疾為巧。事畢須投以防風散結湯，數服即愈。此病非手法則不能去。何則？為血氣初混時，藥自可及，病者則不知其為血氣混也。比結，則藥不能及矣，故必用手法去。去畢，必又以升發之藥散之，藥手皆至，庶幾了事。</p>
<h3>熱積必潰之病</h3>
<p>積者，重疊不解之貌。熱為陽，陽平為常，陽淫為邪，常邪則行，行則病易見，易見則易治。此則前篇淫熱之病也。深邪則不行，不行則伏，因伏而又伏，日漸月聚，勢不得不為積也。積已久，久積必潰，潰始病見，病見則難治。難治者，非不治也。為邪積久，比潰已深。何則？潰猶敗也。知敗者，庶可以救。其病隱澀不自在，稍覺　，視物微昏，內穴開竅如針目，按之則沁沁膿出。有兩目俱病者，有一目獨病者，目屬肝，內　屬膀胱，此蓋一經積邪之所致也。故曰熱積必潰之病，又曰漏睛眼者是也。竹葉瀉經湯主之。大便不硬者，減大黃，為用蜜劑解毒丸主之。不然，藥誤病久，終為枯害。</p>
<h3>陽衰不能抗陰之病</h3>
<p>或問曰：人有晝視通明，夜視罔見，雖有火光月色，終為不能睹物者，何也？答曰：此陽衰不能抗陰之病，諺所謂雀盲者也。問曰：何以知之？答曰：《黃帝生氣通天論》曰：自古通天者，生之本，本於陰陽，天地之間，六合之內，其氣九州九竅，五臟十二節，皆通乎天氣。又曰：陰陽者，一日而主外，平旦人氣生，日中而陽氣隆，日西而陽氣已虛，氣門乃閉。又曰：陽不勝其陰，則五臟氣爭，九竅不通，故知也。問曰：陽果何物耶？答曰：凡人之氣，應之四時者，春夏為陽也；應之一日者，平旦至昏為陽也；應之五臟六腑者，六腑為陽也。問曰：陽何為而不能抗陰也？答曰：人之有生，以脾胃中州為主也。《靈蘭秘典》曰：脾胃者，倉廩之官，在五行為土，土生萬物，故為陽氣之原。其性好生惡殺，遇春夏乃生長，遇秋冬則收藏，或有憂思恐怒，勞役飢飽之類，過而不節，皆能傷動脾胃。脾胃受傷，則陽氣下陷，陽氣下陷，則於四時一日五臟六腑之中，陽氣皆衰。陽氣既衰，則於四時一日五臟六腑之中，陰氣獨盛。陰氣既盛，故陽不能抗也。問曰：何故夜視罔見？答曰：目為肝，肝為足厥陰也。神水為腎，腎為足少陰也。肝為木，腎為水，水生木，蓋亦相生而成也。況怒傷肝，恐傷腎，肝腎受傷，亦不能生也。晝為陽，天之陽也；晝為陽，人亦應之也。</p>
<p>雖受憂思恐怒勞役飢飽之傷，而陽氣下陷，遇天之陽盛陰衰之時，我之陽氣雖衰，不得不應之而升也，故猶能晝視通明。夜為陰，天之陰也；夜為陰，人亦應之也。既受憂思恐怒勞役飢飽之傷，而陽氣下陷，遇天陰盛陽衰之時，我之陽氣既衰，不得不應之時伏也。故夜視罔所見也。問曰：何以為治？答曰：鎮陰升陽之藥，決明夜靈散主之。問曰：病見富貴乎？貧賤者乎？答曰：憂思恐怒，勞役飢飽，富貴者甚乎？惟其貧賤者，不能免甚也。問者稱善。</p>
<h3>陰弱不能配陽之病</h3>
<p>五臟無偏勝，虛陽無補法，六腑有調候，弱陰有強理。心肝脾肺腎，各有所滋生，一臟或有餘，四臟俱不足。此五臟無偏勝也。或浮或為散，是曰陽無根。益之欲令實，翻致不能禁。此虛陽無補法也。膀胱大小腸，三焦膽包絡，俾之各有主，平秘永不危。此六腑有調候也。衰弱不能濟，遂使陽無御，反而欲匹之，要以方術盛。此弱陰有強理也。《解精微論》曰：心者，五臟之專精。目者，其竅也，又為肝之竅。腎主骨，骨之精為神水。故肝木不平，內挾心火，為勢妄行，火炎不制，神水受傷，上為內障，此五臟病也。勞役過多，心不行事，相火代之。《五臟生成論》曰：諸脈皆屬於目。相火者，心包絡也，主百脈，上榮於目，火盛則百脈沸騰，上為內障，此虛陽病也。膀胱小腸三焦膽，脈俱循於目。其精氣亦皆上注，而為目之精。精之窠為眼，四腑一衰，則精氣盡敗，邪火乘之，上為內障，此六腑病也。神水黑眼，皆法於陰；白眼赤脈，皆法於陽。陰齊陽侔，故能為視。陰微不立，陽盛即淫。《陰陽應象大論》曰：壯火食氣，壯火散氣。上為內障，此弱陰病也。其病初起時，視覺微昏，常見空中有黑花，神水淡綠色；次則視岐，睹一成二，神水淡白色，可為沖和養胃湯主之，益氣聰明湯主之，《千金》磁朱丸主之，石斛夜明丸主之。有熱者，瀉熱黃連湯主之。久則不睹，神水純白色，永為廢疾也。然廢疾亦有治法，先令病者，以冷水洗眼如冰，氣血不得流行為度，用左手大指次指按定眼珠，不令轉動，次用右手持鴨舌針，去黑睛如米許，針之令入。白睛甚濃，欲入甚難，必要手準力完，重針則破，然後斜回針首，以針刀刮之，障落則明。有落而復起者，起則重刮。刮之有至再三者，皆為洗不甚冷，氣血不凝故也。</p>
<p>障落之後，以棉裹黑豆數粒，令如杏核樣，使病目垂閉，覆眼皮上，用軟帛纏之，睛珠不得動移為度。如是五七日，才許開視，視勿勞也。亦須服上藥，庶幾無失。此法治者五六，不治者亦四五。五臟之病，虛陽之病；六腑之病，弱陰之病。四者皆為陰弱不能配陽也。噫！學人慎之。</p>
<h3>心火乘金水衰反制之病</h3>
<p>天有六邪，風寒暑濕燥火也；人有七情，喜怒悲思憂恐驚也。七情內召，六邪外從，從而不休，隨召見病，此心乘金，水衰反制之原也。世病目赤為熱，人所共知者也。然不審其赤分數等，各治不同。有白睛純赤如火，熱氣炙人者，乃淫熱反克之病也，治如淫熱反克之病。有白有赤而腫脹，外睫虛浮者，乃風熱不制之病也，治如風熱不制之病。有白睛淡赤而細脈深紅，縱橫錯貫者，乃七情五賊勞役飢飽之病，治如七情五賊勞役飢飽之病。有白睛不腫不脹，忽如血貫者，乃血為邪勝，凝而不行之病也，治如血為邪勝凝而不行之病。有白睛微變青色，黑睛稍帶白色，白黑之間，赤環如帶，謂之抱輪紅者，此邪火乘金，水衰反制之病也。此病或因目病已久，抑郁不舒，或因目病誤服寒涼藥過多，或因目病時內多房勞，皆能內傷元氣。元氣一虛，心火亢盛，故火能克金。金乃手太陰肺，白睛屬肺；水乃足少陰腎，黑睛屬腎。水本克火，水衰不能克，反受火制，故視物不明，昏如霧露中，或睛珠高低不平，其色如死，甚不光澤，赤帶抱輪而紅也。口乾舌苦，眵多羞澀，稍有熱者，還陰救苦湯主之，黃連羊肝丸主之，川芎決明散主之。無口乾舌苦，眵多羞澀者，助陽活血湯主之，神驗錦鳩丸主之，萬應蟬花散主之。有熱無熱，俱服《千金》磁朱丸，鎮墜心火，滋益腎水，榮養元氣，自然獲愈也。噫！天之六邪，未必能害人也。惟人以七情召而致之也。七情匿召，六邪安從，反此者豈止能避而已哉！猶當役之而後已也。</p>
<h3>內急外弛之病</h3>
<p>陰陽以和為本，過與不及，病皆生焉。急者，緊縮不解也；弛者，寬縱不收也。緊縮屬陽，寬縱屬陰，不解不收，皆為病也。手太陽肺，為辛為金也。主一身皮毛，而目之上下睫之外者，亦其屬也。手少陰心，為丁；手太陽小腸，為丙。丙丁為火，故為表裡，故分上下，而目之上下睫之內者，亦其屬也。足厥陰肝，為乙，乙為木，其脈循上睫之內，火其子也，故與心合。心肝小腸三經受邪，則陽火內盛，故上下睫之內，緊縮而不解也。肺金為火克，受克者必衰，衰則陰氣外行，故目之上下睫之外者，寬縱而不收也。上下睫既內急外弛，故睫毛皆倒而刺裡，睛既受刺，則深赤生翳。此翳者，睛受損也。故目所病者皆具。如羞明沙澀，畏風怕日，沁爛，或痛或癢，生眵流淚之證俱見。有用藥夾施於上睫之外者，欲弛者急，急者弛。而睫毛無倒刺之患者，非其治也。此徒能解厄於目前，而終復其病也。何則？為不審過與不及也，為不能除其原病也。治法：當攀出內瞼向外，速以三棱針亂刺出血，以左手大指甲迎其針鋒，後以黃　防風飲子主之，無比蔓荊子湯主之，決明益陰丸主之，菊花決明散主之，　鼻碧云散亦宜兼用。如是則緊縮自弛，寬縱漸急，或過不及，皆復為和，藥夾之治，忍勿施也，徒為苦耳。智者宜審此。</p>
<h3>奇經客邪之病</h3>
<p>人之有五臟者，猶天地之有五岳也；六腑者，猶天地之有四瀆也；奇經者，猶四瀆之外，別有江河也。奇經客邪，非十二經之治也。十二經之外，別有治奇經之法也。《繆刺論》曰：邪客於足陽蹺之脈，令人目痛，從內　始。《啟玄子‧王冰注》曰：以其脈起於足，上行至頭而屬目內　，故病令人目痛從內　始也。《針經》曰：陰蹺脈入鼽，屬目內　，合於太陽陽蹺而上行。故陽蹺受邪者，內　既赤，生脈如縷，縷根生於瘀肉，瘀肉生黃赤脂，脂橫侵黑睛，漸蝕神水，此陽蹺為病之次第也。或兼銳　而病者，以其合於太陽故也。銳　者，手太陽小腸之脈也。銳　之病，必輕於內　者，蓋枝蔓所傳者少，而正受者必多也。俗呼為攀睛，即其病也。還陰救苦湯主之，撥雲退翳丸主之，梔子勝奇散主之，萬應蟬花散主之，磨障靈光膏主之，消翳復明膏主之，朴硝黃連爐甘石泡散主之。病多藥不能及者，宜治以手法。先用冷水洗，如針內障眼法，以左手按定，勿令得動移，略施小眉刀尖，剔去脂肉，復以冷水洗淨，仍將前藥餌之，此治奇經客邪之法也。故並置其經絡病始。</p>
<h3>為物所傷之病</h3>
<p>志於固者，則八風無以窺其隙；本於密者，則五臟何以受其邪。故生之者天也，召之者人也。雖生弗召，莫能害也，為害不已，召之甚也。《生氣通天論》曰：風者，百病之始也。清淨則肉腠閉拒，雖有大風苛毒，弗之能害。《陰陽應象大論》曰：邪風之至，疾如風雨，故善治者治皮毛。夫肉腠固，皮毛密，所以為害者，安從其來也。今為物之所傷，則皮毛肉腠之間，為隙必甚，所傷之際，豈無七情內移，而為衛氣衰憊之原，二者俱召，風安不從。故傷於目之上下左右者，則目之上下左右俱病，當總作除風益損湯主之。傷於眉骨者，病自目系而下，以其手少陰有隙也，加黃連，除風益損湯主之。傷於額者，病自抵過而上，傷於耳中者，病自銳　而入，以其手太陽有隙也，加柴胡，除風益損湯主之。傷於額交巔耳上角及腦者，病自內　而出，以其足太陽有隙也，加蒼朮，除風益損湯主之。傷於耳後耳角耳前者，病自客主人斜下，傷於頰者，病自銳　而入，以其手少陽有隙也，加枳殼，除風益損湯主之。傷於頭角耳前後及目銳　後者，病自銳　而入，以其足少陽有隙也，加龍膽草，除風益損湯主之。傷於額角及巔者，病自目系而下，以其足厥陰有隙也，加五味子，除風益損湯主之。諸有熱者，更當加黃芩，兼服加減地黃丸。傷甚者，須從權倍加大黃，瀉其敗血。</p>
<p>《六節藏象論》曰：肝受血而能視。此蓋滋血養血復血之藥也，此治其本也。又有為物暴震，神水遂散，更不復治，故並識之於此。</p>
<h3>傷寒愈後之病</h3>
<p>傷寒病愈後，或有目復大病者，以其清陽之氣不升，而余邪上走空竅也。其病隱澀赤脹，生翳羞明，頭腦骨痛，宜作群隊升發之劑餌之，數服斯愈。《傷寒論》曰：冬時嚴寒，萬類深藏，君子固密，不傷於寒，觸冒之者，乃名傷寒。其傷於四時之氣者，皆能為病。又《生氣通天論》曰：四時之氣，更傷五臟，五臟六腑一病，則濁陰之氣不得下，清陽之氣不得上。今傷寒時病雖愈，濁陰清陽之氣，猶未來復，濁陰清陽之氣未復，故余邪尚熾不休，故其走上而為目之害也。是以一日而愈者，余邪在太陽；二日而愈者，余邪在陽明；三日而愈者，余邪在少陽；四日而愈者，余邪在太陰；五日而愈者，余邪在少陰；六日而愈者，余邪在厥陰。七日而復，是皆清陽不能出上竅，而復受其所害也。當為助清陽上出，則治，人參補陽湯主之，羌活勝風湯主之，加減地黃丸主之，　鼻碧云散亦宜用也。忌大黃、芒硝苦寒通利之劑；用之，必不治。</p>
<h3>強陽摶實陰之病</h3>
<p>強者，盛而有力也；實者，堅而內充也。故有力者，強而欲摶；內充者，實而自收。是以陰陽無兩強，亦無兩實。惟強與實，以偏則病。內摶於身，上見於虛竅也。足少陰腎為水，腎之精上為神水；手厥陰心包絡為相火，火強摶水，水實而自收。其病神水緊小，漸小而又小，積漸之至，竟如菜子許。又有神水外圍，相類蟲蝕者。然皆能睹而不昏，但微覺羞澀耳。是皆陽氣強盛而摶陰，陰氣堅實而有御，雖受所摶，終止於邊鄙皮膚也，內無所傷動。治法：當抑陽緩陰則愈。以其強耶，故可抑；以其實耶，惟可緩而弗宜助，助之則反勝，抑陽。酒連散主之。大抵強者則不易入，故以酒為之導引，欲其氣味投合，入則可展其長，此反治也，還陰救苦湯主之，療相火藥也。亦宜用　鼻碧云散。然病世亦間見，醫者要當識之。</p>
<h3>亡血過多之病</h3>
<p>《六節藏象論》曰：肝受血而能視。《宣明五氣篇》曰：久視傷血。《氣厥論》曰：膽移熱於腦則辛　鼻淵，傳為衄蔑瞑目。《繆刺論》曰：冬刺經脈，血氣皆脫，令人目不明。由此推之，目之為血所養者明矣。手少陰心主血，血榮於目；足厥陰肝，開竅於目，肝亦多血，故血亡目病。男子衄血便血，婦人產後崩漏亡之過多者，皆能病焉。其為病睛珠痛，珠痛不能視，差明癮澀，眼睫無力，眉骨太陽，因為酸疼，當作芎歸補血湯主之，當歸養榮湯主之，除風益損湯主之，滋陰地黃丸主之。諸有熱者，加黃芩；婦人產漏者，加阿膠；脾胃不佳，惡心不進食者，加生薑。復其血，使其所養則愈。然要忌咸物。《宣明五氣篇》又曰：咸走血，血病無多食咸。是忌。</p>
<h3>斑疹余毒之病</h3>
<p>東垣李明之曰：諸斑疹皆從寒水逆流而作也。子之初生也，在母腹中，母呼亦呼。母吸亦吸。呼吸者，陽也，而動作生焉。飢食母血，渴飲母血。飲食者，陰也，而形質生焉。陰具陽足，十月而降，口中惡血，因啼即下，卻歸男子生精之所，女子結胎之處，命宗所謂玄牝玄關者也。此血僻伏而不時發，或因乳食內傷，或因濕熱下溜，營氣不從，逆於肉理，所僻伏者，乃為所發。初則膀胱壬水夾脊逆流而克小腸丙火，故頸項以上先見也；次則胃經癸水，又克心火，故胸腹以上次見也；終則二火熾盛，反制寒水，故胸腹以下後見也。至此則五臟六腑皆病也。七日齊，七日盛，七日謝，三七二十一日而愈者，七為火數故也。愈後或有病疽病瘡者，是皆余毒尚在不去者，今其病目者亦然。所害者，與風熱不制之病稍同而異，總以羚羊角散主之。便不硬者，減硝黃。未滿二十一日而病作者，消毒化斑湯主之。此藥功非獨能於目，蓋專於斑者之藥也。不問初起已著，服之便令消化，稀者則不復出，方隨四時加減。</p>
<h3>深疳為害之病</h3>
<p>衛氣少而寒氣乘之也，元氣微而飲食傷之也，外乘內傷，釀而成之也。父母以其純陽耶，故深冬不為裳；父母以其惡風耶，故盛夏不解衣；父母以其數飢耶，故飼後強食之；父母以其或渴耶，故乳後更飲之。有愚戇而為父母者，又不審其寒暑飲食也，故寒而不為暖，暑而不能涼，飲而不至渴，食而不及飢。而小兒幽玄　默，抱疾而不能自言，故外乘內傷，因循積漸，釀而成疳也。渴而易飢，能食而瘦，腹脹下利，作HT　HT　聲，日遠不治，遂生目病。其病生翳，睫閉不能開，眵淚如糊，久而膿流，竟枯兩目。何則？為陽氣下走也，為陰氣反上也。治法：當如《陰陽應象大論》曰：清陽出上竅，濁陰出下竅，清陽發腠理，濁陰走五臟，清陽實四肢，濁陰歸六腑。各還其原，不反其常，是其治也。當作升陽降陰之劑，茯苓瀉濕湯主之，升麻龍膽草飲子主之。此藥非專於目，並治以上數證。然勿後，後則危也。為父母者其審諸。</p>
<h2>卷之下</h2>
<h3>君臣佐使逆從反正說</h3>
<p>君為主，臣為輔，佐為助，使為用，置方之原也。逆則攻，從則順，反則異，正則宜，治病之法也。必熱必寒，必散必收者，君之主也。不宣不明，不授不行者，臣之輔也。能受能令，能合能力者，佐之助也。或擊或發，或劫或開者，使之用也。破寒必熱，逐熱必寒，去燥必濡，除濕必泄者，逆則攻也。治驚須平，治損須溫，治留須收，治堅須潰者，從則順也。熱病用寒藥，而導寒攻熱者必熱。陽明病發熱，大便硬者，大承氣湯，酒製大黃熱服之類也。寒病用熱藥，而導熱去寒者必寒。少陰病下利，服附子、乾薑不止者，白通東加人尿、豬膽之類也。塞病用通藥，而導通除塞者必寒。胸滿煩驚，小便不利者，柴胡加龍骨牡蠣湯之類也。通病用塞藥，而導塞止通者必通。太陽中風下利，心下痞硬者，十棗湯之類也。</p>
<p>反則異也。治遠以大，治近以小，治主以緩，治客以急，正則宜也。《至真要大論》曰：辛甘發散為陽，酸苦涌泄為陰，咸味涌泄為陰，淡味滲泄為陽。六者或收或散，或緩或急，或燥或濕，或　或堅。所以利而行之，調其氣，使其平。故味之薄者，為陰中之陽，味薄則通，酸苦鹹平是也。氣之濃者，為陽中之陽，氣濃則熱，辛甘濕熱是也。氣之薄者，為陽中之陰，氣薄則發泄，辛甘淡平寒涼是也。味之濃者，為陰中之陰，味濃則泄，酸苦鹹寒是也。</p>
<p>《易》曰：同聲相應，同氣相求。水流濕，火就燥，云從龍，風從虎。聖人作而萬物睹，本乎天者親上，本乎地者親下，則各從其類也。故置方治病如後。</p>
<h3>附方</h3>
<p><u>芍藥清肝散方</u></p>
<p>　治眵多　，緊澀羞明，赤脈貫睛，臟腑秘結者。</p>
<p>白朮　川芎　防風（各三分）　甘草（炙）　荊芥（各二分半）　桔梗　羌活（各三分）　芍藥（二分半）</p>
<p>柴胡（二分）　前胡　薄荷　黃芩（各二分半）　山梔　知母（各二分）　滑石　石膏（各三分）　大黃（四分）　芒硝（三分半）</p>
<p>共十八味，統　咀。都作一服，水二鐘，煎至一鐘，食後熱服。</p>
<p>上為方，治淫熱反克而作也。風熱不制之病，熱甚大便硬者，從權用之。蓋苦寒之藥也，苦寒敗胃，故先以白朮之甘溫，甘草之甘平，主胃氣為君；次以川芎、防風、荊芥、桔梗、羌活之辛溫，升散清利為臣；又以芍藥、前胡、柴胡之微苦，薄荷、黃芩、山梔之微苦寒，且導且攻為佐；終以知母、滑石、石膏之苦寒，大黃、芒硝之大苦寒，祛逐淫熱為使。大便不硬者，減大黃、芒硝，此逆則攻之治法也。大熱服者，反治也。</p>
<p><u>通氣利中丸</u></p>
<p>　治證上同。</p>
<p>白朮（一兩）　白芷　羌活（各半兩）　黃芩　滑石（取末另入，各一兩半）　大黃（二兩半）　牽牛（取末，一兩半）</p>
<p>除滑石、牽牛，另研極細末外，余合為細末，入上藥和勻，滴水為丸，如桐子大。每服三十丸，加至百丸，食後臨睡，茶湯送下。</p>
<p>上方，以白朮苦甘溫，除胃中熱為君；白芷辛溫解利，羌活苦甘平微溫，通利諸節為臣；黃芩微苦寒，療熱滋化，滑石甘寒，滑利小便，以釐清濁為佐；大黃苦寒，通大便，瀉諸實熱，牽牛苦寒，一說味辛，利大便，除風毒為使，逆攻之法也。風熱不制之病，熱甚而大便硬者，亦可兼用。然牽牛有毒，非神農藥，今與大黃並用者，取其性猛烈而快也。大抵不宜久用，久用傷元氣，蓋從權之藥也，量虛實加減。</p>
<p><u>黃連天花粉丸</u></p>
<p>　治同前。</p>
<p>黃連（一兩）　天花粉（四兩）　菊花　川芎　薄荷（各一兩）　連翹（二兩）　黃芩　梔子（各四兩）　黃柏（六兩）</p>
<p>為細末，滴水為丸，如梧桐子大。每服五十丸，加至百丸，食後臨睡茶湯下。</p>
<p>上方，為淫熱反克，臟腑不秘結者作也。風熱不制之病，稍熱者亦可服。以黃連、天花粉之苦寒為君；菊花之苦甘平為臣；川芎之辛溫，薄荷之辛苦為佐；連翹、黃芩之苦微寒，黃柏、梔子之苦寒為使。合之則除熱清利，治目赤腫痛。</p>
<p><u>黃連爐甘石散</u></p>
<p>　治眼眶破爛，畏日羞明。余治上同。</p>
<p>爐甘石（一斤）　黃連（四兩）　龍腦（量入）</p>
<p>先以爐甘石置巨火中，　通紅為度，另以黃連用水一碗，瓷器盛貯，納黃連於水內，卻以通紅爐甘石淬七次，就以所貯瓷器置日中晒乾，然後同黃連研為細末。欲用時，以一二兩再研極細，旋量入龍腦，每用少許，井花水調如稠糊，臨睡以箸頭蘸敷破爛處。不破爛者，點眼內　銳　尤佳。不宜使入眼內。</p>
<p>上方，以爐甘石收濕除爛為君；黃連苦寒為佐；龍腦去熱毒為使。諸目病者俱可用。病宜者治病，不宜者無害也。奇經客邪之病，量加朴硝泡湯，滴眼瘀肉黃赤脂上。</p>
<p><u>龍腦黃連膏</u></p>
<p>　治目中赤脈如火，溜熱炙人。余治上同。</p>
<p>黃連（半斤）　龍腦（一錢）</p>
<p>先銼黃連令碎，以水三大碗，貯瓷器內，入黃連於中，用文武火慢熬成大半碗，濾去滓，入薄瓷碗內，重湯頓成膏半盞許，龍腦以一錢為率，用則旋量入之，以箸頭點入眼內，不拘時。</p>
<p>上方，以黃連治目痛、解諸毒為君，龍腦去熱毒為臣，乃君臣藥也。諸目痛者，俱宜用。</p>
<p><u>蕤仁春雪膏</u></p>
<p>　治紅赤羞明，　癢痛，沙澀。</p>
<p>蕤仁（去油，四錢）　龍腦（五分）</p>
<p>先以蕤仁研細，入龍腦和勻，用生好真蜜一錢二分，再研調勻，每用箸頭點內　銳　。</p>
<p>上方，以龍腦除熱毒為君，生蜜解毒和百藥為臣，蕤仁去暴熱、治目痛為使，此藥與黃連爐甘石散、龍腦黃連膏子並用。</p>
<p><u>　鼻碧云散</u></p>
<p>　治腫脹紅赤，昏暗羞明，隱澀疼痛，風癢鼻塞，頭痛腦酸，外翳攀睛，眵淚稠黏。</p>
<p>鵝不食草（二錢）　青黛　川芎（各一錢）</p>
<p>為細末。先噙水滿口，每用如米許，　入鼻內，以淚出為度，不拘時候。</p>
<p>上方，以鵝不食草解毒為君；青黛去熱為佐；川芎大辛，除邪破留為使，升透之藥也。</p>
<p>大抵如開鍋蓋法，常欲使邪毒不閉，令有出路。然力少而銳，　之隨效，宜常　以聚其力，諸目病俱可用。</p>
<p><u>羌活勝風湯</u></p>
<p>　治眵多　，緊澀羞明，赤脈貫睛，頭痛鼻塞，腫脹涕淚，腦巔沉重，眉骨酸疼，外翳如雲霧、絲縷、秤星、螺蓋。</p>
<p>白朮（五分）　枳殼　羌活　川芎　白芷　獨活　防風　前胡　桔梗　薄荷（各四分）　荊芥甘草（各三分）　柴胡（七分）　黃芩（五分）</p>
<p>作一服，水二盞，煎一盞，去滓熱服。</p>
<p>上方，為風熱不制而作也。夫竅不利者，皆脾胃不足之證。故先以白朮、枳殼調治胃氣為君；羌活、川芎、白芷、獨活、防風、前胡諸治風藥，皆主升發為臣；桔梗除寒熱，薄荷、荊芥清利上焦，甘草和百藥為佐；柴胡解熱，行少陽厥陰經，黃芩療上熱，主目中赤腫為使。又治傷寒愈後之病。熱服者，熱性炎上，令在上散，不令流下也。生翳者，隨翳所見經絡加藥。翳凡自內　而出者，加蔓荊子治太陽經，加蒼朮去小腸膀胱之濕，內　者，手太陽足太陽之屬也。自銳　而入客主人斜下者，皆用龍膽草，為膽草味苦，與膽味合，少加人參，益三焦之氣，加　本，乃太陽經風藥，銳　客主人者，足少陽手少陽手太陽之屬也。凡自目系而下者，倍加柴胡行肝氣，加黃連瀉心火，目系者，足厥陰手少陰之屬也。自抵過而上者，加木通導小腸中熱，五味子酸以收斂，抵過者，手太陽之屬也。</p>
<p><u>杏仁龍膽草泡散</u></p>
<p>　治風上攻，　赤癢。</p>
<p>龍膽草　當歸尾　黃連　滑石（另研取末）　杏仁（去皮尖）　赤芍藥（各一錢）</p>
<p>以白沸湯泡頓蘸洗，冷熱任意，不拘時候。</p>
<p>又方，以龍膽草、黃連苦寒去熱毒為君，當歸尾行血，杏仁潤燥為佐，滑石甘寒泄氣，赤芍藥苦酸除癢為使。惟風癢者可用。</p>
<p><u>柴胡復生湯</u></p>
<p>　治紅赤羞明，淚多眵少，腦巔沉重，睛珠痛應太陽，眼睫無力，常欲垂閉，不敢久視，久視則酸疼，翳陷下，所陷者或圓或方，或長或短，如縷如錐如鑿。</p>
<p>本　川芎（各三分半）　白芍藥（四分）　蔓荊子　羌活　獨活　白芷（各三分半）　柴胡（六分）</p>
<p>炙草　薄荷　桔梗（各四分）　五味子（二十粒）　蒼朮　茯苓　黃芩（各五分）</p>
<p>作一服，水二盞，煎至一盞，去滓，食後熱服。</p>
<p>上方，以　本、蔓荊子為君，升發陽氣也；川芎、白芍藥、羌活、獨活、白芷、柴胡為臣，和血補血療風，行厥陰經也；甘草、五味子為佐，為協諸藥斂藏氣也；薄荷、桔梗、蒼朮、茯苓、黃芩為使，為清利除熱去濕，分上下，實脾胃二土，療目中赤腫也。此病起自七情五賊、勞役飢飽，故使生意下陷，不能上升。今主以群隊升發，輔以和血補血，導入本經，助以相協收斂，用以清利除熱，實脾胃，如此為治，理可推也。睛珠痛甚者，當歸養榮湯主之。</p>
<p><u>當歸養榮湯</u></p>
<p>　治睛珠痛甚不可忍。余治並同上。</p>
<p>防風　白芷（各七分半）　白芍藥　熟地黃　當歸　川芎（各一錢）　羌活（七分半）</p>
<p>作一服，水二盞，煎至一盞，去滓，食後熱服。</p>
<p>上方，以七情五賊、勞役飢飽重傷脾胃。脾胃者，多血多氣之所。脾胃受傷，則血亦病。血養睛，睛珠屬腎，今生意已不升發，又復血虛不能養睛，故睛痛甚不可忍。以防風升發生意，白芷解利，引入胃經為君；白芍藥止痛益氣，通血承接上下為臣；熟地黃補腎水真陰為佐；當歸、川芎。行血補血，羌活除風，引入少陰經為使。血為邪勝，睛珠痛者，及亡血過多之病，俱宜服也。服此藥後，睛痛雖除，眼睫無力，常欲垂閉不減者，助陽活血湯主之。</p>
<p>黃　炙草　當歸（各五分）　白芷　蔓荊子（各四分）　防風（五分）　升麻　柴胡（各七分）</p>
<p>作一服，水二盞，煎至一盞，去渣，稍熱服。</p>
<p>上方，以黃　治虛勞，甘草補元氣為君；當歸和血補血為臣；白芷、蔓荊子、防風。主療風升陽氣為佐；升麻導入足陽明足太陰脾胃，柴胡引至足厥陰肝經為使。心火乘金，水衰反制者，亦宜服也。有熱者，兼服黃連羊肝丸。</p>
<p><u>黃連羊肝丸</u></p>
<p>　治目中赤脈紅甚，眵多。余治同上。</p>
<p>黃連（一兩）　白羯羊肝（一個）</p>
<p>先以黃連研為細末，將羊肝以竹刀刮下如糊，除去筋膜，入擂盆中，研細，入黃連末為丸，如梧桐子大。每服三五十丸，加至七八十丸，茶清湯下。</p>
<p>上方，以黃連除熱毒明目為君；以羊肝肝與肝合引入肝經為使。不用鐵與刀者，忌鐵器也。金克木，肝乃木也。一有金氣，肝則畏而不受。蓋專治肝經之藥，非與群隊者比也。肝受邪者，並皆治之。睛痛者，加當歸。</p>
<p><u>決明益陰丸</u></p>
<p>　治畏日惡火，沙澀難開，眵淚俱多，久病亦不痊者，並皆療之。余治同上。</p>
<p>羌活　獨活（各五錢）　黃連（酒製，一兩）　防風（五錢）　黃芩（一兩）　歸尾（酒製）　五味子（各五錢）　石決明（　，三錢）　草決明（一兩）　甘草（炙，五錢）　黃柏　知母（各一兩）</p>
<p>為末，煉蜜丸，桐子大。每服五十丸，加至百丸，茶湯下。</p>
<p>上方，以羌活、獨活升清陽為君；黃連去熱毒，當歸尾行血，五味子收斂為臣；石決明明目磨障，草決明益腎療盲，防風散滯祛風，黃芩去目中赤腫為佐；甘草協和諸藥，黃柏助腎水，知母瀉相火為使。此蓋益水抑火之藥也。內急外弛之病，並皆服之。</p>
<p><u>川芎行經散</u></p>
<p>　治目中青　，如物傷狀，重者白睛如血貫。</p>
<p>枳殼　炙草（各六分）　白芷　防風　荊芥　薄荷　獨活（各四分）　川芎　當歸（各六分）　紅花（少許）　柴胡（六分）　茯苓（三分）　蔓荊子　羌活（各四分）　桔梗（五分）</p>
<p>作一服，水二盞，煎至一盞，去渣，大熱服，食後。</p>
<p>上方，以枳殼、甘草和胃氣為君；白芷、防風、荊芥、薄荷、獨活療風邪，升胃氣為臣；川芎、當歸、紅花行滯血，柴胡去結氣，茯苓分利除濕為佐；蔓荊子、羌活引入太陽經，桔梗利五臟為使。則胃脈調，小腸膀胱皆邪去凝行也。見熱者，以消凝大丸子主之。</p>
<p><u>消凝大丸子</u></p>
<p>　治證同上。或有眵淚沙澀者，並皆療之。</p>
<p>川芎　當歸（各七錢）　防風　荊芥　羌活　本　薄荷（各半兩）　桔梗　甘草（炙，各七錢）</p>
<p>滑石　石膏　白朮　黃芩　山梔（各一兩）　連翹　菊花（各七錢）</p>
<p>先將滑石、石膏另研，余作細末，和勻，煉蜜為劑，每劑一兩，分八丸。每服一丸，或二丸，茶湯嚼下。</p>
<p>上方，消凝滯藥也。君以川芎、當歸，治血和血；臣以羌活、防風、荊芥、　本、薄荷、桔梗，療風散邪，引入手足太陽經；佐以白朮、甘草、滑石、石膏，調補胃虛，通泄滯氣，除足陽明經熱；使以黃芩、山梔、連翹、菊花，去熱除煩。淫熱反克，風熱不制者，俱宜服也。</p>
<p><u>千金磁朱丸</u></p>
<p>　治神水寬大漸散，昏如霧露中行，漸睹空中有黑花，漸睹物成二體，久則光不收，及內障，神水淡綠色、淡白色者。</p>
<p>磁石（吸針者，二兩）　辰砂（一兩）　神麯（四兩）</p>
<p>先以磁石置巨火中　，醋淬七次，晒乾另研極細二兩，辰砂另研極細一兩，生神麯末三兩，與前藥和勻，更以神麯末一兩，水和作餅，煮浮為度，搜入前藥，煉蜜為丸，如梧桐子大。每服一十丸，加至三十丸，空心飯湯下。</p>
<p>上方，以磁石辛鹹寒鎮墜腎經為君，令神水不外移也；辰砂微甘寒鎮墜心經為臣，肝其母，此子能令母實也，肝實則目明；神麯辛溫甘，化脾胃中宿食為佐，生用者，發其生氣，熟用者，斂其暴氣也，服藥後，俯視不見，仰視漸睹星月者，此其效也。亦治心火乘金，水衰反制之病。久病累發者，服之則永不更作。空心服此，午前更以石斛夜光丸主之。</p>
<p><u>石斛夜光丸</u></p>
<p>　治證上同。</p>
<p>天門冬（焙）　人參　茯苓（各二兩）　五味（炒，半兩）　干菊花（七錢）　麥門冬　熟地黃（各一兩）　菟絲子（酒浸）　干山藥　枸杞（各七錢）　牛膝（浸）　杏仁（去皮尖，各七錢半）　生地黃（一兩）</p>
<p>蒺藜　石斛　蓯蓉　川芎　炙草　枳殼（麩炒）　青葙子　防風　黃連（各半兩）　草決明（八錢）</p>
<p>烏犀（鎊）　羚羊角（鎊，各半兩）</p>
<p>為細末，煉蜜丸，桐子大。每服三五十丸，溫酒鹽湯任下。</p>
<p>上方，羨補藥也，補上治下，利以緩，利以久，不利以速也。故君以天門冬、人參、菟絲子之通腎安神，強陰填精也；臣以五味子、麥門冬、杏仁、茯苓、枸杞子、牛膝、生熟地黃之斂氣除濕，涼血補血也；佐以甘菊花、蒺藜、石斛、肉蓯蓉、川芎、甘草、枳殼、山藥、青葙子之療風治虛，益氣祛毒也；使以防風、黃連、草決明、羚羊角、生烏犀之散滯泄熱，解結明目也。陰弱不能配陽之病，並宜服之。此從則順之治法也。</p>
<p><u>益陰補氣丸</u></p>
<p>　治證上同。</p>
<p>熟地黃（三兩）　歸尾（酒製，半兩）　牡丹皮　五味子　干山藥（各五錢）　茯苓　澤瀉（各二錢半）</p>
<p>生地黃（酒製，炒，四兩）　山茱萸　柴胡（各半兩）</p>
<p>為末，煉蜜丸，如桐子大，水飛辰砂為衣。每服五七十丸，空心，淡鹽湯下。</p>
<p>上方，壯水之主，以鎮陽光，氣為怒傷，散而不聚也。氣病血亦病也。肝得血而後能視，又目為心之竅，心主血，故以熟地黃補血衰，當歸尾行血，牡丹皮治積血為君；茯苓和中益真氣，澤瀉除濕瀉邪氣，生地黃補腎水真陰為臣；五味子補五臟，干山藥平氣和胃為佐；山茱萸強陰益精通九竅，柴胡引入厥陰經為使。蜜劑者，欲泥膈難下也；辰砂為衣者，為通於心也。然必兼《千金》磁朱丸服之，庶易為效。</p>
<p><u>滋陰地黃丸</u></p>
<p>　治證上同。眵多　者，並皆治之。</p>
<p>黃連（一兩）　黃芩　歸身（酒製，各半兩）　生地黃（酒製，一兩半）　熟地黃（半兩）　五味子（三錢）</p>
<p>人參（二錢）　天門冬（焙）　炙草（各三錢）　地骨皮（二錢）　枳殼　柴胡（各三錢）</p>
<p>為細末，煉蜜丸，如桐子。每服百丸，食後茶湯下，日三服。</p>
<p>上方，治主以緩，緩則治其本也。以黃連、黃芩，苦寒除邪氣之盛為君；當歸身辛溫，生熟地黃苦甘寒，養血涼血為臣；五味子酸寒，體輕浮上，收神水之散大，人參、甘草、地骨皮、天門冬、枳殼苦甘寒，瀉熱補氣為佐；柴胡引用為使也。亡血過多之病，有熱者，亦宜服。</p>
<p><u>防風散結湯</u></p>
<p>　治目上下睫隱起肉疣，用手法除病後服之。</p>
<p>防風　羌活　白芍藥　歸尾（各五分）　紅花　蘇木（各少許）　茯苓　蒼朮　獨活　前胡　黃芩（各五分）　炙草　防己（各六分）</p>
<p>作一服，水二盞，煎至一盞，熱服，渣再煎。</p>
<p>上方，以防風、羌活，升發陽氣為君；白芍藥、當歸尾、紅花、蘇木，破凝行血為臣；茯苓瀉邪氣，蒼朮去上濕，前胡利五臟，獨活除風邪，黃芩療熱滋化為佐；甘草和諸藥，防己行十二經為使。病在上睫者，加黃連、柴胡，以其手少陰足厥陰受邪也；病在下睫者，加本、蔓荊子，以其手太陽受邪也。</p>
<p><u>竹葉瀉經湯</u></p>
<p>　治眼目癮澀，稍覺　，視物微昏，內　開竅如針，目痛，按之浸浸膿出。</p>
<p>柴胡　梔子　羌活　升麻　炙草（各五分）　赤芍藥　草決明　茯苓　車前子（各四分）　黃芩六分）　黃連　大黃（各五分）　青竹葉（一十片）　澤瀉（四分）</p>
<p>作一服，水二盞，煎至一盞，食後，稍熱服。</p>
<p>上方，逆攻者也。先以行足厥陰肝足太陽膀胱之藥為君，柴胡、羌活是也；二經生意，皆總於脾胃，以調足太陰足陽明之藥為臣，升麻、甘草是也；肝經多血，以通順血脈，除肝邪之藥，膀胱經多濕，以利小便，除膀胱濕之藥為佐，赤芍藥、草決明、澤瀉、茯苓、車前子是也；總破其積熱者，必攻必開，必利必除之藥為使，梔子、黃芩、黃連、大黃、竹葉是也。</p>
<p><u>蜜劑解毒丸</u></p>
<p>　治證上同。</p>
<p>杏仁（去皮尖，二兩，另研）　山梔（十兩，末）　石蜜（煉，一斤）　大黃（五兩，末）</p>
<p>蜜丸，如梧桐子大。每服三十丸，加至百丸，茶湯下。</p>
<p>上方，以甘潤治燥為君，為燥為熱之原也；山梔子微苦寒治煩為臣，為煩為熱所產也；石蜜甘平溫，安五臟為佐，為其解毒除邪也；大黃苦寒，性走不守，瀉諸實熱為使，為攻其積，不令其重疊不解也。</p>
<p><u>決明夜靈散</u></p>
<p>　治目至夜則昏，雖有燈月，亦不能視。</p>
<p>石決明（另研）　夜明沙（另研，各二錢）　豬肝（一兩，生用，不食豬者，以白羯羊肝代之）</p>
<p>二藥末和勻，以竹刀切肝作二片，以上藥鋪於一片肝上，以一片合之，用麻皮纏定，勿令藥得泄出，淘米泔水一大碗，貯沙罐內，不犯鐵器，入肝藥於中，煮至小半碗，臨睡，連肝藥汁服之。</p>
<p>上方，以決明鎮腎經益精為君；夜明沙升陽主夜明為臣；米泔水主脾胃為佐；肝與肝合，引入肝經為使。</p>
<p><u>沖和養胃湯</u></p>
<p>　治內障初起，視覺微昏，空中有黑花，神水變淡綠色，次則視岐，睹一成二，神水變淡白色，久則不睹，神水變純白色。</p>
<p>柴胡（七錢）　人參　當歸（酒浸，各一兩）　五味子（二錢）　白芍藥（六錢）　白茯苓（三錢）　羌活（一兩半）　炙草（一兩）　防風（半兩）　黃　（一兩半）　白朮　升麻　葛根（各一兩）　干生薑（一錢）</p>
<p>每服六錢，水三盞，煎至二盞，入黃芩、黃連各一錢，再煎至一盞，去滓，稍熱，食後服。</p>
<p>上方，因肝木不平，內挾心火，故以柴胡平肝，人參開心，黃連瀉心火為君；酒製當歸榮百脈，五味斂百脈之沸，心包絡主血，白芍藥順血脈、散惡血為臣；白茯苓瀉膀胱之濕，羌活清利小腸之邪，甘草補三焦，防風升膽之降為佐；陰陽皆總於脾胃，黃　補脾胃，白朮健脾胃，升麻、葛根行脾胃之經，黃芩退壯火，干生薑入壯火為導為使。此方逆攻、從順、反異、正宜俱備。</p>
<p><u>益氣聰明湯</u></p>
<p>　治證上同。並治耳聾耳鳴。</p>
<p>黃　人參（各一錢二分半）　甘草（炙，五分）　升麻（七錢半）　葛根（三錢）　蔓荊子（一錢半）　芍藥黃柏（酒炒，各一錢）</p>
<p>每服四錢，水二盞，煎至一盞，去渣，臨睡熱服，五更再煎服。</p>
<p>上方，以黃　、人參之甘溫，治虛勞為君；甘草之甘平，承接和協，升麻之苦平微寒，行手陽明足陽明足太陰之經為臣；葛根之甘平，蔓荊子之辛溫，　皆能升發為佐；芍藥之酸微寒，補中焦，順血脈，黃柏之苦寒，治腎水膀胱之不足為使。酒製又炒者，因熱用也。或有熱，可漸加黃柏，春夏加之，盛暑倍加之，加多則不效，脾胃虛者去之。熱倍此者，瀉熱黃連湯主之。</p>
<p><u>瀉熱黃連湯</u></p>
<p>　治內障，症同上，有眵淚　。</p>
<p>黃芩（酒炒）　黃連（酒洗）　柴胡（酒炒）　生地黃（酒洗，各一兩）　升麻（半兩）　龍膽草（三錢）</p>
<p>，為反助陰也。</p>
<p>上方，治主治客之劑也。治主者，升麻主脾胃，柴胡行肝經為君；生地黃涼血為臣，為陽明太陰厥陰多血故也。治客者，黃連、黃芩，皆療濕熱為佐；龍膽草專除眼中諸疾為使，為諸濕熱俱從外來為客也。</p>
<p><u>還陰救苦湯</u></p>
<p>　治目久病，白睛微變青色，黑睛稍帶白色，黑白之間，赤環如帶，謂之抱輪紅，視物不明，昏如霧露中，睛白高低不平，其色如死，甚不光澤，口乾舌苦，眵多羞澀，上焦應有熱邪。</p>
<p>升麻　蒼朮　甘草（炙）　柴胡　防風　羌活（各半兩）　細辛（二錢）　本（四錢）　川芎（一兩）</p>
<p>桔梗（半兩）　紅花（一錢）　歸尾（七錢）　黃連　黃芩　黃柏　知母　生地黃　連翹（各半兩）　龍膽草（三錢）</p>
<p>每服七錢，水二盞，煎至一盞，去滓，熱服。</p>
<p>上方，以升麻、蒼朮、甘草，諸主元氣為君，為損者溫之也；以防風、柴胡、羌活、細辛、　本，諸升陽化滯為臣，為結者散之也；以川芎、桔梗、紅花、當歸尾，諸補行血脈為佐，為留者行之也；以黃連、黃芩、黃柏、知母、連翹、生地黃、龍膽草，諸去除熱邪為使，為客者除之也。奇經客邪之病，強陽搏實陰之病，服此亦具驗。</p>
<p><u>菊花決明散</u></p>
<p>　治症上同。</p>
<p>草決明　石決明（東流水煮一伏時，另研極細入藥）　木賊草　防風　羌活　蔓荊子甘菊花　甘草（炙）　川芎　石膏（另研極細入藥）　黃芩（各半兩）</p>
<p>為細末。每服二錢，水盞半，煎八分，連末服，食後。</p>
<p>上方，以明目除翳為君者，草決明、石決明、木賊草也；以散風升陽為臣者，防風、羌活、蔓荊子、甘菊花也；以和氣順血為佐者，甘草、川芎也；以療除邪熱為使者，黃芩、石膏也。內急外弛之病，亦宜其治。</p>
<p><u>神驗錦鳩丸</u></p>
<p>　治症上同。兼口乾舌苦，眵多羞澀，上焦邪熱。</p>
<p>甘菊花（半兩）　草決明　蕤仁（去皮，各三兩）　牡蠣（洗，火　粉，半兩）　黃連　蒺藜（炒，去尖）　防風（各五兩）　羌活（三兩）　細辛（五兩）　瞿麥（三兩）　白茯苓（四兩）　肉桂（二兩）　斑鳩（一只，跌死，去皮毛腸嘴爪，文武火連骨炙干）　羯羊肝（一個竹刀薄批，炙令焦，忌用鐵刀）　蔓菁子（二升，淘淨絹袋盛，甑蒸一伏時，晒乾）</p>
<p>為細末，煉蜜為劑，杵五百下，丸如桐子大。每服二十丸，加至三五十丸，空心，溫湯下。</p>
<p>上方，以甘菊花、草決明，主明目為君；以蕤仁、牡蠣、黃連、蒺藜，除濕熱為臣；以防風、羌活、細辛之升上，瞿麥、茯苓之分下為佐；以斑鳩補腎，羊肝補肝，肉桂導群藥入熱邪為使。此方制之大者也，腎肝位遠，服湯藥散不厭頻多之義也。</p>
<p><u>萬應蟬花散</u></p>
<p>　治證上同。</p>
<p>蟬蛻（去土，半兩）　蛇蛻（炙，三錢）　川芎　防風　羌活　炙草（各一兩）　蒼朮（四兩）　赤芍藥（三兩）　當歸　白茯苓（各一兩）　石決明（東流水煮一伏時，另研極細，一兩半）</p>
<p>為細末。每服二錢，食後臨臥時，濃米泔調下，熱茶清亦可。</p>
<p>上方，制之偶者也。奇之不去，則偶之，是為重方也。今用蟬蛻，又用蛇蛻者，取其重蛻之義，以除翳為君也；川芎、防風、羌活，皆能清利頭目為臣也；甘草、蒼朮，通主脾胃，又脾胃多氣多血，故用赤芍藥補氣，當歸補血為佐也；石決明鎮墜腎水，益精還陰，白茯苓分陰陽上下為使也。亦治奇經客邪之病。</p>
<p><u>黃　防風飲子</u></p>
<p>　治眼棱緊急，以致倒睫拳毛，損睛生翳，及上下瞼　赤爛，羞澀難開，眵淚稠黏。</p>
<p>蔓荊子（五分）　細辛（二分）　葛根（一錢半）　炙草　黃　防風（各一錢）　黃芩（五分）</p>
<p>作一服，水二盞，煎至一盞，去滓，大熱服。</p>
<p>上方，以蔓荊子、細辛為君，除手太陽手少陰之邪，肝為二經之母，子平母平，此實則瀉其子也；以甘草、葛根為臣，治足太陰足陽明之弱，肺為二經之子，母薄子單，此虛則補其母也；黃　實皮毛，防風散滯氣，用之以為佐；黃芩療濕熱，去目中赤腫，為之使也。</p>
<p><u>無比蔓荊子湯</u></p>
<p>　治證上同。</p>
<p>黃　人參（各一錢）　黃連　柴胡（各七分）　蔓荊子　當歸　葛根　防風（各五分）　生草（一錢細辛葉（三分）</p>
<p>作一服，水二盞，煎至一盞，去滓，稍熱服。</p>
<p>上方，為肺氣虛耶，黃　、人參實之，為君；心受邪耶，黃連除之，肝受邪耶，柴胡除之，小腸受邪耶，蔓荊子除之，為臣；當歸和血，葛根解除為佐；防風療風散滯，生甘草大瀉熱火，細辛利九竅，用葉者，取其升上之意，為使也。</p>
<p><u>撥雲退翳丸</u></p>
<p>　治陽蹺受邪，內　即生赤脈縷縷，根生瘀肉，瘀肉生黃赤脂，脂橫侵黑睛，漸蝕神水，銳　亦然，俗名攀睛。</p>
<p>川芎（一兩五錢）　菊花（一兩）　蔓荊子（二兩）　蟬蛻（一兩）　蛇蛻（炙，三錢）　密蒙花（二兩）　薄荷葉（半兩）　木賊草（去節，二兩）　荊芥穗（一兩）　黃連　楮桃仁（各半兩）　地骨皮（一兩）　天花粉（六錢炙草（三錢）　川椒皮（七錢）　當歸　白蒺藜（去刺，炒，各一兩五錢）</p>
<p>為細末，煉蜜成劑，每兩作八丸。每服一丸，食後臨睡。細嚼，茶清下。</p>
<p>上方，為奇經客邪而作也。《八十一難經》曰：陽蹺脈者，起於跟中，循外踝上行入風池。風池者，腦戶也。故以川芎治風入腦，以菊花治四肢游風，一療其上，一平其下為君；蔓荊子除手太陰之邪，蟬蛻、蛇蛻、木賊草、密蒙花除郁為臣；薄荷葉、荊芥穗、白蒺藜諸療風者，清其上也，楮桃仁、地骨皮諸通小便者，利其下也，為佐；黃連除胃中熱，天花粉除腸中熱，甘草和協百藥，川椒皮利五臟明目，諸所病處血亦病，故復以當歸和血為使也。</p>
<p>楮桃仁，即楮實子也。</p>
<p><u>梔子勝奇散</u></p>
<p>　治症同上。並有眵淚，羞澀難開。</p>
<p>蛇蛻　草決明　川芎　荊芥穗　蒺藜（炒）　穀精草　菊花　防風　羌活　密蒙花　甘草（炙）　蔓荊子　木賊草　山梔子　黃芩（各等分）</p>
<p>為細末。每服二錢，食後臨睡，熱茶清調下。</p>
<p>上方，以蟬蛻之鹹寒，草決明之鹹苦，為味薄者通，通者通其經絡也；川芎、荊芥穗之辛溫，白蒺藜、穀精草之苦辛溫，菊花之苦甘平，防風之甘辛為臣，為氣辛者發熱，發熱者升其陽也；羌活之苦甘溫，密蒙花之甘微寒，甘草之甘平，蔓荊子之辛微寒為佐，為氣薄者發泄，發泄者清利其諸關節也；以木賊草之甘微苦，山梔子、黃芩之微苦寒為使，為濃味者泄，泄者，攻其壅滯有餘也。</p>
<p><u>磨障靈光膏</u></p>
<p>　治症上同。</p>
<p>黃連（銼如豆大，一兩，童便浸一宿，晒，為末）　黃丹（水飛三兩）　當歸（取細末，二錢）</p>
<p>麝香（另研末）　乳香（另研末，各五分）　輕粉（另研）　砂（另研末）　白丁香（取末，各一錢）</p>
<p>龍腦（少許，末）　海螵蛸（取末，一錢）　爐甘石（六兩，另以一兩黃連，銼，置水中，燒爐甘石通紅，淬七次）</p>
<p>先用好白沙蜜一十兩，或銀器沙鍋內，熬五七沸，以淨紙搭去蠟面，除黃丹外，下余藥，用柳木攪勻，次下黃丹再攪，慢火徐徐攪至紫色，卻將乳香、麝香、輕粉、　砂和勻，入上藥內，以不黏手為度，急丸如皂角刺大，以紙裹之。每用一丸，新汲水化開，旋入龍腦少許，時時點翳上。</p>
<p>上方，以黃連去邪熱，主明目為君；以黃丹除熱除毒，爐甘石療濕收散為臣；以當歸和血脈，麝香、乳香諸香通氣，輕粉殺瘡為佐；以　砂之能消，海螵蛸之磨翳，白丁香之主病不移，龍腦之除赤脈去外障為使也。</p>
<p><u>消翳復明膏</u></p>
<p>　治症上同。</p>
<p>黃丹（水飛，四兩）　青鹽（一兩，另研）　白沙蜜（一斤）　訶子（八個，去核，取末）　海螵蛸（三錢，取末）</p>
<p>先將蜜熬數沸，淨紙搭去蠟面，卻下黃丹，用棍攪勻，旋下余藥，將至紫色取出。</p>
<p>黃連（十兩）　蕤仁（半兩）　木賊草（一兩）　龍膽草（二兩）　杏仁（七十五個去皮尖）</p>
<p>通入瓷器內，水一斗浸之，春秋五日，夏三日，冬十日，入鍋內，文武火熬至小半升，濾去渣，重湯燉成膏子，卻入前藥熬之，攪成紫色，入龍腦一錢。每用少許，點上，藥干，淨水化開用。</p>
<p>上方，以黃連為君，為療邪熱也；蕤仁、杏仁、龍膽草為臣，為除赤痛，潤煩燥，解熱毒也；黃丹、青鹽、龍腦、白沙蜜為佐，為收濕爛，益腎氣，療赤腫，和百藥也；訶子、海螵蛸、木賊草為使，為澀則不移，消障磨翳也。</p>
<p><u>除風益損湯</u></p>
<p>　治目為物傷者。</p>
<p>熟地黃　當歸　白芍藥　川芎（各一錢）　本　前胡　防風（各七分）</p>
<p>作一服，水二盞，煎至一盞，去滓，大熱服。</p>
<p>上方，以熟地黃補腎水為君，黑睛為腎之子，此虛則補其母也；以當歸補血，為目為血所養，今傷則血病，白芍藥補血又補氣，為血病氣亦病也，為臣；川芎治血虛頭痛，　本通血去頭風為佐；前胡、防風，通療風邪，俾不凝留為使。兼治亡血過多之病。傷於眉骨者，病自目系而下，以其手少陰有隙也，加黃連療之。傷於　者，病自抵過而上；傷於耳者，病自銳　而入，以其手太陽有隙也，加柴胡療之。傷於額交顛耳上角及腦者，病自內　而出，以其足太陽有隙也，加蒼朮療之。傷於耳後、耳角、耳前者，病自客主人斜下；傷於頰者，病自銳　而入，以其足少陽有隙也，加龍膽草療之。傷於額角及巔者，病自目系而下，以其足厥陰有隙也，加五味子療之。凡傷甚者，從權倍加大黃，瀉其敗血。眵多淚多，羞澀赤腫者，加黃芩療之。</p>
<p><u>加減地黃丸</u></p>
<p>　治症上同。</p>
<p>生地黃　熟地黃（各半斤）　牛膝　當歸（各三兩）　枳殼（二兩）　杏仁　羌活　防風（各一兩）</p>
<p>為細末，煉蜜為丸，如桐子大。每服三十丸，空心食前，溫酒送下，淡鹽湯亦可。</p>
<p>上方，以地黃補腎水真陰為君，夫腎水不足者，相火必盛，故生熟地黃退相火也；牛膝逐敗血，當歸益新血為臣；麩炒枳殼和胃氣，謂胃為多血生血之所，是補其原，杏仁潤燥，謂血少生燥為佐；羌活、防風，俱升發清利，大除風邪，為七情五賊、飢飽勞役之病。睛痛者，與當歸養榮湯兼服；傷寒愈後之病，及血少血虛血亡之病，俱宜服也。</p>
<p><u>人參補陽湯</u></p>
<p>　治傷寒余邪不散，上走空竅，其病隱澀赤脹，生翳羞明，頭痛骨痛。</p>
<p>羌活　獨活（各六分）　白芍藥　生地黃　澤瀉（各三分）　人參　白朮　茯苓　黃　炙草當歸（各四分）　柴胡　防風（各五分）　熟地黃（酒洗，炒，四分）</p>
<p>作一服，水二盞，煎至一盞，去渣熱服。</p>
<p>上方，分利陰陽、升降上下之藥也。羌活、獨活為君者，導陽之升也；茯苓、澤瀉為臣者，導陰之降也；人參、白朮，大補脾胃，內盛則邪自不容，黃　、防風，大實皮毛，外密則邪自不入，為之佐也；當歸、熟地黃俱生血，謂目得血而能視，生地黃補腎水，謂神水屬腎，白芍藥理氣，柴胡行經，甘草和百藥，為之使也。</p>
<p><u>抑陽酒連散</u></p>
<p>　治神水緊小，漸如菜子許，及神水外圍，相類蟲蝕者，然皆能睹物不昏，微有　羞澀之證。</p>
<p>生地黃　獨活　黃柏　防風　知母（各三分）　蔓荊子　前胡　羌活　白芷　生草（各四分）</p>
<p>黃芩（酒製）　寒水石　梔子　黃連（酒製，各五分）　防己（三分）</p>
<p>作一服，水二盞，煎至一盞，去滓，大熱服。</p>
<p>上方，抑陽緩陰之藥也。以生地黃補腎水真陰為君；獨活、黃柏、知母，俱益腎水為臣；蔓荊子、羌活、防風、白芷，群隊升陽之藥為佐者，謂既抑之，令其分而更不相犯也；生甘草、黃芩、梔子、寒水石、防己、黃連，不走之藥為使者，惟欲抑之，不欲祛除也。諸用酒製者，為引導也。</p>
<p><u>當歸補血湯</u></p>
<p>　治男子衄血便血，婦人產後崩漏，亡血過多，致睛珠疼痛，不能視物，羞明酸澀，眼睫無力，眉骨太陽，俱各酸痛。</p>
<p>熟地黃　當歸（各六分）　川芎　牛膝　白芍藥　炙草　白朮　防風（各五分）　生地黃　天門冬（各四分）</p>
<p>作一服，水二盞，煎至一盞，去滓，稍熱服。惡心不進食者，加生薑煎。</p>
<p>上方專補血，故以當歸、熟地黃為君；川芎、牛膝、白芍藥為臣，以其祛風續絕定痛而通補血也；甘草、白朮，大和胃氣，用以為佐；防風升發，生地黃補腎，天門冬治血熱，謂血亡生風燥，故以為使。</p>
<p><u>羚羊角散</u></p>
<p>　治小兒斑疹後，余毒不解，上攻眼目，生翳羞明，眵淚俱多，紅赤腫閉。</p>
<p>羚羊角（鎊）　黃芩　黃　草決明　車前子　升麻　防風　大黃　芒硝（各等分）</p>
<p>作一服，水一盞，煎半盞，去滓，稍熱服。</p>
<p>上方，以羚羊角主明目為君；升麻補足太陰以實內，逐其毒也，黃　補手太陰以實外，御其邪也，為臣；防風升清陽，車前子瀉濁陰為佐；草決明療赤痛淚出，黃芩、大黃、芒硝，用以攻其固熱為使。然大黃、芒硝乃大苦寒之藥，智者當量其虛實，以為加減。未滿二十一日而目疾作者。消毒化斑湯主之。</p>
<p><u>消毒化斑湯</u></p>
<p>　治小兒斑疹，未滿二十一日而目疾作者。余症上同。</p>
<p>羌活（五分）　本（二分）　細辛（一分）　黃連（三分）　黃芩（一分）　酒芩（二分）　酒黃柏（三分）</p>
<p>生地黃（二分）　麻黃（五分）　升麻（五分）　白朮（一分）　蒼朮（二分）　生甘草（一分）　吳茱萸（半分）　陳皮（二分）　紅花（半分）　蘇木（一分）　當歸（三分）　連翹（三分）　防風（五分）　川芎（二分）　葛根（一分）　柴胡（二分）</p>
<p>上方，功非獨能於目，蓋專於斑者而置也。今以治斑之劑治目者，以其毒尚熾盛，又傍害於目也。夫斑疹之發，初則膀胱壬水克小腸丙火，羌活、　本，乃治足太陽之藥，次則腎經癸水又克心火，細辛主少陰之藥，故為君；終則二火熾盛，反制寒水，故用黃連、黃芩、黃柏以療二火，酒製者，反治也，生地黃益腎水，故為臣；麻黃、防風、川芎。升發陽氣、祛諸風邪，葛根、柴胡。解利邪毒，升麻散諸郁結，白朮、蒼朮。除濕和胃，生甘草大退諸熱，故為佐；氣不得上下，吳茱萸、陳皮通之，血不得流行，蘇木、紅花順之，當歸愈惡瘡，連翹除客熱，故為使。此方君臣佐使，逆從反正，用藥治法俱備，通造化明藥性者能知也。如未見斑疹之前，小兒耳尖冷，呵欠，睡中驚，嚏噴，眼澀，知其必出斑者，急以此藥投之。甚者則稀，稀者立已，已後無二出之患。</p>
<p><u>茯苓燥濕湯</u></p>
<p>　治小兒易飢而渴，瘦瘠，腹脹下利，作HT　HT　聲，目病生翳，睫閉不開，眵淚如糊，久而膿流，俗謂之疳毒眼。</p>
<p>甘草（炙，二分）　人參（一分）　柴胡（四分）　白朮（二分）　枳殼（麩炒，二分）　蒼朮（三分）　茯苓（二分）　澤瀉（一分半）　前胡（三分）　川芎（三分半）　薄荷葉（二分）　羌活（三分半）　獨活（三分）　蔓荊子（二分）</p>
<p>作一服，水一盞半，煎至七分，去渣，稍熱服。</p>
<p>上方，為小兒寒暑飲食不調而釀成此症。夫寒暑飲食不節，皆能傷動脾胃，脾胃陰陽之會元也。故清陽下而不升，濁陰上而不降。今以白朮、人參，先補脾胃為君；柴胡、甘草、枳殼，輔上藥補脾胃為臣；蒼朮燥濕，茯苓、澤瀉導濁陰下降為佐；然後以羌活、獨活、防風、蔓荊子、前胡、川芎、薄荷諸主風藥以勝濕，引清陽上升為使。此正治神效之法也。</p>
<p><u>升麻龍膽草飲子</u></p>
<p>　治小兒疳眼，流膿生翳，濕熱為病。</p>
<p>升麻（二錢）　羌活（三錢）　麻黃（一錢半）　炙草　穀精草　蛇蛻（各半錢）　龍膽草（三錢）　川鬱金半錢）　黃芩（炒，一錢）　青蛤粉（三錢）</p>
<p>為細末。每服二錢，熱茶清濃調服。</p>
<p>上方君以升麻，足陽明胃足太陰脾也；臣以羌活、麻黃，風能勝濕也；佐以甘草，承和上下，穀精草明目退翳，蛇蛻主小兒驚疳等疾；使以青蛤粉，治疳止利，川鬱金破血，龍膽草療眼中諸疾，黃芩除上熱，目內赤腫，火炒者妙，龍膽草性已苦寒，恐重之，則又過於寒也。</p>
<h2>附錄</h2>
<h3>論目為血脈之宗</h3>
<p>《內經》曰：諸脈者，皆屬於目，目得血而能視。《針經》曰：五臟六腑精氣，皆上注於目而為之精。精之窠為眼，骨之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精則為約束，裹擷筋骨，血氣之精而與脈並為系，上屬於腦，後出於項中。故邪中於項，因逢其身之虛，其入深，則隨眼系入於腦則腦轉，腦轉則引目系急，目系急則目眩以轉矣。邪中其精，其精所中，不相比也。則精散，精散則視岐，故見兩物。目者，五臟六腑之精，榮衛魂魄之所常營也，神氣之所生也。故神勞則魂魄散，志意亂。是故瞳子黑眼發於陰，白眼赤脈發於陽，故陰陽合傳而為精明也。目者，心之使也；心者，神之舍也。故神精亂而不轉，卒然見非常之處，精神魂魄，散不相得，故曰惑也。東垣曰：夫十二經脈，三百六十五絡，其血氣皆上走於面而走空竅，其清陽氣上散於目而為精，其氣走於耳而為聽。因心煩事冗，飲食失節，勞役過度，致脾胃虛弱，心火太盛，則百脈沸騰，血脈逆行，邪害空竅，失明則日月不明矣。夫五臟六腑之精氣，皆稟受於脾，上貫於目。脾者，諸陰之首也；目者，血脈之宗也。故脾虛則五臟之精氣皆失所司，不能歸明於目矣。心者，君火也，主人之神，宜靜而安，相火化行其令。相火者，包絡也，主百病，皆榮於目。既勞役運動，勢乃妄行，又因邪氣所並而損血脈，故諸病生焉。凡醫者，不理脾胃，及養血安神，治標不治本，是不明正理也。</p>
<p>按：此論目為臟腑血脈精氣之宗，至為詳悉。豈但世俗拘之於五輪八廓而已也。</p>
<h3>論目昏赤腫翳膜皆屬於熱</h3>
<p>《原病式》曰：目昧不明，目赤腫痛，翳膜　瘍，皆為熱也。及目膜，俗謂之眼黑，亦為熱也。或平白目無所見者，熱氣鬱之甚也。或言目昧為肝腎虛冷者，誤也。是以妄謂肝生於目，腎主瞳子，故妄言目昧為虛而冷也。然腎水，冬陰也，虛則當熱；肝木，春陽也，虛則當冷。腎陰肝陽，豈能同虛而為冷者歟。或通言肝腎之中，陰實陽虛，而無由目昧也。俗妄謂肝腎之氣衰少，而不能至於目也。不知經言熱甚目瞑，眼黑也，豈由寒爾。又考仲景言傷寒病，熱極則不識人，乃目盲也。《正理論》曰：由熱甚怫鬱於目而致之然也。若目無所見，耳無所聞，悉由熱氣怫鬱、玄府閉密而致。氣液血脈，榮衛精神，不能升降出入故也，各隨郁結微甚而見病之輕重也。故知熱鬱於目，無所見也。故目微昏者，至近則轉難辨物，由目之玄府閉小也，隔縑視物之象也。或視如蠅翼者，玄府有所閉合者也。或目昏而見黑花者，由熱氣甚而發之於目。亢則害，承乃制，而反出其泣，氣液昧之，以其至近，故雖微而亦見如黑花也。及沖風泣而目暗者，由熱甚而水化制之也。故經言厥則目無所見。夫人厥則陽氣並於上，陰氣並於下。陽並於上，則火獨光也；陰氣並於下則足陰，足陰則脹也。夫一水不能勝五火，故目　而盲。是以沖風泣下而不止。夫風之中於目也，陽氣內守於睛，是火氣燔目，故見風泣下。</p>
<p>按：此論熱甚怫鬱，陰陽並厥，玄府閉密，致目病之由為詳，蓋一主於火熱之化也。若由飲食辛熱，七情所動，六氣淫郁，氣血虛實，則東垣、子和、陳無擇輩，論亦已詳，然亦有痰熱濕熱，與夫服食金石燥熱之藥致者。或久病後，榮衛虛弱，肝氣腎陰不足，或元氣精氣虛衰，及脫營為病，皆有虛熱實熱之殊，並宜分治。</p>
<h3>論眼證分表裡治</h3>
<p>《機要》曰：在腑則為表，當除風散熱；在臟則為裡，宜養血安神。暴發者，為表而易治；久病者，在裡而難愈。</p>
<h3>論目疾宜出血最急</h3>
<p>子和曰：聖人雖言目得血而能視，然血亦有太過不及也。太過則目壅塞而發痛，不及則目耗竭而失明。故年少之人多太過，年老之人多不及。但年少之人，則無不及；年老之人，其間猶有太過者，不可不察也。夫目之內　，太陽經之所起，血多氣少；目之銳　，少陽經也，血少氣多；目之上綱，太陽經也，亦血多氣少；目之下綱，陽明經也，血氣俱多。然陽明經起於目兩旁交　之中，與太陽少陽俱會於目。惟足厥陰經連於目系而已。故血太過者，太陽陽明之實也；血不及者，厥陰之虛也。故出血者，宜太陽陽明。蓋此二經，血多故也。少陽一經，不宜出血，血少故也。刺太陽陽明出血，則目愈明；刺少陽出血，則目愈昏。要知無使太過不及，以養血目而已。凡血之為物，太多則濫，太少則枯。人熱則血行疾而多，寒則血行遲而少，此常理也。目者，肝之外候也。肝主目，在五行屬木，雖木之為物，太茂則蔽密，太衰則枯瘁矣。夫目之五輪，乃五臟六腑之精華，宗脈之所聚。其白輪屬肺金，肉輪屬脾土，赤脈屬心火，黑水神光屬腎水，兼屬肝木，此世俗皆知之矣。及有目疾，則不知病之理，豈知目不因火則不病，何以言之？白輪變赤，火乘肺也；肉輪赤腫，火乘脾也；黑水神光被翳，火乘肝與腎也；赤脈貫目，火自甚也。能治火者，一句可了。故《內經》曰：熱勝則腫。凡目暴赤腫起，羞明隱澀，淚出不止，暴寒目瞞，皆太熱之所為也。治火之法，在藥則鹹寒，吐之下之；在針則神廷、上星、囟會、前頂、百會，血之翳者可使立退，痛者可使立已，昧者可使立明，腫者可使立消。惟小兒不可刺囟會，為肉分淺薄，恐傷其骨。然小兒水在上，火在下，故目明；老人火在上，水不足，故目昏。《內經》曰：血實者宜決之。又經曰：虛者補之，實者瀉之。如雀目不能夜視，及內障暴怒，大憂之所致也。皆肝主目，血少禁出血，止宜補肝養腎。至於暴赤腫痛，皆宜以　針刺前五穴出血而已，次調鹽油以塗發根。甚者，雖至於再，至於三，可也。量其病勢，以平為期。</p>
<p>按：此謂目疾出血最急，於初起熱痛暴發，或久病郁甚，非三棱針宣泄不可。然年高之人，及久病虛損，並氣鬱者，宜從毫針補瀉之則可。故知子和亦大略言爾。於少陽一經，不宜出血，無使太過不及，以養血目而已。斯意可見。</p>
<h3>論內障外障</h3>
<p>《龍木論》曰：眼疾有七十二般內障，二十三候外障，四十九候病狀，一一不同。據其疾狀，認識既不差錯，治療少有所憑。</p>
<p>謹按：諸候詳見本論。然內障為黑水神光昏翳，外障則有翳膜者是。今論中雖見諸候，而所用藥多本風熱，故並略云。然內障有因於痰熱氣鬱、血熱陽陷、陰虛脫營所致，種種病因，皆略之不議。況外障之翳，有起於內　、外　、睛上、睛下、睛中，當視其翳色從何絡而來。如東垣治例：魏邦彥夫人目翳，從下而上，病自陽明來也。綠非五色之正，殆肺腎合而為病也。乃就畫家以墨調膩粉合成色，諦視之，與翳色同矣。肺腎為病者無疑，乃瀉肺腎之邪，而以入陽明之藥為之使。既效，而他日復病作者三。其所從來之經，與翳色各異。因詢此必經絡不調，目病未已，問之果然。如所論治之，疾遂不作。若此憑其色，究其所兼所本之因，處治而不愈者，蓋邪蘊日久而實，元氣陰氣不足所致也。當以王道論治庶可。但世俗不能守此理，遂致失明者矣。悲夫！</p>
<h3>論瞳子散大</h3>
<p>東垣曰：瞳子散大者，由食辛熱之物太甚故也。所謂辛主散，熱則助火，上乘於腦中，其精故散，精散則視物亦散大也。夫精明者，所以視萬物者也。今視物不真，則精衰矣。蓋火之與氣，勢不兩立。故經曰：壯火食氣，壯火散氣。手少陰足厥陰所主風熱，連目系，邪入中人，各從其類。故循此道而來攻，頭目腫悶而瞳子散大，皆血虛陰弱故也。當除風熱，涼血益血，以收耗散之氣，則愈矣。</p>
<h3>論倒睫赤爛</h3>
<p>東垣曰：夫眼生倒睫拳毛者，兩目緊急，皮縮之所致也。蓋內復熱，則陰氣外行，當去其內熱並火邪，眼皮緩則眼毛立出，翳膜亦退，用手法攀出內瞼向外，速以三棱針出血，以左手爪甲迎其針鋒立愈。</p>
<p>目眶歲久赤爛，俗呼為赤瞎是也。當以三棱針刺目眶外，以瀉濕熱而愈。</p>
<p>按：以上所論，可謂深達病情。然是證亦多是血熱陰虛火動所致。蓋血所以滋經脈、養毛髮者也。故當外治以瀉其瘀熱，內治以杜絕其源可也。</p>
<h3>論目不能遠視為陰氣不足</h3>
<p>東垣曰：能遠視不能近視者，陽氣不足，陰氣有餘也，乃氣虛而血盛也。血盛者，陰火有餘；氣虛者，氣弱也。此老人桑榆之象也。能近視不能遠視者，陽氣有餘，陰氣不足也，乃血虛氣盛。血虛氣盛者，皆火有餘，元氣不足。火者，元氣、穀氣、真氣之賊也。元氣來也徐而和，細細如線；邪氣來也緊而強，如巨川之水不可遏。</p>
<p>謹按：陽氣者，猶日火也；陰氣者，金水也。先儒所謂金水內明而外暗，日火內暗而外明者也。然人目眼，備臟腑五行精華，相資而神明，故能視，即此理之常也。雖經曰目得血而能視，殊不言氣者，蓋血得氣為水火之交，而能神明之也。否則陰虛不能遠視，陽乏不能視近，是為老人桑榆之漸。然學人於目病能求諸此，則思過半矣。</p>
<h3>論目疾分三因</h3>
<p>陳無擇云：病者喜怒不節，憂思兼並，致臟氣不平，鬱而生涎，隨氣上厥，逢腦之虛，侵淫眼系，蔭注於目，輕則昏澀，重則障翳，眵淚　肉，白膜瞞睛，皆內所因。或數冒風寒，不避暑濕，邪中於項，乘虛循系，以入於腦，故生外翳，醫論中所謂青風、綠風、紫風、黑風、赤風、白風、白翳、黃翳等，隨八風所中，變生諸症，皆外所因。或嗜欲不節，飲食無時，生食五辛，熱啖炙　，馳騁田獵，冒涉煙塵，勞動外情，喪明之本，皆不內外因治之。</p>
<p>按：論中所言致證之因，至為詳悉。惜乎其方多本於風熱，及水臟陽虛處治而未備，學者當自為通變矣。</p>
<h3>論偷針眼</h3>
<p>巢氏曰：凡眼內　頭忽結成　，三五日間，便生膿汁，世呼為偷針。此由熱氣客在　間，熱摶於津液所成。但其勢輕者，小小結聚，汁潰熱歇乃瘥。</p>
<p>謹按：世傳眼　初生小　，視其背上，即有細紅點如瘡，以針刺破，眼時即瘥，故名偷針，實解太陽經結熱也。人每試之有驗。然巢氏但具所因，而不更分經絡，其諸名實，所過者多矣。</p>
<h3>先哲治驗</h3>
<p>東垣云：戊申六月，徐總管患眼疾，上眼皮下出黑白翳二點，隱澀難開，兩目緊縮而不痛，兩寸脈細緊，按之洪大而無力，乃足太陽膀胱為命門相火煎熬，逆行作寒水翳，及寒膜遮睛，呵欠，善悲健忘，嚏噴眵淚，時淚下，面赤而白，能食，大便難，小便數而欠，氣上而喘，以撥雲湯治之。</p>
<p><u>論瞳子散大並方論</u></p>
<p>　戊戌冬初，李叔和至西京，朋友待之以豬肉煎餅，同蒜醋食之，後復飲酒太醉，臥於暖坑。翌日病眼，兩瞳子散大於黃睛，視物無的，以小為大，以短為長，卒然見非常之處，行步踏空，多求醫療，而莫之愈。至己亥春，求治於先師，曰：《內經》有云：五臟六腑之精氣，皆注於目而為之精。精之窠為眼，骨之精為瞳子。又云：筋骨氣血之精而為脈，並為系，上屬於腦。又瞳子黑眼法於陰。今瞳子散大者，由食辛熱之物過多故也。所謂辛主散，熱則助火，上乘於腦中，其精故散。精散則視物亦散大也。夫精明者，所以視萬物者也。今視物不真，則精衰矣。蓋火之與氣，勢不兩立。故經云：壯火食氣，壯火散氣。手少陰足厥陰所主風熱，連目系，邪之中人，各從其類，故循此道而來攻。頭目腫悶而瞳子散大，皆血虛陰弱故也。當除風熱，涼血益血，以收耗散之氣，則愈矣，滋陰地黃丸。《內經》云：熱淫所勝，平以鹹寒，佐以苦甘，酸收之。以黃連、黃芩大苦寒，除邪氣之盛為君；當歸身辛溫，生熟地黃苦甘寒，養血涼血為臣；五味子酸寒，體輕浮上，收瞳子之散大，人參、甘草、地骨皮、天門冬、枳殼苦甘寒，瀉熱補氣為佐；柴胡引用為使也。忌食辛辣物而助火邪，及食寒冷物損胃氣，藥不能上行也。</p>
<p>〔丹溪〕：一壯年人早起，忽視物不見，就睡片時，略見而不明，食減倦甚，脈緩大，重按則散而無力，意其受濕所致。詢之，果臥濕地半月。遂以白朮為君，黃　、茯苓、陳皮為臣，附子為使，十余帖而愈。</p>
<p>〔丹溪〕：一老人忽盲，他無所苦，予以大虛治之，急煎人參膏二斤。服二日，一醫與磁石藥，予曰：今夜死矣。果然。</p>
<p>〔丹溪〕：一人形實，好飲熱酒，忽目盲脈澀，此熱酒所傷，胃氣污濁之血，死其內而然。</p>
<p>以蘇木作湯，調人參末，服二日，鼻及兩掌皆紫黑。予曰：滯血行矣。以四物加蘇木、桃仁、紅花、陳皮煎，調人參末服，數日而愈。（以上治驗三條見《丹溪纂要》）</p>
<p>謙甫云：郎中張子敬，年六十七歲，病眼目昏暗，微黑色，皮膚不澤，六脈弦細而無力。一日出視治眼二方，問予曰：可服否？予曰：此二方以黃連大苦之藥為君，諸風藥為使，且人年五十，膽汁減而目不明。《內經》云：土位之主，其瀉以苦，諸風藥亦能瀉土。人年七十，脾胃虛而皮肉枯，重瀉其土，使脾胃虛而不能營運榮衛之氣，滋養元氣，胃氣不能上行，隔氣吐食諸病生矣。又況年高衰弱，此藥不服可也。只宜慎言語，節飲食，懲忿窒欲，此不治之治也。子敬以明年春，除關西路按察使，三年致仕回還，精神清勝，脈遂平和，此不可妄服寒涼之劑也。《內經》云：征伐無過，是謂太惑，解之可也。</p>
<p>海藏妻侄女形肥，笄年時得目疾，每月或二月一發，發則紅腫難開，如此者三年，服除風散熱等劑，左目反有頑翳，從銳　遮瞳人，右目亦有翳，從下而上。經云：從內走外者，少陽病；從下上者，陽明病。予謂此少陽陽明二經有積滯也。脈短滑而實，晨則似短。潔古云：短為有積滯遏抑臟腑，宜下之。遂用溫白丸，減川芎、附子三之二，多加龍膽草、黃連，如東垣五積法，從二丸加起，每日加一丸；如至大利，然後減丸；又從二丸加起，忽一日，於利中下黑血塊若干，如黑豆大而硬堅，從此漸痊，而翳盡去。（見《醫學綱目》）</p>
<p>樓全善先生曰：夏枯草治目珠疼，至夜則疼甚者神效；或用苦寒藥點之反疼者，亦神效。蓋目珠者，連目本，又各系屬厥陰之經也。夜甚及用苦寒藥點之反甚者，夜與寒亦陰故也。丹溪云：夏枯草有補養厥陰血脈之功，其草三四月開花，遇夏至陰生則枯。蓋稟純陽之氣也。至哉斯言。故治厥陰目疼如神者，以陽治陰也。予男至夜目珠及連眉棱骨作疼，頭半邊腫痛，用黃連膏點之，反大痛，百藥不效；灸厥陰少陽，疼隨止，半日又作；又灸又止，月余；遂以夏枯草二兩，香附末二兩，甘草四錢，同為細末，每服一錢半，用清茶調服，下咽則疼減大半，至四五日良愈。</p>
<p>一男子六十余歲，所患與前證皆同，但黑睛有白翳二點，諸藥不效，亦以此藥與東垣選奇湯，加四物湯，及黃連煎，間服，並灸厥陰少陽而安。</p>
<h3>附方</h3>
<h4>治風之劑</h4>
<p><u>局方密蒙花散</u></p>
<p>　治風氣攻注，兩眼昏暗，眵淚羞明，並暴赤腫。</p>
<p>羌活　白蒺藜（炒）　木賊　密蒙花　石決明（各一兩）　菊花（二兩）</p>
<p>上為末。每服二錢，茶清食後調下。</p>
<p><u>三因羌活散</u></p>
<p>　治風毒上攻，眼目昏澀，翳膜生瘡，及偏正頭疼，目小，黑花累累者。</p>
<p>羌活　川芎　天麻　旋覆花　青皮　南星（炮）　本（各一兩）</p>
<p>上為末。每服二錢，水煎，入薑三片，薄荷七葉。</p>
<p>按：以上並足太陽、厥陰藥也。</p>
<p><u>東垣明目細辛湯</u></p>
<p>　治兩目發赤微痛，羞明畏日，怯風寒怕火，眼睫成紐，眵糊多，隱澀而難開，眉攢腫悶，鼻塞，涕唾稠黏，大便秘澀。</p>
<p>麻黃　羌活（各三錢）　防風（二錢）　本（一錢）　白茯苓（一錢）　當歸尾（一錢）　川芎　細辛　蔓荊子（各五分）　荊芥穗（一錢五分）　生地黃（一錢，酒製）　椒（八個）　桃仁（二十個）　紅花（少許）</p>
<p>上　咀。分作四服，每服水煎，食後熱服。</p>
<p>按：此足太陽、厥陰、手少陰藥也。</p>
<p><u>機要四物龍膽湯</u></p>
<p>　治目赤，暴發云翳，疼痛不可忍。</p>
<p>四物湯（各半兩）　羌活　防風（各三錢）　草龍膽（酒拌炒，煎）　防己（各二錢）</p>
<p>上　咀。作數服，水煎。</p>
<p>按：此足厥陰、太陰、太陽藥也。</p>
<p><u>防風飲子</u></p>
<p>　治拳毛倒睫。</p>
<p>黃　甘草　人參（各一錢）　葛根（五分）　細辛葉　蔓荊子　防風（各五分）　當歸（七分半）</p>
<p>上　咀。作一服，水煎，食後服。</p>
<p>按：此足太陽、陽明、手足太陰藥也。</p>
<h4>治熱之劑</h4>
<p><u>局方洗心散</u></p>
<p>　治風壅壯熱，頭目昏痛，熱氣上衝，口苦唇焦，咽喉腫痛，心神煩躁，多渴，五心煩熱，小便赤澀，大便秘滯。</p>
<p>大黃（煨）　甘草　當歸　芍藥　麻黃　荊芥穗（各六錢）　白朮（半兩）</p>
<p>上為末。每服二三錢，生薑薄荷湯煎服。</p>
<p>按：此足太陽、陽明、厥陰、手足太陰經藥也。今人多用之，故收入。然以白朮合大黃入心，故名洗心。而從以麻黃、荊芥，亦是表裡藥。</p>
<p><u>濟生羊肝丸</u></p>
<p>　治肝經有熱，目赤睛疼，視物昏澀。</p>
<p>羊肝（一具，生用，《局方》用白羊肝）　黃連（去須，為末）</p>
<p>上先將羊肝去筋膜，於沙盆內搗爛，入黃連末，杵和，丸如梧子大。每五十丸，用熟水送下。</p>
<p>按：此手少陰、足太陰、厥陰藥也。</p>
<p><u>東垣瀉熱黃連湯</u></p>
<p>　治眼暴發，赤腫疼痛。</p>
<p>黃芩（酒製，炒）　黃連（同上制）　草龍膽　生地黃（各一兩）　升麻（半兩）　柴胡（一兩）</p>
<p>上　咀。每服四錢，水煎去渣，於日午前飯後熱服。</p>
<p>按：此手少陰、太陰、足陽明、少陽、少陰藥也。</p>
<h4>治風熱之劑</h4>
<p><u>局方明目流氣飲</u></p>
<p>　治風熱上攻眼目，視物不明，常見黑花，當風多淚，隱澀難開。</p>
<p>大黃（煨）　牛蒡子（炒）　川芎　菊花　白蒺藜（炒）　細辛　防風　玄參　山梔　黃芩甘草（炙）　蔓荊子　荊芥　木賊（各一兩）　草決明（一兩半）　蒼朮（泔汁炒，二兩）</p>
<p>上為末。每二錢，臨臥用溫酒調下。</p>
<p>按：此手足三陰、足陽明、太陰藥也。</p>
<p><u>洗肝散</u></p>
<p>　治風毒上攻，暴作赤目，腫痛難開，隱澀眵淚。</p>
<p>薄荷葉　當歸　羌活　防風　山梔仁　甘草　大黃　川芎（各二兩）</p>
<p>上為末。每二錢，食後煎水調下。</p>
<p>按：此足太陽、厥陰、手足太陰藥也。</p>
<p><u>錢氏瀉青丸</u></p>
<p>　治目暴發，赤腫疼痛。</p>
<p>當歸　川芎　山梔　龍膽草（酒拌炒焦）　大黃　羌活　防風上為末，蜜丸，雞頭子大。每一二丸。</p>
<p>按：此足太陽、少陽、太陰、厥陰藥也。</p>
<p><u>東垣連翹飲子</u></p>
<p>　治目中溜火，惡日與火，隱澀，小角緊，久視昏花，迎風有淚。</p>
<p>蔓荊子　生甘草　連翹（各三分）　柴胡（二分）　黃芩（酒製，五分）　生地黃　當歸　人參　紅葵花（各三分）　黃　防風　羌活（各五分）　升麻（一錢）</p>
<p>上　咀。作一服，水煎，食後熱服。</p>
<p>按：此足三陽、少陰、厥陰藥也。</p>
<p><u>神芎丸</u></p>
<p>　治濕熱內甚，目赤腫，或白睛黃色。</p>
<p>大黃　黃芩（各二兩）　牽牛　滑石（各四兩）　黃連　薄荷　川芎（各半兩）</p>
<p>上為末，水丸，如小豆大。溫水下十丸，至十五、二十丸。</p>
<p>按：此足陽明、厥陰藥也。</p>
<p><u>東垣龍膽飲子</u></p>
<p>　治肝眼流膿，生疳翳，濕熱為病。</p>
<p>麻黃（一錢半）　黃芩（炒）　青蛤粉　羌活　草龍膽（酒拌，炒焦，各三錢）　蛇蛻皮　穀精草川鬱金　炙甘草（各五分）　升麻（二錢）</p>
<p>上為細末。每二錢，食後茶調服。</p>
<p>按：此足太陽、陽明、手足太陰藥也。</p>
<p>以上六方，宜隨表裡而輕重之，亦不可例用。</p>
<h4>理血之劑</h4>
<p><u>局方明目地黃丸</u></p>
<p>　治男女肝腎俱虛，風邪所乘，熱氣上攻，目翳遮睛，目澀多淚。</p>
<p>牛膝（酒浸，三兩）　石斛　枳殼（炒）　杏仁（去皮尖，炒）　防風（各四兩）　生熟地黃（各一斤）</p>
<p>上為末，煉蜜丸，如梧子大。每三十丸，食前鹽湯下。</p>
<p>按：此出太陽例，又氣藥也。</p>
<p><u>簡易加減駐景丸</u></p>
<p>　治肝腎氣虛，兩目昏暗，視物不明。</p>
<p>熟地黃　當歸（各五兩）　楮實子　川椒（炒，各一兩）　五味子　枸杞子（各二兩）　菟絲子（酒製，半斤）　車前子（炒，二兩）</p>
<p>上為末，蜜糊丸，如梧子大。每三十丸，食前溫酒下。</p>
<p>謹按：肝為相火，有瀉無補，況陰水虛而陽火實病目者多。故此二方，蓋補肝之陰虛也。頗有理，故收入。</p>
<p><u>地芝丸</u></p>
<p>　治目不能遠視，能近視，或亦妨近視。</p>
<p>生地黃（焙乾）　天門冬（去心，各四兩）　枳殼（二兩，炒）　甘菊花（二兩）</p>
<p>上為細末，煉蜜為丸，如桐子大。茶清送下百丸，食後。</p>
<h4>理氣之劑</h4>
<p><u>局方定志丸</u></p>
<p>　治眼不能近視，反能遠視者。</p>
<p>白茯苓　人參（各三兩）　遠志（去心）　菖蒲（各二兩）</p>
<p>上為細末，煉蜜為丸，如梧子大，以朱砂為衣。每服七丸，至二三十丸，溫米飲下，食後，日三服。</p>
<p>按：以上二方，手太陰、少陰藥也。</p>
<p><u>濟生桑白皮散</u></p>
<p>　治肺氣壅塞，毒瓦斯上攻眼目，白睛腫脹，日夜疼痛。</p>
<p>玄參　桑白皮　枳殼（炒）　升麻　杏仁（炒）　旋覆花　防風　赤芍　黃芩　甘菊花　甘草（炙）　甜葶藶（炒，各一兩）</p>
<p>上為末。每四錢水煎，食後熱服。</p>
<p>按：此又治風熱之劑也，出太陽例。</p>
<h4>養陽之劑</h4>
<p><u>　東垣神效黃　湯</u></p>
<p>　治渾身麻木不仁，或頭面，或手或腿腳，麻木不仁，兩目緊急縮小，及羞明畏日，或視物無力。</p>
<p>黃　（二兩）　人參（八錢）　炙甘草（一兩）　蔓荊子（三錢）　白芍（一兩）　陳皮（半兩）</p>
<p>上　咀。每五錢，水煎，臨臥熱服。</p>
<p><u>益氣聰明湯</u></p>
<p>　治飲食不節，勞役形體，脾胃不足，得內障耳鳴，或多年目昏暗，視物不能，此藥能令人目廣大，久服無內外障耳鳴耳聾之患。</p>
<p>黃　甘草　人參（各半兩）　升麻　葛根（各三錢）　蔓荊子（一錢半）　芍藥　黃柏（酒炒，各一錢）</p>
<p>上　咀。每服三錢，水煎，臨睡熱服，近五更再服之，得腫更妙。如煩悶或有熱，漸加黃柏，春夏加之，盛暑夏月倍之。若此一味，多則不效。</p>
<p><u>人參補胃湯</u></p>
<p>　治勞役所傷，飲食不節，內障昏暗。</p>
<p>前黃　湯減陳皮，　再減半，加黃柏一兩（酒拌透）。</p>
<p>上　咀。每服三四錢，水煎，食遠稍熱服，後兩目廣大，視物如童時，覺兩腳踏地，不知高低。蓋冬天多服升陽藥故也。病減住服。</p>
<p>按：以上手足太陰、少陰藥也。</p>
<h4>滋陰之劑</h4>
<p><u>東垣連柏益陰丸</u></p>
<p>羌活　獨活　甘草　當歸尾（制）　防風　五味子（各半兩）　石決明（燒，三錢）　草決明　細黃芩　黃柏　知母　黃連（酒拌炒，各一兩）</p>
<p>上為細末，煉蜜為丸，如綠豆大。每服五十丸，漸加至百丸，食遠茶清送下，常多服補陽湯，少服此丸。</p>
<p><u>滋陰腎氣丸</u></p>
<p>　此壯水之主以鎮陽光。</p>
<p>熟地黃（三兩）　牡丹皮（半兩）　生地黃（四兩）　澤瀉　茯苓（各二兩半）　當歸尾　山茱萸　柴胡五味子　干山藥（各半兩）</p>
<p>上件於石臼中杵為細末，煉蜜為丸，如桐子大。每服五七十丸，鹽湯空心服。</p>
<p>按：以上並少陰藥也。</p>
<h4>養陽滋陰之劑</h4>
<p><u>局方菊睛丸</u></p>
<p>　治肝腎不足，眼目昏暗，常見黑花多淚。</p>
<p>枸杞子（三兩）　蓯蓉（酒浸炒）　巴戟（去心，各一兩）　甘菊花（四兩）</p>
<p>上為末，煉蜜為丸，如梧子大。每五十丸，溫酒鹽湯，食遠任下。</p>
<p><u>東垣滋陰地黃丸</u></p>
<p>　治眼目瞳子散大於黃睛，視物無的，或卒然見非常之處。</p>
<p>熟地黃（一兩）　生地黃（一兩半）　柴胡（八錢）　天門冬　炙甘草　枳殼（各三錢）　人參　地骨皮（各二錢）　黃連　五味子（各三錢）　黃芩　歸身（各半兩，酒拌焙）</p>
<p>上為細末，煉蜜為丸，如綠豆大。每百丸，溫茶清送下，日進三次。忌辛辣、生冷之物。</p>
<p>按：此二方，足少陰之劑也。前方主右腎，此主左腎之藥，故亦異爾。</p>
<p><u>補陽湯</u></p>
<p>　治陽不勝其陰，乃陰盛陽虛，則九竅不通，令青白翳見於大　，及足太陽少陰經中郁遏，足厥陰肝經氣不得上通於目，故青白翳內阻也。當於太陽少陰經中，九原之下，以益肝中陽氣，沖天上行。此當先補其陽，後於足太陽太陰標中（標者，頭也），瀉足厥陰肝經火，下伏於陽中，乃次治也。《內經》云：陰盛陽虛，則當先補其陽，後補其陰，此治法是也。每日清晨，以腹中無宿食，服補陽湯，臨臥，服益陰丸。若天色變，大寒大風，並勞役，預日飲食不調，精神不足，或氣弱，俱不得服。候體氣和平，天氣如常服之。乃先補其陽，使陽氣上升，通於肝經之末，利空竅於目矣。</p>
<p>羌活　獨活　甘草　人參　熟地黃　黃　白朮（各一兩）　澤瀉（研為末）　陳皮（各半兩）</p>
<p>生地黃（炒）　白茯苓（去皮）　知母（炒，各三錢）　柴胡（去苗，三兩）　防風（去蘆）　白芍藥（各半兩）　肉桂（去皮，一錢）　當歸身（去蘆，酒製，三錢）</p>
<p>上同為粗末。每服半兩，水三盞，煎至一盞，去滓，空心宿食消盡服之。</p>
<p><u>沖和養胃湯</u></p>
<p>　治內障眼，得之脾胃元氣衰弱，心火與三焦俱盛，飲食失節，形體勞役，心不得休息，故上為此疾，服之神效。</p>
<p>柴胡（七錢）　防風（半兩）　羌活　炙甘草　黃　（各一兩半）　當歸（制）　白朮　升麻　人參葛根（各一兩）　白芍（六錢）　白茯苓（三錢）　乾薑（一錢）　五味子（二錢）　黃芩　黃連（各七錢）</p>
<p>上　咀。每五六錢，水煎，食遠稍熱服。</p>
<p>按：以上足三陽、手足太陰藥也。</p>
<h4>治障翳諸方</h4>
<p><u>龍木論還睛丸</u></p>
<p>　治眼內赤澀有花，或黑，或白，或紅，皆因肝臟積熱，肺受風邪。</p>
<p>初患之時，宜令針治諸穴；內服此。</p>
<p>人參　桔梗　黃芩　熟地黃　防風　茺蔚子　車前子　知母（各二兩）　玄參（半兩）　細辛五味子（各二兩半）</p>
<p>上為末，煉蜜為丸，如梧子大。空心茶下十丸。</p>
<p>按：本論治內障諸方，與此相類者數多，姑存此法。</p>
<p><u>局方蟬花無比散</u></p>
<p>　治大人小兒風毒傷肝，或為氣攻，一切眼目昏暗，漸生翳膜，或久患頭風，牽搐兩眼，漸漸細小，連眶赤爛。</p>
<p>茯苓　甘草（炙）　防風（各四兩）　川芎　石決明（鹽水煮熟，研如粉）　羌活　當歸（各三兩赤芍（十兩，炒）　蒺藜（炒，半斤）　蟬蛻（一兩）　蒼朮（十二兩）　蛇蛻（一兩）</p>
<p>上為末。每三錢，食後米泔調服，茶清亦得。</p>
<p>按：此足三陽、太陰、厥陰藥也。</p>
<p><u>蟬花散</u></p>
<p>　治肝經蘊熱，毒瓦斯上攻，眼目赤腫，多淚羞明，一切風熱昏翳。</p>
<p>穀精草　菊花　蟬蛻　羌活　甘草（炙）　白蒺藜（炒）　草決明　防風　山梔　川芎　密蒙花　木賊　荊芥穗　黃芩　蔓荊子（各等分）</p>
<p>上為末。每二錢，食後茶清調下。</p>
<p>按：此足太陽、少陰、厥陰、手太陰藥也。</p>
<p><u>本事方羊肝丸</u></p>
<p>菟絲子　車前子　麥門冬　決明子　茯苓　五味子　枸杞子　茺蔚子　苦葶藶　蕤仁地膚子　澤瀉　防風　黃芩　杏仁（炒）　細辛　桂心　青葙子（各一兩）　熟地黃（一兩半）　白羯羊肝（只用子肝，一片，薄切，新瓦上炒干）</p>
<p>上為細末，煉蜜為丸，如梧子大。每服三四十丸，溫水下，日三次。</p>
<p>按：此足太陽、少陰、手太陰、少陰藥也。</p>
<p><u>秘方撥雲退翳丸</u></p>
<p>　皇統年間，醫官劉昌祖傳於世。</p>
<p>栝蔞根　枳實　甘草（炙）　蔓荊子（焙）　薄荷（各半兩）　川芎　木賊（浸一宿焙）　密蒙花荊芥穗　地骨皮　羌活　白蒺藜　甘菊花（各一兩）　蛇蛻　黃連（各三錢）　川椒（七錢半，炒去目）　當歸（一兩半，酒浸，焙乾）　蟬蛻（三錢）</p>
<p>上為細末，煉蜜為丸。每兩作十丸，每服一丸，食後臨臥，日進三服。翳者，米泔水下；睛暗，當歸湯下；內障，木香湯下。</p>
<p>按：此足太陽、厥陰、手少陰藥也。然翳膜之疾，有氣血虛實，或夾痰熱七情六淫，或陰火動濕熱致者。種種不同，皆宜求責。但以上法，不能以盡病情之變，學人宜擴充焉。</p>
<h4>點洗諸方</h4>
<p><u>局方湯泡散</u></p>
<p>　治肝經風熱上壅，眼目赤澀，睛疼多淚。</p>
<p>赤芍　當歸　黃連（各等分）</p>
<p>上為末。每二錢，湯燉調熱洗，日三五次。《御藥院方》加荊芥。</p>
<p><u>三因立勝散</u></p>
<p>　治風熱攻眼，隱澀羞明腫痛。</p>
<p>黃連　秦皮　防風　黃芩（等分）</p>
<p>上　咀。水煎熱，用新羊毫筆蘸刷洗眼。</p>
<p><u>金露膏</u></p>
<p>　除昏退翳，截赤定疼。</p>
<p>蕤仁（槌碎）　黃丹（各一兩）　黃連（半兩）　蜜（六兩）</p>
<p>上先將黃丹炒令紫色，入蜜攪勻，下長流水四升，以嫩柳枝五七莖，一把定攪之，次下蕤仁，候滾十數沸，又下黃連，用柳枝不住手攪，熬至升七八合，罩籬內傾藥在紙上，慢慢滴之，勿令塵污。如有瘀肉，加　砂末一錢，上火上慢開，入前膏子內用。</p>
<p>《龍木論》云：患傷寒熱病後，切不可點，恐損眼也。斯言可以為藥禁云。</p>
<p><u>寶鑒春雪膏</u></p>
<p>　治風熱上攻，眼目昏暗，癢痛隱澀難開，多眵淚，羞明疼痛，或生翳膜。</p>
<p>黃連（四兩，銼，用童便二升浸一宿，去連，用淬甘石）　好黃丹（六兩，水飛）　砂（一錢，細研，水調在盞內，燉干為度）　白丁香（五分）　乳香　烏賊骨（燒存性）　當歸（各三錢）　麝香輕粉（各少許）　南爐甘石（十二兩，淬，便汁浸）</p>
<p>上各研另貯，先用好蜜一斤四兩，煉去蠟，卻下甘石末，不住手攪，次下丹，次下諸藥末，不住手攪至紫金色，不黏手為度，搓作挺子。每用一粒，新水磨化，時時點之。忌酒、濕面、蕎麥。</p>
<p><u>拔萃方　藥</u></p>
<p>　治偏頭疼眼疾。</p>
<p>蒼耳頭　薄荷葉　盆硝　石膏（各一錢，亂文者）　乳香　華細辛　川芎（各五分）</p>
<p>上為極細末。早午夕三時　鼻。</p>
<p>《寶鑒方》無蒼耳、乳香、細辛，有荊芥、桔梗。</p>
<p><u>蟾光膏</u></p>
<p>　治遠年病目，不通道路，退去云膜，須用十二月開成日合。</p>
<p>白砂蜜（四兩，用隔年蔥根去須皮，切短，與蜜一同熬，去白膜，候蔥熟為度，以綿濾淨，紙取蠟面）　黃丹　密陀僧（各水飛，三錢，生用）　爐甘石（火　，五錢，水飛）</p>
<p>以上三味，研極細，傾入前蜜中，桃柳無節者各一枝，攪勻。</p>
<p>川芎　當歸　赤芍　杏仁（湯泡，去皮尖，各半兩）　黃連（去蘆淨，二兩）　秦皮　訶子皮防風　石膏　玄精石　井泉石　無名異　玄參　代赭石　石決明（以上十味各三錢）</p>
<p>咀。用雪水或長流水五升，於銀器內熬至二升，濾去滓淨，再熬至一升，傾入前藥蜜內，銀器內慢火熬紫金色時，再下後藥，勿令過火。</p>
<p>乳香　沒藥　琥珀　朱砂　蕤仁（各三錢）</p>
<p>以上五味先干研極細，入蕤仁研細，水飛澄清極細，方傾入前藥，一同復熬，以箸點藥於水中不散為度，勿令過與不及，取下，於土中埋七日，取出，置於銀器或瓷器中，如法收貯，便再添入後細藥，以桃柳枝攪勻。</p>
<p>南硼砂　珍珠　龍腦　珊瑚枝（各一錢）　麝香（五分）</p>
<p>上五味，研極細，入藥中封定，如有取不盡藥，用淨水斟酌洗渲熬過，另於洗眼或膏子稠了，傾些小調解。</p>
<h4>灸雀目疳眼法</h4>
<p>《寶鑒》云：小兒雀目，夜不見物，灸手大指甲後一寸內　橫紋頭白肉際，灸一炷，如小麥大。</p>
<p>小兒疳眼，灸合谷二穴各一壯，炷如小麥大，在手大指次指兩骨間陷者中。</p>
<p>按：灸法，詳見《資生》等經，茲不備錄。</p>
<h4>附東垣諸先生治法</h4>
<p><u>撥雲湯</u></p>
<p>　治法見前東垣先生治徐總管條。</p>
<p>黃　（一分）　細辛葉（五分）　柴胡（七分）　生薑（五分）　荊芥穗（一錢）　羌活　防風（各一錢半）</p>
<p>本生甘草　升麻（各一錢）　葛根　川芎（各五分）　知母　歸身（各一錢）　黃柏（一錢半）</p>
<p>作一服，水煎，稍熱服，食後。</p>
<p><u>助陽活血湯</u></p>
<p>　治眼發之後，猶有上熱，白睛紅上壅，無疼痛，隱澀難開，多眵淚。</p>
<p>防風　黃　炙甘草（各五分）　蔓荊子（二分）　歸身（酒製，五分）　白芷（三分）　升麻（七分）　柴胡（五分）</p>
<p>作一服，水煎，臨臥稍熱服。</p>
<p><u>神效明目湯</u></p>
<p>　治眼棱緊急，致倒睫拳毛損目，及上下瞼赤爛，睛赤疼痛昏暗，冷淚常流下，則眼澀難開，眵淚皆滿眼。</p>
<p>葛根（一錢半）　甘草（炙）　防風（各一錢）　蔓荊子（五分）　細辛（二分）　一法。加黃　（一錢）</p>
<p>作二服，水煎，臨臥稍熱服。</p>
<p><u>廣大重明湯</u></p>
<p>　治兩目瞼皆　熱赤腫作痛，楞生瘡，多眵淚，隱澀不能開視，及眼瞼癢，搔之至破者，並皆治之。</p>
<p>草龍膽（酒炒）　防風　生甘草　細辛（各一錢）</p>
<p>各杵如麻豆大，內甘草不銼，只作一梃，先以水一碗半，煎草龍膽一味，至一半，再入余三味，煎至小半碗，濾去滓，用清汁帶熱洗，以重湯坐令熱，日用五七次。每洗畢，合目須臾。如　肉泛長及癢，亦驗。</p>
<p><u>五秀重明丸</u></p>
<p>　治翳膜遮睛，隱澀昏花。常服清利頭目。</p>
<p>干菊（開頭，五百朵）　荊芥穗（五百穗）　楮實子（五百粒）　木賊（去節，五百莖）　川椒（五百粒，炒去目）</p>
<p>為末，煉蜜為丸，彈子大。每服一丸，細嚼，徐徐咽下。</p>
<p><u>升陽柴胡湯</u></p>
<p>羌活　獨活　甘草根　歸身　熟地黃（各一兩）　人參　黃　白朮（各半兩）　澤瀉（三錢）　白芍藥（一兩）　陳皮　白茯苓　防風（各三錢）　肉桂（五分）　柴胡（一錢半）　生地黃（酒炒，半兩）　楮實子（酒拌，半兩）　知母（酒製，三錢，夏月加至五錢）</p>
<p>每服五錢，水煎，稍熱服，食後。另合一料，煉蜜為丸，如桐子大，食遠茶清送下五十丸。每日與前藥各一服。如天氣熱甚，加五味子三錢或五錢，天門冬五錢，更加芍藥、楮實子各五錢。</p>
<p><u>芎辛湯</u></p>
<p>　治兩目晝夜隱澀難開，羞明畏日，目赤視物昏暗，神效。</p>
<p>芎　蔓荊子（各五分）　細辛（二分）　防風（一錢半）　甘草　白芷（各一錢）</p>
<p>作一服，水煎，臨臥稍熱服。</p>
<p><u>羌活退翳丸</u></p>
<p>　治內障，右眼小　青白翳，大　微顯白翳，腦痛，瞳子散大，上熱惡熱，大便時難，小便如常，遇天熱暖處，頭痛睛脹，能食，日沒後天陰則昏暗，此證亦可服滋陰地黃丸。</p>
<p>熟地黃（八錢）　生地黃（酒製）　歸身（酒製，焙）　黃柏（制，各半兩）　川芎（三錢）　芍藥（一兩二錢）　防己（二錢，酒製）　知母（三錢，酒製）　茺蔚子（半兩）　牡丹皮（三錢）　丹參（半兩）　寒水石（一兩，生用）　柴胡（半兩）　羌活（三錢）　黑附子（一錢，炮）</p>
<p>為細末，煉蜜為丸，如小豆大。每服五七十丸，白湯送下，隨以食壓之。忌言語。（以上俱見《東垣試效方》）</p>
<p><u>保命當歸湯</u></p>
<p>　治風熱上攻，瞳子散大。</p>
<p>當歸身　黃芩（各二錢）　黃連　柴胡（各一錢）　熟地黃（三錢）　芍藥（二錢）　甘草（炙，三錢）</p>
<p>分三服，水煎，臨臥溫服。</p>
<p><u>瑞竹四神丸</u></p>
<p>　治腎經虛損，眼目昏花，補虛益損，及云翳遮睛。</p>
<p>甘州枸杞子（一斤，揀色赤滋潤者，作四分，用酒一杯潤之，一分）　川椒（一兩同炒，一分）　小茴香（一兩同炒，一分，用芝麻一合約炒，一分，獨炒用）</p>
<p>炒過，將川椒等篩去不用，再加熟地黃、白朮、白茯苓各一兩，共為細末，煉蜜為丸，如梧桐子大。每服五七十丸，空心溫酒送下。或加甘菊花一兩。（見《醫學綱目新增》）</p>
<p><u>補肝散</u></p>
<p>　治肝風內障，不痛不癢，眼見花發黃白黑赤，或一物二形難辨。</p>
<p>羚羊角　防風（各二兩）　羌活　人參　車前子　茯苓　細辛　玄參　黃芩（各一兩）</p>
<p>為末。食後，米飲調服一錢。</p>
<p><u>簡要補肝散</u></p>
<p>　治肝虛目睛疼，淚出不止，筋脈痛，及羞明怕日。</p>
<p>夏枯草（四兩）　香附子（一兩）</p>
<p>為細末。每服一錢，茶清調下。</p>
<p><u>羚角飲子</u></p>
<p>　治綠翳內障，頭旋額痛，眼內痛澀者。</p>
<p>羚羊角　防風　知母　人參　茯苓　玄參　桔梗（各二兩）　細辛（三兩）　黃芩　車前子（各一兩）</p>
<p>為末。每服三二錢，水煎，食後溫服。</p>
<h4>腎臟風眼</h4>
<p><u>四生散</u></p>
<p>　治腎風上攻，眼目作癢，或作昏花。</p>
<p>白附子　黃　獨活　蒺藜（各等分）</p>
<p>為末。每服二錢，用豬腰子一枚，批開入藥，濕紙包裹，煨熟細嚼，鹽湯下；風癬，酒下。</p>
<h4>小兒五臟目疾</h4>
<p><u>天麻丸</u></p>
<p>　治小兒肝疳，風疳，眼疳。</p>
<p>青黛　黃連　天麻　五靈脂（去石）　夜明砂（炒）　川芎　蘆薈（各一錢）　龍膽草（酒拌炒焦）　防風　蟬蛻（各一錢半）　全蠍　麝香（少許）　干蟾頭（二錢，炙焦）</p>
<p>為末，豬膽汁浸糕丸，如麻子大。每服十丸，薄荷湯下。</p>
<p><u>生犀散</u></p>
<p>　治小兒心經虛熱，目內淡紅。</p>
<p>犀角（鎊末，二錢）　地骨皮　赤芍藥　柴胡　干葛（各一兩）　甘草（半兩）</p>
<p>為末。每服二三錢，水煎熟，入犀角，食後服。</p>
<p><u>瀉黃散</u></p>
<p>　治小兒胃熱，眼目作痛。</p>
<p>藿香（七錢）　山梔（一兩）　石膏（半兩）　甘草（七錢五分）　防風（四兩）</p>
<p>用蜜酒拌，微炒，為末。每服二三錢，水煎服。</p>
<p><u>生熟地黃散</u></p>
<p>　治小兒疳蝕眼患，閉合不開，羞明畏日，或生內障。</p>
<p>生地黃　熟地黃（各一兩）　當歸（二錢半）　麥門冬（去心，半兩）　枳殼（米泔洗，炒）　防風杏仁（去皮尖，炒）　甘草　赤芍藥（各二錢半）</p>
<p>為末。每服三二錢，黑豆七粒，煎豆熟，去渣服。</p>
<p><u>三味蘆薈丸</u></p>
<p>　治黑水凝翳內障，不痛不癢，微有頭旋脹澀者。</p>
<p>蘆薈　甘草（各一錢）　羚羊角（蜜炙，二兩）</p>
<p>為細末，煉蜜為丸，如梧桐子大。空心茶清下十丸。</p>
<p><u>九味蘆薈丸</u></p>
<p>　治三焦及肝膽經風熱，目生云翳，或瘰　耳內生瘡，寒熱作痛，或肝火肌體消瘦，發熱作渴，飲食少思，肚腹不調，或肝疳口內生瘡，牙齦潰爛，或牙齒蝕落，頰腮腐爛，發熱口渴，飲食少用，下部生瘡等症。</p>
<p>蘆薈（半兩）　胡黃連　當歸　龍膽草（酒浸炒）　芍藥　川芎　蕪荑（各一兩）　木香　甘草（炙，各三錢）</p>
<p>上為末，茯神糊丸，麻子大。每服五七十丸，滾湯下。</p>
<p><u>地黃丸</u></p>
<p>　治小兒肝腎虛熱，眼目生翳，或赤爛等症，如變疳症。當兼服蘆薈肥兒二丸。</p>
<p>（詳見《家居醫錄》卷六）</p>
<p>熟地黃（捏碎秤，八兩，酒拌杵膏）　山藥　山茱萸肉（各四兩）　白茯苓　澤瀉　牡丹皮（各三兩）</p>
<p>上各另為末，入地黃膏和勻，加煉蜜少許，丸如梧桐子大。量兒大小，空心服。</p>
<p><u>肥兒丸</u></p>
<p>　治食積發熱，眼目生翳等症。</p>
<p>黃連（炒）　蕪荑（炒）　神麯（炒）　麥芽（炒）</p>
<p>上各另為末等分，水和丸。量兒大小，空心服。</p>
<p><u>通頂散</u></p>
<p>　治小兒腦熱，腦枕骨疼，閉目不開，或頭風痛，攢眉啼哭，並赤目。</p>
<p>川芎　薄荷（各半兩）　茵陳　甘草（各四錢）　朴硝（三錢，甜硝亦可）</p>
<p>為末。用少許吹鼻中既效。如要嚏噴，加躑躅花一錢，只用朴硝吹鼻亦止。</p>
<p>一方，用好壞胭脂子，水調塗眼眶。</p>
<p><u>決明散</u></p>
<p>　治痘疹入眼。</p>
<p>決明子　赤芍藥（各一錢半）　甘草（一錢）</p>
<p>為末。每服一錢，蜜水調服。（以上方見《小兒袖珍方》）</p>
<p><u>密蒙散</u></p>
<p>　治小兒痘疹，及諸毒入眼。</p>
<p>密蒙花（一錢半）　青葙子（一錢）　決明子　車前子（各五分）</p>
<p>為末。羊肝一片，破開，摻藥在內，仍合之，濕紙數重包裹，灰中煨熟，空心食之。</p>
<p><u>通聖散</u></p>
<p>　治小兒瘡痘入眼，及生翳障。</p>
<p>白菊花　綠豆皮　穀精草（去根，各一兩）</p>
<p>為末。三歲一錢，干柿一枚，生粟米泔一盞，同煎，候泔盡，將柿去蒂核，不時食之，日用二三枚，近者五七日，遠者半月，全效。</p>
<p><u>蛤粉散</u></p>
<p>　治小兒瘡痘入目。</p>
<p>穀精草　蛤粉（各等分）</p>
<p>為末。三歲一錢，豬肝二兩批開，摻藥在內，以竹葉包裹，以線束定，水一碗，煮熟，入瓷瓶內熏眼，至溫，取食之。</p>
<p><u>蛇皮散</u></p>
<p>　治小兒瘡痘入目成翳　。</p>
<p>栝蔞根　蛇皮（炙黃，等分）</p>
<p>為末。三歲一錢，羊子肝一片，批開，入藥末在內，以線束定，米泔水煮熟食之。</p>
<p><u>蟬蛻散</u></p>
<p>　治小兒斑瘡入眼，半年以裡者，一月取效。</p>
<p>豬懸蹄甲（二兩，罐子內鹽泥固濟，燒存性）　蟬殼（一兩）　羚羊角（一分）</p>
<p>為末。三歲一錢，豬肝湯調下，食後服，日三服，一年之外難治。</p>
<p><u>二粉散</u></p>
<p>　治小兒斑瘡入眼。</p>
<p>輕粉（五分）　粉霜（一錢）</p>
<p>上研勻，用綿裹。如人患左眼，塞入左耳內，患右眼，塞入右耳內，所患眼便開得，其瘡自愈。（以上方見《全嬰集》）</p>
<p>海藏云：東垣先生治斑後風熱毒，翳膜氣障遮睛，以瀉青丸治之大效。初覺，易治。《保命集》云：非斑後翳膜，亦能治之，瀉青丸減大黃一半用之。（以上方見《醫學綱目》）</p>
<p><u>羌菊散</u></p>
<p>　治小兒肝臟壅熱，眼生浮翳。</p>
<p>羌活　防風　山梔（各一分）　甘草　菊花　白蒺藜（炒，去尖，各半兩）</p>
<p>為末。三歲五分，食後，蜜湯調下，日三服。</p>
<p><u>二草散</u></p>
<p>　治小兒疳眼睛疼，並赤眼腫痛。</p>
<p>甘草　龍膽草（酒炒）　當歸　細辛（各一錢）</p>
<p>為末。三歲一錢，水半盞，砂糖少許，煎三分，食後服。</p>
<p><u>三黃丸</u></p>
<p>　亦治疳赤眼。若因瀉痢後，疳眼昏澀，大便不實者，用六神丸、六甲丸，並暖疳藥。</p>
<p><u>雞肝散</u></p>
<p>　治小兒疳眼，不赤不腫不疼，但開畏明光，此藥治之。</p>
<p>川烏（大者，去皮，一枚，生）　好壞子（一字）</p>
<p>為末。五歲一錢，雄雞肝一具，淨洗去筋膜，竹刀薄切開，摻藥在內，箬葉包裹，麻皮扎定，用米泔水半盞，瓷器中煮熟，切作片，空心，臨冷食之，將煮肝湯送下。又有腦熱閉目，鼻內干燥，用通頂散治之。（方見前）</p>
<h4>小兒雀盲眼</h4>
<p><u>還明飲</u></p>
<p>　治小兒每至夜不見物，名曰雀目。</p>
<p>夜明砂　井泉沙　穀精草　蛤粉（各等分）</p>
<p>為末，煎黃蠟丸，雞豆肉大。三歲一丸，豬肝一片切開，置藥於內，麻皮扎定，沙瓶內煮熟，先熏眼，後食之。</p>
<p><u>合明散</u></p>
<p>　治小兒雀目，至夜不見物。</p>
<p>楮實子　覆盆子（酒浸）　車前子（酒蒸）　石斛（各一兩）　沉香（另研）　青鹽（別研，各半兩）</p>
<p>為末，煉蜜為丸，如桐子大。每服七十丸，空心鹽湯下。</p>
<h4>小兒肝脾等眼疾</h4>
<p><u>養肝丸</u></p>
<p>　治小兒肝血不足，眼目昏花，或生眵淚。</p>
<p>當歸（酒浸）　車前子（酒蒸，焙）　防風（去蘆）　白芍藥　熟地黃（酒蒸，杵膏）　蕤仁（別研）　川芎　楮實子（各等分）</p>
<p>為末，煉蜜為丸，如桐子大。每服七十丸，滾湯下，不拘時服。</p>
<p><u>車前子散</u></p>
<p>　治小兒肝經積熱，上攻眼目，逆順生翳，血灌瞳子，羞明多眵。</p>
<p>密蒙花　羌活　菊花　粉草　白蒺藜　草決明　車前子（炒）　黃芩　龍膽草（淨洗，各等分，炒）</p>
<p>為末。每服二錢，食後，飯湯調服。（以上四方見《袖珍方》）</p>
<p><u>草龍膽散</u></p>
<p>　治小兒暴赤火眼，晝夜澀痛，作腫淚多。</p>
<p>草龍膽　木賊　荊芥　菊花　防風　草決明（半生半炒）　甘草（各等分）</p>
<p>每服二錢，水煎溫服。痛甚，加羌活、乳香。</p>
<p><u>明目飲</u></p>
<p>　治小兒脾蘊熱，肝受風邪，致兩目羞明，經久不愈。</p>
<p>山梔仁　香附子（淨，各一兩）　夏枯草（半兩）</p>
<p>每服二錢，入蜜一匙，水煎服。（以上方見《活幼心書》）</p>
<h4>飛絲塵垢入目</h4>
<p>治飛絲入目，用頭垢點入目中即出，神效。</p>
<p>飛絲入眼，用柘樹漿點了，用綿裹箸頭蘸水，於眼上繳拭涎毒。</p>
<p>又方：飛絲入目，以火麻子一合杵碎，井花水一碗浸攪，卻將舌浸水中，涎沫自出，神效。</p>
<p>一方：茄子葉杵碎，加麻子法尤妙。</p>
<p>丹溪：飛絲落入眼中，紅腫如瞇，痛澀不開，鼻流清涕。用京墨濃磨，以新筆塗入目中，閉目少時，以手張開，其絲自成一塊，看在眼白上，卻用綿輕輕拭出則愈。如未盡，再治。瞇目，鹽與豉置水中浸之，視水，其渣立出。（孫真人方）</p>
<p>《千金》：治稻麥芒入眼，以新布覆眼上。將蠐螬從布上摩之，其芒自著布上。</p>
<p>山居物落眼中。用新筆蘸水繳之。</p>
<p>又方，濃研好墨點，立出。</p>
