<header data-type="book">
<h1>醫學見能</h1>
</header>
<h2>序</h2>
<p>《醫學見能》四卷，蜀、天彭、唐容川著。仆得於江右之笥筐，忽忽十余載矣，辭簡理周，最有功於濟世。</p>
<p>蓋容川原為初學弟子與夫不知醫者說法，故理不求深，而方必錄驗，較之務求艱奧，而無俾實用者，未可同日語也。憶昔家君宦游豫章，幕府中人有以疾苦告者，即檢方與之，新發者、覆杯即止，久者、三飲而已。因是上下皆謂家君知醫，而不知實得之此書之力，洵可貴焉。容川學通今古，識超凡儔，其所著《中西匯通醫書五種》，不舍近而求遠，不趨新奇而廢正道，早刊行世，已為學人奉若圭臬，惜是書獨付闕如，乃為校閱，並附經驗簡效方於眉上，以備采用，即付手民。嗚呼！古人云：「為人子者，不可不知醫」。仆謂為人父母者，亦不可不知醫。顧醫籍棼如，難以遴擇，聖言悠遠，良匪易悟。世傳《驗方新編》《一盤珠》《珍珠囊》等，本源未澈，瑕瑜互見，殊憾理不足而方難效。然則是書之出，愿醫者朝夕展玩，凡為人子父母者，去彼從此，而各手一編，廣醫學之識見，助天地之生成，獲益誠匪淺，而其功又詎在作者下歟。</p>
<p><u>甲子八月上海秦之濟伯未氏序。</u></p>
<h2>凡例</h2>
<p>一、他書皆標證名，是書原為不知醫者而設，標出證名，轉生迷眩，故見某痛苦即收入某門，分部分類，最便查閱。</p>
<p>一、是書雖簡略，然每遇一證，必究其源，審知陰陽，分別臟腑，最為靈驗，雖見病治病，比時書卻高一格。</p>
<p>一、婦人小兒，除胎產、麻痘外，悉如男子治法，且各有專書，閱者能得此書之意，再參各書，自可辨其得失，而取用不窮，是書不多贅也。</p>
<p>一、是書原無歌括，苦於難記，今按各節衍成絕句，以便記誦。</p>
<p>一、瘡傷跌打救絕等法，是備急扶危之要務也，附於卷末，方法經驗，當熟記之，預備藥料，以便濟世。</p>
<h2>原敘</h2>
<p>備豫不虞，古之善教，而不虞之備，莫要於醫。高堂則風竹瓦霜，膝下則新雛弱筍，外而戚友，中則己身，偶有疾苦，均資乎醫，誠重矣哉。顧醫之難也，非讀書識字則不能醫，非格物窮理則不能醫，非通權達變更不能醫，一旦攖非常之疾，束手無策，只得委任凡醫，聽其措置。為之醫者，又復混亂陰陽，顛倒寒熱，投劑不中，至於垂危。明哲之士，鑒前車，思補救，奮然求濟於方書，而諸書率皆大海茫茫，渺無涯　，深則摘要鉤元，淺則捕風捉影，倉皇檢閱，兩俱無益。病家既窮於醫，又窮於書，惟撫膺扼腕，白恨其不能醫已耳。噫！醫固若是之難能已乎，抑亦所見之書，有未遽能者乎？夫紀昌之射，六年方工；伯牙之琴，三年未妙；天下事安有一見而能者哉？顧事之在所緩者，不必求諸一見；而事之在所急者，要無取乎難能；況不測之來，危在頃刻，非開卷了然之書，何以供家俗急時之用？余因感此，集為是書，即不知醫家，臨證查對，無不了如指掌。</p>
<p>且是書也，雖非鉤元摘要之微，亦匪捉影捕風之陋，果能洞書中之言，通言外之意，將淺者見淺，深者見深，而吾一見能之，裨於世用也，詎有涯哉。</p>
<h2>卷首</h2>
<h3>診法</h3>
<h4>五臟</h4>
<p>心火臟。主生血，主藏神，主周身脈絡，主喜，主笑，開竅於舌。</p>
<p>肝木臟。主行血，主藏魂，主周身筋膜，主怒，主驚，開竅於目。</p>
<p>脾土臟。主飲食，主藏意，主周身肌肉，主思，主噫，開竅於口。</p>
<p>肺金臟。主行氣，主藏魄，主周身皮毛，主悲，主咳，開竅於鼻。</p>
<p>腎水臟。主生氣，主藏志，主周身精髓，主恐，主欠，開竅於耳。</p>
<p>外有包絡，即心外衣，為陰血布化之源。</p>
<p>又有命門，即腎中系，為真陽生氣之根。</p>
<h4>六腑</h4>
<p>小腸者，心之腑，屬火。主化食為液，上奉心血。膽者，肝之腑，屬木。主升清降濁，疏利中土。</p>
<p>胃者，脾之腑，屬土。主納受水穀，化氣化血。</p>
<p>大腸者，肺之腑，屬金。主傳送糟粕，消利滯氣。</p>
<p>膀胱者，腎之腑，屬水。主氣衛皮毛，通達小便。</p>
<p>三焦者，胞絡命門之腑，兼屬水火。主行水化氣，通陰達陽。</p>
<p>（伯未按：心惡熱，肺惡寒，肝惡風，腎惡燥，脾惡濕。胃喜涼，腸喜熱，膽喜溫。亦不可不知。）</p>
<h4>經氣</h4>
<p>（足手）太陽（膀胱小腸）經，司（寒水火化）之氣，手從足化，統稱寒水，經行身之後。</p>
<p>（足手）陽明（胃大腸）經，司（燥土燥金）之氣，足從手化，統稱燥金，經行身之前。</p>
<p>（足手）少陽（膽三焦）經，司（木火相火）之氣，足從手化，統稱相火，經行身之側。</p>
<p>（足手）太陰（脾肺）經，司（濕土清金）之氣，手從足化，統稱濕土，分部於大腹。</p>
<p>（足手）少陰（腎心）經，司（水陰君火）之氣，足從手化，統稱君火，分部於小腹。</p>
<p>（足手）厥陰（肝包絡）經，司（風木相火）之氣，手從足化，統稱風木，分部於軟脅。</p>
<p>（伯未按：十二經之部位，手之三陰，從臟走手，手之三陽，從手走頭。足之三陽，從頭走足，足之三陰，從足走腹。又有督脈，起於會陰，循背而行身之後，所以督率諸陽。任脈起於會陰，循腹而行身之前，所以擔任諸陰。衝脈亦起於會陰，夾臍而上散胸中，當諸氣之沖要。一源而三岐，統謂之奇經。）</p>
<h4>望色</h4>
<p>青色屬肝，風邪也，亦主脾寒。</p>
<p>黃色屬脾，濕氣也，亦主食積。</p>
<p>赤色屬心，火熱也，亦主假熱。</p>
<p>白色屬肺，虛寒也，亦主血脫。</p>
<p>黑色屬腎，水氣也，亦主腎虛。</p>
<h4>聞聲</h4>
<p>肝志怒，其聲呼，其變罵詈。</p>
<p>心志喜，其聲笑，其變譫語。</p>
<p>脾志思，其聲歌，其變鄭聲。</p>
<p>肺志憂，其聲哭，其變失音。</p>
<p>腎志恐，其聲呻，其變氣短。</p>
<h4>問證</h4>
<p>問病因：七情六欲，風寒暑濕，飲食起居，損傷驚恐之類是。</p>
<p>問病形：痛癢寒熱，喘咳煩渴，吐利脹滿，便閉抽掣之類是。</p>
<p>問病機：朝甚暮愈，暮熱朝寒，進退盛衰，變證兼證之類是。</p>
<p>問病情：惡寒惡熱，苦嘔苦滿，欲食不食，心煩不寐之類是。</p>
<h4>切脈</h4>
<p>浮脈：輕按即見。主表實，亦主裡氣內虛。</p>
<p>沉脈：重按乃見。主裡實，亦主裡氣內虛。</p>
<p>遲脈：一息三至。主虛寒，亦主在臟之病。</p>
<p>數脈：一息六至。主實熱，亦主真寒假熱。</p>
<p>虛脈：三部無力。主諸虛，亦主素稟不足。</p>
<p>實脈：三部有力。主諸實，亦主素稟有餘。</p>
<p>大脈：應指洪闊。主病進，亦主正氣內虛。</p>
<p>緩脈：應指柔和。主病退，亦主胃氣有餘。</p>
<p>長脈：過於三指。主氣盛，亦主陽盛陰虛。</p>
<p>短脈：不滿三指。主氣損，亦主中有窒塞。</p>
<p>滑脈：往來流利。主血走，亦主痰飲為病。</p>
<p>澀脈：往來艱滯。主血虛，亦主瘀血凝積。</p>
<p>洪脈：涌沸有力。主實熱，亦主內虛不足。</p>
<p>緊脈：勁急無定。主寒實，亦主身體疼痛。</p>
<p>細脈：窄小不粗。主冷氣，亦主血脈不足。</p>
<p>微脈：模糊不顯。主陽虛，亦主元氣敗絕。</p>
<p>芤脈：浮大中空。主血亡，亦主遺精小產。</p>
<p>弦脈：端直中勁。主木旺，亦主痰飲內痛。</p>
<p>革脈：浮極有力。主陰亡，亦主陽不入陰。</p>
<p>牢脈：沉極有力。主寒實，亦主內有積聚。</p>
<p>濡脈：浮細無力。主氣虛，亦主外受濕氣。</p>
<p>弱脈：沉細無力。主血虛，亦主胃氣不盛。</p>
<p>動脈：搖曳在關。主驚氣，亦主陰陽相搏。</p>
<p>伏脈：沉潛著骨。主邪閉，亦主陰寒在內。</p>
<p>促脈：數中時止。主熱鬱，亦主邪氣內陷。</p>
<p>結脈：遲中時止。主寒結，亦主氣血漸衰。</p>
<p>代脈：止有定候。主氣絕，亦主經隧有阻。</p>
<p>散脈：去來撩亂。主氣散，亦主產婦之吉。</p>
<p>浮沉分表裡，遲數定寒熱，虛實分盛衰，大緩辨進退。長有餘而短不足，滑流利而澀艱難。寒熱緊洪俱屬實，細微血氣總為虛。芤中空而血亡故道，弦中勁而木侮脾經。革則陽氣外越，牢則陰邪內固。濡氣虛，弱血虛，虛各有別。動氣搏，伏氣閉，氣總乖和。結陰促陽，辨遲與數。代亡散絕，有去無來。脈法多端，此為總索。</p>
<p>（伯未按：滑伯仁云，脈之綱要，不外浮沉遲數滑澀六者，以其足統乎表裡陰陽虛實冷熱風寒濕燥臟腑氣血之病也。）</p>
<p>（又按：中醫論生理，主重臟腑經絡，論診斷，主重望聞問切，以現代科學視之，目多缺陷。但中醫辨症用藥，全賴於此，越此范疇，便無頭緒，故唐氏此書，本為不知醫者說法，而首先提出，殆有深意。）</p>
<h2>卷一</h2>
<h3>證治</h3>
<h4>背上</h4>
<p>〔總訣〕太陽與肺氣如天,統主諸陽背上旋。實證最多虛證少，無分虛實總驅寒。</p>
<p>背惡寒冷，由於外感發熱者，太陽經傷寒也。宜人參敗毒散。</p>
<p>羌活（一錢）　獨活（一錢）　柴胡（二錢）　前胡（二錢）　川芎（八分）　枳殼（一錢）　沙參（二錢）　桔梗（二錢）　杏仁（三錢）　茯苓（三錢）　甘草（一錢）　生薑（三片）　大棗（二枚）</p>
<p>葛根（三錢）</p>
<p>歌曰：背冷多因外感寒，柴前羌獨枳芎攢。</p>
<p>參苓桔杏同甘草，葛棗生薑發表安。</p>
<p>（伯未按：可用刮痧法佐之。）</p>
<p>背惡寒冷，或兼手足清冷者，太陽經陽虛也。宜原方附子湯。</p>
<p>附子（三錢）　白朮（三錢）　人參（三錢）　白芍（三錢）　雲苓（三錢）　生薑（三錢）</p>
<p>歌曰：背兼手足冷淒淒，參朮薑苓芍附齊。</p>
<p>要識陽虛宜補氣，不妨斟酌進刀圭。</p>
<p>背痛連項，或兼發熱惡寒者，太陽經風寒也。宜人參敗毒散。</p>
<p>羌活（一錢）　獨活（一錢）　柴胡（二錢）　前胡（二錢）　川芎（八分）　枳殼（一錢）　沙參（二錢）　桔梗（二錢）　杏仁（三錢）　茯苓（三錢）　甘草（一錢）　生薑（三片）　大棗（二枚）　葛根（三錢）</p>
<p>歌曰：背痛緣何與項連，人參敗毒總當先。</p>
<p>柴前羌獨枳芎草，杏桔芩薑葛棗全。</p>
<p>背痛連肩，或兼吐痰咳嗽者，肺經有痰飲也。宜加味蘇子湯。</p>
<p>羌活（一錢五分）　獨活（一錢）　柴胡（一錢）　前胡（二錢）　枳殼（一錢）　桔梗（三錢）　大棗（二枚）　雲苓（二錢）　杏仁（三錢）　蘇子（二錢）　黃芩（二錢）　生薑（三片）　竹茹（二錢）</p>
<p>歌曰：背痛連肩咳嗽兼，柴前羌獨杏蘇添。</p>
<p>棗茹枳桔薑芩茯，滌盡頑痰唾不黏。</p>
<h4>頭骨</h4>
<p>［總訣〕頭乃三陽所總司，藥分三面按經施。若還眩運分虛實，瀉實滋虛兩路馳。頭痛在後，或兼發熱惡寒者，太陽經傷寒也。宜加味敗毒散。</p>
<p>沙參（二錢）　羌活（二錢）　獨活（二錢）　柴胡（二錢）　前胡（三錢）　川芎（一錢）　桔梗（三錢）　雲苓（三錢）　枳殼（一錢）　甘草（一錢）　葛根（二錢）大棗（二枚）　蔥白（一根）生薑（三片）</p>
<p>歌曰：後面頭疼敗毒湯，柴前芎桔獨參羌。</p>
<p>枳苓蔥葛甘和棗，引用生薑入太陽。</p>
<p>（伯未按：民間用生薑片貼兩太陽，亦有幫助。）</p>
<p>頭痛在側，或兼寒熱往來者，少陽經傷風也。宜加味柴胡湯。</p>
<p>半夏（三錢）　柴胡（三錢）　竹茹（三錢）　玉竹（三錢）　黃芩（三錢）　白芍（三錢）　鉤藤（三錢）　甘草（一錢）　生薑（三片）　大棗（二枚）</p>
<p>歌曰：頭痛在側少陽風，祛邪專賴夏柴功。竹茹玉竹薑和棗，甘草鉤藤芩芍同。</p>
<p>（伯未按：蜀刻本鉤藤作荊芥。）</p>
<p>頭痛在前，或兼發熱口渴者，陽明經傷熱也。宜加味升葛湯。</p>
<p>白芍（三錢）　葛根（三錢）　黃芩（三錢）　白芷（三錢）　花粉（四錢）　升麻（一錢）　甘草（一錢）</p>
<p>歌曰：頭痛在前熱渴加，芍芩葛根暨升麻。草偕花粉能生液，白芷祛邪力最賒。</p>
<p>雷頭風痛，或偏在左在右者，陽虛中風寒也。宜艾灸鹽摩法。</p>
<p>艾茸、麝香作小粒灸痛處，附子末和鹽摩之（再服加味白通湯，方見下節）。</p>
<p>歌曰：雷頭風痛附鹽摩，麝艾同燒不在多。</p>
<p>加味白通薑附術，蔥　參草與調和。</p>
<p>（伯未按：清震湯亦可服，用升麻八分，蒼朮一錢，荷葉一角。）</p>
<p>頭痛如碎，每遇陰雨更甚者，真陽不上頭也。宜加味白通湯。</p>
<p>白朮（三錢）　黃　（三錢）　黨參（三錢）　附子（三錢）　乾薑（二錢）　甘草（一錢）　蔥白（三根）</p>
<p>歌曰：每逢陰雨痛無休，只為真陽不上頭。</p>
<p>仍用白通加味服，但須一劑病全瘳。</p>
<p>頭痛如破，兼見嘔吐涎沫者，肝經寒飲逆也。宜加味吳萸湯。</p>
<p>吳萸（二錢）　黨參（三錢）　雲苓（三錢）　桂尖（三錢）　半夏（三錢）　白芍（三錢）　細辛（五分）　甘草（一錢）　大棗（三枚）　生薑（三片）</p>
<p>歌曰：頭痛如破吐痰涎，飲逆肝寒薑棗全。</p>
<p>參草吳萸辛桂用，雲苓夏芍入湯煎。</p>
<p>頭暈鬱冒，其人煩渴悶滿者，火挾痰上泛也。宜加味銀菊湯（頭重加酒軍）。</p>
<p>白菊（一錢）　銀花（三錢）　花粉（三錢）　雲苓（三錢）　甘草（一錢）　枳殼（一錢）　旋覆（炙，三錢）　黃芩（三錢）　柴胡（三錢）　杏仁（三錢）　薄荷（一錢）　竹茹（三錢）</p>
<p>歌曰：頭暈鬱冒銀菊醫，柴苓花粉杏旋施。</p>
<p>竹茹芩枳和甘草，加入薄菏能散之。</p>
<p>（伯未按：蜀刻本無白菊、銀花、花粉、枳殼。）</p>
<p>頭暈飄搖，其人兩顴發赤者，腎經虛火動也。宜加味地黃湯。</p>
<p>熟地（四錢）　山茱萸（三錢）　茯苓（三錢）　丹皮（三錢）　山藥（三錢）　澤瀉（三錢）　安桂（一錢）　牛膝（二錢）　附子（三錢）　川芎（一錢）　細辛（五分）　麥冬（三錢）　元參（三錢）　磁石研，三錢）</p>
<p>歌曰：飄搖頭暈腎經虛，地澤丹元山藥俱。</p>
<p>桂附芎辛磁膝引，冬苓滋養佐茱萸。</p>
<p>（伯未按：倏時頭眩眼花無所見者，用熟地一兩，黨參五錢，煎服。）</p>
<h4>兩耳</h4>
<p>［總訣］耳雖腎竅辨聲音，繞耳游行是膽經。時輩不知清木火，漫將滋腎詡高明。耳鳴耳聾，或兼口苦寒熱者，少陽經風熱也。宜仲景柴胡湯。</p>
<p>柴胡（三錢）　人參（二錢）　黃芩（三錢）　半夏（三錢）　甘草（一錢）　生薑（三片）　大棗（二枚）</p>
<p>歌曰：耳鳴寒熱或兼聾，棗草參苓薑夏同。</p>
<p>風中少陽柴作引，方原仲景妙無窮。</p>
<p>（伯未按：耳暴聾，木香研末，酒浸一宿，以酒滴耳中。）</p>
<p>耳鳴耳聾，或兼脅痛善怒者，肝經之火鬱也。宜加味瀉肝湯。</p>
<p>當歸（三錢）　生地（三錢）　柴胡（三錢）　黃芩（三錢）　梔子（三錢）　澤瀉（三錢）　木通（二錢）　膽草（三錢）　車前子（三錢）　牡蠣（三錢）　青皮（一錢）　甘草（一錢）</p>
<p>歌曰：耳鳴脅痛瀉肝湯，龍膽車前牡蠣匡。</p>
<p>通澤梔芩柴地用，青皮歸草合成方。</p>
<p>（伯未按：夏枯花五錢，濃煎服之，極簡效。）</p>
<p>耳鳴耳聾，並無障礙壅閉者，腎虛陰氣逆也。宜加味磁朱丸。</p>
<p>磁石（三錢）　朱砂（一錢）　熟地（四錢）　山藥（三錢）　雲苓（三錢）　澤瀉（三錢）　丹皮（三錢）　山茱萸（三錢）　五味子（五分）　菖蒲（一錢）</p>
<p>歌曰：腎虛亦使耳聾鳴，磁石朱砂研要精。</p>
<p>苓澤山丹蒲味具，山萸熟地使陰生。</p>
<h4>眼目</h4>
<p>［總訣］眼皮腫痛貴分觀，按經清散自然安。若還雲霧暈花見，補瀉隨宜屬腎肝。</p>
<p>大眼角腫，或兼頭痛惡寒者，太陽經風熱也。宜加減敗毒散。</p>
<p>羌活（一錢）　獨活（一錢）　柴胡（三錢）　前胡（二錢）　赤芍（二錢）　黃芩（三錢）　玉竹（三錢）　歸尾（三錢）　木賊（一錢）　花粉（三錢）　甘草（一錢）　連翹（一錢）　銀花（一錢）　蟬蛻（七個）</p>
<p>歌曰：眼腫兼寒屬太陽，柴前羌獨芍芩詳。</p>
<p>銀蟬木賊天花粉，甘草翹歸玉竹襄。</p>
<p>小眼角腫，或兼口苦耳鳴者，少陽經風火也。宜加減柴胡湯。</p>
<p>沙參（三錢）　白芍（三錢）　柴胡（三錢）　黃芩（三錢）　當歸（三錢）　膽草（三錢）　牡蠣（三錢）　木賊（一錢）　青皮（一錢）　蟬蛻（七個）　銀花（一錢）　菊花（二錢）　甘草（一錢）　生薑（三片）</p>
<p>歌曰：眼傷風火耳兼鳴，木賊柴芩參芍清。</p>
<p>膽草歸蟬銀菊蠣，青皮薑引使肝平。</p>
<p>下眼皮腫，以及繞眼紅鎖者，陽明經風熱也。宜加味銀翹湯。</p>
<p>連翹（一錢）　葛根（二錢）　白芍（三錢）　甘草（一錢）　黃芩（三錢）</p>
<p>生地（三錢）　枳殼（一錢）　銀花（一錢）　白芷（三錢）　花粉（三錢）　蟬蛻（七個）　青葙（三錢）　石膏（三錢）　紅花（一錢）</p>
<p>歌曰：陽明風熱眼皮傷，芩葛銀翹芷芍將。</p>
<p>草地蟬花和枳殼，石膏花粉共青葙。</p>
<p>（伯未按：蜀刻本無連翹、紅花、枳殼、多大力子。）</p>
<p>（又按：赤眼以黃丹、白蜜調貼太陽穴，亦能止痛。）</p>
<p>目內癢痛，以及赤白云翳者，肝經風濕熱也。宜加減瀉肝湯。</p>
<p>歸尾（三錢）　元參（三錢）　梔子（二錢）　黃芩（二錢）　膽草（二錢）　蟬蛻（七個）　木賊（一錢）　木通（一錢）　銀花（二錢）　赤芍（二錢）　澤瀉（二錢）　柴胡（二錢）　防風（二錢）　車前子（二錢）　荊芥（二錢）　青皮（一錢）　枳殼（一錢）　細辛（五分）　酒軍（五分）　紅花（一錢）　甘草（一錢）</p>
<p>歌曰：目中痛翳芍芩梔，柴澤荊防辛枳皮。</p>
<p>通賊銀蟬歸膽草，花前參草酒軍施。</p>
<p>目光晦澀，恍惚不能近視者，肝腎真陰虛也。宜杞菊地黃湯。</p>
<p>人參（三錢）　白朮（三錢）　遠志（一錢）　黃　（三錢）　當歸（三錢）　磁石（　，三錢）　棗仁（三錢）　龍眼（三枚）　益智（一錢）　五味（五分）　甘草（一錢）　朱砂（研，一錢）</p>
<p>歌曰：不能遠視缺真陽，參朮磁朱遠志良。</p>
<p>益智棗仁龍眼並，草歸　味細推詳。</p>
<h4>唇口</h4>
<p>［總訣］　口內時含五臟和，偶然變味即為　。須知脾竅原通胃，胃火為殃病最多。口吐酸水，或兼腹滿頭痛者，肝木侮脾土也。宜加味吳萸湯。</p>
<p>吳萸（二錢）　黨參（三錢）　黃連（三錢）　生薑（三錢）　大棗（三枚）</p>
<p>歌曰：吐酸只為木乘脾，薑棗吳萸治總宜。</p>
<p>再入參連同煮服，頭疼腹滿照方施。</p>
<p>口苦而渴，或兼咽乾目眩者，少陽經相火也。宜加減柴胡湯。</p>
<p>柴胡（三錢）　黃芩（三錢）　黨參（三錢）　花粉（三錢）　生薑（三片）　甘草（一錢）</p>
<p>歌曰：口苦咽乾眩渴連，柴芩參草藥當先。</p>
<p>生津專賴天花粉，發散生薑力量全。</p>
<p>口甜而膩，或兼不思飲食者，脾經傷濃味也。宜加味香砂湯。</p>
<p>神麯（一錢）　半夏（三錢）　砂仁（研，一錢）　雲苓（三錢）　藿香（三錢）　楂肉（一錢）</p>
<p>歌曰：口中甜膩是脾傷，半夏雲苓與藿香。</p>
<p>楂肉砂仁加入曲，六般煎服效堪彰。</p>
<p>（伯未按：蜀刻本多白朮、黨參、甘草、老蓮、生薑、檳榔、白芍。）</p>
<p>（又按：此即《內經》口甘證，可時泡佩蘭湯飲之。）</p>
<p>口淡無味，兼見腹滿多唾者，脾虛中有寒也。宜加味理中湯。</p>
<p>黨參（三錢）　白朮（三錢）　生薑（二錢）　茯苓（四錢）　炙草（二錢）　陳皮（三錢）</p>
<p>歌曰：口中無味唾偏多，參朮薑苓炙草和。</p>
<p>漫道陳皮非補藥，善調胃氣莫嫌他。</p>
<p>（伯未按：可時啖糖薑。）</p>
<p>口中腫痛，兼見發渴飲水者，胃中火上衝也。宜時方甘露飲：天冬（三錢）　麥冬（三錢）　生地（三錢）　熟地（三錢）　黃芩（三錢）　枳殼（一錢）　茵陳（三錢）　石斛（三錢）　枇杷葉（去毛蜜炙，三錢）　甘草（一錢）</p>
<p>歌曰：口中腫痛渴煩加，二地二冬及枇杷。</p>
<p>芩枳茵陳兼石斛，草梢引服效無瘥。</p>
<p>（伯未按：外用蘆根泡，代茶。）</p>
<p>口燥舌乾，或兼消渴引飲者，胃中陰液枯也。宜加減地黃湯。</p>
<p>熟地（三錢）　山藥（三錢）　黨參（三錢）　麥冬（三錢）　澤瀉（三錢）　五味（一錢）　元參（三錢）　花粉（三錢）　山茱萸（三錢）　葛根（三錢）</p>
<p>歌曰：口乾舌燥胃陰枯，不解滋陰病不除。</p>
<p>萸地參冬山澤味，元參花粉葛根扶。</p>
<p>口中腥臭，或兼吐血衄血者，胃中血燥熱也。宜清陽寧血湯。</p>
<p>當歸（三錢）　白芍（三錢）　黃芩（三錢）　黃連（二錢）　黨參（三錢）　麥冬（三錢）　藕節（三錢）　生地（三錢）　蒲黃（二錢）　酒軍（八分）　枳殼（一錢）　甘草（一錢）</p>
<p>歌曰：口中腥臭血當清，歸芍芩連並黨參。</p>
<p>藕地軍蒲甘草枳，麥冬清熱燥斯平。</p>
<h4>鼻孔</h4>
<p>［總訣］肺氣通調鼻自安，只宜疏散肺風寒。卻因挾孔陽明脈，惹出干清燥熱端。</p>
<p>鼻流清涕，如有窒塞不通者，肺經受風寒也。宜加味香蘇飲。</p>
<p>香附（二錢）　陳皮（二錢）　紫蘇（三錢）　薄荷（一錢）　甘草（一錢）　杏仁（三錢）　辛夷（二錢）　桔梗（三錢）</p>
<p>歌曰：鼻流清涕窒難通，甘杏香陳蘇薄同。</p>
<p>溫肺辛夷偕桔梗，散寒通竅奏奇功。</p>
<p>(伯未按：可加　本八分。）</p>
<p>鼻根紅赤，孔內干燥結煤者，陽明經燥氣也。宜加味升葛湯。</p>
<p>升麻（一錢）　葛根（三錢）　石膏（研，四錢）　黃芩（三錢）　生地（三錢）　白芍（三錢。）</p>
<p>枳殼（一錢）　杏仁（三錢）　甘草（一錢）　花粉（三錢）　白芷（二錢）　銀花（二錢）　連翹（二錢）</p>
<p>歌曰：鼻根紅赤屬陽明，升葛膏芩地芍平。</p>
<p>枳杏草同花粉用，銀翹白芷火能清。</p>
<p>鼻中流血，或兼頭暈口渴者。陽明經血燥也。宜加味甘露飲。</p>
<p>生地（三錢）　熟地（三錢）　黃芩（三錢）　麥冬（三錢）　天冬（三錢）　茵陳（三錢）　石斛（三錢）　枳殼（一錢）　茅根（二錢）　赤芍（二錢）　藕節（三錢）　蒲黃（一錢）　銀花（一錢）　甘草（一錢）</p>
<p>歌曰：鼻因燥熱血長流，二地二冬芩芍優。</p>
<p>石斛茵陳蒲枳共，銀茅藕節草均收。</p>
<p>（伯未按：可先用新絮蘸濃京墨汁，或鮮生地塞鼻中，更以手巾浸冷水掩額上，以暫止之，然後服藥。）</p>
<p>鼻中生瘡，無論腫痛塞癢者，肝肺經痰火也。宜三白注鼻丹（內可服加味升葛湯，見前二節）。</p>
<p>白礬（一錢）　火硝（一錢）　硼砂（一錢）</p>
<p>歌曰：鼻內生瘡痛癢頻，硝礬注鼻法當循。</p>
<p>滌痰除火無余策，再入硼砂研要勻。</p>
<h4>齒牙</h4>
<p>［總訣］胃主牙床腎主牙，補虛清熱各專家。倘因風化生蟲　，抵穴探巢外治夸。</p>
<p>牙齒疼痛，由於生蟲蝕剝者，風濕熱所化也。宜外用烏梅化蟲散。</p>
<p>烏梅（三枚）　川椒（一錢）　乾薑（一錢）　黃連（二錢）　細辛（五分）　黃柏（一錢）　石膏（三錢）　枯礬（五分）　明雄（一錢）　鉛粉（一錢）</p>
<p>歌曰：蟲蝕牙疼薑與辛，椒連黃柏石膏遵。</p>
<p>烏梅再入枯礬碾，鉛粉雄黃藥要真。</p>
<p>（伯未按：若因風寒而痛者，以細辛嵌齒縫中。）</p>
<p>牙齒腫痛，或兼口舌皆痛者，胃經之風火也。宜清熱去風湯。</p>
<p>枯芩（三錢）　石膏（三錢）　知母（二錢）　枳殼（一錢）　丹皮（三錢）　白芍（三錢）　白芷（二錢）　防風（二錢）　銀花（三錢）　連翹（二錢）　山豆根（二錢）　甘草（一錢）　牛膝（一錢）　牛蒡子（一錢）</p>
<p>歌曰：胃經風火腫傷牙，知芍膏芩牛蒡加。</p>
<p>枳膝丹防甘草引，豆翹白芷與銀花。</p>
<p>（伯未按：可用冰硼搽腫處，或針刺出血少許，勿令化膿。）</p>
<p>牙痛不腫，或腫不利涼藥者，腎中之虛火也。宜加減八味丸。</p>
<p>熟地（三錢）　山藥（三錢）　雲苓（三錢）　澤瀉（三錢）　丹皮（三錢）　山茱萸（三錢）　白芍（三錢）　牛膝（一錢）　麥冬（三錢）　安桂（八分）　骨碎補（三錢）　附子（一錢五分）</p>
<p>歌曰：牙疼不腫腎虛浮，地藥苓丹桂附求。</p>
<p>碎補山萸冬共澤，芍同牛膝降兼收。</p>
<p>（伯未按；外治法用生附子、熟地同搗，敷足底心。）</p>
<h4>舌本</h4>
<p>［總訣］舌乃心苗胃亦診，赤紅便作火來侵。有胎屬火分真假，枯潤之間仔細詳。</p>
<p>凡舌有胎，或兼口苦溺黃者，三焦經鬱熱也。宜加味柴胡湯。</p>
<p>柴胡（二錢）　黃芩（二錢）　甘草（一錢）　當歸（三錢）　白芍（三錢）　麥冬（三錢）　車前子（三錢）　花粉（三錢）　知母（三錢）　滑石（三錢）</p>
<p>歌曰：舌胎不論白和黃，但有皆為熱五內。</p>
<p>加味柴胡芩草粉，知冬前滑芍歸良。</p>
<p>舌尖赤痛，或生巨齒紅點者，心經之游火也。宜加減瀉心湯。</p>
<p>黃芩（三錢）　黃連（二錢）　當歸（三錢）　赤芍（三錢）　丹皮（三錢）　生地（三錢）　花粉（三錢）　連翹（二錢）　車前子（三錢）　木通（一錢）　甘草（一錢）　牛蒡子（三錢）</p>
<p>歌曰：舌尖赤痛用芩連，牛蒡翹歸地芍先。</p>
<p>花粉車前丹草和，木通瀉熱火全捐。</p>
<p>（伯未按：舌脹滿口，生蒲黃末搽舌上，若舌脹退場門，冰片一錢研敷。）</p>
<p>舌胎黃燥，兼見消渴引飲者，胃中有熱邪也。宜加味虎湯。</p>
<p>知母（三錢）　石膏（三錢）　花粉（三錢）　酒軍（一錢）　甘草（一錢）　生地（三錢）　枳殼（一錢）</p>
<p>歌曰：舌胎黃燥用知膏，花粉軍甘地枳調。</p>
<p>白虎西方金氣稟，再加清品散涼　。</p>
<p>舌胎滑潤，兼見二便清利者，真寒而假熱也。宜加味益元湯。</p>
<p>乾薑（二錢）　附片（三錢）　黃連（二錢）　知母（二錢）　黨參（三錢）　白朮（三錢）　五味（八分）　吳萸（二錢）　麥冬（三錢）　艾葉（一錢）　蔥白（三根）　童便（一杯）</p>
<p>歌曰：舌胎滑潤便清和，假熱真寒薑附科。</p>
<p>冬味知連蔥便引，艾萸參朮不嫌多。</p>
<p>舌黑生刺，手足日晡潮熱者，胃中有燥屎也。宜調胃承氣湯。</p>
<p>芒硝（二錢）　大黃（二錢）　枳殼（二錢）　厚朴（二錢）　甘草（五分）</p>
<p>歌曰：燥屎留中舌刺芒，熱潮日晡細端詳。</p>
<p>硝黃枳朴同甘草，調胃長沙有妙方。</p>
<p>舌黑生刺，心煩不得安臥者，心火之亢熱也。宜銀翹瀉心湯。</p>
<p>黃柏（二錢）　炒梔（二錢）　黃連（二錢）　黃芩（三錢）　生地（三錢）　白芍（二錢）　花粉（三錢）　銀花（二錢）　連翹（一錢）　竹茹（二錢）　草梢（一錢）　燈心（一束）</p>
<p>歌曰：舌生黑刺臥難安，梔柏芩連用苦寒。</p>
<p>地芍銀翹花粉共，燈心甘草竹茹餐。</p>
<h4>咽喉</h4>
<p>［總訣］最重咽喉出納關，那禁邪氣壅其間。清心開肺還平胃，惟望醫師妙轉旋。</p>
<p>咽喉紅腫，其色多帶痰黏者，風火之壅塞也。宜加味甘桔湯。</p>
<p>山豆根（一錢）　連翹（一錢）　炒梔（一錢）　甘草（一錢）　杏仁（三錢）　荊芥（一錢）　薄荷（五分）　桔便（二錢）　枳殼（八分）　花粉（二錢）　枯芩（二錢）　貝母（三錢）　旋覆（二錢）　射干（二錢）</p>
<p>歌曰：咽喉紅腫豆翹梔，甘杏荊荷枳桔宜。</p>
<p>花粉枯芩清火用，射旋貝母滌痰施。</p>
<p>（伯未按：蜀刻本無花粉、旋覆。）</p>
<p>（又按：若大便燥結者，當用涼膈散三錢入煎。）</p>
<p>咽喉白爛，其聲嘶小不出者，火熱乘肺金也。宜滋肺百合湯。</p>
<p>百合（一錢）　知母（一錢）　天冬（二錢）　麥冬（三錢）　花粉（二錢）　杏仁（三錢）　銀花（一錢）　生地（三錢）　紫菀（一錢）　甘草（一錢）　桑葉（一錢）　五倍子（一錢）</p>
<p>歌曰：咽喉白爛總宜滋，杏草銀桑合倍醫。</p>
<p>知母二冬和紫菀，地黃花粉咽徐徐。</p>
<p>（伯未按：須防白喉，切勿大意。）</p>
<p>咽中疼痛，生黃起泡起點者，濕熱之結氣也。宜清散薄荷湯。</p>
<p>薄荷（五分）　荊芥（一錢）　柴胡（一錢）　知母（三錢）　黃芩（三錢）　檳榔（一錢）　草果（一錢）　羌活（五分）　枳殼（一錢）　連翹（一錢）　射干（二錢）　杏仁（三錢）　僵蠶（三錢）　蟬蛻（五個）</p>
<p>歌曰：咽疼起泡薄柴荊，羌枳翹干芩母清。</p>
<p>草果檳榔除濕積，僵蠶蟬杏熱俱平。</p>
<p>咽中生蛾，壅塞關隘不通者，心經火上逆也。宜加減導赤散。</p>
<p>生地（三錢）　知母（二錢）　枳殼（一錢）　甘草（一錢）　薄荷（七分）　羌活（七分）　木通（一錢）　竹葉（三錢）　靈仙（一錢）　皂刺（三錢）　黃連（三錢）　酒軍（一錢）　山甲（炒，二片）　牛蒡子（三錢）</p>
<p>歌曰：靈仙皂刺破喉蛾，山甲知連及薄荷。</p>
<p>牛蒡軍甘羌地枳，木通竹葉與調和。</p>
<p>（伯未按：乳蛾症於結喉兩旁，按之有核，可購貼喉異功散，置太乙膏上，貼之半日，即起泡，用針刺破，易紅膏藥貼之。）</p>
<p>凡紅喉證，無論癰蛾腫起者，總屬血分熱也。宜　點膽礬丸。</p>
<p>膽礬（三分）　熊膽（一錢）　皂刺（一錢）　硼砂（一錢）　火硝（一錢）　麝香（一分）　蜣螂（二枚）　大黃（五分）　鬱金（一錢）　牛黃（一分）</p>
<p>為末，蜜丸，點　喉間，有痰則吐去。</p>
<p>歌曰：膽礬熊膽點紅喉，皂刺蜣螂一例收。</p>
<p>硼麝二黃硝合研，鬱金加入症全瘳。</p>
<p>（伯未按：可另購玄參三錢泡，代茶飲。）</p>
<p>凡白喉證，無論癬爛疳蝕者，總屬氣分熱也。宜吹　珠黃散。</p>
<p>珍珠（一錢）　牛黃（三分）　麝香（一分）　明雄（一錢）　硼砂（一錢）　甘草（一錢）</p>
<p>歌曰：雄麝珠黃點白喉，硼砂甘草一分求。</p>
<p>須知白爛關虛熱，不與紅喉一例投。</p>
<h4>胸前</h4>
<p>［總訣］上焦心肺屬胸中，空闊無塵比太空。寒熱血痰相阻滯，開提升降具全功。</p>
<p>胸前脹滿，兼見口渴脅痛者，少陽氣不暢也。宜加減柴胡湯。</p>
<p>柴胡（一錢）　半夏（二錢）　人參（二錢）　黃芩（二錢）　杏仁（二錢）　栝蔞（二錢）　枳殼（一錢）　旋覆（二錢）　甘草（一錢）　大棗（二枚）　生薑（三片）　荷梗（三錢）</p>
<p>歌曰：脹痛胸前引脅旁，柴胡栝蔞夏芩薑。</p>
<p>枳甘參棗旋花杏，荷梗兼能達少陽。</p>
<p>（伯未按：蜀刻本無旋覆、荷梗。）</p>
<p>胸前痹痛，兼見痛而徹背者，心肺之陽郁也。宜栝蔞薤白湯。</p>
<p>桂枝（三錢）　生薑（三錢）　枳殼（一錢）　栝蔞（三錢）　薤白（三錢）　清酒（一盞）</p>
<p>歌曰：胸前痹痛勢連綿，徹背疼時更不堪。</p>
<p>蔞桂枳薑添薤白，宣陽還要酒來煎。</p>
<p>胸前脹滿，飯後更覺痞滿者，胃虛而生痰也。宜香砂六君湯。</p>
<p>木香（一錢）　砂仁（二錢）　白朮（三錢）　雲苓（三錢）　黨參（三錢）　陳皮（三錢）　半夏（二錢）　生薑（三片）　大棗（二枚）</p>
<p>歌曰：飯後胸前脹滿增，香砂陳術解痰凝。</p>
<p>參苓薑夏甘和棗，補胃調中效可憑。</p>
<p>胸前結痛，不可觸近按摩者，水火相搏結也。宜消息陷胸湯。</p>
<p>葶藶（一錢）　甘草（五分）　枳殼（一錢）　杏仁（三錢）　黃連（一錢）　大黃（炒，一錢）</p>
<p>栝蔞（整枚搗）</p>
<p>歌曰：陷胸葶藶枳黃攻，甘杏黃連力倍充。</p>
<p>全仗栝蔞除積痛，膈中水火兩消融。</p>
<p>（伯未按：蜀刻本此方作甘遂、大黃、芒硝三味，與消息之義不合。）</p>
<p>胸前脹滿，游走有聲而嘔者，膈上有水飲也。宜加味二陳湯。</p>
<p>陳皮（二錢）　雲苓（三錢）　法夏（三錢）　貝母（二錢）　桔梗（二錢）　甘草（一錢）　枳殼（一錢）　白芥子（一錢）　苡仁（三錢）　蘇子（二錢）　白朮（三錢）　生薑（三錢）</p>
<p>歌曰：水滿胸前走有聲，二陳加味最詳明。</p>
<p>芥蘇桔貝苓甘夏，苡枳薑陳術用生。</p>
<p>胸前疼痛，徹背徹心不止者，寒氣相攻衝也。宜烏頭赤丸方。</p>
<p>乾薑（三錢）　附子（三錢）　烏頭（三錢）　赤石脂（三錢）　蜀椒（二錢）</p>
<p>歌曰：徹心徹背痛無休，附子薑椒一劑投。</p>
<p>赤石朱砂蜂蜜裹，散寒專取炮烏頭。</p>
<p>胸前煩痛，口酸口苦悶郁者，火氣之結滯也。宜整肅舒氣湯。</p>
<p>柴胡（二錢）　黃芩（二錢）　桔梗（二錢）　枳殼（一錢）　丹參（二錢）　菖蒲（一錢）　當歸（二錢）　旋覆（二錢）　尖貝（二錢）　雲苓（二錢）　車前子（二錢）　甘草（一錢）　炒梔（二錢）　生薑（三片）</p>
<p>歌曰：口苦兼酸病在胸，柴芩桔枳有奇功。</p>
<p>參歸旋貝菖梔炒，前草薑苓一樣同。</p>
<p>（伯未按：蜀刻木無柴胡、黃芩、旋覆、多吳萸、川連、梔子。）</p>
<h4>大腹</h4>
<p>［總訣］大腹中州總屬脾，虛寒實熱辨毫厘。木邪水濕皆為寇，痰血蛔蟲亦易治。</p>
<p>（伯未按：腹痛症極多變化，宜及早檢查。）</p>
<p>大腹絞痛，閉悶不得吐瀉者，脾實而熱閉也。宜加味三物湯。</p>
<p>枳殼（一錢）　厚朴（一錢）　大黃（一錢）　白芍（三錢）　黃芩（三錢）　杏仁（三錢）　甘草（一錢）</p>
<p>歌曰：腹中閉悶痛難禁，三物東加芍與芩。</p>
<p>脾實當攻休畏忌，大黃枳朴杏甘尋。</p>
<p>腹中切痛，兼見吐瀉厥冷者，脾虛發霍亂也。宜仲景理中湯。</p>
<p>人參（三錢）　白朮（三錢）　乾薑（三錢）　甘草（炙，二錢）</p>
<p>歌曰：霍亂多緣土氣虛，腹間切痛勢難舒。</p>
<p>乾薑草術同參用，調理中宮病自祛。</p>
<p>（伯未按：危殆時，急用生薑蘸高粱酒擦四肢。）</p>
<p>腹中脹滿，飯後倦怠反飽者，脾虛少運化也。宜加味六君湯。</p>
<p>木香（一錢）　砂仁（二錢）　白朮（三錢）　雲苓（三錢）　人參（三錢）　甘草（一錢）　陳皮（二錢）　半夏（二錢）　生薑（三錢）　大棗（三枚）　芡實（三錢）　麥芽（一錢）</p>
<p>歌曰：飯余反飽用參苓，朮半香砂效最靈。</p>
<p>薑芡麥芽除腹滿，陳皮甘棗善調停。</p>
<p>腹中脹滿，兼見大便溏泄者，濕甚則濡泄也。宜時方胃苓湯。</p>
<p>雲苓（三錢）　豬苓（三錢）　蒼朮（三錢）　白朮（三錢）　陳皮（二錢）　大棗（二枚）　桂枝（二錢）　白芍（二錢）　甘草（一錢）　厚朴（一錢）　澤瀉（二錢）　生薑（三片）</p>
<p>歌曰：腹滿還兼大便溏，二苓二術棗陳薑。</p>
<p>建中桂芍甘同朴，除濕仍加澤瀉詳。</p>
<p>腹中疼痛，有物自臍衝上者，腎氣之奔豚也。宜腎氣奔豚湯。</p>
<p>桂枝（三錢）　雲苓（三錢）　白朮（二錢）　甘草（二錢）　苡仁（三錢）　大棗（二枚）　附子（炮，三錢）</p>
<p>歌曰：腎氣奔豚臍上衝，桂苓朮草古方宗。</p>
<p>苡仁附子重加入，大棗和中煮要濃。</p>
<p>腹中疼痛，有物自左衝上者，肝氣之奔豚也。宜肝氣奔豚湯。</p>
<p>吳萸（一錢）　黃連（三錢）　雲苓（二錢）　荔核（研，三枚）　烏梅（二枚）　香附（研，三錢）</p>
<p>牡蠣（研，三錢）</p>
<p>歌曰：奔豚沖左屬肝經，荔核梅連取用靈。</p>
<p>香附吳萸同理氣，再加牡蠣及雲苓。</p>
<p>（伯未按：可加李根白皮二錢，效尤捷。）</p>
<p>腹中大痛，有物突起拒摩者，虛寒見實象也。宜大建中原方。</p>
<p>人參（三錢）　蜀椒（二錢）　乾薑（二錢）　飴糖（三錢）</p>
<p>歌曰：有物攻衝拒按摩，腹間突起痛難過。</p>
<p>虛寒實象薑椒用，參共飴糖胃氣和。</p>
<p>腹痛喜按，舌上有白花點者，內有蛔蟲擾也。宜醋製烏梅丸。</p>
<p>當歸（三錢）　黨參（三錢）　黃連（三錢）　黃柏（二錢）　細辛（一錢）　桂枝（三錢）　附片（三錢）　乾薑（二錢）　川椒（二錢）　烏梅（蒸去核，七枚）</p>
<p>歌曰：舌上緣何起白花，蛔蟲內擾痛頻加。</p>
<p>歸參連柏辛椒共，桂附薑梅醋製夸。</p>
<p>（伯未按：小兒可用使君子炒食。）</p>
<p>腹中絞痛，串走兩脅鳴痛者，痰飲之積聚也。宜加味二陳湯。</p>
<p>陳皮（三錢）　半夏（三錢）　雲苓（三錢）　前胡（二錢）　甘草（一錢）</p>
<p>白芥子（二錢）　蘇枝（二錢）</p>
<p>歌曰：腹中絞痛脅常鳴，陳夏雲苓甘草行。</p>
<p>再用蘇枝通絡脈，前胡白芥使痰清。</p>
<p>（伯未按：服之不驗，可加芫花五分。）</p>
<p>腹中刺痛，脈澀痛如刀錐者，瘀血之阻滯也。宜加減桃仁湯。</p>
<p>桃仁（三錢）　蒲黃（三錢）　赤芍（三錢）　白芍（三錢）　歸尾（三錢）　靈脂（二錢）　黃芩（三錢）　川芎（一錢）　香附（三錢）　甘草（一錢）　鬱金（一錢）　青木香（二錢）</p>
<p>歌曰：腹中刺痛主桃仁，二芍芩歸芎草均。</p>
<p>香附蒲黃脂郁木，酒軍慎用告醫人。</p>
<p>腹中猝痛，由傷風邪而得者，肝氣侮脾土也。宜柴胡桂枝湯。</p>
<p>柴胡（二錢）　桂枝（二錢）　半夏（三錢）　人參（三錢）　青皮（一錢）　黃芩（二錢）　白芍（二錢）　甘草（一錢）　大棗（二枚）　生薑（三片）</p>
<p>歌曰：腹中猝痛系風傷，土侮脾經參棗薑。</p>
<p>夏草青皮芩桂合，柴胡白芍細商量。</p>
<p>腹中猝痛，由傷邪祟而得者，皆血亂正氣也。宜加減正氣散。</p>
<p>蒼朮（三錢）　陳皮（一錢）　木香（一錢）　黨參（三錢）　雲苓（三錢）　桂心（二錢）　天麻（二錢）　半夏（二錢）　大棗（三枚）　生薑（五片）　龍骨（三錢）　麝香（少許）</p>
<p>歌曰：邪祟傷人腹痛增，蒼苓陳夏有奇能。</p>
<p>天麻麝木同龍骨，桂棗薑參正氣升。</p>
<h4>小腹</h4>
<p>［總訣］膀胱胞室與肝經，時輩猶知此數層。獨於瘕氣和寒疝，此意從來少識人。</p>
<p>小腹滿痛，由於小便不通者，膀胱之水結也。宜加味五苓散。</p>
<p>白芍（三錢）　白朮（三錢）　雲苓（三錢）　豬苓（三錢）　澤瀉（三錢）　杏仁（三錢）　桂枝（二錢）</p>
<p>歌曰：小腹疼時便溺窮，膀胱水結二苓攻。</p>
<p>術和桂澤心陽導，芍杏還從肝肺通。</p>
<p>小腹滿痛，小便仍然通利者，胞宮之血結也。宜加減桃仁湯（重者加大黃）。</p>
<p>桃仁（一錢）　蒲黃（三錢）　赤芍（二錢）　白芍（二錢）　靈脂（三錢）　鬱金（一錢）　歸尾（三錢）　木香（一錢）　香附（三錢）　黃芩（二錢）　甘草（一錢）　川芎（八分）</p>
<p>歌曰：疼居少腹便猶通，歸郁靈桃蒲草攻。</p>
<p>二芍木香香附子，芎芩或與大黃同。</p>
<p>小腹絞痛，繞臍上下難忍者，下焦之寒疝也。宜烏頭羊肉湯。</p>
<p>當歸（三錢）　生薑（三錢）　羊肉（四兩）　烏頭（二錢炮）</p>
<p>歌曰：繞臍疼痛下焦寒，羊肉烏頭薑共餐。</p>
<p>更有當歸宜合用，須知四藥總溫肝。</p>
<p>（伯未按：感寒腹痛，用食鹽川椒炒熱，熨臍四周。）</p>
<p>小腹旁痛，以及軟肋俱痛者，厥陰血不和也。宜當歸四逆湯。</p>
<p>當歸（三錢）　桂枝（二錢）　細辛（五分）　白芍（二錢）　木通（一錢）　生地（二錢）　雲苓（二錢）　香附（二錢）　靈脂（二錢）　甘草（一錢）　橘葉（三錢）　艾葉（二錢）　川芎（一錢）</p>
<p>台烏藥（二錢）</p>
<p>歌曰：小腹疼連軟脅旁，歸辛桂芍地通嘗。</p>
<p>芎靈香附台烏草，橘葉雲苓艾煮湯。</p>
<p>小腹疼痛，得屁腹鳴乃快者，小腸氣不和也，宜普明橘核丸。</p>
<p>楂核（二錢）　荔枝（三錢）　吳萸（一錢）　橘核（三錢）　香附（三錢）　小茴（一錢）　楝子（三錢）</p>
<p>歌曰：腹鳴得屁痛方輕，楂荔吳萸橘核呈。</p>
<p>香附小茴和楝子，小腸疼痛此方平。</p>
<p>小腹疼痛，由於淋　血虛者，胞宮瘀與熱也。宜下瘀清熱湯。</p>
<p>黃柏（二錢）　黃芩（三錢）　白芍（二錢）　赤芍（二錢）　桃仁（三錢）　牛膝（一錢）　丹皮（三錢）　茜草（一錢）　歸尾（三錢）　生地（三錢）　甘草（一錢）</p>
<p>歌曰：小腹疼因血結胞，柏芩二芍並甘梢。</p>
<p>桃仁牛膝丹和茜，歸地濃煎煮作膠。</p>
<h4>脅肋</h4>
<p>［總訣］側邊肝膽所分司，和暢陰陽兩得宜。若系結疼宜破利，非痰即血莫遲疑。</p>
<p>兩脅下痛，難於俯仰屈伸者，少陽氣不和也。宜加減柴胡湯。</p>
<p>黨參（三錢）　柴胡（二錢）　黃芩（二錢）　半夏（二錢）　歸尾（三錢）　青皮（一錢）　牡蠣（三錢）　生薑（三片）　甘草（一錢）　竹茹（三錢）</p>
<p>歌曰：脅下疼時礙屈伸，參柴芩草用通神。</p>
<p>竹茹牡蠣薑歸入，半夏青皮總要陳。</p>
<p>（伯未按：兩脅不時作痛者，枳殼二錢為末，鹽酒調服。）</p>
<p>兩脅下痛，穿透游走有聲者，肝脾之痰飲也。宜加味二陳湯。</p>
<p>陳皮（二錢）　半夏（二錢）　雲苓（三錢）　甘草（一錢）　白朮（二錢）　前胡（二錢）　紫蘇枝（三錢）</p>
<p>歌曰：脅疼串走有聲音，陳夏雲苓甘草斟。</p>
<p>白芥前胡痰飲滌，蘇枝通絡免寒侵。</p>
<p>兩軟脅痛，以及小腹俱痛者，厥陰血不和也。宜血府逐瘀湯。</p>
<p>當歸（三錢）　生地（二錢）　桃仁（三錢）　紅花（一錢）　枳殼（一錢）　赤芍（二錢）　柴胡（一錢）　川芎（一錢）　桔梗（二錢）　牛膝（三錢）　甘草（一錢）</p>
<p>歌曰：脅同小腹痛牽連，四物歸芎地芍全。</p>
<p>桃核紅花牛膝共，枳柴桔草逐瘀先。</p>
<p>脅下偏痛，痞結硬滿不去者，血、氣、痰三積也。宜三消去痞湯。</p>
<p>附子（二錢）　細辛（五分）　大黃（一錢）　白芥子（三錢）　靈脂（三錢）　香附（三錢）</p>
<p>歌曰：脅下緣何痛一偏，氣痰與血積經年。</p>
<p>辛軍附芥同香附，靈脂加來喜破堅。</p>
<h4>腰中</h4>
<p>［總訣］腰為腎竅宜補溫，濕著血瘀皆令疼。亦有痛連肩背者，太陽經病討根源。</p>
<p>腰間沉痛，如帶五千錢重者，腎經受寒濕也。宜時方腎著湯。</p>
<p>乾薑（三錢）　白本（三錢）　雲苓（五錢）　甘草（二錢）</p>
<p>歌曰：腎著腰疼若帶錢，薑苓白朮草梢連。</p>
<p>除寒利濕無他術，漫道時方力不全。</p>
<p>（伯未按：《三因方》原注「如大便泄者，加蒼朮、陳皮、丁香」。）</p>
<p>腰痛難忍，有如刀錐刺割者，瘀血積腰際也。宜鹿角利腰湯。</p>
<p>鹿角（三錢）　歸尾（三錢）　白芍（三錢）　丹皮（三錢）　紅花（一錢）　牛膝（二錢）　續斷（三錢）</p>
<p>歌曰：腰疼難忍似錐刀，歸芍丹皮等分熬。</p>
<p>鹿角紅花同續斷，再加牛膝煮成膏。</p>
<p>腰痛軟弱，或兼小便不利者，虛勞腎氣弱也。宜金匱腎氣丸。</p>
<p>熟地（四錢）　山藥（三錢）　雲苓（三錢）　附子（三錢）　安桂（一錢）　澤瀉（三錢）　丹皮（三錢）　山茱萸（三錢）</p>
<p>歌曰：腰疼軟弱腎元虛，桂附丹萸藥籠儲。</p>
<p>山藥雲苓兼澤瀉，地黃滋補漸寬舒。</p>
<p>（伯未按：可用陳酒煮豬腰子啖之，或加杜仲、續斷亦佳。一方用核桃肉四兩、補骨脂一兩同搗，日食三四錢。）</p>
<p>腰痛連背，或兼寒熱頭痛者，風寒襲太陽也。宜人參敗毒散。</p>
<p>羌活（一錢）　獨活（一錢）　柴胡（二錢）　前胡（二錢）　川芎（八分）　枳殼（一錢）　沙參（二錢）　桔梗（二錢）　杏仁（三錢）　茯苓（三錢）　甘草（一錢）　生薑（三片）　大棗（二枚）　葛根（三錢）</p>
<p>歌曰：頭疼腰痛總因風，藥用人參敗毒攻。</p>
<p>二活柴前芎枳桔，苓甘葛棗杏薑通。</p>
<p>腰痛溺赤，或兼曲而不伸者，陰虛筋骨縮也。宜加味補陰丸。</p>
<p>生地（三錢）　知母（二錢）　黃柏（二錢）　龜板（炙，三錢）　續斷（三錢）　山茱萸（三錢）　丹皮（二錢）　葳蕤（二錢）　竹茹（一錢）　牛膝（一錢）　鹿角屑（一錢）</p>
<p>歌曰：腰痛緣何曲不伸，陰虛筋縮地宜生。</p>
<p>丹皮續斷知萸柏，龜鹿茹蕤牛膝行。</p>
<h4>手臂</h4>
<p>［總訣］手為四末屬脾經，兩掌中心屬少陰。厥熱兩條須辨治，熱潮時節要分明。</p>
<p>手發厥冷，或兼泄利清穀者，脾腎之虛寒也。宜附子理中湯。</p>
<p>乾薑（三錢）　附子（三錢）　黨參（三錢）　白朮（三錢）　甘草（炙，二錢）</p>
<p>歌曰：脾腎虛寒手冷僵，不離術附與乾薑。</p>
<p>再加參草調中胃，四末陽回正氣昌。</p>
<p>手發潮熱，兼見譫語舌黑者，胃中有燥屎也。宜調胃承氣湯。</p>
<p>枳殼（二錢）　朴硝（三錢）　大黃（二錢）　厚朴（二錢）　甘草（一錢）</p>
<p>歌曰：手熱還同譫語增，胃中燥屎有明征。</p>
<p>草梢枳朴能調胃，加入硝黃氣可承。</p>
<p>手心發熱，多在入夜以後者，瘀血在陰分也。宜四物化瘀湯。</p>
<p>生地（三錢）　當歸（三錢）　川芎（一錢）　白芍（三錢）　丹皮（三錢）　桃仁（三錢）　荊芥（炒，二錢）　麥冬（三錢）　桑葉（三錢）　浮麥（三錢）　竹葉（三錢）　燈心（一錢）　蒲黃（二錢）　地骨皮（二錢）</p>
<p>歌曰：手心夜熱地歸芎，化血桃丹芍芥同。</p>
<p>桑竹全蒲燈草心，麥冬浮麥養陰崇。</p>
<p>手腕疼痛，或兼身痛拘急者，風、寒、濕合痹也。宜五物逐瘀湯。</p>
<p>桂枝（二錢）　當歸（三錢）　黃　（二錢）　苡仁（三錢）　甘草（一錢）　生薑（三片）</p>
<p>歌曰：手及身疼風濕痹，逐瘀湯內用　歸。</p>
<p>苡能除濕甘能緩，再入生薑與桂枝。</p>
<p>（伯未按：可加薑黃、秦艽各二錢。）</p>
<p>手心發熱，必在午飯以後者，脾胃停飲食也。宜加味平脾湯。</p>
<p>蒼朮（二錢）　厚朴（二錢）　陳皮（二錢）　甘草（一錢）　神麯（二錢）　白芍（二錢）　酒軍（一錢）</p>
<p>歌曰：手心飯後熱脾傷，蒼朮陳皮厚朴良。</p>
<p>再入草梢同建曲，酒軍白芍細推詳。</p>
<p>手腕麻木，通腕皆痛不仁者，血虛生風濕也。宜養血消風湯。</p>
<p>當歸（三錢）　白芍（三錢）　川芎（一錢）　秦艽（二錢）　苡仁（二錢）　桑皮（二錢）　竹茹（二錢）　僵蠶（二錢）　紅花（一錢）　荊芥（一錢）　續斷（二錢）　生地（三錢）　鉤藤（二錢）　清酒（一杯）</p>
<p>歌曰：血虛腕痛總因風，和血艽歸地芍芎。</p>
<p>苡竹桑藤蠶作引，紅花芥續酒煎同。</p>
<p>（伯未按：大活絡丹亦可服。）</p>
<h4>腳腿</h4>
<p>［總訣］足居下部腎之分，又屬陽明灌大筋。寒熱腫疼依法治，總於胃腎問原因。</p>
<p>腳冷厥逆，或兼下利清穀者，脾腎之虛寒也，宜加味四逆湯。</p>
<p>乾薑（二錢）　附片（三錢）　甘草（二錢）　白朮（三錢）　茯苓（三錢）</p>
<p>歌曰：洞瀉脾虛腎亦虛，陽微足冷厥難舒。</p>
<p>茯苓朮草和中胃，薑附回陽暖氣噓。</p>
<p>腳發熱厥，夜睡不欲被復者，腎中真陰虛也。宜六味地黃丸。</p>
<p>熟地（五錢）　山萸（三錢）　山藥（四錢）　茯苓（三錢）　丹皮（三錢）　澤瀉（三錢）</p>
<p>歌曰：夜中足熱腎陰虧，苓地山萸澤瀉宜。</p>
<p>山藥滋陰當重用，再加涼血牡丹皮。</p>
<p>腳跗腫大，青白如蠶明亮者，寒濕之氣注也。宜神仙雞鳴散。</p>
<p>吳萸（二錢）　蒼朮（二錢）　紫蘇（二錢）　生薑（三錢）　苡仁（三錢）　木瓜（二錢）　陳皮（二錢）　檳榔（一錢）　桔梗（二錢）　雲苓（三錢）</p>
<p>歌曰：腳腫皮光白似蠶，吳萸蒼朮苡瓜探。</p>
<p>檳榔陳桔薑蘇入，除濕雲苓性要參。</p>
<p>（伯未按：當在五更時冷服，故名「雞鳴」。）</p>
<p>腳跗赤腫，以及生瘡潰爛者，濕熱之下注也，宜蒼朮知母湯。</p>
<p>蒼朮（二錢）　知母（三錢）　白朮（二錢）　雲苓（二錢）　黃芩（二錢）　白芍（二錢）　續斷（二錢）　秦皮（二錢）　茵陳（二錢）　桑皮（二錢）　地骨皮（二錢）　甘草（一錢）　防己（一錢五分）</p>
<p>歌曰：足跟赤腫或生瘡，二術三皮知芍匡。</p>
<p>苓續茵陳防己入，枯芩甘草共清涼。</p>
<p>腳痛瘦削，無論干枯發熱者，肝肺之痿弱也。宜去痿治血湯。</p>
<p>生地（三錢）　當歸（三錢）　元參（二錢）　白芍（二錢）　杏仁（二錢）　丹皮（二錢）　麥冬（三錢）　知母（二錢）　膽草（二錢）　秦艽（二錢）</p>
<p>歌曰：腳疼瘦削屬痿痹，藥用元參歸地施。</p>
<p>杏芍麥冬知共膽，秦艽再入牡丹皮。</p>
<p>婦人腳心疼痛，如刀錐刺者，少陰經瘀血也。宜仲景溫經湯。</p>
<p>當歸（三錢）　白芍（二錢）　阿膠（二錢）　川芎（一錢）　桂枝（二錢）　丹皮（三錢）　麥冬（四錢）　半夏（二錢）　人參（二錢）　吳萸（一錢）</p>
<p>甘草（一錢）　生薑（三片）</p>
<p>歌曰：腳底煩疼痛似錐，婦人瘀血用丹皮。</p>
<p>歸芎膠芍同薑桂，參草吳萸冬夏施。</p>
<h4>前陰</h4>
<p>［總訣］男女前陰總屬肝，肝經縈繞在其端。氣摶濕熱求真訣，按法施方本已探。</p>
<p>前陰癢濕，以及赤腫生瘡者，肝經之濕熱也。宜龍膽瀉肝湯。</p>
<p>膽草（二錢）　澤瀉（二錢）　車前（二錢）　甘草（一錢）　梔子（二錢）　木通（一錢）　柴胡（一錢）　生地（三錢）　當歸（二錢）　黃芩（三錢）</p>
<p>歌曰：前陰癢濕總醫肝，歸地柴芩梔草攢。</p>
<p>前澤木通和膽草，濕除熱退治何難。</p>
<p>陰囊脹結，痛引小腹以內者，肝經之疝氣也。宜茴香五苓散。</p>
<p>小茴（二錢）　荔核（二錢）　橘核（一錢）　楝核（一錢）　歸尾（三錢）　香附（三錢）　白朮（二錢）　台烏藥（二錢）　豬苓（二錢）　澤瀉（二錢）　桂尖（一錢）　檳榔（一錢）　雲苓（三錢）　白芍（二錢）</p>
<p>歌曰：陰囊脹結用茴香，歸芍雲苓香附匡。</p>
<p>白朮烏藥豬共澤，荔枝楝橘與檳榔。</p>
<p>（伯未按：方中酌加柴胡錢半。）</p>
<p>前陰暴縮，或兼轉筋入腹者，肝腎之虛寒也。宜加味四逆湯。</p>
<p>乾薑（二錢）　附子（二錢）　烏頭（炮，一錢）　當歸（三錢）　人參（二錢）　雲苓（三錢）　甘草（炙，二錢）</p>
<p>歌曰：前陰暴縮總虛寒，薑附烏頭急與餐。</p>
<p>苓草參歸仍共濟，不難填腎與溫肝。</p>
<p>陰囊縮入，兼見舌卷心熱者，肝經之熱邪也。宜生犀瀉肝湯。</p>
<p>生地（三錢）　犀角（二錢）　白芍（三錢）　大黃（一錢）　當歸（二錢）　知母（三錢）　蓯蓉（三錢）</p>
<p>歌曰：陰囊縮入舌兼收，地芍犀黃要急投。</p>
<p>知母當歸清血熱，蓯蓉加入病能瘳。</p>
<p>陰莖蟲蝕，以及婦人陰蝕者，古之狐惑病也。宜外洗苦參湯。</p>
<p>苦參、雄黃煎洗（亦可內服龍膽瀉肝湯）。</p>
<p>歌曰：陰莖蟲蝕瀉肝湯，龍草柴芩歸地良。</p>
<p>前澤木通和膽草，苦參外洗合雄黃。</p>
<h4>後陰</h4>
<p>［總訣］後陰肛脫乃為虛，以外俱將實證醫。大抵燥金多燥熱，即從燥氣定權輿。</p>
<p>後陰脫出，屎後良久乃入者，中氣下陷故也。宜補中益氣湯。</p>
<p>黨參（三錢）　白朮（三錢）　黃　（三錢）　當歸（二錢）　大棗（三枚）　柴胡（一錢）　升麻（二錢）生薑（三片）　甘草（炙，一錢）　陳皮（一錢）</p>
<p>歌曰：脫肛氣陷用柴升，參朮歸　薑草增。</p>
<p>大棗陳皮調胃劑，補中益氣服之靈。</p>
<p>（伯未按：升麻宜醋炒，若小兒脫肛，鱉頭燒灰敷之。）</p>
<p>後陰瘡痔，一切腫痛諸苦者，陽明之血燥也。宜麻仁地榆湯。</p>
<p>麻仁（三錢）　地榆（三錢）　當歸（三錢）　白芍（二錢）　杏仁（二錢）　銀花（一錢）　黃芩（三錢）　黃連（一錢）　槐實（二錢）　桔梗（一錢）　生地（三錢）　牛蒡子（二錢）</p>
<p>歌曰：和血能將痔漏除，槐榆歸芍總當儲。</p>
<p>芩連牛蒡同麻杏，地桔銀花燥熱祛。</p>
<h4>大便</h4>
<p>［總訣］大便無分結與溏，只將寒熱細評章。至於痢證尤難治，還望醫師妙主張。</p>
<p>大腸不通，口渴而小便黃者，陽明之燥結也。宜加味承氣湯。</p>
<p>生地（三錢）　花粉（三錢）　大黃（二錢）　芒硝（一錢）　枳殼（一錢）　厚朴（二錢）　甘草（一錢）</p>
<p>歌曰：陽明燥結便難通，口渴硝黃枳朴攻。</p>
<p>甘草兼能清胃火，生津花粉地黃同。</p>
<p>大便不通，口和而小便清者，脾寒氣凝結也。宜加味理中湯。</p>
<p>當歸（三錢）　白芍（炒，三錢）　人參（二錢）　白朮（二錢）　乾薑（一錢）</p>
<p>甘草（一錢）</p>
<p>歌曰：小便清和大便難，歸參薑朮治脾寒。</p>
<p>再加白芍和甘草，氣順腸通腹自寬。</p>
<p>大便溏泄，其色青白完穀者，脾經寒濕氣也。宜加味胃苓湯。</p>
<p>蒼朮（二錢）　陳皮（二錢）　甘草（炙，一錢）　茯苓（三錢）　桂枝（二錢）　附子（二錢）　大棗（四枚）　白朮（三錢）　黨參（二錢）　豬苓（二錢）　澤瀉（二錢）　肉蔻（一錢）　乾薑（一錢）</p>
<p>白芍（二錢）</p>
<p>歌曰：大便溏時穀尚完，總宜桂附蔻薑攢。</p>
<p>二苓二術和陳朴，棗芍熬同澤草餐。</p>
<p>（伯未按：久瀉不愈，生蔥杵爛，入黃丹為丸如豆大，填臍中。）</p>
<p>大便溏瀉，其色濁垢膠膩者，腸中之濕熱也。宜清熱滌腸湯。</p>
<p>杏仁（三錢）　滑石（二錢）　木通（二錢）　厚朴（二錢）　黃芩（三錢）　車前子（一錢）　梔子（二錢）　綠豆（三錢）　甘草（二錢）　澤瀉（二錢）　生地（三錢）　白芍（三錢）　黃連（二錢）　當歸（二錢）</p>
<p>歌曰：便溏濁垢法當清，杏芍芩連綠豆烹。</p>
<p>歸地黃前同滑澤，甘和梔朴煮湯成。</p>
<p>大便溏瀉，必在五更時分者，腎寒而侮脾也。宜加味四神丸。</p>
<p>附子（二錢）　肉蔻（二錢）　白朮（三錢）　雲苓（三錢）　大棗（四枚）　甘草（炙，一錢）</p>
<p>吳萸（二錢）　乾薑（一錢）　人參（三錢）　五味（一錢）</p>
<p>生薑（三片）　粟殼（一錢）</p>
<p>歌曰：五更瀉泄附薑投，參朮吳萸甘棗收。</p>
<p>肉蔻味苓薑粟殼，腸鳴無復水幽幽。</p>
<p>大便完穀，食入即刻利出者，肺熱而暴注也。宜瀉肺止利湯。</p>
<p>黃芩（二錢）　知母（三錢）　黃連（二錢）　大黃（一錢）　石膏（三錢）　桔梗（一錢）　葛根（二錢）　桑皮（二錢）　人參（二錢）　生地（三錢）　白芍（二錢）　粟殼（一錢）</p>
<p>歌曰：莫將完穀認虛寒，協熱偏宜知地餐。</p>
<p>參芍芩連桑與葛，大黃粟殼桔膏攢。</p>
<p>便瀉赤白，下部逼脹難通者，濕熱鬱為痢也。宜加減芍藥湯。</p>
<p>柴胡（一錢）　當歸（二錢）　白芍（三錢）　甘草（一錢）　檳榔（二錢）　葛根（三錢）　杏仁（三錢）　桔梗（二錢）　木香（二錢）　黃芩（二錢）　黃連（二錢）　綠豆（三錢）　銀花（一錢）　荷葉（二錢）</p>
<p>歌曰：痢症都緣濕熱侵，兼紅兼白用歸芩。</p>
<p>檳榔銀葛香柴芍，杏草連荷桔豆尋。</p>
<p>（伯未按：用陳紅茶葉、山楂炭、紅白沙糖各三錢，煨薑一錢，極簡效。）</p>
<p>便痢純赤，或見口渴溺赤者，熱結在血分也。宜地榆白頭湯。</p>
<p>黃連（二錢）　黃芩（二錢）　黃柏（二錢）　秦皮（三錢）　地榆（二錢）　白頭翁（三錢）　當歸（二錢）　白芍（三錢）　銀花炭（一錢）　丹皮（二錢）</p>
<p>歌曰：紅痢當從血分醫，丹秦榆柏芍歸隨。</p>
<p>白頭翁與芩連共，再入銀花病自離。</p>
<p>（伯未按：或用一味白頭翁煎服，或用鴉膽子七粒，桂圓肉包，吞服。）</p>
<p>下痢純白，但見裡急下重者，熱鬱在氣分也。宜膏芩清痢散。</p>
<p>黃芩（二錢）　石膏（二錢）　兜鈴（二錢）　防己（二錢）　銀花（二錢）　知母（三錢）　杏仁（三錢）　滑石（二錢）　枳殼（一錢）　荷梗（三錢）　芍藥（三錢）　甘草（一錢）</p>
<p>歌曰：痢如純白治如何，膏杏銀防枳與荷。</p>
<p>滑草兜鈴知共芍，服之病氣漸調和。</p>
<p>下痢禁口，其人飲食不納者，邪熱傷中氣也。宜人參開禁湯。</p>
<p>人參（三錢）　黃連（二錢）　黃芩（三錢）　石膏（三錢）　知母（三錢）　連翹（二錢）　木香（一錢）花粉（三錢）　麥冬（三錢）　桔梗（一錢）　葛根（二錢）　銀花（一錢）　荷梗（二錢）　甘草（一錢）</p>
<p>歌曰：禁口多緣津液枯，膏冬參粉極滋濡。</p>
<p>銀翹葛根芩連共，知桔香荷甘草俱。</p>
<p>大便久痢，諸藥不能禁止者，寒熱之錯雜也，宜薑連四神丸。</p>
<p>乾薑（二錢）　黃連（二錢）　烏梅（四枚）　白芍（三錢）　甘草（一錢）</p>
<p>歌曰：久痢諸湯治不靈，薑連梅芍草梢增。</p>
<p>症兼寒熱宜斟酌，漫借經方炫己能。</p>
<h4>小便</h4>
<p>［總訣］三焦決瀆為出路，肺主通調脾轉布。但治小腸與膀胱，世人那得知其故。</p>
<p>小便赤短，別無外證內傷者，小腸經火氣也。宜加味導赤散。</p>
<p>生地（三錢）　木通（二錢）　草梢（一錢）　竹葉（一錢）　滑石（二錢）　山梔（三錢）　黃芩（三錢）</p>
<p>歌曰：小便緣何見赤黃，木通甘草地芩詳。</p>
<p>山梔竹葉同鍋煮，滑石煎湯病即康。</p>
<p>（伯未按：以銀花、生地及通天草代飲，輕者亦能已。）</p>
<p>小便白濁，甚則盡如米飲者：脾經之濕氣也。宜萆　釐清飲。</p>
<p>萆　（一錢）　菖蒲（二錢）　甘草（一錢）　益智（二錢）　烏藥（三錢）　神麯（一錢）　青鹽（五分）</p>
<p>歌曰：脾經濕氣犯膀胱，小便雖通濁似漿。</p>
<p>萆　菖蒲鹽曲共，草梢烏藥智仁匡。</p>
<p>（伯未按：宜少食油類。）</p>
<p>小便短澀，每溺則澀而痛者，膀胱之熱淋也。宜車前五淋散。</p>
<p>當歸（三錢）　白芍（三錢）　赤苓（三錢）　梔仁（三錢）　甘草（一錢）　燈心（三分）　車前子（二錢）</p>
<p>歌曰：熱結膀胱用五淋，莖中痛澀芍歸尋。</p>
<p>車前甘草山梔共，赤茯苓加燈草心。</p>
<p>小便不通，點滴俱不能出者，膀胱之熱結也。宜滋腎通關丸。</p>
<p>黃柏（三錢）　知母（三錢）　安桂（三分）</p>
<p>歌曰：膀胱熱結便殊艱，知柏滋陰豈等閑。</p>
<p>安桂少加為反佐，蜜丸湯下號通關。</p>
<p>小便帶血，或兼莖中割痛者，熱動胞中血也。宜加味五苓散。</p>
<p>當歸（三錢）　赤芍（二錢）　甘草（一錢）　牛膝（一錢）　鬱金（一錢）　生地（三錢）　膽草（一錢）　白芍（三錢）　梔仁（二錢）　燈心（五分）　桃仁（三錢）　木通（一錢）　車前子（一錢）　麝香（三厘）</p>
<p>歌曰：小便緣何帶血絲，桃歸二芍鬱金施。</p>
<p>地前通膽梔和麝，牛膝燈心甘草隨。</p>
<p>（伯未按：生地汁、茅根汁和服，亦有效。）</p>
<p>小便不通，諸藥俱不效驗者，氣道迫塞故也。宜通氣麻杏湯。</p>
<p>麻黃（七分）　杏仁（三錢）　甘草（一錢）</p>
<p>歌曰：小便難通治法窮，麻黃甘杏奏奇功。</p>
<p>只緣氣道多堅阻，透達元陽水自融。</p>
<p>（伯未按：當予導尿。）</p>
<p>小便過多，以及遺溺不禁者，膀胱與腎寒也。宜附子溫腎丸。</p>
<p>附子（二錢）　安桂（一錢）　熟地（三錢）　山萸（三錢）　白朮（三錢）　青鹽（五分）</p>
<p>歌曰：小便嫌多腎要溫，山萸桂附術鹽吞。</p>
<p>加來熟地兼滋補，遺溺方須究本原。</p>
<p>（伯未按：初期可買縮泉丸，吞服三錢。）</p>
<h2>卷二</h2>
<h3>證治</h3>
<h4>寒熱</h4>
<p>［總訣］寒熱陰陽朕兆機，互根互換理難知。或虛或實分真假，表裡能明乃可醫。</p>
<p>發熱惡寒，皮毛洒淅無汗者，風寒閉膚表也。宜原方麻黃湯。</p>
<p>麻黃（七分）　桂枝（二錢）　杏仁（三錢）　甘草（一錢）</p>
<p>歌曰：惡寒發熱汗無流，麻桂經方仔細求。</p>
<p>杏助麻黃甘助桂，皮毛洒淅此方投。</p>
<p>（伯未按：余家遇感冒不服藥，購防風五錢，紫蘇五錢，荊芥五錢，薄荷三錢，洗湯蒙首熏，待背上汗出，口流冷涎，即已。）</p>
<p>發熱惡風，翕翕然而自汗者，風寒襲腠裡也。宜原方桂枝湯。</p>
<p>桂枝（二錢）　白芍（三錢）　甘草（炙，二錢）　大棗（四枚）　生薑（三片）</p>
<p>歌曰：熱兼汗出忌風吹，湯用生薑及桂枝。</p>
<p>芍棗和甘營氣順，解肌還賴粥漿隨。</p>
<p>但熱不寒，口乾舌燥便黃者，陽明之燥熱也。宜原方白虎湯。</p>
<p>石膏（三錢）　知母（三錢）　甘草（一錢）　粳米（二錢）</p>
<p>歌曰：但熱無寒小便黃，口乾舌燥渴難當。</p>
<p>知膏粳草生津液，白虎原方仔細詳。</p>
<p>但寒不熱，並無燥渴等證者，少陰之陽虛也。宜長沙附子湯。</p>
<p>附子（二錢）　白朮（三錢）　人參（二錢）　雲苓（三錢）　甘草（一錢）</p>
<p>歌曰：但寒無熱少陰虛，朮附回陽體自舒。</p>
<p>甘草參苓俱補氣，氣和身暖病能除。</p>
<p>皮膚發熱，夜晚潮熱更甚者，陰血不濡陽也。宜當歸補血湯。</p>
<p>當歸（三錢）　生地（三錢）　黃　（二錢）　人參（二錢）　枯芩（三錢）　合歡皮（二錢）　山萸（三錢）　百合（三錢）　麥冬（三錢）　黃柏（二錢）　龜板（二錢）　慈竹葉（一錢　）</p>
<p>歌曰：皮膚發熱夜來增，滋補歸萸地合參。</p>
<p>柏龜芩冬合歡竹，黃　益氣液升騰。</p>
<p>子午發熱，睡後更覺盜汗者，虛勞骨蒸熱也。宜柴胡清蒸湯。</p>
<p>柴胡（一錢）　黃芩（三錢）　當歸（二錢）　白芍（三錢）　生地（三錢）　丹皮（一錢）　桃仁（二錢）　蒲黃（三錢）　膽草（二錢）　雲苓（三錢）　貝母（二錢）　杏仁（三錢）　甘草（一錢）　鱉甲（炙黃，二錢）</p>
<p>歌曰：盜熱常居子午時，夜來更甚用丹皮。</p>
<p>桃蒲歸芍柴芩地，膽鱉甘苓貝杏施。</p>
<p>寒熱往來，發作有定時候者，少陽經瘧疾也。宜獨活黃芩湯。</p>
<p>獨活（五分）　黃芩（三錢）　知母（三錢）　柴胡（三錢）　羌活（五分）　花粉（三錢）　檳榔（一錢）　厚朴（一錢）　枳殼（一錢）　杏仁（三錢）　炒梔（三錢）　石膏（三錢）</p>
<p>歌曰：往來寒熱用柴芩，二活知膏杏枳尋。</p>
<p>花粉檳榔梔朴草，薄荷加入瘧難侵。</p>
<p>（伯未按：若瘧發三四次後，用柴胡、黃芩、常山、草果、生薑、大棗煎服即止。惟服時在瘧發前一小時。</p>
<p>又三陰瘧不愈者，以鵝卵於朔望日生者煮熟食，立已。）</p>
<p>朝發寒冷，入夜則又發熱者，陽氣陷入陰也。宜補中益氣湯。</p>
<p>人參（二錢）　白朮（三錢）　甘草（二錢）　陳皮（一錢）　茯苓（三錢）　黃　（一錢）　升麻（一錢）　當歸（三錢）　柴胡（一錢）　生薑（三片）　大棗（四枚）</p>
<p>歌曰：朝寒夜熱用升麻，再入參歸術草偕。</p>
<p>陳茯黃　薑共棗，補中能使氣和諧。</p>
<p>身熱面赤，下利清水完穀者，裡寒而外熱也。宜加味白通湯。</p>
<p>乾薑（二錢）　附子（二錢）　蔥白（五根）　甘草（一錢）　豬膽（一個）</p>
<p>歌曰：面紅身熱似陰虧，下利緣何穀未糜。</p>
<p>溫裡急需薑與附，蔥和膽草作湯醫。</p>
<p>身熱面赤，煩躁欲臥泥水者，陰甚而格陽也。宜益元艾附湯。</p>
<p>人參（二錢）　乾薑（二錢）　附子（二錢）　艾葉（一錢）　白朮（二錢）　茯苓（三錢）　黃連（一錢）　甘草（一錢）　知母（三錢）　五味（一錢）　故紙（二錢）　香附（一錢）</p>
<p>歌曰：熱煩欲臥水泥中，陰甚需參薑附攻。</p>
<p>互用知連冬味草，苓蔥紙艾性溫通。</p>
<p>春月發熱，氣喘而口乾渴者，感風熱之氣也。宜加減麻杏湯。</p>
<p>杏仁（三錢）　麻黃（八分）　石膏（三錢）　甘草（一錢）　僵蠶（三錢）　知母（三錢）　花粉（三錢）連翹（二錢）　銀花（二錢）　白芍（三錢）　蟬蛻（七個）　菊花（一錢）　牛蒡子（一錢）</p>
<p>歌曰：渴兼發熱在春天，麻杏知膏急與煎。</p>
<p>花粉銀翹牛蒡菊，再加芍草共蠶蟬。</p>
<p>夏月發熱，口渴而心煩懊者，傷暑熱之氣也。宜加味六一散。</p>
<p>炒梔（三錢）　麥冬（二錢）　滑石（三錢）　甘草（一錢）　黃芩（二錢）　花粉（三錢）　杏仁（三錢）　香薷（一錢）　厚朴（二錢）　木通（二錢）　石膏（三錢）　荊芥（一錢）　知母（三錢）　銀花（二錢）</p>
<p>歌曰：夏天熱渴暑為殃，滑草梔冬芩粉詳。</p>
<p>通朴杏薷膏合芥，銀花知母性清涼。</p>
<h4>嘔吐</h4>
<p>［總訣］寒熱陰陽細品詳，總因氣逆嘔斯生。降沖安胃開邪拒，氣不奔騰嘔自平。</p>
<p>嘔吐不食，水飲不得入口者，火熱相拒隔也。宜人參乾薑湯。</p>
<p>人參（三錢）　黃連（三錢）　黃芩（三錢）　乾薑（五分）</p>
<p>歌曰：嘔時拒隔水難嘗，多用芩連少用薑。</p>
<p>惟有人參能養液，主方重使卻無妨。</p>
<p>嘔吐能食，食入即時吐出者，兩熱相爭沖也。宜酒蒸大黃湯。</p>
<p>大黃（三錢）　甘草（一錢）</p>
<p>歌曰：嘔吐雖能納水漿，即時吐出胃脾傷。</p>
<p>只緣兩熱相爭競，酒水同烹草與黃。</p>
<p>食久乃吐，兼見大腹脹滿者，脾經乏火化也。宜薑附六君湯。</p>
<p>人參（二錢）　白朮（三錢）　雲苓（三錢）　甘草（一錢）　半夏（二錢）　陳皮（一錢）　乾薑（一錢）　附子（二錢）</p>
<p>歌曰：食飯經時嘔吐頻，更兼腹滿病原真。</p>
<p>人參附片薑和術，半夏雲苓甘與陳。</p>
<p>食久乃吐，兼見胸前脹滿者，胃府之虛寒也。宜香砂養胃湯。</p>
<p>木香（二錢）　砂仁（二錢）　白朮（二錢）　雲苓（三錢）　陳皮（一錢）　半夏（二錢）</p>
<p>人參（二錢）　甘草（一錢）　大棗（四枚）　生薑（三片）</p>
<p>歌曰：食久胸前脹滿增，香砂治嘔有奇能。</p>
<p>參苓棗夏俱同煮，朮草薑陳也共蒸。</p>
<p>食久乃吐，吐出多帶水液者，腎部之虛寒也。宜仲景真武湯。</p>
<p>白朮（三錢）　雲苓（三錢）　白芍（三錢）　生薑（三片）　附子（三錢）</p>
<p>歌曰：腎寒嘔吐水津多，朮芍雲苓薑附科。</p>
<p>薑附散寒為主藥，朮苓平胃共調和。</p>
<p>（伯未按：若嘔吐苦水，或酸水，或綠水，而不能飲食者，吳萸，黃連濃煎，緩咽。）</p>
<p>食久乃吐，吐出多帶酸水者，肝藏有寒熱也。宜仲景烏梅丸。</p>
<p>烏梅（三個）　人參（二錢）　黃柏（二錢）　黃連（二錢）　當歸（三錢）　乾薑（一錢）　細辛（五分）　桂枝（一錢）　附子（二錢）　花椒（一錢）</p>
<p>（伯未按：蜀刻本作「宜吳茱萸原方」，方用吳萸、生薑、人參、大棗。）</p>
<p>歌曰：食已經時吐帶酸，梅連桂附善平肝。</p>
<p>薑辛椒柏當歸研，再入人參裹作丸。</p>
<p>單吐痰涎，或兼咳嗽頭痛者，胃中有痰飲也。宜加味二陳湯。</p>
<p>陳皮（二錢）　半夏（二錢）　雲苓（三錢）　甘草（一錢）　生薑（三片）　竹瀝（一勺）</p>
<p>黃芩（三錢）</p>
<p>（伯未按：蜀刻本無黃芩。）</p>
<p>歌曰：單吐痰涎用二陳，夏陳苓草竹薑勻。</p>
<p>黃芩加入兼清熱，熱淨痰除效若神。</p>
<p>單吐酸水，或兼頭痛如破者，肝寒氣上逆也。宜加味左金丸。</p>
<p>吳萸（二錢）　黃連（一錢）　人參（二錢）　雲苓（三錢）　細辛（五分）　苡仁（三錢）</p>
<p>歌曰：單吐酸宜用左金，參苓細苡共連尋。</p>
<p>辛溫獨取吳萸性，肝氣平時病不侵。</p>
<p>（伯未按：一味吳萸濃煎服亦效，肉桂粉亦佳。）</p>
<p>嘔吐不止，兼見腹痛下利者，脾氣之虛脫也。宜附子理中湯。</p>
<p>附子（二錢）　白朮（三錢）　人參（二錢）　甘草（一錢）　乾薑（一錢）</p>
<p>歌曰：吐兼下利責脾虛，參草和中是急需。</p>
<p>附術乾薑仍合用，理中湯服病當除。</p>
<p>嘔吐發熱，或兼口苦胸滿者，少陽之逆氣也。宜原方柴胡湯。</p>
<p>黃芩（三錢）　柴胡（一錢）　人參（二錢）　生薑（三片）　半夏（三錢）　甘草（一錢）　大棗（四枚）</p>
<p>歌曰：吐兼發熱用柴芩，只為三焦逆氣侵。</p>
<p>夏草薑參同大棗，長沙舊法細推尋。</p>
<p>卒然嘔吐，兼見發悶惡心者，感瘴厲異氣也。宜藿香正氣散。</p>
<p>白朮（三錢）　半夏（三錢）　雲苓（三錢）　白芷（二錢）　腹皮（二錢）　生薑（三片）　砂仁（二錢）　厚朴（一錢）　陳皮（一錢）　桔梗（一錢）　紫蘇（一錢）　藿香（一錢）　甘草（一錢）　大棗（四枚）</p>
<p>歌曰：卒吐還兼發惡心，瘴鄉芷朴急當尋。</p>
<p>術苓夏腹砂陳桔，藿草薑蘇棗共斟。</p>
<h4>咳嗽</h4>
<p>［總訣］肺氣如鐘撞則鳴，或痰或血治須分。再加和胃疏肝法，咳血之原即此尋。</p>
<p>外感咳嗽，吐痰清白而涎者，傷寒有水氣也。宜小青龍原方。</p>
<p>桂枝（二錢）　半夏（三錢）　麻黃（七分）　甘草（一錢）　乾薑（一錢）　細辛（五分）　白芍（二錢）　五味（一錢）</p>
<p>歌曰：傷寒咳嗽吐痰清，五味薑辛一劑烹。</p>
<p>夏芍麻黃同桂草，長沙遺法貴研精。</p>
<p>外感咳嗽，吐痰黃色而黏者，傷風動火氣也。宜新方麥冬湯。</p>
<p>麥冬（三錢）　黃芩（二錢）　桔梗（一錢）　桑皮（二錢）　栝蔞（三錢）　杏仁（三錢）　貝母（三錢）　柴胡（二錢）　雲苓（三錢）　紫菀（二錢）　薄荷（一錢）　花粉（三錢）　枳殼（一錢）　甘草（一錢）</p>
<p>歌曰：咳嗽痰黏風火傷，冬芩桑桔與瓜霜。</p>
<p>枳荷貝杏同花粉，紫菀柴苓甘草詳。</p>
<p>（伯未按：荸薺、蘿卜汁二兩燉溫，分二次飲，頗驗。）</p>
<p>久咳上氣，痰涎多而聲易者，肺腎之陽虛也。宜加味真武湯。</p>
<p>白朮（三錢）　雲苓（三錢）　白芍（三錢）　五味（七分）　附子（三分）　乾薑（二分）　細辛（五分）</p>
<p>歌曰：久咳痰多肺腎虧，薑辛五味總當知。</p>
<p>雲苓朮芍還加附，真武名湯治法推。</p>
<p>久咳上氣，聲干澀而痰凝者，肺腎之陰虛也。宜加味豬苓湯。</p>
<p>阿膠（二錢）　百合（三錢）　麥冬（三錢）　貝母（一錢）　澤瀉（二錢）　滑石（二錢）　豬苓（二錢）　五味（七分）　雲苓（三錢）　丹皮（二錢）　海粉（一錢）　生地（三錢）</p>
<p>歌曰：久咳聲干痰亦凝，陰虛膠味二苓增。</p>
<p>澤丹滑地冬和母，海粉還加百合蒸。</p>
<p>（伯未按：咳唾膿血，胸脹滿，此屬肺癰。用葶藶一錢，大棗四枚與服。或陳腌芥鹵飲之甚效。）</p>
<p>小兒咳嗽，連嗆數十余聲者，肝血之不和也。宜加味逍遙散。</p>
<p>當歸（二錢）　白芍（二錢）　雲苓（三錢）　柴胡（二錢）　煨薑（二錢）　薄荷（一錢）　丹參（二錢）　香附（二錢）　半夏（二錢）　黃芩（二錢）　五味（七分）　丹皮（一錢）　白朮（二錢）</p>
<p>甘草（一錢）</p>
<p>歌曰：小兒嗆咳用逍遙，薑薄柴芩味治標。</p>
<p>丹芍參歸香附草，朮和苓夏使痰銷。</p>
<p>婦人乾咳，由於經水不行者，衝任之氣逆也。宜變化柴胡湯。</p>
<p>柴胡（一錢）　香附（三錢）　元胡（二錢）　當歸（三錢）　丹皮（三錢）　雲苓（三錢）　貝母（三錢）黃芩（二錢）　麥冬（三錢）　牛膝（一錢）　桃仁（二錢）　法夏（二錢）　白芍（三錢）　甘草（一錢）</p>
<p>歌曰：婦人乾咳不行經，香附元胡芍共苓。</p>
<p>丹夏柴歸甘與貝，芩冬桃膝服之靈。</p>
<p>\喘［總訣］喘　二證本多痰，亦有虛時屬腎關。開口便言中氣弱，那知化氣水須捐。</p>
<p>氣緊喘促，鼻塞聲音不利者，風寒閉肺竅也。宜蘇子降氣湯。</p>
<p>蘇子（二錢）　半夏（一錢）　當歸（二錢）　陳皮（二錢）　生薑（二錢）　厚朴（一錢）　沉香（一錢）前胡（三錢）　柴胡（二錢）　甘草（一錢）</p>
<p>歌曰：喘促寒凝鼻不通，薑陳蘇子夏歸同。</p>
<p>柴前朴草沉香入，順氣除痰力量洪。</p>
<p>氣喘而促，審系呼出氣短者，內有停水飲也。宜二陳五苓散。</p>
<p>半夏（二錢）　五味（五分）　甘草（一錢）　陳皮（二錢）　白朮（二錢）　豬苓（二錢）　澤瀉（二錢）　雲苓（三錢）　桂尖（二錢）　細辛（五分）</p>
<p>歌曰：喘促多緣水飲停，當從出氣審情形。</p>
<p>甘陳夏味辛兼術，桂澤豬苓與茯苓。</p>
<p>氣喘而促，審系吸入氣短者，腎中之氣虛也。宜八味腎氣丸。</p>
<p>熟地（三錢）　山藥（二錢）　茯苓（三錢）　丹皮（三錢）　肉桂（一錢）　澤瀉（三錢）　山茱萸（二錢）　附子（炮，三錢）</p>
<p>歌曰：吸時氣短喘因虛，桂附丹萸藥籠儲。</p>
<p>山藥雲苓兼澤瀉，地黃滋補氣寬舒。</p>
<p>鼾有聲，喉中漉漉不利者，痰氣為寒阻也。宜破痰射干丸。</p>
<p>射干（二錢）　半夏（二錢）　陳皮（二錢）　百部（二錢）　冬花（二錢）　細辛（五分）　五味（五分）　乾薑（一錢）　貝母（二錢）　雲苓（三錢）　郁李（二錢）　枳殼（一錢）　皂角（打，一錢）</p>
<p>歌曰：喘　痰響總因寒，方用薑辛夏射干。</p>
<p>百部陳皮冬味合，貝苓皂郁枳同攢。</p>
<p>（伯未按：痰哮症可用漂淡陳海蜇及海帶煎湯，以生蘿卜搗汁和服。）</p>
<p>喘　氣逆，噫咳痰塞溺黃者，肺胃之火逆也。宜清熱降逆湯。</p>
<p>生地（三錢）　白芍（三錢）　石膏（三錢）　知母（三錢）　花粉（三錢）　射干（二錢）　甘草（一錢）　黃芩（二錢）　枳殼（一錢）　旋覆（二錢）　杏仁（三錢）　赭石（三錢）　硼砂（一錢）</p>
<p>歌曰：喘　痰塞溺兼黃，地芍知膏花粉詳。</p>
<p>草杏枳芩旋覆赭，硼砂加入射干良。</p>
<p>（伯未按：蜀刻本無黃芩。）</p>
<h4>失血</h4>
<p>［總訣］血隨氣布要循經，氣上因而血沸騰。降逆消瘀為妙訣，莫施補劑致癆蒸。</p>
<p>驟然吐血，兼見頭痛寒熱者，外感傷經脈也。宜麻黃芍藥湯。</p>
<p>藕節（二錢）　枯芩（一錢）　生地（二錢）　川芎（五分）　白芍（三錢）　當歸（三錢）　麻黃（八分）　丹皮（二錢）　香附（三錢）　麥冬（三錢）　杏仁（三錢）　蒲黃（一錢）　枳殼（一錢）　甘草（一錢）</p>
<p>歌曰：失血頭痛外感傷，藕芩地芍與麻黃。</p>
<p>歸芎香附丹蒲杏，枳草和冬煮與嘗。</p>
<p>吐血口渴，脈洪數而溺赤者，火熱傷陰分也。宜加味四生丸。</p>
<p>生地（三錢）　艾葉（一錢）　柏葉（三錢）　荷葉（三錢）　丹皮（三錢）　枯芩（三錢）</p>
<p>酒軍（七分）　知母（三錢）　花粉（三錢）　牛膝（一錢）　茅根（三錢）　馬通（即白馬屎一兩泡取水）</p>
<p>歌曰：脈洪失血渴難當，知地丹芩與大黃。</p>
<p>牛膝馬通花粉入，茅荷艾柏葉同嘗。</p>
<p>吐血口和，脈弦微而溺清者，陽虛而陰脫也。宜變化理中湯。</p>
<p>黨參（二錢）　黃　（二錢）　黑薑（八分）　甘草（一錢）　白芍（二錢）　白朮（二錢）</p>
<p>五味（五分）　當歸（三錢）　木香（一錢）　側柏（二錢）　醋艾（一錢）　馬通（即白馬屎一兩泡取水）</p>
<p>歌曰：脈微血脫溺還清，薑草參　芍共烹。</p>
<p>術味馬通歸柏艾，木香加入病能輕。</p>
<p>吐後口渴，血帶黑而腹痛者，瘀血積腹裡也。宜加味四物湯。</p>
<p>生地（三錢）　當歸（三錢）　川芎（一錢）　桃仁（研，三錢）　白芍（三錢）　大黃（一錢）　丹皮（三錢）　香附（三錢）　枳殼（一錢）　降香（一錢）</p>
<p>歌曰：血方吐過口旋干，腹痛瘀停歸地餐。</p>
<p>芎枳降香香附子，大黃加芍佐桃丹。</p>
<p>吐血之前，必先大發惡心者，血潮而凌心也。宜鬱金丹皮湯。</p>
<p>鬱金（二錢）　生地（三錢）　麥冬（三錢）　牛膝（二錢）　五味（七分）　丹皮（二錢）　炒梔（二錢）　當歸（二錢）　白芍（二錢）　玉竹（二錢）　棗仁（二錢）　知母（一錢）　木香（二錢）</p>
<p>朱砂（研沖服八分）</p>
<p>歌曰：吐血之前發惡心，木香知味芍歸尋。</p>
<p>朱砂牛地冬和棗，玉竹丹梔與鬱金。</p>
<p>（伯未按，鮮蠶豆葉、搗汁和陳皮酒燉溫服。）</p>
<p>先行咳嗽，然後得吐血證者，肺燥傷陰脈也。宜清燥和血湯。</p>
<p>生地（三錢）　麥冬（三錢）　百合（二錢）　五味（五分）　當歸（三錢）　貝母（二錢）　杏仁（三錢）　續斷（二錢）　藕節（二錢）　荊芥（一錢）　竹茹（二錢）　蒲黃（一錢）　紅花（五分）</p>
<p>降香（一錢）</p>
<p>歌曰：先行咳嗽血方來，地合歸冬杏貝裁。</p>
<p>續降芥茹同五味，紅花藕節與蒲灰。</p>
<p>（伯未按：枇杷葉膏可時沖服。）</p>
<p>先行吐血，然後得咳嗽證者，陰陽不相符也。宜調陰和陽湯。</p>
<p>當歸（二錢）　白芍（二錢）　生地（二錢）　阿膠（一錢）　五味（七分）　百合（二錢）　貝母（二錢）　杏仁（二錢）　沉香（五分）　牛膝（一錢）　白薇（二錢）　蒲黃（一錢）　牡蠣（二錢）</p>
<p>降香（一錢）</p>
<p>歌曰：先行吐血咳相隨，藥用阿膠地芍歸。</p>
<p>味合降沉和貝杏，蒲黃牡蠣膝兼薇。</p>
<p>吐血之後，肌肉魚鱗甲錯者，腹中有干血也。宜大黃　蟲丸。</p>
<p>大黃（一錢）　桃仁（一錢）　甘草（一錢）　虻蟲（炒，一錢）　蠐螬（一錢）　阿膠（一錢）　當歸（一錢）　炒荊芥（一錢）　水蛭（炒，二條）　蟲（炒，一錢）</p>
<p>歌曰：血干肌肉似魚鱗，蛭　螬虻效若神。</p>
<p>黃與膠歸分佐使，再加芥草與桃仁。</p>
<p>大便下血，其下在糞之前者，腸風瘡痔類也。宜赤豆加味散。</p>
<p>當歸（三錢）　地榆（三錢）　銀花（一錢）　防己（一錢）　麥冬（三錢）　牛蒡子（三錢）　丹皮（三錢）　白芍（二錢）　槐角（三錢）　棕灰（一錢）　杏仁（三錢）　黃柏（二錢）　甘草（一錢）</p>
<p>赤豆（芽，三錢）</p>
<p>歌曰：痔瘡下血用歸榆，赤豆銀防冬芍俱。</p>
<p>牛蒡棕槐丹杏共，寸冬黃柏草梢須。</p>
<p>大便下血，其下在糞之後者，肝脾不統血也。宜仲景黃土湯。</p>
<p>白朮（三錢）　附子（二錢）　炙草（二錢）　生地（三錢）　黃芩（二錢）　阿膠（二錢）　灶心土（三錢）</p>
<p>歌曰：肝脾失馭血違經，便後長流勢不停。</p>
<p>術附地芩膠共草，湯煎黃土服之靈。</p>
<p>通身汗血，甚則沾衣盡赤者，火甚而血溢也。宜加味六黃湯。</p>
<p>當歸（三錢）　黃連（二錢）　黃芩（三錢）　黃柏（二錢）　蟬蛻（一錢）　酒軍（一錢）　生地（三錢）　黃　（二錢）　熟地（三錢）　白芍（三錢）　竹茹（二錢）　杏仁（三錢）　甘草（一錢）　地骨皮（二錢）</p>
<p>歌曰：通身汗出血沾衣，兩地芩連芍與歸。</p>
<p>地骨竹茹蟬杏草，生軍　柏汗當稀。</p>
<p>鼻中流血，以及齒縫出血者，胃中之燥熱也。宜清涼甘露飲。</p>
<p>生地（三錢）　熟地（三錢）　麥冬（三錢）　天冬（三錢）　黃芩（三錢）　枳殼（一錢）　石斛（三錢）　茵陳（三錢）　藕節（三錢）　蒲黃（一錢）　牛膝（二錢）　甘草（一錢）　枇杷葉（去毛蜜炙，二錢）</p>
<p>歌曰：鼻中流血要清涼，芩枳茵陳兩地黃。</p>
<p>藕斛枇杷牛膝共，二冬和草煮成湯。</p>
<h4>遺精</h4>
<p>［總訣］夢中所見乃肝魂，魂不清兮夢不寧。若是陰精無夢泄，失於鎖鑰貴司門。</p>
<p>遺精有夢，或兼心煩善怒者，心肝之火邪也。宜龍膽清肝湯。</p>
<p>柴胡（一錢）　木通（一錢）　車前子（二錢）　炒梔（二錢）　當歸（二錢）　牡蠣（二錢）　遠志（一錢）　黃芩（二錢）　澤瀉（二錢）　生地（二錢）　膽草（二錢）　丹皮（一錢）　甘草（一錢）　燈心（一團）</p>
<p>歌曰：遺精有夢火為邪，前澤通柴梔地加。</p>
<p>芩膽蠣丹歸志草，燈心加入效堪夸。</p>
<p>遺精無夢，或兼陰頭寒冷者，腎元之陽虛也。宜加味天雄散。</p>
<p>天雄（三錢）　桂尖（二錢）　牡蠣（四錢）　龍骨（三錢）　白朮（四錢）　甘草（二錢）</p>
<p>歌曰：遺精無夢腎元虧，龍蠣天雄桂術隨。</p>
<p>甘草調和同補益，精神收斂病堪醫。</p>
<p>（伯未按：或就藥店購金櫻子膏，合金匱腎氣丸服之亦效。）</p>
<h4>言語</h4>
<p>［總訣］言屬心聲出肺關，心經痰火語言愆。若還肺竅嘶兼塞，升散開提病自安。</p>
<p>聲音閉塞，鼻窒而喉中緊者，會厭被寒侵也。宜麻黃杏仁湯。</p>
<p>麻黃（二錢）　杏仁（五錢）　甘草（二錢）</p>
<p>歌曰：寒閉聲音窒不通，只因會厭客邪攻。</p>
<p>須知解表無他法，惟有麻黃杏草雄。</p>
<p>言語不利，喉痹而咽生瘡者，肺經有痰火也。宜尖貝平肺散。</p>
<p>尖貝（二錢）　天冬（一錢）　麥冬（三錢）　百合（二錢）　兒茶（一錢）　牛黃（二厘）　薄荷（五分）　知母（一錢）　石膏（研，二錢）　杏仁（三錢）　冰糖（二錢）　甘草（五分）</p>
<p>歌曰：語言不利是喉痹，百合兒茶糖煮宜。</p>
<p>杏貝牛黃甘草共，二冬加石薄荷知。</p>
<p>聲音嘶小，喉干而舌不潤者，肺金不清利也。宜麥冬旋覆湯。</p>
<p>麥冬（三錢）　杏仁（三錢）　桔梗（二錢）　花粉（二錢）　旋覆（三錢）　知母（三錢）　生地（三錢）</p>
<p>桑葉（二錢）　甘草（一錢）</p>
<p>歌曰：咽喉不潤又聲嘶，旋覆蔞根杏桔齊。</p>
<p>知母寸冬生地草，再加桑葉進刀圭。</p>
<p>語言謇滯，唇緩而流涎沫者，脾經中風證也。宜資壽解語湯。</p>
<p>附子（二錢）　安桂（一錢）　防風（二錢）　羌活（一錢）　天麻（三錢）　棗仁（三錢）　甘草（二錢）　羚羊（一錢）　薑汁（一錢）　竹汁（一錢）</p>
<p>歌曰：語言謇滯口流涎，風中脾經薑竹煎。</p>
<p>桂附羌防同棗草，天麻羚角效如仙。</p>
<p>昏冒不語，遺溺直視足廢者，心腎經中風也。宜地黃飲子湯。</p>
<p>安桂（一錢）　蓯蓉（二錢）　熟地（三錢）　遠志（二錢）　五味（五分）　巴戟（二錢）　薄荷（五分）　附子（二錢）　雲苓（三錢）　麥冬（三錢）　菖蒲（七分）　山萸（二錢）　石斛（二錢）</p>
<p>枸杞（二錢）</p>
<p>歌曰：不語昏迷卒倒逢，溺遺直視用蓯蓉。</p>
<p>地苓桂附菖萸志，　味斛冬荷枸戟從。</p>
<p>狂言見鬼，舌黑而手足熱者，胃中有實熱也。宜三一承氣湯。</p>
<p>大黃（三錢）　芒硝（三錢）　枳殼（二錢）　甘草（一錢　）　厚朴（二錢）</p>
<p>歌曰：胃中實熱喜狂言，色黑都緣火氣燔。</p>
<p>見鬼休疑邪祟惑，硝黃枳朴草宜吞。</p>
<p>出言漫罵，或兼棄衣登高者，痰火迷心神也。宜礞石滾痰丸。</p>
<p>大黃（三錢）　黃芩（三錢）　沉香（末，一錢）　礞石（火硝炒，一錢）</p>
<p>歌曰：出言漫罵喜登高，礞石除痰力最豪。</p>
<p>芩佐大黃能降熱，沉香理氣未同熬。</p>
<p>出言顛倒，其人痴不識人者，痰入心而癲也。宜朱砂丹礬丸。</p>
<p>黃丹（炒，三錢）　白礬（　，三錢）　茶葉（二錢）　朱砂（三錢）　豬心血（五錢）</p>
<p>歌曰：出言顛倒系痴呆，礬研朱砂心竅開。</p>
<p>茶葉黃丹豬血裹，心包痰入此方推。</p>
<p>（伯未按：先將石菖蒲搗汁與飲。）</p>
<p>卒倒不言，牙關緊閉不開者，外邪之驟中也。宜吹鼻通關散。</p>
<p>細辛（三錢）　牙皂（三錢）</p>
<p>歌曰：卒倒牙關封閉嚴，語言難出效三緘。</p>
<p>急須牙皂同辛研，吹鼻通關效不凡。</p>
<p>卒倒作聲，有如羊犬等狀者，風痰發癇證也。宜加味二陳湯。</p>
<p>硼砂（一錢）　陳皮（一錢）　半夏（一錢）　雲苓（二錢）　甘草（一錢）　防風（二錢）　麝香（一厘）　竹茹（一錢）　白礬（七分）　枳殼（一錢）　生薑（一錢）　前胡（一錢）　枯芩（一錢）　鬱金（一錢）　當歸（一錢）　牛黃（三厘）</p>
<p>歌曰：卒倒聲如犬共羊，方宜陳夏草苓防。</p>
<p>硼礬芩枳薑前竹，歸郁牛黃與麝香。</p>
<h4>心神</h4>
<p>［總訣］心主神兮肝主魂，腎藏精氣外游行。此間治法猶難識，況挾長沙百合名。</p>
<p>心中大煩，舌黑而不得臥者，少陰之陽煩也。宜黃連阿膠湯。</p>
<p>黃連（三錢）　黃芩（三錢）　阿膠（一錢）　白芍（三錢）　雞子黃（調下，一枚）</p>
<p>歌曰：心煩舌黑證為陽，湯用膠連仔細詳。</p>
<p>白芍枯芩同劑煮，再調雞子去清嘗。</p>
<p>心中大躁，手足躁擾不安者，少陰之陰躁也。宜加味白通湯。</p>
<p>乾薑（二錢）　附子（三錢）　蔥白（三錢）　甘草（一錢）　膽汁（七分）　知母（二錢）　麥冬（三錢）　牛膝（一錢）</p>
<p>歌曰：心中大躁卻為陰，用藥還宜薑附斟。</p>
<p>膽草和蔥知膝共，麥冬加入病無侵。</p>
<p>心中怔忡，跳動如舂碓臼者，心脾之血虛也。宜加味歸脾湯。</p>
<p>白朮（二錢）　麥冬（二錢）　茯神（二錢）　黨參（二錢）　遠志（一錢）　棗仁（二錢）　當歸（二錢）　黃　（二錢）　白芍（二錢）　五味（七分）　龍眼（三枚）　甘草（一錢）　乳香（一錢）　沒藥（一錢）</p>
<p>歌曰：心中跳動用參　，龍眼歸苓補血宜。</p>
<p>味術棗仁同遠志，冬甘乳沒芍歸脾。</p>
<p>（伯未按：單用棗仁四錢，龍眼肉十枚，亦佳。）</p>
<p>心悸而怯，常欲叉手冒心者，水氣凌心經也。宜桂苓甘棗湯。</p>
<p>桂尖（三錢）　雲苓（三錢）　甘草（一錢）　大棗（三枚）</p>
<p>歌曰：悸怯緣何現此形，總因水氣犯心經。</p>
<p>除寒消水無逾桂，甘棗還加雲茯苓。</p>
<p>心驚而惕，神魂不能自主者，心虛而氣浮也。宜桂枝龍牡湯。</p>
<p>桂枝（三錢）　附子（三錢）　龍骨（三錢）　甘草（炙，二錢）　牡蠣（三錢）</p>
<p>歌曰：心常驚惕擾神魂，虛怯宜將桂附溫。</p>
<p>仍恐元陽難鎮斂，再加龍牡草梢存。</p>
<p>心神慌惚，入夜則多煩夢者，心血虛有火也。宜原方安神丸。</p>
<p>當歸（三錢）　生地（三錢）　黃連（二錢）　朱砂（一錢）　甘草（一錢）</p>
<p>歌曰：心神慌惚夢偏多，虛火常炎奈若何。</p>
<p>歸地朱砂連共草，丸湯服下即調和。</p>
<p>心神恍惚，每事不能記憶者，有火兼有痰也。宜加味安神丸。</p>
<p>龍骨（三錢）　牡蠣（三錢）　茯神（三錢）　菖蒲（一錢）　棗仁（三錢）　生地（三錢）　黃連（一錢）　朱砂（一錢）　遠志（一錢）　五味（一錢）　當歸（三錢）　甘草（一錢）　貝母（二錢）　麥冬（三錢）</p>
<p>歌曰：心神恍惚性多忘，龍牡歸苓棗與菖。</p>
<p>連地朱砂同志味，草和貝母麥冬嘗。</p>
<p>心神不定，起居百般不安者，百脈皆合病也。宜加味百合湯。</p>
<p>黨參（三錢）　白芍（三錢）　百合（三錢）　生地（三錢）　玉竹（三錢）　茯神（三錢）　棗仁（三錢）　麥冬（三錢）　百部（二錢）　五味（一錢）　貝母（三錢）　滑石（三錢）</p>
<p>歌曰：心神不定意憧憧，起坐難安用麥冬。</p>
<p>部合棗仁苓味芍，竹參貝滑地煎濃。</p>
<h4>斑黃</h4>
<p>［總訣］陽明病氣陷脾鄉，挾濕因而外發黃，若但火邪傷血分，赤斑累累亢於陽。</p>
<p>發斑紅紫，身熱口中干渴者，陽明經血熱也。宜加減三黃湯。</p>
<p>花粉（三錢）　犀角（一錢）　黃芩（三錢）　黃柏（二錢）　炒梔（三錢）　蟬蛻（七個）　銀花（三錢）　白芍（三錢）　枳殼（二錢）　杏仁（一錢）　歸尾（三錢）　石膏（三錢）</p>
<p>歌曰：發斑紅紫口中干，梔柏蟬芩歸芍餐。</p>
<p>膏杏銀花同枳殼，蔞根犀角一方攢。</p>
<p>發黃明亮，兼見口渴溺赤者，脾經之濕熱也。宜茵陳梔子湯。</p>
<p>炒梔（三錢）　黃柏（二錢）　茵陳（五錢）　甘草（一錢）</p>
<p>歌曰：發黃口渴尿兼紅，梔柏茵陳甘草同。</p>
<p>四藥總能除濕熱，不煩加減奏奇功。</p>
<p>（伯未按：服藥外，以赤豆時煮食亦佳。）</p>
<p>發黃黑暗，兼見口和不渴者，脾經之寒濕也。宜茵陳五苓散。</p>
<p>桂枝（三錢）　白朮（三錢）　雲苓（三錢）　豬苓（三錢）　澤瀉（三錢）　茵陳（三錢）</p>
<p>歌曰：發黃黑暗口津多，桂術茵陳澤瀉科。</p>
<p>再入二苓同煮服，病因寒濕即調和。</p>
<h4>出汗</h4>
<p>［總訣］古云盜汗屬陰虛，自汗陽羸衛外疏。識得陰陽相附麗，互根當究五車書。</p>
<p>發熱出汗，時見惡風洒洒者，傷風之外證也。宜防風和營湯。</p>
<p>防風（二錢）　白芍（二錢）　荊芥（一錢）　紫蘇（一錢）　香附（一錢）　杏仁（一錢）　白芷（二錢）　陳皮（一錢）　當歸（二錢）　甘草（二錢）　生薑（一錢）　大棗（二枚）</p>
<p>歌曰：熱汗頻頻輒惡風，荊防蘇芷杏陳攻。</p>
<p>生薑棗芍和甘草，香附當歸一劑同。</p>
<p>睡後出汗，醒時則汗仍收者，陰虛而盜汗也。宜當歸六黃湯。</p>
<p>熟地（三錢）　生地（三錢）　當歸（三錢）　黃芩（二錢）　黃連（一錢）　黃柏（二錢）　黃　（二錢）</p>
<p>歌曰：眠時出汗醒時收，盜汗陰虛實可憂。</p>
<p>二地歸芩連共柏，黃　加入病當瘳。</p>
<p>（伯未按：方中可加酸棗仁三錢，甘杞子三錢，尤佳。）</p>
<p>醒時汗出，睡後則汗仍收者，陽虛而自汗也。宜參　朮附湯。</p>
<p>人參（三錢）　黃　（三錢）　白朮（三錢）　附子（三錢）</p>
<p>歌曰：醒時出汗睡時收，此是陽虛自汗流。</p>
<p>術附　參宜共煮，回陽止汗此方投。</p>
<h4>腫脹</h4>
<p>［總訣］腫脹原由說的端，總因水氣竄皮間。無分表裡和虛實，泄水扶脾病自安。</p>
<p>先首腫起，以下及於手足者，傷於外之濕也。宜加味五皮湯。</p>
<p>陳皮（二錢）　苓皮（二錢）　腹皮（二錢）　薑皮（二錢）　桑皮（二錢）　麻黃（七分）　桂尖（二錢）　杏仁（三錢）　甘草（一錢）　大棗（二枚）</p>
<p>歌曰：頭腫徐徐及四肢，薑桑苓腹共陳皮。</p>
<p>杏仁甘草同紅棗，再入麻黃及桂枝。</p>
<p>先腳腫起，以上及於腹股者，內之水不行也。宜原方真武湯。</p>
<p>白朮（三錢）　白芍（三錢）　雲苓（三錢）　生薑（二錢）　附子（二錢）</p>
<p>歌曰：水不流行腳腫先，漸看腹股腫相連。</p>
<p>雲苓朮芍同薑附，真武原方急與煎。</p>
<p>（伯未按：可兼飲冬瓜汁。）</p>
<p>腫脹溺赤，或兼口渴脈數者，陽鬱而水壅也。宜加味五皮飲。</p>
<p>桑皮（三錢）　茯苓（二錢）　腹皮（二錢）　白芍（二錢）　知母（三錢）　青木香（一錢）　防己（一錢）　滑石（三錢）　黃芩（三錢）　當歸（一錢）　車前（三錢）　杏仁（三錢）</p>
<p>歌曰：口乾腫脹溺兼紅，青木香和芩芍通。</p>
<p>桑腹知苓防己共，歸前滑石杏仁同。</p>
<p>腫脹溺清，其口不渴脈沉者，陰結而水停也。宜原方真武湯。</p>
<p>白朮（三錢）　附片（三錢）　白芍（三錢）　雲苓（三錢）　生薑（三錢）</p>
<p>歌曰：溺清腫脹脈兼沉，真武原方術附尋。</p>
<p>白芍雲苓薑作引，水停陰結煮湯斟。</p>
<p>單腹腫大，其人四肢瘦削者，脾虛而血結也。宜加味逍遙散。</p>
<p>白朮（三錢）　雲苓（三錢）　薄荷（一錢）　煨薑（二錢）　柴胡（一錢）　蚯蚓（一錢）　香附（三錢）　靈脂（三錢）　乳香（一錢）　腹皮（二錢）　防己（一錢）　蘇梗（一錢）　當歸（三錢）　白芍（三錢）</p>
<p>歌曰：脹膨多緣血結成，朮苓香附許回生。</p>
<p>乳防蘇腹荷同蚓，靈脂柴歸薑芍行。</p>
<h4>飲食</h4>
<p>［總訣］胃司飲食命之根，欲惡之間得病情。單指積停一端說，非吾所謂個中人。</p>
<p>飢而思食，每食又不能多者，脾強而胃弱也。宜重訂助胃丸。</p>
<p>蒼朮（二錢）　甘草（一錢）　砂仁（二錢）　陳皮（二錢）　生薑（一錢）　吳萸（一錢）　半夏（二錢）　白蔻（一錢）　檀香（一錢）　黨參（三錢）　雲苓（二錢）　大棗（二枚）</p>
<p>歌曰：飢思飲食反嫌多，胃弱脾強薑草和。</p>
<p>再入砂陳萸術棗，參苓白蔻夏檀科。</p>
<p>食而善飽，每飽又作反脹者，胃強而脾弱也。宜抑胃扶脾湯。</p>
<p>麥冬（三錢）　黃連（二錢）　黨參（三錢）　白朮（三錢）　山藥（二錢）　木香（一錢）　白芍（二錢）　麥芽（二錢）　黃精（三錢）　甘草（一錢）</p>
<p>歌曰：食而善飽脹翻增，弱在脾經穀不勝。</p>
<p>薯術香連參芍草，黃精冬麥效堪憑。</p>
<p>（伯未按：蜀刻本無山藥、黃精、多乾薑、肉蔻。）</p>
<p>不善於食，而並不思飲食者，脾胃兩皆虛也。宜建中復理湯。）</p>
<p>桂枝（二錢）　白芍（三錢）　飴糖（三錢）　黨參（三錢）　白朮（三錢）　乾薑（一錢）　甘草（一錢）　大棗（三枚）</p>
<p>歌曰：不思飲食土全虛，桂芍飴糖暖氣噓。</p>
<p>參朮乾薑同棗草，建中湯服飯如初。</p>
<p>喜飲冷水，以及消渴不止者，胃中虛熱故也。宜原方甘露飲。</p>
<p>生地（三錢）　熟地（三錢）　天冬（三錢）　麥冬（三錢）　黃芩（三錢）　枳殼（一錢）　石斛（三錢）　茵陳（三錢）　枇杷葉（三錢）　甘草（一錢）</p>
<p>歌曰：喜吞冷水病中消，二地生津力頗饒。</p>
<p>芩枳二冬茵斛草，枇杷加入病和調。</p>
<p>喜飲熱湯，或兼腹痛厥利者，脾部之虛寒也。宜附子理中湯。</p>
<p>附子（三錢）　白朮（三錢）　人參（三錢）　生薑（二錢）　甘草（一錢）</p>
<p>歌曰：脾部虛寒喜熱湯，理中術附與生薑。</p>
<p>人參補益同甘草，仲景真方請細詳。</p>
<p>傷食腹痛，兼見吐酸噯腐者，宿食停不去也。宜加減平胃散。</p>
<p>蒼朮（二錢）　陳皮（二錢）　厚朴（一錢）　甘草（一錢）　大黃（一錢）　生薑（一錢）　神麯（二錢）</p>
<p>歌曰：食傷腹痛用陳皮，蒼朮生薑朴草隨。</p>
<p>神麯大黃還共煮，胃平食去此方宜。</p>
<p>食入氣嗆，因而哽噎不下者，肺氣不下降也。宜降脾平胃散。</p>
<p>百合（三錢）　阿膠（二錢）　半夏（三錢）　麥冬（三錢）　杏仁（三錢）　枳殼（一錢）　細辛（五分）　五味（七分）</p>
<p>歌曰：食時氣嗆用辛冬，百合阿膠半夏從。</p>
<p>枳味杏仁同理氣，降脾平胃咽方通。</p>
<p>食必飲送，無飲即不下咽者，胃氣不下降也。宜甘蜜半夏湯。</p>
<p>半夏（三錢）　黨參（三錢）　白蜜（一兩）　甘瀾水（一斤）</p>
<p>歌曰：食無飲送即難吞，只取生津不取溫。</p>
<p>半夏人參和白蜜，甘瀾水服胃陰存。</p>
<p>（伯未按：若因老年血槁者，用地黃、麥冬、當歸濃煎，入乳汁、韭汁、桃仁泥和勻呷下。）</p>
<p>飲傷腹滿，兼見小便不利者，膀胱氣不化也。宜原方五苓散。</p>
<p>白朮（三錢）　雲苓（三錢）　豬苓（三錢）　澤瀉（三錢）　桂枝（二錢）</p>
<p>歌曰：飲傷腹滿溺難通，總系膀胱氣不融。</p>
<p>白朮二苓同桂澤，生津利水有奇功。</p>
<h4>起居</h4>
<p>［總訣］脾主四肢膽主樞，氣機通暢體輕舒。若還運動難為力，按法施方莫舛途。</p>
<p>轉側艱難，以及曲伸不利者，少陽之樞逆也。宜當歸柴胡湯。</p>
<p>當歸（三錢）　白芍（二錢）　柴胡（一錢）　秦艽（二錢）　竹茹（二錢）　甘草（一錢）　丹參（三錢）　玉竹（二錢）　僵蠶（三錢）　銀花（二錢）　黃芩（三錢）　法夏（二錢）</p>
<p>歌曰：少陽樞逆轉身難，歸芍柴芩艽夏攢。</p>
<p>蠶合丹參銀共草，竹茹玉竹作湯餐。</p>
<p>身體沉重，四肢運動艱滯者，脾經有濕氣也。宜和脾利濕湯。</p>
<p>白朮（三錢）　防己（二錢）　木通（二錢）　雲苓（三錢）　蒼朮（二錢）　澤瀉（二錢）　淡竹葉（二錢）</p>
<p>歌曰：身重脾經濕氣侵，通防二術茯苓斟。</p>
<p>淡竹葉加和澤瀉，扶脾去濕理堪尋。</p>
<h4>倒仆</h4>
<p>［總訣］危急無如猝倒形，驟然跌仆舉家驚。不須問病從何起，閉脫分醫立起生。</p>
<p>猝倒地下，其證手撒目閉者，中風虛脫證也。宜急救三生飲。</p>
<p>附子（二錢）　川烏（二錢）　南星（三錢）　人參（三錢）</p>
<p>歌曰：猝時倒地目難張，手撒陽虛風暗傷。</p>
<p>附子川烏為主藥，南星加入黨參嘗。</p>
<p>猝倒地下，其象手握口噤者，中風實閉證也。宜吹鼻通關散。</p>
<p>生半夏（三錢）　麝香（一分）　牙皂末（二錢）　白礬（二錢）　細辛（二錢）</p>
<p>為末，吹鼻中。</p>
<p>歌曰：中風猝倒手難開，實閉通關半夏該。</p>
<p>牙皂辛礬同麝末，研來吹鼻莫徘徊。</p>
<h4>掣動</h4>
<p>［總訣］筋脈從來貴潤柔，那堪風火兩相仇。相仇故爾相牽引，須向肝脾問厥由。</p>
<p>角弓反張，以及向後跌仆者，太陽經痙病也。宜防風竹茹湯。</p>
<p>防風（三錢）　生地（三錢）　白芍（一錢）　葛根（三錢）　荊芥（二錢）　花粉（三錢）　竹茹（三錢）　僵蠶（三錢）</p>
<p>歌曰：太陽痙病角弓張，葛根蔞根用最良。</p>
<p>竹與僵蠶齊入選，再加地芍與荊防。</p>
<p>頭低足縮，以及向前跌仆者，陽明經痙病也。宜清陽已痙湯。</p>
<p>生地（三錢）　麥冬（三錢）　玉竹（三錢）　石膏（三錢）　芒硝（二錢）　酒軍（二錢）　甘草（一錢）</p>
<p>歌曰：陽明痙病向前弓，地草芒硝及麥冬。</p>
<p>更入石膏軍玉竹，清陽養液此為功。</p>
<p>一邊手足，牽引搐搦不用者，少陽經痙病也。宜加味柴胡湯。</p>
<p>柴胡（三錢）　枯芩（二錢）　生薑（二錢）　甘草（一錢）　黨參（二錢）　生地（三錢）</p>
<p>羚羊角（二錢）　花粉（三錢）　白芍（三錢）　當歸（二錢）</p>
<p>歌曰：少陽經脈繞旁邊，痙病筋收自引牽。</p>
<p>薑草參歸柴芍地，羚羊花粉共芩煎。</p>
<p>筋惕肉動，振振然欲擗地者，寒水干筋肉也。宜苡仁真武湯。</p>
<p>白朮（三錢）　茯苓（三錢）　甘草（一錢）　附子（三錢）　生薑（三錢）　苡仁（三錢）　桂枝（二錢）　白芍（二錢）</p>
<p>歌曰：筋肉寒干振振然，朮苓薑附總當先。</p>
<p>苡仁桂芍同甘草，真武湯方妙法傳。</p>
<p>四肢拘急，以及疼痛難忍者，寒甚筋收引也。宜桂枝附子湯。</p>
<p>桂枝（二錢）　白芍（二錢）　甘草（一錢）　生薑（三片）　大棗（二枚）　附子（一錢五分）</p>
<p>歌曰：四肢拘急系寒收，桂附溫經病即瘳。</p>
<p>佐以生薑和大棗，再加芍草力方優。</p>
<p>四肢酸痛，以及焦痿不用者，火甚筋灼枯也。宜大劑補陰丸。</p>
<p>黃柏（三錢）　知母（三錢）　熟地（三錢）　羚羊角（二錢）　龜板（三錢）　牛膝（二錢）　白芍（三錢）　防己（一錢）　當歸（三錢）　玉竹（三錢）</p>
<p>歌曰：四肢酸痛或痿焦，知柏龜羚地芍調。</p>
<p>玉竹當歸防己膝，服湯盡劑病都消。</p>
<p>四肢軟弱，步履疲怠不收者，濕甚筋縱弛也。宜利濕燥筋湯。</p>
<p>苡仁（三錢）　木瓜（一錢）　防己（一錢）　桂枝（二錢）　甘草（一錢）</p>
<p>歌曰：四肢軟弱濕傷筋，利濕防瓜苡草群。</p>
<p>行水總求能化氣，藥分佐使桂為君。</p>
<p>（伯未按：可間吞人參再造丸。）</p>
<h4>蟲蠱</h4>
<p>［總訣］蟲因風濕變而生，仲景分經屬厥陰。千古醫師工殺毒，只原來歷未分明。</p>
<p>吐蟲蟲痛，或見舌起白花者，腎風木所生也。宜仲景烏梅丸。</p>
<p>當歸（三錢）　黨參（二錢）　花椒（二錢）　黃柏（二錢）　烏梅（三錢）　乾薑（二錢）　附子（二錢）　細辛（二錢）　黃連（三錢）　桂枝（二錢）</p>
<p>歌曰：吐蟲蟲痛用烏梅，桂柏椒薑辛附推。</p>
<p>歸尾黃連參合用，專平風木救蟲災。</p>
<p>口咽生蟲，以及二陰生蟲者，古名狐惑病也。宜新制化蟲丹。</p>
<p>花椒（二錢）　雄黃（二錢）　枯礬（一錢）　鉛粉（一錢）　烏梅（一錢）　黃連（二錢）</p>
<p>甘草（五分）</p>
<p>歌曰：咽蝕蟲生古有方，症名狐惑用椒黃。</p>
<p>枯礬鉛粉烏梅肉，甘草黃連仔細商。</p>
<p>（伯未按：婦人陰內癢，用蛇床子煎湯洗，拭乾，內摻桃仁、雄黃末。）</p>
<p>誤中蟲毒，食白礬而反甜者，邪變入臟氣也。宜經驗吐利湯。</p>
<p>升麻（三錢）　鬱金（三錢）</p>
<p>歌曰：食礬甜是蠱為殃，解毒當知吐利方。</p>
<p>藥用升麻能上達，鬱金加入即安康。</p>
<h4>鬼祟</h4>
<p>［總訣］脈無定準面無常，夜睡流涎鬼祟傷。喻氏移精變氣說，鑿開荒徑指津梁。</p>
<p>乍醒乍昏，寒熱面色無定者，鬼怪附人身也。宜移精變氣散。</p>
<p>虎骨（三錢）　牡蠣（三錢）　犀角（二錢）　天麻（三錢）　黃　（三錢）　桂尖（三錢）　龍骨（三錢）　羚羊角（三錢）　麝香（三分）　鹿角（三錢）　人參（三錢）　茯神（三錢）</p>
<p>歌曰：醒昏不定色無常，鬼魅憑時虎骨良。</p>
<p>龍牡犀羚同麝鹿，大麻　桂茯參嘗。</p>
<p>顛狂如見鬼，以及潮熱譫語者，神魂被火亂也。宜加減龍薈丸。</p>
<p>黃連（五分）　木香（六分）　麝香（五厘）　梔子（一錢五分）　黃柏（二錢）　酒軍（三錢）　生地（四錢）　杏仁（三錢）　厚朴（八分）　甘草（八分）　黃芩（一錢五分）　丹皮（一錢五分）</p>
<p>歌曰：顛狂見鬼擾神魂，膽薈梔連黃柏根。</p>
<p>杏朴地芩軍共草，香丹麝木治狂言。</p>
<p>（伯未按：蜀刻本此條闕。）</p>
<p>（伯未按：卷一卷二皆屬外感內傷雜病，先由形體，漸及五內，從表入裡，層次井然。至於辨症簡要，用藥平正，在繁復之病例中，能作出提綱挈領功夫，極不容易。治病雖不如此簡捷，然略知大法，不致藥石亂投。</p>
<p>若拘執不變，則又不免貽誤病機。故一方面當知靈活運用，另方面當求合理診斷，避免自療為是。）</p>
<h2>卷三</h2>
<h3>證治</h3>
<h4>婦人調經</h4>
<p>［總訣］婦人經血屬於肝，肝血調和病自安。熱則先期寒縮後，腹疼瘀血定相干。</p>
<p>經水先期，其血紫黑煩怒者，血分中有熱也。宜加味四物湯。</p>
<p>生地（三錢）　當歸（三錢）　白芍（三錢）　川芎（一錢）　丹皮（三錢）　枯芩（三錢）　香附（三錢）　柴胡（二錢）　全皮（三錢）　竹茹（三錢）</p>
<p>歌曰：經水先期紫色多，地歸芎芍有專科。</p>
<p>丹芩地骨香柴竹，熱退瘀行病即和。</p>
<p>（伯未按：經色不可不辨，大抵色紅為正，色紫有風，色黑熱甚，色淡為虛，色黃濁者濕。）</p>
<p>經水後期，其血淡白疼痛者，血分中有寒也。宜當歸和血湯。</p>
<p>當歸（三錢）　白芍（三錢）　桂尖（三錢）　細辛（五分）　艾葉（三錢）　阿膠（三錢）　甘草（一錢）　生地（三錢）　木通（一錢）　香附（三錢）　大棗（三枚）　法夏（三錢）　雲苓（三錢）　生薑（一錢）</p>
<p>歌曰：經期縮後色微紅，歸芍膠辛桂艾同。</p>
<p>香附生薑添棗草，雲苓法夏地和通。</p>
<p>經水過多，以及漏下不止者，衝任之虛崩也。宜千金膠薑湯。</p>
<p>生地（三錢）　川芎（一錢）　白芍（三錢）　鹿角霜（二錢）　當歸（三錢）　牡蠣（三錢）　艾葉（二錢）　阿膠（二錢）　甘草（一錢）　炮薑（一錢）　附子（二錢）　棕灰（一錢）</p>
<p>歌曰：經水嫌多衝任虛，歸芎地芍藥當儲。</p>
<p>膠薑鹿牡棕和艾，草附溫經暖氣噓。</p>
<p>（伯未按：方中加醋炒烏　骨三錢，尤佳。）</p>
<p>經水過少，以及干枯發熱者，胞宮之血虛也。宜加味四物湯。</p>
<p>麥冬（二錢）　當歸（二錢）　川芎（八分）　白芍（一錢五分）　生地（三錢）　棗仁（三錢）　台烏藥（一錢）　遠志（一錢）　香附（一錢五分）　茯苓（三錢）　甘草（八分）　阿膠（一錢五分）　人參（一錢五分）</p>
<p>歌曰：經行過少或干枯，四物歸芎地芍俱。</p>
<p>遠志冬參香附與，台烏棗草獲苓須。</p>
<p>經前腹痛，以及行經不利者，血分有瘀滯也。宜加味香蘇散。</p>
<p>當歸（三錢）　白芍（三錢）　陳皮（二錢）　元胡索（二錢）　桃仁（三錢）　香附（三錢）　蘇梗（三錢）　柴胡（二錢）　丹皮（三錢）　甘草（一錢）</p>
<p>歌曰：經前腹痛血瘀停，歸芍元胡破血靈。</p>
<p>再入桃丹香附草，柴陳蘇梗善調經。</p>
<p>經後腹痛，以及經水減少者，血虛而不足也。宜加味補血湯。</p>
<p>黃　（三錢）　當歸（三錢）　白朮（三錢）　人參（二錢）　香附（二錢）　川芎（一錢）　熟地（三錢）</p>
<p>歌曰：血已行時腹痛加，此非瘀痛認休差。</p>
<p>歸芎術同香附，地共人參補血夸。</p>
<p>漏下白物，有如米飲不絕者，脾濕因帶下也。宜茵陳四苓湯。</p>
<p>茵陳（三錢）　雲苓（三錢）　豬苓（三錢）　菖蒲（一錢）　澤瀉（三錢）　萆　（三錢）　甘草（一錢）</p>
<p>有寒加益智、桂技，有熱加黃芩、黃柏。</p>
<p>歌曰：白帶脾傷萆　宜，二苓菖澤草茵施。</p>
<p>寒加益智還兼桂，熱入黃芩與柏隨。</p>
<p>（伯未按：豆蔻花、巴戟、芡實、赤苓、鹽水炒車前、烏賊骨、山藥、金櫻子、蒼朮、柴胡、澤瀉、鹽水炒黃柏治一切帶下神效。）</p>
<h4>婦人安胎</h4>
<p>［總訣］安胎脾是大源頭，萬物生成土力優。腎主系胞亦宜固，肝司胞血更當求。</p>
<p>胎中嘔吐，數次發惡不休者，脾胃氣阻滯也。宜香砂六君湯。</p>
<p>木香（一錢）　砂仁（二錢）　白朮（三錢）　雲茯苓（三錢）　當歸（三錢）　陳皮（三錢）　半夏（二錢）</p>
<p>甘草（一錢）　生薑（三片）　大棗（二枚）</p>
<p>歌曰：胎中嘔吐用香附，朮草參苓一例加。</p>
<p>脾胃調和陳與夏，方知用藥不相差。</p>
<p>胎中心煩，兼見口渴頭暈者，心胃之虛火也。宜安胎清火湯。</p>
<p>當歸（三錢）　白芍（二錢）　白朮（三錢）　黃芩（一錢五分）　澤瀉（三錢）　知母（三錢）　麥冬（一錢五分）　雲苓（三錢）　沙參（一錢五分）　竹葉（一錢五分）</p>
<p>歌曰：胎裡心煩暈渴兼，知芩歸芍術參添。</p>
<p>茯苓竹葉和冬澤，清熱安胎火不災。</p>
<p>（伯未按：經停三月，欲知是胎非胎，可用川芎一錢，空心煎艾湯調下。如腹動者，胎也；臍下動者，瘕也；不動者，血瘀也。）</p>
<p>胎中腰痛過甚，則恐胎墮者，帶脈之懈弛也。宜加味固胎丸。</p>
<p>杜仲（三錢）　熟地（三錢）　故紙（三錢）　淮山藥（三錢）　當歸（三錢）　續斷（三錢）　白朮（三錢）　人參（一錢）</p>
<p>歌曰：胎中腰痛恐傷胎，山藥當歸地紙裁。</p>
<p>杜仲人參同續斷，再加白朮土能培。</p>
<p>胎中腹痛，痛甚亦能墮胎者，胎氣之不和也。宜調氣安胎飲。</p>
<p>當歸（三錢）　木香（一錢）　雲苓（三錢）　白芍（一錢五分）　香附（一錢五分）　紫蘇（一錢五分）　苧麻根（二錢）</p>
<p>歌曰：胎中腹痛氣當調，歸芍雲苓力最饒。</p>
<p>蘇梗木香香附子，麻根加入孕難搖。</p>
<p>（伯未按：胎動欲下者，急以苧麻根三錢，龍眼肉半兩，二味濃煮與服，余已治多人均效。）</p>
<p>胎前屎結，以及口乾惡熱者，血虛而胎燥也。宜麻仁養血湯。</p>
<p>火麻仁（三錢）　杏仁（三錢）　當歸（三錢）　黃芩（一錢五分）　白芍（二錢）　麥冬（二錢）　甘草（八錢）</p>
<p>歌曰：胎前屎結血多虧，杏芍麻仁總潤脾。</p>
<p>加入當歸芩麥草，滋陰補血見功奇。</p>
<p>胎前溺黃，以及黃濁不利者，胞熱而水滯也。宜龍膽清熱湯。</p>
<p>當歸（三錢）　生地（四錢）　澤瀉（三錢）　膽草（一錢五分）　木通（八分）　梔子（一錢五分）</p>
<p>黃芩（一錢五分）　白芍（一錢五分）　甘草（八分）　淡竹葉（一錢五分）</p>
<p>歌曰：胎前細審溺來黃，龍膽梔芩煮作湯。</p>
<p>歸芍地通和澤瀉，甘梢淡竹共匡襄。</p>
<p>胎胞下壓，小便不得下出者，胞系之不舉也。宜八味腎氣丸。</p>
<p>熟地（三錢）　山萸（三錢）　山藥（三錢）　麥冬（一錢五分）　雲苓（三錢）　澤瀉（三錢）　安桂（二分）　丹皮（一錢五分）　附片（五分）　玉竹（一錢五分）</p>
<p>歌曰：轉胞下壓溺難通，澤地丹萸苓藥同。</p>
<p>玉竹麥冬和桂附，休疑毒熱把胎攻。</p>
<p>（伯未按：方中可加升麻八分。）</p>
<p>胎胞上逼，心中煩悶不安者，血虛而火迫也。宜養胃清降湯。</p>
<p>人參（一錢）　白朮（三錢）　淮山藥（三錢）　白芍（一錢五分）　當歸（二錢）　雲苓（三錢）　甘草（八分）　大棗（二枚）　阿膠（一錢五分）　生地（三錢）　棗仁（三錢）　麥冬（一錢五分）</p>
<p>歌曰：胎胞上逼甚煩心，參朮膠歸盡量斟。</p>
<p>芍地苓冬山藥草，棗仁大棗助滋陰。</p>
<p>胎前水腫，以及腹中脹滿者，胞宮水不化也。宜加味防己湯。</p>
<p>防己（二錢）　澤瀉（三錢）　腹皮（二錢）　薑皮（一錢五分）　桔梗（八分）　苓皮（三錢）　杏仁（三錢）　草梢（八分）　桑皮（一錢五分）　當歸（二錢）</p>
<p>歌曰：胎前水腫澤防通，薑腹苓皮桑白同。</p>
<p>杏桔草梢歸尾共，能將水氣化胞宮。</p>
<p>胎前咳嗽，以及嗆嘔不安者，子咳與子嗆也。宜調肺平肝湯。</p>
<p>桔梗（八分）　枳殼（一錢五分）　杏仁（三錢）　雲苓（三錢）　百合（三錢）　生地（三錢）　前胡（一錢五分）　當歸（一錢五分）　麥冬（一錢五分）　紫菀（一錢五分）</p>
<p>歌曰：胎前咳嗽嗆難安，枳桔雲苓百合餐。</p>
<p>前杏地歸冬共菀，不離平肺與平肝。</p>
<h4>婦人保產</h4>
<p>［總訣］婦人新產莫言虛，恐是瘀停內阻持。若是瘀行商補劑，養陽不若養陰宜。</p>
<p>將產之期，預備滑胎催生者，必調和氣血也。宜保產無憂散。</p>
<p>白芍（二錢）　黃　（八分）　菟絲（一錢）　當歸（一錢五分）　厚朴（七分）　艾葉（七分）　芥穗（八分）　枳殼（六分）　川芎（一錢五分）　貝母（一錢）　羌活（五分）　甘草（五分）　生薑（一片）</p>
<p>歌曰：預備催生藥餌投，歸芎　芍保無憂。</p>
<p>再加菟朴同羌枳，薑貝甘草芥艾儔。</p>
<p>（伯未按：此方極輕，功效甚大。）</p>
<p>臨產催生，交骨結而不開者，血氣不活動也。宜加味佛手散。</p>
<p>當歸（五錢）　川芎（三錢）　龜板（八錢）　血余（三錢）</p>
<p>歌曰：臨產催生不用忙，歸芎龜板血余良。</p>
<p>方名佛手真奇效，生子無虞母體傷。</p>
<p>（伯未按：若兒下而胞不下者，急用酒洗當歸二兩，川芎五錢，益母草、乳香、沒藥各一兩，黑芥穗三錢，煎服。但有產科醫院者，以送院治療為最妥。）</p>
<p>新產之初，腹痛暈頭等症者，瘀血相攻衝也。宜加味失笑散。</p>
<p>當歸（三錢）　川芎（二錢）　靈脂（二錢）　蒲黃（一錢五分）　童便（一杯）</p>
<p>歌曰：新產之初瘀要行，歸芎靈脂急須烹。</p>
<p>蒲黃童便還加入，痛暈煩迷更莫驚。</p>
<p>產後瘀盡，諸虛百損並見者，氣血大虧損也。宜十全大補湯。</p>
<p>生地（三錢）　白芍（二錢）　川芎（一錢）　黨參（三錢）　白朮（三錢）　雲苓（三錢）　當歸（二錢）　甘草（八分）　安桂（三分）　黃　（三錢）</p>
<p>歌曰：產後瘀行氣血虧，歸芎地芍術參醫。</p>
<p>雲苓甘草和　桂，調理精神體不疲。</p>
<h4>小兒外證</h4>
<p>［總訣］小兒外證求太陽，三字方中明訓彰。究與大人同治法，不須科別擅偏長。</p>
<p>小兒發熱，兼見惡寒頭痛者，太陽經傷寒也。宜人參敗毒散。</p>
<p>人參（二錢）　羌活（二錢）　獨活（二錢）　柴胡（二錢）　前胡（三錢）　川芎（一錢）　桔梗（三錢）　雲苓（三錢）　枳殼（一錢）　甘草（一錢）　葛根（二錢）　大棗（二枚）　蔥白（一根）　生薑（三片）</p>
<p>歌曰：小兒發熱系傷寒，敗毒人參獨與羌。</p>
<p>再用柴前芎枳桔，苓蔥甘棗葛生薑。</p>
<p>（伯未按：用淡豆豉三錢、蔥白五個，煎服亦好。）</p>
<p>小兒口噤，手足抽掣痰潮者，傷風動痰火也。宜羌活息風湯。</p>
<p>羌活（一錢）　竹瀝（二錢）　半夏（二錢）　南星（一錢五分）　生地（三錢）　防風（一錢）　僵蠶（三錢）　薑汁（五滴）　天麻（一錢五分）　甘草（八分）　枯芩（一錢五分）　枳殼（一錢五分）　犀角（二分）　羚羊角（三分）</p>
<p>歌曰：小兒口噤又痰潮，夏瀝羌星風火消。</p>
<p>芩地蠶麻薑枳草，羚防犀角力偏饒。</p>
<h4>小兒內證</h4>
<p>［總訣］小兒內證求太陰，修園有語特叮嚀。集中所列無他證，他證皆當即此尋。初生小兒，屈腰啼叫不休者，瘀血積腹內也。宜用下瘀湯。</p>
<p>桃仁（三錢）　靈脂（三錢）　木香（一錢）　厚朴（一錢）　枳殼（二錢）　丹皮（一錢五分）</p>
<p>歌曰：初生兒便哭無休，腰屈應知瘀血留。</p>
<p>靈脂桃仁丹枳殼，木香厚朴一方投。</p>
<p>小兒腹痛，以及脹滿吐瀉者，總責太陰經也。宜香砂六君湯。</p>
<p>木香（一錢）　砂仁（二錢）　白朮（三錢）　雲苓（三錢）　黨參（三錢）　陳皮（三錢）　半夏（二錢）　甘草（一錢）　生薑（三片）　大棗（二枚）</p>
<p>歌曰：小兒吐瀉腹疼加，用藥仍宜香與砂。</p>
<p>苓草參甘陳夏共，扶脾理氣效堪夸。</p>
<p>小兒食積，手足熱而腹痛者，脾胃不運化也。宜加減平胃散。</p>
<p>蒼朮（一錢）　厚朴（一錢）　甘草（八分）　陳皮（一錢五分）　神麯（三錢）　麥芽（三錢）　山楂（二錢）　黃連（三分）　生薑（二片）　白芍（二錢）</p>
<p>歌曰：腹痛知兒飲食停，草薑楂朴效殊靈。</p>
<p>蒼陳麥曲連同芍，脾胃調和病即寧。</p>
<p>（伯未按：飯焦炒透，和砂仁研細，為消食妙品。）</p>
<p>小兒黃瘦，以及腹大潮熱者，脾胃之疳疾也。宜已疳胡連湯。</p>
<p>枳殼（一錢五分）　山楂（一錢五分）　麥芽（三錢）　蕪荑（一錢五分）　胡黃連（二錢）　白芍（一錢五分）　生薑（二片）　甘草（一錢）　腹皮（一錢）　銀柴胡（二錢）</p>
<p>歌曰：小兒疳疾瘦兼黃，楂麥蕪荑枳草詳。</p>
<p>腹共胡連柴共芍，理脾仍要用生薑。</p>
<h4>外科瘡證</h4>
<p>［總訣］癰疽早治勿延遲，寒熱相蒸已就時。初起急當消散法，成膿托毒是相宜。</p>
<p>瘡癰初起，紅腫而極痛癢者，風火血相結也。宜消散撤癰散。</p>
<p>歸尾（三錢）　紅花（八分）　銀花（三錢）　赤芍（一錢五分）　黃連（二分）　杏仁（三錢）</p>
<p>甘草（一錢）　連翹（三錢）　紫蘇（一錢五分）　花粉（三錢）　黃柏（一錢五分）　荊芥（一錢五分）</p>
<p>乳香（八分）　黃芩（一錢五分）　防己（二錢）</p>
<p>歌曰：瘡癰初起痛兼紅，歸芍銀連杏草攻。</p>
<p>蘇芥紅花翹黃柏，芩防花粉乳香通。</p>
<p>（伯未按：凡毒初起，欲其不大，用蜒蚰灰、生大黃各四兩，五倍子、白芨各二兩，生半夏、白蘞各二兩，百草霜、礬紅、生南星、陳小粉、草烏各一兩，熊膽一錢，共研末，以廣膠化烊，芙蓉葉絞汁，共量和搗成錠，醋磨圍之，有效。）</p>
<p>癰疽初起，白陷而不痛癢者，氣滯寒痰聚也。宜宣陽撤疽湯。</p>
<p>麻黃（八分）　乳香（八分）　沒藥（八分）　桂枝（一錢五分）　大棗（三枚）　黃　（三錢）</p>
<p>遠志（一錢）　蔻殼（八分）　煨薑（一錢五分）　甘草（一錢）</p>
<p>歌曰：瘡疽色白要宣揚，沒藥麻黃及乳香。</p><p>遠志黃　同蔻草，再加大棗桂枝薑。</p>
<p>凡瘡初起，無論紅白寒熱者，當破血行氣也。宜外敷百效散。</p>
<p>白芷（六分）　細辛（五分）　川烏（八分）　南星（一錢五分）　草烏（一錢）　陳皮（二錢）</p>
<p>薑黃（一錢）　黃連（三分）　大黃（一錢五分）　遠志（一錢）　黃柏（一錢五分）　梔子（一錢五分）</p>
<p>雄黃（一錢）　五穀蟲（三錢）　白礬（一錢）　白芨（一錢）</p>
<p>共為細末，醋酒合調，蒸熱濃敷即散。已成者，留頂即穿。</p>
<p>歌曰：氣血凝時瘡始成，二烏辛芷伴南星。</p>
<p>軍連雄柏薑黃入，梔芨蟲礬敷上精。</p>
<p>凡瘡已成，欲其化膿速潰者，當排膿內托也。宜黃　托裡湯。</p>
<p>黃　（三錢）　當歸（三錢）　遠志（一錢）　皂刺（一錢五分）　銀花（三錢）</p>
<p>花粉（三錢）　生薑（三片）　大棗（三枚）　山甲（一錢五分）　甘草（一錢）</p>
<p>歌曰：瘡已成時欲化膿，黃　托裡志歸功。</p>
<p>銀花皂甲同薑棗，花粉甘梢煮汁濃。</p>
<p>凡瘡已潰，膿腐不能速去者，當化腐去毒也。宜消凝還肌丹。</p>
<p>巴豆（一錢）　雄黃（一錢）　共為末，炒至黑色，研細，納瘡孔中，化腐提膿。再用乳香、沒藥炒過，加麝香少許研末，提膿生肌。再加珍珠更妙、外貼萬應膏。</p>
<p>歌曰：瘡膿已潰腐難消，巴豆雄黃力最饒。</p>
<p>乳沒珍珠同麝研，生肌專賴二方調。</p>
<p>瘡後陽虛，食少體寒便滑者，衛氣不充足也。宜十全大補湯。</p>
<p>茯苓（三錢）　甘草（二錢）　生地（二錢）　人參（一錢五分）　當歸（三錢）　川芎（二錢）</p>
<p>白芍（二錢）　黃　（三錢）　安桂（四分）　生薑（二片）　大棗（四枚）</p>
<p>歌曰：瘡後陽虛氣不充，參　苓草四般同。</p>
<p>歸芎術芍和安桂，大補仍資薑棗功。</p>
<p>瘡後陰虛，煩渴便黃發熱者，營血不滋養也。宜四物養營湯。</p>
<p>生地（三錢）　當歸（三錢）　玉竹（二錢）　茯苓（三錢）　連翹（三錢）　川芎（一錢五分）</p>
<p>白芍（一錢五分）　黨參（二錢五分）　麥冬（一錢五分）　銀花（三錢）　杏仁（三錢　）　竹茹（一錢五分）　甘草（八分）</p>
<p>歌曰：瘡後陰虛溺便黃，歸芎四物養營湯。</p>
<p>地苓參芍銀翹竹，玉竹甘冬杏子良。</p>
<h4>刀傷跌打</h4>
<p>［總訣］跌打刀傷須急施，煎湯何似外敷宜。若云手術須靈捷，險症還延專此醫。</p>
<p>刀傷亡血，口渴心煩氣喘者，陰亡而陽越也。宜滋陰養陽湯。</p>
<p>人參（三錢）　黃　（三錢）　麥冬（三錢）　五味（一錢）　棗仁（三錢）　熟地（四錢）</p>
<p>白芍（二錢）　當歸（二錢）　川芎（二錢）　茯苓（三錢）　甘草（一錢）</p>
<p>歌曰：刀傷渴喘並心煩，冬味參　急與吞。</p>
<p>地芍歸芎苓共草，棗仁加入斂真元。</p>
<p>刀傷冒風，發腫發痙發抽者，血虛筋失養也。宜滋血養肝湯。</p>
<p>生地（三錢）　當歸（三錢）　白芍（二錢）　竹茹（一錢五分）　續斷（二錢）　秦艽（一錢五分）</p>
<p>元參（一錢五分）　麥冬（一錢五分）　黃芩（一錢五分）　花粉（三錢）　鉤藤（三錢）　蘇梗（一錢）</p>
<p>僵蠶（三錢）　甘草（一錢）</p>
<p>外用蔥白、蟬蛻末炒熱包傷口。</p>
<p>歌曰：刀傷變症為傷風，艽續參歸地芍通。</p>
<p>冬竹蠶藤芩草梗，內兼花粉外蟬蔥。</p>
<p>刀傷潰爛，成膿流水不止者，血瘀而化膿也。宜提膿化瘀散。</p>
<p>花蕊石（一錢五分）　乳香（一錢五分）　沒藥（一錢五分）　龍骨（二錢）</p>
<p>冰片為末納入，外貼感應膏。</p>
<p>歌曰：刀傷潰爛水長流，乳沒還同花蕊投。</p>
<p>冰片再加龍骨　，五般細研口能收。</p>
<p>四肢頭面，跌打損傷疼痛者，經絡有死血也。宜通瘀達滯湯。</p>
<p>歸尾（三錢）　紅花（一錢）　荊芥（一錢）　桃仁（三錢）　續斷（二錢）　紫蘇（一錢五分）</p>
<p>丹皮（一錢五分）　白芍（一錢五分）　竹茹（一錢五分）　川芎（八分）　乳香（八分）　沒藥（八分）</p>
<p>蚯蚓（二條）　甘草（一錢）</p>
<p>如接骨，再加自然銅為末，重煎沖服。</p>
<p>歌曰：跌打傷頭與四肢，紅花歸芍芥芎施。</p>
<p>桃蘇乳沒蚯丹續，童便然銅茹草醫。</p>
<p>腰腹胸背，跌打損傷疼痛者，膜內有死血也。宜化瘀逐血湯。</p>
<p>蒲黃（一錢五分）　丹皮（一錢五分）　靈脂（一錢五分）　赤芍（一錢五分）　桃仁（二錢）　歸尾（二錢）　牛膝（二錢）　續斷（二錢）　白芍（二錢）　荊芥（一錢五分）　甘草（八分）　童便（半杯沖服）</p>
<p>歌曰：損傷腹背與腰胸，蒲炒丹皮歸尾從。</p>
<p>二芍桃牛和續斷，芥靈甘草便煎濃。</p>
<p>跌打損傷，無論何處腫痛者，當散血使消也。宜火煨酒調散。</p>
<p>官桂（四分）　丁香（十只）　小茴香（八分）　紅米（八分）　火酒（一杯）　八角茴香（八分）　調加水少許，火煨熱敷，用布包裹之。</p>
<p>歌曰：損傷總要血瘀消，官桂丁香外治饒。</p>
<p>八角茴香同米研，還加少許酒來調。</p>
<p>（伯未按：婦科最重胎產，小兒病症易變，外傷尤多危急，宜送當地醫療機構檢查處理。本書所載，雖有可取，幸勿依靠自誤。）</p>
<h2>卷四</h2>
<h3>附錄</h3>
<h4>救急</h4>
<p>［總訣］世人救急最當詳，命在須臾實可傷。因證施方莫疑忌，挽回造化致嘉祥。</p>
<p>誤中菌毒，嘔吐煩亂欲死者，胸傷而氣逆也。宜清胸滌毒飲。</p>
<p>地漿水（一兩）　綠豆（四錢）　甘草（三錢）　銀花（三錢）　滑石（四錢）</p>
<p>歌曰：菌毒須當飲地漿，銀花滑石煮成湯。</p>
<p>再加綠豆和甘草，甘緩調和體即康。</p>
<p>中一切毒，無論藥石蟲蛇者，皆風痰熱毒也。宜解毒萬應丹。</p>
<p>雄黃（一錢）　白礬（一錢）　犀角（四分）　連翹（三錢）　銀花（三錢）　甘草（一錢）　滑石（三錢）　防風（一錢）　綠豆（四錢）　射干（一錢）</p>
<p>水煎，微冷服。</p>
<p>歌曰：百毒都須萬應丹，雄礬犀角草防攢。</p>
<p>銀翹滑石能清熱，綠豆仍宜入射干。</p>
<p>（伯未按：蛇咬傷，搗蒜敷之。蜈蚣咬，蜒蚰搗塗。蜂螫，蚯蚓糞敷之。）</p>
<p>中煤煙毒，昏眩迷悶如死者，炭氣閉肺竅也。宜清涼解熱漿。</p>
<p>萊菔汁冷服，為第一方。又冷水自胸面灌服之，又置冷地風吹則解，後煎黃連石膏芒硝湯服之。</p>
<p>歌曰：瓦斯昏迷萊菔吞，風吹身冷即能言。</p>
<p>膏連加入芒硝服，一派清涼體不煩。</p>
<p>跌壓猝死，血氣傷損昏迷者，須曲拳堅抱也。宜熱馬溺灌之（如無馬溺，用童便灌之。再用桃仁、紅花、麝香、酒軍、童便並服）。</p>
<p>歌曰：跌壓昏迷抱要堅，熱餐馬溺治當痊。</p>
<p>桃仁軍麝紅花煮，童便加來效若仙。</p>
<p>夢魘猝死，僵臥呼叫不醒者，痰氣閉竅道也。宜通關開竅丹。</p>
<p>皂角末（一錢）　半夏末（一錢五分）</p>
<p>歌曰：夢魘須將皂夏吹，通關開竅奏奇功。</p>
<p>只緣夢魘因痰閉，取嚏除痰此法宜。</p>
<p>凡湯火傷，不可冷水逼劫者，熱氣恐內攻也。宜黃連白虎湯。</p>
<p>石膏（四錢）　知母（三錢）　黃連（五分）　甘草（一錢五分）　花粉（三錢）　淡竹葉（二錢）</p>
<p>外用大黃末麻油調敷。</p>
<p>歌曰：湯火傷宜用石膏，知連甘草一鍋熬。</p>
<p>蔞根淡竹均清熱，黃共油調外治高。</p>
<p>投水溺死，水不得出，閉氣者，當撬口通竅也。宜吹氣吹藥方。</p>
<p>用竹管吹兩耳，用生半夏末吹鼻中，用皂角末吹下部中，水出則氣回。</p>
<p>歌曰：溺死宜將兩耳吹，復吹鼻內氣能回。</p>
<p>再將牙皂捶成粉，下部吹來有轉機。</p>
<p>救自縊死，恐其頸垂氣泄者，當抵肛提發也。宜推拿按摩方。</p>
<p>不可斷繩，當解下放平，一人提其發，使頸直。一人抵其肛，使氣不泄。再用兩人按摩推拿，曲折手足，復用竹管吹耳中，良久取嚏，進薑湯而活。</p>
<p>歌曰：縊死宜將頂發提，抵肛摩按漫推移。</p>
<p>再將竹管來吹耳，緩進薑湯氣可回。</p>
<p>（伯未按：現下倘遇中毒等事情，宜急送醫院救治，切勿自療，以免耽誤時機，至要至要。）</p>
