<header data-type="book">
<h1>海藥本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李珣</dd></div>
<div><dt>朝代</dt><dd>五代</dd></div>
<div><dt>年份</dt><dd><data value="0907/0960">公元907年至公元960年</data></dd></div>
</dl>
</header>
<h2>玉石部卷第一</h2>
<h3>１.玉屑</h3>
<p>按《異物志》云：出昆侖。又《淮南子》云：出鐘山。又雲藍田出美玉，燕口出璧玉。味鹹，寒，無毒。主消渴，滋養五臟，止煩躁，宜共金銀、麥門冬等同煎服之，甚有所益。《仙經》云：服玉如玉化水法，在《淮南三十六水法》中載。又《別寶經》云：凡石韞玉，但夜將石映燈看之，內有紅光，明如初出日，便知有玉。《楚記》：卞和三獻玉不鑒，所以遭刖足。後有辨者，映燈驗之，方知玉在石內，乃為玉璽，價可重連城也。（《大觀》卷三頁９，《政和》頁８２，《綱目》頁６１４）</p>
<h3>２.車渠</h3>
<p>《韻集》云：生西國，是玉石之類，形似蚌蛤，有文理。大寒，無毒。主安神鎮宅，解諸毒藥及虫螫。以玳瑁一片、車渠等，同以人乳磨服，極驗也。又《西域記》云：重堂殿梁檐，皆以七寶飾之，此其一也。（《大觀》卷三頁３７，《政和》頁９６，《綱目》頁１６４７）</p>
<h3>３.金線礬</h3>
<p>《廣州志》云：生波斯國，味鹹、酸、澀，有毒。主野雞、　痔、惡瘡、疥癬等疾。打破內有金線文者為上，多入燒家用。（《大觀》卷三頁３７，《政和》頁９６）</p>
<h3>４.波斯白礬</h3>
<p>《廣州記》云：出大秦國，其色白而瑩淨，內有棘針紋。味酸、澀，溫，無毒。主赤白漏下，陰蝕，泄痢，瘡疥，解一切虫蛇等毒。去目赤暴腫，齒痛。火煉之良，惡牡蠣。多入丹灶家，功力逾於河西石門者。近日文州諸番往往亦有，可用也。（《大觀》卷三頁３７，《政和》頁９６，《綱目》頁７０７）</p>
<h3>５.金屑</h3>
<p>按《廣州記》云：出大食國，彼方出金最多，凡是貨易，並使金錢。性多寒，生者有毒，熟者無毒。主癲癇，風熱上氣咳嗽，傷寒，肺損吐血，骨蒸，勞極渴，主利五臟邪氣，補心，並入薄於丸散服。《異志》云：金生麗水。《山海經》說：諸山出金極多，不能備錄。蔡州出瓜子金，雲南山出顆塊金，在山石間采之。黔南遂府吉州水中並產麩金。又《嶺表錄異》云：廣州含　縣有金池，彼中居人，忽有養鵝鴨，常於屎中見麩金片，遂多養收屎淘之，日得一兩或半兩，因而至富矣。（《大觀》卷四頁１８，《政和》頁１０９，《綱目》頁５９</p>
<h3>６.銀屑</h3>
<p>謹按《南越志》云：出波斯國，有天生藥銀，波斯國用為試藥、指環。大寒，無毒。主堅筋骨，鎮心，明目，風熱癲疾等。並入薄於丸散服之。又燒朱粉瓮下多年沉積有銀，號鉛銀，光軟甚好，與波斯銀功力相似，只是難得。今時燒煉家，每一斤生鉛，只煎得一二銖。《山海經》云：東北樂平郡黨少山出銀甚多。黔中生銀，體骨硬，不堪入藥。又按《唐貞觀政要》云：十年有理書御史權萬紀奏曰：宣饒二州諸山極有銀坑，采之甚是利益。太宗曰：朕貴為天子，無所乏少，何假取乎？是知彼處出銀也。（《大觀》卷四頁２０，《政和》頁１１０，《綱目》頁５９４）</p>
<h3>７.石流黃</h3>
<p>謹案《廣州記》云：生昆侖日腳下，顆塊瑩淨，無夾石者良。主風冷，虛備，腎冷，上氣，腿膝虛羸，長肌膚，益氣力，遺精，痔漏，老人風秘等。並宜燒煉服。仙方謂之黃砂，能壞五金，亦能造作金色，人能制伏歸本色，服而能除萬病。如有發動，宜以豬肉、鴨羹，余甘子湯並解之。蜀中雅州亦出，光膩甚好，功力不及舶上來者。（《大觀》卷四頁１０，《政和》頁１０３，《綱目》頁７０２）</p>
<h3>８.綠鹽</h3>
<p>謹按《古今錄》云：波斯國在石上生。味鹹、澀，主明目，消翳，點眼，及小兒無辜疳氣。方家少見用也。按舶上將來，為之石綠，裝色久而不變。中國以銅錯造者，不堪入藥，色亦不久。（《大觀》卷四頁２５，《政和》頁１１２，《綱目》頁６９２）</p>
<h3>９.紫</h3>
<p>謹按《廣州記》云：生南海山谷。其樹紫赤色，是木中津液成也。治濕癢瘡疥，宜入膏用。又可造胡燕脂，余滓則玉作家使也。（《大觀》卷十三頁１５，《政和》頁３２０，《綱目》頁１５１０）</p>
<h3>１０.騏竭</h3>
<p>謹按《南越志》云：是紫礦樹之脂也。其味甘，溫，無毒。主打傷折損，一切疼痛，補虛及血氣攪刺，內傷血聚，並宜酒服。欲驗真偽，但嚼之不爛如蠟者上也。（《大觀》卷十三頁１５，《政和》頁３２０，《綱目》頁１３７３）</p>
<h3>１１.珊瑚</h3>
<p>按《晉列傳》云：石崇金谷園珊瑚樹皮如花生蕊。味甘，平，無毒。主消宿血風癇等疾。按其主治與金相似也。（《大觀》卷四頁３５，《政和》頁１１６，《綱目》頁６１７）</p>
<h3>１２.石蟹</h3>
<p>生南海，又雲是尋常蟹爾，年月深久，水沫相著，因化成石，每遇海潮即飄出。咸，寒，無毒。主青盲目淫膚翳及丁翳、漆瘡。皆細研水飛過，入諸藥相佐，用之點目良。（傅氏《蟹譜》，左氏百川學海本，辛集第二十四冊上卷九頁。）</p>
<h3>１３.胡桐淚</h3>
<p>謹按《嶺表記》云：出波斯國，是胡桐樹脂也，名胡桐淚。又有石淚，在石上采也。主風疳　齒，牙疼痛，骨槽風勞。能軟一切物。多服令人吐也。作律字非也。（《大觀》卷十三頁３１，《政和》頁３２７，《綱目》頁１３８０）</p>
<h2>草部卷第二</h2>
<h3>１４.人參</h3>
<p>出新羅國，所貢又有手腳，狀如人形，長尺余，以杉木夾定，紅線纏飾之。味甘，微溫。主腹腰，消食，補養藏腑，益氣，安神，止嘔逆，平脈，下痰，止煩躁，變酸水。又有沙洲參，短小，不堪采根。用時去其蘆頭，不去者吐人，慎之。（《大觀》卷六頁１５，《政和》頁１４６，《綱目》頁７２２）</p>
<h3>１５.木香</h3>
<p>謹按《山海經》云：生東海、昆侖山。（《大觀》卷六頁５９，《政和》頁１６０）</p>
<h3>１６.草犀根</h3>
<p>謹按《廣州記》云：生嶺南及海中，獨莖，對葉而生，如燈台草，根若細辛。平，無毒。主解一切毒瓦斯，虎野狼所傷，溪毒野蠱等毒，並宜燒研服，臨死者服之得活。（《大觀》卷六頁８９，《政和》頁１６９，《綱目》頁７９１）</p>
<h3>１７.薇</h3>
<p>謹按《廣州記》云：生海、池、澤中。《爾雅》注云：薇，水菜。主利水道，下浮腫，潤大腸。（《大觀》卷六頁８９，《政和》頁１６９，《綱目》頁１２１９）</p>
<h3>１８.白兔藿</h3>
<p>主風邪熱極，宜煮白兔藿飲之。乾則搗末，傅諸毒，妙。（《大觀》卷七頁４９，《政和》頁１９０，《綱目》頁１０４５）</p>
<h3>１９.無風獨搖草</h3>
<p>謹按《廣志》云：生嶺南，又雲生大秦國。性溫，平，無毒。主頭面游風，遍身癢，煮汁淋蘸。《陶朱術》云：五月五日采，諸山野往往亦有之。（《大觀》卷六頁８９，《政和》頁１６９，《綱目》頁１０９６）</p>
<h3>２０.人肝藤</h3>
<p>《廣志》云：生嶺南山石間，引蔓而生。主虫毒，及手腳不遂等風，生研服。（《大觀》卷七頁５６，《政和》頁１９２）</p>
<h3>２１.石</h3>
<p>主風秘不通，五鬲氣，並小便不利，臍下結氣，宜煮汁飲之。胡人多用治耳疾。（《大觀》卷七頁５６，《政和》頁１９２，《綱目》頁１２３９）</p>
<h3>２２.海根</h3>
<p>味苦，小溫，無毒。主霍亂，中惡心腹痛，鬼氣注忤，飛尸，喉痹，蠱毒，癰疽惡腫，赤白游疹，蛇咬犬毒。酒及水磨服，傅之亦佳。生會稽海畔山谷，莖赤，葉似馬蓼，根似菝　而小也。胡人采得蒸而用之。（《大觀》卷７頁５６，《政和》頁１９２）</p>
<h3>２３.越王余</h3>
<p>謹按《異苑記》云：昔晉安越王，因渡南海，將黑角白骨　籌，所余棄水中，故生此，遂名　。味鹹，溫。主水腫浮氣結聚，宿滯不消，腹中虛鳴，並宜煮服之。（《大觀》卷七頁５６，《政和》頁１９２，《綱目》頁１０７４）</p>
<h3>２４.通草</h3>
<p>謹按徐表《南州記》云：生廣州山谷。味溫，平。主諸　瘡，喉嚨痛，及喉痹，並宜煎服之，磨亦得，急即含之。（《大觀》卷八頁２１，《政和》頁２０１，《綱目》頁１０４３）</p>
<h3>２５.兜納香</h3>
<p>謹按《廣志》云：生西海諸山。味辛，平，無毒。主惡瘡腫　，止痛，生肌，並入膏用；燒之能辟遠近惡氣；帶之夜行，壯膽，安神；與茆香、柳枝合為湯，浴小兒則易長。（《大觀》卷八頁７０，《政和》頁２１４，《綱目》頁８２８）</p>
<h3>２６.風延母</h3>
<p>謹按徐表《南州記》，生南海山野中。主三消，五淋，下痰，小兒赤白毒痢，蛇毒，癉、溪等毒。一切瘡腫，並宜煎服。只出南中，諸無所出也。（《大觀》卷八頁７１，《政和》頁２１５，《綱目》頁１０５６）</p>
<h3>２７.大瓠藤水</h3>
<p>謹按《太康記》云：生安南、朱崖上，彼無水，惟大瓠中有天生水。味甘，冷，香美。主解大熱，止煩渴，潤五臟，利水道。彼人造飲饌皆瓠也。（《大觀》卷八頁７１，《政和》頁２１５，《綱目》頁１０５４）</p>
<h3>２８.海藻</h3>
<p>主宿食不消，五鬲，痰壅，水氣浮腫，香港腳，賁　氣，並良。（《大觀》卷九頁１１，《政和》頁２２２，《綱目》頁１０７２）</p>
<h3>２９.昆布</h3>
<p>謹按《異志》，生東海水中，其草順流而生。新羅者黃黑色，葉細。胡人采得搓之為索，陰乾，舶上來中國。性溫，主大腹水腫，諸浮氣，並癭瘤氣結等，良。（《大觀》卷九頁１３，《政和》頁２２２，《綱目》頁１０７３）</p>
<h3>３０.阿魏</h3>
<p>謹按《廣志》云：生石昆侖國，是木津液，如桃膠狀。其色黑者不堪，其狀黃散者為上。其味辛、溫。善主於風邪鬼注，並心腹中冷服餌。又雲南長河中亦有阿魏，與舶上來者滋味相似一般，只無黃色。（《大觀》卷九頁１７，《政和》頁２２４，《綱目》頁１３７９）</p>
<h3>３１.蓽茇</h3>
<p>謹按徐表《南州記》，本出南海，長一指，赤褐色為上。複有蓽撥，短小黑，味不堪。舶上者味辛，溫。又主老冷心痛，水瀉，虛痢，嘔逆，醋心，產後泄痢，與阿魏和合良。亦滋食味。得訶子、人參、桂心、乾薑，治臟腑虛冷，腸鳴泄痢神效。（《大觀》卷九頁３１，《政和》頁２２９，《綱目》頁８１４）</p>
<h3>３２.醬</h3>
<p>謹按《廣州記》云：出波斯國，其實狀若桑椹，紫褐色者為上，黑者是老不堪。黔中亦有，形狀相似，滋味一般。主咳逆上氣，心腹虫痛，胃弱虛瀉，霍亂吐逆，解酒食味。</p>
<p>近多黑色，少見褐色者也。（《大觀》卷九頁３２，《政和》頁２２９，《綱目》頁８１５）</p>
<h3>３３.延胡索</h3>
<p>生奚國，從安東道來。味苦、甘，無毒。主腎氣，破產後惡露及兒枕，與三棱、鱉甲、大黃為散，能散氣，通經絡。蛀　成末者，使之惟良，偏主產後病也。（《大觀》卷九頁３５，《政和》頁２３０，《綱目》頁７７９）</p>
<h3>３４.紅豆蔻</h3>
<p>雲是高良薑子，其苗如蘆，葉似薑，花作穗，嫩葉卷而生，微帶紅色。擇嫩者，加入鹽，　作朵不散落，須以朱槿染，令色深善，醒於醉，解酒毒。此外無諸要使也。生南海諸谷。（《大觀》卷九頁５１，《政和》頁２３６，《綱目》頁８１０）</p>
<h3>３５.肉豆蔻</h3>
<p>謹按《廣志》云：生秦國及昆侖。味辛，溫，無毒。主心腹虫痛，脾胃虛冷氣，並冷熱虛泄，赤白痢等。凡痢以白粥飲服，佳。霍亂氣並以生薑湯服，良。（《大觀》卷九頁３６，《政和》頁２３１，《綱目》頁８１６）</p>
<h3>３６.零陵香</h3>
<p>謹按《山海經》，生廣南山谷。陳氏云：地名零陵，故以地為名。味辛，溫，無毒。主風邪衝心，牙車腫痛，虛勞疳　，凡是齒痛，煎含良。得升麻、細辛，善。不宜多服，令人氣喘。（《大觀》卷九頁３８，《政和》頁２３２，《綱目》頁８２９）</p>
<h3>３７.補骨脂</h3>
<p>惡甘草。（《大觀》卷九頁３７，《政和》頁２３１，《綱目》頁８１７）</p>
<h3>３８.縮沙蜜</h3>
<p>今按陳氏，生西海及西戎諸地。味辛，平，咸。得訶子、鱉甲、豆蔻、白蕪荑等良。多從安東道來。（《大觀》卷九頁３９，《政和》頁２３２，《綱目》頁８１２）</p>
<h3>３９.艾香</h3>
<p>謹按《廣志》云：生剽地。溫，平。主傷寒五泄，主心腹注氣，下寸白，止腸鳴，燒之辟溫疫，合　窠浴香港腳，甚良。（《大觀》卷九頁５２，《政和》頁２３６，《綱目》頁８２８）</p>
<h3>４０.蒔蘿</h3>
<p>謹按《廣州記》云：生波斯國。馬芹子即黑色而重，蒔蘿子即褐色而輕。主膈氣，消食，溫胃，善滋食味。多食無損，即不可與阿魏同合，奪其味爾。（《大觀》卷九頁５１，《政和》頁２３６，《綱目》頁１２０４）</p>
<h3>４１.蓽澄茄</h3>
<p>謹按《廣志》云：生諸海，嫩胡椒也。青時就樹采摘造之，有柄粗而蒂圓是也。</p>
<p>其味辛、苦，微溫，無毒。主心腹卒痛，霍亂吐瀉，痰癖冷氣。古方偏用染發，不用治病也。（《大觀》卷九頁４９，《政和》頁２３５，《綱目》頁１３２１）</p>
<h3>４２.茅香</h3>
<p>謹按《廣志》云：生廣南山谷。味甘，平，無毒。主小兒遍身瘡　，以桃葉同煮浴之。合諸名香甚奇妙，尤勝舶上來者。（《大觀》卷九頁５７，《政和》頁２３９，《綱目》頁８２７）</p>
<h3>４３.甘松香</h3>
<p>謹按《廣志》云：生源州。苗細，引蔓而生。又陳氏云：主黑皮　，風疳，齒，野雞痔。得白芷、附子良，合諸香及　衣妙也。（《大觀》卷九頁５２，《政和》頁２３６）</p>
<h3>４４.迷迭香</h3>
<p>味平，不治疾。燒之祛鬼氣，合羌活為丸散，夜燒之，辟蚊蚋。此外別無用矣。</p>
<p>（《大觀》卷九頁２８，《政和》頁２４０，《綱目》頁８２８）</p>
<h3>４５.仙茅</h3>
<p>生西域。粗細有筋，或如筆管，有節文理。其黃色多涎，梵雲呼為阿輸干陀。味甘，微溫，有小毒。主風，補暖腰腳，清安五藏，強筋骨，消食。久服輕身，益顏色。自武城來，蜀中諸州皆有。葉似茅，故名曰仙茅。味辛，平，宣而複補，無大毒，有小熱，有小毒。主丈夫七傷，明耳目，益筋力，填骨髓，益陽不倦。用時竹刀切，糯米泔浸。（《大觀》卷十一頁２８，《政和》頁２７３，《綱目》頁７５１）</p>
<h3>４６.白附子</h3>
<p>按《南州記》云：生東海，又新羅國。苗與附子相似，大溫，有小毒。主治疥癬風瘡，頭面痕，陰囊下濕，腿無力，諸風冷氣，入面脂皆好也。（《大觀》卷十一頁４４，《政和》頁２７９，《綱目》頁９７６）</p>
<h3>４７.瓶香</h3>
<p>謹按陳藏器云：生南海山谷，草之狀也。味寒，無毒，主天行時氣，鬼魅邪精等，宜燒之。又於水煮，善洗水腫浮氣。與土薑、芥子等煎浴湯，治風瘧甚驗也。（《大觀》卷十頁４５，《政和》頁２５８，《綱目》頁８２８）</p>
<h3>４８.釵子股</h3>
<p>謹按陳氏云：生嶺南及南海諸山。每莖三十根，狀似細辛。味苦，平，無毒。主解毒癰疽，神驗。忠萬州者佳，草莖功力相似，以水煎服。緣嶺南多毒，家家貯之。（《大觀》卷十頁４５，《政和》頁２５８，《綱目》頁７９１）</p>
<h3>４９.宜南草</h3>
<p>謹按《廣州記》云：生廣南山谷，有莢，長二尺許，內有薄片似紙，大小如蟬翼。主邪，小男女以緋絹袋盛一片，佩之臂上，辟惡，止驚。此草生南方，故作南北字。今人多以男女字非也，宜男草者，即萱草是。（《大觀》卷十頁４５，《政和》頁２５８，《綱目》頁１０９６）</p>
<h3>５０.車香</h3>
<p>按《廣志》云：生海南山谷。陳氏云：生徐州。微寒，無毒。主霍亂，辟惡氣，衣甚好。《齊民要術》云：凡諸樹木蛀者，煎此香冷淋之，善辟蛀　也。（《大觀》卷十頁４５，《政和》頁２５９，《綱目》頁８２７）</p>
<h3>５１.沖洞根</h3>
<p>謹按《廣州記》云：生嶺南及海隅。苗蔓如土瓜，根相似。味辛，溫，無毒。主一切毒瓦斯及蛇傷。並取其根磨服之，應是著諸般毒悉皆吐出。（《大觀》卷十頁４６，《政和》頁２５９，《綱目》頁１０３８）</p>
<h2>木部卷第三</h2>
<h3>５２.琥珀</h3>
<p>是海松木中津液，初若桃膠，後乃凝結。溫，主止血，生肌，鎮心，明目，破症瘕氣塊，產後血暈悶絕，兒枕痛等，並宜餌此方。琥珀一兩，鱉甲一兩，京三棱一兩，延胡索半兩，沒藥半兩，大黃六銖，熬搗為散。空心酒服三錢匕，日再服校量，神驗莫及。產後即減大黃。凡驗真假，於手心熱磨，吸得芥為真。複有南珀，不及舶上來者。（《大觀》卷十二頁１９，《政和》頁２９７，《綱目》頁１４７１）</p>
<h3>５３.沉香</h3>
<p>按《正經》生南海山谷。味苦，溫，無毒。主心腹痛，霍亂，中惡邪鬼疰，清人神，並宜酒煮服之。諸瘡腫，宜入膏用。當以水試乃知子細，沒者為沉香，浮者為檀，似雞骨者為雞骨香，似馬蹄者為馬蹄香，似牛頭者為牛頭香，枝條細實者為青桂，粗重者為箋香。</p>
<p>以上七件，並同一樹。梵雲波律亦此香也。（《大觀》卷十二頁４３，《政和》頁３０８，《綱目》頁１３６１）</p>
<h3>５４.薰陸香</h3>
<p>謹按《廣志》云：薰陸香，是樹皮鱗甲，采之複生。（《大觀》卷十二頁４５，《政和》頁３０９，《綱目》頁１３７１）</p>
<h3>５５.乳頭香</h3>
<p>謹按《廣志》云：生南海，是波斯松樹脂也，紫赤如櫻桃者為上。仙方多用辟谷，兼療耳聾，中風口噤不語，善治婦人血氣。能發粉酒。紅透明者為上。（《大觀》卷十二頁４７，《政和》頁３０９）</p>
<h3>５６.丁香</h3>
<p>按《山海經》云：生東海及昆侖國。三月、二月花開，紫白色。至七月方始成實，大者如巴豆，為之母丁香；小者實為之丁香。主風疳　，骨槽勞臭，治氣，烏髭發，殺虫，療五痔，辟惡去邪，治奶頭花，止五色毒痢，正氣，止心腹痛。樹皮亦能治齒痛。（《大觀》卷十二頁４２，《政和》頁３０７，《綱目》頁１３６３）</p>
<h3>５７.降真香</h3>
<p>徐表《南州記》云：生南海山，又雲生大秦國。味溫，平，無毒。主天行時氣，宅舍怪異，並燒悉驗。又按仙傳云：燒之，或引鶴降。醮星辰，燒此香甚為第一。度　燒之，功力極驗；小兒帶之能辟邪惡之氣也。（《大觀》卷十二頁４８，《政和》頁３１０，《綱目》頁１３６６）</p>
<h3>５８.藤黃</h3>
<p>謹按《廣志》云：出鄂、岳等州諸山崖。其樹名海藤。花有蕊，散落石上，彼人收之，謂沙黃。就樹采者輕妙，謂之臘草。酸、澀，有毒。主　牙蛀齒，點之便落。據今所呼銅黃謬矣。蓋以銅、藤語訛也。按此與石淚采無異也。畫家及丹灶家並時用之。（《大觀》卷十二頁５０，《政和》頁３１０，《綱目》頁１０５７）</p>
<h3>５９.返魂香</h3>
<p>謹按《漢書》云：漢武帝時，西國進返魂香。《武王內傳》云：聚窟洞中，上有返魂樹，采其根於釜中，以水煮，候成汁，方去滓，重火煉之如漆，候凝，則香成也。西國使云：其香名有六。帝曰：六名何？一名返魂，一名驚精，一名回生，一名震壇，一名人馬精，一名節死香。燒之一豆許，凡有疫死者，聞香再活，故曰返魂香也。（《大觀》卷十二頁５０，《政和》頁３１０，《綱目》頁１３８１）</p>
<h3>６０.海紅豆</h3>
<p>謹按徐表《南州記》云：生南海人家園圃中。大樹而生，葉圓，有莢。微寒，有小毒。主人黑皮　花癬，頭面游風。宜入面藥及藻豆。近右蜀中種亦成也。（《大觀》卷十二頁５１，《政和》頁３１０，《綱目》頁１４２６）</p>
<h3>６１.落雁木</h3>
<p>謹按徐表《南州記》云：生南海山野中。藤蔓而生，四面如刀削，代州雁門亦有。藤蘿高丈余，雁過皆綴其中，故曰落雁木。又雲雁銜至代州雁門皆放落而生，以此為名。</p>
<p>蜀中雅州亦出。味平，溫，無毒。主風痛，傷折，香港腳腫，腹滿虛脹。以粉木同煮汁蘸洗，並立效。又主婦人陰瘡浮　，以椿木同煮之妙也。（《大觀》卷十二頁５１，《政和》頁３１１，《綱目》頁１０５６）</p>
<h3>６２.木</h3>
<p>謹按《蜀記》云：生南中八郡。樹高數十余丈，闊四五圍。葉似飛鳥翼，皮中亦有面，彼人作餅食之。《廣志》云：作飯餌之，輕滑美好，白勝桄榔面。味平，溫，無毒。主補虛冷，消食。彼人呼為　面也。（《大觀》卷十二頁５１，《政和》頁３１１，《綱目》頁１３１０）</p>
<h3>６３.閘極木皮</h3>
<p>謹按《廣志》云：生廣南山野郊漢。《爾雅》注云：閘極木如桑樹。味苦，溫，無毒。主霍亂吐瀉，小兒吐乳，暖胃，正氣，並宜煎服。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１４８２）</p>
<h3>６４.無名木皮</h3>
<p>謹按徐表《南州記》云：生廣南山谷。大溫，無毒。主陰腎痿弱，囊下濕癢，並宜煎取其汁小浴，極妙也。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１２９４）</p>
<h3>６５.無名子</h3>
<p>無名木實號無名子，波斯家呼為阿月渾，狀若榛子。味辛，無毒。主腰冷，陰腎虛弱，房中術使用者眾。得木香、山茱萸良也。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１２９４）</p>
<h3>６６.奴會子</h3>
<p>謹按《拾遺》云：生西國諸戎，大小如苦藥子。味辛，平，無毒。主治小兒無辜疳冷，虛渴，脫肛，骨立瘦損，脾胃不磨。《劉五糧方》用為煎，治孩子瘦損也。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１３０７）</p>
<h3>６７.KT蘆葉</h3>
<p>謹按《廣州記》云：出新平縣，狀若茶樹闊大。無毒。主煩渴熱悶，下痰，通小腸淋，止頭痛，彼人用代茶，故人重之，如蜀地茶也。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１３２９）</p>
<h3>６８.干陀木皮</h3>
<p>按《西域記》云：生西國。彼人用染僧褐，故名。干陀，褐色也。樹大皮濃。</p>
<p>味平，溫，主症瘕氣塊，溫腹，暖胃，止嘔逆，並食也。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１４８２）</p>
<h3>６９.含水藤中水</h3>
<p>謹按《交州記》云：生嶺南及諸海山谷。狀若葛，葉似枸杞。多在路旁，行人乏水處便吃此藤，故以為名。主煩渴，心躁，天行疫氣瘴癘，丹石發動，亦宜服之。（《大觀》卷十二頁５２，《政和》頁３１１，《綱目》頁１０５４）</p>
<h3>７０.鼠藤</h3>
<p>謹按《廣州記》云：生南海山谷，藤蔓而生。鼠愛食此，故曰鼠藤。咬處人即用入藥。彼人食之，如吃甘蔗。味甘美，主腰腳風冷，大補水臟，好顏色，長筋骨，並銼，濃煎服之。亦取汁浸酒更妙。（《大觀》卷十二頁５３，《政和》頁３１２，《綱目》頁１０５４）</p>
<h3>７１.蜜香</h3>
<p>謹按《內典》云：狀若槐樹。《異物志》云：其葉如椿。《交州記》云：樹似沉香無異。主辟惡，去邪鬼尸注心氣。生南海諸山中。種之五六年便有香也。（《大觀》卷十二頁５３，《政和》頁３１２，《綱目》頁１３６３）</p>
<h3>７２.阿勒勃</h3>
<p>按《異域記》云：主熱病，及下痰，殺虫，通經絡。子，療小兒疳氣，凡用先炙令黃用。（《大觀》卷十二頁５３，《政和》頁３１２，《綱目》頁１３１１）</p>
<h3>７３.檳榔</h3>
<p>謹按《廣志》云：生南海諸國。樹莖葉根干，與大腹子異耳。又雲如棕櫚也，葉茜似芭蕉狀。陶弘景云：向陽曰檳榔，向陰曰大腹。味澀，溫，無毒。主奔豚諸氣，五鬲氣，風冷氣，宿食不消。《香港腳論》云：以沙牛尿一盞，磨一枚，空心暖服，治香港腳壅毒，水腫浮氣。秦醫云：檳榔二枚，一生一熟搗末，酒煎服之，善治膀胱諸氣也。（《大觀》卷十三頁１１，《政和》頁３１９，《綱目》頁１３０５）</p>
<h3>７４.蕪荑</h3>
<p>謹按《廣州記》云：生大秦國，是波斯蕪荑也。味辛，溫，無毒。治冷痢，心氣，殺虫，止痛。又婦人子宮風虛，孩子疳瀉。得訶子、豆蔻，良。（《大觀》卷十三頁１９，《政和》頁３２２，《綱目》頁１４１８）</p>
<h3>７５.安息香</h3>
<p>謹按《廣州記》云：生南海、波斯國。樹中脂也，狀若桃膠，以秋月采之。又方云：婦人夜夢鬼交，以臭黃合為丸，燒薰丹穴永斷。又主男子遺精，暖腎，辟惡氣。（《大觀》卷十三頁３９，《政和》頁３３０，《綱目》頁１３７４）</p>
<h3>７６.龍腦</h3>
<p>謹按陶弘景云：生西海律國，是波律樹中脂也，如白膠香狀。味苦、辛，微溫，無毒。主內外障眼，三虫，治五痔，明目，鎮心，秘精。又有蒼龍腦，主風瘡　，入膏煎良。用點眼，則有傷。《名醫別錄》云：婦人難產，取龍腦研末少許，以新汲水調服立瘥。</p>
<p>又唐太宗時，西海律國貢龍腦香，是知彼處出耳。（《大觀》卷十三頁１６，《政和》頁３２１，《綱目》頁１３７６）</p>
<h3>７７.摩勒</h3>
<p>生西國，大小如枳橘子狀。梵云：　摩勒果是也。味苦、酸、甘，微寒，無毒。</p>
<p>主丹石傷肺，上氣咳嗽。久服輕身，延年長生。凡服乳石之人，常宜服也。（《大觀》卷十三頁４０，《政和》頁３３１，《綱目》頁１３０２）</p>
<h3>７８.毗梨勒</h3>
<p>謹按《唐志》云：生南海諸地，樹不與訶梨子相似，即圓而毗也。味苦、帶澀，微溫，無毒。主烏髭發，燒灰，干血效。（《大觀》卷十三頁４０，《政和》頁３３１，《綱目》頁１３０３）</p>
<h3>７９.沒藥</h3>
<p>謹按徐表《南州記》：生波斯國，是彼處松脂也。狀如神香，赤黑色。味苦、辛，溫，無毒。主折傷馬墜，推陳置新，能生好血。凡服皆須研爛，以熱酒調服，近效。墮胎，心腹俱痛，及野雞漏痔，產後血氣痛，並宜丸散中服爾。（《大觀》卷十三頁３７，《政和》頁３３０，《綱目》頁１３７３）</p>
<h3>８０.海桐皮</h3>
<p>謹按《廣志》云：生南海山谷中。似桐皮，黃白色，故以名之。味苦，溫，無毒。主腰腳不遂，頑痹，腿膝疼痛，霍亂，赤白瀉痢，血痢，疥癬。（《大觀》卷十三頁４２，《政和》頁３３２，《綱目》頁１３９６）</p>
<h3>８１.天竹桂</h3>
<p>謹按《廣州記》云：生南海山谷。補暖腰腳，破產後惡血，治血痢腸風，功力與桂心同，方家少用。（《大觀》卷十三頁４８，《政和》頁３３４，《綱目》頁１３５９）</p>
<h3>８２.元慈勒</h3>
<p>慈勒樹中脂也。味甘，平。消翳，破血，止痢，腹中惡血，今少有。（《大觀》卷十三頁５０，《政和》頁３３５，《綱目》頁１３７８）</p>
<h3>８３.都咸子</h3>
<p>謹按徐表《南州記》雲生廣南山谷。味甘，平，無毒。主煩躁心悶，痰鬲，傷寒清涕，咳逆上氣，宜煎服。子食之香，大小如半夏。（《大觀》卷十三頁５０，《政和》頁３３５，《綱目》頁１３１２）</p>
<h3>８４.必栗香</h3>
<p>主鬼疰心氣，斷一切惡氣，葉落水中，魚當暴死。（《大觀》卷十三頁４９，《政和》頁３３４，《綱目》頁１３６９）</p>
<h3>８５.研藥</h3>
<p>葉如椒，主赤白痢，蠱毒，中惡，並銼煎服之。（《大觀》卷十三頁４９，《政和》頁３３４，《綱目》頁１３６８）</p>
<h3>８６.櫚木</h3>
<p>謹按《廣志》云：生安南，及南海山谷，胡人用為床坐，性堅好。主產後惡露衝心，症瘕結氣，赤白漏下，並銼煎服之。（《大觀》卷十三頁４９，《政和》頁３３４，《綱目》頁１４２０）</p>
<h3>８７.黃龍眼</h3>
<p>功力勝解毒子也。（《大觀》卷十三頁４９，《政和》頁３３４）</p>
<h3>８８.訶梨勒</h3>
<p>按徐表《南州記》云：生南海諸地。味酸、澀，溫，無毒。主五鬲氣結，心腹虛痛，赤白諸痢，及嘔吐，咳嗽，並宜使。其皮主嗽。肉炙，治眼澀痛。方家使陸路訶梨勒，即六棱是也。按波斯將訶梨勒、大腹等，舶上用防不虞。或遇大魚放涎滑水中數裡，不通舡也，遂乃煮此洗其涎滑，尋化為水。可量治氣功力者乎。大腹、訶子，性焦者，是近鐺下，故中國種不生。故梵云：訶梨恆雞，謂唐言天堂，未並只此也。（《大觀》卷十四頁８，《政和》頁３４２，《綱目》頁１４０９）</p>
<h3>８９.蘇方木</h3>
<p>謹按徐表《南海記》，生海畔，葉似絳，木若女貞。味平，無毒。主虛勞血癖氣壅滯，產後惡露不安，怯起衝心，腹中攪痛，及經絡不通，男女中風，口噤不語。宜此法，細研乳頭香細末方寸匕，酒煎蘇方，去滓，調服，立吐惡物，差。（《大觀》卷十四頁２４，《政和》頁３４８，《綱目》頁１４１８）</p>
<h3>９０.胡椒</h3>
<p>謹按徐表《南州記》，生南海諸地。去胃口氣虛冷，宿食不消，霍亂氣逆，心腹卒痛，冷氣上衝，和氣。不宜多服，損肺。一云向陰者澄茄，向陽者胡椒也。（《大觀》卷十四頁２７，《政和》頁３４９，《綱目》頁１３２０）</p>
<h3>９１.無食子</h3>
<p>謹按徐表《南州記》云：波斯國，大小如藥子。味溫平，無毒。主腸虛冷痢，益血生精，烏髭發，和氣安神，治陰毒痿，燒灰用。張仲景使治陰汗，取燒灰，先以微溫水浴了，即以帛微　，後傅灰囊上，甚良。波斯每食以代果，番胡呼為沒食子，今人呼墨食子，轉謬矣。（《大觀》卷十四頁１９，《政和》頁３４６，《綱目》頁１４０９）</p>
<h3>９２.千金藤</h3>
<p>謹按《廣州記》云：生嶺南山野。陳氏云：呼為石黃香。味苦，平，無毒。主天行時氣，能治野蠱諸毒，癰腫發背，並宜煎服，浸酒治風，輕身也。（《大觀》卷十四頁２７，《政和》頁３４９，《綱目》頁１０３５）</p>
<h3>９３.婆羅得</h3>
<p>謹按徐氏云：生西海波斯國。似中華柳樹也，方家多用。（《大觀》卷十四頁４７，《政和》頁３５８，《綱目》頁１４１１）</p>
<h3>９４.椰子</h3>
<p>謹按《交州記》云：生南海。狀若海棕。實名椰子，大如碗許大。外有粗皮，如大腹子、豆蔻之類；內有漿，似酒，飲之不醉。主消渴，吐血，水腫，去風熱。雲南者亦好。</p>
<p>武侯討雲南時，並令將士剪除椰樹，不令小邦有此異物，多食動氣也。（《大觀》卷十四頁３５，《政和》頁３５３，《綱目》頁１３０８）</p>
<h3>９５.桄榔子</h3>
<p>謹按《嶺表錄》云：生廣南山谷，樹身皮葉與蕃棗檳榔等小異，然葉下有發，如粗馬尾，廣人用織巾子，木皮內有面，食之，極有補益虛羸乏損，腰腳無力。久服輕身，辟谷。《錄異》云：桄榔蓋以此也。（《大觀》卷十四頁２４，《政和》頁３４８，《綱目》頁１３０９）</p>
<h3>９６.柯樹皮</h3>
<p>謹按《廣志》云：生廣南山谷。《臨海志》云：是木奴樹。主浮氣。采皮，以水煮，去滓，複煉候凝結丸得為度。每朝空心飲下三丸，浮氣水腫，並從小便出。故波斯家用為舡舫也。（《大觀》卷十四頁５３，《政和》頁３６１，《綱目》頁１４２２）</p>
<h3>９７.櫚木</h3>
<p>謹按徐表《南州記》云：生嶺南山谷。平，溫，主金瘡，疥癬，生肌，止血，並宜燒灰使用。其實黃白色，有大毒，不堪服食也。（《大觀》卷十四頁５１，《政和》頁３６０，《綱目》頁１４２１）</p>
<h3>９８.沒離梨</h3>
<p>微溫。主消食，澀腸，下氣，及上氣咳嗽，並宜入面藥。（《大觀》卷十四頁５２，《政和》頁３６０，《綱目》頁１３９３）</p>
<h3>９９.楸木皮</h3>
<p>微溫。主消食，澀腸，下氣，及上氣咳嗽，並宜入面藥。（《大觀》卷十四頁５２，《政和》頁３６１，《綱目》頁１３９３）</p>
<h2>獸部卷第四</h2>
<h3>１００.犀角</h3>
<p>謹按《異物志》云：山東海水中，其牛樂聞絲竹，彼人動樂，牛則出來，以此采之。有鼻角、頂角，鼻角為上。大寒，無毒。主風毒攻心　熱悶，癰毒赤痢，小兒麩豆，風熱驚癇。並宜用之。凡犀屑了，以紙裹於懷中良久，合諸色藥物，絕為易　。又按通天犀，胎時見天上物命過，並形於角上，故雲通天犀也。欲驗於月下，以水盆映，則知通天矣。</p>
<p>《正經》云：是山犀，少見水犀。《五溪記》云：山犀者，食於竹木，小便即竟日不盡。夷僚家以弓矢而采，故曰黔犀。又劉孝標言：犀墮角，裡人以假角易之，未委虛實。（《大觀》第十七卷，１７頁；《政和》３８３頁。）</p>
<h3>１０１.象牙</h3>
<p>謹按《內典》云：象出西國，有二牙四牙者。味寒，主風癇熱，骨蒸勞，諸瘡等。並皆宜生屑入藥，得琥珀、竹膏、真珠、犀角、牛黃等良。西域重之，用飾床坐。中國貴之，以為笏。昆侖諸國有象，生於山谷，每遇解牙，人不可取。昆侖以白木削為牙，而用易之。《酉陽雜俎》云：生文理必國富。又云：龍與象，六十歲骨方足。（《大觀》第十六卷，８頁；《政和》３７１頁，《綱目》１７６５頁）</p>
<h3>１０２.膃肭臍</h3>
<p>謹按《臨海志》云：出東海水中。狀若鹿形，頭似狗，長尾。每遇日出，即浮在水面，昆侖家以弓矢而采之，取其外腎，陰乾百日。其味甘香美，大溫，無毒。主五勞七傷，陰痿，少力，腎氣衰弱虛損，背膊勞悶，面黑精冷，最良。凡入諸藥，先於銀器中酒煎後，方合和諸藥，不然以好酒浸炙入藥用，亦得。（《大觀》第十八卷，１２頁；《政和》３９４頁，《綱目》頁１７９８）</p>
<h2>虫魚部卷第五</h2>
<h3>１０３.牡蠣</h3>
<p>按《廣州記》云：出南海水中。主男子遺精，虛勞乏損，補腎正氣，止盜汗，去煩熱，治傷陰熱疾，能補養，安神，治孩子驚癇。久服輕身。用之炙令微黃色熟後，研令極細，入丸散中用。（《大觀》第二十卷，６頁；《政和》４１２頁，《綱目》１６３８頁）</p>
<h3>１０４.石決明</h3>
<p>主青盲內障，肝肺風熱骨蒸勞極，並良。凡用先以面裹熟煨，然後磨去其外黑處，並粗皮了，爛搗之，細羅，於乳缽中再研如面，方堪用也。（《大觀》第二十卷，１２頁；《政和》４１６頁，《綱目》１６４２頁）</p>
<h3>１０５.秦龜</h3>
<p>謹按《正經》云：生在廣州山谷，其殼味帶苦。治婦人赤白漏下，破積症，頑風冷痹，關節氣壅。或經卜者更妙。凡甲炙令黃，然後入藥中。（《大觀》第二十卷，八頁；《政和》４１４頁，《綱目》１６２７頁）</p>
<h3>１０６.鮫魚皮</h3>
<p>謹按《名醫別錄》云：生南海。味甘、咸，無毒。主心氣鬼疰，蠱毒，吐血。</p>
<p>皮上有真珠斑。（《政和》４３４頁）</p>
<h3>１０７.</h3>
<p>謹按《廣州記》云：生南海。無毒，主月蝕瘡，陰瘡，痿瘡，並燒灰用。（《大觀》第二十卷，１２頁；《政和》４２０頁，《綱目》１６２１頁）</p>
<h3>１０８.蚺蛇膽</h3>
<p>謹按徐表《南州記》云：生嶺南。《正經》云：出晉安及高賀州，彼人畜養而食之。膽，大寒，有毒。主小兒八癇，男子下部　瘡。欲認辨真假，但割膽看，內細如粟米，水中浮走者是真也，沉而散者非也。（《大觀》第二十二卷，８頁；《政和》４４３頁，《綱目》１５８４頁）</p>
<h3>１０９.貝子</h3>
<p>雲南極多，用為錢貨易。主水氣浮腫，及孩子疳蝕，吐乳。並燒過入藥中用。（《大觀》第二十二卷，２０頁；《政和》４４９頁，《綱目》１６４７頁）</p>
<h3>１１０.甲香</h3>
<p>和氣清神，主腸風　痔。陳氏云：主甲疽，　瘡，蛇蠍蜂螫，疥癬，頭瘡，　瘡。（《大觀》第二十二卷，３３頁；《政和》４５５頁，《綱目》１６５０）</p>
<h3>１１１.小甲香</h3>
<p>若螺子狀。取其蒂而修成也。（《大觀》第二十二卷，３３頁；《政和》４５５頁，《綱目》１６５０頁）</p>
<h3>１１２.甲煎</h3>
<p>口脂用也。《廣州記》云：南人常食，若龜鱉之類。（《大觀》第二十二卷，３３頁；《政和》４５５頁）</p>
<h3>１１３.珂</h3>
<p>謹按《名醫別錄》云：生南海，白如蚌。主消翳膜，及筋弩肉，並刮點之。此外無諸要用也。（《大觀》第二十二卷，３０頁；《政和》４５４頁，《綱目》１６４９頁）</p>
<h3>１１４.蛤蚧</h3>
<p>謹按《廣州記》云：生廣南水中，有雌雄，狀若小鼠，夜即居於榕樹上。投一獲二。《嶺外錄》云：首如蝦蟆，背有細鱗，身短尾長。旦暮自鳴蛤蚧。俚人采之，割腹以竹開張，曝乾鬻於市。力在尾，尾不全者無效。彼人用療折傷。近日西路亦出。其狀雖小，滋力一般，無毒。主肺痿上氣，咯血，咳嗽，並宜丸散中使。凡用炙令黃熟後搗，口含少許，奔走，令人不喘者是其真也。（《大觀》第二十二卷，１５頁；《政和》４４７頁，《綱目》１５８２頁）</p>
<h3>１１５.郎君子</h3>
<p>謹按《異志》云：生南海，有雄雌，青碧色，狀似杏仁。欲驗真假，先於口內含，令熱，然後放醋中，雄雌相趁，逡巡便合，即下其卵如粟粒狀，真也。主婦人難產，手把便生，極有驗也。乃是人間難得之物。（《大觀》第二十一卷，２６頁；《政和》４３６頁，《綱目》１６５３頁）</p>
<h3>１１６.海蠶沙</h3>
<p>謹按《南州記》云：生南海山石間。其蠶形，大如拇指。沙甚白，如玉粉狀。</p>
<p>每有節。味鹹，大溫，無毒。主虛勞冷氣，諸風不遂。久服令人光澤，補虛羸，輕身延年不老。難得真者。多只被人以水搜葛粉、鍛石，以梳齒隱成，此即非也，縱服無益，反損人，慎服之。（《大觀》第二十一卷，２６頁；《政和》４３６頁，《綱目》１５２２頁）</p>
<h3>１１７.青魚枕</h3>
<p>南方人以為酒器梳篦也。（《大觀》第二十一卷，２４頁；《政和》４３５頁）</p>
<h3>１１８.真珠</h3>
<p>謹按《正經》云：生南海，石決明產出也。主明目，除面　，止泄。合知母，療煩熱消渴。以左纏根治兒子麩豆瘡入眼。蜀中西路女瓜亦出真珠，是蚌蛤產，光白甚好，不及舶上彩耀。欲穿，須得金剛鑽也。為藥，須久研如粉面，方堪服餌。研之不細，傷人臟腑。（《大觀》第二十卷，九頁；《政和》４１４頁）</p>
<h3>１１９.青蚨</h3>
<p>謹按《異志》云：生南海諸山，雄雌常處不相舍。主秘精，縮小便。青金色相似，人采得，以法末之，用塗錢以貨易，晝用夜歸，亦是人間難得之物也。（《大觀》第二十二卷，３４頁；《政和》４５６頁，《綱目》１５２５頁）</p>
<h2>果米部卷第六</h2>
<h3>１２０.豆蔻</h3>
<p>生交趾。其根似益智，皮殼小濃。核如石榴，辛且香，　草樹也。葉如芄蘭而小，三月采其葉，細破陰乾之。味近苦而有甘。（《大觀》第二十三卷１頁，《政和》４６０頁，《綱目》８１１頁）</p>
<h3>１２１.荔枝</h3>
<p>謹按《廣州記》云：生嶺南及波斯國。樹似青木香。味甘、酸。主煩渴，頭重，心躁，背膊勞悶，並宜食之。嘉州已下，渝州並有。其實熟甘美。荔枝熟，人未采，則百虫不敢近。人才采之，烏鳥、蝙蝠之類，無不殘傷。故采荔枝者，日中而眾采之。荔枝子一日色變，二日味變，三日色味俱變。古詩云：色味不逾三日變。員安宇荔枝詩云：香味三日變。今瀘渝人食之，多則發熱瘡。（《大觀》第二十三卷，２２頁；《政和》４７０頁，《綱目》１２９９頁）</p>
<h3>１２２.橄欖</h3>
<p>謹按《異物志》云：生南海浦嶼間。樹高丈余。其實如棗，二月有花生，至八月乃熟，甚香。橄欖木高碩難采，以鹽擦木身，則其實自落。（《大觀》第二十三卷，３７頁；《政和》４７９頁，《綱目》１３０１頁）</p>
<h3>１２３.松子</h3>
<p>味甘美，大溫，無毒。主諸風，溫腸胃。久服輕身，延年，不老。味與卑占國偏桃仁相似。其偏桃仁用與北桃仁無異是也。（《大觀》第十二卷，６頁，《政和》２９１頁，《綱目》１３０４頁）</p>
<h3>１２４.海松子</h3>
<p>去皮，食之甚香美。與雲南松子不同。雲南松子似巴豆，其味不濃，多食發熱毒。（《大觀》第二十三卷，４０頁；《政和》４７８頁）</p>
<h3>１２５.偏桃仁</h3>
<p>出卑占國，味似海松子，用與北桃仁無異也。（《大觀》第二十三卷，４０頁；《政和》４７８頁）</p>
<h3>１２６.都角子</h3>
<p>謹按徐表《南州記》云：生廣南山谷。二月開花，至夏末結實如卵。主益氣，安神、遺泄、痔，溫腸。久服無所損也。（《大觀》第二十三卷，４２頁；《政和》４７９頁，《</p>
<h3>１２７.文林郎</h3>
<p>南山亦出，彼人呼　。是味酸香，微溫，無毒。主水瀉，腸虛、煩熱。並宜生食，散酒氣也。（《大觀》第二十三卷，４２頁；《政和》４７９頁，《綱目》１２７６頁）</p>
<h3>１２８.無漏子</h3>
<p>樹若栗木。其實如橡子，有三角。消食，止咳嗽，虛羸，悅人。久服無損也。（《大觀》第二十三卷，４２頁；《政和》４７９頁，《綱目》１３０９頁）</p>
<h3>１２９.摩廚子</h3>
<p>謹按《異物志》云：生西域。二月開花，四月、五月結實如瓜許。益氣，安神，養血，生肌。久服健人也。（《大觀》第二十三卷，４３頁；《政和》４８０頁）</p>
<h3>１３０.君遷子</h3>
<p>謹按劉斯《交州記》云：其實中有乳，汁甜美香好，微寒，無毒。主消渴煩熱，鎮心。久服輕身，亦得悅人顏色也。（《大觀》第二十三卷，４３頁；《政和》４８０頁）</p>
<h3>１３１.草</h3>
<p>其實如球子，八月收之。彼民常食之物。主補虛羸乏損，溫腸胃，止嘔逆。久食健人。一名自然谷。中國人未曾見也。（《大觀》第二十六卷，８頁；《政和》４９８頁）</p>
