<header data-type="book">
<h1>證治心傳</h1>
</header>
<h2>序</h2>
<p>一介之士，苟存心濟物，於物必有所濟。雖蓬累而行，與得其時則駕者，不可同年而語，而其志則足尚矣。幕賓袁子體庵，顧影無儔，居珠湖之　。喜讀書，達通塞。其才如五石之瓠，不適於用，然濟人利物之心，未嘗去懷。早年侍親疾，博究方書，深得異人授，遂以天下之疲癃生理殘障為己任，視人之呻吟痛苦，不啻若涉者之溺於淵，呼號拯救，而思欲手援之。運籌韜略之暇，醫門著述滿簏盈　，醫津一筏，第其中一則耳。每憾今之醫籍，大半摭拾前人牙慧，割裂補竄，攘為己有以博名，高究之中無所得。苟逞其臆見，率意妄行，惟其載肯及溺而已。袁子之《心傳》，則折衷諸家，參以臨證經驗，有疑似難明者，發揮奧蘊，隨筆記錄，以待質正。予嘉其闡古今所必由之理，實天下所未見之書，俾後進者引而伸之，平時得之於心，臨症應之於手，裨益蒼生，非淺鮮也。於戎馬倥傯之際，抽間閱勘，俟鋒焰稍息，亟付手民，以餉世之習醫者。苟研求而有得焉，將免殺人之惡名，而為生人之仁術，豈不懿歟。</p>
<p><u>時在崇禎歲次癸未仲秋月兵部使者溧陽史可法識</u></p>
<h2>卷一</h2>
<h3>證治總綱</h3>
<p>吾嘗嘆今醫診病，鮮不以捷為工，即延醫者，亦以捷為能，何古今之不相若也。夫醫之診病，必以審慎為本。若捷於按脈，乃市醫苟且之為，班斷不如是。每治病證，莫不以望、聞、問、切，細加討論，然後辨標本，別表裡、虛實之異，參四時寒暑之候，隨症定方。雖不能盡合古聖之心傳，而可免私心自用之咎也。</p>
<p>況近世之醫書，每多以補虛立論。至大實有羸狀故，因穢濁、實邪盤踞在內，既不得見而知之，又為宜補之說橫於心中，往往惑於假虛之病象，而人多以下為畏途矣，更有世之不明虛實之宜，乃不善用者之誤。恆見得時之醫，自保聲名，不肯輕用下法，及至病久正虛，方投輕下之劑，自無效應；至不得時之醫，遇有病症，急於求效，遂妄用下法以決裂。人見時醫用下而無效，庸醫用下而致禍，遂使假虛之證誤於溫補，而戕生多矣。殊不思《內經》有有故無損之訓，仲景有急下存津之法。如《傷寒論》之承氣、陷胸等湯，用之得當，立能轉危為安。況邪入於裡、如賊踞畿輔內地，非邊遠之寇可比，急宜蕩除，然於腹裡地方，而行此兵凶戰危之事，務當操必勝之權而後可。今特將歷驗心得之法，和盤托出，以濟世人之危殆，而挽夭扎之慘也。</p>
<p>蓋診脈不足憑，以脈有皮；惟看舌苔為準，則以苔無皮，顯而易見。大抵有濁垢黃膩無津之苔，凡見此苔，即用下法，一劑得手，繼之以輕重進退，以視濁苔之減否或退盡，而可以知邪之清淨，一目了然。又有一種或隱或現、或黃或灰之苔，當細看其苔，必浮不實，而必現濁垢之形，是為虛苔，慎勿誤用下法，以誤人者。近見讀書不達變通之醫，拘執《傷寒論》，泥於一日太陽，執定先表後裡，概以日數傳經立言，昧於鬱伏內起之因，而不明常變之理；往往拘執脾胃宜於芳香溫燥、務戒苦寒攻削，乃未究立法之旨耳。即如東垣之補中升陽等方，是助其本也；仲景之承氣、陷胸等法，是祛其邪也。然臟腑因邪氣而暫變者，尚在常理之中，更有變出非常，如老弱、幼稚之質，每有大實之證，竟須竣下，多劑而愈者；又有年當盛旺，而忽患虛寒；及向非強質，忽患大實者，往往有之。或謂病患由於化氣而成，其化實、化虛、化寒、化熱，皆未可常理測焉，臨症不可拘守恆情，尤不可固執成見，要在辨證的而用藥當，方克有濟。</p>
<p>惟病之已成，雖有良工，終不能保其十全，欲求最上之道，莫妙於治其未病。大凡疾病，雖發於一朝，已實釀於多日。若於未發之先，必呈於形色，遇明眼人預為治療，可期消患於未萌也。至於病勢已減，末後調攝尤宜加慎，既勿留邪遺患，更忌過劑損正，均關至要。</p>
<p>惟膏丸本為緩調善後之用，然亦當知緩急，細察精詳。若正氣已復，即宜停止，防久而增氣，反生他患，切勿以補益之劑，可以久服。總之，無病不宜以藥餌為調養，非徒無益，而反有損，以其藥性各有偏執故也。仍須研究經文，握陰陽之綱領，最為簡捷。譬如傷於食者，若無陰陽偏盛之變，不過暫時悶脹，捐穀一日即消；倘陰寒鬱抑，則所停之食，為水中之冰矣；若溫熱鬱伏，則所傷之食，為爐中之炭矣。無形附著有質，有質助其無形，病患成矣。至於血之瘀，有寒凝、熱結之因；蛔之動，有大寒、大熱之分。</p>
<p>一切疾病，或由天時感化，或因情志感傷，或本質偏虛，其成者皆歸二氣為本，明乎</p>
<p>《內經》云：「水火者，陰陽之征兆也；寒熱者，陰陽之性氣也」，乃得由博反約之道焉。若欲明醫理之淵微，必先考審《素問》、《靈樞》之秘，熟讀仲景《傷寒》之旨，自有左右逢源之妙，非徒恃於陰陽五行，創滋陰、溫補之法，以八味、六味湯丸加減變化，誤人非淺。余所論方法，皆為挽回溫補之弊而設，亦不得已也，非欲與時醫爭名，亦不欲妄議著書者之過，而實欲明虛實，別標本，以為壽世濟人之殷鑒也可。</p>
<p>瀾按：先生著書時，當崇禎甲申以前，正四方擾亂之日。其所謂溫補為害，乃隱斥薛立齋之誤。其時士大夫惑於溫補，致誤者多，先生所不明言者，恐傷時而招尤，藉以避世俗之忌，而以明虛實、別標本，為壽世濟人之朮、不啻大聲疾呼，其心可謂仁焉。</p>
<h3>治病須明陰陽虛實論</h3>
<p>蓋人身本陰陽二氣化成，二氣平調，人無疾病；二氣一有偏勝，則疾患生矣。自古及今，方治雖多，總不出補偏救弊而已。虛者補之，實者瀉之，矯其偏勝，歸於和平，則疾瘳矣。然陰陽者，天地萬物之源也。天之六淫，人之七情，以藥物性，皆稟乎此。</p>
<p>以人身言之，氣為陽，血為陰。衛氣行於外者為陽，營氣榮於中者為陰。六腑為陽，五臟為陰。身半以上屬陽，身半以下屬陰。先天之陰陽，腎命是也；後天之陰陽，脾胃是也。人之所以充身、澤毛、蒸化水穀、溫養營運，皆陽氣之發用也。惟陽氣不能孤立，必賴陰血以濡之，成形、成質，濡潤、流通，皆陰血以維持也。是以臟腑、肢體，雖有陰陽之異，而內外軀殼，無處不具陰陽之氣也。</p>
<p>陰陽相合則生，偏勝則病，離散則死。病之發也，大偏則大病，微偏則微病。人之死，非陽盡，則陰竭矣。況人之生也，氣秉各有偏盛：如蒼赤骨大而瘦者，為陽體；柔白骨小而肥者，為陰體。肥人之病，恐虛其陽；瘦人之病，慮涸其陰。天之六淫，亦乘人身之虛而感化：陰虛之體，易感風、燥、暑、火；陽虛之質，易感寒、濕、霧、露。陽從火化，陰從水化，水寒火熱。《內經》謂：陰虛生內熱，陽虛生外寒。陽盛多實，陰盛多虛。明乎陰陽，則表裡、虛實、寒熱之病，一目了然矣。或謂大怒傷陰，大喜傷陽，思慮則脾陽結，恐懼則腎陽消，勞力汗出則衛陽疏，苦思極慮則心陰擾。至於妄下傷陰，妄汗傷陽，大吐傷陽，失血傷陰，辛熱傷陰，苦寒損陽，由是推而至於七情六氣，莫不統馭於陰陽也。臨證者但以審陰陽盈虛、消長之理，雖病狀變化莫測，不外陰陽偏虛之患，治以補偏救弊之法。惟不可以陰虛、陽虛立論，用六味、八味為定法，要在明察致病之由而施治，則思過半矣。</p>
<p>譬如傷寒，是表陽傷也，用辛溫以散表寒；若溫熱，是裡陰熾也，用苦寒以勝裡熱。推而至於陽水、陰水，陽黃、陰黃，陽脫、陰脫，陽暑、陰暑，陽瘧、陰瘧，陽狂、陰癲，陽癰、陰疽，皆不外陰陽偏盛之道也。茲將陽邪為病先言之：如脈數、身熱、便秘、竅干、煩躁、舌苔黃黑、口渴多飲是也。其陰邪為病，脈遲或緊，舌白滑膩，面色清白，諸竅潤濕，便泄溲清是也。</p>
<p>如審其陰邪在表，有麻黃、桂枝之法；若知陰邪之在裡，有四逆、理中之法。其治陰實也，有三物白散、附子瀉心等湯；其治陽實也，有白虎、黃連等湯。甚則用承氣陷胸之法、建中扶陽氣之劑，復脈救陰液之方。</p>
<p>又有陰盛者，外則惡寒、肢冷，內則濁陰上逆。犯於清陽，為頭痛、喉痹、嘔吐、喘嗽、呃逆、霍亂、胸痹、痰飲、水腫、泄瀉；寒凝不通，為胸脅腹痛；及其陰盛之極，則見鬼、發躁、汗脫而死。若陽亢者，外則身熱、骨蒸；內則火氣上炎。熏灼清道，亦為頭痛、喉腫、嘔惡、消渴、喘咳、霍亂、痰結、迫瀉、斑黃、狂亂；燥結不通，亦有胸脅腹痛，甚則譫妄目盲、昏沉氣絕。</p>
<p>又有陽極似陰，陰極似陽，最易惑人。假如外雖面赤、煩躁、惡衣，其脈重按必無力，口雖渴而不多飲，舌苔黃而潤滑，二便不黃赤、不燥結；甚則裡熱盛重，往往格陰於外，反覺肢冷、惡寒、戰栗，熱深厥深，按其脈沉數有力，口必燥渴能飲、舌必干燥不澤，苔多黃黑裂紋，二便黃赤、秘澀等候。要在分虛實以用藥，則無他岐之惑矣。</p>
<p>總之，辨症精詳，診脈尋源，則執簡以御煩，扼要尤易；非近世醫書，拘執病名以求治，則望洋生嘆，散而難稽，所以不能見病知源，反滋疑誤。今特約而簡，顯而明，使後進者有所指歸歟。</p>
<p>瀾按：表裡、虛實、標本、陰陽，明此八字，萬病變幻雖多，以此推測，有殊途同歸之妙。</p>
<p>經云：知其要者，一言而終；不知其要，流散無窮。由是觀之，醫貴博通古今，超越前哲，非學有根柢者，所不能道焉。今先生所論，皆振衣挈領之法，非近代醫書執成方以療治者，所可同日而語也。苟能潛心體察，熟讀深思，自獲左右之妙，則胸有成竹，不致人云亦云，拘執溫補以誤人哉。</p>
<h3>治病必審四時用藥說</h3>
<p>四時者春夏秋冬，乃一歲代謝之序，其生長收藏，循環不息，生生無窮，此天之顯明切近之氣。惟氣有清和，則不能無偏勝。人在氣交之中，受天地和氣而長著，受天地戾氣而致疾。</p>
<p>以長夏暑濕挾雜，尤易傷人元氣，消爍津液。濕為濁邪，最易傷陽。當天暑地熱，人身之氣亦發越於外，腠理開，汗大泄，人之脾胃因之虛弱，外因濕蒸之酷尤易感受，隨人身陰陽之偏盛而為病。如奔走長途，受烈日之威，則為中暑，輕則六一散，重則白虎湯。若畏熱乘涼，暑為風伏，宜香薷飲加減為治。或居涼亭、水閣，多食瓜果、冷物，內外虛陽被遏，是為寒暑傷陽，即宜用辛溫治之，如大順散、冷香飲子之類。若但多食生冷者，縮脾飲、正氣散隨宜而用。若其人元氣素虛，微感外暑，治以生脈散、清暑益氣湯、消暑丸等醒脾陽、祛濕熱而已。</p>
<p>至於冬令，嚴寒肅殺之氣為傷寒者，仲景言之詳矣。惟陽氣潛藏於內，天時晴燥，雨雪稀少，乃成冬溫之證，須用大劑清下，不得拘執《傷寒》成法以誤人哉。近世此病甚多，尤宜加審。輕則用杏蘇飲，重則用蔥豉東加荊、薄、枳、桔、連翹、大貝以達表為治。</p>
<p>若時值初春，嚴寒將退，風木司權，其氣善升而近燥，多犯上焦，故多身熱、咳嗽、微惡寒者，以黃芩湯為主方，隨症加減，如薄、桔、荊、防、杏、蘇、翹、貝、桑、菊、牛、蟬之類，取清輕之味清肅肺衛；若失治久延，漸入榮分，有逆傳、順傳之候。近世市醫不知者，多徒守仲景六經成法，輒投辛溫表散，耗液傷陰，或變神昏、鼾睡、厥逆、瞀　，或咳甚失血、延成癆瘵，或胃實失下，譫狂痙搐，莫救者多矣。又有熱極旁流，名為順傳胃府法，宜急下以存陰液，然有舌苔黃燥裂紋可憑。奈何庸醫不知者多，余以濟世為懷，晝夜研鑽，斯悟其致病之由、挽救之法，歷驗不爽，隨筆記之，以拯斯民之厄。</p>
<p>嗚呼！自古迄今，無人發明春溫、濕溫、冬溫之奧蘊，致誤於庸俗者，不啻恆河沙數矣。</p>
<p>或者前哲知其所以然，而珍如拱璧，未能筆之於書，日久淹沒者有之；或有其書，久久失傳，亦未可知也。更有誤於經文者，如「秋傷於濕，冬生咳嗽」，細心研究「濕」字，的系傳寫之訛。</p>
<p>歷來注家隨文注釋，亦未正其訛謬，又復曲為誤引「長夏暑濕」，見證混淆於其間。豈知初秋承長夏之末，暑濕伏氣為患者，可以仍用清暑燥濕之法；時值夏、秋交替之時，最易變幻，直迨深秋，燥令大行，往往盛於秋末、冬初，人在氣交之中，受其戾氣，伏而不宣，是為秋燥。其症咳嗽，身熱，胸悶，甚則譫妄、痙厥諸危候畢呈，當審天時之涼暖，而分寒燥、熱燥之治，藥用溫潤、甘寒之品出入加減；又當驗其舌苔，若焦黃燥裂，口渴能飲者，須用大劑清下，如三黃承氣等法，為釜底抽薪之治，切勿畏攻而留邪，致延日久大實而有羸狀，誤於溫補不起，以誤人者。余為利人救危計，不得不將歷驗心法公諸宇內，以便後進得指歸之益耳。</p>
<p>瀾按：四時，暑濕為最歷。至於風溫、秋燥、冬溫等證，前人混於傷寒，拘執傳經日數，誤於辛溫表散。自先生闡明風性上升而氣近澡，始犯上焦，治宜清肺輕劑，更復申明秋燥一語，辨正經旨，有功後進，厥旨深切明矣。世人僅知「溫邪上受」一言，葉氏創解，而不知葉氏前已有言之哉！或者葉氏本此書而闡明其旨，由葉氏傳播，亦未可知。諺云：後來居上。</p>
<p>其斯之謂歟。</p>
<h3>辨症訂方必先審四診記</h3>
<p>診視之要，必先詳察形色，然後細問致病之因。聞其聲音啞響，察其肌膚肥瘦，問其苦欲，按其胸腹，視其舌苔，詢其渴飲、二便通塞，苟能不憚煩瀆，則在裡之虛實、寒熱已得其要領矣。</p>
<p>大抵胃有邪滯，舌必有苔，苔之燥潤、黃白、濃薄，以辨邪滯之淺深，而用輕下、重下之方法。至於口渴，能飲者，屬實熱口渴；不能飲者、屬虛熱。小溲赤澀、大便燥結者，實熱也；小便清利、大便溏泄者，虛寒也。若潛心推測，則病之寒熱、虛實，自無狐疑之惑矣。然後參乎脈之浮沉、遲數，則標本、虛實更有鑒別矣。</p>
<p>余於切脈辨證，尤加慎審，未敢輕忽。推測歷驗心得，竟是左手主陰，右手主陽。凡溫熱之病，熱邪灼陰，右手脈大，左手脈微，迨下盡熱邪，左脈始起，右脈亦平。又沉寒痼冷之　，右脈極沉微，左脈皆緊盛，直至數溫之後，左脈平而右脈起矣。凡陰陽偏虛，亦驗左右可知。陰氣先絕者，左脈先絕；陽氣先絕者，右脈先絕。又有緊與數相似，有寒、熱相反之別，亟宜辨明。近時溫疫證重者，正為邪制，脈反極微如無，當審其平昔有無宿病，分別老幼、強弱而斷之。假如素無疾患，體質強壯者，決其脈因病變，必視其舌苔黃濁、燥裂，胸腹拒按；一經下後，病邪漸退，而脈亦漸起。如大虛有盛狀、大實有羸形，陽病似陰，陰病似陽，若不細察精詳，誤人性命豈淺鮮哉！惟溫、清、攻、補四者之中，以平補之補較輕，緣微補不過助疾，且有助正之能，若濁補則有遏邪之患。況古方每以補正之中，參以逐邪之品；攻下之方，寓以扶正之治。凡大攻、大熱、大寒之劑，稍有疑似，只可漸次加足，切勿過劑傷正。倘虛症誤下，則禍不旋踵，挽回莫及之勢矣，謹之、慎之！譬如熱而不實者，當用白虎、黃連，若誤投承氣、抵當，則敗；若陰虛虛熱、應用補血滋陰者，若誤投黃連、白虎，則亦殆矣。更有實症用下後，病勢盡瘳，忽又發熱或寒熱不已，乃正氣驟虛，即當大補以善其後也。又有寒病化熱、熱證轉寒，虛中夾實、實症兼虛，變幻多端，要在審辨精當，細心體察，可免實實虛虛之咎，於心無愧。否則，草菅人命，班實目擊心傷。愿人人如我之存心，體上蒼好生之德，則天下夭札之患，稍可挽救矣。</p>
<p>瀾按：病證萬變，要在審察形色，聞其聲音，問其病因，然後切脈。則虛實立辨，寒熱立判，乃不為外象所惑，寒者熱之，熱者寒之，沉　頓起，良醫之名播矣。今讀先生手記，處處以慎審為主，發明左手屬陰，右手主陽；凡溫熱重病，脈見微細如無；以及誤攻禍重、誤補增疾等言，皆前人所未言，可謂仁且智矣。況先生之學術深邃，猶且精細若此，存心利濟，愿人人遵而行之，以免草菅人命，可謂仁至義盡。若後進之士，雖不能如先生才識，而效其存心，學雖不及，則以慎審從事，足以步良醫之後塵矣。</p>
<h3>用藥宜精審慎勿疏忽記</h3>
<p>治病之要，首辨藥性。用藥得當則救人，用藥不當則殺人。若性味猛烈者，人易知之；其間有極和平、泛常之品，幾微之間，亦能僨事者，必須潛心研究，庶免致患。嘗憶昔醫治虛痘，用四君子湯，平妥極矣，然亦間有枯斃者，以其白朮之燥、茯苓之滲，即為大害；有陰虛用四物湯尚能獲咎，以芎、歸辛竄耗陰。夫苓、朮極平和之性味，芎、歸體陰微辛之氣，尚能遺害，至於暑熱、霍亂，服生薑湯立弊者，書載難以枚舉耳。更有其藥本不對症，因其能揠苗助長，或治標病有小效，而其害過後方顯者；或因病重藥輕、藥邪相拒，初服反覺不安，患者不知，遂即更醫，反致錯亂者，凡此之類，尤屬暗而難測。惟須細心討論藥、病，如何相制、如何相反之理，而用之得宜者。譬如氣虛者，只宜甘溫極純之劑，不能稍參克耗，間不容發。若病久胃虛，僅宜參　、參地之品，若挾炒朮、二陳、歸、芎等，即覺不妥。又如陰極虛而亡血者，只宜純甘柔潤，以三才復脈等法，然必去桂、薑。推而至於婦女之胎產，或血崩過多，或郁勃日久，皆不得用升散之品。又有化燥、化熱之證，不能夾絲毫辛溫苦燥。每見大泄之病，服胃苓而加劇，乃豬、澤滲利太過，反助下行之患。他如寒忌清涼，熱忌辛溫；虛忌消耗，實忌澀滯；上逆者，宜降不宜升；下泄者，宜固不宜降；散亂者，宜收斂不宜辛散；郁結者，宜宣達不宜澀滯。用藥相當則病瘳，相忌則病進。</p>
<p>至於虛羸、年老，孕婦、產後，若患實症，攻邪宜早，乘其正未重傷，邪未深入，慎勿畏攻，牽延正為邪傷，挽之莫及。當此危疑之際，有起死回生之法也。余治大病，必用大藥，歷獲奇效，如大散以麻黃、羌活為主，大攻以大黃、芒硝為要，大溫以附子、乾薑、肉桂為主，大清以石膏、黃連為主，大補以人參、黃　為主，大滋陰以熟地、二冬為主。每遇大實之症，必須大劑，大黃由五錢至一兩；治大寒之症，附子由三錢增至六錢者；大清之症，石膏由八錢增至五兩者，方克捷效，轉危為安。所以醫貴閱歷、經驗，非近世庸愚無識，每以輕藥相代，或用數分至錢半，以希起死回生者，何異痴人說夢耳。夫藥性生成，各具專能，生剋制化，用以補偏救弊，斷非他物可代。</p>
<p>然用藥之道，各有次序，凡邪犯上焦、心肺、頭目、清竅，則宜輕清之品，不宜重味，藥過病所，反傷中下。郁結之病，治從輕宣柔潤，不宜苦重、大熱、補澀之品，非徒無效，而反增病也。倘婦女崩漏，治宜重大之劑，方可勝任；若用輕小之劑，揚湯止沸，於病無濟。大瀉之，湯劑直過病所，不能留戀，宜用末藥以緩止之。至瘋狂、淫瘡、疫癘等患，皆宜重下，輕微之品難於取效。所列各法，皆平日歷驗心得，用特錄記，以備研究，作後進之模范也可。</p>
<p>瀾按：用藥之道，言之精且詳矣。大病用大劑，方克勝任，庶免正虛邪盛，更難挽救，是平素經驗閱歷之言。論中石膏用至五兩，大黃用至一兩，桂、附等亦五六錢者，是《內經》有故無損之遺法，然非有先生之才識則可，無先生之膽略則不可。學人尤當熟讀深思，潛心推測，自能心領神會而造精微，步良醫之後塵，庶不負指歸之教焉。</p>
<h3>胃為生化之源記</h3>
<p>經云：胃者，五臟六腑之大源也。人自有生之後，惟賴五穀以滋養。穀入於胃，流行於臟腑，化津化液，熏膚、充身、澤毛，莫不以胃氣為本。人有胃氣則生，無胃氣則死。故仲景</p>
<p>《傷寒論》陽明症最多。陽明者，胃也。變化五穀滋生之大源，七情六淫皆以胃氣強弱為轉移，推而至於溫熱、暑濕、瘧痢、咳嗽、嘔瀉、腫脹、胸悶、氣痛等症，均出於胃也。夫胃為水穀之海，生化之源，內而臟腑、氣血，外而筋骨、皮肉，無不賴以灌溉，萬物所歸者也。經以胃為多氣多血，一身之關鍵。人身七情之感，怒盛傷肝，肝動則氣逆上衝，怒息則肝自平，而所病者，乃被沖之胃耳。假使邪入五臟，其人立死，雖輕邪亦為痼疾矣。</p>
<p>市醫不知生化之理，謬稱風伏於肺，又云脾為生痰之本、肺為貯痰之器，或謂痰迷心竅，殊覺噴飯，不思之甚。蓋肺為嬌臟，何能留風、貯痰？試問其風、其痰，從何道入內耶？至於心為一身之主，其竅更何能容痰？況心、肺居至高之位，不能入痰，即脾亦為清淨之臟，亦不能容痰。每見痰由食管吐出，即知痰生於胃矣。余臨症研究，歷驗心得而闡明之，以啟後進而免再誤也。大抵人身以胃為總司，其用煩雜，其位沖要，凡內外諸病無不歸之於胃。</p>
<p>余每用治胃方法以療諸病，功效捷應。今特揭明，以備采擇，不致為古書所惑。孟子云：「盡信書不如無書」一語，推而至於《內》、《難》經文，其中謬誤，不可枚舉。余為活人計，不得不直言之歟。</p>
<p>瀾按：萬物莫不歸於胃，故胃為五臟六腑之海也。今先生闡發胃之功用，博考治胃諸方，以療溫熱、濕溫危　；又擴充肝、肺諸病，亦因於胃病者，於是專以治胃，功效昭著。藉以啟後進之智識，不致仍惑於陰陽五行、八味六味湯丸可治一切病患之遺害，挽回溫補之頹風，先生之濟世苦心，昭然若揭矣。</p>
<h3>保身可以卻疾說</h3>
<p>古人以淡泊為本，身多強壯；今人以嗜欲所耽，每多羸弱。病患纏綿，推其所以致病之源者，皆性耽淫樂。未滿二八而精道已破，本源先竭，於是六淫戾氣乘虛襲入，一切疾病生於內虛之體，治之非易。況世無良醫，不明致病之因，妄投湯藥，不死於病而死於庸醫之手者多矣。然而致病之源，乃自取之耳。若能知嗜欲之害，守聖訓七損八益之戒，慎風寒，節飲食，不貪醇酒，不妄作勞，篤重倫常，濃培陰德，如是根深蒂固，則氣體自然強旺，疾病自可稀少，傳世可期久遠。享期頤、登上壽者，皆是守身執玉之士。孰得孰失，豈可不慎於細而謹於微哉！余濟人心切，特揭明而示戒之。</p>
<p>瀾按：當明季時，世態情欲已經若斯輕薄澆漓，現隔一百九十余年，凶荒兵火之余，而人心性嗜欲，尤甚於前明十倍。更增鴉片一物，耗爍氣血，熏灼臟腑，尤能助淫縱欲，奈何人不惜命，甘之如飴，終歸戕生速死，此嗜好之一大變也。</p>
<h3>侍疾應知論</h3>
<p>醫為人子，所當知古人有《儒門事親》之書，良有以也。第醫理邃深，而知醫之理難為庸人律也；惟侍疾之道，是賢愚當共曉應為之要也。若父母偶染疾病，為子者當慎擇良醫，亟早調治，毋待病邪深入，以傷氣血。藥必躬自撿察，購買道地上品，煎時必親自看視，逐味查對，防其錯誤。教其煎法，如須表散，用蘆薪猛火；若系滋補，用炭火緩煎等法。煎成，親送親前，寒溫合宜，斟酌盡善，不離左右，視其或汗、或下之驗，以及米飲、茶水等物，毋使失序。切勿委之奴仆，徒有服藥之名，每多錯誤之害。若暫時疾病，人尚易為；若衰邁沉　，年深月久，呻吟枕席，困臥難起。最苦者二便，須人扶持，撤換洗濯。每當夏令炎暑，蠅蚊攢刺，冬日嚴寒，衣被啟覆，以及飲食一切，非人照料。不可莫無切己之人當心侍候，則垂暮之光陰，如同囹圄之歲月。</p>
<p>為子者，當思父母生我劬勞。自身在襁褓中，父母晝夜保抱，就濕推干，萬般辛苦，毫無疏懈，以及痧痘疾病，扶持保護，延醫禱神，畢生心力盡悴於我生之後。今當父母衰年患病，正人子報本之秋，何辭勞碌侍奉。倘有便溺、痰涎，切不可畏污，必自為撤換，隨時查檢，雖不如古人嘗糞割股之孝，亦當效烏鴉反哺之意。若一概委之奴仆，萬難實心從事。況此輩面是背非，而病者自知情形衰弱，苦況亦多，含忍不言。如是者，縱有兒孫繞膝，皆屬虛名無濟。倘有仆輩誠實可靠，亦須人子親身督率，優給仆使犒賞也。古云：百善孝為先。人能盡父母一日之勞，即得一日之功行；能盡一二年之勞，即得一二年之功行，在此根本上用力，勝一切善舉萬倍矣，又何憚其久勞疲弊哉！至於境處富貴不同，惟侍親之道，無從分別。若貧賤者無力僱人，自身尤宜加力。凡藥餌、飲食之費，務須竭力籌措，因父母逋累，亦可對人。果能盡心純孝，自當感格上天，必不使終於貧賤也。如富貴者，當思天以美境與我，若不加倍盡孝，何以對天。若置父母於腦後，任其痛苦呻吟，而自擁妻外家以安眠，自己捫心，尚得謂之人乎！況根本既虧，恐富貴亦難久遠矣。又有兄弟多者，當各盡各力，切忌推委。遇婦女不知盡孝，必痛加教誨，萬勿溺愛、聽信。余屢見年老衰疾之人，為仆使所欺；甚至病危之際，抱持不慎，一蹶而斃者，人多不察、不知。要知人人皆有老時，代代兒孫看樣，為父母即為自己也。</p>
<p>嗚呼！人有一息尚存，皆知痛癢，於有限之時光，克盡其心力。較之死後知識全無，做齋、打蘸、祭吊之虛文，徒然以有用之金錢，為僧道欺蒙，其益當何如哉。有父母者，深思力行，豈可忽乎哉。</p>
<p>瀾按：先生向以孝聞，以己之心，度人之心，大聲疾呼，愿天下之人，皆知盡孝。惟近世富貴家往往自昧本源，僅知逢迎顯者，以圖進取功名，置父母於罔顧，余目擊心傷，姑隱其名而不宣。瀾雖慕先生孝行，愧無先生學識，惟愿稍步後塵，聊盡為子之心而已。</p>
<h3>瘧咳嗽記</h3>
<p>嘗讀《內經‧瘧論》，治法獨詳，分十二經見證，以榮衛為綱領，以氣血分陰陽，而察外感、內傷之偏盛。若其人陽盛則發熱，陰甚則惡寒。以膜原居表裡之界，入於衛氣所行之度數，互相爭拒，則寒熱往來；其少陽為半表半裡之樞，與膜原接壤，外象似乎瘧由少陽為傳舍，庸俗遂拘執小柴胡湯為治瘧專方，其不思之甚矣。仲景《金匱》云：瘧脈自弦，弦數者多熱，弦遲者多寒。以中土有邪，木易順乘故也。</p>
<p>夫瘧有寒溫、癉牡、虛實之分，其作止有定時。邪淺一日一作，或間日、或三日一作者，謂之陰瘧，因邪在陰分，留連難愈。大抵治瘧之法，調和榮衛，毋使陰陽偏盛，酌用寒溫之方，以平調之。然必辨其感、傷、虛、實之因，審其宜汗、下、消、補之劑。如邪伏於陰，用升清之藥提之出陽，自無堅結之患。大法已備，細心揣度，則思過半矣。</p>
<p>至於咳嗽之因，不外寒、熱、虛、實之邪，挾風邪襲於肺、胃。肺、胃之邪上干清道，則咳嗽作矣。《內經》云：五臟六腑皆令人咳。又云：聚於肺，關於胃也。蓋肺為清肅之臟，不容絲毫外邪，干之則咳嗽、氣逆，甚則喘息、失音，延成癆瘵，不治者多矣。余治外感寒邪，每用小青龍湯減其分量，如麻黃、乾薑各一錢，細辛五分，製半夏錢半，五味子四分，炒芍一錢，甘草五分，桂枝六分後入，並隨症加減，如熱甚加杏仁、石膏，去乾薑、桂枝，莫不應手取效。如風熱甚者，麻、杏、石膏、甘草、海石、枇杷葉等，亦多取效。斯皆余之心法，隨筆記之，以期後進得其指歸云。</p>
<p>瀾按：咳嗽一症，《內經》言之詳矣。六淫外邪，風寒最多，先生用小青龍湯治寒嗽，系實驗心得。至瘧疾，因寒熱往來為少陽見證，世醫不明，往往拘執小柴胡湯為主方，隨症加減，與《內經》、《金匱》分寒、熱、虛、實、癉、牡等名，大相逕庭。先生闡明其誤，以濟人為懷，不啻大聲疾呼，以啟後學之悟焉。</p>
<h3>中風腫脹辨</h3>
<p>經云：風氣善行而數變，又為百病之長也。亦隨人身之盛衰為轉移，假如西北地土凜烈，人體剛勁，外風驟入，卒然倒仆，昏不知人，口眼　斜，頻吐涎沫，有真中、類中之分別，中臟、中腑、中經、中血脈之殊證，有閉、脫之異。藥用開固之法，如用小續命湯開其衛氣，以參附、　附湯固其榮氣，他如侯氏黑散、風引湯，皆填竅以息風之治也。迨李東垣謂元氣虛弱，驟然卒倒無知；劉河間以風乘火勢，火藉風威，其人亦卒然仆倒昏厥；朱丹溪以東南氣溫多濕，濕生痰，痰生熱，熱生風，忽然神昏搐搦，口眼歪僻等候現矣。由是觀之，三子之言中風，言其因也，名之曰類中風；仲景、《外台》言中風，言其本也，即真中風也。近世類中風多，真中風罕見也。市醫不知，一見動搖之狀，不辨正虛、痰火之因，輒用散風逐邪之方，樞紐離脫，則命亦隨之而傾矣。</p>
<p>至於腫脹一症，因陽氣衰敗而成，治宜大培元陽，溫中扶氣，則水自行而腫脹除矣。蓋人身之衛氣，周護一身之表，猶天包地之義，肌膚之溫柔、堅密，皆本乎此。若衛受邪伏於內，陰反居於外，水從陰化則成膚腫，中陽氣遏則生　脹，治宜溫發陽氣，以逐陰邪，是為探本之治也。余恆見庸工每用行水利濕之劑，如五苓、舟車等方，初獲小效，久則病加，腫盛脹增，甚至背平臍突，陰　陽位，為喘為阻，則大命傾矣。余目睹其症已危，心欲拯之，而勢難挽也。特將致病之源、理，不憚煩而辨之，以作後進之殷鑒也可。</p>
<p>瀾按：古人論中風，論其本也；後世言中風，言其因也。治有開邪、固正之法，息風、滌痰、扶本之方，精審明辨，大法備矣。他如腫脹有虛、實之異，《內經》言之詳盡，《金匱》分之明晰，奈何市醫不明，妄執治標滲利以誤人。先生目睹其害，不憚煩而辨正之，濟世利人之苦心，昭然若揭矣。</p>
<h3>虛勞說</h3>
<p>經云：虛者補之，勞者溫之。古人以陰虛、陽虛為綱領，於是以八味治陽虛，六味療陰虛，致溫補之風滿天下。又遇高談五行者出，創立新方，百病皆從虛治，以成議藥不議病之世界矣。夫扁鵲云：一損肺，二損心，三損脾，過於脾則不可治矣，是上損之因也；蓋下損之由，以一損腎，二損肝，三損胃，過於胃則不可治也。《金匱》云：極虛者為勞，調以甘藥，如復脈湯、小建中湯之類是也。又云：肌膚甲錯，內有干血，以大黃　蟲丸主之。由是觀之，《金匱》治虛勞，以虛、實分治，而用方以攻補兼施，當補則補，應攻則攻，不拘一格，往往有桴鼓之應也。然而咳嗽、骨蒸、吐血、食減、咽瘡等症，當審其所因，於初候之時，分虛實而藥之，亦可轉危為安，幾微於反掌間矣。若用近人方法，溫補橫於胸中，養癰為害，百難一治。</p>
<p>嗚呼！是非虛勞之不可治，而為溫補誤投之不能挽也。余每治骨蒸勞極、肌膚甲錯者，用大黃蟲丸法，出入加減，攻其宿瘀，廓清積血，應手取效。惟有曾服膩補者，如油入面，病根深痼，延宕日久者，正氣已傷，百難救一。況世人不知保惜其身，自恃藥石為補助，樂於溫補而惡於攻逐，猶如飛蛾撲火，甘蹈滅烈，自不知其身已入於鼎沸之中。余雖具不忍之心，是亦末焉者矣。</p>
<p>瀾按：虛勞一病，五臟皆有，不得專以陰虛立論，以六味滋陰、八味益陽為秘方。或用知、柏暫平浮火，切勿多投，惟恐脾陽受侮，中土失運，每致食減、便溏之患，所以《金匱》用復脈、建中等湯，是步步照顧脾胃為主。先生宗仲景法而擴充之，綽有餘裕，又闡明虛實之因，用藥之理，經權達變，以示人衛生卻病之源、理，豈不懿歟。</p>
<h3>幼科治驗記</h3>
<p>古人以小兒為啞科，最為難治矣，因其不能自言疾苦，體弱易變，以及痘疹之異耳。余為不然。惟小兒之病，雖不能自言病狀，惟無七情之擾，其所患者不過外感風寒、暑濕之邪，內傷不越乳滯、飲食而已，其頭緒簡略，甚為易治。奈何世多不察，致市醫欺詐，妄立驚風一科，每用重鎮開竅丸藥，禁絕乳食，致質弱稚體，何堪受此酷烈，往往變出角弓反張、搐掣之狀；又妄加針刺，疼痛啼泣，實令人目擊心傷。是以推測仲景《金匱》文義，豁然有悟。仲景云：無汗為剛痙，有汗為柔痙。隱與小兒之病象相符。況小兒質嫩，不耐風寒，偶覺感觸，即見身熱、筋強，甚則反張、搐搦等狀，與《金匱》痙病證候隱合。庸醫不知，遂妄立驚風之名以惑人。余繹其理，小兒之病，脾胃獨多，情志未通，脾胃用事。奈近世庸醫，妄執小兒肝火獨甚，將一切脾胃見症，皆誤認肝火。不思肝為春生之臟，初生之肝，豈可指為病藪，以生氣當病氣，殊屬庸妄已極哉！或謂小兒為純陽體質，言出錢乙，奈庸俗不知，引為口實，非古人所及知。蓋小兒為稚陽，惟易病熱，兼以乳滯變痰，於是有熱痰、風痙之症，乃小兒恆有之病。奈何世之庸工，捏造急驚、慢驚以誤人哉。</p>
<p>余臨證四十余年，每遇瀉青色稀糞，晝夜頻頻，知其中陽不能變化為土之黃色，反為木乘之青色，此為厥陰濁氣所干，當從扶土抑木以獲效，方用附子理中丸一錢，開水泡化，兩次分進，糞即轉為黃色，瀉亦止也。若昧者，往往誤認為肝病，豈不冤哉。大抵小兒陰氣未全，易於化熱，若見口舌諸竅甚干、大渴能飲者，亟投甘寒之劑；挾實者、舌苔黃膩、口有熱臭之氣，亟宜蕩滌之。緣小兒純陽，柔脆之臟腑尤易枯涸，急下存陰，轉危而安矣。至於陽明熱甚痙厥之證，市醫名之急驚，余惟清陽明熱邪，則肝火自平。若妄投鎮驚息風，是速其危哉。至久病中虛，土不鎮木而顯風象者，謂之慢驚，宜急進附子理中湯，或加溫補如肉桂、黃　等品，以追失散之虛陽，轉危而安。每見庸愚用清散重鎮，是下井而加之石矣。更有一種婦人，妄用針刺，名曰挑驚，或捏人中，或口咬指捏、口吸臍眼等妄治，真是慘毒惡事，目不忍睹。其痘疹以寒熱、虛實為準，則惟一切有毒奇異之物，慎勿妄用，亦勿拘執幼科成法，而不達變通，以誤人哉。余為濟世拯危，特將實驗心法不忍秘而不宣，今錄於簡末以公於世，是亦保嬰仁術之意耳。</p>
<p>瀾按：小兒之病，宋有錢乙著《小兒直訣》一書，言之詳明。奈何市醫不知討論古書，僅守家傳方法，妄立驚風之名，用金石毒物制為丸藥；為欺騙財帛計，又有妖婦創能挑驚指捏等法，其害尤甚庸醫。先生目睹心傷，闡明治法，以拯人之危並示戒一切，喚醒愚庸以保赤子，並將歷驗心得秘法錄出，以示後進，可謂仁至義盡者也。</p>
<p>惟記中急下存陰，僅言其法，未載方藥者，欲後人三反之意。余恐淺學未能深造精微，仍然茫無定識，或蹈清散、重鎮之法，依然無濟蒼生，今擬二法：法用瀉青丸清肝泄熱，用錢氏赤散以攻邪滌痰。考赤散之功用，能消滯滌痰，最有益於小兒。近見京中雅觀齋所售之萬應保赤散，即此方也。每服一分。若病在上即吐痰，病在下即便痰，即能愈病，誠妙法也。假如痰熱甚，可服回春丹。此丹較赤散功緩，善泄熱清痰，惟虛寒者不可服，售藥者未將寒熱標明。考回春丹泄熱清痰，近見廣東丸藥廣告中，皆謂治急、慢驚風，其言大謬。慢驚因脾虛者多，豈可再投涼泄以戕正。今特揭出，以免誤人。以後回春丹仿單中務將慢驚二字刪去，功德莫大焉。</p>
<h3>胸脅腹痛肝胃氣逆辨</h3>
<p>胸腹、脅肋、胃脘諸痛，古人立九痛之名，其要不外寒熱、虛實、氣血、痰食、蟲之因。惟寒能凝結，熱能消爍，寒甚厥逆上衝，熱甚熏灼上炎，必使寒熱平調，臟腑自能通暢，何有於痛哉。其間夾雜各症，總不越寒熱之綱領，不難參以兼治，自獲病隨藥瘳也。至於肝臟氣逆上衝，每多胃脘當心而痛，上肢、兩脅、膈咽不通，治宜降逆柔肝。仲景制烏梅丸為泄木安中之良法，乃寒熱並用，平調至法。若陽微，則從吳萸湯法。如肝陽過盛，減除吳、附，少用椒、薑，而合梅、連、楝、芍，取苦辛酸而入厥陰，以為平降治法。若脾胃虛而肝火擾者，用戊己六君，如金斛、木瓜、丹皮、桑葉，扶土抑木。或因郁抑不伸，用丹溪六郁湯亦妙。至於水虧木旺，用復脈六味湯，為乙癸同源之治。大抵胸脅痛者，金鈴子散加味。火鬱甚者，以佐金為良法，甚則用當歸龍薈丸。若濕熱瘡瘍，以龍膽瀉肝為神劑。至肝病甚多，如頭痛、吐瀉、嘔逆、脹泄等候，皆屬肝胃之症也。</p>
<p>余治各證以及氣衝攻痛，諸藥不效者，用仲景烏梅丸三錢，隨病之虛實，酌加引經數味煎服，有桴鼓之應，特將方義釋明於後。是方也，用烏梅入肝經為君，酸乃肝之本味；臣白芍泄火而斂陰，佐芎、歸活血而滋潤，使吳萸下氣最速，連、楝、椒、薑清肝安蛔，是有制之師也。若加以丹皮、桑葉，輕泄上焦火鬱；羚羊、鉤藤、甘菊、蒺藜、天麻，皆清肝泄火之要品；元胡、伽南、降香，乃疏降沖逆之要藥。細繹《內經》用辛補之、以酸瀉之，故治肝宜酸，若急升太過，酸收為下泄、為瀉矣。然余研究病理，另獲心得要義。夫肝體固賴陰血為養，而其所以為將軍之性、寄龍相之威者，以真陽之為本也。肝陰不足，固多為患，而肝陽亦為至要。假如陽氣稍微，則中土必虛，木易順乘，濁陰隨升氣而上犯，亦隨人之陰陽虛盛為轉移。故仲景審寒熱互用大法，立烏梅丸方，是一以貫之矣。</p>
<p>瀾按：肝火最暴，燔灼無忌，一身之中，稍有郁結不伸者，其火則上衝，為痛、為脹、為泄，上至頭目，中至胸脘、脅肋、腹臍，下至陰囊、卵核，皆厥陰之所主。古今雖分九痛之因，總不外寒熱、陰陽，治得其要，一言而終。先生發明病理，遵仲景遺法，用烏梅丸為主方，莫不捷效。今特錄出，俾益後進非淺鮮矣。</p>
<h3>溫熱溫疫辨</h3>
<p>《傷寒論》分六經見證，方有發表攻裡之異，注述甚多，皆隨文釋義，或各鳴一得，彼此辨駁。若究其源理，有顧彼失此之嗟，何也？豈知時事有更代，地土有南北，人體有強弱。近世以來，四時感症，類傷寒多，正傷寒罕見也。夫類傷寒者，春溫、夏熱、濕溫、秋燥、冬溫是也。雖然仲景謂傷寒有五，方分溫散、辛散、攻下、和解諸法，後人識淺，殊難領悟，惟拘執傳經限日成法，遂致遺誤者多。</p>
<p>惟近年凶荒飢饉,　兵火之余，釀成疫癘，互相傳染，切勿拘執日數。余治疫症，大劑攻下，每多獲效。緣此病邪由目鼻吸入者多，往往兩手脈微弱，若不知者，以為脈虛，不敢用攻，孰不知下後邪去，脈即平復。此症初起，多見惡寒肢冷，舌苔黃膩，神識呆鈍，或邪熱下迫，每多自利，所下幾微，最易惑人。必視舌苔垢膩之有無，以定攻下之輕重，每見下去一層，又起一層。輕者兩三劑，重者八九劑，濁苔退盡，脈平而不躁急為準。仍須用下，庶免反復，要知此邪乃天地間至惡之氣，必須除惡務盡。以大承氣為主方，隨症加減，減至單用元明粉為極輕。總以三候之內為率，若延至三候以外，必自利紅水，腸胃已爛，必死無疑。余歷驗心得，以驗苔之滯膩，干而無津之苔，憑此用下；若舌無濁垢之苔，雖見大熱不可用下。</p>
<p>余之心得經驗，無誤之秘法也，然則與無疫之溫熱有間，未可混淆以誤人者。夫溫熱者，天地之常候也。經云：冬傷於寒，春必病溫。惟冬令外雖嚴寒，而陽氣潛藏於內，若天時晴燥，雨雪稀少，則陽失潛藏，致生冬溫之證，當用蔥豉東加大貝、芩、翹、銀花、牛子、甘、桔等味。蓋春為一歲之首，嚴寒未退，仍防寒邪遏伏；直待春升，木氣發透，風陽化溫，是為風溫。其氣近燥，多犯上焦，致有身熱、咳嗽、胸悶、氣促之症，法宜清宣輕劑，如薄荷、牛子、桔梗、杏仁、大貝、蔞皮之類。久延失治，轉入營分。誤用辛溫成法，多致衄血、咯血，甚則成癆。若已入胃，舌黃干燥，亟宜攻下。初夏漸熱火旺，宜仿此方，重加清藥可耳。如長夏濕土司令，宜燥濕清熱，蒼朮啟虎湯治之。直至秋深，燥令大行，身熱、咳嗽、咽痛者，辨天時之涼暖，以分寒化、熱化，然用藥有溫潤、甘寒之別，此秋燥之治法也。若熱已入胃，便結溲赤，舌苔黃焦垢膩，亦宜急下存津，切勿延久，正傷氣弱，反成危候。</p>
<p>近年以來，四時感症溫熱獨多，每憾治法仍沿辛溫，以致不死於病而死於誤藥者，比比皆然。偶見新出六書，乃余杭陶節庵所輯，意在變化成法，獨出心裁，將仲景所集增損加減，標新立異，不為無功，惜未將溫熱見症闡明原理。余細為研究，有擇焉不精，語焉不詳，何足以盡格致生化之源，跳出傷寒之范圍哉。於是焚膏繼晷，精審四時代謝之序，參以六淫偏盛之因，豁然自得。不揣草率無文，爰將各篇病理，隨時筆記，以免遺忘，是否有所采擇，質之海內明哲，愿早賜之削政，則感如師資之深矣。</p>
<p>瀾按：溫熱者，四時之常氣也；溫疫者，天地之惡氣也。蓋常氣以常法治之，惡氣以峻法治之，理勢然也。先生治疫，重用攻下，除惡務盡耳，與吳又可法暗合。其時各居一境，所治之症大略相同。袁氏辨舌苔垢膩濃薄，以定攻邪之輕重；又辨明溫熱與瘟疫有間，豈可混淆以誤人哉。況先生濟世心切，每以慎審為本，其學邃深在又可之上。且吳氏雖有九傳方法，未將病理闡明，書雖流傳，惜乎混疫於溫，貽誤亦多，不足為法也。或謂當時彼此各居一邑，未能面商至理為憾。如袁、吳同處一堂，互相討論，吳氏必不致混淆立論，溫熱原理毋待葉氏發明之。</p>
<p>嗚呼！天下事，有幸、有不幸。吳書早經刊傳，袁氏此書渺無知者，緣先生志尚高傲，不求聞達，又非醫流，此書乃當時之日記耳。觀其自記云：「不揣草率無文，隨筆記錄，以免遺忘」，即知其僅記病理、臨症實驗而已，其言辭不加修飾，已可慨見。瀾因先生為吾邑先達，兼與其玄孫同局襄修邑志，始獲此書，字跡蠹蝕過半，用特重錄，以免淹沒。奈無別本可以校對，只姑仍舊貫，未敢更易一字。稍有疑義者，附以按語，以醒眉目云爾。</p>
<p><u>時在咸豐戊午中秋節後二日，後學趙觀瀾謹錄拜志於三十六湖樓客次。</u></p>
