<header data-type="book">
<h1>尤氏喉科秘書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤乘</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1675">公元1675年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>醫，道之小焉者也。於小道中，而以喉科著，抑又小矣。然玉霜一點，紅粉半廛，遽爾既危於俄頃，起沉　於斯須。人巧極天工，錯即未窺全豹，而小中見大，施濟之功在焉。予添列黌宮，未暇問岐黃術，而習見夫庸醫之誤人也。貪夫之徇利也，早無以為饔，夕無以為飧者之鳴號焉，而莫如引手救也。慨然念士生當世，不獲身名民社，以宏輔相，或得一術以濟人於危急，何莫非立達之初心？奈役役半生，愿莫之遂。今年秋，假館東山之麓，陳生在豐，以五十金得是編於梁溪尤氏，予叨一日長，得晏然有之，此固生之雅意，抑亦予之急想，世手而鬼神通之者歟，而予於此，竊自念也。傳曰：正其誼，不謀其利，明其道，不計其功，聖賢其事，日月為昭，人能本此意以行之，內省可無漸矣。人有裨益，道雖小也，利實溥焉！此世上齷齪小夫，HT　為利事耳，道於何有哉？爰述數語以自警，且使後之子孫，勿視為尋常方藥，而傳之非人。抑知此為明道之書，而勿開利竇也。</p>
<p><u>乾隆歲次辛丑中秋後余假館於蠡河之南惠氏深想數年借得私時秘錄</u></p>
<p><u>乾隆乙卯年浙慈馮岩峰授傳手錄</u></p>
<h2>喉症總論</h2>
<p>咽喉，為人身呼吸飲食門戶，方寸之地，受病危險，其症甚繁，大約其要總歸於火。蓋少陰、少陽，君相二火，其脈並絡於咽喉，故往往為火症之所結聚。君火勢緩，則結而為疼，為腫，相火勢速，則腫甚不仁而為痹，痹甚不通，則痰塞以死。經云：一陰一陽，結為喉痹。</p>
<p>火者痰之本，痰者火之標。火有虛實，實火應過食煎炒炙　，蘊結積毒，其症煩渴，二便秘塞，風痰上壅，將發喉痹，症先胸隔不利，脈弦而數。治宜先去風痰，後解熱毒。虛火，或應飲酒太過，或應忿怒，或應色欲，火炎上攻，咽喉干燥，必二便如常，少陰心脈微。治宜補虛降火。凡用藥，不宜純用寒涼，取效目前，上熱未除，中寒復起，毒瓦斯乘虛入腹，胸前高腫，上喘下泄，手足指甲青黑，七日以後，全不進食，口如魚口者死。且治喉症，最忌發汗，誤人不淺。或針砭出血，已具汗意，但凡寒傷於腎，及帝中腫者，切不宜針。至如內傷虛損，咽喉失音，無法可治矣。（帝中即喉嚨花。）喉症初起，一日寒戰即生者，發後身涼，口不碎，又無重舌，或二便俱利，不可認作熱症，皆因陰氣虛寒而發，其痰不可吊盡，蓋此痰即身中津液所化，與熱症乳鵝　舌之痰，以流盡而愈者不同。若亦流盡，則精神竭而必斃。先以藥吹，或用水渙之法，使喉一通，即便服藥。初劑發散和解，第二劑即施溫補資養之藥，設三四日後，再發寒戰，或心痛，骨痛，脅疼等症，皆屬難治。發時牙關緊閉，舌喉俱腫，口碎而臭，或有重舌，及舌上有黃屑，發屑者，發後下午再發寒熱，二便秘塞者，即作熱症，用石膏敗毒散主之。然易愈之症，如漸起之症，三四日後，而發寒熱者，雖凶，亦不為害。惟有症未減，而牙關反不緊閉，唇口不腫，而紋如好人者，不治。舌腫口滿者不治。色如胡桃、茄子、砂紙者不冶。或連重舌發寒熱，猶可治也。舌以箸按之，其色雪白，起箸即紅紫色。此身內之血已死，然口臭者猶可或生，尤忌口渴氣急痰多而稠，如桃膠者，死其至矣。一頸俱紅腫者，亦極危也。面紅帶紫，面青帶白，神氣少者俱不治。不語者死。</p>
<p>略能語者，尚有可生之機。面色少神，喜坐低處者，亦極難治。夫帝中性命所關，舌下紫腫為舌系，下通於腎，白腫不治，傷者必死。</p>
<p>凡看喉症，必先看當心之中，有紅色者不治。如紫黑者尤危，俱不可下藥，記之慎之。</p>
<p>凡喉看法，必先刺所發一邊手之少商穴，如血流不出者，必死在頃刻。即好處一邊流出血紫黑色者，亦死之症。業是者，貴辨之審也。</p>
<h2>咽喉門</h2>
<p>喉痹屬痰，屬風，屬熱，皆應鬱火而兼熱毒，腫甚不仁，乃咽喉之重症。喉痹者，總名也。</p>
<p>要去風痰，解毒，開鬱悶，其症自愈。乳鵝有單，有雙，有連珠，多應酒色，郁結而生。初起一日痛，二日紅腫，三日有形，細白星，（無細星即喉癰。）發寒熱者凶，四日勢定，治之四五日可愈。其症生於喉旁，一邊生者為單鵝，左右生者為雙鵝。單輕雙重，連珠尤重，左右為（心肝）二白星下下相連，狀如纏袋者，為連珠鵝。</p>
<h3>喉菌</h3>
<p>病屬憂郁，血熱氣滯，婦人多患之。形如浮萍，略高而濃，紫色，生於喉旁。輕則半月二十日，重則徑月月余，要在治之得法，及患者守欲忌口。</p>
<h3>喉癬</h3>
<p>虛火上炎，肺金火旺，致攻喉間。生如絲，如景窯紋樣，又如秋海棠葉背後紅絲一般。</p>
<p>飲食阻礙咽痛，雖不傷命，久則喉啞失音，而不能救矣。</p>
<h3>喉癰</h3>
<p>此因過食辛辣、炙　、濃味、醇酒。感熱而生，屬肺病，喉間無形狀，但紅腫而痛，重者亦發寒熱頭痛，四五日可愈。</p>
<h3>舌喉癰</h3>
<p>（　舌病也，音殺）</p>
<p>肥人感熱性躁者，多患此症。凡舌下生如小舌樣者，為　舌。如連喉腫痛者，即為喉癰，不痛者，非是。大抵　舌兼喉癰者，勢凶。</p>
<h3>喉關</h3>
<p>傷寒後發難治，為氣閉不通，無形無聲。</p>
<h3>纏喉風</h3>
<p>因心中躁急而發，先二日必胸膈氣緊，出氣短促，然咽喉腫痛，手足厥冷，頸如絞轉，熱結於內，腫繞於外，且麻且癢，喉內紅絲纏繞，手指甲白色，手心壯熱，喉腫而大，風痰壅盛，如曳鋸聲，是其候也，最為忌症。初起一日，即治可治。若過一日夜，目直視，喉間如雷聲赤色寒熱，又口開而不闔者，是其候。必待過一周時無恙，方可用藥，宜極早回頭。</p>
<h3>喉刺</h3>
<p>多因先患勞病，重症既久，虛火上升，榮血已枯，其喉上顎，有紅點密密如蚊蟲咬斑樣，此系危篤將殂，勿治。</p>
<h2>口牙舌頸面腮門</h2>
<p>牙槽風初起，先齒痛不已，後即牙齦肉浮腫，紫黑色，或出血，久則腐爛。</p>
<p>牙漏，即前症久而不愈，齒縫中出白膿，極難調治。甚則齒落，如上左邊門牙落者不治。以上二症，皆屬胃火腎虛。</p>
<h3>牙癰</h3>
<p>一名牙棋風。初起有一小塊，生於牙根肉上，或上或下，或內或外，其狀高硬，牙癰、牙、牙菌三病，大同小異，治法亦不難。</p>
<h3>牙咬</h3>
<p>生於牙盡咬中，齒不能開，牙關緊閉。此症初起，勢重，甚至夜尤甚，然亦不難治，亦不妨命。</p>
<h3>牙</h3>
<p>屬胃火，如豆大，生無定處，或內或外。</p>
<h3>牙宣</h3>
<p>齒縫出血，上屬脾，下屬胃，實火上攻所致。亦有胃虛火動，腐爛牙根，以致淡血時時滲漏不已。</p>
<h3>牙菌並荏</h3>
<p>生於牙根，其狀紫黑色，高低如菌狀。此系火盛血熱，而兼氣滯。</p>
<h3>穿牙疔</h3>
<p>先三日牙痛，發寒熱，後痛不可忍，牙根上發紫塊者是也。穿牙毒，即前症，初起者未破為疔，已破即為穿牙毒，其色紅者可治，青者不可治。疔毒又與牙槽風牙漏相是，治法亦相仿。</p>
<h3>走馬牙疳</h3>
<p>或因胎毒痘毒後，發致牙根腐爛成疳，殺人最速。鼻梁上發紅點者，不治。其色如干醬，一日爛一分，二日爛一寸，故名走馬，以喻速也。有齒者落盡而死，上　左邊門牙為牙之主，此牙一落，其余盡落。若此牙不落，余牙雖落，可能為治。小兒走馬疳，及大人牙槽風，均皆如是看法。</p>
<h3>崩砂疳口風</h3>
<p>自舌下牙根上腫赤，口內作痛如燙熱，牙根漸爛，亦以脫牙為患。（方見舌症。）</p>
<h3>舌癰</h3>
<p>舌紅而腫大，屬心經火盛。地角亦紅腫，舌黃，舌上黃，生腫痛，亦屬心火。（方見舌症。）</p>
<h3>木舌</h3>
<p>舌頭腫大，如煮熟豬肝，不能轉動憂郁所致。又有一種，生舌根下，如白棗，有青紫筋，不能速愈。初起不痛，不發寒熱，漸至腫大。初起易愈，遲則難痊，亦以憂郁所致，即是重舌。（方見舌症。）</p>
<h3>舌菌</h3>
<p>屬心經火多，因氣鬱而生。生舌上，或如木耳，或如菌狀，其色紅紫。（方見舌症。）</p>
<h3>懸癰</h3>
<p>口裡顎上，紫泡，如豆大者是。紫舌脹，屬心火，內必煩躁悶亂。</p>
<h3>糜疳</h3>
<p>滿口糜爛，與小兒口疳同治法。</p>
<h3>鵝口</h3>
<p>一名雪口。初生月內小兒，滿口舌上白屑，如鵝口樣，故名。</p>
<h3>馬牙</h3>
<p>（即板牙，日逐要挑，乃用針挑破）</p>
<p>初生小兒，胎內受過熱毒，見風即生，但看牙根上有白色如脆骨者是。此症欲發，出胎即打噴嚏，含乳或吞或吐而不吮，其病已深，若不急治，入腹即死。切勿認作黃膽之類，出胎即要細看。日逐要挑，至三四日病即成，五六日堅硬難治。甚有發而再發，大約一月外，方可免此患。</p>
<h3>頸癰</h3>
<p>胸前紅腫，形在外亦欲內攻，甚則喉腫，閉而出膿。面癰相仿，前症屬腎。</p>
<h3>托腮癰</h3>
<p>生於腮下，因飲食濃味，多飲醇酒，熱毒所致。</p>
<h3>連珠口疳風</h3>
<p>自舌下起小泡，初起一個，又起一個，甚至多多，連珠生起。</p>
<h3>繭唇風症</h3>
<p>此乃陽明胃經，因　炙所致，或兼思慮暴怒，痰隨火行，流至於唇，而結如豆大。若蠶繭突腫，堅硬作痛，飲食妨礙，或破流血，久則難治。若初起無內症，用麻子大艾炷灸三壯，貼蟾酥膏蓋之，日久漸愈。若有內症，作渴，早服八味丸，午服甘露飲。日久流血不止，形弱面黑，虛熱痰生，腮顴紅而口渴甚者，難治。</p>
<p><u>清涼甘露飲</u></p>
<p>犀角　茵陳　石斛　枳殼　麥冬　生地　黃芩　柴胡　知母　生甘草　枇杷葉（各一錢）</p>
<p>燈草　淡竹葉</p>
<h2>喉症治法</h2>
<p>凡喉症至五日即重，如三日前，症雖重尚未成膿，藥能消散。若至五六日，患處多成膿，隨便穿破，後必爛成一窠而難愈。爛處須用口疳藥，多用龍骨、珍珠。凡傷寒後患連珠鵝及喉閉者不治。其症喉項強硬，目睛上視，故多不治。</p>
<p>凡喉症非急症，一二日未必發寒熱，病尚輕緩，若至第三日發寒熱，症必加重。須問其大小便通利否，如二便利，症雖加，不過浮火上攻，服解毒消風清火之劑，即愈。若二便不通利，乃內有實火，非用降火解毒重劑，及通二便之藥。火從何而泄，病從何而解。亦即問其頭可痛否，如頭痛則兼傷寒，難治。</p>
<p>凡喉症，非俟其大便出後，方可望痊。若大便秘結，未可輕許其無礙。</p>
<p>凡喉症初起，大便秘結，宜用大黃、玄明粉通之，則火自降而易痊，即降火解毒之劑內，去前胡，加大黃、玄明粉行之。若至五六日久不食，而大便秘，用之即刻斃。蓋病久胃氣已虛，豈宜再用硝黃？只宜用蜜導法，此秘訣也。凡患喉症，無痰者不治。</p>
<p>凡患喉症須吹藥四五管，方可出痰，三次可以全愈。其出痰，初用必要多用金丹為妙，必直對喉嚨中重重吹之，即提出吹管，恐痰即嘔出。</p>
<p>凡喉症初起一二日，用碧丹漸加金丹。勢甚者，金丹為君，或純用金丹，方能吊出頑痰，出痰非金丹不可。</p>
<p>凡喉症，至胸前紅腫，此系肺癰。用蜜調，加百藥煎服之。凡喉中無形而紅痛者，用燈草灰吹之。</p>
<p>凡婦人喉中腫痛，有因經閉，致火上攻而患者。宜內服通經藥，經通則喉自愈。</p>
<p>凡喉症凶者，面發腫，白亮無光彩，脈沉微無力，是神氣外泄無陽之症，斷不可治。</p>
<p>若面發紅腫，脈來洪大有力，症雖重，是有元氣火盛，治之易痊。</p>
<p>凡腮內口內腫爛，用箸纏絲綿，蘸水輕攪患處。痛者，用藥必愈；如不痛者，即死肉，多難治。</p>
<p>凡舌腫脹滿口，吐舌在外，難以納藥者，用僵蠶、皂角，俱研極細末，等分和勻少許，吹入鼻中，牙關自開，痰涎自出。然後用綿纏竹箸蘸甘草湯，潤其唇口，再加用四味，口疳藥多加頂高冰片，頻吹自愈。</p>
<p>凡吹藥，不但腫碎患處，並四圍好肉上亦要吹之，方不散開，且易愈也。至若舌上干甚，難於吹藥，或用蜜潤，或用湯水濕之，藥可吹上。喉內吹法，須用氣和平，用管周遍為妙。</p>
<p>凡舌腫大，用生黃柏末加冰片敷之，或出血用炒柏加冰片敷之。</p>
<p>凡　舌、喉癰，如大便閉，應藥內加玄明粉、大黃。小便不利，加六一散，服之甚效，一法也。</p>
<p>凡用碧丹，症凶者，冰片多於甘草；將愈，甘草多於冰片。</p>
<p>凡患牙癰，牙根紅腫，但牙關不閉，口能開闔。若患牙咬，牙根紅腫，脹肉突出。</p>
<p>凡牙關緊閉，口不能開者，先用金、碧二丹吹入牙根。外用黃熟香削成鑿子樣，漸挨進牙縫，則牙關漸開，即將金丹吹入患處。</p>
<p>凡吹喉症，或欲出痰，加皂角少許。</p>
<p>凡初起吹藥，須令患者低頭，溜出痰涎唾。</p>
<p>凡喉癰及單雙鵝，率用碧丹。其他重症，金丹、碧丹兼用，須知先後多寡，初起碧九分金一分，吹至五管，改用碧八金二，再次用碧丹七分金丹三分。如症重，碧、金各半，用至三五次後，痰涎必上壅，然後用金六碧四，將吹管直對喉中，重吹一吹，隨手出管，即吊出痰，此要訣也。若症極重，竟用金八分碧二分尤妙。</p>
<p>凡喉症先碎，先用長肉藥吹之，後用碧丹以治之。</p>
<p><u>通經方</u></p>
<p>（孕婦忌服）</p>
<p>當歸　赤芍　廣皮　川斷（各一錢）　牛膝（一錢五分）　川芎（六分）　紅花（七分）　甘草（五分）　桔梗（一錢）</p>
<p>血熱加大生地、丹皮，熱極再加犀角。經久不行加蘇木、五靈子、澤蘭葉。腹痛加元胡索、桃仁。股痛加杜仲倍牛膝膏滋藥，即蜜調青炭色，用龍腦、薄荷為君，玉丹為臣，川貝去心為佐，燈草灰、百草霜、甘草、冰片為使。先將玉丹、百草霜研和後，入燈草灰再研，再入薄荷、甘草、川貝，研極細，再入冰片，再研勻，蜜調服。喉癰喉菌，須時時噙咽。若症重兼服三劑，及吹藥。</p>
<h2>制藥法則</h2>
<p>制硝礬法。別名玉丹，又名雪霜。先用生礬一兩打碎如豆大，入銀罐，內入爐，用桴炭火烊，以食箸刺入罐底，攪之無塊為妙。次將上好硝三錢打小塊投下，約十分之三。再次將白硼砂三錢打碎投下，亦十分之三，少頃再投入生礬，逐漸投下，候烊盡。照前投硝、硼少許，如是逐漸投完，直待浦起罐口，發如饅頭樣，方可加起炭火，燒至干枯。然後用淨瓦一大張，覆罐口一時取起，將牛黃少許為細末，用清水五六匙調和，以匙超滴丹上，將罐仍入火內烘乾，即取起，連罐覆潔淨地上，先以紙襯地，罐上仍用碗覆之，過七日，收貯聽用。須輕松無監紋者佳，如有監紋者不堪用，或留作蜜調用，亦好算敷藥。　時初起火宜緩，然亦不可太緩，恐致礬僵，定難溶化，後必監實有紋，中間及後，須用武火，又加礬末烊盡，即投硝、硼，必不能全化，以致堅實有紋矣。須用傾過之舊罐，取其入爐不爆碎也，如用新罐先將炭烘過，然後入爐，亦不可放濕炭上烘，使濕氣入罐，經火必碎。又說傾銀過之罐，恐猶有毒瓦斯。此丹宜制備，愈久愈妙。</p>
<h3>取百草霜法</h3>
<p>須燒茅柴者，謂之百草霜。取其近底者，鍋心及鍋口邊，俱不可用。先刮去浮面一層，後刮去中一層，不可重刮，蓋著鍋第三層，又不堪用。</p>
<h3>制黃柏法</h3>
<p>先揀好者切片，用荊芥穗為君，甘草為臣，浸煎濃湯，浸至片子柔軟，取起攤瓦上，慢火炙至金色，如焦者去之，再入白蜜湯煎過一次，晒乾聽用。</p>
<h3>制人中白法</h3>
<p>取多年溺器，用水灌滿，置火爐上，滾則傾出，如是數次，去淨穢氣，用鹽泥封固，大火之，半日取起，冷定去泥殼，取器內淡紅者，收貯用之，久置地上，出火毒瓦斯，為妙。</p>
<h3>制牙皂法</h3>
<p>取堅小不蛀者，瓦上炙至其色光明而脆，去兩頭聽用。</p>
<h3>制僵蠶法</h3>
<p>揀其直細而腹小者為雄，若腹大而粗者為雌，不用。將牙刷蘸水刷去鍛石，瓦上慢炙至醬色，要折斷中間無絲連者，研細聽用。</p>
<h3>制燈草灰法</h3>
<p>務擇其白色者，先鋪在桌上，以清水噴濕，候心內潮潤，將竹管堅固不碎，兩頭濃薄相勻者，以水浸管內，以濕紅布團塞緊一頭，即將燈心塞入，以竹箸捶實，傾去水，如是逐漸塞滿，再用濕紅布塞實，入桴炭火　之，觀其煙盡，及管內通紅，取出放潔淨平地上，須以水預噴濕地上，用碗覆之，待冷取起，剝去外面之灰，打開看，藥灰黑色，成團者佳。　時勿令竹管爆碎，碎則無用。不可　過，過則灰白。不可　生，生則不成灰。此藥最輕，宜多備。</p>
<h3>制槍硝法</h3>
<p>擇其明淨紋路槍槍然者，故名。又名馬牙硝。以其長白如牙而濃大者，先以溫湯蘸過，綿花挹干，仍用紙包，放灶上椒鹽洞內五六日，收其濕氣自干，白如霜，或如提玄明粉法，提過數次，則味淡而性平，且合藥可以久留，此要臘天制為妙。此金丹內用，玉丹內用，不必如此制。</p>
<h3>碧丹配合法</h3>
<p>每玉丹三分，配百草霜半匙，乳缽研細，次入燈草灰一厘，配成如瓦灰色，再加甘草末三匙，薄荷末二分，研極細，然後入好冰片半分，多加尤妙，再研勻，入小瓷罐，塞頭要深，勿令出氣。此藥須臨時配合，若五六日即無用，如遇陰雨天，一日即無用。</p>
<p>凡春夏薄荷多，玉丹少，藥成青色。秋冬玉丹多，薄荷少，藥成白色，此要訣也。予初得是本，云再加硼砂少許。</p>
<p>如要出痰，再加皂莢少許，薄荷、龍腦者佳。梗細葉小，梗粗葉大者，卻不堪用。</p>
<h3>金丹配合法</h3>
<p>每提過槍硝一錢八分，配蒲黃生用二分，絹篩取細末，去粗褐色者，共研細，次下僵蠶一分，牙皂一分半，共研淡黃色，加冰片一分研勻。此藥可以久用，惟冰片臨用加入。此藥專治消腫出痰，牙咬　牙穿牙疔毒，用此治之，咽喉等症，則兼用碧丹，看症加減用。症重者，再加牛黃於本方內，如喉症重及瘋，加僵蠶、牙皂，輕症只用牙硝、蒲黃。蓋碧丹消痰清熱解毒驅風，故為良劑，尚屬平緩，不如金丹消腫毒，除風熱，開喉閉，出痰涎，最為神要。</p>
<p>但喉症初起，金丹不宜多用，因其能直透入內，且善走散，若初起即多用之，恐輕症不能勝藥力，反與捍格不相入也。口疳藥即能長肉。每薄荷三分，配孩兒茶一分半，制柏末一厘，白龍骨二厘，白芷取堅白細小者為末，厘半，如腫痛，用三四厘，生甘草末半分，珍珠新白制末半分，配合研末加冰片三厘，再研勻入瓷瓶收貯。凡遇口碎，及各樣口疳吹之。初痛腫起而熱甚者，多薄荷，取其辛涼，能發散也。若還不腫，熱不甚，病久宜以長肉為主，本方多用兒茶、珍珠、龍骨，配成紫色，及一切喉症碎者，亦用此長肉。如治走馬疳串牙毒及極重口疳，初生小兒胎毒口疳，本方加牛黃倍珍珠，無不奏效。惟臭腐而黑者不治。</p>
<p>治痧痘後口疳，去黃柏、龍骨，加牛黃，倍珍珠，即症逆極凶，無不立效。余症如之，無不神應，此系口疳秘訣。</p>
<h3>喉症煎藥主方</h3>
<p>元參　黃芩　牛蒡子　前胡　連翹殼　山梔　栝蔞根　桔梗　生甘草　薄荷或加金銀花。如發寒熱加柴胡。頭痛加　石膏。口乾加麥冬、知母。胸膈飽悶加枳殼。</p>
<p>鬱熱加芍藥、貝母、竹茹。</p>
<h3>舌症煎藥主方</h3>
<p>山梔仁　黃連（舌乃心之苗用得）　木通　連翹殼　犀角（不過一錢）　生地　丹皮　赤芍麥冬　生甘草如兼口唇，必用　石膏少瀉脾火。如有郁有痰，加川貝。便閉加大黃、朴硝、枳殼。病後忌用寒涼。</p>
<h3>牙症煎藥主方</h3>
<p>齒乃腎之標，骨之余，足陽明胃經之脈貫絡牙齒齒齦，手陽明大腸之脈貫絡下齦，屬腎，有風熱，有腎虛。</p>
<p>元參　丹皮　知母　地黃　甘草梢　山梔　地骨皮　黃柏　車前　白芍如熱加　石膏為君，炒黑升麻為佐。如有風加荊芥穗。虛加熟地、杞子。如欲解毒加黃連、連翹。若穿牙疔毒，則用消腫解毒之藥，加紫花地丁等。</p>
<h3>制三黃散法</h3>
<p>生地為君，生蒲黃為臣，牛黃為佐，冰片為使，共為細末，用芭蕉根汁調敷患處，或用扁柏汁加蜜亦可。</p>
<p>或生大黃、蒲黃、薑黃各一錢，冰片一分，麝香三厘，白蜜調，加蔥汁薑汁三匙，或芭蕉根汁照前法。此藥治頸癰面癰，如腫硬不消，因氣凝血滯，或痰塊結而不散，則兼陰症矣。薑、蔥汁為要，此藥並治小兒丹毒。</p>
<h3>制梅礬法</h3>
<p>取大青梅，圓嫩而脆者，先切下殼蓋，好好去核，再研細白礬末，捺入在內，仍用蓋覆之，以竹針筌好，過一宿，明早用炭火　之。其青梅炭，火燼則無，用其梅肉，　過之礬，輕如膩粉，味至半酸，收貯聽用。</p>
<h2>用藥法</h2>
<p>一治單鵝、雙鵝、及連珠鵝，吹碧丹五分，金丹一分，後金二碧三，用吹痰，兼服煎劑，左加黃連、犀角，上加赤芍、柴胡，雙鵝兼用之。大便不通，加枳殼、玄明粉，候大便通，則症自愈。至三日，看喉內但紅腫而無細白星，即喉癰症。</p>
<p>一治喉癰，金丹、碧丹少許，內服膏滋藥煎藥。</p>
<p>一治喉癬，用碧丹頻吹，膏滋藥不時噙咽，再服煎劑，加土貝下氣。須戒忿怒憂思酒色，忌食雞、鵝、魚、蝦、蟹、豬首、羊肉、肝腸、茄子、黃瓜，及一切辛辣炙　動氣動火等物，一月可愈。</p>
<p>一治喉菌初起，碧丹五分，金丹一分，後用碧三金三和吹，亦須頻咽膏滋藥煎劑，不可間斷。</p>
<p>先將HT　菇打汁搽上，然後吹藥則速效。</p>
<p>一治　舌、喉癰，煎藥，犀角地黃東加減，其　舌用金丹吹至舌根，及舌下兩旁，時刻不可間斷，方能速效。喉內用碧十金一，亦須要勤吹。</p>
<p>一治纏喉風，最為急症。初起即用金、碧二丹頻吹，內服煎劑可救，稍遲則不救，藥須兼牛黃。</p>
<p>一治牙槽風，用口疳藥加牛黃，倍珍珠、兒茶。初治五日，紫色退至白色，再五日可長肉，再五日，方可望痊。若成牙漏，齒縫出血膿，極難調治。須戒酒色，禁食一切毒物，內服滋腎降火之劑，外用頻吹藥，耐心治之，漸愈。</p>
<p>一治牙癰，即口疳藥吹之，一月愈。</p>
<p>一治牙咬，先用金、碧二丹，吹入牙根，外用黃熟香抉開牙，再將金、碧丹吹至咬處，腫塊自消。</p>
<p>一治牙　，先用金丹，後用口疳藥，多加薄荷、冰片，煎藥加石膏、連翹。</p>
<p>一治牙宣，內服扶脾清火之劑，外用珍珠散止之。</p>
<p>生地（三錢）　丹皮（一錢）　梔子（一錢）　荊芥（八分）　石膏（二錢）　白芍（一錢）　麥冬（一錢五分）　歸頭（一錢）　知母（一錢）　赤苓（八分）</p>
<p>如小便赤色，加木通，大便閉結，加玄明粉，食後服。若牙根腐爛，用長肉藥吹之，先宜服清胃之劑，涼血之藥，外用珍珠藥吹，此指實火而言也。若胃虛火動，腐爛牙根，外用長肉膏，內用此方煎藥，此分虛實火尤為確。</p>
<p><u>珍珠散</u></p>
<p>龍骨（一錢，　）　珍珠（一錢）　兒茶（五分）　海螵蛸（一錢）　參三七（二錢）　沒藥　乳香（去油，各五分）　降香節（一錢，忌用鐵器）　象皮（一錢，炙脆）　朱砂（五分）　冰片（一厘）</p>
<p>各為法制細末，將新棉花如指大，捻成團，蘸藥塞患處，以指按之，勿動，二三次即止。</p>
<p>一治牙菌，用口疳藥吹之，兼用煎劑。</p>
<p>一治穿牙疔毒，未破為疔，用金丹，略加碧丹吹之，內服涼血降火解毒消疔之劑。已破為毒，用口疳藥，加牛黃，倍珍珠、兒茶，亦服煎藥為妙。</p>
<p>一治舌癰，金、碧二丹各半，吹在舌根，加黃連、犀角、山梔，俱要多。</p>
<p>一治紫舌脹，單用碧丹，服犀角地黃東加減，一二日可愈。</p>
<p>一治木舌、重舌。初起，先用金、碧二丹，後用金丹吹之，內服煎劑，雖凶不為害矣。</p>
<p>一治上顎癰，用銀針挑破，用口疳藥吹之，碧丹亦可。</p>
<p>一治頸癰、面癰、托腮等症，法防內攻，須用碧丹吹之，兼服煎劑。外用三黃散敷於患處。</p>
<p>一治小兒走馬疳，初生胎毒、口疳及大人糜疳，重者俱用口疳藥，加牛黃、珍珠。如痧痘後口疳，去龍骨，加牛黃、珍珠，看輕重加減。</p>
<p>一治雪口，先用絲綿卷箸蘸水攪去白醬，用口疳藥吹之，頻攪頻吹自愈，內服犀角汁，或犀角解毒亦可。</p>
<p>犀角（一錢）　桔梗（一兩）　赤芍（五錢）　生地（五錢）　甘草（二錢）　朴硝（二錢）　連翹（六錢）　元參（六錢）　力子（五錢）　青黛（二錢）</p>
<p>共為細末，煉蜜為丸，如龍眼大，每服一丸，薄荷湯下。兼驚風，朱砂為衣，並治小兒諸飛丹毒，及痧痘後余毒。</p>
<p>一治小兒走馬疳，先用溫水青絹繳淨，以竹箸撥開牙關，將銀簪淺淺挑出血，繳淨，用口疳藥吹之，立愈。</p>
<p>一治走馬疳。</p>
<p>人中白（二錢）　雞內脛（　）　青黛（各一錢）　白礬（三分）　冰片（三分）　牛黃（二厘）</p>
<p>共為末，每用下吹患處，先用薄荷湯或川連湯，用綿包指頭，洗淨口內，方可吹之。</p>
<p>又方，陳久醬茄炙干　灰存性，吹之亦可。</p>
<p>一治口喉內結毒。</p>
<p>薄荷（四分）　珍珠（二分）　甘草（八分）　牛黃（一分）　冰片（一分）</p>
<p>共為末吹之，如痰飛結毒，用上好掃盆少許。</p>
<h2>喉症驗方</h2>
<h3>綠袍散</h3>
<p>薄荷　荊芥（各五錢）　青黛　制硝　月石（各二錢五分）　百藥煎　甘草（各一錢）</p>
<p>上為細末和勻，干點舌上，令其自化，或新汲水和白蜜調搽。</p>
<h3>蘆薈散</h3>
<p>治口鼻發疳用。</p>
<p>蘆薈　胡連　兒茶　薄荷（各五分）　青黛　硼砂（各二分）　冰片（五厘）</p>
<p>為細末，吹患處。</p>
<h3>冰黃散</h3>
<p>治口疳並治小兒丹毒。</p>
<p>冰片（三分）　人中白（一錢）　蒲黃（二錢）　黃柏（二錢）　甘草（五分）　青黛（五分）　川連（二分）　薄荷（二錢）　月石（五分）　朴硝（五分）　枯礬（少許）</p>
<p>為末吹之。</p>
<h3>十寶丹</h3>
<p>治口喉通用。</p>
<p>薄荷（二兩）　甘草（五錢）　梅礬（一兩）　珍珠（三錢）　兒茶（一兩）　滴乳石（四錢）　牛黃（一錢）　冰片（四錢）　血及（三錢）　琥珀（三錢）</p>
<p>共為細末，冰片後研，後加入。</p>
<h3>又方</h3>
<p>治牙咬、舌癰、重舌、喉蛾、喉癰。</p>
<p>雞內脛（不落水者佳）　金燈草　青黛　蒲黃　白芷　六角尖（炙灰）　薄荷　甘草研末，冰片另研，再和勻吹之，喉癰半月，其余七日愈。</p>
<h3>上清丸</h3>
<p>治風熱上涌，頭目不清，咽喉腫痛，口舌生瘡，服之生津液，化痰涎。</p>
<p>薄荷（十兩）　柿霜（五兩）　桔梗（四兩五錢）　甘草（三兩五錢）　川芎（二兩八錢）　百藥煎（五錢）　防風（一兩八錢）　砂仁（四兩五錢）　建青黛（三錢）　元參（二兩五錢）　冰片　硼砂皂角（各二錢）</p>
<p>共為末，煉蜜為丸，如芡實大，每服一丸，不拘時含化。</p>
<h3>清咽消腫飲</h3>
<p>甘草　元參　前胡　薄荷　大力子　山梔　黃連　石膏　連翹　防風　荊芥　桔梗煎服。</p>
<h3>玉鎖匙</h3>
<p>治牙關緊閉。用巴豆壓油於紙上，取油紙捻成條子，點火，將火吹滅，以煙熏入鼻中。</p>
<h3>蘇子降氣湯</h3>
<p>隨症加減。</p>
<p>半夏曲　蘇子（各五分）　甘草　當歸（各一錢）　玉桂　陳皮（各三分）　上厚朴（一錢，加薑棗煎服，治虛火上升）</p>
<h3>加減良方</h3>
<p>凡喉牙等症皆可治。</p>
<p>百草霜（六錢）　梅礬（一錢）　甘草（三錢）　訶子肉（三錢，面裹煨）　片腦（不拘多少）</p>
<p>若治纏喉風寒等症，梅礬一錢，甘草三錢，兒茶五錢，須嫩紅者佳，珍珠、琥珀各六分，雄黃二錢，麝香少許，薄荷一兩，又有時去雄黃加蒲黃六錢。若口碎、口疳、走馬疳、胎疳、痘後疳、糜口、雪口、一切諸症，專用黃袍散，薄荷一兩，甘草三錢。舌腫大，赤如熟豬肝色，不能轉動，川連三錢，黃柏三錢，片腦不拘。</p>
<h3>驅腐丹</h3>
<p>硼砂（二錢）　五倍子（去蛀，末，二錢）</p>
<p>炒黑末用，治糜口、雪口。</p>
<h3>吹喉散</h3>
<p>梅礬（三錢）　薄荷（二錢）　兒茶（一錢五分）　乳石（一錢五分，　，水飛）　甘草　火硝硼砂（各一錢）　冰片（三分）</p>
<p>瓷器收貯，勿可出氣。</p>
<h3>吹口方</h3>
<p>用棗子大者，去核，入明礬、　倍子、梔子皮、細蟆、人中白，均　，牛矢尖，在野墳上取黃牛糞干久者佳，各五錢，珍珠五分，冰片一分。</p>
<h3>消腫代刀散</h3>
<p>治喉瘡不破，用此藥吹之，咳嗽一聲即破。</p>
<p>火硝（將皮紙數層包好，放在煙巨上烘以去咸氣，換紙再烘，研極細末）　薄荷（此二味為君）　硼砂（為臣）　大冰片（少許為佐）　牙皂（少許為使）</p>
<p>上五味，共為細末，瓷瓶收存。遇有難破喉瘡，吹之以代刀針。</p>
<p>乳香　沒藥　枯礬　五倍子（燒灰）　自出蠶蛾　繭子殼　小棗　人指甲　壁喜子窠（燒灰各一個）</p>
<p>為末吹之，立效。</p>
<p>真青　百草霜（半分）　燈草灰（一厘）　薄荷（一分）　冰片（一分）　牙硝（一分）　硼砂（五分）　甘草（一分）　真金　蒲黃（各二分）</p>
<h3>口疳藥方</h3>
<p>較前更靈驗。</p>
<p>黃柏（八分）　黃連（一錢）　人中黃（五分）　薄荷（三分）　兒茶（五分）　龍骨（三分）　燈芯灰（不拘多少）　珠子（一分）　冰片（六厘）</p>
<p>此口疳之秘方也，不論症之輕重，吹之無不立愈。如爛至鼻根無救。如癢加飛礬，腐甚加青黛，色黑加牛黃、黃連，齒落加牛黃。</p>
