<header data-type="book">
<h1>跌打損傷方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>楊成博</dd></div>
</dl>
</header>
<h2>正文</h2>
<p>人身關五形知於臟腑。到傷按六脈以定虛實，認其生死不一，治亦清永無誤。所以心傷面紅，肝傷面青，腎傷面黑，脾傷面黃，肺傷面白。氣絕脫出者，患症雞母皮乳浮者，患指甲刺他甲邊不知痛者；患症不服之氣，患症如常出汗者，患症如肚痛吐瀉，患症四體呃緊，口含用藥灌口即開者，輕可救；不能開者，患症長短氣喘者，患症喉裡響抽者。患症不治，庶不有誤矣。總論周身部位有七十二穴，各處所傷輕重有春夏秋冬四季節候，藥有君臣佐使應扶。若有青草，初傷服之易發有驗，人欲就易。若欲全功，必用君臣之藥內托外扶，能得全愈。認其各處之穴，看其病輕重，分定部位，或撞或掙，或踏或槍，或鐵器、利器、拳頭穿打等傷，或腫或破，或不破皮肉，或烏赤青紅，論輕重傷，按症治之，即能痊愈。又男女老幼，或有展力太過，積傷之症，或飲食致症之時，無知不求醫治，致成死血久積，患入筋骨之內，活血日行周身部位，著積傷之死血，因血死，痛心、痛氣、痛肚。痛久不服藥，致成勞傷。久虛之症，枯血不散，飲食不消，應專治。若論三年二載，三月二月者，因症之輕重，治藥宜當配合，切勿魍魎服藥，容易誤，則難醫，豈不惜他人之命，敗自己之手乎。須當認症合何藥治之，務知脈之虛實，當破敗則破，應扶則扶，方能應手。至慎！記熟心中。謹熊膽散血去積，消腫止痛；珍珠去爛血生肌；牛黃定神止痛、清心；麝香同藥入部位；續斷補肝、通血、理筋骨、止痛、生肌。</p>
<p>上部：頭至乳二十四穴。治傷頭藥方於下：君臣用乳香（一錢）　沒藥（六分）　丹皮（四分）　柴胡（四分）　山甲（八分）　歸尾（八分）　桃仁（一錢）　紅花（八分）　生地（八分）　桔梗（一錢）　蘇木（八分）　香附（七分）　甘草（五分）　重傷或加三七、熊膽（各五分）　水一碗半，煎七分。</p>
<p>上部：青草藥用　金不換　一枝香　朴只葉　豬母莧　返魂草　紅花　白邊烏仔豆葉白蟲磨　蜞草一件，各取一撮，共捶汁，並蜜半杯溫燒服之。額門一穴骨破血流不止，傷風入臟即死。氣不升上，勿喘，面不變烏，鬲如光亮可治。入云蓮（五分）　枳殼（六分）　川芎（五分）　和上之藥煎之，服三劑。治止血：生地（七分）　三七（三分）　調酒為膏，至額門患處。腦後一穴只怕傷筋，一斷即死，不斷面不變色，目不閉，牙不緊急。可入加熊膽五分、川芎五分。和上之藥煎服三帖。左右目二穴，看目仁凸出勿破可治，入加蜈蚣二條，用新瓦　存性，研末泡酒服，另外用朱砂（三分）　辰砂（三分）　熊膽（三分）　川芎（三分）　人參（三分）　和上之藥煎服。鼻梁一穴只怕凹骨，氣喘喉干不可治，面變黃色，咳嗽可治。加入云蓮（三分）　川貝（三分）　陳皮（三分）　和上之藥煎服。左右耳門二穴，只怕血入肺口緊急難治，口張不閉，目如不藥淚可治。</p>
<p>入加熊膽三分、人參三分。和上之藥煎服，左右耳後二穴，只怕筋黑，如目不閉可治，入加川芎八分、川貝八分、菖蒲八分。和上之藥煎服。</p>
<p>一治兩鬢二穴打，著拳倒地不遺尿可治，入加苗金紅七分、川芎五分、熊膽三分。和上之藥煎服。下頦髁另加生地一錢、大黃五分，和蜜煉為一塊，可對患處。喉嚨管一穴，只怕氣急，目睛返視氣喘者，難治即死，否則可治。入加熊膽三分、人參二分和上諸藥煎服。喉嚨管兩陰二穴，著拳倒地，如目不開、口不開可治。入加性急五粒、牛黃三分，和上之藥煎服。</p>
<p>嫩喉一穴著拳倒地，血攻心、目反即死，否則可治，入加川連三分、人參三分、犀角一錢，和上之藥煎服。忠心一穴著拳倒地，只怕血攻、目反即死，血吐出可治。入加三七五分、人參五分、熊膽三分。和上之藥煎服。左右肩二穴，肩脫筋斷難治，傷重痛，入加牛黃三分、熊膽三分、桂枝八分、羌活五分。和上之藥煎服。吊膽二穴，一指打入筋骨，口目閉即死，口眼如常可治，入加川連四分、熊膽三分、人中白五分、童便一杯，上末　二枝香久，取起和上之藥煎服。心胸前左右三穴，只怕傷第五七骨，血毒穿入肺難治，服藥之，氣拔出，面青黃色可治。加入獨活一錢、熊膽三分、木香一錢，和上之藥煎服。</p>
<p>中部位內至離二十六穴至乳頭，藥方列：歸尾（八分）　川貝（八分）　陳皮（五分）　桔梗（六分）　枳殼（五分）　紅花（四分）　桃仁（六分）　乳香（五分）　沒藥（五分）　川芎（七分）　白芷（七分）　生地（一錢）　甘草（四分）　柴胡（六分）　熊膽（三分）　用酒二碗，中部青草　鵝子不食草　多年心　朴只葉　白松心　紅花　白邊烏子豆葉一件　各一撮，共捶汁一碗，溫燒童便一杯，並蜜半杯服之，佳。</p>
<p>左右二穴，只怕氣降血涌即死，如氣不降、血不涌可治。加入多年心五個、朴只葉、熊膽四分、黃連七分。和上之藥煎服。</p>
<p>左右骨尾二穴打著，消吊勿遺尿可治，入加神麯五分、香附五分、人中白五分。和上之藥煎服。左右飯匙骨邊，只怕著一指串入筋骨難治，或皮色口閉可治，入加淹水松根、相思草、行血草各一撮，捶汁一鐘，又用蘇木四分、紅曲二分、熊膽三分。將此藥煎申一碗和藥汁服之。左右脅下背後相連，吊膽尾相連，四穴，勿遺尿可治。入加沒藥六分、木香六分、紅曲二分。和上之藥煎服。肚臍一穴，只怕肚脹，大小便不通，口閉即死，否則可治。入加陳皮二分、人參一分、川連二分，用豬肚。又藥入豬肉煎燉服之，後服藥，入三七、熊膽，傷重加重服之。下肚一穴，打著消吊大小便閉，急緊即死，然大小便二經，有一經通可治。入加乳香五分、木香五分、紅曲八分、木通一錢、澤瀉八分、梔子八分。和上之藥煎服之。軟肚左右二穴，只怕消吊，面變烏紅即死，如常就可治。入加牛黃五分、天門冬一錢、三七一錢、熊膽四分。和上之藥煎服。腰脊骨一穴，積傷不能走動，用虎骨膠四錢、杜仲二分、生地一錢、牛膝二錢、紅花一錢、歸尾一錢、乳香一錢、羌活一錢、獨活一錢、淹水松根一錢、沒藥一錢。上藥用酒五升，燉乙枝香久取起，早晚服。另用黃松葉、朴只葉、寄生、朴只。</p>
<p>共捶汁泡酒服之，將渣炒封患處。</p>
<p>糞門尾只骨至桎骨九穴，第七骨尾只三骨難治，否則可入加金不換、虎咬江、反云草、杜仲。和上之藥燉汁服之。又用小麥半筒浸童便，煎水入於缸內，煙熏於尿門即愈。一治下部內離至腳二十二穴。久傷渴頭藥方：木通（一錢）　生地（一錢半）　白芍（一錢）　乳香（一錢）　沒藥（一錢）</p>
<p>黃（一錢）　防風（一錢）　枳殼（七分）　當歸（一錢）　香加皮（五分）　寄奴（五分）　甘草（五分）　水一碗、酒一碗，煎九分，空心服之。下部青草方：山茱萸　金苗紅　一枝香　虎姆心　王不留行紅花　金邊烏子豆葉　茶匙盛各一樣，挨籠地(混合)共捶汁，一碗酒，童便一杯，蜜少許，溫燒，空心服之。下分膳二穴，打著消吊，當時以知所緊勿致入腸，勿膳煮，即腎也，遺尿勿青，笑可治，入加黑梔子、車前子。和上之藥煎服。左右內離二穴，打傷只怕難治，插入如常帶紅色可治。入加多年心、金不換、松樹根、牛膠二錢、木瓜二錢。和上之藥煎服。</p>
<p>另用大黃　生地　梔子　麥心各研末，調酒為膏患處。兩捶二穴官拔被打，破皮碗流，用思代丹末，先服此方：沒藥　乳香　自然銅　黑梔子　黑地龍五條　共研末為丸，每服三錢，泡酒溫燒送下，後用硫黃梭豆敷貼於患虎腫毒。左右腳頭臼二穴，怕根斷難治，否則可治。</p>
<p>入加牛膝（一錢）　虎骨（一錢）　木瓜（一錢）　續斷（一錢）　和上之藥煎服。另用羌活（五錢）　梔子（三錢）</p>
<p>生地（五錢）　大黃（五錢）　和酒為膏封對患處。左右腳廉骨二穴，只怕骨折，根斷難治，腫痛血流可治。入虎骨（一錢）　川連（二錢）　三七（三條）　續斷（一錢）</p>
<p>碎補（二錢）　和上之藥煎服。另用大黃（五錢）　生地（一錢）　紅花（五錢）　乳香（二錢）　沒藥（一錢）　共研末，調酒為膏抹之愈。左右腳腸肚二穴，只怕喉干目暗，傷之難治，否則可治。入加虎骨（三錢）　川連（五錢）　牛膝（二錢）　三七（二錢）　和上之藥煎服。另用生地（一兩）　大黃（一兩）　乳香（二錢）　沒藥二錢調酒為膏貼對患處。左右腳目二穴，只怕骨碎，如勿腫可治，入加木瓜（一錢）</p>
<p>牛膝（一錢）　碎補（一錢）　三七（二錢）　白芍（二錢）　和上之藥煎服。另用大黃　生地　生薑（各一錢）</p>
<p>紅花（一錢半　乳香（一錢）　沒藥（一錢）　共捶，酒貼對患處。周身所傷部位七十二穴，因經微之穴不計一杯錄膽。跌打撻打損傷及登樓走馬牆壁所壓，槍刀石頭所傷，輕重宜應量人虛壯而施治也。壯者可用硬破，後心須用扶之。用肝肺之藥可得全功矣。弱者不可破，宜當應扶正氣。藥方相忝無患也矣。</p>
<h3>十不治症</h3>
<p>顛仆損傷有入肺者，從未即死，二七難治，左腋不傷透至內者可治，腸斷不治。肩內耳後傷透者則不治。傷破陰不治。症候緊多者不治。小腸下傷內者不治。脈下實重者不治。</p>
<p>以上皆具不服藥。</p>
<p><u>一治通身藥末方驗愈</u></p>
<p>蒼朮（一錢半）　歸尾（一錢）　六漢（一錢）　山甲（一錢）　虎骨（一錢）　沒藥（一錢）　杜仲（一錢）　當歸（一錢刺（一錢半）　生地（三錢）　枳殼（三錢）　木瓜（一錢半）　桂枝（一錢半）　血竭（一錢）　川三七（三錢）　麝香（三分）　熊膽（四分）　珍珠（二分）　虎碧（二分）　肉桂（一錢）　山羊血（二錢）　象血（二錢）　和共研末，泡酒服之。</p>
<p>上部：生地（一錢）　當歸（一錢）　川芎（一錢半）　荊芥（一錢）　赤芍（一錢半）　乳香（一錢）　沒藥（一錢半）　防風（一錢半）　桔梗（一錢）　正三七（八分）</p>
<p>中部：生地（一錢）　當歸（一錢）　川芎（一錢半）　赤芍（一錢半）　乳香（五分）　沒藥（五分）　香加（一錢）　續斷（一錢半）　甘草（一錢半）　柴胡（一錢）　白芍（一錢半）　熊膽（七分）　桃仁（一錢半）　紅花（一錢半）</p>
<p>下部：生地（二錢）　紅花（二錢）　歸尾（二錢）　赤芍（一錢半）　桃仁（一錢半）　甘草（一錢）　車前子（一錢錢）　松柏須</p>
<p><u>一治行軍平安散</u></p>
<p>正雄黃（四錢）　牙硝（二分）　蓽茇（二錢）　大片（二錢）　朱砂（一錢）　麝香（二錢）　皂角（二錢）　共研</p>
<p><u>一治月內散血方</u></p>
<p>桂枝（一錢）　白芍（一錢半）　炙甘草（一錢半）　吳茱萸（一錢半）　小茴（一錢半）　川楝（一錢）　生薑（三片）　大棗二粒，水一碗半，煎存八分。</p>
<p><u>通關散方</u></p>
<p>皂角刺（五分）　細辛（三分）　白芷（二分）　麝香（一分）　朱砂（三分）　辰砂（二分）　和共研末，吹入鼻孔內。</p>
<p><u>一治打傷腰骨貼方</u></p>
<p>大黃（四錢）　三利（四分）　川烏（一錢）　赤芍（三錢）　五加皮（三錢）　文蛤（二錢）　紅花（二錢）　烏豆（二只）　蛤蚧（六個）　應菜枝（二粒）　赤面（三兩）　共研末，調酒捶封之。</p>
