<header data-type="book">
<h1>五輸穴即景詩</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李梴</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>品質</dt><dd>95%</dd></div>
</dl>
</header>
<h2>一、漁翁</h2>
<p>少商湖海一漁翁　魚際太淵任轉蓬　漫道經渠不可測　還數尺澤起蛟龍</p>
<h2>二、夜色</h2>
<p>商陽茅屋二三間　合谷陽谿第幾灣　九曲池邊雲影淡　滿天星斗浴波瀾</p>
<h2>三、秋風</h2>
<p>秋風厲兌內庭西　陷谷衝陽過解谿　三里未知何日到　幾番翹首欲思齊</p>
<h2>四、野寺</h2>
<p>隱白雲中一老僧　大都離俗少人憎　幾回太白商丘過　汲取陰陵泉幾升</p>
<h2>五、班師</h2>
<p>少衝少府把師班　兵馬神門得勝還　靈道戰書前日發　而今少海已歸山</p>
<h2>六、觀漲</h2>
<p>浮萍少澤任東西　前谷淵源繞後谿　腕骨又通陽谷澗　交流小海欲傾堤</p>
<h2>七、茅亭</h2>
<p>茅亭結起至陰邊　通谷浮雲四望煙　束骨近同京骨峙　崑崙遙與委中連</p>
<h2>八、閒眺</h2>
<p>秋高閒眺湧泉邊　然谷太谿豁眼廉　復溜一帆陰谷去　江山覽勝碧連天</p>
<h2>九、秋雁</h2>
<p>中衝孤雁徹雲霄　幾度勞宮破寂寥　轉過大陵來間使　深淵曲澤莫招搖</p>
<h2>十、詠蝶</h2>
<p>關衝桃李液門栽　中渚陽池次第開　花落支溝香滿澗　一天井字蝶飛來</p>
<h2>十一、別恨</h2>
<p>竅陰別後恨相牽　幾俠谿臨泣杜鵑　懷抱丘墟情未畢　煩君陽輔寄陵泉</p>
<h2>十二、迷途</h2>
<p>雲霞煙鎖大敦峰　忘卻行間轉太衝　坐望中封無路入　曲泉行水聽淙淙</p>
