<header data-type="book">
<h1>醫宗金鑑·幼科種痘心法要旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙等</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷六十（<a href="https://www.kanripo.org/text/KR3e0090/">掃描及文字化本</a>）</dd></div>
</dl>
</header>
<h2>正文</h2>
<p>夫痘，胎毒也。伏於有形之始，因感而發，為生人所不能免。然其發也，或染時氣，或感風寒，或因飲食，或由驚恐，以病引病，為患多端，變更莫測。且其間順吉者少，險逆者多，有千方百計而不能冀其愈於萬一者，此其所以為難也。古有種痘一法，起自江右，達於京畿。究其所源，云自宋真宗時，峨眉山有神人出，為丞相王旦之子種痘而愈，遂傳於世。其說雖似渺茫，然以理揆之，實有參贊化言之功，因時制宜之妙。蓋正痘感於得病之後，而種痘則施於未病之先；正痘治於成病之時，而種痘則調於無病之日。自表傳裡，由裡達表，既無諸證夾雜於其中，復有善方引導於其外，熏蒸漸染，胎毒盡出，又何慮乎為患多端，變更莫測，以致良工束手於無可如何之地耶！此誠去險履平，避危就安之良法也。然種痘一科，多口傳心授，方書未載，恐後人視為虛誕之辭，相沿日久，無所考稽，使至理良法，竟置無用之地，神功湮沒，豈不大可惜哉！今將種痘一法，細加研究，審度精詳，纂輯成書，永垂千古，庶為種痘之津梁，咸登赤子於壽域也。</p>
<h3>種痘要旨</h3>
<p>嘗考種痘之法，有謂取痘粒之漿而種之者；有謂服痘兒之衣而種之者；有謂以痘痂屑干吹入鼻中種之，謂之旱苗者；有謂以痘痂屑，濕納入鼻孔種之，謂之水苗者。然即四者而較之，水苗為上，旱苗次之，痘衣多不應驗，痘漿太涉殘忍。故古法獨用水苗，蓋取其和平穩當也。近世始用旱苗，法雖捷徑，微覺迅烈。若痘衣、痘漿之說，則斷不可從。</p>
<p>夫水苗之所以善者，以其勢甚和平，不疾不徐，漸次而入，既種之後，小兒無受傷之處，胎毒有漸發之機，百發百中，捷於影響，盡善盡美，可法可傳，為種痘之最優者。其次則旱苗雖烈，猶與水苗之法相近，兒體壯盛，猶或可施。至若痘痂之何以為順？選苗之何以善藏？天時之何以得正？種期之何以為吉？調攝之何以合宜？禁忌之何以如法？形氣之何以可種？與痘衣痘漿之弊，一一條分縷晰，細列於後。學人必細心體閱，則中有灼見，不致有他岐之惑，庶種法既善，而成功可必矣！</p>
<h3>選苗</h3>
<p>苗者，痘之痂也。種痘者，全資乎此，以為胎毒之引導，關系匪輕。選苗時，宜留神細察，不可輕忽，其中有可用者，有不可用者，惟在痘之順與不順別之。痘之不順者，出不尖圓，色不紅潤，漿不充滿，所落之痂，黑暗而薄。此天人合病，內外合邪所致，即幸而得愈，亦不過良工之善為調治，非天然之美，此等痘痂，斷不可用。痘之順者，始終無夾雜之證，出則尖圓，色則紅潤，漿則充滿，所落之痂，蒼蠟光澤，肥大濃實。此得天地陰陽之正氣，極順之苗也，收而用之，效如附應。但此痂甚少，所遇無多，或不能親其事而假手他人，亦必令彼身親目睹方可。否則寧置而不用，切勿濫用，種者審之。</p>
<h3>蓄苗</h3>
<p>種痘必資於苗，而苗之所可恃者，在氣之相通耳。若遇熱則氣泄，日久則氣薄，觸污穢則氣不清，腑不潔則氣不正，此蓄苗之法，所以不可不慎也。如遇好苗，須貯新瓷瓶內，上以物密覆之，置於潔淨之所，清涼之處。其所貯之苗，在春天者，一月之痂可種。冬令嚴寒，四五十日之痂尚可種。蓋寒則氣收藏，熱則氣易泄，故時日有不同也。然於未收苗時，即當先與出痘之家明言其故，使彼樂從，無所疑忌。彼方肯用心收貯，不致稍有貽誤也。</p>
<h3>天時</h3>
<p>種痘貴得天時，得其時則種，不得其時則不種。夫天時之正，莫過於春。春為萬物發生之際，天氣融和，不寒不熱，種之則痘自隨其氣而發生，此正、二、三月之時，所以可種也。若交夏之後，六陽盡出地上，人之陽氣亦皆外浮，暑熱爍金，受病者眾。斯時種痘，兒何以堪？此四、五、六月之時，所以必不可種也。至若秋令，天氣清肅，收斂之時，雖遇可種之兒，而無引毒之具，此七、八、九月之時，勢有不能種也。至於十月，名曰小春，雖亦可種，然斯時寒氣固結，純陰用事，不若俟冬至後一陽鼓動，借其生生之氣，種之甚吉。此十月之所以可種，猶不若十一、十二月之尤可種也，然當可種之時，亦有不可種者，如春應溫而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，當其時而非其氣，是天地不正之氣也。常人感染則成時疫，小兒調理未遑，況敢言種痘乎？倘或遇此，只宜稍避，俟時氣平定，再為議種，方保萬全。亦有未種之時，天時甚正，既種之後，忽爾寒暄不時，此又人事所遇不齊，偶爾變氣，出乎意外者也。則宜屋中適其寒溫，順會天時，常燒辟穢香，飲食起居，更加謹慎，可保無恙。種痘者宜詳審而體察之。</p>
<h3>擇吉</h3>
<p>下苗之日，必擇成日、開日、栽種日及合天月二德日則吉。倘三者不能兼備，即成、開之日亦可。若值人神所在之日，忌不可種。</p>
<p>種痘吉日：成日　開日　栽種日天月二德日：正、五、九月在丙。二、六、十月在甲。三、七、十一月在壬。四、八、十二月在庚。</p>
<p>人神所在之日：十一日在鼻柱。十五日在遍身。</p>
<h3>調攝</h3>
<p>種痘之在調攝，最為緊要，自始至終，不可稍忽，如避寒熱、慎飲食是也。天氣嚴寒，蓋覆宜溫暖，勿使受寒，恐被寒氣所觸，則痘不得出。亦不可過於重棉疊褥，使熱氣壅滯，致痘不宣發。天氣溫暖，蓋覆宜適中，恐客熱與毒相並，致增煩熱。亦不可輕易著單露體，使寒邪外侵，阻遏生發之氣。此寒熱所以貴得其平也。人之氣血，必藉飲食生化，痘之始終，全賴貴此。若飲食虧少，氣血何所資助乎？但不可過甚，若過飲，則飲停不化津液；過食，則食滯必生痰熱。所以吮乳之兒，不多乳、不闕乳；能食之兒，勿餐辛熱炙爆，勿啖黏硬生冷，勿恣意茶水，勿使飲涼漿，食不過飽，亦不過飢，此飲食所以貴得其平也，至於寒熱飲食之外。凡舉止動作，既不可任意驕縱，亦不可過於拂逆，惟在調攝之人，耐其性情，兢兢業業，善為保護。不但慎於既種之後，且當慎於未種之先；不但慎之見苗之初，尤當慎之落痂之後。種痘者，宜諄諄告誡，務期詳細，使彼知關系匪輕，心存謹慎，如法調攝，始保萬全。倘稍有不謹，以致小兒或為寒熱所侵，或為飲食所傷，咎將誰諉乎？此不知調攝者，所以斷不可與種也。</p>
<h3>禁忌</h3>
<p>種痘之家，房中最要潔淨，切忌沖犯。最喜明亮，不可幽暗。擇老成耐事之人，經過小兒出痘者，令其調護，不離左右。一切禁忌，俱當謹遵。勿詈罵呼怒，勿言語驚慌，勿對梳頭，勿對搔癢，勿嗜酒，勿歌樂。凡房中淫液氣，婦人經候氣，腋下狐臭氣，行遠勞汗氣，誤燒頭發氣，誤燒魚骨氣，吹滅燈燭氣，硫磺柴煙氣，蔥蒜醉酒氣，溝渠污濁氣，悉宜避之。更當預囑其左右之人，倘值迅雷、烈風、豪雨之變，大宜安定，勿使兒驚，其伸帳宜謹，蓋覆宜密，切勿暴動生風。</p>
<p>常燒避穢香，以避偶爾不正之氣。再令人謹伺其門，不許生人往來，許僧、道、師、巫、孝服之人入室。以上禁忌，一一遵守則吉，稍有疏忽，每至敗事。種痘者切宜諄諄告誡之。</p>
<p><u>辟穢香</u></p>
<p>南蒼朮（半斤）　川大黃（四兩）</p>
<p>上銼細片，爐中燒之，不可間斷。</p>
<h3>可種</h3>
<p>小兒面部紅潤，精采明亮透達，印堂、山根、年壽、眼下、口角無青暗之色。　兩目黑白分明，視瞻平正，愈看愈有神氣精光。囟不陷、不填。頭不解顱。鼻孔不小。</p>
<p>氣清不濁。聲音清亮。　天柱骨正，頸不歪斜。骨肉相稱，又宜緊束，肥不見肉，瘦不露骨。小便遠而長，腎囊緊小，微帶紫黑色，如荔枝殼。　身無癲癬瘡疥。　項元結核。　腹無積聚，　形氣充實。　精神強健。　臟腑調順。脈息和平。　以上皆可種。</p>
<h3>不可種</h3>
<p>小兒面色青白，或黧黑、痿黃，無喜色，無精采。兩目黑多白少，白睛帶青色，視瞻歪斜，暗昧無神。　囟陷囟填。　解顱。　囟不合。　五軟。　五硬。　龜胸。　龜背。</p>
<p>鶴膝。　鼻孔小。　氣濁。　聲音不亮、不長，肉不束，骨松如發面樣。　身體瘦無肉。　身有　癬、瘡疥。　腹有疳積。　項有結核。　病後元氣未復。素有驚癇之證。</p>
<p>失乳之後。　氣血不足。脾胃虛弱。　精神倦怠。　脈不和平。　以上皆不可種。</p>
<p>凡小兒父母，行事疏忽，不知調攝，不聽禁忌，不信醫藥，過於溺愛驕縱者，亦斷不可與種。</p>
<h3>水苗種法</h3>
<p>種痘之時，要細閱小兒氣血衝和，臟腑均平，內無痰熱食積所傷，外無六淫之氣相侵，方可用上好痘痂種之。一歲者，用二十余粒。三四歲者，用三十余粒，置於淨瓷鐘內，以柳木作杵，碾為細末，以淨水滴三五點入鐘內，春溫用，冬熱用。干則再加水幾點，總以調勻為度，不燥不濕。用新棉些須攤極薄片，裹所調痘屑在內，捏成棗核樣，以紅線拴定，仍留寸許，長則剪去。將苗納入鼻孔，分男左、女右，不可離人，時時看守。</p>
<p>倘小兒用手拈弄，急禁止之。或被嚏出，急將苗塞鼻內，不可稍緩，恐泄苗氣。下苗後必六個時辰為度，然後取出。如遇天氣嚴寒，多留數刻；若遇時令和暖，早取數刻亦可，要在臨時斟酌。痘苗取出之後，其苗氣漸次而入，傳遍五臟。至七日始發熱，發熱三日而苗見，見苗三日而出齊，出齊三日而灌漿，漿足三日而回水結痂，大功成矣！</p>
<h3>五臟傳送之理</h3>
<p>鼻者，肺之外竅也。水苗種法，以苗塞鼻中，其氣先傳於肺；肺主皮毛，肺傳於心；心主血脈，心傳於脾；脾主肌肉，脾傳於肝；肝主筋，肝傳於腎。腎主骨，痘毒藏骨髓之內。感苗氣而發，其毒自骨髓盡達於筋，腎臟之毒解矣；自筋盡達於肌肉，肝臟之毒解矣；自肌肉盡達於血脈，脾臟之毒解矣；自血脈盡達於皮毛，心臟之毒解矣；自皮毛盡達於顆粒，肺臟之毒解矣。五臟之毒層遞而解，然後毒化漿成，收靨落痂。此種痘傳送之次序也，不可不知。</p>
<h3>旱苗種法</h3>
<p>旱苗種法，用銀管約長五六寸，曲其頸，碾痘痂極細，納於管端。按男左、女右，對準鼻孔吹入之，至七日而亦發熱。今時多用此法，蓋取其簡便捷入，不致脫落而有透泄苗氣之患也。第恐後人用之不善，輕吹之則不驟入，重吹之則迅烈難當。且恐流涕過多，苗隨涕去，往往不驗。今欲垂法後世，當取其法之和平穩當萬全者，而則效之。此所以獨取於水苗也。</p>
<h3>痘衣種法</h3>
<p>小兒出痘者，當長漿漿足之時，則彼痘氣充盛，取其貼身裡衣，與未出痘之兒女服之，服二三日，夜間亦不脫下，至九日、十一日始發熱，此乃衣傳。然恐氣薄不透，多有不熱不出，其法不靈，故不可用。</p>
<h3>痘漿種法</h3>
<p>擇小兒出痘之順者，取其痘漿以棉拭之，分男左、女右，塞入鼻中，亦能發痘。但取痘漿之時，不令本家知覺，捏破痘漿，盜以作種，使彼真氣宣泄，毒不能解，此忍心害理不仁之事也。同志者切宜深惡而痛絕之，又豈可尤而效之也哉！</p>
<h3>信苗</h3>
<p>種痘發熱以前，小兒面部上忽出顆粒似痘，名曰信苗，此痘之將發毒瓦斯之標也。色紅而軟，聽之自消。若紅紫堅硬，有如魚目者，急以銀針挑破，上以二聖散則無虞。</p>
<p><u>二聖散</u></p>
<p>明雄黃　紫草（各等分）</p>
<p>共碾為細末，用油胭脂調上。</p>
<h3>補種</h3>
<p>下苗後，宜令親切之人左右看守，恐他人用心之不慎也。若視為泛常，看守疏忽，恐小兒惡其苗塞鼻中，不時捏出，使苗氣一泄，種多不驗。所以種而不發者亦有之也。然或小兒五內壯實，不受苗氣，艱於傳進，不發者亦有之。更有胎毒深邃，潛藏內蓄，雖苗氣傳至，不能引出，不發者亦有之。俱當俟逾十一日為度，過此不發，然後察天時和順，再為補種之亦可。</p>
<h3>自出</h3>
<p>種痘以七日為期。五臟傳遍始發熱者，常也。或有至九日、十一日而發者，此傳送遲慢之故，亦無足慮。若發熱於五日以前，此時苗氣尚未傳至，其毒何由而發？必因種後適逢天行時氣，小兒感染而成。是乃自出之痘，非關苗氣出引者。種痘者不可不知，要當於未種之時，預為申明其說焉。</p>
<h3>治法</h3>
<p>種痘乃引毒達表，乘兒安寧無病之時，事屬順吉，又何言治。然恐痘家過於溺愛，起居不謹，飲食不節，此病所由生也，故治法亦所不免。當悉照治正痘之法，治之可也。</p>
