<header data-type="book">
<h1>吳普本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳普</dd></div>
<div><dt>朝代</dt><dd><data value="魏晉">漢末至魏晉</data></dd></div>
<div><dt>年份</dt><dd><data value="0200/0250">公元200年至公元250年</data></dd></div>
</dl>
</header>
<h2>玉石類</h2>
<h3>丹砂</h3>
<p><u>《御覽》卷九百八十五</u></p>
<p>神農：甘。黃帝、岐伯：苦，有毒。扁鵲：苦。李氏：大寒。或生武陵。采無時，能化朱成水銀，畏磁石，惡鹹水。</p>
<h3>雲母</h3>
<p><u>按：此藥參見本書「凝水石」條，《本經》首載此藥。</u></p>
<h3>玉泉</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名玉屑。神農、岐伯、雷公：甘。李氏：平。畏冬華，惡青竹。白玉體如白頭公。</p>
<h3>鐘乳</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名虛中，一名夏。神農：辛。桐君、黃帝、醫和：甘。扁鵲：甘，無毒。李氏：大寒。或生太山山谷陰處，岸下聚溜汁所成，如乳汁，黃白色，空中相通。二月、三月采，陰乾。</p>
<h3>礬石</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名羽涅，一名羽澤。神農、岐伯：酸。扁鵲：鹹。雷公：酸，無毒。生河西或隴西，或武都、石門。采無時。岐伯：久服傷人骨。</p>
<h3>硝石</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：苦。扁鵲：甘。</p>
<h3>朴硝石</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、岐伯、雷公：無毒。生益州或山陰。入土千歲不變，煉之不成不可服。</p>
<h3>石膽</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名黑石，一名銅勒。神農：酸，小寒。李氏：大寒。桐君：辛，有毒。扁鵲：苦，無毒。生羌道或句青山。二月庚子、辛丑采。</p>
<h3>空青</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：甘。一經：酸。久服有神仙玉女來侍，使人志高。</p>
<h3>太一禹余糧</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名禹哀。神農、岐伯、雷公：甘，平。李氏：小寒。扁鵲：甘，無毒。生太山。上有甲，甲中有白，白中有黃，如雞子黃色。九月采，或無時。</p>
<h3>白石英</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農：甘。岐伯、黃帝、雷公、扁鵲：無毒。生太山。形如紫石英，白澤，長者二、三寸。采無時。久服通日月光。青石英形如白石英，青端赤後者是。赤石英形如白石英，赤端白後者是，赤澤有光，味苦，補心氣。黃石英形如白石英，黃色如金，赤端者是。黑石英形如白石英，黑澤有光。</p>
<h3>紫石英</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農、扁鵲：甘，氣平。李氏：大寒。雷公：大溫。岐伯：甘，無毒。生太山或會稽。</p>
<p>采無時。欲令如削，紫色頭，如樗蒲者。</p>
<h3>五石脂</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名青、赤、黃、白、黑符。青符，神農：甘。雷公：酸，無毒。桐君：辛，無毒。李氏：小寒。生南山或海涯。采無時。</p>
<h3>赤符</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農、雷公：甘。黃帝、扁鵲：無毒。李氏：小寒。或生少室，或生太山。色絳，滑如脂。</p>
<h3>黃符</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>李氏：小寒。雷公：苦。或生嵩山，色如　腦、雁雛。采無時。</p>
<h3>白符</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名隨。岐伯、雷公：酸，無毒。李氏：小寒。桐君：甘，無毒。扁鵲：辛。或生少室、天婁山，或太山。</p>
<h3>黑符</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名石泥。桐君：甘，無毒。生洛西山空地。</p>
<h3>白青</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：甘，平。雷公：鹹，無毒。生豫章。可消為銅。</p>
<h3>扁青</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、雷公：小寒，無毒。生蜀郡。明目，治癰腫、風痹、丈夫內絕，令人有子。久服輕身。</p>
<h3>雄黃</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：苦。山陰有丹雄黃，生山之陽，故曰雄，是丹之雄，所以名雄黃也。</p>
<h3>硫黃</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名石硫黃。神農、黃帝、雷公：鹹，有毒。醫和、扁鵲：苦，無毒。或生易陽，或河西。或五色黃，是潘水石液也，燒令有紫炎者。八月、九月采。治婦人結陰。能化金銀銅鐵。</p>
<h3>水銀</h3>
<p><u>按：此藥參見本書「丹砂」條，《本經》首載此藥。</u></p>
<h3>磁石</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名磁君。</p>
<h3>凝水石</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名白水石，一名六石，一名寒水石。神農：辛。岐伯、醫和：甘，無毒。扁鵲：甘，無毒。李氏：大寒。或生邯鄲。采無時。如雲母也。</p>
<h3>陽起石</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農、扁鵲：酸，無毒。桐君、雷公、岐伯：鹹，無毒。李氏：小寒。或生太山，或陽起山。采無時。</p>
<h3>孔公孽</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>神農：辛。岐伯：鹹。扁鵲：鹹，無毒。色青黃。</p>
<h3>理石</h3>
<p><u>按：此藥參見本書「龍骨」條，《本經》首載此藥。</u></p>
<h3>長石</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名方石，一名土石，一名直石。生長子山。理如馬齒，潤澤，玉色，長服不飢。</p>
<h3>白礬石</h3>
<p><u>《御覽》卷九百八十七</u></p>
<p>一名鼠鄉，一名太白，一名澤乳，一名食鹽。神農、岐伯：辛，有毒。桐君：有毒。黃帝：甘，有毒。李氏：大寒。主溫熱。生漢中，或生魏興，或生少室。十二月采。</p>
<h3>戎鹽</h3>
<p><u>《北堂書鈔》卷百四十六</u></p>
<p>無毒。李氏曰：大寒。生邯鄲、西羌、戎胡山。</p>
<h3>鹵鹹</h3>
<p><u>《綱目》卷十一</u></p>
<p>一名鹵鹽、寒石。</p>
<h3>白堊</h3>
<p><u>《一切經音義》卷五十九</u></p>
<p>一名白　。</p>
<h3>石流赤</h3>
<p><u>《綱目》卷十一</u></p>
<p>生羌道山谷。</p>
<h2>草木類</h2>
<h3>菖蒲</h3>
<p><u>《類聚》卷八十一</u></p>
<p>一名堯韭，一名昌陽。</p>
<h3>菊華</h3>
<p><u>《初學記》卷二十七</u></p>
<p>一名白華，一名女華，一名女室。</p>
<h3>人參</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名土精，一名神草，一名黃參，一名血參，一名人微，一名玉精。神農：甘，小寒。</p>
<p>桐君、雷公：苦。岐伯、黃帝：甘，無毒。扁鵲：有毒。或生邯鄲。三月生，葉小兌，核黑，莖有毛。三月、九月采根，根有頭、足、手，面目如人。</p>
<h3>術</h3>
<p><u>《類聚》卷八十一</u></p>
<p>一名山連，一名山芥，一名天蘇，一名山薑。</p>
<h3>菟絲實</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名玉女，一名松蘿，一名鳥蘿，一名　蘿，一名複實，一名赤網。生山谷。</p>
<h3>牛膝</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農：甘。一經：酸。黃帝、扁鵲：甘。李氏：溫。雷公：酸，無毒。生河內或臨邛。</p>
<p>葉如藍，莖本赤。二月、八月采。</p>
<h3>委萎</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名葳蕤，一名王馬，一名節地，一名虫蟬，一名烏萎，一名熒，一名玉竹。神農：苦。一經：甘。桐君、雷公、扁鵲：甘，無毒。黃帝：辛。生太山山谷。葉青黃、相值如薑。</p>
<p>二月、七月采。治中風、暴熱，久服輕身。</p>
<h3>房葵</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名梁蓋，一名爵離，一名房苑，一名晨草，一名利如，一名方蓋。神農：辛，小寒。</p>
<p>桐君、扁鵲：無毒。岐伯、雷公、黃帝：苦，無毒。莖葉如葵，上黑黃。二月生根，根大如桔梗，根中紅白，六月華白，七月、八月實白。三月三日采根。</p>
<h3>茈胡</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名山來，一名如草。神農、岐伯、雷公：苦，無毒。生冤句。二月、八月采根。</p>
<h3>麥門冬</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名羊韭。秦，一名烏韭；楚，一名馬韭。越，一名羊韭；齊，一名愛韭，一名禹韭，一名爨火冬，一名忍冬，一名忍凌，一名不死藥，一名禹余糧，一名仆壘，一名隨脂。神農、岐伯：甘，平。黃帝、桐君、雷公：甘，無毒。李氏：甘，小溫。扁鵲：無毒。生山谷肥地。葉如韭，肥澤叢生。采無時。實青黃。</p>
<h3>獨活</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名胡王使者。神農、黃帝：苦，無毒。八月采。此藥有風華不動，無風獨搖。</p>
<h3>升麻</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名周升麻。神農：甘。</p>
<h3>署豫</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名諸署，秦、楚名玉延，齊、越名山羊，鄭、趙名山羊，一名玉延，一名修脆，一名兒草。神農：甘，小溫。桐君、雷公：甘，無毒。或生臨朐、鐘山。始生，赤莖細蔓，五月華白，七月實青黃，八月熟落。根中白，皮黃，類芋。二月、三月、八月采根。惡甘遂。</p>
<h3>龍膽</h3>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載此藥。</u></p>
<h3>細辛</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名小辛，一名細草。神農、黃帝、雷公、桐君：辛，小溫。岐伯：無毒。李氏：小寒。如葵，葉赤色，一根一葉相連。二月、八月采根。</p>
<h3>石斛</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農：甘，平。扁鵲：酸。李氏：寒。</p>
<h3>鬼督郵</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名神草，一名閻狗。或生太山，或少室。莖如箭，赤，無葉，根如芋子。三月、四月、八月采根，日乾。治癰腫。</p>
<h3>奄閭</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農、雷公、桐君、岐伯：苦，小溫，無毒。李氏：溫。或生上黨。葉青濃，兩兩相當。七月華白，九月實黑。七月、九月、十月采。驢馬食仙去。</p>
<h3>菥</h3>
<p><u>《御覽》卷九百八十</u></p>
<p>一名析目，一名榮冥，一名馬駒。雷公、神農、扁鵲：辛。李氏：小溫。四月采，乾二十日。生道旁。得細辛良，惡乾薑、苦參。</p>
<h3>薺實</h3>
<p><u>《御覽》卷九百八十</u></p>
<p>神農：甘，無毒。生野田，五月五日采，陰乾，治腹脹。</p>
<h3>紫芝</h3>
<p><u>《御覽》卷九百八十六</u></p>
<p>一名木芝。</p>
<h3>卷柏</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名豹足，一名求股，一名萬歲，一名神投時。神農：辛，平。桐君、雷公：甘。生山谷。</p>
<h3>芎</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名香果。神農、黃帝、岐伯、雷公：辛，無毒，香。扁鵲：酸，無毒。李氏：生溫中，熟寒。或生胡無桃山陰，或斜谷西嶺，或太山。葉香、細、青黑，文赤如　本。冬夏　生，五月華赤，七月實黑，附端兩葉。三月采根，根有節，似如馬銜狀。</p>
<h3>蕪</h3>
<p><u>《御覽》卷九百八十三</u></p>
<p>一名芎　。</p>
<h3>黃連</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農、岐伯、黃帝、雷公：苦，無毒。李氏：小寒。或生蜀郡、太山之陽。</p>
<h3>落石</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名鱗石，一名明石，一名縣石，一名雲華，一名雲珠，一名雲英，一名雲丹。神農：苦，小溫。雷公：苦，無毒。扁鵲、桐君：甘，無毒。李氏：大寒。雲藥中君。采無時。</p>
<h3>刺蒺藜</h3>
<p><u>《匯言》卷四</u></p>
<p>化症。</p>
<h3>肉蓯蓉</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名肉松蓉。神農、黃帝：鹹。雷公：酸。李氏：小溫。生河東山陰地。長三、四寸，生。或代郡、雁門。二月至八月采，陰乾用之。</p>
<h3>防風</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名回云，一名回草，一名百枝，一名　根，一名百韭，一名百種。神農、黃帝、岐伯、桐君、雷公、扁鵲：甘，無毒。李氏：小寒。或生邯鄲、上蔡。正月生，葉細圓，青黑黃白，五月華黃，六月實黑，二月、十月采根，日乾。琅邪者良。</p>
<h3>醮</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名醮石，一名香蒲。神農、雷公：甘。生南海池澤中。</p>
<h3>薔薇</h3>
<p><u>《御覽》卷九百九十八</u></p>
<p>一名牛勒，一名牛膝，一名薔薇，一名山棗。</p>
<h3>豕首</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名澤藍。神農、黃帝：甘、辛，無毒。生宛朐，五月采。</p>
<h3>決明子</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>一名草決明，一名羊明。</p>
<h3>丹參</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名赤參，一名木羊乳，一名郗蟬草。神農、桐君、黃帝、雷公、扁鵲：苦，無毒。李氏：大寒。岐伯：鹹。生桐柏、或生太山山陵陰。莖華，小方如荏，有毛，根赤。四月華紫，三月、五月采根，陰乾。治心腹痛。</p>
<h3>五味</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名玄及。</p>
<h3>蛇床</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名蛇珠。</p>
<h3>因塵</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>神農、岐伯、雷公：苦，無毒。黃帝：辛，無毒。生田中。葉如藍。十一月采。</p>
<h3>白沙參</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名苦心，一名識美，一名虎須，一名白參，一名志取，一名文虎。神農、黃帝、扁鵲：無毒。岐伯：鹹。李氏：大寒。生河內川谷，或般陽瀆山。三月生，如葵，葉青，實白如芥，根大白如蕪菁。三月采。</p>
<h3>白菟藿</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名白葛谷。</p>
<h3>徐長卿</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名石下長卿。神農、雷公：辛。或生隴西。三月采。</p>
<h3>龍</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名龍多，一名龍鬢，一名續斷，一名龍木，一名草毒，一名龍華，一名懸菟。神農、李氏：小寒。雷公、黃帝：苦，無毒。扁鵲：辛，無毒。生梁州。七月七日采。</p>
<h3>薇</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名糜　，一名無原，一名承膏，一名承　，一名無心鬼。</p>
<h3>雲實</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名員實，一名天豆。神農：辛，小溫。黃帝：鹹。雷公：苦。葉如麻，兩兩相值，高四、五尺，大莖空中，六月華，八月、九月實，十月采。</p>
<h3>王不留行</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名王不流行。神農：苦，平。岐伯、雷公：甘。三月、八月采。</p>
<h3>乾薑</h3>
<p><u>按：此藥參見本書「菥　」、「千歲垣中膚皮」條，《本經》首載此藥。</u></p>
<h3>葛根</h3>
<p><u>《御覽》卷九百九十五</u></p>
<p>神農：甘。生太山。</p>
<h3>栝樓</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名澤巨，一名澤冶。</p>
<h3>苦參</h3>
<p><u>按：此藥參見本書「菥　」條，《本經》首載此藥。</u></p>
<h3>當歸</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>神農、黃帝、桐君、扁鵲：甘，無毒。岐伯、雷公：辛，無毒。李氏：小溫。或生羌胡地。</p>
<h3>麻黃</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名卑相，一名卑監。神農、雷公：苦，無毒。扁鵲：酸，無毒。李氏：平。或生河東。四月、立秋采。</p>
<h3>通草</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名丁翁，一名附支。神農、黃帝：辛。雷公：苦。生石城山谷，葉青，蔓延。止汗。</p>
<p>自正月采。</p>
<h3>芍藥</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名其積，一名解倉，一名誕，一名余容，一名白朮。神農：苦。桐君：甘，無毒。岐伯：鹹。李氏：小寒。雷公：酸。二月、三月生。</p>
<h3>蠡實</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名劇草，一名三堅，一名劇荔華。</p>
<h3>玄參</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名鬼藏，一名正馬，一名重台，一名鹿腸，一名端，一名玄台。神農、桐君、黃帝、雷公、扁鵲：苦，無毒。岐伯：鹹。李氏：寒。或生冤句山陽。二月生，葉如梅毛，四四相值，以芍藥，黑莖，莖方，高四、五尺，華赤，生枝間，四月實黑。</p>
<h3>百合</h3>
<p><u>《類聚》卷八十一</u></p>
<p>一名重邁，一名中庭，一名重匡。生冤朐及荊山。</p>
<h3>知母</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名提母。神農、桐君：無毒。補不足、益氣。</p>
<h3>白芷</h3>
<p><u>《御覽》卷九百八十三</u></p>
<p>一名　，一名苻離，一名澤芬，一名葩。</p>
<h3>淫羊藿</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>神農、雷公：辛。李氏：小寒。堅骨。</p>
<h3>黃芩</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名黃文，一名妒婦，一名虹勝，一名經芩，一名印頭，一名內虛。神農、桐君、黃帝、雷公、扁鵲：苦，無毒。李氏：小溫。二月生，赤黃葉，兩兩四四相值，莖空中，或方圓，高三、四尺，四月華紫紅赤，五月實黑，根黃，二月至九月采。</p>
<h3>狗脊</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名狗青，一名萆　，一名赤節，一名強膂。神農：苦。桐君、黃帝、岐伯、雷公、扁鵲：甘，無毒。李氏：溫。如萆　，莖節如竹，有刺。葉圓青赤。根黃白，亦如竹。根毛有刺。岐伯、一經：莖無節，葉端圓，赤，皮白有赤脈。二月采。</p>
<h3>石龍芮</h3>
<p><u>《御覽》卷九百九十二、九百九十三</u></p>
<p>一名水薑苔，一名薑苔，一名天豆。神農：苦，平。岐伯：酸。扁鵲、李氏：大寒。雷公：鹹，無毒。五月五日采。</p>
<h3>紫菀</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名青苑。</p>
<h3>紫草</h3>
<p><u>《御覽》卷九百九十六</u></p>
<p>一名地血。節赤，二月華。</p>
<h3>前胡</h3>
<p><u>按：此藥參見本書「大豆黃卷」條，《別錄》載此藥。</u></p>
<h3>敗醬</h3>
<p><u>《綱目》卷十六</u></p>
<p>其根似桔梗。</p>
<h3>酸漿</h3>
<p><u>《御覽》卷九百九十八</u></p>
<p>一名酢漿。</p>
<h3>牡蒙</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名紫參，一名眾戎，一名音腹，一名伏菟，一名重傷。神農、黃帝：苦。李氏：小寒。生河西山谷，或宛句商山。圓聚生，根黃赤有文，皮黑中紫，五月華紫赤，實黑，大如豆。三月采根。</p>
<h3>本</h3>
<p><u>按：此藥參見本書芎　條，《本經》首載此藥。</u></p>
<h3>萆</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名百枝。</p>
<h3>白薇</h3>
<p><u>按：此藥參見本書「麻子中人」條，《本經》首載此藥。</u></p>
<h3>水萍</h3>
<p><u>《初學記》卷二十七</u></p>
<p>一名水廉。生池澤水上。葉圓小，一莖一葉，根入水。五月華白，三月采，日乾之。暴熱，下水氣，利小便。</p>
<h3>海藻</h3>
<p><u>按：此藥參見本書大豆黃卷條，《本經》首載此藥。</u></p>
<h3>澤蘭</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名水香。神農、黃帝、岐伯、桐君：酸，無毒。李氏：溫。生下地水旁。葉如蘭，二月生苗，赤節，四葉相值枝節間。三月三日采。</p>
<h3>綸布</h3>
<p><u>《綱目》卷十九</u></p>
<p>一名昆布。酸、鹹，寒，無毒。消瘰　。</p>
<h3>木防己</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名解離，一名解燕。神農：辛。黃帝、岐伯、桐君：苦，無毒。李氏：大寒。如葛莖，蔓延如芄，白根，外黃似桔梗，內黑文，如車輻解。二月、八月、十月采根。</p>
<h3>款冬</h3>
<p><u>《類聚》卷八十一</u></p>
<p>十二月花，花黃白。</p>
<h3>牡丹</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農、岐伯：辛。李氏：小寒。雷公、桐君：苦，無毒。黃帝：苦，有毒。葉如蓬相值，黃色。根如指，黑，中有核。二月采，八月采，日乾。可食之，輕身益壽。</p>
<h3>薺</h3>
<p><u>按：此藥參見本書桔梗條，《別錄》載此藥。</u></p>
<h3>千歲垣中膚皮</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>得薑、赤石脂共治。</p>
<h3>女苑</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名白苑，一名織女苑。</p>
<h3>黃孫</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名王孫，一名蔓延，一名公草，一名海孫。神農、雷公：苦，無毒。黃帝：甘，無毒。生西海川谷及汝南城郭垣下。蔓延，赤文，莖葉相當。</p>
<h3>爵麻</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名爵卿。</p>
<h3>附子</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>名莨。神農：辛。岐伯、雷公：甘，有毒。李氏：苦，有毒，大溫。或生廣漢。八月采。皮黑肌白。</p>
<h3>烏頭</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名莨，一名千秋，一名毒公，一名果負，一名耿子。神農、雷公、桐君、黃帝：甘，有毒。正月始生，葉濃，莖方中空，葉四面相當，與蒿相似。烏喙，神農、雷公、桐君、黃帝：有毒。李氏：小寒。十月采。形如烏頭，有兩岐相合，如烏頭之喙，名曰烏喙也，所畏惡使，盡與烏頭同。</p>
<h3>天雄</h3>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載此藥。</u></p>
<h3>側子</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名莨。神農、岐伯：有大毒。李氏：大寒。八月采，陰乾。是附子角之大者。畏惡與附子同。</p>
<h3>半夏</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名和姑。生微邱，或生野中。葉三三相偶，二月始生，白華圓上。</p>
<h3>虎掌</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>神農、雷公：苦，無毒。岐伯、桐君：辛，有毒。或生太山，或宛朐。立秋九月采。</p>
<h3>鳶尾</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>治蠱毒。</p>
<h3>大黃</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名黃良，一名火參，一名膚如。神農、雷公：苦，有毒。扁鵲：苦，無毒。李氏：小寒。為中將軍，或生蜀郡北部，或隴西。二月卷生，生黃赤葉，四四相當，黃莖，高三尺許，三月華黃，五月實黑，三月采根，根有黃汁，切陰乾。</p>
<h3>桔梗</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名符　，一名白藥，一名利如，一名梗草，一名盧茹，一名房圓。神農、醫和：苦，無毒。扁鵲、黃帝：鹹。岐伯、雷公：甘，無毒。李氏：大寒。葉如薺　，莖如筆管，紫赤。二月生。生嵩山山谷及冤句。</p>
<h3>藜蘆</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名蔥葵，一名山蔥，一名豐蘆，一名蕙葵，一名公苒。神農、雷公：辛，有毒。黃帝：有毒。岐伯：鹹，有毒。李氏：大毒，大寒。扁鵲：苦，有毒。大葉根小相連。二月采根</p>
<h3>秦鉤吻</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名毒根，一名野葛。神農：辛。雷公：有毒，殺人。生南越山，或益州。葉如葛，赤莖，大如箭，方，根黃色。或生會稽東冶。正月采。</p>
<h3>射干</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名黃遠。</p>
<h3>恆山</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名七葉。神農、岐伯：苦。李氏：大寒。桐君：辛，有毒。二月、八月采。</p>
<h3>蜀漆葉</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名恆山。神農、岐伯、雷公：辛，有毒。黃帝：辛。一經：酸。如漆葉、藍菁相似，五月采。</p>
<h3>甘遂</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名主田，一名日澤，一名重澤，一名鬼丑，一名陵　，一名甘　，一名苦澤。神農、桐君：苦，有毒。岐伯、雷公：有毒。須二月、八月采。</p>
<h3>白及</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名臼根。神農：苦。黃帝：辛。李氏：大寒。雷公：辛，無毒。莖葉如生薑、藜蘆也。十月華，直上，紫赤。根白，連。二月、八月、九月采。生宛句。</p>
<h3>茵芋</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名卑山共。微溫，有毒，狀如莽草而細軟。</p>
<h3>貫眾</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名貫來，一名貫中，一名渠母，一名貫鐘，一名伯芹，一名藥藻，一名扁符，一名黃鐘。神農、岐伯：苦，有毒。桐君、扁鵲：苦。一經：甘，有毒。黃帝：鹹、酸、微苦，無毒。葉青黃，兩兩相對，莖黑毛聚生，冬夏不死，四月華白，七月實黑，聚相連卷旁行生，三月、八月采根，五月采葉。</p>
<h3>野狼牙</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名支蘭，一名野狼齒，一名犬牙，一名抱牙。神農、黃帝：苦，有毒。桐君：鹹。岐伯、雷公、扁鵲：苦，無毒。或生宛句。葉青，根黃赤，六月、七月華，八月實黑。正月、八月采根。消疥癬。</p>
<h3>羊躑躅華</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農、雷公：辛，有毒。生淮南。治賊風、惡毒，諸邪氣。</p>
<h3>蓄</h3>
<p><u>《御覽》卷九百九十八</u></p>
<p>一名蓄辯，一名　蔓。</p>
<h3>白頭翁</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名野丈人，一名奈何草。神農、扁鵲：苦，無毒。生嵩山山谷。治氣狂、寒熱，止痛</p>
<h3>鬼臼</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名九臼，一名天臼，一名雀犀，一名馬目公，一名解毒。生九真山谷及冤句。二月、八月采根。</p>
<h3>鼠尾</h3>
<p><u>《御覽》卷九百九十五</u></p>
<p>一名莖，一名山陵翹。治痢也。</p>
<h3>女青</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名霍由祗。神農、黃帝：辛。</p>
<h3>閭茹</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名離樓，一名屈居。神農：辛。岐伯：酸、鹹，有毒。李氏：大寒。二月采，葉圓黃，高四、五尺，葉四四相當。四月華黃，五月實黑。根黃有汁，亦同黃。三月、五月采根，黑頭者良。</p>
<h3>石長生</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農：苦。雷公：辛。一經：甘。生咸陽或同陽。</p>
<h3>王芻</h3>
<p><u>《御覽》卷九百九十七</u></p>
<p>一名黃草。神農、雷公：苦。生太山山谷。治身熱邪氣、小兒身熱氣。</p>
<h3>芫華</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名去水，一名敗華，一名兒草根，一名黃大戟。神農、黃帝：有毒。扁鵲、岐伯：苦。李氏：大寒。二月生。葉青，加濃則黑，華有紫、赤、白者，三月實落盡，葉乃生，三月、五月采華。</p>
<h3>石芸</h3>
<p><u>《御覽》卷九百八十二</u></p>
<p>一名敞列，一名顧喙。</p>
<h3>蒲陰實</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>生平谷，或圃中。延蔓如瓜，葉實如桃。七月采。止溫，延年。</p>
<h3>地朕</h3>
<p><u>《綱目》卷二十</u></p>
<p>一名夜光，一名承夜。</p>
<h3>萱草</h3>
<p><u>《綱目》卷十六</u></p>
<p>一名妓女。</p>
<h3>小華</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名結草。</p>
<h3>桂</h3>
<p><u>《要術》卷十</u></p>
<p>一名止唾。</p>
<h3>枸杞</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名杞芭，一名羊乳。</p>
<h3>茯苓</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>通神。桐君：甘。雷公、扁鵲：甘，無毒。或生益州大松根下，入地三尺一丈。二月、七月采。</p>
<h3>琥珀</h3>
<p><u>按：此藥參見本書「丹雞卵」條，《本經》首載此藥。</u></p>
<h3>酸棗</h3>
<p><u>按：此藥參見本書「山茱萸」條，《本經》首載此藥。</u></p>
<h3>谷木皮</h3>
<p><u>《御覽》卷九百六十</u></p>
<p>治喉閉、痹。一名楮。</p>
<h3>乾漆</h3>
<p><u>按：此藥參見本書「龍骨」條，《本經》首載此藥。</u></p>
<h3>杜仲</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名木綿，一名思仲。</p>
<h3>蕤核</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名　。神農、雷公：甘，無毒，平，生池澤。八月采。補中強中，強志，明耳目，久服不飢。</p>
<h3>青竹</h3>
<p><u>按：此藥參見本書「玉泉」條。《本經》首載竹葉。</u></p>
<h3>枳實</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>神農：苦。雷公：酸，無毒。李氏：大寒。九月、十月采，陰乾。</p>
<h3>厚朴</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名濃皮。神農、岐伯、雷公：苦，無毒。李氏：小溫。生交　。</p>
<h3>岑皮</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名秦皮。神農、雷公、黃帝、岐伯：酸，無毒。李氏：小寒。或生宛句水邊。二月、八月采。</p>
<h3>山茱萸</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名　實，一名鼠矢，一名雞足。神農、黃帝、雷公、扁鵲：酸，無毒。岐伯：辛。</p>
<p>一經：酸。或生宛句、琅邪，或東海、承縣。葉如梅，有刺毛。二月華，如杏，四月實，如酸棗赤，五月采實。</p>
<h3>紫威</h3>
<p><u>《御覽》卷九百九十二</u></p>
<p>一名武威，一名瞿　，一名陵居腹，一名鬼目，一名芰華。神農、雷公：酸。岐伯：辛。扁鵲：苦、鹹。黃帝：甘，無毒。如　，根黑。正月、八月采。或生真定。</p>
<h3>豬苓</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>神農：甘。雷公：苦，無毒。如茯苓。或生宛句。八月采。</p>
<h3>龍眼</h3>
<p><u>《要術》卷十</u></p>
<p>一名益智，一名比目。</p>
<h3>鬼箭</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名衛矛。神農、黃帝、桐君：苦，無毒。葉如桃、如羽。正月、二月、七月采，陰乾。或生野田。</p>
<h3>巴豆</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名巴菽。神農、岐伯、桐君：辛，有毒。黃帝：甘，有毒。李氏：生溫熟寒。葉如大豆。八月采。</p>
<h3>蜀椒</h3>
<p><u>按：此藥參見本書「龍骨」條，《本經》首載此藥。</u></p>
<h3>郁核</h3>
<p><u>《御覽》卷九百七十三</u></p>
<p>一名雀李，一名車下李，一名棣。</p>
<h3>莽草</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名春草。神農：辛。雷公、桐君：苦，有毒。生上谷山中，或宛句。五月采。治風。</p>
<h3>雷丸</h3>
<p><u>《御覽》卷九百九十</u></p>
<p>一名雷實。神農：苦。黃帝、岐伯、桐君：甘，有毒。扁鵲：甘，無毒。李氏：大寒。</p>
<p>或生漢中。八月采。</p>
<h3>蜀黃環</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名生　，一名根韭。神農、黃帝、岐伯、桐君、扁鵲：辛。一經：味苦，有毒。二月生，初出正赤，高二尺，葉黃圓端大，莖葉有汁，黃白。五月實圓，三月采根，根黃，縱理，如車輻解。治蠱毒。</p>
<h3>鼠李</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>一名牛李。</p>
<h3>淮木</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>神農、雷公：無毒。生晉平陽、河東平澤。治久咳上氣，傷中羸虛，補中益氣。</p>
<h3>翹根</h3>
<p><u>《御覽》卷九百九十一</u></p>
<p>神農、雷公：甘，有毒。李氏：苦。二月、八月采。以作蒸飲酒，病患。</p>
<h2>蟲獸類</h2>
<h3>龍骨</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>生晉地山谷陰，大水所過處。是死龍骨，色青白者善。十二月采，或無時，龍角畏乾漆、蜀椒、理石。</p>
<h3>龍齒</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、李氏：大寒。龍齒治驚癇，久服輕身。</p>
<h3>牛黃</h3>
<p><u>《後漢書》卷九十四</u></p>
<p>味苦，無毒。牛出入呻者有之。夜有光走角中，牛死入膽中，如雞子黃。</p>
<h3>丹雄雞</h3>
<p><u>《綱目》卷四十八</u></p>
<p>一名載丹。扁鵲：辛。</p>
<h3>丹雞卵</h3>
<p><u>《御覽》卷九百二十八</u></p>
<p>可作琥珀。</p>
<h3>肪</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>殺諸石藥毒。</p>
<h3>雁肪</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農、岐伯、雷公：甘，無毒。采無時。</p>
<h3>伏翼</h3>
<p><u>《類聚》卷九十七</u></p>
<p>或生人家屋間。立夏後陰乾。治目冥，令人夜視有光。</p>
<h3>鼠屎</h3>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載「天鼠屎」。</u></p>
<h3>石蜜</h3>
<p><u>《御覽》卷九百八十八、八百五十七</u></p>
<p>神農、雷公：甘，氣平。生河源或河梁。食蜜，生武都谷。</p>
<h3>牡蠣</h3>
<p><u>按：此藥參見本書「麻藍」條，《本經》首載此藥。</u></p>
<h3>桑蛸條</h3>
<p><u>《御覽》卷九百四十六</u></p>
<p>一名蝕　，一名害焦，一名致。神農：鹹，無毒。</p>
<h3>海蛤</h3>
<p><u>《御覽》卷九百八十八</u></p>
<p>神農：苦。岐伯：甘。扁鵲：鹹。大節，頭有文，文如磨齒。采無時。</p>
<h3>蠐螬</h3>
<p><u>《綱目》卷四十一</u></p>
<p>一名應條。</p>
<h3>烏賊魚骨</h3>
<p><u>《綱目》卷四十四</u></p>
<p>冷。</p>
<h3>石龍子</h3>
<p><u>《御覽》卷九百四十六</u></p>
<p>一名守宮，一名石蜴，一名山龍子。</p>
<h3>蜚廉虫</h3>
<p><u>《御覽》卷九百四十九</u></p>
<p>神農、黃帝云：治婦人症堅寒熱。</p>
<h3>塵虫</h3>
<p><u>《御覽》卷九百四十九</u></p>
<p>一名土鱉。</p>
<h3>馬刀</h3>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名齊蛤。神農、岐伯、桐君：鹹，有毒。扁鵲：小寒，大毒。生池澤、江海，采無時也。</p>
<h3>蛇脫</h3>
<p><u>《御覽》卷九百三十四</u></p>
<p>一名龍子單衣，一名弓皮，一名蛇附，一名蛇筋，一名龍皮，一名龍單衣。</p>
<h3>蚯蚓</h3>
<p><u>《御覽》卷九百四十七</u></p>
<p>一名白頸螳　，一名附蚓，一名寒　，一名寒蚓。</p>
<h3>斑貓</h3>
<p><u>《御覽》卷九百五十一</u></p>
<p>一名斑蚝，一名龍蚝，一名斑菌，一名　發，一名盤蛩，一名晏青。神農：辛。岐伯：鹹。桐君：有毒。扁鵲：甘，有大毒。生河內川谷，或生水石。</p>
<h3>石蠶</h3>
<p><u>《御覽》卷八百二十五</u></p>
<p>一名沙蚌。神農、雷公：鹹，無毒。生漢中，治五淋，破髓肉，解結氣，利水道，除熱。</p>
<h3>馬陸</h3>
<p><u>《御覽》卷九百四十八</u></p>
<p>一名馬軸。</p>
<h3>地膽</h3>
<p><u>《御覽》卷九百五十一</u></p>
<p>一名元青，一名杜龍，一名青虹。</p>
<h3>螢火</h3>
<p><u>《類聚》卷九十七</u></p>
<p>一名夜照，一名熠耀，一名救火，一名景天，一名據火，一名挾火。</p>
<h3>衣中白魚</h3>
<p><u>《御覽》卷九百四十六</u></p>
<p>一名　。</p>
<h3>運日</h3>
<p><u>《御覽》卷九百二十七</u></p>
<p>一名羽鴆。</p>
<h2>果類</h2>
<h3>大棗</h3>
<p><u>《證類》卷二十三</u></p>
<p>一名良棗。主調中，益脾氣，令人好顏色，美志氣。</p>
<h2>缺盆</h2>
<p><u>《御覽》卷九百九十三</u></p>
<p>一名決盆。</p>
<h3>梅核</h3>
<p><u>《初學記》卷二十八</u></p>
<p>明目，益氣不飢。</p>
<h3>木瓜</h3>
<p><u>《御覽》卷九百七十三</u></p>
<p>生夷陵。</p>
<h3>杏子</h3>
<p><u>按：此藥參見本書「大豆黃卷」條，《本經》首載「杏核仁」。</u></p>
<h3>梨</h3>
<p><u>《要術》卷四</u></p>
<p>金創、乳婦不可食梨，多食則損人，非補益之物。產婦蓐中及疾病未愈，食梨多者，無不致病。咳逆上氣者，尤宜慎之。</p>
<h3>李核</h3>
<p><u>《御覽》卷九百六十八</u></p>
<p>治仆僵，華令人好顏色。</p>
<h3>櫻桃</h3>
<p><u>《類聚》卷八十六</u></p>
<p>一名朱茱，一名麥英。甘酣。主調中，益脾氣，令人好顏色，美志氣。</p>
<h3>瓜子</h3>
<p><u>《御覽》卷九百七十八</u></p>
<p>一名瓣。七月七日采。可作面脂。</p>
<h3>芥</h3>
<p><u>《要術》卷三</u></p>
<p>一名水蘇，一名勞祖，一名雞蘇。</p>
<h3>荏</h3>
<p><u>按：此藥參見本書「丹參」條，《別錄》載「荏子」。</u></p>
<h3>蓼實</h3>
<p><u>《類聚》卷八十二</u></p>
<p>一名天蓼，一名野蓼，一名澤蓼。</p>
<h3>假蘇</h3>
<p><u>《要術》卷三</u></p>
<p>一名鼠　，一名薑芥也。葉似落藜而細。蜀中生啖之。</p>
<h3>胡麻</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名方金，一名狗虱。神農、雷公：甘，平，無毒。立秋采。</p>
<h3>青襄</h3>
<p><u>《御覽》卷九百八十九</u></p>
<p>一名蔓。神農：苦；雷公：甘。</p>
<h3>麻子中人</h3>
<p><u>《御覽》卷九百九十五</u></p>
<p>神農、岐伯：辛。雷公、扁鵲：無毒。不欲牡蠣、白薇。先藏地中者，食殺人。</p>
<h3>麻藍</h3>
<p><u>《御覽》卷九百九十五</u></p>
<p>一名麻　，一名青羊，一名青葛。神農：辛。岐伯：有毒。雷公：甘。畏牡蠣、白薇。葉上有毒，食之殺人。</p>
<h3>麻勃</h3>
<p><u>《御覽》卷九百九十五</u></p>
<p>一名麻華。雷公：辛，無毒。畏牡蠣。</p>
<h3>生大豆</h3>
<p><u>《御覽》卷八百四十一</u></p>
<p>神農、岐伯：生溫熟寒。九月采。殺烏頭毒，並不用玄參。</p>
<h3>赤小豆</h3>
<p><u>《御覽》卷八百四十一</u></p>
<p>神農、黃帝：鹹。雷公：甘。九月采。</p>
<h3>大豆黃卷</h3>
<p><u>《御覽》卷八百四十一</u></p>
<p>神農、黃帝、雷公：無毒。采無時。去面　，得前胡、烏喙、杏子、牡蠣、天雄、鼠屎共蜜和佳，不欲海藻、龍膽。此法大豆初出土黃芽是也。</p>
<h3>陳粟</h3>
<p><u>《御覽》卷八百四十</u></p>
<p>神農、黃帝：苦，無毒。治痹熱渴，粟養腎氣。</p>
<h3>黍</h3>
<p><u>《御覽》卷八百四十二</u></p>
<p>神農：甘，無毒。七月取，陰乾。益中補氣。</p>
<h3>大麥</h3>
<p><u>《御覽》卷八百三十八</u></p>
<p>一名　麥。五谷之盛。無毒。治消渴，除熱，益氣。食蜜為使。</p>
<h3>麥種</h3>
<p><u>《御覽》卷八百三十八</u></p>
<p>一名小麥。無毒，治利而不中。</p>
<h3>豉</h3>
<p><u>《北堂書鈔》卷一百四十六</u></p>
<p>益人氣。</p>
<h3>小豆華</h3>
<p><u>《御覽》卷八百四十一</u></p>
<p>一名應累，一名付月。神農：甘，無毒。七月采，陰乾四十日。治頭痛，止渴。</p>
