<header data-type="book">
<h1>喉舌備要秘旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1863">公元1863年</data></dd></div>
</dl>
</header>
<h2>喉部</h2>
<h3>論喉症</h3>
<p>喉痹一症，在古方書雖有十八證之辨，古人悉指為相火。然此症雖多由火，而復有非火證，不可不詳察也。蓋火有真假，凡實火可清者，即真火證也。虛火不宜清者，即水虧證也。且復有陰盛格陽者，即真陰證也。故《內經》曰：太陽在泉，寒淫所勝，民病嗌病頷腫，其義即此，何後人之弗究也？一、喉痹所屬諸經，凡少陽、少陰、陽明、厥陰，皆有此症，具列於後。但其中虛實，各有不同，蓋少陽、厥陰為木火之臟，固多熱症。陽明為水穀之海，胃氣直透咽喉，故又言陽明之火為最盛。欲辨此者，但察其情志鬱怒而起者，多屬少陽、厥陰。因口腹過嗜肥甘辛熱而起者，多屬陽明。凡患此者，多宜以實火論治，至若少陰之疾，則非此之比，蓋少陰之脈始於橫骨，終於會厭，系於舌本。凡陰火遂沖於上，多為喉痹。但少陰之火有虛有實，不得類從火斷。若果因實火，自有火症火脈現出，亦易知也。若因酒色過度，以致真水虧損者，此腎中之虛火證也，非壯水不可。又有火虛於下，而格陽於上，此無根之火，即腎中之真寒證也，非溫補命門不可。凡此諸經不同，而虛實大異，皆後人所罕知，獨褚氏遺之，有上病察下之說，誠見道之言也。</p>
<p>一、喉痹症總治之火，則名目雖多，似有不必盡辨者。然亦有不可不辨者，即如單雙乳鵝及單雙纏喉症之有不同也。蓋腫於咽之兩旁者為雙鵝，腫於一邊者為單鵝，此其形必圓突如珠，乃癰癤之類，結於喉間，故多至出毒，或宜刺出血而愈者。若纏喉風，則滿喉紅腫，多不成膿，亦不必出血，但使火降，其腫自消。此其所以有異，而治之亦當有法也。</p>
<h3>喉症總論</h3>
<p>夫喉症者，人之一身總關之際也，內通五臟六腑，外傳五音五色，乃氣息出入之門，聲音傳送之所，飲食往來必經之路，此乃真真總關之際也。諺云：一指痛，滿身疾，何況乎咽喉。</p>
<p>蓋喉症所發原由，多因人之本性發來，或好食煎炒，或恣味辛酸，或淫欲無節，或喜怒不常，或勞神過度，或耽於色，或過飲酒，好勇斗狠，皆能致疾。既未能謹節於平日，又不能急治於患後，日積月累，其病根蒂深固，則牢不可拔矣。若夫好食酸，則傷肝。好食辣，則傷肺。好食甜，則傷脾。好食苦，則傷心。好食咸，則傷腎。好食冷，則內熱。好食熱，則內寒。此因飲食傷臟，而發喉症者也。夫喉症發於內，左屬肝，右屬肺，舌屬心，唇屬脾，齒屬腎。如肝病則聲悲，肺病則聲速，心病則聲雄，脾病則聲緩，腎病則聲沉，此屬於臟大腸病也。蓋大腸病則聲長，小腸病則聲短，胃病則聲連，膽病則聲清，膀胱病則聲微，三焦無病，乃寄之名，此屬於腑。五臟六腑發於喉，皆由內而發外者也。然發形於外者，有虛有實之分，有緊有緩之說，有陰有陽之症。有紅有腫之形，有有痰者，有無痰者，有熱者，有寒者，有紅黃青白黑點者，有氣急咳嗽者。有聲啞音嘶者。有痰響如雷者。有氣響似鋸者，有牙關緊急者，有氣出不收者，有鼻內出血不止者，有耳內出膿血者，有口舌生瘡者，有斑似胎癬而　若蝦皮者，有一二或數根肉筍長短生來而針刺不忍痛者，有滿喉並無紅黃白青黑點，而痛不能進膳食者，舌有硬亦有軟者，有內紅腫而外不紅腫者，有外腫而內不腫者，有口唇粗濃而齒腳肉包牙齒者，有舌下生舌而正舌卷入內向者，有鼻生　肉而喉內上面生肉核者，有滿口形似熟瘦豬肉而干焦者，有喉痛而鼻出紅黃血水者，有舌硬如石三兩載而失舌者，有面暗神慘欲言而不能言者，有舌下發子弟瘡而升提毒於喉中生白膜者，有發痰火積久燒咽喉，而鏡上生紅絲線並無白膜者，有左右扯開而失　中子者，有口眼　斜怒目直視者，有舌出齒外而不能收入者，有舌藏內關而不能伸出外節者，有右傳左者，其病重，有左傳右者，其病輕。有牙床發痛而久出膿血者。有齒角生瘡而至內穿者，有　中子長大而滿口鮮紅色者，有開口臭而呼吸氣臭者。有內外結核出膿血而不腥臭者，有朝發夕愈而腹肚作痛者，有舌粗硬寸余滿口不能通活者，有大便閉結，而小便澀數者，有遍身軟痛，手不能提，足不能步者，有久患瘰　積熱而伏於咽喉者，有內傷吐血陰火伏於喉中作痛者，有風熱驟傷而忽然食惡物以發者，有婦女經水不調下閉忽送上升而致喉內作痛者，有犯夢遺日久，水衰火動而致口內作痛者。有雙松　、單松　、雙燕子、單燕子、雙鵝喉、單鵝喉、雙纏、單纏、懸蜞、合架、壙（音HT　）　、瘰　、乘枕、乘癤、斗底、HT　、聯珠、破頭、掩頭、大頭、穿額、魚鱗、玉筍、蓮花、梅花、黑疔、搶食、木舌、重舌、　舌、回舌、舌癰、驢嘴、魚口、喉癰、喉疔、喉箭、喉痹、剪喉、牙癰、牙疔、牙疳、肥豬、鵝口、胎毒、鎖子等症。此上症雖多端，治法惟可升提驅風，發散解毒清涼，切不可攻下通利，及補托熱燥收斂之藥。經云：毒在咽喉猶有救，毒歸臟腑病難全。諸症皆從臟腑發，醫從臟腑治其源。內外經絡能兼治，不是仙來也是仙。</p>
<h3>辨喉症經絡治法</h3>
<p>夫咽喉者，乃人飲食呼吸之門，聲音吐納之路，此關一身，害人迅速，醫者不明，誤人更不可勝計。蓋口者脾之竅，口唇焦干為脾熱。焦而紅者吉，焦而黑者凶。若口唇紅腫，極熱也。口唇青白，極冷也。口爛舌乾，心熱也。口咽乾焦欲飲水者，陽明之熱也。口噤難言者，風熱閉竅也。口涎流而唇色紫者，胃氣虛也。肚痛口吐涎水者，蟲積也。如唇嘴反青黧黑，直如魚口，氣急不收，口唇顫動，搖頭不止，皆是不治之症。然口為脾竅，舌為心苗，口養精液，須通五氣。五氣者，五臟之氣也。然臟熱則口苦，臟寒則口咸，虛則口淡，冷則口甜，宿食則口酸，虛熱煩燥則口澀，腥臭之氣蘊結於胸臆之中，發沖於外，則口臭氣滯，加之風熱勞郁之毒，則口舌生瘡，法當清胃瀉火為主。假如喉內左邊先起，或紅或白，或黃或黑，或有膜無膜，有核無核，此皆屬肝經發來之毒風熱。當用甘桔東加柴胡、白芍為君。實熱加生地、丹皮、膽草為佐，痰涎壅盛加連翹、蒡子、花粉，有膜則用蟬蛻，有核用獨活、丹皮。初起有潮熱，則用防風、荊芥、薄荷，虛熱用元參為君。倘或右邊先起，其色或紅或黃，或白或黑，有膜無膜，或有核無核，皆是屬肺經發來之風熱毒，當用黃芩、桑白皮為君。</p>
<p>實熱則加生地、丹皮、羚羊。痰涎壅盛有膜，及有潮熱虛熱，用藥同上。如在　中上下舌根左右起者，其色或紅黃青白黑不等，此屬心經發來之風熱毒，當用川連、梔子。舌硬用羚羊、犀角。痰涎壅盛有膜有潮熱，用藥俱同上。左齒上大齒屬膽，加膽草。左下大齒屬肝，加柴胡、白芍。右上大齒屬大腸，加枳殼、杏仁。右下大齒屬肺，加黃芩、桑皮。當中上四齒屬心，加黃連、犀角。當中下四齒屬腎，加黃柏、知母。上兩旁屬胃，加川芎、白芷。下兩旁屬脾，加蒼朮、白朮。若其滿喉發來色黃者，此乃脾家發來濕毒，亦當燥脾驅風，除濕解毒。其有滿喉黑色者，此屬腎經發來之毒，其毒久積，元氣損傷，津液敗壞，精神傾散，勞神過度所致，是乃險症也。其有喉內二三肉筍，滿口乾渴失音舌脫等症，皆系毒瓦斯攻臟所致，此等症候，千人犯著千人死，靈丹百救無一生，不可不知之。</p>
<h3>喉科辨症</h3>
<h4>雙松症</h4>
<p>此症發於喉鏡內左右，俱有形如松　樣。先起三五白點黃點，後湊成一個，未開花者可治，已開花者切勿輕醫。治當平肝清肺，驅風解毒，宜用生地、六味，加防風、荊芥、薄荷、蟬蛻等藥，內吹以玉龍散。</p>
<h4>單松症</h4>
<p>此症喉鏡內起一片，或左或右，形如松　樣。初起三五黃點白點，後湊成一個，未開花者可治，已開花者難醫。左起治宜平肝，當用柴胡、白芍；右起治宜清肺，當用黃芩、桑皮。仍加入升提驅風發散解毒去膜之藥，內吹玉龍散。</p>
<h4>雙燕子症</h4>
<p>此症發在喉中之顎，左右俱有，滿口紅腫，形如燕子伏梁，頭向上，尾向下，其尾開有兩片，其膜色白黃紅，頭向出者可治，向入者難痊，若色黑者不治。治法用甘桔湯，加平肝清肺去膜解毒消風升提之藥，內則用玉龍散吹之。</p>
<h4>單燕子症</h4>
<p>此症發在喉內，或左或右，單起一片，形似燕子，仍有白膜黃膜起。治法左平肝，右清肺，余與雙燕子同。頭向出尾向入者易治，頭向入尾向出者難醫。急宜用升提等藥治之，緩則不救。</p>
<h4>雙鵝症</h4>
<p>此症生於　中，左右俱有一片，其形與　中三花相類，均結有核，甚痛，飲食皆不能下，是屬陽症。宜針刺患處出血，並刺夾車、少商兩穴，惟有尖起者可用針刺，不起尖者弗刺。治法宜用散血活血等藥，內則用玉龍散吹之。如有潮熱者，用甘桔東加去風藥治之。</p>
<h4>單鵝症</h4>
<p>此症與雙鵝相同，惟或左或右，單起一片，飲食不能下咽。治法左起平肝，右起清肺。</p>
<p>並宜用針刺出毒血，但患處起尖者可刺，不起尖者勿刺，余用藥同雙鵝。</p>
<h4>雙纏症</h4>
<p>此症發時喉內四圍紅腫，在　中左右，有白膜黃膜兩片，屈曲相纏，纏上者輕，纏下者重，若至日久，則難治矣。膜之邊弦上有紅絲絡者可治，若透底黑者定死。此是肝肺發來之陰毒，治法不可大清，宜用甘桔湯治之，內則吹以玉龍散。</p>
<h4>單纏症</h4>
<p>此症喉內四圍紅腫，或於　中左，或於　中右，單起一片，亦有白膜黃膜，屈曲相纏，纏上者輕，纏下者重，如脫後紅色者生，黑熟色者死，是為陰症，不可大清。治法宜用甘桔東加升麻、蟬蛻。惟左起宜加柴胡、白芍，右起宜加黃芩、桑皮。</p>
<h4>懸蜞症</h4>
<p>此症發在　中之前後左右，形如蝴蜞，（一書云：似魚膽。）懸懸浮起，其色帶黑，是乃心腎發來之毒。治當用清心解毒，升提涼血發散之藥，不可針刺，亦有用生地、六味，或八珍湯治之者。</p>
<h4>合架症</h4>
<p>此症多因大笑大喊所致。發在癤機左右，先起滿口腫痛，飲食不下，三五日後合成衣架樣子，其膜色黃白不等，此乃肝肺所發之毒，一二日內可治，久則難治。治法宜先在合車、合谷、少商穴刺出毒血少許，再以清肺平肝發散解毒去膜之藥治之，內吹以玉龍散。</p>
<h4>壙症</h4>
<p>此症發在　中內側壙（音HT　）邊，或左或右不定，然俱有白膜黃膜，若不細心看之不能見，須將面掇起開關側目視之，色黃白者易治，熟黑者難醫。發左則平肝，發右則清肺。治宜去膜升提驅風解毒之藥治之，內則以玉龍散吹之。</p>
<h4>瘰症</h4>
<p>此症系頸上處處有核，移毒於喉中左右內外，其症從經絡發來，屬火屬痰。治法當化痰降火驅風解毒之藥，外用沖和散敷之，如膜白似豬油，黑如墨染，皆是不治之症。</p>
<h4>乘枕症</h4>
<p>此症生於癤機前正對鼻孔，緩緩發來，形為橫枕，其色黃白，關閉涎盛痰多，針刺無血出，不痛者乃屬內傷肺竅。宜用甘桔東加減治之，如鼻孔有血出及鼻塞頭痛目暈，便是不治之症。</p>
<h4>乘顎症</h4>
<p>此症發於上顎，紅腫者多，起白膜黃膜者少，有核用針，無核不刺。驟發者易治，緩發者難愈。針刺痛有血者可治，刺而不痛無血者不治。此是心經發來即傷五內之症。治法用連翹消毒飲，加秦艽、防風、荊芥。</p>
<h4>斗底症</h4>
<p>此症發在喉鏡鍋內，（即　中內面。）初發時有寒熱，鏡中有三五七白黑點子，二三日白膜浮起，對中胸前有毒瓦斯二路橫過，或直下，是乃陰症。由心發來者，宜先用針刺其經絡，去其毒血，後治以升提解毒清心去膜消風之藥，切不可攻下通利，或用地黃散治之，內則吹以玉龍散。若痰不止，氣響聲嘶聲啞者，十不過救一二耳。</p>
<h4>HT症</h4>
<p>此症發於舌根下兩邊，形如鈴子，不摻開不見，摻開舌根，其形乃見，不可針刺，如誤刺破，即不可治。治法宜用甘桔湯，加平肝清肺消風解毒活血化痰之藥。</p>
<h4>聯珠症</h4>
<p>此症生於喉中或左或右，單起一片，有上下二個，中心有紅絲透上下兩珠，結成膿血，穿後必連作一個，仍有膿血，出之可愈，是屬陽症。治宜左屬平肝，右宜清肺，當用甘桔湯，加消風升提排膿解毒之藥。</p>
<h4>破頭症</h4>
<p>此症發在喉鏡內，核本一個，卻破兩片，其色黑熟，口臭痰響聲啞，是乃不治之症。</p>
<h4>掩頭症</h4>
<p>此症發在喉中癤機上左右，先結核，結核後高尖處有白膜黃膜掩頭，不可針刺，此是肝肺發來之風熱毒。治當清肺去膜之藥。宜用甘桔東加羌活、防風，服之最效。</p>
<h4>大頭症</h4>
<p>此症因天時瘟疫瘴氣所發，必大寒大熱，口噤面黑，四肢軟弱，手不能提，足不能舉，頭大如斗，氣大而緊急，是乃三五日死之症，切勿輕易醫治。</p>
<h4>穿額症</h4>
<p>此症生於　中前內向裡面，有二三五黑點，大似烏豆樣。此是腎經傳來，不治之症，切勿妄治。</p>
<h4>魚鱗症</h4>
<p>此症生於喉掩間，形如松實樣。若魚鱗向下，聲啞色黑者不治。</p>
<h4>玉筍症</h4>
<p>此症發在牙關牙床肉上，形如三五肉筍，徐徐發來，針刺不痛。此是臟腑內傷，系不治之症。</p>
<h4>蓮花症</h4>
<p>此症起在舌上，生五七枝不定，或具紅黃白等色，形如蓮花相似，不可針刺。凡患是症，潮熱必甚。治用犀角地黃湯，加梔子、連翹、蒡子、花粉。</p>
<h4>梅花症</h4>
<p>此症發來滿喉俱有，紅黃白點形似梅花，痰涎壅甚，舌硬面紅，潮熱作渴，是乃大熱之症。治當清涼消風解毒去膜之藥，內用玉龍散吹之。</p>
<h4>黑疔症</h4>
<p>此症發在喉中左右，舌俱黑色，此乃腎經傳來，不治之症。患是症者，必大寒大熱，蓋傷色過度，腎絕故也。</p>
<h4>搶食症</h4>
<p>此症或發在喉中，或發在舌上，俱生紅　，患者必面色紫黑，驟傷風熱，喉內氣閉，不能吞物。治宜先用針刺出血，後以生地黃東加解毒湯之藥治之。是乃誤食惡物之症，久則難治也。</p>
<h4>木舌症</h4>
<p>此症由心經大熱發來，其舌紅腫強硬，粗至寸余，不能言語飲食，痰涎壅甚。宜用黃連消毒散，加去風化痰除涎之藥治之，如舌出齒外者不治。</p>
<h4>重舌症</h4>
<p>此症發在舌底下重生一舌，本舌強硬，生來之舌亦硬，如生得過長大者，本舌卷入，便飲食不能進，此是心經發來熱毒。治宜用黃連消毒散，酌加解毒涼血之藥治之。</p>
<h4>舌症</h4>
<p>此症生於舌之上下，緩緩發來，其舌粗硬如石，結核成膿者可治。如不結核，口舌日見短小，至二三年後，舌忽失去，則雖有靈丹，不能治矣！此是內傷心經之症，如所爛之點黑色者亦不治。</p>
<h4>回舌症</h4>
<p>此症發在舌上，腫大強硬，其舌尾卷入，不能言語，飲食亦不下咽，此是心經發來之毒。治法用犀角地黃湯，加清心去痰解毒之藥服之。</p>
<h4>舌癰症</h4>
<p>此症發在舌根舌底，結核甚痛，是乃陽症，定要出膿後七日方愈，此由心經發來之症。</p>
<p>治宜清心升提解毒清涼之藥。</p>
<h4>驢嘴症</h4>
<p>此症發在上口唇，對住人中，先紅後黑，滿身潮熱，其症發之甚速，此乃脾經發來之風熱毒。當用甘桔東加白芍，並驅風解毒瀉脾之藥治之。外以烏騮魚牙　黑存性為末加冰片、青黛，蜜糖調塗之愈，或用茶油調搽亦可。</p>
<h4>魚口症</h4>
<p>此症發在口唇，形如魚口，氣出不臭，痰涎不收，是乃脾經發來熱毒。上唇屬脾，下唇屬胃。治宜石膏、白芍為主，佐以清脾瀉胃之藥，外用冰硼散塗之即愈。</p>
<h4>喉癰症</h4>
<p>此症發在喉內，或左或右，單起一片，耳底痛甚，七日成膿，是乃陽症。治宜左平肝，右清肺，加以升提之藥治之。</p>
<h4>喉疔症</h4>
<p>此症發於半頸喉內之中，結核成膿，不能針刺，聽其膿自出，但患是症者，潮熱必甚。</p>
<p>治宜用甘桔東加升提去風之藥。</p>
<h4>喉箭症</h4>
<p>此症發在　中左右，有白路黃路，頭大尾細，直落喉下，是乃險症，最要謹慎。治法宜用甘桔東加升提之藥，如毒以下肚，氣響聲嘶者不治。</p>
<h4>喉痹症</h4>
<p>此症生於喉中內隔，發之甚速，氣急而促，飲食莫下，茶入口中，由鼻內出。治宜升提消風解毒之藥治之。</p>
<h4>剪喉症</h4>
<p>此症發在喉管內，左右有核，飲食莫進。如面暗神慘頸腫，氣響無痰，目不轉眼者，不治。</p>
<h4>肥豬症</h4>
<p>此症發於兩牙關，外面腫大，內面腫，色淡紅，不結核。治法內用玉龍散擦，外用鍛石調醋敷之即效，或用虎骨磨醋塗之亦愈。</p>
<h4>鵝口症</h4>
<p>此系胎內受毒發來之症，小兒二三五歲之內常有患者，是症發在口角口唇，舌尾舌底下，舌面上俱有白黃點，兩牙關亦有點子，高處起核。可用針刺核出血後，隨以銀花、甘草泡水洗之，或用五倍子煎洗亦可。又方以前藥加硼砂、明礬共研細末常擦之愈。此症雖一二月猶可治。</p>
<h4>胎毒症</h4>
<p>此症三五月及月內小兒，皆有發者。其症發來滿口白膜，涎盛不收，乍寒乍熱，面色如黃紙，滿身起紅黃爛點，如肌膚脫落則不治。是乃胎毒，皆緣胎前不知謹節所致，或未滿百日而服酸鹹之味，並迭欲無狀，喜怒不常，皆能令子受患是症。壯者宜解毒瀉胃火，內以冰硼散吹之，並用五倍子煎水京青布蘸洗口內。</p>
<h4>鎖子症</h4>
<p>此症小兒百日內，以及二三歲皆有發者。發時滿口白膜黃膜，涎盛面黃，牙肉有白點。</p>
<p>要針刺放出黃水，黃水出散其毒，方治以甘桔湯等藥，並用冰硼散吹之。如舌尾下對中縫有白點黃點驟起，而身壯者易治。若久發起有黑紅，並脫肌膚，潮熱不退，氣響聲啞者不治。</p>
<h4>論症治法</h4>
<p>以上四十六症，須細心辨認，當清則清，當補則補，當提則提，當瀉則瀉，有風去風，有潮熱去潮熱，有涎除涎，有痰化痰，有膜去膜，關閉關開。其有白膜黃膜，紅爛點子，而氣不響，聲不啞，音不嘶，語不亂，喉不干，肚不痛，口不噤，言不狂，眼不紅，氣不躁，目不直視，神不暗慘，大小便順利，口臭無血，胸不緊，色不熟黑，針刺有血者，人雖傾危，毒未攻臟，藥尚能解。以上壞症，如患者兼有一二樣，切勿妄治。若主家再三哀懇，卻情不過，亦須言明此是不治之症，今順情下藥，功過皆在所弗受，方可免怨也。</p>
<h4>辨陽喉症訣</h4>
<p>夫陽喉者，陽氣發顯於外也。其色紅，其氣滾熱，其舌強硬，其胸緊氣急，大便堅硬，小便澀數，其面必紅，其內外紅腫之處必大熱，其口氣必滾熱而臭，其眼內必紅，其喉鏡內必起紅絲線經絡，其口唇必紅而粗濃，其陽分發熱潮熱必甚，其痰涎壅甚，其言語雄壯，其聲怒，則其症實乃陽喉也。可用清心平肝瀉脾寒涼之藥治之。</p>
<h4>辨陰喉症訣</h4>
<p>夫陰喉者，陰氣伏藏於內也。其色青白黃，其氣溫涼，其舌軟必卷縮，其胸寬，其大小便自通利，其面色青黃，其內外腫處青，亦復溫涼本色，其眼黃，其喉鏡內色淡，其舌色白黃，其陰分潮熱，或微寒微熱，其痰涎少，其聲溫和，其症則虛，是乃陰喉也。不可太用寒涼之藥，宜重用元參瀉虛火為主。</p>
<h4>看喉中辨臟色訣</h4>
<p>五臟者，心肝脾肺腎也，各載五形，各形五色。五形者，金、木、水、火、土也。五色者，紅、青、黃、白、黑、也。相生者其病輕，相克者其病重。假如其色紅，則屬心；其色青，則屬肝；其色黃，則屬脾；其色白，則屬肺；其色黑，則屬腎；此乃五臟中形見於五色也。</p>
<p>開其口一觀喉中形色，即知其由何臟中發來，相生者易治，相克者難醫。此是傳授真口訣，切勿視為等閑語。</p>
<h4>辨毒攻臟訣</h4>
<p>毒攻心必狂言亂語，毒攻肝其眼怒直視，毒攻肺其聲嘶而咳嗽氣響，毒攻腎其聲沉緩而啞，毒攻脾頸上浮腫必結核，此乃余毒發來，外用沖和散敷之則散，不散則熟，用針刺出膿血即愈。以上系毒攻臟腑之症。諺云：毒攻臟腑為死症，古人不治，命由天。</p>
<h4>認死症歌訣</h4>
<p>凡喉症無痰者不治。痰響如雷者危。氣聲如拖鋸者死。聲啞者不治。色如腥熟者死。面黑神慘者死。口噤者危。齒腳肉包過牙者死。怒目直視者死。肚痛者死。鼻內出血不止者死。大便泄出黑色者死。潮熱不退者危。口動言語亂者死。喉內生肉筍針刺不痛者死。膿血不腥不臭者死。氣出無收者死。手不能提足不能步者死。滿喉盡膜者不治。氣臭者死。　中子白膜遮盡者死。牙齒脫者不治。失舌者死。痰火升喉痛者不治。瘰　火升喉痛者不治。以上皆死症，百中可救一二而已。</p>
<h4>治咽喉辨論</h4>
<p>夫咽喉之症，皆由五臟六腑發來。臟腑生病，其形色見於咽喉，　中以內者謂之咽，中以外者謂之喉，咽喉形色各有陰陽，虛實之毒，卒然發起，牙關緊急，痰涎壅盛，氣出不收，朝發夕死，是乃急症。醫者不明，往往謂此為痰熱，孰不知有陰陽虛實之分。外症為陽，內症為陰，虛則溫之，實則瀉之，有熱去熱，有風去風，有毒解毒，有膜去膜，有痰化痰，有涎去涎，關閉用開關藥，至內面紅黃白爛點，可用藥散吹之，外面紅腫結核，則用藥散敷，結核成膿用針刺，審症用藥勿慌忙。此真口訣也。</p>
<h4>論喉症治法</h4>
<p>─火症喉痹，悉宜以抽薪飲主之。</p>
<p>─火不勝者，宜徙薪飲主之。</p>
<p>─凡膽肝之火盛者，宜以芍藥、梔子、草龍膽為主。</p>
<p>─陽明胃火盛者，宜以生石膏為主。大便閉結不通，宜加大黃、芒硝之屬通其便，而火自降。</p>
<p>─凡火浮於上，而熱結於頭面咽喉者，最宜清降，切不可誤用升陽散風等劑，蓋此火由中發來，得升愈熾。經曰：高者抑之，正此之謂也，非火鬱宜發及升陽散火之義，學人於此最要體察，勿謂誤認其面目為囑。</p>
<p>─凡外治火症腫痛之法，宜以木鱉子磨醋，用鵝毛蘸擦喉中，引去其痰。或另少和清水，免致太酸，時時呷嗽喉中，不可咽下，引吐其痰為更喜。嗽後以代匙散吹之，仍內服湯藥，自無不愈。</p>
<p>─凡火壅於上，而食物之治，最宜梨漿、綠豆湯之屬為妙。若南方少梨之處，或以好蘿卜搗汁，和以泉水，少加元明粉攪勻，徐徐飲之，既可消痰，亦可清火。</p>
<p>─凡單雙乳鵝，若毒未甚，膿未成者，治之自可消散。若勢甚而危，必須砭出其血，庶可速退，此因其急，亦不得已而用之也。又古法治喉痹，用三針刺少商穴，血出即愈。</p>
<p>─陰虛喉痹。其症亦內熱口渴喉干，或唇紅頰赤，痰涎壅盛，然必六脈無神，或六脈雖數，浮軟無力，但察其過於酒色，或素稟陰氣不足，多倦少力者，是皆腎陰虧損，水不制火而然。火甚者滋陰八味煎，加減一陰煎之類主之。火微而不喜冷物及大便不硬，小便不熱者，宜六味地黃湯、一陰煎之類主之。若思慮焦勞兼動心火者，宜用二陰煎主之。</p>
<p>─格陽喉痹。由火不歸元，則無根之火寓於咽喉而然，其症在上熱下寒，全非火症。凡辨此者，但診其六脈微弱，全無滑大之意，則下體全無火症，而腹不喜冷，即是症也。蓋此症必因色欲傷精所致。或泄瀉傷腎，或本無實火，而過服寒涼以傷陽氣者，皆能患此症。速宜用鎮陰煎治之為上，八味地黃湯次之，或用蜜附子含咽亦可。若再用寒涼之劑，多致不救。</p>
<p>─陽虛喉痹。非喉痹因於陽虛也，乃陽虛因於喉痹也。蓋有因喉痹過於用攻擊之劑，致傷胃氣者。有飲食難下，倉庫空虛而傷胃氣者。又有氣體素弱，不耐勞倦，而傷胃氣者。大凡中氣內虛，疼痛外逼，多致元陽飛越。脈浮而散，或弱而澀，以致聲如鼾睡，痰如拽鋸者，此胃肺垂絕之候，速宜挽回元氣，以人參一味濃煎，放心徐徐咽下。如痰多者，或加竹瀝、薑汁亦可。如遲多致不救，若作實火治之，則禍不旋踵矣。</p>
<p>─格陽喉痹。但見其頭面浮火，喉頭粗極，氣急聲啞，咽腫口瘡，痛楚之甚。察其脈，細甚而數。問其言，則聲微似不能振者。詢其所服之藥，無非黃連、梔、柏之屬。此蓋以傷陽而起，復為寒涼所逼，以致寒盛於下，而格陽於上，即茶水之類，亦俱難入口，而尤畏煩熱。</p>
<p>余曰：危哉！再遲日子，必不能救矣。遂以鎮陰煎泡好，以冷水座冷，徐徐使咽之，甫服一劑，須早而頭頂腫痛盡消，遂繼用五福飲之類，數劑而愈。疑者始皆駭服矣。</p>
<p>─喉痹痛。大概痰火所致。急者宜吐痰後復下之，上下分消而愈。又甚者，以針刺去血，然後用藥吐之，此為治之上策。若人畏懼，而委曲旁求，瞬息喪命。蓋治喉痹之法與救火同，不容少待。《內經》曰：發之，發之者，發散也。吐中有發散之義。出血者，亦發散之端也。治斯痰者，毋執緩方小方而治之。如曰吾藥乃王道不動臟腑，若遇疾之輕者可獲愈，疾之重者，因循死矣。豈非誤殺耶！─喉癬症。凡陰虛勞損之人，多有此病。其症滿喉生瘡，紅腫疼痛，久不能愈，此實水虧虛火症也，宜用前陰虛喉痹之法治之。若多咳嗽肺熱，宜以四陰煎之類治之。若滿喉生瘡破爛而痛者，宜用牛黃益金散吹敷之，仍內服滋補真陰之劑，自可痊愈。</p>
<p>─瘟毒喉痹。乃天行瘟疫之氣。其症則咽喉項腫，甚有頭面頸項俱腫者，北方尤多此病，俗呼為蟆瘟，又名鸕　瘟，亦名大頭瘟。此濕熱壅盛最凶之候，宜清諸經之火，或瀉陽明之熱，當察緩急而治之。東垣有普濟消毒飲，專治瘟毒喉痹，百發百中。</p>
<p>─伏氣之症。古方謂之腎傷寒。謂非時有暴寒中人，毒瓦斯伏於少陰腎經，始初不病，旬月乃發，脈微弱，法當以傷寒治之。非喉痹之病也，次非下利不可，按此症亦所常有，是必以少陰少陽之火，令太陽之寒，令太陰之濕，復兼令風寒之邪者，皆有此症。故治此者，不必治喉痹，但治外邪，其喉自愈。即如新方之柴胡飲及散陣諸方，皆可隨宜酌用。</p>
<p>─楊梅結毒。有喉間潰爛作痛久不愈者，此非喉痹之屬，乃楊梅瘡毒也。宜用仙遺糧湯，甚者宜以土茯苓煎湯，吞五寶丹治之。</p>
<p>─虛損喉痹。未易辨也。若一人因患虛損，更兼喉癬腫痛，多醫罔效。余診其脈，則數而無力，察其症則大便溏泄，問其治則皆退熱清火之劑，然愈清火而咽愈痛。余察之，既確知其本非實火，而且日前多用寒涼，以致肚痛不實，總亦格陽之類也。遂專用理陰煎及大補元氣煎治之而愈。</p>
<p>─鎖喉風症。時人以咽喉腫痛，飲食難入，或痰氣壅塞不通，甚奇甚急者，皆稱為鎖喉風。</p>
<p>而不知有真正鎖喉風，其甚奇甚急之處，而實人所未知也。余在襄陽嘗見一女子，年已及笄，忽一日在於仲秋時，無病而喉竅澀愈甚。及延余診視，按其脈，無火也。問其喉，無腫無痛也。觀其貌，則面青目瞠不能語也。聽其聲，則喉竅若細如針，抽息之窘如線，伸頭掙命求救之狀，甚可憐也。予見而疑之，不得其解。然意謂風邪閉窒喉竅，非用辛溫不能解散，遂用二陳東加生薑煎而與之服，毫忽無效。意復用獨參湯以救其肺，然見勢危若此。恐滋怨謗，終亦未敢下手。他醫見之，亦但束手而已。如此者一日夜而歿。後又一人，亦患此症而歿。若此二人者，余及今莫識其所以病，此畢生之疑竇，殊自愧也。然意必肺氣竭絕之故，倘值此者，恐非獨參湯決不能救。故特書此，以俟後之君子詳酌焉。</p>
<p>─諸物鯁於喉中，或刺或骨，必有鋒芒之逆，所以刺礙而不下。凡下而逆者，後而上之則順矣。故治此者，當借飲食之勢，涌而吐之，使之上出，則如拔刺之捷也。若芒刺既深，必難推下，非惟理勢不順，必致遲延，或飲食既消，無可推還，以致漸腫，則為害非細矣。凡諸骨鯁或以飴糖一大塊，滿口吞而咽之，或用韭菜炙熟，不可切斷，作一小束吞之，芒刺即裹而下，亦妙。</p>
<p>─小兒口中誤吞鐵釘痛甚，余以磁石（七錢）、朴硝（二錢）、熟豬油（二兩），加蜜糖調和藥末與之食，次日其鐵隨糞出，是誠可謂良方矣。</p>
<h4>論分經治喉症藥性</h4>
<p>─瀉心火用黃連；瀉肺火用黃芩；脾火須用芍藥；胃火定宜石膏；柴胡瀉平肝火；知母瀉平腎火；木通瀉平小腸之火；黃柏瀉膀胱火；大黃瀉大腸火；屈抑之火，生梔為君；浮游之火，元參為妙。</p>
<p>─上焦有熱，黃芩、赤芍；中焦有熱，黃連、梔子；下焦有熱，黃柏、知母。</p>
<p>─上焦有寒，麻黃、桂枝；中焦有寒，肉桂、乾薑；下焦有寒，附子、沉香。</p>
<p>─梔子、黃連、麥冬、犀角，俱清心。黃芩、桑皮、羚羊，俱清肺。柴胡、白芍、膽草、青黛，俱平肝。知母、黃柏，瀉腎火。白芍、石膏、黑梔、甘草，俱瀉脾火。連翹、牛蒡能解毒。黃芩、花粉能解痰涎。防風、荊芥、薄荷、秦艽、羌活，俱祛風除濕，退潮熱，化痰。</p>
<p>口苦用膽草，口渴葛根。提毒用升麻。去膜用蟬蛻。涼血須生地。血中伏火丹皮、澤瀉。去口臭人中黃。痰盛牛黃。開關僵蠶、全蠍。載藥上浮，能達氣而下行者惟桔梗。止熱嗽，黃芩、桑皮。止風咳，麻黃、杏仁。止痰嗽，貝母、連翹。止虛咳，阿膠、白醋。能解咽喉諸毒，射干、豆根。能和諸藥，解百毒甘草。排膿白芷、南星。發散荊皮、獨活。打穿出膿則穿山甲。</p>
<h4>治喉用藥變化歌訣</h4>
<p>治喉甘桔是神方，細心體察辨陰陽。柴胡、芍藥平肝木，不論心肺也備嘗。黃芩同用桑皮是，加用花粉效非常。防風、荊芥能逐風，去膜蟬蛻用之良。喬蒡解毒痰俱化，驅風提毒升麻當。生地等件須無膜，豆根少許最為良。連、梔、犀角有時用，實熱無膜可主張。六味品中除棗肉，審症用藥莫慌忙。連、射、丹、梔雖難缺，孕婦遇之要謹防。此歌訣須讀至爛熟為要。</p>
<p><u>抽薪飲</u></p>
<p>治諸火熾盛而不宜補者。</p>
<p>黃芩　石斛　木通　梔子（炒）　黃柏（各三錢）　枳殼（一錢半）　生甘（二錢）</p>
<p>熱在肌膚經絡，加連翹、花粉。熱在血分大小腸，加槐花、黃連。熱在陽明，頭面燥煩便實者，加石膏。熱在下焦，小水痛澀，加草龍膽、車前。熱在陰分，津液不足，加麥門冬、生地、芍藥。</p>
<p><u>徙薪飲</u></p>
<p>治三焦火症。大凡一切內熱漸覺而未甚者，先以此劑服之。如火甚者，宜用抽薪飲。</p>
<p>陳皮（分）　黃芩（二錢）　白芍　茯苓　丹皮　黃柏（各錢半）</p>
<p><u>滋陰八味湯</u></p>
<p>治陰虛火盛，下焦濕熱等症。</p>
<p>淮山藥（四錢）　丹皮（三錢）　白雲苓（三錢）　茱萸（四錢）　澤瀉（三錢）　黃柏（鹽水炒，三錢）　熟地（八錢）　知母（鹽水炒，三錢）</p>
<p><u>一陰煎</u></p>
<p>治水虧火盛之劑。</p>
<p>生地（二錢）　熟地（二錢）　芍藥（二錢）　麥冬（二錢）　牛膝（錢半）　丹參（二錢）　甘草（二錢）</p>
<p>火盛躁煩，加龜板。氣虛，加人參。心虛不眠多汗，加棗仁、當歸。汗多煩躁，加五味子、茱萸。微有火者，加女貞子。虛火上浮，吐血衄血不止者，加澤瀉、茜根，或加川續斷澀之亦可。</p>
<p><u>加減一陰煎</u></p>
<p>治症如前，但火盛者，宜用此方。</p>
<p>生地　白芍　麥冬（各二錢）　熟地（三錢）　地骨皮（一錢）　炙草（五七分）　知母（一錢）</p>
<p>煩躁便結加石膏。小水熱澀加梔子。火浮於上加黃芩、澤瀉。血燥血少加當歸。</p>
<p><u>二陰煎</u></p>
<p>治心經有熱，水不制火之病。</p>
<p>生地（二錢）　麥冬（二錢）　棗仁（一錢）　元參（錢半）　川連（三錢）　茯苓（錢半）　木通（錢半）　生甘（一錢）</p>
<p><u>鎖陰煎</u></p>
<p>治陰虛於下，格陽於上，真陽失守之病。</p>
<p>熟地（二兩）　牛膝（二錢）　澤瀉（錢半）　清花桂（二錢）　附子（五七分或一二三錢）　炙草（一錢）</p>
<p>如嘔惡，加乾薑一二錢。氣脫倦言而脈微弱者，加人參。</p>
<p><u>四陰煎</u></p>
<p>治保肺清肝，有陰虛勞損，相火熾盛等症。</p>
<p>生地（一二錢）　麥冬（二錢）　白芍（二錢）　茯苓（錢半）　百合（二錢）　生甘（一錢）　沙參（二錢）</p>
<p><u>理陰煎</u></p>
<p>熟地（三五七錢或一二兩）　當歸（二三錢或五七錢）　乾薑（一二錢）　炙甘（一二錢）　或加用上好肉桂亦可。</p>
<p><u>大補元煎</u></p>
<p>黨參（一二錢）　熟地（二三錢）　淮山（炒二錢）　杜仲（二錢）　當歸（二三錢）　枸杞（二三錢）　炙甘（一二錢）　茱萸（一錢）</p>
<p>如元陽不足多寒者，將本方加以附子、炮薑片、肉桂。氣虛，加黃　、白朮。血滯，去茱萸、加川芎。滑泄，加故紙、五味子。</p>
<p><u>普濟消毒散</u></p>
<p>治疫厲惡寒壯熱，頭面腫盛，目不能開，氣上喘促，咽喉不利，口舌乾燥等症。東垣曾以此方治大頭病，獲愈者以萬計。</p>
<p>黃芩（五錢）　黃連（五錢）　人參（三錢）　橘紅（二錢）　元參（二錢）　桔梗（二錢）　柴胡（二炒）　升麻（一錢）　生甘（二錢）</p>
<p>以上各藥共為細末，半用白湯時時調服，半用蜜丸噙化，服盡即愈。或加防風、川芎、、薄荷、細辛，水二盅，煎一盅服，可令熱速消。或熱極腫甚，先用刺出其血亦效。一方無人參。</p>
<p><u>十二味玄翹飲</u></p>
<p>治白喉初起絕妙方。</p>
<p>元參（三錢）　連翹（錢半）　山豆根（錢半）　銀花（錢半）　桔梗（錢半）　銀柴胡（一錢）</p>
<p>牛蒡（錢半）　蟬蛻（一錢，去頭足）　升麻（一錢）　花粉（錢半）　馬蹄香（即沉香，錢半）　生甘（一錢）</p>
<p>煎水服。</p>
<p><u>治喉內無論兩傍上下</u></p>
<p>生有白膜是乃白喉。玉　中如有白膜即難治矣，務要急宜調治，使毒不得攻於五內，或有回生之望。初用：沙參（三錢）　麥冬（錢半，去心）　赤芍（錢半）　連翹（錢半）　牛蒡子（錢半）　銀花（錢半）</p>
<p>知母（錢半）　馬蹄香（即沉香，二錢）　花粉（錢半）</p>
<p>煎水服。</p>
<p><u>治白喉潮熱漸除白膜漸減方</u></p>
<p>元參（三錢半）　麥冬（錢半，去心）　白芍（錢半）　釵斛（錢半）　銀柴胡（一錢）　女貞子（三一錢）　山豆根（錢半）　馬蹄香（二錢）</p>
<p><u>治白喉白翳將見紅影方</u></p>
<p>洋參（二錢）　元參（三錢半）　白芍（錢半）　連翹（錢半）　牛蒡子（錢半）　銀花（錢半）</p>
<p>桔梗（錢半）　女貞（二錢半）　金釵斛（銀半）　北沙參（三錢）　馬蹄香（即沉香，二錢）</p>
<p>如有咳嗽，加桑白皮錢半、杏仁去皮尖錢半。</p>
<p><u>治白喉元氣虧損將全愈方</u></p>
<p>洋參（三錢）　麥冬（錢半）　白芍（錢半）　女貞子（二錢半）　白茯神（二錢）　淮山（二錢）</p>
<p>北沙參（三錢）　元參（三錢半）　桔梗（錢半）</p>
<p><u>治虛喉妙方</u></p>
<p>熟地（三兩）　洋參（兩半）　麥冬（去心，八錢）　元參（兩半）　白芍（八錢）　女貞子（兩半）　釵石斛（八錢）　茯神（六錢）　菟絲餅（一兩）　淮牛七（七錢）</p>
<p>如腎陰虧極者，加枸杞一兩、北五味三錢半。脾陰不足者，加淮山藥一兩。以上各藥共為細末，煉蜜為丸如梧子大，每服四五錢，白滾湯下。</p>
<p>治陰虛於下，火浮於上，腹不受冷物，頭暈腰痛，手足俱冷等症。</p>
<p>熟地（六錢）　淮山（二錢）　茯神（一錢）　麥冬（二錢）　淮牛七（二錢）　北五味（五分）</p>
<p>清花玉桂（去皮，六分，另燉水沖服）　白芍（二錢）　高麗參（二錢，另燉水沖服）</p>
<p><u>又方</u></p>
<p>治腎陰虧損，火不歸元，氣浮越於上方。</p>
<p>熟地（六錢）　潛術（二錢）　麥冬（二錢半）　牛七（二錢）　北五味（五分）　附子（六分）</p>
<p>高麗參（二錢，另燉水沖服）</p>
<p><u>治陰火方</u></p>
<p>桔梗（三錢）　元參（三錢）　梔子仁（一錢）　連翹（錢半）　牛蒡子（錢半）　生甘（一錢）</p>
<p>山豆根（一錢）　花粉（錢半）</p>
<p>初服一二劑，用防風一錢、荊芥一錢、薄荷五分。若左起，加柴胡一錢、白芍錢半。右加黃芩錢半、桑皮錢半。有膜加蟬蛻五分，口內色紅甚，加生地二錢、丹皮錢半，口唇紅焦，加石膏一錢。</p>
<p><u>治陰火驗方</u></p>
<p>生地（三錢半）　元參（三錢）　麥冬（錢半）　知母（錢半）　澤瀉（一錢）　女貞子（二錢）</p>
<p>白芍（錢半）　連翹（錢半）　銀柴胡（一錢）　北沙參（五錢）　熟地（五錢）</p>
<p>一二服後，即除銀柴胡、北沙參。如有咳嗽，加桑白皮三錢、杏仁二錢去皮尖、丹皮一錢半。</p>
<p><u>滋陰降火湯</u></p>
<p>如無潮熱，方可用此方。</p>
<p>熟地（五分）　元參（三錢半）　麥冬（錢半）　生芍藥（錢半）　丹皮（錢半）　澤瀉（一錢）</p>
<p>北沙參（三錢）　女貞（三錢）　金釵石斛（錢半）　天冬（錢半）</p>
<p>治喉內有腫，兼有時寒時熱不齊之症。</p>
<p>生地（四錢）　連翹（二錢）　牛蒡子（錢半）　銀花（錢半）　丹皮（錢半）　葛根（二錢）　沙參赤芍（錢半）　生甘草（一錢）</p>
<p><u>治實熱症方</u></p>
<p>牛蒡子（錢半）　花粉（二錢）　犀角（一錢）　丹皮（錢半）　麥冬（錢半）　黃連（錢半）　生地（三錢）　連翹（錢半）　澤瀉（一錢）　生梔仁（錢半）　射干（一錢）　山豆根（一錢）　桔梗（二錢）生甘（一錢）</p>
<p>左加柴胡，右加黃芩、桑皮。有潮熱加防風、荊芥、薄荷，熱退即除。初用提毒升麻一二劑，後即除。有膜加蟬蛻，膜退即除。開關僵蠶、全蠍，關開即除。至解毒藥，多服不妨。大凡喉症服清涼解毒藥，諸多轉手，用生熟六味，除萸肉，加解毒藥不忌。凡看喉症，不可除痰，只可解毒，不可攻下，只可升提，不可補托，熟煉收斂之藥，初用發散不散，則當排膿，其治大略，不過如此矣。</p>
<p><u>凡患單鵝雙鵝，必有潮熱，當用此退熱涼血，消腫解毒方。</u></p>
<p>生地（三錢）　赤芍（錢半）　連翹（錢半）　牛蒡（錢半）　銀花（錢半）　山豆根（錢半）　花粉（錢半）　丹皮（錢半）　北沙參（二錢半）　柴胡（一錢）　葛根（錢半）　桔梗（錢半）　馬蹄香（即沉香，二錢）　生甘（錢）</p>
<p>熱極者，加黃芩錢半。風甚者，加防風一錢二分、白芷一錢二分，或加薄荷七分。</p>
<p><u>治楊梅瘡沖喉方</u></p>
<p>生地（一錢半）　元參（三錢）　麥冬（錢半）　白芍（錢半）　知母（錢半）　鹽柏（錢半）　連翹（錢半）　牛蒡子（錢半）　銀花（錢半）　土茯苓（三錢）　丹皮（錢半）　澤瀉（錢半）　女貞子（三錢）　山豆根（錢半）</p>
<p>如有白膜，加蟬蛻七分。有潮熱，加北沙參二錢半、柴胡一錢。</p>
<p><u>治楊梅瘡沖喉藥丸方</u></p>
<p>生地（二兩）　熟地（三兩）　元參（二兩）　麥冬（去心，一兩）　白芍（八錢）　知母（一兩）</p>
<p>釵斛（一兩）　土茯苓（二兩）　連翹（一兩）　牛蒡子（一兩）　銀花（一兩）　丹皮（八錢）　澤瀉（八錢）　女貞子（一兩半）　沙參（二兩）　山豆根（六錢）　生甘（六錢）</p>
<p>以上諸藥，純用日晒乾，共研極細，煉蜜為丸，每早晚空心服四五錢，淡開水下。</p>
<p><u>治楊梅瘡較前症尤重方</u></p>
<p>生地（三錢）　元參（三錢）　麥冬（錢半）　白芍（一錢二分）　梔子（錢半）　丹皮（錢半）</p>
<p>澤瀉（一錢二分）　連翹（錢半）　牛蒡子（錢半）　北沙參（二錢）　銀柴胡（一錢）　女貞子（三錢）</p>
<p>馬蹄香（即沉香，二錢）　知母（錢半）</p>
<p>如無潮熱，即除去北沙參、銀柴胡，加大熟地五錢、洋參錢半。若不用洋參，加北沙參三錢亦可。</p>
<p><u>治小兒陰虛喉有潮熱兼有些牙血出方</u></p>
<p>生地（一錢七分）　元參（錢半）　麥冬（七分半）　白芍藥（七分半）　女貞子（錢半，鹽水蒸）　連翹（七分半）　沙參（錢半）　骨碎補（七分半）　銀柴胡（七分半）　丹皮（七分半）　澤瀉（五分）　馬蹄香（一錢）</p>
<p>如用洋參一錢，即除北沙參。</p>
<p><u>治三十六種喉散奇方</u></p>
<p>山豆根（錢半）　粉甘草（錢半）　川連（錢半）　薄荷（錢半）　寒水石（二錢，飛）　兒茶（錢半）</p>
<p>人中白（二錢）　白僵蠶（二錢半）　白蓮花（三錢）　白硼砂（二錢，飛）　青黛（二錢，飛）</p>
<p>大梅片（錢片）　川麝香（二分）　珍珠（一錢，飛）</p>
<p>共研極細，末如塵，罐貯勿泄氣，聽用。</p>
<p><u>治喉症奇驗方</u></p>
<p>老絲瓜仁不拘多少，晒乾研作如塵細末，每一兩加大梅片七分，研細末，乳和勻，罐收勿泄氣。如有喉症，以分許吹之，至多三次即愈。</p>
<p><u>治陽喉散方</u></p>
<p>白硼砂（三錢）　朱砂（二錢，飛）　雄黃精（一錢，飛）　川連（二錢半）　黃柏（二錢）　粉甘草（錢半）　薄荷（二錢半）　兒茶（錢半）　飛青黛（四錢，另包）　枯礬（錢半）　犀角（錢半）　雞內金（一錢）　大梅片（一錢，另研）　白蓮花（五錢）</p>
<p>口臭加人中白一錢，口黑加熊膽一錢，痰盛加牛黃五分、珍珠五分、琥珀五分，共研至無聲如塵為度，瓶貯勿泄氣聽用。</p>
<p><u>治火症痘疳牙疳喉間潰爛金不換散</u></p>
<p>人中白（五錢，　存性）　細柏末（三錢）　青黛（六錢）　玄明粉（三錢）　白硼砂（三錢）</p>
<p>冰片（三分）　西瓜霜（八錢，制法在後）</p>
<p>上為極細末，罐貯勿泄氣聽用。若爛處有深洞者，加龍骨、象皮、赤石脂各三錢，同研吹之。痘疳加川連、胡連、甘草、人中黃、銀粉霜，（即西瓜硝飛去者。）每金不換散一錢，每樣各加五分，共研末如塵，合搽之。喉癬喉疳，每金不換散一錢，加粉霜三分。</p>
<p><u>治痰痹方</u></p>
<p>滑石（一錢）　石膏（一錢）　薄荷（五分）　膽礬（五分）　粉甘草（三分）　炒僵蠶（五分）</p>
<p>大梅片（五分）　皂角（炙，盡五分）　牛黃（五分）</p>
<p>共研極細末，罐貯聽用。</p>
<p><u>應驗鵝喉方</u></p>
<p>平日遇有水瓜蜂，（即為竹蜂。）捉取不拘多少，以酸梅汁浸之。若生鵝喉則撬開牙關，取蜂用口含之，使口水漸漸咽下便愈。</p>
<p><u>青梅丸</u></p>
<p>大南星（十二個）　半夏（二兩）　白礬（一兩）　甘草（兩半）　桔梗（兩半）　陳皮（五錢）</p>
<p>朴硝（二兩，提過）　青梅子（一百個）　生鹽（四兩）</p>
<p>先將補硝研末，腌梅兩日，等梅汁出後，方將前藥末摻勻，晒乾，以瓷瓶收貯。遇有鵝喉及牙痛喉痛，取梅一個，含之立消。</p>
<p><u>治陰白喉症散</u></p>
<p>人中白（二錢）　兒茶（一錢）　黃柏（六分）　青黛（六分）　薄荷（六分）　硼砂（六分）　蟬蛻（七個）　大梅片（五分）</p>
<p>共研極細末如塵，瓶收勿泄氣聽用。</p>
<p><u>治鵝喉口內含藥方</u></p>
<p>荊皮（二錢）　花粉（錢半）　白芷（一錢）　山豆根（錢半）　七裡香（二錢）　馬蹄香（即沉香，三錢）</p>
<p>用滾水二碗泡，燉濃，另倒開半杯，和白酒少許，不拘時含，至滿口痰涎即吐出。</p>
<p><u>洗口散</u></p>
<p>五倍子（二錢）　硼砂（錢半）　白礬（一錢）</p>
<p>共研細末，每用數分，以白開水泡出味，軟綢蘸洗，如有出牙血不止者，用此湯含口中，其血即止。</p>
<p><u>三黃散</u></p>
<p>治陽症用。</p>
<p>大黃（一兩）　黃柏（五錢）　生甘（五錢）　羌活（三錢）　陳皮（二錢）　梔子（三錢）　地骨皮（二錢）　青黛（二錢）</p>
<p>共研末，調白酒外敷患處。</p>
<p><u>洪寶丹</u></p>
<p>治陽症用。</p>
<p>花粉（三錢）　赤芍（二錢）　薑黃（一兩）　白芷（一兩）</p>
<p>共為末，或用黃酒或白酒，或清茶調勻，多熱敷之。</p>
<p><u>陽毒散</u></p>
<p>生南星（三錢）　蒼朮（錢半）　薑黃（二錢）　川貝（二錢）　白芷（二錢）　大黃（四錢）　雄精（三錢）　黃柏（二錢）　生甘（二錢）　防己（二錢）　花粉（三錢）　赤小豆（二錢）　豆根（二錢）</p>
<p>毛茨姑（二錢，去淨毛）</p>
<p>共研末，調蜜糖，清茶敷患處。</p>
<p><u>治陽喉毒紅腫方</u></p>
<p>荊芥（一兩）　花粉（八錢）　白芷（六錢）　大黃（六錢）　七裡香（七錢）　芙蓉花（八錢）</p>
<p>共研末，調白酒在核處搽之，略干，又搽十余次，即愈。</p>
<p><u>沖和散</u></p>
<p>治陰症用。</p>
<p>荊皮（一兩）　獨活（五錢）　赤芍（五錢）　白芷（三錢）　南星（錢半）　半夏（錢半）　南木香（二錢）　菖蒲（二錢）</p>
<p>共研細末，調白酒敷。</p>
<p><u>黃龍散</u></p>
<p>治陰症用。</p>
<p>草烏（二兩）　薑黃（二兩）　南星（一兩）　赤芍（一兩）　肉桂（五錢，去皮）</p>
<p>共為末，調黃酒敷患處。</p>
<p><u>治陰毒青腫皮膚不燒熱方</u></p>
<p>生川烏（六錢）　生草烏（六錢）　生南星（五錢）　生半夏（五錢）　生梔仁（七錢）　芙蓉花（一兩）　七裡香（七錢）　細辛（五錢）　白芷（六錢）　紅蓮花（八錢）　菖蒲（五錢）　生香附（五錢）</p>
<p>共研末，在核處搽。</p>
<p><u>兩宜散</u></p>
<p>半陰半陽冷熱不明者，用此治之。</p>
<p>荊芥　獨活　赤芍　白芷　菖蒲（各等分）</p>
<p>共為末，用黃酒調敷患處。若瘡面上有血　，不可用菖蒲，恐破瘡皮，宜先用四味敷之，後用菖蒲末敷於面上，覆過四圍，而以薄紙隔截之。凡敷末藥，須溫熱，方能令藥氣透入。若干，再換濕者敷之。如四圍黑暈不退，瘡口俱無色者，其人必服涼藥太過，不可驟用黃龍散，因其膚肉未死，恐黃龍散藥力過峻，敷上更加苦痛，可於本方內加肉桂、當歸，以換起死血，血一浮面，即除去二味，只用本方治之。若痛不止，可取酒泡乳香、沒藥，以瓦器盛放火上，俟溶化，乘熱傾入藥內，調勻塗之，痛立止。若瘡口有突肉箭起，宜以本方加南星，用薑汁和酒調塗即落，此因胃著風故也。或有近熱之症，可合洪寶丹，以蔥汁、清茶同調敷。若遇陰寒之症，可合黃龍散調好酒敷之。</p>
<p><u>制西瓜硝</u></p>
<p>覓上號頭藤西瓜，或一個或二個，用稻柴墊好，放在干燥廚內，立冬日將瓜挖去腹中穰，取去七分，皮上肉剩三發，每瓜用皮硝二斤或半斤，看瓜之大小酌用。蓋好用線絡住，懸向背陰屋檐下，至冷凍之期，其硝自盡出瓜外，顏色如霜，用刷帚輕輕拂下，以盤盛之包好，至三五日一取，至春間將瓜內所剩之硝安好，候到立冬，將新鮮瓜盛之，再加硝半斤，或一斤，仍舊懸好。俟皮外飛出取之，如此二次，中間之硝亦不必再飛。可治喉癬喉疳諸火症，潰爛者吹之不痛。外皮飛出者名銀粉雪，其功可並紫雪。</p>
<p><u>鎖喉症吹之立效方</u></p>
<p>鏡面朱砂（飛，一分）　正廉珠（飛，一分）　珊瑚（飛，一分）　雄精（飛，二分）　青黛（二分）　硼砂（二分）　人中白（三分）　木　子（一分，　黑）　大梅片（一分）</p>
<p>共研細末，罐貯聽用。</p>
<p><u>經驗鵝喉奇方</u></p>
<p>木　殼（存性，五分）　鼻涕蟲（三十條，存性）　人中白（五分）　山豆根（取淨皮，一錢）</p>
<p>黑竹蜂（十六個，存性）　川連（一錢）　大梅片（一分）　白硼砂（五分）　生大黃（一錢）　青黛（二錢，飛）　肥豬（三十只，存性）　牛黃（五分）　明礬（二分）　麝香（五厘）</p>
<p>共研末，稱準分兩，再合研一二千下，罐貯封口，勿泄氣聽用。</p>
<p><u>鵝喉急救方</u></p>
<p>茜草（一兩二錢七分）　醋（一碗）</p>
<p>共蒸出味，與病患吞噬一口，牙關緊閉亦立開。</p>
<p><u>治各種喉症效方</u></p>
<p>人中白（飛過，三分）　青缸花（飛過，三分）　明珍珠（甘草、豆腐煮過，研，飛，五分）</p>
<p>黑竺黃（一錢）　正川連（一錢）　大梅片（二分）</p>
<p>共研細末，後入冰片，再研勻，罐貯勿泄氣聽用。</p>
<p><u>治白喉症奇方</u></p>
<p>此症，喉中先紅後白。</p>
<p>鴨糞瓦上隔火焙枯研末，白粥調服立效。如發寒熱，切忌表藥，誤用殺人。</p>
<h2>口部</h2>
<h3>治口舌生瘡</h3>
<p>吳茱萸為末，用醋搽腳心，過夜即愈，敷貼更妙。</p>
<h3>又方</h3>
<p>生附子研末，或用吳萸熱醋調敷兩腳心，無論虛實火，極神妙。</p>
<p>天門冬（去心）　麥冬（去心）　元參等分為末，煉蜜丸為彈子大，每含一丸，雖數年不愈者亦斷根。以生薑蘸蜜水揩洗，用薄荷自然汁同白蜜調敷。</p>
<h3>口唇生瘡日久不愈</h3>
<p>藍葉搗汁洗愈，若因氣鬱生瘡，用甑上倒汗水搽立效，並治小兒疳。或唇破生瘡，瓦松生薑汁搗融，入鹽少許，敷之愈。</p>
<h3>舌無故出血方</h3>
<p>花炒末摻。又方，香薷煎水含咽。又木賊四錢，煎水漱口即止。</p>
<h3>舌長數寸方</h3>
<p>冰片研末搽即收。又方，番木鱉四個，刮毛黃連一兩，同熬浸舌。</p>
<h3>舌瞠硬大閉咽喉</h3>
<p>皂礬五錢，瓦焙紅放地上，冷定研末摻之。若其牙關緊閉，用物撬開牙齒，搽藥。</p>
<p>蒲黃一錢為末摻，並治舌上出血。</p>
<h3>治羊須瘡奇效方</h3>
<p>羊須　存，加冰片少許，麻油調搽即愈。</p>
<p>泡濃茶一大碗，以患處浸茶內半枝香久即痊。</p>
<h3>加味甘桔湯</h3>
<p>甘草（三錢）　桔梗（二錢）　荊芥　牛蒡　炒貝母（去心，各一錢五分）　前胡（一錢）　薄荷（五分）</p>
<p>名加味甘桔湯。（盛者，宜服加味甘桔湯。）</p>
<h3>紫袍散</h3>
<p>（治十八種喉風）</p>
<p>青黛（水飛）　石青　雄黃（各一兩）　膽礬（三錢）　人中白　硼砂　元明粉（各五錢）　黃連（二錢）　真冰片（五分）</p>
<p>共為細末，瓷罐收貯，勿令泄氣，急時以二三分吹喉愈。</p>
<h3>甘桔湯</h3>
<p>（治風熱上攻，咽喉疼痛，及喉痹妨悶）</p>
<p>苦梗（一兩）　甘草（二兩，炒）</p>
<p>上每服二錢，水煎。此又一方也。</p>
<h3>玉龍散</h3>
<p>人中白（一錢）　硼砂（一錢）　竹蜂（四只，在竹內黑色者是也）　青黛（五分）　元明粉（一錢）　川連（一錢）　山豆根（一錢）</p>
<p>共為細末，取少許以銅管吹之。</p>
<h3>金鑰匙</h3>
<p>（治喉閉纏喉風，痰涎壅塞盛者，水漿難）</p>
<p>焰硝（一兩五錢）　硼砂（五錢）　腦子（一字）　僵蠶（一錢）　雄黃（二錢）</p>
<p>各另為末和勻，以竹管吹患處，痰涎即出，如痰雖出，咽喉仍不消，急針患處，去惡血。</p>
<h3>頰車開不能合</h3>
<p>用皂角末吹其鼻，嚏出自合。</p>
<h3>下頰落</h3>
<p>含烏梅一個即止。</p>
<h3>舌蕈</h3>
<p>（生舌上，出血不止，即不救）</p>
<p>五倍子（一錢，炙研）　烏梅（去核，炙，研，一錢）　銅綠（三分）</p>
<p>共研細末，搽蕈上，小膏蓋住，日換一次，愈後乃止。</p>
<h3>上疳瘡口中爛方</h3>
<p>舊土牆上白螺獅殼，不拘多少，用水洗去泥沙，燒灰存性，香油調末搽之數次即愈。若牙關齦腫爛口閉者，用皂角末吹之即開。</p>
<h3>上疳方</h3>
<p>（上疳者，喉疳、牙疳、口疳瘡等症也，同用此方）</p>
<p>輕粉（一錢）　朱砂（七厘半）　冰片（二分）</p>
<p>共研細末，吹入口內，無有不效。臨吹先用薄荷湯，或茶漱口，愈後用銀花二錢、土茯苓五錢、甘草一錢，服數次。</p>
<h3>消瘰丸奇效方</h3>
<p>元參（蒸）　牡蠣（微　，醋淬）　貝母（去心，各六兩）</p>
<p>共為末，蜜丸每服三錢，開水下，日二服。已潰者九製首烏研末，蜜丸，每服三錢開水下，日二服。外以羊屎、杏仁各五錢，燒研細末，豬骨髓調搽。</p>
<p>用鴨油調半夏末敷之。</p>
<h3>舌下腫痛</h3>
<p>（即重舌之類）</p>
<p>蒲黃（五錢）</p>
<p>煎濃汁去渣，含口中數次極效。</p>
<h3>舌下痰包</h3>
<p>用無雜色的白馬糞，放新瓦上，焙乾研末，加頂上梅花冰片為末，敷上立愈。</p>
<h3>小舌生紅泡子與喉症不同</h3>
<p>蛇床子二兩，罐內燒煙，吸入喉中自消。</p>
<h3>補斷舌法</h3>
<p>（凡人偶含刀在口，斷舌已垂落而未斷者，用雞蛋內白軟皮套住，另以）</p>
<p>天花粉（三兩）　赤芍（二兩）　薑黃　白芷（各一兩）</p>
<p>為末，蜜調塗，舌根以白蜜調白蠟稀稠得宜，敷在雞蛋皮上，口敷數次，三日舌自接住，去蛋皮，再用蜜蠟勤敷七日。如跌撲穿斷舌心，血出不止，以鵝翎蘸米泔頻刷斷處，其血即止，或用瘦豬肉片貼之，仍用蒲黃、杏仁、硼砂少許為末，蜜調成膏，噙化而安。</p>
<p>活蟹一個，炙干為末，敷上即能生肌。</p>
<p>活蟹（燒灰）　乳香　沒藥（各二錢）</p>
<p>塗之即生肉，如咬去唇舌，用川烏、草烏為末，攤紙一條，以涼水調合貼之，即不覺痛，宜預制備急。</p>
<h3>治舌下腫痛欲死</h3>
<p>皂角（二錢）</p>
<p>瓦上焙紅研末，好醋調敷即愈。</p>
<p>醋調百草霜，柴灶內的，敷舌上下數次，效，加鹽，用井水調塗更佳。</p>
<h3>重舌鵝喉</h3>
<p>川連　雄黃（各四分）　冰片（二分）</p>
<p>共研末吹入。</p>
<h3>喉風舌大如脬，不急救即死</h3>
<p>冰片（一分）　火硝（三分）　青黛（二分）　膽礬（二分）　僵蠶（五分）　硼砂（三分）</p>
<p>共為末吹之。</p>
<h3>舌腫四方</h3>
<p>皂角不拘多少，以新瓦火　至紅色，放地候冷，研細，將病患用鐵鉗拘開牙齒，以藥末搽其舌上即活。</p>
<p>百草霜和酒塗舌下。</p>
<p>用生蒲黃研末搽之。</p>
<p>用雞冠血塗舌上咽下即消。</p>
<h3>喉疔</h3>
<p>（形似靴釘，但差長耳，先以小刀刺點，隨用）</p>
<p>紫袍散吹之，再服加味甘桔湯，加鮮菊花一兩，用根亦可。若不能刺，以冰硼散箸頭蘸點六七次，再吹藥，服藥亦效。</p>
<h3>舌忽縮入</h3>
<p>銀針刺破舌尖，出盡惡血，以蠟燭油搽之即愈。</p>
<h3>舌硬生衣</h3>
<p>犀牛黃　朱砂（各一分）　玄精石（二兩）</p>
<p>共研細末，將舌尖刺出紫血，用此藥搽之即愈。</p>
<h3>舌下重生小舌</h3>
<p>舌根肉壅腫疊出，短小如舌者是，用黃柏和竹瀝泡一夜，取汁點之。</p>
<p>巴豆半粒、飯四五粒、共搗爛為餅，如黃豆大，貼在印堂中，待四圍起泡，去之即愈。</p>
<p>各項舌病皆效。</p>
<h3>木舌</h3>
<p>舌尖腫大，塞滿口中，直硬如木，不能轉動者是。用萆麻子肉搗爛，以紙取油將紙搓條，點火吹滅，以煙向舌熏之即消。若舌下腫起，用銀針挑破出血，以鍋墨煙，以燒草者更佳，以麻油濃調敷之，脫去再敷，或用水調敷亦可。</p>
<p>蒲黃研末，時敷舌上，其腫自消。</p>
<p>僵蠶為末，吹入，吐痰甚效。</p>
<h3>舌忽腫大腫硬</h3>
<p>即時氣絕，名曰　舌。</p>
<p>用皂礬同上舌腫四方並治。</p>
<h3>舌上生菌</h3>
<p>（此惡症也，初起如豆，漸大如菌，疼痛紅爛，無皮，朝輕暮重，由心脾熱毒所致）</p>
<p>硼砂　人中白（各五分）　瓦上青苔　瓦松　溏雞糞（各一錢）</p>
<p>用傾銀罐子二個，將藥裝入封固，外用鹽泥封好，以炭火　紅，待三炷香為度，候冷開罐取出，入頂上梅花冰片、麝香各一分，共研細末，臨用時先以磁針刺破血菌，用藥少許點之，再以蒲黃末蓋之，內服二陳湯，加黃連、黃芩、薄荷煎服。</p>
<h3>舌腫破爛</h3>
<p>黃連　黃柏（各五分）　青黛（水飛，一錢）　冰片（一錢）</p>
<p>焙乾為末，每用三分，吹之自愈。</p>
<h3>重舌脹腫</h3>
<p>（重舌木舌，皆屬心火）</p>
<p>用川連末一錢，燈草湯下，二服效。</p>
<p>治重舌脹，用鐵鍋燒紅，打下鏽。研末，水調噙之。</p>
<h2>牙部</h2>
<h3>牙癰</h3>
<p>此症發在牙關、牙床，結核已成，或左或右，耳底有痛，接上下左右照經絡治之。有腫要外敷，切忌齒落，落則不治。</p>
<h3>牙疔</h3>
<p>此症起於牙腳下，生有黑點，是腎經發來之毒。宜先用黃連消毒散，後用滋陰降火等藥治之。外用硼砂、石膏、甘草共研細末，擦之即愈。</p>
<h3>牙疳</h3>
<p>此症起在牙床，名走馬牙疳。最忌齒落，落即不治。宜依上經絡治之，內擦以玉龍散或冰硼散。</p>
<p><u>牙瀉即牙根流血</u></p>
<p>草決明煎水，含數次即愈。</p>
<p><u>又方</u></p>
<p>苦參、枯礬，各等分為末，擦牙即效。</p>
<p><u>治牙痛不可忍</u></p>
<p>火硝、硼砂、冰片，共為末，擦患處即愈。</p>
<p><u>治牙痛方</u></p>
<p>上好真清花肉桂切薄片，每用一分，嚼患處，立刻止痛，如桂不佳者，嚼之增痛。</p>
<p><u>玉帶膏</u></p>
<p>生真龍骨（二兩）　宮粉（一兩五錢）　頂上大梅片（二錢五分）　麝香（二錢五分）　淨黃蟬（二兩）　真硼砂（二錢五分）　陳黃蠟將上五味，研細末和勻聽用，先將黃蠟隔湯化溶，入前藥末攪勻，用棉紙將藥傾上，用竹刀刮勻，剪作一小指寬，一寸長，收貯瓷瓶內，封固聽用。</p>
<p><u>治各種牙痛妙方</u></p>
<p>隔夜濃茶，每早起以之嗽口，永無牙患。</p>
<p><u>金星追涎丹</u></p>
<p>治風火牙痛並治蟲方。</p>
<p>薄荷（一兩）　川椒（五錢）　細辛（一兩）　樟腦（一兩）</p>
<p>共研細末，放銅鍋內，上以瓷碗一個蓋之，文武火煉取霜用。</p>
<p><u>苦瓜霜</u></p>
<p>火硝（二錢半）　青黛（五錢）　檳榔衣（一兩，　黑）</p>
<p>共研末，先將大苦瓜一個，蒂旁切落一片，納藥於內，掛當風處，俟皮上起白霜，取貯聽用。</p>
<p><u>牙齒疼痛方</u></p>
<p>秋絲瓜藤（一兩）　槐花（三錢）　薄荷（一錢五分）　細辛（八分）</p>
<p>淨水煎濃汁，含嗽四五次效。</p>
<p><u>治牙痛奇妙極效方</u></p>
<p>好汾酒一小茶杯，入花椒一撮，用火點著，俟燒至一半，將火吹息，略候半刻，乘火熱含於口內，立即吐出，其患立愈。</p>
<p><u>治牙出血方</u></p>
<p>生地（三錢）　元參（三錢）　麥冬（一錢五分）　白芍（一錢五分）　女貞（三錢）　丹皮（一錢五分）　澤瀉（一錢）　知母（一錢五分）　鹽柏（一錢五分）　碎補（二錢五分）　連翹（一錢五分）</p>
<p>沙參（三錢）　生甘（一錢）</p>
<p>如陰虛火旺出血，將方內沙參、黃柏二味除卻，加熟地五錢、釵斛一錢五分、洋參二錢，服之立效。</p>
<p><u>治牙出血有頭痛潮熱方</u></p>
<p>生地（三錢五分）　元參（三錢）　麥冬（一錢五分）　山藥（一錢五分）　女貞子（三錢）　丹皮（錢半）　澤瀉（一錢）　知母（錢半）　鹽柏（分半）　北沙參（三錢五分）　銀柴胡（八分）　連翹（錢半）　碎補（錢半）　石膏（二錢半）　牛蒡（錢半）　生甘（一錢）</p>
<p>共煎水服效。</p>
<p><u>蟲牙作痛</u></p>
<p>五焙子煎濃汁，含嗽數次，其蟲立死。</p>
<p><u>治蟲牙方</u></p>
<p>生田雞去皮，含在患處，另以清水一大碗，放在桌上，良久俟口涎流出，吐在碗中，可於水內觀蟲，大小均見，如此數次，永無此患。</p>
<p><u>治齒長數寸</u></p>
<p>真白朮人乳拌蒸，服之愈。</p>
<p><u>治牙齒長出分余</u></p>
<p>用生地黃含之最妙。</p>
<p><u>治走馬疳</u></p>
<p>此症口臭牙上爛流涎，唇下如羊須。</p>
<p>生大黃（三錢）　丁香（十粒）　綠豆（一錢）</p>
<p>共研末，熱醋敷兩足心最效，若兼以真珍珠吹之更妙。</p>
<p><u>治走馬疳</u></p>
<p>人中白（二兩，　紅）　兒茶（一兩）　黃柏（六錢）　南薄荷（六錢）　真青黛（六錢）　大梅片（三錢）</p>
<p>研末，先用溫湯嗽洗，吹藥患處數次，內服銀柴胡、　蘆薈、胡黃連、川連、牛蒡子炒、元參、桔梗、山梔子、熟石膏、薄荷、羚羊角各五分，水二盅，煎服。</p>
<p><u>治牙疳妙方</u></p>
<p>咸馬腎子，並水含後吐卻，再服水一盅即愈。</p>
<p><u>擦牙關兼去口中氣味</u></p>
<p>大黃（五錢）　甘杜　香附（去毛，酒製）　白芷　生石膏（各五錢）　真川椒　綠豆（各四十九粒）　細辛（三錢）　青果核（十八顆，　）　淮鹽（八兩，火　，過絹篩用）　牙灰（三兩，飛，晒乾）</p>
<p>共研細末，過絹篩，罐貯。每日清晨以之擦牙，不但永無齒疾，且可白如冠玉。</p>
<p><u>取齒妙方</u></p>
<p>活鯽魚一條，重十兩，以白砒一錢入腹內，放無風無貓無犬處，七日魚身發白色，用雞翎拂毛，以少許膏藥收之，每遇病牙，取少取膏藥，貼齒片刻，牙即落下。</p>
<p><u>脫牙</u></p>
<p>白馬肉埋地內俟生蟲，取出　灰，點牙即落。</p>
<p><u>牙痛奇方</u></p>
<p>蠟梅花熬水含之愈。</p>
<p><u>又方</u></p>
<p>檬果皮煲黑醋含之愈。</p>
<p><u>治各種牙痛經驗神方</u></p>
<p>寬筋藤（八分，切薄片）　連殼雞蛋（一只）</p>
<p>用山水兩大碗，煮數日滾，將蛋去殼，再煮至蛋極老，去蛋及藤服之，其痛立止。</p>
<p><u>又方</u></p>
<p>用生小蛤一只，剖開去皮，並頭足洗淨，遍蘸雄黃末，將蛤敷上患處，合口含住，俟覺腥悶難忍，然後將口涎吐出，其牙蟲隨涎出，再含再吐，以痛止蟲盡為度。</p>
<p><u>少商穴圖式</u></p>
<p>（左右皆同）</p>
<p><a href="_files/p05-c5a1.bmp">少商穴圖式</a></p>
<p><u>刺少商穴法</u></p>
<p>穴在手大指內側，去爪甲如韭菜葉，刺入二分許，以手自臂勒至刺處，出血即消。若重者，及膿成者，必須針患處，否則不治也。</p>
<h3>附：骨鯁符咒</h3>
<p>第一句開天門。第二句閉地戶。第三句留人門。第四句塞鬼道。第五句穿鬼心。第六句破鬼肚。吾奉太上老君急急如律令。</p>
<p><a href="_files/p05-c5a2.bmp">圖</a></p>
<p>左手持杯，用香爐鼎手指盛杯，杯內載茶，用右手劍訣，面向東方，以畫第一畫，念開天門，第二畫念閉地戶，第三畫念留人門，第四畫念塞鬼道，第五畫念穿鬼心，第六畫念破鬼肚，吾奉太上老君急急如律令。</p>
<h3>附：治鴉片煙飲奇效方</h3>
<p>服此方者，一面吸煙。一面服藥，至八日十日後，則可早可晏。可多可少，可吸可不吸，妙在不用劫藥，不用煙灰，其飲自化，應驗多多，爰序於下。</p>
<p>鴉片煙流毒內地，受害良多，其中亦有急思改悔者，又莫得其方。市肆中藥，於字義尚未辨明，何能奏效？縱有一二截止者，類皆劫劑。伐脾戕胃，貽害多端，譬諸作文，安有講書未明，而妄期佳構者乎？即如字義，世俗稱癮者，乃皮裡肉外之紅點，何得指為斯證？又稱引字，究屬何根？方為引動，模糊圖治，奚克見功？不知所謂飲者，乃飲食之飲，即醫書所論痰飲證也。夫濁者為痰，清者為飲，此理易知。治斯證者，總以滌飲化痰為主。或問此證，何由而生？予曰：凡人酣吸多則動脾家之濕，濕則生痰，蓋脾為生痰之源，肺為藏痰之器，故此證總在脾肺二經。或又問曰：既系吸多生飲，何以吸之？又名曰過飲。予曰：煙乃通活之性，痰系周身上下無所不至，一經土壅，則或淚流，或汗出，或背脹，或欠伸，或嘔吐，或心慌，皆痰之為患，驟得煙以通活，則痰食頓開，而諸證悉平，斯謂之過飲，客為首肯，不勝欣然焉。予曰：憫斯人之沉　，亟思拯救，乃細揣各名家書，體會數年，始得其訣，故特創一方，藥品沖和，純乎王道，俾戒飲者自製，不著絲毫煙灰，自能奏效。十余年來，獲益者不可枚舉，因刊以公諸同好，惟愿普世共渡慈航，回頭是岸云。</p>
<p>廣橘紅（白礬炒，五兩）　製半夏（四兩五錢）　川椒（七錢）　炙粉草（三兩五錢）　天南星（一兩五錢）　訶子（一兩）　白芥子（八錢）　塊雲苓（四兩）</p>
<p>共研細末，薑水泛為丸，桐子大，每日飯後一時之久，以白滾水吞下三錢，日二次，服至八天以後，自然見功，奇效無比。</p>
<p><u>同治二年癸亥仲秋月上浣　湖北黃岡屠燮臣制方付梓</u></p>
<p>上系桂林蔣小峰，於屠燮臣名道和，輯刊醫學六種之普濟良方內，摘錄轉傳，歷用經驗。南豐趙獻卿，吸煙已十八年，日需煙六錢，戊寅秋服是方，旬日痰少煙減，或偶多吸，即行醉嘔，平昔每吸必二十口乃過飲，服藥兩旬，每吸五口即得矣，遂接服戒卻，而痰盡面豐，飲食倍常，精神甚健。足征是方之果有益也。因捐貲梓印，以廣其傳，愿得之者或堅信自服，或轉傳濟人，切勿疑怠，則功德無量矣。再者如服是方，雖可一面吸煙，然須心存力戒，不可恃服藥而任意多吸，乃有益也。</p>
<h3>附：急救服毒良方</h3>
<p>一、凡誤吞洋煙，急取廣東之木棉花絮稱準四錢，用筆管夾之，燒灰存性，置茶碗中，再取食鹽稱準二錢，碾碎同置茶碗中，開白水沖之，攪勻灌下，一刻間大吐黑水而愈。在胃則吐，在腸則瀉，毒多或久，則連服二三次，吐瀉即愈。</p>
<p>一、凡誤服鹵水輕粉，一切毒物，急取木棉花絮六錢，燒灰碾碎沖服，不用食鹽，一吐而愈。</p>
<p>一、凡毒痢藥力不治者，亦取木棉花絮六八錢，燒灰，用山楂一二錢，紅糖一二錢，煎服即愈。</p>
<p>以上諸法，傳自江西，已活人數千，屢試屢驗。近年京都有吞洋煙者，亦此法全活多人，其應如響，伏愿諸君子廣為傳布，則功德無量矣。</p>
