<header data-type="book">
<h1>醫學傳心錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="劉一仁">似為劉一仁所著，錢樂天得秘本</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h2>修訂說明</h2>
<p>《醫學傳心錄》原是中醫大夫錢樂天生前所得的秘本，原書寫於清道光年間，封面上載有「上海劉一仁」五字，從內容看，似是劉一仁所著。一九五四年曾由原河北省衛生工作者協會定名《中醫捷徑》內部出版，作為中醫會員的學習材料，一九五八年原河北省中醫研究所籌備處責成我們進行整理，並以原名──《醫學傳心錄》正式出版。</p>
<p>本書內容為診脈、湯頭、本草、證治等。文多賦體歌決，簡明扼要，便於誦記。其理論引證以經典為主，兼顧歷代名家之長。取材簡短，能使讀者提綱挈領。但原本因傳抄之故，差錯很多，我們將論述引證，與原著進行了校對。書中古僻字句，或代以通俗字句，或加注解。湯頭歌訣中的藥名，用小字作了旁注。時方藥味與原方有出入者，恐系作者臨床經驗，一律末加修改。有方無歌者，則補以湯頭歌。當時我們雖然做了上述一些工作，但過於強調了保持原貌，對一些不妥的節段，末予刪改。</p>
<p>「中國醫藥學是一個偉大的寶庫，應當努力發掘，加以提高。」目前全國西醫學習中醫、中西醫結合的群眾運動正蓬勃發展，為了便於廣大醫務人員學習參考，這次修訂時，我們對一些不妥的節段，又作了一些刪改，不便刪改者，附加了按語。同時，對一九五八年版本的注釋、按語，也作了一些修改和補充。但是，因為原作者受其階級地位、社會實踐和歷史條件的限制，書中有些觀點，讀者需用馬克思主義觀點批判地接受，作為臨床和研究工作參考。我們由於受水準所限，修訂工作也難免有錯誤之處，望讀者予以指正。編者</p>
<h2>寫在卷首</h2>
<p>一、先將抄本傳心錄一冊（共計八十七章）開首十三章先讀熟。</p>
<p>用藥傳心賦一篇，讀之藥性大概便知矣。</p>
<p>治病主要訣一篇，讀之即知每病主藥。</p>
<p>引經藥二行，蓋百病各有經絡，藥材眾多，非所引藥，則眾藥無所依歸，反致生害，譬如同眾拜客，無人作引，終不能入其室中，所謂無針不引線也。</p>
<p>診脈傳心訣，讀之則知脈之名體，輕重緩急虛實表裏。</p>
<p>診脈總要一條，讀之舉手按脈，即知其病症矣。</p>
<p>三部總看一條，讀之則知三部相同之脈，便知犯何病症矣。</p>
<p>發言須當理一條，讀之則知問病之法。</p>
<p>湯頭歌要旨五章共五條，如脈息略明，病狀已得，藥性初知，而不知古人一定之方，隨時加減，是舍繩墨而意裁曲直，棄權衡而手揣輕重，終於錯謬，蓋古人定方，必先診脈，知系何臟腑何經絡之病，即應用何經絡之藥，每方必有主藥、輔助藥、調和藥以配合，而藥味中一經炮炙，便爾更變原性，或方中之藥，各有相犯相忌相助，豈可亂用，故必斟酌盡善，始定成方，以為加減，垂示後學，以為準繩，若使藥性不熟，不知加減，診脈而後，舉目茫然，不知作何立方也。</p>
<p>病因賦一章最妙，人犯病症，一經外現，茫然不知其病因何而得，亦不知何臟腑何經絡受傷，倘看脈後，人問因何而得，系何臟腑經絡所致，如何答應，此篇一熟，一見便知，不獨醫人，而自己倘覺有病，亦知其何因，庶不為庸醫所害耳。</p>
<p>以上自診脈傳心訣至病因賦，不過十三章，數日可熟，以下七十四章，皆以病因賦內每一句為題，分病原治法成為一章。其用藥湯頭猶恐人不能記憶，將一方各藥練成五言絕句，亦甚便易；如能熟知更妙，或不能熟，常常讀之，自能入腹。</p>
<p>藥有三百餘味，此本分寒熱溫平四種，共計一百四十六味，雖缺半未全，而首面上之藥亦可足用，間有藥性不能盡列，而藥性之大概已具。</p>
<p>古人精義，為醫學大綱，系屬秘本，並無坊刻，熟此一本，給人診治，不致錯謬矣。</p>
<p>二、再看《圖注難經脈訣》一部，計四小薄本。</p>
<p>醫之一道，必先詳知脈理，臟腑經絡，五行生克，此書專講脈絡，其中有圖、有注解，惟診脈入式歌、五臟歌、七表八裏九道、下指診脈歌皆七言絕句，讀之為妙。其餘常讀，便順口入腹，至內中卷三一本，《難經》有細注，可與第一卷《難經·圖》，兩本攤於案上對看自明。</p>
<p>按：《圖法難經脈訣》唯心的東西較多。不如參考《瀕湖脈學》或《金鑒．脈訣》。</p>
<p>三、再看汪訒蓭《本草備要》一部，四五薄本，專講藥性，後面附有《湯頭歌訣》一薄本，方共三百有零，分為二十門，每一湯頭僅數句，亦必須熟讀。至於古方，豈能個個講明，只就《傷寒》壞病內最難措手之方選四五個，以參悟其用藥之方，則不煩而心得矣。</p>
<p>四、再看汪訒蓭所注《醫方集解》一部，專載古人陳方，講明古人因病立方，用藥精義，而且分明補益、發表、湧吐、攻裏、表裏、和解、理氣、理血、祛風、祛寒、清暑、利濕、潤燥、瀉火、除痰、消導、收澀、殺蟲、明日、癰瘍、經產、救急，共二十二門。凡補益等名目下，各有細注，而各方亦有細注，雖不必讀，不可不靜心三復細看也。</p>
<p>至脈與所現之症侯，有相合者，為脈症相合，照「湯頭」加減立方自易。至有脈如此，而所現之症如彼，是為脈症不符，凡脈與症不符者，病多難治。蓋究不知所患何症，未便冒昧以投藥，或舍脈從症，舍症從脈，必有依據，故此《醫方集解》一部，不可不細玩也。</p>
<p>左手脈三部，心、肝、腎為臟。小腸、膽、膀臟為腑。臟屬陰、腑屬陽，此謂三陰三陽。</p>
<p>右手脈三部，肺、脾、命門為臟。大腸、胃、三焦為腑。</p>
<p>診脈須將二三四指甲剪去，蓋人之指尖最靈，指尖直督向下，按之則脈中動靜虛實，無微不到。若用三指平按脈上，則不得脈中之細微矣。</p>
<h2>診脈傳心訣</h2>
<p>診家之要四般脈，浮沉遲數為之則。浮沉輕重指端詳①，遲數息中分緩急②。浮而無力即為虛③，浮而有力便為洪。脈沉而無力是弱④，微沉有力是為實。遲而有力滑脈居⑤，遲而無力緩與澀⑥。數而有力為緊弦⑦，數而無力為芤脈⑧。浮遲即是表間虛，沉遲即是裏冷極。浮數原來表熱真，沉數原來裏熱炎。此言不出古人書，是我傳心之秘識。</p>
<p>按：脈學講的越繁瑣，初學的人越難掌握。前人曾說：「切脈之事，明於書未必明於心，明於心未必明於手」，所謂「胸中了了，指下難明」。本訣以浮、沉、遲、數四脈為綱，再從四脈的有力無力分出虛、實、洪、弱等十種脈象。這種以綱帶目，從簡到繁，先易後難的診脈方法，使初學的人容易掌握。作者對諸脈脈象形容不夠全面，間或有與歷代脈學說法不盡符合處，但因作者已經申明「此言不出古人書，是我傳心之秘識」，故未修改。讀者可參閱其他脈學，結合實踐，互相印證。</p>
<p>─────────────────────</p>
<p>①輕手按於皮膚之上即見者，謂之浮脈。重手按至肌肉之間始見者，謂之沉脈。</p>
<p>②一呼一吸叫做一息。一息脈來三至謂之遲脈。一息脈來六至謂之數脈。（數：讀朔，當快講。）</p>
<p>③虛脈，遲大而耎，按之不足，隱指豁豁然空。</p>
<p>④極耎而沉細，按之乃得，舉手無有者．謂之弱脈。</p>
<p>⑤崔嘉彥《脈決》謂滑脈：「遲而有力，滑而流利」又謂：「滑脈如珠，往來旋轉」。</p>
<p>⑥緩脈：一息四至，應指和緩．往來自勻。澀脈：細而遲，往來難。</p>
<p>⑦緊脈：來往有力，左右彈人手，數如切繩。弦脈：端直以長如張弓弦。</p>
<p>⑧《脈經》謂：芤脈浮大而耎，按之中央空兩邊實，如撚蔥狀。</p>
<h2>諸脈主病</h2>
<p>浮為風虛芤失血，滑為吐逆實為熱，弦為拘急緊為疼，若是洪來多發熱。沉寒積痛微①冷結，緩主風虛澀少血，遲病冷頑伏積攻，濡弱氣血少分別②。長為壯熱短為食，虛脈心中多恍惚，促③緣積聚熱相攻，結④為陰寒有所積，動⑤為驚悸血崩淋，牢⑥為寒痛木乘牌，代⑦為正氣已飄離，細⑧是精枯形瘦極。</p>
<p>─────────────────────</p>
<p>①微脈：極細而耎，若有若無，按之若欲絕，至數不明。</p>
<p>②濡脈：虛耎無力，如棉絮之浮水中，輕手乍來，重手卻去，主血虛，又主濕。弱脈主氣虛。</p>
<p>③促脈：古人有兩種解釋，數時一止叫促脈（脈經）；脈博急促也叫促脈（脈學輯要）。</p>
<p>④結脈：往來緩慢，時一止復來。</p>
<p>⑤動脈：古人有兩種解釋，一謂「動乃數脈，見於關上下，無頭尾，如豆大，厥厥動搖」（《瀕湖脈學》）。一謂「數而跳突名動」（《脈學輯耍》何夢瑤）。</p>
<p>⑥牢脈：似沉似伏，實大而長，微弦。</p>
<p>⑦代脈：動而中止，不能自還，良久復動。且止有常數，必依數而止。</p>
<p>⑧細脈：細直而耎，若絲線之應指。特點是脈窄，且波動小。</p>
<h2>診脈總要</h2>
<p>脈中義理極微玄，一診傳心即了然。左寸心脈浮大散，左關肝膽脈長弦，右寸肺脈浮澀短，右關脾胃緩大兼，兩尺屬腎宜沉軟，此為無病體安然。</p>
<p>春脈弦兮夏脈鉤，秋脈毛兮冬脈石①，順時為吉逆為凶，指下須詳辨生克。</p>
<p>左手人迎②脈一盛，便是風寒暑濕症，惡寒發熱更無殊，四脈四症要審定。浮而無力是傷風，浮而有力傷寒症，浮而虛者暑傷心，浮而緩者濕之病，發散滲利不可差，用藥和平保元命。</p>
<p>右手氣口脈一盛，便是內傷飲食症。內傷勞倦脈浮洪，飲食傷脾脈洪盛。又有七情氣所纏，喜散怒弦憂澀認，悲緊思結恐為沉，驚則脈來動不定，平其胃氣保安全，實實虛虛能損命。</p>
<p>左關脈實肝有餘；右關脈澀脾土虛。左關澀兮血不足；右關滑兮食積居。左尺浮芤小便血，右尺浮洪大便結，左尺遲兮陽事衰，右尺數兮相火烈。</p>
<p>一息四至號和平，更加一至無大屙，三至為遲一二敗，兩息一至即云殂，六至為數七至極，八脫九險十危急。脈無上下陰陽絕，脈無來去本元枯，動止頻頻不久矣，直須決絕莫含糊。大凡診脈要數息，五十不止身無疾，指下欣欣生意多，雖然有病將安逸。</p>
<p>─────────────────────</p>
<p>①鉤：脈來疾去遲曰鉤，亦即今之洪脈。毛：即今之浮脈。李士材謂系浮澀，亦通。石：脈沉溺而滑也。</p>
<p>②人迎：關部分做上、中、下三等分，靠近寸部的上三分之一，左手叫人迎，右手叫氣口。</p>
<h2>診脈六法</h2>
<p>切脈下指先看心，心脈浮大為正形。浮而有力心經熱，熱主舌破小便疼。感冒風寒弦又緊，頭疼寒熱數難平。驚悸怔忡沉細弱。上焦蓄熱洪大應。（心脈）</p>
<p>次看肝臟弦又長，總然有病也無妨。忽然浮大風為患，緊帶洪兮瘧痢當。微澀原來陰血少。數為著怒緩為尫（wang1音汪。瘦弱的意思）。有餘因實知肝火。沉細為虛亦是常。（肝脈）</p>
<p>若逢腎脈沉無病，洪大須知陰火生。男子下元微不足，女人滑利定為妊。弦緊極虛芤下血。痛連腰脅現微沉。五心煩熱洪無力。犯著房勞數不寧。（腎脈）</p>
<p>右寸診之浮短澀，肺家清淨病無干。邪氣上衝多發嗽，洪大分明仔細看。弦緊必然咽燥破。數時胸府熱難安。浮而有力風外感。沉主生癰滑生痰。（肺脈）</p>
<p>脾家性燥宜遲緩，倘逢滑數知傷食。洪大原來胃火熾，弦緊定遭㾬瘧疾。虛汗泄瀉腹膨膨。噯氣吞酸是數熱。土不制水肢浮腫，沉細而微見腎脈。（脾脈）</p>
<p>命門相火只宜靜，雖然沉細未為病。若逢盛旺反成殃，陰虛盜汗肌消甚。浮洪嘔血夢遺精。滑數昏花耳聾症。遲緩多緣下部寒。女子旺時應有孕。（命門脈）</p>
<h2>三部總看歌</h2>
<p>三部俱浮肺臟風。惡寒發熱鼻難通。沉遲冷積真元憊。弦數倡狂怒氣衝。兩手緊兮寒與食。二關緩作痹和癃。虛濡微澀陰陽竭，洪滑不堪久病逢</p>
<h2>發言須當理</h2>
<p>病人問所便（問所便者，問其居處、動靜、陰陽、寒熱性情之宜也）。如問其為病熱，則便於用寒。問其為病寒，則便於用熱。嘗有居奧室之中、帷幔之內，甚則復以帛蒙首，不言所病，令人診候，若細問因由，便謂醫業不精。既不能望形色、聞聲音，又不能問病情，只憑切脈，以決百病之死生，苟非通明之士，何能若是。故醫者必須徐徐問其所苦何物，所思何物，所欲何物，所疑何物，年之少長，形之肥瘦，飲食起居若何，二便通塞若何，所發之始與今之方病。病經幾日，曾服過何藥。婦人室女須問經事若何。產後須問惡露有無多少。小兒但見憎寒壯熱，須問曾經發斑疹否。凡諸病痛，須問曾跌撲損傷否。此為大法，務要一一詳審，以彼所說，校吾所診，或同或異，以折衷之，則萬全之功，庶可收矣。</p>
<h2>引經藥</h2>
<p>手足太陽經，槁本羌活行。少陽厥陰地，總用柴胡去。手足陽明經，白芷升（麻）葛根。肺（白）芷升（麻）蔥（白）用。脾升（麻）白芍應。心經黃連使。腎獨加桂靈。分經用此藥，愈病即通神。</p>
<h2>用藥傳心賦</h2>
<p>用藥之妙，如將用兵。兵不在多，獨選其能，藥不貴繁，惟取其效，要知黃連清心經之客火。黃柏降相火之遊行。黃芩瀉肺火而最妙。梔子清胃熱而如神（炒黑止血）。芒硝通大便之結燥。大黃乃蕩滌之將軍①。犀角解乎心熱。牛黃定其膽驚。連翹瀉六經之火。菊花明兩目之昏。滑石利小便之結滯②。石膏瀉胃火之炎蒸。山豆根解熱毒而治喉痹。桑白皮瀉肺邪而利水停。龍膽治肝家之熱。瞿麥利膀胱之淋。鱉甲治瘧而治癖。龜板補陰而補心。茵陳治黃疽而利水。香薷治霍亂以清襟。柴胡退往來之寒熱。前胡治咳嗽之痰升。元參治結毒癰疽，清利咽膈。沙參補陰虛嗽，保定肺經。竹葉、竹茹治虛煩而有效。茅根、藕節止吐衄而多靈。苦參治發狂癰腫。地榆止血痢血崩。車前子利水以止瀉。瓜蔞仁降痰以清襟。秦艽去骨蒸之勞熱。丹皮破積血以行經。熟地補血而療損。生地涼血以滋陰。白芍藥治腹疼──補而收──而煩熱上除。赤芍藥通血瘀──散而瀉──而小腹可利。麥冬生脈以清心，上而止嗽。天冬消痰而潤肺，下走腎經。地骨皮治夜熱之勞蒸。知母退腎經之火沸。葛根止渴而解肌。澤瀉補陰而滲利。茲乃藥性之寒，投劑須當酌意。</p>
<p>又聞熱藥可以溫經：麻黃表寒邪之汗。官桂治冷氣之侵。木香調氣治腹痛。沉香降氣治腰疼。丁香止嘔，暖胃家之冷。藿香止吐，壯胃脘以溫。吳茱萸走小腹療寒疼。山茱萸壯腰腎以澀精。豆蔻、砂仁理胸中之氣食。腹皮、厚朴治腹內之脹膨。白豆蔻開胃口而去滯。元胡索治氣血而亦調經。附子回陽，救陰寒之藥。乾薑治冷，轉臟腑以溫。草果消溶宿食。檳榔去積推陳。蓯蓉壯陽而固本。鹿茸益腎而生精。鎖陽子最止精漏。菟絲子偏固天真。沒藥、乳香散血凝之痛。二醜、巴豆（二位相反）攻便閉之屯。紫蘇散風寒，子能降氣。川椒退蛔厥，核治喘升。五靈脂治心腹之血痛；大茴香治小腸之氣痛。此熱藥之主治，分佐使與君臣。</p>
<p>論及溫藥，各稱其能。甘草為和中之國老。人參乃補氣之元神。葶藶降肺喘而利水，苦甜有別③。茯苓補脾虛而利滲，赤白須分④。黃耆補衛而止汗。山藥益腎而開心。莪朮、三棱消積堅之痞塊。麥芽、神麯消飲食而寬膨。順氣化痰陳皮可用。寬中快膈枳殼當行。白朮健脾而去濕。當歸補血以調經。半夏治痰燥胃。枳實去積推陳。川芎治頭疼之要藥。桃仁破瘀血之佳珍。艾葉安胎而治崩漏。香附順氣而亦調經。杏仁止風寒之嗽。五味斂肺氣之升。防風乃諸風之必用。荊芥清頭目而療崩。山楂消肉食之積。細辛止少陰頭疼。紫薇花通經而墮胎。酸棗仁斂汗而安神。槁本止頭疼於巔頂之上。桔梗載藥物有舟楫之能。杜仲壯腰膝而補腎。紅花蘇血暈而通經。茲溫藥之性氣，學者必由是而遵循。</p>
<p>既已明於三者⑤，豈不悉舉其平。常山使之截瘧。阿魏用之消癥。防己、木瓜除下焦之濕腫。菖蒲、遠志通心腹之神明。壯腰膝莫如虎骨。定驚悸當用獲神。阿膠止嗽而止血。牡蠣澀汗而澀精。羌活散風，除骨節之疼。冬花止咳，降肺火之升。獨活、寄生理腳膝之風濕。薄荷、白芷散頭額之風疼。木賊、蒺藜退眼睛之浮翳。元明、海粉降痰火之升騰。青皮伐木。紫菀克金。五加皮消腫而活血。天花粉止渴而生津。牛蒡子清咽喉之不利。薏苡仁理腳氣之難行。琥珀安神而利水。朱砂鎮心而定驚。貝母開心胸之鬱，而治結痰。百合理虛勞之嗽，更醫蠱毒。升麻提氣而散風。牛膝下行而壯骨。利水須用豬苓。燥濕必當蒼朮。枸杞子明目以生精。鹿角膠補虛而大益。天麻治諸風之掉眩。木通治小便之秘澀。天南星最治風痰。萊菔子偏醫麵食。此乃藥性之提綱，用作傳心之秘術。</p>
<p>─────────────────────</p>
<p>①言大黃滌除腸道積滯，好象猛將一樣。</p>
<p>②結滯：指濕熱蓄於下焦以致小便不利。</p>
<p>③葶藶性寒，有苦、甜兩種。苦的下泄性急，甜的下泄之性緩。</p>
<p>④茯苓甘平淡，氣味俱薄，白的偏於補；赤的偏於利。</p>
<p>⑤三者：指寒、熱、溫三性。</p>
<h2>治病主藥訣</h2>
<p>頭疼必須用川芎，不愈各加引經藥：太陽羌活少柴胡，陽明白芷還須著，太陰蒼朮少細辛，厥陰吳茱用無錯。巔頂之痛人不同，槁本須用去川芎。肢節之疼用羌活，去風去濕亦其功。小腹痛用青皮治。心（下）痞黃連枳實從。腹痛須用白芍藥，因寒加桂熱黃柏。腹中窄狹蒼朮宜。脹膨厚朴薑製法。腹中實熱何所施，大黃芒硝功有力。虛熱虛汗用黃耆。肌膚浮熱黃芩宜。脅下疼痛往來熱，日晡①潮熱柴胡宜。脾胃受濕身無力，怠惰嗜臥用白朮。下焦濕腫兼火邪，知母防（己）龍（膽草）並酒（黃）柏。上焦濕熱用黃芩。中焦濕熱黃連釋。渴用干葛天花粉。半夏燥脾斯時禁②。嗽用五味喘阿膠。枳實黃連治宿食。胸中煩熱梔子仁。水瀉芍藥（茯）苓白朮。調氣必當用木香，若然氣盛又非良。補氣必須用人參，肺經有熱不相應。痰涎為病須半夏，熱加黃芩風南星，胸中寒痰多痞塞，白朮陳皮兩件增。胃脘痛用草豆蔻，若然挾熱（黃）芩（黃）連湊。眼痛黃連當歸根。驚悸恍惚用茯神。小便黃時用黃柏，澀者澤瀉加之靈。氣刺痛時須枳殼。血痛當歸上下分。痢疾當歸白芍藥。瘧疾柴胡為之君。血痛桃仁與蘇木。氣滯青皮與枳殼。枳殼青皮若用多，反瀉元氣宜改作。凡用純寒純熱藥，必用甘草緩其力，寒熱相雜亦用之，調和其性無攻擊，惟有中滿不食甘，臨症還須究端的。</p>
<p>─────────────────────</p>
<p>①晡：（bu1）（布、陰平）。下午三點到五點的時候叫日晡。</p>
<p>②半夏性燥，口渴不宜用。</p>
<h2>四君湯加減歌</h2>
<p>四君（人）參（白）朮茯苓（甘）草，補中益氣誠如寶。加入陳皮名異功（散），氣虛自汗黃耆好。方加橘（皮）半（夏）六君湯，健脾和胃無如此。香砂①配對食能消，嘔吐胃寒丁（香）藿（香）使。十全②四物四君兼，耆桂生薑大棗煎，滋血氣令脾胃壯，勞傷虛弱最為先。養榮湯③與十全同，五味遠陳要去芎。倦瘦少顏潮有汗，夢遺龍骨（牡）蠣（蓮）須逢。潮熱無汗當歸（白）芍，半夏柴胡葛粉著。自汗陳（皮）（黃）耆熟地當（歸），牡蠣烏梅酸棗（白）芍。心窩有汗別處無，生地陳（皮）（當）歸酸棗（仁）扶，麥冬白芍黃連炒，辰砂（烏）梅（大）棗四君（湯）符。勞倦辛苦身無熱，麥（冬）（五）味陳（皮）（黃）耆除茯（苓）歇。痞滿氣壅正氣虛，陳（皮）（當）歸木香砂仁列。健忘（黃）耆遠（志）木香菖（蒲），龍眼（肉）當歸酸棗（仁）良。頭疼吐水六君湯，（當）歸（黃）耆木香與炮薑。氣虛短促喘無痰，（人）參橘（紅）砂仁蘇子添，桑皮當歸薑（大）棗化，沉香磨水木香兼。霍亂止後頭身痛，口乾發熱肢虛纏，五味當歸柴（胡）白芍，烏梅梔子麥冬陳（皮）。體重酸疼兼嗜臥，口（淡）惡寒小便數，六君（湯）加上（白）芍（黃）連（黃）耆，澤瀉柴胡羌（活）獨（活）。肥人眩暈六君（湯）加，川芎（當）歸（黃）耆桔（梗）（白）芷天麻。遺濁四君（湯）加益智（仁），陳（皮）（黃）耆熟地（當）歸升麻。痞滿檳榔枳實黃連．目赤血壅龍膽（草）添。頭疼川芎蔓荊子。瀉加（白）芍澤（瀉）茯苓煎。汗多（黃）耆（白）朮（當）歸身好，以後加添俱不少，腦疼槁本細辛加，額疼升麻（白）芷葛（根）（甘）草。口渴咽干葛（根）（花）粉尋，有痰貝母最為尊，嗽加五味（子）桑皮是，不寐宜加酸棗仁。食傷食少加神麯，麥芽枳實山查炒。虛火上炎知（母）（黃）柏添，玄參加入服之好。內熱（黃）芩（黃）連花粉施，下身無力（杜）仲牛膝。腳弱木瓜防己加，身熱地黃生用之。驚悸怔仲遠（志）茯神，石菖（蒲）柏子（仁）並煎吞，麥冬五味（子）同酸棗（仁），山藥山萸總可尋。六君（湯）遠志薏米（當）歸，蓮肉山查山藥輝，桔（梗）（黃）連扁豆（黃）耆神麯，壯健元陽助脾胃。陰虛勞嗽去（人）參煎，小便如常白茯（苓）嫌，飲食惡餐宜服此，內傷勞役效通仙。脾為後天之本，又為萬物之母，方之加減，多利於脾也。</p>
<p>─────────────────────</p>
<p>①四君湯：人參、茯苓、白朮、甘草四藥組成。加陳皮名異功散。加橘皮、半夏名六君湯。加香附、砂仁名香砂六君湯。</p>
<p>②十全：十全大補湯。即四君湯和四物湯（當歸、生地、白芍、川芎）再加黃耆、肉桂、生薑、大棗。</p>
<p>③養榮湯：十全大補湯去川芎加五味子、遠志、陳皮名人參養榮湯。</p>
<h2>四物湯加減歌</h2>
<p>四物芎歸芍地黃，女科諸症最為良，調經養血醫虛損，胎產無如用此方。參朮茯甘號八珍，氣虛血弱稱功捷，十全加入桂黃耆，大補真元與血虛。弱加參蘇（飲）號補心（湯）①，心虛血少夢中驚，產後感寒宜服此，不須加減妙如神。晡時發熱本陰虛，方加知柏可全除②。骨蒸勞熱柴（胡）（黃）耆鱉（甲），知母仍須地骨皮。婦人經水適然來，似瘧原湯對小柴③。妊娠月水時時下，膠艾添之止漏胎④。經水過期為血少，倍加熟地酒黃芩。經因氣阻先為疼，香附莪（朮）（三）棱復自行。月經紫黑及先期，方入（黃）芩（黃）連共丹皮。受寒經瘀小腹痛，桃仁烏（藥）（香）附莫遲疑。瘦人血枯經水閉，桃仁增入本方治。肥人色談屬瘀痰，配合二陳（湯）為一劑。經水行來太去多，柴胡（黃）芩（黃）連（黃）柏可同科，尤加荊芥（炒黑）升（麻）羌（活）獨（活），升提其氣自安和。方加（人）參（白）朮能安胎，胎痛砂（仁）（紫）蘇鬱自開。腹大異常胎水病，心胸氣逆如鼓硬，鯉魚湯⑤煎朮茯苓，減地芎加薑橘應。胎氣不安胸膈脹，枳殼砂（仁）（紫）蘇即宣暢。孕婦心煩稱子煩，腹（皮）甘（草）梔（子）（黃）柏添為上。川芎（當）歸二味佛手散，臨產煎服可保生，若是難產生不下，草霜白芷一同行。薑炭善治產後熱，辛甘大能補心血，汗多方內減川芎，急服（人）參（黃）耆防風捷。產後血迷成血暈，惡露過多精神困，澤蘭（川）芎（人）參（當）歸（荊）芥甘（草），散號清魂定血暈。黑神（散）減（川）芎入（官）桂（黑）薑，炙甘（草）炒（黑）豆生蒲黃，淨露下胞除腹痛，酒煎童便效非常。產後如何惡露少，若無別病精神好，忽然寒熱腹中痛，選用黑神（散）真個巧。產後須當四物湯，大凡初產備焦薑，產後用（白）芍傷生氣，膩膈猶嫌熟地黃。腸滑地（黃）（當）歸皆可忌，汗多須將川芎去。血虛腹痛（白）芍還加，加減四物（湯）深藏秘。</p>
<p>─────────────────────</p>
<p>①四物湯合參蘇飲（人參、紫蘇、葛根、前胡、半夏、赤苓、枳殼、苦桔梗、陳皮、甘草）名補心湯。</p>
<p>②本方加知母、黃柏，名知柏四物湯。</p>
<p>③即四物湯合小柴胡湯。</p>
<p>④四物湯加阿膠、艾葉，名膠艾四物湯，治崩漏下血。</p>
<p>⑤鯉魚湯：鯉魚、白朮、茯苓、當歸、芍藥、橘紅、生薑。</p>
<h2>二陳湯加減歌</h2>
<p>二陳橘半茯苓草①，清氣化痰為至寶。膈上不寬加枳（實）桔（梗），火旺生痰（黃）芩（黃）連好。（人）參（白）朮加名六君湯，健脾和胃無如此。</p>
<p>─────────────────────</p>
<p>①二陳湯：陳皮、半夏、茯苓、甘草四藥組成。</p>
<p>中寒痰去了（人）參，香（附）砂（仁）炒用皆能止。飲食過飡①不克消，麥（芽）（神）曲山查厚朴調，再加枳實黃岑炒，何愁體虛胃脾弱。咳嗽生痰分寒熱，熱加（黃）岑（黃）連並枳（殼）桔（梗），寒痰枳（殼）砂（仁）配原方，化氣胸中痰自滅。風寒外感嗽何辜，二陳（湯）枳（殼）桔（梗）與前胡，蘇（梗葉）葛（根）杏（仁）桑（皮）能清肺，木香調氣號參蘇（飲）。二陳半夏性本燥，血虛發渴皆不要，四物湯中不必加②，貝母代之專奪效。又有風痰疾病生，天麻白附（子）皂（角子）南星③。濕痰在胃身多軟，二朮仍須配二陳（湯）。火鬱胸中老痰結，滯在喉中咯不絕，瓜萎香附桔（梗）（黃）連（枳）殼，少佐元明（粉）痰自滅。痰在經絡及四肢，薑汁還將竹瀝施。脅間白芥（子）痰自除，脾胃有痰須枳實。溫膽湯加竹茹（枳）實④，寧神豁痰為第一。若加枳實共南星，湯號導痰⑤能利膈。去（甘）草陳皮七氣湯⑥，加添（紫）蘇（厚）朴與（大）棗（生）薑，散鬱消痰兼理氣，</p>
<p>─────────────────────</p>
<p>①飡：與餐同。</p>
<p>②四句是說：血虛咳嗽，雖然有痰．但因口渴。不宜用辛燥藥。用二陳湯去半夏，加貝母，合四物湯。</p>
<p>③風痰，用二陳湯加天麻、白附子、皂角子、南星。濕痰用二陳湯加蒼朮、白朮。</p>
<p>④二陳湯加竹茹、枳實名溫膽湯。</p>
<p>⑤二陳湯加枳實、南屋名導痰湯。</p>
<p>⑥二陳湯去甘草、陳皮，加紫蘇、厚朴、生薑、大棗名七氣湯，也叫四七湯。</p>
<p>妊娠惡阻①用之良。嘔血皆因胃火熾，脈來洪數嘔連綿，急用二陳（湯）加枳實，竹茹薑汁炒黃連。若還藥石難吞下，檳榔少許木香煎。五六日來嘔不休，心中脹悶手難揉，多加枳（實）（厚）朴（黃）芩（黃）連（白）芍，便秘（芒）硝（大）黃一服瘳。嘈雜噯氣一般看，胸中積熱與停痰，石膏香附並（南）星藿（香），二陳（湯）加減有何難。悶脹吞酸與吐酸，本方加入炒萸連。水停心下名為飲，枳（實）茯（苓）豬苓利二便。此是二陳（湯）加減方，休將浪與及輕傳。</p>
<p>─────────────────────</p>
<p>①惡阻：懷孕後嘔吐叫惡阻。</p>
<h2>小柴胡湯加減歌</h2>
<p>柴胡半夏（人）參（黃）芩（甘）草，少陽經病誠為寶，往來寒熱日晡時，嘔而脅痛用之好。本經合病在陽明，口渴而煩乾嘔頻，目痛鼻乾眠不得，葛根知（母）（白）芍炒黃芩。心中痞滿熱猶盛，枳（實）桔（梗）加之有功效。若還痞滿不能寬，小陷胸湯②可兼併。汗少唇焦口乾渴，飲水無休倚（黃）連（乾）葛，若還不解卻如何？竹茹石膏加一撮。汗後渾身壯熱煩，妄言乾嘔更呻吟，黃連解毒（湯）同煎食，一服頃刻即太平。煩渴瀉利熱又增，卻用原方配四苓（散），若是發黃小便赤，（黃）芩（黃）連知（母）（黃）柏再加增。</p>
<p>─────────────────────</p>
<p>②小陷胸湯見16頁。</p>
<p>大便硬兮口渴涸，黃連厚朴瓜蔞（枳）殼；若還便結不通時，大柴胡湯①用無錯。身熱惡風口不乾，本方須合桂枝湯②。若是唇焦煩渴甚，石膏知母（湯）③配原方④。胸煩不嘔減（半）夏（人）參，本方倍入瓜蔞仁。渴除半夏加知（母）（花）粉。腹痛加（白）芍去黃芩。脅熱腹痛（黃）連（白）芍炒。痰多貝母瓜蔞保。嘔加薑汁竹瀝陳（皮）。咳嗽須加五味好。脅下硬痛加青（皮）（牡）蠣。茯（苓）主溺難心下悸。痞而胸脅脹滿時，（牡）蠣及乾薑書家秘。胸滿而咳去（人）參（大）棗，須加五味（子）乾薑好。津虛發熱多飲水，麥（冬）（五）味（子）加之（人）參去了。胃虛不實大便溏，芍藥豬苓兩物幫。遺精不固陰虛弱，牡蠣還添知（母）（黃）柏良。潮熱不渴欲近衣，減卻人參用桂枝。春溫發熱嗽而渴，五味（子）瓜蔞去半（夏）宜。溫病惡熱不惡寒，柴（胡）（人）參去了茯苓攢，桂枝葛（根）（白）芍升麻（大）棗，咽疼還須甘（草）桔梗嘗。過經⑤胸脅滿嘔潮，柴胡湯內加芒硝。溫瘧渴煩兼惡熱，石膏知母（湯）（小）柴胡（湯）調。傷寒日久為過經，表裏俱無用此行，若是邪多元氣弱，重加麥（冬）（五）味及人參。</p>
<p>─────────────────────</p>
<p>①大柴胡湯見15頁。</p>
<p>②桂枝湯見15頁。</p>
<p>③石膏知母湯（舊名白虎湯〕見15頁。</p>
<p>④原方；指小柴胡湯。</p>
<p>③過經：《傷寒論》「傷寒十三日不解，胸脅滿而嘔…潮熱者實也，先以小柴湯以解外，後以柴胡加芒硝湯主之」。</p>
<p>痊後又因勞食復，壯熱心悸痰氣促，還須溫膽（湯）配原方①，急服令人愈最速。發熱晝安而夜劇，名為邪熱入血室，牡丹（皮）生地（黃）柏（黃）連梔（子），知母當歸還可給。若還晝劇而夜安，知母（黃）連梔（子）地骨（皮）看。日夜潮熱俱不退，方加四物（湯）共梔（子）（黃）連。汗後津枯二便秘，除卻半夏加生地，（黃）芩（白）朮陳（皮）（當）歸（白）芍麥冬，若還燥甚煩他治。主方何以柴（胡）（黃）芩列？味苦以發轉邪熱，止嘔除痰半夏宜，性能下氣味辛烈。表不足兮緩以甘，人參甘草緩中央。調和營衛須薑棗，和解無如用此良。</p>
<p>─────────────────────</p>
<p>①原方：指小柴胡湯</p>
<h2>平胃散加減歌</h2>
<p>平胃陳（皮）蒼（朮）厚（朴）（甘）草尋，健脾燥濕用調停，胸前飽悶如傷食，嘈雜吞酸總可行。飲食失節脾胃傷，香（附）砂（仁）枳實木香幫。食積麥芽神麯炒，肉積山查草果良。生冷瓜果如停滯，更入乾薑青皮是。酒傷（黃）連葛（花）烏梅加。嘔吐丁（香）（烏）海藿（香）半（夏）記。熱積停兮便不通，檳榔枳實大黃攻。若還冷積難消化，（乾）薑（肉）桂莪（朮）三棱巴豆供。濕熱相蒸口作酸，香（附）砂（仁）還要炒黃連，吳萸梔（子）枳（實）同煎入，嘈雜須加（川）芎（白）芍餐。異鄉水土不相宜，加入香（附）砂（仁）藿（香）半（夏）奇，吐瀉更添（茯）苓（白）朮好，炒苡（仁）山藥及烏梅。泄瀉如逢穀不化，五苓①配合真無價。食停倒飽是脾虛，異功②更人香砂下。霍亂吐瀉用何方？去蒼（朮）換白（朮）二陳襄，腹皮紫蘇藿香（白）芷，生薑大棗水煎嘗③。轉筋再用木瓜幫，腹痛還宜（白）芍木香．冷痛乾薑加肉桂，痞滿青皮枳實良。不吐不瀉干霍亂．本方加入香（附）砂（仁）拌，木香枳（殼）（肉）桂藿（香）（乾）薑（紫）蘇，腹中硬痛檳（榔）（山）查驗。胃寒嘔吐入丁香，肉桂乾薑用最良，虛汗唇青四肢冷，去除加附（子）及茴香。</p>
<p>─────────────────────</p>
<p>①五苓散：茯苓、豬苓、白朮、澤瀉、桂，與平胃散配合，名胃苓湯。</p>
<p>①異功散：人參、茯苓、白朮、陳皮、甘草，主要作用在溫中和氣；與平胃散、香附、砂仁配合，成為溫中、補脾、燥濕、化食的方劑。</p>
<p>②平胃散去蒼朮，加白朮、半夏、茯苓、大腹皮、紫蘇、藿香、白芷、生薑、大棗，名藿香正氣散。治霍亂吐瀉。</p>
<h2>病因賦</h2>
<p>夫百病之生也，各有其因，因有所感，則顯其症。症者病之標；因者病之本。故《內經》有曰：「知標本者，萬舉萬當。未知標本，是謂妄行」。蓋百病皆生於六氣，諸症莫逃乎四因。傷寒症傳變六經，必須熟認。瘟疫病感冒四氣，務要先明。內傷脾胃者，辨有餘與不足。外感熱病者，知夏熱與春溫。卒中風因有四端，治分三中。破傷風原有三種，治別三經。中暑有動靜之異。受濕有內外之分。火有七說，痰有十因，氣有九論，鬱有六名。瘧犯暑風，更兼痰食。痢因濕熱，及受積停。嘔吐者，胃氣逆而不下。泄瀉者，脾氣傷而不平。霍亂，脾寒傷食所致。痞滿，脾倦積濕而成。呃逆者，胃氣之不順。咳嗽者，肺氣之不清。噯氣皆由於痰火。咽酸盡為乎食停。中滿臌脹者，脾虛不運。噎膈翻胃者，氣食相凝。喘急有虛有實。痙症有陰有陽。五積六聚，總是氣凝其痰血。五勞六極，皆是火爍乎天真。吐血出於胃腑。衄血本乎肺經。痰涎血，屬於脾臟。咯唾血，屬於腎經。牙宣者，陽明之熱極。舌衄者，少陰之火生。腹中窄狹，而痰火各別。胸中煩熱，而虛實可分。驚悸，痰迷恐懼所致。健忘，血少憂鬱而成。癲狂者，分心肝之熱極。癇症者，尋痰火之重輕。便濁有赤白之異。汗出有自盜之名。九種心疼，痛在胃脘。七般疝氣，病在厥陰。脅痛有兩邊之別。頭風有左右之分。腰痛腎虛而或閃挫。腹痛寒氣而或食停。痿症不足與濕熱。痹症寒濕與風乘。四種遺精，心腎不能既濟。五般黃疸，濕熱薰蒸而成。眩暈者無痰不作。消渴者無火不生。不寐者，痰火旺而血少。多睡者，脾胃倦而神昏。大便秘乃血液燥結。小便閉乃氣滯不行。痔疾、腸風濕熱所致。發斑、癮疹風熱所成。耳聾者腎虛之故。目疾者肝火之因。齒疼乃胃熱蟲蛀、喉痹乃火動痰生。鼻塞者肺氣之不利。口瘡者脾火之遊行。女人經水不調皆是氣逆。婦人心煩潮熱多是鬱生。帶下沙淋由於濕熱。崩漏下血為損任衝。胎孕不安治有二理。產後發熱原有七團。茲有七十四種之病，略舉其概而賦云。欲知其備，後論詳明。看方猶看律，用藥如用兵，機無輕發，學貴專精。</p>
<h2>百病皆生於六氣</h2>
<p>六氣者，風、熱、濕、火、燥、寒也。《原病式》①云：「諸暴強直②、支痛③，緛戾④、裏急、筋縮，皆屬於風。足厥陰風木乃肝膽之氣也。</p>
<p>─────────────────────</p>
<p>①《原病式》：即《素間玄機原病式》。是劉河間根據《素問》及王大僕注摘輯。</p>
<p>②暴：突然。強直：肌肉僵硬，屈轉不便。</p>
<p>③支痛：筋肉拘攣，不柔作痛，須忍痛支持。</p>
<p>④緛：ruan3（音軟）。當縮字講。戾：是乖戾。緛戾：是說筋縮裏急、乖戾失常。</p>
<p>諸病喘、嘔、吐酸、暴注、下迫①、轉筋、小便混濁、腹脹大鼓之如鼓、癰疽瘍疹、瘤氣②結核、吐下霍亂、瞀鬱、腫脹、鼻窒③鼽衄④、血溢、血泄⑤、淋秘⑥、身熱惡寒、戰慄、驚惑、悲笑譫妄、</p>
<p>衄蔑血污⑦，皆屬於熱。少陰君火乃真心小腸之氣也。</p>
<p>諸痙強直、積飲、痞隔中滿、霍亂吐下，體重胕腫肉如泥按之不起，皆屬於濕。足太陰濕土乃脾胃之氣也。</p>
<p>諸熱瞀瘛⑧、暴瘖⑨、冒眛⑩、躁擾⑾、狂越⑿、罵詈驚駭、胕腫疼酸、氣逆衝上、禁栗⒀如喪神守、</p>
<p>─────────────────────</p>
<p>①暴注：突然暴瀉。下迫：腹痛下墜、窘迫急痛。</p>
<p>②瘤氣：也叫赤瘤丹。</p>
<p>③窒：zhi4（音至）。鼻窒：鼻塞不通。</p>
<p>④鼽：qiu1（音裘）。鼻流清涕。衄：在這是鼻孔流血。</p>
<p>⑤血溢：血從上竅而出。血泄：血從大小便而出。</p>
<p>⑥淋：小便淋澀。秘：大便秘結。</p>
<p>⑦蔑：mie4（音滅）。汙：wu1（音烏）。衄蔑血污：是衄出黑血。</p>
<p>⑧瞀瘛：miaoqi4（音冒氣）。神昏抽搐。</p>
<p>⑨瘖：yin1（音音）。暴瘖：驟然聲啞說不出話來。</p>
<p>⑩冒眛：昏憒的意思。</p>
<p>⑾躁擾：煩熱躁動，擾亂不寧。</p>
<p>⑿狂越：精神錯亂，言行失常。</p>
<p>⒀禁栗：口噤戰慄。</p>
<p>嚏、嘔、瘡瘍、喉痹、耳鳴及聾、嘔湧①溢食不下、目眛不明、暴注、瞤瘛②、暴病暴死，皆屬於火。手少陽相火之熱乃心包絡三焦之氣也。</p>
<p>諸澀枯涸、乾勁皴揭③，皆屬於燥。手陽明燥金乃肺與大腸之氣也。</p>
<p>諸病上下所出水液澄澈清冷、癥瘕、㿗疝、堅痞、腹滿急痛、下利清白、食已不饑、吐利腥穢、屈伸不便厥逆禁固④；皆屬於寒。足太陽寒水乃腎與膀胱之氣也。」</p>
<p>風有風寒、風熱。風寒者，發散祛風，則風自解。風熱者，疏散熱鬱，則風自平。熱有虛熱、實熱、熱鬱。虛熱者補之，實熱者泄之，鬱熱者散之。濕有寒濕、風濕、濕熱、濕氣。寒濕者熱藥燥之，風濕者風藥勝之，濕熱者寒藥清利之，濕氣者氣藥通暢之。寒有內寒、外寒、虛寒。內寒者溫中為急，外寒者發表為先，虛寒者壯陽兼固本。燥有熱燥、寒燥、風燥。熱燥者清熱，寒燥者溫經，風燥者祛風，亦必以養血潤燥之藥為君。</p>
<p>─────────────────────</p>
<p>①湧：東西向上升。</p>
<p>②瞤（音閏）。瞤瘛：肌肉跳動抽搐。</p>
<p>③皴：cun（音村）。皴揭：皮膚啟裂。</p>
<p>④厥逆禁固：四肢逆冷，屈伸不便。</p>
<h2>諸症莫逃乎四因</h2>
<p>四因者，氣、血、痰、食也。丹溪①治病：用四君湯以治氣，四物湯以治血，二陳湯以治痰，平胃散以治食，多用此四方為主，更參以鬱法治之，故藥不繁，而多中於病。</p>
<h2>傷寒症傳變六經必須熟認</h2>
<p>霜降以後春分前，傷寒即病六經②傳，傳過六經當自愈③，請觀素問④不虛言。若然兩感傷寒症，一日兩經表裏病，水漿不入不知人，六日之間當殞命。是故傷寒不服藥，待過七日無差錯；七日之中一劑差，變成壞症終耽擱。陽盛格陰①須細察，陰盛格陽②必須研。表裏陰陽明的確，汗、溫、吐、下用無偏。</p>
<p>─────────────────────</p>
<p>①丹溪：朱震亨、字彥修。元、義鳥人，學者尊之曰丹溪翁。發明相火的根源，為陽常有餘陰常不足之論。著有《宋論》、《格致餘論》、《局方發揮》、《傷寒論辯》、《外科精要發揮》《本草衍義補遺》、《金匱鉤玄》、《脈訣指掌病式圖說》、《活法機要》、《脈因證治》等書。門人又集其緒論，為《丹溪心法》、《丹溪醫要》、《丹溪治法》、《丹溪治法心要》等書。</p>
<p>②六經：太陽、少陽、陽明、太陰、少陰、厥陰。</p>
<p>③傳過六經當自愈，指傳過六經，險期已過。可不藥而愈也。「是故傷寒不服藥，待過七日無差錯」之意亦同。</p>
<p>④《素問》：是我國古老的一部醫書，與《靈樞》合稱《黃帝內經》。作者姓名不詳，據後人考證，認為是戰國時候的作品。</p>
<h2>太陽經證用藥訣</h2>
<p>太陽經證惡寒先，身熱頭疼脊痛連。有汗傷風脈浮緩③，無汗傷寒脈緊弦。無汗麻黃湯可汗，汗多宜以桂枝④煎，時藥香蘇（飲）加減用，對經中病即時痊。初病原來是太陽，即宜發表便安康，若然誤用陽明藥，引入肌中熱不涼。</p>
<h2>陽明經證用藥決</h2>
<p>陽明經證熱如湯，不惡寒兮減去裳⑤，目痛鼻乾眠不得，脈浮洪滑數而長，法用解肌微取汗，升麻葛根（湯）最為良。太陽傳症到陽明，劑用升麻③病即輕，若犯小柴胡一劑，邪即傳入少陽經。</p>
<p>─────────────────────</p>
<p>①陽盛格陰：是由於陽氣太盛，致陰氣不得相入。內裏雖是真熱，外面卻現身肢厥冷等假寒之象。</p>
<p>②陰盛格陽：是由於陰氣太盛，致陽氣不得相入．內裏雖是真寒，外面卻現面赤發熱面煩等假熱之象。</p>
<p>③有汗傷風句：是指仲景《傷寒論》裏的中風而言。其症：發熱汗出、惡風、脈浮緩……。</p>
<p>④桂枝煎：煎桂枝湯也。</p>
<p>⑤減去裳；脫去衣服。是形容病人不惡寒反惡熱。</p>
<p>⑥劑用升麻：是指的升麻葛根湯。</p>
<h2>少陽經證用藥訣</h2>
<p>少陽寒熱往來更，口燥咽乾胸脅疼，乾嘔脈弦兼重聽①，小柴和解即安寧。陽明傳入少陽經，一劑柴胡熱便清；若用麻黃重發汗，變為蓄血反蒸蒸②。少陽經證未全除，若用將軍③下即虛，痞氣結胸從此致，請君臨症莫含糊。</p>
<p>─────────────────────</p>
<p>①重聽：耳聾。</p>
<p>③蒸蒸：發熱的作於。</p>
<p>③將軍：大黃的別名。此處是指一切峻瀉藥說的。並非單指大黃。</p>
<h2>太陰經證用藥訣</h2>
<p>太陰經證當惡熱，脈沉有力來無歇，舌苔氣急煩躁增，石（膏）知（母）（湯）投之休膽怯。太陰惡熱煩躁並，口乾舌苔心下悶，二便自利病居中，黃連瀉心湯最應。太陰惡熱多口渴，煩躁腹滿大便數，黃芩芍藥兩相須，更加甘草和中藥。太陰經證身惡熱．更兼腹痛將危絕，腹部連朝結不通，桂枝大黃湯最捷。太陰經證表尚熱，內有煩躁便且結，腹中滿悶舌中苔，大柴胡湯登時捷。</p>
<h2>少陰經證用藥訣</h2>
<p>少陰經證身體涼，惡熱煩躁手足揚，口渴舌苔腹滿硬，大小便秘語言狂，或為下利純清水，此皆邪熱胃中藏，法用苦寒攻下劑，急投三味小承湯。</p>
<h2>厥陰經證用藥訣</h2>
<p>厥陽經證身厥冷，煩躁去衣腹滿硬，舌卷囊縮氣上衝，發狂譫語將殞命。寄語醫家不用忙，要知生死脈中詳，生脈來時沉有力，大承急下即安康；死脈來時微且亂，若然投劑即乖張。</p>
<p>三陰厥逆之症，實非真寒，乃假寒也。外雖厥冷，內有實熱。內經云：亢則害、承乃制。熱極反兼寒化，陽盛格陰，熱深厥亦深也。表雖厥冷，非比太陽惡寒之症。如初病太陽，後次第傳至三陰，必先揚手擲足、揭去衣被、狂亂不甯、大小便秘結，復至沉靜厥逆。醫家至此，不可不察病情，誤投熱藥，殺人不遠。</p>
<h2>直中三陰真寒證用藥訣</h2>
<p>元氣衰微邪易侵，寒邪直中入三陰。三陰經證須分治，慎勿模糊不用心。</p>
<p>太陰直中惡寒時，脈息沉遲弦滑微，肚腹疼來兼吐瀉，理中一盞急須施。太陰直中身惡寒，更兼發熱瀉難安．頭疼體痛並腹痛，桂枝參朮炒薑甘。太陰直中脈沉微，四肢厥逆痛如笞①，面色淒淒神不足，大小便利四逆宜。</p>
<p>少陰直中體惡寒，發熱頭疼面色蒼，身如被杖②且無汗，麻黃附子細辛湯。此症分明似太陽，如何又作少陰詳？只因脈息沉遲澀，故與溫經發表湯。少陰直中惡寒風，身熱頭疼體痛凶，口不渴兮身有汗，桂枝附子甘草從。此症如何作少陰？脈沉微弱惡寒深，外雖有熱非真熱，陰盛格陽當記心。</p>
<p>─────────────────────</p>
<p>①笞：chi1（音癡）。古時拷打犯人的竹杖子。痛如笞：疼痛的象被笞刑拷打了一樣。</p>
<p>②杖：舊時刑具的一種。身如被杖：是說身體疼痛的象受了杖刑一樣。</p>
<p>直中厥陰身厥冷，小腹疼痛連陰莖，脈息沉遲弦且微，當歸四逆湯宜審。</p>
<p>直中三陰寒證，惡寒身不熱、色青、不渴、大小便自利、其脈沉遲，人皆可知。如或反常，實難知也。如身熱面赤、大小便自利、口乾，醫家至此，但當察其脈勢雖大，來意虛豁力薄，不竭；或沉遲弦滑而微，形氣有不足之象，俱為寒症。或服涼藥太過身熱不退亦然。此非真熱，乃假熱也。蓋因寒邪太盛，逼出虛火，遊行於外。《內經》云陰盛格陽，若不用心審察而用苦寒之劑，決死無疑。大抵傷寒症，陽證見陰脈死；陰證見陽脈生。蓋傷寒之邪，乃外來之邪，必得元氣相敵。元氣屬陽，故見陽脈而生。見陰脈而死，元氣絕也。陽春脈大而有力不亂，陰者脈小而虛微至亂。</p>
<p>調治傷寒之法，先須識症，察得陰陽、表裏、寒熱、虛實，親切復審，汗、吐、下、溫、和解之法治之，庶無差錯。先觀兩目或赤、或黃，次看口舌有無苔狀，後以手按其心胸至小腹有無痛滿，再問其所苦、所欲、飲食起居、大小便通利若何、並服過何藥、曾經汗下否，務使-一明白，脈症相對，然後用藥，庶幾無差。</p>
<p>（一）看傷寒先觀兩目，或赤或黃。赤為陽毒，六脈洪大有力燥渴者，輕則三黃石膏湯，重則大承氣湯。</p>
<p>（一）再看口舌有無苔狀：舌白色者，邪未入裏，屬半表半裏，宜小柴胡湯和解。舌上黃苔者，胃腑有邪熱，宜調胃承氣湯下之。大便燥實、脈沉有力而大渴者，方可下。舌上黑苔生芒刺者，是腎水克於心火也，急用大承氣湯下之，此邪熱已極也。</p>
<p>凡傷寒舌苔厚燥，用井水浸青布片子，於舌上洗淨後，用生薑片子時時浸水刮之，其苔自退。</p>
<p>（一）次以手按其心胸至小腹有無痛處：</p>
<p>（1〕若按心下硬痛手不可近。燥渴譫語，大便實，脈沉實有力，為結胸證，急用大陷胸湯加枳殼、桔梗下之。</p>
<p>（2）若病人自覺心胸滿悶，按之而不痛者，為痞滿也，宜瀉心湯加枳殼、桔梗，其效如神。</p>
<p>（3）若按之小腹硬痛，當問其小便通利否。如小水自利、大便黑，兼或身黃、譫語、燥渴、脈沉實者，則知蓄血在下焦，宜桃仁承氣湯。下盡黑物則愈。</p>
<p>（4）若按之小腹脹滿不硬痛，小便不利，則知津液留結即溺澀也。宜五苓散加木通、梔子利之；亦不可太利，恐耗竭津液也。</p>
<p>（一）凡治傷寒若煩渴欲飲水者，因內水消竭，欲得外水自救。大渴欲飲一升，僅可與一碗，寧令不足，不可太過。若恣飲過量，使水停心下，則為水結胸；若水射於肺，為喘、為咳；留於胃，為噎、為噦，溢於皮膚，為腫；蓄於下焦，為癃；滲於腸間，則為利下，皆飲水多之過也。不可不與，又不可強與，與之常令不足為宜。</p>
<p>（一）凡治傷寒若經十余日以上尚有表證宜汗者，以羌活沖和湯微汗之。十餘日若有裏證宜下者，以大柴胡湯下之。蓋傷寒過經，正氣多虛，恐麻黃承氣①太峻。誤用麻黃，令人亡陽；誤用承氣，令人不禁。若表證尚未除，而裏證又急，不得不下者，只可用大柴胡湯通表裏而緩治之。又老弱及氣血兩虛之人有下證者，亦用大柴胡湯下之，不傷元氣。如其年富力盛者，不在此例，從病制宜。</p>
<p>─────────────────────</p>
<p>①麻黃承氣：麻黃湯、承氣湯。</p>
<p>（一）若先起頭疼發熱惡寒，以後傳裏，頭疼惡寒皆除，而反怕熱，發渴譫語。或潮熱自汗，大便不通。或揭去衣被，揚手擲足。或發斑黃狂亂。此為陽經自表傳入陰經之熱證，俱當攻裏之藥下之。設或當下失下而變症出，手足乍冷乍溫者，因陽極發厥，即陽證似陰，名曰陽厥，外雖厥冷，內有熱邪，以承氣湯下之。又有失於汗下，或本陽證誤投熱藥．使熱毒深入，陽氣獨盛，陰氣暴絕，登高而歌，棄衣而走，詈①罵叫喊，燥渴欲死，面赤眼紅，身發斑黃，或下利純清水，或下利黃赤，六脈洪大，名陽毒發斑證，輕則消斑青黛飲，重則三黃石膏湯去麻黃、豆鼓，加大黃、芒硝下之。令陰氣復而大汗解矣。</p>
<p>（一）病初起無頭疼，無身熱，就便怕寒，四肢厥冷，腹疼吐瀉，引衣蜷臥，不渴，或戰慄，面如刀刮，口吐涎沫，脈沉細無力．此為寒邪直中陰經，即真寒證。不從陽經傳來，當用熱藥溫之。如寒極手足厥冷過肘膝者，因寒極發厥，謂之陰厥。宜四逆湯溫之。</p>
<p>─────────────────────</p>
<p>①詈：li（音利）。罵也。</p>
<p>（一）凡腹滿腹疼皆是陰證，只有微甚不同，難以一概施治。腹疼不大便，桂枝加芍藥湯；腹痛甚者，桂枝大黃湯。若自利腹疼，小便清白，當溫之，理中湯、四逆湯。看微甚用藥，輕者五積散，重者四逆湯。</p>
<p>（一）又有初起外感寒邪、內傷生冷，內既伏陰，內外皆寒。或本真陰，誤投涼藥，陰氣獨盛，陽氣暴絕。以致病起即手足厥冷、腰背強重、頭疼眼眶疼、嘔吐煩悶、下利腹痛，身如被杖、六脈沉細、渴不思飲。以後毒氣漸深，入腹攻心，咽喉不利，腹痛轉甚，心下脹滿、結硬如石，燥渴難忍，冷汗不止，或時鄭聲，指甲青黑，此名陰毒症，速灸關元、氣海二、三十壯（關元穴在臍下三寸、氣海穴在臍下一寸五分）。或蔥熨臍中，內服回陽急救湯。令陽氣復而大汗解矣。</p>
<p>（一）傷寒發狂奔走人難制伏，宜於病人室中生火一盆，將好醋一大碗澆於火上，令病人聞之即安。</p>
<p>（一）傷寒鼻衄不止，用水紙搭於頂門，再用梔子炒黑為細末，吹入鼻內，其血即止、然成流久不止者，方可用此方。如點滴不成流者，邪在經未除，不可用此法。</p>
<p>（一）傷寒與傷暑俱有發熱，當明辨之。蓋寒傷形；暑傷氣。傷寒則惡寒而脈緊；傷暑則惡熱而脈虛。以此為異。</p>
<p>（一）凡入瘟疫之家，以麻油塗鼻孔中，則不相傳染。既出以紙拈探鼻深入，令嚏之為佳。又方以雄黃、蒼朮為細末，香油調敷鼻內。或單用雄黃末，水調塗鼻內，雖與病人同臥，亦不傳染。</p>
<p>麻黃湯</p>
<p>麻黃湯桂枝，杏仁甘草施，傷寒無汗症，發表不宜遲。</p>
<p>桂枝湯</p>
<p>桂枝湯芍藥，棗薑甘草著，發散衛間邪，傷寒自汗卻①。</p>
<p>─────────────────────</p>
<p>①卻：除掉的意思。傷寒自汗卻：是說桂枝湯適用於傷寒發熱</p>
<p>惡風汗自出者。</p>
<p>香蘇飲</p>
<p>香蘇飲紫蘇，香附宜多用，陳皮共甘草，表裏盡和平。</p>
<p>葛根湯</p>
<p>葛根湯芍藥，甘（草）桂（枝）麻黃加，太陽合陽明，無汗應鬚髮。</p>
<p>升麻葛根楊</p>
<p>升麻葛根湯，芍藥甘草幫，陽明身發熱，一服即平康。</p>
<p>石膏知母湯</p>
<p>石膏加知母，甘草粳米熬，渴煩並氣急，脈實正相招。</p>
<p>黃連瀉心湯</p>
<p>黃連瀉心湯，一味五錢煎，燈心二十條，煩熱即平安。</p>
<p>黃芩湯</p>
<p>黃芩湯芍藥，甘草須共著，大棗用二枚，熱服有奇效。</p>
<p>桂枝加大黃湯</p>
<p>桂枝大黃湯，芍（藥）（甘）草棗薑煎，太陰腹滿疼，便秘用之安。</p>
<p>大柴胡湯</p>
<p>大柴胡半（夏）（黃）芩，芍藥安脾經，大黃共枳實，一解一通行。</p>
<p>小承氣湯</p>
<p>小承氣大黃，厚朴枳實襄，便鞕胸痞滿，微下即安康。</p>
<p>大承氣湯</p>
<p>大承氣（芒）硝（大）黃，枳（實）（厚）朴四般安，痞滿燥實症，潮熱盡能痊。</p>
<p>理中湯</p>
<p>理中湯白朮，（人）參（炮）薑甘草炙，吐瀉腹中疼，脈沉寒氣疾。</p>
<p>桂枝人參湯</p>
<p>桂枝人參甘（草），白朮乾薑兼，中寒身發熱，腹痛瀉能痊。</p>
<p>四逆湯</p>
<p>四逆湯附子，炮薑甘草炙，寒症脈沉微，助起三陽熾。</p>
<p>麻黃附子細辛湯</p>
<p>麻附細辛湯，寒中少陰方，脈沉身發熱，怕冷面色蒼。</p>
<p>桂枝附子湯</p>
<p>桂枝附子湯，炙草三味強，少陰頭體疼，薑棗是良方。</p>
<p>黃耆建中湯</p>
<p>黃耆建中湯，止汗是良方，桂枝甘（草）芍藥，薑棗及飴糖。</p>
<p>小半夏加茯苓湯</p>
<p>半夏茯苓湯，生薑搗汁良，水停心下症，一服即安康。</p>
<p>附子瀉心湯</p>
<p>附子瀉心湯，（黃）芩（黃）連與大黃，惡寒汗不止，心下痞相當．</p>
<p>小陷胸湯</p>
<p>小陷胸黃連，瓜蔞半夏煎，結胸捫摸疼，除熱去痰涎。</p>
<p>大陷胸湯</p>
<p>大陷胸甘遂，（芒）硝（大）黃俱下墜①，大結②痛難禁，服此登時退。</p>
<p>─────────────────────</p>
<p>①硝黃俱下墜：是說芒硝、大黃都有瀉下的作用。</p>
<p>②大結：即大結胸證。從心下至少腹，鞕滿而痛手不可近的，叫做大結胸。</p>
<p>黃連解毒湯</p>
<p>黃連解毒湯，梔（子）（黃）芩（黃）柏四良，大黃除熱毒，便血厥陰狂。</p>
<p>化斑湯</p>
<p>發斑煩躁渴，宜用化斑湯，石膏知母×（超星版看不清該字）犀角，元參合一方。</p>
<p>茵陳蒿湯</p>
<p>傷寒身發黃，茵陳蒿最良，大黃梔子共，通利即安康。</p>
<p>桃仁承氣湯</p>
<p>桃仁承氣湯，蓄血症如狂，桂枝同甘草，芒硝與大黃。</p>
<p>枳實梔子湯</p>
<p>梔子豆鼓湯，枳實三味強，能醫勞復熱，其實是良方。</p>
<p>溫膽湯</p>
<p>溫膽湯二陳①，竹茹枳實增，病後不能睡，虛煩即安寧。</p>
<p>─────────────────────</p>
<p>①二陳：即二陳湯（半夏、陳皮、茯苓、甘草）。</p>
<p>當歸四逆湯</p>
<p>當歸通草甘草桂枝芍藥細辛大棗內有久寒加生薑、吳茱萸。</p>
<p>三黃石膏揚</p>
<p>黃芩黃柏黃連梔子麻黃豆鼓石膏。</p>
<p>五苓散</p>
<p>白朮澤瀉豬苓茯苓桂</p>
<p>消斑青黛飲</p>
<p>青黛梔子黃連犀角知母元參生地石膏柴胡人參甘草薑棗。</p>
<p>回陽急救湯</p>
<p>回陽急救用六君，（肉）桂附（子）乾薑五味群，加麝三厘或膽汁，三陰寒厥見奇勳。</p>
<p>羌活沖和湯（即九味羌活湯見17頁）</p>
<p>桂枝加芍藥湯（即桂枝湯重用芍藥）</p>
<h2>瘟疫病感冒四氣務要先明</h2>
<p>丹溪曰：春應溫而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，此非其時而有其氣。是以一歲之中，長幼之病皆相似者，名曰瘟疫病也。其病初憎寒壯熱、頭疼身痛、口渴、不惡風寒，治以人參敗毒散表之、小柴胡湯和解之；裏症見者，以大柴胡湯下之。</p>
<p>人參敗毒散</p>
<p>敗毒散（人）參（茯）苓，前（胡）羌（活）柴（胡）獨（活）增，桔（梗）（川）芎甘（草）枳殼，薄荷生薑應。</p>
<p>九味羌活湯</p>
<p>九味羌活湯，（川）芎（細）辛（白）芷（甘）草防（風），蒼（朮）（黃）芩生地入，溫熱病相當。</p>
<p>芩連消毒散</p>
<p>芩連消毒散，甘（草）桔（梗）射（干）（川）芎防（風），（連）翹柴（胡）荊（芥）（白）芷（枳）殼。咽痛大頭方。</p>
<p>冰解散</p>
<p>冰解散最良。汗下兼行方，桂心甘（草）白芍，（黃）芩麻（黃）共大黃。</p>
<p>按：春溫、夏熱、秋涼、冬寒，這是四時的正常氣候，當氣候反常，夏應熱而反涼，冬應寒而反溫，這叫四時不正之氣。當天氣反常之時，凡衣著起居，不能與氣候相適應者，患病多相似。但無「沿門閤戶」傳染情況者，不能叫疫。疾者「皆相染易」，指傳染流行的情況。此篇命題為瘟疫病，所舉九味羌活等方，多辛溫表散藥，對天氣暴寒之外感為宜，以之統治瘟疫則多有不當，讀者當參考《瘟疫明辨》、《寒溫條辨》、《溫病條辨》等書，作進一步的探討，庶不致誤。</p>
<h2>內傷脾胃者辨有餘與不足</h2>
<p>東垣①曰：「飲食不節則胃病，胃病則氣短精神少。胃虛則火邪乘之而生大熱，有時而顯火上行，獨燎其面。黃帝針經云『面熱者，足陽明病。』胃既病則脾無所稟受……故亦從而病焉。形體勞役則脾病，病脾則怠惰嗜臥、四肢不收、大便泄瀉。脾既病則胃不能獨行津液，故亦從而病焉。大抵脾胃虛弱，陽氣不能生長，是春夏之令不行，五藏之氣不生。脾病則下流乘腎，土克水則骨乏無力，是為骨痿，令人骨髓空虛，足不能履地。是陰氣重迭，此陰盛陽虛之症。」治宜升浮而助陽也，補中益氣湯。內傷脾胃：有饑餓損傷，有飲食過傷，有服峻劑之藥以致內傷，種種不同，治法亦異。</p>
<p>補中益氣湯</p>
<p>補中益氣湯，（人）參（黃）耆甘（草）（白）朮當（歸），升（麻）柴（胡）陳（皮）八味，不足症堪嘗。</p>
<p>─────────────────────</p>
<p>①李杲，字明之，號東垣老人。金、元間真定人（即河北省正定縣）。是張元素弟子。治病以脾胃為重。著有《蘭室秘藏》、《脾胃論》……等。</p>
<p>加味平胃散</p>
<p>平胃散（神）曲（麥）芽，蒼（朮）（厚）朴陳（皮）（甘）草（木）香，山查並草果，一服即寬腸。</p>
<p>葛花解酲①湯</p>
<p>解酲湯茯苓，青（皮）（乾）薑白朮陳（皮），（木）香砂（仁）（人）參（神）曲（豆）蔻，澤瀉葛（花）豬苓。</p>
<h2>外感熱病者知夏熱與春溫</h2>
<p>發熱之病，今人謂之四時傷寒，絕不知其出入之理。夫冬時傷寒，乃寒邪自外而入，故用麻黃、桂枝發汗之重劑。春夏發熱之症，其由冬時感寒，偶不及發，寒毒藏於肌膚之間，至春變為濕病，至夏變為熱病，其邪自內而出，故用羌活、前胡解表之輕劑。若夫春夏秋三時之間，感冒非時暴寒，又宜疏表利氣之劑，如香蘇飲、參蘇飲、十神湯之類。</p>
<p>十神湯</p>
<p>十神湯葛根，（川）芎（白）芷（赤）芍（紫）蘇陳（皮），麻（黃）升（麻）香附（炙）（甘）草，感冒與時行。</p>
<p>參蘇飲</p>
<p>參蘇飲二陳②，枳（殼）桔（梗）葛（根）前（胡）（木）香，四時痰嗽藥，無汗用之良。</p>
<p>─────────────────────</p>
<p>①酲：cheng1（音成）。酒醒以後，頭昏腦脹。</p>
<p>②二陳：即二陳湯。</p>
<p>香蘇飲見15頁</p>
<p>按：傷寒與溫熱病的基本區別，在於有無內熱潛伏。傷寒系單為寒邪所傷，邪自外而漸次及內。故初起惡寒重而發熱輕，口皆不渴，絕無內熱之象。治宜辛溫解表，使邪從汗解而愈。溫病系熱邪潛伏；蘊蓄已久，每兼外感之誘因而發。初起即發熱或微有惡寒，多數口渴，濕熱並重者，口雖不渴，但思食涼物，甚則脈數舌絳，必有一派內熱之象。治宜辛涼解表或辛涼透邪，大忌辛溫之品。本篇方劑未出辛溫範疇，羌活前胡等品並不適用於溫熱病。讀者應參考《時病論》①、《溫病條辨》、《溫熱經緯》②等書，作進一步的探討。</p>
<p>─────────────────────</p>
<p>①《時病論》：清、雷豐（少逸）著。是一部專門闡述時令病的書籍。</p>
<p>②《溫熱經緯》：是清、王士雄（盂英）輯葉香□（上山下嚴）、薛生白、余師愚等各家有關溫病論述的一部溫熱病專著，選材頗精，注釋按語亦多卓見。</p>
<h2>卒中風因有四端治分三中</h2>
<p>《千金方》載中風大法有四：一日偏枯，謂半身不遂也；一日風痱，謂身無痛，四肢不收也；一曰風懿，謂奄忽不知人也；一曰風痹，類風狀也。劉河間曰：中風癱瘓者……非外中於風，良由將息失宜①，心火暴盛，腎水虛衰不能制之，則陰虛陽實，而熱氣拂鬱②，心神昏冒③，筋骨不用而卒倒無所知也。東垣曰：中風非外來風邪，乃本氣自病。凡人年逾四旬氣衰之際，或因憂、喜、忿、怒傷其氣者，多有此疾。壯歲之時無有也。若肥盛者則間而有之，亦是形盛氣衰而如此耳。丹溪曰……東南氣溫，而地多濕，有風病者，非風也，皆濕生痰，痰生熱，熱生風也。《發明論》曰：中風之症，有中腑、中藏、中血脈之分。中腑者多著四肢，面如土色，脈浮而惡風寒，四肢拘急不仁，或中身之前，或中身之後，或中身之側，皆曰中腑，其治多易。中藏者多滯九竅，或唇緩、失音、耳聾、鼻塞、目瞀④、大小便秘結，皆曰中藏，其治多難。中血脈者口眼歪斜。三者治各不同。若中血脈，而外有六經之形症，則從小續命湯以發其表，調以通聖散辛涼之劑、若中腑而內有便溺之阻隔，則從三化湯以攻其裏。然汗下又不可太過，汗多則亡陽，下多則亡陰，亡陽則損其衛；亡陰則損其營，此又不可不慎也。</p>
<p>─────────────────────</p>
<p>①將息失宜：《河間六書》指「……平日衣服、飲食、安處、動止、精魂神志、性情好惡、不循其宜而失其常」而言。</p>
<p>②熱氣拂鬱：熱氣不得放散。</p>
<p>③昏冒：神識昏迷，不省人事。</p>
<p>④目瞀：目不明。</p>
<p>如外無六經之形症，內無便溺之阻隔，但手足不遂、語言蹇澀①，此邪中於經絡也，宜大秦艽湯、羌活愈風湯，補血以養筋。……中風痰厥，昏迷卒倒不省人事者，先用皂莢末拈紙條燒煙沖入鼻中，有嚏可治，無嚏難治。隨用吐痰方，將皂莢末五分、白礬五分為細木，薑汁水調。探吐後，服導痰湯。半身不遂名曰癱瘓，大抵多是痰涎流注，初起急治則可，久則痰火鬱結，用藥少效。口眼歪斜無他症者，用白附子、僵蠶、全蠍（俱生用）等分為末，每次酒服二錢（名牽正散）。又方：用蓖麻子肉一兩、冰片三分，共搗為膏（名改容膏）寒月加薑、附子各一錢。如左歪則敷其右，右歪則敷其左。或以鱔魚血、冰片敷之皆效。中風舌強不語，用青黛、硼砂、薄荷各二錢，冰片、牛黃各三分，為細末，先以蜜水洗舌，後以薑汁擦之，將藥蜜水調擦舌本。中風口噤不開，宜用馬梅肉擦其牙關，牙關酸軟，則易開矣。或用藜蘆末稍加麝香，每用五分，水調，灌入鼻內，吐之。</p>
<p>─────────────────────</p>
<p>①蹇：jian3（音檢）。蹇澀：舌強言語不清。</p>
<p>小續命湯</p>
<p>續命桂（枝）麻（黃）（人）參，（川）芎防（風）附子（黃）芩，杏仁甘（草）（白）芍（防）己，風中血脈尋。</p>
<p>附：古今錄驗續命湯</p>
<p>麻黃桂枝當歸人參石膏乾薑甘草川穹杏仁</p>
<p>防風通聖散</p>
<p>通聖散荊（芥）防（風），（連）翹麻（黃）（甘）草薄（荷）當（歸），梔（子）（黃）芩（川）芎桔（梗）（白）朮，（石）膏（白）芍滑（石）（芒）硝（大）黃。</p>
<p>三化湯</p>
<p>即小承氣湯加羌活</p>
<p>大秦艽湯</p>
<p>大秦艽八珍（湯），去（人）參加（細）辛（黃）芩，（羌獨）二活（石）膏（白）芷防（風），祛風兼養陰。</p>
<p>導痰湯見7頁</p>
<p>羌活愈風湯</p>
<p>羌活獨活防風防己柴胡前胡麻黃細辛白芷菊花薄荷葉秦艽蔓荊子當歸川穹熟地炙草黃耆枳殼地骨皮人參知母枸杞子杜仲炭薑半夏（各二兩）官桂（一兩）茯苓黃芩（各三兩）生地蒼朮石膏芍藥（各四兩）以上諸藥，共為粗末，每服一兩，水煎服。</p>
<p>按：中風卒然昏倒不省人事，往往系腦溢血引起。實踐證明，取嚏、催吐，都易使病情惡化。故古書雖有用取嚏通關，探吐導痰治療本病的記載，但令人已少用之。</p>
<h2>破傷風原有三種治別三經</h2>
<p>破傷風症，或跌打損傷，風乘隙而客之；或瘡瘍久不合口，風邪乘間而襲之；或用熱湯淋洗、或用艾火灸之，其湯火之氣，亦與風邪無異。其症寒熱兼作，甚則口噤目斜，身體強直，死在旦夕甚可畏也。脈浮無力太陽也，汗之而愈。脈長有力陽明也，下之而愈。脈浮而弦小少陽也，和解之而愈。若傳變入裏，無法治矣。</p>
<p>羌活防風湯。</p>
<p>羌活防風湯，（川）穹（甘）草槁本當（歸），細辛（地）榆白芍，在表服之康。</p>
<p>玉真散</p>
<p>用防風、南星，等分為末。先以藥敷於患處，然後用溫酒調服二錢。又治瘋狗咬傷。</p>
<p>按：近年來，各地用五虎追風湯隨證加減治療破傷風，療效頗佳，可參考試用。</p>
<p>五虎追風湯</p>
<p>蟬衣（一兩）天麻（三錢）南星（三錢）全蠍（三錢）僵蠶（三錢）朱砂（五分）（研細沖服）加水適量，煎好後，兌入黃酒一至二兩，溫服。服後五心出汗為良好現象。</p>
<h2>中暑有動靜之異</h2>
<p>夏至日後，病熱為暑。張潔古①曰；動而得之為中暍②，靜而得之為中暑。東垣曰：日中勞役而得者謂之中暍，避暑於深堂而得者，謂之中暑。中暍之病，其因勞役於外，日光曝其皮膚，熱氣入於鼻竅，肺經受傷，其症身熱頭疼、灑然毛聳③、微寒、口開齒燥、舌苔、煩渴，治宜人參石膏知母湯。其由安處家庭，行走閭巷，驀④然鬱熱薰蒸，口吸暑氣，心包絡受傷，其症煩渴自汗、面垢脈虛，或腹疼吐瀉，或嘔噦燥悶，重則昏不知人，治宜香薷飲。</p>
<p>─────────────────────</p>
<p>①張潔古：名元素，金、易州人（即河北省易縣）。著有《珍珠囊引經佐使》、《病機氣宜保命集》、《臟腑標本藥式》、《醫餘啟源》及《潔古家珍》等書。</p>
<p>②暍：he4（音賀）。中暍：中熱。亦即中暑。</p>
<p>③聳：song3。高突的意思。如聳直。</p>
<p>④驀：mo4（音末）。突然。</p>
<p>人參石膏知母湯</p>
<p>石膏知母甘草人參粳米</p>
<p>香薷飲</p>
<p>香薷飲厚朴，扁豆黃連撮，中暑腹中疼，吐瀉陰陽搏。</p>
<p>十味香薷飲</p>
<p>十味香薷飲，（人）參（黃）耆（白）朮茯（苓）陳（皮），（厚）朴甘（草）（木）瓜扁豆，清暑健脾經。</p>
<p>六和湯</p>
<p>六和湯（茯）苓（白）朮（人）參，（香）薷藿（香）扁（豆）砂仁，半（夏）甘（草）（木）瓜杏（仁）（厚）朴，霍亂暑傷神。</p>
<p>生脈散</p>
<p>生脈散人參，五味（子）麥冬尋，清心除肺熱．補氣又生津。</p>
<p>清暑益氣湯</p>
<p>益氣（湯）（當）歸黃（耆）橘（皮），（白蒼）二朮甘（草）青（皮）（黃）柏，人參麥（冬）（五）味升（麻），葛根神麯澤（瀉）。</p>
<p>按：中暑、中暍、中熱，名雖不同，實系一症。由於機體的差異，工作於烈日之下，活動過度，濕隨汗去，無濕而多熱；恣意納涼，又不活動，濕邪為重，故治法不同。這就是張潔古所說的動而得之、靜而得之的區別。香薷飲之用，應以暑症無汗或兼有外感者為宜，自汗者當考慮不用。讀者應參考《濕病條辨》暑溫伏暑等治法。</p>
<h2>受濕有內外之分</h2>
<p>丹溪曰：「六氣之中，濕熱為病，十居八九」。有外感而得之者；有內傷而得之者。有居處卑濕，或早行霧露，或冒雨，或涉水．或汗衣濕履．則濕從外感之者；或恣①飲酒漿，過食生冷，則濕從內傷之者。又一說云：飲食人胃，無非濕也。脾土旺，則能運化水穀，上歸於肺，下輸膀腕，無濕氣之可留也。脾弱不能運化水穀，亦謂之濕。治濕之法，古人惟以利水為主，亦不可執一，必當因其症而藥也。濕氣在於皮膚者，宜解表之藥，如麻黃、桂枝、防己、蒼朮、白朮之類，譬如六合陰晦②，非雨不晴也。水濕積於腸胃，肚腹腫脹者，宜攻下之藥，如大黃、甘遂、大戟、芫花．牽牛、檳榔之類，譬如水滿溝渠，非導之不去也。寒濕在於肌膚筋骨之間，拘牽作痛，或麻痹不仁者，宜溫經之藥，如乾薑、附子、丁香、肉桂之類，譬如太陽在於中天，則陰濕自干也。濕氣在於臟腑肌膚之間，微而不甚者，宜健脾燥濕之藥，如蒼朮．白朮、厚朴、半夏、木香、桑皮之類，譬如些須③之濕，以灰土浥④之，則濕自干也。濕熱在於小腹膀胱之間，或腫，或瀉，或小便不通，宜用滲泄之藥，如豬苓、澤瀉、茯苓、滑石、茵陳、木通、葶藶、車前子、海金砂之類，譬如水溢溝澮⑤，非疏通其竇，則不達也。濕氣在於皮膚，宜用勝濕之藥，如防風、羌活、獨活之類，譬如清風薦爽，濕氣自消也。</p>
<p>─────────────────────</p>
<p>①恣：zi1（音資）。恣飲酒漿：任意的喝酒。</p>
<p>②六合：天、地和東、西、南、北四方，叫做六合。六合陰晦：天氣陰的很厲害．</p>
<p>③些須：很少的一點。</p>
<p>④浥：yi4（音意）。</p>
<p>⑤澮：kuai4（音檜）。水溝</p>
<h2>火有七說</h2>
<p>丹溪曰：五行各有一性，惟火有二，曰君火、曰相火。君火者心火也；相火者命門火也，此火出自先天。又有五志之火：大怒氣逆，則火起於肝；悲哀慟中，則火起於肺；醉飽過傷，則火起於脾；房勞過度，則火起於腎；思慮過度，則火起於心。此火出於人為。火之為病，不獨在五臟十二經中，凡氣有餘，莫非火也！諸風眩掉、脅痛、目赤，肝火動也，柴胡、黃連主之。諸痛瘡瘍、口舌生瘡，心火動也，黃連主之。諸濕腫脹、口瘡口臭，脾火動也，芍藥主之。諸氣膹鬱①，乾咳鼻衄，肺火動也，梔子、黃芩主之。遺精夢泄、赤白便濁，腎火動也，知母主之。目黃、口苦、坐臥不寧，膽火動也，柴胡主之。癃閉淋瀝、赤白帶濁，小腸火動也，木通主之。牙疼齦宣、顴腮頤腫，胃火動也，石膏主之。舌苔喉痛、便秘不通，大腸火動也，黃芩、大黃主之。小便不利、小腹作痛，膀胱火動也，黃柏主之。頭眩、體倦、手足心熱，三焦火動也，柴胡、黃芩主之。陽事頻舉、精溺不止，命門火動也，黃柏主之。凡此皆苦寒之藥，但能瀉有餘之火耳。又按《玉機微義》論曰：若飲食勞傷，內傷元氣，自汗發熱，困倦脈大而無力，氣口大於人迎或一倍、二倍，為陽虛之症，以甘溫之劑除之，如黃耆、人參、甘草之屬。陰微陽強，相火熾盛，以乘陰位，日漸煎熬，為血虛之症，宜滋陰之劑，地黃、天門冬、黃柏、元參、龜板、當歸、知母、五味、鎖陽、牛膝、虎骨．丸服。若心火亢極，鬱熱內實，為陽強之症，以咸冷之劑折之，如大黃、芒硝之屬。若腎水受傷，真陰失守，為無根之火，陰虛之症，以壯水之劑治之，如生地、元參之屬。若命門火衰，為陽脫之病，陽事不舉，飲食不進，右尺脈遲細無力，命門無火，則如釜底無薪，當以溫熱之劑治之，如附子、乾薑之屬。若胃虛過食生冷，抑遏陽氣於脾土之中，為火鬱之症，以升散之劑發之，如升麻、葛根之類。</p>
<p>─────────────────────</p>
<p>①膹：fen4（音憤）。膹鬱：喘急上逆，否塞不通。</p>
<h2>痰有十因</h2>
<p>痰不自生，生必有故，或因風，或因寒，或因熱，或因濕，或因暑，或因燥，或因酒積，或因食積，或因脾虛，或因腎虛。今之治痰者，但知南星、半夏為治痰之藥，而不知治痰之本，故痰愈生而病難除也。予也管見，敢以治本之藥敘之：夫因風而生痰者，痰唾涎沫，其脈浮弦，治以前胡、旋覆花之類。因寒而生痰者，痰唾清冷，其脈沉遲，治以薑、桂、細辛之類。因熱而生痰者，痰唾膠黃，其脈洪數，治以芩、連、梔、膏之類。因濕而生痰者，痰唾碧綠，其脈浮緩，治以蒼朮、茯苓之類。因暑而生痰者，痰唾腥臭，其脈虛微，治以香薷、扁豆之類。因燥而生痰者，痰唾如線，或如小珠，或如膠漆，咳嗽難出，其脈滑數。治以蔞仁、花粉、貝母之類。因酒積而生痰者．痰唾嘔惡，清晨發嗽，治以豬苓、葛花之類。因食積而生痰者，痰唾桃膠、蜆肉之狀，胸腹悶悶不安，治以香附、枳實、神麯、麥芽之類。因脾虛而生痰者，痰唾不時，倦怠少食，治以白朮、陳皮之類。因腎虛而生痰者，痰唾之時，即如潮湧，發於五更之際，治以天門冬、麥門冬、五味子之類。然此皆為輔佐之藥，而主劑──二陳湯，又不可少也。</p>
<p>二陳湯見7頁</p>
<p>導痰湯見7頁</p>
<p>滾痰丸</p>
<p>滾痰丸川軍、黃芩各半斤，一兩青礞石，五錢好盔沉。</p>
<h2>氣有九論</h2>
<p>氣者，一身之主。內無七情所傷，外無寒暑所犯，則一氣周流百骸疏暢。如有七情所干、寒暑所犯，則疾病生焉。《內經》云：怒則氣上，喜則氣緩，悲則氣消，恐則氣下，驚則氣亂，勞則氣耗，思則氣結，寒則氣收，熱則氣泄，九氣不同，為病亦異。張子和論之詳矣，予不復論。如以氣虛、氣實論之，夫實者，邪氣實也；虛者，正氣虛也。氣虛為病，或精神短少，或倦怠嗜臥，或少進飲食，或眩暈，或痿躄，或自汗，或泄瀉，或遺脫，諸病生焉。審其症候，診其脈息，果然氣虛，則人參、黃耆、白朮之類必當用用也。若夫心痛、脅痛、小腹氣痛，此則邪氣阻遏①，正氣不行，故作痛耳。邪氣何也？或寒、或熱、或痰、或食、或血是也。法當先去其邪，則正氣流通，痛不作矣。大抵氣屬陽，調氣之藥必用溫散，如沉香、木香、丁香、茴香、藿香、白豆蔻、陳皮、香附、砂仁之類。如病日久，則氣從火化，而溫熱之劑，又不可單投，必以黃芩、黃連、梔子之類為主，少加熱藥為之嚮導。又聞，氣者血之先，血者氣之配，氣既病焉，則血不得以獨利，故亦從而病焉。是以治氣藥中必加理血之品，如當歸、芍藥、川芎、紅花、桃仁之類。</p>
<p>─────────────────────</p>
<p>①遏：e4（音扼〕。阻止。</p>
<h2>鬱有六名</h2>
<p>丹溪曰：「氣血衝和，百病不生，一有怫鬱①，諸病生焉」。大抵諸病中多有兼鬱者，或鬱久而生病，或病久而生鬱，故凡治病必以鬱法參而治之。鬱有六：氣、血、濕、熱、食、痰也。氣鬱：胸脅痛、脈沉澀。血鬱：四肢無力、能食、便紅、脈沉。濕鬱：周身走痛，或關節痛，遇陰寒則發，脈沉細緩。熱鬱：瞀悶②，尿赤，脈沉而數。食鬱；噯酸飽滿，不喜飲食，人迎脈平，氣口脈盛。痰鬱：動則喘滿，寸口脈沉滑。治以六鬱湯、越鞠丸主之。濕加白朮、羌活。氣加木香、檳榔。食加山查、砂仁。血加桃仁、紅花。熱加柴胡、黃芩。痰加半夏、南星。</p>
<p>六鬱湯</p>
<p>六鬱香（附）蒼（朮）（神）曲，梔（子）（連）翹共（枳）殼陳（皮），（川）芎（黃）芩蘇梗（甘）草，鬱結總能伸。</p>
<p>越鞠丸</p>
<p>越鞠丸開鬱，香附並蒼朮，川芎梔子仁，神麯各等分。濕加白朮、茯苓。熱加青黛。痰加南星、海石、瓜蔞。血加桃仁、紅花。食加山查、砂仁。氣加木香。</p>
<p>─────────────────────</p>
<p>①怫：fu2（音拂）。怫鬱：不高興，不痛快。</p>
<p>②瞀悶：心中悶亂。</p>
<h2>瘧犯暑風更兼痰食</h2>
<p>《內經》曰：「夏傷於暑，秋為㾬瘧①」。又曰：「先寒後熱者，名曰寒瘧。先熱後寒者，名曰溫瘧。但熱不寒者，名曰癉瘧②」、丹溪曰：有暑瘧、有風瘧、有溫瘧、有痰瘧、有食瘧……邪在氣分，則發之早；邪在血分，則發之晚。…又有纏綿不休，邪氣伏藏脅肋，結為癥塊者，謂之瘧母。</p>
<p>─────────────────────</p>
<p>①㾬：jie1（音皆）。㾬瘧：瘧的總稱．夜病為㾬，晝病為瘧。</p>
<p>②癉：dan4（音旦）。</p>
<p>瘧脈自弦，弦而數者多熱。弦而遲者多寒。弦短者傷食。弦滑者多痰。微則為虛，代散者危。</p>
<p>凡症發時，耳聾、脅痛、寒熱往來、口苦、喜嘔，脈弦，多風瘧，小柴胡湯。瘧發時熱多寒少、口苦、咽乾、小便赤澀，脈弦數者，多陽瘧，清脾飲。瘧發時先熱後寒者，多溫瘧，石膏知母湯加桂枝。瘧發時獨熱無寒名癉瘧，當責之暑，香薷飲加茯苓，或柴胡石膏知母湯亦可。瘧發時獨寒無熱脈遲者，名牡瘧，當責之寒，蜀漆散。瘧發時一身盡痛、手足沉重、寒多熱少，脈濡者，名濕瘧，柴平湯。……因感疫癘之氣，發時乍寒乍熱、一身沉重，名瘴瘧，平胃散加藿香、石菖蒲、生薑。瘧疾痰多胸滿，發時昏亂譫語，脈弦滑者，名痰瘧，二陳湯加常山、草果、黃芩、柴胡。瘧疾胸膈不寬、惡聞食氣者，食瘧也，清脾飲加山查、神麯、麥芽。瘧疾積滯胸滿、熱多寒少、大便燥實者，大柴胡湯下之。……瘧疾微勞不任，經年不瘥，前後復發者，名勞瘧，小柴胡湯去半夏加天花粉。夜瘧宜用血藥，引出陽分而散，川芎、當歸、紅花、蒼朮、白芷、黃柏、甘草，水煎露一宿服。瘧母用醋炙鱉甲、三棱、莪朮、木香、香附、海石、青皮、桃仁、紅花、神麯、麥芽，醋為丸，滾湯下。截瘧用常山、草果、檳榔、知母各一錢，熱酒一盅，水煎後，漫露一宿，五更溫服。</p>
<p>小柴胡湯見7頁</p>
<p>清脾飲</p>
<p>清脾飲柴（胡）（黃）芩，甘草厚（朴）青（皮）（茯）苓，半（夏）（白）朮並草果，痰食瘧相應。</p>
<p>石膏知母湯見15頁</p>
<p>香薷飲見21頁</p>
<p>柴胡石膏知母湯</p>
<p>即小柴胡湯合石膏知母湯</p>
<p>蜀漆散</p>
<p>蜀漆（洗去腥）雲母（燒二日夜）龍骨三味杵為散未發前以漿水服半錢。</p>
<p>柴平湯</p>
<p>即小柴胡湯合平胃散</p>
<p>二陳湯見7頁</p>
<p>平胃散見8頁</p>
<p>大柴胡湯見15頁</p>
<h2>痢因濕熱及受積停</h2>
<p>痢疾之症，裏急後重，或血、或膿、或膿血相雜，或痛、或不痛。此症原其所因，不外濕、熱、食積三者。傷於氣分，痢下則白；傷於血分，痢下則赤；氣血俱傷，則赤白相雜。下痢之脈，微小者吉，浮洪者凶，滑大者吉，弦急者凶。劉河間曰：治痢大法，行血則便膿自愈，調氣則後重自除。又曰：「後重則宜下，腹痛則宜和，身重則除濕，脈弦則去風。膿血稠黏，以重藥揭之。身冷自汗，以熱藥溫之。風邪外來宜汗之。鷺溏為痢宜溫之」。</p>
<p>治痢驗方：痢疾初起，便膿下血，裏急後重，用芍藥湯。白痢用溫六丸。赤痢用清六九。赤白相雜，裏急後重，用立效散。痢疾初時失下，反用兜澀之藥，以致邪雜內蓄，血不得行，腹痛難忍者，用桃仁承氣湯。痢疾發熱，腸胃中有風邪也，人參敗毒散加黃連、陳倉米、生薑、大棗，煎服。時行疫痢，噤口不食，加石蓮子肉七個。下痢日久。赤白已盡，虛寒脫肛者，養臟湯。</p>
<p>芍藥湯</p>
<p>治痢芍藥湯，（黃）芩（黃）連（肉）桂大黃，（木）香檳（榔）（當）歸甘草，後重即安康。</p>
<p>溫六丸</p>
<p>滑石（六兩水飛）粉草（一兩）乾薑（五錢）為末，水丸。</p>
<p>清六丸</p>
<p>滑石（六兩水飛）粉草（一兩）紅麴（五錢）為末，水丸。</p>
<p>立效散</p>
<p>黃連（四兩酒洗）吳茱萸（二兩，二味同炒去茱萸）陳皮（二兩）枳殼（二兩麩炒）共為末。每服三錢，黃酒送下。噤口痢用陳倉米煎湯調下。</p>
<p>桃仁承氣湯見16頁</p>
<p>人參敗毒散見17頁</p>
<p>養臟湯</p>
<p>養臟（白）芍當歸，人參（肉）桂（白）朮隨，木香甘（草）米殼，訶子（肉）蔻烏梅。</p>
<p>和中湯</p>
<p>和中（當）歸酒（黃）連，陳（皮）（白）芍（厚）朴蒼（朮）甘（草），茯苓並枳殼，新久痢皆痊。</p>
<p>按：痢疾是濕熱之邪積滯腸道引起，故治療大法，應清熱祛濕導滯。初起如有發熱，可予葛根芩連湯、白頭翁湯加減，濕熱清，則發熱自除，下痢自止、又痢疾初起，不宜用澀止藥，蓋濕熱未清，收澀過早，易轉成休息痢。</p>
<p>葛根芩連湯</p>
<p>葛根黃芩黃連甘草，水煎服。</p>
<p>白頭翁湯</p>
<p>白頭翁秦皮黃連黃柏，水煎服。</p>
<p>上兩方亦可酌加當歸、白芍、山查、馬齒莧等。</p>
<h2>嘔吐者胃氣逆而不下</h2>
<p>有聲之謂嘔，有物之謂吐。聲者，氣與火也。物者，痰與食也。或為寒氣所干，或為暑氣所中，或忿怒氣逆，或酒食過傷，或蛔蟲作痛，或久病胃虛，或積痰瘀血，凡此皆能嘔吐。大抵脈虛而細者吉，脈實而大者凶。治以二陳湯為主。胃寒者，水漿下納，脈息沉遲，加乾薑、肉桂、丁香、益智之類。傷暑者，煩渴面垢，脈虛體熱，加黃連、扁豆、香薷、厚朴之類。怒則肝火衝胃，嘔而口苦，胸脅不利，脈弦而數，加香附、芍藥、黃芩、黃連、烏梅、竹茹之類。傷食者，吐出酸臭，加山查、草果、神麯、麥芽、枳實、砂仁之類。飲酒過傷而嘔吐者，加葛花、豬苓、澤瀉、白豆蔻之類。蛔蟲上攻而吐者，加烏梅、川椒、黃柏、乾薑、白朮之類。…··久病胃虛，聞穀氣而嘔者，加人參、白朮、伏龍肝、藿香之類。積痰在胃而嘔吐者，加南星、枳實、竹茹、薑汁之類。內傷瘀血而吐者，加桃仁泥、生薑汁之類。</p>
<p>一人過傷飲食，腹痛便秘，嘔吐不止。予日；陽明之氣，下行為順，上行為逆，此因便秘胃氣不得下行，故作嘔吐，法當下之，用脾積丸一服而愈。</p>
<p>一人霍亂吐瀉之後，飲食即吐，不得停留。予曰：吐瀉者，氣之滑也，當以澀劑治之，用燒針丸三服而愈。</p>
<p>二陳湯見7頁</p>
<p>脾積丸</p>
<p>醋煮莪（朮）（三）棱與良薑，青皮木香百草霜，江子（仁）研泥麵糊丸，橘皮湯送效非常。</p>
<p>燒針丸</p>
<p>黃丹（水飛）、枯白礬、朱砂各等分，為末，棗肉為丸，芡實大，穿針尖上，燒之存性，為末。每服七分，涼水送下。或米泔水亦可。</p>
<h2>泄瀉者脾氣傷而不平</h2>
<p>丹溪曰：「泄瀉有濕、有火、有氣虛、有痰積、有食積」。戴元禮①注曰：「凡瀉水腹不痛者是濕；飲食入胃不住，或完穀不化者是氣虛；腹痛瀉水腸鳴，痛一陣瀉一陣者是火。或瀉或不瀉，或多或少者是痰積；腹痛甚而瀉，瀉後痛減者是食積」。</p>
<p>─────────────────────</p>
<p>①戴思恭、字元禮，明、浦江縣人，朱丹溪弟子。著有《證治要訣》、《證治類元》、《類證用藥》。</p>
<p>泄瀉之病，四時感受不同，或因風寒暑濕所干，或因飲食所傷，動傷脾胃之氣，故作泄瀉。治當分其新久，審其原因，新則以伐邪之藥為主，而健脾之藥為佐；久則以補脾之藥為君，而升發之藥為使。予常辨其症而用藥，確然有論者錄之於後：瀉下青色，腹痛脈浮者，挾風也，宜羌活、防風之類。瀉下白色，腹痛、脈沉遲而弱，四肢清冷，小便澄澈者，挾寒也，宜乾薑、肉桂、附子之類。瀉下黃色，口渴、煩躁、脈虛、身熱者，挾暑也，宜黃連、扁豆、香薷之類。瀉下清水，或如陳腐水色，腹不痛、身體重、倦怠無力，脈沉而緩者，濕也，宜蒼朮、白朮、厚朴之類。瀉下完穀不化，酸臭異常，胸膈飽悶，惡聞食氣者，傷食也，宜山查、草果、神麯、麥芽，萊菔子之類。瀉下或多或少，或瀉或不瀉，或如魚凍者，挾痰也，宜南星、半夏之類。瀉下過多，小水不利者，當分利陰陽，使小水長而大便實也，宜茯苓、豬苓、滑石、澤瀉之類。如久患泄瀉者又不可用，用之則損陰氣，當見眼胞下陷而病凶。此七條乃伐邪之藥也。至於健脾者，莫如白朮、茯苓、陳皮、白芍之類；而補脾者莫如人參、山藥、扁豆、蓮肉、薏苡仁、芡實之類。大抵脾胃之氣，上升則為生長之令，下降則為收藏之令。泄瀉日久，脾胃之氣下陷，宜佐升發之藥，如升麻、防風、柴胡、葛根、羌活之類。又有每夜子時後五更前作瀉著，乃腎虛作瀉也，宜肉蔻、破故紙、吳茱萸、五味子以補腎。</p>
<p>五苓散見16頁</p>
<p>胃苓湯</p>
<p>寒瀉腹中痛，大小便利清，胃苓湯一盞，薑棗水煎成。（即平胃散合五苓散）</p>
<p>薷苓湯</p>
<p>暑瀉熱如湯，心煩渴不安，薷苓湯八味，燈心用一團、（即黃連香薷飲合四苓散）</p>
<p>柴苓湯</p>
<p>身熱口中渴，更兼瀉下頻，柴苓湯一劑，施治捷如神。（即小柴胡湯合五苓散）</p>
<p>參苓白朮散</p>
<p>（人）參（茯）苓白朮散，蓮肉扁（豆）薏仁，砂仁甘（草）桔（梗）（山）藥，久瀉胃中虛。</p>
<p>按：泄瀉日久，元陽虧損。健脾止瀉不效者，當以補骨脂、吳茱萸、芡實、附子、乾薑、肉桂、益智仁之類。補命門之火．若久泄腸滑、氣虛下陷、脫肛或肛門不閉，宜人參、黃耆、白朮、訶子、白芍、赤石脂、石榴皮、粉草、米殼等藥，補益收脫。</p>
<h2>霍亂脾寒傷食所致</h2>
<p>卒然心腹疼痛，上吐下瀉，謂之濕霍亂；腹絞痛，欲吐不吐，欲瀉不瀉者，謂之乾霍亂。此症有寒熱二種：屬寒者，吐利腥穢，上下所出水液澄澈清冷，脈沉而遲，四肢厥冷，腹痛，不喜飲水，此陰邪勝也。屬熱者，吐利、煩熱、有汗、口渴欲飲涼水，脈沉而數，四肢溫暖，此陽邪勝也。總用藿香正氣散加減治之。乾霍亂，先用鹽湯探吐，吐後亦以藿香正氣散調理。如探吐不能出者，死在須臾也。</p>
<p>藿香正氣散</p>
<p>正氣（半）（夏）曲（紫）蘇藿（香），（茯）苓陳（皮）（白）朮（白）芷（厚）朴，桔（梗）甘（草）腹（皮）（生）薑（大）棗，吐瀉陰陽搏。</p>
<p>有熱者加薑炒黃連。有寒者加乾薑。腹痛加官桂，痛甚加吳茱萸去藿香。小便不利加車前子。轉筋加木瓜。發熱口渴加麥冬、淡竹葉。若頻欲登圊①不通利者加枳殼。中暑者加香薷、扁豆。心下痞加枳實、青皮。肉食不化加山查。米穀不化加神麯、麥芽。</p>
<p>─────────────────────</p>
<p>①圊：qing1（音青）。廁所。</p>
<p>燒鹽湯</p>
<p>鹽一撮，放刀上用火燒紅，熱童便和服，或以新汲水和服，少頃即吐。</p>
<p>按：霍亂初起，用藿香正氣散兼刺委中、尺澤放血，可以收效。如果吐瀉太甚，失水過多，眼胞塌陷、汗出不止、肢冷脈微欲絕，則應急服王清任之急救回陽湯。萬不可因其口渴，誤認為熱，坐誤機宜。</p>
<p>急救回陽湯</p>
<p>黨參（八錢）附子（八錢）乾薑（四錢）白朮（四錢）甘草（三錢）桃仁（二錢）紅花（二線）水煎服。</p>
<h2>痞滿脾倦積濕而成</h2>
<p>痞滿者，非痞塊之痞，乃胸中痞悶而不舒暢也。因脾倦不能運化水穀，以致積濕成痰，留於中脘，而感痞悶也。治宜健脾順氣，氣順則痰利，脾健則食化痞消而通泰矣。方用二陳湯加枳實、白朮、香附、砂仁、白豆蔻、藿香、厚朴之類。瘦人多鬱熱，加黃連去半夏。血虛加川芎、當歸去半夏。食積加神麯、麥芽、山查去白朮、半夏。肥人多濕多痰加蒼朮。氣虛加人參去半夏。痰隔加瓜蔞、貝母、桔梗、竹瀝、薑汁去白朮、半夏。脾濕中滿加蒼朮、芍藥去半夏。</p>
<p>二陳湯見7頁</p>
<h2>呃逆者胃氣之不順</h2>
<p>呃逆①者，俗謂之發呃也。聲短者，出於中焦，水穀之病也；聲長者，出於下焦，虛邪相搏也。脈浮緩者吉，弦急者凶。傷寒失下，便閉而呃者用承氣湯。吐泄後胃寒而呃者用丁香柿蒂湯。吐利後胃熱而呃者用橘皮竹茹湯。氣逆而呃者用木香調氣散。病後發呃者難治。</p>
<p>承氣湯見15頁</p>
<p>丁香柿蒂湯</p>
<p>丁香柿蒂湯，人參生薑煎，傷寒吐泄後，胃冷服之安。</p>
<p>橘皮竹茹湯</p>
<p>橘皮竹茹湯，人參甘草煎，生薑並大棗，胃熱服之安。</p>
<p>木香調氣散</p>
<p>木香調氣散，丁香白蔻仁，藿（香）檀（香）砂（仁）甘草，鹽湯送下吞。</p>
<p>─────────────────────</p>
<p>①呃：e（音遏）。呃逆：俗稱打嗝。</p>
<h2>咳嗽者肺氣之不清</h2>
<p>潔古曰；「咳謂無痰而有聲，肺氣傷而不清也。嗽是無聲而有痰，脾濕動而為痰也。咳嗽謂有痰而有聲，蓋因傷於肺氣動於脾濕」。丹溪謂咳嗽之因有風寒、有痰飲、有火鬱、有勞嗽、有肺脹。戴元禮注</p>
<p>曰：鼻塞聲重惡寒者，風寒也。嗽動便有痰聲，痰出嗽止者，痰飲也。有聲痰少面赤者，火鬱也。盜汗出痰多作寒熱者，勞嗽也。動則喘滿，氣急息重者，肺脹也。</p>
<p>咳嗽之脈：浮緊虛寒，沉數實熱，洪滑多痰，弦澀少血，浮大者吉，沉小者危。</p>
<p>風寒嗽用蘇沉九寶飲。痰飲嗽用導痰湯，甚者用小胃丹。火鬱嗽用參蘇飲去人參加枯芩。勞嗽用知母茯苓湯，或用清離滋坎湯。久嗽不止用款冬花、紫菀、五味子、烏梅肉，等分為丸，噙化。肺脹嗽用清肺飲。</p>
<p>蘇沉九寶飲</p>
<p>（紫）蘇沉九寶飲，麻（黃）（肉）桂薄荷陳（皮），杏仁甘（草）大腹皮，寒嗽效如神。</p>
<p>導痰湯見7頁</p>
<p>小胃丹</p>
<p>小胃丹用醋芫花，大戟甘遂（川）軍（黃）柏加，白朮煎膏和成丸，臨臥空腹熱湯下。</p>
<p>參蘇飲見18頁</p>
<p>知母茯苓湯</p>
<p>知母茯苓湯，當歸（白）芍地黃，天冬甘（草）白朮，勞嗽是良方。</p>
<p>清肺飲</p>
<p>清肺飲梔（子）（黃）芩，桑（皮）（當）歸茯（苓）（麥天）二門（冬），桔（梗）陳（皮）甘（草）杏（仁）（五）味（子），（生）薑（大）棗水煎吞。</p>
<p>清離滋坎湯</p>
<p>勞嗽丹（皮）（白）朮澤（瀉），（白）芍萸（肉）（山）藥（甘）草（茯）苓，（天麥）二冬（當）歸（熟生）二地，知（母）（黃）柏坎離清。</p>
<p>按：小胃丹皆猛烈之藥，必體壯痰飲過盛之症方可用。</p>
<h2>噯氣皆由於痰火</h2>
<p>噯氣者，胃中有痰有火，用南星、半夏、石膏、香附、炒山梔，或丸或煎皆可。胃寒噯氣，用二陳湯加乾薑、益智、木香。婦人噯氣，連十餘聲不盡，噯出則心寬，不噯則緊悶，用越鞠丸效。</p>
<h2>咽酸盡為乎食停</h2>
<p>咽酸者，酸水刺心也。吐酸苦，吐酸水也。俱是脾虛不能運化飲食，鬱積已久，濕中生熱，濕熱相蒸，遂作酸也。平胃散加神麯、麥芽、山查炭、草果、吳茱萸、黃連、枳實。或用六鬱湯、越鞠丸尤妙。口吐清水，用蒼朮．白朮、陳皮、茯苓、滑石各等分，水煎服效。</p>
<p>附：嘈雜症</p>
<p>嘈染者，俗謂之心嘈也。有痰因火動而嘈者，二陳湯加酒炒黃連、桅子仁。有心血少而嘈者，八珍湯加麥冬、梔子、陳皮、烏梅、炒米。有因食鬱而嘈者，以越鞠丸治之。</p>
<p>平胃散見8頁</p>
<p>六鬱湯見24頁</p>
<p>越鞠丸見24頁</p>
<p>二陳湯見7頁</p>
<p>八珍湯見6頁</p>
<h2>中滿臌脹者脾虛不運</h2>
<p>中滿臌脹者，四肢不腫，單腹脹也。有似乎鼓，故名臌脹。仁齋直指謂其症有四：曰氣臌、血臌、食臌、水臌。皆因脾虛不能運化水穀，以致停聚而為脹也。治宜順氣、和血、寬中、利水，各有攸當①，切不可用猛烈之藥，致傷脾胃。若臍突肚大青筋或足背手掌俱平者，多為難治。女人臌脹，雖有因於氣食而成者，然成於血分者居多。成於氣食者，腹雖脹而經水不閉；成於血分者，經必閉也。脹滿脈弦，脾制於肝。洪數為熱，遲弱虛寒，浮為虛滿，緊則中實。浮大可治，虛小危急。朝寬暮急著血虛。暮寬朝急著氣虛；朝暮懼急者，氣血懼虛也。</p>
<p>─────────────────────</p>
<p>①攸：you1（音優）。各有攸當：即各有所當。</p>
<p>予治肥人腹脹用胃苓湯，瘦人腹脹用薷苓湯，二方甚捷。</p>
<p>分消湯</p>
<p>分消湯治臌，（蒼白）二朮陳（皮）香附，（厚）朴（枳）實茯（苓）（木）香砂（仁），腹皮豬（苓）澤（瀉）佐。生薑三片、燈心一團，水煎服。</p>
<p>氣急加沉香。脅痛、面黑是氣臌，加青皮去白朮。脅滿、小腹脹痛、身上有血絲縷是血臌，加當歸、赤芍、紅花、丹皮，去白朮、茯苓。噯氣作酸、飽悶腹脹是食臌，加山查、神麯、麥芽、萊菔子，去白朮、茯苓。惡寒手足厥冷、瀉去清水是水臌，加官桂。胸腹脹滿，有塊如鼓者是痞散成臌，加山查、神麯、麥芽、半夏、青皮、歸尾、元胡索、鱉甲，去白朮、茯苓、豬苓、澤瀉。</p>
<p>胃苓湯、薷苓湯見27頁</p>
<p>附：浮腫</p>
<p>《內經》曰；「諸濕腫滿，皆屬於脾。諸氣膹鬱，皆屬於肺」。蓋虛腫之由，皆脾虛不運，肺鬱不通，以致水漬①三焦，而為浮腫，以手按之成窩，舉手漸平也。身有熱者，水氣在表，治當汗之。身無熱者，水氣在裏，治當下之。又云：腰以上腫者宜發汗，腰以下腫者宜利小便，兼以順氣和脾斯為良法。慎不可用大戟、芫花、甘遂等猛烈之劑，以攻其虛症，吾恐峻決者易，固閉者難，水氣復來，而無可治之機矣。</p>
<p>─────────────────────</p>
<p>①漬：zi4（音恣）。浸泡。</p>
<p>風腫：皮膚麻木，走注疼痛，以分心氣飲治之。氣腫：四肢削瘦，腹脅脹滿，以流氣飲加減治之。水腫：腰以上腫者，分心氣飲；腰以下腫者，五子十皮飲。血腫：皮間有紅血絲，婦人多有此症，是敗血化為水也，調經散治之。生瘡腫者，敗毒散加荊芥、防風、金銀花，間服五子十皮飲。病後脾虛足跗腫者，由中氣下陷也，補中益氣湯。異鄉不服水土而腫者，藿香正氣散。大抵腫退，宜用白朮煎膏，調理脾胃。</p>
<p>分心氣飲</p>
<p>分心氣二陳（湯），（木）通（官）桂腹皮青（皮），桑（皮）蘇（梗）羌（活）芍藥，（生）薑（大）棗共燈心。</p>
<p>流氣飲</p>
<p>流氣飲（木）香（紫）蘇，陳（皮）（茯）苓半（夏）（厚）朴（白）朮，腹（皮）檳（榔）（木）瓜（枳）殼莪（朮），（白）芷（官）桂藿香（菖）蒲。</p>
<p>五子十皮飲①</p>
<p>五子十皮飲，車葶腹紫香，加桑苓大橘，瓜米木青薑。</p>
<p>─────────────────────</p>
<p>①此方因限於參考書籍，一時查不到出處，故不加旁注，僅將《馮氏錦囊》所載十皮五子飲方附後，以供參考。</p>
<p>附：十皮五子飲（見《馮氏錦囊》）</p>
<p>茯苓皮牡丹皮五加皮甘草皮木通皮草果皮地骨皮大腹皮木瓜皮生薑皮菟絲子車前子紫蘇子葶藶子大腹子</p>
<p>調經散</p>
<p>調經（當）歸益母（草），生地與丹參，牛膝丹皮（元胡）索紅花三幾分。</p>
<p>敗毒散見17頁</p>
<p>補中益氣湯見17頁</p>
<p>藿香正氣散見28頁</p>
<h2>噎膈翻胃者氣食相凝</h2>
<p>噎膈之病，由於七情過傷，飲食失節，食因氣逆則食不下降，氣因食阻則氣不運行，氣、食、痰涎互相凝結，留於咽嗌者為噎，留於胸膈者為膈，妨礙飲食漸為嘔吐，翻胃之病也。</p>
<p>丹溪有云：自氣成積，自積成痰，痰挾瘀血，遂成窩囊。此症若不早治，必為難愈之疾。初起者五膈寬中散，日久者二陳湯加減。</p>
<p>噎膈翻胃通用二陳湯加薑汁、竹瀝為主。如氣虛肥白之人，加人參、白朮。如血虛瘦弱之人，加當歸、芍藥、桃仁、紅花。如胸中熱悶，加土炒黃芩、黃連、瓜蔞、桔梗，去半夏。如因七情鬱結者，加香香附、川芎、木香、檳榔、砂仁。脾虛不運化者，加人參、神麯、麥芽以助之。如大便燥結者，少加酒蒸大黃、桃仁泥以潤之。大抵噎膈病，血液枯燥，胃脘乾枯，難服丸藥，宜煎膏子服之。</p>
<p>五膈寬中散</p>
<p>五膈寬中散，青（皮）陳（皮）丁（香）木香，（白）蔻砂（仁）香附（厚）朴，甘草與鹽薑。</p>
<p>二陳湯見7頁</p>
<h2>喘急有虛有實</h2>
<p>暴病發喘謂之實；久病發喘謂之虛。脈滑而四肢煖者易治；脈澀而四肢寒者難醫。原夫喘動便有痰聲者痰也。乍進乍退，得食則減，食已則喘者火也。氣從臍下起，直衝清道而上者，陰虛也。呼吸短促而無疾聲者，氣虛也。惡寒發熱而喘，脈浮緊者，風寒也。胸中滾滾有聲，怔悸而喘者，水停心下也。大抵患病至於發喘，已為惡候，未易治也。</p>
<p>治喘經驗方，總用蘇子降氣湯為主，痰喘加竹瀝，火喘加梔子、枯芩，陰虛加知母、黃柏、竹瀝，氣虛加人參、阿膠，風寒加蘇葉、麻黃、杏仁。水喘用椒目焙研為末，生薑湯下二錢。痰火喘嗽，常服玉露霜①可除病根。</p>
<p>─────────────────────</p>
<p>①玉露霜：荔枝實之產於廣東新會縣崖門山者，其實白殼丹肉，經冬不落。功能降肺火止嗽．</p>
<p>蘇子降氣湯</p>
<p>蘇子降氣湯，二陳（湯）桔（梗）（五）味（子）桑（皮），瓜蔞同枳殼，喘嗽即時康。</p>
<p>按：喘之虛實，宜細心診察：四肢不溫脈細固屬虛象，但察其脈有滑意舌有厚苔大便秘而痰多者，不當以虛症論。往往以豁痰肅肺之劑佐蘇合香丸，則脈轉滑大手足轉溫。倘誤認為虛，予以人參、阿膠等品，則痰愈塞氣愈喘矣。</p>
<h2>痙症有陰有陽</h2>
<p>痙①症者，頸項牽急，腰背反張，如鳥之張翅，故名痙痓②。有因於寒者，令人無汗惡寒，名曰剛痙，屬陽。有因於濕者，令人有汗不惡寒，名曰柔痙，屬陰。俱用小續命湯；但有汗去麻黃。或因發汗太過，或因失血太甚，致筋無血養，筋急而牽，百節強痙者，十全大補湯。</p>
<p>小續命湯見19頁</p>
<p>十全大補湯見6頁</p>
<p>─────────────────────</p>
<p>①痙：jing4（音敬）。筋肉收縮痙攣。</p>
<p>②痓：chi1（音池）。卒口噤、背反張而瘈瘲。</p>
<h2>五積六聚總是氣凝其痰血</h2>
<p>五臟為積，六腑為聚。積屬陰而有定處，聚屬陽而無常形。肝之積曰肥氣②。心之積曰伏梁③。脾之積曰痞氣④。肺之積曰息賁⑤。腎之積曰奔豚⑥，世人謂之氣塊。丹溪論曰：塊乃有形之物，氣不能成形，俱是痰與食積、死血也。在中為痰積，在右為食積，在左為死血。婦人腹中有塊，多是死血。不能移動者曰癥，能移動者曰瘕。大法鹹以軟之，堅以削之，行氣開痰為主，潰堅湯、潰堅丸治之。外用琥珀膏、三聖膏貼之。</p>
<p>─────────────────────</p>
<p>②肥氣：在左脅下，狀如覆杯，有頭有足．</p>
<p>③伏粱：起臍上，大如拿，上至心下。</p>
<p>④痞氣：在胃脘復大如盤。</p>
<p>⑤息賁：在右助下．復大如杯。</p>
<p>⑥奔豚：起於少腹，上乘於心，或衝咽喉，如豚之奔突狀。</p>
<p>潰堅湯</p>
<p>潰堅枳實（當）歸，半（夏）陳（皮）白朮隨，香附（厚）朴山查，砂仁木香陪。左脅有塊加青皮，右脅有塊加莪朮。血塊加桃仁、紅花，肉桂去半夏。食積塊加神麯。痰塊加海浮石、瓜蔞去山查。瘦人加人參少許。</p>
<p>潰堅丸</p>
<p>即潰堅湯加海石、瓦楞子、鱉甲，共為細末，另將阿魏用醋煮化和入藥中，生薑汁煮米糊為丸，如梧桐子大，每服六十丸，黃酒送下。</p>
<p>琥珀膏</p>
<p>用大黃、芒硝等分為末，以獨頭大蒜搗膏貼之。以線束住，鼻聞臭氣則效。</p>
<p>三聖膏</p>
<p>用未化石灰半斤為末，瓦器中炒令淡紅色，撤火，候熱少減入大黃末一兩，在爐外拌炒。候熱減，再下桂心末五錢，略微一炒，人米醋同熬，攪勻成黑膏。調藥厚攤。烘熱貼。</p>
<h2>五勞六極皆是火爍乎天真</h2>
<p>五勞者，五臟勞傷也。六極者，皮焦、肉脫，筋痿、骨重、津枯、脈數也。大抵勞怯之人有此症。皆因二火①無制，煎爍天真，氣血精神日漸衰弱，遂成六極。</p>
<p>凡治勞之法，須當辨其何臟虛、何臟實、氣虛、血虛、氣熱、血熱，真知灼見，治始無差。臟之虛者，其臟之脈，必虛而小。臟之實者，其臟之脈，必實而大。氣虛者，面白而無神。血虛者，面黑而枯</p>
<p>瘦。氣熱者面紅而光，聲確而清，病甚於晝，脈浮而數。血熱者面赤而黯，聲確而濁，病甚於夜，脈沉而數。氣血俱熱者，病則晝夜俱甚，氣急而津枯。依此辨之，無不中的。</p>
<p>氣虛用四君湯。血虛則用四物湯。氣血俱虛者用八珍湯。清氣用麥冬、竹葉、銀花、柴胡、知母之類。涼血用天冬、生地、胡黃連、黃柏、黃芩之類。安心神用茯神、遠志、酸棗仁之類。壯筋骨用牛膝、杜仲、虎骨之類。補陽用鹿茸、枸杞子、鎖陽、肉蓯蓉、菟絲子之類。補陰用山藥、丹皮、龜板、柏子仁之類。降相火用黃柏、知母。澀精用龍骨、牡蠣粉、鹿角霜、山茱萸、楮實子、赤石脂之類。</p>
<p>四君湯見5頁</p>
<p>四物湯見6頁</p>
<p>八珍湯見6頁</p>
<p>─────────────────────</p>
<p>①二火：君火、相火。</p>
<h2>吐血出於胃腑</h2>
<p>吐血出於胃也。其因：有飲酒過傷者，有負重損傷者，有跌撲損傷者，有因勞損傷者，有勞心過多者，有大怒氣逆者，種種不同。必須診脈問明，方可施治、以犀角地黃湯為主。酒傷加葛根、黃連、茅根、藕汁。內傷加當歸、桃仁、紅花、韭汁。房勞加當歸、熟地、知母、黃柏、桅子、竹瀝。勞心傷加酸棗仁、茯神、玄參、當歸。怒傷加青黛、黃芩。如精神壯健，大便燥結，吐血不止者，加炒黑大黃、桃仁泥、童便。如吐血過多，形容脫色，脈微欲絕者，以獨參湯飲之，乃血脫益氣之法，氣旺則能生血也。</p>
<p>犀角地黃湯</p>
<p>犀角地黃湯，丹皮赤芍襄，能醫諸失血，加減服之良。</p>
<h2>衄血本乎肺經</h2>
<p>衄血者，血出於鼻也。鼻為肺之竅，故曰本乎肺經。治用犀角地黃湯加枯芩、茅根、柏葉、藕節。或用荷葉蒂、藕節各七個搗碎，水煎服。</p>
<h2>痰涎血屬於脾臟</h2>
<p>脾生痰，痰中帶血出於脾也。犀角地黃湯加白芍藥、茯苓、瓜蔞仁、竹瀝。血色紫黑者，加桃仁泥、韭汁、當歸。</p>
<h2>咯唾血屬於腎經</h2>
<p>咯血者，咯出血屑也。唾血者，鮮血隨唾而出也。懼屬腎經。犀角地黃湯加知母、黃柏、元參、熟地治之。</p>
<h2>牙宣者陽明之熱極</h2>
<p>齒縫中出血謂之牙宣，乃陽明經之熱也。足陽明之脈，貫於上齦；手陽明之脈，貫於下齦。陽明濕熱上蒸，則齒齦腐爛出血。用黃芩、連翹、薄荷、梔子、甘草，水煎服。外用百草霜、龍骨、炒鹽為末，</p>
<p>敷之。</p>
<h2>舌衄者少陰之火生</h2>
<p>舌上出血，名曰舌衄。用槐花炒為末擦之。有舌長出口者，用冰片敷之即效。</p>
<h2>腹中窄狹而痰火各別</h2>
<p>肥人自覺腹中窄狹，是濕痰流注胃腑，用蒼朮、香附以燥飲行氣。瘦人自覺腹中窄狹，是熱氣薰蒸胃腑，用蒼朮、黃連以開鬱清熱。</p>
<h2>胸中煩熱而虛實可分</h2>
<p>胸中煩熱，實熱者須用梔子仁。若虛煩須用人參、白朮、茯苓、黃芩、白芍、麥冬。</p>
<h2>驚悸痰迷恐懼所致</h2>
<p>驚悸者，痰迷心竅也，多因恐懼所致，治用二陳湯加茯神、遠志、當歸、柏子仁、酸棗仁、人參。或用八物定志丸、補心丹。</p>
<p>二陳湯見7頁</p>
<p>八物定志丸</p>
<p>八物定志安心神，鎮驚補氣牛黃（人）參，遠志茯神菖（蒲）（茯）苓（白）朮，麥冬蜜丸朱（砂）衣吞。</p>
<p>補心丹</p>
<p>前人遺下補心丹，善治驚悸睡眠難．（當）歸（生）地（天麥）二冬酸（棗仁）柏（子仁）遠（志），（丹人元）三參（茯）苓桔（梗）（五）味（子）為丸。</p>
<h2>健忘血少憂鬱而成</h2>
<p>健忘之病，因憂思過度，損傷心包，以致神舍不清，故令人轉眼遺忘。宜歸脾湯、八物定志丸。</p>
<p>歸脾湯</p>
<p>歸脾湯四君①，（木）香（炙）耆遠（志）棗仁，元肉（當）歸薑棗，健忘效如神。</p>
<p>─────────────────────</p>
<p>①四君：即四君湯。</p>
<h2>癲狂者分心肝之熱極</h2>
<p>心熱極則癲；肝熱極則狂。癲多喜；狂多怒。脈浮大者吉，沉細者凶。癲宜清心養神，寧志化痰湯主之。狂宜去風除熱，防風通聖散主之。</p>
<p>甯志化痰湯</p>
<p>甯志化痰（湯）（人）參，天麻（黃）連膽星，茯苓陳（皮）半夏，棗仁菖蒲根。</p>
<p>開迷散</p>
<p>婦人患癲狂，桃仁赤芍當（歸），柴（胡）（茯）苓甘（草）遠（志）（白）朮，蘇（木）（生）地合一方。</p>
<p>防風通聖散見19頁</p>
<h2>癇症者尋痰火之重輕</h2>
<p>癇症大抵屬痰火與驚，不必分五等治法。大率行痰為主，用黃連、南星、瓜蔞、半夏。尋痰、尋火，分多少治之，無不愈者。有熱者，以涼藥清其心。有疾者，必用吐藥，吐後用安神丸及平肝之劑，如柴胡、青黛、川芎之類。</p>
<p>安神丸</p>
<p>安神丸朱砂，甘草當歸加，黃連生地黃，癇症效堪誇。</p>
<h2>便濁有赤白之異</h2>
<p>便濁者，小腸經之熱，膀胱之結也。血熱則赤；氣熱則白。治用清心蓮子飲，赤加木通、黃柏；白加赤苓、滑石。</p>
<p>清心蓮子飲</p>
<p>清心（石）蓮子（黃）芩，車（前子）柴（胡）地骨（皮）（人）參，麥（冬）</p>
<p>（赤茯）苓（黃）耆甘草，便濁服之清。</p>
<p>萆薢分清飲</p>
<p>萆薢分清飲，烏藥與菖蒲；草梢兼益智，茯苓必同居。</p>
<h2>汗出有自盜之名</h2>
<p>自汗者，時常無故濈濈①汗出，動則更甚，屬於陽虛。盜汗者，寐②中汗出，醒後汗止，屬於陰虛。自汗宜補陽調衛；盜汗宜補陰降火。自汗用補中益氣湯加麻黃根、浮小麥。虛甚者加熟附子一二片。方中升麻、柴胡俱用蜜水炒，以制其升發之性。然非升麻、柴胡不能領參耆至於肌表，故用之耳。盜汗用當歸六黃湯。</p>
<p>─────────────────────</p>
<p>①濈：ji1（音吉）。濈濈：汗出和緩的樣子。</p>
<p>②寐：mei4（音妹）。寐中：睡眠當中。</p>
<p>當歸六黃湯</p>
<p>盜汗六黃湯，當歸二地黃，（黃）柏（黃）連（黃）芩酒炒，黃耆七味良。</p>
<p>獨聖散</p>
<p>獨聖散五倍（子），為末津調配，臍中敷一宵．汗出登時退。</p>
<p>補中益氣湯見17頁</p>
<h2>九種心疼痛在胃脘</h2>
<p>心疼，即胃脘疼也。古云心痛有九種：一蟲、二疰、三風、四悸、五飲、六食、七寒、八熱、九去來痛。予考其言，雖有其名，而無其注，故醫者認治不真。子既知之，敢不開示後學。</p>
<p>夫蟲疼者，懊憹（右邊是簡體的農）不安、口吐清水、面多蟹爪紋路，用白礬、雄黃、檳榔為末，湯水調下。疰病者，平日無心痛之症，忽然作痛，妄言譫語，脈來乍大乍小，用銀花一兩水煎服。風痛者，因暑天露臥，風邪入於脾中，脾痛連心，上下不定，多兼嘔吐，用藿香正氣散。悸痛者，其痛不甚，但覺胸中隱隱然如痛之狀，此因驚風乘心也，治用二陳湯加茯神、遠志、黃連、積實、當歸。飲痛者，因痰飲留於胃脘，阻塞氣逆，故作痛也，其人眼下必如灰煙之染，胸中常如冰水之停，甚者以滾痰丸下之，輕者以導痰湯加蒼朮、香附、川芎。食痛者，胸中痞滿，或噯氣吞酸，惡聞食氣，用平胃散加枳實、山查、萊菔子、神麯、</p>
<p>麥芽之類。寒痛者，客寒犯胃，其痛大作，四肢清冷，六脈沉遲，蟠蔥散主之。熱病者，積熱在胃，心煩身熱，大小便不利，二陳湯加梔子、黃連、川芎、香附。去來疼者，時作時止，面赤口渴，瘦人多有此病，乃胃火作痛也，四物湯加梔子、香附、陳皮。</p>
<p>丹溪曰：凡人喜食熱物，致傷胃口，清血出而留滯，則成瘀血，蓄積胃中，多作心痛。其症得熱飲則病癒甚，其脈沉澀。甚者以桃仁承氣湯下之，輕者以四物湯加桃仁、紅花、乳香、沒藥、五靈脂、元胡之類。</p>
<p>蟠蔥散</p>
<p>蟠蔥散茯（苓）檳（榔），（炮）薑砂（仁炙）（甘）草（肉）桂（三）棱，青（皮）丁（皮）蒼（朮）（元胡）索莪（朮），心痛疝家疼。</p>
<p>藿香正氣散見28頁</p>
<p>滾痰丸見23頁</p>
<p>二陳湯見7頁</p>
<p>導痰湯見7頁</p>
<p>平胃散見8頁</p>
<p>四物湯見6頁</p>
<p>桃仁承氣湯見16頁</p>
<h2>七般疝氣病在厥陰</h2>
<p>七疝者，寒疝、水疝、血疝、氣疝、筋疝、狐疝、癲疝也。張子和①論之詳矣。丹溪謂「疝專主肝經，與腎經絕無相干」。多因肝經濕熱之氣下注，不得瀉越，或為偏墜，或為疝痛。子嘗制一方以治之，不過三四劑即奏神效，百發百中，無不應驗，名曰三捷湯。</p>
<p>三捷湯</p>
<p>青皮（一錢）官桂（五分）歸尾（一錢）檳榔（二錢）大茴香（七分微炒）黃柏（三分）橘核（二錢）木通（二錢）紫蘇（七分）香附（一錢）赤茯苓（二錢）柴胡（一錢）荔枝核（七個炒）薑（一片）水三盅，煎一盅，空心熱服。</p>
<p>按：《醫宗金鑒》疝證同名異辨曰：「血疝，即魚口便毒也。筋疝，即下疳也」。是則七疝之中，還包括下疳、使毒等花柳病在內。劉氏三捷湯奏效迅速，蓋系寒疝之類也。</p>
<h2>脅痛有兩邊之別</h2>
<p>脅②痛，即肋痛也。兩脅屬少陽膽經，其間或痰飲流注，或瘀血停積，而氣不得運行，故作痛也。痰者，脈弦而滑。血者，脈弦而澀。痰者用陳皮、茯苓、瓜蔞、甘草、枳殼、柴胡、白芥子、竹瀝、薑汁。血用當歸、赤芍、桃仁、紅花、柴胡、官桂、香附、沒藥。如肝火作痛者，加黃連、龍膽草。如食積作痛者，加麥芽、砂仁。</p>
<p>─────────────────────</p>
<p>①張從正，字子和，金、雎州考城人。其法宗劉河間，用藥多寒</p>
<p>涼。對於汗、吐、下三法，研究最精．若有《儒門事親》。</p>
<p>②脅：xie2（音協）。從腋下到肋骨界處的部分叫做脅。</p>
<h2>頭風有左右之分</h2>
<p>頭居一身之上，當風寒之衝，一有間隙，則風邪乘虛而入。如血虛而風邪乘之，則左邊痛。如氣虛而風邪乘之，則右邊痛。脈浮滑者易治，短澀者難治。方以川芎茶調散為主，血虛加熟地、當歸；氣虛加黃耆、人參；有痰加半夏、南星；有熱加黃芩石膏；風盛加天麻、蔓荊子。其法以加藥為主。本方為佐也。</p>
<p>川芎茶調散</p>
<p>川芎茶調散，荊（芥）薄（荷）（白）芷防（風）甘（草），（細）辛羌（活）八味藥，頭風癰可安。</p>
<p>都梁丸治暴感風寒，頭強項直，不能回顧之症．俗云失枕痛，皆可治也。</p>
<p>香白芷（二兩）研為細面，煉蜜為丸，如彈子大。每服一丸，細嚼，茶水或荊芥湯送下。</p>
<h2>腰痛腎虛而或閃挫</h2>
<p>腰者腎之府，一身之大關節也。如房勞過度則腎虛，閃挫則氣逆，負重損傷則血凝，睡臥濕處則受寒濕，此皆為腰痛之因也。原其病形，各有分別。腎虛者，其痛悠悠不已，脈沉弦而大也。閃挫者，俯仰艱難，脈沉弦而實也。血凝者，痛如錐刺，日輕夜重也。濕熱者，小便黃而大便溏，脈沉弦而細數也。寒濕者，遇天陰及久坐而作痛者是也。腎虛用當歸、熟地、枸杞、牛膝、杜仲、茴香、知母、黃柏、續斷、獨活之類。閃挫用茴香、木香、川芎、官桂、砂仁、枳殼之類。血凝用歸尾、桃仁、紅花、蘇木、乳香、沒藥、肉桂、元胡、獨活之類。濕熱用茯苓、白朮、陳皮、防己、知母、防風、秦艽、羌活之類。寒濕用川芎、當歸、桂枝、附子、杜仲、牛膝、白芷、蒼朮、獨活之類。</p>
<h2>腹痛寒氣而或食停</h2>
<p>中脘病屬太陰，臍腹痛屬少陰，小腹痛屬厥陰。綿綿痛而無增減者寒也。時作時止者熱也。痛甚欲大便，便後痛減者，食積也。痛有常處而不移動者，死血也。痛時小便不利，得辛辣熱物痛暫止者，痰也。痛而腹中有塊起，急以手按便不見，噁心清水出者，蟲也。或先食熱物，後食寒物，而作痛者，冷熱不調也。又有真腹痛，痛時臍上青筋上貫於心者險，人中黑者危。脈細而遲者吉，脈大而疾者凶。治以平胃散加白芍為主。寒加乾薑、附子、肉桂、吳茱萸之類。熱加白芍、黃柏。痛甚加炒乾薑。食積加檳榔、枳實．神麯、麥芽、山查、萊菔子之類以消之，甚者加大黃、肉桂以下之。死血加歸尾、桃仁、五靈脂、元胡索之類以活之，甚者加大黃、肉桂以下之。濕痰加南星、半夏、香附、茯苓、枳殼、木通之類。蟲病加使君子肉、苦楝根皮。冷熱不調加芍藥、桂枝、大黃。</p>
<p>凡腹痛連於脅痛，手足冷，脈伏匿者，多是飲食痰飲填塞至陰，抑遏肝膽之氣。宜用燒鹽湯探吐。此木鬱達之之法。</p>
<p>平胃散見8頁</p>
<h2>痿症不足與濕熱</h2>
<p>《內經·痿論》的記載大義是：肺熱葉焦，即皮毛虛弱急薄，而生痿躄①。心氣熱，則生脈痿，筋縱而不任也。肝氣熱，則為筋痿，而宗筋弛縱。脾氣熱，則為肉痿，肌肉不仁。腎氣熱，則為骨痿，而足不任身。</p>
<p>痿症之因：或病後遠行；或產後起早；或斲喪②異常，立行房事，勞傷骨髓，以致兩足痿軟者甚多。治宜補精養血壯筋骨之劑。又必須戒絕房勞，庶獲全愈。起痿固真丸主之。</p>
<p>如夏日濕熱盛行，感其濕熱之邪而成痿者，宜李東垣清燥湯。</p>
<p>一人嗜酒患痿。予謂酒者濕熱之物也，因酒成痿，與以清燥湯，良效。</p>
<p>起痿固真丸</p>
<p>人參（一兩）黃耆（一兩）當歸（二兩）牛膝（一兩半）肉蓯蓉（酒炙二兩）熟地（四兩）川芎（一兩）杜仲（二兩）木瓜（一兩）鹿角膠（四兩酒炙）虎骨（二兩醋炙）茯苓（二兩）黃柏（二兩酒炒）陳皮（一兩）鹽知母（二兩）熟附子（五錢）麥冬（二兩）五味子（一兩）共為細末，煉蜜為丸。桐子大。每服百丸，酒下。或作煎劑亦可。</p>
<p>清燥湯</p>
<p>清燥四君蒼（朮），陳（皮）（黃）耆（澤）瀉麥（冬）當（歸），升（麻）柴（胡）（黃）連（五）味（子）葛（根），（生）地（神）曲（黃）柏豬（苓）良。</p>
<p>─────────────────────</p>
<p>①躄：bi4（音必）。兩腳有毛病叫躄。兩腿痿軟不仁不能行路叫痿躄。</p>
<p>②斲：zhuo1（音拙）斲喪：沉溺酒色，損害身體。</p>
<h2>痹症寒濕與風乘</h2>
<p>《內經》曰：「風、寒、濕三氣雜至合而為痹①也。」風多則走注，寒多則掣痛，濕多則重著。痹者，猶閉也。風、寒、濕氣侵入肌膚，流注經絡，則津液為之不清，或變痰飲，或成瘀血，閉塞隧道，故作痛走注，或麻木不仁。宜用通經止痛湯。</p>
<p>─────────────────────</p>
<p>①痹：bi4（音閉）。</p>
<p>一婦人懷孕二月，遍身疼痛。醫者作痛風治，百藥不效。將一月矣。絕粒數日，麻木愈甚，發喘幾殆①，脈乍大乍小，面乍紅乍白，用左纏藤②一兩，河水二盅，煎服即瘥。</p>
<p>通經止痛湯③</p>
<p>通經止痛湯，南（星）威（靈仙）（白）芷（黃）柏蒼（朮），（川）芎桃（仁）龍膽（草）（神）曲，防己桂（枝）紅（花）羌（活）。</p>
<p>─────────────────────</p>
<p>①殆：dai（音代）。發喘幾殆；喘的幾乎要死。</p>
<p>②左纏藤：即忍冬藤。</p>
<p>③即朱丹溪的上中下通用痛風方。</p>
<h2>四種遺精心腎不能既濟</h2>
<p>遺精有四：有用心過度，心不攝腎失精者；有色欲太過，滑泄不禁者；有思欲不隨，精氣失位而出者；有久無欲事，精氣滿泄者，皆因心腎不接，水火不能既濟，以致有此。</p>
<p>夢中交合而泄精者，謂之夢遺，此神志不清也，二陳湯加人參、枳實、遠志、茯神、酸棗仁、辰砂、砂仁。或隨溲溺而出者，謂之精滑，此房事過多也，八珍湯加知母、黃柏、五味子、山茱萸、牡蠣、龍骨。</p>
<p>一少年久無色飲，精出牽絲黏膩，雖不便溺，亦常有之。予曰：此名精滑，乃淫火動而精離。治宜清心滋腎健脾固脫，九龍丹治之而愈。</p>
<p>九龍丹</p>
<p>九龍丹九味，金櫻（子）（山茱）萸枸杞，蓮須芡（實）茯苓，五蓮（子）（當）歸熟地。</p>
<p>白鹿丸</p>
<p>白鹿治遺精，（鹿）角霜牡蠣均，生龍骨減半，酒糊作丸吞。</p>
<p>二陳湯見7頁</p>
<p>八珍湯見6頁</p>
<p>按：久無欲事精滿而泄者，不當以病論。</p>
<h2>五般黃疸濕熱薰蒸而成</h2>
<p>疸症有五，曰黃疸、黃汗、穀疸、酒疸、女勞疸。《金匱要略》論之詳矣。丹溪曰：「疸不必分其五，同是濕熱，如盦曲相似①」利水為先，解毒次之。茵陳去疸湯主之。凡疸病腹滿臍突、手足心黃、寸口無脈，皆不治也。</p>
<p>茵陳去疸湯</p>
<p>茵陳去疸湯，（黃）芩（黃）連梔子蒼（朮），豬苓青（皮）澤瀉，龍膽（草）水煎嘗。</p>
<p>─────────────────────</p>
<p>①盦：an1（音安）。復蓋也。盦曲相似：是說黃疸發病的原因，和造曲時濕熱薰蒸日久發酵變色的道理一樣。</p>
<h2>眩暈者無痰不作</h2>
<p>《靈樞經》①曰：「腦為髓之海。……髓海有餘，則輕勁多力，自過其度。髓海不足，則腦轉耳鳴，脛痠眩冒，目無所視，懈怠安臥。」丹溪曰：「無痰則不作眩，痰因火動。」予考眩暈者，皆由房勞過度，精去髓空，凡經勞動則火氣上炎，故頭旋目暗而暈倒矣。治當大補其腎，六味地黃丸加鹿茸、牛膝。《內經》曰：滋苗必固其根，此治本之法也。若夫胸中有痰；以致頭目眩暈，治以二陳湯為主。挾風加菊花、天麻、川芎、羌活；挾寒加附子、乾薑；挾暑加香薷、扁豆、黃連；挾濕加蒼朮、白朮、乾薑。人有吐血太過，與夫崩產脫血而暈者，宜獨參湯補之，乃血脫益氣之法也。</p>
<p>六味地黃丸</p>
<p>六味地黃丸，丹皮山藥煎，山萸（茯）苓澤瀉，熟地蜜為丸。</p>
<p>二陳湯見7頁</p>
<p>─────────────────────</p>
<p>①《靈樞經》：是我國最古老的一部醫書。與《素問》合稱《內經》。</p>
<h2>消渴者無火不生</h2>
<p>消渴有三：上消者屬肺，多飲而少食，大小便如常；中消者屬胃，善饑多飲食，而小便黃赤；下消者屬腎，小便濁淋如膏，煩渴引飲，耳輪焦黑，小便頻數。能食者，必發癰疽背瘡；不能食者，必傳中滿腹脹。大抵三消，皆因火熱之氣煎熬臟腑，消爍血液也。治以四物湯為主。上消加人參、五味、麥冬、花粉，煎成後兌入藕汁、人乳、生地汁，飲酒之人加生葛根汁。中消加石膏，以降胃火。下消加黃柏、知母、五味子，以滋腎水。</p>
<p>四物湯見6頁</p>
<h2>不寐者痰火旺而血少</h2>
<p>不寐有三：有痰在心經，神不歸舍，而不寐者，用溫膽湯加酸棗仁、竹瀝、薑汁。有病後虛弱而不寐者，六君湯加黃耆、酸棗仁。有血少而不寐者，歸脾湯。又：不寐者，膽虛寒也，炒棗仁研末竹葉湯下。多睡者，膽實熱也，生酸棗仁研末薑茶湯下。</p>
<p>溫膽湯見7頁</p>
<p>六君湯見6頁</p>
<p>歸脾湯見35頁</p>
<h2>多睡者脾胃倦而神昏</h2>
<p>脾胃倦，則怠惰嗜臥。神思短，則懶怯多眠。六君湯主之。</p>
<h2>大便秘乃血液燥結</h2>
<p>大便秘結者，乃津液少之故也。治當養血潤腸。宜四物湯加麻仁、杏仁之類。切不可妄用芒硝、大黃、巴豆、牽牛峻下之劑，戕①損真陰，敗傷胃氣，反致大害。若夫胃氣先實，邪蓄腸內，則非下不可，而硝黃等藥又當必用也。</p>
<p>潤燥湯</p>
<p>潤燥湯九味，桃（仁）紅（花）（當）歸二地，甘草共大黃，麻仁升麻劑。</p>
<p>─────────────────────</p>
<p>①戕：qiang2（音強）。戕損：也就是損傷。</p>
<h2>小便閉乃氣滯不行</h2>
<p>東垣曰：小便不通，以渴與不渴而辨之，在氣在血而治之。如渴而小便不利者，邪在上焦氣分，宜清肺氣，瀉其火以資水之上源，清肺飲主之。如不渴而小便不利者，熱在下焦血分，宜除其熱邪，以滋膀胱腎水之下元也，通關丸主之。</p>
<p>一人小便不通，服諸藥不效。予日：膀胱者，州都之官，津液藏焉，氣化則能出矣。今秘而不通者，氣之滯也。用大皂角炒焦研末，蜜丸，桐子大，白湯送下，七丸即愈。</p>
<p>清肺飲</p>
<p>清肺飲豬（苓）澤（瀉），木（通）車（前子）通（草）瞿麥，燈心扁蓄（茯）苓，煎調琥珀末。</p>
<p>通關丸（一名滋腎丸）</p>
<p>通關丸知（母）（黃）柏，各用二兩（酒）炙，肉桂只一錢，水送空心吃。</p>
<h2>痔疾腸風濕熱所致</h2>
<p>痔疾者，濕熱之氣所主也。如樹生菌物，必因濕熱而生。治宜涼血寬氣為主。予嘗制一方，用條芩、黃連、秦艽、當歸、生地、荊芥、防風、甘草、青皮、枳殼、槐角、白朮，水煎服。外用冰片三厘、雄豬膽（用熊膽更好）三分、番木鼈一個、井水濃磨藥汁，敷之，即日奏效，治驗頗多。</p>
<p>大便下血：清而色鮮者，名曰腸風；濁而色黑者，名曰臟毒。大便前來者近血；大便後來者遠血。總用當歸和血散。</p>
<p>當歸和血散</p>
<p>當歸和血散，川芎白朮升（麻），槐（花）青（皮）荊（芥）（穗）熟地，腸風病可輕。</p>
<p>烏梅丸</p>
<p>烏梅燒作炭，研末醋糊丸，空心米飲下，便血立能痊。</p>
<h2>發斑癮疹風熱所乘</h2>
<p>發斑者，皮膚之上有云頭紅片也。癮疹者，皮膚之間有點如蚤斑①之狀也。皆因風熱所乘。犀角消毒飲治之。大便秘結者，防風通聖散主之。</p>
<p>犀角消毒飲</p>
<p>犀角消毒飲，牛蒡（子）與防風，荊芥同甘草，紅斑頃刻空。</p>
<p>防風通聖散見19頁</p>
<h2>耳聾者腎虛之故</h2>
<p>耳者，腎之竅也。腎氣實則耳聰；腎氣虛則耳聾。此大概言之也。其實手少陽三焦、足少陽膽二經之所過。故有氣厥而聾，有挾風而聾，有勞傷而聾者，必因其症而治之。腎虛者四物湯加枸杞、蓯蓉、知母、黃柏、菖蒲、柴胡。氣聾者二陳湯加香附、木香、黃芩、龍膽草、柴胡、菖蒲。風聾者九味羌活湯加柴胡、菖蒲。勞聾者補中益氣湯加遠志、菖蒲。</p>
<p>─────────────────────</p>
<p>①蚤斑：跳蚤咬的紅點。</p>
<p>四物湯見6頁</p>
<p>二陳湯見7頁</p>
<p>九味羌活湯見17頁</p>
<p>補中益氣湯見17頁</p>
<h2>目疾者肝火之因</h2>
<p>張子和曰：「目者，肝之外候也。」又曰：「聖人雖言目得血而能視，然血亦有太過、不及也。太過，則目壅塞而發痛。不及，則目耗竭而失明。大抵年少之人多太過，年老（瘦弱）之人多不及」。大法實者瀉之，虛者補之。治目用劑之法：散風用防風、荊芥、羌活、白芷、蔓荊子、菊花、薄荷之類。清熱用黃芩黃連、梔子、黃柏、連翹、知母、膽草之類。養血用當歸、川芎、白芍、生地、熟地、枸杞、夏枯草之類。理氣用香附、枳殼、青皮、檳榔、白豆蔻、蒼朮、甘草之類。補氣用人參、黃耆、白朮之類。退翳用木賊、蒺藜、蟬退、蛇退之類、明目用密蒙花、穀精草、青葙子、草決明、羊肝、柴胡之類。</p>
<h2>齒痛乃胃熱氣虛</h2>
<p>齒者，腎之標，骨之餘也。腎實則齒固；腎虛則齒豁。其齒痛者，非干腎也，乃陽明經熱也。以清胃散治之。有氣虛而痛者，補中益氣湯加熟地、丹皮、茯苓、白芍。有洞者，用川椒、燒石灰為末，蜜丸，塞於洞中即愈。牙疳用五倍子燒灰，加龍骨末少許，擦之神效。</p>
<p>清胃散</p>
<p>清胃散用升麻（黃）連，當歸生地牡丹（皮）全，或益石膏平胃熱，口瘡吐衄及牙宣。</p>
<h2>喉痹乃火動痰升</h2>
<p>喉痹者，乃喉咽閉塞不通也。曰乳蛾，曰纏喉風，名雖不一，其因則火與痰也。脈浮而微者不治。用藥之法：清熱用黃連、元參、山豆根、燈心。解毒用射干、牛蒡子、甘草。消痰用貝母、花粉、茯苓、桔梗、枳殼。滋陰用白芍、生地、黃柏、知母、竹瀝。</p>
<p>一少年值天氣暴熱，遠行而歸，忽咽喉閉塞不通，面熱滾淚。予謂暴病屬火，怪病屬痰。以辰砂五分、白礬二錢為末，冷水調下，頃刻而愈。又治一痰症不語者，藥下即語，亦此方也。</p>
<h2>鼻塞者肺氣之不利</h2>
<p>鼻者肺之竅。鼻塞有二症：鼻塞不聞香臭，或但遇寒月多塞，或略感風寒而塞者，是肺經素有火邪，火甚則喜熱而惡見寒，故遇冬便塞，遇風便發也。若一時感風寒而鼻塞聲重者，自作風寒治。大抵鼻之為病，除傷風鼻塞之外，皆由火熱所致，俱用清熱之藥也。</p>
<p>辛夷散</p>
<p>辛夷散裏槁（本）防風，白芷升麻與木通，（川）芎細（辛）甘草茶調服，鼻生瘜①肉此方攻。</p>
<p>蒼耳散</p>
<p>蒼耳散中用薄荷，辛夷白芷四般和，蔥茶調服疏肝肺，清升濁降鼻淵瘥。</p>
<p>─────────────────────</p>
<p>①瘜：xi1（音息）。瘜肉：鼻痔。</p>
<h2>口瘡者脾火之遊行</h2>
<p>口者，脾之外候也。脾火上行，則口內生瘡，瀉黃散治之。黃連、乾薑為末敷之。有虛火上炎，服涼藥不愈者，理中湯從治之。心熱則口苦，瀉心湯治之。脾熱則口甘，瀉黃散治之。肺熱則口辣，瀉白散治之。腎熱則口鹹，滋腎丸治之。肝膽實熱則口酸而苦，宜柴胡、龍膽草、青皮、黃芩之類。胃虛熱則口淡，宜補中益氣湯。唇燥裂生瘡者，脾血不足也，宜歸脾湯。</p>
<p>瀉黃散</p>
<p>瀉黃甘草與防風，石膏梔子藿香充，炒香蜜酒調和服，胃火口瘡並見功。</p>
<p>瀉白散</p>
<p>瀉白（散）桑皮地骨皮，甘草粳米四般宜（人）參茯（苓）知（母）（黃）芩皆可入，肺熱喘嗽此方施。</p>
<p>滋腎丸（即通關丸）見42頁</p>
<p>理中湯見15頁</p>
<p>瀉心湯見15頁</p>
<p>補中益氣湯見17頁</p>
<p>歸脾湯見35頁</p>
<h2>女人經水不調皆是氣逆</h2>
<p>丹溪論經水之大義是：經水者陰血也。血為氣之配，因氣而行。經水來而成塊者，氣之凝也。將行而痛者氣之滯也。經後作痛者，氣血俱虛也。色淡者，多痰亦虛也。錯經妄行者，氣之亂也。紫者，氣之熱也。黑者，熱之甚也。凡經候不調者，悉以四物湯為主。</p>
<p>用藥法：補氣用人參、白朮、黃耆、甘草。補血用當歸、川芎、白芍、熟地、艾葉、阿膠、蒲黃炭。氣滯用陳皮、香附、烏藥、莪朮、青皮、枳殼、砂仁。血滯用紅花、桃仁、歸尾、丹皮、牛膝。清熱用柴胡、黃芩、知母、黃柏、黃連、生地。溫經用乾薑、附子、肉桂。定痛用砂仁、元胡。去痰用南星、半夏。止澀用赤石脂、伏龍肝。</p>
<p>四物湯見6頁</p>
<h2>婦人心煩潮熱多是鬱生</h2>
<p>婦人多有抑鬱之症，乍寒乍熱，食減形瘦，宜用越鞠丸以開其鬱，逍遙散以調其經。</p>
<p>越鞠丸見24頁</p>
<p>逍遙散</p>
<p>逍遙散用當歸芍（藥），柴（胡）（茯）苓（白）朮（甘）草加薄荷，散鬱調經功最捷，調經丹皮梔子合。</p>
<h2>帶下砂淋由於濕熱</h2>
<p>帶下之狀，如涕之稠黏，治當清心補養為主。砂淋之狀，如水之淡薄，治當清熱燥濕為主。</p>
<p>婦人無病單下白者，是濕熱下注也。婦人久病，赤白並下，是氣虛下陷，用歸脾湯、補中益氣湯治之。</p>
<p>一婦人年五十，患白砂淋，兼胸膈不寬。予以越鞠丸一料，二症全愈。</p>
<p>越鞠丸見24頁</p>
<p>歸脾湯見35頁</p>
<p>補中益氣湯見17頁</p>
<h2>崩漏下血為損任衝</h2>
<p>崩漏①之病，為損於衝任之脈。蓋衝脈為十二經之血海，任脈為生養之元氣。因損此二脈，故血妄行。初起屬實熱，宜清熱也。稍久屬虛熱，宜養血而清火也。日久屬虛寒，宜溫經而補血也。</p>
<p>清熱：黃芩、黃連、黃柏、知母、生地、麥冬。</p>
<p>補血：當歸、川芎、白芍藥、熟地、艾葉、阿膠、蒲黃炭。</p>
<p>補氣：人參、黃耆、甘草、白朮。</p>
<p>調氣；陳皮、香附、砂仁。</p>
<p>升陽：羌活、獨活、防風、升麻、柴胡。</p>
<p>止澀；赤石脂、伏龍肝。</p>
<p>─────────────────────</p>
<p>①崩漏；忽然大量下血叫崩，日久淋瀝不斷的叫漏。</p>
<h2>胎孕不安治有二理</h2>
<p>安胎之法有二：有孕母有病，以致胎氣不安者，但治母病，其胎自安。有胎氣不安，以致孕母有病者，但安股氣，其病自愈。</p>
<p>膠艾四物湯</p>
<p>漏血膠艾湯，川芎芍藥當（歸），地黃兼甘草，胎動即安康。</p>
<p>紫蘇飲</p>
<p>子懸①紫蘇飲，（川）芎當（歸）芍藥陳（皮），腹皮（人）參甘草。脹滿即時寧。</p>
<p>─────────────────────</p>
<p>①孕婦胸膈脹滿，叫子懸。</p>
<p>子淋散</p>
<p>子淋①散麥冬，竹葉腹度（赤）苓，燈心（木）通甘草，溺澀即時行。</p>
<p>羚羊角散</p>
<p>子癇②飲羚羊，（川）芎當（歸）薏（米）茯（神）（木）香，酸（棗仁）防（風）甘（草）獨（活）杏（仁），五加皮生薑。</p>
<p>竹葉湯</p>
<p>子煩③飲茯苓，防風與麥冬，黃芩同竹葉，寤寐即安寧。</p>
<p>茯苓湯</p>
<p>子腫④飲甘（草）（茯）苓，（川）芎（當）歸（白）芍（熟）地（黃）芩，麥冬梔（子）厚（朴）澤（瀉），白朮水煎吞。</p>
<p>李氏天仙藤散</p>
<p>子氣用天仙（藤），陳皮香附煎，紫蘇與烏藥，木瓜（甘）草薑煎。</p>
<p>一婦人有孕二月患惡阻，予用二陳湯加當歸、白芍、黃連、白朮、竹茹、烏梅即愈。</p>
<p>一婦人有孕三月患心痛，予用食鹽一錢（炒赤）、大棗十四枚（炒黑）研末，酒下即愈。</p>
<p>─────────────────────</p>
<p>①孕婦小便頻數淋瀝作痛，叫子淋。</p>
<p>②孕婦無故突然倒地，抽搐不省人事。少刻又如好人一樣，叫子癇。</p>
<p>③孕婦沒有別的病，時時感覺心煩，則子煩。</p>
<p>④孕婦遍身浮腫，叫子腫。僅自膝至足浮腫的，叫子氣。</p>
<p>附：保產無憂湯</p>
<p>《傅氏女科·產後篇補集》載有：未產能安，臨產能催。偶傷胎氣，腰疼腹痛，甚至見紅不止，勢欲小產，危急之際，一服即愈，再服全安，臨產時橫生逆下，服之奇效。</p>
<p>當歸川芎菟絲子（各錢半）厚朴（酒浸）酒芍（各二錢）枳殼羌活（各八分）貝母芥穗黃耆（各一錢）艾葉炙草（各五分）鮮薑引</p>
<p>樂天按：二十五年前余愛人懷孕三月，肩荷重物，雨路滑跌，傷胎。腹痛難忍，翻滾床上。予以此方按原分量服之，片時即安，兩劑痊癒。</p>
<h2>產後發熱原有七因</h2>
<p>產後發熱原因有七，有去血過多而發熱者，有惡露不行而發熱者，有感冒風寒而發熱者，有過傷飲食而發熱者，有蒸乳而發熱者，有乳膨而發熱者，有早起蓐①勞而發熱者。必詢問其因、診切其脈。如去血過多者，六脈必虛，宜益氣養營湯。惡露不行者，腹中必痛，宜黑神散。感冒風寒者，必兼頭痛，宜五積散。過傷飲食者，胸膈不寬，宜消食飲。蒸乳發熱者，乳汁不通，宜通乳湯。乳膨發熱者，無人飲乳，用炒麥芽五錢研末，米飲送下。起早蓐勞者，腰胯作痛，宜豬腎飲。大抵產後用藥，必須溫暖，使惡露疏通，大補氣血為主，雖有他症，以末治之。</p>
<p>─────────────────────</p>
<p>①蓐：ru4（音辱）。</p>
<p>益氣養營湯</p>
<p>益氣養營湯，（人）參（黃）耆白朮當（歸），芍（藥）（川）芎陳（皮）熟地。甘草茯苓幫。</p>
<p>黑神散</p>
<p>黑神散（熟）地黃，蒲黃炒黑薑，赤芍（當）歸尾（肉）桂，炙草（黑）豆炒香。</p>
<p>五積散</p>
<p>五積陳（皮）蒼（朮）（白）芷，麻黃桔（梗）茯苓，桂枝（乾）薑半夏，枳（殼）（厚）朴芍（藥）當（歸）（川）芎。</p>
<p>消食飲</p>
<p>消食飲山查，青陳（皮）（神）曲麥芽，（蒼）朮（茯）苓甘（草）枳實，厚朴與（木）香砂（仁）。</p>
<p>通乳湯</p>
<p>通乳湯通草，豬蹄（川）芎甘草，山甲一同煎，服下涓涓到。</p>
<p>豬腎飲（又名石子湯）</p>
<p>蓐勞豬腎飲，白芍與當歸，粳米香鼓入，蔥白也相隨。</p>
