<header data-type="book">
<h1>韓氏醫通</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>韓懋</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1522">公元1522年</data></dd></div>
</dl>
</header>
<h2>自序</h2>
<p>《醫通》草成，幾欲焚去。今年家兄命謂：先君序集有效方手澤，豈容勿傳。乃補葺分九章，凡九十五則，厘為上、下二卷。讀且數過，心動顏汗，向兄不能語者久之，而後語曰：人有定壽，醫善折之，聖智不能加多也。病有氣機，醫每失之，造化不容有鑿也。兄謂弟誠能醫乎哉！夫孔門學農圃者小之，而老氏妄言罔象，又奚醫之為也。是編聊為醫之徹上徹下語而已爾。</p>
<p><u>嘉靖改元壬午六月朔飛霞子韓　天爵自序</u></p>
<h2>卷上</h2>
<h3>緒論章第一</h3>
<p>（凡一十一則）</p>
<p>飛霞子曰：天地萬物，氣成形也。不位不育，病之時也。人之養氣踐形而致中和者，醫之道也。失而至於針砭、藥餌，第二義矣。《易‧無妄‧九五》曰：無妄之疾，勿藥有喜。</p>
<p>孔子曰：無妄之藥，不可試也。此最上義也。得醫之最上義者，氣之沖，神之化，皆此身之真息以踵也。盧扁指豎子，華佗剖腸腑，白玉蟾呵臀癰，藥餌云乎哉？針砭云乎哉？土為沖氣，脾胃為穀氣。沖氣寄旺，穀氣輔運，無一刻之停，此所謂真息也，而以踵焉。至虛之地，氣之樞而神之舍也。故曰萬物負陰而抱陽，沖氣以為和。夫然後知醫之造化裁成，胥此焉出矣。《易》曰：神而明之，存乎其人。</p>
<p>神農嘗百草，雖非經見，理或有之。軒岐、尹咸多古書，要難盡信。《周禮》大司巫掌醫卜，則醫之為道也，技焉爾矣！秦漢以前，有說無方，故《內經》諸書，鄭重　縷，亦多累世附會竄雜之言。漢魏而下，有方無說，非無說也，言愈多而理愈晦也。自張、劉、戴、李諸君子出，立法分類，原病處方。而後經旨燦然。丹溪朱彥修乃能集名醫之大成，尊《素》《難》如六經，以諸子為羽翼，醫之為技，庶乎其顯著矣！今之日，諸書充棟，學人望洋，安得起群公而就正，刪述一番。有經、有傳、有史，俾醫道不淪於遠泥，而有以達中和極致之功，然後為快耶！人在氣交中，如魚在水，氣能令人病不病，如水能令魚嘉與餒也。故醫運化機，天地且不能違矣。況於人乎？況於鬼神乎？五運六氣，雖準節令，久之歲差。一日之間，四序實寓。學人善識天時，則一時有一時之運氣，豈惟歲哉？風土異宜，自然氣隔。古分南北二政，自今輿圖，以河界南北，而江之東、關之西可類從矣。南北云者，陰陽之軌，四方之轂，八風之輻湊也。</p>
<p>熱生風，寒生濕，風生火，濕生痰，火生暑，痰生燥，乃人身中之五運六氣，一息不停者。金形白色、洪聲、宮音之類。又身之風土，而父子不能相易者。故人之稟賦，三天兩地，一氣流行而已。氣失其平之謂疾，疾甚之謂病。三才相因之謂機，機動之謂時。《陰符經》曰：天發殺機，移星易宿；地發殺機，龍蛇起陸；人發殺機，天地反復。又曰：食其時，百骸理；動其機，萬物安。又曰：三才既宜，三盜既安。嗚呼！此可以契醫之三昧矣乎！醫之理，可比《周易》。針砭、藥餌，即卜筮法也。丹溪云：冷生氣，高陽生之謬言。</p>
<p>予謂冷生氣是復卦HT　，熱生風是　卦HT　。即天根月窟之化機。《內經》所謂：「亢則害，承乃制」者也。故王安道論曰：《易》者，造化之不可常者也。惟其不可常，故神化莫能以測。《易》曰：一陰一陽之謂道，陰陽不測之謂神。世之工醫卜而自小焉者何也自開辟來，五氣乘承，元會運世，自有氣數，天地萬物舉不能逃。近世當是土運，是以人無疾而亦疾，此與勝國時多熱不同矣。如俗稱楊梅瘡，自南行北，人物雷同。土濕生霉，當曰霉瘡。讀醫書五運六氣、南北二政，何以獨止於一年一時，而頓忘世運元會之統耶？宋儒謂為人子者不可不知醫。又謂不為良相，當為良醫，惜人不能以皆能也。則東坡蘇氏有言：擇醫之特出者，先告以病狀，然後使脈以合之。吾但欲愈吾之病爾，何必考其術。</p>
<p>此深得用醫之法。然醫書有望、聞、問、切之說，被近世熊宗立者妄注，予乃為六法兼施之案，庶幾盡神聖工巧之用云。</p>
<h3>六法兼施章第二</h3>
<p>（凡四則）</p>
<p>式云某處有某人某年月日。填醫案一宗。</p>
<p>望形色：</p>
<p><a href="_files/ph1.bmp">圖一</a></p>
<p><a href="_files/ph2.bmp">圖二</a></p>
<p>聞聲音：</p>
<p><a href="_files/ph3.bmp">圖三</a></p>
<p>問情狀：何處苦楚？　何因而致？何日為始？　晝夜孰甚？寒熱孰多？　喜惡何物？曾服何藥？　曾經何地？切脈理：左部寸　浮本位　中取　沉候關　浮取　中候　沉本位尺　浮候　中取　沉本位右部寸　浮本位　中候　沉取關　浮取　中本位　沉候尺　浮應上焦　中應右關　沉應肝腎論病原：某人素稟孰盛？　其病今在何類？標本孰居？　畢竟何如？（按：此句是論吉凶順逆易治難治。）</p>
<p>服藥宜如何將息？　病疾沉　痼今在何際？治方術：主治用何法？　先後用何方？六法者，望、聞、問、切、論、治也。凡治一病，用此式一紙為案。首填某地某時，審風土與時令也；次以明聰望之、聞之，不惜詳問之，察其外也；然後切脈、論斷、處方，得其真也。各各填注，庶幾病者持循待續，不為臨敵易將之失，而醫之心思既竭，百發百中矣。</p>
<p>予既立兼施式，有刑名家過而言曰：望、聞即兩造具備，察言觀色之時，問而筆之供詞也，切則考鞫親切，而論治為招判發落矣。其言雖謔，足以解惑云。</p>
<p>或曰：六法兼施，得無瑣瑣乎？予應之曰：醫藥，人之司命，為謀弗忠，非仁術矣。病有不治之條，醫有　股之念，誠如是而不救焉，彼雖命爾，吾猶以為未精吾技而誤於人人也。若夫輕疾小恙，雖不填案可也，畏其瑣而並棄之，非予志矣。</p>
<h3>脈訣章第三</h3>
<p>（凡一十則）</p>
<p>《脈訣》左寸下指法如六菽（大豆也）之重，（仍以其人之肥瘦為別）為心本位。（在指頂為陰、為心，在指節為陽、為小腸。余皆仿此）。五菽以下，七菽以上，皆心與小腸絡脈也。關以十二菽為肝膽本位，尺以至骨為腎、膀胱本位；右寸三菽為肺、大腸本位，關以骨肉之間為並仿前例推之。</p>
<p>浮大而散，心之平。弦而長，肝之平。按至骨，舉指來疾而實者，腎平也。肺平浮澀短，脾胃平緩而滿指。凡下指本位不平，便可尋詳病情矣。</p>
<p>切脈至右尺部，必兩手並診消息之。取三焦應脈，浮為上焦，與心肺脈合；中為中焦，與脾胃合；沉為下焦，與肝腎合。不合，則氣必亂而脈不真，須再切也。蓋此部命門之火，系於心包，而三焦之位，實在五臟部位之中虛處，一氣流行，綿綿不息，所謂呼吸之根，性命之蒂也。男子喜滿指沉實，似弱而無數滑，女人喜滿指浮泛，似盛而不伏澀。故云女人反此背看之，尺脈第三同斷病。</p>
<p>高陽生，五代時入，著為《脈訣歌括》，托為王氏叔和。而今本雜以潔古「傷寒脈入式歌」，又被熊宗立妄注，大為俗學之疑。叔和，晉人，自有《脈經》，猶復抵牾，大段古書難盡信也。脈家書甚多，要不出七表、八裡、九道之外，求脈之明，為脈之晦。獨滑伯仁《診家樞要》，以浮、沉、遲、數、滑、澀六者為提綱。予補以有力、無力二者。丹溪以血、氣、痰、水為病之提綱，則脈滑在血分，而有餘為痰，凡有形者從之；澀在氣分，而有餘為火，凡無形者從之。浮在表，沉在裡，（非三部九候之浮沉，此為脈勢，彼為指法。）遲為寒，數為熱，有力為實，無力為虛。執此提綱，脈可得而明矣。</p>
<p>《入式歌括》是以傷寒脈為例而作，不然，陽弦頭痛定無疑，凡弦脈皆頭痛乎？</p>
<p>《脈經》謂：性急人脈急，緩人脈緩。夫脈者，氣血之營運於呼吸者也。血稟偏勝必多緩，陰之靜也；氣稟偏勝必多急，陽之躁也。以此論其血分、氣分孰為不足可也，豈情性之謂哉？重大之病，一日三脈多變，難治。沉　日日脈不移，難治。痼疾歲月不改，難治。</p>
<p>本脈皆平，絡脈否者，宜攻擊之。卻未有本脈病而絡脈獨平者也。</p>
<p>伏經脈最難求，如積熱之久，脈反沉細，而外證又寒，苟非兼施之法，何可得也？世俗諱疾試醫，醫復諱情妄臆，而豪貴婦女往往不得望、聞，豈不大錯？初學切脈，覆藥羅，畫三部於絹上，教者襯以琴弦驗弦，以小粟驗滑，以括竹痕驗澀，以截蔥管驗芤，以敗絮驗濡。任意手法，令學人輕重按之，消息尋取，久之自真。《脈訣》七表八裡圖形是也。</p>
<p>齊有《褚氏遺書》，謂女脈逆行，右尺為心，左為肺。蓋以地道右轉，女生於申，推論其意爾！夫天地男女，氣而已，氣有動靜，故有遲、速、順、逆、左、右之別，其實非二也。諸脈書皆無此說，夫有所授之耶？抑丹溪諸公未見其書耶？</p>
<h3>處方章第四</h3>
<p>（凡七則）</p>
<p>男八歲至六十四，女七歲至四十九，即大衍自然之數。有病者主精血，過此以往，有消無息，是為老人，宜專調氣，不可以病例治矣。然自澆漓以來，男尤先涸，故四十、五十，即中壽之年，雅宜補劑。壯年色勞者，惟退熱不必補。孀尼不能無情，怨曠多情，先散其郁。而凡病久者，必循行經絡，反從其邪，然後對症，此皆病情之肯綮，處方之心印也。</p>
<p>論病必分兼經、專經、錯經、伏經，始有賓主，而後分標本以處方。兼經並發，如兩感；專經獨發，如太陽表證；錯經亂髮，如狐惑；伏經反發，如熱極似冰。</p>
<p>諸病處方遵古法，仲景外感，東垣內傷，河間攻擊，丹溪之大成，以為典要。以運氣、風土、稟賦為之權衡。且如朔漠之人，有《惠民局方》，多辛熱腦、麝之劑，北人本氣自寒，食專腥膻，與之宜也。丹溪僻處東南，辨論不置。予嘗比病為《易》卦，方為爻詞，占者有吉凶悔吝之殊，夫然後醫不執方之義明矣。</p>
<p>閱古方，必如親見其人稟賦與當時運氣風土，始可以得作者之意。有可為典要者，處方之律令也；有一時權衡者，處方之參考也。全在真知藥性，灼見病情。予每以夜央跏坐，為人處方，有經旬不能下筆者。</p>
<p>病如橐，方如龠，萬龠一橐，反為橐害矣。世有經驗一方，而遞相偶中者，遂不自審度而輕用之，何也？君臣佐使之外，有一標使。如劑中合從辛以達金，則取引經一味，辛者倍加之，故其效速。</p>
<p>處方正不必多品，但看仲景方，何等簡淨！丹溪謂東垣多多益善，豈醫固有材耶？</p>
<h3>家庭醫案章第五</h3>
<p>（凡五則）</p>
<p>先府君自成化丁酉征蠻，感雪，致香港腳，夏亦暖襪。宏治戊午任東路將台，有先夫人之哀，增劇。兒　始留心醫學，師表舅氏華恆岍，金華王山人，以事吾親，以自差胎病，以施試於眾人，粗若有得。一日府君命史錄日常湯藥之方成集，賜名曰《韓氏有效方》，親為之序，兒謹藏之。歲己巳，兒孤矣。荏苒星霜，兒忘哀矣！手澤之悲，天荒地老。戊寅之夏，伯兄蒼雪翁偶見而復序之，且並兄嫂試嘗方集，續為三卷，仍舊名，繕本藏於家。竊伏自念之不肖，事親從兄，不能立乎其大者，而區區偶然，重蒙賜錄如此，悲感何勝！謹奉移文序於左，而略其方云。</p>
<p>韓氏有效方序愚稟質氣弱，自幼多病，竊祿三十余載，雖蠻煙瘴地，無不供事。迨宏治丙辰齒落，至今去者其五，自是而後，須發漸白，衰弱愈侵，已嘗陳情告休，第當途者不允。今雖勉強視政，奈何精神不逮。次子　，隨在邊任，專湯藥之侍，以其用藥粗知，乃請瀘衛華正科來宦舉發，湯藥之飲，無有不效。則　專志醫道，吾之衰朽賴焉。宏治庚申七月八日，疾又大作，不能視政。　遠游小河，軍醫庸劣，不能知其藥味，恐君臣佐使失宜，反遭其害。吾在病榻中，以所患病症書報與　，且備說與第五子恕。檢　平日所注方藥，依法修制，初服二帖，二服三帖。三服一帖，減去琥珀。四服初服之劑一帖，大覺十過八、九。七月二十九日，得書知病，欲走不及，先具藥方，曰加味六黃湯，曰清氣飲子，曰參茯半夏湯，曰加減三和散，曰醒脾湯，曰瀉白散，曰齒疼噙藥，曰歸苓分痛散。其制法、加減、數目、分兩，一分備錄。憑首服加味六黃湯，連三帖，愈加大好。至八月初九日，又服歸苓分痛散，歷歷有效，以地方為慮，於十一日視政。噫！仰戴復載之恩，育養之仁，殘喘多病，幸有子職湯藥，得以調攝。不泯用藥有效之功，編錄成集，名曰《韓氏有效方》，並以記歲月云。</p>
<p>時宏治庚申仲秋之吉石隱翁書於小河將台。</p>
<p>書有效方後舍弟　遠游，予親藥裹，檢醫書，偶見先總兵府君在東路日集　所呈方，自序於前，標抹有手澤焉。涕泗交下，連日不成寢食。嗚呼！醫之術欲以壽人也，而愚兄弟不能壽吾二親，也。謹命弟恕念編次，列為上卷，取嘗集治愚夫婦並奇效方，附其中下，刊以傳之。　在群子弟中，最為明敏。受胎時，先夫人病瘧，生甚羸，辛酉病痰席舍下，學醫榮昌華氏、金華王氏，得武夷仙翁黃鶴老人啟其精微。北溯時，變易姓名為白自虛，號飛霞子，游走半天下，醫頗馳名白飛霞云。正德戊寅六月之吉。</p>
<p>四川都司署都指揮僉事致仕韓恩書。</p>
<p>兄雪翁素稟脾燥肝偏，脈多弦長，左大而右弱，非即事親治家，兩居患難，頻切喪哭，故年四十始仕已衰，戎馬六年，食祿才四年有奇爾。歲丙子乞骸旋裡，而　亦歸自遠游，侍病火湯藥，有間，復遭誣獄，忿恚，背發疣如豆，幾至危頓。小丹人乳，疣無虞。今年忽被詔起，乃上疏云：賴弟韓　折肱成醫，百般救療。嫂淑人素苦不育，血甚虛。甲子歲，　侍亡陽之疾之時，兄嫂儲予子為嗣，客尚有為是危言阻止者，不意翁頃歲著直說二條，將以刊先君賜集也。只今二老眉壽，兩郎玉立，固德征爾。弟何預！弟何預！用錄所著於此，備醫案云。</p>
<p>直說三弟喪，予哭之哀，成疾，飲食全絕，筋骨、百節、皮膚無一處不痛，而腰為甚。一醫云腎虛宜補，一醫云風寒宜散。四弟告我妻曰：兄亦危矣。其脈澀，正東垣先生所謂非十二經中正疾，乃經絡奇邪之疾，必多憂愁郁抑而成。若痰上，殆矣！補則滯其氣，散則耗其氣，決不保。小子專主清燥湯，惟嫂張主。吾妻誓曰：叔非誤兄者。遂連進三甌，不以告予也。予遂困，睡至五更，無痰，覺少解，自恐不保，謳詩留別。弟聞聲，請曰：何如？予曰：似解。脈之，果去十之三。專主清燥湯而加減之，十劑而愈。予平賊後，在官守，但覺頭重、眼昏、耳聾、牙痛，便腳如不著地，絕無知為何疾者。致仕歸，四弟亦自北歸。一日，予梳洗畢，腹痛，少間，手足俱不能舉。弟脈，驚曰：兄素無此疾，何以致此？蓋平生心勞，近數年從征，形亦勞矣。此火症也。檢《玉機微義》，余始一一知之。期辛散之劑十帖。第恐有消渴、痿痹、瘡瘍之患，移居江園。弟每夜半自煮藥，候予醒，進之，屏喧嘩靜坐，果十劑，耳如人呼，體如蟣虱發癢，成疙瘩，然後知頭在我而腳踏地，亟入山靜養之。偶以不得致仕文移，怒火一發，遂渴，如欲狂者，一日瓜梨泉水無計。弟告曰：此非草木之藥可扶矣。不恤物議，偏求人乳，日進十盞，旬余渴減。又偶以家事發怒，手足不舉，如一軟物，臥四日，乃服乳無數而瘥。脈之，心經澀。曰：瘡作矣！幸不生大毒。患馬眼膿疥，八閱月乃止，能徒步登山。再以駐顏小丹助之，遂復完如少時。近年惟脾胃不壯，又以沖和丸食後服。吁，可悲哉！非舍弟，吾死矣夫！因念士夫中多心勞，有如區區火證者，此藥方不可不知也。遂表集以傳云。</p>
<p>正德戊寅端午日雪翁識山妻年三十余，十八胎，九HT　八夭。會先君松藩難作，賤兄弟皆西奔，妻驚憂過甚，遂昏昏不省人事，口唇舌皆瘡，或至封喉，下部虛脫，白帶如注。如此四十余日，或時少醒，至欲自縊，自悲不能堪。醫或投涼劑解其上，則下部疾愈甚，或投熱劑及以湯藥熏蒸其下，則熱暈欲絕。四弟還，脈之，始知為亡陽證也。大哭曰：宗嗣未立，幾誤殺余嫂。即以鹽煮大附子九錢為君，制以薄荷、防風，佐以薑、桂、芎、歸之屬，水煎，入井，冰冷與之。未盡劑，鼾鼻熟睡，通宵覺，即能識人。時止一嗣子二女，相抱痛哭，疏戚皆悲。執友趙憲長驚曰：君何術也？弟曰：方書有之，假對假、真對真爾，上乃假熱，故以假冷之藥從之；下乃真冷，故以直熱之藥反之。斯上下和而病解矣。繼後主以女金丹，錯綜以二三方，不但去其病，且調治元氣。庚午生一子，今應襲矣。壬申生一子，去年又患瘧疾十三日，亦主以養元氣，調生氣，待飲食大進，然後劫以毒藥，吐下塊物甚多，授以附子湯三錢而愈。不責效旦暮間。其用女金丹，即勝金丸也。得之異人，倍加香附，而視氣血之偏者，又加薑黃、條芩，倍川芎之屬，取效甚多。予念無子者，往往有之，翻思予得子之難，其苦何如？乃次第錄其方並女金丹，以濟人云。</p>
<h2>卷下</h2>
<h3>懸壺醫案章第六</h3>
<p>（凡一十五則）</p>
<p>予在胎，為女醫誤。生來略具人形，無病不歷，無日不藥。太夫人妊瘧，多病，早棄養，固不孝之奉累也。歲辛酉，病作席舍，死而復蘇。父兄乃訴罷生員業，既而走家難，技醫給旅，重游南北。慨惟病軀，又為人謀夫康寧，亦罔也。職此之由，得尚友天下，而縉紳人豪，往往恕予疏狂，與之詩酒藥物，似未為此生之不遇矣。或曰：子之醫道，市井尋常間，恐未盡解。惟土大夫孰無慎疾之心，而亦有感子之愈其親、活其幼者，何必孜孜入山之念也。予不對。然予素貧，凡贖藥之，僅了婚嫁，嘗思濃祿故人，恆飢稚子之嘆，固與城都賣卜、道旁賣履者有間矣。是以懸壺醫案滋多，今姑記其要領於後。</p>
<p>三士人求治其親，高年咳嗽，氣逆痰痞，甚切。予不欲以病例，精思一湯，以為甘旨，名三子養親湯。傳梓四方。有太史氏為之贊曰：夫三子者，出自老圃，其性度和平芬暢，善佐飲食奉養，使人親有勿藥之喜，是以仁者取焉。老吾老以及人之老，其利博矣。《詩》曰：孝子不匱，永錫爾類。此之謂也。</p>
<p>兩在北方，遇夏秋久雨，天行咳嗽、頭痛，用古方益元散（滑石五兩，甘草一兩），薑、蔥湯調服，應手效。日發數十斤，經以徹夜。此蓋甲巳士運濕令，痰壅肺氣上竅，但泄其膀胱下竅而已，不在咳嗽例也。</p>
<p>戊年楚春瘟，人不相吊，予以五瘟丹投泉水，率童子分給，日起數百人。</p>
<p>朝貴有東南人，素畏熱藥。病痰，輒云火痰，加芩、連。一日，冬雪寒冽，眩嘔以死。</p>
<p>予以黑附子一片，砒一分，舂入薑汁劫之，大吐，又服暖藥一劑而愈。此蓋地氣束人，豈可拘執自誤。況痰生於濕，濕生於寒乎！一士人肥形白色，因《明醫雜著》所載補陰丸，以為人皆陰不足，服至數年，胖至短氣。予反之以霞天膏，入辛熱劑，決去滯余，而燥其重陰，然後和平無恙。此則未達方書，而往往自誤，不可不戒也！貴人鼻中肉贅，臭不可近，痛不可搖，束手待斃。予但以白礬末加　砂少許吹其上，頃之，化水而消；與勝濕東加瀉白散，二帖愈。此濃味擁濕熱，蒸於肺門，如雨霽之地，突生芝菌也。治此等病頗多，人每稱奇，不知只此理爾！凡沉　痼疾，癲狂風癇，痞積瘡瘍，一切有形之病及婦人　瘕，皆用霞天膏，投所宜煎劑，汗、吐、下攻去污敗濁物，無不成功。頗有獨得之妙，如斫輪云。</p>
<p>癱瘓、蠱證年淺，元氣未盡傷者，亦以霞天膏入兩證煎劑攻治。湖海中曾起十余人。近時霉瘡，亦以膏入防風通聖散治愈。別著《楊梅瘡論治方》一卷、《滇壺簡易方》一紙，為遠近所傳，用者輒效。</p>
<p>治色勞，先以古方地仙散（薄荷葉、地骨皮、防風、甘草梢、烏梅肉各等分）煎劑退潮熱，次以外鹿髓丸摩其腰，漸以內鹿髓丸或鹿　之丸復其元，其功頗烈。奈何鹿品難辦，不過循葛可久十藥神方而斟酌之耳！八歲以下小兒，予戒投藥。有疾，但以所宜藥為細末，調香油，令人熱蘸，按摩患處，或水調成膏貼之，或煎湯，用絹帛染拭，任意活法，但使藥氣由毛孔穴絡熏蒸透達。如不能檢方用藥，以油潤手按摩牽引，手舞足蹈，未嘗不愈其疾也。</p>
<p>將養小兒，制七味保嬰湯，以應湯飲。家兄刊而論曰：幼幼之心，人所易發，老老之心，人或味焉。長長者宜乎寡矣。使愛親如子，信人子盡曾參矣。又如司馬君實愛兄如父焉，予不能不三嘆乎著方之余也。</p>
<p>懸壺輕　：百病黃鶴丹、婦人科青囊丸，小兒科天一丸，隨宜引用。人見小效，疑有異常，探索不已，殊可笑也。今並著他章，用之者，當思法外意云。</p>
<p>古針法，似與今者不同，予有志而無師授，而今者未之學焉。古砭無傳，令之灸，賴有精者，予常加藥末入艾為炷，且以人氣煨養灸痕，恐不可為典要，故不著。曾見貴人有木拐按節法，其亦砭之遺意歟？治殊方白虎歷節風，久臥，尚巫而不能藥者，以霞天膏和白芥子末作墨書字，入水，頓服一缶，吐利交作，去膠涎臭汁數斗而起。謂予之符水有神。因思古有祝由科，全賴巫覡，莫亦仁人出奇以活人，而遂失真者耶？並記吾過於此。</p>
<h3>藥性裁成章第七</h3>
<p>（凡十二則）</p>
<p>藥有成性，以材相制，味相洽而後達。夫藥性，古書備本草，括《湯液》、《珍珠》諸篇，予不能悉記也。而二五之升沉，鹹苦酸辛甘者，觸物在焉。姑列凡數，可推其余。</p>
<p>標病攻擊，宜生料，氣全力強；本病服餌，宜制煉調劑。大凡試病在元氣，宜醇淡。味性純一，醇也；出五味外，淡也。太羹元酒。（疑有缺文）</p>
<p>人參煉膏，回元氣於無何有之鄉，王道也。黑附子回陽，霸功赫奕。甘草調元，無可無不可。</p>
<p>當歸主血分之病，川產力剛可攻，秦產力柔宜補。凡用本病酒製，而痰獨以薑汁浸透，導血歸源之理。熟地黃亦然。血虛以人參、石脂為佐；血熱以生地黃、薑黃、條芩，不絕生化之源；血積配以大黃。婦人形肥，血化為痰，二味薑浸，佐以利水道藥。要之，血藥不容舍當歸，故古方四物湯以為君，芍藥為臣，地黃分生熟為佐，川芎為使，可謂典要云。</p>
<p>香附主氣分之病，香能竄，苦能降，推陳致新，故諸書皆云益氣，而俗有耗氣之訛，女科之專非也。治本病略炒，兼血以酒煮，痰以薑汁，虛以童便浸，實以鹽水煮，積以醋浸水煮。婦人血用事，氣行則無痰。老人精枯血閉，惟氣是資。小兒氣日充，形乃日固。大凡病則氣滯而餒，故香附於氣分為君藥，世所罕知。佐以木香，散滯泄肺；以沉香，無不升降；以小茴香，可行經絡；而鹽炒則補腎間元氣。香附為君，參、　為臣，甘草為佐，治氣虛甚速。佐以厚朴之類，決壅積；莪、棱之類，攻其甚者。予嘗避諸香藥之熱，而用檀香佐附，流動諸氣，極妙！痰分之病，半夏為主。脾主濕，每惡濕，濕生痰，而寒又生濕。故半夏之辛，燥濕也。</p>
<p>然必造而為曲，以生薑自然汁、生白礬湯等分，共和造曲，楮葉包裹，風乾，然後入藥。風痰，以豬牙皂角煮汁去渣，煉膏如餳，入薑汁。火痰黑色，老痰如膠，以竹瀝或荊瀝入薑汁。濕痰白色，寒痰清，以老薑煎濃湯，加　白礬三分之一（如半夏三兩，　礬一兩），俱造曲如前法。予又以霞天膏加白芥子三分之二，薑汁、礬湯、竹瀝造曲，治痰積沉痼者，自然能腐敗隨大小便出，或散而為瘡，此半夏曲之妙也。古方二陳湯，以此為君，世醫因辛，反減至少許；而茯苓滲濕，陳皮行氣，甘草醒脾，皆臣佐使，而反多其銖兩，蓋不造曲之過。觀法製半夏，以薑、礬制辛，即能大嚼是也。佐以南星，治風痰；以薑汁酒浸炒芩、連及栝蔞實，香油拌曲略炒之類，治火痰；以麩炒枳殼、枳實，薑汁浸蒸大黃、海粉之類，治老痰；以蒼朮、白朮俱米泔薑汁浸炒，甚至乾薑、烏頭，皆治濕痰。而常有脾泄者，以肉豆蔻配半夏曲，加神麯、麥芽作丸，尤有奇效。濃養之人，酒後多此，而苦痰為病者，十常八九也。</p>
<p>方書謂天下無逆流之水，人身有倒上之痰。氣亂血余化而為痰，故治痰以行氣殺血為要。</p>
<p>火分之病，黃連為主。五臟皆有火，平則治，病則亂。方書有君火、相火、邪火、龍火之論，其實一氣而已。故丹溪云：氣有餘便是火。分為數類。凡治本病，略炒以從邪，實火以朴硝湯，假火酒，虛火醋，痰火薑汁，俱浸透炒；氣滯火以茱萸，食積泄黃土，血瘕痛乾漆，俱水拌同炒，去萸土漆；下焦伏火以鹽水浸透拌焙；血疾以人乳浸蒸，或點或服。生用為君，佐官桂少許，煎百沸，入蜜，空心服，能使心腎交於頃刻。入五苓、滑石，大治夢遺。以土、薑、酒、蜜四炒者為君，使君子為臣，白芍藥酒煮為佐，廣木香為使，治小兒五疳。以茱萸炒者，加木香等分，生大黃倍之，水丸，治五痢。以薑汁酒煮者為末，和霞天膏，治癲癇、諸風、眩暈、瘡瘍，皆神效。非彼但云瀉心火，而與芩、柏諸苦藥例稱者比也。</p>
<p>予治沉　，先循經絡者，即諸古書所載引經報使藥，貴識真爾！如心經，以人參益氣，石脂補血，朱砂鎮火，天竺黃去痰，澤瀉瀉熱，而蓮肉、茯神、赤茯苓、遠志、益智、酸棗之屬利心竅以安神識。中間制煉，如以苦焦之味達本經，咸引所畏，辛避所勝，酸益其母，而甘泄其子，皆裁成藥性之道。</p>
<p>粳米造飯，用荷葉煮湯者寬中，芥菜葉者豁痰，紫蘇葉者行氣解肌，薄荷葉者清熱，淡竹葉者避暑。造粥則白粥之外，入茯苓酪者清上實下，薯蕷粉者理胃，花椒汁者解嵐瘴。薑、蔥、豉汁者發汗。與夫古方豬腎、羊腎之類，無非藥力也。一人淋，素不服藥，予教以專啖粟米粥，絕他味，旬余減，月余痊，此五穀治病之理。</p>
<p>梨汁疏風豁痰，蒸露治內熱。藕汁研墨止吐血、鼻衄。研桃仁調酒破血積。胡桃仁佐破故紙鹽水糊丸，治腰濕痛如神。大棗煮汁去渣煉膏，救小兒脾虛胃寒不能藥者。蓮肉作末，蘇噤口痢。柿蒂加杵頭糠，止轉食。凡此予以應驕習之家，亦五果治疾之理。</p>
<p>韭白愈淋，子澀精。大蔥汁和五倍子末澀虛脫之痢，非虛脫不可用。莧煮汁愈初痢。蘿卜風乾愈傷食嗽。白扁豆益脾清暑。蒜汁煮香附，加蓽茇、大黃，治瘴鄉中毒。諸菜俱能治病，貴專啖爾。</p>
<p>黃牛肉補氣，與綿黃　同功。羊肉補血，與熟地黃同功。豬肉無補，而人習之化也。惟連貼於脾、肚於胃、腰子於腎、脊髓於骨、心於血，可引諸藥入本經。實非其甫。鹿則全體大補，異時每欲以肉汁煉膏，如霞天膏小刀圭之法，恨不多得，黃牛連貼，用朴硝作脯。消痞塊，骨髓煎油擦四肢之損。禽則鵝善疏風，雞稚補損，老作羹起衰。蟲則蜣螂裹燒熟，與兒食，治疳，蚋皮作丸。大治驚癇疳痢，以上予治濃養之人多用之，亦從其化也。獨犬之壯陽，俗夫所尚，古方戊戌酒，蓋為虛寒病設爾。或云：士無故不殺犬豕，則古人以羞於珍矣，意者黃黑二色，足補脾腎，亦可如小刀圭法為之，以治虛怯勞瘵，而戒恣欲之非，價廉工省，可濟貧乏云。（按：蜣螂當是螳螂蚋皮當是蚵皮。）</p>
<p>史惠生按：小兒疳積，腹大便瀉，當以蟑螂炒香與食，頗效。</p>
<h3>方訣無隱章第八</h3>
<p>（凡二十二則）</p>
<h4>三子養親湯</h4>
<p>紫蘇子（主氣喘咳嗽）　白芥子（主痰）　蘿卜子（主食痞兼痰）</p>
<p>上三味各洗淨，微炒，擊碎，看何證多，則以所主者為君，余次之，每劑不過三錢，用生絹小袋盛之，煮作湯飲，隨甘旨，代茶水啜用，不宜煎熬太過。若大便素實者，臨服加熟蜜少許，若冬寒，加生薑三片。</p>
<h4>霞天膏</h4>
<p>此方即倒倉法，傳自西域。有人指予投煎劑治痰，而逐推展之。</p>
<p>黃牯牛（一具，選純黃肥澤無病才一二歲者）</p>
<p>上洗淨，取四腿項脊，去筋膜，將精肉切成塊子如栗大，秤三十斤，或四五十斤，於靜室，以大銅鍋（無則新鐵鍋）加長流水煮之，不時攪動，另以一新鍋煮沸湯，旋加，常使水淹肉五六寸，掠去浮沫，直煮至肉爛如泥，漉去渣，卻將肉汁以細布漉小銅鍋，用一色桑柴文武火候，不住手攪，不加熟水，只以汁漸如稀餳，滴水不散，色如琥珀，其膏成矣。（此節火候最要小心，不然壞矣。）大段每肉十二斤，可煉膏一斤為度，瓷器盛之，是名霞天膏也。用調煎劑，初少漸多，沸熱自然溶化。若用和丸劑，則每三分，攙白面一分，同煮成糊，或同煉蜜調勻，寒天久收，若生霉，用重湯煮過，熱天冷水窨之，可留三日。</p>
<h4>鹿丸</h4>
<p>（以下四方王師秘授　：音催。尊雖切。赤子陰也。見《老子》。）</p>
<p>鹿稟純陽，一名斑龍。　者，天地初分之氣，牝牡相感之精也。醫書稱鹿茸、角、血、髓，大補益於人，此　則入神矣。其法用初生牡鹿三五雙，苑囿馴養，每日以人參煎湯，同一切藥草，任其飲食。久之，以硫黃細末和入，從少至多。燥則漸減，周而復始。大約三年之內，一旦毛脫筋露，氣勝陽極，卻別以牝鹿隔苑誘之，欲交不得，或泄精於外，或令其一交，即設法取其精，收置瓷器，香黏如餳，是為　也。</p>
<p>隨人所宜補藥，古方如八味地黃丸、補陰丸、固本丸之類。以此　加煉蜜三分之一，同和丸劑，或以和鹿角霜一味為丸，空心鹽酒送下。用起虛瘵危疾尤捷。予之胎羸，賴此再造，愿與人人共之。</p>
<h4>斑龍宴</h4>
<p>此鹿不拘初生，但馴養牡鹿，或一、二只，每日煎人參一兩湯飲之，渣和草料飼之。每用預夜減食，次晨空心，以布縛鹿於床，首低尾昂，用三棱針刺眼大　前毛孔，名天池穴。</p>
<p>銀管三寸許，插向鼻梁，吮其血，和以藥酒，（任意，或八珍散加沉香、木香煮者。）盡量。</p>
<p>月可一度，鹿無恙。若有屠刺鹿血，乘熱和酒一醉，亦妙。</p>
<h4>內鹿髓丸</h4>
<p>與宴之鹿，腦髓、骨髓、脊髓盡取同煎成油，漉淨。秤每一兩加煉蜜二兩，又煉相得，瓷器封收。每服補藥，不拘何方，用以和劑，如鹿　法。</p>
<h4>外鹿髓丸</h4>
<p>不拘獵、家、屠市所有，鹿之脛骨髓煎作油，漉淨加蜜，如前煉法。每用和古方摩腰膏、九陽丹之類，老薑湯化少許，以擦摩腎俞，大補元氣。凡骨節痛，屬虛寒者，其效如神。</p>
<h4>黃鶴丹</h4>
<p>此方銖衣翁在黃鶴樓所授，懸壺輕　，故名。</p>
<p>香附（氣失其平則為疾，此為君，此為用矣。）　黃連（凡疾之所在為邪火，單用生心，固非瀉心火例矣。）</p>
<p>二味香附為主，黃連減半，俱選擇淨料，共制為極細末，水糊為丸梧子大。假如外感，薑蔥湯下；內傷，米飲下；血病，酒下；氣病，木香湯下；痰病，薑湯下；火病，白湯下。</p>
<p>余可類推。</p>
<h4>青囊丸</h4>
<p>此方邵真人禱母病，感方士所授，予則受於女醫某。</p>
<p>香附子（略炒，不拘多少，為主）　烏藥（略泡，減附三分之一。）</p>
<p>上為細末，水醋煮和為丸梧子大。隨證用引，如頭痛茶下，痰薑湯之類。多用酒下為妙。</p>
<h4>天一丸</h4>
<p>（此方自製）</p>
<p>燈芯（用十斤，以米粉漿染，晒乾，研末，入水澄之，浮者為燈芯，取出，又晒乾入藥，用二兩五錢。而沉者為米粉，不用矣。）　赤白茯苓（去皮，兼用茯神去木五兩）　滑石（水飛過漉淨，煉湯成膏，如糖餳，用以和膏。）</p>
<p>一方人參用六兩，白朮六兩，甘草四兩，同熬膏，亦妙。</p>
<p>上燈芯等五味，各為細末，以人參膏和成丸，如龍眼大，朱砂為衣，貼金箔。每用一丸，任病換引。大段小兒生理向上，本天一生水之妙。凡治病，以水道通利為捷徑也。</p>
<h4>異類有情丸</h4>
<p>（此方自製）</p>
<p>鹿角霜　鹿茸　龜板（八字文具者。醇酒浸七日，酥炙透黃）　虎脛骨（新而真者，長流水浸七日，蜜酥和炙透）</p>
<p>上霜、板各三兩六錢，茸、脛各二兩四錢，重羅極細，用水火煉白蜜，入　豬脊骨髓九條，同舂劑為丸如梧子大。每空心鹽湯下五、七十丸，周而復始。丈夫中年覺衰，便可服餌。此方，鹿純陽也，龜純陰也，血氣有情，各從其類，非金石草木例也。如濃味善飲之人，可加豬膽汁一、二合於和劑中，以寓降火之義。</p>
<h4>女金丹</h4>
<p>（此古方勝金丸，武夷翁授予配製之法。）</p>
<p>本　當歸　赤石脂（赤白均可）　白芍藥　人參　白薇　川芎（不見火）　牡丹皮　桂心白芷　白朮　白茯苓　元胡索　沒藥　甘草（以上各一兩）</p>
<p>十五味，除石脂、沒藥另研外，余皆以醇酒浸三日，烘晒乾，為細末，足十五兩。</p>
<p>香附子（去皮毛，以米醋浸三日，略炒。為細末，足十五兩）</p>
<p>上十六味，和合，重羅數過，煉蜜丸如彈子大，瓷器封收。每取七丸，虔心雞未鳴時服一丸。先以薄荷湯或茶灌漱咽喉，後細嚼，以溫酒或白湯送下，食物、干果壓之。服至四十九丸為一劑，以癸水調下受妊為度。妊中三日一丸，產後二日一丸，百日止。盡人事而不育焉，天矣。人為一鹵莽，諉曰天之命。予茲為世之乏嗣者惜焉！</p>
<h4>駐陽小丹煉法</h4>
<p>（此本古方，主烏須不驗。方外一衲，因予小惠，報以煉法。）</p>
<p>茯神（四兩，去心）　赤石脂（火　存性，四兩）　辰砂（水飛，二兩）　乳香（二兩，燈芯研）　川椒（二兩，淨，以炭燒黃土地至通紅，掃淨，置椒於上，以瓦缶掩之，令為出汗）</p>
<p>上五味，為細末，以人乳和稀劑，入鵝、鴨蛋殼內，糊封完固，加以絳袋，令體潔婦人帶於胸乳之間，四十九日，日夕不離，取出干透則成，否則壞。再研，用棗肉和為丸綠豆大。每日空心人乳送下，或人參、麥門冬湯代之，臥時酒下亦可。凡心血不足，怔忡、健忘等疾皆宜。</p>
<h4>固本丸制法</h4>
<p>（此方多謂效遲，而有痰者，往往泥膈，遂生厭心，殊不知古人制方，真有口訣。）</p>
<p>生地黃（懷慶新肥者，竹刀切）　麥門冬（去心，二味各一斤半，淡酒浸一日，鹽點湯浸三日）　熟地黃　天門冬（去心膜，二味各一斤半，生薑自然汁浸二日，醇酒浸一日）</p>
<p>上四味，但不犯鐵，浸足，同磨，或擂，以渣盡為度，旋加水，亦如造漿粉之法（少加杏仁，則易澄腳矣）。其澄底藥泥，晒乾，乳缽成末，加面，取淨一斤，用人參，另為細末，四兩。五味共加煉蜜為丸，常服酒下。</p>
<h4>枳朮丸燒飯法</h4>
<p>易水張氏制此方，東垣晚年始悟用荷葉中虛之義。詎意東南人不識北方炊飯無甑，類呼為燒，遂訛為荷葉包飯入灰火燒煨，雖丹溪亦未之辨。古詩云瓶中有醋堪燒菜，是也。</p>
<p>白朮（君，去梗及油者六兩）　枳實（臣，用鵝眼者，以冷水浸軟，切片，略炒四兩）</p>
<p>上為末，先用新碧荷葉數十，煮湯去葉，入粳米，亦如尋常造飯之法，甑內以荷鋪蓋，北方無甑，亦隨宜用，但米入湯，自然透綠，方全氣味。飯成，乘熱以藥末揉拌成劑為丸。</p>
<p>食後，任引下。</p>
<h4>五瘟丹</h4>
<p>（此方自製，冬至日修合。）</p>
<p>黃芩（乙庚之年為君）　黃山梔（丁壬年君）　黃柏（丙辛年君）　黃連（戊癸年君）　甘草（甲己年君）</p>
<p>此五味，各隨運氣為君者，多用一倍也。余四味又與香附子、紫蘇為臣者，減半也。</p>
<p>上七味，皆生用，為細末，用錦紋大黃三倍，煎濃湯，去渣，熬膏，和丸如雞子大，用朱砂、雄黃等分為衣，貼金。每用一丸，取泉水浸七碗，可服七人。凡天行瘟病去處，有力之家，合以施給，陰德無量。</p>
<h4>滇壺丹</h4>
<p>（夢感滇人相授，治霉瘡甚驗。）</p>
<p>白僵蠶（略炒，三錢）　全蠍（一錢五分，酒洗瓦焙）　大黃（生用，五錢）</p>
<p>上為細末。雞未鳴時，蜜湯調下三、五匙，午後粥補，明日又服，以蟲出瘡干為度。以蜜湯旋和末為丸亦可。</p>
<h4>八仙茶</h4>
<p>（此得之武當山人。）</p>
<p>粳米　黃粟米　黃豆　赤小豆　綠豆（五者炒香熟，各一升）　細茶（一斤）　脂麻（淨，五合）　花椒（淨，一合）　小茴香（淨，二合）　干白薑（泡，一兩）　白鹽（炒，一兩）</p>
<p>以上十一味俱為極細末，和合一處，外加麥面（炒黃熟，與前十一味等分拌勻，瓷罐收藏。）胡桃仁、南棗、松子仁、瓜仁、白砂糖之類，任意加入。每用二、三匙，白湯點服。</p>
<h4>小刀圭</h4>
<p>（此方士所授，與古方小異。）</p>
<p>黃牛犢一只，用未知陰陽者，肥嫩純黃色，先期辦後開藥料。至臘月初八日或本月戊己日，宰取血，　毛留皮，碎切，臟腑分寸不遺，用長流水大鍋煮至半熟，加後項藥。（用鹿代之更妙。）</p>
<p>人參（約牛十斤用二兩）　茯苓（去皮，約牛十斤用三兩）　綿黃　（刮淨，約牛十斤用五兩）　良薑（去梗）　肉桂（去粗皮，約牛十斤用五錢）　陳皮（留白，約牛十斤用一兩五）</p>
<p>甘草（去皮，約牛十斤用一兩）　花椒（去目，約牛十斤用一兩）　白鹽（臨漉時斟酌用）　醇酒（二斗上下上件同牛，文武火煮，旋添熟水，當以八分為節，取牛肉爛如泥，槌骨內之髓，煎化入汁中，漉去滓，但存稠汁，有如稀餳，待冷，入蜜瓮，掘黃土坑，埋齊瓮口，封固。凡早餐不拘何樣飲食，加此數匙調和，人事勞苦並房欲之後，醇酒調服。造酒至　來之日，加此甚佳。（曾見飛霞先煉蜜，候膏成，入蜜攪勻，才收瓮內。）</p>
<h4>長松酒方</h4>
<p>（此方廬山休休子傳。）</p>
<p>長松（此酒中聖藥，產太行西北支諸山，似獨活而香，用一兩半）　黃　（蜜炙）　生地黃（各七錢）　熟地黃（與生地俱酒浸，八錢）　蒼朮（三錢，米泔浸）　陳皮（去白，七錢）枳殼（四錢）　當歸身（五錢）　白芍藥（煨，五錢）　半夏（薑製，三錢）　厚朴（五錢）　菊花（五錢）　天門冬（三錢）　麥門冬（三錢）　砂仁（三錢）　木香（二錢）　人參（四錢）　點椒（二錢）　酥（七錢）　黃柏（五錢）　黃連（二錢）　胡桃仁（去皮，二錢）</p>
<p>小紅棗（去核，八個）　老米（一撮）　燈芯（五寸長，一一料分十劑，絹袋盛之。凡米五升，造酒一樽。煎一袋，窨久乃飲。</p>
<h4>枸杞酒</h4>
<p>（此為家兄火證制。酒性熱，三藥制之，可通用。煮如前法。）</p>
<p>枸杞子（五錢）　黃連（炒，三錢）　綠豆（一錢）</p>
<h4>水火煉蜜法</h4>
<p>金華師最惡以鍋煎煉，非古法，授此。以白砂蜜一斤，大瓷碗盛重湯煮，不住攪，文武火，湯干加水，以蜜滴水不散為度。大率一斤煉成半斤。罐埋土七日。凡和丸劑，止以藥末一半，入蜜，舂萬杵，干再糝，以布包裹，入甑內蒸軟，又加未盡之末，如此三次，則丸劑可以久收，不復回潤。</p>
<h4>七味保嬰湯</h4>
<p>（說見第六章）</p>
<p>老大米（主清胃）　黃土（養脾，炒）　苦竹葉（去熱）　蘿卜子（去食積）　薄荷葉（去熱）</p>
<p>燈草（主夜啼）　麥芽（和脾胃）</p>
<p>上隨證所主者多用，其余次之。每服不過三錢，袋盛煮湯，任意渴飲，或加蜜少許。</p>
<h3>同類勿藥章第九</h3>
<p>（凡九則）</p>
<p>《參同契》云：同類易施功，非種難為巧。雖云丹法，移之治病，雅有神化。予嘗考古今養生家千條萬訣，莫要於人壞人補之一語，即《內經》：形不足者，溫之以氣也。漫述數條，勿藥有喜，庶醫之完技云！凡肩背、肢節、骨腕、筋會之處注痛，多屬痰凝氣滯。不拘男女，但取神旺氣長者，令以口對患處，隔絹綿進氣，不呵不吹，極力努氣，使入透，覺暖至熱，又易一人，以愈為度。</p>
<p>多病善養者，每夜令仆擦足心，至極熱，甚有益。三裡、腎俞，皆不可缺。</p>
<p>腎虛腰痛，令少陰掌心摩擦，每至萬余，或令進氣於腎俞之穴。丹田冷者，亦摩擦而進於臍輪，其功尤烈。</p>
<p>有痿痹疾者，偎臥患處於壯陰之懷，久之生氣和浹，病氣潛消。</p>
<p>老人尤宜與少艾偎臥。予戚有喻千戶者，行此，年九十余，康健。</p>
<p>凡小疾有痛處，即令壯夫揩擦至熱，或按之拿之，令氣血轉移，其疾可卻。</p>
<p>服人乳，大能益心氣，補腦，治消渴證，治風火證，養老尤宜。每用一吸，即以指塞鼻孔，按唇貼齒而漱，乳與口津相和，然後以鼻內引上吸，使氣由明堂入腦，方可徐徐咽下。</p>
<p>凡五、七吸為一度，不漱而服，何異止於腸胃爾！丹溪云：房中補益之術，非聖賢之心，神仙之骨，不能行也。蓋言聖賢能以理制欲，神仙天性，對景忘情爾。世有以此，實恣淫欲，為泥水金丹，而秘相授受，卒至喪亡者，深可惡也！深可惡也！</p>
