<header data-type="book">
<h1>上池雜說</h1>
</header>
<h2>正文</h2>
<p>人以陽氣為主，陰常有餘，陽常不足。近世醫工乃倡為補陰之議，其方以黃柏為君，以知母、地黃諸寒藥為佐，合服升斗以為可以保生，噫！左矣。人之虛勞不足，怠情嗜臥，眩運痹塞，諸厥上逆，滿悶痞隔，誰則使之？陽氣虧損之所致也，乃助其陰而耗其陽乎？人之一身，飲食男女，居處運動，皆由陽氣。若陰氣則隨陽運動而主持諸血者也。故人之陽損，但當補之、溫之，溫補既行，則陽氣長盛而百病除焉。</p>
<p>醫之用術，惟吐利汗下與解表攻裡之法耳，不能一病而自為一法也。今人遇病立方，動輒二十余品，少亦不下數品，豈知仲景諸名醫之心法哉！吾觀古人率用成方加減，不過一二味，非有違戾，未嘗輒易，正謂宜汗、宜吐、宜下、宜解表裡者。病情有限，故攻病之法，亦有限也，豈得動用已見，隨意立方耶？藥性有刑反忌宜，處味既多，莫識其性，為害不少。故余欲世人，須洞識病情，恪遵古劑而後可。</p>
<p>藥籠中物，何所不可用，貴當病情耳。今醫工見藥味平緩者，肆意增損，呼為醫中王道，人亦利其無患而藥就之。若稍涉性氣猛利之藥，則束手不敢用。稍用之人，爭指為野狼虎，不之近噫。工師斷木，尚取斧斤之利者，於用藥，則取其鈍而舍其利何哉？以此知不敢用猛烈之藥，皆不深脈理，不明病情者也。</p>
<p>邵堯夫曰：百病起於情，情輕。病亦輕諸病孰非起於情耶？蓋人生以氣為主，情過喜則氣散，怒則氣升，哀則氣消，勞則氣耗，驚則氣亂，思則氣結，欲則氣傾，寒則氣收，靈則氣泄，病由之作矣。識破知節，病亦少損。若著物不止，不為有生患哉？故君子貴保性而不任情，斯養氣延年之術也。</p>
<p>病者去而來復已而復作者，陽衰而不能制疾故耳。今不能養陽而屢事攻擊，有疾者，利則易生矣。有寒者，寒去則裡虛矣。有疾者，積下則胃寒矣。其病至復作也奚疑？故凡病情一去之後，即當頤神養性，放下萬緣，調息百日，以生陽氣，迨於陽氣既盛，則陰邪不能干，而舊疾無自作矣。若病情少事閑，即事酬應，嘯傲如常，至於復作，則危期將至矣。</p>
<p>先大夫有訓云，元氣與脾氣原無二致，人之元氣充足，則脾氣自然磨運而元氣愈充，若元氣虛眇，則脾不能運而脹滿，痞氣之疾作矣。不肖素稟衰弱年來，脾眚時作，因有感於先君至，教謹識於此。</p>
<p>余幼抱脾眚飲食下輒作脹滿，思之未得其原，嘗讀東垣論云：氣聚於脾中不得散，故時作脹滿誠中現情矣，但未解治之之方也。後讀《醫學拾遺》治痞論云：熱既在上，則內中寒凝而氣不下行，故當用熱藥以溫中焦，而下引其熱，使熱得降也。又《產後論》云：非由血能搶心，乃榮衛不充，中焦不治，氣失所依，而上奔於心耳。夫氣聚則行寒則凝，行則病散，凝則疾生。邪氣乘虛，不在淤血之有無，故乾薑為產後要藥，辛熱故也。但當溫暖正氣，以致和平，則百疾無由生也。以此互觀，則東垣氣聚脾中之旨，昭昭明矣。</p>
<p>附子、大黃，醫者俱畏而不用，然往往有因而得力者。嘗聞許北門云：昔患脾泄，經年不愈，請教於鄭澹泉，令用棗附丸。附子用童便煮制，經日末之棗肉煉為丸依服，神驗。近學院謝蚪蜂，每日進枳殼大黃丸二三服，神才清爽。都憲張廬山止之弗聽，而謝體質愈充。</p>
<p>藥性之宜於人，非庸醫所能識也。</p>
<p>今之治目者，大都用涼藥點治，不知目者，血之華，血得熱則行，得寒則凝。古人點目以冰片、乾薑，所以散其邪於外也。故精明之府，不可一毫楂滓，當外傳熱藥以散其邪，則睛膜舒轉；內用溫藥以和其血，則血脈通利。</p>
<p>目未有不可治者，但外用熱藥，若甚痛不可忍，然拔去邪毒，所謂一勞永佚者，此醫藥拾遺之論揭之。</p>
<p>目得血而能視，血冷則凝，此理易明也，而醫則罕知之。鄰有管連云之乃眷目患沿眶紅爛，數年愈甚，百計治之，不能療為。延吳御醫診之，曰：吾得之矣。為治大熱之劑，數服，其病如脫，目復明。問之曰：此不難知也。此女人進涼藥多矣。用大熱劑則凝血復散，前藥皆得奏功，此可為治眼之良法。吳忘其名，專用附子、人呼為吳附子云。</p>
<p>高安姚姓年三十時，患弱氣息僅屬，亦涉醫書，欲取附子服之，初皆疑弗與，後病將殆，不得已聽之，服至一斤許，疾遂愈，生三子。今近七旬，常疑其或作附毒，竟無也，雖老猶間服之不輟。</p>
<p>顧色泉老醫，年六十有五，因盛怒，疽發於背，大如盂，四圍色黑。召瘍醫治之，用冷藥敷貼，敷已覺涼，約七八日後，為用刀去淤肉。顧俟其去，曰：四圍色黑乃血滯，更加冷藥，非其治也。乃更治熱敷藥，去舊藥敷之，覺甚癢，終夜，明日色鮮紅，　腫亦消，惟中起數十孔如蜂房。一日許，又覺惡心作噦，視一人頭如兩人頭，自胗曰：此虛極證也。用參附大劑，進二服，視已正矣。不數日竟愈，終無刀針之苦。噫！用藥系人生死，若此證危如累卵，稍一誤投難乎哉。</p>
<p>顧色泉云：凡瘡毒屬陰者，必用熱藥，如天雄、附子之類，皆生用，庶可起死回生。余問其證，曰：如對口陰發、伏疽，捫不知痛，疽不起泡，四圍如墨黑者，是老人虛弱之症，尤宜用之。竊以為，瘡之陰陽一時難辨，瘍醫遇此，率用寒涼，殺人多矣。熱藥回生，其功甚巨，稍涉遲疑，生死反掌。</p>
<p>丹溪之治吐衄，率用黃柏一味，或並用芩連生地門冬等味，名曰滋陰降火。近有議其後者，曰：元氣虧損之人，有何火降？乃虛證耳，復令脾胃冰寒，陽氣衰敗，何以自全？此所以沉困累年而後己也。余以為丹溪之見，未可全非，而議之者意良，是今遇前證，應以丹溪之法降其上升浮游之火，俟炎火退，然後逐其淤血，而以補助元陽，溫和血氣之藥收功，不亦可乎！家仆名貫者，之金陵路遘寒證，餌藥少瘥，故好酒即飲酒一二甌及水飯一盂，病乃大作，氣喘急，吐痰竟夕，不寐，連三日。余曰：病且急矣。奈何？請醫與商榷，以瓜蒂散吐之，遂吐痰幾半桶，後吐一塊如豬腦血，食相裹，不二三日遂起。</p>
<p>婦女病患，率多心腹疼痛，痞滿諸疾，大都由於氣血凝聚致然。庸醫妄投藥餌，補之則益患，稍削之則損元氣，治之當有法。先大夫宦長沙張碧泉夫人病血蠱，腹痛，甚已死。先大夫令用薑、蔥、麝香、真血竭熨其臍，經行而病愈。一婦人患血痞，服藥多方未效，張小泉用通利行氣之藥為餅，貼其臍半日，頻氣泄而散。可見病在下者，湯飲未易效，須以意揣量治之，使消散於下可也。</p>
<p>痘疹之發，根於骨髓臟腑，與諸瘡不同。曾有人年十五歲而出者，問之，云：極痛不可忍，渾身如列鐵釘，殆不能展側。沉虛明善幼科，一貴公止一子，將之官與別沉囑之曰：出痘切莫用藥，用藥則反傷生，上痘不必用藥，下痘用藥亦無功；中痘則須藥扶持，然未必得人，則不如不藥之為愈也。既而貴公之任其子出痘，不藥而愈，竟如沈言。</p>
<p>家妹年七歲，下痢純血，時丁倭亂徒，避吳中，醫者已辭，救矣。先憲副公語：不肖當可救否？曰：痢疾起於氣滯，兒欲飲以萬病解毒丹下之，疏通其氣，庶幾可治。乃磨服一錠，未可，因再磨服一錠，厥明大下，即進粥兩甌，其病遂愈。以此知解毒丹之效，神妙莫比。一名紫金錠子，具載方書。</p>
<p>王典者，徽人，寓京師，通籍太醫院徐南湖為侍御時，嘗識之，且屢驗其方藥，每記憶之。晚歸鄉，患腸癖下血，諸醫治弗愈且殆，南湖曰：吾思用王典醫，為致書召之。王至，診其病，曰：非腸癖也。連進黃硝之劑大下之。復診曰：病未盡也，再進前劑，復下痰積桶。余曰：可以治矣，調理而愈。所下穢更無血積腸癖遂除。以此見，腹為熱滯不能通血，腸胃逼窄而血下耳，眾醫皆以血治，故不效也。南湖自此更十年，患他病殂。</p>
<p>曾憶某醫書論倒倉一法，非丹溪心印，乃云傳自西域異人者，恐門人妄記也。夫虛羸之人雖有積聚，止宜養正積除，豈宜傾瀉倉廩，以損正氣，此可戒也。其言良是。南都一醫者，最稱知名士，又善導引術，偶苦壅滯，因用前法大瀉，不能起於廁，遂殞。余問其年，則六十余矣。夫六十余者，豈宜行大吐下之法哉！以是知醫者，不貴知法，及又貴知理，此醫豈能明於盈虛消息之理哉！一富室患中寒陰證，名醫盈座，最後延吳御醫。至，診之曰：非附子莫救，但忘攜來，令人之市揀極重者三枚，生切，為一劑，計重三兩，投之。眾醫吐舌潛減其半，以兩半為劑，進之，病遂已。吳復診曰：何減吾成藥也？問之，知減其半，噫嘻，吾投三枚，將令活三年也，今止活年半耳。後年余復病而卒，脈藥之神如此。</p>
<p>張鶴仙，名醫也。其醫效有足采者，張嘉興人，少孤，始攜藥囊入吾郡，未知名也。</p>
<p>一日郁溫州水軒患陽證，傷寒稟氣又薄，群醫束手，不敢下。曰：脈已絕矣，下之則死。</p>
<p>張胗其足脈，其獨大。曰：可治。遂投大承氣湯，一而愈，名遂振。後有巡院楊裁庵者，按脈證如前，郁荐之，復愈。由是，吳之稱名醫者，首鶴仙。召視者滿吳，下終其身取效無慮數百，多以大黃之功，俗遂稱張大黃云。自己常進大黃丸子合許，曰：此瀉南方補北方，人弗知也，年九十卒。</p>
<p>錢漸川，幼文勤苦，久之抱郁成疾，上焦苦咽閉，中焦苦隔噎煩悶，下焦則苦遺濁，極而嘔血，幾殆眾醫治之，罔效。偶值常熟顧愛杏至，以疾叩請，詢眾治，按曰：諸君治法未嘗誤也，而弗效者，證雜而藥淆也。今請分治之，上焦用藥清火解毒，食飽服之；中焦用藥開鬱除食，後服之，下焦用藥升降水火，空心服之。品不過三四，劑不過五六，俱奏驗，病若失，後強健如故。登仕版此明醫不失治之效與。</p>
<p>因病服藥，喻如因漏　船，艙久木朽，則油料無所用矣。是知舟之載以木，非以艙人之生以氣非以藥。今人竭精神以遂外物，疲有用以事無用曰：吾有藥焉，是以鑿舟沉舸，而恃哉！先輩沉東老，性澹泊，五旬余，合服人乳藥丸子，久不輟，年八十五卒。卒之前半歲藥不能進矣。</p>
<p>制附子須大熟，不爾，則有癰疽之禍耳。聞中附子毒而發瘍者，如武林童南恆是已童年五十，好長生術交與多方士，有進熱藥以助陽者，童信之，中有附子，全劑百丸，僅進四十五丸，疽發於腦，竟卒。詢知附子性毒多上升，故中其毒者，未嘗不發毒腦背，多至不救，藥不可不慎也。雖然童所進藥當不止附子，應是群諸熱藥為劑，故其禍極烈耳。</p>
<p>世人相傳，灸不著抵吃藥，遂比屋，不拘何病，一概攻至。有因灸反甚，荏苒年月以亡者，可惜也。不知藏寒而病滿，與體濃而形充者，法宜灸，安有病弱之人，肢體羸瘦而顧，概施火攻為也？火攻為病百端，而耗血為尤盛，不可不知。或問其目，曰：虛者不灸，弱者不灸，脈浮者不灸，脈微數者不灸，濕家身痛煩者不灸。若不審其宜而概加灸，　其不至於危殆者幾希。</p>
<p>俗傳花香不宜嗅，嗅之易生癆瘵。余嘗驗之。晨起見夜合花，其時含蕊將放，窺中有細，黑蟲，縱橫不計其數。少頃花大開復窺其中無有矣。其花傍坐，亦未見有一蟲飛出，倏忽之間，何以始夥而終？無以此見，嗅得花香，非得香也，得蟲也，香盛則成蟲，其理有不可測者。</p>
<h3>附經目屢驗良方</h3>
<p><u>太極光</u></p>
<p>　統治男婦大小百病惡症，瘡疽腫毒，筋骨疼痛，左癱右瘓諸症。</p>
<p>孔雀尾（四錢，用甘草水洗，撮土搓之。復用水洗淨，晒乾，為末。純用是尾，端圓處更勝）</p>
<p>乳香　沒藥（各去油，淨）　蜈蚣　全蠍　磁石火　麝香（各二錢）　螻蛄（晒乾）　雄黃（醋浸透，換白蘿菔汁，煮用）　朱砂（各三錢）　水銀（五錢）　牙硝（一兩二錢五分）　硫黃（二兩五錢）</p>
<p>上共為一處，碾成細末，文火，用磁碗一只，將藥末每錢許，匙挑入碗內，以竹刀炒，如米粒大小不等，勿令焦枯。收入磁瓶封固聽用。每症各取藥置患處，以火　著灸之。灸時要避風。如遍身風氣痛，則置藥於各處骨節間，遍灸之。重症灸後須避風七日，神效。</p>
<p><u>紺雪丹</u></p>
<p>　專治一切目疾，並去翳膜，如神。</p>
<p>六月雪根燒灰存性　冰片量加。</p>
<p>上不拘多少，共乳極細，收用。加熊膽少許更神。</p>
<p><u>去老膜翳障神方</u></p>
<p>珍珠（豆腐煮，研）　荸薺粉（各四分）　熊膽（箸皮上焙乾）　陀僧　朱砂（各水飛）　蕤仁（去油，各三分）　砂　白丁香（水飛，各二分）</p>
<p>上為細末如面，磁瓶收固，用金銀角簪點患處。</p>
<p><u>口疳散</u></p>
<p>薄荷末（三錢）　兒茶（一錢五分）　黃柏（一分）　珍珠　生甘草（各五分）　冰片（三分）　龍骨醋（二分）　白芷（二分五厘，腫痛加倍）</p>
<p>上共為極細末。遇口疳吹之，神效。初起熱甚，倍薄荷。久病多加珍、珠兒茶。</p>
<p>龍骨即長肉痘疹後去黃柏、龍骨加牛黃。</p>
<p>疳重加滴乳香、朱砂各少許。</p>
<p><u>青蓮散</u></p>
<p>　專治一切喉風生蛾等症。</p>
<p>山豆根　兒茶　胡連（各一錢）　川黃連（三分）　冰片（一分）　青魚膽（二錢）</p>
<p>上共乳極細，收固，聽用。吹之立愈。</p>
<p><u>臌症第一方</u></p>
<p>當歸　白朮　白芍（各二兩）　茯苓　檳榔　常山（酒浸，焙透）　草果（各一兩）　枳殼　厚朴青皮（無鹽醋，拌炒）　陳皮（各一兩五錢）</p>
<p>上共為細末，加細針砂粉四兩，和勻。每日服兩次，用三分，以紅棗七枚，已嚼服藥，及愈後禁鹽百日，永戒食牛肉。如犯背平、腳底平、臍凸，乃不治之症，不必服。</p>
<p><u>金彈丸</u></p>
<p>　專治小兒急驚結胸等症，奇效。</p>
<p>牛黃　珍珠（各四分）　琥珀　川鬱金　半夏　射干　礞石（火硝　，各二錢）　朱砂（水飛）　明雄黃（各一錢）　陳膽星　川貝母　天竺黃　巴豆（去殼，淨，各四錢）　甘草　生薑（各三錢）　冰片麝香（各一分）</p>
<p>上共為細末，煉白蜜為丸，每粒重三分，金箔為衣，或熔蠟為丸，護之更妙。</p>
<p><u>疝氣方</u></p>
<p>新鮮大小薊根，不拘多少。</p>
<p>上一味搗爛，酒煎服立效。</p>
<p><u>一切腫毒初起煎方</u></p>
<p>金銀花　紫花地丁（各一兩）　用井水（二碗，河水二碗，煎成二碗，去渣，入後藥，加當歸一錢）　白芷陳皮（各二錢）　甘草（八分，用前藥水煎成一碗加水酒一碗入後藥加）　乳香　沒藥　土貝母（各二錢）　穿山甲（三片）</p>
<p>共煎成一碗，去渣、服，神驗。乳毒加蒲公英（一兩）</p>
<p><u>秘寶圍藥方</u></p>
<p>　治一切腫毒。</p>
<p>陳墨碾碎（二錢）　川大黃（二兩）　藤黃（六錢）　黃柏（五錢）　冰片　麝香（各五分）　雄豬膽（五個）　陳醋（生薑自然汁各一小杯）</p>
<p>上將藥共為末，和豬膽、陳醋、薑汁搗勻，作錠子，晒乾。每用陳醋磨塗患處，散腫拔毒生肌神效。</p>
<p><u>太乙五行膏</u></p>
<p>　統治一切無名腫毒。</p>
<p>牛蹄甲　馬蹄甲　驢蹄甲　豬蹄甲　羊蹄甲（各五兩）　連翹　三棱　莪朮　黑丑　白丑　木香　胡連沙參　地骨皮　元參　柴胡（各一錢五分）　白芥子　天花粉（各一錢）　山查　麥芽　神麯（各六分）</p>
<p>上先將五蹄甲入麻油二斤四兩熬枯，去渣，再入連翹等十六味，熬焦，濾清。俟油熬至滴水成珠為度，再入陶丹一斤二兩，水飛收膏，攤貼患處。散腫拔毒生肌，神效。惟眉心耳後忌貼。</p>
<p><u>紫靈丹</u></p>
<p>　專治瘡癤腫毒。</p>
<p>冰片　麝香　乳香（去油）　沒藥（去油，各四錢八分）　血竭（一兩二錢）　朱砂（一錢）　前胡元參（各一錢二分）　母丁香（八分）　班毛（一兩六錢，淨，去頭，足，翅，用糯米炒）</p>
<p>上共為細末，收固。每用少許，放膏上貼患處。</p>
<p><u>拔疔膏</u></p>
<p>野菊花　山慈菇　升麻（瓦炙）　血竭（各一錢五分）　天花粉（一錢）　七葉一枝花　紫花地丁木耳　皂角刺（各瓦炙）　朱砂（水飛淨，各三錢）　川貝母（去心）　知母（各瓦炙，或用黃酒煮透，焙乾亦可）　蟾酥（各三錢酒化，不見火生）　甘草　麝香（各五分）　萆麻子肉（一兩，去殼衣，搗爛用）</p>
<p>上藥除麝香、蟾酥、血竭、萆麻子肉、朱砂六味，余概用瓦炙存性。同前藥為極細末，同萆麻肉搗爛成膏。如干，加山東胭脂。如無，即麻油亦可。用時先將銀針刺破疔根，入此膏少許，掩以膏藥一對，周時疔自拔出矣。</p>
<p><u>玉燕膏</u></p>
<p>　治瘰　痰核秘方。</p>
<p>川山甲　全蠍　白芷　黃連　全當歸　黃芩（各二兩）　生地　赤芍　番木鱉甲（各一兩）　官桂　海藻（各四兩）</p>
<p>上用麻油二斤四兩入鍋熬枯，去渣，淨，入飛丹十兩、黃蠟七錢、白蠟三錢、鉛粉二兩，收成膏，投入水浸，取起晾干。再入鍋熔化，加乳香、沒藥、輕粉各二錢，麝香、雄黃朱砂各一錢，朝北燕窠泥、雄鼠糞各五錢，血竭一兩，共為細末，離火入前膏內攪勻收貯。</p>
<p><u>又方</u></p>
<p>黑貓一只，不拘大小，務要狗咬死者，連皮毛腸肚全用。</p>
<p>上用麻油熬化，濾去渣，將油熬至滴水成珠，入黃丹，收成膏藥，攤貼患處，神效。</p>
<p><u>膿疥瘡煎方</u></p>
<p>川芎　大腹皮　丹皮　生首烏　牛蒡子　當歸　紅花　赤芍　金銀花　生甘草（各一錢）</p>
<p>上加燈心二十根，水煎服五六劑後，再搽沒藥、花椒末、大風子肉、白芷、硫黃、檳榔等分，為細末，雄豬油同搗極爛搽之。</p>
<p><u>透骨湯</u></p>
<p>　專治跌打損傷，滿身青紫，危重者皆效。</p>
<p>五加皮　自然銅　青皮　紫荊皮　杜仲　紅花　川山甲　白蒺藜　歸尾　乳香　沒藥（以上各一錢）</p>
<p>活土鱉（三個，搗碎，沖）</p>
<p>上用水煎服，外加透骨草。更神傷骨者，加尋骨風。心慌者，加朱砂。輕者一劑至重者二劑，無不愈。</p>
<p><u>接骨紫金丹</u></p>
<p>土鱉（酒炙，去足，淨）　乳香　沒藥　歸尾（酒炒）　自然銅（醋　，七次各三錢）　血竭　大黃（酒炒）</p>
<p>骨碎補（去毛，打碎，酒浸，晒乾）　硼砂（各一錢）</p>
<p>上共為細末，磁瓶收貯。跌打損傷，瘀血攻心，好酒下一分八厘。破傷吐血不止者，用當歸、桃仁、紅花各五分，煎酒下。</p>
<p><u>荔奴散</u></p>
<p>　專治一切金瘡跌磕。</p>
<p>龍眼核不拘多少，燒灰存性。</p>
<p>上為細末，收貯。敷傷處立愈。</p>
<p><u>解鉛粉毒</u></p>
<p>綠豆粉（一兩）　牙硝（二錢）　檳榔末（五分）</p>
<p>上共為細末，每用清米湯調如稀糊，一匙一匙漸次進服，不可太急，候吐止。腹內不痛，大便瀉盡，方可飲清米湯，然後吃粥調理。</p>
<p><u>蛇咬神方</u></p>
<p>朱砂　麝香（各二分）　雄黃（三分）　牙硝（五分）　殼珠（即假珠火炙，一分）　豬牙皂角（瓦炙，五個）　萆麻子（十粒，去殼，炙）</p>
<p>上為細末，磁瓶收固。用時將傷處銀針挑破，點藥少許，並點眼角片時，流去毒水，立效。</p>
<p><u>治小兒臍風撮口方</u></p>
<p>巴豆（一，粒去殼，研爛）　明雄黃（一錢，乳細）</p>
<p>上二味，和勻。每用三五粒，新汲井水調下。覺胸腹有響聲，大便下，痰即愈。此症最危，百無一治，亦少妙劑。此方神效，勿略之。</p>
<p><u>治痘毒神方</u></p>
<p>用白瑞香花葉，不拘多少，入冰糖少許，同搗極爛敷之。初起即消，已成即潰，已潰收功，他方醫愈後或年余數月復發者，無不神效。</p>
<p><u>震升丸</u></p>
<p>　專治痔瘡並腸風下血。</p>
<p>荷葉不拘多少，燒灰存性。</p>
<p>上一味用，生鱔魚血合搗為丸，如桐子大。每早空心白湯下三四錢。</p>
<p><u>治噤曰痢方</u></p>
<p>用燕窠泥不拘多少，研末，同鴨蛋青調勻，入麝香三分，小兒二分，敷臍上，泥干。又以蛋清潤之，一二日即愈。</p>
<p><u>黃芽丸</u></p>
<p>　治胃強脾弱，能食不能消者，並脾泄等症。</p>
<p>制穀芽（四兩，半生半炒　制法：用糯穀三四升，韭葉搗汁，浸數日，候穀出芽，取起篩盛微，日晒略干，即以韭菜汁洒之，以芽帶綠色為度，晒乾聽用。）　人參（一兩，如不用，以黨參，黃　代之）　芡實（二兩，炒）　蓮子肉（四兩，去心，取肉連皮，入豬肚內煮透，去肚，晒乾）</p>
<p>上共為細末，用荷葉一張，煮汁，和山藥末打糊為丸，如綠豆大。每服二錢，米飲下，日三次。</p>
<p><u>治脫疽方</u></p>
<p>　此症發於足指，漸上至膝，色黑痛不可忍，逐節脫落而斃，至惡之症也。亦有發於手指者，同治。</p>
<p>用土蜂房一個，研細醋調搽，應手而愈，真仙方也。</p>
<p><u>湯火傷</u></p>
<p>用生薑不拘多少，搗爛撲之。又方，冬月收壞橘不拘多少，貯磁瓶中封，置靜處日，久自化為清水。用時取水塗患處，神效。</p>
<p><u>絞腸痧方</u></p>
<p>取旱芹菜搗汁，飲下，立愈。</p>
<p><u>瘤　驗方</u></p>
<p>川貝母不拘多少，嚼，時時敷之，不過月余，自潰而愈。</p>
<p>頭上打破，如雞子大，傷痕奇效方。</p>
<p>白麻石內有石筋、石線，取出研細末，敷滿，布包扎好，三日長肉生肌，屢驗。</p>
<p><u>離骨取牙方</u></p>
<p>烏梅十七個，童便浸，春夏秋兩日，冬三日，甘草水漂過。</p>
<p>上二味，等分，陰陽瓦焙乾，研細。每末一錢，加黃牙丹五分，拌勻。但看骨槽風有骨橫在牙床者，用糯米漿少許，拌藥成條，塞在骨縫兩邊，塞滿。如無縫，即散放牙縫內。一日兩次，上藥二十日，其骨自動，再著眼明手輕之人，鉗去之。切不可將藥誤黏好齒，致傷好牙。此方甚神而奇。</p>
<p><u>黃牙丹</u></p>
<p>　此丹去污生新，治疳要藥。</p>
<p>汞（一兩）　藤黃（五分）　牙硝　明礬（各一兩五錢）　蛇含石（八分）</p>
<p>上共研勻，結胎，武火升煉三炷香，取藥。每一兩加冰片四分，收貯聽用。</p>
