<header data-type="book">
<h1>走馬急疳真方</h1>
</header>
<h2>序</h2>
<p>吾滕氏，自唐迄今六百余年，科第聯芳，箸纓相繼，詩禮傳家，清明持守，至大父舉應，賢良方正，能言極諫，科不仕，蒙賜號廉靜處士。吾父國學進士，亦應是科，年一十六而奄棄，獨遺不肖，早孤失學無聞，唯謹是持，而唯善是務耳。寶慶改元，吾時年二十八，仲春具牲醴，詣墓拜掃封塋，途遇一老叟，貌古而奇，氣舒而泰，風度飄飄，精神落落，顧吾若欲與語者，以是趨進長揖，叟執吾手，笑而謂曰：子善人子也，何少讀書耶？今雖不得貴，亦當致子富也。吾卒然感而思之，富貴果人心之所愛者，然吾向乏嗣，不若以此為請於叟乎。於是敬上白焉。叟曰：子既不以富貴為欲，而以子嗣為欲，宜乎。吾當以子壽。繼而出受一書，囑曰：愿子將此多濟人子嗣，則子子嗣必多矣。使吾向日拜，起而叟遂失焉。駭感良久，謹捧書歸，焚香開讀，乃治小兒《急疳走馬真方》也。按方精修合，施於人，果甚奇驗，百發百中。未幾生　，長仕吳江州司訓，　生清。迨今吾年八十余矣。噫！叟之言，神且信也，其書敢不敬乎！烏可易而視之哉？是用識於篇首，示吾子孫當保是書，而精修藥餌，惟以濟人為心，不以利為心可也。</p>
<p><u>德佑元年歲次乙亥孟夏吉日樂善老人南陽滕伯祥撰</u></p>
<h2>治法</h2>
<p>凡治口疳，必先以壓舌，壓定其舌，以杖子挑起上　，務細觀其咽喉中有無，次及上下、舌底、齒根，如有紫腫處，用三棱針刺出毒血，或有黃泡爛肉，以青生絹裹指，蘸新汲井花水，拭擦去淨，用二聖散干敷患處，以消毒散生蜜調與食後服。若疳延於上　，用綠袍散敷之，毒涎從其流出，或咽下亦不妨。或用聖餅子貼於足心，男左女右，以帛扎定。如延及咽喉，用藥筒納紫金散吹入，治以甘露飲，煎，食後。倘有黑爛惡肉，攻成潭穴者，為至重之症，須以刀取去惡肉，但不知疼痛者，不可治矣。若覺痛，速以紫金散敷之，以甘露飲加皺面還丹濃煎與服，庶幾得生。</p>
<p>凡發痘疹生疳，敷治並同上法，但以胡荽煎湯，停溫，代前井化水用。</p>
<p>凡治耳HT　內生疳，必先以綿杖子三五枚，或七九枚，十一、十三枚，務令榐其耳內膿水干淨，然後以鵝毛管納藥吹入，待干為愈。</p>
<p>凡治胎毒頭疳，膿血滿頭，腥臭滋水淋漓，或痛或癢，延及肢體者，先以米泔水煎二妙丹，去渣，令溫洗之，無風處拭乾，再用鹿兒膏加茅君散，香油調勻敷之，內服肥兒丸。乳母忌食辛熱發毒之物。如鼻疳，用蘭香散干敷。</p>
<p>凡治頭面手足遍身疳瘡，先用米泔湯洗之，再以豬油調十仙丹敷上。若癢，加二妙丹。</p>
<p>痛不必加。內服肥兒消疳丸。均可忌一切發毒辛熱之物。</p>
<p>凡治大人遍體生疳，或疥癬肥瘡，亦用十仙丹加二黃散，豬油調敷。忌食諸般發毒、動風、辛熱之物。</p>
<p>凡治下疳之法，須審內發外染二種。內發者，自父母稟體所遺，根柢甚深。外染者，衣服不潔，傳染而得，病尚膚淺。用二妙丹以絹包之，入濃米泔中煎數沸，去渣停溫，勿添生水，於避風處淨拭乾滋水，用冰黃散干敷，以香油調敷，忌口如前列諸般發毒、動風、辛熱之物。</p>
<p>凡治五疳之法，須辨新久、冷熱。若疳之新者，為熱疳，則面黃瞼赤，骨熱盜汗，鼻干口臭，唇焦煩渴，心躁驚悸，情意不樂。若疳之久者，為冷疳，則目腫腹脹，便利不定，瀉糞肥膩，或似油珠，煩渴黃瘦。熱疳病多在外，冷疳病多在內。又有冷熱二症交互，非新非久，不內外因者。然初病肥熱，久病瘦冷，小兒易為虛實，脾虛不任寒溫，服寒藥則生冷，服溫藥則生熱，當識此理，以為治療之綱領。消積和胃，滋血調氣，隨宜用藥以扶之，淡薄飲食以養之，久久自然充實。疳之為病，名狀固多，而治療之方亦不少，惟消疳丸、保童丸二方治五疳，品味平和，用之穩當，量兒大小、新久、冷熱、虛實，以意消息增損與服，得效如神，是用表而出之。</p>
<p>凡藥品異名，皆出於胡氏《圖經本草》、陶氏《本草衍義》、進士侯君《藥譜》中所采而用之者，決非杜撰胡為耳。後之用是方者，尚當稽索，則亦自有進益之處焉。</p>
<h2>藥方</h2>
<p><u>紫金散</u></p>
<p>　治遍口生疳，作穢臭爛，延及咽喉，敗壞甚速，故名曰走馬疳。</p>
<p>明羽澤（即明礬，　，三錢）　溺中　（即人中白，　，二錢）　百蟲倉（即五倍子，　，五錢）　赤鉛華（即東丹，炒紫色，一錢）　玉虛　（即冰片，一分）　水銀臘（即輕粉，三分）</p>
<p>詩曰：赤鉛華在明羽澤，溺中　合水銀臘，百蟲倉有玉虛　，治走馬急疳第一方。</p>
<p>上以前四味各等精制，並研羅過，加後二味少許，再研勻極細末用。</p>
<p><u>綠袍散</u></p>
<p>　治症同前。</p>
<p>山屠粉（即黃柏末）　藍寶華（即青黛）　羽KT　灰（即枯礬）　玉虛　（即冰片）</p>
<p>詩曰：山屠粉和玉虛　，藍寶華同羽澤灰，善治急疳名走馬，綠袍散是藥之魁。</p>
<p>上以前三味各研細末，和成柳葉色，然後加入後一味少許，再研勻用。</p>
<p><u>二聖散</u></p>
<p>　治症同前。</p>
<p>黃山屠（即黃柏）　白羽KT　（即白礬，　存性）</p>
<p>詩曰：黃口生疳何用醫，速求二聖散無疑，黃山屠和白羽KT　，為末頻頻干敷之。</p>
<p>上二味等分為極細末用。</p>
<p><u>立效散</u></p>
<p>　治HT　內生疳腫脹，膿血臭穢。</p>
<p>羽KT　灰（即枯礬）　片胚子（即干胭脂）　拔萃團（即麝香）</p>
<p>詩曰：立效散治耳HT　疳，羽澤灰成拔萃團，更加一味片胚子，為末吹之即便安。</p>
<p>上二味等分，研細後加下一味少許，研勻用。</p>
<p><u>鹿兒膏</u></p>
<p>　治胎毒頭疳，膿血滿頭，腥臭滋水淋漓，延及肢體，或痛或癢。</p>
<p>赤鉛華（即黃丹，水飛，四兩）　琥珀絲（即松香，研細，八兩）</p>
<p>詩曰：頭疳紅藥鹿兒膏，四兩赤鉛華水淘，飛過炒如霞紫色，八兩琥珀絲共熬，蔥齏汁內煎數沸，重研極細末為高，更加一分茅君散，香油和拌要勻調。</p>
<p>上二味制度研細，貯蔥管內入於齏汁中煮數沸，去蔥取藥，再研細，加茅君散四兩，水銀臘一錢，和勻用。其茅君散，蒼朮也。</p>
<p><u>茅君散</u></p>
<p>　治濕毒疳瘡。</p>
<p>偷蜜珊瑚（即甘草，三兩）　赤伯淡（即厚朴，三兩）　茅君寶筵（即蒼朮，五兩）　陳貴老（即陳皮，三兩）</p>
<p>詩曰：鹿兒膏內茅君散，茅君寶篋五兩羅，偷蜜珊瑚赤伯淡，陳貴老加三兩和。</p>
<p>上磨極細末用。</p>
<p><u>十仙丹</u></p>
<p>　治頭面手足偏身疳瘡。</p>
<p>靜風尾（即荊芥，一斤）　黃子伯（即黃柏，一斤）　琥珀絲（即松香，一斤）　白藥須（即煎草，一斤）　鎖眉根（即苦參，一斤）　蛇兒米（即蛇床子，一斤）　兩平章（即獨話，一斤）　若梓皮（即海桐皮，半斤）　白羽KT　（即白礬，半斤）　風兒肉（即大風子肉，四兩）</p>
<p>詩曰：琥珀絲有靜風尾，兩平章運蛇兒米，黃子伯生白藥須，鎖眉根要均勻爾，白羽KT上若梓皮，減半分兩磨羅起，風兒肉比又減半，調理疳生周遍體，米泔湯洗豬油調，癢加二妙疼還去，若增二黃更有治，大人疥癬瘡無此。</p>
<p>上磨羅為極細末用。</p>
<p><u>二妙丹</u></p>
<p>　治癢，殺蟲，去濕。</p>
<p>銅華精（即銅青）　枯羽澤（即枯礬）</p>
<p>上二味研等分，為極細末用。</p>
<p><u>二黃散</u></p>
<p>　治癢，殺蟲，去毒。小兒藥中勿用。</p>
<p>昆侖黃（即硫黃，一兩）　黃食石（即雄黃，三錢）</p>
<p>上研為細末，加入十仙丹內。每貼一匕。</p>
<p>詩曰：二妙丹中何為妙，銅華精枯羽澤良，二黃散內有二味，黃食石佐昆侖黃。</p>
<p><u>冰黃散</u></p>
<p>　治下疳。</p>
<p>蘆公石（即蘆甘石）　玉虛　（即冰片）　水銀臘（即輕粉）　珠子香（即乳香）</p>
<p>孩子茗（即孩兒茶）　麒麟血（即血竭）　蠻龍古血（即沒藥）</p>
<p>詩曰：蘆公石煮玉虛　，孩子茗煮珠子香，水銀臘和麒麟血，更入蠻龍古血良。</p>
<p>上各等分，研為極細末用。</p>
<p><u>消毒散</u></p>
<p>　治濕毒口疳。</p>
<p>太清尊者（即朴硝，一兩）　冰喉尉（即薄荷，二兩半）　黃香影子（即山梔，一兩七錢）　苦督郵（即黃芩，一兩半）　偷蜜珊瑚（即甘草，四兩五錢）　無聲虎（即大黃，一兩三錢）　度厄錢（即連翹，三兩）</p>
<p>詩曰：太清尊者冰喉尉，偷蜜珊瑚苦督郵，黃香影子無聲虎，度厄錢因消毒酬。</p>
<p>上各制過，磨羅如數稱，並為細末用。</p>
<p><u>甘露飲</u></p>
<p>　治症如上。</p>
<p>洞庭奴隸（即枳殼，去白，面炒）　林蘭（即石斛，去蘆）　蘆橘葉（即枇杷葉，去毛）</p>
<p>顛勒（即天冬，去心，焙）　國老（即甘草）　羊韭（即麥冬，去心）　腐賜（即黃芩）　茵陳　熟芭（即熟地）</p>
<p>詩曰：顛勒生地出洞庭，腐賜熟芭要茵陳，林蘭國老生蘆橘，羊韭和成甘露春。</p>
<p>上　咀，每服三錢，水一盞，煎七分，食後溫服。</p>
<p><u>消疳丸</u></p>
<p>　治疳生於內，面黃腹脹，潮熱，便濁腹疼，及蟲痛羸瘦。</p>
<p>黑金屑（即鐵屑，一兩，苦酒炒）　茅君散（即平胃，二兩）</p>
<p>詩曰：磨積消疳丸妙絕，苦酒炒干黑金屑，茅君散和醋糊丸，空心米飲服為捷。</p>
<p>上以苦酒拌黑金屑，炒干，入茅君散和勻，用醋糊丸，空心米飲服。</p>
<p><u>保童丸</u></p>
<p>　治五疳。</p>
<p>風梭御史（即使君子，炒黑色）　散雪玉塵（即面炒黑色）</p>
<p>詩曰：五疳保童治五疳，風棱御史玉塵兼，二味各炒令黑色，米飲送下面糊丸。</p>
<p>上為末，面糊為丸，空心米飲下。</p>
<p><u>肥兒丸</u></p>
<p>　治疳瘦，進飲食，健脾胃，殺蟲清積。</p>
<p>化米先生（即神麯，炒，一兩一錢）　綬米帶（即麥芽，六錢）　風梭御史（即使君子，淨，五錢）　滴膽芝（即黃連，一兩二錢）　脾家瑞氣（即檳榔，二錢五分）　大通綠（即木香，二錢五分）</p>
<p>詩曰：化米先生綬米帶，風梭御史滴膽芝，脾家瑞氣大通綠，洗瘴丹能肥小兒。</p>
<p>上為細末，面糊為丸黍米大，空心米湯下。</p>
<p><u>聖餅子</u></p>
<p>　治走馬急疳。用此能拔毒。</p>
<p>抱靈居士（即香附，去毛）　痰宮霹靂（即半夏）</p>
<p>詩曰：聖餅抱靈居士耳，痰宮霹靂兩均研，雞子清調和作餅，男左女右足心淹。</p>
<p>上二味等分為末，以雞子清調和成餅，男左女右貼於足心，干則易之。</p>
<p><u>蘭香散</u></p>
<p>　治鼻疳爛。</p>
<p>銅華精（即銅青，五分）　蘭香葉（二錢）　水銀臘（即經粉，二分）</p>
<p>詩曰：蘭香散用蘭香葉，水銀臘與銅華精，能治鼻疳瘡作爛，為末干敷一掃平。</p>
<p>上為細末，看瘡大小干貼之。</p>
<h2>藥品異名括</h2>
<p>大清尊者朴硝爾　偷蜜珊瑚甘草名脾家瑞氣內豆蔻　抱靈居士香附更羽KT　羽澤皆礬石　銅華精即是銅青干胭脂做片胚子　苦督郵只為黃芩痰宮霹靂當半夏　大通綠染木香形蠻龍古血沒藥也　鎖眉根號曰苦參茅君寶篋蒼朮鮮　連翹便是度厄錢顛勒羊韭天麥冬　熟地生地為芭黃香影子山梔子　赤鉛華煉作黃丹雄黃異名黃食石　麝香和作拔萃團溺中　號人中白　金釵石斛成林蘭百蟲倉即五倍子　松脂化作琥珀絲獨活號稱兩平章　珠子香焚即乳香風兒肉喚大風子　昆侖黃配作硫黃陳皮久曰陳貴老　無聲虎畏伏大黃洞庭奴隸為枳殼　甘草又名國老當黃芩亦可為腐賜　黑金屑即鐵屑稱風棱御史使君子　黑面是散雪玉塵綬米帶乃麥芽號　神麯乃化米先生滴膽芝即是黃連　諸般藥品多異名</p>
