<header data-type="book">
<h1>經絡考</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張三錫</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1609">公元1609年（明·萬曆三十七年）</data></dd></div>
</dl>
</header>
<h2>自序</h2>
<p>張三錫曰：臟腑陰陽，各有其經，四肢筋骨，各有所主。明其部，以定經，循其流，以尋源。舍此而欲知病之所在，猶適燕而南行，豈不愈勞而愈遠哉？方書云：「不讀十二經絡，開口動手便錯」，誠確論也，世人以經絡為針灸家書，皆懵然罔究，妄舉妄譚。即如頭痛一症，左右分經，前後異同；同一腹痛也，而有中脘、當臍、少腹之分；同一害眼也，而有大　、小　、黑珠、白珠、上下胞之異。在肺而用心藥，則肺病不去而復損心經；在血而用氣藥，則氣反傷而血病益滋。東垣曰：傷寒邪在太陽經，誤用葛根湯，則引邪入陽明。是葛根乃陽明經藥，非太陽經藥也。即此而推，其夭於藥者不知其幾矣！仁人君子，慎勿輕議，當留心於此焉！今將《素》、《難》、《靈樞》等經，及滑伯仁《十四經絡發揮》，纂其最要者，為《經絡考》。</p>
<h2>經脈</h2>
<p><a href="_files/p06-d32a1.bmp">仰人尺寸之圖</a></p>
<p><a href="_files/p06-d32a2.bmp">伏人尺寸之圖</a></p>
<p>黃帝曰：經脈者，所以能決死生，處百病，調虛實，不可不通。故曰：穀入於胃，脈道以通，血氣乃行。</p>
<h3>肺手太陰之脈</h3>
<p>起中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循　內，行少陰、心主之前，下肘中，循臂內上骨下廉，入寸口，上魚，循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端。是動則病肺脹滿，膨膨然而喘咳，缺盆中痛，甚則交兩手而瞀，此為臂厥。是主肺所生病者，咳，上氣喘咳，煩心胸滿，　背內前廉痛厥，掌中熱。氣盛有餘，則肩背痛風寒，汗出中風，小便數而欠。氣虛則肩背痛寒，少氣不足以息，溺色變，為此諸病（　，音糅。瞀，音務）。</p>
<p>此言肺經脈氣之行，乃為第一經之經脈也。凡言手者，以其井、滎、俞、經、合等穴，皆起於手也。凡言足者，以其井、榮、俞、經、合等穴，皆自足而始也。起，發也。中焦者，中脘也，在臍上四寸。胃口，胃之上脘（臍上五寸）。</p>
<p>絡，猶兜也，如人橫線為絡，以兜物也。循，巡也。膈，隔也。凡人心下有膈膜，前臍鳩尾，後齊十一椎（即脊骨），周遭著脊，所以遮隔濁氣，不使上熏心肺也。肺系者，喉嚨也。喉以候氣，下接於肺。肩下、脅上際曰腋。膊下、對腋處為　，肩肘之間也。　盡處為肘，肘以下為臂。廉，隅也。手掌後高骨旁動脈為關，關前動脈為寸口。曰魚，魚際者，謂掌骨之前，大指本節之後，其肥肉隆起處，統謂之魚，魚際則其間之穴名也。端，杪也。按：本經《營衛生會》、《五味》、《邪客》、《刺節真邪》等篇，言人身有前三焦者，宗氣出於上焦，即所謂積於胸中；又謂之積於膻中也，出喉嚨以司呼吸。其營氣者，陰精之氣也，由中焦之氣，陽中有陰者，隨上焦之氣，以降於下焦，而生此陰氣，故曰清者為營；又謂之營出於中焦者是也。然營氣陰性精專，隨宗氣以營運經隧之間，故謂之營行脈中者是也。其衛氣者，陽精之氣也，由下焦之氣，陰中有陽者，隨中焦之氣以升於上焦，以生此陰氣，故曰濁者為衛；又謂之衛氣，出於下焦者是也。然衛氣陰性　悍，不隨宗氣而行，而自行於各經皮膚、分肉之間，故謂之衛行脈外是也。茲手太陰之脈，起於中焦以至下文（云云），本言宗氣與衛氣同行，而衛氣不與焉者也，即《靈樞經‧營衛生會》篇所謂與營俱行陽二十五度，行陰亦二十五度，為一周也，故五十度而復大會於手太陰矣。然此特言脈經營運之始爾。起於中焦者，即《生會》篇所謂中焦亦並胃中，出上焦之後，此所受氣者，泌糟粕，蒸津液，化其精微，上注於肺脈者是也。言由穀氣入胃，其精微之氣，起於中焦，下絡大腸，以肺與大腸相為表裡也；轉巡胃，出上口，屬之於肺，即從肺系橫出腋下。蓋由胸博第四行之中府、云門，以出腋下，下循　內，歷天府、俠白，行少陰心經、手厥陰心包絡兩經之前，下入肘中，抵尺澤穴，即《生會》篇所謂上焦出於胃上口，並咽以上貫膈而布胸中，走腋，循太陰之分而行也，既下肘中，乃循臂內上骨之下廉，歷孔最、列缺，入寸口之經渠、太淵，以上魚，循魚際，出大指之端，至少商而止也。其支者，如木之有枝，以其自直行之脈而旁行之也。臂骨盡處為腕，脈之大隧為經，交經者為絡。蓋本經脈雖終於大指，而絡脈之行，從腕後之列缺穴，交於手之陽明經，而由合谷、二間、三間以至於商陽穴，又商陽而上行也。是動則為肺脹等症者，是經變動，則有此等。《難經》以是動為氣，馬玄台引經斷為非，最是。（膻，音袒）</p>
<h3>手太陰肺經圖</h3>
<p><a href="_files/p06-d32a3.bmp">手太陰肺經圖</a></p>
<p>《難經》曰：肺重三斤三兩，六葉兩耳，主藏魄。四垂如蓋，附著於脊之第三椎，中有二十四空，行列分布諸臟之氣，為諸臟之華蓋。人有二喉，前喉為喉嚨，通於五臟，主氣出入。《靈樞經》曰：喉嚨者，氣之所以上下也。後喉為咽喉，主納水穀，通於六腑。《靈樞》又曰：咽喉者，水穀之道也。《難經》曰：喉嚨重十二兩，廣二寸半，長一尺二寸九節。咽門重十二兩，廣二寸半，至胃長一尺六寸。《素問》曰：肺者相傅之官，治節出焉。《靈樞》云：肺小則少飲，不病喘喝；肺大，則多飲，善病胸痹、喉痹、逆氣；肺高，則上氣、肩息、咳；肺下，則居奔迫肺，善脅下痛；肺堅，則不病咳、上氣；肺脆，則苦病消痹，易傷；肺端正，則和利難傷；肺偏傾，則胸偏痛也。白色小理者肺小，粗理者肺大，巨肩反膺，陷喉者肺高，合腋張脅者肺下，好肩背濃者肺堅，肩背薄者肺脆，背膺高濃者肺端正，脅偏疏者肺偏傾也。</p>
<h3>肺經諸穴歌</h3>
<p>馬玄台曰：欲明經絡，須熟穴名。但徐氏《歌》俱自井滎而始，殊非本篇各經起止正義，滑氏《歌》，合於起止，似欠妥，讀者難之。今各陰經照滑氏，陽經照徐氏，則合於起止，且長短句法學人頗便，若穴名既熟，則經脈之然矣。俗醫曰：吾大方脈，非針灸科何須識穴，此其所以為庸下，而不能入軒岐正脈也。</p>
<p>手太陰十一穴，中府云門天府列，俠白下尺澤，孔最見列缺，經渠太淵下魚際，抵指少商如韭葉。</p>
<h3>又分寸歌</h3>
<p>太陰肺兮出中府，云門之下一寸許，云門璇璣旁六寸，巨骨之下二骨數，天府腋下三寸求，俠白肘上五寸主，尺澤肘中約紋論，孔最腕上七寸取，列缺腕上一寸半，經渠寸口陷中是，太淵掌後橫紋頭，魚際節後散脈舉，少商大指端內側，鼻衄刺之立見止（云門，巨骨下俠氣戶旁二寸陷中，去中行任脈六寸。氣戶，巨骨下俞府兩旁各二寸陷中，去中行任脈四寸，去膺窗四寸八分。俞府，巨骨下，璇璣旁二寸陷中。璇璣，天突下一寸。天突，結喉下四寸宛中。右挨穴之法由天突起至璇璣，由璇璣至云門，其法甚簡，後仿此）。</p>
<p><a href="_files/p06-d32a4.bmp">手太陰肺經之圖</a></p>
<h3>大腸手陽明之脈</h3>
<p>起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之間，循臂上廉，入肘外廉，上　外前廉，上肩，出骨之前廉，出乎，柱骨之會上，下入缺盆，絡肺，下膈，屬大腸；其支者，從缺盆上頸，貫頰，入下齒中，還出挾口，交人中、左之右，右之左，上挾鼻孔。是動則病齒痛頸腫。是主津液所生病者，目黃口乾，鼽衄喉痹，肩前　痛，大指、次指痛不用。氣有餘則當脈所過者熱腫，虛則寒栗不復，為此諸病。（　，語口切。頰，鳩藥切。鼽音求，衄音扭）</p>
<p>此言大腸經脈氣之行，乃為第二經也。大指次指者，手大指之次指，即第二指，名食指是也。肺經本出於大指，而大腸經則出於次指，茲言大指次指者，乃大指之次指，非言既出於大指，而又出於次指也。合谷者，本經穴也（俗名虎口）。肩端兩骨間為　骨。肩胛上際處為天柱骨。缺盆，足陽明胃經穴也。頭莖為頸，耳以下曲處為頰。言大腸者、乃手陽明經之脈，受手太陰之交，遂起於指之端，循此次指之商陽、二間、三間之上廉，出合谷穴，在兩骨之間，又上陽谿穴，即兩筋間　又循臂之上廉偏歷、溫溜、下廉、上廉、三裡，入肘外廉之曲池穴，上循　外之前廉，歷肘　、五裡、臂，以上肩之肩　穴，又出　骨之前廉，循巨骨穴，上出天柱骨之會上，會於大椎，自大椎而下，入缺盆，循足陽明經脈，外絡繞肺臟，復下膈，當天樞之外，會屬於大腸；其支別者，雖由偏歷而入，又自缺盆上行於頸，循天鼎、扶突，上貫於頰，人下齒縫中，復出夾口兩吻，相交於人中之內，左脈往右，右脈往左，上挾鼻孔，循禾　、迎香而終，以交於足陽明胃經也。此經有病，則見目黃鼻鼽等症。</p>
<h3>手陽明大腸經圖</h3>
<p><a href="_files/p06-d32a5.bmp">手陽明大腸經圖</a></p>
<p>《平人絕穀》篇伯高曰：回腸大四寸，徑一寸寸之少半，長二丈一尺。受穀一升，水七升半。《難經》曰：大腸重二斤十二兩。按：直腸曰直，則大腸周遭疊積，當名曰回。</p>
<p>《難經》曰：大腸者，傳導之官，變化出焉。《靈樞‧本藏》篇曰：腸應皮，皮濃者大腸濃，皮薄者大腸薄，皮緩腹裡大者大腸大而長，皮急者大腸急而短，皮滑者大腸直，皮肉不相離者大腸結。</p>
<h3>大腸經諸穴歌</h3>
<p>手陽明廿穴名，循商陽二間三間而行，歷合谷陽谿之俞，過偏歷溫溜之濱，下廉上廉三裡而近，曲池肘　五裡之程，臂　肩　上於巨骨，天鼎紆乎扶突，禾　唇連迎香鼻迫。</p>
<p>商陽鹽指內側邊，二間來尋本節前，三間節後陷中取，合谷虎口岐骨間，陽谿上側腕中是，偏歷腕後二寸安，溫溜腕後去五寸，池前五寸下廉看，池前三寸上廉中，池前二寸三裡逢，曲池曲骨紋頭盡，肘　大骨外廉近，大筋中央尋五裡，肘上三寸行向裡，臂　肘上七寸量，肩　肩端舉臂取，巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁三寸，禾水溝旁五分，迎香禾　上一寸，大腸經穴自分明。（左右共四十穴）</p>
<p><a href="_files/p06-d32a6.bmp">手陽明大腸經之圖</a></p>
<h3>胃足陽明之脈</h3>
<p>起於鼻之交額中，旁約太陽之脈，下循鼻外，上入齒中，還出挾口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循發際，至額顱；其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃絡脾；其直者，從缺盆下乳內廉，下挾臍，入氣街中；其支者，起於胃口，下循腹裡，下至氣衝而合，以下髀關，抵伏兔，下膝臏中，下循脛外廉，下足跗，入中指內間；其支者，下廉三寸而別，下入中指外間；其支者，別跗上，入大指間，出其端。是動則病洒洒振寒，善呻數欠顏黑，病至則惡人與火，聞木音則惕然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為　厥。是主血所生病者，狂瘧溫淫汗出，鼽衄，口　唇胗，頸腫喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、　外廉、足跗上皆痛，中指不用。氣盛身已前皆熱，其有餘於胃，則消穀善飢，溺色黃；氣不足則色已前皆寒栗，胃中寒則脹滿。（　，音遏。顱，音盧。髀，音比，去聲。臏，音賓。跗，音撫。數，音數朔。賁，音奔。　，音　。　，音呱。胗，音診）</p>
<p>此言胃經脈氣之行，乃為第三經也。額鼻莖也，山根為　。　，卻同。腮下為頷，頷中為頤。腮前為發際，發際前為額顱。股內為髀，髀前膝上起肉處為伏兔，伏兔後為髀關。挾膝筋中為臏，脛骨為　，足面為跗。足陽明受手陽明之交，起於鼻之兩旁迎香穴，上行而左右相交於　中，過睛明之分，下循鼻外，歷承泣、四百、巨　，上入齒中，還出挾口兩吻地倉，環繞唇下，左右相交於承漿，卻循頤後下廉，出大迎循頰車，上耳前，歷下關，過客主人，循發際行懸厘、頷厭之分，經頭維，會於額顱之神庭；其支別者，從大迎前下人迎，循喉嚨，歷水突、氣舍，入缺盆，行足少陰俞府之外，下膈，當上脘、中脘之分屬胃絡脾；其直行者，從缺盆而下，下乳內廉，循氣戶、庫房、屋翳、膺窗、乳中、乳根、不容、承滿、梁門、關門，下挾臍，歷天樞、外陵、大巨、水道、歸來諸穴，而入氣衝中（即氣街）；其支者，自屬胃處，起胃下口，循腹裡，過足少陰肓俞之外，本經之裡，下至氣衝中，與前入氣衝者合，既相合於氣衝中，乃下髀關，抵伏兔，歷陰市、梁丘，下入膝臏中，經犢鼻下循足面，曰跗上衝陽、陷谷，入中指外間之內庭，至厲兌穴而終也；其絡脈支別者，自膝下三寸，循三裡穴之外，別下歷上廉、條口、下廉、豐隆、解谿、衝陽、陷谷，以至內庭、厲兌而合也；又其支者，別跗上衝陽穴，別行入大指間，出足厥陰行間穴之外，循大指下出其端，以交於足太陰也。及其動穴驗病，則隨虛實寒熱而見以上諸症於部分也。胃者土也，聞木音則惕然而驚者，土畏木也。</p>
<h3>足陽明胃經圖</h3>
<p><a href="_files/p06-d32a7.bmp">足陽明胃經圖</a></p>
<p>《平人絕穀》篇伯高曰：胃大一尺五寸，徑五寸，長二尺六寸，橫屈受水穀三斗五升。其中之穀常留二斗，水一斗五升而滿。《難經》曰：胃重二斤一兩。《腸胃》篇同。《素問‧靈台秘典論》云：脾胃者，倉稟之官，五味出焉。《本臟》篇曰：脾應肉。肉　堅大者胃濃，肉　么者胃薄；肉　小而么者胃不堅，肉　不稱身者胃下。胃下者下脘約不利；肉不堅者胃緩，肉　無小裡累者胃結，胃結者上脘約不利也。</p>
<h3>胃經諸穴歌</h3>
<p>足陽明四十五，自承泣四白而數，巨　有地倉之積，大迎來頰車之伙，下關頭維以人迎，水突氣舍與缺盆。氣戶兮庫房屋翳，膺窗兮乳中乳根，不容承滿，梁門關門，太乙滑肉，天樞外陵。大巨從水道歸來，氣衝入脾關之境，伏兔至陰市梁丘，犢鼻自三裡而行。上巨虛（即上廉）兮條口，下巨虛（即下廉）兮豐隆，解谿衝陽入陷谷，下內庭厲兌而終。</p>
<p>胃之經兮足陽明，承泣目下七分尋，四白目下方一寸，巨　鼻孔旁八分；地倉夾吻四分近，大迎頷下寸三中，頰車耳下八分穴，下關耳前動脈行。頭維神庭旁四五（神庭，督脈穴，在中行發際上五分。頭維，去神庭四寸五分），人迎喉旁寸五真，水突筋前迎下在，氣舍突下穴相乘（氣舍在水突下）。缺盆舍下橫骨內，各去中行寸半明，氣戶璇璣旁四寸，至乳六寸又四分，庫房屋翳膺窗近，乳中正在乳頭心。次有乳根出乳下，各一寸六不相侵（自氣戶至乳根六穴上下相去各一寸六分，去中行任脈各四寸），卻去中行須四寸，以前穴道與君陳。不容巨闕旁三寸（巨闕，任脈穴。臍上六寸五分），卻行幽門寸五新（幽門，腎經穴，巨闕旁一寸五分，在胃經、任脈二脈之中），其中承滿與梁門，關門太一滑肉門，上下一寸無多少，共去中行三寸中。天樞臍旁二寸間，樞下一寸外陵安，樞下二寸大巨穴，樞下四寸水道金，樞下六寸歸來好，共去中行二寸邊，氣衝鼠鼷上一寸（鼠鼷橫骨盡處），又去中行四寸專。髀關膝上有尺二，伏兔膝上六寸是，陰市膝上方三寸，梁丘膝上二寸記，膝臏陷中犢鼻存，膝下三寸三裡至，膝下六寸上廉穴，膝下七寸條口味，膝下八寸下廉看，膝下九寸豐隆系，卻是踝上八寸量，以那下廉外邊綴。解谿去庭六寸半（庭，內庭也），衝陽庭後五寸換，陷谷庭後二寸間，內庭次指外間現（足大趾次趾外間陷中），厲兌大指次指端，去爪如韭胃井判。</p>
<p>按：馬玄台曰：足陽明胃經穴，自缺盆、氣戶、庫房、屋翳、膺窗、乳中、乳根，去中行各四寸。上下相去各一寸六分，自不容、承滿、梁門、關門、太乙、滑肉門，去中行各三寸，上下相去各一寸，自天樞、外陵、大巨、水道、歸來，去中行各二寸，上下相去不等。其氣衝一穴，則又去中行二寸，鼠鼷上一寸。其屈曲有如此者，《徐氏針灸書》皆以二行言之誤矣。左右各四十五穴，共九十穴。</p>
<p><a href="_files/p06-d32a8.bmp">足陽明胃經之圖</a></p>
<h3>脾足太陰之脈</h3>
<p>起於大趾之端，循趾內側白肉際，過核骨後，上內踝前廉，上　內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹屬脾絡胃，上膈，挾咽，連舌本，散舌下；其支者，復從胃，別上膈，注心中。是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣則快然如衰，身體皆重。是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，溏瘕泄，水閉黃膽，不能臥，強立股膝內腫厥，足大趾不用，為此諸病。（踝，湖瓦切）</p>
<p>此言脾經脈之行，乃為第四經也。核骨，一作　骨（俗之孤拐）。足根後兩旁起骨為踝骨，腓腹為　，髀內為股，臍上為腹。咽以咽物，居喉之前，至胃長一尺六寸，為胃之系。舌本，舌根也。足太陰起大趾端之隱白穴，受足陽明之交也，循大趾內側白肉際大都穴，過核骨後，歷太白、公孫、商丘，上內踝前廉之三陰交，又上　內，循　骨後之漏谷，上行二寸，交出足厥陰之前，至地機、陰陵泉，上循膝股前廉之血海、箕門，迤邐入腹，經衝門、府舍，會中極、關元；復循腹結、大橫，會下脘，歷腹哀，過日月、期門之分，循本經之裡，下至中脘之際，以屬脾絡胃，又由腹哀上膈，循食竇、天溪、胸鄉、周榮曲折而下至大包，又自大包外曲折向上會中府，上行人迎之裡，挾喉，連舌本，散舌下而終；其支行者，由腹哀別行，再從胃部中脘穴之外，上膈，注於膻中之裡，心之分，以交於手少陰心經也。及其動穴驗病，則為舌本強等症者，隨其部分而應之也。</p>
<h3>足太陰脾經圖</h3>
<p><a href="_files/p06-d32a9.bmp">足太陰脾經圖</a></p>
<p>《難經》云：脾重二斤三兩，扁廣三寸，長五寸，有散膏半斤。主裹血，溫五臟，主藏意。《素問‧靈蘭秘典論》云：脾胃者，倉稟之官，五味出焉。</p>
<p>《本藏》篇云：脾小則藏安，難傷於邪也，脾大則苦湊　而痛，不能疾行。脾高則　引季脅而痛；脾下則下加於大腸，下加於大腸則藏苦受邪。脾堅則臟安難傷；脾脆則善病消痹易傷。脾端正則和利難傷；脾偏傾則善滿善脹也。又云：黃色小理者脾小，粗理者脾大。揭唇者脾高，唇下縱者脾下。唇堅者脾堅，唇大而不堅者脾脆。唇上下好者脾端正，唇偏舉者脾偏傾也。</p>
<h3>脾經諸穴歌</h3>
<p>足太陰脾中洲，二十一穴隱白游，赴大都兮瞻太白，訪公孫兮至商丘，越三陰之交而漏谷地機可即，步陰凌之泉而血海箕門是求，入衝門兮府舍軒豁，解腹結兮大橫優游，腹哀食竇兮接天溪而同派，胸鄉周榮兮綴大包而如鉤。</p>
<p>大趾端內側隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼。商丘內踝微前陷，踝上三寸三陰交，踝上六寸漏谷是，踝上五寸地機朝。膝下內側陰陵泉（與陽陵泉相對），血海膝臏上內廉，箕門穴在魚腹取，動脈應手越筋間。衝門期下尺五分（期門，肝經穴，巨闕旁四寸五分。巨闕，任脈穴，臍上六寸五分），府舍期下九寸看，腹結期下六寸入，大橫期下五寸半。腹哀期下方二寸，期門肝經穴道現，巨闕之旁四寸五，卻連脾穴休胡亂。自此以上食竇穴，天溪胸鄉周榮貫，相去寸六無多寡，又上寸六中府換（肺穴），大包腋下有六寸，淵腋腋下三寸半（淵腋，膽經穴，腋下三寸與脾大包穴相連）。</p>
<p>愚按：馬玄台曰：中府，肺穴也。周榮、胸鄉、天溪、食竇，脾經穴也。期門，肝經穴也。肝經之下有脾經之腹哀、大橫、腹結、府舍、衝門諸穴，則中行開四寸五分。三經之穴，上下相連，左右共四十二穴。</p>
<p><a href="_files/p06-d32a10.bmp">足太陰脾經之圖</a></p>
<h3>心手少陰之脈</h3>
<p>起於心中，出屬心系，下膈絡小腸；其支者，從心系上挾咽，系目系，其直者，復從心系卻上肺，下出腋，下循內後廉，行手太陰，心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內出其端。是動則病嗌干心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃脅痛，　臂內後廉痛厥，掌中熱痛，為此諸病。</p>
<p>此言心經脈氣之行，乃為第五經也。心系有二，一則上與肺相通，而入肺大葉間；一則由肺葉而下，曲折向後，並脊裡，細絡相聯，貫脊髓與腎相通，正當七節之間。蓋五臟系皆通於心，而心通五臟系也。手少陰經，起於心，循任脈之外，屬心系，下膈，當臍上二寸之分絡小腸；其支者，從心系出任脈之外，上行而挾咽，系目也；其直者，復從心系，直上至肺臟之分，出循腋下，抵極泉也（穴在臂內腋下筋間，動脈入胸），自極泉下循　內後廉，行手太陰、心主兩經之後，歷青靈穴，下肘內廉，抵少海，手腕下踝為兌骨，自少海而下，循臂內後廉，歷靈道、通裡，至掌後兌骨之端，經陰　、神門入掌內廉，至少府，循小指端之少衝而終，以交於手太陽也。故其發病，有嗌干心痛等症。</p>
<h3>手少陰心經圖</h3>
<p><a href="_files/p06-d32a11.bmp">手少陰心經圖</a></p>
<p>心重二十二兩，附著於脊之第五椎，居肺下膈上，中有七孔三毛，盛精汁三合。主藏神。《素問‧靈蘭秘典論》：心者，君主之官，神明出焉。《本藏》篇六：心小則安，邪弗能傷，易死以憂；心大則憂不能傷，易傷於邪。心高則滿於肺中，　而善忘，難開以言；心下則藏外易傷於寒，易恐以言。心堅則藏安守固；心脆則善病消癉熱中。心端正則和利難傷；心偏傾則操持不一，無守司也。赤色小理者心小，粗理者心大。無　者心高，　小短舉者心下。　長者心下堅，　弱小以薄者心脆。　直下不舉者心端正，　倚一方者心偏傾也。</p>
<h3>心經諸穴歌</h3>
<p>手少陰九穴成，極泉青靈少海深，自靈道通理而達，過陰　神門而迎，抵於少府少衝可尋。</p>
<p>少陰心起極泉中，腋下筋間脈入胸（臂內腋下，筋間動脈，入胸）。青靈肘上三寸取（伸肘，舉臂取之），少海肘後端五分（肘內廉節後，大骨外，去肘端五分，屈肘向頭得之）。靈道掌後一寸半，通裡腕後一寸同。陰　腕後方半寸，神門掌後兌骨隆。少府節後勞宮直，小指內側取少衝。（凡九穴，左右各一十八穴）</p>
<p><a href="_files/p06-d32a12.bmp">手太陰心經之圖</a></p>
<h3>小腸手太陽之脈</h3>
<p>起於小指之端，循手外側上腕，出踝中，直循臂骨下廉，出肘內側兩筋之間，上循　外後廉，出肩解，繞肩胛，交肩上，入缺盆絡心，循咽下膈，抵胃屬小腸，其支者，從缺盆循頸上頰，至目銳　，卻入耳中；其支者，別頰上　抵鼻，至目內　，斜絡於顴。是動則病嗌痛頷腫，不可以顧，肩似拔，　似折。是主液所生病者，耳聾目黃頰腫，頸頷肩　肘臂外後廉痛，為此諸病。</p>
<p>此言小腸經脈氣之行，乃為第六經也。臂骨盡處為腕，腕下兌骨為踝，脊兩旁為膂，膂上兩骨為肩解，肩解片骨為肩胛，目外角為外　，目下為　，目內角為內　。手太陽起小指少澤穴，受手少陰心經之交也，由是循外側之前谷、後谿，上腕出踝中，歷腕骨、陽谷、養老穴，直上循臂骨下廉支正，出肘內側兩筋之間，歷小海穴，上循　外廉，行手陽明、少陽之外，上肩，循肩貞、　俞、天宗、秉風、曲垣、肩外俞、肩中俞諸穴，乃上會大椎，左右相交於兩肩之上，自交肩上入缺盆，循肩向腋下行，當膻中之分，絡心，循胃系下膈，過上脘抵胃，下行任脈之外，當臍上二寸之分，屬小腸；其支者，從缺盆循頸之天窗、天容，上頰抵顴　，上至目銳　，過瞳子　，卻入耳中，循聽宮而終，其支別者，別循頰，上　抵鼻，至目內　睛明穴，以斜絡於顴而交於足太陽經也。故變動則有嗌痛頷腫等症。</p>
<h3>手太陽小腸圖</h3>
<p><a href="_files/p06-d32a13.bmp">手太陽小腸圖</a></p>
<p>《平人絕穀》篇曰，小腸大二寸半，徑八分分之少半，長三丈一尺，受穀二十四升，水六升三合合之大半。《腸胃》篇曰：小腸後附脊，左環回周疊積。其注回腸者，外附於臍上，回運環十六曲，大二寸半，徑八分分之少半，長三丈三尺。《素問》曰：小腸者，受盛之官，化物出焉。《本臟》篇曰：心應脈，皮濃者脈濃，脈濃者小腸濃；皮薄者脈薄，脈薄者小腸薄。皮緩者脈緩，脈緩者小腸大而長；皮薄而脈波小者，小腸小而短。諸陽脈皆多紆結者，小腸結。</p>
<h3>小腸諸穴歌</h3>
<p>小腸穴十九中，路從少澤，步前谷後谿之隆；道遵腕骨，觀陽谷養老之崇。得支正於少海，逐肩貞以相從，值　俞兮遇天宗，乘秉風兮曲垣中，肩外俞兮肩中俞，啟天窗兮見天容。匪由顴　，易造聽宮？</p>
<p>小指端外為少澤，前谷外側節前覓，節後捏拳取後谿，腕骨腕前骨陷側，兌穀下陷陽谷論，腕上一寸名養老，支正腕後量五寸。少海肘端五分好，肩貞胛下兩骨解，　俞大骨下陷者（大骨下，胛上廉，舉臂取之），天宗秉風後骨陷，秉風　外舉有空（天　外，肩上　後，舉臂有空），曲垣肩中曲胛陷。外俞胛後一寸從（即外肩俞，肩胛上廉，去脊三寸），肩中二寸大杼旁，天窗扶突後陷詳（頸大筋間前曲頰下，扶突後動脈應手陷中），天容耳下曲頰後，顴　面　銳端量（面　骨下廉，銳骨端陷中），聽宮耳端大如菽（耳中珠子大如赤小豆），此為小腸手太陽（左右共三十八穴）。</p>
<p><a href="_files/p06-d32a14.bmp">手太陽小腸經之圖</a></p>
<h3>膀胱足太陽之脈</h3>
<p>起於目內　，上頰交巔；其支者，從巔至耳上角；其直者，從巔入腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂，絡腎屬膀胱；其支者，從腰中下挾脊內，挾脊貫臀，入　中；其支者，從膊內左右，別下貫胛，挾脊內，過髀樞，循髀外從後廉下合　中，以下貫　內，循外踝後，循京骨，至小指外側。是動則病沖頭痛，目似脫，項似拔，脊痛腰似折，髀不可以曲，　如結，　如裂，是為踝厥。是主筋所生病者，痔瘧狂癲疾，頭囟項痛，目黃淚出鼽衄，項臂腰尻腳皆痛，小指不用，為此諸病。（膊，音博。膂，音旅。臀，音屯。　，音國。胛，音甲。　，　音。　即俗云腿腕）</p>
<p>此言膀胱經脈之行，乃為第七經也。目大角為內　，發際前為額，腦上為巔頂也。腦，頭髓也。腦後為項，肩後之下為肩膊，椎骨為脊，尻上橫骨為腰，挾脊為膂。臀，尻也。挾腰髖骨兩旁為機，機後為臀，腓腹上、膝後曲處為　，膂內為胛，即挾脊肉也。股外為髀，捷骨之下為髀揮，腓腸為　。足太陽之脈起於目內　睛明穴，受手太陽之交也，上額，循攢竹過神庭，歷曲差、五處、承光、通天，自通天斜行左右交於頂上之百會；其支行者，從巔至百會抵耳上角，過率谷、浮白、竅陰穴，所以散養於筋脈也；其直行者，由通天、絡卻、玉枕入絡腦，復出下項，以抵天柱；又由天柱而下，過大椎、陶道，卻循肩膊內、挾脊兩旁，相去各寸半，下行歷大杼、風門、肺俞、厥陰俞、心俞、膈俞、肝俞、膽俞、脾俞、胃俞、三焦俞、腎俞、大腸俞、小腸俞、膀胱俞、中俞、內俞、白環俞，由是抵腰中，入循膂，絡腎，下屬膀胱；其支別者，從腰中，循腰髖，下挾脊，歷上　、次　、中　、下　、會陽，下貫臀，至承扶、殷門、浮　、委陽，入　中之委中穴；其支別者，為挾脊兩旁第三行相去各三寸之諸穴，自天柱而下，從膊內左右別行，下貫胛膂，歷附分、魄戶、膏肓、神堂、噫嘻膈關、魂門、陽綱、意舍、胃倉、肓門、志室、胞盲、秩邊，下歷尻臀，過髀樞也，又循髀樞之裡、承扶之外一寸五分之間，而下與前之入　中者相合，下循合陽，下貫　內，歷承筋、承山、飛揚、附陽，出外踝後之昆侖、仆參、申脈、衝門，循京骨、束骨、通谷，至小趾外側之至陰穴，以交於足少陰腎經也。故其變動，則有邪氣衝頭而痛等症。</p>
<h3>足太陽膀胱圖</h3>
<p><a href="_files/p06-d32a15.bmp">足太陽膀胱圖</a></p>
<p>膀胱重九兩二銖，縱廣九寸，居腎之下。大腸之側。小腸下口，乃膀胱上口，水液由是滲入焉。盛精溺九升九合。</p>
<p>《素問‧靈蘭秘典論》云：州都之官，津液藏焉，氣化則能出矣。《本藏》篇云：腎應骨。密理濃皮者，三焦膀胱濃；粗裡薄皮者，三焦膀胱薄。疏腠理者，三焦膀胱緩；皮急而無毛者，三焦膀胱急。毫毛美而粗者，三焦膀胱直：稀毫毛者，三焦膀胱結也。</p>
<h3>膀胱諸穴歌</h3>
<p>足太陽六十三，睛明攢竹，詣曲差五處之鄉；承光通天。見絡卻玉枕之行。天柱高兮大抒抵，風門開兮肺俞當，厥陰心膈之會，肝膽脾胃之藏。三焦腎兮大腸小腸，膀胱俞兮中膂白環，自從大杼至此，去脊中寸半之間。又有上次中下四　，在腰四空以和調，會陽居尻尾之旁，吾背二行始了。仍上二椎旁附分（二椎下兩旁去脊中三寸）三椎旁魄戶，膏育並四椎而過神堂，噫嘻兮膈關魂門陽綱，意舍兮胃倉育門志室胞育，背以秩邊而分，承扶浮　與委陽，殷門委中而合陽至承筋與承山到飛陽，與輔陽會昆侖仆參申脈，探金門京骨之場，由束骨而通谷，抵小指外至陰之間。</p>
<p>足太陽膀胱經，目內　角始睛明，眉頭陷中攢竹取，曲差發際上五分。五處發上一寸是，承光發上二寸半，通天絡卻玉枕穴，相去寸五調勻看。玉枕夾腦一寸三，入發二寸枕骨現，天柱項後發際中，大筋外廉陷中獻。自此夾脊開寸五，第一天柱二風門，三椎肺俞厥陰四，心俞五椎之下論，膈七肝九十膽俞，十一脾俞十二胃，十三三焦十四腎（魄戶對肺俞，神堂則對心俞，魂門對肝俞，意舍對脾俞，志室對腎俞。蓋以肺藏魄、心藏神、肝藏魂、脾藏意、腎藏志是謂五神藏也），大腸十六之下椎，小腸十八膀十九，中膂內俞二十椎，白環二十椎下當（白環俞即腰俞），以上諸穴可排之。</p>
<p>更有上次中下　，一二三四腰空好，會陽陰尾尻骨旁，背部二行諸穴了。又從脊上開三寸，第二椎下為附分，三椎魄戶四膏肓，第五椎下神堂尊，第六噫嘻隔關七，第九魂門陽綱十，十一意舍之穴存，十二胃倉穴已分，十三肓門端正存，十四志室不須論，十九胞盲二十秩邊，背部三行諸穴勻。又從臀下陰攻取，承扶居於陷中主，浮　扶下方六分，委陽扶下寸六數。殷門扶下寸長，　中外廉兩筋鄉，委中膝　約紋裡，此下三寸尋合陽，承筋腳裙上七寸，穴在　腸之中央，承山　下分肉間，外踝七寸上飛揚，輔陽外踝上三寸，昆侖外跟陷中央，仆參亦在踝骨下，申脈踝下五分張，金門申脈下一寸，京骨外側骨際量，束脈本節後陷中，通谷節前陷中計，至陰卻在小指側，以上諸穴屬膀胱（計六十三穴，左右一百二十六）。</p>
<p><a href="_files/p06-d32a16.bmp">足太陽膀胱經之圖</a></p>
<h3>腎足少陰之脈</h3>
<p>起於小趾之下，斜趨足心，出於然谷之下，循內踝後別入跟中，以上　內，出　內廉，上股內後廉，貫脊屬腎絡膀胱；其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本；其支者，從肺出絡心，注胸中。是動則病飢不欲食，面如漆柴，咳唾則有血，喝喝而喘，坐而欲起，目　如無所見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是為骨厥。</p>
<p>是主腎所生病者，口熱舌乾，咽腫上氣，嗌干及痛，煩心心痛，黃疽腸　，脊骨內後廉痛，痿厥嗜臥，足下熱而痛，為此諸病。（邪，斜同。跟，音根。　，音荒，強上聲）</p>
<p>此言腎經脈氣之行，乃為第八經也。趨，向也。跟，足根也。足少陰起足小趾之下，斜趨足之涌泉，轉出內踝前，起大骨下之然谷，下循內踝後之太谿，別入跟中之大鐘、照海、水泉；乃折自大鐘之外，上循內踝，行厥陰、太陰兩經之後，經本經復溜、交信穴，過脾經之三陰交，上　內，循築賓，出　內廉抵陰谷，上股內後廉，貫脊，會於督之長強，還出於前，循橫骨、大赫、氣穴、四滿、中注、肓俞，當肓俞之所、臍之左右屬腎，下臍過任脈之關元、中極而絡膀胱焉；其直行者，從肓俞屬腎處上行，循商曲、石關、陰都、通谷諸穴，貫肝，上循幽門上膈，歷步廊入肺中，循神封、靈墟、神藏，　中、俞府而上循喉嚨，並人迎，挾舌本而終。其支者，自神藏別出，繞心，注胸之膻中，以交於手厥陰心包絡經也。其動穴驗病，則有面如漆柴、骨瘦等症。</p>
<h3>足少陰腎經圖</h3>
<p><a href="_files/p06-d32a17.bmp">足少陰腎經圖</a></p>
<p>腎有兩枝，重一斤二兩，狀如石卵，附著於脊之十四椎下，各開一寸半。《素問‧靈蘭秘典論》云：腎者作強之官，伎巧出焉。《本藏》篇云：腎小則藏安難傷；腎大則善病腰痛，不可以俯仰，易傷以邪。腎高則苦臂膂痛，不可以俯仰；腎下則腰尻痛，不可以俯仰，為狐疝。腎堅則不病腰背痛；腎脆則苦病消癉易傷。腎端正則和利難傷；腎偏傾則苦腰尻痛也。黑色小理者腎小，粗理者腎大。高耳者腎高，耳後陷者腎下。耳堅者腎堅，耳薄不堅者腎脆。耳好前居無車者腎端正，耳偏高者腎偏傾也。</p>
<h3>腎經諸穴歌</h3>
<p>足少陰兮廿七，涌泉流於然谷，天溪太衝兮水泉緣，照海復溜兮交信續，從築賓兮上陰谷，掩橫骨兮大赫麓，氣穴四滿兮中注，肓俞上通乎商曲，守石關兮陰都，寧閉通谷兮幽門肅，步郎神封而靈墟存，神藏　中而　府足。</p>
<p>足掌心中是涌泉，然谷踝下一寸前（內踝前一寸），太谿踝後跟骨上，大鐘跟後踝中邊（足踝後踵中，大骨上兩筋門也）。水泉溪下一寸覓，照海踝下四寸真，復溜踝上前一寸，交信踝上二寸聯，二穴止隔筋前後，太陰之後少陰前（前旁骨是復溜，後旁骨是交信，二穴止隔一條筋）。築賓內踝上　分，陰谷膝下曲膝間，橫骨大赫並氣穴，四滿中注亦相連，各開中行止寸半，上下相去一寸便。上膈盲俞亦一寸，肓俞臍旁半寸邊，肓俞商曲石關來，陰都通谷幽門開，各開中行五分俠，六穴上下一寸裁。步郎神封靈墟存，神藏　中俞府尊，各開中行計二寸，上下寸六六穴同，俞府璇璣旁二寸，取之得法有成功。（馬玄台曰：陰都，中脘旁五分。通谷，上脘旁五分。幽門、巨闕，又按：下自橫骨、氣穴，四滿、中注，上下各去一寸。所謂橫骨在盲俞下五寸，有以也，但自橫骨至中注各開中行一寸半，肓俞、商曲、石關、陰都、通谷、幽門各開中行五分，自步郎、神封、靈墟、神藏、　中、俞府去中行各二寸。其屈曲有如此，《徐氏針灸書》皆以二行言誤矣。計二十七穴，左右等五十四穴）</p>
<p><a href="_files/p06-d32a18.bmp">足少陰腎經之圖</a></p>
<h3>心主手厥陰心包絡之脈</h3>
<p>起於胸中，出屬心包絡，下膈，歷絡三焦，其支者，循胸中出脅，下腋三寸，上抵腋，下循　內，行太陰、少陰之間，入肘中，下臂行兩筋之間，入掌中，循中指出其端；其支者，別掌中，循小指次指出其端。是動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中　大動，面赤目黃，喜笑不休。是主脈所生病者，煩心心痛，掌中熱，為此諸病。</p>
<p>此言心胞絡經脈氣之行，乃為第九經也。脅上際為腋。小指次指，即手小指之次指，乃無名指也，蓋自小指而逆數之故云然。手厥陰心包絡經之脈，起於胸中，出屬心下之包絡，受足少陰腎經之交也，由是下膈，歷絡於膻中、中脘及陰交之三焦（臍下一寸為陰交）；其支者，自屬心包，上循胸出脅，下腋三寸天池穴，上行抵腋下，上循　內之天泉，以界手太陰肺經、手少陰心經兩經之中間，入肘中之曲澤穴，又由肘中下臂，行臂兩筋之間，循　門、間使、內關、大陵入掌中勞宮，循中指出其端中衝；其支別者，從掌中循無名指，出其端，而交於手少陽三焦經也。故其變動則有掌熱等症。</p>
<h3>手厥陰心包絡圖</h3>
<p><a href="_files/p06-d32a19.bmp">手厥陰心包絡圖</a></p>
<p>心包絡，在心下橫膜之上、豎膜之下，與橫膜相黏而黃脂裹者，心也。其脂膜之外有細筋膜如絲，與心肺相連者，心包也。此經本有名有形，其經絡起於腋下之天地，而止於中指之中衝。其藏在心之下，有黃脂裹心者是也。其脈在右手尺中，後世不知有此經者非。</p>
<p>《靈樞‧本輸》篇云：心出於中衝云云。《邪客》篇：心主之脈出於中指之端云云。又云：手少陰之脈，獨無輸何也？岐伯曰：少陰，心脈也。心者，五藏六府之大主也，精神之所舍也。其藏堅，固邪弗能客也。</p>
<p>客之則心傷，心傷則神去，神去則死矣。故諸邪之在於心者，皆在於心之包絡。包絡者，心主之脈也，故獨無輸焉。黃帝曰：少陰獨無輸者，不病乎？岐伯曰：其外經病而藏不病，故獨取其經於掌後銳骨之端。其余出入屈折，其行之疾徐，皆如手少陰心主之脈行也。故本輸者，皆固其氣之虛實疾徐以取之。</p>
<h3>心包絡經諸穴歌</h3>
<p>手厥陰心包之絡，計有九穴之奇，自天池天泉而始，逐曲澤　門而馳，間使通乎內關，大陵近於勞宮，即由掌握，乃抵中衝。</p>
<p>心絡起自天池間，乳後一寸腋下三（腋下三寸，乳後一寸），天泉曲腋下三寸，曲澤屈肘陷中央，　門去腕方五寸（掌後去腕五寸），間使腕後三寸量，內關去腕止二寸，大陵掌後兩筋間，勞宮屈中名指取（屈中指無名指取之），中指之末中衝詳。</p>
<p><a href="_files/p06-d32a20.bmp">手厥陰心包絡之圖</a></p>
<h3>三焦手少陽之脈</h3>
<p>起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循　外上肩，而交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦；其支者，從膻中上出缺盆，上項，系耳後直上，出耳上角，以屈下頰至　；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳　。是動則病耳聾，渾渾　，嗌腫喉痹。是主氣所生病者，汗出，目銳　痛，頰腫，耳後肩　肘臂外廉痛，小指次指不用，為此諸病。（　，音屯）</p>
<p>此言三焦經脈之行，乃為第十經也。臂骨盡處為腕，　盡處為肘，膊下對腋處為　，目下為　。手少陽起小指次指之端關衝穴（即第一指也），上出，歷液門，中渚，四指之間，循手表腕之陽池，出臂外兩骨之間至天井穴，從天井上行，循臂　之外，歷清冷淵、消鑠，行手太陽之裡、手陽明之外，上肩，循臂會肩　、天　，交出足少陽之後，過秉風、肩井，下入缺盆，復由足陽明之外，而交會於膻中之上焦，散布絡繞於心包絡，乃下膈，入絡膀胱，以約下焦，附右腎而生；其支行者，從膻中，而上出缺盆之外，上項，過大椎，循大牖，上耳後，經翳風、螈脈、顱息，直上出耳上角，至角孫，過懸厘、頷厭，及過陽白、睛明，屈曲耳頰至　，會顴　之分；其又支者，從耳後翳風穴入耳中，過聽宮，歷耳門、禾　，卻出至目銳　，會瞳子　，循絲竹空，而交於足少陽膽經也。隨其經之所在，而虛實變動，乃見耳聾渾渾等症也。</p>
<h3>手少陽三焦圖</h3>
<p><a href="_files/p06-d32a21.bmp">手少陽三焦圖</a></p>
<p>此經本有名有形，其經絡起於手第四指之關衝穴，而止於面部之耳後絲竹空，其府附乎右腎。後世以為無狀有名者，非其倚始於秦越人，而成於王叔和也。其脈見於右手尺部，厥陰、心包絡為表裡。</p>
<p>《素問》曰：三焦者，決瀆之官，水道出焉。</p>
<p>《本藏》篇云：腎應骨。密理濃皮者，三焦、膀胱濃；粗理薄皮者，三焦、膀胱薄。疏腠理者，三焦、膀胱緩；皮急面無毫毛者，三焦、膀胱急。毫毛美而粗者，三焦、膀胱直；稀毫毛者，三焦、膀胱結也。</p>
<h3>附三焦諸穴歌</h3>
<p>手少陽三焦之脈，二十三穴之中，關衝連開液門，中渚陽池外關，支溝會宗三陽絡，四瀆天井清冷淵，消濼　會肩相聯，天　外天牖之下，翳風讓螈脈居先，顱囟定而角孫近耳，絲竹空而禾　倒懸，耳門既辟夏納聞焉。</p>
<p>無名之外端關衝，液門小次指陷中，中渚腋下去一寸，陽池腕上之陷中。外關腕後方二寸，腕後三寸開支溝（臂外三寸兩骨間），腕後三寸內會宗，空中有穴細心求。腕後四寸三陽絡，四瀆肘前五寸著，天井肘外大骨後，骨罅中間一寸摸。肘後二寸清冷淵，消爍　節腋臂下看。　會肩前三寸中（肩前廉，去肩頭三寸宛宛中），肩　上陷中央，天牖天容之後存（天牖，頸大筋外，缺盆上，天容後，天柱前，完骨下，發際上），翳風耳後尖角陷（耳後尖角陷中，按之引耳中）。螈脈耳後青脈現，顱囟亦在青絡脈，角孫耳廓中間上，耳門耳前起肉中（耳前起肉，當耳缺陷中），禾　耳前動脈張，欲絲竹空何在？眉後陷中仔細量。（馬玄台曰：周身之穴，頭部最難，徐氏以行分之談矣。計共二十三穴，左右共四十六穴）</p>
<p><a href="_files/p06-d32a22.bmp">手少陽三焦經之圖</a></p>
<h3>膽足少陽之脈</h3>
<p>起於目銳　，上抵頭角，下耳後，循頸行手少陽之前，至肩上，卻交出手少陽之後，入缺盆；其支者，從耳後入耳中，出走耳前，至目銳　後；其支者，別銳　，下大迎，合手少陽，抵於　，下加頰車，下頸合缺盆；以下胸中，貫膈絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中；其直者，從缺盆下腋，從胸過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小趾次趾之間；其支者，別跗上，入大趾之間，循大趾岐骨內出其端，還貫爪甲，出三毛。是動則病口苦，善太息，心脅痛不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭痛頷痛，目銳　痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒，瘧，胸、脅肋、髀、膝外至脛絕骨外踝前及諸節皆痛，小趾次趾不用，為此諸病。</p>
<p>此言膽經脈氣之行，乃為第十一經也。腋下為脅，脅又名　。曲骨之外為毛際，毛際兩旁動脈為氣衝，捷骨之下為髀厭，即髀樞也。脅骨之下為季脅（屬肝經，穴名章門），　骨為輔骨，外踝以上為絕骨，足面為附，足大趾本節後為歧骨，大趾爪甲後為三毛。足少陽膽經，起目銳　之瞳子　，由聽會、客主人上抵頭角，循頷厭，下懸顱、懸厘，由懸厘外循耳，上發際，至曲賓、率谷外折，下耳後，循天衝、浮白、竅陰、完骨。又自完骨外折，循本神，過曲差，下至陽白，會睛明，復從睛明上行，循臨泣、目窗、正營、承靈、腦空、風池，至頸過天牖，行手少陽之脈前，下至肩，上循肩井，卻左右交出手少陽之後，從耳後顳　間過翳風之分，入耳中，過聽宮，復自銳　瞳子　之分其支者，別自目外瞳子　而下大迎，合手少陽於　，當顴　之分，下臨頰車，下車下頸，循本經之前，與前之入缺盆者相合，下胸中天池之外，貫膈，即期門之所絡肝，下至日月之分，屬於膽也，自屬膽處，循脅內章門之裡至氣衝，繞毛際，遂橫入髀厭中之環跳穴；其直行者，從缺盆下腋，循胸，歷淵液、輒筋、日月，過季脅，循京門、帶脈、五樞、維道、居　，入上、中　、長強而下，與前之入髀厭者相合，乃下循髀外，行太陽、陽明之間，歷中瀆、陽關、出膝外廉，抵陽陵泉，又自陽陵泉下行於輔骨前，歷陽交、外丘、光明，直下抵絕骨之端，循陽輔、懸鐘而下，出外踝之前，至丘墟，循足面之臨泣、五會、俠谿，乃上入於小趾次趾之端，至竅陰而終；其支別者，自足跗面臨泣，別行入大趾，循岐骨內，出大趾端，還貫入爪甲，出三毛，以交於足厥陰肝也。及其動穴驗病，則為口苦者，以膽汁苦也，善太息者，膽氣不舒也，為脅痛等症者，隨其經而現也。</p>
<h3>足少陽膽經圖</h3>
<p><a href="_files/p06-d32a23.bmp">足少陽膽經圖</a></p>
<p>膽重三兩三銖，長三寸，在肝之短葉間，盛精汁三合。《素問》曰：膽者，中正之官，決斷出焉。</p>
<p>《本藏》篇曰：肝應爪，爪濃色黃者膽濃，爪薄色紅者膽薄，爪堅色青者膽急，爪濡色赤者膽緩，爪直色自無約者膽直，爪惡色黑多紋者膽結也。</p>
<h3>膽經諸穴歌</h3>
<p>足少陽兮四十三，瞳子　近聽會間，客主人在頷厭集，懸顱懸厘曲鬢前，由率谷天沖而下，見浮白竅陰之妍，完骨露兮本神陽白，臨泣見兮目窗與連，正營承居其後，腦空穴繼靈而安，風池肩井兮淵液，輒筋日月兮京門，辟帶脈五樞由維道居　而續，環跳風市抵中瀆，飲陽關之陽陵泉，至陽交之外丘間，光明陽輔懸鐘可瞻，丘墟臨泣地五會，俠谿竅陰而膽經全。</p>
<p>足少陽兮四十三，頭上廿穴分三折，起自瞳子至風池，積數陳之依次第，瞳子　近　五分，耳前陷中尋聽會（耳微前陷中，上關下一寸）。客主人名上關同，耳前起骨開口空，頷厭懸顱之二穴，腦空上廉曲角下（腦空即　頷厭、懸顱二穴，在曲角之下，腦空之上），懸厘之穴異於茲，腦空下廉曲角上，曲鬢耳上發際隅（耳上發際曲隅陷中），率谷耳上寸半安（此穴在耳上些），天沖耳後入發二（耳後入發際二寸），浮白入發一寸間（亦耳後些），竅陰即是枕骨穴，完骨之上有空連（在完骨上，枕骨下，動搖有空）。完骨耳後入發際，量得四分須用記，本神神庭旁三寸，入發一寸耳上系。陽白眉上方一寸，發上五分臨泣用（目上，直入發際五分陷中），發上一寸當陽穴，發上寸半目窗貢，正營發上二寸半，承靈發上四寸擁，腦空發上五寸半，風池耳後發陷中（耳後，　後，腦空下，發際陷中）。</p>
<p>（至此計二十穴，分作三折向外而行，始自瞳子　至完骨是一折；又是完骨外折，上至陽白會睛明是一折；又是睛明上行循臨泣、風池是一折。緣其穴曲外多，難以科牽，故此作至二十次第言之。）歌曰：一瞳子　二聽會，三主人兮頷厭四，五懸顱兮六懸厘，第七數兮曲鬢隨。八率谷兮九天沖，十浮白兮之穴從，十一竅陰亦相繼，十二完骨一折終。</p>
<p>又自十三本神始，十四陽白二折隨，十五臨泣目下穴，十六目窗之穴宜，十七正營十八靈，十九腦戶廿風池，依次細心量取之，膽經頭上穴吾知。肩井肩上陷中求，大骨之前一寸半（肩上陷中，缺盆上，大骨前一寸半，以三指按取，當中指陷中），淵腋腋下方三寸，輒筋期下五分判。期門卻是開經穴，相去巨闕四寸半，日月期門下五分，京門監骨下腰絆（監骨下，腰中季脅本夾脊，腎之募）。帶脈章門下十八，五樞章下四八貫（五樞，去帶脈三寸，季脅下四寸八分），維道章下五寸三，居　章下八寸三。章門緣是肝經穴，下脘之旁九寸含，環跳髀樞宛宛中（髀樞中，側臥，屈上足，伸下足，以右手摸穴，左搖撼取之），屈上伸下取穴同。風市垂手中指盡，膝上五寸中瀆論（髀外，膝上五寸，肉間陷中），陽關陽陵上三寸，陽陵膝下一寸從。陽交外輔上七寸，踝上六寸外丘用，踝上五寸光明穴，踝上四寸陽輔分，踝上三寸懸鐘在，丘墟踝前之陷中。此去俠谿四寸五，卻是膽經原穴功，臨泣俠谿後寸半，地五會去溪一寸，俠谿在指歧骨問，竅陰四五二指端。（足少陽之穴，在頭者最難；覓若不知　慎禍不旋踵。計四十三穴，左右共八十六穴）</p>
<p><a href="_files/p06-d32a24.bmp">足少陽膽經之圖</a></p>
<h3>肝足厥陰之脈</h3>
<p>起於大趾叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上　內廉，循股陰入毛中，過陰器，抵小腹，挾胃屬肝絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔；其支者，從目系下頰裡，環唇內；其支者，復從肝別貫膈，上注肺。是動則病腰痛不可以俯仰，丈夫　疝，婦人少腹腫，甚則嗌干，面塵脫色。是肝所生病者，胸滿嘔逆飧泄，狐疝遺溺閉癃，為此諸病。</p>
<p>此言肝經脈氣之行，乃為第十二經也。三毛後橫紋為聚毛，髀內為股，臍下為小腹，目內深處為系。頏顙，咽顙也。</p>
<p>足厥陰起於大趾聚毛之大敦，循足跗上廉，歷行間、太衝，抵內踝前一寸之中封，自中封上踝，過三陰交，歷蠡溝、中都，復上一寸，交出太陰之後，上　內廉，至膝關、曲泉，循股內之陰包、五裡、陰廉，遂當衝門、府舍之分，入陰毛中，左右相交，環繞陰器，抵小腹，而上會曲骨、中極、關元，復循章門，至期門之所挾胃屬肝，下日月之分絡於膽也，又自期門上貫膈，行食竇之外。大包之裡，散布脅肋。上云門、淵腋之間，人迎之外，循喉嚨之後，上入頏顙，行大迎、地倉、四白、陽白之外，連目系，上出額，行臨泣之裡，與督脈相會於巔頂之百會；其支行者，從目系，下行任脈之外、本經之裡，下頰裡，交環於唇口之內；其又支者，從期門屬肝處，別貫膈，行食竇之外、本經之裡，上注肺，下行至中焦，挾中脘之分，以交於手太陰肺經也。及其動穴驗病者，有　疝等症，隨其經而見也，肝與腎通，故多腰痛。</p>
<h3>足厥陰肝經圖</h3>
<p><a href="_files/p06-d32a25.bmp">足厥陰肝經圖</a></p>
<p>肝重四斤四兩，左三葉，右四葉，共七葉，附著於脊之第九椎下。《素問‧刺禁論》云：肝居下左。後世以為其藏在右，其脈在左者非。肝者，將軍之官，謀慮出焉。</p>
<p>《本藏》篇曰：肝小則藏安，無脅下之病；肝大則逼胃迫咽，迫咽則苦膈中，且膈下痛。肝高則上支賁，切脅　，為息賁；肝下則逼胃，脅下空，脅下空則易受邪。肝堅則藏安難傷；肝脆則善病消癉易傷。肝端正則和利難傷；肝偏傾則脅下痛也。青色小理者肝小，粗理者肝大。廣胸反　者肝高，合脅兔　者肝下。胸脅好者肝堅，脅骨弱者肝脆。膺腹好相得者肝端正，脅骨偏舉者肝偏傾也。</p>
<h3>附肝經諸穴歌</h3>
<p>足厥陰一十三穴終，起大敦於行間循大衝，於中封蠡溝中都之會，膝關曲泉之宮，襲陰包於五裡，陰廉乃發尋羊矢，於章門期門可攻。</p>
<p>足大趾端名大敦（內側為隱白，外側為大敦），行間大指縫中存，太衝本節後二寸，踝前一寸號中封（足內踝骨前一寸，筋裡宛宛中），蠡溝踝上五寸是（內踝骨前上五寸）中都踝上七寸中（內踝上七寸前骨中），膝關犢鼻下二寸，曲泉曲膝盡橫紋。陰包膝上方四寸（股內廉兩筋間，蜷足取之，看膝內側必有槽中），氣衝三寸下五裡（氣衝下三寸，陰股中動脈應手），陰廉衝下有二寸，羊矢衝下一寸許，氣衝卻是胃經穴，鼠鼷之上一寸主，鼠鼷橫骨端盡處，相去中行四寸止，章門下脘旁九寸，肘尖盡處側臥取，期門又在巨闕旁，四寸五分無差矣（巨闕，任脈穴，臍上六寸五分，計十三穴，左右共二十六穴）。</p>
<p><a href="_files/p06-d32a26.bmp">足厥陰肝經之圖</a></p>
<h3>督脈諸穴歌</h3>
<p>督脈在背之中行，一十七穴始長強，舞腰俞兮歌陽關，入命門兮懸樞間，脊中筋束乃造至陽。靈台上神道身柱，陶道以大椎而駐，啞門風府兮腦戶強間，後頂百會兮前頂在前。囟會近上星之照，神庭見素　之妙，水溝至兌端而無差，齦交居唇內而病療。</p>
<p>督脈齦交唇內鄉，兌端正在唇端夾，水溝鼻下溝中素，素　宜向鼻端詳，頭形北高面南下，先以前後發際量，分為一尺有二寸，發上五分神庭當，發上一寸上星位，發上二寸囟會良，發上前頂三寸半，發上百會五寸央（在頂中央旋毛中，可容豆，兩耳尖。性理北溪陳氏曰：略近些子猶天之極星，居北）。會後寸半即後頂，會後三寸強間明，會後腦戶四寸半，後發入寸風府行（項後發際入一寸，大筋內宛宛中），發上五分啞門在（後發際上五分，項中央宛宛中，仰頭取之，入系舌本），神庭至此十穴真。自此項骨下脊　，分為二十有四椎，大椎上有項骨在，約有三椎莫算之，尾有長強亦不算，中間廿一可排椎，大椎大骨為第一，二椎節內陶道知，第三椎間身柱在，第五神道不須疑，第六靈台至陽七，第九身內筋縮思，十一脊中之穴在，十二懸樞之穴奇，十四命門腎俞並，十六陽關自可知，二十一椎即腰俞，脊尾骨端長強隨。（共二十七穴）</p>
<p><a href="_files/p06-d32a27.bmp">督脈之圖</a></p>
<p><u>本篇此處無督脈任脈之說，止下文有督脈任脈之別蓋指絡穴言也。今附二圖於此，則十四經始全。</u></p>
<h3>任脈諸穴歌</h3>
<p>任脈一十四穴行腹與胸，會陰始分曲骨從，中極關元石門可通，氣海陰交神闕水分，下脘建裡兮中脘上脘，巨闕鳩尾兮中庭膻中，玉堂上紫宮華蓋，璇璣上天突之尊，飲彼廉泉，承漿味融。</p>
<p>任脈會陰兩陰間，曲骨毛際陷中安，中極臍下四寸取，關元臍下三寸連，臍下二寸名石門，臍下寸半氣海全，臍下一寸陰交穴，臍之中央即神闕，臍上一寸為水分，臍上二寸下脘列。臍上三寸名建裡，臍上四寸中脘許，臍上五寸上脘在，巨闕臍上六寸五，鳩尾蔽骨下五分，中庭膻下寸六取，膻中卻在兩乳間，膻上寸六玉堂主，膻上紫宮三寸二，膻上華蓋四八舉（四寸八分），膻上璇璣五寸八，璣上一寸天突起，天突喉下約四寸，廉泉頷下骨尖已，承漿頤前唇棱下，任脈中央行腹裡（行腹中央共二十四穴）。</p>
<p><a href="_files/p06-d32a28.bmp">任脈之圖</a></p>
<h2>營衛</h2>
<p>黃帝問於岐伯曰：人焉受氣？陰陽焉會？何氣為營？何氣為衛？營安從生？衛於焉會？老壯不同氣，陰陽異位，愿聞其說。岐伯曰：人受氣於穀，穀入於胃，以傳於五臟六腑，五臟六腑皆受其氣。其清者為營，濁者為衛，營居脈中，衛居脈外，營周不休，五十而復大會，陰陽相貫，如環無端。</p>
<p>此詳營衛之生會也。始焉穀入於胃，而後能生精微之氣，此氣出於中焦，以傳於肺，而肺傳於五臟六腑，則五臟六腑皆得以受此精微之氣矣。其大氣積於胸中者，為上焦，所謂宗氣流於海者是也（上焦即任脈經膻中穴，又名上氣海）；臍上四寸曰中脘穴，為中焦；臍下一寸曰陰交穴，為下焦。此三焦者，上焦降於中焦，而中焦降之下焦，下焦升於中焦，而中焦升之上焦，猶天道下濟，地道上行之象也。上焦為陽，中焦則上半為陽，下半為陰，下焦則為陰。然中焦之下半為陰者，由上節之氣降於中焦，而中焦之氣隨上焦之氣，以降於下焦，而生此營氣。營氣者，陰氣也。故曰：清者為營，言由上、中二焦之清氣，降而生之者也。下焦之為陰者，陰極生陽，升於中焦，隨中焦上半為陽者，以升於上焦，而生此衛氣者，陽氣也。始於陽氣甚微，而至此陽氣甚盛，故曰：陽受氣於上焦。然此衛氣者，乃下焦之濁氣升而生之，故曰：濁者為衛。宗氣積於胸中，出喉嚨以司呼吸，而行十二徑遂中。營則陰性精專，隨宗氣以行經遂之中，所以營之行者，在於經脈之中也。衛則陽性　悍滑利，不能入於經脈之隧，故不隨宗氣而行，而自行於各經皮膚、分肉之間，所以衛之行者，在於經脈之外也。營氣之隨宗氣而行者，一呼脈行三寸，一吸脈行三寸，呼吸定息，則脈行六寸，一日一夜，一萬三千五百息，脈行五十度周於身。漏水下百刻，營衛行陽二十五度，行陰亦二十五度，故五十度復會手太陰也。</p>
<p>黃帝曰：余聞上焦如霧，中焦如漚，下焦如瀆，此之謂也。</p>
<p>宗氣積於上焦，出喉嚨以司呼吸，而行十二經遂之中，彌倫布KT　，如天之有霧也。營氣並胃中，出上焦之下，泌別糟粕，蒸為精微之氣，而心中之血，賴之以生，凝聚浮沉，如水之有漚也。胃納水穀，脾實化之，糟粕入於大腸，水液滲入膀胱，故三焦為決瀆之官，膀胱為州都之官，正以下焦如瀆之滲泄乎水也。然下焦之陰中有陽者，從是升中、上二焦，而衛氣生矣。（嗟呼！此篇清者為營，濁者為衛，營行脈中，衛行脈外，一十六字，乃聖神之宗旨，猶堯舜相傳，道統不外，人心惟危云云，一十六字也。人之病否生死，從是而決，升降表裡，陰陽補瀉，從是而分。其禍始於越人《難經‧第一難》，將此第四節與營俱行之「營」字下，增一「衛」字，致使「三焦並降、三氣所生」之義不明，於世而用藥多謬，安能有起死回生之功耶？噫！自仲景而下，如孫、王、劉、張、李、朱輩，尚未有識此義者，況其他乎？）</p>
<p><a href="_files/p06-d32a29.bmp">正人臟圖</a></p>
<p><u>闌門，謂大小二腸會處也。自此泌別滲入於膀胱中，乃為溺。</u></p>
<p><u>分水，謂水穀承受於闌門。水則滲灌於膀胱而為溺。便穀之澤穢則自闌門而傳送大腸之中也。</u></p>
<p><a href="_files/p06-d32a30.bmp">伏人臟圖</a></p>
<p><u>肛門者，言其處似車　之形，因以為名。直腸、肛腸、洞腸，皆即此也。主受大腸之穀而道出焉。</u></p>
<p><u>其系上貫於心，下通於腎，心腎水火相感而精氣溢泄，乃化血收精之系也。</u></p>
<p><u>肛腸，又名廣腸，即肛門也。一名鬼門，大便出處。</u></p>
<h3>精氣津液血脈</h3>
<p>素問曰：兩神相搏，合而成形，常先身生，是謂精。上焦開發，宣五穀味，薰膚充身，若霧露之溉，是謂氣。腠理發泄，汗出溱溱，是謂津。穀入氣滿，淖澤注於骨，骨屬屈伸，泄澤，補益腦髓，皮膚潤澤，是謂液。中焦受氣取汁，變化而赤，是謂血。壅遏營氣，令無所避，是謂脈。精脫者，耳聾；氣脫者，目不明，津脫者，腠理開，汗大泄，液脫者，骨屬屈伸不利，色夭，腦髓消，脛消，耳數鳴；血脫者，色白，夭然不澤，其脈空虛。</p>
<h3>五傷</h3>
<p>怵惕思慮則傷神，神傷則恐懼，流淫而不止。悲哀動中者，竭絕而失生。喜樂者，神憚散而不藏。愁憂者，氣閉塞而不行。盛怒者，迷惑而不治。恐懼者，神蕩憚而本收。</p>
<p>心怵惕思慮則傷神，神傷則恐懼自失，破　脫肉，毛悴色夭，死於冬。</p>
<p>脾優而不解則傷意，意傷則　亂，四肢不舉，毛悴色夭，死於春。</p>
<p>肝悲哀動中則傷魂，魂傷則狂忘不精，不精則不正，當令人筋縮而攣筋，兩脅骨不舉，毛悴色夭，死於秋。</p>
<p>肺喜樂無極則傷魄，魄傷則狂，狂者意不存人，皮革焦，毛悴色夭，死於夏。</p>
<p>腎盛怒而不止則傷志，志傷則喜忘，腰脊不可以俯仰屈伸，毛悴色夭，死於季夏。</p>
<p>恐懼而不解，則傷精，精傷則骨酸痿厥，精時自下。是故五臟主藏精者也，不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。</p>
<h3>腋</h3>
<p>腋，謂臂下，脅上際，屬手厥陰心包絡經，又屬足厥陰肝經。腋前屬手太陰肺，腋後屬手少陰心，腋下屬足厥陰肝，下六寸屬足太陰脾之大絡。</p>
<h3>耳</h3>
<p>屬足少陰腎經（《難經》曰：腎氣通於耳）。耳前屬手足少陽三焦、膽、足陽明胃經之會；耳後屬手足少陽三焦、膽經之會。耳下曲頰屬足少陽膽、陽明大腸經之會；曲頰前屬足少陽膽、陽明大腸經之會；前寸許屬手陽明大腸經；曲頰後屬足少陽膽經。</p>
<h3>鼻</h3>
<p>中，屬足陽明胃經、督脈之會。鼻，屬手大陰肺經（《素問》：西方白色，入通於肺，開竅於鼻），又屬手足陽明、督脈之會（《素問》曰：傷寒二曰，陽明受之，陽明主肉，其脈夾鼻）。故鼻干不得臥（俠鼻孔兩旁五分，名迎香穴屬手、足陽明之會）。</p>
<h3>口</h3>
<p>口者，脾之所主，胃大腸脈之所俠。經曰：中央黃色，入通於脾，開竅於口。又曰：脾氣通於口，脾和則知五味矣。</p>
<h3>齒</h3>
<p>齒，統屬足少陰腎經（《素問》曰：丈夫五八腎氣衰，發墮齒槁）。齒分上、下斷（齒根肉也），上齦屬足陽明胃經（《素問》曰：邪客足陽明之經，令人鼽衄，上齒寒。《針經》曰：上　痛，喜寒而惡熱，取足陽明之原，衝陽穴）；下　屬手陽明大腸經（張潔古曰；秦艽去下牙痛，及除木經風濕。《針經》曰：下　痛，喜熱而惡寒，取手陽朋之原，合谷穴）。</p>
<h3>唇</h3>
<p>唇，屬足太陰脾經（《素問》曰：脾者倉廩之本，營之居也，其華在唇。《靈樞》曰：脾者主為胃，使之迎糧，視唇舌奸惡以知吉凶。故唇上下好者神端正，唇偏舉者脾偏傾。揭唇者脾高，唇下縱者脾下。唇堅者脾堅，唇大而不堅者脾脆。脾病者唇黃，脾絕者四面腫。又曰：唇者，肌肉之本也，脈不營則肌肉不滑澤，不滑澤則肉滿，肉滿則唇反，唇反者肉先死，甲曰篤，乙曰死），又屬足陽明胃（《靈樞》曰：足陽明所生病者，口　唇胗。胗，古疹字，唇瘍也），又屬手少陰經（《玄珠》曰：上下唇皆赤者，心熱也，上唇赤、下唇白，腎虛而心火不降也）。</p>
<p>又屬手太陰肺（錢仲陽曰：肺主唇。唇白而澤者吉，白如枯骨者死。唇白當補脾，肺蓋脾者，肺之母也）。</p>
<p>俠口，統屬衝任二脈（《靈樞》曰：二脈皆起胞中，上循背裡，為經絡之海；其浮而外者，循腹右上行，會於咽喉而絡口唇。故氣血盛則生須）。上唇俠口，屬手陽明大腸經；下唇俠口，屬足陽明胃。</p>
<h3>舌</h3>
<p>舌，屬手少陰心經（《內經》曰：心氣通於舌，心和則知五味矣），又屬足太陰脾經（張雞峰曰：脾主四肢，其脈連舌本而絡於唇），又屬足少陰腎經（《靈樞》曰；足少陰正直者，系舌本。《玄珠》曰：舌之下竅，廉泉穴也，腎之津液所潮），又屬足厥陰肝經（《靈樞》曰：肝者筋之合也，筋者聚於陰器，而絡於舌本）。舌主五味，以榮養於身，資於脾，以分津液於五臟。故心之本脈，系於舌根；脾之本脈，系於舌旁；肝脈循陰器，絡舌本。</p>
<h3>頰腮</h3>
<p>（俗呼顴骨），屬手足三焦、膽、手太陽小腸經之會，又屬手少陰心經（《靈樞》曰：心病者顴赤），又屬足少陰腎（《靈樞》曰：腎病者，顴與顏黑）。</p>
<p>頰（面旁也），屬手足少陽三焦、膽、手太陽小腸、足陽明胃經之會。</p>
<h3>咽喉</h3>
<p>三錫曰：咽以咽物，即食脘也。喉以候氣，即氣脘也。會厭者，音聲之戶也。懸壅者，音聲之關也。咽與喉，會厭與舌，此四者同在一門，而其用各異。喉以候氣，故喉氣通於天。咽以納食，故咽氣通於地。會厭管乎其上，以司開闔，掩其厭則食下，不掩則錯，在喉之前，必舌抵上　，則會厭能閉其喉矣。四者交相為用，闕一則飲食廢而死矣。</p>
<p>屬手太陽小腸、少陰心、足太陰脾、足厥陰肝經之會（《素問》曰：咽主地氣，地氣通於嗌，太陰脈布胃中，絡於隘，故腹滿而嗌干），又屬足少陰腎（《素問》曰：邪客於足少陰之絡，令人咽痛，不可內食），又屬足陽明胃經（《靈樞》曰：陽明之脈上通於心，上循咽出於口），又屬足厥陰肝、少陽膽（《素問》曰，肝者中之將也。取決於膽，咽為之使。《靈樞》曰：足少陽之正，上俠咽，出頤頷）。俠咽，屬手少陰心、足太陰脾之會。</p>
<p>喉在咽之後，屬手太陰肺、足陽明胃、少陰腎、厥陰肝經、任脈之會（《靈樞》曰：手太陰肺，正出缺盆，循喉嚨。《素問》曰：喉主天氣，天氣通於肺，即肺系也），又屬手少陰心、少陽三焦經（《靈樞》曰：少陰正，上走喉嚨，出於面。《素問》曰：心咳之壯，咳則咽痛。越人曰：三焦之氣通於喉，喉嚨之聲則發矣），又屬手足陽明大腸、胃、手少陽三焦經之合（手陽明之正，上循喉嚨，出缺盆），又屬足太陰脾（《千金》曰：喉嚨者，脾胃之候也）。喉嚨後，屬足厥陰肝、心包絡。結喉兩旁，應手太陰動脈，屬足陽明胃。</p>
<h3>四肢</h3>
<p>陽主四肢。經曰：四肢者，諸陽之本也。又曰：結陽者腫四肢。又曰：四肢稟氣於胃，而不得至經，必因於脾，乃得稟也。脾虛則四肢不用。又曰，四肢懈惰，此脾精之不行也。</p>
<h3>筋</h3>
<p>肝主筋，而各經俱有，大抵隨其脈之所在而連屬也。詳具《靈樞‧經筋》篇。</p>
<h3>骨</h3>
<p>腎主骨，在體為骨，在贓為腎。又曰：腎之合，骨也；其榮，發也。又曰：少陰者冬脈也，伏行而溫於骨髓。骨病忌食苦甘，久立。經曰：多食甘，則骨痛而發落。又曰：苦走骨。骨病無多食苦。又曰：久立傷骨，骨病不屈。</p>
<p>經曰：手屈而不能伸者，病在筋；伸而不能屈者，病在骨。</p>
<h3>肉</h3>
<p>脾主肉。經曰：脾主肉，在體為肉，在臟為脾。又曰：邪在脾胃，則肌肉痛是也。肉之小為會為溪（謂肉少處也），肉之大會為穀（即多肉處也），分肉之間、溪穀之會，以行榮衛，以會大氣。濕傷肉，甘傷肉。又曰：甘走肉。肉病無多食甘。久坐傷肉。</p>
<h3>皮</h3>
<p>皮膚屬肺。經曰：肺之合皮也，其榮毛也。毛折爪枯，為肺絕。經曰：太陰者，行氣溫於皮毛者也。氣不榮則毛焦，皮毛焦則津液去，津液既去，則爪枯毛折，皮膚痛，屬心實。經曰：夏脈太過則病身熱膚痛（心火克肺也），皮膚索澤（素：盡也，精血枯涸，故皮膚潤澤之氣皆盡也，即仲景皮膚甲錯　乃干澀而不滑澤之謂）。</p>
<h3>髭發</h3>
<p>《內經》曰：腎之合骨也，其榮發也。多食甘，則骨痛而發落（甘益脾，脾克水，腎病也）。女子七歲腎氣實，齒更發長，五七陽明脈衰，面始焦，發始墮。丈夫八歲腎氣實，齒更發長，五八腎氣衰，發墮齒槁。</p>
<p>《巢氏病源》曰：足少陽膽之經，其榮在須。足少陰腎之脈，其華在發。衝任二脈為十二經之海，其別絡上唇口。</p>
<p>若血盛則榮於頭發，故須發美；若血氣衰弱，經脈虛竭，不能榮潤，則發須脫落。《內經》：衝任脈別絡唇口。婦人數脫血（月月行經，故曰數脫血），衝任之脈不營於口唇，故須不生焉。宦者去其宗筋，傷其衝脈，血瀉不復，皮膚內結，唇口不榮，故須不生。有人未嘗有所傷，不脫於血，其須不生何也？此天之所不足也。衝任不盛，宗筋不成，有氣無血，唇口不榮，故須不生。髭須不黑，而皆黃赤，多熱多氣；白者，少血少氣；美眉者，太陽多血，通髯極須者，少陰多血；美須者，陽明多血。</p>
<p><a href="_files/p06-d32a31.bmp">取膏盲穴法圖像此即鉤股圖法</a></p>
<p><a href="_files/p06-d32a32.bmp">崔氏四花穴法圖像</a></p>
