<header data-type="book">
<h1>脈訣指掌病式圖說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
</dl>
</header>
<h2>題丹溪重脩脈訣。</h2>
<p>莊子曰，生非吾有也，乃天地之委和，性非吾有也，乃天地之委順，黃帝曰，人之生也，懸命於天，受氣於地，氣以成形，理亦賦焉，劉子曰，民受天地之中以生，故肖天地之形，天之陽在南，而陰在北，故清陽之，七竅皆見於面，濁陰之二竅皆出於下，地之陽在北，而陰在南，故三陽之脈，皆聚於背，三陰之脈聚於胸腹，況乎脈者，天地之元性，男子之寸脈盛而尺脈弱者，肖乎天也，女子之尺脈盛，而寸脈弱者，肖乎地也，秦越人乃以男子生於寅，女子生於申，三陽從天生，三陰從地長，謬之甚矣。遂令百犬吠聲流至於今，千有餘年，莫有能正其謬者，獨先生以神明之資，洞燭物理，乃推本律法混合天人而著論闢之，使千載之誤一旦昭明，豈不韙哉。</p>
<p>歲在戊申門生龍丘葉英題。</p>
<h2>脈訣指掌病式圖說  元  丹溪朱震亨著。</h2>
<h3>論脈法配天地。</h3>
<p>昔軒轅黃帝之體天治民也，使伶倫截嶰谷之竹作黃鍾律管，以候天之節氣，以觀其太過，不及，修德以禳之命，岐伯取氣口作脈法，以候人之動氣，以察其太過，不及，設九針藥石，以調之，故黃鍾之數九分，氣口之數亦九分，律法曰天地之數，始於一，終於十，其一三五七九為陽，九者陽之成數也，其二四六八十為陰，十者陰之成數也，黃鍾者陽聲之始也，陽氣之動也，故其數皆九，分寸之數，具於聲氣之元，不可得而見，及斷竹為管吹之而聲和，候之而氣應，然後寸之數，始形焉，此陽唱而陰和，男行而女隨，邵子曰，陰者陽之影，故脈之動也，陽得九分，而盛陰得一寸，而弱其吻合於黃鍾者，以民受天地之中以生，故肖天地之形，且天地之道，陽健而陰順，陽強而陰弱，陽明而陰晦，天不足西北，故西北傾而東南昂，人肖之左耳目明於右耳，目在上者，法乎天地不滿東南，故東南陷下而西北瓏起，人肖之右手足強於左手足，在下者法乎地，天之陽在南，而陰在北，故男子寸脈盛而尺脈弱，地之陽在北，而陰在南，故女子尺脈盛而寸脈弱，肖天地之陰陽也，聲音律呂無不然者，黃鍾者，氣之先兆，故能測天地之節候，氣口者，脈之要會，故能知人命之死生，實為醫學之先維流注一身而變化萬端，皆欲取之三部九候之中，其難也可知矣，世之俗醫誦高陽生之妄作，欲以治病求十全之效，其不殺人幾希矣，凡我同志宜精，宜明，然以習俗久，姑從舊，以寸關尺分三部，詳列手圖於後。</p>
<h3>三部九候圖說。</h3>
<p>三部者，從魚際至高骨一寸，名曰寸口，自寸至尺名尺澤，故曰尺中，寸後尺前名曰關，陽出陰入，以關為界，又云，陰得尺內一寸，陽得寸內九分，從寸口入六分為關分，從關分又入六分為尺分，故三部共一寸九分。</p>
<h3>九候浮中沉。</h3>
<p>一部分三候，三三為九候。</p>
<h3>學診例。</h3>
<p>凡欲診脈，先調自氣，壓取病人，息以候其遲數，過與不及，所謂以我醫彼，智與神會，則莫之敢違。</p>
<p>凡診脈須先識脈息兩字，脈者神也，息者氣也，脈不自動為氣使，然所謂長則氣治，短則氣病也。</p>
<p>凡診脈須識人迎，氣口以辦內外因，其不與人迎氣口相應為不內外因，所謂關前一分，人命之主。</p>
<p>凡診脈，須先識五藏，六經本脈，然後方識病脈，歲主藏害，氣候逆傳，陰陽有時與脈為期，此之謂也。</p>
<p>凡診脈，須認取二十四字名狀與關前一分相符，推說證狀，與病者相應，使無差忒庶可依原治療。</p>
<h3>手式寸尺內外圖說。</h3>
<h3>右五藏所屬寸尺部位。</h3>
<p>左寸外以候心，內以候膻中，右寸外以候肺，內以候胸中。</p>
<p>左關外以候肝，內以候膈中，右關內以候脾，外以候胃脘。</p>
<p>左尺外以候腎，內以候腹中，右尺外以候心主，內以候腰。</p>
<p>釋曰，五藏六府，十二經絡，候之無踰三部，要之前布六經，乃候淫邪入自經絡而及於藏府，後說五藏乃候七情內鬱，自藏府出而應於經內外之辨，熲然明白學診之士，當自此始，外因雖自經絡而入，必及於藏府，須識五藏六府所在，內因鬱滿於中，亦必外應於經，亦須循經說證，不可偏局執見，故經云，上竟上胸候中事也，下竟下腰足中事也，不可不通。</p>
<h3>陰陽相乘，覆溢關格圖說。</h3>
<p>難經曰，脈有太過有不及，有陰陽相乘，有覆有溢，有關有格，謂也。丹溪先生曰：陰乘陽則惡寒，陽乘陰則發熱。</p>
<p>關之前者，陽之動也，脈當見九分而浮，過者法曰太過，減者法曰不及，太過不及者，病遂上逆寸為溢，為外關內格，此陰乘陽之脈也；經曰，陰氣太盛，則陽氣不得相營也，以陽氣不得營於陰，陰遂上出而溢於陽之分，為外關內格也，外關內格，謂陽外閉而不下陰從內出而格拒其陽，此陰乘陽位之脈也。關以後者，陰之動也，脈當見一寸而沉，過者法曰太過，減者法曰不及，太過不及者病遂下入尺為覆，為內關外格，此陽乘陰之脈也；經曰，陽氣太盛則陰氣不得相營也，以陰氣不得營於陽，陽遂下陷而覆於尺之分，為內關外格，內關外格為陰內閉而不上陽，從外入以格拒其陰，此陽乘陰位之脈也。故曰覆溢，而覆者如物之覆，由上而傾於下也，溢者如水之溢，由下而逆於上也，是其真藏之脈，人不病而死也。</p>
<h3>總論脈式。</h3>
<p>經云，常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，乃可診有過之脈，或有作為，為停食頃俟定，乃診，師亦如之。</p>
<p>釋曰，停寧俟之即不拘於平旦，況倉卒病生豈特平旦，學者知之。</p>
<p>經云，切脈動靜而視精明，察五色，觀五藏有餘不足，六府強弱，形之盛衰，可以參決死生之分。</p>
<p>釋曰，切脈動靜者，以脈之潮會必歸於寸口三部，診之左關前一分為人迎，以候六淫外傷，為外所因；右關前一分為氣口，以候七情內鬱，為內所因，惟其所自用肯經常為不內外因，三因雖分，猶乃未備，是以前哲類分二十四字，所謂七表八裏九道，雖名狀不同，證候差別，皆以人迎一分而推之與三部相應而說，證則萬無一失也。</p>
<h3>陳氏辯三藏本脈，息數尺度。</h3>
<p>人之脈者，乃血之隧道也，非氣使則不能行，故血為脈，氣為息，脈息之名自是而分呼吸者，氣之槖籥動應者，血之波瀾，其經以身寸度之計，十六丈二尺，一呼脈再動，一吸脈亦再動，呼吸定息，脈五動，閏以太息，則六動，一動一寸，故一息脈行六寸，十息六尺，百息六丈，二百息十二丈，七十息四丈二尺，計二百七十息，漏水下二刻，盡十六丈二尺，營周一身，百刻之中得五十營，故曰，脈行陽二十五度，行陰亦二十五度也，息者以呼吸定之，一日計一萬三千五百息，呼吸進退既遲於脈，故八息三分三毫三釐，方行一寸八，十三息三分三毫行一尺八，百三十三息三分行一丈八，千三百三十三息行十丈餘六丈二尺，計五千一百六十七息，通計一萬三千五百息方行盡一十六丈二尺，經絡氣周於一身，一日一夜大會於風府者是也；脈神也，陽也，陽行速，猶太陽之一日一周天，息氣也，陰也，陰行遲，猶太陰之一月一周天，如是則應周天之常度，配四時之定序，春肝脈弦細而長，夏心脈浮大而洪，長夏脾脈軟大而緩，秋肺脈浮濇而短，冬腎脈沉濡而滑，各以其時而候，旺相休囚脈息無不及太過之患，故曰平人，以五藏六府皆稟氣於胃，故脈以胃氣為本，氣以黃色為生，取其資成也，合本藏氣三分，參以弦洪緩濇沉，則為平脈，若真藏脈見，則不從矣，參以形色廣加後說。</p>
<p>足厥陰肝脈，在左關上，弦細而長；足少陰腎脈，在左尺中，沉濡而滑；足太陰脾脈，在右關上，沉軟而緩；足少陽膽脈，在左關上，弦大而浮；足陽明胃脈，在右關中，浮長而滑；足太陽膀胱脈，在左尺中，洪滑而長；手厥陰心主包絡，在右尺中，沉弦而敦；手少陰心脈，在左寸口，洪而微實；手太陰肺脈在右寸口，濇短而浮；手少陽三焦脈，在右尺中，洪散而急；手陽明大腸脈，在右寸口，浮短而滑；手太陽小腸脈，在左寸口，洪大而緊；此手足陰陽六經脈之常體，及其消息盈虛，則變化不測，運動密移與天地參同，彼春之煖為夏之暑，彼秋之忿為冬之怒，四變之動，脈與之應者，乃氣候之至脈也。</p>
<h3>素問六氣主合至脈。</h3>
<p>十二月大寒至，二月春分為初之氣，厥陰風木主令，經云，厥陰之至，其脈弦（一云沉短而散）。</p>
<p>春分至，四月小滿為二之氣，少陰君火主令，經云，少陰之至，其脈鉤（一云緊細而微）。</p>
<p>小滿至，六月大暑為三之氣，少陽相火主令，經云，少陽之至，大而浮（一云乍疏乍數乍短乍長）。</p>
<p>大暑至，八月秋分為四之氣，太陰濕土主令，經云，太陰之至，其脈沉（一云緊大而長）。</p>
<p>秋分至，十月小雪為五之氣，陽明燥金主令，經云，陽明之至，短而濇（一云浮大而短）。</p>
<p>小雪至，十二月大寒為六之氣，太陽寒水主令，經云，太陽之至，大而長。</p>
<p>本脈至脈，雖識體狀，又須推尋六氣交變，南政北政，司天在泉，少陰之脈應與不應，詳細而推知，萬無一失也。</p>
<p>已丑已未二太歲，太陰司天，少陰在左，少陽在右，故左肘脈不應</p>
<p>辰戍二歲太陰在泉，少陰在右，少陽在左，故右尺脈沉細不應。</p>
<p>已亥二歲，厥陰司天，太陽在左，少陰在右，右手寸口脈沉細不應。</p>
<p>寅申二歲，厥陰在泉，太陽在右，少陰在左，左手尺脈沉細不應。</p>
<p>子午二歲，少陰司天，厥陰在左，太陰在右，兩手寸脈俱沉細不應。</p>
<p>卯酉二歲，少陰在泉，太陰在左，厥陰在右，故兩手尺脈俱沉細不應。</p>
<p>丑未二歲，太陰司天，少陰在左，少陽在右，兩手尺脈俱不應。</p>
<p>辰戍二歲，太陰在泉，少陽在左，少陰在右，左手寸口脈不應。</p>
<p>已亥二歲，厥陰司天，太陽在左，少陰在右，左尺脈不應。</p>
<p>寅申二歲，厥陰在泉，少陰在左，太陽在右，左寸脈不應。</p>
<p>歲當陽明司天，少陰在泉，法當兩尺脈沉細不應而反浮大，兩寸脈當浮大而反沉細，是太陽與少陰相反，經云，尺寸反者死。</p>
<p>歲當陽明在泉，少陰司天，法當兩寸沉細不應而反浮大，兩尺脈當浮大而反沉細，是陽明與少陰尺寸相反，經云，尺寸反者死。</p>
<p>北政陽明司天，少陰在泉，法當兩寸沉細不應而反浮大，兩尺脈當浮大而反沉細，是陽明與少陽尺寸相反，經云，尺寸反者死。</p>
<p>北政少陰司天，陽明在泉，法當兩尺沉細不應而反浮大，兩寸脈當浮大而反沉細，是陽明與少陰尺寸相反，經云，尺寸反者死。</p>
<p>南政少陽在右，少陰在左，左寸脈當沉細不應而反浮大，右寸脈當浮大而反沉細不應，是謂左右交，經云，左右交者死。</p>
<p>南政少陽在左，少陰在右，右尺脈當沉細不應而反浮大，左尺脈當浮大而反沉細，是謂左右交，少陰在右而交於左。</p>
<p>南政太陰在左，少陰在右，右寸脈當沉細不應而反浮大，左寸脈當浮大而反沉細不應，是謂左右交，少陰在右而交於左。</p>
<p>南政太陽在右，少陰在左，左尺脈當沉細不應而反浮大，右尺脈當浮大而反沉細不應，是謂左右交，少陰在右而交於左。</p>
<p>北政太陽在左，少陰在右，右寸脈當沉細不應而反浮大，左寸脈當浮大而反沉細，是謂左右交，少陰在右而交於左。</p>
<h3>辯七情鬱發五藏變病脈法。</h3>
<p>右手關前一分為氣口者，以候人之臟氣鬱發，與氣兼並過與不及，乘剋傳變必見於脈者，以食氣入胃，淫精於脈，脈皆自胃氣出，故候於氣口，經曰，五臟皆稟於胃，胃者五藏之本，藏氣不能自致於手太陰，必因胃氣而至，邪氣勝胃氣衰則病甚，胃氣絕真臟獨見則死；假如</p>
<p>　春肝，夏心，長夏脾，秋肺，冬腎。</p>
<p>脈弦，　洪，　濡，　　濇，　沉　　　多胃少</p>
<p>曰肝，　心，　脾，　　肺，　腎　　　病</p>
<p>但弦，　洪，　濡，　　濇，　沉　　　無胃氣曰死。</p>
<p>天地草木無土氣不生，人無胃氣則死，胃氣者和緩不迫之狀也。</p>
<p>若其乘剋相勝，雖有胃氣。</p>
<p>而春，夏，長夏，秋，冬。</p>
<p>有濇，沉，弦，　洪，濡　　　脈微見者。</p>
<p>　秋，冬，春，　夏，長夏　　必病。</p>
<p>　濇，沉，弦，　洪，濡　　　甚者為今病。</p>
<h3>辯五臟過不及之為病。</h3>
<p>觀夫，太過不及脈之大要，迫近而散，不可失機審而調之，為上工矣。學者不可不審察也。</p>
<p>春肝，  　脈合弦細而長，太過則實強，    令善怒，忽忽眩冒巔疾。</p>
<p>夏心，        洪而微實，      來去皆盛，  身熱膚痛為浸淫。</p>
<p>長夏脾，      沉而濡長，      如水之流，  四肢不舉。</p>
<p>秋肺，        浮而短濇，      中堅傍虛，  逆氣背痛慍慍然。</p>
<p>冬腎，        沉而緊實，      有如彈石，  解㑊脊痛少氣不能言。</p>
<p>不及則微虛，          令人胸痛引背，兩脇脹滿心煩。</p>
<p>      來不盛去反盛，      上咳唾，下泄氣，九竅不通。</p>
<p>      如鳥之啄，          名曰重強，呼吸少氣，下喘聲。</p>
<p>      毛而微，            心懸如飢䏚中清，脊中痛。</p>
<p>      來去如數，          少腹滿小便變。</p>
<p>人之五臟配木火土金水，以養鬼神意魄志而生怒喜思憂恐故。</p>
<p>因怒，  則魂門弛張，木    氣奮激，肺金    乘之，脈弦濇，</p>
<p>  喜，    神延融溢，火      赫羲，腎水            沉散，</p>
<p>  思，    意舍不寧，土      凝結，肝木            弦弱，</p>
<p>  憂，    魄戶不閉，金      濇聚，心火            洪短，</p>
<p>  恐，    志室不遂，水      旋卻，脾土            沉緩。</p>
<p>此蓋五情，動以不正，侮所不勝，經所謂，不恒其德，恃其能乘而侮之，甚則所勝來，復侮反受邪，此之謂也。凡怒則魂門弛張，木氣奮激，侮其脾土，甚則子金乘其肝虛來復母讐，剋其肝木，是謂侮反受邪，肝脈反濇，濇者肺金也，是猶吳王夫差之爭盟侮楚，精銳悉行，國內無備，越王勾踐乘其虛而伐之，遂以破吳，吳本侮楚而越竟破之，侮反受邪，即此義也。</p>
<p>凡喜則神延融溢，火氣赫羲侮其肺金，甚則子水乘其心虛來復母讐，剋其心火，是謂侮反受邪，心脈反沉，沉者腎水脈也，故喜甚有暴中之患而暴怒，亦有暴中之患，皆此意也。</p>
<p>凡久思則意舍不寍，上氣凝結侮其腎水，甚則子木乘其脾土虛來復母讐，剋其脾土，是謂侮反受邪，脾脈反弦，弦者肝脈也。</p>
<p>凡久憂則魂門不閉，金氣濇聚，侮其肝木，甚則子火乘其肺虛來復母讐，剋其肺金，是謂侮反受邪肺脈反洪，洪者心火脈也。</p>
<p>凡多恐則志室不遂，水氣旋卻侮其胞絡之火，甚則子土乘其腎虛來復母讐，剋其腎水，是謂每反受邪腎脈反濡，濡者脾土脈也。</p>
<p>凡悲則傷肺，故肺脈自虛，經曰，悲則氣消，脈虛心火來乘，金氣自虛故悲則淚下，或因寒飲食之氣上逆，留於胸中，留而不去，久為寒中，或曰肺金乘肝木而為淚。</p>
<p>凡驚則氣亂，驚則肝氣散亂乘其脾土，故小兒驚則瀉青，大人驚則面青者，肝血亂而下降，故青其肝脈亦亂，一曰驚則肝氣乘心，大驚者心脈易位向裏，驚氣人心者多尿血也。</p>
<p>傳授勝剋流變又當詳而論之，故經云，五臟受氣於其能生，傳之於其所勝，氣舍於其所生死，其所不勝，如</p>
<p>      肝，心，脾，肺，腎</p>
<p>受氣於心，脾，肺，腎，肝。</p>
<p>傳之於脾，肺，腎，肝，心。</p>
<p>氣合於腎，肝，心，脾，肺。</p>
<p>至    肺，腎，肝，心，脾    而死。</p>
<p>則知肝死於肺，候之於秋庚日篤辛日，死餘圖於後。</p>
<p>肝  候於秋　，庚    日篤，辛    日死，舌卷卵縮。</p>
<p>心      冬　，壬          癸          面黑如黎。</p>
<p>脾      春　，甲          乙          內滿唇反。</p>
<p>肺      夏　，丙          丁          皮枯毛折。</p>
<p>腎      長夏，戊  　      已          齒長而枯髮無潤澤。</p>
<p>又如，甲乙，丙丁，戊已，    庚辛，壬癸  日</p>
<p>  則，寅卯，已午，辰戌丑未，申酉，子亥  時死。</p>
<p>凡一日之中又分五時，以別死時之早晏，且脾病甲日，病篤乙日，死則死於寅卯時，以脾屬土，日時俱屬木，重木剋土，故死於此時，此內傷藏病之傳次也，然暴病卒發者，不必泥於傳次也，或傳化不以次入者，乃憂恐怒喜思驚，七情並傷於令不得以，其次傳所以令人大病，此五臟傳變之指要，學者不可不知也。</p>
<h3>辯六淫外傷六經受病脈圖說。</h3>
<p>左手關前一分為人迎者，以候天之寒暑燥濕風熱，中傷於人，其邪自經絡而入，以迎納之，故曰人迎；前哲方論謂，太陽為諸陽主，凡感邪則自太陽始，以此考尋經意，似若不然，風喜傷肝，寒喜傷腎，暑喜傷心包，濕喜傷脾，熱傷心，燥傷肺，以暑熱一氣燥濕同源，故不別論，以類推之，風當自少陽入，濕當自陽明入，暑當自三焦入，寒卻自太陽入，故經云，陰為之，主陽與正別於陽者，知病從來，此之謂也，經云，修已俟，天所以立命也，由是古人調其臟氣而淫邪不入，故先七情而後六淫，經云，學診之士，必先歲氣，故運氣又先之，以其次第也。</p>
<p>足太陽傷寒，左手尺中與人迎皆浮緊而盛，浮者足太陽脈也，緊者傷寒脈也，盛者病進也，其證頭項腰脊痛，無汗，惡寒，不惡風。</p>
<p>足陽明傷濕，右手關上與人迎皆濇細而長，濇者足陽明脈也，細者傷濕脈也，長者病襲也，其證關節疼痛，重痹而弱，小便澀秘，大便飧泄。</p>
<p>足少陽傷風，左手關上與人迎皆弦浮而散，弦者足少陽脈也，浮者傷風脈也，散病至也，其證身熱，惡風，自汗，項強，脇滿。</p>
<p>手少陽傷暑，左手尺中與人迎皆洪虛而數，洪者手少陽脈也，虛者傷暑脈也，數者病增也，其證身熱，惡寒，頭痛狀如傷寒，煩渴。</p>
<p>足太陰傷濕，右手關上與人迎皆濡細而沉，濡者太陰脈也，細者濕脈也，沉者病著也，其證身熱，腳弱，關節頭痛，冷痹，脹滿。</p>
<p>足少陰傷寒，左尺中與人迎皆沉緊而數，沉者足少陰脈也，緊者傷寒脈也，數者病傳也，其證口燥，舌乾而渴，背惡寒反發熱，倦怠。</p>
<p>足厥陰傷風，左關上與人迎皆弦弱而急，弦者厥陰脈也，弱者風脈也，急者病變也，其證自汗，惡風而倦，小腹急滿。</p>
<p>手厥陰心包傷暑，左手尺中與人迎皆沉弱而緩，沉者心包脈也，弱者傷暑也，緩者病倦也，其證往來寒熱，狀如瘧，煩渴，眩暈，背寒，面垢。</p>
<p>此已上分布六經，感傷外部邪之脈也，除燥熱外，敘此四氣揭圖於左，以為宗兆，使學者易見，不必再三伸問，若其傳變，自當依六經，別論詳究，所傷隨經說證對證施治，以平為期，或熱燥傷心肺，亦當依經推明理例調治，如四氣兼並，六經交錯，亦當隨其脈證審處別白，或先，或後，或合，或併在絡，在經，入表，入裏，四時之動脈與之應，氣候以時自與脈期，微妙在脈不可不察，察之有紀，從陰陽始，始之有經，從陰陽生，此之謂也。</p>
<p>吾嘗觀洛書圖，火七在西方，金九居南位者，則西南二方為燥熱之氣明矣，況乎離為兵戈兌主殺伐平治之世，生氣流行，雨晹以時，兆民不安惡有斯氣，唯淆亂之世，生氣消息燥熱逆行，五穀不登，山川焦枯，鬼神欠妥，災疹繁興，予目擊壬辰，首亂已平，民中燥熱者多發熱，痰結，咳嗽，重以醫者不識時變，復投半夏，南星，以益其燥熱，遂至嗽血，滑涎逆湧，咯吐不已，肌肉乾枯而死者多矣，平人則兩寸脈不見，兩尺脈長至半臂，予於內外傷辨，言之備矣，今略具數語以足成書，為六氣全圖。</p>
<h3>辯不內外因五用乖違病症。</h3>
<p>察脈必以人迎氣口分內外，所因者乃學診之要道也，所以脈讚云，關前一分人迎主之，然既有三因固不可盡詳而考之於理自備，且如疲極筋力盡神度量，飲食，饑飽，叫呼走氣，房室勞逸，及金瘡踒折，虎狼，毒蟲，鬼痓，客忤鬼壓，溺水等外非六淫，內非七情，內外不收，心屬不內外，雖漢論曰，人迎緊盛傷於寒，氣口緊盛傷於食，殊不知飲食入胃，能助發宿蘊其所應於氣口者，止由七情鬱發，因食助見本非宿食能應氣口，且如</p>
<p>宿食            陽陰。</p>
<p>則脈浮大而微濇，數而滑實。</p>
<p>宿食不化        成瘕。</p>
<p>脈則沉緊，      沉重。</p>
<p>皆傷胃也。</p>
<p>宿食窒塞，則上部有脈，下部無脈，其人當吐，不吐者死。此等名證何曾應於氣口，又如疲極筋力，其脈弦數而實，筋痛則動皆傷肝也，凝思則滑，神耗則散，皆傷心也，吟誦耗氣，氣濡而弱，叫呼走氣脈散而急，皆傷肺也；房勞失精，兩尺脈浮散，男子遺精，女子半產，弦大而革，皆傷腎也，右件明文氣口何與，況藏寒蛔厥脈自微浮及為腎滑；胃虛不食其脈必緩，亦有微濡；五飲停伏浮細而滑，久畜沉積沉細而軟，形虛自汗脈皆微濡，揮霍變亂脈自沉伏，僵仆墜下脈則細滑，踒折傷損瘀血在內，疝瘕，癥癖，並五內作痛，脈皆弦緊，中寒癥結，脈則遲濇，五積，六聚，食飲，痰氣伏留不散，隧道節滯，脈皆促結；三消熱中尺中洪大，癲狂神亂關上洪疾，氣實脈浮血實脈滑，氣血相搏脈亦沉實，婦人妊娠脈則和滑。</p>
<h3>辯祟脈，凡鬼祟附著之脈，兩手乍大乍小，乍長乍短，乍密乍疏，乍沉乍浮，</h3>
<p>陽邪來，見脈則浮洪，陰邪來，見脈則沉緊；鬼疰客忤，三部皆滑洪大，嫋嫋沉沉澤澤，但與病症不相應者，皆五尸鬼邪遁疰之所為也，又如遁尸尸疰，脈沉而不至寸，或三部皆緊急，如診得此等脈，證雖與人迎氣口相應，亦當分數推尋三因交結，四季料簡。所謂俾內俾外。不內不外。亦內亦外。亦不內外，脈理微玅，藝能難精，學然後知所因，此之謂也，然形於朕兆墮於數義，未有不學而能者，未有學而不成者，宜留心焉，人如忽見異像，驚惑眩亂，脈多失次，急虛，卒中，五藏閉絕，脈不往來，譬如墮溺，脈不可察，與夫金瘡踒折，頓走血氣，脈亦無準，學者當看外證，不必拘脈。</p>
<h3>辯脈體名狀。</h3>
<p>浮者按之不足，舉之有餘，與人迎相應，則風寒在經，與氣口相應，則營血虛損。</p>
<p>沉者舉之不足，按之有餘，與人迎相應，則寒伏陰經，與氣口相應，則血凝腹藏。</p>
<p>遲者應動極緩，按之盡牢，與人迎相應，則溫寒凝滯，與氣口相應，則虛冷沉積。</p>
<p>數者去來促急，一息數至，與人迎相應，則風燥熱煩，與氣口相應，則陰虛陽盛。</p>
<p>虛者遲大而軟，按之豁然，與人迎相應，則經絡傷暑，與氣口相應，則榮衛失本。</p>
<p>實者按舉有力，不疾不遲，與人迎相應，則風寒貫經，與氣口相應，則氣血壅脈。</p>
<p>緩者浮大而軟，去來微遲，與人迎相應，則風熱入藏，與氣口相應，則怒極傷筋。</p>
<p>緊者動轉無常，如紐簍－，與人迎相應，則經絡傷寒，與氣口相應，則臟腑作痛。</p>
<p>洪者來之至大，去之且長，與人迎相應，則寒壅諸陽，與氣口相應，則氣攻百脈。</p>
<p>細者指下尋之，來往如線，與人迎相應，則諸經中濕，與氣口相應，則五臟凝涎。</p>
<p>滑者往來流利，有如貫珠，與人迎相應，則風痰潮溢，與氣口相應，則涎飲凝滯。</p>
<p>濇者參五不調，如雨沾沙，與人迎相應，則風濕寒痹，與氣口相應，則津汗血枯。</p>
<p>弦者端緊徑急，如張弓弦，與人迎相應，則風走疰痛，與氣口相應，則飲積溢疼。</p>
<p>弱者按之欲絕，輕軟無力，與人迎相應，則風濕緩縱，與氣口相應，則筋絕痿弛。</p>
<p>結者往來遲緩，時止更來，與人迎相應，則陰散陽生，與氣口相應，則積阻氣節。</p>
<p>促者往來急數，時止復來，與人迎相應，則痰壅陽經，與氣口相應，則積留胃腑。</p>
<p>芤者中空傍實，如按慈蔥，與人迎相應，則邪壅吐衄，與氣口相應，則榮虛妄行。</p>
<p>微者極細而軟，似有若無，與人迎相應，則風暑自汗，與氣口相應，則微陽脫泄。</p>
<p>動者在關如豆，厥厥不行，與人迎相應  則寒疼冷痛，與氣口相應，則心驚膽寒。</p>
<p>伏者沉伏不出，著骨乃得，與人迎相應，則寒濕痼閉，與氣口相應，則凝思凝神。</p>
<p>長者往來流利，出於三關，與人迎相應，則微邪自愈，與氣口相應，則藏氣平治。</p>
<p>短者按舉似數，不及本部，與人迎相應，則邪閉經脈，與氣口相應，則積遏藏氣。</p>
<p>濡者按之不見，輕手乃得，與人迎相應，則寒濕散漫，與氣口相應，則飧泄緩弱。</p>
<p>革者沉伏實大，如按鼓皮，與人迎相應，則中風暑濕，與氣口相應，則半產脫精。</p>
<p>散者有陽無陰，按之滿指，與人迎相應，則淫邪脫泄，與氣口相應，則精血敗耗。</p>
<p>代者藏絕中止，餘藏代動，無問內外所因，得此必死。</p>
<h3>辯七表脈病證。</h3>
<p>浮為在表，為風應人迎，為氣應氣口，為熱，為痛，為嘔，為脹，為痞，為喘，為厥，為內結，為滿不食，浮大為鼻塞，浮緩為不仁，浮大長為風眩癲疾，浮滑疾為宿食，浮大而濇為宿食滯氣，浮短為肺傷諸氣，浮滑為走刺為飲，浮細而滑為傷飲，浮滑疾緊為百合病，浮數為大便堅小便數，浮緊為淋為癃閉。</p>
<p>芤主血，寸芤為吐血，微芤為衄血，關芤為大便出血為腸癰，尺芤為下焦虛，小便出血。</p>
<p>滑為吐，為滿為欬為熱，為伏痰，為宿食，為蓄血，為經閉，為鬼奎，為血氣俱實，滑散為癱緩，滑數為結熱，滑實為胃熱，和滑為妊娠，滑而大小不勻，必吐，為病進，為泄痢，滑而浮大，小腹痛，弱則陰中痛，小便亦然。</p>
<p>實為熱，為嘔，為痛，為氣塞，為喘欬，為大便不禁，實緊為陰不勝，陽為胃寒，為腰痛。</p>
<p>弦為寒，為痛，為飲，為瘧，為水氣，為中虛，為厥逆，為拘急，為寒癖，弦緊為惡寒，為疝瘕，為癖，為瘀血，雙弦脇急痛，弦而鉤為脇下刺痛，弦長為積，隨左右上下。</p>
<p>緊為寒，為痛頭骨肉等，為欬，為喘，為滿，浮緊為肺有水，緊滑為蛔動，為宿食，為逆吐，緊急為遁尸，緊數為寒熱。</p>
<p>洪為脹，為滿，為痛，為熱，為煩，洪實為癲，洪緊為癰疽，為喘急，亦為脹，洪大為祟，洪浮為陽邪來見。</p>
<h3>辯入裏脈病證。</h3>
<p>微為虛，為弱，為衄，為嘔，為泄，為亡汗，為拘急，微弱為少氣，為中寒。</p>
<p>沉為在裏，為實，為水，為寒，為喘，為癥，為瘕，沉弱為寒熱，沉細為少氣，臂不能舉，沉滑為風水，為下重，沉緊為上熱下冷，沉重而直前絕者為瘀血，沉重而中散為寒食成瘕，沉重不至寸，徘徊絕者為遁尸，沉緊為懸飲，沉遲為痼冷，沉重為傷暑發熱。</p>
<p>緩在下為風，為寒，為弱，為痹，為疼，為不仁，為氣不足，為眩暈，緩而滑為熱中，緩而遲為虛寒相搏，食冷則咽痛。</p>
<p>濇為少血，為亡汗，熱氣不足，為逆冷，為下痢，為心痛，濇而緊為痹為寒濕，濇細為大寒。</p>
<p>遲為寒，為痛，遲而濇為癥瘕咽酸，遲滑為脹，遲緩為寒。</p>
<p>伏為霍亂，為疝瘕，為水氣，為溏泄，為停痰，為宿食，為諸氣上衝，為惡膿貫肌。</p>
<p>濡為虛，為痹，為自汗，為氣弱，為下重，濡而弱為內熱外冷，自汗，為小便難。弱為虛，為風熱，為自汗。</p>
<h3>辯九道脈病症。</h3>
<p>細為氣血俱虛，為病在內，為積，為傷濕，為後泄，為寒，為神勞，為憂傷過度，為腹滿，細而緊為癥瘕積聚，為刺痛，細而滑為僵仆，為發熱，為嘔吐。</p>
<p>數為熱，為虛，為吐，為痛，為煩渴，為煩滿。</p>
<p>動為痛，為驚，為痹，為泄，為恐。</p>
<p>虛為寒，為虛，為腳弱，為食不消化，為傷暑。</p>
<p>促脈經並無文，釋曰，其促有五，一曰氣，二曰血，三曰飲，四曰食，五曰痰，但藏熱則脈數，以氣血痰飲留滯不行，則止促，止促非惡脈也。</p>
<p>結為痰，為飲，為血，為積，為氣，釋曰，氣寒脈緩，則為結數，則為促，雖緩數不同結，亦當如促脈分則可也。</p>
<p>散脈經無文，釋曰，六腑氣絕於內，則手足寒，上氣，五臟氣絕於內，則下利不禁，甚者不仁，其脈皆散，散則不聚病亦危矣。</p>
<p>革為滿，為急，為虛寒相摶，婦人半產漏下，釋曰，革者，革也，固結不移之狀，三部應之皆危脈也。</p>
<p>代者一藏絕，他藏代至，釋曰，代其死脈，不分三部，隨應皆是。</p>
<p>如前所說，凡例皆本聖經，學者當熟讀，令心開眼明，識取體狀，然後交結互究，與夫六經外感，五臟內傷，參以四時旺相，依各部位推尋所因，必使了然不疑，方為盡善，其如隨病分門，諸脈諸證，尤當參對詳審，如是精研，方可為醫門萬分之一，否則倚傍聖教，欺妄取財，為含靈之臣賊，幸祈勉旃。</p>
<p>詩曰。</p>
<p>浮，芤，滑，實，弦，緊，洪，名為七表，屬陽宮；微，沉，緩，濇，遲，並伏，濡，弱為陰八裏，同細，數，動，虛，促，結，散，代，革，同歸九道中，在經，在府，並在藏，識得根源為上工。</p>
<h3>分關前關後陰陽詩。</h3>
<p>掌後高骨號為關，傍骨關脈形宛然，次第推排寸關尺，配合天地人三元，關前為陽名寸口，尺脈為陰在關後，陽弦頭痛定無疑，陰弦腹痛何方走，陽數即吐兼頭痛，關微即瀉腸中吼，陽實應知面赤風，陰微盜汗勞兼有，陽實大滑應舌強，關數脾熱並口臭，陽微浮弱定心寒，關滑食注脾家咎，關前關後別陰陽，察得病源為國手。</p>
<h3>定息數詩。</h3>
<p>先賢切脈論太素，週行一身五十度，晝則行陽自陰出，夜則行陰自陽入，晝夜各行二十五，上合天度為常則，血榮氣衛定息數，一萬三千五百息，此是平人脈行度，太過不及皆非吉，一息四至平無他，更加一至身安和，三遲二敗冷為甚，七數六極熱生多，八脫九死十歸墓，十一十二魂已去，一息一至元氣敗，兩息一至死非怪，我今括取作長歌，囑汝心通並意解。</p>
<h3>六極脈（又名六絕脈皆死脈）。</h3>
<p>雀啄連來四五啄，屋漏半日一點落，彈石來硬尋即散，搭指散滿如解索，魚翔似有一似無，蝦遊靜中忽一躍，寄語醫家仔細看，六脈見一休下藥。</p>
<h3>辨男女左右手脈法圖序。</h3>
<p>黃炎帝之拯民疾也，參天地究人事，以立脈法，嗟乎，脈者，先天之神也，故其晝夜出入，莫不與天地等，夫神寤則出於心而見於眼，故脈晝行陽二十五度，寐則棲於腎而息於精，故脈夜行陰亦二十五度，其動靜棲息皆與天地晝夜四時相合，且以天道右旋而主乎生化，則男子先生右腎，右屬陽，為三魂降精氣，赤以鎮丹田，故男子命脈在右手尺部，地道左旋主乎成物，則女子先生左腎，左屬陰，為七魄降真氣，黑以鎮子宮，故女子命脈在左手尺部，若男子病右尺部，命脈好，病雖危不死；若女子病左尺部，命脈好，病雖危亦不死，天之陽在南，而陰在北，故男子寸脈盛，而尺脈弱，陽在寸，陰在尺也，地之陽在北，而陰在南，故女子尺脈盛，而寸脈弱，陽在尺，陰在寸也，陽強陰弱天之道也，非反也，反之者病，故男得女脈為不足，女得男脈為太過，左得之病在左，右得之病在右，男左女右地之定位也，非天也，蓋人立形於地，故從地化，楚人尚右者，夷道也，地道也，故男子左脈強而右脈弱，女子則右脈強而左脈弱，天以陰為用，故人之左耳目明於右耳目，地以陽為使，故人之右手足強於左手足，陰陽互用也，非反也。凡男子診脈必先伸左手，女子診脈必先伸右手，男子得陽氣多，故左脈盛，女子得陰氣多，故右脈盛，若反者病脈也，男子以左尺為精腑，女子以右尺為血海，此天地之神化也，所以別男女決死生者也；苟不知此，則男女莫辯而生死懵然矣，於是列圖於左，以詔來者，李希范曰，近年以來，人心巇嶮，習俗刁薄，有兩手瑩淨，男子往往居幃帳之中，面目蒙蔽，伸手求診，粗工受欺，遂致嗤笑，噫昔諸葛公，嘗以巾幗婦人之服，遺司馬將軍，天下恥之，況乎甘心臥幃帳作婦人，以自欺耶，斯亦不足稱也矣。</p>
<h3>傍通五臟法，橫看。</h3>
<h3>論五臟沉遲數應病詩。</h3>
<p>左手心部。</p>
<p>浮數沉遲熱瞢騰，浮遲腹冷胃虛真，沉數狂言並舌強，沉遲氣短力難成（ 生氣不相接續）。</p>
<p>肝部。</p>
<p>浮數患風筋即抽，浮遲冷眼淚難收，沉數疾生常怒氣，沉遲不睡損雙眸。</p>
<p>腎部。</p>
<p>浮數勞熱小便赤，浮遲聽重濁來侵，沉數腰疼生赤濁，沉遲白濁耳虛鳴。</p>
<p>右手肺部。</p>
<p>浮數中風兼熱秘，浮遲冷氣瀉難禁，沉數風痰並氣喘，沉遲氣弱冷涎停。</p>
<p>脾部。</p>
<p>浮數齦宣並盜汗，浮遲胃冷氣虛膨，沉數熱多並口臭，沉遲腹滿脹堅生。</p>
<p>包絡部。</p>
<p>浮數精泄三焦熱，浮遲冷氣濁難任，沉數渴來小便數，沉遲虛冷小便頻。</p>
<h3>診脈截法斷病歌。</h3>
<p>左右手脈。</p>
<p>心脈迢迢恰似弦，頭痛心熱數狂癲，男子騰空女騰跌，腎弦氣痛小腸連。</p>
<p>心脈頻頻來得實，其人煩悶氣喘疾，若還止絕更加臨，壬癸死之是端的。</p>
<p>心脈微微嘈似飢，瀉心補腎卻相宜，若共肝微能左癱，醫人調理不須疑。</p>
<p>心脈遲遲主嘔吐，沉加怒氣痛牽連，斯人偃息雖無事，醫者能調便與宣。</p>
<p>肝實眼翳能生癤，腹痛尤加腳手酸，更被醯酸來刺也，調和補藥便能安。</p>
<p>肝微內障甚筋攣，失血吞酸頭更旋，洪在大腸能泄利，腎微腳冷定相連。</p>
<p>肝經帶緩氣須疼，食拒心頭主刺酸，止代庚申辛酉死，醫人調理定難安。</p>
<p>肝脈浮洪偏眼赤，刺酸盜汗定相隨，數脈忽然潮熱至，斷然翻胃更無疑。</p>
<p>腎微經脈不調勻，腳疼衛氣不能升，帶下肝陰精不禁，肝微血敗小便頻。</p>
<p>腎緩腲疼尤腹痛，小便白濁色如霜，止代若遲時戊已，其人必定命傾亡。</p>
<p>腎洪白濁耳蟬鳴，腳熱尤加血不勻，虛熱瘖生虛又瘇，沉腰浮主血虛人。</p>
<p>腎脈琴弦赤小便，頭旋腹痛數兼淋，血氣又來浮腹脹，肝微白濁帶相並。</p>
<p>右手。</p>
<p>肺緩虛邪鼻塞時，失聲颯颯好猜疑，緩脈浮遲能吐瀉，沉遲怒氣痛難支。</p>
<p>肺洪勞倦兼痰熱，潮熱尤兼吐瀉來，大數中風兼鼻塞，丙丁止代已焉哉。</p>
<p>肺脈弦來元主嗽，平時氣急喘呼呼，頭痛更加身發熱，十分重病也能甦。</p>
<p>肺實冷嗽胸中痛，倦勞寒熱不曾停，浮數大腸能秘結，浮遲冷痢更來侵。</p>
<p>脾脈浮洪水積儲，睡魔甜鬼每相如，倦怠更加潮熱至，其人脾困藥能除。</p>
<p>脾脈遲弦主冷凝，朝朝貪睡不曾停，浮在脈中應腹脹，沉弦有積腹中疼。</p>
<p>脾實口臭胃經熱，脾困寒熱又相侵，胃翻酸水頻頻吐，纔吃㱔兒便逼心。</p>
<p>脾脈微微胃不生，終朝飲食拒人心，微濇脈來因腹脹，甲寅止代定歸真。</p>
<p>命門弦主渴來侵，濁帶加之更患淋，實脈轉筋兼帶濁，脈洪虛汗渴將臨。</p>
<p>命門微細小便頻，緩脈膀胱冷氣侵，沉緩腰疼浮緩渴，更兼遲緩小便生。</p>
<h3>診暴病歌。</h3>
<p>兩動一止或三四，三動一止六七死，四動一止即八朝，以此推排但依次。</p>
<p>池氏曰，暴病者喜怒驚恐，其氣暴逆，致風寒暑濕所侵，病生卒暴，損動胃氣而絕，即死不過日也，脈兩動而一止，乃胃氣相絕，猶三四日方死，三動一止而胃氣將盡，猶將六七日穀氣絕盡方死，後倣此至若十五動而一止乃死，期在於一年也。</p>
<p>脈訣指掌圖終。</p>
