<header data-type="book">
<h1>針灸節要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>高武</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>
<p>書目</p>
<h2>素問十二卷</h2>
<p>世稱黃帝岐伯問答之書，及觀其旨意，殆非一時之言，而所譔述，亦非一人之手，
劉向指為諸韓公子所著，程子謂出戰國之末，而其大略，正如禮記之萃於漢儒，
而與孔子子思之言並傳也。蓋靈蘭祕典五常正大六元正紀等篇。
無非闡明陰陽五行主制之理，配象合德，實切於人身，其諸色脈病名，鍼刺治要，
皆推是理以廣之，而皇甫謐之甲乙，楊上善之太素，亦皆本之於此，而微有異同，
醫家之綱法，無越於是書矣。然按西漢藝文志，有內經十八卷，及扁鵲白氏二內經，
凡三家，而素問之目乃不列，至隋經籍志，始有素問之名，而指為內經。
唐王冰乃以九靈九卷牽合漢志之數，而為之註釋，復以陰陽大論託為師張公所藏，
以補其亡逸，而其用心亦勤矣。惜乎朱墨混淆，玉石相亂，訓詁失之於迂疎，
引援或至於未切，至宋林億高若訥等，正其誤文，而增其缺義，頗於冰為有功。</p>
<h2>難經十三卷</h2>
<p>秦越人祖述黃帝內經，設為問答之辭，以示學者，所引經言，多非靈素本文，
蓋古有其書，而今亡之耳！隋時有呂博望註本不傳，宋王惟一集五家之說，
而醇疵或相亂，惟虞氏粗為可觀，紀齊卿註稍密，乃附辯楊玄操。呂廣，
王宗正三子之非，周仲立頗加訂易，而考證未明，李子野亦為句解，而無所啟發，
近代張潔古註後附藥，殊非經義，王少卿演繹其說，目曰重玄，亦未足以發前人之蘊。
○滑伯仁氏取長棄短，折衷以己意，作難經本義。</p>
<h2>九鍼式</h2>
<p>鑱鍼    平半寸，長一寸六分，其頭大末銳，其病熱在頭身宜此。
員鍼    其身員，鋒如卵形，長一寸六分，肉分氣滿宜此。
鍉鍼    鋒如黍粟之銳，長三寸五分，脈氣虛少宜此。
鋒鍼    刃三隅，長一寸六分，瀉熱出血，發泄痼病宜此。
䤵鍼    一名鈹鍼，末如劍鋒，廣二寸半，長四寸，破癰腫，出膿血。
員利鍼  尖如毫，且員且利，中身微大，長一寸六分，調陰陽，去暴痺。
毫鍼    法象毫尖，如蚊虻喙，長三寸六分，調經絡，去疾病。
長鍼    鋒如利，長七寸，痺深居骨解腰脊節奏之間者。
燔鍼    一名焠鍼，長四寸，風虛合于骨解皮膚之間者。</p>
<p>明  四明  高武撰  述</p>
<h2>卷一</h2>
<h3>難經</h3>
<h4>一  補瀉</h4>
<p>七十八難曰：鍼有補瀉，何謂也？然補瀉之法，非必呼吸出內鍼也。
紀曰：呼盡而內鍼，吸而引鍼者為補吸則內鍼，呼盡出鍼為瀉，此言補瀉之時，
非必呼吸出內而已，然知為鍼者信其左，不知為鍼者信其右。
紀氏曰：然知為鍼信其左者，以左調右，有餘不足，補瀉於滎俞也。
不知為鍼者信其右，但一心用鍼，不知以左調右也。
當刺之時，先以左手厭按所鍼滎俞之處，彈而努之，爪而下之，其氣之來，
如動脈之狀，順鍼而刺之，得氣，因推而內之，是謂補。動而伸之，是謂瀉。不得氣，
乃與男外女內；不得氣，是謂十死，不治也。
滑氏曰：彈而努之，努讀作怒，爪而下之，搯之稍重，皆欲致其氣之至也。氣至指下，
如動脈之狀，乃乘其至而刺之，順，猶循也乘也。停鍼待氣，氣至鍼動，是得氣也。
因推鍼而內之，是謂補，動鍼而伸之，是謂瀉，此越人心法，非呼吸出內也。
是固然也。若停鍼候氣，久而不至，乃與男子則淺其鍼而候之衛氣之分，
女子則深其鍼而候之榮氣之分，如此而又不得氣，是謂其病終不可治也。
篇中前後二氣字不同，不可不辨，前言氣之來如動脈之狀，未刺之前，
左手所候之氣也。後言得氣不得氣，鍼下所候之氣也。此自兩節，周仲立乃云：
凡候氣，左手宜略重，候之不得，乃與男則少輕其手於衛氣之分以候之，
女則重其手於榮氣之分以候之，如此則既無前後之分，又昧停鍼待氣之道，
尚何所據為補瀉耶。
六十九難曰：經言虛者補之，實者瀉之，不虛不實，以經取之，何謂也？
然虛者補其母，實者瀉其子，當先補之，然後瀉之，不虛不實，以經取之，
是正經自病，不中他邪也。當自取其經。故言以經取之。
滑氏曰：靈樞第十篇載，十二經皆有盛則瀉之，虛則補之，不盛不虛，以經取之，
虛者補其母，實者瀉其子，子能令母實，母能令子虛，假令肝病虛，即補厥陰之合。
曲泉是也。實則瀉厥陰之滎，行間是也。先補後瀉，即後篇陽氣不足，陰氣有餘，
當先補其陽，而後瀉其陰之意，若於此義不屬，非闕誤，則羨文也。不實不虛，
以經取之者，即四十九難憂愁思慮則傷心，形寒飲冷則傷肺，恚怒氣逆則傷肝，
飲食勞倦則傷脾，久坐濕地，強力入水則傷腎，蓋正經之自病者也。楊氏曰：
不實不虛，是諸藏不相乘也。故云自取其經。
七十六難曰：何謂補瀉？當補之時，何所取氣？當瀉之時，何所置氣？然當補之時，
從衛取氣，當瀉之時，從榮置氣，其陽氣不足，陰氣有餘，當先補其陽，
而後瀉其陰，陰氣不足，陽氣有餘，當先補其陰，而後瀉其陽，榮衛通行，
此其要也。
滑氏曰：靈樞五十二篇曰：浮氣不循經者為衛氣，其精氣之行於經者為榮氣。
蓋補則取浮氣之不循經者以補虛處，瀉則從榮置其氣而不用也。置猶棄置之置，
然人之病，虛實不一，補瀉之道，亦非一也。是以陽氣不足而陰氣有餘，
則先補陽而後瀉陰以和之，陰氣不足而陽氣有餘，則先補陰而後瀉陽以和之，
如此則榮衛自然通行矣。
七十五難曰：經言東方實，西方虛，瀉南方，補北方，何謂也？然金木水火土，
當更相平，東方木也。西方金也。木欲實金當平之，火欲實水當平之。
土欲實木當平之，金欲實，火當平之，水欲實，土當平之，東方肝也。則知肝實，
西方肺也。則知肺虛，瀉南方火，補北方水，南方火，火者木之子也。北方水，
水者木之母也。水勝火，子能令母實，母能令子虛。故瀉火補水，欲令金不得平木也。
經曰：不能治其虛，何問其餘，此之謂也？
滑氏曰：金不得平木，不字疑衍，○東方實，西方虛，瀉南方，補北方者，木金火水，
欲更相平也。木火土金水之欲實，五行之貪勝而務權也。金水木火土之相平。
以五行所勝而制其貪也。經曰：一藏不平，所勝平之，東方肝也。西方肺也。東方實，
則知西方虛矣。若西方不虛，則東方安得而過於實耶！或瀉或補。
要亦抑其甚而濟其不足，損過就中之道也。水能勝火，子能令母實，母能令子虛，
瀉南方火者，奪子之氣，使食母之有餘，補北方水者，益子之氣，使不食於母也。
如此則過者退，抑者進，金得平其木，而東西二方無復偏勝偏虧之患矣。越人之意，
大抵謂東方過於實，而西方之氣不足。故瀉火以抑其木，補水以濟其金。
是乃使金得與木相停。故曰欲令金得平木也。若曰欲令金不得平木，則前後文義窒礙，
竟說不通，使肝木不過，肺金不虛，復瀉火補水，不幾於實實虛虛耶！
八十一難文義，正與此互相發明，九峰蔡氏謂水火金木土穀惟修，取相勝以洩其過，
其意亦同。故結句云：不能治其虛，何問其餘？若為知常而不知變者之戒也。
此篇大意，在肝實肺虛，瀉火補水上。○或問子能令母實，母能令子虛，
當瀉火補土為是。蓋子有餘則不食母之氣，母不足則不能蔭其子，瀉南方火，
乃奪子之氣，使食母之有餘，補中央土，則益母之氣，使得以蔭其子也。
今乃瀉火補水何歟？曰：此越人之妙，一舉而兩得之者也。且瀉火一則以奪木之氣，
一則以去金 之克，補水一則以益金之氣，一則以制火之光，若補土則一於助金而已，
不可施於兩用，此所以不補土而補水也。或又問母能令子實，子能令母虛。
五行之道也。今越人乃謂子能令母實，母能令子虛何哉。曰：是各有其說也。
母能令子實，子能令母虛者，五行之生化，子能令母實，母能令子虛者，鍼家之予奪，
固不相侔也。○四明陳氏曰：仲景云：木行乘金名曰橫。內經曰：氣有餘，
則制己所勝 而侮所不勝。木實金虛，是木橫而凌金，侮所不勝也。木實本以金平之，
然以其氣正強而橫，金平之，則兩不相伏而戰，戰則實者亦傷，虛者亦敗，
金虛本資氣於土，然其時土亦受制，未足以資之。故取水為金之子，又為木之母，
於是瀉火補水，使水勝火，則火餒而取氣於木，木乃減而不復實，水為木母。
此母能令子虛也。木既不實，其氣乃平，平則金免木凌，而不復虛，水為金子。
此子能令母實也。所謂金不得平木，不得逕以金平其木，必瀉火補水而旁治之，
使木金之氣自然兩平耳！今按陳氏此說，亦自有理，但為不之一字所纏。
未免牽強費辭，不若直以不字為衍文爾，觀八十一難中，當知金平木一語可見矣。
○王安道曰：余每讀至此，未嘗不歎夫越人之得經旨，而悼夫後世之失經旨也。
先哲有言，凡讀書不可先看註解，且將經文反覆而詳味之，得自家有新意。
卻以註解參校，庶乎經意昭然，而不為他說所蔽，若先看註解，則被其說橫吾胸中，
自家卻無新意矣。余平生佩服此訓，所益甚多，且如難經此篇，其言周備純正，
足為萬世法，後人紛紛之論，其可憑乎。夫實則瀉之，虛則補之，此常道也。
實則瀉其子，虛則補其母，亦常道也。人皆知之，今肝實肺虛，乃不瀉肝而瀉心，
此則人亦知之，至於不補肺補脾而補腎，此則人不能知，惟越人知之耳。
夫子能令母實，母能令子虛，以常情觀之，則曰心實致肝木亦實，此子能令母實也。
脾土虛致肺金亦虛，此母能令子虛也。心火實固由自主，脾土虛乃由肝木制之，
法當瀉心補脾，則肝肺皆平矣。越人則不然，其子能令母實，子謂火，母謂木，
固與常情無異，其母能令子虛，母謂水，子謂木，則與常情不同矣。
故曰水者木之母也。子能令母實一句，言病因也。母能令子虛一句，言治法也。
其意蓋曰：火為木之子，子助其母，使之過分而為病矣。今將何以處之。
惟有補水瀉火之治而已。夫補水者何謂也。蓋水為木之母，若補水之虛，使力可勝火，
火勢退而木勢亦退，此則母能虛子之義，所謂不治之治也。（此虛字，
與精氣奪則虛之虛字不同，彼虛謂耗其真而致虛，此虛謂抑其過而欲虛之也。）
若曰不然，則母能令子虛一句，將歸之脾肺乎，既歸於脾肺，今何不補脾乎。
夫五行之道，其所畏者，畏所剋耳！今火大王，水大虧，火何畏乎，惟其無畏，
則愈王而莫能制，苟非滋水以求勝之，孰能勝也。水勝火三字，此越人寓意處。
細觀之，勿輕忽也。雖瀉火補水並言，然其要又在補水耳！後人乃言獨瀉火，
而不用補水。又曰瀉火即是補水，得不大違越人與經之意乎，若果不用補水，
經不必言補北方，越人不必言補水矣。雖水不虛，而火獨暴王者，固不必補水亦可也。
若先因水虛而致火王者，不補水可乎。水虛火王而不補水，則藥至而暫息，
藥過而復作，將積年累月，無有窮已，安能絕其根哉，雖苦寒之藥，通為抑陽扶陰，
不過瀉火邪而已，終非腎藏本藥，不能滋養北方之真陰也。欲滋真陰，舍地黃，
黃蘗之屬不可也。且夫肝之實也。其因有二，心助肝，肝實之一因也。肺不能制肝，
肝實之二因也。肺之虛也。其因亦有二，心克肺，肺虛之一因也。
脾受肝克而不能生肺，肺虛之二因也。今補水而瀉火，火退則木氣削，
又金不受剋而制木，東方不實矣。金氣得平，又土不受克而生金，西方不虛矣。
若以虛則補母言之，肺虛則當補脾，豈知肝氣正盛，剋土之深。
雖每日補脾安能敵其正盛之勢哉。縱使土能生金，金受火克，亦所得不償所失矣。
此所以不補土而補水也。或疑木王補水，恐水生木而木愈王。故聞獨瀉火不補水論，
忻然而從之，殊不知木已王矣。何待生乎。況水之虛，雖峻補尚不能復其本氣，
安有餘力生木哉。若能生木，則能勝火矣。或又謂補水者，欲其不食於母也。
不食於母，則金氣還矣。豈知火克金，土不生金，金之虛已極，尚不能自給，
水雖欲食之，何所食乎？若如此，則金虛不由於火之剋，土之不生，而由於水之食爾，
豈理也哉，縱水不食金，金亦未必能復常也。金不得平木一句，多一不字。
所以瀉火補水者，正欲使金得平木也。不字當刪去，不能治其虛，何問其餘，
虛指肺虛而言也。瀉火補水，使金得平木，正所謂能治其虛，不補土，不補金，
乃瀉火補水，使金自平，此法之巧而妙者，苟不能曉此法，而不能治此虛，
則不須問其他，必是無能之人矣。故曰不能治其虛，何問其餘？
若夫上文所謂金木水火土更相平之義，不勞解而自明，茲故弗具也。夫越人亞聖也。
論至於此，敢不歛衽，但恨說者之斁蝕。故辯之。（武按滑氏受針法於東平高洞陽，
故以鍼法補瀉註，豈王氏不習鍼。故以用藥論，而補瀉之理明矣。
若經旨則鍼藥皆通。）
七十二難曰：經言能知迎隨之氣，可令調之，調氣之方，必在陰陽，何謂也？
然所謂迎隨者，知榮衛之流行，經脈之往來也。隨其順逆而取之，故曰迎隨。
滑氏曰：迎隨之法，補瀉之道也。迎者迎而奪之，隨者隨而濟之，然必知榮衛之流行，
經脈之往來，榮衛流行，經脈往來，其義一也。知之而後可以視夫病之逆順，
隨其所當而為補瀉也。○四明陳氏曰：迎者，迎其氣之方來而未盛也。以瀉之，隨者，
隨其氣之方往而未虛也。以補之，愚按迎隨有二，有虛實迎隨，有子母迎隨。
陳氏之說：虛實迎隨也。若七十九難所載，子母迎隨也。
調氣之方，必在陰陽，知其內外表裡，隨其陰陽而調之。故曰調氣之方，必在陰陽。
滑氏曰：在，察也。內為陰，外為陽，表為陽，裡為陰，察其病之在陰在陽而調之也。
楊氏曰：調氣之方，必在陰陽者，陰虛陽實，則補陰瀉陽，陽虛陰實，則補陽瀉陰，
或陽并於陰，陰并於陽，或陰陽俱虛俱實，皆隨其所見而調之。謝氏曰：男外女內，
表陽裡陰，調陰陽之氣者，如從陽引陰，從陰引陽，陽病治陰，陰病治陽之類也。
七十九難曰：經言迎而奪之，安得無虛，隨而濟之，安得無實，虛之與實，若得若失，
實之與虛。若有若無，何謂也？
滑氏曰：出靈樞第一篇，得，求而獲也。失，縱也。遺也。其第二篇曰：言實與虛，
若有若無者，謂實者有氣，虛者無氣也。言虛與實，若得若失者。
謂補者佖然若有得也。瀉者怳然若有失也。即第一篇之義。
然迎而奪之者，瀉其子也。隨而濟之者，補其母也。假令心病，瀉手心主俞，
是謂迎而奪之者也。補手心主井，是謂隨而濟之者也。
滑氏曰：迎而奪之者瀉也。隨而濟之者補也。假令心病，心火也。土為火之子，
手心主之俞大陵也。實則瀉之，是迎而奪之也。木者火之母，手心主之井中衝也。
虛則補之，是隨而濟之也。迎者迎於前，隨者隨其後，此假心為例，而補瀉，
則云手心主，即靈樞所謂少陰無俞者也。當與六十六難並觀。○潔古曰：呼吸出納，
亦名迎隨也。
所謂實之與虛者，牢濡之意也。氣來實牢者為得，濡虛者為失。故曰若得若失也。
滑氏曰：氣來實牢濡虛，以隨濟迎奪而為得失也。前云虛之與實，若得若失，
實之與虛，若有若無，此言實之與虛，若得若失。蓋得失有無，義實相同，
互舉之省文耳！
八十一難曰：經言有見如入，有見如出者，何謂也？然所謂有見如入者。
謂左手見氣來至乃內鍼，鍼入見氣盡乃出鍼，是謂有見如入，有見如出也。
滑氏曰：所謂有見如入下，當欠有見如出四字，如，讀為而，孟子書，望道而未之見，
而讀為如。蓋通用也。○有見而入出者，謂左手按穴，待氣來至乃下鍼，
鍼入候其氣應盡而出鍼也。○紀氏曰：鍼之出入，皆隨氣往來。素問曰：見其烏烏，
見其稷稷，從見其飛，不知其誰，伏如橫努，起如發機是也。（素問寶命全形論文）</p>
<h4>二  補瀉相反</h4>
<p>八十一難曰：經言無實實虛虛，損不足而益有餘，是寸口脈耶，將病自有虛實耶！
其損益奈何？然是病，非謂寸口脈也。謂病自有虛實也。假令肝實而肺虛，肝者木也。
肺者金也。金木當更相平，當知金平木，假令肺實而肝虛微少氣，
用鍼不補其肝而反重實其肺。故曰實實虛虛，損不足而益有餘，此者中工之所害也。
滑氏曰：是病二字，非誤即衍，肝實肺虛，金當平木，如七十五難之說，若肺實肝虛，
則當抑金而扶木也。用鍼者乃不補其肝，而反重實其肺，此所謂實其實而虛其虛，
損不足而益有餘，殺人必矣。中工，猶云粗工也。
十二難曰：五藏脈已絕於內，用鍼者反實其外，五藏脈已絕於外，用鍼者反實其內，
內外之絕，何以別之？然五藏脈已絕於內者，腎肝氣已絕於內也。而醫反補其心肺，
五藏脈已絕於外者，其心肺脈已絕於外也。而醫反補其腎肝，陽絕補陰，陰絕補陽。
是謂實實虛虛，損不足，益有餘，如此死者，醫殺之耳。
滑氏曰：靈樞第一篇曰：凡將用鍼者，必先診脈，視氣之劇易。
乃可以治也又第三篇曰：所謂五藏之氣已絕於內者，脈口氣內絕不至，反取外之病處，
與陽經之合，有留鍼以致其陽氣，陽氣至則內重竭，重竭則死矣。其死也。
無氣以動故靜，所謂五藏之氣已絕於外者，脈口氣外絕不至，反取其四末之輸，
有留鍼以致其陰氣，陰氣至則陽氣反入，入則逆，逆則死矣。其死也。陰氣有餘故躁，
此靈樞 以脈口內外言陰陽也。越人以心肺腎肝內外別陰陽，其理亦猶是也。
紀氏謂此篇言鍼法，馮氏謂合入用鍼補瀉之類。</p>
<h4>三  鍼刺淺深</h4>
<p>七十難曰：春夏刺淺，秋冬刺深者，何謂也？然春夏者，陽氣在上，人氣亦在上，
故當淺取之，秋冬者，陽氣在下，人氣亦在下。故當深取之。
滑氏曰：春夏之時，陽氣浮而上，人之氣亦然。故刺之當淺，欲其無太過也。
秋冬之時，陽氣沉而下，人之氣亦然。故刺之當深，欲其無不及也。經曰：必先歲氣，
無伐天和，此之謂也。四明陳氏曰：春氣在毛，夏氣在皮，秋氣在分肉，冬氣在骨髓，
是淺深之應也。
七十一難曰：經言刺榮無傷衛，刺衛無傷榮，何謂也？然鍼陽者，臥鍼而刺之。
刺陰者，先以左手攝按所鍼榮俞之處，氣散乃內鍼，是謂刺榮無傷衛，刺衛無傷榮也。
滑氏曰：榮為陰，衛為陽，榮行脈中，衛行脈外，各有淺深也。用鍼之道亦然，
鍼陽必臥鍼而刺之者，以陽氣輕浮，過之恐傷於榮也。刺陰者，先以左手按所刺之穴，
良久，令氣散乃內鍼，不然，則傷衛氣也。無毋通，禁止辭。</p>
<h4>四  先後淺深</h4>
<p>七十難曰：春夏各致一陰，秋冬各致一陽，何謂也？然春夏溫，必致一陰者。
初下鍼沉之至腎肝之部，得氣引持之，陰也。秋冬寒，必致一陽者，
初內鍼淺而浮之至心肺之部，得氣推內之陽也。是謂春夏必致一陰，秋冬必致一陽。
滑氏曰：致取也。春夏氣溫，必致一陰者，春夏養陽之義也。
初下鍼即沉之至腎肝之部，俟其得氣，乃引鍼而提之，以至於心肺之分。
所謂致一陰也。秋冬氣寒，必致一陽者，秋冬養陰之義也。初內鍼淺而浮之，
當心肺之部，俟其得氣，推鍼而內之，以達於腎肝之分，所謂致一陽也。
此篇致陰陽之說，越人特推其理有如是者爾，凡用鍼補瀉，自有所宜，
初不必以是相拘也。</p>
<h4>五  井滎俞經合主病</h4>
<p>六十八難曰：五藏六府，各有井滎俞經合，皆何所主？然經言所出為井，所流為滎，
所注為俞，所行為經，所入為合，井主心下滿，滎主身熱，俞主體重節痛，
經主喘咳寒熱，合主逆氣而洩，此五藏六府井滎俞經合所主病也。
滑氏曰：主，主治也。井，谷井之井，水源之所出也。滎絕小水也。井之源本微，
故所流尚小而為滎，俞，輸也。注也。自滎而注，乃為俞也。由俞而經過於此。
乃謂之經，由經而入於所合，謂之合，合者會也。靈樞第一篇曰：五藏五俞，
五五二十五俞，六府六俞，六六三十六俞。（此俞字，空穴之總名，凡諸空穴，
皆可以言俞。）經脈十二，絡脈十五，凡二十七氣所行，皆井滎俞經合之所係，
而所主病各不同，井主心下滿，肝木病也。足厥陰之支，從肝別貫鬲，上注肺。
故井主心下滿，滎主身熱，心火病也。俞主體重節痛，脾土病也。經主喘欬寒熱，
肺金病也。合主逆氣而泄，腎水病也。謝氏曰：此舉五藏之病各一端為例，
餘病可以類推而互取也。不言六府者，舉藏足以該之。○項氏曰：井象水之泉，
滎象水之陂，俞象水之窬，經象水之流，合象水之歸，皆取水之義也。○紀氏曰：
井之所治，不以五藏六府，皆主心下滿，滎之所治，不以五藏六府，皆主身熱，
俞之所治，不以五藏六府，皆主體重節痛，經之所治，不以五藏六府，
皆主喘咳寒熱，合之所治，不以五藏六府，皆主逆氣而泄，俱言藏不言府者，
恐未中理。</p>
<h4>六  四時井滎俞經合刺</h4>
<p>七十四難曰：經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，何謂也？
然春刺井者邪在肝，夏刺滎者邪在心，季夏刺俞者邪在脾，秋刺經者邪在肺，
冬刺合者邪在腎。
滑氏曰：滎俞之繫四時者，以其邪各有所在也。
其肝心脾肺腎，而繫於春夏秋冬者，何謂也。然五藏一病輒有五也。假令肝病，
色青者肝也。臊臭者肝也。喜酸者肝也。喜呼者肝也。喜泣者肝也。其病眾多，
不可盡言也。四時有數，而並繫於春夏秋冬者也。鍼之要妙，在于秋毫者也。
滑氏曰：五藏一病，不止於五，尤眾多也。雖其眾多，而四時有數。
故並繫於春夏秋冬，及井滎俞經合之屬也。用鍼者，必精察之。○詳此篇文義，
似有缺誤，今且依此解之，以俟知者。</p>
<h4>七  藏府滎俞合皆以井為始</h4>
<p>六十三難曰：十變言五藏六府滎合，皆以井為始者，何也？然井者東方春也。
萬物之始生，諸蚑行喘息蜎飛蠕動當生之物，莫不以春生。故歲數始於春，
日數始於甲。故以井為始也。蚑去知切蠕音軟。
滑氏曰：十二經所出之穴，皆謂之井，而以為滎俞之始者，以井主東方木，木者春也。
萬物發生之始，諸蚑者行，喘者息，息謂噓吸氣也。公孫弘傳，作蚑行喙息，
義尤明白，蜎者飛，蠕者動，皆蟲豸之屬，凡當生之物，皆以春而生。
是以歲之數則始於春，日之數則始於甲，人之滎合則始於井也。馮氏曰：井，
谷井之井，泉源之所出也。四明陳氏曰：經穴之氣所生則自井始，而留滎注俞，
過經入合。故以萬物及歲月日數之始為譬也。</p>
<h4>八  藏府井滎為五六</h4>
<p>六十二難曰：藏井滎有五，府獨有六者，何謂也？然府者陽也。三焦行於諸陽，
故置一俞，名曰原，府有六者，亦與三焦共一氣也。
滑氏曰：藏之井滎有五，謂井滎俞經合也。府之井滎有六，以三焦行於諸陽，
故又置一俞而名曰原，所以府有六者，與三焦共一氣也。虞氏曰：此篇疑有缺誤，
當與六十六難參考。</p>
<h4>九  陰陽井滎木金相生不同</h4>
<p>六十四難曰：十變又言陰井木，陽井金，陰滎火，陽滎水，陰俞土，陽俞木，陰經金，
陽經火，陰合水，陽合土。
經金，陽經火，陰合水，陽合土。
滑氏曰：十二經起於井穴，陰井為木。故陰井木生陰滎火，陰滎火生陰俞土，
陰俞土生陰經金，陰經金生陰合水，陽井為金。故陽井金生陽滎水，陽滎水生陽俞木，
陽俞木生陽經火，陽經火生陽合土。
陰陽皆不同，其意何也。然是剛柔之事也。陰井乙木，陽井庚金，陽井庚金者，
乙之剛也。陰井乙木者，庚之柔也。乙為木。故言陰井木也。庚為金。故言陽井金也。
餘皆倣此。
滑氏曰：剛柔者，乙庚之相配也。十干所以自乙庚而言者。蓋諸藏府穴，皆始於井，
而陰脈之井始於乙木，陽脈之井始於庚金。故自乙庚而言剛柔之配。
而其餘五行之配，皆倣此也。丁氏曰：剛柔者，謂陰井木，陽井金，庚金為剛，
乙木為柔，陰滎火，陽滎水，壬水為剛，丁火為柔，陰俞土，陽俞木，甲木為剛，
己土為柔，陰經金，陽經火，丙火為剛，辛金為柔，陰合水，陽合土，戊土為剛，
癸水為柔。蓋五行之道，相生者母子之義，相剋相制者夫婦之類。故夫道皆剛，
婦道皆柔，自然之理也。易曰：分陰分陽，迭用柔剛，其是之謂歟。</p>
<h4>十  出井入合</h4>
<p>六十五難曰：經言所出為井，所入為合，其法奈何？然所出為井，井者東方春也。
萬物之始生。故言所出為井也。所入為合，合者北方冬也。陽氣入藏，
故言所入為合也。
滑氏曰：此以經穴之流注始終言也。</p>
<h4>十一  欲刺井當刺滎</h4>
<p>七十三難曰：諸井者，肌肉淺薄，氣少不足使也。刺之奈何？然諸井者木也。
滎者火也。火者木之子，當刺井者，以滎瀉之。故經言，補者不可以為瀉，
瀉者不可以為補，此之謂也。
滑氏曰：諸經之井，皆在手足指梢，肌肉淺薄之處，氣少不足使為補瀉也。
故設當刺井者，只瀉其滎，以井為木，滎為火，火者木之子也。詳越人此說，
專為瀉井者言也。若當補井，則必補其合。故引經言，補者不可以為瀉，
瀉者不可以為補，各有攸當也。補瀉反則病益篤，而有實實虛虛之患，可不謹哉。
（武按，滑氏謂經意為瀉井而補，補井補合之言，端自瀉南方補北方意也。）</p>
<h4>十二  經脈流注</h4>
<p>二十三難曰：經脈十二，絡脈十五，何始何窮也？然經脈者，行血氣，通陰陽，
以滎於身者也。其始從中焦注手太陰陽明，陽明注足陽明太陰，太陰注手少陰太陽，
太陽注足太陽少陰，少陰注手心主少陽，少陽注足少陽厥陰，厥陰復還注手太陰，
別絡十五，皆因其原，如環無端，轉相灌溉，朝於寸口人迎，以處百病，而決死生也。
滑氏曰：因者隨也。原者始也。朝猶朝會之朝，以用也。因上文經脈之尺度，
而推言經絡之行度也。直行者謂之經，旁出者謂之絡，十二經有十二絡，
兼陽絡陰絡脾之大絡，為十五絡也。謝氏曰：始從中焦者。蓋謂飲食入口藏于胃，
其精微之化，注手太陰陽明，以次相傳，至足厥陰，厥陰復還注手太陰也。絡脈十五，
皆隨十二經脈之所始，轉相灌溉，如環之無端，朝寸口人迎，以之處百病，
而決死生也。寸口人迎，古法以俠喉兩傍動脈為人迎。
至晉王叔和直以左手關前一分為人迎，右手關前一分為氣口，後世宗之，
愚謂昔人所以取人迎氣口者。蓋人迎為足陽明胃經，受穀氣而養五藏者也。
氣口為手太陰肺經，朝百脈而平權衡者也。○此事難知云：寅手太陰肺，始於中焦，
終於大指內廉出其端；卯手陽明大腸，始於手大指次指之端，終於上俠鼻孔；
辰足陽明胃，始於鼻交頞中，終於入大指間出其端；已足太陰脾，始於足大指之端，
終於注心中；午手少陰心，始於心中，終於小指之內出其端；未手太陽小腸，
始於小指之端，終於抵鼻至目內眥，斜絡於顴。申足太陽膀胱，始於目內眥，
終於小指內側出其端；酉足少陰腎，始於小指之下，終於注胸中；戌手厥陰心包，
始於胸中，終於循小指次指出其端；亥手少陽三焦，始於小指次指之端，終於目銳眥；
子足少陽膽，始於目銳眥，終於小指次指內出其端，其支者，上入大指歧骨內出其端，
貫爪甲出三毛；丑足厥陰肝，始於大指聚毛之上，終於注肺中。</p>
<h4>十三  奇經八脈</h4>
<p>二十七難曰：脈有奇經八脈者，不拘於十二經，何也？然有陽維，有陰維，有陽蹻，
有陰蹻，有衝，有督，有任，有帶之脈。凡此八脈者，皆不拘於經。故曰奇經八脈也。
滑氏曰：脈有奇常，十二經者常脈也。奇經八脈，則不拘於十二經。故曰奇經，
奇對正而言，猶兵家之云奇正也。虞氏曰：奇者奇零之奇，不偶之義。
謂此八脈不係於正經陰陽，無表裡配合，別道奇行。故曰奇經也。此八脈者。
督脈督於後，任脈任於前，衝脈為諸陽之海，陰陽維則維絡於身，帶脈束之如帶，
陽蹻得之太陽之別，陰蹻本諸少陰之別云：
經有十二，絡有十五，凡二十七氣，相隨上下，何獨不拘於經也？然聖人圖設溝渠，
通利水道，以備不然，天雨降下，溝渠溢滿，當此之時，霶沛妄作，聖人不能復圖也。
此絡脈滿溢，諸經不能拘也。
滑氏曰：經絡之行，有常度矣。奇經八脈則不能相從也。故以聖人圖設溝渠為譬，
以見絡脈滿溢，諸經不能復拘，而為此奇經也。然則奇經蓋絡脈之滿溢而為之者歟，
或曰此絡脈三字，越人正指奇經而言也。既不拘於經，直謂之絡脈亦可也。此篇兩節，
舉八脈之名，及所以為奇經之義。
二十八難曰：其奇經八脈者，既不拘於十二經，皆何起何繼也？然督脈者。
起於下極之俞，並於脊裡，上至風府，入屬於腦，任脈者，起於中極之下，以上毛際，
循腹裏，上關元，至喉咽，衝脈起於氣衝，並足陽明之經，夾臍上行，至胸中而散也。
帶脈者，起於季脇，迴身一周，陽蹻脈者，起於跟中，循外踝上行，入風池，
陰蹻脈者，亦起於跟中，循內踝上行至咽喉，交貫衝脈，陽維陰維者，維絡於身，
溢畜不能環流灌溉諸經也。故陽維起於諸陽會也。陰維起於諸陰交也。
比於聖人圖設溝渠，溝渠滿溢，流於深湖。故聖人不能拘通也。而人脈隆盛，
入於八脈，而不環周。故十二經亦不能拘之，其受邪氣畜則腫熱砭射之也。
滑氏曰：繼，脈經作繫。○督之為言都也。為陽脈之海，所以都綱乎陽脈也。
其脈起下極之俞，由會陰歷長強，循脊中行至大椎穴，與手足三陽之脈交會，
上至瘖門與陽維會，至百會與太陽交會，下至鼻柱人中與陽明交會。
任脈起於中極之下曲骨穴，任者妊也。為人生養之本，衝脈起於氣衝穴，至胸中而散，
為陰脈之海，內經作並足少陰之經，按衝脈行於幽門通谷而上，皆少陰也。當從內經，
此督任衝三脈，皆起於會陰。蓋一源而分三歧也。帶脈起於季脇下一寸八分，
回身一周，猶束帶然，陽蹻脈起於足跟中申脈穴，循外踝而行。
陰蹻脈則起於跟中照海穴，循內踝而行，蹻揵也。以二脈皆起於足。
故取蹻揵超越之義，陽維陰維，維絡於身，為陰陽之綱維也。陽維所發，別於金門，
以陽交為郄，與手足太陽及蹻脈會於臑俞，與手足少陽會於天窌，及會肩井，
與足少陽會於陽白，上本神臨泣正營腦空，下至風池，與督會於風府瘂門，
此陽維之起於諸陽會也。陰維之郄曰築賓，與足太陰會於腹哀大橫。
又與足太陰厥陰會於府舍期門，又與任脈會於天突廉泉，此陰維起於諸陰之交也。
溢畜不能環流灌溉諸經者也十二字，當在十二經亦不能拘之之下，則於此無所間，
而於彼得相從矣。其受邪氣畜云云十二字，謝氏則以為於本文上下當有缺文，
然脈經無此，疑衍文也。或云當在三十七難關格不得盡其命而死矣之下，
因邪在六府而言也。</p>
<h4>十四  十五絡脈</h4>
<p>二十六難曰：經有十二，絡有十五，餘三絡者，是何等絡也。然有陽絡，有陰絡，
有脾之大絡，陽絡者，陽蹻之絡也。陰絡者，陰蹻之絡也。故絡有十五焉。滑氏曰：
直行者謂之經，傍行者謂之絡，經猶江漢之正流，絡則沱潛之支派，每經皆有絡，
十二經有十二絡，如手太陰屬肺絡大腸，手陽明屬大腸絡肺之類。今云絡有十五者，
以其有陽蹻之絡，陰蹻之絡，及脾之大絡也。陽蹻陰蹻，見二十八難，謂之絡者，
蓋奇經既不拘於十二經，直謂之絡亦可也。脾之大絡，名曰大包，出淵液三寸，
布胸脇，其動應衣，脈宗氣也。四明陳氏曰：陽蹻之絡統諸陽絡。
陰蹻之絡能統諸陰絡，脾之大絡，又總統陰陽諸絡，由脾之能溉養五藏也。</p>
<h4>十五  奇經病</h4>
<p>二十九難曰：奇經之為病何如？然陽維維於陽，陰維維於陰，陰陽不能自相維，
則悵然失志，溶溶不能自收持，陽維為病，苦寒熱，陰維為病，苦心痛，陰蹻為病，
陽緩而陰急，陽蹻為病，陰緩而陽急，衝之為病，逆氣而裡急，督之為病，脊強而厥，
任之為病，其內苦結，男子為七疝，女子為瘕聚，帶之為病，腹滿，腰溶溶若坐水中，
此奇經八脈之為病也。
滑氏曰：此言奇經之病也。陰不能維於陰，則悵然失志，陽不能維於陽，
則溶溶不能自收持，陽維行諸陽而主衛，衛為氣，氣居表。故苦寒熱，
陰維行諸陰而主榮，榮為血，血屬心。故苦心痛，兩蹻脈病，在陽則陽結急，
在陰則陰結急，受病者急，不病者自和緩也。衝脈從關元至咽喉。故逆氣裡急，
督脈行背。故脊強而厥，任脈起胞門行腹。故病苦內結，男為七疝，女為瘕聚也。
帶脈回身一周。故病狀如是，溶溶，無力貌，此各以其經脈所過而言之，
自二十七難至此，義實相因，最宜通玩。</p>
<h4>十六  十二經以原為俞三焦以俞為原</h4>
<p>六十六難曰：經言肺之原出於太淵，心之原出於大陵，肝之原出於太衝，
脾之原出於太白，腎之原出於太谿，少陰之原出於兌骨，神門穴也膽之原出於丘墟，
胃之原出於衝陽，三焦之原出於陽池，膀胱之原出於京骨，大腸之原出於合谷，
小腸之原出於腕骨。
滑氏曰：肺之原太淵至腎之原太谿，見靈樞第一篇，其第二篇曰：肺之俞太淵，
心之俞大陵，肝之俞太衝，脾之俞太白，腎之俞太谿，膀胱之俞束骨，過於京骨為原，
膽之俞臨泣，過於丘墟為原，胃之俞陷谷，過於衝陽為原，三焦之俞中渚，
過於陽池為原，小腸之俞後谿，過於腕骨為原，大腸之俞三間，過於合谷為原，
蓋五藏陰經，止以俞為原，六府陽經，既有俞，仍別有原。或曰：
靈樞以大陵為心之原，難經亦然，而又別以兌骨為少陰之原，諸家鍼灸書，
並以大陵為手厥陰心主之俞，以神門在掌後兌骨之端者，為心經所注之俞，
似此不同者何也。按靈樞七十一篇曰：少陰無輸，心不病乎。歧伯曰：
其外經病而藏不病。故獨取其經於掌後兌骨之端也。其餘脈出入屈折，其行之疾徐，
皆如手少陰心主之脈行也。又第二篇曰：心出於中衝，溜於勞宮，注於大陵，
行於間使，入於曲澤，手少陰也。（按中衝以下，並手心主經俞，靈樞直指為手少陰，
而手少陰經俞，不別載也。）又素問繆刺篇曰：刺手心主少陰兌骨之端各一痏，立已。
又氣穴篇曰：藏俞五十穴，王氏主五藏俞惟有心包經井俞之穴，而亦無心經井俞穴，
又七十九難曰：假令心病，瀉手心主俞，補手心主井，詳此前後各經文義，
則知手少陰與心主同治也。
十二經皆以俞為原者，何也？然五藏俞者，三焦之所行，氣之所留止也。
三焦所行之俞為原者，何也？然臍下腎間動氣者，人之生命也。十二經之根本也。
故名曰原，三焦者，原氣之別使，主通行三氣，經歷於五藏六府，原者三焦之尊號也。
故所止輒為原，五藏六府之有病者，皆取其原也。
滑氏曰：十二經皆以俞為原者，以十二經之俞皆係於三焦所行氣所留止之處也。
三焦所行之俞為原者，以臍下腎間動氣，乃人之生命，十二經之根本。
三焦則為原氣之別使，主通行上中下之三氣，經歷於五藏六府也。通行三氣。
即紀氏所謂下焦稟真元之氣，即原氣也。上達至於中焦，中焦受水穀精悍之氣，
化為榮衛，榮衛之氣與真元之氣通行達於上焦也。所以原為三焦之尊號，
而所止輒為原，猶警蹕所至，稱行在所也。五藏六府之有病者，皆於是而取之，宜哉，
拔萃云：本經原穴無經絡逆從，子母補瀉，凡刺原穴，診見動作來應而內鍼，
吸則得氣，無令出鍼，停而久留，氣盡乃出，此拔原之法。王海藏曰：
假令鍼肝經病了，於本經原穴亦鍼一鍼，如補肝經來，亦於本經原穴補一鍼，
如瀉肝經來，亦於本經原穴瀉一鍼，如餘經有補瀉畢，倣此例，亦補瀉各經原穴。
凡此十二原，非瀉子補母之法，虛實通用。故五藏六府有病，皆取其原。
六十七難曰：五藏募皆在陰而俞在陽，何謂也？然陰病行陽，陽病行陰。故令募在陰，
俞在陽。
滑氏曰：募與俞，五藏空穴之總名也。在腹為陰，則謂之募，在背為陽，則為之俞，
募猶募結之募，言經氣之聚於此也。俞史記扁鵲傳作輸，猶委輸之輸，
言經氣由此而輸於彼也。五藏募在腹，肺之募中府二穴，在胸部雲門下一寸，
乳上三肋間動脈陷中，心之募巨闕一穴，在鳩尾下一寸，脾之募章門二穴，
在季脇下直臍，肝之募期門二穴，在不容兩旁各一寸五分，腎之募京門二穴，
在腰中季脇，本五藏俞在背，行足太陽之經，肺俞在第三椎下，心俞在五椎下，
肝俞在九椎下，脾俞在十一椎下，腎俞在十四椎下，皆俠脊兩旁各一寸五分，
陰病行陽，陽病行陰者，陰陽經絡，氣相交貫，藏府腹背，氣相通應。
所以陰病有時而行陽，陽病有時而行陰也。鍼法曰：從陽引陰，從陰引陽。
（按經言行陽行陰，是必然者，而滑注則言有時，似或然也。似非經旨也。）</p>
<h4>十七  八會刺穴</h4>
<p>四十五難曰：經言八會者，何謂也？然府會太倉，藏會季脇，筋會陽陵泉，髓會絕骨，
血會鬲俞，骨會大杼，脈會太淵，氣會三焦外一筋直兩乳內也。熱病在內者，
取其會之氣穴也。
滑氏曰：太倉一名中脘，在臍上四寸，六府取稟於胃。故為府會，季脇章門穴也。
在大橫外直臍季肋端，為脾之募，五藏取稟於脾。故為藏會。
足少陽之筋結於膝外廉，陽陵泉也。在膝下一寸外廉陷中，又膽與肝為配，
肝者筋之合。故為筋會。絕骨一名陽輔，在足外踝上四寸，輔骨前絕骨端如前三分，
諸髓皆屬於骨。故為髓會。鬲俞在背第七椎下，去脊兩旁各一寸半，
足太陽脈氣所發也。太陽多血，又血乃水之象。故為血會。大杼在項後第一椎下，
去脊兩旁各一寸，太淵在掌後陷中動脈，即所謂寸口者，脈之大會也。
氣會三焦外一筋直兩乳內，即膻中，為氣海者也。在玉堂下一寸六分，熱病在內者，
各視其所屬而取之會也。謝氏曰：三焦當作上焦。四明陳氏曰：髓會絕骨，髓屬於腎，
腎主骨，於足少陽無所關，腦為髓海，腦有枕骨穴，則當會枕骨，絕骨誤也。
血會鬲俞，血者心所統，肝所藏，鬲俞在七椎下兩旁，上則心俞，下則肝俞，
故為血會，骨會大杼，骨者髓所養，髓自腦下注於大杼，大杼滲入脊心，下貫尾骶，
滲諸骨節。故骨節之氣，皆會於此，亦通。古益袁氏曰：人能健步，以髓會絕骨也。
肩能任重，以骨會大杼也。</p>
<h4>十八  上工下工治病</h4>
<p>七十七難曰：經言上工治未病，中工治已病，何謂也？然所謂治未病者，見肝之病，
則知肝當傳之於脾。故先實其脾氣，無令得受肝之邪。故曰治未病焉，中工治已病者，
見肝之病，不曉相傳，但一心治肝。故曰治已病也。
滑氏曰：見肝之病，先實其脾，使邪無所入，治未病也。是為上工，見肝之病，
一心治肝，治已病也。是為中工，靈樞五十五篇曰：上工刺其未生也。
其次刺未盛者也。其次刺已衰者也。下工刺其方襲者也。與其形之盛者也。
與其病之與脈相逆者也。故曰方其盛也。勿敢必毀傷，因其衰也。事乃大昌，
故曰上工治未病，不治已病，此之謂也。
明  四明  高 武 撰  述</p>
<h2>卷二上</h2>
<h3>靈素</h3>
<h4>一  用鍼方宜</h4>
<p>帝曰：醫之治病也。一病而治各不同，何也？歧伯曰：地氣使然也。故東方之域，
天地之所始生也。魚鹽之地，海濱傍水，其民食魚而嗜鹹，皆安其處，美其食，
魚者使人熱中，鹽者勝血。故其民黑色理疎，其病皆為癰瘍，音羊其治宜砭者，
故砭石者，亦從東方來。○南方者，天地所長養之盛處也。其地下，水土弱，
霧露之所聚也。其民嗜酸而食胕，其民皆緻理而赤色，其病攣痺，其治宜微鍼，
故九鍼亦從南方來。○形樂志苦，病生於內，治之以鍼石。</p>
<h4>二  九鍼式</h4>
<p>帝曰：鍼之長短有數乎！歧伯對曰：一曰鑱鍼，取法巾鍼，頭大末銳，去末寸半，
卒銳之長一寸六分；二曰員鍼，取法於絮鍼，筩音同其身而卵其鋒，鍼如卵形，
員其末，長一寸六分；三曰鍉音低鍼，取法於黍粟之銳，長三寸半。四曰鋒鍼，
取法於絮鍼，筩其身，鋒其末，刃三隅，長一寸六分；五曰鈹音彼鍼，取法於劍鋒，
末如劍，廣二寸半，長四寸；六曰員利鍼，取法於𣮖，鍼大如𣮖，且員且銳，
微大其末，反小其身，又曰中身微大，長一寸六分；七曰毫鍼，取法於毫毛，
尖如蚊虻喙，長一寸六分；八曰長鍼，取法於綦鍼，鋒利身薄，長七寸；九曰大鍼，
取法於鋒鍼，尖如挺，其鋒微員鍼形畢矣。此九鍼之長短也。</p>
<h4>三  九鍼應天地人時以起用</h4>
<p>岐伯曰：夫聖人之起天之數也。一而九之。故以主九野，九而九之，九九八十一，
以起黃鍾數焉，以鍼應數也。帝曰：以鍼應九數奈何？歧伯曰：一者天也。
天者陽也。五藏之應天者肺，肺者五藏六府之蓋也。皮者肺之合也。人之陽也。
故為之治鍼，必大其頭而銳其末，令無得深入，而陽氣出，二者地也。
人之所以應土者肉也。故為之治鍼，必筩其身而員其末，令毋得傷肉分，傷則氣得竭，
三者人也。人之所以成生者血脈也。故為之治鍼必大其身而員其末，令可以按末勿陷，
以致其氣，令邪氣獨出，四者時也。時者四時八風之客於經絡之中，為瘤病也。
故為之治鍼，必筩其身而銳其末，令可以瀉熱出血，而痼病竭，五者音也。
音者冬夏之分，分於子午，陰與陽別，寒與熱爭，兩氣相搏，合為癰膿者也。
故為之治鍼必令其末如劍鋒，可以取大膿，六者律也。律者調陰陽四時而合十二經脈，
虛邪客於經絡而為暴痺者也。故為之治鍼，必令尖如𣮖，且員且銳，中身微大，
以取暴氣，七者星也。星者人之七竅，邪之所客經絡而為痛痺，舍於經絡者也。
故為之治鍼令尖如蚊虻喙，靜以徐往，微以久留，正氣因之，真邪俱往，
出鍼而養者也。八者風也。風者人之股肱八節也。八正之虛風，八風傷人，
內舍於骨解腰脊節腠理之間，為深痺也。故為之治鍼，必長其身，鋒其末，
可以深取遠痺，九者野也。野者人之節解皮膚之間也。淫邪流溢於身，如風水之狀，
而溜不能通於機關大節者也。故為之治鍼，大如挺，其鋒微員，
以取大氣之不能過於關節者也。○一天二地，三人四時，五音六律，七星八風九野，
身形亦應之，鍼有所宜。故曰九鍼：人皮應天，人肉應地，人脈應人，人筋應時，
人聲應音，人陰陽合氣應律，人齒面目應星，人出入氣應風，
人九竅三百六十五絡應野。故一鍼皮，二鍼肉，三鍼脈，四鍼筋，五鍼骨，
六鍼調陰陽，七鍼應精，八鍼除風，九鍼通九竅，除三百六十五節氣，
此之謂有所主也。</p>
<h4>四  九鍼所宜</h4>
<p>九鍼之宜，各有所為，長短大小，各有所施，刺熱者用鑱鍼，刺寒者用毫鍼，
刺大者用鋒鍼，刺小者用員利鍼，刺癰者用鈹鍼。○鑱鍼出瀉陽氣，
員鍼者揩摩分肉間，不得傷肌肉，以瀉分氣，鍉鍼者主按脈勿陷，以致其氣，
令邪氣勿陷，鋒鍼者以發痼疾，鈹鍼者以取大膿，員利鍼者以取暴氣，
毫鍼者靜以徐往，微以久留而養，以取痛痺，長鍼者可以取遠痺，
大鍼者以瀉機關之水。○病在皮膚，取以鑱鍼於病所，膚白勿取，病在分肉間，
取以員利鍼於病所，病在脈氣，少當補之者，取之鍉鍼於井滎分輸，病為大膿者，
取以鈹鍼，病痺氣暴發者，取以員利鍼，病痺氣痛而不去者，取以毫鍼，病在中者，
取以長鍼，水腫不能過關節者，取以大鍼。○以小治小者其功小，以大治大者多害，
故其以成膿血者，其惟砭 石鈹鍼之所取也。</p>
<h4>五  五刺應五藏</h4>
<p>凡刺有五，以應五藏：一曰半刺，半刺者，淺內而疾發鍼，無鍼傷肉，如拔毛狀，
以取皮氣，此肺之應也；二曰豹文刺，豹文刺者，左右前後鍼之，中脈為故，
以取經絡之血者，此心之應也；三曰關刺，關刺者，直刺左右盡筋上，以取筋痺，
慎無出血，此肝之應也。或曰淵刺，亦曰豈刺；四曰合谷刺，合谷刺者，左右雞足，
鍼於分肉之間，以取肌痺，此脾之應也；五曰輸刺，輸刺者，直入直出，深內之至骨，
以取骨痺，此腎之應也。</p>
<h4>六  九刺應九變</h4>
<p>凡刺有九，以應九變：一曰輸刺，輸刺者，刺諸經滎輸藏俞也；二曰遠道刺，
遠道刺者，病在上取之下，刺府輸也；三曰經刺，經刺者，刺大經之結絡經分也；
四曰絡刺，絡刺者，刺小絡之血脈也。五曰分刺，分刺者，刺分肉之間也；
六曰大瀉刺，大瀉刺者，刺大膿以鈹鍼也；七曰毛刺，毛刺者，刺浮皮毛也；
八曰巨刺，巨刺者，左取右，右取左；九曰焠刺，焠刺者，燔鍼以取痺也。</p>
<h4>七  十二刺應十二經</h4>
<p>凡刺有十二節，以應十二經：一曰偶刺，偶刺者，以手直心若背，直痛所，一刺前，
一刺後，以治心痺，刺此者傍鍼之也；二曰報刺，報刺者，刺痛無常處也。上下行者，
直內無拔鍼，以左手隨病所按之，乃出鍼復刺之也；三曰恢刺，恢刺者，直刺傍之，
舉之前後，恢筋急，以治筋痺；四曰齊刺，齊刺者，直入一，旁入二，
以治寒氣小深者，或曰三刺，三刺者，以治痺氣小深者也。五曰揚刺，揚刺者，
正內一，傍內四，而浮之，以治寒氣之博大者也；六曰直鍼刺，直鍼刺者，
引皮乃刺之，以治寒氣之淺者也；七曰輸刺，輸刺者，直入直出，稀發鍼而深之，
以治氣盛而熱者也；八曰短刺，短刺者，刺骨痺，稍搖而深之，置鍼骨所，
以上下摩骨也。九曰浮刺，浮刺者，傍入而浮之，以治肌急而寒者也；十曰陰刺，
陰刺者，左右率刺之，以治寒厥中寒厥，足踝後少陰也；十一曰傍鍼刺，傍鍼刺者，
直刺傍刺各一，以治留痺久居者也；十二曰贊刺，贊刺者，直入直出，
數發鍼而淺之出血，是謂治癰瘇也。</p>
<h4>八  黑白肥瘦刺</h4>
<p>帝曰：願聞人之黑白肥瘦小長，各有數乎！岐伯曰：年質壯大，血氣充盈，膚革堅固，
因加以邪，刺此者深而留之，此肥人也。廣肩腋，項肉薄，厚皮而黑色，脣臨臨然，
其血黑以濁，其氣濇以遲，其為人也。貪於取與，刺此者深而留之，多益其數也。
瘦人皮薄色少，肉廉廉然，薄脣輕言，其血氣清，易脫於氣，易損於血，
刺此者淺而疾之。○刺肥人者以秋冬之齊，刺瘦人者以春夏之齊。</p>
<h4>九  刺常人</h4>
<p>曰：刺常人奈何？視其白黑，各為調之，其端正敦厚者，其血氣和調，
刺此者無失常數也。</p>
<h4>十  刺王公大人布衣</h4>
<p>帝曰：夫王公大人，血氣之君，身體柔脆，肌肉軟弱，血氣慓悍滑利，
其刺之淺深疾徐多少何如？岐伯曰：亭粱藿菽之味，何可同也！氣滑即疾出，
其氣濇則出遲，氣悍則鍼小而入淺，氣濇則鍼大而入深，深則欲留，淺則欲疾，
以此觀之，刺布衣者深而留之，刺大人者微以徐之，此皆因其慓悍滑利也。
○寒痺內熱，刺布衣以火焠之，刺大人以藥熨之。</p>
<h4>十一  刺壯士</h4>
<p>帝曰：刺壯士真骨者奈何？歧伯曰：刺壯士真骨堅肉緩節，監監然，
此人重則氣濇血濁，刺此者深而留之，多益其數，勁則氣滑血清，刺此者淺而疾之。</p>
<h4>十二  刺嬰兒</h4>
<p>曰：刺嬰兒奈何？曰：嬰兒者，其肉脆血少氣弱，刺此者以毫鍼，淺刺而疾發鍼，
日再可也。</p>
<h4>十三  刺脈虛實淺深</h4>
<p>脈實者深刺之，以泄其氣，脈虛淺刺之，使精氣無得出，以養其脈，獨出其邪氣。
○刺陰者深而留之，刺陽者淺而疾之。○脈淺者勿刺，按其脈乃刺之，無令精出，
獨出其邪氣耳！脈之所居，深不見者，勿按其脈而刺之，微內鍼而久留之，
以致其孔脈氣也。</p>
<h4>十四  十二經氣血刺</h4>
<p>夫人之常數，太陽常多血少氣，少陰常少血多氣，陽明常多氣多血，少陰常少血多氣，
厥陰常多血少氣，太陰常多氣少血，此天之常數。陽明多血多氣，刺陽明出血氣，
太陽多血少氣，刺太陽出血惡氣，少陽多氣少血，刺少陽出氣惡血，太陰多血少氣，
刺太陰出血惡氣，厥陰多血少氣，刺厥陰出血惡氣，少陰多氣少血，
刺少陰出氣惡血也。</p>
<h4>十五  手足陰陽經脈刺</h4>
<p>足陽明五藏六府之海也。其脈大血多，氣盛壯熱，刺此者不深弗散，不留不瀉也。
足陽明刺深六分，留十呼，足太陽深五分，留七呼，足少陽深四分，留五呼。
足少陰深三分，留四呼，足太陰深二分，留三呼，足厥陰深一分，留二呼，手之陰陽，
其受氣之道近，其氣之來疾，其刺深者，皆無過二分，其留皆無過一呼，
刺而過此者則脫氣。</p>
<h4>十六  補瀉</h4>
<p>帝曰：余聞刺法，有餘瀉之，不足補之。岐伯曰：百病之生，皆有虛實，而補瀉行焉，
○瀉虛補實，神去其室，致邪失正，真不可定，粗之所敗，謂之夭命，補虛瀉實，
神歸其室，久塞其空，謂之良工。○凡用鍼者，隨而瀉之，迎而道之，虛則實之，
滿則瀉之，菀陳則除之，邪勝則虛之，徐而疾則實，疾而徐則虛，言實與虛。
若有若無，察後與先，若存若亡，為虛與實，若得若失，虛實之要，九鍼最妙，
補瀉之時，以鍼為之，瀉曰必持內之，放而出之，排陽得鍼，邪氣得泄，按而引鍼。
是謂內溫，血不得散，氣不得出也。補曰隨之，隨之之意，若妄之，若行若按，
如蚊虻止，如留如還，去如絃絕，令左屬右，其氣故止，外門已閉，中氣乃實，
必無留血，必取誅之，刺之而氣不至，無問其數，刺之而氣至，乃去之，勿復鍼。
○鍼有懸布天下者五，黔首共餘食，莫之知也。一曰治神，二曰知養身，三曰知毒藥，
四曰制砭石大小，五曰知五藏血氣之診，五法俱立，各有所先，今末世之刺也。
虛者實之，滿者泄之，此皆眾工所共知也。若夫法天則地，隨應而動，和之者若響，
隨之者若影，道無鬼神，獨來獨往。帝曰：願聞其道。岐伯曰：凡刺之真，必先治神，
五藏已定，九候已備，後乃存鍼，眾脈不見，眾凶弗聞，外內相得，無以形先，
可玩往來，乃施於人，人有虛實，五虛勿近，五實勿遠，至其當發，間不容矌，
手動若務，鍼耀而勻，靜意視義，觀適之變，是謂冥冥，莫知其形，見其烏烏，
見其稷稷，從見其飛，不知其誰，伏如橫努，起如發機。○刺虛者須其實，
刺實者須其虛，經氣已至，慎守勿失，深淺在志，遠近若一，如臨深淵，手如握虎，
神無營於眾物。○義無邪下，必正其神。○小鍼之要，易陳而難，入粗守形，上守神，
神乎神，客在門，未睹其疾，惡知其原，刺之微，在速遲，粗守關，上守機，機之動，
不離其空，空中之機，清淨而微，其來不可逢，其往不可追，知機之道者，
不可掛以髮，不知機道，叩之不發，知其往來，要與之期，粗之闇乎。妙哉工獨有之，
往者為逆，來者為順，明知逆順，正行無間，迎而奪之，惡得無虛，追而濟之，
惡得無實，迎之隨之，以意和之，鍼道畢矣。○凡用鍼者，虛則實之，滿則泄之，
菀陳則除之，邪勝則虛之。大要曰：徐而疾則實，疾而徐則虛，言實與虛，若有若無，
察後與先，若存若亡，為虛與實，若得若失，虛實之要，九鍼最妙，補瀉之時，
以鍼為之，瀉曰必持內之，放而出之，排陽得鍼，邪氣得泄，按而引鍼，是為內溫，
血不得散，氣不得出也。補曰隨之，隨之意若妄之。若行若按，如蚊虻止，如留如還，
去如絃絕，令左屬右，其氣故止，外門已閉，中氣乃實，必無留血，急取誅之。
○持鍼之道，堅者為寶，正指直刺，無鍼左右，神在秋毫，屬意病者，審視血脈者，
刺之無殆，方刺之時，必在懸陽，乃與兩衛，神屬勿去，知病存亡，血脈者在腧橫居，
視之獨澄，切之獨堅。○刺虛則實之，鍼下熱也。氣實乃熱也。滿而泄之者，
鍼下寒也。菀陳則除之者，出惡血也。邪盛則虛之者，出鍼勿按，徐而疾則實者，
徐出鍼而疾按之，疾而徐則虛者，疾出鍼而徐按之，言實與虛者，寒溫氣多少也。
若無若有者，疾不可知也。察後與先者，知病先後也。為虛與實者，工勿失其法，
若得若失者，離其法也。虛實之要，九鍼最妙者，為其各有所宜也。補瀉之時者，
與氣開闔相合也。九鍼之名，各不同形者，鍼窮其所當補瀉也。刺實須與虛者，
留鍼陰氣隆至，乃去鍼也。刺虛須與實者，陽氣隆至，鍼下熱，乃去鍼也。經氣已至，
慎守勿失者，勿變更也。淺深在志者，知病之內外也。近遠如一者，深淺其候等也。
如臨深淵者，不敢墮也。手如握虎者，欲其壯也。神無營於眾物者，靜志觀病人，
無左右視也。義無邪下者，欲端以正也。必正其神者，欲瞻病人，目制其神，
令氣易行也。○所謂易陳者，易言也。難入者，難著於人也。粗守形者，守刺法也。
上守神者，守人之血氣有餘不足，可補瀉也。神客者，正邪共會也。神者正氣也。
客者邪氣也。在門者，邪循正氣之所出入也。未睹其疾者，先知邪正何經之疾也。
惡知其原者，先知何經之病所取之處也。刺之微在數遲者，徐疾之音也。粗守關者，
守四肢而不知血氣正邪往來也。上守機者，知守氣也。機之動不離其空者。
知氣之虛實，用鍼之徐疾也。空中之機，清淨以微者，鍼以得氣，密意守氣勿失也。
其來不可逢者，氣盛不可補也。其往不可追者，氣虛不可瀉也。不可掛以髮者。
言氣易失也。扣之不發者，言不知補瀉之意也。血氣已盡而氣不下也。知其往來者，
知氣之逆順盛虛也。要與之期者知氣之逆順盛虛也。要與之期者，知氣之可取之時也。
粗之闇者，冥冥不知氣之微密也。妙哉工獨有之者，盡知鍼意也。往者為逆者，
言氣之虛而小，小者逆也。來者為順者，言氣之平，平者順也。明知逆順，
正行無問者，言知所取之處也。逆而奪之者瀉也。追而濟之者補也。所謂虛則實之者，
氣口虛而當補之也。滿則泄之者，氣盛而當瀉之也。苑陳則除之者，去血脈也。
邪勝則虛之者，言諸經有盛者，皆瀉其邪也。徐而疾則實者，言徐內而疾出也。
疾而徐則虛者，言疾內而徐出也。言實與虛，若有若無者，言實者有氣，虛者無氣也。
察後與先，若無若存者，言氣之虛實，補瀉之先後也。察其氣之已下，與常存也。
為虛與實，若得若失者，言補者佖然若有得也。瀉則怳然若有失也。
○是故工之用鍼也。知氣之所在，而守其門戶，明於調氣，補瀉所在，徐疾之意，
所取之處，瀉必用員，切而轉之，其氣乃行，疾而徐出，邪氣乃出，伸而逆之，
搖大其穴，氣出乃疾，補必用方，外引其皮，令當其門，左引其樞，右推其膚，
微旋而徐推之，必端以正，安以靜堅，心無解欲，微以留氣，下而疾出之，
推其皮蓋其外門，神氣乃存，用鍼之要，無忘其神。○瀉必用方者，以氣方盛也。
以月方滿也。以日方溫也。以身方定也。以息方吸而納鍼，及復候其方吸而轉鍼，
乃復候其方呼而徐引鍼。故曰瀉，補必用員者，員者行也。行者移也。刺必中其滎，
復以吸排鍼也。故員與方非鍼也。○瀉實者，氣盛乃內鍼，鍼與氣俱內，以開其門，
如利其戶，鍼與氣俱出，精氣不傷，邪氣乃下，外門不閉，以出其實，搖大其道，
如利其路。是謂大瀉，必切而出大氣乃屈，持鍼叩置，以定其宜，候呼內鍼，
氣出鍼入，鍼空四塞，精無從出，方實而疾出鍼，氣入鍼出，熱不得還，閉塞其門，
邪氣布散，精氣乃得存，動氣候時，近氣不失，遠氣乃來，是謂追之。○吸則內鍼，
無令氣忤，靜以久留，無令邪布，吸則轉鍼，以得氣為故，候呼引鍼，呼盡乃出，
大氣皆出。故命曰瀉，捫而循之，切而散之，推而按之，彈而怒之，爪而下之，
通而取之，外引其門，以閉其神，呼盡內鍼，靜以久留，以氣至為故，如待所貴，
不知日暮，其氣以至，適而自護，候吸引鍼，氣不得出，各在所處，推闔其門，
令神氣存，大氣留止。故命曰補，○補瀉弗失，與天地一，經氣已至，慎守勿失，
淺深在志，遠近如一，如臨深淵，手如握虎，神無營於眾物，持鍼之道，欲端以正，
安以靜，先知虛實而行疾徐，左手執骨，右手循之，無與肉果，瀉欲端以正，
補必閉膚，輔鍼導氣，邪得淫泆，真氣得居。帝曰：捍皮開腠理奈何？岐伯曰：
因其分肉左別其膚，微內而徐端之，適神不散，邪氣得去。○知其氣所在，先得其道，
稀而疎之，稍深以留。故能徐入之，大熱在上，推而下之，上者引而去之，視先痛者，
常先取之，大寒在外，留而補之，入於中者，從合瀉之，上氣不足，推而揚之，
下氣不足，積而從之，寒入於中，推而行之。○夫實者氣入也。虛者氣出也。
氣實者熱也。氣虛者寒也。入實者左手開鍼孔也。入虛者右手閉鍼孔也。○形氣不足，
病氣有餘，是邪勝也。急瀉之，形氣有餘，病氣不足，急補之，形氣不足，病氣不足，
此陰陽俱不足也。不可刺，刺之則重不足，重不足則陰陽俱竭，血氣皆盡，五藏空虛，
筋骨髓枯，老者絕滅，壯者不復矣。形氣有餘，病氣有餘，此謂陰陽俱有餘也。
急瀉其邪，調其虛實。故曰有餘者瀉之，不足者補之，此之謂也。故曰刺不知逆順，
真邪相搏，滿而補之，則陰陽四溢，腸胃充郭，肝肺內䐜，陰陽相錯，虛而瀉之，
則經脈空虛，血氣竭枯，腸胃㒤辟，皮膚薄著，毛腠夭焦，予之死期。○凡用鍼之類，
在於調氣，氣積於胃，以通榮衛，各行其道，宗氣留於海，其下者經於氣衝，
其直者走於息道。故厥在於足，宗氣不下，脈中之血，流而不止，弗之火調，
弗能取之。○散氣可收，聚氣可布，深居靜處，占神往來，閉戶塞牖，魂魄不散，
專意一神，精氣之分，毋聞人聲，以收其精，必一其神，令志在鍼，淺而留之，
微而浮之，以移其神，氣至乃休，男內女外，堅拒勿出，謹守勿內，是謂得氣。
○刺之而氣不至，無問其數，刺之而氣至，乃去之，勿復鍼，鍼各有所宜，各不同形，
各任其所，為刺之要，氣至而有效，效之信，若風之吹雲，明乎若見蒼天，
刺之道畢矣。○用鍼者，必先察其經絡之虛實，切而循之，按而彈之，視其應動者，
乃後取之而下之，六經調者，謂之不病。雖病謂之自已，一經上實下虛而不通者，
此必有橫絡盛，加於大經，令之不通，視而瀉之，此所謂解結也。上寒下熱，
先刺其項太陽，久留之，已刺則熨項與肩胛，令熱下合乃止，此所謂推而上之者也。
上熱下寒，視其脈虛而陷下於經者，取之，氣下乃止，此所謂引而下之者也。
大熱循身，狂而妄見妄聞妄語，視足陽明及大絡取之，虛者補之，血而實者瀉之，
因其偃臥，居其頭前，以兩手四指挾按頭動脈久持之，捲而切推，
下至缺盆中而復止如前，熱去乃止，此所謂推而散之者也。○帝曰：余聞刺法，
言有餘者瀉之，不足者補之，何謂有餘？何謂不足？岐伯曰：有餘有五，不足亦有五，
帝欲何問？帝曰：願盡聞之。岐伯曰：神有餘有不足，氣有餘有不足，
血有餘有不足，形有餘有不足，志有餘有不足，方此十者，其氣不等也。帝曰：
人有精氣津液，四支九竅，五藏十六部，三百六十五節，乃生百病，百病之生，
皆有虛實，今夫子乃言有餘有五，不足亦有五，何以生之乎？岐伯曰：皆生於五藏也。
夫心藏神，肺藏氣，肝藏血，脾藏肉，腎藏志，而此成形，志意通，內連骨髓，
而成身形五藏，五藏之道，皆出於經隧，以行血氣，血氣不和，百病乃變化而生，
是故守經隧焉。帝曰：神有餘不足何如？岐伯曰：神有餘則笑不休，神不足則悲，
血氣未并，五藏安定，邪客於形，洒淅起於毫毛，未入於經絡也。故命曰神之微。
帝曰：補瀉奈何？岐伯曰：神有餘則瀉其小絡之血，出血勿之深斥，無中其大經，
神氣乃平，神不足視其虛絡，按而致之，刺而利之，無出其血，無泄其氣，以通其經，
神氣乃平。帝曰：刺微奈何？岐伯曰：按摩勿釋，著鍼勿斥，移氣於不足，
神氣乃得復。帝曰：善，氣有餘不足奈何？氣有餘則喘咳上氣，不足則息利少氣，
血氣不并，五藏安定，皮膚微病，命曰白氣微泄。帝曰：補瀉奈何？岐伯曰：
氣有餘則瀉其經隧，無傷其經，無出其血，無泄其氣，不足則補其經隧，無出其氣。
帝曰：刺微奈何？岐伯曰：按摩勿釋，出鍼視之，曰我將深之，適人必革，精氣自伏，
邪氣散亂，無所休息，氣泄腠理，真氣篤相得。帝曰：善，血有餘不足奈何？岐伯曰：
血有餘則怒，不足則恐，血氣未并，五藏安定，孫絡水溢，則經有流血。帝曰：
補瀉奈何？岐伯曰：血有餘則瀉其盛經，出其血，不足則視其虛經，鍼其脈中，久留，
而視脈大疾，出其鍼，無令血泄。帝曰：刺留血奈何？岐伯曰：視其血絡，刺出其血，
無令惡血得入於經，以成其疾。帝曰：善，形有餘不足奈何。岐伯曰：形有餘則腹脹，
涇溲不利，不足則四支不用，血氣未并，五藏安定，肌肉蠕動，命曰微風。帝曰：
補瀉奈何？岐伯曰：形有餘則瀉其陽經，不足則補其陽絡。帝曰：微刺奈何？岐伯曰：
取分肉間，無中其經，無傷其絡，衛氣得復，邪氣乃索。帝曰：善，志有餘不足奈何？
岐伯曰：志有餘則腹脹飧泄，不足則厥，血氣未并，五藏安定，骨節有動。帝曰：
補瀉奈何？岐伯曰：志有餘則瀉，然筋血者，不足則補其復留。帝曰：刺未并奈何？
岐伯曰：即取之，無中其經邪所，乃能立虛。○血清氣濁，疾瀉之則氣竭，血濁氣濇，
疾瀉之則經可通。</p>
<h4>十七  刺胸腹</h4>
<p>刺胸腹者，必以布憿著之，乃從單布上刺，刺之不愈復刺。</p>
<h4>十八  標本</h4>
<p>先病而後逆者治其本，先逆而後病者治其本，先寒而後生病者治其本。
先病而後生寒者治其本，先熱而後生病者治其本，先泄而後生他病者治其本，
必且調之，乃治其他病，先病而後中滿者治其標，先病而後泄者治其本。
先中滿而後煩心者治其本，人有客氣，有同氣，大小便不利治其標，大小便利治其本，
病發而有餘，本而標之，先治其本，後治其標，病發而不足，標而本之，先治其標，
後治其本，謹詳察間甚，以意調之，間者併行，甚為獨行。
先大小便不利而後生他病者，治其本也。</p>
<h4>十九  鍼灸手</h4>
<p>明目者可使視色，聰耳者可使聽音，揵辭疾語者可使傳論，語徐而安靜。
手巧而心審諦者，可使行鍼艾，理血氣而調諸逆順，察陰陽而兼諸方，緩節柔筋，
而心和調者，可使導引行氣，疾毐言語輕人者，可使唾癰呪病，爪苦手毒。
為事善傷者，可使按積抑痺，各得其能，方乃可行，其名乃彰，不得其人，其功不成，
其師無名。故曰得其人乃言，非其人弗傳，此之謂也。手毒者可使按龜，置龜於器下，
而按其上，五十日而死矣。手甘者，復生如故也。</p>
<h4>二十  刺宜從時</h4>
<p>凡刺之法，必候日月星辰，四時八正之氣，氣定乃刺之。是故天溫日明，
則人血淖澤而衛氣浮。故血易瀉，氣易行，天寒日陰，則人血凝泣而衛氣沉。
月始生則血氣始精，衛氣始行，月郭滿則血氣實，肌肉堅，月郭空則肌肉減，經絡虛，
衛氣去，形獨居，是以因天時而調血氣也。是以天寒無刺，天溫無凝，月生無瀉，
月滿無補，月郭空無治，是謂得時而調之也。因天之時，盛虛之時，移光定位，
正時而待之。故曰月空而瀉，是謂藏虛，月滿而補，血氣揚波，絡有留血，命曰重實，
月郭空而治，是謂亂經，陰陽相錯，真邪不別，沈以留止，外虛內亂，淫邪乃起。
○帝曰：星辰八正何候？岐伯曰：星辰者，所以候日月之行也；八正者，
所以候八虛邪以時至者也；四時者，所以分春夏秋冬之氣所在以調之也。八正之虛邪，
避之勿犯也。○是故春氣在經脈，夏氣在孫絡，長夏氣在肌肉，秋氣在皮膚，
冬氣在骨髓中，春者天氣始開，地氣始泄，凍解冰釋，水道經通。故人氣在脈，
夏者經滿氣溢，孫絡受血，皮膚充實，長夏者經絡皆盛，內溢肌中，秋者天氣始收，
腠理閉塞，皮膚引急，冬者蓋藏，血氣在中，內著骨髓，通於五藏，是故邪氣者，
常隨四時之氣血而入客也。○故用鍼之服者必有法，則上視天光，下司八正，
以避奇邪，而觀百姓，審於虛實，毋犯其邪，是得天之露，遇歲之虛，救而不勝，
反受其殃。故曰必知天忌，乃言鍼意。○春刺散俞，及與分理，血出而止，甚者傳氣，
間者環也。夏刺絡俞，見血而止，盡氣閉環，痛病必下，秋刺皮膚，循理上下同法，
神變而止，冬刺俞窗於分理，甚者直下，間者散下，春夏秋冬，各有所刺，法其所在，
春者木始治，肝氣始生，其風病急，經脈常深，其氣不能深入。故取絡脈分肉間，
夏者火始治，心氣始強，脈瘦氣弱，陽氣溜溢，熱薰分腠，內至於經。故取盛經，
分腠絕膚，而病去者，邪氣淺也。所謂盛經，陽脈也。秋者金始治，肺將收殺，
金得勝火，陽氣在合。故陰氣初勝，濕氣及體，陰氣未盛，未能深入。
故取俞以瀉陰邪，取合以虛陽邪，陽氣始衰。故取於合，冬者水始治，腎方閉，
陽氣衰少，陰氣堅盛，巨陽伏沉，陽脈乃去。故取井以下陰逆，取滎以實陽氣，
故曰冬取井滎，春不鼽衄。○正月二月三月，人氣在左，無刺左足之陽；
四月五月六月，人氣在右，無刺右足之陽；七月八月九月，人氣在右，無刺右足之陰；
十月十一月十二月，人氣在左，無刺左足之陰。○甲乙日自乘無刺頭，無發蒙於耳內，
丙丁日自乘無振挨於肩喉廉泉，戊己日乘四季，無刺足去爪瀉水，
庚申日自乘無刺關骨於股膝，壬癸日自乘無刺足脛。○隨日之長短，各以為紀而刺之，
謹候其時，病可與期，失時反候者，百病不治。故曰：刺實者，刺其來也。刺虛者，
刺其去也。此言氣存亡之時，以候虛實而刺之，候氣之所在而刺之，是謂逢時，
病在於三陽，必候其氣在於陽而刺之，病在於三陰，必候其氣在於陰而刺之。</p>
<h4>二十一  五奪不可瀉</h4>
<p>形肉已脫，一奪也；大脫血之後，是二奪也；大汗出之後，是三奪也；大泄之後，
是四奪也；新產大血之後，是五奪也。此皆不可瀉。</p>
<h4>二十二  刺逆四時</h4>
<p>春刺夏分，脈亂氣微，八淫骨髓，病不能愈，又且少氣；春刺秋分，筋攣逆氣，
環為咳嗽，病不愈，令人時驚，又且哭。春刺冬分，邪氣著藏，令人脹，病不愈，
又且欲言語；夏刺春分，病不愈，令人懈惰。夏刺秋分，病不愈，令人欲無言，
惕惕如人將捕之；夏刺冬分，病不愈，令人少氣，時欲怒。秋刺春分，病不已，
令人惕然欲有所為，起而忘之；秋刺夏分，病不已，令人欲臥不能眠，眠而有見。
冬刺夏分，病不愈，令人上氣，發為諸痺；冬刺秋分，病不已，令人善渴。
○春刺絡脈，血氣外溢，令人少氣；春刺肌肉，血氣環逆，令人上氣。春刺筋骨，
血氣內著，令人腹脹；夏刺經脈，血氣乃竭，令人解㑊。夏刺肌肉，血氣內卻，
令人善悲；夏刺筋骨，血氣上逆，令人善怒；秋刺經脈，血氣上逆，令人善忘。
秋刺絡脈，氣不外行，令人臥不欲動；秋刺筋骨，血氣內散，令人寒慄。冬刺經脈，
血氣皆脫，令人目不明；冬刺絡脈，內氣外泄，留為大痺。冬刺肌肉，陽氣竭絕，
令人善忘。凡此四時刺者，大逆之病，不可不從也；反之，則生亂氣相淫病焉。</p>
<h4>二十三  刺避</h4>
<p>凡刺胸腹者，必避五藏，中心者還死，其動為噫，中肝者五日死，其動為語。
中脾者十日死，其動為吞；中腎者六日死，其動為嚏；中肺者三日死，其動為咳。
中膽者一日半死，其動為嘔，中鬲者皆為傷中，其病雖愈，不過一歲必死。
刺避五藏者，知逆從也。所謂從者，鬲與脾腎之處，不知者反之。○刺跗上中大脈，
血出不止死，刺面上中溜脈，不幸為盲，刺頭中腦戶入腦立死，刺舌下中大脈太過，
血出不止為瘖，刺足下布絡中脈，血不出為腫，刺腨｛委中穴｝中大脈令人企脫色，
刺氣衝中脈，血不出為腫，鼠僕，刺脊間中髓為傴，刺乳上中亂房，為腫根蝕，
刺缺盆中內陷氣泄，令人喘咳逆，刺手魚腹中陷為腫。○無刺大醉，令人氣亂，
無刺大怒，令人氣逆，無刺大勞人，無刺新飽人，無刺大渴人。○病有脇下道二，
二歲不已，名曰息積，此不妨於食，不可灸刺。○毋損不足者，身羸瘦，毋用鑱石也。
○刺陰股中大脈，血出不止死，刺客主人內陷中脈，為內漏為聾，刺膝臏出液為跛，
刺臂太陰脈出血多立死，刺足少陰脈，重虛出皿為舌難以言。
刺膺中陷中肺為喘逆仰息，刺跗中內陷氣歸之不得屈伸，刺陰股下三寸內陷，
令人遺溺，刺腋下脇間內陷，令人咳，刺小腹中膀胱溺出，令人小腹滿。
刺腨腸內陷為腫，刺匡上陷骨中脈為漏為盲，刺關節中液出不得屈伸。
○闚門而刺之者死於家中，入門而刺之者死於堂上。○新內勿刺，已刺勿內，
已醉勿刺，已刺勿醉；新怒勿刺，已刺勿怒；新勞勿刺，已刺勿怒；新勞勿刺，
已刺勿飽；已蝕勿刺，已刺勿飢；已渴勿刺，已刺勿渴。○乘車來者臥而休之，
如食頃乃刺之，出行來者坐而休之，如行十里頃乃刺之，大驚大恐，必定其氣乃刺之。</p>
<h4>二十四  禁太過不及</h4>
<p>病淺鍼深，內傷良肉，皮膚為癰，病深鍼淺，病氣不瀉，反為大膿，病小鍼大，
氣泄太甚，疾反為害，病大鍼小，氣不泄瀉，亦復為敗，失鍼之宜，大者瀉，
小者不移。○病有浮沉，刺有淺深，各至其理，無過其道，過之則肉傷，
不及則生外壅，壅則邪從之，淺深不得，反為大賊內動五藏，後生大病。故曰：
病有在毫毛腠理者，有在肌肉者，有在脈者，有在筋者，有在骨者，有在髓者。
是故刺毫毛腠理無傷皮，皮傷則內動肺，肺動則秋病瘟瘧，沂音素沂然寒慄。
刺皮無傷肉，肉傷則內動脾，脾動則七十二日四季之月病腹脹煩，不嗜食；
刺肉無傷脈，脈傷則內動心，心動則夏病心痛；刺脈無傷筋，筋傷則內動肝，
肝動則春病熱而筋弛；刺筋無傷骨，骨傷則內動腎，腎動則冬病脹腰痛；刺骨無傷髓，
髓傷則消爍，胻酸解㑊，然不去矣。○刺骨無傷筋者，鍼至筋而去，不及骨也。
刺筋無傷肉者，至肉而去，不及筋也。刺脈無傷肉者，至脈而去，不及肉也。
刺脈無傷皮者，至皮而去，不及脈也。所謂刺皮無傷肉者，病在皮中，鍼入皮中，
無傷肉也。刺肉無傷筋者，過肉中筋也。刺筋無傷骨者，過筋中骨也。此謂之久也。
｛久疑作失｝○夫氣之在脈也。邪氣在上，濁氣在中，清氣在下。故鍼陷脈則邪氣出，
鍼中脈則濁氣出，鍼中脈則濁氣出，鍼太深則邪氣反沉病益。故曰皮肉筋脈，
各有所宜，各不同形，各以任其所宜，無實實，無虛虛，損不足而益有餘，
是謂病甚病益，其取五脈者死，取三脈者恇，奪陰者死，奪陽者狂，鍼害畢矣。</p>
<h4>二十五  五節刺</h4>
<p>振埃者刺外經去陽病，陰氣大逆，上滿於胸中，慎瞋息肩，大氣逆上，喘喝坐伏，
病惡埃煙，䭇不得息，取之天容，其欬上氣，窮詘胸痛者，取之廉泉，取天容者，
無過一里，取廉泉者，血變而止。○發朦者耳無所聞，目無所見，刺府輸，去府病，
刺此必於日中刺其聽宮，中其眸子，聲聞於耳，此其輸也。刺邪以手堅按其兩鼻，
而疾偃其聲，必應於鍼。○去爪者乃刺關節，肢絡腰脊者，身之大關節也。肢經者，
人之管以趨翔也。莖垂者，身中之機，陰精之候，津液之道也。飲食不節，喜怒不時，
津液內溢，乃下留於睾，血道不通，日大不休，俛仰不便，趨翔不能，此病滎然有水，
不上不下，鈹石所取，形不可匿，常不得蔽。○徹衣者，言盡刺諸陽之奇輸，
未有常處也。是陰氣有餘，而陰氣不足，陰氣不足則內熱，陽氣有餘則外熱，
內熱相搏，熱於懷炭，畏綿帛近，不可近身，又不可近席，腠理閉塞，則汗不出，
舌焦脣槁，臘乾嗌燥，飲食不讓美惡，於天府大杼三痏，又刺中膂以去其熱，
補足手太陰以去其汗，熱去汗稀，疾於徹衣。○解惑者，盡知調陰陽，
補瀉有餘不足相傾移也。大風在身，血脈偏虛，虛者不足，實者有餘，輕重不得，
傾側宛伏，不知東西，不知南北，乍上乍下，乍反乍覆，顛倒無常，甚於迷惑，
瀉其有餘，補其不足，陰陽平復，用鍼若此疾於解惑。</p>
<h4>二十六  五藏病刺</h4>
<p>肝病者兩脇下滿引小腹，令人善怒，虛則目䀮䀮無所見，耳無所聞，善恐，
如人將捫之，取其經，厥陰與少陽氣逆則頭痛耳聾不聰，取血者。○心病者胸中痛，
脇支滿，脇下痛，膺背肩甲間痛，臂內痛，虛則胸腹大，脇下與腰相引而痛，取其經，
少陰太陽舌下血者，其變病，刺郄中血者。○脾病者身重，善飢肉痿，足不收行，
善瘈，腳下痛，虛則腹滿腸鳴，飧泄，食不化，取其經，太陽陽明少陰血者。
○肺病者喘咳逆氣，肩背痛，汗出尻冷，陰股膝脾腨胻足皆痛，虛則少氣不能報息，
耳聾嗌乾，取其經，太陰足太陽之外，厥陰內血者。○腎病者腹大脛腫喘咳身重，
寢汗出憎風，虛則胸中痛，大腹小腹痛，清厥意不樂，取其經，少陰太陽血者。
○太陽藏獨至，厥喘虛氣逆，是陰不足，陽有餘也。表裡俱當瀉，取之下俞。
○陽明藏獨至，是陽氣重併也。當瀉陽補陰，取下俞。○少陽藏獨至，是厥氣也。
蹻前卒大，取之下俞，少陽獨至者，一陽之過也。○太陰藏搏者，用心省真，
五脈氣少，胃氣不平，三陰也。宜治其下俞，補陽瀉陰，一陽獨嘯，少陽厥也。
陽併於上，四肢爭張，氣滿於腎，宜治其經絡，瀉陽補陰，一陰至，厥陰之治也。
真虛㾓心，厥氣留薄，發為自汗，調食和藥，治在下俞。○五藏有疾，當取十二原，
十二原者，五藏之所稟，三百六十五節氣味也。五藏有疾也。應出十二原。
十二原各有所出，明知其原，觀其應而知五藏之害，陽中之少陰肺也。其原出於太淵。
太淵二，陽中之太陽心也。其原出於大陵。大陵二，陰中之少陽肝也。其原出於太衝。
太谿二，膏之原出於鳩尾。鳩尾一，盲之原出於脖胦。脖胦一，凡此十二原者，
主治五藏六府之有疾者也。</p>
<h4>二十七  刺弊</h4>
<p>脈氣盛而血虛者，刺之則脫氣，脫氣則仆，血氣俱盛而陰氣多者，其血滑。
刺之則射陽氣，畜積久留而不瀉者，其血黑以濁。故不能射，新飲而液滲於絡，
而未合和於血也。故血出而汁別焉，其不新飲者，身中有水，久則為腫，陰氣積於陽，
其氣因於絡。故刺之血未出而氣先行故腫，陰陽之氣，其新相得，而未和合。
因而瀉之，則陰陽俱脫，表裡相離。故脫色而蒼蒼然，刺之血出多，色不變煩悗者，
刺絡而虛經，虛經之屬於陰者，陰脫故煩悶，陰陽相得而合為痺者，此為內溢於經，
外注於絡，如是者陰陽俱有餘，雖多出血，而弗能虛也。帝曰：相之奈何？曰：
血脈者盛，堅橫以赤，上下無常處，小者如鍼，大者如筋，則而瀉之萬全也。
故無失數矣。矣失數而反，各如其度。帝曰：鍼入而肉著者何也？曰：熱氣因於鍼，
則鍼熱，熱則著於鍼。故堅焉。○妄用砭石，後遺身沾，此治之二失也。
○闚門而刺之者死於家中，入門而刺之者死於堂上。</p>
<h4>二十八  血氣不同形</h4>
<p>帝曰：余聞九鍼於夫子，而行之於百姓，百姓之血氣，各不同形，或神動而氣先鍼行，
或氣與鍼相逢，或鍼以出氣獨行，或數刺乃知，或發鍼而氣逆，或數刺病益劇，
凡此六者，各不同形，願聞其方！岐伯曰：重陽之人，其神易動，其氣易往也。
重陽之人，熇熇高高，言語善疾，舉足善高，心肺之藏氣有餘，陽氣滑盛而揚，
故神動而氣先行，重陽之人，而神不先行者，此人頗有陰者也。多陽者多喜，
多陰者多怒，數怒者易解。故曰頗有陰，其陰陽之離合難。故其神不能先行，
陰陽和調，而血氣淖澤滑利。故鍼入而氣出疾，而相逢也。其陰氣多而陽氣少，
陰氣沉而陽氣浮者內藏。故鍼已出，氣乃隨其後。故獨行也。
人之多陰而少陽其氣沉，而氣往難。故數刺乃知也。鍼入而氣逆者，其氣逆，
與其數刺病益甚者，非陰陽之氣浮沉之勢也。此皆粗工之所敗，工之所失，
其形氣無過焉。</p>
<h4>二十九  十二絡繆刺｛繆如紕繆紀綱｝</h4>
<p>帝曰：余聞繆刺，未得其意。岐伯曰：邪客於皮毛，入於孫絡，留而不去，閉塞不通，
不得入於經，流溢於大絡，而生奇病也。夫邪客大絡者，左注右，右注左，上下左右，
與經相干，而布於四末，其氣無常處，不入於經俞，命曰繆刺，帝曰繆刺。帝曰：
願聞繆刺，以左取右，以右取左奈何？其與巨刺，何以別之？曰：絡病者，
其痛與經脈繆處。故命曰繆刺。邪客於足少陰之絡，令人卒心痛暴脹，胸脇支滿。
無積者刺然骨之前出血，如食頃而已，左取右，右取左，病新發者，取五日已，
邪客於手少陽之絡，令人喉痺舌捲，口乾心煩，臂外廉痛，手不及頭。
刺手中指次指爪甲上去端如韭葉，各一痏，壯者立已，老者有頃已，左取右，右取左。
此新病數日已，邪客於足厥陰之絡，令人卒疝暴痛，刺足大指爪甲上與肉交者，
各一痏，男子立已，女子有頃已，左取右右取左，邪客於足太陽之絡，令人頭項肩痛，
刺足小指爪甲上與肉交者，各一痏，立已，不已，刺外踝下三痏，左取右，右取左。
如食頃已，邪客於手陽明之絡，令人氣滿，胸中喘息，而支胠胸中熱，
刺手大指次指爪甲上去端如韭葉，各一痏，左取右，右取左。如食頃已，
邪客於臂掌之間，不可得屈，刺其踝後，先以指按之，痛乃刺之，以月死生為數。
月生一日一痏，二日二痏，十五日十五痏，十六日十四痏，邪客於足陽蹻之脈，
令人目痛從內眥始，刺外踝之下半寸所，各二痏，左刺右，右刺左，如行十里頃而已，
人有所墮墜，惡血留內，腹中滿脹，不得前後，先飲利藥，此上傷厥陰之脈。
下傷少陰之絡，刺足內踝之下然骨之前血脈，出血，刺足跗上動脈，不已，刺三毛上，
各一痏，見血立已，左刺右，右刺左，邪客於手陽明之絡，令人耳聾，時不聞音，
刺手大指次指爪甲上去端如韭葉，各一痏立聞，不已，刺中指爪甲上與內交者，立聞，
其不時聞者，不可刺也。耳中生風者，亦刺之如此數，左刺右，右刺左。
凡痺往來無常處者，在分肉間痛而刺之，以月死生為數，用鍼者隨氣盛衰，以為痏數，
鍼過其日數則脫氣，不及日數則氣不瀉，左刺右，右刺左，病已止，不已，
復刺之如法。月生一日一痏，二日二痏，漸多至十五日 十五痏，十六日十四痏，
漸少之，邪客於足陽明之經，令人鼽衄上齒寒，刺足中指次指爪甲上與肉交者，
各一痏，左刺右，右刺左，邪客於足少陽之絡，令人脇痛不得息。
亥而汗出刺足小指次指爪甲上與肉交者，各一痏，不得息立已，汗出立止，
欬者溫衣飲食，一日已，左刺右，右刺左，病立已，不已，復刺如法。
邪客於足少陰之絡，令人嗌痛，不可內食，無故善怒，氣上走賁上，刺足下中央之脈，
各三痏，凡六刺立已，左刺右，右刺左，邪客於足太陰之絡，令人腰痛引小腹控䏚，
不可以仰息，刺腰尻之兩胛之上，是腰俞，以月死生為痏數，發鍼立已，左刺右，
右刺左，邪客於足太陽之絡，令人拘孿背急，引脇而痛，刺之從項始，
數脊椎俠脊疾按之，應手如痛，傍刺之，三痏立已，邪客於足少陽之絡。
令人留於樞中痛髀不可以舉，刺樞中以毫鍼，寒則久留鍼，以月死生為數，立已，
治諸經刺之所過者，不病則繆刺之，耳聾刺手陽明，不已，刺其通脈出耳前者，
齒齲刺手陽明，不已，刺其脈入齒中者，立已，邪客於五藏之間，其病也。脈引而痛，
時來時止，視其病繆刺之，於手足爪甲上視其脈，出其血，間一日一刺，一刺不已，
五刺已繆傳引上齒，齒脣寒痛，視其手背脈血者出之，足陽明中指爪甲上一痏。
手大指次指爪甲上一痏，立已，左取右，右取左，邪客於手足少陰太陰足陽明之絡，
此五絡皆會於耳中，上絡左角，五絡俱竭，令人身脈皆動，而形無知也。其狀若尸，
或曰尸厥，刺其足大指內側爪甲上去端如韭葉，後刺足心，後刺足中指爪甲上，
各一痏，後刺手大指內側去端如韭葉，後刺手心主少陰銳骨之端，各一痏，立已，
不已，以竹管吹其兩耳。鬄其左角之髮方一寸，燔治，飲以美酒杯，不能飲者，
灌之立已，有痛而經不痛者，繆刺之，視其皮部有血絡者，盡取之，此繆刺之數也。
○身形有病，九候莫病，則繆刺之。</p>
<h4>三十  經刺</h4>
<p>岐伯曰：夫邪之客於形也。必先舍於皮毛，留而不去，入於孫絡，留而不去，
入於絡脈，留而不去，入於經脈，內連五藏，散於腸胃，陰陽俱盛，五藏乃傷，
此邪之從皮毛而入，極於五藏之次也。如此則治其經焉。○凡刺之數，先視其經脈，
切而從之，審其虛實而調之，不調者，經刺之。○不盛不虛，以經取之。</p>
<h4>三十一  巨刺｛繆刺刺絡脈巨刺刺經脈｝</h4>
<p>痛在於左而右脈病者，則巨刺之。○邪客於經，左盛則右病，右盛則左病，
亦有移易者，左痛未已而右脈先病，如此者必巨刺之，必中其經，非絡脈也。</p>
<h4>三十二  脈刺</h4>
<p>人迎一盛，病在足少陽；一盛而躁，病在手少陽。人迎二盛，病在足太陽；二盛而躁，
病在手太陽。人迎三盛，病在足陽明；三盛而躁，病在手陽明。人迎四盛，且大且數，
名曰溢陽，溢陽為外格；脈口一盛，病在足厥陰，一盛而躁，在手心主；脈口二盛，
病在足少陰；二盛而躁，在手少陰；脈口三盛，病在足太陰；三盛而躁，在手太陰；
脈口四盛，且大且數者，名曰溢陰，溢陽為內關，內關不通死不治。
人迎與太陰脈口俱盛四倍以上，命曰關格，關格者與之短期。人迎一盛，
瀉足少陽而補足厥陰，二瀉一補，日一取之，必切而驗之，疎取之，上氣和乃止。
人迎二盛，瀉足太陽，補足少陰，二瀉一補，二日一取之，必切而驗之。疎取之，
上氣和乃止，人迎三盛，瀉足陽明而補足太陰，二瀉一補，日二取之，必切而驗之。
疎取之，上氣和乃止，脈口一盛，瀉足厥陰而補足少陽，二補一瀉，日一取之，
必切而驗之。疎而取，上氣和乃止，脈口二盛，瀉足少陰而補足太陽，二補一瀉，
二日一取之，必切而驗之。疎取之，上氣和乃止，脈口三盛，瀉足太陰而補足陽明，
二補一瀉，日二取之，必切而驗之。疎而取之，上氣和乃止，所以日二取之者，
太陽主胃，大富於穀氣。故可日二取之也。人迎與脈口俱盛三倍以上，命曰陰陽俱溢，
如是者不開，則血脈閉塞，氣無所行，流淫於中，五藏內傷，如是者因而灸之，
則變易而為他病矣。</p>
<h4>三十三  深淺上下所宜</h4>
<p>補須一方實深取之，稀按其痏，以極出其邪氣，一方虛淺刺之，以養其脈，疾按其痏，
無使邪氣得入，邪氣來也緊而疾，穀氣來也徐而和，脈實者，深刺之，以泄其氣。
脈虛者，淺刺之，使精氣無得出，以養其脈，獨出其邪氣，刺諸痛者，其脈皆實。
故曰從腰以上者，手太陰陽明皆主之，從腰以下者，足太陰陽明皆主之，
病在上者下取之，病在下者高取之，病在頭者取之足，病在腰者取之膕，
病生於頭者頭重，生於手者臂重，生於足者足重，治病者，先刺其病所從生者也。
香氣在毛，夏氣在皮膚，秋氣在分肉，冬氣在筋骨，刺此病各以其時為齊，
故刺肥人者秋冬之齊，刺瘦人者春夏之齊，病痛陰也。痛而以手安之不得者陰也。
深刺之，病在上者陽也。病在下者陰也。癢者陽也。淺刺之，病先起於陰者，
先治其陰而後治其陽，病先起於陽者，先治其陽而後治其陰，刺熱厥者留鍼反為寒，
刺寒厥者留鍼反為熱，刺熱厥者二陰一陽，刺寒厥者二陽一陰，所謂二陰者刺二陰也。
一陽者刺一陽也。久病者邪氣入深，刺此者深內而久留之，間日而後刺之，
必先調其左右，去其血脈，刺道畢矣。凡刺之法，必察其形氣，形肉未脫，
少氣而脈又躁，躁厥者必為繆刺之。○脈之所居，深不見者刺之，微內鍼而久留之，
以致其空脈氣也。脈淺者勿刺，按絕其脈乃刺之，無令精出，獨出其邪氣耳。
所謂三刺則穀氣出者，先淺刺絕皮以出陽邪，再刺則陰邪出者，少益深，絕皮致肌肉，
未入分肉間也。已入分肉之間，則穀氣出。故刺法曰：始淺刺之，以逐邪氣，
而來血氣，後刺深之，以致陰氣之邪，最後刺極深之，以下穀氣，此之謂也。</p>
<h4>三十四  人身左右上下虛實不同刺</h4>
<p>天不足西北。故西北方陰也。而人右耳目不如左明也。地不滿東南。故東南方陽也。
而人左手足不如右強也。東方陽也。陽者其精并於上，并於上則上明而下虛，
故使耳目聰明，而手足不便也。西方陰也。陰者其精并於下，并下則下盛而上虛，
故其耳目不聰明而手足便也。故俱感於邪，其在上則右甚，在下則左甚，
此天地陰陽所不能全也。故邪居之。故天有精，地有形，天有八紀，地有五里，
故能為萬物之父母，清陽上天，濁陰歸也。是故天地之動靜，神明之綱紀，
故能以生長收藏，終而復始，惟腎人上配天以養頭，下象地以養足。
中傍人事以養五藏，天氣通於肺，地氣通於嗌，風氣通於肝，雷氣通於心，
谷氣通於脾，雨氣通於腎，六經為川，腸胃為海，九竅為水注之氣，以天地為之陰陽，
陽之汗以天地之雨明之，陽之氣以天地之疾風名之，暴風象雷，逆氣象陽，
故治不治天之紀，不用地之理，則災害至矣。故邪風之至，疾如風雨，
故善治者治皮毛，其次治肌膚，其次治筋脈，其次治六府，其次治五藏，治五藏者，
半死半生也。故天之邪氣感則害人，五藏水穀之寒熱感則害於六府，
地之濕氣感則害皮肉筋脈。故善用鍼者，從陰引陽，從陽引陰，以右治左，以左治右，
以我知彼，以表知裡，以觀過 與不及之理，見微則過，用之不殆。</p>
<h4>三十五  氣血清濁淺深刺</h4>
<p>受穀氣者濁，受氣者清，清者注陰，濁者注陽，濁而清者上出於咽，清而濁者則下行，
清濁相干，命曰亂氣。帝曰：夫陰清而陽濁，濁者有清，清者有濁，清濁別之奈何？
岐伯曰：氣之大別，清者上注於肺，濁者下走於胃，胃之清氣，上出於口，肺之濁氣，
下注於經，內積於海。帝曰：諸陽皆濁，何陽濁甚乎？岐伯曰：手太陽獨受陽之濁，
手太陰獨受陰之清，其清者上走空竅，其濁者下行諸經，諸陰皆清，足太陰獨受其濁，
清者其氣滑，濁者其氣濇，此氣之常也。故刺陰者深而留之，刺陽者淺而疾之，
清濁相干者，以數調之。</p>
<h4>三十六  死期不可刺</h4>
<p>病發於心，一日而之肺，三日而之肝，五日而之脾，三日不已死，冬夜半，夏日中。
病先發於肺，三日而之肝，一日而之脾，五日而之胃，十日不已死，冬日入，夏日出。
病先發於肝，三日而之脾，五日而之胃，三日而之腎，三日不已死，冬日入，夏早食。
病發於脾，一日而之胃，二日而之腎，三日而之膂膀胱，十日不已死，冬人定，
夏晏食。病先發於胃，五日而之腎，三日而之膂膀胱，五日而上之心，二日不已死，
冬夜半，夏日昧。病先發於腎，三日而之膂膀胱，三日而上之心，三日而之小腸，
三日不已死，冬大晨，夏早晡。病先發於膀胱，五日而之腎，一日而之小腸，
一日而之心，二日不已死，冬雞鳴，夏下晡。諸病以次相傳，如是者皆有死期，
不可刺也。間一藏及三四藏者，乃可刺也。</p>
<p>明  四明  高  武 撰 述</p>
<h2>卷二下</h2>
<h3>一  五亂刺</h3>
<p>清氣在陰，濁氣在陽，滎氣順脈，衛氣逆行，清濁相干，亂於胸中，是謂大俛。
故氣亂於心則煩心密嘿，俛首靜伏，亂於肺則俛仰喘喝，按手以呼，
亂於腸胃則為霍亂，亂於臂脛則為四厥亂於頭則為厥逆，頭重眩仆。曰五亂刺者，
刺之有道乎！曰：有道以來，有道以去，審知其道，是謂身寶。曰：願聞其道。曰：
氣在於心者，取之手少陰心主之俞，氣在於肺者，取之於手太陰滎，足少陰俞，
氣在於腸胃者，取之足太陰陽明不下者，取之三里，氣在於頭者，取之天柱大杼，
不知，取足太陽滎俞，氣在臂足，取之先去血脈，後取其陽明少陽之滎俞。曰：
補瀉奈何？曰：徐入徐出，謂之道氣，補瀉無形，謂之同精，是非有餘不足也。
亂氣之相逆也。</p>
<h3>二  氣血盛衰</h3>
<p>足陽明之上，血氣盛則髯美長，血少氣多則髯短。故氣少血多則髯少。
血氣皆少則無髯，兩吻多盡，足陽明之下，血氣盛則下毛美長至胸。
血多氣少則下毛美短至臍，行則善高舉足，足指少肉，足善寒，血少氣多則肉而善瘃。
血氣皆少則無毛，有則稀枯悴，善痿厥足痺，足少陽之上，氣血盛則通髯善長。
血多氣少則通髯美短，血少氣多則少髯，血氣皆少則無鬚。
感於寒濕則善痺骨痛爪枯也。足少陽之下，血氣盛則脛毛美長，外踝肥。
血多氣少則脛毛美短，外踝皮堅而厚，血少氣多則胻毛少，外踝皮薄而軟。
血氣皆少則無毛，外踝瘦而無肉，足太陽之上，血氣盛則眉美，眉有毫毛。
血多氣少則惡眉，面多少理，血少氣多則面多肉，血氣和則美色，足太陰之下。
血氣盛則跟肉滿踵堅，氣少血多則瘦跟空，血氣皆少則善轉筋，踵下痛，手陽明之上。
血氣盛則髭美，血少氣多則髭惡，血氣皆少則無髭，手陽明之下，血氣盛則腋下毛美。
手魚肉以溫，氣血皆少則手瘦以寒，手少陽之上，血氣盛則眉美以長，耳色美。
血氣皆少則耳焦惡色，手少陽之下，血氣盛則手捲多肉以溫，血氣皆少則寒以瘦。
氣少血多則瘦以多脈，手太陽之上，血氣盛則有多鬚，面多肉以平。
血氣皆少則面瘦惡色，手太陽之下，血氣盛則掌肉充滿，血氣皆少則掌瘦以寒。曰：
刺之有約乎！曰：眉美者足太陽之脈氣血多，惡眉者氣血少，其肥而澤者，血氣有餘，
肥而不澤者，氣有餘而血不足，瘦而無澤者，氣血俱不足。
審察其形氣有餘不足而調之，可以知逆順矣。○曰：婦人無鬚者，無血氣乎！曰：
衝脈任脈，皆起於胞中，上循背裡，為經絡之海，其浮而外者，循腹右上行會於咽喉，
別而絡脣口，血氣盛則充膚熱肉，血獨盛則澹 滲皮膚生毫毛，今婦人之生，有餘於氣，
不足於血，以其數脫血也。衝任之脈不滎口脣。故鬚不生焉。曰：士人有傷於陰，
陰氣絕而不起，陰不用，然其鬚不去，其故何也？宦者獨去何也？曰：宦者去其宗筋，
傷其衝脈，血瀉不復，皮膚內結，脣口不滎。故鬚不生。曰：其有天宦者，未嘗被傷，
不脫於血，然其鬚不生，其故何也？曰：此天之所不足也。其任衝不盛，宗筋不成，
有氣無血，脣口不滎。故鬚不生。</p>
<h3>三  耐痛</h3>
<p>人之骨強筋弱，肉緩皮膚厚者耐痛，其於鍼石之痛，火焫亦然，黑色而美骨者耐火焫，
堅肉薄皮者不耐鍼石之痛，於火焫亦然。</p>
<h3>四  五逆</h3>
<p>帝曰：余聞刺有五逆。曰：病與脈相逆，熱病脈靜，汗已出脈盛躁，是一逆也。
病泄脈洪大，二逆也。著脾不移，膕肉破，身熱脈偏絕，三逆也。淫而奪形，
身熱色夭白，及後下血衃，血衃篤重，四逆也。寒熱奪形，脈堅搏，五逆也。</p>
<h3>五  三刺穀氣</h3>
<p>一刺則陽邪出，再刺則陰邪出，三刺則穀氣至，穀氣至而止，所謂穀氣至者，
已補而實，已瀉而虛。故已知穀氣至也。</p>
<h3>六  熱</h3>
<p>肝熱病者，小便先黃，腹痛多臥，身熱，熱爭則狂言及驚，脇滿痛，手足躁，
不得安臥，庚辛甚，甲乙大汗，氣逆則庚辛死，刺足厥陰少陽，其逆則頭痛員員，
脈引衝頭也。心熱病者，先不樂數日乃熱，熱爭則卒心痛，煩悶善嘔，頭痛面赤無汗。
壬癸甚，丙丁大汗，氣逆則壬癸死，刺手少陰太陽，脾熱病者，先頭重，頰痛煩心，
顏青欲嘔，身熱，熱爭則腰疼不可用俛仰，腹滿泄，兩頷痛。甲乙甚，戊己大汗，
氣逆則甲乙死，刺足太陰陽明，肺熱病者，先淅然厥氣毫毛，惡風寒，舌上黃，身熱，
熱爭則喘咳，痛走胸膺背，不得大息，頭痛不堪，汗出而寒。丙丁甚，庚辛大汗，
氣逆則丙丁死，刺手太陰陽明出血如大豆，立已，腎熱病者，先腰痛胻酸，
苦渴數飲身熱，熱爭則項痛而強胻寒且痠，足下熱，不欲言，其逆則項痛員員澹澹然。
戊己甚，壬癸大汗，氣逆則戊己死，刺足少陰太陽，諸汗者，至其所勝，日汗出也。
肝熱病者，左頰先赤，心熱病者，顏先赤，脾熱病者，鼻先赤，肺熱廣州一者，
右頰先赤，腎熱病者，頤先赤，病雖未發，見赤色者刺之，名曰治未病。
熱病從部所起者，至甚而已，其刺之反者，三周而已，重逆則死，諸當汗者，
至其所勝日，汗大出也。諸治熱病，以飲之寒水，乃刺之，必寒衣之，居止寒處，
身寒而止也。熱病先胸脇痛，手足躁，刺足少陽，補足太陰，病甚者為五十九刺。
熱病始手臂痛者，刺手陽明太陰，而汗出止，熱病始於頭首者，刺項太陽而汗出止；
熱病始於足脛者，刺足陽明而汗出止，熱病先身重骨痛，耳聾好冥，刺足少陰，
病甚為五十九刺。熱病先眩冒而熱，胸脇滿，刺足少陰少陽，太陽之脈色滎顴骨，
熱病也。滎未交，曰今且得汗，待時而已，與厥陰脈爭見者，死期不過三日，
其熱病內連腎，少陽之脈色也。少陽之脈色滎頰前，熱病也。滎未交，曰今且得汗，
待時而已，與少陰脈爭見者，死期不過三日，熱熱病氣穴三椎下間，主胸中熱，
四椎下間，主鬲中熱，五椎下間，主肝熱，六椎下間，主脾熱，七椎下間，主腎熱，
滎在骶也。項上三椎陷者中也。頰下逆顴為大瘕，下牙車為腹滿，顴後為脇痛，
頰上鬲上也。○頭上五行，行五者以泄諸陽之熱逆也。大杼，膺俞缺盆，背俞。
此八者，以瀉胸中之熱也。氣衝，三里，巨虛上下廉，此八者，以瀉胃中之熱也。
雲門，髁骨，委中，髓空，此八者，以瀉四肢之熱也。五藏俞傍五者，此十者，
以瀉五藏之熱也。○熱病不可刺者九，一曰汗不出，大顴發赤，噦者死，
二曰泄而腹滿甚者死，三曰目不明，熱不已者死，四日嬰兒熱而腹滿死，
五曰汗不出，嘔下血者死，六曰舌本爛，熱不已者死，七曰欬而衂，汗不芔，
出不至足者死，八曰髓熱者死，九曰熱而痙者死，腰折 瘈症，齒噤齗也。凡此九者，
不可刺也。</p>
<h3>七  瘧</h3>
<p>足太陽之瘧，令人腰痛頭重，寒從背起，先寒後熱，熇熇暍暍然，熱止汗出難已，
刺郄中出血，足少陽之瘧，令人身體解㑊，寒不甚，熱不甚，惡見人，見人心易惕然，
熱多汗出甚，刺足少陽，足陽明之瘧，令人先寒，洒淅寒甚，久乃熱，熱去汗出，
喜見日月光火氣，乃快然，刺足陽明跗止，足太陰之瘧，令人不樂，好太息，不嗜食，
多寒熱汗出，病至則善嘔，嘔已乃衰，則取之，足少陰之瘧，令人嘔吐甚，多寒熱，
熱多寒少，欲閉戶牖而處，其病難已，足厥陰之瘧，令人腰痛，小腹滿。
小便不利如癃狀，非癃也。數便意恐懼，氣不足，腹中悒悒，刺足厥陰，
肺瘧者令人心寒，寒甚熱，熱間善驚，如有所見者，刺手太陰陽明。
心瘧者令人煩心，甚欲得清水，反寒多不甚熱，刺手少陰，肝瘧者令人色蒼蒼然太息，
其狀若死者，刺足厥陰見血，脾瘧者令人寒，腹中痛，熱則腸中鳴，鳴已汗出，
刺足太陰，腎瘧者令人淅淅然腰脊痛，宛轉大便難，目眴眴然，手足寒。
刺足太陽少陰，胃瘧者，令人且病也。善飢而不能食，食而支滿腹大，
刺足陽明太陰橫脈出血，瘧發身方熱，刺跗上動脈，開其空，出其血，立寒瘧方欲寒，
刺手陽明太陰，足陽明太陰，瘧脈滿太急，刺背俞，用中鍼，傍五胠俞各一，
適肥瘦出其血也。瘧脈小實急，灸脛少陰，刺指井，瘧脈滿大急，刺背俞，用五胠俞，
背俞各一，適行於血也。瘧脈緩大虛，便用藥，不宜用鍼，凡治瘧，先發如食頃，
乃可以治，過之則失時也。諸瘧而脈不見，刺十指間芔血，血去必已。
先視身之赤如小豆者，盡取之，十二瘧者，其發各不同時，察其病形，
以知其何脈之病也。先其發時，如食頃而刺之，一刺則衰，二刺則知，三刺則已，
不已刺舌下兩脈出血，不已刺郄中盛經出血，又刺項已下俠脊者必已，舌下兩脈者，
廉泉也。刺瘧者，必先問其病之所先發者先刺之，先頭痛及重者。
先刺頭上兩額兩眉間出血，先項背痛者，先刺之，先腰背痛者，先刺郄中出血，
先手臂痛者，先刺手少陰陽明十指間，先足脛痠痛者，先刺足陽明十指間出血，
風瘧瘧發，則汗出惡風，刺三陽經背俞之血者，胻痠痛甚，按之不可，名曰跗髓痛病，
以鑱鍼鍼絕骨出血立已，身體小痛，刺至陰諸陰之井，無出血，間一日一刺，瘧不渴，
間日而作，刺足太陽，渴而間日作，刺足少陽，溫瘧汗不出，為五十九刺。</p>
<h3>八  腰痛</h3>
<p>足太陽脈令人腰痛，引項脊尻背如重狀，刺其郄，中太陽正經出血，春無見血，
少陽令人腰痛，如以鍼刺其皮中，循循然不可以俛仰，不可以顧。
刺少陽成骨之端出血，成骨在膝外廉之骨獨起者，夏無見血，陽明令腰痛，不可以顧，
顧如有見者善悲，刺陽明於胻前三痏，上下和之出血，秋無見血，足少陰令人腰痛，
痛引脊內廉，刺少陰，於內踝上二痏，春無見血，出血太多，不可復也。厥陰之脈
令人腰痛，腰中如張弓弩弦，刺厥陰之脈，在腨踵魚腹之外，循之累細然，乃刺之，
其病令人善言，嘿嘿然不慧，刺之三痏，解脈令人腰痛，痛而引肩，目䀮䀮然，
時遺溲，刺解脈，在膝筋肉分間，郄外廉之橫脈出血，血變而止。
解脈令人腰痛如引帶，常如折腰狀，善恐刺解脈，在郄中結絡如黍米，刺之血射以黑，
見赤血而已，同陰之脈令人腰痛，痛如小錘居其中，佛然腫，刺同陰之脈。
在外踝上絕骨之端，為三痏，陽維之脈令人腰痛，痛上佛然腫，刺陽維之脈。
脈與太陽合腨下間，去地一尺所，衝絡之脈令人腰痛，不可以俛仰，仰則恐仆，
得之舉重傷腰衝絡絕，惡血歸之。刺之在郄陽筋之間，上郄數寸衝居，為二痏出血，
會陰之脈令人腰痛，痛上漯漯然汗出，汗乾令人欲飲，飲已欲走，刺直陽之脈上三痏。
在蹻郄下，五寸橫居，視其盛者出血，飛陽之脈令人腰痛，痛上怫怫然，甚則悲以恐，
刺飛陽之脈，在內踝上五寸，少陰之前，與陰維之會，昌陽之脈令人腰痛，痛引膺，
目䀮䀮然，甚則反折，舌捲不能言，刺二筋為二痏，在內踝上，大筋前，太陰後。
上踝二寸所，散脈令人腰痛而熱，熱甚生煩，腰下如有橫木居其中，甚則遺溲。
刺散脈，在膝前骨肉分間，絡外廉束脈為三痏，肉里之脈令人腰痛，不可以欬，
欬則筋縮急，刺肉里之脈為二痏，在太陽之外，少陽絕骨之後，腰痛俠脊而痛至頭。
几几然，目䀮䀮然欲僵仆，刺足太陽郄中出血，腰痛上寒，刺足太陽陽明，
上熱刺足厥陰，不可以俛仰刺足少陽，中熱而喘刺足少陰，刺郄中出血，
腰痛上寒不可顧，刺足陽明，上熱刺足太陰，中熱而喘，刺足少陰，大便難，
刺足少陰，如折不可以俛仰，不可舉，刺足太陽，引脊內廉，刺足少陰。
腰痛引小腹控䏚，不可以仰，刺腰尻交者，兩髁胛上，以月死生為痏數，發鍼立已，
左取右，右取左。○腰痛不可俛仰，急引陰卵，刺八髎與痛上，八髎在腰尻分。</p>
<h3>九  周痺</h3>
<p>帝曰：周痺之在身也。上下移徙隨脈，在上下左右相應，間不容空，願聞此痛，
在血脈之中耶，將在分肉之間乎。何以致是？其痛之移也。間不及下鍼，其慉痛之時，
不及定治，而痛已止矣。何道使然？願聞其故！岐伯曰：此眾痺也。非周痺也。曰：
願聞眾痺！曰：此各在其處，更發更止，更居更起，以右應左，以左應右，非能周也。
更發更休也。曰：刺之奈何？曰：刺此者，痛雖已止，必刺其處，勿令復起。曰：善，
願聞周痺何如？曰：周痺者，在於血脈之中，隨脈以上，隨脈以下，不能左右，
各當其所。曰：刺之奈何？曰：痛從上下者，先刺其下以遏之，後刺其下以脫之，
痛從下上者，先刺其上以遏之，後刺其下以脫之。帝曰：善此痛安生，何因而有名？
曰：風寒濕氣，客於分肉之間，迫切而為沬，沬得寒則聚，聚則排分肉而分裂也。
分裂則痛，痛則神歸之，神歸之則熱，熱則痛解，痛解則厥，厥則他痺發，發則如是。
帝曰：善，余已得其意矣。此內不在藏，而外未發於皮，獨居分肉之間，真氣不能周，
故命曰周痺。故刺痺者，必先切循其下之六經，視其虛實，及大絡之血，結而不通，
及虛而脈陷空中者而調之，熨而通之，其瘛堅轉弓而行之。帝曰：善，余已得其意矣。
亦得其事也。九者經巽之理，十二經脈陰陽之病也。</p>
<h3>十  癲狂</h3>
<p>癲疾者，始生先不樂，頭重頭痛，視舉目赤，甚作極已而煩心，候之於顏，
取手太陽陽明太陰，血變而止，癲疾始作而引口啼呼喘悸者，候之手陽明太陽，
左強者攻其右，右強者攻其左，血變而止，癲疾始作，先反僵，因而脊痛。
候之足太陽陽明手太陽，血變而止，治癲疾常與之居，察其所當取之處，病至視之，
有過者瀉之，置其血於瓢壼之中，至其發時，血獨動矣。不動，灸窮骨二十壯，
窮骨者骶骨也。骨癲疾者，鱤齒諸俞分肉皆滿，而骨居，汗出煩悗，嘔多沃沫，
氣下泄不治，脈癲疾者暴仆，四肢之脈皆脹而縱，脈滿，盡刺之出血，不滿，灸之，
挾項太陽灸帶脈於腰相去三寸，諸分肉本輸，嘔多沃沫，氣下泄不治，癲疾者，
疾發如狂者死不治，狂始生，先自悲也。喜忘苦怒，善恐者，得之憂飢。
治之取手太陰陽明，血變而止，及取足太陰陽明，狂始發，少臥不飢，自高賢也。
自辯智也。自尊貴也。善罵詈，日夜不休，治之取手陽明太陽太陰舌下少陰，
視之盛者皆取之，不盛釋之也。狂言驚善笑，好歌妄行不休者，得之大恐，
治之取手陽明太陽太陰，狂目妄見，耳妄聞，善呼者，少氣之所生也。
治之取手太陽太陰陽明，足太陰，頭兩鱤，狂者多食，善見鬼神，善笑而不發於外者，
得之有所大喜，治之取足太陰太陽陽明，後取手太陰太陽陽明，狂而新發，
未應如此者，先取曲泉左右動脈，及盛者見血，有頃已，不已以法取之，
灸骨骶二十壯。○大熱遍身，狂而妄見妄聞妄言，視足陽明及大絡取之，虛者補之，
血而實者瀉之，因其偃臥，居其頭前，以兩手四指夾按頸動脈，久持之，卷而切推，
下至缺盆中而復止如前，熱去乃止，此所謂推而散之也。○病在諸陽脈，且寒且熱，
諸分且寒且熱，名曰狂。刺之虛脈視分盡，熱病已止，病初發歲一發不治，
月一發不治，月四五發名，曰癲，刺諸分諸脈，其無寒者，以鍼調之。</p>
<h3>十一  頭</h3>
<p>厥頭痛，面若腫，起而煩心，取之足陽明太陰，厥頭痛頭脈痛，心悲善泣。
視頭動脈反盛者，刺盡去血，後調足厥陰，厥頭痛，頭員員頭重而痛，瀉頭上五行，
行五，先取手少陰，後取足少陰，厥頭痛意善忘，按之不得，取頭面左右動脈，
後取足太陰，厥頭痛項先痛，腰脊為應，先取天柱，後取足大竹太陽，厥頭痛頭痛甚，
耳前後脈湧有熱。一云有動脈瀉出其血，後取足少陽，真頭痛，頭痛甚，腦盡痛，
手足寒至節，死不治，頭痛不可取於俞者，有所擊墮，惡血在於內，若肉傷痛未已，
可則刺不可遠取也。頭痛不可刺者，大痺為惡，日作者可令少俞，不可已，頭半寒痛，
先取手少陽陽明，後取足少陽陽明。</p>
<h3>十二  痿</h3>
<p>帝曰：五藏使人痿何也？岐伯曰：肺主身之皮毛，心主身之血脈，肝主身之筋膜，
脾主身之肌肉，腎主身之骨髓。故肺熱葉焦，則皮毛虛，弱急薄著，則生痿躄也。
心氣熱則下脈厥而上，上則下脈虛，虛則生脈痿，樞折挈脛縱，而不任地也。
肝氣熱則膽泄口苦，筋膜乾，筋膜乾則筋急而孿，發為筋痿，脾氣熱則胃乾而渴，
肌肉不仁，發為肉痿，腎氣熱則腰脊不舉，骨枯而髓減，發為骨痿。帝曰：何以得之？
曰：肺者藏之長也。為心之蓋也。有所失亡，所求不得，則發肺鳴，鳴則肺熱葉焦，
故曰五藏因肺熱葉焦，發為痿躄，此之謂也。悲哀太甚，則胞絡絕，
胸絡絕則陽氣內動，發則心下崩，數溲血。故本病曰：大經空虛，發為肌痺，
傳為脈痿，思想無窮，所願不得，意淫於外，入房太甚，宗筋弛縱，發為筋痿，
及為白淫。故下經曰：筋痿者生於肝，使內也。有漸於濕，以水為事，若有所留，
居處相濕，肌肉濡潰，痺而不仁，發為肉痿。故下經曰：肉痿者，得之濕地也。
有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎，腎水藏也。
今水不勝火，則骨枯而髓虛。故足不任身，發為骨痿。故下經曰：骨痿者生於大熱也。
帝曰：何以別之？曰：肺熱者，色白而毛敗，心熱者，色赤而絡脈溢，肝熱者，
色蒼而爪枯，脾熱者，色黃而肉蠕動，腎熱者，色黑而齒槁。帝曰：如夫子言可矣。
論言治痿者獨取陽明何也？岐伯曰：陽明者，五藏六府之海，主潤宗筋，
宗筋主束骨而利機關也。衝脈者，經脈之海也。主滲灌谿谷，與陽明合於宗筋，
陰陽總宗筋之會，會於氣衝，而陽明為之長，皆屬於帶脈，而絡於督脈。故陽明虛，
則宗筋縱，帶脈不引。故足痿不用也。治之各補其滎，而通其俞，調其虛實，
和其逆順，筋脈骨肉，各以其時受月，則病已矣。帝曰：善。</p>
<h3>十三  心痛</h3>
<p>厥心痛與背相控，善瘈如從後觸其，傴僂者，腎心痛也。先取京骨崑崙。
發鍼不已取然谷，厥心痛腹脹胸滿，心尤痛甚，胃心痛也。取之太都太白。
厥心痛痛如以鍼刺其心，心痛甚者，脾心痛也。取之然谷太谿，厥心痛色蒼蒼如死狀，
終日不得太息，肝心痛也。取之行間太衝，厥心痛臥若徒居，心痛間動作痛益甚，
色不變，肺心痛也。取之魚際太淵，真心痛手足清至節，心痛甚，旦發夕死，
夕發旦死，心痛不可刺者，中有盛聚，不可取於俞。○心痛引腰脊欲嘔，取足少陰，
心痛腹脹，嗇嗇然大便不利，取足太陰，心痛引背不得息，刺足少陰，不已取手少陽，
心痛引小腹，上下無常處，便溲難，刺足厥陰，心痛但短氣不足以息，刺手太陰，
心痛當九節刺之。按已，刺按之立已，上下求之，得之立已。○背與心相控而痛，
所治天突十椎及上紀，上紀者胃愛富三也。下紀者關元也。背胸邪繫陰陽左右如此。</p>
<h3>十四  脹</h3>
<p>帝曰：脈之應於寸口如何而脹？岐伯曰：其脈大堅以濇者脹也。曰：
何以知藏府之脹也。曰：陰為藏，陽為府。曰：夫氣之令人脹也。在於血脈之中耶！
藏府之內乎。曰：三者皆存焉。然非脹之舍也。曰：願聞脹之舍。曰：夫脹者，
皆在藏府之外，排藏府而郭胸脇，脹皮膚。故命曰脹。曰：臟府之在胸脇腹裡之內也。
若匣匱之藏禁器也。各有次舍虛名，而同處一域之中，其氣各異，願聞其故。曰：
未解其意，再問？曰：夫胸腹藏府之郭也。膻中者，心主之宮城也。胃者，太倉也；
咽喉小腸者，傳送也；胃之五竅，閭里門戶也；廉泉玉英者，津液之道也。
故五藏六府，各有畔界，其病各有形狀，營氣循脈，衛氣逆為脈脹。
衛氣並脈循分為膚脹，三里而瀉，近者一下，遠者三下，無問虛實，工在疾瀉。曰：
願聞脹形。曰：夫心脹者，煩心短氣，臥不安，肺脹者，虛滿而喘咳，肝脹者，
脇下滿而引小腹，脾脹者善噦，四肢煩悗，體重不能勝衣，臥不安，腎脹腹滿引背，
央央然腰髀痛，六府脹。胃脹者，腹滿胃腕痛，鼻聞焦臭，妨於食，大便難。
大腸脹者，腸鳴而痛濯濯，冬日重感於寒，則飧泄不化。小腸脹者，小腹䐜脹，
引腰而痛，膀胱脹者，小腹滿而氣癃。三焦脹者，氣滿於皮膚中，輕輕然而不堅。
膽脹者，脇下痛脹，口中苦善太息。凡此諸脹者，其道在一，明知逆順，鍼數不失，
瀉虛補實，神去其室，致邪失正，真不可定，粗工所敗，謂之夭命。補虛瀉實，
神歸其室，久塞其空，謂之良工。曰：脹者焉生，何因而有？曰：衛氣之在身也。
常然並脈循分肉，行有逆順，陰陽相隨，乃得天和，五藏更始，四時循序，五穀乃化，
然後厥氣在下，營氣留止，寒氣逆上，真邪相攻，兩氣相搏，乃合為脹也。曰：善，
何以解惑？曰：合之於真，三合而得。曰：善。曰：脹論言無問虛實，工在疾瀉，
近者一下，遠者三下，今有其三，而不下者，其過焉在。曰：此言陷於肉肓，
而中氣穴者也。不中氣穴，則氣內閉，鍼不陷肓，則氣不行上越，中肉則衛氣相亂，
陰陽相逐，其於脹也。當瀉不瀉，氣故不下，三而不下，必更其道，氣下乃止，
不下復始，可以萬全，烏有殆者乎。其干脹也。必審其胗，當瀉則瀉，當補則補，
如皷應桴，惡有不下者乎！○帝曰：膚脹鼓脹可刺邪！曰：先瀉其脹之血絡，
後調其經，刺去血絡也。○腹暴滿，按之不下，取太陽經絡者，胃之募也。少陰俞者，
去脊椎三寸傍五，用員利鍼，衛氣逆而脈脹，衛氣並脈為膚脹，三里而瀉，近者一下，
遠者三下，無問虛實，三里疾瀉。</p>
<h3>十五  胸脇痛</h3>
<p>胸脇痛而不得息，不得臥，上氣短氣，偏痛脈滿起，斜出尻，脈絡胸脇，
支心貫鬲上肩，如天突斜下肩交十椎下。</p>
<h3>十六  大風</h3>
<p>風從外入，令人振寒，汗出頭痛，身重惡寒，治在風府，調其陰陽，不足則補，
有餘則瀉。○大風頭項痛，刺風府，風府在上椎，大風汗出，灸噫嘻，
在背下俠脊傍三寸所，厭之令病人呼噫嘻。○從風增風，刺眉頭，失枕在肩上橫骨間。
○病風且寒且熱，炅汗出，一日數過，先刺諸分理絡脈，汗出且寒且熱，三日一刺，
百日而已。</p>
<h3>十七  癘風</h3>
<p>癘風者，素刺其腫上已，刺以銳鍼，鍼其處，按出其惡氣，腫盡乃止。○骨節重，
鬚眉墮名大風，刺肌肉，為故汗出，百日。○刺骨髓，汗出百日，凡二百日，
須眉生而止鍼。</p>
<h3>十八  偏枯</h3>
<p>偏枯身偏不用而痛，言不變，志不亂，病在分腠之間，巨鍼取之，益其不足，
損其有餘，乃可復也。痱之為病，身無痛者，四肢不收，智亂不甚，言微知可治，
甚則不能言，不可治也。病先起於陽，而後入於陰，先取其陽，後取其陰，浮而取之。</p>
<h3>十九  痿厥</h3>
<p>痿厥為四末束悗，乃疾解之，日二，不仁者十日而知，無休病已止，歲以草刺鼻嚏，
嚏而已，無息而疾迎引之，立已，大驚之亦可。</p>
<h3>二十  癰</h3>
<p>癰疽之生，膿血之成也。不從天下，不從地出，積微之所生也。
故聖人自治於未有形也。愚者遭其已成也。膿已成，十死一生。故聖人弗使已成。
而明為良方，著之竹帛，使能者踵而傳之，後世無有終時者，為其不予遭也。帝曰：
其已有膿血而後遭乎。不導之以小鍼治乎！曰：以小治小者其功小，以大治大者多害，
故其已成膿血者，其惟砭石鈹鋒之所取也。○微按其癰，視氣所行，先淺刺其傍，
稍內益深，還而刺之，無過三行，察其浮沉，以為淺深，已刺必熨，令熱入中，
日使熱內，邪氣益衰，大癰乃潰。○治腐腫者，刺腐上，視癰大小深淺刺之，
刺大者多血，小者深之，必端內鍼，為故止。○癰疽不得，頃時回癰不知所，
按之不應手，乍來乍已，刺手太陰傍三痏，與纓脈各二，掖癰大熱，刺足少陰，
五刺而熱不止，刺手心主三，刺手太陰經絡者，大骨之會各三。○暴癰筋緛，
隨分而痛，魄汗不盡，胞氣不足，治在經俞。○癰氣之息者，宜以鍼開除去之，
夫氣盛血聚者，宜石而瀉之。○刺瘇搖鍼。○左足應立春，其日戊寅己丑；
左脇應春分，其日乙卯；左手應立夏，其日戊辰己巳；膺喉首頭應夏至，其日丙午。
右手應立秋，其日戊申己未；右脇應秋分，其日辛酉；右足應立冬，其日戊戌己亥。
腰尻下竅應冬至，其日壬子，六府膈下三藏應中州，其大禁，大禁太一所在之日，
及諸戊己。凡此九者，善候八正所在之處，所主左右上下，身體有癰腫者，欲治之，
無以其所值之日潰治之，是謂天忌日也。</p>
<h3>二十一  鼠瘻</h3>
<p>鼠瘻之本，皆在於藏，其末上出於頸腋之間，其浮於脈中，而未內著於肌肉，
而外為膿血者，易去也。請從其本，引其末，乃可衰去而絕其寒熱，審按其道以予之，
徐住徐來以去之，其小如麥者，一刺知，三刺而已。○鼠瘻寒熱刺寒府，
寒府在附膝外解營。</p>
<h3>二十二  耳鳴耳痛耳聾</h3>
<p>耳者宗筋之所聚也。胃中空則宗筋虛，虛則下溜，脈有所竭。故耳鳴，補客主人，
手大指爪甲上與肉交者也。○耳聾而不痛者，取足少陽，聾而痛者，取手陽明。
○耳聾無聞，取耳中聽宮，耳鳴取耳前動脈。○耳痛不可刺者，耳中有膿，
若有乾耵聹，耳無聞也。耳聾取手小指次指爪甲上與肉交者，先取手，後取足，
耳鳴取手中指爪甲上，左取右，右取左，先取手，後取足。○耳聾取手陽明，不已，
刺其通脈出耳前者。</p>
<h3>二十三  膝痛  脛痠</h3>
<p>蹇膝伸不屈治其楗，坐而膝痛治其機，立而暑解治其骸關，膝痛痛及拇指治其膕，
坐而膝痛如物隱者治其關，膝痛不可屈伸治其背，內連胻若折治陽明中俞髎，
若別治巨陽少陰滎，淫濼脛痠，不能久立，治少陽之維，在外踝上五寸輔骨上，
橫骨下為楗，俠髖為機，膝解為骸關，俠膝之骨為連骸，骸下為輔，輔上為膕，
膕上為關，頭橫骨為枕。○膝中痛取犢鼻，以員利鍼發而開之，鍼大如𣮖，刺膝無疑。</p>
<h3>二十四  嚙舌  嚙頰  嚙脣  重舌</h3>
<p>少陰氣至則嚙舌，少陽氣至則嚙頰，陽明氣至則嚙脣，視主病者則補之。
○重舌刺舌柱，以鈹鍼也。</p>
<h3>二十五  欠</h3>
<p>陰氣積於下，陽氣未盡，陽引而上，陰引而下，陰陽相引。故數欠，陽氣盡，
陰氣盛，則目瞑，陰氣盡，陽氣盛，則寤矣。瀉足少陰，補足太陽。○腎主欠，
取足少陰。</p>
<h3>二十六  噦</h3>
<p>穀入於胃，胃氣上注於肺，今有故，寒氣與新穀氣俱還於胃，新故相亂，真邪相攻，
氣併相連，復出於胃故噦，補手太陰，瀉足少陽。</p>
<h3>二十七  唏噫</h3>
<p>陰氣盛而陽氣虛，陰氣疾而陽氣徐，陰氣盛而陽氣絕。故為唏，補足太陽，瀉足少陰。
○寒氣客於胃，厥逆從下上散，復出於胃。故為噫，補足太陰陽明。</p>
<h3>二十八  振寒</h3>
<p>寒氣客於皮膚，陰氣盛，陽氣虛。故為振寒寒慄，補諸陽。</p>
<h3>二十九  嚲丁可反</h3>
<p>胃不實則諸脈虛，諸脈虛則筋脈懈惰，筋脈懈惰則行陰用事，氣不能復。故為嚲。
因其所在，補肉分間。</p>
<h3>三十  嚏</h3>
<p>陽氣和利，滿於心，出於鼻。故為嚏，補足太陽滎眉本。</p>
<h3>三十一  泣竭成盲</h3>
<p>泣不止則液竭，液竭則精不灌，精不灌則目無見。故命曰奪精，補天柱經俠頰項。</p>
<h3>三十二  太息</h3>
<p>憂思則心系急，急則氣約，氣約則不利。故太息以伸出之，補手少陰心主，
足少陽留之也。</p>
<h3>三十三  涎下</h3>
<p>飲食入胃，胃中有熱則蟲動，蟲動則胃緩，胃緩則廉泉開，廉泉開故涎下，補足少陰。
○涎出者是蛟蚘也。以手聚按，堅而持之，無令得移，以大鍼刺之，久持之，蟲不動，
乃出鍼也。</p>
<h3>三十四  口目喎噼</h3>
<p>足之陽明，手之太陽，筋急則口目喎噼，眥急不能卒視治皆如右方也。</p>
<h3>三十五  腸鳴</h3>
<p>中氣不足，溲便為之變，腸為之苦鳴，下氣不足，則為痿厥心悗，補足外踝下留之。</p>
<h3>三十六  目眩頭傾</h3>
<p>上氣不足，腦為之不滿，耳為之苦鳴，頭為之苦傾，補足外踝下留之。</p>
<h3>三十七  喉痺</h3>
<p>喉痺不能言，取足陽明，能言取手陽明。○厥氣走喉而不能言，手足清，大便不利，
取足少陰。○嗌乾口中熱如膠，取足少陰。○喉痺舌捲，口中乾，煩心心痛，
臂內廉痛，不可及頭，取手小指次指爪甲下去端如韭葉。</p>
<h3>三十八  齒痛</h3>
<p>齒痛不惡清飲，取足陽明，惡清飲，取手陽明。○齒齲刺手陽明，不已，
刺其脈入齒中者立已。</p>
<h3>三十九  衄</h3>
<p>衄而不止衃血流，取足太陽，衃血取手太陽，不已，刺腕骨下，不已，刺膕中出血。</p>
<h3>四十  喘</h3>
<p>中熱而喘，取足少陽膕中血絡，氣滿胸中喘息，取足太陰大指之端去爪甲如韭葉，
寒則留之，熱則疾之，氣下乃止。</p>
<h3>四十一  怒</h3>
<p>喜怒而不欲食，言益小，刺足太陰，怒而多言，刺足少陽。</p>
<h3>四十二  顑若感切</h3>
<p>刺手陽明。○顑痛刺足陽明曲周動脈，見血立已，不已，按人迎於經立已。</p>
<h3>四十三  項痛</h3>
<p>項痛不可俛仰，刺足太陽，不可以顧，刺手太陽。</p>
<h3>四十四  足</h3>
<p>足髀不可舉，側而取之，在樞合中，以員利鍼，大鍼不可刺。○陽明虛則宗筋縱，
帶脈不引。故足痿不用也。補其滎而通其俞。</p>
<h3>四十五  下血</h3>
<p>病注下血，取曲泉。</p>
<h3>四十六  疝</h3>
<p>痛在小腹，小腹痛不得大小便，名曰疝。得之寒，刺小腹兩股間，刺腰髁骨間，
刺而多之，盡炅病已，心疝暴痛，取足太陰厥陰，盡刺去其血絡。</p>
<h3>四十七  轉筋</h3>
<p>轉筋於陽治其陽，轉筋於陰治其陰，皆卒刺之。○轉筋者，立而取之，可令遂已。</p>
<h3>四十八  厥</h3>
<p>厥挾脊而痛者至頂，頭沉沉然，目䀮䀮然，腰脊強，取足太陽膕中血絡，厥胸滿面腫，
脣漯漯然，暴難言，甚則不能言，取足陽明，厥氣走喉而不能言，手足清，大便不利，
取足少陰，厥而腹嚮嚮然，多寒氣，腹中𣹬𣹬，便溲難，取足太陰。
○巨陽之厥則腫首頭重，足不能行，發為眴仆，陽明之厥則巔疾欲走，呼腹滿，
不得臥，面赤而熱，妄見而妄言，少陽之厥則暴聾頰腫而熱，脇痛，胻不可以運，
太陰之厥則腹滿䐜脹，後不利，不欲食，食則嘔，不得臥，少陰之厥則口乾溺赤，
腹滿心痛，厥陰之厥則小腹腫痛腹脹，涇溲不利，好臥屈膝，陰縮腫胻，
內熱盛則瀉之，虛則補之，不盛不虛，以經取之。</p>
<h3>四十九  癇</h3>
<p>刺癇驚脈五，鍼手太陰各五，刺經太陽五，刺手少陰經絡傍者一，足陽明一，
上踝五寸刺三鍼。</p>
<h3>五十  霍亂</h3>
<p>霍亂刺俞傍五，足陽明及上傍三。</p>
<h3>五十一  目痛</h3>
<p>目中赤痛從內眥始，取之陰蹻。</p>
<h3>五十二  卒然無音</h3>
<p>帝曰：人之卒然憂恚而無音者，何道之塞？何氣出行？使音不彰，願聞其方。少師曰：
咽喉者，水穀之道路也。喉嚨，氣之所以上下者也。會厭，聲音之戶也。口脣者，
聲音之扇也。舌者，音聲之機也。懸雍垂者，音聲之關也。頏顙者，分氣之所泄也。
橫骨者，神氣所使，主發舌者也。故人之鼻洞涕出不收者，頏顙不開，分氣失也。
是故厭小而疾薄則發氣疾，其開闔利，其出氣易，其厭大而厚，其開闔難，其氣出遲，
故重言。人卒然無音者，寒氣客於厭，則厭不能發，發不能下，至其開闔不致，
故無音。曰：刺之奈何？曰：足之少陰，上係於舌，絡於橫骨，終於會厭，
兩瀉其血脈，濁氣乃辟，會厭之脈，上絡任脈，取之天突，其厭乃發也。</p>
<h3>五十三  目不瞑不臥</h3>
<p>夫邪氣之客於人也。或令人目不瞑，不臥者，何氣使然？伯高曰：五穀入於胃也。
其糟粕津液宗氣，分為三隧。故宗氣積於胸中，出於喉嚨，以貫心脈，而行呼吸焉！
滎氣者泌其津液，注之於脈，化以為血，以滎四末，內注五藏六府，以應刻數焉！
衛氣者出其悍氣之慓疾，而先行於四末分肉皮膚之間，而不休者也。晝日行於陽，
夜日行於陰，常從足少陰之分間，行於五藏六府。今厥氣客於五藏六府，
則衛氣獨衛其外，行於陽，不得入於陰，行於陽則陽氣盛，陽氣盛則陽蹻陷，
不得入於陰，陰虛。故目不瞑。曰：治之奈何？曰：補其不足，瀉其有餘，
調其虛實，以通其道，而去其邪！</p>
<h3>五十四  補遺篇氣交暴鬱刺</h3>
<p>帝曰：升降不前，氣交有變，即成暴鬱。余已知之，如何預救生靈？
可得卻乎岐伯曰：昭乎哉問！臣聞夫子言，既明天真，須窮法刺，可以折鬱扶運，
補弱全真，瀉盛蠲餘，令除斯苦。帝曰：願卒聞之。曰：升之不前，即有甚凶也。
木欲升而天柱窒抑之，木欲發鬱，亦須待時，當刺足厥陰之井，火欲升而天蓬窒抑之，
火欲發鬱，亦須待時，君火相火同，刺包絡之滎，土欲升而天衛窒抑之，土欲發鬱，
亦須待時，當刺足太陰之俞，金欲升而天英窒抑之，金欲發鬱，亦須待時，
當刺手太陰之經，水欲升而天芮窒抑之，水欲發鬱，亦須待時，當刺足少陰之合。
帝曰：升之不前，可以預備，願聞其降，可以先防。曰：既明其升，必達其降也。
升降之道，皆可先治也。木欲降而地晶窒抑之，降而不入，抑之鬱發，散而可得位，
降而鬱發暴，如天間之待時也。降而不下，鬱可速矣。降可折其所勝也。
當刺手太陰之所出，刺手陽明之所入，火欲降而地玄窒抑之，降而不入，抑之鬱發，
散而可矣。當折其所勝，可散其鬱，當刺足少陰之所出，刺足太陽之所入，
土欲降而地蒼窒抑之，降而不下，抑之鬱發，散而可入，當折其勝，可散其鬱，
當刺足厥陰之所出，刺足少陽之所入，金欲降而地彤窒抑之，降而不下，抑之鬱發，
散而可入，當折其勝，可散其鬱，當刺心包絡所出，刺手少陽所入也。
水欲降而地阜窒抑之，降而不下，抑之鬱發，散而可入，當折其土，可散其鬱，
當刺足太陰之所出，刺足陽明之所入。帝曰：五運之至，有前後與升降往來，
有所承抑之，可得聞乎刺法。岐伯曰：當取其化源也。是故太過取之不及，
資之太過取之，次抑其鬱，取其運之化源，令折鬱氣，不及扶資，以扶運氣，
以避虛邪也。資取之法，令出密語。</p>
<h3>五十五  司天不遷正刺法</h3>
<p>帝曰：升降之刺以知要，願聞司天未得遷正，使司化之失其常政，即萬化之或其皆妄，
然與民為病，可得先除，欲濟群生，願聞其說。岐伯曰：悉乎哉問，言其至理，
聖念慈憫，欲濟群生，臣乃盡陳斯道，可申洞微，太陽復布，即厥陰不遷正，
不遷正氣塞於上，當瀉足厥陰之所流，厥陰復布，少陰不遷正，不遷正即氣塞於上，
當刺心包絡脈之所流，少陰復布，太陰不遷正，不遷正即氣留於上。
當刺足太陰之所流，太陰復布，少陽不遷正，不遷正則氣塞未通，當刺手少陽之所流，
少陽復布，則陽明不遷正，不遷正則氣未通上，當刺手太陰之所流，陽明復布，
太陽不遷正，不遷正則復塞其氣，當刺足少陰之所流。</p>
<h3>五十六  司氣有餘不退位刺法</h3>
<p>帝曰：遷正不前，以通其要，願聞不退，欲折其餘，無令過失，可得明乎。岐伯曰：
氣過有餘，復作布政，是名不過位也。使地氣不得後化，新司天未得遷正。故復布化。
令如故也。己亥之歲，天數有餘。故厥陰不退位也。風行於上，木化布天。
當刺足厥陰之所入，子午之歲，天數有餘。故少陰不退位也。熱行於上，火餘化布天。
當刺手厥陰之所入，丑未之歲，天數有餘。故太陰不退位也。濕行於上，雨化布天。
當刺足太陰之所入，寅申之歲，天數有餘。故少陽不退位也。熱行於上，火化布天。
當刺手少陽之所入，卯酉之歲，天數有餘。故陽明不退位也。金行於上，燥化布天。
當刺手太陰之所入，辰戌之歲，天數有餘。故太陽不退位也。寒行於上，凜水化布天。
當刺足少陰之所入。故天地氣逆，化成民病，以法刺之，預可平疴。（劉溫舒曰：
或者謂歲運大角，木王土衰，迎取之當使瀉肝經而益其脾胃，人人如此，何病之有？
此非通論也！何哉？豈有人人藏府皆同者，假如肝元素虛脾土素盛，遇此大角之運，
肝木稍實，脾氣得平，方獲安和。若便瀉肝補脾，此所謂實實虛虛，損不足，益有餘，
餘氣同法，鍼之治病，病對穴，可謂工也。）</p>
<h3>五十七  司氣失守刺</h3>
<p>帝曰：剛柔二干，失守其位，使天運之氣皆虛乎。與民為病，可得平乎？岐伯曰：
深乎哉問，明其奧旨，天地迭移，三年化疫，是謂根之可見，必有逃門。假令甲子，
剛柔失守，剛未正柔，孤而有虧，時序不令，即音律非從，如此三年，變大疫也。
詳其微甚，察其淺深，欲至而可刺，刺之當先補腎俞，次三日可刺足太陰之所注，
又有下位，巳卯不至，而甲子孤立者，次三年作土癘，其法補瀉，一如甲子同法也。
假令丙寅，剛柔失守，上剛干失守，下柔不可獨主之，中水運非太過，
不可執法而定之，布天有餘，而失守上正，天地不合，即律呂音異。
如此即天運失序，後三年變疫，詳其微甚，差有大小徐至，即後三年，至甚即首三年，
當先補心俞，次五日可刺腎之所入，又有下位，地甲子辛巳柔不附剛，亦名失守，
即地運皆虛，後三年變水癘，即刺法皆如此矣。其刺如畢，慎其大喜欲情於中，
如不忌即其氣復散也。令靜七日，心欲實，令少思，假令庚辰剛柔失守，上位失守，
下位無合，乙庚金運。故非相招，布天未退，中運勝來，上下相錯，謂之失守。
姑洗林鍾，商音不應也。如此即天運化易，三年變大疫，詳其天數，差有微甚，
微即微三年至，甚即甚三年至，當先補肝俞，次三日可刺肺之所行，刺畢，
可靜神七日，慎勿大怒，怒必真氣卻散之。又或在下地甲子，乙未失守者，即乙柔干。
即上庚獨治之，亦名失守者。即天運孤主之，三年變癘，名曰金癘，其至待時也。
詳其地數之差等，亦推其微甚，可知遲速爾，諸位乙庚失守，刺法同，肝欲平，
即勿怒。假令壬午剛柔失守，上壬未遷正，下丁獨然，即雖陽年虧及不同，上下失守，
相招其有期，差之微甚，各有其數也。律呂二角，失而不和，同音有日，微甚如見，
三年大疫，當刺脾之俞，次三日可刺肝之所出也。刺畢靜神七日，勿大醉歌樂，
其氣復散，又勿飽食，勿食生物，欲令脾實，氣無滯，飽無久坐，食無太酸，
無食一切生物，宜甘宜淡，又或地下甲子，丁酉失守其位，未得中司，即氣不當位，
下不與壬奉合者，亦名失守，非名合德。故柔不附剛，即地運不合，三年變癘，
其刺法一如木疫之法。假令戊申，剛柔失守，戊癸雖火運陽年，不太過也。
上失其剛柔，地獨主其氣不正。故有邪干，迭移其位，差有淺深，欲至將合，
音律先同。如此天運失時，三年之中，火疫至矣。當刺肺之俞，刺畢靜神七日，
勿大悲傷也。悲傷即肺，動而真氣復散也。人欲實肺者，要在息氣也。又或地下甲子，
癸亥失守者，即柔失守位也。即上失其剛也。即亦名戊癸不相合德者也。即運與地虛，
後三年變癘，即名火癘。是故立地五年以明失守，以窮法刺。於是疫之與癘，
即是上下剛柔之名也。窮歸一體也。即刺疫法，只有五法，即總其諸位失守，
故只歸五行而統之也。</p>
<h3>五十八  全真刺</h3>
<p>帝曰：人虛即神遊失守位，使鬼神外干，是致夭亡，何以全真？願聞刺法。岐伯曰：
昭乎哉問，謂神移失守，雖在其體，然不致死，或有邪干？故令夭壽。
只如厥陰失守，天以虛，人氣肝虛，感天重虛。即魂遊於上，邪干厥陰，大氣身溫，
猶可刺之，刺其足少陽之所過，次刺肝之俞，人病心虛，又遇君相二火司天失守，
感而三虛，遇火不及，黑尸鬼犯之，令人暴亡，可刺手少陽之所過，復刺心俞，
人脾病，又遇太陰司天失守，感而三虛，又遇土不及，青戶鬼邪犯之於人。
令人暴亡，可刺足陽明之所過，復刺脾之俞，人肺病，遇陽明司天失守，感而三虛。
又遇金不及，有赤尸鬼干人。令人暴亡，可刺手陽明之所過，復刺肺俞，人腎病。
又遇太陽司天失守，感而三虛。又遇木運不及之年，有黃尸鬼干犯人正氣，吸人神魂，
致暴亡，可刺足太陽之所過，刺足少陰之俞。</p>
<h3>五十九  十二藏邪干刺</h3>
<p>帝曰：十二藏之相使，神失位，使神彩之不圓，恐邪干犯，治之可刺，願聞其要。
岐伯曰：悉乎哉問，至理道真宗，此非聖帝，焉究斯源。是謂氣神合道，契符上天，
心者君主之官，神明出焉。可刺手少陰之源，肺者相傳之官，治節出焉。
可刺手太陰之源，肝者將軍之官，謀慮出焉，可刺足厥陰之源，膽者中正之官，
決斷出焉，可刺足少陽之源，膻中者臣使之官，喜樂出焉，可刺心包絡所流，
脾為諫議之官，知周出焉，可刺脾之源，胃為倉廩之官，五味出焉，可刺胃之源，
大腸者傳送之官，變化出焉，可刺大腸之源，小腸者受盛之官，化物出焉。
可刺小腸之源，腎者作強之官，伎巧出焉，可刺腎之源，三焦者決瀆之官，水道出焉，
刺三焦之源，膀胱者州都之官，精液藏焉，氣化則能出矣。刺膀胱之源。
凡此十二官者，不得相失也。是故刺法有全神養真之理，亦法有修真之道。非治疾也。
故要修養和神也。</p>
<h3>六十  艾灸方宜</h3>
<p>北方者，天地所閉藏之域也。其地高陵居，風寒冰冽，其民樂野處而乳食，
藏寒生滿病，其治宜灸焫。故灸焫者，亦從北方來。</p>
<h3>六十一  艾灸補瀉</h3>
<p>氣盛則瀉之，虛則補之。○以火補者，由吹其火，須自滅也。以火瀉者，疾吹其火，
傳其艾，須其火滅也。○絡滿經虛，灸陰刺陽，經滿絡虛，刺陰灸陽。
○陷下則灸之。○鍼所不為，灸之所宜，陰陽皆虛，火自當之。○經陷下者，
火則當之。○經絡堅緊，火所治之。</p>
<h3>六十二  灸寒熱</h3>
<p>灸寒熱之法，先灸大椎，以年為壯，數次灸撅骨，以年為壯，數視背俞陷者灸之，
舉臂肩上陷者灸之，兩季脇之間灸之，外踝上絕骨之端灸之，足小指次指間灸之，
腨下陷脈灸之，外踝後灸之，缺盆骨上切之，堅動如筋者灸之，膺中陷骨間灸之，
臍下關元三寸灸之，毛際動脈灸之，膝下三寸分間灸之，足陽明跗上動脈灸之，
巔上一灸之。</p>
<h3>六十三  女子敗疵</h3>
<p>發於脇，名曰敗疵，敗疵者，女子之病也。灸之。</p>
<h3>六十四  灸癰</h3>
<p>五藏癰發，四五日逞灸之。</p>
<h3>六十五  犬咬</h3>
<p>犬嚙，犬所嚙處灸之三壯，即以犬傷病法灸之，當灸二十九處。</p>
<h3>六十六  傷食  苦樂</h3>
<p>傷食灸之。○形樂志苦，病生於脈，治之以刺。</p>
<h3>六十七  宜灸不宜刺</h3>
<p>背中大俞在杼骨之端，肺俞在三焦之間，心俞在五焦之間，鬲俞在七焦之間。
肝俞在九焦之間，脾俞在十一焦之間，腎俞在十四焦之間，皆挾脊相去三寸所，
則欲得而驗之，按其處，應其中而痛解，乃其俞也。灸之則可，刺之則不可。
（武按血氣形志論，及遺篇刺法論，並載五藏俞刺，而此云可灸不可刺，
故滄州翁讀素問非出於一時之言，非成於一人之手，焦當作椎。又按華佗傳，
彭城樊阿皆從佗學，凡醫咸言背及胸藏之間，不可妄鍼，鍼之不過四分，
而阿鍼背入一二寸，巨闕胸藏乃五六寸，而病皆瘳，是知素問立言致謹之道，
而明醫縱橫變化，不拘於常法，而卒與法會也。）</p>
<p>明  四明  高武撰  述</p>
<h2>卷三</h2>
<h3>一  十二經病刺</h3>
<p>手太陰  是動則病肺脹滿，膨膨而喘欬，缺盆中痛，甚則交兩手而瞀，此為臂厥，
是主肺。○所生病者，亥上氣，喘渴煩心，胸滿，臑臂內前廉痛厥，掌中熱。
○氣盛有餘，則肩背痛，風寒汗出中風，小便數而欠。○氣虛則肩背痛寒，
少氣不足以息，溺色變，盛者寸口大三倍於人迎，虛者寸口反小於人迎也。
手陽明  是動則病齒痛頸腫，是主津液。○所生病者，目黃口乾，鼽衄喉痺，
肩前臑痛，大指次指痛不用。○氣有餘，則當脈所過者熱腫。○虛則寒慄不復。
○盛者人迎大三倍於寸口，虛者人迎反小於寸口也。
足陽明  是動則病洒洒振寒，善呻數欠顏黑，病至則惡人與火。聞木聲則惕然而驚，
心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為骭厥，
是主血。○所生病者，狂瘧溫淫汗出，鼽衄口喎，脣胗頸腫喉痺，大腹水腫，
膝臏腫痛，循膺亂氣街股伏兔，骭外廉足跗上皆痛，中指不用。○氣盛則身已前皆熱，
其有餘於胃，則消穀善飢，溺色黃，氣不足則身已前皆寒慄，胃中寒則脹滿。
○盛者人迎大三倍於寸口，虛者人迎反小於寸口也。
足太陰  是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣，則快然如衰，
身體皆重，是主脾。○所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，
溏瘕泄，水閉黃疽，不能臥強立股膝內腫厥，足大指不用，盛者寸口大三倍於人迎，
虛者寸口反小於人迎也。
手少陰  是動則病嗌乾心痛，渴而欲飲，是為臂厥，是主心。○所生病者，目黃脇痛，
臑臂內後廉痛厥，掌中熱痛。○盛者寸口大再倍於人迎，虛者寸口反小於人迎也。
手太陽  是動則病嗌痛頷腫，不可以顧，肩似拔，臑似折，是主液。○所生病者，
耳聾目黃，頰腫，頸頷肩臑肘臂外後廉痛。○盛者人迎大再倍於寸口，
虛者人迎反小於寸口也。
足太陽  是動則病衝頭痛，目似脫，項如拔，脊痛，腰似折，膕如結，踹如裂，
是為踝厥，是主筋。○所生病者，痔瘧狂癲疾，頭項痛，目黃溺出鼽衄，
項背腰尻膕踹腳皆痛，小指不用。○盛者人迎大再倍於寸口，
虛者人迎反小於寸口也。
足少陰  是動則病飢不欲食，面如炭色，欬唾則有血，喝喝而喘，坐而欲起，
目䀮䀮如無所見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是為骨厥，
是主腎。○所生病者，口熱舌乾咽腫，上氣嗌乾及痛，煩心心痛，黃疸腸澼，
脊股內後廉痛，痿厥嗜臥，足下熱而痛。○盛者寸口大再倍於人迎，
虛者寸口反小於人迎也。
手厥陰  是動則病手心熱，臂肘攣急，腋腫，甚則胸脇支滿，心中澹澹大動，
面赤目黃，喜笑不休，是主脈。○所生病者，煩心心痛，掌中熱。
○盛者寸口大一倍於人迎，虛者寸口反小於人迎也。
手少陽  是動則病耳聾，渾渾焞焞，嗌腫喉痺，是主氣。○所生病者汗出，目銳眥痛，
耳後肩臑肘臂外皆痛，小指次指不用。○盛者人迎大一倍於寸口，
虛者人迎反小於寸口也。
足少陽  是動則病口苦，善太息，心脇痛，不能轉側，甚則面微有塵，體無膏澤，
足外反熱，是為陽厥，是主骨。○所生病者，頭角頷痛，目銳眥痛，缺盆中腫痛，
腋下腫，馬刀俠癭，汗出振寒瘧，胸脇肋髀膝外至脛絕骨止桌前及諸節皆痛，
小指次指不用。○盛者人迎大一倍於寸口，虛者人迎反小於寸口也。
足厥陰  是動則病腰痛不可以俛仰，丈夫㿉疝，婦人小腹腫，甚則嗌乾面塵脫色，
是主肝。○所生病者，胸滿嘔逆，飧泄狐疝，遺溺閉癃，○盛者寸口大一倍於人迎，
虛者寸口反小於人迎也。
此十二病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，
經取之。</p>
<h3>二  奇經八脈病</h3>
<p>督脈  此生病從小腹上衝上而痛，不得前後，為衝疝，其女子不孕，癃痔遺溺，
嗌乾脊強反折，督脈生病治督脈。
任脈  為病，男子內結七疝，女子帶下瘕聚。
陽蹻脈  為病，陰緩而陽急，氣并相還，則為濡目，氣不榮，則目不合。
陰蹻脈  為病，令人陽緩而陰急。
衝脈  為病，令人逆氣裡急。
陽維脈  若不能維於陽，則深深不能自收持。
陰維脈  若不能維於陰，則悵然失志。
帶脈  為病，腰腹縱容，如囊水之狀。</p>
<h3>三  十二經脈</h3>
<p>帝曰：經脈者，所以決死生，處百病，不可不通。○肺手太陰之脈起於中焦，
下絡大腸，還循胃口，上鬲屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，
下肘中，循臂內上骨下廉，入寸口，上魚，循魚際出大指之端。
其支者從腕後直出次指內廉出其端。○大腸手陽明之脈，起於大指次指之端，
循指上廉出合谷兩骨之間，上入兩筋之中，循臂上廉入肘外廉，上循臑外前廉，
上肩出髃骨之前廉，出於柱骨之會上，下入缺盆，絡肺下鬲屬大腸。
其支者從缺盆上頸貫頰，入下齒中，還出挾口交人中，左之右，右之左，上挾鼻孔。
○胃足陽明之脈，起於鼻之交頞中，旁納一作本約太陽之脈，下循鼻外，入上齒中，
還出俠口環脣下承漿，卻循頤後下廉出大迎，循頰車上耳前，過客主人，
循髮際至額盧。其支者從大迎前下人迎，循喉嚨入缺盆，下鬲屬胃絡脾。其直行者，
從缺盆下乳內廉，下挾臍入氣街中，其支者起於胃口，下循腹裡，下至氣街中而合，
以下髀關，抵伏兔，下膝臏中，下循胻外廉，下足跗入中指外間，
其支者下廉三寸而別，下入中指外間。其支者別跗上入大指間出其端。
○脾足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，
上踹內循胻骨後，交出厥陰之前，上膝股內前廉，入腹屬脾絡胃，上鬲挾咽連舌本，
散舌下，其支者復從胃別上鬲注心中。○心手少陰之脈，起於心中，出屬心系，
下鬲絡小腸。其支者從心系上挾咽繫目系，其直者復從心系卻上肺，下出腋下，
下循臑內後廉，行太陰心主之後，下肘內循臂內後廉，抵掌後兌骨之端，入掌內後廉，
循小指之內出其端。○小腸手太陽之脈，起於小指之端，循手外側上腕出踝中，
直上循臂骨下廉，出肘內側兩筋之間，上循臑外後廉，出肩解，繞肩胛，
交肩上入缺盆，絡心循咽，下鬲抵胃屬小腸。其支者從缺盆循頸上頰至目銳眥，
卻入耳中，其支者別頰上䪼抵鼻至目內眥，斜絡於顴。○膀胱足太陽之脈，
起於目內眥，上額交巔，其支者從巔至耳上角，其直者從巔入絡腦，還出別下項，
循肩髆，內挾脊抵腰中，入循膂，絡腎屬膀胱，其支者從腰中下夾脊貫臀入膕中。
其支者從髆內左右別下貫胂，挾脊內過髀樞，循髀外從後廉下合膕中，以下貫踹內，
出外踝之後，循京骨至小指外側。○腎足少陰之脈，起於小指之下，斜走足心，
出於然谷之下，循內踝之後，別入跟中，以上踹內，出膕內廉，上股內後廉，
貫脊屬腎絡膀胱，其直者從腎上貫肝鬲入肺中，循喉嚨夾舌本。其支者從肺出絡心，
注胸中。○心主手厥陰心包絡之脈，起於胸中，出屬心包，絡下鬲歷絡三焦，
其支者循胸中出下腋三寸，上抵腋下循臑內，行太陰少陰之間，入肘中下臂，
行兩筋之間，入掌中循中指出其端。其支者別掌中，循小指次指出其端。
○三焦手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，
上貫肘，循臑外上肩而交出足少陽之後，入缺盆布膻中，散絡心包，下鬲循屬三焦。
其支者從膻中上出缺盆，上項繫耳後，直上出耳上角以屈下頰至䪼。
其支者從耳後入耳中，出走耳前，過客主人，前交頰至目銳眥。○膽足少陽之脈，
起於目銳眥，上抵頭角，下耳後循頸行手少陽之前，至肩上交出手少陽之後，入缺盆。
其支者從耳後入耳中，出走耳前，至目銳眥後。其支者別銳眥下大迎，合於手少陽，
抵於䪼下，加頰車下頸合缺盆，以下胸中，貫鬲絡肝屬膽，循脇裡，出氣街，繞毛際，
橫入髀厭中，其直者從缺盆下腋循胸，過季脇下合髀厭中，以下循髀陽出膝外廉，
下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上入小指次指之間。
其支者別跗上入大指之間，循大指歧骨內出其端，還貫爪甲，出三毛。
○肝足厥陰之脈，起於大指聚毛之際，上循足跗上廉，去內踝一寸，上踝八寸，
交出太陰之後，上膕內廉，循股陰入毛中，過陰器，抵小腹，挾胃屬肝絡膽，上貫鬲，
布脇肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔。
其支者從目系下頰裡，環脣內，其支者復從肝別貫鬲上注肺。</p>
<h3>四  奇經八脈</h3>
<p>督脈者，起於小腹以下骨中央，女子入繫廷孔，其孔溺孔之端也。其絡循陰器合篡間，
繞篡後別繞臂，至少陰與巨陽中絡者合，少陰上股內後廉，貫脊屬腎。
與太陽起於目內眥，上額交巔，上入絡腦，還出別下項，循肩髆內，俠脊抵腰中，
入循膂絡腎，其男子循莖下至篡，與女子等，其小腹直上者，貫臍中央，上貫心入喉，
上頤環脣，上係兩目之下中央。○督脈起於下極之俞，並於脊裡，上至風府，
入腦上巔，循額至鼻柱，屬陽脈之海也。
任脈與衝脈，皆起於胞中，循脊裡，為經絡之海，其浮而外者，循腹右上行會於咽喉，
別而絡脣口，血氣盛則肌肉熱，血獨盛則滲灌皮膚，生毫毛，婦毛，婦人有餘於氣，
不足於血，以其月事數下，任衝並傷故也。任衝之交脈不榮於脣口。故髭鬚不生。
○任脈者，起於中極之下，以上毛際，循腹裡，上關元，至喉嚨，屬陰脈之海也。
○衝脈與任脈皆起胞中，上循脊裡，為經絡之海，其浮於外者，循腹上行，會於咽喉，
別而絡脣口。又衝脈起於氣衝，並足少陰之經，挾臍上行，會於咽喉，至胸而散，
陽蹻脈起於跟中，循外踝上行入風池，兩足蹻脈本太陽之別，合於太陽，男子數其陽，
女子數其陰，當數者為經，不當數者為絡也。
陰蹻脈起於跟中，循內踝上行至喉嚨，交貫衝脈蹻脈少陰之別，起於然骨之後，
上內跟之上，直上循陰股，入陰，上循胸裡，入缺盆，上出人迎之前，入頄屬目內眥，
合於太陽，男子以之為經，女子以之為絡，陰蹻之郄在交信。
陽維脈，維於陽，起於諸陽之會，與陰維皆維絡於身，其脈氣所發，別於金門，
以陽交為郄，與手足太陽及蹻脈會於臑俞，與手足少陽會於天髎，又會於肩井，
其在頭也。又與足少陽會於陽白，上於本神及臨泣，上至正營，循於腦空，下至風池，
其與督脈會，則在風府及瘂門。○陰維脈，維於陰，其脈起於諸陰之交，陰維之郄，
名曰築賓。與足太陰會於腹哀大橫，又與足太陰厥陰會於府舍期門。
又與任脈會於天突廉泉。
帶脈者，起於季脇，圍身一周，其脈氣所發，在季脇下一寸八分，正名帶脈，
以其圍身一周如帶也。又與足少陽會於維道。</p>
<h3>五  十五絡脈</h3>
<p>手太陰之別名曰列缺，起於腕上分間並太陰之經直入掌中，散入於魚際，
其病實則手銳掌熱，虛則欠劫，小便遺數，取之去腕半寸，別走陽明也。
○手少陰之別名曰通里，去腕一寸半，別而上行，循經入於心中，繫舌本，屬目系，
實則支鬲，虛則不能言，取之掌後一寸，別走太陽也。○手心主之別名曰內關，
去腕二寸，出於兩筋之間，循經上上，繫於心包絡，心系實則心痛，虛則頭強，
取之兩筋間也。○手太陽之別名曰支正，上腕五寸，內注少陰，其別者上走肘絡肩髃，
實則節弛肘廢，虛則生肬，小者如指痂疥，取之所別也。○手陽明之絡名曰偏歷，
去腕三寸，別入太陰，其別者上循臂乘肩髃，上曲頰偏齒，其別者入耳！合於宗脈，
實則齲聾，虛則齒寒痺隔，取之所別也。○手少陽之別名曰外關，去腕二寸，
外遶臂注胸中，合心主，病實則肘攣，虛則不收，取之所別也。
○足太陽之別名曰飛揚，去踝七寸，別走少陰，實則鼽窒頭背痛，虛則鼽衄，
取之所別也。○足少陽之別名曰光明，去踝五寸，別走厥陰，下絡足跗，實則厥，
虛則痿蹶，坐不能起，取之所別也。○足陽明之別名曰豐隆，去踝八寸，別走太陰，
其別者循脛骨外廉，上絡頭項，合諸經之氣，下絡喉咽，其病氣逆，則喉痺瘴瘖，
實則狂癲，虛則足不收脛枯，取之所別也。○足太陰之別名曰公孫，去本節之後一寸，
別走陽明，其別者入絡腸胃，厥氣上逆則霍亂，實則腸中切痛，虛則鼓脹，
取之所別也。○足少陰之別名曰大鍾，當踝後遶跟，別走太陽，
其別者并經上走於心包下，外貫腰脊，其病氣逆則煩悶，實則閉癃，虛則腰痛，
取之所別也。○足厥陰之別名曰蠡溝，去內踝五寸，別走少陽，
其別者徑脛上睾結於莖，其病氣逆則睾腫卒疝，實則挺長，虛則暴癢，取之所別也。
○任脈之別名曰尾翳，下鳩尾散 於腹，實則腹皮痛，虛則癢搔，取之所別也。
○督脈之別名曰長強，挾膂上項散頭上，下當肩胛左右，別走太陽，入貫膂，
實則脊強，虛則頭重，高搖之，夾脊之有過者，取之所別也。○脾之大絡名曰大包，
出淵腋下三寸，布胸脇，實則身盡痛，虛則百節盡皆縱，此脈若羅絡之血者，
皆取之脾之大絡也。○凡此十五絡者，實則必見，虛則必下，視之不見，求之上下，
人經不同，絡脈異所別也。</p>
<h3>六  十二經筋</h3>
<p>足太陽之筋起於足小指，上結於踝，斜上結於膝，其下循足外踝結於踵，
上循跟結於膕，其別者結於腨外，上膕中內廉，與膕中并上結於臀，上挾脊上項。
其支者別入結於舌本，其直者結於枕骨，上頭下顏結於鼻，其支者為目上網，
下結於頄，其支者從腋後外廉結於肩髃，其支者入腋下，上出缺盆，上結於完骨，
其支者出缺盆，斜上出於頄，其病小指支跟踵痛，膕攣脊反折，項筋急，肩不舉，
腋支缺盆紐痛，不可左右搖，治在燔鍼劫刺，以知為數，以痛為輸。
○足少陽之筋起於小指次指，上結外踝，上循脛外廉，結於膝外廉，
其支者別起外輔骨，上走髀前者，結於伏兔之上，後者結於尻。其直者上乘䏚季脇，
上走腋前廉，係於膺乳，結於缺盆。直者上出腋貫缺盆，出太陽之前，循耳後，
上額角，交巔上，下走頷，上結於頄。支者結於目眥為外維，其病小指次指支轉筋，
引膝外轉筋，膝不可屈伸，膕筋急，前引髀，後引尻，即上乘䏚。季脇痛，上引缺盆，
膺乳頸維筋急，從左之右，右目不開，上過右角，並蹻脈而行，左絡於右。故傷左角，
右足不用，命曰維筋相交，治在燔鍼劫刺，以知為數，以痛為輸。
○足陽明之筋起於中三指，結於跗上斜外，上加於輔骨，上結於膝外廉，
直上結於髀樞，上循屬脊，其直者上循骭結於膝。其支者結於外輔骨，合少陽，
其直者上循伏兔，上循脇結於髀，聚於陰器，上腹而布，至缺盆而結，上頸上挾口，
合於頄，下結於鼻，上合於太陽，太陽為目上網，陽明為目下網。
其支者從頰結於耳前，其病足中指 支脛轉筋，腳跳堅，伏兔轉筋，髀前腫，
㿉疝腹筋急，引缺盆及頰，卒口僻急者，目不合，熱則筋縱目不開，
頰筋有寒則急引頰移口，有熱則筋弛縱緩不勝收。故僻，治之以馬膏，膏其急者，
以白酒和桂，以塗其緩者，以桑鉤鉤之，即以生桑灰置之坎中，高下以坐等，
以膏熨急頰，且飲美酒，噉美炙肉，不飲酒者自強也。為之三拊而已，治在燔鍼劫刺，
以知為數，以痛為輸。○足太陰之筋起於大指之端內側，上結於內踝。
其直者絡於膝內輔骨，上循陰股結於髀，聚於陰器，上腹結於臍，循腹裡結於肋，
散於胸中，其內著於脊。其病足大指支內踝痛轉筋痛，膝內輔骨痛，陰股引髀而痛，
陰器紐痛，下引臍，兩脇痛，引膺中脊內痛，治在燔鍼劫刺，以知為數，以痛為輸。
○足少陰之筋起於小指之下，並足太陰之 筋，斜走內踝之下，結於踵，與太陽之筋合，
而上結於內輔之下，並太陰之筋而上，循陰股，結於陰器，循脊內挾膂上至頊，
結於枕骨，與足太陽之筋合，其病足下轉筋，及所過而結者皆痛，及轉筋病在此者，
主癇瘈及痙，在外者不能俛，在內者不能仰。故陽病者腰反折不能俛，陰病者不能仰，
治在燔鍼劫刺，以知為數，以痛為輸。○足厥陰之筋起於大指之上，上結於內踝之前，
上循脛上結內輔之下，上循陰股結於陰器，絡諸筋。其病足大指支，內踝之前痛，
內輔痛，陰股痛，轉筋，陰器不用，傷於內則不起，傷於寒則陰縮入，
傷於熱則縱挺不收，治在行水清陰氣，其病轉筋者，治在燔鍼劫刺，以知為數，
以痛為輸。○手太陽之筋起於小指之上，結於腕上循臂內廉，結於肘內銳骨之後，
彈之應小指之上，入結於腋下。其支者後走腋後廉，上繞肩胛，循頸出走太陽之前，
結於耳後完骨，其支者入耳中，直者出耳上，下結於頷，上屬目外眥，其病小指支，
肘內銳骨後廉痛，循臂陰入腋下，腋下痛，腋後廉痛，繞肩胛引頸痛，應耳中鳴，
痛引頷，目瞑良久乃得視，頸筋急則為筋痿，頸腫寒熱。在頸上者，治在燔鍼劫刺，
以知為數，以痛為輸，其為腫者，復而銳之。本支者上抽牙，循耳前屬目外眥，
上頷結於角，其痛當所過者支轉筋，治在燔鍼劫刺，以知為數以痛為輸。
○手少陽之筋起於小指次指之端，結於腕，中循臂結於肘，上繞臑外廉，上肩走頸，
合手太陽。其支者當曲頰入繫舌本。其支者上曲牙循耳前，屬目外眥，上乘頷結於角，
其病當所過者，即支轉筋舌捲，治在燔鍼劫刺，以知為數，以痛為輸。
○手陽明之筋起於大指次指之端，結於腕，上循臂上結於肘外上臑，結於髃，
其支者繞肩胛挾脊，直者從肩髃上頸。其支者上頰結於頄，直者上出手太陽之前，
上左角絡頭，下右頷，其病當所過者支痛及轉筋，肩不舉，頸不可左右視，
治在燔鍼劫刺，以知為數，以痛為輸。○手太陰之筋起於大指之上，循指上行結於魚，
後行寸口外側，上循臂結肘中，上臑內廉，入腋下出缺盆，結肩前髃，上結缺盆，
下結胸裡，散貫貴合賁下，抵季脇其病當所過者支轉筋痛，甚成息賁，脇急吐血，
治在燔鍼劫刺，以知為數，以痛為輸。○手心主之筋起於中指，與太陰之筋並行，
結於肘內廉，上臂陰，結腋下，下散前後挾脇。其支者入腋散胸中結於臂，
其病當所過者支轉筋，前及胸痛息賁，治在燔鍼劫刺，以知為數，以痛為輸。
○手少陰之筋起於小指之內側，結於銳骨，上結肘內廉，上入腋交太陰，
挾乳裡結於胸中，循臂下繫於臍，其病內急，心痛伏梁，下為肘綱。
其病當所過者支轉筋筋痛，治在燔鍼劫刺，以知為數，以痛為輸，其成伏梁唾膿血者，
死不治，經筋之病，寒則反折筋急，熱則筋弛縱不收，陰痿不用，陽急則反折，
陰急則俛不伸，焠刺者刺寒急也。熱則筋緩不收，無用燔鍼。○足之陽明，手之太陽，
筋急則口目為噼，眥急不能卒視，治皆如右方也。</p>
<h3>七  空穴</h3>
<p>藏俞五十穴，府俞七十二穴，熱俞五十九穴，水俞五十七穴，頭上五行，行五，
五五二十五穴，中𦛗兩傍各五。凡十穴，大椎上兩傍各一，凡二穴，目瞳子浮白二穴，
兩髀厭分中二穴，犢鼻二穴，耳中多所聞二穴，眉本二穴，完骨二穴，項中央一穴，
枕骨二穴，上關二穴，大迎二穴，下關二穴，天柱二穴，巨虛 上下廉四穴，曲牙二穴，
天突一穴，天府二穴，天牖二穴，扶突二穴，天窗二穴，肩解二穴，關元一穴，
委陽二穴，肩貞二穴，瘖門一穴，臍一穴，胸俞十二穴，背俞二穴，膺俞十二穴，
分肉二穴，踝上橫二穴，陰陽蹻四穴，水俞在諸分，熱俞在氣分，寒俞在兩骸，
厭中二穴，大禁二十五，在天府下五寸。凡三百六十五穴，鍼之所由行也。
○足太陽脈氣所發者七十八穴，兩眉頭各一，入髮際至頂三寸半傍五，相去三寸，
其浮氣在皮中者凡五行，行五，五五二十五，項中大筋兩傍各一，風府兩傍各一，
俠背以下至尻尾二十一節，十五間各一，五藏之俞各五，六府之俞各六，
委中以下至足小指傍各六俞。○足少陽脈氣所發者凡六十二穴，兩角上各二，
直目上髮際內各五，耳前角上各一，耳前角下各一，銳髮下各一，客主人各一，
耳後陷中各一，下關各一，耳下牙車之後各一，缺盆各一，
掖下三寸脇下至胠八間各一，髀樞中各一，膝以下至小指次指各六俞。
○足陽明脈氣所發凡六十八穴，額顱髮際傍各三，面鼽骨空各一，大迎之骨空各一，
人迎各一，缺盆外骨空各一，膺中骨間各一，俠鳩尾之外當乳下三寸俠胃脘各五，
俠臍廣三寸各三，下臍二寸俠之各三，氣衝動脈各一，伏兔上各一，
三里以下至足中指各八俞，分之所在穴空。○手太陽之脈氣所發者三十六穴，
目內眥各一，目外 眥各一，鼽骨下各一，耳中各一，巨骨穴各一曲腋上骨穴各一，
柱骨上陷者各一，上天窗四寸各一，肩解各一，肩解下三寸各一，
肘以下至手小指本各六俞。○ 手陽明脈氣所發者二十二穴，鼻空外廉項上各二，
大迎骨空各一，柱骨之會各一，髃骨之會各一，肘以下至手太指次指本各六俞。
○手少陽脈氣所發三十二穴，鼽骨下各一，眉後各一，角上各一，下完骨後各一，
項中足太陽之前各一，挾扶突各一，肩貞各一，肩貞下三寸分間各一，
肘以下至手小指次指本各六俞。○督脈氣所發者二十八穴，項中央二，髮際後中八，
面中三，大椎以下至尻尾及傍十五穴，至骶下凡二十一節，脊椎法也。
○任脈之氣所發者二十八穴，喉中央二，膺中骨陷中各一，鳩尾下三寸胃脘五寸，
胃脘以下至橫骨六寸半一，腹脈法也。下陰別一，目下各一，下脣一，斷交一。
○衝脈氣所發者二十二穴，俠鳩尾外各半寸至臍寸一，俠臍下傍各五分至橫骨寸一，
腹脈法也。○足少陰舌下厥陰毛中急脈各一，手少陰各一，陰陽蹻各一，
手足諸魚際脈氣所發者凡三百六十五穴也。○水俞五十七穴，尻上五行，行五，
伏兔上兩行五，左右各一行，行五，踝上 各一行，行六穴。</p>
<h3>八  十二經井滎俞原經合</h3>
<p>帝曰：凡刺之道，必通十二經絡之所終始，絡脈之所別處，五俞之所留，六府之所與，
合四時之所出入，五藏之所溜處，闊數之度，淺深之狀，高下所至。願聞其解。
岐伯曰：請言其次也。○肺出於少商，少商者，手大指端內側也。為井木，溜於魚際，
魚際者，手魚也。為滎，注於太淵，太淵魚後一寸陷者中也。為俞，行於經渠，
經渠寸口中也。動而不居，為經，入於尺澤，尺澤肘中之動脈也。為合，手太陰經也。
○心出於中衝，中衝手中指之端也。為井木，溜於勞宮，勞宮掌中中指本節之間也。
為滎，注於大陵，大陵掌後兩骨之間方下者也。為俞，行於間使，間使之道，
兩筋之間三寸中也。有過則至，無過則止，為經，入於曲澤，
曲澤肘內廉下陷者之中也。屈而得之為合，手少陰也。○肝出於大敦，
大敦者足大指之端，及三毛之中也。為井水，溜於行間，行間者足大指間也。為滎，
注於太衝，太衝行間上二寸陷者之中也。為俞，行於中封。
中封內踝之前一寸半陷者之中，使逆則宛，使和則通，搖足而得之，為經，入於曲泉，
曲泉輔骨之下，太筋之上也。屈膝而得之，為合，足厥陰也。○脾出於隱白，
隱白者足大指之端內側也。為井木，溜於大都，大都本節之後下陷者之中也。為滎，
注於太白，太白腕骨之端也。為俞，行於商丘，商丘內踝之下陷者之中也。為經，
入於陰之陵泉，陰之陵泉輔骨之下陷者之中也。伸而得之，為合，足太陰也。
○腎出於湧泉，湧泉者足心也。為井木，溜於然谷，然谷然骨之下者也。為滎，
注於太谿，太谿內踝之後跟骨之上陷中者也。為俞，行於復溜，復溜上內踝二寸，
動而不休，為經，入於陰谷，陰谷輔骨之後，大筋之下小筋之上也。按之應手，
屈膝而得之，為合，足少陰之經也。○膀胱出於至陰，至陰者足小指之端也。為井金，
溜於通谷，通谷本節之前外側也。為滎，注於束骨，束骨本節之後陷者中也。為俞，
過於京骨，京骨足外側大骨之下，為原，行於崑崙，崑崙在外踝之後跟骨之上，為經，
入於委中，委中膕中央，為合，委而取之，足太陽也。○膽出於竅陰，
竅陰者足小指次指之端也。為井金，溜於俠谿，俠谿足小指次指之間也。為滎，
注於臨泣，臨泣上行一寸半陷者中也。為俞，過於丘墟，丘墟外踝之前下陷中也。
為原，行於陽輔，陽輔外踝之上，輔骨之前，及絕骨之端也。為經，入於陽之陵泉，
陽之陵泉在膝外陷者中，為合，伸而得之，足少陽也。○胃出於厲兌，
厲兌者足大指內次指之端也。為井金，溜於內廷，內廷次指外間也。為滎，注於陷谷，
陷谷者上中指內間上行二寸陷者中也。為俞，過於衝陽，衝陽足跗上五寸陷者中也。
為原，搖足而得之，行於解谿，解谿上衝陽一寸半陷者中也。為經，入於下陵，
下陵膝下三寸䯒骨外三里也。為合，復下三里三寸為巨虛上廉，
復下上廉三寸為巨虛下廉也。大腸屬上，小腸屬下，足陽明胃脈也。
大腸小腸皆屬於胃，是足陽明也。○三焦者，上合手少陽出於關沖，關衝者，
手小指次指之端也。為井金，瀏於液門，液門小指次指之間也。為滎，注於中渚，
中渚本節之後陷中者也。為俞，過於陽池，陽池在腕上陷者之中也。為原，行於支溝，
支溝上腕三寸兩骨之間陷者中也。為經，入於天井，天井在肘外大骨之上陷者中也。
為合，屈肘乃得之。○手太陽小腸者，上合於太陽，出於少澤，少澤小指之端也。
為井金，溜於前谷，前谷在手外廉本節前陷者中也。為滎，注於後谿，
後谿者在手外側本節之後也。為俞，過於腕骨，腕骨在手外側腕骨之前，為原，
行於陽谷，陽谷在銳骨之下陷者中也。為經，入於小海。
小海在肘內大骨之外去端半寸陷者中也。伸臂而得之，為合，手太陽經也。
○大腸上合手陽明，出於商陽，商陽大指次指之端也。為井金，溜於本節之前二間，
為滎，注於本節之後三間，為俞，過於合谷，合谷在大指歧骨之間，為原，行於陽谿，
陽谿在兩筋間陷中者也。為原，入於曲池，在肘外輔骨陷者中，屈臂而得之，為合，
手陽明也。是謂五藏六府之俞，五五二十五俞，六六三十六俞也。</p>
<h3>九  同身尺寸</h3>
<p>頭之大骨圍二尺六寸，胸圍四尺五寸，腰圍四尺二寸，髮所覆者，顱至項尺二寸，
髮以下至頤長一尺，結喉以下至缺盆中長四寸，缺盆以下至𩩲𩨗長九寸，過則肺大，
不滿則肺小，𩩲𩨗以下至天樞長八寸，過則胃大，不及則胃小。
天樞以下至橫骨長六寸半，過則迴腸廣長，不滿則狹短，橫骨長六寸半，
橫骨上廉以下至內輔之上廉長一尺八寸，內輔之上廉以下至下廉長三寸半。
內輔下廉下至內踝長一尺三寸，內踝以下至地長三寸，膝膕以下至跗屬長一尺六寸，
跗屬以下至地長三寸。故骨圍大則太過，小則不及，角以下至柱骨長一尺。
行腋中不見者長四寸，腋以下至季脇長一尺二寸，季脇以下至髀樞長六寸，
髀樞以下至膝中長一尺九寸，膝以下至外踝長一尺六寸，外踝以下至京骨長三寸。
京骨以下至地長一寸，耳後當完骨者廣九寸，耳前當耳門者廣一尺三寸，兩顴之間。
相去七寸，兩乳之間，廣九寸半，兩髀之間，廣六寸半，足長一尺二寸，廣四寸半，
肩至肘長一尺七寸，肘至腕長一尺二寸半，腕至中指本節長四寸。
本節至其末長四寸半，項髮以下至背骨長二寸半，膂骨以下至尾骶二十一節長三尺，
上節長一寸四分之一，奇分在下。故上七節至於膂骨九寸八分之七，此眾人骨之度也。</p>
<h3>十  經脈長短</h3>
<p>手之六陽，從手至頭，長五尺，五六三丈。手之六陰，從手至胸中，三尺五寸。
三六一丈八尺，五六三尺，合二丈一尺。○足之六陽，從足上至頭八尺，
六八四丈八尺。足之六陰，從足至胸中六尺五寸，六六三丈六尺，五六三尺，
合三丈九尺。○蹻脈從足至目七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。
○督任脈各四尺五寸，二四八尺，二五一尺，合九尺，凡都合十六丈二尺，
此氣之大經隧也。</p>
