<header data-type="book">
<h1>重慶堂隨筆</h1>
</header>
<h2>弁言</h2>
<p>王氏為鹽官望族，秉衡公始遷於杭。治家嚴肅，門無雜賓。雖身通百藝，而深自韜晦。嗣君永嘉公天性純孝，著於戚裡。塚孫HT　滄，余姊丈也，少有祖父風，尤勇於為善，而嫉惡過嚴，人皆憚之。先府君目擊其三代之為人，而心儀其賢，乃以余四姊為HT　滄室，時嘉慶紀元丙辰也。逾年其祖古稀，其父知非，稱觴日適余姊舉一男，重闈大悅，爰名其堂曰「重慶」。然余姊舉三男皆殤，至戊辰三月五日，又舉一男。秉衡公喜曰：此兒與祖同甲子，必得　祖之壽。因小字　龍。即於是年著醫學《隨筆》一書，或抒心得，或采名言，皆發人所未發，洵貽厥之嘉猷也。越二載，書未脫稿而公考終。永嘉公皓首居憂，孺慕猶切，輯注未竟，遂攖疾，服闋後兩載亦謝世。余姊丈讀《禮》之余，校定遺稿，意欲授梓，詎天奪其年，以四十九歲即捐館舍，天之報施，不可問也。時　龍年甫十四，泣而言於余曰：先人遺訓，期甥於世有所用，而曾王父於甥生之日，即著醫書一種。夫有用於世者莫如醫，甥敢不專心致志以究其旨哉！第義理淵微，欲埋頭十載，而以家事累吾舅可乎？余聞而作曰：汝志如是，汝父不死矣，吾敢辭耶！遂諾之。憶甥天姿穎異，幼即超群，王琴泉、王繼周兩先生皆器之，嗣遇金匏庵、謝玉田、孫鐵崖、謝金堂諸前輩，咸目為不凡。惟性疏邁，所遇輒奇，瞬眼十年，未展其志，而臨診頗肯用心，屢起大證，藉有聲名，可謂不負遺訓矣。奈余未老先衰，恐不能睹其造詣之所極，謹弁數言於《隨筆》，以識王氏繼述之賢，而剞劂以傳不朽，是克纘家學人之責也，甥其勉旃！</p>
<p><u>道光十年庚寅秋杪姻再侄仁和俞世貴桂庭拜手書</u></p>
<h2>楊序</h2>
<p>儒以學術致平成，醫以方術拯危困，其因應化裁、變動不居之妙，非楮墨之所得而傳、竹素之所得而盡也，惟自古無獨抱一經之名儒，亦無株守一家之名醫，則博學尚矣。然而載籍所流傳，各矜心得，或引而不發，或冗而鮮要，或偏僻以自是，或純駁之不齊，百家騰躍，旨趣攸殊，苟非精識，曷由鑒別？余友王君孟英，績學士也。邃於醫，其學弗泥於古，弗徇於今。余嘗梓其治案以行世。今夏余過武林，孟英出其曾王父秉衡公</p>
<p>《重慶堂隨筆》以相示。余敬讀之，其著論也瀏然以清，其燭理也洞然以明，上溯軒岐，下迄當代，咸抉摘搜剔厘然，去其非而存其是。不禁拜手而嘆曰：有是哉！讀書之不可無識也。公以醇儒之學發明醫理，淵源如是，宜孟英之囊括百氏，蔚然為一時宗匠也。余嘗嘆古今學術之升降與醫術之盛衰，有至相似者。三代以前無論矣，漢唐諸大儒抱殘守缺，恪遵先聖之遺訓，大之則修齊治平之術，小之則禮樂射御書數之文，靡不講求焉。而心知其故，雖穿鑿附會間出其中，然其修之家而獻之廷者，皆實學也。宋儒出而斥為粗跡，高談性天，崇尚妙悟，自謂得古聖不傳之秘於遺編，而學術為之一變。然其博學篤行，固一時之彥也。降及後世，科目之學興，其賢者涉宋儒之藩籬以枵然而自大，其陋者剽襲詞章以應世而已。學非所用，用非所學，一旦身攖事變，懵然無所措手，任天下之魚爛河決而莫能救止，此志士所為太息也。惟醫亦然。漢唐祖述軒岐，具有矩　，至《和劑局方》出，純任剛燥，而古法一變。然因證施治之規，尚未敢紊也。丹溪、河間諸賢，猶起而力矯其弊也，至薛立齋、張景岳之說出，提倡溫補，天下翕然宗之，舉古人審證察因之法概置勿論，而直以一補畢其事，遂令舉世之人，甘心赴死而不知其故。嗟夫！事變日益滋，學術日益陋，病機日益幻，醫術日益卑。豈真劫運使然哉？何汶汶若此！余謂苟能勤學，不患無術，研窮久則聰明出，閱歷多則機智生。讀公此編，真苦海之慈航、迷途之寶炬也。昔繆仲醇作《廣筆記》，尤在涇作《醫學讀書記》，徐洄溪作《醫學源流論》，皆以高才絕學精研醫理，故其權衡精當，非復專門之書之所能及。以公方之，洵堪媲美。余於公之學，無能為役，然苦世醫之不讀書以禍世，與不善讀書以誤世也，欲以公此編救之。謹僭述己意，弁諸簡端，且以志欽慕無已之意云。</p>
<p><u>咸豐乙卯四月定州後學楊照藜頓首書</u></p>
<h2>總評</h2>
<p>注《傷寒》者無慮數十家，皆以為專論傷寒之書，故恆支離附會，不適於用。公指出為統論外感之書，覺</p>
<p>《傷寒論》之全體俱現，此與堯封之見相同者。</p>
<p>風傷衛證全似傷寒，但時時自汗而脈浮緩。誤治亦有變證，若不治則歷半月或一月仍系本證，不見傳變，投以輕劑桂枝湯，即汗斂而愈。後世所稱傷風證，與傷寒大異。其見證則咳嗽頭疼，鼻流清涕。徐洄溪論之極詳，此證並不自汗，與桂枝毫無干涉。風溫證則其人初無所苦，不過昏沉欲睡耳。初起頗似傷寒之少陰欲寐證，但脈不沉細而浮洪為異。誤汗則大睡不醒而死；服辛熱藥與苦寒藥俱若罔知，然亦必死，惟甘寒輕透之品始能愈之。此三證名雖相似而證實懸殊，醫書恆互相牽引，苦難別白，總由未經身歷，故言之不能親切耳。今公以風寒屬桂枝證，而以風熱屬傷風與風溫證，眼光高前人多矣。</p>
<p>虛損之病，多由陰虛，其證無不潮熱咳嗽、吐紅食減、脈來細數者。治法固以滋陰清熱為主，然滋而不滯，清而不寒，且時時兼顧脾胃，方不犯手。但得脈象日和，飲食漸增，即是生機。至陰氣已充，可以用參、　時，而其病已愈矣。從古醫書專重扶陽，每云不服參、　者不治，脈細數者不治。不知能服參、　之證，愈之甚易，固不勞諸公之暢發高論也。至陰虛而脈細數，誤投參、　則陰竭而死，故古人皆謂為不治，然調治得法，亦有生者，未可盡諉為不治也。公拈出「陰液難充」四字，令人恍然悟其治法，識力非古人所及。然如立齋、景岳輩，亦有補陰之論，特專任重濁膩滯之品，樞機愈窒，去生愈遠，使人愈信扶陽之說為不誣，而虛損之證遂萬無愈理。故余恆折服孟英之用藥靈通活變，為此道獨開生面。今讀此編，乃知其淵源之有自也。</p>
<p>《傷寒論》之除中，乃大病後元氣傷殘，故主死。若平人忽見此證，乃胃火熾盛耗其津液，大劑甘寒滋潤即愈。公論三消以「火燔其液，風耗其津」二語括之，固屬不磨之論，然余謂病機由此者甚多，公此二語固不徒為三消之指南也。</p>
<p>血因火溢，是其常也，氣不攝血，是其變也。苟不知其常，侈談其變，是為亂道。公此數語說盡千古著書通病。如滯下本屬濕熱，而亦間有虛寒，疫病本屬穢邪，而亦間有體虛不能托邪外出，吞酸本屬木火犯胃，而亦間有胃寒不化：如此之類，指不勝屈。著書者不先明本證，反將間有之證反復議論，認賓作主，使讀者盡入迷途，安得公一一辟其弊耶！沈明生所治之證，雖非虛勞，然脈至如絲，陰已困乏，奈何復以參、　、桂、附蹙之，迨用硝、黃而始愈，則非治病乃治藥矣。此證誤而易復，虛損誤則難挽。以公前後所論合參之，可以知所取法矣。</p>
<p>仲醇一代名醫，而滯膩誤投，尚令病留不去，若誤投於虛損之證，何以救之？然非公具過人之識，明白指示，則世人震於盛名，孰知膩滯重濁之非宜，而甘涼養胃之當用乎？古案中此類甚多，苟不善讀之，未有不覆轍相尋者也。</p>
<p>魏柳洲善於滋陰，而論喉閉一證與景岳同失，真可謂人左枉而我右枉矣。葉氏識力超卓，洵屬獨勝，得公辨別，其證愈明，後有患者，庶免夭枉。又魏君論喻氏治郭台尹單腹脹，以為系水虧木旺，乘其所不勝之脾而成脹，窺其意亦欲以滋陰治之，余亦未敢以為信然也。</p>
<p>滋補丸藥，最難消化，從古無人道及。得公指明，喜服丸藥者可以戒矣。孟英於宜補之藥，每令熬膏，以對證之藥收之成丸，使其易化，真善承家學人哉。</p>
<p>薛一瓢為昭代良醫，而其治病處方，均未流傳，識者憾之。公錄存二方，具有理致，真足嘉惠後學。</p>
<p>本草以《本經疏證》為第一善本，其援引浩繁，穿穴精透，可謂空前絕後，第文筆沉晦，較盧氏《半偈》為尤甚，讀者苦之。公所疏數十種，精切不讓鄒氏，而顯豁過之。學人由此以進窺鄒氏之書，或可免望洋之嘆。</p>
<p>人與物皆有胰，醫書未有及之者。王勛臣親驗臟腑，亦未論及。西士名曰甜肉，言其味甜而不言其功用，反以胃中化物之功歸諸膽汁，此亦未可盡信者。又云西國曾驗一人，見飲食入胃，胃出甜汁以化之。此即萬物歸土之義，正胰之功用也。公於豕腦條內言胰主運化食物，正與西士所驗相合。若果系膽汁入胃，則其汁應苦矣。此亦西士疏漏之一端也。</p>
<p>趙恕軒《綱目拾遺》辨李氏之缺謬，最為精當。公攝其精華，附諸此編，所余者皆糟粕也，讀者不必生不見全書之憾。</p>
<p>格物之學，最為醫家要務。凡物性之相制、相使、相宜、相忌，與其力量之剛柔長短，皆宜隨時體驗，然後用之無誤。公所疏解毒之品與物性之宜，真可以御倉卒而益神智，學人宜謹識之。</p>
<p>西士諸書與王勛臣《醫林改錯》，皆醫家必不可少之書，而其言臟腑之功用與氣機之流行，則不能無弊。</p>
<p>即如切脈一端，無論其為氣管為血管，若如所論，則與臟腑了不相關，理應強則俱強，弱則俱弱，何以六部之脈參差不齊，悉與病機相應？可見目稽與懸揣，虛實固自有辨。公之言曰：「信其可信，闕其可疑」，是皮裡春秋讀法，余謂真可為讀一切書之法。至亞枝、次瑤諸君子，暢發公未言之意，議論奇偉，余讀之又不覺首之至地矣。</p>
<p>四診之法，以切居末，見脈之不可獨恃也。舉世醫家專言切脈，不惟大言欺人，實鹵莽從事耳。而公反復推勘，皆親切體驗之言，非醫書泛泛鋪張者可比。業此者潛心玩索，臨證庶有把握，真此道中度人經也。</p>
<p>以上諸條謹就管見所及，隨筆附記，以志景仰。其實公之所論，觸目皆精金粹玉，學人潛心玩索，自能增長識力，殊非後生末學之所能鋪陳盛美也。</p>
<p><u>中山後學楊照藜謹識</u></p>
<h2>卷上</h2>
<p>傷寒，外感之總名也；《傷寒論》，統論外感之書也。</p>
<p>（注）《難經》云：傷寒有五。則五種外感，昔人皆謂之傷寒矣。《傷寒論》有治風、治溫、治喝。治濕諸法，則非專論一傷寒矣。</p>
<p>《傷寒論》云：太陽病，或已發熱，或未發熱，必惡寒，體痛嘔逆，脈陰陽俱緊者，名曰傷寒。是正傷寒病也。</p>
<p>（注）傷寒無不發熱者，此云或未發熱者，乃身熱未發之時，先見惡寒等證，所謂「無熱惡寒發於陰」。</p>
<p>寒為陰邪，故往往先惡寒而後發熱也。脈陰陽俱緊，即尺寸皆緊，緊為坎中滿之象，坎為寒水之卦，故傷寒之脈必緊。若已發熱，緊必兼浮可知已。</p>
<p>太陽病，頭痛發熱，身疼腰痛，骨節疼痛，惡風，無汗而喘者，麻黃湯主之。是正傷寒治法。</p>
<p>（注）寒邪凝冱，表氣塞實，故無汗氣喘而惡風寒。麻黃湯溫散發汗之方，設非正傷寒而誤用之，則有亡陽之禍。</p>
<p>傷寒四時皆有，有是脈，有是證，即用是藥。諺云：「對證發藥」，旨哉言乎！病勢較輕，體氣稍弱者，則羌、防、蘇、芷皆可代麻黃用也。若寒傷於外，熱伏於內者，溫散方中須佐清涼之品，仿長沙大青龍之制可耳。</p>
<p>（注）四時皆有傷寒，然冬三月乃寒水司令，較三時之寒為獨盛，故昔人以冬月感寒即病者為正傷寒，非謂春夏秋並無傷寒也。醫者苟能辨證清楚，用藥自不泥於時令矣。</p>
<p>傷寒者，寒傷於外而邪客於表也。若其人陽氣素虛，無以捍御，則外寒得以直入於內而犯臟，名曰中寒，蓋陽衰則陰盛也。陰雖盛，卻忌溫散之法，因陽氣既衰，其汗易出，誤投溫散，更速其危。亟用薑、附回陽破陰，是為治法。</p>
<p>（注）陽衰則陰盛，可見陰未嘗盛，只緣陽衰，故陰盛耳。是以中寒不必隆冬之令，雖盛暑之時亦有之。</p>
<p>昔人有治此而愈者，乃不謂其陽衰飲冷、夏月中寒，而以為靜得之陰暑，自誤誤人，可為嘆惜。薑、附回陽破陰，即兵家強主弱客之法。</p>
<p>《傷寒論》之中風，為《難經》五種傷寒之一，即後世之傷風是也。蓋「傷」與「中」字義無殊，如云風傷衛、寒傷營是矣。後人以寒邪在表者為傷寒，寒邪入裡者為中寒，遂疑傷輕而中重，然此不過分別邪之在表、在裡耳。夫入裡之寒，何必重於在表之寒耶？實因本陽既衰，故客寒得以直入。發表以取汗，是治標也，其邪不得為輕；溫裡以回陽，是治本也，其邪不必較重。病分標本，則本為重而重之，非邪較重而重之也。明乎此，則越人、長沙之謂風為中，即謂寒為傷之意矣。</p>
<p>（注）後世以外感風邪為傷風，虛風卒倒為中風，庶二病之名目不相混也。然「傷」、「中」二字之義，彌覺輕重懸殊矣。故昧者泥於越人、長沙之謂風為中，而不知即是傷風，竟與卒倒撲擊互相引證者，誤矣。</p>
<p>風之傷人也，既為五種傷寒之一，夫豈小病者！且風無定性，不但四時有異、四方不同也。燥濕不齊，雨迥判，風寒風熱，頃刻變遷。感之於人，施治有別。長沙桂枝證，風寒病也；發汗已身灼熱者，風熱病也。</p>
<p>然昔人往往知有風寒而不知有風熱。《傷寒論》又云：服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之，合而觀之，豈非誤以風寒藥治風熱病之變證哉？漢代且然，況後人乎！（注）今人視傷風為輕小之病，其頭疼發熱者，則曰重傷風，是未知傷風即越人、長沙所謂之中風也。病源不清，無怪乎有過服溫燥以奪其液，早投滋補以錮其邪，延久成勞，尚諉為傷風不醒。噫，醫實不醒也。</p>
<p>風熱即風溫也，四時皆有，冬春為甚。長沙云：若發汗已身灼熱者，風溫也。蓋言風寒為病，可以桂枝湯發汗而愈，若發汗而熱反灼者，乃風溫病，溫即熱之謂也。後人不為詳玩，而謂風溫為汗後壞病，抑何固耶？夫病本熱也，加以桂枝之辛熱，故液為熱迫而汗大出，液去則熱愈灼，故大煩渴而脈洪大。二條似論一證，主以白虎加人參湯，正《內經》風淫熱淫治以甘寒之旨也。惟香岩先生獨窺其微，謂風溫首必犯肺，先衛後氣。</p>
<p>治法初用辛涼，繼以甘寒。超超元箸，萬古開群蒙也。</p>
<p>（注）《傷寒論》病患藏無他病條，發汗則愈，病常自汗出條，復發其汗則愈，並主桂枝湯。可見桂枝湯是風寒發汗之劑，不過較麻黃湯為和緩耳。《內經》明言辛甘發散為陽，豈可以治風熱之病乎？更有謂桂枝湯止汗者，堯封先生已辨其誤矣。</p>
<p>（校）近見淮陰吳氏《溫病條辨》一書，以桂枝湯為治溫首方，更屬可議。</p>
<p>（刊）《醫林改錯》云：發熱有汗之證，從未見桂枝湯治愈一人。楊素園明府大不以為然，謂嘗治風傷衛證，桂枝湯半劑輒愈。雄按：《改錯》所云者，乃溫熱證也。若風寒傷衛，豈可不遵聖法？即葉案咳嗽門首列傷風數條，皆從《傷寒論》變化。</p>
<p>至於中風，《內經‧生氣通天論》謂之虛邪，是本先虛而後邪中之也。《通評虛實論》謂肥貴人則膏粱之疾也。此後賢主痰、主火、主氣、主虛諸說，皆本於此，細繹經文，則真中風本虛邪中，不可竟以為實證，類中風肥甘醞釀，未可概以為虛證。必也隨其證之虛實而調劑之，治百病無余蘊矣！中風云乎哉？（注）凡證有大虛者，有大實者，有虛中實、實中虛者，有虛多實少、實多虛少者，諸家之說皆有精義，既不可廢，亦不可執，貴乎用之者適其當耳。</p>
<p>冬春感受風熱而病者，名曰風溫，前已辨之矣。若冬傷於寒，至春令發泄之時，伏氣化熱而出，名曰春溫，亦曰溫病。其邪自內達外，故發熱而渴，不惡寒也。然亦有挾新感之風寒而發者，雖惡風寒而口必渴，若誤汗之，禍不可言。長沙而後知此義者，惟郭白云、劉守真、王安道、張石頑、周禹載、葉香岩數君而已，其書皆不可不讀也。</p>
<p>（注）溫者，熱之漸也。伏寒化熱，口燥而渴，故謂之溫。一切溫散燥熱之藥，皆不可犯。奈何以喻氏之賢，而誤指《金鑒》春月傷寒為溫病，治雖合法，立論大謬，在涇先生非之是矣，而俞惺齋、毛達可僉極口贊頌，未免貽誤將來。</p>
<p>冬傷於寒，伏於少陰，夏至前發出者，名曰溫病矣；若夏至後發出者，名曰熱病。以夏至前天氣尚溫，夏至後天氣已熱，皆隨時令以名其病也。其名雖異，其病相同，故溫熱二病，古人往往互稱。《內經》則云後夏至日者為病暑，亦以夏至後炎暑司令，故曰病暑。且在天為熱，在地為火，其性為暑，是暑即熱之謂也。第此之病暑，因於伏寒化熱，與吸受暑邪而病者，其名雖同，其因則異也。</p>
<p>（注）以溫熱二字命為病名，似不過分其時令之氣耳。然名曰溫者，涼之可愈，名曰熱者，寒之乃瘳。顧名思義，治法已無余蘊，故不嫌與感冒之溫、吸受之暑同名者，正示人以殊途同歸之旨，豈非古聖析義之精耶？夏令屬火，日光最烈，天時乃熱，人感其氣，名曰傷暑，亦曰中暑。暑字從日，曰炎暑，曰酷暑，皆指烈日之火而言也。蓋日為眾陽之宗，日出則爝火無光，陽燧承之，火可立至。《內經》云：歲火太過，炎暑流行。若三冬久霽，則生燥火之病，況夏月之暑乎？而長沙名中熱曰　，不曰暑者，所以別於夏至後發之伏氣暑病也。且《說文》：　，傷暑也。故暑、熱、　三者，皆烈日之氣也。後人昧此，遂多歧說，可謂不知冷熱之人矣。暑為離火，離中虛，故暑脈亦虛。暑傷氣，故氣虛身熱為傷暑，所謂壯火食氣也。暑為陽邪，天氣通於鼻，鼻為肺竅，肺合皮毛，故暑邪由鼻入肺，肺受火爍則多汗，與風傷衛證相似，亦以渴不渴辨之。渴者燥也，燥萬物者莫　乎火，故溫熱病長沙皆揭「渴」字以為準鵠。嘉言先生云：古人以燥熱為暑，得其旨矣。</p>
<p>（注）暑從日，日為天上之火，故日字在上；寒從　，　為地下之水，故　字在下。暑為陽邪，易入心經，寒為陰邪，先犯膀胱。霄壤不同，各從其類也，或有以暑為陰邪者，豈非坐井觀天、不見日面之語耶？濕土分旺四季，長夏是其正令，土潤溽暑，故暑濕二氣最易相合。人受其感，名曰濕溫，亦曰濕熱，即暑濕相兼之病，為五種傷寒之一，《難經》已詳其脈證。而昧者逞其臆說，謂濕與熱合，始名為暑。然則濕與寒合，又將何名乎？天夫寒地凍，天暑地熱，陰陽之對待也。暑必濕熱相合而始為暑，寒將何氣相合而始為寒乎？若亢旱之年，流金爍石，禾苗欲槁，河裂井枯，不名酷暑而何名乎？蓋濕無定體，風也寒也暑也，無不可合，故治濕者須察其相合，治暑者亦必審其有無兼濕，庶無遺憾也。然濕熱之病為獨多，而變證甚易，療治頗難。惟香岩先生之法，可謂空前絕後，學人宜奉為金科玉律也。</p>
<p>（注）暑也濕也，皆五氣之一也。暑屬火，濕屬土，各居五行之一。火土合德，故暑濕每易相兼，亦理之常也。若謂暑中有濕，是析一行為二也；若謂濕熱合而始為暑，則並二氣為一也。豈五行之理未知，而五氣之名未聞乎？自誤誤人，莫此為甚。</p>
<p>溫病、熱病、濕溫病，治不得法，皆易致死。流行不已，即成疫癘。猶之治盜不得其法，則賊黨眾而為流寇也。因熱氣、病氣、尸氣互相膠葛，即成毒癘之氣而為疫，豈真天地之間另有一種異氣哉？故疫之流行，必在都會人煙繁萃之區，若山鄉僻壤、地廣人稀之處，從無大疫。如果另是一種不正之氣，何必擇地而行哉？其盛行於兵荒之後者，兵荒之死亡，亦在人煙繁萃之區也。蓋人氣最熱，紀曉嵐先生雜詩云：萬家煙火暖云蒸，銷盡天山太古冰。自注曰：迪化自設郡縣以後，嬰兒出痘與內地同。蓋彼處氣候極寒，數載以來漸同內地，人氣盛也。於戲！紀氏此言可謂先得我心。夫上古無痘，至漢始有，今則罕有不出痘者矣。何也？生齒日繁，地氣日熱，所以古人最重傷寒，今世偏多溫熱也。費建中以治疫之法治痘，豈非千古只眼？治疫之法，惟清熱、解毒、宣氣六字為扼要，而宣氣尤為首務，未有氣不宣而熱能清、毒能解者，質諸宗匠，然乎否耶？（注）溫病雖能成疫，而治溫治疫有殊。吳又可混同論治，未免粗疏，且不知暑熱亦能成疫。乾隆甲子，都中暑疫，熱死者無算。徐後山《柳崖外編》嘗言之。嗣有餘師愚專論熱疫，惜其書未甚流行耳。</p>
<p>（校）宣氣之法，不但用藥為然，如衣被宣潔淨，飲食宜澹泊，臥房宜寬綽，窗戶宜開爽，侍人勿雜，燈火少燃，清風徐來，疫氣自然消散，反是則熱氣、濁氣益為疫氣樹幟矣。病家醫家，皆宜識此。</p>
<p>（刊）痘為疫氣。萬密齋、王勛臣皆知之；疹為疫氣，惟余師愚知之，故所著書名曰《疫疹一得》。治疫專用大劑石膏，曉嵐先生目擊其技之神，載入《閱微草堂筆記》。道光間，歸安江筆花宗其法，《醫鏡》載嘗治一時疫發斑，用石膏至十四斤而斑始透，因嘆師愚之道為不孤。曩客東甌，適多溫證，而彼處風俗，病戒穀食，專啖番薯。余謂溫邪初發，如何可食實脾補氣之物。土人以為相傳如是，不之聽也。且醫者用藥，輒尚溫補，遂致死亡接踵，百無一生。人皆謂之天行時疫，余嘆曰：此藥釀為疫，非天有不正之氣，乃人有不正之治耳。當名其病曰藥疫。比至宜黃。楊素園明府述江西飛尚亦類是。然則天下之大，疫癘之頻，吾恐釀成於藥者，不止所見所聞之兩地也。比之養成寇患，的是確喻。</p>
<p>寒暑燥濕風，乃五行之氣合於五臟、行於四時者也。惟火旺於夏，特以暑稱。暑字從日，明其為烈日之氣炎炎在上也。然三時之暖燠，無非離照之光，因不可以暑稱，故有六氣之名焉。其實火即暑之焰，猶水即寒之質耳。非五氣外另有一氣也。而人之火病獨多者，以風寒燥濕悉能化火，五志過動無不生火，何報之先生論之甚詳。愚謂此皆不可以暑稱者，故聖人於五氣之下贅一火字，其旨深矣。若以五行論，言暑則火在其中矣，而醫者往往不知，故反復述之。</p>
<p>（注）何氏論火云：丹溪謂氣有餘便是火，此一火也，治宜清涼；氣不足亦鬱而成火，東垣所謂陽虛發熱也，又一火也，治宜甘溫以補其氣，少佐甘涼以瀉其火，外感暑熱燥氣，增助內氣成熱，此一火也，治宜甘潤清涼，外感風寒濕氣，閉郁表氣成熱，亦一火也，治宜辛溫發散；內傷飲食辛熱之物，致火得熱愈熾，此一火也，宜用苦寒之劑消導之；內傷飲食生冷之物，致火彼遏愈怒，又一火也，治宜辛熱之劑消導之，腎水虛，致令下焦之火上炎，此一火也，治宜六味丸之類補水制火，此水涸火炎之證，上下皆熱，醫者動用桂、附，輒云引火歸元，不知引歸何處，以致酷烈中上，爍涸三陰，殺人如麻，為禍甚火；腎陰盛，逼其浮游之火上升，又一火也，治宜八味丸之類引火歸元，此下寒上熱之證，故用附、桂補火，不可誤投於陰虛證也。</p>
<p>（校）上論六氣。</p>
<p>君子觀夫勞字，可得治勞之法。況《難經》、《金匱》論之最精，《理虛元鑒》闡發甚詳，讀此三書已無遺義。雖脈大為煩勞傷陽，可用參、　、朮、草甘溫以除大熱，脈遲為冷勞，可用薑、桂、雄、附辛溫以振殘陽，畢竟陽傷冷勞不概見而易治，陰傷火勞則甚多而難治。何也？煩勞傷陽，節其勞易，而陽氣亦易復也；情欲傷陰，遂其情難，而陰液亦難充也。他欲猶易遂，而男女之欲尤難遂也。人非聖賢，焉能發乎情、止乎禮義？此怨女曠男之所以多夭折，而子輿氏之所以嘆美於太王也。迨其病成，徒藥無補，為人父母者，如得其情，可不哀矜而早為之所乎？雖然，情不遂則傷陰，情太縱亦傷陰，故聖人又有血氣未定之戒，遂而能節，固位育之道哉！（注）仁和沈文浦云：夫子一則曰好德如好色，再則曰吾未見好德如好色。屢以德色互喻，豈無謂哉？蓋二者皆愛心為之也。仁愛之心，自然而然而不能忍，是謂德心；歡愛之心，自然而然而不能舍，是為色心。此皆生與俱來固有之性，故孟子曰：食色，性也。但色有正有邪。自己妻外家正色也，他人婦女邪色也。聖經賢傳只有禁止邪色之訓，從無斷絕正色之理。惟釋、老二氏並正色而禁之，正色斷絕則人類絕滅矣。愚謂人類滅絕，則天地空存，彼佛、老者將與鳥魯同群乎？此其所以為異端之說也。聖人之教，惟婚嫁以時，俾無怨曠，更制禮以節欲，俾無放溢為非，如同姓不婚，夫婦有別，及天子、諸候妃匹有數，庶人非四十無子不娶外家，咸有深意存焉。故夫死不嫁謂之節婦，有以哉！有以哉！若夫曠男固易成勞，而怨女為尤多，不僅室女、錮婢、師尼、寡婦為然也。其遂而不遂隱忍難言，殆有筆楮不能罄者已。外此則更有良人不淑，惡姑肆虐，橫逆之來，吞聲曲受，婦人未嘗學問，焉能責其盡安於義命哉！抑郁成勞，舉目皆是。古人妻亡而有子者不再娶，未嘗不有鑒於此焉。余三十三歲而鰥，誓不再娶。至四十九歲為大兒完姻，子婦善持家，極孝順，此其明效也。一得之愚，敢為世人告之。不但節欲可以養身，而向平之愿易了。《易》云：不節若，則嗟若。謂家庭垢誶、兒女啼號之嗟，皆由自不節欲所致，故象曰：又誰咎也。其義微矣。</p>
<p>《難經》上損下損之論，千古以為名言，而後人謂自下上者為感熱損陰則是矣，謂自上下者為感寒損陽則未盡然也。夫暑、燥、火三者之傷肺，可謂之感寒而始損陽乎？即風、寒、濕三氣，皆能郁肺氣以成熱。內則悲傷太過，則肺火自動；心陽太擾，則肺亦受克，肝陽肆逆，金反受刑。豈可但泥於形寒飲冷之一端哉？且上損之病，世多不識，緣古書皆混與他證並論也。如肺熱葉焦之痿，與肺癰並列之肺痿，及三消證中之肺消，皆上損也。肺熱葉焦，其證色白而毛敗，即皮聚毛落之互詞。上損至胃則難治，故治痿獨取陽明，以陽明為臟腑之海，而肺金尤賴胃土以上供也。蓋此證屬干熱者多，如草木遇烈日而枝葉萎軟也。故以滋胃液為首務，嵩崖謂風藥及溫補香燥之劑斷不可用是已。間有胃中濕熱不攘，亦能上熏於肺，而葉焦為痿，此當主以清陽明之濕熱為先。所謂獨取陽明者，滋之清之，肺病總以治胃為本也。然是否有濕，必當細詳。苟無濕而率用化濕之藥，則液愈耗而熱愈增，筋脈愈致枯干攣縮，求為弛長緩縱而不可得矣。慎之慎之！（注）若但兩足痿軟者，固屬下焦精虛骨痿，然脾胃主四肢，陽明主束骨而利機關，其中樞濕盛釀熱，足痿不能用者，亦宜取陽明而攘濕熱也。莖痿一證，人但知為陽虛，而亦有陰虛者。立齋所謂如木得露則森立，遇酷暑則痿瘁也。然陽明合於宗筋，胃中濕熱太盛而下注宗筋，亦能致痿，不可誤認為虛也。</p>
<p>《內經》肺熱葉焦之痿，痿雖見於外，而肺葉既焦，豈非肺質先痿於內乎？《金匱》與肺癰並列之肺痿，肺已痿於內，而肢體未露痿象，證雖不同，其實同為《難經》一損損於肺之病也。《金匱》論肺痿甚詳，而與肺癰並列者，以其見證相似，故比類而辨之，俾後人易於分別，非謂肺痿為外證也。孰知後人竟不悟其為上損哉！惟《理虛元鑒》知陰虛統於肺，然未知痿證之即為上損，而粗工猶詆清金保肺之不能治損，故特辨之。</p>
<p>（注）痿痹之痿，與肺痿、莖痿三證，皆有液虛、濕盛之分，臨證極宜辨別。大抵液虛者，口乾而知味，舌紅而無苔；濕盛看，口膩不知味，舌有黃白苔。若脈色疑似，則以此審察，最為扼要。</p>
<p>善食形瘦曰消，善飲口燥曰渴，《宣明論》列消渴於燥病，蓋此證有燥無濕也。《易》云：火就燥。風自火出。《內經》云：其傳為風消。正如暑月南風，赤地千裡。病由陰虛火熾，熱極生風者，乃勞證之末傳，或由膏粱石藥積熱所發者，亦無異乎誤藥以成勞。析而言之：飲不解渴曰上消，即《內經》之膈消，《難經》之上損，以肺居膈上，而金受火刑，故成渴病；食不充飢曰中消，亦曰消中，《傷寒論》謂之除中，以胃位中樞，而土為火爍，故成消病，胃陽發越則為除中，小溲如膏曰下消，即強中證，亦謂之腎消，以腎處下極。而精被火灼，故成枯病。統名之曰三消者，謂其肌肉消瘦也。萬物得水則豐腴。得火則干癟，善飲善食而干瘦，豈非火燔其液、風耗其津乎？（注）上消宜用小劑頻服，以清火救肺，白虎加人參湯主之。善飲而小溲少者，熱能消爍其水也，加花粉、麥冬以滋液，小溲多者，水液不能滲泄於外也，加葛根以升清，小溲有而不利者，恐變水腫，桂苓甘露飲清上以開下，俾火降濕行。治中消宜直清胃熱，體實者三黃丸或調胃承氣湯，體虛者黃連豬肚丸。治下消宜瀉火救陰，知柏八味丸或大補陰九。除中證乃陰竭而胃陽外越也，主死。</p>
<p>（校）《內經》又有飲一溲二之移寒證，《金匱》有飲一溲一之腎氣丸證，皆非真消渴也。《醫碥》辨之甚詳。</p>
<p>（刊）飲多溲多，其常也，不可謂之病，必其肌漸瘦削，始為消渴。雄自幼至今，非酷暑不飲茶湯，惟侵晨必以淖糜為早膳，而晝夜小溲五六行，既清且長，較一日所飲，奚止倍出哉！體氣虛寒則固然。設泥移寒之說，何以至今無恙乎？三復《醫碥》，服其卓見。</p>
<p>健忘，亦虛勞之萌也。先哲云：水清明而火昏濁，此智愚之別。水靜而神藏，火躁而消亡，此存亡之殊。故性靜則心如止水，情動則心若亡猿，煩擾外馳，存乎中者幾希矣。存乎中者幾希，則語後便忘，不俟終日，縱復追憶，邈若山河。惟當夜半雞鳴梏亡之余，靈明復　，日間所作所為，皆歷歷能記。由是言之，藥雖有安心養血之功，固不若自為存養之為得耳。蓋七情五志，動即為火，皆足擾我安靜之神，而痰閉血鬱又無論矣。若乃精神衰短，心昏然不能須臾，苟非老而遺忘，何以天奪其魄，梏之反覆，夜氣不足為存？此子輿氏所致嘆於牛山之木也。然泰西鄧玉函《人身說概》謂人記性，含藏在腦。凡人追憶往事驟不可得，其手不覺搔腦後，若索物令之出者，雖兒童亦如是，此其明證也。愚按天台齊次風先生學問淹博，記性過人，後官禮部侍郎時，墜馬破腦，蒙古醫人刳生牛腹臥公其中，並取生牛腦乘熱納公顙，愈後盡忘所記，不能握筆，則西士之言已有征驗。蓋腦為髓海，又名元神之府，水足髓充，則元神清湛而強記不忘矣。</p>
<p>若火炎髓竭，元神漸昏，未老健忘，將成勞損也奚疑！（注）俗謂事過輒忘者曰沒腦油，頗與西士之論合。</p>
<p>（刊）泰西合信氏近著《全體新論》一書，謂腦為主宰覺悟動作之司，一身之靈在腦。其說較鄧氏更詳。其自序云：凡天下之物，莫不有理，惟理未窮，即知有未盡。若能窮理有據，則不論何人言之，皆當信之。蓋人同此心而心同此理，固不得異其人而並異其理也。</p>
<p>勞病每兼失血，治法不可執一，俞惺齋論之最詳。且辨仲醇三法之流弊，亦皆中肯。末云血溢上竅，屬陽盛陰虛、有升無降者十居八九，若謂服苦寒藥必死，則《金匱》之瀉心湯不幾為罪之魁哉？尤為闡發至當。蓋勞則火升，血因火溢，是其常也；其氣不攝血，陽虛陰必走者，是其變也。不知其常，焉能知變？惟守經者能達權，苟不知常，侈痰其變，是為亂道。《內經》云：陰平陽秘，精神乃治。此為治虛之要旨。後人援引大易扶陽抑陰之說以欺世，甚以鰲山走馬燈為喻，世皆惑之。香岩先生嘗辨之曰：燈之動固由於火，而火之明本於油，若油干則火亦滅矣。可見陽脫者，亦陰先竭而陽無依也。</p>
<p>（注）醫貴識病，病識得真，則硝、黃、麻、桂皆是對病良藥，病識不真，則參、　、歸、地皆是殺人毒藥。如丹溪先生善用知、柏，後人多議其非。若識病既真，辨其當用者而用之，知、柏亦有起死回生之力。陰虛火熾之勞，世豈無其證乎？最可笑者，黃履素執其己賦之偏，欲概萬人之體，著《折肱漫錄》極詆寒涼，專崇溫燥。夫子曰：好仁不好學。其此公之謂哉！（刊）女子陰類，以血為主，故陰足而經行，血當外露者也；男子陽類，以氣為主，故陰足而精通，血不外露者也。</p>
<p>苟無所傷，終身可以不露，露即病也，不過大小輕重之間耳。</p>
<p>精滑自遺，每成勞損，男女皆有之，丹溪謂女人之帶下，即男子之精遺也。陰虛火動者為虛，濕熱下注者為實。不論虛實，皆宜佐以黃柏，苦能堅陰固腎，寒能清熱勝濕也。間有屬陽虛而當溫補者，百中一二耳。</p>
<p>（注）治濕熱遺帶松石豬肚丸、《元珠》端本丸，陰虛者三才封髓丹、六味地黃丸，皆有捷效。</p>
<p>女人虛勞較多於男子者，致虛致勞之途匪一，不僅隱曲抑郁也。月事未行，先有帶下，帶下過多，精髓漸渴，婦女習以為常，不比男子遺濁，初患即知為病也。迨至行經，或情懷不適，或起居不謹，或飲食不慎，皆能致病。病而失治、誤治，馴至成勞。更有妊娠、產育之事，稍或不慎，略一誤治，勞亦易致。興言及此，可不憐乎？人子思之，可不孝乎？最不仁者，強裹其足，必欲弓小，圖以悅人之目，而不惜女之軀，竟至因此成勞而死者，尤可慘矣，固軒、岐所未料及也。</p>
<p>（注）女子裹足，究不知始自何人。或云起於妲己，或云起於西施者，皆村瞽之談也。或云肇於漢、唐，而元人伊芳世珍輯《　記》，引《修竹閣女訓》謂范睢言裹足不入秦，用女喻也，是則戰國時已有之矣。意彼時不過略為裹束，如滿洲女子，不任其若男子之放大耳。故漢、唐諸詩詠美人者，並無弓履之稱。迨李後主宮人娘，始作弓月之形，矯揉造作，卒致亡國，此簡齋先生所以罪其作俑也。沈君文浦云：後人沿此，習成錮疾，母毒其女以為慈，姑虐其婦以為愛，遂造億萬世、億萬人無窮之孽。或曰不然，古人為此，非飾美麗也，為拘游走也。嗚呼，豈理也哉！未嫁則父母拘之，既嫁則丈夫拘之，謹其閨門，嚴其出入，養其羞惡，課其女紅，於以拘游走也何難之有？而顧為此戕賊形軀之事，忍莫甚矣！拙莫甚矣！戒邪視而鑿其目，戒邪言而截其舌，豈理也哉？況古來貞靜者，豈盡由步之纖？淫奔者，豈盡由履之巨？奈之何如就三木，如受刖刑，遂令髫齡弱質，罹鞠凶於早歲，遭荼毒以終身。每見負痛飲疼，因是而瘠病者有之，由是而夭亡者有之，幽閨暗獄，魄滯魂冤，哀平哉！想我國家平成以來，風同道一，男子剃頭辮發，則晨夕省梳網之煩，暑月受清涼之福，德莫大焉，何獨女子而不普沾其澤平？倘亦遵路遵道，順天地之自然，極官骸之得所，豈不休歟！（校）裹足一事，相習成風，雖聖朝之仁政，不能盡革其陋俗，奈之何哉！無已，則《本草綱目》所采《閨閣事宜》一方，載朴硝條下，欲裹先洗，庶免其疼。俗傳用鳳仙花連根捶爛煎湯，頻洗其足，則骨漸柔軟，裹之不疼，亦妙方也。但斷不可用猴骨洗腳。恐骨雖軟，有終身不能行走之害也。</p>
<p>上論虛勞。</p>
<p>（刊）致勞之途多矣，而裹足成勞，誠軒、岐所未料及者。邇來不論男女，又於勞病門中增一坐位，久吸亞片，陰竭火炎，漸成煙勞，不能療救。既促其命，亦傾其家，天下患之，竟無大藥。安得軒、岐復起，為生民痛下針砭哉！張戴人云：驚者陽，從外入也，恐者陰，從內出也。驚者謂自不知故也，恐者自知也。足少陽膽經屬木，膽者敢也，驚怕則膽傷矣。《內經》曰：驚者平之。平乃平常之義。如聞響而驚者，常擊物作響，使習聞如平常，則不驚矣。夫驚則神上越，擊物宜在下，使其下視，所以收神也。愚謂分驚恐為外入內出，可謂一言破的。古人皆云心主驚，而不知情志字皆從心，惟驚字從馬，以馬無膽，故善驚，驚則傷膽，允為卓識。蓋人之勇懦、因膽之壯怯而分。觀其論治，似屬元妙，及至說破，又極平常，然豈常人所能測哉！（注）亙古以來，善治病者，莫如子和先生，不僅以汗、吐、下三法獨擅千古也。</p>
<p>魏玉橫治徐德滋女，年近二十。素患脅痛，月事先期，近因經遲數日，身面發疹，嘔血盆許，心下若有一塊上攻，必須重按抵住，否則上頂悶絕，脈來若有若無。此經水過期，乘肝火上逆而出，乃地氣上攻之危證也。非大劑純陰，何以挽回？予熟地二兩，杞子一兩。連進二服，即能仰臥，血止脈回。次日忽咳嗽無痰，肺金燥而肝火未平也。前方減半，加沙參、麥冬、生地、蔞仁，八劑而愈。愚按水、火、風，皆地氣也。薑、附、白通，治地中水氣上逆，以陽剛之品，迅掃濁陰也。喻氏論之詳矣。此證風動火升，故以純陰之品潛陽息風也。</p>
<p>可與喻氏並傳。</p>
<p>（注）玉橫先生治內傷專究肝腎，擅滋養之長，而地氣之說，實發前人所未發者。</p>
<p>蔣仲芳治姚氏婦，年二十五歲。其月事或半年、或三月方得一行，溫通補益、調治二載轉劇。診其脈微而澀，口乾唇燥，手足心熱。曰古法後期主寒，然此證熱也。因熱耗血，血少故後期耳。予大劑生地、當歸、芩、梔、芎、芍、丹皮、澤蘭、知母、鱉甲，六劑經準，一月後而孕矣。</p>
<p>（注）古法難執，豈經遲一證為然乎？以此推之，凡病皆宜細審其故矣。</p>
<p>世謂孕婦腳腫為男胎，且引宋少主微行，徐文伯從一案為證，實未然也。即以此案考之，少主脈之曰：此女胎也。文伯診之曰：男胎也。是以脈斷其為男，非以腳腫不能行斷其為男也。設腳腫果主男胎，文伯豈未知之，而必診而後斷乎？史載其事，亦以傳徐診之神，非以論胎氣而夸博雅也。後人誤解，遂至誤傳。醫書中此類甚多，不可不辨。</p>
<p>（注）史傳徐診之神而不明言脈象者，以脈難言語形容也。然其診而斷之之時，實以脈憑，不以腳憑也。</p>
<p>此猶誤解，況深微奧妙之書乎？沈明生治薑敏中患衄不已，去血盈斗，一月後衄止，復患囊癰，六脈如絲，精神困憊，始猶健飯，漸至粥不入。諸醫皆以為虛而當補，於是參、　不效，桂、附隨之，愈補而形愈虛，愈溫而氣愈冷。延至冬至，沈視之曰：夫食雖不入，而大便秘結，證類虛寒，而口渴喜飲，則衄血之來，本由邪火上熾，乃遽用血脫益氣之法，衄雖止而熱移於下，發為囊癰，既潰，瘍科又泥寒藥不能收口之戒，亦務溫補，家人目擊病者　羸，又聞眾口言虛，強令進食，以久臥床蓐之人，恣啖肥甘，不為運動，是以藥食並壅，內熱外寒，此病中之病，初非衄與癰所致，宜其愈補而愈不靈也。先哲云：脈浮者穀不化；又云：大實有羸狀，誤補益疾，其斯之謂歟？遂力主清潤疏解，以硝、黃為前矛，而大便立通；以芩、芍為後勁，而飲食漸進；如絲之脈，一線添長；久冷之軀，一陽來復。不惟衄不再作，且令瘡口易收。孰謂從脈可以舍證，不思而得病情哉？向非翻然易轍，轉敗為功，人惟知補之不效而已，又安知效之不在補也。故曰「此事難知」。</p>
<p>（注）人之誤於溫補者為獨多，究之擅用溫補之藥者，不但初無害人之心，且亦有活人之意。只因食古不化，識證不清，雖誤人之死，而不自知其非，自不知非，則自信益堅，甚而著書立說，以自誤者誤後人，後人不察，亦誤信其自信者，而貽誤於世。以誤傳誤，誤無底止，而瘍科則尤甚焉。</p>
<p>孫東宿治潘見所患白濁，精淫淫下，三年不愈。脈來兩寸短弱，兩關滑。曰：疾易瘳，第必明年春仲，一劑可痊。問故。曰：《素問》云：必先歲氣，毋伐天和。今所患為濕痰下流證也，而脈洪大見於尺部，為陽乘於陰，法當從陰引陽。今冬令為閉藏之候，冬之閉藏，實為來春發生根本，天人一理，若強升提之，是逆天時而泄元氣也。後醫者接踵，迄無效。至春分，迎孫。以白螺螄殼火　四兩為君，牡蠣二兩為臣，半夏、葛根、柴胡、苦參各一兩為佐，黃柏一兩為使，面糊為丸，名端本丸。令早晚服之，不終劑而愈。</p>
<p>（注）此治內傷之經旨也，而薛氏不拘何病，不拘何時，動輒補中益氣，雖明知其為陰虛陽浮，亦不輕割愛，連篇累犢，垂訓後人。余恐受其害者，不止當時求治之人也。</p>
<p>讀軒、岐、長沙之書，論瘧不止少陽一經，治瘧不僅柴胡一方，何以今人患瘧，必以柴胡為不祧之藥耶？夫風寒之瘧，可以升散，暑濕之瘧，必須清解。《隨園詩話》云：丙子九月，余患瘧。早飲呂醫藥，至日　嘔逆頭眩不止。家慈抱余起坐，覺血氣自胸僨起，命在呼吸。適同征友南豐趙藜村來訪，診脈看方，曰：誤矣！此陽明暑瘧也，誤以升麻、羌活提之，將血逆流而上，惟白虎湯可治。命速買石膏，加他藥投之。甫飲一勺，如以鈞之石將腸胃壓下，血氣全消。未半盂，沉沉睡去、額上微汗。朦朧中聞家慈　曰：豈非仙丹乎！迨醒，趙問思西瓜否，曰想甚。即命盡量食之。</p>
<p>入口如醍醐灌頂，晚即進粥，次日愈矣，愚謂隨園幸遇趙公而不死，趙公幸遇隨園而案傳。惜醫家不讀詩話，詩家罕知醫理，故錄之。夫升麻、羌活，溫散更甚於柴胡，誤施於暑瘧，宜乎血氣逆流。吾嘗見誤用小柴胡湯於暑瘧者，將熱邪肝火一並提升，遂嘔逆頭眩，汗出熱壯，脅痛耳聾，神昏欲厥。醫者不察病因，但泥嘔逆、耳聾、脅痛為少陽的證，更不必辨其邪之為寒為暑，而小柴胡之錯遂成鐵鑄，雖病者枉死，亦瞑目而安於命矣。嗚呼！醫事難明。誠不可與傖父言也。</p>
<p>（注）今人因傷寒少陽篇有耳聾一證，遂以小柴胡湯為外感耳聾之專方。若溫熱、暑濕諸感見耳聾者，皆熱邪上蒸，金受火刑之故也，豈小柴胡之可投哉！往往初不耳聾，而柴胡一進，其耳遂聾者，柴胡提其熱邪上升使然耳。隨園先生患瘧於深秋，而藜村識為暑邪，醫亦精矣。雖無著述傳世，於此可見一斑。</p>
<p>（刊）江西醫學偏尚溫補，而南豐趙君獨能治暑，洵矯矯出群，不為習俗所移者。夫以洄溪之賢，治瘧猶概用柴胡，則趙君識見之超，當在洄溪之上。殆為功名所累，故無傳書。惜哉！繆仲醇治莊斂之暴瀉，初不知其中巴豆毒也。因脈洪大而數，故用黃連、白芍、橘紅、車前、扁豆、茯苓、石斛、甘草、煎成浸冷，和童便服。一劑瀉止得眠，真妙方也。既而早用升麻，自悔不知為中毒，猶可諉也。</p>
<p>迨病平出外家，陰謀已發，濁氣既已誤升，何以熟地、山萸、河車、　、味酸膩重濁一概亂投，以致三年始愈，而更藉苦降收功，治法殊未盡善也。</p>
<p>（注）案中謂下多亡陰，忌用香燥，亦是名論。而病患不知飢飽者，顯為胃陰受傷，設彼時投以甘涼養胃，勿用滋重丸藥，則病必易愈。</p>
<p>香岩先生云：鎖喉風之為病也，有閉、脫二證。閉證氣道秘塞，關竅而死，脫證大汗、大吐、大瀉，虛脫而死。閉證以開通為急，脫證以補斂為要。景岳所見燕都女子之病，乃閉證也。夫女子善懷，性執抑郁者多，年已及笄，未免有難言之隱，憤懣抑郁，肝氣不得疏泄，決非一日，交秋令則肝氣愈斂，或食生冷，或受寒涼，郁遏肝氣，肝性促急，觸而暴發，上干心肺之竅，口不能言，無腫無痛，見面色之青者，知其為肝病也。經云：暴病暴死，皆屬於火。火鬱於內，不能外達，故似寒證，關竅閉塞，經絡不通，脈道不行，多見沉滯無火之脈。此時治法，惟紫金丹薑湯磨灌，則關隘必開，因內有麝香通竅；開口之後，然後用二陳加菖蒲、枳殼、香附、鬱金之類降之。視為脫證用參，此雪上加霜耳。凡治病難明之證，必有至理焉，故不得不為之細辨。景岳自恃絕世聰明，毀謗前賢，而遇此證束手無策，毫無見識，而以獨參湯議補，何得謂之明理乎？余在新場鎮閔家，一仆婦因食梨藕生冷，一時喉閉鎖定，不能出聲，不知痛癢，手足冰冷，面色白而青，脈息沉伏，藥不能進，余以前法治之而愈。蓋因鬱怒食生冷而起也。又治費氏女，年逾二十未嫁，忽然仆倒，手足冰冷，面色青，無痰聲，不開口，脈息伏，亦用紫金丹開口，隨進藥而痊。凡遇不開口、無痛楚、忽然而起者，先以開通閉隘為第一著，語言得出，可以得生。若以為虛，妄投入參，無有不死者。</p>
<p>（注）中風證分閉脫，昔人已言之矣，喉證分閉脫，人所未言也。先生詳為辨別，厥功偉哉！（刊）魏柳洲謂燕女之證，宜用左歸合生脈，因誤服辛溫解散而致肺絕，與葉氏所論迥殊。據理論證，則葉說為優。然未知曾王父從何采入，故於《柳洲醫話》既不刪去，亦不敢妄加按語。今年得見葉氏《景岳發揮》，始知曾王父之所采，尚在此書未刻之時。今刻本更有批云：若肺氣竭絕，必自汗氣喘，此是閉塞，故關竅不通。反復申辨，學人識之。</p>
<p>藥為補偏救弊之物，而治病有通因通用、塞因塞用之法。夫病既通矣，豈可再通？病既塞矣，豈容再塞？蓋通因通用者，病雖似通而實不通，如熱邪內熾，無從宣泄，逼迫津液妄行而下利清水，或燥矢阻於陽明，府氣不行而稀水旁流，此似乎通而實不通，故宜亟通其府，俾熱邪燥矢下行，則邪去正復而瀉利自止。塞因塞用者，病雖似塞而實非塞，如氣虛不能健運，以致胸痞、腹脹、便秘，或陰虛無以涵濡，以致火亢津枯氣結，此似乎塞而實非塞，故氣虛宜參、　等溫補以宣陽，陰虛宜地、冬輩滋填而補血，俾氣血流暢，則秘結自舒，豈非仍是通治塞、塞治通之常理哉？凡從治之法，可以類推矣。</p>
<p>（注）從治之法，從外面見證之標而言也。究其裡面致病之本而論，則不拘何法，無非正治。</p>
<p>靈胎先生云：文中子曰：醫者，意也；藥者，瀹也。謂先通其意，而後用藥物以疏瀹之。善哉言乎！醫理在是矣。而意之通實難，泥一成之見，而欲強人之病以就吾說，其患在固執；好作聰明而不窮究乎古人之成書，是猶兵家之廢陣圖、法吏之廢律令也，其患在不學。由前之說在不能用意，由後之說在誤於用意夫。然以不學之人與不通之識，而又熾以忮同列、競名利之心，以此用藥，其不致抱薪而救火、持水而投石者幾何哉？語云：學書紙費，學醫人費。蓋為此也。</p>
<p>（注）固執不通者，無才以勝其學也，好作聰明者，無學以副其才也。人必有天賦之才而讀破萬卷，庶可以為醫矣。第人心不同，既如其面，而人體不同，亦如其心。病變無窮，證隨體異，治雖宜遵古訓，亦須活法在人。神而明之，化而裁之，非通才實學，卓識深思者，惡足以語此？（刊）學醫人費，舉世聞之，而不自揣其才學，輒欲為醫者日益多。故昌邑黃玉楸之言曰：聞之《呂覽》，始生之者天也，養成之者人也。成之者，遂其生也，是天人之合也。然生之者，布帛也，菽粟也；殺之者，若鋒刃，若鼎鑊，若水旱，若蝗螟。生之途未能十一，殺之途不止十三，何其生之寡而殺之多也！此人事也？抑天道那？玉楸子曰：此未足以為多也。有其至多者焉。屠羊說以屠羊傳而羊不哀，其道孤也；無何屠牛坦以屠牛傳而　丁起，其黨漸眾，牛始哀矣，無何高漸離以屠狗傳而聶政興、朱亥出、樊噲生，其徒愈繁而狗始悲矣；無何白起、章邯之屬以戰將名，甯成、郅都之輩以刑官著，自茲屠人者傳矣。風氣開，下流眾，苟道將、爾朱榮之徒且比肩來，索元禮、來俊臣之類更接踵至，尤而效之，抑又甚焉。至於原野厭人之肉，川穀流人之血，人始哭矣。此良可疾首痛心巳，而君子未以為痛也。何則？大難既平，且不睹兵革之事，且不聞羅織之經，其人死，其禍絕，往者已矣，來者猶幸。夫何庸工群起而談岐黃，則殺人至多而不可勝窮者，無如此甚矣，不以戈　而人罹鋒刃，不事箝網而人遭誅夷，其書多，其傳久，其流遠，其派眾，其人已死，其禍不絕，遂使四海之大，百世之遠，盡飲其羽，飽其鋒，登其梯，入其瓮。水旱不年有，而此無免時，蝗螟不歲見，而此無逃期，痛哉痛哉！此最可痛哭流涕者也。其天道乎？抑人事耶？雄謂此言沉痛已極，足以警世，故附錄於此。惟黃氏雖精究醫學，而泥古太甚，偏尚扶陽，恐未深於閱歷者。所以非知之艱，行之艱也。楊素園大令云：玉楸所著各種，議論悉本《內經》，惟自負太高，未免有意矜奇，賢智之過，往往如此。斯為定評。大令又謂雄曰：從來趨時者，鮮實學，而潛心古訓者，恆多不合時宜。兼而能之者，惟君乎？雄雖愧不敢當，亦不敢不勉，然而難也。</p>
<p>怪力亂神，雖聖人所不語，然嘗曰敬鬼神而遠之矣，則非無鬼神也。庸人惑之，儒者辟之，皆愚也。有病而輒事禳禱，則惑矣，患祟而輒云無鬼，則迂矣。《北史》顧歡取《孝經》置病患枕邊愈瘋顛，以正勝邪，可補灸鬼哭穴、服八毒赤丸，及移精變氣諸法之未備，醫者不可不知也。</p>
<p>（注）此言邪祟為病，間亦有之。若痰證、熱證及七情為病，皆往往有類祟證，醫者須辨明以釋病家之惑，而後對證施治。不可以病患稍涉狂妄，即疑為鬼祟而為巫覡所欺也。</p>
<p>（刊）顧伊芳人孝廉室病鬼，醫皆束手。木文和尚於病榻前焚香誦《中庸》，三復而瘳。緇衣也，心崇正學，則聖賢之徒矣；儒冠者，心惑邪說，即異端之流矣。余嘗調俗儒不及高僧，倘有行韓子之事而人其人者，亦當區別以處之。不可因釋老之故，而概視緇黃為非類。蓋有畸人逸士，　傺無聊，遁跡於其間者矣。</p>
<p>怪證奇疾，間或有之，不可謂古書盡誣也。即尋常病證之奇幻，亦有古書所未載者。少所見而多所怪，陋矣；強不知以為知，妄矣。不陋不妄，可為名醫。</p>
<p>（注）病形奇怪，變幻萬端，古書所有者，時或見之，古書所無者，時亦聞之。蓋造物之化工莫測，病機之釀疾無窮也。</p>
<p>（校）《宋史》呂夏卿得奇疾，身體漸縮，卒時才如小兒。他書亦有載此證者。揆之以理，其人必平時多餌丹石熱藥，以致消縮，而竇材云此證宜服丹、附，最屬不經。</p>
<p>（刊）梁應來云：姑丈葛秋生病瘵，卒時身首縮小，名縮骨勞。可見近時亦有此證也。竇材乃妄人耳，自詡越人再世，所著《扁鵲心書》專尚丹石，欺世盜名，害人不淺。嗣有陳遠公，所著《石室秘錄》，論證列方，頗皆入理，奈蹈竇材故轍，假托軒、岐、仲景，誣聖愚人，貽譏後世，毛達可嘗嘆惜之。頃見番禺潘氏《海山仙館叢書》，所收女科書三卷，文理粗鄙，剿襲甚多，托名傅青主先生手著之秘本。潘氏不知醫理，誤信梓行，玷辱青主矣。無知妄作，固不足論，以遠公之學而托諸鬼神，誡不可解也，更有王養吾者，將郭氏《痧脹玉衡》竊為己有，假托深山野人之秘授，編其原方為六十四卦，未免傷及事主。而沈芊綠不察，采入《尊生》，何丹流受愚，重災梨棗，案雖未破，君子病之。</p>
<p>醫家臨診辨證，最要凝神定氣。如曾世榮於船中治王千戶子頭疼額赤，諸治不效，動即大哭，細審知為船篷小篾刺入囟上皮內，鑷去即愈。苟不細心審視而率意妄治，吾恐醫者道少、病者人費矣。</p>
<p>（注）凝神定氣，惟心小膽大者能之，忍辱負重，惟智圓行方者能之。不如是，不足以為名醫。如臨一大證，學識不足以當之，則宜舉賢讓能，不可蚊負以僨事；學識苟足以當之，而同道之識見不一，各抒議論者有之，簧鼓惑聽者有之，陰謀排擠者有之，加以親友之好惡，戚黨之疑信，或熱心關切，或樂禍幸災，投劑果然漸效，群議自息，病或稍有波瀾，眾楚交咻，斯時也若執德不宏，悻悻然委而去之，病付庸手，坐視其危，豈不輕棄人命乎？且事敗之後，亦未必竟無歸咎之語。故非凝神定氣之心思，不足以辨疑難險惡之大證，無含蓄堅忍之才力，不足以負扶危持顛之重任也。其學識全無，不知輕重，亂投藥石，惟利是圖者，乃無恥之徒，不可與忍辱負重同語矣。</p>
<p>（校）龍兒偶患足指　腫脹痛，適山妻往侍外姑疾，瘍科治之益劇，日夜啼泣不止。山妻聞而遺歸，滌去敷藥諦視之，乃剃下短發一莖刺入甲　。時盛暑，小兒頻脫襪，此必剃發落於鞋內所致也。鑷而出之，遂愈。</p>
<p>正與曾案相類矣。</p>
<p>（刊）刺不鑷出而誤藥妄治，在頭者其禍稍輕，在趾者必至潰腐脫落而成殘廢。緣先慈耳目之聰明迥異於人，故至老不衰，而又善體人情，事上撫下，無不欣感，烹飪湯藥，靡不周至，戚族中如有大病，必延往主裁，是以病情藥性，諸練亦深。雄未冠以前，讀《景岳全書》而喜之，遇證亦效其治法。先慈聞而痛戒曰：信道不篤，見異思遷，汝將為殺人之事乎？吾之閱歷病證者多矣，無論外感不可妄投溫補，即內傷證，必求其所傷何病而先治其傷，則病去而元自復。古人不曰內虛而曰內傷，顧名思義，則純虛之證殊罕見也。汝何懵乎？雄聆訓恍然漸有定見。三十年來，員不能起死人而生之，尚不致釀活病為死證者，先慈啟迪之教也。今刊此案，不禁思親之感。</p>
<p>滋補丸藥，最難消化，脾胃不健者，斷勿輕服。香岩先生云：湖州沈赤文，年甫冠，讀書明敏，父母愛之如掌珠。將畢姻，合全鹿丸一料，少年四人分服。赤文於冬令服至春初，忽患渾身作痛，有如痛風，漸至腹中作痛，有形之塊累累於腸，飲食不進，肌肉消瘦。諸醫治之，乃父畏用消導清火之藥，惟以參、朮補方是從。至秋初邀余診視，問曰：小兒晚間去黑糞如拳大者一塊，目下遍身如火，欲飲井水，不知何故？余按脈數大，身體骨立，驗其所下之塊，黑而堅硬，意為瘀血結成，與酒蒸大黃丸二錢，下黑塊不計，用水浸之，胖如黑豆。詳詢所以，乃全鹿丸未化也。始知為藥所誤，不數日熱極而死，同服三少年，一患喉痹而死，一患肛門毒而死，一患吐血咳嗽而死。此皆無病而喜服溫補之害也，錄此以勸世人不必好補而服藥。</p>
<p>（注）世人之愛其子也，始憂其不長，衣帛食肉以揠苗，繼慮其虛羸，朝丸暮藥為常饌，逢節則參，遇勞則參，釀疾延勞，半由乎此。雖曰愛之，其實害之。愚謂富貴之家，何不將此終年無病所服參藥之費，延醫合藥，施診貧病，報施不爽，則我之子孫自然康強逢吉，不必慮其虛羸而為無病之呻矣。豈不美哉！香岩先生治痘多活法。嘗於肩輿中見采桑婦，先生令輿人往摟之。婦大怒詈，其夫將扭輿人毆打。先生曉之曰：汝婦痘已在皮膜間，因氣滯閉不能出，吾特激之使怒，今夜可遽發，否則殆矣，已而果驗。又一富家子病痘閉，諸醫束手，先生命取新潔大漆桌十余張，裸兒臥於上，以手展轉之，桌熱即易，如是殆遍，至夜痘怒發得生。又先生之外孫甫一齡，痘閉不出，母乃抱歸求救。先生視之甚逆，沉思良久，裸兒鍵置空室中，禁女弗啟視。迨夜深始出之，痘已遍體粒粒如珠。因空屋多蚊，借其　膚以發也。又汪益美布鋪夥友壯年患痘閉，群醫不能措手。先生令取雞糞若干，以醇酒熱調如糊，遍塗其身面手足。越宿雞矢燥落裂剝，而痘已出矣。此皆神而明之之治，錄之亦可發人之慧悟。然激之使發者，氣閉也，展轉於新漆之桌者，火閉也，假蚊口以嘬之者，血閉也；塗之以雞矢醴者，寒閉也。雖外治也，而有分別之妙義焉。苟欲效顰，亦當審諦。</p>
<p>（校）上論治案。</p>
<p>（刊）徐洄溪云：痘證因時而變，不但歷代不同，隔數十年亦有小變。余謂痘證每因時邪引動而發，萬密齋嘗言之，王清任亦論之，故不但數十年有小變，即一、二年間亦有判然迥異者。蓋痘有痘疫，　有　疫，兒科拘守古法，但可以治常痘，此建中《瑣言》之所以有救偏良法也。後人不知此義，輒訾其浪用石膏、大黃為偏，謂止可以救慣用熱藥之偏，豈為知人論世之言哉！但痘挾疫邪，非用費氏之法不可。惜幼科罕讀其書，不識病因，往往闔境沿村，夭枉載道，諉諸天數，豈盡然歟！吾先慈幼時患痘，頭面雖少，遍身密布，紫黑焦枯，略無潤澤，諸醫束手。老醫包士安曰：此名螺疔痘，用大黃、石膏多劑，毫無起色，奄奄一息，已絕望矣。偶親串中遣一越人陳嫗來探疾，見而　云：尚可圖也。亟以銀針將遍身之痘逐粒挑出如黑豆者一顆，隨以珍珠八寶丹糝入，外用朱養心家碧玉膏封之，即能進粥，不勞余藥而生。又定州楊素園大令云：阜平趙功甫邃於醫，凡一切丸散，人所不能辨其中為何藥者，趙一嗅而知之，歷試不爽，殆與離婁之明、易牙之舌，皆為天畀之獨也。生平長於治痘，痘始萌，一望已知其結局，雖極危之證，治之無不收功。自云一生療痘，無藥不用，而從未有用附子者。並識之，以質治痘名家。</p>
<p>開物成務之聖人，憫民疾苦，救其夭札，而垂以藥治病之教，誠輔相裁成之大道也。乃秦政、漢武，窮奢極欲，妄求不死，於是方伎進、邪說興焉。故今世所傳《神農本草經》、《黃帝內經》等書，皆有方伎之言附會其中，如輕身不老、久服延年等語是也。即班氏《藝文志》亦承其陋，謂方伎之別有四：曰醫經，曰經方，曰房中，曰神仙。夫醫理經方，皆聖王康濟蒼生之術，豈可與房中、神仙之邪說並列為方伎哉！後人惑之，淪於雜學，幸天縱長沙，集醫經、經方之大成，置房中、神仙於不論，炎黃大道，賴以復明。於戲！此其所以為醫聖也。或老年血氣衰弱，精力不充，藉藥餌以佐穀肉果菜所未逮，亦人子竭力孝養之一端，固未可盡非焉。</p>
<p>但弗惑於邪說，妄求長生而服金石等藥，以速其死耳。古書惟《元和紀用經》以不用桂、附、石藥者為上丹，猶為近理，故首錄其方於下。</p>
<p><u>上丹</u></p>
<p>　平補氣血，健力加餐。</p>
<p>北五味（八兩，夏月再加四兩）　百部（酒宿浸焙）　菟絲子（酒宿浸焙）　淡肉蓯蓉（酒浸各二兩，四季土旺，蓯蓉再加六兩）　杜仲（炒）　巴戟肉　遠志肉（各二兩，冬月遠志再加六兩）　甘枸杞（二兩，秋月再加六兩）　防風（無叉枝者）　白茯苓　蛇床子（炒）　柏子仁（另研）　干薯蕷（各二兩）</p>
<p>上十三味，用甘泉、桑柴火、砂鍋，煎至味盡去滓，將藥汁慢火熬成膏，瓷器收盛。封置泥地或冷水中拔去火氣。每晨淡鹽湯調服數錢，春月用棗湯化服。</p>
<p>（注）醫書有肥兒丸，無養老方，可見人情之濃於慈、薄於孝，故《韓氏醫通》嘗三嘆焉。先府君年逾大耋，神明不衰，雖知醫而素不服藥，獨諄諄以養老為言。夫良醫不治老，老豈能治之轉少哉？然藥以扶老，使之康健而少病，未始非怡清養志之先務，雖以藥扶老，實以孝治人耳。上丹本是丸方，恐老人脾氣不健，運化殊難，改丸為膏，俾易融洽。酒宿浸者，酒浸一宿也。</p>
<p><u>集靈膏</u></p>
<p>　人年五十，陰氣先衰，老人陰虧者多，此方滋養真陰，柔和筋骨。</p>
<p>西洋參（取結實壯大者，刮去皮，飯上蒸九次，日中晒九次）　甘杞子　懷牛膝（酒蒸）　天冬　麥冬懷生地　懷熟地　仙靈脾上八味，等分，熬成膏，白湯或溫酒調服。</p>
<p>（注）此方始見於《廣筆記》，無仙靈脾，云出內府，又載於《治法匯》，並無牛膝。方後法血虛加當歸四兩，脾弱加白朮四兩或八兩。且云治一切氣血兩虛，身弱咳嗽者，罔不獲效。凡少年但覺氣弱倦怠，津液少，虛火上炎，急宜服之，免成勞損。後惟魏玉橫先生善用此方，《續名醫類案》極言其功效。愚謂即人參固本加味也，峻補肝腎之陰，實無出此方之上者。原方用人參，近年參價甚昂，非大力者不能致，易以西洋參，可與貧富共之矣。方名「集靈」，則以有仙靈脾者為是。《理虛元鑒》治勞嗽，於原方去參、膝，加甘、桔、元參。</p>
<p>（刊）如治陰虛遺帶，宜去牛膝，加黃柏。凡便滑者，亦宜去牛膝，重加生薏苡仁。</p>
<p><u>草靈丹</u></p>
<p>　老人陽氣偏虛，便溺不禁者，用此溫補下元，可以耐冷。</p>
<p>茅山蒼朮（泔水浸，刮去皮，飯鍋上酒蒸透）　川椒紅（各四兩）　懷熟地　干薯蕷（各三兩）　炙甘草茯苓（各二兩）　茴香（二兩鹽水炒）　川烏（制一兩）</p>
<p>上八味，將六味研細末，以熟地杵膏、薯蕷煮糊，共杵丸，梧子大。每三十丸，空心淡鹽湯下，以干食物壓之。</p>
<p>（注）脾腎兩虧，內挾寒濕者，此方宜方。若陰虛火盛之人，不可服也。</p>
<p><u>十灰散</u></p>
<p>　治吐血、咯血、嗽血，先用此藥止之。</p>
<p>大薊　小薊　荷葉　扁柏葉　茅根　茜根　梔子　大黃　丹皮　棕櫚皮上十味，等分燒灰存性，研極細末，以紙包置泥地上一夕出火氣。每服五錢，藕汁或蘆菔汁或京墨汁半碗調服。</p>
<p>（注）按原注云：吐血者競推葛氏，而先生首以此方止血，明明劫劑，毫無顧忌，細玩始知先生意之到、理之精也，人生於陽，根於陰，陰氣虧則陽自勝，上氣為之喘促，咳吐痰沫，發熱面紅，無不相因而至，故留得一分自家之血，即減得一分上升之火，易為收拾。何今日之醫動以引火歸經為談，不可概用止血之味，甚至有吐出亦美，壅反為害，遂令遷延時日，陰虛陽旺，煎熬不止。至於不救。果誰之咎？執引經而緩時日，冀復元神，吾恐有形之血豈能使之速生，而無偶之陽何法使之速降？此先生所以急於止血之大旨也。</p>
<p>（刊）諸藥燒黑，皆能止血，故以「十灰」名其方。然止澀之品僅棕櫚一味，余皆清血之熱、行血之滯、破血之瘀者，合以為劑，雖主止血而無兜澀留瘀之弊，雄每用之，並無後患，何可視為劫劑乎？</p>
<p><u>太平丸</u></p>
<p>　治久嗽肺萎肺癰。</p>
<p>天冬　麥冬　知母　川貝母　款冬花（各三兩）　杏仁　當歸　熟地　生地　黃連（各一兩五錢）　蒲黃京墨　桔梗　薄荷（各一兩）</p>
<p>上十四味，研細末和勻，以白蜜四兩，於銀石器中煉熟，再入黑驢皮膠一兩五錢，俟烊後下諸藥末攪勻，再入麝香少許，熬二、三沸，即丸彈子大。食後細嚼一丸，薄荷湯緩緩化下。臨臥噙此丸仰臥，使藥流入肺竅，則肺清嗽減。凡咳嗽服此，七日自痊。</p>
<p>（注）肺居膈上，湯藥蕩滌宜下，已過病所，宜乎難效，此噙化法之所以妙也。後莊一生治氣鬱痰凝，胸膈痞塞，用人參、貝母、苦參、沉香、薄荷，為末蜜丸，噙口中聽其自化，徐徐沁入。可謂善得師者。</p>
<p><u>潤肺膏</u></p>
<p>　治久嗽肺燥肺萎。</p>
<p>羊肺（一具）　杏仁（淨研）　柿霜　真酥　真粉（各一兩）　白蜜（二兩）</p>
<p>上將羊肺洗淨，次將五味入水攪黏，灌入肺中，白水煮熟，如常服食。</p>
<p>（注）按原注云：血去則燥，燥則火旺，肺大枯，欲從腎源滋水，而不先滋水之母，有是理乎？然肺為多氣少血之臟，故一切血藥概不欲用，以羊肺為主，諸味之潤者佐之，人所易能也。若以真粉之甘涼，不獨清金，且以培土，人所未知也。愚謂此治上損之主劑也。肺熱葉焦之痿，飲不解渴之上消，並可仿此為法。夫可久先生為治損聖手，故葉氏治吐血諸證皆宗之。奈後人多從《醫貫》入手，不分上損、下損，惟知六味、八味等方而已，宜乎其無效也。今世所傳葛氏方，僅一白鳳膏膾炙人口，抑何陋哉！</p>
<p><u>燮理十全膏</u></p>
<p>　平補陰陽，調和氣血。</p>
<p>人參　黃　（各三兩炙）　白朮（六兩）　熟地（八兩）　歸身　白芍　川芎（各二兩）　甘草（一兩炙）</p>
<p>上八味，熬膏，將成入鹿角膠四兩，龜板膠三兩收之，盛瓷器內，窨去火氣。每開水調服數錢。</p>
<p>（注）此一瓢先生方也。其方論云：古人治無形之勞倦，必培以甘溫，人參為君，白朮為臣，黃　為佐，甘草為使，有形之勞倦，必助以辛溫，歸、芎是也，資以酸甘，芍、地是也。故以八味為章旨，而驅策以血肉之物，如鹿之動，能通督脈，挺走險阻而不疲，角戴陽而上升，稟乎剛健之用；龜之靜，能通任脈，潛藏固蟄，抱陰負陽而善守，腹為陰而下降，稟乎柔順之體。此二膠者，各稟一德，草木力微，賴之而神其用也。</p>
<p>陰陽兩虛者服之，無偏勝，無不及，或加陳皮、半夏以利樞機，允為王道之劑。凡培養元氣之方，宜簡而純。</p>
<p>簡則臟腑易承，氣血易行，純則溫濃和平，可以補偏救弊，俾自相灌注，循環無端，生生不已，以合其先天所賦流行之道。若稍有穿鑿，非本然之理矣。蓋人身之精神，不外乎陰陽，陰陽又不外乎剛健柔順，相倚循環，並非分道揚鑣者也。故無形之動，陽之性，即陽之理，有形之靜，陰之性，即陰之理也。張之則為陽，馳之則為陰。陽則剛健中正，陰則柔順利貞。丹書敬勝怠勝，夫人知之，無如氣血精力與時推移，久勞其陽，陽必降而入陰，久敝其陰，陰必無力承陽，必使剛健中正以行之陰，柔順利貞以奉於陽，則陰陽二氣無形體、無疆界，不勞不敝，則自然清明在躬也。</p>
<p><u>露珠丹</u></p>
<p>　治殫慮勞神，火升心悸，震惕不寐，遇事善忘。</p>
<p>透明辰砂（一兩，以玉器盛露四十九夜，除陰雨不算，研極細）　西牛黃（一錢，研細）</p>
<p>上二味，研勻，煉白蜜丸如豌豆大。每臨文應事或臥時，以一丸噙化。</p>
<p><u>正誠丹</u></p>
<p>　治同上。</p>
<p>透明辰砂（研極細，每砂一兩，用生甘草一兩煎湯飛淨、去頭底晒乾，再研再飛，三次為度）</p>
<p>豬心中血（絲綿絞去滓，凡砂一兩，用心血三個，每次一個，拌砂晒乾，再研再拌，再晒三個，用訖再研極細）</p>
<p>上以糯米糊和搗萬杵為丸，每重七分，陰乾得五分，瓷瓶密收。服法如前。</p>
<p><u>神效散</u></p>
<p>　治膈消。</p>
<p>白浮石　生蛤粉　蟬蛻上三味，研細末，每三錢，鯽魚膽七枚，取汁調服。</p>
<p>（注）晉三先生云：心肺同居膈上，熱邪移肺，劫其真津，而成　之勢，熾若燎原，故渴而求救於水，飲如長鯨之吸川，雖補水降火，猶恐不及，妙在即以水中鹹寒之物，從其所欲以治之。故仲景用文蛤散、潔古化水丹用蛤粉，皆同此義。是方更有進焉者，浮石、蛤粉、鯽魚膽三者，以咸勝苦，以苦勝辛，辛，肺之氣味也。佐以蟬蛻輕浮上升，引領三者直達肺經，解熱上渴。且浮石、蛤粉之咸，皆平善無過，非但止渴，兼能利水，可無聚水之變幻。蓋往往有寒涼過用，火熱既消，反不能消水而成中滿腫脹者。吾於此敬服許學士具通天手眼，轉展回顧有如此也。</p>
<p><u>太乙紫金丹</u></p>
<p>山慈姑　川文蛤（各二兩）　紅芽大戟　白檀香　安息香　蘇合油（各一兩五錢）　千金霜（一兩）　雄黃（飛淨）　琥珀（各五錢）　冰片　當門子（各三錢）</p>
<p>上十一味，各研極細，再合研勻，濃糯米飲杵丸，綠豆大，外以飛淨辰砂為衣。</p>
<p>（注）此治濕溫、疫癘之邪，彌漫熏蒸，神明昏亂，及霍亂吐瀉，痧脹腹痛，水土不服，嵐障中惡等證，兼解諸毒。薛一瓢先生云：比蘇合丸而無熱，較至寶丹而不涼，兼太乙丹之解毒，備二方之開閉，洵為濟生之仙品，立八百工之上藥也。</p>
<p>（刊）今世所行太乙丹，藥品龐雜，群集燥熱，惟風餐露宿藜藿人寒濕為病者，服之頗宜。若一概施之，誤人匪淺。</p>
<p><u>參香八珍膏</u></p>
<p>丹參（去頭尾，酒洗蒸熟）　四製香附（各四兩）　熟地　炙黃　白芍（酒炒）　蒸熟白朮　白歸身（酒炒）　茯苓（各三兩）</p>
<p>上八味，熬膏。每三錢，開水調服。</p>
<p>（注）一瓢先生云：此女科調理方之首選也。氣味和平，功能相稱，同行臟腑，灌注血脈，虛人可以久服。愚按氣屬陽，欲其剛健，血屬陰，欲其柔順。女子多郁。則氣行不健，故去甘草之甘緩，加香附以承流　、朮之宣化，郁則生熱，故血行不順，爰去川芎之溫竄，加丹參以協和三物而涵濡。且黃　得歸、芍，補血之功敏於人參，特舍彼而用此，不僅貧富可以共嘗也。</p>
<p><u>金鳳銜珠</u></p>
<p>　治婦女虛寒諸病，致不受孕。</p>
<p>蛇床子（四錢）　母丁香　肉桂　杏仁　白芨　吳萸　菟絲子　北細辛　薏苡仁　砂仁　牡蠣　川椒（各三錢）　麝香（少許）</p>
<p>上十三味，各研細，再研勻，生蜜丸，櫻桃大。每一丸，納玉門中。</p>
<p>（注）此治玉門寬濕，虛寒帶下，或行經腹痛，經遲色淡，並男子陽虛莖萎，遺濁精寒諸證。世之男婦，患此而隱忍不言，遂至仳離，甚或釀事，蓋不知可以藥治也。錄方之意，殆有深心。</p>
<p><u>吉祥丸</u></p>
<p>　治婦人血寒氣鬱，不能有子。</p>
<p>天麻（煨）　芎　桂心　丹皮　桃花瓣　柳絮　白朮　熟地　五味（去核）　茯苓（各一兩）　菟絲子覆盆子　楮實（各一升）　桃仁（百粒）</p>
<p>上十四味，為末，蜜丸豆大。每五丸，空心苦酒下，日三。</p>
<p>（注）晉三先生云：吉祥者，《詩》言吉夢熊黑，男子之祥也。婦人血積胞門，或寒凝子宮，致任脈不榮，不能受孕，斷緒絕產，古人用蕩胞湯、秦桂丸等方，閨中弱質，奚堪猛烈之品。是方君以天麻者，以其有游子十二環於外，結子透虛入莖中，潛生土內，復芎　下行血海，治血閉無子，東垣言女子肝虛不足，宜天麻、芎以補之也，臣以桂心，通子宮破瘀，桃仁、丹皮，補肝活血，桃花輕薄，柳絮顛狂，功皆下行走泄，其性可以辟除穢惡，其情足以感發春心；佐以白朮、地黃，補脾腎之正氣；再使以菟絲、覆盆、五味，皆蔓延多子之品，茯苓入陽通氣，楮買入陰通神，俾使內之時，精氣神混合一　，自然受孕。方之取義甚佳，用亦屢效。</p>
<p>（校）此二方雖主虛寒無子，而一為外治之法，一則服藥止五丸，何也？丹溪先生嘗論之矣。謂陽精之施，陰血能攝，精成其子，血成其胞，胎孕乃成。凡婦人無子，率由血少不足以攝精也。血少固非一端，然必調補陰血，使無虧欠，乃可成胎，何可徑用熱劑煎熬臟腑！血氣沸騰，經來必轉紫黑，漸致衰少，始則飲食驟進，久則口苦而干，病且蜂起，焉能受孕？縱然生子，亦多不壽，以熱藥能耗損天真之陰也。且婦人血少內熱者多，雖膠艾湯不可擅用，以艾性至熱，入火灸則下行，入藥服則上行，多服則致毒，不可不知。然則此二方之外治、少服，良有深意，而中病即止，更為用藥者所當知矣。</p>
<p>（刊）陳氏云：男不能生子有六病：精寒也，氣衰也，痰多也，相火盛也，精少也，氣鬱也。女不能受孕有十病：胞門冷也，脾胃寒也，帶脈急也，肝氣鬱也，痰氣盛也，相火旺也，腎水虧也，任督病也，膀胱氣化不行也，氣血偏而不能攝精也。可見精寒與胞門冷，特其一端耳。故喻氏謂丈夫無子，不可徒服壯陽之藥。然則女人不孕，豈可概投辛熱之劑耶？惟確見虛寒之證者，始可用此等方。孫真人以五丸為一服，何其慎哉！後世之神佑丸每服七粒，得其旨矣。雄謂男女縱無病，而兩情未洽，亦不能孕，情之未洽，尤非筆所能罄。是二方者，不僅治病，兼寓洽清，此我曾王父所以有取而錄之，蓋欲人之家室和而似續延，故先王父嘆為有深意存焉。旨哉言乎！</p>
<p><u>安胎飲子</u></p>
<p>　懷妊兩月服起，至六個月止，可免墜胎。</p>
<p>紅蓮子（杵碎）　台州青苧（洗去膠）　白糯米（各三錢）</p>
<p>上三味，水一鐘，煎減半。每日侵晨服。</p>
<p>（注）晉三先生云：半產由於房勞傷損足三陰，腎傷則精氣不固，肝傷則血熱妄行，脾傷則胎元自墜。紅蓮子清君相之火，而能固澀真氣，青苧利小水而通子戶，清淫欲之瘀熱；糯米補益脾陰，能實陽明空竅，使肝氣不妄動而胎氣自安。以五穀果實為方，誠王道之劑也。</p>
<p><u>蕩胞丸</u></p>
<p>　凡屢屢墮胎者，墮後即以此丸服七日。</p>
<p>丹皮　桂枝　赤芍　茯苓　桃仁（去皮尖）</p>
<p>上五味，等分，生研末，醋曲糊丸，梧子大。每朝用紫花益母草三錢煎湯，送下二十丸。七朝後接用後方。</p>
<p><u>玉環丸</u></p>
<p>　前丸服至七朝，第八朝接服此丸，至十四朝而止。</p>
<p>生地（切碎，同薑炒，去薑）　丹參（去頭尾，酒洗炒，各四兩）　全當歸（三兩）</p>
<p>四制大香附　赤芍（酒炒各二兩）　川芎（童便炒）　陳艾絨（雞子二枚同煮，水干炒黑各一兩）</p>
<p>上七味，研末，以黑驢皮膠三兩酒化烊，和搗丸，梧子大。每服二十丸。</p>
<p>（注）半產之因不一，補虛清火，夫人知之。惟胞宮留瘀致墮者，世罕論及。錄此二方，以補未備。方名「蕩胞」，義自顯然，但藥非峻烈，雖與蕩胞湯同名，而純駁緩急大不侔矣。</p>
<p><u>神造湯</u></p>
<p>　治雙胎經養不周而偏夭，不去其死，害母失胎，此方主之。</p>
<p>蟹爪（一升）　生甘草（二尺）　阿膠（三兩，湯成去滓下）</p>
<p>上三味，於東向爐上，炊以葦薪，煮以東流水一斗，取二升。頓服或分二服。若人昏不能服者，灌之即活。</p>
<p>（注）晉三先生云：神造者，制方之妙，一若神仙所作者也。蟹爪尖專下死胎，甘草奠安中氣，不使尸氣上乘；阿膠滑利前陰。分兩用一、二、三者，取數之勝，衡以升、尺稱者，取器之動，爐向東者，取生氣，炊以葦薪者，取輕脫。若雙胎一死一生者，蟹爪又安生胎，阿膠專於育神，甘草培植生氣，服之令死者出，生者安，真神品也。</p>
<p><u>補脬飲</u></p>
<p>　治產後脬損，小便淋瀝。</p>
<p>生黃絲絹（一尺剪碎）　白丹皮根木　白芨（各一錢）</p>
<p>上三味，水一碗，煮至絹練如餳。空心服，咽時不得作聲。</p>
<p>（注）晉三先生云：脬，婦之膀胱也。產時為穩婆所傷，小水淋漓無度。觀其補法，有不可思議之妙。生絲造者曰絹，色黃者入血，丹皮連木者入裡，色白者走氣：二者皆能瀉膀胱之火，引清氣以達外竅。白芨性黏，功專收澀，能補五內之破損。咽之無聲乃有效者，蓋聲出於五臟，有聲則五臟之氣動而來迎，無聲則五臟之氣靜而寧謐，所餌之藥不由五臟分布入肺，竟從胃口闌門泌別清濁之處，由脂膜之絡，滲於膀胱之外膜，使白芨得以護外而為固也。</p>
<p>（刊）二方用藥，可謂情義入神，而前方煎法，此方服法，尤足開人之慧悟也。</p>
<p><u>青附金丹</u></p>
<p>　治婦女　瘕等病。</p>
<p>青皮（切四兩，用消石五錢化水浸）　香附（捶碎四兩，童便浸）　鬱金（敲碎二兩，用生礬五錢化水浸）　丹參（切三兩，薑汁浸）</p>
<p>上四味，研細末，醋糊丸，麻子大，晒乾洒上阿膠水，搖令光澤，再用：人參　當歸　川芎（各一兩）　白朮　茯苓　製半夏（各二兩）　陳皮　炙草（各五錢）</p>
<p>上八味，研細末，以米飲泛在光澤小丸上作外廓，晒乾。每三錢，開水下。</p>
<p>（注）此薛氏法，方制甚奇。緣虛弱人而患症痞　癖有形之病，不可徑施攻下，故用此為緩消之計。其妙在以六君、歸、芎為外廓，使藥入胃時不知有攻消之味，而胃氣不傷，迨其漸化，則對證之藥已至病所，俾病去而正不傷。誠女科之要方也。</p>
<p>（刊）婦女經產，皆以血為用，故其體多虛，而受制於人，故其氣多郁，氣鬱則痰易凝而血易滯，此症等病所由成也。粗工率用峻劑，但可以治實證，庸流偏於養正，每致延為痼疾。觀此方以六君、歸、芎先為保護中氣，已寓化痰養血之治，可謂所至秋毫無犯，而暗伏奇兵拔其負固，安良除暴，允為王者之師。喻氏論治下焦寒疝，義本於止，豈非善得師哉！雄謂以此類推，凡治下焦病，皆宜仿此法，庶無諺所云：「兵馬過」，籬笆破之弊也。</p>
<p><u>五香丸</u></p>
<p>　治同上。</p>
<p>五靈脂（一斤）　香附（去淨毛一斤，水浸一日）　黑牽牛　白牽牛（各取頭末二兩）</p>
<p>上四味，於未研之先，一半微火炒熟，一半生用。共研細末，和勻，醋糊丸，蘆菔子大。每七、八分或一錢，臨臥薑湯下；次早再一服，即愈。孕婦忌服，小兒減半，虛人慎用。</p>
<p>（注）五靈脂破瘀安新，香附調氣舒郁，牽牛開結行痰、逐飲通水，合為消　散癖之方，不為不峻，然每服錢許，用治實證，尚為善藥。即痰積食積，氣滯成瘕，蠱膈腫脹，實痢初起，審屬痞聚在腹、有形攻痛之證，皆可治之。虛人或以六君子加歸、芍，作煎劑送服亦可。</p>
<p><u>導症囊</u></p>
<p>　治血因寒阻，凝結成症。</p>
<p>川椒　皂角（各一兩）　細辛（一兩五錢）</p>
<p>上三味，為末，以三角囊大如指者，長二寸，盛藥，納入陰戶內，欲便則出之，便已再納。症化惡血而下，以溫湯洗之，三日勿近男子。</p>
<p>（注）外治法藥雖峻，似不比內服者之慮其耗傷元氣也。然藥皆辛熱，必確因寒阻血凝為病者，始為對證。</p>
<p>觀症化惡血而下句，義自顯然矣。</p>
<p><u>保嬰湯</u></p>
<p>　治小兒諸病。</p>
<p>陳米　黃土　嫩竹葉　蘆菔子　薄荷葉　燈草心　麥上七味，隨證所主者多用，其余次之。每服不過三錢，袋盛煮湯，任意渴飲。如便燥者，調入白蜜少許。</p>
<p>（注）小兒之病，多起於乳食不節，此湯調養脾胃，巳扼幼科之要，故可隨證損益，以應諸病。若夏月泄瀉，尤為妙方。即痘疹後調理，亦宜準此。不可以平淡忽之，而從事溫補致釀別恙也。</p>
<p>（刊）小兒以脾胃為後天根本，乳食不節，脾胃有傷，漸難運化，吐瀉乃作。久則脾土虛弱，肝木乘之，糞色漸青，面部萎白帶青，手足微搐無力，神氣懨懨不振，而慢脾成矣。江筆花《醫鏡》云：時俗所謂慢驚風，即木侮土是也。初起宜異功散，甚者加木香、肉桂。若肢冷、唇白、息微，元氣欲脫也，急用附子理中湯，尚可挽回。然變之速者，用藥稍緩即不濟事，未可概視為慢也。雄按：莊氏《福幼編》專論此證，若果系此證，應用此藥，乃謂執一方而可通治泄瀉，其禍可勝言哉。</p>
<p><u>天一丸</u></p>
<p>　治小兒百病。</p>
<p>燈草心（十斤，以米粉漿染，晒乾研末，入水澄之，浮者為燈心，取出又晒乾，入藥用二兩五錢，而沉者為米粉，不用矣）　赤白茯苓（去皮，兼用茯神去木五兩）　滑石（水飛過五兩）　豬苓（去皮二兩）　澤瀉（去蘆三兩）</p>
<p>上五味，各為細末，以潞黨參熬膏和丸，龍眼大，辰砂為衣，飛金為裹。每一丸，隨證用引調服。</p>
<p>（注）韓天爵云：小兒生理向上，本天一生水之妙，故治病以小水通利為捷徑也。愚謂小水通利則病有去路，故曰捷徑。諺云：「溲多無病，矢多無命」，即此義也。</p>
<p><u>清驚散</u></p>
<p>　治小兒痙厥螈　。</p>
<p>陳膽星（九分）　飛辰砂（一分）</p>
<p>上二味，研細，以竹瀝半小杯，生薑汁一小匙和勻，再用麥冬一錢，橘紅八分，薄荷尖一分，煎湯調服。</p>
<p>（注）俗傳急驚風，方中行、喻嘉言兩先生辟之甚詳。此方以降痰、清熱、息風為治，得其指矣。</p>
<p>（刊）《醫鏡》云：俗云急驚風，痰火閉也。小兒或感風寒，或積乳食，皆能生痰，痰積則化火，或受暑熱，亦生火，失於清解，則火升而痰亦升，痰火上壅，閉其肺竅，則諸竅皆閉。其證目直氣喘，昏悶不醒，且火甚則肝燥筋急。為搐搦掣顫。反張竄視，而八候生焉。總由痰火閉結，肝風內動而成，非嚇驚也。當其拘攣弓仰之時，不可用力緊抱，但以手扶，聽其自抽自止，庶不傷經絡而成廢人。初起宜通關散開其嚏，得嚏則醒，次以竹瀝或梨汁、蘆菔汁和入石菖蒲汁灌之，火降痰平，則病自己。愈後宜清熱養陰，勿投溫補。雄按：「痰」古作「淡」，顯系二火搏水以成痰也。萬密齋嘗云：人之有痰，猶木之有津，時令大熱，草木流津，痰自熱生，此明驗也。痰猶水也，附氣自行，過顙在山，豈水之性哉！乃搏激使之也。故雄謂胃火盛則飲食生痰，痰愈盛則肥濃愈嗜者是也。肝火熾則津液凝痰，痰愈盛則筋絡愈燥者是也。痰因火動，理自不誣。</p>
<p><u>順流丹</u></p>
<p>　治痘證險逆。</p>
<p>當歸　川芎　升麻　甘草（各六兩）</p>
<p>上四味，　粗末，於臘月八日取東流清水七大碗，煎至三大碗，去渣，將藥盛新砂鍋內，再選：明淨完體辰砂（四兩）</p>
<p>上砂盛細絹袋內，以線扎口，懸系藥汁中，約離鍋底一指，以桑柴慢火煮至汁盡，取起研細末，瓷瓶收藏，另用：好糯米（半升，淘淨控干水氣）</p>
<p>再以鹽鹵和淨黃土干濕得所，包米為團，放炭火內，　令通紅，速即取出，冷定劈開，揀米粒色黃有性者，亦研細末。別盛瓷瓶收藏。凡小兒一歲足者，用辰砂末、米末各一分，白蜜一茶匙，米湯半杯，醇酒三匙，共二未調勻，以茶匙徐徐喂服。未出痘者免出，已見點者必稀，陷沒者片時即起。合藥一料，施送可救數百人，惟合時須焚香淨室吉人，勿令雞犬、陰宦、孝服、生理殘障、穢病患見，慎之珍之。</p>
<p>（注）《古愚消夏錄》載此方，云真定梁氏世施此藥，厥功甚著。而用藥平淡，制法甚奇，名之曰「順流丹」，蓋以水向東流為順，用治逆痘，證即轉順。夫□致膠煎以伏流之阿水，則名阿膠，亦為其功在水耳。故煎藥之水，不可不因證而擇其宜也。第東流水既取其順趨，亦取其流行、煎藥者宜取而即用，不可久停以失流行之性。觀其不用井水、止水，意可見矣。</p>
<p>（校）上論方劑。</p>
<p>六月初一日取好水藏之，久而彌佳，名六一水，又名神仙水，宜於夏秋烹茗。何氏《醫碥》煎藥用水歌云：急流性速堪通便。宣吐回瀾水最宜，百沸氣騰能取汗，甘瀾勞水意同之，黃齏水吐痰和食，霍亂陰陽水可醫，新汲無根皆取井，除煩去熱補陰施，地漿解毒兼清暑，臘雪寒冰療疫奇，更有輕靈氣化水，奇功千古少人知，堪調升降充津液，滋水清金更益脾。</p>
<p>（刊）雨雪之水名曰天泉，即半天河水，一名上池水。其質最輕，其味最淡，宜煎清肅上焦藥，淪茗遠勝山泉。惟吾杭飲之，故人文秀美，甲於天下。杭城皆瓦屋，以竹木或磚或銅錫為承　，引其水而注之缸，然必日使人梯而上視，如有鳥惡貓穢之瓦，即以潔瓦易之，再以淨帚頻為掃除，毋使木葉塵砂之積，則水始清。若近廚突之屋，必有煤　之污，勿取其水也，狂風驟雨之水，必夾塵砂，亦勿取焉。久晴乍雨之水，亦勿遽取，恐瓦有積垢，翟之未淨也。既注之缸，必待其澄，而後挹其清者，藏諸別缸，藏久彌良。凡藏水之缸，宜身長而口小者，上以缶盆冪之，而置於有風無日之所，日晒久則水易耗而色不白也。置缸之地須　以石，俾免濕氣上蒸也。嚴寒之際，缸慮凍裂，每缸內入以粗松柴三、四尺，即不泐。先慈嗜茗而取水甚嚴，蓄水甚精，謹詳識之。雖他處亦可仿行，以免水土惡劣之病，不但備烹茶煮藥之用已。</p>
<p>又凡溪澗之水惡劣者，其山必　，或為砒礬毒藥之所產，或為蟲蛇猛獸之所居。而人之飲食，首重於水，乍入其鄉者飲之，疾病生焉，生於其地者習之，狠戾鐘焉。欲籌斡旋補救之策，以期革獷悍之俗，而康濟斯民者，惟有深鑿井泉，是為亟務。爰附泰西掘井法於下，庶無井之處悉可廣鑿焉。</p>
<p>高地作井，未審泉源所在，其求之之法有四：第一氣試。當夜水氣恆上騰，日出即止。今欲知此地水脈安在，宜掘一地窖，於天明辨色時，人入窖，以目切地，望地面有氣如煙騰騰上出者，水氣也。氣所出處，水脈在其下。</p>
<p>第二盤試。望氣之法，曠野則可，城邑之中，室居之側，氣不可見。宜掘地深三尺，廣長任意，用銅錫盤一具，清油微微遍擦之，窖底用木高一、二寸以　盤，偃置之，盤上干草蓋之，草上土蓋之，越一日開視。盤底有水欲滴者，其下則泉也。</p>
<p>第三缶試。近陶家之處，取瓶缶坯子一具，如前銅盤法用之。水氣沁入瓶缶者，其下泉也。無陶之處以土甓代之，或用羊絨代之。羊絨者不受濕，得水氣必足見也。</p>
<p>第四火試。掘地如前，篝火其底，煙氣上升婉蜒曲折者，是水氣所滯，其下則泉也。煙氣直上者否。</p>
<p>鑿井之法有五：第一擇地。山麓為上，蒙泉所出，陰陽適宜；園林室屋所在，向陽之地次之，曠野又次之，山腰者居陽則太熱，居陰則太寒，為下。鑿井者察泉水之有無，斟酌避就之。</p>
<p>第二量淺深。井與江河地脈通貫，其水淺深尺度必等。今問鑿井應深幾何，宜度天時旱澇河水所至，酌量加深幾何而為之度。去江河遠者不論。</p>
<p>第三避震氣。地中之脈，條理相通，有氣伏行焉，強而密理，中人者九竅俱塞，迷悶而死。凡山鄉高亢之地多有之，澤國鮮焉。此地震之所由也，故曰震氣。凡鑿井遇此，覺有氣颯颯侵人，急起避之，俟泄盡更下鑿之。欲候知氣盡者，縋燈火下視之，火不滅是氣盡也。</p>
<p>第四察泉脈。凡掘井及泉，視水所來而辨其土色。若赤埴土，其水味惡。赤埴，黏土也，中為甓為瓦者是。</p>
<p>若散沙土，水味稍淡。若黑墳土，其水良。黑墳者，其土色黑稍黏也。若沙中帶細石子者，其水最良。</p>
<p>第五澄水。凡作井底，用木為下，磚次之，石次之，鉛為上。既作底，更加細石子濃一、二尺，能令水清而味美。</p>
<p>試水美惡，辨水高下，其法有五。凡江、河、井、泉、雨、雪之水，試法皆同。</p>
<p>第一煮試。取清水置淨器煮熟，傾入白瓷器中，候澄清，下有沙土者，此水質濁也。水之良者無滓。又水之良者，以煮物則易熟。</p>
<p>第二日試。清水置白瓷器中，向日下，令日光正射水，視日光中若有塵埃氤氳如游氣者，此水質不淨也。</p>
<p>水之良者，其澄徹底。</p>
<p>第三味試。水元行也，元行無味，無味者真水。凡味皆從外合之，故試水以淡為主，味佳者次之，味惡為下。</p>
<p>第四稱試。有各種水欲辨優劣，以一器更酌而衡之，輕者為上。</p>
<p>第五紙帛試。用紙或絹帛之類色瑩白者，以水蘸而干之，無痕跡者為上。</p>
<p>又按人可以一日無穀，不可以一日無水，水之於人，顧不重歟？苟知掘井試水之法，則在在可飲甘泉，且藉以備旱災，救火患，一舉而數善存焉。雄性喜鑿井，奈無其力，惟冀同志者匡余未逮為幸。但井欄之口宜小，庶免墜溺之虞，尤為切要。設無水之地而不能鑿井者，更有水庫一法。泰西書云：若天府金城，居高深險，江河溪澗，境絕路殊，鑿井百尋，盈車載綆，時逢亢旱，涓滴如珠，或絕徼孤懸，恆須遠汲，長圍久困，人馬乏竭，如此之類，世多有之，臨渴為謀，豈有及哉？計惟恆儲雨雪之水，可以御窮，而人情狃近，未或先慮，及其已至，坐槁而已。亦有依山掘地，造作塘池，以為旱備，而彌月不雨，已成龜坼，徒傷　注之易窮，不悟滲漏之實多也。西方諸國因山為城者，其人積水有如積穀，穀防紅腐，水防漏渫，其為計慮，亦略同之。以故作為水庫，率令家有三年之蓄，雖有大旱，遇強敵，莫我難焉。且上方之水，比於地中，陳久之水，方於新汲，其蠲煩去疾，益人利物，往往勝之。彼山城之人，遇江河泉井之水，猶鄙不屑嘗矣。名曰水庫者，固之其下，使無受渫也，冪之其上，使無受損也。四行之性，土為至干，甚於火矣。水居地中，風過損焉，日過損焉，夏之日大旱，金石流，土山焦，而水獨存乎？故固之，故冪之。水庫之事有九：一曰具，具者庀其物也，二曰劑，劑所以為之和也，三曰鑿，鑿所以為之容也，四曰築，築所以為之地也，五曰塗，塗所以為之固也，六曰蓋，蓋所以為之冪也，七曰注，注所以為之積也；八曰挹，挹所以受其用也；九曰修，修所以為之彌縫其闕也。</p>
<h2>卷下</h2>
<p>藥字從草，故神農辨藥之書曰《本草經》，則本草宜以草部居先。草類甚多，孔子曰：蘭為王者之香，則蘭之於草，亦猶麒麟之於走獸，鳳凰之於飛鳥，後之修本草者，苟折衷於聖人，自當以蘭為冠矣。蘭以素心者為貴，舒思慮之郁結，蠲蘊伏之濁邪，稀痘催生，清神養液，稟天地至清之氣而生，故昔人有吹氣如蘭之喻。</p>
<p>曉嵐先生《筆記》云：苗峒地界值蘭開時，有食蘭蕊之蟲，形似蜈蚣而色青，取置杯中，洒以鹽末少許，覆之以蓋，須臾化為水，湛然淨綠，澈如琉璃，蘭氣撲鼻。用以代醯，香沁齒頰，半日後尚留余味。然蘭謝時即死，殊不易得，彼地亦甚珍也，惜不知其何名。愚謂此蟲可與脈望、鞠通相鼎立，洵稱仙品，宜其不易得也。夫蟲而食蘭，猶得仙致，施之於人，效自可知。乃有以省頭草當之者，抑何陋耶！（刊）潮州蔗田接壤，食蔗之蟲形如蠶蛹而小，味極甘美，性涼，解熱毒，助痘漿，可與蘭蟲並傳。</p>
<p>古之權量既小，而藥劑甚輕，每服數錢者居多；今世反是，故藥價漸貴，所以患病愈難矣，不但良醫罕出也。如人參一味，竟為富貴人常饌。夫人參亦草根耳，天之生此，原以療人之病，非以養人之生。因無病之人競相購服，而視為養生之物，無怪乎其價之日昂也。其價既昂，偽物日多，而病之果當用此者，遂不能用矣。豈非以有用之才，銷磨於無用之地，而需才之時，反無才用乎？其實古之人參微涼微苦，與近時西洋參性味略同，深明醫理者似可通融代用，不必刻舟求劍，而默贊參價之昂，擅破貧人之產也。如證屬大虛，西洋參嫌其力薄，不妨以黃　、甘草、枸杞子、龍眼肉之類隨宜匡佐，亦在善用者驅策得其道爾。</p>
<p>此外更有習俗相沿而不知其誤者，略論如上。</p>
<p>枸杞子味純甘，色大赤，其質潤，其性平。《聖濟》以一味治短氣。余謂其專補心血，非他藥所能及也，與元參、甘草同用，名坎離丹，可以交通心腎。</p>
<p>肉蓯蓉溫潤潛陽，陰虛陽浮者，滋清藥中皆可佐用。</p>
<p>石菖蒲舒心氣，暢心神，怡心情，益心志，妙藥也。而世俗有散心之說，不知創自何人。審是，則周文王嗜此，何以多男而壽考耶？故清解藥用之，賴以　痰穢之濁而衛宮城；滋養藥用之，藉以宣心思之結而通神明。</p>
<p>《本經》淫羊藿氣寒味辛無毒，主陰痿絕傷，莖中痛，利小便，益氣力，強志。後人因《別錄》羊食而淫之說，遂改為性熱助陽，誤矣。夫羊性喜淫，乃其天賦，不必食此藿也。即謂食之益淫，故以命名，然人非羊也，食之何必淫？吾鄉畜羊者，秋冬以桑葉飼之，故羊之益人，惟杭、嘉、湖者為最。然桑葉者，蠶食之而成絲之物也，若謂人食淫羊之藿而亦淫，則羊食成絲之桑而亦絲矣。蓋體臟既殊，不能以一例論也。如礬石之為物也，蠶食之肥，鼠食之死。可見藥有定性而體臟不同，則性亦隨之而變矣。余謂羊為火畜，藿稟水氣，羊果食藿而益淫，亦《內經》陰平陽秘之旨耳。惟葉氏云：淫羊藿氣寒，稟天冬令之水氣，入足少陰腎經，味辛無毒，得地潤澤之金味，入手太陰肺經。氣味降多於升，陰也。陰者，宗筋也。水不制火，火熱則筋失其剛性也而痿矣。淫羊藿入腎而氣寒，寒足以制火而痿自愈也。絕傷者，陰絕而精傷也。氣寒益水，味辛能潤，潤則陰精充也。莖，玉莖也。痛者，火鬱於中也。熱者清之以寒，郁者散之以辛，所以主莖中痛也。小便氣化乃出，辛寒之品，清肅肺氣，故利小便。肺主氣，腎統氣，寒益腎，辛潤肺，故益氣力也。氣力既益，內養剛大，所以強志，蓋腎藏志也。此解真得其要者，故錄之以釋諸家之惑。且腎主骨，陰虛骨痿者亦為要藥。經云，腎苦燥，急食辛以潤之，正指此也。</p>
<p>（刊）鄒氏《本經續疏》亦詳辨淫羊藿性不助陽，與《解要》合。體臟之殊，不但人物迥別，即人與人亦有大不同者。《居易錄》云：江南蕭某食香蕈則死，又有王生者飲茶則死，必二、三日始蘇，醫無能識其故者。雄嘗見黟人汪振聲食鱉則醉，仁和趙子循茂才飲蔗漿輒衄，定州楊素園大令啖海參必發熱，須以大黃瀉之而安，皆不可以恆理測也。食物且然，而況於藥平？用藥者可不知藥有定性、氣隨人異之說，而先辨別其臟性乎？沙參清肺，蓋肺屬金而畏火，清火保金，故曰補肺。肺主一身之氣，肺氣清則治節有權，諸臟皆資其灌溉，故曰補五臟之陰。肺氣肅則下行自順，氣化咸藉以承宣，故清肺藥皆通小水。喻氏謂有肺者有溺，無肺者無溺，可云勘破機關。</p>
<p>（注）六腑氣化，必稟司臟真。昔人治肺氣不化，膀胱為熱邪所滯，而小溲不通，少腹與睪丸脹痛者，一味沙參大劑煎服，覆杯而愈。是肺氣化而小溲通也。後人不曰沙參可通溲閉，乃謂沙參可治疝氣，誤矣。黃履素見一味蘆菔子通小便，詫以為奇。蓋不知蘆菔子亦下氣最速之物，服之即通者，病由氣閉也。故勘病必察其所以致病之由，則用藥自臻神化，而無執死藥以療活病之弊矣。</p>
<p>桔梗開肺氣之結，宣心氣之郁，上焦藥也。肺氣開則府氣通，故亦治腹痛下利，昔人謂其升中有降者是矣。然畢竟升藥，病屬上焦實證而下焦無病者，固可用也；若下焦陰虛而浮火易動者，即當慎之；其病雖見於上焦，而來源於下焦者，尤為禁劑。昔人舟楫之說，最易誤人。夫氣味輕清之藥，皆治上焦，載以舟楫，已覺多事，質重味濃之藥，皆治下焦，載以上行，更屬無謂。故不但下焦病不可用，即上焦病亦惟邪痹於肺、氣鬱於心，結在陽分者始可用之。如咽喉、痰嗽等證，惟風寒外閉者宜之，不但陰虛內傷為禁藥，即火毒上升之宜清降者，亦不可用也。</p>
<p>柴胡為正傷寒要藥，不可以概治溫熱諸感；為少陽瘧主藥，不可以概治他經諸瘧；為婦科妙藥，不可概治陰虛陽越之體，用者審之。</p>
<p>（刊）趙菊齋先生云：乾隆間先慈隨侍外祖於番禹署時，患證甚劇，得遇夷醫治愈。因囑曰：此肝陰不足之體，一生不可服柴胡也。後先慈年逾五旬，兩目失明，肝陰不足信然。繼患外感，醫投柴胡數分，下咽後即兩脅脹痛，巔頂之熱，如一輪烈日當空，亟以潤藥頻溉，得大解而始安。善乎《本經疏證》之言曰：柴胡為用，必陰氣不紓，致陽氣不達者，乃為恰對。若陰已虛者，陽方無依而欲越，更用升陽，是速其斃矣。故凡元氣下脫，虛火上炎，及陰虛發熱，不因血凝氣阻為寒熱者，近此正如砒鴆也。</p>
<p>白芨最黏，大能補肺，可為上損善後之藥。如火熱未清者，不可早用，以其性澀，恐留邪也。惟味太苦，宜用甘味為佐，甘則能戀膈，又宜噙化，使其徐徐潤入喉下，則功效更敏。其法以白芨生研細末，白蜜丸，龍眼大。臨臥噙口中。或同生甘草為細末，甘梨汁為丸亦可。</p>
<p>若痰多咳嗽久不愈者，加白前同研末，蜜丸噙化，真仙方也。</p>
<p>（刊）《癸巳類稿》謂吸亞片成KT　者，專傷於肺，用白芨末和梨汁為膏服可愈。近人載入《洗冤錄》，實不盡然。以肺主出氣、腎主納氣而論，亞片煙之呼吸似無不關於肺者，果系肺受灼爍而津液先損於上，此方卻宜。然吸煙久而成病者，皆先損於下，而為下虛上買之證，以火搏其液，而煙性升提，痰涎易壅於上也。抑王勛臣所謂呼吸由氣管而入氣府，並不由於肺乎？按《說文》：KT　，瘢也。《廣韻》：杖痕腫也。今人呼病久破為KT　瘡是也。不可附會於煙引。煙之稱曰「引」者，言其既吸之後，欲罷不能，必引之致死而後已，故謂之煙引。俗作「癮」者，以其音同也，然已失引之木義矣。豈可妄意穿鑿，謂吸亞片者必生瘡於肺哉！丹參降而行血，血熱而滯者宜之，故為調經產後要藥。設經早或無血經停，及血少不能養胎而胎不安，與產後血已暢行者，皆不可惑於功兼四物之說，並以其有參之名而濫用之。即使功同四物，則四物湯原治血分受病之藥，並非補血之方，石頑先生已辨之矣。至補心之說，亦非如枸杞、龍眼真能補心之虛者，以心藏神而主血，心火太動則神不安，丹參清血中之火，故能安神定志，神志安則心得其益矣。凡溫熱之邪傳入營分者則用之，亦此義也。若邪在氣分而誤用，則反引邪入營，不可不慎。</p>
<p>（注）行血宜全用，入心宜去梢用。</p>
<p>知母苦寒，清肺胃氣分之熱，熱去則津液不耗，而陰自潛滋暗長矣。然仲聖云：胃氣生熱，其陽則絕。蓋胃熱太盛，則陰不足以和陽，津液漸干，而成枯燥不能殺穀之病，其陽則絕者，即津液涸竭也。清其熱。俾陽不絕，則救津液之藥，雖謂之補陽也可。乃後人以為寒涼之品，非胃家所喜，諄諄戒勿輕用，輒從事於香燥溫補之藥者何哉？此議藥不議病之世界，所以致慨於喻氏也。</p>
<p>白微涼降清血熱，為女科要藥。溫熱證邪入血分者，亦宜用之。何今世不用於女科而視為升散藥，不問邪之在氣在血，往往亂投，誤人不淺。不學無術，此其最也。</p>
<p>芍藥之味，《本經》苦，《別錄》加以：「酸」字，酸苦涌泄為陰，是開泄之品耳。觀仲聖云：太陰病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以胃氣弱易動故也。故滯下為病，乃欲下而窒滯不通者，以此為主藥也。今人誤為酸斂，用以治虛瀉，殊欠考也。惟土受木乘而瀉者，用之頗宜。</p>
<p>（刊）鄒氏《疏證》云：芍藥開陰結，大黃開陽結。故腸中燥結則用承氣，腹中滿痛多用勺藥。若心下滿痛，病在上焦之陽結，則當用陷胸，而芍藥在所忌矣。</p>
<p>丹皮雖非熱藥，而氣香味辛。為血中氣藥，專於行血破瘀，故能墮胎消癖。所謂能止血者，瘀去則新血自安，非丹皮真能止血也。血虛而感風寒者，可用以發汗。若無瘀而血熱妄行，及血虛而無外感者，皆不可用。</p>
<p>惟入於養陰劑中，則陰藥藉以宣行而不滯，並可收其涼血之功。故陰虛人熱入血分而患赤痢者，最為妙品。然氣香而濁，極易作嘔，胃弱者服之即吐，諸家本草皆未言及，用者審之。</p>
<p>麥冬《本經》所主皆是胃病，《崇原》發明最詳。其功在心，不可去之。善用麥冬者，其惟香岩先生乎。</p>
<p>（刊）繆氏《經疏》知麥冬為胃經正藥，《寓意草》始言脾胃異治，葉氏大暢厥旨，謂胃為陽土，宜用甘涼，俾後人得所遵循，故洄溪、潤安皆深折服也。</p>
<p>益母草專走血分，婦人以血為用，故有益母之名，非謂不治男子之病也。凡濕熱之邪入於血分，或血熱血瘀為病，皆可治之，今人但入女科，固矣。</p>
<p>夏枯草微辛而甘，故散結之中，兼有和陽養陰之功。失血後不寐者，服之即寐，其性可見矣。陳久者其味尤甘，入藥為勝。</p>
<p>《本經》草蒿即今之青蒿，以莖紫者良。專解濕熱而氣芳香，故為濕溫、疫癘妙藥。又清肝膽血分之伏熱，故為女子淋帶、小兒癇痙疳　神劑。本草未言，特為發之。惟味甚苦，胃氣虛弱者須回護也。</p>
<p>旋覆花今人但用以降逆，而《本經》云補中下氣何也？蓋升降之權在於中氣，氣之不應升而升者謂之逆，反逆為順謂之下，其能反逆為順者，則賴中樞之旋轉，能使中樞旋轉，詎非補中之力乎？觀其色可知矣。余謂旋者，轉旋中氣之能，復者，氣下為順之象：命名之義以此。</p>
<p>（刊）近閱鄒氏《疏證》引《群芳譜》，言旋覆花梢頭露滴入土中，即生新根，可見其生機之旋相升降矣。</p>
<p>表之曰補中下氣，乃聖人體物入微處。薛一瓢案中亦云旋覆有斡旋中氣之能，與吾曾王父之論合。世人謂其瀉氣，不敢施於虛體，豈不悖哉！何首烏內調氣血，外散瘡癰，功近當歸，亦是血中氣藥。第當歸香竄，主血分風寒之病，首烏不香，主血分風熱之疾為異耳。故同為婦科、瘡科要藥，並治虛瘧，並滑大腸。無甚滋補之力，昔人謂可代熟地，實未然也。　庵先生謂熟地、首烏皆是君藥，方中不可同用，尤屬笑談。夫藥之孰為君、孰為臣，當隨證制方而後定其任，見是證，用是藥，即為君藥。明乎此，則本草所載，孰不可以為君？書曰：任官惟賢材，是治世之賢，不以資格門第論也。草木金石諸品，皆謂之藥材，是治病之藥，不以貴賤純駁論也。良醫良相同功，亦惟識其材而任之當耳。所謂醫道通於治道也。</p>
<p>栝蔞根一名天花粉，性涼味甘，故能生津止渴而化燥痰。仲聖明言渴者去半夏加栝蔞根。是半夏化濕痰、花粉化燥痰之的據也。後人順口讀過，不悟其意，而以貝母與半夏為對待，殊不切貼。</p>
<p>栝蔞實一名天瓜，故其根名天瓜粉，後世訛「瓜」為「花」，然相傳已久，不可改矣。栝蔞實潤燥開結，蕩熱滌痰，夫人知之，而不知其舒肝鬱、潤肝燥、平肝逆、緩肝急之功有獨擅也。玉橫先生言之最詳。今藥肆中名此為栝蔞，以土瓜根子為栝蔞，用者不可不審。土瓜一名王瓜，即《月令》孟夏王瓜生是也，非蔬圃之黃瓜。蔬圃黃瓜一名胡瓜，《隨園食單》作「王瓜」者，誤也。</p>
<p>金銀花李士材已表其治痢治脹之功，而不知尚有清絡中風火濕熱、解溫疫穢惡濁邪、息肝膽浮越風陽、治痙厥癲癇諸證也。</p>
<p>木通味苦，故瀉心火由小腸出。諸本草皆云甘淡，或言微辛，豈諸公不但未經口嘗，且芻蕘亦未詢乎？葛根風藥也，風藥皆燥。古人言其生津止渴者，「生」乃「升」字之訛也。以風藥性主上行，能升舉下陷之清陽，清陽上升，則陰氣隨之而起，津騰液達，渴自止矣。設非清陽下陷而火炎津耗之渴，誤服此藥，則火藉風威，燎原莫遏。即非陰虛火炎之證，凡胃津不足而渴者，亦當忌之。</p>
<p>（刊）林北海重刻張司農《治暑全書》序云：柴胡劫肝陰，葛根竭胃汁，二語可謂開千古之群蒙也。葉氏</p>
<p>《幼科要略》曾引及之，而洄溪評為杜撰。雄謂言而中理，雖杜撰何妨。固哉！徐子之評書也。</p>
<p>茜草根曉嵐先生云能解巴蠟蟲毒，以此推之，似可治蛇蠍毒蟲諸螫。</p>
<p>澤瀉有聰耳明目之功，人皆疑之。《理虛元鑒》謂究其命名之義，蓋澤者澤其不足之水，瀉者瀉其有餘之火，不若豬苓、木通之直走無余，不可視為消陰損腎之品也。</p>
<p>（刊）《理虛元鑒》論證最精，論藥次之，立方則不佳。</p>
<p>黃柏之功，昔人已詳之矣。或竟視為毒藥，痛戒勿用，毋乃議藥不議病之陋習耶？經言腎欲堅，急食苦以堅之。凡下部不堅之病多矣，如莖痿、遺濁、帶漏、痿　、便血、瀉痢諸證，今人不察病情，但從虛寒治之，而不知大半屬於虛熱也。蓋下焦多濕，始因陰虛火盛而濕漸化熱，繼則濕熱阻夫氣化，反耗精液，遂成不堅之病。皆黃柏之專司也。去其蝕陰之病，正是保全生氣，誰謂苦寒無益於生氣哉！蓋黃柏治下焦濕熱諸證，正與蛇床子治下焦寒濕諸證為對待。</p>
<p>槐實味苦色黃，清肝膽而涼血。清肝涼血之品類可安胎，獨槐實既不能安胎而反墮胎者何也？則《本經》主子藏急痛一言已括其義矣。子藏即胎宮，屬任脈，為受精之所。</p>
<p>急痛者，因交合不節所致。槐實專通任脈，直達子宮，能滌射入之精，而瀉淫欲之火，故孕婦用之，其胎即墮。</p>
<p>推之霉瘡便毒，利西泰謂發於外腎橫骨上，亦穢毒入於任脈之病。《景岳全書》有一味槐蕊之方，不知傳自何人，余服其妙。</p>
<p>竹類甚多，其名不一，但驗其節起雙線者，皆可入藥。以壯嫩者為良。若節間單線者，名毛竹。所謂「刮腸蓖」者，即毛竹之筍也。其籜有毛，故名毛竹，勿入藥用。凡種竹向西北，其根無不向東南行者，盧氏謂其稟木火之氣信矣。然既傲雪凌霜，亦能忘炎敵暑，四時不改其操，性極平和，號為君子。且植物之本，無不由小而漸大，惟竹出土之後，雖干青云而直上，能不改其本體之恆，故「節」字從竹，表其無毫發之放溢也。其皮最韌而緊，名之曰筠，塞舟不漏。以鮮者入藥曰茹，清五志之火，祛穢濁之邪，調氣養營，可塞血竇，胎前產後，無所不宜。葉則內息肝膽之風，外清溫暑之熱，故有安神止痙之功。瀝則其液也，故能補血養經絡，達四肢而起廢疾。凡病患久不理發，結而難梳者，用竹瀝少加麻油和勻潤之，即可梳通。故一切憂思郁結之病，無不治之。世人但用以開痰結，陋矣。</p>
<p>黑棗肉腴味濃，紅棗色赤氣香，均以大而堅者為良。入藥各有所宜，隨證分別而用可也。南棗香味皆遜於北棗，徒以形貌取悅於人者。宜供食品，入藥力薄。《備要》之言，不可從也。</p>
<p>梨亦以北產者良，南產以義烏之插花梨為最。徽州雪梨皮色甚佳而味帶酸，不可入藥。蓋梨不論形色，總以心小肉細，嚼之無渣而味純甘者為佳。凡丹石、煙火、煤火、酒毒，一切熱藥為患者，啖之立解；溫熱燥病及陰虛火熾津液燔涸者，搗汁飲之立效。此果中之甘露子，藥中之聖醍醐也。瀕湖發明，詳著其功矣。</p>
<p>（校）甘露子，蕉實也。生津解渴，潤燥除煩，更勝於梨。乃果中之仙品，惜不易結耳。</p>
<p>鮮柿以熟透不生核者良。味甘性寒，養肺胃之陰。宜於火燥津枯之體，脾氣虛寒者啖之即瀉。干柿以北產無核者良。本草已載其功，而滋補脾胃，最宜於小兒。凡小兒忌食香燥干硬等物，以疳者干也，又疳字從甘，弗食甘酸果品雜物。惟柿樹不生蠹，故小兒初進穀食，宜用干柿飯上蒸熟，嚼飯喂之，自無疳蟲脹瀉諸病。此古人所未言也。</p>
<p>木瓜一味為末，治霉瘡結毒，惟《解要》載此方。</p>
<p>枇杷葉毛多質勁，味苦氣涼，隆冬不調，盛夏不萎，稟激濁揚清之性，抱忘炎耐冷之姿。靜而能宣，凡風溫、溫熱、暑燥諸邪在肺者，皆可用以保柔金而肅治節；香而不燥，凡濕溫、疫癘、穢毒之邪在胃者，皆可用以澄濁氣而廓中州。本草但云其下氣治嗽　，則偉績未彰，故發明之。</p>
<p>（刊）香岩先生嘗云：天氣鬱勃泛潮，宜以枇杷葉拭去毛，淨鍋炒香，泡湯常飲。清香不燥，能辟穢濁，可免夏秋時令之病。與此暗合。</p>
<p>龍眼肉味純甘而溫，大補血液，蒸透者良。然濕盛者能生痰，脾弱者滑大便，不可不知也。其核研敷金瘡磕跌諸傷，立即止血止痛，愈後無瘢，名驪珠散，真妙藥也。其殼研細治湯火傷亦佳，若焚之可辟蛇。皆有用之物。凡啖龍眼者，何可輕棄耶？藕以仁和產者為良。熬濃汁服，既能補血，亦能通氣，故無膩滯之偏。蓮子交心腎，不可去心，然能滯氣。單用心，則大降心火。荷葉燒飯，大升脾氣，以荷葉屬震，震為木，土得木而達也。燒飯者，以荷葉同米煮為飯也。杭州呼煮飯曰「燒飯」是矣。謬者解為荷葉包飯於火中燒之，不通甚矣。</p>
<p>蒲桃以北產者良，吐爾番出者，純甘無核尤勝。大補肝脾之血，與枸杞子同功。胎上衝心，單用蒲桃一兩煎服，立愈。</p>
<p>甘蔗以青皮者良，名竹蔗。台州所產，長大如竹。甘涼清熱充津。俞文起先生云：一名接腸草，昔有腸斷者，頻飲此汁而愈。</p>
<p>蘆菔能制面毒，故一名來服，言來　之所服也。俗作萊菔、蘿卜，失其旨矣，種類甚多，厥功甚大。生用能解風火、溫燥、濕熱之邪，故煙毒、煤毒、酒毒、火毒，失音、痰閉、中風、咽喉諸病，無不立奏神效；熟用補脾肺，和腸胃，耐風寒，肥健人，可以代糧救荒，誠蔬圃中之一路福星也。本草既沒其豐功，更誣以耗滲，豈不冤哉！然薄海蕃滋，鄉人廣種，以充糧食，終身啖之而康強壽考，且有垂老而發不白者。此人所共睹之事，何以修本草者獨貿貿也。</p>
<p>（校）本草言茄子最不益人，女人食之傷子宮，而內君獨嗜之，雖有娠亦不忌，然生育頗易。可見穀肉果菜，皆是養人之物，不必講求服食饕餮肥甘也。</p>
<p>冬瓜以杭州搭棚而種，使其懸生棚內，既遮日晒，又不著地。味純甘而不帶酸者良。涼而潤肺，甘能養胃，極清暑濕，止煩渴，利二便，消脹滿，治暑濕霍亂瀉痢有殊功。子潤肺化濁痰。皮解風熱，消浮腫。蔬圃中妙品也。</p>
<p>食茱萸即古人重九登高所佩者，種類不一；俗名辣椒、辣茄、辣虎，稱謂亦不一也。味極辛，性大熱。少食能疏風秘，故世人誤以為性涼，而陰受其禍者多矣。凡陰虛血熱之人，切不可食。</p>
<p>糯米可釀酒，甘酒之人日多，釀酒之家日眾，種糯之田日廣，則種粳之田日奪，而米價日增矣。民無蓋藏，豈非大病？醫國之工，可不為之計乎！（刊）米價日貴，固病國病民之大故也。今則銀價日昂，漏卮莫塞，其病益劇矣。醫國之工，尤當早為之計也。</p>
<p>粳米為養人之至寶，而荒歉時有，不可不豫籌積儲之法也。最簡易者，但將飯干晒透，永遠不壞。飢者嚼一撮，得米氣便可不死。每年各家留飯一斗，晒透入瓮，存放干燥處，甚不費力，貧富皆可為之。若得家家如此，遠勝積穀備荒多矣。</p>
<p>（注）以糯米一斗淘淨，百蒸百晒，搗細入瓮，存干燥處亦不壞。日服三勺，渴則飲之，斗米可度一月。</p>
<p>家有老人不能嚼飯干者，不可不知此法。故補錄之。</p>
<p>蠶豆實於蠶時故名，一名佛豆，佛誕可荐新也。補中益氣。小兒禁食，恐難化也。龍喜取之，故開花遇雷電，則不結實。海船內有蠶豆一粒，即不能出洋，龍欲取之也。航海者不可不知。</p>
<p>石膏余師愚以為治疫主藥，而吳又可專用大黃，謂石膏不可用，何也？蓋師愚所論者，暑熱為病，暑為天氣，即仲聖所謂清邪中上之疫也，又可所論者，濕溫為病，濕為地氣，即仲聖所云濁邪中下之疫也。清邪乃無形之燥火，故宜清而不宜下，濁邪乃有形之濕穢，故宜下而不宜清。二公皆卓識，可為治疫兩大法門。故學醫不比學詩文之可專尚一家，如詩法三唐、文宗兩漢，已可橫絕一時，醫必博覽諸書而知所取舍，不為古人所欺，庶能隨證用藥而不誤世也。</p>
<p>（校）林觀子先生云：陶節庵之於傷寒，其所窺者止大綱粗跡，而非窮神極變之精微，故王金壇謂其聾瞽後學，為仲聖之罪人，非過論也。奈今之治傷寒者，率守陶氏一家之書，以為軌則，可不嘆哉！又王予中太史</p>
<p>《白田集》，論陶氏以傷寒與溫暑諸證解表不同，而治裡則同為大不然，且謂承氣、白虎豈可以治溫暑。噫！太史雖深究理學，實未知醫學，何必發此議論以誤後人耶！深恐世之讀其書者，信其學問而並信其醫，故附及之。</p>
<p>（刊）蕭山郁龍士《瑤史》載楊天安云：杭州李車兒後裔仁山先生，真痘科大作手。一火痘悶證，用石膏斤半熬湯，煎黃連五錢為劑，發猶未透，為加金汁一盞始愈。以金汁乃濁陰，可治亢陽也。雄按：此深得費氏之法者，痘證挾疫，豈不信然。</p>
<p>鹽味最咸，《泰西水法》云：辛甘酸苦皆寄草木，獨咸寄於海水，而海水不冰者，海水咸也。故曰咸者，生於火也。火燃薪木既已成灰，用水淋灌即成灰鹵，燥干之極，遇水即咸，此其驗也。愚謂惟其屬火，故生物遇之即死，蓋體潤而用燥之物也。古人但云咸能軟堅，咸能潤燥，而不知咸能堅軟，咸能燥濕。試觀一切易腐之物，得鹽腌之，即堅干而可經久。凡鹽倉工作之人，從無患香港腳者，以其日踐踏於鹽地，故濕氣不能病也。然燥物遇咸則潤，故鹽能爛鐵，是軟堅也，濕物遇咸則燥，故鹽能干液而堅軟也。味過咸即渴者，干液之征也。既能干液，則鹽味屬火無疑。燥濕堅軟，固其宜矣。但味雖屬火而性下行，虛火上炎者，飲淡鹽湯即降，故為引火歸元之妙品。吐衄不止者，鹽鹵浸足立愈。</p>
<p>豕腦多食能痿陽，何也？蓋坎為豕，在地支則屬亥，水畜也，水性最弱，而腦者其一身之主腦也，故能柔物，可以熟皮，久食之不僅陽痿，云有患軟癱者。惟為木畜，故肉最多而無筋，腎極盛而多子，性喜卑濕，穢食偏肥，能化穢食為肥脂者，非其脾運之獨健，乃其胰獨大於他獸也，胰主消化食物，大而濃力，故能變朽腐為神奇。觀染家用以洗絹帛，則黑者可白，人用以為面脂，則黎者可澤。若蒸熟食之，可以助消化，滌濁痰。</p>
<p>故婦人子宮脂滿不受孕，及交合不節而子宮不淨，此能走任脈，清子官，且血肉之品無克伐之慮，最為妙藥。</p>
<p>若孕婦食之，則蠲胎垢，其兒出痘必稀。</p>
<p>牛乳滋潤補液，宜於血少無痰之證。惟性溫而膩，若有痰火者，反能助痰滯膈而增病也。用者察之。人乳亦然。諸滋膩藥無不然也。</p>
<p>驢皮煎膠而用阿井水者，取濟水之伏流也。其不名驢皮膠而名阿膠，乃功歸至靜之水，以制浮動之火，故能愈血證。夫水尚欲其伏流，顧可以火炒而用乎？以此推之，則驢皮膠不必定以阿水煎也，伏流之泉無不可用。滋陰清熱之藥，皆不可以火炒也。一經火炒，則涼者溫而靜者動，清潤失而燥烈存，所謂火能革物之性也。</p>
<p>或大苦大寒大毒之品，恐其太過，則或炒或炮，古人制法亦詳，最可笑者，如竹茹之類，用者不過取其清氣，而後人必炒而用之，不知是何肺腸？不但此也，凡清解之劑，煎須急火，則藥氣尚在，設緩煎濃煮，即全失清涼之味矣，況炒焦其藥哉！鹿茸性熱升陽，陰虛而陽易浮越者不可擅用，目擊誤用而血脫於上以殞者多人矣。</p>
<p>鼠矢不但治女勞復也，可以散乳癰，通淋濁，已疳脹，消疝瘕。</p>
<p>海　本水結成，煮之可化為水。夫身中之痰，亦由火搏其水而成者，故為化痰之主藥。且泄鬱火，宣滯氣，能消食積，通二便，止腹痛，除脹滿。惜無知之者，故表之。</p>
<p>鱉一名神守，故鱉甲乃安神妙藥。</p>
<p>珍珠補陰明目，鎮逆安神，皆取蚌性純陰，感月而胎之效也。今肆中所售皆粵產蛇珠，但可以治風痰，通經絡，理癇痙，與蚌珠動靜懸珠，不可以之治心病也，用者辨之。</p>
<p>童子小便最是滋陰降火妙品，故為血證要藥。必用童子者，取其知識未開而無妄動之火也。尤須澹泊滋味，不食葷膻，去其頭尾，但以中間一段清澈如水者，始有功效。若煉成秋石，昔人尚謂其中寓暖氣，在所不取，何後人妄造回輪酒之名，令病患自飲己溺，愚者誤信，良可憫也。夫人既病矣，溺即病溺，以病溺猶堪治病，則無病之溺皆可為藥，何必取童子，戒葷腥，去頭尾，欲清澈，而故難其事哉？蓋人雖無病，其飲食之精華皆已化為氣液，其糟粕則下出而為便溺，清升濁降，誰不知之。所謂病患者，非有六淫之感，即為五志之傷。</p>
<p>病之去路即在二便，以二便為濁陰之出路也。可見病患之便，濁陰中更有病氣雜焉。再使病患飲之，是以既出之病氣，更助以濁陰之穢氣，仍令入腹，殆不欲其病之去乎？名曰回輪酒，必至病亦回輪不已，待其人入回輪而後已，不亦　哉！況病患之溺，臭穢必甚於平人，極能敗胃，若溺色清澈者，則其病非寒即虛，治宜溫養，更不可令飲己溺矣。何世人竟不悟也！周亮工先生云：親串有從余游都門者，其人謹愿，生平絕跡北裡，突生霉瘡，不解所自。余忽悟其故。解之曰：君因質弱，常服紫河車。京師四方雜集，患霉瘡者甚夥，所服之中，安知無霉瘡衣胞？此瘡能延及子孫，氣之所沖尚能中人，生子多無皮膚，其胞尤為毒瓦斯所歸，君之患必由於此。眾人皆以為然。夫忍於食人之胞以自裨，蓋仁者尚不為，況未必有功而適以滋害如此，可不戒哉！</p>
<p>《洗冤錄》云：有人昵一婢而脫者，斂時啟所蓋被，異香四發，或以為登仙，實因服房藥多麝臍通透之品故耳。又云：人於身死之後，其面或青或紫，手足指甲或為青黯或為紫黑，口鼻或為血出，或為遍身青紫，更或有肉為膚裂、為脫落者，豈盡服乎砒、鴆而致之。蓋世間無一非生人之具，則無一非殺人之符。偶一相犯，即凝為毒，非特砒、鴆為然，而參、附為尤甚。人第沉溺於補之一字，盡為迷惑，莫之或悟，反云服以參、附，亦不奏功，竟以委之天數，抑何愚之至，而天數之冤，何日而得洗哉！每見人日服參、附而恣行殘賊，不可以對屋漏，以致孽業糾纏，口鼻流血，膚為寸裂而死者，殊不少也。愚謂趙養葵、張景岳輩，惜其未讀此書耳。</p>
<p>（注）世之信邪說而餌房藥，喜溫補而服參、附，　紳先生多犯之。醫書垂戒，輒藉口扶陽抑陰之說，以詆其非。若《洗冤錄》乃部頒驗用之書，醫家或有來讀，官場不能不讀，既讀其書，尚不知悟，往往蹈此覆轍，殆所謂孽業糾纏，故不能自主者乎？（校）《洗冤錄》又云：夏月汗透衣，切不可於烈日中晒。若將干而豪雨欲來，急為收納，則烈日之毒即銅於內。如遇酷暑汗出時偶一衣之，則暑以引暑，其毒立中，證候全類傷寒，若誤作傷寒治，必至發狂諺語，再誤投參、　、附、桂，陽以益陽，未有不至口鼻流血不已者。此亦醫家所當知也，故附錄之。</p>
<p>紀曉嵐先生云：神仙服餌見於雜書者不一，或亦偶遇其人，然不得其法則反能為害。戴遂堂言：嘗見一人服松脂十余年，肌膚充悅，精神強固，自以為得力。久而覺腹中小不適，又久而病燥結，潤以麻仁之類不應，攻以硝、黃之類，所遺者細僅一線，乃悟松脂黏附於腸中，積漸凝結，愈濃則其竅愈窄，故束而至是也。無藥可醫，竟困頓至死．又見一服硫黃者，膚裂如磔，置冰上痛稍減。古詩云：服藥求神仙，多為藥所誤，豈不信哉！（刊）隱居岩穀者，深山無日，霧露時侵，溪澗水寒，人煙闃寂，其服松脂、蒼朮之類，不過藉以祛寒濕之邪耳。若富貴人尤而效之，是不揣其本而齊其末矣。</p>
<p>又云：世俗遇食物凝滯之病，即以其物燒灰存性，調水服之。余初斥其妄，然亦往往驗。審思其故，此皆油膩凝滯者也。蓋油膩先凝，食物稍多，則遇之必滯。凡藥物入胃，必湊其同氣，故其物之灰，能自到某物凝滯處。凡油膩得灰即解散，故灰到其處，滯者自行，猶之以灰浣垢耳。若脾弱之凝滯，胃滿之凝滯，氣鬱、血瘀、痰結之凝滯，均非灰所能除矣。接此理人所未悟，先生見理甚明，故有此妙解。</p>
<p>徐悔堂嘗云：本草言何首烏之最大者，服之須發可轉白為黑。余在廣西，見鎮安府所產何首烏，大者每重百余斤，彼處人食之與薯芋等，初不聞變皓首為黑頭也。又全州西延六洞諸山中，土人皆以種百合為業，大者每枚重五、六十斤，最小者亦六、七斤，其形與吾鄉白花百合等，惟龐然特異耳。土人澄為粉，每斤售銀五、六分，物多價賤，皆不以奇物視之也。按觀此益見神仙服食之說為虛誕不足信。又云：蚺蛇出兩廣，而西省為更多。其形頭方口闊，目光如鏡，皮色黑白斑然，尾甚細，其末可貫數百錢。土人言蛇大如人臂，行即風生，常豎身三、四尺而逐人。性最淫，婦女山行者，皆佩觀音藤一條，否則必為其所纏，以尾入陰死。觀音藤遍身皆倒刺，似吾鄉之虎杖而較柔。人見山有此藤，即知近處有蚺蛇矣。其穴兩頭皆通，此入則彼出，彼入則此出。捕者探知穴之所在，群集多人，各斷藤尺許，攜之以往。伺其入穴，以婦女污KT　袒衣置諸前穴之口，而燔柴草於後穴，以叉入之，煙滿穴中，蛇不能耐，遂直竄前穴而出，聞衣KT　穢氣，即盤旋纏繞之，至於破碎而不已，人伺其力懈，群以所　藤遍擲其身，遂垂首貼地不敢動矣。復用藤作圈套其頸，弄之若鰻鱔然。盛諸竹筐，舁之以歸。宰蚺之法，出置於地，先取其膽。膽有二：在肝者曰坐膽，不適於用，在皮曰行膽，以杖頻擊其一處，則此處漸高如雞卵，剖之而膽出焉，蓋護疼也。炭火　干，瓷瓶錮之。用作傷科之藥，價比兼金。然後直舒其身，以毛竹巨釘釘之於地，剖腹剝皮畢，逐段斷之。其頸上藤圈，至斷之為段方可棄去，否則雖已剖腹剝皮，尚能奮躍而起。物之相制，此為最甚矣。其肉能祛風疾，愈瘡瘍，功效如神，以燒酒浸之，可以歷久。其皮蛇大則紋細，樂器中用以鞔三弦之鼓，必硝熟而後可用，生則易蛀易裂也。其骨有名如意鉤者，形僅如錢，惟雄者有之，為房術中上藥，口銜之可通宵不倦。其腹中之油，力能縮陽，人不可近，稍近之則玉莖睪丸俱入腹中，無藥可治。土人云蛇生幾年，則陽縮幾年，屆期自能出也。余在梧州時，見太守永公宰一條，大如屋柱，長二丈余，肉味鮮美，殆勝於雞。</p>
<p>按此可補諸家本草之未詳，故錄之。</p>
<p>曉嵐先生又云：雄雞卵能明目，理不可解。愚謂此等不易得之物，可置弗論。惟賽空青尚易造，且亦近理。</p>
<p>其法於冬至日取大蘆菔一枚，開蓋挖空，入新生紫殼雞卵一個在內，蓋仍嵌好，埋淨土中約四、五尺深，到夏至日取出，用女人衣具包裹，藏瓷器中，否則恐遇雷電，被龍攝去也，謹之！卵內黃白俱成清水，用點諸目疾，雖瞽者可以復明，乃神方也。惜余未試，錄此以待將來。</p>
<p>（刊）不易得之藥，出重價而購得之，亦恐不真，如狗寶、空青之類，辨別甚難，慎疾者不可試也。俞花云：一村人自言病噎瀕危，一日其子早起，見草際一蟾蜍方蛻，素聞人言蟾蛻可治噎膈，急往取之，僅得其半。持以進父，服之良愈。是亦一奇方也。惜蟾蜍不常蛻，即蛻亦隨自食之，人不易得耳。如此類之不易得者，可遇而不可求之謂也，一旦遇之，人人共識，苟或需此而竟得之，雖償以重價可焉。</p>
<p>本草自李氏《綱目》集其大成，世皆宗之。後有劉氏之《本草述》，倪氏之《本草匯言》，盧氏之《半偈》，隱庵之《崇原》，石頑之《逢源》，香岩之《解要》，皆各抒心得，多所發明，學人所當互參也。而趙恕軒先生《綱目拾遺》，搜羅繁富，辨正多條，尤為李氏功臣，惜書無刊本，世罕知之。茲錄其切於常用者如下。</p>
<p>《本經》鹵鹼即石鹼也，當以《逢源》為是。李氏遺鹵鹼而補列石鹼，誤矣。</p>
<p>朴硝、硝石，《本經》錯簡，李氏不察，諸家踵誤，亦以《逢源》辨正為是。</p>
<p>砂有二種：一種鹽　，出西戎，狀如鹽塊，得濕即化為水或滲失；一種番　，出西藏，有五色，以大紅者為上，質如石，並無鹵氣。李氏所引皆鹽　也，真藏　能化血肉為水，雖　煉亦不可服。</p>
<p>（注）本草謂能化人心為水者，正指藏　為言也。中其毒者，生綠豆研汁恣飲之。</p>
<p>山慈姑處州人以白花者良，形狀絕似石蒜。李氏於山慈姑集解下注云：冬月生葉，二月枯即抽莖，開花有紅、黃、白三色。於石蒜集解下注：春初生葉，七月苗枯抽莖，開花紅色，又一種四、五月抽莖，開花黃、白色。余昔館平湖仙塘寺，沈道人從遂昌帶有慈姑花一盆來，親見之，其花白色，儼如石蒜花。據土人言，無紅、黃花者。其花開於三月，而《逢源》慈姑下注云：開花於九月，則誤以石蒜為慈姑矣。李氏於慈姑條下附方引孫天仁《集效方》用紅燈籠草，此乃紅姑娘草，專治咽喉口齒，即《綱目》所載酸漿草是也。乃不列彼而列此，豈以慈姑又名鬼燈檠而誤之耶？夫慈姑雖解毒，不入咽喉口齒，何得誤入？又引《奇效方》吐風痰用金燈花根，不知石蒜亦名金燈花，慈姑根食之不吐，石蒜根食之令人吐，則《奇效方》所用乃石蒜，非慈姑也。李氏且兩誤矣。</p>
<p>（注）今人以慈姑入咽喉方中，皆承李氏引《集效方》之誤也。然恕軒先生目擊其花，故知其誤而辨之。</p>
<p>其未見者，惡從而辨之？辨藥之難，於此可見。苟非人所共識共知之藥，可擅用哉！草以蘭名者有數種，今人呼為奶孩兒者，澤蘭也。方莖紫花，枝根皆香。人家多植之，婦女暑月以插發。</p>
<p>入藥走血分。省頭草則葉細碎如瓦松，開黃花，氣微香。生江塘沙岸旁，土人采之，入市貨賣，婦人亦市以插發，云可除　垢，未見有入藥用者。又有香草，葉如薄荷而小，香氣與薄荷迥別，五、六月間人家采以煎黃魚，云可殺腥代蔥，此即所謂羅勒是也，未聞有入藥者。又有孩兒菊，葉如馬蘭而長，近皆以此作澤蘭用，云可入藥治血。此四種皆香草，惟奶孩兒香尤峻烈。李氏於蘭草釋名下概以省頭草、孩兒菊混列一類，至集解所詳形狀，則又以孩兒菊為澤蘭，附方中則又認省頭草為蘭草，皆誤也。又謂羅勒即蘭香，而《逢源》云羅勒與蘭香迥別，當以張說為可信。</p>
<p>茵陳乃蒿屬，昔人多種以為蔬。《本經》所載主風濕寒熱，熱結黃膽，濕伏陽明所生之病，皆指綿茵陳而言，其葉細於青蒿者是也。干之色作淡青白色，今人呼為羊毛茵陳者是也。其性專利水，故為黃膽濕熱要藥。</p>
<p>一種生子如鈴者，名山茵陳，即角蒿，其味辛苦有小毒，專於殺蟲，治口齒瘡尤妙，今人呼為鈴兒茵陳。藥肆中俱有之，此不可以不辨而概誤用之也。《綱目》以茵陳、角蒿分別，故是卓識，而未能指出俗以角蒿為茵陳，且將山茵陳治眼熱赤腫方引入茵陳條下，至角蒿下亦無一語言其苗葉形狀者，或尚未知此即山茵陳耶？</p>
<p>《逢源》云：南瓜至賤之品，《綱目》既云多食發香港腳黃膽，不可同羊肉食，令人氣壅，其性滯氣助濕可知，何又云補中益氣耶？前後不相應如此。吳遵程云：南瓜本益氣，惟不可與羊肉同食，則令壅滯。此吳氏為兩袒之說。不知南瓜本補氣，即與羊肉同食，脾健者何礙？惟不宜於脾虛之人。如今人服參、　，亦有虛不受補者。大凡味之能補人者獨甘，色之能補人者多黃。南瓜色黃味甘，得中央土氣最濃，故能溫補脾氣，不得以賤而忽之。昔在閩中，聞有素火腿者。云食之補土生金，滋津益血。初以為即處州之筍片耳，何補之有？蓋吾浙處片亦名素火腿者，言其味之美也。及索閱之，乃大南瓜一枚。蒸食之，切開成片，儼與蘭熏無異，而味尤鮮美。疑其壅氣，不敢多食，然食後反覺易餒，少頃又盡啖之，其開胃健脾如此。因急叩其法，乃於九、十月間收絕大南瓜，須極老經霜者，摘下就蒂開一竅，去瓢及子，以極好醬油灌入令滿，將原蒂蓋上封好，以草繩懸避雨戶檐下，次年四、五月取出蒸食。名素火腿者，言其功相埒也。</p>
<p>（刊）南瓜種類不一，性味亦殊，《綱目》之說是也。早實者其形扁圓，與黃瓜同時，杭人呼為霉瓜。嫩時充饌頗鮮，亦堪果腹，而性助濕熱。雄嘗與羊肉同食者兩次，皆患瘧，嗣後不敢下箸。晚實而形長者良，杭人呼為枕頭瓜，老而黃者耐久藏。味甚甘，蒸食極類番薯，亦可和粉作餅餌。功能補中益氣。飢歲可以代糧，先慈勸人廣種以救荒。種愈佳者子愈稀，近蒂處半身皆實，不能開竅取瓤，近臍處始有子，若此種者，宜就臍開取矣。槍子入肉，南瓜瓤敷之即出。陳東竹磋尹云：火藥傷人，生南瓜搗敷立愈。</p>
<p>大腹子乃大腹檳榔，與檳榔形似而性稍異。《綱目》謂其功用無殊，故藥肆中多以大腹子代檳榔，率由李氏之言而誤也。《逢源》辨之是矣。</p>
<p>鳳仙花一名透骨草，以其性利能軟堅也。《綱目》有名未用收透骨草，引《集效》、《經驗》諸方，載其主治而遺其形狀，蓋不知其為鳳仙花別名也。又鴨腳青乃藍澱中一種，李氏引《普濟方》又失考核，何其未博詢耶？</p>
<p>《綱目》蔓草內載含水藤，引《交州記》云：狀若葛，葉似枸杞，多在路旁，行人乏水處，便嚼此藤，故名。菜部又載東風菜。按《廣志》：廣州有涼口藤，狀若葛，葉如枸杞，去地丈余，絕之更生，中含清水，渴者斷取飲之甚美，沐發令長。此藤又名東風菜，先春而生，東風乃至，農夫以驗土膏之動。一名綠耳，可為蔬。</p>
<p>據此形狀，解渴與含水藤同，其可為蔬名東風，又與東風菜同，則是一物也。李氏誤以為二：一收入蔓，一收入菜，未免考核失當，良由為《廣州記》所誤耳。</p>
<p>《綱目》以海月為江瑤柱，復附海鏡，不知海月即海鏡，而江瑤非海月也。此乃承《嶺表錄》之誤。按《海物疏》云：海月形圓如月，亦謂之蠣鏡。土人磨其殼以為明瓦者是也。嶺南謂之海鏡，又呼為膏藥盤。江瑤殼色如淡菜，上銳下平，大者長尺許，肉白而韌，柱圓而脆，與海月絕不相類，何可牽為一物耶？李氏以海鏡附在海月條下，注引郭璞《江賦》：　腹蟹。以為即此物，則又大誤。不知　又非海鏡也。</p>
<p>《海南志》：　狀似珠蚌，殼青黑色，長寸許，大者二、三寸，生白沙中，不污泥淖，乃物之最潔者也。有兩肉柱，能長短，又有數白蟹子在腹中，狀如榆莢，合體共生，常從其口出，為之取食。然　清潔不食，但寄其腹於蟹，蟹為　而食，食在蟹而飽在　，故一名共命嬴，又曰月蛄。每冬大雪，則肥瑩如玉，日映如雲母，味甘柔，蓋海錯之至珍者。又有海鏡，一殼相合甚圓，肉亦瑩潔，有紅蟹子居其腹為取食，一名石鏡，其腹小蟹曰蚌孥。據此明是二物，在　腹者則白蟹子，在海鏡腹者則紅蟹子，又各不同。余在奉化親見　，形狀迥與海月不同，何能強合耶？</p>
<p>《綱目》蟹下集解引述諸種，謂蟛蜞大於蟛　，生陂池田港中，有毒，令人吐下，不可食，故蟛蜞主治，惟取其膏塗濕癬、疽瘡，外治而已。又云似蟛蜞而生沙穴中，見人便走者沙狗也，不可食。不知二種皆可食。</p>
<p>按《介譜》：生毛者曰毛蟛蜞，有毒，多食發吐利，而潮州人無日不食，以當園蔬。又《海錯疏》：松江、上海出沙狗，即沙中小蟹，土人取之，以酒糟釀食，殼軟內含脂膏。凡食置盞中，以沸酒沃之，少頃則殼內脂漿盡浮於外，惟剩空殼，酒更甘美，食之益人。吳淞人以為珍品，呼為沙裡狗。李氏以為不可食，未免為古書所愚耳。</p>
<p>《本經》桑根白皮主傷中，五勞六極，羸瘦，崩中脈絕，補虛益氣。此乃指桑椹而言，後人並列根皮之下，世多不察。仲醇遂以為根皮補元氣，性寒而能除內熱，則以上諸證自愈，真同痴人說夢。寇氏頗疑《本經》獨遺其椹，不知根皮何以能治傷中等證。惟石頑獨能勘明其誤，而功歸於椹。瀕湖博識，何於《本經》尚爾承訛耶？愚按桑上寄生取其得桑之余氣，其功尚爾。善乎《理虛元鑒》言物性有全身上下純粹無疵者，惟桑之與蓮。故桑皮性不馴良之說未可信，而寄生罕真不必用。與其用他樹之寄生，何如用桑樹之嫩枝。庶免重價購偽藥，而反滋弊竇也。</p>
<p>（刊）《張氏醫通》可謂集諸家之大成，而《本經逢源》一書尤具卓識，豈但論桑椹之功為發前人未發乎！近閱鄒潤安先生《本經疏證》，則諸賢議論皆未盡當。況潤安學問淵博，寇氏、張氏之書亦已見過，乃於桑根白皮下疏云：或問《本經》桑根白皮之功，舉天下之虛證幾盡治之，宜補劑無與匹者矣，何後賢視之，其功一若甚狹耶？余謂不然，考《千金》於五臟之勞，大旨以《四氣調神大論》中逆四時之氣一節為主，因分析其輾轉虛實，致使關格生勞，於六極則以《陰陽應象大論》天氣通於肺至治五臟者半死半生為總論，分列《風論》、《痹論》五臟四時所受病於筋、脈、肉、氣、骨五臟之下，以《藏氣法時論》五臟虛實見象綴之，惟精極則以謂通主五臟六腑之病候，獨歸重於腎。是勞不盡屬於虛，極有以異於竭，既有盛有衰，有虛有實，又有四時之邪繩貫其間，其為虛證已無幾矣。況勞極之病，有由傷中者，有由傷外者，有羸瘦者，有不羸瘦者。桑根白皮之所主，僅傷中之五勞六極且羸瘦者，不既已不廣歟。所以然者，桑根白皮為物甘辛而寒，寒者其氣下歸於腎，甘辛者其味上達於肺脾，肺脾者水津運化之通衢，腎者水津歸宿之廬舍，上焦運化不愆，則中之傷者以漸可瘳，下焦歸宿有方，則外之羸者以漸能旺。且其物堅致韌密，潔淨無瑕，剔其皮為紙，則牢固難敗，以其葉飼蠶，則吐絲連續。故於崩中脈絕之候，又能補虛益氣，明其於內崩則能補虛而去者可復，於脈絕則能續氣而斷者可聯也。曰「桑根白皮，還瘦為豐」，固有諸矣。《別錄》以之去肺中水氣，肺中有水必面浮，又以療水腫腹滿臚脹，非過不羸瘦乎？夫惟其不羸瘦，轉有以知其羸瘦矣。水為有形之物，必其胸腹中有空隙乃能容之，如其肌肉豐盈，氣道充滿，則水更居何所？且脾肺之氣化連屬，水道之通降得常，所以治羸瘦者，正其所以治水，又豈有二致哉？雄按：以補益之功歸之於椹，謂為闡發桑椹之功，固無不可，而鄒氏之書疏經旨以證病機，俾古聖心源，昭然若揭，不但有裨後學，足以壓倒前人。</p>
<p>粉　即鉛粉，乃用鉛打成薄片，入甑，以醋一瓶同蒸化作粉也。今杭城多有業此，名曰粉坊。工人無三年久業者，以鉛醋之氣有毒，能鑠人肌骨，且其性燥烈，坊中人每月必食鵝一次以解之，則其不能無毒可知。《綱目》粉錫集解下引何盂春《余冬錄》亦云：作粉工人必食肥豬大肉，飲酒及鐵漿以弭之。枵腹中其毒，輒病至死。長幼為毒熏蒸，多痿黃癱攣而死。蓋亦未嘗無毒也。或曰制造之時其氣有毒，若成粉則不毒。如果有毒，則前人方中何以入食劑，而又不遺制解之法？殊不知此物性能制硫，除酒酸，雌黃見之則黑，糟蟹得之不沙，入藥能墮胎，敷面多生粉刺。其剝蝕猛悍之性，等於砒、　。惟少服之則可，服後糞多黑色，仍還其本體。律例載有婦服鉛粉至死，手足皆青黯，可知其毒矣。而李氏於粉錫氣味下云辛寒無毒，諸家本草多襲其訛。誤世匪淺，故詳辨之。</p>
<p>天竹黃《綱目》止載釋名而無集解，出產采取，一切形狀皆未之及。按《筆談補》云：嶺南深山中有大竹，竹中有水甚清澈，溪澗之水皆有毒，惟此水無毒，土人陸行多飲之。至深冬則凝結如玉，乃天竹黃也。王彥祖知雷州日，盛夏之官，山溪澗水皆不可飲，惟剖竹取水，烹飪飲啜皆用竹水。次年被召赴闕，冬行求竹水不可復得。問土人乃知至冬則凝結，不復成水，遇夜野火燒林木為煨燼，惟竹黃不灰，如火燒獸骨而輕。土人多於火後采拾以供藥品，不若生得者為善，此說可補瀕湖之未備。</p>
<p>續隨子《綱目》集解下所載不甚明晰，盧氏辨別精詳，即土人所謂半枝蓮也。</p>
<p>越人飲上池水，即半天河水也，雨也。李氏必以樹穴中水當之，誤矣。</p>
<p>十月毛落而號寒忍凍，豫聚柏實食之，又自食其遺，遺而復食，故其矢為五靈脂。此東壁所未詳者。</p>
<p>冬蟲夏草，論物之變化，必由陰陽相激而成，陰靜陽動，至理也。然陽中有陰，陰中有陽，所謂一陰一陽，互為其根。如無情化有情，乃陰乘陽氣，有情化無情，乃陽乘陰氣，故皆一變而不復返本形。田鼠化　，　化田鼠，鳩化鷹，鷹化鳩，悉能復本形者，陽乘陽氣也，鉚石化丹砂，斷松化為石，不復還本形者，陰乘陰氣也。</p>
<p>夏草冬蟲，乃感陰陽兩氣而生。夏至一陰生，故靜而為草；冬至一陽生，故動而為蟲。輾轉循運，非若腐草為螢、陳麥化蝶，感濕熱之氣者可比。入藥故能治諸虛百損，以其得陰陽之氣全也，然以冬取者良。張子潤云：夏取者服之可以絕孕。周兼士云：冬取者可種子治蠱脹也。</p>
<p>（刊）得陰陽之氣既全，具溫和平補之性可知。因其活潑靈動，變化隨時，故為虛瘧、虛痞、虛脹、虛痛之聖藥，功勝九香蟲。且至冬而蟄，德比潛龍，凡陰虛陽亢而為喘逆痰嗽者，投之悉效，不但調經種子有專能也。周稚圭先生云：須以秋分日采者良，雄謂夏取者可治陽氣下陷之病。</p>
<p>解KT　草葉如建蘭而闊濃，入冬不凋，初茁芽，背作紫色，長則色青，夏開紫花成穗，亦如麥冬狀，其根有子，分苗種，極易繁茂。以其出粵中，故俗呼為廣東萬年青，《綱目》有名未用吉祥草下瀕湖所引吉祥草即此也。時俗妊婦臨蓐，以此草連盆移至產室，云能解產厄，免血KT　。此草色澤青翠，葉葉勁直如箭，入產室則葉皆軟垂，色亦槁瘁，必經數日乃復鮮艷。</p>
<p>亦一奇也。其根下子入藥用，性涼味甘，清肺理血，解火毒，為咽喉妙藥。或云搗汁加冰片少許，灌數匙，治小兒急驚立效。</p>
<p>（注）KT　本作員，音「運」。《刺熱篇》：其逆則頭痛員員，脈引沖頭也。後人加　為KT　，俗作「暈」</p>
<p>，非。然通用已久，不能正也。</p>
<p>南天燭人但知其有補益之功，而三奇湯治小兒天哮甚效。方用經霜天燭子、臘梅花各三錢，水蜒蚰一條。</p>
<p>俱預收，臨用水煎服。一劑可痊。又治三陰瘧，用天燭隔年陳子蒸熟，每歲一粒，早晨白湯下。其葉洗眼，去風火熱腫，眵淚赤障。</p>
<p>清明插檐柳條，盧不遠但言治白濁甚妙。若大人小兒溺閉不通者，煎湯內服外熏皆效。惟向南者入藥。《百草鏡》云：桑葉采過二次者，力薄無用。入藥須止采過頭葉者，則二葉力全，至大雪後猶青於枝上，或黃枯於枝上，皆可用。若經雪壓更妙，雪晴之日即采下，線穿懸戶陰乾，其色漸黑，風吹作鐵器聲，故一名鐵扇子。</p>
<p>治腸風目疾，咳嗽盜汗。愚按雖治盜汗，而風溫、暑熱服之，肺氣清肅，即能汗解。其葉有毛，能治皮膚風熱癮疹，色青入肝，能息內風而除頭痛，止風行腸胃之泄瀉，已肝熱妄行之崩漏。胎前諸病由於肝熱者，尤為要藥。</p>
<p>米油乃煮粥鍋內滾起沫團，　滑如膏油者是也。大鍋能煮五升米以上者良。一名粥油。其力能實毛竅，滋養五臟，肥肌體，填補腎精。每晨撇取一碗淡服，或加煉過食鹽少許亦可。黑瘦者，服百日即肥白。精清無子者，即精濃有子。愚按精生於穀，粥油乃米穀之精華，補液生精，固勝他藥，但必其人素無痰飲者始有效，否則極易成痰。推之魚鰾、海參及一切　郁之物，無不皆然。所以治病總要先察其體氣臟性之何如，而後辨其藥之宜否也。</p>
<p>蘭熏一名火腿，和中養胃，補腎生津，益氣血，充精髓，治虛勞怔忡，止虛痢泄瀉。愚按又名南腿，蓋以南產者為勝。然南產惟金華之東陽造者為良，浦江次之，義烏又次之，他邑即不佳。其造法於十一月內取壯嫩花豬後腿，用力自爪向上緊捋，有瘀血一股向腿面流去，即拭去，晾一、二日待干，將腿面油脂細細剔去，每腿十斤，用燥鹽五兩，竭力擦透其皮，然後落缸。腳上懸牌記明月日。缸半預做木板為屜，屜鑿數孔，將擦透之腿平放板屜之上，余鹽洒勻腿面，腿多則重重疊之不妨。鹽烊為鹵，則從屜孔流之缸底，腌腿總以腿不浸鹵為要訣，以著鹵則肉霉而味必苦也。既腌旬日，將腿翻起，再用鹽如初腌之數，逐腿洒勻。再旬日，再翻起，仍用鹽如初腌之數，逐腿洒勻。再旬日，自初腌至此匝一月矣，將腿起缸，浸溪中半日，將腿刷洗極淨，隨懸日中晒之。故起缸必須晴天，若雨雪，不妨遲待。如水氣晒乾之後，陰雨則懸當風處，晴霧再晒之，必須水氣干盡，皮色皆紅，可不晒矣。修圓腿面。入夏起花，以綠色為上，白次之，黃、黑為下，並以香油遍抹之。若生毛蟲有蛀孔，以竹簽挑出，香油灌之。過五月，裝入竹箱盛之。再至次年，即為陳腿。味極香美，甲於珍饈。</p>
<p>苟知此法，但得佳豬，雖他處亦可造也。最補益者，取腳骨上第一刀，刮垢洗淨，整塊置盤中，飯鍋上蒸七次，切食。若湯煮，則力薄矣。然必上上者，始可蒸食也。</p>
<p>（注）淡風豬肉名千裡脯，功同火腿。如腌腿不得其法者，則風肉甚易，亦為病後、產後、虛人調補之上品也。但於冬令極冷之日，取壯嫩好豬肋肉，亦須HT　淨即取，不可浸水灌氣，晾干之後，割去裡面浮油及脊骨肚囊，用白糖霜擦透其皮，並抹四圍肥處，懸於風多無日屋檐下。至夏煮食，味甚甘香，亦可任加鹽醬。蓋豬肉得糖霜則不　，故臘月煉豬脂入糖霜少許，則久藏不壞，雖盛夏，若以糖霜收豬脂亦不壞。凡烹庖豬肉，少加糖霜，味更佳也。</p>
<p>（刊）昔老友范君慶簪語雄曰：解渴莫如豬肉湯，凡官爐銀匠，每當酷暑，正各縣傾造奏銷銀兩納庫之際，銀爐最高，火光迎面，故非血氣充足者不能習此業。然人受火爍，其渴莫解，必市豬肉，以急火煎清湯，撇去浮油，缸盛待冷，用此代茶。雄聞而悟曰：此渴乃火爍其液，非茶可解。豬為水畜，其肉最腴，功專補水救液，允非瓜果可比。因此推及虛喘、虛秘、下損、難產諸證之無液者，無不投之輒應，乃知豬肉為滋陰妙品也。若終身肉食，則與臟氣相習，有見其功過者，有不見其功過者。蓋人之體性不同，亦猶穀蔬果蔬之類，有須肥壅不須肥壅之異也。且肥壅過當，反不結實，敵人亦有滋補過當而反痿弱者。能盡物之性，然後能盡人之性，此之謂哉？明乎此，則家之於財也亦然。故善保富者宜散其財，苟不知此而徒欲家之肥，必至子孫愚悖，多藏濃亡而後已。良由昧於物性，遂以梏其人性。嗚呼！豬之肥者豬之患，此養身保家之不可不知物性也。愛縱筆及之。</p>
<p>丁香油出南番，乃用母丁香榨取。其油色紫，芳香辛烈。番人以琉璃器盛之，蓋偶不密，即香達於外。性大熱，透關竅，祛寒濕，力更敏於丁香。凡胸腹痛脹，嘔呃泄瀉，痞聚疝瘕諸證之屬於寒者，用塗患處及臍中，皆效。若紫中帶黃黑色，辛烈觸鼻作樟腦氣者，乃樟木油也，不可不辨。更有肉桂油、檀香油，主治可以類推。</p>
<p>（校）近有薄荷油，亦自舶上來。患風熱頭疼齦痛者，搽患處亦良。</p>
<p>（刊）恕軒先生錢塘人，著《利濟十二種》：《本草綱目拾遺》十卷，《醫林集腋》十六卷，《祝由錄驗》四卷，《本草話》二十二卷，《花藥小名錄》四卷，《攝生閑覽》四卷，《奇藥備考》六卷，《養素園傳信方》六卷，《囊露集》四卷，《串雅》八卷，《升降秘要》二卷，《藥性元解》四卷。載桐鄉顧　《書目合編》。惜書多未梓，惟望藏其全稿者力謀壽世為幸。</p>
<p>解諸藥毒　濃煎甘草湯涼飲。飲地漿水。白扁豆生研末。涼水和服。</p>
<p>解誤服人參　生蘆菔搗汁飲，或蘆菔子煎湯服。</p>
<p>解諸熱藥毒　綠豆或甘草煎濃湯冷服。</p>
<p>解蒙汗藥毒　飲冷水。忌服薑。白茯苓（五錢），生甘草（二錢），甜瓜蒂（七個），陳皮（五分），水煎冷服，大吐而愈。</p>
<p>解巴豆毒　芭蕉葉或石菖蒲搗汁飲。大黃、黃連煎湯冷服。巴豆貼肉潰爛，生黃連末水調敷。</p>
<p>解椒毒　地漿水或新汲水飲。啖大棗數枚。</p>
<p>解冰片毒　飲新汲水。</p>
<p>解附子烏頭天雄草烏射罔毒　綠豆或黑豆煎湯冷凍飲料。甘草、黑豆同煎冷服。</p>
<p>解鉤吻毒　麻油或桐油或韭菜汁灌之。白礬化水服。金銀花、甘草（各一兩），生大黃（一錢），煎服。</p>
<p>解藜蘆毒　雄黃（一錢），研水飲。藜蘆敷肉，毒瓦斯入內，煎蔥湯服。</p>
<p>解仙茅毒　大黃、朴硝煎服。</p>
<p>解芫花毒　防風煎湯服。</p>
<p>解藤黃毒　齏菜水溫服。</p>
<p>解誤服相反藥毒　蠶退紙燒灰，冷水和服。</p>
<p>解野蕈毒　生甘草（二兩），白芷（三錢），煎服，以鵝翎探喉，不吐即瀉。金銀花搗汁飲。綠豆生研，新汲水攪之，澄清服。</p>
<p>解白果毒　白果殼煎湯服。白鯗頭煎湯頻灌。滾水磨木香，入麝香少許灌之。</p>
<p>解苦杏毒　杏樹皮煎湯服。</p>
<p>解櫻桃毒　青蔗漿灌之。</p>
<p>解諸果毒　豬骨燒灰煎服。玉樞丹水調灌。</p>
<p>解桐油毒　食干柿。</p>
<p>解石藥毒　芹菜或葵菜搗汁飲。</p>
<p>解鐘乳毒　豬肉煮食。</p>
<p>解雄黃毒　防己煎服。</p>
<p>解皂礬毒　麥面打糊頻服。</p>
<p>解砒毒　硼砂（一兩）研末，雞子清（七枚）調灌。　樹根或冬青葉或夏枯草搗汁飲。明礬、大黃研末，新汲水調灌。中砒毒渾身紫瘰者，急作地漿頻灌，待瘰散盡，一吐即蘇，雖冬月亦須此法。砒霜敷身，患處痛潰，以濕泥頻塗，設毒瓦斯入內而作吐瀉，飲冷米醋解之，或生綠豆研末，麻油調服。</p>
<p>瓷鋒入腹　生紅蘆菔杵爛吞。干餳糖頻吞。</p>
<p>玉石入腹　蔥白煮濃汁服。</p>
<p>金銀入腹　紅棗煮爛恣食。雞矢（半升），水淋取汁（一升），飲之，日三、四次，死者可活。</p>
<p>銅鐵錫入腹　木賊草研末，雞子清調服．連根蔥煮汁，麻油和服。</p>
<p>解鉛粉毒　蘆菔或荸薺搗汁飲。麻油、蜂蜜、飴糖和服。</p>
<p>解銀黝毒　生羊血灌之，吐盡即愈。</p>
<p>（刊）「黝」字俗寫甚多，諸書所說不一。雄幼時不知所從，夜忽夢一人大聲曰：當從北宮黝之「黝」為是，醒而異之。遍考字義，固宜作黝。語云：思之思之，鬼神通之。豈不信然！故附識之。</p>
<p>解水銀毒　開口花椒吞（二錢）。</p>
<p>解輕粉毒　川椒去目，白湯吞服。生扁豆浸透，搗汁飲。</p>
<p>解蠱毒　濃煎石榴皮飲。</p>
<p>解斑蝥　青毒　六一散涼水和服。</p>
<p>解黃蠟毒　冬葵子或白菜煎湯飲。</p>
<p>解蟹毒　生薑汁或藕汁、蘆根汁灌之。誤犯荊芥，誤同柿食，均濃煎木香湯飲。</p>
<p>解蝦毒　橘皮煎湯飲。</p>
<p>解蛙毒　車前草搗汁飲。</p>
<p>解河豚毒　麻油灌之。茅根、蘆根（各一兩），瓜蒂（一個），煎服。紫蘇或薄荷搗絞濃汁飲，或以干者煎濃服。</p>
<p>解鱉毒　靛青水灌。鹽化水飲。</p>
<p>解鱔魚毒　食蟹即愈，或地漿灌。犯荊芥亦飲地漿。</p>
<p>解鴆羽毒：　犀角磨汁飲。金銀花（八兩），煎汁二碗，入白礬、寒水石、花粉（各三錢），石菖蒲（二錢），麥冬（五分），煎灌，待目不上視，口中能言，照方減半，再服二劑即愈。</p>
<p>解鶴頂毒　糯米煮粥杵爛，過量啜之，亦解鴆羽毒。</p>
<p>解雄雞毒　磨犀角飲。醋飲之。</p>
<p>解牛馬肉毒　飲人乳。石菖蒲研水服。蘆根或菊花連根搗汁，和酒服。</p>
<p>解馬肝毒　豬骨燒灰，或淡豆豉，或頭垢，並水調服。服豬脂（一斤）。</p>
<p>解狗野狼肉毒　蘆根搗汁飲。杏仁去皮尖（四兩），研，開水和，分三服。</p>
<p>解羊肉毒　甘草煎服。栗子殼煎飲。</p>
<p>解豬肉毒　芭蕉根搗汁飲。白沙糖（一兩），白湯調服。</p>
<p>解鹽鹵毒　生甘草（三兩），煎汁冷凍飲料。生黃豆水研絞汁飲。</p>
<p>解酒毒　人乳和熱黃酒服，外以生熟湯浸其身，則湯化為酒，而人醒矣。</p>
<p>解燒酒毒　蘆菔汁、青蔗漿隨灌。綠豆研水灌，或濃煎枳子湯灌。大醉不醒，急以熱豆腐遍體貼之，冷即易，以醒為度。外用井水浸其發，並以故帛浸濕，貼於胸膈，仍細細灌之，至蘇為度。凡燒酒醉後吸煙，則酒焰內燃而死。亦有醉後內火如焚而反惡寒者，濃加衣被亦能致死。即口渴飲冷，只宜細細飲之，以引毒火外達，若連飲過多，熱毒反為驟冷所遏，無由外達，亦多閉伏不救。</p>
<p>（刊）海陽汪葵田先生《古愚消夏錄》云：毒之為毒，暗藏於服食起居中，更有令人不可方物者，如日用飲食；其物性相反，不知誤食，以及庖人不善烹飪，未得其法，食之即為中毒，不必服砒、鴆始為中毒也。此言良是。其所輯《解毒編》一卷，最為詳備，而近來尤有甚於砒、鴆者，則亞片煙也。以砒、鴆不易得，而亞片煙遍地皆有，故殺人為獨廣焉。愛附解救方如下：解亞片毒　肥皂或金魚杵爛，或豬矢水和絞汁灌之，吐出即愈。生南瓜搗爛，絞汁頻灌。甘草煎濃汁，候冷頻灌。以亞片灌豬腸中，扎其兩頭，懸而待之，久則腸裂而斷，其性之毒烈，能消刮脂膏也如此，憶甘蔗名接腸草，且甘涼解毒，榨汁頻灌，必可得生。</p>
<p>葭管飛灰，惟河內縣之葭應候而飛，可見藥之所產，各有地土之宜矣。而物性各有專長，如蜜者密也，故能固密護內；酥者蘇也，故能融化攻堅。又各有所制，如象牙以醋浸一宿則軟如腐，再用木賊水煮之則堅如故；白銀觸倭硫黃則色黑；犀、羚之角畏人氣，珍珠畏尸氣，並不可近鐵與柏木，梨與蘆菔同藏、冬采橙橘藏綠豆中，皆不壞；銅以鳧茈水煮可刻字，木槿葉揉水浸絲，絡則不亂；桃。杏仁可澄水：血污衣嚼蘆菔擦之即潔，墨污衣生半夏或白果、杏仁杵爛揉之即去；治胞衣不下，用芡葉囫圇不碎者一張，煎湯服立效，若芡葉裂作兩片者，胞衣亦分裂而下，真奇方也。此皆不可以理測者。圍爐炭烈，分開易滅，不分易熾，用草紙一張覆於火頂，燒過灰存，則火不焰而四布矣。嚴冬向火，惟桑柴炭不燥皮膚。養老者宜知之，不但為煎藥所珍也。</p>
<p>（校）上論藥性。</p>
<p>畢拱辰云：泰西格致名流，值有殊死重因，多生購之，層剝寸　，批　導　，毫發無不推勘，故其著論致為詳盡。按新莽時捕得王孫慶，使太醫尚方與巧屠共刳剝之，量度五臟，以竹　導其脈，知所終始，亦可治病。</p>
<p>又宋慶曆間待制杜杞，執湖南賊歐希范與酋領數十人，盡磔於市，皆剖腹刳其腎腸，使醫與畫人一一探索，繪以為畫，事與西土頗類。至於精思研究，不作一影響揣度語，則西士所獨也。愚謂人與動物皆氣以成形，經云「出入廢則神機化滅」，如革囊盛水而不漏，其活時之元府已無可驗，故有形之死質可睹，無形之功用不可睹也。縱精思研究，斷不能如《西游記》所說鑽入人腹，周行臟腑經絡，盡悉其所以然，而後出以著書，不過批導　，推測其所當然而已。故其所著《人身說概》、《人身圖說》等書，雖有發明，足補華人所未逮，然不免穿鑿之弊。信其可信，闕其可疑，是皮裡春秋讀法也。</p>
<p>（校）人身經絡臟腑，雖《靈樞》、《素問》言之鑿鑿，然上古聖人以不忍之心行不忍之政，著書療病，意在仁民，不過以天縱之明，推測其理而已。見其生，不忍見其死，庖廚尚遠，豈忍剖割同類，而為屠劊作俑哉！新莽、杜杞忍為此事，而太醫之書，畫人之圖，皆不傳於世。後之談內景者，又不屑詢於屠劊之流。若非泰西之書入於中國，則臟腑真形，雖飲上池水者，亦未曾洞見也。</p>
<p>（注）《說概》云：人周身骸骨，大者二百余塊，細小者一百余塊。小者之形，如米粒、脂麻，用以聯絡接台於大骨交界處，共成全體。按《洗冤錄》云：人骨三百六十五節，合周天三百六十五度，而此但云大小三百余塊，竟不定其數者，以人身骨數略有多少不同也。《金鑒》云：男子巔頂骨三叉縫，女人十字縫，是骨形不同也。又《洗冤錄》云：男子骨白，女人骨黑，是骨色不同也。男子頭骨八片，蔡川有九片者，女子頭骨六片，是骨數不同也。男子肋骨二十四條，慶元人有二十二條者，女人肋骨二十八條。轉肘骨、輔腿骨並名髀骨，女子皆無。按晉文公駢脅，是肋骨不同；文之明脊骨連腦，是脊骨不同；張獎譽口齒四十，是齒骨不同；胡敏庶兄弟三人，手十指各生六節，是指骨不同，張文昌膝骨大於腿，是膝骨不同。他如平人肋骨有十六、十八條者，齒亦有二十三、四不等者。蓋天地生人，秉氣濃薄，賦質不齊，無足為異。楊素園明府云：此說是也。嘗檢頭骨，有渾成不分片數者。其女子之骨，較男子尤瑩白，未見有黑色者。故《洗冤錄》一書，最不可泥。《說概》又云：背脊骨共三十四節，悉有管軸相連承受，如門臼樞軸然。每節兩邊有小竅，以通筋脈，脊骨中有髓，上下相通。按此當從《內經》二十四節為是。《洗冤錄》云：頸項骨五節，脊背骨六節，脊膂骨七節，腰眼骨五節，方骨一節，共二十四節。方骨形長方，有八竅，作兩行，如博具中人牌式。其下即尾蛆骨，男子者綴脊處凹，兩旁皆有尖瓣如菱角，周布九竅，女人者綴脊處平直，周布六竅。《新論》亦云脊骨二十四節，頸骨第一節，乃承頭之首節，其形與別節有異，因其功用不同也。其中孔大於下節，如瓠蘆之形，孔前近邊有微凹，蓋銜接次節之榫，使頭轉動利便也。此兩節之所以異於余節者，因人首必須左右轉盼，故次節有榫凸出如門之樞，後有堅韌筋帶緊相纏縛，使首節轉顧靈活。嘗見人以兩手挾把小兒頭，而懸舉以為戲者，殊險極可畏也。蓋下體之重，系於次節，若使筋帶裂絕，則樞紐脫陷，而首節開離，一壞髓柱即能害命，或驟然扭舉，害尤甚焉。《說概》論脆骨云：其在內為護守、為黏連，在眼司開闔，在耳司聽，在鼻司臭，在喉司呼吸。又曰：心窩之下，皆脆骨。按《洗冤錄》云：心骨一片，狀如錢大，即心坎骨。《金鑒》名蔽心骨，亦名鳩尾骨。損此骨者立斃。</p>
<p>又胯骨分左右，形如月牙，其兩骨梢頭鑲攏處名架骨。架骨之上有羞秘骨一塊，如指頭大，薄如指甲，極柔脆，色白如玉。私一人即有一點青痕，閱人多則青黑殆遍，死後日久即腐化。此二脆骨西人未詳，不知何故。</p>
<p>又《人身圖說》所言臟腑之形，與《靈》、《素》、《難經》之論迥然不同，或者疑中外人形稍異，臟象亦殊。道光間，玉田王勛臣先生謂著書不明臟腑，真是痴人說夢，治病不明臟腑，何異盲子夜行！概古人以無憑之談，作欺人之事。謂心、肝、肺以分兩計之，每件重幾許，大、小腸以尺丈計之，每件長若干，胃大幾許，容穀幾斗幾升。其言仿佛似真，其實臟腑未見。因不避穢污，親歷審視，虛心訪察，積四十年之考證，而著《醫林改錯》一書，所載臟腑諸形，與</p>
<p>《圖說》略同。近閱惠愛醫館《全體新論》云：世有古今、地分中外，人之形貌，各有不同，至臟腑功用、血氣營運，無少焉異。俞理初熟於《內經》，因未見《改錯》，過信古書，遂謂中外稟質不同，生源亦異。噫！此何異俗吏做案以合例哉？且云因臟腑不同，故立教不同。夫泰西之教，雖不同於中國，而彰善癉惡，未嘗不同。蓋立教不同者，何必臟腑不同耶？孔、孟、楊、墨，並生中國，而立教不同者，非有形之臟腑不同，乃無形之性道不同也。推之舜、象、惠、跖，生於一本，而聖狂迥別者，豈臟腑之不同乎？世斥謬妄者曰：此人別有肺腸。非言其肺腸之形不同也，亦言其無形之心術不端，以致氣質偏戾而志向乖僻也。想俞氏誤解此言，故有此論。惟引《素問》證明橫骨一段頗精，因錄於下，並以同志所論數條附之，俾讀其書者得以參考焉。</p>
<p>《人身圖說》外陰橫骨處，為發便毒之所。凡與女人污穢者交合，其骨受熱，毒動即發其病，及霉瘡等患。</p>
<p>俞氏云：檢《素問‧骨空論》曰：督脈起少腹下骨中央。又曰：督脈生病治督脈，治在骨上。解者以為脊骨，實則本經少腹下骨，即外陰上橫骨也。《素問‧氣府論》云：衝脈氣挾鳩尾外至臍寸一，挾臍下旁至橫骨寸一，是腹脈法也。蓋督、任、衝為表裡，督脈起橫骨，其下行者所沖，其繞絡陰器及上俠脊交顛至目內　者為督。</p>
<p>惡中督脈，故病至胸。督脈附巨陽膀胱，合少陰腎。後世醫書俱不曉，乃別之為奇經。又言宜與十二經並論，實則十二經在手足指，督、任在橫骨，沖在氣也。楊梅瘡者，宋竇漢卿《瘡瘍全書》及《名醫類案》謂之霉瘡，既外洋有之，應曰洋霉瘡。《證治準繩》言肝腎二經，《景岳全書》言衝脈受病，皆似是而非也。得此書橫骨一言，允為中肯。雄按：《內經》骨中央下接云：女子入系廷孔。其孔，溺孔之端也。則所謂少腹下骨，確指外陰橫骨無疑。治在骨上者，治其脈所起處也。</p>
<h2>書《人身圖說》後</h2>
<p>黟俞理初先生《癸巳類稿》有書泰西人身圖說一首，謂彼國之臟腑與中國異，羅舉數事，若辨黑白。余初閱之，以為泰西醫術內景盡此矣。嗣閱《人身圖說》，乃知俞氏涉獵浮文，攬其標而未究其蘊也。後又從潛齋借得泰西《人身說概》及玉田王清任《醫林改錯》讀之，益知俞氏之謬。俞氏曰：其地人心居左，脈又發自心左。以為西人稟賦異於中國。今按《圖說》並無人心居左之說，惟有一條或曰心之所當在左邊，蓋於此所見動與喘息。曰左邊心動，是於左之穴為生活德所積，及脈絡所發之根，故愈顯其動勝於右邊。玩其文義，似設為問答。問者疑心在左邊，答者謂左邊之動，乃心左穴所致，非心在左也。俞氏錯會文義。至於脈發心左，則中西一例。王氏目驗華人三十余尸，皆大絡從心左穴出，與《靈樞》不合，與《圖說》合。不知是古今之異，抑古書之訛？不得援古書而強謂彼國自有肺腸也。俞氏又曰：《圖說》謂血絡見，脈絡不見者，血絡是《靈樞》絡脈，其絡脈則經脈。此二說望文生義，全未理會。泰西人謂人身有二絡：一血絡在內，一脈絡在外，相黏不離，皆有干有枝，有經有緯。《說概》及《改錯》二書所驗皆同。謂脈絡為衛，血絡為營則可，今強派脈絡為干，血絡為枝，豈非捫　說燭乎？俞氏又曰：公細線是時辰表中發條。今按其書中之例，一物獨用者稱本，諸物合用者稱公，故有公膜、公管路、公細體諸名，公細線亦其一耳，不得以表中發條為解。俞又曰：中土人肺六葉，彼土四葉。按王氏目驗華人肺四葉，則中國非盡六葉矣。《圖說》謂肺四葉，或有五葉者，二葉之中發一小葉，則彼土亦非盡四葉矣。俞又曰：中土人肝七葉，彼土三葉。王氏目驗華人肝四葉，則中土非盡七葉。《圖說》謂人之肝葉或止一或止二，極多不過三，則彼土亦非盡三葉矣，俞氏又曰：中土人心七竅，彼土四竅。王氏目驗華人心無竅，止有左邊一竅，為大絡之本，安見其為七竅也？俞氏又曰：中土人腸二，彼土人腸六。所謂六者，《圖說》所述十二腸、潔腸、穢腸、瞎腸、頸腸、下直腸共為六腸。其上直腸即幽門也，下直腸即肛門也。瞎腸一頭通一頭塞，與頸腸在腹左右，不知是彼土所獨，抑華人所同，非目睹不敢決。總之，盤旋之腸只潔、穢二腸，潔即小腸，穢即大腸，未見其為大異也。俞又曰：中土睪丸二，彼土睪丸四。又曰：儒自捫睪二，隱約其四睪之文耳。夫《圖說》既隱約其文，先生安得懸揣而知其為四乎？今按《圖說》論睪丸篇明言其數二，不言四也。且書中論睪丸經絡最多，無一語可附會及四睪者。惟言睪丸有小體，豈因此而誤耶？然前注中已明言是轉折之絡，似睪丸底分之小體，則小體乃激發絡，非丸也。又圖中繪睪丸作兩囊狀，分於左右，兩囊宜有四丸，豈因此而誤耶？然所繪是丸非囊，欲其經絡分明，故離繪之分於左右，非二囊而四丸也。先生指鹿為馬，反謂書之隱約其文，豈非　耶？其他不及一一致辨。先生謂此書在中國二百年矣，未有能讀之者，今始得其指歸，及余以原書質之，其疏略如此，是仍未之能讀也。古人謂治經者必研群經，乃始可通一經。先生止見《圖說》一編，故有此臆說。若見《人身說概》諸書，彼此參校，亦當貫通矣。今欲為西醫內景書，遲遲不敢落筆，正恐所見西人書少，又蹈俞氏之轍耳。仁和胡琨次瑤。</p>
<h2>書《醫林改錯》後</h2>
<p>余素疑各醫書，自《靈》、《素》以及漢、晉、唐、宋、元、明諸名家以來，言臟腑經絡者，皆欠明晰，因不得目睹，無可考察，是以今之業醫者，不悉臟腑之真形，氣血之道路，見一證則茫然不知其處，揣摸意度，約略施治。以病試藥，以藥探病，偶然中的，遂為定法。久之或效或不效，亦不自知其所以然。此非業醫者之過，乃自古無真傳之故也。即如《靈樞》、《素問》本聖人經典，一經秦火，即非全書，後人串插附會居多，間有原文，又為後世注釋錯誤，數千年來，以訛傳訛，無人知之。譬如鐘表損傷，必須鐘表匠修之，以其能知其中之運用也。醫亦如之。余隨任雲南之臨安郡，時嘉慶丙子年，有夷匪高羅依造反，軍營不時決賊，初不敢看，久漸膽壯，因是叛夷，無主收尸，遂令行刑人檢洗其臟，細細查看。閱過數十人，始知歷代醫書中臟腑圖說皆謬。至道光辛卯年，在京都遇直隸玉田縣勛臣王清任先生，談及臟腑，伊芳已先得我心。據云伊芳於嘉慶丁巳年，游灤州之稻地鎮，其時彼處小兒正患瘟疫、疹痢，十傷八、九，該地鄉風不肯掩埋，用席包裹，棄之荒郊。犬食鳥殘者，破腹露臟，遍地皆是，因得檢視甚詳。與余所見，吻合不差毫發。惜先生只見已死之臟，所繪圖說，指示已往之錯謬，備陳現下之形質，未能申明飲食氣血之運用。余就《靈》、《素》二經晨夕揣度，日夜悟會，始識《靈》、《素》中原有明文耳。如經云：食氣入胃，散精於肝，淫氣於筋。食氣入胃，濁氣歸心，淫精於脈。飲入於胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。據此一段經文而論，前人之言胃者，皆謂上有一口曰賁門，下有一口曰幽門，是胃止二門。今見實有三門，賁、幽之外，更有津門。津門上有一管，分三叉：上叉通心，中叉通肝，下叉通脾。脾通肺，心通腎，肝通膽。則知食入於胃，借胃下丹田真陽，蒸騰精汁上出津門，由津管之上叉入心，由心分布其清輕之氣入督脈化氣，其精華之汁入任脈化精，其重濁之汁入衝脈化血。督脈貼脊，是一身之總氣管；衝脈在中，又貼督脈，是一身之總血管；任脈近腹，是一身之總精管。故經云：督屬總匯，沖為血海，任主包胎。食入於胃，其汁液由津門蒸騰入津管之中叉入肝，由肝分布於周身之筋，由肝運膽，積膽汁上供二目，故年老膽汁枯，則二目昏花不明，飲入於胃，被真陽蒸騰上出津門之下叉入脾，由脾分布其水之清輕者上歸於肺，布散於五經皮膚為津液，潤澤周身內外，其水之渣滓而濁者，入水道中滲入膀胱為溺。夫心者，乃受穀氣之津液精華，而分注於督、衝、任三脈，化氣、化血、化精者也，肝者，受穀氣之津液，灌溉周身之筋者也，脾者，受胃之水氣，分布於上下者也，肺者，受脾之水精，布津液於五經皮膚，灌溉內外者也，腎者，收藏督脈中霧露之精氣，潤澤周身之骨者也。督脈貫心而過，兩腎有兩管通督脈，故曰心腎相交。此五臟飲食氣血津液之運用也。至若臟腑之形象，王勛臣先生所繪圖記已詳，余無庸贅敘焉。聊城李志銳晉恆。</p>
<p>《醫林改錯》一書，勛臣先生窮數十年之心力而成者，余非不深佩也，然而疑信參半。蓋先生所親見，皆屬有形無氣，義塚之尸，氣已散者也，加刑之囚，氣初散者也。《易》曰：天地定位，山澤通氣。人身軀殼以內物，位之定也，飲食之化精、化液、化血、化大小便，氣之通也。余信先生明位之定而執之，余僭疑先生未能擴氣之通而充之也。故先生之畫氣血為此疆彼界者，余以為論病則有在氣在血之分，論平人則氣與血相依附，血恃氣以流通也。先生又謂心無血，不能生靈機，靈機在腦者，余以為人心有記有悟，記者心入之而腦為收之也，悟者心發之而腦為付之也，所謂君主也。謂腦貯靈機則可，謂心不生靈機則不可也。病氣厥則無知識者，先賢以厥為逆，腦以靈機付心而心發之者，必自上順下，故逆則無知識也。泰西人謂憶往事必目上瞪思索者，正以心上取靈機於腦也。迨思而得之，是腦已將靈機下付於心而目不上瞪矣。生人之心，即肉即血，死後之心，血凝而渾融於肉中，見肉不能見血，故必刃先傷心而死者，始見為有血也。先生又謂手腕跳動處為氣管，而駁論脈之脈為血脈一言為誤。未揣下文「百骸貫通」四字，惟其貫也通也，故血脈也，不貫不通，是誠氣管矣。生人有氣故通，死則無氣故不通。先生所親見皆無氣者，余故信先生明位之定而執之，余故僭疑先生未能擴氣之通而充之也。竊謂人身氣與血相依附，血恃氣以流通也。如人皮膚小有破傷，血即隨出。</p>
<p>蓋傷則氣泄，氣泄則血亦隨泄，氣無形，故所見惟血。所傷小，則周身大氣自然能包舉而傷處闔，闔則氣無從泄而血亦止矣。若極刑之囚，刃從胸　，所傷大，則氣大泄，血亦隨氣大泄，氣無形，其泄速，血有形，其泄遲。先生所謂先泄之血速，後泄之血遲者，乃始則氣大奔而速，繼則氣微弱而遲，終則氣先盡，而所余之血存於膈膜上低處矣。周身血之失氣而不能奔者，亦隨其經歷處而凝矣。先生於病死者之膈膜，自云未見的確，想其中定無一窪存血也。由是思大吐大衄而即氣脫死者，咽喉中、鼻中亦定有存血也。夫咽喉中、鼻中，非平人存血之所也。仁和徐然石亞枝。</p>
<h2>讀《全體新論》</h2>
<p>人身如樹分冬春，脈胳為干心為根，心涵靈液注經隧，大而祖絡微而孫。枝枝葉葉盡滲漉，如縵如網如絲綸。儼然春華得生意，土膏暗潤潛無痕。絡窮四末復回溯，更以靈液還天君，又如冬林氣蕭瑟，直驅膏向根屯。屯久氣轉漸牙茁，升降往返侔旋輪。腦為覺元神所尊，有如群岳宗昆侖。鼓　元牝出奧竅，容納萬象棲神魂。上仙葆此大丹就，泥丸宮破通天門。下愚生為二豎據，懵懂劣似劉家豚。人生思索必撫腦，心囟上下交氤氳。《黃庭》宗旨蒼頡字，古人卓識超群倫。惜哉黃帝與岐伯，方書久已遺三墳。詹詹</p>
<p>《靈樞》數番紙，多半贗鼎非原文。所以扁鵲至今千百載，上池之水流常渾。歐羅此一編，創論何紛壇。一一目親睹，疏瀹入骨筋。華佗之稿尚未焚，流落海外隨煙云。暢觀快極復生妒，疑陣又欲張吾軍。心何為兮倚杵？脾何為兮橫陳？將軍倉廩位置倒，嬰兒　女誰為婚？吾非丹元子，又非龍煙神，安能入肺腑，持炬照覆盆？八尺之士縱可剖而視旋機，一駐氣早亡陶熏。胡為行度考校乃爾確，無乃如柱膠瑟如治絲而棼！我欲廣集中外議，汰其糟粕留其醇。使人垣洞見　結，昭揭日月殊　捫。譬如管輅論天象，但以區落言星辰。至於陰陽呼召可會不可說，默而成者存其人。學問要當貴適用，豈以畛域生區分？君不見三角八線傳自利瑪竇，仁廟研究窮朝昏，聖人門戶之見何嘗存！望聞問切名曰四診，人皆知之。夫診者審也，審察病情，必四者相合而可斷其虛實寒熱之何因也。然望者不僅望其面色也，五官、須發並宜審也，而舌本、苔色尤為至要，此古人未發之奧。王氏《準繩》、張氏《醫通》、葉氏《溫熱論》諸書，皆須熟玩。更有諸書所未言者：淡白舌苔，亦有熱證，黃濃滿苔，亦有寒證，舌絳無津，亦有痰證，當以脈證、便、溺參勘自得。若燈下看黃苔，每成白色，諺云：「燈下黃金似白銀」是也。白苔啖酸物，能染為黑，均不可不知。</p>
<p>至於危疑大證，雖吐出之痰血、接出之便溺，亦當令病家取至庭中，望其色而審之，不可嫌穢，庶無訛傳誤聽之弊也。治小兒則審三關為要。</p>
<p>（注）白苔食橄攬即黑，食枇杷即黃。此名染苔，抹之即去。</p>
<p>字義有不可執一者，如知字從口，以口能知味也。然望而知之者目也，豈可謂目無所知哉！故聞字雖從耳，而四診之聞，不專主於聽聲也。戴麟郊先生《廣溫疫論》辯證最細，謂疫證必有穢濁之氣，鼻觀精者可以聞而知之也。愚謂聞字實有二義。雖非疫證，凡入病室，五官皆宜並用，問答可辨其口氣，有痰須詢其臭味，榻前虎子，觸鼻可分其寒熱，癰瘍膿血，審氣即知其重輕，余如鼾息、腸鳴、矢氣之類，皆當以耳聞者。古人但主乎呼、歌、呻、哭數字，固矣。</p>
<p>問診之法，最要詳細。雖證因錯雜，但貴心有權衡，則可審其輕重真偽，而折衷於當矣。景岳《十問篇》，人皆服其周匝，而猶未盡善也。如問寒熱首二條皆是傷寒，若發熱不惡寒者，溫病也，縱挾新感風寒而起，先有惡寒，迨一發熱，則必不惡寒矣。此伏氣溫病也。外感風溫，熱邪首先犯肺，肺主皮毛，熱則氣張而失清肅之權，腠理反疏，則凜冽惡寒，然多口渴易汗，脈證與傷寒迥異。終云：氣盛身寒，得之傷寒，氣虛身熱，得之傷暑。所謂身寒者，寒邪在表，雖身熱而仍惡寒也。暑為陽邪，發熱即惡熱，亦有背微惡寒者，曰微，仍不甚惡寒也。況但在背與周身惡寒迥別，可不細問哉？第三條內證發熱，亦不可專屬陰虛。香岩先生云：或食積，或瘀血，或痰凝氣滯，皆能發熱，必辨證明白，庶不誤治。</p>
<p>問頭身第三條陰虛頭痛。葉氏云：多屬陽亢，未可竟補，須兼滋陰降火為治。第四條陽虛頭痛，百無一、二之證，至於眩運，不可與頭重混同立論。如體肥過食濃味醇酒，胃中必有痰飲，隨肝火升騰而作暈者，余每用二陳加梔、連、柴、芍、天麻、鉤藤而愈者多，虛則加參、朮，瘦人胸無阻滯，胃中無痰，可用地黃東加柏、芍之類。蓋此證因痰火者多，長沙治眩亦以痰飲為先也。頭重則屬濕者多，火盛者用清涼以降之。經云：邪之所在，皆為不足。上氣不足，腦為之不滿，耳為之苦鳴。是言邪乘虛客之，非竟言虛也。景岳於二證皆主上虛清陽不升，亦百中一、二耳。</p>
<p>（刊）頭項、脊背、腰膂、臂腿諸疼，有內傷、外感之別。內傷多虛，亦屬氣不宣行；外感多實，總由客邪阻氣。李晉恆別駕謂督是一身總氣管，知此可悟其治法矣。</p>
<p>問便云中氣不足溲便為之變，不可因溺黃而謂之火，強逼枯汁以斃人。葉氏謂妄用通利，則逼枯汁。如養陰清熱，何至逼枯？若經言變者，非云小溲黃赤也，統指二便異於常時也。小溲或不禁，或淋漓短少頻數，或清而多，大便或滑泄，或燥結：皆異於平日之調和，故謂之變。況勞倦、焦思、瀉利、酒色為虛火，若暑熱下痢、小溲淋痛乃邪火，當分別而治，不可云無火而用溫補以誤人。經言：邪之所在，皆為不足。因不足而邪客之為病。後人脫卻上文邪之所在句，竟言虛而用補，謬矣。大便亦要調和，若愈固者，乃燥結也，當濡養為主。或固結在老年，防有噎膈之患，不可云彌固彌良。愚謂大便固結，必胸腹舒泰，飲食能安，圊不努掙者，始為可喜。溏而頻解，解而腹中始快者，此《內經》所云：得後與氣，則快然而衰也。非痰飲內阻，則氣鬱不宣。即泄瀉，在溫熱、暑疫諸病，正是邪之去路，故不可一聞溏瀉，輒以為虛寒，而妄投溫補止澀也。須問其解之熱與不熱，色之正與不正，必不覺其熱，而稀溏色正者，始可斷為中氣不足也。更有癰疽、痘疹將發而吐瀉先作者，前輩皆不說明，故詳贅之。</p>
<p>問飲食謂得食稍安者，必是虛證，未盡然也。痰火證、蟲證皆得食稍安，而痰火證更有初服溫補極相安者。</p>
<p>其中消善食屬於火者，是實證矣，亦有火盛反不能食者，胃熱不殺穀也。更有陰液久耗，胃陽陡越之除中證，能食善飢，儼如消證，但脈必虛大，按之細軟無神，縱與大劑填陰，亦不救也。雖不多見，不可不知。至於熱證喜飲，寒證惡飲，人皆知之，而熱證夾濕夾痰者，亦不喜飲，或喜沸飲，皆不可誤指為寒也。喜飲而不多者，古人但以為陰虛，而不知亦有挾痰飲者。</p>
<p>問胸。葉氏云：胸腹脹滿，固不可補，不知飢飽，似脹非脹，是濁氣不清，但當理滯氣，不宜驟用參、朮，補住濁氣而為脹滿，經云：濁氣不降，則生　脹。即宜補者，須分氣血。虛而兼滯者，疏補宜兼。俗云虛不受補者，未知疏補兼行之法耳。愚謂胸次如天，天空則生氣流行不息，然虛痞可補之證，間亦有之，氣虛者宜溫補，陰虛者宜滋填。若痰飲凝聚，飲食停滯，及溫熱疫證，邪踞募原者，皆宜開泄為先，不但補藥忌投，即涼潤之品，亦在所禁。恐病患言之未確，醫者必手按其胸腹有無堅硬拒按，始可斷其邪之聚散，最為診要。更有內癰一證，尤當留意。</p>
<p>問聾。此證在傷寒為邪傳少陽，在久病為精脫。景岳顢頇而論，大是誤人。且考古更有耳聾治肺之法。一瓢先生云：金之結穴在耳中，名曰籠蔥，專主乎聽。故熱證耳聾，皆為金受火爍，治當清肺，不可泥定少陽一經，而再以小柴胡湯益其病也。</p>
<p>（刊）友人沈君辛甫患溫耳聾，四明醫人胡士揚用柴胡藥多劑，其聾日甚。胡謂進則病進，徑投補劑。後服清解，病愈而聾成錮疾，是肺絡之熱為補藥壅塞，竟無出路也。然景岳書之貽誤於後世，此猶其小者已。</p>
<p>問渴謂喜熱飲為中寒水虧。葉氏云：水虧則內熱，豈有中寒之理？凡喜熱飲，皆鬱滯不通暢，故得熱則快，得冷則遏。並非水虧也。若水涸精虧者，宜滋陰，反用熱藥，是殺之也。</p>
<p>（刊）渴喜熱飲、渴不多飲，溫熱證多有之，皆屬痰飲阻遏氣機。景岳書偏尚溫補，世多尚之。葉天士先生《景岳發揮》、尤在涇《醫學讀書記》、章虛穀《醫門棒喝》皆力辨其非，學人不可不讀也。</p>
<p>女子病首須問帶。蓋帶者，女子生而即有，故越人作女科稱帶下醫也。下多即為病矣。十二歲以外者，問其月事行否，未行而膚色淖澤者，雖逾笄不為病，設膚色憔悴，人不長成，是勞損也，已行之女與婦人，則詢其汛之遲速、血之紫淡，雖患外感，亦當問明　期遠近，然後審證用藥，庶無礙血傷胎之患。蓋　期有禁用之藥，胎孕有難憑之脈也。產後則惡露之多少，腹塊之有無，首宜究詰，然胎產諸證，筆難盡罄，總宜審問詳明，處方靈活，不可稍有執滯，庶不誤人。</p>
<p>（校）天地生機，皆在靈空。女子之象，離中虛也，故能孕育。若脂滿胞中者，不能有妊，此理之常也。</p>
<p>況胎元初結，月事即停，氣有餘為火，血有餘為水，火盛搏水則成痰，嘔吐腫滿諸病由此而生，補藥最宜慎用。古云「胎前無滯，產後無虛」是已。然有極虛之婦，受胎後即須培補，始能長養者，分娩時必須峻補，始能誕育者，既產之後，血氣必虛矣。丹溪先生垂大補氣血之訓，而竟不盡然者，以張景岳之偏尚溫補猶知其非，可見治胎產病之難也。且一人有一人之胎氣，荊人舉六子，皆二百七十六日而生，慶兒、雙兒、琳兒並殤，龍兒、華兒、如兒僉無夭相，是兒休之堅脆，不必在胎日數之多寡分也。故七、八個月生者亦育，十余月生者亦有不育。嘗見同胞數人，發膚悉白皙如羊者，斷非均於社日受孕，殆亦胎氣使然耳。又周縫人妻患經阻而腹脹漸甚，諸藥無效，年余如抱瓮、如鐵石矣。日夜呻吟，欲其夫以槌擊腹若擂鼓然，始覺稍舒。最後求老醫浦沛霖先生治之。浦診視良久，細詰病情，曰：買不相欺，愧未識其病也。容我歸去討究書籍，再為汝治。數日後果來復診，服藥仍不應。縫人終日捶妻之腹，不能成衣，醫藥力竭，遂聽之待死而已。至兩年余，忽舉一子，而脹病如失。其子甚短小，取名關保。余常見之，至十余歲而夭。胎孕之奇有如是者，誠非筆所能罄也。</p>
<p>（刊）　期有禁用之藥，世俗惟知禁用寒劑，因不知血分有火，或營分伏暑者，不但禁用熱藥，即溫動之品亦禁。宜寒宜涼，對證者並不禁也。第必取其有流利之性，而無凝滯之偏者為良藥耳。粗工泥於經產之禁，而不詳審證因。且古書每於方後注云，婦人加當歸。不知變通者，遂膠柱以鼓瑟。徐月岩令正，年逾四旬，暮春患痰嗽發熱。醫者詢知病當汛後，於荊、防發散中加當歸、薑、棗為方。服三劑，血隨痰溢，口舌起　如紫蒲桃者八顆，下唇右角腫凸如姆指大，色如黑棗，咽疼礙飲。或云瓜瓤瘟，或云蒲桃瘟，或云玳瑁瘟，或云捻頸瘟，或云翻唇疔，醫皆望而卻走。月岩追憶乙巳之病，浼余往視。口穢噴人，頰　如漆，舌紫而苔色如靛，臂斑或黑或藍，溲若沸油，渴呃多汗，脈形細澀，數夜無眠。此乃陰分素虧，熱伏營分，氣機郁結，痰阻上焦。詢其胸背，斑已遍身，幸而血溢汗多，毒邪猶有出路，故不昏陷，尚可望生。令取錫類散吹喉，並以童溺、藕汁、梨汁頻灌。隨用元參、丹參、紫草、花粉、銀花、梔子、鮮斛、大青、竹茹、枇杷葉、夏桔草、薔薇根、海　、煎調神犀丹。</p>
<p>兩劑後舌本轉赤，苔色見黃。四劑後血止咽松，脈轉弦數。六劑便行，而口穢始減，　平而唇腫亦消。八劑嗽平而苔退脈柔，斑回而痕如黑漆。始改輕清善後，徑愈。又內子月事素調，春仲患上齦右痛不腫，痛連額角，鼻亦右塞，目中出火，齒縫流血，苔黃滑而不渴，痛甚則肢冷面赤，口涎大流，胸次不舒，便堅溲熱，脈至緩滑，汛事逾期不至。亦是熱伏營分，痰阻氣機也。以小陷胸加元參、紫苑、菖蒲、竹茹、枳實、旋覆花，煎調神犀丹。四服便行，經至而瘳。聊附二案，以見大意。又張氏婦，年五十歲，自季夏患嘔吐，漸難飲食，食必膈痛，傾囊而出，夾以痰水，多藥罔效。至盂冬，汛愆一度，以後仍行而痛吐不已，人漸委頓，不能起榻，大便甚艱，咸謂噎膈已成。迨初春，胎墜而病若失。蓋其年逾七七，天癸未絕，既未停經而患痛吐，初不料為惡阻也。古云：「寧治十男子，莫治一婦人」，其以此夫？胎前最忌滲利，無濕者雖茯苓亦須避之。室女眼藥，禁用虎骨，恐初娩時交骨難開也。相傳人之胚胎，鼻先受形，而泰西書云：胚胎三十日具有眼模，六十日始有耳鼻。余按《佩　集》吉凶形兆謂之聯。　字從目。所云眼模，正　兆之初萌也。其言頗有理。惟嬰幾倒植在腹之說，恐未必盡然耳。</p>
<p>又沛翁令郎上林先生世其業。憶嘉慶己卯春，先府君病溫而大便自利，諸醫皆宗陶氏傷寒書者，悉用柴、葛升提下陷之邪，屢服不應。或云漏底證，漸進溫補，病日以劇，將治木矣。父執翁七丈荐上林先生來視，其年甚少。診畢曰：溫證也，殆誤認傷寒而多服溫燥之藥耶？幸而自利不止，熱勢尚有出路，否則早成灰燼矣，安有今日乎？即用大劑犀角、石膏、銀花、花粉、鮮生地、麥冬等藥。囑煎三大碗，置於榻前，頻頻灌之。藥未煎成之際，令先笮青蔗漿恣飲之。諸親長見方，相顧莫敢決。幸內有先慈主持，外仗金履思丈力排眾議，遂煎其藥如法灌之。一周時始竣，病即起色，因以漸愈。時雄年甫十二，聆浦言而心識之。逾二載，府君捐館，雄糊口遠游。聞上林先生以善用清涼，為眾口所爍，乃從事於景岳，而以溫補稱。枉道徇人，惜哉！切脈列於四診之末者，以脈之名目有限，而病之證候無窮也。證既不可以脈該，故先以可見、可聞者而審之，然後切脈之情，合證之形，四診相合，病無遁情。設有不符，必有其故，或從或舍，自有機宜。神而明之，存乎其人。</p>
<p>（校）上論看法。</p>
<p>此先大父遺稿，隨其意之所到而筆之，不分門類，故曰隨筆。先府君輯注未竟，亦遽棄養。升於醫學未嘗深究，是以不敢補注，敬為詮次，繕成清本，以待鐫云。嘉慶二十一年端陽後二日孫升謹校。</p>
<p>（刊）《全體新論》云：凡人一呼一吸合為一息。以人身本熱，呼者吐炭氣也，吸者接天地之生氣也。故屏息少頃，即怫鬱不安，必長噓乃定。人身百脈應血而動，以時表較之，每一呢，平人呼吸十八息，脈七十至或七十五至，孩提之年有百三十至者，老人有六十至或五十至者，婦女比男子約多十至。若以一人而論，企坐行臥，脈即不同：企比坐時快七、八至，坐比臥時快三、四至，他如飽快於飢，日快於夜，顧亦隨時變更耳。如行動、驚恐、酒醉之後，更無定至。此遍體皆然，不獨手足頸前始名為脈，但他處脈管有肉護藏，不易按摩，故但切於手足頸前也。今則獨切手脈，以手脈之下有骨乘墊，可以重抑輕按，可以對面望問，且伸縮便捷，左宜右有，取乎診察之便耳。江筆花云：切脈一道，不過辨其浮沉以定表裡，遲數以分寒熱，強弱以判虛實，其他則胸中了了，指下難明，且時大時小，忽浮忽沉，六脈亦難定準，故醫家謂據脈定證，是欺人之論也。雄按：《內經》云：形肉已脫，九候雖調猶死。夫至形肉已脫，九候尚調，則其形肉未脫之先，脈之平和更可知矣。即《難經》所云：氣口脈平而死者，生氣絕於內也。此人病脈不病，不可據脈以斷證也。（然脈病患不病，握臂可知其死期者，余於陳鐵橋學士、汪少海司馬皆驗之矣。）惟沈悅亭茂才次女，無病而見疾如風雨之脈，斷其半年必死，後年余診脈仍八至，今歸於范氏半年矣。脈之可憑不可憑者如此。然畢竟可憑處多，不過微妙難言，變化不易測耳。曾王父一言以蔽之曰：「神而明之」，學人其可不盡心乎？雄幼而失怙，未嘗學問，為繼先人志，專攻軒、岐之術，雖泛覽群書，而實折衷於此。其所以遲之又久而不即梓行者，非敢怠也，意欲補列諸證，詳加闡發，奈限於學識，困於奔走，因循至今，不遑纘述。然駒光過隙，懼或失傳，讀失舅氏弁言，輒為汗下。敬節其衣食之貲，間附以穴　之見，授諸梨棗，用質通方，舉一反三，莫云未備。咸豐二年壬子元旦曾孫士雄謹刊。</p>
<p>往歲俞博泉令弟東池之女，汛事如常，忽於三月中旬陡然血溢。鎮海汪某與大劑溫補藥數劑，血雖止而氣逆身熱。褚某改用滋填藥，不效。沈某謂為溫感，連服清解亦不應。邀余視之，形色已奪，喘汗便溏，脈數無倫，痰多食少，身熱時作，徹夜無眠。曰：急勞也，不可以夏。病家暨諸醫僉云：平素無病，縱使成勞，定可望延，萬或不救，亦須百日為期，何遽不可夏乎？余曰：《千金翼》炙甘草湯下明言危急者十一日死。</p>
<p>夫上損至胃，下損及脾，損及三臟，至速亦須百日。惟病情未露之先，人自不覺其內損，故一旦卒發，遂危急而不可救藥也。然其病發之前，脈必有征，所謂脈病患不病之行尸，即病情未露之稱耳。病家不信，復招汪某治之。亦以為血止受感，進藥三劑而殞。果立夏前一日也。前年冬，沈煥章令郎患恙，醫作冬溫治。數日後，忽形脫神散。其居停吳君曲城拉余往視，脈色皆奪，略無感象。曰：急勞也，危期在十一朝乎？已而果然。此雖一時偶中，然急勞證余案中屢載，而《千金翼》所言人猶疑之，謂虛勞無旬余之證，殆未以行尸之說互參耳。</p>
<p>門人問及此條，適茲刊將竟，乃附識之。亦有但憑一脈，不察病情，因而絕人長命者，尤難縷述。噫！循名而不責實，誤盡天下蒼生，醫其一事也，良可痛哭已。旃蒙單閼上元日士雄補筆。</p>
