<header data-type="book">
<h1>咽喉秘集</h1>
</header>
<h2>總論</h2>
<p>夫左為咽，屬胃，右為喉，屬肺。乃一身百會之關，呼吸出入之門。內經云：一陰一陽，結而為痹。一陰者，手少陰君火心之脈氣也。一陽者，手少陽相火三焦之脈氣也。二脈共絡於喉，氣熱則內結，結甚則腫脹，脹甚則氣痛。痹者，不仁之謂，此喉痹之所由名。而乳蛾、喉閉、纏喉等症，皆痹類也。有風、寒、火、濕、毒、虛之別，或風火相搏，或寒暑相聚，其症變幻不一。如漫腫而多痰，風與濕也。痰白而牙緊，風寒也。紫色不腫而爛者，風伏寒也。紅腫而脈浮者，風火也。脈沉實，爛而不腫者，毒也。脈細數而浮者虛火也。脈細而緩者，虛寒也。六者之脈象可類推也。大凡初起之症，診右寸洪緊，肺風也。兩關浮數，胃火肝風也。左寸浮洪，心火也。右寸沉遲肺伏寒也。右寸沉細，肺伏熱也。右尺洪大，三焦火旺也。左尺浮洪而有力，腎虛火炎也。六脈大略論治，俱可用六味東加減。症若囚險脈宜細診，再察形窮原，對症用藥，自然可愈。經云：「神聖功巧，不過望、聞、問、切，細心推詳，庶無誤耳」。</p>
<h3>喉症分經</h3>
<p>喉有二孔，左為咽，屬胃，納食之關。右為喉，屬肺，納氣之關。口內：上　屬胃陰，下　屬脾陽。舌之中屬心，四圍屬脾，舌根亦屬心，小舌又名「帶丁」屬胃，左右舌根屬肝。外兩耳垂下亦屬肝。牙根：上屬胃，下屬脾。舌苔：白主寒，黃主熱，焦熱甚，黑熱極。凡舌苔不單論色，但有津者非真熱，不可概投涼藥，宜引火歸原。大舌邊乃脾火，可用清涼之劑。喉癰部位屬肝，再連內寸許，或爛或腫，俱屬脾胃火毒之症。結毒亦有之，但結毒者，兩關脈必沉，若兩關脈浮，非結毒也。此分經大略。</p>
<h3>咽喉治法要論</h3>
<p>送者當審其病由，參之時令，必須大涌其痰。去痰之法，先備溫水，使病患漱口。如點刺或吹藥，令其垂頭流出痰涎。俟痰涎少止，仍以溫水頻頻漱之。如虛弱人及病勢重者，須要著人扶好，或用銀針刺其患處。風熱則散之，火症則清之，甚者下之，陰寒者溫之。若初起驟用寒涼之藥，則上熱未除，中寒復生，其毒乘虛而入，即喘不休，死不救矣。大抵風熱症十之七、八，火症十之二、三，寒症十無一、二也。病昏沉，痰多氣急，飲食不進，發熱不退，牙關緊閉，脈息微弱者，症為重。人事不省，痰氣上攻，聲如雷鳴，嗆食眼張，天柱倒陷，面色焦黑，鼻如煙煤，張煽不止，目睛突出，汗出如雨，咽喉干痛，聲啞無痰，手足麻，足麻至膝蓋，發喘及呃，脈息如絲，乃死症也。臨症用藥，生死反掌，醫者不可懷希異之心，故意延挨，病者不可起懈怠之念，以致決裂。古云：走馬看咽喉，不待少頃者，即此之謂也。</p>
<p>遇症用藥後，痰少腫退，即愈。如已潰，用藥後越兩日即可進飲食者，三日後無不收功。</p>
<p>喉癰用藥後，患處要變紅色，知癢痛，有津液潤澤者，可治。用刀、針須向自己（醫者方向）勾來，不可向病患口內剔去。</p>
<p>咽喉忌下刀之地有四處：嚨化，啞門穴，喉關兩溝上，舌下筋。</p>
<p>若用刀，其刀頭上須蘸巳藥或，亥、申藥，庶不作痛。</p>
<p>臨症先診其脈象輕重，後看其患處深淺，若脈絕、脈怪、脈死，則毋須用藥矣。因毒已入腹，非藥力所能挽回也。</p>
<p>纏喉風及陰虛喉癰二症最險而難治，至危而不易識，纏喉風內外無形，其患在關內，上面有紅絲，如未入心，尚可用藥；如已入心，則不治。凡遇此症，宜早治，在一日半日之內，可保無虞。陰虛喉癰如癩蛤蟆皮形，有青白點子，高低大小狀如暑天痱子，其症總危，延日最久，或一年半載而死，或一月半月而死。如起病數日之前治之，十症可得九愈。看喉腫處其色變紅者，即成膿之候，可不刺而自潰也。</p>
<p>喉症用糯米泔水或甘桔湯或薄荷湯，俱要溫和為主，山楂焙燥磨細末，煎藥內可加一撮，乃消腫去毒，治咽喉之要藥也。</p>
<p>病患壯者，藥可猛；弱者攻宜緩。</p>
<p>刺針不可傷小舌要緊。</p>
<p>夜晚看症宜倍加細心，藥用六味湯，天明復看再為加減。</p>
<p>凡針舌下兩邊青筋，血紅生，血黑死，宜服清膈、消痰、解毒之劑。</p>
<h3>四絕症</h3>
<p>走馬喉風。</p>
<p>鎖喉風。</p>
<p>走馬牙疳。</p>
<p>纏喉風。</p>
<p>此皆凶險之症。若不吐不瀉，針之無血，藥不能入，皆為不治，慎之！慎之！</p>
<h3>十六絕形</h3>
<p>舌卷囊縮。角弓反張。油汗如珠。十指無血。</p>
<p>啞喉嗆食。喉干無痰。吐血喉癰。六脈沉細。</p>
<p>聲如鋸拽。大便不通。鼻扇唇青。天柱倒塌。</p>
<p>脈細身涼。兩目直視。痰壅氣塞。喉菌不治。</p>
<h3>針刺穴位</h3>
<p>頭面：頰車穴。在耳垂下八分，足陽明胃經。</p>
<p>兩手：少商穴。在大指內甲角，手太陰肺經。</p>
<p>中衝穴。在中指內甲角，手厥陰心包絡經。</p>
<p>少衝穴。在小指內甲角，手太陽小腸經。</p>
<p>商陽穴。在食指內甲角，手陽明大腸經。</p>
<p>關衝穴。在無名指外甲角，手少陽三焦經。</p>
<h2>吳氏咽喉二十四大症歌訣</h2>
<p>（今存二十二症）</p>
<h3>喉痹</h3>
<p>鬱火攻兮喉痹成。或生左右小棋形。</p>
<p>鮮紅酒毒光如鏡。痹在喉間風熱勝。</p>
<p>其症形小而圓，初起或內消或針刺皆可。如其色紫紅，平塌光如鏡者，不可刺，宜內消。因其毒發於本源故也。</p>
<h3>喉閉</h3>
<p>積熱風痰喉如閉。因生血泡在喉間。</p>
<p>忽然壅塞櫻桃似。點刺流涎病即安。</p>
<p>其症宜發表清熱，先用針點，後吹子、丑藥。</p>
<h3>纏喉風</h3>
<p>惡寒惡痛名陰毒。面外無形氣短促。</p>
<p>胸前紅腫足多寒。若見紅絲針貴刺。</p>
<p>用藥宜發表，吹藥先用巳藥。若見紅絲即刺斷，再用子藥。</p>
<h3>嗆喉風</h3>
<p>此症謂之飛絲毒。日中發泡丑藥覆。</p>
<p>燥極無痰熱在心。忽然嗆食終非福。</p>
<p>先用針挑破血泡，後上丑藥，兼吹子藥。煎藥宜清熱祛痰。</p>
<h3>啞喉風</h3>
<p>啞痹喉症犯咽膈。口不言兮牙關塞。</p>
<p>面紫唇青清涕流。風疏痰降即無厄。</p>
<p>其症牙關緊閉，先用巳藥，後用申藥，前後抹之，風痰去盡為度。煎藥先發表後清熱。</p>
<h3>弄舌喉風</h3>
<p>體發熱兮口內腫。舌出頻將兩手弄。</p>
<p>筆（直）針患處去痰涎。解毒疏風清熱壅。</p>
<p>用三棱針刺破少商穴，先用巳藥，後用子藥。</p>
<h3>爛喉風</h3>
<p>爛喉風症頻頻熱。唇若塗朱口內裂。</p>
<p>看其患處淺和深。藥宜子丑兼調攝。</p>
<p>子丑二藥和勻上之，再用巳藥收功。煎藥宜清熱。</p>
<h3>單乳蛾</h3>
<p>喉內腫如桃李形。或左或右單蛾名。</p>
<p>此症早治可速退。痰消毒散自然平。</p>
<p>此症不論已成未成，皆可刺，其形大而長，初用巳藥，後用子丑二藥收功。煎藥先發表後清熱。</p>
<h3>喉癰</h3>
<p>七情郁結病成癰。六日之內可刺膿。</p>
<p>不治須防成冷痿。巳申藥到定收功。</p>
<p>其患在喉嚨正中，到四五日後可刺，早刺防復腫。未刺前及未潰前，吹藥先用巳藥，復用申藥。</p>
<p>潰後用子、丑二藥。煎藥先發表後清熱。</p>
<h3>牙疔</h3>
<p>太陰脾土足陽明。二火交攻疔即成。</p>
<p>患在牙齦如豆大。挑針點破即安寧。</p>
<p>先用申藥，後用子藥。</p>
<h3>牙宣</h3>
<p>此症起時因胃熱。壅而宣露常流血。</p>
<p>藥吹酉未即能除。清胃煎來功奏捷。</p>
<p>先用子藥，後用酉藥未藥二種止血。煎藥宜清胃火。</p>
<h3>木舌</h3>
<p>舌病心經受風熱。忽然腫破口難說。</p>
<p>看時左右共宜針。藥用桅連火氣滅。</p>
<p>吹申藥，看紫色處用小刀點之出血，後吹子藥。</p>
<h3>重舌</h3>
<p>蓮花之症看如何。三舌攢在舌底　。</p>
<p>戌藥頻搽宜更點。清心瀉火莫蹉跎。</p>
<p>用申藥吹之，不退，再用戌藥。煎藥宜清熱解毒。</p>
<h3>重</h3>
<p>體總不熱獨心嘈。舌上生來似小桃。</p>
<p>藥用黃連解毒飲。吹宜冰片不須刀。</p>
<p>用子藥吹之。</p>
<h3>走馬牙疳</h3>
<p>小兒疳症屬於脾。黑腐沿開臭不宜。</p>
<p>子丑合參兼卯藥。穿腮落齒總難醫。</p>
<p>先用米泔水洗淨或溫水亦可，用子、丑藥和勻敷全。如不應，乃險症也。煎藥用解毒。</p>
<h3>痧痘口疳</h3>
<p>痘余痧後口生疳。爛在牙齦痘毒傳。</p>
<p>若是見痧生滿口。須從心胃二經參。</p>
<p>吹子、丑、卯藥，煎藥宜瀉心胃二火。</p>
<h3>雙乳蛾</h3>
<p>雙蛾兩兩生喉間。關上輕兮關下難。</p>
<p>氣吹好似紅李子。輕消重刺去風痰。</p>
<p>形與單蛾同，不論已成未成皆可刺，先吹巳藥，不退，再點子藥。煎藥先發表後清熱。</p>
<h3>螞蝗疔</h3>
<p>疼而微白螞蝗疔。　上生來韭菜形。</p>
<p>內不腫兮發寒熱。速宜針刺自然平。</p>
<p>用申藥點去惡血後，上子藥。煎藥有表發表，無表解毒瀉火。</p>
<h3>連珠風</h3>
<p>兩溝深處患連珠。初起沿開白色余。</p>
<p>日久漸成八九點。藥和子丑病當除。</p>
<p>和勻子、丑、巳藥吹之，兼上寅藥。煎藥宜清熱解毒。</p>
<h3>陰虛喉風</h3>
<p>癬症原來因損肺。斑生苔癬若蝦皮。</p>
<p>時時發熱頻頻嗽。面赤聲嘶病可慮。</p>
<p>其症陰虛，不宜發表，須用滋補兼解毒。上半天痛甚者乃氣虛，下半天痛甚者乃血虛。吹卯藥並上丑、酉二藥。如日久不減者不治。</p>
<h3>楊梅喉癬</h3>
<p>楊梅結毒癬由生。片白喉中穢氣聞。</p>
<p>白色變黃才可治。酉隨子丑共追尋。</p>
<p>和勻子、丑二藥吹入，後用酉藥收功。煎藥宜用解毒。</p>
<h3>切牙風</h3>
<p>切牙即是鎖喉風。毒在牙齦胃火攻。</p>
<p>不治恐成牙漏症。關開辰藥可收功。</p>
<p>先用辰藥擦牙齦縫中，如腫不退，再用子藥。煎藥宜清熱解毒。</p>
<h2>張氏咽喉七十二症治</h2>
<h3>帘珠喉</h3>
<p>帘珠喉滿喉如白網細狀，兩邊微腫，根有白點帶紅色，小舌紅腫，咽水大痛，此症因鬱積熱毒而發，其脈兩寸浮洪，兩尺亦數大而洪，此上盛下虛之症也。宜清火，用六味東加鹽炒黃柏六克、酒炒黃芩六克、鹽炒知母六克、石膏十五克、山豆根六克、鹽炒玄參六克。山梔三克、木通三克、生地六克，服一劑，來日再加連翹十克、紫花地丁十克、熟地六克、丹皮六克、草河車六克、川連三克、金汁一盅或煎柏枝汁一盅沖服乃妙。外吹藥，六、七日可愈。</p>
<h3>嗆食啞喉</h3>
<p>此症因伏邪在肺，聲啞嗆食，六脈遲細，屬陰症。余曾治一人，年二十，患此症三年，飲食少進，病在將危，余診視再三，病雖久，脈尚有力有根，或可治。用六味東加麻黃九克、桂枝三克、蘇葉十克、木通三克、細辛三克、白芷三克、訶子六克、皂核九克、薑炒半夏三克，連服至六日，病雖退而聲啞未除，換加桔梗三十克、訶子二十一克、甘草二十一克、薄荷三克，以上俱童便炒，麻黃三克，煎數沸，噙漱徐徐咽下，服十劑乃愈，後服補藥健脾。</p>
<h3>內外腫喉</h3>
<p>此症生於喉關之下，陰陽相結，內外皆腫，或有爛斑火鬱之症，用六味東加炒黃芩六克、熟軍十五克、海浮石六克，外吹藥，來日加丹皮四克、生地六克。酒炒黃芩六克、生石膏九克、炒山梔三克、木通三克、針刺少商、商陽，兩手四穴。如背寒加羌活，胃泛加粉葛根、柏枝汁，亦可漱之。</p>
<h3>風熱喉</h3>
<p>此症感風熱而起，滿喉發細紅點，根帶淡白，舌下兩邊三、四塊，六脈洪緊，用六味東加鹽炒玄參三克、酒炒黃芩六克、山梔三克、花粉三克，一服可愈。外用吹藥，兼服八仙散。</p>
<h3>紫色虛喉</h3>
<p>喉間紫紅，久之變爛，如生漆色，因初起早服寒涼之藥故也。此症肺胃伏寒，平而不腫，飲食難進，吐出乃腐肉者宜急治之，如誤認為火熱之症，反以「三黃」、犀角、羚羊角等藥，則釀成死症矣。余見此等紫色之症，不論名色，喉間絕無影形，滿喉皆紫，脈緩身涼者，用六味東加細辛一克半、葛根、蘇葉、白芷、川芎、麻黃各三克服後紫變為紅，換加鹽炒玄參三克、酒炒黃芩六克、花粉六克，即愈。</p>
<h3>喉癬</h3>
<p>此症因腎虛火旺，發癬於喉，不腫而微紅，上有斑點，青白不一，如芥子大或針孔綠豆大，每點生芒刺，入水大痛，喉間聲啞，咳嗽無痰，六脈細數者，用知柏地黃湯兼四物東加麥冬、炒玄參、鹽炒女貞子、枸杞、人參、洋參。二參或前藥不用亦可；首烏、阿膠各六克，十服後用附桂八味丸加女貞、枸杞、二參，俱鹽炒，淡鹽湯下，每服（劑）十二克。如前知柏地黃湯、四物湯服後不應，酌加附、桂，每服各六克，冷服。此引火歸原之法也。如六脈洪數，恐難脫體，外兼用吹藥治之。</p>
<h3>喉疳</h3>
<p>此症因腎虛火旺，沸騰上部而發。喉間上　有青白紅點，平坦無刺，故名喉疳。聲不啞，不咳嗽，兩尺脈虛者是也。先用六味湯去荊、防、蠶三味，加鹽炒玄參三克、酒炒黃芩六克、丹皮六克、生地六克、鹽炒山梔三克、鹽炒水拌再炒女貞四克、鹽炒知母四克，男加龜板十五克、女加別甲十五克，服五劑或十劑。如不愈，再加附、桂各九克，另煎入藥，冷服，愈後合附桂八味丸加玄參、知母、女貞、枸杞，各藥俱鹽水炒，服一料可愈，外用吹藥。</p>
<h3>飛揚喉</h3>
<p>此症由風熱上壅上　。紅腫氣不能通，咽物不下，從小舌中飛揚逐漸至口，此系凶惡之症。急針患處出血泄氣，吹藥，內服六味東加連翹、葛根、黃柏、山梔、木通各三克，生石膏十二克，一、二服可愈。</p>
<h3>虛啞喉</h3>
<p>虛啞喉喉間不腫，兩邊關內少有紅點，聲啞不明，牙關不開，此症乃內外風火，因喜食酸澀之物，肺氣不清故也。用六味東加細辛九克。（按：原文細辛三錢，分量過重，可能是三分之誤，或者有獨到之處，細辛臨床應用一般以不超過三克為宜。）蘇葉三克，服一劑聲音不啞，換加生地、丹皮各六克，鹽水炒山梔、木通、花粉各三克，二服愈矣。</p>
<h3>聲啞喉</h3>
<p>聲啞喉為寒伏肺腑，不腫不紅，又無爛點，總覺干痛，難於飲食。用六味東加蘇葉、麻黃各六克、細辛一點五克。二服後，麻黃、蘇葉各減半。再二日，換加花粉、黃芩、羌活、薑炒半夏各三克，皂核二十粒，訶子六克、桔梗十五克、甘草十五克，以上三味皆拌童便炒，四、五服乃愈。初起不可用涼藥，此症非三、四天不能痊愈。</p>
<h3>爛痧喉</h3>
<p>爛痧喉發於傷寒之後，表邪未盡，其喉關內腫爛，右關脈急，肺脾之症可知。用六味東加酒炒黃芩三克、花粉三克、鹽炒玄參三克、葛根三克、生石膏八克、淡竹葉六克、草河車六克，連服四劑，如爛斑不褪，加生大黃九克，津化八仙散、玉樞丹，每服二克，三服可收功。</p>
<h3>雙乳蛾</h3>
<p>雙乳蛾感肺胃二經之熱而發，生於關口上部兩邊，如櫻桃大，肺胃之症也。身發寒熱，六脈弦數。先針少商、商陽，兩手四穴，或挑破患處出血亦妙。用六味東加陳皮、海浮石、蘇葉、羌活各四克，兩服可愈。如腫不退，六脈有力，加大黃九克。</p>
<h3>單乳蛾</h3>
<p>單乳蛾生於雙蛾地部之旁，或左或右，六脈浮數，因傷寒後邪未散盡，身熱惡心，恐見痧疹，用六味東加葛根三克、蘇葉三克、羌活六克、鮮芫荽十五克、（無鮮者用芫荽子十克，）一服退半，來日再加酒炒黃芩六克、花粉三克、山梔、赤芍、木通各三克，即愈。</p>
<h3>爛乳蛾</h3>
<p>爛乳蛾因肺胃鬱熱，紅腫爛斑，大痛難食，六脈弦緊，宜急針少商、商陽，兩手四穴，用六味東加葛根六克、蘇葉、鹽炒玄參各三克、炒黃芩六克、衝柏枝汁一杯，漱喉間，徐徐咽下，再用八仙散一服津化下；來日去蘇、葛二味，加山梔、木通、生地、丹皮、海浮石、花粉各六克，脈大有力，加生大黃九克，脈虛用八仙散同柏枝汁照前吃法，三、四日可愈，如聲啞背寒，六味東加葛根六克、蘇葉三克、羌活一克、細辛〇點九克治之。</p>
<h3>風寒蛾</h3>
<p>風寒蛾因風寒而起，腫大如李，頭不能下垂，氣塞不通，寸關之脈浮緊，肺胃之症也。針少商、商陽、少衝，兩手六穴，用六味東加蘇葉十克、羌活三克，一服可愈。若早用涼藥，則不能退矣。</p>
<h3>白色乳蛾</h3>
<p>白色乳蛾腫塞滿口，身發寒熱，六脈浮弦，此肺受風寒之症也。六味東加蘇葉六克、細辛〇點九克、羌活六克，一服可愈。</p>
<h3>石蛾</h3>
<p>石蛾因胎生本原不足所致，生於乳蛾部位，少進半寸。初生不可用涼藥，不可動針刀。此乃肝火老痰結成惡血，凡遇辛苦即發。用六味東加貝母三克、生地六克、牛蒡子三克、麥冬三克、木通三克，服四、五劑；如不退，去六味，用生地四克，丹皮三克、象貝母三克、甘草、牛蒡子各三克、桔梗二克、麥冬三克、木通二克、薄荷六克、燈心草一克，服以愈為度，外吹退腫藥。</p>
<h3>伏寒乳蛾</h3>
<p>伏寒之症其乳蛾色紫，治法同紫色喉癰（見前紫色虛喉）。如孕婦喉癰，慮服藥有礙，將藥煎濃，漱喉吐出，亦可愈。</p>
<h3>爛喉痹</h3>
<p>爛喉痹因肝胃熱毒，外感時邪而發，形如花瓣，爛腫白斑，痛叫不食，目晴上泛，六脈洪大，速針少商、商陽、關衝、少衝，兩手八穴，有血生，無血死。用六味東加生大黃六克、鹽炒黃芩六克、入酒少許，玄參六克、鹽炒生地六克、丹皮三克、海浮石六克、山梔三克、木通三克，兩服後去大黃，用六味湯再加生石膏十克、訶子四克、整柏子仁用柏枝汁制六克，四服可愈，並服八仙散六克，津化下。此症若脈細身涼不治。</p>
<h3>白色喉痹</h3>
<p>白色喉痹因肺胃受寒，脈遲身熱，用六味東加細辛〇點六克、羌活六克、蘇葉、陳皮各三克，二服可愈。</p>
<p>若變紅色干痛，去前四味，換加山梔、木通、酒炒黃芩、生地、黃柏各三克，痰多加海浮石、半夏、花粉各三克。</p>
<h3>寒伏喉痹</h3>
<p>寒伏喉痹為肺經寒重，色紫亦不大腫，脈緩，若誤服涼藥，久之必爛。凡遇紫色者不可作火治，用六味湯加細辛一點五克、麻黃、桂枝、蘇葉、栝蔞、訶子、牛蒡子各三克。甚者吐出紫血塊，治法亦同未爛者，加蘇葉六克、細辛一點五克、柴胡、海浮石各三克，腫與不腫同治。</p>
<h3>雙喉痹</h3>
<p>雙喉痹生於上　關內兩邊，形如欖核，痛而難食，胃經積熱所致，或發寒熱，兩關脈洪大者是也。速針患處或少商穴亦可，先用六味湯一服，來日再加黃芩、山梔、木通、炒玄參各五克，一服可退。爛者不可針，但於患處用吹藥。</p>
<h3>單喉痹</h3>
<p>單喉痹或左或右，治法同雙喉痹。</p>
<h3>淡紅喉痹</h3>
<p>淡紅喉痹腫似雞子，飲食不下，身發寒熱，眼紅嘔吐，恐有斑毒在內，急針少商、商陽、關衝、少衝，左右八穴，或患處挑破，用六味東加蘇葉、羌活、葛根各六克、鮮芫荽十五克，服一劑，滿身發出痧疹，嘔吐即止。或身熱不退，喉外亦腫，此內火外泄也，用六味湯換加生大黃六克、葛根、黃芩、山梔、玄參、花粉各六克、生石膏十五克、滑石六克，二服後去大黃、石膏，再服四、五劑可愈。有爛斑用八仙散一服津化下，兼服柏枝汁。</p>
<p>此症因傷寒時邪未消之故，兩關脈沉細，兩寸尺脈虛數者是也。</p>
<h3>走馬喉痹</h3>
<p>走馬喉痹內外俱腫，此系急症，肝脾火閉不通而為痹，或發寒熱，脈洪大者生，沉細者死。用六味東加葛根六克、柴胡三克、細辛一點五克，漱之，再加皂角刺六克、歸尾六克、赤芍六克、草河車六克、生軍十五克，痰多加海浮石九克、製半夏六克，身熱惡寒加羌活三克、蘇葉三克，急刺少商、商陽、關衝，兩手六穴，血多為妙。</p>
<h3>內腫鎖喉風</h3>
<p>內腫鎖喉風由肺胃兩經陰陽相結，內塞不通，外無形跡，喉內多痰喘，先用灌吐法（見下面纏喉風），再用六味東加麻黃六克、生軍十五克、細辛三克、蘇葉六克、桂枝三克、羌活六克，煎數沸服，或瀉或吐為妙。</p>
<p>如不吐不瀉，針少商、商陽、關衝、曲池、合谷，左右十穴，有血者生，無血者死。左右關寸脈弦緊洪大者生，沉遲者死。吹吊痰藥。</p>
<p>曲池穴在肘曲橫紋頭臂之外側。合谷穴在虎口背側大指與食指合界之端。</p>
<h3>纏喉風</h3>
<p>纏喉風因肺感時邪，風痰上壅，陰陽閉結，內外不通，如蛇纏緊，關下壅塞，甚者角弓反張，牙關緊閉，先用開關藥吹鼻擦牙，以吐為度，再速針頰車，左右兩穴，艾灸數壯，或用雞蛋清沖白礬灌之。以上諸法如不吐，再針少商、商陽、關衝、少衝、少陰，有血為度，無血不治。用六味東加生軍三十克、麻黃、羌活、蘇葉、訶子各六克，煎灌服，或瀉或吐皆妙。如不吐，即針之，針而無血，六脈沉細者不治。吹用膽礬去痰藥。</p>
<h3>匝舌喉風</h3>
<p>匝舌喉風生於喉之上下兩邊，迫於小舌，有泡，或紅或紫，外臉皆腫，喉內不腫，舌根粗大，此惡症也，痊者甚少。用六味東加黃連三克、黃芩六克、生軍十二克、連翹六克，沖玉樞丹三克，急進三、四服，或有可生。如牙關黑腫，齒落頭搖，不治。此症乃肺肝積毒所致。</p>
<h3>虛爛喉風</h3>
<p>虛爛喉風因本源不足，虛火上炎，生於喉之關內，上下紅色白斑，痛爛不腫，六脈細數是也。初起用六味湯加鹽炒玄參六克、酒炒黃芩六克、炒山梔、花粉各三克、生地十克、丹皮六克，兩服後去六味東加鹽炒知母、黃柏各三克，服五劑，如兩關脈大，作結毒治，外吹藥，並服八仙散。</p>
<h3>白色喉風</h3>
<p>白色喉風因寒包火，伏於肺經，白而不腫，上有紅紫爛斑，脈象不數，身熱畏寒，火欲外發，用六味東加葛根六克、麻黃三克、蘇葉三克、柴胡二克、花粉四克、桂枝、羌活各三克，一、二服，兼八仙散一服，津化下。</p>
<p>患處變紅色換加鹽炒玄參六克、酒炒黃芩六克、炒山梔、木通各三克，兩服可痊愈。紫色喉風同此治法。</p>
<h3>酒毒喉風</h3>
<p>酒毒喉風因醇酒濃味所致，生於關內，紅腫痰多，咽物不下，肺脈獨遲，兩關皆大，用六味東加生甘草三十克、葛根三克、海浮石九克、花粉六克、枳　子九克、山梔三克，煎湯嗽之，來日再加鹽炒玄參、生地、丹皮各六克，四服可痊，並吹退腫藥。</p>
<h3>勞碌喉風</h3>
<p>勞碌喉風，肝腎兩虛，發於關內，滿口有紅點，根白不腫，常有血腥氣，勞碌即發，脈象數而中空為芤脈是也。用六味東加鹽炒玄參六克、鹽炒知母六克、生地六克、丹皮、木通各三克，來日再加連翹、酒炒黃芩、花粉各三克，山梔三克。兩日後去六味湯換煎方，鹽炒玄參六克、女貞子四克、生地四克、麥冬四克、炒黃芩三克、丹皮六克、枸杞六克、龜板九克、生首烏十五克、生甘草三克，二服可愈，外吹消散藥。</p>
<h3>酒寒喉風</h3>
<p>酒寒喉風因酒後受寒，關內兩邊平而不腫，有淡紅塊四、五處，咽物覺痛，身無寒熱，六脈洪大。用六味東加花粉六克、枳　子六克、酒炒黃芩六克，葛根三克，兩服可愈。</p>
<h3>腫爛喉風</h3>
<p>腫爛喉風因風火內熾，肺胃脈洪數，用六味東加葛根、花粉各三克，如紅爛不退，藥不能入，再用六味東加淡豆豉。木通、山梔、鹽炒知母各六克、花粉、當歸、柏子仁各三克、丹皮六克、生地四克、海浮石九克、柏枝汁一杯沖藥服，五、六劑而安，外吹消散藥。</p>
<h3>肺寒喉風</h3>
<p>肺寒喉風因肺受重寒，生在關內下部兩邊，如扁豆殼樣，平而不腫，大痛難食，不穿不爛，畏寒怕冷，右寸關弦緊，用六味東加羌活、蘇葉各六克、當歸、柴胡、牛蒡子、桂枝各三克、細辛一點五克，兩服可愈。</p>
<h3>辛苦喉風</h3>
<p>辛苦喉風因日夜勞苦而發，不腫不太紅，但微紅而痛，小舌左右常出血，上部之脈洪緊。用六味東加鹽炒玄參、酒炒黃芩各三克、山梔六克、木通三克、連翹六克，火重者加生地六克、鹽炒知母六克、丹皮、澤瀉、花粉各三克，三服可愈，外吹消散藥。</p>
<h3>淡紅喉風</h3>
<p>淡紅喉風由肺胃感冒風邪而發，腫連小舌，喉塞不通，聲音不清，右手關脈弦緊，宜針少商、關衝、少衝、兩手六穴，急者患處亦可挑破，用六味東加羌活、蘇葉、葛根各六克，一服可愈。</p>
<h3>伏寒喉癰</h3>
<p>伏寒喉癰因積寒在內，外感時邪而發，其色紅腫或帶紫色，脈浮不數，用六味東加羌活、葛根、草河車、穿山甲、赤芍、歸尾各三克、細辛一點五克，兩服後去羌活、葛根，加山梔三克，五日可愈。</p>
<h3>腫爛喉癰</h3>
<p>腫爛喉癰因脾家積熱而生，紅腫潰爛，兩手關脈洪大者是也。針少商、商陽、關衝、少衝，兩手八穴，血多為妙。先服八仙散，放舌上津化下，再用六味東加鹽炒玄參六克、鹽炒黃柏三克、酒炒黃芩三克、生大黃九克、山梔、木通各三克、草河車六克，煎服，瀉過，去大黃再服，三日後用十八味神藥、柏枝汁咽漱即愈，外兼用吹藥。</p>
<h3>淡白喉癰</h3>
<p>淡白喉癰因肺脾受寒，其色不紅，若用涼劑，七日之內必成膿，有膿即針破。初起腫，針少商、商陽，兩手四穴，出紫血，用六味東加蘇葉、赤芍、歸尾各五克，一服加穿山甲、皂角刺、草河車各六克，再服可愈。此症六脈緊，身發寒熱者是也。</p>
<h3>大紅喉癰</h3>
<p>大紅喉癰為脾肺積熱，其色鮮紅，腫脹關內，六脈洪大，身發寒熱，急針少商、商陽，或刺患處出惡血，用六味東加山梔、木通各三克、海浮石、生大黃各九克、歸尾、皂角刺、草河車各九克、赤芍、花粉、黃芩各四克，先將十一味煎二、三十沸後，下六味湯同煎，兩服可安。</p>
<h3>聲啞喉癰</h3>
<p>聲啞喉癰因受寒太重，肺脈閉塞，以致聲啞，飲食難進，或有爛斑，右寸脈沉澀，脾胃脈洪大，畏寒身熱，用六味東加羌活六克、葛根、蘇葉各三克，漱之，二日後聲音不啞，換加花粉三克、乳香二克、葛根、酒炒黃芩、歸尾、赤芍、穿山甲、皂角刺各九克，再服八仙散、玉樞丹，兩服可愈。</p>
<h3>單喉癰</h3>
<p>單喉癰或左或右，身熱惡寒，脾胃之症也，有紅點風熱，無紅點風寒，脈象如前。六味東加蘇葉、羌活各六克，漱咽一服，來日再加赤芍、歸尾、山豆根、山梔各四克，服一劑可愈。</p>
<h3>外症喉癰</h3>
<p>外症喉癰生於頜下，天突穴之上，內外皆腫，飲食有礙，初起無痰涎，內不見形跡，此風毒之癰也。六味東加黃芩、皂角刺、山甲、歸尾、赤芍、草河車各六克，紅花、葛根各三克、乳香二克，連三服，以消為度。已成出膿必成　管。用十全大補湯收功。</p>
<h3>兜腮喉癰</h3>
<p>兜腮喉癰生於腮下，其名「懸癰」，因鬱積寒氣而發，外用灸法二壯，用六味東加山甲、歸尾、皂角刺、川芎、白芷各三克、升麻一克、紅花、乳香各二克、以消為度，有膿針之，若成　管，多用參、苓（　）內托，或可收功。</p>
<p>此症不可輕意疏忽。</p>
<h3>舌上癰</h3>
<p>舌上癰生於舌中心，如梅子大，不能言語，此症熱入心包絡而發，左寸脈宜洪大數，不宜細緩。紅腫可治，黑者不治。六味東加川連三克、連翹、草河車各十五克、生軍十二克、地丁九克，外吹牛黃消散藥，以愈為度。</p>
<h3>舌下癰</h3>
<p>舌下癰乃脾腎積熱而發，然舌下有金津、玉液二穴，通於腎經，水枯方生此症，診其左尺洪數者是也。六味東加生地、草河車各六克、葛根、花粉、丹皮各三克、玄參六克，兩服，用十八味神藥收功，吹藥如前。</p>
<h3>上癰</h3>
<p>上　癰有如桃核掛下，不能飲食，因肺家炙　之毒積久而發，宜用解毒之劑加草河車九克、石膏十五克、地丁、生地各六克、歸尾、山甲、赤芍、皂角刺各四克、丹皮、花粉、葛根各三克，七、八服，兼玉樞丹每日二克。</p>
<p>並用吹藥，據理或遲至二、三月收功亦有之。</p>
<h3>木舌</h3>
<p>木舌因心、脾、肝三經積熱，舌粗紫脹，不能言語，此多食炙　所致，急刺出紫血，搽吹藥，用大承氣湯兼黃連解毒東加山梔、木通、連翹、花粉各六克，赤芍、草河車各九克，兩服後應加生軍瀉毒，再用六味湯漱口吐出，左右寸關脈洪大者屬實症，可治，六脈細者屬虛症，難治。</p>
<h3>白腫舌</h3>
<p>白腫舌因風寒積內，六脈弦緊，舌腫硬痛，六味東加細辛一克、蘇葉四克、白芷六克、當歸四克、川芎、葛根各三克，如有白苔黑點而滑者，用淡附子、乾薑各二克，煎服。外用乾薑、冰片、麝香、青皮各等分，為末，搽患處。</p>
<h3>爛邊舌</h3>
<p>爛邊舌因脾經濕熱不清，大舌邊上發疳，白點而爛，六味東加小生地六克、滑石九克、淡竹葉三克、前仁、豬苓各四克、澤瀉、車前、甘草梢各三克，服兩劑，外用吹藥。唇牙內腫爛同此治法。</p>
<h3>紅點紫舌</h3>
<p>紅點紫舌因心脾二經熱極所致，滿口紅點紫色作爛而痛，或身有赤斑。六味東加石膏三十克、葛根四克、川連三克、黃芩六克、黃柏三克、木通、山梔各三克，甚者加生軍九克。如六脈不數，不可用此方。外用吹藥搽患處。</p>
<h3>純紫舌</h3>
<p>純紫舌因傷寒用蔥酒發汗，酒毒入心，以致大舌純紫，宜用升麻、葛根各三克。枳　子六克、石膏六克、川連八克、滑石、人中黃各九克、木通三克，如心煩加山梔、淡豆豉各三克，惡心欲吐恐防發斑，加芫荽三十克，又用芫荽沖燒酒揉背心為妙，外用吹藥。</p>
<h3>座舌蓮花</h3>
<p>座舌蓮花因脾經熱毒積久而發，生於牙齦內面，走竄如蓮花一座，急針患處出血，搽吹藥，再針左右少商穴，用六味東加草河車六克、歸尾、赤芍各三克、川連、連翹各三克、生軍九克、山梔、木通各三克、生地六克、穿山甲三克、生石膏十五克，服兩劑，如不退，用十八味神藥收功。</p>
<h3>重舌</h3>
<p>重舌大舌之下又生小舌，以致大舌反粗短，小舌長痛，此心脾之毒，左寸右關兩部脈洪大者是也，久之必爛，爛則難愈。初起即針出惡血，搽吹藥，服黃連解毒東加生軍十五克，如瀉，五、六日即愈。玉樞丹、十八味神藥亦可服。</p>
<h3>蓮花舌</h3>
<p>蓮花舌因心脾之火飛騰舌底，即針刺小舌出血，吹藥用三黃石膏東加甘草二克、草河車六克，外針商陽穴即愈。</p>
<h3>焦黃舌</h3>
<p>焦黃舌因嗜酒太過，遇寒而起，大舌乾黃，用三黃東加枳　子、生石膏、人中黃，身發寒熱用大柴胡東加羌活三克，如嘔吐心煩脈洪大，加生軍十二克、佐以牛蒡子、赤芍、葛根之類，再無不應。</p>
<h3>舌上珠</h3>
<p>此心脾積熱，舌生白泡，大小不一，六脈洪大，搽吹藥，用三黃東加石膏十克、草河車六克、地丁三克，兼服玉樞丹二克。如六脈遲細者不可用前藥。</p>
<h3>舌下珠</h3>
<p>此脾腎兩虛之症，六味東加鹽炒玄參、生地、鹽炒知母、黃柏、木通各等分（按：一般六至十克為宜），煎服，兼搽吹藥，余藥照前。</p>
<h3>左雀舌</h3>
<p>左雀舌因多食煎炒炙　之物，積毒於胃，故發於舌之旁，似生小舌，位近牙齦，初起針破出血，搽吹藥，用六味東加三黃湯、清膈散（即涼隔散）治之，久之必爛，用龍骨生肌散收功。</p>
<h3>右雀舌</h3>
<p>右雀舌亦因積毒，治法如左雀舌，大同小異，用六味東加犀角地黃湯治之，搽藥同前。</p>
<h3>胃火小舌</h3>
<p>胃火小舌因脾經火毒郁久而發，小舌生白點爛，胃脈浮，用六味東加生石膏一百二十克、酒炒黃芩六克、花粉九克、葛根六克、山梔三克，兩服如不愈，用吹藥兼服柏枝汁。此乃多食炙　醇酒濃味，或魚骨刺傷，非結毒可比，須診脈浮洪者屬胃火，脈沉實者屬結毒，詳辨為要。</p>
<h3>胃毒小舌</h3>
<p>胃毒小舌因毒結胃經，發於小舌，形如前症，胃脈沉實而洪大者是結毒，臨症不可疏忽。有紅腫爛者，治法亦同前。用十八味神藥同玉樞丹三克，土茯苓每日一百二十克，煎湯代茶，多吃為妙。如一月不愈，宜合結毒紫金丹一料，沖玉樞丹同服，土茯苓湯下，每晚九克可收功。</p>
<h3>積熱小舌</h3>
<p>積熱小舌因肝、胃二經火毒飛騰，所以小舌長硬，白衣裹滿，咽物不下，右關脈浮大，六味東加山梔三克、連翹六克、酒炒黃芩六克、黃柏四克、生石膏十克、滑石六克、赤芍、木通、葛根各三克、草河車六克，外吹藥，兼用玉樞丹二、三次，無不愈。</p>
<h3>懸旗小舌</h3>
<p>「懸旗風」生小舌下垂尖頭，似桂圓核大，紅如爛桃，胃脈浮洪，多因食濃味火酒，以致胃火鬱盛而發，六味東加甘草二克、枳　子六克、赤芍六克、草河車六克，兩服可愈。如腫處出血，用吹藥。</p>
<h3>純白小舌</h3>
<p>純白小舌因胃經積毒，小舌忽變白色，軟大而腫痛，右關脈洪沉，先用玉樞丹每服二克，或十服或五服，銀花湯下，再用土茯苓煎湯代茶。如胃脈不沉反洪大，作火症看，用六味東加生石膏六克、酒炒黃芩、車前各六克、山梔三克、木通三克、滑石九克、葛根九克、天花粉三克、山豆根六克，三服。此即一症兩治之法，臨症細參脈理，然後用藥，慎之！慎之！</p>
<h3>松子喉疔</h3>
<p>松子喉疔生於關內小舌左右兩邊，形如松子，淡紅而硬，大痛難食，背寒身熱，兩寸關脈緊，乃風火鬱積之症也。六味東加蘇葉、赤芍、羌活、連翹、穿山甲、草河車各三克，來日去蘇葉、羌活二味，加乳香一克、玉樞丹三克，研細沖服，二日可愈，外兼用吹藥。</p>
<h3>走馬牙疳</h3>
<p>走馬牙疳因脾經積受熱毒太重而起，牙肉先腫，日久腐爛，此為急症，齒落肉黑不治，脈浮洪者生，沉細者死。脈大而有力，尚可用重劑救之；脈遲細者，藥不能投，臨症詳脈治之。初起未爛即針腫處出血，搽吹藥。</p>
<p>已爛不必針，搽吹藥。用川連、葛根、連翹、犀角、生地各六克、白蘚皮、甘草、貝母、花粉各四克、生石膏三十克、草河車三十克，入大鍋煎服三、四碗，連服三劑。如脈數便結加生軍三十克，或可救，遲則不治矣。</p>
<h3>喉單</h3>
<p>喉單因肝火鬱熱動風而生，關口上部下垂，根大頭小，紅色大痛，先針兩邊患處出血，吹藥，漱六味湯一服。</p>
<p>來日加柴胡、鉤藤、赤芍、生地、丹皮、草河車各三克、連翹、黃芩、黃連各三克，煎服可愈。</p>
<h3>喉菌</h3>
<p>喉菌因胎毒所致，或因心胃火邪，生於喉內如菌樣，故名。喉菌不可用刀、針，服黃連解毒湯、玉樞丹，可使其不發熱，然未見全消者。</p>
<h3>喉瘤</h3>
<p>喉瘤因鬱怒傷肝，或迎風高叫，或本源不足，或誦讀太急，以致氣血相凝，生於關內，不時而發，治以調本養原之藥，玉樞丹、地黃丸俱可常服，難許速愈，外用吹藥。</p>
<p>又喉瘤生於關外，治法同前。</p>
<h3>陰瘡</h3>
<p>陰瘡生於頰車之下，或左或右，內熱外寒，皮色不變，身發寒熱，腫大如鰻鯉瘟，六味東加萬靈丹，同藥化下。如變紅色，用喉癰藥治之。便結加生軍九克，玉樞丹亦可服。症屬少陰心腎，則如此法。若症屬少陽膽、三焦，用柴胡、牛蒡子，並六味湯漱之。</p>
<h2>附方</h2>
<p><u>六味湯：</u></p>
<p>桔梗、生甘草、防風、荊芥穗、僵蠶、薄荷。</p>
<p><u>八仙散：</u></p>
<p>人中白三十克、生軍三十六克、生石膏十五克、玄參三十克、酒炒黃芩四十二克、玄明粉二十一克、僵蠶九克、瓜硝二十四克、輕粉三克（用時宜慎），共為末，用煉蜜為錠，每重六克，舌津化下。</p>
<p><u>玉樞丹：</u></p>
<p>山慈姑六十克，（洗淨為末），麝香九克，大戟、（淨末）十五克，草河車、（淨末）十五克，五倍子、（淨）一百二十克，千金子、（淨末）三十克，共為末，米飲調和，搗千余下為度，每服一至二克，甚者三克。</p>
<p><u>十八味神藥：</u></p>
<p>川連二克、白蘚皮二克、黃芩六克（酒炒）、地丁六克、當歸六克、草河車六克、山梔三克半、生龜板九克、木通三克、生甘草六克、川芎四克、連翹六克、乳香一克（去油）、銀花五克、皂角刺四克、知母六克（鹽水炒）。</p>
<p>結毒加土茯苓、鮮首烏，火症爛喉加生石膏、大黃各十二克。</p>
<p><u>知柏地黃丸：</u></p>
<p>地黃、山萸肉、山藥、茯苓、丹皮、澤瀉、知母、黃柏。</p>
<p><u>犀角地黃湯：</u></p>
<p>生地黃、山萸肉、山藥、茯苓、丹皮、澤瀉、石膏、犀角。（按：此方非《千金方》所載犀角地黃湯，系自創處方）</p>
<p><u>三黃湯：</u></p>
<p>黃連、黃柏、黃芩，俱鹽水炒。</p>
<p>可加石膏、炒山梔。</p>
<p><u>涼膈散：</u></p>
<p>連翹三克、大黃六克。芒硝三克、甘草三克、炒山梔五克半、黃芩四克、薄荷三克、竹葉十片。</p>
<p>（按：《和劑局方》涼膈散無竹葉）</p>
<p><u>四物湯：</u></p>
<p>川芎、當歸、生地、白芍。</p>
<p><u>附桂八味九：</u></p>
<p>即六味地黃丸加制附子、肉桂，冷服。</p>
<p><u>大承氣湯：</u></p>
<p>大黃十五克、芒硝十克、厚朴五克、枳實五克。</p>
<p><u>黃連解毒湯：</u></p>
<p>黃連三克、炒山梔二克、黃柏二克、黃芩三克。</p>
<p><u>大柴胡湯：</u></p>
<p>大黃、黃芩、半夏、白芍、柴胡、枳實、生薑、大棗。</p>
<p><u>子藥：</u></p>
<p>明朱砂二克、硼砂十五克、梅冰片二克、制玄明粉十五克，研末。治喉中潰爛，長肉生肌，生新去腐。</p>
<p><u>丑藥：</u></p>
<p>雄黃精三克、梅冰片二克、膽礬一克（火　），研末。</p>
<p>治口內腐爛，用少許，不宜多，孕婦忌用。</p>
<p><u>寅藥：</u></p>
<p>青黛三十克、人中白十五克、黑山梔十五克、梅冰片三克、厚朴十五克切片，用黑棗一百五十克（去核），包厚朴火上　存性。共研末。</p>
<p>治口疳如神。如遇傷寒後口疳，另加坑磚一角，火　研末十五克。</p>
<p><u>卯藥：</u></p>
<p>梅冰片三克、雄黃精三克、靛花六克、玄明粉六克、硼砂十五克、粉甘草三克、川黃連六克、人中白九克（煨存性）、銅青十五克（　）、黃柏三克（蜜炙）、雞內金三克、鈔紙二張（　、存性）、枯礬三克、鹿角霜三十克。研末。</p>
<p>能解毒退腫，生肌去腐，治陰虛喉癬更佳。</p>
<p><u>辰藥：</u></p>
<p>上好膽礬，冬月取青魚膽汁和勻成塊，陰乾刮下，用瓷瓶收貯，其藥過一、二年可用。研末。</p>
<p>治牙關緊閉，食不能進，口不能開，用雞毛蘸抹兩牙底，令其流出痰涎，少頃即開矣。</p>
<p><u>巳藥：</u></p>
<p>梅花冰片一克、雄黃精六克、焰硝（要黑槍硝，　，更佳）四十五克，（按：焰硝即火硝）</p>
<p>巳藥之性與申藥同，論其功更速，如痛腫者先用巳藥，後用申藥吹之。治單雙蛾初起一、二日，用此藥開痰即愈。未潰可用，已潰不可用，孕婦忌。</p>
<p><u>午藥：</u></p>
<p>川黃連三克、明礬三克、牙皂三克（去皮），放新瓦上焙存性，共研末，吹患處。</p>
<p>吹藥時扶好病患，囑其垂頭，流去痰涎。其藥不可多用。如聲似雷音，以溫水調藥，徐徐漱之。治喉中痰壅，其功與辰藥同，但其性太猛，不宜輕用，不如用辰藥平穩，臨時看症酌之，孕婦忌用。</p>
<p><u>未藥：</u></p>
<p>雄黃精六克、朴硝十五克、硼砂六克。研末。</p>
<p>如喉嚨緊閉不能吹藥，用此藥吹入鼻孔內，其口即開。開後或點或刺或消腫，用巳、申之藥，如腐爛則用子藥，一切喉症皆可用。</p>
<p><u>申藥：</u></p>
<p>玄明粉三十克、雄黃精三克。</p>
<p>去痰消腫，不剛不柔，神妙莫測。孕婦及虛弱人病勢沉重者，皆不可用。</p>
<p><u>酉藥：</u></p>
<p>雞內金三克，（要不落水者，瓦上焙乾為末），梅冰片〇點三克，研末吹患處，可止痛。如腐爛疼痛，加子藥。若要收口，加兒茶六克。</p>
<p><u>戍藥：</u></p>
<p>硼砂六克、玄明粉六克、青鹽三克，用火　紅，放在地上越一日去火毒。研末。</p>
<p>擦重舌、蓮花舌，名「紫雪丹」，余症不可用。</p>
<p><u>亥藥：</u></p>
<p>巴豆二十一粒，生明礬三十克、入銀罐內滾之，看礬枯去巴豆。每三十克礬，加薑黃末三克，面糊為丸，用雄黃末六克為衣，丸如梧桐子大，每服七粒，薑湯下，用辰藥後可服此丸。重者用之，輕者不可用。</p>
<p>此丹開關竅、降痰，乃起死回生之靈丹也，名「回生丹」。</p>
<p><u>青金錠：</u></p>
<p>玄胡索六克、牙皂十四條（去皮弦），研末加青黛二克、麝香〇點一五克，水泛為丸，重一點五克。</p>
<p>遇症用新汲井水磨化，以綿紙條蘸藥入鼻孔內，如病沉重者研末吹之，中風及小兒驚風皆可用。</p>
<p><u>鎖匙散：</u></p>
<p>即巳藥去雄黃，專治雙乳蛾，其效如神。</p>
<p><u>玉鎖匙：</u></p>
<p>明礬三十克、銀罐內溶化，即下巴豆二十一粒，俟礬枯取起，放在地上越宿，次早去巴豆，用礬研末，治症同上，孕婦忌用。</p>
<p><u>綠袍散：</u></p>
<p>濃黃柏六十克、青魚膽三十克。</p>
<p>將黃柏置火上烤干，以魚膽塗上，再烤再塗，以膽盡為度，切片研末，加入人中白六克、青黛六克、梅冰片六克、膽礬九克、硼砂六克，研末，治口疳、疔瘡。</p>
<p><u>喉蛾穿方：</u></p>
<p>人指甲，清水洗淨，瓦上焙，黃色為度，每指甲末〇點三克加梅冰片〇點三克。</p>
<p><u>又方：</u></p>
<p>壁錢窩（蜘蛛類，體扁平，黑褐色，八足而長，大如錢，窠幕光白如繭。）用銀簪夾住，向燈上燒灰，研末吹之。</p>
<p><u>牙宣出血方：</u></p>
<p>七葉一枝花二克，加牛膝一克、梅冰片少許，研末吹之，如神。</p>
<p><u>通閉散：</u></p>
<p>青鹽三克、白礬三克、硼砂一點五克。</p>
<p>咽喉腫痛，滴水不下，吹之止疼。</p>
<p><u>走馬牙疳方：</u></p>
<p>梅冰片一克、人中白九克（　），赤砒四克，黑棗七個（去核），將砒分作七處，入棗內，炭火煙將盡，取出存性。共研末。用米泔水洗淨患處，將藥抹上。再以牛蒡子、玄參、防風、皂角刺、蔓荊子、蟬蛻、石膏，白水煎服三劑。</p>
<p><u>甘桔湯：</u></p>
<p>生甘草、苦桔梗各三十克。</p>
<p>十全大補湯：當歸、川芎、白芍、熟地、人參、白朮、茯苓、甘草、黃　、肉桂。</p>
<p><u>三黃石膏湯：</u></p>
<p>即黃連解毒東加麻黃、淡豆豉。</p>
<p><u>地黃丸：</u></p>
<p>熟地二百四十克、山萸肉、山藥各一百二十克、澤瀉、茯苓、丹皮各九十克，為末，煉蜜為丸，如梧桐子大，空心溫水吞服十至十五克。</p>
<p><u>萬靈丹：</u></p>
<p>當歸、蒼朮、川烏、草烏、何首烏、細辛、炙甘草、荊芥、防風、川芎、羌活、天麻、石斛、雄黃、麻黃、全蠍，法制為丸，朱砂為衣。</p>
<p><u>薄荷湯：</u></p>
<p>薄荷葉十五克、羌活、麻黃去節、甘草、柴胡、川芎、桔梗、茯苓各八克。</p>
<p><u>龍骨生肌散：</u></p>
<p>生龍骨、訶子肉、細茶各等分，研細末，干搽患處。</p>
<p><u>結毒紫金丹：</u></p>
<p>龜板（放炭火上炙焦，用白酒塗之再炙，以焦黃為度）六十克、朱砂（飛）、石決明（　紅，童便　一次）各十八克，研為極細末和勻，爛米飯為丸，如麻子大。</p>
<p><u>回雪方：</u></p>
<p>元寸香〇點三克、冰片〇點六克、牙硝三克、硼砂十二克、研末外搽。</p>
<p><u>牙疳方：</u></p>
<p>青鹽〇點三克、白礬三克、硼砂二克、冰片三克。共研細末外吹患處。</p>
