<header data-type="book">
<h1>推篷寤語</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李豫亨</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>
<h2>《推篷寤語》序</h2>
<p>醫不三世，不服其藥。又曰：九折肱方能為活人之術。醫學自前清季年，由不工商者廁身其間，荒落益不堪言。華洋交通，東西醫輸入，文秀之士始留心科學，本格致而旁及醫術。搜古籍，研新術，雖他族有一日千里之勢，我岐黃家學亦群競發明，以與相抗衡。往往內症經他族告絕不理者，經我醫對症進方，立起沉屙。同社裘君吉生有搜刊醫書之舉，不佞於無錫孫君文修處見《推蓬寤語》一書，係前明松江李豫亨，字元薦所著，此書原版已毀。先生自幼性耽博覽，始從師好詩，輒學詩，見祈禱有驗，輒學祈禱。嘉靖丙申從其父海樓憲副，收大溈寇，多集兵書，輒喜談兵，兼習韜鈐星遁射弩諸法。自楚歸吳，即捐夙好，專習舉業，遊膠庠間有聲。時文衡山諸公以書畫鳴，輒學書，旁及古跡名繪，善鑒賞。繼而有以養生說進者，輒喜談養生，搜輯玄家梵莢數百種，更及於醫蔔星相，莫不窺其奧妙。顧數奇迄不如志，隆慶庚午始捐舉業，以鴻臚謁選，自蘇赴京，舟行多暇，攄夙昔所知能表見者，匯為《推篷寤語》計九卷，內分測微、原教、本朮、還真、訂疑、毗政諸篇。該洽古今，貫穿百家，蘧蘧焉足起人意。末附以往來論學函牘一卷，共十卷，隆慶辛未秋梓行。不佞因原教、本術二篇有關醫術摘抄以貢同仁，可見先生當日談醫之一斑。何今之以醫名世者墨守一家言，《靈素》諸書既少涉獵，欲其旁通格致，學究天人，不益戛戛乎其難之哉。詎知百凡學術，不進即退，勢無中立。將來地軸遷移，空氣變換，寒溫帶冷熱長縮，有違舊序，萬匯在交氣之中呼吸醞釀，病日出而日多，則術亦宜日進而日精。現在西醫黴菌血清電氣療治諸法，較之古人已上一層，再經數十年精益求精後之視今，亦猶今之視昔，此亦進化之公理也。先生不以醫名世，而能博學周知若此，吾儕在醫界適當學術競爭潮流，而不融洽中外之書，以拯斯人疾苦，讀先生遺篇當亦廢然自返矣。是為序。</p>
<p>中華民國七年十月下浣新安古黟王壽芝蘭遠序於江村遊六軒</p>
<h2>《推篷寤語》自敘</h2>
<p>舟之亡所見者，篷蔽之；人之懵所知者，寐障之。舟匪篷，則丹崖碧流在望矣；人匪寐，則開戶發牖昭如矣。非心目不及也，物翳之也。物翳去，則心光目色朗然暢矣。余夙慕古人奇節軼行，操鉛槧以干有司之知恒欲，稍稍施用於世，顧性拙命奇，迄不如志，馳逐而不知止久矣。夫余之寐也，歲庚午始捐舉子業，謁天曹選，將從游縉紳先生，以求通余寐焉。掛帆北徵時，適春暮，每推篷坐舟次，縱觀淮徐齊魯之風物，仰瞻泰山之磅礴，北顧黃河之奔流，蓋天下之大觀幾得其半矣。乃喟然歎曰：偉哉山川，天其假此以通余之賾賾耶。夫六藝之囿至廣，道德之淵至深，其高達於無上，其卑入於無下，藏若江海，達若康莊，學者曠然而通，爽然而明，則內外之分弗淆，榮辱之情靡忒，即鍾彝竹帛猶且與吾性不相涉入也，況乎挈量進退於咫尺間哉。余自少迄茲，鑽研故紙，氾濫諸家，窮晝夜之力不廢，且濡染先公遺訓，咨諏先達名言，孜孜惟恐不逮者，曆念餘年矣。茲遊也，乃因舟中之暇，攄夙昔所知解表見，古今嘉聞懿行可垂世則者，間附己意，形之楮素，累數百條，總若干卷。庶幾哉，啟昔之寐而為今之覺乎。雖然昔人有言夢中說夢自以為寤矣，匆匆然與人言之不知其尚寐也。余之寤也，毋乃類此。其方夢也，不自知也。夢之真醒也，不自知也。同余夢者，亦不知也。惟先覺者知之。今學士大夫高明俊爽，暉映先後，其於道德閫奧，固有神悟而心解矣。余也幸觀泰山之祟高與黃河之縈帶，且仰觀天子宮闕之宏麗矣。而非求如歐陽子之文章與韓文公之才抱，若蘇子所稱者以盡余之大觀，則又烏能自已也。因名曰《推篷寤語》，以俟當世之先覺君子。</p>
<p>時隆慶庚午四月既望雲間李豫亨元薦甫</p>
<h2>原養生之教</h2>
<p>聖人以天地為法象，明人身之安危。天地之氣一歲十二卦，一卦六爻，共七十二爻。半陰半陽，總候三百六十日，陰消陽長，暑往寒來。故十一月復卦，坤下陽生，井泉即溫。至於正月三陽，陽氣平地，故云內陽而外陰。及乎四月，六陽將盡，陰氣下生，則井底寒泉。至於七月，三陰平地，故日外陰而內陽也。天地之氣相去八萬四千里，日月周天，動經一歲。人於天地，具體而微。心腎之氣相去僅八寸四分，元氣周流止於百刻，故以子為一陽生，午為一陰生，七十二爻半陰半陽，盈虧消息比之天地之氣特倏忽耳。善攝生者，吾之天地陰陽無愆，則榮衛周密而六淫無自入矣。</p>
<p>夫人應世之術非必盡廢諸事而後謂之攝養也。特消息否泰而行之藏之，量其才能而負之荷之。若才不逮而強思，力不勝而強，沉憂重恚，悲哀憔悴，喜樂過度，汲汲所欲，戚戚所患，談笑不節，興寢失時，挽弓引弩，沉醉嘔吐，飽食即臥，跳走喘乏，歡呼哭泣，皆為過傷。此古人所戒之節也。況風前月下，竹徑花邊，俯仰傷懷，杯余疏散，或進退維穀而干祿，或沖煙冒癉以求榮，呼吸雜邪，停留寵辱，飲食異味，荏苒暴患，尤不可不知戒焉。</p>
<p>外獲其身如惜干霄之茂樹，勿縱一斧之刃伐傷；內獲其行如惜渡海之浮囊，勿容一針之鋒穿破。妙道之士當知二護之法有味哉，其言之也，君子修身慎行必須常存此意始得。</p>
<p>善理家者忘其身，善理國者忘其家，何也？為富不仁則忘其身矣，為天下不顧家則忘其家矣。聖人以肢體為國，以精氣為民，治其身而家無不齊，治其家而國無不理。</p>
<p>因馬念車，因車念蓋，趑趄囁嚅而未決，寤寐驚悸而不安。夫二五之精妙，合而凝兩腎中間白膜。膜內一點動氣，大如筋頭，鼓舞變化，開闔周身，薰蒸三焦，消化水穀，外禦六淫，內當萬慮，晝夜無停，八面受敵。由是神隨物化，氣逐神消，榮衛告衰，七竅反常矣。噫，業識茫茫，安有止極，是在人知足知止耳。</p>
<p>人之始生，其氣日向上升，故齒毀復出，發剃更生，志慮聰明日長。及真精既溢之後，其氣日漸下降。初則便溺處毫毛，次則兩脅下毫毛，精神已虧於體矣。又次則兩頰生髭髯，又次則兩頷生髭髯，而精神已虧於首矣。然猶有精血充滿，髭髯毫毛尚黑；迨至中年則精血不能充滿，而頤頰皓素，霜雪滿顛，齒落不生，發落不出矣。君子見其徵，則知其內，驗其符，則省其中，而頤體養精，惜氣存神，雖若逐亡猶恐不及，況縱欲以戕生損身以促命乎！</p>
<p>人之胚胎賴父母精血凝結而成，及至十月胎完，則父母精血一點也用不著，止做得一個胞胎。其中得父母一點神氣，日漸長大，其精血惡濁之物，日逐翻出。至十月滿足，翻天覆地，應地一聲脫胎出世。其父母惡濁之氣還不能盡，又去口血，剃胎髮，每月變蒸，輪年疹痘。至七八歲又毀齒更生，然後體氣漸清，知慮漸長，別立乾坤，自成造化。漸至十五六歲，再為父母矣。豈非天地一團至真之氣所成乎！人不自愛惜，淪於夭折，不能延年立命，實為可惜。</p>
<p>人之有身乃天地一點真陽之氣也。是氣也，生於無形無象之先，聚於無極太極之內。父母未生，二五之精妙合而凝，未有此身，即有此氣。此氣運行周流六虛，形以之而成，心以之而靈，耳目以之而聰明，元神以之而運行，五行以之而化生。散之則混融無間，聚之則凝結成形，聖人知此攝動心、止欲念、聚神光、結正氣，天下泰然將正而定矣。</p>
<p>天下之群實，心莫若虛，應天下之群動，心莫若靜。惟虛不為物之所凝，惟靜不為物之所惑。故必窒欲以空其性，懲忿以虛其心。以之修身則無自不得，以之治性則無往不可．寂然太空與道為一。</p>
<p>天地之氣不升則不降，不出則不入。虛管溉滿撚上懸之水固不泄，為無升氣而不能降也；空瓶小口頓溉不入，為氣不出而不能入也。善養生者能存其神，則氣自裕，神之所至，氣亦隨之而往焉。盈天地間皆氣也。氣不為天地之所盜，則為吾人之所盜，長生久視之術其要在此。人顧損精以耗其氣，何哉。</p>
<p>墳素之書以心為身中君主之官，神明出焉，以此養生則壽，沒齒不殆。主不明則道閉塞而不通，形乃大傷，以此養生則殃。聖人以身為國，以心為君，以精氣為民，抱一守中，心不妄用，故精充氣住，戰退百邪，丹田有寶，四大輕安，修之不已，內功外行，乃證真仙。</p>
<p>長生之道，莊子一段亦自好看。如云：黃帝問廣成子治身奈何，而可以長久。廣成子日：善哉問。至道之精，窈窈冥冥；至道之極，昏昏默默。無視無聽，抱神以靜，形將自正，必靜必清。無勞爾形，無搖爾精，乃可長生，慎內閉外，多知為敗，我守其一，以處其和，故千二百歲而形未嘗衰。人果能無勞爾形，無搖爾精，長生之道可以無俟外覓。</p>
<p>金來歸性初，乃得稱還丹，朱子以為忝，同吐露還丹。要訣在此，恰不知無者以奉上，上有神德，居此兩孔竅。法金氣，亦相胥等語，亦是此意，均照人以形相求之，故交互其辭。金不對木，卻以對性，無不對有，卻以對上，神以對德，不以道對，金以對氣，不以木對，恐人泥性情、金木、上下、神氣、道德而求。要之只是鉛汞二字，鉛不下沉，汞不上飛，只是交結。在吾儒之道，只是懲忿窒欲，鉛汞自結也。</p>
<p>形以遭全，命以術延，此二語道盡金丹骨髓。以道全者，只是修性工夫；以術延者，只是修命工夫。仙歌云：若還修性不修命，總是神仙第一病；若還修命不修丹，萬劫英靈難入聖。如此則修性修命修丹工夫俱不可少，修性之法與二乘坐禪頗同；修命之法只是頃刻結丹之妙；修丹之法則有天元地元人元之分。然總不過是收拾身心，斂藏神氣二語耳。道雖分三，理致只一。</p>
<p>古詩云：超凡一句絕商量，說破教君笑斷腸，一切順違生死事，莫令厭戀作心王。大抵桑榆之景勞逸不同，勞心者甚於勞力。善為心王者，勞亦如是，逸亦如是，如魚飲水，冷暖自知。弗以有涯之身，供彼無涯之事。</p>
<p>物生於天而養於天，然人為嗜欲所勝，聲色之蠱，勢利之徇，燠寒之觸，情炎於中，形索於外，天始不能司其養矣。聖人作《內經》數萬言，或防於未然，或救於已然，無非補天養也。嗚呼！知養生之在我，則知聖人之言當鑒。如迷欲不返，則天且不能如之，何況古人之陳言乎。</p>
<p>血肉之軀未嘗無病，鳥獸亦血肉也，巢居穴處，飽而後已，何以無病。馬牛鷹鷂亦鳥獸也，乃亦有病何也？以鳥獸未嘗受人羈鞠，而馬牛鷹鷂則轡縶在人故耳。夫人勞心勞力，為治人事人之所役使，安得不為諸疾之所侵。覦君子見其始即知其終，善為心王，不為形役，病安從生。</p>
<p>飲食有節，脾土不泄；調息寡言，肺金自全；恬然無欲，腎水自足；動靜宜敬，心火自定；寵辱不驚，肝木以寧。此得之楊景明先生之傳，云養生家日用之不可廢者，余謂豈獨養生，即躋賢聖亦不過是語矣。</p>
<p>身有毛髮處俱是精之走漏處，頭之有發，精隨上越也；眼之有毛，精隨之視出也；鼻之有毫，精隨氣行也；頤頰之有髭須，精隨口發也；便溺之有毫毛，精隨液動也。蓋精發於竅，氣亦從之。其不及隨竅出者，橫溢於旁遂為毛髮耳。此最為一身精神之徵，皓素枯槁而不之惜，何哉。</p>
<p>身中六賊，惟眼最緊，身中提防六賊，亦惟眼為最難。故目中一見可欲，則君心為之奔逸，馳驟不可復制。善提防者就於此處著力，似有根柄。《陰符經》云：機在目。吾儒序克復，首日：非禮勿視。《心經》序：眼、耳、鼻、舌、身、意，亦惟以眼為先。蓋三教聖人俱以此為至要。</p>
<p>注列子者日：色盛者驕，力盛者奮，是少壯之時也。少壯則血氣飄溢，欲慮充起，安可能語道。至於斑白則血氣既衰，欲慮柔而體將休矣，故可與語道而行之也。然有循大化而不與化俱者，常不失赤子之心，雖壯而不驕，雖耄而不耗，其於語道無往而不暇矣。今之君子功成名遂，霜雪盈顛，而方且不暇聞道焉，抑又何哉。</p>
<p>眼者神之牖，鼻者氣之戶，尾聞者精之路。人多視則神耗，多息則氣虛，頻好內則精竭。務須時時閉目以養神，日逐調息以養氣，緊閉下元以養精。精充則氣裕，氣裕則神完，道家謂之三寶，又謂之大藥，此非惑於異端之教，實吾儒養生之常理耳。</p>
<p>精存於目則其視明，精存於耳則其聽聰，精留於口則其言當，精集於心則其慮通，故閉四關則終身無患。又日中欲不出謂之扃，外邪不入謂之閉，中扃外閉何事不節，外閉中扃何事不成。合文子之二語觀之，人何可不愛精而遠欲耶。</p>
<p>孔子日：及其壯也，血氣方剛戒之在斗。夫斗者非特斗狠，才有勝心即自傷和。學未明而傲，養未成而驕，志不行則鬱而病矣。自暴自棄，言不及義而狂矣。大抵血氣盛旺之時難以制抑。凡事當先知心是吾之靈明主人。一切好欲欺侮淩奪肆恣者，是血氣所使。倘犯刑名災害，則是靈明主人自受苦辱也，嘗作此想者自然漸成調伏。</p>
<p>男子八歲而陽精生，十六歲而陽精泄，八八六十四而陽精竭。女子七歲而癸水生，十四歲而癸水降，七七四十九而癸水竭。余嘗驗之，男子之壽多阻於六十四歲之外，稍有不謹多生腫脹風痹諸疾，多損壽元，故日人生七十古來稀。女子之壽多阻於四十九歲之外，稍有不謹則多生崩淋中脘諸疾，亦多損壽元。男子能過六十八九，女子能過五十三四，則可躋上壽無難。故知命者於此耗竭之時尤宜加謹，此真人鬼關捩也。</p>
<p>人大怒破陰，大喜墜陽，薄氣發暗，驚怖為狂，憂悲焦心，疾乃成積。人能除此五者即合於神明。五藏甯，思慮平，耳目聰明，筋骨勁強，疏達而不悖，堅強而不匱。</p>
<p>人生類以眠臥為宴息，飲食為頤養，不知睡臥最不可嗜，禪家以為六欲之首，嗜臥則損神氣。飲食亦不可過多，飲食最能抑塞，陽氣不能上升，將以養生，實以殘生也。君子夙興夜寐，常使清明在躬，淡餐少食，常使腸胃清虛，則神氣周流，陰陽得位，此最養生之大要。若肄志{因縟，恣啖濃鮮，殊非調護之宜矣。</p>
<p>張南軒《攝生四要》云：少思以養神，少欲以養精，少勞以養力，少言以養氣。竊謂此四少人不能久持耳，若久久行之則精氣神自充，雖不煉養而煉養在其中。若自少而至無，至於無思、無欲、無勞、無言，此又向上一著，久久不已可證天仙，天何思何欲何勞何言。</p>
<p>九華真妃日：眼者身之鏡，耳者體之牖，視多則鏡昏，聽眾則牖閉；面者神之庭，發者腦之華，心悲則面焦，腦減則發素；精者體之神，明者身之寶，勞多則精散，營競則明消。彼其所言，磨鏡之石，決牖之術，童面之經，還白之法，益精之道，不過是寶精裕氣耳。故日上品上藥，神與氣精。</p>
<p>邢和叔言：吾曹常須愛養精力，精力不稍足則倦，倦所臨事皆勉強而無誠意，接賓客言語尚可見，況臨大事乎。大抵能慎保始終者，卻疾延年，老當益壯，雖有貧富之異，而榮衛沖融，四時若春，比之抱病而富且貴，已為天壤之隔矣。況能進之不已，則非常人所可知也。</p>
<p>《青州錄事》參軍麻希憲，年九十餘致仕。唐太宗問攝生術，對日：臣無他術，惟是少情寡欲節聲色薄滋味而已。唐柳公度年八十有強力，人問其術，對日：平生未嘗以脾胃熟生物暖冷物，以元氣佐喜怒。宋呂許公為相，問服食之法於任恭惠公，公日：不曉養生之術，但中年因讀《文選》有悟耳，謂石蘊玉而山輝，水含珠而川媚，許公深以為然。觀此三說則養生之道可以懸解，若夫煉服食以冀長生，此則方士之妄談，高明之士慎弗惑焉。</p>
<p>唐同州刺史孟詵致仕歸伊陽，年雖晚暮志力如壯，嘗謂所親日：若能保身養性者，常須善言莫離口，良藥莫離手。竊謂善言不離口，則德崇而德厚；良藥不離手，則病去而身康，固長久之術也。然口有善言，又當身行善事，物療身病，又當法療心病，不尤為愈哉。</p>
<p>國朝道林蔣先生，偶抱贏疾。歲乙亥病益甚噦血，幾不起，先生乃謝醫藥，借寓道林寺一室。只以一力自隨閉目，跌足默坐，澄心常達，晝夜不就枕席。一日忽香津滿頰，一片虛白，炯炯見前，冷然有省之間而沉屙已溘然去體矣。先生嘗日：某讀關洛諸書，見得萬物一體，未敢自信。直到三十二三歲，因病去寺中靜坐，將怕死與戀老母念頭一齊斷卻，如此半年餘，一旦忽覺此心洞然，宇宙渾屬一身，呼吸痛癢毫無間隔。</p>
<p>宋晁文元公名迥，字明遠。天資純至，年過四十登第始娶。得煉氣服形之法，謝事燕居，獨處道院，不治他務。戒家人無輒有請，惟二膳有時而進，既畢即撤，若祭享然。其言日：辯不如訥，語不如默，動不如靜，忙不如閑。又云：清勝於濁，靜勝於動，忘勝於思，默勝於語，性勝於情，五勝習熟乃入道之漸門也。晚年耳中聞聲，自言如樂中簧，以為學道靈應之驗。享年八十四而卒。</p>
<p>宣和中，一兵偶為車轢蹩，不能行。遇一道人傳以少藥，步履如初。兵大感激，遍遊天下，訪求其人，少致謝忱。一日復遇於途，哭泣拜謝。道人日：吾施恩於人多矣，誰如子者，授以秘訣，兵遂得道。文中聞之，詣兵問道。兵日：清靜是道，簡易為上。文中頓若有省。噫，知清靜之為道，與簡易之為道，何俟他求。</p>
<p>王邦叔侍紫陽，為弟子，凡九年。因至羅浮，語及丹訣。紫陽日：自太極既分之後，一點靈光，人人有分，賢不加多，愚不加少。盍去靜室中，思我此語，有所覺，即急來。邦叔靜思至夜，紫陽詣其室，叩門。邦叔趨而出迎，紫陽笑日：吾一尋汝便見爾，兩日尋他不得。遂滅所執之燭而退。邦叔大窘，坐至五更大悟，通體汗流。待旦，以頌呈紫陽：月照長江風浪息，魚龍遁跡水天平。個中誰唱真仙子，聲滿虛空萬籟清。紫陽問曰：誰唱誰聽。邦叔遂答一詩：莫問誰，莫問誰，一聲高了一聲低，阿誰唱，阿誰聽，橫豎大干說不盡。先生有意度迷徒，急撞靈台安寶鏡；鏡明澄靜萬緣空，百萬絲條處處通；斗轉星移人睡定，覺來紅日正當中。紫陽遂出金丹圖傳之邦叔，止羅浮，二十年坐化。</p>
<h2>附胎育</h2>
<p>男三十而娶，女二十而嫁，古之制也。今人以病男贏女為不及而畢姻，或男女病患新瘥以吉日之迫而結婚。病蛾無能繭之蠶，破蕊無結實之果。少年子女，三關情逸，五神志蕩，房中分外，業種成胎，或侏儒不振，或巨首瞠目，雖具人形，實無聰慧。其次學道行淫，執法無戒，吒鬼驅神，產男生女，望望不似，余實見之，每為憐憫。</p>
<p>受娠之後，始終無犯，則胎氣真純。忽有靈光入夢，或有瑞氣相憑，而生聖賢君子，是以古今史傳分明。五祖山誡禪師慕蘇老泉，而為東坡學士；武夷丹士投真漆匠之家，而產西山先生；嵩道者受史衛王之供，而出嵩之丞相。凡投胎奪舍之靈，常有神童茂異之士。故胎教之法使孕婦常觀良金美玉瑚璉之器，山川名畫之祥；又聽講誦經史傳集，而使秀氣入胎。欲其生而知之是乃仁術也。投胎奪舍之說吾儒所無，胎教之法自不可少。</p>
<h2>本醫藥之術</h2>
<p>形不足者補之以味，精不足者補之以氣，二語乃《醫門要旨》所謂。補之以味，如甘溫補脾，鹹寒補腎之類，人皆知之。若補之以氣，人多不解。藥物有味有氣，如氣清則入首，氣濁則入足，氣陽則上升，氣陰則下降，氣香則竄入腠理，氣重則滲入血脈之類是已。雖然醫者天下之神術也，必與藥品輕重深淺濃淡厚薄冥會默契，然後投之所向，無不如意。若即按方處治未有不誤者也。</p>
<p>醫之用藥猶將之用兵，熱之攻寒，寒之攻熱，此正治也。因寒攻寒，因熱攻熱，此因治也。子虛者補其母，母虛者益其子，培東耗西，增水抑火，或治標以救急，或治本以湔緩，譬如兵法聲東擊西，奔左備右，攻其所不守，守其所不攻，沖其虛，避其實，擊其惰，遠其銳，兵無常勢，醫無常形。能因敵變化而取勝者謂之神，將能因病變化而取效者謂之神醫。</p>
<p>醫者，意也。其術不盡於藥石，故古人有泥丸蓑草可以濟人之語。蘇耽橘井食葉飲泉即愈，豈專藥石也。此在醫者有恆能，真心濟世，不逐聲利之間，則雖祝由可以已病。以我正氣，卻彼邪氣，德行所積，隨施隨驗，固非常理可測。若只專計刀錐之利，己心不正，安能卻邪。雖已試之方珍異之藥或未必驗，此蓋有神明助手其間，非可擯之為妄語也。</p>
<p>士大夫小小疾患不可輕用艾火針熨，此二法雖古人有之，但士夫有疾不能靜養，多接見賓客，酬應世務。心火不寧，嗜欲多熾，不能已病，反致增疾。止須倍加頤養，不以外物縈心，止聲色以清耳目，戒淫佚以養性情。苟非深痼之病，未有不已者也。</p>
<p>病有五：一日稟受之病，與生均生者是也；二日果報之病，伯牛之癩袁盎之瘡是也；三日六淫之病，風寒暑濕燥火，外邪所侵者是也；四日七情之病，喜怒哀樂憂恐思者是也；五日金瘡顫撲，外傷者是也。外傷等證顯而易曉，七情者責當在誰？六淫則亦以此而召之耳。果報之病前生今世所作，亦莫非我，若覺之，早釋冤解結，庶幾全生。其與生俱生之病，抑亦父母之源流，其可盡除，務在以時消息之而已。</p>
<p>後漢郭玉謂療貴人有四難：自用意而不任醫，一難也；將身不謹，二難也；骨節安閒不能使藥，三難也；好逸惡勞，四難也。余以為此四病貴人果有之。然貴人之遇醫亦有四難：遠地相召，素不曾試，一難也；稍涉毒味，不敢輕用，二難也，尊高臨之，醫不能盡意，三難也；專任僕妾烹煮失宜，四難也。以此言之，貴人不可輕易於致病，尤須慎於服藥。如夫子所謂某未達，不敢嘗焉，然後可。</p>
<p>醫家乘人之危，古經比之殺人。古經云：不恤緩急，妄索事分，殺人也；不問有無，必欲多得，殺人也；懶惰睡眠，輕視人命，殺人也；辨察不明，用藥差誤，殺人也；見不即治，俄至增劇，殺人也。有此五失，挾術殺人甚於挺刃。昔陳景仁妻張氏有微疾，醫誤投血隔之藥，遂致不起，既死，魂神蕩越。一日因景仁出郊，遂合為一，恍忽如狂，獨歌獨笑，終其身。觀此，臨人病患可不慎夫。</p>
<p>火食之人未有一生無病者，少壯之人病猶未覺，年高之人病乘其所甚而現，精神不能支而衰，病及之矣，此其積非一日之故也。每見年華既邁，不任其病患之苦，必欲決去以為快。不知病根，有生一病之所現，即一藏之受損，乃汲汲焉求以醫藥草木之末療治之。不知臟腑已不如昔，病患白不全祛，況寒涼溫熱之味，解表下裏之藥亂攻妄投，真精愈耗。何如養氣存神寶精，病以漸除，反有過於服餌之效，知命之士味之。</p>
<p>古今名醫惟東垣為聖，其處方治病藥品極多，譬如韓信用兵多多益善。他如張子和之汗吐下三法多宜於北，近日朱丹溪補陰諸方多宜於南，自有醫以來名士不數數也。近醫書充棟，多被庸工剽掠前書，妄著論辨；類集諸方，玉石並載。一遇病患，盲不能辨，宜用何藥何方，人命至重，非以供庸工之嘗試也。嗟乎，三代以還豈獨聖學不能復明，即如小道亦未有可觀者焉。</p>
<p>人生病患乃得於父母稟受之初者，其終當有何疾，亦是定數。家有一僕，其母五旬餘患膈咽而終，其僕五旬餘亦患膈咽而終，如其母之疾。其母受胎後二十年而有是病，其子經五十年而後有是病，則其母未病之先，而其子之病源已受是氣於結胎之時矣，豈非一定之數乎。今人得末疾而汲汲求療於草木之粗，祈禱之末，其亦不知受病之源者矣。</p>
<p>草木滋味原與人身精神本非同類，止是藉其寒溫甘苦性氣救偏補敝耳，然又視其人物質稟，乃可奏功。假如牛馬有病氣質頑鈍，止取藥滓雜煮啖之其病可療。村夫野氓生平不曾服藥，氣質粗蠢，苟遇病患，止須庸醫稍稍品劑其病亦已。至城市中之人病已難瘥，及貴室宦家氣稟既已清淑，藥品卒不易應，雖用上醫處劑，稱量分銖，猶不易冀其全效也。若稍遇沉屙臥榻之病，則岌岌乎殆矣。</p>
<p>人之脈氣不同，不可一類而推。長人脈長，短人脈短，瘦人脈露，肥人脈深，性褊急者脈弦浮，性明快者脈流利，兇狠者脈勁實，慈祥者脈和緩，不攝之人病輕脈重，有養之士病重脈輕，忠厚之脈往來調暢，詭譎之脈乍浮乍沉，其餘素稟暴變之不同，又有不可盡舉者，要在指外盈虛消息之耳。</p>
<p>蜀人通真子注叔和《脈經》已行於世，而其道未行，遂曆湖漢江浙亦未有目之者，及至淮之邵伯鎮，旅於僧舍，亦無聞於人，又將轉而之他。主僧聞之日：子若不設肆，誰則知之。市有寺屋，吾給子具，請試為之。既而醫道大行，家產豐足。一日主僧將化，召其前來密語日：子前生在此鋪街鑿井，今享此報，更宜積德。言訖而化。</p>
<p>神農氏遍嘗百草，盡知草木甘苦寒溫，立法攻治百病。後世醫家相沿為衣食計，承襲差誤，殺人之害多於生人之功。余見粗工不識身中升降之理，腠理啟閉之度，妄施針藥，致失人命，殊為可惜。士君子須知病前自防之戒，兢兢調適，苟罹小患必須頤神養氣，靜心固精，俟其自復可以萬全。若輕用藥餌，縱得小效，所傷必多。藥無補法，不可輕信。惟有汗吐下三法推陳致新，差為得理，尤須慎而用之。</p>
<p>遠在千萬裏之外，可以數測，近在一身之內，不可以理推，何以故？天地之遠，中國之外，按曆象據圖藉可盡知。若一身之中，心肝脾肺腎之五藏，膀胱小腸膽大腸三焦之五腑位置則可知矣。若其中所以運行，所以溉注，以生吾人者今之醫流雖度量揣摩萬端，終不知也。昔列子稱工人偃師所造倡者，歌舞合節，千變萬化，惟意所適，皆傳會革木膠膝白黑丹青之屬。所為內則肝膽心肺脾腎腸胃，外則筋骨支節皮毛齒發無不畢具。試廢其心，則口不能言，廢其肝則目不能見，廢其腎則足不能步。若偃師者非知造化之所為乎。嗚呼，惟如是，然後知吾身中之所以運行，而惜乎偃師之不再生也。</p>
<p>名醫用硝黃冷水治痘瘡毒氣太過者，不可見其用藥，相背而惑之。有一種毒痘證，頭面遍身渾如朱砂，始出即成一片，不分個數，悶亂煩躁，大便鮮血日夜無度。又見一種毒痘，出至十二三日，口鼻閉塞，氣無出路，耳眼亦然，漸次口鼻清血黯水進然而出。此二者固為死症，如敢以硝黃下之，則或可回生，倘一疑慮則禍不旋踵矣。余有慧女出痘患如前症，頓至不救，至今惜之，因見此論殊有理，筆記以惠來者。</p>
<p>萬病解毒丹藥品具載方書，余嘗見藩府所制，藥味真正，構藏篋笥中，每遇奇疾莫不應手而瘥。嘗謂仕宦遇美藥，如豬腰子、三七、血竭、阿魏、花蕊石、蚺、蟾諸品，必謹藏之，伺一用著處，轉死回生，一壺千金也。閉門著方書雖非大臣盛業，然知醫豈非人子之有事哉。</p>
<p>養生主論云：予嘗從士大夫游洛間，每聞諸公稱一人善治背瘡者，歎其不遇，其說神異。忽日有一人同一方士來投予之別墅，托宿數日。云：善治背瘡，詢之即其人也。問其方唯唯然，自言某師遇仙得傳此草，雖六月間，以手探之亦如冰雪。一日至墅外，忽自咄咄而報日，門前幸有此仙草，遂鄭重付祝於余。余歎而諾之，日：此即射干也。方士日：某昔貨藥淮西，適值官司拿醫出徵，遠竄入八百里山場內，遇一老姥，年一二百歲。自謂金亡避兵來此，元完顏氏醫姥也。傳以此草並壽星散專治惡瘡，救人無數。並著其方地扁竹散，射干為末。射千即俗名地扁竹也，原花園中之物，葉如良薑，根如竹鞭，其色初開，如金之狀。又：一味，每用小錢抄末三字許，溫酒調服。病在上即微吐，在下即微瀉。予用濟人其功如神。仍用膏藥收口。壽星散專治惡瘡痛不可當者，摻之不痛，不痛摻之即知痛。大南星一味為末。右一味，如背瘡大痛者，遍摻於上即得安臥；不知痛者，摻之至於知痛即可治也。</p>
<p>瘍醫公孫知叔，賦性慈慧，記聞詳博，深明百藥之性味，創造丹砂、雄黃、礬石、磁石、石膽為五毒之劑。其說蓋取丹砂養血而益心，雄黃長肉而補脾，礬石理脂膏而助肺，磁石通骨液而壯腎，石膽治筋而滋肝，外療瘡瘍之五證，內應五臟。拘之以黃鍪，熟之以火候，藥成敷瘍，無不神效。一人須有疽生，一夕決潰，勢甚危殆，以前藥敷之，應手而瘥。此方今醫書未知載否，世亦罕用，予謹識之，以俟深知醫理者取焉。</p>
<p>醫方之用有驗於一方，而不驗於他方；有效於一用，而不效於再用；有應於一人，而不應於他人；有行於一年而不行於他年，為南北異氣，深淺異病，貴賤異位，司天異宜也。善醫者明於天地之機，陰陽之變，尊卑之位，臟腑之因，其庶乎，其得之矣。雖然醫一也，用於彼則驗，用於我則不驗，用於前則驗，用於後則不驗，何故？由人之德行，由人之福量，救人之真誠與不真誠耳。</p>
<p>《推逢寤語》終</p>
<h2>跋《寤語》後</h2>
<p>昔華胥子既夢寤，而以其言質之天倪生也。天倪生日：若今夢耶，甯向者之非寤乎。華胥子惘然失，疑其為囈語也。此昔人蕉鹿之辨，喻真於至道者，夢與覺兩忘之也。予讀亭子中條所著《寤語》，該洽古今，罔羅前聞，貫穿百家，遘逢焉足起人意者，信李子寤矣。困假其言以寤世耶，予強夫世之難寤也。被懵於見聞為牛胥之徒者，安知不以李子為囈語耶。雖然啟蒙發聵在李子則既寤矣，乃若真於至道而夢覺兩忘得之言。詮之外者，世亦安得天倪生而質之。</p>
