<header data-type="book">
<h1>診家樞要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>滑壽</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1359">公元1359年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>天下之事。統之有宗。會之有元。言簡而盡。事核而當。斯為至矣。百家者流。莫大於醫。醫莫先於脈。浮沉之不同。遲數之反類。曰陰曰陽。曰表曰裡。抑亦以對待而為名象焉。有名象而有統會矣。高陽生之七表八裡九道。蓋鑿鑿也。求脈之明。為脈之晦。或者曰。脈之道大矣。古人之言亦夥矣。猶懼弗及。而欲以此統會該之。不既太簡乎。嗚呼。</p>
<p>至微者脈之理。而名象著焉。統會寓焉。觀其會通。以知其典禮。君子之能事也。由是而推之。則溯流窮源。因此識彼。</p>
<p>諸家之全。亦無遺珠之憾矣。</p>
<h2>脈象大旨</h2>
<p>脈者氣血之先也。氣血盛則脈盛。氣血衰則脈衰。氣血熱則脈數。氣血寒則脈遲。氣血微則脈弱。氣血平則脈治。</p>
<p>又長人脈長。短人脈短。性急人脈急。性緩人脈緩。左大順男。右大順女。男子尺脈常弱。女子尺脈常盛。此皆其常也。</p>
<p>反之者逆。</p>
<h2>左右手配臟腑部位</h2>
<p>左手寸口。心小腸脈所出。</p>
<p>左關。肝膽脈所出。</p>
<p>左尺。腎膀胱脈所出。（命門與腎脈通）</p>
<p>右手寸口。肺大腸脈所出。</p>
<p>右關。脾胃脈所出。</p>
<p>右尺命門（心包絡手心主）三焦脈所出。</p>
<h2>五臟平脈</h2>
<p>心脈浮大而散。肺脈浮澀而短。肝脈弦而長。脾脈緩而大。腎脈沉而軟滑（素問。心平脈。累累如連珠。如循琅　。</p>
<p>此長滑之象也。心為肝子。脈不離弦。故仲景謂心脈洪大而長。肺脈澀短。是動力不盛。而形體鋪寬也。）</p>
<p>心合血脈。心脈循血脈而行。持脈指法。如六菽之重。按至血脈而得者為浮。稍稍加力。脈道粗者為大。又稍加力脈道闊軟者為散。</p>
<p>肺合皮毛。肺脈循皮毛而行。持脈指法。如三菽之重。按至皮毛而得者為浮。稍稍加力。脈道不利為澀。又稍加力。</p>
<p>不及本位曰短。（澀只是來勢不勇。短只是寬軟不挺。）</p>
<p>肝合筋。肝脈循筋而行。持脈指法。如十二菽之重。按至筋而脈道如箏弦相似為弦。次稍加力。脈道迢迢者為長。</p>
<p>脾合肌肉。脾脈循肌肉而行。持脈指法。如九菽之重。按至肌肉如微風輕　柳梢之狀為緩。次稍加力。脈道敦實者為大。</p>
<p>腎合骨。腎脈循骨而行。持脈指法。按至骨上而得者為沉。次重而按之。脈道無力為濡。舉指來疾流利者為滑。（濡是脈體之柔潤。非脈應指無力也。）</p>
<p>凡此五臟平脈。要須察之久久成熟。一遇病脈。自然可曉。經曰。先識經脈。而後識病脈。此之謂也。（五臟平脈病脈死脈。素問玉機真藏平人氣象兩篇。言之至詳且密。此文所敘。乃從難經錄出。其義未全。）</p>
<h2>四時平脈</h2>
<p>春弦。夏洪。秋毛。冬石。長夏四季脈遲緩。</p>
<h2>呼吸沉浮定五臟脈</h2>
<p>呼出心與肺。吸入腎與肝。呼吸之間。脾受穀味。其脈在中。心肺俱浮。浮而大散者心。浮而短澀者肺。腎肝俱沉。</p>
<p>牢而長者肝。濡而來實者腎。脾為中州。其脈在中。因指下輕重以定五臟。</p>
<p>即前所謂三菽六菽之重也。</p>
<h2>三部所主</h2>
<p>（九候附）</p>
<p>寸為陽。為上部。主頭項以下。至心胸之分也。關為陰陽之中。為中部。主臍腹　脅之分也。尺為陰。為下部。主腰足脛股之分也。凡此三部之中。每部各有浮中沉三候。三而三之。為九候也。浮主皮膚。候表及府。中主肌肉。以候胃氣。沉主筋骨。候裡及藏也。</p>
<h2>診脈之道</h2>
<p>凡診脈之道。先須調平自己氣息。男左女右。先以中指定得關位。卻齊下前後二指。初輕按以消息之。次中按消息之。再重按消息之。然後自寸關至尺。逐部尋究。一呼一吸之間。要以脈行四至為率。閏以太息。脈五至。為平脈也。</p>
<p>其有太過不及。則為病脈。看在何部。各以其部斷之。</p>
<p>凡診脈。須要先識時脈胃脈與腑臟平脈。然後及於病脈時脈謂春三月。六部中俱帶弦。夏三月。俱帶洪。秋三月。</p>
<p>俱帶浮。冬三月。俱帶沉。胃脈。謂中按得之。脈和緩。腑臟平脈。已見前章。凡人腑臟脈既平。胃脈和。又應時脈。</p>
<p>乃無病者也。反此為病。</p>
<p>診脈之際。人臂長則疏下指。臂短則密下指。三部之內。大小浮沉遲數同等。尺寸陰陽高下相符。男女左右。強弱相應。四時之脈不相戾。命曰平人。其或一部之內。獨大獨小。偏遲偏疾。左右強弱之相反。四時男女之相背。皆病脈也。凡病脈之見在上曰上病。在下曰下病。左曰左病。右曰右病。左脈不和。為病在表。為陽。在四肢。右脈不和。為病在裡。為陰。主腹藏。以次推之。</p>
<p>凡取脈之道。理各不同。脈之形狀。又各非一。凡脈之來。必不單至。必曰浮而弦。浮而數。沉而緊。沉而細之類。</p>
<p>將何以別之。大抵提綱之要。不出浮沉遲數滑澀之六脈也。浮沉之脈。輕手重手得之也。遲數之脈。以己之呼吸而取。</p>
<p>滑澀之脈。則察夫往來之形也。浮為陽。輕手而得之也。而芤洪散大長濡弦。皆輕手而得之之類也。沉為陰。重手而得之也。而伏石短細牢實。皆重手而得之之類也。遲者一息脈三至。而緩微弱皆遲之類也。數者一息脈六至。而疾促皆數。</p>
<p>之類也。或曰滑類乎數。澀類乎遲。何也。然脈雖是而理則殊也。彼遲數之脈。以呼吸察其至數之疏數。此滑澀之脈。</p>
<p>則以往來察其形狀也。數為熱。遲為寒。滑為血多氣少。澀為氣多血少。所謂脈之提綱。不出乎六字者。蓋以其足以統夫表裡陰陽冷熱虛實風寒燥濕臟腑血氣也。浮為陽為表。診為風為虛。沉為陰為裡。診為濕為實。遲為在藏。為寒為冷。</p>
<p>數為在府。為熱為燥。滑為血有餘。澀為氣獨滯也。人一身之變。不越乎此。能於是六脈之中以求之。則疚病之在人者。</p>
<p>莫能逃焉（內經以滑為血少氣多。澀為氣少血多者。蓋氣盛而血不能壅之則滑血壅而氣不能行之則澀也）持脈之要有三。</p>
<p>曰舉。曰按。曰尋。輕手循之曰舉。重手取之曰按。不輕不重。委曲求之曰尋。初持脈。輕手候之。脈見皮膚之間者。</p>
<p>陽也。腑也。亦心肺之應也。重手得之。脈附於肉下者。陰也。藏也。亦肝腎之應也。不輕不重。中而取之。其脈應於血肉之間者。陰陽相適。中和之應。脾胃之候也。若浮中沉之不見。則委曲而求之。若隱若見。則陰陽伏匿之脈也。三部皆然。</p>
<p>察脈。須識上下來去至止六字。不明此六字則陰陽虛實不別也。上者為陽。來者為陽。至者為陽。下者為陰。去者為陰。止者為陰也。上者。自尺部上於寸口陽生於陰也。下者。自寸口下於尺部。陰生於陽也。來者。自骨肉之分而出於皮膚之際。氣之升也。去者。自皮膚之際而還於骨肉之分。氣之降也。應曰至。息曰止也。明脈須辨表裡虛實四字。</p>
<p>表陽也。府也。凡六淫之邪。襲於經絡。而未入胃府及藏者。皆屬於表也。裡陰也。藏也。凡七情之氣。郁於心腹之內。</p>
<p>不能越散。飲食五味之傷。留於腑臟之間。不能通泄。皆屬於裡也。虛者。元氣之自虛。精神耗散。氣力衰竭也。實者。</p>
<p>邪氣之實。由正氣之本虛。邪得乘之。非元氣之自實也。故虛者補其正氣。實者瀉其邪氣。經所謂邪氣盛則實。精氣奪則虛。此大法也。</p>
<p>凡脈之至。在肌肉之上。出於皮膚之間者。陽也。府也。行於肌肉之下者。陰也。藏也。若短小而見於皮膚之間者。</p>
<p>陰乘陽也。洪大而見於肌肉之下者。陽乘陰也。寸尺皆然。</p>
<p>東垣云。不病之脈。不求其神。而神無不在也。有病之脈。則當求其神之有無。謂如六數七極。熱也。脈中（此中字浮中沉之中）有力。（言有胃氣）即有神矣。為泄其熱。三遲二敗。寒也。脈中有力。（說並如上）即有神矣。為去其寒。若數極遲敗中。不復有力。為無神也。將何所恃邪。苟不知此。而遽泄之去之。人將何所依而主耶。故經曰。脈者氣血之先。氣血者人之神也。善夫。</p>
<h2>脈陰陽類成</h2>
<p>浮不沉也。按之不足。輕舉有餘。滿指浮上。曰浮。為風虛動之候。為脹。為風。為　。為滿不食。為表熱。為喘。</p>
<p>浮大傷風鼻塞。浮滑疾為宿食。浮滑為飲。左寸浮。主傷風發熱。頭疼目眩。及風痰。浮而虛遲。心氣不足。心神不安。</p>
<p>浮散。心氣耗。虛煩。浮而洪數。心經熱。關浮。腹脹。浮而數。風熱入肝經。浮而促。怒氣傷肝。心胸逆滿。尺浮。</p>
<p>膀胱風熱。小便赤澀。浮而芤。男子小便血。婦人崩帶。浮而遲。冷疝臍下痛。右寸浮。肺感風寒。咳喘清涕。自汗體倦。浮而洪。肺熱而咳。浮而遲。肺寒喘嗽。關浮。脾虛。中滿不食。浮大而澀。為宿食。浮而遲。脾胃虛。尺浮。風邪客下焦。大便秘。浮而虛。元氣不足。浮而數。下焦風熱。大便秘。（諸脈指下真形。與其主病。俱少所發明。讀者當以意測之。推見其本。乃為有得）</p>
<p>沉。不浮也。輕手不見。重手乃得。為陰逆陽郁之候。為實。為寒。為氣。為水。為停飲。為　瘕。為脅脹。為厥逆。為洞泄。沉細為少氣。沉遲為痼冷。沉滑為宿食。沉伏為霍亂。沉而數內熱。沉而遲內寒。沉而弦心腹冷痛。左寸沉。心內寒邪為痛。胸中寒飲脅疼。關沉。伏寒在經。兩脅刺痛。沉弦。癖內痛。尺沉。腎藏感寒。腰臂冷痛。小便濁而頻。男為精冷。女為血結。沉而細。脛　陰癢。溺有餘瀝。右寸沉。肺冷。寒痰停蓄虛喘少氣。沉而緊滑。咳嗽。沉細而滑。骨蒸寒熱皮毛焦干。關沉。胃中寒積。中滿吞酸。沉緊懸飲。尺沉。病水。腰腳疼。沉細下利。又為小便滑。</p>
<p>臍下冷痛。</p>
<p>遲。不及也。以至數言之。呼吸之間。脈僅三至。減於平。脈一至也。為陰勝陽虧之候。為寒。為不足。浮而遲表有寒。沉而遲裡有寒。居寸為氣不足。居尺為血不足。氣寒則縮。血寒則凝也。左寸遲。心上寒。精神多慘。關遲。筋寒急手足冷。脅下痛。尺遲。腎虛便濁。女人不月。右寸遲。肺感寒。冷痰氣短。關遲。中焦寒。及脾胃傷冷物不食。</p>
<p>沉遲為積。尺遲。為藏寒泄瀉。小腹冷痛。腰腳重。</p>
<p>數。太過也。一息六至。過平脈兩至也。為煩滿。上為頭疼上熱。中為脾熱口臭。胃煩嘔逆。左為肝熱目赤。右下為小便黃赤大便秘澀。浮數表有熱。沉數裡有熱也。</p>
<p>虛。不實也。散大而軟。舉按豁然。不能自固。氣血俱虛之。診也。為暑。為虛煩多汗。為恍惚多驚。為小兒驚風。</p>
<p>實。不虛也。按舉不絕。迢迢而長。動而有力。不疾不遲。為三焦氣滿之候。為嘔。為痛。為氣寒。為氣聚。為食積。為利。為伏陽在內。左寸實。心中積熱。口舌瘡。咽疼痛。實大。頭面熱風煩燥。體痛面赤。關實。腹脅痛滿。實而浮大。肝盛。目暗赤痛。尺實。小腹痛。小便澀。實而滑。淋瀝莖痛溺赤。實大。膀胱熱。溺難。實而緊腰痛。右寸實。胸中熱。痰嗽煩滿。實而浮。肺熱。咽燥痛。喘咳氣壅。關實。伏陽蒸內。脾虛食少。胃氣滯。實而浮。脾熱。消中善飢。口乾勞倦。尺實。臍下痛。便難。或時下痢。</p>
<p>洪。大而實也。舉按有餘。來至大而去且長。騰上滿指。為榮絡大熱。血氣燔灼之候。為表裡皆熱。為煩。為咽乾。</p>
<p>為大小便不通。左寸洪。心經積熱。眼赤口瘡頭痛內煩。關洪。肝熱及身痛。四肢浮熱。尺洪。膀胱熱小便赤澀。右寸洪。肺熱毛焦。唾黏咽乾。洪而緊。喘急關洪。胃熱。反胃嘔吐口乾。洪而緊。為脹。尺洪。腹滿。大便難或下血。</p>
<p>微。不顯也。依稀輕細。若有若無。為氣血俱虛之候。為虛弱。為泄。為虛汗。為崩漏敗血不止。為少氣。浮而微者陽不足。必身惡寒。沉而微者陰不足。主藏寒下利。左寸微。心虛。憂惕。榮血不足。頭痛胸痞。虛勞盜汗。關微。</p>
<p>胸滿氣乏。四肢惡寒拘急。尺微。敗血不止。男為傷精尿血。女為血崩帶下。右寸微。上焦寒痞。冷痰不化。中寒少氣。</p>
<p>關微。胃寒氣脹。食不化。脾虛噫氣。心腹冷痛。尺微。藏寒泄瀉臍。下冷痛。</p>
<p>弦。按之不移。舉之應手端直如弓弦。為血氣收斂。為陽中伏陰。或經絡間為寒所滯為痛。為瘧。為拘急。為寒熱。</p>
<p>為血虛。為盜汗。為寒凝氣結。為冷痹。為疝。為飲。為勞倦。弦數為勞瘧。雙弦脅急痛。弦長為積。左寸弦。頭疼心惕。勞傷盜汗乏力。關弦。脅肋痛　癖。弦緊為疝瘕。為瘀血。弦小寒癖。尺弦。少腹痛。弦滑腳痛。右寸弦。肺受寒。</p>
<p>咳嗽胸中有寒痰。關弦。脾胃傷冷宿食不化。心腹冷痛。又為飲。尺弦。臍下急痛不安。下焦停水。</p>
<p>緩。不緊也。往來紆緩。呼吸徐徐。以氣血向衰。故脈體為之徐緩爾。為風。為虛。為痹。為弱。為疼。在上為項強。在下為腳弱。浮緩沉緩。血氣俱弱。左寸緩。心氣不足。怔忡多忘。亦主項背急痛。關緩。風虛眩暈。腹脅氣結。</p>
<p>尺緩。腎虛冷。小便數。女人月事多。右寸緩。肺氣浮。言語短氣。關緩。胃氣虛弱。浮緩。脾氣虛弱。不沉不浮。從容和緩。乃脾家本脈也。尺緩下寒腳弱。風氣秘滯。浮緩。腸風泄瀉。沉緩。小腹感冷。</p>
<p>滑。不澀也。往來流利。如盤走珠。不進不退。為血實氣壅之候。蓋氣不勝於血也。為嘔吐。為痰逆。為宿食。為經閉（滑而不斷絕。經不閉。有斷絕者。經閉）上為吐逆。下為氣結。滑數為結熱。左寸滑。心熱。滑而實大。心驚舌強。關滑肝熱。頭目為患尺滑。小便淋澀。尿赤。莖中痛。右寸滑。痰飲嘔逆。滑而實。肺熱。毛髮焦。隔壅咽乾。痰暈目昏。涕唾黏。關滑。脾熱。口臭。及宿食不化。吐逆。滑實。胃熱。尺滑。因相火炎而引飲多。臍冷腹鳴或時下利。</p>
<p>婦人主血實氣壅。月事不通。若和滑。為孕。</p>
<p>澀。不滑也。虛細而遲。往來難。三五不調。如雨沾沙。如輕刀刮竹然。為氣多血少之候。為少血。為無汗。為血痹痛。為傷精。女人有孕為胎痛。無孕為敗血病。左寸澀。心神虛耗不安。及冷氣心痛。關澀。肝虛血散。肋脹脅滿。</p>
<p>身痛。尺澀男子傷精及疝。女人月事虛敗。若有孕。主胎漏不安。右寸澀。脾弱不食。胃冷而嘔。尺澀。大便澀。津液不足。小腹寒。足脛逆冷。（經云。滑者傷熱。澀者中霧露。）</p>
<p>長。不短也。指下有餘。而過於本位。氣血皆有餘也。為陽毒內蘊三焦煩郁為壯熱。</p>
<p>短。不長也。兩頭無。中間有。不及本位。氣不足以前導其血也。為陰中伏陽。為三焦氣壅。為宿食不消。</p>
<p>大。不小也。浮取之若浮而洪。沉取之大而無力。為血虛。氣不能相入也。經曰大為病進。</p>
<p>小。不大也。浮沉取之。悉皆損小。在陽為陽不足。在陰為陰不足前大後小。則頭疼目眩。前小後大。則胸滿氣短。</p>
<p>緊。有力而不緩也。其來勁急。按之長。舉之若牽繩轉索之狀。為邪風激搏。伏於榮衛之間。為痛。為寒。浮緊為傷寒身痛。沉緊為腹中有寒。為風癇。左寸緊頭熱目痛。舌強。緊而沉。心中氣逆冷痛。關緊。心腹滿痛。脅痛肋急。</p>
<p>緊而盛。傷寒渾身痛。緊而實。　癖。尺緊。腰腳臍下痛。小便難。右寸緊。鼻塞膈壅。緊而沉滑。肺實咳嗽。關緊。</p>
<p>脾寒腹痛吐逆。緊盛。腹脹傷食尺緊。下焦築痛。</p>
<p>弱。不盛也。極沉細而軟。怏怏不前　。按之欲絕未絕。舉之即無。由精氣不足。故脈萎弱而不振也。為元氣虛耗。</p>
<p>為萎弱不前。為痼冷。為關熱。為泄精。為虛汗。老得之順。壯得之逆。左寸弱。陽虛。心悸自汗。關弱。筋痿無力。</p>
<p>婦人主產後客風面腫。尺弱。小便數。腎虛耳聾。骨內　痛。右寸弱。身冷多寒。胸中短氣。關弱。脾胃虛。食不化。</p>
<p>尺弱。下焦冷痛。大便滑。</p>
<p>動。其狀如大豆。厥厥搖動。尋之有。舉之無。不往不來不離其處。多於關部見之。（當云只各見本關之上。）動為痛。為驚。為虛勞體痛。為崩脫。為泄利。陽動則汗出。陰動則發熱。</p>
<p>伏。不見也。輕手取之。絕不可見。重取之。附著於骨。為陰陽潛伏。關鬲閉塞之候。為積聚。為瘕疝。為食不消。</p>
<p>為霍亂。為水氣。為榮衛氣閉而厥逆。關前得之為陽伏。關後得之為陰伏。左寸伏。心氣不足。神不守常。沉憂抑郁。</p>
<p>關伏。血冷。腰腳痛。及脅下有寒氣。尺伏。腎寒精虛。疝瘕寒痛。右寸伏。胸中氣滯。寒痰冷積。關伏。中脘積塊作痛。及脾胃停滯。尺伏。臍下冷痛。下焦虛寒。腹中痼冷。</p>
<p>促。陽脈之極也。脈來數。時一止。復來者。曰促。陽獨盛而陰不能相和也。或怒氣逆上。亦令脈促。為氣粗。為狂悶。為瘀血發狂。又為氣。為血。為飲。為食。為痰。蓋先以氣熱脈數而五者或一。有留滯乎。其間則因之而為促。</p>
<p>非惡脈也。雖然。加即死。退則生。亦可畏哉。</p>
<p>結。陰脈之極也。脈來緩。時一止。復來者。曰結。陰獨盛而陽不能相入也。為　結。為七情所郁。浮結為寒邪滯經。沉結為積氣在內。又為氣。為血。為飲。為食。為痰。蓋先以氣寒脈緩而五者或一留滯於其間。則因而為結。故張長沙謂結促皆病脈。</p>
<p>芤。浮大而軟。尋之中空旁實。旁有中無。診在浮舉重按之間。為失血之候。大抵氣有餘。血不足。血不能統氣。</p>
<p>故虛而大。若芤之狀也。左寸芤。主心血妄行。為吐。為衄。關芤。主脅間血氣痛。或腹中瘀血。亦為吐血目暗。尺芤。</p>
<p>小便血。女人月事為病。右寸芤。胸中積血。為衄。為嘔。關芤。腸癰。瘀血。及嘔血不食。尺芤。大便血。又云前大後細脫血也。非芤而何。</p>
<p>革（與牢脈互換）沉伏實大如鼓皮曰革。氣血虛寒。革易常度也。婦人則半產漏下。男子則亡血失精。又為中風寒濕之診也。</p>
<p>濡。無力也。虛軟無力。應手散細。如綿絮之浮水中。輕手乍來。重手即去。為血氣俱不足之候。為少血。為無血。</p>
<p>為疲損。為自汗。為下冷。為痹。左寸濡。心虛。易驚。盜汗。短氣。關濡。榮衛不和。精神離散。體虛少力。尺濡。</p>
<p>男為傷精。女為脫血。小便數。自汗。多　。右寸濡。關熱憎寒。氣乏體虛。關濡。脾軟不化飲食。尺濡。下元冷憊。</p>
<p>腸虛泄瀉。</p>
<p>牢。堅牢也。沉而有力。動而不移。為裡實表虛。胸中氣促。為勞傷。大抵其脈近乎無胃氣者。故諸家皆以為危殆之脈云。亦主骨間疼痛。氣居於表。</p>
<p>疾。盛也。快於數而疾。呼吸之間脈七至。熱極之脈也。在陽猶可。在陰為逆。（按疾言其至止之躁也。不必七至。</p>
<p>病主津虛氣悍。非熱也。）</p>
<p>細。微眇也。指下尋之。往來如線。蓋血冷氣虛。不足以充故也。為元氣不足。乏力無精。內外俱冷。痿弱洞泄。</p>
<p>為憂勞過度。為傷寒。為積。為痛在內及在下。</p>
<p>代。更代也。動而中止。不能自還。因而復動。由是復止。尋之良久。乃復強起為代。主形容羸瘦。口不能言。若不因病。而人羸瘦。其脈代止。是一藏無氣。他藏代之。真危亡之兆也。若因病而氣血驟損。以致元氣不續。或風家痛家。脈見止代。只為病脈。故傷寒家亦有心悸而脈代者。心痛亦有結澀止代不勻者。蓋凡痛之脈。不可準也。又妊娠亦有脈代者。此必二月余之胎也。</p>
<p>散。不聚也。有陽無陰。按之滿指。散而不聚。來去不明。謾無根柢。為氣血耗散。腑臟氣絕。在病脈。主陰陽不斂。又主心氣不足。大抵非佳脈也。</p>
<h2>婦人脈法</h2>
<p>婦人女子。尺脈常盛。而右手大。皆其常也。若腎脈微澀或左手關後尺內脈浮。或肝脈沉而急。或尺脈滑而斷絕不勻。皆經閉不調之候也。婦人脈。三部浮沉正等。無他病而不月者。妊也。又尺數而旺者亦然。又左手尺脈洪大為男。</p>
<p>右手沉實為女。又經云。陰搏陽別謂之有子。（尺內陰脈搏手。而其中別有陽脈也。陰陽相平故能有子也。）</p>
<p>凡女人天癸未行之時屬少陰。既行屬厥陰。已絕屬太陰。胎產之病從厥陰。凡婦人室女病寒。及諸寒熱氣滯。須問經事若何。凡產後。須問惡露有無多少。</p>
<h2>小兒脈</h2>
<p>小兒三歲以下。看虎口三關紋色。紫熱。紅傷寒。青驚風。白疳病。惟黃色隱隱。或淡紅隱隱。為常候也。至見黑色。則危矣。其他紋色。在風關為輕。氣關漸重。命關尤重也。及三歲以上。乃以一指按三關（寸關尺為三關）常以六七至為率。添則為熱。減則為寒。若脈浮數。為乳癇風熱。或五臟壅。虛濡為驚風。緊實為風癇。緊弦為腹痛。弦急為氣不和。牢實為便秘。沉細為冷。大小不勻。祟脈。或小或緩。或沉或細。皆為宿食不消。脈亂身熱汗出不食。食即吐。</p>
<p>為變蒸也。浮為風。伏結為物聚。單細為疳勞。小兒但見憎寒壯熱。即須問曾發斑疹否。此大法也。</p>
<h2>診家宗法</h2>
<p>（按此篇所列六條。即予位數情勢之義也。）</p>
<p>浮沉（以舉按輕重言。浮甚為散。沉甚為伏。）</p>
<p>遲數（以息至多少言數。甚為疾。數止為促。）</p>
<p>虛實洪微（以虧盈言。虛以統芤濡。實以該牢革。微以括弱。）</p>
<p>弦緊滑澀（以體性言。弦甚為緊。緩止為結。結甚為代。滑以統動。）</p>
<p>長短（以部位之過不及言。）</p>
<p>大小（以形狀言。）</p>
<p>諸脈亦統之有宗歟。蓋以相為對待者。以見曰陰曰陽。為表為裡。不必斷斷然七表八裡九道如昔人云云也。觀素問仲景書中論脈處。尤可見取象之義。今之為脈者。能以是觀之。思過半矣。於乎。脈之道大矣。而欲以是該之。不幾於舉一而廢百歟。殊不知至微者理也。至著者象也。體用一源。顯微無間。得其理。則象可得而推矣。是脈也。求之於陰陽對待統系之間。則啟源而達流。因此而識彼。無遺策矣。</p>
<h2>附錄</h2>
<h3>諸脈條辨</h3>
<p>（出程觀泉醫述。系衰輯景岳士材之書而成。以其簡切。故僭注而附錄之。其論各脈情勢。蓋校之滑氏樞要。尤見真諦云。）</p>
<p>浮脈。只輕手便得。非必中沉俱無。若崔氏云。有表無裡。有上無下。則脫然無根。混於散脈矣。非浮脈之真面目也（脈有素浮素沉之體。故浮無定候。以指面初到脈上為候也。）</p>
<p>洪脈。只是根腳闊大。卻非堅硬。若大而堅硬。則為實脈。而非洪脈矣。經曰。大則病進。謂其氣方張也。又曰。</p>
<p>形瘦脈大。多氣者死。謂形與脈不合也。（洪兼情勢。橫寬而起伏又大也。）</p>
<p>虛之異於散者。虛脈按之雖　。猶可見也。散脈按之絕無。不可見也。虛之異於芤者。虛則愈按而愈　。芤則重按而仍見也。（虛脈中空。散脈邊散。芤血虛且寒。故浮面多一層硬皮也。）</p>
<p>散有二義。一自有漸無之象。一散亂不整之象。比如楊花散漫。或至數不齊。或多寡不一。為危殆之候。若心脈浮大而散。肺脈短澀而散。皆平脈也。軟散則病脈矣。腎脈軟散。腎敗之征。脾脈代散。土絕之候。若二脈交見。尤為必死之符。（乍大乍小。乍疏乍數。至之散也。亂如麻子。形之散也。皆主死。尋常病脈。只是形體寬泛。而兩邊不斂。渾渾不清耳。）</p>
<p>營行脈中。脈以血形。芤脈中空。脫血之象也。訣云。寸芤積血在胸中。關內逢芤腸胃癰。是以芤為蓄血積聚之實脈。非失血虛家之空脈矣。且云兩頭有。以頭字換脈經之邊字。便相去千裡矣。（芤脈浮大而弦。按之中空。故兩頭有。</p>
<p>指下無。非如陰絕陽絕之不因。按而自不至也。訣語未誤。寸芤積血。關芤腸癰。古人已有驗之者。）</p>
<p>濡脈之浮　。與虛脈相類。但虛脈形大。而濡脈形小也。濡脈之細小。與弱脈相類。但弱在沉分。而濡在浮分也。</p>
<p>偽訣云。按之似有舉還無。是弱脈而非濡脈矣。濡脈之無根。與散脈相類。但散脈從浮大而漸至於沉絕。濡脈從浮小而漸至於不見也。從大而至無者。全凶之象。從小而至無者。凶吉相半也。在久病老年之人見之。尚未至於必絕。若平人少壯暴病見之。名為無根。去死不遠矣（濡即所謂芤而有胃氣者若浮薄至極。則為散不為濡矣。）</p>
<p>微之為言無也。其象極細極軟。仲景曰。縈縈如蛛絲。狀其細而難見也。瞥瞥如羹上肥。狀其軟而無力也。輕取如無。故曰陽氣衰。重按欲絕。故曰陰氣竭。久病得之多不可救。謂正氣將次滅絕也。卒病得之猶或可生。謂邪氣不至深重也。（曾診工人感冒。力作不休。數日困極。身燥氣喘。脈在皮毛。　然。一息不知十幾至。用大溫潤。兼通營衛。</p>
<p>天明得汗而解。若正發汗死矣。）</p>
<p>向以革脈即牢脈。非也。蓋革浮而牢沉。革虛而牢實。形與證皆異也。叔和云。三部脈革。久病得之死。卒病得之生。甲乙經曰。渾渾革至如涌泉。病進而色弊。綿綿其去如弦絕者死。言急如涌泉。則浮取之不止於弦大。而且數且搏且滑矣。曰弦絕。不止於豁然。而且無根蒂矣。（綿綿其去如弦絕。乃別一事。不與上文連義也。解弦絕。尤不合。）</p>
<p>腎之為藏。配坎應冬。萬物蟄藏。陽氣下陷。故其脈主沉。陰而居裡。若誤與之汗。則如蟄蟲。出而見霜。若誤與之下。則如飛蛾。入而見湯。</p>
<p>伏脈主病。在沉陰之分隱深之處。非輕淺之劑。所得破其藩垣也。傷寒以一手脈伏為單伏。兩手脈伏為雙伏。不可以陽證見陰脈為例。火邪內郁不得發越。乃陽極似陰。故脈伏者。必得大汗而解。如久旱將雨。必先六合陰晦。一回雨後。庶物咸蘇也。又有陰證傷寒。先伏陰在內。而外復感寒邪。陰盛陽衰。四肢厥逆。六脈沉伏。須投薑附。及灸關元。</p>
<p>陽始回而脈始出矣。若太谿衝陽皆無脈者。必死無疑。（伏者。以其中藏有物也。故無溫補之法。若中虛不宜疏散者。皆脫脈之類也。篇中所指兩條。一陽氣之自窒。一陰氣之見逼也。）</p>
<p>樹以根深為牢。蓋深入於下者也。監獄以禁固為牢。蓋深藏於內者也。仲景云。寒則牢堅。又有堅固之義也。沈氏曰。似沉似伏。牢之位也。實大弦長。牢之體也。牢脈主病以其在沉分也。故悉屬陰寒。以其形弦實也。故咸為堅積。</p>
<p>若失血亡精之人。內虛當得革脈。若反得牢脈。是脈與證反。可卜死期矣。（冬脈如營。營即牢之義也。陽藏於內。故深居而充實有力也。若陰踞於內。則陽熄而死硬矣。牢脈動力盛大。不得為死。以有陽也。）</p>
<p>實為邪氣盛滿堅勁有餘之象。既大矣而且長且堅。三候皆然。則諸陽之象。莫不畢備。故但主實熱。不主虛寒。</p>
<p>緊與實雖相似而實相懸。緊者熱為寒束。故其象繃急而不寬舒。實者邪為火迫。故其象堅滿而不和柔。（一寒裹於外。</p>
<p>一邪充於內。）</p>
<p>素問云。脈弱以滑。是有胃氣。脈弱以澀。是為久病。蓋弱堪重按。陰猶未絕。若兼澀象。則氣血交敗。生理滅絕矣。（指下波瀾。形之滑也。起伏自然。勢之滑也。一血充。一氣暢也。）</p>
<p>微脈模糊而難見。細脈則顯而易見。故細比於微。稍稍較大也。細為血少氣衰。故吐利失血。得沉細者生。憂勞過度之人。脈亦多細。為自戕其血氣也。大抵細脈微脈。俱為陽氣衰殘之候。非行溫補。何以復其散失之元乎。（微有極細。</p>
<p>亦有極薄。細則有濃有薄。有弱有強。各有主病不同。不得專指為微細也。）</p>
<p>陰性多滯。故陰寒之證。脈必見遲。與緩脈絕不相類。蓋緩以形之寬縱得名。遲以至數不及為義。緩脈四至。寬緩和平。遲脈三至。遲滯不前。二脈迥別。</p>
<p>澀脈往來遲難。有類乎止。而實非止也。有類乎散。實非散也。須知浮而極細極軟。似有若無。為微脈。浮而且細且軟。為濡脈。沉而且細且軟。為弱脈。三脈皆有似於澀。而實有分別。（澀脈專在動勢上見。故往來遲難四字至切。微濡弱三脈以形見。有兼澀者。有不兼澀者。澀脈不盡類散也。）</p>
<p>古人譬諸徐行而怠。偶　一步。可為結脈傳神。大凡熱。則流行寒則凝。結如冬冷則冰。堅理勢然也。人惟少火衰弱中氣虛寒失其干健之。運則氣血痰食互相糾纏。營運之機不利。故脈應之而成結也。（結即澀脈之兼緊者。）</p>
<p>結促之止。止無常數。代脈之止。止有常數。結促之止。一止即來。代脈之止。良久方至。內經以代脈之見。為藏氣衰微。脾經脫絕之候。惟傷寒心悸。懷胎三月。或七情太過。跌打重傷。及風家痛家。俱不忌代脈。或無病而羸瘦脈代者。危候也。久病脈代。萬難回春。又云。少得代脈者死。老得代脈者生。自當通變（結促是有一至略間而並來。代乃直少一至也。仍須細察脈神。以定吉凶。少得代死。老得代生。必是專指一病。非可概論也。）</p>
<p>緩脈以寬舒和緩為義。與緊脈相反。若陽寸陰尺。上下同等。浮大而軟。無有偏勝。為緩而和勻。此真胃氣脈也。</p>
<p>土為胃氣之母。中氣調和。則百病不生。一切脈中。皆須挾緩。謂之胃氣。非病脈也。兼乎浮遲虛濡細澀之形者。為病不足。為風為表虛也。（指下柔勻。形之緩也。來去從容如一。氣之緩也。若病脈。皆屬於濕熱之類）</p>
<p>數之為義。躁急而不能中和也。火性急速。故陽盛之證。脈來必數肺部見之。為金家賊脈。秋月逢之。為克令凶征。</p>
<p>滑之為言。往來流利。而不滯澀也。蓋脈者血之府也。血枯則脈澀。血盛則脈滑。（滑澀固由於血。實由於津液之載血而行者。有盛衰也。故澀脈之治。宜行血而生津。）</p>
<p>緊者繃急而兼絞轉之象。熱則筋縱。寒則筋急。此為熱鬱於內而寒束於外。故緊急絞轉之象見焉。合觀內經之左右彈。仲景之如轉索。丹溪之如紉線。叔和之如切繩。可見緊之為義。不獨縱有挺急抑且橫有轉側也緊脈之挺急。與弦相類。但比之於弦。有更加挺勁之異。與轉如繩索之殊也。（巢氏以弦洪相搏為緊。此即熱氣內郁之象。脈訣所論緊脈主病是也。若內外皆寒。則堅細而澀。當屬之結脈矣。）</p>
<p>促脈之故。得於藏氣乖違者。十之六七。得於真元衰憊者。十之二三。或。因氣滯。或因血凝。或因痰停。或因食壅。或外因六氣。內因七情。皆能阻其營運之機而為促也。如止數漸稀。則病瘥。止數漸增。則病劇。（與前論結脈義同宜玩味。）動脈兩頭俯中間起極與短脈相似。但短脈為陰不數不硬不滑也。動脈為陽且數且硬且滑也（由陰出陽。怒之象也。）疾一名極。總是急速之形。數之盛者也。惟傷寒熱極。方見此脈。非他疾所恆有也。若勞瘵虛憊之人見之。則陰髓下竭。陽光上亢。有日無月。短期近矣。（此條乃李士材所創。其名實本內經。但當以內經靜躁之義為說。不當仍隸於數也。予詳辨於補義中）</p>
<p>弦如琴弦之挺直。而略帶長也。經曰。少陽之氣。溫和軟弱。故脈為弦。其氣來實強。為太過。病在外。其氣不實而微。為不及。病在中。又肝脈來。濡弱迢迢。如循長竿末梢。曰肝平。若過實則肝病。急勁則肝死。弦脈與長脈。皆主春令。但弦為初春之象。陽中之陰。天氣猶寒。故如琴弦之端直。而挺然稍帶一分之緊急也。長為暮春之象。純屬於陽。絕無寒意。故如木干之迢直以長。純乎發生之氣象也。（弦以脈形之挺直言。長以脈氣之充足言。）</p>
<p>長脈之應。與弦脈略同。但弦之木。為萬物之始生。此主春生之正令。天地之氣至此發舒。故脈象應之為長也。經云長則氣治。李月池曰。心脈長者。神強氣旺。腎脈長者。蒂固根深。皆言平脈也。然惟長而和緩。乃合春生之氣。為健旺之征。若長而硬勁。即屬火亢之形。而為疾病之應也。（長而硬勁。為火亢。不曰木橫者。氣充形直。其象為洪。而不僅為弦也。）</p>
<p>短反乎長。彼應春。此應秋。彼屬肝。此屬肺。肺主氣。氣屬陽。宜乎充沛。短脈獨見。氣衰之兆。素問曰。肺之平脈。厭厭聶聶。如落榆莢。則短中自有和緩之象。氣仍治也。若短而沉且澀。則氣病矣。</p>
<p>大抵長短二脈。為有餘不及之象。長類於弦而盛於弦。為有餘。短類於動而衰於動。為不及。弦脈帶急而長脈帶緩。</p>
<p>動脈形滑而且數。短脈形澀而必遲。誠能細心較量。錙銖不爽者也。（長盛於弦。可見弦為形急。長為氣充也。）</p>
<h3>持脈總論</h3>
<p>（出士材三書）</p>
<p>脈狀繁多。未可以二十八字盡也。然於表裡陰陽氣血虛實之義。頗能括其綱要矣。如內經之所曰鼓者。且浮且大也。</p>
<p>曰搏者。且大且強也。曰堅者。實之別名也。曰橫者。洪之別名也。曰急者。緊之別名也。曰喘者。且浮且數也。曰躁者。且浮且疾也。曰疏者。且遲且軟也。曰格者。人迎倍大也。曰關者。氣口倍大也。此二脈者。後世不深維內經之旨。</p>
<p>而誤作病名也。（陰陽不相應。病名曰關格。即以脈名病。有何不可。仲景曰。關則吐逆。格則不得小便。未嘗專為病名。）</p>
<p>曰溢者。自寸口上越魚際。氣有餘也。曰覆者　。自尺部下達臂間。血有餘也。如仲景論脈。曰縱者。水乘火金乘木也。</p>
<p>曰橫者。火乘水。木乘金也。曰逆者。水乘金火乘木也。曰順者。金乘水木乘火也。曰反者。來微去大。病在裡也。曰覆者　。頭小本大。病在表也。曰高者。衛氣盛也。陽脈強也。曰章者。營血盛也。陰脈強也。曰剛者。高章相搏也。曰者。衛氣弱也。陽脈衰也。曰卑者。營血弱也。陰脈衰也。曰損者。　卑相搏也。內經十二。仲景十二。凡得二十四脈。未嘗非辨證之旨訣。而世皆置若無聞。則有慚於司命之職矣。雖二十八字。亦以含藏諸義。然不詳二十四字之義。</p>
<p>又安能入二十八字之奧哉。而猶不止此也。陰陽不可不分而剖。色脈不可不合而稽。尺膚不可不詳而考。主病不可不諳而識。四者得而持脈之道。思過半矣。脈要精微論曰。微妙在脈。不可不察。察之有紀。從陰陽始。始之有經。從五行生。生之有度。四時為宜。彼春之暖。為夏之暑。彼秋之忿。為冬之怒。四變之動。脈與之上下。是以聖人。持脈之道。</p>
<p>先後陰陽而持之。若陽動陰靜。陽剛陰柔。陰升陰降。陽前陰後。陽上陰下。陽左陰右。數者為陽。遲者為陰。表者為陽。裡者為陰。至者為陽。去者為陰。進者為陽。退者為陰。其恆經也。或陰盛之極。反得陽象。或陽亢之極。反得陰征。或陽窮而陰乘之。或陰窮而陽乘之。隨證更遷。與時變易。此陰陽之不可不分而剖也。岐伯曰。察脈動靜。而視精明。察五色。觀五臟有餘不足。六腑強弱。形之盛衰。以此參伍。決死生之分。又曰。形氣相得。謂之可治。色澤以浮。</p>
<p>謂之易已。脈從四時。謂之可治。脈弱以滑。是有胃氣。靈樞曰。色脈與尺。如鼓桴相應。青者脈弦。赤者脈鉤。黃者脈代。白者脈毛。黑者脈石。見其色而不得其脈。反得相勝之脈。則死矣得相生之脈。則病已矣。又云。精明五色者。</p>
<p>氣之華也。赤欲如白裹朱。不欲如赭。白欲如鵝羽。不欲如鹽。青欲如蒼璧。不欲如藍。黃欲如羅裹雄黃。不欲如黃土。</p>
<p>黑欲重漆色。不欲如地蒼。此色脈不可不合而稽也。靈樞曰。審尺之緩急大小滑澀。肉之堅脆。而病形定矣。目窠微腫。</p>
<p>頸脈動。時咳。按之手足。　而不起。風水膚脹也。尺膚滑而淖澤者風也。尺肉弱者解　。安臥脫肉者寒熱。不治。尺膚澀者。風痹也。尺膚粗如枯魚之鱗者。　飲也。尺膚熱甚。脈盛躁者。病溫也。脈盛而滑者。汗且出也。尺膚寒。脈小者。泄而少氣。尺膚炬然。寒熱也。肘所獨熱者。腰以上熱。手所獨熱者。腰以下熱。肘前獨熱者。膺前熱。肘後獨熱者。肩背熱。臂中獨熱者。腰腹熱。肘後粗以下三四寸熱者。腸中有蟲。掌中熱者腹熱。掌中寒者腹寒。魚上有青脈者胃中寒。尺炬然熱。人迎大。當奪血。尺堅大。脈小。少氣　。有加立死。又曰。脈急者尺膚亦急。脈緩者尺膚亦緩。</p>
<p>脈小者尺膚亦減而少氣。脈大者尺膚亦賁而起。脈滑者尺膚亦滑。脈澀者尺膚亦澀。此尺膚不可不詳而考也。脈要精微論曰。長則氣治。短則氣病。數則煩心。大則病進。上盛則氣高　。下盛則氣脹。代則氣衰。細則氣少。澀則心痛。渾渾革至如涌泉。病進而色弊。綿綿其去如弦絕者死。平人氣象論曰。脈短者頭痛。脈長者足脛痛。脈促上擊者肩背痛。脈沉而堅者病在中。脈浮而盛者病在外。脈沉而弱。寒熱及疝瘕少腹痛。脈沉而橫。脅下有積。腹中有橫積痛。脈沉而喘曰寒熱。脈盛滑堅者病在外。脈小實而堅者病在內。小弱以澀。謂之久病。浮滑而疾。謂之新病。脈急者疝瘕少腹痛。</p>
<p>脈滑曰風。脈澀曰痹。緩而滑曰熱中。盛而緊曰脹。臂多青脈曰脫血。尺脈緩澀。謂之解　。安臥脈盛。謂之脫血。尺澀脈滑。謂之多汗。尺寒脈細。謂之後泄。尺脈粗常熱者。謂之熱中。此主病之不可不諳而識也。如上所述。不過大略耳。若欲達變探微。非精研靈素。博綜百家。不可也。許引宗曰。脈之候幽而難明。我意所解。口莫能宣也。口且莫能宣。而筆又烏能寫乎。博極而心靈自啟。思極而神鬼將通。則三指有隔垣之照。二豎無膏肓之遁矣。</p>
