<header data-type="book">
<h1>幼科推拿秘書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>駱如龍</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1784">公元1784年</data></dd></div>
</dl>
</header>
<h2>卷一‧賦歌論訣秘旨</h2>
<h3>保嬰賦</h3>
<p>人稟天地。全而最靈。原無夭札。善養則存。始生為幼。三四為小。七齠八齔。九童十稚。驚癇疳癖。傷食中寒。湯劑為難。推拿較易。以其手足。聯絡臟腑。內應外通。察識詳備。男左女右。為主看之。先辨形色。次觀虛實。認定標本。手法祛之。寒熱溫涼。取效指掌。四十余穴。有陰有陽。</p>
<p>十三手法。至微至妙。審症欲明。認穴欲確。百治百靈。萬不失一。</p>
<h3>保生歌</h3>
<p>要得小兒安。常帶飢與寒。肉多必滯氣。生冷定成疳。胎前防辛熱。乳後忌風參。保養常如法。災病自無干。</p>
<h3>變蒸論</h3>
<p>小兒有變蒸熱症。變蒸者。所以變化臟腑。堅強骨脈。是陰陽正氣。陽氣行於旦。交人物之情性。陰氣行於夜。變人物之形體。故小兒自初生至四歲八歲。三十二日一變蒸。而腎氣足。八八六十四日再變蒸。則膀胱氣足。以後每增四八則一蒸。使五腑氣俱足。到三百二十日。凡十蒸變。則諸臟氣足。小蒸既畢。然後大蒸。又積至二百零六日。大蒸三遍畢。然後出蒸。是一歲零七個月。</p>
<p>大小蒸俱畢。或一日二日發熱。此不可推。痘疹亦然。推則拂亂其氣。反受其傷。故下手要觀五色。辨音。細問。切脈。察病數件。庶不有誤也。（上唇尖有米粒又黃泡者即是）</p>
<h3>察兒病症秘旨</h3>
<p>小兒之疾。大半胎毒。小半食傷。外感風寒之症。什一而已。兒在胎中。母飢亦飢。母飽亦飽。</p>
<p>辛辣適口。胎熱即隨。情欲動中。胎息即噪。專食煎炒。恣味辛酸。喜怒不常。皆能令子受患。母若胎前不能謹節。產後不能調養。惟務姑息。不能防微杜漸。未滿百日。遽與咸酸之味。未及周歲。</p>
<p>輒與肥甘之物。則百疾由是而生焉。小兒脾胃。本自嬌嫩。易於損傷。乳食傷胃。則為嘔吐。乳食傷脾。則為泄瀉。吐瀉既久。則成慢驚。乳食停積。則生濕痰。痰則生火。痰火交作。則為急驚。或成喉痹。痰火結滯。則成吊癇。或為喘嗽。胎熱胎寒。稟受有病。臍風撮口者。胎元有毒也。鵝口。</p>
<p>口瘡。胃有濕熱也。重口木舌。脾經有實火也。走馬牙疳。氣虛濕熱也。愛吃泥土。脾臟心生疳熱也。胎驚夜啼。邪火入心也。變蒸發熱者。毒散而五臟生也。丹毒者。火行於外也。蘊熱者。火積於中而外邪乘也。睡驚者。內火動也。喉痹者。熱甚也。眼痛者。火動也。膿耳者。腎氣上衝也。鼻塞者。因冒風寒也。頭瘡者。胎毒熱攻也。臍風者。中痰中濕也。尾骨痛者。陰虛痰也。諸蟲痛者。胃氣傷也。陰腫痛者。寒所郁也。盤腸氣痛者。冷滯脾胃也。便血者。熱傳心肺也。淋　者。熱鬱膀胱也。吐血生腫者。榮衛氣逆也。小便不通者。無陰有陽也。大便不通者。無虛有實也。解顱鶴節者。</p>
<p>胎元不全也。行遲發遲者。血氣不完也。雞胸者。肺熱滿胸也。龜背者。風邪入脊也。語遲者。邪乘心也。齒遲者。腎不足也。瘧疾者。膈上痰結也。痢疾者。食積腹中也。咳嗽者。肺氣傷也。喘氣者。</p>
<p>痰氣盛也。心痛者。蟲所嚙也。腹痛食所傷也。內傷發熱。口苦舌乾也。外感發熱。鼻塞聲重也。腹脹者。脾胃虛弱也。水腫。水旺土虧也。疸黃者。脾胃虛而有濕熱也。故調理脾胃。醫中之王道也。</p>
<p>節戒飲食。卻病之良方。驚疳積熱。小兒之常病也。恆居時。常觀其脾。微有青黑。即推數百。去其青黑之氣。再加補脾手法。可保小兒常安。此為要著。不可忽也。然推脾必要補。泄而不補。則脾愈弱。擦龜尾亦要補。如不補。則泄不止。脾上用功。手法之要務也。痢痞痰疳。小兒之重症也。</p>
<p>醫家慎之。（病源論得精細入手者所宜留心）</p>
<h3>觀形察色審病歌</h3>
<p>觀形察色辨因由。陰弱陽強發礙柔。若是傷寒雙足冷。要知有熱肚皮求。鼻冷便知是疹痘。</p>
<p>耳涼知是風熱投。渾身皆熱傷風症。下冷上熱食傷仇。</p>
<h3>病源論（望聞問切）</h3>
<p>兒有大小之不同。病有淺深之不一。形聲色脈之殊。望聞問切之間。若能詳究於斯。可謂神聖工巧者矣。蓋望者。鑒望辨其色也。假如面部。左腮屬肝。右腮屬肺。額屬心。鼻屬脾。頰屬腎臟。肝病面青。肺病面白。心病面赤。脾病面黃。腎病面黑。是乃望而知之也。聞者。聽聲知其症也。假如肝病聲悲。肺病聲促。心病聲雄。脾病聲慢。腎病聲沉。屬於臟。大腸病聲長。小腸病聲短。胃病聲速。膽病聲清。膀胱病聲微。屬於腑。是乃聞而知之也。問者。究其病源也。好食酸肝病。好食辛肺病。好食苦心病。好食甘脾病。好食咸腎病。好食熱內寒。好食涼內熱。是乃問而知之也。切者。切脈察病也。三周以下兒有病。男左女右看三關。卯是氣關。寅是風關。辰是命關醫難治。虎口有筋往上接。看之須要分五色。紅黃安樂五臟和。青紫定是受風嚇。是乃切而知之也。</p>
<p>此其大略也。</p>
<h3>看食指定症訣（附）</h3>
<p>虎口有三關。紫熱紅傷寒。青驚白是疳。黑即人中惡。黃者是脾端。三關者即風氣命三關也。</p>
<h3>五指定症歌</h3>
<p>五指梢頭冷。驚來不可當。若逢中指熱。必定是傷寒。中指獨自冷。疹痘症相傳。男女分左右。分明仔細看。</p>
<h3>手探冷熱定症訣</h3>
<p>兒心若熱跳。定然是著驚。熱而不跳者。可知是風傷。雖冷又翻眼。應看是水驚。</p>
<h3>視法</h3>
<p>潛　曰。醫家看病。望聞問切。有此四法。然必以望為先。故推拿小兒。亦先有視法。</p>
<h3>視初生</h3>
<p>小兒初生。五官宜赤。耳目口鼻天庭。五官也。初生氣血滿足。其色純赤。故曰赤子。若一門山根。二門印堂。三門發際。有白氣多夭。坎上坎下有黑氣。是氣血不足。見於口唇上下。亦主夭。</p>
<p>惟鼻梁上有骨筋。直上大天心。為補骨插天。壽而且貴。主一世無驚癇。</p>
<h3>視周歲</h3>
<p>正口常紅無疾。白虛黑危。人中黑腹痛有蟲。點點黑吐痢。山根紫傷乳食。青多病。印堂黃白吉。青紅驚。額青驚紅熱。眉紅夜啼煩躁。兩眼黑睛黃傷寒。白睛黃傷食。</p>
<h3>五視法</h3>
<p>一視兩目。目乃五臟精華所聚。遍身神氣所種。最宜睛珠黑光滿輪。精神明爽。長壽之相也。</p>
<p>雖有疾病。亦易痊愈。若白珠多。黑珠昏。或黃或小。此父母先天之氣薄弱。稟受既虧。自多災患。</p>
<p>二視囟門。此稟父精母血而成。充實逼仄。其兒必壽。若虛軟不堅。多生疾病。至囟門不合。</p>
<p>名曰解顱。黑陷者必死。不必治。</p>
<p>三視形貌。凡口小鼻蝸。眉心促皺。皮膚澀滯。雖不夭而多病。若口大鼻端。眉清目秀。部位相等。福壽之基也。</p>
<p>四視毛髮。毛髮受母血而實。故名血余。母血充實。兒發明色黑光潤。母血虛弱。兒發黃枯。</p>
<p>定生疳痍之患。</p>
<p>五視耳門。小丁方塊雙尖者主壽。單尖者必夭。若初生時。外視單尖。內按有雙骨。隨後長起。亦自不妨。總之雙尖方塊者。容或不壽。至單尖必不能長大。醫家視此。決定存亡。</p>
<h3>面部察色秘旨</h3>
<p>青主肝。紅主心。白主肺。黑主腎。黃主脾。青兼紅。是肝與心之疾。面色青者痰也。紅者熱也。白者寒也。黑者腎敗。黃者脾氣傷也。熱主心有火。哭主肝有風。笑主脾有痰。啼主肺有傷。冷主胃有濕。睡主腎有虧。歌曰。面色黃疳疾。青黑是驚風。吐瀉面黃白。傷寒定紫紅。痢疾眉頭皺。驚風兩頰紅。渴來唇帶赤。熱甚眼朦朧。</p>
<h3>探病秘旨</h3>
<p>天中氣色清明。即或生病必輕。頭圓骨聳方平平。荔枝陰囊壽慶。眼赤肝家有熱。鼻青肺內受寒。牙齒臭爛毒難堪。熱在腎經須看。兩目流淚癢澀。邪風早已在肝。瘡滿口中熱毒干。五腑俱可成疳。冷嗽肺氣傷濕。風嗽心熱何疑。腸臟傷而多瀉痢。冷物食積脾虛。水瀉冷多浮腫。水積腸臟虛鳴。疳盛淋澀少精神。大小不通熱甚。小腸腫為下陰。冷氣傳於膀胱。食傷冷物啞聲音。心熱相傳成病。吃作魚羊肉咸。沫延漫而　HT　。遂為多嗽與多喘。肺家虛熱為患。糞門腫腸熱結。因食冷物積成。糞中帶血熱腸存。霍亂陰陽感應。上下氣苦不順。郁逆必須運和。陰陽不和虛汗多。</p>
<p>分理陰陽莫錯。熱留臟中不解。定然渴噪不安。赤瀉熱痛欠安身。痢　久而沉悶。龜胞脈穴風熱。</p>
<p>臍爛咎在安歸。客風冷水之披靡。心熱睡語驚飛。手足四肢逆冷。驚風因而大劇。鵝口木舌心熱知。冷汗夜啼夢囈。乃是心驚被喝。身生此症須知。氣逆淋澀遇尿啼。體熱腸蒸肝氣。脾虛穀食不消。胃冷凍飲料食難進。眼轉氣虛吐弱甚。慢脾驚候一定。面上已無血色。痰又滿在咽喉。慢驚風症使人愁。渴燥血熱臟留。肚大面青黃瘦。熱疳沖於四肢。醫家審定虛與實。補泄全憑法治。</p>
<h3>推拿小兒總訣歌（附）</h3>
<p>推拿小兒如何說。只在三關用手訣。掐在心經與勞宮。熱汗立至何愁雪。不然重掐二扇門。</p>
<p>大汗如雨便休歇。若治痢疾並水瀉。重推大腸經一節。側推虎口見工夫。再推陰陽分寒熱。若問男女咳嗽訣。多推肺經是法則。八卦離起到乾宮。中間宜手輕些些。凡運八卦開胸膈。四橫紋掐和氣血。五臟六腑氣候閉。運動五經開其塞。飲食不進兒著嚇。推展脾土就吃得。飲食若進人事瘦。曲指補脾何須歇。直指推之便為清。曲指推之為補訣。小兒若作風火嚇。多推五指指之節。大便閉塞久不通。蓋因六腑有積熱。小橫肚角要施工。更掐腎水下一節。口出臭氣心經熱。只要天河水清徹。上入洪池下入掌。萬病之中都去得。若是遍身不退熱。外牢宮上多揉些。不問大熱與小炎。更有水底撈明月。天門虎口　肘訣。重揉順氣又生血。黃蜂入洞醫陰病。冷氣冷痰俱治得。</p>
<p>陽池穴掐心頭痛。一窩風掐肚痛絕。威靈總心救暴亡。精寧穴治打逆噎。男女眼若往上翻。重掐小天心一穴。二人上馬補腎經。治得下來就醒些。男左女右三關推。上熱退下冷如鐵。寒者溫之熱者清。虛者補之實者泄。仙人留下救兒訣。後學殷勤謹慎些。</p>
<h3>觀面部形色五臟秘旨</h3>
<p>心經有冷目無光。面赤須言熱病當。赤見山根驚四足。疾成虛腫起陰陽。</p>
<p>解曰。太陽黑。目無光彩。此心經冷也。兩頰赤色。乃心經熱也。山根赤色。心經受風。下準頭主惡邪。又若三陰三陽虛腫。心有痰也。</p>
<p>肝經有冷面微青。有熱眉泡赤又臨。發際白兮驚便入。食倉黃是積深沉。</p>
<p>解曰。面青為肝經受冷。主發熱驚風。眉上腫有赤紋。此是肝經有熱。若發際並印堂略白。此乃肝驚也。腮上有黃色。主肝有痰也。</p>
<p>脾冷因知面色黃。三陽有白熱為殃。青居發際主驚候。唇口皆黃食疾傷。</p>
<p>解曰。面黃印堂反白者。此脾冷也。三陽上有白色者。乃脾熱也。發際及印堂色青者。此脾驚也。上下唇黃。乃脾經受病也。</p>
<p>肺寒面白冷為由。熱赤人中及嘴頭。青在山根驚要起。熱居發際痰為仇。</p>
<p>解曰。白色在面皮。及人中青者。肺受冷也。若人中嘴頭有赤色。此乃肺有熱也。山根有青色。肺受驚也。發際有赤色。內有痰也。</p>
<p>面黑當知腎臟寒。食倉紅是熱須看。風門黃色為驚入。兩目微沉痰所干。</p>
<p>解曰。面有黑色。腎受寒也。食倉紅。腎受熱也。風門有黃色。腎有驚也。兩目微沉。痰在腎也。</p>
<h3>審音論</h3>
<p>凡小兒聲音。大而響亮者。乃五臟六腑充盈。兒必易長成人。如生來不曾大聲啼哭。此必有一臟陰竅未通。神氣未足。或聲如啾唧咿唔之狀。兒必不壽。故望之後。又必聞辨之。詩云。要知兒病生與死。總觀面色並審音。唇青耳黑兒難救。哭聲不響赴陰君。</p>
<h3>辨小兒聲音秘旨</h3>
<p>五音以應五臟。金主聲響。土主聲濁。木主聲長。水主聲清。火主聲燥。</p>
<h3>聞聲察病歌</h3>
<p>心主聲從肺出。肺絕啼哭無聲。多啼肝膽客風驚。氣緩神疲搐盛。音啞邪熱侮肺。聲清毒火無侵。痛聲直來淚不淋。鴉聲黃泉有分。輕聲兒氣必弱。重濁惟痛與風。狂聲高喊熱在中。聲戰寒氣已重。聲急連連不絕。多淚必是神驚。聲帶悶塞痰在心。喘氣噎難順行。肝病聲悲肺促。脾慢心病聲雄。小腸聲短大不同。大腸聲長較縱。腎病聲沉胃速。膽清膀胱聲微。重濁沉靜疳積虧。聆音病知源委。傷風必多噴嚏。呵欠倦怠神傷。撮口鴉聲氣急揚。蹼跌受喝驚張。</p>
<h3>切脈察病歌</h3>
<p>三周以下兒有病。男左女右看三關。寅是風關卯是氣。辰是命關醫難治。虎口有筋往上接。</p>
<p>看之須要分五色。紅黃安樂五臟和。青紫定其受驚嚇。入掌生枝恐不詳。（若筋沖三關、又分個枝、其症十死一生、惟久咳不在此論。）筋透三關命必亡。初關乍入推宜早。次節相侵亦可防。</p>
<p>筋赤定然因膈食。筋青端的水風傷。筋連大指陰症候。（陰者、寒深入也、花生寅卯位、主蟲、又主臟敗、凶。）筋若生花主不祥。</p>
<p>筋帶懸針主吐瀉。筋紋向外命難當。四肢癱軟腹膨脹。吐乳卻因乳食傷。丫魚刺、傷風向外者。沖過命關。向大腸倒去。</p>
<h3>辨指筋紋秘訣歌</h3>
<p>小兒三關食指。男左女右先詳。初風中氣命三關。風關驚起小恙。侵氣病可進退。命關逆候多亡。生又珠點透三關。蒿裡歌聲慟唱。三關筋色純黑。死期不日可傷。弓反裡外更難當。惡候筋紋此樣。食指筋紋五色。紅寒紫熱須詳。傷食青紫氣虛煩。青黑逆多惆悵。小兒指紋青色。多因胎氣不全。深青夜臥不安然。腹病微青必見。黑氣盤腸內吊。牽抽發搐連綿。黃兼面白瀉來纏。紫色傷風不免。指筋若有紅色。驚入脾竅分明。紅微不痢腹中寒。吐瀉脾虛食禁。三關深紅筋見。身強發熱常驚。紋弓余食膈中停。面黃脾經積病。三關紋生紫色。胎驚熱毒熏蒸。驚時啼哭又呻吟。多因紫青筋甚。微紫筋因傷熱。弓紋吐瀉頻頻。紫青黑色常懸針。曲指風熱為病。了懸針。主水瀉。水川字。主痰涎輕症。</p>
<h3>脈法歌</h3>
<p>小兒六歲須憑脈。一指三關定數息。遲冷數熱古今傳。浮風沉積當先識。左手人迎主外邪。</p>
<p>右手氣口主內疾。外邪風寒暑濕侵。內症乳食痰兼積。洪緊無汗是傷寒。浮緩傷風有汗液。浮而洪大風熱甚。沉而細滑積乳食。沉醫腹中痛不休。沉弦喉內作喘急。緊促之時疹痘生。緊數之時驚風疾。虛軟慢驚作螈　。（音計縱小兒風病）緊盛風癇發搐掣。軟而細者為疳蟲。牢而實者必便結。滑主痰壅食所傷。芤脈必主於失血。虛而有氣為之驚。弦急客忤君須識。大小不勻為惡候。三至為脫二至卒。五至為虛四至損。六至平和曰無疾。七至八至病尤輕。九至十至病勢急。十一二死無疑。</p>
<p>此訣萬中無一失。</p>
<p>凡小兒三歲以上。用一指按寸關尺三部。常以六七至為平脈。添則為熱。減則為寒。浮洪風盛。數則多驚。沉滯為虛。沉實為積。</p>
<h3>壞症十五候</h3>
<p>眼生赤脈貫瞳人。（瞳人屬腎、腎有兩筋自背脊直至腦門、貫其二睛、心與腎交、水火相濟、若水火兩絕、赤脈貫矣。）向上直視不轉睛。（向上直視不動、腎腑俱絕。）手足不收毛髮豎。</p>
<p>（胃主肌膚四肢、胃絕、則毛髮豎、手足不能收管。）囟門腫起又作坑。（心主血、心絕、血不上行。）</p>
<p>天柱骨痿頭偃後。（心絕、不治之症。）切牙出舌語不明。（舌乃心之外應、心絕、血不流行、虛舌退場門、或舌短不語。）齒或咬人腎脈絕。（腎乃骨之主、齒乃骨之余、絕則齒癢、切牙、或咬人、腎絕心亦絕。）</p>
<p>鼻孔干燥黑來侵。（鼻乃肺之外應、燥黑則肺絕。）魚口氣粗啼不得。（肺為氣主、肺絕、則氣出不返、或氣急難啼、魚口、一張一閉。）大腸脈絕忽鴉聲。（忽作鴉聲、則大腸絕矣、鴉聲、變聲不止。）兩手抱頭目無彩。（肝藏血、目乃肝之外應、血脈不蔭、則指甲青黑、及目無光彩、筋縮、則兩手抱頭、肝絕。）</p>
<p>指甲黑色又傷青。喉中拽鋸口吐沫。（凡有涎退場門鼻。）風疾閉竅面黑形。（五孔干燥、不治之症、是風痰竅塞關竅、血脈不行、不納湯藥、面色青黑。）心寒脈絕令肺脹。飲水直下胃無存。（肺胃俱絕、飲水不歇、直下大腸中去、必死之症。）痢如死鴨鵝之血。（心絕。）臭穢血水糟湯臨。（臟腑俱敗。）四肢汗出如油出。（榮衛俱絕、陰陽雜、津液散於四肢、如膠黏者、不治。）手足擲搖那得生。（心絕。）面黑唇縮不蓋齒。（脾絕。）蛔蟲退場門死形真。（脾絕。）</p>
<h3>五臟氣脫凶死訣</h3>
<p>搖頭直視心氣脫。青共唇腮肝氣脫。雨汗大喘肺氣脫。唇縮臍番脾氣脫。瞑目遺溺腎氣脫。</p>
<h2>卷二‧穴象手法</h2>
<h3>穴道圖象</h3>
<p>潛　曰。推拿一書。其法最靈。或有不靈。認穴之不真耳。即如頭為諸陽之首。面為五臟之精華。十指聯絡於周身之血脈。穴不真則竅不通。竅不通則法不靈。故予於斯書。首著訣法總綱。次詳全身經穴。而圖象昭焉。手法明焉。百病除焉。</p>
<h3>穴在頭腦者</h3>
<p>百會穴（在頭頂毛髮中、以線牽向發前後左右重。）囟門穴（在百會前、即泥丸也。）中庭穴（在發際上邊些。）天庭穴（即天門、又名三門。）天心穴（在額正中、略下於天庭。）兩額（在太陽之上。）</p>
<p>印堂（在兩眉心中、名二門）額角（左為太陽、右為太陰。）風府（在腦後枕骨下、俗名腦窩。）天柱（即頸骨也。）</p>
<h3>穴在面者</h3>
<p>山根（在兩眼中間、鼻梁骨、名二門。）三陽（左眼胞。）三陰（右眼胞。）準頭（名年壽、即鼻也。）龍角（一名文台、在左發毛。）虎角（一名武台、在右發毛。）風門（在兩耳門外。）風池（在目上胞、一名坎上。）</p>
<p>氣池（在目下胞、一名坎下。）左頰右頰（在顴之旁。）兩頤（在上口唇兩旁、即腮也。）水溝（在準頭下、人中是也。）食倉穴（在兩頤下。）承漿穴（在人中下地角。）</p>
<h3>穴在手指者</h3>
<p>少商穴（在大拇指尖。）商陽穴（在食指尖、指根下一節橫紋是風關、從掌上巽宮來、二橫紋是氣關、三橫紋是命關。）中衝穴（在中將指尖。）關衝穴（在無名指尖。）少衝穴（在小拇指尖。）大腸穴（在食指外邊。）小腸穴（在小拇指外邊。）四橫紋（在食將無名小指中四道小橫紋、除去大指、故名四。）</p>
<h3>穴在陽掌者</h3>
<p>內牢宮（在手心正中、屬涼。）八卦（將指根下是離宮、屬心火、運八卦必用大指掩掌、不可運、恐動心火。）</p>
<p>坎宮（緊與離宮相對、在小天心之上、屬腎水。）乾宮（名天門、一名神門、在坎宮之右。）小天心（在坎宮下中門。）</p>
<p>陽池穴陰池穴（在小天心兩旁。）販門穴（在大指下、一塊平肉如板。）大橫紋（在手掌下一道橫紋。）浮心穴（在大橫紋左邊。）腎經穴（在大橫紋右邊。）二人上馬（在小指旁三四橫紋、及掌乾宮旁。）水底穴（在小指旁、從指尖到乾宮外邊皆是。）虎口穴（大食二指丫叉處、筋通三關處。）</p>
<h3>穴在陽膊者</h3>
<p>總筋穴（在大橫紋下、指之脈絡皆總於此、中四指脈總於此。）內間史穴（在總筋下寸許、一名內關候。）天河穴（在內間史下、自總筋直往曲池。）曲池穴（在手灣處、一名洪池。）經渠穴（在浮心一邊、內間史旁。）列缺穴（在徑渠下、天河旁。）魚脊穴（陽池旁邊一小窩處、乃大指散脈處。）三關穴（在手膊上旁邊。）六腑穴（在手膊下旁邊。）</p>
<h3>穴在陰掌者</h3>
<p>外牢宮（在手背正中、屬暖。）合骨穴（在手背大指食指兩骨丫叉相合之間。）威靈穴（在外牢右邊骨縫處。）精靈穴（在外牢左邊骨縫處。）一扇門（在食將二指下夾縫處、威靈穴之上。）二扇門（在無名指根兩夾縫處。）大陵穴（外牢下、手背骨節處。）</p>
<h3>穴在陰膊者</h3>
<p>一窩風穴（大陵位下、手膊上、與陽膊總筋下對。）陽池穴（在外間史下。）外間史穴（在一窩風下、與內間史相對、一名外關候。）肩井穴（在肩膊眼窩內。）　肘穴（在手肘曲處、高起圓骨處。）</p>
<h3>穴在前身者</h3>
<p>人迎穴（喉之左右。）膻中穴（在人迎下正中、與背後風門相對、皆肺家華蓋之系。）天樞穴（在膻中穴下兩旁、兩乳之下。）乳穴（在兩乳下。）鳩尾穴（掩心骨盡處。）肚臍穴（一名神闕）。丹田穴（即氣海也。）肚角穴（腰下兩旁往丹田處也。）中脘穴（胃藏飲食處。）期門穴（在兩脅下軟處、吸氣之所。）關元穴（臍下寬平處、與下氣海相連。）腎囊（卵胞。）</p>
<h3>穴在脊背者</h3>
<p>風門穴（在脊骨二節下。）中樞穴（在脊骨七節之上。）七節骨穴（與心窩相對。）心俞穴（在七節骨左寸許。）肺俞穴（在七節骨右寸許。）腰俞穴（對前腰旁。）膀胱穴（在左股上。）命門穴（在右股上。）龜尾穴（一名閭尾、脊背盡頭處。）</p>
<h3>穴在腿足者</h3>
<p>鬼眼穴（在膝頭膝眼。）委中穴（在膝彎陷處。）前承山穴（一名子母穴、在下腿之前、與承山相對、一名中腫穴。）後承山穴（一名後水穴、如魚肚一般、在腿肚上、一名魚肚穴。）百蟲穴（在大腿之上外邊。）三裡穴（在膝頭之下。）外鬼眼穴（在膝外眼陷處。）鬼脹穴（在後腿肚旁。）蟹　穴（在腳面上彎處、與下中指相對。）</p>
<p>蹼參穴（在腳後根上、一名鞋帶穴。）大敦穴（在足大指上。）涌泉穴（在腳板心中處。）</p>
<p><a href="_files/p03-b30a1.bmp">正面圖</a></p>
<p>面部氣色十二經總現。五位色青。驚積不散。五位色紅。傷寒痰壅。積成驚悸。五位色黃。</p>
<p>食積疳痞。五位色白。氣不充實。滑泄吐痢。五位色黑。臟腑欲絕。疾危症惡。面青眼青。肝病。面赤唇紅。心病。面黃鼻黃。脾病。面類白色。肺病。五臟各有所屬。細探其色。即知表裡虛實盈虧。</p>
<p>其寒熱補泄之法。可考而知也。</p>
<p><a href="_files/p03-b30a2.bmp">正面圖</a></p>
<p><a href="_files/p03-b30a3.bmp">正面圖</a></p>
<p><a href="_files/p03-b30a4.bmp">正面圖</a></p>
<p><a href="_files/p03-b30a5.bmp">背面圖</a></p>
<p><a href="_files/p03-b30a6.bmp">側面圖</a></p>
<p><a href="_files/p03-b30a7.bmp">大指在外男順女逆</a></p>
<p><a href="_files/p03-b30a7-1.bmp">大指在內女順男逆</a></p>
<p><a href="_files/p03-b30a7-2.bmp">大指內又諸病惡症</a></p>
<p><a href="_files/p03-b30a8.bmp">陽掌八卦圖</a></p>
<p><u>五指經絡內外秘旨隨手形象開附於後</u></p>
<p>中指名為將指。屬心。心氣通於舌。絡聯於將指。通背左筋心俞穴。手中衝穴。足涌泉穴。大拇指下一指。名為食指。屬肝。肝氣通於目。絡聯於食指。通於小天心穴。足大　穴。</p>
<p><a href="_files/p03-b30a9.bmp">陽掌脾土肝木心火肺金腎水圖</a></p>
<p><u>中指：屬心大宜泄不宜補小兒初生不叫食乳是胎大攻心推二三十下喂以延壽丹三粒灌之即叫即食北方臥坑食大　</u></p>
<p>燒之物多此症屢驗。</p>
<p><u>　</u></p>
<p><u>天門：入虎口一手拿兩穴大指拿天門食指拿虎口。</u></p>
<p>大拇指屬脾土。脾氣通於口。絡聯於大指。通背右筋天樞穴。手列缺穴。足三裡穴。</p>
<p><a href="_files/p03-b30a10.bmp">陽掌圖</a></p>
<p><u>揉運脾土：男左手補女右手右運為補或屈大指側推致電版門以補脾土立進飲食。</u></p>
<p><u>陽池：魚際穴散脈處從此側推三關取真火。</u></p>
<p><u>內牢：撈明月退熱在此。</u></p>
<p><u>陰池：分陰陽在此</u></p>
<p>小指上一指名為無名指。屬肺。肺氣通於鼻。絡聯於無名指。通胸前膻中穴。背後風門穴。</p>
<p>小指屬腎。腎氣通於耳。絡聯於小指。通目瞳人。手合骨穴。足大敦穴。</p>
<p><a href="_files/p03-b30a11.bmp">陽掌圖</a></p>
<p>大腸筋在食指外邊。絡聯於虎口。直到食指側巔。小腸筋在小指外邊。絡聯於神門。直至小指側巔。</p>
<p><a href="_files/p03-b30a12.bmp">陰掌圖</a></p>
<p><u>大陵位：熱久不退反推此穴用以　卻不與食指相連殆抄訛歟此穴與食指相連肺經相近有火攻大之法乃　</u></p>
<p>盡頭指也　疾標此</p>
<p><u>　</u></p>
<p><u>精靈：精靈穴在外牢左邊與上二扇門相對與無名指相聯肺經相近</u></p>
<p><u>威靈：此穴與中指相連通心急驚變手指此叫則治不叫難　</u></p>
<p><u>一窩風：外間史離一窩風僅三指過去屬陽</u></p>
<h3>五指歌</h3>
<p>五指梢頭冷。驚來神不安。若逢中指熱。必定是傷寒。中指獨自冷。疹痘症相當。男女分左右。醫家仔細看。</p>
<h3>按穴卻病手法論</h3>
<p>潛　曰。仙女傳救嬰兒妙法。實諳先天機微。左旋右揉。推拿掐運。諸穴手法。至妙至精。苟缺一穴。而眾穴不靈。稍少一法。而妙法不真。醫家必深思其義蘊。而詳究其指歸。乃為有濟。然法雖有定。變通在人。標本先後輕重多寡之間。用手法而不泥乎法。神乎法而不離乎法。神而明之。存乎一心。所當競競致意者爾。</p>
<h3>手法秘旨</h3>
<p>凡觀小兒病症。男觀左手右腳。女觀右手左腳。必察何經絡。得其症候。方知道推某筋。掐某處。久揉驗。總要先觀兒虛實。而手法推之數目。即一定之。一歲三百。不可拘也。（此二句所謂用法而不泥乎法也可證諸家某穴推若千數之謬）又要審定主穴。某病症。以某穴為主。則眾手該用者在前。而此主穴在後。多用工夫。從其重也。蓋穴有君臣。推有緩急。用數穴中有一穴為主者。</p>
<p>而一穴君也。眾穴臣也。相為表裡而相濟者也。故赤子之病。有一視而愈者。亦有推數穴而不愈者。</p>
<p>是不明於察形辨症之主穴也。有一穴而治數病者。有數穴而治一病者。有一手而拿兩穴者。有兩手而拿一穴者。有病輕而推數穴不愈者。有重病而推一二穴即愈者。總待人神明其源而精乎其極也。</p>
<p>故云病輕一時松。病重費日功。若平日有慣者。病推畢後。必用總收手法。其病方永久不犯。用手法者慎思之。</p>
<h3>分補泄左右細詳秘旨歌</h3>
<p>補泄分明寒與熱。左轉補兮右轉泄。男女不同上下推。子前午後要分別。寒者溫之熱者涼。</p>
<p>虛者補之實者泄。手足溫和順可言。冷厥四肢凶莫測。十二經中看病源。穴真去病湯澆雪。</p>
<h3>又補泄辨</h3>
<p>補者。往指根裡推也。如推脾土。須屈小兒大指。從指之外邊。側推到HT　門。此為補。伸兒指者非也。泄者。向指根往外推也。推脾不宜。惟推肝腎肺以泄火。如此。</p>
<h3>掐運推拿辨</h3>
<p>掐者。用大指甲。將病處掐之。其掐數亦如推數。運者。運五經八卦也。五經用食將指平行。</p>
<p>八卦用大指肉側行。惟離宮屬火。不可運。醫者拿小兒手。即自以大指復按之。推者。一指推去而不返。返則向外為泄。或用大指。或用三指。穴道不同。惟心經無推。揉者。揉天樞。用大將二指。</p>
<p>雙揉齊揉。中脘。全掌揉。曲池。陽池。將指揉。臍與龜尾。皆搓掌心。用三指揉之。或用二指。視小兒大小。</p>
<h3>詳觀筋色屬五行生克掐法秘旨</h3>
<p>赤筋。乃浮陽。屬火。應心與小腸。主霍亂。外通赤龍燥熱。乾宮掐之。則陽火即散。青筋。乃青陽。屬木。應肝與膽。主溫和。外通眼目。赤濫多淚。坎位掐之。則目自明。黃筋屬土。居中五行。</p>
<p>應脾胃。主溫暖。腸鳴霍亂。吐瀉痢疾。皆中界總筋處掐之。淡黃筋。居中屬火土。應三焦。主半寒半熱。生壅塞之症。宜中宮內牢掐之。白筋。乃濁陰。屬金。應肺與大腸。外通鼻。主腹滿腦昏生痰。宜界外指臂。掐之立效。黑筋純陰。屬水。應腎與膀胱。外通兩耳。主冷氣昏沉。宜向邊位小指側掐之。</p>
<h3>補泄抑法</h3>
<p>子後火盛者。是陽火宜泄之。午後火盛者。是陰火宜補之。先熱後寒者。是陰乾陽。先泄後補。先寒後熱。是陽干陰。先補後泄。日間病重者。宜抑陽。夜間病重者。宜抑陰。</p>
<h3>論穴分寸</h3>
<p>屈小兒中指節。度之為寸。折半為五分。非分寸之謂也。</p>
<h3>三關六腑秘旨歌</h3>
<p>小兒元氣勝三關。推展三關真火然。真火熏蒸來五臟。小兒百脈皆和暢。元氣既足邪氣退。</p>
<p>熱極不退六腑推。若非極熱退愈寒。不如不退較為安。六腑愈寒疾愈盛。水火相交方吉慶。</p>
<p>解曰。推三關取熱。退六腑取涼。猶醫家大寒大熱之劑。若非大寒大熱。必二法交用。取水火相濟之義也。</p>
<h3>取溫涼汗吐瀉秘旨</h3>
<p>凡身熱重者。但撈明月。或揉涌泉。引熱下行。或揉臍及鳩尾。方用芽茶嚼爛。貼內間史穴上。又方用靛搽手足四心。又用水粉乳。調搽太陽四心。即熱退矣。</p>
<p>凡身涼重者。揉外牢宮。HT　門穴。揉二扇門。推三關。揉陽位。方用蘄艾揉細。火烘敷臍。立熱。</p>
<p>凡要取汗。推三關。揉二扇門。黃蜂入洞為妙。</p>
<p>凡要止汗者。退六腑。補肺經。如不止。方用浮小麥煎湯灌之。立效。至無疾自汗。乃小兒常事。不可過疑。</p>
<p>凡取吐泄者。外牢推至大陵位。取吐方知為第一。大陵反轉至牢宮。泄下心火無止息。左轉三來右一摩。此是神仙真妙訣。</p>
<p>凡止吐泄者。嘔吐乳食真可憐。HT　門來至橫紋中。橫紋若轉HT　門去。吐泄童子得平安。其間口訣無多記。往者俱重過者輕。</p>
<p>此合上外牢二法。俱圓推。男左轉。女右轉。去重回輕。此一節須詳究。</p>
<h3>各穴用法總歌（須熟讀細玩）</h3>
<p>心經一掐外牢宮。三關之上慢從容。（從容者、慢緩則周到有力、取汗要法。）汗若不來揉二扇。</p>
<p>黃蜂入洞有奇功。肝經有病患多痹。（痹者、昏睡、眼昏沉迷、以補脾土運八卦為主。）推補脾土病即除。八卦大腸應有用。飛金走氣亦相隨。咳嗽痰涎嘔吐時。（咳者、肺管有風、久咳肺系四垂不收、推肺腎為主。）一經清肺次掐離。離宮推至乾宮至。兩頭重實中輕虛。（以補脾為主。）飲食不進補脾土。人事瘦弱可為之。屈為補兮清直泄。妙中之妙有玄機。（以腎水為主。）小水赤黃亦可清。但推腎水掐橫紋。短少之時宜用補。赤熱清之得安寧。大腸有病泄瀉多。側推大腸久按摩。分理陰陽皆順息。補脾方得遠沉　。小腸有病氣來攻。橫紋HT　門推可通。用心記取精靈穴。管教卻病快如風。命門有病元氣虧。脾土大腸八卦為。側推三關真火足。天門　肘免災危。三焦有病生寒熱。天河六腑神仙訣。能知取水解炎蒸。分別陰陽掐指節。膀胱有病作淋　。補水八卦運天河。膽經有病口作苦。重推脾土莫蹉跎。腎經有病小便澀。推展腎水即清澈。腎脈經傳小指尖。依方推掐無差忒。胃經有病食不消。脾土大腸八卦調。胃口涼時心作噦。HT　門溫熱始為高。心經有熱發迷痴。</p>
<p>天河水過作洪池。心若有病補上膈。三關離火莫延遲。肝經有病患閉目。推展脾土效即速。脾若熱時食不進。再加六腑病除速。</p>
<h3>手法治病歌</h3>
<p>水底明月最為涼。清心止熱此為強。飛金走氣能行氣。赤鳳搖頭助氣良。黃蜂入洞最為熱。</p>
<p>陰症白痢並水瀉。發汗不出後用之。頓教孔竅皆通泄。大腸側推到虎口。止吐止瀉斷根源。瘧痢羸瘦並水瀉。心胸痞滿也能痊。掐肺經絡節與離。推離往乾中要輕。冒風咳嗽並吐逆。此筋推掐抵千金。腎水一紋是後　。推下為補上為清。小便閉塞清之妙。腎經虛損補為能。六腑專治臟腑熱。遍身潮熱大便結。人事昏沉總可推。去火渾如湯潑雪。總筋天水皆除熱。口中熱氣並刮舌。心驚積熱火眼攻。推之即好真妙訣。五經運通臟腑塞。八卦開通化痰逆。胸膈痞滿最為先。不是知音莫與泄。四橫紋和上下氣。吼氣肚痛掐可止。二人上馬清補腎。小腸諸病俱能理。陰陽能除寒與熱。二便不通並水瀉。諸病醫家先下手。帶繞天心坎水訣。人事昏迷痢疾攻。疾忙急救要口訣。</p>
<p>天門雙掐到虎口。　肘重揉又生血。一掐五指節與離。有風被喝要須知。小天心能生腎水。腎水虛少推莫遲。HT　門專治氣促攻。扇門發熱汗宜通。一窩風能治肚痛。陽池穴上治頭疼。外牢治瀉亦可用。拿此又可止頭疼。精靈穴能醫吼氣。威靈促死能回生。</p>
<h3>推五臟虛實病源治法歌</h3>
<p>心實叫哭兼發熱。飲水驚搐唇破裂。天河六腑並陰陽。飛金水底撈明月。虛則困臥睡不安。</p>
<p>補脾便是神仙訣。左轉心經與牢宮。再分陰陽三五百。肝實頓悶並呵欠。目直項急叫多驚。右轉心經推六腑。天河明月兩相親。虛則切牙迷多欠。補腎三關掐大陵。揉按中指單展翅。再把陰陽著力分。脾實困睡頻頻飲。身中有熱覺沉　。推脾推肺推六腑。運水入土並天河。虛則有傷多吐瀉。左轉心經熱氣　。赤鳳搖頭並運卦。陰陽外間便宜多。肺實悶亂兼喘促。或飲不飲或啼哭。泄肺陰陽六腑河。八卦飛金與合骨。虛則氣短喘必多。哽氣長出氣來速。補脾運卦分陰陽。離輕乾重三百足。腎主瞳人目畏明。又無光彩少精神。解顱死症頭下竄。白精多過黑瞳睛。面皮　白宜推肺。腎脾兼補要均停。重耳中諸揉百次。尿黃清腎卻通淋。</p>
<h3>驚風定生死秘旨歌</h3>
<p>急驚父母惶恐。慢驚醫家擔心。不語口閉眼翻睜。下手便掐威靈。兩手大指齊掐。手嫩隔絹方輕。一聲顯叫得歡忻。不醒還須法應。囟陷不跳必死。開而跳者還生。再掐中衝要知音。知痛聲音動聽。大　眼可掐動。腎頭掐亦蘇醒。兩乳穴下探生死。舍此何須又論。</p>
<h3>手法同異多寡宜忌辨明秘旨歌</h3>
<p>小兒周身穴道。推拿左右相同。三關六腑要通融。上下男女變通。（男左手、女右手、男從左手外往裡推為補、從裡往外推為清、推女相反、在右手。）</p>
<p>脾土男左為補。女補右轉為功。陰陽各別見天工。除此俱該同用。急驚推拿宜泄。痰火一時相攻。自內而外莫從容。攻去痰火有用。慢驚推拿須補。自外而內相從。一切補泄法皆同。男女關腑異弄。法雖一定不易。變通總在人心。本緩標急重與輕。虛實參乎病症。初生輕指點穴。二三用力方憑。五七十歲推漸深。醫家次第神明。一歲定須三百。二周六百何疑。月家赤子輕為之。寒火多寡再議。年逾二八長大。推拿費力支持。七日十日病方離。虛誑醫家誰治。禁用三關手法。足熱二便難通。渴甚腮赤眼珠紅。脈數氣喘舌弄。忌用六腑手法。泄青面　白容。脈微吐嘔腹膨空。足冷眼青休用。小兒可下病症。（下者六腑也。）實熱面赤眼紅。腹膨脅滿積難通。浮腫　腮疼痛。小便赤黃壯熱。氣喘食積宜攻。遍身瘡疥血淋漓。腹硬肚痛合用。不可下有數症。囟陷肢冷無神。不時自汗泄頻頻。氣虛乾嘔難忍。面白食不消化。虛疾潮熱腸鳴。毛焦神困脈微沉。煩燥鼻塞咳甚。</p>
<h3>用湯時宜秘旨歌</h3>
<p>春夏湯宜薄荷。秋冬又用木香。咳嗽痰吼加蔥薑。麝尤通竅為良。加油少許皮潤。四六分做留余。（手法一歲、雖云三百、然必輕者四分、重者六分、以待加減。）試病加減不難知。如此見功尤易。</p>
<p>四季俱用蔥薑煎湯。加以油麝少許推之。</p>
<h2>卷三‧推拿手法</h2>
<h3>分陰陽</h3>
<p>陰陽者。手掌下。右陰池穴。左陽池穴也。其穴屈小兒四指拳過處。即坎宮小天心處。以我兩手大拇指。從小天心處兩分推之。蓋小兒之病。多因氣血不和。故一切推法。必先從陰陽分起。諸症之要領。眾法之先聲。推此不特能和氣血。凡一切膨脹泄瀉。如五臟六腑有虛。或大小便不通。</p>
<p>或驚風痰喘等疾。皆可治之。至於乍寒乍熱。尤為對症。熱多則分陽從重。寒多則分陰從重。推者必審其輕重而用之。凡症必先用此法。用時醫者正好察色審音。探問因由而斟酌其對症之手法也。</p>
<h3>合陰陽</h3>
<p>合者。以我兩大指從陰陽處合來。蓋因痰涎涌甚。先掐腎經取熱。（當作涼。）然後合陰陽照天河極力推去。而痰即散也。</p>
<h3>小天心</h3>
<p>因額上有大天心。故此陰陽中間名小天心。臨坎水。小水赤黃。揉此以清腎水之火。眼翻上下。掐之甚妙。若繞天心。則已在分陰陽之內矣。</p>
<h3>運八卦</h3>
<p>八卦在手掌上。中指根下是離宮。屬心火。此宮不可運動。恐運動心火。運法必用我大指按復之。然後以我食指頭。從乾宮向兌坤小指邊左旋到坎。歸乾。為一運。其運至離宮則從大指甲上過去。此法開胸化痰。除氣悶滿脹。至於吐乳食。有九重三輕之法。醫者分陰陽之後。必次及於此。</p>
<h3>運五經</h3>
<p>五經者。五指頭之經絡也。心經在將指。肝經在食指。脾經在大拇指。肺經在無名指。腎經在小指。運者以我食指運小兒五指頭肉上。此法能治大小便結。開咽喉胸膈中悶塞。以及肚響腹脹。氣吼泄瀉諸症。蓋五臟之氣。運動即能開利。</p>
<h3>運水入土（泄）</h3>
<p>土者胃土也。在　門穴上。屬艮宮。水者。腎水也。在小指外邊些。運者以我大指。從小兒小指側巔。推往乾坎艮也。此法能治大小便結。身弱肚起青筋。痢瀉諸病。蓋水盛土枯。運以潤之。</p>
<p>小水勤動甚效。</p>
<h3>運土入水（補）</h3>
<p>土者。脾土也。在大指。水者。坎水也。在小天心穴上。運者從大指上。推至坎宮。蓋因丹田作脹。眼睜。為土盛水枯。運以滋之。大便結甚效。</p>
<h3>側推大腸到虎口</h3>
<p>大腸穴。在小兒食指外邊。虎口在大食二指掌丫處。側推者。以我大指從兒食指旁尖推往虎口。蓋因赤白痢水瀉。皆屬大腸之病。必推此以止而補之。且退肝膽之火。推者必多用工夫。若大腸火結。退六腑足矣。不必推。</p>
<h3>推脾土</h3>
<p>脾土。在大拇指上羅紋。男左旋。女右旋。而程公權云。不如屈小兒大指內推為補。直指外推為清。蓋因小兒虛弱。乳食少進。必推此有效。至痰食諸症。又必先泄後補。總之人一身以脾土為主。推脾土以補為主。清之省人事。補之進飲食。萬物土中生。乃一身之根本。治病之要著也。</p>
<h3>推腎水</h3>
<p>腎水在小拇指外旁。從指尖一直到陰池部位。屬小腸腎水。裡推為補。外推為清。清者。因小兒小水赤黃。補者。因腎水虛弱。清退臟腑熱。補因小便短少。</p>
<h3>推肝木</h3>
<p>肝木在食指。肝屬木。木生火。肝火動人眼目昏閉。法宜清。諸病從火起。人最平者肝也。肝火盛則傷脾。退肝家之熱。又必以補脾土為要。</p>
<h3>推心火</h3>
<p>（宜清不宜補、補則於人不利、宜切記。）</p>
<p>心屬中指。指根下離。屬火。凡心火動。口瘡弄舌。眼大小　赤紅。小水不通。皆宜推而清之。</p>
<p>至於驚搐。又宜清此。心經內一節。掐之止吐。</p>
<h3>推肺金</h3>
<p>肺金在無名指。屬氣。止咳化痰。性主溫和。風寒入肺固嗽。傷熱亦嗽。熱宜清。寒亦宜清。惟虛宜補。而清之後亦宜補。凡小兒咳嗽痰喘。必推此。驚亦必推此。</p>
<h3>推離往乾</h3>
<p>離在將指根下。乾在二人上馬之左旁。以我大指。從兒離宮推至乾宮。打個圓圈。離乾從重。</p>
<p>中要虛。男左女右。蓋因冒風咳嗽。或吐逆。掐肺經指節之後。必用此法為主。</p>
<h3>二人上馬</h3>
<p>二人者。我之大食二指也。上馬者。以我大指尖。按兒神門外旁。又以我食指尖。按兒小指根橫紋旁。掐之。清補腎水。治小腸諸氣。最效。若單掐腎水一節橫紋。退潮熱立效。又蘇（音蘇醒也）胃氣。</p>
<p>起沉　。左轉生涼。右轉生熱。</p>
<h3>掐四橫紋</h3>
<p>四橫紋。在食將無名小指指根下橫紋。一名小橫紋。小者對下大橫紋而言也。四者四指也。</p>
<p>掐者。以我大指掐之。按穴不起。手微動。卻有數。其數如推運之數。蓋因臟腑有熱。口眼歪斜。嘴唇破爛。掐此退熱除煩。且止肚痛。</p>
<h3>點內牢</h3>
<p>內牢在手心處。屬涼。撈明月在此。點者。輕輕拂起。如蜻蜓之點水。退心熱甚效。</p>
<h3>揉外牢</h3>
<p>外牢在手背居中。緊與內牢對。故亦名牢宮也。屬熱。揉之取汗。能治糞白不變。五穀不化。</p>
<p>肚腹泄瀉諸病。又大熱不退。揉此退之。是以火攻火之道也。一云左轉生涼。右轉生熱。</p>
<h3>外牢推至大陵位</h3>
<p>大陵位在外牢下。手背末骨節處。在一窩風之上。從外牢推至大陵位者。取小兒吐痰。又大陵反轉至外牢。以泄心熱。然以我手大指。左轉三來。又必向右轉一摩。左從重。右從輕。以取吐泄神效。但此九重三輕手法。最易忽忘。須用心切記。方不錯亂。若錯亂。即不能吐矣。</p>
<h3>門直推到橫紋</h3>
<p>（止吐止瀉、此為要著、神效有謂取吐取瀉者、則謬妄可恨矣。）</p>
<p>門穴。在大指下。高起一塊平肉如板處。屬胃脘。橫紋者、大橫紋也。手掌下一道大橫紋。</p>
<p>門直推到橫紋。止吐神效。橫紋轉推到　門。止瀉神效。</p>
<p>若吐泄並作。先推止吐一半。然後合推。　門推去重（止吐）。若橫紋推轉輕（止泄）。治氣促氣攻之症。</p>
<p>推此即通快。吼脹亦揉　門。</p>
<h3>拿總經</h3>
<p>總經在小天心下。內間史上。五指諸筋經絡。總由此散去。故名總經。小兒驚風。手足掣跳。</p>
<p>橫拿一個時辰。如不止。再掐大敦穴。大敦在足大指。男掐右足。女掐左足。若鷹爪驚。本穴掐後就揉。</p>
<h3>掐心經</h3>
<p>心經在將指尖中衝穴。小兒驚死。先掐此以試之。叫一聲可治。如不叫。再掐威靈穴以試之。</p>
<h3>雙手掐威靈</h3>
<p>威靈穴。在外牢右邊。與上一扇門相對。雙手以我兩大指甲與甲合。一齊著力。如小兒手嫩。</p>
<p>以綢絹隔之。掐雖重而不傷兒手。此治小兒急驚。一搐一死。有聲治。無聲不治。</p>
<h3>掐精靈</h3>
<p>精靈穴。在外牢左邊。與二扇門相對。掐此穴揉之。治小兒痰涌氣促氣急。用此法即散。</p>
<h3>揉扇門</h3>
<p>一扇門穴。在食將兩指根夾縫中。二扇門穴。在無名小指夾縫處。以我兩大指肉掐揉之。治小兒汗不出。熱不退。</p>
<h3>側推大三關</h3>
<p>大三關者。對風氣命食指上小三關而言也。屬真火元氣也。其穴從魚際穴。往膀上邊。到手彎曲池。故曰側。其推法。以我二指。或三指。從容用力。自魚際推到曲池。培補元氣。第一有功。</p>
<p>熏蒸取汗。此為要著。男子左手。從魚際推到曲池。女子從曲池推往魚際在右手。皆大補之劑。大熱之藥也。</p>
<h3>退六腑</h3>
<p>六腑穴。在膀之下。上對三關。退者。從　肘處向外推至大橫紋頭。屬涼。專治臟腑熱。大便結。遍身潮熱。人事昏沉。三焦火病。此為要著。若女子。則從大橫紋頭向裡推至曲池以取涼。在右手。醫家須小心記之。不可誤用。男女惟此不同耳。</p>
<p>合上二法。大寒大熱。偏用。若補元氣。必相劑而用。未可偏也。但推數多寡之不同耳。</p>
<h3>揉上天心</h3>
<p>上天心者。大天心也。在天庭中。小兒病目。揉此甚效。以我大指按揉之。眼珠上視。往下揉。</p>
<p>眼珠下視。往上揉。兩目不開。左右分揉。口眼歪斜。亦必揉此。</p>
<h3>清天河</h3>
<p>天河穴。在膀膊中。從坎宮小天心處。一直到手彎曲池。清者。以我手三指。或二指。自大橫紋推到曲池。以取涼退熱。並治淋　昏睡。一切火症俱妙。</p>
<h3>揉中脘</h3>
<p>中脘。在心窩下。胃腑也。積食滯在此。揉者。放小兒臥倒仰睡。以我手掌按而揉之。左右揉。</p>
<p>則積滯食悶。即消化矣。</p>
<h3>揉涌泉（久揉亦能治眼病。）</h3>
<p>涌泉穴。在腳心不著地處。左揉止吐。右揉止瀉。男依此。女反之。男右腳。女左腳。退煩熱。</p>
<p>亦妙引熱下行。</p>
<h3>揉一窩風</h3>
<p>一窩風。在大陵下些。掐此能止肚痛。或久病慢驚皆可。</p>
<h3>掐揉陽池</h3>
<p>陽池穴。在一窩風之下。掐此專治頭痛。</p>
<h3>掐內間史</h3>
<p>內間史。在總經下寸許。天河路上。掐此剿瘧。</p>
<h3>揉膻中風門</h3>
<p>膻中。在胸前堂骨窪處。風門。在脊背上。與膻中相對。揉者。以我兩手按小兒前後兩穴。齊揉之。以除肺家風寒邪熱。氣喘咳嗽之症。</p>
<h3>掐五指節</h3>
<p>掌背後五指節掐之。去風化痰。蘇醒人事。通關隔閉塞。</p>
<h3>拿蹼參穴</h3>
<p>一名鞋帶穴。在腳後根上。驚死重拿即醒。久拿必活。</p>
<h3>揉天樞</h3>
<p>天樞穴。在膻中兩旁兩乳之下。揉此以化痰止嗽。其揉法以我大食兩指。八字分開。按而揉之。</p>
<h3>掐蟹</h3>
<p>蟹　穴。在腳面上彎處。小兒內吊驚。往後仰。掐之即揉。</p>
<h3>拿委中</h3>
<p>委中穴。在腿彎處。小兒腳不縮。重拿之。向前蹼掐之。</p>
<h3>拿承山</h3>
<p>承山穴在腿肚中。一名魚肚穴。一把拿之。拿此穴。小兒即睡。又治喘。掐之即揉。男右女左。</p>
<h3>揉臍及鳩尾</h3>
<p>鳩尾在心窩上。掩心骨是也。臍乃肚臍。一名神闕。揉者。以我右掌。從小兒關元。右拂上至鳩尾。左旋而下。如數周回。蓋小兒天一真水在此。取水來克火之故也。身熱重者。必用此法。須用三指方著力。若手心則不著力矣。寒掌熱指。乃搓熱手心揉臍也。</p>
<h3>十三大手法推拿注釋</h3>
<h4>天門入虎口重揉肘穴</h4>
<p>此順氣生血之法也。天門即神門。乃乾宮也。　肘。膀膊下肘後一團骨也。其法以我左手托小兒　肘。復以我右手大指叉入虎口。又以我將指管定天門。是一手拿兩穴。兩手三穴並做也。</p>
<p>然必曲小兒手揉之。庶　肘處得力。天門虎口處又省力也。</p>
<h4>打馬過天河</h4>
<p>此能活麻木。通關節脈竅之法也。馬者。二人上馬穴也。在天門下。其法以我食將二指。自小兒上馬處打起。擺至天河。去四回三。至曲池內一彈。如兒輩嘻戲打破之狀。此法退涼去熱。</p>
<h4>黃蜂入洞</h4>
<p>此寒重取汗之奇法也。洞在小兒兩鼻孔。我食將二指頭。一對黃蜂也。其法屈我大指。伸我食將二指。入小兒兩鼻孔揉之。如黃蜂入洞之狀。用此法汗必至。若非重寒陰症。不宜用。蓋有清天河撈明月之法在。</p>
<h4>水底撈明月</h4>
<p>此退熱必用之法也。水底者。小指邊也。明月者。手心內牢宮也。其法以我手拿住小兒手指。</p>
<p>將我大指。自小兒小指旁尖。推至坎宮。入內牢輕拂起。如撈明月之狀。再一法。或用涼水點入內牢。其熱即止。蓋涼入心肌。行背上。往臟腑。大涼之法。不可亂用。</p>
<h4>飛金走氣</h4>
<p>此法去肺火。清內熱。消膨脹。救失聲音之妙法也。金者。能生水也。走氣者。氣行動也。其法性溫。以我將指蘸涼水置內牢宮。仍以將指引牢宮水上天河去。前行三次。後轉一次。以口吹氣微噓跟水行。如氣走也。</p>
<h4>按弦走搓摩</h4>
<p>（此法治積聚屢試屢驗）</p>
<p>此運開積痰積氣痞疾之要法也。弦者。勒肘骨也。在兩脅上。其法著一人抱小兒坐在懷中。</p>
<p>將小兒兩手抄搭小兒兩肩上。以我兩手對小兒兩脅上搓摩至肚角下。積痰積氣自然運化。若久痞則非一日之功。須久搓摩方效。</p>
<h4>二龍戲珠</h4>
<p>此止小兒四肢掣跳之良法也。其法性溫。以我食將二指。自兒總經上。參差以指頭按之。戰行直至曲池陷中。重揉。其頭如圓珠亂落。故名戲珠。半表半裡。</p>
<h4>雙龍擺尾</h4>
<p>此解大小便結之妙法也。其法以我右手拿小兒食小二指。將左手托小兒　肘穴。扯搖如數。</p>
<p>似雙龍擺尾之狀。又或以右手拿兒食指。以我左手拿兒小指。往下搖拽。亦似之。</p>
<h4>猿猴摘果</h4>
<p>此剿瘧疾。並除犬吠人喝之症之良法也。亦能治寒氣除痰退熱。其法以我兩手大食二指提孩兒兩耳尖。上往若干數。又扯兩耳墜。下垂若干數。如猿猴摘果之狀。</p>
<h4>揉臍及龜尾並擦七節骨</h4>
<p>（此治痢疾水瀉神效）</p>
<p>此治瀉痢之良法也。龜尾者。脊骨盡頭閭尾穴也。七節骨者。從頭骨數第七節也。其法以我一手。用三指揉臍。又以我一手。托揉龜尾。揉訖。自龜尾擦上七節骨為補。水瀉專用補。若赤白痢。必自上七節骨擦下龜尾為泄。推第二次。再用補。蓋先去大腸熱毒。然後可補也。若傷寒後。</p>
<p>骨節痛。專擦七節骨至龜尾。</p>
<h4>赤鳳搖頭</h4>
<p>此消膨脹舒喘之良法也。通關順氣。不拘寒熱。必用之功。其法以我左手食將二指。掐按小兒曲池內。作鳳二眼。以我右手仰拿兒小食無名四指搖之。似鳳凰搖頭之狀。</p>
<h4>鳳凰單展翅</h4>
<p>此打噎能消之良法也。亦能舒喘脹。其性溫。治涼法。用我右手單拿兒中指。以我左手按掐兒肘穴圓骨。慢搖如數。似鳳凰單展翅之象。除虛氣虛熱俱妙。</p>
<h4>總收法</h4>
<p>諸症推畢。以此法收之。久病更宜用此。永不犯。其法以我左手食指。掐按兒肩井陷中。乃肩膊眼也。又以我右手緊拿小兒食指無名指。伸搖如數。病不復發矣。</p>
<h4>十三手法歌</h4>
<p>齊拿天門虎口。重揉　肘並做。麻木關節要通活。打馬須過天河。黃蜂入洞熱汗。水底撈月涼寒。飛金走氣化風痰。按弦搓摩積散。積氣積痰搓走。二龍戲珠溫和。雙龍擺尾解結　。截瘧猿猴摘果。欲止小兒痢瀉。揉臍並及龜尾。赤鳳搖頭喘脹為。消噎展翅單飛。拿兒無名食指。伸搖盡力用功。有食先掐肩井中。總收久病宜用。永除小兒慣病。要將百穴全拿。若有一二法少瘥。未及年逾又發。十三手法卻病。仙傳留救兒童。醫者深思神會通。浮氣粗心休用。</p>
<h2>卷四‧推拿病症分類</h2>
<h3>胎毒門</h3>
<p>胎毒者。胎中受母熱毒致生病症。三朝。一七。十日。半月之內。最難救治。五六日尤難。速服延壽丹豆大三粒。即愈。</p>
<h3>啞口</h3>
<p>啞口者。受母胎中熱毒。心寒氣蔽。落地無聲。此時不暇用推法。速服延壽丹少許。即愈。</p>
<h3>口禁</h3>
<p>兒生三日。不哭不乳。是云口禁。此胎受火毒。攻心傳肺。故飲食不進。啼哭無聲。速服延壽丹少許。即愈。</p>
<h3>臍風</h3>
<p>兒生一七之內。肚脹腹硬。臍圍浮腫。口撮眉攢。牙關不開。名臍風撮口症。蓋因臍帶剪短。</p>
<p>或結縛不緊。致水濕侵臍。客風乘虛而入。傳之於心。蘊蓄其邪。復傳脾絡。舌強唇青。手足微搐。</p>
<p>喉中痰響。是其候也。服延壽丹少許。即愈。如神脫氣冷。不治。</p>
<h3>馬牙</h3>
<p>小兒月內打噴。即是馬牙。蓋因氣血薄弱。不能制伏其毒。以致心火上炎。牙齦遍生白色。用針刺破。毛青布蘸水掠洗。後用金墨搽。不復長。宜服延壽丹少許。即愈。</p>
<h3>鵝口</h3>
<p>小兒胎火攻心。致上　有白點。狀如粟米。名曰乳鵝。或口內白沫滿舌。上　戴礙。狀如鵝口。開而不合。語聲不出。乳食多艱。皆由熱毒上攻也。治法宜分陰陽。運八卦。清心經。撈明月。</p>
<p>宜服延壽丹。</p>
<h3>重舌木舌</h3>
<p>脾之脈絡系舌旁。肝之脈絡系舌本。心之脈絡系舌根。三經受胎毒而上攻。舌下又像有一舌。名曰重舌。舌腫如木。名曰木舌。又或舌卷縮。或舒長。或腫滿。此風熱盛而妨乳食也。又或生瘡破裂。胃有濕熱。四肢壯熱。是其候也。法宜分陰陽。運八卦。清心經。清脾經。清肝經。撈明月。</p>
<p>清天河。宜服延壽丹。</p>
<h3>夜啼</h3>
<p>夜啼有四。胎驚夜啼。邪火入心。心與小腸為表裡。夜啼而遺溺者是也。見燈煩躁愈啼者。心熱甚也。遇寒即啼者。寒疝也。面色紫黑。氣鬱如怒。若有恐懼。睡中驚跳者。誤觸神祗而夜啼也。</p>
<p>法宜分陰陽。運八卦。運五經。撈明月。清天河。心經。如寒推三陽。方用燈心燒灰。擦母乳頭與兒之。即止。</p>
<h3>諸熱門</h3>
<p>諸熱各有其因。要辨虛實寒冷。如胎熱。兒生三朝旬日月間。目閉面赤。眼胞浮腫。常作吟呻。或啼哭不已。時復驚煩。小便黃色。此因在胎受母熱毒。因有此症。若不速治。便成鵝口。重舌木舌。赤紫丹瘤。等症。又不宜以大寒之法攻之。熱退則寒起。傳作他症。切宜慎之。法宜分陰陽。</p>
<p>運八卦。清天河。水底撈明月。掐腎水。揉外牢。宜服延壽丹。</p>
<h3>潮熱往來</h3>
<p>時熱往來。來日依時而發。依時而退。如潮水之應不差。故名潮熱。大抵因飲食不調。中有積滯。以致血氣壅盛。熱發於外。伏熱者。大便黃而氣臭。宿寒者。大便白而酸臭是也。法宜分陰陽。運八卦。運水入土。撈明月。宿寒加推三關。氣湊則天門虎口　肘。</p>
<h3>驚熱</h3>
<p>心既受驚。氣則不順。身發微熱。而夢寐虛驚。面光自汗。脈數煩躁。治當與急驚同。法宜分陰陽。運八卦。清心經。清肺經。清天河。撈明月。二人上馬。</p>
<h3>風熱</h3>
<p>身熱面清。口中亦熱。煩叫不時。或大小便結。下之。法宜分陰陽。運八卦。掐心經。清肺經。</p>
<p>清天河。二人上馬。運水入土。撈明月。四肢掣跳。用二龍戲珠。便結。用雙龍擺尾。退六腑。宜服延壽丹。</p>
<h3>煩熱</h3>
<p>血氣兩盛。臟腑實熱。表裡俱熱。煩躁不安。皮膚壯熱。是也。法宜分陰陽。運八卦。運五經。</p>
<p>揉外牢。退六腑。清心經。清肺經。清天河。撈明月。以指掐涌泉為主。</p>
<h3>脾熱</h3>
<p>舌絡微縮。時時弄舌。因脾臟積熱。不可妄用涼法治。法宜分陰陽。運八卦。清心火。清脾經。</p>
<p>掐總經。推三關。退六腑。二人上馬。撈明月。合上俱宜服延壽丹。</p>
<h3>虛熱</h3>
<p>因病後血氣未足。四肢瘦弱。時多發熱。一日三五次者。此客熱乘虛而作。宜調氣血補虛。其熱自退。法宜分陰陽。運八卦。運五經。推三關。天門入虎口。揉　肘。飛金走氣。撈明月。</p>
<h3>實熱</h3>
<p>頭昏頰赤。口內熱。小便赤澀。大便閉結。此實熱之症也。宜下之。泄去臟腑之熱即安。法宜分陰陽。運八卦。清大腸。清腎水。二人上馬。撈明月。退六腑為主。</p>
<h3>積熱</h3>
<p>眼胞浮腫。面黃足冷。發熱從頭至肚愈盛。或惡聞飲食氣。嘔吐惡心。肚腹疼痛。治法宜分陰陽。運八卦。推大腸。運五經。清心經。運土入水。撈明月。退六腑。天門虎口　肘。飛金走氣。宜服延壽丹。</p>
<h3>疳熱</h3>
<p>因過餐積滯。郁遏成熱。脾家一臟有積熱不清。傳之別臟。遂成五疳之疾。若脾家病去。余臟皆安。法宜分陰陽。運八卦。推大腸。運土入水。推脾土。揉中脘。撈明月。虎口　肘。掐總經。少推三關。多退六腑。揉涌泉。</p>
<h3>血熱</h3>
<p>每日辰巳時發。遇夜則涼。非虛非疳。乃血熱之症也。法宜分陰陽。運八卦。運五經。清腎水。</p>
<p>二人上馬。撈明月。揉　肘。揉涌泉。推三關少。退六腑多。</p>
<h3>骨蒸熱</h3>
<p>骨熱而蒸。有熱無寒。醒後渴汗方止。非皮膚之外熱也。皆因小兒食肉太早。或多食炙爆面食之類。或好食生冷之物。或衣棉太濃。致耗津液而成。或疳疾之余毒。傳作骨蒸。法宜分陰陽。</p>
<p>運八卦。運五經。清天河。掐橫紋。撈明月。打馬過天河。運土入水。宜服延壽丹。</p>
<h3>肚熱</h3>
<p>血氣壅實。五臟生熱。蒸熨於內。一向不止。眠臥不安。精神恍惚。重發於外。表裡俱熱。甚則發驚。法宜分陰陽。清天河。水底撈月。退六腑。服延壽丹。</p>
<h3>溫壯熱</h3>
<p>溫溫不甚熱。與壯熱相類而小異。由胃氣不和。氣滯壅塞。故蘊積體熱。名曰溫壯熱。大便黃臭。宜微利之。法宜分陰陽。運八卦。運五經。清大腸。清腎水。撈明月。退六腑。虎口　肘。熱重不退。法宜清宜泄。水底撈月。揉涌泉。引熱下行。揉臍及鳩尾。小兒口吐熱氣。身子不熱。此心經熱也。法宜分陰陽。運八卦。清心經。清天河。掐總經。補腎水。小兒諸熱不退。法宜將水濕紙團。放在小兒手心內。再用水底撈明月法。立效。以上諸熱皆可推。惟小兒變蒸熱。乃初生時陰陽水火。</p>
<p>蒸於氣血。而使形體漸長成就也。切不可推。推則受害。醫者照前總論變蒸。按小兒生日計算之。</p>
<p>則不差誤矣。</p>
<h3>手法三陰三陽秘旨兼刺法</h3>
<p>早晨發熱曰潮熱。寅卯辰時為壯熱。手足動搖目上視。頭悶項急口內熱。此是肝家起病由。</p>
<p>推拿同前用手訣。刺手大端處。韭葉邊許。刺出血。泄心肝愈。</p>
<p>日午發搐為潮熱。巳午未時不堪掣。心驚神悸目上視。白精赤色心家熱。牙關緊閉口內痰。</p>
<p>少衝刺血兒救得。刺小兒手內端少衝穴。血出即愈。</p>
<p>日晚發搐潮熱足。申酉戌時不堪搐。目斜微喘身稍熱。清腎泄肺刺指側。睡露睛時手足冷。</p>
<p>推法同前不可缺。刺手少商穴。血出即愈。</p>
<p>夜間發搐因潮熱。亥子丑時不堪搐。身體溫和臥不穩。眼睛緊而斜視側。喉中痰涌銀褐色。</p>
<p>泄肺涌泉二三百。須灸足中指節下三壯。刺正沖穴羅紋。出血即愈。</p>
<h3>驚風門</h3>
<p>小兒有熱。熱甚生驚。驚盛發搐。又盛則牙關緊急。而八候生焉。八候搐搦掣顫反引竄視也。</p>
<p>搐者。兒兩手伸縮。搦者。十指開合。掣者。勢如相撲。顫者。頭偏不正。反者。身仰向後。引者。臂若開弓。竄者。目視似怒。視者。露睛不活。是八候也。又有驚風痰熱之四症。相因而生。二十四驚之症。然總不外急慢兩端。</p>
<h3>急慢驚風歌</h3>
<p>急驚推拿宜泄。痰火一時相攻。自上而下莫從容。攻去痰火有用。推拿慢驚須補。自下而上相從。一切補泄法皆同。男女關腑異弄。急驚父母惶恐。慢驚醫者擔心。不語口閉眼翻睛。下手便掐威靈。大指兩手齊掐。兒嫩隔絹為輕。一聲叫醒得　忻。不醒還須法應。口鼻業已無氣。心窩尚覺微溫。人中一燭四肢心。後燭承山有準。囟陷不跳必死。開而跳者還生。再掐中衝要知音。知痛聲音動聽。大　眼可掐動。腎頭掐亦蘇醒。兩乳穴下探生死。舍此何須又論。慢因吐瀉已久。食積脾傷而成。先止吐泄補脾經。莫使慢驚成症。脾虛飲食不消。胃冷凍飲料食難進。眼轉氣虛吐弱甚。慢脾驚候一定。面上已無氣色。痰又滿在咽喉。慢驚風症使人愁。補脾清痰速救。慢驚諸法無救。用艾咪粒為形。百會三壯燭醒醒。久咳又燭乳根。</p>
<h3>二十四驚辨症秘旨</h3>
<h4>胎驚</h4>
<p>兒初生柔軟。眼閉不開。其原因在母腹中受氣不全。即胎受傷。宜掐威靈為主。如掐之不叫。</p>
<p>用燈火燭上天心一　。涌泉一　。宜推三關。補肺經為主。</p>
<h4>月家驚</h4>
<p>小兒月內。搖拳頭偏。口撮不食乳。其原因母胎辛熱遺毒。退六腑。二人上馬為主。如撮口。</p>
<p>用天南星去皮臍為末。樟腦少許和勻。搽牙齦即開口。若落地眼紅撮口。手捻拳。頭偏左右。驚聲不出。母食煎炒所致。加用二龍戲珠。天門虎口　肘。</p>
<h4>臍風驚</h4>
<p>口撮吐沫。腹硬頭偏。搐掣。手捻拳。臍翻。哭無聲。其原因剪臍受風。小肚下有一筋直上臍來。此筋到臍。不可救。若未到。急須先用燈火攔頭燭百會穴三下。攔回可救。臍門上用火七　。</p>
<p>大指四焦。涌泉七　。臍未翻。神門一　。宜推三關。取汗為主。臍翻不治。</p>
<h4>鎖心驚</h4>
<p>鼻流鮮血。口紅眼白。身軟。好食冷物。其原因心火太盛。宜明月天河為主。退六腑。清心經。</p>
<p>推腎水。分陰陽。飛金走氣。掏五指節。天門虎口　肘諸法。方用延壽丹三分。</p>
<h4>急驚風</h4>
<p>手足捻拳。四肢亂抓。掣跳。口斜眼偏。其原因喧響受喝。宜安神。掐威靈為主。又掐心經中衝穴。掐四橫紋。清肺經。分陰陽。運八卦。運五經。撈明月。清天河。猿猴摘果。清心經。方用大田螺。撥開眼蓋。放冰片三厘。少刻成水。茶匙挑入兒臍內。雖一叫而死。即刻醒活立愈。</p>
<h4>慢驚風</h4>
<p>眼翻白不食乳。四肢壅軟。拽氣無時。其原因內傷已久。胃氣漸脫。宜補脾土為主。分陰陽。</p>
<p>運八卦。補肺經。推三關。揉小天心。走搓摩。赤鳳搖頭。若手法不能。又必推三關。以補元氣為主。</p>
<h4>夜啼驚</h4>
<p>遇晚悲啼。哭聲不止。其原因心火上炎。邪火入心。面紅。宜安神清心為主。分陰陽。運八卦。</p>
<p>清肺經。撈明月。清天河。退六腑。方用延壽丹。燈心火灰。水調服。擦乳上。兒食乳下之亦可。</p>
<h4>嘔吐驚</h4>
<p>四肢冷。肚響。眼翻。嘔吐乳食。其原因胃腑受寒。宜運八卦。取汗為主。分陰陽。推三關。推肺經。揉天心。二人上馬。運五經。運八卦。揉天樞。推HT　門橫紋。又用後止吐推法總秘旨。凡推主穴。如兒年數。余法少減可也。</p>
<h4>潮熱驚</h4>
<p>遍身不時發熱。口渴氣喘。其原因乳食傷風。乃諸病之萌芽。宜清天河為主。又分陰陽。運八卦。揉二扇門取微汗。撈明月。掐五指節。</p>
<h4>宿沙驚</h4>
<p>至晚申酉時。人事昏沉。口眼俱歪邪。人事不醒。其原因睡含乳。口角感風。推三關。分陰陽為主。又掌心揉臍。如不應。將燈火燭四心各一焦。</p>
<h4>擔手驚</h4>
<p>兩手擔下。眼黃翻下。口黑面紫。人事昏迷。其原因肺經受風。掐不知痛。宜補脾經。推三關。</p>
<p>黃蜂入洞。取汗為主。又運水入土。天門虎口　肘。方用麝香擦腳心。細茶洗口。忌風乳食。多時可愈。</p>
<h4>盤腸驚</h4>
<p>氣吼肚脹。飲食不進。人事瘦弱。肚起青筋。眼黃。大小便少。其原因六腑有寒。宜推三關。黃蜂入洞。取汗為主。又推大腸。揉臍及龜尾。補腎水。運水入土。如眼黃。筋滿肚難治。</p>
<h4>撒手驚</h4>
<p>手足一掣一跳。忽一撒竟死。其原因肺經受風喝。宜清肺為主。又分陰陽。運八卦。清心經。</p>
<p>赤鳳搖頭。二龍戲珠。運土入水。推三關。退六腑。拿總經。推脾土。方用吳茱萸。付兒掌心上捏之必愈。忌生冷。</p>
<h4>水瀉驚</h4>
<p>肚鳴身軟。眼唇俱白。其原因傷乳食所致。宜補脾土為主。又推三關。分陰陽。推大腸。天門虎口。揉　肘。揉臍及龜尾。一日推兩次。待泄後。下午補一次。補脾後。從龜尾擦上七節骨。方用抱龍丸。凡驚此丸俱治。如麻痘首尾並時疾。亦可服。</p>
<h4>天吊驚</h4>
<p>頭向上。手向上。哭聲嚎叫。鼻流清水。四肢掣。口眼歪邪。其原因心火克肺。肺家有熱上炎。</p>
<p>宜清心肺為主。法又分陰陽。推三關。運八卦。清天河。揉小天心。補腎水。清肺經。清心經。二人上馬。飛金走氣。如不應。用燈火燭神闕一　。方用傘一把。倒吊鵝一只。將碗接鵝口中涎。與兒服之。即愈。</p>
<h4>內吊驚</h4>
<p>切牙寒戰。哭聲不止。臉黃。口眼歪邪。掐不知痛。其原因脾肺受病。小兒或弄水。或雨露冷氣衝之。寒於內。遂成驚。宜推三關。取汗為主。又推脾土。補腎水。分陰陽。走搓摩。補肝經運水入土。方用乳香丸。</p>
<h4>彎弓驚</h4>
<p>四肢向後。頭昂肚仰。哭不成聲。其原因肺受寒。宜推三關。取汗為主。又推肺經。補腎。運八卦。分陰陽。掐四橫紋。赤鳳搖頭。掐蟹　左右。重揉委中。方用百草霜。蘄艾揉烘縛膻中心坎上。</p>
<h4>鳥鵲驚</h4>
<p>忽大叫哭一聲即死。手足掣跳。口開聲變。其原因心經受嚇。痰火攻心。宜清心經。清天河。</p>
<p>撈明月為主。服延壽丹。</p>
<h4>馬啼驚</h4>
<p>兒頭向上。四肢亂舞。其原因被風嚇。宜二龍戲珠為主。推三關。運八卦。推脾土。分陰陽。黃蜂入洞。方用蔥白研並敷臍。再輕輕把二人上馬一揉。少與乳食即愈。</p>
<h4>鯽魚驚</h4>
<p>口吐白沫。四肢動搖。眼掣口斜。其原因五臟有寒受嚇。宜安神取汗為主。法用推三關。推肺經。運八卦。推天河。運水入土。走搓摩。方用細茶蛤粉搓囟門。忌乳食。</p>
<h4>肚脹驚</h4>
<p>氣喘。青筋裹肚。腹脹。眼翻。作瀉。其原因乳多傷脾。外受風寒。宜推三關取汗。揉臍為主。</p>
<p>又分陰陽。運八卦。補腎經。揉神闕。推大腸。走搓摩。方用蔥白研細作餅。隔火紙七層。敷臍。將蠶絲系之。即愈。</p>
<h4>蛇絲驚</h4>
<p>口中舌撩。吐青煙。四肢寒冷。其原因心經蘊熱。宜退心火為主。又分陰陽。運八卦。退六腑。</p>
<p>清天河。撈明月。清心經。運水入土。方用薄荷煎湯。洗口數次。米疳水又洗口數次。蛤粉擦涌泉穴即愈。</p>
<h4>鷹爪驚</h4>
<p>撒手亂抓。腳掣。頭搖。身戰。眼光。哭聲不止。其原因肺受風。心經煩躁。宜分陰陽。退心熱為主。又分陰陽。運八卦。清心經。清肺經。推天河。飛金走氣。按弦走搓摩。</p>
<h4>急沙驚</h4>
<p>口唇青。四肢冷。筋青。四掌心有黑氣。其原因五臟受寒邪。推肺經。取汗為主。此症一汗即愈。推三關。推肺經。運八卦。黃蜂入洞。如不應。用雞翎蘸香油。探喉吐痰。若不吐。外牢推大陵。</p>
<p>或用滌痰神咒。以吐汗為主。推訖。仍補脾土。運八卦。後見風不畏。凡推驚。不可拘推三回一之說。但推到其中。回幾下便是。驚者筋也。驚見便是。驚風不省人事。治法。灸上天心。涌泉。大指甲側。</p>
<h3>痰喘門</h3>
<p>小兒痰喘。痰或作喘。彼不知吐。須用法取之。若不取吐。痰老難治。肺虛喘聲短。實則喘聲長。虛補實泄。法用分陰陽。運八卦。運五經。掐四橫紋。乾離重推。補脾土。小便赤。清天河。退六腑。飛金走氣。嘴唇紅。按弦走搓摩。揉臍及肩井。曲池。氣喘。合陰陽。又總筋。清天河立止。氣吼發熱。揉承山。天門入虎口。揉　肘。赤鳳搖頭。飛金走氣。痰盛。眼欲上竄。頭往上昂。掐兩乳下一指期門穴。即止。痰迷心。清心經。清肺經。揉外牢宮。揉精靈。掐五指節。天門虎口　肘。</p>
<h3>吐痰法</h3>
<p>分陰陽。運八卦。清心經。大陵推至外牢。左轉三來右一摩。如不吐。口念咒云。無凡火不成天火。無凡水不成仙水。用生礬。（兒小三厘、大用五厘。）將滾水沖之。左手三叉訣托水盅。右手用劍訣向水碗上。書滌痰大將軍　令。書畢。書符</p>
<p><a href="_files/p03-b30b1.bmp">圖</a>。有食寫食字。無食寫火字。將水與小兒飲之。半個時辰其痰即吐。止吐法。分陰陽。運八卦。掐心經。左轉揉之。揉乾離。掐外牢宮。左轉。推三關。掐大陵位。左轉。清肺經。補脾土。掐涌泉。左轉。其吐即止。如再吐。是火熱。宜補脾土。運八卦。乾離重推。將手掌搓熱。揉小兒心窩左轉。即止。化痰。多掐五指節。痰壅。揉涌泉穴。左揉肺氣盛。</p>
<p>右揉心火泄。</p>
<h3>嘔吐門</h3>
<p>有物有聲。名曰嘔。乾嘔則無物。有物無聲。名曰吐。嘔者有聲。吐者則無聲。嘔吐出物也。胃氣不和。足陽明經。胃脈絡。陽明之氣下行則順。今逆而上行。故作嘔吐。有胃寒胃熱之不同。傷食胃虛之各異。病既不一。治亦不同。諸吐不止。必因乳食所傷。大要節乳為最。凡吐不問冷熱。久吐不止。胃虛生風。恐成慢驚之症。必須預防。如已成慢脾風症。常嘔腥臭者。胃氣將絕之兆也。</p>
<h3>熱吐</h3>
<p>夏天小兒游戲日中。伏熱在胃。或母感冒暑氣。承熱乳兒。或過食辛熱之物。多成熱吐。其候面赤唇紅。五心煩熱。吐次少而出多。乳片消而色黃是也。法宜分陰陽。運八卦。清肺經HT　門至橫紋。補脾土。揉外牢。乾離重揉。赤鳳搖頭。撈明月。</p>
<h3>冷吐</h3>
<p>冬月感冒風寒。或乳母受寒。承寒乳兒。冷氣入胃。或食生冷。或傷宿乳。胃虛不納。乳片不化。喜熱惡寒。四肢逆冷。吐次多而出少者是也。法用分陰陽。運八卦。推三關。推肺經。推脾土。</p>
<p>推HT　門至橫紋。乾離重揉。</p>
<h3>寒食吐</h3>
<p>夾食而出。吐必酸臭。惡食胃痛。身發潮熱是也。法宜分陰陽。運八卦。揉中脘。按弦走搓摩。</p>
<p>揉臍及龜尾。補脾土。</p>
<h3>虛吐</h3>
<p>虛吐者。胃氣虛弱。不能存留乳食而作吐也。法宜分陰陽。運八卦。推三關。多補脾土。運五經。運土入水。HT　門推至橫紋。</p>
<h3>止吐推法總秘旨</h3>
<p>掐心經。左轉揉之。掐外牢宮。推三關。補脾土。運八卦。乾離重揉。掐四橫紋。推HT　門至橫紋。清肺經。其吐即止。</p>
<h3>咳嗽門</h3>
<p>咳嗽之症。必因感冒而成。蓋皮毛者。肺之合也。先皮毛受邪氣。邪氣得從其合。則傷於肺。</p>
<p>故令嗽也。乍暖脫衣。暴熱遇風。汗出未干。遽爾戲水。致令傷風咳嗽。初得時面赤唇紅。氣粗發熱。此是傷風。痰壅作嗽。嗽久。津液枯耗。肺經虛矣。肺為諸臟華蓋。臥則開。坐則合。坐則稍寬。</p>
<p>臥則氣促。乃因攻肺下痰之過。名曰虛嗽。又當補脾土。而益肺氣。運土入水。借土氣以生金。則咳自愈。</p>
<h3>咳嗽歌</h3>
<p>咳嗽連聲風入肺。重則喘急熱不退。肺傷於寒咳嗽多。肺經受熱聲壅滯。寒宜取汗熱宜清。</p>
<p>實當泄之虛當補。嗽而不止便成癇。痰盛不已驚風至。眼眶紫黑必傷損。嗽而有血難調治。總法宜分陰陽。運八卦。肺經熱清寒補。揉二扇門。運五經。二人上馬。掐五指節。掐精靈穴。揉天樞。</p>
<p>前揉膻中。後揉風門。兩手一齊揉。補脾土。側推三關。心經熱清寒補。按弦走搓摩。離上推至乾上止。中虛清。揉肺俞穴。拿後承山穴。面青發喘。清肺經。發熱清天河。撈明月小許。痰喘推法盡此矣。方用麥門冬煎汁。入洋糖晚煎。次早熱服。五次即愈。</p>
<h3>傷寒門</h3>
<p>小兒面目俱紅。不時噴嚏。氣粗身熱。此是傷寒。或四肢冷。開口大叫。閉口痰聲。傷寒一日。</p>
<p>遍身發熱。頭痛腦痛。人事昏迷。言語胡亂。法宜分陰陽。運八卦。運五經。掐心經。揉外牢宮。掐陽池。推三關。揉二扇門。黃蜂入洞。傷寒二日。結胸腹脹。阻食沉迷。內熱外寒。遍身骨疼痛。法宜分陰陽。運八卦。運五經。清心經。推三關。側推虎口。補脾土。飛金走氣。傷寒三日。遍身骨節疼痛。大小便不通。腹作脹。法宜分陰陽。運八卦。運五經。清心肺。飛金走氣。雙龍擺尾。赤鳳搖頭。水底撈明月。運土入水。傷寒四日。腳疼腰痛。眼紅口渴。飲食不進。人事顛亂。法宜分陰陽。</p>
<p>運八卦。揉上天心。清心肝。二人上馬。撈明月。推脾土。打馬過天河。傷寒五日。傳遍經絡。或大便不通。小便自利。或噎氣霍亂。法宜分陰陽。運八卦。運五經。退六腑。水底撈明月。鳳凰單展翅。傷寒六日。血氣虛弱。飲食不進。腰痛氣喘。心痛頭痛。法宜分陰陽。運八卦。天門入虎口肘。推三關。補脾土。掐陽池。赤鳳搖頭。傷寒七日。傳遍六經。發散四肢。各傳經絡。或痢或瘧。加減推之。法宜分陰陽。運八卦。清天河。二龍戲珠。合陰陽。掐四橫紋。推脾土。推三關。側推大腸。</p>
<p>治小兒風寒感冒頭疼。以取汗為主。蓋風與寒。皆隨汗散也。法宜分陰陽。運八卦。推三關。</p>
<p>揉二扇門。掐陽池。黃蜂入洞。</p>
<p>治小兒陰寒。尤宜取汗為主。汗出必深藏。勿令見風。恐因汗又入。法同前。治小兒切牙。法宜分陰陽。運八卦。推三關。補腎水。</p>
<h3>積滯門</h3>
<p>小兒乳食不節。或過食生冷堅硬之物。致令脾胃不能克化。積滯中脘。壯熱足冷腹脹。昏睡不思飲食者。宜攻其積。法宜分陰陽。運八卦。運五經。掐小橫紋。揉HT　門。推大腸。推三關。退六腑。天門虎口　肘。重補脾土。揉中脘。發熱。加撈明月。揉臍及龜尾。腹痛。掐一窩風。揉中脘。膨脹。加按弦走搓摩。不化飲食。揉外牢宮。</p>
<h3>腹痛門</h3>
<p>小兒腹痛有三。或冷。或熱。或食積。臍上者熱。臍中者食。臍下者冷。小兒不能言。須察面色。熱痛面赤腹脹。時痛時止。暑月最多。法宜分陰陽。陰重陽輕。運八卦。運五經。推三關少。退六腑多。揉一窩風。大陵推上外牢訖。補脾土。虎口　肘。傷食痛。面如常。心胸高起。手不可按。</p>
<p>腸結而痛。食生冷硬物所傷。其氣亦滯。法宜分陰陽。運八卦。運五經。側推虎口。補脾土。揉一窩風。揉中脘。揉HT　門。天門虎口　肘。揉臍及龜尾。大陵推上外牢宮訖。運土入水。冷痛。面青肚響。唇白。痛無增減。法宜分陰陽。陽重陰輕。運八卦。運五經。掐一窩風。按弦走搓摩。推三關。推肚角穴。揉臍。推脾土。天門虎口。揉　肘。大陵推上外牢泄訖。補脾土。冷氣攻心痛者。手足冷。</p>
<p>遍身冷汗。甚之手足甲青黑。脈沉細微是也。法宜分陰陽。運八卦。推三關。補腎水。揉二扇門。黃蜂入洞。</p>
<h3>瘧痢總論秘旨</h3>
<p>瘧痢二症。世人常病之。大約著論多而確言少。立方多而取效殊。不知瘧痢二症。多在夏秋之交。以夏季之月。專屬脾土。子時陽氣散極。伏陰在內。人苦皮膚之熱。而昧其內之涼也。乃納涼風。飲涼水以勝之。夫土本懼寒。而以寒投之。於是食膠於脾而不能化。痰結於脾而不能解。痰乃五味之涎。風火轉成。才交涼而瘧病矣。脈弦而實是食。一日一發輕。難好。脈弦而滑是痰。三日一發重。易好。至於痢。多言赤屬熱。白屬寒。不知此亦內傷生冷。故暑濕之氣承之。傷血分多則赤。傷氣分多則白。氣血兩傷。則赤白兼雜。經云。調血則便濃自愈。血歸經不妄行。提風氣則後重自除。氣下陷故後重。此乃不易之定論也。若投以涼劑。必致禁口滑腸。趨之於死。小兒藥愈者十之一。推愈者十之九。蓋瘧者殘瘧之症。痢者流利之症。根深而勢篤。非精於此。未易愈也。</p>
<h3>瘧疾門</h3>
<p>小兒瘧疾有四。一瘧疾。二三日一發。則昏昧。原因脾土痰結。脈弦而滑宜吐之。法宜推肺經。推三關。運八卦。分陰陽。掐四橫紋。揉天樞。掐內間史。猿猴摘果。拿列缺。走搓摩。二食瘧。</p>
<p>一日一發。腹脹作嘔。原因脾土結食。宜下之。法宜推三關。推脾土。補腎水。運八卦。分陰陽。天門虎口　肘。揉中脘。按弦走搓摩。三　瘧。夜間則發。即邪瘧也。原因水邊戲耍。感露風雨寒。宜取汗。法宜推三關。推肺經。掐手背指節。掐橫紋。威靈穴一截。方用獨蒜研餅。貼內間史。累灸一壯。四虛瘧。前症至一二月後。便成虛瘧。原因血氣兩虛。以補中益氣為主。法宜推三關。補腎水。</p>
<p>虎口　肘。二人上馬一截。威靈穴一截。止瘧推法秘旨。初起只在前汗方。加少商穴愈。如久。法宜推三關。推肺經。分陰陽。運八卦。補脾土。天門虎口　肘。方用祝由科神妙。</p>
<h3>痢疾門</h3>
<p>小兒痢疾有三。不獨積疳所成。亦且冷熱各異。宜調和氣血為主。以分陰陽為要。赤白痢。因血氣兩傷。有熱有寒。宜調和為主。法宜分陰陽。運八卦。側推大腸到虎口。補脾土。補腎水。揉臍及龜尾。擦七節骨。先泄後補。天門入虎口。重揉　肘。赤痢。濕熱傷血。宜調血為主。宜分陰陽。</p>
<p>陰重陽輕。運八卦。坎重。若以紅少白多。止側推三關。不退六腑。側推大腸。掐大腸。撈明月。天門虎口　肘訣。揉臍及龜尾。擦七節骨。先泄後補。白痢。濕熱傷氣。以和氣為主。法宜分陰陽。陽重陰輕。運八卦。離宮重。補脾土。側推大腸到虎口。天門　肘。揉臍及龜尾。擦七節骨。先泄後補。噤口痢。因內熱不清。不投以良法。遂成噤滑。法宜分陰陽。運八卦。運五經。推三關。退六腑。清天河。揉HT　門。補脾土。鳳凰單展翅。天門虎口　肘訣。撈明月。揉臍及龜尾。擦七節骨。先泄後補。方用延壽丹神效。</p>
<h3>泄瀉門</h3>
<p>胃為水穀之海。其精英流布。以養五臟。糟粕傳送。以歸大腸。若內由生冷乳食所傷。外因風寒暑濕所感。飢飽失時。脾不能消。冷熱相干。遂成水瀉。苟脾胃合氣以消水穀。水穀既分。安有水瀉也。蓋脾虛則吐。胃虛則瀉。脾胃兩虛。吐瀉並作。久瀉不止。元氣下脫。必傳慢驚。宜大補之。法宜分陰陽。運八卦。側推大腸到虎口。補脾土。推三關。運水入土。揉臍及龜尾訖。推補七節骨。如熱加撈明月。打馬過天河。詩云。肝冷傳脾臭綠青。焦黃脾土熱之形。肺傷寒色膿黏白。赤熱因心腎熱成。（成霍亂也。）霍亂者。揮霍撩亂也。外感內傷。陰陽乖隔。上吐下瀉。心煩氣悶之症也。法宜分陰陽。運八卦。運五經。側推大腸。補脾土。掐四橫紋。運水入土。推三關。退六腑。HT　門推至大橫紋。橫紋推轉至HT　門。</p>
<h3>痞疾門</h3>
<p>食積既久。頑結成痞。左積為痰。痰從食起。右積為氣。氣與痰結。宜速除之。久者七日十日方消。法宜分陰陽。運八卦。運五經。掐四橫紋。推三關。補脾土。久揉按弦走搓摩。側推大腸到虎口。清肝火。清肺經。天門虎口揉　肘。方用田螺師車前草搗敷丹田。</p>
<h3>腫脹門</h3>
<p>腫有十症。大抵濕熱脾虛而起。脈浮為風虛。沉伏為水病。沉則脈絡虛。伏則小便難。即為正水。脾脈虛大。多作脾腫。因循不治。乃成水腫。蓋脾土喜燥而惡濕。土敗不能治水。則停蓄不行。</p>
<p>留滯皮膚。故作浮腫。初起時。見眼胞早辰浮突。至午後稍消。然此症夏與秋冬治之頗易。惟春水泛溢。兼之肝木旺。而脾土受克。不能治水。所以難療。進退不常。須徐徐調理取效。大凡小兒浮腫。先用發散。然後行泄法。推用蔥薑。加真麻油。再用酒一盞。飛鹽少許。皂角一片為末。黃土一盅同炒。布包。倒合手心。掐大指節。即消。法宜分陰陽。運八卦。推三關。推脾土。黃蜂入洞。運五經。揉二扇門。以止泄。補腎水。虎口　肘。補脾土。運土入水。氣腫專是脾虛。不能生金。以致肺家虛氣作脹。宜分陰陽。運八卦。推三關。補脾土。運水入土。天門虎口　肘。按弦走搓摩。此推用淡醋亦可。又有浮腫。因小兒多食傷濕。氣不行故腫。非水非氣。食散而腫自消。法宜分陰陽。運八卦。揉中脘。按弦走搓摩。揉HT　門。天門。虎口　肘。補脾土。灸龜尾。（男左女右。）</p>
<h3>疳疾門</h3>
<p>五臟俱能成疳。先從脾傷而起。其兒面黃口白。肌瘦肚大。發稀豎。必脾家病去。諸臟方安。</p>
<p>故以補脾為主。法宜分陰陽。運八卦。少推三關。多退六腑。側推大腸到虎口。清天河。清腎水。按弦走搓摩。重補脾土。方用延壽丹。決明良方。其效如神。救活甚易。</p>
<h3>疾門</h3>
<p>小兒　疾。如種上相沿。遇天陰發者。不必治。或食生鹽。或傷風寒者。一推即愈。宜分陰陽。</p>
<p>運八卦。推三關。推肺經。掐橫紋。掐指尖。重揉二扇門。黃蜂入洞。揉腎水。取汗。輕者合陰陽。照天河從總經。極力一推至曲池。方用六味地黃丸。加肉桂附子為丸食之。可保無虞。然而根難除也。大人如此。</p>
<h3>淋澀門</h3>
<p>小兒淋澀。火也。宜清之。法宜分陰陽。運八卦。運五經。清腎水。清天河。撈明月。向丹田擦。</p>
<p>下多上少。如小水不止。十數遍以至百遍。乃真火少。不能克水。補元氣為妙。法宜分陰陽。運八卦。補脾土。補腎水。運水入土。重推三關。大小便結法。宜分陰陽。運八卦。補脾土。清腎水。運水入土。小便結。用運土入水。大便結。用退六腑。雙龍擺尾。方用蔥白加蜂蜜搗成膏。攤布上。小便結。貼腎囊。大便結。貼肚臍。立愈。腎水枯短。法宜揉小天心。補腎水。補肺經。</p>
<h3>目疾門</h3>
<p>火眼之症有三。有上視。有下視。有兩目齊閉不開。總因肝臟熱。又兼有風。以散風清火為妙。宜分陰陽。運八卦。清天河。撈明月。掏合骨。補腎水。二人上馬。掐陽池。退六腑。揉上天心。</p>
<p>上視往下揉。下視往上揉。不開從中間兩分揉抹。若風眼。治法同前。但彼退六腑。此推三關。眼脹頭痛。宜風池一截。上視泄心經。掐中衝橫紋。右視掐右端正。左視掐左端正。方總服延壽丹。</p>
<p>以燈心湯送下。即愈。</p>
<h3>雜症門</h3>
<p>治頭瘡。推三關。推肺經。分陰陽。揉太陽。推脾土。清心火。揉陽池。治口內生瘡。退六腑。清心經。撈明月。清天河。補腎水。治偏墜。推三關。補腎水。多用工推HT　門。清天河。掐承山。分陰陽。方用艾草為囊。為腎子兜之。為妙。治　耳流膿。宜推三關。退六腑。推脾土。補腎水。清天河。</p>
<p>揉耳珠。先泄後補。小便赤黃。宜掐小指尖。清腎水。掐小橫紋。二人上馬。分陰陽。撈明月。治眉眼不開。宜揉上天心。掐陽池。掐橫紋。治口渴咽乾。氣虛火動。宜清天河。撈明月。天門虎口　肘。</p>
<p>治四肢厥冷。宜推三關。補脾土。治口啞不語。乃痰迷心竅也。宜清肺經。推HT　門。揉天樞。治手不屈伸。乃風也。宜揉威靈穴。治四肢軟。乃氣血虛也。宜補脾土。掐四橫紋。天門虎口　肘。治手捻拳。乃心經熱也。宜清心經。撈明月。治頭痛。宜掐陽池。揉外牢。若頭向上。又宜補脾土。運八卦。治吐血。掐母腮穴。在兩大指甲後一韭菜。宜手掐。治汗多。乃腎虛也。宜補腎水。汗即止。</p>
<p>治心氣冷痛。宜揉三焦。治腰痛。下元虛也。推三關。推命門。治上下氣不和通。宜掐四橫紋。天門肘。運五經。治小腸寒氣。宜推HT　門。推三關。補腎水。治身麻木。宜打馬過天河。天門虎口肘。治通肺腑氣血。宜曲池一截。治吐。揉心窩。治口水多。補脾土。揉HT　門。治內熱外寒。掐腎水即止。外熱內寒。掐陽池。推三關。汗出為度。治頭軟。上天心一　。臍上下各一　。治作寒。掐心經。作熱。掐腎經。治口不開。多揉脾土。掐頰車。揉心窩。治鼻作干。清肺經。推年壽兩分下至寶瓶效。治內消。久揉脾土後心。以肚響為度。治胃氣疼。久揉三裡穴。以此屬胃。肚痛亦用之。方用蒼朮面厘半。五倍子面厘半。共三厘。酒沖服之。立愈。治前撲。掐委中穴。亦能止大人腰背痛。治氣喘口歪眼偏。口不出聲。口渴等症。掐精寧。久拿承山。治口瘡在內。掐總經。推天河。治危症。</p>
<p>先劈面吹一口氣。若眼皮連動。睛活轉可救。若魚目。脾絕不治。</p>
<h3>腫毒門</h3>
<p>凡腫一起。用極肥皂角子。陰陽瓦焙成面。酒沖服三錢。睡時帶汗即消散。或先用天篷符咒亦妙。又方。用榆樹南行根條。取來洗淨。加糖搗。又加鹽少許。敷上即消散。</p>
<p>小兒軟癤妙方。用銅綠一兩。研細。入柏柚煎成膏。攤布上貼之即消。</p>
<h2>卷五‧幼科藥方</h2>
<p>潛庵曰。推拿小兒。由初生月內。以及周年三、五歲時。手法少。去病速。良甚便也。及八、九、十歲。童年漸長。難施手法之萬遍。必以藥餌濟之。故選集效驗良方。以附於後。是為五集。</p>
<p><u>男女稀痘丹</u></p>
<p>（痘症不用推拿、反以為害忌之。）蓖麻子（肥白者三十六粒。）真麝香（五厘。）真朱砂（一錢、以透紅劈砂為上。）先將香砂二味研碎。次將蓖麻和一處。研極細成膏。於五月五日。搽小兒頭頂心百會穴。兩手心。兩膀彎曲池穴。兩脅窩。兩腿彎。兩腿丫。兩腳心涌泉穴。共十三處。搽如錢大。</p>
<p>不可使藥有餘剩。搽後不可洗動。聽其自落。如藥干。以津唾和之。本年搽一次。出痘稀少。次年再搽。出痘數粒。又次年再搽。永不出痘。抑或兒生。在端午後。於七月七日。九月九日。依前法搽之。亦妙。傳方之家。已永不出痘。豈但稀而已哉。且搽在皮膚外。毫無傷損。真寶幼靈丹。不可忽也。</p>
<p><u>治小兒眼內痘花神效方</u></p>
<p>　用活麥門冬。洗淨。和糯米糟搗爛。左眼有痘花。敷右腳根。右眼內有痘花。敷左腳根。其花自行跳出。要在百日之內。如遲久不效。</p>
<p><u>治小兒未能語啼哭不能辨方</u></p>
<p>　當以手按其腹。如有硬處。即是腹痛。用生薑研之取汁。令暖溫。調面成糊。塗紙上。貼臍心立定。</p>
<p><u>紫金錠</u></p>
<p>　治嘔吐。人參　白朮　茯苓　茯神　山藥　乳香　辰砂（各一錢五分）　牛黃（五分）</p>
<p>薑蠶（五錢）　五靈脂（五錢）　青礞石（一錢　）　赤石脂（醋淬七次）　上為末。用糯米糊和成錠。金箔為衣。</p>
<p>陰乾。每症薄荷湯磨化一分。食乳者。揉乳上。喂乳吞下。如不食乳者。捏鼻挑入口灌下。即好。</p>
<p><u>抱龍丸</u></p>
<p>　治二十四驚。並麻痘首尾。又時症。南星（八錢為末）　天竺黃（五錢）　雄黃（二錢）</p>
<p>辰砂（二錢）　麝香（一錢）　上用甘草。煮濃汁為丸。如黃豆大。金箔為衣。薄荷湯送下一丸。即愈。</p>
<p><u>保和錠子</u></p>
<p>　治急慢驚風立效。辰砂（錢半水飛）　人參（去蘆）　白朮（去油）　茯苓（去皮）　茯神（俱一錢）　赤石脂（醋　）　山藥（俱一錢五分）　乳香（二錢五分）　礞石（一錢）　牛黃　薑蠶　五靈脂　麝香（俱五分）　上為末。金箔十張。大米糊為丸。量兒大小。薄荷湯送下。</p>
<p><u>胃苓散</u></p>
<p>　乃小兒常服之藥。治小兒分理陰陽。退潮熱。止吐瀉。消腫。退疸黃。調脾胃。止便泄。蒼朮（五錢）　陳皮（五錢）　粉草（二錢）　澤瀉（四錢）　厚朴（五錢）　豬苓（三錢去黑皮）　白朮（五錢）</p>
<p>茯苓（三錢）　草果仁（三錢）　官桂（一錢）　共為細末。水糊為丸。如粟米大。嘔吐薑湯下。又白濁。鹽湯下。調脾。炒米湯下。泄瀉。車前炒米湯下。疝氣。茴香湯下。浮腫。燈心五加皮煎湯下。疸黃。本方一料。加茵陳五錢。</p>
<p>用燈心車前湯下。</p>
<p><u>治盜汗方</u></p>
<p>　用牡蠣一錢。為末。酒服即止。</p>
<p><u>治吐瀉立止方</u></p>
<p>　用線隨臍眼纏過腰。以背溝線上五分　之、止瀉。下五分　之、止吐。若吐瀉兩症。以線中心一　、立止。若久瘧。此處三　。真千金不易之良方也。</p>
<p><u>健脾丸</u></p>
<p>　茯苓（一錢）　山藥（一錢）　白朮（一錢）　土炒陳皮（六錢）　蓮肉（去心八錢）　扁豆（八錢炒）　澤瀉（八錢）　神麯（六錢）　山楂肉（一兩二錢）　共為細末。煉蜜為丸。似福元大。每日飲湯送下一丸。</p>
<p><u>延壽丹秘方</u></p>
<p>　治病目。一切火症神效。用錦紋大黃切片。或半斤。或一斤。即三五斤十斤亦可。先以上好白酒。或上好黃酒。浸兩晝夜。入砂鍋煮一枝大香。取出鋪在板上。晒極干。二次。三次。亦如之。到四制。用　本煎汁。其浸止用一晝夜。煮晒如前。五制用車前草。采來洗淨。洒水搗汁。浸煮晒如前。六制用側柏葉向東南的。清辰采來。水洗搗汁。浸煮晒如前。末後三制。仍用酒浸煮晒。晒到九次。止晒半干。便上石臼。搗爛為丸。或一分重。或三分重。或一錢二錢三錢重。相其兒之大小。火症之輕重。加減用之。此系仙訂。與九制古方。迥不相同。神而明之。豈僅小兒為神妙哉。</p>
<p><u>治疳疾良方</u></p>
<p>　如小兒眼中有翳。先服延壽丹丸。速退之。然後用豬肝半斤。將石決明　過。</p>
<p>擂碎。將肝梭開。放入決明。以麻札了。入水罐煨熟。取出麻與決明。即以湯洗淨。切肝與小兒食之。醬油不忌。兩三次食完半斤。待出大恭即愈。屢試屢驗。</p>
<p><u>治小兒眉爛頭瘡方</u></p>
<p>　用小麥。炒黑色。為末。酒調敷即好。</p>
<p><u>治小兒乳癬</u></p>
<p>　多生耳後。令伊芳母嚼白米成膏。塗之即愈。</p>
<p><u>治小兒刀切破手</u></p>
<p>　用鍋蓋屑。刮下敷之。立效。</p>
<p><u>治小兒火燒滾湯起泡</u></p>
<p>　用陳蕎麥面打糊裱上。立止疼痛。結蓋即愈。</p>
<p><u>治小兒頭痛</u></p>
<p>　用艾餅。敷頭頂。神效。</p>
<p><u>治小兒臍腫</u></p>
<p>　用荊芥煎湯。次用蔥一根。火上炙過。放在地下。退去火毒。取起刮薄。貼上即消。</p>
<p><u>補中益氣湯</u></p>
<p>　治中氣虛弱。瘦體。或發熱煩渴。人參（八分）　黃　（八分）　白朮（五分立炒）　甘草（五分炙）　陳皮（五分）　升麻（二分）　柴胡（二分）　當歸（三分）　薑棗為引。水煎服。</p>
<p><u>藿香正氣散</u></p>
<p>　治感冒暑寒。霍亂轉筋。吐瀉。及傷寒頭疼。壯熱之症。藿香　蒼朮　半夏茯苓（白者）　紫蘇（各三兩）　大腹皮　黑豆（水洗淨各三兩）　白芷　厚朴　陳皮（各二兩）　桔梗　甘草（各一兩）上為末。每服二錢。加薑棗水煎。溫服。</p>
<p><u>治黃水瘡</u></p>
<p>　用真麻油。調黃松香面。搽之。即愈。</p>
<p><u>治小兒脫肛</u></p>
<p>　先以蔥湯薰洗。後用五倍子。燒灰存性。托上即愈。服補中益氣湯。兩三劑尤妙。</p>
<p><u>治小兒大小便不通</u></p>
<p>　用蔥白和蜜搗。攤布上為膏。貼臍上。即大便。貼腎囊。即小便。立效。</p>
<p>大人亦用此立效。</p>
<p><u>治小兒胎叫方</u></p>
<p>　凡胎中子叫。是子口中偶失血餅。法令母屈身就之。餅入口即愈。如不然。</p>
<p>用綠豆一升撒地。令母盡皆拾完。自然不叫。</p>
<p><u>治瘰　神效方</u></p>
<p>　用蛇頭果子草。四五月間生時。采來焙乾。煮酒飲之。盡醉發汗。如此三次。</p>
<p>以後止飲酒。不必汗。未潰者消。已潰者。用膏藥貼即愈。亦須飲此酒。</p>
<p><u>治小兒肥瘡方</u></p>
<p>　枯白礬（三錢）　香附子（三錢）　煎水洗即脫。</p>
<p><u>治猴子瘡方</u></p>
<p>　天雨鳴雷時。有瘡者。不與人知。自己立於檐下。以手抹去猴子。口中默念。雷打猴子。快走。念七遍。抹七遍。即自落。念時迎著雷。向天井外抹去。神效。</p>
<p><u>治小兒偶不能言方</u></p>
<p>　用鮮薑汁沖麩曲。熱酒沖服即愈。</p>
<p><u>治脛上鼠瘡方</u></p>
<p>　夏枯草五兩。無根水三碗。久煎成膏搽患處。又不拘時服。即消去矣。</p>
<p><u>治兒生已逾年。柔軟不堪持抱。</u></p>
<p>　無疾。是居樓所生。未得地。服灶心土三分。即起立。</p>
<p><u>治小兒四肢冷</u></p>
<p>　明礬（五錢）　炒鹽（二錢）　黃蠟（二錢）　貼在臍上即愈。若氣急。取竹瀝水服之。</p>
<p><u>治遍身熱不退</u></p>
<p>　明礬一錢。和雞蛋清調勻。搽四心即退。又方用桃仁七粒。酒半鐘。擂細。貼在鬼眼。便好。</p>
<p><u>治肚脹作渴。眼光。</u></p>
<p>　用生薑、蔥白、生酒半鐘。擂酒吞下。則眼不光。將雄黃不拘多少。燒熱。放在臍上揉。</p>
<p><u>治膿耳</u></p>
<p>　乃少陽風熱熾盛而上升也。臭爛作痛。須用黃龍散。枯白礬　龍骨（　）　黃丹（水飛）</p>
<p>胭脂　海螵蛸（米泔水浸）　上為細末。加麝香少許。再研。先以紙條捻干膿水。後以藥吹入。切記避風。又方用貓兒刺。和報花。煮水洗之。即止。</p>
<p><u>治痞塊方</u></p>
<p>　用大荸薺（一百個）　古錢（二十個）　海蜇（一片花頭者）　炒皮硝（四兩）　燒酒（三斤）　共一處。浸七日後。每日朝上吃四個。加到十個止。即愈。</p>
<p><u>治久暫瘧疾良方</u></p>
<p>　青皮　陳皮　柴胡　厚朴　神麯　草果　白朮　白茯　半夏　甘草　烏梅（三個）　升麻蒼朮　晚間煎。引用薑一片　紅棗二枚　熟。次早服。禁一日飲食言語。藥不使婦女煎。如不止。再服一劑必愈。</p>
<p><u>治噤口痢良方</u></p>
<p>　用野菱角一升　土石臼搗爛極。汁一鐘　又一鐘酒。熱服。即愈。</p>
<p><u>八珍糕方</u></p>
<p>　白朮（一兩五錢土炒）　白茯苓（一兩五錢）　山藥（一兩五錢）　扁豆（一兩五錢）　山楂（一兩五錢去核）　苡仁（一兩五錢）　蓮肉（一兩五錢去心）　芡實（一兩五錢）　米（二升半）　糯米（半升）</p>
<p>上為細末。入米面中。加糖斤半。蒸糕。</p>
<p><u>治走馬牙疳速效神方</u></p>
<p>　水銀一錢。用錫化五分。入上水銀成粉。將舊紅褐子燒灰。合五倍子燒焦。共成面。一錢二分。將真麻油調一二茶匙。作兩次搽。宜少許。不可多用。擦在牙跟患處。有涎。即張口流去。不可入肚。去腐生肌。立刻止疼。兩三日即收功。仍用冬青葉。煎水漱口。全愈。</p>
<p>神效屢驗。大人亦用此救。</p>
<p><u>治火延丹方</u></p>
<p>　用白海蜇皮洗淨拭乾。將腿腫包了。對日揭開。看海皮黃枯不可用。另換一張包裹。如此三四張。即消散如常，神效驗過。</p>
<p><u>治凍瘡妙方</u></p>
<p>　用雪擦洗凍處。即愈。如破裂。用魚膠熬化。攤膏藥貼上。長平自落。神效驗過。</p>
<p><u>治胃氣疼方</u></p>
<p>　蒼朮面一兩。五倍子面一兩。兌均一處。每用止三厘。沖酒服之。立愈。將死者。即可回生。止用三厘。不可多用。</p>
<p><u>治小兒肥瘡</u></p>
<p>　用老鹽魚一塊。香油炙焦。去魚。以油搽瘡即愈。</p>
