<header data-type="book">
<h1>洄溪醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h2>序</h2>
<p>袁簡齋太史作《靈胎先生傳》云：欲采其奇方異術，以垂醫鑒，而活蒼生。因倉卒不可得，僅載迮耕石汪令聞數條，而語焉未詳，余甚惜之。今夏呂君慎盫以《洄溪醫案》鈔本一卷寄贈，云得之徐氏及門金君復村者。余讀之如獲鴻寶，雖秘本而方藥不甚詳，然其穿穴膏肓，神施鬼設之伎，足以垂予鑒而活蒼生。爰為編次，竊附高窺，用俟高明，梓以傳世，余殷望焉。</p>
<p>咸豐五年歲次乙卯十月海昌後學王士雄</p>
<h2>中風</h2>
<p>封門金姓，早立門首，卒遇惡風，口眼歪邪，噤不能言。醫用人參、桂、附諸品，此近日時醫治風證不祧之方也。趣余視之，其形如屍，面赤氣粗，目瞪脈大，處以祛風消痰清火之劑。其家許以重貲，留數日。余曰：我非行道之人，可貨取也。固請，余曰：與其誤藥以死，莫若服此三劑，醒而能食，不服藥可也。後月余，至余家拜謝。問之，果服三劑而起，竟不敢服他藥。惟腿膝未健，手臂猶麻，為立膏方而全愈。此正《內經》所謂虛邪賊風也，以辛熱剛燥治之固非，以補陰滋膩治之亦謬，治以辛涼，佐以甘溫，《內經》有明訓也。</p>
<p>運使王公敘揆，自長蘆罷官歸裏，每向余言，手足麻木而痰多。余謂公體本豐腴，又善飲啖，痰流經脈，宜撙節為妙。一日忽昏厥遺尿，口噤手拳，痰聲如鋸，皆屬危證。醫者進參、附、熟地等藥，煎成未服。余診其脈，洪大有力，面赤氣粗，此乃痰火充實，諸竅皆閉，服參附立斃矣。以小續命湯去桂附，加生軍一錢，為末，假稱他藥納之，恐旁人之疑駭也。戚党莫不譁然，太夫人素信余，力主服余藥。三劑而有聲，五劑而能言，然後以消痰養血之藥調之，一月後步履如初。</p>
<p>張由巷劉松岑，素好飲，後結酒友數人，終年聚飲，余戒之不止。時年才四十，除夕向店沽酒，秤銀手振，秤墜而身亦仆地，口噤不知人，急扶歸。歲朝，遣人邀余，與以至寶丹數粒，囑其勿服他藥，恐醫者知其酒客，又新納寵，必用溫補也。初五至其家，竟未服藥，診其脈弦滑洪大，半身不遂，口強流涎，乃濕痰注經傳腑之證。余用豁痰驅濕之品調之，月餘而起。一手一足，不能如舊，言語始終艱澀。初無子，病癒後，連舉子女皆成立，至七十三歲而卒。誰謂中風之人不能永年耶？凡病在經絡筋骨，此為形體之病，能延歲月，不能除根。若求全愈，過用重劑，必至傷生。富貴之人聞此等說，不但不信，且觸其怒，於是諂諛之人，群進溫補，無不死者，終無一人悔悟也。</p>
<p>西門外汪姓，新正出門，遇友於途，一揖而仆，口噤目閉，四肢癱瘓，舁歸不省人事，醫亦用人參、熟地等藥。其母前年曾抱危疾，余為之治癒，故信余求救。余曰：此所謂虛邪賊風也，以小續命湯加減。醫者駭，謂壯年得此，必大虛之證，豈可用猛劑？其母排眾議而服之。隔日再往，手攬余衣，兩足踏地，欲作叩頭勢。余日：欲謝余乎？亟點首，余止之。復作垂涕感恩狀，余慰之，且謂其母日：風毒深人，舌本堅硬，病雖愈，言語不能驟出，毋驚恐而誤投溫補也。果月余而後能言，百日乃痊。</p>
<p>東山席以萬，年六十餘，患風痹，時醫總投溫補，幸不至如近日之重用參、附，病尚未劇。余診之，脈洪而氣旺，此元氣強實之體，而痰火充盛耳。清火消痰以治標，養血順氣以治本。然經絡之痰，無全愈之理，於壽命無傷，十年可延也。以平淡之方，隨時增損，調養數載，年七十餘始卒。此所謂人實證實，養正驅邪，以調和之，自可永年。重藥傷正，速之死耳。</p>
<p>叔子靜，素無疾，一日，余集親友小酌，叔亦在座，吃飯至第二碗僅半，頭忽垂，著亦落。同座問曰：醉耶？不應。又問：骨哽耶？亦不應。細視之，目閉而口流涎，群起扶之別座，則頸已歪，脈已絕，痰聲起，不知人矣。亟取至寶丹灌之，始不受，再灌而咽下。少頃開目，問扶者曰：此何地也？因告之故。曰：我欲歸。扶之坐輿內以歸，處以驅風消痰安神之品，明日已能起，惟軟弱無力耳。以後亦不復發。此總名卒中，亦有食厥，亦有痰厥，亦有氣厥。病因不同，如藥不預備，則一時氣不能納，經絡閉塞，周時而死。如更以參、附等藥助火助痰，則無一生者。及其死也，則以為病本不治，非溫補之誤，舉世皆然也。</p>
<p>雄按：《資生經》云：有人忽覺心腹中熱甚，或曰：此中風之候，與治風藥而風不作。夷陵某太守夏間忽患熱甚，乃以水灑地，設簟臥其上，令人扇之，次日忽患中風而卒。人但咎其臥水簟而用扇也。暨見一澧陽老婦，見證與太守同，因服小續命湯而愈。合而觀之，乃知中風由心腹中多大熱而作也。徐氏之論，正與此合。《易》曰：風自火出。諺云：熱極生風。何世人之不悟耶？若可用參、附等藥者，乃脫證治法，不可誤施於閉證也。</p>
<h2>惡風</h2>
<p>湖州副總戎穆公延弼，氣體極壯，忽患牙緊不開，不能飲食，絕粒者五日矣。延余治之，晉接如常，惟呼饑耳。余啟視其齒，上下止開一細縫，撫其兩頰，皮堅如革，細審病情，莫解其故。因問曰：此為惡風所吹，公曾受惡風否？曰：無之。既而恍然曰：誠哉！二十年前曾隨圍口外臥帳房中，夜半怪風大作，帳房拔去，卒死者三人，我其一也。灌以熱水，二人生而一人死。我初醒，口不能言者二日，豈至今復發乎？余曰：然。乃戲曰：凡治皮之工，皮堅則消之。我今欲用藥消公之頰皮也。乃以蜈蚣頭、蠍子尾及朴硝、硼砂、冰、麝等藥擦其內，又以大黃、牙皂、川烏、桂心等藥塗其外，如有痰涎，則吐出。明晨余臥未起，公啟戶曰：真神仙也，早已食粥數碗矣。遂進以驅風養血膏而愈。蓋邪之中人深，則伏於臟腑骨脈之中，精氣旺，則不發。至血氣既衰，或有所感觸。雖數十年之久亦有復發者。不論內外之證盡然，亦所當知也。</p>
<p>雄按：皮膚頑痹，非外治不為功。此因其堅如革，故多用毒烈之品。</p>
<h2>周痹</h2>
<p>烏程王姓患周痹證，遍身疼痛四肢癱瘓，日夕叫號，飲食大減，自問必死，欲就余一決。家人垂淚送至舟中，余視之曰：此曆節也。病在筋節，非煎丸所能愈，須用外治。乃遵古法，敷之、拓之、蒸之、薰之，旬日而疼痛稍減，手足可動，乃遣歸，月餘而病癒。大凡營衛臟腑之病，服藥可至病所，經絡筋節，俱屬有形。煎丸之力，如太輕則不能攻邪，太重則恐傷其正，必用氣厚力重之藥，敷、拓、薰、蒸之法，深入病所，提邪外出。古之所議獨重針灸之法，醫者不知，先服風藥不驗，即用溫補，使邪氣久留，即不死亦為廢人，在在皆然，豈不冤哉。</p>
<p>雄按：風藥耗營液，溫補實隧絡，皆能助邪益痛。若輕淡清通之劑，正宜頻服，不可徒恃外治也。</p>
<h2>痱</h2>
<p>新郭沈又高，續娶少艾，未免不節，忽患氣喘厥逆，語澀神昏，手足不舉。醫者以中風法治之，病益甚。余診之曰：此《內經》所謂痱證也。少陰虛而精氣不續，與大概偏中風、中風、痰厥、風厥之病絕不相類。劉河間所立地黃飲子，正為此而設，何醫者反忌之耶？一劑而喘逆定，神氣清，聲音出，四肢展動。三劑而病除八九，調以養精益氣之品而愈。余所見類中而宜溫補者，止此一人。識之以見余並非禁用補藥，但必對證，乃可施治耳。</p>
<p>雄按：古云真中屬實，類中多虛，其實不然。若其人素稟陽盛，過啖肥甘，積熱釀痰，壅塞隧絡，多患類中。治宜化痰清熱，流利機關，自始至終，忌投補滯。徐氏謂宜於溫補者不多見，洵閱歷之言也。</p>
<h2>傷寒</h2>
<p>蘇州柴行倪姓，傷寒失下，昏不知人，氣喘舌焦，已辦後事矣。余時欲往揚州，泊舟桐涇橋河內，適當其門，晚欲登舟，其子哀泣求治。余曰：此乃大承氣湯證也。不必加減，書方與之。戒之曰：一劑不下則更服，下即止。遂至揚。月余而返，其人已強健如故矣。古方之神效如此。凡古方與病及證俱對者，不必加減；若病同而證稍有異，則隨證加減，其理甚明，而人不能用。若不當下者反下之，遂成結胸，以致聞者遂以下為戒。顛倒若此，總由不肯以仲景《傷寒論》潛心體認耳。</p>
<h2>刖足傷寒</h2>
<p>嘉善黃姓，外感而兼鬱熱。亂投藥石，繼用補劑，邪留經絡，無從而出，下注於足，兩脛紅腫大痛，氣逆衝心，呼號不寐。余曰：此所謂刖足傷寒也，足將落矣。急用外治之法薰之、蒸之，以提毒散瘀，又用丸散內消其痰火，並化其毒涎，從大便出，而以辛涼之煎劑，托其未透之邪，三日而安。大凡風寒留於經絡，無從發洩，往往變為癰腫，上為發頤，中為肺癰、肝癰、脾積，下為腸癰、便毒，外則散為斑疹瘡瘍，留於關節則為痿痹拘攣，注於足脛則為足矣。此等證具載於《內經》諸書，自內外科各分一門，此等證遂無人知之矣。</p>
<h2>外感停食</h2>
<p>淮安大商楊秀倫，年七十四，外感停食。醫者以年高素封，非補不納。遂致聞飯氣則嘔，見人飯食輒叱曰：此等臭物，虧汝等如何吃下？不食不寢者匝月，惟以參湯續命而已。慕名來聘，余診之曰：此病可治，但我所立方必不服，不服則必死。若徇君等意以立方亦死，不如竟不立也。群問：當用何藥？余曰：非生大黃不可。眾果大駭，有一人曰：姑俟先生定方再商。其意蓋謂千里而至，不可不周全情面，俟藥成而私棄之可也。余覺其意，煎成，親至病人所強服，旁人皆惶恐無措，止服其半，是夜即氣平得寢，並不瀉。明日全服一劑，下宿垢少許，身益和。第三日侵晨，余臥書室中未起，聞外嘩傳云：老太爺在堂中掃地。余披衣起詢，告者曰：老太爺久臥思起，欲親來謝先生。出堂中，因果殼盈積，乃自用帚掠開，以便步履。旋入余臥所，久談。早膳至，病者觀食，自向碗內撮數粒嚼之，且曰：何以不臭？從此飲食漸進，精神如舊，群以為奇。余曰：傷食惡食，人所共知，去宿食則食自進，老少同法。今之醫者，以老人停食不可消，止宜補中氣，以待其自消，此等亂道，世反奉為金針，誤人不知其幾也。余之得有聲淮揚者，以此。</p>
<h2>時證</h2>
<p>西塘倪福徵，患時證，神昏脈數，不食不寢，醫者謂其虛，投以六味等藥。此方乃浙中醫家，不論何病，必用之方也。遂粒米不得下嚥，而煩熱益甚，諸人束手。余診之曰：熱邪留於胃也。凡外感之邪，久必歸陽明，邪重而有食，則結成燥矢，三承氣主之；邪輕而無食，則凝為熱痰，三瀉心湯主之。乃以瀉心湯加減，及消痰開胃之藥，兩劑而安。諸人以為神奇，不知此乃淺近之理，《傷寒論》具在，細讀自明也。若更誤治，則無生理矣。</p>
<p>雄按：韓堯年年甫逾冠，體素豐而善飲，春間偶患血溢，廣服六味等藥。初夏患身熱痞脹，醫投瀉心、陷胸等藥，遂脹及少腹，且拒按，大便旁流，小溲不行，煩熱益甚，湯飲不能下嚥，澹語唇焦。改用承氣、紫雪，亦如水投石。延余視之，黃苔滿厚而不甚燥，脈滑數而按之虛軟，不過濕熱阻氣，升降不調耳。以枳桔湯加白前、紫菀、射干、馬兜鈴、杏仁、厚朴、黃芩，用蘆根湯煎。一劑譫語止，小溲行。二劑旁流止，胸漸舒。三劑可進稀糜。六劑胸腹皆舒，粥食漸加。改投清養法，又旬日得解燥矢而愈。諸人亦以為神奇，其實不過按證設法耳。</p>
<p>又按：今夏衣賈戴七，患暑濕，余以清解法治之，熱退知饑，家人謂其積勞多虛，遽以補食啖之。三日後二便皆閉，四肢腫痛，氣逆衝心，呼號不寐。又乞余往視，乃餘邪得食而熾，壅塞胃腑，腑氣實，則經氣亦不通，而機關不利也。以葦莖湯去薏苡，加萎仁、積實、桅子、菔子、黃芩、桔梗，煎調元明粉，外用蔥白杵爛，和蜜塗之。小溲先通，大便隨行，三日而愈。</p>
<h2>遊魂</h2>
<p>郡中蔣氏子，患時證，身熱不涼，神昏澹語，脈無倫次。余診之曰：此遊魂證也。雖服藥必招其魂，因訪招魂之法。有鄰翁謂曰：我聞虔禱灶神，則能自言。父如其言，病者果言曰：我因看戲小台倒，幾被壓受驚，復往城隍廟中散步，魂落廟中，當以肩輿抬我歸。如言往招。明日延余再診，病者又言：我魂方至房門，為父親沖散，今日魂臥被上，又為母親疊被掉落，今不知所向矣。咆哮不已。余慰之曰：無憂也，我今還汝。因用安神鎮魄之藥，加豬心尖、辰砂，絳帛包裹，懸藥罐中煎服。戒曰：服藥得寢，勿驚醒之，熟寐即神合。果一劑而安，調理而愈，問之俱不知也。</p>
<h2>失魂</h2>
<p>平湖張振西，壁鄰失火受驚，越數日而病發，無大寒熱，煩悶不食，昏倦不寐。余視之，頗作寒喧語，而神不接。余曰：此失魂之證，不但風寒深人，而神志亦傷，不能速愈，亦不可用重劑，以煎方祛邪，以丸散安神，乃可漸復。時正歲除，酌與半月之藥而歸。至新正元宵，始知身在臥室間，問前所為，俱不知也。至二月身已健，同其弟元若來謝，候余山中。且曰：我昨晚腦後起一瘰，微痛。余視之，驚曰：此玉枕疽也。大險之證，此地乏藥，急同之歸，外提內托，諸法並用。其弟不能久留先歸。明晨我子大驚呼余日：張君危矣。余起視之，頭大如斗，唇厚寸餘，目止細縫，自頂及肩，膿泡數千，惟神不昏憤，毒未攻心，尚可施救。急遣舟招其弟。余先以護心藥灌之，毋令毒氣攻內，乃用煎劑從內托出，外用軟堅消腫解毒提膿之藥敷之，一日而出毒水斗餘。至晚腫漸消，皮皺。明日口舌轉動能食，竟不成疽，瘡口僅如錢大，數日結痂。其弟聞信而至，已愈八九矣。凡病有留邪而無出路，必發腫毒，患者甚多，而醫者則鮮能治之也。</p>
<p>揚州吳運台夫人，患消證，晝夜食粥數十碗，氣逆火炎，通夕不寐。余診之，六脈細數不倫，神不清爽。余曰：此似祟脈，必有他故。其家未信，忽一日僕婦晨起入候，見床上一女盛妝危坐，以為夫人也，諦視則無有，因以告。夫人曰：此女常臥我床內，以此不能成寐，而煩渴欲飲耳。服余藥未甚效。一夕夜將半，病者大呼曰：速請三舅爺來，切不可啟門，啟門則我魂必走出。三舅爺者，即其弟唐君悔生也。臥室遼隔，呼之不能聞，女僕私啟門邀之，魂即隨出，遍曆廳堂廊廡，及平昔足未經行者，遇唐君趨至，魂堅執其辮，仍返房，見己身臥床上，唐君撫之，魂遂歸附於身。問所寓目皆不爽，細考所見之女，乃運台聘室也，未成婚而卒，卒之時，囑其父母，謂吳郎必顯貴，我死須懇其血食我，而葬我於祖墓。運台服官後，未暇辦，故為祟。運台謂余曰：君言有為祟者，考果驗，真神人也。將何以慰之？余曰：鬼有所歸，乃不為厲，公當迎柩厝墓，立位而祀之可也。運台依余言以行，然後服藥有功，而病根永除矣。</p>
<h2>祟病</h2>
<p>同裏朱翁元亮，僑居郡城。歲初，其媳往郡拜賀其舅，舟過婁門，見城上蛇王廟，俗云燒香能免生瘡腫，因往謁焉。歸即狂言昏冒，舌動如蛇，稱蛇王使二女僕一男僕來迎。延余診視，以至寶丹一丸遣老嶇灌之，病者言此系毒藥，必不可服，含藥噴嫗，嫗亦仆，不省人事，舌伸頸轉，亦作蛇形。另易一人灌藥訖，病者言一女使被燒死矣。凡鬼皆以朱砂為火也。次日煎藥，內用鬼箭羽，病者又言一男使又被射死矣，鬼以鬼箭為矢也。從此漸安，調以消痰安神之品，月餘而愈。此亦客許之類也，非金石及通靈之藥，不能奏效。</p>
<p>林家巷周宅看門人之妻縊死，遇救得蘇，余適寓周氏，隨眾往看，急以紫金錠搗爛，水灌之而醒。明日又縊亦遇救，余仍以前藥灌之。因詢其求死之故，則曰：我患心疼甚，有老嫗勸我將繩系頸，則痛除矣，故從之，非求死也。余曰：此嫗今安在？則曰：在裏床。視之無有。則曰：相公來，已去矣。余曰：此縊死鬼，汝痛亦由彼作祟，今後若來，汝即嚼余藥噴之。婦依余言，嫗至，曰：爾口中何物，欲害我耶？詈罵而去。其自述如此，蓋紫金錠之辟邪神效若此。</p>
<p>同學李鳴古，性誠篤而能文，八分書為一時冠，家貧不得志，遂得奇疾。日夜有人罵之，聞聲而不見其形，其罵語惡毒不堪，遂惱恨終日，不寢不食，多方曉之不喻也。其世叔何小山先生甚憐之，同同余往診。李曰：我無病，惟有人罵我耳。余曰：此即病也。不信，小山喻之曰：子之學問人品，人人欽服，豈有罵汝之人耶。李變色泣下曰：他人勸我猶可，世叔亦來勸我，則不情甚矣。昨日在間壁罵我一日，即世叔也，何今日反來面諛耶？小山云：我昨在某處竟日，安得來此？且汝間壁是誰家，我何從入？愈辨愈疑，惟垂首浩歎而已，卒以憂死。</p>
<h2>瘟疫</h2>
<p>雍正十年，昆山瘟疫大行，因上年海嘯，近海流民數萬，皆死於昆，埋之城下。至夏暑蒸屍氣，觸之成病，死者數千人。汪翁天成亦染此症，身熱神昏，悶亂煩躁，脈數無定。余以清涼芳烈，如鮮菖蒲、澤蘭葉、薄荷、青蒿、蘆根、茅根等藥，兼用辟邪解毒丸散進之，漸知人事；因自述其昏暈時所曆之境，雖言之鑿鑿，終虛妄不足載也。余始至昆時，懼應酬不令人知，會翁已愈，余將歸矣。不妨施濟，語出而求治者二十七家，檢其所服，皆香燥升提之藥，與證相反。余仍用前法療之，歸後有葉生為記姓氏，愈者二十四，死者止三人，又皆為他醫所誤者，因知死者皆枉。凡治病不可不知運氣之轉移，去歲因水濕得病，濕甚之極，必兼燥化，《內經》言之甚明，況因證用藥，變化隨機，豈可執定往年所治祛風逐濕之方，而以治瘟邪燥火之證耶。</p>
<p>雄按：風濕之邪，一經化熱，即宜清解，溫升之藥，鹹在禁例。喻氏論疫，主以解毒，韙矣。而獨表彰敗毒散一方，不知此方雖名敗毒，而群集升散之品，凡溫邪燥火之證。犯之即死，用者審之。</p>
<h2>暑</h2>
<p>—同學趙子云，居太湖之濱，患暑痢甚危，留治三日而愈。時值亢早，人忙而舟亦絕少，余欲歸不能。惟鄰家有一舟，適有病人氣方絕，欲往震澤買棺，乞借一日不許。有一老嫗指余曰：此即治趙某病癒之人也。今此婦少年戀生甚，故氣不即斷，盍求一診。余許之，脈絕而心尚溫，皮色未變，此暑邪閉塞諸竅，未即死也。為處清暑通氣方，病家以情不能卻，借舟以歸。越數日，子云之子來，詢之，一劑而有聲，二劑能轉側，三劑起矣。</p>
<p>余寓郡中林家巷，時值盛暑，優人某之母，忽嘔吐厥僵，其形如屍，而齒噤不開，已辦後事矣。居停之，僕慫優求救於余。余因近鄰往診，以著啟其齒，咬著不能出。余曰：此暑邪閉塞諸竅耳。以紫金錠二粒水磨灌之，得下，再服清暑通氣之方。明日，余泛舟遊虎阜，其室臨河，一老嫗坐視窗榻上，仿佛病者。歸訪之，是夜黃昏即能言，更服煎劑而全愈。此等治法，極淺極易，而知者絕少。蓋邪逆上，諸竅皆閉，非芳香通靈之藥，不能即令通達，徒以煎劑灌之，即使中病，亦不能人於經竅，況又誤用相反之藥，豈能起死回生乎。</p>
<p>蘆墟迮耕石，暑熱壞證，脈微欲絕，遺尿譫語，尋衣摸床，此陽越之證，將大汗出而脫。急以參附加童便飲之，少蘇而未識人也。余以事往郡，戒其家曰：如醒而能言，則來載我。越三日來請，亟往。果生矣。醫者謂前藥已效，仍用前方煎成未飲。余至，曰：陽已回，火復熾，陰欲竭矣。附子入咽即危，命以西瓜啖之，病者大喜，連日啖數枚，更飲以清暑養胃而愈。後來謝述昏迷所見，有一黑人立其前欲啖之，即寒冷入骨，一小兒以扇驅之，曰：汝不怕霹靂耶？黑人曰：熬爾三霹靂，奈我何？小兒日：再加十個西瓜何如？黑人惶恐而退。余曰：附子古名霹靂散，果服三劑，非西瓜則伏暑何由退，其言皆有證據，亦奇事也。</p>
<p>雄按：袁簡齋太史作《靈胎先生傳》載此案云，先投一劑，須臾目暝能言，再飲以湯，竟躍然起。故張柳吟先生以為再飲之湯，當是白虎湯。今原案以西瓜啖之，因西瓜有天生白虎湯之名。而袁氏遂下一湯字，致啟後人之疑。序事不可不慎，此類是矣。</p>
<p>毛履和之子介堂，暑病熱極，大汗不止，脈微肢冷，面赤氣短，醫者仍作熱證治。余曰：此即刻亡陽矣，急進參附以回其陽。其祖有難色。余曰：辱在相好，故不忍坐視，亦豈有不自信而嘗試之理，死則願甘償命。乃勉飲之。一劑而汗止，身溫得寐，更易以方，不十日而起。同時東山許心一之孫倫五，病形無異，余亦以參附進，舉室皆疑駭，其外舅席際飛篤信余，力主用之，亦一劑而復。但此證乃熱病所變，因熱甚汗出而陽亡，苟非脈微足冷，汗出舌潤，則仍是熱證，誤用即死，死者甚多，傷心慘目。此等方非有實見，不可試也。雄按：舌潤二字，最宜切記。</p>
<p>閭門內香店某姓，患暑熱之證，服藥既誤，而樓小向西，樓下又香燥之氣，薰爍津液，厥不知人，舌焦目裂。其家去店三裏，欲從烈日中抬歸以待斃。余曰：此證固危，然服藥得法，或尚有生機。若更暴於烈日之中，必死於道矣。先進以至寶丹，隨以黃連香薷飲，兼竹葉石膏湯加蘆根，諸清涼滋潤之品徐徐灌之。一夕而目赤退，有聲，神氣復而能轉側；二日而身和，能食稀粥，乃歸家調養而痊。雄按：此證已津液受爍，舌焦目裂矣，則用至寶丹，不如用紫雪，而香薷亦可議也。</p>
<p>常熟席湘北，患暑熱證，已十餘日，身如熾炭，手不可近，煩躁昏沉，聚諸汗藥，終無點汗。余曰：熱極津枯，汗何從生？處以滋潤清芳之品，三劑。頭先有汗，漸及手臂，繼及遍身而熱解。蓋發汗有二法，濕邪則用香燥之藥，發汗即以去濕；燥病則用滋潤之藥，滋水即以作汗。其理易知，而醫者茫然，可慨也。</p>
<p>洞庭後山席姓者，暑邪內結，厥逆如屍，惟身未冷，脈尚微存，所謂屍厥也。余謂其父曰：邪氣充塞，逼魂於外，通其諸竅，魂自返耳。先以紫金錠磨服，後用西瓜、蘆根、蘿蔔、甘蔗打汁，時時灌之，一日兩夜，納二大碗而漸蘇。問之，則曰：我坐新廟前大石上三日，見某家老嫗，某家童子，忽聞香氣撲鼻，漸知身在室中，有一人臥床上，我與之相並，乃能開目視物矣。新廟者，前山往後山必由之路，果有大石，詢兩家老嫗、童子俱實有其事。此類甚多，不能盡述，其理固然，非好言怪也。</p>
<p>閭門龔孝維，患熱病，忽手足拘攣，呻吟不斷，瞀亂昏迷，延余診視，脈微而躁，膚冷汗出，陽將脫矣。急處以參附方。親戚滿座，謂大暑之時，熱病方劇，力屏不用。其兄素信余，違眾服之，身稍安。明日更進一劑，漸蘇能言，余乃處以消暑養陰之方而愈。</p>
<p>郡中友人蔣奕蘭，氣體壯健，暑月於親戚家祝壽，吃湯餅過多，回至閭門，又觸臭穢，痧暑夾食，身熱悶亂。延醫治之，告以故，勉用輕藥一劑，亦未能中病也。況食未消而暑未退，豈能一劑而愈。明日復診曰：服清理而不愈，則必虛矣。即用參附，是夕煩躁發昏，四肢厥冷，復延名醫治之，曰：此虛極矣。更重用參附，明日熱冒昏厥而斃。余往唁之，傷心慘目，因念如此死者，遍地皆然，此風何時得息？又傷親故多遭此禍，歸而作《慎疾芻言》，刻印萬冊，廣送諸人，冀世人之或悟也。</p>
<p>雄按：《慎疾芻言》，今罕流傳，海豐張柳吟先生加以按語，改題日《醫砭》，欲以砭庸流之陋習也。余已刊入叢書。</p>
<h2>暑邪熱呃</h2>
<p>東山席士後者，暑月感冒，邪留上焦，神昏呃逆，醫者以為壞證不治，進以參附等藥，呃益甚。余曰：此熱呃也。呃在上焦，令食西瓜，群醫大嘩。病者聞余言即欲食，食之呃漸止，進以清降之藥，二劑而諸病漸愈。</p>
<p>又有戚沈君倫者，年七十，時邪內陷而呃逆，是時余有揚州之行，乃囑相好尤君在涇曰：此熱呃也，君以枇把葉、鮮蘆根等清降之品飲之必愈。尤君依余治之亦痊。蓋呃逆本有二因：由於虛寒，逆從臍下而起，其根在腎，為難治。由於熱者，逆止在胸臆間，其根在胃，為易治，輕重懸絕。世人謂之冷呃，而概從寒治，無不死者，死之後，則云凡呃逆者，俱為絕證。不知無病之人，先冷物，後熱物，冷熱相爭，亦可呃逆，不治自愈，人所共見，何不思也。</p>
<h2>瘧</h2>
<p>洞庭薑錫常長郎佩芳，體素弱而患久瘧，時余應山前葉氏之招，便道往唔，佩芳出，診色夭脈微，而動易出汗。余駭曰：汝今夕當大汗出而亡陽矣，急進參附，或可挽回。其父子猶未全信，姑以西洋參三錢，偕附子飲之，仍回葉宅。夜二鼓叩門聲甚急，啟門，而錫常以肩輿來迎，至則汗出如膏，兩目直視，氣有出無入，猶賴服過參附，陽未逮脫，適余偶帶人參錢許，同附子、童便灌入，天明而汗止陽回，始知人事。然猶聞聲即暈，倦臥不能起者兩月，而後起坐。上工治未病，此之謂也。如此危急之證，不但誤治必死，即治之稍遲，亦不及挽回。養生者，醫理不可不知也。</p>
<h2>痢</h2>
<p>崇明施姓，遷居郡之盤門，其子患暑毒血痢，晝夜百餘行，痛苦欲絕。嘉定張雨亭，其姻戚也，力懇余診之。余曰：此熱毒蘊結。治之以黃連、阿膠等藥，一服而去十之七八矣。明日再往，神清氣爽，面有喜色。余有事歸家，約隔日重來。歸後遇風潮，連日行舟斷絕，三日後乃得往診。病者怒目視余，問以安否？厲聲而對曰：用得好藥，病益重矣。餘心疑之，問其父，曾服他人藥否？隱而不言。餘甚疑之，辭出。有二醫者人門，因托雨亭訪其故，其父因余不至，延郡中名醫，仍進以人參、乾薑等藥。紿病者曰：視汝脈者此地名醫，而藥則用徐先生方也。及服而痛愈劇，痢益增，故恨餘入骨耳，豈不冤哉！又聞服藥之後，口乾如出火，欲啖西瓜。醫者云：痢疾吃西瓜必死。欲求涼水，尤禁不與，因紿其童取井水嗽口，奪盆中水飲其半，號呼兩日而死。近日治暑痢者，皆用《傷寒論》中治陰寒入臟之寒痢法，以理中湯加減，無不腐臟慘死，甚至有七竅流血者，而醫家病家視為一定治法，死者接踵，全不知悔，最可衰也。</p>
<p>東山葉寶倫患五色痢，每日百余次，餘悉治痢之法治之，五六日疾如故，私竊怪之，為撫其腹，腹內有塊，大小各一，儼若葫蘆形，餘重揉之，大者裂破有聲，暴下五色濃垢斗許，置烈日中，光彩眩目，以後痢頓減，飲食漸進。再揉其小者，不可執持，亦不能消，痢亦不全止。令其不必專力治之，惟以開胃消積之品，稍稍調之，三四月而後塊消，痢止。大抵積滯之物，久則成囊成癖，凡病皆然。古人原有此說，但元氣已虛，不可驟消，惟養其胃氣，使正足自能驅邪，但各有法度，不可並邪亦補之耳。</p>
<h2>瘧痢</h2>
<p>東山薑錫常，氣體素弱，又患瘧痢，每日一次，寒如冰而熱如炭，隨下血痢百餘次，委頓無生理。因平日相契，不忍委之，朝夕診視，為分途而治之，寒禦其寒，熱清其熱，痢止其痢，俱用清和切病之品，以時消息，而最重者在保其胃氣，無使生機又絕。經云：食養盡之，無使過之，傷其正也。諸證以次漸減而愈。或謂如此大虛，何以不用峻補？余曰：寒熱未止，必有外邪，血痢未清，必有內邪，峻補則邪留不去，如此虛人，可使邪氣日增乎？去邪毋傷正，使生機漸達，乃為良策。錫常亦深會此意，而醫理漸明，嗣後小病皆自治之，所謂三折肱者也。</p>
<h2>畏寒</h2>
<p>洞庭卜夫人，患寒疾，有名醫進以參附，日以為常，十年以來，服附子數十斤，而寒愈劇，初冬即四面環火，綿衣幾重，寒栗如故。余曰：此熱邪並於內，逼陰於外。《內經》云：熱深厥亦深。又云：熱極生寒。當散其熱，使達於外。用蘆根數兩，煎清涼疏散之藥飲之，三劑而去火，十劑而減衣，常服養陰之品而身溫。逾年，附毒積中者盡發，周身如火燒，服寒涼得少減，既又遍體及頭、面、口、鼻俱生熱瘡，下體俱腐爛，膿血淋漓。餘以外科治熱毒之法治之，一年乃復。以後年彌高而反惡熱，與前相反。如不知其理，而更進以熱藥，則熱並於內，寒並於外，陰陽離絕而死，死之後，人亦終以為陽虛而死也。</p>
<h2>畏風</h2>
<p>嘉善許閣學竹君夫人抱疾，醫過用散劑以虛其表，繼用補劑以固其邪，風入營中，畏風如矢，閉戶深藏者數月，與天光不相接，見微風則發寒熱而暈，延餘視。餘至臥室，見窗櫊皆重布遮蔽，又張帷於床前，暖帳之外，周以擅單。診其脈微軟無陽。余曰：先為藥誤而避風太過，陽氣不接，衛氣不閉，非照以陽光不可，且曬日中，藥乃效。閣學謂見日必有風，奈何？曰：姑去其瓦，令日光下射曬之何如？如法行之，三日而能啟窗戶，十日可見風，諸病漸愈。明年閣學掣眷赴都，舟停河下，邀余定常服方。是日大風，臨水窗候脈，餘甚畏風，而夫人不覺也。蓋衛氣固，則反樂於見風，此自然而然，不可勉強也。雄按：論證論治，可與戴人頡頏。</p>
<h2>痰</h2>
<p>嘉興朱宗周，以陽盛陰虧之體，又兼痰凝氣逆，醫者以溫補治之，胸膈痞塞，而陽道疾。群醫謂脾腎兩虧，將恐無治，就余於山中。余視其體豐而氣旺，陽升而不降，諸竅皆閉，笑謂之曰：此為肝腎雙實證。先用清潤之品，加石膏以降其逆氣；後以消痰開胃之藥，滌其中宮；更以滋腎強陰之味，鎮其元氣。陽事即通。五月以後，妾即懷孕，得一女。又一年，復得一子。惟覺周身火太旺，更以養陰清火膏丸為常饌，一或間斷，則火旺隨發，委頓如往日之情形矣。而世人乃以熱藥治陽疾，豈不謬哉。</p>
<p>雄按：今秋落庫吏孫位申，積勞善怒，陡然自汗凜寒，腕疼咳逆，嘔吐苦水，延餘診之，脈弦軟而滑，形瘦面黎，苔黃不渴，溲赤便難，以二陳去甘草，加沙參、竹茹、枇杷葉、竹葉、黃連、萎仁為劑。渠云陽痿已匝月類，恐不可服此涼藥。余曰：此陽氣上升，為痰所阻，而不能下降耳。一服逆平痛定，嘔罷汗止，即能安穀。原方加人參，旬日陽事即通，諸恙若失。</p>
<p>蘇州府治東首楊姓，年三十餘，以狎游私用父千金，父庭責之，體虛而兼鬱怒，先似傷寒，後漸神昏身重。醫者以為純虛之證，惟事峻補，每日用人參三錢，痰火愈結，身強如屍，舉家以為萬無生理。余入視時，俱環而泣。余診畢，又按其體，遍身皆生痰核，大小以千計，餘不覺大笑，泣者盡駭。余曰：諸人之泣，以其將死耶？試往府中借大板重打四十，亦不死也。其父聞之頗不信，曰：如果能起，現今吃人參費千金矣，當更以千金為壽。余曰：此可動他人，餘無此例也，各盡其道而已。立清火安神極平淡之方，佐以末藥一服，三日而能言，五日而能坐，一月而行動如常。其時牡丹方開，其戚友為設飲花前以賀，餘適至，戲之曰：君服人參千金而幾死，服餘末藥而愈，藥本可不償乎？其母舅在旁曰：必當償，先生明示幾何？余曰：增病之藥值千金，去病之藥自宜倍之。病者有驚惶色，余曰：無恐，不過八文錢，蘿蔔子為末耳。尚有服剩者，群取視之，果蔔子也，相與大笑。其周身結核，皆補住痰邪所凝成者，半載方消。邪之不可留如此，幸而結在膚膜，若入臟則死已久矣。</p>
<p>雄按：今夏劉午亭，年六十三歲，久患痰喘自汗，群醫皆以為虛，補劑備施，竟無效。徐月岩囑其浼餘視之，汗如雨下，扇不停揮，睛凸自高，面浮頸大，胸前痞塞，脈滑而長，妻女哀求，慮其暴脫。余曰：將塞死矣，何脫之云？與導痰湯加旋覆、海石、澤瀉、白前，一飲而減，七日後囟門始平，匝月而愈。繼有顧某年五十六歲，肥白多痰，因啖蓮子匝月，漸覺不饑，喘逆自汗無眠，以為虛也。屢補之後，氣逆欲死，速餘視之，苔黃溲赤，脈滑不調，以清肺滌痰治之而愈，旋以茯苓飲善其後。</p>
<h2>痰喘</h2>
<p>松江王孝賢夫人，素有血證，時發時止，發則微嗽，又因感冒變成痰喘，不能著枕，日夜俯幾而坐，竟不能支持矣。是時有常州名醫法丹書，調治無效，延餘至。余曰：此小青龍證也。法曰：我固知之，但弱體而素有血證，麻桂等藥可用乎？余曰：急則治標，若更喘數日，則立斃矣。且治其新病，愈後再治其本病可也。法曰：誠然。然病家焉能知之，治本病而死，死而無怨；如用麻桂而死，則不咎病本無治，而恨麻桂殺之矣。我乃行道之人，不能任其咎。君不以醫名，我不與聞，君獨任之可也。余曰：然。服之有害，我自當之，但求先生不阻之耳。遂與服。飲畢而氣平就枕，終夕得安。然後以消痰潤肺養陰開胃之方以次調之，體乃復舊。法翁頗有學識，並非時俗之醫，然能知而不能行者。蓋欲涉世行道，萬一不中，則謗聲隨之。余則不欲以此求名，故毅然用之也。凡舉世一有利害關心，即不能大行我志，天下事盡然，豈獨醫也哉。</p>
<p>雄按：風寒外束，飲邪內伏，動而為喘嗽者，不能舍小青龍為治。案中云感冒是感冒風寒，設非風寒之邪，麻桂不可擅用。讀者宜有會心也。</p>
<h2>痰喘亡陰</h2>
<p>蘇州沈母，患寒熱痰喘，浼其婿毛君延余診視。先有一名醫在座，執筆沉吟曰：大汗不止，陽將亡矣。奈何？非參、附、熟地、乾薑不可。書方而去。余至不與通姓名，俟其去乃入，診脈洪大，手足不冷，喘汗淋漓。余顧毛君曰：急買浮麥半合，大棗七枚，煮湯飲之可也。如法服而汗頓止，乃為立消痰降火之方二劑而安。蓋亡陽亡陰，相似而實不同，一則脈微，汗冷如膏，手足厥逆而舌潤。一則脈洪，汗熱不黏，手足溫和而舌乾。但亡陰不止，陽從汗出，元氣散脫，即為亡陽。然當亡陰之時，陽氣方熾，不可即用陽藥，宜收斂其陽氣，不可不知也。亡陰之藥宜涼，亡陽之藥宜熱，一或相反，無不立斃。標本先後之間，辨在毫髮，乃舉世更無知者，故動輒相反也。</p>
<p>雄按：吳馥齋令姐體屬陰虧，歸沈氏後，余久不診，上年聞其久嗽，服大劑滋補而能食肌充，以為愈矣。今夏延診云：嗽猶不愈。及往視，面浮色赤，脈滑不調，舌絳而乾，非肉不飽。曰：此痰火為患也。不可以音嘶脅痛，遂疑為損怯之未傳。予清肺化痰藥為丸喻化，使其廓清上膈，果膠痰漸吐，各恙乃安。其形復瘦，始予養陰善後。病者云：前進補時，體頗漸豐，而腰間疼脹，略一撫摩，嗽即不已，自疑為痰。而醫者謂為極虛所致，補益加峻，釀為遍體之痰也。</p>
<p>觀察毛公裕，年屆八旬，素有痰喘病，因勞大發，俯幾不能臥者七日，舉家驚惶，延余視之。余曰此上實下虛之證。用清肺消痰飲，送下人參小塊一錢。二劑而愈。毛翁曰：徐君學問之深，固不必言，但人參切塊之法，此則聰明人以此玄奇耳。後歲餘，病復作，照前方加人參煎入，而喘逆愈甚。後延余視，述用去年方 曰：前幾死，我以一劑救之，何以蹈搜轍。日：眾論紛紛，謂補藥一定不錯，直至臨死時欲來敦請，已無及矣。嗚呼！豈 而病有加。余曰：莫非以參和入藥中耶？曰然。余曰：宜其增病也。仍以參作塊服之，亦二劑而愈。蓋下虛固當補，但痰火在上，補必增盛，惟作塊則參性未發，而清肺之藥已得力，迨過腹中，而人參性始發，病自獲痊。此等法古人亦有用者，人自不知耳，於是群相嘆服。</p>
<p>雄按：痰喘礙眠，亦有不兼虛者。黃者華年逾五旬，自去冬因勞患喘，迄今春兩旬不能臥，顧某作下喘治，病益甚。又旬日，迓余視之，脈弦滑，苔滿布，舌邊絳，乃冬溫薄肺，失於清解耳。予輕清肅化藥治之而痊。至參不入煎，欲其下達，與丸藥喻化，欲其上戀，皆有妙義，用藥者勿以一煎方為了事也。又有虛不在陰分者，余治方嘯山今秋患痰喘汗多，醫進清降藥數劑，遂便溏肢冷，不食礙眠，氣逆脘疼，面紅汗冷。余診之，脈弦軟無神，苔白不渴，乃寒痰上實，腎陽下虛也。以真武湯去生薑，加乾薑、五味、人參、厚朴、杏仁，一劑知，二劑已。又治顧某體肥白，脈沉弱，痰喘易汗，不渴痰多，啜粥即嘔，以六君去甘草，加厚朴、杏仁、薑汁、川連，蓋中虛痰滯也，投七日果痊。</p>
<h2>飲癖</h2>
<p>洞庭席載嶽，素脅下留飲，發則大痛，嘔吐，先清水，後黃水，再後吐黑水而兼以血，哀苦萬狀，不能支矣。愈則復發。余按其腹有塊在左脅下，所謂飲囊也。非消此則病根不除，法當外治，因合蒸藥一料，用面作圍，放藥在內，上蓋銅皮，以艾火蒸之，日十餘次，蒸至三百六十火而止，依法治三月而畢，塊盡消，其病永除，年至七十七而卒。此病極多，而醫者俱不知，雖輕重不一，而蒸法為要。 雄按：今夏江陰沙沛生鹺尹，患胸下痞悶，腹中聚塊，臥則脾間有氣下行至指，而惕然驚寤。余謂氣鬱飲停，治以通降。適渠將赴都，自慮體弱，有醫者迎合其意，投以大劑溫補，初若相安，旬日後神呆不語，目眩不饑，便閉不眠，寒熱時作，復延余診。按其心下，則漉漉有聲，環臍左右，塊已累累，溺赤苔黃，脈弦而急，幸其家深信有年，旁無掣肘。凡通氣滌飲清絡舒肝之劑，調理三月，各恙皆瘳。</p>
<p>郡中朱姓，素有飲癖，在左脅下，發則脹痛嘔吐，始發甚輕，醫者每以補劑療之，發益勤而甚，余戒之曰：「此飲癖也，患者甚多，惟以消飲通氣為主，斷不可用溫補，補則成堅癖，不可治矣。」不信也。後因有鬱結之事，其病大發，痛極嘔逆，神疲力倦，醫者乃大進參、附，熱氣上衝，痰飲閉塞，其痛加劇，肢冷脈微，醫者益加參、附，助其閉塞，飲藥一口，如刀箭鑽心，哀求免服，妻子環跪泣求曰：「名醫四人合議立方，豈有謬誤？人參如此貴重，豈有不效？」朱曰：「我豈不欲生？此藥實不能受！使我少緩痛苦，死亦甘心耳，必欲使我痛極而死，亦命也。」勉飲其半，火沸痰壅，呼號宛轉而絕。大凡富貴人之死，大半皆然，但不若是之甚耳。要知中病之藥，不必入口而知，聞其氣即喜樂而欲飲；若不中病之藥，聞其氣則厭惡之。故服藥而勉強若難者，皆與病相違者也。《內經》云臨病人問所便，此真治病之妙訣也。若《孟子》云藥不暝眩，厥疾不瘳，此乃指攻邪破積而言，非一例也。 </p>
<p>雄按：余編《洄溪醫案》，吾鄉蔣寅昉大理欲以付梓，囑友人繕清本，漏此一條，迨刻竣始知之，不便補鐫，故錄於此（指《歸硯錄》）。又按此人飲癖，亦素因肝熱內熾而成，與中氣虛寒飲停，宜溫藥和之者，證候迥別也。所云中病與否，聞氣即知，最為有理。曩省中顧肇和大令之室患暑，醫者以其產後而泥用肉桂，病者聞之甚畏，堅不肯服，家人再四勸飲，遂至不救。不但藥也，食物亦然。余性畏聞冬舂飯氣，故食之輒病。</p>
<h2>翻胃</h2>
<p>嘉興朱亭立，曾任廣信太守，向病嘔吐，時發時愈，是時吐不止，粒米不下者三日，醫以膈證回絕，其友人來邀診。余曰：此翻胃證，非膈證也。膈乃胃腑乾枯，翻胃乃痰火上逆，輕重懸殊，以半夏瀉心湯加減治之，漸能進食，尋復舊，從此遂成知己。每因飲食無節，時時小發，且不善飯，如是數年，非余方不服，甚相安也。後余便道過其家，謂余曰：我遇武林名醫，謂我體虛，非參附不可。今服其方，覺強旺加餐。余謂此乃助火以腐食，元氣必耗，將有熱毒之害。亭立笑而腹非之，似有恨不早遇此醫之意。不兩月遣人連夜來迎，即登舟，抵暮人其寢室。見床前血汗滿地，駭問故，亭立已不能言，惟垂淚引過，作泣別之態而已。蓋血湧斗餘，無藥可施矣，天明而逝。十年幸活，殞於一朝，天下之服熱劑而隱受其害者，何可勝數也。</p>
<p>雄按：服溫補藥而強旺加餐，病家必以為對證矣，而孰知隱受其害哉。更有至死而猶不悟者，目擊甚多，可為歎息。</p>
<p>婁門範昭，素患翻胃，粒米不能入咽者月餘，胸中如有物蠢動。余曰：此蟲膈也，積血所成。舉家未信，余處以開膈末藥，佐以硫黃，三劑後，吐出痰血半甌，隨吐蟲二十余枚，長者徑尺，短者二寸，色微紫。其腸俱空，乃藥入而蟲積食之，皆洞腸而死者，舉家驚喜，以為病癒。余曰：未也。姑以粥與之，連進二碗，全然不嘔，更覺寬適，頃之粥停不下，不能再食。余曰：胃腑已為蟲蝕，無藏食之地，無救也。辭不復用藥，不旬日而卒。</p>
<h2>呃</h2>
<p>郡中陸某，患呃逆，不過偶爾胃中不和，挾痰挾氣，世俗所謂冷呃也，不治自愈。非若病後呃逆，有虛實寒熱之殊，關於生死也。陸乃青粱之人，從未患此，遂大懼，延醫調治。醫者亦大駭云：此必大虛之體，所以無病見此。即用人參、白朮等藥，痰火凝結而胃絡塞，呃遂不止，病者自問必死，舉家驚惶。余診視之，不覺狂笑，其昆仲在旁，怪而問故。余曰：不意近日諸名醫冒昧至此，此非病也，一劑即愈矣。以瀉心湯加旋覆花、枇杷葉，果一劑而呃止。越一月，呃又發，仍用前日諸醫治之，數日而死。其老僕素相熟，偶遇於他所，問其主人安否？因述其故。豈非命耶！
雄按：吳雨峰大令，年七十一歲，今秋患感發熱，而兼左脅偏痛，舌色乾紫無苔，稍呷湯飲，小溲即行，不食不便，脈洪且數。余知其平素津虛脾約，氣滯痰凝，連予輕肅宣濡之劑，熱漸緩，脅漸舒，而舌色不潤，仍不喜飲，溲赤便閉，呃忒頻來，舉家皇皇。余曰：無恐也，便行即止矣。逾二日，連得暢解，脈靜身涼，舌色有津，呃仍不減，人皆謂高年病後之虛呃，議用鎮補。余曰：此氣為痰阻，升降失調，得食不舒，平時無嚏，是其徵也。授以枳桔湯加蔞、薤、菖、茹、橘、半、柴胡，果一劑知，二劑已。</p>
<h2>癃</h2>
<p>學宮後金汝玉，忽患小便不通，醫以通利導之，水愈聚而溺管益塞，腹脹欲裂，水氣衝心即死，再飲湯藥，必不能下，而反增其水。余曰：此因溺管閉極，不能稍通也。以發腫藥塗之，使溺器大腫，隨以消腫之藥解之，一腫一消，溺管稍寬，再以藥湯洗少腹而擠之，蓄溺湧出而全通矣。此無法中之法也。
木瀆某，小便閉七日，腹脹如鼓，傴僂不能立，衝心在頃刻矣。就余山中求治，余以鮮車前根搗爛敷其腹，用諸利水藥內服，又煎利水通氣藥，使坐湯中，令人揉擠之，未幾溺迸出，灑及揉者之面，溺出斗餘，其所坐木桶幾滿，腹寬身直。雄按：兩外治法皆妙。</p>
<h2>水腫</h2>
<p>洞庭席君際飛，形體壯實，喜飲善啖，患水腫病，先從足起，遂及遍身，腰滿腹脹，服利水之藥，稍快，旋即復腫，用針針之，水從針孔出，則稍寬，針眼閉則復腫。《內經》有刺水病之法，其穴有五十七，又須調養百日，且服閉藥，而此法失傳，所以十難療一。余所治皆愈而復發，遂至不救。雖因病者不能守法，亦由醫治法不全耳。惟皮水風水，則一時之驟病，驅風利水，無不立愈，病固各不同也。</p>
<h2>消</h2>
<p>常熟汪東山夫人，患消證，夜尤甚，每夜必以米二升，煮薄粥二十碗，而溲便不異常人，此乃為火所爍也。先延郡中葉天士，治以烏梅、木瓜等藥，斂其胃氣，消證少痊。而煩悶羸瘦，飲食無味，余謂此熱痰凝結，未有出路耳。以清火消痰，兼和中開胃調之，病情屢易，隨證易方，半年而愈。</p>
<h2>蟲痛</h2>
<p>蘇州黃四房女，年十二，患腹痛，愈醫愈甚。余偶至其家，昏厥一夕方蘇，舌俱咬破，流血盈口，唇白而目猶直視，脈參錯無常。余曰：此蟲痛也。貫心則死，非煎藥所能愈，合化蟲丸與之，痛稍緩，忽復更痛，吐出蟲二十余條，長者徑尺，紫色，余長短不齊，淡紅色，亦有白者，自此而大痛不復作，小痛未除，蓋其窠未去也。復以殺蟲之藥，兼安胃補脾之方調之，而蟲根遂絕。蓋此證甚多，醫者既不能知，惟認為寒與食，即以為蟲，又無殺蟲之方，在精力強旺者，久能自化；其不足者，變為丁奚、勞怯、痞臌等證，至死而人不能知，亦可哀也。余治此證不一，姑舉其最劇者以明治法。</p>
<p>常州蔣公諱斌之孫，患心腹痛，上及於頭，時作時止，醫藥罔效，向余求治。余曰此蟲病也。以殺蟲之藥，蟲即遠避，或在周身皮膚之中，或在頭中，按之如有蠕動往來之象。余用殺蟲之藥為末，調如糊，到處敷上，而以熱物熨之，蟲又逃之他處，隨逃隨敷，漸次平安，而根終不除，遂授方令歸。越二年書來，云蟲根終未盡，但不甚為害耳，此真奇疾也。</p>
<h2>怔忡</h2>
<p>淮安鉅賈程某，母患怔忡，日服參朮峻補，病益甚，聞聲即暈，持厚聘邀余。余以老母有恙，堅持不往，不得已，來就醫，診視見二女僕從背後抱持，二女僕遍體敲摩，呼太太無恐，吾儕俱在也，猶驚惕不已。余以消痰之藥去其涎，以安神之藥養其血，以重墜補精之藥納其氣，稍得寢。半月余，驚恐全失，開船放炮，亦不為動，船擠喧嚷，歡然不厭。蓋心為火臟，腎為水臟，腎氣挾痰以衝心，水能克火，則心振盪不能自主，使各安其位，則不但不相克，而且相濟，自然之理也。</p>
<p>長興趙某，以經營過勞其心，患怔忡證，醫者議論不一，遠來就余。余以消痰補心之品治其上，滋腎納氣之藥治其下，數日而安。此與程母病同，而法稍異。一則氣體多痰，誤服補劑，水溢而火受克之證；一則心血虛耗，相火不寧，侵犯天君之證，不得混淆也。</p>
<h2>亢陽</h2>
<p>姻戚殷之晉，年近八旬，素有腸紅證，病大發，飲食不進，小腹高起，陰囊腫亮，昏不知人。余因新年賀歲候之，正辦後事。余診其脈，洪大有力，先以灶灰、石灰作布袋，置陰囊於上，袋濕而囊腫消；飲以知母、黃柏瀉腎之品。越三日，余飲於周氏，周與至戚相近半裏，忽有叩門聲，啟視之，則其子扶病者至，在座無不驚喜，同問余曰：何以用伐腎之藥而愈？余曰：此所謂欲女子而不得也。眾以為戲言。翁曰：君真神人也。我向者館穀京師，患亦相似，主人以為無生理也，遂送我歸，歸旬日即痊。今妻妾盡亡，獨處十餘年，貧不能蓄妾，又恥為苟且之事，故病至此，既不可以告人，亦無人能知之者。言畢淒然淚下，又閱五年而卒。蓋人之氣稟各殊，亢陽之害，與縱欲同，非通於六經之理，與岐黃之奧者，不足與言也。雄按：縱欲固傷陰，而亢陽亦爍陰，知柏瀉腎者，瀉腎火之有餘，而保其不足之水也</p>
<h2>吐血</h2>
<p>平望鎮張瑞五，素有血證，歲辛醜，余營葬先君，托其買磚灰等物，鄉城往返，因勞悴而大病發，握手泣別，謂難再會矣。余是時始合瓊玉膏未試也，贈以數兩而去，自此不通音問者三四載。一日鎮有延余者，出其前所服方，問：何人所寫？則曰：張瑞五。曰：今何在？曰：即在館橋之右。即往候之，精神強健，與昔迥異，因述服瓊玉膏後，血不復吐，嗽亦漸止，因涉獵方書，試之頗有效，以此助館穀所不足耳。余遂導以行醫之要，惟存心救人，小心敬慎，擇清淡切病之品，稗其病勢稍減，即無大功，亦不貽害。若欺世徇人，止知求利，亂投重劑，一或有誤，無從挽回，病者縱不知，我心何忍。瑞五深以為然，後其道大行，遂成一鎮名家，年至七十餘而卒。瓊玉膏為治血證第一效方，然合法頗難，其時不用人參，只用參須，生地則以浙中所出鮮生地，打自然汁熬之，不用乾地黃，治血證舍此無有無弊者。
雄按：行醫要訣，盡此數語，所謂以約失之者鮮，學者勿以為淺論也。</p>
<p>洞庭吳倫宗夫人，席翁士俊女也，向患血證，每發，余以清和之藥調之，相安者數年。郡中名醫有與席翁相好者，因他姓延請至山，適遇病發，邀之診視，見余前方，謂翁曰：此陽虛失血，此公自命通博，乃陰陽不辨耶！立溫補方加鹿茸二錢，連服六劑，血上冒，連吐十餘碗，一身之血盡脫，脈微目閉，面青唇白，奄奄待斃，急延余治。余曰：今臟腑經絡俱空，非可以輕劑治。覓以鮮生地十斤，絞汁煎濃，略加人參末，徐徐進之，曆一晝夜盡生地汁，稍知人事，手足得展動，唇與面紅白稍分，更進阿膠、三七諸養陰之品，調攝月餘，血氣漸復。夫血脫補陽，乃指大脫之後，陰盡而陽無所附，肢冷汗出，則先用參附以回其陽，而後補其陰。或現種種虛寒之證，亦當氣血兼補。豈有素體陰虛之人，又遇氣升火旺之時，偶爾見紅，反用大熱升發之劑，以擾其陽而爍其陰乎！此乃道聼塗説之人，聞有此法，而不能深思其理，誤人不淺也。</p>
<p>嘉興王蔚南，久患血證，左脅中有氣，逆沖喉旁，血來有聲如沸。戊子冬，忽大吐數升，面色白而帶青，脈微聲啞，氣喘不得臥，危在旦夕。余以阿膠、三七等藥，保其陰而止其血，然後以降火納氣之品，止其沖逆。復以補血消痰，健脾安胃之方，上下分治，始令能臥，繼令能食，數日之後，方能安臥。大凡脫血之後，斷不可重用人參升氣助火，亦不可多用滋膩以助痰滯胃。要知補血之道，不過令其陰陽相和，飲食漸進，則元氣自復，非補劑入腹，即變為氣血也。若以重劑塞其胃口，則永無生路矣。況更用溫熱重劑，助陽爍陰而速之死乎。</p>
<p>洞庭張姓，素有血證，是年為女辦裝，過費心力，其女方登轎，張忽血冒升餘，昏不知人。醫者濃煎參湯服之，命懸一息，邀余診視。六脈似有如無，血已脫盡，急加阿膠、三七，少和人參以進，脈乃漸復，目開能言，手足展動，然後純用補血之劑以填之，月餘而起。蓋人生不外氣血兩端，血脫則氣亦脫，用人參以接其氣，氣稍接，即當用血藥，否則孤陽獨旺而陰愈虧，先後主客之分不可不辨也。</p>
<h2>瘀留經絡</h2>
<p>烏鎮莫秀東，患奇病，痛始於背，達於胸脅，晝則飲食如常，暮乃痛發，呼號徹夜，鄰里慘聞。醫治五年，家資蕩盡，秀東欲自縊。其母曰：汝有子女之累，尚須冀念，不如我死，免聞哀號之聲。欲赴水，其戚憐之，引來就醫。余曰：此瘀血留經絡也。因謂余子曦曰：此怪病也。廣求治法以療之，非但濟人，正可造就己之學問。因留於家，用針灸熨拓煎丸之法，無所不備，其痛漸輕亦漸短，一月而愈，其人感謝不置。余曰：我方欲謝子耳。凡病深者，須盡我之技而後奏功。今人必欲一劑見效，三劑不驗，則易他醫。子獨始終相信，我之知己也，能無感乎。</p>
<h2>腸紅</h2>
<p>淮安程春穀，素有腸紅證，一日更衣，忽下血斗餘，暈倒不知人，急灌以人參一兩，附子五錢而蘇。遂日服人參五錢，附子三錢，而雜以他藥，參附偶間斷，則手足如冰，語言無力，醫者亦守而不變，僅能支援，急棹來招，至則自述其全賴參附以得生之故。診其六脈，極洪大而時伏，面赤有油光，舌紅而不潤，目不交睫者旬餘矣。余曰：病可立愈，但我方君不可視也。春穀曰：我以命托君，止求效耳，方何必視。余用茅草根四兩作湯，兼清涼平淡之藥數品，與參附正相反。諸戚友俱駭，春穀弟風衣，明理見道之士也，謂其諸郎曰：爾父千里招徐君，信之至，徐君慨然力保無虞，任之至，安得有誤耶。服一劑，是夕稍得寢，二劑手足溫，三劑起坐不眩，然後示之以方，春穀駭歎，諸人請申其說。余曰：血脫扶陽，乃一時急救之法，脫血乃亡陰也。陽氣既復，即當補陰。而更益其陽，則陰血愈虧，更有陽亢之病。其四肢冷者，《內經》所謂熱深厥亦深也。不得臥者，《內經》所謂陽勝則不得人於陰，陰虛故目不眠也。白茅根交春透發，能引陽氣達於四肢，又能養血清火，用之，使平日所服參附之力，皆達於外，自能手足溫而臥矣。於是始相折服。凡治血脫證俱同此。 雄按：論治既明，而茅根功用，尤為發人所未發。</p>
<h2>血痢</h2>
<p>洞庭葛允誠，患血痢五年，日夜百餘次，約去血數石，骨瘦如柴，飲食不進，舉家以為必無生理。余友薑君錫常次子曹芳，從余學醫於山中，病者即萼芳妻弟也。錫常憐之，令同萼芳寄膳余家，朝夕診視。余先用滋補之劑以養其血脈，復用開胃之藥以滋其化源，稍健而能食。久痢至五載，大腸之內必生漏管，遂以填補之品塞其空竅，痢日減，飯日增，不半年而每食飯必六七碗，至冬病全愈。豐肥強壯，歸至家，親戚俱不相識認，無不歎以為奇。</p>
<h2>崩</h2>
<p>徽州鹽商汪姓，始富終貧，其夫人年四十六，以憂勞患崩證，服參附諸藥而病益劇，延余治之。處以養血清火之劑，而病稍衰，蓋此病本難除根也。越三年夫卒，欲往武林依其親戚，過吳江求方，且泣曰：我遇先生而得生，今遠去，病發必死耳。余為立長服方，且贈以應用丸散而去。閱十數年，郡中有洋客請治其室人，一白頭老嫗出拜，余驚問，曰：我即汪某妻也。服先生所贈方藥，至五十二而崩證絕，今已六十余，強健逾昔，我婿迎我於此，病者即我女也。不但求治我女，必欲面謝，故相屈耳。蓋崩證往往在五十歲以前天癸將絕之時，而衝任有火，不能攝納，橫決為害。至五十以後，天癸自絕，有不藥而愈者，亦有氣旺血熱，過時而仍有此證者，當因時消息，總不外填陰補血之法。不知者以溫熱峻補，氣愈旺而陰愈耗，禍不旋踵矣。此極易治之病，而往往不治，蓋未能深考其理，而誤殺之耳。</p>
<h2>瘀血衝厥</h2>
<p>東山水利同知，借余水利書，余往索出署，突有一人攔輿喊救命，謂我非告狀，欲求神丹奪命耳。其家即對公署，因往視病者，死已三日，方欲入棺，而唇目忽動，按其心口尚溫，誤傳余能起死回生，故泥首哀求。余辭之不獲，乃紿之曰：余舟中有神丹可救。因隨之舟中，與黑神丸二粒，教以水化灌之，非能必其效也。隨即歸家。後復至山中，其人已生。蓋此乃瘀血衝心，厥而不返，黑神丸以陳墨為主，而以消瘀鎮心之藥佐之，為產後安神定魄去瘀生新之要品。醫者苟不預備，一時何以奏效乎？</p>
<h2>胎中毒火</h2>
<p>南門陳昂發夫人懷娠三月，胎氣上逆，舌腫如蛋，色紫黑，粒米不能下，醫者束手，延余治。余曰：此胎中有毒火衝心，舌為心苗，故毒聚於舌，腫塞滿口，則飲食絕矣。乃用珠黃散及解毒軟堅之藥，屢塗其舌，腫漸消而納食；復用清涼通氣之方，消息治之。或謂解毒清火，與胎有害。余曰不然。胎氣旺甚，愈涼愈安，但熱毒傷陰，當滋養其血氣耳。乃專服余藥，孿生二子。後詢其得病之故，乃曾聽邪人之言，服不經之藥，幾至傷生，可為戒也。</p>
<h2>子利</h2>
<p>爛溪潘開於表弟，其夫人懷娠患痢，晝夜百余次，延余視。余以黃芩湯加減，兼養胎藥飲之，利遂減，飲食得進，而每日尚數十次，服藥無效。余曰：此不必治，名曰子利，非產後則不愈，但既產，恐有變證耳。病家不信，更延他醫，易一方，則利必增劇。始守余言，止服安胎藥少許，後生產果甚易，而母氣大衰，虛象百出。適余從浙中來，便道過其門，復以產後法消息治之，病痊而利亦止。蓋病有不必治而自愈，強求其愈，必反致害，此類甚多，不可不知也。 雄按：此所謂利，即是泄瀉。古人名曰利下，非今之痢也。痢疾古名滯下，若胎前久痢不愈，產後其能免乎？</p>
<h2>試胎</h2>
<p>余往候族兄龍友，坐談之際，有老嫗惶遽來曰：無救矣。余駭問故，龍友曰：我侄婦產二日不下，穩婆已回絕矣。問：何在？曰：即在前巷。余曰：試往診之。龍友大喜，即同往。漿水已涸，疲極不能出聲，穩婆猶令用力迸下。余曰：無恐，此試胎也。尚未產，勿強之，扶令安臥，一月後始產，產必順，且生男。穩婆聞之微曬，作不然之態，且曰此何人，說此大話。我收生數十年，從未見有如此而可生者。其家亦半信半疑。余乃處以養血安胎之方，一飲而胎氣安和，全無產意。越一月，果生一男，而產極易。眾以為神，龍友請申其說。曰：凡胎旺而母有風寒勞碌等感動，則胎墜下如欲生之象，安之即愈。不知而以為真產，強之用力，則胎漿破而胎不能安矣。余診其胎脈甚旺，而月份未足，故知不產。今已搖動其胎，將來產時必易脫，故知易產。左脈甚旺，故知男胎。此極淺近之理，人自不知耳。</p>
<h2>產後風熱</h2>
<p>西濠陸炳若夫人，產後感風熱，瘀血未盡，醫者執產後屬虛寒之說，用乾薑、熟地治之，且云必無生理，汗出而身熱如炭，唇燥舌紫，仍用前藥。余是日偶步田間看菜花，近炳若之居，趨迎求診。余曰：生產血枯火熾，又兼風熱，復加以剛燥滋膩之品，益火塞竅，以此死者，我見甚多。非石膏則陽明之盛火不解，遵仲景法，用竹皮、石膏等藥。余歸而他醫至，笑且非之，謂自古無產後用石膏之理。蓋生平未見仲景方也。其母素信余，立主服之，一劑而蘇。明日炳若復求診，余曰：更服一劑，病已去矣。無庸易方，如言而愈。醫者群以為怪，不知此乃古人定法，惟服薑桂則必死。</p>
<h2>產後血臌</h2>
<p>蘇州顧某繼室，產後惡露不出，遂成血臌，醫者束手，顧君之兄掌夫，余戚也，延余治之。余曰：此瘀血凝結，非桃仁等所能下，古法有抵當湯，今一時不及備，以唐人法，用肉桂、黃連、人參、大黃、五靈脂成劑，下其瘀血。群醫無不大笑，謂寒熱補瀉並相犯之藥合而成方，此怪人也。其家因平日相信，與服。明日，掌夫告余曰：病不可治矣。病者見鬼竊飲所服藥，乃大呼曰：我不能食鬼之所吐也，先生可無治矣。余往驗之，藥本氣味最烈之品，嘗之與水無二，怪之。仍以前方煎成，親往飲之，病者不肯飲，以威迫之，懼而飲，是夕下瘀血升餘，而腹漸平，思食。余以事暫歸，隔日復往，其門首掛榜燒褚，余疑有他故，入門見者皆有喜色，詢之，則曰：先生去之夕，病者夢其前夫人怒曰：汝據余之室，奪余之財，虐余之女，余欲傷汝命，今為某所治，余將為大蛇以殺汝，即變為大蛇，大驚而醒，故特延僧修懺耳。蓋前夫人以產後血臌亡，病狀如一，而醫者治不中病，遂致不起。蓋一病有一病治法，學不可不博也。</p>
<h2>產後腸癰</h2>
<p>洞庭某婦，產後小腹痛甚，惡露不止，奄奄垂斃。余診之，曰：惡露如此多，何以其痛反劇？更詢其所行之物，又如膿象。余曰：此乃子宮受傷，腐爛成癰也。宜令名手穩婆探之，果然。遂用綿作條，裹入生肌收口之藥，而內服解毒消瘀之方，應手而愈。凡產後停瘀，每多外證，如此甚多，不可不知也。</p>
<h2>惡痘</h2>
<p>吳超士家憧，已弱冠，隨超士往戲館觀戲，因寒熱作而先歸，夜半呻吟不絕。至明旦往視，則匿於床下，口稱群鬼欲殺之，拽出視之，細點如麩。余曰：此惡痘也。色暗紫，急以升麻、羌活、生地等藥，煎湯灌之。三日而痘形出，遍體無毫孔，頭面結聚重疊，始終用滋養氣血之品，不用時下惡藥一味。二十餘日始結痂，焦黑成片，大如手掌，形如缸爿，剝去之後，非復本來面目，見者俱不相識，可知痘證之必死者絕少，皆醫以寒涼克伐之藥誤之也。</p>
<p>毛履和之女患痘，醫者曰：此悶痘也，五日而斃。舉家扼腕，適余至，曰：先生亦治痘否？余曰：醫者不肯治之痘則治。曰：已回絕矣。因入視，遍體大熱，神昏不語，細點如魚子，隱在肉中，余急以升麻羌活湯為主，而佐以養血透肌藥飲之，三日而痘形顯，前醫群駭，告之以故。則又大笑曰：升麻、羌活等藥，豈入痘科。不知升麻湯乃痘證初起之主方，而醫者不知也。繼以養血解毒補氣之品。其結痂也，額如覆釜，身如樹皮，發連痂脫，三年始生。時醫見此等證，必用大黃、石膏及惡毒之物，虛其裏而增其毒，五日而死之言必驗。病家亦以為醫者斷期如神，孰知非其識之高，乃其藥之靈也。嗚呼慘哉！</p>
<p>余同學沈冠云之女，痘密黑陷而無漿，醫者束手，冠云告以故。余曰：姑處以補托之法，用地黃、歸身、黃耆、人參等藥，聞者鹹笑。一服而漿來，至明日以參貴停服。余曰：精力不充，毒發未盡，未盡必生痘毒，後果臂灣生二毒，復為治之而安。</p>
<p>余長孫女種痘，點密而色深赤，種痘之醫束手。余用清發之藥，並時含紫雪，赤色稍衰，將就寢，復往視，忽變灰白色而咬牙。余驚曰：證變虛寒矣。此所謂亢害承制也。即用人參、鹿茸等藥托之，至三鼓而瘡色復紅，形漸高起，仍用清火養血之方而漿成。蓋病變無常，頃刻轉易，故凡屬危險之證，醫者當時時消息，不可片刻離也。但不明理之醫，則偏僻固執，又方法絕少，不能肆應不窮耳。</p>
<h2>流注</h2>
<p>蘇州一小兒，甫九齡，頗聰慧，而患流注，肩背腰脅十餘處，百端醫治無效。余視之曰：此惟大活絡丹能愈。服至三十餘丸，未破者消，已破者收口。更服補氣血之藥而愈。蓋流住一證，由風寒入膜所致，膜在皮中，旁通四達，初無定處，所以隨處作患，此真脈絡之病、故古人制大活絡丹以治之。其餘煎丸，皆非正治。所謂一病有一病之法，藥不對證，總難取效也。</p>
<p>本邑劉近曾夫人，患虛痰流注，色（白光）脈虛，發無定處，病極危險，非旦夕可奏功，余辭不能治。郡中一醫以百金包好，因留在家治之。聞余有不能治之說，笑曰：我醫好後，更請徐君質之，當無言可對耳。月余，劉君之兄元穀招余診，近曾出曰：流注之疾，雖向愈而未收口，托在相好，肯一觀否？余因視之，肩後瘡孔大如錢，內膜乾空，與皮不連，氣促脈微。診畢而出，近曾求方，余笑不答，書「危在頃刻」四字。劉不信，少頃內呼，劉父子入，已氣絕矣。群執包好之醫，欲加以無禮。余曉之曰：此病本不治，非藥誤也。但不知生死，為無目耳。乃釋之。蓋流注之證，其類不同，大段皆津液枯而痰流膜內之證，當內外交治，而祛邪補虛，亦另有切病方藥，蠻補無益也。</p>
<p>嘉善張卓舟，未弱冠，患流注五年，自脅及腰腿，連生七八孔，寒熱不食，僅存人形，歷年共服人參二三千金，萬無生理。父母先亡，只有慈母，其伯悉收其田產文契，專待其斃而取之。其從兄汪千造余家哀懇，余頗憐之，破格往視，半身幾成枯骨，此乃虛痰流注。醫者不能治其經絡之痰，徒費重貲而無一中病者，則藥之誤，而非病之真無治也。余用大活絡丹為主，而外敷拔管生肌之藥。醫者聞之大笑曰：活絡丹辛暴之藥，豈可入口？蓋彼惟知俗本所載烏頭、蚯蚓之活絡丹，而不知古方五十餘味之大活絡丹也。蓋流注之痰，全在於絡，故非活絡丹不效。以後膿稀肉長，管退筋舒，漸能起立，不二年而肌肉豐肥，強健反逾於常。嗚呼！不知對病施藥，徒事蠻補，舉世盡然，枉死者不知其幾也。 雄按：大活絡丹治虛痰流注，深為合法，而外科不知也。若實痰，則控涎丹最妙。</p>
<h2>腸癰</h2>
<p>長興朱季舫少子嘯虎官，性極聰敏，年九歲，腹痛腳縮，抱膝而臥，背脊突出一癤，晝夜哀號，遍延內外科診視，或云損證，或云宿食，或云發毒，當刺突出之骨以出膿血。其西席茅豈宿力薦余治，往登其堂，名醫滿座，豈宿偕余診視，余曰：此縮腳腸癰也，幸未成膿，四日可消。聞者大笑，時季舫為灤州牧，其夫人孔氏，名族之女，獨信余言。余先飲以養血通氣之方，並護心丸，痛遂大減，諸醫謂偶中耳。明日進消瘀逐毒丸散，謂曰：服此又當微痛，無恐。其夜痛果稍加，諸醫聞之譁然，曰：果應我輩之言也。明早又進和營順氣之劑，痛止八九，而腳伸脊平，果四日而能步，諸醫以次辭去。中有俞姓者，儒士也，虛心問故。余謂：雜藥亂投，氣血傷矣。先和其氣血，自得稍安，繼則攻其所聚之邪，安能無痛，既乃滋養而通利之，則臟腑俱安矣。</p>
<p>南濠徐氏女，經停數月，寒熱減食，肌肉消爍，小腹之右，下達環跳，隱痛微腫。醫者或作怯弱，或作血痹，俱云不治。余診其脈，洪數而滑，寒熱無次。謂其父曰：此瘀血為癰，已成膿矣。必自破，破後必有變證，宜急治。與以外科托毒方並丸散，即返山中。越二日，天未明，叩門甚急，啟視則徐之戚也。云膿已大潰，而人將脫矣。即登其舟往視，膿出升餘，脈微膚冷，陽隨陰脫。余不及處方，急以參附二味，煎湯灌之，氣漸續而身漸溫。然後以補血養氣之品，兼托膿長肉之藥，內外兼治，兩月而漏口方滿，精神漸復，月事以時。大凡瘀血久留，必致成癰。產後留瘀，及室女停經，外證極多。而醫者俱不能知，至膿成之後，方覓外科施治，而外科又不得其法，以致枉死者，比比然也。</p>
<h2>腿癰</h2>
<p>橫涇錢某之女，素有痞塊，從腹入少腹，又從少腹入環跳之下，大腿外臁，變成大癰，膿水淋漓成管，管中有飯粒流出，真不可解，日漸狼狽，諸醫束手。其父泣而告余曰：寒儉之家，服人參已費百金，而毫無效驗，惟有立而視其死耳。余曰：人參不可長繼，祛膿填漏，外科自有正方也。乃為合治漏之藥，內服外敷，所服末藥，亦有從瘡口流出者，繼乃漸少，胃氣亦開，肌肉內生，數月之後，痂結筋舒。前此從未生育，期年懷孕生子。凡治病各有對證方藥，非可以泛治之方，圖僥倖也。</p>
<h2>臂疽</h2>
<p>長興周某之子，臂生疽，經年膿水不乾，變為多骨。所食米粒，間有從疽中出者，奄奄待斃。余為內托外敷，所服末藥，亦從瘡口出，繼而膿漸減少，所出碎骨，皆膿結成，出盡之後，肌肉日長，口收痂結而愈。</p>
<h2>項疽</h2>
<p>郡中朱姓患項疽，大痛徹心，時時出血。延醫施治，漫腫滋甚，神思昏迷，束手待斃，延余視。急用圍藥裹住根盤，敷以止血散，飲以護心丸，痛緩血止，神安得寢。明日前醫來，告以故。醫謂同一金黃散，我用無效，彼用神驗，此命運不同，非藥異也。彼蓋不知圍藥每病各殊耳。瘡口已定，乃大托其膿，兼以消痰開胃之品，飲食漸進，坐臥皆安，兩月而愈。凡治癰疽之法，在視其人之肥瘠，瘦弱之軀，尤忌見血。瘡口若大，則肌肉難生，所以最重圍藥。其方甚多，不可不廣求而預備也。</p>
<p>同學沈自求，喪子，優愁鬱結，疽發於項，調治無效。項三倍瘡口，環頸長尺餘，闊三寸，惟近咽喉處二寸未連，而枕骨直下之筋未斷，血流不止。余辭不治，堅懇不已。先進護心丸二粒，令毒不內攻。又付止血散止其血，外用圍藥厚塗束其根，更以珠黃等藥，時時敷瘡口上，其膏藥長一尺三寸，再以黃耆四兩煎湯，煎藥服之。勢定而飲食稍進，數日血止膿成，肌與腐肉，方有界限。瘡口太大，皮肉不能合，以生肌等藥，並參末厚塗而封之，月餘口乃合。病家欲備人參斤許以待用，余曰：無庸也。諸痛癢瘡，皆屬於火；膿流肉腐，皆傷於陰。凡屬外證，總以清火養陰為主而加開胃健脾之藥，人參止用錢許，數劑即止，此從古一定之法。其用溫補，乃後世訛傳之術，無不陰受其害。余凡治大證，無不神效，時人多不之信也。</p>
<p>蘇州章倚文夫人，體質本弱，平時飲食絕少，忽患項毒，平漫不腫，痛輒應心。醫者謂大虛之證，投以峻補，毒伏神昏，奄奄一息，延余視之。余曰：毒無補理。瘡口不高，則以圍藥束之，飲以清涼養血之品，托毒於外，兼服護心丸，痛定而瘡根漸收。余暫歸，轉托一醫代治。醫者強作解事，曰圍藥不過金黃散之類，無益也，去之。用藥亦意為改易，以炫己能。瘡遂散大，血出不止，痛復甚而神疲。余再至大駭，詢之，乃知其故。醫者乃不復生議論，於是仍用前法，膿成食進，而後得安。蓋外科病不治者絕少，皆由醫之不得其道，所以動手輒誤，病變日增，而藥無一驗，即束手無策矣。</p>
<h2>對口</h2>
<p>白龍橋吳時臣，年七十餘矣，患對口，痛欲絕。余視其外無圍藥，瘡內反有插藥五條，乃三品一條槍，此古方蝕頑肉之惡藥，而近日醫者，誤以為必用之品，所以痛極昏迷。余悉拔去，摻以珠黃解毒散，其痛立除而神安。復用圍藥裹住其根，使瘡頭高而膿易出。或謂七旬之人，精力已衰，宜用溫補。余曰：外證俱屬火，苟非現證虛寒，從無用熱藥之理。進清涼開胃之劑，胃氣開則肌肉自生，調養月餘而愈，精神較勝前矣。</p>
<p>平湖徐掄齋，陰毒對口，頸項漫腫而色紫，有頭如痘者百餘，神煩志亂，醫者束手，就治於余。余曰：此乃陰毒，兼似有祟。其家為述：患病之後，鬼聲繞屋，鬼火不斷。余曰：且敷藥試之，色稍鮮，腫亦稍消。明晨視之，色轉淡紅，其如痘者，俱出微膿而低軟，中聚一頭，亦不甚大，勢已消其十之三，神亦漸清，而思飲食。病雖屬陰，亦不可用熱藥以增邪火，惟和血通氣，使營衛充盈，使血中一點真陽誘出。則陰邪自退。若用熱補，則反助毒火，而生機益絕。故冶外科之陰證，非若傷寒之陰證，為外感之寒邪，可專用桂附以驅之也。今之號外科者，惟拾內科之緒論，以為熱可禦寒，則貽害不小矣。</p>
<h2>發背</h2>
<p>洞庭吳姓，從徐州經紀返棹，背起粟粒，深紫色而痛應心，周圍肌肉皆不仁，知非輕證，未至家而就余治。余辭不能，再三懇求，姑用圍藥束之。稍定，病者謂我尚未到家，當歸處分家事，求借一廛，如果不治，死無餘憾。歸二日而復來，其瘡不甚大，頂微高而堅黑，當用刀挑破，方可上藥。以洋刀點之，洋刀堅利非凡，竟不能人，用力挑之，刀頭折，乃用金針四面刺之，以泄毒氣。內托外敷，其方屢變，然後膿從四旁出，頑蓋自落，約深半寸，脊骨隱露，其尖亦腐去，急以生肌散填補之，內服峻補之劑，兩月而肉滿皮完。此九死一生之證，不早為外束內托，則焦骨攻臟，無生理矣。</p>
<p>周莊陸姓，疽發背，周徑尺餘，一背盡腫，頭以百計，毒氣內攻，沉悶昏迷。醫者以平塌無頭，用桂附托之。余曰：此瘡止宜收小，若欲加高，則根盤如此之大，而更加高，則背馱栲栳矣。此乃火毒，用熱藥必死。乃以束根提毒之藥敷之，一夕而瘡頭俱平，皮膚亦潤，止有大頭如杯，高起於大椎骨之下，大三寸許，尚不思飲食，惟求食西瓜，醫嚇以入口即死。余令縱其所食，一日之內，連吃大西瓜兩個。明日知饑，欲求肉飯，食肉四兩，飯半碗，明日更加，始終用托毒清火之劑，而膿成口斂。余囑曰：此疽初起盈背，背中脂膜皆空，非填補裏膜，必有他變。有庸醫獻媚曰：病已全愈，為此說者，圖厚謝也，我力能保之。病家利其省費，從之。至來年二月，忽舊疤中一細眼流血不止，放血斗餘，兩日而卒。蓋其前一背盡腫，其中之脂膜俱化成膿，從大口出盡。庸醫安知治法，貪利誤人。富貴之家，往往最信此等人，可不省察耶。</p>
<h2>對心發</h2>
<p>郡中唐廷發，偶過余寓，時方暑，謂背上昨晚起一小瘰，搔之甚癢，先生肯一看否。余視之駭曰：此對心發也。唐不甚信，曰：姑與我藥。余曰：君未信余言，一服藥而毒大發，反疑我誤君矣。含笑而去，明日已大如酒杯而痛甚，乃求醫治。余曰：此非朝夕換方不可。我不能久留郡寓，奈何？因就醫余家，旦暮易法，其中變遷不一，卒至收口。其收口前十日，忽頭痛身熱，神昏譫語，瘡口黑陷，六脈參差。余適出門兩日，歸而大駭，疑為瘡證變重，幾無可藥。細詢其僕，乃貪涼當風而臥，瘡口對風，膏藥又落，風貫瘡中，即所謂破傷風也。乃從外感治法，隨用風藥得汗而解，身涼神清，瘡口復起，仍前治法而痊。若不審其故，又不明破傷風治法，則必無效，惟有相視莫解而已。</p>
<h2>肺癰</h2>
<p>蘇州錢君復庵，咳血不止，諸醫以血證治之，病益劇。余往診，見其吐血滿地，細審之，中似有膿而腥臭者，余曰：此肺癰也，膿已成矣。《金匱》云：膿成則死，然有生者。余遂多方治之，錢亦始終相信，一月而愈。蓋余平日因此證甚多，集唐人以來治肺癰之法，用甘涼之藥以清其火，滋潤之藥以養其血，滑降之藥以祛其痰，芳香之藥以通其氣，更以珠黃之藥解其毒，金石之藥填其空，兼數法而行之，屢試必效。今治錢君亦兼此數法而痊，強健逾舊。幾二十年，至乾隆三年，家業日隆，因遷居大造，途中相值，邀余視其新居，坐談良久，辭出，見其右額有豆大黑點，問之，錢對曰：昨此處生一瘰，頗癢，無他苦也。余諦審之曰：此毒發於內，治之失宜，可以傷命，非輕疾也。錢笑而腹非之。余曰：本當為君竭力，但君未信，若一用藥而毒大發，則反以為病由藥作，故不敢。但多年相好，不可不盡言，如五六日病勢增重，當來相聞，勿為人誤。越五日，遣人邀余山中，往則見其額腫目閉，哀號竟夕，方悔信余之不早，細視皮中有物，乃三品一條槍也。拔去五條。嗟乎！此乃腐爛死肌之惡藥，好肉用上，其痛應心，況額上皮內即骨，橫插皮中，所以痛極。余既不能久留，又壞證難治，力辭歸山。易以他醫，面目俱腐而卒。嗟乎！前何相信之深，後何不信之至，豈非命乎！</p>
<h2>乳癤</h2>
<p>東洞庭劉某夫人，患乳癤，醫者既不能消散，成膿之後，又用刀向乳頭上寸餘出毒，瘡口向上，膿反下注，乳囊皆腐，寒熱不食，將成乳勞，內外二科聚議無定，群以為不治矣。延余診之，曰：此非惡證，治不如法耳。尚可愈也，但須百日耳。其家戚族皆少年喜事，聞余言欲塞群醫之口，向病家曰：我輩公懇先生留山中百日，必求收功而後已。如欲歸家，備快舟以迎送。余初不允，繼勉承之，多方治之，至九十日而未見功。蓋病者柔弱畏痛，既不敢於乳下別出一頭，而膿水從上注下，頗難出盡，故有傳囊之患。忽生一法，用藥袋一個，放乳頭之下，用帛束縛之，使膿不能下注；外以熱茶壺熨之，使藥氣乘熱人內；又服生肌托膿之丸散，於是膿從上泛，厚而且多，七日而膿盡生肌，果百日而全愈。後以此法治他證，無不神效。可知醫之為術，全賴心思轉變，刻舟求劍，終無一驗也。</p>
<h2>下疳</h2>
<p>濮院沈維德，患下疳，前陰連根爛盡，溺從骨縫中出，瀝灌腎囊中，哀號痛楚，肛門亦復爛深半寸，載至余家，止求得生為幸。余亦從未見此病，姑勉為治之。內服不過解毒養血之劑，而敷藥則每用必痛，屢易其方，至不痛而後已。兩月後結痂能行，惟陰莖僅留根耳。余偶閱秘本，有再長靈根一方，內用胎狗一個，適余家狗生三子，取其一，泥裹偎燥，合藥付之。逾二年，忽生一子，舉族大嘩，謂人道已無，焉能生子？蓋維德頗有家資，應繼者懷覬覦之心也。其岳徐君密詢之，沈曰：我服藥後陽道已長，生子何疑？徐君乃集其族人共驗之，陽道果全，但累生如有節而無總皮。再期又生一子，眾始寂然。遠近傳之，以為奇事，今猶有述之以為異聞者。</p>
<p>附再長靈根方五十日復生效。
煆乳石三錢五分 琥珀七分 朱砂六分 人參一錢 真珠七分 牛黃四分 真水粉五分 胎狗一個 雄黃六分 
用靈仙、首烏、大力子、寥草汁煮一晝夜，炒如銀色。上為末，每服三厘，日進四服，臥又一服，俱以土茯苓半斤，陰陽水十二碗，煎五碗，連送五服，七日驗。
雄按：煮一晝夜而炒如銀色之藥品，即上文煆乳石等九味也。詳玩文義，似宜移上字於用字之上方順。第胎狗煨燥必黑，全狗分兩，又必數倍於諸藥，同煮同炒，不知何以能如銀色，是必煨時不令黑也。</p>
<h2>筋瘤</h2>
<p>蘇州一小童，背上腫大如覆碗，俯不能仰，群謂駝疾也。或戲余曰：君能治奇疾，若愈此，則我輩服矣。其父母以余為果能治也，亦力求焉。余實不知其中何物，姑以腐藥塗上，數日皮開肉爛，視其肉，如蚯蚓者盤結數條。細審之，乃背上之筋所聚也。余頗悔輕舉，急以舒筋收口丸散，外敷內服，筋漸散，創漸平，膚完而身直矣。此筋瘤之一種也。哄傳以余為能治駝疾，從此求治駝者云集，余俱謝不能，此乃幸而偶中。古人並無此治法。癸未人都，尚有人詢及者，余謝無此事而已，存此以識異。</p>
<p>雄按：洄溪神於外科，讀其所評《外科正宗》等書，已見一斑。是編列案僅十餘條，然各大症治法略備，洵癰疽家赤文綠字之書也，可不奉為圭臬哉。　　 </p>
