<header data-type="book">
<h1>癘瘍機要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1554">公元1554年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>夫醫猶理也，醫之有瘍醫，猶理之有兵也。善為理者，正其五官，齊其百司，使紀綱法度，非理之所尚也，將藉之以除亂也。彼其平居無事之時，而吾所以弭亂之本，既已縝密完固，而無所疏漏，一旦有急則除之而已耳。故兵雖試而國家之元氣不虧，醫之為道也亦然。方其病在腠理也，湯液之所及也。其在腸胃也，湔浣之所及也。若夫隆然皮膚之間，甚至不可名狀者，彼何為哉，其能不攻刺乎！其能不搏擊乎！顧攻有守而後攻，擊有備而後擊。苟不諦其癬之疾，將不為腹心之患者幾希，噫，可不慎乎。故明於理者，可與語醫也。已世之以瘍名家者多矣，然孰有如我立齋先生者耶。蓋先生以岐黃世業，旁通諸家，微詞頤旨，靡不究竟。其言以為不知外科者，無以通經絡之原委。不精《內經》者，無以究陰陽之變合。內外殊科，其揆一也。故其視病不問大小，必以治本為第一義。無急效，無近期，紓徐從容，不勞而病自愈。間出《癘瘍機要》一編，屬其友沈生梓之以傳。沈生讀之，大率以己意而訂古方，以醫案而驗治效，以調補為守備之完策，以解利為攻擊之權宜。蓋不出乎廟堂之訐謨，而坐得夫催陷廓清之術。假令業醫者而執是焉，既不病於滯而不通，又不病於膚而無本，奚至攻其所習，而毀所不見耶。噫！若先生者可謂醫而通於理者矣。是錄也，顧不可傳哉。或者曰：誠若所言，則內外醫分門異業者非歟。周官有疾醫、瘍醫二職，並存何也？曰：非是之謂也。昔秦越人之為醫也，聞秦貴小兒則小兒醫，趙貴婦人則帶下醫，周貴老人則耳目痹醫。一醫而三習，非其術誠奇幻，理固不殊也。若周官所存，則以其職言耳，豈知後世判為兩途，絕不相通者哉。古之任官，居則為命卿，而出則為命將。夫一人也，而理與兵兼焉，孰謂內外醫果不相通者哉。</p>
<p><u>嘉靖歲甲寅中秋，秀州沈啟原道卿甫著。</u></p>
<h2>上卷</h2>
<p>《內經》云：風氣與太陽俱入行諸脈，俞散於分肉之間，與衛氣相干，其道不利，故使肌肉色靈樞經》以銳針刺腫上出惡血。近代先哲云：感天地肅殺惡氣所致，其上體先見或多者，毒在上也；下體先見或多者，毒在下也。蓋氣受邪則上多，血受邪則下多，氣血俱受，則上下齊見。若眉毛先落者毒在肺，面發紫泡者毒在肝，腳底先痛或穿者毒在腎，遍身如癬者毒在脾，目先損者毒在心，此五臟受症之重也。一曰皮死麻木不仁，二曰肉死針刺不痛，三曰血死爛潰，四曰筋死指脫，五曰骨死鼻柱壞，此五臟受傷之不可治也。若聲啞目盲，尤為難治。大抵此症，多有勞傷氣血，腠理不密，或醉後房勞沐浴，或登山涉水，外邪所乘，衛氣相搏，濕熱相火，血隨火化而致，故淮陽嶺南閩間多患之。治當辨本症、兼症、變症、類症、陰陽虛實而治焉。若妄投燥熱之類，膿水淋漓，則肝血愈燥，風熱愈熾，腎水愈傷，相火愈旺，反致敗症矣。</p>
<h3>本症治法</h3>
<p>一癘瘍所患，非止一臟，然其氣血無有弗傷，兼症無有弗雜，況積歲而發現於外，須分經絡經云：真氣奪則虛，邪氣勝則實。凡云病屬有餘，當認為不足。</p>
<p>一癘瘍當知有變有類之不同，而治法有汗有下有砭刺攻補之不一。蓋兼症當審輕重，變症當。蓋虛者形氣虛也，實者病氣實而形氣則虛也。</p>
<p>一癘瘍砭刺之法，子和張先生，謂一汗抵千針。蓋以砭血不如發汗之周遍也，然發汗即出血毒蘊結於臟，非蕩滌其內則不能痊。若毒在外者，非砭刺遍身患處，及兩臂腿腕兩手足指縫各出血，其毒必不能散。若表裡俱受毒者，非外砭內泄其毒，決不能退。若上體患多，宜用醉仙散，取其內蓄惡血於齒縫中出，及刺手指縫並臂腕，以去肌表毒血；下體患多，宜用再造散，令惡血陳蟲於穀道中出，仍針足指縫並腿腕，隔一二日更刺之，以血赤為度。如有寒熱頭疼等症，當大補血氣。</p>
<p>一癘瘍服輕粉之劑，若腹痛去後兼有膿穢之物，不可用藥止之。若口舌腫痛，穢水時流，作血發熱，而大便秘結，此為熱毒內淫，宜用黃連解毒湯。若大便調和，用濟生犀角地黃湯。</p>
<p>若穢水雖盡，口舌不愈，或發熱作渴，而不飲冷，此為虛熱也，宜用七味白朮散。</p>
<p>一癘瘍手足或腿臂或各指拳攣者，由陰火熾盛，虧損氣血，當用加味逍遙散加生地黃及換肌散兼服。</p>
<p>一癘瘍生蟲者，五方風邪翕合，相火制金，木盛所化，內食五臟，而症見於外也。宜用升麻肝經虛熱者，佐以加味逍遙散、六味地黃丸。</p>
<p>一癘瘍久而不愈，有不慎起居飲食，內火妄動者；有臟腑傷損，氣血疲乏者；有用攻伐之物，氣血愈虧者；有不分兼變相雜，用藥失宜者；有病患諱疾忌醫者。</p>
<p>一癘瘍愈而復發，有不戒濃味，內熱傷脾者；有不戒房勞，火動傷腎者；有不戒七情，血氣。</p>
<h3>兼症治法</h3>
<p>一頭目眩暈，若右寸關脈浮而無力，脾肺氣虛也，用補中益氣湯。若左關尺脈數而無力，肝物東加參、苓、白朮；氣虛者，四君子東加當歸、黃　；肝經實熱者，柴胡清肝散；肝經虛熱者，六味地黃丸；脾氣虛弱者，補中益氣湯；脾虛有痰者，半夏、白朮、天麻湯；砭血過多者，芎歸湯；發熱惡寒者，聖愈湯；大凡發熱則真氣傷矣，不可用苦寒藥，恐復傷脾胃也。</p>
<p>一口　目斜，若手足牽搐，或眉棱癢動，屬肝經血虛風熱，用加味逍遙散、六味地黃丸，以肝血；若筋攣骨痛，或不能動履，用六味地黃丸、補中益氣湯，以滋化源；若因服燥藥而致者，用四物湯，加生甘草、金銀花，以解熱毒、益陰血。凡此俱屬肝經血燥所致，須用六味地黃丸、補中益氣湯為主；若因怒氣房勞而甚者，用六味地黃丸、十全大補湯為主；若因勞傷形體而甚者，用補中益氣湯、十全大補湯為主。</p>
<p>一夏秋濕熱行令，若飲食不甘，頭目眩暈，遍身酸軟，或兩腿麻木，口渴自汗，氣促身熱，氣高而喘，身熱脈大，元氣內傷也，用補中益氣湯；若嘔吐少食，肚腹痞悶，大便不實，脾胃受傷也，用六君子湯；若胸腹不利，飲食少思，吐痰不止，脾胃虛痞也，用四君子湯；若形氣倦怠，肢體麻木，飲食少思，熱傷元氣也，用人參益氣湯。</p>
<p>一熱渴便濁，若夜安晝熱者，熱在氣分也，用清心蓮子飲；晝安夜熱者，熱在血分也，用四物二連湯，俱佐以六味地黃丸；若寒熱往來者，肝經血虛也，用加味逍遙散、六味地黃丸。</p>
<p>一小便不利，若因服燥藥而致者，用四物湯，加炒黑黃柏、知母、生甘草，以滋陰血；若頻數而色黃者，用四物湯，加參朮、麥門、五味子，以生血氣；若短而色黃者，用補中益氣湯，加山藥、麥門、五味、以滋化源。經云：無陰則陽無以生，無陽則陰無以化。</p>
<p>一大便不通，若血虛內熱而澀滯者，用四物湯，加麥門、五味子，以生血潤燥；若因燥熱之藥而患者，用四物湯，加連翹、生甘草，以生血清熱；若服克伐之藥而致者，用四君子湯，加芎、歸以助氣生血；若作渴飲冷者，熱淫於內也，用竹葉石膏湯，以清胃火；若作渴飲湯者，以涼血潤燥；若腸胃滿燥，燥在直腸而不通者，用豬膽汁導之；腸胃氣虛，血涸而不通者，用十全大補湯；若肝膽邪盛，脾土受侮而不能輸化者，用小柴胡東加山梔、郁李仁、枳殼治之。</p>
<p>一怔忡無寐，或兼衄血便血，若內熱晡熱，作渴飲湯，肢體倦怠，此脾血虛而火動也，用四神、遠志；若因心血虛損，用柏子仁散。大抵此症皆心脾血少所致，但調補胃氣，則痰清而神自安，不必專於清熱治痰。</p>
<p>一發熱惡寒，若肢體倦怠，煩躁作渴，氣高而喘，頭痛自汗者，此內傷氣血也，用補中益氣益胃湯。煩躁作渴，體倦少食，或食而不化者，此脾氣虛熱也，用六君子湯。</p>
<p>一發熱在午前，脈數而有力者，氣分熱也，用清心蓮子飲。脈數而無力者，陽氣虛也，用補用四物東加參、朮。熱從兩脅起者，肝虛也，用四物東加參、朮、黃　。從臍下起者，腎虛也，用四物東加參、朮、黃柏、知母、五味、麥門、肉桂，或六味丸。其熱晝見夜伏，夜見晝止，或去來無定時，或起作無定處，或從腳起者，此無根虛火也，須用加減八味丸，及十全大補湯，加麥門、五味，更以附子末唾津調搽涌泉穴。若形體惡寒喜熱飲食者，陽氣虛寒也，急用八味丸。</p>
<p>一口乾，若惡冷凍飲料食者，胃氣虛而不能生津液也，用七味白朮散。若喜冷凍飲料食者，胃火盛而消因汗下之後而有前患，胃氣虛也，宜用八珍湯主之。</p>
<p>一作渴，若煩躁飲冷者，屬上焦實熱，用涼膈散。兼大便秘結者，屬上焦實熱，用清涼飲。若用克伐之藥而渴者，氣血虛也，急用八珍湯六味丸。</p>
<p>一耳聾耳鳴，若左寸關脈弦數者，心肝二經虛熱也，用四物東加山梔、柴胡生陰血。右寸關加山梔、芎、歸清肝涼血。若午前甚用小柴胡東加參、　、歸術補氣清肝。午後甚用四物湯加酒炒黑黃柏、知母、五味補陰降火。如兩足心熱屬腎虛，用六味丸以壯水之主。兩足冷屬陽虛，用八味丸以益火之源。</p>
<p>一項強口噤，腰背反張者，氣血虛而發痙也。仲景張先生云：足太陽病發汗太多則痙，風病澀血，故無汗而惡寒，曰剛痙。皆因內虛復汗亡津血，筋無所養而然，悉屬虛象，非風症也，當大補氣血為主。故產婦潰瘍，勞傷氣血，濕熱相火，誤服克伐之劑者多患之，其義可見。近以痙為　傳寫之誤也。</p>
<p>一婦女經閉，若因鬱火傷脾，以歸脾東加山梔、丹皮。氣血俱虛，以八珍東加山梔、丹皮。</p>
<p>先期而來者，血虛熱也，四物湯倍加參、朮、牡丹皮。將來而作痛者，氣虛血滯也，四物湯虛也，用八珍湯。其血崩之症，肝火不能藏血者，用加味逍遙散。脾虛不能統血者，用補中益氣湯。凡此皆六淫七情，虧損元氣所致，當審其因而調補胃氣為主。</p>
<h3>變症治法</h3>
<p>一身起疙瘩搔破，膿水淋漓，若寒熱往來者，肝經氣血虛而有火也，用八珍散加丹皮、柴胡全大補湯。若肌膚搔如帛隔者，血氣不能外榮也，用人參養榮湯。若面部搔之麻癢者，氣血黃丸。</p>
<p>一口舌生瘡，或咽喉作痛，若飲食喜冷，大便秘結者，實熱也，用四順清涼飲。肌熱惡熱，從下或從足起者，腎虛熱也，用加減八味丸。若飲食難化，四肢逆冷者，命門火衰也，用八味地黃丸。</p>
<p>一牙齒作痛，或牙齦潰爛，若喜寒惡熱，屬胃火，加味清胃散為主。惡寒喜熱，屬胃虛，補中益氣湯為主。</p>
<p>一自汗盜汗。蓋自汗屬氣虛，盜汗屬血虛，自汗用補中益氣湯，送六味地黃丸。盜汗用當歸棗仁。</p>
<p>一唾痰或作喘，若右寸脈浮緩者，肺氣虛也，用六君子東加桔梗。右寸脈洪滑者，肺經有熱洪滑遲緩者，脾熱傳肺也，用瀉白瀉黃二散。右尺脈微弱者，命門火衰而脾肺虛也，用人參理中丸，如不應，用八味地黃丸。右寸脈洪數者，心火克肺金也，用人參平肺散，如不應，用六味地黃丸。左寸關脈洪弦數者，心肝二經有熱也，用柴胡清肝散，如不應，佐以牛黃清心丸，清其風熱，仍用六味地黃丸，以鎮陽光。左尺脈數而無力者，腎虛而水泛上也，用六味地黃丸，加五味子以滋陰。如脈微細，或手足冷，或兼喘促，急用八味地黃丸以補陽。</p>
<p>一舌赤裂或生芒刺，兼作渴引飲，或小便頻數，不時發熱，或熱無定處，或足心熱起者，乃歿。</p>
<p>一口舌生瘡，作渴不止，不時發熱，或晝熱夜止，或夜熱晝靜，小便頻數，其熱或從足心，以十全大補湯。若誤用寒涼治火之劑，復傷脾胃，胸腹虛痞，飲食少思，或大便不實，小便不利，胸腹膨脹，肢體患腫，或手足俱冷者，此足三陰虧損之虛寒症也，急用加減金匱腎氣丸，亦有復生者。</p>
<p>一肚腹腫脹，若朝寬暮急，屬陰虛；暮寬朝急，屬陽虛。朝暮皆急，陰陽俱虛也。陽虛者，者，朝用八味地黃丸，夕用補中益氣湯。若肚腹痞滿，肢體腫脹，手足並冷，飲食難化，或大便泄瀉，口吸氣冷者，此真陽衰敗，脾肺腎虛寒不能司攝，而水泛行也，急用加減腎氣丸，否則不救也。</p>
<p>一發熱惡寒，若寸口脈微，名陽氣不足，陰氣上入陽中，則惡寒也，用補中益氣湯。尺部脈濕熱所乘，屬形氣虛而病氣實也，當專補陽氣，用補中益氣湯。若發熱大渴引飲，目赤面紅，此血虛發熱，屬形病俱虛也，當專補陰血，用當歸補血湯。</p>
<p>一發熱作渴，若右寸關脈浮大而無力者，脾肺之氣虛也，用補中益氣湯。數而有力者，脾肺數而無力者，命門火衰也，用八味地黃丸。左寸關脈數而有力者，心肝之氣熱也，用柴胡梔子散。數而無力者，心肝之氣虛也，用六味地黃丸。尺脈數而無力者，腎經虛火也，用加減八味丸。大凡瘡愈後口渴，或先渴而患瘡，或口舌生瘡，或咽喉腫痛，或唇裂舌黃，目赤痰涎上涌者，皆敗症也，非此丸不能救。</p>
<p>一眼目昏弱，或內障黑花，屬血虛神勞，用滋陰腎氣丸。若視物無力，或見非常之狀，屬陰倦，或肌膚麻木，屬脾肺氣虛，用神效黃　湯。若至夜目暗，燈下亦暗，屬陽虛下陷，用決明夜靈散。若眼暗體倦，內障耳鳴，屬脾胃氣虛，用益智聰明湯。蓋五臟六腑之精氣，皆稟受於脾土，上貫於目，脾為諸陰之首，目為血脈之宗，當補脾土為善。</p>
<p>一衄血吐血，若左寸關脈數而無力，血虛也，四物加參、朮，浮而無力氣虛也，補中益氣湯無力者，肺胃虛熱也，先用濟生犀角地黃湯，後用四物東加參、苓、白朮。尺脈數無力陰虛也，用六味地黃丸。若面黃目澀眵多手麻者，脾肺虛也，用黃　芍藥湯。</p>
<p>一飲食少思，若因胃氣虛而不能食，用四君子湯。若因脾氣虛而不能化，用六君子湯。</p>
<p>大便胃氣虛熱也，用五味異功散。喜冷凍飲料食，胃氣實熱也，用瀉黃散。</p>
<p>一帶下，因經行產後，外邪入胞，傳於五臟，而致之。其色青者屬於肝，用加味逍遙散加防散。色赤者屬於心，用小柴胡東加黃連、山梔、當歸。思慮過傷者，用妙香散、六味丸。色白者屬於肺，用六味丸、補中益氣東加山梔。色黃者屬於脾，用六味丸、六君子東加山梔、柴胡，不應，用歸脾湯。色黑者屬於腎，用六味丸。氣血俱虛，用八珍湯。陽氣下陷，用補中益氣湯。濕痰下注，前東加茯苓、半夏、蒼朮、黃柏，氣虛痰飲，四七湯送六味丸。若病久元氣下陷，或克伐所傷，但壯脾胃升陽氣為善。若拘於人之肥瘦，而用燥濕瀉火之藥，反傷脾胃，為害不淺。</p>
<p>一二便下血，若右關脈浮數，氣虛而熱也，用四君子加升麻、當歸。尺脈浮大或微弱，元氣浮大，氣虛也，用四君子東加升麻、炮薑。尺脈洪數或無力者，腎虛也，用六味地黃丸。若因房勞，傷損精氣，陰虛火動，而小便下血，諸血病者，不問脈症百端，但用前丸料煎服為善。</p>
<p>一泄瀉在五更或侵晨，乃脾腎虛，五更服四神丸，日間服白朮散，或不應，或愈而復作，急用八味丸，補命門火，以生脾土，其瀉自止。</p>
<p>一大便不通，屬脾肺虧損，大腸津液干涸，或血虛火鑠，不可計其日期，飲食數多，必待腹通而不止，或成中痞之症。若氣血虛者，用八珍東加麻子仁。腸胃虛者，用補中益氣東加麻子仁。腎液不能滋潤，用六味地黃丸加麻子仁。若濃味積壅，小便淋秘者，肝腎虛也，用六味地黃丸，以滋腎水；用補中益氣湯，以補脾胃。若發熱晡熱，用六君子湯、加味逍遙散，養陰血，清風熱。若兼筋骨痛，先用透經解攣湯、秦艽地黃湯，後用八珍散加牡丹皮、柴胡主之。若誤服風劑而傷陰血者，用易老祛風丸，若兩股或陰囊或兩足，必用四生散、地黃丸為善。若誤服草烏、川烏之類，或敷巴豆、砒石等味，肌肉腐潰，反成癘症，治者審之。</p>
<p>一面赤搔癢，或眉毛脫落，屬肺經風熱，用人參消風散、樺皮散；氣虛用補中益氣湯，加天用小柴胡東加山梔、丹皮、鉤藤鉤，後用加味逍遙散。凡症屬肝經，血燥生風，但宜滋腎水生肝血，則火自息風自定癢自止矣。</p>
<p>一遍身疙瘩，或癮疹搔癢，此風熱傷血，用羌活當歸散，氣虛者佐以補中益氣東加山梔、鉤，此風熱而秘澀，用清胃散加芍藥。蓋腎開竅於二陰，精血不足，則大便秘塞而不通矣，須用六味地黃丸、補中益氣湯，以滋化源。</p>
<p>一小便不利，若不渴而不利者，熱在下焦血分也，用滋腎丸。渴而不利者，熱在上焦氣分也，用清肺散。腎經陰虛而不利者，用六味地黃丸。熱結膀胱而不利者，用五淋散。</p>
<p>元氣虛而不能輸化者，用補中益氣湯。脾肺之氣燥而不能化生者，用黃芩清肺飲。若轉筋便閉氣喘，不問男女孕婦，急用八味丸，緩則不救。</p>
<p>一白濁，足三陰經主之，屬濃味濕熱所致者，用加味清胃散。肝腎虛熱者，用六味地黃丸為脾氣虛者，六味丸佐以補中益氣湯。濕痰下注者，益氣湯佐以六味丸。</p>
<h3>癘瘍類症</h3>
<p>（類症者與癘形狀相似而所因不同也）</p>
<p>一兩　如癬，搔癢久則膿水淋漓，或搔起白皮者，名腎臟風也，用四生散以祛風邪，用六味用羌活白芷散、加味逍遙散。氣虛者，佐以補中益氣東加皂角刺、鉤藤鉤。血虛者，佐以八物東加柴胡、牡丹皮或加味逍遙散兼服。</p>
<p>一肢體或腿臂腕間患　，而游走不定者，赤曰赤游風。白曰白游風，為血虛陰火內動，外逍遙散、六味地黃丸。</p>
<p>一遍身或頭面起疙瘩，或如霞片，或破而膿水淋漓，或癢痛寒熱，乃肝火血虛也，用加味逍室也，用小柴胡東加山梔、生地黃。血虛者，四物合小柴胡湯，病退，卻用逍遙散，以健脾胃生陰血。此症多有因怒氣而發者，治當審之。</p>
<p>一婦人肢體癮疹疙瘩，搔破成瘡，膿水淋漓，熱渴眩暈，日晡益甚者，用四物東加柴胡、山。若自汗盜汗，月水不調，肚腹作痛，用八珍湯、六味丸。若食少體倦，心忪盜汗，經閉寒熱，用八珍湯，佐以加味逍遙散。若病久元氣怯弱，用十全大補湯，佐以歸脾湯。</p>
<p>一女子十三四或十六七，而天癸未至，或婦人月經不調，發赤　癢痛，此屬肝火血熱，用小柴胡東加山梔、生地黃、牡丹皮、防風。</p>
<p>一生蟲者，乃相火制金不能平木而化耳，非風邪所生也。但滋腎水生肝血，或佐以灸承漿之類，說見本症。</p>
<p>一敷砒霜，患處作痛，或腐潰，用濕泥頻塗換之。若毒入腹，胸膈苦楚，或作吐瀉，飲冷米醋一二杯即止，多亦無妨，生綠豆末、芝麻油俱可。</p>
<p>一敷貼雄黃藥，悶亂或吐瀉，用防己煎湯解之。</p>
<p>一服辛熱藥，而眉發脫落者，乃肝經血傷而火動，非風也，用四物湯、六味丸，以滋肝血、生腎水。</p>
<p>一服川烏、草烏等藥，悶亂流涎，或昏憒嘔吐，或出血吐血，用大豆、遠志、防風、甘草，任用一味，煎湯解之。大凡服風藥過多，皆宜用之，未應，急用甘草、生薑汁解。</p>
<p>一敷貼巴豆之藥，患處作痛，肌肉潰爛，以生黃連為末，水調敷之。若毒入肉，吐瀉等症，更以水調服一二錢，大小豆、菖蒲汁俱可。</p>
<p>一敷貼藜蘆，毒入內，煎蔥湯解之。</p>
<p>一服祛風克伐之藥，嘔吐少食，胸膈不利，或形氣倦怠等症，用六君子湯以補陽氣。若煩躁作渴，飲食不思，或晡熱內熱，面赤發熱，用四物東加參、朮，以生陰血，余從各門治之。</p>
<h3>本症治驗</h3>
<p>一男子冬間口苦耳鳴，陰囊濕癢，來春面發紫塊，微腫麻木，至冬遍身色紫，不知痛癢，至先與再造散二服下毒穢，更以小柴胡合四物東加白芷、防風、天麻、皂角刺，漸愈。又與換肌散，但遍體微赤，此血虛有火，因家貧未得調理，秋間發熱，至春面仍發塊，用前散並養血藥，喜年少謹疾得愈。</p>
<p>一膏粱之人，鼻壞眉落，指脫體潰，熱渴晡甚，用四物東加酒炒黑黃柏、知母、五味、麥門便稀溏，此元氣虛而時熱勝也，用補中益氣湯頓安。乃與換肌散及益氣湯，兼服兩月，更以生脈散代茶飲，瘡少退。時至仲秋，眩暈少食，自汗體重，大便溏數，此亦時濕之症，用清燥湯調理而愈。又用補中益氣湯少加酒炒黑黃柏、知母、皂角刺、天麻，兩月余而瘥。又因勞倦耳聵熱渴，誤服祛風藥，病氣益劇，身發赤疹，與益氣聰明湯，月許而愈。</p>
<p>一男子赤痛熱渴，膿水淋漓，心煩掌熱，目昧語澀，怔忡不寧，此心經受症也，用安神丸兼胡飲並八珍湯而愈，再用換肌散而瘥。</p>
<p>一男子肚見青筋，面起紫泡，發熱作渴，寅卯時甚，脈弦數，腿轉筋，小便澀，此肝經火症柴胡、山梔，養其氣血，乃用換肌散，去其內毒而安。年余因勞役飲食失宜，寒熱頭痛，遍身赤疹，自用醉仙散而歿。</p>
<p>一男子面發紫疙瘩，膿水淋漓，睡中搐搦，遍身麻木，漸發赤塊，勞怒則癢，肝脈洪大，砭下前丸，諸症少愈；卻用寶鑒換肌散斤許，又用小柴胡合四物東加參朮、天麻、角刺百余劑，及六味地黃丸，半載而愈。後因勞遍身麻癢，脈微而遲，此氣血俱虛，不能榮於腠理，用十全大補湯，加五味、麥門，調理年余而安。</p>
<p>一男子面赤發紫泡，下體癢痛，午後發熱，大便燥黑，此火盛而血虛也，用再造散及四物湯黃；仍以四物去膽草、防己，少用獨活，加玄參、萆　，五十余劑而瘡退；卻用補中益氣湯加天麻、麥門，而氣血漸充；時仲秋霪雨，遍身酸痛，用清燥湯而安；隨用換肌散、胡麻散、八珍湯，兼服而愈。</p>
<p>一上舍面發腫，肌如癬，後變疙瘩，色紫，搔之出水，此脾肺之症也。先用清胃湯，以清胃腕手足指縫並患處，以去毒血，疏通隧道；乃與八珍東加白芷、皂角刺、五加皮、全蠍及二聖散，兼服月余，以養陰血治瘡毒；又與補氣瀉榮湯，少愈；再與換肌散而全愈。後因勞倦遂發赤暈，日晡尤甚，以四物東加丹皮、柴胡、山梔，並用補中益氣湯，年余雖勞而不發。</p>
<p>一男子遍身如癬，搔癢成瘡，色紫麻木，掐之則痛，小便數而少，此脾胃受症，邪多在表，虛也，以大劑參、　、芎、歸、蒺藜、桔梗數劑，元氣頓復。卻用八珍東加黃　、白芷、蒺藜、天麻、軟柴胡及二聖散治之，其瘡漸愈。後用換肌散八珍湯等藥，調理半載而痊。後仍發，誤用克伐攻毒，患兩感傷寒而死。</p>
<p>一男子遍身疙瘩，搔則癢，掐則痛，便閉作渴，此邪在內也。治以再造散二服，微下三次，用二聖散，其瘡頓愈，更用大補年余而康。後患痰涎壅盛，舌強語澀，用二陳、蒼朮、黃柏、知母、澤瀉四劑而愈，再用補中益氣湯調理而安。</p>
<p>一男子素清苦，眉盡落，病在肝膽二經也。乃刺臂腿腕及患處，出黑血，空心服八珍湯，加一儒者腳心或癢痛，或麻癢，或腫脹，二年後身體作癢，漸變疙瘩，發熱耳鳴，日晡益甚，以補腎，又用換肌散、祛風丸以治瘡，各斤許，瘡漸愈，得滋補守禁而痊。</p>
<p>一上舍遍身患之，形體俱虛，余謂須用調補，元氣完復，方治其瘡。不信，恪服蛇酒以攻內，此因毒藥脾傷而然也，反服祛毒之劑，吐瀉不止而歿。</p>
<p>一男子用藥湯熏洗，汗出不止，喘嗽不食，腹鳴足冷，肢體抽搐。余謂此因熱傷元氣，腠理不密，汗出亡陽耳，是日果卒。</p>
<h3>類症治驗</h3>
<p>欽天薛天契年逾六旬，兩　膿水淋漓，發熱吐痰，數年不愈，屬腎臟風症，用四生散而瘥。</p>
<p>味丸，諸症悉愈。三年後小便淋瀝，莖道澀痛，此陰已痿，思色而精內敗也，用前丸及補中益氣東加麥門、五味而愈。</p>
<p>翟鴻臚兩　生瘡，漸至遍身，各大寸許，腫而色黯，時出血水，吐痰咽乾，盜汗心煩，溺赤，三月元氣頓復。</p>
<p>松江掌教翟立之素善飲，遍身疙瘩，搔起白屑，上體為甚，面目　腫，成瘡結痂，承漿潰膿、連翹、山梔、柴胡、芩、連一劑，諸症悉退，四劑全退。兩睛各顯青白翳一片，亦屬肝火，再劑翳去，乃用六味丸而愈。</p>
<p>一儒者身發疙瘩，時起赤暈，憎寒發熱，服癘風之藥，眉落筋攣，後疙瘩漸潰，日晡熱甚，柏、知母，肝脈漸和，晡熱漸退。又用八珍湯，加山梔，寒熱頓去。再與加味逍遙散，加參、朮、鉤藤鉤、木賊，服兩月瘡悉愈而眉漸生。後因怒復作，用小柴胡東加芎、歸、鉤藤鉤、木賊而愈。後勞役發熱，誤用寒劑，不時身癢，日晡亦暈，早與補中益氣東加五味、麥門、山藥，午後與加減八味丸尋愈。後食炙爆等物，痰盛作渴，仍發疙瘩，小便白濁，右關脈滑大有力，用補中益氣湯，加山梔，諸症悉退。</p>
<p>一男子愈後，肌膚作癢，口乾飲湯，此中氣虛不能化生津液，榮養肌膚，午前服七味白朮散門全愈。</p>
<p>一男子愈後，因勞惡寒，頭痛體倦，余謂惡寒乃胃氣虛，不能護衛肌表，頭痛乃清氣虛，不劑而瘥。</p>
<p>一男子愈後，每早吐痰碗許，形體倦怠，此中虛氣而不能克化飲食，以參、　、白朮、陳皮若脾氣健旺，營運不息，痰自無矣。</p>
<p>一男子愈後，惡寒頭暈，食少體倦，屬中氣虛弱，用補中益氣東加蔓荊子，並十全大補東加五味子，血氣充而愈。</p>
<p>一男子面起赤暈，時或發腫，擘手亦然，搔起白屑，服癘風藥，內熱體倦，脈大而虛，此因元氣虛而陰血復傷。用六味地黃丸、補中益氣湯而尋愈。</p>
<p>一男子兩目俱赤，遍身癢痛，搔起白皮，此肝肺陰虛。誤服祛風燥劑，鼻赤面紫，身發疙瘩物東加參、　、柴胡、山梔，並換肌散，各百余服，喜其年少謹疾，痊愈。</p>
<p>一男子愈後，寒熱往來，體瘦倦怠，飲食不甘，此因元氣虛而變症也。午前用補中益氣東加麥門、五味，午後用四物東加麥門，五味而愈。</p>
<p>一男子遍身搔癢，後成瘡出水，洒淅惡寒，皮膚皺起，眉毛漸落，大便秘結，小便赤少，此屬肺火為患。用補氣瀉榮湯四劑，諸症漸退。但倦怠惡寒，小便清少，此邪氣去而真氣虛也。用補中益氣湯兼換肌散，半載乃元氣復而諸症退。時仲秋忽大便不實，小便頻數，體倦食少，洒淅體重，此濕邪乘虛而作，用東垣益胃湯二劑頓安。仍用前藥調理，三月余全愈。</p>
<p>一儒者遍身作癢，搔破膿水淋漓，眉毛脫落，如癘風症，久服祛風等藥，致元氣虧損，余用一儒者懷抱久郁，先四肢如癘，恪祛風消毒，氣血愈虛，延及遍身，寒熱作渴，肢體倦怠，脈洪大而虛，謂余何也？余曰：始因脾郁血虛，陰火妄動，後因藥傷脾胃，元氣下陷。遂用補中益氣湯，培補脾胃，升舉元氣；用歸脾湯解散鬱火，生發脾血；更以六味丸益腎肝精血，引虛火歸源，不兩月諸病悉愈。</p>
<p>一男子遍身生瘡，膿水淋漓，晡熱口乾，兩足發熱，形體消瘦，雜服風瘡藥，六年未愈。尺脈洪數而無力，此腎經瘡也，如小兒腎疳之症，用加減八味丸，不半載而痊。</p>
<p>一男子遍身生瘡，似疥非疥，膿水淋漓，兩腿為甚，作癢煩熱，肢體倦怠，年余不愈。</p>
<p>余以為腎經虛火，用加減八味丸而瘥。</p>
<p>一男子秋間發疙瘩，兩月余漸高有赤暈，月余出黑血，此風熱血虛所致。先用九味羌活湯，中益氣湯、加減八味丸頓愈。</p>
<p>一男子兩掌每至秋皮濃皺裂起白屑，內熱體倦，此肝脾血燥，故秋金用事之時而作，用加味臂腿腕皮濃色白，搔之則木，久服前藥方愈。</p>
<p>一男子因大怒發熱，眉發頓落，蓋發屬腎而眉屬肝，此肝腎素虛為怒，陰火愈盛，銷鑠精血而然也。用六味丸料加柴胡、山梔、黃柏，數劑漸生，又二十余劑而完。</p>
<p>一男子遍身搔癢，服祛風辛燥之劑，眉發脫落，余謂前藥復傷肝腎，精血虛而火內熾所致一男子染時瘡，服換肌散之類，眉毛頓脫，遍身作癢，或時赤暈，乃燥藥損其陰血，陽氣偏歸、黃　治之，瘡症既愈，眉毫亦生。</p>
<p>一男子素不慎房勞，其發忽落，或發熱惡寒，或吐痰頭暈，或口乾作渴，或小便如淋，兩足枸杞子治之，諸症退而發漸生。</p>
<p>一男子素膏粱醇酒，患腎臟風，延及遍身，服癘藥益甚，又用捻藥於被中熏之，嘔吐腹脹，遍身浮腫潰爛，膿水淋漓，如無皮而死。</p>
<p>一男子足三陰虛患血風瘡症，誤服祛風散毒之劑，外敷斑蝥、巴豆等類，肌肉潰爛，嘔吐腹膨，或泄瀉足冷，或煩熱作渴，此藥復傷脾胃虛敗也。辭不治，不越月而歿。</p>
<p>一婦人膿水淋漓，發熱作渴，體倦惡寒，經水不調，久而不愈，此肝脾虧損而虛熱也。</p>
<p>先用補中益氣東加川芎、炒山梔，元氣漸復，更以逍遙散而瘡漸愈。</p>
<p>一婦人性急善怒，月經不調，內熱口苦，患時瘡，服敗毒之藥，膿水淋漓，熱渴頭眩，日晡連、芩數劑而愈。年余手足臂腕起白點漸大，搔起白屑，內熱盜汗，月經兩月余一至，每怒或惡寒頭痛，或不食作嘔，或胸乳作脹，或腹內作痛，或小便見血，或小水不利，或白帶下注，此皆肝木制伏脾土，元氣虛而變症也。用補中益氣東加炒黑山梔及加味歸脾湯，間服半年而愈。</p>
<p>一婦人久郁，患在四肢，腿腕尤甚，誤用敗毒寒涼之劑，晡熱內熱，自汗盜汗，月經不行，口乾咽燥，此鬱火傷脾也。用歸脾湯數劑，後兼服逍遙散五十余劑而愈。</p>
<p>一婦人身如丹毒，搔破如癘，熱渴頭暈，日晡益甚，此屬肝經風熱血燥，用加味逍遙散而愈。</p>
<p>一婦人素晡熱，月經不調，先手心赤癢，至秋兩掌皮濃皺裂，時起白皮，此皆肝脾血燥，用不再發。</p>
<p>一婦人兩腿腕紫黯寸許，搔破出水，或用祛風砭血，年余漸胤如掌許，乃服草烏等藥，遍年脾血也。先以補中益氣東加芍藥、川芎、五味十余劑；乃與加味逍遙散加熟地、鉤藤鉤二十余劑；再用歸脾東加川芎、熟地黃，治之而不發。</p>
<p>一婦人日晡身癢，內外用追毒祛風之劑，膿水淋漓，午前畏寒，午後發熱，殊類癘風，用補中益氣東加山梔、鉤藤鉤，又以加味逍遙散加川芎而愈。</p>
<p>一婦人手心色赤搔癢，發熱頭暈，作渴晡甚。服祛風清熱之藥，膚見赤痕，月經過期，用加用四物東加參、朮、茯苓、山梔，赤暈亦消。</p>
<p>一婦人素清苦，四肢似癬疥，作癢出水，怒起赤暈，服祛風敗毒等劑，赤暈成瘡，膿水淋漓，晡熱內熱，自汗盜汗，月經不行，口乾咽燥，此郁傷脾血也。用歸脾湯、逍遙散，兩月而痊。</p>
<p>一婦人遍身疙瘩搔癢，敷追毒之藥，成瘡出水，寒熱脅痛，小便不利，月經不調。服祛風之加味逍遙散二十余劑，諸症漸愈；乃用六味丸調理而瘥。此等症候，服風藥而死者多矣。</p>
<p>一婦人愈後唇腫皺裂，食少肌瘦，晡熱益甚，月水過期，半年漸閉，時發渴躁，專於通經降丹皮、柴胡、山梔，外症漸愈；又用八珍東加丹皮、柴胡五十余劑，月水調而諸症痊。</p>
<p>一小兒面部浮腫，遍身如癬，半年後變疙瘩，色紫作癢，敷巴豆等藥，皮破出水，痛癢寒熱防、黃芩、柴胡、皂角刺、甘草節，以涼血祛毒，諸症漸退；更以八珍東加白朮、荊、防、角刺、五加皮而愈。後但勞則上體發赤暈，日晡益甚，此屬氣血虛而有火。用四物東加丹皮、參、朮、柴胡，治之稍退；又用補中益氣東加酒炒黑黃柏、知母，月余痊愈。</p>
<p>一小兒遍身患疥如癘，或癢或痛，肢體消瘦，日夜發熱，口乾作渴，大便不實年余矣，此肝脾食積鬱火。用蘆薈丸，不月而愈。</p>
<p>一女子十三歲，善怒，遍身作癢出水，用柴胡、川芎、山梔、芍藥以清肝火，用生地、當歸余曰：此亦肝火熾甚，血得熱而妄行。其夜果經至。</p>
<p>一女子赤暈如霞，作癢發熱，用小柴胡東加生地、連翹、丹皮而愈。大凡女子天癸未至，婦人月經不調，被驚著惱，多有此症。</p>
<p>一小兒十五歲，遍身似疥非疥，膿水淋漓，晡熱口乾，形體骨立四年矣，此腎疳之症，用加減八味丸而痊。</p>
<p>韓氏子年十四早喪天真，面紅腫如風狀，不時舉作，或誤用癘風藥，內虛發熱，口燥煩渴，自降，補其本則標自退。大經領教，用四君加參、　四十劑；又用此作丸服斤許，不兩月而平復。若從有餘治之，則誤謬多矣。謹錄呈上，乞附藥案以惠後之患者，嘉靖丁未仲春門人朱大經頓首拜書。</p>
<h2>中卷</h2>
<h3>續治諸症</h3>
<p>一男子遍身患小瘡，或時作癢，口乾作渴。服消風散，起赤癢益甚；服遇風丹，膿水淋漓，丸，其渴漸止；用補中益氣東加五味子，肌肉漸生；佐以八珍東加牡丹皮、麥門冬，百余劑而痊。二年後不節房勞，其瘡復作，惑於人言，又服消風散之類，其瘡復患。余仍用前藥，調治而痊。</p>
<p>一男子善怒面青，腿內　患癬類，色赤作癢，或為砭刺出血，發熱　腫作痛，服消風散而益火內動復傷其血而瘡甚耳。先用柴胡清肝散數劑，又用四物、山梔治之，諸症漸愈；用八珍湯地黃丸，兩月余而痊。</p>
<p>一男子面赤作渴，而常患小瘡作癢，服祛風藥，遍身發赤　；服花蛇酒，更發赤暈，遍行砭煎服，熱渴漸止，瘡漸結靨；又用八珍湯、地黃丸，瘡靨漸脫；又服月余，瘡漸愈。</p>
<p>一男面生粉刺，或生小　，服消風散瘡益甚；服遇仙丹，加遍身赤癢；仍服前藥，發熱腫劑而痊。</p>
<p>一男子患腎臟風，飲燒酒，發赤暈，砭出血，敷追毒之藥，成瘡出水，日晡益甚，類大麻風湯，其血漸止；又用五味異功散加當歸、升麻，飲食漸進；用四物、參朮、牡丹，內熱漸減；用易老祛風丸，膿水漸少；又八珍、牡丹皮之類，月余瘡漸結靨。因思慮發熱盜汗，瘡復作癢，兼起赤暈，用加味歸脾湯數劑，汗熱漸止，用加味逍遙散、六味地黃丸而痊。</p>
<p>一男子嗜膏粱炙爆醇酒辛辣之物，遍身生　，甚為作癢，服消風散之類，更起赤暈，又砭血所致。余先用犀角地黃湯，諸症稍退；乃用濟生犀角地黃東加黃連治之，膿水漸止；乃以八珍東加山梔、牡丹皮，眉毛漸生；因飲食失宜，胸腹作脹，飲食少思，或大便下血，用五味異功散加升麻，飲食漸進；又用補中益氣湯而血止，仍用異功散加當歸、牡丹皮而痊。</p>
<p>一男子內　作癢色黯，搔起白皮，各砭刺出血，其癢益甚，更起赤暈，延及外　，津淫不已火益甚而患耳。先以八珍東加五味子、牡丹皮三十余劑，諸症漸愈，乃佐以加減八味丸百余劑而痊。</p>
<p>一男子常咳嗽，腿患白癜風，皮膚搔起白屑。服消風散之類，癢益甚起赤暈，各砭出血，赤，此脾肺二經虛熱之症。先用五味異功散治之，虛熱稍退；又用地黃清肺飲，肺氣漸清；又用八珍湯、六味丸而尋愈。後又咳嗽痰喘，患處作癢，用參蘇飲二劑，散其風邪；又用五味異功散加桔梗，補其肺氣而痊。二年後咳嗽作渴飲水，脈洪大左尺為甚，用加減八味丸，補腎水而痊。</p>
<p>一男子素不慎房勞，其發漸落，或發熱惡寒，或吐痰頭暈，或口乾作渴，或小便如淋，兩足發漸生。後兩腿腕患紫癜風，延於兩股作癢，各砭出血，癢處日甚，服消風等藥，患處微腫，延及上體，兩眼昏澀，余謂腎臟風。先用四生散四服，後用易老祛風丸月余，用地黃丸兩月余而痊。後飲食起居失宜，肢體色赤，服二丸隨愈。</p>
<p>一男子患白癜風，過飲或勞役，患處色赤作癢。服消風散之類，頓起赤暈，遍身皆癢；砭出活湯，諸症頓愈，用加味逍遙散、加味四物湯乃瘥。</p>
<p>一男子不時患疙瘩，搔癢成瘡，膿水淋漓，惡寒發熱。先用羌活當歸散而癢止，又用易老祛，但口乾體倦，飲食不入，用七味白朮散去木香，四劑而安。</p>
<p>一男子患瘡疥搔破出膿水，面赤作渴，大便堅實，脈洪數左關寸為甚，此木火相搏也。</p>
<p>先用瀉青丸料煎服，熱勢頓減，又用梔子柴胡散、加味逍遙散而瘡愈。</p>
<p>一男子患搔癢破而成瘡，如大麻風。服遇仙丹，發熱作渴，大便秘結，脈沉實，右關為甚，而瘡愈。</p>
<p>一儒者素食膏粱，發熱作渴飲冷，患瘡，如大麻風，大便出黑血，服清熱祛風等寒藥益甚。</p>
<p>退；又用柴胡梔子散調理而痊。</p>
<p>一男子遍身患疙瘩作癢，勞而益甚，用參、　、歸、朮為君，佐以柴胡、炒芩、桔梗、川芎、炙草而瘥，更用補氣血之藥，後不再發。</p>
<p>一男子患疙瘩，搔癢發熱，形氣虛弱，口鼻氣熱，且喜飲冷，屬外邪也。以消風散二劑，外去柴胡、升麻，加茯苓、芍藥乃痊。</p>
<p>一男子患前症，多在臀腳，勞役則癢益甚，小便色黃，服敗毒散、芩、連之劑，患處癢痛，間如故，日晡倦怠，或勞愈加晨起如故，皆元氣虛也，宜用前藥補而治之。</p>
<p>一儒者遍身生瘡搔癢，膿水淋漓，自知醫，服八珍、荊、防之類益甚，脈洪大按之無力，余謂此氣血虛熱也。用八珍東加牡丹皮治之而愈。繼娶後兩足生瘡，久不愈，尺脈數而無力，余用地黃丸、八珍湯而痊。</p>
<p>余甥凌云漢年十六，庚子夏作渴發熱，吐痰唇燥，遍身如疥，兩腿尤多，色黯作癢，日晡愈氣氤氳，余謂火旺之際，必變瘵症。用六味地黃丸、十全大補，二旬諸症愈而瘵症具，仍用前藥而愈。抵冬畢姻，至春其症復作，仍服地黃丸數斤，煎藥三百余劑而愈。</p>
<p>稽勛季龍岡遍身患此，腿足為甚，日晡益　，口乾作渴，小便頻數。此腎經虛熱，用補中益氣湯、六味地黃丸而愈。</p>
<p>一儒者善嚏患疥，余以謂腠理不密，外邪所搏，用補中益氣東加白芷、川芎治之，不從。自服荊防敗毒散，盜汗發熱，作渴　痛，膿水淋漓，仍用前湯倍加參、　、五味而痊。</p>
<p>一儒者患在臂腳，日晡或癢或脹，形體倦怠，自服敗毒散，痛處發腫，小便赤澀。此肺腎陰虛，余用補中益氣東加五味子、麥門冬而愈。</p>
<p>一儒者遍身發　，誤服攻毒之劑，元氣虛而不能愈。余用補中益氣東加茯苓治之，其瘡頓愈。又因調理失宜，日晡益甚，用八珍東加五味子、麥門冬，五十余劑而愈。</p>
<p>一男子患疙瘩，色黯作癢出黑血，日晡至夜益甚，其腿日腫夜消，余以為氣血虛而有熱。朝用補中益氣湯，夕用加味逍遙散而愈。</p>
<p>一男子時疫愈後，遍身發　作癢，服補中益氣湯而愈。有同患者不信余言，乃用砭法出血而死，此因陰虛血熱，色黑作癢也，何乃反傷陰血哉。</p>
<p>一男子患　，干癢作痛，以芩、連、荊、防、山梔、薄荷、芍藥、歸稍治之而愈。</p>
<p>一儒者應試後，遍身瘙癢，後成疙瘩，此勞傷元氣，陰火內熾，秋寒收斂，腠理鬱熱內作。</p>
<p>狀，又發熱作渴，倦怠懶食，余用補中益氣湯，倍加參、　、歸、朮、半夏、茯苓、五味子、麥門冬而愈。</p>
<p>舉人陸世明會試途中勞役，胸患斑，　赤作痛，頭痛發熱，形倦少食，大便或溏或結，小便一男子脾腎氣血虛熱，恪服四物、黃柏、知母之類，元氣愈虛，倦熱益甚。余朝用補中益氣，破而出水，用風藥益甚，或赤或白，眼作花癢。先用胡麻散、六味丸，癢漸愈；用六味丸、消風散，瘡漸愈，用八珍湯、六味丸而痊。次年兩股小腹頸項復作癢，用四生散、六味丸而愈。</p>
<p>一婦人經水先期，勞役或氣惱則寒熱搔癢。服祛風降火等藥，不勞怒而自癢發熱，更加痰喘風藥，口乾作渴，欲水而不敢飲，經水又過期，眉間若動；又服月余，眉毛脫落，經水淋漓。余謂心肝二經，風熱相搏，制金不能平木，木克脾土而不能統血，肝火旺而不能藏血也。</p>
<p>眉間屬甲木而主風，風動血燥而眉毛脫落又若動也。經云：水生木。遂朝用地黃丸以滋腎水生肝血，夕用加味逍遙散以清肝火生肝血，月余諸症漸愈。又佐以四君、芎、歸、牡丹皮，月余，經水旬日而止。又兩月余，經水五十余日而至，乃夕用五味異功散加當歸服兩月，經水四十余日而至。因怒惱寒熱，經水如崩，眉棱覺動，脈洪數弦，肝脾二經為甚，用柴胡梔子散二劑以平肝火，用五味異功散二劑以補脾氣，發熱頓退，經水頓止。更以八珍湯倍加參、朮及地黃丸，兩月余經水如期，眉毛漸生。因飲食停滯，腹脹作痛，另服祛逐之劑，泄瀉不止，小腹重墜，飲食甚少。余先用六君子湯送四神丸，數劑瀉漸止，飲食稍進，又用補中益氣湯倍用升麻數劑，重墜漸愈。後因勞心發熱，飲食難化，嘔吐涎水，其熱自臍上起，覺飢熱頻作，乃用六君子東加炮薑治之，熱時飲稠米湯稍安，兩月余又常服加味歸脾、補中益氣二湯而痊。</p>
<p>一婦人秋間肢體作癢，時發寒熱，日晡熱甚，口苦喜酸，月水先期，面色常青，熱甚則赤，信氣稍復，乃以八珍湯，倍用參、朮，少用川芎、芍藥炒黑，間佐以補中益氣湯，諸症漸愈。</p>
<p>又以四君子湯為主，佐以加味逍遙散，兩月余膿水漸少。又服月余，瘡漸結靨，因怒惱，寒熱腹脹，飲食少思，患處復甚，用六君子東加山梔、柴胡，乃用四君子湯為主，而瘡漸愈。</p>
<p>又因怒，月經甚多，發熱作渴，瘡痛出血，用柴胡清肝散，熱退痛止。仍用四君子湯而結靨，又用八珍、山梔、牡丹皮而瘡愈。</p>
<p>一婦人遍身搔癢，膿水淋漓，發熱，身如蟲行，月經不調。先用升麻湯送瀉青丸，熱癢頓退湯、易老祛風丸而痊。</p>
<p>一婦人遍身患疙瘩，發熱作癢，內服敗毒祛風，外搽攻毒追蝕，各潰成瘡，膿水津淫，形氣數劑，其渴漸止，飲食稍加；乃用八珍東加柴胡牡丹皮，膿水漸干；又用六君、芎、歸、丹皮、山梔，瘡漸收斂；仍用八珍、山梔、牡丹皮而瘡愈。</p>
<p>一婦人每秋間兩手心作癢，搔起白皮，因勞役怒惱則發寒熱，遍身作癢起疙瘩，或以為風症二經，血燥生風。先用加味逍遙散，熱渴漸減；又用八珍、柴胡、山梔，患處少可；後因怒氣發熱脅痛，患處　痛，用加味逍遙散四劑而安；又用四君、芎、歸、山梔、牡丹皮，半載而痊。</p>
<p>一婦人因怒，寒熱發赤暈，服祛風之藥發疙瘩，或砭出血，患處　腫，發熱頭痛，內服外敷余謂血脫煩躁，先用補血當歸湯稍緩，用四君、當歸數劑得睡；但倦怠頭暈少食，用補中益氣東加蔓荊子稍可；又用八珍湯，少用芎、芍，倍用參、朮，三十余劑而能步履；又服月余而痊。</p>
<p>一婦人患白癜風，誤以為大麻風，服蛇酒等藥，患處　腫，經水兩三月一行。余曰：此肝血。先用八珍湯四劑，又用四君子湯二劑，月余乃以四君子湯，又用八珍湯二劑，又月余諸症漸退，元氣漸復，又以四君子湯為主，以逍遙散為佐，將兩月瘡靨脫，又月余而愈。</p>
<p>一婦人性急善怒，月經不調，內熱口苦，患疙瘩作癢，服敗毒之藥，膿水淋漓，熱渴頭暈，連、芩數劑而愈。年余左足臂腕起白點漸大，搔起白屑，內熱盜汗，月經兩月余一至，每怒或惡寒頭痛，或不食作嘔，或胸乳作脹，或腹內作痛，或小便見血，或小水不利，或白帶下注。此皆肝木制伏脾土，元氣虛而變症也。用補中益氣東加炒黑山梔及加味歸脾湯，間服半年而愈。後每怒惱患赤暈，或以風疾治之，發疙瘩；又服遇仙丹，赤腫作癢出膿水；外敷追蝕之藥，寒熱作渴；又服胡麻、草烏之藥，遍身搔癢，眉毛脫落，膿水淋漓，咳嗽發熱，月經兩月一行。余用四君、當歸、牡丹皮，月余熱渴稍止，飲食稍進。又服月余，咳嗽稍可，卻用八珍東加牡丹皮二十余劑，患處漸干，經水如期。後因傷食，作瀉不食，用六君子湯，飲食漸進。又因怒發熱作渴，患處作痛，經行不止，用加味逍遙散漸可，仍用四君子湯而痊愈。</p>
<p>一婦人性沉靜，懷抱不樂，月經過期，遍身作癢。服祛風清火之劑，搔破成瘡，出水不止，食日少，月經先期。余作肝脾鬱怒而血燥，前藥復傷而益甚。先用四君、芎、歸、山梔、牡丹皮，飲食漸進，服月余而嗽止。又以加味逍遙散加鉤藤鉤，二十余劑而眉不動，乃去鉤藤倍加參、朮、當歸，月余瘡漸結靨。又以八珍東加山梔、牡丹皮而痊。</p>
<p>一婦人患前症，膿水淋漓，發熱作渴，體倦惡寒，經水不調，久而不愈，此肝脾虧損而虛熱癢，搔起疙瘩，破而出膿，或出血水，誤服醉仙散，殊類風症。余用八珍湯數劑而安，又用十全大補湯，患處漸干。因惱怒停食，腹脹少食，發熱作渴，患處復潰，用六君子東加炒黑山梔，數劑飲食漸進，又用八珍湯之類而痊。</p>
<p>一婦人日晡身癢，月余口乾，又月余成瘡，服祛風治瘡之劑，膿水淋漓，午前畏寒，午後發散兼八珍散而痊。</p>
<p>一婦人素清苦，因鬱怒患前症，遍身患疙瘩，晡熱內熱，自汗盜汗，月經不行，口乾咽燥。余用歸脾湯數劑，諸症稍退，後兼加味逍遙散，五十余劑而愈。</p>
<p>一婦人性躁患　作癢，膿水津淫，寒熱口苦，脅痛耳鳴，腹脹溺澀，乃肝脾血虛火症。用一婦人患　症作癢，脈浮數，以人參敗毒散，二劑少愈更以消風散四劑而安，又用柴胡清肝散而愈。</p>
<p>一婦人患　症痛癢，大便秘脈沉實，以四物東加芩、連、大黃、槐花治之而便利，用四物二連湯而瘡愈。</p>
<p>一婦人身如丹毒，搔破淋漓，熱渴頭眩，日晡益甚，用逍遙散加炒山梔、陳皮而愈，又用八珍、柴胡、山梔、丹皮而愈。</p>
<p>一婦人患前症，誤用大麻風藥，破而出水，煩渴頭暈，誠類風症，六脈洪數，心肝脾為甚。</p>
<p>火、滋脾血、生腎水而愈。</p>
<p>一婦人患前症，搔破久不愈，食少體倦，此肝脾虧損，陰虛發熱也。先用補中益氣東加川芎、炒梔，元氣漸復，更以逍遙散而瘡愈。</p>
<p>一婦人身如丹毒，後發疙瘩，搔破膿水淋漓，熱渴頭暈，日晡益甚。先用消風散二劑，又用加味逍遙散而愈。</p>
<p>一婦人患赤游風，晡熱癢甚。余用清肝養血之劑。不信，乃服大麻風藥，臂痛筋攣；又服化痰順氣之劑，四肢痿弱。又一婦患前症，數用風藥煎湯泡洗，以致腹脹並歿。</p>
<p>一女子月經先期，或經行上身先發赤暈，微腫作癢，若遇氣惱，赤癢益甚。服祛風之藥，患，清肝火益肝血，赤癢少止，用地黃丸滋腎水生肝木，各五十余帖而痊。後因惱怒，經水不止，發熱作渴，患處赤癢。先用加味小柴胡湯二劑，諸症頓止。又用加味逍遙散而安。</p>
<p>一女子二十歲，月經先期而或過期，或有怒身發赤暈，或患疙瘩，六七日方退。服祛風藥，服是藥，必致筋攣。不悟，後兩手果攣，始信。先用地黃丸、四物湯，月余熱渴頓減，乃佐以加味逍遙散，又月余患處膿少，又用四君、山梔、牡丹皮二十余劑，指能伸屈。因怒發熱，經水不止，睡中筋脈抽動不安，以加味逍遙散加鉤藤鉤治之而痊。仍用四物、山梔、鉤藤鉤、牡丹皮而瘡結靨，乃去鉤藤鉤，調理元氣復而瘡靨脫。</p>
<p>一女子常患癮疹作癢，因怒發熱，變為疙瘩，　腫癢甚。余用梔子清肝散治之而愈。後又怒曰：然乃以當歸補血湯四劑，其熱悉止，又用聖愈湯、加味逍遙散而愈。</p>
<p>一女子赤暈如霞，作癢發熱，用小柴胡東加生地、連翹、丹皮而愈。後時常發熱，遍身如蟲暈，或發癮疹，或患疙瘩，用胡麻散隨愈。</p>
<p>一女子常患疙瘩，時或作癢。服消風之類，搔破成瘡，其癢不止，延及頭面。余先用羌活當不再作。</p>
<p>一小兒因有食積，服克滯之劑，肢體生瘡似疥，服消毒之藥，發疙瘩，赤色作癢，膿水津淫散治之而食積愈。</p>
<p>一女子赤暈作癢，寒熱發搐，服風藥身發疙瘩，搔破出水，此肝血風熱之症。先用加味小柴散而痊。</p>
<p>一小兒遍身生瘡，小便不調，頸間結核，兩目連札。服祛風之劑，眉毛脫落。余謂肝經風熱、四味肥兒丸而愈。後每停食，遍身發赤作癢，服四味肥兒丸即愈。</p>
<p>一小兒遍身患瘡，似疥作癢，肌體消瘦，發熱齦爛，口渴飲水，大便不實，此肝腎之症也。</p>
<p>蕪荑湯而痊。</p>
<p>一小兒遍身生瘡，似疥或癢或痛，膿水淋漓，眉毛脫落，大便酸臭，小便澄白。余謂肝脾之症，先用大蘆薈丸，後用四味肥兒丸，諸症漸愈，又佐以五味異功散而痊。</p>
<p>一小兒遍身生瘡，頭發成穗，眉毛脫落，肌肉消瘦，大便酸臭，小便不調，頸間結核，肚大青筋。余先用五味異功散，月余後，用四味肥兒丸，又用大蕪荑湯、異功散而痊。</p>
<p>一小兒先陰莖作癢，小便不調，後遍身生瘡作癢，服消風散毒之劑，　如大風之症，頸間結四味肥兒丸而痊。</p>
<p>一小兒面部浮腫，遍身如癬，半年後變疙瘩，色紫作癢，敷巴豆等藥，皮破出水，痛癢寒熱、柴胡、皂角刺、甘草節，諸症漸愈。更以八珍東加白朮、荊、防、皂角刺、五加皮而愈，後但勞則上體發赤暈，日晡益甚，此氣血虛而有火也。先用四物東加丹皮、參、朮、柴胡，治之稍愈。又用補中益氣東加酒炒黑黃柏、知母，月余痊愈。後不守禁忌，遍身生瘡，誠如癘風，大便酸臭，肚大青筋，頭發成穗，先用肥兒丸月余，又用大蕪荑湯數劑，又用大蘆薈丸、四味肥兒丸而尋愈。</p>
<p>一女子十二歲，善怒，遍身作癢出水，用柴胡、川芎、山梔、芍藥，以清肝火；用生地、當眩暈寒熱。余曰：此亦肝火熾盛，血得熱而妄行。其夜果經至。後因肝經血燥生瘡，發熱作癢，搔破出水，眉毛脫落，用大蘆薈丸、四物二連湯而熱退，用五味異功散、四味肥兒丸而瘡愈。</p>
<p>一小兒遍身生瘡，大便下血，發熱作渴，腹大青筋，眉毛漸落。余用大蘆薈丸、五味異功散製黃連治之，血止瘡愈。</p>
<p>一小兒十五歲，遍身似疥非疥，膿水淋漓，晡熱口乾，形體骨立四年矣，此腎肝之症，用六又用大蕪荑湯而尋愈。後停食吐瀉不食，發赤　，先用二陳、山楂、麥芽，次用異功散，飲食如前，又用大蕪荑湯而愈。</p>
<p>一女子赤暈如霞，作癢發熱，用小柴胡東加生地黃、連翹、丹皮而愈。</p>
<p>一女性急多怒，月經先期，患　，色赤作癢，搔破膿水不止。服祛風藥，其瘡益甚。</p>
<p>服花諸症漸愈，又用易老祛風丸而愈。</p>
<p>一女子素有肝火，因怒頸項結核，寒熱，晡熱，遍身起赤暈作癢。服祛風之藥，搔破出水，，而諸症漸愈。乃用加味逍遙散而痊。</p>
<p>一小兒患赤游風，余先用羌活白芷散二劑，又用加味逍遙散而愈。後傷風熱起疙瘩，搔破出而瘡亦痊。</p>
<p>一小兒遍身搔癢，或如蟲行，內服胡麻散，外敷解毒散，患處皆潰，誠如麻風之症，視其一小兒遍身搔癢起赤暈，後膿水不止，先用歸脾飲二劑，又用胡麻散而愈。後因驚挾食、發消，又用越鞠丸而痊。</p>
<h2>下卷</h2>
<h3>各症方藥</h3>
<p><u>通天再造散</u></p>
<p>　治癘風惡疾。</p>
<p>鬱金（五錢）　大黃（煨）　皂角刺（炒黑，各一兩）　白牽牛（六錢，半生半炒）　上為末，每服五錢，日未出時面東，以無灰酒調下。</p>
<p><u>寶鑒醉仙散</u></p>
<p>　治癘風。</p>
<p>胡麻子　牛蒡子　枸杞子　蔓荊子（各炒一兩）　白蒺藜　栝蔞根　苦參　防風（各五錢）</p>
<p>上為出臭涎，令人如醉，或下膿血，病根乃去，仍量人輕重虛實用。病重者須先以再造散下之，候元氣將復，方用此藥。忌一切炙爆濃味，止可食淡粥時菜。諸蛇以淡酒蒸熟食之，可以助藥勢。</p>
<p><u>寶鑒換肌散</u></p>
<p>　治癘風久不愈，或眉毛脫落，鼻梁崩壞，不月奏效如神。</p>
<p>白花蛇　黑花蛇（各三兩酒浸）　地龍（去土）　當歸　細辛　白芷　天麻　蔓荊子　威靈仙赤芍藥　九節菖蒲　定風草　何首烏（不犯鐵）　胡麻子（炒）　草烏（炮去皮臍）　川芎　蒼朮木鱉子（各一兩）　上各另為末，每服五錢，溫酒調下，食後酒多尤妙。</p>
<p><u>補氣瀉榮湯</u></p>
<p>　治癘風。</p>
<p>升麻　連翹（各五分）　蘇木　當歸　黃連　黃　全蠍　地龍（去土，各五分）　生地黃荊個）　蠓蟲（去翅足，炒，三個）　白蔻仁（二分）　水蛭（炒煙盡，三個）　上先將豆蔻、麝香、水蛭、蠓蟲各另為末和勻，卻將前藥用水二鐘煎至一鐘去渣，入桐淚，前末再煎，至七分，空心熱服。</p>
<p><u>海藏愈風丹</u></p>
<p>　治癩病手足麻木，眉毛脫落，遍身生瘡，及癘風癮疹，皮膚燥癢，搔破成瘡，並皆主之。</p>
<p>苦參（一斤取末四兩）　皂角（一斤挫寸許，無灰酒浸一宿，以水一碗搗成汁，去渣，以砂器烏梢蛇（各一條，依前酒浸，取肉為末）　上為末，入前二味和丸桐子大，每服六七十丸，空心通聖散送下，干物壓之，日三服，間日浴之，汗出為度。</p>
<p>愚按：前方果系癘風，用之必效。若肝經血熱，脾經血虛，腎經虛火，脾肺氣虛，遍身作癢癘風矣。</p>
<p><u>二聖散</u></p>
<p>　治癘瘡。</p>
<p>大黃（五錢）　皂角刺（三錢，燒灰）　上為末，每服二錢，白湯調下，早服樺皮散，中服升麻湯下瀉青丸，晚服二聖散，皆為疏泄血中風熱也。</p>
<p><u>清胃散</u></p>
<p>　治熱毒在表，以此發散之。</p>
<p>升麻　白芷　防風　白芍藥　干葛　甘草　當歸　川芎　羌活　麻黃　紫浮萍　木賊草上各等分，每服五七錢，水煎。</p>
<p><u>防風通聖散</u></p>
<p>　治風熱熾盛，大便秘結，發熱煩躁，表裡俱實者。</p>
<p>防風　當歸　川芎　芍藥　大黃（煨）　芒硝　連翹　薄荷　麻黃　桔梗　石膏（煨）　黃芩（）鼠黏子（各五錢）　上為末，每服三五錢，白湯調下。</p>
<p><u>透經解攣湯</u></p>
<p>　治風熱筋攣骨痛。</p>
<p>穿山甲（三錢，炮）　荊芥　紅花　蘇木　羌活　當歸　防風　蟬殼（去土）　天麻　甘草（各七分）　白芷（一錢）　連翹　川芎（各五分）　上水酒各半煎服。</p>
<p><u>秦艽地黃湯</u></p>
<p>　治風熱血燥，筋骨作痛。</p>
<p>秦艽　生地黃　當歸　川芎　羌活　防風　荊芥　甘草　白芷　升麻　白芍藥　大力子（蒸）　蔓荊子（各一錢）　上水煎服。</p>
<p><u>羌活當歸散</u></p>
<p>　治風毒血熱，頭面生瘡，或赤腫，或成塊，或癮疹搔癢，膿水淋漓羌活　當歸　川芎　黃連（酒炒）　鼠黏子（蒸）　防風　荊芥　甘草　黃芩（酒浸炒）　連翹白芷　升麻（各一錢）　上酒拌晒乾水煎。</p>
<p><u>羌活白芷散</u></p>
<p>　治風熱血燥，手掌皺裂，或頭面生瘡，或遍身腫塊，或膿水淋漓。</p>
<p>羌活　白芷　軟柴胡　荊芥　蔓荊子　防風　豬牙皂角　甘草　黃芩　黃連（酒炒，各一錢）　上水煎服。</p>
<p><u>四生散</u></p>
<p>　治腎臟風，耳鳴目癢，鼻赤齒浮，或婦女血風瘡。</p>
<p>白附子　獨活　黃　白蒺藜（各等分）　上為末，每服二錢，用豬腰子劈開入藥，濕紙裹煨熟細嚼，鹽湯下，風癬酒下，為丸亦可。</p>
<p><u>消風散</u></p>
<p>　治風熱癮疹癢痛，或膿水淋漓，或頭皮腫癢。</p>
<p>荊芥穗　甘草（炙，各二錢）　陳皮（五錢）　人參　白僵蠶（炒）　茯苓　防風　芎　蟬殼（去土）　羌活　藿香（各一兩）　厚朴（薑製，五錢）　上每服五七錢，薑水煎。</p>
<p><u>九味羌活湯</u></p>
<p>　治一切外因瘡毒。</p>
<p>羌活　防風　蒼朮（各一錢五分）　川芎　白芷　生地黃　黃芩　甘草（各一錢）　細辛（五分）　上水煎服。</p>
<p><u>當歸飲</u></p>
<p>　治血熱癮疹癢痛，或膿水淋漓發熱等症。</p>
<p>當歸　白芍藥　川芎　生地黃　防風　白蒺藜　荊芥（各一錢五分）　黃　（炒）　甘草何首烏（各一錢）　上水煎服。</p>
<p><u>升麻湯</u></p>
<p>　治風熱身如蟲行，或唇反縱裂。</p>
<p>升麻（三分）　茯苓　人參　防風　犀角（鎊）　羌活　官桂（各二錢）　上每服四錢，水煎，下瀉青丸。</p>
<p><u>樺皮散</u></p>
<p>　治肺風瘡疥癮疹，及風刺粉刺。</p>
<p>樺皮（四兩，炒灰）　荊芥穗（二兩）　甘草（炙，五錢）　枳殼（四兩，去穰燒　有性）　杏仁（二兩，去皮尖，另研）　上為末，瓷器貯之，每服四五錢，水煎。</p>
<p><u>胡麻散</u></p>
<p>　治風熱癮疹搔癢，或兼赤暈寒熱，形病俱實者。</p>
<p>胡麻（一兩二錢）　苦參　荊芥穗　何首烏（不見鐵器，各八錢）　威靈仙　防風　石菖蒲牛蒡子（炒）　甘菊花　蔓荊子　白蒺藜（炒去刺）　甘草（炒，各六錢）　上每服三錢，酒調</p>
<p><u>易老祛風丸</u></p>
<p>　治疥癩風瘡。</p>
<p>黃　枳殼（炒）　防風　芍藥　甘草　地骨皮　枸杞子　熟地黃　生地黃（各酒拌杵膏，）上各另為末，入二黃膏，加煉蜜丸桐子大，每服七八十丸，白湯下。</p>
<p><u>白丁香散</u></p>
<p>　治癘風，眼中生　肉。</p>
<p>白丁香貝母上為末，入乳汁，調點眼內。</p>
<p><u>子和生眉散</u></p>
<p>　治癘風眉毫脫落。</p>
<p>半夏　羊糞（各等分）　上為末，薑汁調塗眉棱上，如不應，當參類症眉脫條治之。</p>
<p><u>渫洗癘瘡藥</u></p>
<p>何首烏　荊芥　防風　馬鞭草　蔓荊子（各等分）　上每用十兩水一斗煎數沸，無風處洗出汗。</p>
<p><u>解毒散</u></p>
<p>　治風瘡解外毒。</p>
<p>巴豆肉　皮硝（各一兩）　黃蜂窠　黑狗脊（各七錢）　白芷　雄黃　豬牙皂角　羊蹄根輕粉愚按：洗藥雖能疏通腠理，而損元氣，解毒散雖能攻毒，而傷良肉，不宜多用。</p>
<p><u>黃連散</u></p>
<p>　治癘瘡。清熱解毒。</p>
<p>黃連（五兩）　五倍子（一兩）　上為末，唾津調塗之。</p>
<p><u>加味逍遙散</u></p>
<p>　治血虛有熱，遍身搔癢，心煩目昏，怔忡頰赤，口燥咽乾，發熱盜汗，食少嗜臥。</p>
<p>當歸（炒）　芍藥（酒炒）　茯苓　白朮（炒，各一錢）　柴胡（五分）　牡丹皮　甘草（炙）</p>
<p>山梔（炒，各八分）　上水煎服。</p>
<p><u>當歸補血湯</u></p>
<p>　治肌熱惡寒，面目赤色，煩渴引飲，脈洪大而虛重，按似無，此血虛也，若誤服白虎湯必死。</p>
<p>黃　（炙，一兩）　當歸（酒製，二錢）　上水煎服。</p>
<p><u>補中益氣湯</u></p>
<p>　治中氣不足，或因克伐，四肢倦怠，口乾發熱，飲食無味，或飲食勞倦，頭痛煩躁，惡寒自汗，氣喘身熱等症。</p>
<p>人參　當歸（各一錢）　黃　（炒）　白朮　甘草（炙，各一錢半）　陳皮（炒）　柴胡　升麻（各三分）　上薑棗水煎，空心午前服。</p>
<p><u>四君子湯</u></p>
<p>　治脾胃虛弱，飲食少思，大便不實等症。</p>
<p>人參　白朮　茯苓（各二錢）　甘草（炙，一錢）　上薑棗水煎。</p>
<p><u>六君子湯</u></p>
<p>　治脾胃損傷，飲食少思，或大便不調，面色痿黃等症，即四君子加陳皮、半夏。</p>
<p><u>七味白朮散</u></p>
<p>　治中氣虛弱，津液不足，口乾作渴，或口舌生瘡，不喜飲冷，吐瀉等症。</p>
<p>人參　白朮　木香　白茯苓　甘草（炙）　藿香（各五分）　干葛（一錢）　上水煎服。</p>
<p><u>四物湯</u></p>
<p>　治血虛發熱煩躁、或晡熱作渴，頭目不清，若因脾虛不能生血者，用四君子湯。</p>
<p>當歸　熟地黃（各二錢）　芍藥（炒）　川芎（各一錢）　上水煎服。</p>
<p><u>歸脾湯</u></p>
<p>　治憂思傷脾，內熱發熱，或血妄行，吐下或健忘，驚悸少寐，或婦女經候不準，晡熱內熱，或唇口遍身瘡疥等症。</p>
<p>白朮　黃　（炒）　當歸　茯神　人參　龍眼肉　遠志　酸棗仁（炒，各一錢）　木香（五分）　甘草（炙，三分）　上薑棗水煎。</p>
<p><u>八珍湯</u></p>
<p>　治氣血俱虛，惡寒發熱，或煩躁作渴等症，即前四君、四物二方相合。</p>
<p><u>十全大補湯</u></p>
<p>　治症同上，或更兼自汗盜汗，體倦食少等症，即八珍東加黃　、肉桂。</p>
<p><u>聖愈湯</u></p>
<p>　治一切失血或血虛，煩渴躁熱，臥睡不寧，或瘡症膿水出多，五心煩熱作渴等症。</p>
<p>熟地黃（生者自製）　生地黃　當歸（酒拌，各一錢）　人參　黃　（炒）　川芎（各二錢）</p>
<p>上水煎服。</p>
<p><u>芎歸湯</u></p>
<p>　治失血煩熱作渴，或頭痛眩暈。</p>
<p>川芎（三錢）　當歸（酒拌，五錢）　上水煎服。</p>
<p><u>竹葉黃　湯</u></p>
<p>　治氣血虛，胃火盛而作渴。</p>
<p>淡竹葉　生地黃（各二錢）　黃　麥門冬　當歸　川芎　黃芩（炒）　甘草　芍藥　人參半夏　石膏（　，各一錢）　上水煎服。</p>
<p><u>竹葉石膏湯</u></p>
<p>　治胃火盛而作渴。</p>
<p>淡竹葉　石膏（　）　桔梗　木通　薄荷　甘草（各一錢）　上薑水煎。</p>
<p><u>濟生犀角地黃湯</u></p>
<p>　治胃火盛，血熱妄行，或吐衄便血，形氣虛病氣實者。</p>
<p>犀角（鎊）　生地黃　赤芍藥　牡丹皮（各一錢）　上水煎，傾出入犀末服。若形氣病氣俱實，再加黃芩、黃連，若因氣惱而致，加山梔、柴胡。</p>
<p><u>桃仁承氣湯</u></p>
<p>　治血結胸中，手不可近，或中焦蓄血寒熱，胸滿嗽水，不欲咽，善忘昏迷，其人如狂。</p>
<p>桃仁（五分）　大黃（一錢）　甘草（三分）　肉桂（五分）　上水煎服。</p>
<p><u>瀉青丸</u></p>
<p>　治肝經風熱，頭目昏眩，肌肉　動，或牙關緊急，痰涎壅盛，或頸項脅肋小腹陰囊腿股作痛，凡屬肝經有餘之症用之。</p>
<p>當歸　川芎　山梔　龍膽草（酒拌炒焦）　大黃（炒）　羌活　防風（各等分）　上為末，蜜丸桐子大，每服二三十丸，白湯下。</p>
<p><u>梔子清肝散</u></p>
<p>　治三焦肝膽經血虛風熱，耳項胸乳等處癢痛，或發熱寒，晡熱自汗，或唇搐動。</p>
<p>柴胡　梔子　牡丹皮（各二錢）　茯苓　川芎　芍藥　當歸　牛蒡子（炒，各七分）　甘草（五分）　上水煎服。</p>
<p><u>柴胡清肝散</u></p>
<p>　治風熱怒火，或寒熱嘔吐等症。</p>
<p>柴胡　山梔（炒，各一錢半）　黃芩（炒）　人參　川芎（各一錢）　連翹　桔梗（各八分）</p>
<p>甘草（五分）　上水煎服。</p>
<p><u>小柴胡湯</u></p>
<p>　治肝膽經風熱，或寒熱往來，或晡熱潮熱，默默不欲飲食，或因怒火，口苦耳聾脅痛等症。</p>
<p>柴胡（二錢）　黃芩（一錢半）　人參　半夏（各一錢）　甘草（炙，五分）　上薑棗水煎。</p>
<p><u>大蘆薈丸</u></p>
<p>　治疳火下疳，或小兒疳膨食積，口鼻生瘡，或牙齦蝕爛，或蟲蝕肛門癢痛。</p>
<p>胡黃連　蘆薈　黃連（炒）　木香　白蕪荑（炒）　青皮　白雷丸　鶴虱草（各一兩）　麝香（一錢）　上為末，蒸餅糊丸桐子大，每服一錢，空心米湯下。</p>
<p><u>加味地黃丸</u></p>
<p>　治腎經陰虛，耳內癢痛，或兩目昏花，或吐痰氣喘，作渴發熱，小便赤澀等症。</p>
<p>干山藥　山茱萸　牡丹皮　澤瀉　白茯苓　熟地黃（自製）　生地黃　柴胡　五味子（各另為末</p>
<p><u>二陳湯</u></p>
<p>　治中脘停痰，嘔吐惡心，或頭目不清，飲食少思。</p>
<p>陳皮　茯苓　半夏　甘草（炙，各一錢）　上薑棗水煎。</p>
<p><u>連翹飲子</u></p>
<p>　治目惡日光，或癮澀昏花，不能久視，迎風有淚。</p>
<p>蔓荊子　甘草　連翹（各三錢）　黃　（炒）　柴胡　黃芩（酒拌，各五分）　生地黃　當歸紅葵花　人參（各三分）　升麻　防風　羌活（各一錢）　上水煎服。</p>
<p><u>四物龍膽湯</u></p>
<p>　治肝紅風熱，眼暴赤痛，或生云翳。</p>
<p>當歸　川芎　芍藥　生地黃　羌活　防風　龍膽草（酒拌炒焦）　防己　上水煎服。</p>
<p><u>四物二連湯</u></p>
<p>　治血虛五心煩熱，晝則明了，夜則發熱。</p>
<p>當歸　生地黃　白芍藥（炒，各一錢）　川芎（七分）　黃連（炒，五分）　胡黃連（三分）</p>
<p>上每服五錢，水煎。</p>
<p><u>地芝丸</u></p>
<p>　治目能近視，不能遠視，此陽氣不足陰氣有餘。</p>
<p>生地黃（焙乾，四兩）　天門冬（去心）　枳殼（麩炒）　甘菊花（各二兩）　上為末，煉蜜丸桐子大，每服百丸，清茶下。</p>
<p><u>定志丸</u></p>
<p>　治目能遠視，不能近視，此陰氣不足，陽氣有餘。</p>
<p>白茯苓　人參（各一兩）　遠志（去心）　石菖蒲（各一兩）　上為末，煉蜜丸桐子大，以朱砂為衣，每服二三十丸，溫酒下，日三服。</p>
<p><u>神效黃　湯</u></p>
<p>　治渾身或頭面手足麻木不仁，兩目緊縮，羞明畏日，或視物不明。</p>
<p>黃　（二兩）　人參（八錢）　甘草（炙）　白芍藥　蔓荊子（各一兩）　陳皮（五錢）　上每服五錢，水煎，臨臥熱服。如麻木不止更加黃　，雖有熱症，不用黃柏。</p>
<p><u>益氣聰明湯</u></p>
<p>　治脾胃傷損，眼目昏暗，或飲食勞役，脾胃不足，致內瘴耳鳴。</p>
<p>黃　甘草（炙）　人參（各五錢）　升麻　葛根　黃柏（炒，各二錢）　芍藥（一錢）　蔓荊子（一錢七分）　上每服五錢，水煎，臨臥及五更服，脾胃虛去黃柏。</p>
<p><u>清涼飲</u></p>
<p>　治實熱大便秘結，或咽喉腫痛。</p>
<p>當歸　赤芍藥　甘草（炒）　大黃（蒸，各等分）　上每服五錢，水煎。</p>
<p><u>清胃散</u></p>
<p>　治脾胃濕唇齒作痛，或齒齦潰爛，或連頭面作痛，或發熱惡寒，或熱藥濃味所致。</p>
<p>生地黃（酒拌）　當歸（酒洗）　牡丹皮　黃連（各五分）　升麻（一錢）　上水煎服，如痛未止，加石膏之類。</p>
<p><u>涼膈散</u></p>
<p>　治上焦實熱，煩躁作渴，或喉舌腫痛，便溺秘赤。</p>
<p>大黃　朴硝　甘草　梔子仁　黃芩　薄荷（各一兩）　連翹（四兩）　上每服三五錢，水煎</p>
<p><u>黃連解毒湯</u></p>
<p>　治瘡瘍　痛，煩躁飲冷，脈洪數發狂言。</p>
<p>黃芩　黃連　黃柏　山梔（各炒一錢半）　上水煎服。</p>
<p><u>瀉黃散</u></p>
<p>　治胃經實熱嘔吐，或口舌生瘡。</p>
<p>石膏（　）　藿香（各一錢）　山梔（一錢五分）　甘草（五分）　防風（七分）　上水煎服。</p>
<p><u>潤腸丸</u></p>
<p>　治脾胃伏火，傷血或失血，大腸干燥，大便不通，或風熱血結，便秘食少。</p>
<p>麻子　桃仁（去皮尖另研）　羌活　當歸尾　大黃（煨）　皂角仁（各一兩）　秦艽（五錢）</p>
<p>上為即通，若因津液干涸不通，當補血氣。</p>
<p><u>滋腎丸</u></p>
<p>　治不渴而小便不利者，乃膀胱經熱甚，不能生水，宜用此藥以滋化源。</p>
<p>肉桂（三錢）　知母　黃柏（各酒炒黑，二兩）　上為末，水丸桐子大，每服二百丸，空心白滾湯下。</p>
<p><u>清肺飲</u></p>
<p>　治渴而小便不利，乃肺經有熱，絕寒水生化之源，宜用此藥。</p>
<p>茯苓（一錢）　豬苓（三錢）　燈心（一錢）　木通（七分）　瞿麥（五分）　蓄（三分）　上為末，作二劑水煎。</p>
<p><u>黃芩清肺飲</u></p>
<p>　治肺燥而小便不利。</p>
<p>黃芩　山梔（各一錢）　上水煎服。</p>
<p><u>五淋散</u></p>
<p>　治膀胱有熱，水道不通，淋澀不出，或尿如豆汁，或成砂石，或熱拂便血。</p>
<p>赤茯苓（一錢五分）　赤芍藥　山梔（各一錢）　當歸　甘草（各一錢二分）　上用燈心二十莖，水煎。</p>
<p><u>清心蓮子飲</u></p>
<p>　治熱在血分，口乾便濁，夜則安靜，晝則發熱，或口舌咽乾，或生瘡煩渴，小便澀淋。</p>
<p>黃芩　麥門冬　地骨皮　車前子（炒）　甘草（各一錢五分）　石蓮肉　茯苓　黃　（炒）</p>
<p>柴胡　人參（各一錢）　上水煎服。</p>
<p><u>升陽益胃湯</u></p>
<p>　治脾胃虛弱，怠惰嗜臥，或值秋令，體重節痛，大便不調，小便頻數，飲食不消，洒淅惡寒，淒慘不樂，面色不和，乃陽不升也。</p>
<p>羌活　獨活　防風（各五錢）　柴胡　白朮　茯苓（渴者不用）　澤瀉（各三錢）　人參　黃棗水煎，若服後小便愈數而病愈加，是不宜分利小便，當減茯苓、澤瀉。</p>
<p><u>生脈散</u></p>
<p>　治熱傷元氣，肢體倦怠，氣短懶言，汗出不止，口乾作渴等症。</p>
<p>人參（五錢）　麥門冬（二錢）　五味子（一錢）　上水煎服，如不應倍之。</p>
<p><u>清燥飲</u></p>
<p>　治氣血衰弱，濕熱乘之，遍身酸軟，或濕熱行令，肺金受邪，腎無所養，小便赤少黃　蒼朮（各一錢）　人參　白朮　神麯（炒）　陳皮（各五分）　甘草（炙）　黃柏（炒）</p>
<p>麥門冬　當歸（各三分）　葛根　澤瀉　青皮（各二分）　五味子（九粒）　上水煎服。</p>
<p><u>二神丸</u></p>
<p>　治脾胃不足，侵晨作瀉或不時去後，飲食少思，肌肉消瘦。</p>
<p>補骨脂（四兩）　肉豆蔻（二兩）　生薑（四兩）　紅棗（四十九枚）　上用水一盞煮薑棗，至水干取棗肉和藥末杵勻，丸桐子大，每服五七十丸，淡鹽湯下。</p>
<p><u>六味丸</u></p>
<p>（一名地黃丸。加肉桂、五味，名加減八味丸）　治腎虛發熱作渴，痰咳頭暈，喉燥唇裂，腰腿酸軟，或自汗盜汗，便血諸血，失音水泛為痰，小便淋澀等症。</p>
<p>熟地黃（自製，八兩）　山茱萸（去核）　干山藥（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩）　上為末，地黃杵膏加煉蜜丸桐子大，每服七八十丸，空心食前滾湯下。</p>
<p><u>加減金匱腎氣丸</u></p>
<p>　治脾胃虛腰重腳腫，小便不利；或肚腹腫脹，四肢浮腫；或喘急痰盛，已成蠱症，其效如神。</p>
<p>白茯苓（三兩）　附子（五錢）　川牛膝　肉桂　車前子　澤瀉　山茱萸　山藥　牡丹皮（各一兩）　熟地黃（四兩，酒拌杵膏）　上為末，和地黃加煉蜜丸桐子大，每服七八十丸，空心米飲下。</p>
<p><u>五味異功散</u></p>
<p>　治脾胃虛弱，飲食少思，或食而難化，大便不實等症。</p>
<p>人參　白朮（炒）　茯苓（各二錢）　甘草（炙）　陳皮（各一錢）　上水煎服。</p>
<p><u>四神丸</u></p>
<p>　治脾胃虛弱，大便不實，飲食少思等症。</p>
<p>肉豆蔻　五味子（各二兩）　補骨脂（四兩）　吳茱萸（炒，一兩）　上為末，水二碗，生薑八兩，紅棗百枚，煮熟取棗肉，和末丸桐子大。每服五七十丸，空心食前白湯下。</p>
<p><u>愈風丹</u></p>
<p>　治諸風肢體麻木，手足不隨等症。</p>
<p>天麻　牛膝（酒浸焙）　萆　玄參（各六兩）　杜仲（七兩）　羌活（十四兩）　當歸　熟地黃，溫酒下。</p>
<p><u>瀉白散</u></p>
<p>　治肺經實熱咳嗽。</p>
<p>桑白皮　地骨皮（各一兩）　甘草（五錢）　上為末，每服三錢，白湯調下。</p>
<p><u>半夏白朮天麻湯</u></p>
<p>　治寒熱所郁，大便不利，或嘔不食，痰唾稠黏，頭目眩暈，喘促氣短，或頭痛身重，四肢逆冷。</p>
<p>半夏　天麻　黃　人參　蒼朮　陳皮　澤瀉　茯苓（各一錢五分）　白朮　神麯（炒，各一錢）　大麥芽　乾薑（炒黑，各三分）　黃柏（酒製，二分）　上每服五錢，水煎服。</p>
<p><u>牛黃清心丸</u></p>
<p>　治諸風手足不隨，痰涎壅塞，言語蹇清，心忡健忘，或發顛狂。</p>
<p>防風　白朮　白芍藥　羚羊角（鎊）　麝香（另研）　龍腦（另研）　麥門冬（去心）　黃芩（各一兩）　人參　神麯（炒）　蒲黃（炒，各二兩）　甘草（五兩）　白茯苓　芎　杏仁（去皮尖）　柴胡桔梗（各一兩二錢半）　雄黃（另研，二錢）　牛黃（另研，一兩二錢）　山藥　白蘞　乾薑（各棗（一百枚，蒸熟杵）　金箔（一千三百片，內四百為衣）　上為末，和勻同棗肉加煉蜜，丸龍眼大，以金箔為衣，每服二丸，白湯化下。</p>
<p><u>人參理中丸</u></p>
<p>　治脾胃虛寒，嘔吐泄瀉，飲食少思等症。</p>
<p>白朮（炒）　人參　乾薑（泡）　甘草（炙，各等分）　上為末，丸桐子大。每服六七十丸，白湯下。</p>
<p><u>人參平肺散</u></p>
<p>　治心火克肺，傳為疽痿，咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不人參　陳皮　甘草（炙）　地骨皮　茯苓（各一錢）　知母（炒，七分）　五味子（杵炒，四分）　青皮（五分）　桑白皮（炒，一錢）　天門冬（去心，四分）　上水煎服。</p>
<p><u>決明夜靈散</u></p>
<p>　治目至夜則昏，雖有燈月，亦不能睹。</p>
<p>石決明　夜明砂（各另研，二錢）　豬肝（一兩，或羯羊肝亦可）　上以竹刀切肝作二片，鋪藥於內，用線縛定砂罐內米泔水煮至半碗，臨睡連肝食之。</p>
<p><u>人參益氣湯</u></p>
<p>　治暑熱傷氣，肢體困倦，飲食少思，或發熱作渴等症。</p>
<p>黃　（八錢）　人參　甘草（各五錢）　炙甘草　升麻　柴胡（各二錢）　白芍藥（三錢）　五味子（一百四十粒）　上作四劑，水煎服。</p>
<p><u>四七湯</u></p>
<p>　治七情郁結成痰，或如梅核，梗於喉間，或中脘停痰，惡心嘔逆。</p>
<p>紫蘇葉　厚朴（薑製）　茯苓（各一錢）　半夏（薑製，一錢五分）　上薑棗水煎。</p>
<p><u>硫黃散</u></p>
<p>　治紫白癜風。</p>
<p>硫黃（一兩，用醋一碗煎干再晒）　上為末，以生薑蘸藥擦患處。</p>
<p><u>神效當歸膏</u></p>
<p>　治風瘡去腐肉生新肉，其肉赤黯，毒瓦斯熾盛，搽至淡赤，或其毒已退，收功甚速，此膏生肌止痛，補血續筋，故與新肉相宜。</p>
<p>當歸　黃蠟　生地黃（各一兩）　麻油（六兩）　上先將當歸地黃入油煎黑，去渣，入蠟溶化，候冷攪勻即成膏矣，如用白蠟尤好。</p>
<p><u>砭法</u></p>
<p>　治風毒瘀血壅盛，或色赤走徹，用細瓷器擊碎，取有鋒芒者一塊，以箸一根，劈開頭毒血遇刺皆出。</p>
<p><u>妙香散</u></p>
<p>　治心氣不足，精神恍惚，虛煩少睡，盜汗等症。</p>
<p>甘草（炒，一錢）　人參　桔梗（各五錢）　遠志（去心炒）　山藥（薑汁）　茯神　黃　（各一兩）</p>
<p><u>四味肥兒丸</u></p>
<p>　治小兒食積五疳，或白禿體瘦，肚大筋青，發稀成穗，或遍身瘡疥等症。</p>
<p>蕪荑（炒）　神麯（炒）　麥　（炒）　黃連（各等分）　上為末，豬膽汁丸黍米大。每服一二十丸，木通煎湯下，米糊丸亦可。</p>
<p><u>地黃清肺飲</u></p>
<p>　治肺肝咳嗽。</p>
<p>明阿膠（一錢，面炒）　鼠黏子（三分，炒）　馬兜鈴　甘草（各五分）　杏仁（七枚，去皮尖）　糯米（炒，十粒）　上水煎服，量兒加減。</p>
<p><u>蟾蜍丸</u></p>
<p>　治無辜疳症，一服虛熱退，二服煩渴止，三服瀉痢愈。</p>
<p>蟾蜍（一枚，夏季溝渠中，取腹大不跳，不鳴身多　者）　上取糞蛆一杓，置桶中以尿浸之，字和勻，粳米飯丸麻子大。每服二三十丸，米飲下甚效。</p>
<p><u>小柴胡湯</u></p>
<p>（加山梔、牡丹皮，名加味小柴胡湯）　治傷寒溫熱，身熱惡風，頭痛項強，四肢煩疼，往來寒熱，嘔穢痰實，中暑瘧疾，並服之。（方見前）</p>
<p>愚按：前方若肝膽經風熱，肝火瘰　，寒熱往來，日晡發熱，潮熱身熱，不欲飲食，或怒火用之。</p>
<p><u>神效太乙膏</u></p>
<p>　治癰疽瘡毒潰爛。</p>
<p>玄參　白芷　當歸　肉桂　赤芍藥　大黃　生地黃（各一兩）　上用麻油二斤，入於銅鍋內煎至黑，濾去渣，徐入淨黃丹一斤，再煎滴水中，捻軟硬得中，即成膏矣。</p>
<p>金華散　治干濕瘡癬。</p>
<p>黃丹（一兩，　）　輕粉（三錢）　黃柏　黃連（各一兩）　麝香（一字，另研）　上為末，洗淨摻之，干用豬脂和，傳麻油亦可。</p>
<p>方治惡癬，以紫貝草根、生白礬少許，同擂塗患處。</p>
<p>又方剪刀草　黃連　苦參（各五錢）　真輕粉（二錢）　上為末，入麻油調敷。</p>
<p><u>大楓子膏</u></p>
<p>　治一切瘡疥膿窠等瘡。</p>
<p>大楓子肉　白礬（枯，各二兩）　真輕粉（一兩）　地瀝青（六兩）　上為末，將地瀝青溶化和勻用之。</p>
<p><u>加味逍遙散</u></p>
<p>　治肝脾血虛，身發赤痕，或發熱胸乳腹脹，或搔癢盜汗，心煩體痛，或頭歸脾湯　治憂思傷脾，身發赤痕，或搔破成瘡，健忘怔忪，驚悸少寐，或心脾作痛，自汗盜（方見前）。</p>
<p><u>白癜方</u></p>
<p>人參　白朮　蒼朮（鹽炒）　防己（酒拌）　黃柏（酒拌）　川芎（各一錢）　陳皮（酒拌）　當歸茯苓　木瓜　柴胡梢　甘草（各五分）　上薑水煎服，如三劑不退，加桂少許，或用湯煎，小便澀，倍用牛膝，有熱加黃連，身熱加羌活，量兒大小用。</p>
<p><u>化　丸</u></p>
<p>　治諸疳生蟲，不時啼哭，嘔吐清水，肚腹脹痛，唇口紫黑，腸頭濕　。</p>
<p>蕪荑　青黛　蘆薈　蝦蟆（燒灰）　川芎　白芷　胡黃連　上各另為末等分，豬膽浸膽成糕，丸如麻子大。每服二三十丸，食後並臨臥，杏仁湯下。</p>
<p><u>大肥兒丸</u></p>
<p>　治脾疳飲食少思，肌肉消瘦，肚大頸細，發稀成穗，項間結核，發熱作渴，精神丸加干蟾一兩，蕪荑五錢。</p>
<p><u>天麻丸</u></p>
<p>　治肝疳眼目生翳，昏花濕爛等症。</p>
<p>青黛　川黃連　天麻　五靈脂　川芎　夜明砂（微炒）　蘆薈　龍膽草　防風　蟬蛻（去足，，白滾湯下。</p>
<p><u>阿魏膏</u></p>
<p>　治一切痞塊，不拘年月遠近，甚者口齒蝕傷，更服蘆薈丸。</p>
<p>羌活　獨活　玄參　官桂　赤芍藥　穿山甲　生地黃　兩頭尖　大黃　白芷　天麻（各五錢）</p>
<p>上用香油二斤四兩，煎至黑色，去渣入發，再煎，待發化盡，去渣，徐下黃丹一斤，煎至軟硬得中，方入芒硝四錢、阿魏四錢、蘇合油、麝香、沒藥各五錢，調勻即成膏矣。攤貼患處，內服消積丸藥，黃丹須真正者效。凡貼膏藥，先用朴硝隨患處大小鋪之，約半寸濃，以紙蓋之，用熨斗熨良久，如硝耗再加熨之，熨二時許，方貼膏藥，若是肝積，加蘆薈末同熨。</p>
<p><u>大防風湯</u></p>
<p>　治膝風腫痛，不問已潰未潰。</p>
<p>附子（炮去皮）　牛膝（酒浸）　甘草（炙，各一錢）　人參　杜仲（薑製）　當歸（酒浸）　羌活上每服三五錢，薑水煎空心服，進三五劑，更服六味地黃丸二三服。</p>
<p><u>獨活湯</u></p>
<p>　治鶴膝風，不問腫潰疼痛，及腰背四肢不仁。</p>
<p>獨活　當歸　白朮　黃　（炒）　薄桂　牛膝（各一錢）　甘草（炙五分）　上薑蔥水煎服，量兒加減。</p>
<p><u>清熱消毒散</u></p>
<p>　治癰疽陽症腫痛，發熱作渴。</p>
<p>黃連（炒）　山梔　連翹　當歸（各五分）　川芎　芍藥（炒）　生地黃　金銀花（各一錢）</p>
<p>甘草（五分）　上水煎服。</p>
<p><u>神功散</u></p>
<p>　治瘡毒未成者用之內消，加乳、沒尤妙。</p>
<p>黃柏（炒）　草烏（炒）　血竭（等分）　上各另為末和勻，用漱口水調搽，小兒丹瘤，用之亦效，已砭者用之作痛。</p>
<p><u>乳香定痛散</u></p>
<p>　治瘡瘍潰爛疼痛。</p>
<p>乳香　沒藥（各三錢）　滑石（七錢）　寒水石（一兩，　）　冰片（二錢）　上為細末，搽患處，痛即止，甚效。</p>
<p><u>抱龍丸</u></p>
<p>　治風痰壅盛，驚搐昏睡等症。</p>
<p>雄黃　辰砂（各二錢）　天竺黃（四錢）　麝香（五分）　天麻（六錢）　牛膽南星（八錢）　上為末，煎甘草膏，丸皂角子大，每一丸薄荷湯下。</p>
<p><u>解毒散</u></p>
<p>　治一切瘡毒風疹癢痛。</p>
<p>黃柏（炒）　山梔（等分）　上為末，水調搽，若破而膿水淋漓，用當歸膏或　油調搽。</p>
<p><u>黃金散</u></p>
<p>　治天　瘡。止痛消毒。</p>
<p>滑石　甘草（等分）上為末，挑破去水敷之。</p>
<p><u>清涼解毒散</u></p>
<p>　治症同前，或作　痛。</p>
<p>大黃　黃柏　山梔　寒水石（煨，等分）　上各另為末調搽，當歸膏尤好。</p>
<p><u>制附子法</u></p>
<p>附子重一兩三四錢，有蓮花瓣頭底圓平者，先備童便五六碗，將附子先埋熱草灰中半日，乘切片，檢視有白星者，乃用瓦上炙熟，至無白星為度，如急用即切火上炙黃，用之亦效。大凡陽氣脫陷，子時至午時，惡寒，未至亥發熱，如用熱附子，不應，必用半生半熟，更不應，急用生附一二劑，然後量症治之。</p>
<p><u>當歸川芎散</u></p>
<p>　治手足少陽經血虛風熱，耳內癢痛，或食少頭目不清，日晡熱甚。</p>
<p>當歸　川芎　柴胡　白朮　芍藥（各一錢）　山梔（炒一錢二分）　牡丹皮　茯苓（各八分）</p>
<p>蔓荊子　甘草（各五分）　上水煎服。</p>
