<header data-type="book">
<h1>脈訣刊誤</h1>
</header>
<h2>序</h2>
<p>昔朱子之論脈訣也。曰詞最淺鄙。非叔和本書明甚。又曰世之高醫。以其贗也。遂委棄而羞言之。予非精於道者。不能有以正也。以俟明者而折中焉。朱子於此有隱詞矣。其議之也。不過曰詞最淺鄙。且曰俟明者而折中。則不以世醫之委棄為然可知也。夫朱子之不能恝然於脈訣者。蓋有以見夫作者之苦心。乃故作此淺鄙之詞。不欲用脈經之深隱。使末學終無所問津焉耳。至其詞有異於脈經。</p>
<p>則又非無義而不足為大病何也。脈經且未嘗盡合於古矣。豈惟脈經。即難經言四時脈狀。且與素問大異矣。後人雖疑而辨之。卒不似排抵脈訣。直至欲取而焚之者。徒以脈訣文詞淺鄙。易生輕侮耳。而孰知作者苦心。正在是哉。其私心之所得。臨證之所見。確有異於古之所云。遂毅然惻然為後人告也。</p>
<p>豈獨滑亦有寒。脾亦候尺為義本先民耶。夫固不免偏駁矣。然自詆之太過。而瀕湖李氏脈學。遂蹶起而行於世。而脈法且因之而愈微昔人謂脈訣行而脈經隱。我更慨脈學行而脈法壞也。其書極簡。最便駑駘。而托本於脈經則名高。使明哲亦奉之而不以為陋。夷考其詞。究於脈理何所發明。能盡合脈經之旨耶。人之便之者。徒以其較脈訣更簡而已矣。豈真有以見夫脈訣之非。而欲由脈學而上溯脈經耶。</p>
<p>余已刻脈經。復慮其詞隱奧。不便俗學也。因取俗行張注脈訣視之。則注詞淺陋。毫無所發。旋見石山醫按中。有戴氏脈訣刊誤。或釋或辨。委曲詳盡。誠可寶貴。雖其所辨不無過詞。要亦執古太嚴。</p>
<p>而於大義則無不賅洽矣。亟付剞劂。為脈經之羽翼焉。夫脈訣上較脈經已為簡矣。不謂其後乃有李氏脈學。更簡於脈訣。使天下靡然從之。並脈訣亦擯棄而無過問者。猶之講傷寒者。其始猶知傷寒百問。至今日則但取陳修園時方妙用附錄之。區區數版而已。夫天下事日趨於簡便。人心日趨於儇薄。義理日趨於暗昧。典型日趨於紊亂。而其禍竟蔓延而至於醫也。是書也。果得風行海內。習醫者果恍然於脈理有如是之精且詳。而恥以李學自　也。則醫中少一屠劊。生民不止少一夭枉矣。戴氏之功。視叔和何如哉。</p>
<p><u>光緒辛卯夏五周學海記。</u></p>
<p>昔朱文公跋郭長陽醫書。謂俗間所傳脈訣。辭最鄙淺。非叔和本書。殊不知叔和所輯者脈經也。</p>
<p>當叔和時未有歌括。此蓋後人特假其名以取重於世耳。摭為韻語。取便講習。故人皆知口熟脈訣以為能。</p>
<p>而不復究其經之為理也。元季同父戴君深以為病。因集諸書之論。正於歌括之下。名曰脈訣刊誤。</p>
<p>鄉先正風林朱先生為節抄之。予始聞是書於歙之舊家。彼視為秘典。不輕以示人。予備重貲。不遠數百裡。往拜其門。手錄以歸。然而傳寫既久。未免脫誤。予於是補其缺而正其訛。又取諸家脈書要語。</p>
<p>及予所撰矯世惑脈論。附錄於後。以擴刊誤未盡之旨。誠診家之至要也。將欲秘之以為己有。則有辜作者之盛心。欲梓之以廣其傳。則又乏貲以供所費。藏之巾笥。蓋亦有年。我徒許忠因質之休寧師魯程先生。先生轉語其姻HT　吳君子用刻之以惠久遠。且使是書不至於湮沒也。自今而後。學人得見是書而用其心。則歌括之謬。一覽可見矣。噫。使天下後世。舉得以由乎正道。而不惑於曲學。未必不由是書之刻也。吳君之心之德。何其盛歟。視彼建琳宮塑佛像。費用於無益者。其相去殆萬萬矣。是知吳君之心。即仁者之心也。傳曰仁者壽。又曰仁者必有後。豈欺我哉。必有驗於茲矣。</p>
<p><u>嘉靖癸未春三月下浣祁門朴墅汪機題。</u></p>
<h2>集解序</h2>
<p>醫流鮮讀王氏脈經。而偏熟於脈訣。訣蓋庸下人所撰。其疏謬也奚怪哉。戴同父儒者也。而究心於醫書。刊脈訣之誤。又集古醫經及諸家說為之解。予謂此兒童之謠。俚俗之語。何足以辱通人點竄之筆。</p>
<p>況解書為其高深玄奧。不得不借易曉之辭。以明難明之義也。今歌訣淺近。夫人能知之。而反援引高深玄奧者為證。則是以所難明解所易曉。得無類奏九韶三夏之音。以聰折楊皇花之耳乎。同父曰。此歌誠淺近。然醫流僅知習此而已。竊慮因其書之誤。而遂以誤人也。行而見迷途之人。其能已於一呼哉。</p>
<p>予察同父之言。蓋仁人之用心。如是而著書。其可也。臨川吳澄序。</p>
<p>愚久見此序。而未見其書。歲乙巳秋。得之於金陵郝安常伯。即借而傳抄之。慨予光陰有限。故不及全而節其要云。</p>
<p><u>朱升題</u></p>
<h2>卷上</h2>
<p>六朝高陽生。剽竊晉太醫令王叔和。撮其切要。撰為脈訣。蔡西山辨之詳矣。世相因。人相授。</p>
<p>咸曰王叔和脈訣。既不能正其名。又不能辨其非。訛承惑固。是以罔覺。今刊其誤。題曰脈訣。</p>
<p>不以王叔和加其首者。先正其名也。竊取靈素內經、秦越人、張仲景、華佗、王叔和、及歷代名醫之書以證。又述諸家所解。集長辨短。知我者其惟脈訣乎。罪我者其惟脈訣乎。</p>
<h3>診候入式歌</h3>
<p>左心小腸肝膽腎。右肺大腸脾胃〔命〕腎。</p>
<p>十二經動脈循環無端。始於手太陰。終於足厥陰。一晝夜五十周。朝於寸口。會於平旦。內經診以平旦。難經獨取寸口。寸口者。即手太陰之經渠穴也。上古診法有三。其一。各於十二經動脈見處。分為三部。</p>
<p>天地人以候各臟腑。其二。以寸口與人迎參之。以驗陰陽四時之大小。以決其病。其三。獨取寸口。</p>
<p>以內外分臟腑。以高下定身形。斯王叔和之所取。以為寸口。臟腑之位。脈訣述之有差。脈經兩尺並屬腎與膀胱。今脈訣以命門列右尺。通真子注。又以三焦為命門合。並屬右尺。是不可以不辯。</p>
<p>十八難曰。手心主。少陽火。生足太陰。陽明土。土主中宮。故在中部也。亦未嘗言手心主少陽火在何部也。二十五難曰。心主與三焦為表裡。靈樞銅人並同。又未嘗以三焦合命門也。且持脈有道。因動脈而有別。假使以右腎為命門之臟。外無經絡。其動脈何在。且命門之說。始於扁鵲。</p>
<p>亦不分男女左右。考之內經。腎固已分為兩臟。未嘗有命門也。惟銅人有命門穴。在十四椎下。</p>
<p>靈樞言兩目為命門。既無動脈。何以為診。又非正臟。何以列部。腎有兩枚。均為腎。尺內以候腎。</p>
<p>同列左右尺。斯黃岐之正論。習醫者。不本內經。而信末世昧理之謬論。安能悟其非而造其妙。</p>
<p>三因方以右腎居右尺中。屬手厥陰經。與三焦手少陽經合。則又差之甚矣。心主非右腎也。手厥陰雖與三焦經合。其起於心中。出屬心包絡。終於手小指次指。其經不行尺部之下也。何以列在右尺。黎氏曰。扁鵲以心主與三焦為表裡。而脈訣以命門與三焦為表裡者。以腎為精之舍。三焦為精之府也。命門雖系一臟。外別無經。與腎俱屬足少陰經。與足太陽膀胱相為表裡。以此推之。</p>
<p>三焦之氣與命門通。而三焦之經不與命門合也。扁鵲之論為正。然則寸口之部位以何為正也。脈要精微論曰。尺內兩旁則季脅也。尺內以候腎。尺外以候腹。中附上。左外以候肝。內以候膈。</p>
<p>右外以候胃。內以候脾。上附上。右外以候肺。內以候胸中。左外以候心。內以候膻中。前以候前。後以候後。上竟上者。胸喉中事也。下竟下者。少腹腰股膝脛足中事也。此寸口部之定位也。或曰必以動脈為診。則手厥陰少陽二經。當列何部也。曰。經云手少陰獨無　乎。其外經病而臟不病也。</p>
<p>故治病者治包絡之經。無犯其經。則手厥陰同手少陰經部診也。手少陽為三焦。則各分於上中下部以診也。則十二經動脈。皆可診於寸口矣。潔古以地道自右逆行。言脈三部自手少陰君火心始。逆而至厥陰風木肝。逆而至太陽寒水。外應十一月。內應於左尺腎與膀胱。接右手。肺應九月。居右寸。逆至太陰。土為脾。應右關。又逆至手厥陰與三焦。以愚考之。此乃地六氣之步位。故歲首於春初之氣。亦始厥陰風木君火不任令。退居二氣。而少陽相火當夏為三之氣。四氣太陰。五氣陽明。</p>
<p>六氣太陽。乃取地之六氣。依四時而至。難以言寸口三部之位。且六節氣位。乃地理之應也。經曰顯明之右。君火之位。君火之右。退行一步。相火治之。復行一步。土氣治之。雖始以君火。亦順次而行。未嘗逆。楊仁齋以右尺其經手厥陰。其藏心包絡。其府三焦。其名命脈。決非右腎之命門。</p>
<p>以愚考之。十二經脈。自上古立名。今不悟脈歌非王叔和之本經。又立命脈以附和之。且觀於內經尺內以候腎。原不曾分左右。是合左右之尺。皆以候腎。亦無所謂命脈矣。仁齋直指於醫方發明甚高。</p>
<p>惜乎於此未明。</p>
<p>〔女人反此背看之〕（男女脈形有異同。）尺〔脈〕（位）第三同〔斷〕（腎）病。</p>
<p>歌首二句。只言部位未論脈。女人反此背看云者。原其惑於男左腎右命門。女右腎左命門。故言反此。</p>
<p>又斷之曰尺脈第三同斷病。則反此背看者。只論尺脈耳。男女有異同者脈形爾。如男脈關上盛。女脈關下盛。男左大右小為順。女右大左小為順。男女脈位即無異同也。以十二經脈所行之終始。</p>
<p>五歲之定位成形。則一也。惟莖戶及胞門子戶。精血之不同爾。安可言脈位。女人與男子反而背看乎。</p>
<p>脈訣之誤。因於腎與命門有男女之別。不知腎有兩。其左為腎。右為命門。難經雖有左右之別。</p>
<p>亦無男女左右之分。其實皆腎臟非命門也。至褚氏遺書。則又以女人心肺自尺始。倒裝五臟。則謬又甚焉。或曰南政北政。三陰司天在泉。而尺寸亦或易位。褚氏之論或原此乎。曰不然也。</p>
<p>司天在泉。以天之六步為客脈也。故隨南北政以分尺寸之不應耳。其地之六步為主脈。即隨候以見而不移也。心肺在上。肝腎在下。脾脈在中。自三才分而為人。亙古今何嘗異。無求子曰。</p>
<p>所謂反者。男子尺脈常弱。今反盛。女子尺脈常盛。今反弱。故謂之反耳。李　范因之。雖於反字義明。不同於眾論。然反盛反弱。乃男女之病脈。今入式歌。方言部位。而遽以病脈牽解。</p>
<p>似非本旨。特作歌者不善行文。故以反此背看傳惑於世耳。今刊而改之如上。</p>
<p>心與小腸居左寸。肝膽同居左關定。腎居尺脈亦如然。用意調和審安靜。肺與大腸居右寸。</p>
<p>脾胃脈從關裡認。命門還與腎脈同。用心仔細須尋趁。</p>
<p>此脈訣重分左右寸關尺部所出也。其曰命門還與腎脈同。以此句觀之。命門即腎也。既知其非動脈。前何必以命門為臟而列部邪。察病指南以右手尺為命門。卻又曰一名手心主包絡則又差。以命門為心主也。心為臟。小腸為腑。以腑配臟者。實以手少陰心經。與手太陽小腸經。二經脈相接。故同一部。其余臟腑同部皆同。然臟腑之脈。實以浮沉之位別之。腑陽也。故因浮而見。藏陰也。故因沉而見。然以難經一脈十變推之。如云心急甚者肝邪干心。心微急者膽邪干小腸。是又以本臟之脈微甚。</p>
<p>別臟腑也。察病指南以七難六氣循甲子旺脈分六腑者非也。陽明脈浮大而短。安得為胃脈形也。浮大而短。陽明燥金脈也。</p>
<p>〔若診他脈覆手看要自看時仰手認〕（診脈皆須仰手看。覆手反診用不應。）</p>
<p>古人診病必仰病患手而診。醫者覆其手。以三部九候菽重之法取之。惟反其診者不然。蓋南北二政之歲。三陰司天在泉。尺寸或有不應者。反其診則應矣。不應者。脈沉不應診也。覆病患手診之。</p>
<p>則脈見也。沉者為浮。細者為大。舍此之外。無覆手之診。</p>
<p>升按脈訣之言。謂診他則覆手。自診則仰手。取手便而已。刊誤蓋誤認歌意。以醫之覆手診人。</p>
<p>為覆病患之手也。自此以後有似此者。節去之而不辯。</p>
<p>三部須教指下明。</p>
<p>難經曰。脈有尺寸何謂也。然。尺寸者脈之大要會也。從關至尺。是尺內。陰之所治也。從關至魚際。是寸口內。陽之所治也。故分寸為尺。分尺為寸。故陰得尺中一寸。陽得寸內九分。尺寸終始。</p>
<p>一寸九分。故曰尺寸也。蔡氏曰。手太陰之脈。自腕中橫紋至魚際。橫紋得同身之一尺一寸。自腕中橫紋前盡一尺為陰之位。自魚際後一寸為陽之位。太陰動脈。前不及魚際橫紋一分。後不及腕中橫紋九寸。故古人於寸內取九分。尺內取一寸。冥契陽九陰十自然之數。尺寸之間。謂之關。關者。陰陽之限也。</p>
<p>索氏曰。</p>
<p>諸家論脈部位。或曰尺寸。或曰寸關尺。或曰三寸為三部。或尺寸三部通論。其不同者何也。素問言脈之部位。止言尺寸。未言關也。至扁鵲難經。乃言有關部。在尺寸之交。蓋扁鵲假設關位。而寓於尺寸之交。以為三部也。其實只有尺寸而已。逮仲景本論。及王叔和言脈之部位。</p>
<p>或以尺寸通論某臟某腑受病者。是確言諸臟腑之脈只一之意也。乃合黃帝之說矣。或以三部分論某臟某腑受病者。是假言諸臟腑之脈各出之意也。乃合扁鵲之說矣。今究仲景叔和。既宗黃帝。</p>
<p>言只有尺寸。又從扁鵲三部之說何哉。蓋黃帝言尺寸者。約度之義。扁鵲言三部者。亦約度之義。</p>
<p>仲景叔和所以兼取並用。非疑而兩存之也。千金載黃帝問曰。何謂三部脈也。岐伯曰。寸關尺也。</p>
<p>今考黃帝書無此說。蓋思邈假托耳。通真子曰。素問三部九候論。所述三部。言身之上中下部。</p>
<p>非謂寸關尺也。</p>
<p>九候了然心裡印。</p>
<p>素問曰。人有三部。部有九候。乃各於動脈現處候之。分九候。今脈訣所歌。以寸關尺三部。</p>
<p>每三部內有浮中沉三候。浮以候腑。中以候胃氣。沉以候臟。通一手三部為九候也。</p>
<p>大腸〔共〕（供）肺為傳送。</p>
<p>素問曰。大腸者傳導之官。變化出焉。肺者相傳之官。治節出焉。傳送者大腸之職。非與肺共也。</p>
<p>大腸以肺為臟。供送應副而已。</p>
<p>〔心與小腸為受盛〕（小腸受盛與心應。）</p>
<p>素問曰。小腸者受盛之官。化物出焉。小腸配心臟。與之相應。非心與小腸同受盛也。</p>
<p>脾胃相通五穀消。</p>
<p>素問曰。脾與胃以膜相連爾。胃受五穀。脾氣磨而消之。</p>
<p>膀胱腎合〔為津慶〕（通津徑。）</p>
<p>腎之所攝者精。胞之所藏者溺。精溺之泄。同為一徑竇而出。若曰津慶。膀胱雖為津液之府。</p>
<p>然五臟六腑皆有津液。非腎膀胱所專主也。</p>
<p>三焦〔無狀〕（為府）空有名。〔寄〕（分）在胸〔中〕（腹）。膈相應。</p>
<p>此段皆以臟腑配合為歌。至三焦。卻不以命門為配。其以三焦附於尺診歟。且心主與三焦為表裡。</p>
<p>心主脈歷絡三焦。手少陽脈遍屬三焦。其治各有所。上焦如霧。中焦如漚。下焦如瀆。各有法象。</p>
<p>不偏在下。安可診於尺也。且難經曰。上部法天。主胸以上至頭之有疾。即上焦之部。中下部即中下焦。</p>
<p>分診甚明矣。三因方之好異也。云。三焦有形如脂膜。附於兩腎夾脊。若果如此。則內經難經言之矣。</p>
<p>其經脈又何遍屬歷絡之云乎。</p>
<p>肝膽同為津液〔府〕（居）。〔能〕（上）通眼目為清淨。</p>
<p>素問曰。膀胱者州都之官。津液藏焉。則津液府。施於膀胱為當。以為肝膽則非。又肝臟膽腑。今云同為府。辭又害意。今改之同為津液居。乃言肝膽之津液耳。五臟各有液。肝之液泣。其候目。五腑皆有出入。惟膽無出入。其膽之精氣。則因肝之余氣溢入於膽。故藏在肝短葉間。相並而居。內藏精汁三合。其汁清淨。經曰。膽者清淨之府。肝藏血。開竅於目。目受血而能視。故上通眼。人年老目昏者。血衰。肝葉薄。膽汁減也。</p>
<p>智者能調五臟和。自然察認諸家病。</p>
<p>素問曰。常以不病調病患。醫不病。故為病患平息以調之為法。陳氏曰。凡欲診脈先調自氣息。</p>
<p>壓。取病患息。以候其遲數。過與不及。所謂以我醫彼。莫之敢違。</p>
<p>掌後高骨號為關。骨下關脈形宛然。以次推排〔名〕（分）尺〔澤〕（寸）。三部還須仔細看。</p>
<p>尺澤者手太陰之合穴。在肘中約紋上。其取一寸九分之法。上始魚際太淵。下終尺澤一尺一寸。</p>
<p>於尺取一寸。於寸取九分。為三部之位。通真子云。三部。寸口在上。關脈在中。尺澤在下。尺澤者。</p>
<p>尺脈一寸之外。余脈所不出不見。如入深澤而穴。故曰尺澤。安可以穴名而言尺部。今改之。無求子於三部。每部以浮中沉及四旁。分為七候。先浮按消息之。次中按消息之。次重按消息之。次上竟消息之。次下竟消息之。次推指外消息之。次推指內消息之。此無求子合經中諸法以為定法也。凡診平人之脈常以平旦。凡診病脈。則不以晝夜。王貺子亨法也。</p>
<p>關前為陽名寸口。關後為陰直下取。陽弦頭痛定無疑。陰弦腹痛何方走。陽數〔即吐〕（為熱）</p>
<p>兼〔頭痛〕（吐血）。</p>
<p>難經曰。數則為熱。脈經曰。陽數則吐血。</p>
<p>陰微即瀉臍中吼。陽實應知面熱風。陰微盜汗勞兼有。陽實大滑應舌強。陰數〔脾熱並口臭〕</p>
<p>（臍下熱痛久。）</p>
<p>脈經云。尺脈數惡寒。臍下熱痛。尺主下部。今云脾熱口臭。脾在中州。非尺所系。</p>
<p>陽微浮弱定心寒。陰滑〔食注脾家咎〕（經脈不調候。）</p>
<p>脈經曰。尺脈滑。血氣實。婦人經脈不利。及尿血。食注脾咎。當診於關上。</p>
<p>關前關後辨陰陽。察病根源應不朽。</p>
<p>此總結關前為陽名寸口以下之文也。脈經辨陰陽大法云。關前為陽。關後為陰。陽數吐血。陰微下利。陽弦頭痛。陰弦腹痛。陽微自汗。陰微自下。陽熱口生瘡。陰數加微必惡寒而煩躁不得眠。</p>
<p>陽微不能呼。陰微不能吸。今脈訣所述。或遵或違何也。潔古曰。陽弦為脈浮而弦。陰弦為脈沉而弦。</p>
<p>但言陰陽者。乃脈之浮沉也。經曰。浮為表。沉為裡。非止寸口獨浮尺獨沉。尺寸俱有浮沉。今按潔古論浮沉表裡則是。而以論此段陰陽則非。蓋脈經脈訣。皆以關前陽關後陰啟之。中論脈證。後又以關前關後辨陰陽結之。安可以浮沉論。</p>
<p>一息四至號平和。更加一至大無　。</p>
<p>素問曰。人一呼脈再動。一吸脈再動。呼吸定息。脈五動。閏以太息。命曰平人。難經曰。脈來。</p>
<p>一呼再至。不大不小。曰平。二經之言不同何也。蓋難經因論損至之脈而概舉也。故於至脈。則云一呼再至。曰平。不言一吸者。舉一使反三隅也。及後再舉。則兼呼吸。總論。不大不小者。息數調勻也。然不若內經理備言詳。其曰閏以太息者。閏在氣盈朔虛之間。太息在呼吸之間。猶歲之閏。</p>
<p>非一呼一吸之外再有呼吸也。</p>
<p>太息者。呼吸定息在呼吸之間。脈因而又一動。以成五動之數。亦如呼出心與肺。吸入腎與肝。</p>
<p>而脾受穀氣於中。在呼出吸入之間也。</p>
<p>三遲二敗冷危困。六數七極熱生多。八脫九死十歸墓。十一十二絕魂瘥。</p>
<p>〔三至為遲一二敗〕（一息一至著床害。）兩息一至死非怪。</p>
<p>遲敗。前已言矣。今重出。況下文兩息一至正論損。損有四等。故改之以舉其凡例。十四難曰。</p>
<p>何謂損。</p>
<p>一呼一至曰離經。二呼一至曰奪精。三呼一至曰死。四呼一至曰命絕。損脈從下上。自一呼一至。</p>
<p>而至四呼一至也。然離經奪精則必死矣。何待三呼四呼一至。故脈訣。兩息一至即言死。仲景曰。</p>
<p>脈有四損三日死。平人四息。病患脈一至也。五損一日死。平人五息。病患脈一至也。六損一時死。</p>
<p>平人六息。病患脈一至也。此仲景於四損之上。又增五損六損。為一日一時死期。</p>
<p>遲冷數熱古今同。難經越度分明載。</p>
<p>難經曰。數則為熱。遲則為寒。越度者秦越人之法度也。</p>
<p>熱〔即〕（積）生風冷〔生〕（動）氣。用心指下丁寧記。</p>
<p>熱豈能生風。熱積之多則風生。冷不能生氣。冷積之多則動氣。然冷熱。亦能動血而為病。不可專泥也。</p>
<p>春弦夏〔洪〕（鉤）秋似毛。冬石依經分節氣。</p>
<p>素問曰。春脈如弦。其氣來　弱輕虛以滑。端直以長。故曰弦。夏脈如鉤。其氣來盛去衰。故曰鉤。</p>
<p>秋脈如浮。其氣來輕虛以浮。來急去散。冬脈如營。其氣來沉以摶。故曰營。難經曰。者弦。脈來厭厭聶聶。如循榆葉。（當依素問作脈來　弱。招招如揭長竿末梢。）曰平。益實而滑。如循長竿。</p>
<p>曰病。急而勁益。強如新弓弦。曰死。夏鉤。脈來累累如環。如循琅　。曰平。來益數如雞舉足曰病。</p>
<p>前曲後倨。如操帶鉤曰死。秋毛。脈來藹藹。如車蓋。按之益大。（當依素問作厭厭聶聶如落榆葉。）</p>
<p>曰平。不上不下。如循雞羽。曰病。按之消索如風吹毛曰死。冬石。脈來上大下銳。如雀之啄。曰平。</p>
<p>啄啄連屬。其中微曲。曰病。來如解索。去如彈石。曰死。今按四時之脈。皆取法象本乎難經。夏脈不當改作洪。</p>
<p>阿阿緩若春楊柳。此是脾家居四季。</p>
<p>四時之末。土旺十八日。此脾土之本位。然而四時之候。四臟之脈。皆以脾土胃氣為本。難經曰。</p>
<p>脾者中州。其平和不可得見。衰乃見爾。來如雀之啄。如水之漏下。是脾家之衰見也。脈經曰。六月季夏建未。</p>
<p>坤之間。土之位。脾旺之時。其脈來阿阿而緩。名曰平脈。今脈訣增春楊柳以為法象。蔡氏曰。凡脈不大不細。不長不短。不浮不沉。不滑不澀。應手中和。意思欣欣。難以名狀者。為胃氣。亦可謂善於形容者矣。</p>
<p>今按難經所言。四時之平脈者。有胃氣之脈也。病脈者。四時脈多而胃氣少者也。死脈者。但有四時脈。而無胃氣者也。如此則胃氣之脈。隨四時而寓於當時之脈之中。為平脈也。不可得而見。亦不可得而形容。其曰阿阿而緩者。專以四季十八日中所診而見者言之耳。</p>
<p>在意專心察細微。靈樞曉解通玄記。</p>
<p>浮芤滑實弦緊洪。〔七表〕（陽脈）還應是本宗。微沉緩澀遲並伏。濡弱相兼〔八裡〕（陰脈）同。</p>
<p>脈不可以表裡定名也。惟浮沉二脈。可以表裡論。黃、岐、越人、仲景、叔和皆不言表裡。脈經王氏所作。</p>
<p>無七表八裡九道之名。今脈訣竊托叔和之名。其論脈卻悖於脈經。自六朝以來。以七表八裡九道為世大惑。未有言其非者。王裳著闡微論。謂脈訣論表不及裡。於脈之形狀大有發明。至於表裡則不言其非。尚拘拘增數長二脈為九表。加短細二脈為十裡。以九與十為陰陽數之極。嗚呼。脈之變化。固從陰陽生。然安可以名數拘之哉。從來之論脈有以浮沉長短滑澀為三陰三陽者。有以大小滑澀浮沉可以指別者。</p>
<p>有以大浮數動滑為陽。沉澀弱弦微為陰者。有以按尺寸。觀浮沉滑澀。而知病所生以治者。是皆以陰陽對舉而互見也。未嘗云七表八裡九道也。但七表八裡九道。果可以盡脈之數乎。內經曰鼓曰搏曰喘曰橫曰急曰躁。仲景曰　卑榮章綱損。曰縱橫逆順。豈七表八裡九道之能盡也。然其名雖異。實不出乎陰陽。</p>
<p>故脈當以陰陽察形。不當以表裡定名。內經曰脈合陰陽。又曰善診者察色按脈。先別陰陽。諸脈因浮而見者。</p>
<p>皆云表。不拘於七表。諸脈因沉而見者。皆曰裡。不拘於八裡。沉而滑亦曰裡。浮而澀亦曰表。詳辨在眾脈條下。</p>
<p>血營氣衛定息數。一萬三千五百通。</p>
<p>素問曰。營者水穀之精氣也。和調於五臟。洒陳於六腑。乃能入於脈也。故循脈上下。貫五臟。</p>
<p>絡六腑也。衛者。水穀之悍氣。其氣　疾滑利。不能入於脈也。故循皮膚之中。分肉之間。（謂脈外）</p>
<p>熏於肓膜。散於胸腹。靈樞曰。人受氣於穀。穀入於胃。以傳與肺。五臟六腑皆以受氣。其清者為營。</p>
<p>濁者為衛。營行脈中。衛行脈外。營周不休。五十而大會。又曰穀氣津液已行。營衛大通。乃化糟粕。</p>
<p>以次傳下。又曰穀始入於胃。其精微者。先出於胃之兩焦。以溉五臟。別出兩行營衛之道。其大氣之摶而不行者。積於胸中。命曰氣海。出於肺。循喉咽。故呼則出。吸則入。又曰其浮氣之不循經者為衛氣。其精氣之行於經者為營氣。又曰五穀入於胃也。其糟粕津液宗氣分為三隊。故宗氣積於胸中。</p>
<p>出於喉嚨。以貫心肺。而行呼吸焉。營氣者。泌其津液。注之於脈。化以為血。以營四末。內注五臟六腑。</p>
<p>以應刻數焉。衛氣者。出其悍氣之　疾。而先行於四末分肉皮膚之間。而不休者也。營氣衛氣。皆津液之所行。又曰營衛者精氣也。血者神氣也。故血之與氣。異名而同類焉。又曰營出中焦。衛出上焦。</p>
<p>又曰上焦開發。宣五穀味。熏膚充身澤毛。若霧露之溉。是謂氣。中焦受氣取汁。變化而赤。是謂血。</p>
<p>又曰經脈者。所以行血氣。而營陰陽。濡筋骨。利關節者也。衛氣者。所以溫分肉。充皮膚。肥腠理。</p>
<p>司開闔者也。靈樞曰。人經脈周身十六丈二尺。漏水下百刻分晝夜。人一呼。脈再動。氣行三寸。一吸。</p>
<p>脈亦再動。氣行三寸。呼吸定息。氣行六寸。十息。氣行六尺。二百七十息。氣行十六丈二尺。一周於身。下水二刻。二千七百息。氣行十周於身。下水二十刻。一萬三千五百息則氣五十周。水下百刻。故五十營者。備得天地之壽矣。凡行八百一十丈也。又曰。衛氣之行。一日一夜。五十周於身。晝行於陽二十五周。夜行於陰二十五周。周於五臟。是故平旦陰盡。陽氣出於目。目張則氣上行於頭。循項。下足太陽。循背。下至小指之端。其散者。別於目銳　。下手太陽。下至手小指之間外側。其散者別於目銳　。下足少陽。注小指次指之間。以上循手少陽之分側。下至手小指之間。別者以上至耳前。合於頷脈。注足陽明。以下行至足跗上。</p>
<p>入五指之間。其散者從耳下。下手陽明。入大指之間。入掌中。其至於足也。入足心。出內踝下行陰分。復合於目。故為一周。是故日行一舍。人氣行身一周。與十分身之八。其始入於陰。常從足少陰注於腎。腎注於心。心注於肺。肺注於肝。肝注於脾。脾復注於腎。為周。是故夜行一舍。</p>
<p>人氣行於陰臟一周。與十分藏之八。亦如陽行之二十五周。而復會於目。（詳見靈樞衛氣行七十六）</p>
<p>此五十周衛氣之行也。晝行陽二十五度。夜行陰二十五度。五十周而後大會於平旦者。營衛息數同也。其始從中焦注手太陰陽明。陽明注足陽明太陰。太陰注手少陰太陽。太陽注足太陽少陰。少陰注手心主少陽。少陽注足少陽厥陰。厥陰復還注手太陰。此經脈行度終始也。與衛氣之行則各異。三因方云。血為脈。氣為息。一呼一吸一定息。脈行六寸。二百七十息。行盡十六丈二尺者。</p>
<p>血之脈也。氣之息遲於脈。八息三分三厘三毫方行一寸。一萬三千五百息。方行盡十六丈二尺。今按經云氣積於胃。以通營衛。各行其道。宗氣流於海。下者注氣街。上者走息道。如此則營衛各道。如上文靈樞所言。營者水穀之精氣。出於中焦。變化為赤。入於脈。與息數呼吸應。衛者水穀之悍氣。</p>
<p>出於上焦。行於脈外。溫分肉。充皮膚。司開闔。不與脈同行。不與營同道。不與息數同應營衛也。其異如此。然而行於身也。晝夜五十周。則營與衛一也。三因以血為脈指營言。以氣為息指衛言。而謂營血之脈晝夜五十周。衛氣之息晝夜一周。不知何據。而與古經如此其異也。又按難經曰。營氣之行。</p>
<p>常與衛氣相隨上下。衛由息而動。巢元方謂氣行則血行。氣住則血住。皆疑其傳誤。王冰謂刺絡通營衛。</p>
<p>不當兼言衛在絡之間也。靈樞衛氣行篇云。衛氣之行。晝行陽。則目張而寤。夜行陰。則目瞑而寐。</p>
<p>謹按此節。言平旦陽氣之出目。而下行於手足三陽也。皆一時分道並注。非有先後次第也。此經篇末言水下一刻。人氣在太陽。水下二刻。人氣在少陽。水下三刻。人氣在陽明。水下四刻。人氣在陰分者。</p>
<p>則是先下太陽究竟。然後下少陽。俟少陽究竟。然後下陽明。俟陽明究竟。方上行陰分。大與此節矛盾。</p>
<p>並衍文也。又按此節。言陽氣流行之周數。及下文言漏水所下之刻數合而推之，其為衍衣冠文物矣。何以言之。</p>
<p>夫晝日漏下之水。凡五十刻。晝日陽氣之行。凡二十五周。以晝日漏水之刻數。配於晝日陽氣之周數。</p>
<p>則陽氣一周配漏水二刻也。又以漏水之二刻。配於陽氣之一周。則陽氣之從平旦出目。而分道並注下於手足三陽也。蓋配水下一刻焉。其從足心之出內踝。上行陰分。而復合於目。亦配水下一刻。是為一周也。如此則水下一刻。人氣當在三陽。水下二刻。人氣當在陰分。而行一周於身也。水下三刻。人氣又當在三陽。水下四刻。人氣又當在陰分。而行一周於身也。如此周流三陽與陰分。至水下五十刻。則得二十五周於身，而與篇首晝日行陽之數相合。今此篇末。水下一刻。人氣在太陽。二刻在少陽。三刻在陽明。四刻在陰分之說。則是漏水下四刻。配人氣行一周於身。水下八刻。配人氣行二周於身。水下五十刻。配人氣行一十二周半於身。與篇首晝日行於陽二十五周之說不合。豈經之本旨耶。營氣之行。自手太陰始。至足厥陰終。為一周於身也。詳其一周於身。外至身體四肢。內至五臟六腑。無不周遍。故其五十周。無陰陽晝夜之殊。衛氣之行則不然。晝但周陽。於身體四肢之外。不入五臟六腑之內。夜但周陰。於五臟六腑之內。不出身體四肢之外。故必五十周。至平旦。方與營大會於肺手太陰也。</p>
<h3>五臟歌</h3>
<p>（心肝脾肺腎）</p>
<h4>心臟歌一</h4>
<p>心藏身之〔精〕（君）。小腸為〔弟兄〕（受盛）。</p>
<p>心者。君主之官。一身之主宰也。經曰。主明則下安。曰身之精。不見心為尊矣。精有兩義。有與生俱來之精。經曰。兩神相搏。合而成形。常先身生。是謂精。非心之專主也。有五臟六腑之精。經曰。</p>
<p>腎受而藏之。腎為精之處。非心之所主也。心臟。小腸腑。大言陰與陽。小言夫與婦。不可以兄弟言。小腸為受盛之官。（盛平聲）</p>
<p>象離隨夏旺。屬火向南〔生〕（明）。</p>
<p>任物無纖巨。多謀最有靈。內行於血海。</p>
<p>衝脈為十二經之海。靈樞曰。血海者衝脈也。又手太陽少陰二經為表裡。心主血。上為乳汁。</p>
<p>下為月水。經曰。二陽之病發心脾。女子不月。心歌云。內行血海。以此。李　范以肝為血海。而牽合之。</p>
<p>非也。</p>
<p>外應舌將榮。七孔多聰慧。三毛上智英。反時憂不解。順候脈洪〔驚〕（平）。</p>
<p>洪脈見於夏。為順候。平脈。何驚之有。</p>
<p>液汗通皮潤。聲言爽氣清。伏梁秋得積。如臂在臍縈。</p>
<p>心之積。名伏梁。出難經。若內經腹中論所載。伏梁。乃風根也。非心積也。</p>
<p>順視雞冠色。凶看瘀血凝。診時須審委。細察要叮嚀。實夢憂驚怪。虛翻煙火明。</p>
<p>靈樞曰。正邪從外襲內。而未有定舍。與營衛俱行。而與魂魄飛揚。使人臥不安而喜夢云云。</p>
<p>秤之十二兩。小大與常平。</p>
<h4>心臟歌二</h4>
<p>三部俱數心家熱。舌上生瘡唇破裂。狂言滿目見鬼神。飲水百杯終不歇。</p>
<h4>心臟歌三</h4>
<p>心脈芤〔陽氣作聲〕（時失血榮）。或時〔血痢〕（尿血）吐交橫。溢關骨痛心煩躁。更兼頭面赤。</p>
<p>池氏曰。溢關者。陰氣上至於關。而未溢於關前陽部。腎之陰水。欲勝心火。火不受邪。水火交爭而兩傷。腎傷則骨痛。心傷則煩躁。以致氣上攻而頭面赤。</p>
<p>大實由來面赤風。燥痛面色與心同。微寒虛惕心寒熱。急則腸中痛不通。實大相兼並有滑。</p>
<p>舌強心驚語話難。單滑心熱別無病。澀無心力不多言。沉緊心中逆冷痛。弦時心急又心懸。</p>
<h4>肝臟歌一</h4>
<p>肝臟應春陽。連枝膽共房。色青形象木。位列在東方。含血榮於目。牽筋運爪將。逆時生恚怒。</p>
<p>順候脈弦長。泣下為之液。聲呼是本鄉。味酸宜所納。麻穀應隨糧。實夢山林樹。虛看細草芒。積曰肥氣得。杯覆脅隅旁。翠羽身將吉。顏同枯草殃。四斤余四兩。七葉兩分行。</p>
<h4>肝臟歌二</h4>
<p>三部俱弦肝有餘。目中疼痛苦　虛。怒氣滿胸常欲叫。翳　瞳子淚如珠。</p>
<h4>肝臟歌三</h4>
<p>肝軟並弦本沒邪。緊因筋急有些些。細看浮大更兼實。赤痛昏昏似物遮。溢關過寸口相應。</p>
<p>目眩頭重與筋疼。芤時眼暗或吐血。四肢癱瘓不能行。澀則緣虛血散之。肋脹脅滿自應知。滑因肝熱連頭目。緊實弦沉　癖基。微弱浮散氣作難。目暗生花不耐看。甚浮筋弱身無力。遇此還須四體癱。</p>
<h4>脾臟歌一</h4>
<p>脾臟象中坤。安和對胃門。旺時隨四季。自與土為根。磨穀能消食。榮身性本溫。應唇通口氣。</p>
<p>連肉潤肌臀〔形扁〕（廣）〔才〕（長）三〔五〕（寸五）。</p>
<p>難經曰。脾廣三寸長五寸。脈訣止言扁三寸。失長五寸之文。今合廣長。著三五之數。</p>
<p>膏凝散半斤。順時脈緩慢。失則氣連吞。</p>
<p>素問曰。五氣所病脾為吞。又曰剌中脾。十日死。其動如吞。李　范曰。連吞者。所以形容緊數之脈狀。乖於內經。失脈訣意。</p>
<p>實夢歌歡樂。虛爭飲食分。濕多成五泄。腸〔走〕（響）若雷奔。痞氣冬為積。皮黃四體昏。二斤十四兩。三斗五升存。</p>
<h4>脾臟歌二</h4>
<p>三部俱緩脾家熱。口臭胃翻長嘔逆。齒腫斷宣注氣纏。寒熱時時少心力。</p>
<h4>脾臟歌三</h4>
<p>脾脈實兼浮。消中脾胃虧。口乾饒飲水。多食亦肌虛。（肌一作飢）單滑脾家熱。口臭氣多粗。</p>
<p>澀則非多食。食不作肌膚。微浮傷客熱。來往作微疏。有緊脾家痛。仍兼筋急拘。欲吐不得吐。沖沖未得蘇。若弦肝氣盛。妨食被機謀。大實心中痛。如邪勿帶符。溢關涎退場門。風中見羈孤。</p>
<h4>肺臟歌一</h4>
<p>肺臟最居先。大腸通道宣。兌為八卦〔地〕（說）。金〔屬〕（次）五行〔牽〕（傳）。皮與毛通應。魂將魄共連。鼻聞香臭辨。壅塞氣相煎。語過多成嗽。瘡浮酒灌穿。豬膏凝者吉。枯骨命難存。本積息賁患。</p>
<p>乘春右脅邊。順時浮澀短。反即大洪弦。實夢兵戈競。虛行〔涉〕（夢）〔水〕（野田）。</p>
<p>靈樞曰。厥氣客於大腸。則夢田野。今按脈訣以水田為肺虛之夢。非也。大腸虛。為厥氣所客。</p>
<p>則夢田野。腑虛致臟虛。或可連稱。若曰水田。則腎夢也。</p>
<p>三斤三兩重。六葉散分懸。</p>
<h4>肺臟歌二</h4>
<p>三部俱浮肺藏風。鼻中多水唾稠濃。壯熱惡寒皮膚痛。顙干雙目淚酸疼。</p>
<h4>肺臟歌三</h4>
<p>肺脈浮兼實。咽門燥又傷。大便難且澀。鼻內乏馨香。實大相兼滑。毛焦涕唾黏。更知咽有燥。</p>
<p>火盛夏宜砭。沉緊相兼滑。仍聞咳嗽聲。微浮兼有散。肺脈本家形。溢出胸中滿。氣泄大腸鳴。弦冷腸中結。芤〔暴痛無成〕（為失血榮）。</p>
<p>暴痛無成。是不痛也。潔古解得之。解作痛者又非。改為失血為當。</p>
<p>沉細仍兼滑。應知是骨蒸。皮毛皆總澀。寒熱兩相承。</p>
<h4>腎臟歌一</h4>
<p>腎臟對分之。膀胱共合宜。旺冬〔身〕（行）屬水。位北定無欺。兩耳通為竅。〔三焦附在斯〕二（陰竅附斯）。</p>
<p>三焦非腎所附。說見前篇。腎開竅於二陰。與兩耳。皆為腎竅。</p>
<p>味鹹歸藿豆。精志自相隨。沉滑當時〔本〕（脈）。浮〔攤〕（緩）厄在脾。色同烏羽吉。形似炭煤危。</p>
<p>冷積多成唾。焦煩水易虧。奔豚臍下積。究竟骨將痿。實夢腰〔難〕（脊）解。</p>
<p>曰難解。是不解也。</p>
<p>虛行溺水湄。一斤余一兩。〔脅下〕（腰脊）對相〔垂〕（依）。</p>
<p>難經曰。腎形如豇豆。相並而曲。附於脊膂。外與臍相對。脅下。肝之部位非腎位。亦不垂。</p>
<h4>腎臟歌二</h4>
<p>三部俱遲腎藏寒。皮膚燥澀發毛干。忽夢鬼神時入水。覺來情思即無歡。</p>
<h4>腎臟歌三</h4>
<p>腎散腰間氣。尿多更滑精。（別本作澀滑並者非）軟為膝脛痛。陰汗豈無憑。（別本作其中有聚散聚散且無憑者非）實滑小便澀。淋痛澀　。脈澀精頻漏。恍惚夢魂多。小腸疝氣逐。夢裡涉江河。</p>
<p>實大膀胱熱。小便澀難通。滑弦腰腳痛。沉緊病還同。〔單〕（平）勻無病憊。浮緊耳應聾。</p>
<h3>左右手分診五臟四時脈歌</h3>
<p>左右須候四時脈。四十五〔動為一息〕（日三氣畢）。</p>
<p>難經曰。脈不滿五十動一止。一臟無氣。脈訣生死歌云。五十不止身無病。數內有止皆知病。正本難經。</p>
<p>今此乃曰四十五動為一息。及六部脈歌。皆以四十五動為準。乖於內經。謬於名數。今於後六歌。</p>
<p>皆當改作五十動為是。且一息者一呼一吸也。四十五動。非止一息也。若以息為止息。則脈經所謂五十動不止者。五臟六腑皆受氣。即無病。五十動一止五歲死。五動一止五日死。四十五動。除去五動。</p>
<p>而不及五十。不知何意。今詳此句。想因四時脈而言。或本於內經。冬至夏至各四十五日。為陰陽上下之期。一時六氣九十日。三氣得四十五日。今改為四十五日。以合內經。李　范脈髓。作四十五動圖說。</p>
<p>亦巧而未敢信。通真子潔古諸解穿鑿。皆非。蓋脈之流行。如環無端。無一息之停。未嘗以五十動一止為限。</p>
<p>但止即為病。依數而止。期以歲死。不依數而止。則為結促代三病脈矣。</p>
<p>指下〔弦〕（浮）急洪〔緊〕（數）時。便是有風兼熱極。忽然匿匿慢沉細。冷疾纏身〔無他事〕（兼患氣）。</p>
<p>賊脈頻來問五行。屋漏雀啄終不治。</p>
<h3>左手寸口心脈歌</h3>
<p>左手頭指〔火〕（木之子）。〔四十五動〕（五十動脈）無他事。</p>
<p>左手者。病患之手。頭指者。醫者按脈。初下第一部之指。下準此。心火為木之子。</p>
<p>三十一動忽然沉。頓飯忽來還復此。春中候得夏須憂。夏若得之秋絕體。秋脈如斯又準前。</p>
<p>冬若候之春必死。</p>
<p>脈沉頓飯之久然後來。乃絕止之脈。見於三十一動之間。三十動一止。應在三年死。今云在三月一時之後。是以月為年也。此下六歌之非皆然。當以在後生死候歌為正。</p>
<h3>左手關部肝脈歌</h3>
<p>左手中指木相連。脈候還須〔來一息〕（足五十）。二十六動沉卻來。〔肝臟有風兼熱極〕（克在二年為死日）。</p>
<p>曰沉卻來。即是止脈。不可為風熱之診。此歌蓋傳誤。大抵止脈。皆不吉之兆。諸家穿鑿以求符合。</p>
<p>皆非。今直據診生死候歌斷之。二十動一止。二歲死。下仿此。不再論。</p>
<p>三十九動澀匿匿。木臟及筋終絕塞。一十九動便沉沉。肝絕未曾人救得。</p>
<h3>左手尺部腎脈歌</h3>
<p>左手腎脈指第三。〔四十五動〕（五十動足）無疾咎。指下急急動〔弦〕（數）時。便是熱風之脈候。</p>
<p>忽然來往慢慢極。腎臟敗時須且救。此病多從冷變來。療之開破千金口。二十五動沉卻來。腎絕醫人無好手。努力黃泉在眼前。縱在也應終不久。</p>
<h3>右手寸口肺脈歌</h3>
<p>右手頭指肺相連。〔四十五動〕（五十動足）無憂慮。極急明知是中風。更看二十余七度。忽然指下來往慢。肺冷莫言無大故。一朝肺絕脈沉沉。染病臥床思此語。十二動而又不來。咳嗽唾濃兼難補。</p>
<p>〔發直如麻只片時〕（毛折皮枯喘不休。）扁鵲也應難救護。</p>
<p>發直如麻。小腸絕也。改作毛折皮枯。以合難經手太陰脈絕之證。仲景云。若汗發潤。喘不休者。</p>
<p>肺先絕。</p>
<h3>右手關上脾脈歌</h3>
<p>右手第二指連脾。〔四十五動〕（五十動足）無諸疑。急動名為脾熱極。食不能消定若斯。欲知病患多為冷。指下尋之慢極遲。吐逆不定經旬日。胃氣衝心得幾時。</p>
<h3>右手尺部〔命門〕（腎）脈歌</h3>
<p>右手〔命〕（腎）脈三指下。五十動足不須怕。一十九動默然沉。有死無生命絕也。指下急急動如弦。腎臟有風猶且治。七動沉沉更不來。努力今朝應是死。</p>
<h3>七表</h3>
<p><u>〔一〕浮者陽也。</u></p>
<p>指下〔尋〕（按）之不足。舉之有餘。〔再再尋之如太過〕（脈在肉上行）曰浮。</p>
<p>主咳嗽氣促。冷汗自出。背膊勞倦。夜臥不安。</p>
<p>脈訣曰。如太過曰浮。既曰舉之有餘矣。如何而太過。曰太過。則浮洪浮緊浮弦之脈。如何診之。</p>
<p>脈經並無如太過之文。又尋與按不同。按者重手於肌肉筋骨部也。尋則或上或下。或左或右。隨脈部以尋之。浮脈按之不足。非尋之不足也。</p>
<p>按之不足舉之余。再再尋之指下浮。臟中積冷榮中熱。欲得生精用補虛。</p>
<p>寸浮中風頭熱痛。關浮腹脹胃虛空。尺部見之風入肺。大腸干澀故難通。</p>
<p><u>〔二〕芤者陽也。</u></p>
<p>〔指下尋之兩頭即有中間全無〕（舉之。浮大而軟。按之。兩邊實。中間虛。）</p>
<p>曰芤。〔主淋瀝氣入小腸〕（主失血。）</p>
<p>芤、草名。其葉類蔥。中心虛空。故以指按芤草葉。喻失血之脈。芤之名不見於內經。又曰安臥脈盛。謂之脫血。至仲景傷寒論曰。脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。虛寒相搏。</p>
<p>此名為革。亦未嘗以芤為定名。但附見於革。至王叔和始立芤脈。脈經曰。芤脈。其象兩邊似有。</p>
<p>中間全無。今脈訣乃曰。兩頭則有。中間全無。則誤矣。夫尺脈上不至關為陰絕。寸口下不至關為陽絕。</p>
<p>若兩頭似有。中間全無。則是陰陽絕脈也。安得為芤脈乎。經曰。營行脈中。是血在脈中行。脈以血為形。血盛則脈盛。血虛則脈虛。故芤脈中空者。血之脫也。芤脈。先舉指時浮大而軟。因按而中空。</p>
<p>今脈訣首言指下尋之。非也。仲景曰。脈浮而緊。按之反芤。其人本虛。若浮而數。按之不芤。此人本不虛。是皆於按上以見芤脈。尋者在浮舉沉按之間耳。下仿此。</p>
<p>指下尋之中且虛。邪風透入小腸居。患時〔淋瀝〕（尿血）兼疼痛。大作湯丸必自除。</p>
<p>諸家論芤皆為失血之診。今曰邪風入小腸而淋瀝。非其證也。蓋是尿血之證矣。</p>
<p>寸芤積血在胸中。關內逢芤腸裡癰。尺部見之虛在腎。小便遺瀝血凝膿。</p>
<p><u>〔三〕滑者陽也。</u></p>
<p>〔指下尋之三關如珠動按之即伏不進不退〕（往來前卻。流利展轉。替替然與數珠相似。應指圓滑。又曰漉漉如欲脫。）曰滑。主肢體困弊。腳手酸痛。小便赤澀。</p>
<p>脈經曰。輕手得之為浮滑。重手得之為沉滑。其象往來流利。應指圓滑。若珠之隱指。今脈訣曰。</p>
<p>按之即伏。不進不退。則是有浮滑而無沉滑也。經曰。一陰一陽者。謂脈來沉而滑也。是沉中亦有滑也。故王裳言脈訣論表不及裡也。且脈有獨見於一部者。有通三部見者。今曰三關如珠動。非也。按之即伏。</p>
<p>不進不退。則是脈不往來而定。豈所謂滑乎。今取脈經所載。而去其浮中而有力之語。蓋此語只言浮滑。</p>
<p>亦一偏之言。夫血多則脈滑。滑之本體也。若氣血和順。其動不澀不急不緩。和滑之脈。為不病。</p>
<p>婦人為妊子。今若曰滑為陽為病熱為實。則此滑字。當帶數及小實言之。大抵此脈訣言脈之形狀。</p>
<p>往往未當。今據經改正之。而脈下所主之證。多與本脈不類。改之則不勝改。姑置之可也。</p>
<p>滑脈如珠動曰陽。腰中生氣透前腸。脛酸只為生寒熱。大瀉三焦必得康。</p>
<p>滑脈寸居多嘔逆。關滑胃〔寒〕（熱）不下食。尺部見之〔臍似冰〕（熱下焦。）〔飲水下焦聲瀝瀝〕（月信不通尿血澀。）</p>
<p>前脾臟歌云。單滑脾家熱。今云胃寒不下食。何也。脈經曰。關滑。胃中有熱。又云中實逆滑為熱實。故不欲食。食即吐逆。可明為熱。池氏謬言肝木克脾土。致寒弦為肝脈。滑豈肝脈乎。</p>
<p>脈經曰。尺滑下利少氣。脈賦解義云。男子尺滑。主膀胱冷氣。小腹急脹。便漩利數。又云尺滑。</p>
<p>主胞絡極冷。月經不調。直以滑脈為陰。主冷。不當。不若脈經所謂尺滑。血氣實。婦人經脈不利。</p>
<p>男子尿血為得。今脈訣云。臍似冰。則滑為陰證。又曰飲水。則滑為陽熱。又曰瀝瀝作聲。則滑為停水之證。既言冷又言熱。不知何謂。今正之。</p>
<p><u>〔四〕實者陽也。</u></p>
<p>〔指下尋之不絕舉之有餘〕（浮中沉三候皆有力）曰實。主伏陽在內。脾虛不食。</p>
<p>肢體勞倦。柳氏曰。實者氣結不通。欠疏快意。上部實。則氣壅。下部實。則氣脹。中部實。中脘不快。</p>
<p>素問曰。氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。此表裡虛實之診也。今脈實而曰脾虛。未敢信。</p>
<p>實脈〔尋之舉〕（浮沉皆）有餘。伏陽蒸內致脾虛。食少只緣生胃壅。溫和湯藥乃痊除。</p>
<p>舉有餘。止言浮實。故改之。</p>
<p>實脈關前胸熱甚。當關切痛中焦恁。尺部〔如繩應指來〕（當為下痢疼。）腹脹小便〔都〕（淋）不〔禁〕（忍）。</p>
<p>如繩。非實脈之比。乃緊脈也。故改之。脈經曰。尺實小腹痛。小便不禁。又云小便難。少腹牢痛。蓋氣來實強者。太過之脈。與淋瀝相應。若云小便不禁。則膀胱不固。水泉不止。為下焦劇寒之證矣。脈經用當歸東加大黃。蓋因熱而用也。小便不禁。必傳寫之誤。後云小便難者是也。潔古於此。一用薑附。一用承氣。為兩可之辭。將以為寒乎。以為熱乎。</p>
<p>愚按潔古藥注脈訣及難經。皆他人托之潔古。必非此翁之書。</p>
<p><u>〔五〕弦者陽也。</u></p>
<p>〔指下尋之不足舉之有餘狀若箏弦時時帶數〕（端直以長。如弦隱指。）曰弦。</p>
<p>主勞風乏力。盜汗多出。手足酸疼。皮毛枯槁。</p>
<p>指下左右皆無。從前中後直過。挺然於指下。曰弦。此血氣收斂不舒之候。脈訣以弦為陽。傷寒論以弦為陰。脈賦解義亦云弦滑雖屬七表。皆主於陰。活人書云。若弦而洪數者為陽。弦疾而沉且微細者為陰。主拘急。以愚觀之。經曰陰中之陽肝也。當為半陰半陽之脈。脈訣曰。指下尋之不足。舉之有餘。則是有浮弦而無沉弦也。經曰。脈沉而弦者。主懸飲內痛。是沉中亦有弦。又曰時時帶數。則是弦數二脈相兼。非單弦脈也。素問曰。氣來　弱。輕虛以滑。端直以長。曰弦。今不取輕虛以滑。恐有弦數弦遲兼他脈之診。故止以弦本狀。端直以長為弦。然有弦而細。有弦而粗。看在何部。弦而　其病輕。</p>
<p>弦而硬其病重。大率弦脈急強。血氣不和之所生也。又有偏弦雙弦之診。</p>
<p>〔弦脈為陽〕（端直以長）狀若弦。四肢更被氣相煎。三度〔解〕（溫）勞風始退。常須固濟下丹田。</p>
<p>弦浮數大四者皆勞也。大者易治。脈氣未衰。可斂而正也。弦者難治。血氣已耗而難補。雙弦則賊邪侵脾。尤為難治。加數則殆矣。內經曰。勞者溫之。不可用解。</p>
<p>〔寸部脈緊一條弦胸中急痛狀繩牽關中有弦寒在胃下焦停水滿丹田〕（寸弦頭痛胸中痛。左關癖痛攣拘。右關有飲寒留胃。尺弦腹痛腰腳拘。）</p>
<p>既歌弦脈。又言脈緊。非也。此歌脈證未是未盡。今改作。脈經曰。寸弦。心下　。微頭痛。</p>
<p>心下有水氣。一云。胸中拘急。關弦胃寒。心下厥逆。一云心下拘急。此胃氣虛故爾。尺弦。小便痛。</p>
<p>小腹及腳中拘急。一云臍下拘急。</p>
<p><u>〔六〕緊者陽也。</u></p>
<p>〔指下尋之三關通度按之有餘舉指甚數狀如洪弦〕（來往有力。左右彈人手。既如轉索。又如切繩。）</p>
<p>曰緊。主風氣。伏陽上衝。化為狂病。</p>
<p>內經、難經。未言緊也。內經曰急不曰緊。曰來而左右彈人手。有緊脈之狀。未有緊脈之名。至仲景曰緊者如轉索無常。又曰緊脈從何而來。假令亡汗若吐。以肺裡寒。假令咳者。坐飲冷水。假令下利。以胃中虛冷。皆因寒而脈緊。故脈急為寒。諸緊為寒至。王叔和脈經。則又增如切繩狀。故愚合三書所論以形容之。左右彈人手者。緊脈來之狀。左右彈人手也。轉索無常者。索之轉動。不常在一處。或緊轉在左。或緊轉在右。此舉指而得緊脈之狀也。切繩狀者。繩以兩股三股糾合為徽纏。又以物切之。其展轉之緊。得之於按指而見。以指按脈。猶如切繩。合此三者論之。方備。脈經曰。重手得之為沉緊。</p>
<p>輕手得之為浮緊。故咳嗽之脈沉緊則死。中惡之脈浮緊則死。今脈訣曰。狀若洪弦。此誤也。緊為寒為痛。</p>
<p>弦為寒為飲。洪為氣為熱。主疾既殊。治之亦異。一概言之為害甚矣。且弦小於緊。數大於弦。洪則不然。</p>
<p>舉按盛大。非與二脈同也。又緊而遲為寒。緊而數為熱。若曰按有餘。舉甚數。則又類實脈。若緊遲緊細。</p>
<p>又何以診。又總曰三關。不曰三部。又昧於尺寸之名。今悉改之。論此緊脈者。或曰在筋肉之間通度。</p>
<p>或曰按之實數。是有三部之通緊。而無各部之獨緊。有按之緊。而無浮之緊。皆一偏之辭。仲景曰。脈至如轉索者。其日死。為其緊急不軟。無胃氣也。轉索一也。有死生之分。宜詳辨之。</p>
<p>緊脈三關數又弦。上來風是正根元。忽然強語人驚怕。不遇良醫不得痊。</p>
<p>前言狀若洪弦。今曰數又弦。是見之不明。而頻移其說以遷就也。前云主風氣伏陽。化為狂。今去伏陽獨言風。仲景及脈經。皆曰諸緊為寒。非可以為風狂伏陽之診。難經曰。重陽者狂。豈緊脈為重陽乎。</p>
<p>重陽者、謂陽部更有洪大滑長數等脈見耳。內經曰。陰不勝其陽。則脈流薄疾。並乃狂。薄疾者、極虛而急數。並、謂盛實。亦非緊脈也。</p>
<p>緊脈關前頭裡痛。到關切痛無能動。〔隱指寥寥〕（轉索無常）入尺來。〔繳結〕（疼痛）繞臍長手捧。</p>
<p>脈緊如轉索。非隱指寥寥之狀。繳結非痛之狀。今改之。李氏曰陽脈至陰部。自然隱伏指下。寥寥入來。</p>
<p>若在寸部。則不寥寥。以愚視之。脈隨病而見。不隨部而改。小腹痛必寒氣固結。攻擊於下焦。所以脈緊。</p>
<p>安有因在尺部。而脈變形乎。</p>
<p><u>〔七〕洪者陽也。</u></p>
<p>〔指下尋之極大舉之有餘〕（極大在指下。來大去長而滿指。）曰洪。主頭痛。</p>
<p>四肢洪熱。大腸不通。燥熱。糞結。口乾。遍身疼痛。</p>
<p>指下尋之極大。舉之有餘。是浮沉皆大之象。有類實脈矣。脈經曰。極大在指下。不言舉按。可以見洪之本狀。診者自當隨其見於浮沉以參求爾。極大在指下者。指下前後左右四旁。脈來皆盛大滿指。是言本體之形大也。來大去長。言其來去之形大也。</p>
<p>洪脈根元本是陽。遇其〔季夏〕（夏月）自然昌。若逢秋〔季〕（月）及冬〔季〕（月）。發汗通腸始得涼。</p>
<p>仲景曰。立夏得洪大脈。是其本位。為應時之脈。今曰季夏。池氏遷就以為季夏心火漸退。得脾土偃之。</p>
<p>其熱病自退。若然。則秋冬只在九月十二月。得洪脈。方可發汗通腸乎。今季字皆改為月字。</p>
<p>洪脈關前熱在胸。當關翻胃〔幾千重〕（熱來沖）。更向尺中還若是。小便赤澀腳酸疼。</p>
<h3>八裡</h3>
<p><u>〔一〕微者陰也。</u></p>
<p>〔指下尋之極微再再〕尋之若有若無。（欲絕非絕。又曰按之如欲盡。）曰微。</p>
<p>主敗血不止。面色無光。</p>
<p>若有若無。欲絕非絕。所以形容微之不可見。按之如欲盡。謂必輕手診則可見。重手按則欲盡而無也。微與濡弱相類。極軟而浮細曰濡。極軟而沉細曰弱。極細而軟。無浮沉之別者。微脈也。微與澀細何以分。細而又短於微來往蹇滯曰澀。細而稍大常有曰細。細而稍長似有似無曰微。合五脈相類者詳分之。則微脈可知矣。陽微惡寒。陰弱發熱。微浮雖甚不成病。不可勞。脈經曰。脈者氣血之候。</p>
<p>氣血既微。則脈亦微矣。沉微則補陰。浮微則補陽。調補之道。以此為準。凡得是脈。必羸弱氣虛為宜。</p>
<p>故風勞氣虛之病。多得是脈。柳氏曰。脈分四時。春夏發生長旺。畏見此脈。秋冬見尚庶幾。又曰人稟氣以生。若微脈太過。陽虧氣乏。何足以生。</p>
<p>指下尋之有若無。漩之敗血小腸虛。崩中日久為白帶。漏下多時骨亦枯。微脈關前氣上侵。當關郁結氣排心。尺下見之臍下積。身寒飲水即呻吟。</p>
<p>微在尺為陰盛陽虛。故為身寒。不可飲水。若飲水。則兩寒相搏。痛而呻吟也。通真子曰多聲。池氏曰身寒飲水。李氏曰好飲冷水。皆非也。</p>
<p><u>〔二〕沉者陰也。</u></p>
<p>〔指下尋之似有舉之全無緩度三關狀如爛綿〕（舉之不足。按之有餘。重按乃得。</p>
<p>有肌肉之下。）曰沉。主氣脹兩脅。手足時冷。</p>
<p>輕指於皮膚間不可得。徐按至肌肉中部間應指。又按至筋骨下部乃有力。此沉脈也。沉與浮相反。</p>
<p>與伏相近。沉脈。重按乃得於筋骨下部。若伏脈。則雖重按至筋骨下部亦不見。必用指推開筋方可見脈。難經曰伏者脈行筋下也。內經曰推而內之。推而外之。皆是用指推筋脈以求之。非一定其指。於病患臂上。俟其脈之自見也。此持脈口訣也。脈經曰沉者陰脈之始也。其象。按之至筋骨得之者。是也。其體沉潛。深居諸脈之下。有地之氣焉。凡諸脈即沉而見。則知其在陰而裡受之。</p>
<p>今脈訣曰按之似有。狀如爛綿。曰沉。如此則沉弱沉微沉細之脈。又當何如而診之。甚失脈經之意矣。</p>
<p>經曰關以後者陰之動也。脈當見一寸。而沉。過者法曰太過。減者法曰不及。豈有按之似有狀若爛綿之不及也。</p>
<p>按之〔似〕（即）有舉還無。氣滿三焦臟腑虛。冷氣不調三部壅。通腸健胃始能除。</p>
<p>按之似有。是沉微脈。非獨沉也。今改云按之即有。沉為陰。通腸宜溫藥利之。</p>
<p>寸脈沉兮胸有痰。當關氣〔短〕（痞）痛難堪。</p>
<p>氣短者。氣不能相續。似喘而實非。氣上衝。似呻吟而無痛。乃氣急而短促也。今曰痛難堪。則非氣短。脈經曰。關沉。心下有冷氣。苦滿吞酸。則痛者氣痞不通而痛也。</p>
<p>若在尺中腰腳重。小便稠數色如泔。</p>
<p><u>〔三〕緩者陰也。</u></p>
<p>指下尋之。往來遲緩。〔小於遲脈〕（去來亦遲。小　於遲。又曰陽脈浮大而濡。陰脈浮大而濡。陰脈與陽脈同等。）曰緩。〔主四肢煩悶氣促不安〕</p>
<p>緩者二義。去來亦遲。小　於遲。每居中部或下部間。柔軟而慢。但小於沉脈。兼之緩軟。此有邪之診。為不及之緩。陰陽氣和。陽寸陰尺。上下同等。同浮大而軟。無有偏勝。此無邪之診。為陰陽和緩之緩。緩與遲二脈相類。緩脈大而慢。遲脈小而衰。緩者衛有餘而營不足。遲者陰氣盛而陽氣衰。</p>
<p>二診不同。遲脈一息三至。緩脈一息四至。脈經曰。緩脈小　於遲。今脈訣反云小於遲脈。誤矣。</p>
<p>四肢煩悶。氣促不安。皆非緩脈之證。</p>
<p>來往尋之狀若遲。腎間生氣耳鳴時。邪風積氣來沖背。腦後三針痛即移。</p>
<p>緩脈關前搐項筋。當關氣結腹難伸。尺上若逢　冷結。夜間常夢鬼隨人。</p>
<p><u>〔四〕澀者陰也。</u></p>
<p>〔指下尋之似有舉之全無前虛後實無復次序〕（細而遲往來難。且散。或一止復來。又曰短而止。）曰澀。主腹痛。女子有孕。胎痛。無孕。敗血為痛。</p>
<p>脈來蹇澀。細而遲。不能流利圓滑。澀者澀也。與滑相反。如刀刮竹。竹皮澀。又有節。刀刮而行澀。</p>
<p>遇節則倒退。有澀脈往來難之意。如雨沾沙。沙者不聚之物。雨雖沾之。其體亦細而散。有澀脈往來散之意。或一止復來。是因澀不流利之止。與結促代之止不同。玉函經曰。切脈定知生死路。但向止代澀中取。看取澀脈與止代。此是死期之大概。澀脈與外有形證。未可斷他殂大命。若是形證與代同。尺部見之皆死定。黎氏曰代者止也。一臟絕。他臟代至。為真死脈。不分三部。隨應皆是。澀者。三五不調。</p>
<p>如雨沾沙。為精血不足之候。與代相似。然三秋診得澀而有胃氣為平脈。右手寸口。浮短而澀。為肺正脈。</p>
<p>二者皆非死脈。若尺寸俱浮緊而澀。外證必發熱惡寒。項強腰痛。牽連百節俱痛。乃太陽經傷寒。汗之愈。舉此數端。以見澀脈與代脈不可例觀。尺脈者人之根本。澀為精血不足之候。若獨於尺中見澀。則死候也。</p>
<p>脈經曰。澀脈之象。往來蹇滯。行而多礙。夫脈者資血氣而行。血氣損傷。營衛行澀。故脈亦澀。</p>
<p>脈訣曰。按之似有。舉之全無。是有沉澀無浮澀。經曰一陰一陽。謂脈來浮而澀也。則是浮中亦有澀。</p>
<p>豈獨沉有澀乎。蓋浮而澀者營衛傷。沉而澀者精血損。表裡之證不同。故脈亦異。豈獨有裡而無表乎。</p>
<p>難經曰。前小後大。前大後小。其前後以尺寸論也。今云前虛後實。澀為少血。其形蹇滯。細短且散。</p>
<p>安能後實。若後實則非澀矣。其曰無復次序。即內經所謂參伍不調。上下如參舂之脈。是脈之亂。脈亂則死矣。今以脈經改之。</p>
<p>澀脈如刀刮竹行。丈夫有此號傷精。婦人有孕胎中痛。無孕還須敗血成。</p>
<p>澀脈關前胃氣並。當關血散不能停。尺部如斯逢逆冷。體寒臍下作雷鳴。</p>
<p><u>〔五〕遲者陰也。</u></p>
<p>〔指下尋之重手乃得隱隱〕（一息三至。去來極遲。）曰遲。主腎虛不安。</p>
<p>中風口　。脈浮而遲則生。今脈訣於遲脈曰重手乃得。是無浮遲之脈乎。立脈之名曰遲。以其比平人一息四至。減去一至。故也。今曰隱隱。果何所似。且如蛛絲曰氣衰。如風吹毛曰肺死。微甚欲絕。伏甚不出。則庶可隱隱形容之。三至為遲。何隱隱乎。</p>
<p>〔遲脈人逢狀且難〕（三至為遲一息間。）</p>
<p>遲脈一息三至。以至數之。至為易見。</p>
<p>遇其季夏不能痊。神工診著知時候。〔道是脾來水必干〕（或是脾虛或腎寒。）</p>
<p>通真子曰。遲脈屬腎。腎水憂在土。土季夏旺。潔古云遲本土也。當仿此一脈為時勝故長。</p>
<p>夏勝冬。土克水。池氏曰。季夏現遲。季夏土正旺。勝其腎水。水必枯。病不痊。抑脾土。滋腎水。</p>
<p>方為良工。以愚考之。內經曰脈遲者為臟病。難經曰遲者陰也。遲為在臟。非脾旺脈。亦非屬腎之脈。假使季夏土旺。脾能克腎。不緣脈遲。阿阿和大而緩。是脾之正脈。是因季夏時而旺。不病之脈。若素有腎虛之病。則憂之。若曰因時旺脈。能克所勝。則是春肝脈旺。必克脾土。四時旺脈。</p>
<p>因序而見。人人四時皆病矣。今此脈訣之意。蓋以夏月萬物盛大。陽旺之時。而得遲脈為失時反證。</p>
<p>陰氣大盛。脾者陰中之至陰也。遲在脾則脾冷。腎者亦陰也。遲在腎則腎冷。內經曰未有藏形。</p>
<p>於春夏而脈沉澀。秋冬而脈浮大。命曰逆四時。今遲脈在夏。亦逆四時也。</p>
<p>寸口遲脈心上寒。當關腹痛飲漿難。流入尺中腰腳重。濃衣重覆也嫌單。</p>
<p><u>〔六〕伏者陰也。</u></p>
<p>〔指下尋之似有呼吸定息全無再再尋之不離三關〕（極重按之。著骨乃得。</p>
<p>又曰關上沉不出。又曰脈行筋下。）曰伏。主毒瓦斯閉藏三關。四肢沉重。手足時冷。</p>
<p>伏脈者。初下指輕按。不見。次尋之中部。又不見。次重手極按。又無其象。直待以手推其筋於外而診。乃見。蓋脈行筋下也。若如常診。不推筋以求。則無所見。昧者以為脈絕矣。沉脈因按而知。伏脈因推而得。</p>
<p>伏與沉相似。沉者重按乃得。伏者重按亦不得。必推筋乃見也。若重按不得。推筋著骨全無。則脈絕無而死矣。脈訣曰。指下尋之似有。則非伏也。呼吸定息全無。則脈絕也。再再尋之不離三關。三關。三部一寸九分之位也。豈他脈之診乃離舍三關乎。此脈訣言伏脈之狀最謬。</p>
<p>陰毒伏氣切三焦。不動營家氣不調。不問春秋與冬夏。徐徐〔發汗〕（調理）始能消。</p>
<p>伏為積聚。有物為積。有營積。有衛積。有藏積。隨所積而施治。可也。今曰不動營家氣不調。</p>
<p>是先治營血而氣自調也。必也治營積而見伏脈者方可。若夫氣積。及食物積。藏積。又當各治其本。</p>
<p>且氣為是動。血為所生者。難經曰。氣留而不行者。為氣先病。血滯而不濡者。為血後病。故先為是動。</p>
<p>後為所生病。以此論之。當先調氣而血自順。亦有血先病而氣後病者。隨病施治可也。難乎執一。其因物聚者。又必以所惡者攻之。以所喜者誘之。亦不專於先動營也。通真子曰。伏脈不可發汗。更宜消息。誠哉是言。內經曰其有邪者漬形以為汗。其在皮者汗而發之。仲景曰脈浮者。病在表。可發汗。</p>
<p>又曰表有病。脈當浮。今伏脈乃在裡之病。豈宜發汗。雖曰徐徐。其動表一也。非其治也。潔古又引陽盛陰虛。汗之則愈。以升麻湯、麻黃湯、麻黃附子細辛湯為治。亦非也。難經所云。仲景所述。曰陽盛陰虛者。謂傷寒之邪。在表為陽。在裡為陰。邪入皮膚。惡寒發熱。是表虛而受邪曰陽虛。未傳入裡。裡未受邪。曰陰盛。故云汗之則愈。非論伏脈為陰盛也。假使陰毒為病。正當隨淺深。用溫藥祛逐。</p>
<p>其可發汗邪。</p>
<p>積氣胸中寸脈伏。當關腸癖常暝目。尺部見之食不消。〔坐臥不安〕（　瘕攻痛）還破腹。</p>
<p><u>〔七〕濡者陰也。</u></p>
<p>〔指下尋之似有按之依前卻去〕（極軟而浮細。輕手乃得。不任尋按。）曰濡。</p>
<p>主少氣。五心煩熱。腦痛耳鳴。下元冷極。</p>
<p>有餘於上曰浮。既浮而細曰軟。浮而軟細曰濡。按之無有。舉之則浮細而極軟。必輕手乃可得。</p>
<p>脈經曰如帛衣在水中。帛漫在水。虛浮見於水面。若用指按之。則隨手而軟散。不與手應。此濡脈之狀也。</p>
<p>濡與遲弱相近。一息三至。隨浮沉而見曰遲。極軟而浮細。輕手乃得。不能沉。曰濡。輕軟而沉細。</p>
<p>按之乃得。重按欲絕。指下不能起伏。不能浮。曰弱。濡弱遲微之脈。皆氣血之不足者也。大病後。</p>
<p>或產婦。喜見此等脈。平人強人忌見之。更隨時隨病消息之。脈訣曰指下尋之似有。與言伏脈同。何是何非耶。且諸脈之應。皆一來一去。如曰來疾去遲。曰來盛去不盛。以別鉤脈。外實內虛之診。</p>
<p>今曰按之依前卻去。其狀果何如耶。內經曰軟。脈經曰濡。同一脈也。難經曰春脈弦。濡弱而長。按之濡。舉之來實者。腎也。沉濡而滑曰石。是皆兼他脈。以濡在中和為胃氣之本。為平脈。旺脈。</p>
<p>若濡脈獨見。則病脈也。內經曰心脈　散。當消環自已。肝　散。病溢飲。胃　散。病食痹。脾　散。</p>
<p>色不澤。足　腫。腎　散。病少血。其言　散脈。與搏堅而長對。言病也。故難經亦以氣來虛微。</p>
<p>來實強。對言之。非所謂濡與虛弱之診也。</p>
<p>〔按之似有舉之無〕（舉全無力按如無。）</p>
<p>脈訣。此句全非濡診。活人書曰。按之似無。舉之全無力。曰濡。今從之。髓海丹田定已枯。</p>
<p>四體骨蒸勞熱甚。臟腑終傳命必殂。濡脈關前〔人足汗〕（虛自汗。）</p>
<p>脈訣足字本為充足之足。昧者誤以手足之足訓之。今改為自汗。庶無誤也。</p>
<p>當關少氣精神散。尺部綿綿卻惡寒。骨與肉疏都不管。</p>
<p><u>〔八〕弱者陰也。</u></p>
<p>指下尋之如爛綿相似。〔輕手乃得重手乃無怏怏不能前〕（極軟而沉細。按之如絕指下。）曰弱。〔主氣居於表〕生產後客風面腫。</p>
<p>弱者扶持不起之狀。不能起伏。不任尋按。大體與濡相類。濡脈細軟而浮。弱脈則細軟而沉。以此別之。病後見此脈為順。強人平人見之。為損為危。獨見一部或二部猶庶幾。</p>
<p>三部六部皆見之。甚矣。脈經論弱云。按之乃得。舉之無有。今脈訣云輕手乃得。重手乃無。與脈經相反。今改之。又弱為虛候。氣血損減。今云氣居於表。果何證乎。表病脈必因浮而見。今弱脈沉細在下。何以診表。素問曰。而腫曰風。不拘於產後也。弱脈亦難以驗風。</p>
<p>〔三關〕（脈行）怏怏不能前。〔只為風邪與氣連〕（軟細而沉似爛綿。）少年得此須憂重。老弱逢之病卻痊。關前弱脈陽道虛。關中〔有此氣多疏〕（虛熱胃虛疏。一作氣多粗尤非）</p>
<p>脈經曰。關弱胃氣虛。胃中有客熱。脈弱為虛。熱作病。有熱。不可大攻之。熱去則寒起矣。池氏曰。關乃陰陽分處。脈弱則陰陽隔絕。主氣喘。李　范因之。今按氣喘者脈必實。</p>
<p>脈弱則氣乏。不足以息。今依脈經改之。柳氏曰氣虛羸弱。弱脈乃見。寸弱為陽氣虛。尺弱為陰氣虛。關弱為胃虛。仲景曰諸弱發熱。乃弱為陽虛。虛而發熱。非實熱也。大抵陽少陰多。皆為不足之候。脈經曰弱為虛為悸。內經曰脈弱以滑。是有胃氣。命曰易治。脈小弱以澀。謂之久病。同一弱也。以滑澀相兼而易診。</p>
<p>若在尺中〔陰氣絕酸疼引變主皮膚〕（陽氣少。骨煩發熱痛難居。）</p>
<p>脈經曰。尺弱陽氣少。發熱骨煩。又云少血。脈經曰骨煩者。腎主骨髓也。脈訣作皮膚。</p>
<p>乃肺之合。非腎所主。今改之。</p>
<h3>九道</h3>
<p>通真子曰。七表八裡為陰陽正脈。外有九種脈相通而見者。經所謂脈來浮滑而長。沉澀而短。</p>
<p>浮大而牢之類。是也。以愚觀之。脈無正不正之定名也。為邪為病而見。則二十四字皆不正之脈。</p>
<p>因時而旺。隨臟而應。則皆正脈也。脈合陰陽。難以七表八裡為陰陽正脈。難經曰浮滑長皆陽脈。</p>
<p>沉澀短皆陰脈。非別以長短為陰陽正脈之外也。是長短與浮沉滑澀。同為陰陽也。又曰外有九種脈相通而見。故曰九道。且脈之相通。乃眾脈參互為一。以示證也。二十四字。除浮沉結促代伏。</p>
<p>居於上下。止於緩急。不能相通。其他皆相通。難經曰一陽一陰。謂浮而澀。是八裡通乎七表也。</p>
<p>一陰一陽。謂沉而滑。是七表通乎八裡也。內經所載。仲景所論。多通眾脈而言病。脈經二十四字。</p>
<p>有散數。無短長。脈訣去散數。增長短。亦以足二十四字。脈經論。二十四字通為一處。亦無次序之定。蓋脈隨變而見。但宜以陽脈從陽類。陰脈從陰類。不可以一浮二芤為定序。且三至為遲。</p>
<p>六至為數。遲陰在臟。數陽在腑。經文皆對言也。今取遲去數。其可乎。是知脈不可以二十四字為定數也。亦不可立表裡道之異名也。陳氏沈氏並用散數為九道。用脈訣九道之名數。而不取短長。亦非也。今增散數二脈於後。以足脈經之所論。而不去長短者。</p>
<p>脈之所當述者也。既不拘於表裡道二十四字之數。則脈之以一字立名。皆詳論可也。或曰子既辨表裡道之非。不刪而述其舊文何也。曰此朱文公作孝經刊誤。程子述大學親民之例也。不刪者存其舊也。用墨圈者當刪者也。辨其下者。使人皆知其非。不復為舊文所惑。不刪之刪也。</p>
<p><u>〔一〕長者陽也。</u></p>
<p>指下尋之。三〔關〕（部）如持竿之狀。舉之有餘曰長。過於本位。亦曰長。主渾身壯熱。坐臥不安。</p>
<p>從尺至關。連寸口。直過如橫竿之狀。此三部之長脈。過於本位。謂或尺或關或寸。過於一指之外。</p>
<p>此各部之長脈。欲知其病。則必於浮沉遲數大小之間求之。若不大不小。不浮不沉。不遲不數。則氣自治而無病。經曰。長則氣治是也。大概平人病患。脈長為吉。深且長。壽脈也。尺脈長。根深蒂固。</p>
<p>心脈長。神氣有餘。內經心脈搏堅而長。病舌卷不能言。至腎脈搏堅而長。病折腰。此六脈者非以長為病。</p>
<p>以搏堅相合而病也。春肝脈。軟弱輕虛而滑。端直以長。肝脈。如循長竿末梢曰平。如循長竿曰病。</p>
<p>有餘而過。故也。</p>
<p>長脈迢迢度三關。指下來時又卻還。</p>
<p>通真子曰。此云來時又卻還者。似一陰三陽之脈。愚曰非也。來而還。只可謂脈之來去。然諸脈皆如是。若不能自還。則代而死矣。一陰三陽者。謂脈來浮滑而長時一沉也。是四脈共見也。</p>
<p>陽毒在臟三焦熱。徐徐發汗始能安。</p>
<p>潔古曰。此陽明脈。尺寸俱長。當汗。陽化氣也。今按假使是陽明證。亦難專於發汗。正陽陽明當下。</p>
<p>太陽陽明當汗。少陽陽明隨證解利。當依表裡分汗下。</p>
<p><u>〔二〕短者陰也。</u></p>
<p>指下尋之。不及本位曰短。主體虛惡寒。腹中冷氣。（作生氣非）宿食不消。</p>
<p>寸口尺中皆退促。附近關中見一半。如龜縮頭曳尾之狀。以其陰陽不及本位。故曰短。若關中短。</p>
<p>上、為寸脈。下不至關。下、為尺脈。上不至關。是陰陽絕脈。此皆不治決死。故關中不以短脈為診。</p>
<p>脈經曰。短脈之象。應指而回。不能滿部。浮而短者榮衛不行。沉而短者臟腑痞塞。短與長對。知長則知短矣。</p>
<p>短脈陰中有伏陽。氣壅三焦不得昌。臟中宿食生寒氣。大瀉通腸必得康。</p>
<p>通真子曰。脈訣以一陽三陰。脈來沉澀而短。時一浮。乃云有伏陽耳。今按脈訣單論短。為陰中伏陽。蓋以短為陰。脈短為氣病。氣不得舒暢。則陽氣鬱伏於內。非論沉澀短浮四脈共見也。內經曰疏其血氣。令其條達而致和平。今曰大瀉通腸。亦當隨病淺深用藥可也。</p>
<p><u>〔三〕虛者陰也。</u></p>
<p>〔指下尋之不足舉之亦然〕（遲大而軟。按之無力。隱指豁豁然空。）曰虛。</p>
<p>主少力多驚。</p>
<p>虛脈。因按而知其虛。其診法與芤同。皆以按而見。浮大而軟。按之中無旁有為芤。遲大而軟。</p>
<p>按之隱指。豁豁然空為虛。內經曰脈虛血虛二脈。皆因血而見。失血則中無。血虛則中空。脈訣言尋之不足。</p>
<p>舉指亦然。乃微濡之脈。非所以形容虛也。虛與實對。實於中為實。故浮中沉皆有力。內不足為虛。故按之豁豁然空。</p>
<p>恍惚心中多愕驚。〔三關定息脈難成〕（按之無力脈虛輕。）血〔生〕（虛）臟腑生〔寒熱〕（煩熱。）</p>
<p>補益三焦便得寧。</p>
<p><u>〔四〕促者陽也。</u></p>
<p>指下尋之。極數。並居寸口。（又曰來去數。時一止復來。）曰促。漸加則死。漸退則生。</p>
<p>促脈。尺微關細。寸口獨實而滑數。並居於上。或來去數。時一止復來。黎氏曰促脈雖盛疾。必時一止復來者。如趨之蹶也。故徐疾不常。</p>
<p>促脈前來已出關。並居寸口〔血成斑〕（證危難。）</p>
<p>血成斑非促脈證。</p>
<p>忽然漸退人生也。若或加時命在天。</p>
<p><u>〔五〕結者陰也。</u></p>
<p>指下尋之。〔或來或去聚而卻還〕（脈來緩。時一止復來。無常數。又曰脈來動而中止。</p>
<p>更來小數。中有還者反動。）曰結。主四肢。氣悶。連痛。時來。</p>
<p>遲而小駛為緩。應指暫歇為止。緩而止為結。通真子曰據經謂往來緩。時一止復來。為結。其言是也。此云或來或往。聚而卻還。與之稍異。來去者脈之常也。聚而還。何以見脈之結。今依仲景所論改之。</p>
<p>脈經只云來緩。時一止。難經又云無常數。今依難經增之。蓋止而復來。數至。間或三兩至。或又一止。無常數。</p>
<p>若有常數。如五動一止。又五動一止。依數而止。則為死脈。可依止數。克死期矣。詳見下代脈辨。仲景曰。藹藹如車蓋。曰陽結。乃陽氣鬱結於外。不與陰氣和雜也。累累如循長竿。曰陰結。乃陰氣鬱結於內。不與陽氣和雜也。又曰脈浮數。能食。不大便。此為實。曰陽結。脈沉遲。不能食。身體重。</p>
<p>大便反硬。曰陰結。亦以陰陽氣偏結。因兼證而分之。不以脈止為結也。內經曰結陽者腫四肢。四肢者諸陽之本也。結陰者便血。陰主血也。二陽結謂之消。謂大腸胃熱。三陽結謂之隔。謂小腸膀胱熱。</p>
<p>三陰結謂之水。謂脾肺寒。一陰一陽結。謂之喉痹。謂心主三焦熱。是亦分陰陽之結也。王氏脈經蓋因仲景之文。於脈緩止卻為結陽。數止卻為結陰。誤甚。詳述在代脈下。其實脈訣之結脈為陰。與促脈為陽相對。非若內經與仲景所言。有陰陽之分也。若必論陰陽。結則緩而止為結陰。數而止為結陽。方允當。</p>
<p>積氣生於脾臟旁。大腸疼痛卒難當。漸宜稍瀉三焦火。莫謾多方立紀綱。</p>
<p><u>〔六〕代者陰也。</u></p>
<p>指下尋之。〔動而復起冉冉不能自還〕（動而中止。不能自還。因而復動。）</p>
<p>曰代。主形容羸瘦。口不能言。</p>
<p>代者。此脈已絕。他脈代其至之義。一臟氣絕。而他臟之氣代而至也。代與止異者。止者按之。</p>
<p>覺於指下而中止。代者忽還尺中。停久方來。則是歇至。數動。止而復來。因其呼吸陰陽相引乃復動也。</p>
<p>今脈訣曰動而復起。則不代矣。是不明動而中止為代也。冉冉不能自還之下。卻不言因而復動。是不能自還之後。脈絕不來矣。今以仲景原文改之。內經曰代則氣衰。脾脈代。注云　弱也。仲景曰傷寒脈結代。心動悸。炙甘草湯主之。皆不以代為死脈也。王氏脈經始曰脈結者生。代者死。仲景言結代脈曰。</p>
<p>脈按之來緩。時一止復來。名曰結。又脈來。動而中止。更來小數。中有還者反動。名曰結。陰也。脈來。</p>
<p>動而中止。不能自還。因而復動。名曰代。陰也。得此脈者必難治。王氏脈經述之。而與仲景本文有差。仲景兩明結脈。總曰陰也。脈經分前一論來緩。時一止。名曰結陽。多添一陽字於後。一論中有還者反動。改作不能自還。舉之則動。卻依本文曰結陰也。以前為結陽。則脈緩非陽也。（此蓋脈訣所謂結脈）以後為結陰。則脈數乃陽也。（此蓋脈訣所謂促脈）且不能自還與代脈同。何以為結脈。且結代同。而中止皆同。自還為結。不能自還為代。正以分二脈之異。今混而同之不可也。</p>
<p>代則血氣衰虛不能相續。因其呼吸相引復動。此所以代為難治。活人書云。陰盛則結。主胸滿煩躁。</p>
<p>陽盛則促。主積聚氣痞。憂思所成。大抵結促二脈。雖時一止。為病脈。非死脈也。代則真死矣。</p>
<p>或曰死脈必代。而代脈未必皆死者。何也。人見其脈動搖來往。略有一止。便以為代。便以為死。鮮有不失者。蓋代脈固以其有止。而有止者未可便以為代。何也。諸脈有止者四。澀促結代也。脈細而遲。往來難。時一止者。為澀。脈來數。時一止者為促。脈來緩。時一止者為結。凡此三者均謂之止。</p>
<p>而其所以止者迥然不同。為病亦異。而皆非死脈也。甄別於此。毫發不爽。見其所謂止者。不過於澀促結中之止。則隨脈主病。真見其止如代中之止。然後斷之為死。則不失矣。代脈之止。其止有常數而不忒。如十動一止。則數十止皆見於十動之後。如二十動一止。則數十止皆見於二十動之後。及加進亦如是。方為代脈。王氏脈經於代脈依仲景。卻改脈來作來數。則又混促脈之止。必全依仲景本文方是。</p>
<p>〔代脈時時動若來〕（動而中止不能還。）〔再而復動似還無〕（復動因為代脈看。）三元正氣隨風去。魂魄〔冥冥何所拘〕（升沉旦夕間。）</p>
<p>曰動若來。則不止也。一作動若浮。尤悖理。潔古亦隨繆解之。何也。曰似還無。於脈狀何似。故改之。</p>
<p><u>〔七〕牢者陰也。</u></p>
<p>指下〔尋之則無按之則有〕（似沉似伏。實大而長。微弦。）曰牢。主骨間疼痛。氣居於表。</p>
<p>尋之則無。按之則有。則沉脈也。可以言牢脈所見之位。而失言牢脈之本狀。似沉似伏者。牢脈所居之位也。實大而長微弦者。牢脈之形也。脈經曰有似沉伏。沈氏分言似沉似伏。尤為明著。又曰低而不浮曰沉。按之極下曰伏。隱指逼逼曰實。滿指洪盛曰大。過於本位曰長。緊而直曰弦。兼是數者為牢脈。黎氏曰牢者堅也。固圍之象。氣之郁結故如此。柳氏曰牢實不轉移。主有積聚。主疼痛不移其處。得此一脈。病邪牢堅。其病難愈。沈氏曰。陰陽革否其氣沉伏在下。固結不移。其氣欲上出而不得。故曰革也。今按古今多以革與牢混論。素問云渾渾革至如涌泉。綿綿其去如弦絕。死。曰革至如涌泉。流出之甚也。綿綿其去。流而不返義。如弦絕者。若弓弦琴瑟。弦斷絕不可再續。故云死。</p>
<p>王貺曰革脈渾渾如涌泉。謂出而不返也。為陰氣隔陽。又為溢脈。溢脈。蓋自尺而出。上於魚際。離經無根本。又有覆脈。自寸口下退。過而入尺。皆必死。此等脈見於兩手或一手。難以逐部求。或曰牢脈即黃帝之所謂革脈。千金翼亦以革為牢。是以革牢同一義。然內經渾渾革至如涌泉。則此革不與脈經沉伏之革同矣。然則牢革兩義也。難經曰牢而長者肝也。牢陰長陽。因沉而得。為肝之平脈。又曰脈之虛實。濡者為虛。緊牢者為實。</p>
<p>以邪氣之盛為實也。此牢也。仲景曰脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。虛寒相搏。此名為革。婦人則半產漏下。男子則亡血失精。此革也。（機按。牢主邪氣實。革主精血虛。）</p>
<p>或又曰如撓鼓皮。鼓皮可以言革。而於實大弦長。難以取象。脈經曰三部脈革。長病得之死。卒病得之生。兼病以斷也。難經曰病若吐血。復鼽衄血者。脈當沉細。反得浮大而牢者死。脈病相違也。</p>
<p>仲景曰寒則牢堅。脈書往往以牢革為一。有牢則無革。有革則無牢。究而言之。諸書所謂牢者堅也。</p>
<p>緊牢為實。仲景所謂革者。虛寒相搏也。脈形脈理。二者不同。不可混也。因牢論革及此。若內經渾渾革至云者。又別作一樣看可也。</p>
<p>〔脈入皮膚辨息難〕（實大弦長沉伏間。）</p>
<p>牢脈居沉伏之位。非入皮膚之浮部也。牢以脈形固結。鬱而在下。不與遲數辨息多少以立名。故改之。時時氣促在胸前。只緣水火相刑克。若待痊除更問天。</p>
<p>牢脈亦難以為水火相刑之象。五行各有相刑。皆有死症。</p>
<p><u>〔八〕動者陰也。</u></p>
<p>指下〔尋之似有舉之還無再再尋之不離其處不往不來〕（若數脈見於關上。上下無頭尾如豆大。厥厥動搖。）曰動。主體弱虛勞。崩中血痢。</p>
<p>仲景云。動脈若數脈。見於關上。上下無頭尾如豆大。厥厥動搖。王氏脈經依仲景文。而去若數脈及上下五字。止云見於關上。無頭尾如豆大。厥厥動搖。夫動必因數而後見。此五字不可除也。脈訣並不遵依。卻自云尋之似有。舉之還無。乃微弱沉之狀。動脈厥厥動搖。出於眾脈。豈舉之還無乎。不離其處。果何處也。動見於關。不能如眾脈通三部而見。內經曰脈不往來者死。若不往不來。則脈定而死矣。眾書以動為陽。脈訣以動為陰。此脈居關上。陰陽相搏為動。當以陽動為陽。陰動為陰。方當。內經曰手少陰脈動甚者。妊子也。謂手少陰俞。神門穴中脈動甚。為有妊之兆。非言動脈之狀。言動脈始於仲景。曰陰陽柑搏。名曰動。陽動則汗出。陰動則發熱。形寒惡冷。此三焦傷也。成無己曰。</p>
<p>方其陰陽相搏。而虛者則動。陽虛則陽動。故汗出。陰虛則陰動。故發熱。如不發熱汗出。而反形冷惡寒。為三焦傷。陽氣不通。龐安常曰。關位占六分。前三分為陽。後三分為陰。若當陽。連寸口動。而陰靜。法當有汗而解。素問曰陽加於陰謂之汗。若當陰。連尺動。而陽靜。則發熱。素問曰尺粗為熱中。若大汗後。形冷惡寒者。三焦傷。此是死證。動脈只在關上見。惟龐說分明。成氏又曰陽出陰入。以關為界。關為陰陽之中也。若數脈見關上。無頭尾如豆大。動搖者。是陰陽之氣相搏也。</p>
<p>厥厥動搖者。自為動搖。不與三部混也。如人在眾中。不與眾合。名之厥厥。沈氏曰。陽動者。陽不能衛於膚腠。故汗出也。陰動者。陰不能榮於肌肉。故發熱。又仲景云。陽微則惡寒。陰弱則發熱。</p>
<p>是也。</p>
<p>動脈〔根源氣主陰〕（陰陽相搏形。）〔三關指下礙沉沉〕（關中如豆動搖頻。）</p>
<p>動脈見關上。不見於三關。厥厥動搖。不沉沉礙指下也。池氏承訛謬解。故改之。</p>
<p>血出一倒經年月。〔智士名醫不可尋〕（為痛為驚載脈經。）</p>
<p>內經曰陰虛陽搏謂之崩。陰脈不足。陽脈盛搏。則內崩。血流下。此動脈為血崩者。即仲景所謂陰動也。</p>
<p>陰虛內損。動數見焉。豈陽搏乎。</p>
<p><u>〔九〕細者陰也。</u></p>
<p>指下尋之。細細如線。〔來往極微〕（小大於微。常有且細。）曰細。主足脛髓冷。乏力少氣。</p>
<p>脈經曰。細者陰也。直細而軟。若絲線之應指。主血少氣衰。有此症則順。非此而得之為逆。故吐衄血。得沉細則生。蓋血行脈中。血既減少。脈所以細也。然雖血少。未至於失血。故脈止於細。</p>
<p>未至於無。血失脈亦失。故芤主失血。是知芤為失血。細為血少。今脈訣言細脈。乃云來往極微。</p>
<p>則微之又微。非細矣。今改之。</p>
<p>乏力無精脛裡酸。形容憔悴發毛干。如逢冬季經霜月。不療其疾必自痊。</p>
<p>冬季後陽氣生。或可復其生理耳。亦不可言不療自痊。今增散數二脈。以足脈經之本旨。</p>
<p>數者陽也。一息六至。又曰去來促急為數。</p>
<p>經曰數則為熱。必審其浮沉。知其熱在表裡。察其大小。知其熱之盛衰。亦有如數之脈。經曰脈至如數。令人暴驚。宜細詳之。沈氏曰以陰陽言。數為陽脈。以臟腑言。數為腑病。論邪則為熱。論病則為虛。若夫微數之脈。傷寒則謹不可汗。無病則謹不可勞。此先賢之格言。內經曰數為煩心。惟小兒之脈。一呼吸間八至。而細數者。為平耳。</p>
<p>散者。大而散者是也。氣失血虛。有表無裡。故脈散也。</p>
<p>沈氏曰散者不聚之名。仲景曰傷寒咳逆上氣。其脈散者死也。若脈有邪氣。風也。難經曰浮而大散者心也。最畏散脈獨見。獨見則危矣。柳氏曰是散漫無統紀無拘束之義。指下見得來動。一二至中又至一至。更不曾來往整齊。或動來即動去。或來至多去至少。或去至多來至少。是解散不收聚。</p>
<p>精血走。作根本脫離。不佳之兆。若產婦得之則生子。孕婦得之為墮傷。尋常心脈及夏月。最不宜獨見此脈。</p>
<h2>卷下</h2>
<h3>分合偶比類說</h3>
<p>經曰知者一言而終。不知者流散無窮。脈之為說。前已論辨於各脈之下。今又以分合偶比類五字。</p>
<p>以經綸錯綜之。庶無惑矣。</p>
<p>分　有脈之形。分謂脈各有形狀。當先明辨。便了然不疑。大小浮沉滑澀。可以指別。迥然各異。</p>
<p>辨之於毫厘之間。使其形不相混。如舉有按無為浮。按有舉無為沉之類。</p>
<p>有脈之證。分。謂脈之一字獨見為證。如寸浮。中風頭痛之類。不雜他脈。獨為證。今脈訣歌在各脈之後者。是也。或獨見一部。或通見三部。或兩手俱現。</p>
<p>合　有合眾脈之形為一脈者。謂如似沉似伏。實大長弦之合。為牢。極軟浮細之合。為濡。之類。</p>
<p>有合眾脈之形為一證者。謂浮緩為不仁。浮滑為飲。浮洪大而長為風眩癲疾。有二脈合者。有三四脈合者。大抵脈獨見為證者鮮。參合眾脈為證者多。今脈訣獨取平三關一脈論證。而遺其合眾脈以論證者。</p>
<p>今各補注於後。以全其脈證。（此條補注節抄不及備錄）且一脈雖獨見。而為證亦不一。如浮。為風。</p>
<p>又為虛。又為氣。各不同。此又一脈之證合也。必備論之。以證相參。而考脈。則思過半矣。潔古張元素醫學啟源云。右寸大腸。肺脈之所出也。先以輕手得之。是大腸屬表。後以重手得之。是肺屬裡。</p>
<p>肺合皮毛。肺脈尋皮毛而行。持脈。指法如三菽之重。按至皮毛而得為浮。稍稍加力。脈道不利為澀。又稍加力。脈道縮入關中。上半指不動。下半指微動。為短。此乃浮澀而短。肺不病之脈也。肺脈本部。在於皮毛之上。</p>
<p>見於膚表。是其浮也。入於皮毛之下。見於血脈肌肉之分。是其沉也。六部仿此。此診之定法。可以合眾脈之形矣。</p>
<p>偶　脈合陰陽。必有偶對。經曰善為脈者。必以比類奇恆。從容知之。</p>
<p>浮沉者。脈之升降也。浮升在上。沉降在下。為諸脈之根本。為陰陽之定位。為表裡之定診。</p>
<p>浮法天。有輕清在上之象。沉法地。有重濁在下之象。浮為風為虛。體高而氣浮也。沉為中堅。為內蘊。</p>
<p>體聚而不散也。論諸脈者。必先此二脈。</p>
<p>遲數者。脈之緊慢也。脈以四五至為平。減一至為三至曰遲。增一至為六至曰數。難經曰。遲陰為在臟。數陽為在腑。遲則為寒。數則為熱。亦偶言之也。中藏經曰。數在上。陽中之陽。在下。陰中之陽。</p>
<p>遲在上。陽中之陰。在下。陰中之陰。數在中則中熱。遲在中則中寒。寒用熱助。熱用寒助。本乎陰陽也。虛實者。脈之剛柔也。按之浮中沉。皆有力。為實。遲大而軟。按之豁豁然空。為虛。虛實之由。</p>
<p>皆以有餘不足占之。故以按而知。經曰其氣來實強。為太過。病在外。氣來虛微。為不及。病在內。</p>
<p>血實脈實。血虛脈虛。亦皆偶而言之。論表裡虛實。必以此二脈。中藏經曰。脈舉之滑。按之微。看在何部。以斷其臟。又按之沉小弱微短澀軟濡。俱為臟虛。其脈舉按皆盛者實也。又長浮數疾洪緊弦大。</p>
<p>俱曰臟實。其脈浮而實大者。腑實也。輕手按之滑。重手按之平者。腑虛也。左右寸口。沉結實大者。</p>
<p>上實也。左右寸弱而微者。上虛也。左右尺脈伏而澀者。下實也。尺中脈滑而濡者。下虛也。尺中微澀短小者。俱屬下虛也。許叔微曰。浮緩為表虛。傷風解肌。浮緊澀有力為表實。傷寒發汗。脈沉無力為裡虛。可溫。沉而有力緊實為裡實。可下。此論傷寒表裡虛實。凡此皆非單論脈虛實之理。長短者。脈之盈縮也。脈盈過於本位曰長。脈縮不及本位曰短。長有見於尺寸。有通見於三部。短只見於尺寸。蓋必質於中。而後知過於中為長。不及於中為短。經曰長則氣治。短則氣病。脈有三陰三陽。而長短在其中。是亦偶而言之。又曰人長脈長。人短脈短。又因人形體而別。滑澀者。脈之通滯也。脈通則流利無礙曰滑。</p>
<p>脈滯則蹇澀不流曰澀。內經曰滑者陰氣有餘。澀者陽氣有餘。難經三陰三陽。滑澀對舉。千金曰。</p>
<p>滑者多血少氣。澀者多氣少血。皆偶言也。以二義考之。陰氣有餘者血多也。血多則氣少。脈者血之府也。營行脈中。今血多故流利圓滑。陽氣有餘者氣多也。氣多則血少。故艱澀而散。一止復來。</p>
<p>先明氣血之多少。斯知滑澀之理。洪微者。脈之盛衰也。血熱而盛。氣隨以溢。滿指洪大。沖涌有餘。</p>
<p>洪為脈之盛也。氣虛而寒。血隨而澀。應指微細。欲絕非絕。微為脈之衰也。緊緩者。脈之急慢也。</p>
<p>緊為傷寒。寒則傷營。營受寒邪。脈絡激搏。若風起水涌。既如切繩。又如轉索。緩為風結。皮膚不仁。</p>
<p>營血不流。衛氣獨行。不能疾速。血虛頑痹。脈為緩慢。營受寒邪則脈緊。營血蹇澀則脈緩。二脈由營而見。沉氏曰緊為陰。陰主寒。寒則物斂。而有拘變之象。又主痛。諸痛皆原於寒。又主宿食。</p>
<p>由胃虛挾寒。不能腐化故也。緩為陽熱主血虛。血虛則脈體弱。又主氣虛。氣虛則脈體無力。又主風。</p>
<p>風者陽邪。主舒啟縱弛故也。</p>
<p>動伏者。脈之出處也。出見於外。故數見關上。如豆大。出類而異於三部者動也。處藏於內。</p>
<p>不見其形。脈行筋下者伏也。二者猶人物之出處也。</p>
<p>結促者。因止以別陰陽之盛也。陽盛則促。脈疾而時止。陰盛則結。脈徐而時止。雖有止非死脈也。代則死脈也。促結為偶。而代無對。脈不可以偶對言者。不敢鑿也。三因方盡為偶名。而以弦弱、芤微、濡革、散代、亦為偶。非一陰一陽也。因知其不可盡以偶言也。必一陰一陽而後可偶。</p>
<p>然又有脈偶而同見者。如大小緩急疾徐疏數之類。經曰前大後小。前小後大。來疾去徐。來徐去疾。</p>
<p>去不盛來反盛。去盛來不盛。乍大乍小。乍短乍長。乍疏乍數。是二脈偶見也。亦有兩手偶見者。</p>
<p>如左大右小。左小右大之類。</p>
<p>比　比者所以明相類之脈。比其類而合之。因其疑也。辨其異而分之。</p>
<p>決其疑也。內經曰脾虛浮似肺。腎小浮似脾。肝急沉似腎。此皆三者之所亂也。然從容得之。以知其比類也。注云以三臟相近。故脈象參差而相類。是以三惑亂為治之過失矣。必從容比類而得三臟之形狀。故浮緩曰脾。浮短曰肺。浮而滑曰心。急緊而散曰肝。搏沉而滑曰腎。不能比類。則疑惑彌甚。</p>
<p>是以脈經立相類之脈。今立比字為綱。使從容比類。先明於未診之先。免交疑於持脈之際。脈經曰浮與芤相類。一曰與洪相類。弦與緊相類。滑與數。沉與伏。微與澀。軟與弱。緩與遲。革與實。千金云牢與實。今細詳之。有弦細。有芤虛。有濡芤。有洪散。</p>
<p>有牢伏。有數脈同類者。洪散俱大也。而散無力。濡弱同極軟而細也。有浮沉之異。微細俱小也。</p>
<p>而微無力。芤類浮也。按之邊有中無。濡類芤也。按之如無。沉伏牢同居下也。按有餘曰沉。按實大長弦曰牢。按不見脈行筋下曰伏。弦細同直長之形。同收斂之義也。亦有大小之分。弦如弦之直。</p>
<p>細如線之細。遲緩同慢也。有三至四至之異。大慢小衰之別。澀微易識也。何疑乎相類。牢與實。</p>
<p>革與實。非相類也。脈賦云。洪與實形同仿佛。是相類也。洪實同有力而大也。洪分沉浮之異。</p>
<p>實合浮沉而皆有力。弦與緊之異。弦左右無。而中直如弦。緊左右彈。而有如轉索。雖相類而甚相遠也。又有數脈之相類。如澀促結代。同一止也。而全不同。他如濡弱遲。如芤虛。如微細濡弱澀。已辨於各脈條下。</p>
<p>類　易曰方以類聚。又曰本乎天者親上。本乎地者親下。則各從其類也。內經曰脈合陰陽。</p>
<p>又曰察之有紀。從陰陽始。眾脈陰陽。各以類從。知乎此。則七表八裡九道之非。不膠固於先入之言矣。旨哉蔡西山之論也。曰凡平脈。不大不細。不長不短。不浮不沉。不滑不澀。應手中和。意思欣欣。難以名狀者。為胃氣。其太過為大為長為實為堅為強為浮為芤為滑為洪為急為促者。皆陽也。</p>
<p>其不及為細為短為虛為軟為沉為結為伏為澀為微者。皆陰也。陽搏陰為弦。陰搏陽為緊。陰陽相搏為動。寒虛相搏為革。陰陽分離為散。陰陽不續為代。</p>
<p>難經曰。諸陽為熱。諸陰為寒。數則為熱。遲則為寒。浮為表。沉為裡。三因方云。博則二十四字。</p>
<p>不濫絲毫。約則浮沉遲數。總括綱紀。故知浮為風為虛。沉為濕為實。遲為寒為冷。數為熱為燥。</p>
<p>風濕寒熱屬外。虛實冷燥屬內。內外既分。三因頓別。三點劉立之亦以浮沉遲數四字為綱。以教學人。浮風沉氣。遲冷數熱。分別三部為證。此誠初學入門。然必搏學反約。然後能知脈之妙。若遽以此自足。則今汝畫矣。</p>
<p>故述此於分合比偶類五字之後。</p>
<h3>診雜病生死候歌</h3>
<p>五十不止身無病。數內有止皆知定。四十一止一臟絕。卻後四年多沒命。三十一止即三年。二十一止二年應。十五一止一年殂。以下有止看暴病。</p>
<p>柳氏曰。以動數候脈。是吃緊語。候脈須候五十動。知五臟之氣有無缺失。今人手指到病患腕臂。</p>
<p>便以為見了殊不知五十動見。豈彈指間事。相習成風。以疾速為神奇。廬山劉立之號曰三點。以手中指點人三部脈。生死吉凶多驗。學徒相傳亦用之。劉果三點之神耶。抑亦聲色得之耶。色可傳。脈不可傳。古人以切脈為上工。如扁鵲。飲上池水。能洞見人臟腑間病。如華佗。刳骨剔胃。是豈切脈而得之歟。後世聖神之術不常。有所當學人。診脈以知內。參以問證察言觀色以知外。則可耳。脈經曰。</p>
<p>脈來五十投而不止者。五臟皆受氣。即無病四。十投而一止者。一臟無氣。卻後四歲死。以至十投一止者。四臟無氣臟中死。其言幾臟無氣。以分別幾歲之死期。予竊疑之。內經曰腎絕六日死。肝絕八日死。心絕一日死。果此臟氣絕。又安有待四歲三歲乎。大抵五十動者脈之大數。要必候五十動。不可不及五十動而遽不候也。或問候止脈何處數起。曰得止脈後。再從始至脈數起。看得幾至而止。為數。</p>
<h3>診暴病歌</h3>
<p>兩動一止或三四。三動一至六七死。四動一止即八朝。以此推排但依次。</p>
<p>此是十動內有止脈者。然難必謂暴病有此。久病亦有見此者。俁當以至數定死期。不必專於診暴病也。</p>
<h3>形脈相反歌</h3>
<p>健人脈病號行尸。病患脈健〔亦如之〕（審言之。）短長肥瘦並如此。〔細心診候有依稀〕</p>
<p>（脈病相違亦若斯。）</p>
<p>內經曰。形氣有餘。脈氣不足。死。脈氣有餘。形氣不足。生。仲景曰。脈病患不病。名曰行尸。</p>
<p>以無王氣。卒眩仆不識人。則死。人病脈不病。名曰內虛。以無穀。神雖困無苦。今脈訣曰亦如之。</p>
<p>是與行尸同也。故改之。</p>
<p>仲景曰肥人責浮。瘦人責沉。肥人當沉。今反浮。故責之。瘦人當浮。今反沉。故責之。脈經曰當視其人大小長短。皆如其人之形性。則吉。反之則為逆。肥人脈細小如絲。身澀而脈來往滑。身滑而脈來往澀。皆死。前言形脈相反。又有脈病相反。不可不備舉。難經所謂脈不應病。病不應脈者是也。</p>
<p>素問曰。形盛脈細。少氣。不足以息者。死。形瘦脈大。胸中多氣者。死。形氣相得者。生。三五不調者。病。形肉已脫。九候雖調。猶死。病熱脈靜。泄而脈大。脫血而脈實。病在中。脈實堅。病在外。脈不實堅者。皆難治。</p>
<p>難經曰。病若閉目不欲見人。脈當得肝脈弦急而長。而反得肺脈浮澀而短者。死也。病若閉目而渴。</p>
<p>心下牢者。脈當得緊實而數。反得沉濡而微者。死。此類皆脈病相反。脈訣所缺。今改此歌末句以著之。</p>
<h3>診四時病五行相克歌</h3>
<p>春得秋脈定知死。死在庚辛申酉裡。夏得冬脈亦如然。還於壬癸為期爾。嚴冬診得四季脈。</p>
<p>戊己辰戌還是厄。秋得夏脈亦同前。為緣丙丁相刑克。季月季夏得春脈。克在甲寅應病極。直逢乙卯亦非良。此是五行相鬼賊。</p>
<p>內經難經並以天干五行論克賊。脈訣又以地支並論。若用支干上下純為鬼邪之日為死。必六十日方遇。若死期之近何以克之。不若以天干一旬為期。依內經為斷。不失之拘也。內經又曰夫邪氣之客於身也。以勝相加。至其所生而愈。（謂我所生者）至其所不勝而甚。至其所生而持。（謂生我者）</p>
<p>自得其位而起。必定五臟之脈。乃可言間甚之期。</p>
<h3>決四時〔虛實〕（五邪）歌</h3>
<p>一臟有五邪。今只取虛實微三邪作歌。及立名。又只取二邪而遺其一。今改作診五邪歌。</p>
<p>春得冬脈只是虛。兼令補腎病自除。若是夏脈緣心實。還應瀉子自無虞。〔夏秋冬月皆如是〕（所勝為微不勝賊。）在前為實後為虛。春中若得四季脈。不治多應病自除。（今添兩句云。正邪自病通成五。</p>
<p>四時五臟仿斯圖。）</p>
<p>難經曰虛則補其母。實則瀉其子。虛當補母。人所共知。千金曰心勞甚者。補脾氣以益之。脾旺則感於心矣。若乃勞則補其子。人所未聞。蓋母生我者也。子繼我而助我者也。方治其虛。則補其生我者。</p>
<p>與郭氏葬書。本骸得氣。遺體受蔭同義。方治其勞。則補其助我者。與荀子所謂未有子富而父貧同義。</p>
<p>此補虛與治勞之異也。</p>
<h3>傷寒歌</h3>
<p>傷寒熱病同看脈。滿手透關洪拍拍。出至風門遇太陽。一日之中見脫厄。過關微有慢騰騰。直至伏時重候覓。掌內迢迢散慢行。瘥軋HT　疔多不的。大凡當日問途程。遲數洪微更消息。</p>
<p>熱病須得脈浮洪。細小徒費用神功。汗後脈靜當便差。喘熱脈亂。命應終。</p>
<p>此歌未足以括傷寒之綱要也。三百九十七法。一百一十三方。學人以仲景傷寒論為祖。成無己注及明理論。許叔微百證百問。薛宋二氏鈐。則又發明仲景之旨奧。外此則蘭台寶鑒。金匱要略。無求子百問。南陽百問。龐安常、王仲弓、盧昶、韓祗和、孫用和及諸家之書。遍覽參考。守之以正條。</p>
<p>用之以活法。方為盡善。此歌其能盡乎。予又病世之醫者。往往以活人書自足。不復祖之仲景之論。況南陽失仲景之旨者有之。不特宋氏所譏。況傷寒為大病。生死在五六日間。可不盡心乎。</p>
<h3>陽毒陰毒歌</h3>
<p>陽毒健亂四肢煩。面赤生花作點斑。狂言妄語如神鬼。下痢頻多喉不安。汗出遍身應大差。魚口開張命欲翻。有藥不辜但與服。能過七日漸須安。陰毒傷寒身體重。背強眼痛不堪任。小腹急痛口青黑。毒瓦斯衝心轉不禁。四肢厥冷惟思吐。咽喉不利脈細沉。若能速灸臍輪下。六日看過見喜深。</p>
<p>陰陽二毒。病有輕重。治有淺深。仲景略言於金匱要略。後世傳述。備載諸書。亦難以二歌盡。</p>
<h3>診諸雜病生死脈候歌</h3>
<p>病源各不一。今歌本診生死之脈。故不論病源。只論脈之生死。</p>
<p>腹脹浮大是出厄。虛小命殂須努力。</p>
<p>此篇大抵以脈病相應不應言生死。然亦不可專執。臨病參考可也。如中惡腹脹脈緊細者生。浮大者死之類。</p>
<p>下痢微小卻為生。脈大浮洪無瘥日。</p>
<p>下痢脈欲絕者不死。雜色惡痢脈微弱。暴冷傷陽。脈細欲絕。冷熱不調者。洪大易治。微遲小細難治。</p>
<p>恍惚之病〔定顛〕（發為）狂。其脈實牢保安吉。寸關尺部沉細時。如此未聞人救得。</p>
<p>恍惚顛狂三病也。恍惚心不寧。陰顛而陽狂也。脈經曰。顛病脈虛可治。實則死。蓋重陰為顛。謂陰部內見沉澀微短脈。是陽脈不見而陰獨盛。故為顛疾。經曰陰氣從下。下虛上實。故作顛疾。</p>
<p>則沉細脈。是脈病相應而不逆矣。</p>
<p>消渴脈數大者活。虛小病深厄難脫。</p>
<p>三消之證內消渴一證。沉小者生。實堅大者死。此外如少陰自利而渴。脈必沉。中暑渴脈虛。</p>
<p>產後渴脈多弱。難專以虛小為渴之凶。</p>
<p>水氣浮大得延生。沉細應當是死別。</p>
<p>水病之證不一。脈亦不一。三因方曰。沉伏相搏名曰水。蓋沉者乃水之病脈。但風水皮水脈浮。</p>
<p>石水脈沉。黃汗沉遲。當參病原病證為斷。況水病。肌肉為水所脹。脈元多沉。若脈出必死。脈病相反也。今曰浮大延生。更宜參審。</p>
<p>霍亂之候脈微遲。氣少不語大難醫。三部浮洪必救得。古今課定更無疑。</p>
<p>病原曰脈伏及代而亂者。霍亂也。不亂猶可治。微細不可治。霍亂吐下。脈微遲。氣息劣。口不欲言者。不可治。脈經所無。脈訣自創之例也。通真子曰清濁相干霍亂時。脈如微細是相宜。不言氣劣微遲小。</p>
<p>此候神工亦莫醫。通真子注脈訣。不遵之而自作歌。一曰浮洪可救。一曰微細相宜。何哉。蓋病原不同。脈隨而見。以病原參之。勿一例但曰霍亂而已也。</p>
<p>鼻衄吐血沉細宜。忽然浮大即傾危。</p>
<p>吐衄證中。有卒中惡吐血。脈沉數細者死。浮大疾快者生。又雜病衄責裡熱。傷寒衄責表熱。表熱者脈必浮。</p>
<p>咳而尿血羸瘦形。其脈疾大命難任。咳血之脈沉弱吉。忽若實大死來侵。金瘡血〔盛〕（出）虛細活。急疾大數必危身。</p>
<p>此六句參錯在後。今移於此。從失血類。</p>
<p>脈訣所論金瘡。本於脈經、中藏經。皆論已出血之脈。若金瘡未出血則又別。墜壓內傷。堅強安。</p>
<p>小弱凶。頓仆內傷同。笞榜內有結血。實大生。虛小死。跌撲傷損。浮大易安謂血散外。沉細緊實多死。</p>
<p>謂惡血攻臟。</p>
<p>病患脈健不用治。健人脈病號行尸。</p>
<p>病患脈健。此云不用治者。是前形脈相反歌。何其謬也。</p>
<p>心腹痛脈沉細差。浮大弦長命必殂。</p>
<p>仲景曰。假令病患云腹內卒痛。浮而大。知其瘥也。何以知之。若裡有病者脈當沉細。今浮大。</p>
<p>故知愈也。病原曰若其人不即愈者必當死。以脈病相反也。然心痛與腹痛各異。凡痛五臟相干。而心痛脈各異見。惟真心痛不問脈。旦占夕死。夕占旦死。腹痛病原亦不一。虛寒、緊弦。積寒、沉緊而實。肝腎弦大為寒痛。故知弦長亦難以死斷。</p>
<p>頭痛短澀應須死。浮滑風痰必易除。</p>
<p>脈訣此言。只可斷風痰頭痛一證而已。頭痛具八經。又有伏暑、積聚、痰厥、伏痰、腎痰、產後失血、風寒在腦、邪熱上攻、氣虛氣攻、諸證不同。隨證診脈。斷生死可也。</p>
<p>中風口噤遲浮吉。急實大數三魂孤。魚口氣粗難得瘥。面赤如妝不久居。中風發直口吐沫。噴藥悶亂起復蘇。咽喉曳鋸水雞響。搖頭上竄氣長噓。病患頭面青黑暗。汗透毛端恰似珠。眼小目瞪不須治。</p>
<p>喘汗如油不可蘇。</p>
<p>中風口噤至此皆言中風之死候。簡易方云風邪中人。其狀奄忽。故六脈多沉伏。亦有脈隨氣奔。</p>
<p>指下洪盛者。當此之際脈亦難辨。但以證參為是。中風。目閉口開。手撒遺尿。聲如鼾睡者。必難療。</p>
<p>內實腹脹痛滿盈。心下牢強乾嘔頻。手足煩熱脈沉細。大小便澀死多真。</p>
<p>素問曰。五實死。脈盛、皮熱、腹脹、前後不通、悶瞀。此謂五實。自汗得後利則實者活。今脈訣增乾嘔。去悶瞀。又以脈沉細與病反。決以為死。此條宜參之內經。</p>
<p>外實內熱吐相連。下清注穀轉難安。忽然診得脈洪大。莫費神功定不痊。</p>
<p>協熱下利。胃熱嘔吐。脈亦洪大。不可遽以死斷。</p>
<p>內外俱虛身冷寒。汗出如珠微嘔煩。忽然手足脈厥逆。體不安寧必死拚。</p>
<p>素問曰。五虛死。脈細、皮寒、氣少、泄利前後、飲食不入。若漿粥入胃泄注止。則虛者活。</p>
<p>今脈訣內外俱虛。與內經多異。全本脈經。</p>
<p>上氣浮腫肩息頻。浮滑之脈即相成。忽然微細應難救。神功用盡也無生。</p>
<p>脈經曰。上氣面浮腫肩息。其脈大。不可治。加利甚者必死。今脈訣以微細為難救。似與脈經相悖。</p>
<p>上氣喘急候何寧。手足溫暖淨滑生。反得寒澀脈厥逆。必知歸死命須傾。</p>
<p>通真子改差無因作命須傾。貴協韻也。</p>
<p>中惡腹脹緊細生。若得浮大命逡巡。</p>
<p>脈經曰。卒中惡。吐血數升。脈沉數者死。浮大疾快者生。卒中惡。腹大。四肢滿。脈大而緩者生。</p>
<p>緊大而浮者死。緊細而微亦生。然中惡之候。脈亦不等。鬼疰。脈滑。或緊長過寸。或尺寸有脈。</p>
<p>關中絕不至。或乍大乍小。乍長乍短。遁尸。三部緊急。或沉重不至寸。客忤三部皆滑洪大。</p>
<p>凡脈尺寸緊數形。又似釵直吐轉增。此患蠱毒急須救。〔速求神藥命難停〕（脈逢數軟命延生。）</p>
<p>此文依脈經換末句。</p>
<p>中毒洪大脈應生。細微之脈必危傾。吐血但出不能止。命應難返沒痊平。</p>
<p>他證吐血。皆以沉細為生。惟中毒吐血。以洪大為生。</p>
<p>大凡要看生死門。太衝脈在即為憑。若動應神魂魄在。止便干休命不停。</p>
<p>銅人經太衝二穴土也。在足大趾本節後二寸。（或云一寸半）動脈陷中。凡診太衝脈。可決男子病死生。足厥陰脈之所注也。為俞。靈樞曰。胃之清氣上注於肺。故氣之過於寸口也。動而不止。其悍氣上衝頭者。合陽明。並下人迎。故陰陽俱動俱靜。若引繩。相傾者病。衝脈者。十二經之海也。與少陰之大絡起於腎下。出於氣衝。循陰股內廉。邪入骨中。循脛骨內廉。並少陰之經。下入內踝之後。</p>
<p>入足下。其別者邪入踝。出屬跗上。入大趾間。此脈之常動者也。經脈十二。而寸口人迎太衝獨動不休。</p>
<p>故以此三處診百病。決生死。靈樞作並足少陰之動脈。銅人作足厥陰之俞穴。皆衝脈之所合並而經過者。</p>
<p>其實以候衝脈也。仲景謂當時之人。握手不及足。故立趺陽太谿。以候胃腎之病。李　范引活人書所列衝陽穴。以解太衝。失其穴矣。仲景以趺陽專診足陽明。太谿專診足少陰。</p>
<h3>察色觀病患生死候歌</h3>
<p>欲愈之病目　黃。</p>
<p>仲景曰若脈和。其人大煩。目重瞼。內　黃者。此為欲解。必當依仲景以脈參之。</p>
<p>眼胞忽陷定知亡。耳目口鼻黑色起。入口十死〔七〕（實）難當。赤白黑黃色〔起〕（入）目。更〔兼〕</p>
<p>（穿）口鼻有災殃。</p>
<p>耳目口鼻有黑色起。入於口者必死。病患及健人。黑色若白色起。入目及鼻口。死在二日中。脈經同。</p>
<p>扁鵲曰。按明堂察色入門戶為凶。不得為吉。所謂門戶者。闕庭、肺門戶。目、肝門戶。耳、腎門戶。口、心脾門戶。若有色氣入者皆死。白色見沖眉上。肺有病。入闕庭。夏死。黃色見鼻上者。脾有病。入口者。春夏死。青色見人中者。肝有病。入目者。秋死。黑色見顴上者。腎有病。入耳者。</p>
<p>六月死。赤色見頤者。心有病。入口者。冬死。蓋以五臟五色。各入本臟門戶。至被克之時為死期。脈訣四句分作二處。本論一理。今移相附。添赤去起以備五色脈。改兼為穿。以明色入門戶為殃。李　范及潔古不知扁鵲所論。隨各臟色入門戶定死期。為脈訣所述之源。故以意誤解。</p>
<p>面色忽然望之青。近之如黑卒難當。</p>
<p>此二句移在此。從氣色類。</p>
<p>面赤目白憂息氣。待過十日定存亡。面青目黃中時死。余候須看兩日強。面黃目青眾惡揚。榮衛不通立須亡。（面青目白亦須亡。）</p>
<p>據脈經改添此句。內經曰。凡面色見黃為有胃氣。皆不死。</p>
<p>面黃目青酒亂頻。邪氣在胃喪其身。面黑目白命門敗。困極八日死來侵。</p>
<p>此四句並上面赤目白定存亡二句。刊誤本無。據刊本添之在此。</p>
<p>面無精光如土色。不能食時四日亡。目無精光齒牙黑。面白目黑亦災殃。口如魚口不能閉。氣出不返命飛揚。肩息直視及唇焦。面腫蒼黑也難逃。妄語錯亂及不語。</p>
<p>脈經曰。病患不能語者。不治。熱病者可治。又有風喑不語。而卒不死者。有妊娠胞脈絕不語。俟產後自能言者。</p>
<p>尸臭元知壽不高。人中盡滿兼唇青。（俗本作背青非）三日須知命必傾。〔兩頰〕（庭黑）顴赤人</p>
<p>〔病久〕（必死。）</p>
<p>靈樞曰。赤色出兩顴。大如拇指者。病雖小愈。必卒死。黑色出於庭。大如拇指。必不病而卒死。庭者、首面也。顴者、眼直下高骨處也。靈樞、千金翼。皆以庭黑顴赤對言。今脈訣取顴赤而舍庭黑。又兩頰為贅詞。故改為庭黑。以備經旨。此必死之兆。難以病久為文。</p>
<p>口張氣直命難停。足趺趾腫膝如斗。十日須知難保守。項筋舒展定知殂。掌內無文也不久。唇青體冷又遺尿。背面飲食四日期。手足爪甲〔皆〕（白）青黑。許過八日定難醫。</p>
<p>脈經有爪甲白者不治之文。脈訣遺之。今改添。</p>
<p>脊疼腰重反覆難。此是骨絕五日看。體重尿赤時不止。肉絕六日總高KT　。</p>
<p>體重溺赤。未可便以為肉絕。內經曰。大肉陷下。大骨枯槁。脫肉破　。難經曰唇反方可為肉絕。更宜參審。</p>
<p>手足爪青呼罵多。筋絕九日定難過。發直如麻〔半日〕（應是）死。</p>
<p>中藏經曰。腸絕發直。汗出不止。不得屈伸者。六日死。發眉俱沖起者死。發如麻喜怒不調者死。</p>
<p>發直者十五日死。今脈訣作半日死。與本文不協。蓋有六日十五日之異。今改曰應是死。脈訣只歌骨肉筋腸四絕。除心肝絕在前。又有腎絕。小便赤澀、下血不止、耳干、腳浮、舌腫、六日死。足腫九日死。脾絕。載脾臟歌中。肝絕。汗出如水、恐懼不安、伏臥、目直面青。八日死。胃絕。齒落面黃。</p>
<p>七日或十日死。今附注於此。庶具載不遺。肉絕中藏經元無。而脈訣自增。故礙理。</p>
<p>尋衣〔語死〕（　妄）〔十知么〕（壽無多。）</p>
<p>脈經曰尋衣縫　語者不可治。陰陽俱絕。尋衣撮空妄言者死。</p>
<h3>論五臟察色候歌</h3>
<p>面腫蒼黑舌卷青。四肢乏力眼如盲。泣出不止是肝絕。〔八日應當〕（日遇庚辛）命必傾。</p>
<p>此云八日從甲數至庚為八日。此言則膠柱矣。從直改為庚辛。</p>
<p>面黧肩息直視看。又兼掌腫沒文斑。狂言亂語心悶熱。一日之內到冥間。臍趺腫滿面浮黃。</p>
<p>泄利不覺污衣裳。肌肉粗澀兼唇反。一十二日內災殃。</p>
<p>口鼻氣出不復回。唇反無文〔黑〕（鼻）似煤。皮毛焦干爪枯折。途程二日定知災。</p>
<p>面黑齒痛目如盲。自汗如水腰折頻。皮肉濡〔結〕（卻）發無澤。四日應當命不存。</p>
<p>改結為卻。本難經。</p>
<h3>診婦人有妊歌</h3>
<p>（舊文不倫。今移從各類。）</p>
<p>肝為血兮肺為氣。血為營兮氣為衛。陰陽配偶不參差。兩臟通和皆類例。血衰氣旺定無妊。血旺氣衰應有體。</p>
<p>以上論成妊之原。</p>
<p>〔尺〕（寸）微關滑尺帶數。流利往來並雀啄。小兒之脈已形見。數月懷胎猶未覺。</p>
<p>上云尺微。下云尺數。可見上尺為誤。女脈在關下。尺脈常盛。若尺微則無陰為病矣。脈經云妊娠初時寸微小。呼吸五至。三月而尺數也。內經曰手少陰脈動甚者。妊子也。又云陰搏陽別。謂之有子。陰謂尺中。搏謂搏擊於手。尺脈搏擊。與寸口殊別。則陰氣挺然。為妊之兆。此即所謂寸微尺數也。脈指南云脈動入產門者有胎也。謂出尺脈外。名曰產門。又云尺中脈數而旺者。胎脈也。為血盛也。關滑。雀啄。脈經並不載。素問曰滑為多血少氣。故有子。此脈訣所自增也。流利往來。滑脈之形。雀啄者。脈指南云。關上。一動一止者一月。二動一止者二月。余仿此。推之萬不失一。此所謂雀啄。雀啄在他病為死形。</p>
<p>三部〔沉正等無疑〕（浮沉按無絕。）尺內不止真胎婦。</p>
<p>脈經曰。三部浮沉正等。按之無絕者。有妊也。今脈訣去浮。以疑易絕。云沉正等無疑。誤甚。</p>
<p>今改之。夫正等者。即仲景所謂寸關尺三處。大小浮沉遲數同等也。仲景以同等為陰陽平和之脈。</p>
<p>雖劇當愈。叔和以正等又按無絕。為有妊之兆。真吉征也。內經腹中論曰何以知懷子之且生也。岐伯曰身有病而無邪脈也。所謂身有病。謂經閉也。尺脈來而斷絕者。經閉月水不利。今病經閉。</p>
<p>而脈反如常不斷絕者。妊娠也。</p>
<p>滑疾〔不散〕（按微）胎三月。但疾不散五月母。</p>
<p>脈經曰。脈滑疾。重手按之微者。胎已三月也。重手按之不散。但疾不滑者。五月也。今改上句從脈經。</p>
<p>以上論三月內有胎之兆。然未知男女之兆也。四月方可以別。故此以下乃分男女之診。分作兩類乃明。</p>
<p>左疾為男右為女。流利相通速來去。兩手關脈大相應。已形亦在前通語。</p>
<p>脈經曰。妊娠四月欲知男女法。左尺偏大為男。右尺偏大為女。左右尺俱大。生二子。大者如實狀。</p>
<p>左疾為男。右疾為女。俱疾生二子。既分左右脈疾。又云流利相通。又云兩手關脈大相應。乃是左右尺脈疾大。上與關大相應。又流利相應。與寸通應。但分左右尺以別男女。左陽右陰以位定也。池氏以左疾為左寸心部屬太陽經。以右疾為右寸肺部屬太陰經。蓋惑於脈賦太陰洪而女孕。太陽大而男孕。不知脈賦惑於脈訣之差。蓋脈賦脈訣。皆竊叔和之名以行世。所述之脈。醇疵相半。聲律之賦。晉代未有。而世鮮知其非。明於醫者。間亦改之一二。而未能盡正云。</p>
<p>左手〔太陽浮大〕（沉實診為）男。右手〔太陰沉細〕（浮大診為）女。</p>
<p>脈經曰。得太陰脈為男。得太陽脈為女。太陰脈沉。太陽脈浮。又云左手沉實為男。右手浮大為女。</p>
<p>左右手俱沉實。猥生二男。左右手俱浮大。猥生二女。李氏雖改脈訣沉細為沉大。猶未知太陽脈浮非男。</p>
<p>脈經作女診也。太陰脈沉非女。脈經作男診也。又以太陽為左手心部。太陰為右手肺部。是又惑於脈訣脈賦之差。徇池氏以舛注舛之非也。脈經雖曰太陽脈沉為男。太陰脈浮為女。亦不明言以何經為太陽太陰。當於何部診之。不若脈經後條浮大為女。沉實為男為明白。故依後條改之。</p>
<p>諸陽為男諸陰女。指下分明長記取。</p>
<p>脈經曰。左右尺俱浮為產二男。不爾則男作女生。左右尺俱沉為產二女。不爾則女作男生。前云右浮大為女。左沉實為男。是獨以左右脈各異立言。今左右俱浮為二男。俱沉為二女。是並左右兩尺脈一同以立言。其於諸陽男。諸陰女。未嘗差也。左沉實左疾。左偏大。與俱浮。或以脈。或以位。</p>
<p>皆陽也。右浮大。右疾。右偏大。與俱沉。或以脈。或以位。皆陰也。此二句總結男女分診定法也。</p>
<p>以上辨四月之後。妊娠男女之診。</p>
<p>〔母乘子〕（夫乘妻）兮縱氣霧。妻乘夫兮橫氣助。子乘母兮逆氣參。〔夫乘妻〕（母乘子）兮順氣護。</p>
<p>仲景謂脈有相乘。水行乘火。金行乘木。曰縱。謂其氣直恣。乘其所勝也。火行乘水。木行乘金。</p>
<p>曰橫。謂其氣橫逆。反乘所不勝也。水行乘金。火行乘木。曰逆。謂子加於母而氣逆也。金行乘水。</p>
<p>木行乘火。為順。謂由母至子。其氣順也。李　范不知此論相乘。脈中夫妻母子。卻作人身形之夫妻母子解之。理不能通。然脈訣引此以診別男女妊形。據脈經別載於前。不載在診妊娠之條。本只是取仲景所論相乘之脈。脈訣不能甄別。混引以歌妊娠。今姑依仲景解之。此四句元在後。今移在此。</p>
<p>與縱橫逆順從類。其縱順二脈。改依仲景元文。</p>
<p>左手帶縱兩個兒。右手帶橫一雙女。左手脈逆生三男。右手脈順生三女。寸關尺部皆相應。一男一女分形證。</p>
<p>以上十句。皆脈訣自撰之辭。恐難以診妊娠男女之別也。且相乘之脈。乃五臟之邪。發為病證。</p>
<p>見之於脈。妊娠乃陰陽和平。陽施陰化以成形。豈有逆於理。乘於臟。現於脈。用為男女之診。又寸關尺皆應。即是左右手前後如一也。即脈經所謂三部浮沉正等之脈。何以應一男一女乎。以上系脈訣差取仲景所論相乘之脈。以論妊娠。今條其非如前。</p>
<p>往來三部通流利。滑數相參皆替替。陽盛陰虛脈得明。遍滿胸堂皆逆氣。</p>
<p>此言惡阻之證之脈。</p>
<p>小兒足日胎成聚。身熱脈亂無所苦。汗出不食吐逆時。精神架構其中住。</p>
<p>此亦謂惡阻證也。脈亂。蓋謂滑數而躁疾也。非謂惡亂無次序者。此八句。皆謂妊娠病脈。</p>
<p>有時子死母身存。或即母亡存子命。牢緊強弦滑者安。沉細而微歸泉〔路〕（瞑。改以協韻）</p>
<p>沉細而微。謂三部俱如此。凶兆也。此四句論妊婦生死脈證之別。</p>
<h3>妊婦雜病生死歌</h3>
<p>血下如同月水來。漏極胞干生殺胎。亦損妊母須憂慮。爭遣神丹救得回。</p>
<p>通真子曰。此只論漏胎候也。夫胎之漏。或食動胎之物。或因熱毒之氣侵損。或因入房勞損。</p>
<p>損輕則漏輕。損重則漏重。但漏血盡則死。然安胎有二法。因母病而動胎。但治母疾。其胎自安。</p>
<p>若胎有不堅。致動。母因以病。但治胎。則母自安。</p>
<h3>妊娠心腹急痛歌</h3>
<p>心腹急痛面目青。冷汗氣絕命必傾。血下不止胎衝上。四肢冷悶定傷身。</p>
<h3>妊娠倒仆損傷歌</h3>
<p>墮胎倒仆或舉重。致胎死在腹中居。已損未出血不止。衝心悶痛母魂孤。</p>
<h3>妊婦傷寒歌</h3>
<p>傷寒頭痛連百節。氣急衝心溺如血。上生斑點赤黑時。壯熱不止致胎滅。嘔吐不止心煩熱。腰背俱強腦痛裂。六七日來熱腹中。小便不通大便結。</p>
<p>見此證必損胎。而妊母亦或致死。治法詳見活人書。</p>
<h3>產後傷寒歌</h3>
<p>產後因得熱病臨。脈細四肢暖者生。脈大忽然肢逆冷。須知其死莫留停。</p>
<p>脈盛身熱。得之傷寒。產後熱病。脈必洪大。難便。以脈大為死證。必遵內經、仲景諸書。</p>
<p>依法汗下。若脈不為汗衰而仍大。是為陰陽交。乃可斷死。汗後脈靜乃可斷生。豈可以病在表裡。</p>
<p>未行治法。遽以脈細為生。四肢冷暖。當參以病證。或陽厥而厥。或作汗而厥。今脈訣所歌。膠柱刻舟之論。</p>
<h3>產難生死歌</h3>
<p>欲產之婦脈離經。沉細而滑也同名。夜半覺痛應分誕。來日日午定知生。</p>
<p>脈經曰。離經其脈浮。設腹痛引腰脊。為欲生也。但離經者不產也。又云其脈離經。夜半覺。</p>
<p>日中則生也。</p>
<p>經者常也。謂離其常處為離經。假如妊婦昨日見左沉實為男之脈。今日或脈浮。是離其尋常之脈。而異於平日。又且腹痛。是知將誕也。通真子引難經一呼三至曰離經為解。李　范又引難經一呼一至曰離經以解沉細而滑。皆非也。難經言損至二脈。雖同名離經。其脈與理則不同。且脈經明言離經。</p>
<p>其脈浮也。不曾引援難經之文。今脈訣因其言脈浮又添沉細而滑。同名離經。蓋以前所診男女脈。</p>
<p>或云浮大為女。若只脈浮為離經。若平常見浮大為女之脈。何以辨離經。故又增沉細而滑。以見離浮大之常經為沉滑也。聖惠方云。夜半子時覺腹痛。來日午時必定生產。謂子午相沖。正半日時數也。</p>
<p>通真子曰夜半痛。日午生。此言恐未為的。又曰腹痛而腰不痛者未產也。若腹痛連腰痛甚者即產。所以然者腎候於腰。胞系於腎。故也。診其尺脈。轉急如切繩轉珠者。即產也。生產有難易。痛來有緊慢。</p>
<p>安可定半日。當斷以活法。</p>
<p>身重體熱寒又頻。舌下之脈黑復青。及舌上冷子當死。腹中須遣母歸冥。面赤舌青細尋看。母活子死定應難。唇口俱青沫又出。母子俱死總高KT　。面青舌〔青〕（赤）沫出頻。母死子活定知真。不信若能看應驗。尋之賢哲不虛陳。</p>
<p>脈指南作面青舌赤。蓋面以候母。舌以候子。今云子活。合以舌赤為是。若云舌青。則與前面赤舌青。</p>
<p>母活子死之候相反。若胎先下。其子得活。如未下。子母俱亡。自身重體熱寒又頻至此。並不用脈。</p>
<p>只以外候參決子母生死。蓋以臨產脈不可考。但當以察色而知之。</p>
<h3>新產生死歌</h3>
<p>新產之脈緩滑吉。實大弦急死來侵。若得沉重小者吉。忽若堅牢命不停。寸口〔澀〕（焱）疾不調死。沉細附骨不絕生。審看此候分明記。長須念取向心經。</p>
<p>脈經曰。產後寸口脈焱疾不調者死。沉微附骨不絕者生。今脈訣述脈經作歌。既用其文。不明其理。擅改焱為澀。其意以為澀滯疾駛並行。方可言不調。反以焱疾為非。是不知脈澀則不疾。脈疾則不澀。其不調者。以焱疾也。產後失血多。五臟虛。故以緩滑沉微不絕為脈應病。澀為少血亦應病之脈。惟焱疾不調勻。則脈形之速。焱浮於上。故云死。一字之差。生死頓異。</p>
<h3>小兒生死候歌</h3>
<p>通真子曰。經云六歲以下為小兒。十八以下為少年。二十以上為壯年。五十以上為老年。其六歲以下。</p>
<p>經所不載。是以乳下嬰兒病難治者。皆無脈可以考也。中古有巫方。立小兒顱囟經。以占夭壽疾病生死相傳習。有少小方焉。迄乎晉宋推諸蘇家。又有巢氏作小兒病源候論。今脈訣此歌。乃萬分之一爾。</p>
<p>愚謂自宋以來。專小方脈者稍多。如錢氏、朱氏、張氏、幼幼新書、全嬰書、嬰孩寶鑒、活幼口議、馮氏妙選寶秘方。及諸家名方。必博覽方可。況小兒之脈。當以大指展轉分按三部。且其脈未定。當以察形色為上工。諸胎中、諸變蒸、五疳、急慢驚風、瘡疹。與大人殊。其他雜病。與大人治療則同。但藥劑有大小輕重。</p>
<p>小兒乳後輒嘔逆。更兼脈亂無憂慮。</p>
<p>脈經曰。是其日數應變蒸之時。身熱脈亂。汗不出。不欲食。食輒吐　者。脈亂無苦也。</p>
<p>弦急之時被氣纏。脈〔緩〕（沉）只是不消乳。</p>
<p>脈經曰。小兒脈沉者食不消。脈訣云緩。非也。</p>
<p>緊數細快亦少苦。〔虛濡邪氣驚風助〕（脈緊乃是風癇痼。）</p>
<p>脈經曰。緊為風癇。本事方同。今脈訣作虛濡非。</p>
<p>利下宣腸急痛時。浮大之脈歸泉路。</p>
<p>此非脈經小兒脈內所述。已詳解在下利微小卻為生下。脈經略舉數脈立證以備其書。是一脈自為一證。李　范乃總為吐後脈證。何見之不明。且小兒吐有數等。今脈亂之吐。乃歌變蒸之候。</p>
<h3>小兒外證十五候歌</h3>
<p>眼上赤脈。下貫瞳人。囟門腫起。兼及作坑。鼻干黑燥。肚大筋青。目多直視。睹不轉睛。</p>
<p>指甲黑色。忽作鴉聲。虛舌退場門。嚙齒咬人。魚口氣急。啼不作聲。蛔蟲既出。必是死形。用藥速急。</p>
<p>十無一生。</p>
<h3>附錄辨奇經脈</h3>
<p>兩手脈浮之俱有陽。沉之俱有陰。陽陰皆實盛者。此為衝督之脈也。衝督之脈者。十二經之道路也。衝督用事。則十二經不復朝於寸口。其人皆苦恍惚狂痴。否者必當猶豫有兩心。兩手陽脈浮而細微。綿綿不可知。俱有陰脈亦復細綿綿。此為陰蹺陽蹺之脈。此家曾有病鬼魅。厥死。苦恍惚亡人為禍。診得陽蹺病拘急。陰蹺病緩。尺寸俱浮。直上直下。此為督脈。腰脊強痛。不得俯仰。</p>
<p>大人癲疾。小兒風癇。脈來中央浮直上下痛者。督脈也。動苦。腰背膝寒。大人顛。小兒癇。尺寸脈俱牢。（一作芤。直上直下。）此為衝脈。胸中有寒疝也。</p>
<p>以上元具浮脈條下。</p>
<p>脈來中央堅實徑至關者。衝脈也。動苦。小腹痛。上搶心。有瘕疝。絕孕。遺失溺。脅支滿煩。</p>
<p>橫寸口邊丸丸者。任脈也。苦腹中有氣如指。上搶心。不得俯仰。拘急。脈來緊細實長至關者。任脈也。動苦。少腹繞臍下。引橫骨。陰中切痛。</p>
<p>以上元具實脈條下。</p>
<p>吳先生云五臟六腑之經。分布手足。凡十二脈。魚際下寸內九分。尺內十分者。手太陰肺經之一脈也。醫者於寸關尺。輒名之曰此心脈、此肺脈、此肝脈、此腎脈非也。兩手三部皆肺臟脈。而分其部位。以候他臟之氣焉耳。其說見於素問脈要精微論。而其所以之故。則秦越人八十一難之首章。發明至矣。是何也。脈者血之流派。氣使然也。肺居五臟之上。氣所出入門戶也。</p>
<p>脈行始肺終肝。而後復會於肺。故其經穴名曰氣口。而為脈之大會。一身之害必於是占焉。</p>
<h2>附錄</h2>
<h3>診脈早晏法</h3>
<p>岐伯曰。診法常以平旦。陰氣未動。陽氣未散。飲食未進。經脈未盛。絡脈調勻。氣血未亂。故乃可診有過之脈。切脈動靜。而視精明。察五色。觀五臟有餘不足。六腑強弱。形之盛衰。以此參伍。決死生之分。（機按。診法以平旦。主無病者言。若遇有病。則隨時皆可以診。不必以平旦為拘也。於此又知前聖決死生之分。不專於脈。必須察色觀形。以此相參伍也。今世專尚診脈。</p>
<p>而不復問其余。是不知前聖垂訓之意也。故表而出之。示警後人。）</p>
<p>十二經皆有動脈。獨取寸口以決五腑六腑死生吉凶之候者。然。寸口脈之大會。手太陰之動脈也。</p>
<p>脈行五十度。周於身。而復會於手太陰。太陰者寸口也。即五臟六腑之終始。故取法於寸口。</p>
<p>（機按。此以氣口決死生者。謂氣口為五臟主也。難經四難言。五臟皆以胃氣為主。其脈在關上。是人之生死亦系於關上。八難十四難又言。人之有尺。譬如樹之有根。脈有根本。人有元氣。故知不死。</p>
<p>是生死又系於尺脈也。可見寸關尺各有所歸重。故越人所以錯綜其義也。）</p>
<h3>寸關尺</h3>
<p>脈經曰。從魚際至高骨。卻行一寸。其中名曰寸口。從寸至尺。名曰尺澤。故曰尺寸。寸後尺前。</p>
<p>名曰關。陽出陰入。以關為界。陽出三分。陰入三分。故曰三陰三陽。陽生於尺動於寸。陰生於寸動於尺。（機按。難經曰尺寸。脈之大要會也。從關至尺。是尺內。陰之所治也。從關至魚際。</p>
<p>是寸內。陽之所治也。故陰得尺內一寸。陽得寸內九分。尺寸始終。一寸九分。故曰尺寸也。於一寸九分之中。曰尺曰寸。而關在其中矣。一難言。寸口脈之大會。以肺朝百脈而言也。此言尺寸為脈之大要會。以陰陽對待而言也。大抵尺陰寸陽。人之一身。經絡榮衛。五臟六腑。莫不由於陰陽。而或過與不及。於尺寸見焉。故為脈之大要會也。一說古法寸部占九分。關尺部各占一寸。</p>
<p>三部共二寸九分。若臂短者亦依此法。則頭指診在關部。次指診在尺部。第三指診在閑處。如何知病之所在。今但以高骨為準。揣得高骨。壓中指於高骨。以定關位。然後下前後兩指以取尺寸。</p>
<p>不必拘九分一寸之說也。）</p>
<h3>五臟六腑脈所出</h3>
<p>（以輕重分臟腑）</p>
<p>左寸。心小腸脈所出。</p>
<p>重按至血脈。浮大而散者。心脈也。屬臟。或謂浮澀而短。輕按至皮毛。浮滑而長者。小腸脈也。</p>
<p>屬腑。</p>
<p>左關。肝、膽脈所出。</p>
<p>重按至筋骨。沉短而弦急者。肝脈也。屬臟。輕按至皮毛。弦緊而浮長者。膽脈也。屬腑。</p>
<p>左尺。腎、膀胱脈所出。</p>
<p>重按至筋骨。沉而遲者。腎脈也。屬臟。輕按至皮毛。沉實而稍疾者。膀胱脈也。屬腑。</p>
<p>右寸。肺、大腸脈所出。</p>
<p>微重按於皮肉。浮短而澀者。肺脈也。屬臟。輕按至皮毛。浮短而疾者。大腸脈也。屬腑。</p>
<p>右關。脾、胃脈所出。</p>
<p>重按至肌肉。緩而遲者。脾脈也。屬臟。輕按至皮毛。微緩而稍疾者。胃脈也。屬腑。</p>
<p>右尺。命門、三焦脈所出。</p>
<p>重按至筋骨。沉實而疾者。命門脈也。屬臟。輕按至皮毛。沉實而稍疾者。三焦也。屬腑。</p>
<p>機按。命門三焦。配合右尺。刊誤辯之詳矣。茲不復贅。但此與刊誤。並以輕重而分診臟腑之脈。不知何所據也。意者臟屬陰主沉。腑屬陽主浮。故以義取輕重為診式耶。他本又謂內以候臟。</p>
<p>外以候腑。其義亦猶此也。然考之脈經。及素難諸書。只論五臟之脈。於六腑之脈。雖言之而不詳。六腑病脈。</p>
<p>雖間或言之。診法輕重亦未之及。蓋謂臟脈可以兼腑歟。抑謂能知臟脈。而腑脈無勞診歟。或病在六腑為輕。而脈無要緊耶。愚皆莫解其意也。且所論五臟脈狀。及六腑脈狀。與下編大不相侔。亦不知其何所本也。故著之以俟明者。</p>
<h3>五臟平脈</h3>
<p>心脈。浮大而散。</p>
<p>心合血脈。故心脈循血脈而行。持脈指法。如六菽之重。按至血脈而得者為浮。稍稍加力。</p>
<p>脈道粗者為大。又稍加力。脈道闊軟者為散。余仿此。機按。菽。豆也。指按如六豆之重也。</p>
<p>肺脈。浮澀而短。</p>
<p>肺合皮毛。故脈循皮毛而行。持脈指法。如三菽之重。按至皮毛而得者為浮。稍稍加力。脈道不利為澀。又稍加力。不及本位曰短。</p>
<p>肝脈。弦而長。</p>
<p>肝合筋。故肝脈循筋而行。持脈指法。如十二菽之重。按至筋。脈道與箏弦相似為弦。次稍加力。脈道迢迢者為長。</p>
<p>脾脈。緩而大。</p>
<p>脾合肌肉。故脾脈循肌肉而行。持脈指法。如九菽之重。按至肌肉。如微風輕　柳梢之狀。</p>
<p>為緩。次稍加力。脈道敦實者為大。</p>
<p>腎脈。沉而軟滑。</p>
<p>腎合骨。故腎脈循骨而行。持脈指法。按至骨上而得者為沉。次重按之。脈道無力為軟。</p>
<p>舉指來疾。脈道流利者為滑。凡此五臟平脈。須要察之。久久成熟。一遇病脈。自然可曉。</p>
<p>經曰。先識經脈。而後識病脈。此之謂也。</p>
<h3>六腑平脈</h3>
<p>（出診脈須知。）</p>
<p>左寸。手太陽小腸脈。洪大而緊。（一云洪大而長。為受盛之官。名受盛之府。）</p>
<p>左關。足少陽膽脈。弦大而浮。（一云大而浮。一云乍數乍疏。乍短乍長。一云乍大乍小，乍短乍長。與祟脈無異。何以區別。然兩手三部皆然。方為祟脈。今獨左手關部如此。則謂之膽脈。可也。</p>
<p>膽為中正之官。名清淨之府。相火膽與風肝合。脈急則為驚。）</p>
<p>左尺。足太陽膀胱脈。洪滑而長。（膀胱為州都之官。名津液之府。寒水膀胱。與君火腎合。脈急則為瘕。或曰心脈居午。謂之君火宜也。今腎脈居子。亦謂之君火何義。又命門脈為心主。</p>
<p>居亥。謂之相火宜也。今膽脈居寅。亦謂之相火。又何邪。內經天元紀論。鬼臾區曰。子午之歲。</p>
<p>上見少陰。巳亥之歲。上見厥陰。少陰所謂標也。厥陰所謂終也。厥陰之上。風氣主之。少陰之上。</p>
<p>熱氣主之。少陽之上。相火主之。而釋者謂午亥之歲為正化。子巳之歲為對化。由此言之。則心腎皆可言君火。以其熱氣主之也。厥陰既主風氣。而手厥陰命門不當以相火言。少陽既主其相火。</p>
<p>則膽與三焦為相火明矣。）</p>
<p>右寸。手陽明大腸脈。浮短而滑。（一云短而澀。為傳道之官。名傳道之府。）</p>
<p>右關。足陽明胃脈。浮長而滑。（一云浮大而短。為倉廩之官。名水穀之府。燥金胃與濕土脾合。）</p>
<p>右尺。手少陽三焦脈。洪散而急。（為決瀆之官。名外府。機按。以上但言六腑脈狀。而診法輕重內外。俱未及論。學人宜更考之。）</p>
<h3>四時平脈</h3>
<p>凡診脈須先要識時脈。胃脈。與臟腑平脈。然後及於病脈。（時脈。謂春三月六部中俱帶弦。夏三月俱帶洪。秋三月俱帶浮。冬三月俱帶沉。胃脈。謂中按得之脈和緩。臟腑平脈已見前章。</p>
<p>凡人臟腑脈既平。胃脈和。又應時脈。乃無病者也。反此為病。又曰三部之內。大小浮沉遲數同等。</p>
<p>尺寸陰陽高下相符。男女左右強弱相應。四時之脈不相戾。命曰平人。其或一部之內。獨大獨小。</p>
<p>偏遲偏疾。左右強弱之相反。四時男女之相背。皆病脈也。凡脈見在上曰上病。在下曰下病。左曰左病。</p>
<p>右曰右病。左脈不和。為病在表。為陽。主四肢。右脈不和。為病在裡。為陰。主腹臟。以次推之。）</p>
<h3>三部所主</h3>
<p>（附九候）</p>
<p>診脈之時。人臂長則疏下指。臂短則密下指。寸為陽。為上部。（主頭項以下至心胸之分。）關為陰陽之中。為中部。</p>
<p>（主臍腹　脅之分）尺為陰。為下部。（主腰足脛股之分）凡此三部之中。每部各有浮中沉。三候。三而三之。為九候也。</p>
<p>持脈之要有三。曰舉。曰按。曰尋。（輕手取之曰舉。重手取之曰按。不輕不重委曲求之曰尋。初持脈輕手候之。脈見皮膚之間者。陽也。腑也。亦心肺之應也。所謂浮按消息是也。重手取之。脈附於肉下者。陰也。臟也。亦腎肝之應也。所謂沉按消息是也。不輕不重。中而取之。脈應於血肉之間者。陰陽相適。中和之應。脾胃之候也。所謂中按消息是也。若浮中沉之不見。則委曲求之。若隱若見。則陰陽伏匿之脈也。所謂推而內之是也。三部皆然。一說左寸。浮。候左頭角。中。候左脅。沉。候少陰心。左關浮。候小腸膽。中。候左脅。沉。候厥陰肝。左尺。浮。候膀胱。中。候左腰。沉。候腎。右寸。浮。候右頭角。中。候兩耳目。沉。候肺。右關。浮。候胃。中。候胸中。沉。候脾。右尺。浮。候三焦。中。候右腰。沉。候命門。）</p>
<p>診候推移指法。（推而外之。消息之。內而不外。有心腹積也。推而內之。消息之。外而不內。身有熱也。推而上之。</p>
<p>消息之。上而不下。腰足清也。推而下之。消息之。下而不上。頭項痛也。左寸。外以候心。內以候膻中。左關。外以候肝。內以候膈。右寸。外以候肺。內以候胸中。右關。外以候胃。內以候脾。兩尺。外以候腎。裡以候腹中。是以有推而內。推而外。消息之法也。一說左寸。推而上之。上而不下。頭項痛也。推而下之。下而不上。胸脅痛也。推而內之。內而不外。心腹積也。推而外之。外而不內。眼目昏也。左關。推而上之。上而不下。腰足清也。推而下之。下而不上。腸胃痛也。推而內之。內而不外。筋骨痛也。推而外之。外而不內。主身有熱也。左尺。推而上之。上而不下。</p>
<p>小腸痛也。推而下之。下而不上。足脛痛也。推而內之。內而不外。小便濁也。推而外之。外而不內。腰足痛也。右寸。</p>
<p>推而上之。上而不下。氣喘急也。推而下之。下而不上。胸中痛也。推而內之。內而不外。咽喉痛也。推而外之。外而不內。背脊痛也。右關。推而上之。上而不下。吐逆也。推而下之。下而不上。主下血也。推而內之。內而不外。腹有蟲也。推而外之。外而不內。肌肉痛也。右尺。推而上之。上而不下。小腹脹也。推而下之。下而不上。足脛痛也。推而內之。內而不外。疝瘕也。推而外之。外而不內。小便秘也。機按。消息。謂詳細審察也。推。謂以指挪移於部之上下而診之。以脈有長短之類也。又以指挪移於部之內外而診之。以脈有雙弦單弦之類也。又以指推開其筋而診之。以脈有沉伏止絕之類也。刊誤謂內外以指按輕重言。推有數義。故特著之。非但外以候心。內以候膻中之類也。自一說以下。所論亦無所據。姑錄之以備參考。）</p>
<p><a href="_files/pt103a1.bmp">圖</a></p>
<p>察脈。須識上下來去至止六字。不明此六字。則陰陽虛實不別也。（上者為陽。來者為陽。至者為陽。下者為陰。去者為陰。止者為陰也。上者。自尺部上於寸口。陽生於陰也。下者。自寸口下於尺部。陰生於陽也。來者自骨肉之分。而出於皮膚之際。氣之升也。去者自皮膚之際。而還於骨肉之分。</p>
<p>氣之降也。應曰至。息曰止也。若短小而見於肌肉之間。陰乘陽也。洪大而見於肌肉之下。陽乘陰也。</p>
<p>寸尺皆然。）</p>
<p>診脈。須辨表裡虛實四字。（表。陽也。腑也。凡六淫之邪。襲於經絡。而未入胃腑及臟者。</p>
<p>皆屬於表也。裡。陰也。臟也。凡七情之氣。郁於心腹之內。不能散越。飲食之傷。留於臟腑之間。</p>
<p>不能流通。皆屬於裡也。虛者元氣之自虛。精神耗散。氣力衰弱也。寶者邪氣之實。由正氣之本虛。</p>
<p>邪氣乘之。非元氣之自實也。故虛者補其正氣。實者瀉其邪氣。經曰所謂虛實。邪氣盛則實。精氣奪則虛。此大法也。）</p>
<p>脈者血氣之先也。氣血勝則脈勝。氣血衰則脈衰。氣血熱則脈數。氣血寒則脈遲。氣血微則脈弱。</p>
<p>氣血平則脈治。又長人脈長。短人脈短。肥人脈沉。瘦人脈浮。性急人脈急。性緩人脈緩。左大順男。</p>
<p>右大順女。男子尺脈常弱。女子尺脈常盛。此皆其常也。反之者逆。（千金翼云。人大而脈細。人細而脈大。人樂而脈實。人苦而脈虛。性急而脈緩。性緩而脈躁。人壯而脈細。人羸而脈大。此皆為逆。逆則難治。反此為順。順則易治。凡婦人脈。常欲濡弱於丈夫。小兒四五歲脈。呼吸八至。細數者吉。男左大為順。女右大為順。）</p>
<p>脈貴有神。（東垣云。不病之脈。不求其神。而神無不在也。有病之脈。則當求其神之有無。如六數七極。熱也。脈中有力。則有神矣。為瀉其熱。三遲二敗。寒也。脈中有力。則有神矣。為去其寒。若數極遲敗中。不復有力。為無神也。將何所恃邪。苟不知此。而遽瀉去之。神將何所依而主邪。經曰。脈者氣血之先。氣血者人之神。善夫。）</p>
<p>凡取脈之道。理各不同。脈之形狀。又各非一。凡脈之來不必單至。必曰浮而弦。浮而數。沉而緊。沉而細之類。</p>
<p>將何以別之。大抵提綱之要。不出浮沉遲數滑澀之六脈也。（浮為陽。輕手得之，而芤。洪。大。散。長。濡。弦。皆輕手而得之之類也。沉為陰。重手得之。而伏。石。短。細。牢。實。皆重手而得之之類也。遲者。一息脈二至。而緩。</p>
<p>結。微。弱者。皆遲之類也。數者一息脈六至。而疾。促。皆數之類也。或曰滑。類乎數。澀。類乎遲。然脈雖似。而理則殊。彼遲數之脈。以呼吸察其至數之疏密。此滑澀之脈。則以往來察其形狀也。機按。脈雖種種不同。而浮沉遲數四脈。可以統之。但識四脈則諸脈之象可以類推。難經於六難專言浮沉。九難專言遲數。既以四脈為重。近世陳無擇諸人亦皆言浮沉遲數。可統諸脈。良有旨哉。浮之有力。為洪。為長。為革。浮之無力。為芤。為虛。為微。為濡。為散。</p>
<p>皆浮脈所統也。沉之有力為弦。為牢。為實。沉之無力為短。為細。為弱。沉極為伏。皆沉之所統也。遲之有力。為緩。</p>
<p>為結。遲之無力。為澀。為代。皆遲之所統也。數之有力。為滑。為動。為緊。數之無力。為促。皆數之所統也。）</p>
<p>脈之提綱。不出六字者。蓋以其足以統夫表裡陰陽。冷熱虛實。風寒燥濕。臟腑血氣也。（浮為陽。為表診。為風。為虛。沉為陰。為裡診。為濕。為寒。實。遲為在臟。為寒。為冷。數為在腑，為熱為燥，滑為血有餘。澀為氣獨滯也。</p>
<p>人一身之變不越乎此。能於是六脈之中審求之。則　疾之在人者莫能逃焉。一說浮有力主風。無力主虛。沉有力主積。</p>
<p>無力主氣。三因方為濕為實。沉有力主痛。無力主冷。數有力主熱。無力主瘡。為燥。）</p>
<h3>八段錦</h3>
<p>第一。平鋪三指闊。（初持脈時。不必便尋三部。且闊鋪三指。從尺外臂內。稍稍挪上探摸。要知皮膚端的。方可診候三部。十三難曰。脈數。而尺之皮膚亦數等語。古人先診視三部。然後參以尺之皮膚。尺之皮膚者。第三部尺中脈之外。臂肉內皮上也。此處不診動脈。但探試皮膚。或數。或急。或緩。或澀。或滑。故以尺中皮膚言之。所以欲知尺之皮膚者。欲以此法先得其身之冷熱。形之腴瘠。膚之疏密。則淺深內外久近之疾。可得而識也。丁氏曰。臂內數者。皮膚熱。臂內急者。經絡滿實。緩者。肌肉消。愚故云。數。言臂肉。皮膚熱便知病亦是熱。皮膚不熱者。病亦是不熱。</p>
<p>其他極冷。與非冷非熱。可以類推矣。急。言其肉實而皮急。是近病。營衛未消耗也。緩。言其肉皮寬。是久病。營衛已消耗也。澀。言皮膚不滑澤。腠理閉。無汗。然也。滑。言其潤滑。腠理疏。汗多然也。古人言不盡意。舉此五者言之。大意可見。或者不用三指。只以一指自上至下。逐部按之。未嘗不可。然不可以得尺之皮膚。不足法也。尺之皮膚。</p>
<p>或男或女。只看一手便見。）</p>
<p>第二。三部準高骨。（人兩手。掌後各有高骨。欲診三部。先以中指揣得高骨。名為關上。既得高骨。微微抬起中指。</p>
<p>以食指。於高骨之前。取寸口脈。診寸口畢。則微微抬起食指。再下中指。取關上脈。診關上畢。復微微抬起中指。又下無名指於高骨之後。取尺中脈。診候之時。不可正對患人。要隨左右偏立兩傍。慎容止。調鼻息。專念慮。然後徐徐診候。若乖張失次非法矣。一說凡診脈。以氣息平定。方可下指。病者禁聲勿言。醫者閉息莫語。寂然敬靜。絕無外聽。</p>
<p>初則浮按消息之。次中按消息之。次重按消息之。次上竟消息之。次下竟消息之。次推指外消息之。次推指內消息之。</p>
<p>其詳。見前推移用指法。）</p>
<p>第三。指法定宗源。（崔劉二師。止以浮沉遲數四脈。定風氣冷熱四病。以概百　。原此四者止是雜症。若卒診傷寒外感之疾。則有不可通者。今取仲景平脈法。參以崔劉所傳。庶幾並用而無遺恨。其曰。浮風。沉氣。遲冷。數熱。此祖訣論雜病者也。其曰浮在表。沉在裡。遲在臟。數在腑。今所定傷寒診法也。須要知得傷寒與雜症診法。皆須以浮沉遲數四脈為宗。而又各有其類不可混淆。必得此訣。然後可讀脈書。不然則泛無統會也。）</p>
<p>第四。通融葉於一。（以前法定得病症。又以病症參驗前法。既因脈以知病。復隨病以考脈。融會貫通。反復探討。</p>
<p>實得病名。歸一而後止。凡診脈最難。有脈病相應者。有不相應者。有病得易愈之脈者。有治之而即瘥者。有治之而增劇者。大要以我簡易馭彼繁難。以我之一心制彼之萬變。此所謂通一舉萬之道也。）</p>
<p>第五。觀形勿泥形。（脈經曰。五臟各有聲色臭味。當與寸口尺內相應。其不相應者病也。是知觀形察色。與寸口尺內相應。此古法也。謂如色青是肝病。當得弦而急肝脈之類。然仲景法又不止察五臟色脈而已。必觀其起居動靜。及諸外症。可以望而知之者。要當目睹心推。洞見端的。方斷吉凶。豈但察五臟別五色而已哉。）</p>
<p>第六。聞聲不在聲。（經云聞而知之謂之聖。亦如察色。以五臟所主相參。故曰聞其五音以別其病。此亦幾於拘泥。</p>
<p>如中風不語為入臟。然有無故而喑。脈不至。不治自愈。為氣暴逆者。雖與中風不語相似。而實不同。又如傷寒譫語。</p>
<p>為陽明病。胃中有燥屎。當下則愈。與虛病譫語。正氣脫絕。精神散亂。若下之。則為重虛。此處一差。禍如反掌。又曰聲重咳嗽。固為寒邪。亦有風熱上壅。及勞嗽失聲。而為肺痿。難愈之症。症同實異。然則聽聲之法。豈可以宮商角徵羽之五音。而定五臟之病哉。須將患人之言語聲音。與病家來請語言。及他一切旁觀物議。皆當審聽。入耳注心。斯乃聞聲之道。非古法所能盡也。）</p>
<p>第七。發言須當理。（望聞問切。謂之神聖工巧。問症本第三法。切脈本第四法。今世道不古。以切脈反居第一。以問視為最末。抱病不惟不言。雖再三義詢叩。終亦不告。反謂醫拙。甚至有隱疾而困醫者。醫固為爾所困。不思身亦為醫所困矣。果何所益哉。雖然。為醫者亦須貴乎有學。大率診視已畢。不可便指病名。發言猝易。須從所得脈象說起。廣引經書以為證據。然後由淺而深。說歸病症。務要精當確實。不可支離狂妄。說證已畢。然後徐徐問其所苦。或論說未盡。</p>
<p>使患者一一詳告。卻以彼說較吾所診。或同或異而折衷之。如此則望聞問切四法兼全。彼我之間交相孚契。既無所惑。</p>
<p>必收全功。）</p>
<p>第八。慈憫濟蒼生。（孫思邈云。凡醫治病。必須安神定志。無欲無求。不論貴賤貧富。視為一等。皆如至親。亦不得瞻前顧後。自慮吉凶。護惜身命。見彼苦惱若已有之。深加惻愴勿避險　。一心救難。無存形跡。如此。可謂慈憫濟蒼生。太醫反此則含靈巨賊。今考斯言。切中世醫之病。衡陽羅氏云今之醫者。每每毀訾前醫。驚恐病家。意圖濃賂。</p>
<p>尤為不仁之甚。昔皇子病　國醫莫能治。長公主因言錢乙起草野。有異能。立召入。進黃土湯而愈。神宗問此何以能愈斯疾。對曰。以土勝水，木得其平。則風自止。且諸醫治亦將愈。小臣適逢其愈。上悅其對。擢太醫丞。學人能以仲陽之心為心。則善矣。愚謂醫本末技。若不謀利不計功。則為仁人。苟患得患失則無所不至矣。況用心不仁之人。自有果報。故於診視之中。備述孫真人錢醫丞嘉言善行。以為吾徒勉。）</p>
<h3>怪脈</h3>
<p>雀啄連來三五啄。（脈經曰。雀啄者。脈來數而疾絕。止復頓來也。診脈要訣云主脾元穀氣已絕。胃氣無所榮養。其脈來指下。連連湊指。數急殊無息數。但有進而無退。頓絕自去。良久準前又來。宛如雞踐食之貌。但數日之壽也。王叔和云雀啄頓來而又住。據此云脾絕之脈。蕭處濃謂之心絕。吳仲廣謂之木脈。其說尤遠。當以脾絕為是。）</p>
<p>屋漏半日一點落。（脈經曰屋漏者。其來既絕而止。時時復起。而不相連屬也。王叔和云。屋漏將絕而復起。吳仲廣云。脈來指下。按之極慢。一息之間。或來一至。若屋漏之水。滴於地上。而四畔濺起之貌。主胃經已絕。穀氣空虛。</p>
<p>立死之候。據此云胃絕。而蕭處濃又謂心肺絕。何耶。）</p>
<p>彈石硬來尋即散。（脈經曰脈來如彈石。去如解索者死。彈石者。辟辟急也。解索者。動數而隨散亂。無復次序也。</p>
<p>蕭處濃謂肺絕之脈。吳仲廣謂肝絕。當以謂腎絕為正。蓋石乃腎之本脈。合沉濡而滑。今真藏脈見。如彈石。劈劈然湊指。殊無息數。死無疑矣。一說脈來指下。如堅硬之物擊於石。貌劈劈然無息數。）</p>
<p>搭指散亂真解索。（解索見前彈石下。吳仲廣云解索脈者。其形見於兩尺。脈來指下。散而不聚。若分於兩畔。更無息數。是精髓已耗。將死之候。機按。脈經云。來如彈石。去如解索。似通指一脈來去而言也。今此分為二脈。則與脈經相反矣。宜考之。）</p>
<p>魚翔似有一似無。（脈經云魚翔者。似魚不行而但掉尾動頭。身搖而久住者。是也。王叔和云。魚躍澄澄而遲疑掉尾。</p>
<p>吳仲廣云。脈來指下。尋之即有。泛泛高虛。前定而後動。殊無息數。宛如魚游於水面。頭不動而尾緩搖之貌。主腎與命門俱絕。衛氣與營氣兩亡。旦占夕死。）</p>
<p>蝦游靜中跳一躍。（脈經曰。蝦游者冉冉而起。尋復退沒。不知所在。久乃復起。起輒遲而沒去速者是也。王叔和云。</p>
<p>蝦游冉冉。而進退難尋。吳仲廣云。脈來指下。若蝦游於水面。沉沉不動。瞥然驚掉而去。將手欲趁。杳然不見。須臾於指下又來。良久準前復去。如蝦游入水之形。瞥然而上。倏然而去。此是神魂已去之候。一說。脾胃絕也。）</p>
<p>寄語醫家子細看。此脈一見休餌藥。</p>
<h4>矯世惑脈論</h4>
<p>（汪機撰）</p>
<p>夫脈者本乎營與衛也。而營行於脈之中。衛行於脈之外也。苟臟腑和平。營衛調暢。則脈無形狀之可議矣。或六淫外襲。七情內傷。則臟腑不和。營衛乖謬。而二十四脈之名狀。層出而疊見矣。</p>
<p>是故風寒暑濕燥火。此六淫也。外傷六淫之脈。則浮為風。緊為寒。虛為暑。細為濕。數為燥。洪為火。</p>
<p>此皆可以脈而別其外感之邪也。喜怒憂思悲恐驚者。此七情也。內傷七情之脈。喜則傷心而脈緩。</p>
<p>怒則傷肝而脈急。憂則傷肺而脈澀。思則傷脾而脈結。恐則傷腎而脈沉。悲則氣消而脈短。驚則氣亂而脈動。凡此者皆可以脈而辨其內傷之病也。然此特舉其常。而以脈病相應者為言也。若論其變。</p>
<p>則有脈不應病。病不應脈。變出百端。而難一一盡憑於脈矣。試舉一二言之。張仲景云。脈浮大。</p>
<p>邪在表。為可汗。若脈浮大。心下硬。有熱。屬臟者。攻之。不令發汗。此又非浮為表邪。可汗之脈也。</p>
<p>又云促脈為陽盛。宜用葛根黃芩黃連湯。若脈促厥冷為虛脫。非灸非溫不可。此又非促為陽盛之脈也。</p>
<p>又云遲脈為寒。沉脈為裡。若陽明脈遲。不惡寒。身體　汗出。則用大承氣。此又非諸遲為寒之脈矣。</p>
<p>少陰病始得之。反發熱而脈沉。宜麻黃細辛湯。微汗之。此又非沉為在裡之脈矣。凡此皆脈難盡憑之明驗也。若只憑脈而不問症。未免以寒為熱。以表為裡。以陰為陽。顛倒錯亂。而夭人長壽者有矣。</p>
<p>是以古人治病。不專於脈。而必兼於審症。良有以也。奈何世人不明乎此。</p>
<p>往往有病諱而不言。惟以診脈而試醫之能否。診之而所言偶中。便視為良醫。傾心付托。篤意委任。而於病之根源。一無所告。藥之宜否。亦無所審。惟束手聽命於醫。因循遂至於死。尚亦不悟。深可悲夫。</p>
<p>彼庸俗之人。素不嗜學。不識義理。固無足怪。近世士大夫家。亦未免狃於此習。是又大可笑也。</p>
<p>夫定靜安慮格物致知。乃大學首章第一義。而慮者謂處事精詳。格物者謂窮致事物之理。致知者謂推極吾之所知。凡此數事。學人必常究心於此矣。先正又曰。為人子者不可以不知醫。病臥於床。</p>
<p>委之庸醫。比之不慈不孝。夫望聞問切。醫家大節目也。苟於臨病之際。惟以切而知之為能。其余三事一切置而不講。豈得為知醫乎。豈得為處事精詳乎。豈得為窮致事物之理。而推極吾之所知乎。</p>
<p>又豈得為父而慈。為子而孝乎。且醫之良。亦不專於善診一節。苟或動靜有常。舉止不妄。存心而忠濃。發言而純篤。察病詳審。處方精專。兼此數者。亦可謂之良矣。雖據脈言症。或有少差。然一脈所主非一病。故所言未必盡中也。若以此而遂棄之。所謂以二雞子而棄干城之將。烏可與智者道哉。</p>
<p>姑以浮脈言之。脈經云。浮為風、為虛、為氣、為嘔、為厥、為痞、為脹、為滿、不食、為熱、為內結等類。所主不下十數種病。假使診得浮脈。彼將斷其為何病耶。苟不兼之以望聞問。而欲的知其為何病。吾謂戛戛乎其難矣。古人以切居望聞問之後。則是望聞問之間。已得其病情矣。不過再診其脈。看病應與不應也。若病與脈應。則吉而易醫。脈與病反。則凶而難治。以脈參病。意蓋如此。</p>
<p>曷嘗以診脈知病為貴哉。夫脈經一書。拳拳示人以診法。而開卷入首。便言觀形察色。彼此參伍。以決死生。可見望聞問切。醫之不可缺一也。豈得而偏廢乎。噫。世稱善脈莫過叔和。尚有待於彼此參伍。況下於叔和萬萬者耶。故專以切脈言病。必不能不至於無誤也。安得為醫之良。抑不特此。世人又有以太素脈而言人貴賤窮通者。此又妄之甚也。予嘗考其義矣。夫太者始也。初也。如太極太乙之太。素者質也。本也。如繪事後素之素。此蓋言始初本質之脈也。始初本質之脈。果何脈耶。則必指元氣而言也。東垣云。元氣者。胃氣之別名。胃氣之脈。蔡西山所謂不長不短。不疏不數。不大不小。應手中和。意思欣欣。難以名狀者是也。無病之人皆得此脈。以此脈而察人之有病無病。則可。以此脈察人之富貴貧賤。則不可。何也。胃氣之脈。難以形容。莫能名狀。將何以為貴賤窮通之診乎。</p>
<p>竊視其書。名雖太素。而其中論述。略無一言及於太素之義。所作歌括率多俚語。全無理趣。原其初志。不過托此以為僥利之媒。後世不察。遂相傳習。莫有能辯其非者。或又為之語曰。太素云者。</p>
<p>指貴賤窮通稟於有生之初而言也。即脈可以察而知之。非謂脈名太素也。予曰。固也。然則太素之所診者。必不出於二十四脈之外矣。夫二十四脈皆主病言。一脈見則主一病。貧富貴賤。何從而察知哉。</p>
<p>假如浮脈。其診為風。使太素家診之。將言其為風耶。抑言其為貴賤窮通耶。二者不可得兼。若言其為風。則其所知亦不過病也。若遺其病而言其為貴賤窮通。則是近而病諸身者尚不能知。安得謂之太素。</p>
<p>則遠而違諸身者。必不能知之也。蓋貴賤窮通。身外之事。與身之血氣了不相干。安得以脈而知之乎。</p>
<p>況脈之變見無常。而天之寒暑不一。故四時各異其脈。不能必其久而不變。是以今日診得是脈。明日診之而或非。春間診得此脈。至夏按之而或否。彼太素者。以片時之尋按。而斷人一生之休咎。殆必無是理。然縱使億則屢中。亦是捕影捉蛇。仿佛形象。安有一定之見哉。噫。以脈察病。尚不知病之的。而猶待於望聞問切。況能知人之貴賤窮通乎。使脈而能知貴賤窮通。則周公之易。邵子之數。希夷之相。子平之命。皆不必作矣。何聖人之不憚煩也。何後世不從其脈之簡便。</p>
<p>而猶以卜占風鑒星命。而談不絕口哉。且脈肇於岐黃。演於秦越。而詳於叔和。遍考素難脈經。並無一字語及此者。非隱之也。殆必有不可誣者矣。若果如太素所言。古人當先為之矣。又何待後人之馳騁耶。巢氏曰。太素脈者善於相法。特假太素以神其術耳。誠哉言也。足以破天下後世之惑矣。</p>
<p>又有善伺察者。以言　人。陰得其實。故於診按之際。肆言而為欺罔。此又下此一等。無足論也。</p>
<p>雖然人稟天地之氣以生。不能無清濁純駁之殊。稟氣之清者。則必形質清。血氣清。而脈來亦清。</p>
<p>清則脈形圓淨。至數分明。吾診乎此。但知其主貴與富而已。若曰何年登科。何年升授。何日招財。</p>
<p>何年得子。吾皆不得而知矣。稟氣之濁者。則必形質濁。氣血濁。而脈來亦濁。濁則脈形重濁。至數混亂。吾診乎此。但知其主貧與賤而已。若曰某時招晦。某時失財。某時損妻。某時克子。吾亦莫得而知矣。又有形濁而脈清者。此謂濁中之清。所主得意處多。而失意處少也。質清而脈濁者。此謂清中之濁。所主失志處多。而得志處少也。又有形不甚清。脈不甚濁。但浮沉各得其位。大小不失其等。亦主平穩而無大得喪也。富貴而壽。脈清而長。貧賤而夭。脈濁而促。其或清而促者。富貴而夭也。濁而長者。貧賤而壽也。其他言有所未盡。義有所未備。學人可以準此而類推。是則吾之所調以脈而知人富貴窮通者。一本於理而論也。豈敢妄為之說以欺人哉。噫。予所以著為是論者。蓋以世之有言太素脈者。靡不翕然稱美。不惟不能以理折。又從而延譽之於人。縱使其言有謬。陰又與之委曲而影射。此所謂誤己而誤人者也。果何益之有哉。又有迎醫服藥者。不惟不先言其所苦。甚至再三詢叩。</p>
<p>終於默默。至有隱疾而困醫者。醫固為爾所困。不思身亦為醫所困矣。吁。可慨也夫。此皆世之通患。</p>
<p>人所共有。故予不得不詳論之。以致夫叮嚀之意。俾聾瞽者或有所開發焉。孟子曰。予豈好辯哉。予不得已也。（經曰。春傷於風。夏生飧泄。夏傷於暑。秋必　瘧。秋傷於濕。冬生咳嗽。冬傷於寒。春必病溫。王安道注曰。四氣之傷人。人豈能於未發病之前。預知其客於何經絡。何臟腑。而成何病乎。及其既發病。然後可以診候。始知其客於某經絡。某臟腑。成某病耳。飧泄也。　瘧也。咳嗽也。溫病也。</p>
<p>皆是因其病發之時。形診昭著。乃逆推之。而知其昔日致病之原。為傷風。傷暑。傷濕。傷寒耳。</p>
<p>非是初受傷之時。能預定其必為此病也。機按。四氣所傷。入於皮膚之內。藏於經脈之中。宜其見於動脈。可以診候而知也。而王氏所論。尚謂病若未發。難以診候而知。彼富貴貧賤。天之命也。身外事也。非若邪氣入於皮膚。藏於血脈也。烏可以脈而知之乎。王氏此論。足以破太素之謬矣。故並附之。</p>
<p>以示來者。）</p>
<h4>論澀脈弦脈</h4>
<p>（出丹溪）</p>
<p>脈之狀不一。大率多兼見。人之病有四。曰寒、曰熱、曰虛、曰實。故學診者亦必以浮沉遲數為之綱。以察病情。初學人又以浮數為熱為有餘。沉遲為寒為不足。其間最難體認者。澀脈也。最難調治者。弦脈也。澀脈細而遲。往來難。且散。又曰短而止。皆是不足之象。得此脈者。固為寒。</p>
<p>為濕。為血少。為氣多。為污血。然亦有病熱與實者。不可不知。或因多怒。或因憂郁。或因濃味。</p>
<p>或因補劑。或因無汗。氣騰血沸。清化為濁。老痰宿飲。膠固雜揉。脈道阻澀。亦見澀狀。若重取至骨。來似有力。且帶數。以意參之於證。驗之形氣。但有熱證。當作實熱可也。醫於指下見有不足之象。便以為虛為寒。用藥熱補。誤人多矣。弦為春令之脈。非春時而見木為病也。五臟更相制伏。</p>
<p>以防其太過。木為病則肝邪盛矣。肝之盛。金之衰也。金之衰。火之炎也。火之炎。水之弱也。金不足以制木。則土病矣。考之諸家。皆曰弦者虛也。為反胃。為痛。沉弦為懸飲。弦長為積病。弦緊而細主　。弦而伏主　不治。弦急為腹痛。弦而鉤主蜚尸。弦小主寒痹。弦而大。主半產漏下。</p>
<p>亡血失精。雙弦為寒。雙弦而遲為心下堅。偏弦為飲。左寸弦頭痛。右寸弦水走腸胃。左關弦怒而血聚。右關弦寒痛四肢拘急。趺陽弦腸痔下血。尺中弦小腹痛。回腸結核。率是木邪風氣。土極士敗為病。先哲常言之矣。惟金因火伏。木寡於畏之論。尚未發明。倘非滋水以降火。濃土以養金。</p>
<p>加以行濕散風導郁。為之輔佐。邪何由去。病何由安。況弦脈為病甚多。而治法又有隔二隔三之遠。</p>
<p>故不容不辨。若曰不然。夫弦屬陽。而仲景列於五陰之數。至於敘六殘賊之脈。又以弦為之首。澀為之終。其意可見。又云。癰疽而得浮洪弦數。氣病脈也。豈可據此作熱論。沉細弱澀。血病脈也。</p>
<p>豈可據此作寒論。此萬病之根本。非特癰疽而已。（機按。丹溪論澀弦二脈。及癰疽之脈主病。</p>
<p>與諸家所主大不相侔。夫脈藏於血脈之中。形之於脈。宜其同也。何脈同而病異耶。此脈所以難憑。</p>
<p>務須觀形而審證也。噫。脈本以察病。而病尚難以脈決。彼富貴貧賤。乃外來假設之事。非藏於血脈中也。所謂趙孟所貴。趙孟能賤。豈得形之於脈。而可以脈之乎。）</p>
<h4>脈大必病進論</h4>
<p>（出丹溪）</p>
<p>脈。血之所為。屬陰。大。洪之別名。火之象。屬陽。其病得之於內傷者。陰虛為陽所乘。故脈大。當作虛多治之。其病得之於外傷者。邪客於經。脈亦大。當作邪勝治之。合二者而觀之。皆病症方長之勢也。謂之病進。不亦宜乎。（機按。脈之大。一也。內傷得之。為虛多。外傷得之。為邪勝。便要審證。如此分別。不知太素家診得此脈。亦將審其貴賤。而如此分別否乎。）</p>
<h4>脈說</h4>
<p>（出東坡）</p>
<p>脈之難也尚矣。至虛有實候。大實有羸狀。差之毫厘。疑似之間。便有死生禍福之異。可不慎歟。病不可不謁醫。醫之明脈者。天下蓋一二數。亦因其長而護其短耳。士大夫多秘所患。求診以驗醫之能否。</p>
<p>使索病於冥漠之中。辨虛實冷熱於疑似之間。醫不幸而失。終不肯自謂失也。則巧飾遂非以全其名。</p>
<p>至於不救。則曰是固難治也。間有謹愿者。雖或因主人之言。復參以己之所見。兩存而雜治。以故藥之不效。此世之通患而莫之悟也。吾平生求醫。蓋於平時默驗其工拙。至於有疾而求療。必先盡告以所患。使醫了然知患之所在。虛實冷熱。已定於中矣。然後求診。則脈之疑似不能惑也。</p>
<p>故雖中醫。治吾病常愈。吾求疾愈而已。豈以困醫為事哉。（機按。東坡有宋名人。尚不使醫索病於脈者。蓋以脈虛而病實者。脈實而病虛者。脈有不相應故也。吁。病且難憑於脈。而欲憑脈知富貴貧賤。寧不為東坡笑耶。）</p>
