<header data-type="book">
<h1>幼科指南</h1>
</header>
<h2>敘</h2>
<p>醫國者，嘗以小人女子為難養，而醫人者，亦惟女子與小人為難醫。蓋婦孺有病，恆不能自道其所苦，即言之而有所不能盡。醫者所持以診察之術，曰望聞問切者，四端之中，其一已完全失效，故曰難也。知其難而更端以明之，曲折以驗之，則無難而非易也。衡廬主人逐風塵二十年，涉津梁數千裡，亦嘗為國宣力，於行政司法各界，有所服務。小試其醫國之手術，為斯民一療疾苦，而無如際時之艱，值運之屯，牛刀之利，卒不能久奏於割雞。於是息影衡門，究心醫門，嘗就所心得，成婦科幼科指南兩編。蓋從其難者入手，則易者自迎刃而解，天下事事皆然，不獨醫之為術然也。是編出，而兒科婦科，若昏夜中得列炬矣。憶二十年前衡廬主人年少氣盛，慷慨論當世事，輒攘臂嗔目，視措天下於磐石，出斯民於水火，若反掌間事。光陰荏苒，人事變遷，曾幾何時，竟入此閉門究愁埋首著書之境，不可概夫。</p>
<p><u>民國十四年歲次乙丑孟夏月蔬香居士序</u></p>
<h2>四診</h2>
<p><u>總括</u></p>
<p>兒科自古再為難事。蓋以小兒形質柔脆，易虛易實，調治少乖，則毫厘之差，遂至千裡之愆。而氣血尚未充盈，難只以據脈為準；神識未發，不知言其疾苦也。診小兒之病，惟憑面色，識其因何而病，再向虎口風、氣、命三關，當視脈紋形色，診其屬熱屬寒；聽其所主之因，審其安煩苦欲飲食二便之病；兼切其脈之浮、沉、遲、數、滑、澀、大、小、有力、無力，則表裡、虛實、寒熱隨證可參矣。</p>
<p><u>察色</u></p>
<p>欲識小兒百病之原，先從面上五部五色，詳細觀之。蓋額屬心，頦屬腎，鼻屬脾，右腮屬肺，左腮屬肝。青為肝色，赤為心色，黃為脾色，白為肺色，黑為腎顏。如面青主驚風，赤主大熱，面黃主傷脾傷食，白主虛寒，黑色主痛，多是惡候。總之五色明顯，為新病，其證輕；濁晦為久病，其證須作重看。又部色相生者，如脾病色黃，此正色也。若見紅色，乃火能生土，故為順病，易治。若部色相克，如脾病而見青色，乃木來克土，病多難治，余病仿此。又部色相生，若氣血充實者，縱有外邪助病，易治。又部色相克，若久病，氣血虛者，則正氣不支，再難堪治。如天庭青暗，驚風必至，紅主內熱，黑則難痊。太陽青，主驚風，青色入耳，死。印堂青色，主驚瀉纏繞。風池在眉下，氣池在眼下，若二處青，主驚風，紫多吐逆。兩眉青主吉，紅色主多煩熱。鼻赤主脾熱，鼻黑則死。唇赤主脾熱，白主脾寒。左腮赤色，肝經有熱，右腮發赤，主肺熱痰盛。承漿青主驚，黃主嘔吐，黑主抽搐，其病纏綿。此是察色之大要，還將脈證一同參之。</p>
<p><u>聽聲</u></p>
<p>診小兒之法，必聽五聲。五聲相應乎五臟之情。蓋心屬火病，則聲急多言喜笑；肺屬金病，則聲悲音濁不清；肝屬木病，則聲呼多狂叫；脾屬土病，則聲歌，其音顫輕，腎屬水病，則聲呻吟而長且細，此五聲昭著，其證分明矣。如有聲無淚，聲短而啼，啼而不哭，則氣不伸暢，知主腹痛。如有聲有淚，聲長曰哭，哭而不啼，則氣急心煩，將作驚也。</p>
<p>煎不安乃心經內熱，故煩躁不寧。嘎聲聲濁，此為外感風寒也。有餘之證，其氣實，故聲雄大而多壯厲。不足之證，其氣虛，故聲短怯弱而輕。多言與體熱，皆陽也，陽主腑證。懶語與身涼，皆陰也，陰主臟形。狂言焦躁者，邪熱盛也。</p>
<p>譫語神昏者，熱乘於心，其病凶也。如鴨之聲，在喉而啞，氣將絕也。直聲而無回轉而急，又無眼淚，命將頃也。凡小兒之虛實寒熱，皆從聲音而別，聞而知之，無遁情矣。</p>
<p><u>審病</u></p>
<p>審問小兒之病，貴乎詳細考察，要在起居安煩苦欲之間。先問飲食，能食不食，渴與不渴。次問二便，或調和，或通，或秘，或干。發熱無汗，此邪在表也；內熱便　，作邪在裡看之。若晝煩熱，而夜安靜，是陽旺於陽分，其病在陽；若晝安靜，而夜煩熱，是陽陷陰分，其病在陰，須當詳別。如喜暖惡寒，皆屬陰病，故為寒。惡暖喜寒，皆屬陽病，故為熱也。能食者，胃壯；不食者，胃弱也。口不渴者，胃濕盛也；渴者，胃燥干也。至於大便稠黏，穢氣難聞者，為內有滯熱，從熱化。若尿清不赤，乃寒從寒化也。若耳稍及尻骨四肢皆發冷者，知是痘疹欲發之候。如單指稍發冷者，主驚癇之病。肚腹熱悶者，乃內熱也。四肢厥冷，是中寒也。小兒無故眉皺曲腰啼叫者，內因腹作痛也。如兩耳之熱、常常不已，乃風熱外纏也。然腹痛，須按其或軟與硬，若不喜按為虛，喜按為實，參此情形方可。故欲醫赤子，須誠心辨問，則對證施方，治不難矣。</p>
<p><u>切脈</u></p>
<p>小兒周歲有疾，亦當切脈。但部位甚少，不能以三指診之，只用一指以定寸關尺三關。浮脈輕取之，皮膚之上而得。</p>
<p>沉脈重按筋骨之間而見。如一息六至，為平和之脈，則無病。過則七八至為數，減則四五至為遲脈。滑脈如珠走盤，往來多流利。澀脈帶澀，往來艱難。如浮、中、沉三部，無力為虛脈，三部有力，作實脈言之。中部取之，無力為芤脈。</p>
<p>若微脈，按之，在微細或有或無之間。洪脈者，來時雖盛，去時無力。緩而時止為結脈，數而時止為促脈。緊脈左右如轉索之狀，弦脈則端直如張弓弦。以上皆言脈之形象至數也。但浮脈在表，外感風寒之病；沉為在裡，內傷飲食之端。</p>
<p>數脈病在六腑，屬陽熱之證；遲脈病在五臟，乃陰寒證也。滑主痰盛，洪主火熱，微主怯弱，弦主痰飲，結主積聚，促主驚癇，芤主失血，澀主少血，沉緊主腹痛，浮緊主感寒，虛主諸虛不足之病，實主諸實有餘。痘疹欲發，脈主洪緊。</p>
<p>大小不勻之脈，中惡來因。一息三至，是虛度足極。又九至十至，乃火熱炎甚。以上諸脈所主之病也。若一息一至二至，或十一十二至皆死脈也。浮散無根及沉伏，取之不應指者，皆難治之脈也。病之表裡陰陽虛實，可以診之，當合望聞問三者，細為參考焉。</p>
<p><u>虎口三關脈紋形色</u></p>
<p>初生小兒，當視虎口叉手處，男從左手次指內側，女從右手次指內側看之。次指三節，分為風、氣、命三關。若脈紋形色，紅黃相兼，隱隱不見，則為平安無病；形見色變，知有病矣。若紫屬內熱，紅屬傷寒，黃為脾病，黑主中惡，青主驚風，白是疳證。紋在風關，主病輕，氣關主病重，至命關若見，病多難治。又當視其紋形大小曲彎。如曲而紫者，主傷食內熱，曲色青，主人驚及走獸驚起端，赤色者主水火飛禽驚撲，黃色主雷驚，黑色主陰癇，圓長者名曰長珠形，主傷飲食。如紋形一點紅色，名曰流珠紋，主內熱。上尖長下微大者，名曰去蛇形，主傷食吐瀉。上大下尖長者，名曰來蛇形，主濕熱成疳。形彎如弓返向裡者，主感冒寒邪。形彎如弓迫向大指外者，主內有痰熱盛。其紋左斜中指者，主傷風。右斜大指者，主感寒。紋直若懸針微短，又直射如槍形微長，皆主痰熱。其紋直射指甲之端，主脾氣大敗，命難保全。如紋見乙字形，主驚風抽搐。二曲如鉤形，主傷生冷。若三曲如蟲，主傷硬物。似水之紋，主咳嗽。若聯絡如環，主吐瀉成疳。若如魚骨形，主驚熱。如曲蟲形，主積滯。又形如亂蟲者，主有蛔蟲纏擾。當以脈紋形色，相參合察，得免行醫害命之端。</p>
<h2>初生門</h2>
<p><u>拭口下毒</u></p>
<p>嬰兒初生，拭口之法，須用軟綿裹指，拭淨口中不潔；繼以胭脂蘸茶清擦口舌齒頰之間，令其潔淨，日後方無口病所生。將水濃煎甘草湯，以棉裹指蘸汁頻兒吮服，免使胎毒蘊於腹中，再有一法，用黃連濃煎汁出，滴口內，毒隨臍糞而下自清。如清熱防驚，用朱砂大豆許，研細水飛，蜜調乳汁化服之法。惟稟賦怯弱者不宜行也。怯弱之兒，解毒法者，用豆豉濃煎汁，汁當乳嘗之。</p>
<p><u>斷臍</u></p>
<p>嬰兒初生，用剪向火烙熱，剪下臍帶，次用火器繞臍帶烙之。男女六寸為止，始相合宜。短則傷臟，長則損肌。斷訖，又用烙臍餅子，安灸臍上，以防風邪外入。隨用胡粉散敷臍帶，間用軟絹新綿封裹，以避尿濕也。</p>
<p><u>浴兒</u></p>
<p>三日浴兒之法，為其解污穢也。須用五枝煎湯。須擇無風密室，冬夏寒溫，適可而止。如久在水中，冬月恐當受寒，夏日恐當受熱。再加豬膽汁，以去污穢。且能滋潤肌膚，免生胎瘡也。</p>
<p><u>剃頭</u></p>
<p>小兒盈月，必剃胎頭。須向密室溫和之處，適可求之。恐血未充，寒風易入，後用杏仁、麻油、蘇荷、膩粉拌勻揉頭上。凡胎毒瘡癤，一切皆休。</p>
<p><u>不啼</u></p>
<p>小兒落地，啼聲即發，形生命立矣。有不能啼者，俗語名之為草迷是也。多因臨產難於生育，以致氣閉不通。或值隆冬之際，兒氣為寒所逼，亦不能啼。因於難產者，用蔥輕輕以擊其背，通氣以醒神，則可回生。因寒逼者，切勿剪斷臍帶，急用紙捻，蘸油點火，往來熏其臍帶，使暖氣入腹即啼。若氣絕無聲，面青爪甲已黑，形雖存，命已在須臾之間矣。</p>
<p><u>不乳</u></p>
<p>小兒生下能吮乳，本自天然。若不吮，必有緣故。或因腹中穢惡未下清淨，令小兒腹滿，氣短，嘔吐不乳。或在胎中，因母過食寒涼，胎受其氣，兒必腹痛多啼，素稟而寒。如穢惡不淨，用一捻金治之效。胎寒不乳，以勻氣散為先。</p>
<p>若更面青，四肢厥冷，此是虛寒，用理中湯煎服。</p>
<p><u>眼不開</u></p>
<p>小兒初生，眼閉不能開者，因孕婦飲食不節，恣情濃味，熱毒熏蒸，以致兒脾蘊熱，眼胞屬脾，其脈絡緊束故也。</p>
<p>此皆受於胎裡也。內用地黃湯服之再妙，外用熊膽湯洗目，其效靈哉。</p>
<p><u>吐不止</u></p>
<p>小兒吐不止者，因何而生？有因便閉穢惡不淨，停留胃內，令兒腹滿而成其吐；或緣稟受胎中寒熱而來；或因生時感冒而成。如穢惡不淨而吐，用一捻金散下之。若外感寒邪，入裡犯胃，則曲腰而啼，吐沫不止，用香蘇飲溫散之能愈。</p>
<p>又有胎前受熱，面黃赤，手足溫，口吐黃涎酸黏者，用黃連合二陳湯治之。若受寒面青白，四肢冷，口吐清沫，用理中湯主之。</p>
<p><u>不小便</u></p>
<p>小兒初生，小便不通者，乃胎熱壅於下也，用導赤散，熱盛者八正散，二方攻之，外用豆豉膏貼臍上，須臾小便自能通矣。</p>
<p><u>不大便</u></p>
<p>小兒初生，或次日即大便，名下臍屎。此腸胃通和，幽門澤潤也，若二三日大便不通，名曰鎖肚。皆緣辛熱之毒，受於胎中，兒必面赤腹脹，不乳多啼，宜用朱蜜法治之。若不應，用一捻金酌量與之。繼令婦人以溫水漱口，急咂二手心及臍下，又二足心，前後背心，共七處，以皮見紅色為度，大便自通矣。</p>
<p><u>大小便不通</u></p>
<p>小兒初生，二便俱秘者，最為急候。乃胎中熱毒極甚而成也。急用木通散與紫霜丸，行其滯，開其結，真妙之方。</p>
<p>急用口咂之法，悉如前式，庶可望生。若延至七日，謂之一HT　，肚腹硬脹，常作呻吟難治。</p>
<p><u>肛門內合</u></p>
<p>小兒初生，肛門內合有二。有因熱毒大甚，肛門內結；或是脂膜遮瞞，無隙可通。如熱毒壅結者，服黑白散，外用蘇合香丸，作棗核狀，納入孔中，取其香能開竅，又能潤澤，大便導下，庶可望生。如脂膜遮瞞，先以金玉簪刺通脂膜，再以蘇合香丸照前導法，可回生矣。</p>
<p><u>噤口</u></p>
<p>小兒噤口之證，失治多致不救。其候舌上生瘡，如黍米狀，吮乳不得，啼聲漸難。因胎熱所致。法當清熱疏利，用龍膽湯主之極妙。若肚腹脹硬，二便閉，用紫霜丸。又有一種，口吐白涎，牙關緊急者，此胎熱內結，復有風邪外入。</p>
<p>當以擦牙散先擦其牙關上，次用辰砂全蠍散煎服，至病勢稍安即止，勿可過帖。病退，調和脾胃，以勻氣散為先也。</p>
<p><u>撮口</u></p>
<p>撮口者，口撮如囊口，吮乳艱難，舌強唇青，口吐沫痰，面色赤黃，乃受自胎中熱極而然。如四肢厥冷，其病難全。</p>
<p>如氣高痰盛，宜用辰砂僵蠶散，二便閉者，須用紫霜丸主之；身熱多驚者，用龍膽湯極妙：手足抽搐者，撮風散自妥。</p>
<p><u>臍濕臍瘡</u></p>
<p>浴兒任意洗濯，或包裹不周，以致尿濕侵臍，遂致肚臍淋漓不干，名曰臍濕。甚則　赤，作成瘡痍，名曰臍瘡。如臍濕，必用滲臍散敷之，如臍瘡，用金黃散敷之最宜。</p>
<p><u>臍突</u></p>
<p>嬰兒蘊熱在於腹中，無所發泄，故伸引頻頻，睡臥不寧，努張其氣，沖入臍本，所以臍忽腫赤，虛大光浮，乃臍突之名。內服犀角消毒飲，外敷二豆散，以消腫極靈。最忌寒涼之藥敷於臍上，恐冰凝毒熱，反成凶也。</p>
<p><u>臍風</u></p>
<p>臍者，小兒之根蒂也，名曰神關。穴近三陰，喜溫惡涼，喜干惡濕，如斷臍悉遵前法，臍風何由而起。惟不知慎重，以致風寒水濕，入於臍中，兒必腹脹臍腫，日夜啼叫，臍風之病成矣。若將作，用驅風散治之最效。若寒邪深入，已成臍風者，則其所兼之形證，再要分別明視。如肚腹脹硬，大便秘塞，風兼實也，用黑白散主之。面白四肢寒冷，二便不實者，風兼虛也，用理中湯主之。痰涎壅盛，氣高喘急者，風痰也，僵蠶散主之。身體壯熱，面赤口乾者，風兼熱也，龍膽湯清之。若面青嘔吐，曲腰多啼者，風兼寒也，益脾散治之。唇青撮口，抽搐不止者，風兼驚也，用撮風散平之。</p>
<p>若臍邊青黑，口噤不開者，是為內抽，為不治。如一臘逢之者（即七日），命必傾也。蓋血脈未凝，病已中臟，治之無益。</p>
<p><u>天釣</u></p>
<p>小兒天釣之證，由邪熱積於身胸，以致痰涎壅塞，氣不宣通而成此證。發時手足螈　壯熱，有時驚悸，頭目仰視，爪甲皆青，但證似驚風，此病目多仰視，較驚風稍異。如痰盛搐掣者，用九龍控涎丹治之。如驚盛兼風，牛黃散最靈。</p>
<p>螈多熱者，宜鉤藤飲減去人參用之。如爪甲皆青，用蘇合香丸為精。</p>
<p><u>內釣</u></p>
<p>內釣者，多因肝臟素病，外受寒冷，其候糞青潮搐，作止有時，狀似驚癇，傴僂腹痛，口吐涎沫。證與驚癇相類，但有紅絲血點，目中纏擾。如螈　甚者，用鉤藤飲主之。急啼腹痛者，用木香丸主之。若四肢冷，甲青、唇口黑者，用養臟散溫中，或可保全也。</p>
<p><u>盤腸氣痛</u></p>
<p>盤腸氣痛，乃寒邪搏結腸中而痛。肝腎居下故痛，則曲腰不乳，蹙結雙眉。內則定痛溫中，用白豆蔻散主之。又熨臍外治之法，亦堪垂於世。</p>
<p><u>目爛</u></p>
<p>兒生兩目有病，痛癢難睜，胞邊赤爛。因胎中蘊熱，生後毒熱上攻於目，故有是證。內用地黃湯以清其熱，外點真金散，其目即明。</p>
<p><u>懸癰</u></p>
<p>凡喉裡上　腫起，如蘆籜盛水狀者，號曰懸癰。皆因胎中毒熱上衝。須以棉纏長針，留鋒刺破，瀉去青黃赤汁，以鹽湯拭口，或如聖散，或一字散，摻之靈驗。</p>
<p><u>重齦</u></p>
<p>重齦者，因小兒在胎，有熱胃中蓄臟，故牙根腫脹、如水泡，其痛難禁。治法用針刺破，以鹽湯拭淨，外用一字散敷上，內服清胃散，其效如神。</p>
<p><u>鵝口</u></p>
<p>鵝口者，白屑生滿口舌，如鵝之口也。乃心脾二經，熱蘊於中，本由胎裡受母飲食熱毒之原，故生後即發於口舌之間。治清熱瀉脾散，外用發蘸井水拭口，搽以保生散。治之稍遲，則口舌糜爛，治難痊也。</p>
<p><u>吐舌</u></p>
<p>如舌伸長而收緩者，名為吐舌，皆是心經有熱而成。故面紅煩躁口渴便溺赤澀，宜瀉心導赤湯，服之即靈。</p>
<p><u>弄舌</u></p>
<p>弄舌者，舌時時口內搖動也。因心脾熱發，口唇焦干，煩熱舌乾，大便臭穢。先用瀉黃散，次則用瀉心導赤散，並能痊愈也。</p>
<p><u>重舌</u></p>
<p>舌下近舌根處，腫突似舌形，故名重舌。心脾積熱，上而攻衝所致。內服宜以清熱飲為主，外敷涼心散，其功最靈。</p>
<p><u>木舌</u></p>
<p>木舌之證，皆因心脾積熱而成。蓋脾之脈絡在舌下，又舌為心苗，遇火上衝，令兒舌腫脹木硬，不能轉動，其證多凶。外用川消散，敷在舌上，內服瀉心導赤湯，最靈驗也。</p>
<p><u>　乳</u></p>
<p>小兒　乳之證，非止一端。有宿乳，有停痰，有胃熱，有胃寒之分。如面色多赤，二便微閉，手足指熱，此為熱也，宜和中清熱飲主之。面色青白，糞青多沫，手足指冷，此因寒而　也，用溫中止吐湯煎服。如口燥唇干，夜臥不寧，手足心熱，此為傷乳而　也，宜平胃散最妙。如胸膈脹滿，嘔吐停痰，此因停痰而　也，宜枳桔二陳湯可痊。若是吃乳過多，滿而自溢者，不必服藥，常須節乳，自能安也。</p>
<p><u>夜啼</u></p>
<p>小兒初生夜啼，其因有二。一曰脾寒，一曰心熱，皆因胎中所受。當觀其形色，便分明矣。如寒屬脾經，則面色青白，手足俱冷，曲腰不伸而疼也。如面赤唇紅，身腹內俱熱，溺閉不利，煩躁多啼者，乃屬心熱也。如熱，用導赤散；寒，用鉤藤飲。若無寒熱表裡之證，但多啼者，依古法，用蟬花散最精。</p>
<p><u>胎黃</u></p>
<p>兒生遍體面目皆黃，其色如金黃，乃孕婦濕熱熏蒸，小兒在胎受母熱毒深極而生。法當滲濕而兼清熱，須分輕重治之。色微黃者，用生地黃湯；深黃者，犀角散，二方如神。</p>
<p><u>胎赤</u></p>
<p>胎赤者，因孕婦過食辛熱之物，以致毒熱凝結，蘊於胞中。兒受毒深，遂令生下頭面遍體，赤若丹塗，當以清熱解毒湯極妙。如熱盛便秘者，蔣氏化毒丹，功效最殊。</p>
<p><u>赤游風</u></p>
<p>小兒赤游風證，多因胎中毒熱而成。或生後過於溫暖，毒熱蒸發於外，以致皮膚赤熱而腫，色若丹塗，游走不定，遍身而行。若發在頭面四肢之間，猶可治。若內歸心腹，則命難生矣，當內服犀角解毒飲。如若不愈，繼以藍葉散，外再用砭法，刺出毒血則痊。毒盛者，再敷以神功散。毒輕者，不用敷藥。在百日之內者，小兒忌砭血，以其肌肉難任也。</p>
<p>須用豬肉貼法，或以赤小豆末，及雞子清調塗之，二法皆可安寧也。</p>
<p><u>初生無皮</u></p>
<p>小兒生下無皮，其證有二端焉。或因父母素有楊梅結毒，遺染而傳，或上半身赤爛，或下半身赤爛，甚至無皮而色帶紫黑，或因未足月而生，遍體浸漬紅嫩而光，其痛難堪，二者均屬惡候，如楊梅結毒者，內服換肌消毒飲，外敷清涼膏，或鵝黃粉，則痊。如胎元不足者，內服當歸飲，外用稻米粉撲之，其皮自漸漸生完而堅實矣。</p>
<p><u>變蒸</u></p>
<p>天地化生萬物，必以春溫夏熱而長。兒之初生，亦同此理，變生形神。自生之日，至三十二日為一變，至六十四日曰一蒸。變則長其百骸，生其臟腑；蒸則增其智慧，發其聰明。十變五蒸之外，又有三六十八大蒸，合計七十六日也。</p>
<p>變蒸既異，形神已成，此後則不復變蒸矣。然每變蒸之狀，乃陰陽氤氳蒸之氣而然，故身微熱耳。尻骨屬陰，以陽不傷陰，而與陰和之象，故冷而不熱。蓋陰陽和變，化生形神，故無他病情也。</p>
<h2>驚風門</h2>
<p><u>總括</u></p>
<p>心藏神，心病主驚，肝屬木，肝病故主風也。凡小兒心熱肝盛，一觸驚受風，則風火相搏，必作急驚之證。若素稟既虛，或因急驚用藥過峻，暴傷元氣，每變成慢驚之症。更有因吐瀉既久，中氣大虛，脾土衰弱，肝木乘虛，而內生驚風者，名曰慢脾風。三者致病之因不同，而所見之證亦各異。急驚屬陽證，必有陽熱有餘等實象；慢脾屬陰證，必有陰冷不足虛形也。至於慢驚初得之時，陰陽尚未過損，或因急驚傳變而成，其中尚有夾痰夾熱等證，故屬半陰半陽之證，不比慢脾純陰之病也。治者當分寒熱虛實，要詳明也。</p>
<p><u>驚風八侯</u></p>
<p>驚風八候者，乃搐、搦、掣、顫、反、引、竄、視之名是也。如肘臂伸縮，名之為搐。十指開合，搦狀已成。勢若肩頭相撲，謂之掣。顫則頭首四肢動搖如鈴，反則身仰頭向後，引者兩手若開弓，竄候則目直常似怒形，視則睹物不轉，睛露。其搐以男子左手，女右手，女大指在內，男大指在外，為順，反是為逆。須識急驚慢驚之證，所見皆同，此候虛實，無所異焉。</p>
<p><u>通關急救法</u></p>
<p>驚風搐搦，必神氣昏憒，皆由痰壅氣塞在胸中所致，急用通關散吹入鼻內，無嚏則死，有嚏者則生也。審其表裡虛實治之。</p>
<p><u>急驚風</u></p>
<p>急驚一證，因目觸異物，耳聞異聲，心驚有熱，神散氣亂而生者。或由心肝火盛，外為風寒鬱閉，不得宣通，而火生風者。有因痰盛熱極，而內動風者。然證多暴發，壯熱煩急，面赤唇紅，痰壅氣促，牙關噤急不開，二便秘澀，脈數而洪，皆主陽熱也。觸異致驚者，用清熱鎮驚湯、安神鎮驚丸主之，火鬱生風者，至寶丹主之。痰盛生驚者，牛黃丸攻下之。熱極生風者，涼膈散清解之。病不甚者，則用平治之法。風熱者，羌活散主之。肝熱者，瀉青丸主之。痰兼熱者，清熱化痰湯主之。心經熱者，導赤散共涼驚丸主之。</p>
<p><u>急驚後調理法</u></p>
<p>急驚多用寒涼，亦急則治標之法。但痰火稍退，即當調理脾胃。若過用寒涼，必致轉成慢驚等證。故驚邪一退之後，尚有痰熱未清，當用琥珀抱龍丸最靈。若神氣虛弱，痰兼熱者，用清心滌痰湯，大有功效也。</p>
<p><u>慢驚風</u></p>
<p>慢驚一證，多緣稟賦虛弱，土虛木盛者有之；或因急驚過用峻利之藥，以致損而成此證者有之。發時緩緩搐搦，時作時止，面色淡黃，或清白相兼，身則溫和，昏睡眼合，睛則或露，脈來遲緩，神氣慘慘，大便青色。此乃脾胃虛弱，治宜培補元氣為主。氣虛夾痰者，用醒脾湯最效。脾虛肝旺者，用緩肝理脾湯最靈。</p>
<p><u>慢驚夾熱夾痰</u></p>
<p>慢驚之證，本無熱可言。但脾虛，虛熱內生，熱生痰，故有夾熱或夾痰。其證身熱心煩，口溢痰涎，咽喉氣粗。如痰熱相兼者，宜用清心滌痰湯治之。如脾虛肝旺痰盛者，用青州白丸子、柴芍六君子湯煎服。</p>
<p><u>慢脾風</u></p>
<p>慢脾一證，多因吐瀉既久，以致脾虛不能生金，金必弱，不能制木，肝木強盛，以克脾土，故曰脾風。其症搖頭閉目，面唇青暗，額汗昏眼，四肢身體如冰，聲啞舌短，頻嘔清水也。此乃純陰無陽之證，惟宜大補脾土為真，生胃回陽為主。如吐瀉亡陽者，溫中補脾湯為主治。大病後成者，固真湯。四肢厥冷者，理中湯從用。</p>
<h2>癇證門</h2>
<p><u>總括</u></p>
<p>小兒癇證，類乎痙風驚風者。謂發時昏倒抽搐，痰涎壅盛，氣促作聲，與痙驚二證相似。但四肢柔軟，一食之頃即醒，依然如無病之狀。非若痙風一身強硬，終日不醒也。有陰癇見臟陰證，有陽癇見腑陽證，有驚癇因驚熱，痰癇因痰，食癇因食，風癇因風，其證不一，治亦不同，宜詳辨之。</p>
<p><u>陰癇</u></p>
<p>陰癇屬陰，藏寒之病也，多因慢驚風之後，疾入心包而得。發時四肢厥冷，偃臥拘急，面色白青，口吐涎沫，聲音微少，脈來沉細。輕者醒脾湯，甚者固真湯，病退調理，用定癇丹最靈。</p>
<p><u>陽癇</u></p>
<p>陽癇屬陽，腑熱之病也。多因急驚去風下痰不淨，久而致成此症。發時身熱自汗，仰臥面赤，脈象數洪，牙關噤急，啼叫不已，口吐涎沫。如風兼熱者，用龍膽湯。肝經熱者，用瀉青丸。痰涎壅盛者，與四制抱龍丸主之。</p>
<p><u>驚癇</u></p>
<p>小兒驚癇之證，乃心肝熱盛，偶被驚邪所觸，因而神氣潰亂，遂成癇證。發時吐舌急叫，面色乍白乍紅，悚惕不安，如人將捕之狀。宜安神為主，先服大青膏，次服鎮驚丸，其效再靈。</p>
<p><u>痰癇</u></p>
<p>痰癇者，因小兒平素自己多痰，或偶因驚熱，遂致成癇。發時痰涎壅盛，在喉間氣促昏倒，口吐痰沫。宜先服一捻金，以急下其痰，次與朱衣滾痰丸，則氣順痰清，而癇自止矣。</p>
<p><u>食癇</u></p>
<p>食癇者，其病在脾。因小兒乳食過度，停積中脘，乘一時痰熱壅盛，乃使之而然。面黃腹滿，吐利酸臭，後變時時發搐，宜用妙聖丹主之。痰盛者，朱衣滾痰丸主之。後用清熱和胃丸，則積滯清而驚癇安矣。</p>
<p><u>風癇</u></p>
<p>風癇因汗出脫衣，腠理開張，其風乘隙而入經中。發時二目青黯，面色淡紅，十指屈伸，如數物狀。治法宜先疏風解表，輕則化風丹主之，重則羌活桂枝湯主之。風兼痰者，牛黃丸則寧也。</p>
<h2>疳證門</h2>
<p><u>總括</u></p>
<p>十五歲以上，大人病，則為勞；十五歲以下，小兒病，則為疳。緣所稟之氣血虛弱，臟腑嬌嫩，易於受傷，或因乳食過飽，傷其脾胃。是病之原，或因肥甘失節，停滯中脘，傳化遲滯，腸胃漸傷，則生積熱。熱盛成疳，則氣血消耗，精液被其熬煎。凡初患疳證，尿如米泔，午後潮熱，即久失治，致令青筋暴露，壯大堅硬，面色青黃，肌肉消瘦，皮毛憔悴，眼睛發HT　，則疳證成矣。</p>
<p><u>脾疳</u></p>
<p>脾屬土，色黃，主肌肉。故脾疳，則見面黃，肌肉消瘦，身體發熱，困倦，常喜睡眠，心下痞硬，懶進乳食，腹滿腫脹，睡臥喜冷，好食泥土，腹痛堅硬，頭大頸粗，有時吐瀉，口乾煩渴，大便腥黏之證也。宜先攻其積，用消疳理脾湯、肥兒丸治之。積退，然後補其脾氣，以參苓白朮散為先。</p>
<p><u>疳瀉</u></p>
<p>疳瀉之疾，多因積熱傷脾，因致水穀不分而作瀉也。法當先用清熱滲濕，後補其脾，則為妙訣。初宜清熱和中湯主之。若久瀉不愈，用參苓白朮散最捷。</p>
<p><u>疳腫脹</u></p>
<p>疳疾腫脹，面色浮光者，多因傳化失宜，以致脾肺兩傷。現證氣逆喘咳，胸膈痞悶，肚腹腫脹也。宜用御苑勻氣散，服之最良。</p>
<p><u>疳痢</u></p>
<p>疳疾日久，頻頻下痢者，多緣腸胃熱結凝滯所致。故痢時或赤或白，腹中窘痛，急用香連導滯湯為妙劑也。</p>
<p><u>肝疳</u></p>
<p>肝屬木，色青主筋，故肝疳則見面目爪甲皆青，眼生眵淚，隱澀難睜，搖頭揉目，合面睡臥，耳流膿水，而濕瘡生，腹大青筋，身體羸瘦，燥渴煩急，糞如苔青也。治宜先清其熱，用柴胡清肝散，同蘆薈肥兒丸主之。若病勢稍退，則當調養，用逍遙散，抑肝扶脾湯最靈。</p>
<p><u>心疳</u></p>
<p>心屬火，色赤，主血脈。故心疳，則見面紅，脈絡赤，壯熱有汗，時時煩驚，切牙弄舌，口舌乾燥，渴飲，口舌生瘡，小便紅赤，胸膈滿悶，睡喜伏臥，懶食干瘦，吐利頻頻也。熱盛者，瀉心導赤湯主之。熱盛兼驚者，用珍珠散治之。</p>
<p>病久心虛者，茯神湯調理之，始可收功也。</p>
<p><u>疳渴</u></p>
<p>疳渴者，多因肥甘積熱，煎耗脾胃，以致損傷津液。故不時大渴引飲，心神煩熱，速用清熱甘露飲最宜。則熱減津生，其渴自歇。</p>
<p><u>肺疳</u></p>
<p>肺屬金，色白，主皮毛。故肺疳，則見面白氣逆，有時咳嗽，毛髮焦枯，皮上生粟，肌膚干燥，發熱憎寒，常流清涕，鼻頰生瘡，號曰肺疳也。先當疏散，用生地清肺飲；繼則清熱，以甘露飲為先。日久肺虛者，用補肺散最效。隨證加減，莫遲延也。</p>
<p><u>腎疳</u></p>
<p>腎屬水，色黑，主骨。患此疳者，初必有解顱鶴膝，齒遲行遲，乃腎氣不足之證。更因肥甘失節，久則漸成腎疳。</p>
<p>故骨瘦如柴，面色黑黧，齒齦出血，口中臭氣，足冷如冰，腹痛泄瀉，哭啼不已，乃腎疳也。先用金蟬丸治其疳，繼以九味地黃丸調補之相宜。若逢稟賦腎氣虛弱，用調元散進之，莫遲延也。</p>
<p><u>疳熱</u></p>
<p>小兒疳疾之證，身多發熱，治其輕重虛實，當分別也。若病初起多實者，用青蒿鱉甲飲最宜；日久多虛者，鱉甲散最捷驗也。</p>
<p><u>腦疳</u></p>
<p>腦疳者，多緣小兒素受風熱，又兼乳哺失於調節，以致變生此證。頭皮光急，腦生餅瘡，頭熱毛焦，發如穗結，鼻干心煩，腮囟腫硬，困倦睛暗，自汗，肢體熱也。腦熱生瘡者，龍膽丸主之。煩熱羸瘦者，龍腦丸最良。外用吹鼻龍腦散，其效甚捷。</p>
<p><u>眼疳</u></p>
<p>疳熱上攻於眼，而成眼疳之證。故發時癢澀赤爛，眼胞腫疼，白睛生翳，漸漸遮滿，不時流淚羞明，目不睜開。先要疏散，用瀉肝散最妙；再用消其翳，以清熱退翳湯極靈，目久不瘥，法當調補，逍遙散與羊肝散從治。</p>
<p><u>鼻疳</u></p>
<p>疳熱上攻於肺，而成鼻疳。蓋鼻為肺竅，故發時鼻塞赤癢，疼痛難堪，浸淫潰爛，下連唇際成瘡，咳嗽氣促，毛髮干枯也。如熱盛者，用清金散、蔣氏化毒丹治之。疳蟲蝕鼻者，用化蟲丸。其外調敷，須用鼻疳散，或以吹鼻蟬殼散，吹入鼻中，其效如神。</p>
<p><u>牙疳</u></p>
<p>牙疳者，因毒熱內攻於胃而成。故毒熱上發，齦血赤爛疼痛，口鼻血出，牙枯脫落，穿腮蝕唇也。此證命多傾敗。</p>
<p>治宜急消其毒，用消疳蕪荑散最效；繼以蘆薈肥兒丸，清除其熱，最靈。外用牙疳散，時時敷上，自愈。總之此證必胃強能食，堪勝峻藥，始能有生機也。</p>
<p><u>脊疳</u></p>
<p>小兒積熱生蟲，上蝕脊膂，以手擊其背，必空若鼓鳴，脊骨羸瘦，如鋸齒狀，始為脊疳。外證亦身體發熱，下利煩渴加增，十指皆瘡，頻嚙爪甲，此名脊疳，其病甚凶。須先以蘆薈丸殺其蟲，再合金蟬散消其疳，則急急調治，莫從容也。</p>
<p><u>蛔疳</u></p>
<p>蛔疳者，因過食油膩生冷，並肥甘之物，以致濕熱生蛔，腹內纏擾，故有時煩躁多啼，有時肚腹攪痛，口唇色變，或紅或白，口溢清涎，腹脹青筋，肛門濕癢也。急用使君子散治之，莫遲延也。如不愈，用下蟲丸極效。若蛔退，又當調補其脾，以肥兒丸主之。</p>
<p><u>無辜疳</u></p>
<p>無辜疳者，其病原有二焉。或因浣衣夜露，被無辜鳥落羽所污，衣著兒身，致成此證。或緣乳母有病，傳染小兒，以有此疾。其證頸項生瘡，或項內有核如彈，按之轉動，軟而不疼。其中有蟲，如米粉，不速破之，使蟲蝕臟腑，便利膿血，身體羸瘦，面黃發熱，致疳病生也。治宜先清其熱，宜用柴胡飲；再消其疳，以蘆薈肥兒丸繼之，其效如神。</p>
<p><u>丁奚疳</u></p>
<p>遍身骨露，其狀似丁，故號丁奚也。其證肌肉干澀，晝夜啼哭不止，手足枯細，面色黧黑，項細腹大，突出肚臍，尻削身軟，精神倦怠，骨蒸潮熱，燥渴煩急也。先化其滯，用五疳消積丸治之；繼用理脾補養，以人參啟脾丸最宜。</p>
<p><u>哺露疳</u></p>
<p>哺露者，因乳食有不節，大傷脾胃也。羸瘦如薪，吐食吐蟲，心煩口渴，頭骨開張，日脯熱蒸也。先用集聖丸消其積滯，繼用肥兒丸清理其脾，極靈。若哺露日久，還腹大青筋現者，又宜清補兼施，以人參丸服之，莫從容也。</p>
<h2>嘔吐門</h2>
<p><u>總括</u></p>
<p>蓋諸逆上衝，皆成嘔吐。夫諸逆之因，或以乳食過多，停滯中脘，胃氣不能健運而上逆也。或於食時觸驚，停積不化而上逆也。或因痰飲壅盛，阻隔氣道，或蛔蟲擾亂，懊　不安而上逆也。總之，上逆之因，雖不同，而皆能成嘔吐也。</p>
<p>但病有虛有實，有寒有熱，治者要分明也。</p>
<p><u>辨嘔吐噦證</u></p>
<p>吐證有三。古人謂有物有聲謂之嘔，屬陽明，氣血俱病也；有物無聲，吐證之名，屬太陽，血病也；無物有聲，為噦證，屬少陽，氣病也。獨李杲謂嘔吐噦俱屬脾胃虛弱，潔古老人又從三焦以分氣積寒之三因，然皆不外諸逆上衝也。</p>
<p>治者能分虛實，別寒熱，醫治之，自無不曲中病情矣。</p>
<p><u>傷乳吐</u></p>
<p>小兒乳食過飽，停蓄胃中，以致運化不極，吐多片乳，猶如物盛滿而上溢也。其證身熱面黃，肚腹膨脹，治宜消乳丸、保和丸，化其宿食，安胃和中，兼節其乳食，自然吐止也。</p>
<p><u>傷食吐</u></p>
<p>小兒飲食無節，過食油膩面食等物，以致壅塞中脘，損傷胃氣，而成其證。肚腹脹熱，惡食口臭，頻吐酸黏，眼胞虛浮，身體潮熱，治宜清胃和中為主。須先服三棱丸止其吐，再用和胃湯煎服化其滯，而病愈矣。</p>
<p><u>夾驚吐</u></p>
<p>小兒多因飲食之時，忽被驚邪所觸而成吐。其證頻吐清涎，身體發熱，心神煩躁，睡臥不安。宜先截其風，用全蠍觀音散極妙；次止其吐，用定吐丸而病可痊矣。</p>
<p><u>痰飲吐</u></p>
<p>小兒飲水過多，以致痰飲壅盛，留在胸中，變而為痰。痰因氣逆，嘔吐成矣。其候頭目眩暈，面青，嘔吐涎水痰沫。</p>
<p>宜用香砂二陳湯，虛者用香砂六君子湯治之，可安寧矣。</p>
<p><u>蟲吐</u></p>
<p>蟲吐之證有二，有以胃經熱蒸而成，有以胃經寒迫者，皆能令蟲不安，擾亂胃中而作吐也。其證唇色必變青色，或紅或白，胃口時疼時止，頻嘔青涎。屬寒屬熱，當以陰陽之證辨之。熱者化蟲丸主之，寒者加減理中湯主之，定可痊也。</p>
<p><u>虛吐</u></p>
<p>虛吐之證，多因胃氣虛弱，不能消納乳食，致成此證也。其精神倦怠，囟門煽動，睡臥露睛，自利不渴，頻頻嘔吐。</p>
<p>以丁香沉香加四君子湯治之，最靈也。</p>
<p><u>實吐</u></p>
<p>小兒平素壯實，偶而停滯，胸腹脹滿，二便秘澀不利，痞硬疼痛，口中發渴，思飲寒涼吐多酸臭。宜用三一承氣湯下之，二便利而吐止，可收功矣。</p>
<p><u>寒吐</u></p>
<p>此因小兒過食生冷，或乳母當風取涼，使寒氣入乳，小兒飲之，則成冷吐。其候朝食而暮吐，乳食不化，吐出之物，不臭不酸，四肢厥冷，面唇色白。治當溫中定吐，胃微寒者，薑橘散主之，寒甚者，丁萸理中湯煎服。</p>
<p><u>熱吐</u></p>
<p>小兒過食煎爆之物，或乳母過濃味，以致熱積胃中，遂成熱吐。其候食入而即吐，口渴飲冷，嘔吐酸涎，身熱唇紅，小便赤色。治宜清熱為主，用加味溫膽湯可痊也。</p>
<h2>瀉證門</h2>
<p><u>總括</u></p>
<p>小兒泄瀉一證，多因脾被濕侵，土不勝水而成。然致病之原各異，醫者認之須清。或傷乳停食不化，或感受寒冷暑熱之氣，或驚邪外觸，或臟受寒冷，或脾虛作瀉，更有飧瀉水瀉之證。致疾之因不同，而調治之法亦異，或分消，或溫補，治宜精細辨之。</p>
<p><u>傷乳食瀉</u></p>
<p>小兒因乳食過飽，損傷脾胃，乳食不化，故頻瀉酸脹，噫臭，腹熱脹滿疼痛，口渴惡食，小便赤澀。須用保安丸消其滯，次用平胃散和其脾，庶積消而瀉止，奏神功矣。</p>
<p><u>中寒瀉</u></p>
<p>小兒中寒瀉者，因過食生冷油膩。腸鳴腹脹，時復疼痛，所泄皆澄徹清冷，面色淡白，四肢逆冷，懶進飲食。溫中理中湯主之，止瀉訶子散堪行也。</p>
<p><u>火瀉</u></p>
<p>火瀉者，皆因臟腑積熱，或外傷暑氣。故瀉時暴注下迫，肚腹疼痛，心煩口渴，瀉多黃水，小便赤色。先用玉露散清其熱，再用四苓散利其水，庶可收功矣。</p>
<p><u>驚瀉</u></p>
<p>驚瀉者，因氣弱受驚，致成泄瀉。其候夜臥不安，晝則惕驚，糞稠若膠，並帶青色如苔也。治宜鎮心抑肝，先以鎮驚散定其驚，次以養脾丸服之理其脾，則通靈可望也。</p>
<p><u>臟寒瀉</u></p>
<p>小兒斷臍失護，風冷乘入，傳於大腸，遂成寒瀉之證。其候糞色清白，腹痛腸鳴。先散其寒，用和氣飲極效；後用溫補，以調中湯再靈也。</p>
<p><u>脾虛瀉</u></p>
<p>脾虛瀉者，多因脾不健運。故每逢食後即作瀉，腹滿不渴，短少精神，面黃懶食，肌肉消瘦也。宜用參苓白朮散治之，必奏奇效也。</p>
<p><u>飧瀉</u></p>
<p>小兒或因春傷風邪，清氣下陷，脾失健運，以致完穀不化者，乃飧瀉之名也。治者須補養脾土，先用補中益氣湯，升其中氣。若泄瀉日久，腸滑不禁者，用四神丸治之。</p>
<p><u>水瀉</u></p>
<p>小兒脾胃濕盛，致成水瀉。懶食溏瀉，便色多黃，清濁不分，溺來短澀。宜用胃苓湯以除濕；若瀉久不止，則用升陽除濕湯治之自愈。</p>
<h2>感冒風寒門</h2>
<p><u>總括</u></p>
<p>小兒氣血未充，肌膚最是柔脆。偶觸風寒，則邪氣入於腠理，其病在榮衛。輕者為感冒，而病易痊。重者為傷寒，而證難退。或有夾食夾熱，或夾驚之辨，或宜疏散，或宜和解，臨證之時，宜體會焉。</p>
<p><u>傷風</u></p>
<p>衛主皮毛，內合於肺，肺感受邪風，故令身體發熱，憎寒，頭疼痛，有汗嚏涕，其脈浮緩，鼻塞身重，咳嗽頻頻。</p>
<p>宜杏蘇飲解散外邪，同金沸草散開通逆氣，此疏風解表，若從容也。</p>
<p><u>傷寒</u></p>
<p>小兒傷寒，乃榮分表感寒邪也。其證發熱無汗而惡寒，頭疼身痛，其脈浮緊，嘔逆煩渴，此病邪盛欲傳經也。初用九味羌活湯，如熱盛者，以雙解通聖湯治之。服此藥後，已汗下不解，而邪傳經者，用柴葛解肌湯；兼裡證者，用大柴胡湯，以解表通裡煎服。</p>
<p><u>感冒夾食</u></p>
<p>小兒平日飲食不節，內傷停滯，外復感受寒風。其證發熱憎寒，頭痛疼，惡食噯臭，吐出酸物，便閉尿澀，腹熱膨脹。熱盛者，用雙解通聖湯兩解之。內無熱者，用藿香正氣飲和解之。表邪已解，然後調理其脾，用平胃散斟酌而行。</p>
<p><u>感冒夾熱</u></p>
<p>小兒臟腑，平日素稟有熱，今復感傷風寒，風熱相搏，則火邪愈盛。故見證面赤唇焦，口鼻干燥，憎寒壯熱，口渴飲冷，心神煩躁，譫語狂妄，二便多艱。治宜散其風寒，更宜兼瀉其熱，先宜用雙解通聖湯兩解之。若服藥後汗出便利，病須少減，熱猶不退者，治宜清熱為主，用涼膈散合天水散煎服，則表裡清而病愈矣。</p>
<p><u>感冒夾驚</u></p>
<p>小兒感冒風邪未解，復為驚異所觸。故見心驚膽怯，睡臥不安，身熱煩躁，面色青赤之證。先以疏解散疏散之，復與涼驚丸清鎮之。如病雖退，尚覺心驚不寐者，再以柴胡溫膽湯之劑和解之，則寧神定志，其效如仙矣。</p>
<h2>瘟疫門</h2>
<p><u>總括</u></p>
<p>瘟疫之病，與傷寒之病，傳變相同。有冬感於寒而即病者，乃傷寒之名。有冬受寒邪，而未即發，藏於肌膚之內，伏於榮衛之間，因至春復感春風而發，溫病成焉。至夏復感暑熱，發為熱病。若合門逐戶，老幼相傳，乃天行瘟疫，其害更烈。或春夏應暖而反寒，秋冬應寒而反暖，此為四時不正之氣，名為時氣相感為病，與傷寒同治也。其間或發痧發疹發瘟　，要當詳明治之。</p>
<p><u>溫病</u></p>
<p>冬受寒邪，不即為病，至春復感春寒而發，名為溫病。現證同於傷寒。用雙解通聖湯兩解之。若嘔吐者，加生薑半夏均入。</p>
<p><u>風溫</u></p>
<p>風溫者，冬受寒邪，復感春風而發為病。其證發熱自汗，身重鼾眠。如汗少者，用荊防敗毒散治之；汗多者，以桂枝白虎湯，煎服清解之。</p>
<p><u>熱病</u></p>
<p>冬受寒邪，不即為病，至夏復感暑熱而成熱病。見證與溫病相類，但身不惡寒，而口多渴，為少異耳。治法亦與溫病相同也。</p>
<p><u>瘟疫</u></p>
<p>天地流行厲氣，而成瘟疫之病，不論老小強弱，沿門合境皆同。蓋由邪氣自口鼻而入，故此傳染之速，迅如風火，當分有在表在裡，在陰在陽之毒。其或發，或清，或攻，當因春風、夏熱、秋涼、冬寒之四時各異，審人虛實重輕以施治也。古法皆以攻毒為急者，以邪自口鼻入，在裡之病多故也。發以荊防敗毒散，清以普濟消毒飲，再攻以二聖救苦丹，則審度醫治，庶幾臨證有功矣。</p>
<p><u>瘟　疹痧</u></p>
<p>傷寒發疹、發　、發痧，皆因失於汗下，乃時氣感染，即其然也。緣表邪覆郁榮衛之分，外泛出皮脈，而成痧疹之證。亦由疫之為病，烈而速也。發於衛分，則為痧。衛主氣，故色白。發於榮分，則為疹，營主血，故色紅，皆如膚粟。深重為　，　紅如豆，甚則成片連連。　疹之色，紅者輕，赤者重，黑多死證。以色辨熱之淺深，驗生死也。若其色淡紅稀暗者，皆邪在三陽，已成　疹，由外入裡，邪從陰化，或過服寒涼之藥所致，是為陰　。陰痧陰疹，法當從陰寒治也。　出未透，表熱輕者，用升麻葛根湯合消毒犀角飲治之。表熱盛者，用三黃石膏湯煎服。已透者，用消　青黛飲加減清之。瘀疹初起，或表裡不清，用雙解通聖湯為先。</p>
<h2>暑證門</h2>
<p><u>總括</u></p>
<p>小兒暑病，有四證焉。中暑為陽邪，單中暑熱也，身熱有汗。傷暑為陰邪，中暑復感寒也，身熱無汗。中暑熱極攻肝，則抽搐。如攻心，則厥冒不知人事也。</p>
<p><u>中暑</u></p>
<p>中暑之證，汗出，身體壯熱，因暑熱熏蒸。故頭痛，口大渴，煩躁不寧，甚則氣乏神倦，兩足寒冷，須以加味人參白虎湯極靈。</p>
<p><u>傷暑</u></p>
<p>小兒傷暑，謂受暑復感寒風也。其證無汗發熱，口渴，面色赤紅，乾嘔惡中，腹中絞痛，嗜臥懶食，四肢重疼也。</p>
<p>當用內清外散之法，以二香飲極效。若正氣虛弱，當補正除邪，以六君子湯奏功。若傷暑夾食，必惡食多吐瀉，以加味香薷飲治之最靈也。</p>
<p><u>暑風</u></p>
<p>暑風者，手足抽搐，狀似驚風者也。由暑熱攻肝，內傷風病。其證煩渴有汗，身熱，二便黃紅。先用加味香薷飲疏其風，繼用玉露散清其熱，暑熱一解，而搐自寧矣。切不可作驚癇治之。</p>
<p><u>暑厥</u></p>
<p>暑厥之證，昏眩不知人事者。因其人元氣素虛。暑熱夾痰，上衝於心，以致精神昏憒。虛者以清暑益氣湯治之，若夾痰者，以辰砂益元散、抱龍丸均可治也。</p>
<h2>霍亂門</h2>
<p><u>總括</u></p>
<p>霍亂者，乃風寒暑飲之雜邪為病而成。卒然揮霍變亂，吐瀉交作，腹心疼痛也。其能吐能瀉者，乃飲暑盛，謂之濕霍亂。夫飲暑雖盛，若已經吐瀉，其邪即解，故易治也。若欲吐不能，欲瀉不能，乃寒勝則凝也，為干霍亂。蓋既不吐瀉，則邪無去路，故症不輕也。</p>
<p><u>濕霍亂</u></p>
<p>如暑飲合邪，其證吐瀉不已，肚腹頻痛，口渴引飲，胸膈悶膨。飲盛者，主以二香飲治之；暑盛者，以辰砂益元散治之，則暑飲之邪清，而霍亂之證愈，其功最靈也。</p>
<p><u>干霍亂</u></p>
<p>如欲吐不吐，欲瀉不瀉，乃寒暑凝結，腹中絞痛，不能堪當，俗名絞腸痧病也。治者當分寒暑，如煩渴大飲者為熱，以桂苓甘露飲主之；若四肢厥逆，口不渴，理中湯煎服。</p>
<h2>痢疾門</h2>
<p><u>總括</u></p>
<p>痢疾之證，多因外受暑濕，內傷生冷而成。傷於氣者，色多白，以肺與大腸相表裡也。傷於血者，色多紅，以心與小腸相表裡也。其證後重下墜，裡急而腹窘痛。又有寒痢、熱痢、時痢、噤口痢之名，醫者辨之。</p>
<p><u>寒痢</u></p>
<p>寒冷傷胃，久痢不已，或臟氣本虛，復為風寒所乘，傷於腸胃，故痢時腸鳴切痛，實難堪當，面唇青白，口呈渴而喜飲熱，此裡寒虛之證也。初宜理中湯，久則真人養臟湯主之，其效通仙也。</p>
<p><u>熱痢</u></p>
<p>熱痢者，皆因濕熱結於腸胃，致腹窘痛，下痢無度，尿短色紅，舌赤唇焦，喜飲冷水，此裡熱之證也。重則當歸芍藥湯主之，輕則白頭翁湯主之，或香連丸治之亦靈。</p>
<p><u>時痢</u></p>
<p>時痢者，乃痢疾時復感時氣也。身體發熱無汗，遍身疼痛，熱為邪束，因作嘔逆。須以倉凜湯散之，而痢自止，有奇功也。</p>
<p><u>噤口痢</u></p>
<p>如火毒沖冒而成噤口，其證脈大身熱，不能飲食，舌赤唇紅，惟喜飲冷，急宜參連開噤散救之，其功奇矣。</p>
<h2>瘧疾門</h2>
<p><u>總括</u></p>
<p>瘧疾者，多因夏傷於暑，其氣含入於榮內，至秋復感寒風，則榮衛合邪，而病始成。發時陰陽相並，故或寒或熱也。</p>
<p>乃有每日作者，因初病邪氣尚淺，伏藏於榮，隨經絡而行故也。其間日作者，因邪已深入脊膂間，伏藏於衝脈故也。其晝發者，因邪在三陽之淺；夜發者因邪在三陰之深。瘧將退者，亦由夜而晝，由間日而至每日。此去陰就陽，由深而淺，病將已矣。治者，須詳細分明別之也。</p>
<p><u>寒瘧風瘧</u></p>
<p>凡瘧疾，先傷於寒，後傷於風，故先寒後熱，身體無汗，此為寒瘧，不須細詳。如先傷於風，後傷於寒，故先熱後寒，身體有汗，此為風瘧，亦已詳明。如寒瘧，以麻黃羌活湯之劑為主；如風瘧，惟桂枝羌活湯斟酌用之。</p>
<p><u>食瘧</u></p>
<p>食瘧者，因小兒飲食無節，復感風暑之氣，以致寒熱交作，胸腹脹滿，面黃惡食，痞悶不通也。但食有輕重，輕者須用柴平湯之劑主之；如重而便　者，用加味大柴胡湯攻之，則積滯清，而瘧漸退矣。</p>
<p><u>瘧痰瘧飲</u></p>
<p>小兒素有痰飲，復因外邪凝結脾胃，故多嘔逆，面黃目腫，胸膈膨脹也。若瘧疾已經汗下之後，表裡無證，宜用清脾飲以和之。如痰盛者，用清脾飲加橘紅倍半夏；飲盛者，加蒼朮倍茯苓；若氣已虛弱，加人參以扶其正。</p>
<h2>咳嗽門</h2>
<p><u>總括</u></p>
<p>《病機式要》云：肺病則咳嗽，謂有痰有聲，因肺氣受傷，動乎脾濕而然也。若只有聲而無痰，是咳之名，肺氣傷而不清也。有痰而無聲，謂之嗽，脾濕動而為痰也。二者雖俱屬肺之為病。然又有肺寒肺熱之分，食積風寒之別，醫者宜詳辨之。</p>
<p><u>肺寒咳嗽</u></p>
<p>寒嗽者，因平素肺虛喜飲生冷，以致寒邪傷肺，發為咳嗽。其證面色　白，痰多鼻涕清稀。初宜聖惠橘皮散為主之藥；若日久而嗽不愈者，須用補肺阿膠散治之，則順氣化痰而嗽寧矣。</p>
<p><u>肺熱咳嗽</u></p>
<p>火嗽一證，乃火熱熏擾肺金，遂致頻頻咳嗽，面赤，咽喉干燥，痰黃氣穢，多帶稠黏也。便軟者加味瀉白散主之，便硬，加味涼膈散煎服，則熱退氣清，而嗽自止矣。</p>
<p><u>食積咳嗽</u></p>
<p>食積者，因小兒食積生痰，熱氣熏蒸，肺氣氣促痰壅，咳嗽頻頻也。如便溏者，以曲麥二陳湯治之。便燥者，以蘇亭滾痰丸攻下之。</p>
<p><u>風寒咳嗽</u></p>
<p>小兒脫衣，偶為風寒所乘，肺先受邪，使氣上逆，沖塞咽喉，發為咳嗽。如常嚏噴流涕，鼻塞聲重，多唾痰涎，先宣疏解風邪，以參蘇飲主之，後清其痰嗽，用金沸湯主之。若寒邪壅當散其寒，以加味華蓋散治之，則風邪解，而氣道通，氣道通而咳嗽痊矣。</p>
<h2>喘證門</h2>
<p><u>總括</u></p>
<p>喘證者，則呼吸氣出急促，外候抬肩欠肚也；哮則喉中有聲音也。然致病之原不一，如實熱者，則有氣粗胸滿，痰稠便　而喘，如虛寒者，則有氣乏息微，不能續息而喘。其中有風寒壅閉而喘，又有痰飲壅逆而喘，更有馬脾風一證，最為急候，醫者須分別詳明而治之。</p>
<p><u>火熱喘急</u></p>
<p>火邪刑金作喘者，多口乾舌燥，作渴，面赤唇紅也。因於肺熱者，以涼膈散主之。因於胃熱者，以白虎湯清之。心火刑金者，宜用導赤散主之。腎虛火來爍金者，宜用知柏地黃湯治之最靈也。</p>
<p><u>肺虛作喘</u></p>
<p>虛喘之證，氣乏聲音短澀，以潔古黃　湯治之最捷。若虛而夾痰喘促者，百合固金湯治之。若虛而夾熱者，以本事黃湯之劑煎服。</p>
<p><u>風寒喘急</u></p>
<p>肺主皮毛，一受風寒，內傷肺氣，則氣逆不降，呼吸喘急，表熱無汗，宜以華蓋散之方，汗而散之。若肺氣本虛，復被風邪所傷者，宜紫蘇飲補而散之。若肺虛外無風邪所傷，內無痰涎壅塞，惟氣逆喘急者，以加減蘇子降氣湯降其逆氣，其喘自愈。</p>
<p><u>痰飲喘急</u></p>
<p>小兒痰飲壅盛，氣逆因作喘者，其音如潮響，聲如拽鋸，須急攻痰飲，宜蘇葶滾痰丸從而治之。若停飲喘急，不得臥者，又當瀉飲降逆，用蘇葶丸治之。</p>
<p><u>馬脾風</u></p>
<p>小兒暴喘，俗傳其名馬脾風。因寒邪客於肺俞，寒化為熱，閉於肺經，故胸高氣促，肺脹喘滿，兩脅扇動，陷下作坑，鼻竅扇動，神氣悶亂。初遇之，急服五虎湯，繼用一捻金下之。倘得氣開，其效最靈。如兒生百日內，見此者，病多不救。</p>
<h2>痰證門</h2>
<p><u>總括</u></p>
<p>痰者，因水穀所化之津液，不能四布，留於胸中而成者也。多因飲食無節，或乳食過食濃味，脾胃不能運化而生。</p>
<p>若陰氣素盛，則化而為飲；陽氣素盛，則化而為痰。如稠黏黃色，澀滯難出，為之燥痰；清稀色白，滑而易出，乃濕寒也。二者或宜清潤，或宜通利，治各不同。</p>
<p><u>燥痰</u></p>
<p>燥痰者，乃肺燥滯澀難出，痰因火動也。火盛則痰多燥黏，故氣逆喘咳，夜臥不寧，面紅口乾，小便黃赤。輕者，用清氣化痰丸清之；重者，用蘇葶滾痰丸平之。</p>
<p><u>濕痰</u></p>
<p>濕痰者，因小兒過食生冷油膩之物，有傷脾胃，遂致脾土虛濕，不能運化，而成濕痰。滑而易出；脾虛不運，故懶飲食；脾主四肢，故倦怠嗜臥；脾屬土，故面色多黃。如痰多者，用枳桔二陳之劑加蒼朮、白朮除濕化痰。飲盛者，用桂苓甘術湯扶陽散飲。調治合宜，而痰自化矣。</p>
<h2>疝證門</h2>
<p><u>總括</u></p>
<p>厥陰之脈環陰器，入小腹。任脈起於中極之下，以上毛際，循腹裡，上關元。故諸疝莫不屬之厥陰任脈為病也。小兒病此，多因先天不足，本臟虛弱，復因外感風寒，內食生冷，以致寒邪積聚凝結而成者有之。或因濕熱鬱於中，復為寒邪束於外，邪氣乘虛，並於血隊，流入厥陰。厥陰屬肝，其性急速，故其見證，皆牽引睪丸，小腹絞痛也。又有胎疝一證，多因孕婦啼泣過傷，動於陰氣，結聚不散，令兒生下，即成此證者，乃稟賦為病也。總審大抵熱則多縱，寒則痛臨。血分者，在左不移，氣分者，在右多動，濕腫墜則重，虛腫墜則輕也。因證而治，自中病情矣。</p>
<p><u>寒疝</u></p>
<p>小兒平日過食生冷，或臥濕地，以致寒濕內蓄，陰結於內，氣滯不行，為日已久深，復為風冷所束，水氣所侵。故發時囊冷結硬，牽引小腹作痛，而成寒疝。初得之兼表者，以烏頭桂枝湯主之；寒甚者，金茱丸治之如神也。</p>
<p><u>濕熱感寒疝</u></p>
<p>小兒平素濃味過度，致生濕熱。濕熱之氣下行，流入囊中，復觸風寒，而疝氣成矣。發時囊縱紅腫，常常刺痛，當以烏頭梔子湯服之即寧也。</p>
<p><u>胎疝</u></p>
<p>胎疝者，多因孕婦啼哭過傷，氣結不散，蘊於胞中，令兒生下胞硬，疼痛無時。輕者用十味蒼柏散治之，重者用金鈴散或川楝丸最宜。</p>
<p><u>陰腫</u></p>
<p>陰器者，乃諸筋之總會也。因邪客於少陰厥陰之經，濕熱之氣，與風冷之氣相搏，氣不得通，故陰囊腫大者，乃邪氣凝結也。總之，風盛多癢，濕盛多墜，熱盛多疼。如外腎膚囊腫大，癢痛墜下，此風濕襲於下也，宜疏風五苓散主之。</p>
<p>如外腎膚囊腫痛光亮，此因心火移熱於小腸故也，宜用加味五苓散，或導赤散主之。更有偏墜一證，或左或右，睪丸作腫者，此因食積不化，濕氣下行故也，宜加味守效丸服之最靈。</p>
<p><u>小腸氣</u></p>
<p>小腸氣一證，其受病與疝氣等，亦因濕氣在內，而寒氣又束於外也。發時小腹脹控，睪丸痛引腰脊，上衝心痛而不腫是也。治宜分別形狀，如引腰而痛者，宜加味香蘇散溫散之為宜；如上衝心氣而痛者，加味失笑散主之；如小腹中有形如卵，上下往來，痛不可忍者，宜胡蘆巴丸醫之。</p>
<h2>淋證門</h2>
<p><u>總括</u></p>
<p>小兒諸淋，皆緣風寒襲人，或因濕熱下移，乘入膀胱，以致溲溺無時，水道澀滯，欲出不出，淋漓不斷，甚至窒塞，令兒常常作痛。然必辨其為寒為熱，為石為血，隨證分別醫治，則水道宣通，而淋自愈矣。</p>
<p><u>寒淋</u></p>
<p>小兒冷氣，乘入胞中，致下焦受冷，遂成寒淋。其候小便閉塞，脹痛難禁，淋漓不斷，小腹隱痛，須以五苓散倍加肉桂、小茴香，治之如神也。</p>
<p><u>熱淋</u></p>
<p>膀胱蓄熱，熱淋成矣。小便不通，淋漓澀痛，以十味導赤散治之，有奇功也。如小腹脹滿，引臍作痛，大便閉結者，急服八正散，莫少停也。</p>
<p><u>石淋</u></p>
<p>膀胱濕熱，蓄積日久，而成石淋之證。致溲出如沙石之狀，莖中疼痛。此病譬如湯瓶久經火煉，底結白　也。如輕者，須用葵子散主之，重則用八正散，可相從也。</p>
<p><u>血淋</u></p>
<p>血淋者，蓋因心熱傷於血分，熱氣傳入於胞，日久則尿血同出，莖中不時疼痛。痛利者，須用小薊飲主之，若莖中痛甚者，五淋散從而用之。</p>
<h2>頭痛門</h2>
<p><u>總括</u></p>
<p>小兒頭痛之證不一，當分在表在裡之別。如在裡者，屬內熱熏蒸也；在表者，外感寒風也。如風寒外閉，法宜疏散之；內熱熏蒸，以清解攻之。</p>
<p><u>風寒頭痛</u></p>
<p>風寒頭痛者，乃屬太陽經受邪也。其候上及巔頂，下連額角之傍，不時作痛，惡寒無汗身體發熱。法宜取汗，悉以清空膏主之。如痛甚者，於本方中加細辛；熱盛便秘者，於本方中加大黃。</p>
<p><u>內熱頭痛</u></p>
<p>內熱頭痛者，屬陽明胃經。因小兒肥甘無節，胃火上炎，故發時鼻干目痛，上至頭，下至齒頰，疼痛無有定時。先清其火，用加味茶調散主之。如便閉，加入大黃攻之。</p>
<h2>腹痛門</h2>
<p><u>總括</u></p>
<p>小兒腹痛，有四證焉。如食痛、寒痛、蟲痛等因，又有停食感寒，相兼而痛也。須隨證施治，寒則溫中，食則消導，蟲則安蟲，停食感寒，則消散。宜詳辨分明，其痛自除矣。</p>
<p><u>食痛</u></p>
<p>食痛者，皆因傷於飲食，積滯不化，以致心胃作痛。其候食入即痛，喜飲涼水，惡食腹滿，吐酸便秘，先以小承氣湯下之。若下後仍痛者，以香砂平胃散酌量嘗之。</p>
<p><u>寒痛</u></p>
<p>寒痛者，多因小兒中氣虛弱，復為風冷所乘，則脾經受寒，故不時腹痛。現證尿白爪甲俱白，面色青，喜飲熱，腹滿，或下利，宜理中湯溫之。若四肢厥冷，兼屬少陰，加附子煎服。</p>
<p><u>蟲痛</u></p>
<p>蟲痛者，因腹中蟲動不安，故腹因作痛。其候面色乍青，乍赤，乍白，其痛時痛時止，時吐清涎。不可妄用攻下，當以安蟲為主，其痛自止。新痛者，錢氏安蟲丸主之；痛久不愈者，加減理中湯治之最合。</p>
<p><u>內食外寒腹痛</u></p>
<p>小兒內傷乳食，外感寒邪，遂致食寒凝結，腹中作痛。其候發熱惡寒，腹痛，更兼惡食嘔吐，而多啼叫不已者，以藿香和中湯可急煎服。</p>
<h2>黃膽門</h2>
<p><u>總括</u></p>
<p>黃疽一證，乃濕熱鬱蒸日久，外發肌膚而成也。其候遍身皆黃，及面目眼睛，亦甚深黃，面如煙熏之狀。其中又有陰陽之別：如陽黃尿赤色亮，面紅口渴，身多發熱是也，乃脾家濕熱之故；如陰黃，口不渴而色暗黃，身冷如冰是也，乃脾腎寒濕之故。醫者宜分別施治。</p>
<p><u>陽黃</u></p>
<p>陽黃一證，原因濕熱而成。如表實無汗，宜疏散其汗，用茵陳麻黃湯散發汗也，則黃從表解。如裡實腹滿，二便秘澀者，宜茵陳蒿湯攻下之。若表有汗，裡不便秘腹滿，是表裡無證，不可汗下，惟利小便，宜用茵陳五苓散治之，使黃從水道出，其方最驗。</p>
<p><u>陰黃</u></p>
<p>陰黃之證，最為危險，乃脾濕腎寒，兩虛而成。宜溫脾去黃，以茵陳理中湯治之；如溫腎去黃，以茵陳四逆湯治之最靈。</p>
<h2>水腫門</h2>
<p><u>總括</u></p>
<p>小兒水腫，俱屬水停於脾肺二經。如水停肺中則喘，水停脾中則脹，其間所腫部位，要分明也。若腰以上腫者，屬風，宜汗散之；腰以下腫者，屬濕，利水之法最靈；有通身上下俱腫者，治宜利汗並施。腫而喘不得臥，則逐肺飲，腫而脹滿便閉，則宜攻脾。水腫從腹起至四肢者可治，從四肢起至腹者不可治。當再辨有陽水與陰水之分。陽水屬實，法宜攻瀉，陰水屬虛，法宜溫補，臨證之時，貴變通焉。</p>
<p><u>風水腫</u></p>
<p>凡腫在腰以上，如頭面肩臂至腰腫者，病因外感風邪而起，急宜發汗，莫從容也。經云：開鬼門之法，以越婢湯中加蒼朮汗之。汗後全消，病即寧矣。</p>
<p><u>濕水腫</u></p>
<p>腫在腰臍之下兩足者，病因脾經濕熱而起，急宜利水可安然也。經云：潔淨府是也。先用外法，以藥貼臍，如神之妙，內服沉香琥珀丸。</p>
<p><u>風濕腫</u></p>
<p>通身頭面手足皆腫者，得病之由，乃屬外感風邪，內停濕飲，風濕相搏，水道不利，外攻肌表，因而作腫也。治法用外散內利，則最相宜。重者用峻攻之，則用疏鑿飲；輕者和解之劑，用茯苓導水湯醫之。若水停上攻於肺，喘急不得臥，用蘇葶丸以定其喘，亦最相宜。水停中州，脹滿喘急者，用舟車神　丸最攻之也。</p>
<p><u>陽水</u></p>
<p>陽水者，乃濕熱內郁，水道阻塞，外攻肌表，以致外腫內脹，身熱口渴，六脈沉數，小便赤澀，大便多難也。法當泄水，如熱盛心煩口渴者，用大聖　川散攻之；濕盛脹滿者，用舟車神　丸攻之。</p>
<p><u>陰水</u></p>
<p>陰水者，乃脾腎虛弱，脾虛不能制水，腎虛不能生水，以致外泛作腫，內停作脹。若二便利，心不煩，身不熱者，須服實脾散、金匱腎氣丸。若服溫補藥而無效驗，則是虛中有實，欲投攻下，恐小兒難堪；若不攻之；則坐以待斃。雖攻補兼施，或一補一攻，或三補一攻，或九補一攻，審其進退，俟有可攻之機，以意消息，始能逐邪而不傷正病可痊也，必忌鹽醬百日。</p>
<h2>腹脹門</h2>
<p><u>總括</u></p>
<p>腹脹之病，脾胃二經主之，有虛有實，宜分晰焉。若脾虛，因久病，內傷其脾；胃實者，多由飲食滯停於胃。如補虛，則宜健脾，而兼理氣；攻食則宜消導，自然寧矣。</p>
<p><u>虛脹</u></p>
<p>凡小兒久病脾虛，失其健運，或因吐瀉，暴傷脾氣，所以飲食不化，食少腹即脹滿，精神倦怠，面黃肌瘦，宜用香朴四君子湯醫之。</p>
<p><u>實脹</u></p>
<p>小兒飲食過度，內傷胃氣，則胃中停滯，以致腹脹，大便不通，身體潮熱，心煩口渴，形氣壯實。輕者加味平胃散主之，重者小承氣湯施治再靈也。</p>
<h2>發熱門</h2>
<p><u>總括</u></p>
<p>小兒身體發熱，有表裡虛實之異。治亦有汗、下、補、瀉之殊，宜分別焉。須當觀形察色，辨其因由，審證切脈，臨證無遺缺也。</p>
<p><u>表熱</u></p>
<p>小兒表熱之證，因外感寒邪，脈浮發熱，惡風惡寒，頭疼身痛，而無汗出，此表熱也。宜十神湯主之，兼內熱者，用雙解通聖散為先。</p>
<p><u>裡熱</u></p>
<p>小兒裡熱之證，因肥甘過度，必生內熱，以致遍身蒸蒸發熱，小便澀紅，面赤唇焦，舌燥而渴，脈實有力者，失以調胃承氣湯下之；不愈用白虎湯，或黃連解毒湯清之。</p>
<p><u>虛熱</u></p>
<p>虛熱者，因小兒病後，營衛虛弱，氣血未調之故。其證神倦氣乏，宜用補中益氣湯治之。若口渴引飲而嘔，用竹葉石膏湯治之。又有陰盛格陽，外浮發熱者，其面色雖赤，而尿清白，四肢厥冷，宜用白通湯收斂陽氣，熱退自愈。</p>
<p><u>實熱</u></p>
<p>小兒實熱者，乃有餘積熱，以致午後潮熱，蒸蒸有汗，肚腹脹滿，尿紅大便難，煩渴啼叫，口舌生瘡，腮頰紅赤，脈洪數有力。法宜清熱通利，時時熱者，用涼膈散主之。午後潮熱者，大柴胡湯主之，其效通仙也。</p>
<h2>癖疾門</h2>
<p><u>總括</u></p>
<p>癖疾一證，乃過於飲食，腸胃填滿，濁汁外溢，復被寒氣凝結而成。每在左脅之下，始如雞卵，漸如覆盆之形，越臍則難治。身體潮熱，喜飲冷水，肌膚消瘦，腹滿有硬塊，面色黃青也。治者宜詳察之。</p>
<p><u>證治</u></p>
<p>癖疾之發，必午後潮熱，渴飲冷水，肚大青筋，漸至堅硬成塊，不時疼痛，內服千金消癖丸。若無熱渴者，先以木香丸治之。外俱貼紅花膏，則內外兼治，效最靈也。</p>
<h2>汗證門</h2>
<p><u>總括</u></p>
<p>汗乃人之津液，存於陽者為津，存於陰者為液，泄於外者為汗。若汗無故而出者，乃陰陽偏勝也。如小兒無因而汗自出者，謂之自汗。自汗屬陽，有虛實之別。有因胃熱者，汗出蒸蒸，發熱不惡寒也。有表虛者，汗出翕翕，發熱惡寒也。又有睡中出汗，覺則汗止，為之盜汗。盜汗為之陰弱，然當分心虛不固，心火傷陰，有血熱不清。治者必須表虛者，當固表；裡實者，當攻熱；心虛當補心；心熱當涼血。隨證醫之，庶無差謬。</p>
<p><u>自汗</u></p>
<p>虛　，表　自汗，玉屏風散主之。若惡寒冷，用桂枝東加附子。陽明裡實，蒸蒸自汗，用白虎湯清之。便秘用調胃承氣湯攻之。</p>
<p><u>盜汗</u></p>
<p>心虛盜汗者，陰氣不斂也。睡則多驚，以酸棗仁湯服之即寧。如心火傷陰，身必煩熱，以當歸六黃湯必定奏功。</p>
<h2>失血門</h2>
<p><u>總括</u></p>
<p>凡失血之證，陽盛乘陰，則血為熱迫，不能安於脈中，犯於氣分妄行，不能歸入經脈也。若傷及腑者，則血滲入腸胃之濁道，傷及於臟者，則溢出於胸中之清道。熱犯陽絡，腑病也，上行於咽，出而為吐為衄。熱侵陰絡，臟病也，則下從精竅而出，為溺血，下從大便而出為紅。又有努傷勞傷，而成血病。若日久血上，仍嗽不休者，勢多凶危也。</p>
<p><u>衄血</u></p>
<p>衄血之候，鼻中干燥，身熱不渴，而苦頭疼，是熱傷陽絡也。有因傷寒失表者，當分有汗無汗之別。如熱鬱於營，其身無汗，用麻黃湯汗之。身有汗者，用桂枝湯治之。設無表病，因內熱而衄者，用犀角地黃湯清之。熱盛者，四物三黃瀉心湯瀉之，外用發灰散，或梔子末吹鼻，其衄自止。</p>
<p><u>吐血</u></p>
<p>小兒吐血，不咳嗽者，多因內熱，致血妄行上逆也，宜用犀角地黃湯。如因努力勞傷而吐，則兼咳嗽，先用桃仁承氣湯破之，次用加味四物湯嘗之。又勞傷吐血，亦兼咳嗽，痰中帶血有熱者，用雞蘇散止之。無熱者，須用加味救肺散為良。</p>
<p><u>便血</u></p>
<p>小兒恣食肥甘，致生內熱，傷及陰絡，病即便血。一成臟毒，先血後糞，其血黯而濁。如成腸風，先糞後血，其色鮮而紅。須辨腸風，腹中不痛；臟毒，肛門腫痛。又熱盛濕盛，亦要分明。如臟毒初起，腫痛甚者，初宜皂刺大黃湯消之即寧，熱盛微痛者及臟毒，俱宜槐花散主之。濕盛不痛者，用平胃地榆湯再靈。便血日久，脈微氣血弱者，用升陽和血湯和之，共人參養榮湯補之。</p>
<p><u>溺血</u></p>
<p>溺血多緣精竅病，乃尿與血，先後分出，莖中或痛，用牛膝四物湯調治，急宜煎服，效從容也。</p>
<h2>雜證門</h2>
<p><u>二便秘結</u></p>
<p>小兒多因乳食停滯生熱，結於腸胃，以致二便秘結。其候口渴舌乾，唇赤面紅，熱積尿閉，小腹滿急，八正散主之。</p>
<p>食積大便閉，腹脹痛者，用神芎丸主之。</p>
<p><u>氣虛脫肛</u></p>
<p>脫肛一症，因瀉痢日久，中氣下陷，腸胃薄瘦，肛門滑脫不收。現證面色青黃，指梢冷，脈來沉細，唇色淡白。先以補中益氣湯升舉其氣，再以真人養臟湯溫補固滑，外用澀腸散敷上，其腸自合矣。</p>
<p><u>肛腫翻肛</u></p>
<p>小兒積熱太盛，以致肛門作腫，大便艱難，努力翻出，肛門不還。外用蟠龍散敷上，以消其腫，內宜皂刺大黃湯煎服，腫消肛自收也。</p>
<p><u>龜胸</u></p>
<p>小兒飲食不節，痰熱熾盛，復為風邪所傷，風熱相搏，以致肺經脹滿，攻於胸膈，高聳如杯，若龜之形。現證氣粗喘急，咳嗽身體羸瘦。治宜清肺化痰為主，先以寬氣飲開其氣道，次以百合丹除其滯氣，酌量而行。</p>
<p><u>龜背</u></p>
<p>嬰兒坐早，被客風吹入脊膂，遂致傴僂曲節，背高其狀如龜，往為終身痼疾。內服松蕊丹緩緩調治，外用聖惠灸法灸三穴，肺俞、心俞、膈俞三五壯，或再點龜尿於骨節上，亦可得效。</p>
<p><u>五軟</u></p>
<p>小兒頭項軟，手足軟，口軟，肌肉軟，為之五軟。皆因稟受不足，氣血不充，故骨脈不強，筋肉痿弱而來。先以補腎地黃丸補其先天精氣，再與扶元散補其後天羸弱，全在後天漸漸調養為宜。</p>
<p><u>五硬</u></p>
<p>陽氣不營於四末而成五硬。現症仰頭取氣，難以搖動，手足強直、其冷如冰，氣壅胸膈，牽連疼痛，最為難治。重者以小續命湯疏其風為良，輕者烏藥順氣散調其氣應驗。若遇肝木乘脾，食少氣弱者，加味六君子湯，內外交治，其妙無竟。</p>
<p><u>五遲</u></p>
<p>小兒多因父母稟來氣血虛弱，先天有虧，致令生下筋骨軟弱，半步難移，牙齒不生，頭發疏薄，身坐不穩，語言多遲。用加味六味地黃丸滋養其血，再以補中益氣湯調養其氣為宜。又有驚邪乘入心氣，至四五歲不能言者，菖蒲丸最好。</p>
<p>又足少陰腎經，其華在發；若少陰之血虛不足，不能上榮於發，故發遲，用苣勝丹醫之。</p>
<p><u>鶴膝風</u></p>
<p>小兒稟賦不充盈足，以致肌肉削瘦，骨節崢嶸，膝蓋外露，如鶴膝狀。多因腎弱精髓難生，氣血不榮，筋脈攣縮，膝貯風涎，時時作疼，用大防風湯，宜先服之，再以補腎地黃丸繼進，莫從容也。</p>
<p><u>解顱</u></p>
<p>小兒解顱者，乃囟大骨縫不合，其症最可憐也。蓋腎生髓，腦為髓海，腎氣有虧，腦髓干燥。現症面色　白；形體瘦削，目多白睛，心若愁煩，少笑。先以補腎地黃丸堪服，滋補其陰；再補其陽，以扶元散為先。更有封囟散，極有效驗，臨時攤貼，保安然矣。</p>
<p><u>囟陷</u></p>
<p>小兒臟腑有熱，渴飲水漿，致成瀉痢。日久脾氣虛寒不能上充腦髓，故囟陷成坑之症見焉。面目青黃，四肢清涼，六脈沉緩，神氣慘淡。先以補中益氣湯升提其氣，再用固真湯進之，定有奇驗。外用烏附膏攤貼，溫中理脾，其功無限也。</p>
<p><u>囟填</u></p>
<p>囟門腫起者，蓋因乳哺無度，或寒或熱，乘於脾經，致使臟腑不調，其氣上衝，為之填脹腫突。其間虛實，要辨分明。毛髮憔悴，頻頻出汗，胸高氣促，口唇色紅。如肝氣盛者，用瀉青丸最效。裡熱者，大連翹飲堪行。因表者，防風升麻湯之劑。　冷不熱者屬陰，用理中湯可治也。</p>
<p><u>中惡</u></p>
<p>小兒神氣尚未充實，一為邪惡所觸，何能自己主持，定然神魂離舍，目閉面青，心驚悶亂，不省人事。內用蘇合香丸除其邪，外用皂角末開通其閉。嚏出，則功效奇矣。</p>
<h2>幼科證治匯方</h2>
<p>（藥名下注一、二等數目字者即一錢二錢之稱，未注明者等分，可自斟定）</p>
<p>胡粉散（胡粉、甑帶灰、乾薑、白石脂、棉灰各等分，加麝香少許，為細末，敷臍上封之，每次一錢。）</p>
<p>烙臍餅子（豆豉，黃蠟、加麝香少許，研勻捻為餅，灸臍上。）</p>
<p>一捻金（生大黃、黑丑、白丑、人參、檳榔、為細末，蜜水調服。）</p>
<p>勻氣散（陳皮、桔梗各一錢，炮薑、砂仁、炙甘草各五分，木香三分，為細末，每服五分，紅棗湯調服。）</p>
<p>理中湯（人參、白朮、乾薑、甘草，加紅棗肉煎服。）</p>
<p>生地黃湯（生地黃、赤芍藥、川芎、當歸、天花粉、甘草，水煎服。）</p>
<p>熊膽洗法（熊膽、黃連各少許，用滾湯淬洗其目，目自開。）</p>
<p>香蘇飲（藿香、蘇葉、厚朴、陳皮、枳殼、茯苓、木香、炙甘草，加生薑煎服。）</p>
<p>黃連二陳湯（半夏、陳皮、茯苓、甘草、黃連，加生薑煎服。）</p>
<p>導赤散（生地黃、木通、甘草，加燈心、竹葉水煎服。）</p>
<p>八正散（　蓄、瞿麥、滑石、木通、赤苓、車前子、生大黃、梔子，加燈心煎服。）</p>
<p>豆豉膏（淡豆豉一勺，田螺十九個，蔥一大束，搗爛，用芭蕉汁調貼臍上。）</p>
<p>木通散（車前、　蓄、瞿麥、木通、赤苓、山梔、滑石、黃芩、甘草、大黃，加燈心或薄荷煎服。）</p>
<p>紫霜丸（代赭石、赤石脂各一兩，杏仁六十粒，巴豆三十粒，為末，飯糊為丸，白水下，日服三丸。）</p>
<p>黑白散（黑牽牛、白牽牛、大黃、檳榔、陳皮、甘草、玄明粉，除檳榔外，余藥均須晒焙。再合檳榔、玄明粉蜜湯調化，每服五六分。）</p>
<p>蘇合香丸（蘇合油、安息香和酒熬膏，再以丁香、青木香、白檀香、沉香、蓽拔、香附子、訶子、烏犀、朱砂、薰陸香、片腦、麝香，為末，煉蜜為丸，空心沸湯化下。）</p>
<p>龍膽湯（柴胡、黃芩、甘草、鉤藤、赤芍、大黃、龍膽草、蜣螂、桔梗、赤茯苓，加棗肉煎服。）</p>
<p>秘方擦牙散（生南星、龍膽，為細末，合生薑汁，放大牙根擦之。如再不開，將藥調糊，含他人口內，以筆管入病人之鼻孔，吹入，其關定即立開。）</p>
<p>辰砂全蠍散（辰砂五分、全蠍三枚，硼砂、龍腦、麝香各一分，為細末，用乳母唾，調抹口唇及齒上。）</p>
<p>辰砂僵蠶散（辰砂五分，僵蠶一錢，蛇蛻一錢，麝香五分，為末，用蜜調敷唇口。）</p>
<p>撮風散（赤腳蜈蚣、鉤藤、朱砂、僵蠶、蠍尾、麝香，為末，每服竹瀝調下。）</p>
<p>滲臍散（枯礬、龍骨各二錢，麝香少許，為末，撒臍中。）</p>
<p>金黃散（川連二，胡粉一，龍骨一，為末，敷患處。）</p>
<p>犀角消毒飲（力子、甘草、荊芥、防風、水煎，入犀角末，調勻服。）</p>
<p>二豆散（赤小豆、豆豉、南星、白蘞，為末，用芭蕉汁調敷臍旁，日二次。）</p>
<p>驅風散（蘇葉、防風、陳皮、厚朴、枳殼、木香、僵蠶、鉤藤、甘草，加生薑煎服。）</p>
<p>益脾散（茯苓、人參、草果、木香、炙草、陳皮、厚朴、蘇子，為末，每服一錢，薑、棗湯調服。）</p>
<p>九龍控涎散（赤腳蜈蚣一條，酒塗炙、滴乳天竺黃、蠟茶、雄黃、炙甘草、荊芥、白礬、綠石，為末，人參薄荷湯調下，每服五分。）</p>
<p>牛黃散（牛黃、朱砂、麝香、竺黃、蠍尾、鉤藤，共研勻，新汲水調下。）</p>
<p>鉤藤飲（人參、全蠍、羚羊、明麻、甘草、鉤藤。）</p>
<p>木香丸（沒藥、木香、茴香、鉤藤、全蠍、乳香，先將乳香、沒藥研勻，後入諸藥，加大蒜少許，為丸，每服二丸，鉤丁湯下。）</p>
<p>養臟散（當歸、沉香、木香、肉桂、川芎、丁香，為末，淡薑湯下。）</p>
<p>白豆蔻散（白蔻、砂仁、青皮、陳皮、炙草、香附、莪朮，為末，紫蘇煎湯下。）</p>
<p>熨臍法（淡豆豉、生薑、蔥白、食鹽，同炒熱，置臍上熨之。）</p>
<p>真金散（黃連、川柏、當歸、赤芍、杏仁，用乳汁浸一宿，晒乾，為末，生地汁調，頻頻點眼。）</p>
<p>如聖散（鉛霜、牛黃、元真石、朱砂、龍腦、為細末，滲患處。）</p>
<p>一字散（朱砂、硼砂、龍腦、朴硝，為細末，用蜜調，以鵝翎蘸搽口內。）</p>
<p>清胃散（生地、丹皮、黃連、當歸、升麻、石膏，加燈心煎服。）</p>
<p>清熱瀉脾散（山梔、石膏、黃連、生地、黃芩、茯苓，加燈心煎服。）</p>
<p>保命散〔白礬（燒灰）、朱砂、馬牙硝，為末，以白鵝糞水攪取汁，塗口角與舌上。〕</p>
<p>瀉心導赤湯（木通、生地、黃連、甘草，加燈心煎服。）</p>
<p>瀉黃散（火香、山梔、石膏、防風、甘草，加燈心煎服。）</p>
<p>清熱飲（黃連、生地、木通、甘草、連翹、蓮子，加淡竹葉煎服。）</p>
<p>涼心散（青黛、硼砂、黃連、黃柏、人中白、風化硝、冰片，為末，吹之。）</p>
<p>川消散（朴硝、紫雪、鹽，為末，以竹瀝調敷舌上。）</p>
<p>和中清熱飲（黃連、半夏、陳皮、茯苓、藿香、砂仁，加薑水煎服。）</p>
<p>溫中止吐湯（白蔻、茯苓、半夏、生薑，水煎，磨沉香汁沖服。）</p>
<p>平胃散（蒼朮、陳皮、厚朴、甘草、麥芽、砂仁，加薑煎服。）</p>
<p>枳桔二陳湯（枳殼、桔梗、陳皮、製半夏、茯苓、炙甘草，加薑煎服。）</p>
<p>鉤藤飲（當歸、川芎、白芍、茯苓、茯神、勾丁、木香、甘草，加紅棗煎湯。）</p>
<p>蟬衣散（蟬衣為細末，少許，薄荷湯調下。）</p>
<p>生地黃湯（生地、赤芍、川芎、當歸、花粉、赤苓、澤瀉、豬苓、甘草、茵陳，加燈心煎服。）</p>
<p>犀角散（犀角、茵陳、栝蔞根、升麻、甘草、膽草、生地、寒水石，煎服。）</p>
<p>清熱解毒湯（生地、黃連、銀花、薄荷、連翹、赤芍、木通、甘草、燈心，水煎服。）</p>
<p>蔣氏化毒丹（犀角、黃連、桔梗、玄參、薄荷、甘草、大黃、青黛，為末，煉蜜為丸，燈心湯下。）</p>
<p>犀角解毒飲（力子、犀角、荊芥、防風、連翹、赤芍、銀花、甘草、川連、生地，加燈心煎服。）</p>
<p>藍葉散（藍葉五、黃芩、犀角、大黃、柴胡、梔子、升麻、石膏、甘草，為末，每服加竹瀝一杯。）</p>
<p>神功散（炒黃柏、生草烏，為末，用漱口水調敷。）</p>
<p>換肌消毒散（當歸、生地、赤芍、川芎、皂刺、土苓、銀花、連翹、甘草、白芷、苦參、蘚皮、防風，加燈心。）</p>
<p>當歸飲（何首烏、白蘚皮、蒺藜、甘草、當歸、生地、白芍、人參、黃　、川芎，水煎服。）</p>
<p>清涼膏（鍛石四兩，用水泡，露一宿，面上浮起如雲片者，輕輕取之，視其多少，對下香油攪成膏狀，以鵝翎搽之。）</p>
<p>鵝黃散（黃柏、石膏，研末，濕則干撲，干則豬苦膽調搽。）</p>
<p>通關散（半夏、皂角、細辛、薄荷，為末，用筆管吹入鼻內少許。）</p>
<p>清熱鎮驚湯（柴胡、薄荷、麥冬、山梔、川連、膽草、茯神、鉤藤、甘草、木通，加燈心、竹葉，調朱砂末服。）</p>
<p>安神鎮驚丸（竺黃、茯神、膽星、麥冬、赤芍、當歸、薄荷、川連、辰砂、牛黃、山梔、木通、龍骨、青黛，煉蜜為丸，淡薑湯下。）</p>
<p>至寶丹（麻黃、防風、荊芥、薄荷、當歸、赤芍、大黃、芒硝、川芎、黃芩、桔梗、連翹、白朮、梔子、石膏、甘草、滑石、全蠍、細辛、明麻、附子、川羌、僵蠶、川連、獨活、川柏，為末，蜜煉為丸，薑湯化下。）</p>
<p>牛黃丸（黑丑、白丑、膽南、枳實、法夏、牙皂、大黃，為末，蜜丸，用薑湯下。）</p>
<p>涼膈散（黃芩、大黃、連翹、芒硝、甘草、山梔、薄荷，加竹葉，生蜜煎服。）</p>
<p>羌活散（羌活、川芎、防風、薄荷、明麻、僵蠶、甘草、川連、柴胡、前胡、枳殼、桔梗，加生薑煎服。）</p>
<p>瀉青丸（膽草、山梔、大黃、羌活、防風、川芎，蜜為丸，竹葉、薄荷湯下。）</p>
<p>清熱化痰湯（橘紅、麥冬、法夏、茯苓、黃芩、竹茹、甘草、川連、桔梗、枳殼、膽星，加生薑、燈心煎服。）</p>
<p>涼驚丸（膽草、防風、青黛、鉤藤、川連、牛黃，為末，曲糊為丸，如粟米大，金器煎湯化下。）</p>
<p>琥珀抱龍丸（人參、琥珀、茯神各五錢，山藥一兩，甘草四錢，檀香三錢，竺黃、枳殼各五錢，辰砂三錢，膽星五錢，金箔二十片，煉蜜為丸，薑湯下。）</p>
<p>清心滌痰湯（竹茹、橘紅、法夏、茯苓、枳實、甘草、麥冬、棗仁、人參、菖蒲、南星、川連，加生薑煎服。）</p>
<p>醒脾湯（人參、白朮、茯苓、明麻、法夏、橘紅、全蠍、僵蠶、甘草、木香、倉米、膽南，加生薑煎服。）</p>
<p>緩肝理脾湯（桂枝、人參、茯苓、白芍、白朮、陳皮、山藥、扁豆、炙草，加煨薑、大棗。）</p>
<p>青州白丸子（生川烏、生半夏、生南星、生白附，為末，入生絹袋內，用井華水擺出粉，置瓷盆內，日晒夜露，常換新水，五六日後，晒乾，為細末，糯米粥和為丸，薄荷湯下。）</p>
<p>柴芍六君子湯（人參、白朮、茯苓、陳皮、製半夏、炙草、柴胡、白芍、鉤藤，加薑、棗煎服。）</p>
<p>溫中補脾湯（人參、白朮、茯苓、陳皮、製半夏、炙　、乾薑、附子、砂仁、肉桂、焦白芍、炙甘草、丁香，加煨薑煎服。）</p>
<p>固真湯（人參、白朮、肉桂、茯苓、山藥、炙　、甘草、附子，加薑棗煎服。）</p>
<p>定癇丹（人參三、當歸三、白芍三、茯神五、棗仁五、遠志三、琥珀三、竺黃四、白朮五、橘紅三、半夏三、天麻三、鉤丁四、炙草二，為末，煉蜜為丸，淡薑湯下，每服一丸。）</p>
<p>四制抱龍丸（竺黃五、辰砂二、膽星一、雄黃二、麝香一分五，為細末，再用麻黃、款冬花、甘草各五錢，煎湯熬成膏，合為丸，薄荷湯下，每服一丸。）</p>
<p>大青膏（明麻三、附子二、青黛一、蠍尾一、朱砂一、竺黃二、麝香三分烏蛇肉一，為末，煉蜜和膏、薄荷湯下。</p>
<p>每服大兒五分，小兒三分。）</p>
<p>鎮驚丸（茯神、麥冬、辰砂、遠志、石菖蒲、棗仁、牛黃、川連、珍珠、膽星、鉤藤、竺黃、犀角、甘草，為細末，煉蜜為丸，淡薑湯下。）</p>
<p>朱衣滾痰丸（礞石一兩、沉香五、黃芩七、大黃一兩，為末，水泛為丸，朱砂為衣，白滾水下。）</p>
<p>妙金丹（雄黃、蠍梢、朱砂、赭石、巴豆、杏仁，為末，蒸棗肉為丸，木香湯化下，三五丸。）</p>
<p>清熱和胃丸（川連、山梔、竹茹、麥冬、連翹、山楂、神麯、麥芽、陳皮、枳實、大黃、甘草，為末，煉蜜為丸，白滾湯化下。）</p>
<p>化風丹（膽南、羌活、獨活、明麻、防風、甘草、荊芥、人參、川芎，為末蜜丸，薄荷湯下。）</p>
<p>羌活桂枝湯（羌活、防風、麻黃、桂枝、明麻、大黃、甘草，加生薑煎服。）</p>
<p>牛黃丸（膽南、全蠍、蟬蛻、防風、牛黃、白附子、僵蠶、明麻、麝香，為末，煮棗肉為丸，生薑湯化服，每服三五丸。）</p>
<p>消疳理脾湯（蕪荑、三棱、莪朮、青皮、陳皮、蘆薈、檳榔、使君肉、甘草、川黃連、胡黃連、麥芽、神麯，加燈芯煎服。）</p>
<p>肥兒丸（人參、白朮、茯苓、黃連、胡黃連、使君肉、神麯、麥芽、山楂肉、炙甘草、蘆薈，為末，米糊為丸，米湯化下，每服二三十丸。）</p>
<p>參苓白朮散（人參、茯苓、白朮、扁豆、薏米、山藥、陳皮、縮砂、桔梗、甘草、蓮子，為末，米湯調服。）</p>
<p>清熱和中湯（白朮、陳皮、厚朴、赤苓、黃連、神麯、穀芽、使君子、生甘草、澤瀉，加燈心煎服。）</p>
<p>御苑勻氣散（桑皮、桔梗、赤苓、甘草、藿香、陳皮、木通，加薑皮、燈心煎服。）</p>
<p>香連導滯湯（青皮、陳皮、厚朴、川連、甘草、山楂、神麯、木香、檳榔、大黃，加燈心煎服。）</p>
<p>柴胡清肝散（柴胡、山梔、連翹、胡連、生地、赤芍、膽草、青皮、甘草，加燈心、竹葉煎服。）</p>
<p>蘆薈肥兒丸（五穀蟲、蘆薈、胡連、川連、柴胡、扁豆、山藥、山楂、蝦蟆、豆蔻、使君子、檳榔、神麯、麥芽、鶴虱、蕪荑、朱砂、麝香，為末，醋糊為丸，米飲下。）</p>
<p>加味逍遙散（茯苓、白朮、當歸、炒白芍、柴胡、薄荷、炙草、丹皮、梔子，加薑、棗煎服。）</p>
<p>抑肝扶脾湯（人參、白朮、黃連、柴胡、青皮、陳皮、芥子、膽草、山楂、神麯、炙草，加薑棗煎服。）</p>
<p>珍珠散（珍珠一、麥冬五、竺黃三、金箔二十五片、牛黃一、胡連三、甘草二、羚羊三、大黃三、當歸三、朱砂二、雄黃一、茯神五、犀角三，為末，每服五分，茵陳湯調服。）</p>
<p>茯神湯（茯神、當歸、炙草、人參、加龍眼肉煎服。煩熱者，加麥冬。）</p>
<p>消熱甘露飲（生地、麥冬、石斛、知母、石膏、枇杷葉、甘草、黃芩、茵陳，加燈心煎服。）</p>
<p>生地清肺飲（桑皮、生地、天冬、前胡、桔梗、蘇葉、防風、黃芩、甘草、當歸、連翹、赤芍，加薑、棗煎服。）</p>
<p>甘露飲（生地、熟地、天冬、麥冬、枳殼、桔梗、黃芩、枇杷葉、茵陳、石斛，加紅棗煎服。）</p>
<p>補肺飲（茯苓、阿膠、糯米、兜鈴、炙草、杏仁。）</p>
<p>金蟬丸（干蝦蟆、胡連、黃連、鶴虱、肉豆蔻、苦楝根皮、雷丸、蘆薈、蕪荑，為末，曲糊為丸，雄黃為衣，米湯下。）</p>
<p>九味地黃丸（熟地、萸肉、赤苓、澤瀉、丹皮、山藥、當歸、使君子肉、川楝，為末，煉蜜為丸，開水化服，須在食前。）</p>
<p>調元散（人參、茯苓、白朮、山藥、川芎、當歸、熟地、茯神、炙　、甘草、白芍，加薑棗煎服。）</p>
<p>鱉甲青蒿飲（柴胡、鱉甲、青蒿、甘草、生地、赤芍、胡連、知母、地骨皮，加燈心煎服。）</p>
<p>鱉甲散（人參、炙　、鱉甲、生地、熟地、當歸、白芍、地骨皮。）</p>
<p>龍膽丸（龍膽草、升麻、苦楝根皮、赤苓、防風、蘆薈、青黛、黃連、油發灰，為末，豬膽汁浸糕糊為丸，薄荷湯下。）</p>
<p>龍腦丸（龍腦、麝香、雄黃、黃連、牛黃、朱砂、蘆薈、干蝦蟆、為末。熊膽含丸，薄荷湯下。）</p>
<p>龍腦散（龍腦、麝香、蝸牛殼、蝦蟆灰、瓜蒂、黃連、細辛、桔梗，為末，入瓷器盒，用取少許，入鼻中。）</p>
<p>瀉肝散（生地、當歸、赤芍、川芎、連翹、梔子、膽草、大黃、羌活、甘草、防風，加燈心煎服。）</p>
<p>清熱退翳湯（梔子、黃連、朮賊、赤芍、生地、羚羊、膽草、柴胡、蟬蛻、甘草、菊花、蒺藜，如燈心煎服。）</p>
<p>羊肝散（青羊肝一具、人參、羌活、白朮、蛤粉，為末，以藥片鋪肝上，蒸熟隨便食之。如恐腐壞，晒乾為末，亦可白湯調下。）</p>
<p>清金散（梔子、黃芩、枇葉、生地、花粉、連翹、麥冬、薄荷、玄參、甘草、桔梗，加燈心煎服。）</p>
<p>化蟲丸（蕪荑、蘆薈、川芎、青黛、白芷、胡連、川連、蝦蟆，為末，豬膽汁浸糕為丸，杏仁湯下，每服二十丸。）</p>
<p>鼻疳散（青黛、麝香、熊膽、為末。干者，用豬骨髓調貼，濕者干上。）</p>
<p>吹鼻蟬殼散（蟬殼、青黛、蛇蛻、滑石、麝香，為末，吹入鼻中，日三次，蟲必盡出。）</p>
<p>消疳蕪荑湯（大黃、芒硝、蕪荑、蘆薈、川連、胡連、黃芩、雄黃，煎服。）</p>
<p>牙疳散（人中白、綠礬、五倍子、冰片，為細末，先洗淨牙齒，以此藥敷之。有蟲加檳榔。）</p>
<p>蘆薈丸（蘆薈、青黛、朱砂、熊膽、胡連、貫眾、地龍、川連、蟬蛻、雷丸、麝香、蝦蟆，為末，用蝸牛肉和為丸，粥飲下。）</p>
<p>金蟬散（蟾、夜明砂、桃白皮、樗根皮、地榆、黃柏、訶黎勒、百合、人參、大黃、白蕪荑、胡粉、檳榔、丁香，為末，粥飲下。）</p>
<p>使君子散（使君子、苦楝子、甘草、白蕪荑為末，水調服。）</p>
<p>下蟲丸（苦楝根皮、木香、桃仁、貫眾、蕪荑、檳榔、輕粉、鶴虱、使君子、蝦蟆，為末，曲糊為丸，開水下。）</p>
<p>柴胡飲（赤芍、柴胡、黃連、半夏、桔梗、膽草、夏枯草、浙貝、黃芩、甘草，加燈心。）</p>
<p>五疳消積丸（使君子肉、麥芽、陳皮、神麯、山楂、蕪荑、黃連、膽草。）</p>
<p>人參啟脾丸（人參、白朮、茯苓、陳皮、扁豆、山藥、木香、穀芽、神麯、炙甘草，為末，蜜為丸，蓮湯下。）</p>
<p>集聖丸（蘆薈、五靈脂、夜明砂、縮砂、木香、陳皮、莪朮、使君子、黃連、川芎、干蟾、當歸、青皮，為末，用雄豬膽汁和曲為丸，米飲下。）</p>
<p>人參丸（人參、麥冬、半夏、大黃、黃　、茯苓、柴胡、黃芩、炙草、川芎、訶黎勒、鱉甲。）</p>
<p>消乳丸（香附、神麯、麥芽、陳皮、砂仁、甘草，為末，滴水為丸，薑湯下。）</p>
<p>保和丸（山楂、神麯、茯苓、半夏、連翹、陳皮、萊菔子，為細末，曲糊為丸，麥芽湯下。）</p>
<p>三棱丸（三棱、陳皮、半夏、神麯、黃連、枳實、丁香，為末，曲和為丸，薑湯下。）</p>
<p>和胃湯（陳皮、半夏、砂仁、蒼朮、厚朴、麝香、香附、甘草、山楂、神麯，加生薑煎服。）</p>
<p>全蠍觀音散（人參三錢，炙　、扁豆、茯苓各五錢，蓮肉三錢、木香一錢半，白芷二錢，羌活三錢、防風三錢、天麻三錢，全蠍、炙草各一錢半，為末，薑棗煎湯調服。）</p>
<p>定吐丸（丁香、蠍梢、法夏，為末，煮棗肉為丸，金器煎湯化服，每次七丸。）</p>
<p>香砂六君子湯（木香、砂仁、白朮、人參、茯苓、法夏、陳皮、甘草，加薑煎服。）</p>
<p>化蟲丸（蕪荑、鶴虱、苦楝根皮、胡粉、檳榔、使君子、枯礬，為細末，曲糊為丸。）</p>
<p>加減理中湯（人參、乾薑、白朮、川椒，加烏梅一個，水煎。）</p>
<p>丁沉四君子湯（人參、白朮、茯苓、炙草、丁香、沉香，加煨薑煎服。）</p>
<p>三一承氣湯（芒硝、大黃、枳實、厚朴、甘草，加薑煎服。）</p>
<p>薑橘散（白薑二錢、陳皮一錢、炙草一錢，為末，溫棗湯調服。）</p>
<p>加味溫膽湯（陳皮、法夏、茯苓、麥冬、枳實、甘草、竹茹、黃連，加燈心煎服。）</p>
<p>保安丸（香附、砂仁、炮薑、青皮、陳皮、三棱、莪朮、炙甘草，為末，曲糊為丸，白湯化下。）</p>
<p>訶子散（訶子、肉豆蔻、白朮、人參、茯苓、木香、陳皮、炙草，為末，薑湯調服。）</p>
<p>玉露散（寒水石、石膏、甘草，為末調服。）</p>
<p>四苓湯（茯苓、白朮、豬苓、澤瀉，加燈心煎服。）</p>
<p>益脾鎮驚散（人參、白朮、茯苓、朱砂、鉤藤、甘草，為末，加燈心湯調服。）</p>
<p>養脾丸（人參、白朮、當歸、川芎、青皮、木香、黃連、陳皮、神麯、山楂、砂仁、麥芽，為末，曲糊為丸，用陳倉米飲下。）</p>
<p>和氣飲（蒼朮、紫蘇、防風、赤苓、豆豉、藿香、陳皮、厚朴、炙草，加生薑、燈心煎服。）</p>
<p>調中湯（人參、茯苓、藿香、白朮、炙草、木香、香附、砂仁，加煨薑煎服。）</p>
<p>補中益氣湯（人參、炙　、當歸、白朮、炙草、陳皮、升麻、柴胡，加薑、棗煎服。）</p>
<p>四神丸（補骨脂、五味子、肉豆蔻、吳茱萸，為末，加薑、棗煎服。）</p>
<p>胃苓湯（蒼朮、陳皮、厚朴、茯苓、炙草、肉桂、炒白朮、澤瀉、豬苓，加薑棗煎服。）</p>
<p>升陽除濕湯（蒼朮、陳皮、防風、神麯、麥芽、澤瀉、炙草、升麻、羌活、柴胡、豬苓，加薑、棗煎服。）</p>
<p>杏蘇飲（杏仁、紫蘇、前胡、桔梗、枳殼、桑皮、黃芩、甘草、麥冬、浙貝、橘紅，加生薑煎服。）</p>
<p>金沸草湯（細辛、荊芥、法夏、旋覆花、前胡、甘草、赤芍，加薑、棗煎服。）</p>
<p>九味羌活湯（蒼朮、白芷、川芎、細辛、羌活、防風、生地、黃芩、甘草，加生薑、蔥白煎服。）</p>
<p>雙解通聖湯（麻黃、朴硝、大黃、當歸、赤芍、川芎、白朮、石膏、滑石、桔梗、山梔、連翹、黃芩、薄荷、甘草、荊芥、防風，加生薑、蔥白煎服。）</p>
<p>柴葛解肌湯（葛根、柴胡、白芷、羌活、桔梗、石膏、黃芩、赤芍、甘草，加生薑、紅棗煎服。）</p>
<p>大柴胡湯（柴胡、黃芩、赤芍、法夏、枳實、大黃，加生薑、大棗煎。）</p>
<p>藿香正氣湯（藿香、蘇葉、白芷、陳皮、法夏、茯苓、腹皮、甘草、厚朴、桔梗，加生薑、紅棗煎服。）</p>
<p>天水散（滑石、甘草，為末，燈心湯調下。）</p>
<p>疏解散（羌活、蘇葉、防風、枳殼、桔梗、前胡、赤芍、杏仁、僵蠶、甘草、黃連，加薑、棗煎服。）</p>
<p>柴胡溫膽湯（柴胡、陳皮、半夏、茯苓、甘草、竹茹、枳實，加生薑煎服。）</p>
<p>荊防敗毒散（荊芥、防風、羌活、獨活、柴胡、前胡、甘草、川芎、枳殼、桔梗、茯苓，加生薑煎服。）</p>
<p>桂枝合白虎湯（桂枝、芍藥、石膏、知母、甘草、粳米，加生薑、大棗煎服。）</p>
<p>普濟消毒飲（黃芩、黃連、陳皮、桔梗、板藍根、升麻、柴胡、薄荷、連翹、力子、僵蠶、馬勃、玄參、甘草，加燈心煎服。）</p>
<p>二聖救苦丹（大黃四兩，皂角二兩，為末，水丸，無根水下。）</p>
<p>升麻葛根湯合消毒犀角飲（升麻、葛根、芍藥、甘草、力子、荊芥、防風、犀角，加無須子煎服。）</p>
<p>三黃石膏湯（黃連、黃芩、山梔、黃柏、豆豉、麻黃、石膏，加生薑、蔥煎服。）</p>
<p>消　青黛飲（石膏、知母、犀角、甘草、山梔、川連、青黛、玄參、柴胡、生地、人參、大黃，加薑、棗，又入苦酒一匙，沖服。）</p>
<p>加味人參白虎湯（人參、石膏、知母、粳米、甘草、蒼朮。）</p>
<p>二香飲（蘇葉、藿香、茯苓、扁豆、厚朴、陳皮、法夏、甘草、腹皮、白芷、桔梗、川連、香薷，加生薑、燈心煎服。）</p>
<p>六合湯（人參、香薷、法夏、甘草、砂仁、木瓜、茯苓、藿香、杏仁、厚朴、扁豆，加薑、棗煎服。）</p>
<p>加味香薷飲（香薷、厚朴、陳皮、扁豆、山楂、豬苓、甘草、枳實。）</p>
<p>又加味香薷飲（香薷、黃連、扁豆、厚朴、羌活，加燈心。）</p>
<p>清暑益氣湯（人參、黃　、當歸、白朮、炙草、陳皮、麥冬、青皮、蒼朮、五味、黃柏、升麻、葛根、澤瀉、神麯，加薑、棗煎服。）</p>
<p>辰砂益元散（辰砂、滑石、甘草，加薑、燈心湯，合抱龍丸調服。）</p>
<p>抱龍丸（黑膽南、竺黃、雄黃、辰砂、麝香，為末，煮甘草膏為丸，溫水化下。）</p>
<p>桂苓甘露飲（白朮、茯苓、澤瀉、豬苓、肉桂、石膏、滑石、寒水石。）</p>
<p>真人養臟湯（人參、白朮、木香、當歸、白芍、肉桂、甘草、罌粟殼、訶子肉、肉果，加烏梅煎服。）</p>
<p>當歸芍藥湯（當歸、白芍、木香、黃芩、黃連、肉桂、大黃、甘草、檳榔。）</p>
<p>香連丸（木香、黃連，為末，醋為丸，米湯下。）</p>
<p>白頭翁湯（黃連、白頭翁、黃柏、秦皮。）</p>
<p>倉廩湯散（人參、茯苓、獨活、桔梗、前胡、川芎、甘草、枳殼、倉米、柴胡、羌活，加薑煎服。）</p>
<p>參連開噤散（人參、川連、蓮子肉，為末，米飲下。）</p>
<p>麻黃羌活湯（麻黃、羌活、防風、甘草，加薑煎服。）</p>
<p>桂枝羌活湯（羌活、防風、桂枝、甘草，加薑煎服。）</p>
<p>柴平湯（陳皮、薑夏、蒼朮、厚朴、黃芩、柴胡、甘草、人參，加薑、棗煎服。）</p>
<p>加減清脾飲（柴胡、黃芩、薑製夏、炙草、厚朴、青皮、檳榔、茯苓、草果、人參、白朮、橘紅、蒼朮，加薑煎服。）</p>
<p>聖惠橘皮散（人參、貝母、蘇葉、陳皮、桔梗、杏仁，加棗煎服。）</p>
<p>補肺阿膠散（人參、阿膠、杏仁、糯米、牛蒡子、甘草、馬兜鈴。）</p>
<p>加味瀉白散（桑皮、地骨皮、甘草、川貝、麥冬、知母、桔梗、黃芩、薄荷。）</p>
<p>曲麥二陳湯（陳皮、制夏、茯苓、甘草、黃連、山楂、麥芽、神麯、栝蔞、枳實，加薑、棗煎服。）</p>
<p>蘇葶滾痰丸（蘇子、葶藶、大黃、沉香、黃芩、青礞石，為末丸，薑湯下。）</p>
<p>參蘇飲（蘇葉、干葛、前胡、陳皮、制夏、甘草、枳殼、桔梗、茯苓。）</p>
<p>加味華蓋散（麻黃、杏仁、蘇子、前胡、橘紅、甘草、桑皮、桔梗、赤苓，煎好溫服。）</p>
<p>涼膈白虎湯（大黃、朴硝、甘草、連翹、山梔、黃芩、薄荷、石膏、知母。）</p>
<p>知柏地黃丸（干生地、茱萸、山藥、知母、黃柏、丹皮、澤瀉、茯苓。）</p>
<p>潔古黃　湯（人參、炙　、甘草、地骨皮、桑白皮。）</p>
<p>百合固金湯（百合、天門冬、麥冬、生地、熟地、當歸、白芍、甘草、貝母、玄參、桔梗。）</p>
<p>本事黃　湯（五味、白芍藥、天冬、麥冬、人參、黃　、熟地、甘草、茯苓。）</p>
<p>紫蘇飲子（蘇葉、杏仁、桑皮、陳皮、青皮、法夏、人參、五味子、甘草、麻黃，加薑煎服。）</p>
<p>蘇子降氣湯（蘇子、當歸、陳皮、法夏、甘草、前胡、厚朴、桂心、沉香，加薑、棗煎服。）</p>
<p>蘇葶丸（南蘇子、葶藶子，為末，蒸棗肉為丸，淡薑湯下。）</p>
<p>五虎湯（炙麻黃、炒杏仁、甘草、石膏、細茶，加薑煎服。）</p>
<p>桂苓甘術湯（茯苓、桂枝、甘草、白朮，加薑煎服。）</p>
<p>清氣化痰丸（膽星、半夏、橘紅、枳實、杏仁、栝蔞、黃芩、茯苓，為末、薑汁為丸，薑湯下。）</p>
<p>烏頭桂枝湯（桂枝、赤芍、炙草、烏頭，加薑煎服。）</p>
<p>金茱丸（金鈴子肉、吳茱萸，為末，酒煮為丸，鹽湯下。）</p>
<p>烏頭梔子湯（烏頭、梔子，用順流水入薑汁煎服。）</p>
<p>十味蒼柏散（青皮、附子、黃柏、山楂、蒼朮、香附、益智、延胡索、桃仁、甘草，加茴香。）</p>
<p>金鈴散（三棱、莪朮、陳皮、赤苓、茴香、甘草、檳榔、枳殼、鉤藤、青皮、木香、金鈴子，除檳榔、木香外，余焙為末，灰酒調服。）</p>
<p>川楝丸（木香、檳榔、三棱、莪朮、青皮、陳皮、川楝、芫花、辣桂、牽牛、巴豆，為末，曲糊為丸，薑湯下。）</p>
<p>疏風五苓散（防風、蒼朮、肉桂、羌活、豬苓、澤瀉、赤芍、白朮，加薑煎服。）</p>
<p>加味五苓散（金鈴子、白朮、澤瀉、木通、茴香、赤芍、橘核、肉桂、檳榔、豬苓、加薑，燈心煎。）</p>
<p>加味守效丸（南星、楂肉、蒼朮、白芷、制夏、橘核、神麯、海藻、昆布、吳萸、青皮、延胡索、荔枝核，為末，糊為丸，空心酒下。）</p>
<p>加味香蘇散（蒼朮、陳皮、川楝肉、甘草、蘇葉、香附，加帶須蔥白、酒兌煎服。）</p>
<p>加味失笑散（五靈脂、蒲黃、延胡索，為末，水酒調下。）</p>
<p>胡蘆巴丸（胡蘆巴、川楝子、川烏、巴戟肉、茴香、牽牛、吳茱萸，為末，酒曲糊為丸，空心溫酒下。）</p>
<p>五苓散（白朮、澤瀉、豬苓、肉桂、小茴香、赤苓。）</p>
<p>十味導赤湯（生地、山梔、木通、瞿麥、淡竹葉、滑石、茵陳蒿、黃芩、甘草、豬苓。）</p>
<p>葵子散（桑皮、瞿麥、梔子、赤苓、木通、車前、甘草、葵子。）</p>
<p>小薊飲子（通草、滑石、淡竹葉、當歸、小薊、山梔、甘草、生地、蒲黃、藕節，水煎空心服。）</p>
<p>五淋散（當歸、赤芍、葶藶、黃芩、木通、梔子、滑石、葵子、車前子、淡竹葉、甘草、赤苓，加蔥白煎服。）</p>
<p>清空膏（羌活、防風、柴胡、川芎、黃芩、黃連、甘草，加生薑煎服。痛加細辛，便閉加大黃。）</p>
<p>加味茶調散（荊芥、薄荷、黃芩、青茶葉、石膏、白芷、川芎，加生薑煎服。便秘加大黃。）</p>
<p>小承氣湯（大黃、枳實，厚朴，加生薑煎服。）</p>
<p>香砂平胃散（蒼朮、陳皮、厚朴、炙草、砂仁、香附、山楂、神麯、麥芽、枳殼、白芍，加生薑煎服。）</p>
<p>錢氏安蟲散（胡粉、鶴虱、白礬、川楝子，每服五分，飲湯調服。）</p>
<p>藿香和中湯（藿香、砂仁、羌活、蒼朮、陳皮、厚朴、甘草、山楂、香附、白芷、蘇葉、川芎，加薑煎服。）</p>
<p>茵陳麻黃湯（茵陳蒿、麻黃加酒少許服之。）</p>
<p>茵陳蒿湯（茵陳蒿、川大黃、梔子，加燈心煎服。）</p>
<p>茵陳五苓散（茵陳蒿、赤苓、豬苓、澤瀉、白朮、肉桂，加燈心煎服。）</p>
<p>茵陳四逆湯（制附子、茵陳蒿、乾薑、炙甘草。）</p>
<p>越婢湯（麻黃、石膏、甘草、蒼朮，煎服。）</p>
<p>貼臍法〔巴豆四錢（去油），水銀粉二錢，硫黃一錢，研勻成餅，先用新棉一片，包藥布臍上，外用帛縛，待惡水瀉下三五次，去藥，以粥補之為佳。〕</p>
<p>沉香琥珀丸（葶藶、郁李仁、防己、沉香、陳皮、琥珀、杏仁、蘇子、赤苓、澤瀉，為末，蜜為丸，麝香為衣，開水下。）</p>
<p>疏鑿飲（商陸、秦艽、羌活、椒目、木通、赤小豆、腹皮、茯苓皮、澤瀉、檳榔，加薑皮煎服。）</p>
<p>茯苓導水湯（紫蘇、陳皮、白朮、木香、桑皮、麥冬、赤苓、澤瀉、木瓜、腹皮、砂仁、檳榔，加燈心煎服。）</p>
<p>舟車神　丸（甘遂、芫花、大戟、大黃、黑牽牛、青皮、陳皮、木香、檳榔、輕粉，為末，開水下，量兒大小服之。）</p>
<p>大聖　川散（大黃、牽牛、郁李仁、木香、芒硝、甘遂，為末，薑湯調下。）</p>
<p>實脾散（草果、腹皮、木瓜、木香、厚朴、乾薑、附子、白朮、茯苓、甘草，加棗煎服。）</p>
<p>金匱腎氣丸（熟地、山藥、茱萸、牡丹皮、茯苓、澤瀉、肉桂、淡附子、車前子、牛膝，為末，蜜為丸，開水下，每服一錢半。）</p>
<p>香朴四君子湯（人參、白朮、茯苓、甘草、香附、厚朴，加生薑煎服。）</p>
<p>加味平胃散（蒼朮、厚朴、腹皮、甘草、陳皮、山楂、萊菔子、麥芽、神麯，加生薑煎服。）</p>
<p>十神湯（升麻、葛根、麻黃、香附、陳皮、蘇葉、芍藥、川芎、白芷、甘草，加生薑煎服。）</p>
<p>調胃承氣湯（大黃、芒硝、甘草，加生薑煎服。）</p>
<p>白虎湯（　石膏、知母、甘草、粳米。）</p>
<p>黃連解毒湯（黃芩、黃連、梔子、黃柏，煎服。）</p>
<p>竹葉石膏湯（竹葉、　石膏、人參、麥冬，甘草、制夏、粳米，加生薑煎服。）</p>
<p>白通湯（乾薑、附子，蔥煎服。）</p>
<p>木香大安丸（木香、黃連、陳皮、白朮、枳實、楂肉、連翹、神麯、麥芽、砂仁、萊菔子，為末，曲糊為丸，陳倉米湯下。）</p>
<p>千金消癖丸（蘆薈、阿魏、青黛、木香、厚朴、檳榔、陳皮、甘草、使君子、胡黃連、楂肉、香附、三棱、莪朮、水紅花子、神麯、麥芽、人參、白朮、茯苓，為末，和曲為丸，米飲下。）</p>
<p>木香丸（木香、莪朮、砂仁、青皮、朱砂，為末，曲糊為丸。乳傷，乳飲下；食傷，以所傷物熬湯下。）</p>
<p>紅花膏（沒藥、血竭、麝香、阿魏、當歸、赤芍、水紅花料，以水紅花熬膏，再和各藥，以布攤貼患處。）</p>
<p>玉屏風散（炙　、炒白朮、防風，煎服。）</p>
<p>桂枝加附子湯（白芍、桂枝、炙草、附子，加薑、棗煎服。）</p>
<p>酸棗仁湯（當歸、白芍、生地、茯苓、酸棗、知母、黃柏、五味子、人參、黃　，煎服。）</p>
<p>當歸六黃湯（當歸、生地、熟地、黃芩、黃柏、黃連、炙　，加浮小麥煎服。）</p>
<p>麻黃湯（麻黃、杏仁、桂枝、甘草，加薑煎服。）</p>
<p>犀角地黃湯（丹皮、白芍、犀角、生地，煎服。便硬者加大黃。）</p>
<p>四物三黃瀉心湯（川芎、當歸、生地、赤芍、黃芩、黃連、大黃。）</p>
<p>桃仁承氣湯（桃仁、大黃、芒硝、甘草、桂枝，加當歸、芍藥、蘇木、紅花。）</p>
<p>加味四物湯（當歸、芍藥、川芎、地黃、茅根、蒲黃、丹皮、山梔、甘草，加藕節，酒煎服。）</p>
<p>雞蘇散〔雞蘇、薄荷葉、川貝、麥冬、桔梗、阿膠（蛤粉炒）、生地、甘草、炙　、白茅根、蒲黃，共煎服。〕</p>
<p>加味救肺散（麥冬、人參、川芎、鬱金、五味子、當歸、白芍、川貝、炙草、馬兜鈴。）</p>
<p>皂刺大黃湯（皂刺、生大黃，量兒大小虛實，酌加酒煎。）</p>
<p>槐花散（炒槐花、枳殼、川連、側柏葉、炒荊芥。）</p>
<p>平胃地榆湯（陳皮、厚朴、甘草、炒蒼朮、地榆。）</p>
<p>升陽和血湯（炙　、當歸、丹皮、陳皮、肉桂、秦艽、生地、熟地、炒白芍、甘草、炙草、炒蒼朮、升麻。）</p>
<p>人參養榮湯（人參、炙　、炒白朮、茯苓、炒白芍、肉桂、熟地、當歸、炙草、陳皮，加薑、棗煎服。）</p>
<p>牛膝四物湯（牛膝、木通、鬱金、瞿麥、當歸、甘草梢、川芎、生地、赤芍。）</p>
<p>神芎丸（大黃、滑石、薄荷、川芎、黃芩、川連、牽牛，為末，滴水為丸，蜜湯化下。）</p>
<p>澀腸散（訶子、赤石脂、　龍骨，為末，用蠟茶調敷，和藥滲腸頭上，綿帛揉入。）</p>
<p>曾氏蟠龍散（干地蟠龍、風化朴硝，研細，以二錢至三錢塗肛門。如肛門燥者，用清油調之。再加荊芥、生蔥，煎水，溫浴後敷藥。）</p>
<p>寬氣飲（炒杏仁、炒桑皮、橘紅、炒蘇子、枳殼、炙杷葉、麥冬、甘草、葶藶。）</p>
<p>百合丹（百合、天冬、炒杏仁、木通、炒桑皮、葶藶、石膏、大黃，為末，蜜為丸，開水下，量兒大小酌服。）</p>
<p>松蕊丹（松花、麩炒枳殼、防風、獨活、麻黃、前胡、大黃、桂心，為末，煉蜜為丸，粥飲下。）</p>
<p>補腎地黃丸（熟地黃、山萸肉、懷山藥、茯苓、丹皮、澤瀉、牛膝、鹿茸，為末，蜜為丸，鹽湯下，每服二錢。）</p>
<p>扶元散（人參、炒白朮、茯苓、熟地、茯神、炙　、炒山藥、炙草、當歸、白芍、川芎、石菖蒲，加薑、棗煎服。）</p>
<p>小續命湯（人參、麻黃、川芎、黃芩、芍藥、炙草、防風、官桂、附子、炒杏仁、防己，加薑、棗煎服。）</p>
<p>烏藥順氣散（麻黃、白芷、川芎、桔梗、炒枳殼、炒僵蠶、烏藥、炮薑、甘草、橘紅，加蔥白煎服。）</p>
<p>加味六君子湯（人參、白朮、炮薑、陳皮、半夏、茯苓、炙草、升麻、柴胡、醋炒肉桂。）</p>
<p>加味六味地黃丸（熟地、山萸肉、炒山藥、茯苓、澤瀉、丹皮、鹿茸、麝香、五加皮，為末，蜜為丸，鹽湯下，每服一錢至二錢。）</p>
<p>苣勝丹（當歸、生地、白芍、苣勝子、胡粉，研勻，煉蜜為丸，黑豆湯下。）</p>
<p>菖蒲丸（人參、石菖蒲、麥冬、遠志、川芎、當歸、乳香、朱砂，為末，白蜜為丸，米湯下。）</p>
<p>大防風湯（人參、白朮、茯苓、炙草、熟地、當歸、炒白芍、川芎、炙　、羌活、防風、附子、杜仲、牛膝，加薑煎服。）</p>
<p>封囟散（柏子仁、防風、天南星，為末，以豬膽汁調攤，用綿帛貼裹，一日一換，時時以湯潤動，不得令干。）</p>
<p>烏附膏（雄黃、川烏、附子，為末，用生蔥和根葉搗爛入藥，作膏，每早空心貼陷處。）</p>
<p>大連翹飲（柴胡、荊芥、連翹、木通、滑石、梔子、蟬蛻、瞿麥、當歸、赤芍、黃芩、甘草，防風。）</p>
<p>防風升麻湯（麥冬、木通、甘草、山梔、升麻、防風，和淡竹葉煎服。）</p>
