<header data-type="book">
<h1>喉科秘訣</h1>
</header>
<h2>並言</h2>
<p>破頭黃真人者，不知何許人，所傳《喉科秘訣》一書世鮮能知，而宮、薑、周三先生者，亦不可得而聞焉。余家四世業醫，先代有游惠陽者，有游閩嶠者，足跡所及，交游頗廣，留傳醫籍，大都先賢遺著。茲所檢得抄本一帙，亦屬罕見之作。晚近喉科之書，如鄭梅澗先生《重樓玉鑰》，張善吾先生《白喉捷要良方》，楊龍九先生《囊秘喉書》，吳氏之《咽喉二十四症歌訣》，張氏之《咽喉七十二症圖說》，曹炳章先生之《喉痧證治要略》，張若霞先生之《通俗咽喉科學》，於喉科症治，類多闡發，然得真人之孤本而讀之，則擷精摘粹，別具深心，要語不煩，切於實用，洵為初學之入門，而喉科所資，為能考者也。是烏可任其湮沒而不彰歟？爰亟校錄一冊，郵寄醫社裘公吉生，俾刊傳於世，公之天下，並此數言，聊志顛末云爾。</p>
<p><u>時中華民國十有一年八月十八日大埔何光約明謹書於南洋檳榔嶼大山腳杏和堂醫寓</u></p>
<h2>卷上</h2>
<p>喉科大要，須辨內外二因及明五行生克。如外感六淫之邪，痰火上壅而為病。內傷飲食煎炒，熱傷肺胃及房勞傷腎，鬱怒傷肝。其中五臟生克，如金克木，則宣其肺，當補其肝，木得和而病即安。木克土，則宣其肺，當補其脾，土得安而病自愈。土克水，則宣其脾，當補其腎，水得潤而病自已。水克火，當滋其腎，而養其心，火得暖而病自痊。火克金，當瀉其心，而補其肺，金得潤而病自除。故病有淺深實虛，必究其因而治之。爰定神、聖、功、巧四字，隨證化裁可也。</p>
<h3>神字號玉華散</h3>
<p>專治咽喉三十六症，一切鵝腫並用之。</p>
<p>血竭（三錢）　白礬（一兩）　芒硝（一兩）　乳香（五錢）　沒藥（五錢）　硼砂（五錢）</p>
<p>雄黃（三錢）　麝香（一分）　冰片（五分）</p>
<p>共為細末，秤過，每兩加入膽礬一分，俱系生用，不須制。</p>
<p>歌曰：血雄三錢麝一分，五錢乳沒硼砂同，礬硝一兩一分膽，片腦細末用五分。</p>
<h3>聖字號通利散</h3>
<p>治毒瓦斯秘結，大便不通，原名敗黃散，有泄者當忌之。</p>
<p>白礬（五錢）　芒硝（三錢）　雄黃（三錢）　巴豆（一錢，去殼，淨油）</p>
<p>共為細末，看病淺深，一遍或用三匙調和，溫服。取其通利大便二三次，看患者虛實用之。或煉蜜為丸，如龍眼大，調溫湯下，取泄立效。</p>
<p>歌曰：敗黃巴豆散，油殼去一錢，雄硝三錢足，礬是半兩間，煉蜜為丸用，通利病即痊。</p>
<h3>功字號積雪膏</h3>
<p>量病輕重，用前神藥末，加入膽礬五分。若出膿，加入熊膽一錢。若病患沉重，喉竅俱塞，可入一錢；輕者可用二三分。若病患心煩顛倒，口出鬼言，可入朱砂五分，竹茹五分即安寢。</p>
<h3>巧字號定風針</h3>
<p>巧者，取針去血，並無亂刺，當針則針，不當針則止。遵范九思之針灸法，看病深淺如何，隨證變通為巧。若淺者、虛者，偶然針愈，不知針之毒，隨或反害者有之。宜針不宜針，可自斟酌為之。鵝瘡有黃白者，頭上可針破，敷神藥末捕膿。血出者，不可亂刺，不用神藥末，用真喉末可也。</p>
<p>一病者，如喉中忽然生單鵝或雙鵝，多起於睡醒覺，之或起了二三日，微礙，遇熱而觸動，即時礙氣難吞，牙關緊合不開，將神藥末一匙挑入牙關內，左右俱用藥二遍，痰即開。</p>
<p>一刻間，再吹神藥末，含得為水。先遍咽下含。次遍為水，口吐撒，再用藥三遍方可。看內病如何。若瘡形紅腫，只用神藥末吹之自消。如潮熱憎寒不退，急用通利散三匙瀉之，用連翹消毒飲數服。不拘時候，時時服之，敗其毒也。</p>
<p><u>連翹消毒飲</u></p>
<p>連翹（一錢）　升麻（五分）　防風（五分）　荊芥（四分）　僵蠶（一錢）　全蠍（四分）</p>
<p>牛蒡（五分）　白芷（七分）　黃柏（一錢）　黃連（一錢）　桔梗（五分）　薄荷（五分）</p>
<p>甘草（五分）</p>
<p>水二碗煎服。（炳章按：如舌尖赤，喉間赤或紫，午後疼痛增劇，便燥結，雖有身熱，宜辛涼橫開，如升、防、僵、蒡、白芷皆在禁例。）有熱加柴胡（炳按：柴胡宜改桑葉）七分，黃芩七分。有痛不止要加　乳香（三分）　沒藥（三分）。小便不通加木通七分，車前子七分。有痰盛者加半夏七分，栝蔞七分。</p>
<p>一病喉內生鵝，煩熱憎寒，內如粟殼，黃　瘡連爛口舌，即用神藥末吹鵝中，此是毒風之極。然亦無妨。只須五六日，遲退痊矣。脈浮洪者，宜用敗毒散服之。若脈沉實，用敗黃通利散三匙。脈浮洪或沉有力，俱無害。</p>
<p><u>敗毒散</u></p>
<p>牛蒡（七分）　荊芥（五分）　元參（一錢）　赤芍（五分）　柴胡（五分）　桔梗（一錢）</p>
<p>甘草（五分）　白芷（五分）（炳按：柴胡、桔梗、白芷，辛溫升提，皆宜慎用）</p>
<p>若毒盛加升麻（五分），葛根（五分）。有潮熱者，加苦參根（五分），黃芩、黃連、防風（各五分）</p>
<p>。若腹脹悶亂，發熱秘結，加大黃（二錢），芒硝（一錢）同煎。利三五遍，即止。余不拘服。</p>
<p>一病舌下另生一舌，如蓮花者，名為蓮花舌，又名重舌，又名木舌。舌大長硬，俱用神藥末點之。若沉重者，頻頻擦舌，及教病患自己咬住舌，露舌在牙外，看真，用三棱針針去四五路血後，點神藥末擦舌為妙。又有紫筋二條，針開出血，用神藥末吹之。（炳章按：此症皆由肝腎虧，心火旺，宜服滋營養液湯劑，效更速。）又用米醋半碗，調真喉末含之，吐出再含，以消為度。</p>
<p><u>真人吹喉散</u></p>
<p>硼砂（一錢）　寒水石（七分）　雄黃（五分）　上冰片（六厘）</p>
<p>共研細末，收貯聽用。若喉疳臭爛，加地雞一分，（即水缸下地蜱子，瓦上焙枯。）麝香（五厘），牛黃（七厘）。</p>
<p>一病崩砂漏齒風，亦有潮熱。只用神藥末加蜜蒸過，調塗含咽，津滿口，吐撒。用防風、荊芥、白芷三味，煎水，洗淨用藥，擦牙關即活。又將舌洗去毒。此病不妨。如有牙邊紅肉生出來，去硝礬二味，加入膽礬一錢，同用神效。亦用敗毒散，或食，或洗，俱用無患。如有腹滿、腹緊，亦用通利散。若不敢通，只用連翹消毒飲服之。若孕婦，用神藥末，勿吞，只可口含，吐出來。入麝香，吞無忌。</p>
<p>一病牙關，內生有肉，遮過牙，口又難開，卻用神藥末挑放牙上，開其牙竅，然後用針剔破其肉，即用神藥末敷破處即愈。再看牙關內，有紅筋一條，入牙關，不能開，用瓦刀割斷其根，待血出，再用神藥末吹之。</p>
<p>一病喉風，連年起一二次不斷。其根原者，用范九思之針灸法，男左女右，在大指本節後一寸，用艾灸三壯，即斷其根。此穴不可輕用，慎之慎之。</p>
<p>光按：神藥末，即神字號玉華散。真喉末，即真人吹喉散。</p>
<p>周詩先生曰：夫咽喉者，乃五氣呼吸之門戶，五味輸納之道路也。蓋咽者，咽也，咽納水也。喉者，候也，候氣之出入也。有風、積、痰、虛四字所傷，病由此生，而輕重可較焉。夫氣之出入，有順有逆，外有六淫時氣之邪，內有七情飲食之傷，其中又有虛實。故內因七情過度，則主不能安而神勞，神勞則相火動，火動痰生則氣鬱。而火變痰於咽嗌，單鵝、雙鵝、梅核諸症蜂起，乘外感之邪熱觸動而作矣。學人可認證候，方法施治，以期得效。三十六種，名雖不同，四字之說，甚為便當。若不識其症，妄施藥餌，輕變為重，實難救療。且咽喉系危急之症，不可輕忽，可用心救人，陰　非輕。當取則取，不當取者，可以行陰　，天必佑之。</p>
<h3>附風熱喉辨方</h3>
<p>風熱喉初起，牙關強閉，頭面則腫，咽津則礙，憎寒壯熱，屬肝膽之經，生發頂鵝，雙單鵝，每日宜用真喉末吹二三次，每次三匙，內服瀉肝通聖散一劑，以瀉為度。如不瀉，連進幾次，用消風活血湯數劑，若瀉後，對時不寬，急用三棱針刺去鵝頂毒血，只三五針。隨後又點藥末。若喉緊急，即以針刺毋待，次日活法行之，此乃肝膽經症。牙關閉疼，壅盛而死，或改用皮硝散急吹用之。</p>
<p><u>瀉肝通聖散</u></p>
<p>歸尾（四分）　黃芩（七分）　僵蠶（五分）　赤芍（五分）　桔梗（一錢）　甘草（五分）　石膏（二錢）　大黃（生二錢，熟二錢）　芒硝（一錢）　枳殼（七分）　黃柏（七分）　升麻（三分）　葛根（四分）　防風（四分）　荊芥（四分）　膽草（四分）　生薑（一片）</p>
<p>水一碗煎七分，空心溫服，令瀉為度。如不瀉，再進本藥一劑，後方服消風涼血湯。（炳章按：此證去升、葛、桔、防、生薑加鮮大青、丹皮、桑葉、銀翹等，則效更捷）。</p>
<p><u>消風涼血湯</u></p>
<p>白芍（七分）　黃芩（一錢五分）　鮮生地（二錢）　桔梗（一錢）　荊芥（五分）　防風（六分）　梔子（五分）　僵蠶（四分）　黃柏（七分）　黃連（三分）　甘草（三分）　歸尾（五分）　花粉（六分）</p>
<p>銀花（五分）　山豆根（五分）　升麻（三分）　薄荷（三分）　生薑（一片）</p>
<p>水二碗，煎七分，空心服。（炳章按：升、防、桔、生薑，喉症皆當慎用）</p>
<p><u>千金皮硝散</u></p>
<p>　風痰盛者必用此方。</p>
<p>皮硝（一兩，用鐵挑，炙過，以干為度）　砂仁（二錢，去皮膜）　海螵蛸（二錢，去淨粗殼）　硼砂（生一錢，　五分）　雄黃（一錢五分）　朱砂（一錢五分）　冰片（二分）　直僵蠶（八分）　麝香（五厘）　鬱金（五分）　白礬（一錢六分，生　各半。）</p>
<h3>附積熱喉辨方</h3>
<p>積熱喉初起，多有夜半睡覺，咽津礙氣，牙關強而不開，鼻氣覺有些燒，痰涎壅黏，壯熱多，憎寒少。此症屬心經三焦之火，生發頂，雙單鵝亦宜。每日吹真喉末二三次，每次三匙，出痰多效。內用瀉心通聖散一劑，次用清膈涼血湯數劑。若瀉心通聖散服後大瀉，不用多服。若無多瀉，再進本藥一劑，方可吹藥。一日不寬，急用三棱針刺去鵝頂毒血，三五針。</p>
<p>吹喉藥，點之毋得遲延。日久自潰爛變成牙疳，雖不至死，臭惡半年不愈。故當速治。又恐延遲日久，兼胃虛之人，毒攻心胃，可謂快殺。此宜深察趨行，勿怠也。</p>
<p><u>瀉心通聖散</u></p>
<p>黃連（一錢）　犀角（五分）　梔子（五分）　桔梗（八分）　甘草（三分）　枳殼（五分）　黃芩（一錢）　升麻（四分）　葛根（五分）　生地（五分）　白芍（五分）　石膏（一錢五分）　大黃（生一錢，熟二錢）　芒硝（一錢五分）　歸尾（五分）　麻黃（五分）　生薑（一片）</p>
<p>水二碗，煎八分，空心服。令瀉為度。若無瀉，再進一服，後服清膈活血湯。（炳章按：此證多得心經實熱與時氣風火為症，升、葛、麻、薑、梗等溫升，皆忌，宜加辛涼散風藥為要。）</p>
<p><u>清膈活血湯</u></p>
<p>黃連（一錢）　麥冬（二錢）　連翹（一錢）　梔子（五分）　石膏（一錢）　桔梗（八分）　黃芩（一錢）　甘草（三分）　歸尾（五分）　升麻（三分）</p>
<p>水二碗，煎七分，溫服。（炳章按：升、桔宜換為桑葉、丹皮、紫花地丁草、鮮大青等更佳。）</p>
<h3>附痰熱喉辨方</h3>
<p>痰熱喉初起，不常有。痰黏，咽吐津，咽乾，得茶湯潤而出之。無觸不患，過適口熱物，飲食過傷，火動擊搏，致令不清，而成喉痛。痰涎大多，亦略憎寒壯熱，生發頂雙單鵝。症屬肺胃之經，每日宜用真喉末吹二三次，內服消痰降火湯數劑。大便秘結用通利散三匙溫服，然後服消痰降火湯。若熱盛，用防風通聖散一劑，亦可隨症用之。</p>
<p><u>消痰降火湯</u></p>
<p>花粉（二錢）　元參（三錢）　白芍（一錢）　枯芩（一錢）　桔梗（一錢）　甘草（五分）　山豆根（五分）　半夏（五分）　白茯苓（一錢）　知母（一錢）　桑皮（一錢）　黃連（五分）</p>
<p>水二碗，煎七分，空心服，後用敗黃通利散瀉之。</p>
<p><u>防風通聖散</u></p>
<p>　治一切初發喉風。先服一二劑，取通利為度。後用消風活血解毒湯。若虛喉，不可服。宜照虛喉方治之。</p>
<p>桔梗（二錢）　防風（一錢）　荊芥（五分）　枯芩（一錢）　連翹（五分）　石膏（二錢）　大黃（三錢，看人虛實加減）　朴硝（一錢）　甘草（三分）　薄荷（五分）　白芍（五分）</p>
<p>水煎，空心服。服後以泄為度。不泄，再服一劑，泄後再服後方。</p>
<p><u>消風活血解毒湯</u></p>
<p>鮮生地（一錢）　銀花（五分）　干葛（五分）　防風（五分）　荊芥（五分）　升麻（三分）　連翹（一錢）　枳實（八分）　歸尾（五分）　赤芍（一錢）　桔梗（一錢）　山豆根（五分）　黃芩（一錢）</p>
<p>梔子（四分）　苦參根（五分，炳章按：升燥切不妄用，前批忝閱。）</p>
<p>水二碗，煎八分，不拘服，要溫服，多服無妨。</p>
<h3>附虛熱喉辨方</h3>
<p>虛熱喉初起，其勢不急，微微緩緩，咽津覺得干燥，吞氣些礙，無鵝無腫，滿喉或紅或紫，此乃命門相火上衝為害，症屬腎水枯竭，命門相火煎急腎陰，不能降之。故虛火沖喉，微礙痛，不惡寒，獨怕熱。不宜吊藥，恐損津液，無益反損。只宜含生津潤肺丸，緩咽下，並服滋陰降火湯數劑為善，不宜針吊吹藥。</p>
<p><u>滋陰降火湯</u></p>
<p>生地（二錢）　元參（二錢）　天冬（二錢）　白芍（一錢）　麥冬（二錢）　鹽柏（一錢）　桔梗（一錢）　枯芩（一錢）　梔子（七分）　甘草（三分）　知母（一錢）　山豆根（五分）　丹皮（一錢）</p>
<p>澤瀉（一錢）　薄荷（五分，自汗不用）</p>
<p>水二碗，煎八分，空心服。（炳章按：腎虛陰火上炎之症，宜導熱歸下，如景岳玉女煎加元參等最好。方內桔梗升提，載藥上行，為最忌。）</p>
<p><u>生津潤肺丸</u></p>
<p>硼砂（三錢，生　各半）　寒水石（二錢）　山豆根（二錢）　五味子（一錢）　甘草（二錢）　枯芩（二錢）　烏梅（一錢）　薄荷（三錢）</p>
<p>上冰片二分，共研細末，蜜為丸，如龍眼大，含化，咽下，生津降火。</p>
<h3>附針灸須知</h3>
<p>百會穴一針。前頂穴一針，亦用三針。後頂穴一針，亦用三針。頰車穴一針，亦用三針。</p>
<p>左右俱針亦可。風池穴一針，男左女右。少商穴一針。合谷穴一針，列缺穴一針。曲池穴一針。俱男左女右。</p>
<p><a href="_files/p05-c24a1.bmp">中指定同身寸用為上肢之尺度圖</a></p>
<p>光按：百會居頭之正中。前頂在百會前一寸五分。後頂在百會後一寸五分。頰車在耳之下。風池在發際之陷凹中，即頸後二大筋下部之外端。少商在拇指內側爪甲根。合谷在食指與拇指基底部中間之陷凹處，孕婦禁忌。曲池在肘外輔骨之陷中，屈肘向胸，則適當其橫紋端。列缺在手之內面，離腕之橫紋一寸半。</p>
<p>凡臨諸症，先從少商、合谷、列缺、曲池，以男左女右，各依針法刺之。若病重者，先從前頂、百會、後頂、風池、頰車諸穴針之，開通周身經絡，使風熱結邪得以消散，而血氣流行。佐以奇藥內治，自易收效。若針路無血，則風熱壅盛，受邪深重，多致不救。</p>
<p>凡下針，用左手大指甲重切所針之穴，令氣血開。教病者心專於內，不可外馳，然後下針，使針不傷榮衛。</p>
<p>凡用針，至穴孔，中病之處急出針。即以左手大指急按所針穴孔，勿令出血，是謂補法。若起針時，緩緩拔出，不用手按其針孔，令其出血，是謂瀉法。大抵實症可瀉，虛症宜補，或先瀉後補，隨症用之。</p>
<p>喉風用針灸法，雖能斷根，永不再發。然亦有不戒煎炒熱毒之物，以致一二年後復發一次，不可不知。故針後宜戒口，以免後患。未用針時，喉內先將散風藥末吹之，然後用針。</p>
<p>針後必將藥末封針口處。如吹藥後，針之不退，再用吊藥吹之。</p>
<p><u>散風藥方</u></p>
<p>　吹喉並封針口用。</p>
<p>全蠍（六分，用水洗淨，去頭足，童便制，秤足）　草烏（一錢，去蘆制）　薄荷（一錢五分）</p>
<p>三味為末。另用乳缽細擂極細末和入千金皮硝散（一錢），加入冰片（一分），麝香（五厘）。</p>
<p><u>吊藥方</u></p>
<p>鵝腿草（即剪刀鉸根）　山大黃（即水推沙根）　野南星（即石蒜頭）</p>
<p>三味共磨水，吞下即吐。膈中之痰，吐中有發散之義。發散則出汗，故風從汗出。</p>
<p>光按：鵝腿草之名，本草未載。疑即鵝抱，待考。近年《衛生公報》發明天名精一物，以治喉痹腫痛，確有吐痰之妙。前賢李時珍，亦稱其功效。山大黃，本草名酸模，味酸寒，殺蟲治疥。野南星，即石蒜，味辛溫，本草稱其取吐，取汗頗良。</p>
<h3>附志</h3>
<p>是書破頭黃真人傳授。宮蘭翁、薑白石又傳與周詩先生。周先生傳與女婿林杏。吾再傳黃春台，三傳李元禎云。</p>
<h2>卷下</h2>
<p>上卷發明四字，乃喉科總訣，活法在人。茲將重要喉風二十二症，名目證治，臚列如後。</p>
<h3>單鵝風</h3>
<p>其風在喉內，一邊作核，經二三日，寒熱，不能吞咽。先服防風消毒散一二劑，如不退，用針針至無血，即安針。用毫豬箭消毒散，即遇有餘症，皆可服。或用鹽草根，即鹽糟　，或用矮荷根，即涼傘樹，含之皆治。（炳章按：此症必有鬱火積痰，如羌、防、升麻、桔梗、川芎、半夏皆忌，宜避用。當加元參、川貝、昆布、海藻等味，以軟堅化痰為安。）</p>
<h3>雙鵝風</h3>
<p>其風在喉內，兩邊作核，吞咽不下，風熱煩悶，口乾，用鹽草根、矮荷根及生膽礬含之立效。（炳章按：亦須內服養陰清肺湯等劑。）</p>
<h3>單口風</h3>
<p>其風在喉內，腫滿，卻又不甚。有血筋三四路，如棉絲相似，令人口乾，煩悶。此症宜有涎。先用膽礬點之，內服石膏湯清胃火也。</p>
<h3>松子風</h3>
<p>其症在喉內，生肉鱗四五個，或在喉嚨兩邊，或在舌上，如松子一樣，不能吞咽。先吹神藥末，數次後，針其血。若生六七個，不治。</p>
<h3>搭頰風</h3>
<p>其風在右邊，面腫，牙關緊急，不能飲食，頭痛寒熱。可用針法，並吹金銀二消丹（即金鎖匙、銀鎖匙），此症難愈。（炳章按：宜內服散風消腫，豁痰清火之劑。）</p>
<h3>外鎖風</h3>
<p>其風在耳邊，近頂，生核至頸上，其核赤腫，兩路交通喉下，身發寒熱。用藥吐之即愈。</p>
<p>鵝腿草及山大黃、野南星根最良。三味共擂，吞之即吐。此症不甚為患。（炳章按：此症亦宜內服消痰軟堅清熱之品。）</p>
<h3>斗底風</h3>
<p>其風初發，必生寒熱，喉門兩旁有三五紅點者是。胸前有青筋，兩路橫過，或有紅筋直下，可將針針其筋頭，令血出，以神藥末救之。其症十無兩愈。</p>
<h3>木舌風</h3>
<p>其風舌硬赤腫，不思飲食，重者不能言語，口乾。用神藥末一次，再用巴豆三生散，點舌筋頭即愈。若不愈，令病患咬定舌尖，出於齒外，用針刺去瘀血，又點巴豆三生散，待對時自消。內服黃連解毒湯，涼藥宜溫服之，切忌冷服。恐上熱未消，中寒復生，中州一寒，不能升降陰陽，使痰隨氣騰，反足殺身。</p>
<h3>重舌風</h3>
<p>其風舌有兩層，赤腫不能言語，用針刺舌下兩旁赤筋，去血，將神藥末點舌筋頭上。若不消，日日針之，又不愈，復用神藥末點之。不然，恐滿舌下而穿，即成久病，乃為廢人，內宜服消風散。瀉心脾藥須多用。</p>
<p>又方治重舌風，腮腫不能言語，痰盛熱極，急用蕉心水二大碗，和童便二大碗，徐徐咽下，立即見效。</p>
<h3>蓮花舌</h3>
<p>其風初發，寒熱，舌下如蓮花一層，治法同前重舌方。</p>
<h3>牙蜞風</h3>
<p>其風牙根赤腫，如蜞相似，牙關緊急。紅腫處，當牙縫中針去瘀血，用神藥末吹之即愈。（炳章按：宜兼用內服藥如銀、翹、薄荷、桑葉、僵蠶、元參、川貝等味。）</p>
<h3>雙纏風</h3>
<p>其風初起，耳下一邊腫大，或兩邊腫，連頸下俱腫痛，身作寒熱。此因風熱上攻，外用膽酥丸，磨熱酒敷之，每日三次，忌風，不然尤腫。或用山慈姑磨酸醋敷之亦可。內服防風通聖散一二劑後，服連翹消毒飲，每日吊痰藥四次，使其速消為上。不然遲延日久，則成漏腮。輕者側穿，重者中穿，即見喉管，多致不救。（炳章按：此症防風、葛根、桔梗終宜慎用。）</p>
<h3>驢嘴風</h3>
<p>其風口唇赤腫，如火燒相似，潮熱煩悶，先用消風活血涼肌湯洗之，待有黃頂處，用針針之，必結於唇上，如頸後及面赤，內服連翹消毒飲、大防風散之屬。又，將烏狗血敷之神效。（炳章按：雖有風、痰、熱、毒，亦重溫升發散，亦不宜過用。）</p>
<h3>稔食風</h3>
<p>其風口中咽內，忽有血泡，礙人不得咽氣，如欲嘔之狀。刺穿去血少寬。結後喉中作痛，可用真喉末調老醋和童便清水含之，口內痰涎宜吐出，不可誤吞，其含出之毒血有誤吞者，必心中疼痛不止或變成血蛇，游行臟腑，內貫入心。須用連翹飲、防風消毒散治之。如不退，再用蜜糖和醋，燉熱吞之即下。又不退，用婦人頭發一團，　枯放地下，退火氣，黃酒沖服即愈。倘口中血泡無甚脹礙，不欲吐者，不可刺破，但戒口而已。（炳章按：此症宜涼散，忌辛溫升發。）</p>
<h3>飛鵝風</h3>
<p>飛鵝風，一名飛楊風，一名飛絲風。其症痛如被骨哽樣，後心中作痛，口乾不能吞咽，多因飲食過度積毒而成。可服連翹飲加蘿卜汁及金薄丸、防風消毒飲治之，吹真喉末即愈。</p>
<h3>懸疳風</h3>
<p>懸疳風，亦名喉疳。其症牙匡邊生細瘡，傳染滿口。若吞其瘡汁入喉，其瘡染入喉間，難治必死可速用砒棗散。信石五分，入棗肉內，　存性，為末。搽擦患處數次，吐出毒涎立愈。內服連翹飲、防風消毒散治之。（炳章按：藥劑宜入清火、化痰，如川柏、元參、川貝、　人中白等味。）</p>
<h3>楓葉風</h3>
<p>楓葉風，一名松葉風，其症喉內腫痛，如一葉塞住，下藥不得，聲音不出，寒熱交攻，坐臥不安，行步流涎不止，症極難治。每日吹藥三次，一連三日，內服前上卷內通利散導熱下行，使咽喉如葉塞者寬開後，急用連翹飲數劑即愈。（炳章按：溫升總宜避去。）</p>
<h3>漏腮風</h3>
<p>其風初起，皆由牙蜞、牙癰、腫風失於調理，以致潰而成膿。毒無所出，勢不容已，逼膿血外穿變成此症。又或服涼藥過多，冰血大過，毒血不能發散，恐損牙齒，爛見牙骨者有之，亦難治也。可用活血消風湯洗去臭惡，內眼消毒散，吹真喉末即愈。</p>
<h3>大喉風</h3>
<p>少商穴一針，男左女右，有血者生，無血者死。若針不愈，令病患眠著，捉住他頭發，頸上一踏。再不效，用水藥方。用膽星（五分），枯礬（五分），蒲黃（五分）。若紅用明雄黃，白加硼砂，黑加血竭。（炳章按：紅用雄黃太燥，不妥。黑多不治。）</p>
<h3>帝中風</h3>
<p>用大梅片拌醋，以筋點之。或用膽礬拌水點之。若痰涎多，用醋拌水含之，涎出自愈。</p>
<h3>爛喉風</h3>
<p>有赤白二症，脈忌沉伏。赤喉風用輕粉，不用雄黃；白喉風用雄黃，不用輕粉。方列如後。</p>
<p>雄黃（二分）　輕粉（五厘）　青黛（一錢）　乳香（七分）　沒藥（七分）　寒水石（一錢）　黃連（一錢）　硼砂（二錢）　血竭（五分）　大梅片（三分）　薄荷葉（一錢）　珍珠（三分）　麝香（三分）</p>
<h3>大水風</h3>
<p>大水風，又名崩砂風，牙縫疼痛，臭爛出血，用後藥點之。</p>
<p>巴豆（一兩）　白礬（四錢）　膽礬（三錢）　蓖麻子肉（一兩）</p>
<p>四味制法，用瓷器缽一個，先下白礬於缽內，置爐火上溶化成泡。次下膽礬，待溶解，再下巴豆仁，蓖麻肉。待油出，有煙起，用紙三五張，水濕蓋之，五七次。待四圍紙干，覆於地上，露天三五夜，除去火毒，收貯聽用。治法用鹽梅肉為丸，如梧子大。用棉絲裹竹，挾丸蘸醋及藥末少許，點患處。口涎流出即愈。制藥忌銅鐵器。（炳章按：此藥力霸，點多起炎腫發。虛火症切不可用，實火症亦須慎用，或藥用少。否則反有害。）</p>
<p>前列諸症，或明其部位形狀，或載其針治方法。外此尚有未曾詳解者，舉一以例其余也。學人臨證審察之。</p>
<p>光按：龍嘴風，即魚口風之變症。生在上唇，驢嘴風生在下唇。牙　風，即搜牙風，在牙床上高處。牙癰風，生在牙床下低處。大水風，由陽明胃經瘀、濕、風、火致成齒　、齒齲等症，甚則變成骨槽風、爛喉風，即咽瘡風，有紅白二症。鎖喉風即　喉風。漏腮風即穿頷風。</p>
<p>裹牙風即角架風。單口風即單燕口。楓葉風即魚鱗風。稔食風即奪食風。外鎖風即掩頸風。雷頭風即瘰　風。耳癰風即肥株子風。暗中風即落架風。或證同名異，或名異音同。參考《重樓玉鑰》，玩索而有得焉。</p>
<h3>附：壞症須知</h3>
<p>喉內生風莫待遲，胸中氣急主傾危，更加心脅如刀刺，妻子親朋定別離。大便小便如秘結，病患魂魄去如飛，此是醫家真妙訣，預將生死報君知。病患眼直口開時，氣出無收手散垂，若見此形宜速退，休貪名利自狐疑。誤針魚口翻唇惡，不日黃泉路上歸，症遇此般凶險候，盧扁再世亦難醫。</p>
<p><u>防風消毒散</u></p>
<p>防風（七分）　枯芩（一錢）　薄荷（五分）　羌活（五分）　升麻（五分）　天花粉（一錢）　桔梗（一錢）　半夏（五分）　川芎（五分）　荊芥（五分）　甘草（三分）</p>
<p>水煎服。</p>
<p><u>石膏湯</u></p>
<p>石膏（一兩）　知母（三錢）　甘草（一錢）　元參（五錢）　花粉（三錢）</p>
<p>水煎服。</p>
<p><u>金鎖匙</u></p>
<p>雄黃（一錢五分）　牛黃（三分）　白礬（二分）　朴硝（一錢五分）　僵蠶（三分）　硼砂（三分）</p>
<p>老竺黃（一錢五分）　珍珠（五分）　麝香（三分）　牙皂角（二分）　乳香（二分）　血竭（一分）</p>
<p>共為細末，吹喉立效。</p>
<p><u>銀鎖匙</u></p>
<p>老竺黃（五分）　白礬（三分）　硼砂（一錢）　麝香（五厘）　牙皂角（一分）　冰片（五厘）</p>
<p>共為細末，吹喉一二次立效。</p>
<p><u>玉鎖匙</u></p>
<p>珍珠（二分）　朴硝（三分）　兒茶（二分）　冰片（五厘）　僵蠶（三分）　牙皂角（三分）</p>
<p>共為細末，吹喉三四次，立效。</p>
<p><u>鐵鎖匙</u></p>
<p>　牙皂角一條，入精巴豆仁二三粒，黃泥封固，　存性，入麝香少許為末，薄荷湯送下。治噤喉風有效。</p>
<p><u>冰硼散</u></p>
<p>　治咽喉口齒，新舊腫痛，痰火聲啞等症。</p>
<p>冰片（五分）　硼砂（五分）　朱砂（五分）　玄明粉（五分）　甘草粉（五分）</p>
<p>共研細末，吹搽患處，甚者五六次效。</p>
<p><u>巴豆三生四熟散</u></p>
<p>　治木舌神效。</p>
<p>鬱金（三錢，醋製）　草烏（三錢，薑製）　巴豆（七粒，燒過三生四熟）　明雄黃（一錢）</p>
<p>四味共為末，點舌筋頭，不可多用，切勿吞下。</p>
<p><u>開關散</u></p>
<p>　巴豆搗碎，用粗紙捶去油，塞鼻孔內，男左女右，即效。（炳章按：須用薄綿裹，塞鼻，否則起　發炎腫。）</p>
<p>又方蒜頭、薄荷、躑躅、鵝不食草共為末，擦牙關上即開。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃柏　黃芩　梔子各等分，水煎服。</p>
<p><u>蟾酥丸</u></p>
<p>蟾酥（二錢）　輕粉（五分）　枯礬（一錢）　寒水石（一錢）　銅青（一錢）　乳香（一錢）　沒藥（一錢）　膽礬（一錢）　麝香（一錢）　明雄黃（二錢）　朱砂（二錢）　血竭（一錢）　蝸牛（二十只）</p>
<p>各藥研為細末，於五月五日午時，在淨室，先將蝸牛研爛，和蟾酥再研，稠黏方入各藥末。共搗極勻為丸。如綠豆大，每服三丸，用蔥白五寸，患者自嚼爛吐於手心，男左女右，包藥丸於蔥內。用無灰酒一鐘送下，被蓋取汗。如人行五六裡之久，立效。甚者，再一服。修合時，忌見婦人、雞、犬等物。</p>
<p><u>防風通聖散</u></p>
<p>方見卷上。</p>
<p><u>消風活血解毒湯</u></p>
<p>方見卷上。</p>
<p><u>連翹消毒飲</u></p>
<p>連翹（一錢）　桔梗（一錢）　枯芩（二錢）　防風（八分）　干葛（二錢）　甘草（三分）　白芷（五分）　枳殼（五分）　半夏（五分）　升麻（三分）</p>
<p>水煎服。</p>
<p><u>大防風散</u></p>
<p>防風　本　赤芍　薄荷　連翹　僵蠶　全蠍　枯芩　甘草　蟬蛻　羌活各等分，加生薑一片，水煎服。</p>
<p><u>金薄丸</u></p>
<p>防風（五錢）　天麻（五錢）　薄荷（五錢）　甘草（五錢）　荊芥（五錢）　南星（五錢）　白附子（五錢）　硼砂（五錢）　茯苓（五錢）　全蠍（五錢）　稻禾（五錢）　冰片（五厘）　麝香（五厘）</p>
<p>共為細末，用櫪打糊為丸，如梧子大。每服三丸，嚼碎茶送下。</p>
<p><u>千金丸</u></p>
<p>西硼砂（　四分，生二分）　寒水石（一錢五分）　冰片（一分）　明雄黃（四錢）　牛黃（五分）</p>
<p>麝香（五分）　地蜱（七只炒焦黃色，存性）</p>
<p>共研細末，米糊為丸，收貯封固聽用。每用一分，重則用二分，吹喉立效。</p>
<p><u>三黃丸</u></p>
<p>大黃　黃連　黃芩　山豆根各等分，加入冰片少許，共為細末，和熟青魚膽為丸，如綠豆大，每服三五丸。</p>
<p><u>外鎖風方</u></p>
<p>　狗點米根並葉（即佛耳草）和鹽糟　搗爛，煨熱，敷患處，連貼三服，即時消散。</p>
<p><u>鎖喉風方</u></p>
<p>防風（一錢）　桔梗（一錢）　連翹（一錢）　苦參（一錢）　牛蒡（一錢）　黃連（五分）　元參（一錢）　柴胡（五分）　荊芥（七分）　山梔（一錢）　黃芩（一錢）　歸尾（五分）　升麻（五分）</p>
<p>酒軍（七分）</p>
<p>水煎服。</p>
<p><u>清熱如聖散</u></p>
<p>治口舌爛，或舌下腫大有核，破出黃痰，既愈而復發者。</p>
<p>花粉（六分）　山梔（六分）　薄荷（五分）　荊芥（五分）　黃連（八分）　甘草（五分）　連翹（一錢）　牛蒡（八分）　桔梗（一錢）　柴胡（五分）　黃芩（八分）　燈心（十節）</p>
<p>水一碗半，煎七分服，服後忌魚腥濃味。</p>
<p><u>無花散</u></p>
<p>花粉（一錢）　薄荷（一錢）　干葛（一錢）　防風（一錢）　僵蠶（一錢）　朱砂（一錢）　老竺黃（一錢）　黃連（一錢）　甘草（一錢）　鬱金（一錢）　硼砂（一錢）　冰片（一分）　麝香（五厘）</p>
<p>共為細末，薄荷燈心湯調服，含之亦妙。</p>
<p><u>喉風齒痛方</u></p>
<p>　有風痰可用，屢試屢驗，不可吞，取涎吐出。</p>
<p>銀朱（一錢）　冰片（一分）　生硼砂（六分）　苦參（二錢）　僵蠶（五分）</p>
<p>共為細末，吹入患處，並服吊藥，疾涎出即愈。</p>
<p><u>七寶吹喉散</u></p>
<p>僵蠶（十條）　牙皂角（一條）　全蠍（十只）　明雄黃（一錢）　硼砂（一錢）　膽礬（二分）</p>
<p>明礬（一錢）</p>
<p>共研細末，吹喉。</p>
<p><u>綠袍散方</u></p>
<p>青黛　川黃柏　人中白　寒水石　明白礬各等分煎服。</p>
<p><u>赴宴散方</u></p>
<p>　治舌痛，口爛，鼻爛等症。</p>
<p>黃連（一錢）　川黃柏（一錢）　生硼砂（一錢）　寒水石（一錢，生用）　北細辛（五分）　青黛（五分）　膽礬（五分，生用）　人中白（五分，　）　生梔子（五分）　五倍子（五分，炒）</p>
<p>共為末，收貯聽用。遇口熱，吹入含化，吞下無妨。如十分熱，含有涎出，再含。</p>
