<header data-type="book">
<h1>馤塘醫話</h1>
</header>
<h2>正文</h2>
<p>余年十七，患瘧幾及半年，通議公恐其勞心，不令讀經史，習詩文。因授以醫書數種，令於，固病者所宜習也。受而讀之，頗有會心。未幾先慈勞嗽，百治不痊。次年棄養，痛天命之不留，憾時醫之無識，因是愈加研究，徒以舉業相牽，終未深造，迨三十外，間為人治病，輒應手取效。或他醫誤治已危者，亦多挽救。然久而愈不敢自信也，蓋醫之為道，廣大精微，實無涯　。淺者見淺，深者見深，嘗博采諸家之說，參以管見，著述數卷，悉遭兵火，蕩焉無遺。偶錄數條，苦於無書可征，幸精於斯道者賜教焉。</p>
<p>手足十二經脈，配合陰陽表裡，猶河圖洛書之數，出於天然。蓋五腑屬陽，五臟屬陰，手太陽為小腸丙火，陽明為大腸庚金，足太陽為膀胱壬水，陽明為胃戊土，少陽為膽甲木，此五臟也。手太陰為肺辛金，少陰為心丁火，足太陰為脾己土，少陰為腎癸水，厥陰為肝乙木，此五藏也。手少陽三焦，厥陰心包，雖無所主，實與足經之肝膽相通，乃知腎與膀胱為表裡，與心小腸固相通也。脾與胃為表裡，與肺大腸亦相通也。手足之氣，上下相應，有如此者，昔人乃云，傷寒傳足不傳手，真瞽說也十二脈相為表裡，分發十干，人皆知之。而不知合五行者，亦應八卦，肺屬金，應乎乾天。</p>
<p>屬火，應乎離，離主南方，心居中宮，離之象也。腎屬水，應乎坎，坎主北方，腎居系闕，坎之象也。是故肺金喜涼潤，脾土應溫燥，治肺病者，欲其下通乎脾，無取過潤。治脾病者，欲其上通乎肺，無取過燥，有子母相生之義焉，則地天交泰象也。心火宜下降，腎水宜上滋。治心病者，欲其下交乎腎，勿使上炎。治腎病者，欲其上交乎心，勿使下竭，有嬰　相依之義焉，則水火既濟象也。善治者，必令相資相濟；不善治者，每至相克相傷。深於易理若夫肝膽屬木，應乎震巽；膽陽主震，先於離位，故膽能生火。肝陰居巽，巽木屬風，故肝能生風。治肝膽病較難著手，仍不外從脾肺心腎四經治之。</p>
<p>東垣專重脾胃，有十二經脾胃病之說。縱橫博辨，自成一家。但自乾嘉之交，至於今日，天下男婦多患肝氣病，隨人賦稟之陰陽寒熱各有所受，其症變幻百出，醫家率無把握，余即謂脾胃病之變相，而要不能以東垣法治之者也。夫脾胃為後天根本，人皆藉以生養，豈能為他經作祟，其病皆肝為之耳。肝為五臟之長，而屬木，一有病，則先克脾胃之土。脾胃受克，無所生施，而諸經之病蜂起矣。約略數之，則有如胸腹脹滿，左脅牽痛上連頭頂眉棱等處，易驚易怒，煩躁不寐，寒熱往來，晡後潮熱，喘促燥渴，乾咳痰嗽，吞酸嘔吐，小便淋閉，大便或硬或溏而瀉，吐血遺精，腰膝酸疼，皮毛洒淅，肌膚枯瘦，筋骨拘攣各症，分屬十二經，而一一皆系肝氣之所變也。余著有《肝氣論》一帙，似較之東垣《脾胃論》，更為確當。</p>
<p>肝經血多氣少，而病曰肝氣。氣者火也，經云：火生於木，禍發必克。肝經屬木，木鬱則火熾，惟其鬱而為火，故能遍擾諸經，而四體百骸，皆受其病。蓋肝氣上炎而心火生，木克土而胃火生，木強反制金而肺火生。肝腎同源，腎有相火，君火不明，則相火失位，而腎火亦生。《內經》所謂諸病皆屬於火，丹溪所謂氣有餘便是火者，此也。但火亦不止一端，果系有餘之火，則知、柏、丹、梔，甚至蘆薈、龍膽草，皆可用之。如屬虛火，則當以補為瀉，甚或用桂、附熱劑，引火歸元，而火症自愈也。</p>
<p>世人每謂肝系五臟之賊，宜瀉不宜補，因有平肝伐肝之說，不知肝木屬春，生生之氣，如無此氣，人何以生，豈可伐乎？善乎經曰：木鬱達之。達之哉，木喜條達，遂其條達之性，而生機自暢，則肝得所而不為病矣。故善治肝者，不專治肝也。大抵陽虛者，中氣不足，宜補脾以培其土，土強而肝木無所侵凌。陰虛者，下元必虧，宜補腎以益其水，水足而肝木得所滋養。如此則肝患自息，諸症悉平，古人所謂隔二隔三治法，蓋如此。</p>
<p>補中土者，四君子湯、補中益氣湯之類；補腎水者，六味地黃湯、大補陰丸之類。要莫善於《局方》之逍遙散，用柴胡、薄荷，溫散肝木，以達其郁，而加以歸、芍滋陰，甘、朮助陽，茯苓利濕，煨薑和中，兼脾腎心肺而治之，實為肝病第一良方。有他症者，以意消息，自無不效。近見《續名醫類案》中，創制一方，用沙參、麥冬、生地、歸身、杞子、川楝子六味，出入加減，名一貫煎，自矜為治肝妙劑，此等和平之品，雖無大害，而斷不足以治病，婦人以血為主，薛立齋良方治婦科，專以肝脾兩經為主，以肝藏血，脾統血故也。立方多用肝經一病，則月事不調，艱於產育，氣滯血燥，浸成勞瘵。婦科之症，強半由此，則逍遙散最為要藥，隨症加減，自無不宜。</p>
<p>《易經》損卦象辭曰：懲忿窒欲。忿、欲二字，致損之本，不惟損德，亦且損身。蓋忿則心火上炎。欲則腎水下竭，此受病之由，即取死之道也。慎疾之君子，當切戒之！能懲能窒，勝於服藥百顆，又何患於肝病耶？參、　、白朮，陽分藥也，而古人多以之治血，陽生則陰藉以長也。地黃、歸、芍，陰分藥攝，必隨之而涸。陰虛者，陽無所依附，亦隨之而亡。故治陽盛陰衰之人，但補其陰，毋伐其陽。治陰盛陽衰之人，但補其陽，毋虧其陰。總不可執於一偏，而使臟氣有偏勝耳。(毋伐其陽，謂補陰劑中兼用氣分藥。毋虧其陰，謂補陽劑中兼用陰分藥。)體質強盛之人，不易受邪，故常無病。病發必重，治之者，切勿因循輕視。體質羸弱之人，最易感邪，故常有病。病發則輕，治之者，不可過用重劑，宜隨其人之本質而異其方法，然亦須察看其症而斟酌之，未可執泥，以致誤人。</p>
<p>凡氣虛表弱之人，夏則易受暑熱，冬則易受風寒，稍有不謹，則頭痛身熱。咳嗽喘渴之症，相隨而作。古人云：服藥當在未病之先。宜於夏至前後，每日服生脈散，人參、麥冬、五味各等分。冬至前後，每日服玉屏風散，炙黃　、防風、白朮各等分。此二方藥只三味，而扶正氣以固表，不使感受外邪，最為得力。然尤須恪遵月令，禁嗜欲，薄滋味，以培其元，則邪自無從而入，不可徒恃藥力也。若自覺已受微邪，則此二方亦不可服。以五味收斂，白朮虛人感冒，本系輕症，不必服藥。但當避風寒，節飲食，靜養數日，或汗或下，自能解散而浸至不救，世間此種抱屈而斃者極多。而在當貴之家，及少年人為尤甚。余數十年來，所見所聞，不可勝計，真堪悼嘆！愿病者與治病者，各各慎之，毋負鄙人之婆心苦口也。</p>
<p>何謂誤投藥餌？如病在表，而攻其裡，則乘虛而邪必陷；邪在裡而散其表，則泄陽而氣愈傷；邪在上焦而用中焦藥，則反致中滿而作脹；邪在中焦而用下焦藥，則引入陰分而難痊。其尤甚者，本系內傷，微感時邪，症似傷寒，而服麻、桂、羌、防，重虛其表；本系外感兼傷中氣，症似勞怯，而服參、朮、地黃，重錮其邪。此等治法，愈醫愈劇，即遇明眼人，改弦易轍，別用良方，而受困多日，已瀕於死矣。</p>
<p>余嘗著《肝氣論》，調內傷發熱，用逍遙散主之。外感寒熱，用小柴胡湯去參主之。隨症加減，無不立愈。乃又有人謂柴胡一味，極易殺人。吁！何其固也？張景岳治受邪，有正柴胡飲，及一柴胡、二柴胡、三柴胡、四柴胡、五柴胡等方，具見《新方八陣》。如柴胡果能殺人，不應奉以為主，而加入各經藥味。但用不得法，能貽誤致斃，或亦有人。則參、　、歸地，以及本草書中常用之品，無不皆然。如世俗所謂桂枝下咽，陽盛即斃，承氣入腹，陰盛即咳嗽吐血，未必成癆也，服知柏、四物之藥不止，則癆成矣。胸滿不快，未必成脹也，服山。面目浮腫，小便閉澀，未必成水也，服木通、澤瀉之藥不止，則水成矣。此論本趙養葵，確有見解。但舍卻知、柏、楂、曲、青、枳、通、瀉諸品，從何治病？患在無補氣藥以統領之耳！前四症，皆由正氣先虧所致，宜以參、　、薑、朮之類參之，而後治嗽、治脹、治噎、治水之味，得奏其功。將所指斥者，無不可用，此亦治肝病者，所宜知也。趙氏所論諸藥，猶屬品味和平，不甚峻厲者。要之治病，猶治民也，用寬用猛，各適其宜。得宜，則刑罰亦可稱祥；不得宜，則禮藥適滋作弊。用藥猶用兵也，兵以殺賊，非以擾民。善用之，則干戈實啟太平，不善用之，則將帥皆堪召亂。故凡用藥以病為主，果所當用，即如黃硝、巴豆之導滯，莪朮、三棱之破氣，甘遂、大戟、芫蕘、商陸之行水，亦未嘗不敢效如神。又當中病即止，不可過劑，過則生災，醫者烏可以不慎哉！專用攻瀉消導，而無補藥以制之，固有弊矣。近人喜補惡瀉，亦有遇病專用補劑，而不知治其病者，究之邪氣不除，則正氣不復，濁氣不降，則清氣不升，勢必愈補愈傷，而其弊有不可勝言者矣！且即如虛損症，亦各有受病之所由來，或寒或風，或濕或火，其類不一，宜一一清理消除，而後血氣和平，自能復元無恙。否則即日服參、　，非徒無益，而又害之也。</p>
<p>古人治氣分之病，如四磨飲、四七湯、丁香柿蒂湯、橘皮竹茹湯，皆用參。治血分之病，如續命湯，治寒之理中湯、四逆湯、吳茱萸湯，治暑之清暑益氣湯，治濕之中滿分消湯，治燥之麥門冬湯、瓊玉膏，治火之升陽散火湯、蓮子清心飲，亦無不用參。以及祛痰消積之劑，用參、朮者尤多。且仲景著《傷寒論》，為醫家立方之祖，而治六經病，用參者幾居其半，益可知扶正之即以驅邪也，然此豈時醫之所識哉！《內經》云：木鬱達之，言當條達也；火鬱發之，言當發散也；土鬱奪之，言當攻導也；金鬱折之，言當制伏也；水鬱泄之，言當泄瀉也。此五句實治百病之總綱。除水火兩端而外，木鬱所以治風，土鬱所以治食，金鬱所以治氣。而其治法，又有正治從治。隔一隔二，上取下取之不同。神而明之，變化無方，不可人之不足，由虛而損，由損而勞，由勞而極。損有五：一損肺，皮毛槁落；二損心，血液衰少；三損脾，飲食不為肌膚；四損肝，筋緩不收；五損腎，骨痿不起。勞有五：一勞形，二勞氣，三勞思，四勞精，五勞神。極有六：一氣極，二血極，三精極，四肌極，五筋極，六骨極。又有七傷：過飽傷脾，盛怒傷肝，憂思傷心，強力傷腎，寒冷傷肺，風雨寒暑傷形，哀樂恐懼傷神。凡患此者，修德為上，制藥次之，治心為上，治身次之。</p>
<p>五運六氣論，分別年歲。如太陽寒水司天，太陰濕土在泉之類。又有四時八節主氣客氣等說，何氣受邪，似有定例。而按之每年時症，實不相符。蓋天時有寒暑燥濕之不同，而人之受病因之。人性有陰陽強弱之不同，而病之變症因之。此非可以執一論也。</p>
<p>讀仲景書而不讀東垣書，知外感發熱，而不知內傷之亦有發熱，則殺人多矣。讀東垣書而不讀丹溪書，知陽虛發熱，而不知陰虛之尤易發熱，則殺人多矣。讀丹溪書而不讀景岳書，知氣有餘便是火，只宜滋陰，而不知氣不足即是寒，尤當扶陽，則殺人亦多矣。仲景每用麻、桂黃、硝，而東垣易以參、　、升、柴，此外感與內傷之辨也。丹溪專用知、柏、歸、地，而景岳易以參、附、薑、桂，此補陰與補陽之辨也。此相反而實以相成，皆不可以偏廢者也。</p>
<p>然泥於景岳補陽之說，而陽亢陰消，亦復不無後患。又當參用河間、丹溪之法以濟之，則醫之為道，庶乎備矣。是在善學人之會而通之耳。</p>
<p>大凡太極之理，分為陰陽。故立法不能無所偏，而流極即不能無所弊。其大者如殷周之質文，齊魯之強弱，洛蜀之主客，朱陸之異同，遺患且流及數世以後，而要惟醫道之偏，其害為尤甚。蓋惟仲景之書，系箸超超，無法不備。此外各名醫有偏長處，亦有偏短處，故不能無弊。然諸說俱在，良方甚多，參而用之，取其長而去其短，救其弊而補其偏，則生乎其後者仲景書名曰《傷寒》，而實兼六淫治法在內，後人得其一訣，便可出奇無窮。如《千金》以以桂枝羌活湯、麻黃防風湯，分有汗無汗，治瘧疾之類，不可枚舉。陶節庵出而盡變其法，別制其方，不復分經論治，實為長沙叛臣。後人畏難就易，故多祖述節庵。然亦開無數變化法門，且如再造散，用參、　、桂、附。同羌、防、細辛，治陽虛不能作汗，實為東垣、丹溪、景岳之所自出，要亦從仲景法中變化而來。</p>
<p>近人吳鞠通著《溫病條辨》。發明四時之病，傷寒少而溫病多。如春曰風溫，夏曰濕溫，曰暑濕，秋曰伏暑，曰秋燥，冬曰冬溫，其症多從手太陰肺經受病(按此即邪從上焦入，說見下條。)與傷寒邪從足太陽入者迥異。忌大汗大下，多用加減銀翹散之類。此與明季吳又可著《溫疫論》，謂疫邪率在膜原，專用達原飲及重劑大黃，俱為一得之論。間亦中病，而未自仲景以來，論治病者，皆知宜分表裡。謂足太陽膀胱，為表中之表，足陽明胃為表中之裡，足少陽膽為半表半裡，自是而三陰脾腎肝皆為裡，幾成千古不易之論矣。</p>
<p>本朝葉天士治病，獨於表裡之外，必分三焦，實為發前人所未發。肺為上焦，心脾為中焦，裡，由外而內，如天之有緯度也。人之三焦，由下而下，如天之有經度也。一縱一橫，交相為用，不可偏廢。且風寒中人，多從毛竅人之一身，陰陽而已矣。陰陽所分，營衛而已矣。營衛所主，血氣而已矣。血屬陰，氣屬陽，血屬營，氣屬衛，人人共知。因謂氣欲其升，不欲其降，血欲其降，不欲其升。然氣下陷，則為泄為脫；而氣上衝，則為喘為呃；血上涌，則為吐為衄；而血下泄，則為崩為漏，皆病也。故參、　補氣，皆取升提，而必輔以補陰之藥，則升中有降。歸、地補陰，皆取潤下，而必輔以補陽之藥，則降中有升。</p>
<p>凡用藥，甘以和中，苦以燥濕，酸以收斂，辛以發散，咸以軟堅，淡以滲泄，此正治也。寒因寒用，熱因熱用，通因通用，塞因塞用，此從治也。虛則補其母，又曰子能令母實；實則瀉其子，又曰子能盜母氣，因相生而兼相為用，此常法也。脾病平肝，肝病壯脾，腎病清心，心病滋腎，此隔二治法也，肝病益肺(左金湯之類)，脾胃病暖腎，或助命門火，此隔三治世人以張、李、劉、朱四家並稱，皆以張為仲景。竊思仲景系東漢時人，所立方論，悉本《素》、《靈》。實百代醫家之祖，豈三子所能肩隨者，後閱陸定圃學博雜識，謂仲景不在四家之列，張應指張子和，乃與東垣、河間、丹溪相伯仲，其治法亦各明一義，卓然成家，此論甚允，實獲我心，因亟錄之。</p>
<p>補氣藥多溫而少涼，補血藥多涼而少溫，此陰陽之所分也。然肺主出氣，腎主納氣，氣虛之，非所以助正氣也。陽生則陰生，氣壯則攝血。血虛之人，有宜扶陽補氣者，溫藥亦所宜用，而要不得以硫、附、椒、薑、為血少人用，以過於溫熱，適足以耗血也。</p>
<p>人參為扶元極品，無論表散攻瀉，皆宜用之。故古方用參極多，但所用人參，出於上黨，地居中土，性味和平。本朝用遼東參，偏居東方，故性溫而上行。至高麗參來自朝鮮，東洋參來自日本，則地愈東，而性愈偏，補虛之功不足，助熱之勢有餘，受外邪及素患肝病者，皆須酌用，非可執古方而用今藥也。推之白朮非野生，則性薄而枯燥，桂心非窯洞，則味辛而上炎(安南桂已無有)，皆不足以濟事，而稍不合宜，轉多流弊，亦醫家之所宜知也。</p>
<p>六淫以風為首。天地之間，惟風無所不入，故人之受病，風症最重，又能兼及諸淫，變生百病。其兼諸淫者，如寒曰風寒，濕曰風濕，暑曰暑風，燥曰風燥，火曰風火，蓋各症皆能生風也。其變百病者，如頭風、腦風、喉風、肝風、胃風、腸風、鶴膝風、腎囊風、歷節風，以及風氣、風痹、風痱、風疹、風癱、風癲之類是也。而且輕則為傷，重則為中，總由真氣先虛，營衛空疏，而後風邪得乘虛以襲之，是以風症多虛而少實。東垣、河間、丹溪諸家治法，有順氣、養血、化痰、清熱之不同，不專用驅風之劑也。</p>
<p>仲景著書名《傷寒論》，蓋以寒病為諸症之綱也。夫人之一身，陽盛則生，陰盛則死。</p>
<p>寒者陰慘之氣，中人則為病，而陽氣衰矣。故仲景立方多主溫劑，除攻下諸方之外，寒邪在表，則溫散以汗之，如麻黃湯、桂枝湯、大青龍湯之類；寒邪在裡，則溫熱以祛之，如理中湯、四逆湯之類，此實治寒病之心法，而為後人所宜遵守者也。若四時之邪，或溫、或濕、或暑，亦有似傷寒者，治法大不相同，切勿專用溫熱，以致貽誤。猶中暑中濕諸症，與中風迥別，故隨時制宜，為醫家之要訣焉。</p>
<p>暑者，夏令之陽邪從口鼻入，脾經實先受其病，而心肺次之。乃熱症多陽，屬氣有餘，暑症多陰，屬氣不足。與治感受寒邪之法大異，宜溫散而不宜過熱，宜清涼而不宜過寒，仲景方多不可用。且暑之兼症甚多，有兼傷風者，有兼傷寒者，有兼傷濕者，有兼傷食者，而要惟兼濕與食為最多。蓋夏月土潤溽暑，暑必多濕，而內無積食，亦斷不致為大患也。然或瘧或痢，或霍亂吐瀉，發於當時者為輕，入秋病為伏暑，極難痊愈，秋深更甚，若至霜降後發病，十五行六氣之理，脾為濕土。濕者、土之氣也。從地而上，其著於人，則有內感外感之不同。</p>
<p>雨水，汗浴淋漓，其傷在皮膚經絡，而亦有兼風、兼寒、兼熱、兼暑各症。且有中濕甚重，而口眼　斜，舌強語澀，筋骨拘攣，四肢麻木者，形如中風，而不可作中風治。大約濕在表宜汗，謂解肌也。濕在裡宜泄，謂通二便也。又須扶脾以實之，溫中以祛之，而治濕之能事經曰：燥乃陽明秋金之氣所化。金能生水，燥則無以滋腎陰而化源絕，腎水既絕，不能灌溉五臟，滋養百骸，則周身皆槁而愈燥矣。其病多由酒色過度而起，火盛水衰，遂至漸劇。亦有因肺受風火，咳嗽多痰，唾久傷液，而成燥症者。或皮膚甲錯，或肌肉枯瘠，或嗌干聲啞，總宜以甘寒生水之味治之。輕者天冬、地黃、梨漿、藕粉，重者龜鱉膠、牛羊乳及燕窩等物，尤宜清心寡欲，嗽口咽津，自能漸愈。若再用溫劑，或酒色不戒，必致傷生，慎毋忽諸五臟六腑，各具真氣。氣有餘便是火，故諸經皆有火，而心肝命門三經實主之。勞傷郁悶，盛怒極樂，悉能生火。肝火盛則傷脾，心火炎則傷肺，命門火熾則傷腎，此火由內生者也。</p>
<p>至內寒暑濕諸症，身發壯熱，久鬱而成火，則四時之邪所傳變也。又肝移熱於膽，心移熱於小腸，肺移熱於大腸，腎移熱於膀胱，而其患不可勝窮矣。火既為患，必宜瀉之，而有以散為瀉者，柴、葛之類。有以泄為瀉者，芩、連之類，有以滋陰為瀉者，知、柏、元參之類。</p>
<p>有以補氣為瀉者，參、　、甘草之類(所謂甘溫勝大熱)。是在善用者之變而通之耳。</p>
<p>凡感受時疫，初起總覺寒毛洒淅，或四肢發冷。故俗人遇外感，無論風溫暑濕，皆稱為傷寒，而治以表散。日久邪入中焦，或自表而裡，總覺化熱，將有口渴便秘煩躁譫語等症，故俗人皆稱為火症，而治以涼瀉。不知其中三因所受，變化多端，必須隨症分經論治，方能奏效。否則一方之內，不必全誤，但有一二味不宜服者，非惟諸藥無功，亦且其弊立見。後來者不知何藥未投，又復變法治之，如此則誤人必多矣。</p>
<p>治病之法，望、聞、問、切，四端並重。今人專取診脈，已多遺漏。況病患賦性有偏，脈亦各異，或遲或數，或大或小，醫者素不相習，而病家所告，症候又多　駁，甚或輕重例置，虛實互移，如此而欲憑所診之脈，便與定方治病，多不相宜。故凡初診切宜審慎，必須揆情度理，確有見地，而後立方，且於初方中預防其變症。如善弈者，開局下子，算至數十著以後，自能全局得手。若待用藥未合，而後別籌治法，即能療病，終非良醫，謂其人抱恙已久故也。矧或變症迅速，不及改弦，又慮病家更易庸手，輾轉蹉跎，人命至重，豈得一誤再誤養生家當於平日調和氣血，保惜精神。酒色嗜欲，一無沉溺，喜怒悲恐，一無過傷，則自不效。此固非醫者所得居功也。</p>
<p>少年酒色不謹之徒，猝受時邪，必然頭眩身重，氣體困憊，此由正氣早傷之故。經曰：邪之泄亡陰，延至日久，而神昏氣蹙，痙厥之症，交發而並至，醫者因前次已服攻散之藥，輒投以參、　、歸、地，其或加入桂、附，若是者，決無生理，深可悼也。治法當於邪未入裡時，用參蘇飲、枳朮丸等方，加減調理之。倘至八九日，症猶未退，且必增劇，即宜用復脈湯(即炙甘草東加減。)助其正氣，滋其真陰，而後其邪自解。若藥餌誤投，勢已危殆，則牛黃丸、至寶丹、紫雪丹之類，酌而用之，亦可救其十之二三，此皆余所經驗者。</p>
<p>嘉道間，越中某醫，頗有名，而過於慎重，明知是症當攻當導，而不肯驟進補方。約需多日，始稍稍補之，而其人已極憊矣。余詰其故。則曰：古人立方，表散則有大青龍、小青龍，攻裡則有大承氣、小承氣、大陷胸、小陷胸、和解則有大柴胡、小柴胡，亦是審慎之意，先輕後重，如輕者得效，則重者不必施也。余笑而不答。夫仲景設方，各有專治，宜重宜輕，絲毫不容假借，豈有先試輕劑，後用重劑之理乎？俗云：百病皆由痰起。痰之名，不見於《內經》。仲景書有五飲，痰飲居其一。自後醫家言治痰者浸多，而要必以治脾為先，蓋痰本飲食所化。脾氣健運，則痰無從生，脾氣一弱，則痰多而上出於肺竅，故治痰之方，大抵皆脾肺藥也。但痰有因寒而生者，有因火而生者，有因風而生者，有因濕而生者，治之各有其本，皆實痰也。而虛痰又有兩種，一則由脾虛不能化食，火鬱為痰，痰稠而濁；一則由腎虛不能制水，水泛為痰，痰稀而清。法當分陰陽以治之，或補其氣，或補其陰，不專主乎消痰也。今人多嗜煙草，終日吸之，兼饜酒肉，故晨起痰嗽必盛，此即日服藥餌不易消除，至積病既深，痰聲咯咯，由丹田而上至胸膈，則危在頃刻左氏傳言，非鬼非食，鬼亦病之一端。蠻　回部，酷信巫鬼，每病必禱，越中婦女多好之。</p>
<p>，即霍然愈。但元氣稍弱，此因鬼得病者也，其或病已數日，神氣薄弱，忽有鬼物，憑以求食，祈禱後，鬼去而病仍在，尚須醫治，此因病生鬼者也。總之，既遇鬼疾，自應祛遣，切勿恃迂儒無鬼之論，與之作難，致使病者受累。不過以醫藥為主，毋徒聽命於鬼而已。若夫夙世冤纏，三生孽報，時至相逢，必取其命，雖佛偈仙經，亦無從為之挽救耳。</p>
<p>形肥之人多痰，宜六君子湯之類。形瘦之人多火，宜瓊玉膏之類。童稚之人多陰虛，宜六味地黃湯之類。老年之人多陽虛，宜七寶美髯丹之類。此平時調理法也。治病三法，針灸與藥餌並重，《左傳》所謂攻之達之者也。今針灸已失真傳，灸法依銅人圖按穴炷艾，猶有治病奏功者，但亦惟勞損未成，及風濕痿痹之症為宜耳。至於太乙雷火神針，尚傳數方，率無全效。乃近二十年來治痧之術盛行，無論老幼男婦，冬寒夏暑，遇有心痛腹痛，肝胃氣痛，以及感冒發熱吐瀉等病，率皆名之曰痧，輒用刀針刺舌下，與兩臂等處之血，謂之放痧，間亦有得愈者，哄然同聲，以為神技，遍行城鄉。故寒熱不節之時，民間之得免刺　者鮮矣。夫痧非惟《內經》不載，諸名家皆莫之言，惟陰陽水治干霍亂，俗名絞腸痧，見於後人。本草方書，亦未聞有刺取其血之說。大抵邪入血分，郁結而成，故刺血多變黑色。若血色不變，則非痧也。本非痧而刺之，徒傷氣血，經絡空虛，適足以召邪而生病。故放痧之人，必多感胃，愈病愈刺，久之則成弱症而斃矣。要之，針砭本系古法，久已無傳，苟非極悶極痛，命在呼吸者，皆可用藥調治，切勿輕試刀針。余嘗苦口勸人，多未見信，豈劫運所定，或以此代刀兵之數邪。吁，可慨也已！邇來鴉片煙遍行宇內，半由游手好閑之子，花柳娛情；半由幕友吏胥之徒，深宵辦案，此外則有因藉以治病而吸之者。鴉片系罌粟苞漿，性本澀腸斂肺，夷人和以毒物，煎成煙膏，惟久瀉久嗽滑脫之症，及肝病不犯上焦者，吸之頗為有效。然病未除而癮已成，猶進野狼以驅虎，而服之無效者，反添一吸煙之患。且即治病果痊，全資煙力，久之氣血虧損，嗽瀉肝病，一旦復後，必然加重，煙亦不效，並非他藥之所能治，而成必死之症矣。夫《本草綱目》、</p>
<p>《證治準繩》兩書，無數佳品，無數良方，何病不可醫？何藥不可用？而必假此毒物也哉！</p>
<h3>補編‧卷上</h3>
<p>六經既敘，仍得而匯言之。先言表裡之義，三陽固為表，而太陽非表之表乎？少陽非表中之半表裡乎？三陰固為裡，而太陰非裡之表乎？少陰非裡之半表裡乎？厥陰非裡中之裡乎？再言經與臟腑之表裡。太陽經與膀胱也，陽明經與胃府也，少陽經與膽府也，非表中之表裡乎？太陰經與脾臟也，少陰經與腎臟也，厥陰經與肝臟也，非裡中之表裡乎？表裡之義得，而汗下之法可明矣。在表俱可汗，是陰症可汗也。在裡俱可下，是陽經可下也。請再言其升降之義，人之身胸膈居上，心居中之上，腹居中之下，少腹更在下。邪在上，則越之可也。邪在上之中，則瀉之可也。邪在中之下，則下之可也。邪在下，泄之可也。越者升而散之也，瀉者徐而滋之也，下者攻而除之也，泄者就勢而推致之也。故除發汗解肌治表之外，又有瀉心諸方，以瀉中上之邪；有承氣諸方，以下中下之邪；有抵當等湯，以泄少腹在下之邪；外有和解一方，以治半表裡之邪。皆審邪之所在，順邪之性而治之也，俱不外升降之義也。請再言寒熱虛實之辨，正實則邪必虛，正虛則邪必實，其常也。正虛而邪亦虛，正實而邪亦實，其變也。治其邪實，而必不妨於正，治其正虛，而必無助乎邪，方為善治也。熱則脈證俱熱，寒則脈證俱寒，其真也。熱而脈證似寒，寒而脈證似熱，其假也。治其熱而必兼顧其陽，治其寒而必兼顧其陰，方為妙法也。其間有寒熱錯雜之邪為患者，則又有寒熱錯雜之治，而救陰救陽之理，愈可明矣。陰盛而陽衰，必馴至有陰而無陽，此扶陽抑陰，應圖之於早也。陽盛而陰衰，必漸成亢陽而亡陰，此濟陰和陽，應識之於預也。陽無而陰不獨存，陰亡而陽不狐立，相維則生，相離則死，此又陰陽不可偏勝之大綱也。明乎此，則《傷寒論》六經之理已盡，而凡病俱可引伸觸類，其理無盡矣，此余之所以再為伸言也乎。</p>
<p>古昔聖賢，治一病必有一主方，千變萬化，不脫根本。</p>
<p>在氣分者，但行其氣，不必病輕藥重，攻動其血。在血分者，則必兼平氣治，所謂氣行則血隨之是也。</p>
<p>大凡體質素虛，驅邪及半，必兼護養元氣，(參草之類是也。)仍佐清邪。</p>
<p>暑病首用辛涼，繼用甘寒，再用酸泄酸斂，不必用下，可稱要言不煩矣。而時下不外發散消導，加入香薷一味，或六一散一服。考本草香薷辛溫發汗，能泄宿水。夏熱氣閉無汗，渴飲停水，香薷必佐杏仁，以杏仁苦降泄氣。長夏濕令，暑必兼濕，暑傷氣分，濕亦傷氣，汗則耗氣傷陽，胃津大受劫爍，變病由此甚多，發泄司令，裡真自虛，所以夏月用香薷者宜慎。</p>
<p>春令發痧，從風溫濕，夏季從暑風，暑必兼熱，秋令從熱爍燥氣，冬月從風寒(此是秘訣。)痧本六氣客邪，風寒暑濕，必從火化。痧既外發，世人皆云邪透，孰謂出沒之際，升必有降，勝必有復，常有痧外發。身熱不除，致咽啞齦腐，喘急腹脹，下痢不食，煩躁昏沉，竟以告斃者，皆屬裡症不清致變。須分三焦受邪孰多，或兼別病，須細體認。</p>
<p>上焦藥用辛涼，中焦藥用苦辛寒，下焦藥用酸寒。上焦氣味宜輕，肺主氣，皮毛屬肺之合，外邪宜辛勝，裡甚宜苦勝。若不煩渴，病日久邪鬱不清，可淡滲以泄氣分。中焦藥痧火在中，為陽明燥化，多氣多血，用藥氣味苦寒為宜。若日多胃津消爍，苦則助燥劫津，甘寒宜用。下焦藥鹹苦為主，若熱毒下注成痢，不必咸以軟堅，但取苦味，堅陰燥濕。</p>
<h4>論溫熱病舌黃</h4>
<p>再論三焦不得從外解，必致成裡結。裡結於何在？陽明與胃腸也。亦須用下法，不可以氣血之分，就不可下也。但傷寒熱邪在裡，劫爍津液，下之宜猛。此多濕邪內搏，下之宜輕。傷寒大便溏，為邪已盡，不可再下。濕溫病，大便溏，為邪未盡，必大便硬，慎不可再攻也，以屎燥為無濕矣。人之體脘在腹上，其地位處於中，按之痛，或自痛，或痞脹，當用苦泄，以其入腹近也。然必驗之於舌，或黃或濁，可與小陷胸湯或瀉心湯，隨症治之。倘或白不燥，或黃白相兼，或灰白不渴，慎不可亂投苦泄。其中有外邪未解，裡先結者，或邪鬱未伸，或素屬中冷者，雖有脘中痞痛，宜從開泄，宣通氣滯，以達歸於肺。如近俗之杏、蔻、橘、桔、等，是輕苦微辛，具流動之品可耳。再前之舌黃或濁，須要有地之黃。若光滑者，乃無形濕熱，中有虛象，大忌前法。其臍以上為大腹，或滿或脹或痛，此必邪已入裡矣，表症必無，或十只存一，亦要驗之於舌。或黃甚，或如沉香色，或如灰黃色，或老黃色，或中有斷紋，皆當下之。如小承氣湯，用檳榔、青皮、枳實、元明粉、生首烏等，若未現此等舌，不宜用此等法。恐其中有濕聚太陰為滿，或寒濕錯雜為痛，或氣壅為脹，又當以別法治之。再黃苔不甚濃而滑者，熱未傷津，猶可清熱透表，若雖薄而干者，邪雖去而津受傷也，苦寒之藥當禁，宜甘寒輕劑可也。</p>
<h4>舌絳</h4>
<p>再論其熱傳營，舌色必絳。絳，深紅色也。初傳，絳色中兼黃白色，此氣分之邪未盡也，泄衛透營，兩和可也。純絳鮮色者，胞絡受病也，宜犀角、生地黃、連翹、鬱金、石菖蒲等。</p>
<p>延之數日，或平素心虛有痰，外熱一陷，裡絡就閉，非菖蒲、鬱金所能開，須用牛黃丸、至寶丹之類，以開其閉，恐其昏厥為痙也。</p>
<p>再色絳而舌中心干者，乃心胃火燔，劫爍津液，即黃連、石膏，亦可加入。若煩熱煩渴，舌心干四邊色紅，中心或黃或白者，此非血分也，乃上焦氣熱爍津，急用涼膈散，以散其無形之熱，再看其後轉變可也，慎勿用血藥以滋膩難散，至舌絳望之若干，手捫之原有津液，此津虧濕熱熏蒸，將成濁痰蒙閉心包也。</p>
<p>再有熱搏營血，其人素有瘀傷，宿血在胸膈中，挾熱而搏，其舌色必紫而暗，當加入散血之品，如琥珀、丹參、桃仁、丹皮等。不爾，瘀血與熱為伍，阻遏正氣，遂變如狂發狂之症。</p>
<p>若紫而腫大者，乃酒毒衝心，若紫而干晦者，腎肝色泛也，難治。舌色絳而上有黏膩，似苔非苔者，中夾穢濁之氣，急加芳香逐之。舌絳若伸退場門而抵齒難驟伸者，痰阻舌根有內風也。舌絳而光亮，胃陰亡也，急用甘涼濡潤之品。若舌絳而干燥者，火邪劫營，涼血清火為要。舌絳而有碎點白黃者，當生疳也。大紅點者，熱毒乘心也，用黃連、金汁。其有雖絳而不鮮，干枯而痿者，此腎陰涸，急以阿膠、雞子黃、生地、天冬等救之，緩則恐涸極而無救也。其有舌獨中心絳干者，此胃熱心營受灼也，當於清胃方中，加入清心之品，否則延及於尖，為津干火盛，舌尖絳獨干，此心火上炎，用導赤散瀉其火。</p>
<p>再舌苔白濃而干燥者，此胃燥氣傷也，滋潤藥中加甘草，令甘守津還之意。舌白而薄者，此外感風寒也，當疏散之。若白干薄者，肺津傷也。加麥冬、花露、蘆根汁等輕清之品，為上者上之也。若白苔絳底者，濕遏熱伏也，當先泄濕透熱，防其就干也。勿憂之，再從裡透於外，則變潤矣。初病舌乾，神不昏者，急養正，微加透邪之品。若神已昏，其內陷矣，不可救藥。又不拘何舌色，上生芒刺者，皆是上焦熱極也。當用青布拭冷薄荷水揩之，即去者輕，旋即生者險矣。舌苔不燥，自覺悶極者，屬脾濕盛也。或有傷痕血跡者，必問曾經搔挖否，不可以有血而便為枯症，仍從濕治可也。再有神情清爽，舌脹大不能退場門者，此脾濕胃熱，鬱極化風而毒延口也。用大黃磨入當用劑內，則舌脹自消矣。</p>
<p>再舌上白苔黏膩，吐出濁濃涎沫者，口必甜味也，為脾癉病，乃濕熱氣聚與穀氣相搏，土有餘也。盈滿則上泛，當用省頭草芳香辛散以逐之則退。若舌上苔如咸者，胃中宿滯，挾濁穢鬱伏，當急急開泄，否則閉結中焦，不能從幕原達出矣。</p>
<h4>煙煤舌</h4>
<p>若舌無苔而有如煙煤隱隱者，不渴肢寒，知挾陰病，如口渴煩熱，平時胃燥舌也，不可攻之。若燥者甘寒益胃，若潤者甘溫扶中，此何故外露而裡無也。</p>
<h4>舌黑</h4>
<p>若舌黑而滑者，水來克火為陰症，當溫之。若見短縮，此腎氣竭也，為難治。急救之。</p>
<p>加人參、五味，勉希萬一。舌黑而干者，津枯火熾，急急瀉南補北。若燥而中心濃　者，土燥水竭，急以鹹苦下之。</p>
<h4>舌淡紅無色</h4>
<p>舌淡紅無色者，或干而色不榮者，當是胃津傷而氣無化液也，當用炙甘草湯，不可用寒涼藥。</p>
<h4>舌白如粉</h4>
<p>若舌白如粉而滑，四邊色紫絳者，溫疫者初入募原，未歸胃腑。急急透解，莫待傳陷而入為險惡之病。且見此舌者，病必見凶，須要小心。凡斑疹初見，須用紙捻照看胸背兩脅，點大而在皮膚之上者為　，或云頭隱隱，或瑣碎小粒者為疹。又宜見少而不宜見多，按方書謂　色紅者屬胃熱，紫者熱極，黑者胃爛，然亦必看外症所合，方可斷之。然而春夏之間，溫病俱發疹為甚，如淡紅色，四肢清，口不甚渴，脈不洪數，非虛　即陰　。或胸微見數點，面赤足冷，或下利清穀，此陰盛格陽於上而見，當溫之。若　色紫小點者，心包熱也。點大而紫，胃中熱也。黑　而光亮者，熱勝毒盛，雖屬不治，若其人氣血充者，或依法治之，尚可救。若黑而晦者，必死。若黑而隱隱，四旁赤色，火鬱內伏，大且清涼透發，間有轉紅，或可救者。若夾　帶疹皆是，邪之不一，各隨其部而泄，然　屬血者多，疹屬氣者不少，　疹皆是邪氣外露之象，發出宜神情清爽，為外解裡和之意。如　疹出而昏者，正不勝邪，內陷為患，或胃津內涸之故。</p>
<p>再有一種白　，小粒如水晶色者，此濕熱傷肺，邪雖出而氣液枯也，必得甘藥補之。或未至久延，傷及氣液，乃濕傷衛分，汗出不徹之故，當理氣分之邪。或白枯如骨者多凶，為氣液</p>
<h4>驗齒</h4>
<p>再溫熱之病，看舌之後，亦須驗齒。齒為骨之余，齦為胃之絡。熱邪不燥胃津，必耗腎液，且二經之血，皆走其地。病深動血，結瓣於上。陽血者，色必紫，紫如乾漆。陰血者，色必黃，黃如醬瓣。陽血若見，安胃為主；陰血若見，救腎為要。然豆瓣色者多險，若症還不逆者，尚可治，否則難治矣。何以故耶？蓋陰液竭，陽上厥也。</p>
<p>齒若光燥如石者，衛熱甚也。若無汗惡寒，衛偏勝也，辛涼泄胃透汗為要。若如枯骨色者，腎液竭也，為難治。若上半截潤，水不上承，心火炎上也，急急清水救水，俟枯處轉潤為妥。若切牙嚼齒者，濕熱化風痙病。但切牙者，胃熱氣走其絡也。若切牙而脈症皆衰者，胃虛無穀以為榮，亦切牙也。何以故耶？虛則喜實也。舌本不縮而硬，而牙關咬定難開者，此非風痰阻絡，即欲作痙症，用酸物擦之即開。酸走筋，木來泄土故也。</p>
<p>若齒垢如灰糕樣者，胃氣無權，津亡濕濁而重多死。而初病齒縫流清血痛者。胃火沖激也，不痛者，龍火內燔也。齒焦無垢者死；齒焦有垢者，腎熱胃劫也，當微下之，或玉女煎清胃東垣之久病不知飢飽，不見皮枯毛瘁，乃痰飲為患。</p>
<p>葉案中風門，用人參必於病勢已退後，用以培元養氣。當病甚時，亦與於驅風之藥同用，其分兩亦不過幾分至錢，無不中度。余病用參可類推。(肝風)火盛者，葉先生用羚羊角、山梔、連翹、花粉、元參、鮮生地、丹皮、桑葉，以清泄上焦竅絡之熱，此先從膽治也。痰多者，必理陽明，消痰如竹瀝、薑汁、菖蒲、橘紅、二陳湯之類，中虛則用人參，外台茯苓飲是也。下虛者，必從肝治，補腎滋肝，育陰潛陽，鎮攝之治是也。久嗽而用建中湯諸法，治中宮之虛，乃補母之義，真古聖相傳之正法。若陰火虛勞之嗽，與建中正相反，此老用此得手，而誤施於虛勞，亦辨之不審耳。</p>
<p>凡上實者下必虛，薄味清其上焦，正以安下，令其藏納也。(吐血)凡咳血之脈，右堅者，治，乃肝腎陰傷所致，宜地黃、阿膠、枸杞、五味等類。脈弦肋痛者，宜蘇子、桃仁、降香、鬱金等類。成盆盈碗者，葛可久花蕊石散，仲景大黃黃連瀉心湯。一症而條分縷晰，從此再加分別，則於症自有據矣。</p>
<p>凡屬有病必有留邪，須放出路，方不成痼疾。惟氣血欲脫，一時急救，不在此例，稍定即當思治病之去矣。</p>
<p>諸項失音，皆有可愈之理，惟用麥冬、五味、熟地、桔梗等藥，補住肺家痰火，以致失音，則百無一生，獨不言及何也？又麥冬、五味，是失音之靈丹。</p>
<p>大凡內損精血形氣，其胃旺納食者，務在滋填。如食減不納，後天生氣不振，濃濃填補，於理難進，當用生脈四君子湯。脾腎雙顧，清邪在上，必用輕清氣藥。如苦寒治中下，上結更閉。</p>
<p>濕無陽氣不發，陽伸之極，濕發亦重。</p>
<p>凡久患虛損之弱體，吸受溫邪，脘悶渴飲，氣機阻塞，不敢照平人逕行開泄(如杏仁、桔梗、蔻仁、牛蒡子之類。)應清揚涌上，淡以和氣，庶上焦得行，可進養胃等法。</p>
<p>大凡六氣傷人，因人而化。陰虛者火旺，邪歸營分為多。陽虛者濕勝，邪傷氣分為多，一則耐清，一則耐溫，膩性之陰陽，從可知也。瘦人之病，慮涸其陰。肥人之病，慮虛其陽。</p>
<p>古人論病，必究寢食。今食未加餐難寐，神識未清，為病傷元氣。而熱病必消爍真陰，議用三才湯意。</p>
<p>凡衛氣攻痛，從背而上者，系督脈主病，治在少陰。從腹而上者，治在厥陰，系衝任主病；或填補陽明，此治病之宗旨也。</p>
<p>大凡津液結而為患者，必佐辛通之氣味。精血竭而為患者，必藉血肉以滋填。大凡邪在陽可散，入陰之邪，必溫經可托出留邪，為解之化之不同法也。</p>
<p>上實下虛，醫為腎虛，萸、地填陰原不為過。但腎水內寓真火宜溫，肝木相火宜涼。凡益腎取乎溫養，必佐涼肝以鹽制，方無偏黨(如肉蓯蓉、巴戟肉、枸杞子加白芍之類。)(腫脹)經云：從上之下者，治其上。又云：從上之下而甚於下者，必先治其上而後治其下。</p>
<p>《內經》肝病，不越三法。辛散以理肝，酸泄以體肝，甘緩以益肝，宜辛甘潤溫之補。</p>
<p>蓋肝為剛臟，必柔以濟之，自臻效驗耳。</p>
<p>虛勞之脈必數，而有浮大細小之別。浮大而數，陰虛甚也。細小而數，陰中之陽絕矣。</p>
<p>又有一種陽虛者，脈不數，但緩而大不收，奄奄無力。</p>
<p>土為五行之本，土無定位，分發四季寄體中宮。火藉之而不焰，水藉之而不泛，金藉之而能生，木藉之而不凋，故脾神為黃婆，心神為嬰兒，腎神為　女。修煉家升坎填離，欲男女交妒，須賴黃婆牽合，以脾胃為後天之根本也，然非專以補脾胃而言也。仲景因胃實致心腎不交，用承氣湯下之。用和因脾虛，致心腎不交，制歸脾湯補之，皆是黃婆牽合之義。心肺為一身之主宰，六經之綱領。凡病皆以氣血為主持，氣血若足，即邪犯六經，亦無所害；氣血不足，則君憂臣辱，君辱臣危矣。故初病之時，氣血未傷，猶兵多糧足國固，用軍之得其宜，則賊自散。若因循苟且，坐失機宜，則姑息養奸，賊勢自盛，正氣日哀，再思背城一戰，縱得賊去，而國未有不俱敗者也。所以過經壞病，或補正逐邪，或養陰退熱，其法不可不知也。凡用藥治病，當因人而施。如皮膚嬌嫩，氣虛多痰者，宜用溫燥。色蒼體燥，血虛多火者，是宜清涼。皮濃肉堅，則表必實，解肌應施。胃強脾健，則內多堅，通裡當用。素生瘡癤，胎毒必盛，攻毒須投。此皆因人治症之良法，不獨痘科為然。</p>
<p>兩腎為氣血之本，腎火為氣之原，腎水為血之海。火足始能生土生金，水足始能生木生火也。蓋凡人具一太極，若陰陽和平則無病。如腎中陰虛，則肝心之病起。腎中陽虛，則脾肺之症生。至於陽盛陰涸，陰盛陽衰之症，皆造極中極之候也。一宜救陰以抑陽，一宜扶陽以制陰。若平治之法，滋陰可以降火，補火即可生氣，悟得此中理，方是醫中傑。不獨痘科為然，即百病莫不知是。</p>
<p>老人少氣少血，宜陰陽並補，(如八味丸、右歸飲丸之類。)小兒為嫩陽，又為稚陽。本是無陰，賴此一點稚陽，以生陰血。寒涼之劑，最伐真陽，若因病致熱，自當涼解，非謂小兒純陽，素應涼寒也。</p>
<p>經言誤汗亡陽，必先亡離家之陰，再亡坎中之陽，陰虛陽無所附也。誤下亡陰，必先亡胃家之陽，再亡脾中之陰，陽亡陰不獨存也(四損不可正治)。實症誤服桂、麻，得經妙手，尚可挽回。損症誤服硝、黃，雖有明醫，不可救藥。治虛損六症，可不慎歟？故孔以立用人參云：雖能固邪，然氣虛不能傳化者，非人參何以砥柱中流；地黃雖膩膈，然陰虛不能作汗者，非地黃何以澤枯潤燥。倘執祛邪存正說，擅用攻瀉，不知正氣衰微，必不能敷布津液，坐令虛人多致暴脫，亦必毒邪沉匿，終至不救。所以程芝田先生治實熱之症，議用逐邪存正之法。虛損之症，議用補正祛邪之法。其氣虛者，於祛邪解毒中，倍加人參以補氣托邪，貧者以黨參、沙參代之。其血虛者，於祛邪解毒中，倍用地黃以養血作汗。但疫症之中，惟陰血虛者居多。因疫症多屬熱病，熱邪最傷陰血。故余治陰虛熱甚者，惟玉女煎諸養榮湯之輩。陽盛而熱甚者，惟三黃解毒犀角地黃之類。間有陽虛者，惟參麥四君輩，桂、附究不輕投(因論疫症。)即有過服寒涼者，暫與一劑，陰氣潛消，即止後服，仍以養陰為主。固不可以實症，而報虛損之方，更不可以虛症，而用實熱之法。虛實一差，毫厘千裡，未有不夭枉民命者也。故臨症時，務宜於虛實上細心求之。</p>
<h4>溫熱論</h4>
<p>溫邪上受，首先犯肺，逆傳心包。肺主氣屬衛心，心主血屬營。辨營衛氣血，雖與傷寒同，若論治法，則與傷寒大異。蓋傷寒之邪，留變在表，然後化熱入裡。溫邪則熱變最速，未傳心胞，邪尚在肺。肺主氣，其合皮毛，故云在表。在表初用辛涼輕劑，挾風則加入薄荷、牛蒡之屬，挾濕加蘆根、滑石之流，或透風於熱外，或滲濕於熱下，不與熱相搏，勢必孤矣。</p>
<p>不爾，風挾溫熱而燥生，清竅必干，謂水主之氣，不能上榮，兩陽相劫也。溫於濕合，蒸鬱而蒙蔽於上，清竅為壅塞，濁邪害清也，其病有類傷寒。其驗之之法，傷寒多有變症，溫熱雖久，在一經不移，以此為辨。</p>
<p>前言辛涼散風，甘淡驅濕。若病仍不解，是漸欲入營也。營分受熱，則血液受劫，心神不安，夜甚無寐，或斑點隱隱，即撤去氣藥。如從風熱陷入者，用犀角、竹葉之屬。如從濕熱陷入者，用犀角、花露之品，參入涼血清熱方中。若加煩躁，大便不通，金汁亦可加入。老年或平素有寒者，以人中黃代之，急急退斑為要。若斑出熱不解者，胃津亡也。</p>
<p>主以甘寒，重則如玉女煎，輕則如梨皮蔗漿之類，或其腎水毒虧，雖未及下焦，先自彷徨矣終在氣分流連者，可冀其戰汗透邪，法宜益胃，令邪與汗並，熱達腠開，邪從汗出。解後胃氣空虛，當膚冷一晝夜，待氣還自溫暖如常矣。蓋戰汗而解，邪退正虛，陽從汗泄，故漸膚冷，未必即成脫症。此時宜令病者安舒靜臥，以養陽氣來復。旁人切勿驚惶，頻頻呼喚，擾其元神，使其煩躁。但診其脈，若虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫症。若脈急疾，躁擾不臥，膚汗大出，便為氣脫之症矣。更有邪盛正虛，不能一戰而解，停一二日再戰汗而愈者，不可不知。再論氣病，有不傳血分而邪留三焦，亦如傷寒中少陽病也。彼則和解表裡之半，此則分消上下之勢，隨症變法，如近時杏、朴、苓等類，或如溫膽湯之走泄。因其仍在氣分，猶可望其戰汗。大凡看法，衛之後方言氣，營之後方言血。在衛汗之可也，到氣才可清氣，入營猶可透勢轉氣，如犀角、元參、羚羊等物；入血恐就耗血動血，宜須涼血散血，如生地、丹皮、阿膠、赤芍之類。否則前後不循緩急之法，慮其動手便錯，反生慌張矣。且吾吳濕邪害人最廣，如面色白者，須要顧其陽氣，濕勝則陽微也。法應清涼，然到十分之六七，即不可過於寒涼，恐成功反棄，何以故耶？濕熱一去，陽息亦衰微也。面色蒼者，須要顧其津液，清涼到十分之六七，往往熱減身寒者，不可就云虛寒而投補劑，恐爐煙雖息，灰中有火也。須細察精詳，方少少與之，慎不可直率而往也。又有酒客裡濕素盛，外邪入裡，裡濕為合，在陽旺之軀，胃濕恆多，在陰盛之體，脾濕亦不少，然其化熱則一。熱病救猶易，通陽最難。救陰不在血，而在津與汗；通陽不在溫，而在利小便，然較之雜症則有不同也。</p>
<p>新病者，陰陽相乖，補偏救弊，宜用其偏。久病者，陰陽漸入，扶元養正，宜用其平。</p>
<p>若久病誤以重藥，轉增其竭絕耳。凡治陰病，得其轉為陽病，則不藥自愈。縱不愈，用陰分藥一劑，或四物二連湯，或六味地黃湯，以劑其偏，則無不愈。</p>
<p>今人外感病，兼內傷者多，用藥全要分別，如七分外感，三分內傷，則治外感藥中，宜用緩劑小劑，及薑棗和中為引，庶無大動氣血等累。若七分內傷，三分外感，則用藥全以內傷為主，但加入透表藥一味，而熱服以助藥勢，則外感自散。蓋以內傷之人，才有些微外感，即時發病，不比壯盛之人，必所感深重，其病乃發也。《內經》云：盛者責之，虛者責之。先生今但責其邪盛，而不責其體虛，是明與《內經》相背也。余笑曰：吾非　末忘本，此中奧義，吾不明言，金針不度也。緣平叔所受外邪，不在太陽而在陽明，故不但不惡寒，且並無傳經之壯熱，有時略顯潮熱，又與內傷發熱相仿，誤用參、朮補之，邪無出路，久久遂與元氣濕合為一，如白銀中傾入鉛銅，則不能成銀色，所以神識昏迷，默默不知有人理耳。又陽明者，十二經脈之長，能滑筋骨而利機關。陽明不治，故筋脈失養，而動惕不寧耳。平叔之病，舉外邪而錮諸中土，則其土為火燔之焦土，而非膏沐之沃土矣。其土為灰砂打和之燥土，而非沖純之柔土矣。焦土燥土全無生氣，而望其草木之生也得乎？吾乘一息生機，大用苦寒，引北方之水，以潤澤其枯槁，連進十余劑，其舌始不向唇外吮咂，所謂水到渠成。乃更甘寒三劑，此後絕不置方者，知其飲食入胃，散精於脾，如霖雨霖霖，日復一日，優渥沾足，無藉人工灌溉，而中土可復稼穡之恆耳。必識此意，乃吾知前此濫用苦寒，正以培生氣也，生氣回而虛者實矣。夫豈不知素虛，而反戕其生耶。</p>
<p>曙修年富而勢重。勢重者，以冬不藏精，體虛不任病耳。余見其頭重著枕，身重著席，不能轉側，氣止一絲，不能言語，畏聞聲響。於表汗藥中，用人參七分，伊芳表侄施濟卿恐其家婦女得知，不與進藥，暗增人參入藥。服後汗出勢減，次日再於和解藥中，增人參一錢，與服。服後即大便一次，曙修頗覺清爽。然疑下藥之早也，遣人致問，余告以此證表已解矣。裡已和矣，今後我謂即日向安，不必再慮。</p>
<h3>補編‧卷下</h3>
<p>胎前有病症，重在保胎。產後有病症，重在溫補。此至穩至當之理。</p>
<h4>崩漏標本證治</h4>
<p>崩漏不止，經亂之甚者也。蓋非時下血，淋瀝不止，謂之漏下。忽然暴下，若山崩然，謂之崩中。由漏而淋，由淋而崩，總因血病。凡崩漏初起，治宜先止血，以塞其流，加減四物湯十灰丸主之。崩漏初止，又宜清熱，以清其源，地黃湯或奇效四物湯主之。崩漏既止，裡熱已除，更宜補血氣以端其本，加減補中益氣湯主之。要知崩漏皆由中氣虛，不能受斂其血，加以積熱在裡，迫血妄行，或不時血下，或忽然暴下，為崩為漏，此證初起，宜先止血以塞其流，急則治其標也。血既止矣，如不清源，則滔天之勢，必不可遏。熱既清矣，如不端本，則散失之陽，無以自持。故治崩漏之法，必守此三者，次第治之，庶不致誤。先賢有云：治下血證，須用四君子輩以收功，其旨深矣。</p>
<p>近來諸醫誤信產後屬寒之說，凡產後無不用炮薑、熟地、肉桂、人參等藥。不知產後，血脫，無不立斃。我見甚多，案中絕無此弊。足征學有淵源，惟善用人參，而少用血藥，消痰清體之法，尚未見及，則有未到也。</p>
<h4>崩漏虛實證治</h4>
<p>崩乃經脈錯亂，實系衝任傷損，不能約束經血而然。治宜大補氣血，當用舉元益血丹峻補本源，少加清熱之藥，以治其標。補陰瀉陽，而崩自止。若血熱妄行，脈實有力，血氣臭穢者，方用四物涼膈散，入生韭汁調服。然治血藥，切忌純用寒涼，以血見冷即凝故也。如血崩初起，遽止則有積聚凝滯之憂，不止則有眩暈卒倒之患。必須行中帶止，庶無後患。然既止之後，必服八珍湯以收功。</p>
<p>古人治胎有證，每將人參、砂仁同用，取其一補一順，則氣旺而無墮胎之患，順則氣和而無難產之憂，甚良法也。</p>
<p>因女子以肝為先天。陰性凝結，易於拂鬱，郁則氣滯，血亦滯也。木病必妨土，故次重脾胃系由營氣大脫，不論有邪無邪，必養血為主。其行瘀消痰，降火驅風，種種治法，皆從血分中推出，變化不離本宮。</p>
<h4>論婦女濕溫病</h4>
<p>婦人病溫，與男子同。所異胎前產後，以及經水適來適斷。大凡胎前病，古人皆以四物加減用之，謂護胎為要，恐來害妊，如熱極用井底泥，藍布浸冷，覆蓋腹上等，皆是保護之意。</p>
<p>但亦要看其邪之可解處，用血膩之藥不靈，又當審察，不可認板法。然須步步保護胎元，恐病邪陷也。至於產後之法，按方書謂慎用苦寒藥，恐傷其已亡之陰也。然亦要辨其邪能從上中解者，稍從症用之亦無妨，不過勿犯下焦，且屬虛體，當如虛怯人病邪而治。總之毋犯實實虛虛之戒。況產後當氣血沸騰之候，最多空竇，邪勢必乘虛內陷，虛處受邪，為難治也。</p>
<p>如經水適來適斷，邪將陷血室，少陽傷寒言之甚詳，不必多贅。但熱病與正傷寒不同，仲景立小柴胡湯，提出所陷熱邪，參、棗扶胃氣，以衝脈隸屬陽明也，此與虛者為合治。若邪熱陷入，與血相結者，當宗陶氏小柴胡湯，去麥、棗。加生地、桃仁、楂肉、丹皮、犀角等。</p>
<p>若本經血結自甚，必少腹滿痛，輕者刺期門，重者小柴胡湯去甘藥，加延胡、歸尾、桃仁，夾寒加肉桂，心氣滯者加香附、陳皮、枳殼等。然熱陷血室之症，多有譫語如狂之象，防是陽明胃實，當辨之。血結者，身體必重，非若陽明之輕利便捷者，何以故邪？陰主重濁，絡脈被阻，側旁氣痹連胸背，皆拘束不遂，故去邪通絡，正合其病。往往延久上逆心胞，胸中痛，即陶氏所謂血結胸也。王海藏出一桂枝紅花湯，加海蛤、桃仁，原為表裡上下一齊盡解之理，若此方大有巧手，故錄出以備學人之用。傷寒每以風傷衛用桂枝湯寒傷營用麻黃湯法，小兒肌疏易汗，難任麻、桂辛溫表邪。太陽治用輕，則紫蘇，防風一二味。身痛則羌活，然不過一劑。傷風症亦肺病為多，前、杏、枳、桔之屬，辛勝即是汗藥，其蔥豉湯，乃通用妊娠一門，總以補氣養血安胎為主，則萬病自除矣。</p>
<h4>韓善征辟產後忌寒涼宜溫熱及大補氣血論</h4>
<p>善按世俗惑於產後忌寒涼，宜溫熱，及大補氣血為主之說。</p>
<p>醫家誤人，病家自誤，若此案者，我見實多(引雷少逸治四明沈某室產後匝月，忽然壯熱，汗多口渴欲飲。)徐洄溪、魏柳洲皆謂產後血脫，孤陽獨旺，雖石膏、犀角對症，亦不禁用。庸手遇產後，不論何症，一以燥熱溫補，戕其陰而益其火，無不立斃。誠有慨乎其言之也！蓋有是症，即用是藥，非獨產後，即產前亦然。世俗動以保胎為主，豈知胎不安者，乃因邪氣內逼。故解其邪，勿使傷胎，即為保護。章虛穀云：如傷寒陽明實症，亦當用承氣下之，邪去則胎安也。若但事保胎，不辨其邪，妄施其藥，或引邪入內，或錮邪不出，則輕病變重，母與胎俱難全矣。</p>
