<header data-type="book">
<h1>醫醫醫</h1>
</header>
<h2>序</h2>
<p>國朝欽定《四庫全書》，經史子集三十六萬卷，其未入《四庫》以及後出、昭昭在人耳目者，不知凡幾。雖未遍觀盡識，而流覽涉獵，要多不可磨滅。然自四子九經如日月經天，江河行地外，大都各成一家言而已。方今四海交通，朝命翻譯歐西、東洋各國書籍，以為土壤細流之助有志之士。又從而廣譯之，毋慮數千萬種，其善者亦不過一家言已耳。一本萬殊，萬殊一本之道，未嘗有貫穿群籍合為一書者，而況醫籍向以小道目之，雜家屬之耶。《醫醫醫》一書則大異是，孟今於風八先生楨髫年在桂林聞名相思，即有神交之契，親炙後不時過從，適與共治經學、醫學暨舉子業，嘗語人曰：有漢儒之實學而無瑣碎之病，有宋儒之實行而無迂拘之遺跡，吾不如於風八，乃各以親老家貧，日藉筆耕供菽水，頻年奔走，時相睽合楨於佐人政治之余，輒喜著述，撰有《四書質疑》、《孝經質疑》、《三國志質疑》、《算學入門》、《勾股精義》、《靖冥館詩古文詞集》若干卷，每一書成，必函質之，先生雖皆許弗置而終疑其未愜於心，至今思之猶滋懸焉。先生自永感後絕意進取，專一於醫，於是名節益廣，當道大吏，四路爭迎，有屢以道府敦迫出而濟世者，先生皆夷然不以為意，而乃以性情率野學問粗疏不宜處於公卿之間而與公卿之事，力卻而善辭之。於以知先生，達無加窮，亦無損，二十年前嘗請其著一醫說壽世，先生以為斯未能信，遲之又久。頃始郵到近著《醫醫醫》一書，囑為校序，伏讀久之，始而異其名之奇，繼乃悉其論之正，終且嘆服其苦心孤詣，超越古今，致廣大而盡精微，極高明而道中庸，有不可以尋常名醫論說擬議，所謂一本萬殊，萬殊一本，貫穿群籍而為一書者非歟。其中所論醫理盡抉歧景之奧，且多發前賢所未發。</p>
<p>如論治道兵機，大聲疾呼，頭頭是道，而復絲絲入扣，以示醫學源流，《傷寒論翼》更覺鄭重分明，功殊不在禹下，大有裨於政界，軍界。楨雖不敏，請事斯語。至以孔孟為內傷國手，欲人人皆能自治，以循至於聖賢之塗，猶為憲政無尚之理，空前絕後之論，洵屬聞所未聞，迥非今世中醫西醫所能夢見。誠能朝廷、世界、醫者各服篇中，鼎峙三方，豈僅改群醫之良治，萬端之病起，八代之衰已哉。蓋將立萬世之憲而息列強之爭矣。唯愿讀是編者潛心靜氣，反覆尋繹，勿輕放過一句，勿忽略過一字，如食蜂蜜，當味其有百花之香，如飲醇醪，須知其非一時之釀，乃為不負東觀未見之書，且以知楨之言非阿好也醫籍云乎哉。</p>
<p><u>宣統紀元歲次己酉十二月，卸署江北提督、記名提督、蘇松鎮總兵統領、江南全省練兵、第　</u></p>
<p>九鎮統制、番禺舉人徐紹楨固卿拜序於江南陸軍營次</p>
<p><u>　</u></p>
<h2>自敘</h2>
<p>噫噫噫，醫醫醫，醫何易言哉！醫之為道，廣矣大矣，精矣微矣，危乎危矣！舉凡古今中外，學問事業，無有難於此者矣。名為衛生去疾之道，實不止於衛生去疾已也。蓋合格致誠正、修齊治平之道，而一以貫之，且更有難焉者也。非探天地陰陽之秘，盡人物之性，明氣化之理，博考古今，隨時觀變，匯通中外，因地制宜，而又臨事而惟澄心定靈，必不能語於此。雖然夫婦之愚可以與知焉，及其至也，聖人亦有所不能焉，故夫一知半解、搖鈴懸壺之徒充斥天壤，時或生人，黃農歧景之聖，卓絕古今，而又未嘗不死人。究之生之者偶然，而殺之者無算，死之者適然而生之者恆眾，是非成敗明鏡誰懸？此醫道所以不明不行也。今天競言醫矣，且廣開醫院矣，又新開醫學研究會矣，更多開辦軍醫學堂矣。十室之邑必有忠信，百步之地必生芳草。不敢謂千慮者必無一得也，當道大吏謬以余為老馬，屢囑余為提倡一醫學堂，舉甚美，意亦甚摯，余唯唯唯否否，遷延歲月，卒不能應。大吏熱心興學，一切新政次第舉行，唯此醫學一界，尚覺棼如，切詰再四，無以謝之，不能不有以曉之日。噫噫噫，醫醫醫，醫非不至要也，如所謂一切新政，皆醫之事也，醫道不明而欲使庶政更新，竊不謂然。蓋醫道，通於治道，不可殫述，即如強種強兵，猶為密切關系。且中外交通以來，吾國無事不落人後，其猶有可望勝於他人者，醫學、文學而已。文學之妙已造其極，毋庸贅言，醫學雖當晦盲否塞之秋，而胚胎於黃農，萌牙於歧景，固已久矣！如有偉人起而振之，引而伸之，變而通之，鄭而重之，大可冀放奇光異彩於環球上，使吾道衣冠文物亦有以輸入於他邦，而為開通西醫之導線。近之蔑視中醫者固其宜，而其謬許西醫、偏重西醫者殊耳食而目論也，則開辦醫學堂之舉不更急務乎！然尚有難言也。方今吾國醫界，皆為讀書不成、他業不就者之逋逃藪，道其所道，既非黃歧之道，更非吾所謂一貫之道。其自待菲薄，絕無精妙高明者，原不足怪，而其腐敗不堪，庸惡陋劣之病，又實對待於醫者，苟且輕賤之心有以中之，雖亦由於醫者之自取戾，然醫者之病已自深入，已遍天下，將極終古，莫之能愈。尚欲其善為醫，又更為醫國，猶之拯飢者而求粒於荒墾，斷斷乎其未有也。今擬開辦醫學堂，亦思有以醫醫之病也。然不知醫者之病之所在，而徒為之嚴章程，訂功課，令之勤講求，精診切，是猶治其標而未治其本也。</p>
<p>雖學堂開遍天下，辦至百年，無當也。醫之病何在，醫醫之方何在？非得朝廷之一人與世界之多數人為之探其病源，一一洗其舊染腐敗之氣，庸惡陋劣之習，苟且輕賤之俗而改良焉，必不能起其沉　，而望醫學之進步，誠能得斯二者而出吾方以醫醫，並令醫者時進吾方以自醫，則醫界自將耳目一新，別開生面，精神奮發，志向異趣，學業日精，即不開辦學堂亦必人才輩出，醫道昌明也。醫之病源，既深且賾，醫醫之方，似難實易，然非片言可明，請於篇內，分析論之。余為醫學界明醫道、求人才、儲良方，即所以為他日開辦醫學堂之HT　矢，不禁痛心疾首，發憤而著此編，名之曰《醫醫醫》，一以寓一字三嘆之意，一則先求有以醫醫之醫也。噫噫噫，醫醫醫，醫豈易言哉！</p>
<p><u>宣統紀元歲己酉秋八月孟今氏撰</u></p>
<h2>卷一</h2>
<h3>朝廷對於醫者之醫方</h3>
<p>名利者，絕技之師，天地生死，人人之具，古今中外，帝王驅遣群倫，培養人才，而轉移風俗之妙用也。聖賢豪傑，或不為利動，而不能不為名動，唯恐不好名之說，不只為三代以下言也。孔子曰：忠信重祿，所以勸士，西漢經學之盛，班孟堅謂是利祿使然。至於唐以詩賦盛，宋以理學經義盛，有明以迄國朝，皆以八股取士。八股至今，至無用當也。而當未廢之前，毋論智愚賢否，莫不竭盡畢生精力以入其中而卒之，以此稱神品，稱能品，號大家名家者不可勝數，以之致大位，擁大富，膺懋賞殊榮者不知幾何。當時未聞有八股學堂也，不過人自為學而已，雖有書院之名，每省不過數區，省外則無幾矣。雖有院長之號，每月不過數課，課外不他問矣。而何以八股之盛於斯也？所謂風會之所趨，而當王者貴也。又實為富與貴之所驅，名與利之所使也，是可藉為醫醫之方也。</p>
<p>八股之外又有卷摺，其　八股，尤為無謂，而當時卷摺人才之盛，亦幾與八股相埒，蓋非工此，雖八股入彀，仍不得與於狀元宰相之榮，於是天下士夫咸相率而成此種人才。各相慮而唯恐不及此種人才。嗚呼，時亦未聞有卷摺學堂也，而卷摺人才之盛又如彼，要亦風會之所趨而當王者貴也。又何莫非富與貴之所驅，名與利之所使哉？是更可為醫醫之方也。朝廷醫官置太醫院，位僅三品，有差俸只百金以外，而又囿於一部，不能流通轉用，以至老死，真所謂不甚愛惜之官也。官猶如此，則所謂醫士醫生者，更無怪世人小道目之，賤工待之矣。稍有聰明才力者，且不屑為，而謂賢智為之乎？雖有豪傑崛起代興，自成名流，而一代不過數人，當其盛名鼎鼎，曾不數聞一字之褒，及其既也，要亦不過列入方技傳中，如扁鵲、倉公、華佗、思邈而已。最可怪者，聖如仲景，史漢並無一傳，尤令人索解不得。當時八股卷摺為富貴之階梯，群既趨於彼矣。今日新學新政為終南之捷徑，群又趨於此矣。而謂辭尊居卑，辭富居貧，別有人才，其人才亦可想見，是皆所以致醫之病也。</p>
<p>醫道較有用於八股卷摺萬萬一，實按之則盡人知之矣，八股卷摺早已可廢，醫道則雖終天地不可廢，乃以早可廢者而曾見其隆盛如彼，以萬不可廢者而轉任其腐敗若此。不知醫者自存何心？對待於醫者又何心也？醫道殊有濟於新政新學亦萬萬，非切言之，則人莫或知也。新政新學似欲以醫舊政舊學之病，非善醫之則雖終天地而仍無濟，乃新政新學今則並舉，而莫敢廢矣。醫道之有濟於新政新學人，今乃猶是，廢莫能舉焉，不知醫者自有何說？對待於醫者又何說？朝廷之置醫官也，豈不以醫之為用衛生治疾已耳。政治無與，焉不知醫之為道，必合格致誠正修齊治平之事而一之，通天地人而貫之，然後可謂之醫。所謂良醫良相，所謂國手，更所謂補天手者，非虛擬之詞，實當然之事，而固有之道也。惜古今中外，醫者思想多不到此，學問向不由此，資格都不及此，遂致對待於醫者，相習而忘之，相忽而輕之，一至於此。</p>
<p>醫不止於衛生治疾已也，即只以為衛生治疾計，雖在常人，亦萬不宜苟且輕忽而托之於庸惡陋劣之手以嘗試。況朝廷之蒞天下也，將以治萬方之疾苦，使無一夫不被其澤，循至天地位而萬物育，所謂一人有慶，兆民賴之。聖躬偶然違和，即屬治於太醫，京師口號國子監之文章鑾輿，衛之刀槍，太醫之藥方誠有概乎言之也，一有不效，則各直省督撫將軍應詔以進群醫，太醫群醫，吾皆聞之熟矣，知之稔矣，封疆大吏又皆非真知醫者，烏得有真是非？亦唯荷朝廷洪福，或藉手以奏功，不可謂非一得之能，一時之幸，然而臨大敵則恐非真將軍矣。王子安與程伊芳川曰：為人子者，不可不知醫。愚則曰：為人臣者，亦不可不知醫。實則凡為人者，皆不可不知醫。所謂知者，又非一知半解之知，必灼見真知之知，乃為知也。</p>
<p>設使朝廷變通醫官，或與封疆台閣並重並用，或與台閣封疆流通轉用，或特設高爵濃祿以寓醫官，專為顧問，天下利病先詔天下學人，凡識字讀書之始，必兼習醫，使醫道治道合而為一。蓋醫道無一不通於治道，治道亦無一不通於醫道，未有不諳治道而能醫病者，亦未有不精醫道而能治國者。治民如治病，良相無異於良醫；用藥如用兵，名醫即可為名將。</p>
<p>興利除害，補偏救弊，理本一源；鋤暴安良，驅邪養正，道原一貫。古今中外，歧而為二，其稱治者，尚非郅治，所號名醫，仍非通醫，誠能貫而通之，則人人皆能自治，皆能治人，皆能治疾，皆能治國，皆能治兵。所謂良相良醫，名醫名將，所在皆是仁壽之宇，無敵之國，大同之世，且將見之如此，而猶慮醫界之人才不輩出，如八股卷摺之盛，吾不信也。轉移風氣，端在朝廷，然總不越乎名與利二者之妙用，故曰：名利者，絕技之師。誠如是也，不特醫學堂無事開辦，即各學堂亦不必設立。只懸名利以為鵠，而高爵濃祿以為招，則人莫不自為學，且將合醫界、學界、政界、兵界而一以貫之，截留無限經費，以待學成者之懋賞，此一本萬殊，萬殊一本，抱一而為天下式之理，非故為高論也。醫道無一不通於治道，雖古今中外大儒名醫未嘗幾見及此，故世多墨墨誠誠，縱觀而博考之，靜按而細繹之，何一端不相通，何一理不相貫，而乃任其苟且輕賤，庸惡陋劣，各相隔閡幾千萬年，無惑乎醫道之不明不行也，今之偏重西醫，與言西人之重醫，皆屬耳食目論，若徒論其解剖、實驗、制藥，良不無一得之長，然解剖亦為吾國先代俞跗、華佗輩所遺，其中得失參半，昧者未嘗索考外篇，已為縷晰言之，若論氣化，則仍如今之中醫茫然如墮五裡霧中，若復望其通治化則更墮百裡霧中矣。又安能語於醫道。伏愿聖人在上，起百代之衰，振千秋之業，通一貫之道，開萬世之利，漸以吾國醫道之衣冠文物輸入列邦，而為開通外人之導線，豈不懿歟！尤有進者，朝廷治化，莫要於賞罰，亦莫先於賞罰。如承明詔，變通醫官，振興醫學，既懸懋賞，以為鼓勵之方。即訂。嚴刑以為濫竽之戒，庸醫殺人，向不論抵此，雖世人苟且輕賤之習有以自召，以致是非成敗，難於稽核，久使庸醫漏網，乃復充斥人間。今必。明諭重申，先令世界之人毋得仍蹈苟且輕賤於醫之習，以自取禍，且當格外隆重以致敬禮，再於地方為立鄉醫、縣醫、府醫、省醫各等醫官名目，而令真能通醫可為國師者，按臨各省，認真考試，或令試於京師，如中式者即錄之而分布各區，一切經費悉由各區社會及地方官合籌分給各醫，總以優裕足贍醫之身家，使得藉以資醫窮乏。其不錄者，仍自歸為醫士，加功探討，以待後日續選，不許即妄與人延醫。更令各區之醫遇證立案，將脈相、證相、治否方法逐一詳列，存之病家，並榜諸通衢，按月分年，報官核驗，以定是非功過，而為賞罰黜陟，然後上之大府，奏之朝廷。若果成效多著，而又能通治道者，即行破格錄用，不次超遷舉主，並予上賞。若仍惡劣如前，以及大不韙者，則即治以應得之罪，或更予以不測之誅，並將舉主連坐，雖功過只論是非，難論成敗，然有真是非者，自必多成鮮敗，雖天之降才各殊，通才談何容易。然能悉照愚方以醫醫，即不能人人合醫道治道為一貫，亦必良醫輩出，多諳治道，一洗前習之陋，是可決也。故上賞者為醫醫之先聲，而嚴罰者又醫醫之後盾也。此者朝廷醫醫之良方也。</p>
<h2>卷二</h2>
<h3>世界對於醫者之醫方</h3>
<p>人生何生乎？莫不生於錢。人生何死乎？莫不死於病。甚矣，生命金錢疾病，三者固互相維系，而變相為用者也。生命重乎？金錢重乎？疾病重乎？非有生命不能有金錢，非無疾病不能保生命，則生命重矣。天之於人，既不能各長其生命，悉與以金錢盡免其疾病，則醫又重矣。醫所以去病衛生也，無論良否，能舍金錢以生乎，抑或天別與醫以金錢乎？奈何世之人壹是皆以要錢為本，壹是皆以一己要錢為本，壹是皆以不愿他人要錢為本，其至一錢如命，或竟要錢不要命，或且得命又思財，此世界之普通病，即所以致醫之病也。在窮乏無告者，猶或可說，而不謂富貴利達者，轉居多數也。可謂不恕之甚矣。非強恕而行世，安得有良醫哉！庸醫殺人，不可勝道，然亦實由重視金錢者之自誤，雖即謂之自殺也。可又況有一知半解者，舍脈論病，舍病論藥，從旁助刀耶。</p>
<p>世之人曰：醫者意也。意為之者也。又曰：醫者，易也。至便至易之事也。此不特門外漢之言，實病醫而誤盡蒼生之言，不知醫之為言，易也，精微廣大有如易道，誠合古今中外事業學問，無有難於此者。孔子曰：人而無恆，不可以作巫醫。恆，常久也。易，卦也。所謂天地之道，恆久而不已也。日月得天而能久照，四時變化而能久成，聖人於其道而天下化成，觀其所恆而天地萬物之情可見矣。恆之時義如此，醫之道亦當如此。醫既為子之所訓，故疾遂為子之所慎，未達不敢嘗之旨，其難其慎為何如乎？自朱子誤注，雖小道必有可觀，章謂小道如農圃醫卜之屬，於是世人更以小道目賤工待之，至重者，不過數金之酬，或只數十百錢呼之即至，且有並此區區而不畀者，一有不效，詬毀隨之，不恕之事莫此為甚。尤可怪者，平時既以小道賤工視之，而臨病時又以神仙望之，豈小道賤工中有神仙游戲耶？自問當亦啞然自笑（醫本於易，章虛穀先生《醫門棒喝》論之精詳，此段發端與章不同，故持論各異，非有出入也。）</p>
<p>小道賤工之名，數十百錢之利，其微末亦至極矣。而謂賢者為之乎，乃欲以求良醫而保生命，不唯不恕，亦且自輕良醫，如何可得？蓋良醫雖不好利，未嘗不自惜名，在病者之意，不過謂病有大小輕重淺深之不同，小者、輕者、淺者何必定求良醫，不知不遇良醫則小者、輕者、淺者必致於大、致於重、致於深，或更致於危險而不可為，此病之常勢也。善衛生者，必謹小慎微而不忽略於輕淺，以故聖人治未病，不治已病，所謂治制於未亂，保邦於未危也。奈何世人只以金錢為重，殆至危險而不可為，則雖有善者，亦無如之何矣。況當是時尚，多不能舍金錢以求保生命於一線，卒之又不能帶入冥中，徒令後人笑其拙。嗚呼，亦可憐矣。</p>
<p>此種可憐情形，古今天下當如恆河沙數，《史記》扁鵲傳謂扁鵲受桑君之術，飲上池之水，視見垣一方人，以此視病，洞見五臟　結，嘗於趙、於虢多著神效，天下盡以為能生死人。及於齊，齊桓侯客之，入朝見曰：君有疾，在腠理，不治將深。桓候曰：寡人無疾。扁鵲出，桓候謂左右曰：醫之好利也，欲以不疾者為功。後五日，扁鵲復見曰：君有疾，在血脈，不治恐深。桓侯曰：寡人無疾。扁鵲出，桓侯不悅，又五日，扁鵲復見曰：君有疾，在腸胃，不治必深。桓候不應，扁鵲出，桓候不悅。五日，扁鵲復見，望見桓候而退走，桓候使人問其故，扁鵲曰：疾之在腠理也，湯熨之所及也；在血脈，針石之所及也；其在腸胃，酒醪之所及也。今在骨髓，雖司命無奈之何，臣是以無請也。後五日，桓候體病，使人召扁鵲，扁鵲已逃去，桓候遂死。使聖人預知微，能使良醫得早從事，則疾可已，身可活也。人之所病病疾多，而醫之所病病道少。故病有六不治：驕恣不論理，一不治也；輕身重財，二不治也；衣食不能適，三不治也；陰陽並，臟氣不定，四不治也；形羸不能服藥，五不治也；信巫不信醫，六不治也。有此一者則重難治也。夫扁鵲，良醫也，桓候，富有之國君也，即使扁鵲好利，桓候非不能應，況扁鵲並無是心，其所以諄諄於桓候者，不過欲神其術以為廣大，名節則或有之，而不意桓候重財輕身，轉以好利疑之，卒致疾發而不可為，殊可哀也。又仲景見侍中王仲宣時年二十余，謂曰：君有病，四十當眉落，眉落半年而死，令服五石湯可免。仲宣嫌其言忤，受湯不服。居三日，見仲宣，謂曰：服湯否？仲宣曰：已服。仲景曰：色候固非服湯之診，君何輕命也。仲宣猶不言，後二十年，果眉落，落後一百八十七日而死。此二事者，所謂聖人治未病也。愚嘗於中風、虛勞兩證輒先諄諄於人，如扁鵲之於桓候，仲景之於仲宣，唯人不曰危詞聳聽，即曰意別有在，卒之皆竟如桓候、仲宣。噫！今天下如扁鵲、仲景者無幾，而如桓候、仲宣者無限，世人其不惜為桓候、仲宣乎？抑不愿為桓候、仲宣乎？或亦望有扁鵲、仲景者乎？自計不可不早。</p>
<p>如必欲生命金錢並保，唯有人人讀書，必兼習醫，且必如吾之所謂醫而後可，不然則不得不聽命於醫。醫欲良乎？否乎？此不待問而知也。諺云：又要馬兒跑得好，又要馬兒不食草，世界那得有是事，世人卻多有是心，此神駿龍駒所以不世出也。</p>
<p>吾不敢謂世之人皆重財也，自世道衰而勢利甚，捐納之途，夤緣之風，弊混之事，日乎天下而不可遏。雖盈千累萬之金錢，亦必亟亟焉謀之而樂為用，甚至傾家蕩產，以及喪恥辱身，曾不稍自顧惜。唯一旦對於醫者，則必反其所為，縱較向所樂用者，不過千萬之一二，仍如出納之吝而不肯少寬假，此最不可解者也。豈不曰以利為利，謀生之事大，而衛生之事小耶。亦何輕重失宜至是耶。</p>
<p>又嘗見夫揮金如土，擲金若沙於嫖賭者矣。當其初入迷途，尚未至於傾家蕩產，父兄或預為嚴責，師友或婉為戒勸，皆不能阻其揮霍浪擲之心。及一旦對於醫者，則又大反其所為，雖區區者亦必靳以與人而卒之家產仍然傾蕩於嫖賭中，或且召染惡疾，或且流為盜匪，並至喪失其身而不悔，此尤不可解者也。然此特無益有損之大者耳，而凡小焉者毋論矣。世之人蓋禁絕無益之用而轉為有益之用哉。</p>
<p>聖人之用財也，自奉儉約，待人豐濃，而於理欲之界，尤嚴防其出入。世人之用財，則反是矣。於欲路上，雖恣用千萬不嫌其多，於理路中，雖偶用一二即謂為過。此聖道所以日衰，世道醫道因此日壞也。然亦間有理欲並用者，則仍是求福免禍之心，非真能繩向理路，上為作用也。如各省官醫局及各贈醫院，皆官界社會，所以分濟貧乏也，局中院中主持醫者，不知果為良否，然一醫日診數十人者有之，且過百診者亦有之，此雖聖神不能如是，是直以為兒戲矣。其中縱或有一得，而究之所失者多，然則官醫局與各贈醫院之設，非仁者與非也，所謂好仁不好學也。</p>
<p>醫本仁術，贈醫局院之發起，亦本仁心，唯不得其道，則轉以仁者之心而反為不仁之事。蓋得一良醫，可以活千萬人，否則，反是何如？得千萬之良醫而全活天下後世無量數之人？此其義雖前人亦偶見及，不過責望醫者之自為良而不能深切著明，醫者之病根，改良醫者之方藥，縱使責望再深，學堂開遍，局院設滿於天下，無當也。《醫醫醫》一篇正所以濟仁者無窮之心，而不使偶有貽誤，稍留缺憾，只須濃籌經費，豐給修火，多聘通醫，嚴訂功過，無論局院，大小病者，多寡限制，各醫一日不得過十診，並須隨證詳立脈相病情、治否方法，以及一切禁忌，交給病患，仍一面注冊存之局院，按月分年合榜通衢，以待官府考核。</p>
<p>照此章程逐漸擴充，由省會以及各府州縣，自城市以至各鄉村落，一省如此，直省皆然。除富濃者足以自行奉請外，其有不能設立局院者，即合一區之眾，預為濃集養醫之費，或論年月給奉，或臨時分診給奉，皆可取之公中，總使醫者足以贍其身家而有餘，並一洗從前苟且輕賤之習，則天下隨處皆良醫，天下病者亦皆全活而無患矣。</p>
<p>《醫醫醫》一篇，非特欲世界之人皆無疾病，醫盡良醫，且更望人人皆為聖賢。人生富貴不可必，神仙不可求，而疾病則可卻，聖賢亦可為也。古今天下之病，推而廣之，不知幾千萬種，而一證又千頭萬緒，差之毫厘，謬以千裡，誠不易言醫治。約而言之，又不過外感、內傷兩病，外感則風、寒、暑、濕、燥、火六淫之氣為之，內傷則喜、怒、哀、樂、愛、惡、欲七情所發，合之所謂十三因也。然人能慎起居而適其寒溫，自可以卻外感，且外感除傷寒兩感、溫疫四感與中風之直中臟者，則俱可以不死，而世之多死於外感者，皆醫藥誤之也。內傷則無不死者，何也？本非草木無情可治也。間嘗竊論神農、黃帝、岐伯、仲景為外感之國手，若內傷則孔孟為國手，降而宋儒、明儒，旁及老莊、佛氏亦內傷之好手，其書千言萬語，莫非治人性情，洵為內傷良藥。惜古今天下人無一善讀而覺者，古今天下醫更無一夢見而覺者，故死於內傷者又不知何限。今特為世界醫界大放光明，如此於岐景孔孟之書以及各大家諸大儒之語論一一尋繹，融會深長思之，則外感內傷無不畢治矣。明儒呂新吾先生有曰：以淡食為二陳，以寡欲為四物，以清心省事為四君子，無方之藥，不名之醫，取諸身而已。旨哉斯言，庶幾與吾不謀而合，惟惜闡發未盡耳。吾嘗於內傷之證，輒先以言語之藥為治，其情並屬病者，以情治情，無如皆以為迂腐，不但不服此方，且非笑之，而唯乞靈於草木，曷可得耶？世界之人如不愿輕身重財也，則請悉遵吾方以醫醫，良醫自必輩出，以應所欲。如仍生命財產並重也，則唯人人多讀書而兼習醫，合醫道治過而為一貫，更以自治而漸進於聖賢之室，循致默化列強競爭之病而合中外為大同之世，勿謂聖賢不可為也。顏淵曰：舜何人也？予何人也？有為者亦若是。公明儀曰：文王，我師也。周公豈欺我哉。曹交曰：人皆可以為堯舜。孟子曰：堯舜與人同耳。又曰：聖人與我同類也。此皆為聖賢之方藥也。疾病云乎哉，若以為徒為高論，是不為也，非不能也，吾未如之何也已。</p>
<h2>卷三</h2>
<h3>醫者自醫之醫方</h3>
<p>讀書宜識字，顧名即思義，人事盡如斯，少弊自多利。</p>
<p>今醫者滿天下矣，試問以醫字作何解說，莫不張口茫然，如墜煙霧。字且不識，而欲其技之良、道之精，得乎？醫之字義從匚從矢從　從酉。匚受物之器，受矢於器為醫。《說文》訓為「盛弓弩短矢器」，加　於右上，　亦兵器，下復從酉，酉，古酒字，古為毒物，故大禹絕之（石頑謂為從古服藥多以酒助，非也）。神農嘗毒，經謂藥多為毒物，凡治某病皆謂以某藥毒之，《內經》亦多如此，即以毒攻毒之義，可見醫之為用盡傷人之具矣。病者既積矢　、毒酒之屬於一身，其危已可想見，醫者如再不慎之又慎，不更危乎其危乎？黃帝以治兵之余治病，於是醫字下筆從醫，國語兵不解醫本此所謂用藥如用兵也，凡欲為醫者，可不知所從事哉？古之醫者，人皆神聖而又貴為天子，富有四海，或為大臣，如歧伯、伊芳尹是，或為達官，如長沙太守仲景是。大臣達官雖富貴不逮天子，而身家皆自優裕，得以專一於醫，而無別慮縈擾，且復藥皆自嘗自備（今之西醫、東醫亦自備藥，頗合吾國古法，此其一得），一遇病者，無不應手奏效。蓋先於經絡臟腑，洞見　結，更於氣化傳變，預為防制，非若今之西醫，必待其人死後，購而剖解，始知其病之所在，自以為實驗，人亦莫不以為然，然究不知其病之所在也。人唯有生氣，方有氣化傳變，既死則氣已絕而無跡可尋。如咳嗽病，有因外感，有因內傷，有因外感而變成內傷，或只關本臟，或為火刑金，或為子累母，或為母累子，或不能勝其所勝而轉使勝其所不勝。《內經》所云：五臟皆令人咳，甚則移傳六臟。此皆古聖神人明氣化傳變之理，傳之至今，歷歷不爽者也。西醫則剖解後見肺葉焦枯，或且潰爛，遂只名之曰肺炎。凡遇咳嗽，概以肺炎治之，無論寒熱有異，即只以肺炎論，亦不知其炎之由於心，由於腎，由於脾胃與肝膽，徒執一本位為治。無怪其多不效，而轉以為本不治，是皆由於不明五運六氣以及脈息之確有可憑，故雖至死亦不知病之所以然。今之重視西醫、從學西醫者，直與西醫同夢，吾所以為醫者立自醫之方，並欲以開通西醫者，以其一也。類乎此者，不知凡幾。</p>
<p>又如尋常瘧疾，寒熱來往，作止有時，一證既有，來往之名必有來往之處，來從何作？往從何止？醫者昧昧，漫不加察，雖中古以後之名大家亦皆不知其病之所在，稍賢明者，不過能分十二經絡，或陰或陽，於邪來時，所注重之經界，經界既正，則藥力專到，不致累及無辜。然必既專且久，邪始漸衰而退，非能直指病之來源也。下此則皆囫圇亂治，抄撮本證數方投之，或以止截為功，或當邪衰自愈，以故病瘧者無不經年累月受害。西醫亦只知以金雞納霜截之，然亦有效有不效（陰虛者，則多不效，且不宜服）。即使收效一時，後必再發，更或變生他證而不可救，吾見不可殫述。豈知凡病皆不離經絡、臟腑，唯此病若不在經絡、臟腑而別有所寄發作時，始由經絡而臟腑，退止時又由臟腑而經絡而止其所休焉。以時來往者，則又胃氣為之也。胃於五行屬土，於五德屬信，故有信若潮，如人飢則思食，皆胃之日信，與婦女之月信同。然此雖予一人之私言，然實體驗有得，聖人復起不易吾言矣。《內經》陰陽瘧論，歧伯曰：瘧之將來也，陰陽之且移也，必從四末始也，堅束其處而決去之。只此四語，賊情，賊蹤，賊窟，治法無不畢具。如法為之，無論何瘧，莫不霍然，所謂搗其老巢，老賊淨盡，非聖人而能若是乎？非真洞見臟腑經絡而能若是乎？又何須效西醫之剖解而始為實驗耶！恐雖剖解，亦莫名其妙也。</p>
<p>今特為醫者揭之，以為自醫醫人最便宜方，更以開通西醫，使知吾國古聖人之法，不事剖解，向能洞見經絡臟腑之神（此證唯張子和、喻嘉言見及經旨，惜皆不能篤守聖法而雜出多方）。</p>
<p>今之醫者，大率下愚者多，其較古之聖神不知幾千萬裡。且又皆讀書不成，別業不就，無聊之極，思始遁於醫之一途。於是聖神與天地參之道，遂變為至愚無聊者之逋逃藪，況當世界，苟且輕賤之積習牢不可破，其欲以為利者亦未矣。或別有會心者藉此以夤緣入官，遇上官病，或其家屬病，不俟延請，行同毛遂，時運一至，偶然幸中，美差優缺，紛至踏來，上官亦最樂，此所謂惠而不費也。富貴逼人，亦常有事，是則不必問其道之若何矣。若其不善夤緣，又無真實本領，不過聊為糊口計，且有時並口亦不能糊，徒見輕鄙於世界，且並貽譏於外人，以為吾國醫者如是，任意推測古聖之道，亦不過如是言。念及此，吾又不愿人之再業此，如果有發憤而欲為此者，則請相率而進吾之方，毋慮其愚也，以學愈之，毋慮其貧也，以勤儉愈之，毋慮其糊口不能也。以夷齊首陽之日孔子在陳之時較之，雖餓死事小也，能如是天下何事不可為乎？則再請進吾之多方更以自醫。</p>
<p>醫道務從正心博學為體，而以繼往開來為用，其間息邪說，距　行貫治道功夫，亦萬不可少。若徒以日診數人，月好數病，年活多人為畢能事，而於國家元氣，天下　毫無所裨，人雖視我甚重，自待未免尚輕，良醫良相之說，非虛語也。燮理陰陽，且足以彌天地之災，於人事更無論矣，相位不可必期，道理要歸一致，出位之思君子，當不禁此，且不必問朝廷世界對待醫者何如，而只裕吾胞與之懷時，切飢溺之思尤於貧賤，富貴不易其心，所謂寧可人負我，不可我負人，此正心之說也，即自醫之第一方也。</p>
<p>博學人於識字讀書之始即以《靈》、《素》、《內經》、《難經》、《傷寒論》、《金匱玉函經》、《甲乙經》、《活人書》、合《四子》、《五經》、《爾雅》先後並讀，更於性理經濟書多讀，然後再讀《神農本草經》、《長沙方》，經唐、宋、金、元、明代、國朝各大名家著述，以及歐亞之《儒門事親》，西醫五種廣學匯編，英國產科諸書擇其大要者，次第閱之。其余如《千金》、《外台》、《聖濟總錄》、《證治準繩》、《古今醫統》、《名醫類案》、《三因方》之類，不過為醫家之大類書，略為涉獵，以備參考可耳，至若邪說　行，有乖聖道古法而誤世者，則概從閣置，或直以從火，唯讀時須精考古書之簡脫，與後儒之參附者，勿使為其蒙蔽而貽誤，尤須於經史子集中不明言醫而於醫道有合者，心領而神會之，所謂無字句間之醫也。此博學而又須善學人也，自醫之第二方也。</p>
<p>學醫最忌先看本草與各方書，一經寓目，即可略識藥品，聊記湯頭，湊雜成方，於天地陰陽五運六氣，全無理會，於人身經絡臟腑、病機脈情，毫無覺察。一遇病者，遂覺技癢，為之延醫，偶然幸中，自鳴得意。人有見之，亦謂知醫，於是誤盡蒼生，終無入道之日。今之醫者大都如是。況所閱本草，既非《神農本經》所見，方書又非古聖經方，不過坊間所刊俗本，如《本草備要》、《醫方集解》、《驗方新編》、《三指禪》、《筆花醫鏡》、《萬病回春》、《馮氏錦囊》、《東醫寶鑒》、《醫宗必讀》之類，此種最易誤人之書，卻最盛行於今之世，幾於家置一編，以為醫道盡於此矣。況且並此種類，亦未盡讀熟讀，凡有病家必為彼輩先試其手，及至輾轉貽誤，始思一延名醫，而時所謂名醫者，又不過薛立齋、趙養葵、張景岳、李士材、陳修園之徒。然其自命亦頗不凡，意謂較多讀書，總屬儒醫，其實於醫道仍是隔靴搔癢，不知取法乎上，僅得其中，取法乎中，品斯下矣。又況等而下之耶，有志醫道，其唯從吾息邪說距　行而直入於聖人之室。</p>
<p>學醫尤忌誤解《傷寒論》，案仲景自序云：作《傷寒雜病論》合十六卷，原為萬病立法，所謂法者，即六經氣化傳變，而方藥隨之而變之法也。以六經提綱者，使醫者必先明六經經界，則萬病不外乎六經。唐宋以來，致力於《傷寒論》者無慮百數十家，究其所作，不出二義。</p>
<p>一則因本文為之注疏，猶公穀之說春秋，一則引本文而為立論，猶韓嬰說詩。外傳非多，以辭害義，即失斷章取義。自王叔和編次傷寒、雜病分為兩書，於本論削去雜病而論中雜病又存，而未去者尚多，且參以私意，紊亂仲景原文，改頭換面不少，以致世之讀《傷寒論》者謂能治傷寒即能治雜病，遂多以雜病當傷寒，以傷寒概雜病而混治之。不知天下之病雜病多而傷寒少，如地當西北，時當嚴寒，或多傷寒，外此則皆雜病矣。若地當東南，則雜病溫病為多，即時當嚴寒亦不過感寒冒寒而已。醫者不明六經之法是統傷寒雜病而論，只以治傷寒之方藥概治雜病，而不知以六經之法分治雜病，此皆叔和階之厲也。叔和序例所引</p>
<p>《內經》，莫不增句易字，況仲景耶！欲識真仲景者，當於原書本論逐條察其筆法，知考工記自不合於周官，褚先生大不侔於太史，世皆以《金匱要略》為仲景《雜病論》，有若似聖人唯曾子以為不可耳。柯韻伯《傷寒論翼》辨之最精且詳，吾敢附於柯曰：王叔和者，岐伯、仲景之罪人，而後世醫道之蝥賊也。雖《金匱》由叔和而始彰，其功亦不可沒，然究功不掩罪，有志醫道者，不得仲景《傷寒雜病論》原本十六卷而讀之，慎勿以傷寒之藥治雜病而誤盡蒼生，幸甚幸甚。</p>
<p>學醫必須講究氣化傳變，欲知氣化傳變又必先明陰陽，切忌混論陰陽，不分六經經界。臟腑固分陰陽，而一臟又各有陰陽，一腑亦各有陰陽，俱宜逐臟逐腑一一釐清，氣化傳變始能分曉。此在古名大家已少概見，今世中外業此者更無。徒夢見人身只陰陽兩端，一病則千頭萬緒，非能先正經界，鮮不墮入迷途，差之毫厘，謬以千裡，世之學人既不曾聞大道，又不力追上乘，只以苟且從事，因陋就簡，謬以襲謬，歧之又歧，全不知氣化為何事，何能夢岐景耶！不能窺見岐景，又何能與論醫道耶！君子之道，辟如行遠必自邇，辟如登高必自卑，所謂下學而上達也。若夫醫道，則必上學而旁達，篤守古聖之法，然後旁通四達，以斯推展博大而收土壤細流之助，仍不出古聖范圍，方為醫學正宗。</p>
<p>學醫更須知凡病是隨臟腑之氣而變，又隨藥氣而變。如太陽惡寒，非必傷寒始惡寒也，無論風寒濕暑燥火，邪氣一入太陽，無不惡寒。蓋以太陽本寒水經，邪入觸動寒水之氣，遂自惡寒。陽明發熱，非必中熱即發熱也，陽明為南方火部，無論何邪，一入陽明，未有不發熱也。如入少陽，少陽為太陽陽明轉樞，在半表半裡之間，故又有寒熱往來之勢。或又隨藥氣而變使然。不然，何以傷寒在太陽有桂枝麻黃等方，一入陽明、少陽又有葛根、白虎、承氣、大小柴胡等方，是一經界中已有在經在臟在腑之別。若邪未入陽明，尚在太陽，一用葛根未有不入陽明也。尚在太陽或在陽明，一用柴胡未有不入少陽也。是皆臟腑氣化傳變與藥氣傳變之故也。不獨傷寒為然，雜病亦莫不然。不獨三陽為然，即六陽六陰亦莫不然。</p>
<p>仲景《傷寒雜病論》先以六經提綱者，亦此之故，雖未條分縷晰，善學人，要當善悟而三反也。世之混論陰陽，只論寒熱虛實者，何能語於醫道？而況乎能辨寒熱虛實者亦寡矣，學人可不知所務乎？西醫不亦聞所未聞乎！用藥如用兵，兵法之要在明地勢，用藥之要在明經界。凡治病必先明六經之界，始知賊邪所從來，知某方是某府來路，某方是某郡去路。來路如邊關三陽是也，去路如內境三陰是也。六經來路各不同，太陽是大路，少陽是僻路，陽明是直路，太陰近路也。少陰後路也，厥陰斜路也。客邪多從三陽來，主邪多由三陰起。猶外寇自邊關至，亂民自內地生也。明六經地形，始得握萬病之樞機；詳六經來路，乃能操治病之規則。如傷寒，大寇也，病從外來；中風，流寇也，病因旁及；雜病、內病，亂民也，病由中起，既認為何等之賊，又知為何地所起，發於其境，便御之本境，移禍鄰郡，即兩路來攻，如邪入太陽地面，即汗而散之，猶陳利兵於要害，乘其未定而擊之也。邪之輕者在衛，重者在營，尤重者在胸膈。猶寇之淺者在關外，其深者在關上，尤深者在關內也。是麻黃為關外之師，桂枝為關上之師，大小青龍為關內之師矣。凡外寇不靖，內地盜賊必起而應之，因立兩解法，故又有大小青龍及桂枝麻黃加減諸方。如前軍無紀，致內亂蜂起，當重內輕外，因有五苓、十棗、陷胸、抵當等湯也。邪入少陽地面，宜雜用表裡寒熱攻補之品，為防御和解之法，如偏僻小路利於短兵，不利於矛戟，利於守備，不利於戰爭也。邪之輕者入腠理，重者入募原，尤重者入脾胃，小柴胡腠理之劑也，大柴胡募原之劑也，小建中、半夏瀉心、黃芩、黃連四湯少陽脾劑也，柴胡加芒硝龍牡二方少陽胃劑也。如太陽少陽有合並病，是一軍犯太陽，一軍犯少陽矣，用柴胡桂枝湯是兩路分擊之師也。甚至三陽合並病，是三面受敵矣，法在獨取陽明，陽明之地整肅，則太少兩路之陽邪不攻自解，但得內寇寧而外患自息，此白虎之所由奏捷耳。若陽邪一陷於內地，用大承氣以急下之，是攻賊以護主；若陰邪直入於中宮，用四逆湯以急救其裡，是強主以逐寇也。陽明為內地，陽明界上即太陽少陽地面，邪入陽明之界，近太陽地面，雖不犯太陽，太陽之師不得坐視而不救，故陽明之營衛病即假麻黃桂枝等方以汗之。邪近少陽地面，雖不入少陽，少陽之師不得高壘而無戰，故陽明之腠理病即假柴胡以解之。是陽明之失守，非太陽之不固，即少陽之無備，所以每每兩陽相合而為病也。若邪已在陽明地面，必出師奪擊，以大逐其邪，不使少留，故用桅鼓瓜蒂之吐法以迅掃之。若深入內地，不可復驅，則當清野千裡，使無所標掠，是又白虎得力處也。</p>
<p>若邪在內庭，又當清宮除盜，此二承氣所由取勝，加茵陳豬苓輩又為失紀之師立法矣。太陰亦內地，少陰厥陰是太陰之夾界也。太陰居中州，雖外通三陽而陰陽既已殊塗，心腹更有膈膜之藩蔽，故寒水之邪從太陽外屬者輕，由少陰內受者重。風木之邪，自少陽來侵者微，因厥陰上襲者甚。又本經主邪轉屬陽明而為實，猶師老勢窮，可下之而愈。如陽明實邪轉屬本經而成虛，則邪盛正衰，溫補挽回者甚難。蓋太陽陽明地面雖分，並無阻隔。陽明猶受敵之通衢甲兵所聚四戰之地也。太陰猶倉稟重地，三軍所依，亦盜賊之巢穴也。故元氣有餘，則邪入陽明，元氣不支，則邪入太陰。在陽明地面則陳師鞠旅可背城借一取勝，須臾在太陰地面則焚劫積蓄，倉稟空虛，　腹之士無能御敵矣。厥陰之地，相火游行之區也，其平氣則為少火，若風寒燥濕之邪一入其境，悉化為熱，即是壯火。其少火為一身之生機，而壯火為心腹之大患，且其地面通達三焦，邪犯上焦則氣上撞心，心中疼熱，消渴，口爛，咽痛，喉痹。逼入中焦則手足厥冷，脈微欲絕，飢不欲食，食則吐蛔。移禍下焦則熱利下重，或便膿血，為害非淺，猶跋扈之師也。烏梅丸方，寒熱並用，攻補兼施，通理氣血，調和三焦，為平治厥陰之主方，猶總督內地之大師也。其與五苓以治消渴，茯苓甘草湯以治水，炙甘草湯以復脈，當歸四逆以治厥，是間出銳師分頭以救上焦之心主而安神明也，用白虎承氣輩清胃而平中焦之熱實，白頭翁四逆散清脾而止下焦之熱利，是分頭以救腹中之陰而扶胃脘之元氣耳。胃為一腑而分陰陽二經，少陰一經而兼。</p>
<p>陰陽兩臟者，皆為根本之地故也。邪有陰陽兩途，臟分陰陽二氣。如陽邪犯少陰之陽反發熱、心煩、喉渴、咽痛；陽邪犯少陰之陰，則腹痛、自利，或便膿血；陰邪犯少陰之陽，則身體骨節痛，手足逆冷，背惡寒而身蜷臥；陰邪犯少陰之陰則惡寒、嘔吐、下利清穀、煩躁欲死。</p>
<p>仲景制麻黃、附子、細辛、黃連、阿膠、甘草、桔梗、豬膚、半夏、苦酒等湯，御陽邪犯少陰之陽也。制桃花、豬苓等湯御陽邪入少陰之陰也。附子、吳茉萸、四逆等湯御陰邪犯少陰之陽也。通脈四逆、茯苓四逆、乾薑附子等湯御陰邪入少陰之陰也。少陰為六經根本而外通太陽，內接陽明，故初得之而反發熱，與八九日而一身手足盡熱者，是少陰陽邪侵及太陽地面也，自利純清水、心下痛、口燥、舌乾者，少陰陽邪侵及陽明地面也。出太陽則用麻黃為銳師而督以附子，入陽明則全仗大承氣而不設監制，猶兵家用向導與用本部不同法也。其陰邪侵入太陰則用理中四逆加入尿豬膽等法，亦猶是矣。此傷寒六經正治之法，所謂層層節制，步步為營也。若夫傳經之邪，必先奪其未至，所以斷敵要道也。橫暴之邪必急保其未病（如中風證必為填竅），所以守我岩疆也。挾宿食而病者，先除其食，則敵之資糧已焚。</p>
<p>合舊疾而發者必防其並，則敵之內應既輕，別經界而不誅伐無過，此之謂王者之師。因寒熱而有反佐之方，此之謂行間之術。一病而分治之，則用寡可以勝眾，使前後不相救而勢自衰。數病而合治之，則並力搗其中堅，使離散無所統而眾悉潰。病方進，則不治其太甚，固守元氣，所以老其師。病方衰，則必窮其所之更益精銳，所以搗其穴。虛體之邪攻不可過，衰敝之日不可窮民力也。實邪之傷攻不可緩，富強之國可以振武威也。然而選材必當，器械必良，克期不愆，布陣有方，此又不可更仆數也。孫武子十三篇治病之法盡之矣，《靈》、《素》兩經、《傷寒雜病論》十六卷，治兵之法亦盡之矣。</p>
<p>國朝惟柯韻伯、徐洄溪兩先生見及此義，言之甚詳，學人誠能究心歧景，先明經絡臟腑、六經氣化傳變，而用藥如用兵，神明於規矩之中，誰謂名醫不即名將哉！世言強兵者可不知醫哉？病有萬端，其實不過外感、內傷兩病，再推展之，外感不過六淫之氣，內傷不過七情之害，所謂十三因也。治外感則歧景為國手。治內傷則孔孟為國手，降而宋儒、明儒以及老莊釋迦，古今大詞章家（詩古文詞佳者，大可感發人之志氣，宣暢性情，時一為之，亦足抒寫郁抱）。它如各國諸哲學家亦皆治內傷好手，學人誠能祖述歧景，憲章孔孟，旁及諸子百家，則外感內傷無不畢治。此雖創論，實是至理。聖賢千言萬語，無非使人節制性情，發抒性情。喜怒哀樂之未發謂之中，發而皆中節謂之和。致中和天地位焉，萬物育焉，天地位而萬物育，又何有於七情之害，《論語》二十篇孔聖答諸賢之問，莫不各就其性情之偏而醫之，</p>
<p>《孟子》七篇，七年之病，三年之艾，如恥之莫若師文王與夫好勇、好貨、好色之喻，心不若人則不知惡之類，亦皆因其所病而醫之，此非孔孟治內傷之聖劑哉？類推者不可殫述，奈世人皆不知服此等藥，以為自治而入聖賢之階，有內傷者仍不肯服此等藥，以為自治其情之劑，而唯乞靈於草木。不知草木之品，神農、黃帝、岐伯、仲景所以治外感也，若內傷則必須服聖賢語言之藥，以情治情，自為節制，或藉草木之品，聊與宣通血氣，始為治內傷者之至良法。醫者苟能預諸此等良方，遇內傷者即以投之。內傷者如能順受其治，則世界自無不治之內傷，且皆以自治而入聖賢之途，學人當亦聞所未聞也，西醫不更聞所未聞乎。</p>
<p>內傷即虛勞證，方書列於中風之後，中風為外感第一難治，虛勞為內傷第一難治。以風為賊，邪行速而數變，如疾風豪雨，其來也驟，猝不及防。然唯直中臟者不治，若中經絡、血脈與中腑證尚皆可治。而虛勞則皆不可治，何也？一由病者向所見聞，失血之證終成虛勞而不可救，今忽己身患此，不免心驚，病一入心，已不易出。醫者又見患此證者終亦必亡，只為敷衍，不與深求，既不知進以聖賢語言之藥，而只以草木之品雜亂投之，又不能層層節制，步步為營，徒為見血止血，見咳治咳，見熱治熱，混論陰虛陽虛，任意滋陰補陽，而不審其血之何由失。蓋吐血者陽絡破也，下血者陰絡破也，雖吐逆而下順治法難易攸分，然其破絡則一。人身只血氣兩端，日夜循行經絡軀殼，周流無間，何故破絡而出？必先切察其出之因，按經循去，即為止血。血止之後，已離經而吐未盡之血，與吐時所過絡口黏滯之血，皆為瘀血，此種瘀血為害最大，而隱不去其瘀，則日夜循行經絡之血所過瘀積之地必致瘀結日甚，一旦有所感觸，不論外因、內因，又必破絡而出，則絡口日大，瘀結更多，屢發則絡口愈大，瘀結愈多。如地方積匪不去，則必擾害良民，勾結黨援，盤踞日堅，乘機竊發，往往決裂而不可治。故必止血之後，即與去瘀，分別經界絡口，各為掃除淨盡，隨即更與補絡，乃稱完善。不然，罔不復發，發之不已，罔不危殆？愚於此證必為大聲疾呼，先與訂明止血、去瘀、補絡三法，並諄諄以聖師語言之藥，使其自治其情，以竟全功。能遵法者，無不收效，而藐藐自誤者亦復不少，吾未如之何也。已治此證者，元代葛可久，國朝徐靈胎、葉天士先輩，俱為世所推重。然《十藥神書》與《葉氏醫案》皆無深切著明之義，唯《洄溪醫案》瓊玉膏方論尚覺高簡有法，惜仍未盡其法耳。奈失血者求醫，只求止血而已，醫者亦只知止血為能事畢矣。去瘀之論，前賢中或偶一見，及補絡之議，則直前無古人。但愿後有來者，合以吾創立聖賢語言之藥方為內傷失血而成虛勞者，一一次第，先後以盡法度，則世無不治之內傷矣，豈非世界醫界之大幸哉。聖人復起，當不狂悖吾言，中醫西醫與世之病此者，其謂然乎？其不謂然乎？有此棒喝，雖在夢酣，皆當警醒（本草方書至多，皆無明白補絡方藥，必須化裁成方，已詳《醫醫醫外編》。本證門中，茲不贅見）。</p>
<p>學醫不可為古人所愚，亦不可為古人所囿。蓋古書流傳日遠，雖聖經不免有後人參附錯簡者，非明眼人不能分辨，比不可為所愚也。若夫古今有變遷，病情亦有變遷，有古人多此病，今人少此病，古人無此病，今人多此病（《醫醫醫外篇》已為詳列古今各證門中）。</p>
<p>又漢以後之方書，所云不治者，今非必皆不治也，必須神明變化，殫慮竭思，以盡其法。如湯液不治者，或針灸可治，針灸不治者或又湯液可治，此不可為古人所囿也。古人立言，或一時不盡其詞，或散佚不盡其傳，此正古人留余地，以待後之學人。況《內經》治病之法，針灸為本而佐之以砭石、熨浴、按摩、導引、酒醴等法，病各有宜，缺一不可，今世只一湯劑了事。</p>
<p>湯者，蕩也，其行速，其質輕，其力易過而不留，唯病在經絡、營衛、腸胃者其效最速，其余諸平病有宜丸者，宜散者，宜膏者，非各適宜則難奏效。若邪在筋骨肌肉之中，則病屬有形，藥之氣味不能奏功也，必用針灸等法以適其宜，而委曲施治，病始無遁形。《靈》《素》兩經，其詳論臟腑經穴疾病等說，為針法言者十之七八，為方藥言者十之二三。上古之重針法如此，然針道難而方藥易，病者亦樂於藥而苦於針，所以後世方藥盛行而針法不講。今之為針者，其顯然之失有十，而精微尚不與焉。兩經所言十二經之出入起止，深淺左右，交錯不齊，其穴隨經上下，亦參差無定。今人只執同身寸，依左右一直豎量，並不依經曲折，則經非經而穴非穴，此一失也。兩經治病，云某病取某穴者固多，其余則指經而不指穴。如《靈》終始篇云：人迎一盛，瀉足少陽補足太陰。厥病篇云：厥頭痛，或取足陽明太陰，或取手少陽足少陰，耳聾，取手陽明，嗌干取足少陰。皆不言某穴，其中又有瀉子補母等義。今則每病指定幾穴，此二失也。兩經論治，井滎輸經合最重，冬刺井，春刺營，夏刺輸，長夏刺經，秋刺合，凡只言某經而不言某穴者，大都皆指井滎五者為言，今則皆不講矣，此三失也。補瀉之法，《內經》云：吸則內針，無令氣忤，靜以久留，無令邪布，吸則轉針，以得氣為度，候呼引針，呼盡乃去，大氣皆出，為瀉；呼盡內針，靜以久留，以氣至為度，候吸引針，氣不得出，各在其處，推闔其門，令神氣存，大氣留止，為補。又必迎其經氣，疾內而徐出，不按其　，為瀉。隨其經氣，徐內而疾出，即按其，為補。其法多端，今則轉針之時，以大指推出為瀉，搓入為補，此四失也。納針之後，必候其氣。刺實者，陰氣隆至乃去針，刺虛者，陽氣隆至乃出針。氣不至，無問其數，氣至，即去之，勿復針。《難經》云：先以左手壓按所針之處，彈而努之，爪而下之，其氣來如動脈之狀，順而刺之，得氣因而推內之，是謂補，動而伸之，是謂瀉。今則時時轉動，俟針下寬轉而後出針，不問氣之至與不至，此五失也。凡針之深淺，隨時不同，春氣在毛，夏氣在皮膚，秋氣在肌肉，冬氣在筋骨，故春夏刺淺，秋冬刺深，反此有害。今則不論四時分寸有定數，此六失也。古之用針，凡瘧疾、傷寒、寒熱、咳嗽一切臟腑七竅等病，無所不治，今則只治經脈、形體、痿痹、屈伸等病而已，此七失也。古人刺法，取血甚多，《靈樞》血絡論言之最詳，而頭痛、腰痛，尤必大瀉其血，凡血絡有邪者必盡去之，若血射出而黑，必令主色見赤而止，否則病不除而反有害。今則偶爾見血，病者醫者已俱惶恐失據，此八失也。《內經》刺法有九變、十二節。九變者：輸刺、遠道刺、經刺、絡刺、分刺、大寫刺、毛刺、巨刺、　刺，十二節者：偶刺、報刺、恢刺、齊刺、揚刺、直針刺、輸刺、短刺、浮刺、陰刺、傍刺、贊刺。以上二十一所，視病所宜，不可更易。一法不備，則病不愈，今則只直刺一法，此九失也。古之針制有九，　針、員針、堤針、　針、鈹針、員利針、毫針、長針、大針，亦隨病所宜而用，一失其制，則病不應。今則大者如員針，小者如毫針而已，豈能治痼疾暴氣，此十失也。大端之失已如此，而其尤要者更在神志專一，手法精嚴，經云：神在秋毫，屬意病者，審視血脈，刺之無殆。又云：經氣已至，慎守勿失，深淺在志，遠所若一，如臨深淵，手如握虎，神無營於眾物。又云：伏如橫弩，起如發機，其專精敏妙如此。</p>
<p>今之醫者隨手下針，漫不經意，即使針法如古，志不凝而機不達，猶恐無效，況全與古法相背乎？此外尚有先後之序，迎隨之異，貴賤之殊，勞逸之分，肥瘦之度，多少之數，抉發難數，果能潛心體察以合聖度，必有神功。其如人之畏難就易，盡違古法，所以世之視針甚輕，而其術亦不行也。若灸法則較針所治之病不過十之一二，知針之理則灸又易易耳。此</p>
<p>《醫學源流》所以鄭重分明言之，不憚煩者，甚望學人勿誤入歧途，而轉失古聖之正傳也。</p>
<p>醫道最可怪而又可笑者，莫如內外分科，不知始於何時何人。試思人身不能外經絡、軀殼、筋骨、臟腑以成人，凡病變不外六淫七情以為病，試問外科之證，何一非經絡臟腑所發？原無所謂內外也。若不深明六氣、七情、五運、六經經界，兩科中皆不得立足，未有能治內科而不能治外科，亦未有能治外科而不能治內科者也。在前人之分之者，不過以醫道繁難，通才不易，分之欲其專精。不謂世之各執其業者，竟如分門別戶，不相通問，如畫鴻溝而東西卒之，專門名家皆不可得，似乎業內科者，可以不必多讀書，只奉《醫方合編》以為秘本，即號精理內科。業外科者，更可不必多識字，只須略辨之無聊，記敗毒、拔膿、生肌、收口數方，即號精理外科。於是顯然為內證者即屬內科治之。顯然為外證者即屬外科治之。</p>
<p>其有病在腹中，內外皆未顯然，而患又最深大，如所謂腹內癰者，則又將誰屬哉？腹內之癰，又有數證，有肺癰，有肝癰，有胃脘癰，有大小腸癰，有膀胱癰。唯肺癰咳吐腥痰，人猶易辨，余則或以為痞結，或以為瘀血，或以為痰積、食積，醫藥雜投，卒莫知病，及至成膿，治已無及。並有不及成膿而死者，病者醫者始終不知何以致死，比比然也。今先為辨明痞結、瘀血、痰積、食積之狀。凡痞結瘀血，必有所因，且由漸而成。痰積則痛止無定，又必別現痰證。食積則必有受傷之日，且三五日後大便一通即解。唯外證則痛有常所，而遷延日甚，《金匱》云：諸脈浮數，應當發熱而反淅淅惡寒，若有痛處當發其癰，以手按腫上熱者有膿，不熱者無膿。此數句乃內癰真諦也。又云：腸癰之為病，身甲錯，腹皮急，按之濡如腫狀，腹無積聚，身無熱是也。若肝癰，則脅內隱隱痛，日久亦吐膿血。小腸癰與大腸相似而位略高，膀胱癰則痛在少腹之下近毛際，著皮即痛，小便亦艱而痛。胃脘癰者，有虛實二種，實者易消，若成膿必大吐膿血而愈；唯虛證則多不治，先胃中痛脹，久而心下漸高，其堅如石，或有寒熱，飲食不進，按之尤痛，形體枯瘦，此乃思世傷脾之證，不待癰成即死。故凡腹中有一定痛處，惡寒蜷臥不能食者，皆當審察，防成內癰，慎毋因循求治於不明之人，以致久而膿潰，自傷其生也。又有邪留經絡致成刖足，傷寒瘀留經絡致成背胸奇痛等證，今之外科名手與西醫之向稱善治外證者，其知此乎？或云跌打刀傷可屬外科似也，然跌打刀傷之頃尚屬外證，以後而潰氣散，或血瘀氣滯仍屬內科，蓋人身只氣血兩端，終不能分內外也。唯望分業內外者仍合內外為一貫，而精深以求之。至於婦人一科，不過多胎產兩端，小兒一科則已七情之病，而世更有分之者，不唯不見專精而轉少，使因陋就簡，又何為哉。</p>
<p>近年，閩廣時疫流行，每至春夏之交尤甚，病發時寒熱、嘔吐、神昏、　語，或悶絕不知人事，輒於項頸、兩腋、兩　之際發出惡核，有謂鼠疫者，有謂標蛇者，有謂天花毒者，又有當癰疽治者種種，妄立名目，千百不救一二。患者沿門比戶，互相傳染，聞者心慌膽裂，蛇影杯弓。醫者既不知病名，何能知病源？只以方藥雜投，或寒、或熱、或攻、或散、或瀉、或表，皆無當於病情。西醫則更可笑，或以冰壓其胸，或以黃熏其體，更或以臭丸臭水洒滿居室，以刀割其核，以蛭吮其血，卒之亦無一效，而轉速死不可勝計。殆至死後，並剖解視查，究為何病，而亦不敢，恐其傳染也。又有上吐下瀉，轉筋，類乎霍亂而實非霍亂者，間年流行，亦與核證之惡且速相似，此則速用溫補收攝之劑，偶有治療一二，遲則不及。實則兩病，皆香港腳一病，不過來路不同耳。香港腳傳於肝膽則發核，香港腳傳於脾胃則吐瀉，兩病只要毒瓦斯不攻心，無不可治，諸經方雖有香港腳之論，古人卻少此病（香港腳之名，《金匾》已載，但患者少）。自永嘉南渡，衣纓士人多有患者，有支法存、仰道人等，並留意經方，偏善此術，多獲全濟。又宋齊之間，釋門深師述二公等諸家舊方為二十卷，其香港腳一方近百余首，魏周之代亦無此病。所以姚公《集驗》殊不殷勤，徐王撰錄未以為意，特以三方鼎峙，風教未一，霜露不均，寒暑不等，關西河北，不識此疾，唐代開辟，無外南極之地，坐鎮於彼，往往皆遭。元和十二年二月，柳柳州得此病，夜半痞絕，兩脅有核，塊大如石，且死，困塞不知人事，三日，榮陽鄭洵美進杉木湯，服半日食頃，大小便三次，氣通核散（方詳《醫醫醫外編》香港腳湯中）。</p>
<p>此病先從腳起，甚微，飲食如故，深師云腳弱，《內經》云緩風濕痹，一旦發泄，遂成惡疾。或問：風毒中人隨處皆得，作病何偏著於腳？答曰：人有五臟，心、肺經絡所起在十手指，余三臟經絡所起在足十趾，地之寒暑風濕皆作蒸氣，足常履之，所以寒暑風濕邪毒之中人，必先中腳，久而不去，遍及四肢腹背頭項，經云次傳、間傳是也。凡香港腳皆感風濕之毒所致，人多不即覺，曾因它病一度始發，閩廣皆當濕熱之地，故每於春夏之交，一遇風邪暑邪觸動，遂即決裂而出，莫之能御。世醫既不能多讀古書，自不能多識病名，作余病治，罔不盡弊。余於甲午之際，適在嶺南，正值此證盛發之時，遂亟起而作《時疫辨治》一編，大聲疾呼，並匯集《千金》《外台》所述嶺南惡核證治，以告病者醫者，而皆藐藐置之，惟經延醫者除病，已入心及已誤它藥者，無不循法獲救，愿以後遇是證時，醫者悉於香港腳中求之，慎勿再妄立名目以誤人，而終自誤。更以知怪病百出，總不外六氣六經以為治也。</p>
<p>人稟天地之氣以生，人亦因天地之氣以病，醫者不明三才相應之理，侈口言醫，是猶出門而不由戶也。天地只此陰陽，化生五運六氣，人身亦只此陰陽，生成五臟六腑，萬病莫不由五運六氣五臟六腑所生。不深究夫氣化之源，而徒執乎中西之見，皆屬夢中說夢耳。方今四海一家，五洲同軌，要使軫域俱化，有無交通，酌劑盈虛，共由大道。歐西各國自入中土，不獨聲光電汽諸學矜能，即醫學一道亦詆中國為非，此雖中國近今醫者苟且庸陋，有以啟之，殊不知中國古聖之精確迥非西醫所能夢見。蓋《內》《難》仲景之書，西醫從未之聞，故以剖瞟實驗自矜，然皆詳形跡而昧氣化，未免得粗遺精。世之重視西醫與從學西學人，尤皆耳食目論，道聽途說，舉凡五運六氣，人身陰陽，五臟所藏，五臟所主，六腑所合，五臟所開九竅，男女天癸，營衛生會，六經六氣，經氣主治，十二經脈，奇經八脈，中國古聖言之鑿鑿者，晉唐以後中醫且多不講，近醫尤多不知，又何怪西醫之　昧耶？西醫以剖解臟腑，形跡列圖，雖較中國舊圖為詳，然其說則皆知其當然，而不知其所以然。且並有當然亦全不知者，因皆執死者之尸具為據，而云人是炭等十四質湊合而成。夫彼所謂十四質，皆經剖解鍛煉而得，而人之未死者，豈止此塊然之質哉？況生氣已盡，何從知所謂氣化耶？如西醫動言腦筋，而不知腦是何物所化。又常論髓，亦不知髓是何物所生。又云飲食之汁由吸管遞運至頸會管，與心血混為赤色，此一混字殊謬，豈有日日混入而赤色不日淡者乎？不知汁入頸會管即水交於火也，變為赤色，即奉心火之化而為血也。又云血內有紅白二輪，紅多白少，不知其白者水液之本，形也，其紅者奉心所化之赤色也，即《內經》所云：中焦受氣取汁，變化而赤，謂血也。又云：心有出血管，導血出，又有回血管，導血入。西醫名管，中國名脈，二而一也。脈氣流經者，謂流行於各經絡而回復有常。又云：心左房之血由出血管導行於周身，心體動跳不休，每一跳則周身之脈應之而跳，血既行遍周身，則轉入回血管，其色變紫，以受炭氣也。紫血由回血管遞傳復返於頸會管，得肺氣呼出，則炭氣出而紫色退，復變為赤，入心右房，轉至左房而又出也，則脈氣流經之謂矣。時醫有大絡散眾絡、眾絡散孫絡之說，言其出而不言復，與流經二字尚不確切，故引西醫之說證之。西醫所圖脈管詳矣，然不能分別十二經脈，奇經八脈，以為脈不足憑，《醫林改錯》亦然，不知彼皆割視死人，安能復辨經脈。又其言回血不能知幾時方回於心，唯內言一呼脈行三寸，一吸脈行三寸，計晝夜一萬三千五百息，脈行五十度，則能算出血行之時節，何時出者當何時回。西醫雖經剖視實驗，何能如中國古聖之精確哉！至若六經六氣，經氣主治之理，西醫則更全然不知，治病焉能悉當。它如種種鹵莽，不可殫論，雖其法皆本五禽圖，然萬不及其精細。蜀中唐容川宗海曾著《中西匯通醫經精義》一書，縷晰條分，層層互證，苦心孤詣，先得我心。惜其書尚未盛行於世，又無善釋者釋之，與吾《醫醫醫》三編及《內》《難》仲景諸經並以輸入歐西各國，使西醫得以窺見吾國古聖之精法，而有以自悔其失，並以漸進衣冠文物，以為環球康濟，斯民之助。</p>
<p>治病猶治天下也，天下之亂，不過外患內憂，人身之病，不過外感內傷。風寒暑濕燥火六氣之疾，所謂外患也；喜怒憂思悲驚恐，七情之害，所謂內憂也。治外患者，以攻勝四郊不靖而選將出師，速驅除之可也。臨辟雍而講禮樂，則敵在門矣。故邪氣未盡而驟用補者，必使邪氣內陷而亡。治內傷者以養勝，紀綱不正而崇儒重道，徐化導之可也。若任刑罰而嚴誅戮，則禍益深矣。故正氣不足而輕用攻者，必致正氣消盡而死。然而全盛之世，不無玩民，故刑罰不廢，則補中之攻也。如以小寇而遽起兵戎，是擾民矣。故補中之攻不可過也。</p>
<p>征誅之年亦修內政，故教養不弛，則攻中之補也。若以戎首而稍存姑息，則養寇矣。故攻中之補不可誤也。天下大事以天下全力為之，則事不墮，天下小事以一人從容處之，則事不擾。患大病以大藥制之，則病氣無余，患小病以小方處之，則正氣不傷。然又必大小有方，先後有序，輕重有度，疏密有數，純而不雜，整而不亂。所用之藥，各得其性，則器使之道，所處之方，各得其理，則調度之法上。古聖人治未病，更須於望形察色予為之防，即制治於未亂，保邦於未危也。所謂醫道通於治道，良相即是良醫，大略如此。若夫臨機應變，又必隨事參觀，神而明之，存乎其人，不可執成見而為定論，此《醫學源流》正義，用特引而伸之，誠能朝廷變通，醫官世界鄭重重醫，道醫者，精通醫學，悉以《醫醫醫》三編方藥分服之，而各盡其道，且以開通外人，變齊變魯以至於道。仁壽之宇，大同之世，不可睹哉！醫醫醫，噫噫噫！</p>
