<header data-type="book">
<h1>本草擇要綱目</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>蔣介繁</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1679">公元1679年</data></dd></div>
</dl>
</header>
<h2>序一</h2>
<p>余少不敏。制舉子業外。惟殫精竭慮。酷嗜素問本草諸書。桑梓間。遂謬以伯休相許。</p>
<p>及謝帖括。從事韜鈐。卯辰之役。聯獲雋游於京師。益以壺中術。稍見知於當世王公大人及縉紳先生。未幾。授真衛守軍輸錢穀。暇問疾求診者累累填塞衛舍。余之道信於人與弗信於人。</p>
<p>觀其來者可知其處者也。然余用是益滋懼矣。毋論水火寒熱之貌似而實非。強弱攻補之毫厘而千裡。即如寒熱平溫之四性。一物也。而根梢異用。一苗也。而生熟殊施。一制也而數用。數制也而一用。其間君臣佐使。畏惡反忌。恆有呼吸死生之別。信手拈來。遂分造化。蘇子人費之說。寧不凜凜然。後知本草一書。與素問靈樞同垂不朽者。誠醫學之金縷也。但世醫捷求養生之術。粗識藥性。淺涉湯歌。遂自信不疑。嗚呼。本草一書。尚河漢而罔極。醫道可深言哉。此無他。卷帙浩繁。或貧不能致書。即力能致書。或資不及覽故爾。余每欲思其約而該。明而當。詳審切要而簡核綜舉者。用成一書。以告來學。愧鞅掌未暇。一日。蔣子雪洲過予署。出其一編。乃渠尊大人介繁翁所輯本草擇要綱目。余捧而讀之。殆予所思約而該。明而當。詳審切要而簡核綜舉者乎。夫聞其名者。不急其用。雖博無庸。今擇要僅三百五十余種。猶精卒良將之足以殲敵。無煩虛聲糜餉之多也。相惡不並進。相畏不同飲。相反忌不共治。猶君子小人之辨類。可與共圖化理也。引經佐使。法制湯名。了然藥品之下。</p>
<p>猶山水之經緯。陰陽之調燮。可分可合。而以共成化育也。其為軒農岐俞之功臣。豈鮮淺哉。余忝任胥江五載矣。第聞介繁先生。有鹿門之懿行。燕山之隱德。而不知其潛心著述。期於利世濟物如此其懇摯也。歲己未春。雪洲剞劂將竣。問序於余。余握其手而贊嘆之曰。子一舉而三善備矣。克廣先志。孝也。濟渡天下。仁也。播之海內。傳之千秋。醫者憑而不盲。病者危而有恃。則義之利也。余又何幸蹈染香之國。而竊附於知醫哉。聊以白蔣子之世德作求可耳。</p>
<p><u>時康熙己未上巳後二日年家眷弟太原楊耀祖浣手拜書於真江衛署。</u></p>
<h2>序二</h2>
<p>天地以靈氣生人。而以余氣生物。林林總總者。遍塞兩間。然生人原以救人而救物。未聞人待救於物者。曰有之。則本草所列上中下之藥品是也。大若水火。細若氣液。貴若金玉參蓍。</p>
<p>賤若土石蒲薄。常者黍稷動植之類。異者駒掇腐　之微茫。墳羊陵　之秘怪。或順用之。或逆用之。苟得其當。回生起蹶。易於反掌。予嘗讀而嘆曰。仁道之大也。觀此思過半矣。天地生物固無無用者。顧聖人成聖人之用。賢人成賢人之用。中下則亦僅於中下之用而已矣。</p>
<p>莊生曰。無用而後為大用。東坡亦言問大醫王以何藥。還是眾工所用者。物之貴用有由來已。是書始於炎黃。後世陶通明蘇恭李　扈蒙韓保升唐慎微等。皆有刊定增附之力。然其卷帙浩繁。學士家翻閱不能遽得其肯綮而用之。新安蔣介繁先生。名儒嗜學。間常究心醫道。以為世間仁人孝子。苟不輕視此七六。則本草應與六籍並重。於是擇其要者而輯之。長公雪洲。年少敏給。兼抱濟物之志。遂刊而廣之藝苑。不減司馬子長胡仁仲能敬承繼志。以父心為心者也。今觀此書。用意精而心良苦。君臣奇偶之制。溫涼補瀉之節。載之甚晰。物之為靈昭昭也。人亦胡為　然委頓。生平懷仁輔義拯溺救焚之學。既視若膜外。而且溺情聘欲。促修年以綿疾患。不得已則惟待救於無情之金石草木。悠悠忽忽大失天地篤生之旨。嗚乎憊哉。</p>
<p><u>卷婁居士紀映鐘拜纂。</u></p>
<h2>序三</h2>
<p>恤患救災。聖賢仙佛之同念。繼志述事。仁人孝子之苦心。炎帝嘗草木於太古之年。為民除疾。扁鵲飲上池於長桑之手。用此尊生。洞察乎溫寒平熱之原。精辨其君臣佐使之義。蓋用之得當。則可轉危而為安。處置乖方。則反易治而為亂。若非深知物性則必驟發誤人。所以素問靈樞猶待潛心之後。本草綱目實居格物之先。惟吾老友蔣介繁先生。積學有年。號稱博物。游藝之暇。爰及方書。志在活人。不惜研精殫智。心期濟世。屢經博考周咨。聿著成書。未謀剞劂。</p>
<p>令子雪洲。英才粹質。早歲執經。壯志惠心。頻年問字。父書能讀。何止萬軸牙簽。先志可承。只此一編藥石。公之當世。功在內經脈訣之先。珍作家藏。事屬問安嘗藥之首。仁亦溥矣。孝孰大焉。</p>
<p><u>時康熙己未暮春。</u></p>
<p><u>白沙友人陳啟貞頓首拜書。</u></p>
<h2>凡例</h2>
<p>一、本草分玉石草木上中下諸品。其藥性即注於各味之下。此遵前賢所定寒熱溫平四種。</p>
<p>以類求之即得。</p>
<p>二、本草藥味頗多。此擇必用要藥凡三百五十六種。其怪異難購者。不復贅及。</p>
<p>三、各藥先定氣味主治並及惡畏反忌。以防忽略。</p>
<p>四、諸家論藥語簡當可采。用藥君佐互重。有裨醫學。今用之不察者俱附藥品主治之下。</p>
<p>五、藥稍僻者。其出產形貌制法收法。必注其下。</p>
<p>六、是書先人博涉群典。用意良苦。未及刻之身前。寰內聞而購之不得。浣亟出繡梓。</p>
<p>一以完先人仁壽之懷。一以慰同人飢渴之望。</p>
<p>七、親友面同較訂。受益良多。敬藉芳名。用垂不朽。</p>
<p>八、是書悉出先人手訂。浣不敢增減一字。</p>
<p><u>蔣浣敬識。</u></p>
<h2>寒性藥品</h2>
<h3>苦參</h3>
<p>（采根。用糯米濃泔水汁浸一宿。其醒穢氣並浮在水面上。須重重淘過。即蒸之。從巳至申。取晒切用。）</p>
<p>【氣味】苦寒無毒。氣沉純陰。入足少陰腎經君藥也。</p>
<p>【主治】心腹結氣症瘕積聚黃膽。溺有餘瀝。逐水。除癰腫。補中明目止淚。治腹中冷痛。</p>
<p>中惡腹痛。養肝膽氣。安五臟。平胃氣。令人嗜食。輕身定志。益精利九竅。除伏熱腸癖。</p>
<p>止渴醒酒。小便黃赤。療惡瘡下部　。治惡蟲脛酸。殺疳蟲。炒存性米飲服。治腸風瀉血並熱痢。漬酒飲治疥殺蟲。生瘡赤癩眉脫。除大熱嗜睡。治熱毒風皮肌煩躁。李時珍曰。子午乃少陰君火對化。故苦參黃柏之苦寒。皆能補腎。蓋取其苦燥濕寒除熱也。熱生風。濕生蟲。</p>
<p>故又能治風殺蟲。惟腎水弱而相火勝者用之相宜。若火衰精冷。真元不足。及年高之人不可用耳。</p>
<p>惡（貝母　兔絲　漏蘆）　反（藜蘆）</p>
<h3>升麻</h3>
<p>【氣味】甘苦平微寒無毒。浮而升陽也。為足陽明太陰引經之藥。取理白外黑而緊實者謂之鬼臉升麻。去須及頭蘆用。</p>
<p>【主治】辟瘟疫癘氣。頭痛。喉痛。口瘡。時氣熱疾。牙根浮爛惡臭。引蔥白散陽明風邪。</p>
<p>引石膏止陽明齒痛。引人參黃　而上行。同柴胡引生發之氣而上行。同葛根發陽明之汗。故升麻葛根湯為陽明發散之主方。若初發太陽症便用之。必傳陽明。反成其害。又升麻能解痘毒。惟初發熱時可用。已出後則氣弱不可用也。痘後泄瀉亦可炒用。見　則忌解散不可用也。衄血吐血犀角地黃湯。無犀角以升麻代犀角。非升麻能代犀角。能引地黃及諸藥入陽明經也。太陽症兀兀自汗者。為表虛並不可用。太陽兀兀無汗者。宜用此以發之。</p>
<p>葛根</p>
<p>【氣味】甘辛平無毒。升也陽也。為陽明經行經之藥。</p>
<p>【主治】消渴身大熱。療傷寒中風頭痛。解肌發表出汗。開腠理。其氣輕浮。鼓舞胃氣上行。朱氏云。凡頭痛如破。投以蓮須蔥白湯而不已者。以葛根蔥白湯主之。似乎葛根又為太陽之藥。不知仲景之治太陽陽明合病。桂枝湯內加麻黃葛根。又有葛根黃連黃芩解肌湯。是因此以是斷太陽入陽明之路。非即太陽藥也。雖然葛根固能斷太陽入陽明之路。孰知太陽初病未入陽明而頭痛者。不可便服升麻葛根之發劑。反能引邪氣入陽明為引賊破家之害歟。又仲景治傷寒有葛根湯。以主大熱解肌發腠理。若　痘之症葛根湯亦為對劑。孰知　痘已見紅點。</p>
<p>則不可復用升麻葛根湯。致重虛其表。而增　爛之患也。又或謂葛根為治脾虛作渴之仙藥。</p>
<p>復云不可多用。多用則恐傷其胃氣何也。孰知脾者津液之府。脾氣不伸。則津液耗竭。得葛根以升發其陽。則脾得所生。若誤認為脾藥而過發不已。則胃氣何得無傷乎。</p>
<h3>柴胡</h3>
<p>【氣味】苦平無毒。陰中之陽。入手足少陽以黃芩為佐。入手足厥陰以黃連為佐。在臟主血。在經主氣。</p>
<p>【主治】除心下煩熱。諸痰熱結實。治熱癆骨蒸。骨節煩痛。時疾內外熱不解。胸脅氣滿。</p>
<p>能引清氣而行陽道。又能引胃氣上升而行春令。十二經瘡疽中須用之以散諸經之血結氣聚。</p>
<p>婦人經水適來適斷。傷寒雜病表寒肌熱。寒熱往來如瘧狀。勞乏羸瘦有實熱。非此項俱不能為功也。欲上升則用根以酒浸。欲中及下降則用梢。</p>
<p>惡（皂莢）　畏（女芫藜蘆）</p>
<h3>前胡</h3>
<p>【氣味】苦微寒無毒。陽中之陰。降也。（凡用以刀刮去蒼黑皮。甜竹瀝浸令潤。日中晒乾用。）</p>
<p>入手足太陽陽明經。</p>
<p>【主治】痰熱喘嗽。痞膈嘔逆。傷寒寒熱。小兒疳氣。有推舊致新之績。降痰下氣之功。</p>
<p>惡（與柴胡同）　畏（亦同）</p>
<h3>甘草</h3>
<p>【氣味】甘平無毒。可升可降。陰中陽也。入足太陰足厥陰足少陰三經。又甘能入脾。歸其所喜。</p>
<p>【主治】五臟六腑寒熱邪氣。溫中下氣。煩滿短氣。傷臟咳嗽。止渴通經脈。解百藥毒。生用則氣平。補脾胃不足而大瀉內火。炙之則氣溫。補三焦元氣而散表寒。除邪熱。去咽痛。</p>
<p>養陰血。大約熱藥得之緩其熱。寒藥得之緩其寒。寒熱相雜者用之得其平。故附子理中湯用甘草。恐其僭上也。調胃承氣湯用甘草。恐其速下也。小柴胡湯用之以和柴胡黃芩之寒。人參半夏之溫。建中湯用之以補中而緩脾急。鳳髓丹用之以生元氣而緩腎急。若中滿而用生甘草為之瀉。能引諸藥直至滿所。</p>
<p>反（大戟　芫花　海藻　甘遂）　惡（遠志）　忌（豬肉）</p>
<h3>黃連</h3>
<p>【氣味】苦寒無毒。可升可降。陰中陽也。入手少陰心經。為治火之主藥。以布拭去肉毛。</p>
<p>用漿水浸二伏時漉出。於柳木火焙乾用。然生用之。則治本經火熱。若以豬膽汁浸炒。則治肝膽之實火。以醋浸炒。則治肝膽之虛火。以酒炒則治上焦之火。以薑汁則治中焦之火。以鹽水或朴硝。則治下焦之火。以茱萸湯浸炒。則治氣分濕熱之火。以乾漆水炒。則治血分塊中伏火。以黃土炒。則治食積之火。蓋辛熱能制其苦寒。鹹寒能制其燥性。</p>
<p>【主治】除熱氣目痛　傷淚出。明目。腹痛下痢。止煩渴。益膽。治小兒疳氣。殺蟲鎮肝。</p>
<p>治驚悸。潤心肺。長肉止血。並瘡疥盜汗。安蛔定吐。但其性苦寒。不宜偏勝。古人治痢香連丸。用黃連木香。薑連散用黃連乾薑。變通丸用黃連茱萸。薑黃散用黃連生薑。治消渴用酒蒸黃連。治伏暑用酒煮黃連。治下血用黃連大蒜。治肝火用黃連茱萸。治口瘡用黃連細辛。皆是一冷一熱。一陰一陽。熱因寒用。寒因熱用。君臣陰陽相佐濟。斯為良也。</p>
<p>惡（菊花　白蘚皮　玄參　芫花　僵蠶　冷水）　畏（款冬　牛膝）　忌（冷水）</p>
<h3>黃芩</h3>
<p>【氣味】苦平無毒。可升可降陰也。又微苦而甘。為陰中微陽。入手太陰血分。又氣涼。味苦甘。陽中微陰。入手少陽陽明經。</p>
<p>【主治】瀉肺經熱。清上焦及皮膚積熱。去諸熱。婦人產後。養陰退陽。利胸中氣。消膈上痰。除脾濕安胎療喉中腥臭。故傷寒心下痞滿瀉心湯。仲景凡四方。皆用黃芩。以其主諸熱利小腸故也。又太陽病下之痢不止。喘而汗出者。有葛根黃芩黃連湯。及妊娠安胎散。亦多用之。入小柴胡湯以治少陽症。入黃芩湯以治太陽少陽合病下利。入瀉心湯以治少陽症下後心下滿而不痛。總以黃芩之苦。可以發傳邪之熱。使寒能勝濕。折火之本也。若因飲食受寒腹中痛。及飲水心下悸。小便不利。而脈不數。則黃芩不可用。其熱厥腹痛。肺熱而小便不利者宜用之。若其人素多酒欲。病小腹絞痛。痛不可忍。黃芩宜急用之。若其感冒咳嗽既久。骨蒸發熱。膚如火燎。值暑月煩渴。六脈浮洪。服柴胡麥門冬荊瀝諸藥不效。引飲而晝益甚。此熱入氣分。與肺氣虛寒者不同。黃芩亦急用之。其制得酒上行。得厚朴黃連止腹痛。</p>
<p>得五味子令人有子。得黃　療鼠　。得豬膽汁除肝膽火。得柴胡除寒熱。得芍藥治下利。得桑白皮瀉肺火。得白朮安胎。</p>
<p>惡（牡丹皮　丹砂　藜蘆）</p>
<h3>黃柏</h3>
<p>【氣味】苦寒無毒。沉而降陰也。入足少陰經為足太陽引經之藥。</p>
<p>【主治】五臟腸胃中結熱。利下竅。瀉伏火。救腎水。治衝脈氣逆不渴。而小便不通。得知母滋陰降火。得蒼朮除濕清熱。得細辛瀉膀胱火。治口舌生瘡。凡奉養太過。膏粱積熱損傷腎水。致膀胱久而干涸。小便不化。火逆上而為嘔噦者。難經所謂關則不得小便。格則吐逆者也。此宜以黃柏之苦寒瀉燥以補水也。又熱邪蓄於下焦血分。不渴而小便不通者。乃素問所謂無陰則陽無以生。無陽則陰無以化。膀胱為州都之官。津液之臟。火客於水。則陽氣不升。此宜以黃柏之苦寒。抑火而升陽。而令陰陽互相生化也。故火有二。君火者。人火也。</p>
<p>心火也。可以濕伏。可以水滅。可以直折。故謂知母黃柏之屬。為滋陰降火之對劑。若相火者。天火也。龍雷之火也。陰火也。不可以水濕折之何也。龍雷之火。五六月而起發。九十月而歸藏。蓋冬時陽氣在水土之下。龍雷就其火氣而居於下。夏時陰氣在下。龍雷不能安其身而出於上。若以黃柏之屬降之。是欲括龍雷之勢於濃陰驟雨之時也。可乎不可乎。唯太陽一照。火自消滅。此則得水而熾。得火而滅之明驗也。近時虛損及縱欲之人。用補陰藥往往以知母黃柏二味為君。日日服餌。降令太過。脾胃受傷。真陽暗損。精氣不暖。致生他病。</p>
<p>豈知黃柏知母苦寒滑滲。久服有反從火犯之害。可不慎歟。明乎此而黃柏知母謂之降母以滋陰可也。若竟曰滋陰降火。則矛盾之甚矣。</p>
<h3>知母</h3>
<p>【氣味】苦寒無毒。沉而降。陰也。又云陰中微陽。入足陽明手太陰氣分。</p>
<p>【主治】瀉腎經之火。作利小便之佐使。療利疾重下痛。祛消渴及久瘧。煩熱。凡傷寒煩燥不得眠者。煩出於肺。燥出於腎。白虎湯君以石膏。佐以知母之苦寒。謂非大涼不能清腎之源也。然必緩之以甘草粳米之甘。使不速下。用者酌之。又熱在下焦血分。煩擾懊　。小便閉塞而不渴。乃真水不足。膀胱干涸。無陰而陽無以化。法當補腎與膀胱。使陰氣行而陽氣化。小便自通。知母苦寒。能直達腎與膀胱。清邪熱以領正氣。瀉即補也。又熱在上焦氣分。肺中伏熱不能生水。膀胱絕其化源。其病小便閉塞而渴。知母氣薄味薄。瀉肺火而清肺金。亦瀉即是補也。後人不諳瀉補之義。竟以知母黃柏為滋陰補腎之劑。禍及脾胃。中氣致傷。則惑之甚也。用者慎之。</p>
<h3>乾地黃</h3>
<p>（即生地之干也）</p>
<p>【氣味】甘寒無毒。沉而降。陰也。入手足少陰厥陰及手太陽之經。</p>
<p>【主治】傷中。逐血。填骨髓。長肌肉。通血脈。益氣力。除皮膚燥。去諸濕熱。療折跌絕筋。生地黃氣味主治及所入經絡。即與乾地黃同。大約陰微陽盛。相火熾強。來乘陰位。口漸煎熬。為虛火之症。宜用此以滋陰退陽。故錢氏瀉丙火與木通同用以導赤也。如血虛勞熱。產後虛熱。老人中虛燥熱者。若與生乾地黃。當慮太寒。</p>
<h3>熟地黃</h3>
<p>（即生乾地黃擇其沉實者。以陳酒煮小地黃汁。將地黃復入汁內。九蒸九晒。令其脂體柔潤者是也。）</p>
<p>【氣味】甘微苦微溫。陰中之陽。沉也。入手足少陰厥陰之經。</p>
<p>【主治】益腎水真陰。和產後血氣。去臍腹急痛。養陰退陽。壯水之源。仲景六味丸以之為諸藥之首。天一所生之源也。湯液四物湯治藏血之臟以之為君者。癸乙同歸一治也。又曰生地黃能生精血。用天門冬可引入所生之處。熟地黃能補精血。用麥門冬可引入所補之處。</p>
<p>忌（蘿卜　蔥　諸血　蒜）</p>
<h3>（白赤）芍藥</h3>
<p>【氣味】苦平無毒。升而微降。陽中陰也。為手足太陰行經本藥。又入肝脾血分。</p>
<p>【主治】安脾經。治腹痛。固胃氣。止瀉痢。和血脈。與白朮同用則補脾。與川芎同用則補肝。與人參白朮同用則補氣。與防風同用則發痘疹。同薑棗用則溫經散濕。以酒炒則補陰。</p>
<p>生用之則療後重。（色白者西方之象。能於土中瀉水以益脾。色赤者南方之象。能行血中之滯以散邪。）</p>
<p>但言芍藥而能緩中者。彼之味酸澀收斂。似不相侔。然能損其肝。即以調其血。血調而中自和也。又言治傷寒多用白芍。以其主寒熱。利小便。彼之味酸澀為收。本經何以言之。然能益陰滋濕而停津液。故金能生水。小便自利。非彼通利也。</p>
<h3>大黃</h3>
<p>【氣味】苦寒無毒。沉而降。陰中之陰也。（酒浸入太陽經。酒洗炒入陽明經。余經生用。）</p>
<p>【主治】走而不守。瀉諸實熱。大腸不通。蕩滌腸胃間熱。除下焦濕。推陳致新。消宿食。</p>
<p>破女子瘕症。下痢赤白。裡急腹痛。仲景瀉心湯。專治心氣不足。吐血衄血之症。或以為心氣不足法當用補。反以苦寒瀉之者何也。不知真心不足者。必不吐衄兼之吐血。此則本經之陽亢甚無輔。以致陰血妄行飛越。故宜用大黃以瀉去亢甚之火。使之和平。則血歸經而自安也。又言大黃瀉心實。瀉四經血分中之邪火者何義。蓋少陰心經之陰氣不足。則心火燔灼。</p>
<p>邪氣乘虛結於上焦。胃之上脘在於心。故曰瀉心實瀉脾胃也。又心之陰氣。不足。漸漬既久。則肺與肝俱各受火而病作。用黃芩佐大黃以救肺。用黃連佐大黃以救肝。肺為陰之主。肝為陰之母。血之舍肝。肺之火既退。陰血自復其舊。故曰瀉心實瀉肝肺也。凡病在氣分。及胃寒血虛並妊娠產後。慎勿輕用。輕用之恐傷元氣。耗陰血。</p>
<h3>青皮</h3>
<p>【氣味】苦辛溫無毒。沉而降。陰也。入厥陰少陽經。治肝膽之病。</p>
<p>【主治】氣滯。下食破積結。祛下焦諸濕。療左脅肝經積氣。小腹疝痛。消乳腫。青皮湯用之以治久瘧熱甚致結癖塊之症。蓋疏利肝邪。削其堅實也。但有滯氣則破滯氣。無滯氣則損真氣。不可不慎擇而用之也。又曰青皮炒黑可入血分。青皮亦能發汗。有汗者不可用。</p>
<h3>枳殼</h3>
<p>【氣味】苦酸微寒無毒。沉也。陰也。</p>
<p>【主治】通利關節。散留結胸膈痰滯。逐水消脹滿。下氣止嘔逆。泄肺氣。除胸痞。療裡急後重。或曰凡治痞宜用枳殼桔梗湯。而活人書云。當用桔梗枳殼湯於未痞之先。此何以說。</p>
<p>蓋枳殼非能治心下之痞也。果知病者誤下。氣將陷而成痞。故先用此以預杜之。使不致於成痞。若痞已成而用此。不惟不能消痞。反損胸中之氣。先之一字。不可不細心玩味之也。或又曰。仲景束胎丸。內用枳朮之屬。詳思胎壯則子有力而易生。令服枳殼之藥。必致無力氣弱。何以易達其胎也。蓋高粱之家。奉養太過。其氣必實。必實而用枳殼之屬以耗其氣。使之和平。此謂胎前無滯。則產後無虛。用枳殼為對症之劑。若氣虛體弱之人。日以參　四物之劑。峻補氣血。猶恐不贍。敢以枳殼為達生之妙劑乎。當於前賢立方之意外深求其理。</p>
<p>為能神而明之也。</p>
<h3>枳實</h3>
<p>【氣味】苦寒無毒。浮而升微降。陰中陽也。（凡用取其至陳者。去穰核。以小麥麩炒焦。</p>
<p>去麩用。氣虛者忌之。）</p>
<p>【主治】利五臟。除寒熱結。破脹實。解傷寒結胸。去胃中濕熱。蓋枳實瀉痰。能衝牆倒壁。故仲景治心下堅大如盤。水飲所作。以枳實白朮湯。謂非枳實之大寒。不能滑竅而破氣也。又云脾無積血。則心下不痞。潔古制枳朮丸以調脾胃。非枳實能調脾也。泄氣而除內熱。</p>
<p>令痞自消。則脾胃自得其天。而無壅積之患也。</p>
<h3>豬苓</h3>
<p>【氣味】甘平無毒。升而微降。陽中陰也。入足太陽足少陰經。</p>
<p>【主治】瘧。利水道。解傷寒瘟疫大熱。發汗。主腫脹滿腹急痛。治渴除濕。去心中懊。瀉膀胱。開腠理。故張仲景治消渴脈浮。小便不利微熱者。豬苓散發其汗。病欲飲水而復吐。名為水逆。冬時寒嗽如瘧狀者。亦用豬苓。此即五苓散也。此皆苦以泄滯。甘以取陽。</p>
<p>淡以利竅。功長於除濕利小便也。久服損人腎氣。昏人眼目。用者忌之。</p>
<h3>澤瀉</h3>
<p>【氣味】甘寒無毒。沉而降。陰中微陽。入足太陽少陰經。</p>
<p>【主治】逐膀胱三焦停水。利五淋。宣通水道。長於行水。起陰氣。止泄精消渴淋漓。但本經云澤瀉久服令人耳目聰明。扁鵲又云多服令人目盲。此何以故。大凡脾胃積有濕熱。則頭重而目昏耳鳴。澤瀉滲去其濕。</p>
<p>熱亦隨去。土得其令。清氣上行。故其功長於養五臟益氣力。治頭旋。聰明耳目也。若久服則降令又復太過。清氣不升。真陰潛耗。腎開竅於目。安得不令目盲耶。又庸醫罔識。見仲景之治雜病心下有支飲苦冒者。以澤瀉湯。治傷寒有大小澤瀉湯。治泄瀉有五苓散。遂謂澤瀉之功瀉腎居多。每遇泄精滑腎之症。輒不敢用。並妄為著作。曰仲景八味丸中有澤瀉。接引桂附歸就腎經。反能泄腎。有刪而去之之議。豈知八味丸中有地黃山萸肉茯苓牡丹皮皆腎經之藥。附子官桂又原屬右腎命門之藥。不待澤瀉之接引而自至其所。用澤瀉者。誠以補藥之中。必兼瀉邪。邪去則補藥得力。實瀉中之補也。</p>
<h3>木通</h3>
<p>【氣味】辛平無毒。降也。為陽中之陰。手厥陰心包絡手足太陽小腸膀胱之藥。上能通心清肺。治頭痛。利九竅。下能泄濕熱。利小便。通大腸。療遍身拘痛。及下乳通經。故古方導赤散用之。實瀉南補北。扶西抑東之意也。</p>
<h3>栝蔞</h3>
<p>【氣味】苦寒無毒。（采得去殼皮草膜及油淨用。）</p>
<p>【主治】降火潤肺燥。滌痰結。利咽喉。消癰腫瘡毒。凡肺受火逼。失其降。下之令。則致胸中有痰。得栝蔞甘緩潤下之助。則痰自降。又能洗滌胸膈中垢膩鬱熱。為治消渴之神藥。</p>
<p>故張仲景治胸脾痛引心背。咳唾喘息。及結胸滿痛。皆用栝蔞實。實取其甘寒不犯胃氣。逐上焦之火。使痰氣下降也。</p>
<h3>桑白皮</h3>
<p>【氣味】甘寒無毒。可升可降。陽中陰也。入手太陰經。</p>
<p>【主治】肺氣喘滿。虛勞客熱。調中下氣。瀉肺。利大小腸。降氣散血。蓋桑白皮甘以固元氣之不足而補虛。辛以瀉肺氣之有餘而止嗽。此其功皆實則瀉其子也。大抵為病脈氣熱盛。</p>
<p>咳嗽而後喘。面腫身熱。小水不利者宜之。謂瀉邪所以補正也。若肺虛而小便自利者。桑皮之性不純良。不宜多用。</p>
<h3>葶藶子</h3>
<p>【氣味】辛寒無毒。陰中陽也。</p>
<p>【主治】通利水道。療肺壅上氣。止喘促。除胸中痰飲。但葶藶屬火。性急善下。與大黃同功。病患稍涉虛者宜遠之。</p>
<h3>滑石</h3>
<p>【氣味】甘寒無毒。入足太陽經。</p>
<p>【主治】利小便。蕩胃中積聚寒熱。通九竅六腑津液。去留結止渴。蓋滑石甘淡之味。先入於胃。滲走經絡。游益津氣。上輸於肺。下通膀胱。肺主皮毛。為水之上源。膀胱司津液。</p>
<p>氣化則能出。滑石上能發表。下利水道。為蕩熱燥濕之劑。發表是蕩上中之熱。利水道是利中下之熱。發表是燥上中之濕利水道是燥中下之濕。熱散則三焦寧而表裡和。濕去則闌門通而陰陽利。劉河間之用益元散。通治表裡上下諸病。蓋深明於此理也。</p>
<h3>薄荷</h3>
<p>【氣味】辛溫無毒。浮而升。陽也。入手太陰足厥陰經。</p>
<p>【主治】通關節。解勞乏。小兒風涎。發毒汗。清頭目風熱。能引諸藥入榮衛。又治骨蒸熱勞。搜肝氣。又主肺盛。</p>
<h3>防風</h3>
<p>【氣味】甘溫無毒。浮而升。陽也。入手足太陽經。又行足陽明太陰二經。為肝經氣分之藥。</p>
<p>【主治】療風通用。瀉肺實如神。散頭目中滯氣。除上焦風邪。雖其分乃卒伍卑賤之職。然隨所引而無不至。若補脾胃。非此導用不能行。凡脊痛項強不可回顧。腰似折。項似拔者。</p>
<p>乃手足太陽症。非此不能散。凡瘡在胸膈以上。雖無手足太陽症。而風結上部。非此不能宣。瀉黃散中倍用防風者。乃於土中瀉木也。得蔥白能行周身。得澤瀉　本療風。得當歸芍藥療婦人子臟風。</p>
<p>惡（藜蘆　乾薑）　畏（萆　殺附子毒）</p>
<h3>天門冬</h3>
<p>【氣味】苦平無毒。陽中之陰入手太陰足少陰經氣分之藥。</p>
<p>【主治】肺氣喘息急促。除熱。通腎氣。鎮心。潤五臟。強骨髓。治血熱侵肺。滋大小腸枯燥。凡病患五虛而熱者。宜加用之。取其冷而能補也。患人脾胃虛寒者禁服之。為其性專泄而不專收。功只長於治肺熱也。又其功長於血分者。為其保定肺氣。使苦以泄滯血。甘以助元氣。不使血熱侵肺。而致血溢妄行也。</p>
<h3>麥門冬</h3>
<p>【氣味】甘平無毒。陽中微陰。降也。入手太陰經氣分。</p>
<p>【主治】身重目黃。心下支滿。虛勞客熱。口乾燥渴。強陰益精。祛肺中伏火。補心氣不足。脈者人之元氣。孫真人生肺散用麥冬者。滋燥金而清水源也。佐以人參之甘寒瀉熱火。五味子之酸溫瀉丙火。故火盛氣壯之人。麥門冬為補髓通腎氣滑澤肌體之對劑也。氣弱胃寒者不可過餌。</p>
<h3>牡丹皮</h3>
<p>（凡采得、以銅刀劈破、去骨、用酒拌蒸、日中晒乾用。）</p>
<p>【氣味】辛寒無毒。陰中微陽。入手厥足少陰經。</p>
<p>【主治】除症堅瘀血留舍腸胃。婦人冷熱血氣。排膿通經。涼骨蒸。丹者赤色火也。故能瀉陰胞中之火。腎氣丸用之。治神氣之不足。犀角地黃湯用之。治腸胃之積血及吐血衄血。</p>
<p>畏（貝母　大黃　菟絲子）　忌（胡荽　蒜）</p>
<h3>紅藍花</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】產後血暈口噤。腹內惡血不盡絞痛。胎死腹中。多用破留血。少用養血。潤燥止痛。散腫通經。凡血生於心包。藏於肝。屬於衝任。紅花與之同類。故能行男子血脈。通女子經水。其性苦溫。為陰中之陽。故入心。佐當歸生新血。又辛而甘。為肝經血分之藥。</p>
<h3>蘇木</h3>
<p>【氣味】甘咸平無毒。可升可降。陰中陽也。</p>
<p>【主治】破血。產後血脹。消癰腫撲損瘀血心腹攪痛。及經絡不通。乃三陰經血分藥也。少用則和血。多用則破血。</p>
<h3>梔子</h3>
<p>【氣味】苦寒無毒。輕清上行。陽中陰也。入手太陰肺經。</p>
<p>【主治】五內邪氣。胃中熱氣。心中煩悶。除時疾熱利五淋。通小便。治心煩懊　不得眠。</p>
<p>瀉三焦火。清胃脘血。治熱厥心痛。解熱鬱。行結氣。祛肝膽屈曲之火使之下行。凡心痛稍久。若溫散之。反助火邪。梔子瀉三焦之火。清胃脘之血。使邪易伏而病易退也。然本草不言梔子能吐。而仲景用為吐藥何也。蓋梔子本非吐藥。因邪氣在上拒格而不納食。令上吐則邪因以出。所謂高者越之也。又梔子非利小便之藥。而本草言能通利小便者何也。蓋膀胱津液之府。氣化則能出焉。梔子能導肺邪。肺清則化行。乃辛與庚合。又與丙合。又能泄戊先入中州故也。故仲景治傷寒發汗吐下後虛煩不得眠若劇者。又反覆顛倒心中懊　。以梔子豉湯治之。因其虛。故不用大黃之寒而有毒。反用梔子之雖寒而無毒者。乃祛胃中之熱氣也。</p>
<h3>桃仁</h3>
<p>【氣味】苦甘平無毒。沉而降。陰中之陽。入手足厥陰經血分。</p>
<p>【主治】熱入血室。泄腹中滯血。除皮膚血熱燥癢。行皮膚凝聚之血。傷寒八九日。內有蓄血。發熱如狂。小腹滿。小便自利者。又有當汗失汗。熱毒深入。吐血及血結胸煩燥譫語者。仲景俱以抵當湯主之。與虻蟲水蛭大黃同用。總以桃仁之苦可以泄滯。破血以生新血也。</p>
<h3>連翹</h3>
<p>【氣味】苦平無毒。輕清而浮升。陰中陽也。入手足少陽手陽明經。又入手少陰經。</p>
<p>【主治】瀉心經客熱。去上焦諸熱。為瘡家聖藥。瘡瘍瘤癭結核。治有神功者。以其狀似人心兩片合成。其中有仁甚香。乃少陰心經厥陰胞絡氣分主藥也。</p>
<h3>地榆</h3>
<p>【氣味】苦微寒無毒。其體沉而降。陰中陽也。專主下焦血分。</p>
<p>【主治】腸風下血。瀉血下血。療婦人乳疾七傷帶下。治下部膿血水瀉。白痢不可輕使。熱血痢間多用之。</p>
<p>惡（麥門冬　雄黃　伏丹砂　硫黃）</p>
<h3>石膏</h3>
<p>【氣味】辛微寒無毒。沉而降。陰也。入足陽明手太陰少陰經氣分。</p>
<p>【主治】除胃熱肺熱。散陰邪。緩脾益氣。止陽明經頭痛發熱惡寒。日晡潮熱。大渴引飲。</p>
<p>中暑潮熱牙痛。凡風喜傷陽。寒喜傷陰。榮衛陰陽為風寒所傷。則非輕劑所能獨散。必須輕重之劑同散之。乃得去陰陽之邪。和榮衛之氣。是以大青龍湯以石膏為之使。以苦甘散熱而直達肌表也。又陽明經中熱。發熱惡寒。燥熱。日晡潮熱。肌肉壯熱。小便濁赤。大渴引飲。自汗頭痛。此邪在陽明。肺受火制。必用辛寒以清肺氣。仲景之用白虎湯是也。若無以上諸症者。則多有血虛發熱象白虎湯症。及脾胃虛勞形體病症。初得之時與此症亦同。俱不宜服之。若不識而誤用。不可勝救也。立夏前多服白虎湯者。令人小便不禁。此乃降令太過。</p>
<p>陽明津液不能上輸於肺。肺之清氣亦復下降故也。大抵非腹有極熱者。不宜輕用。輕用之令人寒胃不食也。</p>
<h3>馬兜鈴</h3>
<p>【氣味】苦寒無毒。陰中微陽。入手太陰經。</p>
<p>【主治】體輕而虛。熟則懸而四開有肺之象。故能入肺。味寒能清肺熱。苦辛能降肺氣。錢氏補肺阿膠散用之。非取其補肺。乃取其清熱降氣。邪去則肺自安也。其中佐以阿膠糯米。</p>
<p>則正補肺之藥也。湯劑中多用。亦能作吐。</p>
<h3>枇杷葉</h3>
<p>【氣味】苦平無毒。陽中陰也。（凡用采其葉之極大者、其氣乃足、用粗布拭去毛、以甘草湯洗一遍、用綿再拭乾、以蜜塗炙過方用。）</p>
<p>【主治】嘔噦不止。婦人產後口乾。治肺氣熱嗽。及肺風瘡。胸面上瘡。和胃降氣。清熱解暑。大都枇杷葉氣薄味濃。專入肺胃二經。而治病者取其功能下氣。氣下則火降痰順。而逆者不逆。嘔者不嘔。渴者不渴。咳者不咳也。</p>
<h3>防己</h3>
<p>【氣味】辛平無毒。乃太陽本經藥也。治風用木防己。治水用漢防己。大概通可去滯。通草防己之屬是也。性大苦寒。能瀉而中實熱。亦能瀉大腸補陰瀉陽。凡十二經有濕熱壅塞不通。及下注香港腳。除膀胱積熱而庇其根本。非此不能治。然飲食勞倦陰虛生內熱。元氣穀食已虧。若以防己泄大便則重亡其血。如人大渴引飲。是熱在上焦肺經氣分。只宜淡以滲泄。若用防己。則以下焦血分之藥。逆療其上。必為亂階。又外傷風寒。邪傳肺經。氣分濕熱。而小便黃赤乃至不通。此上焦氣病。禁用血藥。若以防己為能散結而誤用之。必令人身心煩亂。飲食短少。</p>
<h3>海藻</h3>
<p>【氣味】苦鹹寒無毒。純陰而沉。</p>
<p>【主治】癭瘤馬刀諸瘡堅而不潰。凡營氣不調。外為浮腫。海藻咸能軟堅。隨各引經之藥治之。可反奪以成其功。</p>
<h3>牡蠣</h3>
<p>【氣味】咸平微寒無毒。入足少陰經。</p>
<p>【主治】化痰　堅。清熱除濕。止心脾氣痛。痢下赤白濁。消疝瘕積塊癭疾結核。以柴胡引之能去脅下硬。以茶引之能去頂上結核。以大黃引之能消股間腫。以地黃引之能益精收澀止小便多。乃腎經血分之藥也。故成無已云。牡蠣之咸。以消胸膈之滿。以泄水氣。又云壯水之主。以制陽光。則渴飲不思。故牡蠣又能止渴也。</p>
<h3>貝母</h3>
<p>【氣味】辛平無毒。乃肺金氣分中藥也。</p>
<p>【主治】腹中結實。心下痞滿。療時疾黃膽。和砂糖丸含止嗽。燒灰油調敷人畜惡瘡斂瘡口。作末酒服。治產難及胞衣不出。與連翹同服主項下癭瘤。故傷寒寒實結胸。外無熱症者。</p>
<p>三物小陷胸湯主之。白散亦可。以其內有貝母也。俗以半夏有毒用貝母代之。不知貝母乃太陰肺經之藥。半夏乃太陰脾經陽明胃經之藥。若虛勞咳嗽吐血咯血。肺痿肺癰。婦人乳癰癰疽。及諸郁之症。半夏乃所禁忌。貝母可為向導也。至於脾胃濕熱。涎化為痰。久則生火。</p>
<p>痰火上攻。昏憒僵仆蹇澀諸症。貝母切不可代。必用半夏。古人治人面瘡須用貝母。其入氣分灼然可見。</p>
<p>畏（秦艽）</p>
<h3>沙參</h3>
<p>【氣味】苦微寒無毒。入厥陰經。</p>
<p>【主治】滋養肝木。除寒熱。安五臟。療久咳肺痿。其體輕虛專補肺氣因而益脾與腎。補陰制陽。</p>
<p>反（漏蘆）　惡（防己）</p>
<h3>玄參</h3>
<p>【氣味】苦微寒無毒（勿犯銅器。餌之能噎人喉。喪人目。）入足少陰腎經。</p>
<p>【主治】心中懊　煩不得眠。心神顛倒欲絕。血滯。小便不利。凡腎水受傷。真陰失守。孤陽無根。發為火病。法宜壯水以制火。玄參治胸中氤氳之火。真聖劑也。</p>
<p>惡（黃　山萸肉　乾薑　大棗）　反（藜蘆）</p>
<h3>丹參</h3>
<p>【氣味】苦寒無毒。平而降。陰中之陽也。入手少陰厥陰之經。心與胞胳血分之藥也。</p>
<p>【主治】破宿血。生新血。安生胎。下死胎。止血崩帶下。調經脈不勻。排瘡瘍膿。止痛生肌長肉。定疝痛。</p>
<p>畏（鹽水）　反（藜蘆）</p>
<h3>桔梗</h3>
<p>【氣味】辛苦微溫無毒。浮而升。陽也。入手太陰足少陰經。（去蘆淨米泔水浸一宿。焙乾用。）</p>
<p>【主治】肺熱氣奔促咳逆肺癰。排膿。開提氣血。咽中痛。非此不能除。清利頭目。破滯及積塊。諸藥有此不能下沉。謂之舟楫。</p>
<h3>犀角</h3>
<p>【氣味】苦酸鹹寒無毒。陽中之陰也。入陽明經。（凡用磨汁服之。忌鹽。妊娠勿服。能消胎氣。）</p>
<p>【主治】吐血衄血下血。及傷寒蓄血。發狂譫語。發黃。發斑。痘瘡稠密。內熱黑陷。或不結痂。瀉肝涼心。清胃解毒。蓋胃為水穀之海。飲食藥物。必先受用。故犀角能解一切諸毒。又五臟六腑皆稟氣於胃。風邪熱毒必先干之。故犀角能療諸血及驚狂斑痘之症。</p>
<h3>牛黃</h3>
<p>【氣味】苦平有小毒。</p>
<p>【主治】小兒百病。諸驚癇寒熱。口不開。大人癲狂。中風失音。清心化熱。利痰涼驚。痘瘡紫色。發狂譫語等症。蓋牛之有黃。因其病在心及肝膽之間。凝結成黃也。故還能治心及肝膽之病。凡中風入臟者。必用牛雄腦麝之劑。入骨髓。透肌膚。以引風出。若風中於腑及血脈者忌用。恐反引風邪流入於骨髓。如油入面。莫之能出也。</p>
<h3>蘆薈</h3>
<p>【氣味】苦寒無毒。乃厥陰藥也。</p>
<p>【主治】其功專於殺蟲。清熱明目。鎮心。療小兒癲癇驚風。祛五疳。殺三尸。研末敷　齒甚妙。治濕癬出黃汗。</p>
<h3>鬱金</h3>
<p>【氣味】辛苦寒無毒。屬火與土有水。其性輕揚。上行入心及胞絡。</p>
<p>【主治】補血下氣。生肌止血。破惡血。治陽毒。祛胃下血頻痛。</p>
<h3>竹瀝</h3>
<p>【氣味】甘大寒無毒。薑汁為之使。（凡取竹瀝。宜用淡苦竹者佳。以竹截長五六寸。以瓶盛倒懸。下用一器承之。周遭以火逼之。其瀝滴流於器內。）</p>
<p>【主治】風痹。胸中大熱。止煩悶。消渴勞復。養血清痰。風痰虛痰在膈胸。令人癲狂。痰在經絡四肢及皮裡膜外。非此不能達。治子冒風　。解射罔毒。凡陰虛則發熱。竹瀝味甘性緩。能除陰虛之有大熱者。寒而能補。與山藥寒補義同。大寒言其功。非獨言其氣也。其性滑痰。非助以薑汁不能行。諸方治胎產金瘡口噤。與血虛自汗。消渴小便多。皆是陰虛之病。無不用之。然寒濕胃虛滑腸之人。服之則反傷腸胃。</p>
<h3>常山</h3>
<p>【氣味】苦寒有毒。為治瘧之最要。不可多進。凡無水不作痰。無痰不成瘧。水在上焦則常山能吐之。水在脅下則常山能破其辟而下其水。但得行血藥為佐助。功可收其十全也。又純熱發瘧。或蘊熱內實之症。投以常山。大便點滴而下。大便似泄不泄者。佐以大黃泄利敷行。</p>
<p>可獲全愈也。</p>
<h3>烏梅</h3>
<p>【氣味】酸溫平澀無毒。入脾肺二經血分。</p>
<p>【主治】止渴調中。去痰治瘧。斂肺澀腸。噎膈蛔厥蝕惡肉。仲景治蛔厥烏梅丸及蟲　方中用者。取蟲得酸而即止之之義也。</p>
<h3>大戟</h3>
<p>【氣味】苦寒有小毒。陰中之微陽也。</p>
<p>【主治】蠱毒十二水。腹滿急痛。破症結。並甘遂同為泄水之重劑。蓋水濕也。得氣與火。</p>
<p>則凝滯而為痰為涎為涕為癖。故入心迷竅則成癲癇妄言妄見。入肺塞竅則成咳唾稠黏喘息背冷。入肝而留伏蓄聚則成脅痛乾嘔寒熱往來。入經絡則麻痹疼痛。入筋骨則頸項胸背腰脅手足牽引。三因方並以控涎丹主之。總以大戟能泄臟腑之水濕。善用之可奏奇功也。又錢氏謂腎為真水。有補無瀉。而復云痘瘡變黑歸腎一症。乃用百祥膏下之以瀉腎者也。蓋非瀉腎。</p>
<p>是瀉其腑而臟自不實也。然其性苦寒有毒。最損真氣。須認症確審。方可言用。</p>
<h3>胡黃蓮</h3>
<p>【氣味】苦平無毒。</p>
<p>【主治】補膽肝。明目。骨蒸勞熱。婦人胎蒸。小兒驚癇。理腰腎。去陰汗。去果子積。性情功用與黃連同。</p>
<p>惡（菊花　白蘚皮　玄參　芫花　薑蠶　冷水）　畏（款冬　牛膝）</p>
<h3>荊芥</h3>
<p>【氣味】辛溫無毒。浮而升。陽也。入足厥陰經氣分。</p>
<p>【主治】寒熱鼠　。瘰　生瘡。破結聚氣。下瘀血。除濕疸。去邪。除勞渴冷風出汗。煮汁服之。搗爛醋和敷疔腫腫毒。治惡風賊風遍身　痹。心虛忘事。益力添精。通利血脈。傳送五臟不足氣。助脾胃。主血勞風氣壅滿。背脊疼痛虛汗。理香港腳筋骨煩疼及陰陽毒。傷寒頭痛頭旋目眩。手足筋急及發斑。蓋荊芥入足厥陰經氣分。其功長於祛風邪。散瘀血。破結氣。消瘡毒。蓋厥陰乃風木也。主血而相火寄之。故風病血病瘡病為要藥。</p>
<p>反（驢肉　無鱗魚　河豚）</p>
<h3>地骨皮</h3>
<p>（凡使根掘得、以東流水浸刷、去土、捶去心、以熟甘草湯浸一宿焙乾。）</p>
<p>【氣味】苦寒。升也陰也。入足少陰手少陽經。</p>
<p>【主治】細銼拌面煮熟吞之去腎家風良。又益精氣。</p>
<p>去骨熱消渴。解骨蒸肌熱消渴。風濕痹。堅筋骨涼血。治在表無定之風邪。</p>
<p>傳尸有汗之骨蒸。瀉腎火。降肺中伏火。去胞中火退熱。補正氣。治上膈吐血。煎湯漱口。止齒血。治骨槽風。又治金瘡神驗。去下焦肝腎虛熱。</p>
<h3>琥珀</h3>
<p>（凡用須分紅松脂。石珀。水珀。花珀。物象珀。　珀。琥珀。其紅松脂如琥珀。只是濁大脆紋橫。水珀多無紅色。如淺黃多皺紋。石珀如石重。色黃不堪用。花珀紋似新馬尾松心。紋一路赤。一路黃。物象珀其內自有物命入用神妙。　珀之象珀之長。琥珀如血色。以布拭熱。吸得芥子者真也。琥珀拾芥。乃草芥即禾草也。言云芥子誤矣。入藥用水調側柏子末安瓷鍋中。置琥珀於內煮之。從巳至申。當有異光。搗粉篩用。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】安五臟。定魂魄。殺精魅邪鬼。消瘀血。通五淋。壯心明目。磨翳止心痛癲邪。療蠱毒。破結瘕。治產後血枕痛。止血生肌。合金瘡。清肺利小腸。古方用為利小便以燥脾土有功。脾能運化。肺氣下降。故小便可通。若血少不利者。反致其燥急之苦。</p>
<h3>水銀</h3>
<p>【氣味】辛寒有毒。</p>
<p>【主治】瘡　瘍白禿。殺皮膚中虱。墮胎。除熱。殺金銀銅錫毒。熔化還復為丹。以敷男子陰。陰消無氣。利水道。去熱毒。主天行熱疾。除風安神鎮心。治惡瘡　疥殺蟲。催生下死胎。</p>
<p>（丹燒不成水銀。積變又還成丹砂。其去凡草木遠矣。金汞在九竅則死人為之不朽。水銀入耳能食人腦至盡。入肉令百節攣縮。倒陰絕陽。人患瘡疥。多以水銀塗之。性滑重直入肉宜謹之。頭疥切不可用。恐入經絡。必緩筋骨。百藥不治也。）</p>
<h3>朴硝</h3>
<p>（煉白如銀。能寒能熱。能滑能澀。能辛能苦。能咸能酸。入地千歲不變。色青白者佳。黃者傷人。赤者殺人。）</p>
<p>【氣味】苦辛寒無毒。又曰苦鹹有小毒。得石葦為之使。</p>
<p>【主治】百病。除寒熱邪氣。逐五臟積聚結固留癖。能化七十二種石。煉餌服之。輕身神仙。胃中飲食熱結。破留血閉絕停痰痞滿。推陳致新。療熱脹。養胃消穀。治腹脹大小便不通。女子月候不通。通泄五臟百病及症結。治天行熱疾頭痛。消腫毒。排膿潤毛髮。</p>
<p>惡（麥句薑）　畏（三棱）</p>
<h3>芒硝</h3>
<p>【氣味】辛苦大寒無毒。又曰咸有小毒。</p>
<p>【主治】五臟積聚久熱胃閉。除邪氣。破留血。腹中痰實結搏。通經脈。利大小便及月水。</p>
<p>破五淋。推陳致新。下瘰　黃膽病時疾壅熱。能散惡血。墮胎。敷膝瘡。</p>
<p>【馬牙硝】氣味甘大寒無毒。又曰咸微甘。即英硝也。</p>
<p>【主治】除五臟積熱伏氣。末篩點眼赤。去赤腫障翳澀淚痛。亦入點眼藥中用。功同芒硝。</p>
<p>內經曰。咸味下泄為陰。又云咸以　之。熱淫於內。治以鹹寒。氣堅者以咸　之。熱盛者以寒消之。故張仲景大陷胸湯。大承氣湯。調胃承氣湯。皆用芒硝以　堅去實。熱結不至堅者不可用也。本草云朴硝味辛。是辛以潤堅燥也。今人不用辛字。只用咸字。咸能　堅也。其義皆是。本草言芒硝利小便而墮胎。然傷寒妊娠可下者。用此兼大黃引之。直入大腹。潤燥堅瀉熱。而母子俱安。經云有故無殞亦無殞也。此之謂歟。以在下言之。則便溺俱陰。以前後言之。則前氣後血。以腎言之。總主大小便難。溺澀秘結。俱為水少火盛。經云熱淫於內。治以鹹寒。佐之以苦。故用芒硝大黃相須為使也。芒硝氣薄味濃。沉而降陰也。其用有三。去實熱一也。滌腸中宿垢二也。破堅積熱塊三也。孕婦惟三四月及七八月不可用。余皆無妨。朴硝澄下。硝之粗者也。其質重濁。芒硝牙硝結於上。硝之精者也。其質清明。甜硝風化硝。則又芒硝牙硝之去氣味而甘緩輕爽者也。故朴硝只可施於鹵莽之人及敷塗之藥。若湯散服餌。必須芒硝牙硝為佳。張仲景傷寒論。只用芒硝。不用朴硝。正此義也。</p>
<h3>羚羊角</h3>
<p>（凡用有神羊角甚長。有二十四節。內有天生木胎。此角有神力抵下牛。凡使不可單用。須要不折元對。繩縛。鐵銼銼細。重重密裹避風。以旋旋取用。搗篩極細。更研萬匝入藥。免刮人腸。）</p>
<p>【氣味】鹹寒無毒。</p>
<p>【主治】明目益氣。起陰。去惡血注下。辟蠱毒惡鬼不祥。常不魘寐。除邪氣驚夢狂越僻謬。療傷寒時氣寒熱熱在肌膚。濕風注毒伏在骨間。及食噎不通。久服強筋骨輕身。起陰益氣。治中風筋攣附骨疼痛。作末蜜服。治卒熱悶及熱毒痢血疝氣。摩水塗腫毒。治一切熱毒風攻注。中惡毒風卒死。昏亂不識人。散產後惡血衝心煩悶。燒末酒服之。治小兒驚癇。治山瘴及噎塞。治驚悸煩悶。心胸惡氣。瘰　惡瘡溪毒。平肝舒筋。定風安魂。散血下氣。辟惡解毒。治子癇痙疾。蓋羊火畜也。而羚羊則屬木。故其角入厥陰肝經甚捷。同氣相求也。肝主木。開竅於目。其發病也。目暗障翳。而羚羊角能平之。肝主風。在合為筋。其發病也。小兒驚癇。婦人子癇。大人中風。搐搦及筋脈攣急歷節掣痛。而羚角能舒之。魂者肝之神也。</p>
<p>發病則驚駭不寧。狂越僻謬。魘寐卒使。而羚角能安之。血者肝之藏也。發病則瘀滯下注。</p>
<p>疝痛毒痢。瘡腫　。產後血氣。而羚羊能散之。相火寄於肝膽。在氣為怒。病則煩懣氣逆噎塞不通。寒熱及傷寒伏熱。而羚角能降之。羚之性靈。而筋骨之精在角。故又能辟邪惡而解諸毒。本經別錄甚著其功。而近俗罕能發揚。惜哉。</p>
<h3>甘菊花</h3>
<p>（菊之品凡百種。自生莖葉花色。品品不同。性單葉花小而黃綠。葉色深小而薄。九月應候而開者是也。鄧州白菊單葉者亦入藥。余皆醫經不用。其莖有株蔓紫赤青綠之殊。其葉有大小濃薄尖禿之異。其花有千葉單葉。有心無心。有子無子。黃白紅紫間色深淺大小之別。其味有甘苦辛之辨。又有夏菊秋菊冬菊之分。大抵惟以單葉味甘者入藥。菊譜所載甘菊、鄧州黃、鄧州白者是也。）</p>
<p>【氣味】苦平無毒。又苦甘寒。可升可降。陰中微陽也。黃者入金水陰分。白者入金水陽分。紅者行婦人血分。蓋其性屬土與金有水與火。</p>
<p>【主治】諸風頭眩腫痛。目欲脫淚出。皮膚死肌。惡風濕痹。久服利血氣。輕身耐老延年。</p>
<p>補陰血而養目益肝木。祛身上一切游風。目脫淚出。蓋補水所以制火。益金所以平木。木平則損人胃氣。即野菊花也。色黃而小。心如蓮子。治癰腫疔毒瘰　眼　。</p>
<h3>射干</h3>
<p>【氣味】苦平有毒。陽中陰也。</p>
<p>【主治】咳逆上氣。喉痹咽痛。散結氣。腹中邪逆。食飲大熱。苦酒摩塗毒腫。治疰氣。消瘀血。通女人月閉。消痰。破症結胸膈滿腹脹氣喘　癖。開胃下食。鎮肝明目。治肺氣喉痹為佳。射干屬金有木與火。行太陰厥陰之積痰。使結核自消甚捷。又治濕氣因疲勞而發。變為便毒。又能降火。故古方治痹咽痛為要藥。仲景治咳而上氣。喉中作水雞聲者。有射干麻黃湯。又治瘧母有鱉甲煎丸亦用射干。皆取其降厥陰相火。火降則血散腫消。痰結自解。瘕堅自破也。</p>
<h3>薏苡仁</h3>
<p>【氣味】甘微寒無毒。（采得以糯米同炒、去米用良。亦有以鹽湯煮過者）</p>
<p>【主治】筋急拘攣風濕痹。除筋骨邪氣不仁。肺痿吐膿血。治干濕香港腳。療肺癰心胸甲錯。</p>
<p>屬土為陽明之藥。故能健脾益胃。虛則補其母。故肺痿肺癰用之。筋骨之病。以治陽明為本。故拘攣筋急風痹者用之。土能勝水除濕。故泄痢水腫用之。</p>
<h3>車前子</h3>
<p>【氣味】甘寒無毒。</p>
<p>【主治】氣癃。止痛利水道。治肝中風熱。沖目赤痛障翳。腦痛淚出。其葉通五淋治尿血。</p>
<p>古駐景丸用車前以佐菟絲子良。以車前子能利小便而不走精氣。與茯苓同功也。</p>
<h3>蓮藕</h3>
<p>（其根藕。其實蓮。其莖葉荷。）</p>
<p>【氣味】甘平澀無毒。</p>
<p>【主治】補神益氣力。除百疾。久服輕身耐老。不飢延年。主五臟不足傷中。益十二經脈血氣。止渴去熱。安心止痢。治腰痛及泄精。多食令人歡喜。止怒止泄消食。交心腎。濃腸胃。固精氣。強筋骨。補虛損。利耳目。除寒濕。止脾泄久痢赤白濁女人帶下崩中諸血病。搗碎和米作粥飯食。輕身益氣。令人強健。安靖上下君相火邪。蓋蓮產於淤泥而不為泥染。居於水中而不為水沒。根莖花實。凡品難同清淨。濟用群美兼得。自　而節。節生莖、生葉、生花、生藕。由菡萏而生蕊、生蓮、生　、生薏。其蓮　則始而黃、黃而青、青而綠、綠而黑。中含白肉。內隱青心。石蓮堅剛。可歷永久。薏藏生意。藕復萌芽。展轉生生。造化不息。且蓮之味甘氣溫而性澀。稟清芳之氣。得稼穡之味。乃脾之果也。脾者黃宮。</p>
<p>所以交媾水火。會合木金者也。土為元氣之母。母氣既和。津液相成。神乃自生。久視耐老。此其權輿也。昔人治心腎不交。勞傷白濁。有清心蓮子飲。補心腎。益精血。</p>
<p>有瑞蓮丸。皆得此理也。</p>
<h3>【藕節】</h3>
<p>氣味澀平無毒。</p>
<p>【主治】搗汁飲。主吐血不止。及口鼻出血。消瘀血。解熱毒。產後血悶。和地黃研汁入熱酒小便飲。能止咳血唾血血淋溺血下血血痢血崩。</p>
<h3>百部</h3>
<p>（一名野天門冬。其根多者百十連屬如部伍然。故以名之。）</p>
<p>【氣味】甘微溫無毒。</p>
<p>【主治】傳尸骨蒸勞。治疳。殺蛔蟲寸白蟯蟲及一切樹木蛀蟲。燼之即死。殺虱及蠅蠓。作湯洗牛犬去虱。火炙酒浸。空腹飲之。治疥癬去蟲蠶咬毒。百部亦天門冬之類。故皆治肺病殺蟲。但百部氣溫而不寒。寒嗽宜之。天門冬性寒而不熱。熱嗽宜之。此為異耳。</p>
<h3>茵陳蒿</h3>
<p>【氣味】苦平微寒無毒。陰中微陽。入足太陽經又入足陽明經。</p>
<p>【主治】風濕結熱。通關節。去伏瘕。通身發黃成疸。小便不利。故茵陳梔子大黃湯治濕黃。梔子柏皮湯治燥黃。為陽黃之要藥。茵陳附子湯治陰黃。為陰分之通劑。各隨寒熱而君主之也。</p>
<h3>瞿麥</h3>
<p>【氣味】苦寒無毒。陽中之陰也。</p>
<p>【主治】關格諸癃結。小便不通。逐膀胱邪逆。主五淋月經不通。</p>
<h3>淫羊藿</h3>
<p>【氣味】辛寒無毒。（以夾刀夾去葉之四畔花枝。每一斤用羊脂四兩拌炒。脂盡為度。）</p>
<p>【主治】益精氣。補筋骨。療四肢不仁。驅一切冷風。乃手足陽明三焦命門之藥也。真陽不足者宜之。</p>
<h3>茅根</h3>
<p>【氣味】甘寒無毒。</p>
<p>【主治】勞傷虛羸。補中益氣。除瘀血血閉寒熱。利小便。下五淋。除客熱在腸胃。止渴堅筋。婦人崩中。久服利人。主婦人月經不勻。通血脈淋瀝。止吐衄諸血。傷寒噦逆。肺熱喘急。水腫黃膽。解酒毒。但茅根甘能除伏熱。利小便。故能止諸血噦逆喘急消渴。治黃膽水腫。乃良物也。世人因微而忽之。惟事苦寒之劑。致傷沖和之氣。烏足知此哉。</p>
<h3>牽牛子</h3>
<p>（一名草金羚。此藥始出田野人牽牛謝藥。故以名之。近人隱其名為黑丑。白者為白丑。蓋以丑屬牛也。）</p>
<p>【氣味】苦寒有毒。</p>
<p>【主治】下氣療腳滿水腫。除風毒。利小便。治　癖氣塊。利大小便。除虛腫。落胎。治腰痛下冷膿瀉蠱毒藥。並一切氣壅滯。和山茱萸服去水病。除氣分濕熱三焦壅結。逐痰消飲。</p>
<p>通大腸氣秘風秘。殺蟲。達命門。牽牛乃感南方熱火之化以生。若病濕極盛。濕氣不得施化。致大小便不通。則宜用之。令濕去而氣得周流可也。今人不問有濕無濕及濕之極與否。但遇傷食或有熱症。即用牽牛克伐之藥。暗蝕人之元氣而不知耶。嗟夫。</p>
<h3>萱草</h3>
<p>【苗花】【氣味】甘涼無毒（萱屬水性。下走陰分。）</p>
<p>【主治】煮食治小便赤澀。身體煩熱。除酒疸。消食利濕熱。作菹利胸膈。安五臟。令好歡樂無憂。輕身明目。</p>
<p>【根】【主治】沙淋。下水氣。酒疸黃色遍身者搗汁服。大熱衄血。研汁一大盞。和生薑汁半盞細呷之。吹乳乳癰腫痛。　酒服。以滓封之。</p>
<h3>香附子</h3>
<p>【氣味】甘微寒無毒。陽中之陰。血中之氣藥也。入足厥陰手少陽經。能兼行十二經八脈氣分。（鹽便酒醋各從本方制用。）</p>
<p>【主治】一切氣並霍亂吐瀉腹痛。腎氣膀胱冷。消食下氣。本草不言治崩漏。方中用治之者。是益氣而止血也。又能逐去凝血。乃以血藥引至氣分而生血。令陽生陰長之義也。</p>
<h3>側柏葉</h3>
<p>（凡用　去兩畔並心枝丫。用糯泔浸七日。以酒拌蒸一伏時。每一斤用黃精自然汁十二兩浸焙。又浸又焙。待汁乾用之。此服食治法也。常用或生或炒。各從本方。）</p>
<p>【氣味】苦微溫無毒。</p>
<p>【主治】吐血衄血痢血崩中赤白。輕身益氣。令人耐寒暑。去濕痹生肌。治冷風歷節疼痛。</p>
<p>止尿血。炙　凍瘡。燒取汁塗頭黑潤鬢發。敷湯火傷。止痛滅瘢。服之療蠱痢。作湯常服。</p>
<p>殺五臟蟲。益人。柏屬陰與金善守。故采其葉隨月建。方取其多得月令之氣。此補陰之要藥。</p>
<p>其性多燥。久服之。大益脾土。以滋其肺。柏性後凋而耐久。稟堅凝之質。乃多壽之木。所以可入服食。道家以之點湯常飲。元旦以之浸酒辟邪。皆有取於此也。</p>
<p>畏（羊蹄草　菊花）</p>
<h3>地膚子</h3>
<p>【氣味】苦寒無毒。</p>
<p>【主治】膀胱熱。利小便中益精氣。久服耳目聰明。輕身耐老。去皮膚中熱氣。使人潤澤。</p>
<p>散惡瘡疝瘕。強陰。治陰卵　疾。去熱風。可作湯沐浴。與陽起石同服。主丈夫陰痿不起。</p>
<p>補氣益力。夫眾病皆起於虛。虛而多熱者。加地膚子甘草。</p>
<p>【苗葉】</p>
<p>【氣味】苦寒無毒。</p>
<p>【主治】搗汁服。主赤白痢。燒灰亦善。煎水洗目。去熱暗雀盲澀痛。主大腸泄瀉。和氣澀腸胃。解惡瘡毒。煎水日服。治手足煩疼。利小便諸淋。</p>
<h3>山豆根</h3>
<p>（生劍南及宜州果州山谷。今廣西亦有。以忠州萬州者為佳。苗蔓如豆。葉青。經冬不凋。八月采根。廣南者如小槐高尺余。石鼠食其根。故嶺南人捕鼠取腸胃曝乾。解毒攻熱效。）</p>
<p>【氣味】甘寒無毒。（按沈括筆談云。山豆根味極苦。本草言味甘大誤矣。）</p>
<p>【主治】解諸藥毒。止痛。消瘡腫毒發熱咳嗽。治人及馬急黃。殺小蟲。含之咽汁。解咽喉腫毒極妙。研末湯服五分。治腹脹喘滿。酒服三錢。治女人血氣腹脹。又下寸白諸蟲。丸服止下痢。磨汁服止卒患熱厥心腹痛。五種痔痛。研汁塗諸熱腫禿瘡蛇狗蜘蛛傷。</p>
<h3>白蘚（根皮）</h3>
<p>【氣味】苦寒無毒。又氣寒善行。味苦性燥。入足太陰陽明經。去濕熱藥也。兼入手太陰陽明。為諸黃風痹要藥。世醫只施之瘡科淺矣。</p>
<p>【主治】頭風黃膽。咳逆淋瀝。女子陰中腫痛。濕痹死肌。不可屈伸起止行步。療四肢不安。時行腹中大熱飲水。欲走大呼。小兒驚癇。婦人產後余痛。治一切熱毒風。惡風風瘡。疥癬赤爛。眉發脫落。皮肌急。壯熱惡寒。解熱黃酒黃急黃穀黃勞黃。通關節。利九竅及血脈。通小腸水氣。天行時疾。頭痛眼疼。其花同功。治肺嗽。</p>
<p>惡（螵蛸　桔梗　茯苓　萆　）</p>
<h3>旋覆花</h3>
<p>【氣味】咸溫有小毒。入手太陰肺手陽明大腸經。</p>
<p>【主治】其功只在行水下氣通血脈而已。若病患涉虛者。此則走散太甚。不宜用之。恐冷利大腸也。治傷寒汗下後。心下痞堅。噫氣不除。有七物旋覆代赭湯。治婦人有三物旋覆湯。</p>
<p>治痰飲在兩脅脹滿。有旋覆花丸。皆通泄之義也。用者詳審之。</p>
<h3>昆布</h3>
<p>【氣味】鹹寒滑無毒。</p>
<p>【主治】十二種水腫。癭瘤聚結。去面腫。療惡瘡鼠　。但昆布下氣。久服瘦人。大抵海中菜皆能損人。不可多食。</p>
<h3>淡竹葉</h3>
<p>【氣味】甘寒無毒。</p>
<p>【主治】</p>
<p>【葉】去煩熱。利小便清心。</p>
<p>【根】能墮胎催生。</p>
<h3>槐</h3>
<p>【槐實】【氣味】苦寒無毒。乃純陰入肝經氣分藥也。</p>
<p>【主治】五內邪氣熱。止涎唾。補絕傷火瘡。婦人乳瘕。子臟急痛。久服明目益氣。</p>
<p>頭不白延年。治五痔瘡　。以七月七日取之。搗汁。銅器盛之。日煎令可丸如鼠屎納竅中。日三易乃愈。又墮胎。治大熱難產。殺蟲去風。陰乾煮飲。明目。除熱淚頭腦心胸間熱。治丈夫女人陰瘡濕癢。催生吞七粒。治口齒風。涼大腸。潤肝燥。</p>
<p>【槐花】【氣味】苦平無毒。又曰味苦色黃氣涼。入陽明厥陰血分藥也。</p>
<p>【主治】五痔心痛眼赤。殺腹臟蟲。及皮膚風熱。腸風瀉血赤白痢。並炒研服。涼大腸。炒香頻嚼。治失音及喉痹。又療吐血衄崩中漏下。</p>
<h3>金箔</h3>
<p>【氣味】辛平有毒。（生者有毒。熟者無毒。古方不見用者。必須烹煉鍛屑為薄。方可入藥也。）</p>
<p>【主治】鎮精神。堅骨髓。通利五臟邪氣。療小兒驚傷五臟。風癇失志。鎮心安魂魄。癲癇風熱。上氣咳嗽。傷寒肺損吐血。骨蒸勞極作渴。並以薄入丸散服。</p>
<h3>青黛</h3>
<p>（其本原從波斯國來。不可復得。今以中國靛花為之。否則以青布燒灰可代。以靛充用。恐有鍛石。）</p>
<p>【氣味】鹹寒無毒。</p>
<p>【主治】解諸藥毒。小兒諸熱驚癇發熱。同雞子白大黃末敷瘡癰蛇虺蜇毒。瀉肝散五臟鬱火。</p>
<h3>通草</h3>
<p>【氣味】甘淡寒無毒。陽中之陰。降也。</p>
<p>【主治】色白而氣寒。味淡而體輕。故入太陰肺經。引熱下降而利小便。入陽明胃經。</p>
<p>通氣上達而下乳汁。</p>
<h3>龍膽草</h3>
<p>【氣味】苦澀大寒無毒。沉而降。陰也。入足厥陰氣分。</p>
<p>【主治】益肝膽氣。止驚惕。明目止煩。小兒驚癇。除下部風濕，除濕熱。臍以下至足腫痛。酒浸則能上行外行。為柴胡使。泄火而療眼中疾。相火寄旺於肝膽。龍膽能瀉肝膽之熱邪。而瀉即是補也。但大苦大寒。過服恐傷胃中生發之氣。反助火邪。亦猶過服黃連反從火化之義。</p>
<p>惡（地黃）</p>
<h3>天花粉</h3>
<p>【氣味】苦寒無毒。陰也。</p>
<p>【主治】解煩渴。行津液。心中枯涸者。非此不能除。與辛酸藥為佐使。導腫氣乳癰痔　瘡癤。</p>
<h3>蔓荊子</h3>
<p>【氣味】苦微寒無毒。陽中之陰。入太陽經。胃虛人不可服。恐生痰疾。</p>
<p>【主治】明目堅齒。利九竅。頭痛腦鳴。目翳淚出。散風邪。涼諸經血。止目睛內痛。搜肝風。蓋蔓荊實氣清味辛。體輕而浮。上行而散。故所主皆頭面風虛之症也。</p>
<h3>夏枯草</h3>
<p>【氣味】苦辛寒無毒。補養厥陰血脈之藥。</p>
<p>【主治】寒熱瘰　。鼠　頭瘡。破症瘕。散癭結氣。腳腫濕痹。取其能解內熱緩肝火也。</p>
<h3>燈心草</h3>
<p>【氣味】甘寒無毒。陽也。</p>
<p>【主治】瀉肺。治陰竅澀不利。行水。除喉風痹塞。燥灰塗乳上飼小兒夜啼。以粳米粉漿染過晒乾研末。入水澄之。浮於水上者。是燈心也。降心火。通氣散腫。祛衄血不止。</p>
<h3>天竹黃</h3>
<p>【氣味】甘寒無毒。</p>
<p>【主治】小兒驚風天吊。去諸風熱。鎮心明目。滋養五臟。治中風卒墜。失音不語。大抵涼心經。去風熱。其氣味功用與竹瀝同。而無寒滑之害也。</p>
<h3>青蒿（葉莖根子）</h3>
<p>【氣味】苦寒無毒。使子勿使葉。使根勿使莖。四件若同使。翻然成痼疾。得春木少陽之氣最早。故所主之症。皆少陽厥陰血分之病。</p>
<p>【主治】補中益氣。疥瘙痂癢。治留熱在骨節間。瘧疾寒熱往來。生搗汁搗敷金瘡止血止疼。</p>
<p>灰淋汁。和鍛石療惡毒瘡效。</p>
<h3>秋石</h3>
<p>【氣味】鹹寒無毒。</p>
<p>【主治】虛勞冷疾。小便遺數。漏精白濁。滋腎水。養丹田。潤三焦。消痰咳。退骨蒸。軟堅塊。</p>
<h3>茜根</h3>
<p>【氣味】苦寒無毒。陰中之陰也。</p>
<p>【主治】色赤而氣溫。味微酸而帶咸。色赤入榮。氣溫行滯。味酸入肝。咸走血。手足厥陰血分之對劑也。故專於行血活血。治女子經水不通。可為主藥。</p>
<h3>漏蘆</h3>
<p>【氣味】鹹寒有毒。足陽明本經之藥。</p>
<p>【主治】下乳汁。消熱毒。排膿止血生肌。殺蟲。療乳癰瘰　。行痘疹熱。古方治癰疽發以漏蘆湯。尤其功之首稱也。</p>
<h3>蟬蛻</h3>
<p>【氣味】咸甘寒無毒。</p>
<p>【主治】小兒驚癇夜啼。寒熱驚悸。婦人乳難。胞衣不出。殺疳蟲。去壯熱。治腸中幽幽作聲。瘡疹出不快利。治風熱痘疹作癢。頭風眩暈。破傷風及疔腫毒瘡。除目昏障翳。蓋蟬乃土木余氣所化。飲風吸露。其氣清虛。故其所主皆療一切風熱之症。古人用身。後人用蛻。</p>
<p>大抵治臟腑經絡當用蟬身。治皮膚瘡瘍風熱當用蟬蛻。各從其類也。又主啞病夜啼者。取其晝鳴而夜息也。</p>
<h3>蟾蜍</h3>
<p>（凡蟾目赤腹無八字者不可用。）</p>
<p>【氣味】辛涼微毒。</p>
<p>【主治】蓋蟾蜍土之精也。上應月魄而性靈異。穴土食蟲。又伏山精制蜈蚣。故能入陽明經。退虛熱。行濕氣。殺蟲　。而為疳病癰疽諸瘡要藥也。大抵此物能攻毒拔毒。錢氏治小兒疳瀉痼熱如聖丸。用之為君妙甚。</p>
<h3>蝸牛</h3>
<p>（狀類蛞蝓。但背另負殼也。）</p>
<p>【氣味】鹹寒有小毒。</p>
<p>【主治】小兒腫風撮口。利小便。消喉痹。研敷治蜈蚣蠍蠆毒。所主諸病。大抵有解熱消毒之功也。蝸牛殼治一切疳疾。療面上赤瘡。鼻上酒渣。久利下脫肛。</p>
<h3>穿山甲</h3>
<p>【氣味】咸微寒有毒。入厥陰陽明經。</p>
<p>【主治】除痰瘧寒熱風痹強直疼痛。通經脈。下乳汁。消癰腫。排膿血。通竅殺蟲。療蟻瘡癩。及諸疰疾疥癬惡瘡。此物穴山而居。寓水而食。出陰入陽。能竄經絡達於病所。</p>
<p>故山甲王不留。婦人食了乳長流。言其迅速也。中病即止。不可過服。</p>
<h3>象牙</h3>
<p>【氣味】甘寒無毒。</p>
<p>【主治】風癇驚悸。一切邪魅精物。熱疾骨蒸。及諸瘡。並宜生屑入藥。諸鐵及雜物入肉。</p>
<p>刮牙屑和水敷之立出。凡夏月合藥。宜置象牙於傍。取其辟邪鎮心。療一切邪魅迷惑之疾也。</p>
<h3>甘遂</h3>
<p>【氣味】甘寒有毒。陽也。</p>
<p>【主治】大腹腫滿。瀉十二種水氣腫滿。若水溢胸中。非此不能除。仲景治心下留飲與甘草同用。取其相反而立功也。又河間治水腫不全消者。以甘遂末塗腹繞臍令滿。內服甘草水。</p>
<p>其腫便去。亦反治之義也。</p>
<h3>雄黃</h3>
<p>【氣味】苦平寒有毒。</p>
<p>【主治】殺百毒。辟百邪。殺蠱毒。人佩之鬼神不敢近。入山林虎野狼伏。涉川水毒物不敢傷。佩入叢草即不畏蛇。大抵雄黃入肝經氣分。故肝風肝氣。驚癇痰涎。頭痛眩暈。暑瘧泄痢積聚諸病。用之有殊功。又能化血為水。有患者瘍生於頰連齒輔車。外腫若覆甌。內潰出膿血。痛楚難忍。以雄黃為君。佐之以石膽丹砂礬石磁石。燒之三日三夜。其煙上著。用雞羽掃取以注瘡。惡肉破而骨自盡出也。雄黃雌黃俱是同產。但以山陰山陽受氣不同耳。服食家重雄黃。取其得純陽之精也。雌黃則兼有陰氣。大寒不入藥餌。</p>
<h3>蕎麥</h3>
<p>【氣味】甘平寒無毒。</p>
<p>【主治】降氣寬腸。壓丹石毒。煉腸胃滓滯。而治濁帶泄痢腹痛上氣之疾。氣盛有濕熱者宜之。若脾胃虛寒人食之。則大脫元氣而落須眉。</p>
<h3>山楂</h3>
<p>【氣味】酸冷無毒。</p>
<p>【主治】消食積。補脾健胃。行結氣。消肉積滯血痛脹。化血塊氣塊。若胃中無食積。脾虛不能運化不思食。多服之則反克伐脾胃生發之氣。</p>
<h3>漏藍子</h3>
<p>（一名木鱉子。）</p>
<p>【氣味】苦辛有毒。</p>
<p>【主治】惡痢冷漏瘡惡瘡癘風。凡漏瘡年久者。復其元陽。當用漏藍子輩加減用之。如不當用而輕用之。又恐熱氣乘虛變移結核。而為害尤甚也。按類編云。一人兩足生瘡。臭潰難近。</p>
<p>夜宿五夫人祠下。夢神授方用漏藍子一枚。生研為末。入膩粉少許。井水調塗。依法治之果愈。蓋此物不堪服餌。只宜入瘡科也。</p>
<h2>熱性藥品</h2>
<h3>附子</h3>
<p>【氣味】辛溫有大毒。可升可降。陽中之陰。浮中之沉。無所不至。入手少陽足少陰三焦命門之劑。</p>
<p>【主治】風寒咳逆。溫中。散臟腑沉寒。拘攣膝痛。補虛散壅。脊強而厥。久病嘔噦。反胃噎膈。癰疽不斂。下痢赤白。助陽退陰。凡傷寒傳變三陰及中寒夾陰。雖身大熱而脈沉者必用之。近世陰症傷寒。往往疑似。不敢遽用。直待陰極陽竭。而莫之救。則惑之甚也。豈知附子稟雄壯之質。有斬關奪將之功。能引補氣藥行十二經。以追復散失之元陽。引補血藥入血分。以滋養不足之真陰。引發散藥開腠理。以祛逐在表之風寒。引溫暖藥達下焦。以驅除在裡之陰濕。功能退陰扶陽。起死回生。信不誣也。仲景八味丸用為少陰經之向導。又其性走而不守。健悍走下。以行地黃之滯。後人不審。相習為治風之藥。並為補藥。亦惑之甚也。又熟附配麻黃。發中有補。仲景麻黃附子細辛湯。麻黃附子甘草湯是也。又曰附子無乾薑不熱。得甘草則性緩。得桂則補命門真火。川烏頭即生附子之母。氣辛溫。功同附子而稍緩。又曰川烏頭性輕疏。溫脾去風。又云服烏附藥。並宜冷服。謂陰寒在下。虛陽上浮。治之以寒。則陰氣益甚而病增。治之以熱。則拒格而不納。熱藥冷凍飲料。下嗌之後。冷體既清。熱性便發。而病氣隨愈。不違其情。而致大益。此熱因寒用。反治之妙也。天雄乃種附子而內中生出者。又或附子中變換而出。其形長而不生子。故曰天雄。元素曰。非天雄不能補上焦之陽虛。但思上焦陽虛。即屬心肺之分。當用參　。不當用天雄。不知補下即所以益上。先賢非誤認上尖為上藥也。</p>
<h3>乾薑</h3>
<p>【氣味】辛溫無毒。半浮半沉。可升可降。陽中之陰也。又云大辛大熱。為陽中之陽。</p>
<p>【主治】其用有四。通心助陽。去臟腑沉寒痼冷。發諸經之寒氣。療感寒腹痛。故腎中無陽。</p>
<p>脈氣欲絕。附子為引。名薑附湯。亦治中焦寒邪淫勝之症。又能補下焦。故四逆湯用之以治裡寒。理中湯用之以回陽氣。或言乾薑為心脾二氣分之藥。則當補心氣之不足。補脾胃之空虛。今理中湯用之言泄不言補何也。蓋辛熱燥濕。泄脾中寒濕邪氣。非泄正氣也。邪去而正自升。只言其泄之功可也。又或云服乾薑以治中者。恐其僭上。不可不知。何也。蓋乾薑入肺中利肺氣。入腎中燥下濕。入肝經引血藥生血。同補陰藥亦能引血藥入氣分。然溫肺必和之以五味。溫胃必和之以人參。而概緩之以甘草之甘。庶不致壯火而食氣也。久服令人目暗。孕婦不可食。恐令胎內消。炒黑為灰。能引血藥入血分。引氣藥入氣分。另有奇功。</p>
<h3>草豆蔻</h3>
<p>【氣味】辛溫澀無毒。純陽而浮。入足太陰陽明經。</p>
<p>【主治】風寒客邪。散滯氣。利膈上痰。若身受寒邪。口食寒物。胃寒作痛。用之如鼓應桴。若熱鬱者。則不可用。恐其積溫成熱。有偏勝之患也。</p>
<h3>白豆蔻</h3>
<p>【氣味】大溫無毒。輕清而升。陽也浮也。入手太陰經。</p>
<p>【主治】散肺中滯氣。寬膈進飲食。溫暖脾胃。感寒腹痛。止嘔逆翻胃。去太陽經目內大紅筋。別有清高之氣。補上焦元氣之不足。</p>
<h3>肉豆蔻</h3>
<p>【氣味】辛溫無毒。入手足陽明經。（采得。須以糯米粉和包裹。投灰火煨熟用。）</p>
<p>【主治】宿食痰飲。積冷胸腹脹痛。霍亂嘔逆。性屬金而能上。可溫中以補脾。又稱其能下氣者。以脾得補而善運化。氣自下也。</p>
<h3>縮砂仁</h3>
<p>【氣味】辛溫澀無毒。陽也浮也。入手足太陰陽明太陽足少陰經。</p>
<p>【主治】脾胃氣結滯不散。虛勞冷瀉。心腹痛。下氣消食。其性屬土。故能醒脾調胃。引諸藥歸宿丹田。得白蔻為使則入肺。得人參益智為使則入脾。得茯苓為使則入腎。與赤白石脂為使則入大小腸。得條芩白朮為使則安胎。又沖和之氣隨所入而得其平也。</p>
<h3>吳茱萸</h3>
<p>【氣味】辛溫有小毒。陽中陰也。半浮半沉。入足太陰經血分。少陰厥陰經氣分。</p>
<p>【主治】溫中下氣。止心痛諸冷絞痛。利痰暖胃。通關節。開鬱化滯。凡濁陰不降。厥陰上逆。咽膈不通。食則令人口開目瞪。陰寒膈塞。氣不得下。此病不已。卒致寒中腹滿膨脹下利。宜以吳茱萸之苦熱泄其逆氣也。故仲景吳茱萸湯當歸四逆湯用之治厥陰病及溫脾胃為對症之劑。然其為性。下氣最速。腸虛之人。服之愈甚。又氣上衝膈。多食沖眼。又脫人發。</p>
<p>不可不知。</p>
<h3>肉蓯蓉</h3>
<p>【氣味】干微溫無毒。（酒浸一宿。刷去砂土浮甲。劈破中心。去白膜一重如竹絲草樣。復以甑蒸之。從午至酉。又用酥炙得所。方可入丸。）命門相火不足者。以此補之。乃腎經血分藥也。</p>
<p>【主治】五癆七傷。補中。除莖中寒熱痛。強陰益精。女子帶下陰痛。但屬土而有水與火。</p>
<p>雖能峻補精血。驟多用之。則反滑大腸。</p>
<h3>生薑</h3>
<p>【氣味】辛微溫無毒。浮而升。陽也。</p>
<p>【主治】久服去臭氣。通神明。其用有四。製厚朴半夏毒。發散風邪。溫中去濕。益脾胃藥中之佐。主傷寒頭痛鼻塞。通四肢關節。開五臟六腑。與大棗同用。調和脾胃。與芍藥同用。溫經散寒。或問生薑辛溫入肺。何以云入胃口。曰俗以心下為胃口者非也。咽門之下。受有形之物。及累之系。便是胃口。與肺系同行。故能入肺而開胃口也。又或問夜間勿食生薑。令人閉氣何也。曰生薑辛溫。主開發。夜則氣本收斂。反開發之。則違天道。故夜不宜食也。凡早行山谷。口含少許。不犯霧露清濕之氣。及山嵐不正之邪。凡中風中暑中氣中毒中惡干霍亂一切卒暴之病。用薑汁與童便服之。立可解散。不徹薑食。言可常食以通神明也。</p>
<p>不多食。恐其太辛走氣也。秋不食薑。令人瀉氣。以夏月火旺。宜汗散之。故食之不禁。秋則肺氣宜收。所當禁也。去皮用則溫。留皮則涼。</p>
<h3>五味子</h3>
<p>【氣味】酸溫無毒。可升可降。陰中微陽。入手太陰血分。足少陰氣分。</p>
<p>【主治】收散氣止嗽。補元氣不足。止瀉痢。生津液。止渴壯水。鎮陽強陰。益男子精。明目暖水臟。凡黃昏喘嗽。乃火氣浮入肺中。不宜用涼藥。唯五味子能斂而降之。或以其食之多致虛熱者。輒云用治肺之虛寒。則更不取其除熱之說。豈知其能收肺氣。即是除熱。補腎之功。即是暖水臟之功也。但有外邪者。不可驟用。恐閉其邪氣。必先發散而後用之。乃為良耳。又五六月宜常服五味子湯。以益肺金之氣。蓋五味子之酸能瀉丙火而益庚金也。仲景八味丸用此述類形象為腎氣丸。總以五味悉具。酸鹹入肝而補腎。辛苦入心而補肺。甘入中宮而益脾胃。在上則滋源。在下則益水也。</p>
<h3>桂枝</h3>
<p>【氣味】辛溫無毒。體輕而上行。浮而升陽也。入足太陽經。（即取木桂之最薄者。去其粗皮是也。）</p>
<p>【主治】傷風頭痛。開腠理。解表止煩發汗。去皮膚風濕。泄奔豚。散下焦蓄血。利肺氣。</p>
<p>療痛風。橫行手臂。或曰本草言桂枝能止煩出汗。故張仲景治傷寒有當發汗之症。凡數處皆用桂枝湯。此與本草之義甚相符合。又云無汗不得用桂枝。汗家不得重發汗。則桂枝又所禁用。而仲景傷寒有汗多之症。凡數處每用桂枝甘草湯。此又似用桂枝以閉汗也。其說何以辨之。蓋太陽中風。陰弱而汗自出。此為衛實榮虛。故發熱汗出也。又太陽病非中風。而發熱汗出者。此為榮弱衛強。而陰虛陽必湊之也。皆用桂枝湯以發其汗。乃調其榮氣。則衛氣自和。風邪無所容。遂自汗而解。非桂枝能開腠理發出其汗也。然則桂枝湯下發汗之發字。當認作出字。汗自然發出。非若麻黃症。必以麻黃開發腠理而出其汗也。則凡仲景之用桂枝湯以發汗者。其症必皮膚疏泄。自汗脈浮緩。風邪干於衛氣者。為對症之劑。其汗多而用桂枝甘草湯者。蓋腠理不密。則津液外泄。而肺氣自虛。虛則當補其母。用桂枝同甘草。外散風邪以救表。內伐肝木以防脾。佐以芍藥。泄土中之木而固脾。使以薑棗以通行脾之津液。如是而榮衛無不調和矣。榮衛既和。則邪從汗出。而汗自止。非桂枝能閉汗孔也。明乎此。而仲景之治傷寒有汗。用桂枝不令重發其汗者。是解肌之妙用也。若太陽中風。腠理致密。榮衛邪實。津液禁固。其脈浮緊。發熱而汗不出者。則屬麻黃症。不可以桂枝為能發散解肌利關節而誤用之也。</p>
<h3>肉桂</h3>
<p>【氣味】甘辛大熱有小毒。陽中之陽浮也。去其外之粗皮。是為肉桂。入足少陰太陰經血分。</p>
<p>【主治】補下焦不足。治沉寒痼冷之病。滲泄止渴。去榮衛中風寒。表虛自汗。春夏為禁藥。</p>
<p>秋冬下部腹痛非此不能止。補命門不足。益火消陰。治寒痹風喑。陰盛失血。瀉痢驚癇。故凡小兒驚風及泄瀉。並用五苓散以泄丙火。滲土濕。內用肉桂者。抑肝風而扶脾土也。醫錄云。有人患赤眼腫痛。脾虛不能飲食。肝脈盛。用涼藥治肝則脾愈虛。用暖藥治脾則肝愈盛。但於溫平藥中倍加肉桂。殺肝而益脾也。</p>
<h3>川芎</h3>
<p>【氣味】辛溫無毒。浮而升陽也。少陽本經引經之藥。又入手足厥陰氣分。</p>
<p>【主治】中風入腦頭痛。面上游風。治一切面。一切氣。一切血。破宿血。養新血。長肉諸瘡瘍及排膿。凡郁在中焦。須開提以升其氣。解諸鬱而通陰陽者。非川芎不為功。凡血痢已通而痛不止者。乃陰虧氣鬱也。若助清陽之氣而能令氣行血調者。非川芎而誰濟。但單服過久。則辛喜歸肺。肺氣偏勝。恐金來賊木。故有暴亡之患。若配合得宜。定無此害。</p>
<h3>續斷</h3>
<p>【氣味】苦微寒無毒。</p>
<p>【主治】傷寒。補不足。金瘡癰瘍折跌。續筋。婦人崩漏。子宮冷。腰痛。關節緩急。入平胃散治痢尤效。</p>
<h3>白朮</h3>
<p>【氣味】甘溫無毒。可升可降。陽中陰也。入手太陽少陰足太陰陽明少陰厥陰六經。（用乳汁潤之。以制其性。脾病以陳壁土炒過。竊土氣以助脾也。）</p>
<p>【主治】溫中去脾胃濕。除脾胃熱。強脾胃氣。進飲食。和脾胃以生津液。止肌熱。治四肢困倦。目不能開。怠惰嗜臥。不思飲食。止渴安胎。凡中焦不受濕不能下利。必須白朮以逐水益脾。非白朮不能去濕。非枳實不能消痞。故枳朮丸以之為君。然脾惡濕。濕勝則氣不得施化。津液何由而生。故曰膀胱津液之府。氣化則能出焉。用白朮以除其濕。則氣得周流。</p>
<p>而津液自生矣。</p>
<h3>益智仁</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】客寒犯胃。和中益氣。補腎虛滑瀝。三焦命門氣弱者宜之。蓋心者脾之母。欲使食化。不必專於和脾。火能生土。當使心藥入脾胃藥中。益智仁能於土中益火也。然雖脾經本藥。在集香丸則入肺。在四君湯則入脾。在大鳳髓丹則入腎。三臟各有子母相顧之義。蓋隨所引而相補一臟也。</p>
<h3>麻黃</h3>
<p>【氣味】苦溫無毒。輕清而浮升。陽也。入手太陰足太陽經。兼走手少陰陽明二經。</p>
<p>【主治】中風傷寒頭痛。發表出汗。通九竅。開毛孔。治咳逆上氣。凡六淫有餘之邪。客於陽分皮毛之間。腠理閉拒。榮衛氣血不行。謂之表實。非麻黃之輕清。不可以散濁實。但太陽寒水之經。經脈循背下行。本寒而又受外寒。固宜發汗以泄表實。或飲食勞倦及雜病自汗表虛之症。用之則汗過亡陽。脫人元氣。不可不禁。仲景治傷寒有汗用桂枝。無汗方用麻黃。傷寒傷風而咳嗽合用麻黃桂枝湯。其用意慎且重也。麻黃雖太陽發散重劑。為發散肺金火鬱之藥。其說何也。蓋寒傷榮。榮血內澀。不能外通於衛。衛氣閉固。津液不行。故無汗發熱而憎寒。其症面赤怫鬱。</p>
<h3>乳香</h3>
<p>【氣味】微溫無毒。純陽入手少陰心經。</p>
<p>【主治】活血定痛。療風水毒腫癮疹癢毒。止霍亂中惡。中邪氣。托理護心。活血伸筋。治婦人產難折傷。蓋乳香香竄能入心經。故內托護心散用之透徹瘡孔中。使毒瓦斯外出。不致內攻也。</p>
<h3>鹿茸</h3>
<p>【氣味】甘溫無毒。（采得。不可以鼻嗅之。中有小白蟲。視之不見。入人鼻則為蟲顙。不可藥也。）</p>
<p>【主治】生精補髓。養血益陽。強筋健骨。補男子腰腎虛冷。腳膝無力。夜夢鬼交。精溢自出。女人崩中漏血。赤白帶下。治一切虛損。耳聾目暗。眩暈虛痢。蜀中市上一道人貨班龍丸。一名茸珠丹。大醉高歌曰。尾閭不禁滄海竭。九轉靈丹都慢說。唯有班龍頂上珠。能補玉堂闕下穴。蓋其方用鹿茸鹿角膠鹿角霜是也。</p>
<h3>虎骨</h3>
<p>【氣味】辛微熱無毒。</p>
<p>【主治】筋骨毒風攣急屈伸不得。走注疼痛。治惡瘡鼠　。殺犬咬毒。初生小兒煎湯浴之。</p>
<p>辟惡氣。去瘡疥驚癇鬼疰。長大無病。蓋虎骨通可用。凡辟邪疰。治驚癇溫瘧。瘡疽頭風。</p>
<p>當用頭骨。治腰背諸風。當用脊骨。治手足諸風。當用脛骨。各從其類也。但虎之一身筋節氣力。皆出前足。故以脛骨為勝。</p>
<h3>蓽茇</h3>
<p>（凡使去挺用頭。以醋浸一宿。焙乾。以刀刮去皮栗子令淨乃用。免傷人肺。令人上氣。）</p>
<p>【氣味】辛大溫無毒。陽也。浮也。入手足陽明經。然辛熱耗散。能動脾肺之火。多用令人目昏。</p>
<p>【主治】溫中下氣。補腰腳。殺腥氣。消食。除胃冷陰疝癖。霍亂冷氣。心痛血氣。水瀉虛痢。嘔逆醋心。產後泄痢。與阿魏和合良。得訶子人參桂心乾薑。治臟腑虛冷腸鳴神效。治頭痛鼻淵牙痛。但蓽茇走腸胃冷氣。嘔吐心腹滿痛者宜之。多服走泄真氣。令人腸虛下重。</p>
<h3>膃肭臍</h3>
<p>（一名海狗腎。用酒浸一日。紙裹炙香。銼搗。或於銀器中以酒煎熟合藥。以漢椒樟腦同收不壞。）</p>
<p>【氣味】咸大熱無毒。</p>
<p>【主治】男子宿症氣塊。積冷勞氣。腎精衰損。多色成勞瘦悴。補中。益腎氣。暖腰膝。助陽氣。破症結。療驚狂癇疾。五勞七傷。陽痿少力。腎虛。背膊勞悶。面黑精冷最良。和劑局方治諸虛損有膃肭臍丸。今之滋補丸藥中多用之。精不足者補之以味也。大抵與蓯蓉鎖陽之功相近。亦可同糯米法面釀酒服。</p>
<h3>天雄</h3>
<p>（乃種附子而生出。或變出。其形長而不生子。故曰天雄。其長而尖者。謂之天錐。象形也。）</p>
<p>【氣味】辛溫有大毒。</p>
<p>【主治】大風寒濕痹。　節痛。拘攣緩急。破積聚邪氣金瘡。治一切風。一切氣。助陽道。</p>
<p>暖水臟。補腰膝。益精明目。通九竅。利皮膚。調血脈。四肢不遂。下胸膈水。破　癖結。</p>
<p>排膿止痛。續骨。消瘀血。背脊傴僂。霍亂轉筋。發汗。止陰汗。炮含治喉痹。但烏附天雄。皆是補下焦。命門陽虛之藥。補下所以益上也。若是上焦陽虛。即屬心脾之分。當用參。不當用天雄也。且烏附天雄之尖。皆是向下生者。其氣下行。其臍乃向上生苗之處。皆誤認尖為上耳。</p>
<h3>韭子</h3>
<p>（入藥揀淨。蒸熟曝乾。簸去黑皮。炒黃用。）</p>
<p>【氣味】辛甘溫無毒。陽也。</p>
<p>【主治】夢中泄精溺血。暖腰膝。治鬼交甚效。補肝及命門。治小便頻數遺尿。女人白淫白帶。故三因方治下元虛冷。小便不禁。或成白濁。有家韭子丸。蓋韭乃肝之菜。入足厥陰經。腎主閉藏。肝主疏泄。素問云。足厥陰病則遺尿。思想無窮。入房太甚。發為筋痿及為白淫。男隨溲而下。女子綿綿而下。韭子之治遺精漏泄。小便頻數。女人帶下者。能入厥陰補下焦肝及命門之不足。命門者藏精之府。故同治云。</p>
<h3>烏頭</h3>
<p>（草烏頭。或生用。或炮用。或以烏大豆同煮熟。去其毒用。）</p>
<p>【氣味】辛溫有大毒。</p>
<p>【主治】中風惡風洗洗出汗。除寒濕痹。咳逆上氣。破積聚寒熱。其汁煎之名射罔。殺禽獸。消胸上痰冷。食不下。心腹冷痰。臍間痛不可俯仰。目中痛不可久視。又墮胎。主惡風憎寒。冷痰包心。腸腹　痛。　癖氣塊。齒痛。益陽事強志。治頭風喉痹。癰腫疔毒。但草烏頭射罔乃至毒之藥。若非風頑急疾。不可輕投。藥性論言其益陽事。治男子腎氣衰弱者。未可遽然也。此類只能搜風勝濕。開頑痰。治頑瘡。以毒攻毒而已。豈有川烏頭附子補右腎命門之功哉。</p>
<p>反（半復　栝蔞　白芨　貝母　白蘞）　惡（藜蘆）　伏（丹砂　砒石）　忌（豉汁）　畏（飴糖　黑豆　冷水能解其毒）</p>
<h3>鹿角</h3>
<p>【氣味】咸溫無毒。</p>
<p>【主治】惡瘡癰腫。逐邪惡氣留血在陰也。除少腹血痛。腰脊痛。折傷惡血。蓋鹿角生用則散熱行血。消腫辟邪。熟用則益腎補虛。強精活血。煉霜熬膏。則專於滋陰也。</p>
<h3>鹿角膠</h3>
<p>【氣味】甘平無毒。（修治之法。取全角鋸斷約二三寸。以物盛於急水中浸數十天或百日。</p>
<p>取出。刮去筋膜淨。以　醋煮七日。旋旋添醋。勿令少歇。成時不用火。攄去角霜。復以文火熬之成膏矣。）</p>
<p>【主治】傷中勞絕。腰痛羸瘦。補中益氣。婦人血閉無子。止痛安胎。男子四肢作痛。臟氣損弱。長肌益髓。又治癆嗽。尿精。尿血。瘡瘍腫。</p>
<h3>紫蘇</h3>
<p>【氣味】辛溫無毒。其味辛。則入氣分。其色紫。則入血分。</p>
<p>【主治】下氣除寒。其子尤良。解肌發表。定喘安胎。瀉肺實。隨所引而各治一經之邪。久服之則泄人真氣。脾胃寒弱之人。過服多致滑瀉。）</p>
<h3>豆</h3>
<p>【氣味】甘微溫無毒。</p>
<p>【主治】和中下氣。補五臟。主嘔逆。止泄痢。消暑。其性溫平得乎中和。入太陰氣分。通利三焦。能化清降濁。故專治中宮之病而除濕解毒也。</p>
<h3>麝香</h3>
<p>【氣味】辛溫無毒。（凡使以當門子方妙。不可近鼻。有白蟲入腦患癩。久帶其香透關。令人成異疾。）</p>
<p>【主治】辟惡氣。去三蟲蠱毒及驚怖恍惚。療鼻塞不通。解酒毒。消瓜果食積。治中風中氣中惡痰厥。積聚症瘕。又療蛇蟲溪瘴毒。蓋麝香走竄。能通諸竅之不利。開經絡之壅遏。凡諸風諸氣諸痛驚癇症瘕可用之為引導。若五臟之風。不可用之以瀉衛氣。口鼻出血。乃陰盛陽虛。有升無降。不可用之令陽不得補。陰不得抑。婦人以血為主。凡血海虛而寒熱盜汗者宜補養之。不可用之以過散其液。</p>
<h3>當歸</h3>
<p>【氣味】苦溫無毒。可升可降。陰中微陽。入手少陰足太陰厥陰經血分。頭止血而上行。身養血而中守。稍破血而下流。全活血而不走。（凡用以酒洗淨。晒乾入藥。）</p>
<p>【主治】咳逆上氣。溫瘧寒熱。婦人漏下絕子。諸惡瘡瘍。溫中止痛。補諸不足。和血補血。故脈者血之府。諸血皆屬心。凡通脈必先補心益血。仲景治手足厥寒脈細欲絕者。以當歸補助之。凡血受病。致壅而不流。乃致作痛。若散內寒。助心和血。使氣血各有所歸。以當歸向導之。入手少陰。以其心生血也。入足太陰。以其脾裹血也。入足厥陰。以其肝藏血也。然補氣須同人參黃　。行氣須同大黃牽牛。引熱須從桂附茱萸。引寒須從芒硝大黃。用本病宜酒製。有痰以薑製。導血歸源以人參石脂為佐。血熱以生地條芩為佐。古方四物湯。以當歸為君。芍藥為臣。地黃為佐。芎　為使。總之血藥不可舍當歸也。</p>
<h3>山茱萸</h3>
<p>【氣味】酸澀無毒。陰中之陰。入足厥陰少陰經氣分。</p>
<p>【主治】溫中。逐寒濕痹。強陰益精。療耳鳴。補腎虛。興陽道。添精髓。止老人尿不節。</p>
<p>暖腰膝。助水臟。逐一切氣。破症結溫肝。仲景八味丸用之。取其味酸澀。可以秘精而收滑也。</p>
<h3>秦椒</h3>
<p>【氣味】辛溫有毒。</p>
<p>【主治】除風邪氣。溫中去寒痹。堅齒發。明目。久服輕身好顏色耐老增年通神。療喉痹吐逆疝瘕。去老血產後余疾腹痛。出汗。利五臟。上氣咳嗽。久風濕痹。治惡風遍身四肢　痹。口齒浮腫搖動。女人月閉不通。產後惡血痢。多年痢。療腹中冷痛。生毛髮滅瘢。能下腫濕氣。</p>
<p>惡（苦蔞　防葵）　畏（雌黃）</p>
<h3>蜀椒（即川椒。）</h3>
<p>【氣味】辛溫有毒。椒乃純陽之物。入手足太陰右腎命門氣分之藥。</p>
<p>【主治】邪氣咳逆。溫中。逐骨節皮膚死肌。寒熱痹痛。下氣。除六俯寒冷。傷寒溫瘧。大風汗不出。宿食腸　。下痢泄精。治水腫黃膽。殺蟲魚毒。久服開腠理。通血脈。堅齒發。</p>
<p>明目。調關節。耐寒暑。可作膏藥。治頭風下淚。腰腳不遂。虛損留結。破血。治咳嗽腹內冷痛。除齒痛。破症結開胸。治天行時氣。產後宿血。壯陽。療陰汗。暖腰膝。縮小便。止嘔逆。通神。去老益血。利五臟。下乳汁。滅瘢。生毛髮。散寒除濕。解鬱結。消宿食。通三焦。溫脾胃。補右腎命門。殺蛔蟲止泄瀉。但椒紅其味辛而麻。其氣溫以熱。稟南方之陽。受西方之陰。故能入肺散寒也。</p>
<h3>獨活</h3>
<p>【氣味】苦甘平無毒。浮而升陽也。入手足太陽經行風藥。入足厥陰少陰經氣分。</p>
<p>【主治】療諸賊風百節痛。諸風濕冷。皮肌苦癢。手足攣痛。得細辛治頭痛如神。兩足寒痹不能動履。偕牛膝木瓜燥濕立效。</p>
<h3>厚朴</h3>
<p>【氣味】苦溫無毒。可升可降。陰中陽也。</p>
<p>【主治】消痰下氣。療霍亂及腹痛脹滿。胃中冷逆嘔不止。泄痢淋露。蓋厚朴氣溫。能瀉胃中之實。故平胃散用之。佐以蒼朮。所以平胃土之太過。以致於中和也。然虛弱之人。胃氣不實。誤服脫人元氣。又不可不斟酌為用也。</p>
<h3>代赭石</h3>
<p>【氣味】苦寒無毒。乃肝與包絡二經血分藥也。</p>
<p>【主治】女子赤沃漏下帶下百病。產難胞不出。墮胎。養血氣。除五臟血脈中熱。血痹血瘀。大人小兒驚氣入腹。及陰痿不起。安胎健脾。止反胃吐血鼻衄。月經不止。腸風痔　。瀉痢脫精。夜多遺溺。小兒驚癇疳疾。金瘡長肉。辟鬼魅。故仲景治傷寒汗吐下後。心下痞硬。噫氣不除者。旋覆代赭湯主之。蓋怯則氣浮。唯重可以鎮之。代赭之重。以鎮虛逆也。</p>
<h3>葫蘆巴</h3>
<p>（一名苦豆。凡入藥淘淨。以酒浸一宿。晒乾。蒸熟或炒過用。）</p>
<p>【氣味】苦大溫無毒。</p>
<p>【主治】元臟虛冷氣。得附子硫黃治腎虛冷。腹脅脹滿。面色青黑。得　香子桃仁治膀胱氣甚效。治冷氣疝瘕。寒濕香港腳。益右腎。暖丹田。</p>
<h3>生卷柏</h3>
<p>（一名長生不死草。凡用以鹽水煮半日。再以井水煮半日。晒乾焙用。）</p>
<p>【氣味】辛平無毒。</p>
<p>【主治】五臟邪氣。女子陰中寒熱痛。症瘕血閉絕子。久服輕身和顏色。止咳逆。治脫肛。</p>
<p>結。頭中風眩痿　。強陰益精。通月經。鎮心。除面　頭風。暖水臟。生用破血。炙用止血。</p>
<h3>菖蒲</h3>
<p>（采得。以銅刀刮去黃黑硬節皮。蒸熟曝乾用。如泥菖夏菖二種不堪入藥。）</p>
<p>【氣味】辛溫無毒。其有五德。能配五行。葉青。花赤。節白。心黃。根黑。</p>
<p>【主治】一切諸風。手足頑痹。癱瘓不遂。五勞七傷。堅骨髓。長精神。開胃和血。固齒明目。澤皮膚。去寒熱。除三尸九蟲。時疾瘴疫。開心孔。通九竅。唯石上生者為佳。</p>
<h3>良薑</h3>
<p>（東壁土炒過。入藥用。）</p>
<p>【氣味】辛大溫無毒。純陽而浮。入足太陰陽明經。</p>
<p>【主治】胃中冷逆。霍亂腹痛。噫逆胃寒者宜之。人參茯苓佐之。解散胃中之風邪。</p>
<p>【紅豆蔻】</p>
<p>【氣味】辛溫無毒。陽而浮也。入手足太陰經。</p>
<p>【主治】腸虛水瀉。心腹絞痛。霍亂。嘔吐酸水。解酒毒。冷氣。消瘴霧毒瓦斯。去宿食。溫腹腸吐瀉痢疾。治噎膈反胃。虛瘧寒脹。李東垣脾胃藥中常用之。亦取其辛熱芳香能醒脾。</p>
<p>溫肺散寒。燥濕消食之功爾。若脾肺素有伏火者。切不宜用。</p>
<h3>丁香</h3>
<p>（雞舌香與丁香同種。花實叢生。其中心最大者為雞舌。擊破有順理而解為兩向如雞舌故名。乃是母丁香也。）</p>
<p>【氣味】辛溫無毒。純陽。入手太陰足少陰陽明經。（方中多用雌者力大。膏煎中若用雄須去丁。蓋乳子發人背癰也。不可見火。）</p>
<p>【主治】溫脾胃。止霍亂壅脹。風毒諸腫。齒疳　。能發諸香。風　骨槽勞臭。殺蟲。辟惡去邪。治奶頭花。止五色毒痢五痔。治冷氣冷勞。反胃鬼疰蠱毒。殺酒毒。消　癖。療腎氣奔豚氣陰痛腹痛。壯陽暖腰膝。療嘔逆甚驗。去胃寒。理元氣。氣血盛者勿服。治虛噦。小兒吐瀉。痘瘡胃虛灰白不發等症。必運氣在寒水司天之際。又值嚴冬郁遏陽氣。故用大辛熱之劑發之者也。若不分氣血虛實寒熱經絡。一概驟用。其殺人也必矣。</p>
<p>【雞舌香】</p>
<p>【氣味】辛微溫無毒。</p>
<p>【主治】風水毒腫。霍亂心痛。去惡熱。吹鼻殺腦疳。入諸香中令人身香。同薑汁塗拔去白須。孔中即生黑者異常。</p>
<h3>畏（鬱金）</h3>
<p>石硫黃（硫黃秉純陽火石之精氣而結成。性質通硫。色賦中黃。故名硫黃。含其猛毒為七十二石之將。故藥品中號為將軍。外家謂之陽侯。亦曰黃牙。又曰黃　砂。）</p>
<p>【氣味】酸溫有毒。</p>
<p>【主治】除頭禿。能化金銀銅鐵奇物。下部　瘡。殺疥蟲。古方未有服餌硫黃者。本經所用。只於治瘡蝕。攻積聚冷氣腳弱等。而近世遂火煉。治為常服丸散。觀其治煉服食之法。殊無本源。非若乳石之有論議。故服之其效雖緊。而其患更速。可不戒之。土硫黃辛熱腥臭。</p>
<p>只可治疥殺蟲。不可服也。</p>
<h3>靈砂</h3>
<p>（庚辛玉冊云。靈砂者至神之物也。硫汞制而成形。謂之丹基。奪天地造化之功。竊陰陽不測之妙。可以變化五行。煉成九還。其未升鼎者謂之青金丹頭。已升鼎者乃曰靈砂。靈砂有三。以一伏時周天火而成者。謂之九轉靈砂。以地數三十日炒煉而成者。謂之醫家老火靈砂。並宜桑灰淋。醋煮伏過用乃良。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】五臟百病。養神安魂魄。益氣明目。通血脈。止煩滿。益精神。殺精魅惡鬼氣。久服通神明不老。輕身神仙。令人心靈。主上盛下虛。痰涎壅盛頭旋。吐逆霍亂。反胃心腹冷痛。升降陰陽。既濟水火。調和五臟。輔助元氣。研末。糯糊為丸。棗湯服。最能鎮墜神丹也。故時珍曰。硫黃陽精也。水銀陰精也。以之相配夫婦之道。純陰純陽。二體合璧。故能合造化之妙。而升降陰陽。既濟水火。為扶危拯急之神丹。但不可久服耳。蘇東坡言此藥治久患反胃及一切吐逆。小兒驚吐。其效如神。有配合陰陽之妙故也。時珍常以陰陽水送之尤妙。</p>
<h3>蓽澄茄</h3>
<p>（生南海諸國。向陰者為澄茄。向陽者為胡椒。凡采得去柄及皺皮子用。酒浸蒸之從巳至酉。杵細晒乾。入藥用。）</p>
<p>【氣味】辛溫無毒。</p>
<p>【主治】下氣消食。去皮膚風。心腹間氣脹。令人能食。療鬼氣。能染發及香身。治一切冷氣痰癖。並霍亂吐瀉肚腹痛。腎氣膀胱冷。暖脾胃。止嘔吐噦逆。</p>
<h3>蓬莪朮</h3>
<p>（凡使於砂盆中以醋磨令盡。然後於火畔　干。重篩過用。此物極堅硬難搗治。用時熱灰火中煨令透。乘熱搗之即碎如粉。今人多以醋炒或煮熟入藥。取其引入血分也。）</p>
<p>【氣味】苦辛溫無毒。</p>
<p>【主治】心腹痛。中惡霍亂冷氣。吐酸水。解毒。食飲不消。酒研服之。又療婦人血氣結積。丈夫奔豚。破　癖冷氣。以酒醋磨服。治一切氣。開胃消食。通月經。消瘀血。止撲損痛下血及內損惡血。通肝經聚血。</p>
<h3>檀香</h3>
<p>【白旃檀】</p>
<p>【氣味】辛溫無毒。陽中微陰。入手太陰足少陰。通行陽明之經也。</p>
<p>【主治】消風熱腫毒。治中惡鬼氣。殺蟲。煎服止心腹痛霍亂。腎氣痛。水磨塗外腎並腰腎痛處。散冷氣。引胃氣上升進飲食。噎膈吐食。又面生黑子。每夜以漿水洗拭令赤。磨汁塗之甚良。白旃檀調氣。引芳香之物上至極高之分。最宜橙橘之屬。佐以薑棗。輔以葛根縮砂益智豆蔻。通行陽明之經。在胸膈之上處。咽嗌之間。為理氣之要藥也。楞嚴經云。白旃檀塗身能除一切熱惱。故西南諸番。皆用諸香塗身。取此義也。隋有壽禪師妙醫術。作五香飲濟人。沉香飲。檀香飲。丁香飲。澤蘭飲。甘松飲。皆以香為主。更加別藥。有味而止渴兼補益人。道書檀香謂之浴香。不可燒供上真。</p>
<p>【紫檀】</p>
<p>【氣味】鹹寒無毒。</p>
<p>【主治】摩塗惡毒風毒。刮末敷金槍止血止痛療淋。醋磨敷一切卒腫。其白檀辛溫氣分之藥也。故能理衛氣而調脾肺。利胸膈。紫檀鹹寒血分之藥也。故能和營氣而消腫毒。治金瘡。</p>
<h3>米醋</h3>
<p>（惟米醋方可入藥。極陳者方妙。）</p>
<p>【氣味】酸苦溫無毒。（不宜多食。多食損筋骨。不益男子。損人顏色。醋發諸藥。不可同食。）</p>
<p>【主治】消癰腫。散水氣。殺邪毒。理諸藥消毒。治產後血暈。除症塊堅積。</p>
<p>消食。殺惡毒。破結氣心中酸水痰飲。下氣除煩。治婦人心痛血氣。並產後及傷損金瘡出血昏暈。殺一切魚肉菜毒。醋磨青木香。止卒心痛血氣痛。浸黃柏含之治口瘡。調大黃末塗腫毒。煎生大黃服治　癖甚良。散瘀血。治黃膽黃汗。產婦房中常以火炭沃醋氣為佳。酸益血也。大抵醋治諸瘡腫積塊。心腹疼痛。痰水血病。殺魚肉菜及諸蟲毒瓦斯。無非取其酸收之義。而又有散瘀解毒之功也。</p>
<h3>五靈脂</h3>
<p>（寒號蟲屎也。此物多夾沙石。絕難修治。凡用。研為細末。以酒飛去沙石。晒乾收用。）</p>
<p>【氣味】甘溫無毒。入足厥陰肝經。又氣味俱濃。陰中之陰。入血分藥也。</p>
<p>【主治】血分。肝主血。諸痛皆屬於木。諸蟲皆生於風。故此藥能治血病。散血和血。而止諸痛。治驚癇。除瘧痢。消積化痰。療疳殺蟲。治血痹血眼諸症皆屬肝經也。失笑散不獨治婦人心痛血痛。凡男女老幼一切心腹脅肋少腹痛疝氣。並胎前產後血氣作痛。及血崩經溢。</p>
<p>百藥不效者。俱能奏功。屢用屢驗。真近世神方也。</p>
<p>惡（人參）</p>
<h3>騏竭</h3>
<p>（即血竭。凡使。先研作粉篩過。入丸散中用。若同眾藥搗。則化作塵飛矣。）</p>
<p>【氣味】甘咸平無毒。</p>
<p>【主治】心腹卒痛。金瘡血出。破積血止痛生肉。去五臟邪氣。傷折打損。一切疼痛。血氣攪刺。內傷血聚。補虛。並宜酒服。補心包絡肝血不足。益陽精。消陰滯氣。敷一切惡瘡疥癬久不合。性急不可多使。卻引膿。散滯血諸痛。婦人血氣。小兒螈　。時珍曰。騏　竭乃木之脂液也。如人之膏血。其味甘咸而走血。蓋手足厥陰藥也。肝與心包皆主血故爾。河間劉氏云。血竭除血痛為和血之聖藥是矣。乳香沒藥雖主血病而兼入氣分。此則專於血分者也。</p>
<h3>白花蛇</h3>
<p>（諸蛇鼻向下。獨此鼻向上。背有方勝花紋。以此得名。頭尾各一尺有大毒不可用。</p>
<p>去皮骨。換酒浸三日。火炙去盡皮骨。此物甚毒。不可不防。炙過收之則不蛀。其骨刺須遠棄之。傷人。毒與生者同也。）</p>
<p>【氣味】甘咸溫有毒。（得酒良。）</p>
<p>【主治】中風濕痹不仁。筋脈拘急。口面　斜。半身不遂。骨節疼痛。腳弱不能久立。暴風瘙癢。大風疥癬。治肺風鼻塞。浮風癮疹。身上白癜風　瘍斑點。通治諸風。破傷風。小兒風熱急慢驚風搐搦。瘰　漏疾。楊梅瘡。痘瘡倒陷。蛇性竄。能引藥至於有風疾處。故能治風。而花蛇又食石南。所以能透骨搜風。截驚定搐。為風痹驚搐癩癬惡瘡要藥。取其內走臟腑。外徹皮膚。無處不到。凡服蛇酒藥。切忌見風。</p>
<h3>烏稍蛇</h3>
<p>（其身烏而光。頭圓尾尖。眼有赤光。至枯死眼不陷如活者。稱之重七錢至一兩者為上。十兩至一鎰者為中。粗大者力彌滅也。作偽者用他蛇熏黑。亦能亂真。但眼不光耳。采得去頭及皮鱗。帶子。銼斷。苦酒浸一宿。漉出。柳木炭火炙干。再以酥炙於屋下。巳。地上掘坑埋一夜。再炙干用。或以酒煮干用亦可。）</p>
<p>【氣味】甘平無毒。又曰有小毒。</p>
<p>【主治】諸風頑痹皮膚不仁。風瘙隱疹疥癬。熱毒風皮肌生癩。眉髭脫落。　疥等瘡。功與白花蛇同。而性善無毒。</p>
<h3>烏藥</h3>
<p>【氣味】辛溫無毒。氣濃於味。陽也。入足陽明少陰經。</p>
<p>【主治】中惡心腹痛。蠱毒主忤鬼氣。宿食不消。天行疫瘴。膀胱腎間冷氣攻衝背膂。婦人血氣小兒腹中諸蟲。除一切冷霍亂。反胃吐食瀉痢。癰癤疥厲。並解冷熱。其功不可悉載。</p>
<p>貓鼠百病並可磨服。理元氣。中氣香港腳疝氣。氣厥頭痛。腫脹喘息。止小便頻數及白濁。但烏藥辛溫香竄。能散諸氣。故惠民和劑局萬治中風中氣諸症。用烏藥順氣散者。先疏其氣。</p>
<p>氣順則風散也。嚴用和濟生方治七情郁結上氣喘急用四磨湯者。降中兼升。瀉中帶補也。其方以人參烏藥沉香檳榔各磨濃汁七分合煎。細細咽之。</p>
<h3>禹餘糧</h3>
<p>（石中有細粉如面故曰余糧。凡用。研水取汁澄之。勿令有沙土。）</p>
<p>【氣味】甘寒無毒。入手足陽明血分重劑也。</p>
<p>【主治】咳逆寒熱煩滿。下赤白。血閉症瘕大熱。煉餌服之不飢。輕身延年。療小腹痛結煩疼。主崩中。治邪氣及骨節疼四肢不仁痔　等疾。久服耐寒暑。催生固大腸。夫重可去怯。</p>
<p>禹餘糧之重為鎮固之劑。其性澀又主下焦前後諸病。</p>
<h3>鯽魚</h3>
<p>（和蒜食少熱。同沙糖食生疳蟲。同芥菜食成腫疾。同豬肝雞肉雉肉鹿肉猴肉食生癰疽。同麥門冬食害人。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】合五味煮食主虛羸。溫中下氣。止下痢腸痔（夏月熱痢有益。冬月不宜。）合　作羹主胃弱不下食。調中益五臟。合茭首作羹。主丹石發熱。生搗塗惡核腫毒不散及　瘡。同小豆搗塗丹毒。燒灰和醬汁塗諸瘡十年不瘥者。以豬脂煎灰服治腸癰。合小豆煮汁服消水腫。</p>
<p>炙油塗婦人陰疳諸瘡殺蟲止痛。釀白礬燒研飲服治腸風血痢。釀硫黃　研釀五倍子　研酒服並治下血。釀茗葉煨服治消渴。釀胡蒜煨研飲服治膈氣。釀綠礬　研飲服治反胃。釀鹽花燒研摻齒痛。釀當歸燒研揩牙烏髭止血。釀砒燒研治急疳瘡。釀白鹽煨研搽骨疽。釀附子炙焦同油塗頭瘡白禿。凡諸魚屬火。獨鯽屬土。有調胃實腸之功。若多食亦能動火。</p>
<h3>巴豆</h3>
<p>（最能瀉人。新者佳。用之去皮心膜熬令黃黑。搗如膏。乃和丸散。有用仁者。用殼者。用油者。有生用者。麩炒者。醋煮者。燒存性者。有研爛以紙包壓去油者。謂之巴豆霜。</p>
<p>）</p>
<p>【氣味】辛溫有毒。又曰生溫熟寒。有大毒。其性熱味苦。氣薄味濃。體重而沉降陰也。又性熱味辛有大毒。浮也。陽中陽也。又生猛熟緩。能吐能下。能止能行。可升可降。</p>
<p>【主治】傷寒溫瘧寒熱。破症瘕結聚。堅積留飲。痰癖大腹。蕩練五臟六腑。開通閉塞。利水穀道。去惡肉。除鬼毒蠱主邪物。殺蟲魚。金瘡膿血不利丈夫。殺斑蜇蛇虺毒。治十種水腫痿痹。落胎。通宣一切病。泄壅滯。除風破血。排膿消腫毒。殺腹臟蟲。及疥癩疔腫。治瀉痢驚癇。心腹痛疝氣。風　耳聾。喉痹牙痛。利關竅。古人云。巴豆乃斬關奪門之將。不可輕用。若峻用則有戡亂劫病之功。微用亦有撫緩調中之妙。譬之蕭曹絳灌。乃勇猛武夫。</p>
<p>而用之為相。亦能輔治太平。王海藏言其可以通腸。可以止瀉。此發千古之秘也。</p>
<h3>沉香</h3>
<p>（木之心節。置水則沉。故名沉水。亦曰水沉。半沉者為棧香。不沉者為黃熟香。凡使沉香。須要不枯。如觜角硬重沉於水下為上。半沉者次之。不可見火。欲入丸散。以紙裹置懷中待燥研之。或入乳缽以水磨粉晒乾亦可。若入煎劑。惟磨汁臨時入之。）</p>
<p>【氣味】辛微溫無毒。陽也。有升有降。（咀嚼香甜者性平。辛辣者性熱。）</p>
<p>【主治】風水毒腫。去惡氣。主心腹痛霍亂。中惡邪鬼疰氣。清人神。並宜酒煮服之。諸瘡腫宜入膏中。調中。補五臟。益精壯陽。暖腰膝。止轉筋吐瀉冷氣。破症癖冷風麻痹骨節不任風濕皮膚瘙癢。氣痢。補右腎命門。補脾胃及痰涎血出於脾。益氣和神。治上熱下寒。氣逆喘急。大腸虛閉。小便氣淋。男子精冷。</p>
<h3>橘皮</h3>
<p>【氣味】苦辛溫無毒。又氣薄味濃。陽中之陰也。可升可降。</p>
<p>【主治】橘皮苦能瀉能燥。辛能散能溫。能補能和。化痰治嗽。順氣理中。調脾快膈。通五淋。療酒病。其功當在諸藥之上。皆是取其理氣燥濕之功。同補藥則補。同瀉藥則瀉。同升藥則升。同降藥則降。脾乃元氣之母。肺乃攝氣之侖。故橘皮為二經氣分之藥。但隨所配而補瀉升降也。故潔古張氏云。陳皮枳殼利其氣而痰自下。蓋此義也。同杏仁治大腸氣　。同桃仁治大腸血　。皆取其通滯也。</p>
<h3>鎖陽</h3>
<p>【氣味】甘溫無毒。</p>
<p>【主治】大補陰氣。益精血。利大便。虛人大便燥結者。啖之可代蓯蓉。不燥結者勿用。</p>
<h3>桂心</h3>
<p>（用紫色濃桂。去其內外之皮。取中間味辛者用之是也。）</p>
<p>【氣味】苦辛無毒。陽中之陽浮也。入手少陰經血分。</p>
<p>【主治】一切風氣。補五癆七傷。通九竅。利關節。益精明目。暖腰膝。治風痹骨節攣縮。</p>
<p>續筋骨。生肌肉。消瘀血。破　癖症瘕。內托癰疽痘瘡。能引血化汗化膿。解蛇蝮毒。</p>
<h3>米酒</h3>
<p>【氣味】苦甘辛大熱有毒。</p>
<p>【主治】行藥勢。殺百邪惡毒瓦斯。通血脈。濃腸胃。潤皮膚。養脾扶肝。止腰膝疼痛。但其味辛者能散。苦者能下。甘者能居中而緩。用為導引。可以通行一身。而能達極高之分。淡者則利小便而速下。然少飲則能和血氣。壯神御寒。消愁遣興。痛飲則傷神耗血。北人嗜飲生痰動火。醉臥當風。則成癜風。醉浴冷水。則成痛痹。服丹砂飲酒。則引藥氣入四肢。滯血化為癰疽。酒後食芥。緩人筋骨。酒後飲茶。傷腎臟。腰腳重墜。膀胱冷痛。兼患痰飲水腫消渴攣痛之疾。一切毒藥因酒得者難治。酒漿照人無影不可飲。祭酒自耗不可飲。酒得咸而解者。以水制火。酒性上而咸潤下也。得葛花綠豆粉而解者寒勝濕也。</p>
<h3>燒酒</h3>
<p>【氣味】辛甘大熱有大毒。</p>
<p>【主治】辛甘則能升揚發散。其氣燥烈。勝濕祛寒。則能開怫鬱而消沉積。通膈噎而散痰飲。治泄瘧而止腹痛。辛先入肺。則能調水道而通小便。熱能生火鑠金。大腸受刑。則令大腸燥結。暑月飲之。則膈快而胸暢。赤目洗之。則淚出而腫消赤散。此皆從治之法。蓋所以劫之之劑也。但性甚燥烈若過飲不節。則敗胃傷膽焚心。嗜飲之人甚多。近之市沽。又加以砒石草烏辣灰。升陽熱燥助而引之。是在善於攝生者謹而節之也。</p>
<h2>溫性藥品</h2>
<h3>穀精草</h3>
<p>【氣味】辛溫無毒。浮而升。上行陽明。</p>
<p>【主治】頭風痛。目盲翳膜。痘後生翳。止血。功在菊花上。</p>
<h3>白芥子</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】胸膈痰冷上氣。醋研敷射工毒。辛能入肺。溫能發散。有利氣豁痰。溫中開胃。散痛消腫辟惡之功。凡痰在脅下皮裡膜外者。非此不能達。古方控涎丹用之。執此義也。</p>
<h3>木香</h3>
<p>【氣味】辛溫無毒。沉而降。陰中陽也。乃三焦氣分之藥。（凡入理氣藥。只宜生用。不可見火。若實大腸宜面煨熟用。）</p>
<p>【主治】心腹一切氣。膀胱冷痛。嘔逆反胃。積年冷氣。溫瘧蠱毒。女人血氣刺心。和胃泄肺。行肝經氣。但其性辛劣。最能上升。如氣鬱不達者宜之。若陰火衝上者。則反助火邪。</p>
<p>不宜用也。凡諸氣　郁。皆屬於肺。上焦氣滯用之者。乃金鬱則泄之也。中氣不運。皆屬於脾。中焦氣滯用之者。脾胃喜其芳香也。大腸氣滯而後重。膀胱氣不化而癃淋。肝氣鬱則為痛。下焦氣滯而用之者。乃塞者通之也。</p>
<h3>半夏</h3>
<p>【氣味】辛平有毒。沉而降。陰中陽也。入手陽明太陰少陰三經。（凡采得以白芥子為末二兩。釅醋三兩。攪濁投半夏於內。浸洗去涎。涎若不盡。令人氣逆。肝氣怒滿。又造曲法云。以半夏為主。入薑汁白礬。加以干面和攪作面。入楮葉包置籃中。候生黃衣。日干。久貯聽用。極為良品。）</p>
<p>【主治】寒痰及形寒飲冷傷肺而咳嗽。脾胃濕。益脾胃之氣。消腫散結。渴則忌之。但今人惟知半夏去痰不能益脾。孰知脾惡濕。濕則濡困。困則不能治水。半夏之性辛而能潤。可使脾無留濕。濕去而土自燥。痰乃不生。其功之益脾何如也。又丹溪以二陳湯治一身之痰。庸醫執之。概以有痰者。即以此方為對症之劑。豈知二陳湯唯風寒濕食之痰用之。乃宜至於勞痰失血用之。反能燥血。其所當禁用又何如也。又俗以半夏性燥有毒。多以貝母代之。豈知貝母乃太陰肺經之藥。唯咳嗽吐痰。虛勞吐血。或痰中見血。諸郁咽痛喉痹。肺癰肺痿癰疽。婦人乳癰等症。此則宜以貝母為之向導。若涎者脾之液。美味膏粱炙爆。皆能生脾胃濕熱。令涎化為痰。久則痰火上攻。使人昏憒口噤偏廢僵仆蹇澀不語。自非半夏何以行濕利竅。</p>
<p>通大便而泄小便。使脾為生痰之源。肺為貯痰之器。各得滑澤自安也。又俗言半夏入方藥中。能泄痰之標。不能泄痰之本。豈知腎主五液化為五濕。自入為唾。入肝為泣。入心為汗。</p>
<p>入脾為痰。入肺為涕。半夏能流濕潤燥。無形之咳。有形之痰。悉能蕩滌必清。其泄腎非泄痰之本乎。又俗言半夏之辛。只能入肺散氣。豈知止嘔吐為足陽明。除痰為足太陰之劑。如柴胡湯中用之。雖為止嘔。亦能助柴胡黃芩之清涼。主寒熱之往來。是又非足少陽陽明之對劑乎。然熱痰佐以黃芩。風痰佐以南星。寒痰佐以乾薑。痰痞佐以陳皮白朮。多用則瀉脾胃。諸血證及口渴者則禁用。是又在驅使者之得宜也。</p>
<h3>蒼朮</h3>
<p>【氣味】苦溫無毒。又甘辛。可升可降。陰中陽也。入足太陰陽明太陽之經。</p>
<p>【主治】風寒濕痹。消痰水。暖胃消穀嗜食。瘟疾山嵐瘴氣。以其有雄壯上行之氣。故能除濕。下安太陰。使邪氣不傳入脾。以其經疳浸火炒。故能出汗。與白朮止汗特異。用者不可以此代彼。蓋有止發之別。其余主治則同。脾精不禁。小便漏濁淋不止。腰背酸痛。宜用蒼朮以斂脾精。精生於穀故也。隨經援引。務在驅使得宜。</p>
<h3>山藥</h3>
<p>【氣味】甘平溫無毒。入手足太陰經。</p>
<p>【主治】傷中。補虛羸。益氣力。長肌肉。強筋骨。補五勞七傷。心氣不足。泄精健忘。仲景八味丸用之。取其涼而善補。強陰益陽也。皮膚干燥者。亦此滋潤之。</p>
<h3>阿膠</h3>
<p>【氣味】甘平無毒。浮而升。陽也。入手少陰足少陰厥陰經。</p>
<p>【主治】吐血衄血。血淋尿血。女人血痛血枯。經水不調。崩中帶下。胎前產後諸疾。男婦一切咳嗽喘急。肺痿及癰疽腫毒。滋陰潤燥。化痰清肺。利小便。調大腸。大抵陰不足者。</p>
<p>補之以味。阿膠之甘以補陰血也。</p>
<h3>萊菔子</h3>
<p>【氣味】辛甘平無毒。</p>
<p>【主治】生能升。熟能降。升則吐風痰。散風寒。發瘡疹。降則定痰喘咳嗽。調下痢後重。</p>
<p>止內痛。利氣治痰。有推牆倒壁之功。萊菔屬土有金與水。大抵入陽明少陽氣分太陰氣分。</p>
<p>下氣之功居多。久服則滲人血。故與地黃何首烏同服。則令髭發皆白矣。</p>
<h3>威靈仙</h3>
<p>【氣味】苦溫無毒。可升可降。陽中陰也。</p>
<p>【主治】宣通五臟。去腹內冷滯心膈痰水。推新舊積。散皮膚大腸風邪。祛久積瘕症　癖。</p>
<p>膀胱宿膿惡水。威靈仙屬木。乃治痛風之要藥。其性好走。亦可橫行腰腎腳膝。積聚腸內諸冷病。服之無不立效。然久服恐損真氣。須知其性太疏利也。</p>
<h3>細辛</h3>
<p>【氣味】辛溫無毒。輕清上浮而升。陰中陽也。入足厥陰少陰血分。為手少陰引經之藥。（入煎劑不可過一錢。多則令人氣悶。）</p>
<p>【主治】散咳逆頭痛風濕痹痛。溫中下氣。益肝膽明目。利九竅。治惡風頭風。止迎風淚下。除齒痛。故水停心下不行。則腎氣燥。宜細辛之辛。以行水氣而潤燥。邪氣自裡之表。則膽氣不足。用麻黃附子細辛湯以清少陰之症。</p>
<p>惡（山茱萸　黃　）　忌（生茱）　畏（滑石）　反（藜蘆）</p>
<h3>艾</h3>
<p>【氣味】微溫無毒。可升可降。陽也。入足太陰厥陰少陰三經。</p>
<p>【主治】灸百病。利陰氣。生肌肉。辟風寒。止腹痛安胎。婦人帶下。逐冷除濕。入火灸則氣下行。入藥服則氣上行。艾附丸治心腹小腹諸痛。調女人諸病。膠艾湯治虛痢及妊娠產後下血。老人丹田氣弱。臍腹畏冷者。以熟艾入布袋兜其臍腹。寒濕香港腳。以此夾入襪內。</p>
<p>俱有奇功。或言其辛熱久服火生。不知妄意求嗣之人。以辛熱過劑。投以艾料。不謂諸藥太辛。歸咎於艾。夫豈艾之為罪耶。</p>
<h3>延胡索</h3>
<p>【氣味】辛溫無毒。可升可降。陰中陽也。入手足太陰經。</p>
<p>【主治】破產後惡血。行血中滯氣。氣中血滯。故療心氣小腹痛有神。達腎氣。通經絡立效。止下痢絞痛。妙不可述。</p>
<h3>白芷</h3>
<p>【氣味】辛溫無毒。陽也。為陽明經引經本藥。通行手足陽明經。亦入手太陰經。</p>
<p>【主治】風邪。止渴嘔吐。頭風侵目。迎風淚出。頭眩目癢。目赤　肉。治瘡痍疥癬。排膿長肌肉。</p>
<p>惡（旋覆花）</p>
<h3>骨碎補</h3>
<p>【氣味】苦平溫無毒。入足少陰經。</p>
<p>【主治】破血止血。補傷折骨中毒瓦斯。耳鳴及腎虛久泄。兼療牙疼。</p>
<h3>羌活</h3>
<p>【氣味】苦辛無毒。浮而升。陽也。入手足太陽風藥。</p>
<p>【主治】賊風多癢血癩。手足不遂。口面　斜。遍身　痹。赤目疼痛。故大無不通。小無不入。頭痛之症。巨陽從頭走足。惟厥陰與督脈會於顛。逆而上行。諸陽不得下。乃令頭痛。</p>
<p>瀉青丸用羌活。以其氣雄能入太陽而和厥陰也。</p>
<h3>木瓜</h3>
<p>【氣味】酸溫無毒。入手足太陰血分。</p>
<p>【主治】濕痹香港腳。霍亂大吐下。轉筋不止。調榮衛。助穀氣。去濕和胃。滋脾益肺。氣脫能收。氣滯能和。寇氏云。木瓜得木之正氣。酸以入肝。故益筋與血。腰腎腳膝為病無力。</p>
<p>皆不可缺也。或曰木瓜所主霍亂吐利轉筋香港腳。皆脾胃病。而云肝病何也。蓋寒濕之氣。襲傷脾胃而筋轉。必起於足腓。腓及宗筋皆屬陽明。用木瓜之酸溫以收脾肺之耗散。而藉其走筋以平肝邪。乃土中瀉木以助金也。木平則土得令而金受其蔭。得非因治肝以及脾胃乎。</p>
<h3>仙茅</h3>
<p>【氣味】辛溫有毒。（采得以新水洗刮去皮毛。用銅刀切如豆許大。稀布袋盛貯。投烏豆水中浸一宿。取出用酒拌濕蒸之。從巳至亥。曝乾出毒。庶無妨損。忌鐵器及牛乳。）</p>
<p>【主治】開胃消食下氣。益房事不倦。補三焦命門之火。陽弱精寒。稟賦素怯者宜之。</p>
<h3>何首烏</h3>
<p>（采深山重大者佳。以竹刀刮去粗皮。米泔水浸一夜。切片。用黑料豆以水泡過。砂鍋內鋪豆一層。首烏一層。層層鋪盡。蒸之豆熟取出。去豆晒乾。如此九次乃用。）</p>
<p>【氣味】苦澀微溫無毒。足厥陰少陰藥也。</p>
<p>【主治】益血氣。黑髭發。悅顏色。久服長筋骨。益精髓。延年不老。白者入氣分。赤者入血分。凡腎主閉藏。肝主疏泄。此物氣溫味苦澀。苦補腎。溫補肝。能收斂精氣。所以能養血益肝。固精益腎。不寒不燥。為滋補良藥。久服令人有子。</p>
<p>忌（諸血　無鱗魚　蘿卜　地黃　蔥　蒜　鐵器）</p>
<h3>蘇子</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】肺氣喘急。除寒溫中。益五臟。破症結。消膈寬腸。發散風氣。與葉同功。亦不宜過服。</p>
<h3>淡豆豉</h3>
<p>【氣味】苦寒無毒。陰中之陰也。</p>
<p>【主治】傷寒頭痛。懊　不眠。煩躁滿悶。虛勞喘吸。下氣調中。兼時疾瘟毒。發　嘔逆。</p>
<p>蓋豆性平。作豉則溫。故能升能散。得蔥而發汗。得鹽而能吐。得酒而治風。得薤而治痢。</p>
<p>得蒜而止血。炒熟又能止汗也。</p>
<h3>香</h3>
<p>【氣味】辛平無毒。陽也浮也。</p>
<p>【主治】香本治膀胱之藥。以其先丙。故入小腸而潤丙燥。以其先戊。故從丙至壬。又手足少陰二藥。以開上下經之通道。所以壬與丙交也。又曰小　香性平。理氣開胃。大　香性熱。暖丹田補命門不足。俱入手足太陽少陰經。</p>
<h3>麻仁</h3>
<p>【氣味】甘平無毒。入手陽明足太陽之藥。</p>
<p>【主治】潤五臟。利大腸風熱結燥及熱淋。其陽明病。汗多。胃熱。便難。三者皆屬於燥。</p>
<p>用之可以通潤。脾苦急。食甘以緩之。麻仁之甘。以緩脾潤燥。</p>
<h3>黃</h3>
<p>【氣味】甘微溫無毒。可升可降。陰中陽也。入手少陽足太陰足少陰命門之劑。</p>
<p>【主治】補諸虛不足。益元氣。去肌熱瘡瘍。排膿止痛。壯脾胃。去諸經之痛。除虛熱。得防風其功愈大。護周身皮毛腠理間虛。無汗則發之。有汗則斂之。為表藥。補三焦。實胃氣。治傷寒尺脈不至為裡藥。故凡內傷其飲食。脾胃脹滿。發熱惡寒。吐瀉怠臥。神短脈微者。當以人參為君。黃　為臣。表虛自汗。亡陽潰瘍。痘疹陰瘡。則當以黃　為君。人參為臣。</p>
<p>惡（白蘚皮　鱉甲）</p>
<h3>菟絲子</h3>
<p>（凡用以溫水淘去沙泥。酒浸一宿。曝乾搗之。如不盡者。再浸曝搗。）</p>
<p>【氣味】辛甘平無毒。</p>
<p>【主治】續絕傷。補不足。益氣力。養肌強陰。主莖中寒。精自出。溺有餘瀝。明目輕身延年。補肝臟風虛。稟中和凝正陽之氣。一莖從樹感枝而成。從中脊上陽結實。故專補人衛氣。助人筋脈。明目去風。腎部之要劑也。</p>
<h3>杏仁</h3>
<p>【氣味】甘苦溫有小毒。兩仁者殺人。可以毒狗。沉而降。陰也。入手太陰經。</p>
<p>【主治】咳逆上氣。潤肺消食積。散滯結。王氏治傷寒氣上逆喘者。麻黃湯內加杏仁陳皮。</p>
<p>若氣不上喘逆者。減杏仁陳皮。明乎其瀉肺也。又東垣云。杏仁下喘。用以治氣。桃仁止狂。用以治血。二仁雖俱治大便之秘。然晝之難。便屬陽氣之不和。夜之難。便屬陰血之不潤。又當知杏仁之專行氣分也。又脈浮在氣。用杏仁而佐以陳皮。脈浮在血。用桃仁而佐以陳皮。俱用陳皮者。以其手陽明病與手太陰俱為表裡也。賁門上主往來。魄門下主收閉。故王氏言肺與大腸為通道也。</p>
<h3>秦艽</h3>
<p>（以布拭去黃白毛。用童便浸一宿。晒乾用。）</p>
<p>【氣味】苦平無毒。性又微溫。陰中微陽。可升可降。入手陽明經。</p>
<p>【主治】養血榮筋。除本經風濕口噤。腸風瀉血。通身攣急。肢節引痛。</p>
<p>畏（牛乳）</p>
<h3>檳榔</h3>
<p>【氣味】苦辛溫澀無毒。沉而降。陰中陽也。</p>
<p>【主治】消穀逐水。除痰　。逐三尸寸白。治腹脹。利水道。療瀉痢後重心腹諸痛。大小便閉。御瘴癘。大抵苦以破滯。辛以散邪。檳榔能瀉胸中至高之氣使之下行。如鐵石之沉重。</p>
<p>能墜諸藥至於下極。故治諸氣後重如神也。嶺表之俗。多食檳榔。取其能祛瘴癘。但有瘴則宜服之。南方人亦相習而食。寧不損正氣而有開門延寇之禍乎。凡入藥亦宜慎重。不可僭用。</p>
<h3>杜仲</h3>
<p>（凡用削去粗皮。用酥油和蜜塗炙。細銼用。）</p>
<p>【氣味】辛平無毒。沉而降。陰也。</p>
<p>【主治】腰膝痛。益精氣。堅筋骨。除陰下癢濕。小便余瀝。腳心酸痛。不欲踐地。潤肝燥。補肝經風虛。蓋肝主筋。腎主骨。腎充則骨強。肝充則筋健。屈伸利用。皆屬於筋。杜仲色紫而潤。味甘微辛。甘溫則能補。微辛則能潤。故能入肝而補腎。子能令母實也。</p>
<p>惡（玄參）</p>
<h3>薑黃</h3>
<p>【氣味】辛苦大寒無毒。入心治血兼入脾。</p>
<p>【主治】祛症瘕血塊癰腫。通月經消腫毒。五痹湯用之以治風寒濕氣手臂痛。此又兼理血中之氣也。</p>
<h3>石鐘乳</h3>
<p>【氣味】甘溫無毒。又曰有大毒。</p>
<p>【主治】乃陽明經氣分之藥。但石鐘乳為剽悍之劑。內經云。石藥之氣悍。仁哉言也。凡藥氣之偏者。可用於暫。而不可久。夫石藥又偏之甚者也。自唐時太平日久。膏粱之家。惑於方士服食致長生之說。以石藥體濃氣濃。習以成俗。迨宋至今猶未已也。斯民何辜。受此氣悍之禍。而莫之能救。哀哉。本草贊其久服延年之功。柳子濃又從而述美之。予不得不深言也。</p>
<h3>青鹽</h3>
<p>【氣味】鹹寒無毒。</p>
<p>【主治】明目。目痛。益氣。堅肌骨。去毒蠱。其功在卻血入腎。治目中瘀赤色昏憒。助水臟。益精氣。療齒舌血出。秘精固齒。功同食鹽。不經煎煉而味鹹帶甘。入藥似勝。</p>
<h3>赤石脂</h3>
<p>【氣味】甘酸辛大溫無毒。降也。陽中陰也。</p>
<p>【主治】養心氣。明目益精。療腹痛腸癖下痢赤白。小便利。及癰疽瘡痔女子崩中漏下。產難胞衣不出。久服補髓好顏色。益智不飢。輕身延年。補五臟虛乏。補心血。生肌肉。濃腸胃。除水濕。收脫肛。</p>
<h3>白石脂</h3>
<p>【氣味】甘酸平無毒。</p>
<p>【主治】養肺氣。濃腸。補骨髓。療五臟驚悸不足。心下煩。止腹痛。下水。小腸　熱溏便膿血。女子崩中漏下赤白沃。排癰疽瘡痔。久服安心不飢。輕身延年。澀大腸。五色石脂本經療體亦相似。別錄分條具載。今俗惟用赤白二脂斷下痢耳。其用有三。固腸胃有收斂之能。下胎衣無推蕩之峻。澀可去脫。石脂為收斂之劑。赤入丙。白入庚。二石脂皆手足陽明藥也。其味甘。其氣溫。其體重。其性澀。澀而重。故能收濕止血而固下。甘而溫。故能益氣生肌而調中。中者腸胃肌肉驚悸黃膽是也。下者腸　泄痢崩帶失精是也。五種主療。大抵相同。故本經不分條目。但云各隨五色補五臟。別錄雖分五種。而性味主治。亦不甚相遠。但以五味配五色為異。亦是強分耳。赤白二種。一入氣分。一入血分。故時用上之。張仲景用桃仁湯。治下痢便膿血。取赤石脂之重澀。入下焦血分而固脫。乾薑之辛溫暖下焦氣分而補虛。粳米之甘溫。佐石脂乾薑而潤腸胃也。</p>
<p>赤畏（芫花）　惡（大黃　松脂）　白畏（黃芩　甘草　黃連）　惡（松脂）</p>
<h3>陽起石</h3>
<p>（凡入藥燒後水　用之。凝白者佳。亦有用燒酒浸過。同樟腦入罐升煉取粉用者。）</p>
<p>【氣味】咸微溫無毒。</p>
<p>【主治】男子婦人下部虛冷。腎氣乏絕。子臟久寒。右腎命門氣分藥也。下焦虛寒者宜用之。須水飛用之。凡石藥冷熱皆有毒。務宜斟酌。即用亦非久服之藥。</p>
<h3>紫菀</h3>
<p>（凡使先去須。有白如練色者。號白羊須草。自然不同。去頭及土用。東流水洗淨。以蜜浸一宿。至明拴火上焙乾用。一兩用蜜二分。）</p>
<p>【氣味】苦溫無毒。</p>
<p>【主治】咳逆上氣。胸中寒熱結氣。至蠱毒痿　。安五臟。療咳吐膿血。止喘悸五勞體虛。</p>
<p>補不足。小兒驚癇。治尸疰。補虛下氣。勞氣虛熱。百邪鬼魅。調中消痰。止渴潤肌膚。添骨髓。益脈氣。主息賁。</p>
<p>惡（天雄　瞿麥　本　雷丸　遠志）　畏（茵陳）</p>
<h3>蒼耳子</h3>
<p>（入藥炒熟搗去刺用。或酒拌蒸過用。）</p>
<p>【氣味】甘溫有小毒。又曰甘無毒。</p>
<p>【主治】風頭寒痛。風濕周痹。四肢拘攣痛。惡肉死肌。膝痛。久服益氣。治肝熱明目。治一切風氣。填髓。暖腰腳。治瘰　瘡疥及瘙癢。炒香浸酒服。去風補益。</p>
<p>忌（豬肉　馬肉　米泔害人）</p>
<h3>劉寄奴</h3>
<p>（凡采得去莖葉只用實。以布拭去薄殼令淨。拌酒蒸從巳至申。曝乾用。）</p>
<p>【氣味】苦溫無毒。</p>
<p>【主治】破血下脹。多服令人下痢。下血止痛。治產後余疾。止金瘡血極效。心腹痛。下氣。水脹血氣。通婦人經脈症結。止霍亂水瀉。小兒尿血。新者研末服。</p>
<h3>豆蔻</h3>
<p>（即草果。）</p>
<p>【氣味】辛溫澀無毒。又大辛熱。陽也。浮也。入足太陰陽明經。</p>
<p>【主治】溫中。心腹痛嘔吐。去口臭氣。下氣。止霍亂一切冷氣。消酒毒。調中補胃。健脾消食。去客寒心與胃痛。治瘴癘寒瘧。傷暑吐下。泄痢。噎膈。反胃。痞滿。吐酸痰飲積聚。婦人惡阻帶下。除寒燥濕。開鬱破氣。殺魚肉毒。制丹砂。然豆蔻治病。取其辛熱浮散。</p>
<p>能入太陰陽明。除寒燥濕。開鬱化食之力而已。南地卑下。山嵐煙瘴。飲啖酸鹹。脾胃常多寒濕鬱滯之病。故食料必用與之相宜。然過多亦能助脾熱傷肺損目。或云與知母同用。治瘴瘧寒熱。取其一陰一陽無偏勝之害。蓋草果治太陰獨勝之寒。知母治陽明獨勝之火。</p>
<h3>款冬花</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】咳逆上氣。善喘喉痹。諸驚癇寒邪邪氣。消渴喘息呼吸。療肺氣心促急熱勞咳連連不絕。涕唾稠黏。肺痿肺癰吐膿血。潤心肺。益五臟。除煩消痰。洗肝明目。及中風等疾。</p>
<p>本經主咳。古方用為溫肺治嗽之最。</p>
<p>惡（皂莢　硝石　玄參）　畏（貝母　辛夷　麻黃　黃　黃芩　連翹　青葙）</p>
<h3>本</h3>
<p>【氣味】辛溫無毒。氣濃味薄。升也陽也。足太陽本經藥。</p>
<p>【主治】婦人疝瘕。陰中寒腫痛。腹中急。除風頭痛。長肌膚。悅顏色。辟霧露。潤澤。療風邪　曳金瘡。可作沐藥面脂。治一百六十種惡風鬼疰。流入腰痛冷。能化小便。通血。去頭風　。治皮膚疵　酒　粉刺癇疾。治太陽頭痛巔頂痛。大寒犯腦。痛連齒頰。頭面身體皮膚風濕。督脈為病。脊強而厥。治癰疽。排膿。內塞。夫　本乃太陽經風藥。其氣雄壯。</p>
<p>寒氣鬱於本經頭痛必用之藥。顛頂痛非此不能除。與木香同用。治霧露之清邪中於上焦。與白芷同作面脂。既治風又治濕。亦各從其類也。</p>
<p>惡（　茹）　畏（青葙子）</p>
<h3>補骨脂</h3>
<p>（俗名為破故紙。）</p>
<p>【氣味】辛大溫無毒。</p>
<p>【主治】五癆七傷。男子腰疼。時冷。婦人血氣。墮胎。興陽事。明耳目。治腎泄。通命門。斂精神。其性屬火。收斂神明。能使心胞絡之火。與命門之火相通。故元陽堅固。骨髓充實。澀以治脫之義也。然又言故紙能補脾者。非補脾也。凡人腎氣虛弱。則陽氣衰劣。不能熏蒸脾胃。脾胃氣寒。則令人胸膈痞塞。不進飲食。遲於運化。遂或腹脅虛脹。或嘔吐痰涎。</p>
<p>或腸鳴泄瀉。譬如鼎釜之物。若無火力。雖終日不熟。濟生二神丸。治脾胃虛寒。用破故紙補腎。肉豆蔻補脾。脾腎互交。故紙補腎即所以補脾也。</p>
<h3>忍冬</h3>
<p>（即金銀花。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】止氣下　熱毒血痢水泄。一切風濕氣。及諸腫毒癰疽疥癬楊梅。莖葉及花功用皆同。昔人稱其治風濕脹。解痢逐尸為要藥。而後世不復知用。後世稱其消腫散毒治瘡為要藥。</p>
<p>而昔人並未言及。古今之理。固不一轍。而推究各極其妙。古今之揆一也。</p>
<h3>使君子</h3>
<p>【氣味】甘溫無毒。</p>
<p>【主治】小兒五疳小便白濁。殺蟲。療瀉痢。健脾胃。除虛熱。諸藥殺蟲者。多是辛苦。唯使君子榧子甘而殺蟲。俗謂殺蟲殆盡無消食。孰知樹有蠹。屋有蟻。國有盜。福耶禍耶。（服之忌飲熱茶。）</p>
<h3>五倍子</h3>
<p>【氣味】酸鹹平無毒。乃蟲食之津液結成者。其味酸鹹。</p>
<p>【主治】能斂肺止血。化痰止渴收汗。其氣寒。能散熱毒瘡腫。其性收。能除泄痢濕爛。凡黃昏咳嗽。乃火氣浮入肺中。不宜用涼劑。唯五味五倍能斂而降之也。百藥煎其功與五倍子不異。但經釀過。其體輕虛。其性浮收。且味帶余甘。治上焦心肺咳嗽痰飲熱渴諸病。</p>
<h3>訶子</h3>
<p>（梵言訶黎勒。凡用以酒浸後蒸一伏時。刀削去皮。取肉銼焙。用核則去肉。）</p>
<p>【氣味】苦溫無毒。又苦酸平苦重酸輕味濃。陰也降也。</p>
<p>【主治】冷氣心腹脹滿。下食。破胸膈結氣。通利津液。止水道。黑髭發。下宿物。止腸久泄。赤白痢。消痰下氣。化食開胃除煩。治水調中。止嘔吐霍亂。心腹虛痛。奔豚腎氣。</p>
<p>肺氣喘急。五膈氣。腸風瀉血。崩中帶下。懷孕漏胎。及胎動欲生。脹悶氣喘。並患痢人肛門急痛。產婦陰痛。和蠟燒煙熏之及煎湯熏洗。治痰嗽咽喉不利。含三數枚殊勝。實大腸。斂肺降火。訶子同烏枚五倍子用則收斂。同橘皮厚朴用則下氣。同人參用則能補肺治咳嗽。東垣云。嗽藥不用者非矣。但咳嗽未久者不可驟用。</p>
<h3>芫花</h3>
<p>【氣味】苦溫有大毒。</p>
<p>【主治】凡人飲有五。症由內啜水漿。外受濕氣。郁蓄而為留飲。流於肺則為支飲。令人喘咳寒熱。吐沫背寒。流於肝則為懸飲。令人咳唾痛引缺盆兩脅。流於心下則為伏飲。令人胸滿嘔吐。寒熱眩暈。流於腸胃則為痰飲。令人腹鳴吐水。胸脅支滿。或作泄瀉。忽肥忽瘦。</p>
<p>流於經絡則為溢飲。令人沉重注痛。或作水氣腑腫。芫花之性。逐水泄濕。能直達水飲窠囊隱僻之處。經所謂開鬼門潔淨府之法也。但其性甚猛捷。不可輕用損人真元也。</p>
<h3>益母草</h3>
<p>（根莖花葉。）</p>
<p>【氣味】微苦甘。俱可入藥同用。白花者入氣分。紫花者入血分。</p>
<p>【主治】明目益精。調經益產。腫毒瘡瘍。胎漏產難。胎衣不下。但根莖花葉專於行血。而子則行中有補也。</p>
<h3>紫石英</h3>
<p>（凡入丸散用火　醋淬七次。碾末。水飛過。晒乾入藥。）</p>
<p>【氣味】甘溫無毒。入手少陰足厥陰血分藥也。</p>
<p>【主治】心腹咳逆邪氣。補不足。女子風寒在子宮絕孕。十年無子。久服溫中。輕身延年。</p>
<p>療上氣心腹痛。寒熱邪氣結氣。補心氣不足。定驚悸。安魂魄。填下焦。止消渴。除胃中久寒。散癰腫。令人悅澤。養肺氣。治驚癇蝕膿。紫石英上能鎮心重以去怯也。下能益肝。濕以去枯也。心生血。肝藏血。其性暖而補。故心神不安。肝血不足。及女子血海虛寒不孕者宜之。別錄言其補心氣。甄權言其養肺者。殊昧氣陽血陰營衛之別。惟本經所言諸證甚得此理。</p>
<p>畏（扁青　附子）　惡（　甲　黃連）</p>
<h3>橘核仁</h3>
<p>（凡用須以新瓦焙香。去殼取仁。研碎入藥。）</p>
<p>【氣味】苦平無毒。</p>
<p>【主治】橘核入足厥陰與青皮同功。故治腰痛潰疝在下之病。不獨取象於核。和濟局方。治諸疝痛及內潰卵腫偏墜。或硬如石。或腫至潰。有橘核丸用之有效。</p>
<h3>金櫻子</h3>
<p>【氣味】咸澀平無毒。</p>
<p>【主治】脾泄下痢。止小便利。澀精氣。久服令人耐寒輕身。又止遺泄。取其溫且澀也。世人待紅熟時。取汁熬膏。味甘全斷澀味。都全失本性。大誤也。惟當取半黃者。干搗末用之。若無故而服之以取快欲則不可。若精氣不固者。服之何咎之有。</p>
<h3>大薊根</h3>
<p>【氣味】甘溫無毒。又曰有毒。</p>
<p>【主治】女子赤白沃。安胎。止吐血鼻衄。令人肥健。搗根絞汁服半升。主崩中血下立瘥。</p>
<p>葉治腸癰腹臟瘀血。作運撲損。生研酒並小便任服。又惡瘡疥癬同鹽研　之。</p>
<h3>小薊根</h3>
<p>【氣味】甘溫無毒。</p>
<p>【主治】養精保血。破宿血。生新血。暴下血血崩。金瘡出血嘔血等。絞取汁溫服。作煎和糖。合金瘡及蜘蛛蛇蠍毒。服之亦佳。治熱毒風並胸膈煩悶。開胃下食。退熱補虛損。苗去煩熱。生研汁服。作菜食除風熱。夏月熱煩不止。搗汁半升服之瘥。小薊力微。只可退熱。</p>
<p>不似大薊能健養下氣也。大小薊皆能破血。但大薊兼療癰腫。而小薊專主血。不能消腫也。</p>
<h3>莪朮</h3>
<p>（酒醋浸過。面包煨熟用良。）</p>
<p>【氣味】辛溫無毒。其色黑。能破氣中之血。入氣藥中發諸香。</p>
<p>【主治】雖為泄劑。亦能益氣。所以大小七香丸集香丸散。皆因之以治氣短不相接續也。</p>
<h3>狗脊</h3>
<p>【氣味】苦平無毒。</p>
<p>【主治】腰脊強。關機緩急周痹。寒濕膝痛。頗利老人。療失溺不節。男女腳弱腰痛。風邪淋露。少氣目暗。堅脊利俯仰。女子傷中關節重。男子女人毒風軟腳。腎氣虛弱。續筋骨。</p>
<p>補益男子。強肝腎。治風虛。</p>
<h3>蠡實</h3>
<p>（即馬藺子。凡入藥。炒過用。治疝則以醋拌炒之。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】皮膚寒熱。胃中熱氣。風寒濕痹堅筋骨。令人嗜食。久服輕身。止心煩滿。利大小便。長肌膚肥大。療金瘡血內流癰腫有效。婦人血氣煩悶。產後血暈。並經脈不止。崩中帶下。消一切瘡癤。止鼻衄吐血。通小腸。消酒毒。治黃病。殺蕈毒。敷蛇蟲咬。治小腹疝痛。腹內冷積水痢諸病。</p>
<p>【花實及根葉】</p>
<p>【主治】去白蟲。療喉痹。多服令人溏泄。主癰疽惡瘡。</p>
<h3>海帶</h3>
<p>【氣味】寒咸無毒。</p>
<p>【主治】婦人病及療風下水。亦可催生。治癭瘤結核功同海藻。</p>
<h3>晚蠶砂</h3>
<p>（晒乾淘淨再晒。可久收不壞。）</p>
<p>【氣味】甘辛溫無毒。</p>
<p>【主治】腸鳴。熱中消渴。風痹癮疹。炒黃袋盛浸酒。去風緩諸節不隨。皮膚頑痹。冷血瘀血。腰腳冷疼。及婦人血崩頭風風赤眼。去風除濕。蓋蠶屬火。其性燥。燥能勝風去濕。故主療風濕之病也。</p>
<h3>全蠍</h3>
<p>【氣味】甘辛平有毒。</p>
<p>【主治】蠍產於東方。色青屬木。足厥陰經藥也。故治厥陰諸病。諸風掉眩。搐掣瘧疾。寒熱耳聾無聞。皆屬厥陰風木。故東垣云。凡疝氣帶下。皆屬於風。蠍乃活風要藥。俱宜加而用之。</p>
<h3>郁李仁</h3>
<p>（先以湯浸去皮尖用。生蜜浸一宿。漉出陰乾。研如膏用之。）</p>
<p>【氣味】酸平無毒。陰中之陽。脾經氣分藥也。</p>
<p>【主治】大腹水腫。面目四肢浮腫。利小便水道。腸中結氣。關格不通。泄五臟膀胱急痛。</p>
<p>宣腰胯冷膿。消宿食。下氣破癖氣。下四肢水。酒服四十九粒。能瀉結氣。破血潤燥。專治大腸氣滯燥澀不通。研和龍腦點赤眼。蓋郁李仁又甘苦而潤。其性降。故能下氣利水。</p>
<h3>麥</h3>
<p>（一名麥芽。）</p>
<p>【氣味】咸溫無毒。</p>
<p>【主治】消食和中。破冷氣。去心腹脹滿。開胃。止霍亂。除煩悶。消痰飲。破症結。能催生落胎。補脾胃虛。寬腸下氣。腹鳴者用之。麥　穀芽粟　皆能消化一切米面諸果食積。其麥芽神麯二藥。胃氣虛人宜服之。以代戊己腐熟水穀。豆蔻縮砂烏梅木瓜芍藥五味子為之使。但有積者能消化。無積而久服。則消人元氣也。不可不知。若久服者。須同白朮諸藥兼用。則無害矣。</p>
<h3>穀</h3>
<p>（一名穀芽。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】快脾開胃。下氣和中。消食化積。</p>
<h3>蜈蚣</h3>
<p>（采得真者。去頭足並尾。以薄荷葉包。火煨用之。犯蜈蚣毒。以烏雞糞或大蒜塗之立效。或以火氣熏之亦效。或以蜘蛛吸之亦效。或以蛞蝓搗敷之亦效。）</p>
<p>【氣味】辛溫有毒。</p>
<p>【主治】蠱毒。啖諸蛇蟲魚毒。療心腹寒熱積聚。治症癖。小兒驚癇臍風口噤。丹毒禿瘡瘰。蓋行而疾者。唯風與蛇。蜈蚣能制蛇。故亦能截風。蓋厥陰經藥也。故所主諸症多屬厥陰。凡用取身扁而長。黑頭赤足者為良。千足蟲與蜈蚣相似。但頭上有白肉。面並嘴俱尖。</p>
<p>若誤用並犯其腥臭氣。入腦致死。不可不慎。重選擇之。</p>
<h3>爐甘石</h3>
<p>（此物點化為神藥絕妙。九天三清俱尊之曰爐先生。非小藥也。凡用以炭火　紅。童子小便淬七次。水洗淨。研粉水飛過晒用。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】止血消腫毒。生肌明目。去翳退赤。收濕除爛。同龍腦點治目中一切諸病。爐甘石陽明經藥也。受金銀之氣。故治目病為要藥。</p>
<p>（凡入藥燒後水　用之。凝白者佳。又用火中　赤。酒淬七次。研細水飛過日干。亦有用燒酒浸過。同樟腦入罐升煉取粉用者。）</p>
<p>【氣味】咸微溫無毒。</p>
<p>【主治】崩中漏下。破子臟中血症瘕結氣。寒熱腹痛。無子。陰痿不起。補不足。療男子莖頭寒。陰下濕癢。去臭汗。消水腫。久服不飢。令人有子。補腎氣。精乏腰疼。膝冷濕痹。</p>
<p>子宮久冷。冷症寒瘕。止月水不定。治帶下溫疫冷氣。補五勞七傷。補命門不足。散諸熱腫。</p>
<h3>桃花石</h3>
<p>（出申州鐘山縣。似赤石脂。但舐之不著舌者是也。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】大腸中冷膿血痢。久服令人肥悅能食。</p>
<h3>麥飯石</h3>
<p>（此石碎如棋子。炭火燒赤。投米醋中浸之。如此十次。研末篩細。入乳缽內用數入更碾五七日。要細膩如面極細方有效。若不細。塗之即極痛也。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】一切癰疽發背。</p>
<h3>玄精石</h3>
<p>【氣味】咸溫無毒。</p>
<p>【主治】玄精石稟太陰之精。與鹽同性。其氣寒而不溫。其味甘咸而降。同硫黃硝石。治上盛下虛。救陰助陽。有扶危拯逆之功。故鐵瓮申先生來復丹用之。正取其寒以配硝硫之熱。</p>
<p>開寶本草。言其性溫誤矣。故古方不見用。近世補藥及傷寒多用之。其著者治傷寒正陽丹出汗也。</p>
<h3>硼砂</h3>
<p>【氣味】苦辛暖無毒。</p>
<p>【主治】硼砂味甘微咸而氣涼。色白而質輕。故能去胸膈上焦之熱。素問云。熱淫於內。治以鹹寒。以甘緩之是也。其性能柔五金而去垢膩。故治噎膈積聚骨硬結核惡肉陰潰用之者。</p>
<p>取其柔物也。治痰熱眼目障翳用之者。取其去垢也。</p>
<h3>玄明粉</h3>
<p>【氣味】辛甘無毒。沉也陰也。</p>
<p>【主治】心熱煩躁。並五臟宿滯症結。明目。退膈上虛熱。消腫毒。大抵玄明粉其用有二。</p>
<p>去胃中之實熱。蕩腸中之宿垢。用此以代盆硝耳。神農本草言朴硝煉餌服之。輕身神仙。玄明傳云。陰中有陽。能除一百二十種疾。蓋因方士竄入之言。後人因此制為玄明粉。　煉多偏。佐以甘草。去其鹹寒之毒。遇有三焦腸胃實熱積滯。少年氣壯者。量與服之。亦有速效。若脾胃虛冷。及陰虛火動者。服之是速其咎矣。</p>
<h3>蟾酥</h3>
<p>【氣味】甘辛溫微毒。即蟾蜍眉間之白汁也。以油單紙裹眉裂之。酥出紙上。陰乾用。真者輕浮。入口味甜。其汁不可入人目。令人赤腫目盲。急以紫草汁洗點即消。</p>
<p>【主治】小兒疳積腦疳。治腰腎冷。並助陽氣及療蟲牙齒縫出血。拔發背疔瘡一切惡腫。</p>
<h3>石硫黃</h3>
<p>【氣味】酸溫有毒。</p>
<p>【主治】古方未有服餌硫黃者。本經所用。只於治瘡蝕。攻積聚冷氣腳弱等。而近世遂火煉治為常服丸散。觀其治煉服食之法。殊無本源。非若乳石之有論議節度。故服之其效雖緊。</p>
<p>而其患更速。可不戒之。土硫黃辛熱腥臭。只可治疥殺蟲。不可服。</p>
<h3>長松根</h3>
<p>【氣味】甘溫無毒。</p>
<p>【主治】風血冷氣宿疾。溫中去風。治大風惡疾。眉發墮落。百骸腐潰。每以一兩入甘草少許。水煎服旬日即愈。又解諸蟲毒。補益長年。</p>
<h3>白頭翁</h3>
<p>（一名野丈人。花子莖葉同。）</p>
<p>【氣味】苦溫無毒。氣濃味薄。可升可降。陰中陽也。</p>
<p>【主治】溫瘧狂　。寒熱症瘕積聚癭氣。逐血止腹痛。療金瘡鼻衄。止毒痢赤痢。腹痛。百節骨痛。項下瘤　。一切風氣。暖腰膝。明目消贅。</p>
<h3>山慈菇</h3>
<p>【氣味】甘微辛有小毒。</p>
<p>【主治】癰腫瘡　瘰　結核等。醋磨敷之。亦剝人面皮。除　。主疔腫。攻毒。破皮。解諸毒蠱毒蛇蟲狂犬咬。</p>
<h3>石蒜</h3>
<p>（一名一枝箭。蒜以根狀名。箭以莖狀名。又曰金燈花根。）</p>
<p>【氣味】辛甘有小毒。</p>
<p>【主治】敷貼腫毒。疔瘡惡核。可水煎服取汗及搗敷之。及中溪毒者。酒煎半升服。取吐良。</p>
<h3>杜衡</h3>
<p>（即土細辛。）</p>
<p>【氣味】辛溫無毒。</p>
<p>【主治】風寒咳逆。作浴湯香人衣體。止氣奔喘促。消痰飲。破留血項間癭瘤之疾。下氣殺蟲。古方吐藥往往用杜衡者。非杜衡也。乃及已也。及已似細辛而有毒吐人。昔人多以及已當杜衡。杜衡當細辛。故爾錯誤也。杜衡則無毒不吐人。功雖不及細辛。而亦能散風寒。下氣消痰行水破血也。</p>
<h3>三七根</h3>
<p>（一名金不換。）</p>
<p>【氣味】甘微苦溫無毒。</p>
<p>【主治】止血散血定痛。金刃箭傷跌撲杖瘡血出不止者。嚼爛塗或為末摻之。其血即止。亦主吐血衄血。下血血痢。崩中經水不止。產後惡血不下。血暈血痛。赤目癰腫。虎咬蛇傷諸病。此藥近時始出。南人軍中用為金瘡要藥。云有奇功。又云凡杖撲傷損瘀血淋漓者。隨即嚼爛罨之即止。青腫者即消散。若受杖時。先服一二錢。則血不衝心。杖後尤宜服之。產後服亦良。大抵此藥氣溫味甘微苦。乃陽明厥陰血分之藥。故能治一切血病。與騏　竭紫　相同。</p>
<h3>列當</h3>
<p>（一名草蓯蓉根。與肉蓯蓉極相類。刮去花。壓扁以代肉者。功力殊劣。即列當。）</p>
<p>【氣味】甘溫無毒。</p>
<p>【主治】男子五勞七傷。補腰腎。令人有子。去風血。煮酒浸酒服之。</p>
<h3>蘼蕪</h3>
<p>（一名蘄　。其葉似當歸。其香似白　。故有蘄　江蘺之名。蘺草生江中。故又曰江蘺。）</p>
<p>【氣味】辛溫無毒。</p>
<p>【主治】咳逆。定驚氣。辟邪惡。除蠱毒鬼疰。去三蟲。久服通神。主身中老風。頭中久風風眩。作飲止泄瀉。</p>
<p>【花】【主治】入面脂用。</p>
<h3>藿香葉</h3>
<p>【氣味】辛微溫無毒。浮而升。陽也。可升可降。入手足太陰經。</p>
<p>【主治】風水毒腫。去惡氣。止霍亂心腹痛。脾胃吐逆為要藥。助胃氣。開胃口。進飲食。</p>
<p>溫中快氣。肺虛有寒。上焦壅熱。飲酒口臭煎湯漱。芳香之氣助脾胃。故藿香能止嘔逆進飲食。乃手足太陰之藥。故入順氣烏藥散則補肺。入黃　四君子湯則補脾也。</p>
<h3>山柰根</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】暖中。辟瘴癘惡氣。治心腹冷氣痛。寒濕霍亂。風蟲牙痛。入合諸香用。</p>
<h3>排草香</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】辟臭。去邪惡氣。</p>
<h3>野菊</h3>
<p>（一名苦薏。生澤畔。莖如馬蘭。花如菊。菊甘而薏苦。處處原野極多。與菊無異。但葉薄而尖。多花小而蕊多如蜂窠狀。）</p>
<p>【根葉莖花】【氣味】苦辛溫有小毒。</p>
<p>【主治】癰腫疔毒瘰　眼息。</p>
<h3>澤蘭</h3>
<p>（凡用大小澤蘭。細銼。以絹袋盛懸於屋南畔角上令干用。）</p>
<p>【氣味】苦微溫無毒。</p>
<p>【主治】金瘡癰腫瘡膿。蘭草澤蘭氣。香而溫。味辛而散。陰中之陽。足太陰厥陰經藥也。</p>
<p>脾喜芳香。肝宜辛散。脾氣舒。則三焦通利而正氣和。肝鬱散。則榮衛流行而病邪解。蘭草走氣道。故能利水道。除痰癖。殺蠱辟惡。而為消渴良藥。澤蘭走血分。故能治水腫。塗癰毒。破瘀血。消症瘕。而為婦人要藥。雖是一類。而功用稍殊。正如赤白茯苓芍藥補瀉皆不同也。</p>
<h3>水蘇</h3>
<p>（一名龍腦薄荷。）</p>
<p>【莖葉】【氣味】辛微溫無毒。</p>
<p>【主治】水蘇之功。專於理血下氣。清肺辟惡消穀。故太平和濟局方。治吐血衄血唾血咳血下血血淋口臭口苦口甜喉腥邪熱諸病。有龍腦薄荷丸。方藥多不錄。用治血病果有殊效。</p>
<h3>由跋</h3>
<p>（是虎掌新根。大干半夏一二倍。四畔未有子牙。其宿根即虎掌也。）</p>
<p>【氣味】辛苦溫有毒。</p>
<p>【主治】毒腫結熱。</p>
<h3>鳳仙</h3>
<p>（一名急性子。）</p>
<p>【子】【氣味】微苦溫有小毒。</p>
<p>【主治】產難積塊噎膈。下骨哽。透骨通竅。鳳仙子其性急速。故能透骨軟堅。庖人烹魚肉。硬者投數粒即易軟爛。是其驗也。緣其透骨。最能損齒。與玉簪根同。凡服者不可著齒。</p>
<p>多用亦戟人咽。</p>
<h3>木藜蘆</h3>
<p>【氣味】苦平溫有毒。</p>
<p>【主治】疥癬殺蟲。</p>
<h3>木鱉子仁</h3>
<p>【氣味】甘溫無毒。</p>
<p>【主治】折傷。消結腫惡瘡。生肌止腰痛。除粉刺　。婦人乳癰。肛門腫痛。醋磨消腫毒。治疳積痞塊。利大腸瀉痢痔瘤瘰　。</p>
<h3>降真香</h3>
<p>【氣味】辛溫無毒。</p>
<p>【主治】燒之辟天行時氣宅舍怪異。小兒帶之。辟邪惡氣。療折傷金瘡。止血定痛。消腫生肌。</p>
<h3>樟腦</h3>
<p>（釋名韶腦。）</p>
<p>【氣味】辛熱無毒。</p>
<p>【主治】通關竅。利滯氣。治中惡邪氣。霍亂心腹痛。寒濕香港腳。疥癬風瘙齲齒。殺蟲辟毒。著鞋中去香港腳。蓋樟腦純陽。與焰硝同性。水中生火。其焰益熾。今丹爐及煙火家多用之。辛熱香竄。稟龍火之氣。去濕殺蟲。此其所長。故燒煙熏衣筐席簞。能辟壁虱蟲蛀。</p>
<h3>阿芙蓉</h3>
<p>（俗作鴉片。）</p>
<p>【氣味】酸澀溫微毒。</p>
<p>【主治】瀉痢脫肛不止。能澀丈夫精氣。今人房中術用之。京師售一粒金丹。云通治百病。</p>
<p>皆方伎家之術耳。</p>
<h3>曲</h3>
<p>【小麥曲】【氣味】甘溫無毒。</p>
<p>【主治】消穀止痢。平胃氣。消食痔。治小兒食癇。調中下氣。開胃。療臟腑中風寒。主霍亂心膈氣痰逆。除煩破症結。補虛去冷氣。除腸胃中塞不下食。令人有顏色。落胎並下鬼胎。止河魚之疾。</p>
<p>【大麥曲】【氣味】同前。</p>
<p>【主治】消食和中。下生胎。破血。取五升。以水一斗煮三沸。分五服。其子如糜。令母肥盛。</p>
<p>【面曲米曲】【氣味】同前。</p>
<p>【主治】消食積酒積糯米積。研末酒服立愈。余功同小麥曲。</p>
<h3>飴糖</h3>
<p>（釋名餳音徐。糖之清者曰飴。稠者曰餳。色紫類琥珀者。方中謂之膠飴。干枯者名餳。方家用飴。乃云膠飴。是濕糖如濃蜜者。其寧結及牽白者餳糖不入藥用。）</p>
<p>【氣味】甘大溫無毒入太陰經。</p>
<p>【主治】補虛乏。止渴去血。補虛冷。益氣力。止腸鳴咽痛。治吐血。消痰潤肺止嗽。健脾胃。補中。打損瘀血者熬焦酒服能下惡血。又傷寒大毒嗽。於蔓菁薤汁中煮一沸。頓服之良。</p>
<p>脾弱不思食人。少用能和胃氣。亦用和藥。解附子草為頭毒。古方建中湯多用之。糖與酒皆用米　。而飴居上品。酒居中品。是糖以和潤為優。酒以醺亂為劣。脾欲緩。急食甘以緩之。飴之甘以緩中也。飴乃脾經氣分藥也。甘能補脾之不足。</p>
<h3>血余</h3>
<p>（頭上曰發。屬足少陰陽明。耳前曰鬢。屬手足少陽。目上曰眉。屬手足陽明。唇上曰髭。屬手陽明。頦下曰須。屬足少陰陽明。兩頰曰髯。屬足少陽。其經氣血盛則美而長。氣多血少則美而短。氣少血多。則少而惡。氣血俱少。則其處不生。氣血俱熱。則黃而赤。氣血俱衰。則白而落。</p>
<p>【氣味】苦微溫無毒。</p>
<p>【主治】咳嗽五淋大小便不通。小兒驚癇。止血。鼻衄燒灰吹之立已。燒灰療轉胞小便不通。赤白痢。哽噎。癰腫。疔腫骨疽雜瘡。消瘀血。補陰甚捷。發乃血余。故能治血病。補陰。療驚癇。去心竅之血。</p>
<h2>平性藥品</h2>
<h3>天麻</h3>
<p>【氣味】辛溫無毒。乃肝經氣分之藥。陰中之陽也。</p>
<p>【主治】風痰眩暈頭痛。療小兒風癇驚悸。麻痹不仁。</p>
<h3>草決明</h3>
<p>【氣味】咸平無毒。</p>
<p>【主治】青盲目淫。赤白膜翳。助肝益精。解蛇毒。止鼻紅。作枕治頭風。利五臟。</p>
<p>石斛</p>
<p>【氣味】甘平無毒。短而中實如金釵者良。陰中之陽。降也。乃足太陰脾足少陰右腎之藥。</p>
<p>【主治】強陰益精。濃腸胃。男子腰腳軟弱。發熱自汗。癰疽排膿內塞。胃中虛熱。清肺補脾。尤有殊功。</p>
<h3>朱砂</h3>
<p>【氣味】甘微寒無毒。</p>
<p>【主治】鎮心安魂魄。通神明。主尸疰抽風。解驚癇胎毒痘毒。蓋朱砂生於炎方。秉離火之氣而成。體陽而性陰。故外顯丹色。內含真汞。其氣不熱而寒。離中有陰也。其味不苦而甘。火中有土也。故可以養心。可以明目。可以安胎。可以解毒。可以發汗。隨佐使而見功。</p>
<p>無所往而不可。若有人自覺本形忽若為二。並行並臥不辨真假者。魂離魄也。用辰砂為君。</p>
<p>人參茯苓為佐。濃煎日飲。則真者氣爽。假者自化。又或夜多惡夢。通宵不寐。佩之以箭鏃辰砂。神魂安靜。此皆辟惡安魂之驗也。但宜生使。若煉服。恐竄入經絡骨髓。流而為癰瘤疽毒也。又小兒初生。以朱砂輕粉白蜜黃連之屬。欲下胎毒。不知輕粉下痰損心。朱砂下涎損神。兒實者服之軟弱。弱者服之易傷變生諸病也。</p>
<h3>木賊草</h3>
<p>【氣味】甘微苦無毒。空而輕。陽中之陰。升也浮也。</p>
<p>【主治】目疾。退翳膜。益肝膽。解肌止淚。與麻黃同形同性。亦能散火鬱風濕而發汗。</p>
<h3>覆盆子</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】益氣輕身。補虛續絕。養肝明目。陰痿能令堅長。女子食之有子。其補益與桑椹同功。</p>
<h3>牛膝</h3>
<p>【氣味】苦酸平無毒。乃足厥陰少陰所主之藥。</p>
<p>【主治】寒濕痿痹。四肢拘攣膝痛不可屈伸。墮胎。男子陰消。老人失溺。婦人月水不通。</p>
<p>補腎填精。逐惡血留結。助十二經脈。壯陽道。大抵得酒則能補腎肝。生用則能去惡血。最能引諸藥下至於足。又云春夏用莖葉。秋冬用根。而葉汁之效尤速。</p>
<h3>龍骨</h3>
<p>【氣味】甘平無毒。陽中之陰。入手足少陰厥陰經。</p>
<p>【主治】益腎鎮驚。止陰瘧。收濕氣。療多寐泄精。小便自泄。生肌斂瘡。蓋澀可去脫。龍骨能收斂浮越之正氣。固大腸而鎮驚。又主帶脈為病。</p>
<h3>人參</h3>
<p>【氣味】甘微寒無毒。浮而升陽也。入手太陰經而能補陰火。用本臟藥相佐使。隨所引而相補一臟入脾亦歸其所喜。</p>
<p>【主治】止渴生津液。安精神。定魂魄。止驚悸。安胃和中。除邪氣霍亂吐逆。止消渴。通血脈。得升麻為引。用補上焦之元氣。瀉肺中之火。得茯苓為引用。補下焦之元氣。瀉腎中之火。得麥門冬則生脈。得乾薑則補氣。凡人面白面黃面青黧悴者。皆脾肺腎氣不足可用也。面赤面黑者。為氣壯神強。不可用也。脈之浮而芤濡虛大遲緩無力。沉而遲澀弱細結代無力者。皆虛而不足可用也。脈弦長緊實滑數有力者。皆火鬱內實不可用也。喘嗽勿用者。謂痰實氣壅。不可用之以益其實也。若腎虛氣短而促者急用之。肺寒而咳。則寒束熱邪。壅滯在肺。固宜禁用。若自汗惡寒而咳。中氣不調急用之。久病而鬱熱在肺。則火抑於內。宜發不宜補。忌用之。若肺虛火旺。氣短自汗。非人參為之君。何以補肺之陽。瀉肺之陰。諸痛不可驟用者。乃邪氣方銳。宜散而不宜補也。若裡虛吐利。及久病胃弱虛痛喜按者。非人參為之君。何以升中氣之陽。降中氣之陰。故古人治肺寒以溫肺湯。治肺熱以清肺湯。治中滿以分消湯。合血虛以養榮湯。皆有人參在焉。所謂邪之所輳。其氣必虛。養正則邪自除。陽旺則陰血生。至理所在。貴於配合得宜。</p>
<p>反（漏蘆）　惡（山楂　溲疏鹵鹹）　忌（鐵器）</p>
<h3>蒺藜</h3>
<p>【氣味】苦溫無毒。</p>
<p>【主治】明目輕身。咳逆肺痿諸風　瘍。補腎。治腰痛泄精。虛損勞乏。古方補腎治風。皆用白蒺藜。補腎益精。則用沙苑蒺藜。然究之其性宣通。久服不冷而無壅熱。腎水自得其天。功用俱同一也。（白者炒研去茨用。沙苑者酒蒸晒乾。）</p>
<h3>天南星</h3>
<p>（造膽星法。以生南星研末。臘月取黃牯牛膽汁和劑納入膽中。系懸風處干之。年久者彌佳。）</p>
<p>【氣味】苦溫有大毒。陰中之陽。可升可降。乃手足太陰脾肺之藥。</p>
<p>【主治】性辛而麻。故能治風散血。氣溫而燥。故能勝濕除涎。緊而毒。故能攻積拔腫。而治口　舌縻。然得防風則不麻。得牛膽則不燥。得火炮則不毒。</p>
<h3>蛤蚧</h3>
<p>（凡用須炙令黃色熟搗。口含少許。奔走不喘息者、乃為真也。可入丸散。其毒在眼。</p>
<p>須去眼及甲上尾上腹上肉毛。雄為蛤。雌為蚧。身長四五寸。尾與身等。藥力在尾。尾不全者不效。）</p>
<p>【氣味】咸平有小毒。</p>
<p>【主治】積久咳嗽。肺痿咯血。肺癰急。通水道。昔人言補可去弱。人參羊肉之屬。蛤蚧補肺氣。定喘止渴。功同人參。益陰血。助精扶羸。功同羊肉。</p>
<h3>桑寄生</h3>
<p>【氣味】苦平無毒。</p>
<p>【主治】腰痛小兒背強癰腫。去女子崩中不足。安胎及產後余疾。下乳汁。助筋骨。益血脈。</p>
<h3>棗仁</h3>
<p>【氣味】酸平無毒。</p>
<p>【主治】心腹寒熱邪結氣聚。四肢酸痛濕痹。安五臟。療心煩不得眠。補中益肝氣。泄虛汗煩渴。其子肉味酸。食之使不思睡。核中仁服之。療不得眠。正如麻黃發汗。根節能止汗也。大抵酸棗實生用之味酸性收。專主肝病寒熱結氣。酸痹久泄。臍下滿痛之症。其仁炒熟用。則甘而潤。故療膽虛不得眠。煩渴虛汗之症。皆足厥陰少陽藥也。今人專以棗仁為心家之藥。則不明此理矣。蓋木為心之母。謂虛則益其母可也。</p>
<h3>遠志</h3>
<p>【氣味】苦溫無毒。（須去心。仍用甘草湯浸一宿。焙乾用。腎經氣分之藥也。）</p>
<p>【主治】咳逆傷中。補不足。除邪氣。利九竅。益智慧。強志倍力。婦人血噤失音。小兒客忤。腎積奔豚。治一切癰疽。但遠志入足少陰腎經。非心經之藥。其功專於強志益精。令不健忘。蓋精與志。皆腎經之所藏。腎精不足。則志氣衰不能上通於心。故迷惑而善忘也。三因方云。遠志酒治癰疽有奇功。蓋亦補腎之功也。</p>
<h3>沒藥</h3>
<p>【氣味】苦平無毒。</p>
<p>【主治】破血止痛。療金瘡杖瘡諸惡瘡痔漏。卒下血。破症瘕宿血。損傷瘀血。消腫定痛生肌。大概乳香活血。沒藥散舊而生新。皆能止痛消腫。故方藥中每相兼而用之也。</p>
<h3>茯神</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】五勞口乾。止驚悸。療風眩風虛。開心益智。安魂魄。養精神。補勞乏。主心下急痛堅滿。人虛而小腸不利。加而用之。神木即茯神心內木。療毒風筋攣。心神驚掣。治香港腳痹痛。</p>
<h3>（白赤）茯苓</h3>
<p>【氣味】甘平無毒。浮而升。陽也。白者入手太陰足太陽經氣分。赤者入足太陰手少陰太陽氣分。</p>
<p>【主治】心下結痛。寒熱煩滿。咳逆。口焦舌乾。利小便。止消渴。大腹淋瀝。膈中痰水。</p>
<p>開胸肺。調臟氣。伐腎邪。長陰益氣力。開胃止嘔逆。安心神。主肺痿痰壅。小兒驚癇。女人熱淋。暖腰膝。安胎。除濕益燥。緩脾生津。導氣平火。開腠理。泄膀胱。療腎積奔豚。</p>
<p>赤茯苓主治。破結氣。瀉心小腸膀胱濕熱。利竅行水。蓋茯苓之白入壬癸。</p>
<p>赤者入丙丁。味甘而淡又降也。為陽中之陰。服食至要云。茯芩通神而至靈。和魂而煉魄。利竅而益肌。濃腸而開心。調榮而理衛。大抵得松之余氣孕毓而成。屬金之質。小便多能止之。小便澀能利之。止之者何。茯苓多益心脾。性美。下能接引諸溫暖藥歸就腎經。腎得真火而真氣固。故八味丸之不離茯苓者是也。利之者何。凡飲食入胃。游溢精氣。上輸於肺。通調水道。下輸膀胱。茯苓淡滲而色白為金之象。金之令上行而下降。金能生水。</p>
<p>澀者有不利之乎。然本草言茯苓利小便。伐腎邪。有降而下之之功。而丹溪又言陰虛者不宜用。似亦相反何也。蓋肺虛心虛胞熱厥陰病者皆虛熱也。其人必上熱下寒。脈虛而弱。法當用升陽之藥。以升水降火。膀胱不約。下焦虛者。乃火投於水。水泉不藏。脫陽之症。其人必肢冷脈遲。法當用溫暖之藥。峻補其下。交濟坎離。二症皆非茯苓淡滲之藥所能益其元氣。</p>
<p>朱氏之謂陰虛不可用者。此之謂也。素問云。心虛則少氣遺溺。下焦虛則遺溺。胞遺熱於膀胱則遺溺。膀胱不利為癃。不約為遺。厥陰病則遺溺閉癃。朱氏之不欲驟用者。其深明於此理也。若肺氣盛者實熱也。其人必氣壯脈強。寒淫所勝。素問所云肺氣盛則便數而欠。非茯苓之淡滲。何以分陰陽而導濕。本草之必用以伐腎邪者。此之謂也。</p>
<h3>小麥</h3>
<p>【氣味】甘微寒無毒。入少陰太陽之經。</p>
<p>【主治】養心及肝。其功除煩止渴。收汗利溲止血。新者性熱。陳者平和。浮者主治虛汗。</p>
<p>麥麩性涼而熱。凡人身體疼痛及瘡瘍腫爛沾漬。或小兒暑月痘瘡爛潰。不能著席睡臥者。並用夾褥盛麩縫合。藉臥為良。</p>
<h3>白附子</h3>
<p>【氣味】辛甘大溫有大毒。入陽明經能引藥勢上行。</p>
<p>【主治】中風失音。一切冷風氣。面　瘢疵。小兒毒暑入心。痰塞心孔。昏迷搐搦。非瞑眩之劑。不能伐之。三生丸君白附子。此之謂也。</p>
<h3>紫河車</h3>
<p>（采得投長流水洗淨血污。蒸搗入藥為良。筋膜乃初結真氣。不可剔去。）</p>
<p>【氣味】甘咸無毒。</p>
<p>【主治】血氣羸瘦。男女一切虛損勞極。癲癇失志恍惚。安心養血。益氣補精。</p>
<h3>大棗</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】屬土而有火。味甘性緩。甘先入脾。為脾經血分之藥。仲景治奔豚用大棗湯。滋脾土以平腎氣也。治水飲脅痛有十棗湯。益土而勝水也。方藥中用薑棗作引。溫以補不足。甘以緩陰血也。有齒病疳病患不宜啖棗。小兒尤不宜食。令齒黃生　。與蔥同食。令人五臟不和。與魚同食。令人腰腹痛。</p>
<h3>龜甲</h3>
<p>（凡使鋸去四邊。石上磨淨。炭火炮過。醋塗酥炙。或以酒炙用。）</p>
<p>【氣味】甘平有毒。</p>
<p>【主治】血滯麻痹。久嗽虛瘧。屬金水。功長於補陰。治血治勞。蓋龜鹿皆靈而有壽。龜首常藏向腹。能通任脈。故取其版以補心補腎補血以養陰也。鹿鼻常反向尾。能通督脈。故取其角以補命補精補氣以養陽也。古人制龜鹿二仙膏見神工之能事矣。龜下甲治漏下赤白。破症瘕。去瘀血。止血痢。續筋骨。療勞倦。四肢無力。腰腳酸痛。</p>
<h3>神麯</h3>
<p>（凡用炒黃以助土氣。陳久者良。）</p>
<p>【氣味】甘辛溫無毒。陽中之陽也。入足陽明經。</p>
<p>【主治】化水穀宿食症結宿滯。健脾暖胃。霍亂泄痢。炒研酒服。回產婦乳。</p>
<h3>五加皮</h3>
<p>【氣味】辛溫無毒。五加者五車星之精也。水應五湖。人應五德。位應五方。物應五車。故青精入莖。則有東方之液。白氣入節。則有西方之津。赤氣入花。則有南方之光。玄精入根。則有北方之　。黃煙入皮。則有戊己之靈。五神鎮生。相轉育成。餌之者真仙。服之者反嬰。</p>
<p>【主治】風濕痿痹。壯筋骨。順氣化痰。添精補髓。男子陰痿囊下濕。小便余瀝。女人陰癢及腰瘠痛弱。釀酒飲治四肢拘攣。去皮膚風濕。</p>
<h3>僵蠶</h3>
<p>【氣味】鹹辛平無毒。浮而升。陽中之陽也。入厥陰陽明之藥。</p>
<p>【主治】小兒驚癇夜啼。去三蟲。男子陰痿。女子崩中赤白。產後腹痛。滅諸瘡瘢痕。療一切金瘡疔腫風痔。蓋僵蠶屬火兼土與金。木老得金。氣僵而不化。治喉痹者。取其清化之氣。從治相火者。取其散濁結滯之痰。因其氣相感。而以意使之者也。有枸杞蠶一種。生枸杞樹上。取之曝乾晒用。主治益陽道填精。炙黃入地黃丸。功長於補腎。治腎家風虛。</p>
<p>惡（桑螵蛸　桔梗　茯苓　茯神　萆　）</p>
<h3>百合</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】補中益氣。止涕淚。除心下急滿。潤肺止嗽。仲景治百合病。有百合知母湯。百合滑石代赭湯。百合雞子湯。百合地黃湯。凡四方病名百合。而用百合治之。不知何義。</p>
<h3>阿魏</h3>
<p>（臭而止臭者。乃為真。驗法有三。一以半銖安熟銅器中一宿。至明沾阿魏處白如銀汞。無赤色。一以一銖置五斛草自然汁中一夜。至明如鮮血色。一以一銖安於柚樹上樹立干。</p>
<p>便是真者。）</p>
<p>【氣味】辛平無毒。</p>
<p>【主治】殺諸小蟲。去臭氣。破症積。除邪鬼蠱毒。解自死牛羊馬肉諸毒。消肉積。祛傳尸冷氣。辟溫治瘧。</p>
<h3>龍眼肉</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】五臟邪氣。安志。除蠱毒。去三尸蟲。久服強魄聰明。開胃益脾。性味和平。嚴用和歸脾湯。治思慮勞傷。用龍眼肉取甘味歸脾。能益人之智。通神明也。</p>
<h3>鼠黏子</h3>
<p>【氣味】辛平無毒。陽中之陰。升也。</p>
<p>【主治】其用有四。治風溫癮疹咽喉風熱。散諸腫瘡瘍之毒。利凝滯腰膝之氣。</p>
<h3>蓖麻子</h3>
<p>【氣味】甘辛平有小毒。陰也。</p>
<p>【主治】性善收能追膿。取毒。又能出有形之滯物。故取胎產胞衣刺骨。膠血者用之。</p>
<h3>礞石</h3>
<p>【氣味】甘咸平無毒。其性下行。陰也沉也。乃足厥陰之藥。</p>
<p>【主治】肝經病。故宜以礞石之重墜。疏快其滯。使木平氣下。而痰積通利也。然只可用之救急。若氣弱脾虛者不宜僭服。</p>
<h3>白前</h3>
<p>【氣味】甘微寒無毒。</p>
<p>【主治】脅逆氣。胸逆氣。呼吸欲絕。降氣下痰。手太陰也。然長於降氣。肺氣壅實而有痰者宜之。若虛而兀兀硬氣。則不可用之以泄化源。</p>
<h3>鉤藤</h3>
<p>【氣味】甘平微寒無毒。入手足厥陰經。足厥陰主風。手厥陰主火。</p>
<p>【主治】驚癇眩暈。皆肝風相火之病。鉤藤通心包於肝木。風靜火熄。則諸症自除。大人頭旋目眩。亦可兼療。</p>
<h3>巴戟天</h3>
<p>（以連珠多肉濃者為勝。用枸杞子煎湯浸一宿。漉出。再酒浸一伏時。漉出。同菊花熬煎黃。去菊花。以布拭乾用。）</p>
<p>【氣味】辛甘微溫無毒。</p>
<p>【主治】大風邪氣。陰痿不起。強筋骨。安五臟。療頭面游風。小腹及陰中相引痛。乃腎經血分藥也。</p>
<h3>枸杞子</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】堅筋骨。除風去虛勞。補精氣。滋腎潤肺。益陽事。祛下焦肝腎虛熱。蓋枸杞之苗。乃天之精。苦甘而涼。上焦心肺客熱者宜之。枸杞之根乃地骨皮。甘淡而寒。下焦肝腎虛熱者宜之。</p>
<p>是皆三焦氣分之藥。所謂熱淫於內。佐以甘寒也。至於子則甘平而潤。性滋而補。專能補腎潤肺。生精益氣。所謂精不足者補之以味也。</p>
<h3>密蒙花</h3>
<p>（凡使揀淨。酒浸一宿。漉出候干。拌蜜蒸三次入用。）</p>
<p>【氣味】甘平微寒無毒。</p>
<p>【主治】青盲膚翳赤腫。多眵淚。消目中赤脈。小兒麩口及疳氣攻眼。羞明怕日。入肝經氣血分。潤肝燥。</p>
<h3>茺蔚</h3>
<p>（益母草子。）</p>
<p>【氣味】辛甘微寒無毒。陰中微陽。入手足厥陰經。</p>
<p>【主治】能活血行氣。有補陰之功。故能明目益精。調經殊功。東垣言瞳子散大者禁用茺蔚子。意謂目得血而能視。茺蔚子行血甚捷。瞳子散大則白不足故禁之。非助火也。然血滯病目。此則宜之。</p>
<h3>葳蕤</h3>
<p>（采得以竹刀刮去節皮洗淨。用蜜水浸一宿。蒸焙乾用。）</p>
<p>【氣味】甘平無毒。能升能降。陽中陰也。</p>
<p>【主治】風淫四末。兩目淚爛。男子濕注腰痛。女子面生　黑。療風溫自汗。身重語言難出。虛勞寒熱痞瘧及一切不足之症。用代參　。不熱不燥。大有殊功。</p>
<h3>三棱</h3>
<p>【氣味】苦平無毒。陰中之陽也。</p>
<p>【主治】老癖症瘕。產後惡血。破積氣。消撲損瘀血。真氣虛者勿用。</p>
<h3>萆</h3>
<p>【氣味】苦平無毒。足陽明厥陰經藥也。</p>
<p>【主治】厥陰主筋屬風。陽明主肉屬濕。萆　之功長於去風濕。所以能治緩弱　痹遺濁惡瘡諸病。故萆　釐清飲。以之治真元不足。下焦虛寒。小便頻數。白濁如膏之症。又人飲酒過傷。或不飲酒而過食辛熱葷膩之物。又或因房勞過度。以致小便頻數而痛。與淋症澀而作痛者不同。宜用萆　以逐除積毒。去濁而釐清也。</p>
<h3>土茯苓</h3>
<p>【氣味】甘淡平無毒。</p>
<p>【主治】健脾胃。去風濕。利關節。療拘攣骨痛惡瘡臃腫。解汞粉銀朱毒。近世有風流之人。多病楊梅毒瘡者。希求速效。每用輕粉銀朱等藥愈而復發。其毒結於陽明厥陰二經而兼乎他經。以致邪之所在則先發出。如兼少陽太陰。則發於咽喉。兼太陽少陰。則發於頭耳。總以相火寄位於厥陰。肌肉屬乎陽明。水銀輕粉之燥烈。雖能劫脾胃之痰。使諸火上升。俾毒瘡頓愈。不知毒瓦斯竄入經絡筋骨之間。莫之能出。痰涎雖出。血液旋耗。筋失所養。榮衛不從。變為癰漏。唯土茯苓氣平味甘而淡。為陽明本藥。能健脾胃去風濕。脾胃健而榮衛從。</p>
<p>風濕去而筋骨利。此亦古人未言之秘也。</p>
<h3>蕪荑</h3>
<p>【氣味】辛平無毒。</p>
<p>【主治】五內邪氣。逐寸白蟲。散腸中　喘息。主積冷氣。心腹症痛。療婦人子宮風虛。</p>
<p>孩子疳瀉冷痢。</p>
<h3>藿香</h3>
<p>【氣味】辛微溫無毒。可升可降。陽也。入手足太陰經。</p>
<p>【主治】風水毒腫。去惡氣。止霍亂。脾胃吐逆。溫中快氣。上焦壅熱。飲酒口臭。並湯嗽之。</p>
<h3>香薷</h3>
<p>【氣味】辛微溫無毒。屬金與水。有徹上徹下之功。</p>
<p>【主治】解暑利小便。又治水甚捷。肺得之而清化行也。但飲食不節。勞役作苦之人。倘患傷暑。而致大熱大渴。汗泄如雨。煩躁喘促。或瀉或吐。須益元氣以降火。不可概用以重虛其表。唯夏月乘涼飲冷。致陽氣為陰邪所遏。患頭痛發熱惡寒。煩躁口渴。或吐或瀉。或霍亂者。宜用之以發越陽氣。散水和脾。俗人用代茶湯。謂能解暑。誤之甚也。又其性溫不可熱飲。反致吐逆。</p>
<h3>蔥莖白</h3>
<p>【氣味】辛平。葉溫。根須平。俱無毒。升也陽也。入手太陰足陽明經。</p>
<p>【主治】發散以通上下陽氣。故活人書治傷寒頭痛如破。用連須蔥白湯主之。仲景治少陰病下利清穀。裡寒外熱。厥逆脈微者。白通湯主之。內用蔥白。若面色赤者。四逆東加蔥白。</p>
<p>腹中痛者去蔥白。總以腎惡燥。急食辛以潤之。蔥白之辛溫。以通陽氣也。又蔥管吹鹽入玉莖內。治小便不通及轉脬危急之症。但白冷青熱。傷寒湯中不得用青。又春食生蔥。令人面上起游風。生蔥同蜜食作下利。燒蔥同蜜食壅氣殺人。生蔥合棗食令人病。合犬雉肉同食。</p>
<p>令人病血。</p>
<h3>粳米</h3>
<p>（粳音庚。粳乃穀稻之總名也。有早中晚三收。諸本草獨以晚稻為粳者非矣。）</p>
<p>【氣味】甘苦平無毒。（生者寒。燔者熱。北粳涼。南粳溫。赤粳熱。白粳涼。晚白粳寒。</p>
<p>新粳熱。陳粳涼。新米乍食動風氣。陳者下氣。病患尤宜。常食干粳飯。令人熱中唇口乾。</p>
<p>不可同馬肉食發痼疾。不可和蒼耳食。令人卒心痛。急燒倉米灰和蜜漿服之。不爾即死。）</p>
<p>【主治】益氣止煩。止渴止泄。溫中和胃氣。長肌肉。補中壯筋骨益腸胃。煮汁主心痛。止渴。斷熱毒下痢。合芡實作粥食。益精強志。聰耳明目。通五臟。好顏色。常食干粳飯。令人不噎。粳有早中晚三收。以晚白米為第一。得天地中和之氣。同造化生育之功。非他物可比。本草言粳米益脾胃。而張仲景白虎湯用之入肺。以味甘為陽明之經。色白為西方之象。</p>
<p>而氣寒入手太陰也。桃花湯用之以補少陰之正氣。竹葉石膏湯用之以益不足。</p>
<h3>砂</h3>
<p>（　音鐃。一名透骨將軍。其性毒。服之使人　亂。故曰　砂。本草云　性透物。五金籍之以為先鋒。故號為透骨將軍。凡用須水飛過。去塵穢。入瓷器中重湯煮干。則殺其毒。</p>
<p>今時人多用水飛淨。醋煮干如霜。刮下用之。又一法治用黃丹鍛石作柜　赤使用。並無毒。</p>
<p>）</p>
<p>【氣味】鹹苦辛溫有毒。（中其毒者。生綠豆研汁飲一二升解之。）</p>
<p>【主治】砂大熱有毒之物。噎膈反胃。積塊內症之病。用之則有神功。蓋此疾皆起於七情飲食所致。痰氣鬱結。遂成有形。妨礙道路。吐食痛脹。非此物化消。豈能去之。其性善爛金銀銅錫。庖人煮硬肉。入　砂少許即爛。可以類推矣。所謂化人心為血者。亦甚言其不可多服耳。若被刀刃所傷。以之罨傅。當時生痂。</p>
<p>畏（漿水一切酸）　忌（羊血）</p>
<h3>芡實</h3>
<p>（一名雞頭。）</p>
<p>【氣味】甘平澀無毒。</p>
<p>【主治】濕痹腰脊膝痛。補中除暴疾。益精氣。強志。令耳目聰明。久服輕身不飢耐老。開胃助氣。止渴益腎。治小便不禁遺精白濁帶下。小兒多食令不長。生食多動風冷氣。食多不益脾胃。兼難消化。作粉食益人勝於　也。</p>
<h3>茗茶</h3>
<p>【氣味】苦甘微寒無毒。乃陰中之陽。可升可降。入手足厥陰經</p>
<p>【主治】瘡。利小便。止渴消食。去痰熱。上行能清頭目。並能消暑解酒食毒。凡膏粱炙諸濃味啜之為良。但久啜無度。傷營傷精。血不華色。正如茶序所云。解滯消壅。一日之利暫佳。侵精瘠氣。終身之累殊大。不可不慎。</p>
<h3>大麥</h3>
<p>【氣味】咸溫微寒無毒。為五穀長。令人多肥。</p>
<p>【主治】消渴止熱。益氣調中。補虛劣。壯血脈。益顏色。實五臟。化穀食止泄。不動風氣。久食令人肥白。滑肌膚。為面勝於小麥。無燥熱。面平胃。止渴消食。療脹滿。久食頭發不白。和針砂沒石子等染發黑色。寬胸下氣。涼血消積進食。大麥性平涼滑膩。有人患纏喉風食不能下。用此面作稀糊令咽以助胃氣。炒食有火。能生熱病。作飯食饗而有益。生則損人。</p>
<h3>蒲黃</h3>
<p>（凡使勿用松黃並黃蒿。其二件全似。只是味　及吐人。真蒲黃須隔三重紙焙令色黃。</p>
<p>蒸半日。卻再焙乾用方妙。破血消腫者生用之。補血止血者炒用之。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】心腹膀胱寒熱。利小便。止血消瘀血。久服輕身益氣力延年。治痢血鼻衄吐血尿血瀉血。利水道。通經絡。止女子崩中。婦人帶下月候不勻。血氣心腹痛。妊婦下血墜胎。血運血症。兒枕氣痛。顛撲血悶。排膿瘡癤游風腫毒。下乳汁。止泄精。涼血活血。止心腹諸痛。蒲黃乃手足厥陰血分藥也。故能治血治痛。生則能行。熟則能止。與五靈脂同用。能治一切心腹諸痛。</p>
<h3>商陸</h3>
<p>（取花白者根。銅刀刮去皮。薄切。以東流水浸兩宿。漉出架甑蒸。以黑豆葉一重。商陸一重。如此蒸之。從午至亥。取出去豆葉。暴干銼用。無豆葉以豆代之。）</p>
<p>【氣味】辛平有毒。沉也降也陰也。</p>
<p>【主治】水腫疝瘕痹。熨除癰腫。殺鬼精物。療胸中邪氣。水腫痿痹。腹滿洪。直疏五臟。</p>
<p>散水氣。瀉十種水病。喉痹不通。薄切醋炒。塗喉外良。通大小腸。瀉蠱毒。墮胎。　腫毒。敷惡瘡。但其性下行。專於行水。與大戟甘遂蓋異性而同功。胃氣虛弱者不可用。其赤者只可貼腫。服之傷人。痢血不已殺人。令人見鬼神。不可不慎。</p>
<h3>甘松</h3>
<p>【氣味】甘溫無毒。</p>
<p>【主治】惡氣。卒心腹痛滿。下氣。黑皮　風疳齒　野雞痔得白芷附子良。理元氣。去氣鬱。香港腳膝浮。煎湯淋洗。甘松芳香。能開脾郁。少加入脾胃藥中。甚醒脾氣。</p>
<h3>無食子</h3>
<p>（即沒石子。凡使勿犯銅鐵並被火驚。用顆小無　米者妙。用漿水於砂盆中研令盡。焙乾再研如烏犀色入藥。）</p>
<p>【氣味】苦溫無毒。</p>
<p>【主治】赤白痢。滑腸生肌肉。腸虛冷痢。益血生精。和氣安神。烏髭發。治陰毒痿。燒灰用。溫中。治陰瘡陰汗。小兒疳　。冷滑不禁。</p>
<h3>皂莢</h3>
<p>（凡用要赤肥並不蛀者。以新汲水浸一宿。用銅刀削去粗皮。以酥反復炙透。槌去子弦用。每莢一兩。用酥五錢。又有蜜炙酥炙絞汁燒灰之異。各依方法。）</p>
<p>【氣味】辛鹹溫有小毒。</p>
<p>【主治】皂莢屬金。入手太陰陽明之經。金勝木。燥勝風。故兼入足厥陰治風木之病。其味辛而性燥。氣浮而散。吹之導之。則通上下諸竅。服之則治風濕痰喘腫滿殺蟲。塗之則散腫消毒。搜風治瘡。</p>
<p>惡（麥門冬）　畏（空青　人參　苦參）　伏（丹砂　粉霜　硫黃　砂）</p>
<p>【子】（揀取圓滿堅硬不蛀者。以瓶煮熟。剝去硬皮一重。取向裡白肉兩片去黃。以銅刀切晒用。其黃消人腎氣。）</p>
<p>【氣味】辛溫無毒。</p>
<p>【主治】炒舂去赤皮。以水浸軟。煮熟糖漬食之。疏導五臟風熱壅。核中白肉。入治肺藥。</p>
<p>核中黃心嚼食。治膈痰吞酸。仁和血潤腸。治風熱大腸虛秘。瘰　腫毒瘡癬。又核燒存性。</p>
<p>治大便燥結。其性得濕則滑。滑則燥結自通也。</p>
<p>【刺】（一名天丁。）</p>
<p>【氣味】辛溫無毒。</p>
<p>【主治】米醋熬嫩刺作煎。塗瘡癬有奇效。治癰腫妒乳。風癘惡瘡。胎衣不下。殺蟲。但皂莢刺能引諸藥性上行。治上焦病。又能引至癰疽潰處更驗。</p>
<h3>蒲公英</h3>
<p>【氣味】甘平無毒。入足少陰腎經君藥。</p>
<p>【主治】婦人乳癰水腫。散滯氣。化熱毒。擦牙烏須發。壯筋骨。亦可入陽明太陰經。凡治乳癰。以忍冬藤同煎湯入酒佐服。服罷欲睡。睡覺微汗。是其效也。</p>
<h3>桑螵蛸</h3>
<p>【氣味】咸甘平無毒。</p>
<p>【主治】傷中疝瘕陰痿。益精生子。女子血閉腰痛。通五淋。利小便水道。乃肝腎命藥也。</p>
<p>凡男子身衰精自出。及小便自利者加用之。又小便如稠膠米泔。心神恍惚悴瘦食減。得之女勞者。以桑螵蛸為君。佐以遠志菖蒲人參茯神之屬。無不應效。如無桑上者。即用他樹所生。佐以炙桑白皮。亦可行水以接螵歸就腎經。</p>
<h3>椿樗皮</h3>
<p>（香者名椿。臭者名樗。椿樗二樹形相似。樗木疏。椿木實。凡使椿根不近西頭者為上。采出拌生蔥蒸半日。銼細。以袋盛掛屋南畔。陰乾用。）</p>
<p>【氣味】苦溫無毒。樗根有小毒。</p>
<p>【主治】椿根白皮性涼而能澀血。凡濕熱為病。瀉痢濁帶精滑夢遺諸證。無不用之。有燥下濕。及去肺胃陳痰之功。治泄瀉有除濕實腸之力。但痢疾滯氣未盡者。不可遽用。宜入丸散。亦可煎服。不見有害。椿皮色赤而香。樗皮色白而臭。椿皮入血分而性澀。樗皮入氣分而性利。不可不辨。其主治之功雖同。而澀利之效則異。凡血分受病不足者宜用椿皮。氣分受病有郁者宜用樗皮。此心得之微也。</p>
<h3>柏子仁</h3>
<p>（凡使先以酒浸一宿。至明漉出晒乾。用黃精自然汁於日中煎之。緩火煮成膏為度。</p>
<p>每煎柏子仁三兩。用酒五兩浸。此法是服食家用者。尋常用只蒸熟曝烈。舂簸取仁。炒研入藥。）</p>
<p>【氣味】甘平無毒。乃肝經氣分藥。</p>
<p>【主治】驚悸。益氣。除風濕。安五臟。久服令人潤澤美色。耳目聰明。不飢不老。輕身延年。療恍惚虛損吸吸。歷節腰中重痛。益血止汗。治頭風腰腎中冷。膀胱冷濃宿水。興陽道益壽。去百邪鬼魅。小兒驚癇。潤肝。養心氣。潤腎燥。安魂定魄。益智寧神。燒瀝澤頭發。治疥癬。又潤腎。古方十精丸用之。其性平而不寒不燥。味甘而補。辛而能潤。其氣清香。能透心腎。益脾胃。蓋仙家上品藥也。宜乎滋養之劑用之。列仙傳云。赤松子食柏實齒落更生。行及奔馬。諒非虛語也。</p>
<h3>安息香</h3>
<p>（或言燒之能集鼠者為真。）</p>
<p>【氣味】辛苦無毒。</p>
<p>【主治】心腹惡氣鬼疰。邪氣魍魎鬼胎血邪。辟蠱毒。霍亂風痛。男子遺精。暖腎氣。婦人血噤並產後血運。婦人夜夢鬼交。同臭黃燒熏丹穴永斷。燒之去鬼來神。治中惡魘寐勞瘵傳尸。</p>
<h3>黃土</h3>
<p>（三尺以上曰糞。三尺以下曰土。凡用當去上惡物。勿令入客水。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】泄痢冷熱赤白。腹內熱毒絞結痛下血。取干土水煮三五沸。絞去滓。暖服一二升。</p>
<p>又解諸藥毒。中肉毒。合口椒毒。野菌毒。</p>
<h3>太陽土</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】人家動土犯禁。主小兒病氣喘。但按九宮看太陽在何宮。取其土煎湯飲之。喘即定。</p>
<h3>道中熱土</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】夏月　死。以土積心口。少冷即易。氣通則蘇。亦可以熱土圍臍旁。令人尿臍中。</p>
<p>仍用熱土大蒜等分。搗水去滓。灌之即活。</p>
<h3>大腹子</h3>
<p>【氣味】辛澀溫無毒。</p>
<p>【主治】與檳榔同功。</p>
<h3>【皮】</h3>
<p>（鴆鳥多集檳榔樹上。凡用檳榔皮。宜先以酒洗。後以大豆汁再洗過。晒乾。入灰火燒煨切用。）</p>
<p>【氣味】辛微溫無毒。</p>
<p>【主治】冷熱氣攻心腹大腸。蠱毒痰膈醋心。並以薑鹽同煎。入疏氣藥用之良。下一切氣。</p>
<p>止霍亂。通大小腸。健脾開胃調中。降逆氣。消飢膚中水氣浮腫。香港腳壅逆。瘴瘧痞滿。</p>
<p>胎氣惡阻脹悶。</p>
<h3>冬瓜仁</h3>
<p>（八月采之。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】令人悅澤好顏色。益氣不飢。久服輕身耐老。除煩滿不樂。可作面脂。去皮膚風及黑。潤肌膚。治腸癰。</p>
<h3>赤小豆</h3>
<p>（俗呼紅豆。以緊小而赤黯色者入藥。其稍大而鮮紅淡紅色者並不治病。）</p>
<p>【氣味】甘酸平無毒。</p>
<p>【主治】赤小豆而色赤心之穀也。其性下行。通乎小腸。能入陰分。治有形之病。故行津液。利小便。消脹除腫。止吐而治下痢腸　。解酒病。除寒熱癰腫。排膿散血而通乳汁。下胞衣產難。皆病之有形者久服則降令太過。津血滲泄。所以令人肌瘦身重也。其吹鼻瓜蒂散及辟瘟疫用之。亦取其通氣除濕散熱耳。水氣香港腳最為急用。今之治水者。惟知治水。而不知補胃則失之壅滯。赤小豆消水通氣而健脾胃乃其藥也。</p>
<h3>銅青</h3>
<p>（即銅綠。）</p>
<p>【氣味】酸平微毒。</p>
<p>【主治】婦人血氣心痛。合金瘡止血。明目。去膚赤息肉。主風爛眼淚出。治惡瘡疳瘡。吐風痰殺蟲。蓋銅青乃銅之液氣所結。酸而有小毒。能入肝膽。故吐利風痰。明目殺疳。皆肝膽之病也。</p>
<h3>密陀僧</h3>
<p>【氣味】鹹辛平有小毒。</p>
<p>【主治】久痢五痔金瘡。面上瘢　。面膏藥用之。殺蟲消積。治諸瘡。消腫毒。除狐臭。染髭發。密陀僧感鉛銀之氣。其性重墜下沉。直走下焦。故能墜痰止吐。消積定驚癇。治瘧痢。止消渴。療瘡腫。</p>
<h3>珊瑚</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】去目中翳。消宿血。為末吹鼻。止鼻衄。明目鎮心。止驚癇。點眼去飛絲。</p>
<h3>石楠葉</h3>
<p>【氣味】辛苦平有毒。</p>
<p>【主治】養腎氣。內傷陰衰。利筋骨皮毛。療腳弱。五臟邪氣。除熱。女子不可久服令思男。能添腎氣。治軟腳煩悶疼。殺蟲逐諸風。浸酒飲治頭風。古方為治風痹腎弱要藥。今人絕不知用。識者亦少。蓋由甄氏藥性論有令陰痿之說也。殊不知服此藥者。能令腎強。嗜欲之人。籍此放恣。以致痿弱。歸咎於藥。良可慨也。</p>
<h3>鱉甲</h3>
<p>（凡使要綠色九肋多裙。重七兩者為上。）</p>
<p>【氣味】咸平無毒。</p>
<p>【主治】鱉甲乃厥陰肝經血分之藥。肝主血也。試常思之。龜鱉之屬。功各有所主。鱉色青入肝。故所主者瘧勞寒熱。　瘕驚癇。經水癰腫陰瘡。皆厥陰血分之病也。玳瑁色赤入心。</p>
<p>故所主者心風驚熱。傷寒狂亂。痘毒腫毒。皆少陰血分之病也。秦龜色黃入脾。故所主者頑風濕痹。身重蠱毒。皆太陰血分之病也。水龜色黑入腎。故所主者陰虛精弱。腰腳酸痿。陰瘧泄痢。皆少陰血分之病也。介蟲陰類。故並主陰經血分之病。各從其類。</p>
<h3>石青</h3>
<p>（一名扁青。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】目痛。明目。折跌癰腫。金瘡不瘳。破積聚。解毒瓦斯。利精神。久服輕身不老。去寒熱風痹。及丈夫莖中百病。益精。治丈夫內絕。令人有子。吐風痰。癲癇。平肝。</p>
<h3>花乳石</h3>
<p>（一名花蕊石。凡入丸散。以罐固濟頂。火　過。出火毒。研細水飛。晒乾用。）</p>
<p>【氣味】酸澀平無毒。</p>
<p>【主治】金瘡出血。刮末敷之即合。仍不作膿。又療婦人血運惡血。治一切失血傷損內漏目翳。古方未用此者。近世以合硫黃同　研末敷金瘡。其效如神。人有倉卒中金刃。不及　治者。但刮末敷之亦效。花蕊石舊無氣味。今嘗試之。其氣平。其味澀而酸。蓋厥陰經血分藥也。其功專於止血。能使血化為水。酸以收之也。而又能下死胎。落胞衣。去惡血。惡血化。則胎與胞無阻滯之患矣。東垣所謂胞衣不出。澀劑可以下之。故赤石脂亦能下胞胎。與此同義。葛可久治吐血出升斗有花蕊石散。和劑局方治諸血及損傷金瘡胎產亦花蕊石散。皆云能化血為水。則此石之功。蓋非尋常草木之比也。</p>
<h3>白芨根</h3>
<p>【氣味】苦平無毒。又苦甘微寒性澀。陽中之陰也。</p>
<p>【主治】癰腫惡瘡敗疽傷陰死肌。胃中邪氣。賊風鬼擊。痱緩不收。除白癬疥蟲。結熱不消。陰下痿。面上　。令人肌滑。止驚邪。血邪。血痢。癇疾。風痹。赤眼。症結。溫熱瘧疾。發背。瘰　。腸風。痔　。撲損刀箭瘡。湯火瘡。生肌止痛。止肺血。</p>
<p>惡（理石）　畏（李核　杏仁）　反（烏頭）</p>
<h3>黃精</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】補中益氣。除風濕。安五臟。久服輕身延年不飢。補五勞七傷。助筋骨。耐寒暑。</p>
<p>益脾胃。潤心肺。單服九蒸九曝食之駐顏斷穀。補諸虛。止寒熱。填精髓。下三尸蟲。時珍曰。黃精受戊己之淳氣。故為補黃宮之勝品者。萬物之母。母得其養。則水火既濟。木金交合而諸邪自去。百病不生矣。</p>
<h3>蛇床子</h3>
<p>（凡使。須用濃藍汁。並百部草根自然汁。同浸一伏時。漉出。日干。卻用生地黃汁相拌蒸之。從巳至亥。取出日干用。凡服食　去皮殼。取仁微炒。殺毒即不辣也。作湯洗浴。則生用之。）</p>
<p>【氣味】苦平無毒。</p>
<p>【主治】男子陰痿濕癢。婦人陰中腫痛。除痹氣。利關節。癲癇惡瘡。久服輕身好顏色。溫中下氣。令婦人子臟熱。男子陰強。久服令人有子。治男子女人虛濕痹毒風　痛。去男子腰痛。浴男子陰。去風冷。大益陽事。暖丈夫陽氣。女人陰氣。治腰胯酸疼。四肢頑痹。縮小便。去陰汗濕癬齒痛。赤白帶下。小兒驚癇。撲損瘀血。煎湯浴大風身癢。蓋蛇床乃右腎命門少陽三焦氣分之藥。神農列之上品。不獨補助男子。而又有益婦人。世人舍此而求補藥。</p>
<p>於遠域。豈非賤目貴耳乎。</p>
<h3>白茅香</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】惡氣。令人身香。煮湯服治腹內冷。小兒遍身瘡　。合桃葉煎湯浴之。</p>
<h3>兜納香</h3>
<p>【氣味】辛平無毒。</p>
<p>【主治】溫中除暴冷。惡瘡腫　。止痛生肌。並入膏用。燒之辟遠近惡氣。帶之夜行壯膽安神。與茅香柳枝煎湯浴小兒易長。</p>
<h3>草犀</h3>
<p>（獨莖對葉而生如燈台草。根若細辛。）</p>
<p>【氣味】辛平無毒。</p>
<p>【主治】解一切毒瓦斯。虎野狼蟲虺所傷。溪毒野蠱惡刺等毒。並宜燒研服之。臨死者亦得活。</p>
<p>天行瘧瘴。寒熱咳嗽痰壅。飛尸喉痹瘡腫。小兒寒熱丹毒。中惡注忤痢血等病。煮汁服之。</p>
<p>嶺南及睦婺間中毒者。以此及千金藤並解之。</p>
<h3>吉利草</h3>
<p>【氣味】苦平無毒。</p>
<p>【主治】解蠱毒極驗。</p>
<h3>百兩金</h3>
<p>【氣味】苦平無毒。</p>
<p>【主治】壅熱咽喉腫痛。合一寸咽津。又治風涎。</p>
<h3>錦地羅</h3>
<p>【氣味】微苦平無毒。</p>
<p>【主治】山嵐瘴毒瘡毒。並中諸毒。以根研生酒服一錢匕即解。</p>
<h3>曲節草</h3>
<p>【莖葉】【氣味】甘平無毒。</p>
<p>【主治】發背瘡消癰腫拔毒。同甘草作末。米泔調服。</p>
<h3>燕脂</h3>
<p>【氣味】甘平無毒。</p>
<p>【主治】小兒　耳。浸汁滴之。活血解痘毒。</p>
<h3>麻</h3>
<p>【葉】【氣味】苦平無毒。</p>
<p>【主治】赤白冷熱痢。炒研為末。每蜜湯服一錢。癰腫無頭者吞一枚。生眼翳瘀肉。起倒睫拳毛。</p>
<h3>敗醬</h3>
<p>（一名苦菜。根苗同。）</p>
<p>【氣味】苦平無毒。</p>
<p>【主治】暴熱火瘡赤氣。疥瘙疽痔。馬鞍熱氣。除癰腫浮腫結熱風　痹。破多年凝血。能化膿為水。產後諸病。止腹痛余疹煩渴。治血氣心腹痛。破症結。催生落胞。血運鼻衄吐血。</p>
<p>赤白帶下。赤眼障膜　肉。　耳瘡癤疥癬丹毒。排膿補　。敗醬乃手足陽明厥陰藥也。善排膿破血。故仲景治癰及古方婦人科皆用之。乃易得之物。而後人不知用。蓋未遇識者耳。</p>
<h3>王不留行</h3>
<p>【苗子】【氣味】苦平無毒。</p>
<p>【主治】金瘡止血。逐痛出刺。除風痹內塞。止心煩鼻衄癰疽惡瘡　。婦人產。久服輕身耐老增壽。治風毒。通血脈。游風風疹。婦人血經不勻。發背。下乳汁。利小便。出竹木刺。</p>
<p>蓋王不留行下乳引導用之。取其利血脈。並走血分陽明衝任之藥。俗有穿山甲王不留。婦人服了乳長流之語。可見其性行而不住也。</p>
<h3>迎春花</h3>
<p>（處處人家栽插之。叢生。高者二三尺。方莖濃葉。葉如初生小椒葉而無齒。面青背淡。對節生小枝。一枝三葉。正月初開小花。狀如瑞香花。黃色不結實。）</p>
<p>【葉】【氣味】苦澀平無毒。</p>
<p>【主治】腫毒惡瘡。陰乾研末。酒服二三錢出汗便瘥。</p>
<h3>鼠曲草</h3>
<p>（一名佛耳草。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】主痹寒寒熱止咳。調中益氣。止泄除痰。壓時氣。去熱嗽。雜米粉作糗食甜美。寒嗽及痰。除肺中寒。大升肺氣。治寒痰嗽。宜用佛耳草。熱痰嗽。宜用燈籠草。寒嗽言其標也。熱嗽言其本也。大抵寒嗽多是火鬱於內。而寒覆於外也。</p>
<h3>薰草</h3>
<p>（即零陵香。）</p>
<p>【氣味】甘平無毒。又辛溫無毒。（不宜多服。令人氣喘。）</p>
<p>【主治】薰草芳香。其氣辛散上達。故心腹惡氣。齒痛鼻塞皆用之。脾胃喜芳香。可以養鼻是也。多服作喘。為能耗散真氣。</p>
<h3>懸鉤子</h3>
<p>【氣味】酸平無毒。</p>
<p>【主治】醒酒止渴。除痰去酒毒。搗汁服。解射工沙虱毒。</p>
<p>【葉】【主治】燒研水服。主喉中塞。</p>
<p>【根皮】【氣味】苦平無毒。</p>
<p>【主治】子死腹中不下。破血。婦人赤帶下。久患赤白痢膿血腹痛。殺蟲毒。卒下血。並濃煮汁飲之。</p>
<h3>藤子仁</h3>
<p>【氣味】澀甘平無毒。</p>
<p>【主治】五痔蠱毒。飛尸喉痹。以仁為粉。微熬水服一二匕。亦和大豆澡面去　。治小兒脫肛。血痢瀉血。並燒灰服。或以一枚割瓤熬研。空腹熱酒服二錢。不過三服必效。解諸藥毒。</p>
<h3>白蘞</h3>
<p>【根】【氣味】苦平無毒。</p>
<p>【主治】癰腫疽瘡。散結氣。止痛除熱。目中赤。小兒驚癇溫瘧。女子陰中腫痛。帶下赤白。殺火毒。治發背瘰　。面上　瘡。腸風痔漏。血痢。刀箭瘡撲損。生肌止痛。解野狼毒毒。</p>
<p>又生取根搗敷癰腫有效。今醫治風及金瘡多用之。往往與白芨相須而用。</p>
<h3>黃藥子</h3>
<p>【根】【氣味】苦平無毒。</p>
<p>【主治】諸惡腫瘡　喉痹蛇犬咬毒。研水服之。亦含亦塗。涼血降火。消癭解毒。</p>
<h3>木芙蓉</h3>
<p>【葉花】【氣味】微辛平無毒。</p>
<p>【主治】清肺涼血。散熱解毒。治一切大小癰疽腫毒惡瘡。消腫排膿止痛。芙蓉花並葉。氣平而不寒不熱。味微辛而性滑涎黏。其治癰腫之功。殊有神效。近時瘍醫。秘其名為清涼膏。</p>
<p>清露散。鐵箍散。皆此物也。其方治一切癰疽發背乳癰惡瘡。不拘已成未成。已穿未穿。並用芙蓉葉。或根皮。或花。或生研。或干研末。以蜜調塗於腫處四圍。中間留頭。干則頻換。初起者即覺清涼。痛止腫消。已成者即膿聚毒出。已穿者即膿出易斂。妙不可言。或加生赤小豆末尤妙。</p>
<h3>合歡</h3>
<p>（一名夜合。俗間少識。當以其非療病之功也。）</p>
<p>【木皮】【氣味】甘平無毒。</p>
<p>【主治】安五臟。和心志。令人歡樂無憂。久服輕身明目。煎膏消癰腫。續筋骨。殺蟲。搗末和鐺下墨。生油調塗蜘蛛咬瘡。用葉洗衣垢。折傷疼痛。研末酒服二錢匕。和血消腫止痛。合歡屬土。補陰之功甚捷。長肌肉。續筋骨。概可見矣。與白蠟同入膏用神效。而外科家未曾錄用何也。</p>
<h3>豬腰子</h3>
<p>【氣味】甘微辛無毒。</p>
<p>【主治】一切瘡毒及毒箭傷。研細酒服一二錢並塗之。</p>
<h3>青風藤</h3>
<p>【氣味】（缺）</p>
<p>【主治】風疾。治風濕流注。歷節鶴膝。麻痹瘙癢。損傷瘡腫。入酒藥中用。罌子粟（一名御米。）</p>
<p>【米】【氣味】甘平無毒。</p>
<p>【主治】丹石發動不下飲食。和竹瀝煮作粥食極美。行風氣。逐邪熱。治反胃胸中痰滯。治瀉痢爛燥。</p>
<h3>蜂蜜</h3>
<p>（蜜以密成。故謂之蜜。本經原作石蜜。蓋以生岩石者為良耳。而諸家反致疑辨。今直題曰蜂蜜。正名也。凡試蜜以燒紅火箸插入提出起氣是真。起煙是偽。）</p>
<p>【氣味】甘平無毒。</p>
<p>【主治】心腹邪氣諸驚癇痙。安五臟諸不足。益氣補中。止痛解毒。除眾病。和百藥。久服強志輕身。不飢不老延年。養脾氣。除心煩飲食不下。止腸　。肌中疼痛。口瘡。明耳目。牙齒疳　。唇口瘡。目膚赤障。殺蟲。治卒心痛及赤白痢。水作蜜漿頓服一碗止。或以薑汁同蜜各一合。水和頓服。常服面如花紅。治心腹血刺痛及赤白痢。同生地黃汁各一匙服即下。同薤白搗塗燙傷即時痛止。和營衛。潤臟腑。通三焦。調脾胃。夫蜂采無毒之花。釀以大便而成蜜。所謂臭腐生神奇也。其入藥之功有五。清熱也。補中也。解毒也。潤燥也。</p>
<p>止痛也。生則性涼。故能清熱。熟則性溫。故能補中。甘而和平。故能解毒。柔而濡澤。故能潤燥。緩可以去急。故能止心腹肌肉瘡瘍之痛。和可以致中。故能調和百藥而與甘草同功。張仲景治陽明結燥。大便不通。蜜煎導法。誠千古神方也。凡覺有熱。四肢不和。即服蜜漿一碗甚良。</p>
<h3>露蜂房</h3>
<p>【氣味】甘平有毒。</p>
<p>【主治】陽明藥也。外科齒科及他病用之者。亦皆取其以毒攻毒。兼殺蟲之功耳。</p>
<h3>乳汁</h3>
<p>【氣味】甘咸平無毒。</p>
<p>【主治】補五臟。令人肥白悅澤。療目赤痛多淚。解獨肝牛肉毒。合濃豉汁服之神效。和雀屎去目中　肉。益氣。治瘦悴。悅皮膚。潤毛髮。點眼止淚。但人乳汁治目之功多何也。人心生血。肝藏血。脾受血則能視。蓋水入於經。其血乃成。又曰上則為乳汁。下則為月水。</p>
<p>故知乳汁則血也。用以點眼。豈不相宜。血為陰。故性冷臟寒人。如乳餅酥酪之類。不可多食。雖曰牛羊乳。然亦不出乎陰陽之造化耳。老人患口瘡不能食。但飲人熱乳甚良。人乳無定性。其人和平。飲食沖淡。其乳必平。其人暴躁。飲酒食辛。或有火病。其乳必熱。凡服乳須熱飲。若晒曝為粉入藥尤佳。</p>
<h3>口津唾</h3>
<p>【氣味】甘咸平無毒。</p>
<p>【主治】瘡腫疥癬　。五更未語者。頻塗擦之。又明目退翳消腫。解辟邪粉水銀。</p>
<h3>兔屎</h3>
<p>（一名明目砂。）</p>
<p>【氣味】（缺）</p>
<p>【主治】目中浮翳。癆瘵五疳。疳瘡痔　。殺蟲解毒。凡大小便秘。以兔屎一匙安臍中。冷水滴之令透自通。又痘後目翳。炒研和藥服之易瘥。</p>
<h2>後序</h2>
<p>嘗觀本草藥性諸書。未嘗不嘆其功之大。而有以起天下之病者使之安。起天下之夭者使之壽也。然其書本草詳矣。而每苦於繁。藥性簡矣。而又過於略。求其繁簡適宜。則本草擇要一書所由著乎。余之外父介繁公。力學著書。於諸子百家。陰陽術數之學。靡不精討。而岐黃為最。每見人之有疾。不啻　乃身。力圖拯救。即罄其貲囊。曾莫之恤。其所利濟而生全之者。寧易更仆數。然猶以為濟人以藥。所及者不過一鄉一邑而止。莫若手匯一編。而使人人知藥之所以用。與用之所以善。而其功將在天下也。於是讀書輟卷之下。取本草諸書所已載者而發明之。不敢妄鑿一智。不敢輕載一方。惟就諸藥之性寒性熱孰宜孰忌者剖晰精確。</p>
<p>采摘成編。使人一覽了然。期與天下共登仁壽。乃遲之又久。猶不敢輕以問世。誠慎之重之也。迨厭世後。著作盈車。余舅氏雪洲。謂先人手澤所存而不亟為表揚。幾於湮沒不彰。非人子之心也。遂搜架下遺編。所得不一書。而本草擇要一集。尤當世之所亟需。敢不以質之同好乎。爰付之梓。用以行世。俾海內讀其書因以識其人。此固雪洲闡揚先德之深思。而究其足以轉病為安。轉夭為壽者。未必不與本草藥性同功也。則其有補於世。又豈淺鮮哉。書成。問序於余。余不敏。敢言序也耶。然而誼不容辭。謹附數言。一以表吾外父利物濟人之念。一以見吾舅氏繼志述事之心云爾。</p>
<p><u>時康熙己未暮春子　蕭長福頓首百拜識。</u></p>
<h2>跋</h2>
<p>嗚呼。浣早失怙。不及趨庭聞詩禮之訓。稍長。永思哀慟。惟從太母及母氏得先人遺書而讀之。攬其丹鉛之富有。纂述之鴻多。自惟愚陋。如涉重溟。不勝望洋向若而嘆也。久而稍得其要領。感先人博雅冠當世。生平閉戶自精。不求聞達。讀書務在抉　理奧。闡微發異。有當於心而後已。自經史外尤留意河雒軒岐之旨。謂可以窮性命。可以前民用。可以導長年。</p>
<p>手澤存焉。一展卷而淚涔涔不能終篇矣。此本草擇要綱目上下二卷。乃其精神所寄。通內外之學。適行藏之用。果熟此而民無夭札。物無疵癘。可操券得矣。請之父執同人。皆謂宜先梓以公世。亦稍見先人學有實用。利濟為心。而予小子徒讀父書。不能無愧也。不肖男浣百拜識。</p>
<p><u>時康熙己未花朝日。</u></p>
