<header data-type="book">
<h1>集驗背疽方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李迅</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1196">公元1196年（宋·慶元二年）</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·集驗背疽方》（<a href="https://www.kanripo.org/text/KR3e0042/">掃描及文字化本</a>）</dd></div>
</dl>
</header>
<h2>原序</h2>
<p>始予奉親攜幼，來官泉江，未入境，首問邑有良醫師乎？又問市有佳藥肆乎？或對以醫固不乏人，而庸庸者實多，藥肆僅一二數，然稍貴細者則缺焉。予謂：二者，老幼所依以為命也，今顧若此，其奈之何哉！或曰：邑有李嗣立廷評者，廣收方書，多蓄藥味，有問方者必告，有求藥者必與，了無吝色厭心。予固私竊慶幸。時方至旅見，亦未暇詢及也。久之，嗣立來請問（一作間），與之款語，見其持心近濃，非愛人利物之言不談。叩以《難》、《素》、《脈訣》、《病源》等書，其應答如流。厥後家人子或有病，疏方惠藥雖數，不憚煩。三年間，不醫之求而唯嗣立之謁。一日，嗣立出示一編曰：此治背瘡方也。今人例以此為惡疾，悉付之外科而邈，不加之意，不知治療之失宜，蓋未有能得全其生者！某於此究心有年，所活甚眾，君能捐二、三萬錢，刻板流存，不猶愈於刊他書乎？予且圖之。會有黃冠師曰：劉道淵者，主邑之太霄觀，忽得此疾，劉素號曉方脈，得嗣立之書而敬信之，凡服藥次第，悉案書以從事，不兩月，遂獲安。予益信其書之有驗，乃為之序其首。嗣立名迅，以儒傳家，父兄相繼收科，子弟亦登名賢書，鄉評翕然推重。予與其兄嗣宗嘗同校長沙試，契分為不薄，又有針、膏起廢之功，故樂為之成其志云。</p>
<p><u>郭應祥序</u></p>
<h2>背疽方總論</h2>
<p>背疽之方，所傳百余，然有驗者極少。其間（一作中）又有用藥偏重，或太冷，或太熱，或藥性有毒者，今皆不錄，獨擇嘗用而經驗者錄之，庶幾不至有誤活人治病之意。</p>
<h3>背疽其源有五</h3>
<p>天行一；瘦弱氣滯二；怒氣三；腎氣虛四；飲冷酒、食炙　物、服藥熱毒五。蓋治背疽，不可一概將為熱毒，其治之法難易，當自一而至五。</p>
<h3>察疽發有內外之別</h3>
<p>初發疽時，一粒如麻豆大，身體便發熱，生疽處肉亦熱，腫大而高，多生疼痛，破後肉色紅紫，此為外發。雖大若盆碗，如用藥有理，有百人百可活。</p>
<p>如初發疽時，不拘小大，身體無熱，自覺倦怠，生疽處亦不熱，數日之間，漸漸開大，不腫不高，不疼不痛，低陷而壞爛，破後肉紫黑色，此為內發。有此證者，未發見之先，臟腑已有潰爛，百人百不救，雖有神仙藥，亦付之無可奈何。</p>
<h3>審內證用藥</h3>
<p>自瀉，嘔吐，不思飲食，診脈而腎脈最虛，此等古人皆以為不治之證，然尚有救療之理。</p>
<h3>服補藥捷徑</h3>
<p>腎脈虛甚，當用補藥而有　牾處：如用鹿茸、附子之藥，是抱薪救火；如用平補之藥，腎氣又猝難平復，若俟河之清。向來有一貴人苦疽疾，正生此一證，諸醫無策。愚云：昔嘗聞一名醫講論，凡人遇五更初，腎氣必開，若一語言、咳嗽，即腎氣復合。遇腎開時，進一服平補藥，其功效勝尋常服峻補之藥十數服。愚以此策獻之。遂選用山藥丸，所用皆平補腎氣，全無燥偏重之藥，依此法而進，詳以告病者與其侍旁之子弟，如法而服藥。三日之後，醫有診脈，知其腎脈已平復矣。則有疽疾人，腎脈虛弱，未可便如古人之論，以為不可治。若人有痼冷、虛弱、危困之疾，如其法而用藥，可謂用力寡而收功倍矣（案：山藥丸缺）。</p>
<h3>疽發所在有不可治者</h3>
<p>腦上諸陽所會穴，近腦則髓出；頸項上近咽喉，藥餌、飲食之所通，一有所礙，兩不能進；腎俞上與腎相抵，命之所系，穴即透空，又不可著艾。三處有疽，並為難治。</p>
<h3>戒忌</h3>
<p>作勞叫怒，嗜欲，飲食如干濕面、炙　、淹藏、冷酒、生冷、滯膩、魚、羊並不可食。性熱者發熱，冷者損脾、腎，毒者發病，皆當戒之。病者之房，深戒有腋氣人並有孕婦人、月經人入房。合藥亦忌此等人見之，又忌雞、犬、貓兒見之。</p>
<p>已上戒忌，安後半載間，血氣未定，猶定（一作當）謹戒，不廢藥餌，方能保全。</p>
<p>疽瘡之方有驗者，載於方書。然有貧乏無錢買藥，又有適居僻邑草市，難得藥材，只得服草藥、鸕　藤酒，續以麥飯石膏塗敷、神異膏貼之，亦屢用取效。若無麥飯石膏，如田夫野人，只用神異膏亦可。</p>
<p><u>麥飯石膏</u></p>
<p>（案：此方原缺，今從《蘇沈良方》補入）</p>
<p>白麥飯食石（色黃白、類麥飯者猶佳。炭火燒赤，醋中浸之十遍，研。白蘞末與石等分）</p>
<p>鹿角（不用自脫者，須元帶腦骨者，截用二三寸。炭火燒至煙盡為度，杵為末。並前二味）</p>
<p>上並搗細末，取多年米醋，於銚中煎令魚眼沸，即下前件藥末，調如稀錫。以蓖子塗敷腫上，只當瘡頭留一指地，勿令合，以出熱氣。如未膿，當內消；已作頭，當撮小。若日久瘡甚，肌肉損爛，筋骨出露，即布上塗藥貼之，干即再換，但以鬲中穴，無不瘥。其瘡切忌手觸，宜慎之。</p>
<h2>麥飯石膏論</h2>
<p>麥飯石膏治背疽之疾，神妙莫比，惜乎世人罕有能知者。然古方所載用藥制度，略而不詳，則其間藥材不真，修制苟簡，是自致其無驗，非方之誤也。愚親見一貴人有此疾，醫者用麥飯石膏塗貼，不惟無效，又且添痛楚；更以毒藥　之，膿亦不潰，晝夜終痛，不得安寢。</p>
<p>瘡逐日開大，浸至兩脅，又於咽喉、腳膝間遍發數疽，醫者盡以為不可治療。愚雖預備此藥，選擇修制，既良且精，而未敢便用。俟諸藥縮手，試以用之，一夕之間，疼痛盡止，膿血俱潰，來如湍水，病者安寢。眾皆驚愕，以謂別有神藥，殊不察止於麥飯石膏也。疽疾須得膿血潰散之多，即使毒瓦斯隨膿血出，不至內傷臟腑，病者得安。有一庸醫，見膿不潰，遂打兩錫管，欲插入疽，以口汲出其膿。愚謂：用此則病者必不可救！力沮其說。又用荐席開其一竇，使病者仰臥以取膿,　此說不可諫，因令試之,膿亦不來。後卒用愚所合麥飯石膏而取效。自此而後，鄉閭有此疾者，來下問，因錄此方，俾精擇修合，盡取十全之功，愚故詳著之。</p>
<p>一、癰疽初作之時，便合用麥飯石膏四圍塗敷，以護其根腳，不可使開，中心卻要留癰口如錢大，使毒瓦斯出。如癰漸小，隨其大小敷之。直候疽破膿潰之後，口收止猶徑寸許，用神異膏點敷收住，卻用麥飯石膏。</p>
<p><u>神異膏</u></p>
<p>　治一切瘡疥（按：此方原缺，今從危亦林《得效方》補入）</p>
<p>全蠍(七個，去毒)　皂角(一錠，銼碎)　巴豆(七粒，去殼)　蛇床子(三錢)　清油(一兩)　黃蠟(半兩)　輕粉(半匙)　雄黃(別研，三餞)上先用皂角、全蠍、巴豆煎油變色，去了三味，入黃蠟化開，取出冷處，入雄黃、蛇床末、輕粉，和勻成膏。先用苦參湯溫洗後，以藥擦瘡疥上，神效。</p>
<p><u>又：神異膏</u></p>
<p>（此方從《赤水元珠》補入）</p>
<p>黃　杏仁　元參（各一兩）</p>
<p>上用麻油二斤，煎至將黑，加蛇脫五錢，蜂房一兩，男子發一團如雞子大，再煎至黑，去滓，徐徐下黃丹，不拘多少，得中為度，文武火熬收。</p>
<h2>治疽癰用藥大綱</h2>
<p>此書所著方頗為周備，但欲使用藥者，不可不知之爾。然人能逐一玩味，詳說深思用藥之意，臨時看其病證次第用藥，無有不效。近時有親舊得此病，為愚醫所惑，或用君臣藥，或用草藥，其病益多，痛楚日增，然後回心，杜絕眾醫，用愚方，間蒙下問，但指示三五方與之服餌，無有不安者。今略書用藥要領與夫先後之序，畫一於後。</p>
<p>一、初覺時背疽之疾，便令服內托散，後來不生變證，口舌無瘡。此藥但可服十數服而止。</p>
<p><u>內托散</u></p>
<p>　大止疼痛.　如未破，即點破有膿（此方原缺，今從《惠濟寶書》補入）。</p>
<p>川烏(一兩，泡）　茯苓（三分）　苦杖（半兩）　獨活　白芷　甘草（炙，各一兩）</p>
<p>上為末。每服二錢，酒調下，日三服。</p>
<p>一、即令繼服五香連翹湯。服此藥如大便寬快、內熱既省，即令住服。若一二日之後大便再閉，須令再服，要取利毒瓦斯至盡，然後住服。亦合看病患虛實，量其輕重而進藥。</p>
<p><u>五香連翹湯</u></p>
<p>木香（三分，不見火）　沉香（三分，不見火）　連翹（全者去蒂，三分）　升麻（三分）　黃　（三分，揀無叉附者，生用）　木通（三分，去節）　甘草（半兩，生用）　丁香（半兩，揀去枝杖，不見火）</p>
<p>乳香（半兩，別研）　大黃（微炒，半兩，銼）　麝（真者，一錢半，別研）　桑寄生（三分，難得真者，缺之亦可）　獨活（三分，買老羌活用，今鋪家所賣獨活，乃是土當歸，不堪用）</p>
<p>上為粗末，和勻。每服三大錢，水一盞，煎至七分，去滓服；留滓二服，用水二盞再煎作一服；積四散滓，用水三盞，又再煎作一服，然後不用其滓。方用銀器煎藥，如無銀器，入銀一片同煎。內桑寄生一味，最能療病，但難得真者，如缺，用升麻代。今已加升麻，若無真桑寄生，則升麻分兩當倍用。</p>
<p>一、次令多服洪氏排膿內補散。無嘔逆之證，用好酒下；有嘔逆之證，合用木香湯下。此一藥，合與癰疽相為，終始服餌，不可輟。</p>
<p><u>化毒排膿內補十宣散</u></p>
<p>（亦名托裡十補散）</p>
<p>治一切癰疽癤瘡。未成者速潰，敗膿自出，無用手擠，惡肉自去，不犯刃。使服藥後，疼痛減，其效如神（此方原缺，今從《和劑局方》補入）。</p>
<p>黃　（以綿上來者為勝。狀如箭竿，長二三尺，頭上叉者。洗淨，寸截，捶破撕擘，以鹽湯潤透，用盞盛湯瓶上一炊久，焙燥，隨眾藥入研，即成細末）　人參（以新羅者為上。擇團結、重實、滋潤，洗淨，去蘆，薄切，干搏用）　當歸（取川中來者。擇大片如馬尾狀，滋潤、甜辣、芬香者，溫水洗，薄切，焙乾用，各一兩）　厚朴（用梓州者。肉濃而色紫，掐之油出。去粗皮，切，薑汁窨一宿，　熟，焙燥。不用杜朴）　桔梗（以有心、味苦者為真，無心、味甘者薺也，主解藥毒，切勿誤用。泥淨，去頭、尾，薄切，焙燥）　桂心（用卷薄者。古法，帶皮桂每兩止取二錢半。合用一兩，當買四兩。候眾藥罷，別研，不得見火）　芎　（以川中來者為上，今多撫芎。大塊者，洗淨，切，焙）　防風（擇新香者。洗淨，切，焙）　甘草（生用）　白芷（各一兩）</p>
<p>上十味，選藥貴精，皆取淨，晒、焙極燥方秤。除桂心外，一處搗，羅為細末。入桂令勻。</p>
<p>每服，自三錢加至五錢，熱酒調下，日夜各數服，以多為妙。服至瘡口合，更服猶佳，所以補前損、杜後患也。不飲酒人，濃煎木香湯下，然不若酒力之勝也；或飲酒不多，能勉強間用酒調，並以木香湯用酒，功效當不減於酒也。大抵癰疽之作，皆血氣凝滯，風毒壅結所致。治之不早，則外壞肌肉，內攻臟腑，其害甚大。才覺便服，倍加服數，服之醉則其效速。發散風毒，流行經絡，排膿止痛，生肌長肉，藥性平和，老人、小兒、婦人、室女皆可服之。</p>
<p><u>木香湯</u></p>
<p>　治癰腫（一作疽）初結，頭痛寒熱，氣急方（此方原缺，今從《聖濟總錄》補入）。</p>
<p>木香　藿香葉　沉香　薰陸者　丁香（各一兩）</p>
<p>上五味，粗搗篩。每服五錢，鹽水一盞半，煎至八分，去滓，空心溫服，取滓敷膊上。日二。</p>
<p>一、嘔逆有二證：一證謂其初發時，不曾服內托散，伏熱在心；一證有氣虛，脾氣不正而嘔。合仔細看病證，參酌用藥。若是因熱而嘔，外證心煩、身熱、癰作痛，此即是伏熱在心，合將內托散服三兩服而止，不可多服；若是氣虛而嘔，其證心不煩熱，遇早便嘔，或聞穢氣亦嘔，早晨合服嘉禾散。如有寒熱，合服家傳正氣散。五更初，當服山藥丸以補其腎。</p>
<p>一、發背人雖云有熱，未有不至腎虛而得之者。若疽疾減退五分之後，便合如前法，五更初服山藥丸一服。</p>
<p><u>嘉禾散</u></p>
<p>（案：原方缺）。</p>
<h2>論服嘉禾散</h2>
<p>如病患氣弱，不進飲食，合服嘉禾散，於內加白豆蔻仁分兩。昨有一貴人，苦疽疾，醫者用藥失序，久而不痊，因致虛弱，全不飲食。愚欲進嘉禾散，而諸醫爭言：內有丁香發熱，不可用。殊不知治疽之藥，丁香預其一，況有因怒氣而發疽。今嘉禾散中所用之藥，盡是平和益脾胃、降氣之藥。辯論不勝，遲遲數日，服他藥無效，卒用之，而病患方能進食。自此以後，遇早晨住服參苓，必進嘉禾散一服，疾安而後已。</p>
<p><u>家傳不換金正氣散</u></p>
<p>　治背疽先感風寒，脾氣不正，寒熱嘔吐。</p>
<p>蒼朮（揀黃色不爛者，先用米汁浸，夏、秋半日，春、冬一日，洗淨，再用新汲水浸一宿，削去黑皮，銼，焙，與麥麩同炒至色黃香熟，去麩，用四兩淨）　厚朴（揀紫色者，削去粗皮及中間一重黑心如紙濃，要銼三寸長，劈作薄片；每厚朴五兩淨，用生薑五兩淨，連皮薄切，搗爛，同淹一宿，以文武火翻覆炙五七次，炙至薑滓焦黑，刮去薑不用，只用厚朴細銼，取四兩淨；再用薑四兩，連皮薄切，搗爛，同厚朴和一處，再淹一宿，入銚內，用文武火炒至干用）　甘草（炙，削去赤皮，細銼，取二兩淨）　陳橘皮（買真橘皮，以水浸三時久，洗去黑HT，掠去肉、白筋與瓤，銼，焙，取三兩淨）</p>
<p>上四味，同為一處，再入鍋內，文武火微炒一次，卻用紙盛於木板上出火毒。</p>
<p>半夏（湯泡七次，削去黑臍，細銼，焙乾，研為細末，以生薑自然汁和作薄餅子，安文武火上炙至黃熟為度，取二兩淨）　藿香（去枝杖取葉用，以水洗淨去沙塵，有日晒乾，無日以微火焙，一兩淨）　人參（一兩，去頂，細銼焙）　木香（一兩，濕紙裹煨至紙干為度，去紙，細銼）　白茯苓（一兩，去黑皮，銼）</p>
<p>上將前四味已炒藥，續入後五味，半夏、藿香等不炒，同一處碾羅。為細末一錢，水一盞，生薑錢三片，棗一枚，同煎至八分，臨熱入鹽少許，溫服無時。</p>
<h2>論服不換金正氣散</h2>
<p>近時有數人病背疽，服前方藥餌，未安之前，遍身寒熱，或先寒後熱，或先熱後寒，連日作或間日作，必先嘔痰，然後寒熱，寒熱後大汗，然後止。時醫多欲用柴胡、牡蠣止汗之藥，又有以為瘧疾，欲下恆山飲子。愚力辯云：背疽之後，不可專以為有熱，亦有氣虛而得之，亦有因怒氣並血氣凝滯而得之。其所以發寒熱者，先感寒邪，脾氣不正，痰盛而有此證。若下柴胡，必瀉肝，母既虛而又瀉其子；牡蠣澀氣，氣血已不榮運，服澀氣、恆山飲子，發吐痰，大損脾胃。用藥如此，可謂誤謬。愚但令服家傳不換金正氣散，祛寒邪，正脾氣，痰飲自消，寒熱不作；兼服排膿內補散，以木香湯易酒，不欲飲引嘔吐故也。服此藥三日，寒自退，嘔吐不作，汗亦自止。</p>
<p>一、癰疽才破有口，便合用豬蹄湯洗。其次（一作初）連日洗；五日後，間日洗；欲安之際，三日一洗。</p>
<p><u>豬蹄湯</u></p>
<p>　治癰疽腫塊，消毒瓦斯，去惡肉。凡有瘡口，便用此藥淋洗。</p>
<p>香白芷（不見火）　甘草（生用）　獨活（用老羌活）　黃芩（去心）　赤芍藥（去皮）</p>
<p>當歸（去蘆，洗淨沙土）　露蜂房（取有蜂兒者用，已上各等分，為粗末）</p>
<p>上先將　豬前蹄兩只一斤，只用白水三升煮軟，將汁水兩次澄清，去上面油花、下面滓肉，每次用藥粗末一兩，投於汁中，再用文武火煎十數沸，濾去滓。以故帛蘸藥溫湯，徐徐薄揩瘡上，死肉、惡血隨洗而下，淨洗訖，以故帛試干，仍避風，忌入口氣吹之。有狐臭人，並月經見行婦人，貓、犬，並不令入病房。洗瘡切弗以手搐著。洗疽之方，所傳三、四十，用之止此一方，極神效。內所用露蜂房最有理，謂其以毒驅毒也。</p>
<p>一、治背疽初作，根腳闊大如碗，未有尖頭，尋灸穴法：凡覺背上腫硬、疼痛，用濕紙貼腫上，看先干處是頭。碾大蒜十頭，入淡豉半合、乳香一塊如龍眼大，細碾，隨瘡頭大小，用竹片作圈子，竹片闊二分許，隨其大小頓在瘡頭上，將所碾藥填平，鋪艾灸之。痛處以癢為度，癢處以痛為度，亦以百壯為準。</p>
<p>一、癰疽既破，膿血潰多，或五日、或七日後，用神異膏貼敷，若根腳小，五日後貼；如闊大，須七日、十日後可貼。</p>
<p>一、疽疾將安之際，合多服加料十全湯以補其氣血，使易生肌肉故也。</p>
<p><u>加料十全湯</u></p>
<p>　治癰疽後補氣血，進飲食，疽疾將安及七八分，便當服此藥，每日與排膿內補散相間服。</p>
<p>黃　（揀不用叉附及蛀者，銼作二寸長截，拍扁，以冷鹽湯濕潤之。瓦器盛蓋，甑上蒸三次，焙銼用）</p>
<p>熟乾地黃（揀肥大滋潤者，洗淨，焙乾，用好瓶酒濕潤，瓦器盛蓋，於飯甑上蒸晒，如此七次；銼，焙）二味各用一兩淨　當歸（去蘆，淨洗，取自頭至中心一截，銼，焙乾；用自中至尾留合別藥）　川芎（銼，微焙）</p>
<p>人參（去頂，銼，焙）　白茯苓（去黑皮，銼，焙）　甘草（炙）　白芍藥（揀有皮者買，無皮是偽者。</p>
<p>削去皮，銼、焙用）　肉桂（削去粗皮，銼，不見火）　天台烏藥（如無真者，可買隆興府大塊者用。銼焙）</p>
<p>白朮（用米泔浸半日，銼到小指頭大方塊，焙乾，再用麥麩炒至黃色，不得傷火，去麩，將白朮銼用）　陳皮（不用沙柑子皮。水浸，削去白瓤，焙，銼）　真白五味子（核如豬腎形，肉微黑，重者是真，揀去枝杖，炒過用。核如沙柑子核者，是土五味子，不堪用。已上十一味各半兩）</p>
<p>上各干淨稱，銼，作散和勻。每服藥一兩，用水一碗，生薑五片，北棗二枚，同煎至八分碗，濾去滓，取清汁，分作兩服。留滓晒乾，碾羅為細末，後來常服，水一盞，生薑三片，棗一枚，煎至八分服之。</p>
<p>一、前後病背疽人，多是先發渴而後背疽作，不然，背疽安而後發渴疾，因此不救者甚多。若有渴疾人，則合專服加減八味丸，能使渴疾既安，疽疾不作。若驟得背疽之疾，既安之後，不問有無渴證，便合常服加減八味丸，非特可以杜渴疾之將來，亦且大能滋益氣血，生長肌肉，使精神強健，此乃累試之驗。</p>
<p><u>加減八味丸</u></p>
<p>　治癰疽後合服補藥。若用峻補之藥則發熱，又況癰疽既安之後，多傳作渴疾不可治療，當預服此藥。如能久服，永不生渴疾，氣血和壯。未發疽人，或先有渴症，亦合服此藥，渴疾既安，疽亦不作。</p>
<p>熟乾地黃（如法揀好者買。制度過，焙，銼，二兩）　真山藥（銼細，微炒）　山茱萸（去核取肉，焙乾，二味各一兩）　肉桂（味辛辣、薄者買。削去粗皮，銼，不見火。用一兩，別研，取半兩滓末和入眾藥，余粗滓仍勿用）　澤瀉（水洗，銼作塊，無灰酒濕，瓦器盛蓋，甑上蒸五次，銼，焙）　牡丹皮（去心、枝杖，銼，炒）　白茯苓（去黑皮，銼，焙，已上三味各八錢）　北真五味子（揀去枝杖，慢火炒至透，不得傷火，一兩半，別研、羅，和入眾藥。此一味最要真者，其詳已著十全湯內）</p>
<p>上研、羅為細末，煉蜜候冷，和丸如梧桐子大。每服三十丸，空心無灰酒或鹽湯任下。</p>
<h2>論渴疾本原</h2>
<p>有一貴人病疽疾，未安而渴作，一日飲水數升，愚遂獻此方，諸醫失笑云：此藥若能止渴，我輩當不復業醫矣！諸醫盡用木瓜、紫蘇、烏梅、參、苓、芍藥等生津液、止渴之藥，服多而渴愈甚，數日之後，茫無功效，不得已用此藥，服之三日，渴止。因此相信，遂久服之，不惟渴疾不作，氣血益壯，飲食加倍，強健過於少壯之年。蓋用此藥，非愚敢自執鄙見，實有源流。自為童兒時，聞先君言：有一士大夫病渴疾，諸醫遍用渴藥，治療累載，不安，有一名醫誨之，使服加減八味丸，不半載而疾痊，因疏其病源云：今醫多用醒脾、生津、止渴之藥，誤矣！而其疾本起於腎水枯竭，不能上潤，是以心火上炎，不能既濟，煎熬而生渴。今服八味丸，降其心火，生其腎水，則渴自止矣。後疏其藥性云：內真北五味子最為得力，此一味獨能生腎水、平補、降心氣，大有功效。家藏此方，親見有驗，故敢詳著之，使有渴疾者信其言，專志服餌而取效，無為庸醫所惑，庶廣前人制方濟惠之意。</p>
<h2>癰口將收論</h2>
<p>癰口將收之際，最忌用急澀斂口之藥，只宜用神異膏貼。多見昧者立說，破此一段，不過病者厭於將理，醫者急欲獲利，不思毒瓦斯發泄未盡，其疾再來，人命自此不救。</p>
<h2>癰久瘡口不合論</h2>
<p>一、治癰久而瘡口不合，其肉白而膿血少，此為瘡口冷滯，乃病患氣血枯竭不潮，於瘡遂致如是，合用白北艾湯洗，神異膏貼，多服排膿內補散。每日用好北艾葉一把，入瓦器內濃煎湯。避風處乘熱用艾湯澆洗瘡口四圍淨肉，以舊絹帛兜艾葉乘熱沃澆，一日一次，洗了須避風；仍燒松香，以煙熏瘡口良久，用神異膏貼之。其瘡不可與厭穢之人見，若不能禁忌，瘡口難安，藥亦無效。</p>
<p>一、病癰疽之人，適被庸醫用毒藥掩　，或以針刀傷割，不能生肌肉，瘡口不合，切不可用急澀斂口藥，當只用豬蹄湯、北艾湯相間洗，以神異膏貼之，並服排膿內補散。</p>
<p>一、前方但是居於州縣間、有力者能及之，若適在鄉原、與夫無力以市藥者，只可用鷺藤酒一方，終始服餌，俟其疽破，即以神異膏貼之，蓋神異膏所用藥材，皆非貴細難得之藥。前後用此以醫，田夫野老，百發百中。</p>
<p><u>大川烏丸</u></p>
<p>　治發背，活經絡，生肌肉。</p>
<p>大川烏（生，去皮、尖）　當歸　赤芍　蘇木（銼，炒）　沒藥（生用，一兩，別碾）　乳香（一兩，別碾）　穿山甲（用蚌粉炒脆，去粉，二兩）　獨活（合用老羌活。今鋪中所賣獨活乃土當歸，不可用，二兩）</p>
<p>上為細末，和勻，酒煮面糊為丸，梧桐子大。溫酒下三十丸，空心下。</p>
<p><u>二烏丸</u></p>
<p>　治發背，托裡定痛，驅風毒，涼血。</p>
<p>羌活（去苗）　薄荷葉（各三兩）　川芎（以上各不見火）　元參　地榆　麻黃（去節）　防風（去蘆）　天麻　白芷　白僵蠶（用直者，去絲、足、口）　牛蒡子　炒蔓荊子（去蒂並白膜）　旋覆花（去萼）　荊芥穗（各二兩）　甘菊花（三兩）　何首烏（四兩）　甘草（炙，四兩半）　蟬蛻（去足，半兩）</p>
<p>上為細末，煉蜜丸如彈子大。每服一丸，細嚼，茶清任下，食後服。</p>
<p><u>退毒下膿漏蘆湯</u></p>
<p>　治疽作二日後，與五香連翹湯相間日服之。</p>
<p>黃　（生用）　連翹（各一兩）　大黃（一分，微炒）　漏蘆（一兩，有白茸者）　甘草（半兩，生用）</p>
<p>沉香（一兩）</p>
<p>上為末，薑棗湯調下。此二方連日相間服，乃宣毒之藥，覺毒盡住服。</p>
<p><u>參苓順氣散</u></p>
<p>　治病癰疽人，進飲食，降氣，健脾。</p>
<p>烏藥（一兩半）　人參（一分）　茯苓（一分，白者）　青皮（去白，半兩麩炒，半兩蜜炙）　真紫蘇子（二錢半，微炒）</p>
<p>上為細末。每服，末二錢，水一盞，薑、棗煎至八分，早晨空心溫服。煎藥不用紫薑，能發熱、動氣；當用老薑，連皮使。</p>
<p><u>梔子黃芩湯</u></p>
<p>　治發背瘡潰後，因飲食有傷，調攝不到，發熱不住，用以退熱。</p>
<p>漏蘆　連翹　山梔子仁　黃芩（去心。各二兩半）　黃　（生用，一兩）　防風　石韋（合使桑白皮自取者）　甘草（生）　犀角（生用）　人參　苦參　白茯苓（各二錢半）</p>
<p>上已上為粗末。每服四錢，水一中盞，煎至六分，去滓，溫服。</p>
<p><u>蚣蠍散</u></p>
<p>　治癰疽瘡口小而硬，貼膏藥而膿不來。此為風毒所勝。</p>
<p>赤足蜈蚣（一條，去頭足，生用）　全蠍（三個，去爪，要有尾者，生用）　木香（一錢重）</p>
<p>上為細末。每用時，先以豬蹄湯藥洗疽了，以此藥一匙許，糝於膏藥面上，近瘡口貼，其效如神。每用神異膏，合先量疽大小，塗在紙花上了，卻用此藥糝於膏藥上，要使先到瘡故也。若瘡口闊大及不硬，則不必用此。</p>
<p><u>內托黃　丸</u></p>
<p>　治因用針砭傷其經絡，白膿、赤汁逗流不止。</p>
<p>黃　（八兩，生用）　當歸（二兩，洗、焙）　肉桂（去粗皮）　木香　乳香（別研）　沉香（以上四味各一兩）</p>
<p>上為細末，用綠豆粉四兩、生薑自然汁煮糊，丸如梧桐子大。每服五十丸，溫熱水下，不拘時候。</p>
<p><u>沉麝湯</u></p>
<p>　治發背疽之人，斂口生肌。不得用躁急之藥，合用麥飯石膏塗，續用好膏藥貼之，瘡口自然斂合。如醫治後，時為庸醫用毒藥掩　、或刀割傷內血重者，兼服此。</p>
<p>木香　麝香　沉香　藿香葉　連翹上等分，為細末。每服二錢，水一盞，煎至七分，溫服無時。疽疾既已，先服取毒之藥，又用麥飯石膏塗貼，五、七日之後，病漸減退，合服大川烏丸、二烏丸驅除余毒，活氣血，生肌肉，排宿膿，去風邪，又合服洪氏內補散，多服為妙。</p>
<p><u>立效散</u></p>
<p>　治發背及諸癰疽並瘰　有效。</p>
<p>皂角刺（半斤，揀去枯者，細銼，炒赤色為度，須耐久妙）　甘草（二兩，合生用）　栝蔞（五個，去皮取肉並仁，搗研，炒黃，干者不必炒）　乳香（半兩，別研和入）　沒藥（一兩，別研和入）</p>
<p>上五味為末，每服二錢，酒調下。乳癰與前方間服，神妙、神妙！</p>
<p><u>忍冬丸</u></p>
<p>　療病既愈，須預防發癰疽宜。</p>
<p>忍冬草（左纏藤是也。不拘多少，根、莖、花、葉皆可用）</p>
<p>上以酒於瓶內浸，以糠火煨一宿，取出晒乾，入甘草少許，為末，以所浸酒為糊丸，如梧桐子大。每服五十丸至百丸，酒、飲任下，不拘時。</p>
<p>治一切癤毒癰疽，將結則散，已聚則破，已破痛不可忍者，貼之則寬，止痛神效，不可具述（按：以下所制方，皆不另立方名）。</p>
<p>無鹽桃末　皂角末　白芷末　荊芥末　草烏頭末上等分，用米醋調，貼四圍，留中。蜜調亦得。</p>
<h2>癰癤不可用膏藥貼合論</h2>
<p>治些小癰癤，結而未成，不可用膏藥貼合，以藥塗，使內自消。每用生取鹿角尖，於砂缽內,　同老米醋、今俗呼黃子醋濃磨,時以鵝翎塗拂於癰癤四圍，當中留一口，遇干再塗，一二日即內消。每覺有些小癰癤疼痛、發熱時，便用生甘草節，不炙、不焙，用日晒乾，若無日，焙於籠蓋上，微火，碾為細末，以熱酒調二三錢服，連進數服，疼痛與熱皆止。治癰疽未結成，並血氣凝滯、腫結成塊者，用吳茱萸微炒，碾為細末，雞子清調塗，神妙！疾輕者宜用此。</p>
<p><u>治癰疽發背神方</u></p>
<p>金銀花（一名忍寒草）</p>
<p>上采葉，研為滓。每用不限多少，納瓷瓶中，入水，用文武火濃煎，臨熱入好無灰酒與藥汁相半，再煎十數沸，濾滓，時時服之。留滓焙乾，碾、羅為細末，酒煮面糊，為丸梧桐子大，每服三十丸，空心溫酒下。丸藥俟疾稍退，可以常服，蓋其力輕甚故也。</p>
<p><u>預防癰疽方</u></p>
<p>　服此藥可以終身無此疾。</p>
<p>綿黃　（七兩。揀如箭捍樣、性軟者用，蘆並叉附不用。一半生使，細銼，焙乾；一半銼作寸長截，捶匾，以蜜水浸潤濕，瓦器盛蓋，於飯甑上蒸三次，取出焙乾，銼碎）　粉草（去節並去皮，一兩半淨，將一半生，細銼、焙；一半炙黃，銼、焙）</p>
<p>上二味，碾為細末。每服二錢，早晨、日午，白湯煎，常當湯水服；夜候飲酒，初杯用酒調服。若平日能如此常服之，終身不患癰疽之疾。</p>
<p>案：以上各方，不見於諸論中，今總集之，附於諸論之後。</p>
<p>腦疽不可灸，引其氣一上，痰涎、膿血並起上攻，傾人性命急於反掌，但當急灸三裡穴並氣海，漸漸服涼胸膈、化血之藥，人可小安。此說載《通神方論》。腦疽、咽喉生疽，古法皆不治之證，此灸法引毒瓦斯歸下，其理頗長。得此疾者，豈可坐受其斃，當信而用之。</p>
<p><u>栝蔞散</u></p>
<p>　治婦人乳癰奶勞，神效（今俗呼奶勞，即此疾之漸）。</p>
<p>栝蔞（一個。去皮，焙、研為末，急用則爛研。子多者有力）　當歸（淨洗，去蘆，焙細，半兩）　甘草（半兩。細銼，生用）　通明沒藥（一分，別研）　乳香（一錢，別研）</p>
<p>上用無灰酒三升，同於銀、石器中，慢火熬取一升清汁，分作三服，食後良久服。如有奶勞，便服此藥，可絕病根。如毒己成，能化膿為黃水；毒未成，即於大小便中通泄。疾甚，再合服，以退為妙。婦人乳疽方雖多，獨此一方神效無比，萬不失一。</p>
<p>按：以上二方，一治腦疽，一治乳疽，皆與背疽無涉，以其為李氏之書，故並附於此。</p>
