<header data-type="book">
<h1>素問六氣玄珠密語</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王冰</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="0618/0907">公元618年至公元907年</data></dd></div>
<div><dt>底本</dt><dd>《正統道藏》（<a href="https://ctext.org/library.pl?if=gb&res=84699">掃描本</a>）</dd></div>
</dl>
</header>
<h2>序</h2>
<p>余少精吾道苦志文儒三冬不倦於寒窗九夏豈辭於炎暑後因則天理位而乃退志休儒繼日優游棲心至道每思大數憂短景以無依欲究真筌慮流年而不久故乃專心問道執志求賢得遇玄珠乃師事之爾即數年間未敢詢其太玄至妙之門以漸窮淵源方言妙旨授余曰百年間可授一人也不得其志求者勿妄泄矣余即遇玄珠子與我啟萌故自號啟玄子也謂啟問於玄珠子也今則直書五本每本一十卷也頭尾篇類義同其目曰玄珠密語乃玄珠子密而口授之言也余於百年間不逢志求之士亦不敢隱沒聖人之言遂書五本藏於五岳深洞中先饗山神後乃藏之恐後人志求者可以遇之如得遇者可以珍重之寶愛之勿妄傳之不得奇人不可輕授爾此玄珠子授余之深誡也此十卷書可見天之令運之化地產之物將來之災害可以預見之素問中隱奧之言可以直而申之可以修養五內資益群生有罰強補弱之門有祛邪全正之法故聖人云天生天殺道之理也能究其玄珠之義見之天生可以延生見之天殺可以逃殺陰符經云群天之道執天之行盡矣此者是人能順大之五行六氣者可盡天年一百二十歲矣其有夭亡蓋五行六氣遞相罰夭故祖師言六氣之道本天之機其來可見其往可追可以注之玉版藏之金柜傳之非人殃墮九祖</p>
<h2>卷一</h2>
<h3>五運元通紀篇</h3>
<p>夫運者司氣也故居中位也在天之下地之上當氣交之內萬化之中人物生化之間也故運者動也轉動也即輪流運動往來不歇也於是太極始判橫五運於中輪流至今終而復始聖人望而詳之自開辟乾坤望見青氣橫於丁壬故丁壬為木運也赤氣橫於戊癸故戊癸為火運也黃氣橫於甲巳故甲巳為土運也白氣橫於乙庚故乙庚為金運也黑氣橫於丙辛故丙辛為水運也故先輪五運後紀司天也即常以司天為客也運氣為主也在泉亦為客居氣間氣為次客也故五運之氣上合於天於是木運之氣上合蒼天火運之氣上合丹天土運之氣上合　天金運之氣上合素天水運之氣上合玄天故蒼天之氣經於鬼柳危室即丁壬二分也丹天之氣經於角軫牛女即戊癸二分也　天之氣經於心尾參井即甲巳二分也素天之氣經於亢氐畢觜即乙庚二分也玄天之氣經於張翼婁胃即丙辛二分也故蒼天有青氣經於四宿下合木運以同丁壬也丹天有赤氣經於四宿下合火運以同戊癸　天有黃氣經於四宿下合土運以同甲己素天有白氣經於四宿下合金運以同乙庚玄天有黑氣經於四宿下合水運以同丙辛於是五運五色之中經流之內乃分六氣於是青氣之中天生風風生木於地也赤氣之中天生暄暑即君相二火也即熱生火於地也黃氣之中天生濕濕生土於地也白氣之中天生清燥燥生金於地也黑氣之中天生寒寒生水於地也故天有六氣者是風暄暑濕燥寒是也地產五行者是水火土金木是也於六氣五行上下相合萬化生成悉由之爾五蟲衰夭生王悉由之爾五蟲者即毛蟲羽蟲　蟲甲蟲鱗蟲是也即以師子為毛蟲之長應木也鳳凰為羽蟲之長應火也人為　蟲之長應土也龜為甲蟲之長應金也龍為鱗蟲之長應水也此五者總於萬類也故運者丁壬木運即壬主剛丁主柔剛為太過柔為不及太過即木氣傷土不及即自衰自衰即反受金刑戊癸火運即戊主剛癸主柔剛為太過柔為不及太過即火氣傷金不及即反受水刑甲己土運即甲主剛己主柔剛為太過柔為不及太過即土氣傷水不及即反受木刑乙庚金運即庚主剛乙主柔剛為太過柔為不及太過即金氣傷木不及即反受火刑丙辛水運即丙主剛辛主柔剛為太過柔為不及太過即水氣傷火不及即反受土刑此者是運氣之剛柔盛衰之意也故運從干生干有十即五陽五陰配地之六陰六陽共成六十甲子也即甲戊丙庚壬為陽干陽干主陽年陽年即子寅辰午申戌此六歲即陽干相臨也皆主太過也於是乙丁己辛癸為陰乾陰乾主陰年陰年即丑卯巳未酉亥此六歲即陰乾相臨也皆主不及也又不及者謂其中有平氣也其平氣者假令丁卯歲木運故曰平氣也何以故丁雖為木之柔卯雖陰年謂卯為木相佐於丁之柔故得平氣也假令乙酉年金運故曰平氣也何以故乙雖為金之柔酉雖陰年謂酉為金相佐於乙之柔故得平氣也假令辛亥年水運亦曰平氣也何以故辛雖為水之柔亥雖陰年謂亥為水相佐於辛之柔故曰平氣也假令癸巳年火運亦曰平氣也何以故癸雖為火之柔巳雖陰年謂巳為火相佐於癸之柔故曰平氣也假令己年遇丑未歲己雖為土之柔丑未雖陰年謂丑未土相佐於己之柔故曰平氣也其辰戌亦是土位此二年為陽年各主太過也又一法每年交司於年前大寒日假令丁年交司之日遇日朔為壬日丁得壬名曰干德符也符者合也便為平氣也若過此一日縱遇皆不相濟也若交司之時遇時直符見壬亦然過此亦不相濟也其余皆類也即巳逢甲辛遇丙癸逢戊乙逢庚皆為干德符也非交司曰時除此日時不相濟也又於不及歲中逢月干皆得符合也不相濟也若未逢勝而見之干合者即平氣也若行勝以後行復以畢逢月干者即得正位也細述於後秘文也</p>
<h3>迎隨補瀉紀篇</h3>
<p>五行六氣各有勝復故木將行勝也蒼埃先見於林木木乃有聲震星光芒是其兆也又木將勝也宮音失調　蟲不滋雨濕失令也十二月先取其化源也此謂迎而取之也迎者於未來而先取之也故取者瀉也用針瀉其源也即木氣將欲勝者即先瀉肝之源出於太衝（左足大指本節後三寸陷者中乃肝脈所過為源）先以左手按其源穴得動氣乃下針針入三分乃陽之位也以得天氣而住針留三呼即應木之生數三也乃四面以手彈之令氣之針下即推而進至五分留八呼應其木之成數八也是引天氣而得地氣也針頭似動氣相接也乃急出其針次以手捫之此是預知木勝瀉木肝之源也令不克其土也其用藥者即用辛平之罰木之勝用甘全之佐土之衰無令食酸物佐木之勝也火之將勝也遠視天涯光輝赤氣山川草木先乃焦枯甲蟲之體遍生燥疥商音之聲先乃失調於三月迎而取之化源火木王之前先取其心之源也故心之源出於太陵（掌後兩骨間陷者中乃心之所過為源也）先以左手按其源穴得動氣乃下針針入三分乃陽之位也以得天氣乃住針留二呼乃火生數也乃四面以手彈之氣至針下即推而進針至於五分留七呼應火之成數也是引天氣而接地氣也針頭似動其氣相接也急出其針可泄瀉有餘之氣此瀉包絡小心之源也應相火之勝也其君火之源者故名曰少陰之源也少陰之源出於兌骨（此是真心之源在掌後兌骨之端陷者中一名神門一名中都）刺法同前法其用藥者即用咸平之罰火之勝也用辛全之補金之衰勿食其苦物佐火之勝也土將勝也山石先潤黃埃四起溽暑乃作云氣乃擾霧翳乃施羽音先少是其候也於五月迎而取其化源也先取瀉脾之源也故脾之源出於太白（在足內側校骨陷者中是足太陰所過為源）先以左手按其源穴得動氣乃下針針至三分陽之位也留五呼應土之數也以手彈之氣至針下乃推而針至五分留五呼亦應土之數也是謂引天氣而接地氣也針頭似動急出其針取瀉其有餘之氣令脾氣不盛勿傷腎也其用藥者用酸平之罰土之勝用咸全之補腎之衰勿食其甘物佐土之勝也金將勝也西風數起松篁發籟土生鹵白地氣先燥山彰白氣肅殺乃作木凋草萎角音乃虧是其兆也於六月迎而取其化源即先瀉肺之源也故肺之源出於太淵（在掌後大筋一寸五分間陷者中是手太陰所過為源）先以左手按其源穴得動氣乃下針至三分陽之位也留四呼應金之生數也以手四面彈之氣至針下推而進針至五分留九呼應金之成數也是謂引天氣而接地氣也得氣乃急出之可瀉肺氣之有餘也令勿傷肝也其用藥者即用苦平之罰金之勝用酸全之補肝之衰勿食其辛物佐金之勝也水將勝也天色沉陰鳴鳥不語太虛暝黯陽光不治冷氣先至徵音不及熒惑不見是其兆也於九月迎而取其化源也即先瀉腎之源也故腎之源出於太谿（在足內踝下起大骨下陷中是足太陰所過為源也）先以左手按其源穴得動氣乃下針針入三分陽之位也留一呼應水之生數也以手四面彈之令氣至針下即推而進針至五分留六呼應水之成數也是謂引天氣而接地氣也得氣即急出之即瀉腎氣之有餘無令傷於心氣也其用藥者即用甘以平之罰腎氣之勝也用苦全之補心氣之衰也無令食咸物佐腎之勝也凡資其化源者何也故資者補之取者瀉之當瀉其勝實補其衰弱也假令木氣之勝土當衰弱也故瀉其肝源補其脾源也火氣之勝金當衰弱也故瀉其心源補其肺源也土氣之勝水當衰弱也故瀉其脾源補其腎源也金氣之勝木當衰弱故瀉其肺源補其肝源也水氣之勝火當衰弱故瀉其腎源補其心源也故資補其化源者故先以左手按其源穴得動氣乃下針便至五分陰分地之氣留呼即從其五行之生數也得地氣之動乃抽針至三分陽分天之氣是謂引陰至陽白資補化源留呼即次從五行之成數也故以外至內而出曰瀉也以內至外而出曰補也故以補為資以取為瀉也即勝者取之虛者資也</p>
<h2>卷之二</h2>
<h3>運符天地紀篇</h3>
<p>甲子中土運太宮土氣有餘其名曰敦阜土行雨化即歲中濕令過多氣傷腎臟受病久及膀胱鱗蟲不資　蟲太盛脾氣之勝也民病腹痛清厥意不樂體重煩冤上應鎮星甚則肌肉萎足痿不收行善契腳下痛飲發中滿食減四肢不舉變生得位藏氣伏化氣獨治之泉涌河衍涸澤生魚風雨大至土崩潰鱗見於陸地病腹滿溏泄腸鳴反下甚雨化五此土太過之令也甲午之年化令同乙丑中金運少商災九宮七宮即西方兌在人為肺四時應秋此即謂金不及也其名從革即火行勝令來勝於金庶物以茂燥爍以行民病肩背瞀重鼽嚏血便注下收氣乃後令勝之至甚有金子為水水來救母名曰復勝復勝即寒雨暴至零冰雹雪霜殺氣陰厥且格陽上行頭腦戶痛延胸項發熱丹穀不成民病口瘡甚則心疼　化四從生數乙未之歲化令之正同於此年丙寅中水運太羽水氣有餘其名流衍上刑天令不化也中克心臟受病即寒氣流行邪害心火民病身熱煩心燥悸陰厥上中下寒譫忘心痛寒氣早至甚則腹大脛腫喘咳寢汗出憎風大雨至埃霧蒙郁寒化六從成數此太過之政丙申之歲化令準前此水化之令轉盛之爾何以故申金金生水運之余逢申之年申甚也丁卯中木運正角運得平氣也其名敷和所謂平氣也即金不來勝木亦不災土故化令各得其時故曰平氣也又曰歲會也謂丁木運卯為木其氣相佐丁年正月是壬寅月壬與丁合其干德名曰干德符也故歲勝風化三從生數也正化曰也即化令依時元他令至故正化日也故丁酉歲運同即不得年力也年酉為金也正月壬寅月亦名干德符也勝符亦不至也即不名歲會風化三生數也同丁酉年化令更甚戊辰中火運太徵火氣有餘名曰赫曦即氣勝肺臟受病久及大腸甲蟲乃殃秋冬熱夏令炎熱其化之政只其半也何以故上見司天水臨之火減其半也熱化七從成數正化度無他令也戊戌之年皆如此己巳中土運少宮災五宮五宮即中宮也卦應坤位在人為脾四時應夏蟲為　蟲土不及名曰卑藍即四時化氣之令不正木乃來勝大風數舉民病痞滿黃膽　腫雨濕之氣不化　蟲乃夭勝之深也金乃來復復之至也白埃四起肅殺乃至木葉凋落民病肝臟毛蟲反困復罷脾氣猶虛至九月甲戌月己得甲力得其干合方還正宮雨化五巳亥之政同於此化庚午中金運太商金氣之有餘也其名堅成也氣勝即傷肝白埃四起殺氣如云生氣不令成氣乃過毛蟲過困草木晚榮民病即脅氣痹四肢筋攣目瞑喜怒其化雖災亦不至甚也只得其半也何故謂上見少陰君火臨之年午亦為火也故金令衰其半也水之災亦少也燥化九從成數也庚子之年異同也年子是水金氣相得其災至勝也　化九從成數也辛未中水運少羽災一宮一宮坎位在人為腎四時應冬蟲即鱗蟲也水氣不流名曰涸流也即土來行勝濕乃大行長氣反用其化乃速暑兩數至民病腹滿身重濡泄寒瘍流水不冰腰股痛發　股膝不便煩冤足痿　厥腳下痛甚則　腫臟氣不正復之發也木來救水大風暴至草偃木零生長不鮮面色時變筋骨並辟內　螈目視睛KT　KT　物璺肌肉　發氣並膈中痛於心腹黃氣乃損椹穀不發復罷水氣寧至七月丙申月水運正羽寒化一從生數邪化日令時不正也辛丑之令如此也壬申中水運太角木氣有餘其名發生也即大風摧拉氣刑脾臟久及其胃也風氣流行脾土受邪民病發泄食減體重煩冤腸鳴支滿化氣獨治云物飛動草木不寧甚則搖落反脅疼而吐風化八從成數邪化度也正令失時也壬寅之歲其氣更甚也亦名歲會也寅木壬木相會合也癸酉中火運少徵災九宮九宮南方離位在人應心四時為夏即火氣不及也其名伏明也心臟自衰夏令不正羽蟲乃夭即水來行勝水之至也勝則寒乃大行長氣不正物熒而下凝慘而甚則陽氣不化乃折榮美民病胸中痛脅支滿脅痛背肩腳間及兩臂內痛郁胃　昧心痛勝至深火有子為土來救之母復勝之至埃郁大雨且至黑氣乃溽民病瞀溏腹滿食飲不下中寒腸鳴泄注痛攣痿痹足不任身復罷火氣始平後五月戊午月癸遇干合火還正徵熱化二從生數邪化日失於正令也癸卯之歲亦如此也甲戌中土運太宮土氣有餘其名敦阜土行雨令即溽暑埃濕太虛埃昏云雨時令氣過即傷腎久及膀胱化氣有餘臟氣不令民病即氣厥陰痿足脛寒少力失精鱗蟲乃困氣盛即風舉勝遷民病嗔恚痞塞黃膽上勝天令弗從雨化五亦曰邪化則政令失時甲辰之年對化斯令乙亥中金運正商平氣也其名審平也所謂平氣者謂三月得庚辰月早見干德符也乙柔見庚剛即氣還正位也火未得王故未勝而先平也火不勝即水不復也又亥是水亦得年力故火不勝也　化四從生數也正化日無他令即本化依時也乙巳歲火來小勝之為巳為火可佐於勝也即於二月中氣間君火時化日火來行勝金氣行勝少商從大徵勝之不久不待水來復即遇三月庚辰月乙見庚而氣自全金還正商氣以平也丙子中水運太羽水氣有餘也其名流衍水之盛也上克司天化令不從丙為水運干之剛也亦是水也太陽司天太過即水氣臨火令長不從臟氣之勝也心臟受病久及小腸羽蟲乃殃鱗蟲乃育寒化六從成數也亦邪化日夏失時正也丙午之歲小異之爾午即火也火得年力丙雖運剛水之勝也謂火居南方午位得離正氣佐故夏令得化心臟不病羽蟲不災熱化得正化日無他邪所至也丁丑中木運正角木德平氣也其名敷和何謂也不候金行勝而先得干符合也始得初氣遇正月壬寅月丁雖為木運柔丑雖陰年謂壬為木運之剛與丁合德也丁遇壬而氣還全即金不行勝火亦不復故木德正角生氣時令木亦不傷土民乃康　蟲毛蟲甲蟲各得其育風化三從生數正化日也依時政令不失時也丁未之歲氣化運齊天依丁丑之政也戊寅中火運太徵火氣太過其名赫曦也氣營運先天也即太過來早故云先天也又運與天合德名曰天符也即上見少陽相火司天即運與天同火其氣甚盛暑流行金肺受邪民病病瘧少氣咳喘血溢泄注下嗌燥耳聾中熱肩背熱甚則胸中痛脅肢滿膺背肩胛間痛兩臂內痛身熱骨痛而為浸淫收氣不行長氣獨明以表火勝熱化七從成數邪化日政令失時戊申年小異之即申為金佐於肺肺受火刑其氣稍實民病得半也故小異之爾其余之令亦如此己卯中土運少宮土氣不及災五宮五宮即中央也在人應脾氣分四氣蟲為　蟲土其名卑藍木乃來刑即木行風勝於土風乃大行化氣不令草木茂榮飄揚而甚秀而不實民病飧泄霍亂體重腹痛筋骨繇復肌肉　酸勝至甚也金子來復復之至則收政嚴峻草木蒼凋胸腹暴痛下引小腹善大息蟲食甘黃氣客於脾　穀乃減食少失餐復罷土氣未正後至九月甲戌月土還正宮雨化五邪化日失正令也己酉之年異於此歲酉金也勝之懼之故木勝之微爾庚辰中金運太商金氣有餘其名堅成金氣有餘即生氣乃萎收氣乃殺即白埃四起草木蒼落林木肅殺燥乃鹵田白色民病於肝毛蟲還困　脅氣痹淋溲便難目瞑轉筋燥化九從成數邪化日春令失政庚戌之運準此辛巳中水運少羽水氣不及也災一宮一宮北方坎位在人應腎蟲為鱗水之衰也其名涸流即干涸竭也即土行勝水也土行雨令即名曰雨化行勝勝之至也至於第四氣中即大雨霖霪腎病乃危久及膀胱鱗蟲還瘁弗令水危困篤木乃來復勝也大風數作揚塵高舉摧折林木飛砂走石如是即土氣虧脾臟乃病　蟲反殃木復罷土猶未全至七月丙申月辛得丙合水還正羽水氣方全寒乃化一邪化日失政令也辛亥之年小異之爾何以故亥為水雖陰年亥水與辛水運相佐之日歲會水得平氣即土不勝木不復故得正羽正化日寒化一從生數也壬午中木運太角木氣之有餘也其名發生壬木運運之剛也午陽年陽年太過故太氣之盛也即生氣之令太過營運先天風化乃盛化氣不令雨濕還虧脾臟受病久及其胃　蟲不育風化八從成數邪化氣失令壬子之歲亦然也癸未中火運正徵火得平氣也其名升明何以故即左右二火為間氣相佐之也又五月戊午月先得干符也癸見戊而氣全也先得符力水未行勝故曰平氣即水不勝而土不復也火又不災九宮故名正徵熱化依時令正化日無他令熱化二從生數癸丑之令準前甲申中土運太宮土氣有餘其名敦阜也土行雨令即化氣之盛也臟氣不時邪干腎臟久及膀胱鱗蟲乃困寒凜反溫雨濕流行民病腹痛　厥意不樂體重煩冤甚則肌肉萎足不收行善契腳下痛飲發中滿食減四肢不舉雨化五邪化日也臟氣不正甲寅之歲異於此何以故寅木也木可刑土氣之平也即臟氣平自令鱗蟲得育腎氣均正化日也故得無他邪也乙酉中金運正商金得平氣也名曰審平也七宮不災火勝不至水復不來甲蟲自育肺臟氣寧何以故乙雖為金運之柔酉雖陰年故酉為西方金位金氣相佐故得平氣也長氣亦不刑生氣殺氣自正　化四從生數正化曰無他邪也乙卯之年異於此歲中金運少商金氣之不及其名從革即火得二之氣君火分中來行勝即暄熱至甲蟲殃肺乃病勝之不及久水未行復其氣以平何故也三月庚辰月乙得庚合合其干德金運正商其氣乃平使殺氣不失其令　化四從生數邪化日有他邪也丙戌中水運太羽水氣有餘其名流衍水得丙戌之剛戌上見太陽水同於寒其氣臨火長氣失政炎暑乃虧暴冷時間臟氣乃盛其眚冰雹其令寒　凜冽羽蟲乃忘臟病覺及小腸民病心熱煩心燥悸陰厥平氣其名敷和木氣譫忘心痛寒氣早至寒化一□□□□□至也天令也邪化日失政□□□□□□丁亥中木運正角木得平氣其名敷和木氣不災三宮何以故丁雖為木之柔亥雖陰年今於正月壬寅月丁得壬合干德相符故平氣也故運得干合即木氣乃全即金不行勝火不來復也木亦不傷土令也使時令各得其化故曰正化日也風化三從生數丁巳之正依斯令也戊子中火運太徵火氣有餘其名赫曦上與少陰君火合德日天符也火行暑令即炎暑大行夏令太過其變鬱蒸其眚炎爍如是即心氣有餘邪炎肺臟久及大腸甲蟲不滋殺氣失政肅殺無威暑化於成數戊午之年名曰太子天符三會合也即戊火運上少陰君火午為南方為位即三位火合德其化轉甚邪化日秋失正也己丑中土運少宮土不及災五宮五宮即中宮也在人應脾卦為坤主氣為四氣蟲即　蟲土不及其名早監土行雨令濕化乃虧木乃來刑木行風令即風化行勝也勝之至也得初氣而至早也風木之時化之正也脾乃病久及胃　蟲困篤四氣還虧土至危金乃至至而燥來燥來復勝勝木也木反衰肝乃病次及膽土乃靜脾病愈　蟲舒土至九月甲戌月己得甲為干合其德土還正宮方伏位名曰雨風勝復同也邪化度邪化者相刑勝之名也雨化五己未之令準於斯正庚寅中金運正商金得平氣也其名審平也寅為陽庚主太過何言平氣也謂上見少陽相火司天下臨克於金故天刑運運不能太過故罰盛而見平也其氣亦傷肝也即為小災爾毛蟲小困春令　干燥化九從成數邪化不盛庚申之歲金得太過從太商金名曰堅成謂申金為佐之故金氣傷肝久及其膽生氣之令不殺金氣太過燥化依令辛卯中水運少羽水氣不及災一宮一宮即北方坎位也水在人應腎水不及其名涸流即干涸竭也即土氣來勝刑於水也上施雨令名曰雨化勝也勝之至也至於第四氣即土得時化故勝爾太虛埃昏云氣以擾雨令頻化腎臟乃病火乃膀胱鱗蟲困篤冬令反溫流水不冰水困之危木來復克木者水之子木行風令名曰風化勝復同也即大風復勝於雨土即脾反病　蟲殃土氣復危如是即土氣方緩至七月丙申月水還正羽寒化一從生數邪化日失正令辛酉亦然壬辰中木運太角木氣有餘其名發生其氣盛木有餘木令於風風乃大舉鼓折鳴紊用施摧拉氣過即傷脾久及其胃　蟲不育化氣不令風化八從成數邪化日也夫正令壬戌之令亦從此歲之令癸巳中火運正徵火得平氣其名升平也巳雖陰年癸雖為柔一謂巳為火亦名歲會二謂水未得時化三謂五月戊午月癸得戊合其干合故得平氣也即水不來勝火不來復即火令依時熱化二從生數正化日依時正癸亥中火運少徵火不及災九宮九宮南方離位在人應心蟲為羽蟲火不及其名伏明謂亥為水故異於巳也即水得年力便來行勝即暴寒勝間民病於心久及小腸羽蟲乃病勝至甚土來復勝勝之水困腎反病及鱗蟲至五月戊午月火還正徵其氣乃平邪化日失政令矣</p>
<h2>卷之三</h2>
<h3>天元定化紀篇</h3>
<p>夫司天者司之言直也司直而侍於天之直也左右者從直也次於司天也即從司而侍直於天其名間氣即本氣隨天虛而時間令化也是司天之間化之令故名曰間氣故與天相得者或與天不相得者或與天令並化者或勝天令而不化者或先於天令或後於天令或來間早或來間晚或來早而去早或來晚而去晚或來早而去晚或來晚而去早或懼天令而不來或左應而右不應或右應而左不應或左右俱應或左右俱不應或從南正或從北正如此即天令非一故雖預定亦以細窮之定紀天令必化不化故述於後夫天元六氣者即是厥陰少陰太陰少陽陽明太陽即厥陰為巳亥之紀少陰為子午之紀太陰為丑未之紀少陽為寅申之紀陽明為卯酉之紀太陽為辰戌之紀此者是陰陽輪流定紀之數故終而復始也厥陰為木其令為風其性暄其德和其憂摧拉其勝折隕其復飄怒其化三八其蟲毛其臟肝其病掉眩筋拳其色青其味酸其臭臊其養筋其候目其應春其星歲星其動左脅其象青龍其脈弦長其卦震其位寅卯其穀蒼其果李其畜雞其眚隕落其災三宮其神魂其液泣其司巳亥運合丁壬少陰為君火其令熱其性溫其德慈其變鬱蒸其勝大暄其復郁燠其化二七其蟲羽其臟心其病驚悸其色赤其味苦其臭焦其養脈其候舌其應夏其星炅煌似火星赤而小其動當心其象朱雀其脈洪大其卦離其位巳午其穀丹其果杏其畜羊其眚煩熱其災九宮其神呻其液汗其司子午運合戊癸不主運氣君火以名不統五運也太陰為土其令雨其性潤其德緩其變埃昏其勝霖霪其復霏　其化五其蟲　其臟脾其病痞噫黃膽其色黃其味甘其臭香其養肉其候唇其應長夏其星鎮星其動當臍其象句陳其脈緩其卦坤其位辰戌丑未其穀　其果棗其畜牛其眚　昧其災五宮其神噫智其液涎其司丑未運合甲己少陽為相火其令暑其性炎其德猛烈其變沸騰其勝爍石其復流金其化二七其蟲翮其臟包胳其病狂癲其色赤其味苦其臭焦其養血其候舌其應夏其星熒惑其動手心勞宮其象朱雀其脈鉤其卦離其位巳午其穀丹其果杏其畜羊其眚燔KT　其災九宮其神　其液汗其司寅申運合戊癸陽明為金其令燥其性涼其德　其變肅殺其勝凋零其復　隕其化四九其蟲介甲其臟肺其病喘咳鼽嚏其色白其味辛其臭腥其養皮毛其候鼻其應秋其星太白其動右脅其象白虎其脈毛其卦兌其位申酉其穀素其果桃其畜馬其眚霜露其災七宮其神魄其液涕其司卯酉運合乙庚太陽為水其令寒其性涼其德凜其變凜冽其勝　霏其復冰雹其化一六其蟲鱗其臟腎其病委厥其色黑其味鹹其臭腐其養骨其候耳其應冬其星辰星其動臍下其象玄武其脈石其卦坎其位亥子其穀玄其果栗其畜彘其眚霜雪其災一宮其神精志其液唾其司辰戌運合丙辛厥陰所以司於巳亥者何也謂厥陰木也木生於亥故正司於亥也對化於巳也雖有卯為正位木之分謂陽明金對化之所以從所生而順於司也少陰所以司於子午者何也謂少陰為君火君火尊位所以正得南方離位也即正化於午對化於子也太陰所以司於丑未者何也謂太陰為土也土主中宮寄卦於坤坤位西南居未分也即正化於未對化於丑也少陽所以司於寅申者何也謂少陽為相火之位卑於君火也雖有午位君火以居之即火生於寅也故正司於寅對化於申也陽明所以司於卯酉者何也謂陽明為金酉為西方金位即正司於酉對化於卯也太陽所以司於辰戌者何也謂太陽為水水雖有於子位謂君火對化也水乃復於土中即六戊在天門即戌是也六巳在地戶即辰是也故水歸土用正司於戌對化於辰也凡化之令風木為何化三八火熱為何化二七土雨為何化五燥金為何化四九寒水為何化一六此謂五行之數也各有生成之數也即水一火二木三金四土五也此皆五行之生數也其有成數者何也即於本數上各加五是也即水六火七木八金九土十是也土所以無成數者謂土王四季不得正方也又數至十而到行即復歸五也天有九宮不可至十也至九而回也又生成正化以何明之從其本而生從其標而成也以何為標以何為本也正化為本對化為標即厥陰正化於亥風化三本也故生數對司於巳風化八標也故成數少陰正司午熱化二本也故生數對司於子熱化七標也故成數太陰正司於未對司於丑皆雨化五土無成數也故只生數少陽正司於寅火化二本也故生數對司於申火化七標也故成數陽明正司於酉燥化四本也故生數對司於卯燥化九標也故成數太陽正司於戌寒化一本也故生數對司於辰寒化六標也故成數皆以本從生數標從成數正司令化之實對司令化之虛也凡左右者從司也間氣也假令厥陰司天左少陰右太陽也少陰司天左太陰右厥陰也太陰司天左少陽右少陰也少陽司天左陽明右太陰也陽明司天左太陽右少陽也太陽司天左厥陰右陽明也即以前為左後為右也若北正司天即以左在西右在東也若南正司天即以左在東右在西也凡木火金水運皆北正司天只土運南正司天也凡司直之令皆以在泉及運共主一歲也唯左右間氣不然也即左主三氣是初二三也是木君火相火分也此三氣應左是也右主三氣是四五終也是土金水分也此三氣應右也凡間氣有至有不至者何也假令少陽相火司天即左見陽明陽明金也金避火而不至也其相火對化天虛或見水運乃可小至爾除此不至也余即皆至也凡少陰司天即左見太陰也即左主初二三也即太陰土懼初木氣故至而晚也何故也後入二之氣木氣退於位始至也故來晚也今舉此法余皆　之也又左間氣主先右間氣主後也皆與司天相得即至也先後有法於後述若間氣勝於天即至也天勝於間氣間氣不至也其至有時也亦取正對化之法即左間氣隨陽遁於局中取法並與天相得遇直符而至也以何見之爾假令子年少陰司天即左見太陰太陰即土也即土主五宮也即時甲子入五宮即至也又假令丑年太陰司天即左見少陽相火也火主九宮即時甲子輪丑入於離宮即少陽相火至也今舉此二法即余皆　之審詳而用</p>
<h3>觀象應天紀篇</h3>
<p>凡六氣之降升得位氣至觀之有候氣之盛衰逆順吉凶皆在五星形象之變異日月氣候天象預報之皆自司天之氣候占應者也或氣至而星不見或氣未至而先星見或失度而離位或前或後或當大而反小或小暗而卻明盛或見一而見二或氣應而星不應或應見而卻不見或日月之失度或日月之明大或日月之昏暗或與氣候同見或異星之相附或星與月相並而異氣撓之或同月度或犯月角或二星相刑而一星乃小或二星光芒而相射皆主吉凶之兆下合上符應之明顯萬化民病時令並未來之災祥並述此紀假令少陰君火司天上應炅煌之星見而明盛以表君火之在天如不見有巳何故也若非水運太過不見即凶除水太過之年不在天即不見在地地用氣時歲半之後當見若非此二時當見而不見亦作不祥或與五星並見即君失朝政或在金星之旁金星大而明炅煌暗而小主武侯反叛之兆也又炅煌似熒惑而赤即小如熒惑不光芒閃灼本來赤而小明是也若水星或木星相近之者必於相位有欲勃逆之兆也其火土相近之者亦主不臣也故五星不可與炅煌爭光皆主不臣也又炅煌或見二者亦非熒惑相近也其大小相似無別者主未出世之君以此世也又太白或有二見者大小無異相似無分別者兼相近者此一星是太白一星是戈甲星也見之主大決戰也又熒惑或有二見者大小相似無分別者近之不離度此者一星是熒惑一星是亢極星見之必大旱也退之乃澤及辰星或有二見者大小相似無分別者近不離度一星是水星一星名曰霖澤星見之主大雨也其星落而如散者主大雪又歲星或有二見者大小光芒皆相似近不離度一星名曰木星一星名曰強寇星見之草賊大勝也半年應之又鎮星或二見者大小光芒甚相似近不離度一星名曰土星一星名曰鄰域星見之必鄰國侵疆界次二年應之此六氣相佐不祥者也又云太白似老人星者何也即金在天之年見於北方即秋見之甚似太白不相近而遠者見之而秋有涼政而不施肅殺主國家之壽也木在天之年有景星見於東方大如半月而明有光芒見之主明君出世水在天者有賢士星出見似辰星青白光而不芒又小如辰星相去而遠即有賢人在野隱居而不顯名也又火在天有溫癘星見其星四上二下下二星如斗之身至小而赤見之而天下大疫人死之半如見之只春分日用藥吐吐之不患也又火在天之年有天郁星見一大而三小時時有黃赤氣附之見之天下疵疫皆相染易見之用藥於春分前汗之三解也涼上補下而不疾也又木在天者有毛頭星見大而光芒芒之乃長此星不可散落落即次三年化蝗蟲遍天下食農田又金在天之歲太白與尸星相近者尸星似棕星而小小而昏中有白氣附之此伏尸之氣也主殺人百萬流血千裡又熒惑亦不可近尸星即人死多露尸於野又土在天者或在泉之年有稼穡星見似土星而小不同度見之而天下豐登又土在天之年有大星見於南方大而黃白其星光芒閃灼名曰瘴黃星見之數夜或作聲而散落散落而作赤氣後黃色而消來日天無風云天色乃黃日乃昏此名天郁之氣也主天下大疫令人絕門皆死見之可以吐汗之皆不病如人得此病可吐下不可溫補火在天之年月見赤色者初出時見赤以為常月至午未之間不退赤者主大旱又火犯月角者主旱水犯月角者主大雨又日出至辰巳以來無云而昏者君災月望而赤昏後妃災又太白忽赤者次日大風又北斗間有黑氣南沖過河漢至南箕者主大雨又金在天有大星見東北方大而光芒下有小小之星井微有白氣名曰彗星見之主攙搶也木在天之歲星失度乃北游之年至北斗可近玄枵東西左右往來似動搖者主一十二年國破民災兵勝之兆又夜至四更子之後丑之前見東方如日出之象赤氣甚高可遍東方氣散後有二大星出至曉日出猶見見之辰時末伏名曰競星見之主國災民農失業又太白陽年早見東方為啟明陰年夕見西方為太白若不依時度而交者皆主兵亂失政之兆日出東方有白氣如覆船者主大殺凶年民病也日出夕過下晡有云昏淡而不黑欲散而變龍虎之形又如鵝雁之狀有奸賊亂政謀叛也凡星晝見皆主不臣五星失度皆主吉凶木運木司天之歲歲星當見大而明中木運與天符木不及反得金行勝即太白反大而明又與歲星同度歲星乃小太白甚盛至相近者後七年而天下民病病皆風燥二證治之以苦熱佐之以酸平火運火司天之年火得天符木行復勝之熒惑當大反見辰星辰星同度熒惑伏之甚小後三年而天下民病病皆寒熱治之以甘溫佐之以苦熱土運土司天之年土得天符水行勝之歲鎮星當大反見歲星歲星同土度鎮星甚小歲星光芒至近者後八歲而天下民病病皆風濕治以辛涼佐之以甘溫也金運金司天之年金不及火來勝之太白當大反見熒惑熒惑同度太白甚小熒惑光芒至近後六年天下民病病皆煩燥治之以鹹寒佐之以辛涼水運水司天之歲水不及土來行勝辰星當大反見鎮星鎮星同度辰星甚小鎮星光芒相近者後六年而天下民病病皆寒溫治之以酸平佐之以鹹寒所謂病之年皆從本生數而合之可見其年木被金刑即七年也即木三金四共七年也病風燥金木二證當罰金之有餘次全木之不足也火被水刑即三年即水一火二共三年病寒熱水火二證當罰水之勝次全火之不足土被木刑即八年木三土五共八年病風濕者木土二證也當罰木之勝次全土之不足金被火刑即六年火二金四共六年病煩燥者火金二證當罰火之勝次全金之不足水被土刑即六年水一土五共六年病寒濕即水土二證當罰土之有餘次全水之不足凡勝復之歲若星不同度星不相勝即無此證也若但只勝復星不相伏無此病災爾者日照明之大表光景之紀綱群陽之精眾貴之象日大而行光天下和平日出有白光陽無德日暮無光陽見刑也日光曜主有疾日出一竿無光亭亭光色無云民病日未入西二竿亭亭無光者人死日過中半不明主君道缺民人失業日有兩足群雄起日見赤足國急見伐日垂牙夷狄侵兵將用日重耳天子得地黃氣抱日執政之臣內忠日晝日昏不出日大水日正晝而冥晦者陰反臣制君日有黑光不出六十日傷五穀大水日有六耳六十日喪國日旁有赤色如冠耳有持狀有兵則大風起豪雨春日有四耳天子有孫不出三年氣如虎觸日將軍反青龍守日臣下有謀青氣在日下上利出軍青赤氣掩日出必有大戰日旁有赤氣如虎萬人死日無色日中有赤氣大如星如踴躍者人君凶氣廣二尺在日東西其國有憂兵起日上有黑氣如蛟龍伏必大風冬至日日出日入時俱有云迎送者歲民眾疫病其云赤旱白兵黃疫黑大水青大風日有黃暈二重風雨順時豐熟物賤日有白暈不出九十日有暴兵歲多暴病貴人多病日暈青有三重國多風雨不出九十日後妃災冬雷夏雪赤日暈再重其災在下所見國有蝗蟲二百日旱米貴多盜賊小有殘兵日四重四海有兵一年止日暈半重如鼎蓋者欲清和親之國日暈三重諸侯反日暈五重其年飢荒五穀貴日暈十重天下亡地不出五年星墜為土大飢荒流血星墜為沙兵敗國亡星墜為金大兵起星墜為石落處人災白虹霓鎮星散為虹霓白虹出其下流血白虹貫日近臣叛白虹夏生東方麥貴白虹所見之處國殺人白虹繞城不幣從所在攻之勝虹霓西見歲中災婦人虹霓屈旋城上其下流血赤虹從天上直下指之國喪亂虹如屈蛇頭下指處民眾病虹與日同出東方所見凶年虹在日左久不消見之人災太白下有白氣主大兵歲星下有青氣主大風鎮星下有黃氣主大疫辰星下有黑氣主大水熒惑下有赤氣主大旱月生暈中有星主大風月後有黑氣主大雨月有影如小月於上國有爭月暈有二重主風雨月暈有四重主四門國亂失政月暈旁有云如手民眾災月下大三足萬人死月當圓不圓四面白云隨之國後災月兩角有大星民眾災月背後有大星下有小眾星主冰雹有黑氣自月中出次變赤者第三日有黑風月中有白氣出主大雪太白行宿其芒上銳下大進退合度當期而見天下昌太白高小而明明而不芒主太平太白大而光芒主兵甲太白入月中星色分明臣有謀上太白月掩之如蝕者忠臣有受戮死者太白生西月生星北國有兵強星在月南中國兵勝在南方太白與月相逼中間通三指兵兩指城憂太白在鎮星北者失地亡國太白在西方高明早見之主強兵太白在東方出日猶見之主兵戈事太白當見不見凶月旁有眾星有院圍月一幣主國之勝月旁有紫氣繞之後妃有德月圓而明明而大亭亭如不動後妃有德月圓而昏無光明後妃災月見日而猶明君無德</p>
<h2>卷之四</h2>
<h3>天運加臨紀篇</h3>
<p>甲子上正徵少陰君火司天熱行於上對化盛而不實勝而有復運土相得即火生土熱化七從標成數也下臨肺氣上從白氣奉天即長氣之勝大暑流行民病喘咳寒熱鼽嚏鼻窒病本於肺甲蟲災勝之甚也水來復之復至也冷氣反用心臟病生羽蟲乃天夏炎反冷辰星反大炅煌不明甲午上正徵少陰君火司天熱行於上正化盛而實勝而不復熱化二從本生數也長氣盛大暑流行肺氣上起白氣奉天肺病甲蟲災民病熱行於上治之以鹹寒水性水味以伏火熱之勝也勿食苦熱物佐火之王也上見炅煌明盛太白之失色也乙丑上正宮太陰土司天對化盛而不實勝而有復運金天土相生也雨化五下刑腎氣衰黑氣奉天化氣之勝濕氣乃盛腎臟受病久及膀胱鱗蟲夭民病陰痿不起氣大衰而時反腰　痛動轉不便勝之甚也木來復勝大風數舉民病脾胃　蟲災歲星反見鎮星復昏乙未上正宮太陰土司天濕行於上正化盛而實勝而不復雨化五下臨腎臟受病久及膀胱鱗蟲災雨濕之勝民病痿厥脛寒陰痿失弱治之以咸平以木味木性以平土濕之勝鎮星見大辰星失色丙寅上正徵少陽相火司天正化盛而實勝而不復熱化二從本生數也長氣之盛也下臨肺臟受病久及大腸甲蟲災民病熱病行於上皆煩滿郁燠治之以鹹寒水味水性也以伏火熱之盛勿食苦熱物佐火之勝熒惑見大太白乃小丙申上正徵少陽相火司天熱行於上對化盛而不實勝而有復熱化七從標成數也下臨肺氣上從白氣奉天暑流秋政收氣不令肺臟受病甲蟲乃夭民病上熱而咳喘鼽衄勝之至深也水來復勝寒令早羽蟲反病民病心寒熱作肺得水運申金佐之病得半辰星反見熒惑卻昏丁卯上正商陽明金司天燥行於上對化盛而不實勝而有復下臨肝臟病毛蟲災皆不應何故也丁木運運得卯木佐之正月壬寅月丁得壬合得干力又名歲會故得平氣即上陽明不能災之　化九從標成數也太白明盛丁酉上正商陽明金司天燥行於上正化盛而實勝而不復燥化四從本生數也酉為金名曰同天符下臨肝氣上從蒼起奉天淒滄數至木伐草萎民病脅痛目赤掉振鼓栗筋痿不能久立治之以苦熱火味火性可伏金性之疾勿服辛涼物佐金之勝也太白大明歲星還小戊辰上正羽太陽寒水司天寒行於上對化盛而不實勝而有復寒化六從標成數也下臨心臟赤氣上從水冰火氣高明民病心臟羽蟲災勝之甚也雨土來復腎氣反病鱗蟲亦災辰星反暗鎮星復明土之還勝也勝而心藏乃半戊戌上正羽太陽寒水司天正化盛而實勝而不復寒化一從本生數也治之以甘溫即土之性味也勿食鹹寒物佐水之勝也上應辰星之明盛熒惑之失色也其令準前只不復也己巳上正角厥陰司天風行於天對化盛而不實勝而有復風化八從標成數也下臨脾氣上從而土且隆　蟲夭黃氣起水乃眚土用革體重肌肉萎食減口爽風舉太虛云物搖動目轉耳鳴勝甚金乃復之燥乃至白埃起脾乃全　蟲靜太白反見歲星復小己亥上正角厥陰司天風行於天正化盛而實勝而不復風化三從本生數民病風病行於上治之以辛涼金之性味也勿食酸和物佐木之勝也上應歲星光輝且大鎮星暗伏庚午上正徵少陰君火司天熱行於上正化盛而實勝而不復熱化二從本生數也午為南方火又見少陰君火名曰同天符也下臨肺氣上從白氣奉上甲蟲災金用草木眚喘嘔寒熱嚏鼽衄鼻窒大暑流行天勝運運太過佐之於肺甲蟲得氣金災得半炅煌明盛太白亦然庚子上正徵少陰君火司天熱行於上對化盛而不實勝而有復熱化七從標成數也民病熱病行於上大暑流行長氣之勝勝之其水來復之暴冷卒至心乃病羽蟲災反見辰星之大明炅煌復小辛未上正宮太陰土司天濕行於上正化盛而實勝而不復雨化五下臨腎氣上從黑氣奉天鱗蟲災水變埃冒云雨沉陰胸中不利陰痿氣大衰而不起不動當其時反腰　痛動轉不便民病腫濕行於上治之以酸和木之性味也勿食甘溫物佐土之勝也上應鎮星見大辰星不明辛丑上正宮太陰土司天濕行於上對化盛而不實勝而有復雨化五下臨腎臟受病久及膀胱鱗蟲困化氣盛藏氣不令勝之甚木來復風大舉脾乃病　蟲殃鎮星卻小歲星復見壬申上正徵少陽相火司天熱行於上對化盛而不實勝而有復熱化七從標成數也下臨肺氣上從白氣奉上金用草木眚火見燔KT　革金且耗大暑流行金至困水來復即夏令暴冷心乃病羽蟲夭反見熒惑見大而明太白復小壬寅上正徵少陽相火司天熱行於上正化盛而實勝而不復熱化二從本生數也下臨肺臟受病久及大腸甲蟲乃夭民病熱病行於上治之以鹹寒水之性味也勿食苦熱物佐火之勝也熒惑大明太白乃小癸酉上正商陽明金司天燥行於上正化盛而實勝而不復燥化四從本生數也酉為西方金也上見陽明金名曰同天符也民病燥行於上治之以苦熱火之性味也勿食辛涼物佐金之勝也上應太白明耀歲星復明癸卯上正商陽明金司天燥行於上對化盛而不實勝而有復燥化九從標成數也下臨肝氣上行蒼氣奉天毛蟲乃夭木用而立土乃眚淒滄數至木伐草萎脅痛目掉振鼓栗筋委不能久立勝深火來復即夏令炎灼肺乃病甲蟲還災熒惑乃見太白反暗甲戌上正羽太陽寒水司天寒行於上正化盛而實勝而不復寒水一從本生數也下臨心臟受病赤氣上從而火且明丹羽蟲乃疾長氣乃冷收氣乃平臟氣太過民病寒行於上治之以甘溫土之性味也勿食鹹寒物佐水之盛也上應辰星見大熒惑不明甲辰上正羽太陽寒水司天寒行於上對化盛而不實勝而有復寒化六從標成數也下臨心臟受病赤氣奉上羽蟲乃殃金乃眚寒淒時舉勝則水冰火氣高明心熱煩滿嗌干善渴鼽嚏喜悲數欠熱氣上行寒乃復之霜不時降善忘心痛勝甚即土來復復至而雨濕沉陰腎復病鱗蟲亦然鎮星乃小辰星反伏乙亥上正角厥陰司天風行於上正化盛而實勝而不復風化三從本生數也生氣乃盛化氣不令臟氣自平脾臟病　蟲傷民病風病行於上治之以辛涼金之性味也勿食酸和物佐木之盛也歲星明盛鎮星暗小乙巳上正角厥陰司天風行於上對化盛而不實勝而有復風化八從標成數也生氣乃化盛氣弗令臟氣自平　蟲災傷脾腹滿填噫勝至深金來勝之名曰復勝　勁至草木萎霜露降民病腹　滿治之苦熱罰金之勝佐之以辛涼金之不足太白反大歲星復小丙子上正徵少陰君火司天熱行於上對化盛而不實勝而有復熱化七從標成數也熱氣下臨肺氣上從白氣奉天金用甲蟲災草木眚喘嘔寒熱嚏鼽衄鼻窒大暑流行金之災得其半何故也運水太過勝於天天令減半水更不復上應炅煌明大丙午上正徵少陰君火司天熱行於上正化盛而實勝而不復熱化二從本生數也午為南方火少陰君火名曰同天符也運雖水一水不能勝二火故異於丙子也長氣盛收氣衰臟氣正肺臟病甲蟲災民病熱病行於上治之鹹寒水之性味也可伏火熱之疾勿食苦熱物佐火之盛也熒惑大太白小丁丑上正宮太陰雨土司天濕行於上對化盛而不實勝而有復濕化五濕氣下臨腎臟受病上從黑氣奉天水變埃冒云雨胸中不利陰萎氣大衰而不起不用當其反腰　痛濕勝久風木來復化令失政　蟲乃殃脾腹病鎮星反暗歲星復明丁未上正宮太陰雨土司天濕行於上正化盛而實勝而不復濕化五木運平氣上刑天令減半化氣雖勝生氣自平臟氣微鱗蟲不災腎病少半民病腫濕於上治之以酸佐之以平勿食甘溫鎮星明大戊寅上正徵少陽相火司天熱行於上正化盛而實勝而不復暑化二從本生數也火熱大化中戊火運太過上與天符合德下臨肺氣受病甲蟲乃死久肺病者亡民病上熱而煩滿久及大腸便血血溢長氣炎令收氣失政生氣自正治之以鹹寒用水之性味滅火盛也勿食苦熱物佐火之王熒惑明盛太白失色戊申上正徵少陽相火司天熱行於上對化盛而不實勝而有復熱化七從標成數也火氣下臨肺氣上從白氣奉天金用草木眚火見燔KT　革金且耗大暑以作民病喘咳甲蟲還夭勝之雖甚金得年力申金佐之水還來復熱盛而終為冷心反病羽蟲復災熒惑反小己卯上正商陽明金司天燥行於上對化盛而不實勝而有復金與運土雖相得子午火位為逆燥化九從標成數也下臨肝氣上從蒼氣奉天木用而立毛蟲災土乃眚淒滄數至木伐草萎民病脅痛目赤筋痿勝雖甚木得年力卯木佐之不至衰次火來復燥中還暑肺復困甲蟲還災太白反暗熒惑復明己酉上正商陽明金司天燥行於上正化盛而實勝而不復酉為金名曰同天符也二金相合土運相得燥化四從本生數也生氣乃失木乃萎肝臟病久及膽毛蟲困收氣盛肅殺早至木蒼落民病燥病行於上治之以苦熱火之性味也太白明盛歲星失色庚辰上正羽太陽寒水司天寒行於上對化盛而不實勝而有復寒化六從標成數也下臨心氣上從而火且奉上金乃眚寒淒時舉則水冰火氣高明病還於心久及小腸羽蟲滅勝之甚土雨來復埃濕令云雨至腎生疾及鱗蟲辰星不見鎮星復明庚戌上正羽太陽寒水司天寒行於上正化盛而實勝而不復寒化一從本生數也臟氣凜冽長氣冷間收氣自正民病寒行於上脘治之以甘溫土之性味也勿用鹹寒不可佐水之勝辰星見大熒惑不明辛巳上正角厥陰木司天風行於上對化盛而不實勝而有復風化八從標成數也下臨脾氣上從而土且隆黃氣起水眚土用革體重肌肉萎食減口爽風布太虛云物搖動目轉耳鳴勝深也金乃布令白埃四起肝復病毛蟲反害歲星復昏太白還盛辛亥上正角厥陰木司天風行於上正化盛而實勝而不復風化三從本生數也生氣自令草木乃榮化氣乃虧雨濕不令藏氣自正民病於脾　蟲困風病行於上治之以辛涼金之性味勿食酸不可佐木王歲星光芒鎮星不明也壬午上正徵少陰君火司天熱行於上正化盛而實勝而不復熱化二從本生數也長氣令炎收氣失令生氣自正肺臟疾生久及大腸甲蟲災民病熱於上治之以鹹寒水伏火熱勿食苦熱不佐心王炅煌熠熠太白失色壬子上正徵少陰君火司天熱行於上對化盛而不實勝而有復熱令下臨肺氣上從白氣奉上金用草木眚甲蟲災勝至深水來復復至早夏有冷至心還病篤羽蟲乃困辰星再明炅煌不見癸未上正宮太陰土司天濕行於上正化盛而實勝而不復雨化五雨勝化氣令正臟氣不凜長氣自令腎臟受病鱗蟲災民病腫濕於上治之以酸和以木性木味可平土勝鎮星光芒辰曜不見癸丑上正宮太陰土司天濕行於上對化盛而不實勝而有復雨化五下臨腎氣上從黑氣起水變冰埃冒云雨胸中不利鱗蟲夭腎氣虛衰者死勝至久木來風勝大風時舉　蟲困脾反病歲星明大鎮星明而復小甲申上正徵少陽相火司天熱行於上對化盛而不實勝而有復熱化七從標成數也下臨肺臟氣上從白氣上起奉天甲蟲殃金用草眚火見燔KT　革金且耗大暑正令水復反冷冷至心病羽蟲災辰星見大熒惑復小甲寅上正徵少陽相火司天熱行於上正化盛而實勝而不復熱化二從本生數也長氣炎灼收氣不　生氣自令甲蟲夭肺臟病久及大腸民病熱行上脘治之以鹹寒水味水性以伏火熱之勝勿食苦熱物佐火之王熒惑星大太白失色乙酉上正商陽明金司天燥行於上正化盛而實勝而不復燥化四從本生數也生氣不化收氣太過化氣自正下臨肝臟受病久及於膽毛蟲乃夭民病燥行於上治之以苦熱火性火味勿食辛涼物佐金之勝也中見金運運與天合德名曰太一天符三合會也酉金也運金也司天金也太白明盛歲星乃小乙卯上正商陽明金司天燥行於上對化盛而不實勝而有復燥化九從標成數也下臨肝氣上行蒼氣奉天木用而立土乃眚淒滄數至木伐草痿脅痛目赤掉振鼓栗筋痿不能久立毛蟲災勝至深火來復之熱化秋正肅殺不至燥令不時肺乃病甲蟲反災熒惑見大太白還小丙戌上正羽太陽寒水司天寒行於上正化盛而實勝而不復寒化一從本生數運丙水太過與天合德曰天符臟氣化凜長氣失令收氣自正下臨心臟受病久及小腸羽蟲乃死民病寒病於上治之以甘溫土性土味勿食鹹寒物佐水之勝也辰星見大熒惑不明丙辰上正羽太陽寒水司天寒行於上對化盛而不實勝而有復寒化六從標成數也下臨心臟上從而火赤之氣奉上金乃眚水寒自勝於長氣羽蟲死心久病者亡勝之甚也土雨至土困化氣埃濕還生霖雨至腎病生鱗蟲反瘁鎮星明辰曜伏即謂天符復乃減半也丁亥上正角厥陰本司天風行於上正化盛而實勝而不復風化三從本生數也化氣不令化氣有餘草木乃榮臟氣自正脾臟受病蟲災民病風病行於上治之以辛涼金味金性可伏木之勝也勿食酸物佐木之王運與天同曰天符之歲歲星大而明鎮星昏且小丁巳上正角厥陰木司天風行於上對化盛而不實勝而有復風化八從標成數也下臨脾氣上從而　埃奉上水乃眚肌肉萎食減口味風舉太虛云物動搖目轉耳鳴　蟲困勝深也燥金至至而白埃可翳太虛木葉未黃而凋落肝反病生毛蟲災歲星還小太白復明不是天符其災至甚戊子上正徵少陰君火司天熱行於上對化盛而不實勝而有復熱化七從標成數也戊火運得天符下臨肺氣上從白氣奉天木乃眚火見燔KT　金且太耗肺病甲蟲災勝之非久水復勝來發暴冷夏令滅炎政而時虧心病作羽蟲亡反見辰星於五更熒惑小沉於夕晚又過天符勝之亦小戊午上正徵少陰君火司天熱行於上運戊火年午火少陰火名曰太一天符三合會正化盛而實勝更甚終無復熱化二從本生數也長氣炎灼收氣猶熱生氣自正羽蟲化甲蟲災肺氣宿病者死民病行於上熱煩渴不止治之以鹹寒水味水性可伏火熱之勝勿食苦熱物佐心之勝也熒惑炅煌二見太白伏己丑上正宮太陰土司天濕行於上對化盛而不實勝而有復雨化五下臨腎氣上從黑氣奉天水變埃冒云雨令施濕氣勝寒氣衰腎病鱗蟲災勝之次木變風來塵飛太虛埃昏卒起脾病於民　蟲還夭歲星夕見於東方鎮曜欲曉見小謂巳土作天符其災減之少半己未上正宮太陰土司天濕行於上正化盛而實勝而不復巳合天符土雨化五化氣濕熱臟氣反溫長氣自正鱗蟲災腎臟病民病腫濕於上治之以酸平木性木味以平土力鎮星大而閃閃辰星而不睹庚寅上正徵少陽相火司天熱行於上正化盛而實勝而不復熱化二從本生數也長氣炎令收氣失令生氣自正肺臟病甲蟲災民病上熱煩滿治之以鹹寒以水伏火熒惑夕見而灼灼太白五更為啟明庚申上正徵少陽相火司天熱行於上對化盛而不實勝而有復熱化七從標成數也下臨腎氣上從黑氣奉上金用草木眚炎令時布大暑流金肺病甲蟲災秋正猶熱熱甚寒水來刑暴冷卒至心生寒熱羽蟲夭失辰星早見熒惑晚昏運得庚肺危不死雖困不至傷也辛卯上正商陽明金司天燥行於上對化盛而不實勝而有復燥化九從標成數也下臨肝臟氣上蒼氣奉天土乃眚燥氣頻施肝臟病毛蟲災勝之甚火熱布炎肺臟還病甲蟲又衰熒惑乃見太白失色辛酉上正商陽明金司天燥行於上正化盛而實勝而不復燥化四從本生數也收氣力清燥生氣不令草木晚榮化氣自正酉為金名曰同天符肝臟病毛蟲災民病燥病行於上治之以苦熱火味火性以伏金勝太白大盛歲星夕見而小壬辰上正羽太陽寒水司天寒行於上對化盛而不實勝而有復寒化六從標成數也下臨心臟赤氣奉上金且眚寒　淒時舉則大冰火氣高明心臟病羽蟲災勝甚則雨土來復溽暑埃濕霖雨至腎反病鱗蟲困辰星不見鎮星還大而明壬戌上正羽太陽寒水司天寒行於上正化盛而實勝而不復寒化一從本生數也臟氣化凜長氣不令收氣自正下臨心臟受病羽蟲災民病寒病行於上治之以甘溫用土性土味以伏寒之勝勿食鹹寒物佐水之勝也辰星大明熒惑乃暗癸巳上正角厥陰木風司天風行於上對化盛而不實勝而有復風化八從標成數也下臨脾氣上從　黃奉上土且隆水乃眚肌體重內痿脾病　蟲災勝欲深金燥至肅殺生木凋零肝反病毛蟲災歲星反小太白大明癸亥上正角厥陰木風司天風行於上正化盛而實勝而不復風化三從本生數也生氣乃盛草木早榮化氣不令臟氣自正脾臟受病　蟲災民病風病行於上治之以辛涼用金性金味以伏風木之勝勿食酸物佐木之勝也歲星明盛鎮星不明矣</p>
<h2>卷之五</h2>
<h3>占候氣運紀篇</h3>
<p>夫運者動也即周流回復運動也於升沉之中太虛之內上下相招氣臨運轉之候也自太始開辟天地於升降二氣之中有轉輪回復之氣皆稟五行故曰五運也即土運於甲巳之間金運於乙庚之間木運於丁壬之間火運於戊癸之間水運於丙辛之間此十干之內五氣周流名曰運氣即於第二甲之間於司天在泉之內故名曰三元三元共合方始運動於是三才四時六氣萬化生成悉由之耳故或承天令而不化或刑地化而不生或被天臨而運不應或被地承而氣不專或太過而自勝或不及而反受他刑或自虧而卻還平位是故天令應化地產生成四時易正萬化枯榮悉由之耳故嘉祥與凶兆來可見之太平與禍亂亦可先知不稔與豐登亦乃由之民病災眚亦可驗也故來之有日視之有時觀之有法亦從方位占其　法視之時辰不可容易而見也須審詳日數自有加減生成進退之數也亦須潔淨齋戒方可視之勿示非人也其　法自大唐麟德元年甲子歲正月一日巳酉朔婁金狗先下積年乃減其一次七因之次十九除一名閏數次十二乘之乘後卻加入閏數後加入本月數次下位別張之乃去其一半次出卻閏數又虛去其五行次以上位進之一位後三因之次出下位之數名去小盡也後加月下令日看得幾何次六十去之去之不盡乃百乘之又八十七去之去之不盡者乃加入運數太過如成數不及加生數看得幾何如陽年逢偶數即加一陰年逢奇數即減一其數是當日日下刻中之數也</p>
<p><u>太過運二十四法</u></p>
<p>諸運來有日氣運至有時刻故太過來早十三日不及來晚十三日平氣運與司天同日天刑運與司天後五日地刑運與司天後六日　數自有時刻並　法也一甲子甲土運太過子陽年　數加六故也以子為坎其數一土運無成數即數五也五一共成六也是　時刻中加六刻也運交時面向寅望先有青氣見見畢次有黃氣自甲橫流至子乃終其氣深明別無間色以表上氣之盛也二甲午甲土運太過午陽年　數加十四何故也午為離其數九土數五共成十四也故加十四刻運交時面向寅望先有青黃氣見見畢次有黃氣自甲橫流至午乃終其氣色深行疾應時別無他色即吉以表土氣之盛也三甲戌甲土運太過戌陽年　數加十何故也戌為土其數五土運數五二五共成十也故加十刻運交時面向寅望先有青氣見見畢次有黃氣自甲橫流至戌乃終行疾其色深應時即吉反之者凶四甲辰甲土運太過辰陽年　數加十刻何故也辰為土其數五運為土其數五二五成十也故加十刻運交時面向寅望先有青氣見見畢次有黃氣自甲橫流至辰乃終氣深行疾應時刻不往別位皆吉五甲申甲土運太過申陽年　數加七刻何謂也申為坤其數二土運其數五二五共成七也故加七刻運交時面向寅望先有青氣見見畢次有黃氣自甲橫流至申乃終其色應時不移行疾不往他處皆吉六甲寅甲土運太過寅陽年　數加十三何謂也寅為艮其數八土運其數五八五共成十三也即加十三刻運交時面向寅望先有青氣見見畢次有黃氣出不橫流上衝天寅甲同象故不橫流不移時氣久不消吉七丙子丙水運太過子陽年　數加七刻何故也子為坎其數一水運太過從成其數六一六共成七也即加七刻運交時面向巳望丙寄巳位故也先有赤氣見見畢次有黑氣自丙至子乃終氣色深行疾來應時不移位吉八丙午丙水運太過午陽年　數加十五刻何謂也午為離其數九水運太過從成其數六六九共成十五也故加十五刻運交時面向巳望先有赤氣見見畢次有黑氣從巳至午皆黑色色獨見不移時不犯別位吉九丙戌丙水運太過戌陽年　數加十一何故也戌為土其數五水太過從成其數六五六共成十一也故加十一刻運交時面向巳望先有赤氣見見畢次有黑氣自丙至戌乃終氣色深行疾不犯他色即吉十丙辰丙水運太過辰陽年　數加十一何故也辰為土其數五水運太過從成其數六五六共成十一也故加十一刻運交時面向巳望先有赤氣見見畢次有黑氣自丙至辰乃終黑色應來順時不犯別位吉十一丙申丙水運太過申陽年　數加八何故也申為坤其數二水運太過從成其數六二六共成八也故加八刻運交時面向巳望先有赤氣見見畢次有黑氣從丙至申乃終氣色深行疾來應時不犯他位吉十二丙寅丙水運太過寅陽年　數加十四何故也寅為艮其數八水運太過從成其數六八六共成十四也即加十四刻運交時面向巳望先有赤氣見見畢次有黑氣自丙至寅乃終其色深行疾來不失時位即吉十三戊子戊火運太過子陽年　數加八何故也子為坎其數一火太過從成其數七七一共成八也故加八刻運交時面向巳望即丙戊俱在巳也先有黃氣見見畢次有赤氣自戊至子乃終其色深其行疾來順時不移位吉十四戊午戊火運太過午陽年　數加十六何故也午為離其數九火運太過從成其數七七九共成十六也故加十六刻運交時面向巳望先有黃氣見見畢次有赤氣自戊至午乃終其色深其行疾應時歸本位吉十五戊申戊火運太過申陽年　數加九何故也申為坤其數二火運太過從成其數七二七共成九也故加九刻運交時面向巳望先有黃氣見見畢次有赤氣自戊至申乃終氣色深行疾不移位應時吉十六戊寅戊火運太過寅陽年　數加十五何故也寅為艮其數八火運太過從成其數七七八共成十五也故加十五刻運交時面向巳望先有黃氣見見畢次有赤氣自戊至寅乃終其色深其行疾應時不移位吉十七庚戌庚金運太過戌陽年　數加十四何故也戌為土其數五金運太過從成其數九五共成十四也故加十四刻運交時面向申望只有白氣自庚至戌乃終無別色應時不犯他位吉十八庚辰庚金運太過辰陽年　數加十四何故也辰為土其數五庚金運太過從成其數九五九共成十四也故加十四刻運交時面向申望只有白氣自庚至辰乃終其色深其行疾應時不失位吉十九壬子壬本運太過子陽年　數加九何故也子為坎其數一木運太過從成其數八八一共成九也故加九刻運交時面向亥望壬木寄亥先有黑氣次有青氣從亥至子乃終其色深行疾不往他位吉二十壬午壬木運太過午陽年　數加十七何故也午為離其數九木運太過從成其數八八九共成十七也故加十七刻運交時面向亥望先有黑氣見見畢次有青氣自壬至午乃終其色深其行疾應時不移位吉二十一壬戌壬木運太過戌陽年　數加十三何故也戌為土其數五木太過其數八八五共成十三也故加十三刻運交時面向亥望先有黑氣見見畢次有青氣自壬至戌乃終其色深其行疾應時不移位吉二十二壬辰壬木運太過辰陽年　數加十三何故也辰為土其數五木運太過其數八八五共成十三也加十三刻運交時面向亥望先有黑氣見見畢次有青氣自壬至辰乃終其色深其行疾應時不移位吉二十三壬申壬木運太過申陽年　數加十何故也申為坤其數二木運太過從成其數八二八共成十也故加十刻運交時面向亥望先有黑氣見見畢次有青氣自壬至申乃終其色深其行疾應時不移位吉二十四壬寅壬木運太過寅陽年　數加十六何故也寅為艮其數八木運太過從成其數八八八共成十六也故加十六刻運交時面向亥望先有黑氣見見畢次有青氣自壬至寅乃終其色深其行疾應時來不犯他位順也</p>
<h2>卷之六</h2>
<h3>天罰有餘紀篇</h3>
<p>天刑運六法共陽年三十年數即運當太過而司天刻之故當盛而不得盛也故非太過又非不及也故無災害亦無勝復此非陰年故也一庚子庚金運太過子陽年　數加五何故也子為坎其數一庚金運陽年當太過也為上見少陰君火司天下刑金運火伏金盛不得有餘故非太過也其數從生故只加四一四共成五也故加五刻運交時面向申望庚本寄申只有白氣自庚至子乃終終有天見赤氣來刑於金氣即金不能傷於木此非陰年亦非太過故曰天刑運也二庚午庚金運當太過午陽年　數加十三何故也午為離其數九庚金運當太過為上見少陰君火司天下刑金運火伏金盛不得有餘故非太過其數從生其數四四九共成十三也故加十三刻運交時面向申只有白氣自庚至午乃終終有天赤氣下刑伏金之氣不得太過亦非陽非陰年也三庚寅庚金運當太過寅陽年　數加十二何故也寅為艮其數八庚金運當太過為上見少陽相火司天火伏金盛下刑不得有餘故非太過也其數從生其數四四八共成十二也故加十二刻運交時面向申望只有白氣自庚至寅乃終終有天赤氣下刑金運不得太過其氣不能傷木也四庚申庚金運當太過申陽年　數加六何故也申為坤其數二庚金運當太過上見少陽相火司天下刑金火伏金盛不得有餘從其生數其數四四二共成六也故加六刻運交時面向申望只有白氣自庚直起更不橫流庚本在申故氣直起次天有赤氣來刑故太過亦非陰年其氣不得傷木也五戊戌戊火運當太過戌陽年　數加七何故也戌為土其數五戊火運當太過為上見太陽寒水司天下刑火運不得有餘故從生數其數二二五共成七也故加七刻運交時面向巳望先有黃氣見次有赤氣橫流自戊至戌乃終終有黑氣在天下刑火氣故非太過也六戊辰戊火運當太過辰陽年　數加七何故也辰為土其數五戊火運當太過為上見太陽寒水司天下刑火運水伏其火盛不得有餘故非太過從其生數其數二二五共成七也故加七刻運交時面向巳望先有黃氣見次有赤氣自戊至辰乃終終有天黑氣來刑伏其火運不得傷金故非太過亦非陰年</p>
<h3>陰虧平正紀篇</h3>
<p>不及運一十七法此陰年也一乙丑金運不及丑陰年　數減九何故也丑為土其數五乙金運不及不及從生其數四五四共成九也故減九刻陰年法減也此不及年運交時面向辰乙本寄辰先有綠氣見乙之色也見畢次有白氣自乙橫流至丑乃終其色澹其行遲或有赤氣並至或後有赤氣來表火行勝次後有黑氣至表水行復也二乙未乙金運不及未陰年　數減九何故也未為土其數五乙金運不及從生數其數四四五共成九也故減九刻也運交時面向辰望先有綠氣見見畢次有白氣自乙至未乃終或赤氣並來即知其勝甚赤氣後來其勝微黑氣次來大即復甚來小即復微三乙亥乙金運不及亥陰年　數減十何故也亥為乾其數六乙金運不及從生數其數四四六共成十故減十刻也運交時面向辰望先有綠氣見見畢次有白氣自乙至辰乃終其色澹其行遲赤氣並來其勝甚後來即其勝微次黑氣來大即復大來小即復小四乙巳乙金運不及巳陰年　數減八何故也巳為巽其數四乙金運不及從生數其數四四四共成八故減八刻也運交時面向辰望先有綠氣見見畢次有白氣自乙至巳乃終其色澹其行遲赤氣並來其勝深後來其勝微黑氣來大即復大來小即復小五丁丑丁木運不及丑陰年　數減八何故也丑為土其數五丁木運不及從生數其數三三五共成八也故減八刻運交時面向未望丁本寄未先有紅氣見見畢次有青氣自丁至丑乃終終有白氣並來金勝即甚白氣後來其勝即微次後有赤氣至來大即火復大來小即火復小早得遲復也六丁未丁木運不及未陰年　數減八何故也未為土其數五丁木運不及後生數其數三三五共成八故減八刻運交時面向未望先有紅氣見見畢次有青氣上起不橫流至未丁本在未故不橫流也如白氣並見金勝即甚次見者其勝微次後有赤氣來大即火復大來小即火復小也七丁酉丁木運不及酉陰年　數減十何故也酉為兌其數七木運不及其數三三七共成十故減十刻運交時面向未望先有紅氣見見畢次有青氣自丁橫流至酉乃終其色澹其行遲白氣並來金勝即甚次來其勝即小赤氣次後來大即火復大來小即火復小也八己卯己土運不及卯陰年　數減八何故也卯為震其數三己土運其數五土無成數只五也三五共成八故減八刻也運交時面向未己亦寄未先有紫氣見見畢次有黃氣自巳橫流至卯乃終青氣並來木勝即甚後來木勝即微次後有白氣來大即金復大來小即金復小也九己酉己土運不及酉陰年　數減十二何故也酉為兌其數七己土運不及其數五七五共成十二故減十二刻也運交時面向未望先有紫氣見見畢次有黃氣自己橫流至酉乃終青氣並來木勝即甚後來木勝即小次後有白氣來大金復即大來小金復即小十己巳己土運不及巳陰年　數減九何故也巳為巽其數四己土運不及其數五四五共成九故減九刻運交時面向未望先有紫氣見見畢次有黃氣自己橫流至巳乃終青氣並來木勝即甚後來木勝即小次後有白氣來大金復即大來小金復即小十一己亥己土運不及亥陰年　數減十一何故也亥為乾其數六己土運不及其數五五六共成十一故減十一刻運交時面向未望先有紫氣見見畢次有黃氣自己橫流至亥乃終青氣並來木勝即甚後來木勝即小次後白氣來大其金即復大來小即金復小十二辛卯辛水運不及卯陰年　數減四何故也卯為震其數三水運不及從生數其數一一三共成四故減四刻也運交時面向戌辛本寄戌先有溫白色見如褐色也見畢次有黑氣自辛橫流至卯乃終黃氣並來其土勝即甚後來土勝即微次後青氣來大木復即大青氣來小木復即小十三辛酉辛水運不及酉陰年　數減八何故也酉為兌其數七水運不及其數一一七共成八故減八刻也運交時面向戌望先有溫白色見見畢次有黑色自辛橫流至酉乃終黃氣並來土勝即甚後來土勝即微次後有青氣來大木復即大來小木復即小十四辛巳辛水運不及巳陰年　數減五何故也巳為巽其數四辛水運不及其數一一四共成五故減五刻運交時面向戌望先有溫白色見見畢次有黑氣自辛橫流至巳乃終黃氣並來其土勝即大後來土勝即微次後青氣來大木復即大來小木復即小十五辛亥辛水運不及亥陰年　數減七何故也亥為乾其數六辛水運不及其數一一六共成七故減七刻運交時面向戌望先有溫白色見見畢次有黑氣自辛橫流至亥乃終黃氣並來土勝即甚後來土勝即微次後有青氣來大木復即大來小木復即小十六癸丑癸火運不及丑陰年　數減七何故也丑為土其數五癸火運不及其數二二五共成七也故減七刻運交時面向丑望癸本寄丑也先有碧氣見見畢次有赤氣直起沖天癸丑一家故不橫流也其色澹黑氣並見水勝即甚後來水勝即微次後黃氣來大土復即大來小土復即小也十七癸未癸火運不及未陰年　數減七何故也未為土其數五癸火運不及其數二二五共成七故減七刻也運交時面向丑望先有碧氣見見畢次有赤氣自癸橫流至未其色澹其行遲黑氣並來水勝乃甚後來水勝即微次後有黃氣來大土復即大來小土復即小平氣運一十六法即一十三也（於四歲會中有三去同天符故十三也）</p>
<p>一己未己土運為陰當不及未陰年即上遇太陰土司天合其德故曰天符也符合己土運氣正故無邪克曰平氣也氣來日與司天同日也　數未為土減五己得加平氣加五一加一減故非不及亦非太過也運交時面向未己本寄未也先有紫氣見見畢次有黃氣上起沖天天亦有黃氣相接故得天氣同別無他色間吉二己丑己土運當不及丑陰年上遇太陰土司天氣合德曰天符也　數丑減五土運加五運交時面向未望先有紫氣見見畢次有黃氣自己橫流至丑天有黃氣相合別無他色間吉三乙酉乙金運當不及酉陰年上遇陽明金司天又同歲會也酉亦是金也　數酉減七金運加七運交時面向辰望先有綠氣見見畢次有白氣自乙橫流至酉天有白氣相合別無他間吉四乙卯乙金運當不及卯陰年上遇陽明金司天名曰天符合德也　數卯為震減三乙金運加七運交時面向辰望先有綠氣見見畢次有白氣自乙橫流至卯天有白氣相合別無他間吉五丁亥丁木運當不及亥陰年上遇厥陰木司天氣合德曰天符也　數亥為乾減六丁木運加八運交時面向未望先有紅氣見見畢次有青氣自丁橫流至亥天有赤氣相合別無他間吉六丁巳丁木運當不及巳陰年上遇厥陰木司天氣合德曰天符也　數巳減四丁木運加八運交時面向未望先有紅氣見見畢次有青氣自丁橫流至巳天有赤氣相合別無他間吉（以上六皆天符平氣也）</p>
<p>七癸巳癸火運當不及巳陰年下遇少陽相火在泉下得司地合德名曰同歲會也　數巳減四癸火運加七運交時面向丑望先有碧氣見見畢次有赤氣自癸橫流至巳地有赤氣相合別無他色相間吉八癸亥癸火運當不及亥陰年下遇少陽相火在泉下得司地合德曰同歲會也　數亥減六癸火運加七也運交時面向丑望先有碧氣見見畢次有赤氣自癸橫流至亥地有赤氣相合別無他間吉九辛丑辛水運當不及丑陰年下遇太陽寒水在泉下得水司地合德故曰同歲會也　數丑減五水運加六運交時面向戌望先有溫白色見次有黑氣自辛橫流至丑地有黑氣相合無他間吉十辛未辛水運當不及未陰年下遇太陽寒水在泉下得水司地合德曰同歲會也　數未減五辛水運加六運交時面向戌望先有溫白色見見畢次有黑氣自辛橫流至未地有黑氣相合別無他色間吉十一癸卯癸火運當不及卯陰年下遇少陰君火在泉下得火司地合德曰同歲會也　數卯減三癸火運加七運交時面向丑望先有碧氣見見畢次有赤氣自癸橫流至卯地有赤氣相合無他色間吉十二癸酉癸火運當不及酉陰年下遇少陰君火在泉下得火司地合德曰同歲會也　數酉減七癸火運加七運交時面向丑望先有碧氣見見畢次有赤氣自癸橫流至酉地有赤氣相合別無他間吉十三丁卯丁木運當不及卯陰年卯亦為木卯木相合故得正歲會也卯減三丁木運加八運交時面向未望先有紅氣見見畢次有青氣自丁橫流至卯卯上別有青氣相迎故名歲會也歲會有四今說此一別有三故與天符同也是乙酉己未己丑此三年也故平氣十六數實居十三年也</p>
<h2>卷之七</h2>
<h3>運臨超接紀篇</h3>
<p>脫臨運二十法脫臨者是六十甲子中有支干不相臨者此是大凶年也不必每遇此年皆脫臨也或百余年間或遇一次此即天下民農皆失業荒荒然也言二十法者於六十年中四十年也自太古至今常臨不脫也有守支十二年常臨不脫一甲寅二乙卯三戊午四己未五庚申六辛酉七丙午八丁未九壬子十癸丑十一戊戌十二己巳此十二年守支常臨不脫也次有天符十二年常臨也一戊子二戊午（同守支）三戊寅四戊申五丙戌六丙辰七己丑八己未（同守支犯守支年）九乙卯（同守支）十乙酉十一丁巳十二丁亥此十二天符年中三年同守支只九年實數也次有十二地合亦常臨不脫也一庚子二庚午三辛丑四辛未五壬寅六壬申七癸酉八癸未九甲辰十甲戌十一癸巳十二癸亥此十二年地合常臨不脫也次有十直符亦常臨不脫也一壬辰二壬戌三丙午（同守支）四丙子五丙寅六丙申七辛卯八辛酉（同守支）九乙未（同守支又同天符）十己丑（同天符）此十年內五年同上以上四十六年內八年同只得三十八年有甲子為元首亦常臨又有丁卯歲會亦不脫又二年計得四十年常不脫臨內只有二十年脫臨也一乙丑運交時面向辰望只有綠氣見其白氣出而復沒運不至丑此是乙不臨丑也此是大凶年也二戊辰　數同太過運交時面向巳望先有黃氣見其赤氣見而復沒或不見此是戊不臨辰也即天干不臨地支也三乙亥　數同陰年運交時面向辰望先有綠氣見其白氣見而復沒不來至亥是乙不臨亥也四丁丑　數同陰年運交時面向未望先有紅氣見其青氣見而復沒不來至丑是丁不臨丑也五己卯　數依陰年運交時面向未望先有紫氣見其黃氣見而復沒不來臨卯是己不臨卯也六庚辰　數依陽年運交時面向申望先有白氣見而復沒不至於辰是庚不臨辰也七辛巳　數依陰年運交時面向戌望先有溫白色見其黑氣見而復沒是辛不臨巳也八壬午　數依陽年運交時面向亥望先有黑氣見其青氣見而復沒不來至午是壬不臨午也九癸未　數依陰年運交時面向酉望先有碧氣見其赤氣見而復沒不來至未是癸不臨未也十甲申　數依陽年運交時面向寅望先有青氣見其黃氣見而復沒不來至申是甲不臨申也十一庚寅　數依陽年運交時面向申望先有白氣見其氣見而復沒不來至寅是庚不臨寅也十二辛卯　數依陰年運交時面向戌望先有溫白色見其黑氣見而復沒不來至卯是辛不臨卯也十三甲午　數依陽年運交時面向寅望先有青氣見其黃氣見而復沒不來至午此是甲不臨午也十四乙未　數依陰年運交時面向辰望先有綠氣見其白氣見而復沒不來至未是乙不臨未也十五丁酉　數依陰年運交時面向未望先有紅氣見其青氣見而復沒不來至酉是丁不臨酉也十六己亥　數依陰年運交時面向未望先有紫氣見其黃氣見而復沒不來至亥是己不臨亥也十七乙巳　數依陰年運交時面向辰望先有綠氣見其白氣見而復沒不來至巳是乙不臨巳也十八己酉　數依陰年運交時面向未望先有紫氣見其黃氣見而復沒不來至酉是己不臨酉也十九庚戌　數依陽年運交時面向申望先有白氣見而復沒不來至戌是庚不臨戌也二十辛亥　數依陰年運交時面向戌望先有溫白色見其黑氣見而復沒不來至亥是辛不臨亥也以上皆為脫臨不必常年如是只見運氣不至是天干不臨地支皆主凶年也</p>
<h3>運通災化紀篇</h3>
<p><u>地刑運一十二法</u></p>
<p>（即六陰年六陽年）</p>
<p>一壬子壬木運子陽年運交時數前以明即木運之下下遇陽明在泉金來刑木即白埃四起上承木運罰氣衰少即地力少於天令也二壬午壬木運午陽年氣運交時數依前至氣過後下有陽明金頻頻見白氣於山谷每見刑克於木氣木氣微小勝之不過故地勝於運也三癸丑火運不及年運氣交時數依前說下遇太陽寒水在泉運氣過後每見黑氣頻起遠視暝黯上刑火運其氣不足熱化失令四癸未火運不及氣運交時數一依前法運氣過後地水來刑黑氣從地上勝火運其氣不足熱化之令衰而失半五甲寅土運運如太過　數時後氣一體運過後下見厥陰木在泉時舉蒼埃四起遠視林木如煙還碧如此地氣頻彰土化雨濕還須失令六甲申與甲寅對化亦下逢厥陰木在泉克土運雨濕之化一如甲寅同令七乙卯金運不及其數減氣候如前至運氣過後下逢少陰君火在泉熱蒸於地赤氣上騰來刑金運如是　燥之令皆虧反生熱化此地運變也八乙酉金運依前下遇少陰君火在泉上刑金運　燥令虧反生熱令一如乙卯九丙辰水運下逢太陰土在泉運令氣候來依太過過後有黃郁之氣四遠埃昏土來克水如是即寒令反溫冬行微雨十丙戌水運下逢太陰土在泉運氣　法來時一準前法土氣在下上克寒化一如丙辰之令也十一乙巳乙金運氣運觀法時候同前法運過後下逢少陽相火在泉熱行於地地氣以蒸焰明郊野如是即金運失正反成火化十二乙亥乙金運來法觀法一如前說依前下遇相火火勝金運反生熱令於六陽年勝少六陰年勝甚</p>
<p><u>間刑運十法</u></p>
<p>一乙巳中金運　數依陰年運交時以見白氣並赤氣同來即知火勝之氣也其又見赤氣次來者是左間氣少陰君火次刑金之不及也二癸巳　數依陰年運交時以見黑氣並赤氣來即知水來行勝其次有黑氣至者是太陽水為右間氣也三丙子　數依陽年陽年之氣無別色只但見先丙午赤氣見畢次有黑氣自丙至子今有黃氣自至者是對化天虛左太陰土氣來間也間氣雖間司天亦來間運也有刑即至也四甲子　數依陽年運交時以見黃氣自甲至子也今有青氣次來者是左間氣厥陰木來刑木運也土南正故木在左也五乙卯　數同陰年運交時先見白氣中赤氣並至即知火來勝金其次有赤氣至者是右間氣相火之氣也六癸卯　數依陰年運交時先見赤氣中有黑氣並至即知水來勝火也其次有黑氣至者是左間太陽水之氣也七乙丑　數依陰年運交時先見赤氣與白氣並至即知火來勝金也其次有赤氣至者是左間氣相火來刑金也八者更有君火為右間氣左間即右間不來右間即左間不來故別立一年故名一數為八也九壬申　數依陽年運交時如陰年有白氣後至者此是陽明左間氣刑木運也十丙申　數依陽年運交時黑氣過後有黃氣如陰年者此是右間氣太陰土來刑水運也</p>
<p><u>客刑運五法</u></p>
<p>一木運不及金行勝後次有客氣至者即居氣也乃名小間氣也觀時其氣旁來氣色雖小橫穿過其運即是客氣其氣有勝不來無勝即至是小白氣穿過木運也二火運不及水勝氣同來又有太陽來居即有黑氣橫穿火氣是也二土運不及木氣並來有厥陰來居青氣橫穿土氣是也四金運不及火氣並來又有相火來居有赤氣橫穿白氣是也君火亦然為午五水運不及有黃氣並來又有太陰來居有黃氣穿黑氣是也</p>
<p><u>天符勝運六法</u></p>
<p>（前於平氣中有六天符是陰年中遇者與此六勝天符別也）</p>
<p>一戊子火運太過　數依陽年其赤氣自戊至子其氣相鮮明天有赤氣合上與少陰君火合德言勝天符者自勝也乃刑金令也二戊午亦然火運太過　數依陽年其赤氣自戊至午天有赤氣相合上與少陰君火合德其氣合時若天無云翳皆主吉祥故名勝也三戊寅火運太過上與少陽相火共勝不同君火之善也火太盛即萬物焦枯流金爍石波水沸騰甲蟲乃夭民病喘嗽四戊申火運太過上與少陽相火共勝勝至即甚金乃失正致困終無水復以表自勝也亢極即萬物焦枯太白乃小五丙戌水運太過上遇太陽寒水司天天運二氣相合如是即夏令反冷冬行凜冽寒　數作陽光不治致甚即土不來復以表勝也熒惑失色羽蟲乃夭六丙辰水運太過上與太陽寒水合令二氣合德客氣相佐冰雹卒至冷風逼人地氣凜天氣凝人氣收致冽切土不來復赤氣彤云盡皆不見</p>
<p><u>太乙天符運四法</u></p>
<p>（即天地運三合會也）</p>
<p>一戊午上少陰君火司天中火運太過年午屬南方離位火故名太一天符三合會也　數加十六午為離其數九火運太過其數七七九共成十六也運交時面向午望赤氣光輝天有赤氣相合此運下必生貴人也二乙酉上陽明金司天中金運不及天符乃平酉為西方兌應金故名三合會也　數標年減七運加七運交時面向辰望白氣自乙至酉天有白氣相合其運下當時生人主生名將也三己未上太陰土司天中土運不及天符乃平年未為坤土　數加五減五運交時自己至未黃氣光輝天有黃氣相合其運下主生名相也四己丑上太陰土司天中土運不及天符乃平年丑中宮土故名三合會也　數加五減五運交時自己至丑黃氣光輝天有黃氣相合其運下主生宰相（此四太一天符主生貴人也）</p>
<p><u>同天符四法</u></p>
<p>少陰司天於子午午年同天符一也陽明司天於卯酉酉年同天符二也太陰司天於丑未丑未俱同天符四也運氣如觀法四歲會於前平氣中巳明同此</p>
<p><u>同歲會運十二法</u></p>
<p>一庚子金運下見陽明金在泉地舉白氣以佐金運之勝也二庚午金運下見陽明金在泉地舉白氣以佐金運之勝也三癸丑水運下見太陽水在泉地發黑氣以佐水運之勝也四癸未水運下見太陽水在泉地發黑氣以佐水運之勝也五壬寅木運下見厥陰木在泉地發蒼埃以佐木運之勝也六壬申木運下見厥陰木在泉地發蒼埃以佐木運之勝也七癸卯火運下見少陰君火在泉地發赤氣以佐火運之勝也八癸酉火運下見少陰君火在泉地發赤氣以佐火運之勝也九甲辰土運下見太陰土在泉地發黃埃以佐土運之勝也十甲戌土運下見太陰土在泉地發黃埃以佐土運之勝也十一癸巳火運下見少陽相火在泉地蒸赤氣夜明郊野以佐火運之勝也十二癸亥火運下見少陽相火在泉地蒸赤氣夜明郊野郊外見火以佐火運之勝也</p>
<p><u>天郁運五法</u></p>
<p>一木運之歲上見金司天天克之運不勝次歲陰年司天已退運木未交木伏郁氣化作青氣災臨世間使民卒中暴亡也二火運之歲上見水司天天伏之運不勝次歲陰年運氣交晚天氣已退火伏郁氣衝散世間與民為病民皆煩燥驚駭小便赤瘡瘍瘭疹三土運之歲上見厥陰木司天天伏之運不勝次歲陰年天氣已退運氣未交土伏郁氣衝散世間與民成病民病腫滿黃膽腹大水脹滑泄四肢不收四金運之歲上見君相二火司天天伏之運不勝次歲陰年天氣已退運氣未交金伏郁氣流散世間與民為病民病四肢滿閉填脹筋攣淋溲小便難燥生上脘目瞑喜怒面白悲思五水運之歲上見太陰土司天天伏之運不勝天氣退後運氣未交水伏郁氣流散於世與民為病民病痿厥氣閉心通泄注速下食不及化小腹滿痛</p>
<p><u>天殺運五法</u></p>
<p>一木運太過其運來早其氣有餘上見陽明金司天天氣未退天金克之木不伏乃變雷聲與民為病故名天殺民病痼疾皆動草木早榮天有寒霜復來殺之民煩燥閉滿渴飲狂言也二火運太過其運來早其氣有餘上見太陽水司天天氣未退天水克之火不伏乃化暴暄水有水雹故名天殺與民為病皆卒亡寒熱往來心腹痞滿嗌干膈咽不通三土運太過土氣來早其氣有餘上見厥陰木司天天氣未退天木克之土不伏乃化霧翳埃昏細雨微微後有大風摧拉故名天殺與民為病肢滿腫濕黃膽水腫不食四金運太過金氣來早其氣有餘上見君火或相火司天天氣下克金氣不伏乃化松簧發籟虎嘯猿啼風聲颼響故名天殺與民為病病皆煩燥齒　咽渴飲水毛焦喘嗽五水運太過水氣來早其氣有餘上見太陰土司天天氣未退下克水水不伏乃化雨雪相合況陰不散故名天殺與民為病乃骨痿足脛酸陰痿失溺四肢閉厥手足肢節痛小腹滿也</p>
<h3>災祥應綸紀篇</h3>
<p>太平運一法於五運太過之年觀如前法於運本位旁邊令有五色如虹霓兩旁有耳又有日耳運過後久而不消者一見主三十年太平升平運一法升平運者以帝家得王之運也以火即火以水即水也各逐太過之年本運色旁亦如虹霓久而不消者見之而民豐樂業帝道昌隆即其氣小如太平運也天兵運一法天兵運者於五運中不論太過與不及各有之於運過後令有白氣如練次有云相附者其云亦白云之狀如同野狼虎者見之時主次年兵戈大動天亢運一法天亢運者於金太過之歲有之或木不及金行勝之歲或金運上見天符之歲不離燥化金勝之年也又或土不勝之年多見此運也運過後白氣散而為赤赤白相間之者見之主亢旱也天澤運一法天澤運者多於土太過之運或水不及土行勝之年或土共天符之年多見之土太過之年黃氣見勝水之年黃黑中見其氣青黑細如毛又如馬尾者見之皆水澇之災也攙搶運一法攙搶運者於五運中取帝家得王之運也其運過即別有白氣犯運於白氣中氣有小赤點子如火星子次有云相附其云之狀如同蛇蟲此主不臣也明君運一法明君之運於帝家本運太過見之其運大而明旁有紫氣相附者是也又或如紫蓋或如紫人或如五色龍見此者帝道昌隆也聖人運一法聖人乃天地之所產也一千年後生一聖人也於太一天符歲或天符歲或運與天合其色後令有赤氣輝天天氣復煥山谷於是山岩穀穴之內生出聖人也賢人運一法賢人者五百年生一賢人也非天地所生也於天符歲或天運順臨歲運氣過後各逐分野不定其處有白氣上衝霄漢其氣　然瑩潔氣下多生賢人也天蝗運一法於天運相刑之運不於相得之歲不俱太過與不及也於運中如黃塊其塊不散蝗蟲見之不為災其塊若散散如碎星遍散即甚多散處為分野飢荒運一法五運相刑克之運運過後後有云或黃或黑或云遮其運其云如鬼神又如鵝鴨或如覆船見之皆不稔也天疫運一法天疫者於諸運中皆有其氣至或不見運而氣便來小災即為瘟黃氣也大災即於黃氣中暈暈紫赤色如環相似大小不等散之如小電蚯蚓搖搖曲曲而動紫赤相間於黃氣之中見之人死大半也豐登運一法豐登運者於不及運中其澹而反深又不勝氣不相並或太過運五色皆間黃氣氣過後有云如人或如鳳或如鶴見之皆豐稔也嘉祥運一法嘉祥運者太過不及皆有之於本運外或紫或赤皆如芝草又如山山上有樹見亦主太平國家樂業民安豐稔真應運一法真應運者主將有聖明君出見應於未來之天子其運於太過運中見其五色不定應木見木應火見火也見之其色大左右有從色皆同一色是數條小氣隨之也每一條之氣是一帝也即小氣是子孫之氣也</p>
<h2>卷之八</h2>
<h3>南正順司紀篇</h3>
<p><u>南正司天十二法</u></p>
<p>（南正司天自干順行於支次用支數加於生成數也）</p>
<p>一甲子土運南正司天天面向北左西直右東直上正徵君火在天天氣順轉自甲至子順遷十一位子坎數一火成數七至天時於天數前八刻正也至後十一日火始治天始行天令也治天後五日太宮來和赤氣在上熱行於天青霞見夕黃云發旦此侍直從司天之色也二甲午土運南正司天天面向北左西直右東直上太徵君火在天天氣順轉自甲至午順行五位午為離其數九火生數二九二成十一也至天時於天數前十一刻至也至後五日火始治天始行天令治天後五日太宮與太徵來和赤氣上見青霞夕彰黃氣旦發此天道順候吉也三己丑土運南正司天天面向北左西直右東直上正宮太陰土在天天氣順轉自己至丑左遷七位丑為土其數五土不成數亦五二五成十至天時於天數後十刻至也至後七日土始治天少宮與上正宮同和始化天令黃氣在上濕行於天赤氣紅云朝夕頻見此左右從司之正也四己未土運南正司天天面向北左西直右東直上正宮太陰土司天天氣順轉己本在未更不左遷未為土其數五運土其數五二五成十也至天時於天數後十刻至也當日土治天便行天令至天後一十八日少宮與正宮會同黃氣在上濕行於天朝夕赤氣共直天令也五甲戌土運南正司天天面向北左西直右東直上太羽太陽寒水司天天氣順轉自甲至戌左遷九位戌為土其數五運土其數五二五成十也至天時於天數前十刻至也至後九日水始治天太宮來刑太羽羽無虧氣不和黑氣在上寒行於天朝見黃氣夕有黃霞終還紫紫變黑色也此順化之候也六甲辰土運南正司天天面向北左西直右東直上太羽太陽寒水司天天順左遷自甲至辰左遷三位也辰土其數五運亦五二五成十也至天時於天數前十刻至也至後三日水始治天始行天令也至後五日太宮來刑太羽羽不虧黑氣在上寒行於天黃氣上騰每刑天令也七己亥土運南正司天天面向北左西直右東直上正角厥陰木司天天氣左遷自己至亥左遷五位也亥為乾其數六土運其數五五六成十一至天時於天數後十一刻至也至後五日木始治天始化天令後一十八日少宮來伏正角蒼氣在上風行於天朝升黑氣於東暮見紅霞斑斑間碧此天共司之色也八己巳土運南正司天天面向北左西直右東直上正角厥陰木司天天順左遷自巳至巳左遷十一位也巳為巽其數四土數五四五成九至天時於天數後九刻至也至後十一日木始治天始化天令後一十八少宮來伏正角青氣在上風行於天朝東見黑夕西見赤二直從司之候也九甲申土運南正司天天面向北左西直右東直上太徵少陽相火司天天順左遷自甲至申左遷七位也申為坤其數二土數五二五成七也至天時於天數前七刻至也至後七日相火始治天始行天令後五日太宮來和太徵赤氣在上熱行於天朝有白埃夕生黃氣左右二直之候也十甲寅土運南正司天天面向北左西直右東直上太徵少陽相火司天天氣左遷甲木在寅更無遷動寅為艮其數八土數五八五成十三也至天時於天數前十三刻至也當日相火治天便行天令後五日太宮來和太徵赤氣在上熱行於天白氣東彰黃云西舉順天應化於下十一己酉土運南正司天天面向北左西直右東直正商陽明金司天天順轉自巳至酉左遷三位也酉為兌其數七土數五七五成十二也至天時於天數後十二刻至也至後三日金始治天始化天令後一十八日少宮來和正商白氣在上燥行於天朝有彤云夕生黑氣此左右二直同司之候也十二己卯土運南正司天天面向北左西直右東直上正商陽明金司天天順行自巳至卯左遷九位也卯為震其數三土數五三五成八也至天時於天數後八刻至也至後九日金始治天始化天令白氣在上燥行於天朝生赤氣暮有黑云順天之候也</p>
<h3>北正右遷紀篇</h3>
<p><u>北正司天四十八法</u></p>
<p>（北正司天逆行自干至支右遷逆數次加生成數也）</p>
<p>一乙丑金運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷自乙至丑右遷四位也丑為土其數五金不及從生其數四四五共成九也至天時於天數後九刻至也至後四日土始治天始化天令後一十七日少商來和正宮黃氣在上濕行於天東見赤氣西見赤色左右二火從司之候二乙未金運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷自乙至未右遷十位也未為土其數五金不及從生其數四五四成九也至天時於天數後九刻至也至後十日土始治天始化天令也後一十七日少商來和上宮黃氣在上濕行於天東西赤氣見於朝夕此從司二直也三丙寅水運北正司天天面向南左東直右西直上太徵少陽相火司天天氣右遷自丙至寅右遷四位也寅為艮其數八水太過從成其數六八六成十四也至天時於天數前十四刻至也至後四日火始治天始行天令後六日太羽來刑太徵赤氣在上熱行於天寒乃行之赤氣東彰黃云夕見此從司二直也四丙申水運北正司天天面向南左東直右西直上太徵少陽相火司天天氣右遷自丙至申右遷十位也申為坤其數二水太過從成其數六二六成八也至天時於天數前八刻至也至後十日火乃治天始行天令後六日太羽來刑太徵赤氣在上熱行於天寒每勝之五丁卯木運北正司天天面向南左東直右西直上正商陽明金司天天氣右遷自丁至卯右遷五位也卯為震其數三木運不及從生其數三二三成六至天時於天數後六刻至也至後五日金始治天始行天令後一十六日少角來伏正商白氣在上燥行於天東見黑云西生赤氣此二直之色也六丁酉木運北正司天天面向南左東直右西直上正商陽明金司天天氣右遷自丁至酉右遷十一位也酉為兌其數七木不及從生其數三三七成十至天時於天數後十刻至也至後十一日金始治天始行天令後十六日少角來伏正商也白氣在上燥行於天朝見黑氣夕舉紅云東西二直也七戊戌火運北正司天天面向南左東直右西直上太羽太陽寒水司天天氣右遷自戊至戌右遷八位也戌為土其數五火太過從成其數七五七成十二至天時於天數前十二刻至也至後八日水始治天始行天令後七日太徵來伏太羽黑氣在上寒行於天東生青霞西彰白氣東西二直之候也八戊辰火運北正司天天面向南左東直右西直上太羽太陽寒水司天天氣右遷自戊至辰右遷二位也辰為土其數五火太過從成其數七七五成十二至天時於天數前十二刻至也至後二日水始治天始行天令後七日太徵來伏太羽黑氣在上寒行於天東見青氣西有白埃二直之候也九庚午金運北正司天天面向南左東直右西直上太徵少陰君火司天天氣右遷自庚至午右遷三位也午為離其數九金太過從成其數九二九一十八也至天時於天數前一十八刻至也至後三日火始治天始行天令後九日太商來伏太徵赤氣在上熱行於天東有黃云西生青氣東西二直也十庚子金運北正司天天面向南左東直右西直上正徵少陰君火司天天氣右遷自庚至子右遷九位也子為坎其數一金太過從成其數九一九成十也至天時於天數前十刻至也至後九日火始治天始行天令後九日太商來伏正徵也赤氣在上熱行於天東有黃氣西有青霞東西二直也十一辛丑水運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷自辛至丑右遷十位也丑為土其數五水不及從生其數一一五成六也至天時於天數後六刻至也至後十日土始治天始行天令也後十四日少羽來伏正宮也黃氣在上濕行於天東有赤云西生赤氣此二直之候也十二辛未水運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷自辛至未右遷四位也未為土其數五水不及從生其數一一五成六也至天時於天數後六刻至也至後四日土始治天始行天令後十四日少羽來伏正宮也黃氣在上濕行於天東西二直頻生赤氣也十三壬申木運北正司天天面向南左東直右西直上正徵少陽相火司天天氣右遷自壬至申右遷四位也申為坤其數二木太過從成其數八二八成十也至天時於天數前十刻至也至後四日火始治天始行天令後八日太角來和正徵也赤氣在上熱行於天東起白埃西生黃氣二直之候也十四壬寅木運北正司天天面向南左東直右西直上太徵少陽相火司天天氣右遷自壬至寅右遷十位也寅為艮其數八木太過從成其數八二八十六也至天時於天數前十六刻至也至後十日火始治天始行天令也後八日太角來和太徵赤氣在上熱行於天東生白埃西彰黃氣二直之候應色也十五癸卯火運北正司天天面向南左東直右西直上正商陽明金司天天氣右遷自癸至卯右遷十一位也卯為震其數三火不及從生其數二二三成五也至天時於天數後五刻至也至後十一日金始治天始行天令後十五日少徵來刑正商白氣在上燥行於天東有黑云西生赤氣二直之候也十六癸酉火運北正司天天面向南左東直右西直上正商陽明金司天天氣右遷自癸至酉右遷五位也酉為兌其數七火不及從生其數二二七成九也至天時於天數後九刻至也至後五日金始治天始行天令也後十五日少徵來刑正商白氣在上燥行於天東生黑氣西舉赤云二直之候也十七乙亥金運北正司天天面向南左東直右西直上太角厥陰木司天天氣右遷自乙至亥右遷六位也亥為乾其數六金不及從生其數四四六成十也至天時於天數後十刻至也至後六日木始治天始行天令後十七日少商來刑太角青氣在上風行於天東生赤氣西有黑埃此二直之候也十八乙巳金運北正司天天面向南左東直右西直上正角厥陰木司天天氣右遷自乙至巳右遷十二位也巳為巽其數四金不及從生其數四二四成八也至天時於天數後八刻至也至後十二日木始治天始行天令也後十七日少商來刑正角青氣在上風行於天東有赤暉西生黑氣二直之候也十九丙子水運北正司天天面向南左東直右西直上正徵少陰君火司天天氣右遷自丙至子右遷六位也子為坎其數一水太過後成其數六六一成七也至天時於天數前七刻至也至後六日火始治天始行天令也後六日太羽來刑正徵赤氣在天熱行於上東有黃暉西生青氣二直之候也二十丙午水運北正司天天面向南左東直右西直上正徵少陰君火司天天氣右遷自丙至午右遷十二位也午為離其數九水太過從成其數六六九成十五也至天時於天數前十五刻至也至後十二日火始治天始行天令也後六日太羽來刑正徵熱行於天赤氣在上東生黃氣西有黑云二直之候也二十一丁未木運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷丁本在未更不移位也未為土其數五木不及從成其數三三五成八也至天時於天數後八刻至也當日土便治天始行天令也後一十六日少角來刑正宮黃氣在上濕行於天東西二直皆彰赤氣二十二丁丑木運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷自丁至丑右遷七位也丑為土其數五木不及從生其數三三五成八也至天時於天數後八刻至也至後七日土始治天始行天令後一十六日少角來刑正宮黃氣在上濕行於天東西二候俱為赤氣二十三戊寅火運北正司天天面向南左東直右西直上太徵少陽相火司天天氣右遷自戊至寅右遷四位也寅為艮其數八火太過從成其數七七八成十五也至天時於天數前十五刻至也至後四日火始治天始行天令後七日正徵來同太徵赤氣在上熱行於天東生白氣西有黃云二直之候也二十四戊申火運北正司天天面向南左東直右西直上正徵少陽相火司天天氣右遷自戊至申右遷十位也申為坤其數二火太過從成其數七二七成九也至天時於天數前九刻至也至後十日火始治天始行天令也赤氣在上熱行於天東生白氣西有黃云此二直之候也二十五庚戌金運北正司天天面向南左東直右西直上太羽太陽水司天天氣右遷自庚至戌右遷十一位也戌為土其數五金太過從成其數九九五成十四也至天時於天數前十四刻至也至後十一日水始治天始行天令也後九日太商來和太羽黑氣在上寒行於天東起青霞西彰白氣二直之候也二十六庚辰金運北正司天天面向南左東直右西直上正羽太陽水司天天氣右遷自庚至辰右遷五位也辰為土其數五金太過從成其數九五九成十四也至天時於天數前十四刻至也至後五日水始治天始行天令也後九日太商來和正羽黑氣在天寒行於上東有青霞西生白氣二直之候也二十七辛巳水運北正司天天面向南左東直右西直上正角厥陰木司天天氣右遷自辛至巳右遷六位也巳為巽其數四水不及從生其數一四一成五至天時於天數後五刻至也至後六日木始治天始行天令也後十四日少羽來和正角青氣在上風行於天東生赤氣西有黑氣二直之候也二十八辛亥水運北正司天天面向南左東直右西直上太角厥陰木司天天氣右遷自辛至亥右遷十二位也亥為乾其數六水不及從生其數一一六成七也至天時於天數後七刻至也至後十二日木始治天始行天令後十四日少羽來和太角青氣在上風行於天東赤西黑二直之候也二十九壬子木運北正司天天面向南左東直右西直上正徵少陰君火司天天氣右遷自壬至子右遷十二位也子為坎其數一木太過從成其數八八一成九也至天時於天數前九刻至也至後十二日火始治天始行天令也後八日太角來和正徵赤氣在上熱行於天東有黃云西生青氣二直之候也三十壬午木運北正司天天面向南左東直右西直上太徵少陰君火司天天氣右遷自壬至午右遷六位也午為離其數九木太過從成其數八八九成十七也至天時於天數前十七刻至也至後六日火始治天始行天令也後八日太角來和太徵赤氣在天熱行於天東有黃埃西生碧氣二直之候也三十一癸未火運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷自癸至未右遷七位也未為土其數五火不及從生其數二二五成七也至天時於天數後七刻至也至後七日土始治天始行天令也後十五日少徵來和正宮黃氣在上濕行於天東西見其赤氣此二直之候也三十二癸丑火運北正司天天面向南左東直右西直上正宮太陰土司天天氣右遷癸本在丑更無遷動也丑為土其數五火不及從生其數二二五成七也至天時於天數後七刻至也至後當日土便治天始行天令也後十五日少徵來和正宮也黃氣在上濕行於天東西赤氣左右二直之候也三十三乙卯金運北正司天天面向南左東直右西直上正商陽明金司天天氣右遷自乙至卯右遷二位也卯為震其數三金不及從生其數四四三成七也至天時於天數後七刻至也至後二日金始治天始行天令也後十七日少商來與正商同也白氣在上燥行於天東生黑氣西有紅霞二直之候也三十四乙酉金運北正司天天面向南左東直右西直上太商陽明金司天天氣右遷自乙至酉右遷八位也酉為兌其數七金不及從生其數四四七成十一也至天時於天數後十一刻至也至後八日金始治天始行天令也後十七日少商來同正商也白氣在上燥行於天東見黑氣西有紅霞二直之候也三十五丙戌水運北正司天天面向南左東直右西直上太羽太陽水司天天氣右遷自丙至戌右遷八位也戌為土其數五水太過從成其數六六五成十一也至天時於天數後十一刻至也至後八日水始治天始行天令也後六日正羽來和太羽也黑氣在上寒行於天東有青霞西生白氣此二直之候也三十六丙辰水運北正司天天面向南左東直右西直上正羽太陽水司天天氣右遷自丙至辰右遷二位也辰為土其數五水太過從成其數六五六成十一也至天時於天數後十一刻至也至後二日水始治天始行天令也後六日太羽來同正羽也黑氣在上寒行於天東有青霞西生白氣此二直之候也三十七丁巳木運北正司天天面向南左東直右西直上正角厥陰木司天天氣右遷自丁至巳右遷三位也巳為巽其數四木不及從生其數三四三成七也至天時於天數後七刻至也至後三日木始治天始行天令也後三日少角來同正角也青氣在上風行於天東有赤暉西生黑氣此二直之候也三十八丁亥木運北正司天天面向南左東直右西直上正角厥陰木司天天氣右遷自丁至亥右遷九位也亥為乾其數六木不及從生其數三三六成九也至天時於天數後九刻至也至後九日木始治天始行天令也後十六日少角來同正角青氣在上風行於天東生赤氣西有黑云二直之候也三十九戊子火運北正司天天面向南左東直右西直上正徵少陰君火司天天氣右遷自戊至子右遷六位也子為坎其數一火太過從成其數七一七成八也至天時於天數前八刻至也至後六日火始治天始行天令也後七日太徵來同正徵赤氣在上熱行於天東有黃埃西生碧氣二直之候也四十戊午火運北正司天天面向南左東直右西直太徵少陰君火司天天氣右遷自戊至午右遷十二位也午為離其數九火太過從成其數七七九成十六也至天時於天數前十六刻至也至後十二日火始治天始行天令也後七日正徵來同太徵也赤氣在上熱行於天東有黃氣西有青霞二直之候也四十一庚寅金運北正司天天面向南左東直右西直上太徵少陽相火司天天氣右遷自庚至寅右遷七位也寅為艮其數八金太過從成其數九九八成十七也至天時於天數前十七刻至也至後七日火始治天始行天令也後九日太商來伏太徵赤氣在上熱行於天東生白埃西生黃氣此二直之候也四十二庚申金運北正司天天面向南左東直右西直上正徵少陽相火司天天氣右遷庚本在申更無遷動也申為坤其數二金太過從成其數九二九成十一也至天時於天數前十一刻至也至後當日火乃治天始行天令也後九日太商來伏正徵赤氣在上熱行於天東生白埃西生黃氣二直之候也四十三辛卯水運北正司天天面向南左東直右西直上正商陽明金司天天氣右遷自辛至卯右遷八位也卯為震其數三水不及從生其數一一三成四也至天時於天數後四刻至也至後八日金始治天始行天令也後十四日少羽來和正商也白氣在上燥行於天東有黑氣西見赤云此二直之候也四十四辛酉水運北正司天天面向南左東直右西直上太商陽明金司天天氣右遷自辛至酉右遷二位也酉為兌其數七水不及後生其數一一七成八也至天時於天數後八刻至也至後二日金始治天始行天令也後十四日少羽來和太商白氣在上燥行於天東有黑氣西有赤云此二直之候也四十五壬辰木運北正司天天面向南左東直右西直上正羽太陽水司天天氣右遷自壬至辰右遷八位也辰為土其數五木太過從成其數八八五成十三也至天時於天數前十三刻至也至後八日木始治天始行天令也後八日太角來和正羽黑氣在上寒行於天東有青氣西有白埃此二直之候也四十六壬戌木運北正司天天面向南左東直右西直上太羽太陽水司天天氣右遷自壬至戌右遷二位也戌為土其數五木太過從成其數八八五成十三也至天時於天數前十三刻至也至後二日水始治天始行天令也後八日太角來和太羽也黑氣在上寒行於天東生青氣西有白埃二直之候也四十七癸巳火運北正司天天面向南左東直右西直上正角厥陰木司天天氣右遷自癸至巳右遷九位也巳為巽其數四火不及從生其數二二四成六也至天時於天數後六刻至也至後九日木始治天始行天令也後十五日少徵來和正角也青氣在上風行於天東有赤氣西有昏埃二直之候也四十八癸亥火運北正司天天面向南左東直右西直上太角厥陰木司天天氣右遷自癸至亥右遷三位也亥為乾其數六火不及從生其數二二六共成八也至天時於天數後八刻至也至後三日木始治天始行天令也後十五日少徵來和太角也青氣在上風行於天東有赤氣西有黑埃此二直之候也</p>
<h2>卷之九</h2>
<h3>司天配輪紀篇</h3>
<p><u>運勝司天六法</u></p>
<p>一丙子少陰君火司天熱行於上中見水運太過黑氣衝天上勝天火不行炎令二丙午少陰君火司天熱行於上中見水運太過黑氣衝天上勝天火不行炎化三丙寅少陽相火司天熱行於上中見水運太過黑氣衝天上勝天火暑熱炎令皆失其化四丙申少陽相火司天熱行於上也中見水運太過黑氣衝天上勝天火不行炎化五甲戌太陽水司天寒行於上也中見土運太過黃埃四起上克天水寒乃化濕六甲辰太陽水司天寒行於上也中見土運太過黃埃四起上克天水寒乃不化反生濕令</p>
<p><u>六運承司天六法</u></p>
<p>一乙亥厥陰木司天風行於上也中見金運白氣承之金運刑木風化失令言運承者為運不及即不如太過也即承之減其半令也二乙巳厥陰木司天風行於上也中見金運白氣承之風化失令也三癸酉陽明金司天燥行於上也中見火運赤氣承之燥令減半也四癸卯陽明金司天燥行於上也中見火運承之赤氣上行燥失其令五丁未太陰土司天濕行於上也中見木運青氣承之濕令還風六丁丑太陰土司天濕行於上也中見木運青氣承之濕令間風直符司天十二法夫直者是與天同也符者合也是干合司天之名也一丙午少陰君火司天其丙者南方火干也干與天同遠視太虛遙遙赤氣上接天涯別無間令與天同德也二丙子少陰君火司天丙為南方火干也干與天同遙升赤氣遠接天涯三乙亥厥陰木司天乙為東方木位木干與天水合德蒼氣如煙遙依林木四乙巳厥陰木司天乙為東方木干與天合德上與天同間氣還小五己未太陰土司天己為中央土干上與天同黃起於維天氣得之小佐也六己丑太陰土司天己為中央土干與天合德小佐於天七辛酉陽明金司天辛為西方金干與天合德小佐於間行小令也八辛卯陽明金司天辛為西方金干與天合德與金同佐九壬戌太陽水司天壬為北方水干與天合上同天化小佐於天十壬辰太陽水司天壬為北方水干與天合德上與天同小佐天令十一丙寅少陽相火司天丙為南方火干與天同小佐天令十二丙申少陽相火司天丙為南方火干與天合德小佐於天</p>
<p><u>運合司天十二法</u></p>
<p>一丁亥厥陰木司天中見木運與天合德青氣上同風化同令天運相佐氣化令同上中相得二丁巳厥陰木司天中見木運與天合德青氣上同風化同令天運相佐氣化令實上中無克三戊子少陰君火司天中見火運與天合德赤氣上同熱化同令天運相佐化令乃實四戊午少陰君火司天中見火運與天合德赤氣上同熱化同令天運相佐令化同一五乙酉陽明金司天中見金運與天合德白氣上同燥行同一六乙卯陽明金司天中見金運與天合德白氣上同燥化令合七己未太陰土司天中見土運與天合德黃氣上同濕化共令八己丑太陰土司天中見土運與天合德黃氣上同與天同令雨濕令化同一九丙戌太陽水司天中見水運與天合德黑氣上同寒化共令十丙辰太陽水司天中見水運與天合德黑氣上同寒化共令十一戊寅少陽相火司天中見火運與天合德赤氣奉上熱化運同也十二戊申少陽相火司天中見火運與天合德赤氣上同熱化其令也</p>
<p><u>臨下司天十二法</u></p>
<p>一己亥厥陰木司天中見土運木在上下臨土運乃虧運衰天勝青氣下臨風化勝雨二己巳厥陰木司天中見土運木在上下臨土運天克之木氣下臨青氣刑黃風化勝雨三庚子少陰君火司天中見金運火在上下臨金運乃衰赤氣之下金氣不榮熱勝燥令四庚午少陰君火司天中見金運火在上下臨金氣伏天赤氣下勝金乃不勝熱化燥衰五辛未太陰土司天中見水運土在上下臨水運寒化失令黃氣勝寒六辛丑太陰土司天中見水運土在上下臨水運水氣失令黃氣之下黑氣全收七庚申少陽相火司天中見金運火在上下臨燥金失令赤氣之下白埃不彰八庚寅少陽相火司天中見金運火在上下臨燥氣肅殺不施炎炎赤氣金令乃虧九丁酉陽明金司天中見木運金在上下臨風化燥生白氣木令還衰十丁卯陽明金司天中見木運金在上下臨風化金令燥行白氣之下木令乃虧十一戊戌太陽水司天中見火運水在上下臨火運炎令不時黑氣之下火化無施十二戊辰太陽水司天水行於上下臨火運熱化失時寒化在天暑令全虧</p>
<p><u>順化司天十二法</u></p>
<p>一癸亥上厥陰木司天中見火運即木生於火父臨子位故順也木氣之下火運奉天二癸巳上厥陰木司天中見火運即木生於火父臨子位故順也木氣之下火運奉天三甲子上少陰君火司天中見土運即火生土父臨子位順也火氣之下土運奉天四甲午上少陰君火司天中見土運即火生土父臨子位順也火運之下土運奉天五乙丑上太陰土司天中見金運即土生金也父臨子位順也土氣之下金運奉天六乙未上太陰土司天中見金運即土生金也父臨子位順也土氣之下金運奉天七甲寅上少陽相火司天中見土運即火生土父臨子位順也火氣之下土運奉天八甲申上少陽相火司天中見土運即火生土父臨子位順也即火氣之下土運奉天九辛酉上陽明金司天中見水運即金生水父臨子位順也即金氣之下水運奉天十辛卯上陽明金司天中見水運即金生水父臨子位順也即金氣之下水運奉天十一壬戌上太陽水司天中見木運即水生木也父臨子位順也即水氣之下木運奉天十二壬辰上太陽水司天中見木運即水生木父臨子位順也即水氣之下木運奉天右十二順化司天皆主吉也不奉天反凶</p>
<p><u>逆化司天十二法</u></p>
<p>一辛亥上厥陰木司天中見水運即子木居上父水在下子臨父位逆木氣之下水不奉天即不順故為凶年二辛巳上厥陰木司天中見水運即子木居上父水在下子臨父位逆木氣之下水不奉天即不順故為凶年三壬子上少陰君火司天中見才運子火居上父木在下子臨父位逆火氣之下木不奉天皆逆主凶也四壬午上少陰君火司天中見木運子火居上父木在下子臨父位逆火氣之下木不奉天五癸丑上太陰土司天中見火運子土居上父火在下子臨父位逆土氣之下火不奉天六癸未上太陰土司天中見火運子土居上父火在下子臨父位逆土氣之下火不奉天七壬寅上少陽相火司天中見木運子火居上父木在下子臨父位逆火氣之下木不奉天八壬申上少陽相火司天中見木運子火居上父木在下子臨父位逆火氣之下木不奉天九己酉上陽明金司天中見土運子金居上父土在下子臨父位逆金氣之下土不奉天十己卯上陽明金司天中見土運子金居上父土在下子臨父位逆金氣之下土不奉天十一庚戌上太陽水司天中見金運子水居上父金在下子臨父位逆水氣之下金不奉天十二庚辰上太陽水司天中見金運子水居上父金在下子臨父位逆水氣之下金不奉天天運不濟十二法凡天運不濟者是天虛間至運虛勝至故天運有不相會合更各受其勝是致不濟也各勝必各自得正令時卻得相濟也於卯巳丑此三位陰年對化中取十二年也三位各五年取三年天運合德於十五年中取出三年只得十二年也取出丁巳運與天同木也取出巳丑運與天同土也取出乙卯運與天同金也一乙巳天對化行天間左右二間各至運金不及火來行勝運被火勝天被間氣來侵故天運不相救濟也二己巳天對化天間至運土不及木來行勝運被木刑天有間侵故不相濟也三癸巳天對化天間至運火不及水來行勝運被水刑天有間侵故不相濟也四辛巳天對化天間氣至運水不及土來行勝運被土刑天有間侵故天不相合也五丁卯天對化天間至運木不及金來行勝運勝雖小天有間侵也六己卯天對化天間至運土不及木來行勝運被木勝天有間侵也七辛卯天對化天間至運水不及土來行勝玉被土刑天有間侵也八癸卯天對化天間至運火不及水來行勝運被水刑天有間侵也九丁丑天對化天間至運木不及金來行勝運被金刑天有間侵也十乙丑天對化天間氣至運金不及火來行勝運被火刑天有間侵也十一辛丑天對化天間至運水不及土來行勝運被土刑天有間侵也十二癸丑天對化天間至運火不及水來行勝運被水刑天有間侵間退復來卻得相濟也</p>
<h2>卷之十</h2>
<h3>正化令專紀篇</h3>
<p><u>正化司天三十法</u></p>
<p>（正化者即天令正化其令正無邪化天氣實故也）</p>
<p>一乙亥厥陰正化司天木本王卯卯被陽明金沖位對化也木生於亥故正化正化歸本從生其數三也治天後十七日運沖於上次三日下臨土伏　蟲夭脾臟乃病後五日黃氣奉上上氣微虛運力承之風化之令徵勝雖正化金運小勝之故天令風小勝之耳二丁亥厥陰正化司天木歸本從生其數三治天後十六日運來同上次三日下臨土伏　蟲不育病本於脾後五日黃氣奉上少宮伏太角青氣來和正化令實勝而不衰三己亥厥陰正化司天木歸本從生其數三通運同其數八至天後八日下臨土伏　蟲乃殃病本於脾風乃化後十八日黃氣奉上少宮來伏正化令實不衰四辛亥厥陰正化司天木歸本從生其數三通運其數四至天後四日下臨土伏　蟲不榮脾臟受病後十七日黃氣奉上少宮來聲於角正化令實風勝不衰五癸亥厥陰正化司天木歸本從生其數三通運其數五至天後五日下臨土伏　蟲不舒病本於脾後十五日黃氣奉上少宮歸聲於角正化令實勝而不衰六甲午少陰正化司天火歸本從生其數二通運其數七至天後七日下臨金伏甲蟲不育肺臟受病後五日白氣奉正少商音同正徵正化令實不衰七丙午少陰正化司天火歸本從生其數二通運其數八至天後八日下臨金伏甲蟲乃困病本於肺後六日白氣奉上少商音歸太徵正化令實不衰八戊午少陰正化司天火歸本從生其數二通運其數九至天後九日下臨金伏甲蟲乃瘁肺病乃亡後七日白氣奉上商聲歸徵正化令實不衰九庚午少陰正化司天火歸本從生其數二通運其數十一至天後十一日下臨金金不伏少衰爾何故也金太過天勝得半故不伏也甲蟲小困肺病微虧後九日白氣奉上商不歸微正化令實勝而不衰十壬午少陰正化司天火歸本從生其數二通運其數十至天後十日下臨金伏甲蟲不育肺病還困後八日白氣奉上少商之音半同太微正化令實不衰十一乙未太陰正化司天土歸本其數五通運其數九至天後九日下臨水伏鱗蟲乃災腎臟受病後十七日黑氣奉上少羽之音半藏正宮之內正化令雨施無間十二丁未太陰正化司天土歸本其數五通運其數八至天後八日下臨水伏鱗蟲不化腎久病痿後十六日黑氣奉上少羽之音半歸太宮正化令實埃濕還甚十三己未太陰正化司天土歸本其數五通運其數十至天後十日下臨水伏鱗蟲不孳腎臟乃衰後十七日黑氣奉上少羽音虧上歸正宮正化令實雨濕數至十四辛未太陰正化司天土歸本其數五通運其數六至天後六日下臨水小困何故也辛水運受勝日水始伏鱗蟲衰腎臟困後十四日黑氣奉上少羽之聲半同正宮正化令實勝而不衰十五癸未太陰正化司天土歸本其數五通運其數七至天後七日下臨水伏鱗蟲殃腎病死後十五日黑氣奉上少羽移音歸於正宮正化令實云雨數至十六甲寅少陽相火正化司天火歸本從生其數二通運其數七至天後七日下臨金伏甲蟲乃瘁肺病還衰後五日白氣奉上少商之音移同正徵正化令實炎暑時令十七丙寅少陽相火正化司天火歸本從生其數二通運其數八至天後八日下臨金伏甲蟲乃危肺病還困後六日白氣奉上少商之音移歸正徵正化令實大暑無間十八戊寅少陽相火正化司天火歸本從生其數二通運其數九至天後九日下臨金伏甲蟲乃危後七日白氣奉上少商之音半同大徵正化令實炎燔每至十九庚寅少陽相火正化司天火歸本從生其數二通運其數十一至天後十一日下臨金伏運符伏之少半甲蟲少困肺病不困後九日白氣奉上少商不歸徵正化令實暑熱之令盛而不衰二十壬寅少陽相火正化司天火歸本從生其數二通運其數十至天後十日下臨金伏甲蟲不化肺病還深後八日白氣奉上少商之音半歸正徵正化令實二十一乙酉陽明正化司天金歸本從生其數四通運其數八至天後八日下臨木伏毛蟲乃夭肝病者危後十七日青氣奉上少角移音半同正商正令化實燥行　化二十二丁酉陽明正化司天金歸本從生其數四通運其數七至天後七日下臨木伏毛蟲乃困肝臟受邪後十六日青氣奉上正令化實燥施風少二十三己酉陽明正化司天金歸本從生其數四通運其數九至天後九日下臨木伏毛蟲病肝氣衰後十八日青氣奉上少角之音還同正商正化令實燥　每作二十四辛酉陽明正化司天金歸本從生其數四通運其數五至天後五日下臨木伏毛蟲乃殃肝氣不榮後十四日青氣奉上少角之音半同正商正化令實二十五癸酉陽明正化司天金歸本從生其數四通運其數六至天後六日下臨木伏毛蟲困民病肝臟後十四日青氣奉上少角與正商同音正化令實二十六甲戌太陽正化司天水歸本從生其數一通運其數六至天後六日下臨火伏羽蟲災心臟病後五日赤氣奉上少徵之音半從正羽正化令實寒令更作二十七丙戌太陽正化司天水歸本從生其數一通運其數七至天後七日下臨火伏羽蟲災心臟病後六日赤氣奉上少徵半歸正羽正化寒令二十八戊戌太陽正化司天水歸本從生其數一通運其數八至天後八日下臨火伏羽蟲病心臟衰後七日赤氣奉上少徵之音半歸正羽正令化實寒　時令二十九庚戌太陽正化司天水歸本從生其數一通運其數十至天後十日下臨火伏羽蟲殃心臟病後九日赤氣奉上少徵半同正羽正化令實寒化時令三十壬戌太陽正化司天水歸本從生其數一通運其數九至天後九日下臨火伏羽蟲災心臟病後八日赤氣奉上少徵半歸正羽正化令實不衰</p>
<h3>對司易正紀篇</h3>
<p><u>對化司天三十法</u></p>
<p>（對化者即對位沖化也對化即天虛令易其正數乃從成也）</p>
<p>一乙巳厥陰對化司天木沖對位化標從成其數八下見金運不通運數至天後八日下臨土伏　蟲災脾臟病後二十一日黃氣奉上少宮不歸正角盛而還衰勝而不實風中有燥即風化中燥間之二丁巳厥陰對化司天木沖對位化標從成其數八通運其數十一至天後十一日下臨土伏　蟲夭脾病死後十六日黃氣奉上少宮不歸正角盛而還衰勝而不實天令盛復有衰而令失正也三己巳厥陰對化司天木沖對位化標從成其數八通運其數十三至天後十三日下臨土伏　蟲病脾臟衰後十八日黃氣奉上少宮不歸正角盛而還衰勝而不實四辛巳厥陰對化司天木沖對位化標從成其數八通運其數九至天後九日下臨土伏　蟲不育脾臟病後十四日黃氣奉上少宮不歸正角盛而還衰勝而不實五癸巳厥陰對化司天木沖對位化標從成其數八通運其數十至天後十日下臨土伏　蟲不榮脾乃病後十五日黃氣奉上少宮不歸正角盛而還衰勝而不實六甲子少陰君火對化司天火沖對位化標從成其數七通運其數十二至後十二日下臨金伏甲蟲病肺臟受刑後九日白氣奉上太商不歸正徵盛而還衰勝而不實七丙子少陰君火對化司天火沖對位化標從成其數七通運其數十三至天後十三日白氣奉上太商不歸正徵盛而還衰勝而不實八戊子少陰君火對化司天火沖對位化標從成其數七通運其數十四至天後十四日下臨金伏甲蟲困臟本肺衰者死後七日白氣奉上太商不歸正徵盛而還衰勝而不實九庚子少陰君火對化司天火沖對位化標從成其數七通運其數十六至天後十六日下臨金少伏運太過何故也甲蟲微病肺病少後九日白氣奉上太商不歸正徵盛而還衰勝而不實十壬子少陰君火對化司天火沖對位化標從成其數七通運其數十五至天從十五日下臨金伏甲蟲病肺病衰後六日白氣奉上太商不司正徵盛而不實勝還衰也十一乙丑太陰對化司天土沖對位化標從成其數五通運其數九至天後九日下臨水伏鱗蟲不孳腎臟病後十七日黑氣奉上少羽不歸正宮盛而不實勝而還衰十二丁丑太陰對化司天土沖對位化標從成其數五通運其數八至天後八日下臨水伏鱗蟲病後十六日黑氣奉上少羽不歸正宮盛而還衰勝而不實十三己丑太陰對化司天土沖對位化標從成其數五通運其數十至天後十日下臨水伏鱗蟲病腎病死後十八日黑氣奉上少羽不歸正宮盛而還衰勝而不實十四辛丑太陰對化司天土沖對位化標從成其數五通運其數六至天後六日下臨水伏鱗蟲乃殃腎受病後十四日黑氣奉上少羽不歸正宮盛而還衰勝而不實十五癸丑太陰對化司天土沖對位化標從成其數五通運其數七至天後七日下臨水伏鱗蟲不育腎病衰後十五日黑氣奉上少羽不歸正宮盛而不實勝而還衰十六甲申少陽相火對化司天火沖對位化標從成其數七通運其數十二至天後十二日下臨金伏甲蟲病肺病衰後五日白氣奉上少商不歸太徵盛而還衰勝而不實十七丙申少陽相火對化司天火沖對位化標從成其數七通運其數十三至天後十三日下臨金伏甲蟲困肺臟病後六日白氣奉上少商不歸太徵盛而不實勝而還衰十八戊甲少陽相火司天火沖對位化標從成其數七通運其數十四至天後十四日下臨金伏甲蟲困肺病衰後五日白氣奉上少商不歸太徵盛而還衰勝而不實十九庚申少陽相火對化司天火沖對位化標從成其數七通運其數十六至天後十六日下臨金伏甲蟲災肺病甚後九日白氣奉上少商不歸太徵盛而還衰勝而不實二十壬申少陽相火對化司天火沖對位化標從成其數七通運其數十五至天後十五日下臨金伏甲蟲病肺臟衰後八日白氣奉上少商不歸太徵盛而還衰勝而不實二十一乙卯陽明對化司天金沖對位化標從成其數九通運其數十三至天後十三日下臨木伏毛蟲困肝病死後十七日青氣奉上少角不歸正商盛而還衰勝而不實二十二丁卯陽明對化司天金沖對位化標從成其數九通運其數十二至天後十二日下臨木伏毛蟲病肝臟衰後十六日青氣奉上少角不歸正商盛而不實勝而還衰二十三己卯陽明對化司天金沖對位化標從成其數九通運其數十四至天後十四日下臨木伏毛蟲病肝氣衰後十八日青氣奉上少角不歸正商盛而還衰勝而不實二十四辛卯陽明對化司天金沖對位化標從成其數九通運其數十至天後十日下臨木伏毛蟲病肝氣衰後十四日青氣奉上少角不歸正商盛而還衰勝而不實二十五癸卯陽明對化司天金沖對位化標從成其數九通運其數十一至天後十一日下臨木伏毛蟲困肝臟病後三日白氣奉上少角不歸正商盛而還衰勝而不實二十六甲辰太陽對化司天水沖對位化標從成其數六通運其數十一至天後十一日下臨火伏羽蟲不育心臟病後六日赤氣奉上少徵不歸太羽盛而還衰勝而不實二十七丙辰太陽對化司天水沖對位化標從成其數六通運其數十二至天後十二日下臨火伏羽蟲災心臟病後六日赤氣奉上太徵不歸太羽盛而還衰勝而不實二十八戊辰太陽對化司天水沖對位化標從成其數六通運其數十三至天後十三日下臨火伏羽蟲殃心病甚後七日赤氣奉上少徵不歸太羽盛而不實勝而還衰二十九庚辰太陽對化司天水沖對位化標從成其數六通運其數十五至天後十五日下臨火伏羽蟲病心臟病後九日赤氣奉上少徵不歸太羽盛而還衰勝而不實三十壬辰太陽對化司天水沖對位化標從成其數六通運其數十四至天後十四日下臨火伏羽蟲災心氣病後八日赤氣奉上少徵不歸太羽盛而還衰勝而不實</p>
<h2>卷之十一</h2>
<h3>司天間化紀篇</h3>
<p><u>大小間化司天三十六法</u></p>
<p>一甲子對化天虛運不佐天即大間也即左右俱間也至天時從奇數即先從左間次行右間從偶數即先右間也間者即左右從司之令也間於天令也即天令不自正化也二丙子對化天虛運不佐天即大間大間即左右俱間天數從奇數即先左間次右間從偶數即先右間次左間也三戊子對化天虛運佐天其令同火也即小間小間即一間也子從奇即左間不右間從偶數即右間不左間也四庚子對化天虛運不佐天即大間大間即二直俱間也天數奇即先左間次右間其數偶即先右間次左間也五壬子對化天虛木運佐天即木生火也故小間小間即一間也天數奇即先左間不右間從偶數即先右間不左間也六乙丑對化天虛運不佐天即大間大間即左右俱間也天數奇即先左間次右間其數偶即先右間次左間也七丁丑對化天虛運克天即大間大間即左右二間也天數從奇即先左間次右間從偶即先右間次左間也八己丑對化天虛運佐天土運上同天即小間小間即一間也天數奇即先左間不右間從偶即先右間不左間也九辛丑對化天虛運不佐天即大間大間即左右俱間也天數奇即先左間次右間從偶即先右間次左間也十癸丑對化天虛運佐天即火生土也即小間小間即一間也天數奇即先左間不右間其數即先右間不左間也十一乙卯對化天虛運佐天金運上同天令也即小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也十二丁卯對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也十三己卯對化天虛運佐天即土生金也即小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也十四辛卯對化天虛運不佐天即大間小間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也十五癸卯對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也十六甲辰對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也十七丙辰對化天虛運佐天水同天令也即小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也十八戊辰對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也十九庚辰對化天虛運佐天金生水故也即小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也二十壬辰對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也二十一乙巳對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也二十二丁巳對化天虛運佐天木同天令即小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也二十三己巳對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也二十四辛巳對化天虛運佐水生木也即小間小間即一間也天從奇即先左間不右間從偶先右間不左間也二十五癸巳對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也二十六甲申對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也二十七丙申對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也二十八戊申對化天虛運佐天火運同天令即小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也二十九庚申對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也三十壬申對化天虛運不佐天即大間大間即左右俱間也天從奇即先左間次右間從偶即先右間次左間也對化凡三十即有大小間也今言三十六者法何也即於正化中取出六年三運勝三運承共六年也即小間又微也三十一丙午雖正化中見水運上勝天天令不正故小虛亦小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也三十二丙寅雖正化中見水運上勝於天天令不正故小虛爾亦小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也三十三甲戌雖正化中見土運上勝於天天令不正故小虛爾亦小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也三十四乙亥雖正化中見金運上承於天天令不正故小虛爾亦小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也三十五癸酉雖正化中見火運上承於天天令不正故小虛爾亦小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也三十六丁未雖正化中見木運上承於天天令不正故小虛爾亦小間小間即一間也天從奇即先左間不右間從偶即先右間不左間也</p>
<h2>卷之十二</h2>
<h3>三元配輪紀篇</h3>
<p><u>正化在泉三十法</u></p>
<p>一甲午對取地下甲子當見巳酉也即天甲子為甲地甲子為巳甲與巳合是天地配偶也故甲在天即巳在地也故甲巳之間中生土運也故天甲子是甲午也地甲子是巳酉也故地甲子去天甲子即一十五日也下見陽明金正化在泉也於司天後十五日即地交也是立春也亦從天數也即天交司後一千五百刻乃交地也故酉為兌其數七巳為土其數五七五成十二也即地交後十二刻金入地也自巳至酉順行三位也至地後三日金始治地也辛物乃生地氣乃燥後七日白氣下生地氣奉運二丙午天甲子也下見辛酉地甲子也即前去十五位也丙在天辛在地丙辛之間中生水運即地見辛酉陽明正化在泉也即酉為兌其數七辛為水運其數一一七成八也即交地後八刻金入地也自辛至酉順行十二位也至地後十二日金始治地辛物乃生地氣乃燥後七日白氣下生地氣奉運三戊午天甲子也下見癸酉地甲子也即天戊地癸戊癸之間中生火運即地見癸酉陽明正化在泉也即酉為兌其數七癸火運其數二二七成九也即於交地後九刻至也自癸至酉順行九位也至地後九日金始治地辛物乃生燥行於地後七日白氣下生金氣奉運四庚午天甲子也下見乙酉地甲子也即天庚地乙也於乙庚之間中生金運也即地見乙酉陽明正化在泉也即酉為兌其數七乙金運其數四四七成十一也於地交後十一刻金入地也自乙至酉順行六位也即至地後六日金始治地辛物乃生燥行於地後七日白氣下生地氣奉運五壬午天甲子也下見丁酉地甲子也即天壬地丁也於丁壬之間中生木運也即地見丁酉陽明正化在泉也即酉為兌其數七丁木運其數三三七成十也地交後十刻金入地也自丁至酉順行三位也至地後三日金始治地辛物乃生燥行於地後七日白氣下生金氣奉運六乙未天甲子也下見庚戌地甲子也故天乙地庚也乙庚之間中生金運也即地見庚戌太陽在泉也故戌為土其數五庚金運其數九五九成十四也於地交前十四刻至也自庚至戌順行三位也至地後三日水始治地咸物乃生寒行於地後五日黑氣下生地氣奉運七丁未天甲子也下見壬戌地甲子也故天丁地壬也於丁壬之間中生木運也即地見壬戌太陽正化在泉也故戌為土其數五壬為木其數八八五成十三也於地交時前十三刻水入地也自壬至戌順行十二位也至地後十二日水始治地咸物乃生寒行於地後五日黑氣下生地氣奉運八己未天甲子也下見甲戌地甲子也故天己地甲於甲己之間中生土運也即地見甲戌太陽正化在泉也故戌為土其數五甲土運其數五二五成十也於交地前十刻水始入地也自甲至戌順行九位也至地後九日水始治地咸物乃生後五日黑氣下生地氣奉運九辛未天甲子也下見丙戌地甲子也故天辛地丙也於丙辛之間中生水運也即地見丙戌太陽正化在泉也故戌為土其數五丙水運其數六五六成十一也於地交時前十一刻水入地也自丙至戌順行六位也至地後六日水始治地咸物乃生寒行於地後五日黑氣下生地氣奉運十癸未天甲子也下見戊戌地甲子也故天癸地戊於戊癸之間中生火運也即地見戊戌太陽正化在泉也故戌為土其數五戊火運其數七七五成十二也於地交前十二刻水入地也自戊至戌順行六位也至地後六日水始治地也寒行於地咸物乃生後五日黑氣下生地氣奉運十一甲申天甲子也下見巳亥地甲子也故天甲地巳也於甲巳之間中生土運也即地見巳亥厥陰正化在泉也故亥為乾其數六巳為土其數五五六成十一也交地時後十一刻水入地也自巳至亥順行五位是也至地後五日木始治地也風行於地酸物乃生後六日青埃下生地氣奉運十二丙申天甲子也下見辛亥地甲子也故天丙地辛也於丙辛之間中生水運也即地見辛亥厥陰正化在泉也故亥為乾其數六辛水運其數一一六成七也於交地時後七刻木入地自辛至亥順行二位也至地後二日木始治地風行於地酸物乃生後六日青氣下生地氣奉運十三戊申天甲子也下見癸亥地甲子也即天戊地癸也於戊癸之間中生火運也地見癸亥厥陰正化在泉也故亥為乾其數六癸火運其數二六二成八也交地時後八刻木入地也自癸至亥順行十一位也至地後十一日木始治地風行於地酸物乃生後六日青氣下生地氣奉運十四庚申天甲子也下見乙亥地甲子也故天庚地乙也於乙庚之間中生金運也即地見乙亥厥陰正化在泉也故亥為乾其數六乙金運其數四四六成十也於交地時後十刻木入地也自乙至亥順行八位也至地後八日木始治地也風行於地酸物乃生後六日青氣下生地氣奉運十五壬申天甲子也下見丁亥是地甲子也故天壬地丁也於丁壬之間中生木運也即地見丁亥厥陰正化在泉也故亥為乾其數六丁木運其數三三六成九也於地交時後六刻木入地也自丁至亥順行五位也至地後五日木始治地風行於地也酸物乃生後六日青氣下生地氣奉運十六乙卯天甲子也下見庚午地甲子也故天乙地庚也於乙庚之間中生金運也即地見庚午少陰君火正化在泉也故午為離其數九庚金運其數九二九成十八也於交地時前十八刻火入地也自庚至午順行十一位也至地後十一日火始治地熱行於地苦物乃生後九日赤氣下生地氣奉運十七丁卯天甲子也下見壬午地甲子也故天丁地壬也於丁壬之間中生木運也即地見壬午少陰君火在泉也故午為離其數九壬木運其數八八九成十七也於交地時前十七刻火入地也自壬至午順行八位也至地後八日火始治地也熱行於地苦物乃生後九日赤氣下生地氣奉運十八己卯天甲子也下見甲午地甲子也故天己地甲也於甲己之間中生土運也即地見甲午少陰君火正化在泉也故午為離其數九甲為土運其數五九五成十四也於交地時前十四刻火入地也自甲至午順行五位也至地後五日火始治地熱行於地苦物乃生後九日赤氣下生地氣奉運十九辛卯天甲子也下見丙午地甲子也故天辛地丙也於丙辛之間中生水運也地見丙午少陰君火正化在泉也故午為離其數九丙水運其數六六九共成十五也於地交時前十五刻火入地也自丙至午順行二位也至地後二日火始治地也熱行於地苦物乃生後九日赤氣下生地氣奉運二十癸卯天甲子也下見戊午地甲子也故天癸地戊也故於戊癸之間中生火運也即地見戊午少陰君火正化在泉也故午為離其數九戊火運其數九二九成十八也於交地前十八刻火入地也自戊至午順行二位也至地後二日火始治地熱行於地苦物乃生後九日赤氣下生地氣奉運二十一甲辰天甲子也下見己未地甲子也故天甲地己也於甲己之間中生土運也即地見己未太陰正化在泉也故未為土其數五己為土運其數五二五成十也於交地後十刻土入地己本在未更不遷動也至地日土便治地也濕行於地甘物乃生後五日黃氣下生地氣奉運二十二丙辰天甲子也下見辛未地甲子也故天丙地辛也於丙辛之間中生水運也地見辛未太陰正化在泉也故未為土其數五辛水運其數一一五成六也於交地時後六刻土入地也自辛未順行十位也至地後十日土始治地也濕行於地甘物乃生後五日黃氣下生地氣奉運二十三戊辰天甲子也下見癸未地甲子也故天戊地癸也於戊癸之間中生火運也地見癸未太陰正化在泉也故未為土其數五癸火運其數二二五成七也於交地時後七刻土入地也自癸至未順行七位也至地後七日土始治地濕行於地甘物乃生後五日黃氣下生地氣奉運二十四庚辰天甲子也下見乙未地甲子也故天庚地乙也於乙庚之間中生金運也地見乙未太陰正化在泉也故未為土其數五乙金運其數四四五成九也於交地時後九刻土入地也自乙至未順行四位也至地後四日土始治地濕行於地甘物乃生後五日黃氣下生地氣奉運二十五壬辰天甲子也下見丁未地甲子也故天壬地丁也於丁壬之間中生木運也地見丁未太陰正化在泉也未為土其數五丁木運其數三三五成八也於交地時後八刻土入地也丁本在未也至地後當日土始治地也濕行於地甘物乃生後五日黃氣下生地氣奉運二十六乙亥天甲子也下見庚寅地甲子也故天乙地庚於乙庚之間中生金運也地見庚寅少陽相火正化在泉也故寅為艮其數八庚金運其數九八九成十七也於交地時前十七刻火入地也自庚至寅順行七位也至地後七日火始治地也熱行於地苦物乃生後八日赤氣下生地氣奉運二十七丁亥天甲子也下見壬寅地甲子也故天丁地壬也於丁壬之間中生木運也即地見壬寅少陽相火正化在泉也故寅為艮其數八壬木運其數八二八成十六也於交地時前十六刻火入地也自壬至寅順行四位也至地後四日火始治地也熱行於地苦物乃生後八日赤氣下生地氣奉運二十八己亥天甲子也下見甲寅地甲子也故天己地甲也於甲己之間中生土運也即地見甲寅少陽相火正化在泉也即寅為艮其數八甲土運其數五五八成十三也於交地時前十三刻火入地也自甲本寄寅也至地日當日便火始治地也熱行於地苦物乃生後八日赤氣下生地氣奉運二十九辛亥天甲子也下見丙寅地甲子也故天辛地丙也於丙辛之間中生水運也即地見丙寅少陽相火正化在泉也故寅為艮其數八丙水運其數六六八成十四也於地交時前十四刻火入地也自丙至寅順行十位也至地後十日火始治地熱行於地苦物乃生後八日赤氣下生地氣奉運三十癸亥天甲子也下見戊寅地甲子也故天癸地戊也於戊癸之間中見火運也地見戊寅少陽相火正化在泉也故寅為艮其數八戊火運其數七七八成十五也於交地時前十五刻火入地也自戊至寅順行十位也至地後十日火始治地也熱行於地苦物乃生後八日赤氣下生地氣奉運</p>
<h2>卷之十三</h2>
<h3>地應三元紀篇</h3>
<p><u>對化在泉三十法</u></p>
<p>一甲子天甲子也下見己卯地甲子也故天甲地己也於甲己之間中生土運也即地見己卯陽明對化在泉即金沖對位也故卯為震其數三己為七其數五三五成八也於交地時前八刻金入地也自己至卯在遷五位也至地後五日金始治地也燥行於地辛物乃生後三日運氣同下間物同生也二丙子天甲子也下見辛卯地甲子也故天丙地辛也於丙辛之間中生水運也即地見辛卯陽明對化在泉金沖對位也故卯為震其數三辛水運其數一一三成四也於交地時前四刻金入地也自辛至卯左遷八位也至地後八日金始治地也燥行於地辛物乃生後三日運氣同下間物同生也三戊子天甲子也下見癸卯地甲子也故天戊地癸也於戊癸之間中生火運也地見癸卯陽明對化在泉也故卯為震其數三癸火運其數二二三成五也於交地時後五刻金入地也自癸至卯左遷十一位也至地後十一日金始治地也燥行於地辛物乃生後三日運氣同下間物同生也四庚子天甲子也下見乙卯地甲子也故天庚地乙也故乙庚之間中生金運也地見陽明對化在泉也卯為震其數三乙金運其數四四三成七也於交地時後七刻金入地也自乙至卯左遷一位也至地後一日金始治地也燥行於地辛物乃生後三日運氣同下間物同生也五壬子天甲子也下見丁卯地甲子也故天壬地丁也於丁壬之間中生木運也地見丁卯陽明對化在泉也故卯為震其數三丁木運其數三二三成六也於交地時後六刻木入地也自丁至卯左遷五位也至地後五日木始治地也燥行於地辛物乃生後三日運氣同下間物同生也六乙丑天甲子也下見庚辰地甲子也故天乙地庚也於乙庚之間中見金運也即天見庚辰太陽對化在泉也故辰為土其數五庚金運其數九五九成十四也於交地時後十四刻水入地也自庚至辰左遷五位也至地後五日水始治地也寒行於地咸物乃生後五日運氣同下間物同生也七丁丑天甲子也下見壬辰地甲子也故天丁地壬也於丁壬之間中生木運也即地見壬辰太陽對化在泉也故辰為土其數五壬為木其數八八五成十三也於交地時後十三刻水入地也自壬至辰左遷八位也至地後八日水始治地也寒行於地咸物乃生後五日運氣同下間物同生也八己丑天甲子也下見甲辰地甲子也故天己地甲也於甲己之間中生土運也即地見甲辰太陽對化在泉也故辰為土其數五甲土運其數五二五成十也於交地時後十刻水入地也自甲至辰左遷十一位也至地後十一日水始治地也寒行於地咸物乃生後五日運氣同下間物同生也九辛丑天甲子也下見丙辰地甲子也故天辛地丙也於丙辛之間中生水運也即地見丙辰太陽對化在泉也故辰為土其數五丙水運其數六五六成十一也於交地時後十一刻水入地也自丙至辰左遷二位也至地後二日水始治地也寒行於地咸物乃生後五日運氣同下間物同生也十癸丑天甲子也下見戊辰地甲子也故天戊地癸也於戊癸之間中生火運也即地見戊辰太陽對化在泉也故辰為土其數五戊火運其數七七五成十二也於交地時後十二刻水入地也自戊至辰左遷二位也至地後二日水始地治也寒行於地咸物乃生後五日運氣同下間物同生也十一甲寅天甲子也下見己巳地甲子也故天甲地己也於甲己之間中生土運也即地見己巳厥陰對化在泉也故己為巽其數四巳上運其數五四五成九也於交地時後九刻木入地也自己至巳左遷三位也至地後三日水始治地也風行於地酸物乃生後四日運氣同下間物同生也十二丙寅天甲子也下見辛巳地甲子也故天丙地辛也於丙辛之間中生水運也即地見辛巳厥陰對化在泉也故巳為巽其數四辛水運其數一一四成五也於交地時後五刻木入地也自辛至巳左遷六位也至地後六日木始治地也風行於地酸物乃生後四日運氣同下間物同生也十三戊寅天甲子也下見癸巳地甲子也故天戊地癸也於戊癸之間中生火運也即地見癸巳厥陰對化在泉也故巳為巽其數四癸火運其數二二四成六也於交地時後六刻木入地也自癸至巳左遷九位也至地後九日木始治地也風行於地咸物乃生後四日運氣同下間物同生也十四庚寅天甲子也下見乙巳地甲子也故天庚地乙也於乙庚之間中生金運也即地見乙巳厥陰對化在泉也故己為巽其數四乙金運其數四二四共成八也於交地時後八刻木入地也自乙到巳左遷十二位也至地後十二日木始治地也風行於地酸物乃生後四日運氣同下間物同生也十五壬寅天甲子也下見丁巳地甲子也故天壬地丁也於丁壬之間中生木運也即地見丁巳厥陰對化在泉也故巳為巽其數四丁木運其數三三四成七也於交地時後七刻木入地也自丁至巳左遷三位也至地後三日木始治地也風行於地酸物乃生後四日運氣同下間物同生也十六乙酉天甲子也下見庚子地甲子也故天乙地庚也於乙庚之間中生金運也即地見庚子少陰君火對化在泉也故子為坎其數一庚金運其數九九一成十也於交地時前十刻火入地也自庚至子左遷九位也至地九日火始治地也熱行於地苦物乃生後一日運氣下同間物同生也十七丁酉天甲子也下見壬子地甲子也故天丁地壬也於丁壬之間中生木運也故地見壬子少陰君火對化在泉也故子為坎其數一壬木運其數八八一成九也於交地時前九刻火入地也自壬至子左遷十二位也至地十二日火始治地也熱行於地苦物乃生後一日運氣同下間物同生也十八己酉天甲子也下見甲子地甲子也故天巳地甲也於甲巳之間中生土運即地見甲子少陰君火對化在泉也故子為坎其數一甲土運其數五一五成六也於交地時前六刻火入地也自甲至子左遷三位也至地後三日火始治地也熱行於地苦物乃生後一日運氣同下間物同生也十九辛酉天甲子也下見丙子地甲子也故天辛地丙也於丙辛之間中生水運也即地見丙子少陰君火對化在泉也故子為坎其數一丙水運其數六一六成七也於交地時前七刻至也火入地也自丙至子左遷六位也至地六日火始治地也熱行於地苦物乃生後一日運氣同下間物同生也二十癸酉天甲子也下見戊子地甲子也故天癸地戊也於戊癸之間中生火運也即地見戊子少陰君火對化在泉也故子為坎其數一戊火運其數七一七成八也於交地時前八刻火入地也自戊至子左遷六位也至地後六日火始治地也熱行於地苦物乃生後一日運氣下同間物同生也二十一甲戌天甲子也下見己丑地甲子也故天甲地己也於甲己之間中生土運也即地見己丑太陰對化在泉也故丑為土其數五己土運其數五二五成十也於交地時後十刻土入地也自己至丑左遷七位也至地後七日土始治地濕行於地甘物乃生後五日運氣下同間物同生也二十二丙戌天甲子也下見辛丑地甲子也故天丙地辛也於丙辛之間中見水運也即地見辛丑太陰對化在泉也故丑為土其數五辛水運其數六五六成十一也於交地時後十一刻土入地也自辛至丑左遷十位也至地十日土始治地也濕行於地甘物乃生後五日運氣下同間物同生也二十三戊戌天甲子也下見癸丑地甲子也故天戊地癸也於戊癸之間中生火行也即地見癸丑太陰對化在泉也故丑為土其數五癸火運其數二二五成七也於交地時七刻火入地也癸本在丑更無遷動也當日火便治地也濕行於地甘物乃生後五日運氣下同間物同生也二十四庚戌天甲子也下見乙丑地甲子也故天庚地乙也於乙庚之間中生金運也即地見乙丑太陰對化在泉也故丑為土其數五乙金運其數四四五成九也於交地時後九刻土入地也自乙至丑左遷四位也至地後四日土始治地也濕行於地甘物乃生後五日運氣下同間物同生也二十五壬戌天甲子也下見丁丑地甲子也故天壬地丁也於丁壬之間中生木運也即地見丁丑太陰對化在泉也故丑為土其數五丁木運其數三三五成八也於交地後八刻土入地也自丁至丑左遷七位也至地後七日土始治地也後五日運氣下同間物乃生也二十六乙巳天甲子也下見庚申地甲子也故天乙地庚也於乙庚之間中生金運也故地見庚申少陽相火對化在泉也故申為坤其數二庚金運其數九九二成十一也於交地時前十一刻火入地也庚本在申更無遷動也於交地時當日火始治地熱行於上苦物乃生後二日運氣下同間物同生也二十七丁巳天甲子也下見壬申地甲子也故天丁地壬也於丁壬之間中生木運也即地見壬申少陽相火對化在泉也故申為坤其數二壬木運其數八八二成十也於交地時前十刻火入地也自壬至申左遷四位也至地後四日火始治地也後二日運氣下同間物同生也二十八己巳天甲子也下見甲申地甲子也故天巳地甲也於甲己之間中生土運也即地見甲申少陽相火對化在泉也故申為坤其數二甲土運其數五二五成七也於交地時前七刻火入地也自甲至申左遷七位也至地後七日火始治地也後二日運氣下同間物乃生也二十九辛巳天甲子也下見丙申地甲子也故天辛地丙也於丙辛之間中生水運也即地見丙申少陽相火對化在泉也故申為坤其數二丙水運其數六二六成八也於交地時前八刻火入地也自丙至申左遷十位也至地後十日火始治地也熱行於地苦物乃生也後二日運氣下同間物同生也三十癸巳天甲子也下見戊申地甲子也故天癸地戊也於戊癸之間中生火運也即地見戊申少陽相火對化在泉故申為坤其數二戊火運其數七七二成九也於交地時前九刻火入地也自戊至申左遷十位也至地後十日火始治地也熱行於地苦物乃生後二日運氣下同間物同生也</p>
<h3>地合運勝紀篇</h3>
<p><u>運合在泉十二法</u></p>
<p>一庚子下見乙卯乙金運也地見陽明對化在泉也即陽明金即上與運同金也即在泉之化與運合德白埃四起辛物生多酸物生少歲半之後燥勝風少二庚午下見乙酉乙金運也地見陽明對化在泉也陽明金也即上與運同金也故在泉之氣與運合德遠視山谷白氣如練正令實又合運令燥令辛化木氣還虧三辛丑下見丙辰丙辛水運也地見太陽對化在泉也太陽水也上與運同水也故在泉之氣與運合德黑氣遠見咸物乃生苦物生少寒化後令陽光不治四辛未下見丙戌丙辛水運也地見太陽正化在泉也太陽水也上與運同水也故在泉之氣與運合德也遙望天涯暝暝黯暗地氣上勝也咸化勝苦寒勝於熱其令又勝於辰年正化運合也五壬寅下見丁巳丁壬木運也地見厥陰對化在泉也厥陰木也上與運同木也故在泉之氣與運合德也即青埃之下酸物生多甘物乃少風化後令六壬申下見丁亥丁壬木運也地見厥陰正化在泉也厥陰木也上與運同木也故在泉之氣與運合德也故地發蒼埃山生碧氣酸物刑甘令生摧拉正化運合還勝於巳七癸酉下見戊子戊癸火運也地見少陰君火對化在泉也少陰君火也上與運同火也故在泉之氣與運合德也地發赤氣遠生郊野苦物生多辛物反苦後令溫暄冬見流水八癸卯下見戊午戊癸火運也地見少陰君火正化在泉也少陰君火也上與運同火也即在泉之氣與運合德也地蒸熱氣山谷焦枯赤氣頻見燔KT　郊外苦物勝辛赤花鮮盛後令冬暄正化運合不同於子九甲戊下見己丑甲巳土運也地見太陰對化在泉也太陰土也上與運同土也即在泉之氣與運合德也黃埃四起地氣乃潤甘物生多咸物化少後令埃霧十甲辰下見己丑甲巳土運也地見太陰正化在泉也太陰土也上與運同土也即在泉之氣與運合德也遠視山谷黃氣下起太虛埃昏云物以擾雨生　昧甘物黃花並皆肥盛後雨濕正化運合不同於丑十一癸巳下見戊申戊癸火運也地見少陽對化在泉也少陽相火也上與運同火也即在泉之氣與運合德也熱蒸地暖地發湯泉苦化辛衰冬令反溫十二癸亥下見戊寅戊癸火運也即地見少陽在泉也少陽相火也上與運同火也即在泉之氣與運合德也熱蒸地氣焰明夜見郊野燔KT　赤氣遠生苦勝辛酉正化運同不同於申</p>
<p><u>運勝在泉十二法</u></p>
<p>一戊子下見癸卯戊癸火運地見　在泉陽明金也上見火運運勝地金赤氣之下辛物變苦歲半之後令燥反熱生對化地虛運勝乃甚二戊午下見癸酉戊癸火運地見陽明在泉上見火運運勝地金赤氣之下辛物變衰歲半之後令燥中間熱正化地實運勝減半三己丑下見甲辰甲巳土運地見太陽在泉太陽水也上見土運運勝地水黃氣之下咸物變甘歲半之後令寒化反化對化地虛運勝乃甚四己未下見甲戌甲巳土運地見太陽在泉太陽水也上見土運運勝地水黃氣之下咸物變甘歲半之後令寒中間濕埃霧時起正化地實運勝減半也五庚寅下見乙巳乙庚金運地見厥陰在泉厥陰木也上見金運運勝地木白氣之下酸物變辛歲半之後令風化反燥對化地虛運乃甚也六庚申下見乙亥乙庚金運地見厥陰在泉厥陰木也上見金運運勝地木白氣之下酸物變辛歲半之後令風中間燥正化地實運勝減半也七辛酉下見丙子丙辛水運地見少陰在泉少陰君火也上見水運運勝地火也黑氣之下苦物變咸歲半之後令溫中變寒對化地虛運勝乃甚八辛卯下見丙午丙辛水運地見少陰在泉少陰君火也上見水運運勝地火也黑氣之下苦物變咸歲半之後令溫中間寒正化地實運勝減半九壬戌下見丁丑丁壬木運地見太陰在泉太陰土也上見木運運勝地土青氣之下甘物變酸歲半之後令雨中反風對化地虛運勝乃甚也十壬辰下見丁未丁壬木運地見太陰在泉太陰土也上見木運運勝地土青氣之下甘物變酸歲半之後雨中間風正化地實運勝減半也十一辛巳下見丙申丙辛水運地見少陽在泉少陽相火也上見水運運勝地火也黑氣之下苦物變咸也歲半之後令熱化反寒對化地虛運勝乃甚十二辛亥下見丙寅丙辛水運地見少陽在泉少陽相火也上見水運運勝地火也黑氣之下苦物乃咸也歲半之後令熱化間寒正化地實運勝得半也</p>
<h2>卷之十四</h2>
<h3>勝符會對紀篇</h3>
<p><u>直符在泉十二法</u></p>
<p>一己亥下見甲寅少陽相火在泉甲本寄寅命曰直符符者合也地化自然別無刑克二乙巳下見庚申少陽相火在泉庚本在申直符者支干合德也地火不能勝於年運也即一火不勝二金也三丁酉下見壬子少陰君火在泉壬本在子支干合德地化自令別無刑克四辛卯下見丙午少陰君火在泉丙住南方午為家室地化之令時化不遷間運無犯五壬辰下見丁未太陰土在泉丁本寄未支干同家氣令自正別無勝至六甲辰下見己未太陰土在泉己亦住未支干同鄉命曰直符地令應候七戊戌下見癸丑太陰土在泉癸本在丑太干相合地令化專別無間刑八庚子下見乙卯陽明金在泉乙來歸東支干合德地化應睛氣令無失九丙子下見辛酉陽明金在泉辛來向西支干同位地化依令別無聞形十戊申下見癸亥厥陰水在泉癸到北方支干合位地化時令不失於元十一癸未下見戊戌太陽水在泉戊到天間如歸舍宅地化專精更無他克十二甲寅下見己巳厥陰木在泉己歸地戶似往家鄉地化時令應候無失</p>
<p><u>地勝在泉十二法</u></p>
<p>一壬子下見丁卯丁壬木運地見陽明在泉陽明金也地勝於運白氣上騰運化不應對化之地其勝猶小二壬午下見丁酉丁壬木運地見陽明在泉陽明金也地勝於運白氣上騰燥生風滅正化之地其勝乃威三癸丑下見戊辰戊癸火運地見太陽在泉太陽水也地勝於運黑氣下生火令滅半對化之地其勝乃微四癸未下見戊戌戊癸火運地見太陽在泉太陽水也地勝於運黑氣下生火運乃滅正化之地其勝甚雄五甲寅下見己巳甲己土運地見厥陰在泉厥陰木也地勝於運青氣上騰土濕還弱對化之地其勝乃虛六甲申下見己亥甲己土運地見厥陰在泉厥陰木也地勝於運青埃四起雨濕全虧正化之地其勝甚堅七乙酉下見庚子乙庚金運地見少陰在泉少陰君火也地勝於運赤氣下生　燥失化對化之地其勝至微八乙卯下見庚午乙庚金運地見少陰在泉少陰君火也地勝於運赤氣下生燥金全失正化之地其勝至甚九丙戌下見辛丑丙辛水運地見太陰在泉太陰土也地勝於運黃氣下升寒運滅凜對化之地其勝猶輕十丙辰下見辛未丙辛水運地見太陰在泉太陰土也地勝於運黃氣下起運水失寒正化之地其勝甚重十一乙巳下見庚申乙庚金運地見少陽在泉少陽相火也地勝於運赤氣下生燥令不足對化之地其勝且微十二乙亥下見庚寅乙庚金運地見少陽在泉少陽相火也地勝於運赤氣下生　燥不施正化之地其勝至甚</p>
<h3>災郁逆順紀篇</h3>
<p><u>地郁在泉五法</u></p>
<p>一厥陰木在泉巳亥正對同法也上見金運金運下克之木氣不發蒼埃木氣久伏於地次歲過水運其木伏怒氣乃發於地與民為災其病卒中失音不隨筋痿癇厥埃濕乃收甘黃不化大風數舉太虛埃昏云雨且息二君相二火在泉子午寅申正對一法上見水運水運下克之火地令赤氣下伏不出經年久隱地中不能出見次歲遇木運火伏怒氣始出與民為災即顛狂驚癇鼽衄悶亂煩燠小便如血萬物焦枯山川干燥三太陰土在泉丑未正對化同一法上見木運木運下克之土伏地中黃氣本色久伏不出次歲遇火運土伏怒氣始乃發泄其氣既出民多瘟癘黃膽腫濕脹滿大腹足踵餐泄山澤昏翳萬物不鮮雨施　昧四陽明金在泉卯酉正對化同一法上見火運火運克之白氣不見火伏在地不能上騰次歲遇土運金伏怒氣方始出地與民為災病喘咳悲傷洗浙寒熱咯血毛焦草木萎枯肅殺春作林木有聲五太陽水在泉辰戌正對化同一法上見土運土運伏之黑氣久隱不得彰見次歲遇金運水伏怒氣始出於地與民為災病皆痹厥骨痿脛寒失溺腰膝弱無力萬物花卉皆萎陽光失色也</p>
<p><u>逆化在泉十二法</u></p>
<p>一丙子下見辛卯丙辛水運地見陽明在泉陽明金也金生水子居上位父居下位雖然相得名曰逆化逆化亦凶對化之地地化不專二丙午下見辛酉丙辛水運地見陽明在泉陽明金也金生水水居上位金居下位子臨父位逆逆即凶正化之地凶災乃小三丁丑下見壬辰丁壬木運地見太陽在泉太陽水也水生木子木居上父水在下子臨父位乃凶逆化也對化之地地令不實四丁未下見壬戌丁壬木運地見太陽在泉太陽水也水生木子木居上父水在下子臨父位乃凶逆化也正化之地地令乃實五戊寅下見癸巳戊癸火運地見厥陰在泉厥陰木也木生火子火居上父木在下子臨父位乃凶逆化也對化之地凶中令別六戊申下見癸亥戊癸火運地見厥陰在泉厥陰木也木生火子火居上父木在下子臨父位乃凶逆化也正化之地有凶乃專七己酉下見甲子甲己土運地見少陰在泉少陰君火也火生土子土居上父火在下子臨父位乃凶逆化地對化之地災凶令變八己卯下見甲午甲己土運地見少陰在泉少陰君火也火生土子土居上父火在下子臨父位乃凶逆化也正化之地雖凶令專九庚戌下見乙丑乙庚金運地見太陰在泉太陰土也土生金子金居上父土在下子臨父位乃凶逆化也對化之地地凶有變十庚辰下見乙未乙庚金運地見太陰在泉太陰土也土生金子金居上父土在下子臨父位乃凶逆化也正化之地雖令專亦凶也十一己巳下見甲申甲己土運地見少陽在泉少陽相火也火生土子土居上父火在下子臨父位乃凶逆化也對化之地災凶令變十二己亥下見甲寅甲己土運地見少陽在泉少陽相火也火生土子土居上父火在下子臨父位乃凶逆化也正化之地雖凶令實</p>
<p><u>順化在泉十二法</u></p>
<p>一甲子下見己卯甲己土運地見陽明在泉陽明金也土生金父土下臨於子金父臨子位順也對化雖虛地氣奉上乃吉二甲午下見己酉甲己土運地見陽明在泉陽明金也土生金父土下臨於子金父臨子位順也正化令專地氣奉上乃作嘉祥三乙丑下見庚辰乙庚金運地見太陽在泉太陽水也金生水父金下臨子水父臨子位順也對化雖虛地氣奉上乃吉四乙未下見庚戌乙庚金運地見太陽在泉太陽水也金生水父金下臨子水父臨子位順也正化令專地氣奉上水澤生瑞也五丙寅下見辛巳丙辛水運地見厥陰在泉厥陰木也水生木父水下臨子木父臨子位順也對化雖虛地氣奉運亦應吉祥六丙申下見辛亥丙辛水運地見厥陰在泉厥陰木也水生木父水下臨子木父臨子位順也正化令專地氣奉運乃生靈芝嘉禾之瑞青霞數舉七丁酉下見壬子丁壬木運地見少陰在泉少陰君火也木生火父木下臨子火父臨子位順也對化雖虛地氣奉上亦生湯泉醴水八丁卯下見壬午丁壬木運地見少陰在泉少陰君火也木生火父木下臨子火父臨子位順也正化令實地氣奉上乃生朱草食之延年九戊戌下見癸丑戊癸火運地見太陰在泉太陰土也火生土父火下臨子土父臨子位順也對化雖虛地氣奉運濁水還清十戊辰下見癸未戊癸火運地見太陰在泉太陰土也火生土父火下臨子土父臨子位順也正化令專地氣奉運地生蝦蟆背上有黃芝食之應瑞乃作地仙十一丁巳下見壬申丁壬木運地見少陽在泉少陽相火也木生火父木下臨子火父臨子位順也對化雖虛地氣奉運乃作豐登十二丁亥下見壬寅丁壬木運地見少陽在泉少陽相火也木生火父木下臨子火父臨子位順也正化地專地氣奉上乃作豐稔之瑞也</p>
<p><u>資化在泉十二法</u></p>
<p>一厥陰對化不逢金運酸化之令復資其苦苦味之形轉添肥盛滿化之資惟資其一也二厥陰正化不逢金運酸化之令乃資其苦苦味之盛酸復資咸正化之資復資其二也三少陰對化不逢水運苦化之令乃資其甘甘化肥盛不復其資對化之資惟資其一也四少陰正化不逢水運苦化之令乃資其甘甘物肥盛復資其酸正化之資復資其二也五太陰對化不逢木運甘化之令乃資其辛辛物肥盛不復其資對化之資惟資一也六太陰正化不逢木運甘化之令乃資其辛辛化肥盛復資其苦正化之資還資其二也七陽明對化不逢火運辛化之令乃資其咸咸物肥盛不復其資對化之資惟資其一八陽明正化不逢火運辛化之令乃資其咸咸化肥盛復資其甘正化之資還資其二九太陽對化不逢土運咸化之令乃資其酸酸化肥盛不復資辛對化之資惟資其一十太陽正化不逢土運咸化之令乃資其酸酸化肥盛復資其辛正化之資還資其二十一少陽對化不逢水運苦化之令乃資其甘甘物肥盛不復資酸對化之資惟資其一十二少陽正化不逢水運苦化之令乃資其甘甘化肥盛復資其酸正化之資還資其二</p>
<h2>卷之十五</h2>
<h3>地土間物紀篇</h3>
<p><u>間化在泉三十六法</u></p>
<p>一甲子下見己卯陽明在泉對化有間與運相得即小間小間即一間也地從奇數即先左間不右間也地從偶數即先右間不左間也地之間者先間味物後間氣令假令陽明在泉天北正即地南正天南正即地北正也乃奉天之正即地見己卯天南正也即左見太陽從奇即先太陽間也即先間生咸味黑草木次間寒令也從偶即先右間右間少陽少陽先間苦味及赤花從行熱令今舉此一間余皆　此也二丙子下見辛卯丙辛水運地見陽明在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間也從偶即先右間不左間也三戊子下見癸卯戊癸火運地見陽明在泉對化有間與運不相得即大間大間即左右俱間也地從奇即先左間次右間也從偶即先右間次左間也四庚子下見乙卯乙庚金運地見陽明在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間也從偶即先右間不左間也五壬子下見丁卯丁壬木運地見陽明在泉對化有間運不勝地即小間小間即一間也地從奇即先左間不右間也從偶即先右間不左間也六乙丑下見庚辰乙庚金運地見太陽在泉對化有間與運相得即小間小間即一間也地從奇即左間不右間也從偶即先右間不左間也七丁丑下見壬辰丁壬木運地見太陽在泉對化地有間與運相得即小間小間即一間也地從奇即先左間不右間也從偶即先右間不左間也八己丑下見甲辰甲己土運也地見太陽在泉對化有間與運不相得即大間大間即左右俱間也地從奇即先左間次右間也從偶即先右間次左間也九辛丑下見丙辰丙辛水運地見太陽在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間地從偶即先右間不左間也十癸丑下見戊辰戊癸火運地見太陽在泉對化有間運不勝地即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也十一甲寅下見己巳甲己土運地見厥陰在泉對化有間運不勝地即小間小間即一間也地從奇即先左間不右間地從偶即先右間不左間也十二丙寅下見辛巳丙辛水運地見厥陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也十三戊寅下見癸巳戊癸火運地見厥陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也十四庚寅下見乙巳乙庚金運地見厥陰在泉對化有間與運不相得即大間大間即左右俱間也地從奇即先左間次右間從偶即先右間次左間也十五壬寅下見丁巳丁壬木運地見厥陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也十六乙酉下見庚子乙庚金運地見少陰在泉對化有間運不勝地即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也十七丁酉下見壬子丁壬木運地見少陰在泉對化有間與運相得即小間小間即二間也地從奇即先左間不右間從偶即先右間不左間也十八己酉下見甲子甲己土運地見少陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也十九辛酉下見丙子丙辛水運地見少陰在泉對化有間與運不相得即大間大間即左右俱間也地從奇即先左間次右間從偶即先右間次左間也二十癸酉下見戊子戊癸火運地見少陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十一甲戌下見己丑甲己土運地見太陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十二丙戌下見辛丑丙辛水運地見太陰在泉對化有間運不勝地即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十三戊戌下見癸丑戊癸火運地見太陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十四庚戌下見乙丑乙庚金運地見太陰在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十五壬戌下見丁丑丁壬木運地見太陰在泉對化有間與運不相得即大間大間即左右俱間也地從奇即先左間次右間從偶即先右間次左間也二十六乙巳下見庚申乙庚金運地見少陽在泉對化有間運不勝地即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十七丁巳下見壬申丁壬木運地見少陽在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十八己巳下見甲申甲己土運地見少陽在泉對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也二十九辛巳下見丙申丙辛水運地見少陽在泉對化有間與運不相得即大間大間即左右俱間也地從奇即先左間次右間從偶即先右間次左間也三十癸巳下見戊申戊癸火運地見少陽在泉也對化有間與運相得即小間小間即一間也地從奇即先左間不右間從偶即先右間不左間也</p>
<p><u>次有運刑六小間</u></p>
<p>一戊午下見癸酉戊癸火運地見陽明正化在泉正化本無間也故火運太過下克司地金故小間也地從奇即左間不右間從偶即右間不左間也二庚申下見乙亥乙庚金運地見厥陰正化在泉正化本無間故金運太過下刑厥陰木木受金勝故小間也地從奇即左間不右間從偶即右間不左間也三壬辰下見丁未丁壬木運地見太陰土在泉地正化本無間故木運太過下克司地土故小間也地從奇即左間不右間從偶即右間不左間也四辛亥下見丙寅丙辛水運地見少陽相火在泉地正化本無間故水運下克司地火故小間也地從奇即左間不右間從偶即右間不左間也五辛卯下見丙午丙辛水運地見少陰君火在泉地正化本無間故水運之歲下克司地火故小間也地從奇即左間不右間從偶即右間不左間也六己未下見甲戌甲巳上運地見太陽寒水在泉地正化本無間故土運之歲下克司地水故小間也地從奇即左間不右間從偶即右間不左間也</p>
<p><u>土間在泉十法</u></p>
<p>一少陰在泉遇其正化者中不見木運者左右不來間化也只少陰自行苦化於是苦物轉加肥盛也即火行於地得其氣也火能生土土乃間也即甘物亦多黃花亦盛也為木不來間故土間也二陽明司地在泉正化無間者上下左右火不來干中運不相刑克者地金自化白物生多辛物味甚故司地之氣甚美土乃來間也甘物味亦長黃物生還深此土氣侵金之令而至也三少陽相火司地在泉正化無間又無水運地得自令苦味乃眾赤芳甚鮮丹穀結實正王之時土來間化甘物爭肥黃花競長此土乘火美而來也四太陽寒水正化司地左右無間亦無土運地得自令咸物之味其味乃長化氣之專其氣乃令正令之作甘土來間間而不刑於水自專甘化甘味之物別成一化自名土間也五少陰對化司地在泉地氣乃虛間物未化之時或間物來氣甚晚甘土之化又作與間物競味甘來添苦之衰於是苦中復生其甘也六陽明對化司地地氣乃虛辛物味薄間化來晚未及間味甘土來資於金虧於辛物中或有甘味間之此甘土佐金之間化助味也七少陽相火對化司地地有間化若味不專間物欲生土氣先作若味之中甘生其內令咸不生其間甘土之情其化急速多來接間八太陽對化司地在泉地氣乃虛咸物味薄甘物偏勝於是咸物之中反或甘味資其咸其味長此甘立刑勝回味之間也九太陰對化司地地氣乃虛自受他間或木來刑甘甘味合當衰矣甘物與黃花乃　穀皆當氣薄也其甘味亦懼木而衰應年虛而減卻移味在咸物之中味當不減十太陰正化在泉其左右間不至又無木運甘主自專即諸味中皆有甘間之不同別味也此在泉之中惟土多間地土合得大地佐之也</p>
<h2>卷之十六</h2>
<h3>五行類應紀篇</h3>
<p>草木風歲星毛蟲雷電皆應木東方之類厥陰主之四時主春時化主初氣八卦為震九宮為三宮上象為歲星天化今為風為和暖蟲化之類為毛蟲即師子麒麟為長地產之化味酸色青地之化物天之星象風之應候吉祥應時凶應凶兆吉應吉祥也此天東方之類皆應其木也即風木春令暄和之候風敷發生太虛埃昏大風摧拉其氣候遠視蒼埃四氣青霞輝彩芳卉蕃秀其產化酸生肥盛草木滋榮天正令運太過即獨行風令雨滋乃虧土乃從令木氣不刑土不從而化雨令化即大風伏之如是即雨中大風以相勝也如運符天德即歲星明盛青霞每彰蒼氣遠見毛蟲乃化即異獸同祥地產靈芝林生異木野有名草共合木德東方之正春無殺令和氣頻舒花卉媚發雷起春中電發應時虹霓應候順之即萬化舒榮逆之即變成災禍日辰甲乙卦有震巽歲星失度行年大飢民多疾病觀視歲星小者即民災至大即君聖國安民有福即慶合其星潤澤光明體白安靜行中道即性正也行正即君心乃正行邪即君心乃邪行舒即為重福遲疾失位皆虛也色青即民安色黃即豐稔色黑即大哭泣色赤而動搖即起兵大而芒角即國君有子之慶色白而小者國有當誅權臣也色青黑而忽大忽小有赤暈圍之有大黑風至歲星所行逆順守常必為福也失常必為災也歲星超舍而前日盈將有兵王候主不安運舍而後日縮其將死師敗歲星與月相掩蝕國多哭泣或大臣後妃薨與熒惑合當戮奸臣與太白相斗相合主大決戰又金與木星合金在木南南方兵敗金在木北北方兵敗東西亦然木星無光進退無常此國失政也國有憂逆行　斗會合環守國君無道也甲乙木德也風雷木令也春風鳴紊夏風飄揚秋風蕭　冬風颼　此是四時之常候也於是順之則萬化安逆之即民皆病春風飄揚即天下瘟疫春風蕭　即天下攙搶春風颼　即飢荒失業此春風失政也夏風鳴紊國政不安夏風颼　民多暴亡夏風蕭　兵戈大動此夏風失政者也秋風鳴紊即來年不稔秋風飄揚即民病痼疾秋風颼　國有奸臣此秋風失政者也冬風鳴紊即瘟病生於冬冬風飄揚即旱澇不勻冬風蕭　五穀不登此冬風失政者也雷者木之意氣也雷震卦東方卯位也電者雷之先也雷始震於東方五穀豐登雷始震於南方小旱也雷始震於西方必暴露尸骸牛馬疫死雷始震於北方百川溢注冬雷於上朔皆為亡國之兆發雷之地露尸於野雷電同占八魁日有疾雷主大戰大風起國有急令（八魁日者春巳巳丁五夏甲子壬戌秋巳亥丁未冬甲午壬辰也）冬戊子日不雨而電電光起而雷不發主天下兵亂天無云而雷大災於民雷電發帝室大夫欲為逆五年期交兵流血雷電擊於宗廟是名天戒君行不道再擊之八年削地奪國雷電擊貴人甲第有佞人持政六年削地雷電擊於貴人從官車騎此國君惑於女人失政事雷一聲而止此國君出重令雷聲霹靂蛟龍見國有賢士出雷雨中大風拔樹木損舍屋小人居上位賢士出走雷雨霹靂大殺人此國君聽讒言以殺忠良雷至夏不發聲君振不威武退強臣雷聲季秋名天狗鳴夷狄動兵雷發春前民發瘟病草木者地之形應也有靈芝異木生於宗廟者主君心專祀天下太平有靈芝異木生於郊社者主天下豐登太平有靈芝生於殿宇者主帝家後昌有樹生連理枝者國之瑞也帝宮室中生異木國有慶木死再榮國易政桑夏枯五穀不熟伐木有血君侯有憂陵墓有樹自生國失政也社稷中樹自死國君失地（社稷郊社是也於郊社中有大樹死）樹木非其時而落是賊金伐之二年有暴兵外來木自拔者其國將亂樹再生花君有災夏有霜木凋殞飄葉七十步國有大兵人棄故國木生夏枯不熟民災竹柏夏凋侯王失位樹泣天下有兵（不雨而樹濕謂之泣其色赤有兵敗）竹生無節國失政事竹生同根雙竿權臣謀位竹葉　死忽復生權臣執政枯木冬生是謂陰陽易位二年國亡木冬開花當生者死花生於冬主兵起（除梅及款冬花並四季花余外皆凶）木再榮實當死者復生（木春冬再結實君凶秋冬再結實鄰國必有侵）杏再實夏有冰雹李再實春有霜竹再實三年民大飢木忽鳴其主死木忽生道中君失理木生屋上其地有聖人木生非類者並民眾木自鳴如金聲地將分裂木變生枝國必傾草木如人形狀國有大難草木自除國將太平人莧生多病死菖蒲生多有大水蘼草生多必飢荒蒺梨多必攙搶毛蟲木類之形化麒麟生師子見獬HT　來騶虞見比肩獸出並應明王之瑞白狐來政及遠矣獨角獸見天下太平白象至君傾於邑白鹿見君事疾六足獸至卦公而不亂三目獸至謀乃庶人赤熊罷出權任臣下龍馬來資服其制文狐見恩及鰥寡九尾狐見王道昌虎有兩口世主將起大臣逆害虎相食三年大荒虎野狼入國郡邑凶野狼逐人夷狄來HT　入國被屠野獸與鳥斗邑中兵亂野獸無故入水其國亡獸入邑中群鳴邑空虛野獸自縊於市中歲邑有大水野獸大小群入邑及國都若道上有大害野獸生子如人形時將易主獸生子如六畜形邑虛野獸生子如彘人君國亡野獸生有翼如鳥天下有兵獸生子無耳鼻邑有兵亂獸生子無目邑有憂獸生子如蛇邑有火災野獸生子多足邑有民災野獸生子無尾君無後（家畜亦同）野獸生子於郭邑旱大災野狼鹿鳴於邑中作妖其年民死眾狐入室及屋有暴亡君以淫色亡野獸銜枯木入邑裡道路君國廢六畜忽言善惡如其言偃鼠出妖人起狐　嗥鳴於舍庭必有凶禍猿猴入城主水災獺入邑主大水白兔自至王者瑞兔上城邑必虛兔無故入宮殿生子國有憂兔行王宮其君亡紫兔出見必豐登兔有三足天下大疫牛馬忽變作異相君之憂人家馬變色其主凶牛生馬主君不保宗廟牛馬或言善惡如其言牛生南頭主軍分土牛生六足有上齒世主為盜牛生犢頭尾似魚兵大起牛生犢人面畜身天下民病牛交馬主世亂馬忽角生國將亡又主天子親征伐戎馬變尾如牛名曰易衣小人理大政馬生四耳者國分為四馬生羊者民安（牛亦同）羊有四目名曰並耀天下四爭犬生豕時大安豕生犬時不安犬與豕交諸侯外家婦謀害犬忽變毛色（黑犬忽變白白犬或變黑）家主被刑罰犬豕從土中生出者郡邑有大災大郡會於街衢中有大賊將起犬向人悲泣有大喪犬相將入水及上舍屋有大喪犬忽戲井有驚恐之事犬尿屎井中廟堂床席皆為大禍犬自食子憂牢獄犬忽自死大凶犬生子無頭家大凶犬生無後足門凶之兆鼠一日三生其子主飢鼠於樹上作窠有大水鼠聚於市大鳴群主將反鼠舞於中庭及道上家將破於地中間鼠聲家將破鼠自食子邑虛鼠將子去不回有火災鼠將子移穴大雨至鼠群居高牆頭有大水鼠斷頭道上主世亂殺人鼠生子數頭天下攙搶鼠子無足主凶年鼠聚物出主大荒鼠害稼穡國罰曲法熒惑夏令火羽蟲翮蟲皆應火南方丙丁火德行令於夏以應君相二火上應熒惑炅煌二星蟲應羽翮仰視熒惑大且光輝其星即喜民乃康和小且赤即怒民乃災病熒惑觀之近女宿即孕婦災產婦多死熒惑近南斗即君災熒惑近日月亦赤主大旱熒惑大而芒角生青暈圍之主大赤風化為熱病熒惑失度遠游行主民災流血熒惑芒角左右小小赤星侍之主民間火KT　舍屋傷人之眾熒惑黃且大為天下瘟疫熒惑變白兵來犯帝闕熒惑變青風多燥旱熒惑忽昏旱後大水丙丁天火燔宗廟（人君不謹敬淫　又失冬令）天火燒宮殿社稷有大殃人君內無正法（人君內無正法外無信行於臣下為火災也）天火燒宮觀寺舍君失正德（君聽淫婦之言並少後妃矣）天火燒郡郭門外叛欲發天火燒馬廄兵起天火燒人舍之眾國虧刑法天火燒野中五穀郡主失政天火燒山谷宰相不直天火燒萬物君心不慈天火燒牛國兵有怨天火燒川原武臣在下位天火燒軍中帳幕兵將敗天火燒樹木木呼鳴奸人將起天火燒牢獄囚有曲貴人天火燒街道主民走失地天火燒正殿是人君不聽諫天發焰於夜明不見火蹤君不明火自生自滅天下欲相吞滅火燒城郭大水漂流地忽生火光如照耀憂國亡軍中地火出兵敗將死宮室無故火　臭帝闕流血水中火出賊起兵凶鳳凰來一見之天下百年太平比翼鳥至德及幽隱白鳩來君不以新失舊白燕來巢君有孝德星墜為鳥有大兵至文鳥居野不出三年有喪且旱鸛與鵲同巢賢人據伐主衰失之象鵠巢樹其歲民多死鳥有三頭民多病死鳥有四足天下不稔鳥有二頭四足天下戰爭有鳥如鴉深紅足黑見之有火災有鳥大如鵲身黑肉翅頭如燕尾長毛名曰水魈見之有水災鴻雁翔來宮室上兩日或三日郡邑反叛鳥鳴人君門上作人聲其君亡五色飛鳥翱翔於帝室作異聲主君不安群鳥象人形而飛主君亡民失業眾鳥下飲人家井中水者家虛鳥飛作六畜形者世亂眾鳥飛作蛟龍形者主帝離闕走眾鳥飛作蜂蠅形者有火災鴿下子如鷹者主大風地分為三鳩一首三身者地動損眾鳥持於水上女持政王道絕眾鳥盤旋如爭者其地流血蝗蟲食草國政由女人蝗蟲所出而飛從他來忽自死不出三年大兵蜂生國舍內凶螻蛄眾飛集朝廷有名將出蝗蟲赤頭黑身或黑頭赤身皆政殘克賊與在野怪蟲生民傷殺（漢建武二年河北有怪蟲出大如鴻頭有發如皂線綰著草即飛不得化為青泥如此天下民苦）伯勞鳥為怪人君災（毛眾色大如鳥頭如貓嘴扁長也）伯勞聚居中歲有水伯勞鳴主凶喪伯勞斗於屋上及呼鳴不止六十日禍起群鳥頻夜鳴都邑有驚眾鳥住在人家舍屋上有火災烏與家雞交國有奸淫大烏傷五穀苗穗郡主不持政雀巢井中賊人伐君雀巢木上有大水雀與燕爭鄰國亂雀鷂並飛臣反於君群雀打鳥憂水旱雀不見歲中不稔雉巢木上大火至雉入人家有憂雉相戲於君殿上君災雉群鳴國分地雉來與家雞斗去而再來有戰爭夜半雌雞鳴起天下奸雄雞入井中有牢獄雞與烏斗君主殺雞卒然眾死主虛耗雞昏黃鳴主任女子為政雞逐野鳥高飛去土居人流散雞至日出不鳴主不聖雞不下卵生雜異蟲小人得位雞至午不下巢國令不時雌雞化為雄後必有女主亂政（唐顯慶二年有雌雞化為雄雞後武後為君矣）雌雞生冠主不臣（晉元帝興元中衡陽雌雞生冠八十日桓玄建國後八十日敗）雞下卵化為蜂五穀不成雞下卵化為鼠主攙搶雞與野鳥入人家有大災鴨不入水主大旱鴨起高飛小人居上位鵝下卵如走獸臣不忠鵝有雙頭起二主鵝鴨生獸尾天下民災有大鳥生百頭如眾鳴天下兵亂主生眾有大鳥食野獸奸雄捕有大蚊如蜂來傷民眾災禍有異蟲如蟬眾有聲韻小人得路有大鳥棲於帝殿久立不起無聲吉有聲凶有大鳥棲樹眾鳥侍之國吉民昌中央鎮星地土　蟲皆應土中央鎮星土之曜仰觀之順度皆吉流逆失度皆主凶也鎮星合於土運上應太陰司天皆視土曜以合災祥也鎮星大且光主民安小且暗主君民災大且芒角炅煌赤氣繞之主天下瘟疫（並天郁黃同見舉黃風後為大疫也）鎮星小並退逆有白氣侵之主大旱民災鎮星大而黃次有五等小黃星侍之主大豐民安也鎮星流而不行所臨分野災鎮星逆而退度大並芒角主兵動民災鎮星於五星中最行遲二年半行得一宮以為常度也若非次行疾者軍民皆災萬化不安鎮星忽青色主大風後五穀不登鎮星忽伏者先燥而後澤也（即旱澇不勻先澤而後有大雨也）鎮星忽黑者主久雨霖霪鎮星不近太陽忽伏者主君亡鎮星小有暈圍之主民死多災鎮星動而左右移易主人並兵亂鎮星下有赤氣長一丈余主謀臣持政鎮星初出至大上有白氣長五丈余主殺人流血千裡鎮星大而順度有紫氣逐之主帝子為君鎮星犯南斗主君災鎮星入天河且暗如留不行人相食也鎮星犯北斗十二年易主鎮星下有群星侍之天下歸明星墜為土大飢流血星墜為沙石兵動亡國地大震世主失位不出千日地動千裡土功興其年凶凡地動皆凶地動城郭屋室損人物是謂失四海有兵地裂一丈損五穀地裂地上門下臣從中起地裂市中國有憂地生血主流血地變赤如丹立攙搶地生鳥卵為民病地裂一裡將亡國山崩破為穀有水天下流亡地忽增起生道中天下大通地自陷其國亡（晉安帝元興八年春三月山陰地陷四尺有聲如雷其後兵起應兆）地增起城邑下理毀敗地增市中國有利地增社稷中王者益土地生石春夏昌利地陷入君室臣下起謀地自陷下或成泉及生雜物民災起大水塚墓中自作聲主禍亂塚墓自移天災國破塚墓自陷民流亡塚墓樹自死民多疫軍中野營中地動有交戰軍在野營中地生蠅蟲軍破將死軍口地成坑將軍死軍營中地裂宜移營吉宗廟中地陷及地裂國將亡地裂龍出君離邦地裂生火兵將亡地冬不凍國易政地忽生土錢民流散人家屋室下地生穴家將破帝闕中地生穴國破地朝生毛有水災地夕生毛有反叛地生肉塊軍民災地穴中起飛蟲及萬千民多疫死地穴中有黑氣起國有陰謀地穴中有白氣生散為霧翳主反亂冬月霧中有微雨一兩點名天泣尸主民失主地破生蛇主反叛地破生人主災地破生魚主水災地破生金類主大兵地破見鼠藏且荒亂地生人面有屈刑人地生人眼主禍亂地生土馬主兵亂地生土人諸侯不臣地生土獸狄人兵亂地生土牛棄之吉地中有人聲人災死地中有犬聲國有憂地中飛鳥聲民災地中鐘聲大臣災地中有雷聲民疫癘人頭上生頭天下有兵人死而復生如此多者民飢有兵亂（吳孫皓時焦死經七月穿土而復生俄國亡矣）人生而言國有讒賊人生而不見形者王事急民流亡人生龍蛇國有伐童女產者男吉女凶人生鼠者其地被奪人生野獸一年夷狄動人生牛馬兵動人生犬豕君失道人生魚頭者有大水人生有四目國衰人生目在腹五穀貴人生閉口者天下飢荒人生無頭及手足君失朝政人生無耳鼻者君昏不明諫人生多足流民四出人生手如足國生奸臣人生一頭兩身者君憂失權柄人生無足者有兵喪亂世又主國基虛人生有翼而飛去主大旱人生夜義者起奸雄人生牛角者主獸爭人生飛鳥者二年流亡人生無二臂國失輔佐人生一臂國失忠賢人生一足國失賢謀人生十子諸侯競位人生三子主太平人生三女國淫失政人生肉塊天下飢荒人生無陰國無朝典人生赤發如朱主旱又主絕門人生反脅必奸雄人生無發主凶年人生眉長過足國有壽人生滿面有毛國有多事人背生面國年背臣人生四足天下鼎沸人生有毛如猴天下攙搶人生頭如驢直臣不佐人生有尾民災害人生二口五穀不收人生鼻有二柱三竅國生嘉慶人生目有二瞳子乃上瑞之兆人生目中七瞳子天下多事人生四乳天下吞並人生三目天下進昌人生犬頭君心不正人生羊頭淫荒失政人生豬頭奸淫女人權正人生猴頭外臣不忠人生無九竅天下不通君不明人生面覷背國不祥人生三頭國有爭人生驢唇國生逆臣人生鳥卵國不進賢霧從地起亦應土德霧中有赤氣將有大疫霧變作黃云有大疫癘霧大起先紫後黑變晝如夜者內有陰謀霧化青云後成紫氣者聖帝在野中大霧經七日不散君昏不明霧起變兩久不晴者君聽淫婦之言黃云翳日後生黑霧主大雨青氣犯日散為黃氣主風雨夕占赤氣後化黑云云中有黃雜之後乃久雨白氣抱日黑云蓋之後云中化雹太白星金石山谷甲蟲皆應金西方庚辛金德上應太白上合陽明司天中合金運太過下應陽明在泉太白高且小主太平太白大且光芒主兵起太白失度近南即南有兵近北即北起兵太白行宿其形主斂下六進退合度天下昌太白當伏不伏主不臣太白不伏卻伏主兵不利太白晝見主大決戰太白與月相掩蝕易時主將受戮太白入月中星色分明臣有謀上太白東出月未圓星在月南即利星在月北即破軍太白在西方月初生星在月北陰國兵強星在月南中國兵勝太白與月相逼中間通三指兵強通兩指城憂一指拔城將走太白在鎮星北者失地亡國太白在東方日出猶見主兵戈太白始出時大後小者主兵弱太白始出時小後大者主兵強太白熒惑相合一東一西王侯受苦太白沉河漢中小且昏主殺人百萬流血千裡星墜為金鐵天下有兵鼎沸於野地中出見不出三年奪國（魏青龍年中成修宮室西取京安金火承露盤折樹聲千裡金犬泣於是因流霸城此乃金失其性也）鐘自鳴三年內兵亂（晉安帝永與十年霍山崩出鐘六口後律位於宋公劉裕也）石鼓自鳴國不安（三吳時石鼓鳴明年孫恩作亂）金鼓自鳴將有兵興刀自鳴凶刀刀生血戰勝國君之刀佩自拔乃血光有聲並主兵傷戈戟鋒刃有聲皆起兵照鏡不見其頭主遇害國庫金忽躍其分野易主市中金玉寶貝忽賤貴人失利軍中釜鳴將立功石人泣世將亂野中及山中石人自出有庶人為君（吳孫權五風二年五月陽羨縣離黑山有石人長一丈余直立案京房易傳庶人為天子之祥應也）石生如禽獸形諸侯興石如飛鳥形外戚女與近臣謀石生如小兒形君絕孕嗣石生道上國亡主石生石方三軍謀逆石生發如絲不出五年兵謀事石生重累不出五年相謀且成石生水中上見者近臣與女子連謀山生紫氣如芝草聖明君見山出器車聖君應（舜君理位山出車白精奉承即老人星見水通海不揚波灌不失時則日月揚光聖德無所不通者也）山生寶氣以合太平（寶氣見賢人出野君子在朝）山無故晝夜如人哭聲有兵喪（欲亡之歲石泣鬼哭天雨血）</p>
<p>山無故自崩國分君德銷（春崩國伐夏崩有大水秋崩有大兵冬崩大飢）山分裂君臣等爭山吼作雷聲半年賊來山崩分其地有戰山中出異物非人所見者有形質音聲者其邑大水及飢荒山非時動搖主天下戰爭山忽生光臣下不祥山忽赤如血者諸侯不助父子絕山化為人形其國虛山洞中水漱瑤音聖主臨朝（瑤音即玉響者）山見青黑氣即山水害人物山有白氣如練玉乃呈祥山有五色霞彩見合王升平民安樂龜生綠毛（見之太平）龜白眼如珠明君出見龜如玉合聖主將出蟹眾出主大風海螺鳴主大風蚌吐光主陰雨枯螺自鳴主禍亂龜與蛇交見之眾者主國敗政螺蛤相斗賊軍生亂飛鳥食蛤主飢荒龜作人言主臣反叛龜鱉食魚主飢荒龜三足主太平龜三尾主豐登龜九尾國有昌龜四目天下亂螺蛤甚眾主民災患螺蛤水上亂游走主兵亂鱉白色外臣反叛鱉三足諸侯得王蟹四甲者戰爭龜鱉游於市主兵亂龜生角主攙搶鱉生角小人得位霜依時令國有威嚴日中霜未消見日而反為霜此臣行刑不避君也霜下日未出而消此人君不行刑罰霜見日而不消此人君執堅不可犯或不見星而有霜此臣行君誅罰霜不殺物臣改君威霜下有聲兵來伐人春三月霜殺草木有兵歲飢季秋不霜國政失事江海百川及井鱗蟲辰星水雹雪應水北方辰星水德上應太陽寒水司天中合水運下應太陽在泉辰星非常可見見之光彩順度以合民安太平辰星見大且光芒主大寒雪辰星見之小且昏主民災辰星見之光而不芒明且瑩主衣冠文物聖德也辰星下有黑氣繞之主大水辰星小且黃色主冬溫不寒辰星失度動搖游走皆主凶年壬癸水德也河出圖洛出書醴泉生甘露降皆主明君之瑞也（黃帝生壽丘生時醴泉出應瑞符明君之德也）海不揚波明君之德黃河澄清以應太平（遇明時即清非三千年一度清也）水不潤下即刑不正百川潮宗君持政事水變如血其地殺人（陳太建二年江水變為血至金陵其後兵起後主國亡之兆）水中洲嶼長其分野益土星墜為水主兵喪水旱荒飢之災天不雨而生泉其國大水天不雨而涌泉民亂（吳孫休未安五年八月壬午江水溢長後二年起大兵）水忽逆流婦人惑亂政流水不行天下飢荒停水忽流天下兵起流水忽易道國易政令都邑水忽自絕及易其處所邑人流亡池水忽自盈溢國君亡清水忽濁天將亂水自流於朝市兵亂政水結冰於季春國失政夏水為冰歲不登秋水為冰歲主亂世冬水不冰即民病水忽自鳴民苦水作金聲民眾別國土水忽出於石縫臣下謀位井水溢出人逃難走井水忽濁天下攙搶井中有聲憂兵起井中出黑云有大水夏井有氣出即陰陽失正天下民病井中起雷即旱澇不勻江河中見龍卵主大水人家中庭忽出水將大富陂澤忽自竭邑虛不利河涸無水是謂陰反五年人流亡海潮不及君道虧河水涌起水如山峰是謂威厭五年臣背叛海潮久不退國有亂政海涌水高如山世亂不寧江河忽變六年國易主湖如海潮主臣反高陵變野澤主削其地流水浮金主太平流水浮文字主太平流水浮錦繡主民災水流浮異木明君將出見流水浮異獸主世亂兵雹及雪皆合水化也夏有雹即藏冰不時也（冬時斗建北陸日躔虛宿國家當藏冰藏冰要祀宗廟如不依時即夏雹至也）雹過人君要聞其過雹下殺鳥君聽讒言雹下剝樹皮折木枝即君行酷雪民有自害者也雹下殺五穀雹上如有眼即天罰之戒民過也雹下如珠君欲害民雹下如鵝卵人君侮慢也雹下如鳥嘴天戒臣讒言也凡太陽司天即寒侵夏令夏令奉天不行炎灼即雹不至如君相二火不奉天即行炎令即冰雹至故名天休火化也凡冬行大寒不下雪君無政事也冬有雨無雪是陰陽易令也雪下空中大至地小是刑有失政也雪下積雪如人形者民災雪下積雪如飛鳥形國有讒臣也雪下積雪如野狼虎陰地兵勝雪下漫物不漫山國不奄大賢也雪下未至地卻上而復下君欲冤無罪雪下而溫此君免有罪鱗蟲水之形化之用也龍來見主太平魚生二頭主戰爭黃龍見君瑞（舜攝位有黃龍負玉環而見顯大聖明君）龍斗國有爭（魯昭公時有龍斗子產曰修德可無患也）龍下飲軍營中水國虛龍見於川君有災龍入人居室若出去池中皆臣下謀上蛇集道上及都邑斗於市國不祥蛇冬見於正寢凶勿殺之蛇交於市國亡冬見蛇於市大臣謀蛇入井中民疾患蛇生兩頭主戰爭蛇生一角諸侯王蛇生二足民災患蛇生二尾賊寇多蛇生四足主攙搶民眾呼蛇作龍國不安蛇生鼠頭國之虛蛇生鳥嘴見之凶蛇生人頭民災死蛇生鳥翼起奸雄魚生頭似獸國不安魚生人頭多疾病魚生鳥嘴見之災比目見眾恩行於天下也鯉魚生角諸侯聽政天雨下魚有兵喪魚行人道兵亂世海罰大魚出於陸地主大臣薨鯨魚出海世主亡魚生鳥翼世將亂魚生四目主災凶魚眾見主不稔魚賤於市將飢荒魚生鳥尾國將變鯢魚見眾小兒災魚如女面奸淫亂江湖絕魚暴兵起（吳楚反吳王劉淖關HT　女海魚為監其年魚絕於江湖其時亂）魚飛去水不還國暴兵魚生三口國不祥魚無目國政虧魚生人手起攙搶魚躍出水民眾災魚生人足小人為臣魚無尾世亂人流散魚相群斗主兵亂以上五等變異之化非變異自古有之即隨天地運氣報應生也即凶應凶兆吉應吉祥也</p>
<h3>生稟化源紀篇</h3>
<p>且夫有物混成自元始虛無一氣凝然太初妙道之始從無入有天地未形之時太初結而成太極太極判而生天地即以清氣上升為天濁氣降下為地地之陰精為月天之陽精為日日月交合而生五星於天地始開辟中有子號五行即與五星一類六氣一宗也即地生淵源為水月之坎位為北即先生水水數故一次天之陽氣為火日之離位居南故次生火火數二次水脈資生乃成草木坎位北方生於震震生東方木故木數三其次元之化生山岳山岳之中產金玉故坤元之位生於兌兌生西方金故金數四次四方被象生中土故土數五而居中央於是五行中以土為尊者即坤土是也此非是火之子也此是太初始分濁氣下降為地也即坤元也坤元始於太初妙道故坤土尊也次有火生之子者即中央土也非坤元也即坤與中央須分兩位也即在地成形為五行在天為氣名六氣即天之號令乃為風即厥陰木是也故為初氣東風生和乃為暄即少陰君火是也故為二氣暄中有熱乃為暑即少陽相火是也故為三氣暑中蒸溽乃為濕太陰土是也故為四氣雨濕之中化為　陽明金是也故為五氣清中生寒乃為凜太陽水是也故為六氣寒中生風終復初也從此至今如環無端終而復始也即天生歲星地生木地生木時天生風丁壬相合生毛蟲天生熒惑地生火地生火時天生熱戊癸相合生羽蟲即君相二火同天生鎮星地生土（坤土先生巳文即此時火生土也）地生土時天生濕濕化為雨露也甲己相合生　蟲天生太白地生金地生金時天生　（又金化燥者何也故辛嫁丙為夫庚壬時辛歸辛歸時戴火金歸故金化燥也即夫之令也此　化者是金本性也）乙庚相合生甲蟲天生辰星地生水地生水時天生寒丙辛相合生鱗蟲也天生生氣地生春地生酸時天生角木運流行乃生青青龍之象配於東方天生長氣地生夏地生苦時天生徵火運流行乃生赤朱雀之象配於南方天生化氣地生長夏（即夏季是也土壬四季即季夏應坤真土位也名長夏者即長養之時者也）地生甘時天生宮土運流行乃生黃貴神之象配中坤（貴神總諸土神也）天生收氣地生秋地生辛時天生商金運流行乃生白白虎之象配於西方天生藏氣地生冬地生咸時天生羽水運流行乃生黑玄武之象配於北方地生坎卦天生一宮地生坤卦天生二宮地生震卦天生三宮地生巽卦天生四宮地生中土天生五宮地生乾卦天生六宮地生兌卦天生七宮地生艮卦天生八宮地生離卦天生九宮九宮配地八卦畫地天九為奇數乃陽也地八為偶數乃陰也即天奇陽生造地偶陰生化即名造化也故陽造而陰化也即名造生化源也故造化二字即陰陽相生也究其宗則陰陽並生於太初也後來陰陽相生也即陽生陰中陰生陽中也即陽極生陰陰極生陽也且夫草木果穀花卉萬物即性生之宗祖皆是大道自然一氣而成也然後分造化也即以苗為造子為化也若以苗從子生子自苗成如此究之即不可窮源也即始於天地自然一氣為初也當此時根苗齊生也後來苗生子子生苗故名造化也故以苗為造生子為化源也萬化源也如此五蟲之化亦然也五蟲者即總世界之中萬般動活之類不離五蟲也即總而分五以應五行也且夫人者應土為　蟲如為　蟲之長也始自太初太極天地初開辟一氣大道自然而成也當此之時男女並生後來因交合而生人也即以身為造生也陰氣為化源也（陰氣者即男莖物女牝所也為化源也）即身生陰器陰器生人因交合而成也如萬物苗生子子生苗也又如鳥下卵卵自鳥下鳥自卵生如此即不可窮其源也究其始自天地初分自然之化下亦然雌雄並生後分造化因交合而成也卵中生鳥各有雌雄也故以形為造生卵是化源今說此即五蟲皆如是即萬種生化皆以天地始也</p>
<h2>卷之十七</h2>
<h3>六元還周紀篇</h3>
<p>帝曰太陽之政奈何岐伯曰辰戌之紀也太陽（木運太陽故以為初）太角（中木運太過角木音故太角也）太陰（下見太陰在泉）壬辰壬戌（戌正化辰對化）</p>
<p>其運風（木化風也丁壬木運故風化）其化鳴紊啟拆（得初氣風鳴條紊裂啟拆萬物萌芽始生也）其變振拉摧拔（風本木化太過即自傷木也）其病眩掉目瞑（氣令太過即肝自病）太角初（以木為初即壬戌對壬辰正）少徵（即壬戌生癸亥壬辰生癸巳此初元生二元癸火運巳亥陰故少徵徵即火之陰也）太宮（此癸亥生甲子癸巳生甲午也子午陽年也故太過甲土運故太宮宮土音也此資生第三元）少商（此甲子生乙丑甲午生乙未乙金運丑未陰年不及故少商商金音也此資生第四元也）太羽終（常以木初水終是六氣之首尾也即角羽二字見初終也此是乙丑生丙寅乙未生丙申也丙水運寅申陽年主太過故太羽羽水音也此資生第五元）少角（此一陰素問中不下即隱於還周也此第六元復始還周也卻至於角也即復於始也次有一位即別起元頭此第六元丙寅生丁卯丙申生丁酉丁木運故少角卯酉陰年不及故少也即丁復見壬也丁壬合其干德丁壬木運復見角故曰還周也）</p>
<p>太陽（火運太陽故為第二是司天也）太徵（中火運太過徵火音故太徵）太陰（下見太陰在泉）戊辰戊戌（辰對化戌正化）其運熱（戊火運辰戌陽年火行熱令故熱）其化暄暑郁燠（皆火其氣有餘故熱甚也）其變炎烈沸騰（火令盛變野水如湯故沸騰也應火太過也此即不然也若戊寅戊申戊子戊午皆應熱化主太過今不然者戊戌戊辰上太陽水司天故不應也）其病熱鬱（亦不應也）少徵（徵火音也即戊辰戊戌戊火運辰戌陽年也陽年當大迥今反少徵者司天水克之故少徵也）少宮（即戊辰生巳巳戊戌生巳亥也巳土運巳亥陰年陰年不及故少宮也宮土音也此資生第二元故也）太商（此巳巳生庚午巳亥生庚子庚金運故商也子午陽年陽年主大過故太商商金音也此即資生第三元也）少羽終（羽水主終也此即庚子生辛丑庚午生辛未也辛水運也丑未陰年不及故少羽羽水音也此資生第四元也。）太角初（常以木為初氣也此是辛丑生壬寅辛未生壬申也壬木運故角也寅申陽年陽年主太過故太角角木音也此資生第五元也）少徵（此壬寅生癸卯壬申生癸酉癸火運故徵卯酉陰年陰年不及故少徵徵火音也前元首戊今六元見癸戊癸干合火也故曰還周也）</p>
<p>太陽（司天也上運太陽故為第三）太宮（中見土運宮土音也）太陰（下見太陽在泉）甲辰歲會甲戌歲會（戌正化辰對化運同在泉土故名同歲會）其運陰埃（土營運濕化故沉陰埃昏也）其化柔潤重澤（土施雨令即　□　霏微即萬物潤澤也）其變震驚飄驟（甚即雷震暴驟主下大雨施行也）其病濕下重（太過即傷脾病多泄沾也）太宮（土音也甲土運即甲辰甲戌辰戌陽年陽年生太過故太宮為元首）少商（此甲辰生乙巳甲戌生乙亥乙金運商金音己亥陰年陰年不及故少商也此資生第二元也）太羽終（此乙巳生丙丁乙亥生丙子丙水運羽水音也子午陽年陽年主太過故太羽也此資生第三元也）太角初（此丙午生丁未丙子生丁丑丁木運角木音也丑未陰年當不及今太角者何丁本在未此中合直符故太角也即丁未太角丁丑少角故兩說也此資生第四元也）太徵（此丁未生甲戊申丁丑生戊寅戊火運徵火音寅申陽年主太過故太徵此資生第五元）少宮（此戊寅生己卯戊申生己酉己土運宮土音也此以復見甲甲己相合此六元還周復始也）</p>
<p>太陽（司天也此金運太陽故為第四）太商（中見金運）太陰（下見太陰在泉）庚辰庚戌（辰對化戌正化）其運涼（金營運　令故涼金之性）其化霧露蕭　（金布氣候白埃之中霧主霜露樹木凋零金風蕭　也）其變肅殺凋零（金營運肅殺葉不待黃而蒼落凋衰）其病燥背瞀胸滿（金病乃燥太過即肺病久及於肝故胸滿瞀悶）太商（商金音也庚金運庚辰庚戊辰戌陽年故太商也）少羽終（此庚辰生辛巳庚戌生辛亥也辛水運羽水音也己亥陰年不及故少羽此資生第二元）少角（此辛巳生壬午辛亥生壬子壬木運角木音子午陽年陽年當太過今少角者此為午為火木得火而虛也故少角即壬午少角壬子太角故兩說此資生第三元）太徵（此是壬午生癸未壬子生癸丑癸火運徵火音丑未陰年當不及今太徵者何也此癸本在丑名干合直符故癸丑太徵癸未少徵資生此第四元）少宮（此是癸未生甲申癸丑生甲寅甲土運宮土音也寅申陽年當太過今少宮者此是申為金名支罰干虧即甲懼申故少宮即甲申少宮甲寅太宮兩說此資生第五元）少商（此甲申生乙酉甲寅生乙卯乙金商金音卯酉陰年故少商此第六元首庚尾乙乙庚合商名曰還周也）</p>
<p>太陽（司天也水運太陽故為第五）太羽（中見水運）太陰（下見太陰在泉）丙辰丙戌（辰對化戌正化）其運寒（水行寒今故寒化也）其化凝慘凜冽（上見司天水中見水運故二水相合故凝慘凜冽）其變冰雪霜雹（二水相合即易反冷行炎即冰雹殺之冬政嚴凝大雪布化也）其病大留於溪穀（病在腎久及於心病留蓄血於下可刺溪穀穴也）太羽終（此水運丙水也羽水音也辰戌陽年太過故太羽）太角初（此丙辰生丁巳丙戌生丁亥也丁木運角木音也己亥陰年當少角今太角者此己亥年也上見厥陰司天丁合天符故太角此資生第二元）太徵（此丁巳生戊午丁亥生戊子戊火運徵火音平午陽年陽年太過故太徵此資生第三元）太宮（此戊子生己丑戊午生己未巳土運宮土音丑未陰年當不及今太宮者是己本生未干合直符也故太宮即己未太宮己丑少宮兩說四元）少商（此己丑生庚寅巳未生庚申庚金運商金音寅申陽年當大過今少商者此寅申上見相火克之名天刑此資生第五元）少羽（此庚申生辛酉庚寅生辛卯辛水運羽水音此辛見丙後水運第六元還周也）</p>
<p>帝曰愿明陽明之政奈何岐伯曰卯酉之紀也陽明（司天也水運陽明故為第一也）少角（中見木運）少陰（下見少陰在泉）　熱勝復同（此木不及災三宮即金行於木勝至甚火來復勝金被火勝木乃平復即名　勝熱復同初初勝也）正商（司天陽明金也有味復之年天不太盛故正商）</p>
<p>丁卯歲會（丁未運卯為木也運與年同故歲會）丁酉（正化也不名會）其運風　熱（風即木木運化　即金來克木熱即火復勝金故三化）</p>
<p>正角初（角木音也丁木運也卯酉陰年當少角為丁卯卯木為歲會當太角今正角金勝之下太也丁酉少角也即兩說此元首）少徵（此丁卯生戌辰丁酉生戊戌戊火運徵火音也辰戌陽年當太徵今少徵者上見司天水克之此資生第二元）少宮（此戊戌生己亥戊辰生巳巳土運宮土音巳亥陽年主不及故少宮此資生第三元也）</p>
<p>太商（此巳亥生庚子巳巳生庚午庚金運商金音也子午陽年當太角今少商者何也此子午年上見少陰君火司天天火克之命曰天刑故少商此資生第四元也）少羽終（此庚午生辛未庚子生辛丑辛水運羽水音也丑未陰年陰年主不及故少羽也此資生第五元也）少角初（此辛未生壬申辛丑生壬寅壬水運角木音也寅申陽年當太角今少角者何也此申為金克木運各支刑即申少寅太此還周之說詳矣）</p>
<p>陽明（司天也火運陽明故為第二）少徵（中見火運）少陰（下見少陰在泉下合約火同歲會）寒雨勝復同（火不及災九宮水行寒勝之勝至甚也土行雨令復勝水大乃平故寒雨勝復同）癸卯癸酉（酉正化卯對化）其運熱寒雨（熱者火運本化寒者水來行勝雨者土復勝水故三化）正徵（癸卯癸酉火運徵火音也卯酉陰年當少徵今正徵者地火少陰符之此元首）太宮（此癸卯生甲辰癸酉生甲戌甲土運宮土音也辰戌陽年陽年太過故太宮此資生第二之元也）少商（此甲辰生乙巳甲戌生乙亥乙金運商金音也己亥陰年故少商此資生第三元）太羽終（此乙巳生丙午乙亥生丙子丙水運羽水音也子午陽年故太羽此資生第四元）太角初（此丙午生丁未丙子生丁丑丁木運角木音也丑未陰年當少角今太角者何也此丁本在未名干合直符故太角即未太丑少雨說此資生第五元也）太徵（此丁未生戊申丁丑生戊寅此前癸見戊戊癸合火運合元此第六還周始）</p>
<p>陽明（司天也土運陽明故為第三）少宮（中見土運）少陰（下見少陰在泉）風涼勝復同（土不及災五宮木行風令來勝之勝至甚也金來復勝涼克風土乃平故名風涼勝復同）己卯巳酉（酉正化卯對化）其運雨風涼（雨者土之本化風者木來勝土涼者金復勝木故三化也）少宮（此巳酉巳卯歲巳土宮此元首）太商（此巳卯生庚辰巳酉生庚戌庚金運商金音也辰戌陽年陽年當太過故太商此資生第二元）少羽終（此庚戌生辛亥庚辰生辛己辛水運羽水音也巳亥陰年不及故少羽此資生第三元）少角初（此辛己生壬午辛亥生壬子壬木運角木音也子午陽年當太角今少角者為午為火木見火虛故少角即子太午少也此資生四元也）太徵（此壬午生癸未壬子生癸丑癸火運徵火音也丑未陰年當少徵今太徵者此癸本在丑名干合直符故太徵即丑太未少也此資生第五元也）太宮（此癸未生甲申癸丑生甲寅甲土運宮上音也首巳終甲申巳合土此第六元周而復始也）</p>
<p>陽明（司天也金運陽明故為第四也）少商（中見金運）少陰（下見少陰在泉即地勝金運）熱寒勝復同（金不及災七宮即火行熱令來勝之勝至甚也金有子即水行寒來復勝火金乃平調故名熱寒勝復同也）乙卯乙酉歲會太一天符（歲會者乙本在卯故名歲會也太一天符者三合會也即上見陽明金中金運下酉為金三金相合命曰太一天符也）其運涼熱寒（涼者金運本化也即三合會金少當太即熱寒二化不應即勝復不至也）太商（乙卯乙酉乙金運商金音也卯酉陰年當少商今太商者即是太一三合會故太商為此元首也）</p>
<p>太羽終（此乙卯生丙辰乙酉生丙戌丙水運羽水音也辰戌陽年太過故太羽此資生第二元也）太角初（此丙辰生丁巳丙戌生丁亥丁木運角木音也己亥陰年當少角今太角者即己亥厥陰木司天運合天符故太角此資生第三元也）太宮（此戊午生巳未戊子生巳丑巳土運宮土音也丑未陰年當少宮今太宮者何也即巳本在未此干合直符故太宮即未太丑少此資生第五元也）太商（此巳未生庚申巳丑生庚寅庚金運即首乙尾庚庚乙○第四原合金遠此第六元還周復始也無）陽明（司天也水運陽明故為第五）少羽（中見水運）少陰（下見少陰在泉運水克地火也）雨風勝復同（水不及災一宮即土行雨令來勝之勝至甚也水有子為木即木來復勝之風勝雨也水乃平此風雨勝復同也）辛卯辛酉（酉正化卯對化）其運寒雨風（寒者水運之本化也雨者土來勝之風者木來復勝之故三化令也）少羽終（辛卯辛酉辛水運羽水音也卯酉陰年不及故少羽元首）太角初（此辛卯生壬辰辛酉生壬戌壬木運角木音也辰戌陽年故太角此資生第二元）太徵（此壬辰生癸巳壬戌生癸亥癸火運徵火音也巳亥陰年當少徵今太徵者何也此為火年支佐之故火徵即癸巳太徵癸亥少徵當兩說之此資生第三元）太宮（癸巳生甲午癸亥生甲子甲土運宮土音也子午陽年故太宮此資生第四之元也）太商（此甲午生乙未甲子生乙丑乙金運商金音也丑未陰年當少商今太商者何也此丑未土土生金金資之故太商此資生第五元也）太羽終（此乙未生丙申乙丑生丙寅丙水運羽水音也辛首丙尾丙辛合元羽水此第六元還周復始）帝曰善少陽之政奈何岐伯曰寅申之紀也少陽（司天也木運少陽故為第一）</p>
<p>太角（中見木運）厥陰（下見厥陰木在泉運木相合約歲會）壬寅壬申（寅正化申對化）其運鼓風（木營運風化令）其化鳴紊啟拆（木太過風鳴條紊啟地裂啟萌開拆花卉春風啟發也）其變振拉摧拔（木怒即風傷其木故摧拔隕落）其病掉眩支脅驚駭（太過即傷肝久及於脾病也）太角初（壬寅壬申壬木運角木音也寅申陽年故太角即元首）少徵（此壬寅生癸卯壬申生癸酉癸火運徵火音卯酉陰年當不及故少徵也此資生第二元也）太宮（此癸卯生甲辰癸酉生甲戌甲土運宮土音也辰戌陽年陽年太過故太宮此資生第三元）少商（此甲辰生乙己甲戌生乙亥乙金運商金音也巳亥陰年陰年不及故少商此資生第四元）太羽終（此乙己生丙午乙亥生丙子丙水運羽水音也子午陽年太過故太羽此第五元也）少角初（此丙午生丁未丙子生丁丑丁木運角木音也首壬尾丁丁壬合木運此第六元還周復始）</p>
<p>少陽（司天也火運少陽故為第二也）太徵（中見火運上與天同）厥陰（下見厥陰木風在泉）戊寅天符戊申天符（符者合也上少陽火司天中戊火運上與天同合德）其運暑（火運暑化）其化暄囂郁燠（相火化第三氣當此萬物暄囂茂盛也）</p>
<p>其變炎烈沸騰（火太過炎灼流金即野澤如湯沸）其病上熱鬱血溢血泄心痛（火太過即傷心久及於肺火司天熱病行於上也血溢即吐血叨血血泄即下血便血心痛即心中滿痛）太徵（戊寅戊申戊火運徵火音也寅申陽年太過故太徵也此為元首也）</p>
<p>少宮（此戊寅生巳卯戊申生巳酉也巳土運宮土音也卯酉陰年少宮此第二元）太商（此己卯生庚辰巳酉生庚戌庚金運商金音也辰戌陽年主太過故太商也此資生第三元也）少羽終（此庚辰生辛巳庚戌生辛亥辛水運羽水音也巳亥陰年陰年不及故少羽也此資生第四元）少角初（此辛巳生壬午辛亥生壬子壬木運角木音也子午陽年太過當太角今少角者何也即午為火木逢火虛故壬午少角壬子太角故兩說之此資生第五元也）太徵（此壬午生癸未壬子生癸丑癸本在丑干遇直符故太徵即首戊尾癸戊癸合火運此元首還周）</p>
<p>少陽（司天也土運少陽故為第二也）太宮（中見土運）厥陰（下見厥陰木在泉地克運之土）甲寅甲申（寅正化申對化）其運陰雨（土營運雨令化）其化柔潤重澤（已化濕時今溽暑即萬物柔潤太過即久雨沉陰謂之重澤）其變振驚飄驟（怒即暴卒注下謂之變也）其病體重　腫痞飲（太過即脾病久及於腎也）太宮（甲寅甲申甲土運宮土音也寅申陽年陽年太過故太宮也此元首也）太商（此甲寅生乙卯甲中生乙酉乙金運商金音也卯酉陰年不及當少商今太商者何故也此上見陽明金運合天符也此資生第二元也）太羽終（此乙卯生丙辰乙酉生丙戌丙水運羽水音也辰戌陽年太過故太羽也此資生第三元也）</p>
<p>太角（此丙辰生丁巳丙戌生丁亥丁木運角木音也己亥陰年當少角今太角者何也此土見厥陰木司天合木也此資生第四元）</p>
<p>太徵（此丁己生戊午丁亥生戊子戊火運徵火音也子午陽年主太過故太徵此資生第五元）少宮（此戊子生巳丑戊午生己未首甲尾巳合土運此第六元還周而復始也）</p>
<p>少陽（司天也金運少陽故為第四）太商（中見金運）厥陰（下見厥陰木在泉運金克地木也）庚寅庚申（寅正化申對化）</p>
<p>其運涼（金營運涼化令）其化霧露　切（金太過即白埃四起化為霧露　切金性　冷也）其變肅殺凋零（變者變令非常也金怒白氣化殺即草木蒼落不待於黃）其病肩背胸中（太過即傷肺久及於肝病）少商（庚寅庚申庚金運商金音也寅申陽年當太商今反少商者何也即上見少陽相火司天天火刑之故名天刑也故少商即已上化令皆不應也）少羽終（即庚寅生辛卯庚申生辛酉辛水運羽水音也卯酉陸年不及故少羽也故此資生第二元也）太角初（此辛卯生壬辰辛酉生壬戌壬木運角木音也辰戌陽年陽年太過故太角此資生第三元也）太徵（此壬辰生癸巳壬戌生癸亥癸火運徵火音也巳亥陰年陰年不及當少徵今太徵者何也即巳為火此得年支合故太徵也即巳太亥少即雨說此資生第四之元也）太宮（此癸巳生甲午癸亥生甲子甲土運宮土音也子午陽年故太宮此資生第五元也）少商（此甲午生乙未甲子生乙丑乙金運商金音也即首庚尾乙乙逢庚合其金即商卻還復也）</p>
<p>少陽（司天也水運少陽故為第五）太羽（中見水運）厥陰（下見厥陰木在泉也）丙寅丙申（寅正化申對化）其運寒肅（運水當寒肅令）其化凝慘凜冽（水太過營運此化凝即冰凍也慘沉陰也凜冽即寒甚也即運水勝天火）其變冰雪霜雹（令變非常氣過也德化冰凝布化即霜雪殺化即冰雹不待於冬）其病寒浮腫（病本於腎久及於心）太羽終（丙寅丙申丙水運羽水音也寅中陽年故太羽元首）太角初（此丙寅生丁卯丙申生丁酉丁木運角木音也卯酉陰年不及當少角今太角者即卯木歲會即卯太酉少此資生第二元也）太徵（卯丁卯生戊辰丁酉生戊戌戊火運征火音心辰戌陽年太過故太徵也此資生第三元也）</p>
<p>太宮（此戊辰生巳巳戊戌生巳亥巳土運宮土音也巳亥陰年不及當少商今太宮者即六巳在坤尾巳是也此資生第四元也）少商（此巳巳生庚午巳亥生庚子庚金運商金音也子午陽年太過今少商者何也謂午為火少陰司大火即天刑之故少商此資生第五元也）少羽終（此庚午生辛未庚子生辛丑辛水運羽水音也辛逢丙合水運羽此六元還周復見羽也）</p>
<p>帝曰善聞太陰之政奈何岐伯曰丑未之紀也太陰（司天也木運太陰故為第一也）少角（中見木運）太陽（下見太陽在泉）　熱勝復同（木不及災三宮即金行　令來勝之勝至甚也火來復勝之木乃平調故名　勝熱復勝也）正宮（不及之年司天土平故正宮即五位皆同）丁丑丁未（未正化丑對化）其運風涼熱（風者木運之本化也涼者金來行勝犯之熱者火復勝金故三化也）正角初（丁丑丁未丁本運角木音也丑未陰年當不及故少角今言正角者即丁本在未名干合直符亦當大角也為上見土司天即木運承之氣半歸土運又減之故正角即未正丑少兩說之元首）太徵（即丁丑生戊寅丁未生戊甲戊火運徵火音也寅申陽年陽年太過故太徵此資生第二之元也）</p>
<p>少宮（此戊寅生巳卯戊申生巳酉巳土運宮土音也卯酉陰年不及故少宮此第三元也）太商（此巳卯生庚辰巳酉生庚戌庚金運商金音也辰戌陽年太過故太商也此資生第四元也）少羽終（此庚辰生辛巳庚戌生辛亥辛水運羽水音也巳亥陰年陰年不及故少陰也此資生第五元也）少角初（此辛巳生壬午辛亥生壬於壬木運午為火木逢火虛故少角丁逢壬合木運還周復始於角）太陰（司天也火運太陰故為第二也）少徵（中見火運）太陽（下見太陽水在泉地水勝於運火也）寒雨勝復同（火不及災九宮即水行寒令來勝之勝至甚即土行雨化復勝之故曰寒雨勝復同也）癸丑癸未（未正化丑對化）其運熱寒雨（熱者火運之本化也寒者水令來勝火也雨者土令來復勝水故行此三化令也）少徵（癸丑癸未癸火運徵火音也丑未陰年當少徵也癸雖在丑見直符即地見太陽水克之故少徵也此為元首也）太宮（此癸丑生甲寅癸未生甲申甲土運宮土音也故寅申陽年太過故太宮此資生第二元）太商（此甲寅生乙卯甲申生乙酉乙金運商金音也卯酉陰年當少商今太商者上見陽明金運合天金曰天符故太商此資生第三元也）太羽終（此乙卯生丙辰乙酉生丙戌丙水運羽水音也辰戌陽年太過故太羽此資生第四元也）</p>
<p>太角（此丙辰生丁巳丙戌生丁亥丁木運角木音也巳亥陰年當少角上見天符故太角第五元也）太徵（此丁巳生戌午丁亥生戊子戊見癸合火運此第六元復還徵音也）</p>
<p>太陰（司天也土運太陰故為第三也）少宮（中見土運）太陽（下見太陽水在泉土還上與天同下勝地）風清勝復同（土不及災五宮即木行風化木來勝於土勝至甚也即金行　令復勝於木土乃平調故名風清勝復同同者金勝同前勝也）巳丑太一天符巳未太一天符（巳運土丑未年土上太陰司天土三者合會故名太一天符也）其運雨風涼（土行雨令土本化也風者木來勝土也涼者金來勝木也土合天符惟土雨獨化即風涼二化不來勝）太宮（巳丑巳未巳土運官土音也上合天符故太宮此為元首也）少商（即巳丑生庚寅巳未生庚申庚金運商金音也寅申陽年太過當太商今少商者即寅申上見少陽相火司天名曰天刑故少商此資生第二元）少羽終（此庚寅生辛卯庚申生辛酉辛水運羽水音也卯百陽年不及故少羽也此資生第三元）太角初（此辛卯生壬辰辛酉生壬戌壬木運角木音也辰戌陽年太過故太角也此資生第四元）太徵（此壬辰生癸巳壬戌生癸亥癸生第二元也）太宮（以下缺注）　太陰　少商　太陽　執寒勝復同　乙丑乙未　其運涼熱寒　太商　太羽終　太角　少徵太宮　太商　太陰　少羽　太陽　雨風勝復同辛丑辛未（未正化丑對化）其運寒雨風（寒者水運之本化雨者土來勝水風者水復勝土故此三化令也）太羽終（辛丑辛未辛水運羽水音也丑未陰年當少羽令太羽者即太陽在泉與地合故太羽此元首）少角初（此辛丑生壬寅辛未生壬申壬木運角木音也寅申陽年今少角者木見火虛上司天火也故少角此資生第一元也）太徵（此壬寅生癸卯壬申生癸酉癸火運徵火音也卯酉陰年當少徵今太徵者即卯木生火火王也此資生第三元）太宮（此癸卯生甲辰癸酉生甲戌甲土運宮土音也辰戌陽年太過故太宮也此資生第四元）少商（此甲辰生乙巳甲戌生乙亥乙金運商金音也巳亥陰年不及故少商也此資生第五元也）</p>
<p>太羽終（此乙巳生丙午乙亥生丙子丙終見辛首丙尾辛共水運此六元羽復還周也）</p>
<p>帝曰善少陰之政奈何岐伯曰子午之紀也少陰（司天也木運少陰故為第一）太角（中見木運）陽明（下見陽明在泉）</p>
<p>壬子壬午（午正化子對化）其運風鼓（木營運風化令）其化鳴紊啟拆（木得初氣即發生萬物故風鳴條紊裂啟拆萌牙生長也）其變振拉摧拔（太過即今變易也風傷木）其病支滿（太過即傷肝久及於脾也）太角初（此壬子壬午壬木運角木音也子午陽年當太角故為元首也）太徵（此壬午生癸未壬子生癸丑癸火運徵火音也丑未陰年不及當少徵不太徵者即癸在丑即干合直符也故丑太未少也故兩說之此資生第二元也）太宮（此癸未生甲申癸丑生甲寅甲土運宮土音也寅申陽年太過故太宮也此資生第三元也）太商（此甲申生乙酉甲寅生乙卯乙金運商金音也卯酉陰年不及當少商也今太商者何也即上見陽明金司天令天符也此資生第四元也）太羽終（此乙卯生丙辰乙酉生丙戌丙水運羽水音也辰戌陽年太過故太羽也此資生第五元也）太角（此丙辰生丁巳丙戌生丁亥丁木運角木音也巳亥陰年不及當少角也今太角者何也上見厥陰木司天運合天符也此丁逢壬還周也）</p>
<p>少陰（司天也火運少陰故為第二）太徵（中見火運）陽明（下見陽明在泉）戊子天符戊午太一天符（符者合也運與天同曰天符也並年三合會也天合三元太一天符也）其運炎暑（太過有餘又與天同即火氣盛化故炎暑）其化暄曜郁燠（火運太過即暄熱曜明也郁燠即熱中於民眾病也）其變炎烈沸騰（變易非常令也炎暑盛化即水如湯沸也）其病上熱血溢（太過即傷心久及肺病）太徵（戊子戊午戊火運徵火音故為元首之初氣也）太宮（此戊午生巳未戌子生己丑己土運未丑陰年當不及今太宮者此己本在未合十直符故太宮此資生第二元也）少商（此巳未生庚申巳丑生庚寅庚金運商金音也寅申陽年當太商今少商者此庚申少陽相火司天天刑運故少商此資生第三元）少羽終（此庚寅生辛卯庚申生辛酉辛水運羽水音也卯酉陰年不及故少羽也此資生第四元）太角初（此辛卯生壬辰辛酉生壬戌壬木運角木音也辰戌陽年太過故太角此資生第五元也）太徵（此壬辰生癸巳壬戌生癸亥癸火運徵火音也巳亥陰年當不及今太徵者此巳為火即支合干德故太徵即癸逢戊戊癸火運此第六元徵得還周也）</p>
<p>少陰（司天也上運少陰故為第三）太宮（中見土運）陽明（下見陽明在泉也）甲子甲午（午正化子對化）其運陰雨（土營運濕化令故陰雨也）其化柔潤時雨（土化溽暑埃濕故柔潤至第四氣中大雨時行）其變飄驟震驚（今變易政即太過有餘即雨暴卒注下雷雹震驚土勝也）其病中滿身重（太過即傷脾久及於腎病也）太宮（甲子甲午甲土運宮土音也子午陽年故太宮元首也）少商（此甲子生乙丑甲午生乙未乙金運商金音也丑未陰年不及故少商此資生第二元也）太羽終（此乙丑生丙寅乙未生丙申丙水運羽水音也寅申陽年太過故太羽此資生第三元也）太角初（此丙寅生丁卯丙申生丁酉丁木運角木音也卯酉陰年當少角今太者此卯為木也與運合歲會故太角也此資生第四元也）太徵（此丁卯生戊辰丁酉生戊戌戌火運徵火音也辰戌陽年故太徵也此資生第五元）太宮（此戊辰生巳巳戊戌生巳亥巳土運宮土音也巳亥陰年當少宮今太宮者即六巳在地戶巳是也巳符巳故太宮巳逢甲合土運此第六元宮得還周也）</p>
<p>少陰（司天也金運少陰故為第四）太商（中見金運）陽明（下見陽明在泉）庚子庚午（午正化子對化）其運涼勁（金營運　勁涼化令）其化霧露蕭　（金營運白埃如霧金風蕭蕭有聲）其變肅殺凋零（金怒即變令蕭殺凋零者金氣盛而蒼落凋零）其病上　（病者肺久及於肝也）少商（庚子庚午庚金運問金音也子午陽年太過當太商今少商者上見少陰君火天刑之故少商也此為元首也）少羽終（此庚子生辛丑庚午生辛未辛水運羽水音也丑未陰年不及故少羽也此資生第二元也）少角初（此辛丑生壬寅也辛未生壬申也壬木運角木音也寅申陽年太過當太角今少角者何也上見少陽相火司天火燃木損故少角第三元也）太徵（此壬寅生癸卯壬申生癸酉癸火運徵火音也卯酉陰年不及當少徵今太徵者何也卯木生於火故太徵也此資生第四元也）太宮（此癸卯生甲辰癸酉生甲戌甲土運宮土音也辰戌陽年太過故太宮第五元）少商（此甲辰生乙巳甲戌生乙亥乙金運商金音也乙庚合金運此第六元還周也）</p>
<p>少陰（司天也水運少陰故為第五）太羽（中見水運）陽明（下見陽明在泉）丙子歲會（運水子水運與年同日歲會也）</p>
<p>丙午（正化）其運寒（水營運寒化令也）其化凝慘凜冽（水太過冰凝堅天慘澹凜冽即寒甚極也）其變冰雪霜雹（其令太過變失常令寒凜為德化霜雪為布化水雹殺化也）其病寒下寒濕（病在腎久及於心臟）太羽終（丙子丙午丙水運羽水音也子午陽年故太羽此元首也）太角初（此丙子生丁丑丙午生丁未丁木運角木音也丑未陰年當少角即丁寄未故太角此資生第二元也）太徵（此丁丑生戊寅丁未生戊申戊火運徵火音也寅申陽年太過故太徵故此資生第三元也）</p>
<p>少宮（此戊寅生巳卯戊申生巳酉巳土運宮土音也卯酉陰年不及故少宮此資生第四元也）太商（此巳卯生庚辰巳酉生庚戌庚金運商金音也辰戌陽年太過故太商此資生第五元也）少羽（此庚辰生辛巳庚戌生辛亥辛水運羽水音也辛還丙丙辛同羽此資生第六元還周）</p>
<p>帝曰善聞厥陰之政奈何岐伯曰巳亥之紀也厥陰（司天也木運厥陰故為第一）少角（中見木運）少陽（下見少陽在泉）　熱勝復同（木不及災三宮即金行　化來勝木勝至甚也木有子即火行熱化復勝於金木乃平調故曰　熱勝復同）正角（木司天不及年木在上得平正）丁巳天符（對化）丁亥天符（正化）其運風涼熱（風者木運之本化也涼者金令來勝木也熱者火令來復勝金也故此三化也）太角初（丁巳丁亥丁木運角木音也巳亥陰年不及當少角今太角者一見厥陰木合天符故太角也此元首也）太徵（此丁巳生戌午丁亥生戊子戊火運徵火音也子午陽年太過故太徵比資生第二元也）太宮（此戌午生巳未戊子生巳丑巳土運宮土音也丑未陰年當不及今太宮者此巳寄未干相生故未太丑少此資生第二元也）少商（此巳丑生庚寅巳未生庚申也庚金運商金音也寅申陽年當太商也今少商者此上見少陽相火司天天刑之故少商此資生第四元也）少羽終（此庚寅生辛卯庚申生辛酉辛水運羽水音也卯酉陰年不及故少羽也此資生第五元也）太角初（此辛卯生壬辰辛酉生壬戌壬木運角木音也此丁還見壬合木運此第六元還周復始也）</p>
<p>厥陰（司天也火運厥陰故為第二）少徵（中見火運）少陽（下見少陽在泉也）寒雨勝復同（火不及災九宮即水行寒令來勝火勝至甚工行兩令復勝水火始平調故寒雨勝復同也）癸巳（對化）癸亥（無化）其運熱寒雨（熱者火運之本化寒者水令來勝之雨者土令復勝水故此三化令也）太徵（癸巳癸亥癸火運徵火音也巳亥陰年不及故當少徵今太徵此下見少陽相火在泉與運火合歲會故太徵）太宮（此癸巳生甲午癸亥生甲子甲土運宮土音也子午陽年太過故太宮也此資生第二元）</p>
<p>少商（此甲午生乙未甲子生乙丑乙金運商金音也丑未陰年不及故少商此資生第三元也）太羽終（此乙丑生丙寅乙未生丙申丙水運羽水音也寅申陽年太過故太羽也此資生第四元）太角初（此丙寅生丁卯丙申生丁酉丁木運角木音也卯酉陰年當少角今太角者此卯酉本與木運同為歲會也故太角也此資生第五元也）太徵（此丁卯生戊辰丁酉生戊戌戊火運徵火音也此癸首戊尾戊癸合火運此資生第六元還周也）</p>
<p>厥陰（司天也土運厥陰故為第三）少宮（中見土運）少陽（下見少陽在泉）風　勝復同（土不及災五宮即木行風令來勝土勝至甚也即金行清令來復勝木土始平調故風　勝復同）巳巳巳亥（巳對化亥正化）其運雨風涼（雨者土運之本化也風者木來歲土涼者金復勝木故此三令之化雨風涼也）太宮（巳巳巳亥巳土運宮土音也巳亥陰年當少宮今太宮者為六巳在地戶巳是也故太宮此元首也）少商（此巳巳生庚午巳亥生庚子庚金運商金音也子午陽年當太商今少商者上見少陰君火司天天刑之故少商此資生第一元也）少羽終（此庚午生辛未庚子生辛丑辛水運羽水音也丑未陰年不及故少羽也此資生第三元也）少角初（此辛丑生壬寅辛未生壬申壬木運角木音也寅申陽年當太角今少角者此寅申少陽相火司天火燔即木損故少角也此資生第五元也）太徵（此壬寅生癸卯壬申生癸酉癸火運徵火音也卯酉陰年當少徵今太徵者此卯為木也火見木王故太徵即年生之也此資生第五元也）太宮（此癸卯生甲辰癸酉生甲戌申土運宮土音也辰戌陽年當太宮此甲還巳合土運宮得還周）</p>
<p>厥陰（司天也金運厥陰故為第四）少商（中見金運）少陽（下見少陽在泉地火克運是金也）熱寒勝復同（金不及災七宮即火行熱令來勝金勝至甚即水行寒令復勝火金始平調故熱寒勝復同也）乙巳乙亥（巳對化亥正化）其運涼熱寒（涼者金運之本化也熱者大令來勝金也寒者水令復勝火也故此三化涼熱寒也）少商（乙巳乙亥乙金運商金音也巳亥陰年不及故少商元首也）太羽終（此乙巳生丙午乙亥生丙子丙水運羽水音也子午陽年故太羽此資生第二元也）太角初（此丙午生丁未丙子生丁丑丁木運角木音也丑未陰年當少角今太角者此丁寄未即於合宜符故太角此資生第三元也）太徵（此丁未生戌申丁丑生戊寅戊火運徵火音也寅申陽年太過故太徵此第四元也）少宮（此戊寅生巳卯戊申生巳酉巳土運宮土音也卯酉陰年不及故少宮也此資生第三元也）太商（此巳卯生庚辰巳酉生庚戌庚金運商金音也首乙終庚乙庚合金商還之周之）厥陰（司天也木運厥陰故為第五）少羽（中見水運）少陽（下見少陽在泉運水勝地火也）雨風勝復同（水不及災一宮即土行雨令來勝水勝至甚也水欲困即木行風令復勝土水始平調故雨風勝復同）辛巳辛亥（巳對化亥正化）其運寒雨風（寒者水運之化也雨者土來勝水風者木來復勝土故此三化令也）少羽終（辛巳辛亥辛水運羽水音也巳亥陰年故少羽此元首也）</p>
<p>少角初（此辛巳生壬午辛亥生壬子壬木運角木音也子午陽年當太角今少角者上見少陰火火燔木損故少角此資生第二元也）太徵（此壬午生癸未壬子生癸丑癸火運徵火音也丑未陰年當不及今太徵者即癸寄丑也干合直符故太徵第三元）少宮（此癸丑生甲寅癸未生甲申甲土運宮土音也寅申陽年太過當太宮今少宮者甲遇申罰故少也此年克此資生第四元也）太商（此甲申生乙酉甲寅生乙卯乙金運商金音也卯酉陰年不及當少商今太商者上見陽明金司天天符合運也故太商此第五元也）太羽終（此乙卯生丙辰乙酉生丙戌丙水運羽水音也辰戌陽年故太羽首辛終丙丙辛還水羽還周也）</p>
