<header data-type="book">
<h1>小兒藥證直訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>錢乙</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1119">公元1119年</data></dd></div>
</dl>
</header>
<h2>原序</h2>
<p>醫之為藝誠難矣，而治小兒為尤難。自六歲以下，黃帝不載其說，始有《顱囟經》，以占壽然小兒脈微難見，醫為持脈，又多驚啼，而不得其審，其難二也。脈既難憑，必資外證。而其骨氣未成，形聲未正，悲啼喜笑，變態不常，其難三也。問而知之，醫之工也。而小兒多未能言，言亦未足取信，其難四也。臟腑柔弱，易虛易實，易寒易熱，又所用多犀、珠、龍、麝，醫苟難辨，何以已疾？其難五也。種種隱奧，其難固多。余嘗致思於此，又目見庸醫妄施方藥而殺之者，十常四五，良可哀也！蓋小兒治法，散在諸書，又多出於近世臆說，汗漫難據，求其要妙，豈易得哉！太醫丞錢乙，字仲陽，汶上人。其治小兒，該括古今，又多自得，著名於時。其法簡易精審，如指諸掌。先子治平中登第，調須城尉識之。余五六歲時，病驚疳癖瘕，屢至危殆，皆仲陽拯之良愈。是時仲陽年尚少，不肯輕傳其書。余家所傳者，才十余方耳！大觀初，余筮仕汝海，而仲陽老矣。於親舊間，始得說證數十條。後六年，又得雜方。蓋晚年所得益妙。比於京師，復見別本。然旋著旋傳，皆雜亂。初無紀律，互有得失，因得參校焉。其先後則次之，重復則削之，訛謬則正之，俚語則易之。上卷脈證治法，中卷記嘗所治病，下卷諸方，而書以全。於是古今治小兒之法，不可以加矣。余念博愛者，仁者之用心，幼幼者聖人之遺訓，此惠可不廣耶！將傳之好事者，使幼者免橫夭之苦，老者無哭子之悲，此余之志也。因以明仲陽之術於無窮焉。</p>
<p><u>宣教郎大梁閻季忠序</u></p>
<h2>錢仲陽傳</h2>
<p>錢乙，字仲陽。上世錢塘人，與吳越王有屬。　納土，曾祖　隨以北，因家於鄆。父顥，善針醫，然嗜酒喜游。一旦匿姓名，東游海上，不復返。乙時三歲。母前亡，父同產姑，嫁醫呂氏，哀其孤，收養為子。稍長讀書，從呂君問醫。呂將歿，乃告以家世。乙號泣，請返跡父。凡五六返，乃得所在。又積數歲，乃迎以歸。是時乙年三十余。鄉人驚嘆，感慨為泣下，多賦詩詠其事。後七年，父以壽終，喪葬如禮。其事呂君，猶事父。呂君歿，無嗣，為之收行葬服，嫁其孤女，歲時祭享，皆與親等。乙始以《顱囟方》著山東。元豐中，長公主女有疾，召使視之，有功，奏授翰林醫學，賜緋。明年，皇卷。夫當諸臣搜采之日，天下藏書之家，莫不爭獻秘笈。卒未得是書真本，而今乃復見於世，豈非古人精氣有不可磨滅者歟？是書原刻閻名作「孝忠」，「真訣」作「直訣」，今未敢易也。「聚珍本」往往有閻氏方論誤入錢書者，今依朱本，則各得其所矣。其藥味分量間有不同，今各注於本方之末。至《薛氏醫案》本已為薛氏所亂，不足引證云。</p>
<p><u>光緒十七年辛卯長夏內閣中書周學海謹記</u></p>
<h2>卷上‧脈證治法</h2>
<h3>小兒脈法</h3>
<p>脈亂不治，氣不和弦急，傷食沉緩，虛驚促急，風浮，冷沉細。</p>
<h3>變蒸</h3>
<p>小兒在母腹中，乃生骨氣，五臟六腑，成而未全。自生之後，即長骨脈，五臟六腑之神智也。變者，易也。（巢論云：上多變氣。）又生變蒸者，自內而長，自下而上，又身熱，故以生之日後，三十二日一變。變每畢，即情性有異於前。何者？長生腑臟智意故也。何謂三十二日十段而上之，十日百段。三十二日計三百二十段，為一遍。亦曰一蒸。骨之余氣，自腦分入齦中，作三十二齒。而齒牙有不及三十二數者，由變不足其常也。或二十八日即至，長二十八齒，以下仿此，但不過三十二之數也。凡一周遍，乃發虛熱，諸病如是。十周則小蒸畢也。計三百二十日生骨氣，乃全而未壯也。故初三十二日一變，生腎生志。六十四日再變生膀胱。其發耳與KT　冷。腎與膀胱俱主於水，水數一，故先變。生之九十六日三變，生心喜。</p>
<p>一百二十八日四變生小腸。其發汗出而微驚。心為火，火數二，一百六十日五變生肝哭。一百九十二日六變生膽。其發目不開而赤。肝主木，木數三。二百二十四日七變生肺聲。二百五十六日八變生大腸。其發膚熱而汗或不汗。肺屬金，金數四。二百八十八日九變生脾智。</p>
<p>三百二十日十變生胃。其發不食，腸痛而吐乳。此後乃齒生，能言知喜怒，故云始全也。太倉云：氣入四肢，長碎骨於十變。後六十四日長其經脈，手足受血，故手能持物，足能行立也。經云：變且蒸，謂蒸畢而足一歲之日也。師曰：不汗而熱者，發其汗，大吐者，微下，不可余治。是以小兒須變蒸。脫齒者，如花之易苗。所謂不及三十二齒，由變之不及。齒當與變日相合也，年壯而視齒方明。</p>
<h3>五臟所主</h3>
<p>心主驚。實則叫哭發熱，飲水而搖（聚珍本作搐）；虛則臥而悸動不安。</p>
<p>肝主風。實則目直，大叫，呵欠，項急，頓悶；虛則切牙，多欠氣。熱則外生氣；濕則內生氣。</p>
<p>脾主困。實則困睡，身熱，飲水；虛則吐瀉，生風。</p>
<p>肺主喘。實則悶亂喘促，有飲水者，有不飲水者；虛則哽氣，長出氣。</p>
<p>腎主虛，無實也。惟瘡疹，腎實則變黑陷。</p>
<p>更當別虛實證。假如肺病又見肝證，切牙多呵欠者，易治，肝虛不能勝肺故也。若目直、大補母，實則瀉子。</p>
<h3>五臟病</h3>
<p>肝病，哭叫，目直，呵欠，頓悶，項急。</p>
<p>心病，多叫哭，驚悸，手足動搖，發熱飲水。</p>
<p>脾病，困睡，泄瀉，不思飲食。</p>
<p>肺病，悶亂哽氣，長出氣，氣短喘息。</p>
<p>腎病，無精光，畏明，體骨重。</p>
<h3>肝外感生風</h3>
<p>呵欠，頓悶，口中氣熱。當發散，大青膏主之。若能食，飲水不止，當大黃丸微下之。余不可下。</p>
<h3>肝熱</h3>
<p>手尋衣領及亂捻物，瀉青丸主之。壯熱飲水，喘悶，瀉白散主之。</p>
<h3>肺熱</h3>
<p>手掐眉目鼻面，甘桔湯主之。</p>
<h3>肺盛復有風冷</h3>
<p>胸滿短氣，氣急喘嗽上氣。當先散肺，後發散風冷。散肺，瀉白散、大青膏主之。肺不傷寒則不胸滿。</p>
<h3>肺虛熱</h3>
<p>唇深紅色，治之散肺。虛熱，少服瀉白散。</p>
<h3>肺臟怯</h3>
<p>唇白色，當補肺，阿膠散主之。若悶亂氣粗，喘促哽氣者，難治，肺虛損故也。</p>
<p>脾肺病久，則虛而唇白。脾者肺之母也，母子皆虛，不能相營，故名曰怯肺，主唇白。</p>
<p>白而澤者吉，白如枯骨者死。</p>
<h3>心熱</h3>
<p>視其睡，口中氣溫，或合面睡，及上竄切牙，皆心熱也。導赤散主之。</p>
<p>心氣熱則心胸亦熱，欲言不能而有就冷之意，故合面臥。</p>
<h3>心實</h3>
<p>心氣實則氣上下行澀，合臥則氣不得通。故喜仰臥，則氣得上下通也。瀉心湯主之。</p>
<h3>腎虛</h3>
<p>兒本虛怯，由胎氣不成，則神不足。目中白睛多，其顱即解，（囟開也，）面色　白。此皆難養，縱長不過八八之數。若恣色欲多，不及四旬而亡。或有因病而致腎虛者，非也。又腎氣不足，則下竄，蓋骨重惟欲墜於下而縮身也。腎水，陰也，腎虛則畏明，皆宜補腎，地黃丸主之。</p>
<h3>面上證</h3>
<p>左腮為肝，右腮為肺，額上為心，鼻為脾，頦為腎。赤者，熱也，隨證治之。</p>
<h3>目內證</h3>
<p>赤者，心熱，導赤散主之。</p>
<p>淡紅者，心虛熱，生犀散主之。</p>
<p>青者，肝熱，瀉青丸主之。淺淡者補之。</p>
<p>黃者，脾熱，瀉黃散主之。</p>
<p>無精光者，腎虛，地黃丸主之。</p>
<h3>肝病勝肺</h3>
<p>肝病秋見。（一作日晡）肝強勝肺，肺怯不能勝肝，當補脾肺治肝。益脾者，母令子實故也。補脾，益黃散；治肝，瀉青丸主之。</p>
<h3>肺病勝肝</h3>
<p>肺病春見。（一作早晨）肺勝肝，當補腎肝治肺臟。肝怯者，受病也。補肝腎，地黃丸；治肺，瀉白散主之。</p>
<h3>肝有風</h3>
<p>目連扎不搐，得心熱則搐。治肝，瀉青丸；治心，導赤散主之。</p>
<h3>肝有熱</h3>
<p>目直視不搐，得心熱則搐。治肝，瀉青丸；治心，導赤散主之。</p>
<h3>肝有風甚</h3>
<p>身反折強直不搐，心不受熱也，當補腎治肝。補腎，地黃丸；治肝，瀉青丸主之。</p>
<p>凡病或新或久，皆引肝風，風動而上於頭目，目屬肝，肝風入於目，上下左右如風吹，不輕不重，兒不能任，故目連扎也。若熱入於目，牽其筋脈，兩　俱緊，不能轉視，故目直也。若得心熱則搐，以其子母俱有實熱，風火相搏故也。治肝，瀉青丸；治心，導赤散主之。</p>
<h3>驚癇發搐</h3>
<p>男發搐，目左視無聲，右視有聲；女發搐，目右視無聲，左視有聲：相勝故也。更有發時證。</p>
<h3>早晨發搐</h3>
<p>因潮熱，寅、卯、辰時身體壯熱，目上視，手足動搖，口內生熱涎，項頸急。此肝旺，當補腎治肝也。補腎，地黃丸；治肝，瀉青丸主之。</p>
<h3>日午發搐</h3>
<p>因潮熱，巳、午、未時發搐，心神驚悸，目上視，白睛赤色，牙關緊，口內涎，手足動搖。此心旺也，當補肝治心。治心，導赤散、涼驚丸；補肝，地黃丸主之。</p>
<h3>日晚發搐</h3>
<p>因潮熱，申、酉、戌時不甚搐而喘，目微斜視，身體似熱，睡露睛，手足冷，大便淡黃水。是肺旺，當補脾治心肝。補脾，益黃散；治肝，瀉青丸；治心，導赤散主之。</p>
<h3>夜間發搐</h3>
<p>因潮熱，亥、子、丑時不甚搐，而臥不穩，身體溫壯，目睛緊斜視，喉中有痰，大便銀褐色，乳食不消，多睡，不納津液。當補脾治心。補脾，益黃散；治心，導赤散、涼驚丸主之。</p>
<h3>傷風後發搐</h3>
<p>傷風後得之，口中氣出熱，呵欠，頓悶，手足動搖。當發散，大青膏主之。小兒生本怯者，多此病也。</p>
<h3>傷食後發搐</h3>
<p>傷食後得之，身體溫，多唾多睡，或吐不思食而發搐。當先定搐，搐退，白餅子下之，後服安神丸。</p>
<h3>百日內發搐</h3>
<p>真者不過三兩次必死，假者發頻不為重。真者內生驚癇，假者外傷風冷。蓋血氣未實，不能勝任乃發搐也。欲知假者，口中氣出熱也。治之可發散，大青膏主之，及用塗囟浴體法</p>
<h3>急驚</h3>
<p>因聞大聲或大驚而發搐，發過則如故，此無陰也。當下，利驚丸主之。</p>
<p>小兒急驚者，本因熱生於心。身熱面赤引飲，口中氣熱，大小便黃赤，劇則搐也。蓋熱盛則風生，風屬肝，此陽盛陰虛也。故利驚丸主之，以除其痰熱。不可與巴豆及溫藥大下之，恐蓄虛熱不消也。小兒熱痰客於心胃，因聞聲非常，則動而驚搐矣。若熱極，雖不因聞聲及驚，亦自發搐。</p>
<h3>慢驚</h3>
<p>因病後，或吐瀉脾胃虛損，遍身冷，口鼻氣出亦冷，手足時螈　，昏睡，睡露睛。此無陽也，栝蔞湯主之。</p>
<p>凡急慢驚，陰陽異證，切宜辨而治之，急驚合涼瀉，慢驚合溫補。世間俗方，多不分別，誤小兒甚多。又小兒傷於風冷，病吐瀉，醫謂脾虛，以溫補之；不已，復以涼藥治之；又不已，謂之本傷風，醫亂攻之。因脾氣即虛，內不能散，外不能解。至十余日，其證多睡露睛，身溫，風在脾胃，故大便不聚而為瀉。當去脾間風，風退則利止。宣風散主之。後用使君子丸補其胃。亦有諸吐利久不差者，脾虛生風而成慢驚。</p>
<h3>五癇</h3>
<p>凡治五癇，皆隨臟治之，每臟各有一獸並，五色丸治其病也。</p>
<p>犬癇：反折，上竄，犬叫，肝也。</p>
<p>羊癇：目證，吐舌，羊叫，心也。</p>
<p>牛癇：目直視，腹滿，牛叫，脾也。</p>
<p>雞癇：驚跳，反折，手縱，雞叫，肺也。</p>
<p>豬癇：如尸，吐沫，豬叫，腎也。</p>
<p>五癇重者死，病後甚者亦死。</p>
<h3>瘡疹候</h3>
<p>面燥腮赤，目胞亦赤，呵欠頓悶，乍涼乍熱，咳嗽嚏噴，手足梢冷，夜臥驚悸多睡，並瘡疹證，此天行之病也。惟用溫涼藥治之，不可妄下及妄攻發、受風冷。</p>
<p>五臟各有一證：肝臟水　；肺臟膿　；心臟斑；脾臟疹；歸腎變黑。</p>
<p>惟斑疹病後，或發癇，余瘡難發。癇矣，木勝脾，木歸心故也。若涼驚，用涼驚丸；溫驚，用粉紅丸。</p>
<p>小兒在胎十月，食五臟血穢，生下則其毒當出。故瘡疹之狀，皆五臟之液。肝主淚，肺主涕，心主血，脾為裹血。其瘡出有五名，肝為水　，以淚出如水，其色青小。肺為膿　，如涕稠濁，色白而大。心為斑，主心血，色赤而小，次於水　。脾為疹，小次斑瘡，其主裹血，故赤色黃淺也。涕、淚出多，故膿　、水　皆大；血營於內，所出不多，故斑疹皆小也。病者，涕淚俱少，譬胞中容水，水去則瘦故也。</p>
<p>始發潮熱三日以上，熱運入皮膚，即發瘡疹，而不甚多者，熱留膚腠之間故也。潮熱隨臟出，如早食潮熱不已，為水　之類也。</p>
<p>瘡疹始發之時，五臟證見，惟腎無候，但見平證耳，KT　涼、耳涼是也。KT　、耳俱屬於腎，者，死病也。</p>
<p>凡瘡疹若出，辨視輕重。若一發便出盡者，必重也；瘡夾疹者，半輕半重也；出稀者輕，裡陷，昏睡，汗出不止，煩躁熱渴，腹脹，啼喘，大小便不通者困也。凡瘡疹當乳母慎口，不可令飢及受風冷。必歸腎而變黑，難治也。</p>
<p>有大熱者，當利小便；有小熱者，宜解毒。若黑紫干陷者，百祥丸下之；不黑者慎勿下。更看時月輕重：大抵瘡疹屬陽，出則為順，故春夏病為順，秋冬病為逆。冬月腎旺又盛寒，病多歸腎變黑。又當辨春膿　，夏黑陷，秋斑子，冬疹子，亦不順也，雖重病猶十活四五。黑者無問何時，十難救一。其候或寒戰噤牙，或身黃腫紫，宜急以百祥丸下之。復惡寒不已，身冷出汗，耳KT　反熱者，死病也。何以然？腎氣大旺，脾虛不能制故也。下後身熱氣溫，欲飲水者可治，以脾土勝腎，寒去而溫熱也。治之宜解毒，不可妄下，妄下則內虛多歸於腎。若能食而痂頭焦起，或未黑而喘實者，可下之。身熱，煩渴，腹滿而喘，大小便澀，面赤，悶亂，大吐，此當利小便；不差者，宜宣風散下之。若五七日痂不焦，是內發熱，熱氣蒸於皮中，故瘡不得焦痂也。宜宣風散導之，用生犀磨汁解之，使熱不生，必著痂矣。</p>
<p>瘡疹由內相勝也，惟斑疹能作搐。疹為脾所生，脾虛而肝旺乘之。木來勝土，熱氣相擊，動於心神，心喜為熱，神氣不安，因搐成癇。斑子為心所生，心生熱，熱則生風，風屬於肝，二臟相搏，風火相爭，故發搐也。治之當瀉心肝補其母，栝蔞湯主之。</p>
<p>瘡黑而急瀉，便膿血並痂皮者順，水穀不消者逆。何以然？且瘡黑屬腎，脾氣本強，或舊服補脾藥，脾氣得實，腎雖用事，脾可制之。今瘡入腹為膿血及連痂皮得出，是脾強腎退，即病出而安也。米穀及瀉乳不化者，是脾虛不能制腎，故自泄也，此必難治。</p>
<h3>傷風</h3>
<p>昏睡口中氣熱，呵欠頓悶，當發散，與大青膏解。不散，有下證，當下，大黃丸主之。</p>
<p>大飲水不止而善食者，可微下。余不可下也。</p>
<h3>傷風手足冷</h3>
<p>脾臟怯也，當和脾後發散。和脾，益黃散；發散，大青膏主之。</p>
<h3>傷風自利</h3>
<p>脾臟虛怯也，當補脾，益黃散；發散，大青膏主之。未差，調中丸主之。有下證，大黃丸下之。下後服溫驚丸。</p>
<h3>傷風腹脹</h3>
<p>脾臟虛也，當補脾，必不喘後發散，仍補脾也。去脹，塌氣丸主之；發散，大青膏主之</p>
<h3>傷風兼臟</h3>
<p>兼心則驚悸。</p>
<p>兼肺則悶亂，喘息哽氣，長出氣，嗽。</p>
<p>兼腎則畏明。</p>
<p>各隨補母，臟虛見故也。</p>
<h3>傷風下後余熱</h3>
<p>以藥下之太過，胃中虛熱，飲水無力也。當生胃中津液，多服白朮散。</p>
<h3>傷寒瘡疹同異</h3>
<p>傷寒男體重、面黃；女面赤、喘急、憎寒。各口中氣熱、呵欠頓悶、項急也。瘡疹則腮、多噴嚏、悸動、昏倦、四肢冷也。傷寒，當發散之。治瘡疹，行溫平之功，有大熱者解毒。余見前說。</p>
<h3>初生三日內吐瀉壯熱</h3>
<p>不思乳食，大便乳食不消或白色，是傷食。當下之，後和胃。下用白餅子；和胃用益黃散主之。</p>
<h3>初生三日以上至十日吐瀉身溫涼</h3>
<p>不思乳食，大便青白色，乳食不消，此上實下虛也。更有兼見證。</p>
<p>肺睡露睛、喘氣。</p>
<p>心驚悸、飲水。</p>
<p>脾困倦、饒睡。</p>
<p>肝呵欠、頓悶。</p>
<p>腎不語、畏明。</p>
<p>當瀉，見兒兼臟，補脾，益黃散主之。此二證。多病於秋夏也。</p>
<h3>初生下吐</h3>
<p>初生下，拭掠兒口中，穢惡不盡，咽入喉中故吐，木瓜丸主之。凡初生，急須拭掠口中，令淨，若啼聲一發則咽下，多生諸病。</p>
<h3>傷風吐瀉身溫</h3>
<p>乍涼乍熱，睡多氣粗，大便黃白色，嘔吐，乳食不消，時咳嗽，更有五臟兼見證，當煎入臟君臣藥，化大青膏，後服益黃散。如先曾下，或無下證，慎不可下也。此乃脾肺受寒，不能入食也。</p>
<h3>傷風吐瀉身熱</h3>
<p>多睡，能食乳，飲水不止，吐痰，大便黃水，此為胃虛熱渴吐瀉也。當生胃中津液，以止其渴，止後用發散藥。止渴多服白朮散。發散大青膏主之。</p>
<h3>傷風吐瀉身涼</h3>
<p>吐沫，瀉青白色，悶亂不渴，哽氣，長出氣，睡露睛，此傷風荏苒輕怯，因成吐瀉。當補脾後發散。補脾，益黃散；發散，大青膏主之。此二證，多病於春冬也。</p>
<h3>風溫潮熱壯熱相似</h3>
<p>潮熱者，時間發熱，過時即退，來日依時發熱，此欲發驚也。壯熱者，一向熱而不已，甚則發驚癇也。風熱者，身熱而口中氣熱，有風證。溫壯者，但溫而不熱也。</p>
<h3>腎怯失音相似</h3>
<p>病吐瀉及大病後，雖有聲而不能言，又能咽藥，此非失音，為腎怯，不能上接於陽故也。當補腎，地黃丸主之。失音乃猝病耳。</p>
<h3>黃相似</h3>
<p>身皮、目皆黃者，黃病也。身痛，膊背強，大小便澀，一身盡黃，面目指爪皆黃，如屋塵色，看物皆黃，渴者難治，此黃膽也。二證多病於大病後。別有一證，不因病後，身微黃者，胃熱也。大人亦同。又有面黃，腹大，食土，渴者，脾疳也。又有自生而身黃者，胎疸也。古書云：諸疸皆熱，色深黃者是也；若淡黃兼白者，胃怯、胃不和也。</p>
<h3>夏秋吐瀉</h3>
<p>五月十五日以後，吐瀉，身壯熱，此熱也。小兒臟腑，十分中九分熱也。或因傷熱乳食，吐乳不消，瀉深黃色，玉露散主之。</p>
<p>六月十五日以後，吐瀉，身溫似熱，臟腑六分熱四分冷也。吐嘔，乳食不消，瀉黃白色，似渴，或食乳或不食乳。食前少服益黃散；食後多服玉露散。</p>
<p>七月七日以後，吐瀉，身溫涼，三分熱七分冷也。不能食乳，多似睡，悶亂哽氣，長出氣，睡露睛，唇白多噦，欲大便，不渴。食前多服益黃散；食後少服玉露散。</p>
<p>八月十五日以後，吐瀉，身冷無陽也。不能食乳，干噦，瀉青褐水。當補脾，益黃散主之。不可下也。</p>
<h3>吐乳</h3>
<p>吐乳，瀉黃，傷熱乳也。吐乳，瀉青，傷冷乳也。皆當下。</p>
<h3>虛羸</h3>
<p>脾胃不和，不能食乳，致肌瘦。亦因大病或吐瀉後，脾胃尚弱，不能傳化穀氣也。有冷者，時時下利，唇口青白；有熱者，溫壯身熱，肌肉微黃。此冷熱虛羸也。冷者，木香丸主之。</p>
<p>夏月不可服，如有證則少服之。熱者，胡黃連丸主之。冬月不可服，如有證則少服之。</p>
<h3>咳嗽</h3>
<p>夫嗽者，肺感微寒。八九月間，肺氣大旺，病嗽者，其病必實，非久病也。其證面赤、痰盛、身熱，法當以葶藶丸下之。若久者，不可下也。十一月、十二月嗽者，乃傷風嗽也，風從背脊第三椎肺俞穴入也，當以麻黃湯汗之。有熱證，面赤、飲水、涎熱、咽喉不利者，宜兼甘桔湯治之。若五七日間，其證身熱，痰盛，唾黏者，以褊銀丸下之。有肺盛者，咳而後喘，面腫，欲飲水，有不飲水者，其身即熱，以瀉白散瀉之。若傷風咳嗽五七日，無熱證而但嗽者，亦葶藶丸下之，後用化痰藥。有肺虛者，咳而哽氣，時時長出氣，喉中有聲，此久病也，以阿膠散補之。痰盛者，先實脾，後以褊銀丸微下之，涎退即補肺，補肺如上法。有嗽而吐水，或青綠水者，以百祥丸下之。有嗽而吐痰涎、乳食者，以白餅子下之，有嗽而咯膿血者，乃肺熱，食後服甘桔湯。久嗽者，肺亡津液，阿膠散補之。咳而痰實，不甚喘，而面赤，時飲水者，可褊銀丸下之。治嗽大法：盛即下之，久即補之，更量虛實，以意增損</p>
<h3>諸疳</h3>
<p>疳在內，目腫，腹脹，利色無常，或沫青白，漸瘦弱，此冷證也。</p>
<p>疳在外，鼻下赤爛，目燥，鼻頭上有瘡不著痂，漸繞耳生瘡。治鼻瘡爛，蘭香散。諸瘡，白粉散主之。</p>
<p>肝疳，白膜遮睛，當補肝，地黃丸主之。</p>
<p>心疳，面黃頰赤，身壯熱，當補心，安神丸主之。</p>
<p>脾疳，體黃腹大，食泥土，當補脾，益黃散主之。</p>
<p>腎疳，極瘦，身有瘡疥，當補腎，地黃丸主之。</p>
<p>筋疳，瀉血而瘦，當補肝，地黃丸主之。</p>
<p>肺疳，氣喘，口鼻生瘡，當補脾肺，益黃散主之。</p>
<p>骨疳，喜臥冷地，當補腎，地黃丸主之。</p>
<p>諸疳，皆依本臟補其母及與治疳藥，冷則木香丸，熱則胡黃連丸主之。</p>
<p>疳皆脾胃病，亡津液之所作也。因大病或吐瀉後，以藥吐下，致脾胃虛弱亡津液。且小兒病疳，皆愚醫之所壞病。假如潮熱，是一臟虛一臟實，而內發虛熱也。法當補母而瀉本臟則愈。假令日中發潮熱，是心虛熱也，肝為心母，則宜先補肝，肝實而後瀉心，心得母氣則內平，而潮熱愈也。醫見潮熱，妄謂其實，乃以大黃、牙硝輩諸冷藥利之。利既多矣，不能禁約而津液內亡，即成疳也。又有病癖，其疾發作，寒熱飲水，脅下有形硬痛。治癖之法，當漸消磨，醫反以巴豆、　砂輩下之。小兒易虛易實，下之既過，胃中津液耗損，漸令疳瘦。</p>
<p>又有病傷寒，五六日間有下證，以冷藥下之太過，致脾胃津液少，即使引飲不止，而生熱也。熱氣內耗，肌肉外消，他邪相干，證變諸端，因亦成疳。</p>
<p>又有吐瀉久病，或醫妄下之，其虛益甚，津液燥損，亦能成疳。</p>
<p>又有肥疳，即脾疳也，身瘦黃，皮干，而有瘡疥。其候不一，種種異端，今略舉綱紀：目澀或生白膜，唇赤，身黃干或黑，喜臥冷地，或食泥土，身有疥瘡，瀉青白黃沫，水利色變，易腹滿，身耳鼻皆有瘡，髮鬢作穗，頭大項細極瘦，飲水，皆其證也。</p>
<p>大抵疳病當辨冷熱肥瘦。其初病者為肥熱疳，久病者為瘦冷疳。冷者木香丸，熱者黃連丸主之。冷熱之疳，尤宜如聖丸。故小兒之臟腑柔弱，不可痛擊，大下必亡津液而成疳。</p>
<p>凡有可下，量大小虛實而下之，則不至為疳也。初病津液少者，當生胃中津液，白朮散主之。惟多則妙。余見下。</p>
<h3>胃氣不和</h3>
<p>面　白無精光，口中氣冷，不思食，吐水。當補脾，益黃散主之。</p>
<h3>胃冷虛</h3>
<p>面　白色弱，腹痛不思食。當補脾，益黃散主之。若下利者，調中丸主之。</p>
<h3>積痛</h3>
<p>口中氣溫，面黃白，目無精光，或白睛多，及多睡，畏食，或大便酸臭者。當磨積，宜消積丸；甚者，當白餅子下之。後和胃。</p>
<h3>蟲痛</h3>
<p>（虛實腹痛附）</p>
<p>面　白，心腹痛，口中沫及清水出，發痛有時，安蟲散主之。小兒本怯者，多此病。</p>
<p>積痛、食痛、虛痛，大同小異。惟蟲痛者，當口淡而沫自出，治之隨其證。</p>
<h3>蟲與癇相似</h3>
<p>小兒本怯，故胃虛冷，則蟲動而心痛，與癇略相似，但目不斜，手不搐也。安蟲散主之</p>
<h3>氣不和</h3>
<p>口頻撮，當調氣，益黃散主之。</p>
<h3>食不消</h3>
<p>脾胃冷，故不能消化。當補脾，益黃散主之。</p>
<h3>腹中有癖</h3>
<p>不食，但飲乳是也。當漸用白餅子下之。</p>
<p>小兒病癖，由乳食不消，伏在腹中，乍涼乍熱，飲水或喘嗽，與潮熱相類，不早治，必成疳。以其有癖，則令兒不食，致脾胃虛而熱發，故引飲水過多，即蕩滌腸胃，亡失津液，脾胃不能傳化水穀，其脈沉細，益不食，脾胃虛衰，四肢不舉，諸邪遂生，鮮不瘦而成疳矣。余見疳門。</p>
<h3>虛實腹脹</h3>
<p>（腫附）</p>
<p>腹脹由脾胃虛，氣攻作也。實者悶亂喘滿，可下之，用紫霜丸白餅子。不喘者虛也，不可下。若誤下，則脾氣虛，上附肺而行，肺與脾子母皆虛。肺主目胞腮之類，脾主四肢，母氣虛甚，即目胞腮腫也。色黃者，屬脾也。治之用塌氣丸漸消之。未愈漸加丸數，不可以丁香、木香、橘皮、豆蔻大溫散藥治之。何以然？脾虛氣未出，腹脹而不喘，可以散藥治之。使上下分消其氣，則愈也。若虛氣已出，附肺而行，即脾胃內弱，每生虛氣，入於四肢面目矣。</p>
<p>小兒易為虛實，脾虛不受寒溫，服寒則生冷，服溫則生熱，當識此勿誤也。胃久虛熱，多生疸病，或引飲不止。脾虛不能勝腎，隨肺之氣上行於四肢，若水狀；腎氣浸浮於肺，即大喘也。此當服塌氣丸。病愈後面未紅者，虛衰未復故也。</p>
<p>治腹脹者，譬如行兵戰寇於林。寇未出林，以兵攻之，必可獲；寇若出林，不可急攻，攻必有失，當以意漸收之，即順也。</p>
<p>治虛腹脹，先服塌氣丸；不愈，腹中有食積結糞，小便黃，時微喘，脈伏而實，時飲水，能食者，可下之。蓋脾初虛而後結有積。所治宜先補脾，後下之，下後又補脾，即愈也。補肺恐生虛喘。</p>
<h3>喜汗</h3>
<p>濃衣臥而額汗出也，止汗散主之。</p>
<h3>盜汗</h3>
<p>睡而自汗出，肌肉虛也，止汗散主之。遍身汗，香瓜丸主之。</p>
<h3>夜啼</h3>
<p>脾臟冷而痛也，當與溫中藥，及以法禳之，花火膏主之。</p>
<h3>驚啼</h3>
<p>邪熱乘心也，當安心，安神丸主之。</p>
<h3>弄舌</h3>
<p>脾臟微熱，令舌絡微緊，時時舒舌。治之勿用冷藥及下之，當少與瀉黃散，漸服之。亦或飲水，醫疑為熱，必冷藥下之者，非也。飲水者，脾胃虛，津液少也。又加面黃肌瘦，五心煩熱，即為疳瘦，宜胡黃連丸輩。大病未已，弄舌者凶。</p>
<h3>丹瘤</h3>
<p>熱毒瓦斯客於腠理，搏於血氣，發於外皮，上赤如丹，當以白玉散塗之。</p>
<h3>解顱</h3>
<p>年大而囟不合，腎氣不成也，長必少笑。更有目白睛多，　白色瘦者，多愁少喜也。余見腎虛。</p>
<h3>太陽虛汗</h3>
<p>上至頭，下至項，不過胸也，不須治之。</p>
<h3>胃怯汗</h3>
<p>上至項，下至臍，此胃虛，當補胃，益黃散主之。</p>
<h3>胃啼</h3>
<p>小兒筋骨血脈未成，多哭者，至小所有也。</p>
<h3>胎肥</h3>
<p>生下肌肉濃，遍身血色紅。盈月以後，漸漸肌瘦，目白睛粉紅色，五心熱，大便難，時時生涎，浴體法主之。</p>
<h3>胎怯</h3>
<p>生下面色無精光，肌肉薄，大便白水，身無血色，時時哽氣多噦，目無精彩，當浴體法主之。</p>
<h3>胎熱</h3>
<p>生下有血氣，時叫哭，身壯熱如淡茶色，目赤，小便赤黃，糞稠，急食乳，浴體法主之。更別父母肥瘦，肥不可生瘦，瘦不可生肥也。</p>
<h3>急欲乳不能食</h3>
<p>因客風熱入兒臍，流入心脾經，即舌濃唇燥，口不能乘乳，當涼心脾。</p>
<h3>龜背龜胸</h3>
<p>肺熱脹滿，攻於胸膈，即成龜胸。又乳母多食五辛亦成。兒生下客風入脊，逐於骨髓。</p>
<p>即成</p>
<h3>腫病</h3>
<p>腎熱傳於膀胱，膀胱熱盛，逆於脾胃，脾胃虛而不能制腎，水反克土，脾隨水行，脾主四肢，肺為心克，故喘。或問曰：心刑肺，肺本見虛，今何喘實？曰：此有二，一者肺大喘，此五臟逆；二者腎水氣上行，傍浸於肺，故令大喘。此皆難治。</p>
<h3>五臟相勝輕重</h3>
<p>肝臟病見秋，木旺肝強勝肺也，宜補肺瀉肝。輕者肝病退，重者唇白而死。</p>
<p>肺病見春，金旺肺勝肝，當瀉肺。輕者肺病退，重者目淡青，必發驚。更有赤者，當搐，為肝怯，當目淡青色也。</p>
<p>心病見冬，火旺心強勝腎，當補腎治心。輕者病退，重者下竄不語，腎虛怯也。</p>
<p>腎病見夏，水勝火，腎勝心也，當治腎。輕者病退，重者悸動當搐也。</p>
<p>脾病見四旁，皆仿此治之。順者易治，逆者難治。脾怯當面赤黃，五臟相反，隨證治之</p>
<h3>雜病證</h3>
<p>目赤兼青者，欲發搐。</p>
<p>目直而青，身反折強直者，生驚。</p>
<p>切牙甚者，發驚。</p>
<p>口中吐沫水者，後必蟲痛。</p>
<p>昏睡善嚏悸者，將發瘡疹。</p>
<p>吐瀉昏睡露睛者，胃虛熱。</p>
<p>吐瀉昏睡不露睛者，胃實熱。</p>
<p>吐瀉乳不化，傷食也。下之。</p>
<p>吐沫及痰或白、綠水，皆胃虛冷。</p>
<p>吐稠涎及血，皆肺熱，久則虛。</p>
<p>瀉黃、紅、赤、黑皆熱，赤亦毒。</p>
<p>瀉青白，穀不化，胃冷。</p>
<p>身熱不飲水者，熱在外；身熱飲水者，熱在內。</p>
<p>口噤不止則失音。遲聲亦同。</p>
<p>長大不行，行則腳細。</p>
<p>齒久不生，生則不固。</p>
<p>發久不生，生則不黑。</p>
<p>血虛怯為冷所乘，則唇青。</p>
<p>尿深黃色，久則尿血。</p>
<p>小便不通，久則脹滿，當利小便。</p>
<p>洗浴拭臍不干，風入作瘡，令兒撮口，甚者，是脾虛。</p>
<p>吐涎痰熱者，下之；吐涎痰冷者，溫之。</p>
<p>先發膿　，後發斑子者，逆。</p>
<p>先發膿　，後發疹子者，順。</p>
<p>先發水　，後發疹子者，逆。</p>
<p>先發膿　，後發水　多者，順；少者，逆。</p>
<p>先水　，後斑子多者，逆；少者，順。</p>
<p>先疹子，後斑子者，順。</p>
<p>凡瘡疹只出一般者，善。</p>
<p>胎實面紅，目黑睛多者，多喜笑。</p>
<p>胎怯面黃，目黑睛少，白睛多者，多哭。</p>
<p>凡病先虛，或下之，合下者先實其母，然後下之。假令肺虛而痰實，此可下。先當益脾，後方瀉肺也。</p>
<p>大喜後食乳食，多成驚癇。</p>
<p>大哭後食乳食，多成吐瀉。</p>
<p>心痛吐水者，蟲痛。</p>
<p>心痛不吐水者，冷心痛。</p>
<p>吐水不心痛者，胃冷。</p>
<p>病重，面有五色不常；不澤者，死。</p>
<p>呵欠面赤者，風熱。</p>
<p>呵欠面青者，驚風。</p>
<p>呵欠面黃者，脾虛驚。</p>
<p>呵欠多睡者，內熱。</p>
<p>呵欠氣熱者，傷風。</p>
<p>熱證疏利或解化後，無虛證，勿溫補，熱必隨生。</p>
<h3>不治證</h3>
<p>目赤脈貫瞳仁。</p>
<p>囟腫及陷。</p>
<p>鼻干黑。</p>
<p>魚口氣急。</p>
<p>吐蟲不定。</p>
<p>瀉不定精神好。</p>
<p>大渴不止，止之又渴。</p>
<p>吹鼻不噴。</p>
<p>病重口乾不睡。</p>
<p>時氣唇上青黑點。</p>
<p>頰深赤如塗胭脂。</p>
<p>鼻開張。</p>
<p>喘急不定。</p>
<h2>卷中‧記嘗所治病二十三證</h2>
<p>李寺丞子，三歲，病搐，自卯至巳。數醫不治，後召錢氏視之。搐目右視，大叫哭。李曰：，發搐時無聲，右視有聲；女發時，右視無聲，左視有聲。所以然者，左肝右肺，肝木肺金，男目右視，肺勝肝也；金來刑木，二臟相戰，故有聲也。治之，瀉其強而補其弱。心實者，亦當瀉之，肺虛不可瀉。肺虛之候，悶亂哽氣，長出氣，此病男反女，故男易治於女也。</p>
<p>假令女發搐目左視，肺之勝肝，又病在秋，即肺兼旺位，肝不能任，故哭叫。當大瀉其肺，然後治心續肝。所以俱言目反直視，乃肝主目也。凡搐者，風熱相搏於內，風屬肝，故引見之於目也。錢用瀉肺湯瀉之，二日不悶亂，當知肺病退。後下地黃丸補腎，三服後，用瀉青丸、涼驚丸各二服。凡用瀉心肝藥，五日方愈，不妄治也。又言：肺虛不可瀉者何也？曰：設令男目右視，木反克金，肝旺勝肺，而但瀉肝，若更病在春夏，金氣極虛，故當補其肺，慎勿瀉也。</p>
<p>廣親宅七太尉，方七歲，潮熱數日欲愈。錢謂其父二大王曰：七使潮熱方安，八使預防驚搐急搐。召錢治之，三日而愈。蓋預見目直視而腮赤，必肝心俱熱，更坐石機子，乃欲冷，此熱甚也。肌膚素肥盛，脈又急促，故必驚搐。所言語時者，自寅至午，皆心肝所用事時。治之，瀉心肝補腎，自安矣。</p>
<p>李司戶孫病，生百日，發搐三五次。請眾醫治，作天釣或作胎驚癇，皆無應者。後錢用大青膏如小豆許，作一服發之。復與塗囟法封之，及浴法，三日而愈。何以然？嬰兒初生，肌骨嫩怯，被風傷之，子不能任，故發搐。頻發者，輕也。何者？客風在內，每遇不任即搐。搐稀者，是五內發病，不可救也。搐頻者。宜散風冷，故用大青膏。不可多服，蓋兒至小，易虛易實，多即生熱，止一服而已，更當封浴，無東都王氏子，吐瀉，諸醫藥下之，至虛，變慢驚。其候，睡露睛，手足螈　而身冷。錢曰：醫留八正散等，數服不利而身復冷。令錢氏利小便。錢曰：不當利小便，利之必身冷。王曰：已身冷矣，因抱出。錢曰：不能食而胃中虛，若利大小便即死。久即脾胃俱虛，當身冷而閉目，幸胎氣實而難衰也。錢用益黃散、使君子丸，四服，令微飲食。至日午果能飲食。所以然者，謂利大小便，脾胃虛寒，當補脾，不可別攻也。後又不語，諸醫作失音治之。錢曰：既失音，開目而能飲食。又牙不緊，而口不緊也，諸醫不能曉。錢以地黃丸補腎。所以然者，用清藥利小便，致脾腎俱虛，今脾已實，腎虛，故補腎必安。治之半月而能言，一月而痊也。</p>
<p>東都藥鋪杜氏，有子五歲，自十一月病嗽，至三月末止。始得嗽而吐痰，乃外風寒蓄入肺丸、半夏丸、褊銀丸諸法下之，其肺即虛而嗽甚。至春三月間尚未愈，召錢氏視之。其候面也。春三月者，肝之位也，肺衰之時也。嗽者，肺之病。肺之病，自十一月至三月，久即虛痿。又曾下之，脾肺子母也，復為肝所勝，此為逆也，故嗽而喘促，哽氣，長出氣也。錢急與瀉青丸，瀉後與阿膠散實肺。次日面青而不光，錢又補肺，而嗽如前，錢又瀉肝，瀉肝未已，又加肺虛，唇白如練。錢曰：此病必死，不可治也。何者？肝大旺而肺虛熱，肺病不得其時而肝勝之。今三瀉肝而肝病不退，三補肺而肺證猶虛，此不久生，故言死也。此證病於秋者，十救三四；春夏者，十難救一。果大喘而死。</p>
<p>京東轉運使李公，有孫八歲，病嗽而胸滿短氣。醫者言肺經有熱，用竹葉湯、牛黃膏各二曰：醫已用竹葉湯、牛黃膏。錢曰：何治也？醫曰：退熱、退涎。錢曰：何熱所作？曰：肺經熱而生嗽，嗽久不除生涎。錢曰：本虛而風寒所作，何熱也？若作肺熱，何不治其肺而反調心？蓋竹葉湯、牛黃膏，治心藥也。醫有慚色。</p>
<p>東都張氏孫，九歲，病肺熱。他醫以犀、珠、龍、麝、生牛黃治之，一月不愈。其證：嗽喘他醫用涼藥攻之，一月尚無效。錢曰：涼藥久則寒不能食。小兒虛不能食，當補脾，候飲食如故，即瀉肺經，病必愈矣。服補脾藥二日，其子欲飲食。錢以瀉白散瀉其肺，遂愈。張曰：何以不虛？錢曰：先實其脾，然後瀉其肺，故不虛也。</p>
<p>睦親宮十太尉，病瘡疹，眾醫治之。王曰：疹未出。屬何臟腑？一醫言謂大熱，一醫言傷寒臟也？醫曰：在脾胃。錢曰，既在脾胃，何以驚悸？醫無對。錢曰：夫胎在腹中，月至六七則已成形，食母穢液，入兒五臟。食至十月，滿胃脘中，至生之時，口有不潔。產母以手拭淨，則無疾病。俗以黃連汁壓之，云下臍糞及涎穢也。此亦母之不潔，余氣入兒臟中，本先因微寒入而成。瘡疹未出。五臟皆見病症，內一臟受穢乍熱，手足冷痹，面腮燥赤，咳嗽時嚏，此五臟證俱也。呵欠頓悶，肝也；時發驚悸，心也；乍涼乍熱，手足冷，脾也；面目腮頰赤，嗽嚏，肺也。惟腎無候，以在腑下，不能食穢故也。凡瘡疹乃五臟毒，若出歸一證，則肝水　、肝膿　、心斑、脾疹，惟腎不食毒穢而無諸證。瘡黑者屬腎，由不慎風冷而不飽，內虛也。又用抱龍丸數服愈。其別無他候，故未發出，則見五臟證，已出則歸一臟也。</p>
<p>四大王宮五太尉，因墜秋千發驚搐，醫以發熱藥，治之不愈。錢氏曰：本急驚，後生大熱，當先退其熱。以大黃丸、玉露散、惺惺丸，加以牛黃、龍、麝解之。不愈。至三日，肌膚上熱。錢曰：更二日不愈，必發斑瘡。蓋熱不能出也。他醫初用藥發散，發散入表，表熱即斑生。本初驚時，當用利驚藥下之，今發散乃逆也。後二日，果斑出。以必勝膏治之，七日睦親宅一大王，病瘡疹，始用一李醫，又召錢氏。錢留抱龍丸三服，李以藥下之。其疹稠密可下也。但當用平和藥，頻與乳食，不受風冷可也。如瘡疹三日不出，或出不快，即微發之；微發不出即加藥，不出即大發之。如大發後不多，及脈平無證者，即瘡本稀，不可更發也。有大熱者，當利小便；小熱者，當解毒，若出快，勿發勿下，故止用抱龍丸治之。瘡痂若起，能食者，大黃丸下一二行即止。今先下一日，瘡疹未能出盡，而稠密甚，則難治，此誤也。縱得安，其病有三：一者疥，二者癰，三者目赤。李不能治，經三日黑陷，復召錢氏。</p>
<p>曰：幸不發寒而病未困也。遂用百祥丸治之，以牛李膏為助。若黑者，歸腎也。腎主勝脾，土不克水，故脾虛寒戰則難治。所用百祥丸者，以瀉膀胱之腑，腑若不實，臟自不盛也。何以不瀉腎？曰：腎主虛，不受瀉。若二服不效，即加皇都徐氏子，三歲，病潮熱，每日西則發搐，身微熱而目微斜，反露睛，四肢冷而喘，大便斜露睛？曰：搐則目斜。何肢冷？曰：冷厥必內熱。曰：何喘？曰：搐之甚也。曰：何以治之？曰：嚏驚丸鼻中灌之，必搐止。錢又問曰：既謂風病，溫壯搐引，目斜露睛，內熱肢冷，及搐甚而喘，並以何藥治之？李曰：皆此藥也。錢曰：不然，搐者肝實也，故令搐。日西身微熱者，肺潮用事。肺主身，溫且熱者，為肺虛。所以目微斜、露睛者，肝肺相勝也。肢冷者，脾虛也。肺若虛甚，用益黃散、阿膠散。得脾虛證退後，以瀉青丸、導赤散、涼驚丸治之。後九日平愈。</p>
<p>朱監簿子，五歲，夜發熱，曉即如故。眾醫有作傷寒者，有作熱治之，以涼藥解之不愈。其白朮散末煎一兩，汁三升，使任其意取足服。朱生曰：飲多不作瀉否？錢曰：無生水不能作瀉，縱蕩不足怪也，但不可下耳。朱生曰：先治何病？錢曰：止渴治痰，退熱清裡，皆此藥也。至晚服盡。錢看之曰：更可服三升。又煎白朮散三升，服盡得消愈。第三日又服白朮散三升，其子不渴無涎。又投阿膠散，二服而愈。</p>
<p>朱監簿子，三歲，忽發熱。醫曰：此心熱，腮赤而唇紅，煩躁引飲。遂用牛黃丸三服，以，黃沫如何？曰：胃氣正，即瀉自止，此虛熱也。朱曰：醫用瀉心湯何如？錢曰：瀉心湯者，黃連性寒，多服則利，能寒脾胃也。坐久眾醫至，曰實熱。錢曰虛熱。若實熱，何以瀉心湯下之不安，而又加面黃頰赤，五心煩躁，不食而引飲？醫曰：既虛熱，何大便黃沫？錢笑曰：便黃沫者，服瀉心湯多故也。錢後與胡黃連丸治愈。</p>
<p>張氏三子病，歲大者，汗遍身；次者，上至頂，下至胸；小者，但額有汗。眾醫以麥煎散，治之不效。錢曰：大者與香瓜丸；次者與益黃散；小者與石膏湯。各五日而愈。</p>
<p>廣親宅四大王宮五太尉，病吐瀉不止，水穀不化。眾醫用補藥，言用薑汁調服之。六月中服，並服之。眾醫皆言：吐瀉多而米穀不化，當補脾，何以用涼藥？王信眾醫，又用丁香散三服。錢後至曰：不可服此。三日外必腹滿身熱，飲水吐逆。三日外一如所言。所以然者，謂六月熱甚，伏入腹中而令引飲，熱傷脾胃，即大吐瀉。他醫又行溫藥，即上焦亦熱，故喘而引飲，三日當死。眾醫不能治，復召錢至宮中，見有熱證，以白虎湯三服，更以白餅子下之。一日減藥二分，二日三日，又與白虎湯各二服，、腦子、牛黃、天竺黃、茯苓，以朱砂為衣，與五丸馮承務子，五歲，吐瀉，壯熱，不思食。錢曰：目中黑睛少而白睛多，面色　白，神怯黑睛少，腎虛也。黑睛屬水，本怯而虛，故多病也。縱長成，必肌膚不壯，不耐寒暑，易虛易實，脾胃亦怯。更不可縱酒欲，若不保養，不過壯年，面上常無精神光澤者，如婦人之失血也。今吐利不食，壯熱者，傷食也，不可下。下之虛入肺則嗽，入心則驚，入脾則瀉，入腎則益虛。此但以消積丸磨之，為微有食也。如傷食甚則可下，不下則成癖也。實食在內，乃可下之，畢，補脾必愈。隨其虛實，無不效者。</p>
<p>廣親宮七太尉，七歲，吐瀉。是時七月，其證全不食而昏睡，睡覺而悶亂，哽氣，干噦，大便或有或無，不渴。眾醫作驚治之，疑睡故也。錢曰：先補脾，後退熱。與使君子丸補脾；退熱，石膏湯。次日又以水銀、硫黃二物下之，生薑水調下一字。錢曰：凡吐瀉，五月內，九分下而一分補；八月內，十分補而無一分下。此者是脾虛瀉。醫妄治之，至於虛損，下之即死。當即補脾。若以使君子丸即緩。錢又留溫胃益脾藥止之。醫者李生曰：何食而噦？錢曰：脾虛而不能食，津少即噦逆。曰：何瀉青褐水？曰：腸胃至虛，冷極故也。錢治而愈。</p>
<p>黃承務子，二歲，病瀉。眾醫止之，十余日，其證便青白，乳物不消，身涼，加哽氣、昏睡。醫謂病困篤。錢氏先以益脾散三服，補肺散三服。三日，身溫而不哽氣。後以白餅子微下之，與益脾散二服，利止。何以然？利本脾虛傷食，初不與大下。　置十日，上實下虛，脾氣弱，引肺亦虛，補脾肺，病退即溫，不哽氣是也。有所傷食，仍下之也，何不先下後補？曰：便青為下臟冷，先下必大虛，先實脾肺，下之則不虛，而後更補之也。</p>
<p>睦親宮中十大王，瘡疹，云瘡疹始終出，未有他證，不可下，但當用平和藥，頻與乳食，不受風冷可也。如瘡疹三日不出，或出不快，即微發之。如瘡發後不多出，即加藥；加藥不出，即大發之。如發後不多，及脈平無證，即瘡本稀，不可更發也。有大熱者，當利小便。</p>
<p>小熱者，當解毒。若不快，勿發勿下攻，止用抱龍丸治之。瘡疹若起能食者，大黃丸下一二行即止。有大熱者，當利小便；有小熱者，宜解毒。若黑紫干陷者，百祥丸下之；不黑者，甚，勿下。身熱煩躁，腹滿而喘，大小便澀，面赤悶亂大吐，此當利小便。不瘥者，宣風散下之也。若五七日痂不焦，是內發熱氣，蒸於皮中，故瘡不得焦痂也。宜宣風散導之，用生犀角磨汁解之，使執不生必著痂矣。</p>
<p>辛氏女子，五歲，病蟲痛。諸醫以巴豆、乾漆、　砂之屬，治之不效。至五日外，多哭仰睡臥不安，自按心腹，時大叫。面無正色，或青、或黃、或白、或黑，目無光而慢，唇白吐沫。至六日，胸高而臥轉不安。召錢到，錢詳視之。用蕪荑散三服，見目不除青色，大驚曰：此病大困，若更加瀉，則為逆矣。至次日，辛見錢曰：夜來三更果瀉。錢與瀉盆中看，如藥汁，以杖攪之，見有丸藥。錢曰：此子肌濃當氣實，今證反虛，不可治也。辛曰：此子肌濃當氣實，今證反虛，不可治也。辛曰：何以然？錢曰：脾虛胃冷則蟲動，而今反目青，此肝乘脾，又更加瀉，知其氣極虛也。而丸藥隨糞下，即脾胃已脫，兼形病不相應，故知死病。後五日昏篤，七日而死。</p>
<p>段齋郎子，四歲，病嗽，身熱，吐痰，數日而咯血。前醫以桔梗湯及防己丸，治之不愈。涎上攻，吐、喘不止。請錢氏，下褊銀丸一大服，復以補肺湯、補肺散治之。或問：段氏子咯血肺虛，何以下之？錢曰：肺雖咯血，有熱故也。久則虛痿，今涎上潮而吐，當下其涎，若不吐涎，則不甚便。蓋吐涎能虛，又生驚也。痰實上攻，亦能發搐，故以法只宜先下痰，而後補脾肺，必涎止而吐愈，為順治也。若先補其肺，為逆耳！此所謂識病之輕重先後為治鄭人齊郎中者，家好收藥散施。其子忽臟熱，齊自取青金膏，三服並一服，餌之。服畢三更瀉五行，其子困睡，齊言子睡多驚，又與青金膏一服，又瀉三行，加口乾身熱，齊言尚有微熱未盡，又與青金膏。其妻曰：用藥十余行未安，莫生他病否？召錢氏至，曰：用藥十余行未安，莫生他病否？召錢氏至，曰：已成虛羸。先用前白朮散，時時服之，後服香瓜丸，十三日愈。</p>
<p>曹宣德子，三歲，面黃，時發寒熱，不欲食而飲水及乳。眾醫以為潮熱，用牛黃丸、麝，不愈。及以止渴干葛散，服之反吐。錢曰：當下白餅子，後補脾。乃以消積丸磨之，此乃癖也。後果愈。何以故？不食，但飲水者，食伏於管內不能消，致令發寒，服止渴藥吐者，以藥沖故也，下之即愈。</p>
<h2>卷下‧諸方</h2>
<h3>大青膏</h3>
<p>治小兒熱盛生風，欲為驚搐，血氣未實，不能勝邪，故發搐也。大小便依度，口中氣熱，當發之。</p>
<p>天麻（末一錢）　白附子（末生一錢五分）　青黛（研一錢）　蠍尾（去毒生末）　烏蛇梢肉（酒浸焙乾取末各一錢）　朱砂（研）　天竺黃（研）</p>
<p>上同再研細，生蜜和成膏，每服半皂子大至一皂子大。月中兒粳米大。同牛黃膏、溫薄荷水化一處服之。五歲以上，同甘露散服之。</p>
<p>學海案：「聚珍本」蠍尾、蛇梢肉各五分，有麝香研，同朱砂、竺黃各一字匕。方末云《閻氏集寶生信效方》內小兒諸方，言皆得於汝人錢氏，其間大青膏無天麻，有大青生研一分，其余藥味，分料和制，與此皆同。其方下證治云：治小兒傷風，其候伸欠頓悶，口中氣熱，惡風脈浮，比此為詳。只用薄荷湯下。</p>
<h3>涼驚丸</h3>
<p>治驚疳。</p>
<p>草龍膽　防風　青黛（各三錢）　鉤藤（二錢）　黃連（五錢）　牛黃　麝香　龍腦（各一字）</p>
<p>面糊丸粟米大，每服三五丸，金銀花湯下。</p>
<h3>粉紅丸</h3>
<p>（又名溫驚丸）</p>
<p>天南星（臘月釀牛膽中百日，陰乾，取末四兩別研，無釀者，只銼炒熟用）　朱砂（一錢五分研）　天竺黃（一兩研）　龍腦（半字別研）　坯子胭脂（一錢研，乃染胭脂。）</p>
<p>上用牛膽汁和丸，雞頭大，每服一丸，小者半丸，沙糖溫水化下。</p>
<h3>瀉青丸</h3>
<p>治肝熱搐搦，脈洪實。</p>
<p>當歸（去蘆頭切焙秤）　龍腦（焙秤）　川芎　山梔子仁　川大黃（濕紙裹煨）　羌活　防風（去蘆頭切焙秤）</p>
<p>上件等分為末，煉蜜和丸，雞頭大，每服半丸至一丸，煎竹葉湯同沙糖溫水化下。</p>
<p>學海案：「聚珍本」方後附錄云，王海藏斑疹改誤云，東垣先生治斑後風熱毒，翳膜氣暈遮睛，以此劑瀉之，大效。初覺易治。</p>
<h3>地黃丸</h3>
<p>治腎怯失音，囟開不合，神不足，目中白睛多，面色　白等方。</p>
<p>熟地黃（八錢）　山萸肉　干山藥（各四錢）　澤瀉　牡丹皮　白茯苓（去皮各三錢）</p>
<p>上為末，煉蜜丸，如梧子大，空心，溫水化下三丸。</p>
<h3>瀉白散</h3>
<p>（又名瀉肺散）</p>
<p>治小兒肺盛氣急喘嗽。</p>
<p>地骨皮　桑白皮（炒各一兩）　甘草（炙一錢）　上銼散，入粳米一撮，水二小盞，煎七分，食前服。</p>
<p>學海案：「聚珍本」甘草作半兩。</p>
<h3>阿膠散</h3>
<p>（又名補肺散）</p>
<p>治小兒肺虛氣粗喘促。</p>
<p>阿膠（一兩五錢麩炒）　黍黏子（炒香）　甘草（炙各二錢五分）　馬兜鈴（五錢焙）</p>
<p>杏仁（七個去皮尖炒）　糯米（一兩炒）</p>
<p>上為末，每服一、二錢，水一盞，煎至六分，食後溫服。</p>
<h3>導赤散</h3>
<p>治小兒心熱，視其睡，口中氣溫，或合面睡，及上竄切牙，皆心熱也。心氣熱則心胸亦熱，欲言不能，而有就冷之意，故合面睡。</p>
<p>生地黃　甘草（生）　木通（各等分）</p>
<p>上同為末，每服三錢，水一盞，入竹葉同煎至五分，食後溫服。一本不用甘草，用黃芩</p>
<h3>益黃散</h3>
<p>（又名補脾散）</p>
<p>治脾胃虛弱及治脾疳，腹大，身瘦。</p>
<p>陳皮（去白一兩）　丁香（二錢，一方用木香）　訶子（炮去核）　青皮（去白）　甘草（炙各五錢）</p>
<p>上為末，三歲兒一錢半，水半盞，煎三分，食前服。</p>
<h3>瀉黃散</h3>
<p>（又名瀉脾散）</p>
<p>治脾熱弄舌。</p>
<p>藿香葉（七錢）　山梔子仁（一錢）　石膏（五錢）　甘草（三兩）　防風（四兩去蘆切焙）</p>
<p>上銼，同蜜酒微炒香為細末，每服一錢至二錢，水一盞，煎至五分，溫服。清汁，無時學海案：「聚珍本」山梔仁一兩，甘草三兩云一作三分。方後有附論石膏文云，南方以石為石膏，以石膏為寒水石，正與京師相反，乃大誤也。蓋石膏潔白，堅硬有牆壁，而寒水石則軟爛，以手可碎，外維青黑，中有細文，方書中寒水石則火鍛用之。石膏則堅硬不可入火，如白虎湯用石膏，則能解肌熱，破痰，治頭痛。若用寒水石則誤矣。又有一等，堅白全類石膏，而方敲之，亦皆成方者，名方解石也，可代石膏用之。南人有不信此說者，季忠嘗相與同就京師大藥肆中，買石膏、寒水石、方解石三種，又同詣惠民和劑局，及訪諸國醫詢之，皆合此說，乃信季忠頃編《保生信效方》，已為辨論，恐小兒尤不可誤，故復見於此。</p>
<h3>白朮散</h3>
<p>治脾胃久虛，嘔吐泄瀉，頻作不止，精液苦竭，煩渴躁，但欲飲水，乳食不進，羸瘦困劣，因而失治，變成驚癇，不論陰陽虛實，並宜服。</p>
<p>人參（二錢五分）　白茯苓（五錢）　白朮（五錢炒）　藿香葉（五錢）　木香（二錢）　甘草（一錢）　葛根（五錢，渴者加至一兩）</p>
<p>上　咀，每服三錢，水煎，熱甚發渴，去木香。</p>
<p>學海案：「聚珍本」葛根二兩，余並一兩。</p>
<h3>塗囟法</h3>
<p>麝香（一字）　薄荷葉（半字）　蠍尾（去毒為末，半錢，一作半字）　蜈蚣末　牛黃末　青黛末（各一字）</p>
<p>上同研，用熟棗肉劑為膏，新綿上塗勻，貼囟上，四方可出一指許，火上炙手頻熨，百日內外小兒，可用此。</p>
<h3>浴體法</h3>
<p>治胎肥、胎熱、胎怯。</p>
<p>天麻末（二錢）　全蠍（去毒為末）　朱砂（各五錢）　烏蛇肉（酒浸焙乾）　白礬（各二錢）</p>
<p>麝香（一錢）　青黛（三錢）</p>
<p>上同研勻，每用三錢，水三碗，桃枝一握、葉五七枚，同煎至十沸，溫熱浴之，勿浴背</p>
<h3>甘桔湯</h3>
<p>治小兒肺熱，手掐眉目鼻面。</p>
<p>桔梗（二兩）　甘草（一兩）</p>
<p>上為粗末，每服二錢，水一盞，煎至七分，去滓，食後溫服。加荊芥、防風，名如聖湯。熱甚加羌活、黃芩、升麻。</p>
<h3>安神丸</h3>
<p>治面黃頰赤，身壯熱，補心。一治心虛肝熱，神思恍惚。</p>
<p>馬牙硝（五錢）　白茯苓（五錢）　麥門冬（五錢）　干山藥（五錢）　龍腦（一字研）　寒水石（五錢研）　朱砂（一兩研）　甘草（五錢）</p>
<p>上末之，煉蜜為丸，雞頭大，每服半丸，砂糖水化下，無時。</p>
<h3>當歸湯</h3>
<p>治小兒夜啼者，臟寒而腹痛也。面青手冷，不吮乳者是也。</p>
<p>當歸　白芍藥　人參（各一分）　甘草（炙半分）　桔梗　陳皮（不去白各一分）</p>
<p>上為細末，水煎半錢，時時少與服。又有熱痛，亦啼叫不止，夜發，面赤唇焦，小便黃赤，與三黃丸，人參湯下。</p>
<h3>瀉心湯</h3>
<p>治小兒心氣實，則氣上下行澀，合臥則氣不得通，故喜仰臥，則氣上下通。</p>
<p>黃連（一兩去須）</p>
<p>上為末，每服五分，臨臥取溫水化下。</p>
<h3>生犀散</h3>
<p>治目淡紅，心虛熱。</p>
<p>生犀（二錢銼末）　地骨皮（自采佳）　赤芍藥　柴胡根　干葛（銼各一兩）　甘草（炙五錢）</p>
<p>上為粗末，每服一、二錢，水一盞，煎至七分，溫服，食後。</p>
<h3>白餅子</h3>
<p>（又名玉餅子）</p>
<p>治壯熱。</p>
<p>滑石末（一錢）　輕粉（五錢）　半夏末（一錢）　南星末（一錢）　巴豆（二十四個，去皮膜，用水一升，煮干研細）</p>
<p>上三味，搗羅為末，入巴豆粉，次入輕粉，又研勻，卻入余者藥末，如法令勻，糯米粉如綠豆大，量小兒虛實用藥。三歲以下，每服三丸至五丸，空心，紫蘇湯下。忌熱物，若三五歲兒，壯實者不以此為，加至二十丸，以利為度。</p>
<p>學海案：「聚珍本」巴豆二十四粒，余並二錢。</p>
<h3>利驚丸</h3>
<p>治小兒急驚風。</p>
<p>青黛　輕粉（各一錢）　牽牛末（五錢）　天竺黃（二錢）</p>
<p>上為末，白面糊丸，如小豆大，二十丸，薄荷湯下。一法煉蜜丸，如芡實大一粒，化下</p>
<h3>栝蔞湯</h3>
<p>治慢驚。（學海案：《本草綱目》引此云，治慢驚帶有陽證者。白甘遂即蚤休也。）</p>
<p>栝蔞根（二錢）　白甘遂（一錢）</p>
<p>上用慢火炒焦黃色，研勻，每服一字，煎麝香薄荷湯調下，無時。凡藥性雖冷，炒焦用之，乃溫也。</p>
<h3>五色丸</h3>
<p>治五癇。</p>
<p>朱砂（五錢研）　水銀（一兩）　雄黃（一兩）　鉛（三兩，同水銀熬）　珍珠末（一兩研）</p>
<p>上煉蜜丸，如麻子大，每服三四丸，金銀、薄荷湯下。</p>
<p>學海案：「聚珍本」金銀下有「花」字。金銀能鎮心肝，安魂魄，正治驚癇，今人多以金銀器煎湯下藥，斯乃古義。「花」字衍也。前涼驚丸方下，亦有「花」字並衍。</p>
<h3>調中丸</h3>
<p>人參（去蘆）　白朮　乾薑（炮各三兩）　甘草（炙減半）</p>
<p>上為細末，丸如綠豆大，每服半丸至二、三十丸，食前溫水送下。</p>
<h3>塌氣丸</h3>
<p>治虛脹如腹大者，加蘿卜子名褐丸子。</p>
<p>胡椒（一兩）　蠍尾（去毒五錢）</p>
<p>上為細末，面丸粟米大，每服五七丸至一、二十丸，陳米飲下，無時。一方有木香一錢</p>
<h3>木香丸</h3>
<p>治小兒疳瘦腹大。</p>
<p>木香　青黛（另研）　檳榔　豆蔻（去皮各一分）　麝香（另研一錢五分）　續隨子（去皮一兩）</p>
<p>蝦蟆（三個燒存性）</p>
<p>上為細末，蜜丸綠豆大，每服三、五丸至一、二十丸，薄荷湯下，食前。</p>
<h3>胡黃連丸</h3>
<p>治肥熱疳。</p>
<p>川黃連（五錢）　胡黃連（五錢）　朱砂（一錢另研）</p>
<p>以上二物為細末，入朱砂末，都填入豬膽內，用淡漿水煮，以杖於銚子上，用線釣之，底，候壹炊久取出，研入蘆薈、麝香各一分，飯和丸如麻子大，每服五、七丸至二、三十丸，米飲下，食後。（一方用蝦蟆半兩不燒）</p>
<h3>蘭香散</h3>
<p>治疳氣，鼻下赤爛。</p>
<p>蘭香葉（菜名，燒灰二錢）　銅青（五分）　輕粉（二字）</p>
<p>上為細末，令勻，看瘡大小干貼之。</p>
<h3>白粉散</h3>
<p>治諸疳瘡。</p>
<p>海螵蛸（三分）　白芨（三分）　輕粉（一分）</p>
<p>上為末，先用漿水洗，拭乾貼。</p>
<h3>消積丸</h3>
<p>治大便酸臭。</p>
<p>丁香（九個）　縮砂仁（二十個）　烏梅肉（三個）　巴豆（二個，去皮油心膜）</p>
<p>上為細末，面糊丸黍米大。三歲以上三、五丸；以下三、二丸。溫水下，無時。</p>
<h3>安蟲散</h3>
<p>治小兒蟲痛。</p>
<p>胡粉（炒黃）　檳榔　川楝子（去皮核）　鶴虱（炒各二兩）　白礬（鐵器熬一分）　乾漆（炒煙盡二分）　雄黃（一分）　巴豆霜（一分）</p>
<p>上為細末，每服一字，大者半錢。溫米飲調下，痛時服。</p>
<p>學海案：「聚珍本」無乾漆、雄黃、巴豆霜。</p>
<h3>紫霜丸</h3>
<p>治消積聚。</p>
<p>代赭石（　醋淬七次）　赤石脂（各一錢）　杏仁（五十粒去皮尖）　巴豆（三十粒去皮膜心出油）</p>
<p>上先將杏仁巴霜入乳缽內，研細如膏，卻入代赭、石脂末，研勻，以湯浸蒸餅為丸，如粟米大。一歲服五丸，米飲湯下；一二百日內兒三丸，乳汁下。更宜量其虛實加減，微利為度。</p>
<p>此藥兼治驚痰諸證，雖下不致虛人。</p>
<p>學海案：「聚珍本」無赤石脂。</p>
<h3>止汗散</h3>
<p>治六陽虛汗，上至頂，不過胸也，不須治之。喜汗，濃衣臥而額汗出也，止汗散止之。</p>
<p>上用故蒲扇灰，如無扇，只將故蒲燒灰研細，每服一、二錢，溫酒調下，無時。</p>
<h3>香瓜丸</h3>
<p>治遍身汗出。</p>
<p>大黃瓜（黃色者一個，去穰）　川大黃（濕紙裹煨至紙焦）　胡黃連　柴胡（去蘆）　鱉甲（醋炙黃）　蘆薈　青皮　黃柏上除黃瓜外，同為細末。將黃瓜割去頭，填入諸藥置滿，卻蓋口，用杖子插定，漫火內，面糊丸，如綠豆大。每服三、二丸，食後，冷漿水或新水下；大者五、七丸至十丸。</p>
<p>學海案：「聚珍本」更有黃連，又云各等分。</p>
<h3>花火膏</h3>
<p>治夜啼。</p>
<p>燈花（一棵）</p>
<p>上塗乳上，令兒吮之。</p>
<h3>白玉散</h3>
<p>治熱毒瓦斯客於腠理，搏於血氣，發於外皮，上赤如丹，是方用之。</p>
<p>白土（二錢五分，又云滑石）　寒水石（五錢）</p>
<p>上為末，用米醋或新水調塗。</p>
<h3>牛黃膏</h3>
<p>治驚熱。</p>
<p>雄黃（小棗大，用獨莖蘿卜根水並醋，共大盞煮盡）　甘草（末）　甜硝（各三錢）　朱砂（半錢匕）　龍腦（一錢匕）　寒水石（研細五錢匕）</p>
<p>上同研勻，蜜和為劑，食後，薄荷湯溫化下半皂子大。</p>
<p>學海案：「聚珍本」無朱砂，有鬱金末、綠豆粉。分量亦別：雄黃、甘草、甜硝各一分，寒水石一兩，鬱金、腦子各一錢，綠豆粉半兩。</p>
<h3>牛黃丸</h3>
<p>治小兒疳積。</p>
<p>雄黃（研水飛）　天竺黃（各二錢）　牽牛（末一錢）</p>
<p>上同再研，面糊為丸，粟米大，每服三丸至五丸。食後，薄荷湯下。並治疳消積，常服尤佳，大者加丸數。</p>
<h3>玉露丸</h3>
<p>（又名甘露散）</p>
<p>治傷熱吐瀉黃瘦。</p>
<p>寒水石（軟而微青黑，中有細紋者是）　石膏（堅白而牆壁手不可折者是好，各半兩）　甘草（生一錢）</p>
<p>上同為細末，每服一字或半錢、壹錢，食後，溫湯調下。</p>
<h3>百祥丸</h3>
<p>（一名南陽丸）</p>
<p>治瘡疹倒壓黑陷。</p>
<p>用紅芽大戟，不以多少，陰乾，漿水軟去骨，日中曝乾，復內汁中煮，汁盡焙乾為末，水丸如粟米大。每服一、二十丸，研赤脂麻湯下，吐利止，無時。</p>
<h3>牛李膏</h3>
<p>（一名必勝膏）</p>
<p>治同前方。</p>
<p>牛李子上杵汁，石器內密封，每服皂子大，煎杏膠湯化下。</p>
<h3>宣風散</h3>
<p>治小兒慢驚。</p>
<p>檳榔（二個）　陳皮　甘草（各半兩）　牽牛（四兩半生半熟）</p>
<p>上為細末，三二歲兒，蜜湯調下五分，以上一錢，食前服。</p>
<h3>麝香丸</h3>
<p>治小兒慢驚、疳等病。</p>
<p>草龍膽　胡黃連（各半兩）　木香　蟬殼（去劍為末，干秤）　蘆薈（去砂秤）　熊膽　青黛（各一錢）　輕粉　腦麝　牛黃（各一錢，並別研）　瓜蒂（二十一個為末）</p>
<p>上豬膽丸如桐子及綠豆大。驚疳臟腑，或秘或瀉，清米飲或溫水下，小丸五、七粒至一十粒。疳眼，豬肝湯下；疳渴，　豬湯下亦得。驚風發搐，眼上，薄荷湯化下一丸，更水研一丸滴鼻中。牙根瘡、口瘡，研貼。蟲痛，苦楝子或白蕪荑湯送下。百日內小兒，大小便通，水研封臍中。蟲候，加乾漆、好麝香各少許，並入生油一兩點，溫水化下。大凡病急則研碎，緩則浸化，小兒虛極、慢驚者勿服，尤治急驚痰熱。</p>
<p>學海案：「聚珍本」分腦麝為龍腦、麝香二味，無青黛、輕粉、蘆薈、熊膽四味。</p>
<h3>大惺惺丸</h3>
<p>治驚疳百病及諸壞病，不可具述。</p>
<p>辰砂（研）　青礞石　金牙石（各一錢半）　雄黃（一錢）　蟾灰（二錢）　牛黃　龍腦（各一字別研）　麝香（半錢別研）　蛇黃（三錢，醋淬五次）</p>
<p>上研勻細，水煮，蒸餅為丸，朱砂為衣，如綠豆大。百日兒每服一丸，一歲兒二丸，薄荷溫湯下，食後。</p>
<h3>小惺惺丸</h3>
<p>解毒，治急驚，風癇，潮熱及諸疾虛煩，藥毒上攻，躁渴。</p>
<p>臘月取東行母豬糞（燒灰存性）　辰砂（水研飛）　腦麝（各二錢）　牛黃（一錢各別研）　蛇黃（西山者，燒赤，醋淬三次，水研飛，干用半兩）</p>
<p>上以東流水作面糊丸，桐子大，朱砂為衣，每服二丸，鑰匙研破，溫水化下。小兒才生，便宜服一丸，除胎中百疾，食後。</p>
<p>學海案：「聚珍本」腦麝分為二物。云：豬糞、辰砂各半兩，龍腦、麝香各二錢。</p>
<h3>銀砂丸</h3>
<p>治涎盛，膈熱實，痰嗽，驚風，積，潮熱。</p>
<p>水銀（結砂子三皂子大）　辰砂（研二錢）　蠍尾（去毒為末）　硼砂　粉霜（各研）　輕粉郁李仁（去皮焙秤為末）　白牽牛　鐵粉　好臘茶（各三錢）</p>
<p>上同為細末，熬梨汁為膏，丸如綠豆大。龍腦水化下一丸至三丸。亦名梨汁餅子，及治大人風涎，並食後。</p>
<p>學海案：「聚珍本」好臘茶作「好蠟」，恐誤。又蠍尾、硼砂、郁李仁、粉霜、牽牛、輕粉作各一錢，鐵粉、好蠟作各三錢。</p>
<h3>蛇黃丸</h3>
<p>治驚癇。因震駭、恐怖、叫號、恍惚是也。</p>
<p>蛇黃（真者三個，火　醋淬）　鬱金（七分一處為末）　麝香（一字）</p>
<p>上為末，飯丸桐子大。每服一、二丸，煎金銀磨刀水化下。</p>
<h3>三聖丸</h3>
<p>化痰涎，寬膈，消乳癖，化驚風、食癇、諸疳。小兒一歲以內，常服極妙。</p>
<h3>小青丸</h3>
<p>青黛（一錢）　牽牛（末三錢）　膩粉（一錢）</p>
<p>並研勻，面糊丸，黍米大。</p>
<h3>小紅丸</h3>
<p>天南星（末一兩生）　朱砂（半兩研）　巴豆（一錢取霜）</p>
<p>並研勻，薑汁面糊丸，黍米大。</p>
<h3>小黃丸</h3>
<p>半夏（生末一分）　巴豆霜（一字）　黃柏（末一字）</p>
<p>並研勻，薑汁面糊丸，黍米大。以上百日者各一丸，一歲者各二丸，隨乳下。</p>
<p>學海案：「聚珍本」小青丸作青黛一分，牽牛末三分，膩粉二錢。小紅丸巴豆作二錢。</p>
<p>小黃丸黃柏作半錢。</p>
<h3>鐵粉丸</h3>
<p>治涎盛，潮搐，吐逆。</p>
<p>水銀砂子（二分）　朱砂　鐵粉（各一分）　輕粉（二分）　天南星（炮制去皮臍，取末一分）</p>
<p>上同研，水銀星盡為度，薑汁面糊丸，粟米大，煎生薑湯下，十丸至十五丸、二三十丸</p>
<h3>銀液丸</h3>
<p>治驚熱，膈實嘔吐，上盛涎熱。</p>
<p>水銀（半兩）　天南星（二錢炮）　白附子（一錢炮）</p>
<p>上為末，用石腦油為膏。每服一皂子大，薄荷湯下。</p>
<p>學海案：「聚珍本」有龍腦半錢，輕粉一錢，蠍尾甘一枚炙去毒，上同研勻，石腦油丸如綠豆大。每服二、三丸，乳香湯下，大者稍加，無時。</p>
<h3>鎮心丸</h3>
<p>治小兒驚癇，心熱。</p>
<p>朱砂　龍齒　牛黃（各一錢）　鐵粉　琥珀　人參　茯苓　防風（各二錢）　全蠍（七個焙）</p>
<p>上末煉蜜丸如桐子大，每服一丸，薄荷湯下。</p>
<h3>金箔丸</h3>
<p>治急驚涎盛。</p>
<p>金箔（二十片）　天南星（銼炒）　白附子（炮）　防風（去蘆須焙）　半夏（湯浸七次，切焙乾秤各半兩）　雄黃　辰砂（各一分）　生犀末（半分）　牛黃　腦麝（各半分。以上六物研）</p>
<p>上為細末，薑汁面糊丸，麻子大，每服三、五丸至一、二十丸，人參湯下。如治慢驚，去龍腦，服無時。</p>
<p>學海案：「聚珍本」作牛黃、龍腦、麝香各半錢，雄黃、辰砂（各二分）。余同。</p>
<h3>辰砂丸</h3>
<p>治驚風涎盛潮作，及胃熱吐逆不止。</p>
<p>辰砂（別研）　水銀砂子（各一分）　天麻　牛黃（五分）　腦麝（別研五分）　生犀末　白僵（酒炒）　蟬殼（去足）　干蠍（去毒炒）　麻黃（去節）　天南星（湯浸七次，焙切，干秤各一分）</p>
<p>上同為末，再研勻，熟蜜丸如綠豆大，朱砂為衣，每服一二丸或五七丸，食後服之，薄荷湯送下。</p>
<p>學海案：「聚珍本」天麻一分，龍腦、麝香、牛黃各五錢。余同。</p>
<h3>剪刀股丸</h3>
<p>治一切驚風，久經宣利，虛而生驚者。</p>
<p>朱砂　天竺黃（各研）　白僵蠶（去頭足炒）　蠍（去毒炒）　干蟾（去四足並腸，洗炙焦黃蟬殼（去劍）　五靈脂（去黃者為末各一分）　牛黃　龍腦（並研各一字）　麝香（研五分）　蛇黃（五錢燒赤，醋淬三五次，放水研飛）</p>
<p>上藥末共二兩四錢，東流水煮，白面糊丸，桐子大。每服一丸，剪刀環頭研，食後薄荷湯化下。如治慢驚，即去龍腦。</p>
<h3>麝蟾丸</h3>
<p>治驚涎潮搐。</p>
<p>大干蟾（秤二錢，燒另研）　鐵粉（三錢）　朱砂　青礞石（末）　雄黃（末）　蛇黃（燒取末各二錢匕）　龍腦（一字）　麝香（一錢匕）</p>
<p>上件研勻水浸，蒸餅為丸，如桐子大，朱砂為衣。薄荷水下半丸至一丸。無時。</p>
<p>學海案：「聚珍本」鐵粉作輕粉。</p>
<h3>軟金丹</h3>
<p>治驚熱痰盛，壅嗽膈實。</p>
<p>天竺黃　輕粉（各二兩）　青黛（一錢）　黑牽牛取頭末　半夏（用生薑三錢同搗成曲，焙乾，再為細末，各三分）</p>
<p>上同研勻，熟蜜劑為膏。薄荷水化下，半皂子大至一皂子大，量兒度多少用之。食後。</p>
<p>學海案：「聚珍本」竺黃、輕粉各半兩，一作二兩，青黛作一分。余同。</p>
<h3>桃枝丸</h3>
<p>疏取積熱及結胸，又名桃符。</p>
<p>巴豆霜　川大黃　黃柏（末各一錢一字）　輕粉　砂（各五分）</p>
<p>上為細末，面糊丸，粟米大。煎桃枝湯下。一歲兒，五、七丸，五七歲，二、三十丸。</p>
<p>桃符湯下亦得。未　兒，三、二丸，臨臥。</p>
<p>學海案：「聚珍本」黃柏下云各一分一字。</p>
<h3>蟬花散</h3>
<p>治驚風，夜啼，切牙，咳嗽，及療咽喉壅痛。</p>
<p>蟬花（和殼）　白僵蠶（直者酒炒熟）　甘草（炙各一分）　延胡索（半分）</p>
<p>上為末，一歲一字，四、五歲半錢。蟬殼湯下。食後。</p>
<h3>鉤藤飲子</h3>
<p>治吐利，脾胃虛風，慢驚。</p>
<p>鉤藤（三分）　蟬殼　防風（去蘆頭切）　人參（去蘆頭切）　麻黃（去節秤）　白僵蠶（炒黃）</p>
<p>天麻　蠍尾（去毒炒各半兩）　甘草（炙）　川芎（各一分）　麝香（一分別研入）</p>
<p>上同為細末，每服二錢，水一盞，煎至六分，溫服，量多少與之。寒多加附子末半錢學海案：「聚珍本」麝香作一錢，按上稱三分、一分，「分」字皆讀去聲，今宜改作錢字。麝香一分，「分」字如字讀乃合。方後加附子末半錢，加於二錢劑中也。</p>
<h3>抱龍丸</h3>
<p>治傷風、瘟疫，身熱昏睡，氣粗，風熱痰寒壅嗽，驚風潮搐，及蠱毒、中暑。沐浴後並可服，壯實小兒，宜時與服之。</p>
<p>天竺黃（一兩）　雄黃（水飛一錢）　辰砂　麝香（各別研半兩）　天南星（四兩，臘月釀牛膽中，陰乾百日，如無，只將生者去皮臍，銼炒干用）</p>
<p>上為細末，煮甘草水和丸，皂子大，溫水化下服之。百日小兒，每丸分作三、四服；五、二丸；大人三、五丸。亦治室女白帶。伏暑，用鹽少許，嚼一、二丸，新水送下。臘月中，雪水煮甘草和藥尤佳。一法用漿水或新水浸天南星三日，候透，軟煮三、五沸，取出乘軟切去皮，只取白軟者，薄切焙乾炒黃色，取末八兩，以甘草二兩半，拍破，用水二碗浸一宿，慢火煮至半碗，去滓，旋旋洒入天南星末，慢研之，令甘草水盡，入余藥。</p>
<h3>豆卷散</h3>
<p>治小兒慢驚。多用性太溫及熱藥治之，有驚未退而別生熱症者；有病愈而致熱症者；有急驚者甚多。當問病者幾日？因何得之？曾以何藥療之？可用解毒之藥，無不效，宜此方。</p>
<p>大豆黃卷（水浸黑豆生芽是也，晒乾）　板藍根　貫眾　甘草（炙各一兩）</p>
<p>上四物同為細末，每服半錢至一錢，水煎去滓服，甚者三錢，漿水內入油數點煎。又治吐蟲，服無時。</p>
<h3>龍腦散</h3>
<p>治急慢驚風。</p>
<p>大黃（蒸）　甘草　半夏（湯洗薄切，用薑汁浸一宿，焙乾炒）　金星石　禹餘糧　不灰木青蛤粉　銀星石　寒水石上各等分，同為細末，研入龍腦一字，再研勻，新水調一字至五分，量兒大小與之。通毒，本舊方也，仲陽添入甘松三兩枝，藿香葉末一錢，金芽石一分，減大黃一半，治藥毒吐血，神妙。</p>
<h3>治虛風方回生散</h3>
<p>治小兒吐瀉或誤服冷藥，脾虛生風，因成慢驚。</p>
<p>大天南星（一個，重八、九錢以上者良）</p>
<p>上用地坑子一個，深三寸許，用炭火五斤，燒通赤，入好酒半盞在內，然後入天南星，卻用炭火三、二條，蓋卻坑子，候南星微裂，取出刺碎，再炒勻熟，不可稍生，候冷為細末，每服五分或一字，量兒大小，濃煎生薑、防風湯，食前調下，無時。</p>
<h3>又方梓朴散</h3>
<p>半夏（一錢，湯洗七次，薑汁浸半日晒乾）　梓州厚朴（一兩細銼）</p>
<p>上件米泔三升，同浸一百刻，水盡為度，如百刻水末盡，加火熬干，去厚朴，只將半夏研為細末。每服半字、一字，薄荷湯調下。無時。</p>
<h3>褊銀丸</h3>
<p>治風涎，膈實，上熱及乳食不消，腹脹喘粗。</p>
<p>巴豆（去皮油心膜研細）　水銀（各半兩）　黑鉛（二錢半，水　結砂子）　麝香（五分另研）</p>
<p>好墨（八錢研）</p>
<p>上將巴豆末並墨再研勻，和入砂子、麝香，陳米粥和丸，如綠豆大捏褊。一歲一丸，二歲二、三丸，五歲以上五、六丸，煎薄荷湯放冷送下，不得化破。更量虛實增減，並食後。</p>
<p>治熱及傷風疳熱。</p>
<p>雄黃（研）　甘草末　川甜硝（各一分）　寒水石（生飛研一兩）　腦子（一錢）　綠豆粉（半兩）</p>
<p>上研勻，煉蜜和成膏，薄荷水化下，半皂子大，食後。</p>
<p>學海案：「聚珍本」寒水石作一分，一作一兩，有鬱金末一錢，此與前牛黃膏小異。「聚珍本」作生黃膏。</p>
<h3>五福化毒丹</h3>
<p>治瘡疹余毒上攻口齒，躁煩，亦咽乾，口舌生瘡，及治蘊熱積，毒熱，驚惕，狂躁。</p>
<p>生熟地黃（焙秤各五兩）　玄參　天門冬（去心）　麥門冬（去心焙秤各三兩）　甘草（炙）</p>
<p>甜硝（各二兩）　青黛（一兩半）</p>
<p>上八味為細末，後研入硝、黛，煉蜜丸如雞頭大。每服半丸或一丸，食後，水化下。</p>
<h3>羌活膏</h3>
<p>治脾胃虛，肝氣熱盛生風，或取轉過，或吐瀉後為慢驚，亦治傷寒。</p>
<p>羌活（去蘆頭）　川芎　人參（去蘆頭）　赤茯苓（去皮）　白附子（炮各半兩）　天麻（一兩）　白僵蠶（酒浸炒黃）　干蠍（去毒炒）　白花蛇（酒浸取肉焙乾各一分）　川附子（炮去皮臍）　防風（去蘆頭切焙）　麻黃（去節秤各三錢）　豆蔻肉　雞舌香（即母丁香）　藿香葉　木香（各二錢）</p>
<p>輕粉（一錢）　珍珠　麝香　牛黃（各一錢）　龍腦（半字）　雄黃　辰砂（各一分以上七味各別研入）</p>
<p>上同為細末，熟蜜和劑旋丸，大豆大。每服一、二丸，食前，薄荷湯或麥冬湯溫化下。</p>
<p>實熱、驚急勿服，性溫故也。服無時。</p>
<p>學海案：「聚珍本」白花蛇下云各一兩；木香上有沉香一味。後附辨雞舌香文云：古今舌香同異紛紛，或以為番棗核，或以為母丁香，互相排抵，竟無定說。季忠以為最為易辨。</p>
<p>所以久無定說者，惑於其名耳！古人名藥，多以其形似者名之，如烏頭、狗脊、鶴虱之類是。番棗核、母丁香本是二物，皆以形似雞舌，故名適同。凡藥同名異實，如金櫻、地錦之類，不足怪也。如雞舌二類，各有主療。番棗核者，得於乳香中，今治傷折藥多用之。母丁香即丁香之老者，極芳烈，古人含雞舌香，乃此類也。今治氣溫中藥多用之。所謂最易辨者如</p>
<h3>郁李仁丸</h3>
<p>治襁褓小兒，大小便不通，驚熱痰實，欲得溏動者。</p>
<p>郁李仁（去皮）　川大黃（去粗皮取實者銼，酒浸半日，控干，炒為末，各一兩）　滑石（半兩研細）</p>
<p>上先將郁李仁研成膏，和大黃、滑石，丸如黍米大。量大小與之，以乳汁或薄荷湯下，</p>
<h3>犀角丸</h3>
<p>治風熱痰實面赤，大小便秘澀，三焦邪熱，腑臟蘊毒，疏導極穩方。</p>
<p>生犀角末（一分）　人參（去蘆頭切）　枳實（去瓤炙）　檳榔（半兩）　黃連（一兩）　大黃（，酒浸切片，以巴豆去皮一百個，貼在大黃上，紙裹飯上蒸三次，切炒令黃焦，去巴豆不用上為細末，煉蜜和丸，如麻子大。每服一二十丸，臨臥熟水下，未動，加丸。亦治大人，孕婦不損。</p>
<h3>異功散</h3>
<p>溫中和氣，治吐瀉，不思乳食。凡小兒虛冷病，先與數服，以助其氣。</p>
<p>人參（切去頂）　茯苓（去皮）　白朮　陳皮（銼）　甘草（各等分）</p>
<p>上為細末，每服二錢，水一盞，生薑五片，棗兩個，同煎至七分，食前，溫量多少與之</p>
<h3>藿香散</h3>
<p>治脾胃虛有熱，面赤，嘔吐涎嗽，及轉過度者。</p>
<p>麥門冬（去心焙）　半夏曲　甘草（炙各半兩）　藿香葉（一兩）</p>
<p>上為末，每服五分至一錢，水一盞半，煎七分，食前溫服。</p>
<p>學海案：「聚珍本」有石膏半兩。</p>
<h3>如聖丸</h3>
<p>治冷熱疳瀉。</p>
<p>胡黃連　白蕪荑（去扇炒）　川黃連（各二兩）　使君子（一兩去殼秤）　麝香（別研五分）</p>
<p>干蝦蟆（五枚銼酒熬膏）</p>
<p>上為末，用膏丸如麻子大，每服人參湯下。二、三歲者，五、七丸；以上者，十丸至十五丸。無時。</p>
<h3>白附子香連丸</h3>
<p>治腸胃氣虛，暴傷乳哺，冷熱相雜，瀉痢赤白，裡急後重，腹痛扭撮，晝夜頻並，乳食黃連　木香（各一分）　白附子（大二個）</p>
<p>上為末，粟米飯丸，綠豆大或黍米大，或服十丸至二、三十丸，食前，清米飲下，日夜各四五服。</p>
<h3>豆蔻香連丸</h3>
<p>治泄瀉，不拘寒熱赤白，陰陽不調，腹痛腸鳴切痛，可用如聖。</p>
<p>黃連（炒三分）　肉豆蔻　南木香（各一分）</p>
<p>上為細末，粟米飯丸，米粒大。每服米飲湯下，十丸至二、三十丸，日夜各四五服，食</p>
<h3>小香連丸</h3>
<p>治冷熱腹痛，水穀利，滑腸方。</p>
<p>木香　訶子肉（各一分）　黃連（半兩炒）</p>
<p>上為細末，飯和丸綠豆大。米飲下十丸至三五十丸，頻服之，食前。</p>
<h3>二聖丸</h3>
<p>治小兒臟腑或好或瀉，久不愈，羸瘦成疳。</p>
<p>川黃連（去須）　黃柏（去粗皮各一兩）</p>
<p>上為細末，將藥末入豬膽內，湯煮熟，丸如綠豆大。每服二、三十丸，米飲下。量兒大小加減，頻服，無時。</p>
<h3>沒石子丸</h3>
<p>治泄瀉白濁，及疳痢、滑腸、腹痛者方。</p>
<p>木香　黃連（各一分，一作各二錢半）　沒石子（一個）　豆蔻仁（二個）　訶子肉（三個）</p>
<p>上為細末，飯和丸麻子大，米飲下。量兒大小加減，食前。</p>
<h3>當歸散</h3>
<p>治變蒸有寒無熱。</p>
<p>當歸（二錢）　木香　官桂　甘草（炙）　人參（各一錢）</p>
<p>上　咀，每服二錢，水七分盞，薑三片，棗一枚去核，同煎服。</p>
<h3>溫白丸</h3>
<p>治小兒脾氣虛困，泄瀉瘦弱，冷疳洞利，及因吐瀉，或久病後成慢驚，身冷螈　。</p>
<p>天麻（生半兩）　白僵蠶（炮）　白附子（生）　干蠍（去毒）　天南星（銼湯浸七次，焙各一分）</p>
<p>上同為末，湯浸，寒食面和丸，如綠豆大，圓了仍與寒食面內，養七日取出。每服五、七丸至二、三十丸，空心煎生薑米飲，漸加丸數，多與服。</p>
<h3>豆蔻散</h3>
<p>治吐瀉煩渴，腹脹，小便少。</p>
<p>豆蔻　丁香（各半分）　舶上硫黃（一分）　桂府　白滑石（三分）</p>
<p>上為細末，每服一字至半錢，米飲下，無時。</p>
<h3>溫中丸</h3>
<p>治小兒胃寒瀉白，腹痛腸鳴，吐酸水，不思食，及霍亂吐瀉。</p>
<p>人參（切去頂焙）　甘草（銼焙）　白朮（各一兩為末）</p>
<p>上薑汁面和丸，綠豆大。米飲下一、二十丸，無時。</p>
<h3>胡黃連麝香丸</h3>
<p>治疳氣羸瘦，白蟲作方。</p>
<p>胡黃連　白蕪荑（去扇各一兩）　木香　黃連（各半兩）　辰砂（另研一分）　麝香（銼研一上為細末，面糊丸綠豆大。米飲下五、七丸至十丸；三五歲以上者，可十五丸、二十丸。無時。</p>
<h3>大胡黃連丸</h3>
<p>治一切驚疳，腹脹，蟲動，好吃泥土生米，不思飲食，多睡，吼　，臟腑或秘或瀉，肌膚黃瘦，毛焦發黃，飲水，五心煩熱，能殺蟲，消進飲食，治瘡癬，常服不瀉痢方。</p>
<p>胡黃連　黃連　苦楝子（各一兩）　白蕪荑（去扇半兩，秋初三分）　蘆薈（另研）　干蟾頭（燒存性另研各一分）　麝香（一錢另研）　青黛（一兩半另研）</p>
<p>上先將前四味為細末，豬膽汁和為劑，每一胡桃大，入巴豆仁一枚置其中，用油單一重，蒸熟，去巴豆，用米一升許蒸，米熟為度，入後四味為丸。如難圓，少入面糊丸，麻子大。每服十丸、十五丸，清米飲下，食後、臨臥、日進三兩服。</p>
<h3>榆仁丸</h3>
<p>治疳熱瘦瘁，有蟲，久服充肥。</p>
<p>榆仁（去皮）　黃連（去頭，各一兩）</p>
<p>上為細末，用豬膽七個，破開取汁，與二藥同和入碗內，甑上蒸九日，每日一次，候日，研麝香五分，湯浸一宿，蒸餅同和成劑，丸如綠豆大。每服五七丸至一、二十丸，米飲下</p>
<h3>大蘆薈丸</h3>
<p>治疳殺蟲，和胃止瀉。</p>
<p>蘆薈（研）　木香　青橘皮　胡黃連　黃連　白蕪荑（去扇秤）　雷丸（破開，白者佳，赤者殺人，勿用）　鶴虱（微炒，各半兩）　麝香（二錢另研）</p>
<p>上為細末，粟米飲丸綠豆大。米飲下二十丸，無時。</p>
<h3>龍骨散</h3>
<p>治疳，口瘡，走馬疳。</p>
<p>砒霜　蟾酥（各一字）　粉霜（五分）　龍骨（一錢）　定粉（一錢五分）　龍腦（半字）</p>
<p>上先研砒粉極細，次入龍骨再研，次入定粉等同研，每用少許敷之。</p>
<h3>橘連丸</h3>
<p>治疳瘦，久服消食和氣，長肌肉。</p>
<p>陳橘皮（一兩）　黃連（一兩五錢去須，米泔浸一日）</p>
<p>上為細末，研入麝香五分，用豬膽七個，分藥入在膽內，漿水煮，候臨熟以針微扎破熟為度，取出，以粟米粥和丸，綠豆大。每服十丸至二、三十丸，米飲下，量兒大小與之，</p>
<h3>龍粉丸</h3>
<p>治疳渴。</p>
<p>草龍膽　定粉　烏梅肉（焙秤）　黃連（各二分）</p>
<p>上為細末，煉蜜丸，如麻子大。米飲下一、二十丸，無時。</p>
<h3>香銀丸</h3>
<p>治吐。</p>
<p>丁香　干葛（各一兩）　半夏（湯浸七次，切焙）　水銀（各半兩）</p>
<p>上三味，同為細末，將水銀與藥同研勻，生薑汁丸，如麻子大。每服一、二丸至五、七丸，煎金銀湯下，無時。</p>
<h3>金華散</h3>
<p>治干濕瘡癬。</p>
<p>黃丹（　一兩）　輕粉（一錢）　黃柏　黃連（各半兩）　麝香（少許）</p>
<p>上為末，先洗，次干摻之，如干癬瘡，用臘月豬脂和敷，如無，用麻油亦可，加黃芩、</p>
<h3>安蟲丸</h3>
<p>治上、中二焦虛，或胃寒蟲動及痛。又名苦楝丸方。</p>
<p>乾漆（三分，杵碎炒煙盡）　雄黃　巴豆霜（一錢）</p>
<p>上為細末，面糊丸，黍米大，量兒大小與服，取東行石榴根煎湯下，痛者煎苦楝根湯下，或蕪荑湯下五、七丸至三、二十丸，發時服。</p>
<h3>蕪荑散</h3>
<p>治胃寒蟲痛。</p>
<p>白蕪荑（去扇秤）　乾漆（炒各等分）</p>
<p>上為細末，每服一字，或五分、一錢，米飲調下，發時服。</p>
<p>上方杜壬養生必用方同。杜亦治胃寒蟲上。</p>
<h3>膽礬丸</h3>
<p>治疳，消癖進食，止瀉和胃，遣蟲。</p>
<p>膽礬（真者一錢為粗末）　綠礬（真者二兩）　大棗（十四個去核）　好醋（一升）</p>
<p>以上四物同煎，熬令棗爛和後藥。</p>
<p>使君子（二兩去殼）　枳實（去穰炒三兩）　黃連　訶黎勒（去核各一兩，並為粗末）　巴豆（二七枚，去皮破之）</p>
<p>以上五物同炒令黑，約三分干，入後藥。</p>
<p>夜明砂（一兩）　蝦蟆灰（存性一兩）　苦楝根皮以上三物再同炒，候干，同前四物杵羅為末，卻同前膏和入臼中，杵千下。如未成更旋棗肉，亦不可多，恐服之難化。太稠，即入溫水，可圓即丸，如綠豆大。每服二、三十丸，米飲溫水下，不拘時。</p>
<h3>真珠丸</h3>
<p>取小兒虛中一切積聚、驚涎、宿食、乳癖。治大小便澀滯，療腹脹，行滯氣。</p>
<p>木香　白丁香（真者）　丁香（末五分）　巴豆仁（十四個，水浸一宿，研極膩）　輕粉（各五分，留少許為衣）　白滑石（末二錢）</p>
<p>上為末，研勻，濕紙裹燒，粟米飯丸麻子大。一歲一丸，八九歲以上至十五歲服八丸，炮皂子煎湯放冷下。挾風熱難動者，先服涼藥一服；乳癖者，減丸數，隔日臨臥一服。</p>
<h3>消堅丸</h3>
<p>消乳癖及下交奶，又治痰熱膈實，取積。</p>
<p>HT　砂末　巴豆霜　輕粉（各一錢）　水銀砂子（兩皂子大）　細墨（少許）　黃明膠（末五錢）</p>
<p>上同研勻，入面糊丸，如麻子大。倒流水下，一歲一丸，食後。</p>
<h3>百部丸</h3>
<p>治肺寒壅嗽，微有痰。</p>
<p>百部（三兩炒）　麻黃（去節）　杏仁（四十個去皮尖，微炒，煮三五沸）</p>
<p>上為末，煉蜜丸如芡實大，熱水化下，加松子仁肉五十粒，糖丸之，含化大妙。</p>
<h3>紫草散</h3>
<p>發斑疹。</p>
<p>鉤藤鉤子　紫草茸（各等分）</p>
<p>上為細末，每服一字，或五分、一錢，溫酒調下，無時。</p>
<h3>秦艽散</h3>
<p>治潮熱，減食，蒸瘦方。</p>
<p>秦艽（去蘆頭切焙）　甘草（炙各一兩）　干薄荷（半兩勿焙）</p>
<p>上為粗末，每服一二錢，水一中盞，煎至八分，食後溫服。</p>
<h3>地骨皮散</h3>
<p>治虛熱潮作，亦治傷寒壯熱，及余熱方。</p>
<p>地骨皮（自采佳）　知母　銀州柴胡（去蘆）　甘草（炙）　半夏（湯洗十次，切焙）　人參（切去頂焙）　赤茯苓（各等分）</p>
<p>上為細末，每服二錢，薑五片，水一盞，煎至八分，食後溫服，量大小加減。</p>
<h3>人參生犀散</h3>
<p>解小兒時氣寒壅、咳嗽，痰逆喘滿，心忪驚悸，臟腑或秘或泄，調胃進食。又主一切風熱，服尋常涼藥即瀉而減食者。</p>
<p>人參（切去蘆三錢）　前胡（去蘆七錢）　甘草（炙黃二錢）　桔梗　杏仁（去皮尖略爆干為末，秤各五錢）</p>
<p>上將前四味為末，後入杏仁，再粗羅羅過。每服二錢，水一盞，煎至八分，去滓溫服，食後。</p>
<h3>三黃丸</h3>
<p>治諸熱。</p>
<p>黃芩（半兩去心）　大黃（去皮濕紙裹煨）　黃連（去須各一錢）</p>
<p>上同為細末，面糊丸綠豆大或麻子大。每服五七丸至十五丸、二十丸，食後，米飲送下</p>
<h3>治囟開不合、鼻塞不通方</h3>
<p>天南星大者，微炮去皮為細末，淡醋調，塗緋帛上，貼囟上，火炙手頻熨之。</p>
<h3>黃散</h3>
<p>治虛熱盜汗。</p>
<p>牡蠣（　）　黃　生地黃（各等分）</p>
<p>上為末，煎服，無時。</p>
<h3>虎杖散</h3>
<p>治實熱盜汗。</p>
<p>上用虎杖銼，水煎服。量多少與之，無時。</p>
<h3>捻頭散</h3>
<p>治小便不通方。</p>
<p>延胡索　川苦楝（各等分）</p>
<p>上同為細末，每服五分或一錢，捻頭湯調下，量多少與之。如無捻頭湯，即湯中滴油數點，食前。</p>
<h3>羊肝散</h3>
<p>治瘡疹入眼成翳。</p>
<p>上用蟬蛻末，水煎，羊子肝湯調服二三錢。凡痘瘡才欲著痂，即用酥或面油不住潤之，可揭即揭，若不潤及遲揭，瘡硬即隱成瘢痕。</p>
<h3>蟬蛻散</h3>
<p>治斑瘡入眼，半年以內者，一月取效。</p>
<p>蟬蛻（去土取末一兩）　豬懸蹄甲（二兩，罐子內鹽泥固濟，燒存性）</p>
<p>上二味研，入羚羊角細末一分拌勻。每服一字；百日外兒五分；三歲以上一、二錢。溫水或新水調下，日三、四，夜一、二，食後服。一年以外難治。</p>
<h3>烏藥散</h3>
<p>治乳母冷熱不和及心腹時痛，或水瀉，或乳不好。</p>
<p>天台烏藥　香附子（破用白者）　高良薑　赤芍藥上各等分為末，每服一錢，水一盞，同煎六分，溫服。如心腹疼痛，入酒煎。水瀉，米飲調下。無時。</p>
<h3>二氣散</h3>
<p>治冷熱驚吐反胃，一切吐利，諸治不效者。</p>
<p>硫黃（半兩研）　水銀（二錢半研，不見星，如黑煤色為度）</p>
<p>上每服一字至五分，生薑水調下或同炒，結砂為丸。</p>
<h3>葶藶丸</h3>
<p>治乳食沖肺，咳嗽、面赤、痰喘。</p>
<p>甜葶藶（隔紙炒）　黑牽牛（炒）　漢防己　杏仁（炒去皮尖各一錢）</p>
<p>上為末，入杏仁泥，取蒸陳棗肉和搗為丸，如麻子大，每服五丸至七丸，生薑湯送下。</p>
<h3>麻黃湯</h3>
<p>治傷風發熱、無汗、咳嗽、喘急。</p>
<p>麻黃（去節三錢，水煮去沫，漉出晒乾）　肉桂（二錢）　甘草（炙一錢）　杏仁（七個去皮尖麩炒黃研膏）</p>
<p>每服一錢，水煎服。以汗出為度，自汗者不宜服。</p>
<h3>生犀磨汁</h3>
<p>治瘡疹不快，吐血衄血。</p>
<p>生犀磨汁學海案：「聚珍本」有生犀散云，消毒瓦斯，解內熱。用生犀磨濃汁，微溫飲一茶腳許，乳食後，更量大小加減之。與此方同而治異。</p>
<h3>大黃丸</h3>
<p>治諸熱。</p>
<p>大黃　黃芩（各一兩）</p>
<p>上為末，煉蜜丸如綠豆大。每服五丸至十丸，溫蜜水下。量兒加減。</p>
<h3>使君子丸</h3>
<p>治臟腑虛滑及疳瘦下利，腹脅脹滿，不思乳食。常服，安蟲補胃，消疳肥肌。</p>
<p>厚朴（去粗皮薑汁塗焙）　甘草（炙）　訶子肉（半生半煨）　青黛（各半兩，如是兼驚及帶入此味，如則變疳不調，不用此味）　陳皮（去白一分）　使君子（去殼一兩，面裹煨熟，去面上為末，煉蜜丸，如小雞頭大，每服一丸，米飲化下。百日以上、一歲以下，服半丸。</p>
<p>乳汁化下。</p>
<h3>青金丹</h3>
<p>疏風利痰。</p>
<p>蘆薈　牙硝　青黛（各一錢）　使君子（三枚）　硼砂　輕粉（各五分）　蠍稍（十四個）</p>
<p>上末，磨香墨拌，丸麻子大。每三丸，薄荷湯下。</p>
<h3>燒青丸</h3>
<p>治乳癖。</p>
<p>輕粉　粉霜　HT　砂（各一錢）　白面（二錢）　玄精石（一分）　白丁香（一字）　定粉（一錢）　龍腦（十字）</p>
<p>上同一處，研令極細，滴水和為一餅，以文武火燒熟勿焦，再為末，研如粉面，滴水和丸如黃米。每服七丸，漿水化下。三歲以下服五丸，量兒大小，加減服之。此古方也。</p>
<h3>敗毒散</h3>
<p>治傷風、瘟疫、風濕，頭目昏暗，四肢作痛，增寒壯熱，項強睛疼，或惡寒咳嗽，鼻塞聲重。</p>
<p>柴胡（洗去蘆）　前胡　川芎　枳殼　羌活　獨活　茯苓　桔梗（炒）　人參（各一兩）　甘草（半兩）</p>
<p>上為末，每服二錢，入生薑、薄荷煎，加地骨皮、天麻，或　咀，加蟬蛻、防風。治驚熱可加芍藥、干葛、黃芩；無汗加麻黃。</p>
<p>學海案：「聚珍本」方末無加地骨皮。以下有云，此古方也。錢氏加甜葶藶半兩，薄荷葉半兩，名羌活散，蓋閻氏注也。</p>
<h2>附方</h2>
<p>學海案：「聚珍本」較此本少涼驚丸（名同方異）、粉紅丸、阿膠散、塗囟法、浴體法、湯、利驚丸、消積丸、花火膏、百祥丸、牛李膏、宣風散、蛇黃丸、鎮心丸（名同方異）、抱龍丸、五福化毒丹、當歸散、安蟲丸、蕪荑散、人參生犀散、羊肝散、葶藶丸、生犀磨汁、使君子丸、青金丹（名同方異）、燒青丸，共二十六方，而別有木瓜丸、青金丹、生犀散（與生犀磨汁，方同治異）、龍腦膏、梔豉飲子、白虎湯、大黃丸（名同方異）、鎮心丸、鉤藤膏、魏香散、涼驚丸、獨活飲子、三黃散、人參散、檳榔散、黃　散（名同方異）、地骨皮散（名同方異）、蘭香散、敷齒立效散、蚵皮丸共二十方。其間龍腦膏、梔豉飲子、白虎湯、鉤藤膏、魏香散五方，已見閻氏書中，余十五方，未知何出？附錄於此，以備習是業者有所采焉。</p>
<h3>木瓜丸</h3>
<p>止吐。</p>
<p>木瓜末　麝香　膩粉　木香末　檳榔末（各一字）</p>
<p>上同研，面糊丸，如小黃米大。每服一、二丸，甘草水下，無時服。</p>
<h3>青金丹</h3>
<p>青黛（研）　雄黃（飛研）　胡黃連（各半兩）　白附子（炮制二錢）　水銀（一錢與膩粉同研）</p>
<p>粉（水銀同研）　熊膽（用溫水化入）　蘆薈（研）　蟾酥（研入各一分）　麝香（半分）　龍腦（研）</p>
<p>朱砂（飛研）　鉛霜（研各一字）</p>
<p>上為細末，令勻，用熬過豬膽汁浸，蒸餅和丸，如黃米大。退驚治風，化蟲殺疳，除百進乳食，治一切驚風天釣，目睛上視，手足搐搦，狀候多端。用藥一丸，溫水化滴鼻中，令嚏噴三五次，更用薄荷湯下二丸即愈。如久患五疳，腹脹頭大，四肢瘦小，好吃泥土，不思乳食，愛咬提甲，時　眉毛，頭發稀疏，肚上青筋，及又患瀉痢，並用米飲下二丸。如鼻下赤爛，口齒疳蟲並口瘡等，用乳汁研二丸，塗在患處。疳眼雀目，白羊肝一枚，以竹刀子批開，入藥二丸在內，以麻縷纏定，用淘米泔煮熟，空腹食之。仍令乳母常忌魚腥、大蒜、雞、鴨、豬肉等。此藥若隔三二日一服，永</p>
<h3>生犀散</h3>
<p>消毒瓦斯，解內熱。</p>
<p>生犀（凡盛物者，皆經蒸煮，不堪用，須生者為佳）</p>
<p>上一物，不拘多少，於澀器物中，用新水磨濃汁，微溫飲一茶腳許，乳食後，更量大小加減之。</p>
<h3>大黃丸</h3>
<p>治風熱裡實，口中氣熱，大小便閉赤，飲水不止，有下證者，宜服之。</p>
<p>大黃（一兩，酒洗過，米下蒸熟，切片曝乾）　川芎（一兩銼）　甘草（一分銼炙）　黑牽牛（半兩半生熟炒）</p>
<p>上為細末，稀糊和丸，如麻子大。二歲每服十丸，溫蜜水下，乳後服，以溏利為度；未利加丸數再服。量大小虛實用之。</p>
<h3>鎮心丸</h3>
<p>涼心經，治驚熱痰盛。</p>
<p>甜硝（白者）　人參（切去蘆末）　甘草（炙取末）　寒水石（燒各一兩）　干山藥（白者）　白茯苓（各二兩）　朱砂（一兩）　龍腦　麝香（各一錢，三味並研碎）</p>
<p>上為末，熟蜜丸雞頭大。如要紅，入坯子胭脂二錢，即染胭脂是也。溫水化下半丸至一、二丸，食後。</p>
<h3>涼驚丸</h3>
<p>硼砂（研）　粉霜（研）　郁李仁（去皮焙乾為末）　輕粉　鐵粉（研）　白牽牛末（各一錢）</p>
<p>好臘茶（三錢）</p>
<p>上同為細末，熬梨為膏，丸綠豆大。龍腦水化下一丸至三丸。亦名梨汁餅子。及治大人風涎，並食後服。（一本無白牽牛末）</p>
<h3>獨活飲子</h3>
<p>治腎疳臭息候良方。</p>
<p>天麻　木香　獨活　防風（各一錢）　麝香（少許研細末和入）</p>
<p>上每服一錢匕，小者半錢，麥門冬熟水調下。</p>
<h3>三黃散</h3>
<p>治腎疳硼砂候良方。</p>
<p>牛黃　大黃　生地黃　木香　青黛（各等分為末）</p>
<p>上每服一錢匕，熟水調服。</p>
<h3>人參散</h3>
<p>治腎疳潰槽候良方。</p>
<p>肉豆蔻（炮）　胡黃連　人參　杏仁（炒）　甘草（炙，各等分為末）</p>
<p>上每服一錢匕，小者半錢，溫熟水調服。</p>
<h3>檳榔散</h3>
<p>治腎疳宣露候良方。</p>
<p>木香　檳榔　人參　黃連　甘草（炙，各等分為末）</p>
<p>上每服一錢，小者半錢，熟水調服。</p>
<h3>黃散</h3>
<p>治腎疳腐根候良方。</p>
<p>黃　（蜜炙）　牛黃　人參　天麻　蠍（去毒）　杏仁（炒）　白茯苓　川當歸　生地黃（洗）</p>
<p>熟乾地黃（洗各等分為末）</p>
<p>上每服小者半匕，煎天門冬熟水調服，麥門冬亦得。</p>
<h3>地骨皮散</h3>
<p>治腎疳，齦　牙齒肉爛腐臭，鮮血常出良方。</p>
<p>生乾地黃（半兩）　真地骨皮　細辛（各一分）　五倍子（炒令焦二錢）</p>
<p>上為末，每用少許敷之，頻與功效，多不妨。議曰：本經所載，疳證有五，謂五臟所受得其名。今述腎疳一臟，有五證候者，最為要急，不可同常。此疾具陳有五種，候傳迅疾可畏，乃知走馬之號不誣。初發之時，兒孩口臭，上干胃口，氣息臭郁；漸進損筋，齦肉生瘡，或腫或爛，其齒焦黑；又進，從牙槽內發作瘡　，破潰膿爛；又進，熱逼入脈，常血出，其熱注久，牙齦腐壞，槽寬齒脫，六七歲孩落盡，不復更生，豈可治療！今以妙方，宜速與隨其傳變而理，不待疾作而後藥也。</p>
<h3>蘭香散</h3>
<p>治小兒走馬疳，牙齒潰爛，以至硼砂出血齒落者。</p>
<p>輕粉　蘭香（末各一錢）　密陀僧（半兩，醋淬為末）</p>
<p>上研如粉，敷齒及齦上，立效。議曰：嬰孩受病，症候多疳，良由氣鬱三焦，疳分五臟有腎經，常虛得疳，名之曰急，以走馬為喻，治療頗難。此等證：初作口氣，名曰臭息；次第齒黑，名曰硼砂；盛則齦爛，名曰潰槽；又盛血出，名曰宣露；重則齒自脫落，名曰腐根。其根既腐，何由理之？嗟乎！豪家育子，哺以甘肥，腎堂受之虛熱，或因母在難月，恣食濃味，令兒所招，俱非偶然而作。今將秘方述於後。</p>
<h3>敷齒立效散</h3>
<p>鴨嘴　膽礬（一錢匕，　紅研）　麝香（少許）</p>
<p>上研勻，每以少許敷牙齒齦上。又一方用蟾酥一字，加麝香和勻敷之。議曰：血之流行也，氣之循環者衛也。變蒸足後，飲食之間，深恐有傷於榮衛而作眾疾。其或氣傷於毒，血傷於熱，熱毒攻之。虛臟所受，何臟為虛？蓋小兒腎之一臟常主虛，不可令受熱毒，攻及腎臟，傷乎筋骨。惟齒受骨之余氣，故先作疾，名曰走馬，非徐徐而作。所宜服藥，甘露飲地黃膏、化毒丹、消毒飲。其外證以前件立效散、及麝酥膏敷之。切忌與食熱毒之物。此疳不同常證，醫宜深究保全為上。若用常方，難於痊愈。</p>
<h3>蚵皮丸</h3>
<p>治小兒五疳，八痢，乳食不節，寒溫調適乖違，毛髮焦黃，皮膚枯悴，腳細肚大，顱解，漸覺　羸，時發寒熱，盜汗，咳嗽，腦後核起，腹內塊生，小便泔濁，膿痢澱青，　眉咬指，吃土甘酸，吐食不化，煩渴並頻，心神昏瞀，鼻赤唇燥，小蟲既出，蛔蟲咬心，疳眼雀目，名曰丁奚。此藥效驗如神。</p>
<p>蚵皮（酒浸去骨焙）　白蕪荑（去皮）　黃連（去須）　胡黃連（各一兩半）　青黛（半兩為衣）</p>
<p>上件研為細末，豬膽汁面和丸，如粟米大。每服三十丸，用飯飲吞下，食後，臨臥，日進三服。</p>
