<header data-type="book">
<h1>醫學課兒策</h1>
</header>
<h2>自序</h2>
<p>歲癸卯，鼎汾年屆五十，從事醫學人近二十年，每臨症喜窮究其所以然之故，求之不得，質之古人，以尋其極致之理，俾愜於心而後安。於是次兒斗機年長，欲與切磋斯道，用策學條對例，隨問隨答，以得教學相長之益，名之曰《醫學課兒策》。將逐漸添補，逐漸修改，未敢以為定論而問世也。先錄數篇，質之同人，倘得直諒多聞之友教所不逮，則鼎汾雖不敏，竊慕先賢蘧夫子之知非。謹錄初稿之目如左，時道光癸卯中秋朔日，高鼎汾上池書。</p>
<p>溫熱一　溫熱二　溫熱三　痢疾　中風　虛勞　痙病　暑病　濕病　燥病　瘧疾　喉痧　婦人　胎前　肺病</p>
<h2>周序</h2>
<p>有清以來二百數十年醫術遞變，由傷寒而開治溫之道，以周、葉、陳、陳、薛諸氏為先，錫邑當寧、蘇之沖，醫學一門名賢輩出。嘉、道間，高錦亭先生造詣深邃，著有《瘍科心得》，集《景岳新方歌》，邑志有傳。孫文清公序而刊行。王氏旭高乃其門下士也，哲嗣上池，學博承其家傳，研究治術內外並精，邑人稱之。後學昔年與文孫研五遇，出示其令祖所著《醫學課兒策》一卷，並謂策中間附旁注，為旭高先生診余過從共相商榷所注。手錄一過，想見當時教學相長，揣摩極精，非晚近淺嘗者可及。方今歐風東漸，國學有淪胥之勢，浙中諸名彥懼中學之失傳也，續行醫報，訂行孤本，越州裘君吉生識高學廣，實綜其成，函來征書，亟錄郵呈，當蒙稱許，付梓問世，功非淺鮮。</p>
<p>惟當此保存國粹之日，尤愿同志諸君相與搜羅征集，毋使名家著述或致湮沒也可。</p>
<p><u>中華民國四年冬月，無錫伯華周鎮小農謹識</u></p>
<h2>正文</h2>
<p>問溫病始於《內經》何條？仲景接言者幾條？後人治溫每與傷寒混者在何處？自漢以來論溫病者幾家？葉天士出而直接劉河間，以三焦論治而治溫之法始詳，其理安在？上焦之治不外肺衛心營，肺衛心營見證能詳述歟？治肺衛者何方？治心營者何方？兼治者何方？中焦之病在陽明經府，見證分別何在？白虎承氣變化幾方？此外尚有何法？脾臟獨不傳歟？下焦之病在肝腎，宜詳見證治當何方？近日治溫多宗葉氏，葉氏之闕失者何在？吳氏之得失安在？與葉氏可互參歟？其詳晰書之。</p>
<p>天有六氣：風、寒、暑、濕、燥、火，惟火有二，曰君曰相。風濕與燥無不兼溫，惟寒水與溫相反。然傷寒者必病，熱溫病亦多矣哉。陰陽應象大論曰：「重陰必陽，重陽必陰，故曰：冬傷於寒，春必病溫。」自漢以後，醫家皆未注明，因以溫病為傷寒伏氣，遂以溫病與傷寒同治由。其不知，「故曰」二字從上句來也。若曰：冬日嚴寒重陰者必傷人之陽，而病在陽；春日大熱重陽者必傷人之陰，而病在陰。故曰：在冬則名傷寒，在春則名溫病，仲景《傷寒論》剖別分明，曰：「太陽病，發熱、無汗、惡寒、脈浮而緊者，曰傷寒，發熱而渴、不惡寒者曰溫病；發汗已，身灼熱者名曰風溫。」然則伏氣竟不病乎？曰溫病之原有三：一曰伏氣，指春溫兼咳，溫瘧春初惡寒之病而言；二曰主氣，六元正紀大論曰：辰戌年初之氣民病溫厲，寅申丑未歲以次而推，此客氣也，若每年主氣，春夏之交，時令大熱，熱氣感人，豈無溫病；三曰戾氣，凶荒兵亂之後，與非其時，而有其氣，皆曰戾氣。戾氣成瘟，沿門相傳，又可所謂瘟疫也。</p>
<p>明乎此，而傷寒與溫病可以不混。宋元以來諸名家，不知溫病傷寒之辨，如龐安常《卒病論》、朱肱《活人書》、韓祗和《微旨》、王實之《證治》、劉守真之《傷寒醫覽》、《傷寒直格》、張子和《傷寒心鏡》等書，每以傷寒之法治溫病，用麻桂等方於心不安，別立通聖、九味羌活、雙解等方，甚至辛溫藥中加苦寒，皆非理也。近時論溫病者張景岳、吳又可、喻嘉言三家。</p>
<p>景岳以「溫病為傷寒」，無足論。喻氏有火症斷不至化為寒病之說，分晰極清，而亦用辛溫辛熱之藥，是但能治春初伏氣之溫，而忘乎主氣之溫病也，又可直斷溫熱之原非風寒所中，一以辟穢為治。彼當崇禎凶荒兵火之時，但能治戾氣之瘟疫，忘乎伏氣主氣之溫病也。兩家詳於治溫者，各執已見，不能融會貫通，如此後之治溫病者，將何從取法哉？幸也，葉天士出而剖晰分明，謂：「傷寒從表入，自太陽經膀胱始，當從六經論傳變。溫邪自口鼻入，自手太陰肺經始，當從三焦論重輕，傷寒必困其陽，當溫散以救陽，得汗而寒解。溫病必爍其陰，當辛涼以救陰，得汗而溫亦解。」大綱之眉目既清，三焦之治可按部而理矣。試言上焦溫邪，首先犯肺，逆傳心包。肺主衛，心主營。肺衛見證：舌白、咳嗽、口渴、脈右大微、惡寒，甚則發疹，當以辛涼之品，輕則銀翹、竹葉、蒡桔、重則石膏、知母、元參；心營見證：舌紅或黑，神氣模糊或見血，甚則見　，當以清營之劑，輕則芩、連、丹、梔、赤芍，重則犀角、牛黃、麝、玳、紫雪，此皆上焦見證也。方主衛者銀翹散兩方、白虎湯化三方；主營者犀角地黃湯，又合銀翹湯、五汁飲、梔豉湯，清寒清營牛黃、至寶、紫雪共，約治上焦者十方。次言中焦陽明為市，病至四五日後必傳陽明，而況平日積滯者最多積在腑，則溫熱亦引而傳於腑，其見證：胸痞拒按、口燥，脈沈實，承氣症也。然而變化者十余方，胃實腸虛，用大黃而去芒硝（為小承氣）；胃虛腸實，用芒硝而去大黃（為柴胡芒硝）；腸胃實而不痞，輕用硝黃去朴實（為調胃承氣）；虛者加三參（為新加黃龍）；兼上焦者，加瓜蔞、杏仁、石膏：兼心營者，大黃湯化牛黃丸；兼小腸小便不通，大黃同芩、連、丹、地苦泄之液；涸甚者，硝黃同元參、地麥合用，名增液。皆承氣變法也。若在經見證，脈必洪大浮躁，白虎三法外，又有竹葉、石膏化　湯兩方，此皆中焦見證化方也。若傷脾者必發黃，其病最急，茵陳梔子大黃湯急救法也。下焦之病見於肝者、痙厥見於腎者、煩而不寐治痙者，宜龜甲、鱉甲、牡蠣、阿膠等。治煩者，黃連、阿膠、地芍共約十方，皆從定風珠復脈、黃連、阿膠數方變化。壯火盛者，不得用定風珠復脈。邪少虛多者，不得用黃連、阿膠。除虛痙，不得用青蒿、鱉甲。若夫，葉氏闕失在無消食消痰。蓋溫病初起，豈無夾食，當用保和之類；豈無胸滿夾痰，當用陷胸之類者，葉氏方中獨闕。而芳香化穢、甘寒生津二法，實足為溫病死中求活之方。故吳又可能蕩滌而短於養津；香化能治黎霍而不能治高梁。葉天士能柔和而短於消痰，消食能治高梁而不能治黎霍，此定論也。在今日讀兩公書者，去其偏而救其弊，何不可互參歟？問：治病必先定病名，而後可按證立方。王叔和雖不能自立溫病之方，而傷寒例中立溫病名目九條，能一一分晰其見證歟！吳又可著《瘟疫論》，瘟溫二字能詳辨歟？溫病始於上焦，能言其所以然歟？溫病之因與傷寒分別處安在？明乎死症之所以然，而後可救其生。溫病之死法有幾？能歷歷詳言之歟？溫病不用麻黃發汗者曷故？而冬溫病萎蕤法獨用麻黃者曷故？何者為　？何者為疹？能詳其所生所發之源歟？或曰宜托，或曰宜化，能剖其宜托宜化之故歟？醫家以實事應人之求，了然於心者，先當了然於手。</p>
<p>溫病有風溫，有溫熱，有溫疫，有溫毒，有暑溫，有濕溫，有秋燥，有冬溫，有溫瘧共九條。王叔和以一切外感敘於傷寒例中，悉以傷寒法治之，貽惠無窮。今按：風溫者，初春陽氣始開，厥陰令行，風夾溫也；熱者，春未夏初，陽氣弛張，溫盛為熱也；溫疫者，厲氣流行多兼穢濁，家家如是，若役使然也；溫毒者，諸溫夾毒，穢濁太甚也；暑溫者，正夏之時，暑病之偏於熱者也；濕溫者，長夏初秋，濕中生熱，即暑病之偏於濕者也；秋燥者，秋金燥烈之氣也；冬溫者，冬應寒而反溫，陽不潛藏，民病溫也；溫瘧者，陰氣先傷，又因於暑，陽氣獨發也。《瘟疫論》一書，又可特論瘟疫一端，瘟字從溫之半，仍屬熱病，但只指厲氣為病耳，不可以統治四時之溫病也。試言溫病起手太陰之故：夫天地一陰陽也，若在時節一寒暑也，而寒暑之成由風變也。自秋而冬，風從西北方來，乃　栗之寒風，寒必傷陽。膀胱足太陽府也。寒邪鬱遏陽氣，而為頭痛惡寒之傷寒。自春而夏，風從東南方來，乃解凍之溫，風溫必傷陰。肺經手太陰藏也，溫邪鬱遏陰氣，而為咳嗽、自汗、口渴、身熱之溫病。故傷寒從太陽經肌表始，由表而裡；溫病從太陰上焦始，由上而下。一縱一橫，而寒熱之病情彰矣。故曰：水火者，陰陽之征兆也；南北者，陰陽之極致也。天地之陰陽和平，而萬物生；人身之陰陽和平，而百病卻。一有所偏，即為病。偏於水者病寒，偏於火者病熱。燭其病在水也，溫之熱之；燭其病在火也，涼之寒之。各救其偏，以底於平，而醫之能事畢矣。雖然不明乎溫病，所以死之故，將何以救其生？夫溫病死狀大略不外五條：一曰火勢燎原，血從上溢，肺之化源絕者死；二曰熱入心營，心神內閉，內閉外脫者死；三曰陽明太實，土克水者死；四曰肝鬱發黃，黃極則竅為閉，穢濁塞竅者死；五曰在下焦者，無非銷爍津液，涸盡而死也。明乎此，病既了然於心，藥可了然於手下矣。若夫溫病發汗不用麻黃之故，可罕譬而知之。今夫冬令嚴寒，西北令行也。西北風為主風，見之不雨，風轉東南而雨來矣。春夏溫暖，東南令行也，東南風為主風，見之不雨，風轉西北而雨至矣。人之汗，以天地之雨名之，夏令安得用辛溫之麻黃發表之藥乎？且夫汗也者，以陽氣為運用，以陰津為材料。陰津有餘，陽氣不足，又為寒邪殺厲之氣所搏，不能自出，必用麻桂辛溫味薄急走之藥，以運其陽氣而汗始出，故《傷寒》一書始終以救陽氣為主。若陽氣有餘，陰津不足，又為溫熱升發之氣所爍，而汗自出，或不出必用羔、知、冬、地辛涼甘潤之品培養其陰津為材料，以為正汗之地。故治溫病者，始終以救陰津為主，至萎蕤用麻黃。雖感冬時之溫，仍有冷風外束也，故以石膏治溫，麻黃達表，或溫病而誤發太陽經之汗，其人熱甚，血燥不能蒸汗，溫邪鬱於肌表血分，必發　疹，不知手經本是逆傳。手太陰病不解，本有必傳手厥陰心包絡之理，故溫病中發疹者十八九，發　者十二三。　乃純赤大片，為肌肉病，胃主肌肉，胃病也，赤為營色，故化以石膏、知母，亦可加犀角、元參，所謂主以鹹寒佐以苦甘法也。若夫疹系紅點，高起系血絡中病，肺病也，當主以銀蒡芳香透絡，薄翹辛涼解肌，甘竹地元參甘寒清血，一皆主以化法為正。彼吳又可出一托裡舉　法，用歸升柴芷山甲溫燥之品。當春夏陽升時更升陽氣，能不畏其爍津液乎？此不通經文之過也，宜戒用之。</p>
<p>（一）論寒暑由乎風變及寒風傷陽、溫風傷陰之故，詢是特識。（二）論溫病發汗不用麻黃或用麻黃一節，理明辭暢。（三）葉氏《溫熱論》中有瑣碎小點淡紅色，非屬陰　即屬虛之說，似宜補托，如加減復脈之類亦托法也。若又可之托裡舉　、溫燥升發，斷不可從。</p>
<p>王旭高注。</p>
<p>問：溫病上焦肺衛心營外，尚有何證何方？中焦脾胃外，尚有何證何方？下焦肝腎外，尚有何證何方？今人論舌苔較細，古人能分辨其見證歟？甘寒、苦寒、鹹寒能分辨其當用歟？辛涼與香化用法，能言其故歟？古人每用敗毒散起首，或陶節庵柴葛解肌，其宜安在？其禁安在？今人每用吳氏達原飲起首，其宜安在？其禁安在？白虎、承氣、復脈三方之禁，能詳言歟？小兒麻疹之類，與　疹同源歟？婦人胎前產後之溫病，丹溪謂宜先補氣血，景岳謂宜急清外邪內食，能獨出手眼歟？平日明白辨之，臨時庶應手用之。</p>
<p>上焦營衛外，有夾痰證，咳喘、苔膩、脘悶、宜小陷胸湯；有夾飲症，煩躁、面紅、苔黃，宜大陷胸湯；有膈間症，舌微黃、寸盛、懊　、欲嘔，宜梔豉湯；痰涎涌甚者，宜瓜蒂散；有液涸症，口渴、白沫，宜五汁飲。中焦脾胃外，下後汗自出，下既傷陰，汗又泄陰，當復其陰，宜益胃湯；下後無汗，脈數，宜清燥東加沙參、梨汗、牡蠣，懊　、小便不利，宜梔子柏皮湯，渴飲舌燥、發黃，茵陳蒿湯；證未可下，小溲短，宜冬地三黃湯。下焦肝腎外，少陰心煩不得臥，宜黃連阿膠湯；陰中伏熱夜甚者，宜青蒿鱉甲湯；瘀血漱水便黑者，宜犀角地黃湯；少腹堅滿蓄血，宜桃仁承氣抵當；便膿血者，宜桃花粥；少陰胸滿心煩者，宜豬膚湯；咽痛者，甘桔湯；少陰咽瘡，苦酒湯。</p>
<p>試言舌苔：舌絳不渴夜甚，乃入營的候（清營），絳而中心黃者，當氣血兩清（玉女）；純絳鮮紅，急滌心包（清營牛黃）；中心干絳，兩清心胃（化斑元犀）；尖獨干絳，專泄火腑（冬地三黃）；舌絳而干，當濡胃陰（五汁）；絳而枯萎，急用膠黃；干絳無色，急投復脈。以上仍宜脈症合參。若舌絳，兼有白苔或黃白相兼，邪仍在氣分；絳而滑苔，濕熱熏蒸，忌血藥膩補，邪必難解。若夫溫家用方，經云：風淫於內，治以辛涼，佐以苦甘；熱淫於內，治以鹹寒，佐以甘苦。甘寒，如麥、地、石膏、梨蔗之屬；苦寒如芩、連、知、柏、山梔。蓋鹹寒保腎水而安心體（犀角金汁），苦寒通火腑而瀉心火（連梔黃柏）。甘寒則養胃液而保肺陰，加以芳香化穢濁而利機竅（麝香、冰片、鬱金、雄黃），是從仲景溫化之外立一涼化法門，搜剔絡中之穢最為微妙。活人敗毒散、柴葛解肌湯，是冷風外罩肌肉、溫邪內伏於裡，其症必先惡寒、骨節煩疼。立此法者，先去其新感之寒，再理其溫。然而陰虧者宜禁，自汗者宜禁。若夫吳氏之達原飲，達募原之邪，其見症所謂厭厭懾懾、苔如白粉然，惟強壯實體者宜之，液枯者禁，火重者亦禁，白虎之禁，脈沉細者禁，不渴者禁，汗不出者禁。承氣非實熱蔽錮、血氣俱結者，不可用。復脈之用在邪少虛多，陰虛欲痙、壯火尚甚者禁之。若小兒麻疹、　痧與溫邪之疹無異，皆屬熱邪犯肺。但疹之限期最迫，只有三日。前人有痘宜溫、疹宜涼之論，實為確見。惟溫疹，更甚於小兒之風熱疹，當先以辛涼清解，後以甘涼收功。今夫春升秋降，天地之常理也。況病溫者，下焦之精氣本虛，當春升之令，下虛之體再升，其少陽主氣能無下竭上厥乎？治溫疹者，忌麻黃四河柳之辛溫傷肺，尤忌羌防柴葛之表散升提，誤用必致喘咳欲厥。救其誤者，仍宜用辛涼之品加苦桔旋覆上升，下降甚則白虎加旋覆杏仁。若　為胃病已詳言之，婦人胎前產後之溫病，又當分別言之。朱丹溪曰：產後當大補氣血，即有疾病，從末治之。一切病多是血虛，不可發表，是原於仲景「亡血禁汗」之條。張景岳曰：產後表邪宜解，火邪宜清，內滯宜消。此原於仲景小柴胡承氣等法。是二子之論，不可偏廢。然而產後自有妙法。妙法云何？手揮目送是也。手下所治是實症，目中心中意中注定是產後，識症真對病確，一擊而罷。如病從上焦來，治上不犯中，藥不可輕，須用多備少服法。外感已，即復其虛，所謂無糧之兵貴在速戰；若畏產後虛怯，用藥過輕，延至三四日後反不能勝藥矣。如腹痛拒按則化瘀，喜按即補絡，快如轉丸。其六氣為病，除傷寒遵仲景外，當於溫熱條中三焦救之，斟酌輕重而急用之，所謂「另出手眼者不外」是矣。顧產後熱病之難，更有故。蓋溫經之藥多能補虛，而補虛之品不能清熱。此則復脈三甲定風等法，能補前人之未備，而產後陰氣大虧之熱症，可相機而用矣。若夫類白虎一症，東垣用當歸補血湯，是勞役傷陽氣之的方，產後之妙法也。而胎前一切病，仍各從見症，應清則清，應下則下，斷弗拘執思過半矣。</p>
<p>（一）宜與葉氏《溫熱論》中舌苔一段合看。</p>
<p>（二）手揮目送四字妙妙。王旭高注。</p>
<p>問：《內經》諸痙強直皆屬於濕，其義安在？仲景治痙幾方能舉其要歟？今日之治痙可以通用乎？痙　癇厥四症，分別處何在？痙病之寒熱虛實能歷歷剖分之歟？痙病亦有六氣所感歟？俗傳小兒驚風分明是痙，俗傳產後驚風分明是痙，可一一詳言之歟？此症為時邪，變症最多，當細辨之。</p>
<p>《內經》云：「諸痙強直皆屬於濕」，此濕字，風字傳寫之誤也。痙症現象皆風木剛強屈幼之象，濕性下行而柔，木性上行而剛，濕非無痙也，而濕字不能包括痙病方中，行痙書十八條，除《素問》、《千金》二條外，其余皆仲景之言，其論脈二條，曰痙脈緊兼弦，曰痙脈伏堅直，皆風木之象，余十四條，風寒致痙居其十，風家禁下一條，瘡家禁汗一條，新產亡血兩條，皆內因也。明乎此而外感內傷皆能致痙其理灼然，何不可通於今日之治痙乎？「痙癇厥」四字最宜分別。痙者強直之謂，後人所謂「角弓反張」，古人所謂「痙」也；　者蠕動引縮之謂，後人所謂「抽掣搐搦」，古人所謂「螈」也；抽掣搐搦時作時止，數日數月復發，發則不治而自止者，癇也；四肢冷如水者，厥也，四肢熱如火者，亦厥也。仲景曰：「陰陽氣不相接，故曰厥」，《素問》謂「太陽所至為痙，少陽所至為　。」蓋痙屬水而　屬火，一則因寒，一則因熱，各不相謀也。大抵痙、　、癇、厥四症皆當以寒熱虛實辨之。六淫致痙，實症也；產婦亡血病久致痙，風家誤下溫病誤汗、瘡家發汗皆虛痙也；風寒風濕致痙者，寒痙也；風溫、風熱、風暑、燥火致痙者，熱痙也；俗傳慢驚風者，虛寒痙也；陰液虛而本臟自病者，虛熱痙也。後人皆以痙名，其實寒為痙而熱為　。仲景剛痙柔痙之論，為傷寒者而言，未嘗議及病，故抱　在寒水一門，兼風則為有汗之柔痙。蓋寒而實者也，除寒痙外，皆　病之實而熱也，治痙宜用剛而溫，治　宜用柔而涼。痙而兼　，水極而似火也。　而兼痙，火極而似水也，此其大略也。欲細分六氣內傷之條目，先當明辨痙　之九大綱。九綱云何？一曰寒痙，仲景之太陽病，身體強KT　KT　，然脈沉遲有汗者為柔痙，因其風多寒少而用桂枝東加味。</p>
<p>無汗為剛痙，屬寒，用葛根湯，內有麻黃桂枝，而不用麻桂立名者，病已至陽明也。若冷風咳嗽致痙者，用杏蘇散。一曰風溫痙，即　症也。當陽氣發泄之時，君火主氣之候，輕則用辛涼輕劑銀翹散，重則用辛涼重劑白虎湯。傷津液者，加地冬；神昏者，用芳香開膻中，如清宮牛黃、紫雪，愈後用三才六味，以復其津；咳者，用桑菊飲，此症最忌辛溫。一曰溫熱痙，此其病發於夏至之前，六淫之火氣銷爍真陰而致此症，較前症重而多，治法一如上，但藥之淺深輕重，視病之淺深輕重而已。一曰暑痙，其症發於夏至以後，其時二氣發泄，邪之來也如奔馬，其傳變也如擊電。如身熱、頭痛、項強、無汗，暑兼風寒，宜香薷飲。有汗者，用銀翹重加桑葉，咳用桑菊，汗多用白虎，脈芤喘者用人參白虎，身重汗少用蒼朮白虎，脈芤、汗赤、多言、喘咳、欲脫用生脈，神識不清用清營加鉤勾、羚角、丹皮，神昏者紫雪牛黃，勢輕者清絡飲。一曰濕痙，其症有寒有熱，寒濕瀉久作癇，五苓散或三仁湯；濕火入心包，清宮去蓮麥加赤小豆，重者紫雪、銀翹、馬勃、葦莖加滑、杏，寒濕苔白經絡拘急桂枝、薑附，余見苔黃手足　者用黃連瀉心亦愈。一曰燥痙，燥氣化火銷爍津液，本能致痙，證略似風溫，正秋時涼風外罩之症，宜辛涼潤，有伏暑則兼濕，宜苦辛淡燥氣化寒脅痛嘔吐法，用苦溫佐以甘辛。一曰內傷飲食痙，即俗所謂慢驚也。必先由吐瀉有脾胃兩傷者，有專傷脾陽、專傷胃陽者，有傷及腎陽者，參苓白朮、四君、六君、異功、補中益氣、理中等皆可選用，虛寒甚者理中加丁香、肉桂、肉果、訶子類，因他病傷寒涼者亦同此例。一曰客忤痙，此則因驚嚇而致者也。蓋小兒神怯氣弱，見非常物、聽非常聲、或失足落空百中一二，如謂皆因驚嚇而致則謬矣。其症發熱面青時為囈語、四肢蠕動，宜復脈去參、桂、薑、棗，加丹皮、丹參、犀角，補心之體配心之用，便結加元參，溏加牡蠣，汗多神不寧恐懼者加龍骨、整琥珀、朱砂，然必得確情而後用之。一曰本臟自病痙，治此者一以育陰柔肝為主。以上所謂外感痙，即今日俗所傳小兒驚風之痙也。以上所謂內傷痙，即今日俗所傳產後驚風之痙也。蓋小兒易痙之故，一由肌膚薄弱、臟腑嫩小、變傳最速；一由近世不明六氣，一見外感即與發表，既痙之後重用苦寒，雖壯男壯女，誤汗致痙者多矣。</p>
<p>寒為痙而熱為　，一語破的。王旭高注。</p>
<p>問：濕溫之病，其所由成者何因？濕溫見症，以何證為提綱？其不能速愈者何故？忌汗者何故？忌下者何故？忌清潤者何故？治當以何方為主方？上焦之變症何方？？中焦之病何症何方其蔓延三焦之病亦分氣血，治氣分者何方？治血分者何方？濕溫並治者何方？病至下焦與溫熱病異處何在？當斡旋者何方？此病今人混稱癉瘧久矣，必須詳辨明晰，庶幾挽世之謬。</p>
<p>暑兼濕與熱者也。蒼瘦而黑之人陰虛而火旺，感暑之熱而即發者，為暑溫。肥白面黃之人，感暑之濕不即發，至秋後發者，曰濕溫。今人謬言癉瘧，其實皆濕溫也。濕溫所由成，濕重熱輕熱伏濕中而成也。其見症頭痛、惡寒、胸悶、不飢、午後身熱、狀若陰虛，而必以舌白不渴、脈細而濡、面色淡黃為提綱。蓋惡寒、身痛、頭痛、發熱，傷寒似之，脈濡則別於傷寒矣。舌白不渴、面黃，則並非傷暑之偏於火者矣，此濕溫之的症也。濕閉清陽之道，則胸悶不飢。濕為陰邪，陰邪旺於陰分，故與陰虛同，午後之發熱，濕性氤氳黏膩，非若寒邪之一汗即解，溫邪之一涼即退，其症較之溫病勢最緩而實重，故難速已。世醫不知其濕溫，見其惡寒、頭痛、身熱，以為傷寒也，而汗之。汗傷心陽。濕隨辛溫表藥蒸騰上逆，內蒙清竅，則神昏；上蒙清竅，則耳聾目瞑。不言濕症之所以忌汗也，見其中滿不飢，以為停滯而大下之。誤下則傷陰而重抑脾陽之升。脾氣轉陷，濕邪內漬，故洞泄，濕症之所以忌下也。見其午後身熱，以為陰虛而用柔藥潤之，濕為膠滯陰邪，再加柔潤陰藥，二陰相合，同氣相求，遂有錮結而不可解之勢，濕症之所以忌清潤也。治之之法，宜三仁湯，用杏、蔻、朴、半等先開上焦肺氣。肺主一身之氣，氣化則濕亦化。用滑石、通草等分利下焦，此治濕之正方也。</p>
<p>濕氣彌漫，本無形質，最忌以重濁滋膩之藥治之，愈治愈壞。其有熱感肺胃營分者，咽喉阻膈而痛，銀翹、馬勃、牛蒡、射干。濕鬱氣分者，為呃宣痹法，用射干、枇杷葉、鬱金、香豉。喘促者，葦莖加杏仁、滑石，此皆上焦之變症治法也。中焦之病略同於暑病，不食，不飢，不便，由濁痰凝竅而痞，宜半、枳開氣分之濕結，芩、連開氣分之熱結，杏仁開肺大腸之痹。若其蔓延三焦，舌滑微黃者，邪在氣分，仍以手太陰一經為要領。蓋肺與大腸一家，氣化則暑濕俱化，肺能通調水道，下達膀胱。肺痹開則膀胱亦開。治肺而胃與膀胱皆在治中，此三石湯，微苦辛寒，用滑石、寒水石、石膏、杏、草宣氣分之用，用竹茹通絡，金汁銀花敗暑之熱毒而兼芳香之治也。若邪氣久留，舌絳苔少，熱摶血分，用苦辛寒法，清宮東加知母、銀花、竹瀝，以治血分，此暑病延三焦氣血分治之法也。濕溫化火，亦宜照此用之。若夫伏暑舌白、胸痞、自利、嘔惡，濕之見症也，潮熱、煩渴、汗出、溺短，熱之見症也，熱處濕中，濕蘊生熱，濕熱交混，非偏寒偏熱可治，以杏仁、滑石、通草，宣肺、膀胱之濕，厚朴苦溫瀉濕滿，芩連清裡止濕熱之利，鬱金芳香走竅而開閉結，橘半化痰止嘔，三焦之邪皆得分解，此濕溫並治之方也。若病至下焦，濕邪深入厥陰肝、少陰腎，與暑溫同法。若陰分大虛，則與濕熱下焦病者同法。此外若正氣誤傷於藥，邪氣竊踞於中，錮結不解，攻補難施，須旋轉清濁之法，則來復丹復陽於下，寒熱相配，陰陽互濟，有扶危拯逆之功。陰液與元氣俱傷者，可用三才兼補其陽；若飲留脅下者，旋覆蘇子霜二陳，甚則控涎丹，此皆濕溫與溫熱不同處，亦即斡旋之法也。而奈何今人混稱癉瘧也，不知此症與陰氣先虛、陽氣獨發之旨迥不相侔，謹明辨之，以俟有識者裁焉。</p>
<p>又有一種膏粱嗜酒體肥之人，時值春末夏秋，觸染溫邪與濕相摶，亦屬濕溫。　王旭高注。</p>
<p>問：濕之體質何物能詳言歟？仲景論濕十數條，多用溫藥，豈濕之體本寒歟？抑別有濕熱之見症歟？濕之在人有中有傷，有外感曰風濕，有直中曰濕痹，有內生曰痰濕，能條分縷晰其所以然歟？濕在上焦傷肺之見證若何？應何治法？濕在中焦傷胃陰之見證若何？傷胃陽之見證若何？傷脾陰之見證若何？傷脾陽之見證若何？宜各詳治法。濕在下焦傷肝腎之見證若何？宜詳治法。試明辨之。</p>
<p>嘗讀《易》曰：水流濕，濕之體質水也。在天之陽時為雨露、陰時為霜雪，在山為泉，在川為水。包含於土中者為濕。在人則與肺脾胃肝腎合，以人與天地異出同源，土為雜氣水為天一所生，無處不合者也。今人競惡濕之病患，而不知人為　蟲之長　者。土也，亦藉濕以為生長者也。故喻氏有瘦人以濕為寶之論，非探本者不能言仲景論濕十余條，其出方有四桂枝附子湯、桂枝白朮湯、麻黃白朮湯、甘草附子湯。大都夾風之病多，其所謂風則冷風也，故多用溫法。其濕痹一症留於關節者，以利小便為主，隱非五苓在於言下。其身色如熏黃者，屬熱，隱非麻黃赤小豆湯，甚則梔子柏皮湯、茵陳蒿湯在言下，其丹田有寒、胸中有熱、渴欲得水一症，有瀉心湯意在言下，斯三者皆濕熱也，讀仲景書可不明辨乎。或問中濕、風濕、傷濕之別，張石頑曰：山澤陰雨熏蒸之氣，人氣虛而冒襲者，曰中濕，脾腎受病也。</p>
<p>其見證或身痛，或身色如熏黃，脈緩，治之以燥勝濕，兼利小便。汗出當風、濕鬱腠理，名曰風濕，此膀胱與胃受濕也。其症惡風不欲去衣，支節痛，脈浮澀，治之以風勝濕兼取微汗。</p>
<p>若水穀內蘊，肺虛不能化氣，脾虛不能散津，或飲寒飲冷，或酒客中虛，內外相合，客邪既從表入、伏邪又從內發，此脾胃受濕也，其症或痞滿，或嘔吐、腹脹、便泄，治之以和脾胃，此外治濕之法。在上焦犯肺者，氣不得化水反克火，肺病心亦病，救上焦者以開肺氣、救心陽為主，《金匱》太陰中　，身熱疼痛，脈微弱，此夏月傷冷水，水行皮中所致，用瓜蒂吐之，此濕鬱於肺之一證也。又寒濕傷陽、形寒脈緩、舌淡白滑、不咳、經絡拘束，桂術薑附湯，此亦濕鬱於肺之一證也。皆屬上焦中焦之病，土最惡濕，治法不外開溝渠、運中陽、崇剛土、作堤防。若傷胃陰，則口渴不飢、潮熱、得食煩加。復胃陰者莫若甘酸化陰，用麥冬、麻仁、白芍、首烏、烏梅、知母。傷胃陽者，嘔吐不食、膈脹、胸痛、渴不欲飲、味酸變濁，加減人參瀉心湯。濕傷脾陽，在中則不運，痞滿，以茯半培陽土以吸陰土之濕，厚朴苦溫瀉濕滿，連以滲濕通草利水，若木來克土者，腹脹、溺澀、便溏似滯，四苓加厚朴秦皮。濕困脾陽甚者，肢冷、苔灰、自利、舌謇、神昏，四苓加木瓜、草果、厚朴。若中焦痞滯者，草果茵陳湯，甚則面黃支冷陽虛者，茵陳四逆同服。若舌灰、脈遲、不食、寐者，椒附白通湯，皆所以治脾陽也。若脾陰為濕傷者，舌先灰滑，後反苔燥、大便堅結，治以連、芩、白芍、枳實、半夏。以上皆所以治中焦之濕也。若濕傷於下，邪水旺一分，正水虧一分。若跗踵者，治以鹿附湯升督脈之陽，佐以兔絲。獨一味草果，清太陰獨勝之寒以醒脾陽。俾地氣上蒸，白苔可除。若脾敗而及腎者安腎丸，以鹿茸補督脈，附韭補真陽，苓朮滲濕，所謂釜底增薪法也。又有痿弱不振、肢體麻痹、便血者，苓薑朮附湯。及古方黃土湯，夫腎之真水生於一陽，治少陰之濕，一以護腎陽，使火能生土以化濕；一以泄膀胱之積水從下治，亦所以安腎中真陽也；一以升脾陽從上治，亦所以使水不沒真陽也，此治少陰之濕也。若濕太過，水能泛木，木無生氣，自失其疏泄之任。治厥陰之濕，復其風木之本性，便能疏泄，此治厥陰法也。皆下焦法也。</p>
<p>問：《大易》「水流濕，火就燥」二句之義能暢言歟？《內經》「少秋傷於燥」一句，後人遂疑燥不為病，得毋誤歟？夫寒熱燥濕皆有勝氣、復氣，燥病勝復二氣能分別歟？喻西昌轉補秋傷干燥二句有所本歟自立清燥救肺法其用當在秋之何節歟以此治燥法果該備歟。燥症之見於三焦者，何證分治者何方，能詳言歟？燥病之變症能類舉一二歟？《素問》有「燥極而澤」能言其故歟？宋元明書罕言及燥，今人尤混，當細剖之。</p>
<p>聖人於干之九五示人以後天太極之象，此一節當連讀、急讀，言下儼然有一活太極在目前。若分讀則無意味，緩讀則失神。理水、流濕二句有三義：既是水則自然流濕，既是火則自然就燥，一義也。水之流濕已有就燥之機，火之就燥已有流濕之機，又一義也。水不能流濕，有火為之宰而濕乃流；火不能就燥，因水為之爍而燥乃就，又一義也。醫家明乎此二句急讀之，故中藏三義之說。治濕當常目在燥，治燥當常目在濕。余曾於瘡恙驗之，東南風起則滋水淋漓，頃之風轉西北干枯燥癢，此其證也。《內經》少秋燥一句，後人疑燥不為病，固屬誕妄，而知論燥者如戴人云：「休治風兮休治燥，治得火時風燥了。」亦僅知以潤藥治燥，以清藥治火，是治燥之復氣而非燥之勝氣也。復氣云何？大抵五行之理「克之太過其子必為母復仇」，知冬傷於寒，其勝氣是寒勝熱，用麻桂薑附治寒之勝氣也。寒水剽火，克之太過則火之子為母復仇，白虎承氣治胃土，即寒之復氣也。燥氣亦然，燥屬金，金屬陰屬寒，金能克木，克之太過，木之子火，也為母復仇而化火，故治燥之勝氣屬寒，治燥之復氣屬火。喻西昌「補秋傷干燥，冬生咳嗽」二句本生氣，通天論曰：「秋傷於燥，上逆而咳，發為痿厥」數語，其自立清燥救肺湯甘寒潤液治諸氣，　郁諸痿喘嘔之因於燥者，亦以治燥之復氣而非治燥之勝氣也。大抵秋分以前屬長夏傷濕之余氣為病，秋分以後小雪以前屬陽明燥氣為病。《內經》曰：「陽明之勝清發於中，左　脅痛，溏泄，內為噎塞，外發　疝，大涼肅殺，華英改容，毛蟲乃殃，胸中不便，噎塞而咳。」據此經文，燥令必有涼氣感人，肝木受邪而為燥也。《性理大全》謂：「燥屬次寒。」知燥病屬寒，與傷寒同類。經以寒淫所勝，治以甘熱。此則燥淫所勝，治以苦溫，用苦溫辛溫解表，與冬令麻桂薑附雖不同，和中攻裡則一，故不立方。且如夏暑熏蒸肌肉潮潤，冬寒肅殺干槁燥冽，深秋氣涼，肺金應之肌膚亦燥，火令無權。奈何諸賢皆謂屬火，大相逕庭也。知此，則喻氏此法但可治復氣之燥，而不可謂該備也。欲求該備，先論上焦勝氣為病。初感必在肺衛，清氣分者桑杏湯，用桑、杏、象貝、香豉以化其表，用沙參、梨皮、梔子以清其本，咳者桑菊飲。如燥傷肺衛陰分，北沙參麥冬湯，用甘草、玉竹、桑葉、扁豆。清竅不利，用薄荷、桔梗、黑梔、綠豆衣、牛蒡，枯草。所謂火鬱發之，如初寒咳嗽、痰稀、鼻塞、無汗，此誠燥之正病也，用杏蘇散治之，皆治上焦法也。中焦之病，金能克木，木病與金病同見胸脅作痛，甚則疝瘕痛，以柴胡達少陽之氣，即所以達肝木之氣，合桂枝而外，出太陽加吳萸、川楝、茴香，苦溫通降。若病在陽明裡實而堅者有二法，脈仍短澀兼緊、面青，此未從熱化也，用苦溫下之，如《金匱》大黃附子細辛湯，及天台烏藥散加巴霜之類。如脈已數而堅、面赤、舌黃，參之他證皆見火象，此已從熱化也，用苦寒下之，如三承氣之類，輕用硝黃亦可。病在下焦，燥氣結於血分而成　者，無論男女皆當以化回生丹主之，經又曰：「燥淫所勝，男子疝，女子少腹痛」，故燥症中下焦病　疝為多，所謂燥之變症也，亦自然之病也。然則變症其盡於此乎？未也，中燥之極重者，如霍亂、寒疫。蓋風火暑為陽邪，與穢濁相參則為瘟疫；濕燥寒為陰邪，與穢濁相參則為寒疫。其證支麻、轉筋、逆冷、吐瀉，甚至反惡熱、大渴、涼飲。經謂：「霧傷於上，濕傷於下。」此症乃燥金寒濕之氣直犯筋絡，由大絡、別絡內傷三陰藏真，所以轉筋入腹，即死；吐瀉者，陰陽逆亂也；諸痛者，燥金濕土之氣所摶也；渴思涼飲者，仲景謂自利而渴者屬少陰虛，故飲水自救也；陰邪上逼陽不能降，所謂戴陽也；喜涼惡熱者，飲邪內踞，陽氣無附，欲外散也；陰病見陽症，水極似火也。辨此症者，以當臍痛甚拒按者為真陰症，治之之法以附、桂、椒、薑、草果、吳萸、良薑驅其內走之寒，保住陽氣，烏木、降香、雄黃、薤白、丁、茴等芳香去穢，用細辛、石菖等以開其道，一面由真臟而別絡大絡外出筋經以達皮毛，一面由臟絡府絡以通六腑外達九竅，俾穢濁陰邪一齊立解，所謂「離照當空，群陰退避」，今人以謂痧症廖矣。若夫燥極而澤一語，以水為金子、土為金母故也，其病多見於寒濕伏暑門中，如腹痛嘔吐之類，均苦溫治燥之正法也。學人宜知濕有兼熱兼寒、暑有兼風兼燥、燥有熱化寒化，先將燥濕分開，再將寒熱細細辨之，庶幾胸有準的，而手下絲絲入扣乎。</p>
<p>問：瘧疾之因何由，而發瘧疾之理何書最詳，能細述歟？歷來論瘧何家最精，何方最妙，能縷述歟？溫瘧、癉瘧古方甚著，何以不驗歟？　瘧、夜瘧其說甚多，能辨其故歟？瘧在少陽一經，其輕重深淺亦分上中下三焦臟腑論治，能分剖而明辨歟？外感有風寒暑濕，內傷有痰食瘀阻、有汗無汗、新久虛實，能條分縷晰歟？瘧母、瘧勞能詳病因治法歟？其逐層條對毋忽。</p>
<p>瘧之因由於夏暑，瘧之理詳於《內經》。經曰：「陰陽上下交爭，虛實更作，陽並於陰，則陰實而陽虛，陽明虛則寒　、鼓頷，巨陽虛則腹背頭項痛，三陽俱虛則陰虛骨寒而痛，寒生於內故中外皆寒，陰氣逆極則復出之陽，陽與陰復並於外則陰虛而陽實，陽盛則外熱，陰虛則內熱，故渴而欲飲水也，此皆得之夏、傷於暑熱。氣藏於肌膚之內腸胃之外營氣之所舍也，此令人汗孔疏，因得秋氣汗出遇風，及得之於浴水遂閉汗孔，暑毒無從發泄，故氣舍於皮膚之內，與衛氣並居。衛氣者，蓋日行於陽夜行於陰，此氣得陽而外出，得陰而內薄，內外相薄，是以日作。其間日作者，由氣之舍深內薄於陰，其道遠，其氣深，其行遲，不能與衛氣俱行，不得皆出，故間日而作也。」讀以上經文，明朗朗如月，後人著作不昌斯言矣（以上瘧因）。惜無治法，不得不求之後賢，而後賢亦有精當之論，可與經文並行者朱丹溪曰：「無痰不成瘧。瘧由暑邪舍於營衛，腠理不密，復遇風寒，鬱閉汗孔，郁汗成痰，寒熱相搏，故為瘧。其治法，無汗者要有汗，散邪為主，兼補正氣；有汗者要無汗，扶正為主，兼散邪氣。」按丹溪補出痰字，所以易於纏綿。有汗無汗最當明辨於後，秦元宮曰：「少陽膽為震，為乾之長子，諸陽所從，邪欲入陰而拒之，遂積於經，隨氣行少陽而與邪爭，二陽三陽並而入內為援。由是外無陽而戰栗，頃之陽從外出則大熱，勝復之道也。間日一發者，戰後兩衰不能爭，休息而更戰也。」按：此條可作經注。又曰：「四序五行皆順生，惟夏交秋為火克金，雖有坤土間之，熱極忽涼，火未退而金受制。庚日為伏，是火未退而金潛伏也。立秋後金令當權，而木藉子之勢不肯受制，於是金木相戰。《易》曰：「戰乎乾是也。瘧病者，金木相戰也。脈弦，木強之征也。然必有外邪交構而禍作。暑邪甚者黨木，寒邪甚者黨金。始則金先犯木，木火退而身寒；繼則木出相爭而大熱，此其常也。木火強者木先犯金，先熱後寒，變也。但熱不寒者癉瘧，木火太旺，肺金束手無權，不得不用石膏、知母以瀉其子，治法以助金為正理，以講和為善術，柴胡疏肝，黃芩助肺金，甘草調和，半夏驅邪，而陰用人參、生薑補肺金為左袒，使相和而止，甚則膏知以助金，歸桂以和肝。若虛人胃嘔吐不堪，用人參薑皮專補肺金，使木不敢交鋒，大兵壓勝法也。露一宿者，藉秋氣之助金也。」按：此條精當奇確，在諸家之上，能清其界（以上語諸家）。薛一飄曰：「瘧邪皆得自夏秋浴水淒風，俞穴留邪與衛氣相遇乃作。」《內經》溫瘧論謂：「冬寒藏於少陰，大暑用力而發，皆紙上空談，仲景之白虎桂枝用之不見其撤熱之功，反見營熱煩躁之害，石膏徒足郁邪，桂枝反熱其營，故不中病情。余制一方，治溫瘧、癉瘧頗效，名清瘧飲，用青蒿、炒蜀漆、知母、花粉、淡芩、鱉甲、丹皮，取蜀漆苦辛引達瘧邪，知、芩、花粉、苦鹽清肺胃之熱，鱉甲、丹皮、辛鹽、清鹽以破肝血，其症自愈，然不能速治，不可急，急則生變。」按：此條知今日但熱不寒之癉瘧，與古人方論不合，當另出心裁（溫瘧癉瘧）。三日一發為　瘧，以氣虛不能抵受暑邪，邪氣深陷故也。先哲皆以大補元氣為主，立齋用參朮煨薑頓服即止，丹溪用大劑補中益氣加煨薑亦妙。其有不效者因暑邪未清，先宜清暑益氣湯，驅散暑邪補養正氣，再用溫補。其病在脾肝腎，方詳下焦瘧中（　瘧）。夜瘧者，諸書皆作陰分受邪，惟汪石山謂陽虛陷入，當用助氣藥加血藥引入陰分，如四君加羌、防、柴、桂升接三陽，芎、歸、桃仁引入陰分以出還陽分。按：此條論夜瘧，宜與分晰。三四發後漸入陰分者，從陽虛陷入，宜上法；若初起即發於夜，是陰分受邪，宜桂枝桃仁湯直散血中之邪。薛氏清瘧飲、追瘧飲亦治熱入營中之瘧，（夜瘧）。上焦之瘧，舌白濁飲、咳嗽頻仍，寒從背起，名曰肺瘧，最忌小柴胡，以肺去半表半裡甚遠，不得引邪深入，用杏、蔻、翹、桑、芩、滑輕宣肺氣，無使邪聚則愈（肺瘧）。昏狂譫語、煩渴者曰心瘧，加減銀翹湯，甚則牛黃丸、紫雪丹（心瘧）。中焦之瘧變化最多，大約不外胃熱脾濕兩種。濕瘧見瘡，蒼朮、白虎加草果，此胃熱也。胸中痞結，邪漸入陰，草果、知母、半、朴、芩、粉、薑、梅湯，此脾濕也。惟草果能治太陰獨勝之寒，能升邪使出；朴、半助之；知母能瀉陽明獨勝之熱，花粉佐之；薑、半開痞，梅、芩清熱和肝，此從清脾達原兩方化裁而出，實瘧門之主方，用之善於剪裁可也。傷胃陰者味變酸濁，加減瀉心湯；不復者麥冬、麻仁、白芍、首烏、烏梅、知母（胃瘧）。脾瘧多嘔，熱聚心胸，芩、連、枳、芍、薑、半；燥甚者，牛黃丸：脈濡腹滿肢冷，露薑飲；嘔吐噫氣，腹鳴溏泄，參、薑、草果、青皮、陳、半；久不止者氣虛，補中益氣；偏熱重者，青蒿鱉甲飲；少陽如傷寒者，小柴胡，熱多加花粉，寒多加乾薑；舌白、脘悶、肢冷、渴喜熱飲，濕蘊之故，厚朴草果湯（脾瘧）。下焦之瘧皆三陰　瘧。在太陰脾者腹脹、不渴、嘔水，溫脾湯，草果、桂、朴、苓、漆、生薑；在少陰腎者形寒、嗜臥、舌淡、脈微，扶陽湯，鹿茸、參、附、歸、桂、漆；在厥陰者痞結、氣逆、欲嘔，減味烏梅丸，朮、附、參、橘、歸。此皆下焦法也（以上三焦）。風瘧，惡風、自汗、脈浮，桂枝羌活湯（羌桂防草）；無汗加麻黃，嘔加陳半（風瘧）。寒瘧，惡寒、無汗、脈緊，麻黃羌活湯（即前方加麻黃）。暑瘧，面垢、口渴、熱退亦常自汗，白虎湯（暑瘧）。濕瘧，小便不利、骨節重痛而煩、脹滿、自汗，滲濕東加柴、芩，或胃芩東加黃芩（濕瘧）。痰瘧，痰涎潮壅，二陳加常山、枳實、柴芩（痰瘧）。食瘧，惡食、吞酸、噯氣、膈中不寬，平胃散加砂仁、草果、神麯、青皮（食瘧）。瘀阻，即陰分夜瘧之一種，桂枝桃仁湯（瘀阻）。久瘧無汗，屬氣虛，宜撫元氣，不宜散，雖屬有汗、仍身疼怕風，此汗未徹，仍須汗之。初發多汗，當清暑疏風；無汗寒多，風寒未散，煩熱多汗，暑熱未清，氣虛者，參朮苓　人參養營湯；血虛者，何首烏散（有汗、無汗、新久、虛實）。瘧邪日久不散，私結營壘於肝木之部，名曰瘧母，宜鱉煎丸。常在左脅結癖，其延久氣血衰而寒熱時作者瘧勞，仍當從陰陽偏處調補。</p>
<p>問：滯下之病古稱腸癖，後世名痢。痢字作順利解，今以澀滯名痢者何居？其所以澀滯者何故？赤色者何故？色白者何故？赤白相兼見者何故？色黑者何故？色青者何故？純血者何故？如濃血稀薄者何故？如豆汁者何故？如屋漏水者何故？自古論痢諸名家其精當可道者，能詳述乎？諸家皆謂濕火，景岳、石頑獨有寒冷一種，其故安在？厭食者曰噤口痢，時發者曰休息痢，當詳所因所治，孕婦尤難，皆宜辨。</p>
<p>經曰：「飲食不節，起居不時，陰受之則入，五臟填滿閉塞，下為飧泄，久為腸癖。」言「臟氣久滯不能營運，津液移於二腸而為　積崩迫，陰氣受傷所致也。」審是痢疾，古名腸，今以痢名，傳述之謬也。欲其所以滯下，所以五色，當求之諸名家。李東垣曰：「飲食起居不時損，其胃氣則上升，清陽之氣反下降為飧泄，久則太陰傷少陰為腸　，寒冷傷中而脹者為飧泄，宜溫熱消導。濕熱傷中下濃血，宜苦寒疏利。風邪下陷，宜升舉。濕熱內盛，宜分別：裡急者宜下，後重者宜調，洞泄腸鳴脈細者溫收之，稠黏澀滯脈有力者寒下之。」按：此條前注經而後統論痢病，最明晰。朱丹溪曰：「赤痢自小腸來，白痢自大腸來，皆以濕熱為本。」按：此條明金色白而火色赤。王宇泰曰：「胃有濕熱拂鬱不化，氣凝注大腸成白痢，血凝注小腸成赤痢，二腸均受赤白並下，以大腸合肺、小腸合心也。初起實者必推蕩之，通因通用也。如失下，五六日後脾胃虛，難勝下。白者平胃加楂、檳、枳、芍、芩、連、滑、曲、歸、薑，紅者芍藥東加桃仁、滑石、枳殼、青皮、蒼朮，以引血調氣。純血脈弦，風邪傷肝，肝主血，宜防風白芍湯；痢如豆汁者，此元氣大虛，香參散加當歸、粟殼；赤黑相雜者，此濕勝也。」按：此條論痢甚明。薛立齋曰：「久痢黃中帶青，肝木刑脾土，宜補脾平肝，四君白芍；黃而兼白，子全母虛，宜補脾胃，用益黃散；黃而兼黑，腎水侮土，宜補土制水，六君加薑桂。」按：此條明青黑色之所以然。張景岳曰：「痢起夏秋，濕蒸熱鬱，本乎天也。因熱求冷，過吞生冷，由乎人也。氣壯而傷於天者，鬱熱居多；氣弱而傷於人者，陰寒為甚。寒者必虛，熱者必實。」按：此條似痢有陰寒一種。周慎齋曰：「夏日太陰用事，過食生冷，積而不化，積久成熱。發於秋者，陽氣入裡攻之使發，治宜苦寒，燥濕滌熱，佐以辛熱，開鬱達氣，故曰：行血則便膿自已，調氣則後重自除。又曰：肺主氣，凝滯傷氣，移熱大腸，氣凝澀而成白痢。心主血，鬱熱傷血，移熱小腸，則血凝澀而成赤痢。此二臟二腑之積熱也。若胃傷於冷物則胃寒，精氣不輸於脾，脾不能散精干肺，津液留滯於胃為胃積。症見嘔逆、惡心、便色如桃膠不臭、右關沉細而緊，當用朴、桂、萸、薑、木香；虛者附子理中，非二腸之積可比也。」按：此條辨寒者屬胃積，熱者是腸積。又曰：「色黑有兩種。焦黑者，熱極反兼勝己之化，芩芍湯送香連丸；如漆有光者，瘀血凝久，桃核承氣湯。」按：此條辨黑色更明。張石頑曰：「劉、李、朱三家皆以痢主濕熱，恣用苦寒，蒙害至今未已，曷知血色鮮紫濃濃者，信乎屬熱。若瘀晦稀淡及瑪瑙色者，如陽虛不能制陰而下，非溫理其氣則血不清，理氣如爐冶分金，最為捷法。余凡遇五色噤口及瘀晦清血諸痢，每用甘草乾薑湯專理脾胃，肉桂茯苓專伐腎邪，其效如神。腹痛後重加木香檳榔以泄之；飲食艱進，兼枳實焦術以運之；陰氣上逆乾嘔，木香吳萸以溫之；嘔吐涎水，橘半生薑以豁之；膿血稠黏，茜根烏梅理之。」按：此條合以溫法。秦元宮曰：「秋時肺金氣欲降，而小腸有火，間不使達於大腸。小腸丙火克庚金，秋金燥，故腹痛後重而氣不能通。正治之法，不過沙糖利小腸，萊菔汁以通大腸，加陳松蘿茶四五錢以瀉火，淡關頭海蜇以潤，燥則愈。火甚閉結者，用檳榔二三錢，煎湯下黑金丸三四錢，或酒蒸大黃飯丸三四錢亦可。若其人肥甘過度，瓜果炙　煎炒熱毒遺積腸間，肺氣斂降隨小腸之火而急奔大腸，則如被火焚，腹大痛、痢不休、煩躁口渴，急須芩連檳柏大劑以救之。脈必數而有力，緩則腸胃腐爛。若兼發熱脈浮者，必有外邪，用敗毒散熱服取微汗。兼瘧者，先治瘧。先輩脾傳胃之說迂而未當，此症腹痛是丙火克庚金，與木克土不同，宜用通法，不宜芍草歸等。若純紅者，熱入血分，用涼血湯地榆、槐花、神麯酒炒各三錢，煎七分，藕汁一杯，沙糖調服。」按：此條明白曉暢，勝於前輩。從來論痢皆屬火，而石頑、景岳獨言寒涼者皆寒藥誤治而變之痢，非痢之本病也。因其始不急通大腸，而徒用梔柏芩連，腸仍未通而胃已寒。或屢用香陳檳朴，致火未除而氣已大耗，未有痢疾起始而先虛寒者也。此丙火小腸閉塞而腎燥，肉蓯蓉為對症之的藥。他如惡心厭食者曰噤口痢，是濕熱之氣上塞於胃口也。若未下者脈有力，仍須大黃，下通上自寬也。若下過脈弱者，養胃湯茉莉、扁豆花、連肉、菖蒲根、枳殼、粳米、炒黃米、綠豆皮、人參，用老蘇梗乘熱泡藥，再隔煮三四沸，即服。渴者加連一分，銀花露溫服數杯亦妙。服此不愈者，胃氣大虛，用升麻一錢、炒蓮肉五錢、人參三錢、煎服，此治噤口症也。又如經年累月時作時止者曰休息痢，因兜澀太早，積未盡除之故，宜再投蕩積之藥，後調脾胃。如虛者，以調養之中微加消導藥。仲景云：「下痢已瘥，至其年月日後發者，以積未盡也。當下之余，用補中益氣加肉果煎送駐車丸，多效。至如孕婦痢疾裡急後重最為棘手，只用蘇梗、杏仁、枳殼，不宜檳榔，黃芩可以重用，中氣不和少加木香，重用砂仁，金銀花露宜多服，不可缺也，若夫純血如塵腐色，如屋漏水，大孔如竹筒，唇如朱紅，身熱脈大有力，四肢腫冷及呃逆者，皆不治。」</p>
<p>問：中風急症也，先當分辨閉脫二症，若何見症？脫者何因？閉者何因？其次有中外風見症、有中內風見症、有風入腸胃見症、有風入經絡見症、有類中風見症、有痰厥見症、有中暑見症、有客忤見症、又有無病忽然風發見症，以上十症各宜分別定方。此症風外惟痰，痰有從火化者，有從濕化者，皆宜明辨。又此症初病時往往不能言，切脈又為要務，當分別詳細書之。</p>
<p>中風當先辨閉脫二證。脫者見症：口開、目合、自汗、遺尿、喘急，此由真陰本衰，不能外固其陽，加以憂思勞心，鬱火既久，一值酒色過傷，或觸大怒，於是坎中之陽與雷電肝膽之火一齊沖擊而上，卒然顛仆，脾絕而口開，腎絕而遺尿，肝絕而目合，心絕則自汗，肺絕則喘促。急治之法用奠坤湯。此脫症也，猶地震山崩也，故不治者多，亦有一臟未絕，停七日而死者（已上脫症）外。此皆閉症也。閉者手握、口噤、目張、暈眩、昏迷，此名中風。有外內之別。中外風者，有六經見證，脈浮、惡寒、發熱、拘急、不仁，用錄驗續命湯，即大青龍加芎歸人參也；河間小續命，即益以熟、附、黃芩、防己、防風；其夾食者腹滿便閉，用三化湯，即小承氣加羌活。此純實症也，江以南極少間有之（以上外風）。中內風者，肝膽火鬱，沖擊於上，火盛風生，狂風勃發，其性剛急，氣血大亂，風火由下直上，將胃中津液頃刻皆化為痰涎，壅塞上焦，痰因凝聚而心氣混濁。難言者，舌本干燥也；昏憒者，氣血內亂也；手足勁直或搖動者，風能爍真陰也；口眼歪斜者，風入經絡也；麻痹不仁者，血痹不流也；半身偏枯者，經絡無血也。此皆風從火出，所謂內風也，位在震巽，左關寸之脈必弦急洪滑或數疾；如木反侮金，右寸亦弦數滑大。《史記》倉公傳曰：「迥風其脈滑，滑者內風發也。」巽風大旺，自當以助金平木為要義，以養血滋木為正治，治宜緩風湯。若飲食未消而風逼則痰食交結而胸滿作痛，先用鹽湯探吐之。口不開者，勝金丹或側柏葉湯（以上內風）。若內風入腸胃者，《金匱》有風引湯及侯氏黑散，取諸石屬金、金能平本之義。其冷食十日俾藥積腹中填塞空竅，治法高出千古（以上風入腸胃）。若內風入經絡，及風息血不歸經，筋被風燥，手足不遂，半身偏枯，宜養血以潤之，宜潤枯湯及煮酒方（風入經絡）。若肥人素多痰濕，脈緩或沉澀，肢節重痛，手足筋軟，是痰濕積於絡中也，宜桑枝湯（痰入絡中）。又有類中風者不可不辨。其人素多濕痰，忽然氣逆痰塞，牙關緊急是名痰厥中風者，左脈浮弦。此症右脈沉澀左脈和平，亦有脈伏者，以膽星、木香為末灌之，後用順氣湯。若醉飽惱怒之後忽然昏迷，右脈緊盛，急用陳皮薑鹽湯，調以消食健脾之品（以上痰食）。又有暑天悶倒，昏不知人，冷汗出，手足冷或吐瀉、喘滿，是謂中暑，急用皂角末燒存性同甘草新汲水調下。輕者香薷飲冷服，大渴大熱者茅朮白虎湯（以上中暑）。又有飛尸鬼擊、卒厥客忤或吊死問喪，忽然面青、錯語、牙閉、口噤、昏憒，是名中惡，急以蘇合香丸灌之（以上客忤）。若夫似輕而實重，毫無病苦，忽然一手一足重不能舉，心神如醉，少頃復常，其脈沉遲，非風也，是脾腎陽虛胃中有痰有時不運，為後來脫症之根，急急用六君培養（以上陽虛）。此外內風一種內有痰從火化，心中煩悶言語謇澀者，經所謂風淫於內，治以甘涼。是症多陰虛瘦削之人，肝火鬱熱而生痰招風，宜先服竹瀝湯。脾胃熱者，用地黃煎。若邪中經絡與痰氣相摶，神暴昏、脈暴絕者，惟香藥能達經隧通神明。然亦有寒熱之別。其脈沉緩或遲或伏，須用回天再造丸，或地黃飲子。有脈數大有力或浮或滑，須用蘇合香丸及至寶丹。同一開法有寒熱各分，虛者以四君湯送（以上痰有火濕）。他如經絡中有死血、濕痰留滯者，宜活絡丹。此症名論最多，略舉數家。喻嘉言曰：「河間指火為本，東垣指氣為本，丹溪指痰為本，曷不曰：陽虛邪害孔竅為本，而風從外入者，必扶身中素有之邪或火或氣或痰而為標耶，故挾虛者補虛則風去，挾火者清熱則風去，挾氣者開鬱則風去，挾痰者　痰則風去。」按：此條筆最該括，然猶不敢別乎外風而言也。薛立齋曰：「陽主氣，以天地之疾風名之，不必外感而名風也。左半肝腎之居。肝藏血，主筋，腎藏精主骨。精血枯槁不能滋養，故筋骨廢。」繆仲淳曰：「南方質多柔脆，多熱，多痰，真陰既虧，內熱彌甚，煎熬津液凝結為痰，壅塞氣道不得通利。熱甚生風，亦致卒仆。」按：此二條皆言內風也。張景岳曰：「人之根本真陰也。陰虛有二，陰中之水虛，病在精血；陰中之火虛，病在神氣。陽衰則氣去，神志昏亂，非火虛乎！陰虧則形壞，支體廢馳，非水虛乎！以神離形壞之證。不求其源而治風乎，宜培養真陰以救根本。惟有實症者，但察其因痰因氣，而暫開之。」按：此條分明補陰為主。張石頑曰：「中風之脈皆真氣內虧，即南方屬痰，總由腎氣衰微不能主持，是以脈不能沉，隨虛風鼓激而見浮緩之象。」昔人云：中風脈見沉伏，亦有脈隨氣奔指下洪盛者。當知中風者多體肥痰盛，外有餘中不足，加以房勞。國中氣閉脈必沉伏，少頃氣還脈見洪盛，皆風火痰濕用事也。大都中風之脈浮小緩弱者生，堅大急疾者危。蓋浮緩為中風之本脈，兼緊則多表邪，兼大則多氣虛，兼遲則多虛寒，兼數則多虛熱，兼滑則多痰濕，皆為可治之脈。惟兼澀者為脈不應病，多為危狀。以痰症脈澀為正虛氣衰經絡閉滯，難於搜剔也，所以中風之脈最忌伏澀，尤忌堅大急疾云。</p>
<p>問：虛勞一症仲景《金匱》七方多偏重陽虛，丹溪多用寒涼，後人薛立齋、張景岳、李士材等多非丹溪之寒涼而是溫補，又未必用仲景之方，今人遵用立齋、景岳等法，又未必效，其故何歟？夫病有寒熱虛實，豈容預定，自宋元以來各家出入是非可詳晰言之歟？近時名家治此病者能否有細膩沉著勝前人者乎？抑或另出心裁因症論治可補前人之未備乎？醫貴實效，不必拘守前輩也，其細參之。</p>
<p>虛勞一症古今治法各殊，仲景七法卓然典型，其失精家少腹急、陰頭寒、目眩，用桂枝龍牡湯。張石頑曰：「人身氣血全賴後天水穀滋生，水穀入胃，清者為營，濁者為衛，營氣不營上熱血溢，衛氣不衛下寒精亡。營衛和三焦各司其職，而火自歸根，熱者不然，寒者不寒，水穀之精微輸化，而精血之源有賴矣。以亡脫既憒恐下焦虛滑不緊，乃加龍牡以固斂之，以龍骨入肝斂魂，牡蠣入腎固精，皆收斂精魂之品入桂枝湯中，則為固蟄封藏之本藥也。若失精悸衄腹痛，本方加膠飴為小建中；裡急為營衛枯槁，更加黃　為黃　建中，此皆後天不足以調和營衛為主治。後人專用滋陰降火，未至於劇用此，尚可挽回。若先天腎虛者八味腎氣：虛煩不眠酸棗仁湯；干血者　蟲丸。惟薯蕷丸專治表邪不解、誤用涼藥傷犯肺胃、自上而下之虛勞。」秦元宮曰：「仲景用建中復脈以扶胃而建立中氣，以胃為氣血生化之原。其人稍見膈虛內熱，神氣不旺，以建中未雨綢繆，桂枝和衛，白芍和營，調劑陰陽，而以飴糖、甘草、大棗補胃土，以生薑、生發多服，胃氣旺而上升於肺，肺行降下之令而主水，所謂地氣上為云也，天氣下為雨，山澤通氣之道也。故一則曰脈大為勞；又曰浮則無血，大則無氣；又曰脈極虛芤遲，從未聞數脈也，亦未聞兼咳嗽也，失此不治而陰火上升，脈之遲者變而為數，火上弄金而咳嗽起，豈可仍用桂枝。」按：此條論仲景所治，非今日脈數咳噘陰火上升之虛勞也。後賢論治，或以謂補氣者，當補肺之母脾；補血者當補肝之母腎。又曰土旺而金自生，勿拘拘乎保肺；水盛而大自熄，勿汲汲乎寒涼。東垣謂：「人參補肺，氣旺則四臟之氣皆旺，精自生而形自盛。」白飛霞謂：「多服人參，回元氣於無何有之鄉。肺虛喘嗽者，並宜服之。」王好古謂：「肺，熱還傷肺。王節齋謂：「虛勞服參　者必死。」按：古書如聚訟，愚以謂無脈證而論治，猶無題而論文。宋元清名家論理極是，施之實事皆屬似是而非，惟沈朗仲曰：「陰虛多火之人，即感客邪，蒸熱咳嗽，切忌羌防柴葛表散，亦不可用桔杏蘇橘清肺止嗽，有積者忌消導，當靜以養陰。」亦屬調停之見（以上論古）。大抵此症起於斫喪者，肝腎過勞，多亡血失精，強中陰竭而死；起於郁結者，內火爍津，多致血結，乾咳，嗜食，發　而死；起於藥誤者，脾肺受疾居多，多致飲食減少，喘漱泄瀉而死。此其大概也，治之之法：陰火刑金而咳，脈數，為內風生，生則氣行急疾，一呼一吸或六七至，氣急巽風用事，逼血妄行，或吐衄，或血去，而陰益虛，不獨肺燥，膽汁亦枯。膽枯木將自焚，且肺既嗽，又能激動火勢化液為痰，逮肺枯而痿生，水之源絕，潮熱不休，安得不死。仲景曰：「脈數者風發也，以飲食消息止之。」至精至妙。實虛勞生死之關，趁其人胃氣尚強以飲食補之，所謂形不足者補之以味。補氣血，以肥鴨牛肉之屬；補陰如海參、鰻、鱉；補土如童雌黃雞、鯽魚、　魚；清火則燕窩、蛤蜊；補肺豬肺、百合；健脾大棗、蓮子。多其火候，恣意食之；不可過飽，恐脾難運化，食後徐步，服滋生丸一丸；俾心閑氣靜內火不生，久久食入，於陰氣長於陽，胃氣充足上升於肺，肺能生水，脈數乃退，所忌發風動氣生冷之品。此胃尚強時，飲食調補一法也（以上食養）。其或遷延日久，服藥差誤大耗真氣，中虛胃弱，食少不運，前法難施，議者多本壯水制火，知柏苦寒，地黃濕滯，即苓朮亦苦燥。夫水從金出為天一之水，方能有濟。金之所以能生水者，全賴脾胃之氣上升而水可生。脾濕胃益弱，而肺金愈無土生。若用斂降，無論難降即或，火降而氣既下陷，酷日無云，雨安從來，過時復升，其火愈甚，皆不明水出高源、水澤通氣之義也。蓋脈數不除，風行不息，必無愈機。診虛勞脈者，盡一晝夜間必有一刻其數少減，此正陰陽自為勝復之時，乘此投藥迎機而導，否則寅初氣注肺時服回風湯入米露一杯。數服後，兼服丙辛湯。及三合水湯脈少減者，即是生機。蓋此風與中風之風異，彼則陰霾晝晦發屋拔木狂暴之風，此則夏日亢陽東南熏熟之風。逆其勢自西而東，則西方涼風至，而雨可望矣。故陽不上升者用柴胡左升以趨右，今當升右之陽以趨左，此又一法也（以上回風）。若夫虛火上升，面赤心煩，咳嗽口乾，其脈寸盛尺弱，來盛去衰者，病又加進，先用導火湯引火下入小腸，靜坐數刻，火從下降，降至丹田，乘火在下時服赤幟湯填實中焦，不使火得再上，是韓信拔趙幟立漢幟法也，此又一法也（以上赤幟法）。若血初見時，慎不可用酸斂止澀及生地之泥滯，恐血凝而瘀，須用黑金散降火去瘀最妙。若勞力內傷嘔血者，活蟹一大只搗爛，溫陳酒調服，此皆陰火上升而生內風之虛勞也（以上血症）。如痰中帶血如絲縷者，是因咳傷肺也；用清肺湯血從咯出者，從肝腎來，火猶未入於肺，急服鎮火湯統治諸血；發熱者，有三陰陽虛勞，常服者有升陰養血湯、止嗽湯。常服金生丸，可引肺氣下入於腎（以上總治）。此外有發熱晝夜不休，肌膚澀絕無汗者，必有外邪未清，或誤為補藥所痼，用內托湯熱服發汗（以上夾邪）。</p>
<p>又有骨蒸勞病，肌膚不甚熱，按之骨間甚熱，其人善食而瘦，皮膚枯澀，無汗，大便結實，其脈沉緊數有力，與諸虛勞不同，皆起於風寒外邪，日久蘊蓄而成，當用苦寒大補陰之類，大忌燥熱之品。蓋其熱在骨髓，亦不宜用升散之使其熱炎灼於外。又諸虛皆系膽汁枯，則肝木之火無水制，而風火大發。骨蒸一症，膽汁尤枯，用退蒸湯（以上骨蒸）。又如每日先寒後熱如瘧，汗出而熱始退者，桂枝柴胡各半東加膽汁二匙。此外有因血瘀而發者，婦人尤多，古人蟲丸之外有麥煎散，今方黑金丸。若夫傳尸瘵症，其症心中煩熱欲露體，覆之即悶，驚悸、怔忡、面無顏色、忘前失後，乃心蒸之狀，用傳尸勞方。若骨蒸五心煩熱者，清骨散。</p>
<p>問：爛喉丹痧見於仲景書否，此症宋元名家議論絕少，能言其發病之故乎？或曰由乎司天，然燥令濕令俱能發病，主氣客氣不一，其說能詳說其所以然乎？順症何如，逆症何如，初起之治法當何如，中後之治法當何如，當清之見證當何若，當下之見症何若，能詳言歟？此症近來頗多。</p>
<p>家大人已立論在前，尤當擴充其意而詳說之。</p>
<p>《金匱》云：「陽毒之為病，面赤斑斑如錦紋，咽喉痛吐膿血，五日可治，七日不可治。升麻鱉甲湯主之。」此條經文與今之爛喉丹痧絕似，而治法則不可從，無論蜀椒、雄黃溫燥不可服。亦思此症發於春夏，地氣本升，不當再用升麻，因於溫熱，血中伏火不必更用當歸，人所共知也。古書絕少今時盛行者，宋元名家多北人，而此病盛於江南也，從來論司天者其說不一，吾以為客氣不足憑，當實求之主氣。與營運之令氣客氣如先天之八卦，有定位而無用。主氣令氣則參互錯綜，隨時而見。如今年春令地氣本溫而多西北風，陰雨數旬，此太陰濕土令氣加臨少陽相火。主氣病必見濕遏鬱伏，爛喉丹痧所由發也。發之何如？因疫之氣從口鼻而入於肺胃也。何以爛喉？濕熱鬱蒸也。如何為痧？與疹為類，是血絡中病，與之出於胃者不同，當主芳香透絡，辛涼解肌，甘寒清血，其後逆傳心胞，仍不外乎葉老溫熱之旨。然一症宜分三種，風邪化熱者治宜清透，濕邪化熱者治宜清滲，痰火凝結者治宜清降。順症初起，脈緊弦數，惡寒，頭脹，膚紅，肌熱，喉中碎腐而痛，疹現隱隱。三四日後溫邪化火，熱盛痧透。五六日後，熱甚，神昏，喉爛。此火盛逆傳，內逼心胞見症也。七日後，熱退，偏體焦紫，痧如麩殼脫皮而愈，此順症也。若逆症，一二日脈見細勁，身雖紅痧不外透，神識已昏，語言錯亂，氣逆喘急，此由邪毒內閉肺胃，內閉則外厥而脫矣。治之之法：順症一二日宜疏表，牛蒡解肌湯或銀翹散，加消食之品，吹以珠黃散。三四日化火，前方加犀角、羚角、花粉、石斛。五六日，見內逼心胞，症在營分，犀角地黃湯。有汗神清者，邪在氣分，玉女煎加膽星、石菖、西黃藥珠，甚則紫雪。中後之治法大都如此。其或便結燥實、舌乾而黃黑者，涼膈散，即下法也。協熱便泄、舌苔白膩者，葛根芩連。至於逆症，火毒內閉於肺胃，用鮮地四兩搗汁，加金汁、梨汁、蔗漿更葛根、芩、連。至於逆症，火毒內閉於肺胃，用鮮地四兩搗汁，加金汁、梨汁、蔗漿，更用鮮蘆根煎湯，磨犀角汁，沖和紫雪丹，或珠黃散，要不外乎清開泄熱為主。若夫不治之症，鼻塞流涕者，肺已傷，不治；合眼朦朧者，肝欲壞，不治；色白如粉皮者，氣色敗，尤屬不治。蓋元氣虛者，不能托毒外出，毒且深伏，雖有清補化邪一法，究屬難圖，尚不如陰虛者可重用養陰泄熱也。治詳於溫熱症下焦篇中。家大人老年議論甚惡夫清之太早者，以感風感濕未曾化火而先清，必有結毒發頤之變。善乎！祖鴻范之言曰：「初起發熱憎寒者，以透散為主，火鬱發之也。惡寒已止，內蘊之邪火方張，以涼解為宜，若仍執辛散，火得風而益熾，腫熱必增，當於先後次第之間隨機權變，各中其款要，斯為盡善。」</p>
<p>問：婦人之病胎產為要，妊子之脈能分辨歟？男女之分可預測歟？試胎之法果孰勝歟？惡阻之因治之之法能詳言歟？胎漏小產其因其治能詳說歟？妊婦有頭痛、心痛、胃脘痛、少腹痛、股痛、環跳痛、目赤、咽痛、甚至於跌仆損傷，能各舉其證因治法大略歟？胎死腹中驗法下法，亦附詳焉。</p>
<p>經曰：「手少陰脈動甚為妊子，陰搏陽別為妊子，身病無邪脈為妊子，尺脈不絕為妊子。」夫尺者是少陰腎脈也。腎脈滑利亦見帶症，惟與手少陰心動脈相應乃為妊子，無疑是即所謂陰搏陽別也。且血留氣聚胞宮內實，能無尺陰滑數乎？其與虛勞數脈分別處：胎脈數中有胃氣，勞脈則兼弦澀無胃氣也。然亦有中年羸婦細小而不數者，其微弱中必有隱隱滑動之象可憑也。辨男女之脈最難執，左大為男、右大為女之說，不有臟氣偏勝者乎？聞之先業師曰：婦人背陰而面陽，其左男子之右也，右則男子之左也。所以丹溪謂是診脈者左右手。此不可憑者也，惟兩寸浮滑為陽脈，主男胎；兩尺沉滑為陰脈，主女胎。庶幾近之然。</p>
<p>易不辨之男胎三月動而臍凸硬腹如釜、女胎五月動臍軟腹如箕之為直捷也。瘀阻與胎混，不得已而用試法：陳酒調佛手散（歸七分芎一錢），待兩時許，臍腹微動為胎，不動者為經滯。法頗穩當，惡阻者惡心，阻其飲食也。其故有二：一由胃虛，宿有痰飲而兼氣滯；一由衝任上壅，氣不下行，蓋經血既閉，水漬於臟，臟氣不宣通，故心煩憒悶、氣逆而嘔吐。及三月後胎漸大，子能食血，自無上逆之患。然而間有不惡阻者，何也？中宮氣健，胃無宿痰，清濁自能升降，不令穢氣上壅，自無惡阻矣。治法：虛者加味參橘飲（溫膽加參、木、歸、藿、砂），實者小和中飲（陳、朴、苓、查、扁、草），吐酸不止者二香（藿草、香附）為末（服二錢）。大約胃寒者加丁香、豆蔻、砂仁，脾虛有火加黃芩、山梔、竹茹。要不外丹溪兩言：「肥人多痰，瘦人多火。」其法則二陳加減，須知此病不必疑半夏、茯苓二味為礙胎。胎漏小產由於氣血虛弱者多，氣虛則提攝不固、血弱則灌溉不周。而系胞者腎，腰為腎腑，腰痛則墮，不可不防。外此，則血太熱而妄行。大凡暴下水者，胎必墮。若徐下者，可用補氣安神治之。此症之脈宜弦牢滑利，忌沉細而微。其治視稟質所偏，陰虛內熱者而用艾、附、白朮、砂仁，溫劑則陰愈消，如草木之無雨露，枯萎立見矣。陽虛內寒者，而用芩、芍，涼血則脾胃虛寒，氣血亦弱，如果實秋冬少結矣。三月前宜養脾胃，四月後宜壯腰腎，此大法也。以泰山磐石山散為主方（八珍去苓，加參、斷、芩、　）。血熱者加黃柏、阿膠，氣寒者加艾葉、炮薑。然而胎漏一症，辨之宜慎。有妊婦血盛月信常來而不墮者，治之反墮；亦有孕婦脈見滑數、月事略少，至三四月止者。今人以為七月生，其實足月也。又有壯盛之婦前三月按月去血點滴者，苟無腰酸胎動，不須服藥。此又當合形體論也。再世人一月墮胎者最多，其人好潔，日必舉足洗下體而滑也。胎前諸痛、氣虛血虛、血熱三種宜常目在之。而外感內傷，仍各宜分剖。如頭痛血虛多火者，四物加減；感風者，加味芎歸（芩、木、茶）；心腹痛或素有痰飲更觸外感者，正氣散；按之痛者積滯，保元；不痛者脾胃傷，六君；滿痛及心，芩、朮、芍三味；不時腹痛者血虛，熟地、當歸二味煎湯服之；重墜者氣虛也，補中益氣；脅痛者不宜破氣，童便和酒服之；少腹冷痛，小建中加炮薑；腰痛，環跳痛者，宜補；目赤、口舌咽痛者，涼膈亦可服；若跌仆傷者，膠、艾、芎、歸加地。此其大略也。至如面青舌紅母死子活，面紅舌青母活子死，為驗死胎之訣，一定無疑。下之之法：丹溪用佛手散重劑（歸一兩芎七錢），要不若平胃加芒硝為穩。</p>
<p>問：胎前症，最多子懸症，多心腹脹滿，以紫蘇飲為主方，其故何歟？抑另有法歟？又有子嗽、喘咳、子腫、子氣、子滿、子煩、五心煩熱、煩躁口乾、子淋、子癇、胎壓膀胱遺尿等症，更有吐血、衄血、咳血、便血諸症，其因其治可詳言歟？夫婦科諸書似少專門，名家所作每見頭緒煩多雜亂無章，如能條分縷晰，俾學人知各門用方之所以然，豈不善歟？子懸者，懷子六七月胸腹滿而胎上懸也。中於氣鬱者多，紫蘇飲一方出許學士《本事方》中，自注云：「有婦產數日催生法不驗，此必心懷畏懼、氣結不行。經謂恐則氣下精神怯，怯則上焦閉，閉則氣還，還則下焦脹、氣乃不行。爰制此方服之即產，分明紫蘇、川芎、陳皮、腹皮疏氣舒郁，歸、芍補血，參草補氣，皆佐使也。自注又云：兼治六七月子懸，數有效，亦疏氣開鬱之意。有熱加芩、梔，脹甚加木香汁、歸、朮，名和氣安胎飲。停滯嘔吐加蒼、朴，名加參平胃散；郁多者加味逍遙；子嗽者，妊婦外感風寒則咳，咳久亦易墜胎，古方用寧嗽散（蘇、桑、杏、皮、知、桔、麥、草），亦有土虛不能生金者，歸脾；有陰火上炎者六味，斟酌用之。」以余所用胎前咳四五月不止者，橘餅（一枚）　松子肉（一兩）　水糖（三錢）煎服　甚效。喘由外感者，參蘇飲。然火動而喘，孕婦最多，治不外二母、芩、冬，他若腰痛短氣，脾虛則母令子虛，腎氣不歸元而上乘於肺也，生脈補肺益氣湯，補脾須去升、紫為妥，子腫與子氣名異而相類。子氣腫下體，子腫腫上體，子滿又名胎水，在五六月後，因胎大而腹滿遍身浮腫耳。</p>
<p>三症皆屬脾虛，或因泄利耗傷、病渴多飲、濕漬脾胃、水漬於胞胎易損傷，急治為宜。治法不外健脾利水四字，健脾用六君，利水用五皮出入，兩方者利氣之烏藥、香附、紫蘇，甚則加炮薑，古人用五皮，以白朮易去桑皮。閻純璽以為點鐵成金手，可類推矣。外此，治水氣有天仙藤（即青木香藤）散（香、附、紫六分，木香二分，陳皮四分）。氣虛加參朮，血虛加歸。</p>
<p>《千金》有鯉魚湯（重一斤者，橘一分，薑七片）　同煮汁入（朮、苓、歸、芍）同煎，虛加人參，此尤下水最捷法。子煩者，心驚膽怯，煩悶不安，由心肺虛熱或積痰於胸，胎動不安，竹葉安胎飲為主方。君以竹葉、條芩、麥冬，臣以棗仁、遠志，佐以四君去苓、四物去芍。渴加竹茹，痰積者以竹葉換竹瀝、茯苓，躁甚熱壅口乾者加犀角、知母，氣虛倍人參。又有因藥多致煩不得眠者用知母二兩，棗肉丸彈子大，每日參湯化一丸。又有口乾不臥川連一味、米飲調一錢。子淋者，小便淋漓澀少，因氣血養胎，不及敷榮滲道，且胞系於腎，腎中虛熱移於膀胱，安榮湯主之，君以燈心、通草、苓皮、參朮補氣，歸補血，麥冬清肺，去原方之滑石，惡其重鎮而滑也，以石斛、山梔代之。如在脈微弱氣陷者，大劑參　。類此者有轉胞症，因小便不通，臍下急痛，此由飽食忍尿或忍尿入房，水氣上逆，氣逼於胞，屈戾不得舒張所致，非小腸膀胱病，當治其氣，所謂胎壓膀胱也。補中益氣為主方，去濕者加油炒半夏六分，血虛加芎、地，急用鹽湯吐提。又不若穩婆以香油塗手從產戶托起其胎，俾溺之漲解為穩使。此症因虛。子淋之因火者不同，他如遺尿不知胎滿之故，用白薇、白芍，酒調末服三錢。虛者同地丹服。子癇、口噤、項強、肢攣、語謇、痰壅、人事不省、忽然卒倒，與　同，不可作風治。多因血虛血燥，陰火上炎，鼓動其痰，主以羚羊角散（鉤、棗、獨），氣虛加（參、　、朮），血虛加（歸、芍、芩），有用南星（一斤，炭火炕，酒製合）、琥珀（一兩）、朱砂（五錢）豬心血為丸，服五十丸，參湯下。此方通治癇症，胎前亦宜。妊家諸血症自當作火論，然「胎前宜清」一語不可拘泥，當分晰其火所由來。第一辨虛實，實火宜清，其中又當分內外。從外感者，風熱內郁所化（涼膈加歸、地、茅、花），從內發者，肝經怒火（加味逍遙），膏粱積熱，加味清胃（川、連、翹、丹、地、歸）；郁結傷脾之火（加味歸脾），虛火。宜補，當分陰陽，有氣不攝血者（補中益氣），有陰虛火旺者（地、歸、二冬、知母、陳、犀、草、芩、梔、朮、苑），有腎經虛火（六味加芩、地），此口鼻血也。二便之血多濕熱，便血（槐榆防歸烏梅），尿血導赤加（山梔、發灰、阿膠、麥、味）。</p>
<p>問：肺病咳嗽為多，咳字嗽字何解，能分講歟？咳嗽症不外外感內傷兩種，能分別歟？外感不外風寒暑濕燥火六氣，六氣分見於四時，四時皆可以受六淫之邪，能各舉其見證治法歟？內傷不外陽虛陰虛，陽虛者多痰，陰虛者多見血，能各言其見證治法歟？勞風一症，外感內傷並見，能舉其治法歟？先業師論治病莫妙於剖析分明，愈細愈精，曷不剖分而詳說之。</p>
<p>咳者何？諧聲也，其音開口而出，仿佛亥字之音，故有聲無痰曰咳。嗽則如盥嗽然，有物在喉，漾漾而出，故從口從敕。後人遂以有痰者謂嗽。然則咳嗽之病何從生？曰病有萬變，要不外內傷外感兩端。試言外感。外感者，風寒暑濕燥火盡之。而六者論其常，各主一時為病。論其變，則四時皆可以受六淫之邪。今且即風寒論感風咳者，鼻塞聲重、惡風涕清，此證也，左脈浮弦，此脈也。而風之中又有辨，春則傷溫風，肝木用事則傷肝。而有又中氣中血之別，傷氣者為衛（參蘇飲、桑菊飲），傷血者為營（芎蘇飲）。夏則為熱風傷心胞（雞蘇散），或傷冷風者（香茹飲）；秋為涼風犯肺（敗毒散），兼痰者（金沸草散）；冬為寒風傷腎（麻黃東加減），兼飲者（桂枝厚朴杏仁湯），倘冬時天熱而感寒風（葳蕤湯、陽旦湯）。惟秋冬有暑濕，如春夏無燥氣。他如先傷風而後傷熱為熱之寒（葳蕤），肺熱感寒為寒之熱（金沸草散），嗽而痰出稠黏者脾濕勝（二陳），連嗽無痰者肺燥勝（清燥救肺），此皆外感咳嗽也。內傷則痰飲。陰虛兩種：痰飲者多陽虛，淺者六安煎，有火者溫膽；虛者金水六君煎，陽虛而不可攻者（玉竹飲子），有痰火者鹽降法，喘甚者（降氣合貞元）。他若陰虛者陰火上升也，胃氣不清者（麥門冬湯），五更咳甚曾見血者（四陰煎），痰多而濃無胃氣者（六君加減），痰少嗌干胃氣未絕者（六味八仙長壽）。凡若此者，所謂隔二隔三之治，土不生金者補脾，木反侮金者平肝，火上刑心者治心，皆隔一之治也。</p>
