<header data-type="book">
<h1>衛生家寶產科備要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>朱端章</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1184">公元1184年</data></dd></div>
</dl>
</header>
<h2>重雕宋本《衛生家寶產科備要》敘</h2>
<p>產科之有專書，始於唐楊師濃之《產乳集驗方》、《太和中昝殷產寶》。總之，北宋則有李師聖之《產育寶慶集》，沈虞卿之《衛生產科方》；南宋則有虞流之《備產濟用方》，陸子正之《胎產集驗方》，今皆不傳，</p>
<p>《寶慶集維》著錄。</p>
<p>《四庫全書》從《永樂大典》錄出，經陳言等增刪，亦非原本。醫書之鮮善本久矣，產科其尤甚者也。</p>
<p>《衛生家寶產科備要》八卷，宋朱瑞章輯《宋史藝文志》篇，於錄明《文淵閣書》目亦有其書。</p>
<p>《四庫全書》未收阮文達，亦未見錢遵王，《讀書敏術》記載有宋本，於瑞章仕歷則未詳也。朱瑞章，福建長樂縣人，淳熙中知江西南康軍，寬以愛民，廉以律己，護設官田於白鹿洞學以贍四方。來學人著有《衛生家寶方》六卷，《衛生小兒方》一卷，《衛生家寶湯方》二卷及此書，見《宋史藝文志》、《乾隆江西通志》。</p>
<p>蓋南宋良吏有心於濟世救民者，非醫士也。卷一入月安產法、體元子借地法、逐月藏衣、游神法，本之《外台秘要》；禁草、禁水、催生符法出《聖濟總錄》。卷二、卷三，皆采之孫真人《千金方》。卷四全錄《產育寶慶集》張世臣《累用經效方》。卷五則采之瀘江助教劉寶經驗名方者居多。卷六則全錄《備產濟用方》及許叔微《本事方》中胎產諸方；卷七則全錄《胎產經驗方》。卷八則雜采葛氏時後、巢氏病源、千金、外台、聖惠、萬全小兒集驗、嬰童寶鑒。錢乙、張渙諸書保育小兒諸法。李、陸兩集賴此以存虞張之方，尤為自來著錄所罕見。洵乎產科之薈萃，醫家之指南也。予少多疾病，喜讀方書，每當眾論荊棘之時，略試其技，亦嘗奏效。婦人小兒望問皆窮，尤難制劑。丙子之歲細君臨娩，胎死腹中，三日不下，諸醫束手。甲申九月，家婦將娩而瘧作，瘧發之際心痛欲死，醫亦無策。余細心診問，博考方書，幸賴此書，轉危為安。細君懲勇付梓爰雕印，以廣其傳。差乎，秦漢以來，醫書經林億、孫兆校定未必君合於古德，猶無大失也。明人一再重刊，無不妄刪、妄改，襲謬承訛，固已失之毫厘，繆以千裡。而況庸人，以醫為市，目不知書，迂儒食古不化，刻舟求劍乎。以此治疾，是益之危而速之死也。婦科為醫家九科之一，產又婦科之一端，自束實鮮，專書即有亦鮮善本。是編采摭宏富，持擇精詳，所愿家置一編而深求之，於保產全嬰之道，其庶幾乎。</p>
<p><u>光緒十三年歲在疆梧大淵獻壯月既死霸</u></p>
<p><u>誥援榮祿大夫三品頂戴前分巡廣東南韶連兵備道兼管水利太平關監督加四級歸安陸心源書於穰梨館</u></p>
<h2>卷第二</h2>
<h3>孫真人養胎論</h3>
<p>論曰：舊說，凡受胎三月，逐物變化，稟質未定。故妊娠三月，欲得觀犀象猛獸，珠玉寶物，欲得見賢人君子、盛德大師；觀禮樂鐘鼓，俎豆軍旅，陳設焚燒名香，口誦詩書，古今箴誡；居處簡靜，割不正不食，席不正不坐；彈琴瑟，調心神，和情性，節嗜欲，庶使清淨，生子皆良，長壽忠孝，仁義聰惠無疾，斯蓋文王胎教者也。</p>
<p>論曰：兒在胎日，月未滿，陰陽未備，臟腑骨節皆未成足，故自初訖於將產，飲食居處皆有禁忌。</p>
<p>妊娠食羊肝，令子多厄。</p>
<p>妊娠食山羊肉，令子多病。</p>
<p>妊娠食驢馬肉，延日。</p>
<p>妊娠食騾肉，產難。</p>
<p>妊娠食兔肉、犬肉，令子無音聲並缺唇。</p>
<p>妊娠食雞子及干鯉魚，令子多瘡。</p>
<p>妊娠食雞肉、糯米，令子多寸白蟲。</p>
<p>妊娠食堪並鴨子，令子倒出、心寒。</p>
<p>妊娠食雀肉並豆醬，令子滿面多黑子。</p>
<p>妊娠食雀肉、飲酒，令子心經情亂，不畏羞恥。</p>
<p>妊娠食鱉，令子項短。</p>
<p>娠娠食冰漿，絕胎。</p>
<p>妊娠勿向非常地大小便，必半產殺人。</p>
<h3>徐之才逐月養胎方</h3>
<p>妊娠一月名始胚，飲食精熟，酸美受御，宜食大麥，無食腥辛，是謂才正。</p>
<p>妊娠一月，足厥陰脈養，不可針灸其經。足厥陰內屬於肝，肝主筋皮及血。一月之時，血行痞澀，不為力事，寢必安靜，無令恐畏。妊娠一月，陰陽新合為胎，寒多為痛，熱多卒驚，舉重腰痛，腹滿胞急，卒有所下，當預安之，宜服烏雌雞湯。</p>
<p><u>烏雌雞湯</u></p>
<p>烏雌雞（一只，治如食法）　茯苓（去黑皮）　阿膠（銼碎，各二兩）　芍藥（白者）　白朮（去蘆）</p>
<p>人參（去蘆。各三兩）　甘草（炙，銼）　生薑（洗，去皮切。各一兩）　吳茱萸（一升，揀去枝梗）　麥門冬（五合，湯泡去心，晒，焙乾）</p>
<p>上十味　咀，以水一斗二升煮雞，取汁六升，去雞下藥，煎取三升，納酒三升並膠烊盡，取三升放溫。每服一升，日三次服。</p>
<p>若曾傷一月胎者，當預服補胎湯。</p>
<p><u>補胎湯</u></p>
<p>細辛（一兩，高麗者去葉）　生薑（四兩，洗，擦去皮，切碎）　烏梅（一升，捶碎）　防風（三兩，去蘆）　乾地黃（洗晒，銼，焙乾）　白朮（去蘆。各三兩）　大麥（炒）　吳茱萸（揀淨。各五合。）</p>
<p>上八味　咀，以水七升，煮取二升半，分三服，食前服。寒多者，倍細辛、茱萸；若熱多渴者，去細辛、茱萸，加栝蔞根二兩；若有所思，去大麥，加柏子仁三合。一方有人參一兩。</p>
<p>妊娠二月名始膏，無食辛燥，居必靜處，男子勿勞，百節皆痛，是為胎始結。</p>
<p>妊娠二月，足少陽脈養，不可針灸其經。足少陽內屬於膽，主精。二月之時，兒精成於胞裡，當謹護驚動也。</p>
<p>妊娠二月始，陰陽踞經，有寒多壞不成，有熱即萎。卒中風寒，有所動搖，心滿，臍下懸急，腰背強痛，卒有所下，乍寒乍熱，艾葉湯主之。</p>
<p><u>艾葉湯</u></p>
<p>艾葉（去梗）　丹參（洗）　當歸（洗，去蘆須，切片，焙）　麻黃（不去節。各二兩）　人參（去蘆頭，切）　阿膠（銼碎。各三兩）　甘草（一兩，炙）　生薑（六兩，洗，擦去皮，切）　大棗（十二枚，去核）</p>
<p>上九味　咀，以酒三升，水一斗煮，減半去滓，納膠，煎取三升，分三服。一方用烏雌雞一只宿肥者，治如食法，割頭取血，納三升酒中相和。雞以水一斗二升先煮，取汁去雞，納藥煎取三升，納血酒並膠，煎取三升，分作三服。若曾傷二月胎者，當預服黃連湯。</p>
<p><u>黃連湯</u></p>
<p>黃連（去須）　人參（去蘆，切。各一兩）　吳茱萸（五合，揀淨）　生薑（三兩，洗，擦去皮，切）</p>
<p>生地黃（五兩，一方用阿膠）</p>
<p>上五味　咀，以酢漿七升，煮取三升，分四服，日三夜一，十日一作。若頗覺不安，加烏梅一升，加烏梅者不用漿，只用水耳。一方用當歸半兩。</p>
<p>妊娠三月名始胞，當此之時，未有定義，見物而化。欲生男者，操弓矢；欲生女者，弄珠璣；欲子美好，數視壁玉；欲子賢良，端坐清虛，是謂外象而內感者也。</p>
<p>妊娠三月，手心主脈養，不可針灸其經。手心主內，屬於心，無悲哀思慮驚動。</p>
<p>妊娠三月為定形。有寒，大便青。有熱，小便難，不赤即黃。卒驚恐憂愁，嗔怒喜頓，仆動於經脈，腹滿繞臍苦痛，或腰背卒有所下，雄雞湯。</p>
<p><u>雄雞湯</u></p>
<p>雄雞（一只，治如食法）　甘草（炙，銼）　人參（去蘆，切片）　茯苓（雪白者，去皮）　阿膠（銼碎，各二兩）　黃芩（尖如錐者）　白朮（去蘆。各一兩）　麥門冬（五合，湯浸，去心，晒，焙乾）　芍藥（四兩，洗）　大棗（十二枚，去核）　生薑（一兩，洗，擦去皮）</p>
<p>上十一味　阻，以水一斗五升煮雞，減半出雞，納藥煮取半，納清酒三升並膠，煎取三升，分三服，一日盡之，當溫臥。一方用當歸、芎各二兩，不用黃芩、生薑。</p>
<p>若曾傷三月胎者，當預服茯神湯。</p>
<p><u>茯神湯</u></p>
<p>茯神（去木）　丹參（洗）　龍骨（五色緊者。各一兩）　阿膠（碎，蛤粉炒泡起，去粉用）　當歸（洗，去蘆須，切，焙）　甘草（炙，銼）　人參（去蘆頭。各二兩）　赤小豆（二十一粒）　大棗（二十一枚，去核）</p>
<p>上九味　咀，以酢漿一斗，煮取三升，分四服，先食服。七日後服一劑。腰痛者加桑寄生二兩。（深師有韭白二兩、麻子一升。）</p>
<p>妊娠四月始受水，精以成血脈，食宜稻粳羹，宜魚雁，是謂盛血氣，以通耳目而行經絡。</p>
<p>妊娠四月，手少陽脈養，不可針灸其經。手少陽內輸三焦。四月之時，兒六腑順成，當靜形體，和心志，節飲食。</p>
<p>妊娠四月，有寒，心下慍慍欲嘔，胸膈滿，不欲食。有熱，小便難，數數如淋狀，臍下苦急。卒風寒，頸項強痛，寒熱或驚動身軀，腰背腹痛，往來有時，胎上迫胸，心煩不得安，卒有所下，菊花湯。</p>
<p><u>菊花湯</u></p>
<p>菊花（一握，如雞子大）　麥門冬（一升，湯浸去心，焙乾）　麻黃（不去節）　阿膠（銼碎。各三兩）</p>
<p>甘草（炙，銼）　當歸（洗，去蘆須，切，焙。各二兩）　人參（一兩半，去蘆頭，切）　生薑（五兩，洗，擦去皮，切碎）　半夏（四兩，湯浸七次，薑淹一宿）　大棗（十二枚，去核）</p>
<p>上十味　咀，以水八升煮，減半，納清酒三升並阿膠，煎取三升，分三服，溫臥，當汗以粉粉之，護風寒四五日。一方用烏雌雞一只，煮水煎藥。</p>
<p>若曾傷四月胎者，當預服調中湯。</p>
<p><u>調中湯</u></p>
<p>續斷（去根，洗，焙乾）　芎　（洗，銼）　甘草（炙。各一兩）　白朮（去蘆，切，焙）</p>
<p>柴胡（去蘆，洗）　厚朴（削去皮，生薑搗碎，淹一宿，次日焙乾）　枳實（去穰，麩炒）　生李根白皮（洗。</p>
<p>各三兩）　白芍藥（雪白者，銼）　生薑（洗，去皮，切，各四兩）　當歸（一兩半，洗，去蘆須）　烏梅（一升，捶碎）</p>
<p>上十二味　咀，以水一斗，煮取三升，分四服，日三夜一。八日後復服一劑。</p>
<p>妊娠五月始受火，精以成其氣。臥必晏起，沐浴浣衣，深其居處，濃其衣裳，朝吸天光，以避寒殃。其食稻麥，其羹牛羊，和以茱萸，調以五味，是謂養氣，以定五臟。</p>
<p>妊娠五月，足太陰脈養，不可針灸其經。足太陰內輸於脾。五月之時，兒四肢皆成，無大飢，無甚飽，無食干燥，無自炙熱，無大勞倦。</p>
<p>妊娠五月，有熱，苦頭眩心亂，嘔吐；有寒，苦腹滿痛，小便數；卒有恐怖，四肢疼痛，寒熱胎動無常處，腹痛，悶頓欲仆，卒有所下，阿膠湯主之。</p>
<p><u>阿膠湯</u></p>
<p>旋覆花（二合，去枝根）　阿膠（四兩，銼碎）　人參（一兩，去蘆頭，切）　麥門冬（一升，湯浸去心，焙）　生薑（六兩，洗，擦去皮，切）　吳茱萸（七合，揀淨，湯洗三次，焙）　黃芩（尖如錐者）　當歸（洗，去蘆須，切片子，焙）　芍藥（雪白者，銼）　甘草（炙。各二兩）</p>
<p>上十味　咀。以水九升，煮藥減半，內清酒三升並膠，微火煎取三升半，分四服，日三夜一，先食服便愈，不瘥再服。一方用烏雌雞一只，割取咽血，納酒中，以水煮雞，以煎藥，減半，納酒並膠，煎取三升半，分四服。</p>
<p>曾傷五月胎者，當預服安中湯。</p>
<p><u>安中湯</u></p>
<p>黃芩（一兩，尖如錐者）　當歸（洗，去蘆須，切片，焙）　芎　（洗，銼）　人參（去蘆頭，切）</p>
<p>乾地黃（洗淨，焙乾。各二兩）　甘草（炙，銼）　芍藥（雪白者。各三兩）　生薑（六兩，洗，擦去皮，切碎）　麥門冬（一阿，湯泡去心，焙）　大麻仁（五合，去殼）　五味子（五合，揀去枝梗）　大棗（三十五枚，去核）</p>
<p>上十二味　咀，以水七升，清酒五升，煮取三升半，分四服，日三夜一，七日復服一劑。</p>
<p>妊娠六月始受金，精以成其筋。身欲微勞，無得靜處，出游於野，數觀走犬及視走馬。食宜鷙鳥猛獸之肉，是謂變腠理、紉筋，以養其力，以堅背膂。</p>
<p>妊娠六月，足陽明脈養，不可針灸其經。足陽明內屬於胃，主其口目。六月之時，兒口目皆成。調五味，食甘美，無大飽。</p>
<p>妊娠六月，卒有所動不安，寒熱往來，腹內脹滿，身體腫，驚怖，忽有所下，腹痛如欲產，手足煩疼，宜服麥門冬湯。</p>
<p><u>麥門冬湯</u></p>
<p>麥門冬（一升，湯浸去心）　人參（去蘆，切片）　甘草（炙，銼）　黃芩（各二兩）　乾地黃（三兩，洗，焙）　阿膠（四兩，銼碎）　生薑（六兩，洗，擦去皮）　大棗（十五枚，去核）</p>
<p>上八味　咀，以水七升煮，減半，納清酒二升並膠煎，取三升，分三服，中間進糜粥。一方用烏雌雞一只煮水以煎藥。</p>
<p>若曾傷六月胎者，當預服柴胡湯。</p>
<p><u>柴胡湯</u></p>
<p>柴胡（四兩，去蘆，洗，焙）　芍藥（雪白者，一方作柴箴）　白朮（去蘆，切，焙乾）　甘草（炙，各二兩）　蓯蓉（一兩，酒浸一宿，切碎，焙）　麥門冬（湯浸去心，焙）　芎　（洗，各二兩）　乾地黃（五兩，洗淨，焙）　生薑（六兩，洗，擦去皮，切片）　大棗（三十枚，去核）</p>
<p>上十味　咀，以水一斗，煮取三升，分四服，日三夜一，中間進糜粥。勿食生冷及堅硬之物。七日更服一劑。</p>
<p>妊娠七月始受木，精以成其骨。勞身搖肢，無使定止，動作屈伸以運血氣。居處必燥，飲食避寒，常食稻粳以密腠理，是謂養骨而堅齒。</p>
<p>妊娠七月，手太陰脈養，不可針灸其經。手太陰內屬於肺，主皮毛。七月之時，兒皮毛已成。無大言，無號哭，無薄衣，無洗浴，無寒飲。</p>
<p>妊娠七月，忽驚恐搖動，腹痛，卒有所下，手足厥冷脈。若傷寒煩熱，腹滿短氣，常苦頸項及腰背強，蔥白湯主之。</p>
<p><u>蔥白湯</u></p>
<p>蔥白（十四莖，長三四寸）　麥門冬（一升，湯浸去心，焙）　生薑（八兩，洗，擦去皮，切片）　甘草（炙，銼）　當歸（洗，去蘆須，切片子，焙）　黃　（捶褊，蜜塗，炙。各三兩）　人參（一兩半，去蘆，切片）　阿膠（四兩，銼碎）　黃芩（一兩，尖如錐者）　旋覆花（一合，去枝梗）　半夏（一升，湯泡，洗七次，用生薑製一宿，焙乾）</p>
<p>上十一味　咀，以水八升煮，減半，納清酒三升及膠，煎取四升，服一升，日三夜一。溫臥當汗出，若不出者，加麻黃去節二兩煮，服如前法，若秋後勿強漬汗。一方以黃雌雞一只，割咽取血，納酒中，煮雞取汁，以煎藥。</p>
<p>若曾傷七月胎者，當預服杏仁湯。</p>
<p><u>杏仁湯</u></p>
<p>杏仁（湯浸，去皮尖）　甘草（炙，各二兩）　麥門冬（湯浸，去心，焙）　吳茱萸（揀淨，湯洗三、二次，焙。各一升）　鐘乳（使煉成者粉尤勝生鐘乳）　乾薑（炮烈。各二兩）　粳米（五合）　紫菀（一兩，使茸）　五味子（三合，去梗）</p>
<p>上九味　咀，以水八升，煮取三升半，分四服，日三夜一，中間進食，七日服一劑。一方用白雞一只，煮汁煎藥。</p>
<p>妊娠八月始受土，精以成膚革。和心靜氣，無使氣極，是謂密腠理而光澤顏色。</p>
<p>妊娠八月，手陽明脈養，不可針灸其經。手陽明內屬於大腸，主九竅。八月之時，兒九竅皆成。無食燥熱，無輒失食，無忍大起。</p>
<p>妊娠八月中風寒，有所犯觸，身體盡痛，乍寒乍熱，胎動不安，常苦頭眩，痛繞臍，下寒，時時小便白如米汁，或青或黃或使寒栗，腰背苦冷而痛，目　，芍藥湯主之。</p>
<p><u>芍藥湯</u></p>
<p>芍藥（白者，銼）　生薑（洗淨，去皮。各四兩）　甘草（炙，銼）　當歸（去蘆須，洗，切片子，焙）</p>
<p>白朮（去蘆，焙）　人參（去蘆，切片。各三兩）　薤白（一升，切，洗）　厚朴（三兩，去皮，生薑搗碎，淹一宿，焙）</p>
<p>上八味　咀，以水五升，清酒四升合煮，取三升，分三服，日再夜一。一方用烏雌雞煮汁以煎藥。</p>
<p>若曾傷八月胎者，當預服葵子湯。</p>
<p><u>葵子湯</u></p>
<p>葵子（三升，揀，洗淨）　生薑（六兩，洗淨，擦去皮，切片）　芍藥（四兩，雪白者，銼）　白朮（去蘆，切，焙乾）　柴胡（去蘆，洗，焙。各三兩）　大棗（二十枚，去核）　甘草（二兩，炙，銼）　厚朴（二兩，去皮，生薑搗碎，淹一宿，焙）</p>
<p>上八味　咀，以水九升煮，取三升，分三服，日三，十日一劑。一方用烏雌雞一只，煮水以煎藥。</p>
<p>妊娠九月始受石，精以成皮毛，六腑百節莫不畢備。飲醴食甘，緩帶自持而待之，是謂養毛髮、致才力。</p>
<p>妊娠九月，足少陰脈養，不可針灸其經。足少陰內屬於腎，腎主續縷。九月之時，兒脈續縷皆成。無處濕冷，無著炙衣。</p>
<p>妊娠九月，若卒得下痢，腹滿懸急，胎上衝心，腰背痛不可轉側，短氣，半夏湯。</p>
<p><u>半夏湯</u></p>
<p>半夏（湯泡七次，以生薑二兩淹一宿）　麥門冬（湯浸，去心，焙。各五兩）　當歸（去蘆須，切片子，焙）　吳茱萸（揀淨，湯泡，洗三、二次，焙）　阿膠（用蛤粉炒。各三兩）　乾薑（一兩，炮烈）　大棗（十二枚，去核）</p>
<p>上七味　咀，以水九升煮取三升，去滓，納白蜜八合，微火上溫，分四服，痢即止。一方用烏雌雞一只煮汁煎藥。</p>
<p>若曾傷九月胎者，當預服豬石湯。</p>
<p><u>豬石湯</u></p>
<p>豬石（一具，剝去筋膜，洗淨）　白朮（四兩，去蘆，切，焙）　茯苓（去黑皮）　桑寄生（揀淨）</p>
<p>乾薑（炮烈）　乾地黃（洗淨，焙）　芎　（洗，焙。各三兩）　麥門冬（一升，湯浸去心，焙）　大豆（三合，略炒）　附子（一枚，中者炮烈，去皮臍，切）</p>
<p>上十味　咀，以水一斗煮石，令熟，去石，納諸藥，煎取三升半，分四服，日三夜一，十日更一劑。</p>
<p>妊娠十月，五臟俱備，六腑齊通，納天地氣於丹田，故使關節入神皆備，但俟時而生。</p>
<p>妊娠一月始胚，二月始膏，三月始胞，四月形體成，五月能動，六月筋骨立，七月毛髮生，八月臟腑具，九月穀氣入胃，十月諸神備，日滿即產矣。宜服滑胎藥，入月即服。</p>
<p>養胎臨月服，令滑易產，丹參膏。</p>
<p><u>丹參膏</u></p>
<p>丹參（半斤，洗晒）　芎　（洗，焙）　當歸（洗，去蘆須，切，焙。各二兩）　蜀椒（五合，炒，少時以碗合定出汗。若有熱者，以大麻入五合代）</p>
<p>上四味　咀，以清酒，溲濕停一宿以成，煎豬膏四升，微火煎膏，色赤如血，膏成，新布絞去滓。每日取如棗許納酒中，服之不可過服，至臨月乃可服，舊用常驗。</p>
<p><u>甘草散</u></p>
<p>令易生。母無疾病，未生一月。日預服，過三十日行步動作如故，兒生墮地，皆不自覺。</p>
<p>甘草（二兩，炙，銼）　大豆黃卷（微炒）　乾薑（炮烈，撕碎）　黃芩（尖如錐者）　桂心（不見火，銼）　大麥　（炒。一方用粳米）　吳茱萸（揀去梗，湯洗三次，焙）　麻子仁（各三兩）</p>
<p>上八味為細末，每服二錢，酒調服，日三服，白湯調下亦得。</p>
<p><u>千金丸</u></p>
<p>主養胎及產難顛倒胞不出，服一丸。傷毀不下，產余病汗不出，煩滿不止，氣逆滿，以酒服一九，良。</p>
<p>一名保生丸。</p>
<p>甘草（炙，銼）　貝母（去心）　秦椒（炒出汗）　乾薑（炮烈，撕碎）　桂心（去皮，不見火）　黃芩（尖如錐者）　石斛（去根，銼）　石膏（硬者不　，軟者火　）　粳米　大豆黃卷（炒。各六銖）　當歸（十二銖，洗，去蘆須，切片子，焙）　麻子（三合）</p>
<p>上十二味為末，煉蜜和丸如彈子大。每服一丸，日三服，用棗湯化下。一方用蒲黃一兩。</p>
<p><u>蒸大黃丸</u></p>
<p>治妊娠養胎，令易產。</p>
<p>大黃（三十銖，蒸，銼）　枳實（銼，去穰，麩炒）　芎　（洗，銼，焙）　白朮（去蘆，切，焙乾）</p>
<p>杏仁（湯泡，去皮。各十八銖）　芍藥（白者，銼）　厚朴（削去皮，生薑搗碎，淹一宿）　乾薑（炮烈，各十二銖）　吳茱萸（一兩，揀去梗，湯泡，洗三、二次，焙）</p>
<p>上九味為末，煉蜜丸如梧桐子大。空腹酒下二十丸，日三服，未效加丸數。</p>
<p><u>滑胎令易產方</u></p>
<p>車前子（一升，水淘洗令淨，控，焙乾，隔紙炒）　阿膠（八兩，銼碎，蛤粉炒泡起，去粉用）　滑石（三兩）</p>
<p>上三味為細末，飲湯調服一錢，日再服。如生，月可服之。藥利九竅，未產不得先服。</p>
<h2>卷第三</h2>
<p>免乳大故，方書浩博，自非素習，誰能適從，危殆之間，頗艱應用。今采摭諸方，論中將護要法及預備經效要用湯藥，名曰：產科備要，務從簡易，以救倉卒。</p>
<h3>論初妊娠</h3>
<p>凡女人妊娠，若素來虛羸，血氣不足，體中有風氣，心下多痰水者，欲有胎喜，病阻其狀，顏色如常，脈理和順，但覺肢體沉重，頭目昏眩，不思飲食，惡聞食氣，多啖咸酸，心中憤懣，不知患之所在，以至三、四月以後，則大劇吐逆，不能勝舉。如有此證，則宜服療阻病竹茹湯、人參散、地黃丸。</p>
<p><u>竹茹湯</u></p>
<p>治初有妊，擇食嘔逆，頭痛，顛倒寒熱，四肢不和，煩悶。</p>
<p>橘皮（去白，洗）　人參（去蘆，切片）　白朮（切碎，焙）　麥門冬（去心。各一兩）　厚朴（去皮，以善汁浸，炙）　茯苓（去黑皮。各半兩）　甘草（一分，炙，銼）　淡竹茹（先刮下，臨煎旋入）</p>
<p>上為粗末，每服四錢，水一盞半，入生薑、淡竹茹各一塊如栗子大，拍破，煎取八分，去滓，微溫服。</p>
<p><u>人參散</u></p>
<p>治初妊娠，惡食嘔逆。</p>
<p>人參（一兩，去蘆，切片）　枳殼（三分，去穰，撕碎，麩炒微黃）　厚朴（削去皮，薑汗塗，炙）　甘草（炙。各半兩）</p>
<p>上為粗散，每服四錢，水一盞半，入生薑彈子大一塊，拍破，同煎至七分，去滓，溫服，不拘時候。</p>
<p><u>地黃丸</u></p>
<p>治初懷妊，醋心嘔吐，腹痛不能食，或吐清水。</p>
<p>人參（去蘆，切片）　乾薑（炮，銼，各一兩。）</p>
<p>上為末，用地黃汁和丸如桐子大。每服五丸，米飲下，日再服。</p>
<p>又妊娠臟氣皆擁，關節不利，切不宜多睡，食黏硬難化之物，亦不須亂服湯藥，大忌針灸。惟須數行步，定心神，不得悲憂驚恐，負重震動。若覺胎臟不安，腹中微痛，心意煩悶，四體昏倦，宜服安胎順氣阿膠散。</p>
<p>近難月即服順胎保安散、千金丸。</p>
<p><u>阿膠散</u></p>
<p>治妊娠不問月數深淺，因頓仆胎動不安，腰腹痛，或有所下，或胎奔上刺心，短氣。安胎。</p>
<p>熟乾地黃（二兩，洗，細切，酒浸，焙）　艾葉（切，炒黃）　當歸（洗，切，焙，去蘆須）　甘草（炙，銼）　芍藥（洗，銼）　阿膠（銼碎，以蚌粉拌和，銚內炒泡起，候冷，篩去蚌粉用）　芎（洗，銼。各一兩）</p>
<p>黃（一兩，若虛羸，加此一味，蜜炙）</p>
<p>上為粗散，每服四錢，水一盞半，煎至八分去滓，溫服。若胸中冷，氣逆，加生薑五升，棗五枚同煎。</p>
<p><u>保安散</u></p>
<p>治妊娠胎氣不安，心腹疼痛，胎動，安胎極妙。</p>
<p>當歸（一兩半，洗，切，焙，去蘆須）　人參（一兩，去蘆，切片）　甘草（半兩，炙，銼）　阿膠（半兩，銼碎，用蚌粉炒泡起，卻篩去粉用之）</p>
<p>上為粗散，每服三大錢，水一盞半，入蔥白一莖，拍破，煎八分去滓。食前溫服，未定再服。</p>
<p><u>神妙千金丸</u></p>
<p>治產前、產後一切風冷、血氣等疾。產前胎氣不安，腰腹多疼，四肢疲倦，妊娠臨月預合下。每日空心一服，臨產五臟不痛，易產，蓐中不生諸疾。兼治產後惡血不盡及胎衣不下，憎寒壯熱，吐逆煩悶，皮膚虛腫，或血暈狂迷，眼見神鬼，能補勻血氣。</p>
<p>金釵石斛（一分，別搗為細末）　秦艽（去蘆須，洗，銼，焙）　川椒（去子，微炒）　細辛（去葉，銼）</p>
<p>防風（去苗，銼）　貝母（麩炒微黃）　熟乾地黃（切，酒浸，焙）　糯米　甘草（炙。各一兩）　當歸（去蘆須，洗，焙）　大麻仁（去殼取仁）　黃芩（尖如錐者）　乾薑（炮，銼）　大豆柏（旋以黑豆生芽長二寸，焙乾用。各三分）　石膏（半分，軟者火　）</p>
<p>上精擇為末，以煉蜜成劑，入木臼中杵一千下，分為七十二丸，擇除破。天德月德，月合日合，每服一丸，溫酒化下。產前、產後、赤白帶下，溫酒嚼下。產前後或心痛血氣，用薄荷湯嚼下。月信不通，當歸酒下。臨產艱難，或三五日難產及胎衣不下，子死腹中，橫生倒產，死絕不語，但心頭有熱氣，用藥一丸，京棗湯研化灌之，下咽立瘥。產後惡血不盡，臍腹疼痛，嘔吐壯熱，憎寒煩悶，月候不調，或多或少，肢體倦怠，皮膚浮腫，產血不止，虛勞中風，口噤不語，半身不遂，產前後赤白痢，大小便秘澀，血暈狂語，頭痛，面色痿黃，漸成勞瘦，飲食無味，並溫酒化下一丸。產前臨月，每旦一丸至臨產，用當歸酒下一、二丸。催生，五臟不痛，子易生。</p>
<h3>論欲產並產後</h3>
<p>凡欲生產，切不得喧鬧，產婦房門常須關閉。選一年高、性和善產婆，又選穩審恭謹家人一、二人扶持，切不用揮霍，致令產婦憂恐，又忌閑雜外人，喪孝穢濁之人瞻視。若不謹之，定是難產兼傷小兒，若腹中痛來，但令扶行，或行不得，且立候，行得更行，或痛作陣，眼中如火生，此是兒回轉，即進琥珀散一服，直至行不得，即扶上蓐草，務要產婦惜力。或心中熱悶，取白蜜一匙，新汲水調下，或未解，即吃生雞子一枚。</p>
<p><u>琥珀散</u></p>
<p>臨月縮胎催生，兼治產後諸疾。</p>
<p>川芎（一兩，銼，略焙）　當歸（一兩半，去蘆須，切，焙）</p>
<p>上為末，每服三錢，水一盞，酒半盞，煎八分，去滓，不計時候服。</p>
<p>大凡生產，自有時候痛不甚者，名曰弄痛。宜須強行熟忍，宜食軟飯。若食飯不得，即宜食粥及飲蜜漿，勿令飢渴，恐產婦無力困乏。若經時不產，進通靈散一丸。若生畢，暖少許醋墨與呷，以童子小便調七寶散一服，心中自然開爽。不住燒磚石以醋沃之，直至七日，要令產婦鼻中常聞醋氣。宜燒茅香、白朮、皂莢等物，切勿令見穢惡。右產訖，忽覺心中昏悶，或眼花如在舟車中，即是血暈，急須服牡丹飲子、黑神散。</p>
<p><u>催生通靈散</u></p>
<p>（又一方在下卷，產科雜方門）</p>
<p>蛇脫皮（一條全者，緊卷以蚯蚓泥裹，燒黑，近藥處泥些小用，無妨）</p>
<p>上為末，每服一錢，溫酒調下。</p>
<p><u>七寶散</u></p>
<p>初產後，勻血和氣，補虛壓驚悸。</p>
<p>朱砂（研如粉）　桂心（去皮，不見火銼）　乾薑（炮，去濕氣）　當歸（去蘆須，洗，焙）　川芎（銼碎，略焙）　人參（去蘆，切片）　羚羊角灰　茯苓（銼）</p>
<p>上件等分，杵研為末。若產婦平和，三　以前直至盈月，每日各取一字，以羌活豆淋酒調下，空心服。若覺心胸煩熱，即減薑、桂，冷即加之。腹痛加當歸，心悶加羚羊角，心胸虛氣加桂，不下食或惡心加人參，虛戰加茯苓，以意斟酌。日二夜一服。不飲酒者，以童子小便調，卻暖過服之。</p>
<p><u>牡丹飲子</u></p>
<p>療產後血暈、悶亂、神昏。若口噤，即斡開口灌，必效。</p>
<p>牡丹皮（洗，銼）　大黃（生用，銼碎）　芒硝（別研，後入。各一兩）　冬瓜子（半合）　桃仁（三、七個，湯浸，去皮尖）</p>
<p>上為粗散，每服五大錢，水三盞煎至一盞半，去滓，入芒硝，服之。凡欲產，先煎下，以備緩急。</p>
<p><u>單方黑神散</u></p>
<p>防暈備急。</p>
<p>驢護千不計多少，以桑柴火燒，以刀刮。取黑煤更燒，更刮，令盡研為末，入真麝香少許。如才產了，及覺血衝心，暈悶，取一錢末，以熱酒和童子小便，調下。</p>
<p>若產後心空，但時與琥珀散一服，或煎芍藥湯進之，更不用它治。常進溫粥，勿與熱食。如食熱，則滯血。</p>
<p>或三五日內，但覺腹中　痛，兒枕未定，即進定痛散一服，琥珀散依第三項。</p>
<p><u>芍藥湯</u></p>
<p>治產後虛乏，不思飲食，四肢疲倦，心腹陣痛。補虛治氣。</p>
<p>當歸（一兩半，去蘆須，洗，切，焙乾用）　芍藥（洗，銼）　人參（去蘆，切片）　肉桂（去皮，不見火，銼）　生薑（後入）　甘草（炙。各一兩）　生乾地黃（二兩，洗，酒浸，焙）</p>
<p>上銼，杵為粗散，每服三大錢。水二盞，入棗二枚，煎至一盞，去滓，放溫服，日三服。</p>
<p><u>定痛散</u></p>
<p>治產後惡血不止，腹內熱痛，不可忍及兒枕未定。</p>
<p>當歸（洗，去蘆須，切，焙）　芍藥（洗。各二兩）　桂心（一兩，或體蒸熱，以川芎代之）</p>
<p>上為末，每服二錢，水酒共一盞，生薑一塊彈子大，擘破，同煎至六分，去滓，溫服之。</p>
<p>若產後四肢安和，亦不用多吃酒藥，緣氣虛禁持未得，卻多昏眩，唯飲童子小便無妨。勿平身，且側臥，夜常須一人看承，令屈起兩膝臥睡，即須頻喚。覺虛羸困乏，即空心進理中丸、七寶散。七日外，恐吃粥無味，或虛乏無力，即爛煮羊肉汁、黃雌雞汁作粥，未可吃肉，亦不可傷及吃硬物，便成積滯之患。常以淨黑豆一升炒，令煙出，以酒五升澆淋，入羌活一兩，槌碎，同浸，常用此酒下藥，或時飲一盞，大避風邪，令諸疾不生。</p>
<p><u>四順理中丸</u></p>
<p>治新產後臟腑虛，不思飲食。補養五臟。</p>
<p>甘草（三兩，炙，銼）　人參（去蘆，切片）　白朮（銼，焙）　乾薑（泡，去濕氣。各二兩）</p>
<p>上為末，煉蜜丸梧桐子大。每服十五丸至二十九，空心溫酒下。</p>
<p><u>七寶散</u></p>
<p>依前項。</p>
<p>若三日後覺壯熱、頭痛，此是乳脈行，即進玉露散二服。或大小便秘澀，或發寒熱，頭痛，四肢如碎，此是蓐勞。或產後大渴，胎損唄你咳嗽，別生他疾及帶起宿患，亦宜檢尋別方治之。月內不宜多語笑，強起離床行或作針線運動。恣食生硬，不避風脫衣、洗浴，當時雖未覺大損，盈月後或成蓐勞，手腳及腰腿酸重、冷痛，骨髓間颼颼如風吹，縱有名醫，卒不能療。大都產婦將息，須是百日，方可平復。大忌犯觸，因此多致身體強直，如角弓反張，名曰蓐風，遂至不救。小可虛羸，失於將補，便成大患，終身悔不及矣，戒之戒之。</p>
<p><u>玉露散</u></p>
<p>治產後乳脈行，煩熱或大腸滯澀，肢體疼痛。涼膈、壓熱、下乳。</p>
<p>茯苓（銼）　人參（去蘆，切片）　甘草（炙，各半兩）　桔梗（去蘆，切，焙）　白芷（洗，銼）　川芎（洗，銼。各一兩）　川大黃（濕紙裹，慢火煨熟，銼）　當歸（去蘆須，切。各一分）　芍藥（三分，洗，銼）</p>
<p>上為末，每服二平錢水一盞煎至七分，溫服，日三服。若臟腑泄瀉，即除川大黃。</p>
<h2>卷第四</h2>
<p>《產育保慶集方》，余收產論二十一篇，議論精確，無所不究。蓋國醫博極方書，所得之妙，惜乎有其說而無其方。郭君稽中為時良醫，尤長於治產，故其切脈、用藥屢取奇功。一日愿以所收家方，附於諸論之末，遂編為一集，真濟眾之異書也。古人謂：為人子而不學醫者，為不孝。則有方論而不傳於世者，其可謂之仁哉。</p>
<p>大觀三年九月五日，濮陽李師聖述。</p>
<h3>二十一論並增入十八論</h3>
<p>（李師聖編論郭稽中附方）</p>
<p>第一論曰：熱疾，胎死腹中者，何。</p>
<p>答曰：因母患熱疾，至六七日以後，臟腑熱極，熏蒸其胎，是以致死。緣兒死身冷，不能自出，但服黑神散暖其胎，須臾胎氣溫暖，即自出。何以知其胎之已死，但看產婦舌色青者，是其驗。黑神散二方。</p>
<p><u>黑神散</u></p>
<p>桂（去粗皮，不見火，銼碎）　當歸（洗，去蘆須，切，焙）　芍藥（洗，銼）　甘草（炙，銼）　生乾地黃（溫湯洗淨，銼，忌冷水）　乾薑（宜用炒生薑代之。各一兩）　附子（半兩，炮去皮臍）　雄黑豆（二兩，小者是，炒焦去皮）</p>
<p>上為末，每服一錢匕，空心溫酒調下。</p>
<p><u>蒲黃黑神散</u></p>
<p>（此方十八論云。產前、產後一切疾皆治之。）</p>
<p>雄黑豆（二兩，小者是，去皮秤）　當歸（洗，去蘆並須，切，焙）　芍藥（洗，銼）</p>
<p>甘草（炙，銼）　乾薑（炮，銼）　肉桂（去皮，銼，不見火）　生乾地黃（溫湯洗，銼，焙，忌冷水）</p>
<p>蒲黃（銀石器內微炒，令赤或以紙辛銚子內炒，紙黃為度，各一兩）</p>
<p>上為末，每服二錢，空心溫酒調下。若三十已人及生產少婦人不用桂、乾薑，入炒生薑、紅花代之。生薑、紅花各用二兩，經洗者並焙乾。</p>
<p>第二論曰：胎衣不下者，何。</p>
<p>答曰：母生子訖，血流入衣中，衣為血所脹，其故不得下。治之稍緩，脹滿腹中，漸次上衝，心胸疼痛，喘急者，難治。但服奇命丹以速去衣中之血，血散脹消，胎衣自下而無所患。</p>
<p><u>奪命丹</u></p>
<p>附子（半兩，炮，去皮臍，切）　牡丹皮（一兩，洗，銼）　乾漆（一分，搗碎，炒煙盡）</p>
<p>上為末，釅醋一升，大黃末一兩同熬成膏，和藥如桐子大。溫酒下五十丸，不以時候。</p>
<p>又十論云：但服蒲黃黑神散，逐去衣中血，即胎下或帶斷，亦同。</p>
<p>第三論曰：難產者，何。</p>
<p>答曰：胎側有成形塊，呼為兒枕。子欲生時枕破，與敗血裹其子，故難產。但服勝金散，逐其敗血，即自生成。若逆生、橫生，並皆主之。</p>
<p><u>勝金散</u></p>
<p>麝香（一錢，共研為細末）　鼓（一兩，用舊青皮裹了燒，令通紅，急以乳捶研為末）</p>
<p>上為末，取秤捶燒紅，以酒淬之，調下藥一錢匕。</p>
<p>又十八論云：但服蒲黃黑神散解其敗血，即自生也，或橫生、逆生、胎衣不下，此藥悉治。</p>
<p>第四論曰：產後血運者，何。</p>
<p>答曰：產後氣血暴虛，未得安靜，血隨氣上，迷亂心神，故眼前生花，極甚者令人悶絕不知人，口噤神昏，氣冷。醫者不識，呼為暗風，若作此治之，病必難愈，但服清魂散，自瘥。</p>
<p><u>清魂散</u></p>
<p>澤蘭葉（揀淨）　人參（去蘆。各一分）　荊芥穗（一兩，晒）　芎（半兩，洗，銼）　甘草（二錢，炙，銼）</p>
<p>上為細末，每服一錢匕，熱湯、溫酒各小半盞調勻，急灌之。下咽喉即開眼氣定，省人事。</p>
<p>又十八論云：但服蒲黃黑神散，自瘥。</p>
<p>第五論曰：產後口乾、痞悶者，何。</p>
<p>答曰：產後宮胃大虛，血氣未定，食面太早，胃不能消化，面毒結聚於胃脘，上熏腦中，是以口乾、煩渴、心下痞悶。醫者不識，認為胸膈壅滯，以藥下之，萬不得。一但服見現丸，自瘥。</p>
<p><u>見現丸</u></p>
<p>薑黃（片子者，銼）　荊三棱（煨，乘熱撕碎，焙乾用）　蓽澄茄（不得用火炒）　陳皮（去白）　高良薑（銼碎，炒）　人參（去蘆，切片）　蓬莪朮（煨，乘熱撕，銼，焙乾用）</p>
<p>上七味等分為末，用細切蘿卜慢火煮，令爛，研細，將汁煮糊丸，梧桐子大。每服三十丸，蘿卜湯下，不以時候。</p>
<p>又十八論云：但服蒲黃黑神散，自瘥。</p>
<p>第六論曰：產後乍寒乍熱者，何。</p>
<p>答曰：陰陽不和，敗血不散，皆令乍寒乍熱。產後血氣虛損，陰陽不和，陰勝則乍寒，陽勝則乍熱，陰陽相乘，則或寒或熱。若因產勞傷臟腑，血弱不得宣越，故令血敗不散，入於肺則熱，入於脾則寒。醫人若誤作瘧疾治之，則繆矣。陰陽不和，宜增損四物湯。敗血不散，宜奪血丹。</p>
<p>又問：二者何以別之。</p>
<p>答曰：時有刺痛者，敗血也，但寒熱無它證者，陰陽不和也。</p>
<p><u>增損四物湯</u></p>
<p>當歸（洗去土，並蘆須切，焙）　芍藥（洗，銼）　人參（去蘆，切片）　川芎（洗，銼。各一兩）　甘草（四錢，炙）　乾薑（一兩，宜用生薑代之）</p>
<p>上為末，每服二錢匕，水一盞、生薑五片同煎六分，去滓，微熱服，不以時候。</p>
<p><u>奪命丹</u></p>
<p>（見第二論）</p>
<p>又十八論云：但服蒲黃黑神散，自瘥。</p>
<p>第七論曰：產後四肢虛腫者，何。</p>
<p>答曰：產後敗血乘虛停積於五臟，循經流入於四肢，留留日深，卻還不得，腐壞如水，故令四肢面目浮腫。</p>
<p>醫人不識，便作水氣治之，血氣與水氣不同。凡治水氣，多用導水藥，極虛之。夫產後既虛，又以藥虛之，是謂重虛，往往因致夭枉。但服調經散，血行腫消，即愈。</p>
<p><u>調經散</u></p>
<p>沒藥（令研）　琥珀（研。各一錢）　桂（去粗皮，不見火銼）　芍藥（赤者，洗，銼）　當歸（去蘆須，切。各一錢）　細辛（去葉，銼）　麝香（研。各半錢）</p>
<p>上為末，每服半錢匕，生薑汁、溫酒各少許，調勻服之。</p>
<p>又十八論云：但服蒲黃黑神散，後服轉藥，瀉下惡物，自瘥。轉藥是黑神丸，在第十二論後。</p>
<p>第八論曰：產後乍見鬼神者，何。</p>
<p>答曰：心主身之血脈，因產傷耗血脈，心氣則虛，敗血停積，上於於心，心不受觸，遂致心中煩燥，臥起不安，乍見鬼神，言語顛倒，醫工不識，呼為風邪，如此治之，必不得愈。但服調經散，每服加生龍腦一捻，得睡即安，方見第七論。</p>
<p>又十八論云：但服蒲黃黑神散，自安。</p>
<p>第九論曰：產後月內不語者，何。</p>
<p>答曰：人心有七孔三毛，產後血虛氣弱，多致停積，敗血閉於心竅，神志不能明了。又心氣通於舌，心氣閉塞，則舌亦強矣，故令不語。如此但服七珍散，即瘥。</p>
<p><u>七珍散</u></p>
<p>人參（去蘆，切片）　石菖蒲（節密者，銼）　川芎（洗，銼，焙）　熟乾地黃（各一兩）　細辛（一錢，去葉）　防風（去苗，銼）　朱砂（研，各半兩）</p>
<p>上為末，每服一錢，蒲荷湯調下，不以時候。</p>
<p>又十八論云：但服蒲黃黑神散，便安。</p>
<p>第十論曰：產後腹痛，又瀉痢者，何。</p>
<p>答曰：產後腸胃虛怯，寒邪易侵。若未盈月，飲冷當風，則寒邪乘虛進襲，留於盲膜，散於腹脅，故腹痛作陣，或如錐刀所刺。流入大腸，水穀不化，洞泄腹鳴，或下赤白，腹脅　脹，或走痛不定，急服調中湯，立愈。若醫者以為積滯，取之，則禍不旋踵，謹之謹之。</p>
<p><u>調中湯</u></p>
<p>高良薑（銼，油炒）　當歸（洗，去蘆須，切，焙）　桂（去皮，不見火銼）　白芍藥（洗，銼）　附子（炮，去皮臍）　川芎（洗。各一兩）　甘草（半兩，炙，銼）</p>
<p>上為粗末，每服三錢，用水三盞，煎至一盞，去滓，熱服。</p>
<p>又十八論云：急服蒲黃黑神散，後服調中湯。</p>
<p>第十一論曰：產後遍身疼痛者，何。</p>
<p>答曰：產後百節開放，血脈流走，遇氣弱，則經絡、肉分之間，血多留滯，累日不散，則骨節不利，筋脈引急，故腰背不得轉側，手腳不能動搖，身熱，頭痛。若醫以為傷寒，治之，則汗出而筋脈動踢，手足厥冷，變生他病。但服趁痛散，以嘿除之。</p>
<p><u>趁痛散</u></p>
<p>牛膝（切，酒浸一宿，控干，慢火炒，焙乾）　當歸（去蘆須，先切，焙）　白朮（銼碎，焙乾）　黃（蜜炙，銼）　桂（去皮，不見火銼）　獨活（去蘆，銼，川中者尤佳）　生薑（切。各半兩）　薤白（洗，切，銼）　甘草（炙，銼。各一分）</p>
<p>上為粗末，每服半兩。水五盞煎至兩盞，去滓，熱服一盞，次一盞續，後再暖服，不拘時候。</p>
<p>又十八論云：但服蒲黃黑神散，即愈。</p>
<p>第十二論曰：產後大便秘澀者，何。</p>
<p>答曰：產臥，水血俱下，腸胃虛竭，津液不足，是以大便秘澀不通也。若過五、六日，腹中悶脹者，此有燥糞在臟腑，以其干澀，未能出耳。宜服麻仁丸，以津潤之。若誤以為有熱而投之以寒藥，則陽消陰長，變動百出，性命危矣。</p>
<p><u>麻仁丸</u></p>
<p>麻仁（研碎）　枳殼（去穰，銼，炒微黃）　人參（去蘆，切片）　大黃（煨，銼。各半兩）</p>
<p>上為末，煉蜜丸梧桐子大。空心溫湯下二十丸，未通加丸數。</p>
<p>又十八論云：產後小便出血，大便滯痛者，何。</p>
<p>答曰：敗血流入大小腸，大小腸澀滯，致小便澀寒，大便艱難。人多不識，作五淋治之，不愈，但服蒲黃黑神散，後服黑神丸，取下惡物，即安。</p>
<p><u>黑神丸</u></p>
<p>巴豆（去皮，以水二碗煮盡為度，去心膜，細研，去油）　黑附子（炮，去皮臍，切片）　肉桂（去皮，不見火銼）　白乾薑（炮，銼。各半兩）</p>
<p>上為末，面糊丸如蘿卜子大，每服三丸至五丸，熱茶下，再以熱茶投之，即行。前第七論中云轉藥者，即是此方，切不可服尋常取積藥。</p>
<p>第十三論曰：產後血崩者，何。</p>
<p>答曰：產臥傷耗，經脈未得平復而勞役損動，致血暴崩下，淋瀝不止，或因咸酸不節，傷蠹榮衛，氣衰血弱，亦變崩中。若小腹滿痛，肝經已壞，為難治，急服固經丸以止。</p>
<p><u>固經丸</u></p>
<p>艾葉（揀淨，銼碎，炒黃）　赤石脂　補骨脂（略炒香）　木賊（去根節。各半兩）　附子（一枚，炮，去皮臍，切片）</p>
<p>上為末，陳米飲和丸桐子大。食前溫酒下二十丸，米飲亦得。如陳米飲難丸，即入雪糕少許搜和，即易丸也。</p>
<p>又十八論云：但服蒲黃黑神散及黑神丸，立瘥。</p>
<p>第十四論云：產後腹脹悶滿，嘔吐不定者，何。</p>
<p>答曰：敗血散於脾胃，脾受之不能運化精微而成腹脹，胃受之則不得受納水穀而生吐逆醫者不識，若以尋常治脹止吐藥療之，病與藥不相干，轉更傷動正氣，疾愈難治，但服巨勝湯必瘥。</p>
<p><u>巨勝湯</u></p>
<p>赤芍藥（洗，銼）　半夏（湯洗七次，切碎）　澤蘭葉（洗晒）　人參（去蘆，切片）　陳皮（去白）</p>
<p>甘草（炙，銼。各一錢）　生薑（半兩）</p>
<p>上為粗末，用水一碗，同煎至二盞，去滓，微熱，分三服。</p>
<p>又十八論云：急服蒲黃黑神散，次服黑神丸，吐出惡物，即安。</p>
<p>第十五論曰：產後口鼻黑氣起及鼻衄者，何。</p>
<p>答曰：陽明者，經脈之海，起於鼻，交額中，還出挾口，交人中，左之右，右之左，產後氣消血散，榮衛不理，散亂入於諸經，卻還不得，故令口鼻黑起及變鼻衄。此緣產後虛熱，變生此疾，其疾不可治，名曰：胃絕肺敗。遇有此疾，急取緋線一條，並產婦頂心發兩條，系兩中指上節，即止，無藥可療，亦壓禳之一端也。</p>
<p>又十八論曰：產後口鼻黑氣起者，何。</p>
<p>答曰：產後敗血入臟腑即滿，沖於頭目，卻還不得，口乾舌焦，鼻衄黑氣，是產後熱變作此候，不可治也，名曰：敗肺。</p>
<p>第十六論曰：產後喉中氣急喘者，何。</p>
<p>答曰：榮者，血也，衛者，氣也，榮行脈中，衛行脈外，相隨上下，謂之榮衛。因產所下過多，榮血暴竭，衛氣無所主，獨聚於肺中，故令喘也，此名孤陽絕陰，為難治。若惡露不快，敗血停凝，上熏於肺，亦令喘急。</p>
<p>如此但服奪命丹，血去喘息自止。奪命丹方見第二論。</p>
<p>又十八論曰：產後喉中氣急，喘者，何。</p>
<p>答曰：產後敗血過於心，轉於喉中，此不可治也。</p>
<p>第十七論曰：產後中風者，何。</p>
<p>答曰：產後五、七日內，強力下床，或一月之內，百日之中，傷於房室，或懷憂發怒，擾蕩沖和，或因灼艾傷動臟腑。得病之初，眼澀口噤，肌肉　搐，以漸腰脊筋急強直者，不可治，此乃人作，非偶爾中風所得也。</p>
<p>第十八論曰：產後心痛者，何。</p>
<p>答曰：心者，血之主。人有伏宿寒，因產大虛，寒搏於血，血凝不得消散，其氣逆上，沖擊於心之絡脈，故心痛，但以大岩蜜湯治之，寒去則血脈溫而經絡通，心痛自止。若誤以為有所傷，療之則虛極，寒益甚矣。</p>
<p>心絡寒甚，傳心之正經，則變為真心痛。真心痛者，朝發夕死，夕發朝死，藥不可輕用如些。</p>
<p><u>大岩蜜湯方</u></p>
<p>熟乾地黃（洗，酒浸一宿，焙，銼用）　當歸（洗，去蘆須，切，焙）　吳茱萸（揀去枝梗）　獨活（洗，蜀中者尤佳）　芍藥（洗，銼）　乾薑（炮，銼）　甘草（炙，銼）</p>
<p>桂（去皮，不見火銼）　小草（遠志葉。各一兩）　細辛（半兩，去葉，勿用馬蹄香）</p>
<p>上為粗末，每服半兩，用水三大盞，煎一盞，去滓，再入蜜一匙，又同煎三兩，沸，微熱服，食前。</p>
<p>第十九論曰：產後熱悶氣上，轉為香港腳者，何。</p>
<p>答曰：產臥，血虛生熱，復因春夏取涼過多，地之蒸濕，因足履之所以著而為香港腳之疾。其狀熱悶掣　，驚悸心煩，嘔吐氣上，皆其候也。服小續命湯兩、三劑，必愈。若醫者誤以逐敗血藥攻之，則血去而疾益增劇。</p>
<p><u>小續命湯</u></p>
<p>人參（去蘆，切片）　黃芩（尖如錐者）　桂（去粗皮，不見火）　麻黃（去節）　防己（銼碎）　川芎（洗，銼）　芍藥（洗）　甘草（炙）　白朮（銼。各一兩）　附子（一個，去皮臍）　防風（一兩半，去苗）　生薑（五兩，洗，去皮，切）</p>
<p>上為粗散，每服半兩，用水三大盞，煎至一盞，去滓，溫服。</p>
<p>第二十論：產後汗出多而變痙風者，何。</p>
<p>答曰：產後血虛，肉理不密，故多汗，因遇風邪搏之，則變痙風也。痙者，口噤不開，背強而直，如發癇狀，搖頭馬鳴，身反折，須臾十發，氣息如絕。宜速斡口灌小續命湯，稍緩即汗出如雨，手拭不及者，不可治。</p>
<p>此方不特治產婦，凡男女偶中此疾，急以此藥灌之，無不愈也，或服它藥，則不及矣。</p>
<p>第二十一論曰：產後所下過多，虛極生風者，何。</p>
<p>答曰：婦人以榮血為主。因產血下太多，氣無所主，唇青肉冷，汗出目瞑，神昏，命在須臾，此但虛極生風也。如此急服濟危上丹神良，以風藥治之則誤矣。</p>
<p><u>濟危上丹</u></p>
<p>乳香（以竹葉盛，又以竹葉覆上，熨斗略熨過，即研成末）　五靈脂（不夾石者，研）　硫黃（研如粉）</p>
<p>太陰玄精石（研）　陳皮（去穰，銼碎）　桑寄生（銼）　阿膠（銼碎，用蛤粉炒泡起，篩去蛤粉用）　卷柏（生用。各一兩）</p>
<p>上將上四味同研勻，石器內微用火炒動勿令焦，炒了再研極細後，入余藥末，用地黃汁打糊丸梧桐子大。</p>
<p>產後溫酒下二十丸，當歸酒亦得。</p>
<p>又十八論曰：產後血氣通肺，上氣咳嗽，多縱睡者，何。</p>
<p>答曰：產後盈月，血脈未通，好食熱面，壅結成痰，或有氣塊。發時衝心，心痛，氣急咳嗽，四肢寒熱，心悶口乾，背膊酸疼，睡夢驚狂，體虛無力，時有汗出。心痛，月候不來，名曰：敗症，腹痛繞臍，面色微赤，因此不療，縱然得效，三兩日又發，急服黑神散，立愈。</p>
<h3>論臨月將息</h3>
<p>凡產婦合，要備急湯藥，並須預先修合題號，恐臨時倉卒難致。臨月忌勿多飲酒，即依產圖方位，擇深靜房室，入月一日即用。借地法於房內北壁熏，令香潔。</p>
<h3>論新生小兒</h3>
<p>凡新生小兒，急以綿裹指頭，拭兒口中惡物，不爾流入腹中後生諸疾。斷臍可長三寸，臍中若有蟲，急撥去，恐入腹內。繃了取生甘草寸余，捶碎，水一合煎濃汁，以綿包子，點兒口中，當吐出惡汁盡半合，無妨。</p>
<p>又取細研朱砂末一字許，以熟蜜調，置兒口中，令嘔之，去驚邪。三日，湯煎虎頭骨少許，豬膽汁少許，和湯浴兒，少驚無瘡，令無惡疾。每日頻就無風明處，看兒上　，若有一點白泡如竹膜起處，速以指甲刮破，更生更去之。除灸臍帶外，則勿加火艾，恐成驚癇。若有冷熱，夜啼，臍瘡不干，變蒸諸疾，自別有方治之。今錄廬江劉寶助教經效小兒名方四道。</p>
<p><u>注唇膏</u></p>
<p>治初生孩兒眾疾，療胎風病。</p>
<p>朱砂（研細）　坯子胭脂（各一錢）　白僵蠶（七個，炒，去絲嘴）　中黃（半錢，研）　蠍梢（半個）</p>
<p>上白僵蠶、蠍梢用薄荷汁一合重，湯煮汁盡為度，焙乾為細末，研，入坯子，朱砂等生蜜和為膏。逐日與孩兒注唇，令自嘔，HT　，取效。</p>
<p><u>豆蔻散</u></p>
<p>治小兒夏月滑瀉，冷痢不已，腹痛，瘦，瘁食下即逆。</p>
<p>肉豆蔻（一個，用糊餅面一塊如杏大裹豆蔻，灰火中煨，不住攪轉，候色赤，透熱取出，銼，焙乾）</p>
<p>上為細末，每服半大錢。七八歲至十歲者一錢，用溫米飲調下，日三服，一兩日間愈。</p>
<p><u>蠍梢散</u></p>
<p>治小兒胎風及百　孩兒臍風攝口，無能救療者。先用生腦子一字，填入臍心上，用艾炷灸一、七壯，如不覺，灸二、七壯，再添腦子，大妙，候定服蠍梢散蠍梢（四十九個，用薄荷葉逐個卷，以絲扎定，於砂銚中滾轉炒，令薄荷干蘇為度）　白僵蠶（四十九個，生薑汁浸，炒干，去嘴）</p>
<p>上二味為末，入生腦子抄半錢，麝香少許研勻，用紫色雄雞肝煎湯調下末半錢許，並三兩服，愈。</p>
<p>治小兒諸般　喘疾。</p>
<p>烏雞卵（一個）　輕粉（少許）</p>
<p>上將雞卵於尖小一頭打小穴子，入輕粉在內，用杖子攪轉，令勻，坐雞卵於飯上蒸熟訖，將與患者小兒吃，只一枚取效。</p>
<h3>累用經效方</h3>
<p>（隆興府學論張世臣方）</p>
<p><u>大聖澤蘭散</u></p>
<p>治婦人血海虛冷，久無子息及產後敗血衝心，中風口噤。子死腹中，擘開口灌藥，須臾生下，便得無恙。並治胎墮腹中，攻刺疼痛，橫生逆產，胎衣不下，血運，血癖、血滯、血崩，血入四肢，應血臟有患及諸種風氣，或傷寒吐逆，咳嗽，寒熱往來，遍身生瘡，頭痛，惡心，經脈不調，赤白帶下，乳生惡氣，胎臟虛冷，數曾墮胎，崩中不止，因此成疾及室女經脈不通，並宜服之。常服暖子宮，和血氣，悅顏色，退風冷，消除萬病。兼療五勞、七傷、虛損等病。</p>
<p>澤蘭葉（去根，晒乾）　石膏（研。各二兩）　生乾地黃（一兩半，銼，用溫湯浴過，浪干，焙用）</p>
<p>桂肉（一兩一分，銼，不見火用）　吳茱萸（湯洗七次，炒）　厚朴（去粗皮，銼碎，用薑製一宿，炒干）</p>
<p>白茯苓（去皮，銼，焙）　卷柏（去根，銼）　細辛（去苗並葉，焙）　柏子仁（揀去殼，別研細）　防風（去苗，銼）　桔梗（去蘆，銼，焙）　白蕪荑（各一兩）　白朮（切片，焙）　白芷（去稍，銼）　丹參（洗，銼，焙）　乾薑（炮烈，銼，焙）　五味子（去枝梗，銼）　本（去蘆頭，洗）　人參（去蘆頭，切）　川烏頭（炮，去皮臍）　川椒（去目及閉口者，微炒出汗）　黃　（銼，去蘆頭。各三分）　阿膠（銼碎，蛤粉炒泡起，去粉用）　白薇（銼，焙。各半兩）　當歸（去蘆須，洗，切片子，焙乾）　白芍藥（銼）　甘草（炙，銼）　川芎（各一兩三分）</p>
<p>上為細末，每服二錢，空心臨臥熱酒調下。若急疾有患，不拘時候。</p>
<p><u>奪命褐散子</u></p>
<p>妊娠四五月以上，忽然仆地，手足抽掣，咽中涎聲滾滾，口眼不開，如小兒螈　之狀，名曰胎癇。</p>
<p>甜葶藶（紙上微炒）　芫花（醋煮干，焙，燥。各半兩）　郁李仁（湯浸，去皮）　地榆（銼。各一分）</p>
<p>上為細末，每服一字，煎沉香、人參、鉤藤、鉤子、防風湯調下。如牙噤者，用物斡開，灌下調藥汁、不過一匙，不拘時候，沉香但磨藥汁尤妙。如醒時只用防風煎湯，調四君子湯，服蘇合香丸及大聖澤蘭散，半月余，其病脫然，恐目昏不能視物，不必疑慮，氣血凝靜，自然光明，謹勿服眼藥。有三、四婦人，皆患此證，寸口脈伏，自關而下脈弦。蓋伏者氣不上升，弦者有飲在內，此必因胎肥，流飲不化，注入胎宮，與血相搏，子不安靜，故氣不上升，乃胎觸心絡，遂有胎癇之證。先是醫者用安胎養血之藥，未效，遂以此藥。緣此證雖是產前之疾，卻當作產後治療，乃是血不循經，氣不升降，氣閉血壅，其狀如癇。當導氣而遂其飲，氣通飲消，則血循經入，養胎安氣，則子安靜矣，累用經驗。</p>
<p><u>地榆降血飲子</u></p>
<p>治妊娠入月，臨產之時，血出三日而子未下，手足不收，昏瞀如醉，不省人事，此乃漏血過多，血不養胎，心氣逆上，胎氣留連，此名胎干。此藥治之，神效甚速。</p>
<p>蘇子降氣湯（一幟，乃八味者是），只作一服，加地榆一錢半洗淨，麥門冬十粒去心，水一盞半，生薑二片，煎七分，去滓，入乳香少許透明者　開，溫服。不能自飲者，扶起灌之。</p>
<p><u>大安胎飲子</u></p>
<p>治妊娠胎氣不安，腹脅刺痛，經脈適來，氣急上喘等疾。</p>
<p>當歸（洗，去蘆須，切片焙乾）　乾地黃（銼，洗，浪干，再焙用）　川芎（洗，銼）　赤芍藥（銼）</p>
<p>地榆（銼。各一兩）　阿膠（銼碎，蛤粉炒泡起，去粉用）　熟艾（各半兩）　黃芩（一分，銼）</p>
<p>上為粗末，分作十五服。每服水二盞，煎至六分，去滓，通口服，不拘時候。</p>
<p><u>吳白朮散</u></p>
<p>安胎養氣，常服。十月中胎氣安定，無諸疾苦。</p>
<p>白朮（去蘆，切片子焙）　人參（去蘆，切片子焙）　白茯苓（去黑皮，銼，焙）　甘草（炙，銼）　阿膠（銼碎，蛤粉炒泡起，去粉用。已上各等分）</p>
<p>上為　咀，每服三大錢、水一阿半煎至七分，去滓，溫服，不拘時候。</p>
<p>滑胎，榆白皮為細末，每服一錢，空心白湯調下。自入月每日三服，令易產。兒生下，藥皆塗身上。</p>
<p>催生並死胎不下，蓽麻子三個、巴豆四個研細，入麝香少許，貼臍心上，須臾間便下。</p>
<p>難產三兩日不生，以蠶種紙半張燒灰，熟水調下。（系已出蠶種紙亦名歹明脫。）</p>
<p>治橫生、逆生，灸產婦右腳小指尖頭，如麥大三壯，立產。</p>
<p>又方　蛇退皮燒灰，酒調二錢，面東服。</p>
<p>又方　鹽塗兒足底，急去之。</p>
<p>又方　車前子末，酒服二錢。</p>
<p>妊娠煩悶，胎熱，睡臥不得，並腹中痛，又難產，知母新白者焙乾為末，煉蜜丸如小彈子大，每服一丸，溫酒化下。</p>
<p>妊娠偶因所觸，或墜高傷折，致胎動不安，腹中痛不可忍者，縮砂不以多少和皮炒，令熱透，去皮，為細末。每服二錢，熱酒調下，胎即安，神效。</p>
<p>胎動日夜叫呼，口噤唇青，及下痢不止者，熟艾一兩，酒五盞，煮四盞去滓，再煎至二盞，服。口閉者，灌之。亦治腰痛下血。</p>
<p>胎動及下血，心腹脹者，當歸二兩、川芎一兩為粗末，水四盞、酒五盞煎至三盞，分三服。若胎未死即安，已死即便下。</p>
<p>產後血暈，五靈脂炒，令煙盡，為細末，溫酒調下一錢，童子小便尤佳。</p>
<p>又方　干荷葉為細末，每服一錢，溫酒調下。</p>
<p>又方　生半夏為末，一大豆許吹鼻中。</p>
<p>又方　紅花或蘇枋木，酒、水濃煮汁，飲。</p>
<p>產後中風，眼上視，四肢搐搦，荊芥穗為末，每服二錢，溫酒調下。如不飲酒，只濃煎湯服。</p>
<p>產後發狂，每用大香附去須皮淨為細末，每用二錢，入研極細，好辰砂末一錢，以燒通紅秤捶，浸好酒調服。</p>
<p>產前傷寒，不問陰陽，身熱頭痛。白朮二錢、黃芥一錢，粗末，水一盞煎六分，去滓，熱服，不計時候。</p>
<h2>卷第五</h2>
<h3>產科雜方</h3>
<p><u>催生如聖散</u></p>
<p>（此一方廬江劉寶助教經效名方。）</p>
<p>黃蜀葵花（不拘多少）</p>
<p>上一味焙乾，為細末，每服二錢，熱湯放溫調下，神妙。或有漏血，胎臟干澀，難產痛劇者，並進三服，良久腹中氣寬，胎漏即時產下。如無花，只用黃蜀葵子，爛研小半合，以酒調，濾去滓，溫飲尤佳。</p>
<p><u>救生散</u></p>
<p>安胎、益氣、易產。</p>
<p>人參（去蘆，切片）　訶子（濕紙裹，煨熟，去核）　白朮（銼，炒黃）　陳橘皮（去白，炒）　大麥柏（炒黃）　神麯（細銼，炒黃色。各半兩）</p>
<p>上為細末，每服二錢，水一盞煎六分，溫服。入月加一倍，用水二盞煎至一盞，溫溫空心服之，能令兒緊下，乳母無患。</p>
<p><u>罩胎散</u></p>
<p>治婦人妊娠傷寒，遍身大熱，悶亂躁渴，痰甚則蒸損胎臟。（廬江劉寶助教名方。）</p>
<p>卷荷葉（一兩，嫩者焙乾，秤）　蚌粉花（半兩，好細白者，秤）</p>
<p>上為細末，入粉研勻，每服二錢，以新汲水用蜜調下，日進兩服。</p>
<p><u>二聖散</u></p>
<p>產前安胎，產後治惡血不盡及胎衣不下。</p>
<p>羌活（洗去苗，銼）　川芎（洗，銼）</p>
<p>上等分為細末，每服二大錢，酒少許，水七分煎七沸，溫服。</p>
<p><u>羌活散</u></p>
<p>治妊娠患時疾。</p>
<p>羌活（去苗，銼碎）　荊芥穗（不見火晒）　赤茯苓（去皮，銼碎）　川芎（洗，銼，焙）　宣州干葛（銼，焙）　陳皮（去穰，銼）　甘草（炙，銼）　川升麻（銼，各一兩）</p>
<p>上為細末，每服三錢、水一盞半，入生薑五片、薄荷十葉同煎至一盞，稍熱服，不以時候。</p>
<p><u>黃金散</u></p>
<p>治妊娠患時疾。</p>
<p>黃芩（尖如錐者）　鬱金（銼。各一兩）</p>
<p>上為末，每服一錢，板蘭根、地黃水調下，汗出，效。未得汗，再服，即瘥。又用雞卵墜井至泥，隔宿取出，吞之必無虞矣。</p>
<p><u>薑粉散</u></p>
<p>才產服此藥，蕩盡兒枕，除百病源。</p>
<p>當歸（洗，去蘆須，切，焙）　官桂（去皮，不見火者）　人參（去蘆，切片）　茯苓（白者去黑皮）</p>
<p>甘草（炙）　芍藥（洗淨）　知母（潤者切，炒）　川芎（洗）　大黃（略炒）　黃　（蜜炙）　木香（不見火）　草豆蔻（去殼）　白朮（銼，碎）　訶子（煨熟去核）　高良薑（銼，炒）　青橘皮（去穰）　熟乾地黃（洗，酒浸，焙）</p>
<p>上除地黃外，各等分銼，焙乾。次用附子一個結實半兩者，炮裂，去皮臍，切。生薑一斤，研取自然汁於碗器中，停留一食久，傾去清汁，取下面粉腳攤在　葉中，入焙寵焙乾，同眾藥搗，羅為末。才產後用藥末三錢、水一盞、薑三片、棗子一個，擘開同煎至七分，乘熱吃。如吃藥之後，自然產。母睡著半日以來，睡覺再服全除。卻腹痛，一日只可三服，至九服不可，服恐肚中冷也。</p>
<p><u>香蓮散</u></p>
<p>治產後咳逆。</p>
<p>石蓮（十個，炒熟）　丁香（十個）</p>
<p>上為末，用水三合，煎十沸，溫服。</p>
<p><u>地黃散</u></p>
<p>治產後血痛如刀刺。</p>
<p>熟乾地黃（洗，酒浸，焙）　橘皮（去白銼，焙）</p>
<p>上件等分為末，每服一錢，粥飲調下。尋常痛發，可常服。</p>
<p><u>香脂散</u></p>
<p>治產後吐逆不止。</p>
<h3>十八論中治產前後患，蒲黃黑神散功效</h3>
<p>第一　產因熱疾，胎死腹中，胎死身即冷，口角沫出，爪甲青黑色，四肢逆冷，但服此藥暖其死胎，須臾自出。</p>
<p>第二　難產或橫生、逆生、胎衣不下，此藥並治。</p>
<p>第三　產後衣不下，但服此藥，遂出。衣中血遂自出。如衣帶斷亦同。</p>
<p>第四　血暈，醫人不識，呼為暗風，但服此藥，立瘥。</p>
<p>第五　口乾心悶，醫人呼為胸膈不利，此名血結，但服此藥，立瘥。</p>
<p>第六　乍寒乍熱，醫人不識，呼為瘧疾，但服此藥，立瘥。</p>
<p>第七　產後四肢虛腫，醫人不識，呼為水氣，蓋血氣隔四肢寒。但先服此藥，立瘥，後服轉藥，瀉了惡物，轉藥謂之黑神丸。</p>
<p>第八　產後乍見神鬼，醫人不識，呼為風邪，但服此藥，即瘥。</p>
<p>第九　產後月內不語，但服此藥，即瘥。</p>
<p>第十　產後腹痛兼瀉痢，急服此藥，後服調中湯。（調中湯是止瀉鍛石散，出產乳經中。）</p>
<p>第十一　產後遍身疼痛，但服此藥，瘥。</p>
<p>第十二　產後小便出血，大便秘澀，人多作五淋治不愈，但服此藥，瘥。</p>
<p>第十三　產後血崩，謂惡露未盡，久不治之及食咸酸所致。若腹似痛時稍，難治，肝家熱，背筋急，急服此藥，後服黑神丸，瘥。</p>
<p>第十四　產後血氣不通，上氣喘嗽，多睡。謂盈月後，月脈未通，食熱面壅結成疾，或有氣塊，發時衝心，心痛，氣急咳嗽，四肢無力，乍汗出。心痛，月候不來，名曰敗症。腹痛繞臍，面赤，宜服此藥，即瘥。</p>
<p>第十五　產後心腹脹滿，嘔逆不定，醫呼為反胃，不愈，急服此藥，吐出胃中惡物，即瘥。</p>
<p>第十六　產後口鼻黑色氣起及鼻衄，不治。</p>
<p>第十七　產後喉中氣急、喘，不治。</p>
<p>第十八　產後中風，為無故下床，百日之內傷房室或因著灸有驚。臟腑中風之時，眼澀，腰背筋急，角弓反張，牙關閉定，不可治也。</p>
<p>蒲黃黑神散方已見第一論末。</p>
<p>黑神丸方已見第十二論末。</p>
<h3>產前後十八論烏金散</h3>
<p>婦人萬病，皆因血氣而生，就中產後乖違，誠難救療。百日之內，變證尤多，或坐即運絕，臥即口乾，經日多言，還應心悶，或傷熱食，變作崩中，飲冷服涼，便成腰痛。敗血入腹，則脅脹虛鳴，惡露上衝，乃或嘔逆。脾之受血，發則傷寒；肝氣有邪，即多嗔怒；肺之被撓，氣悶喘粗；胃臟未安，多為腹脹。敗血流走，百節酸疼，留滯四肢，皮膚俱腫，失音不語，還因敗血入心，散為淋瀝，亦是血之入腹。大抵虛弱，積血所為，三焦不調，眾疾皆起。每尋方卷，多不會解就中產前產後之圖，難全真訣。當貧困之輩，或居村中念其急難，方當思慮，魂勞神悶，不知所裁。忽見一人形兒非常，乃言曰：余有秘術，子其知乎？不覺惕然瞻敬之際，復曰：子請存於誠信，心欲救人，事當甚喜。吾有產後一術，名曰：烏金方，受於子，宜保惜之。余即跪，受要旨，頓覺精神爽，易事理，照覺在寤中神受。乃依方修合普，諧神，愿遂成產後十八方，如後。</p>
<p>第一論問：胎死腹中者，何。</p>
<p>答曰：緣母患染熱疾，經六、七日間，臟腑極熱，蒸熏其胎，是以子死，何以知之。身死便冷，不居子宮，乃墜。臍下冷痛。口角沫出，腹冷，爪甲青，四肢逆冷，命在須臾，但以此三服，令胎熱，須臾自下。</p>
<p>第二論問：產難者，何。</p>
<p>答曰：兒已成形，每食母之血，候十月當足月，血有餘乃結成塊，俗呼為兒枕。子欲生時，兒枕先破為敗血，散裹子身上，固當難產。但服此散三服，敗血即散，須臾自產，或逆產，其體不同，悉皆治之。</p>
<p>第三論問：胎衣不下者，何。</p>
<p>答曰：產訖，敗血流入胞衣中，被血脹，固當難下，但服此散，衣中血散，須臾自出。若胞衣帶斷，亦宜服此散，即下。</p>
<p>第四論問：血暈，產後三日起止不得，眼前自見鬼神，或悶絕不識人者，何。</p>
<p>答曰：產後三日。血氣未安，運走五臟，奔於肺上，時人不識，呼為暗風，以此治之，萬無一瘥，但服此藥，立可安痊。</p>
<p>第五論問：口於心悶及煩渴者，何。</p>
<p>答曰：產後七日以來，血氣未定，蓋為食於熱面，與血結在心，即渴。時人呼為胸膈壅悶，若以此治，萬無一痊，自服此散，立瘥。</p>
<p>第六論問：產後乍寒乍熱及渴者，何？答曰：產後虛羸，敗血入於肺則熱，入於脾則寒，乃渴。時人不識，呼為瘧疾，若以此治，萬無一痊，服此散，立瘥。</p>
<p>第七論問：產後四肢浮腫及寒熱者，何。</p>
<p>答曰：敗血流入，五臟將滿，即四肢停留，日久卻還不得，乃欲為腫。時人不識，呼為水腫，且如水腫與血腫不同，何以明之？水氣喘而小便澀，血氣渴而四肢寒。先服此散，次服宣元，瀉下惡物，自瘥。宣元是黑神丸。</p>
<p>第八論問：言語顛狂無度，若見鬼神，或寒熱及渴者，何。</p>
<p>答曰：產後敗血衝心，心不受邪觸，被敗血蒸熏，心悶，蒸熱，煩渴至，躁言語顛狂。時人不識，以為風及神邪所致，若以此治之，萬無一痊。但服此散，愈。</p>
<p>第九論問：產後不語者，何。</p>
<p>答曰：夫人心有七孔、三毛，產後敗血上行，流入心孔之中，被血閉之，即使不語。時人不先去心孔敗血，其病不除。但服此藥，當漸語也。</p>
<p>第十論問：產後腹痛及痢者，何。</p>
<p>答曰：產後未盈月間，誤飲冷水，水與血相和，流入大腸，大腸受之血，遂成病，水穀不化或泄或脹，膿血不定，急服此散，次服調中湯，立效。</p>
<p>第十一論問：產後遍身疼痛者，何。</p>
<p>答曰：產後百節開張，敗血流入四肢，留滯日久不散，結聚虛脹，是致疼痛。但服此散，遂去百節間敗血，須臾自定。</p>
<p>第十二論問：產後瘀血及小便赤澀，大便痛者，何。</p>
<p>答曰：敗血流入小腸，閉　水道，即小便艱澀；流入大腸，閉　肛門，是致大小便俱難。醫人不識，呼為五淋，治之，萬無一痊。但服此散，次服黑神丸，聚結物出，其病立愈。（或用洪氏方中排濃內補散，依方服，立效。）</p>
<p>第十三論問：產後崩中者，何。</p>
<p>答曰：敗血惡露未止，日久或食咸酸之物，遂變崩中，血結變黑，狀似雞肝，或時寒熱，背膊拘急，煩悶，名曰：崩中。宜先服此散，次服黑神丸，即安。</p>
<p>第十四論問：產後血氣不調，道路閉塞，兼咳嗽多驚者，何。</p>
<p>答曰：產後盈月後，月經未還，不能謹忌，好食熱面，遂即成疾，積聚結塊，發即氣急咳嗽，四肢寒熱，心悶口乾，背膊拘急，煩躁，夜夢驚悸，體全無力，多汗，心痛，月經不來，名為血症。腹痛多睡，面色多赤，因茲不療，遂成骨蒸，治須仔細看此疾狀，或服別藥，十無一應，終不得瘥，只服此藥，其患自退。</p>
<p>第十五論問：腹肚脹滿，吐逆者，何。</p>
<p>答曰：產後敗血停於脾胃之間，氣遂相沖不定，即留滯，嘔逆，胸脅俱脹。時人不識，呼為反胃，以此治之，萬無一存。急服此藥，吐出胃中惡物，即便吃粥。</p>
<p>第十六論問：產後口鼻黑色及鼻衄者，何。</p>
<p>答曰：敗血傳入臟腑，臟腑即滿，沖於頭面，卻還不得，焦干白黑，見於面色，沖於鼻，即鼻衄黑起，緣產後虛熱甚，變成此狀。若別治之，萬不得一，此名心肺敗血，宜服此藥。</p>
<p>第十七論問：產後喘急，喉中如貓兒聲者，何。</p>
<p>答曰：敗血衝入心肺，氣與血並，遂結為塊，入於喉中。如有此狀，急服此藥。</p>
<p>第十八論問：產後中風兼有黑血點者，何。</p>
<p>答曰：產後七日內下床沖風。百日內傷房勞或有灸瘡，中風取性慢，易即中風也。國中之狀，氣澀腰痛，筋急如角弓反張，牙關急，若有此狀，即是風邪所入。或面色黑，遍身赤黑，敗血流入臟腑，臟腑皆滿，流入皮膚，退反不得，變成血點或得此變。急服此藥，無有不瘥。</p>
<p><u>宣經丸</u></p>
<p>巴豆（十五粒，去皮心膜，用生，絹袋子盛，以灰汁煮十余沸取出研，紙壓油了重研）</p>
<p>上件先用烏金散三錢，以無灰酒調似糖入瓷瓶中，於重湯內熬成膏，入巴豆末，同和為丸如綠豆大。熟水下十五丸，宜冷粥補之，忌毒物。</p>
<p><u>烏金散</u></p>
<p>頭發灰（男子者不須洗，燒灰）　鯉魚鱗（燒灰）　當歸（焙，去蘆須）　延胡索（生用）　好墨（過）　肉桂（不見火，去粗皮）　麒麟竭　赤芍藥（銼）　百草霜（是鍋底刮下者煤）</p>
<p>上件九味等分，杵羅為末，每服二錢，溫酒調下。又用童子小便半盞，生薑一塊同煎，調下，入麝香少許，更妙。</p>
<p><u>產前所忌藥物</u></p>
<p>廬醫周鼎集以為歌斑水蛭地膽蟲，烏頭附子配天雄。</p>
<p>躑躅野葛螻蛄類，烏喙側子及虻蟲。</p>
<p>牛黃水銀並巴豆，大戟蛇退共蜈蚣。</p>
<p>牛膝黎蘆加薏苡，金石錫粉對雌雄。</p>
<p>牙朴芒硝牡丹桂，蜥蠍飛生更　蟲。</p>
<p>代赭蚱蟬胡粉麝，芫花薇銜草三棱。</p>
<p>槐子牽牛並皂角，桃子蠐螬和茅根。</p>
<p>根　砂與乾漆，亭長溲疏茅草中。</p>
<p>瞿麥　茹蟹爪甲，　皮鬼箭赤頭紅。</p>
<p>馬刀石蠶衣魚等，半夏天南通草同。</p>
<p>乾薑蒜雞及鴨子，驢馬兔肉不須供。</p>
<p>切忌婦人產前用，此歌宜記在心胸。</p>
