<header data-type="book">
<h1>女科指掌</h1>
</header>
<h2>敘</h2>
<p>周禮醫師之政令邦有疾，則使分而治之，自四海九州莫不仰瞻其盛，所以民無夭札，並樂升平迨三代，降而廢棄不講，而《漢史》郭玉、《魏志》華佗、《晉》皇甫士安孫思邈得龍禁方，皆非常人也。五代至唐而恆不復世觀宜乎，居世之士不能留神醫學，而斯道之難明也。</p>
<p>今吾聖天子廢政施仁，睿智好學，經史百家，博極群書，特諭太醫將靈、素、金匱藥性定為三書，一時醫林大振，教飭極其精，風雅極其盛，咸登春台而躋壽域，被樂育而歌不老矣。甲辰春杪楚林王甥，挈伴心培葉子來京就試，葉子復出其尊人手著《脈鏡》及《十三科指掌》，纘緒《內經》方，法《金匱》，而藥性志在是矣。一覽明了，如指諸掌韻葉回言，使讀者開卷對鏡，心領神會，須眉相映，毫發炳然，亦可云應運挺生仰體。</p>
<p>大聖人愛育黎元之至，意播九州四海，生生不已，豈僅民無夭札，抑爾共樂，休明之盛也夫。</p>
<p><u>雍正甲辰春五月成都張鵬翮書</u></p>
<h2>凡例</h2>
<p>是編首則總括一歌，次則序諸家之論，次則脈，次則方，使人一展卷焉。歌以志其大綱，論以詳其條目，脈以驗其相應，方以治其沉　。歌論脈方，恍然在目，了無疑義，庶得附名於指掌云耳。</p>
<p>是編以女科為首者，宗千金方也。蓋以婦人為生化之源，自無而有，人道之始也。調經種子、胎前、臨產、產後凡五。其他傷寒雜證，另有全書，茲不多贅。</p>
<p>是集以帶下為始者，尊扁鵲也。況帶下者，經必不調，亦調經中之一事也。而且婦人患帶下者，十居八九，但閏閣嬌羞，不以語人耳。</p>
<p>如經不調病名也，而所以致其不調者，則非一端，苟不辨其為七情、為六淫、為寒、為熱、為虛、為實、為痰凝、為氣滯、為思想、為房勞、為先天、為病後，種種不同。如何用藥，寧無虛虛實實之弊乎，脈症詳明，庶幾近理。</p>
<p>婦人每多慈戀、愛憎、恚怒，憂思，情性執著偏僻堅牢，所以比男子難療，遂致七情內傷六淫外侵，脾胃虧損，任苒成病，必須辨其在臟、在腑、在經絡、在血脈、在肌膚、在骨髓、在氣分、在血分，有陰、有陽、有虛、有實，平時熟習諸書，自然見理分明，臨症不模糊矣。</p>
<p>女科書之行於世者，惟《婦人良方》、《濟陰綱目》、《女科經綸》而已，此外不可多得。即如《邯鄲遺稿》、《產寶》、《新書》、《外台秘要》、《褚氏遺書》亦未易見。蓁不惜重價，求之數十年，始得寓目。更於大全書中，逐一拈出，參以己意，積成卷秩，因家貧不能全刻，刪去其半，如回生丹、資生湯、安產圖、藏衣法較之他書，自有徑庭，雖不敢杜撰遺譏亦不致隨風附和也。</p>
<p>無子者雖有年命相衝、風水所招二說，其實疾病使然耳，還宜服藥為是，譬如田中芟去草蔓，饒沃其土，及使下種，天雨既降，五穀勃然而生矣。而其大要尤在行仁積德，即如傷胎破卵之細，亦物為之。</p>
<p>臨產古有安產藏衣之法，今人盡皆刪去不思，誕降之時正陰陽交代之際，豈無鬼神運用於其間哉。今遵《外台》補之，不惟便於采用，抑亦宗前啟後也，博雅之士，不厭其多。</p>
<p>產時服獨參湯、佛手散，極有神效。產後宜服資生湯、回生丹。蓁每用之，雖危險之症，十救五六，嘗細究其方，原出羅謙甫所制，血極膏東垣稱為女科聖藥，而又合琥珀散，又合二味參蘇飲，又合仲景紅藍花酒，是合四方而成一方，正所謂復方也。妙在攻補兼行，制度有法，何諸書失載不傳耶，今悉補之。</p>
<p>產育乃彝倫日用之常，人皆有之，每見分娩之際，倉忙無措，調理失宜而死者，指不勝屈豈皆正命。夫乃嚴牆，予　婦亦羅其厄，於是摘聖賢之珠玉，發天地之靈奇，不惜物議，不量才力，刻以問世，志在濟人，好道君子置之案頭，朝夕玩熟，轉相救人，則其好生之德，寧不在作者之上哉。</p>
<p>是集之後意，欲以十三科之書各集一套次第問世，但不知此身在天地間還有幾年，更不知仁人君子肯教我以相成否耶。</p>
<h2>卷之一</h2>
<h3>調經門</h3>
<h4>女科指掌賦</h4>
<p>嘗聞天地定位，陰陽運消長之機，家室和平，男女具生成之用，禮稱內則詩首關雎，書垂厘降之文，易尚乾坤之義，春秋鄭重。</p>
<p>夫王姬胎教肇始於太任，亙古迄今，其來尚矣。蓋洪　未判以前，萬物皆太極渾淪於一元之內，清寧既奠之後，無物不托基於陰陽二氣之中。五行雖發，水火不衰，四體未全，精靈已具，乾道生男，坤道生女，二氣相感，合而成人。雖曰兩精之相搏，實乃一理之周通，假如明月云淨，天之喜也。佳期生掌上之珠，迅雷疾風，天之怒也。</p>
<p>配合召腹中之怪，人但講有生之四柱，而鮮知未生之八字也。故曰天地　，萬物化醇，男女構精，萬物化生，化生者塞，化醇者頤。覆土之陵，積水之澤，草木魚蟲，孰形孰色，無極之真，二五之精妙合而凝化。化生莫測，其神莫知，其能理之。所始數之，所起微乎，微乎其小，無形昭乎，昭乎其大無垠。上而日月星辰，下而水火土石。大而綱常名教，細而飲食居處。顯而春夏秋冬，微而權衡律呂。近而身心性命，遠而飛走動植。萬象雖殊，一理而已。若夫醫學之傳，首自黃農，女科之始，則由扁鵲邯鄲為帶下之醫。史遷所載《產寶》著愈風之散，華佗所傳病機不等，巢元方之立論最詳精血攸關，褚待中之遺書甚善，熱入血室、臟燥悲傷，胃氣下泄而陰吹，非張長孰能辨此。</p>
<p>三十六病，轉女為男，巧奪造化之樞機，舍孫真人其誰與歸。唐白敏中訪咎殷備，集驗方三百七十八首而為《產寶》。宋郭稽中稱濮陽李師聖《產論》二十一篇以為產方。作《大全》陳自明之勛最，補《醫按》薛立齋之功多。</p>
<p>高實刻《便產須知》，杜　著《產育寶慶》。朱丹溪之《百問》可傳，陳無擇之《三因》宜讀。搜羅眾善，王宇泰之《女科準繩》，分晰群方，武叔卿之《濟陰綱目》。議論具備於《經綸》，方法謹承乎《家秘》。東垣河間各有名言，春甫養葵亦多妙義。夫如是則方書甚晰，何俟煩言，道理淵微，惡容輕述。蓋以經綸雖善，有論而無方，《產寶》相因太簡，而不備廣博者，皓首窮經，難於誦讀。約略者，空拳對症苦缺施為，是以不揣愚陋，妄撰數語，非敢問世，聊付及門學問思辨不辭，人十而已千，補瀉寒溫可即一隅而反四，便於誦習，或取茲編，若要博通難忘原本，須溯流而窮源，勿舍本而逐末，正心誠意可感天地而通神明，格物致知，方徹顯微而推臟腑，無大過無不及，機權在我勿矜能，勿貪得施報，由人惟期行滿於三千，青城可望，更惜功虧於二六，白首無成，最易誤人，不盡風塵之碌碌，曷勝長嘆無邊世事之悠悠。至如臨症先識提綱，若要詳明，須通經絡。臟病腑病，有陰陽氣血之殊，內因外因分表裡虛實之異，脈宗內難，更究諸家藥，照本經宜窮綱目，邪之所湊，其氣必虛。審有餘不足之形，勢必先歲氣無伐，天和推太過不及之流行。居經者，三月而一至，脫榮者，始富而終貧，若要調經先須去病，如云求子，務積陰功，健脾養血。胎前可用清涼、逐瘀生新，產後宜行溫補，產家三病，非仲景未易明言，安產全圖雖《準繩》何曾備載。帶下主於風冷，至丹溪而濕熱始明。崩中久則元虛，賴東垣而升提有法，經行異色，虛者淡，而熱者紫。月候愆期，枯則補，而澀則通。澀少過多宜辨，趕前落後須分。茯苓補心湯治虛勞而療咳嗽，金鎖正月丹安心腎而醫白淫。處女初經腹痛不寧，氣喘促，心神恍惚，師尼不月，往來寒熱，內潛消相火奔騰。柏子丸、生地丸清心而退熱。交加散、調經散止痛以祛寒。赤帶須尋龍骨散，白崩應服馬蹄丸。歸脾湯治血脫血虛，心脾有損。威喜丸療白淫、白濁、水火不交。失笑、烏賊止失血，心痛茯苓鹿角截。夢與鬼交，腹痛有寒熱，氣血之不侔身熱分虛實，客潮之各異。吐嘔不同，嘔者頻而吐者頓。漏崩莫混，崩則急，而漏則徐。琥珀丸利水聖藥，破棺丹隔氣神方。臟燥悲傷，仲景原傳甘麥飲。傳尸勞瘵，仙翁留下獺肝丸。北斗符祛邪有驗，養榮湯補正最宜，白芷散、樗根丸兼除崩帶，烏雞丸、鱉甲散專補虛羸，龍膽瀉肝湯主下部濕熱之病，嚴氏抑氣飲治上焦郁結不舒。經閉有血滯、血枯，腫脹有血分、水分。千金桃仁散去　瘕而破血，四製香附丸開鬱氣以調經，五積散外邪第一，四神湯虛熱無雙。抑又聞不孝有三，無後為大，精血乃化育之源，常須珍重，情欲是伐生之斧，慎勿貪嗔，佳期須　之時，配合求先天之氣。駢胎品胎由精血之旺。藥忌、食忌、戒口腹之愆，徐之才論逐月養胎之方，孫真人有轉女成男之術，胎前眾疾安胎飲加減，咸宜保孕諸方，內補丸昔稱穩當。心痛，腹痛兮，乃氣滯而經壅，子腫，子滿兮，由土虛而水泛。喘急者，防孕氣上衝。腰痛者，恐胎亢下墜。達生散、束胎散滑胎有效，芎歸湯、獨參湯臨產如神。交骨不開，龜板、發灰同佛手。胞衣不下，木通、牛膝共芎、歸。致於產畢，氣血大虛，飲食起居更宜謹慎，梳頭、刷齒恐血逆而致頭風，食面吞鮮慮咳嗽而生泄瀉，入房太早致死，虛羸、生冷不除，必生腫脹。回生丹治產後百病。</p>
<p>失笑散主胸腹諸疼。表虛自汗容易中風，愈風紫豆最宜。胃弱化遲不難，停食，楂、桔、香附悉效。血虛發熱大忌寒涼，腹痛惡寒必需薑、桂。惡露不盡則潮熱，而便難量行桃核，新血未生必口乾而煩渴，戒食生梨。初產悶絕必是停瘀，蘇木、紅花、蕊石，淹留日久則成內熱，當歸、羊肉、澤蘭。若要除根，月經再至如逢逆症，切勿糊塗，瘀血入肺，面黑喘急而難治，孤陽欲脫，自汗，氣促而必危。經傷則心痛而死，胃絕則吐沫而亡，三沖三急，死生在反掌之間，五實五虛在秋毫之際。嗟嗟，天命不齊，人謀亦異，幸則子母雙全，不幸則身家兩失，一念之差，千古遺憾，同志之士，蓋可忽乎哉。</p>
<h4>婦人三十六病</h4>
<p><u>【歌】</u></p>
<p>三十六疾為何生，七害相同十二症，九痛五傷良有說，更兼三痼得其名。白膏黑紫赤如膿，豆汁葵羹凝血壅，清血水來如米清，愆期月浣是症宗。九痛陰疼或淋瀝，溺時寒冷或臨經，汁流氣滿如蟲嚙，腸下腰胯痛不寧。七害孔痛中寒熱，小腹堅痛臟不仁，子門不端引背痛，愆期害吐得其真。五傷兩脅支滿痛，心痛郁結氣不通，邪思泄利精神少，前後陰陽亦在中。三痼虛羸似、鶴形，從來絕產不添丁，更兼不月胞門閉，莫道醫方用不靈。食氣冷勞房妊睡，亦名七害出準繩，據云產寶言如此，虛虎相傳或誤謄。</p>
<p><u>【論】</u></p>
<p>經曰：女子七歲腎氣盛，齒更發長。二七而天癸至，任脈通，太衝脈盛，月事以時下。天者，天真之氣，癸者，壬癸之水。但壬為陽水，配丁而化木，癸為陰水，配戌而化火，女子陰類故得癸焉。沖為血海，任主胞胎，二脈流通，經血漸盈，應時而下，天真氣降，故曰天癸。常以三旬一見，象月盈虧，不失其期，又名月信也。若遇經行，最宜謹慎，倘被驚恐，勞役、恚怒、風冷，則氣血錯亂，經脈不行，多致肢體酸痛，頭目眩暈，咳嘔不寧，淋瀝無已，漸成勞瘵，不治者有矣。犯時微若秋毫，成病重如山岳，可不畏哉。</p>
<p>張景岳曰：婦人之病，因虛積冷結氣為患，經水斷絕，至有歷年，血寒積結胞門，寒傷經絡，凝結在上，嘔吐涎沫，久成肺癰，形體損分，在中盤結，繞臍寒疝，兩脅疼痛，與臟相連。或結熱中，痛在關元，脈數無瘡，肌若魚鱗，時著男子，非止女身。在下來多，經候不勻，令陰掣痛，少腹惡寒，或引腰脊下根，氣街氣衝急痛，膝脛酸痛，奄忽弦冒，狀如厥巔，或有憂慘悲傷多嗔，此皆帶下非鬼神，久則羸瘦，脈虛多寒。三十六病，千變萬端，審脈陰陽，虛實緊弦，行其針藥，治危得安，其雖同病，脈各異源，子當辨記。</p>
<p>孫真人曰：三十六疾者，謂十二症，九痛七害、五傷三痼是也。十二症是所下之物一曰狀如膏，二曰如黑血，三曰如紫汁，四曰如赤肉，五曰如濃痂，六曰如豆汁，七曰如葵羹，八曰如凝血，九曰如清血，血似水，十曰如米泔，十一曰如月浣乍前乍卻，十二曰經度不應期也。九痛者，一曰陰中痛傷，二曰陰中淋漓痛，三曰小便即痛，四曰寒冷痛，五曰經來腹痛，六曰氣滿痛，七曰汁出陰中如蟲嚙痛，八曰脅下分痛，九曰腰胯痛。七害者，一曰窮孔痛，不利，二曰中寒熱痛，三曰小腹急堅痛，四曰臟不仁，五曰子門不端引背痛，六曰月浣乍多乍少，七曰害吐。五傷者，一曰兩脅支滿痛，二曰心痛引脅，三曰氣結不通，四曰邪思泄利，五曰前後痛冷。三痼者，一曰羸瘦不生肌肉，二曰絕產乳，三曰經水閉塞，竅小不通。</p>
<p><u>【脈】</u></p>
<p>寸口脈微而澀，微則衛氣不足，澀則榮血無余，衛不足其息短，榮不足其形燥，榮衛俱虛，言語乏力。跌陽脈微而澀為虛，虛則短氣咽燥口苦，澀則津液少。少陰脈微遲而澀，微則無積，遲則陰中寒，澀則血不流而經閉。此為居經三月一來，脈虛，氣血俱虛，年少者，亡血也。脈微弱而澀，年少得此為無子，中年得此為絕產。六脈沉弦細數者，其病已成，元氣榮衛俱虛。形衰神怯者，雖藥勿效。</p>
<p>孫真人曰：婦人腹中十二疾，經水不時，經如清水，經水不通，不周時，生不乳，絕無子，陰陽減少，瘕痛如刺，陰中冷，子門引背痛，經水凍如葵汁，腰急痛，凡此十二病皆因經行內虛時，或冷水洗浴，或坐臥濕地，或當風取涼，或誤食生冷，或瘡痍未瘥便合陰陽，或早起作勞，衣單席薄，寒從外入也。</p>
<p><u>【方】</u></p>
<p><u>赤石脂丸</u></p>
<p>赤石脂（　另研，二兩）　半夏　炮薑　當歸　防風　丹參（各一兩）　吳茱萸（鹽湯泡炒）　蜀椒　桂心萑蘆（各五錢）　白蘞（一兩）</p>
<p>為末煉蜜丸，空心酒下十丸，日三服，不知稍加丸數，以知為度。</p>
<p><u>千金白堊丸</u></p>
<p>白堊　龍骨　芍藥　黃連　當歸　茯苓　黃芩　白蘞　瞿麥　石葦　細辛　牡蠣　本　甘草　甘皮　附子大黃　人參　白石脂　禹餘糧　烏賊骨蜜丸余下二十丸。十二症倍牡蠣、龍骨、禹糧、石脂、烏賊骨。九痛倍黃連、白蘞、當歸、甘草。七害倍細辛、　本、甘皮加蜀椒、吳萸。五傷倍大黃、石葦、瞿麥。三痼倍人參加巴戟、石脂。</p>
<h4>帶下</h4>
<p><u>【歌】</u></p>
<p>婦人帶下有多般，風冷驚痰濕熱寒，五臟三焦俱病此，七情六欲總相干。木乘土位因虛入，積滯胞門作實看，損耗精神形體瘦，重亡津液腎源干。臨經房事傷衝任，恚怒悲衰動肺肝，升舉補中益氣飲，澀敗樗白固真元。莫言久病醫無效，識得樞機治不難，攻補寒溫隨症用，不須九轉煉金丹。</p>
<p><u>【論】</u></p>
<p>《素問》曰：任脈為病，男子內結七疝，女子帶下瘕聚。又曰：脾傳之腎，名曰疝瘕，小腸冤結而痛出白，名曰白蟲，出白溲。又曰小腹冤熱，溲出白液，又曰思想無窮，所愿不得意，淫於外，入房太甚，發為白淫。</p>
<p>仲景曰：婦人年五十，病下利，暮即發熱，腹滿小腹裡急，手掌煩熱，唇口乾燥，此屬帶下，曾經半產，瘀血在小腹不去，故唇口乾燥也，溫經湯。帶下經水不利，小腹滿痛，一月再見者，土瓜根散。婦人陷經漏下黑不解，膠薑湯，一作膠艾湯。婦人小腹滿如敦狀，小便微難而不渴；生後者，此為水與血結在血室也，大黃甘遂湯。</p>
<p>婦人經水不利，下抵當湯。經閉不利，藏堅癖不止，中有干血，下白物，礬石圓。六十二種風，腹中血氣刺痛，紅藍花酒。婦人腹中痛，當歸芍藥散、小建中湯。</p>
<p>《良方》曰：帶下有五，由經行、產後風邪乘虛入內，傳於臟腑而致之，傷肝膽色如青泥。傷脾胃黃如爛瓜。傷心、小腸色如赤津。傷肺、大腸形如白涕。傷腎、膀胱黑如　血。</p>
<p>人有帶脈橫於腰間，如束帶之狀，因名曰帶，故《難經》曰：帶脈者，起於季脅，回身一周。帶脈為病，腹滿腰溶溶，若坐水中。《產寶》曰：處女三病，一者經水初下，陰中熱，或當風臥。怖三者有一，後必帶下，神仙聚寶散。河間曰：帶下由任脈濕熱甚，津液溢而為帶也。如火煉金，熱極反兼火化，六月熱極，則萬物反出津而潤澤。宜苦寒正治之，有用辛溫從治而愈者，辛能發散故也。丹溪曰：赤屬血，白屬氣，俱是胃中濕痰積痰，流而下滲入膀胱，宜用升提，星、半、蒼朮、海石、黃柏、青黛、樗根皮之類。《家秘》曰：大腸主津，小腸主液，清氣上升，濁氣下降，則津液化為氣血，而填骨髓，養五臟，充肌膚，何疾之有。其或七情內傷，六淫外感，陰陽乘戾，清濁不分，逆於經遂，流於衝任，津液不能四布，何以奉心化赤而為血哉，故帶下也。宜補中益氣湯送青黛牡蠣雞子清丸。</p>
<p><u>【脈】</u></p>
<p>右手寸平尺浮，浮為陽，陽絕者，無子。若足冷帶下，輕則漏下，重則崩中，皆心不榮血，肝不藏血所致。帶下六極之病，脈浮則腸鳴、腹滿，緊則腹中痛，數則陰中生瘡，弦則掣痛。尺寸俱虛者，漏血帶下。帶下漏血脈浮惡寒者不治。</p>
<p><u>風</u></p>
<p>經行衝任已虛空，登廁乘涼易中風，浮緩頭痛流鼻涕，急尋蒼柏與辛芎。</p>
<p>蒼柏辛芎散。</p>
<p><u>涼</u></p>
<p>多悲不樂足如冰，腰腹時疼嘔帶崩，六脈沉遲或虛火，按之無力是寒征。</p>
<p>酒煮當歸丸。</p>
<p><u>驚</u></p>
<p>血去心虛易著驚，精神恍惚不和平，木乘土位脾家弱，脈動虛浮帶已明。</p>
<p>歸脾湯。</p>
<p><u>痰</u></p>
<p>脈滑肌肥氣不清，濕痰下注帶如頃，頭眩嘔噦兼麻木，多是痰涎裡面生。</p>
<p>樗皮丸　重者小胃丹主之。</p>
<p><u>濕</u></p>
<p>脈緩肌黃腳面浮，腰胯沉重帶長流，或時泄瀉偏難溺，嗜臥腸鳴濕上求。</p>
<p>四神丸　雙白丸　香附散。</p>
<p><u>熱</u></p>
<p>陽盛陰虛火易升，煎熬津液喪元精，形衰脈數皮膚燥，口苦咽乾耳內鳴。</p>
<p>三黃三白丸　白朮丸。</p>
<p><u>寒</u></p>
<p>寒脈沉遲比冷輕，惡寒腹痛食難行，或時吐利吞酸水，足冷腰疼色不榮。</p>
<p>大溫經丸。</p>
<p><u>虛</u></p>
<p>漏下多時內必虛，急宜補益莫躊躇，脈來細小芤微澀，烏骨雞丸載古書。</p>
<p>烏骨雞丸。</p>
<p><u>實</u></p>
<p>敗精濁血滯胞門，氣積痰凝作實論，腹內堅疼脈弦實，石瘕　癖及賁豚。</p>
<p>露丸。</p>
<p><u>漏帶</u></p>
<p>帶下如同經水來，半年三月一當災，健脾補氣兼收澀，不禁安能得受胎。</p>
<p>白馬蹄丸　樗皮丸。</p>
<p><u>附方</u></p>
<p>地榆膏治赤白帶骨立者。</p>
<p><u>針灸</u></p>
<p>三陰交穴在內踝上三寸，天樞在臍旁二寸，氣海在臍下一寸半，血海二穴在膝臏上內廉，中樞在臍下四寸，豐隆在外踝上八寸，水道在天巨下三寸。</p>
<h4>白濁白淫</h4>
<p><u>【歌】</u></p>
<p>不甚黏稠比帶輕，白淫白濁白崩名，真元下陷脾虛損，龍火蟠騰水不升，多欲房勞明伐腎，邪思妄想暗傷情，要知經絡根源病，察脈觀形辨五行。</p>
<p><u>【論】</u></p>
<p>吳梅坡曰：婦人下赤白不甚稠者，名白淫，與男子白濁同，由於龍雷之擾而不澄清也，屬足少陰、太陰，治當清補。若有滑白稠黏者，名帶下，屬心包。手厥陰心包系於脊，絡於帶脈，通於任脈，治宜血肉之劑以培之，此探本窮源之論也。時人泥於常套作濕痰治，用兜澀升提之類，豈知本原傷損，以致腐敗而來彼澀滯不清之物，則益加其滯，升提不正之氣，則愈增其郁，惟宜六龍固本丸，十六味保元湯。</p>
<p><u>【脈】</u></p>
<p>陽急為瘕，陰急為疝，浮則腸鳴，緊則腹痛，數則生瘡，弦則筋掣，弦大虛芤，細小微澀，皆主下白。</p>
<p><u>心腎不交</u></p>
<p>深闔寂寞暗傷春，腳軟腰疫氣不勻，白滑下流多惡夢，耳鳴目眩少精神。</p>
<p>金鎖正元丹。</p>
<p><u>思慮傷神</u></p>
<p>胸痞虛浮面色黃，多眠少食困野狼當，陰陽清濁相干混，若欲釐清四七湯。</p>
<p><u>怒氣傷肝</u></p>
<p>往來寒熱不安寧，脅痛心煩面帶青，口苦脈弦小便數，便知鬱怒在肝經。</p>
<p>加味逍遙丸。</p>
<p><u>固本調元</u></p>
<p>頭暈心嘈氣血虧，四肢乏力屬於脾，時常麻木精神少，固本培元最合宜。</p>
<p>六龍固本元。</p>
<h4>經候總論</h4>
<p><u>【歌】</u></p>
<p>婦人二七天癸至，衝任始通匝月行，恚怒憂思宜謹慎，陰陽氣血自和平。雖由心統經遂液，還賴脾資水穀精，行後空虛勞即病，初來恍惚易生驚，猛然撫髀長虛嘆，偶爾停針不作聲，便是桃夭思諷詠。應知雎鳥欲和鳴，脈弦出際三關透，情動於中百感生，舊血停留還滲入，骨蒸潮熱症非輕，乘涼登廁風吹入，飲冷形寒血不營，若要調經先去病，更推形色得其情，過期色淡知無血，帶紫趕前熱不清。未至先疼因氣滯，行過腹痛自虛明，平時發熱因勞積，熱在臨經血不盈，氣亂錯經行口鼻，脾虛漏下若葵羹，去多不住宜滋養，來少無疼大補榮。經閉要分虛實看，血枯氣隔熱痰名。</p>
<p><u>【論】</u></p>
<p>經曰：天地溫和則經水安靜，天寒地凍則經水凝泣，天暑地熱則經水沸溢，卒風暴起則經水波涌而隴起。</p>
<p>任脈通，衝脈盛，男則營運，女則停止。營運者，無積而不滿動也。停止者，有積而能滿靜也。不滿者，陽氣隨時而行運。滿者，陰血以時而下溢。謂之信者，男子以氣運，故陽氣應日而一舉，女子以血滿，故陰血應月而一下。</p>
<p>褚侍中曰：男子精未通，而御女以通其精，則五體有不滿之處，異日有難狀之疾。陰已痿而思色，以降其精，則精不出而內敗，小便道澀而為淋，精已耗而復竭之，則大小便道牽痛，愈痛則愈便，愈便則愈痛也。女人天癸既至，逾十年無男子合則不調，未逾十年思男子合亦不調，不調則舊血不出，新血誤行，或漬而入骨，或變而為腫，後雖合而難子。又曰：合多則瀝枯，虛人產眾則血枯殺人，觀其精血思過半矣。</p>
<p><u>寡婦師尼異治</u></p>
<p>褚澄療尼姑、寡婦別制方法，蓋有謂也。此二種獨陰無陽，欲心萌而不遂，是以陰陽交爭，乍寒乍熱，全類溫瘧，久則為勞。嘗讀《史記‧倉公傳》，載濟北王侍人韓女，病腰背痛寒熱，眾醫皆以為寒熱病，倉公曰：病得之欲男子而不得也。何以知之，診其脈，肝脈弦，出寸口，是以知之。蓋男子以精為主，女人以血為主，男子精盛則思室，女子血盛則懷胎也。夫肝藏血者也。厥陰肝脈弦，出寸口上魚際，則陰盛可知矣。大法宜《本事方》生地黃丸、柏子仁丸、衛生湯。</p>
<p><u>調經先去病</u></p>
<p>月水循環，百病不生而有子，若六淫外感、七情內傷，氣血不調，心腹作痛，或引腰背，上下攻利，吐逆不食，或寒熱　瘕，或潮熱腹痛，重則咳嗽，汗嘔泄瀉。蓋潮熱自汗則血液消耗，咳嗽嘔吐則氣往上行，瀉則津泄於下，痛則積結於中，是以必先去病，爾後可滋血調經。若血滲入骨便為骨蒸，血積於中，相搏則痛，血枯不能滋潤百骸，則熱蒸於外，血枯包絡火旺或挾外邪，變成勞瘵。</p>
<p><u>調經大法</u></p>
<p>婦人經病有月候不調者，有經水不通者，然不調不通之中，有兼疼痛者，有兼發熱者，此又分為四也。四者細推之，不調之中有趕前者，有退後者，趕前為熱，退後為虛也。不通之中有血滯者，有血枯者。血滯宜破血，枯宜補也。疼痛之中，有常時作痛，有臨經作痛，常時痛為氣滯，臨經痛為血病也。發熱之中，有常時發熱，有經行發熱，常時發熱為血虛有積，臨經熱為血虛有熱也。此又分而為八也，大抵內因憂思忿怒，外則形寒飲冷，氣血鬱結不行，此不調不通，疼痛發熱之由也。氣行血行，氣止血止，故治血病以行氣為先，香附之類是也。熱則流通，寒則凝結，故治血病以熱為佐，薑桂是也。</p>
<p><u>經水異色</u></p>
<p>丹溪曰：經水者，陰血也。陰必從陽，故其色紅，稟火象也。血為氣之配，氣熱則熱，氣寒則寒，升降清濁，因氣而行，故成塊者，氣之凝也。將行而痛者，氣之滯也。行後痛者，氣血虛也。錯經妄行者，氣之亂也。色淡者，虛而有水混之也。紫者，氣之熱也。黑者，熱甚也。今人見紫黑成塊作痛，指為風冷乘之，用溫熱藥，禍不旋踵。</p>
<p>經曰：亢則害，承乃制。熱甚必兼水化，所以熱則紫黑也，四物加黃連、香附。淡白者，氣虛也，芎、歸、參、、芍、附。多而色淡者，痰也，二陳芎、歸。如煙塵屋漏水者，濕也，二陳東加秦艽、防風、二術。成塊作片，白不變者，氣滯也，四物、枳殼、香附、延胡索、陳皮。</p>
<p><u>居經</u></p>
<p>月水一月一來，乃其常也。有三月一來者，謂之居經，氣血不足故也。又有一年一來者，又有石女無經者，亦有頻年不來，一來即孕者，皆其變也。亦如脈之有反關耳。</p>
<p><u>【脈】</u></p>
<p>脈微，氣血俱虛，年少者，亡血也。乳子下利，則可否者，此為居經三月一來。少陰脈微而遲，微則無精，遲則陰中寒，澀則血不來，此為居經三月一來。寸口脈衛浮而大，榮反而弱，浮大則氣強，反弱則血少，孤陽獨呼，陰不能吸，二氣不停，衛降榮竭。陰為積寒，陽為積熱，陰虛陽實故令少血。時發洒淅、咽燥、汗出，或溲稠數，多唾涎沫，此今重虛，津液濁泄，故知非軀，名曰居經。</p>
<p><u>經病血厥</u></p>
<p>血厥者，婦人平居無病，忽如死人，身不動搖，目閉口噤，重者不救，輕者移時乃寤，此名血厥。由汗多血少，陽氣獨上，氣塞不行，故身如死，氣過血還，陰陽復通，故移時方寤。婦人多有此症，比癇症大不相同，但此條混見大方全書之內，未曾指出講明，所以卒然莫救，今特表而出之。經曰：諸乘寒者，則為厥，鬱冒不仁，其脈微弱，初或嘔吐，便爾昏沉，陰陽乖隔，榮衛不和，比之中風，身不發熱，喉無痰聲，手不握搐，為異耳。急宜握住頂心發，令人扶起，不得平臥，外用通關散吹鼻取嚏，有嚏則吉，無嚏則凶，或以鐵秤錘燒紅入碗內，以醋沃之，熏鼻下，醋氣入內，透隔立蘇。口噤不能灌藥者，針少商及三陽，五會等穴。或以作筒吹其兩耳，或以童便灌之，切記不可灌熱湯，蓋灌熱湯則血得熱而泛濫。犯胃衝心，多致不救，心為君主，心不受邪，一絲血入心即死矣。經所謂經水波濤而涌起也，名曰血厥，治宜花蕊石散，童便調服，或蘇合香丸，醒後白薇湯、八珍散、歸脾湯調理也。《家秘》曰：經隧乖戾，血上衝心，所以神昏，緩則不救，治以八寶丹。</p>
<h4>經水愆期</h4>
<p><u>【歌】</u></p>
<p>經水違期號曰愆，或多或少或流連，過期澀少因無血，熱盛脾虛則向前，乍熱乍痛須細審，適來適斷看風煙，逾期五十經還漏，室女停經有避年。</p>
<p><u>【論】</u></p>
<p>經曰：飲食入胃，游溢精氣，上輸於脾。脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。故心脾和平，則經候如常矣。苟或飲食失節，起居違宜，脾胃虧損，則經不調也。</p>
<p>趙養葵曰：不及期來者，有火也，滋水則火自平矣，六味丸。如不及期而來多者，本方加海螵蛸、柴胡、白芍。如半月十日一來，屬氣虛，補中湯。如過期不來者，無火也，本方加艾葉。脈遲色淡加炮薑、肉桂，此其大略耳。其間亦有不及期而無火者，過期而有火者，有過期而多者，不及期而少者，不可拘於一定，當辨脈之遲數，稟之虛實，形之強弱，年之多寡而施治之。如肝脾熱者，四物加減。脾肺虛弱者，補中益氣湯。肝脾郁結者，歸脾湯。怒動肝火者，加味逍遙散。肝腎陰虛者，六味丸。蓋脾為化生之源，心統諸經之血，而陽氣生於陰精，故宜補心脾腎也。</p>
<p><u>【脈】</u></p>
<p>寸關脈調和如故，尺脈絕不至者，當患少腹痛引腰痛，氣滯上攻胸臆也。寸口脈浮而弱，浮則為虛，弱則無血。脈至狀如琴弦，苦小腹痛，月水不利，孔竅生瘡。少陰脈弱而微，微則少血，弱則發熱。肝脈沉，主月水不利，腹脹滿，腰間痛。</p>
<p><u>趕前</u></p>
<p>先期而至曰趕前，血熱陰虛土不堅，怒氣傷肝及勞役，固經涼血始安然。</p>
<p>四物三補丸。</p>
<p><u>落後</u></p>
<p>只因血少故來遲，澀少無痛大補之，色淡脈虛皆不足，養榮歸芍及參　。</p>
<p>滋血湯。</p>
<p><u>過多</u></p>
<p>陽氣乘陰血去多，當歸飲子可調和，勞傷衝任宜膠艾，攝血參　苓朮莎。</p>
<p><u>澀少</u></p>
<p>澀少原來陰勝陽，或臨經脈著寒涼，若然不足宜滋補，氣滯津虛另有方。</p>
<p><u>不通</u></p>
<p>行後如何又不通，冷凝熱結不相同，避年血少居經等，莫作尋常一例攻。</p>
<p>薛立齋曰：經水陰血也，屬衝任二脈，上為乳汁，下為月水，故其為患，有脾虛不能生血者，調而補之。脾鬱而血不行者，解而補之。胃火而血不成者，清而補之。脾胃虛損而血少者，溫而補之。勞傷心血者，逸而補之。</p>
<p>怒氣傷肝者，和而補之。肺氣虛而不能行血者，補土以生金。腎水虛不能生肝而血少者，補脾肺以滋化源，而疾自愈。《難經》曰：損其肺者，益其氣。損其心者，調其榮衛。損其脾者，調其飲食，適其寒溫。損其肝者，緩其中。</p>
<p>損其腎者，益其精。皆當審而治之。</p>
<p><u>不斷</u></p>
<p>經水淋濁不肯除，皆因氣血本元虛，或緣房事傷衝任，鬱怒憂思亦載書。</p>
<p>固經丸。</p>
<p><u>逾期</u></p>
<p>七七陰陽數已終，如何經脈復流通，皆因憂怒兼勞役，邪氣停留在子宮。</p>
<p>芩心丸。</p>
<p><u>避年</u></p>
<p>斷續經期號避年，要知處女屬先天，一云經度隨年轉，氣血循環合自然。</p>
<p>拱辰丹。</p>
<p>《脈經》曰：有婦人將一女子年十五來診，言年十四時經水自下，今經反斷，何也。師曰：若是夫人親女，必夫人年十四時亦以經水下後斷，所以此女亦至此而斷，是為避年，後當自下。蓋其氣尚怯，稟賦素弱而然也。李時珍曰：經水一年一度者，亦為避年。</p>
<p><u>適來適斷</u></p>
<p>經水將行忽著寒，適來適斷不相安，觸經感冒柴胡治，更刺期門可瀉肝。</p>
<p>加味小柴胡湯。</p>
<p>婦人寒熱如瘧，晝則明白，夜則譫語，胸脅脹滿，乃因血去室空，風邪乘虛而入，名曰熱入血室。</p>
<p><u>當行不行</u></p>
<p>二七天癸任脈通，過期斷絕不來紅，風寒驚恐並思慮，養血清心勿誤攻。</p>
<p>柏子仁丸。</p>
<p>大凡天癸至早者，性機巧至，遲者，性魯鈍。通行則無病，澀滯不行變成勞瘵者多矣。</p>
<h4>經病疼痛</h4>
<p><u>【歌】</u></p>
<p>臨病疼痛有多般，不識根源治便難，未至先疼因實積，去空覺痛是虛寒，復庵治血先調氣，產寶臨經莫嗜酸，氣滯風寒兼血澀，更參脈證下湯丸。</p>
<p><u>【論】</u></p>
<p>經水者，行血氣，通陰陽，以榮於身者也。若外虧衛氣充養，內乏榮血灌溉，而被風寒勞役，經候欲行先身痛也。其或風冷客於胞中，而動衝任之脈，故腹痛也。</p>
<p><u>【脈】</u></p>
<p>沉緊細動皆主腹痛，陽弦頭痛，陰弦腹痛，肝脈若弦月水不利，腰腹疼痛，月水不通，繞臍寒疝痛。</p>
<p>其脈沉緊，此由血積不散，為氣所沖，新血與故血相搏故痛。</p>
<p><u>腹痛</u></p>
<p>腹痛雖云衝任傷，須分氣血與陰陽，風寒濕熱參虛實，看脈推源用古方。</p>
<p>風冷：經來衝任傷風冷，腹內綿綿痛不停，足冷脈遲頻欲嘔，桂枝桃核及溫經。</p>
<p>溫經湯。</p>
<p>寒濕：經水如同豆汁形，腹中　痛不安寧，脛浮兩尺皆沉細，四物湯煎合五苓。</p>
<p>血澀：臨經先有腹中疼，血澀因而即不行，漸漸痛來移趨下，調榮順氣可和平。</p>
<p>八物湯。</p>
<p>氣滯：氣滯胞門經不通，腹中疼痛往來攻，脈沉走注牽腰脅，抑氣延胡大有功。</p>
<p>食積：婦女炎天臨月經，誤傷生冷忽然停，後來欲至先疼痛，琥珀延胡及胡苓。</p>
<p>小琥珀散。</p>
<p>虛痛：經來腰腹痛悠悠，過後緣何反不休，脈弱痛綿手可按，必然血少是根由。</p>
<p>八珍東加延胡、香附、炮薑。</p>
<p>實痛：痛陣攻衝血不行，按之破滿手難迎，便知裡實宣通好，氣血流行痛自平。</p>
<p>瓦壟子丸　玉燭散。</p>
<p><u>頭痛</u></p>
<p>臨經頭痛著風寒，莫作尋常一樣看，發表必須兼養血，一七五積自能安。</p>
<p><u>身痛</u></p>
<p>臨經身痛如何斷，或冒風邪氣血虛，調衛祛風兼補血，古方趁痛飲堪除。</p>
<p><u>腰痛</u></p>
<p>經病如何腰亦疼，只因兩腎系胞門，內經具載今拈出，化育根基在一元。</p>
<p>琥珀散。</p>
<p><u>失血心痛</u></p>
<p>失血心疼人罕知，只因血統在心脾，去多治本歸脾好，治標先將補血脾。</p>
<h4>經病發熱</h4>
<p><u>【歌】</u></p>
<p>勞熱神思多困倦，客邪口燥及心煩，內傷有瘀成潮熱，外感無時熱又溫，平昔經前實積看，去多經後作虛論，實宜清解虛溫補，寒熱譫言另立門。</p>
<p><u>【論】</u></p>
<p>王太仆曰：如大寒而甚，熱之不熱，是無火也。熱來復去，晝見夜伏，夜發晝止，是無火也，當治其心。如大熱而甚，寒之不寒，是無水也，當助其腎。心盛則生熱，腎盛則生寒，腎虛則寒動於中，心虛則熱伏於內。</p>
<p>李氏曰：潮熱有時為內傷、為虛熱，無時為外感、為實。虛者，大溫經湯。實者，四物東加柴胡、黃芩。經閉者，滋血湯。骨蒸者，大胡連丸、烏雞丸。五心煩熱，四物加胡連、川連。無汗者，茯苓補心湯。有汗者，加味逍遙散。</p>
<p><u>【脈】</u></p>
<p>洪數有力是為實熱，細數無力即是虛熱。浮主外邪，沉乃裡熱，表裡虛實，以此分別，臟腑經絡，具在脈訣。</p>
<p><u>平時發熱</u></p>
<p>平時發熱必偏陽，人瘦陰虛火自狂，能戒五辛如淡食，勝如煎服地黃湯。</p>
<p><u>臨經發熱</u></p>
<p>血去陰虛內熱生，口乾煩躁不和平，行過初至須分治，客實虛潮另有名。</p>
<p><u>勞熱</u></p>
<p>因勞發熱為勞熱，肢體酸痛盜汗多，煩躁不寧神困倦，急投良劑免沉　。午前熱屬氣分，清心蓮子飲。午後熱屬陰分，地黃湯。若勞心者，天王補心丹。勞力者，加味逍遙散。</p>
<p><u>客熱</u></p>
<p>客熱皆由元氣虛，衛家淺薄外邪居，心煩口渴肌膚燥，加味逍遙治有餘。《良方》曰：經行體虛，溫暖過度，外邪乘之，故曰客熱，其狀上焦胸膈之間虛熱，口燥心煩，手足壯熱是也。</p>
<p><u>潮熱</u></p>
<p>要知潮熱陽明實，熱至如潮不失期，若是太衝停瘀血，桃仁承氣可行之。</p>
<p><u>實熱</u></p>
<p>脈洪有力名為實，熱在先前經未行，便閉唇焦兼口渴，可煎玉燭把衣更。</p>
<p><u>虛熱</u></p>
<p>脈來無力便知虛，陰不足兮氣有餘，必是去多經水後，六神補血自能除。</p>
<p><u>寒熱</u></p>
<p>寒熱雖云外中風，陰虛陽弱不相同，更尋氣血分虛實，寒熱交爭又一宗。經曰：陽虛則惡寒，陰虛則發熱，陽不足則先寒後熱，陰不足則先熱後寒。陰陽不調之，故當分氣血虛實治之。寸口脈微為陽不足，則陰氣上入於陽中，宜補中益氣湯。尺部脈弱為陰不足，則陽氣下陷於陰中，宜益陰地黃丸。若怒動肝火者，小柴胡湯。寒熱交爭，生地黃丸。</p>
<h4>崩漏</h4>
<p><u>【歌】</u></p>
<p>陰虛陽搏謂之崩，恚怒憂思風熱乘，陰絡受傷血內溢，脾家虧損外奔騰，悲哀太過心胞絕，涎滯中焦氣不增，更有陰陽崩兩說，須參脈症可為憑。</p>
<p><u>【論】</u></p>
<p>經曰：陰虛陽搏謂之崩。又曰：悲哀太過則心系急，肺布葉舉而上焦不通，熱氣在中，故血走而崩也。</p>
<p>忽然大下謂之崩，淋瀝不止謂之漏也。</p>
<p><u>【脈】</u></p>
<p>仲景曰：寸口脈微而緩，微者，衛氣疏，疏則其膚空。緩者，胃弱不實，則穀消而水化。穀入於胃，脈道乃行，水入於經，其血乃成。榮盛則其膚必疏，三焦絕經，名曰血崩。寸口脈弦而大，弦則為減，大則為芤，減者為寒，芤則為虛，虛寒相搏，此名曰革，男子則亡血失精，婦人則半產漏下。尺脈急而弦大，風邪入少陰之經，女子則漏下赤白。漏血不止，脈小虛滑者生，大緊實數者死，日下赤白數升，脈急疾者死，遲者生，浮者不治。</p>
<p><u>陰虛陽搏</u></p>
<p>尺脈虛微陰不足，寸如弦急陽有餘，必然失血崩中症，四物阿膠黑地榆。漏久而虛者，黑地黃丸。</p>
<p><u>勞傷衝任</u></p>
<p>衝任原來主月經，絡傷血溢不留停，備金散子宜調服，大劑芎歸極有靈。</p>
<p><u>涎郁胸膈</u></p>
<p>痰涎凝滯郁胸中，壅遏經隧氣不通，血不歸經因漏下，備金抑氣可收功。</p>
<p><u>風熱乘肝</u></p>
<p>風熱乘肝血妄行，頭痛脅痛目羞明，莎柴四物焦荊芥，一服教君疾自平。</p>
<p>烏金散。</p>
<p><u>思慮傷脾</u></p>
<p>憂愁思慮總傷脾，倦怠貪眠食不思，坤土卑監難攝血，歸脾加減最相宜。</p>
<p><u>暴怒傷陰</u></p>
<p>怒氣傷肝血不藏，忽然崩下甚　徨，青皮香附炮焦黑，白芍芎歸及地黃。</p>
<p><u>元氣下陷</u></p>
<p>血脫多時氣必虛，陽生陰長理相宜，肝能生血調脾胃，歸草升柴參朮　。</p>
<p>補中益氣湯。</p>
<h4>經閉</h4>
<p><u>【歌】</u></p>
<p>二陽之病發心脾，血海無余土已虧，氣結痰凝良有說，肝勞心損亦須知。東垣指出三焦病，學人宜將五臟推，血滯血枯當有別，通經不可浪施為。</p>
<p><u>【論】</u></p>
<p>經曰：月事不來者，胞脈閉也。胞脈者，屬心而絡於胞中，今氣上迫肺，心氣不得下通，故月事不來也。潔古云：宜先降心火之劑，後服五補丸、衛生湯，治脾以養其血。經曰：二陽之病，發於心脾，有不得隱曲，女子不月，其傳為風消，為息奔者死，不治。經曰：有病胸脅支滿，妨於食，病至則先聞腥臊臭，出清液，四肢清，目眩時時，前後血病，名曰血枯。東垣曰：經閉不行有三，脾胃久虛，形體羸瘦，氣血俱衰，以致經水斷絕，或因勞心，心火上行，月事不來，胞脈閉也，治宜安心補血，瀉火則經自行，此上焦心肺有熱而不行，一也。或病中消，胃熱善飢，漸瘦，津液不生，蓋經乃血脈津液所化，津液既為熱爍，肌肉漸瘦，時見煩渴，血海干枯，宜瀉胃之燥熱，補益氣血，則經自行，此中焦胃熱而不行，二也。或心胞絡脈洪數，時見大便閉，小便難而經水斷絕，血海干枯，治宜調血脈，除胞絡中相火，則經自行，此下焦胞絡熱結而經不行，三也。</p>
<p><u>【脈】</u></p>
<p>寸脈弦，關脈沉，是肝病也，兼主腹痛，孔竅生瘡。尺脈滑，氣血實，經不利。尺脈絕不至，兼主少腹引腰痛，氣攻胸臆也。少陰脈弱而微，微則少血。寸口脈浮而弱，浮則為虛，弱則無血。脈來至如琴弦者，苦少腹痛，月水不利也。肝脈沉主月水不利，腰腹痛。尺脈來而斷續者，月水不利，腹不通，繞臍痛，其脈沉緊，此由寒氣客於血室，血凝不行也。</p>
<p><u>血熱</u></p>
<p>清熱瀉火出東垣，病屬三焦必熱煩，玉燭三和分上下，經水調後必調元。</p>
<p>三和湯　玉燭散　二氣丸。</p>
<p><u>風冷</u></p>
<p>熱則宜通冷則凝，腹中瘕聚結如冰，或緣勞役兼驚恐，久則傷肝寒熱增。</p>
<p>千金桃仁丸　露丸。</p>
<p><u>痰阻</u></p>
<p>痰滯胞門氣不清，久而食少熱寒生，肥人血海偏脂滿，去積消痰經自行。</p>
<p>瓦壟丸。</p>
<p><u>血結</u></p>
<p>血結胞中病郁陶，精神減少欲成勞，寒宜三壘三方治，熱用羅君血極膏。</p>
<p><u>氣滯</u></p>
<p>婦女偏多執性情，哀懷隱曲不舒伸，停經大半由於此，琥珀當歸效若神。</p>
<p>琥珀散　當歸散。</p>
<p><u>心虛</u></p>
<p>婺婦宮娥及女尼，心思散耗致肝虧，須培血脈調榮衛，柏子仁丸最合宜。</p>
<p>茯苓補心湯。</p>
<p><u>肝勞</u></p>
<p>肝勞支滿妨於食，時覺喉間有臭腥，脅痛目眩或唾血，蘆茹烏賊載於經。</p>
<p><u>經閉成勞</u></p>
<p>室女停經病不輕，漸成勞瘵熱寒並，急宜艾炎投符藥，若得經通疾自平。</p>
<p>澤蘭湯　柏子仁丸　生地黃丸。</p>
<p>勞瘵多端不等論，先須去病後調元，骨蒸冷熱傳尸　，若要尋精另一門。秦艽鱉甲散、獺肝丸、北斗符、取勞蟲方、灸四花穴、腰俞。</p>
<h4>夢與鬼交</h4>
<p><u>【歌】</u></p>
<p>元神虛損被邪侵，鬼魅交通莫可禁，恍惚昏迷言語亂，調肝養血及清心。</p>
<p><u>【論】</u></p>
<p>人稟五行秀氣而生，五臟神氣而養，若調理失節，氣血衰微，或思想過度，神不守舍，則邪乘虛而入。</p>
<p>其症隱避而不欲見人，時獨言笑，或時悲泣，面色不變是也。</p>
<p><u>【脈】</u></p>
<p>其脈沉遲而伏，或如鳥啄，或綿綿而來，不知度數，或乍大乍小，乍短乍長，皆邪脈也。</p>
<p><u>【方】</u></p>
<p><u>茯神散</u></p>
<p>茯神　茯苓　人參　赤小豆　石菖蒲水煎服。</p>
<p><u>妙香散</u></p>
<p>茯神　茯苓　黃　遠志　山藥（各一兩）　甘草　人參　桔梗（各五錢）　朱砂（三錢）　木香（二錢五分）</p>
<p>麝香（一錢）</p>
<p>酒服二錢。</p>
<p><u>鹿角散</u></p>
<p>生鹿角為末，酒服三錢，日三服。</p>
<p><u>桃仁丸</u></p>
<p>辰砂　檳榔　當歸　桃仁（各三錢）　阿魏（一錢）　沉香　麝香（一錢）</p>
<p>煉蜜丸梧子大，酒服十丸。</p>
<p><u>秦承祖灸鬼哭穴</u></p>
<p>病患兩手拇指相並，線扎緊合縫處，半肉半甲間灸七壯，必要四人四角一齊默火方妙，孫真人有十三鬼穴。</p>
<p>黃帝灸法：上唇裡而中央肉弦上一肚如小麥大。</p>
<h4>積聚瘕腸覃石瘕</h4>
<p><u>【歌】</u></p>
<p>　癖聚瘕痞疝症，血凝痰氣食兼成，難經五積由於臟，六聚相傳腑所生，腸覃經行氣分病，石瘕不月血相並，青黃燥血脂狐鱉，虱發蛇魚亦瘕名。</p>
<p><u>【論】</u></p>
<p>經曰：腸覃者，寒氣客於腸外，與衛氣相搏，氣不得營，因而所系，癖而內著，惡氣乃起，息肉乃生。其始大如雞卵，稍以益大，至其成，如懷子之狀，按之則堅，推之則移，月事以時下，此腸覃也，氣病而血不病也。</p>
<p><u>　露丸</u></p>
<p>石瘕者，生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當瀉不瀉，　以留止，日以益大，狀如懷子，月事不以時下，二者皆生於女子，可導而下。</p>
<p>五積者，五臟所生，心曰伏梁，肝曰肥氣，脾曰痞氣，肺曰息賁，腎曰奔豚。六聚者，六腑所生也。　生臍傍，癖在兩肋，痞在胸前，疝居小腹。食症、血症、氣癖、瘧癖，又有龍蛇魚鱉肉發虱瘕等，皆事出偶爾，飲食間誤中之，留聚腹中，假血而成，自有活性，如永徽僧病噎，腹中一物如魚之類是也。他如敗梳治虱瘕，銅屑治龍瘕，曲治米瘕，鍛石治酒瘕，茶泥治蛭瘕可以理解也。皆因飲食不節，起居失宜，臟腑虧損，氣血乖戾，痰涎凝結，陰陽受傷，經絡隧道循行失度，所以發作則痛，甚則欲死，皆血之所為也。</p>
<p><u>【脈】</u></p>
<p>寸口沉而橫，脅下有積痛。六脈沉澀，皆主積痛。浮牢數緊，亦主積聚。少陰浮緊，緊則腹痛，半產，浮則亡血、惡寒、絕產。弦急者可治，虛弱者不治。</p>
<p><u>【方】</u></p>
<p>瓦壟子丸　五積丸　桃仁煎　露丸　李子豫八毒赤丸　太乙神明陷冰丸。</p>
<p><u>【針灸】</u></p>
<p>氣海在臍下一寸半，天樞在臍旁二寸，三報在巨闕下一寸章門在季脅端，胃脘穴在臍上四寸。</p>
<h4>臟躁悲傷</h4>
<p><u>【歌】</u></p>
<p>婦人無故忽悲傷，不是神靈不是狂，臟躁欠伸誰識得，長沙傳下麥甘湯。</p>
<p><u>【論】</u></p>
<p>婦人臟躁悲傷欲哭，像如鬼神所作，數欠身，甘草小麥大棗湯主之。蓋心虛則悲傷，悲傷則心動，心動則宗脈感而液道開，令人欲哭，過甚則宗氣消而榮衛不利，陰陽相引而作欠伸也。《產寶》曰：喜屬陽心主之，怒屬陰肝主之，婦人稟性陰柔，故喜常少而怒常多，或悲泣不止，皆陰類也。有似神靈所憑，皆因所欲不遂，思極傷心故也。</p>
<p><u>【脈】</u></p>
<p>精氣並於肺則悲，脈必浮澀而短，設或洪大，肺被火克也。</p>
<p><u>【方】</u></p>
<p><u>甘麥大棗湯</u></p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）　水（六升）</p>
<p>煮三升，去渣分三次服。</p>
<p>立齋曰：前症有寒水攻心者，有肺受風邪者，治當審察，無執一方。</p>
<h4>咽中如炙</h4>
<p><u>【歌】</u></p>
<p>只因經絡著風寒，痰結咽中吞吐難，久久不除成噎隔，早宜四七破棺丹。</p>
<p><u>【論】</u></p>
<p>仲景曰：婦人咽中炙　，半夏厚朴湯主之。孫真人曰：咽中帖帖如有炙肉，吐之不出，吞之不下，含生薑片五十日愈，以意逆之，當是寒傷經絡，氣血不和，浮於咽中，婦人血分受寒多，積冷氣，故有此症。予用破棺丹噙化頻咽之，曾治數人多效。蓋喉侯也，喉出天氣，咽者咽也，咽出地氣，故喉為呼吸之門，咽乃水穀之路，其或憂思內結，風冷外侵，痰氣隔塞，逆於喉嚨，妨礙飲食，久之而成翻胃、噎隔者有矣。</p>
<p><u>【脈】</u></p>
<p>浮滑風痰，沉澀氣鬱，弦數緊澀，終為不吉。</p>
<p><u>【方】</u></p>
<p><u>半夏厚朴湯</u></p>
<p>半夏（一升）　厚朴（三兩）　茯苓（四兩）　生薑（五兩）　紫蘇（二兩）</p>
<p>水七升煮四升，分四服每日一服。</p>
<p>四七湯即前方而分兩不同。</p>
<p><u>二氣散</u></p>
<p>山梔（炒）　乾薑（炮）</p>
<p>等分為末，砂仁湯下二錢。</p>
<h4>脬轉</h4>
<p><u>【歌】</u></p>
<p>忍尿持重入房中，了戾膀胱溺不通，莫把藥湯增水泛，沉香琥珀有神功。</p>
<p><u>【論】</u></p>
<p>仲景曰：婦人病飲食如故，煩熱不得臥，而反倚息者，此轉脬不得溺也。以脬系了戾，故致此病，宜利小便則愈，腎氣丸主之。夫脬受水液，氣不轉行，則小腸滿脹，或忍小便，飽食用力，或忍便行房，或忍便疾行，或忍便持重，今脬系了戾，屈抑而不得舒張，故小便不下。其症：臍下急痛，煩悶汗出，氣逆奔迫，內外壅塞，脹滿不通，此脬系轉戾不通，非湯藥所能治，法當行其氣，氣化則能出矣。沉香琥珀丸主之，外用小麥杆煎湯熏洗。《甲乙經》曰：脬轉不得溺，關元主之。</p>
<p><u>【脈】</u></p>
<p>右手澀小左手急大者，蔥白葵子桔皮湯。</p>
<p><u>【方】</u></p>
<p><u>沉香琥珀丸</u></p>
<p>沉香　牙皂　琥珀等分為末，飯丸，益元散為衣，溫酒服二錢。</p>
<p><u>強忍小便氣逆不通困篤欲死方</u></p>
<p>滑石（二兩）　發（一兩，燒）</p>
<p>桃根白皮煎湯，調服一錢。</p>
<h4>陰中諸病</h4>
<p><u>【歌】</u></p>
<p>厥陰肝脈入陰中，抵器連陰及子宮，作癢生瘡因濕熱，腫而堅痛受寒風，脾虛下陷宜升舉，郁結攻衝可宣通，更有陰吹人不識，發膏煎子出張公。</p>
<p><u>【論】</u></p>
<p>立齋曰：陰病乃七情鬱火傷損肝脾，濕熱下注。其外證有生瘡者，有陰中舒出如蛇，俗呼陰挺。有翻突如餅，俗呼陰菌。有如雞冠，俗呼陰痔。亦有生蟲腫痛，濕癢潰爛出水，脹悶脫墜者，其內症口乾內熱，體倦，經候不調，飲食無味，日晡潮熱，胸膈不利，小腹痞脹，小便淋漓。治法：腫痛者，四物東加龍膽草、柴胡、山梔、丹皮。濕癢者，歸脾加山梔、柴胡、丹皮。淋漓者，龍膽瀉肝東加白朮、丹皮。潰腐者，加味逍遙散。脹悶脫墜者，補中益氣東加山梔、丹皮，佐以外治法。脈數則陰中生瘡，弦則陰中掣痛。又曰：緊則腹痛，數則生瘡。少陰滑數，陰中生瘡。脈至如琴弦，苦小腹痛，月水不利，孔竅生瘡。</p>
<p><u>陰瘡</u></p>
<p>如何陰戶忽生瘡，相火淫精濕熱傷，外洗野狼牙敷杏麝，內煎龍膽瀉肝湯。</p>
<p><u>陰腫</u></p>
<p>寒傷形而熱傷氣，氣傷痛兮形傷腫，只因風冷入肝經，所以疾病生陰孔。</p>
<p><u>陰痛</u></p>
<p>從來諸痛皆為實，惟有陰疼濕熱看，龍膽逍遙俱可服，要知此病屬於肝。</p>
<p><u>陰癢</u></p>
<p>陰癢三蟲蝕不安，脾虛濕熱漬於肝，槐枝枸杞根湯洗，龍膽逍遙硫鯉丸。</p>
<p><u>陰挺</u></p>
<p>陰挺元虛濕熱侵，如蛇突出痛淋漓，補中龍膽兼熏洗，古法三茱一捻金。</p>
<p><u>陰痔</u></p>
<p>濕熱停留又著風，如茄如菌結陰中，歸脾益氣逍遙散，醋淬烏頭可外攻。</p>
<p><u>陰冷</u></p>
<p>勞傷子臟陰中冷，以是三陰元氣虛，內服天冬鐘乳酒，外施牛膽食茱萸。</p>
<p><u>陰吹</u></p>
<p>胃實腸虛氣下行，陰吹喧搏只聞聲，豬膏亂髮同煎服，腸胃和平自不鳴。</p>
<p><u>交接出血</u></p>
<p>少女頻交陰戶傷，血流肝腎火猖狂，發灰鍋黑敷俱好，洗用黃連甘草湯。</p>
<p><u>尿血</u></p>
<p>小便行時渾血來，厥陰風熱浸徘徊，備金生地逍遙散，牛膝車前及發灰。</p>
<p><u>遺尿</u></p>
<p>膀胱不禁苦遺尿，睡裡流來不自知，萆　雞肝同益智，白薇白芍亦相宜。</p>
<p><u>針灸</u></p>
<p>陰中諸病，照海穴在足內踝下，歸來在天樞下七寸。</p>
<p><u>【方】</u></p>
<h4>帶下方</h4>
<p><u>補中益氣湯</u></p>
<p>人參　黃　當歸　白朮　陳皮　柴胡　升麻　甘草薑棗水煎。</p>
<p><u>固真丸</u></p>
<p>白石脂（　）　柴胡（各二兩）　炮薑　黃柏　白芍（各五錢）　龍骨（酒煮晒研）　當歸（各三兩）</p>
<p>為末酒糊丸，每服三十丸。</p>
<p><u>溫經湯</u></p>
<p>吳萸　當歸　川芎　白芍（各三兩）　人參　桂枝　阿膠　丹皮　生薑　甘草（各二兩）　半夏（半升）</p>
<p>麥冬（一升）</p>
<p>水煎服。</p>
<p><u>大黃甘遂湯</u></p>
<p>大黃（四兩）　甘遂　阿膠（各二兩）</p>
<p>水煎服。</p>
<p><u>抵當湯</u></p>
<p>水蛭（三十炙）　虻蟲（三十炙）　桃仁（三十）　大黃（三兩酒浸）</p>
<p>為末水煎服。</p>
<p><u>礬石丸</u></p>
<p>礬石（三兩燒）　杏仁（一兩）</p>
<p>為末煉蜜丸棗核大，內下部。</p>
<p><u>紅藍花酒</u></p>
<p>紅藍花（一兩）</p>
<p>酒一大升煮減半頓服。</p>
<p><u>當歸芍藥散</u></p>
<p>當歸（三兩）　芍藥（一斤）　茯苓（四兩）　白朮（四兩）　澤瀉（八兩）　川芎（八兩，一作三兩）</p>
<p>為末酒服方寸匕，日三。</p>
<p><u>小建中湯</u></p>
<p>桂枝　甘草（各三兩）　白芍（六兩）　薑（三兩）　棗（十二）　膠飴（一升）</p>
<p>水七升煮三升，去渣加飴服一升，腹滿加茯苓。</p>
<p><u>神仙聚寶散</u></p>
<p>當歸　木香　琥珀　沒藥（各一兩）　滴乳（三錢）　麝香（一錢）　朱砂（三錢）</p>
<p>為末水丸龍眼核大，酒磨一丸服。</p>
<p><u>蒼柏辛芎散</u></p>
<p>蒼朮　黃柏　辛荑　川芎　南星　半夏　牡蠣（　）　滑石　黃芩為末酒服二錢。</p>
<p><u>酒煮當歸丸</u></p>
<p>當歸（一兩）　茴香（五錢）　附子（炮）　良薑（各七錢）　酒（一升，煮酒盡）　丁香（五錢）　全蠍（三錢，酒淨炙）　鹽（五錢，炒）　升麻　柴胡　木香（各二錢）　川楝（三錢）　甘草（二錢）　玄胡索（五錢）</p>
<p>酒糊丸淡醋湯下二十丸。</p>
<p><u>樗皮丸</u></p>
<p>樗根白皮（向東南方者去土取之，米泔洗去黑皮，晒乾酒炒）　陳皮　茯苓　半夏　香附　川芎　蒼朮黃柏　炮薑　地榆　牡蠣醋糊丸飲下六十丸。</p>
<p><u>小胃丹</u></p>
<p>甘遂（五錢，面煨）　芫花（五錢，醋拌，瓦器內炒黑，不可令焦）　大戟（五錢，水煮，切片晒乾）　黃柏（三兩，炒）　大黃（一兩五錢，煨）</p>
<p>糊丸麻子大，空心湯下五十丸，痰下後服白朮丸。</p>
<p><u>白朮丸</u></p>
<p>白朮（二兩炒）　黃芩（五錢）　白芍（七錢）　白葵花（二錢五分）</p>
<p>為末湯炮炊餅丸，每服五十丸，四物湯下。</p>
<p><u>四神丸</u></p>
<p>香附（四制，八兩）　蒼朮（米泔浸切，牡蠣粉炒）　樗根白皮（酒炒）　砂仁（各二兩。炒）</p>
<p>黃米飯丸，酒下六十丸。</p>
<p><u>雙白丸</u></p>
<p>白茯苓（三兩）　風化鍛石（一兩）</p>
<p>糊丸飲下三錢。</p>
<p><u>又方</u></p>
<p>喬麥面雞蛋白搗丸，空心淡鹽湯下百丸。</p>
<p><u>又方</u></p>
<p>白扁豆花　香附（鹽炒，各一兩）　小茴香（鹽炒）　硫黃（各五錢）　甘草　乳香　沒藥（各三錢）</p>
<p>為末每用五分入雞蛋，蒸熟酒下。</p>
<p><u>又方</u></p>
<p>白豆蔻　砂仁　香附等分炒為末，米酒調服二錢。</p>
<p><u>又方</u></p>
<p>白果肉（四兩）　硫黃末（一錢）</p>
<p>二味同炒熟，去黃不用，將熟白果肉空心嚼下，淡鹽湯過口。</p>
<p><u>三黃三白丸</u></p>
<p>黃連（炒）　黃芩　黃柏（各五錢。炒）　白朮（炒）　白芍（各一兩）　白芷（二兩，炒黑）　香附（一兩，醋炒）　扁柏（五錢，酒炒）　樗根皮（二兩，酒炒）</p>
<p>粥丸湯下七十丸。</p>
<p><u>大溫經丸</u></p>
<p>吳茱萸（一兩）　當歸　川芎　白芍（各五錢）　熟地（二兩）　牡丹皮（五錢）　石菖蒲（一兩）　阿膠（五錢）　人參（五錢）　茯苓（一兩）　肉桂（五錢）　艾葉（一兩醋炒）　琥珀（三錢另研）　附子（七錢炮）</p>
<p>朱砂（二錢另研）</p>
<p>煉蜜丸飲下四十丸。</p>
<p><u>白馬蹄丸</u></p>
<p>白馬蹄（　）　鱉甲（炙）　蜀椒　磁石（　）　杜仲　禹餘糧　鯉魚鱗　甘草　龜甲　當歸　萆附子（炮去皮臍）　真川芎　桑耳　續斷等分為末，煉蜜丸桐子大，空腹酒下十丸，漸加至三十丸以知為度。</p>
<p><u>馬蹄丸</u></p>
<p>白馬蹄（燒）　禹餘糧（各四兩）　龍骨（三兩　）　烏賊骨　白薑蠶（水淨炒）　赤石脂（各三兩）</p>
<p>煉蜜丸酒下三十丸。</p>
<p><u>小牛角腮散</u></p>
<p>治帶下五賁失血。</p>
<p>牛角腮（一枚，燒令赤）　阿膠（三兩）　續斷（二兩）　龍骨（一兩）　當歸（二兩）　赤小豆（炒）</p>
<p>禹餘糧　鹿茸　乾薑　烏賊骨（各二兩）</p>
<p>酒服，蜜丸亦可。</p>
<p><u>龍骨散</u></p>
<p>治婦人十二病，絕產。一白帶，二赤帶，三經水不利，四陰冷，五臟堅，六臟癖，七陰陽痛，八內強，九腹寒，十臟閉，十一五臟酸痛，十二夢與鬼交。</p>
<p>龍骨（三兩，　）　黃柏　半夏　桂心　乾薑（炮）　杜仲　黃土（各二兩）　石葦　滑石（各一兩）</p>
<p>烏賊骨（四兩）　代赭石（四兩）　白薑蠶（五十枚，炒）</p>
<p>白多倍烏賊、僵蠶；赤多倍代赭；子臟堅倍薑、桂；末服酒下方寸匕，日二，服藥三月，有子即住勿服。</p>
<p><u>金鎖正元丹</u></p>
<p>肉蓯蓉（酒淨晒）　胡蘆巴（炒）　巴戟天（各一斤）　補骨脂（十兩，鹽酒炒）　五倍子（八兩）　白茯苓（六兩）　朱砂（三兩，另研）</p>
<p>酒糊丸，酒下三十丸。</p>
<p><u>威喜丸</u></p>
<p>黃蠟（四兩）　茯苓（四兩作塊，同豬苓水煮汁盡為度，取出晒乾，不用豬苓）</p>
<p>將茯苓為末，溶蠟丸彈子大，空心細嚼一丸，滿口生津徐徐咽下，以小便清白為度。忌米醋，尤忌使性氣。</p>
<p><u>加味四七湯</u></p>
<p>半夏（一兩，制）　厚朴（薑炒）　茯苓（各五錢）　香附（七錢，醋炒）　紫蘇　甘草（各二錢）　薑（十二片）　琥珀（四錢，另研）</p>
<p>分四帖水煎，去滓調琥珀服。</p>
<p><u>加味逍遙散</u></p>
<p>當歸　白芍　茯苓　白朮　柴胡　香附　甘草　丹皮　山梔　薄荷</p>
<p><u>六龍固本丸</u></p>
<p>山藥　巴戟　萸肉（各四兩）　人參　黃　蓮肉　川楝　補脂（各二兩）　小茴　川芎　木瓜（各一兩）</p>
<p>青鹽（三錢）</p>
<p>煉蜜加豬羊脊髓蒸熟同搗丸，飲下五十丸。</p>
<p><u>十六味保元湯</u></p>
<p>補骨脂　管仲（各三錢）　黃　巴戟　人參（各二錢）　小茴香　溫石斛　山藥　茯苓　獨活　蓮須　當歸（各一錢）　黃柏　升麻　甘草（各七分）　杜仲（二錢）</p>
<p>加桂圓肉水煎。</p>
<p><u>鎖精丸</u></p>
<p>補骨脂　白茯苓　五味子　青鹽（各等分）</p>
<p>為末酒糊丸，空心服五十丸。</p>
<p><u>固精丸</u></p>
<p>牡蠣（　）　龍骨　北五味　桑螵蛸　菟絲餅　茯苓　韭子（炒）</p>
<p>白石脂酒糊丸淡鹽湯下七十丸。</p>
<p><u>單方</u></p>
<p>鯉魚一尾去腸不去鱗，入油發一團，泥固，炭火　存性，去泥，為末，陳酒調服一錢。鹿角霜末服。</p>
<p><u>女子漏下積年不斷危困方</u></p>
<p>鵲重巢柴燒灰為末，酒服方寸匕，日三服，一月愈，頻年產鵲者是。</p>
<h4>調經方</h4>
<p><u>生地黃丸</u></p>
<p>生地（四兩，摘碎晒乾）　赤芍（二兩）　柴胡　黃芩　秦艽（各一兩）</p>
<p>煉蜜丸桐子大，烏梅湯下三十丸，日三服。</p>
<p><u>柏子仁丸</u></p>
<p>澤蘭葉（二兩）　柏子仁　牛膝　卷柏（各一兩）　加續斷（二兩）　熟地（三兩）</p>
<p>煉蜜丸飲下三十丸。</p>
<p><u>衛生湯</u></p>
<p>黃　（三錢，蜜炙）　當歸　白芍（各二錢。酒炒）　甘草（一錢）</p>
<p>水煎。</p>
<p><u>通關散</u></p>
<p>豬牙皂（一錢）　細辛（二分）　麝香（少許）</p>
<p>為末搐鼻取嚏。</p>
<p><u>倉公散</u></p>
<p>皂莢（一錢）　藜蘆（五分）　雄黃（三分）　枯礬（少許為末）</p>
<p>吹鼻取嚏。</p>
<p><u>白薇湯</u></p>
<p>白薇　當歸　人參　甘草</p>
<p><u>八珍散</u></p>
<p>防風　川芎　生地　細辛　石菖蒲　人參　朱砂　薄荷</p>
<p><u>蘇合香丸</u></p>
<p>訶黎勒　白朮　香附　犀角　朱砂　青木香　白檀香　沉香　丁香　麝香　蓽茇（各二兩）　安息香（為末酒熬膏）　龍腦　蘇合油（各一兩入安息膏內）</p>
<p>為末，安息香膏加煉蜜和丸，溫酒化服，薑湯亦可。</p>
<p><u>八寶丹</u></p>
<p>琥珀　沒藥　當歸　赤芍　細辛（各一兩）　朱砂（五錢，另研）　冰片　麝香（各二分）</p>
<p>煉蜜丸，芡實大，石菖蒲湯化服一丸。</p>
<p><u>琥珀調經丸</u></p>
<p>香附（一斤，四制）　艾葉（八兩，醋製）　琥珀（五錢，另研）　四物（各二兩）</p>
<p>醋糊丸，飲下七十丸。</p>
<p><u>烏骨雞丸</u></p>
<p>八珍加沉、木香　香附　砂仁　厚朴　海金砂　柏葉　薑蠶將雞去毛、腸、頭、足、翅，入藥在雞肚內，酒煮爛去骨，炙用其藥，肉搗晒重磨，余汁打糊丸。</p>
<p><u>烏雞丸</u></p>
<p>蛤粉炒阿膠　穀芽　麥芽　蘇木　龍衣　艾葉用艾鋪石臼中，一層艾一層藥，鋪訖用火緩緩燒過存性，以缽蓋口，令密勿通風，待冷取出，為末丸服。</p>
<p><u>鶴頂丹</u></p>
<p>艾葉（五兩，醋煮）　牡蠣（　）　龍骨（各三兩，　）　當歸（二兩）　附子（一兩炮）　赤石脂（三兩　研）</p>
<p>醋糊丸，石脂為衣，烏梅湯下五十丸。</p>
<p><u>四物三補丸</u></p>
<p>四物　黃芩　黃連　黃柏　山梔　香附　荊芥穗　龜板炙為末煉蜜丸。</p>
<p><u>滋血湯</u></p>
<p>四物東加人參　黃　山藥　茯苓</p>
<p><u>當歸飲</u></p>
<p>四物加白朮　黃芩　地榆　阿膠澀少四物東加木香　炮薑甘瀾水煎，空心頓服。</p>
<p><u>固經丸</u></p>
<p>白芍　黃柏　黃芩　龜板（醋炙）　香附（醋炒黑）　樗根白皮（酒炒焦）</p>
<p>酒糊丸。</p>
<p><u>芩心丸</u></p>
<p>條芩米醋浸七日炙干，又浸又炙，七次，為末醋糊丸，空腹酒下七十丸。</p>
<p><u>拱辰丹</u></p>
<p>孫琳方，葛丞相夫人年少時服之有效。</p>
<p>鹿茸（酥炙）　山萸肉　當歸（各四兩）　麝香（三錢）</p>
<p>酒糊丸，每服七十丸，溫酒淡鹽湯任下。</p>
<p><u>加味柴胡湯</u></p>
<p>小柴胡東加紅花、牡丹皮</p>
<h4>經病疼痛方</h4>
<p><u>交加地黃丸</u></p>
<p>生地（一斤，搗絞去汁，以薑汁浸晒乾）　生薑（一斤，搗絞去汁，以汁浸生地渣，薑渣以生地汁浸晒乾）</p>
<p>當歸　延胡索　川芎　白芍（各一兩）　香附（八兩）　乳香（炙一兩）　木香（一兩）　桃仁　人參（各五錢）</p>
<p>醋糊丸，湯下七十丸。</p>
<p><u>交加散</u></p>
<p>生地　生薑（各一斤，以薑汁浸生地，生地汁浸薑渣，晒乾）　當歸　白芍　桂心　延胡　蒲黃（各一兩）</p>
<p>紅花　沒藥（各五錢，為末）</p>
<p>溫酒調服三錢。</p>
<p><u>失笑散</u></p>
<p>蒲黃　五靈脂同炒為末，淡醋湯服二錢，或用砂糖拌服，或用醋糊丸服。</p>
<p><u>溫經湯</u></p>
<p>當歸　川芎　白芍　肉桂　蓬朮　甘草　丹皮　牛膝　生薑</p>
<p><u>八物湯</u></p>
<p>四物加木香　檳榔　苦楝　延胡索</p>
<p><u>抑氣散</u></p>
<p>香附　茯苓　陳皮　甘草　延胡索</p>
<p><u>小琥珀散</u></p>
<p>當歸　烏藥　蓬朮（醋炒）</p>
<p>為末酒調二錢服。</p>
<p><u>八珍湯</u></p>
<p>加延胡索　香附　炮薑</p>
<p><u>瓦壟子丸</u></p>
<p>瓦壟子（　紅色醋淬七次）　香附　桃仁　丹皮　川芎　川大黃　當歸　紅花酒糊丸。</p>
<p><u>玉燭散</u></p>
<p>四物合調胃承氣湯。</p>
<p><u>加味五積飲</u></p>
<p>蒼朮　厚朴　陳皮　甘草　芍藥　人參　半夏　枳殼　香附　白芷　桔梗　麻黃　當歸　川芎　茯苓　肉桂　木香加薑木瓜入鹽少許水煎。</p>
<p><u>趁痛飲</u></p>
<p>虎骨　防風　白芷　續斷　白朮　本　茯苓　白芍　甘草　當歸　薑　棗</p>
<p><u>琥珀散</u></p>
<p>當歸身　赤芍　蒲黃　官桂　三棱　蓬朮　熟地　丹皮　甘菊　劉寄奴（各一兩）</p>
<p>加烏藥、延胡索、黑豆一升、生薑八兩同丹皮、赤芍、寄奴、棱、蓬以米醋四升煮豆爛，晒乾共研為末，每服二錢，溫酒調下，大能止痛，故名琥珀散。</p>
<p><u>三神丸</u></p>
<p>橘紅（二兩）　當歸　延胡索（各一兩，醋煮）</p>
<p>酒糊丸，艾湯下百丸。</p>
<h4>經病發熱方</h4>
<p><u>茯苓補心丹</u></p>
<p>生地　當歸　白芍　川芎　陳皮　桔梗　前胡　半夏　干葛　茯苓　甘草　枳殼　紫蘇　生薑</p>
<p><u>大造丸</u></p>
<p>紫河車（一具，米泔淨去紅筋，砂鍋煮爛搗）　敗龜板（童便浸，酥炙，二兩）　黃柏（鹽酒炒，一兩五錢）</p>
<p>杜仲（二兩，鹽炒）　牛膝（二兩）　地黃（三兩，酒煮，入砂仁六錢）　茯苓（二兩）　天冬（一兩二錢，去心）</p>
<p>麥冬（一兩二錢，去心）　五味（七錢）　加當歸（二兩）</p>
<p>為末，搗河車、地黃膏，少加米糊丸，每服八十丸。</p>
<p><u>蓮子清心飲</u></p>
<p>蓮肉　黃芩　麥冬　車前子　茯苓　黃　柴胡　地骨皮　人參　甘草</p>
<p><u>天王補心丹</u></p>
<p>當歸　天冬　柏子仁　棗仁　北五味（各一兩）　人參　茯苓　桔梗　丹參　遠志　元肉（各五錢）　生地（四兩）</p>
<p>黃連（二兩）</p>
<p>煉蜜丸朱砂為衣，燈心湯下三十丸。</p>
<p><u>桃仁承氣湯</u></p>
<p>大黃　桃仁　甘草　芒硝　桂枝</p>
<p><u>六神湯</u></p>
<p>四物加黃　地骨皮</p>
<p><u>益陰地黃丸</u></p>
<p>六味加當歸　北五味</p>
<p><u>補血湯</u></p>
<p>黃　（一兩）　當歸（五錢）</p>
<p>水煎。</p>
<h4>崩漏方</h4>
<p><u>備金散</u></p>
<p>香附（四兩，醋炒黑）　當歸（二兩，炒）　五靈脂（一兩，炒）</p>
<p>飲調三錢，服加炒荊芥，醋炒地榆，名烏金散。</p>
<p><u>黑地黃丸</u></p>
<p>蒼朮（半斤米泔浸黑芝麻同炒）　熟地（八兩）　北五味（四兩）　炮薑灰（二兩）</p>
<p>棗膏搗丸湯下七十丸。</p>
<h4>經閉方</h4>
<p><u>玉燭散</u></p>
<p>四物加大黃　芒硝　甘草</p>
<p><u>三和湯</u></p>
<p>四物加大黃　芒硝　黃芩　山梔　連翹　薄荷　甘草</p>
<p><u>二氣丸</u></p>
<p>大黃（四兩，為末，醋熬膏）　當歸　白芍（各二兩，為末）</p>
<p>大黃膏丸湯下三十丸。</p>
<p><u>千金桃仁丸</u></p>
<p>桃仁（一兩，炒）　大黃　芒硝　虻蟲（五錢，炒黑）</p>
<p>醋熬大黃膏丸空服，酒服五十丸，下惡血如雞肝。</p>
<p><u>血極膏</u></p>
<p>大黃（四兩）</p>
<p>為末醋熬成膏如雞頭大，每服一丸，酒化開服，大便利一、二行，經脈自下，一加當歸、香附，酒下五十丸。</p>
<p><u>琥珀散</u></p>
<p>烏藥（三兩）　當歸（二兩）　蓬朮（一兩，醋炒）</p>
<p>為末酒下三錢。</p>
<p><u>當歸散</u></p>
<p>當歸　蒲黃　穿山甲（各五錢，炙）　朱砂（一錢，另研）　麝香（少許）</p>
<p>為末酒服二錢。</p>
<p><u>烏賊骨丸</u></p>
<p>烏賊骨（四兩）　茹（一兩）</p>
<p>為末雀卵丸小豆大，每服十丸至五十丸，鮑魚湯以干厭飲咽之。</p>
<p><u>秦艽鱉甲散</u></p>
<p>秦艽　鱉甲　當歸　知母　銀柴　地骨　烏梅</p>
<h4>積聚瘕方</h4>
<p><u>天冬鐘乳酒</u></p>
<p>鐘乳粉（四兩）　天門冬　五加皮　乾薑　蛇床子　丹參　熟地　杜仲　續斷（各三兩）　地骨皮（二兩）</p>
<p>酒十五斤漬飲。</p>
<p><u>千金方</u></p>
<p>吳茱萸內牛膽中，陰乾百日，每用二七枚綿裹，齒嚼碎，內陰中，良久熱如火。</p>
<p><u>豬膏發煎</u></p>
<p>豬膏（八兩）　亂髮（如雞子大三枚）</p>
<p>煎之發消藥成，分二次服，病從小便出。</p>
<p><u>養榮湯</u></p>
<p>人參　白朮　茯苓　當歸　白芍　熟地　遠志　五味子　甘草　黃　陳皮</p>
<p><u>長生活命丹</u></p>
<p>人參（二錢）　薑（二片）　麥芽（五分，炒）　蓮子（八個）　鍋焦飯（研末）</p>
<p>上四味水煎，每一種調飯末三五匙服，最能開胃，治產後脾虛傷食，或誤服消導，大傷脾胃，不能飲食。</p>
<h2>卷之三</h2>
<h3>胎前門</h3>
<h4>胎前用藥大法</h4>
<p><u>【歌】</u></p>
<p>婦人初妊最難看，惡食貪眠或嗜酸，母病則須先療母，因胎即便把胎安。</p>
<p><u>【論】</u></p>
<p>王海藏曰：安胎之法有二，如母病以致動胎，但療母而胎自安也。若胎氣不固，或有所觸動以致母病者，宜安胎則母自愈矣。胎前氣血和平則百病不生，若氣旺而熱，熱則耗血而胎不安，治當清熱養血為主，惟在起居飲食調理得宜，絕去嗜欲，安養胎氣，雖有別症，總以安胎為主。</p>
<h4>胎前有三禁</h4>
<p><u>【歌】</u></p>
<p>胎前三禁要須知，利水相煎汗下時，只為厥陰為祖氣，若能不犯始為奇。</p>
<p><u>【論】</u></p>
<p>張潔古曰：婦女天癸未行屬少陰，天癸即行屬厥陰，天癸既絕屬太陰。故治胎前從厥陰者，是祖氣生化之原也。厥陰與少陽相為表裡，故治之無犯胃氣及上下二焦。謂之三禁者，不可汗、不可下、不可利小便。若發汗則同傷寒下早證，利大便則脈數而動於脾，利小便則內亡津液而胃中枯燥，用藥能不犯此三禁，則榮衛和而寒熱自止矣。</p>
<h4>胎前藥忌群隊</h4>
<p><u>【歌】</u></p>
<p>胎前最忌藥成群，識者須將氣血分，氣病惟宜枳殼散，血虛內補可為君。</p>
<p><u>【論】</u></p>
<p>張子和曰：治婦人病必先問月水及娠，不可純用破氣行血之藥，恐傷胎於疑似之間也。許學士曰：妊娠惟在抑陽助陰，然胎前藥最忌群隊，倘陰陽交錯，別生他病，唯南山道士枳殼散所以抑陽，四物湯所以助陰，但枳殼散少寒，單服之恐有胎寒腹痛之患，以內補丸佐之，則陽不致強，陰不致弱，陰陽調和而胎自安矣。</p>
<p><u>【方】</u></p>
<p><u>內補當歸丸</u></p>
<p>當歸（三兩）　熟地（二兩酒蒸）　宜加杜仲　續斷　山藥　砂仁（炒）</p>
<p>蜜丸服。</p>
<h4>胎前宜健脾養血開鬱補腎</h4>
<p><u>【歌】</u></p>
<p>脾腎雖分先後天，陰陽氣血總相兼，瘦人過動宜清理，自汗滋陰合自然，怒氣傷肝常嘔逆，胎元不運懶多眠，惟宜開鬱安胎氣，養血和中疾自痊。</p>
<p><u>【論】</u></p>
<p>脾為後天之長，腎為先天之原。有孕則礙脾，以致運化遲而生濕，濕生熱，故用白朮以健脾燥濕，黃芩以清熱安胎，此形瘦血熱，營行過疾，胎常上逼，過動不安，食少面黃，倦怠無力者宜之。若火旺口乾，發熱自汗，煩躁腹痛者，又宜生地、歸、芍以養血也。若性急多怒，形實氣盛，面黑胸滿，嘔逆腹痛，胎常不運者，又宜砂仁、香附以開之。腎為衝任之根，男子以藏精，女子以系胞，若腎虛腰軟，腳膝無力，又宜六味丸去丹皮加杜仲、續斷。故健脾、養血、開鬱、補腎，治雖不同，然五行相生，循環無端，一以貫之。總之使其氣血和平，無過不及而已。</p>
<p><u>【方】</u></p>
<p><u>安胎飲</u></p>
<p>陳皮　茯苓　藿香　砂仁　當歸　紫蘇　甘草　白朮　黃芩　大腹皮　薑（三片）</p>
<p>水煎服。惡阻倍藿香、陳皮加半夏。胸膈不寬加枳殼去白朮。惡寒倍蘇葉，生薑，去黃芩。虛煩加麥冬、知母去白朮。子腫加山梔、木通倍腹皮。咳嗽加桑皮、麥冬去白朮。子淋加木通、淡竹葉、茯苓。頭痛加川芎、羌活、防風。腰痛加杜仲、續斷、補骨脂。痢疾加黃連、木香、木通。胸腹痛加香附、白芍、延胡。泄瀉加澤瀉、白朮、茯苓。傷寒無汗加羌、防，去苓、朮。寒熱往來加柴胡、蘇、薑。傷食加枳殼、砂仁，去苓、朮。誤服毒藥加知母、白扁豆。胎動不安倍當歸、砂仁。胎不長加參、　、歸、朮。下血加阿膠、艾葉、芎、歸。胎太盛加黃楊腦、陳皮。胎氣上逼加砂仁、蘇梗。不眠加茯神、棗仁、竹葉。胎氣下墜加川芎、續斷。血虛加白芍，熟地。</p>
<p>瘧疾加柴胡、知母。胎欲墜加續斷、杜仲、芎、歸。臨產加川芎、當歸。</p>
<h4>安胎飲加減活法</h4>
<p><u>【歌】</u></p>
<p>安胎飲裡紫蘇甘，大腹砂仁桔藿堪，芩朮歸苓薑水煮，胎前諸症可相參。惡阻停痰半夏宜，茯苓甘草藿陳皮，砂仁大腹同香附，蘇葉生薑功最奇。胸滿心疼號子懸，蔥頭枳殼可同煎，砂仁大腹甘蘇葉，白朮黃芩應避嫌。口渴虛煩加麥冬，茯苓竹葉及防風，山梔知母歸生地，補血生津有大功。腫脹皆因濕熱多，健脾利水自安和，木通苓澤薑皮術，大腹陳皮及炒莎。腰痛皆因腎氣虛，須防孕子絕衣裾，地黃杜脂芎山藥，續斷當歸總載書。咳嗽原來屬肺家，要分虛實莫塗鴉，虛將天麥阿膠等，實用蘇陳桑杏砂。往來寒熱屬於肝，血少風邪勿誤看，四物八珍醫血弱，柴胡加減療風寒。食傷水瀉損於脾，下痢稠黏作熱醫，熱則香連丸可治，四苓香附茯陳皮。不眠驚悸屬於心，怔忡虛煩汗不禁，遠志棗仁龍眼肉，茯神柏子及人參。觸犯胎元動不安，縮砂末服是神丹，或兼佛手同生地，膠艾加之治血干。大抵胎前宜四物，川芎用早恐升提，地黃泥膈須加減，順氣和中勿執迷。</p>
<h4>脈法</h4>
<p>《內經》曰：何以知懷子之且生也。曰：身有病而無邪脈也。又曰：婦人足少陰脈動甚者，妊子也。又曰：陰搏陽別，謂之有子。秦越人曰：三部浮沉正等，按之不絕者，有妊也。崔紫虛曰：陰搏於下，陽別於上，氣血調和，有子之象。手之少陰其脈動甚，尺按不絕，此為有孕。少陰屬心，心主血脈，腎為胞門，脈應於尺，或寸脈微，關滑、尺數，流利往來如雀之啄，或診三部，浮沉一止，或平而虛，當問月水，婦人有病而無邪脈，此孕非病，所以不月。齊仲甫曰：陰搏陽別謂之有子，氣血調和，陽施陰化也。王叔和曰：脈平而虛，妊子法也。診其脈左少陰動甚者，妊子也。夫少陰心也，心主血。足少陰腎也，腎主胞門，大抵少陰經左手屬心，右足屬腎，下主乎尺，尺中按之不絕者，有妊也。亦有元虛而微細濡弱或伏者。《脈訣舉要》曰：男女之別以左右取，左疾為男，右疾為女，沉實在左，浮大在右，左男右女，可以預剖。蓋左脈疾勝於右是為男，以男屬陽居左，胎氣鐘於陽，故左勝。右脈疾勝於左是為女，以女屬陰居右，胎氣鐘於陰，故右勝也。大抵沉實者為男，沉細者為女，右尺浮大者，固知其女，左尺浮大者，大約多男，沉細是女，沉實是男，即所謂諸陽為男，諸陰為女也。右尺浮大為女，左尺浮大為男，即所謂左疾為男，右疾為女也。又曰：中指一跳一止者，一月胎。二跳二止者，二月胎也。</p>
<p>妊娠之脈如何認，要辨陰陽衰與盛。陰陽俱盛滑而和，兩手調和數相應。其人能食身無熱，容色如常是妊定。</p>
<p>脈來左盛是男形，右手偏洪是女孕。孕真帶嘔頭昏悶，此是停痰惡阻病，急宜正胃與消痰，固血安胎全兩命。若還腰腹具脹時，日暮咽乾潮熱盛，多眠惡食倦昏痰，此屬經凝卻非病。胃脈疾數胎三月，小腸但數五月母，指下動急在大腸，八月懷孕知其數，大綱孕婦類如斯，任意推詳審動靜。婦人經自斷而有軀，其脈反弦，恐其後必大下，不成軀也。脈來近去遠，故曰反以為有軀而反斷，此為有陽無陰故也。</p>
<h4>惡阻</h4>
<p><u>【歌】</u></p>
<p>惡阻生於二月時，心煩悶亂食難施。胚胎經隧多壅塞，濁氣攻衝運化遲，氣鬱停痰兼胃實，虛寒肝火並憂思，大都止嘔調脾胃，順氣和中最得宜。</p>
<p><u>【論】</u></p>
<p>惡阻者，謂妊娠吐嘔、惡心、頭眩、惡食、擇食是也。《產寶》謂之子病。巢氏謂之惡阻。陳良甫謂胃氣怯弱，中脘停痰，脈息和順，但四肢沉重，頭眩擇食，惟嗜酸鹹，甚者寒熱嘔吐，胸膈煩滿，半夏茯苓丸。</p>
<p>張仲景曰：婦人得平脈，陰脈小弱，其人渴不能食，無寒熱，名妊娠，於法六十日當有此症，設有醫者治逆卻一月加吐下者，則絕之。《金匱要略》曰：妊娠嘔吐不止，乾薑人參半夏丸。</p>
<p><u>【脈】</u></p>
<p>嘔吐痰水寸必沉滑，澀郁遲寒微虛數熱，怒氣傷肝脈弦而弱，或虛或實有力無力。</p>
<p><u>痰水</u></p>
<p>惡阻多因胃有痰，飲隨氣上亦相參，二陳砂藿堪和胃，若喜酸嘗主是男。戴復庵曰：胎前惡阻見物嘔吐，嗜酸鹹物，多臥少起，俗名病鬼。蓋其人宿有痰飲，血壅遏而不行，飲隨氣上停滯肝經，故喜酸物，金能克木，以辛勝之，小半夏茯苓湯主之，或二陳湯、砂仁、藿香。</p>
<p><u>虛寒</u></p>
<p>胃虛令人常吐食，胃冷無緣納水漿，二者必然脈遲細，人參半夏與乾薑。</p>
<p><u>肝火</u></p>
<p>小腹平明氣上衝，因而鬱塞滿胸中，厥陰相火沖於胃，茹橘蘆根用總同。羅大無曰：妊娠三月嘔吐惡阻，每至寅卯時覺小腹有氣上衝，然後膈滿而吐，此肝火挾衝脈之火上衝也，用沉香磨水，化抱龍丸一服，胸膈氣不升吐自止也。</p>
<p><u>氣鬱</u></p>
<p>氣鬱中焦嘔吐生，頭眩胸滿脹非輕，脈來左手弦而弱，苓半煎湯下抑青。朱丹溪曰：嘔吐暈眩，脈左弦而弱，此惡氣因怒氣所激，肝氣傷乃挾胎氣上逆，參朮補之非也，宜半夏茯苓湯下抑青丸，或砂仁炒為末，淡薑湯調服二錢。</p>
<p><u>胃實</u></p>
<p>氣血成胎二月間，中焦壅塞不能還，必然穢濁攻於胃，水穀如何得下關。蘆根湯。丹溪曰：妊娠嘔逆不食，心煩悶亂，乃是氣血積聚以養胎元，精血內郁，穢濁之氣上攻於胃，宜陳皮半夏湯。</p>
<p><u>用藥大法</u></p>
<p>李茂翁曰：左脈弱而嘔，服諸藥不止者，當服理血歸原藥則愈矣。經曰：無陰則嘔是也。歸原散。薛立齋曰：中脘停痰，二陳東加枳殼，若飲食停滯，六君子東加枳殼，若脾胃虛弱，異功散。胃氣不足，人參桔皮湯。氣惱加枳殼，胸脅痞悶加蘇梗，脅痛加柴胡，飲食少思六君子加枳殼、蘇梗，頭暈體倦六君子，脾胃虛弱，嘔吐不食，半夏茯苓東加白朮。蓋白朮、茯苓、半夏、陳皮、砂仁善能安胎氣，健脾胃，予常用驗矣。故王子亨白朮散、局方人參丁香散、楊振人參桔皮湯、齊自明醒脾飲，不用半夏亦可。</p>
<p><u>【方】</u></p>
<p><u>半夏茯苓丸</u></p>
<p>茯苓　半夏　桔皮　枳殼　人參　甘草　乾薑蜜丸每服二十丸。《肘後方》無薑、半。只五品。</p>
<p><u>乾薑人參半夏丸</u></p>
<p>乾薑　人參（各一兩）　半夏（二兩）　生薑汁糊丸，砂仁湯下。</p>
<p><u>橘皮竹茹湯</u></p>
<p>橘皮　竹茹　茯苓　半夏　生薑水煎服忌羊、雞、魚、面。</p>
<p><u>蘆根湯</u></p>
<p>生蘆根　桔皮　生薑　大腹皮　枇杷葉水煎。</p>
<p><u>歸原散</u></p>
<p>人參　白朮　茯苓　陳皮　半夏　桔梗　甘草　枳殼　川芎　當歸　白芍　丁香薑棗水煎。</p>
<p><u>半夏茯苓湯</u></p>
<p>半夏　茯苓　生薑　桔皮　人參　旋覆花　白芍　甘草　川芎　桔梗　細辛　生地如熱去細辛加知母，瀉去生地，二服後，服茯苓丸。</p>
<p><u>二香散</u></p>
<p>香附（一兩）　藿香（五錢）　甘草（二錢）</p>
<p>為末砂仁湯調服二錢。</p>
<h4>子煩</h4>
<p><u>【歌】</u></p>
<p>內心焦煩號子煩，金為火爍是根源。心煩肺熱多消渴，若是胸煩嘔吐翻，郁悶不舒胎氣熱。但煩無疾是虛煩，若兼恍惚心驚悸，竹葉門冬不可喧。</p>
<p><u>【論】</u></p>
<p>妊娠苦煩悶者，以四月受少陰君火以養精，六月受少陽相火以養氣。若母心驚膽寒有郁悶，名子煩也。</p>
<p>《產寶》曰：子煩有四證，有中心煩，有胸中煩，有產煩，有子煩，皆熱也。肺虛而火乘之，則心煩也。停痰積飲而嘔吐涎沫，惡聞食氣，胸中煩也。但熱而煩，似無疾者，虛煩也。氣血停積，虛熱相搏，氣鬱不舒，煩躁吐沫，劇則胎動不安，均為子煩也。竹葉湯、麥門冬飲、氣滯紫蘇飲、痰竹瀝湯。</p>
<p><u>【脈】</u></p>
<p>子煩屬熱，脈必洪數，沉氣滑痰，虛則無力。</p>
<p><u>【方】</u></p>
<p><u>竹葉湯</u></p>
<p>防風　黃芩　麥冬　茯苓　竹葉　山梔　當歸</p>
<p>《外台秘要》有竹瀝無竹葉，一方有知母無梔、芩、當歸。</p>
<p><u>麥門冬飲</u></p>
<p>麥冬　人參　茯神　生地　黃芩　犀角　甘草　蓮心</p>
<p><u>竹瀝湯</u></p>
<p>竹瀝（一升）　茯苓（四兩）　麥冬　防風　黃芩（各三兩）</p>
<p>水四升煮二升，入竹瀝分三服。知母丸一味為末，棗肉丸服，治誤服藥而虛煩不安者。</p>
<h4>煩躁口渴</h4>
<p><u>【歌】</u></p>
<p>口乾煩躁熱而虛，架構陰陽氣不舒，熱在心脾多有準，煎熬津液不如初，古方知母除胎渴，六一黃主氣虛，又有血凝成神醫。（《耿隅載方書》）</p>
<p><u>【論】</u></p>
<p>陳良甫曰：妊娠煩躁口渴者，是足太陰脾經，其氣通於口，手少陰心經，其氣通於舌。若臟腑虛弱，營衛不和，以致陰陽失度，熱乘於心脾，則津液消爍，故煩躁口渴也。與子煩大同小異，宜知母散。虛熱，人參黃散，或黃　六一湯。耿隅治孕婦暴渴，惟飲五味汁，曰：此血欲凝非疾也，已而果孕。古方有血欲凝而渴飲五味之症，不可不知。</p>
<p><u>【方】</u></p>
<p><u>知母散</u></p>
<p>知母　麥冬　黃　茯苓　黃芩　甘草　竹瀝水二盞煎八分，去渣沖竹瀝服。</p>
<p><u>人參黃　散</u></p>
<p>人參　黃　知母　麥冬　葛根　茯苓　秦艽　甘草　竹葉水煎服。</p>
<p><u>黃　六一湯</u></p>
<p>黃　（六錢）　甘草（一錢）</p>
<p>水煎服。</p>
<h4>子懸</h4>
<p><u>【歌】</u></p>
<p>脹滿心胸病子懸，紫蘇余子古人傳，自明停飲兼寒治，李氏胎升相火愆，下氣湯同枳殼飲，瘦胎散共紫蘇煎，若還沖築昏迷悶，蔥白當歸可保全。</p>
<p><u>【論】</u></p>
<p>子懸者，胎氣不和，上湊心腹，脹滿疼痛也。由素有寒氣，致令停飲，觸寒發動與氣相會，故心腹脹滿也。李氏曰：四五月以來，君相二火養胎，以致胎熱氣逆湊心，心腹脹滿疼痛，宜嚴氏紫蘇飲加黃芩、山梔。</p>
<p>子懸火盛極一時，心氣悶絕而死者，紫蘇飲速進救之。</p>
<p><u>【脈】</u></p>
<p>有兩尺脈伏而絕者，若勞役胎上脹痛水安者，紫蘇飲。若誤服動胎藥以致胎損者，芎歸湯。脈浮滑，蔥白湯。</p>
<p><u>【方】</u></p>
<p><u>紫蘇飲</u></p>
<p>紫蘇　當歸　川芎　白芍　陳皮　人參　大腹皮（洗淨）　甘草　加薑　蔥白　砂仁一方有香附無人參。</p>
<p><u>當歸湯</u></p>
<p>當歸　人參　阿膠　甘草　蔥白水煎服。</p>
<p><u>下氣湯</u></p>
<p>蘇葉　陳皮　桑皮　茯苓　青皮　白芍　大腹皮　甘草</p>
<p><u>枳殼飲</u></p>
<p>枳殼（二兩）　黃芩　白朮（各一兩）</p>
<p>每服五錢，水煎。</p>
<p><u>瘦胎飲</u></p>
<p>當歸　白芍　枳殼　砂仁　香附　甘草　益智　母草</p>
<p><u>蔥白湯</u></p>
<p>蔥白連須十四根濃服，安生胎，落死胎。</p>
<h4>胎水</h4>
<p><u>【歌】</u></p>
<p>胎水原來是總名，土虛水泛橫流行，惡寒洒淅肌浮腫，喘息　噓腹脹膨，逐水鯉魚遵古法，實脾白朮斂全生，大都順氣調脾胃，利水和中疾自平。</p>
<p><u>【論】</u></p>
<p>妊娠五六月，腹大異常，胸腹脹滿，手足面目浮腫，氣逆不安，此由胞中蓄水，俗呼琉璃胎。不治令子手足軟短有疾，宜鯉魚湯或澤瀉散，或苓朮湯。張仲景曰：妊脹有水氣，身重小便不利，洒淅惡寒，起即頭眩，葵苓散。</p>
<p><u>【方】</u></p>
<p><u>鯉魚湯</u></p>
<p>白朮　生薑（五兩）　茯苓（四兩）　當歸　白芍（三兩）　鯉魚（一尾二斤）</p>
<p>先煮魚熟取汁澄清，再煎藥五服。</p>
<p><u>白朮散</u></p>
<p>白朮　茯苓　澤瀉　陳皮　薑皮　大腹皮　木香為末砂仁湯下。</p>
<p><u>苓朮湯</u></p>
<p>茯苓　白朮（各四兩）　黃芩　杏仁（各三兩）　旋覆花（一兩）　桔紅</p>
<p><u>葵苓散</u></p>
<p>葵子（半升炒）　茯苓（三兩）</p>
<p>為末飲服方寸匕。</p>
<p>胎水總名也，其面目浮腫者，為子腫。胸腹脹滿者，為子滿。但腳腫者，為子氣也。名既不同，輕重自見，治法亦因而已。</p>
<h4>子腫</h4>
<p><u>【歌】</u></p>
<p>子腫脾虛面目浮，風行水泛濕停留，關門不利從其類，散表分消疾自瘳。</p>
<p><u>【論】</u></p>
<p>脾主肌肉，土氣安和則能制水，水自傳化無有停積。</p>
<p>若脾胃氣虛，經血壅閉則水飲不化，濕氣泛溢，外攻形體，內注胞胎，始娠腫滿，兒未成實，必傷胎氣。若臨月而腫，利小便自愈。</p>
<p>薛立齋曰：子腫，胸腹脹滿，小便不利，通身浮腫者，鯉魚湯。脾胃虛弱，四君子湯。面目浮腫，肢體如水氣，全生白朮散，未應，六君子湯。若脾虛濕熱，下部作腫，補中益氣東加茯苓。若飲食失節，嘔吐泄瀉，香砂六君子湯。若脾虛血少，氣滯，加味歸脾湯。腳腫，陳景初天仙藤散。</p>
<p><u>【方】</u></p>
<p><u>白朮散</u></p>
<p>白朮　茯苓　陳皮　大腹皮　桑白皮　薑皮一方去白朮加木香米湯服三錢。</p>
<p><u>木通散</u></p>
<p>木通　香茹　蘇葉（各二錢）　枳殼　黃芩（各一錢）　大腹皮（一錢）　木香　訶子皮（各五分）</p>
<p>生薑皮　砂仁水煎服。</p>
<p><u>單　方</u></p>
<p>山梔一合，炒為末，米飲調下，治妊娠通身浮腫。</p>
<h4>子滿</h4>
<p><u>【歌】</u></p>
<p>脹滿心胸氣不舒，要分虛實漫躊躇，風邪水搏多因實，病後而成又屬虛。</p>
<p><u>【論】</u></p>
<p>《產寶》曰：妊娠經血壅閉養胎，或挾水氣，水血相搏致令腫滿，皆由脾胃虛弱，不能制水，名曰子滿。若水停不去，浸漬入胎，則令胎壞。診其脈浮、腹脹、喘息者，胎必壞也。澤瀉散。妊娠心靜氣和則胎自安穩，若中風寒，邪氣或有觸犯，則隨邪生病。如經血壅閉養胎，忽然胸腹虛腫脹悶，是胎中挾水，脾主肌肉，肌肉空虛，水氣泛濫，故令身腫。然其由或因泄瀉下利，虛損脾胃，或因內熱煩渴，引飲太過，或因關門不利，小便澀少，濕漬脾胃，皆致腫滿，大抵生於五六月之間。蓋胎大則腹滿而氣浮矣。</p>
<p><u>【方】</u></p>
<p><u>澤瀉散</u></p>
<p>澤瀉　枳殼　茯苓　木通　大腹皮　桑白皮　薑皮加砂仁水煎服。</p>
<p><u>防己湯</u></p>
<p>桑白皮　防己　茯苓　紫蘇　木香　砂仁薑水煎。</p>
<p><u>白朮散</u></p>
<p>白朮（一兩炒焦）　陳皮　薑皮　大腹皮（各五錢）</p>
<p>為末，米飲調二錢。</p>
<h4>子氣</h4>
<p><u>【歌】</u></p>
<p>子氣先從腳面浮，涓涓不治恐長流，全生白朮天仙散，利水扶脾厥疾瘳。</p>
<p><u>【論】</u></p>
<p>妊娠三月以後，兩腳面漸腫，行走艱難以致喘悶，飲食無味，似水氣狀，腳趾間有黃水出，謂之子氣，直至分娩方消。此原素有風寒濕氣及脾虛者，雖不可妄投湯藥，亦慮將產之際有不測之虞。宜服天仙藤散以疏郁。</p>
<p>陳良甫曰：妊娠兩腳浮腫，名曰脆腳。因脾衰不能制水，水血相搏所致，宜全生白朮散健脾土。齊仲甫曰：子氣不可作水病治，反傷元氣，有此者必易產，因胞中水血多故也。初妊者，胎必壞，育亦行遲痿　。《名醫錄》曰：宋少主與徐文伯微行，見一妊足腫不能行，少主脈之曰：此女胎也。文伯診之曰：此男胎，在左而黑，少主怒，欲破之，文伯惻然曰：臣請針之。刺三陰交，胎遂墜，男形而黑色，此足腫多男之征也。</p>
<p><u>【方】</u></p>
<p><u>天仙藤散</u></p>
<p>天仙藤　香附　陳皮　甘草　紫蘇　木瓜　薑皮</p>
<p><u>全生白朮散</u></p>
<p>白朮（一兩炒）　茯苓　陳皮　薑皮　大腹皮（各五錢）</p>
<p>為末米飲下二錢。</p>
<h4>子癇</h4>
<p><u>【歌】</u></p>
<p>忽然昏冒不知人，有間蘇來發作頻，此是風邪肝木病，羚羊角散效如神。</p>
<p><u>【論】</u></p>
<p>《產寶》曰：風是四時八方之氣，常以節氣之日候之風，從其鄉來者，謂之虛邪賊風，逢人之虛而中之者，隨其所在而病也。夫五臟六腑之俞皆在於背，臟腑虛者感發難治。若傷太陽之經，復遇寒濕相搏，口噤脊強，名曰風痙。妊娠而發者，昏冒不識，人須臾則醒，醒後復發，名曰子癇，又名子冒。久則發痙，宜千金羚羊角散，或葛根東加竹瀝。</p>
<p><u>【方】</u></p>
<p><u>羚羊角散</u></p>
<p>羚羊角　五加皮　防風　當歸　酸棗仁　白茯神　獨活　甘草　川芎　木香薑引水煎。</p>
<p><u>葛根湯</u></p>
<p>葛根　茯苓　人參　澤瀉　甘草　防己　防風　當歸　川芎　獨活水煎，臨服加竹瀝半杯，薑汁兩匙。</p>
<h4>子喑</h4>
<p><u>【歌】</u></p>
<p>子喑言低不出聲，少陰絡壅不能鳴，清心降火調心腎，分娩經通語自清。</p>
<p><u>【論】</u></p>
<p>《內經》黃帝問曰：人有重身，九月而喑何也。岐伯對曰：胞之絡脈絕也。帝曰：何以言之。岐伯曰：胞絡者，系於腎少陰之脈，貫腎系舌本，故不能言。曰：治之奈何。曰：無治也，當十月復。馬玄台曰：舌云九月腎經養胎，故喑似拘泥，但九月之時，兒體已長胞絡，宮之絡脈系於腎者，阻絕不通，故間有之。蓋腎之脈下貫於腎，上系舌本，脈道阻絕，則不能言，至分娩後能言也。博陵醫之神者曰：郝翁有一妊娠，喑嘿不能言，郝曰：兒大經壅，故不能言，兒生經通，自能言矣。蕭賡六曰：內經大奇論以胞精不足善言為死，不言為生，此可驗，九月而喑，非胞精之不足，故當十月而復也。</p>
<h4>子嗽</h4>
<p><u>【歌】</u></p>
<p>十二經中嗽不同，火痰濕熱寒風，七情六氣分虛實，活法隨機可變通。</p>
<p><u>【論】</u></p>
<p>肺主乎氣，外合皮毛，形寒飲冷傷肺則咳嗽也。有涎曰嗽，無痰曰咳。五臟六腑俱受氣於肺，各以其時感之而成病也。秋則肺受之，冬則腎受之，春則肝受之，夏則脾受之，諸臟不已，冬傳其腑。妊娠嗽者，名曰子嗽。實者參蘇飲以散之，虛者天門冬湯以補之。若久嗽不已。恐傷胎氣也。</p>
<p>薛立齋曰：咳嗽，秋間風邪傷肺，金沸草湯。夏間火邪克金，平肺散。冬間寒邪傷肺，人參敗毒散。春間風邪傷肺，參蘇飲。然肺屬辛金生於已土，久嗽不已，多因脾虛不能生肺氣，腠理不密，外感風邪。或因肺虛不能生水，致陰火上炎，治當補土生金，滋腎安胎為要也。</p>
<p><u>【方】</u></p>
<p><u>參蘇飲</u></p>
<p>紫蘇　陳皮　桔梗　前胡　枳殼　茯苓　甘草　葛根加知母、砂仁。</p>
<p><u>天門冬湯</u></p>
<p>天冬　紫菀　知母　桑皮　北味　桔梗　一加阿膠</p>
<p><u>百合散</u></p>
<p>百合　紫菀　麥冬　桔梗　桑皮　甘草　竹茹水煎服，加蜜三匙。</p>
<h4>喘息</h4>
<p><u>【歌】</u></p>
<p>臟氣相乘並肺中，氣爭肺溢不宣通，治宜順氣兼清肺，脈澀肢寒必見凶。</p>
<p><u>【論】</u></p>
<p>《產寶》曰：胎前喘息皆由榮衛之氣流行失度。氣經於臟，臟不能受，諸氣上並於肺，肺隘而氣爭，故喘息也。其始得之，或因恚怒，則精卻，上焦閉而氣不行，則留於肝，肝乘於肺，則喘出於肝也。或因驚恐，則心無所依，神無所依，氣亂於中，心乘於肺，此喘出於心也。或因跌仆，腎氣暴動，傷而不通，腎氣上乘於肺，此喘出於腎也。或飽食過度，動作用力，穀氣逆肺，此喘出於脾也。</p>
<p><u>【脈】</u></p>
<p>呂滄州治經歷哈散，侍人病喘不得臥，眾作肺受風邪，治勿效，呂診之，氣口盛於人迎一倍，厥陰弦動而疾，兩尺俱短而離經，因告之曰：病得之毒藥動血以致胎死不下，奔迫上衝，故喘也。用催生東加芎歸服之，果下一死胎而喘止。</p>
<p><u>【方】</u></p>
<p><u>馬兜玲散</u></p>
<p>馬兜玲　蘇子　枳殼　桔梗　甘草　桑白皮　陳皮　砂仁</p>
<h4>子淋</h4>
<p>（附胎壓膀胱）</p>
<p><u>【歌】</u></p>
<p>小便淋漓號子淋，胸煩悶亂熱乘心，津虛食熱娘為病，氣滯胎壅子見侵，澤瀉茯苓甘竹葉，木通梔子麥冬芩，膀胱胎壓宜升起，日久須當議補陰。</p>
<p><u>【論】</u></p>
<p>腎開竅於二陰，與膀胱為表裡，妊娠胞系於腎，腎虛熱不能利水而小便淋漓，甚者心煩悶亂，名曰子淋，子淋散主之。腎虛不能司化，六味丸去丹皮加車前子。</p>
<p>萬密齋曰：子淋須分二症，一則妊母自病，一則子為母病。然妊婦自病又分二症，有食辛辣咸物因生內熱者，有自汗自利津液不足者。子為母病亦有二症，有胎氣壅熱，有胎形迫塞，症既不同，治亦各別。</p>
<p>景曰：妊娠小便難，飲食如故，當歸貝母苦參丸，蜜丸豆大，每服三丸。</p>
<p><u>【方】</u></p>
<p><u>子淋散</u></p>
<p>茯苓　麥冬　木通　甘草　大腹皮　淡竹葉水煎服。</p>
<p>附：胎壓膀胱，六脈細弱，氣血俱虛，不能承載其胎，墜下壓住膀胱下口，因此溺不得出，令穩婆以香油塗手，自產門托起其胎，溺出如注，卻以補中益氣湯升提之。或使一人對患者，皆仰臥以足抵其足，徐徐搖動其腿腹，而胎自上。</p>
<h4>心痛</h4>
<p><u>【歌】</u></p>
<p>心痛多端仔細占，風寒痰熱總相兼，火龍散共砂仁散，痛甚延胡及手拈。</p>
<p><u>【論】</u></p>
<p>大全曰：妊娠心痛乃氣邪痰飲交結，若傷心正經為真心痛，則爪甲青，旦發夕死，夕發旦死。若傷支絡，則乍安乍作，名厥心痛。若傷於子臟，則胎動而下血。妊娠心痛，非止一端，當審脈症而治之。</p>
<p><u>【方】</u></p>
<p><u>火龍散</u></p>
<p>川楝子　茴香（各三錢）　艾葉（一錢五分，鹽水炒）</p>
<p>水煎服。</p>
<p><u>手拈散</u></p>
<p>延胡索　五靈脂　草果　乳香　沒藥末服一錢。</p>
<h4>胸腹痛</h4>
<p><u>【歌】</u></p>
<p>上下攻衝胸腹疼，陰陽邪正互相爭，當歸芍藥原方治，香附砂仁亦有能。</p>
<p><u>【論】</u></p>
<p>胸腹痛者，或宿有冷痛，或新觸風寒，皆由臟虛而致也。邪正相搏而並於氣，隨氣上下，上衝於胸則胸痛，下攻於腹則腹痛也。</p>
<p>張仲景曰：婦人懷娠腹中疼痛，當歸芍藥散。</p>
<p><u>【方】</u></p>
<p><u>當歸芍藥散</u></p>
<p>當歸（三兩）　白芍（一斤）　茯苓（四兩）　白朮（四兩）　澤瀉（八兩）　川芎（三兩）</p>
<p>末服一錢。</p>
<p><u>縮砂飲</u></p>
<p>砂仁（炒）</p>
<p>為末酒調二錢，覺腹中熱胎即安。</p>
<h4>腰痛</h4>
<p><u>【歌】</u></p>
<p>妊婦胞胎系腎經，一毫觸犯不安寧，青蛾通氣調肝腎，還恐胎元不久停。</p>
<p><u>【論】</u></p>
<p>何松庵曰：腰痛脈大而痛不已者，腎虛也，青蛾丸。脈澀而日輕夜重者，氣血凝滯也，縮砂飲。脈浮者，為風邪所乘，大豆紫湯。脈實者，閃挫也，通氣散，總以安胎為主。</p>
<p><u>【方】</u></p>
<p><u>通氣散</u></p>
<p>補骨脂炒為末，嚼胡桃以酒服三錢。</p>
<p><u>青娥不老丸</u></p>
<p>杜仲（一斤，薑炒）　補骨脂（四兩，鹽酒炒）　桃肉（十枚）</p>
<p>蜜丸服。</p>
<p><u>鹿角散</u></p>
<p>鹿角長六寸，燒赤淬酒中，又燒又淬，取酒服。</p>
<h4>妊娠傷寒</h4>
<p><u>【歌】</u></p>
<p>妊娠傷寒先保胎，六經表裡次安排，若然不解生傳變，自有專科莫亂猜。</p>
<p><u>【論】</u></p>
<p>妊娠傷寒專以散風清熱安胎為主，如發表香蘇飲，半表半裡黃龍湯，清火黃連解毒湯，余詳傷寒本科。</p>
<p><u>【方】</u></p>
<p><u>香蘇飲</u></p>
<p>香附　蘇葉　陳皮　甘草　砂仁薑水煎服。如太陽經加羌活、防風，陽明經加葛根、知母，少陽加柴胡。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　山梔　黃柏水煎。</p>
<p><u>黃龍湯</u></p>
<p>柴胡　黃芩　人參　甘草實熱去參加砂、桔。</p>
<h4>妊瘧</h4>
<p><u>【歌】</u></p>
<p>乍寒乍熱名為瘧，榮衛陰陽氣不和，汗少汗多行補散，若然和解用柴胡。</p>
<p><u>【論】</u></p>
<p>瘧者，寒熱交爭，皆因於風寒也。風為陽邪，化氣而為熱，寒為陰邪，化氣而為寒。陰陽交爭，寒熱更作，或陰並於陽，則陰實陽虛而惡寒。若陽並於陰，則陽實陰虛而發熱。先傷於寒後傷於風，則先寒後熱。先傷於風後傷於寒，則先熱後寒。初瘧無汗者，散之。久瘧多汗者，補之。</p>
<p><u>【方】</u></p>
<p><u>小柴胡湯</u></p>
<p>柴胡　黃芩　人參　甘草加茯苓、知母、陳皮、生薑。</p>
<h4>瀉痢</h4>
<p><u>【歌】</u></p>
<p>水穀不化屬脾虛，臭穢稠黏作熱醫，清熱濃腸兼理氣，和中理氣更扶脾。</p>
<p><u>【論】</u></p>
<p>泄瀉者，痛腹腸鳴水穀不化，或喜歡嘔逆，協熱下利，並宜四苓散、黃芩白芍湯。若裡急後重，下痢赤白，稠黏臭穢，謂之滯下，宜香連丸。能食者輕，絕不食者死。壺公曰：有妊娠病痢不止，脈虛而滑，兩關脈澀。此胎氣不和，相火上炎，似痢非痢也，用安胎藥而愈。</p>
<p><u>【方】</u></p>
<p><u>香連丸</u></p>
<p>川連（五錢，吳茱萸同炒，揀去吳茱萸不用）　木香（一錢）</p>
<p>神麯糊丸，米飲服一錢。</p>
<h4>胎動不安</h4>
<p><u>【歌】</u></p>
<p>妊娠胎動有多端，內熱房勞或著寒，舉重食傷皆致病，憂思恚怒總相干，保全散共安胎飲，佛手湯同膠艾丸，只恐胎傷因下墜，離經脈見保嬰難。</p>
<p><u>【論】</u></p>
<p>胎動不安，有因酒色過度者，有舉重觸犯者，有誤食毒物者，有勞役太過者，有喜怒不常，傷於心肝，觸動血脈者，有信服熱藥反為藥害者，有血少不能養胎者，有胎元內熱者。大法因母病而胎動者，但治母其胎自安。</p>
<p>若胎熱血少不堅固者，但安胎母疾自愈。</p>
<p>胎動不安者欲知男女生死之法，令人摸之，如覆杯者，男也。如肘頭參差起者，女也。溫者為生，冷者為死。</p>
<p><u>【方】</u></p>
<p><u>保全散</u></p>
<p>當歸（一兩五錢）　阿膠（五錢）　甘草（三錢）</p>
<p>加連須蔥白三莖水煎。</p>
<p><u>縮砂飲</u></p>
<p>縮砂仁（炒熟去衣為末）</p>
<p>酒調服二錢，或艾湯調下，服此覺胎動處熱，是藥力到也。</p>
<p><u>佛手散</u></p>
<p>當歸　川芎（各一兩）</p>
<p>水煎頓服，生胎自安，死胎自下也。</p>
<h4>妊娠吐血</h4>
<p><u>【歌】</u></p>
<p>怒氣傷肝血上衝，勞傷風熱不相同，須知實火宜清理，虛火滋陰可奏功。</p>
<p><u>【論】</u></p>
<p>妊娠吐血者，皆由臟腑有傷而致也。或用心太過，或思慮傷脾，或怒氣傷肝，氣逆於上，血隨而溢，心悶胸滿，久而不已，多致墜胎。若心悶甚者不治。</p>
<p>薛立齋曰：血症若肝火妄動，先用小柴胡去半夏加山梔、生地，次用四物加黑山梔，或加味逍遙散去丹皮。</p>
<p>若肝經風熱，防風子芩丸。心經有熱，朱砂安神丸。心氣不足，補心湯。思慮傷心者，妙香散。胃經有火，犀角地黃湯。膏粱積熱，加味清胃散。郁結傷脾，加味歸脾湯。肺經有火，黃芩清肺飲。氣虛不能攝血，補中益氣湯。</p>
<p>腎經虛火，地黃丸。但看虛實分治，實火可瀉，法當清熱以養血，虛火可補，法當滋陰以補水，則當自安。若執尋常治血之法，而用行血消血之藥，則胎自墜矣。</p>
<h4>胎漏下血</h4>
<p>（激經　胞阻　濕胞）</p>
<p><u>【歌】</u></p>
<p>下血腹痛名胞阻，膠艾芎歸最有靈，非時卒下為胞漏，月事依期號激經，尿血溺時常有血，漏胞血去不曾停，更有肝風榮實症，防風丸服與黃芩。</p>
<p><u>【論】</u></p>
<p>胎漏者，由衝任脈虛，不能約制手太陽、少陰之經血也。懷妊之人經水不行者，壅之以養胎，蓄之以為乳也。若衝任氣虛則胞內泄不能制其經血，故月水時下，亦名胞漏血，則盡人斃矣，此虛症也。</p>
<p>張仲景曰：婦人宿有症病，經斷未及三月而得漏下不止，胎動在臍上者，為症痼害。妊娠六月動者，前三月經水利時胎也。下血者，後斷三月胚也。所以血不止者，其症不去故也，此宿病也。婁全善曰：妊娠經來不多，飲食精神如故，六脈和緩滑大無病者，血盛有餘也。兒大能飲自不來矣，此緩症也。《百問》曰：胎息未實，勞力觸犯，或食毒物，或房勞驚恐，致令子宮虛滑，經血淋瀝，敗血湊心，子母難保，此急症也。《產集》曰：肝經有風，榮經既為風所勝，則所下者，非養胎之血，作漏胎治則誤，宜防風黃芩丸，此實症也。《金匱要略》曰：妊娠下血，腹中痛者，為胞疽，芎歸膠艾湯。《千金方》曰：妊娠下血不止，名曰漏胞，胞干便死，宜用生地黃八兩，以清酒三升，煮減半，絞去滓服。《脈經》曰：婦人經水下但為微少，師脈之反言有軀。其後審，然其脈何類，何以別之，師曰：寸口脈陰陽俱平，榮衛調和，按之滑浮之，則清陽明：少陰，各如經法。身反洒淅，不欲食飲，頭痛心亂，嘔噦欲吐，呼則微數，吸則不驚，陽多氣溢，陰滑血盛，滑則多實，立經養成，所以月見陰，見陽。精汁凝，胞散，散者損墜，設復陽盛雙妊二胎，今陽不足，故令激經也。曾有妊娠月信不斷而胎不損，產科熊宗古曰：婦人血盛氣衰，其體必肥，是以月信來而胎不損，若作漏胎治，則胎必墜，若不作漏胎治，則胎未必墜，誠有旨也。</p>
<p><u>【方】</u></p>
<p><u>膠艾四物湯</u></p>
<p>當歸　川芎　生地　白芍　阿膠　艾葉</p>
<p><u>防風黃芩丸</u></p>
<p>防風（一兩）　黃芩（醋炙黑兩）</p>
<p>末之酒糊丸米飲下三錢。</p>
<p><u>止漏散</u></p>
<p>干生地（四兩）　炮薑灰（二兩）</p>
<p>為末空心米湯調服，二錢服。</p>
<p><u>備金散</u></p>
<p>香附（醋炒黑）　當歸　五靈脂（炒黑）</p>
<p>為末米湯調服二錢，加炒黑荊芥，醋炒地榆尤妙。</p>
<h4>胎上逼</h4>
<p><u>【歌】</u></p>
<p>將養失宜胎上逼，若然氣促必傾危，當歸蔥白阿膠草，大腹砂仁功亦奇。</p>
<p><u>【論】</u></p>
<p>將養合宜，氣血調和，則胎得其所而產亦順，否則胎氣動逆上逼心肺，以致氣塞不轉，悶亂喘促而死矣。薛立齋曰：氣逆胎上，紫蘇飲。若飲食不甘，兼六君子。肝火內熱，加味逍遙散。胃火，四君加梔、芩。脾郁，加味歸脾。</p>
<p><u>【方】</u></p>
<p><u>當歸湯</u></p>
<p>當歸　人參　阿膠　甘草　連須蔥白水煎服，或單用蔥白二十一莖水煎服，未死即安，已死即下。</p>
<h4>胎不長</h4>
<p><u>【歌】</u></p>
<p>氣血兩虛胎不長，黃　白朮共當歸，鯉魚煮汁頻頻服，久久功成胎自肥。</p>
<p><u>【論】</u></p>
<p>《聖濟總錄》曰：調理失宜，飲食減少，氣血虛弱，不能行榮衛化精微，養衝任，故令胎內弱，子氣不足。若使脾胃和而能飲食，水穀化而運氣血，何慮胎氣之不長也。</p>
<p><u>【方】</u></p>
<p><u>黃　湯</u></p>
<p>黃　白朮　茯苓　麥冬　人參　陳皮　甘草　薑　棗</p>
<p><u>白朮丸</u></p>
<p>白朮　當歸　阿膠　地黃　川芎　牡蠣　川椒蜜丸服三十丸。</p>
<p><u>集驗方</u></p>
<p>鯉魚長尺許，煮如食法，飲其汁則胎自長矣。</p>
<h4>腹內鐘鳴兒在腹中哭</h4>
<p>（附乳法）</p>
<p><u>【歌】</u></p>
<p>妊娠腹內似鐘鳴，或有嬰兒哭泣聲，鼠窟黃連雖主治，要知育後不長生。</p>
<p><u>【論】</u></p>
<p>妊娠腹內鐘鳴，用鼠窟中土為末，入麝香少許，酒調服二錢，立愈。或以黃連濃煎汁，令母時常呷之。</p>
<p>《產寶》曰：腹中兒哭者，是臍帶上疙瘩兒含口中，因妊娠登高舉臂脫出兒口，因此作聲。令妊婦曲腰，就地如拾物狀，仍入兒口即止。又曰，其治法亦用前二方。薛立齋曰：黃連性寒，麝香開竅，當酌量用之。</p>
<p>一婦懷娠八月，因舉手掛窗，遂致兒在腹中哭，眾莫能治，一老穩婆教以大豆一升撒地，令孕婦拾之，果未及一半而愈。</p>
<p>妊娠無故忽然兩乳中滴出者，謂之乳。有此症者，兒多不育。</p>
<h4>防胎自墜</h4>
<p><u>【歌】</u></p>
<p>三月七月數應奇，肝一心三五屬脾，七肺九腎皆在臟，傷胃中衝恐墜之，十月養胎遵古法，千金保孕獨稱奇，更宜愛護調神氣，免使胎元不及期。</p>
<p><u>【論】</u></p>
<p>大金曰：陽施陰化，榮衛調和，經脈完固，十月而產。若氣血虛損，不能養胎則墜也。凡腰痛者，多有墜胎之患。王海藏曰：墜胎之因有五，總由氣血虛弱不能榮養胎元，或七情太甚，內火發動，火能消物而墜。</p>
<p>或遇傷勞役飢飽，動胎而墜，或遇於房事，觸犯其胎而墜。或跌仆閃挫，傷動其胎而墜。或大怒悲哀，傷動心肝之血而墜。然而小產甚於大產，由於胎臟損壞，胞系腐爛故也。</p>
<p>巢元方曰：受胎在腹，七日一變，墜胎在三、五、七月多，二、四、六月少。臟陰而腑陽，三月屬心，五月屬脾，七月屬肺，皆屬五臟，陰常易虧，故多墜耳。一月屬肝，怒則多墜，洗下體竅開亦墜，一次既墜，肝脈受傷，下次亦墜，今之無子者，大半是一月墜胎，非盡不受孕也。</p>
<p><u>泰山磐石丸</u></p>
<p>人參　黃　白朮　當歸　川芎　白芍　甘草　熟地　續斷　黃芩　砂仁　糯米為丸服。</p>
<h4>雙胎一死一生</h4>
<p><u>【歌】</u></p>
<p>跌仆雙胎一死生，器中投鼠實難行，千金蟹爪膠甘桂，方出真人價不輕。</p>
<p><u>【論】</u></p>
<p>陽施陰化，精血有餘，則成雙胎。若冷熱失宜，氣血虧損則胎萎而不育，或過期而不產。若雙胎脈弱，經養不周，故偏傷也。候其胎上冷，是胎已死，如抱雞子，熱者為生，冷者多濁物，理之自然者也。孫真人曰：妊娠僵仆失據，胎動轉上搶心，甚者血從口出，逆不得息。或注下血一斗五升，胎不出，子死腹中，急如產狀，虛乏少氣困頓欲死者。</p>
<p><u>【方】</u></p>
<p><u>蟹爪散</u></p>
<p>蟹爪（一升）　阿膠（二兩，炒）　甘草（二尺）　桂（半尺）</p>
<p>東流水一斗，煮蟹爪、甘草，取三升去滓內阿膠烊盡，能為一服佳，不能者，食頃再服。若口噤不能飲者，格口灌之，藥下便活，與母俱生。若胎一死一生，則死者自下，而生者自安，若胎已死，獨母活也。煎藥宜用向東灶，以茅葦薪火煎之。</p>
<h4>誤服毒藥</h4>
<p><u>【歌】</u></p>
<p>誤服湯丸胎氣傷，攻衝腹痛實　徨，先煎甘豆湯頻服，知母芎歸亦可嘗。</p>
<p><u>【論】</u></p>
<p>立齋曰：妊娠誤服毒藥，胎動不安者，甘草、黑豆、淡竹葉水濃煎服以解之。若頓仆，用阿膠散送知母丸。若下血腹痛，佛手散、子母丸。去血過多，八珍東加益母。</p>
<p><u>【方】</u></p>
<p><u>阿膠散</u></p>
<p>生地　當歸　白芍　阿膠　黃　艾葉　甘草　砂仁</p>
<p><u>知母丸</u></p>
<p>知母（焙，為末）</p>
<p>棗肉丸如彈子大，每服化下一丸。</p>
<p><u>白扁豆散</u></p>
<p>扁豆（生，為末）</p>
<p>每服三錢，米飲調下。</p>
<h4>孤漿</h4>
<p><u>【歌】</u></p>
<p>娠妊水下曰孤漿，脾弱元虛氣血傷，糯米黃　湯早服，免教子母兩分張。</p>
<p><u>【論】</u></p>
<p>《脈經》曰：婦人懷軀六七月，暴下斗余水，其胎必依而墜，此非時孤漿預下，氣血皆虛故也。大金曰：妊娠忽下黃汁如膠，或如豆汁，胎動腹痛者宜。</p>
<p><u>黃　糯米湯</u></p>
<p>黃　（六兩，炒）　糯米（五合）</p>
<p>一方有川芎，水七升煮三升，分四服，日三夜一。</p>
<h4>鬼胎</h4>
<p><u>【歌】</u></p>
<p>聞說鬼胎如抱瓮，面青脈澀腹如冰，雄黃斬鬼班玄散，先哲傳留暗室燈。</p>
<p><u>【論】</u></p>
<p>人之臟腑調和，氣血充實，則風邪鬼魅不能干之，若榮衛虛損，精神衰弱，妖魅魍魎得入臟腑，狀如懷子，名曰鬼胎。虞天民曰：鬼胎屬思想所致，蓋晝之所思，即夜之所見。凡男女之性淫而虛者，肝腎相火無時不起，故勞怯，人多夢與鬼交，故鬼者為胎也。非實有鬼，神交接成胎也。故曰思想無窮，所愿不遂，發為白淫白濁，流於子宮，結為鬼胎。本婦自己血液淫精結聚成塊耳。</p>
<p><u>【方】</u></p>
<p><u>雄黃丸</u></p>
<p>雄黃　鬼白　莽草　朱砂　巴豆（去油各五錢）　獺肝（炙黃八錢）　蜥蜴（炙）　蜈蚣（各一條炙）</p>
<p>為末煉蜜丸如梧桐子大，每服三丸空心溫酒下，頃下如蛇蟲乃愈。</p>
<p><u>斬鬼丹</u></p>
<p>吳茱萸　川芎　秦艽　柴胡　芫花（醋炙）　巴戟　巴豆霜　薑蠶蜜丸酒下七丸，出惡物愈。</p>
<p><u>班玄丸</u></p>
<p>斑蝥（炒）　玄胡索（各三錢）</p>
<p>末服五分酒下，酒糊丸服亦可。</p>
<h4>小產</h4>
<p><u>【歌】</u></p>
<p>婦人小產可寒心，或用芎歸或用參，去血過多宜大補，停痰昏悶服烏金。</p>
<p><u>【論】</u></p>
<p>《產寶》曰：凡驢馬有孕，牡者近身則蹄之，名曰護胎，所以絕無小產之患。人之胎，系胞中氣血養之，靜則神藏，躁則消亡，欲火一動則精神走泄，火擾於中則胎墜矣。齊仲甫曰：小產有下血不止、血凝不出二症，蓋血得寒則凝，得熱則行，若墜胎損經，其血不止，必煩悶而死。或因風冷墜胎，血冷相搏，氣虛血逆，甚則血結不出，搶上攻心，悶絕而死。當溫經逐寒，其血自行。若血淋瀝不止，是衝任氣虛，不能約束，宜膠艾湯。</p>
<p>大抵腹痛者為實，按之更痛，手不可近者，宜逐瘀生新，芎歸湯、失笑散之類是也。不腹痛者為虛，按之痛減者亦為虛，宜用溫補，四神湯、炮薑、肉桂之類。</p>
<p><u>【方】</u></p>
<p><u>烏金散</u></p>
<p>好墨（二兩燒赤醋淬七次，又燒赤放冷研）　沒藥　血竭（各五錢）　麝（一分）</p>
<p>為末每服溫酒調一錢，如血迷，童便調服二錢立醒。</p>
<p><u>當歸散</u></p>
<p>當歸（一兩五錢）　阿膠（三兩）　艾葉（一兩）　川芎（一兩）</p>
<p>每用四錢水煎入薑汁一匙，生地汁五合煎五六沸，溫服。</p>
<h4>異產</h4>
<p><u>【歌】</u></p>
<p>風雷晦冥合陰陽，惡氣乘胎產異常，更有異中還異者，相期博學漫推詳。</p>
<p><u>【論】</u></p>
<p>李時珍曰：胎十月而生常理也。而有七月、八月生者，十二、三月生者，十四、五月生者，或云氣虛也。</p>
<p>《醫學正傳》言：有十七、八月至二十四、五月生者。劉敬叔異死言太源溫盤古，孕三年乃生，豈亦氣虛耶。今孕七月生者多育，八月生者多夭，是七變而八不變也。《晉書》符堅母孕十三月而生，《漢書》堯及昭帝皆孕十四月生，劉聰母孕十五月而生，搜神記云黃帝孕二十五月而生，皆常中之異者也。胞門子臟為奇恆之府，所以為生人之戶，常理也。而有自脅產，自額產，自背產，自髀產者何也。豈子臟受氣駁離，而其系有不同。如宋史所記，男陰生於脊，女陰生於頭之類耶。《史記》云：陸終氏娶鬼方之女，孕而左脅出三人，右脅出三人。如修已背坼而生禹，簡狄胸坼而生契也。魏黃初六年，孔羨表言汝南屈壅妻王氏生男，從右脅下小腹上出，子母全安。異死曰：晉時李宣妻樊氏義熙中懷孕不生，而額上有瘡，兒從瘡出。又趙宣母妊，股髀作癢，搔之成瘡，兒從瘡出。嵩山記陽翟有婦人妊三十月，兒從母背出，五歲便入山學道去。琅琊鈔云成化中宿州，婦孕脅腫如癰，及期兒從癰出，瘡　隨合，其子名佛記兒。隆慶五年二月唐山縣民婦有孕，左脅腫起，兒脅生，子母俱無恙，此皆產理異中之異者也。女子二七天癸至，任脈通，故有子。七七天癸絕，無子常理也。乃有十二歲而生子者，如褚記室所載，平江蘇達卿之女類是也。有婦人五十、六十而生子者，如遼史所載，亟普妻年六十生二男一女，此則異中之常者也。《玄珠密語》曰：人生三子主太平，人生三女主淫失，政人生十子，諸侯競位。人生肉塊，天下飢荒，此就人事而論，氣化所感，別有所關也。如西樵野記載，嘉靖己酉橫涇佣農孔方忽患膨脹，憒憒幾數月，自脅產一肉塊，剖視之，一兒肢體，毛髮悉具也。又有人生於卵，生於馬之類，徐偃王之母產卵，棄之，孤獨老母取伏之，出一兒。漢末有馬生人，名曰馬異，此皆造化無窮之變異也。</p>
