<header data-type="book">
<h1>重訂囊秘喉書</h1>
</header>
<h2>張序</h2>
<p>《囊秘喉書》一書，前年俞金門別駕刊刷送人，蓋欲使窮鄉僻壤之區，無醫可延者，得此書亦可以依症檢方，依方服藥，人人得以自治，其用心可謂至矣。自刊至今，十余年矣，前印之書，早經送罄，版又遺散無存，諤思推前輩樂善好生之意，欲重行刊刻，以公諸世。無如才識譾陋，有志不逮，屢執筆而屢廢者矣。今逢紹興醫藥學會成立，發行報紙，且有古籍選刊一門，敢不貢獻以效采芹，苟能推此書而普及天下，則凡患喉症者，均可脫至險之途，而登仁壽之域。庶幾不負作者之初心，俞公印刷之本意，及余之推展之素愿也夫，是亦生民之福祉歟。爰述大概而為之序。</p>
<p><u>中華民國四年歲次乙卯七月常熟張諤汝偉書於壽石居</u></p>
<h2>俞序</h2>
<p>吾邑陳巷，有陳任者，少任俠。道光季年，緣事戍潼關，任子薇卿，念父遠戍，比長，習刀槊，二十余年，獨身赴戍所省父，尋遇赦得歸。任弟坤培，工擊刺，兼擅方伎，尤精於喉科，藥奇效，不輕傳其方。咸豐庚申，粵寇至，坤培率其子芝珊，拒賊於道。步橋旁，有偃柳臥河之半，坤培踞柳巔，賊來自高岸，舉槍仰擊之，輒中其目。賊憤甚，銜碗蔽目，如牆而進。芝珊抱父走，坤培怒，揮芝珊去，獨迎戰，攢刃死，賊復醢而焚之。芝珊痛父死，誓復仇，在大壩橋殺賊百余，一日復持刃，乘間連殺十三賊。承平三十年，掛刀於壁，每天陰月黑，刀環　然，血斑斑如拭。芝珊老而聾瞽，道當年殺賊事，怒氣猶勃勃。吾鄰嚴春岩子幼》也。是歲秋冬起喉症，次年春尤盛，間取其一二方，制藥施輒驗。思傳其書，而體例HT　駁，方名詭異，囑新陽王君士翹，吾友蕭君中孚，厘定之。二君參考諸家，存精義而歸於馴雅，胡君鶴年，勸同人醵資付剞劂，至作是書者，為楊龍九氏。近代莫舉其名，若無陳氏珍秘，則山嚴屋壁，淪毀幾何？又非僅楊氏書一端已也。</p>
<p><u>光緒二十八年十二月海虞俞養浩鐘鑾撰</u></p>
<h2>凡例</h2>
<p>─　是書原稿，本無凡例，茲特增入評注圈點，故列凡例。</p>
<p>─　是書雖為喉科而設，實於溫病傷寒，均有關系，能於此書貫通悟徹，不惟可治喉症，一切外瘍虛實標本之意，均可悟出。</p>
<p>─　是書凡著眼處，必加圈點，以使閱者醒目，間有竊附鄙意及治案，必加（諤按）二字，以醒眉目。</p>
<p>─　是書共分兩卷，其體例悉遵其舊，篇末另附治喉秘方，皆系諤搜羅諸家之精萃，並深心研究而得，幸無以淺近而忽之。</p>
<p><u>甲寅年原歷八月海虞張諤附識</u></p>
<h2>卷上</h2>
<h3>診法</h3>
<h4>診喉症當辨內外二因</h4>
<p>喉症切脈，須辨內外二因。內因，系房勞傷腎，鬱怒傷肝，或喜啖煎炒炙爆，熱傷肺胃，熬損陰津，逐漸而起，脈宜細數有力，忌芤澀；外因，感六淫之氣，邪客肺胃，痰火上壅，驟然而發，脈宜浮洪滑數，忌急促無神。結代沉伏者，不治。舌病脈當左寸大於右手，牙病脈當右關大於左手，正者為順，反者為逆，醫者須明辨治之，診脈合症，萬無一失。【諤按：舌為心苗。舌病，脈左寸大於左手者，心火熾而肺氣鬱也。牙為骨余，而齦屬脾胃。牙病，脈右關大於左手者，脾胃之熱戀而肝膽之氣不疏也。】</p>
<h4>論脈之部位及其現狀</h4>
<p>夫脈有表裡定位。右手寸口，表手陽明大腸（傳道之官），裡手太陰肺（相傅之官），脈浮澀而短。右手關部，表足陽明胃（倉廩之官），裡足太陰脾（諫議之官），脈緩而散大。右手尺部，表手少陽三焦（決瀆之官），裡手厥陰心包絡，命門（臣使之官），脈緩而悠洋。左手寸口，表手太陽小腸（受盛之官），裡手少陰心（君主之官），脈悠洋緩散。左手關部，表足少陽膽（中正之官），裡足厥陰肝（將軍之官），脈沉而弦長。左手尺部，表足太陽膀胱（州都之官），裡足少陰腎（作強之官），脈虛細（女尺宜大），三部之脈，呼吸四至為平，反此則病，遲寒數熱，細緩虛寒，細數虛熱，脈位既定，乃審苗竅。【諤按：此言診脈大端。簡而賅，要而明，若欲窮源溯洄，尤當博考群書，方臻完善。】</p>
<h4>論舌之部位及其所屬</h4>
<p>舌屬心。舌之中屬心，舌根亦屬心。舌之四圍屬脾。舌邊紅，屬心火。舌苔白寒黃熱，焦黃熱甚，黑者熱極，若黑而潤為假熱。喉之左右通舌根，屬肝。小舌名帝丁。屬胃，又屬腎。</p>
<p>右喉屬肺胃，左咽屬肝心。右為喉，左為咽。口上顎屬胃。下顎屬脾。牙上齦屬胃。下齦屬脾。唇之屬與齦同。齒屬腎。上齒為胃脈所經，下齒為大腸脈所經。小腸三焦循心，上入於咽。腎之脈循喉嚨，挾舌本。外兩耳垂下屬肝經，繞咽，並耳後清空之地，亦屬肝經。喉花為帝中（性命所關），舌下紫筋為舌系，下通於腎。【諤按：挾舌本下二句，疑有誤，考《內經》腎之脈，正者，至舌本而盡。汪　庵注：謂絡於橫骨，終於會厭，未嘗走及兩耳，而肝之脈，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔，腎肝二經，並非行於兩耳，惟足少陽膽，正者，下耳後，其支者，從耳後入耳中，出走耳前。此是膽脈之誤，茲特訂正之。（是）】</p>
<h3>辨症</h3>
<h4>咽喉症有虛實寒熱之不同及其治法論</h4>
<p>夫咽者，水穀之道路，喉者，呼吸之門戶，乃人身要害之地。症雖不一，大要總歸於火，蓋少陰少陽，君相二火。其脈並絡於咽喉，故往往為症之所結敘。經云：一陽一陰，結為喉痹。痹者，閉也。不通其閉，則火鬱痰塞而死。火乃痰之本，痰乃火之標，故言火，則痰在其中，言咽喉，則牙舌亦包羅於內矣。【諤按：濕夾熱而生痰，火載氣而上逆，痰隨氣涌，化痰以降氣為先，氣因火逆，降氣以清火為要，此為治喉症之不二法門，即伏邪之已化熱而挾痰火者，亦當宗之。若表未清而挾飲邪，熱未化而有食滯者，不可輕試。】火有虛實。實火，因過食煎炒炙爆，蘊熱積毒，其症煩渴，二便閉塞，風火生痰上壅，將發喉痹，必先三日，胸膈不利，脈弦而數。治宜先去風痰，後解熱毒。虛火，或飲食太過，或因忿怒，或因色欲，火痰上攻，咽喉干燥，必二便如常，少陰脈微虛。治宜補虛降火。【諤按：此補字宜看得活。】凡用藥不可純用寒涼，取效目前。【諤按：早用寒涼，爐焰之火雖熄，灰中尚有餘火也。】蓋上熱未除，中寒復起，毒瓦斯乘虛入腹，胸前高起，上喘下泄，手足指甲青黑色，七日以後，全不進食，口如魚口者死。治喉症最忌發汗，誤人不淺，如針出血，即汗之之義。若寒傷於腎，及帝中腫者，尤不宜針，至如內傷虛損，咽喉失音，無法可療。喉症初發，一日即見寒戰，戰後身涼，口不碎，又無重舌，或二便俱利，不可認作熱症，此上盛下虛，其痰不可提盡，此痰即津液所化，只宜消降，亦不可太降，其與熱症乳蛾、HT　舌之痰毒腫一處，以消盡毒痰而愈者不同。若提盡，則津竭神枯，必死。須以吹藥，或用燈草取嚏，使喉一通，即服煎劑。第一劑，發散和解。第二劑，養陰溫補。設三四日後。再發寒戰，或心痛、骨痛、腳痛、等症，皆屬難治。發時牙關緊閉，喉舌俱脹，口碎而臭，或有重舌，及舌有黃屑。發後，下午再發寒熱，二便閉寒，即作熱症。【諤按：天氣彌漫鬱蒸，地道必不能通，所以果屬熱症，大便必堅。】芩連敗毒散主之，此亦易愈之症。如漸至三四日後，而寒熱者，雖凶亦不為患。惟牙關反不緊閉，唇不腫，口不臭，又無表熱者，難治。舌、以筋押之，其色雪白，起筋即紫紅色，此血肉已死。（原注：舌押之即白，未必為死也。）然口臭者，或有可生。【諤按：胃氣尚存，故得上熏於喉而為臭，其毒有向外出之機也。】若口渴氣急，痰多而稠，如桃膠者，則死期已速。一頸具紅腫者，亦危症也。面帶紫色，面青帶白，神氣虛者，俱難救，不語者死。略能語者，尚有可生之機。面色無神，喜坐低處，難治。喉花為帝中，性命所關，舌下紫筋為舌系，下通於腎，白腫不治，傷之即死。凡治不可不審之。</p>
<h4>論纏喉風不宜過用滌痰</h4>
<p>凡纏喉風，及一切喉症，去痰太多，則內必虛。如陰症傷寒一般，必用人參，少加肉桂，導火歸元，方可醫治。唇白者，不治。頭面項腫者，無妨。如紅腫至胸前，難治，因毒瓦斯攻心也。（原注：紅腫至胸前，余父曾治謝姓客，前劑中用護心散而愈。若不用此，毒歸於心，笑不休而死。）無痰者不治。痰去太多，則精神已竭，病雖似好，飲食如常，不知者，以為全愈，殊不知少頃即發，脈細即死。如未譫語，急用人參可救。氣急，不治。病久寒戰骨痛，不治。寒戰一日外，即死。唇如胡桃肉色，不治。醬色，亦不治。使病患與好人同坐，衣冠若無病者，【諤按：衣冠二字，不妥，宜易氣色二字。】見其唇上，有如桃膠黏痰，不出一語者，即刻死矣。唇如朱紅漆色，不語者，醫至，終日，即能語。【諤按：此與轉筋同意。】先寒熱而後發症者，極重。如寒熱同喉症齊發者，亦重，然不致死，此驟發而言也。【諤按：凡喉症之屬於陰虛者，皆由相火不潛，而真陰漓散也。治宜用導龍歸海法，據其窟宅而招之，非尋常感受風熱之喉症可比。】又喉症有漸發驟發二端，漸發者多活，驟發者多死。漸發者輕，驟發者重。然驟發即治，亦不致死。漸發失治，亦多致死。此是喉症總綱吃緊之論。</p>
<h3>類證</h3>
<h4>（一）乳蛾</h4>
<p>有單有雙，有連珠，多因酒色過度，郁結而生。初起，一日疼，二日紅腫，三日有形。</p>
<p>如有細白星者，若發寒熱，即飛蛾之凶症也。四日凶勢定，治之，四五日可愈。其症生於喉旁，左屬心，右屬肺。又云：在右者為喉，肺病，因氣而得。在左者為咽，胃病，因食熱毒而生。一邊者單，二邊者雙，二星上下相連，狀如纏袋，又如蠶繭子樣者，為連珠，單者輕雙者重，連珠者更重，發寒熱者凶。若傷寒後，患蛾及閉者，不治。又有急者，旦發暮死。又有慢蛾風，四五日可治。又血蛾，用銀針挑破血泡，即愈。【諤按：甲寅秋，張蘭章夫人，痰凝氣滯，木鬱不達，近感風邪，包裹裡熱，蘊而不化，咽喉偏右白腐頭痛，咳而無痰，單乳蛾之凶症也。脈細弦，苔白，用宣肺疏氣化痰清熱法，炒荊芥、桑葉、杭菊、杏仁、連翹、象貝母、廣鬱金、製香附、黑山梔、朱赤苓、生決明、蛤殼、白蒺藜、薄荷葉、玉桔梗為方，外吹，用師授中白散、柳華散，合冰梅丹，一劑霍然，（中白散諸方，另載於增錄一束內</p>
<h4>（二）喉菌</h4>
<p>因憂郁過思，血熱氣滯而生，婦人多患之，狀如浮萍，略高而濃，紫色，生於喉嚨兩旁，難求速愈，輕則半月，重則月余。治者要得法，患者須守戒，忌口戒欲，並一切毒物。【諤按：此症如四七、烏沉、二陳、半、貝、旋覆花湯，及逍遙丸之類，均可選用。】</p>
<h4>（三）蟻毒</h4>
<p>項下忽腫一塊，漸延至頸，偶破，出水碗許，爛久不合。此因食中偶食毒蟻所生，故名之。初起者，易治，久者難痊。</p>
<h4>（四）喉癬</h4>
<p>此虛火上炎，肺受燥熱，致攻喉間，生紅絲，如哥窯紋，又如海棠葉背紋。干燥妨食，或痛或癢，雖不喪命，亦難速愈，如用藥遲延，不守戒忌，必生重症。久則失音不救，勞症多患之。【諤按：凡患喉症，均當忌口戒欲。前於師處臨診，見有一石姓女者，患咽痛，經師治愈後，忽一日復來診，猝然失音，帝丁紅腫，診脈尺大而浮，知其不戒欲之故。乃用養陰攝納至。實非喉癬症，積習之陋，可嗤可嘆。】</p>
<h4>（五）塞喉風</h4>
<p>喉痹敘毒，痰涎稠實，而發寒熱，關上可治，關下難治。【諤按：塞喉風純系痰氣阻塞，用余自製霹靂針開關，繼用中白烏牛散及柳華秘藥吹之。內服以滌痰通便為要。】</p>
<h4>（六）喉癰</h4>
<p>因過食辛辣炙爆，濃味醇酒，感熱而發，或七情郁結而生，皆屬肺病。（景華按：林佩琴云：胃大腸二經，喉間無形，但紅腫而痛，重者亦發寒熱，頭疼四五日可愈。有白星者為蛾。無星者名癰。）</p>
<h4>（七）HT舌喉癰</h4>
<p>肥人感熱性躁，多生此症。凡舌下生如小舌樣者，為HT　舌，如連喉腫痛為喉癰，此乃心脾二經之鬱火，上攻使然。HT　舌兼喉癰並發，其勢最重，速治可愈。傷寒後發者，難治。如氣閉不通，無形無聲，多是危症。【諤按：又有一種外喉癰，咽喉不痛，生於頦下，紅腫穿潰，一候即愈。甲寅秋，治一張姓者，暑熱內蘊，透發肌膚，暑癤瘰瘰，頦下結核，紅腫作痛，已成下喉癰，勢難消散。宜清營化毒，速潰速愈，以止其蔓。方用銀花、連翹、大貝母、薑山梔、防風、赤苓、苡米、夏枯草、蟬衣、竹葉、西赤芍。服一劑後，即用刀開，潰後膿泄稀少，腫勢不退，脈弦勁，宜托毒化膿，腫消為要。方用炒牛蒡、炒荊芥、防風、連翹、大貝母、金銀花、黑山梔、蟬衣、鉤鉤、白蒺藜鹽水炒、生甘草、地丁草、薑、竹茹、薄荷葉，外摻自製去解妙丹，一候即愈。（內癰以不潰為妙。）】</p>
<h4>（八）纏喉風</h4>
<p>因心中燥結而發，先二日，必胸膈氣緊，呼吸氣促，忽然咽喉腫痛，手足厥逆，頸紋如縛，熱結於內，腫繞於外，且麻且癢，喉中紅絲纏緊，指甲或白或青，手心壯熱，喉腫而大，痰聲如鋸。其症最急，初起即治，可救。若過一日夜後，目直視而睛定，聲如雷鳴者，不治。探以燈火近患人口邊，即吹滅者，不治。若見喘急，額汗，危在旦夕矣。腎經有熱致令心火盛也。（原注：吹丹內必加牛黃為妙。）【諤按：纏喉風較塞喉風，勢猛而險，一則開關化痰而愈。一則必須顧及少陰，而初起總以開痰為要。】</p>
<h4>（九）喉刺</h4>
<p>多因勞病未愈，虛火上炎，營血已竭，其症上顎有紅點，密密如蚊嚙痕。此是危篤將殂，慎勿視之，以取謗怨也。</p>
<h4>（十）酒毒喉痹</h4>
<p>外見赤腫，內形如雞子，其色鮮紅，光亮如鏡，發熱惡寒，目睛上視。此心脾積熱，形象雖凶，速治可愈。【諤按：河間論治喉痹，猶之救火，即《內經》火鬱發之之意，發為發汗，然咽喉中不能發汗，故出血者，乃發汗之一端。】</p>
<h4>（十一）喉瘤</h4>
<p>生於喉間兩旁，有單有雙，形有圓眼大許，血絲相裡似瘤者，故名之。此因肺經受熱，多語損氣，或怒中高喊，或誦讀太急，或多飲燒酒，倘吃炙爆硬物，犯之即痛，不犯不痛。須斂神晏息，以清降之藥治之，便愈。【諤按：此與梅核氣症相似，因於七情郁結，痰凝氣滯而成。不可妄用刀針，宜吹余冰梅丹，合白金散，內服如四七、越鞠、旋覆、蔥絳之屬，可冀向愈。】</p>
<h4>（十二）喉肉球</h4>
<p>如圓眼核樣，有根線，長五寸許，吐球出外，方可飲食，以手輕捻，痛徹至心。此球是</p>
<h4>（十三）心出氣</h4>
<p>舌上忽有簪孔，出不止者，此屬心經火甚也。（景華按：此症是舌衄之類，治當補心清火。）</p>
<p>【諤按：此症用蒲連散摻之，內服如梔、連、翹、芩等，可愈。（出字下，似脫一血字。）】</p>
<h4>（十四）喉百葉</h4>
<p>咽喉中有生肉，層層相疊，漸腫有孔，出臭氣者，是因肺受熱毒所致也。</p>
<h4>（十五）牙槽風</h4>
<p>初起，先齒痛不已，復牙根肉即浮腫，紫黑色，或出血，久則腐爛而臭也。</p>
<h4>（十六）牙漏</h4>
<p>即前症相同，久則不愈，齒縫出白膿，極難調治，甚則齒落。如落上左邊門牙，一概不治。以上二症。俱屬胃腎虛熱也。</p>
<h4>（十七）牙HT</h4>
<p>屬胃火，如豆大，或內或外，生無定處。</p>
<h4>（十八）牙宣</h4>
<p>齒縫出血，上屬脾，下屬胃，實火上攻所致。亦有胃虛火動，腐爛牙根，以致滲漏不已。</p>
<h4>（十九）牙癰</h4>
<p>初起，生一小塊於牙根肉，或上或下，或內或外，其狀高起而硬，此脾胃火也。【諤按症患者極多，大都內蘊熱而外束風邪所致，必牽引頰車，牙咬為之開合不利。宜用大豆卷、桑葉、荊、防、角針、僵蠶、象貝、連翹、薄荷、甘桔、川芎、蟬衣、鉤鉤、蒺藜之屬，一二劑即愈。余治此症，屢試屢驗。昧者用膏藥一貼，悶成壞症，伙矣。】</p>
<h4>（二十）牙菌</h4>
<p>生於牙根，紫黑色，高起如菌狀。此系火甚血熱，而兼氣滯，或好飲燒酒，酒濕傷脾，濕鬱生火，致有此症。【諤按：此症宜用苦辛溫法，疏氣化痰，兼解毒治之，如銀花、甘草、綠</p>
<h4>（二十一）穿牙疔毒</h4>
<p>先三日牙疼，發寒熱，痛不可忍，牙根上發一塊紫色者是，未破者為疔，已破者為毒。</p>
<p>其色紅者可治，如青色者不治。</p>
<h4>（二十二）走馬疳</h4>
<p>或因胎毒，或痘後發毒攻齒，牙根腐爛成疳，殺人最速。鼻梁發紅點如珠者，不治。</p>
<p>惟螻蛄散可治。疳如醬色，一日爛一分，二日爛一分，故曰走馬，以喻速也。齒落盡者死。</p>
<h4>（二十三）小兒走馬疳</h4>
<p>及牙槽風，俱要防齒落，左邊上門牙，為牙中之主，此牙一落，則余牙盡落矣，最重難治。若此牙不落，別牙雖落，治之可生。穿腮不治。有螻蛄散可治。青黑色者，難治。痧後疳，單用梧桐葉煎湯洗腳，即刻痊愈，應驗如神。【諤按：走馬疳之猝起者，宜用涼藥。若系病後而起，宜用附子、半夏加蔥白，搗爛，扎腳底，可愈。相傳單方極多，類皆有效有不效，總之隨起隨治，尚有可愈之理。惟此症之涎唾極毒，一切器具，如押舌等，用後必須揩擦干淨，免致傳染。】</p>
<h4>（二十四）崩砂口疳風</h4>
<p>是舌下，牙根上，腫赤，口內作痛，如湯熱，牙根漸爛。亦能脫落牙齒。</p>
<h4>（二十五）舌癰</h4>
<p>舌赤腫大，屬心經火盛，地角亦紅腫，又舌上腫痛色黃，名舌黃，亦屬心火。【諤按：此與下三症，均宜大清心熱，用犀羚合敗毒散之類，並宜吹秘藥及孟英錫類散等。均妙。】</p>
<h4>（二十六）重舌</h4>
<p>舌下生小舌樣，其色或紅或紫，又名雀舌。小兒胎毒，亦有患此。</p>
<h4>（二十七）蟬舌</h4>
<p>亦前症之類，如生舌根，連喉腫者，名為HT　舌，非比重舌易治，治之不明，恐難速愈。</p>
<p>此心經受熱，毒瓦斯出於舌下也。</p>
<h4>（二十八）連珠口疳風</h4>
<p>自舌上起一小泡，發一個，又一個，甚者七八個，連珠而生，舌黃，舌上腫痛，獨生舌中者，名為舌楊梅，俱屬心火。治用口疳藥吹之。</p>
<h4>（二十九）木舌</h4>
<p>舌腫大如煎熟豬肝，不能轉動，是憂郁所致。又有一種，生舌根下，狀如白棗，即重舌，有按：此屬陰症，治宜大辛溫，蒸動腎陽方可。若用寒涼，便誤。】</p>
<h4>（三十）蛾口</h4>
<p>一名雪口。初生月內小兒，滿口舌上白屑，如蛾口樣者，故名之。形如腐衣，後變黃色，轉如黑色者，不治。若口如魚口，或作鴉聲者，難治。此心脾積熱，又名迷口。【諤按：此症余用柳華散吹，另以真青布濕薄荷水拭之，極效。】</p>
<h4>（三十一）馬牙</h4>
<p>初生小兒，胎內已受熱毒，見風而生，但看牙根上有白色，如脆骨者是。此症初發，必打噴嚏，含乳在口，或吞或吐，而不吮，其病已深，若不急治，入腹而死。凡百日後，不患此</p>
<h4>（三十二）懸癰</h4>
<p>生於上顎，形如紫李子樣，墜下抵舌，其人口不能言，舌不能伸，頭不能低，仰面而立，鼻中時出紅涕，若不速治，至毒入腦，即死。又有一種（堅俱蟲毒風），上顎略腫，水食不下，狀如雞子，如破爛穿顎，即名天穿，不治。（景華按：堅俱一二字，文理不通，想傳鈔之誤，姑存之備考。）</p>
<h4>（三十三）松子風</h4>
<p>口內滿喉，赤如肝脹，口吐物出，氣逆關閉，不能飲食，凶症也。</p>
<h4>（三十四）結毒</h4>
<p>隨經絡而發，或口，或舌，不拘定處，爛久不愈者是也（認定經絡部分）。【諤按：結毒隨症皆有，不必喉症為然。】</p>
<h4>（三十五）紫舌脹</h4>
<p>屬心火，內必煩躁悶亂。</p>
<h4>（三十六）舌菌</h4>
<p>多因氣鬱而生，如菌狀，或如木耳樣，色紅色紫，皆屬心火。治用金丹、碧丹和吹，內服煎劑，同舌癰法。</p>
<h4>（三十七）帝中喉風</h4>
<p>即喉嚨花腫脹重者，至於發泡，蓋塞咽喉，氣難呼吸。此屬腎虛火旺，並感風熱而生。</p>
<h4>（三十八）頰癰</h4>
<p>胸前紅腫，形現下外，亦欲內攻，甚則喉腫閉而出膿。</p>
<h4>（三十九）蜂子毒</h4>
<p>與前症相似，或在臉腮，癢爛，或在喉間舌下，色黃如蜂者，凶症也。</p>
<h4>（四十）面癰</h4>
<p>與前症相仿，又名爛頰風、腮頰風。毒結盡牙處腫，大抵皆屬鬱火也。</p>
<h4>（四十一）托腮癰</h4>
<p>生於腮下，因過食濃味，多因醇酒熱毒所結而生也。</p>
<h3>治法</h3>
<p>（一）治病必須明症，用藥不可閉門捉賊，又不可引賊入門，反增他疾。凡治喉症，皆君相二火，法當清降，表裡同治，驅放賊邪為要。然不可混用石膏妄清肺胃，關門留賊，傷咽而斃。如舌症屬心脾二經之火，又宜表裡兼治。亦不可亂用芩、膏，妄清肺經，引賊入門，致生喉脹痰塞之患。又如牙症屬脾胃二經之火，不可反用芩、連，妄投過經藥味，致有喉舌腫脹之患。他若溫熱病後，腎液干枯，不能上潤於心，心火發動上衝，咽喉干痛，宜用清心滋腎為主，知柏、川連、麥冬、朱砂等味可愈。不可誤投表味。若用發散，必致精竭神枯而死。</p>
<p>學人須審準經絡，方可下手，不得混行施治。【諤按：此段論喉症治法極精，示人以不可妄涼，確有至理，然亦有宜涼者，須合苔脈方可，不得膠柱豉瑟也。】（二）凡喉症先用吹丹一二管，使其痰出，視其痰濃否緊否，如痰起濃黃緊，扯捺不開，痰黏藥管，難拭去者，危症也。如吹初管藥，其痰多緊而不出，其勢危急，死在須臾。將吹丹用薄荷、竹瀝泡湯，冷透，投入，調勻灌之，自無痰塞之患，此心法也。【諤按：亦有宜針啞門、少商、曲池、廉泉等穴，而後肺氣不致蔽塞，內關得以開轉者，針後，再用霹靂針吹之，痰無有不吐之理。惟服竹瀝一兩者，必滴入生薑汁二三匙，方妥。】（三）凡喉症頸項赤腫，深受時毒，赤腫不可至胸，至胸必死，謂之毒歸於心，其人必歡笑。與煎劑同服，護住其心，多服解毒之品，使毒漸平為妥，亦心法也。</p>
<p>（四）凡咽喉齒舌症，須辨內外二因，虛實二火。虛者或病後，或酒色，虛火上炎，宜養陰降火，又須守戒耐心，自能漸愈；實者因感時邪，觸動君相二火，重者寒熱頭疼，先宜清泄清散，開結逐毒滌痰之法，並行為妙。清心用犀角，清中有散，不宜黃連、黃芩苦寒，【諤按：如舌尖深絳有刺，亦有可用之處。】恐扼火毒，使痊後復發。泄散宜用葛根、薄荷、防風、青蒿（然葛根最竭胃汁，不宜輕用，青蒿易荊芥為妙），不可用升麻、柴胡、桔梗，【諤按：今之桔梗，率是薺　，亦有可用處，惟宜輕。】升提其火，然芩、連亦有用之者，齒舌之症，用亦無妨。火邪鬱結於中，而用大黃、芒硝下之，人症俱實，瀉火後，症消而愈，是霸術也。務期認症的確，方可行之，若稍差遲，為禍非淺，愚謂症退而火自泄，津液回而大便解，亦秘法也。</p>
<p>（五）凡陰虛喉痹，口舌生瘡破爛，或聲啞者，皆水虧火旺之症。初起宜加味射干湯，次用滋陰消痹湯。亦有未成勞瘵，遽然音啞，以致嗽唾無休。偶或飲寒，或過用涼劑，郁其火於肺。初宜清肺散火湯，驅寒氣以泄火邪，次用滋陰降火清肺之劑。如喉痹腫痛，甚者加味射干湯，或用熊膽冰黃散吹喉中。如喉痹延及口舌，生瘡破爛者，柳黃散搽之。陰火上炎，未成勞瘵，遽然聲啞，有痰嗽者，清肺散火二三劑後，用滋水開陰湯。</p>
<p>（六）喉症至五日則重，如三日前，症雖重，尚未成膿，藥能消散。若至五六日，患處多成膿矣，縱使穿破，必有爛窠難愈。爛處必用口疳藥，多加龍骨、兒茶，疊吹而愈。凡傷寒後患連珠乳蛾，及喉痹者，不治，惟張氏有治其喉症。頸項強硬，目睛上視，氣絕者不治。喉痛起至一二日，未必發寒熱，病尚輕緩。若至第三日，必發重症，必加寒熱，須問大小便通利否，如二便俱利，其症不過浮游之火，攻於咽喉，宜服清風清熱降火之藥，即愈。若大小便不通，內有實火，若非用降火解毒之劑，兼通二便之藥，火從何而泄，病如何而解乎？故症有輕重，病有緩急，要問其頭痛不痛，如痛，則是傷寒難治之症也。【諤按：多加龍骨、兒茶，亦非所宜，若內蘊之熱毒未清，則江河易於潰決也。】（七）喉症雖凶，若腫發於外，危症雖見者，治之易愈。</p>
<p>（八）帝中腫脹，雖難吸氣之重症，速治即愈，遲則亦重矣。喉症必大便去後，方可望痊，如大便閉結，不可輕許其愈。【諤按：此即地道通而天氣降，釜底抽薪之意，亦有大便雖通，而虛陽上逆，腫痛極甚者，宜用養陰清化，治白喉法是也。】（九）喉症初起，大便閉結，宜大黃、元明粉，兼用表裡之品下之，則降火而易痊。若五六日久不食，大便閉塞，此由病久，胃氣已虛，元氣已弱，禁用硝黃，不可妄投霸劑，以致虛脫而死，欲通其便，只宜養陰降火，兼蜜導等潤藥下之，此秘法也。若用硝黃，須診其脈，來有無力，可下則下之。【諤按：右關沉實有力，或滑數鼓指者，均可下。】（景華按：風火喉症，至喉閉時，氣血必滯，脈必沉澀，不可誤認無力，斯時憑症不憑脈，須審其胃氣之有無，如胃氣尚存，宜下之）。</p>
<p>（十）喉症吹藥，必要直對喉中周遍，重吹四五管，方可消降毒痰，三四次後，用煎藥，（十一）喉症先碎，須長肉藥吹蓋破處，後用諸吹藥頻吹，腫消為妙。</p>
<p>（十二）喉症一二日腫痛，三四日勢定有形，每至三日猶發寒熱，或頭疼，須刻刻吹藥，可緩，即知生死在幾日間矣。（景華按：婦人喉症腫痛，經水適止，火不下達者，宜通其經而喉自愈。）【諤按：此即所謂熱入血室也，不獨喉症為然，傷寒溫病，均有此症，宜清營分而愈。】（十三）凶喉之症，頭面發腫，白亮無光彩，脈來沉細無神，是神氣外泄，無陽之症也，斷不可治。若面發紅腫，脈洪大有力，症雖極重，元氣尚強，毒火雖盛，治之易痊。</p>
<p>（十四）腮易腫爛，用筷縛絲綿，蘸水輕攪患處。痛者，用藥必愈。若不知痛者，是死肉，難愈。</p>
<p>（十五）舌腫脹滿口，吐舌在外，難以納藥者，用開關散吹入鼻中，牙關自開，痰涎自出。然後用筷卷綿，蘸甘草湯，潤其口唇，後送丹散，頻吹而愈。</p>
<p>（十六）吹藥非惟腫破患處要吹，並周遭好肉上，亦須吹之，方免延開，且易於愈也。口舌等症，吹藥後，如舌上無涎，或如干橘囊者，不治。</p>
<p>（十七）口舌腐爛，無血出者，不治。穿腮者，不治。爛至鼻梁，發紅點者，不治。惟張氏有治。如舌腫大，用生黃柏，加冰片敷之。若出血，用炒黃柏、冰片，此妙法也。</p>
<p>（十八）如患HT　舌喉癰，若大便閉結，煎劑內加元明粉、大黃。小便不通，加六一散調服，服之甚效，此心法也。</p>
<p>（十九）如患牙咬癰，則牙齦肉脹突出，牙關緊閉，口不能開。先用甘遂散配製巴豆少許，吹入牙齦內，用押舌器，漸漸擦開牙關，用藥頻吹而愈。</p>
<p>（二十）口疳用絲綿輕攪，切不可用青布，恐患處受傷，難愈。合藥取於辛散，以細為主，收儲不可出氣，須用烏金紙塞緊瓶口為妙。凡不經火之藥味，宜晒脆為末用之。</p>
<h3>藥例</h3>
<h4>總論</h4>
<p>喉症用藥，必須認症的確，按脈之虛實，火之盛衰，須要活潑，不可按圖索驥，又不可膠柱豉瑟，乃為善治。若症有寒熱頭疼，六脈弦緊，始發必須表散，須兼清火、開結、滌痰、解毒山豆根，此清心胃腎之火；蘆根亦清胃火三焦火；黑山梔，肝鬱火；青黛，開鬱結：射干、川貝，滌痰；淡竹油、前胡、杏仁、橘紅、大力子、解毒。大貝母、甘草、金銀花，寬癰，天花粉、赤芍。小便赤澀，木通、通草、車前子、鮮荷梗；胸膈飽悶，枳殼；大便閉結，六脈有力，舌苔黃，壯火，大黃、鮮生地、元明粉；腎經虛火，可用知母、黃柏，投之無不驗也。如舌症，舌乃心之苗，宜用清心解毒，前法可用，舌症之毒，可用伏龍肝、燈心為引。牙症，乃脾胃之部，清用石膏、生地、知母、黃柏、黃芩、黃連，或炒黑升麻為佐，解毒用人中黃、人中白、金汁，若穿牙疔與牙咬癰，用紫花地丁草，如素虛與病後，虛火上炎，可用滋陰降火，佐之以補，宜大生地、大熟地、枸杞、玉竹，洋參、人參、西黨參、北沙參、天麥冬、女貞子、黃香梨、甘蔗、首烏，虛熱，地骨皮、丹皮、丹參、鮮沙參、鮮首烏、鮮石斛、川石斛之類是也。略具大綱，以備選用。【諤按：此例可遵用者固多，不適用者亦有，在學人臨證時權衡，不可刻板方以治活病，斯得余重編之心矣。】</p>
<p>連砂散配製巴豆吹之，倘成膿黃熟者，用代針散吹之，出膿血而愈。重則煎劑中，下加黃連、犀角，上加赤芍、柴胡，雙蛾則兼用之。大便不通，宜加枳殼、元明粉，服下少頃，候大便通利，則症自愈。至三四日，看喉內，但有紅腫而無白星者，即是喉癰也。</p>
<p>八味薄荷散，連砂散加制巴豆吹之。治喉腫甚痛，用七味僵蠶散、甘遂散，入制巴豆頻吹。如重，並服煎劑，用犀角地黃東加減，並服膏丸。如大便秘結，加大黃、元明粉，如小便不利，加六一散。【諤按：余治喉症，用全栝蔞同元明粉打，生枳殼同風化硝打，輒效。後遇藥肆某君，謂余曰：風化硝與元明粉，即一種，何以本草別為二種？其主治又不同，故志於此，以質世之博雅，究竟同乎異乎？】</p>
<p>用喉癬方頻吹，百草膏，不時頻咽，再服煎劑，內加土貝母。下氣，忌憂思忿怒酒色，並雞蝦蟹羊鵝，豬首肝腸，一切毒物炙爆，及引氣動火之物，守戒一月，可愈。【諤按：土貝母</p>
<p>用連砂散加重，即用甘遂散吹之，亦須頻咽百草膏，兼用煎劑，不可間斷。又用噙化丸吞化亦妙，或七味僵蠶散，八味薄荷散吹之，先將山慈菇汁搽上，然後吹藥，則效速。【諤按：山慈菇可研末，和入吹藥中吹之，則簡便而取效則一也，惟分兩宜輕。】</p>
<p>煎劑中，須加犀角地黃湯，並用甘遂散，吹至舌根，及舌旁，時刻不可間斷，方可速愈。如癰勢重者，再配入制巴豆，兼吞上清丸。</p>
<p>最為急症，起時立用加味硝黃散，或甘遂散，周遭重吹，並內服煎劑。如便閉，加大黃、芒硝，並吞上清丸。如虛喉用噙化丸化咽，如症候太重，丹中加牛黃少許，吹之，稍遲則難救矣。臭花娘子根，搗汁咽之效。</p>
<p>如內外赤腫，閉塞不通，用牙硝、硼砂、食鹽，加入開關散少許吹之，立效。煎劑，加</p>
<p>如喉及牙關緊閉，難以吹丹，一時無以治療，症又緊急，頃刻之間，用蟾酥磨水，令患人仰鼻方。【諤按：　同鎖。鎖緊之意也。】</p>
<p>最為難愈。須患者斂神晏息為妙，用麝香散，一日夜連吹五六次，漸愈。並服清肺飲，</p>
<p>雖不損人，最難速愈，須令病患耐心為妙，急用麝香散頻吹，並服清肺飲，徐徐灌之。</p>
<p>急用赤小豆一升，杵碎，將水三碗，和搗取汁，每服一盞，不拘時服。再用槐花末摻之</p>
<p>用臭橘葉煎服而愈，如腫痛，用連砂散頻吹為妙。</p>
<p>連砂散配入去腐方頻吹，去其腐。後用口疳藥，倍加珠黃，再配去腐方，吹去紫色，獨用長肉藥，頻吹數日可愈。煎劑，養陰降火。【諤按：高錦庭云：此症患者，有二因，一生於風寒暑熱，陽明濕熱交蒸；一生於陰虧絡空，少陽膽火上逆。其膿結於盤牙盡處者，為牙咬。結於腮邊外，為托腮。結於牙根，為牙癰。如不急治，俱轉變為骨槽。治宜疏肝散郁，育陰為主，佐以解毒泄熱。此症當與下數條參觀自得。】</p>
<p>此即牙槽風疳疔毒破後結成，齒縫出白膿者，極難調治。槽漏兩症，須戒酒色一切辛爆毒物。調治用琥珀散吹之，如腐，亦同槽藥治之，煎劑用滋陰降火之藥，吹丹務要耐心，頻吹自</p>
<p>先用甘遂散入制巴豆少許，吹入患處，外用押舌器擦開牙口，再吹腫處，自然消退而愈，並服煎藥。</p>
<p>先用甘遂散，後用連砂散，並服煎劑，內加石膏、連翹治之。</p>
<p>內服煎劑，宜用扶脾清火之藥。外用珍珠散，將新綿花指大，捏成條，蘸水，再捏扁，蘸藥宣不止，仍用珍珠散吹之，先宜用涼血清胃之劑，此實火而言也。若牙根胃虛火動腐爛者，外吹長肉藥，內服清脾降火之劑。</p>
<p>連砂散吹之，兼用煎劑。如腫甚，宜加入甘遂散吹之。如腐爛，用口疳藥，長肉為度。</p>
<p>如重甚，用甘遂散吹之，並服涼血降火解毒之劑。如輕者用連砂散。若破黑腐，配合去腐方吹之。如無腐爛，並腐去淨，並用長肉藥，內加牛黃、珍珠，倍加兒茶，並服煎劑，方可用涼</p>
<p>連砂散吹舌根上，並用煎劑，內加犀角、川連、山梔。</p>
<p>陰陽散，先用生薑片擦之，後摻為妙，重用連砂散，並甘遂散吹之。煎劑，加川連、梔仁，灶心土水飛沖服。</p>
<p>薄荷、冰片摻之，並服燈心湯，加煎藥服。</p>
<p>用熏鼻方，將煙熏舌即收，並服清心煎劑，兼吹連砂散。</p>
<p>將芥菜子研末，醋拌，敷於頸上。內服清心之劑。</p>
<p>用柳仙散。內服犀角地黃東加減。如脹甚，用連砂散吹之。</p>
<p>通用柳仙散。</p>
<p>制穿山甲末，敷之愈。如碎難收口，配入長肉藥吹之，服煎劑解毒。</p>
<p>恐毒內攻，吹用連砂散，外敷三黃散。</p>
<p>如腫未成膿者，甘遂散。已成膿者，代針散吹之。如破者，用長肉等藥選用，並服百草膏。</p>
<p>一切惡毒臭爛，連砂散配去腐方，吹去腐肉，後用長肉藥。如腐未盡，去腐方再加長肉藥吹之，再服犀角解毒丸。</p>
<p>連砂散配去腐方，吹去黑腐後，用螻蛄散，合長肉藥吹之。如侵蝕口鼻，將蝕，吹之，並服解毒藥。</p>
<p>久破難愈，琥珀散頻吹。</p>
<p>風痰上壅，宜上清噙化二丸，審症虛實，吞化，並吹丹散，隨症選用。</p>
<p>速用　鹽點之，如有泡者，即將　鹽，配入冰片少許，指甲末研勻同吹。</p>
<p>連砂散，同桑螵蛸　末，吹之。</p>
<p>先將絲綿卷指，蘸水，拭去白翳，用柳仙散。如重換用連砂散吹之，內服犀角解毒湯，加連翹、大力子。如夾驚風，加薄荷、鉤藤。</p>
<p>將銀針挑破，出血，青布蘸溫水拭淨，以口疳藥或金墨搽之。</p>
<p>連砂散，合甘遂散，加急性子吹之。</p>
<p>服瀉黃散，吹柳仙散，或用井花水拌散，頻拭唇口。若舌口俱腫，合導赤散服，並吹連砂散。</p>
<p>連砂散加甘遂散、茜草根末吹之，立軟。</p>
<h2>卷下</h2>
<h3>醫方論上</h3>
<h4>（一）甘遂散</h4>
<p>原名息雷禁，凡仍原名者不注。</p>
<p>甘遂（六分，面裹煨黑，存性研末，提淨）　牙硝（一錢）　食鹽（炒二錢）　薄荷（二錢）　蒲黃（一錢）</p>
<p>硼砂（八分）　冰片（三分）</p>
<p>上七味研末，吹喉中，此咽喉急症之神劑，斬關擒王之大將也。專治九種喉痹，一切喉症，肉桂皮末。如死在須臾，加臘月黑魚膽，陰乾研末，各少許。如去膈下痰飲，加玉丹少許，重吹一管，須令病患低頭，流出毒痰為要，然不可過用，過則恐其痰盡津枯，難治。如喉風，本方加臭花娘根末十分之二。如結喉痹，本方加制巴豆少許。如赤甚，本方加川連末十分之一。如腫硬，本方加茜草根末十分之三。如喉癰雙連乳蛾，本方加制巴豆十分之三。如單蛾，只用連砂散加制巴豆，有膿則出，無膿則散。如食物中誤卷飛絲入喉，生瘡，腫痛，將連砂散加山慈菇粉、制巴豆各少許，吹之，獨吹亦妙。如爛喉風赤腫，亦將連砂散加山慈菇粉，配合去腐方，消退其腫，或用鐘乳石散吹之。如濕爛虛腐不收，用制爐甘石，同人參末，入長肉藥吹之而愈。如重舌木舌牙癰牙疔毒，只用牙硝、食鹽、硼砂，再加　皂礬、皂角刺末，多加冰片滲之，自消。如穿牙疔毒腐爛，將連砂散加去腐方，或口疳藥，治之即愈。</p>
<h4>（二）陰陽散</h4>
<p>川連　乾薑　生蒲黃（各一錢）</p>
<p>此丹專治婦女陰火舌腫，敷之即消。凡治木舌，先將生薑蘸硼砂擦之，後以此方敷之，亦妙女，凡男子喉症，犯欲，猝然失音，咽腫等症，均可用之。然必審確是陰症，方可施治。】</p>
<h4>（三）連砂散</h4>
<p>原名散云丹。</p>
<p>薄荷　牙硝（各二錢）　硼砂（一錢）　蒲黃（五分）　川連（四分）　朱砂（二分）　冰片（三分）</p>
<p>此丹專治風熱喉症之聖藥。如治走馬疳，與骨槽風齒落重症者，並用去腐方。如螳螂子，用桑螵蛸　灰，存性研末，加冰片少許，吹之立消，或用馬勃配合亦妙。如諸骨鯁，加急性子為末即愈。【諤按：治諸骨鯁，用燈心灰，白湯送下即愈；雞骨用苧麻或香油；魚骨用大蒜、白糖或橄欖；竹木鯁用鐵鏽；誤吞針用吸鐵石、朴硝；頭發繞喉，用自己發燒灰服；螺螄靨卡喉，用鴨涎。一物一制，相反相承，循環至理，各有專方，切勿泥急性子一味也。急性子為鳳仙花子，取其急性速行而已。】</p>
<h4>（四）散堅方</h4>
<p>茜草根末，此藥專消堅塊，將茜草根末，配入連砂散內，吹之立軟。</p>
<p>原書用　茹根，近世無識者，藥肆中亦不備，故以茜根代之。【諤按：《閱微草堂筆記》，載西域有飛蟲，名巴蠟者，人為所嚙，必死。惟食茜草根，敷瘡即瘥。按：烏魯木多茜根，其汁可染新絳，則知茜根實出西藏，而市肆者多贗也。經文載四烏　一　茹，　茹，即茜根也。今見茜根代　茹之疑，故特質明於此。】</p>
<h4>（五）去腐方</h4>
<p>原名下馬仙。</p>
<p>銅綠（一錢二分）　燈草灰（六分）　川連（三分）　冰片（二分）</p>
<p>此方專治黑臭腐爛，如走馬牙疳，將此藥配入連砂散內，吹之，其腐即去。</p>
<h4>（六）鐘乳石散</h4>
<p>原名珠黃散。</p>
<p>鐘乳石（八分）　飛辰砂（一分五厘）　人中白（六分）　兒茶（一錢二分）　制黃柏（一錢）　龍骨（五分）</p>
<p>薄荷（一錢二分）　冰片（四分）</p>
<p>此方專治爛牙疳之聖藥。如症重，加牛黃、琥珀、珍珠。凡遇各色口疳，若初起，內熱甚及用消腫藥吹之，再吹長肉藥。如走馬疳，穿牙疔毒，及骨槽風，並初生小兒胎毒口疳，本方加牛黃、琥珀、珍珠，合去腐方並吹更妙。如初起，此疳黑腐重症，先用去腐方，合連砂散並吹之，去其黑腐後，吹此方長肉為妙。若黑腐臭爛無血者，不治。以棉攪之，肉有微紅者，可治。如先臭爛，旋不臭，又不知痛者，不治。如小兒黃色胎疳如干橘囊者，不治。如痧痘後口疳，去黃柏、龍骨，加牛黃，倍珍珠。如口疳重症，須加上好鐘乳，及珍珠、朱砂各少許，入兒茶內，同研細末，更妙。</p>
<h4>（七）柳仙散</h4>
<p>薄荷（一錢）　兒茶（八分）　青黛（五分）　川連（四分）　冰片（二分二厘）</p>
<p>此方專治口舌碎痛，先取野薔薇根煎湯，漱口後，吹此藥效。</p>
<h4>（八）螻蛄散</h4>
<p>原名金鞭散。</p>
<p>活螻蛄。</p>
<p>上一味，瓦上　存性研末，此治穿腮牙落仙劑，配入鐘乳石散吹之，以愈為度，或獨吹</p>
<h4>（九）琥珀散</h4>
<p>原名余珍散。</p>
<p>珍珠（二分）　琥珀（三分）　兒茶（八分）　甘草（一分）　冰片（一分五厘）　乳石（三分）</p>
<p>此治喉舌結毒之要藥。先用絲綿卷筷上，抹患處，後吹此藥，如廣瘡結毒，本方內加輕粉少許。</p>
<h4>（十）喉癬方</h4>
<p>原名仙鮮散。</p>
<p>食鹽（六分）　蒲黃（四分）　燈草灰（三分）　滴乳石（三分）　青黛（二分）　兒茶（五分）　冰片（一分）</p>
<p>此治虛火喉癬之神劑。如碎腐，本方加牛黃、珍珠、琥珀、龍骨。如虛腐，本方加人參末、制爐甘石。如吹藥即痛，去　食鹽。</p>
<h4>（十一）蝕鼻方</h4>
<p>干蟾蜍　川連（各二錢）　青黛（八分）　麝香（少許）</p>
<p>此專治疳爛鼻梁之要藥。須用絲綿拭淨膿穢，吹敷立效。</p>
<h4>（十二）代針散</h4>
<p>膽星（三分）　人指甲（二三寸）　冰片（五厘）　朱砂（少許）</p>
<p>此治乳蛾成膿不穿，將指甲用雙紅紙卷好，燈上燒炭，存性為末，入辰砂、冰片、膽星，研和，吹入喉中，少頃，即出膿血自愈。</p>
<h4>（十三）珍珠散</h4>
<p>珍珠（四分）　龍骨（三分）　冰片（一分五厘）　象皮（四分）　兒茶（四分）　烏　骨（四分）　乳香　沒藥　朱砂（各三分）　老參　三七（五分）　降香節（三分）</p>
<p>此專治牙宣，如牙縫出血不止，將新棉如指大，捏成條，蘸水，再捏扁，蘸藥，塞患處，以指抵之，勿動，一二次即止。如碎爛，用長肉藥，仍用本方，並用煎劑，看虛實二火用之。</p>
<h4>（十四）麝香散</h4>
<p>麝香（一錢）　川連（五分）　冰片（一分五厘）</p>
<p>此方治喉瘤之神劑。</p>
<h4>（十五）開關散</h4>
<p>牙皂（一錢）　僵蠶（八分）</p>
<p>此專治牙喉關閉，吹之神效。</p>
<h4>（十六）熏鼻方</h4>
<p>原名玉鑰匙。</p>
<p>巴豆不拘多少，將巴豆壓紙上，取油，以紙捻成條，點火，吹滅，以煙熏入鼻中，流出清涕，牙關自開。</p>
<h4>（十七）勝煙筒</h4>
<p>蓖麻子仁（二粒）　巴豆肉（二粒）　麝香（少許）</p>
<p>將三味同研，火紙卷燒，熏吸鼻中，牙關立開，此治喉閉不通之聖藥。【諤按：此數方，可開後世內症用外治法無數法門，即如溫熱症，痰蒙熱閉等，亦可用醋炭，或麝香、香油捻紙卷，燒煙熏之，亦可開。】</p>
<h4>（十八）山甲散</h4>
<p>原名天義散。</p>
<p>穿山甲，　，研末。治誤食毒蟻生瘡之聖藥，獨敷即愈，或加入鐘乳石散，亦可。</p>
<h4>（十九）珠黃散</h4>
<p>西黃（五厘）　濂珠（四分）　川連（七分）　朱砂（三分）　冰片　當門子（各一分）　西洋參（一錢）　兒茶（八分）　硼砂（七分）　腰黃（八分）</p>
<p>專治爛舌之聖藥，如虛火上炎，吹之立效。</p>
<h4>（二十）消標散</h4>
<p>牙硝（一分）　硼砂（五分）　蒲黃　蜒蚰梅　腰黃（各三分）　青黛（二分）　冰片　麝香（各五厘）</p>
<p>烏梅肉（四分，炙存性）</p>
<p>此方專治喉症過服苦寒，以致喉間結一柱肉，或橫生，或直下，喉中稍疼，名為喉標。</p>
<p>此藥漸點，並內服滋陰之劑，靜養自愈。</p>
<h4>（二十一）青靈丹</h4>
<p>川柏（一錢）　青黛　兒茶（各六分）</p>
<p>此方專治口碎，加入柳仙散內，吹之神效。【諤按：凡用兒茶，不可用火　，欲使之松脆，須日晒即脆。】</p>
<h4>（二十二）紫雪丹</h4>
<p>石膏　寒水石　滑石（各八兩）　升麻　犀角片　羚羊片（各一兩）　元參（二兩）　甘草（八錢）　沉香屑　木香屑（各五錢）</p>
<p>上藥水煎，取濃汁，去渣，投入提淨朴硝三兩六錢，文火慢煎，俟水氣將盡欲凝結時，納朱砂、冰片各三錢，金箔一百張，研細和勻，收儲聽用。</p>
<p>此方治重舌木舌，乃口舌生瘡，或敷或服，均妙。（景華按：此即《局方》紫雪，惟制法稍異。）【諤按：此方治熱症內陷痙厥，用此可開。若熱症而偏於風者，用至寶。熱蒙心包而見譫語，用牛黃清心。若系痰蒙氣閉，則用蘇合香丸。一症有一方，何今人一遇閉厥，輒手忙腳亂，恐嚇病家，不問其症之為痰、為風、為氣、為熱，亂寫清心、至寶、紫雪，誤人生命，毫厘千裡，可不慎哉！】</p>
<h4>（二十三）砂散</h4>
<p>原名清溪秘傳北庭丹。</p>
<p>番　砂　人中白（各五分）　瓦上青苔　溏雞矢　瓦松（即瓦花，各一錢）</p>
<p>上藥用銀罐子二個，將藥裝在罐內，上以空罐對口合住，鹽泥封固，炭火　紅，三炷香為度，候冷開罐，將藥取出，入麝香、冰片各一分，研細用之。此方專治舌菌，用磁針刺破，將此藥點上，再以蒲黃蓋之。其症最惡，初起如頭疼痛無皮，朝輕暮重，以此藥點之，自然消縮。若失治，至舌爛穿腮，大凶，百無一生。</p>
<h4>（二十四）固齒白玉膏</h4>
<p>宮粉（一兩）　珍珠（三錢）　麝香（二錢）　象牙硝（五錢）　以上四味，研末用，陽起石、龍骨各一兩，本各三錢，用長流水濃煎汁，去渣，將陽起石、龍骨火　通紅，入藥汁內七次，焙乾研末，再與宮粉等四味，同研極細再用黃蠟三兩溶化，拌入前藥末，調和成膏。用時，攤油紙上，貼患處，閉口勿語而愈。</p>
<p>此方治牙宣，齒搖不固，將膏貼之，神效。</p>
<h4>（二十五）拔疔散</h4>
<p>砂　白礬　朱砂　食鹽用鐵鏽刀燒紅，將礬、鹽放於刀上　，各等分，擇丁日午時研末。專治牙縫生疔，腫起一粒如粟米狀，痛連腮項。若麻癢，破流血水，疼痛異常，即黑疔，屬腎火毒，俱用銀刀挑破見血，搽此藥即痊，內服黃連解毒湯效。</p>
<h4>（二十六）小薊散</h4>
<p>小薊　百草霜　炒蒲黃　醋香附（各五錢）</p>
<p>四味末之，治牙衄血出不止，即將此藥擦牙，即愈。</p>
<h4>（二十七）牢牙散</h4>
<p>龍膽草（一兩五錢，酒浸）　羌活　地骨皮（各一兩）　升麻（四分）</p>
<p>四味末之，治牙宣齒動，將此藥擦之，立愈。</p>
<h4>（二十八）加味硝黃散</h4>
<p>原名禁藥。</p>
<p>牙硝（二錢）　蒲黃（五分）　冰片（一分五厘）　僵蠶（一分，制）　牙皂（一分二厘，制）　白芷（一分）</p>
<p>此方專治一切喉症，如痰甚，加蜒蚰梅。</p>
<h4>（二十九）七味僵蠶散</h4>
<p>原名金丹。</p>
<p>制僵蠶　白芷（各一分）　牛黃（少許）　牙硝（一錢八分）　生蒲黃（四分）　硼砂（八分）　冰片（二分）</p>
<p>加玉丹少許，亦可。</p>
<h4>（三十）八味薄荷散</h4>
<p>原名碧丹。</p>
<p>薄荷（六分）　玉丹（四分）　甘草　冰片（各一分）　牛黃（多用）</p>
<p>百草霜三分，燈草灰五厘，制牙皂少許。</p>
<p>此二方專治咽喉急症之神劑。若治喉風，宜用前方七分，本方三分，吹之立效。</p>
<p>如痛緩，獨用本方。</p>
<h4>（三十一）銅綠散</h4>
<p>原名紅袍。</p>
<p>銅綠（五分）　腰黃（一錢）　冰片（七厘五毫）</p>
<p>此方專治腎經黑色鐵皮疳，及牙宣等症。如牙齦與口唇內皮，爛如雲片，或齦中出血，或口碎，吹之立愈。【諤按：此方冰片不妨加重，市肆銅綠罕真，不如代以畫家所用之石綠為妥，青黛、黃柏、均可加入。】</p>
<h4>（三十二）加味銅綠散</h4>
<p>原名綠袍。</p>
<p>銅綠（一錢）　腰黃（五分）　冰片（一分五厘）　炒食鹽（六分）　炙山甲（一錢）</p>
<p>專治實火走馬牙疳腐爛，臭肉浮起，先吹此藥，候腐臭爛肉脫落後，再用地骨皮散吹之，即愈。</p>
<h4>（三十三）紅棗散</h4>
<p>原名紫袍。</p>
<p>大紅棗，用竹刀破開，去核，腰黃研末，填入棗內，瓦上炙脆，研末用。</p>
<p>此專治脾經各色口疳，齦腫腐爛，牙疔等症。如齦有毒，必用此丹拔毒，吹之立愈。</p>
<h4>（三十四）地骨皮散</h4>
<p>原名黃袍。</p>
<p>鮮地骨皮（五分，洗淨，去黑衣，晒乾研末，　）　中白（一錢）　蠶沙（炙三分）　冰片（二分五厘）</p>
<p>杜咸橄欖（一錢五分，瓦上炙）　鳳凰衣（一錢，瓦上炙）　黃狗屎　中元米（一錢，洗淨晒乾）</p>
<p>此方專治各種虛火口疳，腐爛不能飲食。又治初生小兒馬牙雪口二症，吹之立效，亦可長肉。</p>
<h4>（三十五）白田螺散</h4>
<p>原名白袍。</p>
<p>野荒田中白田螺殼（三錢，洗淨研末，水飛）　兒茶（一錢）　冰片（二分）</p>
<p>此方專治肺疳，光亮而硬，或牙齦腐爛，色白，吹之即愈。</p>
<h4>（三十六）人中白散</h4>
<p>人中白（一兩，　）　黃柏（五錢）　川連（三分）　蠶退紙（三錢，　）　冰片（一錢）</p>
<p>專治痘後口疳要藥。【諤按：余用中白散，有兒茶、青黛、薄荷，無川連、蠶退紙，用之亦效。】</p>
<h4>（三十七）抹口方</h4>
<p>樹汁，抹患處立愈，此治鵝口效方。</p>
<h4>（三十八）牛黃益金散</h4>
<p>牛黃（三分）　冰片（五厘）　硼砂　制僵蠶（蜜炙）　黃柏（各一錢半）</p>
<p>共研末，用蜜調和，塗患處，或丸如龍眼大，含化，均愈。</p>
<p>專治虛火上炎，咽喉生瘡，破爛者。</p>
<h4>（三十九）玉鑰匙</h4>
<p>硼砂（五錢）　牙硝（一兩五錢）　制僵蠶（二錢）　冰片（一分）</p>
<p>此方治風熱喉閉，及纏喉風之神劑，再加腰黃二錢，名金鎖匙。</p>
<h4>（四十）喉癬神方</h4>
<p>西黃　冰片（各一分）　山羊血（二分）　血珀（三分）　川連（五分）　硼砂（一錢）　青果核炭（三分）　燈草灰（五分）</p>
<p>共研末，每一匙藥，用一匙蜜調之，放舌尖上，徐徐咽下，一日五次。如不見效，將本方加蜒蚰梅即愈，乃治喉癬之聖藥。</p>
<h4>（四十一）喉風急救神方</h4>
<p>土牛膝根（俗名臭花娘根），洗淨搗汁，灌入口中，如不能咽，即令其人仰，以汁滴入鼻中，流至咽喉下，亦可望開。</p>
<p>專治一切喉風乳蛾等症。草雖輕淺，其功甚大，不可忽視，或秋月采根，陰乾研粉，再用鮮根打汁拌干，以備急用。</p>
<h4>（四十二）冰硼散</h4>
<p>冰片（一分五厘）　硼砂（三錢五分）　制僵蠶（三分）　牙硝（二錢五分）　蒲黃（七分）　制膽礬（五分）</p>
<p>此方治一切急喉風，雙單乳蛾，喉癰，牙關緊閉等症，吹之愈。</p>
<h4>（四十三）爛喉痧方</h4>
<p>烏牛糞尖（一個,瓦上　）　人指甲（一分,男用女，女用男）　西黃（一分）　珍珠（二分）　青黛（一錢）　冰片（二分）　人中黃（一錢）</p>
<p>此方治爛喉痧之神藥，吹入即愈。如咽喉碎腐，用薄蜜調之，含咽亦效。</p>
<h4>（四十四）三黃散</h4>
<p>生地黃（君）、生蒲黃（臣）、牛黃（佐）、冰片（使）。</p>
<p>上為末，用芭蕉汁調敷患處，或用扁柏葉汁和蜜調塗，或用後方亦可。</p>
<h4>（四十五）又方</h4>
<p>生大黃（一錢）　生蒲黃（一錢）　冰片（五厘）　麝香（三厘）</p>
<p>上為末，加白蜜，調入薑汁、蔥汁，或芭蕉汁、側柏葉汁，均可。以上二方，專治頸癰面癰，如腫硬未消，氣滯血凝，或痰凝結毒，不散，宜用薑蔥汁調塗。此二方，並治小兒丹毒，神效。切勿入口為要。</p>
<h4>（四十六）熊膽冰黃散</h4>
<p>胡黃連　兒茶　硼砂（各三錢）　熊膽　牛黃（各七分）　冰片（三分）</p>
<p>共為末，專治喉痹腫痛，吹喉中痛處，立效。</p>
<h4>（四十七）柳黃散</h4>
<p>黃連　黃柏　蒲黃　青黛　硼砂　胡黃連　芒硝（各等分）　冰片（少許）</p>
<p>此方專治喉痛口舌生瘡，破爛，吹之立效。</p>
<h3>醫方論下</h3>
<h4>（一）上清丸</h4>
<p>元明粉（二錢）　川連（一錢）　月石（一錢五分）　枯芩（二錢）　薄荷（三錢）　冰片（四分）　桔梗（一錢五分）　山豆根（一錢五分）　甘草（八分）　大黃（三錢）</p>
<p>上研末蜜丸，芡實大，每吞一丸，重則連吞一丸，將藥含口中化下，其腫漸消而愈。此丸專治實火，喉嚨腫痛之神藥也。</p>
<h4>（二）噙化丸</h4>
<p>大原地（煮，八錢）　麥冬肉（五錢，烘乾）　山豆根（五錢，煮爛）　川黃柏（三錢，焙）　天花粉（五錢）　食鹽（三錢）　真青黛（一錢五分）　元參（四錢，炒）　白柿霜（一兩）　嫩玉竹（二錢）　冰片（一錢五分）</p>
<p>上為末，如前和丸，蒲黃為衣，含化下一丸，此丸專治虛火咽喉腫痛者。【諤按：上方著重在心肺胃，故治實火。此方注意在肝脾腎，故治虛火。醫家必備之藥也。】</p>
<h4>（三）百草膏</h4>
<p>薄荷（八分）　玉丹（五分）　川貝（一錢）　燈草灰（五厘）　柿霜（八分）　甘草（一分五厘）　天花粉（一錢上藥研勻一處，用白蜜調膏頻咽，噙之即效。此膏專治喉癬及喉菌等症，若症重，兼服劑，並用吹丹。如治喉刺，玉丹、薄荷忌用。如見勞病已重，津竭火炎之候，亦不必用。</p>
<h4>（四）內托護心散</h4>
<p>防毒攻心。</p>
<p>真綠豆粉（一兩）　乳香（去油，五錢）　燈心灰（少許）　【諤按：余治溫邪挾毒，逆陷心包，每用綠豆衣炒銀花、朱燈芯為引方，甚效。可見用藥貴乎靈活，不可拘執一途也。】</p>
<h4>（五）又方</h4>
<p>朱砂　甘草（各一錢）　乳香（淨末三錢）</p>
<p>上藥共研末，和勻，以生甘草一兩煎濃湯，調一匙，時時呷之。【諤按：此方不如前方清靈，擬加入翹心、山梔仁、綠豆衣等同煎，較妥。如痰涎壅甚，可服控涎丹數分。】</p>
<h4>（六）清肺飲</h4>
<p>治痰濕氣逆咳嗽。</p>
<p>貝母　天花粉　甘草上三味，水煎服。</p>
<h4>（七）犀角地黃湯</h4>
<p>治胃熱火邪吐衄。</p>
<p>犀角、生地、白芍、丹皮。又方，再加解毒藥，名犀角解毒湯。【諤按：解毒，如銀花、生甘草、料豆衣之屬。】上四味，先用三物水煎去渣，入犀角汁熱服。</p>
<h4>（八）導赤散</h4>
<p>治口糜淋痛瀉火。</p>
<p>生地　木通　甘草梢上三味，水煎服。一方再加竹葉。</p>
<h4>（九）四物湯</h4>
<p>通治血家百病。</p>
<p>當歸　熟地　川芎　白芍</p>
<h4>（十）六一散</h4>
<p>（一名天水散）治表裡三焦濕熱，瀉火。</p>
<p>滑石（六兩）　甘草（一兩，研末）</p>
<p>新汲水調服，或燈心湯下。</p>
<h4>（十一）蜜煎導法</h4>
<p>治胃府無熱。便閉者，不宜輕攻，用此法。</p>
<p>白蜜，納銅器中，微火煎如飴，勿令焦，俟可丸，捻作挺，如指許長，如橄欖樣，納入穀道中，以手急抱，欲大便時，乃去之。</p>
<h4>（十二）瀉黃散</h4>
<p>治胃火口瘡，並治脾火。</p>
<p>防風　甘草　黑山梔　藿香　石膏上味，炒研末，蜜調服。</p>
<h4>（十三）錢乙瀉黃散</h4>
<p>治胃熱火鬱，及口瘡。</p>
<p>升麻、防風、白芷、黃芩、枳殼、半夏、石斛、甘草、水煎服。</p>
<h4>（十四）清咽太平丸</h4>
<p>治膈熱咽痛。</p>
<p>薄荷　川芎　柿霜　甘草　防風　犀角　桔梗上為末，蜜丸。</p>
<h4>（十五）甘露飲</h4>
<p>治胃熱口瘡吐衄。</p>
<p>生地、熟地、天冬、麥冬、甘草、石斛、黃芩、茵陳、枳殼、枇杷葉，一方加犀角，水煎服。</p>
<h4>（十六）黃連解毒湯</h4>
<p>涼血清熱解毒，口瘡可任之。</p>
<p>黃連、黃柏、黃芩，水煎服，此即三黃湯也。</p>
<h4>（十七）涼膈散</h4>
<p>治膈上實熱。</p>
<p>酒浸大黃、芒硝、甘草、連翹、山梔、薄荷、黃芩、竹葉，開水泡去渣，澄清飲之。</p>
<h4>（十八）清胃散</h4>
<p>治齒齦出血，口瘡牙宣等症。</p>
<p>升麻、黃連、當歸、生地、丹皮、石膏，水煎服。</p>
<h4>（十九）瀉白散</h4>
<p>瀉肺火。</p>
<p>桑皮、地骨皮、甘草、粳米，水煎服。</p>
<p>一方加人參、雲茯苓、知母、黃芩，名加減瀉白散。</p>
<h4>（二十）涼肺湯</h4>
<p>治肺中實熱。</p>
<p>知母、貝母、天冬、麥冬、黃芩、陳皮、甘草、桑皮，水煎服。</p>
<h4>（二十一）消毒犀角飲</h4>
<p>治咽喉腫痛，毒瓦斯壅甚者。</p>
<p>犀角、牛蒡、荊芥、防風、薄荷、桔梗。如內熱，加黃芩、黃連，水煎服。</p>
<h4>（二十二）玉液上清丸</h4>
<p>治風熱上壅，口舌生瘡，咽喉腫痛等症。</p>
<p>薄荷（四兩）　柿霜（五兩）　桔梗（四兩五錢）　甘草（三兩五錢）　川芎（一兩八錢）　百藥煎（五錢四分）</p>
<p>砂仁（四錢五分）　青黛（三錢）　冰片（二錢）　硼砂（二錢）　元明粉（三錢）</p>
<p>上十一味，為末，蜜丸，如雞豆大，每服一丸，不拘時噙化。</p>
<h4>（二十三）清咽訶子丸</h4>
<p>治咽喉煩渴。</p>
<p>訶子肉（四錢，薑汁拌面煨）　葛根（一兩二錢）　冰片（一分五厘）　柿霜（四錢）　百藥煎（三錢）　甘草（一錢）</p>
<p>上為末，蜜丸，如芡實大，每服一丸。</p>
<h4>（二十四）柏母丸</h4>
<p>治痰火鬱結，咽喉不利。</p>
<p>貝母（六錢）　川柏（蜜炙，一兩）　冰片（一錢）</p>
<p>蜜丸，如青豆大，每服一丸。</p>
<h4>（二十五）柏花丸</h4>
<p>治肺熱咳嗽。</p>
<p>貝母四錢，川柏（蜜炙）一錢，百合二錢，款冬花二錢五分，冰片三分，蜜丸，如青豆大，每服一丸。</p>
<h4>（二十六）除瘡落菌膏</h4>
<p>（一名犀角膏）余治童子出麻後，舌生瘡，出血如泉，諸藥不效，一旦舌出菌者三，其子如狂，即用此方噙服三五丸，即落。並治咽喉口舌生瘡生菌，噙化即效。</p>
<p>真血珀　生犀角　辰砂　茯神　冰片（各一錢）　人參　酸棗仁（各二錢）</p>
<p>上研末蜜丸，如彈子大，每服一丸，麥冬湯下。</p>
<h4>（二十七）利膈湯</h4>
<p>治脾肺火熱，虛煩上壅，咽痛生瘡。</p>
<p>薄荷　荊芥　防風　桔梗　甘草　牛蒡　人參　或加僵蠶</p>
<h4>（二十八）玉屑無憂散</h4>
<p>治纏喉風痹，咽喉腫痛，咽物有礙，或風涎壅滯，口舌生瘡，及骨鯁屑塵，並除三尸，去八邪，辟瘟疫等症。</p>
<p>元參　荊芥　貫仲　山豆根　茯苓　滑石　甘草　黃連　硼砂（各五錢）　寒水石　砂仁（各三錢）</p>
<p>上為末，每服一錢。</p>
<h4>（二十九）加味射干湯</h4>
<p>治喉痹腫痛。</p>
<p>射干　生地（各一錢）　桔梗　連翹　黃芩　貝母　元參　甘草（各七分）　荊芥（五分）　牛蒡（七分）　水煎服。</p>
<h4>（三十）滋陰消痹湯</h4>
<p>治腫毒口瘡，兼治咳嗽聲啞。</p>
<p>當歸、生地、沙參、百部各一錢，射干、地骨皮、知母、麥冬、桔梗、炒黃芩各七分，元參、甘草各五分，水煎服。</p>
<h4>（三十一）清肺散火湯</h4>
<p>治肺中有伏火，因風寒閉郁，或過服寒涼，火不得泄者。</p>
<p>杏仁、紫蘇各一錢，前胡、旋覆花、桑皮、貝母、麻黃、桔梗各七分，甘草五分，蔥一莖，薑一片，水煎服。</p>
<h4>（三十二）滋水開陰湯</h4>
<p>治未成癆瘵，遽然聲啞，有痰嗽者。</p>
<p>沙參二錢，知母、貝母各一錢，甘草、石菖蒲各三分，蘇子、陳皮、升麻各七分，訶子肉五分，生薑一片，紅棗二枚，水煎服。</p>
<h3>制藥</h3>
<h4>（一）制玉丹法</h4>
<p>生明礬打碎如指大，傾入銀罐內，炭火　，以筷刺入罐底，攪之無塊為度。次將上好牙硝，打碎投下，約十分之三，再將硼砂打碎投下，亦十分之三，再將生礬逐漸投下，候其烊盡，照前投硝硼少許，如是逐層投完，待至鋪起，罐內發高如饅頭樣，止。方架炭火，燒至干枯，然後用潔淨瓦一大片，覆罐上，一時取去，將牛黃少許為末，用水四五匙，調勻，滴丹上，將罐仍入內，火烘乾，即取起，連罐覆潔淨地上，用紙襯地上，再將碗覆之，過七日，收儲聽用。輕松無堅紋者佳，如有堅紋，不堪用，或留作蜜調藥中用。　時火候，初宜緩火，然亦不可過緩，恐致礬僵，不易溶化，後必堅實，中間及後，須用武火，又如礬未溶化，即投硝硼，必不盡溶，勢必堅實，罐須煨透，不令爆碎，傾過銀者不用，此丹必多制，愈久愈妙，名曰玉丹。</p>
<h4>（二）制黑魚膽法</h4>
<p>臘月取黑魚膽陰乾。或人身袋盛哺脆。研用。</p>
<h4>（三）制燈草灰法</h4>
<p>擇白淨燈草，放於金漆桌上，噴清水，燈草上，用筆管一頭草住，將燈草用竹筷築於管中，再用紙塞，一頭放火中，燒竹通紅，收出，放在瓶中，用濕手巾覆之，待冷取出，去竹灰，收儲聽用。必要黑色而成團者佳。</p>
<h4>（四）制巴豆法</h4>
<p>將巴豆淨肉，去衣用一兩，以麻油七錢，煮，酒七錢同煎，油酒盡為度，取起放於礬中，入銀罐內，炭火　，以筷刺入罐底，攪之無塊為佳。連罐覆潔淨地上，再用碗覆之，過七日，收儲聽用。</p>
<p>又法，明礬三錢，入銚溶化，投入巴豆肉三粒，待干，去巴豆，研用，名曰巴礬。</p>
<h4>（五）制蜒蚰梅法</h4>
<p>四月間買青梅子，搗碎去核，放碗內，投礬一層，捉蜒蚰，不拘多少，待礬、蜒蚰烊盡，再投梅礬一層，再捉蜒蚰投下，烊盡，至百日，傾入銀罐中，炭火　之，以筷刺入罐底，攪之無塊為度，待如饅頭樣發起者，即取下，連罐覆於地上，以碗蓋之，過七日後，火毒出盡，收儲用之。</p>
<p>又法，將青脆大梅子，去核打碎，鋪在碗底內，再將蜒蚰數條，鋪梅肉上，又將白礬末鋪於蜒蚰上，逐層鋪完，待其礬、蚰化盡，日中晒梅極干研用，或瓦上炙脆為末，如痰涎壅塞喉風等症，加入各吹藥中，皆效。或蜜湯同藥調和，滲下咽喉，亦可消痰，神效。</p>
<h4>（六）制琥珀法</h4>
<p>先用側柏子末入瓷鍋中，再入琥珀於末中，用炭火煮，從巳至申，別有異光，即取起，揚如粉重，研細極為度。</p>
<h4>（七）制指甲法</h4>
<p>用雙紅紙卷好指甲，燒灰存性，研末。</p>
<p>又法，將指甲入無名異中同炒，至指甲松脆，去無名異，研用。</p>
<h4>（八）制砂法</h4>
<p>將　砂研至無聲，水飛過，醋煮干，如霜用，然　砂能爛五金，化人心為血，細閱本草，消食破瘀滯　瘕，不可多服。</p>
<h4>（九）制螻蛄法</h4>
<p>須五月間，取活螻蛄一個，將抱退雞子軟白皮裹，入大蛤蟆口內，草縛泥固，　過取出，研末聽用。</p>
<p>又法，將螻蛄置瓦上，　存性，不用大蛤蟆，亦可。</p>
<h4>（十）制煉鹽法</h4>
<p>將食鹽入清水中，烊盡去泥腳，取水煎煉，再傾罐內，炭火　透，白如霜者佳，留久聽用。</p>
<h2>附錄驗方</h2>
<h3>喉風奪命丹</h3>
<p>專治急喉風，痰涌氣逆，吹之立效。</p>
<p>真西黃　珍珠　當門子（各一錢）　辰砂（四錢）　槍硝（一兩五錢，即牙硝）　月石（五錢）　僵蠶（一錢）　雄精（二錢）　人中黃（一錢）</p>
<p>九味各研細末，瓷瓶收儲，勿泄氣。如遇急喉風，痰聲轆轆，呼吸氣促者，急吹此丹二三管之，其症必痰潮上涌，氣短欲絕。有初起寒熱，至三四日後發者，有一二日發者，有朝發夕死，夕發旦死者，總以痰涌氣促為的候。如見此症，急用此丹，景華親試之，果驗。或用臭花娘根，打汁灌之，亦妙。修園附刻急救方，有一方與此相類，其可異處，亦用槍硝一兩五</p>
<h3>黑吹藥方</h3>
<p>專治爛喉痧。</p>
<p>辰砂（二錢）　元寸　西黃　月石（各三分）　琥珀（五分）　珍珠　元明粉（各二分）　冰片（一錢）　皂莢（五分，此味肉灰可疑，未知何等肉灰，姑存之）</p>
<h3>制豬膽法</h3>
<p>川連　僵蠶　月石　青黛　雄黃　牙硝　白礬　薄荷（各五錢）</p>
<p>上八味，研細末，用雄豬膽四個，將膽汗和藥拌勻，仍納豬膽殼內，立冬日放地坑中，春分日取起，再研，如遇爛喉痧，和入前方吹之，神效。輕者，獨吹亦妙。</p>
<h3>走馬疳方</h3>
<p>元寸　青鹽　雄黃　珍珠　西黃　冰片（各一分）　月石（四分）　人中白（五分）　銅綠（八分）</p>
<p>九味研末，加鱔血少許。</p>
<p>此方與陶廷昭走馬疳方同，如遇牙疳腐爛，吹之立效。</p>
<h3>救急破棺丹</h3>
<p>老豬婆糞須於冬天收取，置屋上，日晒夜露，約一月余取下，放炭火上。　至煙將絕時，悶息聽候四五月間，采臭花娘根打汁，拌入　過豬糞內晒乾，再拌再晒，如是七次，瓷瓶收儲。凡遇喉蛾喉癰喉痹諸急症，痰涎壅塞，聲不能出，氣息欲絕者，此藥下咽即活。倘牙關緊閉，不能受藥，滴入鼻中，亦效。又治暑天痧脹，腹痛欲絕者，涼水調下。又治下疳腐爛，麻油調敷。（景華按：此即南陽豬膚湯意，蓋豬，水畜也。母豬，陰類也。糞，陰中之至濁者也。喉症半屬陰虛火亢，胃濁上蒸，取母豬糞以入陰降濁，又取杜牛膝根之升中有降，能吐能下，是以奏功甚速。至治痧症，亦以濁攻濁意，然不如用馬糞　灰為妙，見吳鞠通《溫病條辨》。）【諤按：士翹先生治爛喉痧，每用血清，血清西藥也，據傳系馬溲所提之精華也。</p>
<p>服血清而效者固多，服血清而蒙其害者，亦復不少，余見屢矣，然終不如此方之穩。】</p>
<h3>王夢隱青龍白虎湯</h3>
<p>橄欖、生蘆菔、水煎服。</p>
<p>自注云：此余自製方，橄欖色青，清足厥陰內寄之火風，而靖其上騰之陷，蘆菔色白，化手太陰外來之燥熱，而肅其下行之氣，合而為劑，消經絡留滯之痰，解膏粱魚面之毒，平時代茶，可內喉症，勿以平淡而忽諸。</p>
<h2>王跋</h2>
<p>《囊秘喉書》一帙。無卷數，俞養浩先生得之某氏。辛丑冬，喉症盛行，迄於明年之夏，先生施藥之外，謀刊是書，以廣治法。因其文義舛繆，方名怪特，一似鈴醫所為，爰命景華重加厘訂，謹就原文，鉤稽審核，參以群說，別為八篇，刪取異名，歸諸爾雅，藥味銖兩，悉仍其舊。蕭君冬友，與參訂之役，商榷既定，竟付殺青。</p>
<p><u>光緒二十八年四月新陽王景華跋</u></p>
<h2>張跋</h2>
<p>咽喉一症，其來也速。其勢也猛，其致病之由也雜。醫者審證用藥，寒熱攻補，各有所宜，誠未可偏執一是也。顧自來治喉症者無專書，臨證者卒鮮把握，自洞主仙師《白喉忌表抉微》之書出，治喉症者，遂相率而用寒涼，依方而用，效者害者互見，未可以為盡善之書。曩者友人贈予《囊秘喉書》一冊，反復研究，確有至理，取而用之，復有神效。噫！楊公之作是滅而已。而諤也，雖有此重訂廣布之愿，亦無從著手。今幸編錄已臻完善，不敢忘諸君之德，故復贅數語，以為跋。</p>
<p><u>民國四年乙卯八月海虞張諤汝偉書於壽石居南窗下</u></p>
<h2>增錄</h2>
<p>錄白喉治方二則並題詞蠹簡　編赤綠字，千金龍史索洪蒙，我從氣化求真諦，玉版金題叩素宮。</p>
<p>此症始於北而行於南，從前古法無可遵，不得已而取傷寒中一陰一陽結為喉痹之方，以治，創出養陰清肺一法。近人本此，雖不皆效，然妄汗搜風溫燥之弊可免，玉鑰之喻，可無愧矣。</p>
<p>喉見愈之方抄錄，以免日久忘懷，並以此法示門下及兒輩，補石識。</p>
<p>此余受業師，唐均良先生之作也。偉增錄於此，揚先生六仁風，以拯天下之同胞也。門人張諤拜識。</p>
<h3>石龍丹</h3>
<p>治陰火上熾，形寒裡熱，大便堅結，咽嗌微痛。</p>
<p>太陰元精石　龍膽草　川柏　知母（鹽水炒）　元參　川貝母　丹皮　金銀花　淡竹葉朱燈芯　冬瓜子　生苡米各研細末，吹之，煎服亦可。惟元精石有商酌。分量隨症定。</p>
<h3>珠燕南飛散</h3>
<p>膏粱蘊熱，痰膠肺胃。</p>
<p>石燕　鎊羚羊　天竹黃　川貝母　上濂珠　烏犀尖　生枳殼　生白芍　細菖蒲　生決明生蛤殼　天花粉　山梔仁　潼木通　滑石（丹皮水炒）</p>
<p>上十五味，各研細末，貯用。</p>
<h3>霹靂針</h3>
<p>豬牙皂角一味，醋炒枯，研細用，一秒時即得大吐。</p>
<p>牙疳外治二方　症重者，爛口亦可。</p>
<p>大黃（三錢，生研）　綠豆粉（二錢，炒研）　公丁香（十粒，研）</p>
<p>三味和勻，以開水塗兩足心，其患立瘥，效如神。</p>
<p>另用青蔥管，蘇梗煎濃汁，熏洗兩足。</p>
<h3>又方</h3>
<p>清香餅、生香附、生半夏等分研，雞清調作餅，貼（男左女右）涌泉穴。初生小兒螳螂子雪口鵝口均治，加入蔥白、麝香、更妙。</p>
<h3>馬培之先生柳華散</h3>
<p>治一切風溫喉症，腫痛紅脹，單雙乳蛾，口疳牙疳等症。</p>
<p>人中白　碎金　蒲黃粉　月石　川柏　青黛研末，各等分，加冰片用之。</p>
<h3>冰梅竹月丹</h3>
<p>均良心得方。</p>
<p>天竹黃　月石　綠萼梅　冰片研細用。</p>
<p>【諤按：以上二方，皆系余家常日用之要藥，百試百驗之秘方，今特登出，以供眾采，庶幾不負救世之婆心也。】治喉之法，以上所錄，略可稱備。而病家往往於飲食之中，一不留意，以致復發而成壞者，又不少。茲特錄出家常食物數種，以告患喉恙者。（汝偉志）</p>
<p>海蟄　萊菔　西瓜皮　茶腿　醬鴨　淡菜　干貝　腐衣　洋菜　菜干　麒麟菜　以上菜品掛面　藕粉　山藥　冬瓜　以上點品鹽水炒杏仁　西瓜子　梨　松子肉　青鹽陳皮　廣橘　以上雜食品雨前　白殘花　生蛤殼　朱燈芯　以上代茶品食物之可飲者固多，茲不過擇其食之無害有益者，略舉一二而已，如貧家以菜干代茶，則尤為相宜。</p>
