<header data-type="book">
<h1>尚論後篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>喻昌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h2>卷一</h2>
<h3>尚論春三月溫證大意</h3>
<p>仲景書詳於治傷寒，略於治溫，以法度俱錯出於治傷寒中耳，後人未解義例，故
春溫一證，漫無成法可師，而況觸胃寒邪之病少，感發溫氣之病多，寒病之傷人
什之三，溫病之傷人什之七，古今缺典，莫此為大，昌特會內經之旨，以暢發仲
景不宜之奧，然僭竊無似矣，厥旨維何，內經云，冬傷於寒，春必病溫，此一大
例也，又云冬不藏精，春必病溫，此一大例也，既冬傷於寒，又冬不藏精，至春
月同時病發，此一大例也，舉此三例，以論溫證，而詳其治，然後與三陽三陰之
例，先後同符，蓋冬傷於寒，邪藏肌膚，即邪中三陽之謂也，冬不藏精，邪入陰
臟，即邪中三陰之謂也，陽分之邪淺而易療，陰分之邪深而難愈，所以病溫之人，
有發表三五次，而外證不除者，攻裡三五次，而內證不除者，源遠流長，少減復
劇，以為在表也，又似在裡，以為在裡也，又似在表，用溫熱則陰立亡，用寒涼
則陽隨絕，凡傷寒之種種危候，溫證皆得有之，亦以正虛邪盛，不能勝其任耳，
至於熱證，尤為十中八九，緣真陰為熱邪久耗，無以制亢陽，而燎原不熄也，以
故病溫之人，邪退而陰氣猶存一線者，方可得生，然多骨瘦皮乾，澤枯肉爍，經
年善調，始復未病之體，實緣醫者於此一證，茫然不識病之所在，用藥不當，邪
無從解，留連展轉，莫必其命，昌之目擊心傷者久之，茲特出手眼，以印正先人
之法則，祈以永登斯人於壽域，後有作者，諒必不以為狂誕也。</p>
<h3>溫證上篇</h3>
<p>  謹將冬傷於寒春必病溫定為一大例
 冬傷於寒，藏於肌膚，感春月之溫氣而始發，肌膚者，陽明胃經之所主也，陽
明經中久鬱之熱，一旦發出，而外達於太陽，有略惡寒而即發熱者，有大熱而全
不惡寒者，有表未除而裡已先實者，有邪久住太陽一經者，有從陽明而外達於太
陽者，有從太陽復傳陽明，不傳他經者，有自三陰傳入胃腑者，有從太陽循經傳
三陰，如冬月傷寒之例者，大率太陽陽明二經，是邪所蟠據之地，在太陽則寒傷
營之證，十不一見，在陽番明則讝語發斑，衄血畜血，發黃脾約等熱證，每
每兼見，而凡發表不遠熱之法，適以增溫病之困阨耳，況於治太陽經之證，其法
度不與冬月相同，蓋春月風傷衛之證或有之，而寒傷營之證則無矣，且由陽明而
達太陽者多，不盡由太陽而陽明少陽也，似此則溫證之分經用法，比之傷寒大有
不同，而世方屈指云某日某經，某日傅經已盡，究竟於受病之經，不能摸索以求
良治，所謂一盲而引眾盲，相將入火坑也，冤哉生命，古今誠莫控制矣。按溫熱
病，亦有先見表證，而後傳裡者，溫熱自內達外，熱鬱腠理，不得外洩，遂復還
裡，而成可攻之證，非如傷寒從表而始也，蓋傷寒從表而始，故誤攻而生變者多
溫證，未必從表始，故攻之亦不為大變，然鬱熱必從外泄為易，誤攻而引邪深入，
終非法也。按溫熱病表證間見，而裡病為多，故少有不渴者，法當以治裡為主，
而解肌兼之，亦有治裡而表自解者，其間有誤攻裡而致害者，乃春夏暴寒所中之
疫證，邪純在表，未入於裡故也，不可與溫熱病同論。</p>
<p>（一）太陽病發熱而渴，不惡寒者為溫病。［原文］
 昌按溫者，春令之氣也，冬夏秋雖有氣溫之日，不加春令之正且久也，不惡寒
三字內有奧義，蓋時令至春，則為厥陰風木主事，而與太陽之寒水，不相涉矣，
故經雖從太陽，而證則從春令而不惡寒也。
 再按溫病，或有新中風寒者，或有表氣虛不禁風寒者，衛虛則惡風，營虛則惡
寒，又不可因是遂指為非溫病也，然即有之，亦必微而不甚，除太陽一經，則必
無之矣。</p>
<p>（二）形作［似也］傷寒，其脈不弦緊而弱，［非傷寒矣］，弱者必渴，被火者必讝
語，弱者發熱，［所以渴也］，脈浮解之，當汗出愈。［原文］
 風性弱緩，故脈亦弱，弱者發熱，即內經諸弱發熱之義也，脈既浮，當以汗解
之，使汗出而愈，取解肌不取發汗之意。按溫熱病，原無風傷衛寒傷營之例，原
無取於桂枝麻黃二方也，表藥中，即敗毒散參蘇飲等方，亦止可用於春氣未熱之
時，若過時而發之，溫病暑病，尚嫌藥性之帶溫，況於桂麻之辛熱乎，然仲景不
言桂麻為不可用者，有二說焉，一者以剔出桂麻，則三陰絕無表藥也，一者以桂
麻用之不當，在冬月巳屢致戒，春月更無可贅也，後之紛紛訾議桂麻之熱者，未
嘗計及於冬不藏精之治耳，惟知春夏有不得不用也，誰知仲景立方之神哉。</p>
<p>（三）脈浮熱甚，反炙之，此為實，實以虛治，因火而動，必咽躁吐血。［原文］
 脈浮熱甚，邪氣勝也，邪氣勝則實，反炙之，是實以虛治也，血隨火炙，而妄
逆在所必至矣，咽躁者火勢上逼，枯涸之應耳，若是少陰見證，當不止此一端，
故不入冬不藏精一例。</p>
<p>（四）病加桂枝證，［似乎中風］，頭不痛，項不強，［則太陽無外入之邪，而非中
風］，寸脈微浮，［則邪自內出而不當過表］，胸中痞鞭，［痰涎塞隔］，氣上衝，咽
喉不得息者，胸中有塞也，當吐之，宜瓜蒂散，病人有寒復發汗者，胃中冷必吐 
蚘。［原文］</p>
<p> 昌按仲景不日病似中風證，而曰病加桂枝證者，恐後人誤以治溫一例，混入太
陽中風之例而滋擾，故更換其名也，吐法多用梔豉湯，此用瓜蒂散者，取其吐頑
痰而快膈，湧風涎而逐水也，有痰而誤發汗，徙亡津液，胃中容虛，蚘失所養，
故悖逆而上出也。</p>
<p>（五）病人手足厥冷，［似涉厥陰］，脈乍緊者，邪結在胸中，［非厥陰也］，心中
滿而煩，饑不能食者，病在胸中，當須吐之，宜瓜蒂散。［原文］</p>
<p> 按此證乃痰邪自內而作，即四證類傷寒之瘧證者也，仲景云，病人身大熱，反
欲得近衣者，熱在皮膚，寒在骨髓也，［表實裏虛］，身大寒，反不欲近衣者，寒
在皮膚，熱在骨髓也，［畏虛裏實］，此以互合之表裡言，設合臟腑而統言之，則
皆謂之表矣。</p>
<p>（六）病在陽，［表未罷熱未除］，應以汗解之，反以冷水噀之，其熱被卻不得去，
彌更益煩，肉上粟起，意欲飲水反不渴者，［熱邪為水寒所制］，服文蛤散，［鹹寒
利水］，若不瘥者，與五苓散。寒實結胸，無熱證者，［兩寒相搏］，與三物小陷胸
湯。白散亦可服。［寒結重者，原文］</p>
<p> 按病在陽，則不兼陰可知，正合第一例也。</p>
<p>（七）病人臟無他病，［裏氣和也］，時發熱，［或然或不然］，自汗出而不愈者，
此胃氣不和也，先其時，［未發熱之時］，發汗則愈，宜桂枝湯主之。［原文］</p>
<p>（八）病常自汗出，［無時不然］，此為營氣和，營氣和者，外不諧，以衛氣，不
共營氣，和諧故爾，以營行脈中，衛行脈外，復發其汗，營衛和則愈，宜桂枝湯。
［原文］</p>
<p> 按臟無他病，但衛氣不和，亦陽病而陰不病之例也。再按春溫之證，由肌肉而
外達於皮膚，則太陽胱膀經之邪，傅自陽明胃經，與冬月外受之風寒，始先便中
太陽而傷其營衛者，迥乎不同，故此但言衛氣，不與營和，其無太過可知也，既
衛不與營和，當用麻黃，乃但用杜枝者，可見溫證中發汗之法，皆用解肌，蓋久
鬱之邪，一解肌則自散，若大汗而重傷傷津液，反變起矣，此先聖用法之大關也。</p>
<p>（九）病人脈數，數為熱，當消穀引食，而反吐者，此以發汗令陽氣微，膈氣虛，
脈乃數也，數為客熱，不能消榖，以胃中虛冷，故吐也。［原文］
 昌按發汗而令陽微，誤之甚也，陽微則胃中虛冷，而脈反數者，不過客熱之微，
溫其胃而客熱不留，斯脈不數矣。再按此但言胃中之陽微，與不藏精之真陽微弱
者不同。</p>
<p>（十）病人煩熱，［太陽也］，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也，
脈實者，［陽明］，宜下之，脈浮虛者，［太陽］宜發汗，下之，宜承氣湯，若汗之
宜桂枝湯。［原文］</p>
<p>（一一）微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火
氣雖微，內攻有力，焦骨傷筋，血難復也。［原文］</p>
<p> 昌按此一條垂戒，雖在溫證項下，然不顓為溫證而設，所以不言證而但言脈也，
脈見微數，則是陰虛而陽熾，重以火力追逐其血，有筋骨焦傷已耳，今世之灼艾
者，不識亦辨脈之微數否耶，其為陰虛火勝之人，漫用灸法者何耶。</p>
<p>（一二）病人耳聾無聞者，以重發汗虛故也。［原文］</p>
<p> 此與傷寒耳聾，為少陽邪盛者迥異，益見溫證禁過汗也。</p>
<p>（一三）病人不大便，五六日繞臍痛煩躁發作有時者，此有躁屎，故使大便鞭也。
［原文］</p>
<p>（一四）病人小便不利，大便乍難乍易，時有微熱喘冒不能臥者，有躁屎也，宜
大承氣湯。［原文］</p>
<p>（一五）大下後六七日不大便，煩不解，腹滿痛者，此有躁屎也，宜大承氣湯。
［原文］</p>
<p> 昌按仲景治溫證，凡用表法，皆用桂枝湯，以示微發於不發之意也，凡用下法，
皆用大承氣湯，以示急下無所疑之意也，不知者鮮不以為表在所輕，而裡在所重，
殊大不然，蓋表裡無可軒輊，所以然者，祇慮熱邪久據陽明，胃中津液先傷，故
當汗而惟恐過於汗，反重傷其津液，當下而惟恐不急於下，以亟存其津液也。</p>
<p>（一六）本發汗而復下之，此為逆也，若先發汗，治不為逆，本先下之而反汗之，
此為逆也，若先下之，治不為逆。［原文］</p>
<p> 觀此則溫證此傷寒太陽經之變證為差減，而汗下之次第，亦為不同矣。</p>
<p>（一七）凡病若發汗，若吐若下，若亡津液，陰陽和者，必自愈。［原文］</p>
<p> 觀此則病溫之人，素無內傷，及不藏精之類者，為易愈也。
春溫上篇諸方［傷寒論共二百九十七法，前四卷已我明三百六十七法，茲篇得三
法］</p>
<p>解肌法
桂枝湯、桂枝加葛根湯、升麻葛根湯、葛根柴胡湯、葛根蔥白湯、葛根黃連黃芩
湯、［附方］人參敗毒散、參蘇飲、海藏大羌活湯。
解肌後，病不去，反惡寒者，虛也。芍藥甘草附子湯［脈細身倦者方可服］。
解肌後，身疼痛脈沉者。桂枝加芍藥人參新加湯。
解肌後，汗出過多，心下悸欲得按者。桂枝甘草湯。
臍下悸，欲作奔豚者。茯苓桂枝甘草大棗湯。
解肌後，煩渴脈洪大。白虎加人參湯。
解肌後，腹脹滿。厚朴生薑人參湯。
解肌後，不惡寒，但惡熱者。調胃承氣湯。
解肌後，惡熱無下證。知母石膏湯。
解肌後，脈微數，小便不利微熱煩渴。五苓散。
解肌後，胃乾，煩不得眠，欲飲水，少少與之。</p>
<p>吐法
瓜蒂散、梔豉湯［傷寒內著有顓論］。
清熱諸方
白虎湯、白虎加人參湯、白虎加蒼朮湯、白虎加桂枝湯、玄參升麻湯、升麻梔子
湯、竹葉石膏湯、竹葉湯。
和解諸方
小柴胡湯、小柴胡加桂枝湯、小柴胡去半夏加人參瓜蔞湯、小柴胡去人參加五味
子湯、小柴胡加芒硝湯。
疏風諸方
荊芥散、獨活湯、金匱風引湯、續命湯減麻黃附子。
分利諸方
五苓散［脈浮而大是表，其人發渴小便赤，卻當下，用此。］、豬苓湯［汗多者不可
與陽明，脈浮發熱，渴欲飲水，小便不利者與之］、天水散、辰砂天水散［分利兼
清鎮］、牡蠣澤瀉散［治腰以下有水氣］。
開結諸方
 三物小陷胸湯、三物白散。</p>
<p>下法
 大承氣湯、調胃承氣湯、大柴胡湯［脈浮大是表，其人心下痞卻當下，若煩渴燥
熱，小便赤色，噦嘔不止，心下微煩者，俱常兩解］。
下後，脈促胸滿。桂枝去芍藥湯。
若微寒。去芍藥加附子湯。
誤以丸藥下之，身熱不去，微煩。梔子乾薑湯［三湯取其溫以散表］。
下後，利不止，脈促，表未解，喘而汗出者。葛根黃連黃芩湯［取其涼以解表］。
下後，身熱不去，心中結痛，未欲解者。梔鼓湯。
下後，心煩，腹痛，臥起不安者。梔子厚朴湯［取其吐以散邪］。
下後，心中懊惱而煩，有躁屎者。大承氣湯［取其仍從下解］。
下後，寸脈沉而遲，手足厥逆，下利脈不至，咽喉不利，吐膿血，瀉利不止，為
難治。麻黃升麻湯［取解錯雜之邪］。
下後，傷血脈澀。葦歷苦酒湯，［取其壯陰大汗，使陽氣微又大下，使陰氣弱，
其人亡血病惡寒後，乃發熱無休止時，陰陽既虛氣血俱弱，故其熱不可止息。］、
葶藶梔子湯［二方取其酸苦湧滑以助陰］。
解毒諸方
 黃連解毒湯、黃連湯、黃連阿膠湯、黃連瀉心湯、黃連龍骨湯、黃睦犀角湯、
黃連橘皮湯、黑膏。
養血生津
 酸棗仁湯、芍藥甘草湯、阿膠散、大青龍湯、炙甘草湯、五味子湯。
補中
 黃耆建中湯、小建中湯、理中湯、溫中湯、治中湯。
涼血滋陰
 犀角地黃湯。
搐鼻出水
 瓜蒂散。
刺鼻出血
 乾粟幹篛葉。</p>
<h3>溫證中篇</h3>
<p>謹將冬不藏精春必病溫分為一大例
人身至冬月，陽氣潛藏於至陰之中，內經教人於此時若伏若匿，若已有得，重藏
精也，苦伏者，若抱雛養蟄，不遑食息也，苦匿者，若逋逃隱避，不露蹤跡也，
苦已有得者，韜光剷采，絕無缺望也，此何如鄭重耶，故謂冬不藏精，春必病溫，
見病所由來，為一定之理，必然之事，其辭甚決，蓋以精動，則關開而氣泄，冬
月關開氣泄，則寒風得入之矣，關屢開，氣屢泄，則寒風屢入之矣，而腎主閉藏
者，因是認賊作子，而賊亦無門可出，彌甚相安，及至春月，地氣上升，肝木用
事，肝主疏泄，木主風，加是吸引腎邪，勃勃內動，而劫其家寶矣，然邪入既深，
不能遽出，但覺憒憒無奈，其發熱也，全在骨髓之間，自覺極熱，而捫之反不烙
手，任行表散，汗出而邪不出，徒傷津液，以取危困，其候比之冬傷於寒一例，
則倍重矣。按冬不藏精之例，乃內經之例，非仲景之例也，非仲景之例，言之未
免為悖，然觀仲景之論溫證第一條，始不勝慶幸，而仲景已起發其端，昌可言之
無罪矣，其曰發汗已，身灼熱者，名曰風溫，風溫為病，脈陰陽俱浮，自汗出，
身重多眠睡，鼻息必鼾，語言難出，若被下者，小便不利，直視失溲，若被火者，
微發黃色，劇如驚癇狀，時瘈瘲，若火熏之，一逆尚引日，再逆促命期，此一段
至理，千古若明若昧，未經剖晰，全不思既名溫病，即是時行外感，何又汗之下
之火之，俱為逆耶，蓋熱邪久蓄少陰腎中，精水既為素傷，重加汗下火劫陰之法，
乃為逆耳，其自汗出身重多眠睡，鼻息鼾，語言難者，一一皆少陰之本證也，膀
胱為腎之府，故少陰證具，若被下則膀胱之陰亦傷，而直視失溲者，腎精不上榮，
腎氣欲外奪也，若被火劫，則陰愈虧而邪愈無制，甚則如驚8259狀，而時為瘈
瘲也，一逆再逆，言汗下火之誤，可一不可二，非汗而又下，而又汗之為再誤也，
由此觀之，冬不藏精之溫證，顯然昭著矣，昌之比例以分其治，而仲景之道愈明
矣，奚罪耶。再按仲景之論誤下，有結胸及痞挾熱騖溏臟寒不禁等證，從未說到
小便不利，直視失溲，於此言之者，謂腎以膀胱為府，素不藏精之人，誤下則膀
胱益虧，以故小便不利，直視失溲，其變亦倍重於膀胱也，況於風邪內熾，津液
乾燥，大便雖通之未必通，徙令膀胱受累，而小便自遺，試觀好色之人，多成癃
淋，可類推矣，今之醫者，亦講於誤下而絕膀胱之化源，立取危困之理耶。再按
發汗已身灼熱者，名曰風溫，此語將冬不藏精之溫證，形容殆盡，蓋凡外感之邪，
發汗已，則身熱自退，乃風溫之證，發汗已，身始灼熱者，明明是先熱在骨髓，
發汗已，然後透出肌表也，至於風溫二字，取義更微，與內經勞風之義頗同，勞
風者，勞其腎而生風也，然則冬不藏精之人，詎非勞其腎而風先內熾歟，故纔一
發汗，即帶出自汗，身重多眠，鼻鼾語難，諸多腎經之證，設不發，則諸證尚隱
伏，不盡透出也，夫腎中之風邪內熾，而以外感汗下，及火攻之法治之，甯不促
其亡耶，後人不知風溫為何病，反謂溫證之外，更有風溫濕溫溫毒溫疫四證，觀
其言曰，重感於風，變為風溫，則是外受之邪，與身重鼻鼾多眠少語之故，絕不
相涉，可知是夢中說夢也，尚論及此，聊以自慊耳，客有難昌者曰，內經論冬傷
於寒，寒毒藏於肌膚，感春月之溫氣始發，故名曰溫病，未嘗言寒毒感藏於骨髓，
今謂冬不藏精者，寒邪藏於骨髓，或未盡然耶，昌應之曰，此正內經之言，非余
之臆說也，黃帝問溫瘧，舍於何臟，岐伯曰，溫瘧得之冬中於風，寒氣藏於骨髓
之中，至春則陽氣大發，邪氣不能自出，因遇大暑，腦髓爍，肌肉消，腠理發泄，
或有所用力，邪氣與汗皆出，此病藏於腎，其氣先從內出之於外也，如是者陰虛
而陽盛則熱矣，衰則邪氣復反入，入則陽虛，虛則寒矣，故先熱而後寒，名曰溫
瘧，由是觀之，溫瘧且然，而況於溫病乎，客始唯唯。昌按熱邪久伏腎中，其證
與第一例自不相同，其發熱也，皆從骨內鬱蒸而出，皮間未熱，而耳翰上下，已
先熱矣，始發之時，多兼微寒，不似第一例之全不惡寒，以少陰居北方寒水之位
也，及至大熱灼肌，多不惡渴，不似第一例之大渴，以熱邪初動，而陰精尚足持
之也，其後則不惡寒而惡渴，與第一例之證，渾無別矣，然雖無別，究竟表裡不
同，標本互異，始先用藥深入腎中，領邪外出，則重者輕，而輕者即愈矣，奈何
其義隱而不彰，即以叔和之明，未嘗抽引其緒，為後人旁通一線，昌何人斯，顧
敢恣譚無忌，然而遠囂三十餘載，驅逐睡魔，晝夜不敢倒身，因是冥悟一班，即
取仲景少陰傷寒之例，推演為治溫之例，未嘗以己意混入一字也，引例如左。</p>
<p>（一）少陰病始得之反發熱脈者，麻黃附子細辛湯主之。［原文］</p>
<p> 昌按脈沉，病在裡也，而表反發熱，則邪雖在表，而其根源實在裡，在裡之邪，
欲其盡透於表，則非顓經之藥不可故，取附子細辛以匡麻黃，為溫經散邪，千古
不易之正法，奈何後人全不知用，明明見脈沉身重，嗜臥倦語之證，即知為風溫，
又知為冬不藏精，尚且漫用三陽經之表藥屢表不應，十中不能活一，復諉之傷寒
偏死腎虛人，是則是矣，但不知果行溫經散邪，而人死耶，抑未行溫經散邪，而
人死也噫，業傷寒者之託顓門，真是操刀之凶人，甯但為芄蘭之童子已哉。</p>
<p>（二）少陰病，得之二三日，麻黃附子甘草湯微發汗，以二三日無裡證，故微發
汗也。［原文］</p>
<p> 昌按麻黃主散邪，附子主溫經，二者，皆大力之藥也，前證發熱脈沉，則表裡
俱急，惟恐二物不勝其任，更加細辛之辛溫，取其為少陰引經之藥，而又有辛散
之能，以協贊二物，共建奇功也，云無裡證，非是并脈沉嗜臥等證俱無也，但無
吐利躁煩嘔渴之證耳，似此則表裡俱不見其急，而麻黃附子二物，尚恐其力之太
過，故不用細辛以助之，而反用甘草以和之也，謹并製方之意，嘔心相告，凡治
冬不藏精之溫證，始發二三日間，請決擇於斯二方焉。</p>
<p>（三）病發熱頭疼，脈反沉，若不瘥，身體疼痛，當救其裡，宜四逆湯。［原文］</p>
<p> 昌按此一段文義，可得仲景治冬不藏精之奧旨，病發熱頭疼，證見於表矣，而
脈反沉，則病又在裡矣，兩有可疑也，既發熱頭疼，勢必先治其表，若不瘥，則
治表無益矣，凡治表者皆治其陽也，陰病治陽，豈惟無益，將見陰中之真陽，因
之外越，而身體反加疼痛，一團陰寒用事矣，此所以當用四逆湯，而急回其在經
之陽也。再按若不瘥三字甚活，蓋發熱頭疼，表之原不為誤，但一切三陽經表藥，
俱不對證，惟麻黃附子細辛湯，與麻黃附子甘草湯二方，始為少陰經對證之表藥，
而又不敢必人之能用，所以不說誤表，而但說若不瘥，正見表藥中原有瘥法也。</p>
<p>（四）少陰病，脈沉細而數，其病在裡，不可發狂。［原文］</p>
<p> 按脈細而數，裡熱也，發汗則虛其表，且亡其津液，內熱愈熾。</p>
<p>（五）少陰病脈微，不可發汗，亡陽故也，陽已虛，尺脈弱澀者，復不可下之。
［原文］</p>
<p> 昌按前段云，脈沉細數則為熱，此云脈微則為虛，熱而發汗，則陰易亡，虛而
發汗，則陽易亡，故兩戒之也，然則脈不微數者，一概禁汗，不為懲噎廢食耶，
況於不藏精之證，邪發之初，未必即見微數之脈，惟可用麻黃附子二方，而不知
用，馴至脈微且數，則汗下溫三法，皆不可行，而陰絕陽離，有立而待斃耳。</p>
<p>（六）少陰病，欬而下利，讝語者被火氣劫故也，小便必難，以強責少陰汗
也。［原文］</p>
<p> 昌按少陰少血，強責其汗，是劫奪其血也，小便難者，源先竭也。再按少陰病，
強汗則小便必難，誤下則小便不利，直視失溲，可見腎以膀胱為府，臟病而府未
有不病，臟傷則府先告絕也，傷寒證中云，直視讝語，循衣撮空，小便利者，
其人可治，則是少陰之臟氣，絕與不絕，全於小便之利與不利，窺其中藏，孰謂
冽彼之下泉，非回枯澤槁之善物哉。</p>
<p>（七）少陰病，脈緊，至七八日，自下利，脈暴微，手足反溫，脈緊反去者，為
欲解也，雖煩下利，必自愈。［原文］</p>
<p> 昌按邪在陰者，多自利，自利則邪氣湧，正氣而脫者多矣，其候必脈緊數，而
四肢逆冷，今脈緊去而但微，則陰邪已散，手足溫，則真陽未傷，雖有心煩下利
之危意，而可直決為必愈，蓋陰陽不相乖亂，則別無死法也，然非腎氣素旺，受
邪原輕者，不易得之數矣。再按此與邪在陽，脈數而熱，得汗而脈和，身涼數去，
為欲愈之意同，然陽病輕，而從汗解則易，陰病重，而從利解則難，所以仲景於
陽邪內陷，下利不止之證，惟用逆流挽舟之法，挈裡邪還之於表，則利不治而自
止也，此段見陰邪從陰分解散，原屬順便，但少陰臟氣，堪為主人送出客邪，尚
恢乎有餘地則善也，而不藏精者，日為床褥作主人，安望重關設險以待暴客乎。</p>
<p>（八）少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血也。［原文］</p>
<p> 按膀胱為腎之府，腎邪傳膀胱，則裡熱達表，故一身手足盡熱也，太陽多血，
為熱所亂，則血出於二便，然比之少陰少血，誤動其血，而從口鼻耳目出者，則
天淵矣。再熱邪雖從便血而解，經年調理，陰氣難復，況既開血一竇，漫無止期，
何如一身手足方熱之頃，預識勢所必至，而亟圖之於早耶，奪膀胱熱，用桂枝大
黃入四苓散。</p>
<p>（九）少陰病，欲吐不吐，心煩但欲寐，五六日，自利而渴者，虛故引水自救，
口燥舌乾證具，小便色反白者，下焦虛，有寒也，勿認為熱以致誤。［原文］</p>
<p> 此一段因仲景原文難解，昌會其意而言之也。按冬不藏精之證，此一段最肖，
仲景早已欲人辨識之矣。</p>
<p>（十）病人脈，陰陽俱緊，反汗出者，亡［無也］，陽也，［無妨以為之外護也］，
此用少陰，法當咽痛而復吐利。［原文］</p>
<p> 按冬不藏精之證，此一段更肖，少陰為水臟，吐利者陰盛而水無制也。</p>
<p> 春溫中篇諸方［茲篇得十二法］
 溫經散邪一法
  麻黃附子細辛湯、麻黃附子甘草湯［二方之意前已論明］。
溫經一法
  附子湯。治得病一二日，口中和，背惡寒者。治身體痛，手足寒，骨節痛，脈
沉者。附子溫經散寒，人參補氣回陽，芍藥收陰，茯苓及朮，制水燠土。
急溫一法
  四逆湯。治寒邪深入於裡者。治膈上有寒飲乾嘔者。陰邪深入，則微陽必遭埋
沒，陰邪上干，則微陽必致飛騰，故宜急溫，恐少遲則不及也。急溫則無取於回
護矣，然以甘草為君，以乾薑附子為臣，正長駕遠馭，俾不至於犯上無等，無回
護中之回護也。
 通陽一法
白通湯。治陰寒下利，蔥白為君，乾薑附子為臣，以在經之陰極盛，格拒其陽於
外而不納，故取用於蔥白以通陽氣，而使陰氣自斂，見睍曰消之義也。
白通加豬膽汁湯。治下利脈微，及厥逆無脈，乾嘔煩者，呼吸存亡之際，恐陽藥
不能直達，故加入尿豬膽汁之陰，以為向導，服湯脈暴出者死，微續者生。
通脈四逆湯。治下利清穀，裡虛外熱，手足厥逆，脈微欲絕，身反不惡寒，其人
面赤色，或腹痛，或乾嘔咽痛，或利止脈不出者，即前四逆湯，而倍乾薑加蔥白
也。不惡寒，面色赤而外熱者，加蔥白以通陽氣，腹中痛者，真陰不足，去蔥加
芍藥，嘔者加生薑。咽痛者，去芍藥，少加桔梗。利止，脈不出者，陽氣未復，
去桔梗加人參。
溫胃一法
吳茱萸湯。治吐利，手足厥冷，煩躁欲死者。
桃花湯。治二三日，至四五日，腹痛，小便不利，下利不止，便膿血者。胃虛土
寒，不能制水，而下焦滑脫，故用乾薑粳米之辛甘，以佐赤石脂也。
灼艾助陽一法
一二日口中和背惡寒者，即宜服附子湯，并用灸法以助陽。吐利，手足不逆冷者，
不死，脈不至者，灸少陰七壯。下利，脈微澀，嘔而汗出，數更衣反少者，陽虛
而氣下墜，血少而勤弩責也，宜灸頂門之百會穴，以升舉其陽也。
溫經鎮水一法
真武湯。治腹痛，小便不利，四肢沉重，疼痛，自下利者，或欬，或小便利，或
嘔者，真武北方司水之神也，陰邪熾盛，水泉泛溢，得真武，則可以鎮攝而安其
位也。
和陰一法
 黃連阿膠湯。治心煩不寐者。少陰本欲寐，反心煩不寐，熱甚而裏不和也，芩
連除熱，雞子黃阿膠少佐芍藥以和血，而生不足之真陰也。
 急下一法
大承氣湯。治二三日，口燥咽乾者，二三日病始發，便有腎水枯竭之象，不急下
將何救耶。治自利清水，色純青，心下痛，口乾燥者，腎中之邪，搏水而變青，
熱之極也，心下痛者，水氣上逆也，水氣上逆而口反乾燥，則枯涸有立至矣，故
當急下。治六七日腹脹不大便者，腹脹不大便，胃實可知，水臟受病，加以土實，
則水必竭，故當急下。
清解一法
四逆散。治四肢微逆，或欬或悸，或小便不利，或腹中痛，或泄利下重者。四肢
微冷，則熱未深，故用柴胡解之，枳實泄之，甘草和之，而最要加芍藥以收其陰
也，欬者，加五味子乾薑，并主下利，悸者，加桂枝，小便不利者，加茯苓，腹
中痛者，加附子，泄利下重者，加薤白，煮汁煎散。
 分利一法
  豬苓散。治下利不止，欬而嘔渴，心煩，不得眠者，取其水穀分，則利自止，
利止，則嘔渴心煩，不待治而自愈，然不藏精，而膀胱之氣不化者，又在所禁。
 清咽一法
 甘草湯、桔梗湯、半夏湯。治風挾痰熱者，
 苦酒湯。治咽中生瘡，話聲不出者。</p>
<h3>溫證下篇</h3>
<p> 謹將冬傷於寒又兼冬不藏精春月同時病發定為一大例
 昌按冬既傷於寒，冬又不藏精，至春月兩邪同發，則冬傷於寒者，陽分受邪，
太陽膀胱經主之，冬不藏精者，陰分受邪，少陰腎經主之，與兩感傷寒證中，一
日太陽受之，即與少陰俱病，則頭痛口乾煩滿而渴之例，纖毫不差，但傷寒證自
外，入內，轉入轉深，故三日傳遍六經，溫證，自內達外，既從太陽之戶牖而出，
勢不能傳遍他經，表裡只在此二經者為恆也，若更挾外邪，從大腸少陰經中，二
日傳陽明太陰，三日傳少陽厥陰，則臟腑之邪交熾，不俟六日即死矣，蓋太陽少
陰邪發之日，正已先傷，外邪復入，正氣又傷，即與再傳無異，臟腑之氣幾何，
決無所供三傳之理也，但既是溫證，表裡橫發，重復感受外邪者，十中無一，所
以溫證兩感之例，原有可生之理，昌冶金鑑一則，先以麻黃附子細辛湯汗之，次
以附子瀉心湯下之，兩劑而愈，可見仲景法度，森森具列，在人之善用也，今人
見熱煩枯躁之證，而不敢用附子者，惡其以熱助熱也，熟知不藏精之人，腎中陽
氣不鼓，精液不得上升，故枯躁外見，纔用附子助陽，則陰氣上交於陽位，如釜
底加火，則釜中之氣水上騰，而潤澤有立至者，仲景方中，輒用附子一枚，今人
一錢，亦不敢用，總由其識之未充耳，昌亦非偏重溫也，以少陰經之汗下，與他
經不同，如治金鑑，先以溫法及汗法一藥同用，次以溫法及下法一藥同用，而收
功反掌，蓋舍二法別無他法也，設汗藥中可不用溫，下藥中可不用溫，是與治傷
寒陽邪之法，全無差等矣，昌之分溫證為三例者，道本自然，其不以牽強穿鑿，
取後世之批議也明矣。再按冬傷於寒，又不藏精，春月病發，全似半表半裡之證，
乃以半表半裏藥用之，病不除而反增，所以者何，此證乃太陽少陰，互為標本，
與少陽之半表半裡，絕不相涉也，然隨經用藥，箇中之妙，難以言傳，蓋兩經俱
病，從太陽汗之，則動少陰之血，從少陰溫之，則助太腸之邪，仲景且謂其兩感
於寒者，必不免於死，況經粗工之手，尚有活命之理耶，所云治有先後，發表攻
裡，本自不同，此十二字祕訣，乃兩感傳心之要，即治溫萬全之規，聖言煌煌，
學者能參透此關，其治兩感之溫證，十全八九矣。</p>
<p>表熱裡寒者，脈雖沉而遲，手足微厥，下利清穀，此裡寒也，所以陰證亦有發熱
者，此表解也，表寒裡熱者，脈必滑，身厥舌乾，所以少陰惡寒而踡，此表寒也，
時時自煩，不欲厚衣，此裡熱也。［原文］</p>
<p>按此段文義論溫證，全以少陰腎與太陽膀胱分表裡，昌所謂太陽與少陰，互為標
本者，得此而為有據矣，其云所以陰證亦有發熱者，此表解也，言當先從表解也，
即麻黃附子細辛湯之例也，脈滑表寒也，身厥舌乾裡熱也，惡寒而踡，宜行溫散，
時時自煩，不欲厚衣，又宜涼解，用藥如此繁難，正與兩感證中，治有先後，發
表攻裡，本自不同之義互見，正欲學者之以三隅反也，又云，少陰病，惡寒而踡，
時自煩，欲去衣被者可治，又云，手足溫者可治，雖不出方，大段見陰陽不甚乖
離，尚可調其偏以協於和之意，設惡寒而踡，更加下利，手足逆冷，則無陽而偏
於陰矣，更加脈不至，不煩而躁，則陽去而陰亦不存矣，所以用藥全在臨時較量，
果其陰盛陽微，即以溫為主，果其陽盛陰微，即以下為主，果其陰陽錯雜，溫下
兩有所礙，則參伍以調其偏勝為主也，當從表解之義，前已申明，然亦必邪勢正
熾，陰陽尚未全虧，方可溫經散邪，若夫滋蔓難圖，任行背水之陣，必無僥倖矣，
此等處，皆是危疑關頭，雖仲景之聖，不敢經出一方，以膠治法之圓機，所貴明
理之彥，師其意而自為深造耳。</p>
<p>少陰中風，脈陽微陰浮者為欲愈。［原文］</p>
<p>觀此一條，而認脈辨證之機，亦甚昭著矣，陽微陰浮為欲愈，則病發之時，陽盛
陰緊可知也，陽盛則治先腑，陰緊則治先臟，又可知也，既盛且緊，則參之外證，
以分緩急，又可知也，倘陽已微，而陰不浮者，更當治其陰，亦可知也，倘陰巳
浮，而陽不微者，更當治其陽，亦可知也，此昌之尚論，每於仲景言外，透出神
髓，以自慊也。仲景用桂枝，以和營衛而解肌，此定例也，不但為太陽經中風之
本藥，即少陰經之宜汗者，亦取用之，其最妙處，在用芍藥以益陰而和陽，太陽
經之營衛，得芍藥之酸收，則不為甘溫之發散所逼，而安其位也，至若少陰則更
為陰臟而少血，所以強逼少陰汗者，重則血從耳目口鼻出，而厥竭可虞，輕亦小
便不利，而枯涸可待，用藥自當比芍藥之例，而倍加陰以益陽，昌每用桂枝，必
加生地，以佐芍藥之不逮，三十年來，功效歷歷可紀，蓋得比例之法也，仲景於
冬月太陽中風之證，而用桂枝為例，不為春月之病溫者設也，春月病溫用桂枝，
勢必佐之以辛涼，而不藏精之溫，屬在少陰，不得不用桂枝之溫解之，以少陰本
陰標寒，邪入其界，非溫不散也，豈惟桂枝，甚則麻黃附子，在所必用，所貴倍
加陰藥以輔之，如芍藥地黃，豬膽汁之類是也，今人未達此理，但知惡藥性之溫，
概以羌活柴葛為表，則治太陽而遺少陰，屢表而病不除，究竟莫可奈何，而病者
無幸矣，紛紛為仲景解嘲之說，然乎否耶。</p>
<p> 謹定擬冬傷於寒冬不藏精之證名曰兩感溫證</p>
<p>按傷寒少陰證，乃從三陽經傳入者，此證乃少陰與膀胱經，一臟一腑，自受之邪，
故三陽傳入之例，多不合，惟兩感之例，一日太陽受之，即與少陰俱病，其例吻
合，然仲景又不立治法，但曰，治有先後，發表攻裏，本自不同，是則一藥之中，
決無兼治兩經，籠統不清之法矣，而治有先後，於義何居，昌嘗思之，傳經之邪
先表後裡，直中之邪，但先其裡，溫證之邪，裡重於表，兩感之邪，表裡不可預
擬，惟先其偏重處，假如其人，陰水將竭，真陽發露，外見種種躁擾之證，加以
再治太陽之邪，頃刻亡陽而死矣，是必先溫其在經之陽，兼益其陰，以培陽之基，
然後乃治其太陽之邪，猶為庶幾也，此則與少陰宜溫之例合也，又如其人，平素
消瘦，兼以內鬱之邪，灼其腎水，外現鼻煤舌黑，種種枯槁之象，加以再治太陽，
頃刻亡陰而死矣，是必急下以救將絕之水，水液即回，然後乃治太陽之邪，猶為
庶幾也，此則與少陰宜下之例合也，又如其人，邪發於太陽經者，極其勢迫，太
熱惡寒，頭疼如劈，腰脊頸項，強痛莫移，胸高氣喘，種種危急，溫之則發斑發
狂，下之則結胸讝語，計惟有先從太陽經桂枝之法解之，解已，然後或溫或
下以去其在陰之邪也，此則當用太陽經之表例，而與其少陰可汗之例略同也，詎
非先後攻發之可預擬者耶，但兩感傷寒之攻裡，單取攻下，原不兼溫，而兩感溫
證之裡，亡陽之候頗多，不得不兼溫與下而並擬之也，此又變例而從病情者也。
按太陽少陰兩感之溫證，其例雖與兩感傷寒，一日太陽與少陰俱病相合，其實比
傳經之邪，大有不同，蓋傷寒之邪，三日傳遍六經，故為必死之證，而溫病乃內
鬱之邪，始終只在太陽少陰二經，不傳他經者為多，是則非必死之證也，惟治之
不善，乃必死耳，倘用汗下溫法，先後不紊，則邪去而正未傷，其生固可必也，
又有邪未去而正先亡，惟藉他經供其絕乏，久之本臟復榮，亦以得生者，總宜分
別視也。按亡陽一證，在傷寒則誤發太陽經汗，與誤發少陰經汗者多見之，他經
汗誤則不然，可見兩感之溫證，為太陽少陰雙受之邪，合溫經散邪，而單用汗藥
者，其亡腸真在頃刻間耳，蓋陽根於陰，深藏北方腎水之底，素不藏精之人，真
陰既耗，則真陽之根，淺而易露，若不以溫經之法，嘿護其根，而但用甘溫發散
之藥，是以陽召陽，隨感即赴，不待蓋覆，而淋漓不止矣，可不懼哉。按亡陰一
證，在傷寒則邪傳陽明，當下而不下，致津液暗枯，邪傳少陰，當下而又不下，
致腎水暗枯，其亡也以漸，尚有急下一法可救，若在不藏精之溫證，則腎水已竭
之於先，而邪發之日，陰邪必從下走，勢自下利奔迫，是下多尤足亡陰，而又絕
無補法，可以生陰，金匱云，六腑氣絕於外者，其人惡寒，五臟氣絕於內者，則
下利不禁，臟者陰也，陰氣欲絕，詎非亡陰之別名乎。神哉仲景之書，既詳不藏
精之證，又出不藏精之治，特未顯然挈示，後人不維其義耳，即如桂枝一湯，本
為太陽中風設也，而汗下和溫，已具於一方之內，至於溫法，尤為獨詳，如加附
子，加人參白朮乾薑甘草，加桂心茯苓蜀漆紅花等類，豈太陽表證中所宜有乎，
惟病有不得不先溫經，又不得不兼散邪者，故以諸多溫經之法，隸於桂枝項下，
一方而兩擅其用，與麻黃附子細辛湯同意，凡遇冬不藏精之證，表裡之邪交熾，
陰陽之氣素虧者，按法用之，裕如也。</p>
<p> 春一溫下篇諸方［茲篇得十五法，連前共三十法，合前四巷共足三百九十七法。］
 桂枝領邪一法。桂枝加生地湯。
 清表溫中一法。桂枝加人參湯。
 清陽瀉火一法。桂枝加大黃湯。
 脈浮先表一法。桂枝湯。
 先溫後表一法。治下利清穀不止，身疼痛者。先用四逆湯，急救其裡，救後清
便自調，但身痛者，隨用桂枝湯急救其表，此見下多，則陰邪亦從陰解，故溫後
但解其陽邪，不必兼陰為治。
 溫經止汗一法。桂枝加附子湯。
 汗後惡寒一法，芍藥甘草附子湯［收陰固陽表虛］。
 下後惡寒一法。桂枝湯去芍藥加附子［陽虛］。
 汗後惡熱一法。調胃承氣湯［胃中乾實］。
 汗後裡虛一法。桂枝新加湯［汗後身疼痛，脈沉遲］。
 汗後發悸二法。桂枝甘草湯［治心下悸，欲得人按］。茯苓桂枝甘草大棗湯［治臍
下悸］。
 汗後腹脹一法。厚朴生薑甘草半夏人參湯
 晝夜靜躁一法。汗下後表虛惡寒，裡虛脈微細，日輕夜重者，以救陰為主，宜
桂枝加紅花湯。日重夜輕，身無大熱者，以救陽為主，宜乾薑附子湯。
 誤汗變逆一法。本脈浮而證見汗出心煩，微寒腳攣之候，纔服桂枝湯，即便厥
冷，咽乾煩躁吐逆者，乃陽虛而陰獨盛也，先與甘草乾薑湯，以復其陽，俟厥愈
足溫，更與芍藥甘草湯，行陰寒凝滯之血，以伸其腳，若陽虛陰盛，其變愈大者，
但用四逆湯以溫經回陽，而不兼陰為治也。
 附辨溫證合偶感之客邪以明理而闢謬
 諸家方書，謂溫證之外，復有四證，一曰，脈陰陽俱盛，重感於寒者，變為溫
瘧，一曰，陽脈浮滑，陰脈濡弱者，更遇於風，變為風溫，一曰，陽脈濡弱，陰
脈實大者，更遇溫熱，變為溫毒，一曰，陽脈濡弱，陰脈弦緊者，更遇溫氣，變
為溫疫，據其援脈以辨證，而為治溫者推廣其端，似乎新奇可喜，詎知辭不達意，
徒足炫人，所以後人一得之長，迥不及於古人，此等處，關係病機最鉅，昌不得
不并明其理焉，蓋春溫夏熱，秋涼冬寒，各主一氣者，其常也，然天氣不可以長
拘，所以夏氣亦有清涼之時，冬氣亦有燠熱之時，凡此皆謂之客氣也，本溫證而
重感於寒，其病即兼冬氣，而為溫瘧，本溫證而重感於熱，其病即兼夏氣而為溫
毒，本溫證而重感於時行不正之氣，其病即兼不正之氣而為溫疫，原無所變也，
乃謂某病忽變某病，不令人炫而且駭乎，又且長夏之濕氣，春分後早已先動，最
能與溫氣相合，而為濕溫之證，何以四證內，反不並舉，又且溫瘧一證，內經明
說是冬月邪入骨髓，至春夏始發，何以妄說春月重感於寒，又且更遇於風，變為
風溫一證，頭上安頭，夢中說夢，尤為無識，蓋春月厥陰風木主事，與時令之溫，
不得分之為兩，凡感而病者，皆為風溫之病也，即如初春之時，地氣尚未上升，
無溼之可言也，天氣尚微寒，無毒之可言也，時令正清和，無疫之可言也，而所
以主病者，全係於風，倘除風溫，另為一證，則所以病溫之故，為何故耶，試觀
仲景於冬月之病，悉以傷寒之名統之，其感發之風寒，栗烈之寒氣，總為一寒，
則春月之風寒，風熱，風濕，總為一風并可知也，夫風為定體者也，在八方則從
八方，在四時則從四時，春之風溫，夏之風熱，秋之風涼，冬之風寒，此自然之
事也，仲景於溫證篇首，即特揭風溫之名，以綱眾目，其晰義之精為何如耶，顯
明道理，一經後入之手，便將風與溫，分之為二，況於精微之奧乎，茲特辨之，
以見治溫之法，原為切近平易，而非有奇特也。
溫瘧主治
溫瘧病，脈尺寸俱盛，先熱後寒者，宜小柴胡湯。先寒後熱者，宜小柴胡加桂枝
湯，但寒不熱者宜柴胡加桂薑湯，但熱不寒者，宜白虎加桂湯。有汗多煩渴，小
便赤澀，素有瘴氣，及不服水土，吐甚者，宜五苓散。
溫毒主治
溫毒為病最重，溫毒必發斑，宜人參白虎湯。竹葉石膏湯。玄參升麻湯。黑膏［清
氣，涼血。］
溫疫主治。人參敗毒散。
溫疫病陽脈濡弱，正虛也，陰脈弦緊，邪實也，正虛邪實，則一團外邪內熾，莫
能解散，病固纏身為累，而目前不藏精之人，觸其氣者，染之尤易，所以發表藥
中，宜用人參，以領出其邪，寓意草中，論之已悉，茲不復贅。</p>
<h2>卷二</h2>
<h3>尚論四時</h3>
<p>冬
天干始於甲，地支始於子，故尚論四時以冬為首，凡春夏秋三時之病，皆始於冬
故也，先王以至日閉關，商旅不行，后不省方者，法天之閉藏，與民休息，俾無
夭札也，然而高人踏雪空山，而內藏愈固，漁父垂釣寒江，而外邪不侵，以藏精
為禦寒，乃稱真禦寒矣，內經謂冬不藏精，春必病溫，諄諄垂誡，後世紅爐煖閣，
醉而人房，反使孔竅盡開，內藏發露，以致外寒乘間竊入，所以傷寒一證，最凶
最多，伸景於春夏秋三時之溫熱病，悉以傷寒統之者，蓋以此也，吾人一日之勞，
設不得夜寢，則來日必加困頓，農夫一歲之勞，設不為冬藏，則來年必至缺乏，
況乎萬物以春夏秋為晝，以冬為夜，至冬而歸根伏氣，莫不皆然，豈以人為萬物
之靈，而顧可貿貿然耶，特首揭之，且以動良士之瞿瞿也。</p>
<p>春
天地之大德曰生，德流化溥，而人物生焉者也，春秋首揭春王正月，雖重王道，
而天德人理，統括無餘，春於時為仁，仁者人之心也，故生而勿殺，予而勿奪，
賞而勿罰，心上先有一段太和之意，然後與和風甘雨，麗日芳時，百昌庶類，同
其欣賞，一切乖戾之氣，不驅自遠，更何病之有哉，乃縱肆輩日飲食於天地之陽
和，而不禁其暴戾恣雎之習，此其心先與兇惡為伍，凡八風之邪，四時之毒，咸
得中之，及至病極無奈，乃始忍性以冀全生，究屬勉強以冀而非自然，如石壓草，
逢春即芽，如木藏火，逢鑽即出，惟廓然委順，嗒然喪我者，病魔潛消，而精氣
漸長，猶為近之，故法天地之生以養生者，為知道也。風者，善行易入之物，為
百病之長，大率風之傷人，先從皮毛而入，以次傳入筋骨臟腑，內虛之人，與外
風相召，如空谷之應響，大塊之噫氣，未動而已先覺，若星搖燈閃，可預徵者，
故體虛之人，避風如避箭石，偶不及避，當掙弩以捍其外，熱湯以溉其內，使皮
毛間津津潤透，則風邪隨感即出，不為害矣，然外雖避風，而內食引風之物，其
招致尤為不淺，善治風者，必權衡於風入之淺深，逐節推引而出，然亦須兼治痰，
痰不堵塞竅隧，則風易出也，至於痰熱積盛，有自內生風之候，則與外感之風，
迥隔天淵，若以外感法治之，加羌防之屬，則內愈虛，風愈熾，每至不起，與內
傷病以外感藥治，其誤同也。</p>
<p>夏
熱者，天時之氣也，暑者，日之毒也，濕者，地之氣也，夏月時本熱，加以地濕
上騰，是以庶類莫不繁茂然而三氣相合，感病之人為獨多，百計避之不免，亦惟
有藏精一法可恃耳，昌謂夏月藏精，則熱邪不能侵，與冬月之藏精，而寒邪不能
入者，無異也，故春夏秋三時之病，皆起於冬，而秋來二時之病，皆起於夏，夏
月獨宿，兢兢隄防，金水二臟，允為攝身之儀式矣，每見貴介髫齡之子，夏月出
帷納涼，暗中多開慾竇，以致熱邪乘之，傷風咳嗽，漸成虛怯尪瘦等病者甚多，
有賢父兄者，自宜防之於早矣。人之居卑隩，觸山嵐，冒雨暘，著汗衣，臥冰蕈，
飲涼水，食瓜果，受內鬱，皆能使濕土受傷，若以秋瘧但為受暑，遺卻太陰濕土
受傷一半，至冬月咳嗽，反以為受於濕，而以燥治之，不成千古一大誤耶，夏月
汗多真陽易散，津少真陰易消，為內傷諸病之始。</p>
<p>秋
金繼長夏濕土而生，其氣清肅，天香遍野，地寶垂成，月華露湛，星朗淵澄，酷
熱之後，得此高秋薦賞，與嚴寒之後，而得陽春敷和，同為一歲不可多得之日，
蓋金性剛，金令嚴，繁茂轉而為蕭竦矣，燠熱轉而為清冷矣，以故為時未幾，而
木萎草枯，水落石出，時愈冷則愈躁，以火令退氣已久，金無所畏而得以自為也，
故躁金之令，不可傷，傷之則水竭液乾，筋急爪枯，肝木暗摧，去生滋遠，故凡
肝病之人，宜無擾無伐，以聽木氣之歸藏，木氣歸藏，躁金即能萎其枝葉，而不
能傷其根本，及秋金纔生冬水，早已庇木之根，以故木至春而復榮者，榮於冬月
之胎養也，夫生中有殺，殺中有生，亦自然而然之理，人在氣交之中，能隨天地
自然之運，而為節宜，則不但無病，而且難老，豈舍此而更有延年之術哉，若夫
躁金自受之邪，為病最大，以夏火之剋秋金為賊邪，故暑熱濕之令，金獨傷之，
暑熱濕之病，金獨受之，古人於夏月，早以淡泊滋味，惡其濕熱傷肺，且不欲濁
滯礙清道也，然形寒飲冷，尤為傷肺，雖夏月之乘涼，亦不可過，況入秋已深，
尚啖生冷，冒風露而無忌，甯不致肺之病耶，故夏三月所受之熱，至秋欲其散，
不欲其收，若以時今之收，兼收其熱，則金不生水，而轉增躁，安得不為筋脈短
勁，濁渴枯損之導，為冬月欬嗽之根耶。</p>
<h4>論治病必本於四時</h4>
<p>飧泄病，既謂春傷於風，夏生飧泄矣，又曰長夏兼病洞泄寒中，又曰逆秋氣者，
冬必飧泄，其言錯出無定，人不易會不知病名雖同，而其因風因濕因寒，則各不
相同，故治病不本於四時，無能治也。</p>
<p>春傷於風夏生飧泄解
春傷於風，夏生飧泄，從來解說不明，昌謂風邪傷人，必入空竅，惟腸胃為最，
所飧之食，由胃入腸，胃空而風居之，少頃糟粕去，腸空而風亦居之，風既居於
腸胃，則其導引之機，如順風揚帆，不俟脾之運化，食入即出，以故飧已即泄也，
不知者以為脾虛，完穀不化，用長夏洞泄寒中，及冬月飧泄之法，反以補脾剛躁
之藥，助風性之勁，有泄無已，每至束手無策，倘知從春令治之，仍以桂枝領風，
從解肌而出，一二劑可愈也，識此意者，雖三時之傷於風者，亦可會而通之。</p>
<p>夏傷於暑長夏傷於濕秋必痎瘧解
自二月以至七月，地氣動，則濕用事，自八月以至正月，地氣靜，則燥用事，所
以春夏多病瘧者，可知傷熱傷暑，未有不傷濕者也，所以秋冬有欬嗽者，傷風傷
寒，未有不兼傷躁者也。</p>
<p>秋傷於燥冬生欬嗽解
秋月之金，生冬月之水，然金必寒，始能生水，水必冷，始不為痰，故冬月之欬
嗽，必由於秋令之燥也，然而夏月化土之氣，不先傷於肺，則秋月何躁之有，昌
故謂秋冬二時之病，皆始於夏，夏月藏精則熱邪不能侵也，夫池沼之間，暑且不
到，豈有內藏之泓然真水，而暑熱之邪得傷其肺者哉，故火邪不能爍金，而金始
冷也，金寒則氣清而不上逆，水冷則質清而不成痰，更何欬嗽之有哉。</p>
<h4>論內經四時主病之脫誤</h4>
<p>內經云，春傷於風，夏生飧泄，夏傷於暑，秋必痎瘧，秋傷於濕，冬生欬嗽，冬
傷於寒，春必病溫，春冬二季，風寒之病，可無疑矣，其夏傷於暑，秋必痎瘧一
語，釋云暑汗不出，至秋涼氣相薄，而為寒熱往來之瘧，蓋以經文，原有當暑汗
不出者，秋風成瘧之說，故引之而為註，不知於理欠通也，夫夏月之暑，合於長
夏之濕，始為秋時之瘧，所以瘧證名曰脾寒，由傷於長夏之濕土為多，若謂專屬
傷暑，則人之深居靜攝，未嘗傷暑，秋亦病瘧者，又謂何所傷耶，至秋傷於濕，
冬生欬嗽一語，釋云秋傷於濕，濕蒸為熱，熱者火也，至冬寒與熱搏，當為欬嗽
之證，則牽強不通之極矣，夫濕無定體者也，春夏曰風熱之濕，秋冬曰涼寒之濕，
惟夏月之暑熱濕三氣相合，始可名之為熱，豈有至秋之涼，而反蒸為熱之理，況
乎濕者水類，所以水就濕也，躁者火類，所以火就躁也，指躁為濕，是指火為水
矣，顛倒不已甚乎，今為正經文之脫簡，增人一語曰，春傷於風，夏生飧泄，夏
傷於暑，長夏傷於濕，秋必痎瘧，秋傷於躁，冬必欬嗽，則六氣配四時之旨，燦
然中天矣，加長夏之濕，而秋病之源始清，易秋月為躁，而諸家指為熱火之訓，
亦不謬，請再以素問之旨明之，素問云，天有春夏秋冬之四時，金木水火土之五
行，以生長化收藏，而寒暑燥濕風火之六氣，從茲而生焉，蓋春屬風木主生，夏
屬熱火主長，長夏屬濕土主化，秋屬躁金主收，冬屬寒水主藏，可見造物全賴濕
土生化之一氣，而木火金水，始得相生於不息，雖土無正位，四季之中，各分旺
一十八日，然無長夏十八日之土，則相生之機息矣，故長夏之土，為生秋金之正
土，春秋冬之分隸者，不得與之較量也，此義既明，則秋月躁金主收之義始明，
而冬月之欬嗽，為傷秋金之躁，不為傷秋之濕也，亦自明矣，再觀素問云，逆春
氣則傷肝木，不能生夏時之心火，至夏有寒變之病，逆夏氣則傷心火，心火不能
生長夏之脾土，脾土不能生秋時之肺金，至秋有痎瘧之病，逆秋氣則傷肺金，肺
金不能生冬時之腎水，至冬有飧泄之病，逆冬氣，則傷腎水，腎水不能生春時之
肝木，至春有痿厥之病，是則三時之病，當更互言之，而秋之病瘧未嘗更也，其
必以心火脾土並言，則長夏之傷於濕，誠為經文當日必有之言，而非昌之臆說也
明矣。</p>
<h4>論春秋冬各主一氣夏月兼主三氣之理原為天地自然之運</h4>
<p>內經云，彼春之溫，為夏之暑，彼秋之忿，為冬之怒，明乎溫熱寒涼，循序漸進，
自然而然者，乃天運之常也，後之俗子，輒以風寒暑濕，分隸四時，此緣經文，
脫誤秋傷於躁一段，傳習至今而不察耳，曷不曰，風寒暑躁猶為近耶，蓋濕土無
定位，寄旺於四季，各一十八日，風寒暑躁之內，不言濕而濕自在也，然亦但倣
洛書五數，居中縱橫各得之理以立言，若論天時自然之運，如環無端，豈有甫終
一運，重轉土運十八日，五運而為八轉者乎，此其道，惟以六氣之配而始明，蓋
三百六十日，五分之各得七十二日，則為五運，六分分之各得六十日，則為六氣，
自小雪至大寒六十日，屬太陽寒，水之氣，自大寒至春分六十日屬厥陰風木之氣，
自春分至小滿六十日，屬少陰君火之氣，自小滿至大暑六十日，屬少陽相火之氣，
自大暑至秋分六十日，屬太陰濕土之氣，自秋分至小雪六十日，屬陽明躁金之氣，
此則水木火土金相生，不息之義也，可見冬季大寒後十八日之土，即從太陽寒水
之氣為用，故能生厥陰之風木，而春季穀雨後十八日之土，早已屬少陰君火之所
生，而不從風木為同類，又加仲夏少陽相火，重生其土，至長夏大暑後，其土之
盛為始極，而為生金之正土矣，未立夏之前，氣已從火，既立秋之後，氣上從土，
火土之氣，共管一行八十日，分歲之半，昌所謂夏月三氣相合，與冬春秋之各主
一氣，迥乎不同者，正以天時自然之運而知之也，豈故為牽強其說以欺人哉，但
君相二火之分，即與濕土合司其化，所以夏月暑熱中有濕，濕中有暑熱，自春非
分至秋分，有極濕之時，有極熱之時，又有濕熱交蒸之時，雖云長夏建未之月，
濕土主事，其實已行半年之久矣，夫春分後，土膏地溽，濕行半年，不謂之濕，
直至秋後，土乾地躁，反謂之濕，昔賢以訛傳訛，其因仍茍簡為不少矣，可無論
歟。熱濕暑三氣，同於夏月見之，真所謂同氣相求也，蓋熱而益之以暑，則熱為
甚酷，爍石流金，亦云僅矣，然但為乾熱已也，得陰涼尚可避之，若加以濕而與
炎威相會，盡大地為蒸籠，礎磉流膏，蟣虱悉出衣表，無可避也，必俟金風動而
暑始退，惟風動勝濕故也，三氣相兼之義，益可見矣，夏日較他時獨永，而南方
離明之位，天星獨密，造化活潑之妙，非圓機之聖人，曷足以知之。</p>
<h4>論逆四時之病為自取其殃</h4>
<p>四序之中，當溫而溫，當熱而熱，當涼而涼，當寒而寒，以生以長以化，以收以
藏，四時極正之氣，民物原無痾疹，乃有違天而召戾，不可救藥者甚多，內經云，
逆冬氣則傷腎，奉生者少，逆春氣則傷肝，奉長者少，逆夏氣則傷心，奉收者少，
逆秋氣則傷肺，奉藏者少，其逆四季土旺之氣則傷脾，奉化者少，言外自寓造物
不與人忤，而人自逆之也，逆之之情，久而靡錮，如暴戾忿恨之人，始焉但覺肝
氣有餘，終歲擾亂，一旦不足，則尪羸無似，更有何氣可奉他藏耶，所謂違天者
不祥，人不可以不知也。四序之中，有與病相鄰者，善保生者，宜默杜其機，如
春氣在頭，頭間之氣，倍旺於他部，氣旺則血充，血充則易至於溢出，故春病善
鼽8748，其所損也多矣，內經云，上者下之，誠知春氣之在頭也，每日引而歸
諸丹田氣海之內，且氣機雖發揚，而吾心不可無蕭瑟之應，不則微用苦降之藥，
以通其氣，凡此皆所謂嘿杜其機者也，若俟鼽8748淋漓，尚不知其所來，則無
具甚矣。［鼽音求，鼻間窒塞也，8748音忸，鼻間出血也。］</p>
<h4>論四時制勝之道</h4>
<p>素問云，風勝則動，熱勝則腫，燥甚則乾，寒勝則浮，濕勝則濡瀉，可見凡人感
受四時偏勝之氣而成病者，原各不同，感風氣勝者，則體從之而動焉，如振掉搖
動之類是也，感熱氣勝者，則體從而腫焉，凡癰腫之類是也，此與寒傷形，形傷
腫之腫不同，與熱傷氣，氣傷痛之意直互見，感躁氣勝者，則體從之而乾焉，如
津液枯涸，皮毛躁熯之類是也，感寒氣勝者，則體從之而浮焉，即所謂寒傷形，
形傷腫者是也，感濕氣勝者，則體從之而濡瀉焉，脾惡濕喜躁，濕氣太過，則土
不勝水，而濡瀉之病作也，六元正經，又謂甚則水閉跗腫，亦見土不勝水，則不
能外輸膀胱，而內則為水閉，及水氣泛溢四肢，而外則為跗腫，所以較之濡瀉為
尤甚也，然而風與躁相鄰，風躁又未有不熱者也，濕不與躁為鄰，其成為寒濕，
或為熱濕，則各隨其體之積累所造焉，但春夏秋三時，俱屬風躁熱，惟冬時方屬
寒，則受病者之熱濕多而寒濕少，又屬可推矣。春屬東方木，木太過以西方金制
之，始得其平，故怒多則傷肝，惟悲始能勝怒，以肺金主悲也，風多則傷筋，惟
躁始能勝風，以肺金性躁也，酸多則傷筋，惟辛始能勝酸，以肺金味辛也，夏屬
南方火，火太過以北方水制之，始得其平，故喜多則傷心，惟恐始能勝喜，以腎
水主恐也，熱多則傷氣，惟寒始能勝熱，以腎水性寒也，苦多則傷氣，惟鹹始能
勝苦，以腎水惟鹹也，長夏屬中央土，土太過以東方木制之，則得其平，故思傷
脾，惟怒勝思，肝主怒也，濕傷肉，惟風勝濕，木主風也，甘傷肉，惟酸勝甘，
木味酸也，秋屬四方金，金太過以南方火制之，則得其平，故憂傷肺，惟喜勝憂，
心主喜也，躁傷皮毛，惟熱勝躁，心主熱也，辛傷皮毛，惟苦勝辛，火味苦也，
冬屬北方水，水太過，以中央土制之，則得其平，故恐傷腎，惟思勝恐，脾主思
也，寒傷血，惟熱勝寒，火勝水也，鹹傷血，惟甘勝鹹，土味甘也，夫四時一有
太過，即以所勝制之，內而七情，外而六氣五味，皆可用之，調其偏以協於和，
可見道本自然而然，推之無窮無極，總不出其範圍，雖有智者，莫加毫末也，後
世識不及古，反舍正路不由者何耶。問形不足者，溫之以氣，精不足者，補之以
味，此何解也，曰二語者藥之權衡也，形充於血，陰之屬也，陰不足者，本當益
陰，然益陰而陰未能生，必溫以氣之陽而陰始生，以陽為陰之主也，精麗於氣，
陽之屬也，精不足者，本當益陽，而陽未能生，必補以陰之味，而陽始生，以陰
為陽之基也，二者皆藥石之權宜，亦陰陽互根之妙理也。</p>
<p>真中合小兒
論傷寒真中陰經
人之陽氣素弱，加以房室過損，腠理久疏，胃氣久薄，瀉利無度者，一旦感受風
寒之邪，正加怯懦之夫，盜至全不爭鬥，開門任其深入，拱手以聽命而已，所以
其後全不發熱者為多，蓋發熱則尚有爭鬥之象，邪不得直入無忌也，然豈是從天
而下，大都從胃口而入，胃為五臟六腑之源，深入其中，可以徑奔三陰而從其類，
以故吐嘔四逆唇青等候，亦從胃而先見也，失此不治，勢必腹痛下利不止，漸至
卷舌囊縮而死矣，有魄汗林漓而死者，孤陽從外脫，亦風邪為多也，有全不透汗，
渾身青紫而死者，微陽為陰所滅，亦寒邪深寬也，此證陰霾已極，以故一切猛烈
之藥，在所急用，不可一毫回互，設用藥而加躊躇，轉盼天崩地裂矣。</p>
<p>論真中風
傷寒證，太陽經之中風者，乃風寒暑濕之風，自外而入者也，真中風之風，乃人
身自有之風，平素蘊蓄，而一旦內出者也，素問云，陽之氣，以天地之疾風名之，
可見真中風之病，乃人之數擾其陽所致，數擾其陽，惟房室一事為最，房室過勤，
縱陰不走，而陽氣則已動，動而不已，必漸積於空隙之所，而手微麻，足或微痺，
舌或微蹇，風信已至，而擾其陽者方未已一旦乘虛橫發，與大塊噫氣，林木振響，
黃沙蔽天，白浪翻海者，初無少異矣，其人安得不卒倒乎，迨至卒倒，而世醫方
引風寒暑濕之風為治，一誤再誤，外風入而與內風交煽，任憑軀偉體堅，經年不
能少減，而成廢人者比比，甚有不旬日而告斃者矣，可勝嘆哉。</p>
<p>論真中風大法
風既自內而生，還須自內而熄，欲自內而熄，何物是熄風之藥，養血乎，風亦與
之俱養，補氣乎，風亦與之俱補，實腠理乎，風亦與俱實，將何所取耶，養血補
氣，自不可少，而實腠理之藥，斷不可用，進而求之於法，然後不患於無藥也，
蓋天地間之風，得兩則熄，所以素問又曰，陽之汗，以天地之雨名之，以雨治風，
不言治而治在其中，以故內風之人，腠理斷不可實，實則汗不能出也，氣血不可
不補，虛則不足供汗之用也，要使元氣足以拒風於腠理之間，務如大病捚後之人，
飲湯則汗，食粥則汗，如此旬日，以聽風之自熄，然後為當，其妙全在助陽而通
血脈，不取驅風散邪為義，與荊防柴葛之經藥，絕不相干，世傳以羌防等藥，發
散一食頃者，此但可治偶感之風耳，以治內風，不去百分之一，豈有經年積累之
風，而取辦一藥，且僅攻皮膚之理哉，中風病，多見於富貴之人，而貧賤絕少，
貧賤之人，非無房室也，以其勞苦奔走，身中之氣，時為蒸動，纔有微風，便從
汗解，而富貴之人，身既安逸，內風已熾，尚圖乘風納涼，沐浴飲水，以解其熱，
致陽氣愈遏不舒，加以濃酒厚味之熱，挾鬱陽而為頑痰，阻塞經絡，一旦卒然而
中，漫不知病所由來，古今成方雖多，辨證全不清切，盍觀平人飲醇食82d4，
積至無算，全不見其熱者，陽氣有權，嘿為運出耳，陽氣遏鬱無權，勢必轉蒸飲
食之物為痰，痰與風相結，迨發之時，其體盛之人，病反加重，蓋體盛則陽多，
陽多則風與痰俱多也，孰知其風為本，而痰為標耶，孰知其陽氣為本，而風痰為
標耶，風痰為標，可汗可吐，而或者見其昏迷舌蹇，以為邪入心臟，用牛黃清心
之類，驅風散痰，致陽氣愈遏，而成不治甚多，夫陽遏在內之人，臟腑有如火烙，
平素喜生冷，臨病又投金石，覆轍相尋，明哲罔悟，亦獨何耶，陽氣為本，勢必
絕慾而不更擾其陽，病根始拔，然而陽氣素動，習慣漸近自然，多不樂於安養，
風痰纔得少息，往往思及慾事，略一舉動，復從本及末，蔓而難圖矣，古今無人
深論及此，惟善保生者，見體中痰多風熾，無俟病發，預欲絕慾可矣，甚哉，人
於天地自然之氣機，日用不知也，天時蒸動之時，欲求涼風而不可得，風氣乾燥
之時，欲求微雨而不可得，是以多濕之人惡蒸動，多風之人惡乾燥者，內邪感之
而益動也，故濕病喜燥藥而忌汗藥，風病喜汗藥而忌燥藥，充其義以為調攝，則
居四達之衢，而披襟向風，起呼吸即通帝座之想者，即治濕之良方也，處奧隩之
室，而整冠振衣，凜天威不違咫尺之懼者，即治風之良方也，人茍知此，不誠可
以卻痰而延年耶。</p>
<p>闢小兒驚風論
小兒初生，以及童幼，肌肉筋骨，藏府血脈，俱未充長，陰則不足，陽實有餘，
不比七尺之驅，陰陽交盛，惟陰不足，陽有餘也，故身內易於生熱，熱盛則生痰
生風生驚，亦所時有，彼當日若以四字立名，曰熱痰風驚，則後人不炫，乃以四
字難呼，節去二字曰驚風，遂貽後人以多論，以其頭搖手勁也，而曰抽掣，以其
卒口噤，腳孿急，目邪心亂也，而曰搐搦，以其脊強背反也，而曰角弓反張，不
知小兒之腠理未密，易於感冒風寒，凡寒中人，必先入太陽經，太陽經之脈，起
於目內皆上額交巔入腦，還出別下項夾脊抵腰中，是以病則筋脈牽強，乃生出抽
掣等不通各名，而用金石重藥鎮墜，以致外邪深入難痊，間有體堅證輕而愈者，
遂以為奇方可傳，誤矣，又方書有云小兒八歲以前無傷寒，以助驚風之說，不思
小兒不耐傷寒，初傳太陽經，早已身強多汗，筋脈牽動，人事昏沉，勢已極於本
經，藥又亂投，不能待於傳經解散耳，豈為無傷寒乎，況小兒易於外感，易於發
熱，傷寒為更多耶，是即世所云驚風也，所以小兒傷寒要在三日內即愈為貴，若
待其經盡而解，必不能矣，又剛痙無汗，柔痙有汗，小兒剛痙少柔痙多，人見其
汗出不止，神昏不醒，遂名之曰，慢驚風證，而以參耆朮附藥，閉其腠理，以致
邪熱不得外越，以為大害，所以凡治小兒之熱，但當攻其出表，不當固其入內，
仲景原有桂枝法，若舍而不用，從事東垣，內傷為治，又誤矣，又新產婦人，去
血過多，陰虛陽盛，故感冒與小兒無別，乃遂相傳為產後驚風，尤可笑也，然小
兒亦實有驚病，以小兒氣怯神弱，凡卒遇怪異形聲及驟然跌仆，皆生驚怖，其候
面青糞青，多煩多哭，其神識昏迷，對面撞鐘放銃，全然不聞，不此熱邪塞竅也。</p>
<p>謹論小兒治法大綱
小兒冬月，深居房帷，觸犯寒邪者恆少，而知識未開，天癸未動，又無不藏精之
事，然亦有溫證三例可互推者，經云，水穀之氣感，則害人六府，小兒或啖乳而
傳母熱，或從飲食而中外邪，皆從陽明胃經先受，繇陽明而外達太陽，即與溫證
之第一例頗同，而平素脾氣受傷者，邪氣入胃，復乘其脾虛而客之，即與溫證之
第二例頗同，既陽明胃與太陰脾，相連之一臟一腑，交合為病，正傷寒兩感證中， 
二日陽明，與太陰受之，則有腹滿身熱，不欲食，讝語之證，與溫證之第三
例，分經雖不同，而兩感則頗同也，後人造為小兒八歲已前，無傷寒之說，不思
小兒冬月登山入水者，尚有之，豈遂謂無寒可傷耶，即冬月不令受寒，豈遂謂無
寒可傷耶，即冬月不令受寒，豈春月并不受時行外襲之氣耶，其後又因無寒傷之
說，凡一切外感，俱妄立驚風之名，擅用金石重墜，反領外邪深入，以成不痊之
證，昌寓意草中，已略辨其端，但未詳其治也，試觀中風卒倒之人，邪中脾之大
絡，則昏迷不醒，然則邪熾太陰脾經，勢必傳於大絡，其讝妄而不知人者，
夫豈驚風之謂耶，祇有慢脾風一說，似乎近理，然不以外感之名統之，則用藥茫
無措手，茲特比入春溫之例，庶推之以及四時，而治悉無忒，後之赤子可登春臺，
昌所以乞靈於越人，而大暢仲景之旨乎。</p>
<p>小兒溫證第一例
繇陽明而太陽，自內達外，皆是表證，但表法原取解肌而不取發汗，況於小兒肌
膚嫩薄，腠理空虛，斷無發汗之理，仲景於太陽之項背強，几几，反汗出惡風者，
用桂枝加葛根湯，極得分經之妙，桂枝湯主太陽，葛根湯，主陽明，以類推之，
太陽證多，陽明證少，則用桂枝湯加葛根，陽明證多，太陽證少，則用葛根湯加
桂枝，圓機在乎臨證，然頸項肩背，正二陽所轄之地，不明經絡者，見其几几然，
牽強不舒，加以目睛上竄，手足反張，諸多太陽見證，而驚風之名，自此始矣，
詎知仲景曰，身熱足寒，頭項強急，惡寒時頭熱面赤，目脈赤，獨頭面搖，卒口
噤，背反張者，痙病也，發熱無汗，反惡寒者，名剛痙，發熱汗出，不惡寒者，
名柔痙，又曰太陽病，發汗過多因致痙，可見不解肌而誤發汗者，必有此變，又
可見汗沾衣被，旋復內滲者，必有此變，當解肌而不當發汗之說，又顯然矣，然
則小兒之解肌，不更當從乎輕劑耶，小兒服桂枝，不必啜熱稀粥，并不可急灌，
逼其大汗也。凡小兒發熱嘔吐者，倘未佈痘，即須審諦，不可誤用溫胃之藥，里
中一宗侯高年一子，恣啖不禁，每服香砂平胃散極效，一夕痘發作嘔，誤服前藥，
滿頭紅筋錯出，斑點密攢筋路，所謂瓜籐斑也，上饒某公一姪，病發作嘔，乃父
投以藿香正氣散，一夕舌上生三黑疔，如尖粟形，舌下四黃疔，如牛奶形，蓋痘
邪正出，阻截其路，故生變若此，因述以垂誡。</p>
<p>解肌清熱三法
 桂枝加葛根湯、葛根湯、桂枝加括蔞湯。
攻裡救胃一法
 調胃氶氣湯。
 大承氣湯。治痙病胸滿，臥不著席，腳孿急，齗齒者。
昌變調胃誤攻邪陷一法
 桂枝加芍藥湯。治下後腹滿時痛者。</p>
<p>小兒溫證第二例
繇陽明而太陰，自表入裡，仲景云，太陰之為病，腹滿而吐，食不下，自利益甚，
時腹自痛，若下之，必胸中結鞕，可見脾氣虛衰，不能為胃行津液，必致吐
利兼見，此俗子藉口慢驚之源也，詎知外感之邪入乘其虛，上吐下利者，即籗亂
之意，正氣既虛，兒因畏怯則有之，豈是心虛發驚，肝木生風之候耶，此等認證
一差，用藥不合，萬無生理，蓋脾經之證，自有脾經之顓藥，況於屬在外感，仍
以散邪為先，所以誤下，則心下結鞕，正謂邪雖已入太陰，而陽明未盡除者，
恐有表證相礙也。</p>
<p>解肌之法
 桂枝湯。脈浮者用之，太陰之脈，尺寸俱沉細，今見浮則邪還於表，仍用解肌
之法，送出其邪為當也。
 四逆湯。自利不渴者用之，燠土燥濕。
 理中湯。濁氣上干於胃，腹脹滿者用之。
 桂枝加大黃湯。大實痛者用之，然芍藥大黃，亦當倍滅，以小兒胃薄易動也。</p>
<p>小兒兩感溫證第三例
胃與脾一腑一臟，表裡雙受，則在表者為陽邪，然既已入於胃，即當愛惜津液，
即不得已而解肌清熱，不可輕動其汗，所最難者，要在急溫急下，審諦不差，蓋
胃實兼以脾實，則二火交熾，水穀之陰立盡，其口燥咽乾鼻煤。［闕］</p>
<p>會講刺熱篇溫論述上古經文一段
 上堂師嘉言老人第一會語錄
上古醫旨，其時首春，其證首溫，先師祖僦貸季所傳，先師岐伯地之者也，首引
太陽之脈色榮觀骨，榮未交，曰今且得汗，待時而已，與厥陰脈爭見者，死期不
過三日，其熱病內連腎，少陽之脈色，榮頰前，熱病也，榮未交，曰，今且得汗，
待時而已，與少陰脈爭見者死，凡十五句七十字，岐黃之庭，宗旨曉然，至後世
則內經且闕，況上古乎，所以釋者極悖理，吾徒會講，首析其義焉，凡人有病，
其色必徵於面，而熱病尤彰，內經本篇，謂肝熱病者，左頰先赤，心熱病者，顏
先亦，脾熱病者，鼻先赤，肺熱病者，右頰先赤，腎熱病者，頤先赤，是五藏熱
病，色且先徵矣，然五臟隱深，其色不宜外見，纔見微色，隨刺俞穴，蚤瀉其熱，
名曰治未病，待病治之遲矣，靈樞謂赤黑色，忽見天庭，大如拇指者，不病而卒
死，劇則刺，非能挽矣，惟太陽經脈色，顯而易見，初起熱徵於面，此時漫無凶
咎，太陽脈色，榮飾於顴，乃久邪內伏，其春發溫，必始太陽經脈，紅赤熱色，
先見兩顴，加以采飾，熱之先徵也，榮飾之色，止顴骨一處，不交他處，病之淺
者也古經榮未交，曰今且得汗，待時而已，少需聽其自解，此真訣也，大凡溫病，
熱自內出，經氣先虛，雖汗之多，未汗解，故云，今且得汗，待時而已，太陽經
氣虛者，必待午末正陽，杲日當空，群陰見睨，太陽經邪不留而盡出也，少陽經
氣虛者，必待寅卯初旭，出震繼離，煥然一新，少陽經邪不留而盡出也，註謂肝
病待甲乙解，心病待丙丁解，此五藏經文，與三陽經，全不相涉，至於與厥陰脈
爭見者死，咸謂外見太陽赤色，內應厥陰弦脈，此則如隔千山矣，秦漢以後，始
分二十四脈，弦謂少陽可也，厥陰亦可也，大浮滑數，入陽弦可，沉濇弱微，入
陰弦亦可也，弦脈陰陽兩屬，安得指為死脈，且三日之促耶，古義斷不其然，上
古理脈色而通神明，謂上帝之所貴也，先師之所傳也，色以應日，脈以應月，常
求其要，則其要也，色以應日者，舉頭見日，隨處長安，晶光萬道，人身之色，
無幽不燭，同也，脈以應月者，千江有水千江月，地脈潛通，人身之脈，環會貫
通，同也，脈榮顴骨，即色榮顴骨，纔一見之，表裡兩符，豈非日月合璧耶，如
太陽顴骨，色脈同時解散，并不成溫熱病矣，病則色脈同時俱見矣，太陽榮顴骨，
少陽榮頰前，厥陰榮頰後，少陰榮兩頤，乃至十二經脈色，大絡小絡，隨病彰灼，
一瘡一痤，色脈不相離也，道在下合五行休王，上副四時往來，何吾人自小之耶，
所以太陽厥陰，陰陽同時，並交榮飾，此纔名為爭見，若只面呈一部，豈爭見乎，
爭見赤紫滯晦，傳經勢重，已為主死，爭見青黑剋賊，十死不救矣，蓋太陽水而
生厥陰木，則發榮滋長，光華畢達，固有善無惡也，厥陰木而孕太陽水，則子藏
母腹，勾萌盡斂，亦嘿庇其根也，今外邪入而真藏逼見於面，夫是以死耳，其熱
病內連腎，身內百司庶職，惟腎獨為政府，安則宅神根本，危則顛覆濁亂，生死
出入，莫不繇之，太陰厥陰，祇稟其成，難干之矣，然不曰少陰而曰腎者，少陰
傳走經脈，腎則顓主內藏，經謂過在少陰，甚則入腎，同一義也，太陽厥陰爭見
主死，牽連腎氣在內，以少陰為厥陰母，木勢垂危，求救腎水，腎水足供，尚可
母子兩全，腎水源流並竭，不母子俱斃乎，可見神去則藏敗，藏敗則爭見黎黑，
豈脈色不由根心也哉，釋謂木之生數三，故死期不過三日，以生數定死期，謬甚，
果爾水數一，土數五，其死主一日五日耶，內經明為死陰之屬，不過三日而死，
胡以生數妄解乎，下文無期不滿三日，反誤古脫，增入五字駭觀，總因死陰之屬，
不審其義，故擅複之耳，少陽之脈色也六字，亦擅增入，少陽之脈色，榮頰前，
熱病也，榮未交，曰今且得汗，待時而已，與少陰脈，爭見者死，謂右頰前見赤
色，未交他處，待汗自已，若兩頤黑色，與少陽赤色，爭見則死也，少陰經敗甚，
必入腎，腎藏發露，泉之竭矣，無陰以守之矣，少陽相火，少陰真火，上下交焚，
項刻俱為灰燼，誠劫災也，傳經勢重，間有回天之手，至於腎內枯槁無救，頰頤
紫黑，已見惡痕，縷縷不散，此獨陽無陰，如大火聚，安得紫府丹臺，授以太陰
神水乎，吾徒同志，濬洌彼之泉自固，慶古經之法傳心，無負此番提命可矣。
會講素問評熱論病文經文一段
上堂師嘉言老人第二會語錄
岐伯先師論溫勝義微妙，今始深解之也，黃帝問曰，有病溫者，汗出輒復熱，而
脈躁疾，不為汗衰，狂言不能食，病名為何，岐伯對曰，病名陰陽交，交者死也，
帝曰，願聞其說，岐伯曰，人所以汗出者，皆生於穀，穀生於精，今邪氣交爭骨
肉而得汗者，是邪卻而精勝也，精勝則當能食而不復熱，復熱者邪氣也，汗者精
氣也，今汗出而輒復熱者，是邪勝也，不能食者，精無俾也，病而留者，其壽可
立而傾也，且夫熱論曰，汗出而脈尚躁盛者死，今脈不與汗相應，此不勝其病也，
其死明矣，狂言者是失志，失志者死，今見三死，不見一生，雖愈必死也，此段
論溫獨創穀氣之旨，榖氣化為精，精氣勝，乃為汗，身中之至寶至寶者也，榖氣
為疾病之總途，生死之分界，萃萬理為一言，誰能外之，內經謂精者，身之本也，
故藏於精者，春不病溫，是則藏精之人，外邪不入，身如藥樹，百病不生矣，即
不然者，冬藏已敵春溫，積貯為命，主張蚤計在是，胡乃泥沙擲之耶，泥沙擲之，
茲後則腎虛甚而溫死矣，尺熱甚而溫死矣，榖氣既餒，轉輸不給，關門閉而水穀
難通，大事去矣，況腎虛尺熱，外感傳經而入三陰，熱上加熱，一呼脈三動，一
吸脈三動而躁，準平人十二時脈，更增四時，三日促為二朝，再促則脫而不續矣，
所以狂言失志，脫精則死，以此故也，上古中古，兩大聖神，如出一手，倒說豎
說，變化生心，萬理淵源，爛然生色，千代以後，乃至傳為土苴，不諭不議，奈
之何哉，吾徒七十有五，始知理障稍盡，矩則昭然，茲時不言，更待何年耶，岐
伯先師問陰陽交，交者死，黃帝願聞其說，岐伯但發榖氣之妙，至陰陽交一言而
終，不更再舉，向者胸為疑府，今乃知穀氣之旨既明，即陰陽交與不交，了然定
矣，吾徒嚼舌多年，今轉饒舌，而且細舉之矣，上古營未交，證之輕者，營交陰，
重且死者，中古冬傷於寒，春必病溫，證半輕者，冬不藏精，腎虛尺熱，苴且死
者，聖神心印，妙義天開，變化錯縱，愈出愈奇，上古太陽（小腸膀胱）與厥陰
（心肝）為偶，少陽興少陰（心腎）為偶，而陽明太陰，雖不言之而其相偶，更
定位也，中古太陽與少陰，一腑一臟獨主其重，蓋太陽主外，少陰主內，太陽司
陽經之溫，少陰司陰經之溫，太陽交少陰，少陰交太陽，陰陽交而死矣，然掌上
意珠，不敘其文，若隱若顯，俟之後人，何乃竟成絕學耶，岐伯先師，妙翻千古
變證，若相杵而實相成，賢智不識其旨，況庸人乎，謂二陽搏，其病溫，死不治，
不過十日死，乃陽經營未交之輕證，而舉為死不治，必有其說，言二陽搏，雖未
入陰，病溫至極，必死不治，稍延不過十日死，較三日死陰之屬，少饒其期耳，
二陽者，手大腸，足胃，手經足經，並主陽明，金土燥剛，亢熯陰絕，胃榖腸津，
水穀將絕，乃至腸胃如焚矣，縱延多日，究竟不得不死矣，至上古足陽明胃，足
太陰脾，一陽一陰，雖不相錯而相偶，然吾徒營未交，待時汗已，經氣虛者，辰
已經旺，汗乃盡解，必然之理也，門人有蓄疑義，脾胃以膜相連耳，脾胃營交相
連，直是易易，所以上古故不言之也，予不然，傷寒傳經，如膽藏肝葉，豈不直
入相合，然必少陽膽，乃傳太陰，再傳少陰，乃傳厥陰，遶經而走，不能直截合
膽也，今陽明胃，乃傳少陽膽，少陽始傳，太陰遶經傳次亦然，固知陽明太陰，
交與不交，各分疆界矣，兩顴頰後，營交相爭，部位不遠，頰前與頤，營交相爭，
部位不遠，額中鼻準，營交相爭，部位不遠，必至營交不分，乃為死也，至於太
陽少陰，陰陽正交，吾徙更深言之，內經兩感證，一日太陽少陰，二日陽明太陰，
三日少陽厥陰，三日死，由是論之，溫證微不相同矣，溫證一日，太陽而交少陰，
有十分交者，有五分交者，有一二分交者，所以溫證太陽少陰，本經與病相持，
即十日半月，總為一日之期，不傳二日三日之促，而驟死者，蓋以穀氣平時，覺
不相同，營衛平時，覺不相等，病之精津不枯，穀氣不盡，熱勢少衰，肌膚漸積，
微汗兩交，忽為兩解，病醫相成者多有之矣，半月一月，待斃無醫，穀氣不得不
盡者，非天也人也，然醫之手眼，審機決擇，一日已前，圖而又圖，邀非倖邀，
生機可待，此為超醫，至一日已後，二日陽明太陰，三日少陽厥陰，穀氣精血，
傳經立盡，盡則死矣，岐伯先師曰，病而留者，其壽可立而傾也，又曰今見三死，
不見一生，雖愈必死也，然則陰陽交，交者死，予向以為一言而終，隨病隨死之
候，幾誤一生，牆面惶汗，常慄然之矣，立志奇男子，冬至閉關，儲蓄內富，豈
非第一義乎。</p>
<p>會講傷寒論中論溫證一段
上堂師嘉言老人第三會語錄
上古中古，首重溫證，民生最賴之矣，周秦以降，如扁鵲越人，起家數輩，各樹
偉義，經緯裁成，後代宗匠，至於溫證，絕不言之，由是論溫，駸傳駸失，乃至
人去書存，幾千百年，黯然無色矣，漢末張仲景，前聖後聖同符一楑，其著傷寒
論，雖述實為創也，三百九十七法，一百一十三方，其功遠紹軒岐，於中溫證一
法，劃然天開，步步著實，繹傷寒家，成朱十餘輩，義例多獲，獨溫詮從不知為
何事，予步趨仲景先師，至老不輟，諸公會講，大舉溫證以建當世赤幟，俾仲景
寒灰火傳，蓋太陽病發熱而渴，不惡寒者為溫病，玩內經冬傷於寒，春必病溫之
說，知冬寒久鬱，太陽經受，肌表營衛主之，與冬月驟病，發熱惡寒，且不渴者，
證則不同，故春月寒鬱既久，發熱而渴，不惡寒，自內出外矣，與上古營未交，
待汗自解同義，其證不過十之一二耳，若發汗已身灼熱者，名曰風溫，風溫證，
少陰冬不藏精，與太陽病隨時忽至，勢則病之八九矣，風溫興風傷衛又不同，中
風其脈浮弱，獨主太陽，風溫其脈尺寸俱浮，兼主太陽少陰，腎水本當沉也，風
溫載之，從太陽上入，根本撥而枝葉繁矣，春月木長勢強，吸汲腎水，已為母虛，
加以風溫之病，俄頃少陽相火，厥陰風木，風火熾然，能無殆乎。故若發汗已四
字，包括錯誤，見醫末病之先，及得病之頃，須診足太陽足少陰，一腑一臟，此
千古獨傳妙訣也，診之辨其有無伏氣，有伏氣者，冬寒太少二經，久伏身中，時
當二月，其脈先見露矣，發則表熱太陽，與裡熱少陰，將同用事，恣汗無忌，灼
熱反倍，是為風溫，風溫表裡，俱見浮脈，其證自汗身重，腎水病也，多眠腄鼻
息鼾，語言難，腎本病也，腎中之候，同時薦至，危且殆矣，古律垂戒云，風溫
治在少陰，不可發汗，發汗死者，醫殺之也，詎意發熱之初，不及脈理，輕易發
汗，蚤已犯此大戒，生命可輕試手乎，既腎中風邪外出，以陽從陽，熱無休止矣，
被下者，小便不利，傷其膀胱氣化，直視失溲，太陽藏府，同時絕矣，被火微發
黃色，劇如驚8259，時瘈瘲，火熱亂其神明，擾其筋脈也，傷寒燔鍼灼艾，仲
景屢戒，至溫證尤當戒之，被火微發黃色一段，亂其神明，擾其筋脈，重證莫重
於此，稍輕誤火，少陰脈系，咽喉乾痛，乃至唾血，亦多死者，如之何，一逆發
汗，已是引日待斃，再促，聖神莫挽矣，故治溫病，喫緊在未發汗前，辨其脈證
補救備至，防危可也，發汗已後，凶咎卒至，又何所措其手足哉，上古論溫，榮
交已後，其病內連腎，中古論溫，顓論穀氣，腎中精勝，乃汗則生，腎中虛甚，
更熱則死，其旨至矣，盡矣，仲景先師，出其不盡之藏，論腎更視膀胱以緯之，
小便傷膀胱氣化，甚則直視失溲，謂太陽入絡膀胱命門穴中者，藏精光照，兩目
直視，則光絕矣，瞳子高者，太陽不足，戴眼者，太陽已絕，太陽氣絕者，其足
不可屈伸，是則太陽之脈，其終也有五大證，戴眼，反折瘈瘲，色白絕汗，太陽
關係，豈不最操其重哉，所以中風暴證，多絕膀胱，人不識者，故風溫扼要膀胱，
若腎藏將絕，寧不膀胱先絕乎，因是吾徒，尚論太陽春溫受證，雖不類夫風溫，
然陽熱勢極，腎吸真陰上逆，地道不通，亦成太陽死證，蓋由誤發其汗，致少陰
隨之上入，大類內經風厥同也，內經巨陽主氣，故先受邪，少陰與其為表裡也，
得熱則從之，從之則厥也，瀉陽捕陰，是則能治風厥多不死者，然而中風風溫風
厥，太陽纔涉三風見證，總當回護陰之根底，勿使陰不內守，勿使陽不上厥，百
凡封蟄不露，乃可需其正汗，風始熄也，必能若此，乃為瀉陽補陰之妙，若陽邪
狂逞，少水不能勝火，虛風洞然，果何為哉，諦思一方，其方茍非設誠通神，孰
能定此，吾徒尚論溫證於後四卷之一，內取裁其方，然未刻也，又十餘年，諸公
大舉會講溫證，當為之刻之矣。閱末語，則老人之欲刻此書，以仁天下也久矣，
具同心者其能已耶。</p>
<p>會講溫證自晉至今千年絕學一段
上堂師嘉言老人第四會語錄
仲景先師，叔季天生聖人，其道加日月之明，無斁之矣，叔和何如人也，以為得
統而學聖人之徒，今且譚從前英賢，過信叔和之弊，叔和為晉太醫令，一時醫流，
既以淺陋，更甚荒唐，如西晉崔文行所傳解散溫法，用桔梗細辛白朮烏頭四味，
後世奉為靈寶，更增附子，名老君神明散，更增熒火，名務成子熒火丸，托老君
務成子售欺，妖妄極矣，後代朱肱活人書，具載其方，確信以為有見，時疫為寒
疫，故用陰毒傷寒，所以久宗之耳，及以毒攻毒，受劫必死，朱肱復改聖散子，
仍用附子，而表裡香躁同之，東坡學士在黃州，見其隨施輒效，載之集中，後世
又以過信坡公，殺人多誤，詎知坡公集中，朱肱已三改其方，始用敗毒散，不用
熱藥，厥功少減前罪，然雖改易其方，不識聖神心法，竟無益矣，朱肱論傷寒註
釋，頗合聖矩，但其論溫，傳派不清，違悖聖言，未可枚舉，如仲景謂太陽病發
熱，不惡寒而渴者為溫病，朱肱謂夏至以前，發熱惡寒，頭疼，身體痛，其脈浮
緊者，溫病也，仲景所言者，冬月感寒，至春始發之溫病，朱肱所言者春月病溫，
重感於寒之變病，茍朱肱立百法以治正病，外立一法以治變病，於理甚融，乃千
百年從未論溫正病，所以其法其方，咸入室操戈也，叔和云，更遇溫熱，變為溫
毐，朱肱即云，初春發斑，欬嗽為溫毒，吳綬謂傷寒壞證，更遇溫熱，變為溫毒，
乃以溫毒為壞證，亦宗叔和序例，恢舊壞證而治之也，朱肱吳綬，塤篪迭奏於叔
和之庭，正乎，邪乎，潔古傷寒名家，惑叔和變法，則亦不為正矣，趙嗣真謂仲
景所云，重感異病，變為他病者，即索矩所謂二氣三氣，雜合為病也，朱肱謂仲
景云冬溫之毒，與傷寒大異，汪機謂仲景云，遇溫氣為溫病，遇溫熱為溫毒，不
知仲景幾會有是言哉，巢氏病源，宗序例四變，用崔文行解散法，龐安常亦然，
治法初用摩膏火灸，二日法鍼，解散取汗，不解，三日復汗之，更不解，四日用
藜籚丸，微吐愈，不愈，改用瓜蒂散吐之，解尚未了了者，復一法鍼之，七日熱
已入胃，乃以雞子湯下之，巢龐比匪極矣，後安常自撰微言，有和解因時法，於
春分夏至前後，一以和解為主，增一味減一味，即名一方，豈始崔文行蜂螫蟄手
耶，然只定不移，移則蹶矣，李思訓亦用和解，海藏謂二公當宋全盛，其法明哲
莫踰，然欲汗不敢，欲下不敢，遷延渺法，無可奈何矣，大率委置聖言，傅會多
口，幾千年來，祖孫父子，一派相承，盈庭聚訟，各逞其端而未已也，丹溪究心
雜證，不事仲景，遇外感宗東垣補中益氣，兼行解散，終非正法，況惑異氣之說，
決擇不精，然既外感不習，獨主雜證，何由登峰造極耶，東垣不解傷寒正治，蓋
一生精神在內傷也，乃從內經深入至理，發出冬溫春溫二義，真千百年之一人也，
云冬傷於寒者冬行秋令也，當寒而溫，火盛而水虧矣，水既已虧，則所勝妄行，
土有餘也，所生受病，金不定也，所不勝者侮之，火太過也，火土合德，濕熱相
助，故為溫病，又云，春月木當發，生陽巳外泄，孰為鼓舞，腎水內竭，孰為滋
養，生化之源既竭，木何賴以生乎，身之所存者熱也，時強木長，故為溫病，此
二則溫證，從內經立說，入理深譚，不闢叔和，叔和自妄，蓋時強木長，腎水不
足供其吸取，故為溫病，較叔和三月四月，不為寒折，病熱猶輕，五月六月為寒
所折，病熱則重，盛夏寒折，倒見不成事理，東垣一則冬溫妙義，一則春溫妙義，
幾千年來獨步悟入，偉哉偉哉，賢關首肯此老矣。</p>
<p>會講溫證正名辨脈之要一段
上堂師嘉言老人第五會語錄［論濕溫］
仲景先師祖素問熱病作傷寒論，以傷寒皆為熱病也，然於冬月正病，獨詳之矣，
而春溫夏熱，則但述大意，比類一二，惟風溫濕溫二證，春司風溫，夏司濕溫，
獨主其重，千古不易也，前第三會，巳論風溫之戒矣，今舉濕溫言之，傷寒濕溫，
其人常傷於濕，因而中暍，濕熱相薄，則發濕溫，若兩脛逆冷，腹滿叉胸，頭目
痛，若妄言，治在足太陰，不可發汗，汗出必不能言，耳聾不知痛所在，身青面
色變，名曰重暍，如此者，醫殺之也，然風溫二律，指為醫殺，叔和當時凜斧鉞，
不敢干也，何乃插入重感異氣，變出四證，誑惑後人，謂脈陰陽俱盛，重感於寒
者，變為溫瘧，陽脈浮滑，陰脈濡弱，更遇於風，變為風溫，陽脈洪數，陰脈實
大，更遇溫熱，變為溫毒，陽脈濡弱，陰脈弦緊，更遇溫氣，變為溫疫，予既自
任仲景之徒，當再折其妄，蓋溫瘧風溫，溫毒溫疫四變，總由不識仲景風溫濕溫
二大證耳，風溫為少陰證，微分太陽厥陰，即溫瘧亦該少陰統屬，素問謂冬感於
寒，藏之骨髓，遇大暑，內灼髓空而發溫瘧，此正理也，若重感於寒而變瘧，無
是事也，至於濕溫一大證，從不言及，是則夏月竟無著落矣，詎知溫濕包疫證在
內，濕溫至盛，長幼相似，則疫矣，疫亦暑濕之正法也，其外感發瘧，證之輕者
也，今脈反加重，而證變輕，何以得此耶，至溫毒則證之重者，三陰更重，切出
脈狀洪數實大有之，其人元氣實盛，可堪大汗大下，外邪立解，何至發為溫毒乎，
且陽毒若此，其陰毒又何脈耶，謂陽脈濡弱，陰脈弦緊，變為溫疫，濡弱本名濕
溫，而弦緊乃傷寒定脈，一濕一寒，何從主之，叔和至夏暑為病最重，內經原無
其說，楊上善云，輕者夏至前溫病，甚者夏至後暑病，不知何見，予謂初春寒芽，
或謂柔折可也，至盛夏時強木長，謂之疫寒，斷不其然，第四會東垣老人，片言
而折矣，蓋春月風溫，多死在三日，夏月濕溫，多有可愈者，安得反重之耶，至
於脈法微妙，顯然易徵，傷寒之脈，浮大而緊，中風之脈，浮緩而弱，春溫浮而
且弱，風溫弗舉，風溫尺寸俱浮，風火洞然，中暍弦細芤遲，暑傷其氣，濕溫沉
弱濡緩，濕流其經，至於痎瘧，俱是脈合火土主之，脈之應病，步步著實，自然
之理也，叔和左更遇，右更遇，左變為，右變為，饐喉結舌面厚三寸，韓氏微旨，
本欲懲艾，而見齷齪，和解因時，聽病自愈，政如用小柴胡湯，誠亦一法，第守
此將三百九十六法，盡為贅龐，其可乎哉，風溫濕溫天大二證，乃風溫之治，朱
肱用五方，葳蕤湯，知母乾葛湯，防己湯，括葽根湯，葛根龍膽湯，其風火相熾，
頃刻危亡，全不知矣，至於濕溫君火心太陰脾，從不識正法若何，但施邪術而已，
真見則安在哉，吾徒品騭溫證，列眉如炬，諸公目擊勝義，千里同風，是所望矣。</p>
<p>會講論古今粹美同堂悅樂一條
上堂師嘉言老人第六會語錄
人無古今，性有完缺，吾生所賦，一隙微明而已，然靜裡索照，覺無極太極以來，
雖未生人，先具人理，人理者，天地之心也，向著陰病諭，少摹開闢一斑，而劫
初上帝以為之君，其臣以為之教，創著上經中經下經三卷，中古遼邈，全書未睹，
而岐伯先師，私淑先師祖，時舉黃帝，相授一堂，內經以後，十不徹一，況古經
論溫哉，然上古榮未交前，及榮交後，生死燎然，但溫旨莫能幾及，絕世知識，
明明見莫問，問莫究豈不世界空擲人理乎，吾徒神酣上古，志觀玉京，繪為空中
樓閣之想，步虛陟降，游焉息焉，自覺目光心朗，溫證開先，即使拱壁以先駟馬，
不若晤言一室，求志千古矣，此吾徒一大暢也，岐伯先師論運氣曰，尺寸交者死，
陰陽交者死，各有其義，惟論溫曰，陰陽交交者死也，一言而終，更不再舉，吾
徒何從得之，然溯上古前聖，徐覺榮交末交，兩端，而生死定之也，仲景後聖，
徐覺溫與風溫兩端，而生死定之也，今始陰陽交，交者死，論溫比類列眉，岐伯
先師，從前大呼疾聲，向不悟則不聞耳，悟則豈論岐伯先師，即吾徒交與未交，
自炯兩目，胃為腎關同一機軸，溫證纔一見之，而意中已先覺矣，此吾徒一大暢
在，先師仲景宮牆，吾徒步趨，垂老彌任，忽發未刊之旨，意謂冬寒春溫夏熱，
分之三時，覺三大綱建鼎足焉，冬月太陽寒水，繼以厥陰風木，則統傷寒中風兩
證，為一大綱，以傷寒該中風，天然不易也，春月厥陰風木，繼以少陽相火，則
出溫證風溫兩證，為一大綱，以溫病該風溫，天然不易也，夏月少陰君火，繼以
太陰濕土，則出暍濕兩證，為一大綱，以暍病該濕溫，天然不易也，精微之蘊，
聲臭盡泯，叔和以後，歧路羊腸，蓁披鳥道，多少沉淪，天意未喪，乃至吾世履
視昭然，此吾徒一大暢也，仲景先師以前無方，以後其方充棟，大率禁方失傳，
寢成邪僻，所以有晉溫疫，疑鬼疑神，相沿未已，亦以後人莫得仲景之方耳，吾
徒傷寒論方，取裁溫證諸方，尚論篇末，刻後四卷之一載之，逐一發明其義，無
方乃有定方，此吾徒一大暢也，晉唐宋元以後賢者，和解因時，銖銖兩兩無可奈
何，猶可言也，不肖者蕩檢踰閑，妄行汗下，生命施手，不可言也，幾千年來，
獨東垣老人二則，譚言微中，域外偉觀，異時同調，此吾徒一大暢也，嗣後諸君
精參，各出一則二則，豎義警切，蘊理新硎，應接不暇，吾徒一大暢大暢矣。</p>
<p>答杭州程雲來傷寒十六問
一問，凡陰病見陽脈者生，陽病見陰脈者死，而有曰，病人苦發熱，身體疼，病
人自臥，其脈沉而遲者，知其差也，曰沉曰遲，非陰脈乎，豈亦有陽病見陰脈而
愈耶。答，凡陰病見陽脈者生，陽病見陰脈者死，此二語乃傷寒脈法，喫緊大綱，
至其比例詳情，自非一端可盡，如厥陰中風脈，微浮為欲愈，不浮為未愈，是陰
病我得陽脈也，如讝言妄語，脈沉細者死，脈短者死，脈濇者死，是陽病惡
見陰脈也，又如太陽蓄血病六七日，表證仍在，脈微而沉，反不結胸，其人發狂
者，下血乃愈，此亦陽脈見陰脈，仲景復推出可生之路，見六七日，太陽之表證
仍在，自當現大浮數動滑之脈，設其人脈浮而沉，自當比動敗變遲之條，而證成
結胸，今乃反不結胸者，明是陽邪不結於太陽之經，而結於太陽之府也，膀胱之
府，果真蓄血，勢必發狂而成死證，計惟急下其血，庶結邪解而乃可愈耳，今人
但疑抵當湯，為殺人之藥，而孰知亟奪其血，正所以再生其人乎，又如厥陰下利，
寸脈反浮數，此陰病得陽脈，本當愈者，設其人尺中自濇，則是陽邪陷入陰中，
其浮數之脈，為血所持而不露也，然陽邪既陷入陰，寸脈不加浮數，則陽邪亦屬
有限，令寸脈反浮數，其在裡之熱，熾盛難除，更可類推，故知其必圊膿血，而
成半死半生之證也，合兩條論之，上條可愈之故，全在陰脈見，脈既轉陰，陽邪
原有限也，下條難愈之故，全在陽脈見，陽邪既從血下出，陽邪不盡，血必不止，
萬一血盡而陽邪未盡，能免脫陰而死乎，可見陰病陽病二語，特舉其大綱，至微
細聽人自會耳，大綱云者，謂證屬於陰，其脈反陽，必能鼓勇以卻敵，證屬於陽，
其脈反陰，必難嬰城以固守，故得濇弱弦微之脈者，其人氣血精津，未病先虧，
小病且難勝，況能勝傳經之熱病哉，尊問疑陽病見陰脈，亦有愈者，茲正大徹之
關，但所引病人苦發熱一段，此不過驗病之法耳，謂病人苦發熱身體疼，到診脈
時，其人安臥，則不見有發熱身疼之苦矣，加以脈沉而遲，表邪又未入裡，其從
外解無疑，所以知其差耳。
二問，從霜降以後，至春分以前，凡有觸冒者，名曰傷寒，餘時則非傷寒也，其
有曰，立夏得洪大脈，是其本位，其人身體苦疼重者，須發其汗，非傷寒如何。
答，冬月傷時令之寒，春月傷時今之溫，夏秋傷時今之暑濕熱，此四時之正病也，
然夏秋亦有傷寒，冬春亦有傷暑傷濕，乃四時之客病，所謂異氣也，此段叮嚀，
仲景特於濕家不可發汗之外，另豎一義，益以夏月得洪大脈，是心火之本脈，其 
人身體苦疼重，又似濕土之本病，恐後學誤遵濕家不可發汗之條，故以此辨析之
耳，見濕病雖夏月，脈必濡弱，不能洪大，且額上有汗，非如傷寒病腠理閉密，
即在夏月，亦必無汗之比也，又見洪大，既為夏月本脈，斷無當暑汗不出，而身
體疼重之理也，兩相比照，則其疼重，仍係太陽經傷寒無疑，但在夏月受邪原微，
見證亦稍輕，今人難辨，故於脈法中，析此大疑，以昭成法，可見不但冬春正病， 
有汗為傷風，無汗為傷寒，即夏秋正病，有汗為傷暑傷濕，無汗仍為傷寒，參脈
辨證了然明矣。
三問，陽病從寅而解於戌，陰病從亥而解於寅，是陽得陽解，陰得陰解，而有曰
陽病解於夜半，陰病解於日中，何也。答，陽得陽解，陰得陰解者，此從其經氣
之王也，如少陽王於寅卯辰，太陽王於己午未，陽明王於申酉戌，太陰王於亥子
丑，少陰王於子丑寅，厥陰壬於丑寅卯，是也，各經皆從其王，少陰獨從其生者，
少陰腎中，內藏真陽，子時一陽生，葭管灰飛，蚤已春回暘谷，丑時二陽，寅時
三陽，陽進陰必退，陽長陰必消也，且天一生水，子水生地，即是王地，故少陰
欲解獨從之，也然三陽之解，從寅卯而始，三陰之解從寅卯而終，寅為生人之首，
卯為天地之門戶，亦陰陽加環之理也，但三陽之王時九，各不相襲，三陰之王時
五，逐位相連，可見陽行健，其道長，故不相及，陰行鈍，其道促，故皆相躡也，
於此見仲景析義之精，以述為作矣，至陽病解於夜半，陰病解於日中者，內經之
旨，取陽見陰，陰見陽，兩相和協之義也，然而陰陽之和協與否，惡從知之，故
陽病必於陽王之時，先現欲解之機，然後夜半而輕安也，陰病必於陰王之時，先
現欲解之機，然後日中而輕安也，先聖後聖，寧非一揆也哉。
四問，汗多則熱愈，凡桂枝麻黃二湯，俱取微似有汗，不令汗多，汗少則便難，
少則津液未竭，何為便難也。答，太陽病，非汗不解，然汗法中，每伏亡陽漏風，
種種危候，所以服桂枝麻黃湯，但取微似汗，慮夫陽氣素薄之人，得藥而汗出不
止也，至於陽明胃經，為津液之府，邪熱內入，津液隨即外越者最多，不但陽氣
虛，不可過汗，即陽氣素實，亦不可過汗，所以陽明致戒云陽明實，因發其汗出
多者，亦為太過，太過為陽絕於裡，亡津液大便因鞕也，從前不解陽絕為何
事，不知正指津液內竭而言，即無陽之互文也，所云汗多則熱愈，汗少則便難，
乃脈法後段，推原所以當下之故，謂服藥得汗，腠理既開，兩三日內，仍覺漐漐
微汗，則邪服而熱除，不傳裡矣，若汗纔得而腠理隨閉，則熱邪不服而傳裡，熱
既傳裡，津液必耗而便難，故宜攻下以存津液，觀下文復云，脈遲尚未可攻，又
戒其勿誤攻，以重傷津液也，要知此三語，總頂屬府者，不令溲數，而為陽明病
下註腳耳。
五問，太陽病，發熱惡寒，熱多寒少一節內云，脤微弱者，此無陽也，不可發汗，
宜桂枝二越婢一湯，既曰無陽，不可發汗，方中桂枝麻黃石膏生薑，能不發汗耶。
答，太陽病，風傷衛，則用桂枝湯解肌，寒傷營，則用麻黃湯發汗，風寒兩傷營
衛，而加煩躁，則用大青龍湯，峻發其汗，此定法也，於中復有最難用法一證，
如太陽病，發熱惡寒，熱多寒少，謂風多寒少也，風多則麻黃湯為不可用，寒少
則桂枝湯必不能去寒，加以脈見微弱，其人胃中復無津液，是汗之固萬萬不可，
欲不汗其微寒終不外散，雖有桂枝二，麻黃一之法，施於此證，尚不中竅，何者
桂枝二麻黃一，但可治熱多寒少，而不可治脈微弱故耳，於是更改麻黃一，為越
婢一，示微發於不發之中，越婢者，不過麻黃石膏二物，形容其發散之柔緩，較
女婢尤為過之，正可勝微寒之任耳，所以然者，以石膏能解陽明之熱，熱解則津
液復生，而不名無陽，適得天然妙合之法也，此仲景之精義乎。
六問，傷寒心下有水氣，欬而微喘，發熱不渴，服湯已渴者，此寒去欲解也，小
青龍湯主之，既寒去欲解，不用藥可矣，必用小青龍湯，何也。答，傷寒心下有
水氣，欬而微喘，此水寒相搏，而傷其肺也，傷寒故發熱，水停心下故不渴，內
水與外寒，相得益彰矣，今服湯已而渴，明是表藥之甘溫，克勝其外襲之寒，所
以知其證為欲解，然尚未解也，何以故，外寒為內水所持，開解最難，故必更用
小青龍湯，逐其寒從外出，水從下出，斯一舉而開解無餘耳，倘不其然，縱外寒
漸散，其水氣之射肺中者，無
缺p62</p>
<p>由得解，所以熱雖少止，喘仍不止，故用麻黃發肺邪，杏仁下肺氣，甘草緩肺急，
石膏清肺熱，即以治足太陽膀胱經藥，通治手太陰肺經，亦為天造地設之良法也，
倘更誤行桂枝，寧不壅塞肺氣而吐癰膿乎，必識此意，然後不可更行桂枝之戒，
愈覺深切著明耳。
九問，血弱氣盡一節，有藏府相連，其痛必下，邪高痛下，故使嘔也，高指表耶，
下指脅耶。答，高不指表，下不指脅，要知此乃為婦人經水適來適斷之詞，經水
適斷之後，寧非血氣弱盡乎，因少陽熱邪，盡入血室，逼其經血妄行，致成此證，
蓋少陽膽，藏於厥陰肝葉之內，藏府相連，與太陽陽明兩陽，各為一區，卻與少
陰太陰相連者迥殊，所以太陽陽明之府邪，不能襲入於藏，而少陽之府邪，與藏
相連，漫無界限，有熱邪之在脅者，迫血妄行，必痛連腹中，見經血雖止，而腹
痛猶不止耳，高指脅也，下指腹也，邪在兩脅，已搏飲上逆，痛在腹中，又濁氣
上干，所以其證嘔逆特甚，但不可因其痛在腹中，遂指為取陰見證，誤用吳茱萸
等湯治嘔，桂枝大黃等湯治痛，仍用小柴胡湯，治其府不治其臟，迺為不誤，此
是喫緊叮嚀，言外見藏府同治，必領府邪入藏，而成兩感，水漿不入，形體不仁，
有必至矣，仲景不能盡所欲言，但以小柴胡湯主之一語，砥柱狂瀾也。
十問，小柴胡湯法，去滓，復煎，必有其義。答，用小柴胡湯，必去滓，復煎，
此仲景法中之法，原有奧義，蓋少陽經用藥有汗吐下三禁，故但取小柴胡湯以和
之，然一藥之中，柴胡欲出表，黃芩欲入裡，半夏欲驅痰，紛紜而動，不和甚矣，
故去滓，復煎，使其藥性合而為一，漫無異同，俾其不至僨事耳，又和非和於表，
亦非和於裡，乃和於中也，是必煎至最熟，令藥氣併停胃中，少頃隨胃氣以敷布
表裡，而表裡之邪，不覺潛消默奪，所以方中既用人參甘草，復加生薑大棗，不
厭其複，全藉胃中天真之氣為斡旋，所謂大力者負之而走耳，試即以仲景印仲景，
三黃附子湯中，以其人陽邪入陰而熱熾，非三黃不能除熱，其人復真陽內微而陰
盛，非附子不能回陽，然必各煎後，乃得以各行其事，而復煎以共行其事之義，
不亦彰彰乎。
十一問，太陽病，外證未解而復下之，協熱而利，利下不止，心下痞鞕，表
裡不解者，桂枝人參湯主之，此理中加桂枝也，設遇此證，解表用桂枝可也，協
熱利而用理中，人所不敢，仲景神門，必有妙義者歟。答，太陽經表邪未解而誤
下，以致協熱而利，心下痞鞕，設腹中利止，則裡邪可從裡解，乃利下不止，
是裡邪漫無解期也，設胸中結開，則表邪可從表解，乃心下痞鞕，是表邪漫
無解期也，此際欲解表裡之邪，全藉中氣為敷布，夫既上下交征不已，中氣且有
立斷之勢，其能解邪開結乎，故舍桂枝人參湯一法，更無他法可用者，若以協熱
之故，更清其熱，斯殆矣，愚每用此法，病者得藥，腹中即響若雷奔，頃之痞
鞕開，下利止，捷於反掌，可見握樞而運，真無為之上理矣。
 按瀉心湯中，治痞鞕下利，用甘草乾薑人參，各有其義，從未有用朮之法也，
此因下利不止，恐其人五藏氣絕於內，不得已而用朮，故不曰桂枝理中湯，而更
其名曰桂枝人參湯，豈非謂表邪未盡，不可以用朮立法耶，後來陶節菴，製疏邪
實表湯，以代桂枝湯，竟推重白朮為君主，坐令外感內傷，混同用藥，此等微細
關頭，不可不辨。
十二問，傷寒脈浮滑，此表有熱，裡有寒，白虎湯主之，寒字誤耶，浮滑之脈，
不應有寒也。答，脈滑為裡熱，浮滑則表亦熱，所以仲景白虎湯證，又云熱結在
裡，表裡俱熱，可為互證矣，寒字勿泥，即謂外感之寒入裡，而生其在裡之熱亦
可。
十三問，陽明病，心下鞕滿者，不可攻之，陽明病，不吐不下，心煩者，與
調胃承氣湯，鞕滿似重於心煩，何心煩可下，而鞕滿不可下也。答，心下
正胸膈之間，而兼太陽，故鞕滿為太陽陽明之候，不可攻之，攻之利遂不止
者死，至於心煩一證，乃津液內耗，大率當調其胃，然尚有重傷津液之慮，若不 
由吐下所致，是津液未虧，反見心煩者，其為邪熱灼胃審矣，當用調胃承氣，夫
復何疑，然曰與，亦似少少和胃，以安津液之法，非下法也。
十四問，少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯，觀急字似不
宜緩，其證不過口乾燥，而且病屬少陰，少陰又不過二三日，非十餘日之大滿大
實，有此神見，而便用承氣耶。答，少陰病，得之纔二三日，即口燥咽乾，其人
腎水素竭可知，故宜急下以救腎水，少緩須臾，甕乾杯罄，救無及矣，所以陽明
有急下三法，以救津液，少陰有急下三法，以救腎水，皆動關性命，所謂如救頭
燃，何商量等待之有耶，此與大滿大實之條，天淵懸絕，所當辨之於蚤矣。
十五問，脈濡而弱，弱反在關，濡反在巔，此一節有闕文否。答，叔和以濡弱微
濇之脈，見為陽氣與陰血兩虛，分類於不可發汗，不可下，二篇之首，推其所以
不可汗下之故，豈非以陽證陰脈乎，而陽證陰脈，大率歸重在陽微一邊，觀下文
云，陽微發汗，躁不得眠，又云陽微不可下，下之則心下痞鞕，差可睹矣，
其中風汗出，而反躁煩一語，最為扼要，見無汗之躁煩，用大青龍湯不對，且有
亡陽之變，況於有汗之燥煩，其亡陽直在轉盻間，此即用真武湯，尚恐不及，奈
何可更汗更下乎，本非闕文，但叔和未會仲景之意，類此不一而足，反覺重複纏
擾，而今讀者茫然耳。
十六問，脈雙弦而遲者，必心下鞕，脈大而緊者，陽中有陰，可下之也，宜
大承氣湯，設遇此證，果可下否。答，脈雙弦而遲，謂左右皆然，乃陰寒內凝，
所以心下必鞕，其脈其證，必因誤下，邪未盡退，而反致其虛寒也，仲景金
匱方論云，脈雙弦者寒也，皆大下後虛脈，所以於結胸條論脈，謂太陽病，脈浮
而動數，醫反下之，動數變遲，一以誤下而脈變雙弦，一以誤下而脈變遲，可互
證也，結胸條以其人邪結在胸，不得已用大陷胸湯，滌去胸間之邪，則與用大承
氣湯，峻攻腸中之結者懸矣，然且謂脈浮大者，不可下，下之則死，是并陷胸湯
亦不可用也，垂戒甚明也，雙弦脈即欲用下，當倣用溫藥下之之例，今反謂宜大
承氣湯下之者，何耶，至於脈大而緊者，陽中有陰，明謂傷風有寒，屬大青龍湯
證，其不可下更明矣，兩段之文迥不相蒙，叔和彙湊一處，指為可下之證，貽誤
千載，誠斯道之厄也，尊問不敢行其所疑，具過人之識矣，敬服。</p>
<h2>卷三</h2>
<h3>尚論諸方大意</h3>
<p>仲景一百一十三方，用本草九十一種耳，仲景上溯神農本經藥，三百六十五種，
效用周天三百六十五度之數，應三才而合四時，妙義開天也，仲景取述神農本經
藥品，纔九十一種，入傷寒論中，輔相裁成，有合六經之大綱者，有合六經之一
目者，蓋神農百病兼收，而仲景則由六經以例百病，所以於上古本經，取裁九十
一種，用之不盡，萬世而後，星日炳然，聖之又聖者矣，梁陶隱君別錄，倍之為
七百三十種，迨唐本圖經證類，宋嘉佑政和旁收編錄，於是旁門捷徑，各自成名
者多矣，而仲景宮牆生色，間出英賢數十輩，尤為不孤，識大識小，總計一千七
百四十六種，病雖百疢，藥無纖漏，天下後世永賴焉，然一千七百四十六種，顯
現億兆，如同一日昭式，乃至漸推漸廣，觀察盡矣，何獨仲景九十一種，賢哲挺
生，莫識厥旨，昌也晚進無識，手集神農本經，竊以傷寒論中藥品為主，其晉唐
以後諸賢，發揮傷寒論全方有得者，亦一一錄出，而昌亦少步尚論諸方之後，總
欲門下好學，隨證問藥，一目燎然，無檢書之苦難是慰耳。</p>
<p>太陽經風傷衛方
辨中風證用桂枝湯解肌大綱總法
桂枝湯方。
桂枝［三兩去皮味辛熱］、芍藥［三兩味苦酸微寒］、甘草［二兩炙味甘平］、生薑［三
兩切味辛溫］、大棗［十二枚味甘溫］，
右五味㕮咀，以水七升，微火煮取三升，去滓，適寒溫服一升，服已，須臾
歠熱稀粥一升餘，以助藥力溫覆令一時許，遍身(僅)(僅)，微似有汗者益佳，
不可令如水淋漓，病必不除，若一服汗出病差，停後服，不必盡劑，若不汗更服，
依前法，又不汗後服，小促役其間，半日許，令三服盡，若病重者，一日一夜服， 
周時觀之，服一劑盡，病證猶在者，更作服，若汗不出者，乃服至二三劑，禁生
冷粘滑肉麵五辛酒酪臭惡等物。</p>
<p>太陽中風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇惡寒，淅淅惡風，
翕翕發熱，宜桂枝湯。［原文］
 風之傷人也，頭先受之，故令頭痛，風在表則表實，故令發熱，風為陽，氣亦
為陽，同類相從，則傷衛外之氣，衛傷則無以固衛津液，故令汗出，其惡風者，
衛氣不能衛也，其脈緩者，衛氣不能鼓也，上件皆太陽證，故曰太陽中風，桂枝
辛甘，辛則能解肌，甘則能實表，內經曰，辛甘發散為陽，故用之以治風，然恐
其走泄陰氣，故用芍藥之酸以收之，佐以生薑甘草大棗，此發散而兼和裡之意，
是方也，惟表邪乃可用之，若陽邪去表人裡，裡作燥渴，二便祕結，此宜承氣之
時也，而誤用之則反矣，昌按承氣之誤，庸者固然，而工者誤在微細，仲景諄切，
不似此項，逐條本文，詳玩始獲。凡桂枝湯病證者，常自汗出，小便不數，手足
溫和，或手足指稍露之則微冷，覆之則溫，渾身熱微煩，而又憎寒，始可行之，
若病者無汗，小便不數，既手足溫和，或手足逆，身冷，不惡寒，反惡熱，或飲
酒後，慎不可行桂枝湯也，脈緊必無汗，有汗不可誤作桂枝證，此脈與證，仲景
說得甚明，後人看不透，所以不敢用此方，假今寸口脈微，名曰陽不足，陰氣上
入陽也，則洒淅惡寒也，尺脈弱，名曰陰不足，陽氣下陷入陰中，則發熱也，此
謂元氣受病而然也，又曰，陽微則惡寒，陰微則發熱，醫既汗之，使陽氣微，又
大下之令陰氣弱，此謂醫所使也，大抵陰不足，陽往從之，故陽內陷而發熱，陽
不足陰往乘之，故陰上入陽中則惡寒，舉此二端，明白易曉，何憚而不用桂枝湯
哉。仲景治表虛製此湯，桂枝味辛熱，發散助陽，體輕，本乎天者親上，故桂枝
為君，芍藥甘草佐之，如陽脈濇，陰脈弦，腹中急痛，乃製小建中湯，以芍藥為
君，桂枝甘草佐之，一則治其表虛，一則治其裏虛，故各有主用也。以桂枝易肉
桂，治傷寒腹痛，神品藥也，如夏中熱，腹疼少加黃芩去桂，痛立止，桂於春夏
二時為禁藥。按經云，桂枝入咽，陽盛則斃，春夏發者，為禁藥也，桂能動血，
血熱者為禁藥也，木得桂而死，肝不足者，為禁藥也。
桂枝湯有禁用三法［仲景本文并昌論］
汗後水氣上逆有禁更汗增滿一法［本文并昌論］
中風病主用桂枝湯解肌和營衛七法［本文并昌論］。或問桂枝湯發字之義，曰一桂
枝耳，或云發汗，或云當得汗解，或去當發汗，更發汗，宜桂枝湯者數方，是用
桂枝發汗也，復云無汗，不得用桂枝，又曰汗家不得重發汗，又曰發汗過多者，
都用桂枝甘草湯，是閉汗也，一藥二用，如何說得，仲景發汗，舉本草出汗之義，
相通為一，答曰，本草云，桂味辛甘熱，無毒固為百藥之長，通血脈，止煩出汗
者，是調血而汗自出也，仲景云，藏無他病，發熱自汗者，此衛氣不和也，又曰，
自汗者為營氣和，營氣和，則外不諧，以衛氣不與營氣和諧也，營氣和則愈，故
皆用桂枝湯，調和營衛，營衛既和則汗自出矣，風邪由此而解，非桂枝能於腠理
發出汗也，以其固閉營血，衛氣自和，邪無容地而出矣，其實則閉汗孔也，昧者
不解閉汗之意，凡是病者，俱用桂枝湯發汗，若與中風自汗者合，效如桴鼓，因
見其取效而病愈，則曰此桂枝發出汗也，遂不問傷寒無汗者，亦與桂枝湯，誤之
甚矣，故仲景言無汗不得服桂枝，是閉汗孔也，又曰發汗多，叉手冒心心悸，欲
得按者，用桂枝甘草湯，是亦閉汗孔也，又曰汗家不得重發汗，若桂枝湯發汗，
是重發汗也，凡桂枝條下言發字，當認作出字，是汗自然出也，非若麻黃能開腠
理，而發出汗也，本草出汗二字，上文有通血脈一句，是非三焦衛氣皮毛中藥，
是為營血中藥也，如是則出汗二字，當認作營衛和自然汗出，非桂開腠理，而發
出汗也，故後人用桂治虛汗，讀者當逆察其意，則可矣，噫，神農作於前，仲景
述於後，前聖後聖，其揆一也。
不解肌，或誤汗，病邪入裡，用五苓兩解表裡二法。一法水逆用之，多服煖水，
汗出愈。一法脈浮，小便不利，微熱，消渴者用之。
五苓散方。
豬苓［十八銖去皮］、茯苓［十八銖］、澤瀉［一兩六銖］、白朮［十八銖］、桂［半兩］，
右五味為散，以白飲和服。
方寸匕，日三，多服煖水，汗出愈。
不解肌，而誤發大汗，其變逆，有救亡陽漏風二法。一法真武湯。一法桂枝加附
子湯。
真武湯方。此本少陰經之神方，并加減法，而太陽上篇，先錄之，至太陽下篇，
尤宜緊要。先同錄此。
茯苓［三兩］、芍藥［三兩］、生薑［三兩切］、白朮［二兩］、附子［一枚炮去皮破八片］，
右五味，以水八升，煮去三升，去滓，溫服七合，日三服。
 桂枝加附子湯。於桂枝湯內加附子一枚，餘依桂枝湯法。
不解肌，而用燒鍼取汗，寒入核起，炙核止變一法。
桂枝加桂湯更加桂。於桂枝湯方內，更加桂枝二兩。
中風肌未解，不可下，宜用桂枝湯，解外一法。
桂枝湯。方見前。
不解肌，反誤下，邪不服者，於前下藥內，更加桂枝湯一法。即桂枝大黃湯之互
詞，因上衝陽位，故兩解之也，不上衝者，不用此方。
不解肌，反誤下，心痞，用溫補藥，兩解表裡一法。
 桂枝人參湯。即理中加桂枝，而易其名也。
桂枝［四兩去皮］、甘草［四兩炙］、白朮［三兩］、人參［三兩］、乾薑［三兩］，
 右五味，以水九升，先煎四味，取五升，內桂枝，更煮取三升，去滓，溫服一
升，日再服，夜一服。或問大柴胡，瀉也，桂枝人參湯，補也，何為皆治下利，
心下痞鞕，曰，此非裡熱，乃下之早，因作痞，裡虛協熱而利，表又不解，
故與桂枝人參湯，和裡解表，若夫傷寒發熱，汗出不解，心下痞鞕，嘔吐而
下利者，表和而裡病也，以心下痞鞕故為實，當以大柴胡下之，二者心下痞
鞕雖同，而虛實之證有別，故用藥有攻補之異，不解肌，反誤下，邪入陽明，
變用太陽，兩解一法。
 萬根黃連黃芩湯方，
葛根［半斤］、黃連［一兩］、黃芩［三兩］、甘草［二兩炙］，
右四味，以水八升，先煮葛根，減二升，內諸藥，煮取二升，去滓，分溫再服。
不解肌，反誤下，宜辨陽實陽虛，加減桂枝湯一法。
桂枝去芍藥湯。下之後，脈促胸滿，於桂枝湯內，去芍藥一味，餘依桂枝湯法。
去芍藥方中加附子湯。下之，微惡寒，於桂枝湯內去芍藥，加附子一枚。
不解肌，反誤下，陽邪作喘，有用桂枝加行氣藥一法。
桂枝加厚朴杏仁湯。於桂枝湯方內，加厚朴二兩，杏仁五十個，餘依桂枝湯法。
中風病不解，熱結膀胱，下血，有宜先表後裡一法。
桃核承氣湯。外不解者，尚未可攻，宜桂枝湯，外解，已少腹急結，可用此攻。
桃仁［五十個去皮尖］、桂枝［二兩］、大黃［四兩］、芒硝［二兩］、甘草［二兩炙］，
右五味，以水五升，煮取二升半，去滓，內芒硝，更上火微沸，下火，方食，溫
服五合，日三服，當微利。
中風病不解，熱瘀蓄血，明辨脈證，用抵當湯二法。一法發狂蓄血重證。一法再
辨脈證法中之法。
 抵當湯方。
水蛭［三十個熬］、虻蟲［三十個，去翅足，煞］、大黃［三兩］、桃仁［三十個，去皮
尖］，
右四味為散，以水五升，煮取三升，去滓，溫服一升，不下再服。
中風病，下後復汗，因虛致冒，先汗解，後議下一法，遵內經，虛者實之之義，
汗法下法，並出方，若論用藥，表無過桂枝，裏無過大柴五苓矣。
中風病，表裏已虛，餘邪未解，辨脈用治，迥異初病一法。
桂枝湯。陽脈微者用此。方見前。
調胃承氣湯。陰脈微者宜此。方見後。
中風病，嘔利痞滿，表解可攻，與攻胃實迥異一法。
十棗湯方。
芫花［熬］、甘遂、大戟、大棗［十杖劈］，
右上三味，等分，各別搗為散，以水一升半，先煮大棗，肥者十枚，取八合，去
滓，內藥末，強人服一錢匕，羸人服半錢，溫服之，平日服，若下少病不除者，
明日更服，加半錢，得快下，利後，糜粥自養。
太陽中風，下利嘔逆，表解者，乃可攻之，其人(僅)(僅)汗出，發作有時，頭
痛，心下痞鞕，滿引脅下痛，乾嘔，短氣，汗出，不惡寒，此表解，裡未和
也，十棗湯主之。［(僅)音蟄］。按大棗，純得土之中氣，兼感天之微陽以生，故
味甘氣平，又溫，氣味俱厚，陽也，入足太陰陽明經，經曰，裏不足者，以甘補
之，又曰，形不足者，溫之以氣，甘能補中，溫能益氣，甘溫能補脾胃，故主治，
安中補脾，補中益氣，此方三藥，皆峻利，故用肥棗十枚，蓋戎衣一著，大發鉅
橋之意，所以題之曰十棗湯，表其用之重也。按神農本經云，蕘花味苦寒，主傷
寒溫瘧，下十二經水，破積聚，大堅癥瘕，蕩滌腸中留癖，飲食寒熱邪氣，利水
道，仲景本方取用，正取此義，後人乃遂改芫花何也，即曰芫花，別錄亦云，能
消胸中痰水，五藏五水，然本經云，味辛溫，全與蕘花不同，且亦并不云主傷寒
溫瘧等證也，權移通用，殊非仲景立方本旨，不可不辨。仲景傷寒論，以蕘花治
利者，取其行水也，水去則利止，用當斟酌，不可過使，須有是證乃用。或問乾
嘔脅痛，小柴胡十棗湯皆有之，一和解一攻伐何也，蓋小柴胡證，邪在半表半裡
間，外有寒熱往來，內有乾嘔諸病，所以不可攻下，宜和解以散表裡之邪，十棗
湯證，外無寒熱，其人(僅)(僅)汗出，此表已解也，但頭痛心下痞鞕滿，引
脅下痛，乾嘔短氣者，邪熱內蓄，而有伏飲，是裡未和也，與十棗湯以下熱逐飲，
有表證而乾嘔脅痛者，乃柴胡湯證，無表證而乾嘔脅痛者，即十棗湯證也，上文
所言頭痛者，乃飲家有此證，不可以常法拘，仲景所以述此者，恐後學見其頭痛，
以為表不解，不敢用也。或問同是心下有水氣，乾嘔欬喘，一用小青龍湯主之，
一用十棗湯主之，何也，蓋小青龍，治未發散表邪，使水氣自毛竅而出，乃內經
所謂開鬼門法也，十棗湯，驅逐裡邪，使水氣自大小便而泄，乃內經所謂潔淨府
去陳莝法也，夫飲有五，皆內啜水漿，外受濕氣，鬱蓄而為留飲，流於膈，則為
支飲，令人欬喘寒，吐沫背寒，流於肺，則為懸飲，令人欬唾，痛引缺盆，流於
心下，則為伏飲，今人胸滿，嘔吐，寒熱眩暈，流於腸胃，則為痰飲，令人腹鳴，
吐水，胸脅支滿，或作泄瀉，或肥或瘦，流於經絡，則為溢飲，令人沉重，注痛，
或作水氣跗腫，芫花大戟甘遂之性，逐水洩濕，能直達水飲窠囊隱僻之處，但可
徐徐用之，取效甚捷，不可過劑，洩人真元也，陳言三因方，以十棗湯藥為末，
用棗肉和丸，以治水氣喘急浮腫之證，蓋善變通者也，昔杜任問孫兆曰，十棗湯，
究竟治甚病，孫曰，治太陽中風，表解裡未和也，杜曰，何以知裡未和，孫曰，
頭痛，心下痞滿，脅下痛，乾嘔，汗出，此知裡未和也，杜曰，公但言病證，而
所以裡未和之故，要緊處，總未言也，孫曰，某嘗於此未決，願聽開諭，杜曰，
裡未和者，蓋痰與躁氣，壅於中焦，故頭痛，乾嘔，短氣汗出，是痰膈也，非十
棗不治，但此湯不宜輕用，恐損人於倏忽，用者慎之。大抵痰亦水濕之病耳，蓋
痰涎之為物，隨氣升降，無處不到，入於心則迷竅而成癲8259，妄言妄見，入
於肺則塞竅而成欬唾，稠粘，喘急，背冷，入於肝則留伏蓄聚，而成脅痛乾嘔，
寒熱往來，入於經絡，麻皮頭痛，入於筋骨，則頭項胸背脅腰，手足牽引隱痛，
然治痰須治其本，痰之本，水也濕也，得氣與火則凝滯，而為痰，為飲，為涎，
為涕，為癖，故十棗湯逐水去濕，正所以治痰膈耳，中風病誤下，熱邪內陷，而
成結胸諸法。
 大陷胸湯方。
大黃［六兩去皮］、芒硝［一升］、甘遂［一錢為末］，
右三味，以水六升，先煎大黃，取二升，去滓，內芒硝，一兩沸，內甘遂末，溫
服一升，得快利，止後服，結胸兼涉陽明，仍用本湯。
 大陷胸丸。結胸似涉柔痙。［丸成煮湯，連滓服］。
大陷胸丸方。
大黃［半斤去皮］、葶藶［半斤熬］、芒硝［半斤］、杏仁［半斤去皮尖熬黑］，
右四味，搗篩二味，內杏仁芒硝合研，如脂，和散取如彈丸一枚，別搗甘遂末一
錢七，白蜜二合，水二升，煮取一升，溫頓服之，一宿乃下，如不下，更服取下
為效，禁如藥法。
結胸項強者。胸滿鞕痛，能仰而不能俛也，有汗項強為柔痙，此雖有汗，其
項強，乃胸中滿實，而不能俛，非是中風痙急，故曰如柔痙，不用湯液，而用丸
劑，何湯主蕩滌，用大陷胸湯，以其從心下至少腹皆鞕痛，三焦皆實，故用
湯以盪之，此惟上焦滿實用湯液，恐傷中下二焦之陰，故用丸以攻之。按痓，
音癡，惡也，當作痙，音徑，風強病也。
太陽經傷寒營方
 辨傷寒證，用麻黃發汗，大綱總法。
  麻黃湯方。
麻黃［三兩去節］、桂枝［三兩去皮］、甘草［一兩炙］、杏仁［七十個湯浸去皮尖］，
右四味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升半，去滓，
溫服八合，覆取微似汗，不須啜粥，餘如桂枝法將息。
太陽病頭痛發熱，身疼腰痛，骨節疼痛，惡風無汗而喘，麻黃湯主之。按太陰少
陰有身熱而無頭痛，蓋二經皆不上頭故也，厥陰有頭痛而無身熱，若身熱而又頭
痛，屬太陽經也。傷寒頭痛，屬三陽，乃邪氣上攻也，太陽專主頭痛，陽明少陽，
亦有之，三陰無頭痛，蓋太陰少陽二經，至胸而還，惟厥陰循喉嚨，上入頏顙出
額，會於巔，故亦有頭痛，傷寒頭痛，太陽經居多，頭角痛，屬少陽經，頭額痛，
及鼻，屬陽明經，頭頂痛，屬厥陰經。足太陽經，起目內眥，循頭背腰膕，故所
過疼痛不利，寒邪外束，人身之陽，不得宣越，故今發熱，寒邪在表不能任寒，
故令惡寒，寒主閉藏，故令無汗，人身之陽，既不得宣越於外，則必壅塞於內，
故令作喘，寒氣剛勁，故令脈緊。仲景治傷寒，無汗用麻黃，有汗用桂枝，歷代
名醫，未有究其精微，嘗繹思之，似有一得云，津液為汗，汗即血也，在營則為
血，在衛則為汗，夫寒傷營，營血內濇，不能外通於衛，衛氣固閉，津液不行，
故無汗，發熱而憎寒，夫風傷衛，衛氣外泄，不能內護於營，營氣虛弱，津液不
固，故有汗，發熱而惡風，然風寒之邪，由於皮毛而入，皮毛者肺之合也，肺主
衛氣，包羅一身，天之象也，是證雖屬乎太陽，而肺實受邪氣，其證時兼面赤，
怫鬱欬嗽，以及痰喘而胸滿者，非肺病乎，蓋皮毛外閉，則邪熱內攻，而肺氣膹
鬱，故用麻黃甘草，同桂枝引出營氣之邪，達之肌表，佐以杏仁泄肺而利氣，是
則麻黃湯，雖太陽發汗重劑，實為發散肺經火鬱之藥也。
辨脈浮，宜用麻黃湯發汗一法。
辨脈浮數，宜用麻黃湯發汗一法。即脈不緊但浮，及浮數，俱必用此。
辨傷寒欲傳不傳，心悸而煩，宜用建中一法。太陽中篇連大綱，止此三法。
變法用桂枝湯加減七法。
 小建中湯。桂枝［三兩去皮］、芍藥［六兩］、甘草［二兩炙］、生薑［三兩切］、膠飴［一
升］、大棗［十二枚劈］，
右六味，以水七升，煮取三升，去滓，內膠飴，更上微火，消解，溫服一升，日
三服，嘔者不可用建中湯，以甜故也。按山僻絕無醫藥之區，每遇頭痛發熱，用
蠻法，山椒炒雞，炊飯一飽，津津發汗，豈非得建中意乎。
服麻黃湯，得汗後，察脈辨證，有次第不同三法。
一法傷寒發汗，解半日許，復煩脈浮者，可更發汗。宜桂枝湯，方見上篇。再按
發汗已解，因表疏外邪內襲，可更發汗，宜桂枝湯，仲景意中，蚤已慮其正虛，
桂枝解肌，誠正法也，昌欲表虛之體，少和人參，助正驅邪，免致再襲三襲，留
連而至殆耳，略加人參，托出其邪，豈不善乎，粗醫不行微汗，輒至表疏邪入，
汗而又汗，展轉增變，卒至莫救，可為寒心。
一法發汗已，脈浮數煩渴者，宜表裡兩解，五苓湯。方見上篇。
一法汗出而渴，五苓散不渴者，茯苓甘草湯。
茯苓甘草湯方。
茯芩［三兩］、桂枝［二兩去皮］、生薑［三兩切］、甘草［一兩］，
右四味，以水四升，煮取二升，分溫三服。
辨脈浮緊浮數，尺脈反遲反微，不可發汗二法。再按二條，但論其法，然無藥也，
宜用建中湯，生其津液，津液充，則穀氣傳腎而生精血，所以自致表裡俱實，便
自出汗而愈，可見津液精血，人身之至寶也，服麻黃湯，汗後病不解，有惡寒惡
熱，不同治一法。
芍藥甘草附子湯方。惡寒者虛也。
芍藥［三兩］、甘草［二兩炙］、附子［一枚泡去皮切八片］，
已上三味，以水五升，煮取一升五合，去滓，分溫服。
調胃承氣湯方。不惡寒但熱者，實也，當和胃氣，與此方。
大黃［四兩，去皮，清酒浸］、芒硝［半斤］、甘草［二兩炙］，
右三味，㕮咀，以水三升煮取一升，去滓內芒硝，更上微火煮令沸，少少溫
服。
服黃麻湯後，身痛，脈沉遲者，宜行補散一法。
桂枝加芍藥生薑人參新加湯方。
桂枝［三兩去皮］、芍藥［四兩］、甘草［二兩炙］、人參［三兩］、生薑［四兩切］、大棗［十 
二枚劈］，
右六味，以水一斗一升，微火煮取三升，去滓，分溫服。［如桂枝法］。或問經言
表邪盛，脈浮而緊，法當身疼痛，宜以汗解之，況身疼皆係表邪未盡，此又加人
參芍藥生薑以益血，何也，曰表邪盛，則身疼，血虛則身亦疼，其脈浮緊者邪盛
也，其脈沉微者血虛也，盛者損之則安，虛者益之則愈，仲景凡言發汗後，以外
無表證，內無熱證，止餘身疼而已，若脈稍浮盛，則為表邪未盡解，今言脈沉遲，
此血虛而致然也，故加人參生薑芍藥以養血。服麻黃湯後，不可誤用桂枝，及飲
水灌水過多一法。
 麻杏甘石湯方。治喘飲水灌水。
麻黃［四兩去節］、杏仁［五十個，去皮尖］、甘草［二兩炙］、石膏［半斤，碎，綿裹］，
右四味，以水七升，先煮麻黃，減一升，去上沫，內諸藥，煮取二升，去滓，溫
服一升。
本麻黃湯證，誤下表邪未盡，氣逆變喘一法。
麻黃杏仁甘草石膏湯。誤下變喘。方同前。
服麻黃湯後，有陽氣暴虛，叉手自冒心悸，及耳聾無聞，二法。
桂枝甘草湯方。
桂枝［四兩去皮］、甘草［二兩炙］，
右二味，以水三升，煮取一升，去滓頓服。按心下悸，及耳聾無聞，皆陽氣暴虛，
仲景止用桂枝甘草二味，補虛之義，顯明易見，如二證大虛，又必多用人參矣，
服麻黃湯後，有陽氣暴虛，陰邪上逆，臍下悸，腹脹滿，二法。
茯苓桂枝甘草大棗湯方。欲作奔豚，預伐其邪。
茯苓［半斤］、桂枝［四味，去皮］、甘草［二兩炙］、大棗［十二枚劈］，
右四味，以甘瀾一斗，先煮茯苓，減二升，內諸藥，煮取三升，去滓，溫服一升，
日三服，作甘瀾法，取水三斗，置大盆內，以杓揚之，水上有珠子五十千顆，相
逐取用之。
厚朴生薑甘草半夏人參湯方。汗後腹脹滿。
厚朴［半斤去皮炙］、生薑［半斤切］、半夏［半斤洗］、人參［一兩］、甘草［四兩炙］，
右五味，以水一斗，煮取三升，去滓，溫服一升，日三服。
服麻黃湯後，不繇誤下，津乾飲結，胃困變痞一法。
生薑瀉心湯方。
生薑［四兩，切］、甘草［三兩炙］、人參［三兩］、乾薑［一兩］、黃芩［三兩］、半夏［半
斤洗］、黃連［一兩］、大棗［十二枚劈］，
右八味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。
誤下成痞，用瀉心湯方次第不同四法。
一法誤下後，再誤下，客熱虛痞，用甘草瀉心湯。
一法誤下後，復發汗惡寒，先解表，用大黃黃連瀉心湯。
一法上有陰氣，協熱邪作痞，用大黃黃連瀉心湯矣，而陰氣乘陽虛作痞，用附子
瀉心湯。
一法心下滿，而不痛者，用半夏瀉心湯。
甘草瀉心湯方。甘草［四兩］、黃芩［三兩］、半夏［半斤洗］、大棗［十二枚劈］、乾薑
［一兩］、黃連［一兩］，
右六味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。病在表
而反下之，則逆矣，下而虛其中氣，則表邪乘之而入，虛不任邪，今人謂之挾熱
利也，火性急速，榖雖入而未及化，故穀不化，虛陽上迫，故令腹中雷鳴。中虛
不能化氣，故令痞鞕而滿，胃虛客氣上逆，故令乾嘔，心煩不得安，人參甘
草大棗，胃虛之聖藥也，半夏乾薑，嘔逆之聖藥也，黃連黃芩，痞熱之聖藥也。
相傳伊尹湯液，原有甘草瀉心湯，治證同上，仲景本此方，而但去人參，可見先
哲皆有祖述，不似後人一味臆騁。［此云去人參，未是］。海云，伊尹湯液，此湯
七味，今監本無人參，脫之也，此為定衡。
大黃黃連瀉心湯方。
大黃［二兩］、黃連［一兩］，
右二味，以麻沸湯二升，漬之須臾，絞去滓，分溫再服。
按結胸之脈沉實，其病謂之實邪，故下之也急，痞氣之脈，關脈必浮，其病謂之
虛邪，故下之也緩，彼用大黃則煎之，乃取其氣味厚，此用大黃即漬之，取其氣
味薄也。大黃乃足太陰，手足陽明，手足厥陰，五經血分之藥，凡病在五經之血
分者，宜用之，若在氣分用之，是謂誅伐無過矣，故仲景言治心下痞滿，按之軟
者，用大黃黃連瀉心湯主之，此正瀉脾胃之濕熱，非瀉心也，病發於陰而反下之，
則作痞滿，乃寒傷榮血，邪氣乘虛結於上焦，胃之上脘在於心，故曰瀉心，實瀉
脾也，素問云，太陰所至為痞滿，又云濁氣在上，則生8250脹是矣，病發於陽，
而反下之，則成結胸，乃熱邪陷入血分，亦在上脘分野，大陷胸湯丸，皆用大黃，
亦瀉脾胃血分之邪，而降其濁氣也，若結胸在氣分，則只用小陷胸湯，痞滿在氣
分，則用瀉心湯矣。［8250音嗔，肉脹起也］。麻沸湯即熱湯，一名百沸湯，一名
太和湯，味甘平無毒，主治助陽氣，通經絡。
附子瀉心湯方。
大黃［二兩］、黃連［一兩］、黃芩［一兩］、附子［一枚，炮去皮，別煮取汁］，
右四味，初三味，以麻沸湯二升漬之，絞去滓，內附子汁，分溫再服。按心下滿
而痛者，為實，為結胸鞕滿不痛者，為虛，為痞氣，不滿不痛，但煩悶者，
為支結，保命集云，脾不能行氣於四藏，結而不散，則為痞，大抵諸痞皆熱也，
故攻痞之藥皆寒劑，其一加附子，是以辛熱佐其寒涼，欲令開發痞之拂鬱結滯，
非攻寒也，先發汗，或下後，陽氣虛，故惡寒汗出，太陽證云，發汗後惡寒者虛
也，此加附子，恐大黃黃連損其陽也，非補虛也。
半夏瀉心湯方。
半夏［半斤，冼］、黃芩［三兩］、乾薑［三兩］、甘草［三兩］、人參［三兩］、黃連［一兩］、
大棗［十二枚，劈］，
右七味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。按至於
下後，邪氣傳裡，亦有陰陽之異，若下後陽邪傳裡者，則結於胸中為結胸，以胸
中為陽受氣之分，與大陷胸湯，以下其結，陰邪傳裡者，則留於心下為痞，以心
下為陰受氣之分，與半夏瀉心湯，以通其痞。
服瀉心湯，痞不解，煩渴，小便不利，用五苓兩解表裡一法。前第九條，五苓湯
方，兩解表裡，於此更治痞滿，服瀉心湯，復誤下，利不止，宜治下焦一法。
赤石脂禹餘糧湯方。
赤石脂［一斤，碎］、禹餘糧［一斤，碎］，
已上三味，以水六升，煮取二升，去滓，分三服，下之，利不止者，下之虛其裡，
邪熱乘其虛，故利，虛而不能禁固，故不止，更無中焦之證，故曰病在下焦，澀
可以固脫，故用赤石脂，重可以鎮固，故用禹餘糧，然惟病在下焦者可以用，若
病在中焦，而誤以為虛者，則二物之氣，益壞於中，氣實者固而而濇之，則邪無
自而泄，必增腹脹且痛矣，慎之慎之。再按難經曰，中焦者，在胃中脘，主腐熟
水榖，下焦者，當膀胱上口，主分別清濁，主出而不內，以傳道也，靈樞曰，水
榖者常居於胃中成糟粕，而俱下於小腸而成下焦，滲而居下，濟泌別汁，循下焦
而滲入膀胱焉，然則利在下焦者，膀胱不滲，而大腸滑脫也，禹餘糧甘平，消痞
鞕，而鎮定其臟腑，赤石脂甘溫，固陽虛而收其滑脫也，若膀胱不滲，水穀不
分，更當導利小便，令分清之，使府司各行其事，始無餘治而愈也。
汗吐下解後，餘邪挾飲作痞，用旋復代赭石湯一法。
旋復代赭石湯方。
旋復花［三兩］、人參［二兩］、生薑［五兩切］、代赭石［一兩］、半夏［半斤，冼］、甘
草［三兩炙］、大棗［十二枚，劈］，
右七味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。汗吐下
而解，則中氣必虛，虛則濁氣不降而上逆，故作痞鞕，逆氣上干於心，心不
受邪，故噫氣不除。內經宣明五氣篇，曰五氣所病，心為噫，是也，旋復之鹹，
能飲痞鞕而下氣，代赭之重，能鎮心君而止噫，薑夏之辛，所以散逆，參甘
大棗之甘，所以補虛，或曰汗吐中虛，肺金失冷，肝氣乘脾，而作上逆，逆氣干
心，心病為噫，此方用代赭石，所以鎮心，亦所以平肝也，亦是究理之論。昌用
此方，治反胃多痰，氣逆并噦者，愈千人矣。
傷寒下早，亦成結胸之證四法。
一法辨大結胸，用大陷胸湯。
熱實脈沉緊，心下痛，按之不鞕，水飲結在胸脅，主大陷胸湯。［原文］
一法辨小結胸，用小陷胸湯。
正在心下，按之則痛，脈浮微滑，發熱，微惡寒，頭疼微嘔，心下支結，用柴胡
桂枝湯。［原文］
一法熱結在裡，與結胸異治。
一法辨邪熱在表，心下支結，但治其表。
小陷胸湯方。
黃連［一兩］、半夏［半升洗］、括蔞實［一枚大者］，
右三味，以水六升，先煮括蔞，去滓，內諸藥，煮取二升，去滓，分溫三服。
大陷胸湯方。水飲結在胸脅，仍用此方。方見前。
柴胡桂枝湯方。不宜大小限胸之法，用此方。
柴胡［四兩］、黃芩［一兩半］、人參［一兩半］、桂枝［一兩半］、甘草［一兩］、半夏［二
合半］、生薑［一兩半切］、芍藥［一兩半］、大棗［六枚劈］，
右九味，以水七升，煮取三升，去滓，分溫服。
辨傷寒太陽兼少陽，連上共五法。
小柴胡湯方。
柴胡［半斤］、黃芩［三兩］、半夏［半斤洗］、人參［三兩］、甘草［三兩］、生薑［三兩切］、
大棗［十二枚劈］，
右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。
傷寒四五日，身熱惡風，頭項強脅下滿，手足溫而渴者，小柴胡湯主之。［原文］
傷寒五六日，中風往來，胸脅苦滿，默默不欲飲食，心煩喜嘔，或胸中煩而不嘔，
或渴或腹中痛，或脅下痞鞕，或心下悸，小便不利，或不渴，身有微熱，或
欬者，小柴胡湯主之。［原文］
［加減去］若胸中煩滿而不嘔，去半夏人參，加括蔞實一枚。若渴者，去半夏，加
人參，合前成四兩半，括蔞根四兩。若腹中痛，去黃芩，加茯苓四兩。若不渴，
外有微熱者，去人參，加桂枝三兩，溫服取微汗愈。若欬者，去人參大棗生薑，
加五味子半升，乾薑二兩。經曰，傷寒中風有柴胡證，但見一證便是，不必悉具，
邪在表則寒，邪在裡則熱，今邪在半表半裡之間，未有定處，是以寒熱往來也，
邪在表則心腹不滿，邪在裡則心腹脹滿，今止言胸脅苦滿知邪氣在表裡也，經曰，
陽入之陰則靜，默默者，邪方自表之裡，在表裡之間也，能食不能食，煩不煩，
嘔不嘔，皆然邪初入裡未有定處，則所處不一，故有或為之證，柴胡證，但見一
證便是，不必悉具，正指此或為之證也。
傷寒陽脈澀陰脈弦，法當腹中急痛者，先與小建中湯，不瘥者，與小柴胡湯主之。
［原文］
小建中湯方。方見前。
服小建中湯不瘥者，蓋少陽屬木，其脈弦，木盛則土受剋，故澀而急痛也，故伐
木以救土也。
柴胡桂枝乾薑湯方。
柴胡［半斤］、桂枝［三兩去皮］、乾薑［三兩］、黃芩［三兩］、括蔞根［四兩］、牡蠣［三
兩熬］、甘草［二兩炙］，
右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服，初
服微煩，後服汗出便愈。
按已發汗，而復下之，雖不失先發後攻之序，及當汗而反下之宜，然既汗之，邪
當自散，若不待其全解後，內實而復下之，是猶傷於早也，烏得不結，然已發汗，
則邪勢已衰，雖或失之下早，故結亦當微也。
傷寒五六日，已發汗，而復下之，胸脅滿微結，小便不利，喝而不嘔，但頭汗出，
往來寒熱心煩者，此為未解也，柴胡桂枝乾薑湯主之。［原文］
太陽病，十日以去，脈浮細而嗜臥者，外解已也，設胸滿脅痛者，與小柴胡湯，
脈浮者，用麻黃湯。［原文］
脈微細而嗜臥者，大邪已退，血氣乍虛，而支體倦怠也，胸滿脅痛，則少陽未除，
故與小柴胡以和之，脈但浮則邪還表，故與麻黃以發之。
柴胡加龍骨牡蠣湯方。
柴胡［四兩］、半夏［二合洗］、龍骨［一兩半］、人參［一兩半］、茯苓［一兩半］、鉛丹［一
兩半］、桂枝［一兩半，去皮］、生薑［一兩半］、大黃［二兩］、牡蠣［一兩半］、大棗［六
枚，劈］，
右十一味，以水八升，煮取四升，內大黃，切如碁子，更煮一二沸，去滓，溫服
一升。
辨下後胸滿煩驚，身重困篤，用此湯。［原文］
病久脈代結心動悸，宜補胃生津，兼散邪，用炙甘草湯一法。
炙甘草湯方。
甘草［四兩，炙］、生薑［三兩切］、桂枝［三兩去皮］、麥門冬［半斤］、麻子仁［半斤］、
大棗［十二枚，劈］、人參［二兩］、生地［一斤］、阿膠［二兩］，
右九味，以清酒七升，水八升，先煮前藥八味，取三升，去滓，內膠烊消盡，溫
服一升，日三服，一名復脈湯。
誤下，下利不止，身疼痛，宜先救裡後救表一法。先救裡用四逆湯。
四逆湯方。
甘草［二兩炙］、乾薑［一兩半］、附子［一枚］，
右三味㕮咀，以水三升，煮取一升二合，去滓，分溫再服，強人用大附子一
枚，乾薑三兩。
服後身疼痛，便清自調者，急救表，用桂枝湯。方見上篇。
辨誤下，引邪內入，用梔子湯取吐，三法。病人糞微溏者，不可服。
一法下後煩滿不安，用梔子厚朴湯。
梔子厚朴湯方。
梔子［十四枚，劈］、厚朴［四兩薑炙］、枳實［四兩，湯浸，去瓤炒］，
已上三味，以水三升半，煮取一升半，去滓，分三服，溫進一服，得吐，止後服。
一法誤用丸藥，大下身熱微煩，用梔子乾薑湯。
梔子乾薑湯方。
梔子［十四枚，劈］、乾薑［二兩］，
右二味，以水三升半，煮取一升半，去滓，分二服，溫進一服，得吐，止後服。
一法大下後，身熱心中結痛，用梔子豉湯。
梔子鼓湯方。
梔子［十四枚劈］、香豉［四合，綿裹］，
右二味，以水四升，先煮梔子，得二升半，內豉，煮取一升半，去滓，分為二服，
溫進二服，得吐，止後服。
又本方一法。
發汗若下，煩熱胸中窒者，用此方。［原文］。發汗吐下後，虛煩不眠，反覆顛倒
懊憹者，用此方。［原文］
又加味二法。
若少氣者，梔子甘草豉湯。於前方內，加倍甘草。
若嘔者，梔子生薑豉湯。於前方內，加倍生薑甘草。
辨下後，復發汗之脈證，晝夜靜躁一法。
乾薑附子湯方。晝日煩躁，夜而安靜，脈沉微，身無大熱者。
乾薑［一兩］、附子［一枚，生用，破八片］，
右二味，以水三升，煮取一升，去滓頓服。按用薑附二味，偏於辛熱者，恢復重
虛之陽，而求以協和於偏勝之陰也。
辨吐下後復汗，身為振搖動惕，久成痿廢二法。
茯苓桂枝白朮甘草湯方。
茯苓［四兩］、桂枝［三兩去皮］、白朮［二兩］、甘草［二兩炙］，
右四味，以水六升，煮取三升，去滓，分溫三服。
辨傷寒熱瘀，小便反利，為蓄血，用抵當丸一法。
抵當丸方［上篇用抵當湯］。
水蛭［二十個，熬］、虻蟲［二十五個，熬，去翅］、桃仁［二十個，去皮尖］、大黃［二
兩］，
右四味，杵分為四丸，以水一升，煮一丸，取七合，服晬時，當自下血，若不下，
更服。
辨傷寒風濕相搏，身體煩疼，脈證二法。
桂枝附子湯方。
桂枝［四兩，去皮］、附子［三枚，炮去皮，破八片］、生薑［三兩切］、甘草［三兩，
炙］、大棗［十二枚，劈］，
右五味，以水六升，煮取三升，去滓，分溫三服。
去桂枝加白朮湯方。大便鞕，小便利者，用此。於桂枝附子湯方內，去桂枝，
加朮三兩，餘依前法。
甘草附子湯。
甘草［二兩，炙］、附子［九枚，泡去皮臍］、白朮［二兩］、桂枝［四兩去皮］，
右四味，以水六升，煮取三升，去滓，溫服一升，日三服，初服得微汗，則解能
食，汗出復煩者，服五合，恐一升多者，宜服六七合為妙。
按上條頂傷寒，此條頂中風無疑，本文痛不可近，汗出短氣，小便不利，惡風不
欲去衣，或身微腫語，皆是中風，可見風寒與溫相搏，冬月若此，而風與溫濕熱
濕相搏，夏月反若彼，王叔和云，傷寒所致太陽痙濕暍三種，宜應別論，以為與
傷寒相似，故此見之，果何說耶，太陽經證，痙濕暍居先，傷寒證居後，駭眩無
定，乃後代咸為取宗焉，傷寒書，誠疑而難讀之矣。
辨傷寒發黃，有寒濕相搏三法。
麻黃連軺赤小豆方。
麻黃［二兩］、赤小豆［一升］、杏仁［四十枚，去皮尖］、連軺［二兩，連翹根也］、大
棗［十二枚，劈］、生薑［二兩，切］、甘草［一兩，炙］、生梓白皮，
已上八味，以潦水一斗，先煮麻黃，再沸，去上沫，內諸藥，煮取三升，分溫三
服，半日則盡。
瘀血在裡，身必發黃，用前方。［原文］
茵陳蒿湯方。
茵陳蒿［六兩］、梔子［十四枚，劈］、大黃［三兩］，
右三味，以水一斗，先煮茵陳，減六升，內二味，煮取三升，去滓，分溫三服，
小便當利，若尿如皂角汁狀，色正赤，一宿腹減，黃從小便去也。
身黃如橘子色，小便不利，腹微滿者，用前方。［原文］
梔子柏皮湯方。
梔子［十五枚，劈］、甘草［一兩炙］、黃蘗［一兩］，
右三味，以水四升，煮取一升半，分溫再服。
身黃發熱者用前方。按熱巳發出於外，則與瘀熱不同，正當隨熱勢而亟散其黃，
俾不留於肌表也，前條熱瘀，故用麻黃，此條發熱，反不用麻黃，正所謂寒濕中
求之，不盡泥傷寒之定法矣，此隸太陽中篇，惟仲景乃識其旨，所謂者何，蓋四
條已發於痙濕暍三種，淤熱蒸黃之先，凡近豈能窺乎，至於總入陽明發黃，尤為
膚淺矣。
附越脾湯方。
麻黃［六兩］、石膏［八兩］、生薑［二兩］、甘草［二兩］、大棗［十二枚］。
太陽經風傷衛寒傷營方
大青龍湯，風寒兩傷，大綱總法。
大青龍湯。
麻黃［六兩，去節］、桂枝［二兩，去皮］、甘草［二兩炙］、杏仁［四十枚，去皮尖］、
生薑［三兩切］、石膏［如雞子大，綿裹，碎］、大棗［十二枚，劈］，
右七味，以水九升，先煮麻黃減二升，去上沫，內諸藥，煮取三升，去滓，溫服
一升，取微似汗，汗出多者，溫粉撲之，一服汗者，停後服，汗多亡陽，遂虛惡
風煩躁，不得眠也。
服青龍湯，厥逆筋惕肉瞤，此為逆也，用真武湯救之。［原文］
真武湯方。
茯苓［三兩］、芍藥［三兩］、生薑［二兩，切］、白朮［二兩］、附子［一枚，炮，去皮，
破八片］，
右五味，以水八升，煮取三升，去滓，溫服七合，日三服。此乃少陰經之方，先
錄於此。按成註，謂不久厥，吐利，無少陰裡證，大謬，無少陰證者，但欲寐，
尚不止少陰疑似，況敢言不久厥吐利等耶。麻黃味甘溫，桂枝味辛熱，寒則傷營，
必以甘緩之，風則傷衛，必以辛散之，此風寒兩傷，營衛俱病，故以甘辛相合，
而為發散之劑，甘草味甘平，杏仁味甘苦，苦甘為助，佐麻黃以發表，大棗味甘
溫，生薑味辛溫，辛甘相合，佐桂枝以解肌，石膏味甘，微寒，而使石膏為重劑，
而又專達肌表者也。大青龍湯，發汗之重劑，非桂枝所同，用之稍逆，則又有亡
陽之失，若脈微弱，汗出惡風者，不可服，服之，則厥逆筋惕肉瞤，此為逆
也。傷寒發熱惡寒，煩躁，身心無奈者，發汗則愈，譬若亢熱已極，一雨而涼，
其理可見也，若見其躁熱，投以寒涼，其害豈勝言哉。中風脈浮緊，傷寒脈浮緩，
仲景以青龍對之，證候與脈相對，無不應手而愈。風傷衛，衛氣也，寒傷榮，榮
血也，榮行脈中，衛行脈外，寒邪居脈中，非特營受病，邪自內作，則併與衛氣
犯之，則浸淫入骨，亦自有淺深也。
太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主。［原文］
傷寒脈浮緩，身不疼，但重，乍有輕時，無少陰證者，前湯發之。［原文］
大青龍湯，仲景治傷寒發熱，惡寒煩躁者則用之，夫傷寒邪氣在表，不得汗出，
其人煩躁不安，身心無如之奈何，如脈浮緊，或浮數者，急用此湯，發汗則愈，
若不浮緊而數，無惡寒身疼者，亦不可用，所以脈證不明者，多不敢用也。仲景
治傷寒，一則桂枝，二則麻黃，三則青龍，桂枝治中風，麻黃治傷寒，青龍治中
風見寒脈，傷寒見風脈，三者如鼎立，人皆能言之，而不曉前人處方用藥之意，
故醫遂多不用，昌謂脈緩而浮者中風也，故嗇嗇惡風，淅淅惡寒，翕翕發熱，仲
景以桂枝對之，脈緊而嗇者傷寒也，故有頭痛發熱，身疼腰痛，骨節疼痛，惡寒
無汗而喘，仲景以麻黃對之，至於中風脈浮緊，傷寒脈浮緩，仲景皆以青龍對之，
昌為究之，風傷衛，則風邪干陽，陽氣不固，發越而為汗，是以自汗，是表虛，
故仲景用桂枝以發其邪，芍藥以和其血，蓋中風則病在脈之外，其病稍輕，雖同
曰發汗，實解肌之藥耳，所以仲景於桂枝證云，令半身(僅)(僅)微似有汗，不
可如水淋漓，病必不除，可知中風，不可大發汗，汗過則反動營血，邪氣乘虛襲
之，故病不除也，寒傷營，則寒邪入陰血，而營行脈中者也，寒邪居脈中，非特
營受病，邪自內作，則併與衛氣犯之，久則浸淫入骨，是以汗不出而熱，齒齕而
煩冤，仲景以麻黃發其汗，又以桂枝助其發散，欲滌除內外之邪營衛之病耳，大
抵二藥皆發汗，以桂枝發其衛之邪，麻黃開營衛之病，治自有淺深也，何以驗之，
觀仲景第十九證云，病當自汗出者，此為營氣和，營氣和者，外不諧，以衛氣不
共營氣和諧故也，以營行脈中，衛行脈外，復發其汗，營衛和則愈，宜桂枝湯，
又四十七證云，發熱汗出，此為營弱衛強，故使汗出，欲救邪風者，宜桂枝湯，
是知中風汗出者，營和而衛不和，又第一卷云，脈浮而緊，浮則為風，緊則為寒，
風則傷衛，寒則傷營，俱病者即煩疼，當發其汗，是知傷寒浮緊者，營衛俱病也，
此麻黃湯中并用桂枝，此仲景之言也，至於青龍，雖治傷風且寒脈，傷寒見風脈
之病，然仲景又云，陽微惡風者，不可服，服之厥逆，便有筋惕肉瞤之症，
故青龍一證，尤難用藥，須是形證諦當，然後可行。熱盛而煩，手足自溫，脈浮
而緊，此傷風見寒脈也，不煩少熱，四肢微厥，脈浮而緩，此傷寒見風脈也，二
者為營衛俱病，法宜大青龍湯。
小青龍湯方。
麻黃［去節］、桂枝、芍藥［酒炒］、細辛、甘草［炙］、乾薑［各三兩］、半夏、五味［半
升］。
傷寒表不解，心下有水氣，乾嘔發熱而欬，或渴或利或噎，或小便不利，少腹滿，
或喘者，小青龍湯主之。［噎音謁，食質氣不通也。原文］
傷寒心下有水氣，欬而微喘，發熱不渴，服已渴者，此寒去欲解也，小青龍湯主
之，［原文］。或問小青龍與小柴胡證，皆嘔而發汗，表裡之證，大概彷彿，何故
二方用藥之不同，曰夫傷寒表不解，裡熱未甚，而渴欲飲水，不能多，不當與之，
以腹中熱尚少，而不能消，水飲停蓄，故作消證，然水寒作病，非溫熱之劑不能
解，故用小青龍發汗散水，原其理初無裡證，因水寒以致然也，若小柴胡湯，則
係傷寒發熱之邪傳裡，在於半表半裡之間，熱氣內攻，故生諸證，是二證，雖曰
表裡俱病，至其中之寒熱，則全不同，故用藥有薑桂柴苓之異耳。
乾薑附子湯方。
乾薑、附子。
下之後，復發汗煩躁，不得眠者，乾薑附子湯主之。［原文］
此當與梔子鼓湯證參看，蓋下後煩不得眠，一也，而用藥有寒熱不同故爾。服薑
附湯有二法，一法當熱服，手少陰心也，水包火，熱服以接心火，身表寒盛，外
火少也，寒從外生，熱從內消，譬如凍死，寒在外也，一法當寒服，足少陰腎也，
寒邪入水，令冷服以類腎水，身表微熱，內水多也，熱從外生，寒從內消，譬如
飲冷，寒在內也。
麻黃杏仁甘草石膏湯方。方見前。
發汗後，汗出而喘，無大熱者，麻黃杏仁甘草石膏湯主之。［原文］
予觀仲景常言發汗後，乃表邪悉解，止餘一證而已，故言不可更行桂枝湯，今汗
出而喘，無大熱，乃上焦餘邪未解，當用此方以散之，夫桂枝加厚朴杏仁湯，乃
桂枝證悉具，而加喘者用之，註言汗出而喘，以為邪氣壅甚，非桂枝所能發散，
此誤也，況身無大熱，更無證，何故復言表邪必盛，其後章下後，不可更行桂枝
湯條下，註曰，汗下雖殊，其不當損正氣則一，其言有至理存焉，可見汗後所註
之誤矣，大抵當時因事發機，前後失於照應，故有此等之弊也。
桂枝甘草湯方。
桂枝、甘草、大棗。
發汗過多，其人叉手，自冒心，心下悸，欲得按者，桂枝甘草湯主之。［原文］
悸心動也，怔怔忪忪，不能自安也，有氣虛而悸，陽氣內弱，心下空虛也，有停
水飲而悸，心為火而惡水，水既內停，心不自安也，有汗下後而悸，汗為心液，
汗去心虛，如魚離水在，故悸與驚不同。
茯苓甘草大棗湯方。
茯苓、桂枝、甘草、大棗。
發汗後，其人臍下悸者，欲作奔豚，茯苓甘草大棗湯主之。［原文自明］
厚朴生薑半夏甘草人參湯方。
厚朴、生薑、半夏、甘草、人參
汗後腹脹滿者，前湯主之。［原文自明］
或問太陽篇中，發汗後諸證，不言太陽病，固所當然，亦合列於傷寒之右，何故
止言發汗後腹脹者，厚朴半夏甘草人參湯主之，曰凡言發汗後者，以外無表證，
裡無別邪，止有腹痛一事而已，除此之外，即獲全安，夫傷寒二字，豈可易言哉，
其傳變吉凶，猶反掌耳，可與所餘一證而並例哉，亂其諸汗後，不殊此意。
芍藥甘草附子湯方。
芍藥、甘草、附子。
發汗病不解，反惡寒者虛故也，芍藥甘草附子湯主之。［原文自明］
四逆湯方。方見前。
發汗若下之，病仍不解煩躁者，茯苓四逆湯主之。［原文］
五苓散方。方見前。
太陽病，發汗後，大汗出，胃中乾，煩躁不得眠，欲得飲水者，少少與飲之，令
胃氣和則愈，若脈浮，小便不利，微熱消渴者，與五苓散主之。［原文］
水道為熱所蔽，故令小便不利，小便不利，則不能運化津液，故令渴，水無當於
五味，故用淡以治水，茯苓豬苓澤瀉白朮，雖有或潤或燥之殊，然其為淡則一也，
故均足以利水，桂性辛熱，辛熱則能化氣，內經曰，膀胱者州都之官，津液藏焉，
氣化則能出矣，此用桂之意也，濁陰既出下竅，則清陽自出上竅，又熱隨溺而泄，
則渴不治可以自除，雖然小便不利，亦有因汗下之後，內亡津液而致者，不可強
以五苓散利之，強利之，則重亡津液，益虧其陰，故曰大下之後，復發汗，小便
不利者，亡津液故也，勿治之，得小便利必自愈，師又曰，太陽隨經之邪，直達
膀胱，小便不利，其人如狂者，此太陽之邪，不傳他經自入其府也，五苓散主之，
是使陽邪由溺而泄耳。
發汗見脈浮數，煩渴者，五苓散主之。［原文］
按太陽標病，傳入標之本，發渴溺不利，以此散導之，邪自膀胱而出也，若未渴，
用五苓散，反引邪氣入裡，而不能解也，故易老云，即太陽經下藥也，若傷寒太
陽脈緊而渴者，不宜用此。
中風發熱，六七日不解而煩，有表裡證，欲飲水，水入則吐者，名曰水逆，五苓
散主之。
本以下之故，心下痞，與瀉心傷，痞不解，其人渴而口躁煩，小便不利者，五苓
散主之。
太陽病，寸緩關浮尺弱，其人發熱汗出，復惡寒不嘔，但心下痞者，此以醫下之
也，如其不下者，病人不惡寒，而渴者，此轉屬陽明也，小便數者，大便必鞕，
不更衣，十日無所苦也，渴欲飲水，少少與之，但以法救之，宜五苓散。［原文］
或問上條云，小便數者大便必鞕，不更衣十日，無所苦也，嘗有四五日，六
七日，不大便者，即為攻之，今言十日不更衣，而不用攻伐，何也，曰此非結熱，
乃津液不足，雖十日不更衣，亦無所苦也，經曰陽明病，本自汗出，醫更重發汗，
病已瘥，尚微煩不了了者，此大便必鞕故也，以亡津液，胃中乾躁，故令大
便鞕，當問其小便日幾行，本小便日三四行，今日再行，即知大便不久出，
為小便數少，以津液足胃中，故知不久大便也，夫不便者，若有潮熱讝語可
下之證者，然後可以攻之，其不大便，而無諸下證者，此津液不足，須當自審，
慎勿以日數久，而輒為攻下也。五苓散，為太陽裡之下藥也，太陽高則汗發之，
下則引而竭之，渴者邪入太陽裡也，當下之，使從膀胱出也。腎燥膀胱熱，小便
不利，此藥主之，小便利者不宜用，然太陽病，熱而渴，小便雖利，亦宜五苓散
主之。當服不服，則生何證，答曰，當服不服，則榖消水去，必致陽明躁火，鬱
胃發黃，故有調胃湯證，此太陽入本，失下也，由不曾服五苓散故也。不當服，
服之則生何證，答曰，不當服而服之，是為犯本，小便強利，津液重亡，侵陽之
極，則侵陰而成血證也，輕則桃仁承氣湯，重則抵當湯，故五苓散，調和陰陽者
也，乃太陽陽明之間，故為調和之劑，酒毒小便赤澀，宜五苓散，但熱在中焦，
未入太陽之本，小便自利而清，乃津液已行者，若與五苓散利之，則重涸腎水，
不惟重涸腎水，而酒毒之熱，亦不能去，以故上下不通，而溺濇，則為發黃證也，
若入血室，則為蓄血，用五苓散以瀉濕熱。太陽證，傷寒自外入，其標本有二說，
以主言之，膀胱為本，經絡為標，以邪言之，先得者為本，後得者為標，此乃客
邪之標本也，治當從容之標本。又小腸火為本，膀胱水為標，乃寒毒之氣，從標
入本，邪與手經相合，而下至膀胱，五苓主之，以方內桂枝陽中之陽，茯苓陽中
之陰，相引而下於本，導出邪氣。
     手經    自上之下       足經
 丙火                   壬水
     小腸    自下之上       膀胱
火邪之氣，從下之上，以內為本，水中有火，火為客氣，當再責其本，兩腎相通，
又在下部，責在下焦，下焦如瀆，相火明也，生地黃黃蘗主之，邪從本受，下焦
火邪，遺於小腸，是熱在下焦，填塞不便，自內而之外也，蓋生地黃蘗黃連，乃
陰中之陽，為裡之表藥，若五苓之桂朮澤瀉豬苓茯苓，乃陽中之陰，為表之裡藥
也。治酒病宜發汗，若止以五苓利小便，炎焰不肯下行，故曰火鬱則發之，辛溫
則散之，是從其火體也，乃知利小便，濕去熱不去，動大便，尤為疏遠，大便者
有形質之物，酒者無形，水也，從發而汗之，最為之近，以使濕熱俱去，蓋治以
辛溫，發其火也，佐以苦寒，除其濕也。
茯苓甘草湯方。
茯苓、桂枝［二兩］、甘草［一兩］、生薑［一兩］。
傷寒汗出而渴者，五苓散主之，不渴者，茯苓甘草湯主之。［原文］
傷寒厥而心下悸者，宜先治水，當服茯苓甘草湯，卻治其厥，不爾水漬入胃，必
作利也。［原文］
金匱要略曰，水停心下，甚者則悸，厥雖寒勝，然以心下悸為水飲內甚，先與此
湯治其水，而後治其厥，若先治厥，則水飲浸漬入胃，必作下利。凡治悸，其法
或鎮固之，或化散之，惟飲之為悸，甚於他邪，雖有餘邪，必先治悸，何者以水
停下，無所不入，侵於肺為喘嗽，傳於胃為穢噎，溢於皮膚為腫，漬於腸間為利，
其厥之病甚重，猶先治水，況病之淺者乎。
白虎湯方。
石膏［一斤］、知母［六兩］、甘草［二兩］、粳米［六合］。
傷寒脈浮滑，此表有實，裡有寒，白虎湯主之。［原文］
按前篇云諸熱在裡，表裡俱熱者，白虎湯主之，又曰其表不解，不可與白虎湯，
此云脈浮滑，表有實，裡有寒者，必表裡字訛耳，又陽明一證云，脈浮遲，表虛
裡寒，四逆湯主之，又少陰一證云，裡寒外熱，通脈四逆湯主之，以此相參，其
訛益明矣，又陽明篇曰，脈浮而疾者，小承氣湯，既用承氣湯，是裡熱也，又厥 
陰篇曰，脈滑而厥者，裡有熱，白虎湯主之，是為滑為裡熱也明矣，況知母石膏，
豈應以水濟水，成氏隨文釋之謬也。海云，此表有熱，裡有寒，非寒冷之寒，寒
邪之寒，亦自有理可思。
傷寒脈浮而厥者，裡有熱也，白虎湯主之。［厥陰原文］
粳米本草諸家，共言益脾胃，如何白虎湯用之入肺，以其陽明為胃之經，色為西
方之白，故入肺也，然治陽明之經，即在胃也，色白味甘寒，入手太陽，又少陰
證，桃花湯，用此甘以補正氣，竹葉石膏，用此甘以補不足，垣云，身以前，胃
之經也，胸胃肺之室也，邪在陽明，肺受火制，故用辛寒以清肺，所以號為白虎
湯也。活人云，謂白虎湯治中暍，汗後一解表藥耳，非正傷寒藥也，而夏日陰氣
在內，白虎尤宜戒之，夫白虎湯，具載仲景之書，證治昭然明白，何為非正傷寒
之藥也，況傷寒論，言無表證者，可與白虎湯，今云汗後一解表藥耳，於法既無
表證，何解之有，又曰，夏月陰氣在內，白虎尤宜戒之，而明理論，又云，立秋
後不可服，秋則陰氣半矣，白虎大寒，若不能禁，服之而為噦逆不能食，或虛羸
者有矣，夫傷寒之法，有是證則投是藥，安可拘於時而為治哉，假如秋冬之間，
患傷寒，身如表證，而大煩渴，於法合用白虎湯，茍拘其時，何以措手，若以白
虎為太寒，其承氣又何宜於冬月耶，既以夏宜戒，秋不可行，然則宜乎何時也，
雖然，經云必先歲氣，無伐天和，此言常也，假如賊邪變出陰陽寒暑，亦當捨時
而從證，豈可以時令拘哉。
三陽合病，腹滿身重，難以轉側，口不仁而面垢，讝語遺尿，發汗則讝語，
下之則額上生汗，手足逆冷，自汗出者，白虎湯主之。［原文］
垣云，入足陽明，手太陽，味苦寒潤，治有汗骨蒸，腎經氣勞，瀉心，仲景用此
治不得眠者，煩躁也，煩者肺也，躁者腎也，以石膏為君主，佐以知母之苦寒，
以清腎之源，緩以甘草粳米之甘，而使不速下也，經云，胸中有寒者，瓜蒂散吐
之，又云，表熱裡寒者，白虎湯主之，瓜蒂知母，味皆苦寒，而治胸中寒，及裡
寒何也，答曰，成無已註云，即傷寒寒邪之毒，為熱病也，讀者要逆識之，如論
語言亂臣十人，書曰惟以亂臣，其能亂而四方，亂皆治也，乃治寒者也，故云亂
民，亂四方也，仲景所言寒之一字，舉其初而言之，熱病在其中矣，若以寒為寒
冷之寒，無復苦寒之劑，兼言白虎證，脈，尺寸俱長，則熱可知矣。
白虎加人參湯五法。藥即湯見。許云，有人初病嘔吐，俄為醫者下之，已七八日
而內外發熱，予診之曰，嘗用白虎加人參湯，或曰既吐復下，且重虛矣，白虎何
用乎，予曰仲景云，若吐下後七八日不解，熱結在裡，表裡俱熱者，白虎加人參
湯，正相當也，蓋嘔吐者，熱留胃脘，而致令虛火上逆，三投湯而愈，仲景既云，
傷寒若吐若下後，七八日不解，表裡俱熱者，白虎加人參湯主之，又云傷寒脈浮，
發熱無汗，其表不解，不可與白虎，又曰脈浮滑，此以表有熱，裡有寒，白虎加
人參湯主之，國朝林億校正，謂仲景於此，表裡自差矣，余謂不然，大抵白虎能
除傷寒中暍，表裡發熱，故前後二證，或云表裡俱熱，或云表熱裡寒，皆可服之，
一種脈浮無汗，其表不解，全是麻黃與葛根證，安可行自虎也，林億見所稱表裡
不同，便謂之差，是亦不思之過也。張云，用藥有遲速之弊，故設法以關防，法
有關防不盡者，則著方以拯治也，便如上二條，前條乃仲景設法以關防也，後條
乃傷寒病，若吐若下後，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴口
舌乾躁而煩，飲水數升者，以白虎加人參湯主之，此二條乃著方以拯治也，夫白
虎湯，專治大煩大渴，古人設法之意，惟恐表證未罷，而輒用之，治有太速之弊，
若背微惡寒，及時時惡風二證，其中煩渴已甚，非白虎不能遏也，必候表邪俱盡，
未免有太遲之愆也，此乃法之關防不盡者，故著方以拯治也，茍不著方，必然違
法，此方法之妙，所以不可偏廢也，或問白虎湯，仲景以表不解者，不可與，又
時時惡風，背上惡寒者，此有表也，以白虎主之何也，蓋石膏辛涼，解足陽明本
經熱，蒸蒸發熱，潮熱表裡皆熱，舌躁煩渴之聖藥也，且時時者，時或惡風而不
常也，背上惡者，但覺微惡而不甚也，所以於盛熱躁渴而用，則無疑矣，若夫表
證惡寒，常在背上，惡寒而加躁渴者，切不可用也，又太陽經發熱，而渴無汗者，
不可與之，但汗後，脈洪大而渴者，則可與之，加少陰傷寒，面赤煩躁，身熱，
與夫胃虛惡心，大便不實，脈弱食少，無大熱者，切不可用也，如誤用之，則傾
危可立而待矣。</p>
<h2>卷四</h2>
<p>太陽合陽明方 
桂枝加葛根湯。桂枝湯加葛根。
太陽病，項背強，几几，反汗出，惡風者主之，［原文］
几几項背拘強之狀。按後證葛根湯，乃桂枝湯中加麻黃葛根也，其證無汗，故以
麻黃發之，此證有汗，故去麻黃，而曰桂枝加葛根湯也，若有麻黃，則亦葛根湯
矣。
葛根湯。
桂枝湯加麻黃、葛根。
太陽病，項背強，几几，無汗惡風，葛根湯主之。［原文］
風寒傷經絡之經，則所過但痛而已，未至於強，風寒傷經骨之筋，則所過筋急強
直，而成剛痓，痓痙字之訛也，曰剛痓，無汗之名也，本草云，輕可去
實，葛根麻黃，形氣之輕者也，此以風寒表實，故加二物於桂枝湯中。
太陽與陽明合病者，必自下利，葛根湯主之。［原文］
太陽與陽明合病，不下利但嘔者，葛根加半夏湯主之。［原文］
葛根加半夏湯。方見本湯。
凡合病必自下利，下利裡證也，今之庸醫，皆曰漏厎傷寒不治，仲景則以前方主
之，蓋以邪氣併於陽，則陽實而陰虛，陰虛故下利也，以此湯散經中表邪，則陽
不實而陰氣平，利不治而自止也，惟明者知之，其脈必弦而長。張云，凡合病皆
下利，各從外證以別焉，夫太陽病，頭項痛，腰脊強，陽明病，目疼鼻乾，不得
臥，少陽病，胸脅痛，耳聾，凡遇兩經病證齊見，而下利者合病也，然但見一證
便是，不必悉具也，仲景不言脈證，止言太陽與陽明合病者，以前章所論，包含
已上之證，即此理也，況各經之證，所見不一，難為定論乎。按合病者，三陽合
病也，謂二陽經，或三陽經，同俱受邪，相合而病，故曰合病，此病之不傳者也，
併病者亦指三陽而言，併者催併督併之謂，前病未解，後病已至，有迫逼相併之
義，此病之傳者也，且如太陽陽明併病一證，若併而未盡，是傳未過，尚有表證，
仲景所謂太陽病不罷，面色赤，陽氣怫鬱在表，不得越，煩躁氣短是也，猶當汗
之以各半湯，若併之已盡，是謂傳過，仲景所謂太陽證罷，潮熱手足汗出，大便
鞕而讝語者是也，法當下之，以承氣湯，是知傳則入府，不傳則不入府也，
所以仲景論太陽陽明合病，止出三證，加前太陽陽明併病，則言其有傳變如此也，
然此皆三陽病耳，與三陰無干，若與三陰合病，即是兩感矣，所以三陰無合病例
也。
梔豉湯。方見太陽中篇。
發汗吐下後，虛煩不得眠者，主之。［原文下六條同］
懊者懊惱，憹者鬱悶貌，心中懊懊惱惱，煩煩憹憹，鬱鬱不舒，憒憤無
奈，此又煩悶而甚者也，由下後表之，陽邪乘內陷，鬱而不發，結伏於心胸之間，
故如是，按梔子色赤味苦，入心而治煩，香豉色黑味鹹，入腎而治躁。
發汗，若下之而煩熱，胸中窒者主之。
傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，宜主之。
陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒，少惡熱，身重，
若發汗則燥，心憒憒反讝語者，主之。
煩者氣也，躁者血也，氣主肺，血主腎，煩躁俱在上者，腎子通於肺母也，故用
梔子以治肺煩，用香豉以治腎躁，煩躁者懊惱不得眠也。或曰，煩者心為之煩，
躁者心為之躁，何煩為肺，躁為腎耶，夫心者君火也，與邪熱相接，上下通熱，
金以之而躁，水以之而虧，獨存火耳，故肺腎與之合而煩躁焉，此煩雖肺，躁雖
腎，其實心火為之也。
陽明病下之，其外有熱，手足溫不結胸，心中懊惱，飢不能食，但煩汗出者主之。
下利後更煩，按之心下濡者，為虛煩也，宜此湯。下利後不煩，為欲解，若更煩
而心下堅者，為穀煩，此煩是心下濡者，是邪熱乘裡，客於胸中為煩也，與此湯
吐之則愈。按此湯惟吐無形之虛煩則可，若用之以去實，則非豉子所能宜矣，實
者須瓜蒂散主之。
凡服梔子湯，病人糞微溏者，不可與服之。仲景用梔子湯治煩，胸為高之分也，
故易老云，輕飄而象肺，色赤而象火，故能瀉肺之火也，本草不言吐，仲景用此
為吐者，梔子本非吐藥，為邪氣在上，拒而不納故令人上吐，邪因得以出，經曰，
高者因而越之，此之謂也，或用梔子利小便，實非利小便，清肺也，肺氣清，而
化膀胱為津液之府，小便得以出也，本經云，治大小腸熱，幸與庚合，又與丙合，
又能泄戊，其先入中州故也，去皮泄心火，連皮泄肺火，入手太陰少陰經。
麻仁丸。
大黃、枳實、厚朴、芍藥、麻仁、杏仁。
趺陽脈浮而濇，浮則胃氣強，濇則小便數，浮濇相搏，大便則難，其脾為約，麻
仁九主之。［原文］
成無已曰，約者結約之約，胃強脾弱，約東津液不得四布，但輸膀胱，故小便數，
而大便鞕，故曰脾約，與此丸以下脾之結躁，腸潤結化，津液入胃，大便利
小便少而愈矣，愚切有疑焉，既曰約，脾弱不能運也，脾弱則土虧矣，必脾氣之
散，脾血之耗也，原其所由，必久病大汗大下之後，陰血枯槁，內火燔灼，熱傷
元氣，必傷於脾，而成此證，傷元氣者，肺金受火，氣無所攝，傷脾者，肺為脾
之子，肺耗則液竭，必竊母氣以自救，金耗則木寡於畏，土欲不傷不可得也，脾
失轉輸之令，肺失傳送之官，宜大便祕而難下，小便數而無藏蓄也，理宜滋陰血，
使孤陽之火不熾，而金行清化，木邪有制，脾土清健，而運行精液，乃能入胃，
則腸潤而通矣，今以大黃為君，枳實厚朴為臣，雖有芍藥之養血，麻仁杏仁之溫
潤，為之佐使，用之熱盛而氣實者，無有不安，若與熱雖盛，而氣不實者，雖得
暫通，保無有脾愈弱而腸愈燥者乎，後之用此方者，慎勿膠柱而鼓瑟。
茵陳蒿湯。
茵陳［六兩］、大黃［二兩］、梔子［十四枚］。
陽明病，發熱汗出，此為熱越，不能發黃也，但頭汗出，身無汗，劑頸而還，小
便不利，渴飲水漿者，此為瘀熱在裡，身必發黃，茵陳蒿湯主之。［原文。下三
條同］
傷寒八九日，身黃如橘子色，小便不利，腹微滿者，茵陳蒿湯主之。
梔子柏皮湯。
梔子、柏皮。
傷寒身黃發熱者，梔子蘗皮湯主之。茵陳蒿湯，治熱濕也，梔子蘗皮湯，治躁熱
也，如苖澇則濕黃，旱則躁黃，濕則泄之，躁則潤之也，此二藥治陽黃也。
麻黃連軺赤小豆湯。方見三卷。
傷寒瘀熱在裡，身必發黃，麻黃連翹赤小豆湯主之。連軺，用連翹根也，氣寒味
苦，主下熱氣，梓白皮，氣寒味苦，主熱毒，去三蟲，時氣瘀熱之劑，必以苦為
主，又曰大熱之氣，寒以取之是也。潦水，即霖雨後行潦之水，亦取其發縱之極，
流而不滯，不助濕也。右三湯，其茵陳湯，是欲泄滌其熱也，梔子與麻黃二湯，
是欲解散其實也，為治不同，總之皆折火徹熱之劑耳，色加煙薰黃，乃濕病也，
一身盡痛，色加橘子黃，乃黃病也，一身不痛，間發黃，活人云，病人寒濕，在
裡不散，熱蓄於脾胃，腠理不開，瘀熱與宿穀相薄，鬱蒸不消化，故發黃，然發
黃與瘀血外證及脈，俱相似，但小便不利為黃，小便自利為瘀血，要之發黃之人，
心脾蘊積，發熱引飲，脈必浮滑而緊數，若瘀血證，即如狂，大便必黑，此為異
耳。或問白虎證，亦身熱煩渴，引飲，小便不利，何以不發黃，答曰，白虎與發
黃證相近，遍身汗出，此為熱越，白虎證也，頭面汗出，頸已下都無汗，發黃證
也。又問太陽病，一身盡痛，發熱，身如薰香者何，曰太陽中濕也，仲景云，傷
寒發汗已，身目為黃，所以然者，以寒濕在裡不解故也，以為不可下也，於寒濕
中求之。或問傷寒發黃，惟陽明與太陰有之，俱信小便利者，不能發黃何也，蓋
黃者土之正色，以太陰與陽明，俱屬土，故發黃也，其黃之理，外不能汗，裡不
得小便，脾胃之土，為熱所蒸，故色見於外而發黃也，若小便利者，熱不內蓄，
故不能變黃也，其有別經之發黃者，亦由脾胃之土受邪故也。
抵當湯。抵當丸。二方俱見太陽篇。
血流下焦而瘀者，蓄血也，大抵傷寒先看面目，次看口舌。次看心下至少腹，以
手揣之，若少腹鞕滿而小便不利者，是津液留結，可利小便，若小便自利者，
是蓄血證，可下瘀血。傷寒失汗，熱蓄在裡，熱化為血，其人善忘而如狂，血善
逸，則善忘，血下蓄，則內急，用藥以取盡黑物為效，大抵看傷寒病人，心下兩
脅少腹，但有鞕滿處，以手按則痛者，便當問其小便何如，若小便不利，乃
是水與氣，若小便自利者，為有血也。
太陽病六七日，表證仍在，脈微而沉，反不結胸，其人發狂者，以熱在下焦，少
腹當鞕滿，小便自利者，下血乃愈，抵當湯主之。［原文。下三條同］
 仲景凡稱太陽證脈沉者，皆謂發熱惡寒，頭項強痛，而脈反沉也，其證兼發狂，
小腹痛者，為蓄血，此條抵當湯是其例也。自經而言，則曰太陽，自腑而言，則
曰膀胱，陽邪由經而入，結於膀胱，故曰隨經瘀熱在裡。
太陽病，身黃，脈沉結，少腹鞕，小便不利者，為無血也，陽明證，其人喜
忘者，必有蓄血，所以然者，本有久瘀血，故令喜忘，屎雖鞕，大便反易，
其色必黑，宜抵當湯下之。病人無表裡證，發熱六七日，雖脈浮數者，可少下之，
假令已下，脈數不解，而下不止，必協熱而便膿血也，或問攻下之法，須外無表
證，裡有下證，然後可攻，上言無表裡證，況脈更浮數，何故言可以下之，曰此
非風寒之所病，是由內傷而致然也，若外不惡寒，裡無讝語，但七八日發熱，
內爍津液，乃陽盛陰虛之時，茍不攻之，其熱不已，必變生焉，故云雖脈浮數可
下，不待沉實而攻之，夫內傷者，經曰趺陽脈浮而數，浮則傷胃，數則傷脾，此
非本病，醫特下所為也，仲景之意，不外是理，凡傷寒當下之證，皆往太陽陽明
在經之邪，而入於腑，故下之，今不言陽明病，而但曰病人無表裡證，此非自表
之裡而病也，但為可下，故編於陽明篇中，學者宜詳玩焉。
傷寒有熱，少腹痛，應小便不利，今反利者，為有血也，當下之，不可餘藥，宜
抵當丸。按成註身黃屎黑，喜忘發狂，亦是推廣之詞，若依上文，只是滿而不
鞕耳。抵當湯丸，藥味同劑，如何是二法，蓋喜忘發狂，身黃屎黑者，疾之
甚也，但小腹滿鞕，小便利者輕也，故有湯丸之別，桃仁大黃等分，水蛭虻
蟲，多者作湯，三之二者作丸，作丸之名，取其數少而緩也，故湯用煎服一升，
丸止服七合也。活人云，若用抵當湯丸，更宜詳慎，審其有無表證，若有蓄血而
外不解，亦未可便用，宜先用桂枝湯以解外，緣熱客膀胱太陽經也。
大陷胸湯。方見前。
太陽病，脈浮而動數，浮則為風，數則為熱，物則為痛，數則為虛，頭痛發熱，
微盜汗出，而反惡寒者，表未解也，醫又下之，動數變遲，宜大陷胸湯。按太陽
病，在表未曾解，在表而攻裡，可謂虛矣，而況所得之脈，皆浮而動數乎，今得
誤下，動數變遲矣，而又曰胃中空虛，又曰短氣躁煩，虛之甚矣，借曰陽氣內陷，
心下同鞕，而可迅攻之乎，豈大陷胸之力，緩於承氣，況已下者不可再下，
寧不畏其虛乎，且經明曰，結胸脈浮大者，不可下，下者死，又曰結胸證悉具，
煩躁者死，今曰脈浮，又曰煩躁，大陷胸果可用乎，彼陽病實下結，胃中空虛，
客氣動膈，心下懊憹者，以梔子豉湯吐胸中之邪，況太陽失下後，明有虛證
乎。
傷寒六七日，結胸熱實，脈沉而緊，心下痛，按之不鞕者，大陷胸湯主之。［原
文。下三條同］
 經言所以成結胸者，以下之太早故也，此不云下後，但云傷寒六七日，結胸熱
實，此亦不因下早而結胸者，何也，夫下早結胸事之常，熱實結胸事之變，其熱
實傳裡為結胸，乃法之關防不盡者，故仲景述其證，以註方於其下也，於此可見
古人用心，曲盡其妙，且如下章，以水結胸脅，但頭汗出者，以大陷胸湯主之，
亦在常法之外，故條例其證，以彰其理也，亦或其人本虛，或曾吐下，而裡氣弱，
外邪因入，故自為結胸者也，然所入之因不同，其證治則一理而已。
傷寒十餘日，熱結在裡，後往來潮熱者，與大柴胡湯，但結胸，無大熱者，此為
水結在胸脅也，但頭微汗出者，大陷胸湯主之。
太陽病重發汗，而復下之，不大便五六日，舌上躁而渴，日晡所，小有潮熱，從
心下至少腹鞕滿，而不可近者，大陷胸湯主之。按太陽病，已重發汗，表則
虛矣，若復下之，更又虛矣，不大便五六日，可見津液之耗矣，非若前章之未曾
發汗，而但下之傷於早爾，今雖有鞕痛，而可以迅攻之乎，若曰，潮熱於申
酉，係陽明，屬調胃承氣證，既又曰少有潮熱，猶可疑待之間，將無他法以緩取
之乎。按潮熱本屬陽明也，太陽潮熱，惟此一證耳，雜病太陽潮熱，則在己午，
更玩一小字，則知邪於太陽為多，陽明為少。
傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，若上下
滿而鞕痛者，此為結胸也，大陷胸湯主之。
小陷胸湯。方見前。
文蛤散。方見前。
白通散。
蔥白［四莖］、乾薑［一兩］、附子［一枚］、人尿［五合］、豬膽汁［一合］。
小結胸病，正在心下，按之則痛，脈浮滑者，小陷胸湯主之。［原文。下同］
上云文，鞕滿而不可近者，是不待按而亦痛也，此云按之則痛，是手按之，
然後作痛爾，上文云，至少腹是通一腹而言之，此云正在心下，則少腹不鞕
痛可知矣，熱微於前，故云小結胸也，且結胸脈沉緊，或寸浮關，沉今脈浮滑，
知熱氣猶淺，尚未深結，所以用此湯，除胸膈上結熱也。
病在陽，應以汗解之，反以冷水潠之，若灌之，其熱被卻，服文蛤散，不瘥者，
與五苓散，寒實結胸無熱證者。
與三物小陷胸湯，白通散亦可服。大陷胸湯，太陽本藥也，大陷胸丸，陽明藥也，
小陷胸湯，少陽藥也，大陷胸湯，治熱實，大陷胸丸，兼喘，小陷胸治痞。按經
云，結胸脈浮大，不可下，下之則死，張云，用藥如用兵，知可而進，知難而退，
此理勢之必然也，夫寸浮關沉，乃結胸可下之脈，今脈浮大，心下雖結，其表邪
尚未全結也，若輒下之，重虛其裡，外邪復聚，而必死矣，仲景所以言此為箴戒，
使無踵其弊也，其脈既不可攻，當候其變而待其實，假如小結胸證，其脈浮滑，
按之則痛，故知邪非深結，亦不敢下，無過解除心下之熱耳，小陷胸湯主之，或
又曰，結胸倘有外證，大陷胸可用否，予曰，結胸無外證，或有微熱，或有小潮
熱，仲景已明言之，其餘別無表證，若有外證，其邪亦未結實，不可以結胸論也，
經曰，傷寒六七日，發熱惡寒，支節煩疼，微嘔，心下支結，外證未去，柴胡桂
枝湯主之，又傷寒六七日，已發汗，而復下，胸脅微結，小便不利，渴而不嘔，
但頭汗出，往來寒熱，心煩者，此為未解也，柴胡桂枝乾薑湯主之，已上之證，
雖云心下支結，及言胸脅滿微結二條，俱有外證，所以柴胡加桂枝，及加乾薑以
和解之，如無外證，止有胸腹結實而痛者，方為結胸病也。
陽明少陽各方
大承氣湯方。
厚朴［去痞］、枳實［泄滿］、芒硝［軟堅］、大黃［蕩實必痞滿燥實，四證全者方可用］。
小承氣湯方。
厚朴、枳實、大黃。
調胃承氣湯方。
芒硝、大黃、甘草。
發汗後，不惡寒者，虛故也，不惡寒，但惡熱者，實也，當和胃氣，與調胃承氣
湯。［原文。下三十四條同］
太陽病未解，脈陰陽俱停，必先振慓汗出而解，若欲下之，宜調胃承氣湯。
傷寒十三日過經不解，讝語者以有熱，當以調胃承氣湯下之。
太陽病，過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，腹微滿，鬱鬱微煩，
先此時自極吐下者，可與調胃承氣湯。
陽明潮熱，大便微鞕者，可與大承氣湯。恐有躁屎，欲和之法，與小承氣湯。
傷寒若吐若下後，不解，不大便，五六日上至十餘日，大承氣湯主之，若一服利
止後服。此段分作三截看，自傷寒若吐若下後，不解不大便，五六日至十餘日，
日晡所發潮熱，不惡寒，獨語加見鬼狀，止為上一截，是將潮熱讝語，不惡
寒不大便，對為現證，下文又分作一截，以辨劇者微者之殊，微者但發熱讝
語，但字為義，以發熱讝語之外，別無他證，其用承氣湯一方，利止後服，
見其熱輕，猶恐下之太過也，至於劇者，發則不識人，循衣摸床，惕而不安，微
喘直視，如此熱極證危，不可不決死生以斷，斷以脈弦者生，濇者死，此陽熱已
極，若脈弦為陰末絕，猶可下之以復其陰，若弦濇為陰絕，不可救藥而必死矣，
潮熱者，若潮汐之來，不失其時，一日一發，按時而發者，謂之潮熱，若日三五
發者，即是發熱，非潮熱也，潮熱屬陽明，陽明旺於未申，必於日晡時發，乃為
潮熱。讝語者，謂亂言無次，數數更端也，鄭聲者，語鄭重頻煩也，只將一
字內，言重疊，頻言之，終日慇懃，不換他聲也，蓋神有餘則能機變而亂語，數
數更端，神不足則無變聲，而只守一聲也，此虛實之分也，讝語屬陽，鄭聲
屬陰，經云實則讝語，虛則鄭聲，讝語者，顛倒錯亂，言出無倫，常對空
獨語，如見鬼狀，鄭聲者，鄭重頻煩，語雖謬而鄭重頻煩，諄諄不已，老年人，
遇事則諄語不休，以陽氣虛故也，此讝語鄭聲，虛實之所以不同也，二者本
不難辨，但陽盛裡實，與陰甚隔陽，皆能錯語，須以他證別之，大便祕，小便赤，
身熱煩渴而妄語者，乃裡實之讝語也，小便如常，大便洞下，或發躁，或反
發熱而妄言者，乃陰隔陽之讝語也。
陽明病讝語，發潮熱，脈滑而疾者，小承氣湯主之，因與承氣一升，腹中轉
失氣者，更服一升。
陽明病，其人多汗，以津液外出，胃氣躁，大便必鞕，鞕則讝語，小承
氣湯主之。
陽明病讝語有潮熱，反不能食者，胃中必有燥屎五六枚也，若能食，但鞕
耳，宜大承氣湯下之。
汗出讝語者，以有躁屎在胃中，此為風也，須下之，雖經久，可下之，下之
若早，語言必亂，以表虛裡熱故也。
宜大承氣湯，或問經言胃中有躁屎五六枚何如，答曰，夫胃為受納，大腸為傳送
之府，躁屎豈有在胃中哉，故經言榖消水去形亡也，以是知在大腸，而不在胃也
明矣。按胃實者，非有物也，地道塞而不通也，故使胃實，是以腹如仰瓦，註曰，
胃上口為賁門，胃下口為幽門，幽門接小腸上口，小腸下口，即大腸上口也，大
小二腸相會為闌門，水滲泄入於膀胱，粗滓入於大腸，結於廣腸，廣腸者地道也，
地道不通，土壅塞也，則逆，上行至胃，名曰胃實，所以言陽明當下者，言上下
陽明經不通也，言胃中有躁屎五六枚者，非在胃中，通言陽明也，言胃是連及大
腸也，以其胃為足經，故從下而言之也，從下而言，是在大腸也，若胃中實有躁
屎，則小腸乃傳導之府，非受盛之府也，啟元子云，小腸承奉胃司，受盛糟粕，
受已復化，傳入大腸，是知躁屎在小腸之下，即非胃中有也。
二陽併病，太陽證罷，旦發潮熱，手足(僅)(僅)汗出，大便難而讝語者，下
之則愈，宜大承氣湯。
陽明病，下之，心中懊憹而煩，胃中有躁屎者可攻，腹微滿，初頭鞕，後
必溏，不可攻之，若有躁屎者，宜大承氣湯，病人煩熱，汗出則解，又如瘧狀，
日晡所發熱者，屬陽明也，脈實者宜下之，脈浮虛者，宜發汗，下之與大承氣湯，
大下後，六七日，不大便，煩不解，腹滿痛者，此有躁屎也，所以然者，本有宿
食故也，宜大承氣湯，病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，
此有躁屎也，宜大承氣湯。
太陽病，三日發汗不解，蒸蒸發熱者，屬冒也，調胃承氣湯主之。
傷寒吐後，腹脹滿者，與調胃承氣湯。
太陽病，若吐若下若發汗，微煩，小便數，大便因鞕者，與小承氣湯和之愈。
得病二三日，脈弱，無太陽柴胡證，煩躁，心下鞕，至四五日雖能食，與小
承氣湯，少少與微和之，令小安，至六日與承氣湯一升，若不大便六七日，小便
少者，雖不能食，但初頭鞕，後必溏，未定成鞕，攻之必溏，須小便利，
尿定鞕，乃可攻之，宜大承氣湯。
陽明病，發熱汗多者，急下之，宜大承氣湯。
發汗不解，腹滿痛者，急下之，宜大承氣湯。
腹滿不減，減不足言，當下之，宜大承氣湯。或謂減不足言，復曰當下之，何也，
曰此古之文法如是也，言腹滿不減，當下之，宜大承氣湯，此滿而不減之謂也，
若時滿時減者，不可以當下而論，假如太陽篇中云，傷寒不大便，六七日，頭痛
有熱者，與承氣湯，其小便清者，知不在裡，仍在表也，當須發汗，若頭痛必衄，
宜桂枝湯，緣桂枝為當發汗而設，非為治衄也，其減不足言之說，亦不外乎是理
也。
陽明少陽合病，必下利，其脈不負者順也，負者失也，互相剋賊，名為負也，脈
浮而數者，有宿食也，當下之，宜大承氣湯。
少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯。
少陰病，自利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。
少陰病，六七日，腹脹不大便者，急下之，宜大承氣湯。或問承氣湯，陽明當下
之證宜用，今少陰病亦用何也，蓋胃為水穀之海，主養四旁，四旁有病，皆能傳
之入胃，其胃土燥，則腎水乾，以二三日則口燥咽乾，是熱之深，傳之速也，故
曰急下，以全腎水，夫土實則水清，謂水穀不相混，故自利清水而口乾躁，此胃
土濕熱而致然也，下利色青，青肝也，乃肝邪傳腎，緣腎之經脈，從肺出絡心注
胸中，由是而心下痛，故急下以去實熱，逐腎邪，其六七日腹脹不大便，以入府
之邪壅甚，胃土勝，則腎涸，故急下以逐胃熱，滋腎水，蓋陽明與少陰，皆有急
下之條，然而證雖不同，其入府之理則一，是以皆用大承氣也。
下利讝語者，有躁屎也，宜小承氣湯。
大法秋宜下。
凡服下藥，用湯勝丸，中病即止，不必盡劑。
下利三部脈皆平，按之心下鞕者，急下之，大承氣湯。
下利脈遲而滑者，內實也，利未欲止，當下之，大承氣湯。
問曰，人病宿食，何以別之，師曰，寸口脈浮而大，按之又澀，尺中亦微而澀，
故知有宿食，當下之，宜大承氣湯。
下利不欲食者，以有宿食故也，當下之，宜大承氣湯。
下利瘥後，至其年月日復發，以病不盡故也，當下之，宜大承氣湯。
下利脈反滑，當有所去，下之乃愈，宜大承氣湯。
病腹中滿痛者，此為實也，當下之，宜大承氣湯。
脈雙弦而遲者，必心下鞕，脈大而緊者，陽中有陰也，可以下之，宜大承氣
湯。或問承氣湯，仲景有大小調胃之名何也，然傷寒邪熱，傳受入裡，謂之入府，
府者聚也，蓋邪熱與糟粕，蘊而為實也，實則潮熱讝語，手心濈濈汗出者，
此躁屎所為也，如人壯大熱大實者，宜大承氣湯下之，又熱結不堅滿者，故減去
厚朴枳實，加甘草而和緩之，故曰調胃承氣也，若病大，而以小承氣攻之，則邪
氣不伏，病小而以大承氣攻之，則過傷正氣，且不及還可再攻，過則不能復救，
可不謹哉，仲景曰，凡欲行大承氣，先與小承氣一鍾，腹中轉失氣，乃有躁屎也，
可以大承氣攻之，不轉失氣，甚不可攻，攻之則腹脹，不能食而難治，又曰，服
承氣湯，得利，慎勿再服，此諄諄告戒也，凡用攻法，必先妙算，料量合宜，則
應手而效，若不料量，孟浪攻之，必至殺人。按陽明一證，分為太陽正陽少陽三
等，而以大小調胃承氣下之者，按本草曰，大黃酒浸，入太陽經，酒洗入陽明經，
浸久於洗，得酒氣為多，故能引之於至高之分，若物在山巔，人跡不及，必射以
取之也，故仲景以調胃承氣，收入太陽門，而大黃下註曰，酒浸，及詳其用本湯，
一則曰少少溫服，二則曰當和胃氣，與調胃承氣湯，又詳本湯之證，則曰不吐不
下心煩者，又發汗不解，蒸蒸發熱，又吐後腹脹滿，是太陽陽明，去表未遠，其
病在上，不當攻之，故宜緩劑以調和之也，及至正陽陽明，則皆曰急下之，與大
承氣湯，而大黃下，注曰酒洗，是洗輕於浸，微升其趍下之性，以治其中也，至
於少陽陽明，則去正陽而逼太陰，其分為下，故小承氣湯中大黃，不用酒制，少
陽不宜下，故又曰少與，曰微溏之，勿令大泄，此仲景之妙法也，東垣不審胃之
云者，乃仲景置調胃承氣於太陽篇，太陽不宜下，故又稱胃以別之，卻踵成氏之
謬，以小承氣治太陽脾約之證，以調胃承氣，治正陽陽明大承氣之證，余故不能
無辨。海云，大小調胃三承氣之湯，必須脈浮頭痛，惡風惡寒，表證盡罷，而反
發熱，惡熱讝語，不大便，方可用之，若脈浮緊，下之必結胸，若脈浮緩，
下之必痞氣，已上三法，不可差也，若有所差，則無形者有遺害，假令調胃承氣
證，用大承氣下之，則愈後元氣不復，以其氣藥犯之也，大承氣證，用調胃承氣
下之，則愈後神凝不清，以其氣藥無力也，小承氣湯，若用芒硝下之，則或下利
不止，變而成瘧矣，三承氣豈可差乎。陶云，大凡傷寒邪熱，傳裡結實，須看熱
氣淺深用藥，今之庸醫，不分當急下，與宜微和胃氣之論，一概用大黃芒硝，亂
投湯劑下之，因茲而斃者多矣，余謂傷寒之邪，傳害非一，治之則殊，病有三焦
俱傷者，則痞滿躁實兼全，俱宜大承氣湯，蓋厚朴苦溫以去痞，枳實苦寒以泄滿，
芒硝鹹以潤躁軟堅，大黃苦寒以泄實去熱，病斯愈矣，若邪在中焦，則有躁實堅
三證，故用調胃承氣湯，以甘草和中，芒硝潤躁，大黃泄實，不用枳朴，恐傷上
焦虛無氤氳之元氣，調胃之名，自此始矣，若上焦受傷，則痞而實，用小承氣湯，
而以枳 實厚朴除痞，大黃泄實去熱，去芒硝不傷下焦血分之真陰，謂不伐其根
本也，若夫大柴胡湯，則有表證尚未除，而裏證又急，不得不下者，只得以此湯，
通表裡而緩治之，又有老弱及血氣兩虛之人，亦宜用此，故經云，轉藥孰緊，有
芒硝者緊也，大承氣最緊，小承氣次之，調胃承氣又次之，其大柴胡加大黃，小
柴胡加芒硝，方為轉藥，蓋為病輕者設也，仲景又云，蕩滌傷寒熱積，皆用湯液
切禁丸藥，不可不知。
豬苓湯方。
豬苓、澤瀉、茯苓、滑石、阿膠［各一兩］。
陽明病，若脈浮發熱，渴欲飲水，小便不利者，豬苓湯主之。［原文］
按此浮字，誤也，活人云，脈浮者，五苓散，脈沉者，豬苓湯，則知此證脈字下，
脫一不字也，據太陽篇內五苓散，乃豬苓澤瀉茯苓三味中加桂白朮也，陽明篇內
豬苓湯，乃豬苓澤瀉茯苓三味中加阿膠滑石也，桂與白朮味甘辛，為陽主外，阿
膠滑石味甘寒，為陰主內，奉議之言，亦可謂不失仲景之旨矣，第奉議欲區別二
藥分曉，不覺筆下以沉對浮，遂使後人致疑三陽證中，不當言脈沉，更不復致疑
經文之有闕也，更詳太陽證，固常脈浮，而陽明為表之裏，故其脈不曰浮而曰長，
蓋長者，不浮不沉，中之脈也，成氏直以脈浮釋之，而朱氏卻以脈沉言之，胥失
之矣，若曰脈浮者，五苓散，不浮者豬苓湯，則得仲景之意矣，又詳少陰篇，病
下利六七日，欬而嘔渴，心煩不得眠者，豬苓湯一條，雖不言脈沉，然少陰之脈
必沉也，豈活人以少陰對太陽一證而言之歟，以此推之，成氏隨文誤釋明矣。
陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中躁，豬苓湯利其小便故也。
［原文］
針經曰，水穀入於口，輸於腸胃，其液別為伍，天寒衣薄則為溺，天熱衣厚則為
汗，是汗溺一液也，多為津液外泄，胃中乾燥，故不可與豬苓湯利小便也。
小柴胡湯。方見太陽中篇。
傷寒五六日中風，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，或胸中煩而
不嘔，或渴，或腹中痛，或脅下痞鞕，或心下悸，小便不利，或不滿，身有
微熱，或欬者，與小柴胡主之。［原文。下二十條同］
或問少陽膽經，縈紆盤屈，皆多於各經，及觀少陽篇中，治病至簡，又不聞何藥
為本經之正法，何也，夫經絡所據，身之後屬太陽，太陽為陽中之陽，陽分也，
身之前屬陽明，陽明為陽中之陰，陰分也，陽為在表，陰為在裡，少陽在身之側，
夾於表裡之間，故曰半表半裡，太陽膀胱，水寒也，陽明大腸，金躁也，邪在陰
陽二分之中，近後膀胱水則惡寒，近前陽明躁則發熱，故往來寒熱也，治法，太
陽在標可汗而解，麻黃是也，在本可滲而解，五苓散是也，陽明在標可以解肌，
葛根是也，在本可下而解之，承氣湯是也，獨少陽居中，不表不裡，開竅於膽，
有入無出，故禁發汗，禁利大便，禁利小便，惟宜和之以小柴胡湯，故名三禁湯，
冷熱均平，從於中治，乃和解之劑，若犯之則各隨上下前後，本變中變，與諸變
不可勝數，醫者宜詳之。
本方加減法。
血弱氣盡腠理開，邪氣因入，與正氣相搏結於脅下，正邪分爭，往來寒熱，發作
有時，默默不欲飲食，臟腑相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主
之。［原文］
按血弱氣盡，至結於脅下，是釋胸脅苦滿句，正邪分爭，是釋往來寒熱句。此是
倒裝法也，至默默不欲飲食，兼上文滿痛而言也，若臟腑相連四句，乃釋心煩喜
嘔也。
服柴胡湯已渴者，屬陽明也，以法治之。
得病六七日，脈遲浮弱，惡風寒，手足溫，醫二三下之，不能食，而脅下滿痛，
面目及身黃，頭項強，小便難者，與柴胡湯，後必下重口渴，而飲水嘔者，柴胡
湯不中與也，食穀者噦。［原文。噦一決切，淵入聲，逆氣也。］
傷寒四五日，身熱惡風，頭項強，脅下滿，手足溫而渴者，小柴胡湯主之。［原
文］
傷寒陽脈濇，陰脈弦，法當腹中急痛者，先與小建中，不瘥者，與小柴胡湯主之。
傷寒中風，有柴胡證，但見一證便是，不必悉具。
凡柴胡湯證而下之，若柴胡證不罷者，復與柴胡湯，必蒸蒸而振，卻發熱，汗出
而解。
太陽病，通經十餘日，及二三下之後，四五日，柴胡證仍在者，先與小柴胡湯，
嘔不止，心下急，鬱鬱微煩者，為未解也，與大柴胡下之則愈。
傷寒十三日不解，胸脅滿而嘔，日晡所發潮熱，已而微利，此本柴胡證，先服小
柴胡湯以解外，後宜芒硝主之。
傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便鞕，脈細
者，此為陽微結，必有表復有裡也，可與小柴胡湯，設不了了者，得屎而解。
陽明病，發潮熱，大便溏，小便自可，胸脅滿不結者，小柴胡湯主之。
陽明病，脅下鞕滿，不大便而嘔，舌上白胎者，可與小柴胡湯，上焦得通，
津液得下，胃氣因和，身濈然汗出而解也。
陽明中風，脈弦浮大而短氣者，小柴胡湯主之。
本太陽病不解，轉入少陽者，脅下鞕滿，乾嘔不能食，往來寒熱，尚未吐下，
脈沉緊者，與小柴胡湯。
嘔而發熱者，小柴胡湯主之。
傷寒瘥已後，更發熱者，小柴胡湯主之，脈浮者以汗解之，脈沉實者以下解之。
婦人中風七八日，續得寒熱發作，有時經水適斷者主之。
婦人中風，發熱惡寒，經水適來，得之七八日者主之。
婦人傷寒發熱，經水適來，晝日明了，夜即讝語者主之。
仲景傷寒論中，言婦人者，止此三條耳。活人書，言婦人傷寒治法，與男子不同，
男子先調氣，女子先調血，此大略之辭耳，要之脈緊無汗為傷寒，脈緩有汗為中
風，熱病脈洪大，中暑細弱，其證一也，當汗當下，豈必調血而後行津液耶，仲
景傷寒論，不分男女，良以此歟，此論固當，猶為未也，仲景亞聖也，世醫所知，
仲景不知，有是理乎，聖人創物，賢者述之，事可以為天下則，聖人已先據之矣，
何待世人明之乎，聖人不言，以其同診也，後人不知湯液之源，故立為後人法，
則異於男子常人，所具聰明眼者，肯以此為是乎，然以藥考之，則可知也，假令
桂枝芍藥，固營而開衛非血藥而何，麻黃防風，雖為之發汗，本治女子餘疾，非
血藥而何，白虎小柴胡中，知母則治熱，柴胡則調經，皆氣中之血虛也，當歸地
黃，不言可知為血藥，白朮人皆以為氣劑，本草言能利腰臍間血，非血藥乎，大
抵用之在陽，便是氣藥，用之在陰，便是血藥，若男子與女人傷寒，皆營衛受病，
其證一也，何以云男先調氣，女先調血也，此二句，雲岐子以為治雜病法之常體，
非為傷寒設也，其所以然者，以其任衝盛而有子，月事行有期，有熱入血室一證，
不得不異也，在妊孕不得不保，在經血不得不調，表裡汗下，何嘗有異也，無汗
下藥中增損，自有調保之義，活人云，妊娠不用桂枝半夏桃仁，柴胡湯減半夏為
黃龍湯，是則是矣，必竟蓄血極而鄰於死，須抵當湯丸，則安得不用，止是減劑
從輕可也，故黃帝云，婦人身重毒之，何如，岐伯曰，有故無殞，亦無殞也，大
聚大積，其可犯也，衰其大半而止，過者死，此所以有從輕之義，蓋由諸此，以
知桂枝半夏桃仁，可用處必用，不可全無，但當從輕則可耳，保安丸中有桂附牛
膝，皆墮胎之劑，以其數多之中些少，是亦從輕而無妨也，又為引用，必須少而
不可無也，大意如此，後之君子，更宜詳定，保劑多，破劑少，破者從其保，破
劑多，安劑少，安者從其破，此理不可不知。又寒熱多少例，寒者多，熱者少，
熱不為之熱，熱者多，寒者少，寒不為之寒。按岐伯之論，謂妊婦之用毒藥，可
用而不可過也，婦人懷孕謂之重身，欲用毒藥以治其病者，正以內有病之故，則
有病以當毒藥，其子必無殞也，不惟子全，而母亦無殞也，但大積大聚，或病甚
不堪，不得不用此以犯之，祇宜察其大半而止，藥行彼病自漸去，若過用其藥，
則敗損真氣死矣。按男子亦有熱入血室證，經云陽明病，下血讝語，此熱入
血室，但頭汗出，刺期門，蓋衝脈為血海，即血室也，男女均有之，男子下血
讝語，婦人寒熱似瘧，皆為熱入血室，迫血下行，則為脅熱而利，挾血之脈，
乍濇乍數，或沉伏，血熱交併，則脈洪盛，大抵男子多在左手，女多在右手見之
也。或問小柴胡，近世治傷寒發熱，不分陰陽而用之，何也，然柴胡之苦平，乃
足少陽經，傷寒發熱之藥，除半表半裡之熱，及往來寒熱，小有日晡潮熱也，佐
以黃芩之苦寒以退熱，半夏生薑之辛以退寒，人參大棗之甘溫以助正氣，解渴生
津液，則陰陽和而邪氣解矣，但太陽經之表熱，陽明經之標熱，皆不能解也，如
用之，豈曰無害，若夾陰傷寒，面赤發熱，脈沉足冷者，服之立至危殆，可不慎
哉，及內虛有寒，大便不實，脈息小弱，與婦人新產發熱，皆不可用也。夷堅志
云，朱肱吳興人，尤深於傷寒，在南陽，太守盛次仲疾作，召視之，曰小柴胡湯
證也，請併進三服，至晚乃覺滿，又視之，問所服藥安在，取視乃小柴胡散也，
肱曰，古人製㕮咀，剉如麻豆大，煮清汁飲之，名曰湯，所以入經絡，攻病
取快，今乃為散，滯在膈上，所以胸滿而病自如也，因旋製自煮以進，兩服遂安。
小建中湯。方見三卷。
傷寒陽脈澀，陰脈弦，法當腹中急痛者，先與小建中湯，不瘥者，與小柴胡湯主
之。垣云，芍藥味酸，於土中瀉木為君，飴糖甘草，甘溫補脾養胃為臣，水挾木
勢，亦來侮土，故脈弦而腹痛，肉桂太辛熱，佐芍藥以退寒水，薑棗甘辛溫，發
散陽氣，行於經絡皮毛為使，故名建中。
大柴胡湯。
柴胡［八兩］、大黃［二兩］、枳實［四枚］、半夏［半斤］、黃芩［三兩］、芍藥［三兩］、
生薑［五兩］、大棗［十二枚］。
太陽病，過經十餘日，及二三下之，後四五日，柴胡證仍在者，先與小柴胡湯，
嘔不止，心下急，鬱鬱微煩者，為未解也，與大柴胡湯下之，則愈。［原文。下
四條同］
傷寒十餘日，熱結在裡，復往來寒熱者，與大柴胡湯。有人病傷寒，心煩喜嘔，
往來寒熱，醫以小柴胡與之，不除，予曰，脈洪大而實，熱結在裡，小柴胡安能
去之，仲景云，傷寒十餘日，熱結在裡，復往來寒熱者，與大柴胡湯，三服而病
除，蓋大黃蕩滌蘊熱，傷寒中要藥。［大柴胡，酒洗，生用。］按柴胡大黃之藥，
升降同劑，正見仲景處方之妙，柴胡升而散外邪，大黃降而泄內實，使病者熱退
氣和而自愈。
傷寒發熱，汗出不解，心下痞鞕，嘔吐而下利者，大柴胡湯主之。
傷寒後脈沉，沉者內實也，下解之，宜柴胡湯。或問大柴胡，若內煩裡實者，固
宜用也，其嘔而下利者，亦用之何也，夫治病節目，虛實二者而已，裡虛者，雖
便難而勿攻，裡實者雖吐利而可下，經曰，汗多則便難，脈遲尚未可攻，以遲為
不足，即裡氣未實故也，此以大柴胡主之，凡吐利，心腹濡軟為裡虛，嘔吐而下
利，心下痞鞕者，為裡實也，下之當然，況太陽病，過經十餘日，及二三下之
後，四五日，柴胡證仍在者，先與小柴胡湯，嘔不止，心下急，鬱鬱微煩者，為
未解也，與大柴胡湯下之則愈，二節病證，雖有參差，其裡實同一機也，皆與大
柴胡者宜也。病若二十餘日以上，有下證者，止宜大柴胡湯，恐承氣太峻，蓋傷
寒過經，則正氣多虛故也。
有人患病傷寒，目痛鼻乾，不得臥，大便不通，尺寸脈洪大已數日，一夕汗出，
予謂速以大柴胡湯下之，醫駭曰，陽明自汗，津液已涸，法當用蜜煎，何須苦用
下藥，余謂曰，予雖知蜜煎穩當，豈知大柴胡湯，乃仲景不傳之妙，公安能知之，
余力爭，竟投大柴胡二貼愈，仲景論陽明之病，多汗者急下之，人多謂已是自汗，
若又下之，豈不表裡俱虛，又如論少陰云，少陰病一二日，口乾咽躁者，急下之，
人多謂證發於陰，得之日淺，但見乾躁，若更宜下，豈不陰氣愈甚，舉此二端，
則其可疑者，不可勝數，此仲景之書，人罕能讀也，余謂仲景言急下之者，亦猶
急當救表，急當救裡之說，凡稱急者，為立變，謂纔見汗未至，津液乾躁，便速
下之則為精捷，免致用蜜煎也。
三陰及各證方
桂枝加芍藥湯。
即於桂枝湯內倍加芍藥。
桂枝加大黃湯。
即於桂枝湯內加大黃。
本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝加芍藥湯主之。［原文。
下二條同］
表證未罷，而醫下之，邪乘裡虛，當作結胸，今不作結胸，而作腹滿時痛，是屬
於太陰裡氣不和，故腹滿時痛耳，時痛者有時而痛，非大實之痛也，故但與桂枝
湯以解表，加芍藥以和裡。
大實痛者，桂枝加大黃湯主之。大凡表證未罷，仍當解表，若誤下以虛其裡，則
餘邪乘虛而入內，作大實痛，曰大實痛，則非時而痛者可例矣，故前方但倍芍藥，
而此則加大黃，加大黃者，取其苦寒能蕩實也。或問太陰有可下者乎，曰有，經
云，乃太陽證，醫反下之，因爾腹滿時痛，桂枝加芍藥湯，大實痛，桂枝加大黃
湯，易老云，此非本有是證，以其錯下，脾傳於胃，故為誤下傳也。治病必求其
本，假令腹痛，桂枝加芍藥，桂枝加大黃，何為不只用芍藥大黃之屬，卻於桂枝
湯內加之，蓋以病從太陽中來，當以太陽為本也，又如結胸證，自高而下，脈浮
者不可下，故先用麻黃湯解表已，然後以陷胸湯下之，是亦求其本也，至於蓄血
下焦，血結膀胱，是亦從太陽中來，侵盡無形之氣，乃侵膀胱中有形之血。太陰
為病脈弱，其人續自便利，設當用大黃芍藥者宜減之，以其人胃氣弱，易動故也。
當歸四逆湯。
當歸、桂枝、芍藥、細辛［各三兩］、甘草［炙］、木通［各二兩］、大棗［二十五枚］。
當歸四逆加吳茱萸生薑湯。藥即方見。
手足厥，脈細欲絕者，當歸四逆湯主之。［原文下同］
若其人內有久寒者，宜當歸四逆，加吳茱萸生薑湯主之。［原文下同］
按此承上文言，雖有手足厥，脈細欲絕證候，若其人內有久寒，則加吳茱萸生薑，
以散久寒而行陽氣，曰久寒者，陳久之寒，對下直中寒也，明矣。
下利脈大者虛也，以其強下之故也，設脈浮革，因爾腸嗚者，屬當歸四逆湯主之。
四逆湯。方見太陽中篇。
傷寒醫下之，續得下利清榖不止者，當救裡，宜四逆湯。［原文。下十條同］
病發熱頭疼，脈反沉者，若不瘥，身體疼痛，當救其裡，宜四逆湯。發熱頭痛，
表病也，脈反沉者，裡脈也，經曰表有病者，脈當洪大，今脈反沉遲，故知愈也，
見表病而得裡脈，則當瘥，若不瘥，為內虛寒甚，與此湯救其裡。
自利不渴者，屬太陰，以其臟有寒故也，當溫之，宜四逆輩。經言輩字者，為藥
性同類，惟輕重優劣不同耳，凡太陰自利不渴，師言有用理中而愈者，甚則理中
加附子而獲安者，凡言輩者蓋加此，夫四逆湯，甘辛相合，乃大熱之劑，茍輕用
之，恐有過度之失，所以仲景不為定擬也，莫若以理中循循而用之，至為平穩，
如不得已者，四逆方為用也。
少陰病，脈沉者，急溫之，宜四逆湯。
少陰病，飲食入口，則即吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦
遲者，此胸中實，不可下也，當吐之，若膈上有寒，飲乾嘔者，不可吐也，急溫
之，宜四逆湯。
大汗出，熱不去，內拘急，四肢疼，又下利厥逆而惡寒，四逆湯主之。
大汗若大利而厥冷者，四逆湯主之。
嘔而脈弱，小便復利，身有微熱見厥者，難治，四逆湯主之。
吐利汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之。
既吐且利，小便復利，而大汗出，下利清榖，內寒外熱，脈微欲絕者，四逆傷主
之。［屬霍亂］
麻黃附子細辛湯。
麻黃、細辛［二兩］、附子［一枚］。
少陰病，始得之，反發熱脈沉者，前湯主之。［原文。下三條同］
或問論傳經之邪，自三陽傳至太陰，太陰則傳少陰，此不言傳經，而言始得之何
也，曰傳經者，古人明理之法之意如此，安可執一而論哉，夫三陽傷寒，多自太
陽入，次第而傳至厥陰者，固有也，其三陰傷寒，亦有自利不渴，始自太陰而入
者，今少陰病始得之，反發熱，正由自入，故云始得之，緣少陰無身熱，而今有
熱，故言反發熱，以不當發熱而熱也，為初病邪淺，故與麻黃附子細辛湯，以發
散之，按六經中，但少陰證難辨，此條要看一反字，是以陰證雖云不用麻黃，今
既始得之，反發熱脈沉，所以用麻黃附子細辛，以溫散之耳。
少陰病，得之二三日麻黃附子甘草湯，微發汗，以二三日無裡證，故微發汗也。
詳仲景發汗湯劑，各分輕重不同，如麻黃桂枝湯，青龍各半越婢等湯，各有差等，
至於少陰發汗二湯，雖同用麻黃附子，亦有加減輕重之別，故以加細辛為重，加
甘草為輕，辛散甘緩之義也，其第一證，以少陰本無熱，今發熱，故云反也，蓋
發熱為邪在表而當汗，又兼脈沉屬陰而當溫，故以附子溫經，麻黃散寒，而熱須
汗解，故加細辛，是汗劑之重者，第二證既無表寒之可溫，又無裡熱之可下，求
其所以用麻黃附子之義，則是脈亦沉，方可名曰少陰病，身亦發熱，方行發汗藥，
又得之二三日，病尚淺，比之前證亦稍輕，故不重脈證，而但曰微發汗，所以去
細辛，加甘草，是汗劑之輕者。
黃連阿膠湯。
黃連［四兩］、黃芩［一兩］、芍藥［二兩］、阿膠［三兩］、雞子黃［二枚，生用］
少陰病，得之二三日已上，心中煩，不得臥，前湯主之。［原文］
附子湯。
附子［一枚炮］、白朮［二兩］、茯苓、白芍、人參。
少陰病，得之一二日，口中和，其背惡寒者，當灸之，附子湯主之。［原文。下
同］
按背者，胸中之府，諸陽受氣於胸中，而轉行於背，內經曰，人身之陰陽者，背
為陽，腹為陰，陽氣不足，陰寒氣盛，則背為之惡寒，若風寒在表而惡寒者，則
一身盡寒矣，但背惡寒者，陰寒氣盛可知，如此條是也，又或者陰氣不足，陽氣
內陷，入於陰中，表陽新虛，有背微惡寒者，經所謂傷寒無大熱，口燥渴心煩，
背微惡寒，白虎加人參湯主之是也，一為陰寒盛氣，一為陽氣內陷，何以明之，
蓋陰寒為病，則不能消耗津液，故於少陰病，則曰口中和，及陽氣內陷，則熱爍
津液為乾，故於太陽病，則口燥舌乾而渴也，要辨陰陽寒熱不同者，當於口中潤
燥詳之。按傷寒，以陽為主，上件病皆陰勝，幾於無陽矣，辛甘皆陽也，故用附
朮參苓，所以散寒而養陽，辛溫之藥過多，則恐有偏陽之弊，故又用芍藥之酸以
扶陰，經曰火欲實，本當平之，此用芍藥之意也。
少陰病，身體痛，手足寒，骨節痛，脈沉者，附子湯主之。
桃花湯。
乾薑［一兩］、赤脂石［一斤］、粳米［一升］。
少陰病，下利便膿血者，桃花湯主之。［原文不同］
少陰病，二三日，至四五日，腹痛，小便不利，下利不止，便膿血者，桃花湯主
之。此證自三陽傳來者，純是熱證，成無已因其下利，而日協熱，因其用乾薑，
而曰裡寒，余謂不然，蓋少陰腎水也，主禁固二便，腎水為火所灼，不能濟火，
火熱剋伐大腸金，故下利，且便膿血，此方用赤石脂，以其性寒而澀，寒可以濟
熱，濇可以固脫，用乾薑者，假其熱以從治，猶之白通湯，加人尿豬膽，乾薑黃
連黃芩人參湯，用苓連，彼假其寒，此假其熱，均之假以從治爾，經曰，寒者熱
之，熱者寒之，微者逆之，甚者從之，逆者正治，從者反治，從少從多，觀其事
也，正此之謂，用粳米，恐石脂性寒，損胃，故用以和之，向使少陰有寒，別乾
薑一兩之寡，豈足以溫，赤石脂一斤之多，適足以濟寒而殺人矣，豈仲景之方乎。
豬膚湯。
豬黑皮、白米粉。
少陰病，下利咽痛，胸滿心煩者主之。［原文］
膚乃是燖豬，刮下黑皮，禮運疏云，革膚內厚皮，膚革外薄皮，語云膚淺，義取
諸此。按白粉，乃白米粉也，其鉛粉亦名白粉，又名定粉，又名胡粉，主治積聚
疳利，與白粉不同。
甘草湯。
即甘草一味。
桔梗湯。
甘草、桔梗、連翹、薄荷、竹葉、梔子、黃芩。
少陰病，二三日，咽痛者，可與甘草湯，不瘥者，可與桔梗湯。［原文］
苦酒湯。藥即方見。
少陰病，咽中生瘡，不能語言，聲不出者，苦酒湯主之。［原文］
半夏湯。藥即方見。
半夏散。藥即方見。
少陰病，咽中痛，半夏散及湯主之。［原文］
或問六經傷寒，皆不言咽痛，惟少陰篇中，有咽痛咽傷之證，何也，夫少陰咽痛，
乃經絡所繫，蓋少陰之脈，上貫肝膈，入肺，循喉嚨，繫舌本，故有咽傷痛之患，
內經曰，所生病者，咽腫，上氣嗌乾及痛，此經脈所繫，邪氣循行而致然也。
白通湯。
蔥白［四莖］、乾薑、附子［一枚］。
白通加豬膽汁。藥即方見。
少陰病，下利，白通湯主之。［原文。下同］
少陰病，下利，脈微者，與白通湯，利不止，厥逆無脈，乾嘔煩，者白通加豬膽
汁湯主之。服湯脈暴出者死，微續者生。
按少陰屬腎，水藏也，得天地閉藏之令，主禁固二便，客寒居之，則痛而失其體，
不能制水，故下利，蔥白之辛，所以通陽氣，薑附之辛，所以散陰寒，故即蔥白
而名之曰白通。或謂白通湯，及白通加豬膽湯，真武湯，與通脈四逆湯，皆為少
陰下利而設，除用薑附相同，其餘之藥，俱各殊異，何也，曰病殊則藥異，少陰
下利，寒氣已甚，非薑不能治，此下利之理以無殊，至兼有之證不一，則用藥當
各從其宜，如白通湯，用薑附以散寒止利，則加白蔥以通調陽氣，若利而乾嘔煩
者，寒氣太甚，內為格拒，而薑附非煩者之所宜，必嘔而不納故加人尿豬膽汁，
候溫冷而服之，以人尿豬膽汁，皆鹹苦性寒之物，自納而不阻，至其所則冷體皆
消，熱性便發，又真武湯，治少陰病，二三日不已，至四五日腹滿，小便不利，
四肢沉重疼痛，自下利者，為有水氣，故多或為之證，夫水氣者則寒濕也，腎主
之，腎病不能制水，水飲停蓄為水氣，腹痛寒濕內甚也，四肢沉重，疼痛，寒濕，
外甚也，小便不利，自下利者，濕甚而水穀不能別也，經曰，脾惡濕，甘先入脾，
茯苓白朮之甘，以益脾逐水，寒濕所勝，平以辛熱，濕淫所勝，佐以酸辛，故用
附子芍藥生薑之酸辛，以溫經散濕，太陽篇中，小青龍湯證，亦為有水氣，故多
或為之證，如真武湯者，不殊此理也，通脈四逆，治少陰下利清穀，裡寒外熱，
手足厥逆，脈微欲絕者，為裡寒，身熱惡寒，而面色赤，為外熱，此陰甚於內，
格陽於外，不相通，與通脈四逆湯，以散陰通陽，其或為之證，依法加減而治之，
已上四證，俱云下利，而兼有或為之證，不一，是以用藥大同而小異也。或云白
通湯，用附子凡四證，惟真武湯一證熟附，餘皆生用，何也，凡附子，生用則溫
經散寒，非乾薑佐之則不可，炮熟，則益陽除濕，用生薑相輔，允為宜矣，乾薑
辛熱，故佐生附，而用生薑辛溫，少資熟附之功，原佐使之妙，無出此理，然白
通等湯，以下利為重，其真武湯證，以寒濕相搏，附子亦用炮熟，仍用生薑以佐
之，其生熟之用，輕重之分，無過此理也。
真武湯。方見三卷內。
太陽病，發汗，汗出不解，其人仍發熱，心下悸，頭眩身瞤動，振振欲擗地者，
真武湯主之。［原文］
少陰病，二三日不已，至日五日腹痛，小便不利，四肢沉重，頭痛自下利者，此
為有水氣，其人或欬，或小便利，或下利，或嘔者主之。［原文］
通脈四逆湯。
四逆加蔥［四莖］除甘草。
少陰病，下利清穀，裡寒外熱者主之。［原文。下同。］
下利清穀，裡寒外熱，汗出而厥者主之。
四逆散。
甘草、柴胡、枳實［炒］、芍藥［生用各一兩］。
少陰病，四逆其人或欬或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主
之。［原文］
此寒邪傳至少陰，裡有結熱，則陽氣不能交接於四末，故四逆而不溫，用枳實，
所以破結氣而除裡熱，用柴胡所以升發真陽而回四逆，甘草和其不調之氣，芍藥
收其失位之陰，是證也，雖曰陽邪在裡，甚不可下，蓋傷寒以陽為四逆，有陰進
之象，若復用苦寒之藥以下之，則陽益虧矣，是在所忌，論曰諸四逆者，不可下
之，蓋為此也。大凡初服藥時，無是證，服藥後而生新證者，故經曰，若吐若汗
若下後之證是也，即壞病也，當以何逆而治之，若初服藥有是證，服藥後，只是
原證如故，不見新有證候者，只是病未退，仲景所謂服湯一劑盡，病證猶在者，
更作服也，汗下同法，清碧杜先生曰，陽熱病難療，陰寒病易治，蓋熱者傳經變
態不一，陰寒不傳，治之亦一定法耳，仁菴嚴先生云，凡醫他人治過傷寒，須究
前證曾服何藥，倘證交雜，先以重者為主，次論輕者，假如傳經之邪，治有三法，
在皮膚者汗之，在表裡兩間者和解之，在裡者下之，此自外入內之治也，至若體
虛之人，交接陰陽，飲食不節，則表虛中邪，又非在表可汗之法，必用大熱之劑
溫散，經曰，陰中於邪，必內僳也，表氣微虛，裡氣失守，故使邪中於陰也，方
其裡氣不守，而為邪中，正氣怯弱，故成憟也，故經言寒則傷營，營者血也，血
寒則凝而不行，致四肢血氣不接而厥，身體冷而惡風寒，附子乾薑，適得其當，
若寒退而熱毒內攻，目中不了了，下利清水腹滿，又有急下之法，此論少陰經之
治法也，若寒退而手足厥，其厥乍凜，腹中痛而小便不利，又有四逆散之治法，
所謂少陰傳變，與太陽相同者也。
豬苓湯。
豬苓、茯苓、澤瀉、滑石、阿膠。
少陰病，下利六七日，欬而嘔渴，心煩不得眠者主之。［原文］
少陰病下利，而主此方者，分其小便，而下利自止也，渴欲飲水，小便不利，而
主此方者，導其陽邪，繇溺而泄，則津液運化，而渴自愈也，然豬苓質楛，輕清
之象也，能滲上焦之熱，茯苓味甘，中宮之性也，能滲中焦之濕，澤瀉味鹹，潤
下之性也，能滲下焦之溼，滑石性寒，清肅之令也，能滲濕中之熱，四物皆滲利，
則又有汗多亡陰之懼，故用阿膠佐之，以存津液於決瀆耳。
烏梅丸。
烏梅［三百個］、細辛、桂枝、人參、附子［炮］、黃蘗［六兩］、黃連［一斤］、乾薑［十
兩］、當歸［四兩］、川椒［去目］、苦酒［醋也］，
浸烏梅一宿，去核蒸熟，和藥蜜丸。
凡厥者，陰陽氣不相順接，便為厥，厥者，手足逆冷是也。［原文］
傷寒脈微而厥，至七八日，膚冷，其人躁，無暫安時者，此為藏厥，非為蛻厥也，
蚘厥者，其人當吐蚘，今病者靜，而復時煩，此為藏寒，蚘上入膈，故煩，須臾
復止，烏梅丸主之。［原文］
蚘音為，人腹中長蟲，俗曰食蟲是也。胃中泠必吐蚘，吐蚘人皆知為陰也，然亦
有陽證吐蚘者，蓋胃中空虛，既無穀氣，故蚘上而求食，至咽而吐，又看別證何
如，不可專以胃冷為說，會記一人陽黃吐蚘，又大發斑，陽毒證，口瘡，咽吐蚘，
皆以冷劑取效，是亦有陽證矣。
麻黃升麻湯。
麻黃、升麻、乾薑、官桂、芍藥、甘草、黃芩。
傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，吐膿血，
泄利不止者，為難治，麻黃升麻湯主之。
仲景麻黃升麻湯，為下壞之劑，而寸脈沉遲，或厥或咽喉不利，欬嗽膿血，或下
利不止，斷作難治，此藥有桂枝湯，有麻黃湯，有乾薑芍藥甘草湯，有白虎湯，
內更有少陽藥，黃芩是也，此是三陽合而標病，不應下而下之，壞而成肺痿也，
若脈不遲者，去乾薑官桂，不下下利者亦去之，寸口脈小者，去黃芩，此宜隨證
而加減之也，前人全用藥，以其前證悉備，故用三陽標藥治之，經曰，治病必求
其本是也。
乾薑黃連黃芩人湯參。方見本湯。
傷寒本自寒下，醫復吐下之，寒格更逆，吐下者主之。［原文］
白頭翁湯。
白頭翁［二兩］、秦皮、黃連、黃蘗［三兩］。
熱利下重者，白頭翁湯主之。［原文下同］
下利欲飲水者，以有熱故也，白頭翁湯主之。
四逆加人參湯。
本方加人參［一兩］。
問曰，病發熱頭痛，身疼，惡寒，吐利者，此屬何病，答曰，此為霍亂，自吐下
又利止，復更發熱也。
惡寒脈微而復利，利止，亡血也，四逆加人參湯主之。［原文］
理中丸。本方等分蜜丸。
霍亂頭疼發熱，身疼痛，熱多欲飲水者，五苓散主之。
寒多不用水者，理中丸主之。［原文］
大病瘥後喜唾，久不了了者，胃上有寒，當此丸藥溫之，宜理中丸。［原文］
適脈四逆加豬膽汁湯。以白通湯加人尿豬膽汁。
吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者主之。［原文］
燒裙散。即裙襠燒灰也。
傷寒陰陽易之為病，其人身體重，少氣，少腹裡急，或引陰中拘孿，熱上沖胸，
頭重不欲舉，眼中生花，膝脛拘急者，燒裙散主之。［原文］
取此物者，亦以病因於陰陽感召而得，故亦以陰陽之理治之，又且五味入口，鹹
入腎，腐入腎，穢入腎，乃濁陰歸地之意也，裙襠味鹹而腐，故能入少陰燒之則
溫，故足以化氣，化之則濁，故足以入膀胱，經曰，濁陰歸六腑是也，藥物雖陋，
而用意至微。
枳實梔子豉湯。
枳實、梔子［十四枚］、淡豉［四合］。
大病瘥後，勞復者枳實梔子豉湯主之，若有宿食者，加大黃如棋子大五六枚。［原
文］
漿水湯。漿水味甘酸而性涼善走，故解煩渴，化滯物，其法以炊粟米，熱投冷水
中，五六日，味酸生白花，色類漿故名，若浸至敗者害人。
牡蠣澤瀉散。
大病瘥後，從腰以下有水者主之。［原文自明］
是書也，學精天地人，事備儒仙佛，所以語皆見孔，統證藥方以入微字，可針茅
超，前後合而擅美，向猶患於四卷之祕，未竭。先生之藏，玆獲訂與諸篇並行，
是誠斯世之幸，但期觀者玩其辭必盡索其解，勿僅大意之求用者，得其旨於以大
其施，無等陳言之視，始克驅除百病，不負。先生種橘之苦心，庶幾弘濟群生，
俾慰吾友後梓之隱念云，古海昏愚山堂後學周瑞冠多氏謹識。</p>
