<!-- nav -->
<nav>
<ul>
  <li><a href="${get_url('book/index.html')}">典籍</a></li>
  <li><a href="${get_url('download.html')}">下載</a></li>
  <li><a href="${get_url('help/index.html')}">協助</a></li>
  <li><a href="${get_url('about.html')}">關於</a></li>
</ul>
</nav>