<!-- panel -->
<div id="panel" hidden>
<div><!-- workaround for Chromium Issue 993339 -->
  <div id="panel-close-wrapper">
    <a id="panel-close">╳</a>
  </div>
  <div id="panel-main-wrapper">
    <div id="panel-main">
      <fieldset id="panel-main-search">
        <legend>搜尋</legend>
        <script>
          (function() {
            var cx = '008948661690752370915:cps7kop8o_o';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
      </fieldset>
      <fieldset id="panel-main-view">
        <legend>檢視</legend>
        <label for="useAncient">版式: <select id="useAncient" size="1">
          <option value="false" selected>今版</option>
          <option value="true">古版</option>
        </select></label>
        <label for="useZhu">註: <select id="useZhu" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">顯示</option>
          <option value="false">不顯示</option>
        </select></label>
        <label for="useShu">疏: <select id="useShu" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">顯示</option>
          <option value="false">不顯示</option>
        </select></label>
        <label for="useJiao">校: <select id="useJiao" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">顯示</option>
          <option value="false">不顯示</option>
        </select></label>
        <label for="useNumbering">編號: <select id="useNumbering" size="1">
          <option value="auto" selected>自動</option>
          <option value="hanging">懸掛</option>
          <option value="inline">行內</option>
          <option value="none">不顯示</option>
        </select></label>
        <label for="puncMode">標點處理: <select id="puncMode" size="1">
          <option value="auto" selected>自動</option>
          <option value="normal">標準</option>
          <option value="removeModern">移除現代標點</option>
        </select></label>
      </fieldset>
      <fieldset id="panel-main-display">
        <legend>呈現樣式</legend>
        <label for="useVertical">直書: <select id="useVertical" size="1">
          <option value="auto" selected>自動</option>
          <option value="false">橫書</option>
          <option value="true">直書</option>
        </select></label>
        <label for="useFont">字體: <select id="useFont" size="1">
          <option value="auto" selected>自動</option>
          <option value="default">預設</option>
          <option value="hanamin">花園明體(51MB)</option>
          <option value="twkai">全字庫正楷體(112MB)</option>
        </select></label>
        <label for="fontSize">字級: <select id="fontSize" size="1">
          <option value="16" selected>小</option>
          <option value="20">中</option>
          <option value="24">大</option>
          <option value="32">巨</option>
        </select></label>
        <label for="useHanzi">缺字圖片: <select id="useHanzi" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">啟用</option>
          <option value="false">停用</option>
        </select></label>
      </fieldset>
      <fieldset id="panel-main-other">
        <legend>其他</legend>
        <label for="tocMode">目錄瀏覽: <select id="tocMode" size="1">
          <option value="section" selected>分節</option>
          <option value="locate">定位</option>
        </select></label>
      </fieldset>
      <fieldset id="panel-main-toc">
        <legend>目錄</legend>
        <div id="panel-main-toc-list"></div>
      </fieldset>
    </div>
  </div>
</div>
</div>