<header data-type="book">
<h1>宋本備急灸法</h1>
</header>
<h2>序一</h2>
<p>韓昌黎曰：善醫者，不視人之瘠肥，察其脈之病否而已矣。脈不病，雖瘠不害。脈病而肥者死矣。然世有癰疽發背之疾，其起也漸，其發也烈，人往往忽於微芒而昧於不自覺，一旦發暴盛腫，猝不及治。若再誤於庸醫，靡有不戕其生者。至如窮鄉委巷，醫藥何求？奇疾乍嬰，徒嗟束手。余愧不知醫，每念及此，未嘗不　焉傷之。貴陽陳衡山鹺尹嗜古篤之，尤喜搜石渠《金匱》之書，曾於扶桑都市得南宋孫炬卿舊刻，團練使張公渙所著《備急灸法》一卷。以畀余曰：此灸法中國不甚概見，蓋以世失其傳耳。食者習焉不察，每易忽之，苟得此編，按圖點穴，如法炷灸，則消患未然，化艱為易。其方藥味無多，見功速甚，誠為濟世救人之寶筏。余嘗考針灸科，居十三科之一，宋熙寧元豐間特提舉判官設科以教之，當時已信行如斯，其應效有可想見者。細繹此卷，覺男女老少童稚、內外雜症無不可療，其中騎竹馬灸法之良，更他人所未及論。《抱朴子》云：百家之言與經，一揆，譬操水者，器雖小而救火同焉。猶施灸者，朮雖殊而救疾均焉。況返死回生，孰如灸法之神且速耶？良友針砭之投，何敢自秘，爰將原本並余所得《針灸擇日編》一並付梓，俾廣流傳，亦以副衡山濟世深心。此二書流落東瀛垂數百載，幾無知者，今後歸之中國，遍起沉　，庶知廣陵散猶在人間也。</p>
<p><u>光緒十六年歲次庚寅仲夏上杭羅嘉傑少　氏識於日本橫濱理解</u></p>
<h2>序二</h2>
<p>余十有三歲而失所怙，母氏以教為愛，逾四十無所成，自謂膝下之藥有足以盡此身者，忽抱終天之恨，淚涸而痛不定。試為陳之母氏，素患頭風，歲十數作，作必嘔痰，加以昏眩，因得默齋撫干叔父烏辛茶方，於是作少疏，雖作亦易愈。近時烏附不易得，每聞入京有便，必以買川烏為先。或它出亦預合數服以進。前數年或鼻塞不通，或脾弱無味，隨證審方，儲材合劑，或丸或散，朝構暮成，未嘗敢求諸市肆。頭風則年余不作矣。矧又飲食頓　，但覺腳力微怯，歲旦家常茹素，飯則盡碗羹，亦稱美。炬卿私謂吾母今年七十而胃府如此，眉壽何疑者。越八日忽有小紅粟粒發右耳旁，次日右頰右目頗腫，命醫視之。用藥敷貼，膿毒漸出，謂可徐徐抽減，謹重太過，專守頭面，不可妄施針砭之說。有令灸三裡穴下抽者，醫持不可。未幾，其腫愈堅，似瘡而根則大，名癤而反無膿，外不熱而內不疼。旬日後始窘甚矣。吾母至，謂炬卿曰：汝抄方嗜藥，胡為不曉。此證倉忙中罔知所措，更醫亦云無策。母氏神識了然，以至不救。日月不居，俄至卒哭。客有攜示蜀本《灸經》與竹馬灸法者，備述克驗，內在鬢疽、疔瘡乃知咸有灸法，而竹馬一法則諸證無不治。痛哉，痛哉！何嗟及矣。炬卿平時每慮風在頭目，猶謂老人脫有隱疾，可以延壽，幸而頭風已痊，又孰知危證之竊發，喜未幾而痛罔極哉。此所以仰天捶心而嘔血也。世有此方，吾不早得而見之，吾母不存而其方則存，其方存而後之人有早得而見之者，庶幾乎吾母雖無及而猶及人也。遂與烏辛茶方並刊以傳焉。吾母山陰博古石氏也。</p>
<p><u>淳佑乙巳五月朔孤學鄉貢進士孫炬卿序</u></p>
<h2>備急灸法</h2>
<p>古人云：凡為人子而不讀醫書，是謂不孝。則夫有方論而不傳諸人者，寧不謂之不仁乎？然方書浩博，無慮萬數，自非夙昔究心，未易尋檢。本朝名醫團練使張渙著《雞峰普濟方》外，又立</p>
<p>《備急》一卷。其方皆單行獨味，緩急有賴者，張公之用心其可謂切於濟人者矣。仆自幼業醫，凡古人一方一技，悉講求其要，居鄉幾四五十載，雖以此養生，亦以此利人。仆今齒發衰矣，每念施藥惠人，力不能逮。其間惠而不費者，莫如針艾之術。然而針不易傳，凡倉卒救人者，惟灼艾為第一。今將已試之方，編述成集，鋟木以廣其傳。施之無疑，用之有效，返死回生，妙奪造化。其有稍涉疑難之穴，見諸圖書，使抱疾遇患者，按策可愈，庶幾少補云。</p>
<p><u>寶慶丙戌正月望杜一針防御　李聞人耆年述</u></p>
<p>諸發等證（石癰附）　腸癰　疔瘡　附骨疸　皮膚中毒風　卒暴心痛　轉胞小便不通　霍亂轉筋　風牙疼　精魅鬼所淫　夜魘不寤　卒忤死（俗謂鬼打沖惡也）　溺水　自縊　急喉痹鼻衄　婦人難生　小腸氣　一切蛇傷　犬吠　狂犬咬毒　點灸法　下火法　用火法　候天色法　定灸多少法　定發際法　發灸瘡法　淋洗灸瘡　貼灸瘡法　騎竹馬灸法　竹閣經驗備急藥方</p>
<h2>屈指量法例</h2>
<p>以薄竹片或以蠟紙條，量手中指中節橫文，取上下截齊斷，為一寸，男左女右。</p>
<p><a href="_files/p06-d42a1.bmp">圖</a></p>
<h2>諸發等證</h2>
<p>葛仙翁刻石江陵府紫極宮，治發背、發肩、發髭、髮鬢、發肋，及一切惡腫法，以上數種，隨其所發處名之也，其源則一，故灸法亦一本。然數種中，死人速者，發背也。其候多起於背胛間，初如粟米大，或痛或癢，色赤或黃，初不以為事，日漸加長，腫突滿背，疼痛徹心，數日乃損人，至此則雖盧扁不能治矣。惟治之於初，皆得全生。其余數種，皆依法早治，百無一死。凡覺有患，便用大蒜切片如錢濃（如無蒜，用淨水和泥捻如錢樣用之），貼在瘡頭上（如瘡初生便有孔，不可覆其孔），先以綠豆大艾炷灸之，勿令傷肌肉，如蒜焦，更換，待痛稍可忍，即漸放炷大，又可忍，便除蒜灸之，數不拘多少，但灸至不痛即住。若住灸後又腫又痛，即仍前灸之，直候不腫不痛即住。每患一個瘡，或灸三百壯、五百壯，至一二千壯方得愈者，亦有灸少而便愈者。若患三五個瘡，並須各各依法灸之，灸後不腫不痛則愈矣。男女同法。孫真人治石癰亦如此法灸之。石癰者，其腫發至堅，如石有根，故名之也。灸之石子當碎出即愈。</p>
<p>此系當頭用大蒜灸法，議論互見後竹馬灸法中。</p>
<h3>腸癰</h3>
<p><a href="_files/p06-d42a2.bmp">男女同法</a></p>
<p>孫真人治腸癰法云：腸癰之證，人多不識，治之錯則殺人。其證小腹重而硬，以手抑之則小便如淋狀，時時汗出而惡寒，一身皮膚皆甲錯，腹皮鼓急，甚則轉側聞水聲，或繞臍生瘡，或臍孔膿出，或大便下膿血。凡有此證，宜速灸兩肘尖各百炷，炷如綠豆大，則大便當下膿血而愈。依圖取穴。</p>
<h3>疔瘡</h3>
<p><a href="_files/p06-d42a3.bmp">男左女右</a></p>
<p>黃帝、岐伯、孫真人治疔瘡法：疔瘡者，其種甚多，初起皆一點突如丁蓋子，故名之。發於手足頭面者，其死更速，惟宜早灸。凡覺有此患，便灸掌後四寸兩筋間十四炷，依圖取穴。</p>
<h3>附骨疽</h3>
<p>黃帝、岐伯、孫真人治附骨疽亦如治疔瘡法灸之。其附骨疽者，無故附骨而成膿，故名之。多發於四肢大節筋間，虛人及產婦偏發腿　間。其候先覺痹重，或痹疼，或只烘烘然熱，動搖不便，按之應骨酸痛，經日便覺皮肉漸急，洪腫如肥人狀，多作賊風、風腫治之，因循多致死。凡有此患，宜早灸之，依疔瘡圖子取穴灸之，男左女右。</p>
<p>圖子見前疔瘡門。</p>
<h3>皮膚中毒風</h3>
<p><a href="_files/p06-d42a4.bmp">男女同法（即曲池穴是也）</a></p>
<p>張文仲、孫真人、姚和眾治皮膚中毒風法：毒風之病，其候忽然遍身痛癢如蟲嚙，癢極搔之，皮便脫落，爛壞作瘡。凡有此患，急灸兩臂屈肘曲骨間各二十一炷。依圖取穴。</p>
<h3>卒暴心痛</h3>
<p>甄權治卒暴心痛，厥逆欲死者，灸掌後三寸兩筋間，左右各十四壯。依圖取穴。</p>
<h3>轉胞小便不通</h3>
<p>葛仙翁、徐嗣伯治卒轉胞小便不通，煩悶氣促欲死者，用鹽填臍孔，大艾炷灸二十一炷，未通更灸，已通即住。</p>
<p><a href="_files/p06-d42a5.bmp">男女同法</a></p>
<h3>霍亂</h3>
<p>葛仙翁治霍亂已死，諸般符藥不效者，云此法特異。起死回生，不在方藥。大抵理趣精玄，非凡俗所知。急灸兩肘尖各十四炷，炷如綠豆大。依圖取穴。</p>
<p>男女同法（此灸穴與前項孫真人治腸癰穴同）</p>
<p>圖形已見前腸癰門。</p>
<h3>霍亂轉筋</h3>
<p>孫真人治霍亂轉筋及卒然無故轉筋欲死者，灸足兩踝尖各三炷，炷如綠豆大。轉筋在股內灸兩內踝尖，轉筋在股外，灸兩外踝尖。踝者，即俗稱腳塊子是也。</p>
<p>男女同法。</p>
<h3>風牙疼</h3>
<p>葛仙翁、陶隱居治風牙疼不可忍，不能食者，灸足外踝尖三炷，炷如綠豆大，患左灸右，患右灸左。</p>
<p>男女同法。</p>
<p>足踝備載《明堂灸經》。</p>
<h3>精魅鬼神所淫</h3>
<p>華佗治精魅鬼神所淫，癲邪狂厥，諸般符藥不效者，用細索並兩手大指縛之，灸三炷，每炷著四處，半在肉上，半在甲上，一處不著則不驗。灸之當作鬼神語，詰問其略，即解脫之令去，其人遂蘇。依圖取法。</p>
<p>男女同法。</p>
<p><a href="_files/p06-d42a6.bmp">圖</a></p>
<h3>夜魘不寤</h3>
<p>葛仙翁、陶隱居、孫真人治魘死法云：凡夜魘者，皆本人平時神氣不全，臥則神不守舍，魂魄外游，或為疆邪惡鬼所執，欲還未得，身如死尸。切忌火照，火照則魂魄不能歸體。</p>
<p>只宜暗中呼喚，其有燈光而魘者，其魂魄雖由明出，亦忌火照，但令人痛嚙其踵及足大指甲側即活（痛嚙即重咬，踵即腳跟也）。皂莢末吹入兩鼻亦良，經一二更不活者，灸兩足大指上各七炷，炷如綠豆大，依圖取法。婦人扎腳者，此穴難求，宜灸掌後三寸兩筋間各十四壯，此穴即前項甄權治卒暴心痛穴也。各依前圖取之。</p>
<p><a href="_files/p06-d42a7.bmp">圖</a></p>
<h3>卒忤死法</h3>
<p>扁鵲、孫真人治卒忤死法（忤死即今人所謂鬼打沖惡尸厥也）：急以皂角末吹入兩鼻即活。若經時不活，急灸掌後三寸兩筋間各十四炷，此穴即前穴甄權灸心痛者是也。圖子見前。訖如身冷口噤者，灸人中三炷，炷如粟米大。依圖取法。</p>
<h3>溺水</h3>
<p>葛仙翁、孫真人救溺水死，用皂角末吹入穀道中（皂角無用鍛石），但解開衣服，灸臍孔三五十壯，水從穀道中出即活。此法治溺水經一宿猶可活。又孫真人云：冬日落水冷凍，身強直，口眼閉，尚有微氣者，用灶灰一斗，鍋內炒令暖，以布三五重暖裹，熱灰熨其心頭。灰若冷，可即換。熨得心暖氣通，目轉口開，以溫薄粥令稍稍咽。仍依前法灸之即活。若不先熨暖其心，便向火爐逼之，則身中冷氣與火氣爭即死，切宜戒之。</p>
<p><a href="_files/p06-d42a8.bmp">男女同法</a></p>
<h3>自縊</h3>
<p>太倉公、孫真人救自縊死法云：凡救自縊者，極須按定其心，勿便截繩，當抱起解之。其心下尚溫者，先用皂莢末吹入兩鼻，用舊氈一片蓋其口鼻，令兩人用竹筒極吹兩耳即活。又鵲法用梁上細塵少許，入四個竹筒內，一個令四人各執一個，同時吹兩鼻兩耳，用力極吹。</p>
<p>更灸手足大指橫紋中各十炷，即活。依圖取穴。如婦人扎足者，只灸兩手大指上二穴。</p>
<h3>急喉痹</h3>
<p>孫真人、甄權治急喉痹，舌強不能言，須臾不治即殺人。宜急於兩手小指甲後各灸三炷，炷如綠豆大。依圖取穴。</p>
<h3>鼻衄</h3>
<p>徐文伯治卒然鼻中血出不止（病名鼻衄），用細索，如左孔衄縛右足，右孔衄縛左足，各小指，兩孔俱衄則俱縛兩足各小指（如婦人扎腳者縛膝腕）。若衄多不止者，握手，屈大指，灸骨端上三炷，炷如粟米大。依圖取法。</p>
<p><a href="_files/p06-d42a9.bmp">男女同法</a></p>
<p><a href="_files/p06-d42a9-2.bmp">男女同法</a></p>
<h3>婦人難生</h3>
<p>張文仲治橫產手先出者，諸般符藥不效，急灸右腳小指尖三炷，炷如綠豆大。如婦人扎腳，先用鹽湯洗腳，令溫，氣脈通疏，然後灸，立便順產。</p>
<p><a href="_files/p06-d42a10.bmp">男女同法（右衄灸左右衄灸右）</a></p>
<p><a href="_files/p06-d42a11.bmp">圖</a></p>
<h3>小腸氣</h3>
<p>孫真人、甄權治卒暴小腸疝氣，疼痛欲死法：灸兩足大指上各七炷，炷如綠豆大（此穴即是前葛仙翁、陶隱居、孫真人治魘死穴也。</p>
<p>依圖取穴，灸之可即愈）</p>
<p>圖子見前治魘死門。</p>
<h3>一切蛇傷</h3>
<p>孫真人治一切毒蛇咬法：急於新咬處灸十四炷，則毒不行。如無艾處，只用紙捻，熱之極痛即止。</p>
<p>又夏月納涼露臥，忽有蛇入口，挽不出者，用艾灸蛇尾即出。如無艾火處，用刀或磁周匝割蛇尾，截令皮斷，乃捋之，皮脫肉脫即出。</p>
<p>又方，割破蛇尾，入蜀椒三二顆即出。</p>
<h3>治犬咬</h3>
<p>岐伯、孫真人治風犬咬法：即令三姓三人於所咬傷處，各人灸一炷即愈。</p>
<h3>治狂犬所咬</h3>
<p>孫真人治狂犬咬法：春末夏初，犬多狂　，其時咬傷人至死者，世皆忽之不以為事。</p>
<p>其被咬人則精神失守，發為狂疾。諸般符藥治療，莫過於灸。便於所咬處灸百炷，自後日灸一炷，不可一日闕。灸滿百日，方得免禍，終身勿食犬肉、蠶蛹，食之毒發即死。又特忌初見瘡較痛止，自言平復，此最可畏，大禍即至，死在旦夕。若被咬已經三四日方欲灸者，視瘡中有毒血，先刺出之，然後灸。</p>
<p>上諸灸法皆救倉卒患難，所有人神血支血忌，及大風大雨，病患本命，並不避忌。務發敬信心，疾速檢用，得此本能，多多轉授他人，庶幾與我同志也。</p>
<h3>點灸法</h3>
<p>凡點灸時，須得身體平直，四肢無令拳縮，坐點無令俯仰，立點無令傾側。灸時孔穴不正，無益於事，徒燒好肉，須忍痛楚之苦。凡病先灸於上，後灸於下，先灸於少，後灸於多，皆宜審之。</p>
<h3>下火法</h3>
<p>凡下火點灸，欲令艾炷根下赤輝廣三分。若三分孔穴不中，不合得經絡，緣榮衛經脈氣血通流，各有所主，艾穴不中，即火氣不能遠達，而病未能愈矣。</p>
<h3>用火法</h3>
<p>古來用火灸病，忌八般木火，切宜避之。八木者，松木火難差增病，柏木火傷神多汗，竹木火傷筋目暗，榆木火傷骨失志，桑木火傷肉肉枯，棗木火內傷吐血，枳實火大傷氣脈，橘木火傷榮衛經絡。有火珠耀日以艾亟之，遂得火出。此火灸病為良，凡人卒難備矣。次有火照耀日以引之，便得火出，此火亦佳。若遇天色陰暗，遂難得火。今即不如無木火也，灸人不犯諸忌，兼去久　，清油點燈，燈上燒艾莖，點灸是也。兼滋潤，灸後至瘡愈易安，且無疼痛。用蠟燭更佳，諸蕃部落知此八木火之忌，用鑌鐵擊KT　石得火出，以艾引之，遂乃著灸。</p>
<h3>候天色法</h3>
<p>凡點灸時，若值陰霧大起，風雪忽降，猛雨炎暑，雷電虹　，灸暫時且停，候待晴明即再下火灸。灸時不得傷飽大飢，飲酒大醉，食生硬物，兼忌思慮愁憂，恚怒呼罵，吁嗟嘆息，一切不祥，忌之大吉。</p>
<h3>定灸多少法</h3>
<p>凡灸頭四肢，皆不令多灸，緣人身有三百六十五絡，皆歸於頭。頭者，諸陽之會也。若灸多令人頭旋目眩，遠視不明。緣頭與四肢肌肉薄，若並灸則氣血滯絕於炷下，宜歇火氣少時，令氣血遂通，再使火氣流行。候炷數足，自然除病，宜詳察之。</p>
<h3>定發際法</h3>
<p>凡灸發際，如是患人有發際整齊，依明堂所說易取其穴。如是患人先因疾患後脫落盡發際，或性本額項無發，難憑取穴。今定患人兩眉中心直上三寸為發際，以此為準。</p>
<h3>發灸瘡法</h3>
<p>凡著灸療病，歷春夏秋冬不較者，灸炷雖然數足，得瘡發膿壞，所患即瘥。如不得瘡發膿壞，其疾不愈。《甲乙經》云：灸瘡不發者，用故履底灸令熱，熨之三日即發，膿出自然愈疾。今用赤皮蔥三五莖，去其蔥青，於　灰火中煨熟，拍破，熱熨灸瘡十余遍，其瘡三日自發，立壞膿出疾愈。</p>
<h3>淋洗灸瘡法</h3>
<p>凡著灸治病，才住火便用赤皮蔥、薄荷二味煎湯，溫溫淋洗灸瘡周回約一二尺，以來驅令逐風氣於瘡口內出，兼令經脈往來不滯於瘡下，自然瘡壞疾愈。若灸瘡退火痂後，用桃樹東南梢枝、青嫩柳枝皮二味等分煎湯，溫溫淋洗灸瘡，此二味偏能護灸瘡中諸風。若瘡內黑爛潰者，加胡荽三味等分煎湯，溫溫淋洗，灸瘡自然生好肉也。若灸瘡疼痛不可忍，多時不較者，加黃連四味等分煎湯淋洗，立有神勢。</p>
<h3>貼灸瘡法</h3>
<p>春取柳飛花如鵝毛者，夏用竹膜，秋用新綿，冬用兔毛，取腹上白細膩者，蝥兒眼上者更佳。</p>
<h3>騎竹馬灸法</h3>
<p>治發背腦疽，腸癰牙癰，四肢下部一切癰疽、疔瘡、魚臍、鬼箭、瘭疽等，或胸腹不測，風癉腫瘤，緊硬赤腫，惡核瘰　發奶之屬。先令病患憑幾曲手男左女右，看臂腕節中間有一偃孔，令把臂相對者以朱點定了（有圖在後第一），次用挺直其臂，如持弓之直，卻見先來用朱點定偃孔處正在臂節橫紋上，就以篾自橫紋貼肉量至中指肉尖而止，不過指爪（有圖在後第二）。次用屈中指，側看中節有兩斜橫縫，就用篾壓定截斷，此是一寸，須量橫紋各一則，乃各一寸也（有圖在後第三）。次用竹扛一條兩卓子前後閣起，以氈褥被帛等藉定令穩，令病患脫去衣，解開襯褲帶，騎定竹扛，用身壁直靠，尾閭骨坐於竹扛上，兩足懸虛，俱不要著地，懸身正直，要兩人左右扶定，勿斜側僵曲，要以尾閭骨正貼在竹扛上，卻就竹扛上用初頭自臂腕量至中指肉尖，竹篾子自尾閭骨量上背脊之心，盡其所壓之篾而止。卻用前所壓橫紋二寸則子橫安篾盡處，用朱點定兩頭是穴，相去各一寸也（有圖在後第四），各灸五壯或七壯，艾炷及三分闊，以紙軸艾作炷，十分緊實方可用。壯數不可灸多，不問癰生何處，已破未破，並用此法灸之，無不安愈。蓋此二穴心脈所起（忽遇點穴近瘡，或正在瘡上，不問遠近，只要依法灸之，切莫生疑），凡癰疽只緣心火流滯而生，灸此二穴，心火即時流通，不過三日可以安愈，可謂起死救危，有非常之功，屢施屢驗。蓋《素問》云：諸瘡痛癢，皆屬於心。又云：榮血不調，逆於肉理而生癰腫，灸此二穴，心火調暢，血脈自然流通，勝於服藥多矣。灸罷謹口味，戒房事，依法將理，依前法一灸七壯了，經半日許灸，瘡內流水甚多，覺火氣游走，周遍一身，蒸蒸而熱。再視正瘡舋腫已消減五六分矣，至第二日五更，艾火盛行，咽喉焦枯，口舌乾燥，小便頗澀，四肢微汗，略覺煩躁，當是艾火流通使然。遂投乳香綠豆托裡散（方在後）。良久，諸證漸漸釋去，視其瘡舋已消，第三日果安愈矣。俱灸，瘡舋發異常，如蟲行狀，流清水，四五日方定，此誠可謂活人良法也。仍服五香連翹湯（方在後），此以疏散郁毒之氣，甚則轉毒散（方在後），或凡黃元，以防毒內攻（方在後）。更在識輕重緩急，分陰分陽而服藥。或膠醋熨散，或膏藥塗貼，如外科常法治之（醋熨法在後）。</p>
<p>先曲手看臂腕節中間，有一偃孔便是。臂節橫紋端的中心，令對坐，把臂之人以朱點定。</p>
<p><a href="_files/p06-d42a12.bmp">第一圖形</a></p>
<p><a href="_files/p06-d42a13.bmp">第二圖形</a></p>
<p><a href="_files/p06-d42a14.bmp">第三圖形</a></p>
<p><a href="_files/p06-d42a15.bmp">第四圖形</a></p>
<p>次用挺直其臂，如持弓之直，卻見先來用朱點定偃孔處，正在臂節橫紋上。就以竹篾自橫紋貼肉，量上至中指肉尖而止，不過指爪。</p>
<p>次用屈中指側看中節屈處，有兩斜紋，此是量寸法所用。兩頭各一寸之則以薄篾量二寸折斷篾。</p>
<p>次解衣褲等，用身壁直靠尾閭骨，坐於竹扛上，兩足懸虛，俱不著地，要兩人扶坐，以尾閭骨正貼在竹扛上，卻就尾閭骨上用初頭竹篾子量上脊背之心。蓋所量之篾而止用朱點定了，卻用前所量二寸，則子橫安點處，兩頭是穴。</p>
<p>次用紙軸艾令實切為艾炷，身壁直坐，即安艾炷，難安時微用津唾占黏之。略才曲身，其穴便差，切不可曲身。</p>
<p>江西傳得元本云：余既躬獲異效，深愿家家自曉，人人自理，不陷枉亡，亦仁人之用心也。每恨嬰此疾者，輕委庸人，束手待斃。余目睹耳聞，不知其幾人矣。此灸法流傳數十載，但人每意其淺近而忽之，且以其灸法之難，或疑而已之。今親獲異效，尋窮其原，如秦緩視晉侯之疾，確然知其在肓之上膏之下。然攻達之難，藥石所不至，寥寥千載，至唐而孫真人出焉，始洞徹表裡，垂法萬世，以膏肓穴起人之羸疾，世皆稱驗。惟癰疽之酷，方論甚多，皆不保其全活。今予發明騎竹馬灸法之良，其殆孫真人發明秦緩膏肓之絕學，庶幾脫人於虎口之危而奔人之急，當如拯溺救焚也。</p>
<p>膏肓之灸，固為良法，癰疽之灸，尤為效驗。膏肓但能灸背穴於未危之先，而騎竹馬灸實能脫人之危於將死之際，故不得不委曲而備論之。蓋此二穴正在夾脊雙關，流注之所。凡人榮衛周流，如環無端，一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，一日一夜一萬三千五百息，晝夜流行，無有休息，故一日一夜脈行周身，共計八百一十丈。此即平人常經之數，唯癰疽之疾，血氣流滯，失其常經，況人一身榮衛循度，如河水之流，其夾脊雙關乃流注之總路，如河之正道也。皆自尾閭穴過，又復通徹百骸九竅大絡，布達膚腠，無所不周。</p>
<p>灸法云：凡癰疽只緣心火留滯。《素問》云：諸痛癢瘡，皆屬於心。又云：榮血不調，逆於肉理則生癰腫。今此二穴所以為效者，使心火通流，周遍一身。蓋妙在懸一身騎於竹扛之上，則尾閭雙關，流注不得。俟灸罷二穴，移下竹扛，其艾火即隨流注先至尾閭，其熱如蒸，又透兩外腎，俱覺蒸熱，移時復流足涌泉穴，自下而上，漸漸周遍一身，奇功異效蓋原於此也。且遍搜百家議論，皆以癰疽發背之患為最慘，如治法則專以當頭灼艾為先嘗，一日二日三四五日灼艾者尚不保其全活，至十日以後，雖當頭灸之無及也。然此法似未盡善，惟騎竹馬灸法，雖經日危甚，不問癰生何處，已破未破，一例灸之，無不全愈。此法最為簡易，而效驗異常，真神仙垂世、無窮之惠也，但恨得之之晚，慨念平昔觀其長往者哽然在念，今遇此良法，躬獲大驗，豈收私秘，欲廣其傳，冀同志之士，見而勿嘆。或好生君子，轉以濟人，其幸尤甚。</p>
<p>又云：余三十余年，每見患癰疽發背之疾甚多，十中僅得一二活者，惟是著灸早則猶有可治之理。倘始末不能灼灸，則瘡勢引蠹，內攻臟腑，甚則數日而至於不救。要之富貴驕奢之人動輒懼痛，聞說火艾，嗔怒叱去，是蓋自暴自棄之甚者。苟不避人神，能忍一頃之灸，便有再生之理，自當堅壯此心，向前取活以全膚體，不致枉夭，豈不誠大丈夫歟。</p>
<p>又云：癰疽發背，要須精加度療之於示危之先，庶收萬全之效。勿以勢緩而忽視，勿以勢急而愴惶。其勢既見，不問其他，便先要隔蒜當頭灸之，使毒發越於外，則不致內攻殺人之速也。其患處當頭得灸，便成瘡口，良久火艾既透，則瘡口滋潤，或出惡水，痛勢亦定，兼服五香連翹湯。縱使未能頓減，其勢亦少緩矣。更以騎竹馬法灸之，則隨即見效。若得疾已過七日，則不須用蒜當頭灸之，只用騎竹馬法灸之，仍服五香連翹湯，甚則轉毒散，立見功效。此所謂要識輕重緩急也。</p>
<p>又云：余親以灸法灸人甚多，皆獲奇效。如遇灸穴在所發之疽相近，則其灸罷良久便覺艾火流注，先到灸處，其效尤速。若離所發疽邊，則不甚覺其火氣流注，灸瘡亦發遲。然癰疽在左則左邊灸瘡先發，在右則右邊灸瘡先發。蓋艾火隨流注行於經絡使然也。灸者宜預知此意，不須疑惑，但要依法灸之，使毒散越，不致內攻，便有向安之望。</p>
<p>又云：嘗究癰疽之作，皆積微而至著。及其熱之驟也，如山源之水一夕暴漲，不能小決，使導乃築塞之勢則大決，傷人必多矣。勢既奔沖，治之宜急，苟徒以猛烈之藥外塗肌肉，閉塞毛竅，使毒瓦斯無所從出，是謂閉門捕賊，必有傷主之害也。法當自外以火艾，引泄毒瓦斯，然後分陰陽而服藥可也。分陰陽服藥說，備載紹興官庫所刊李迅與興明州醫家所刊李世英癰疽方論。</p>
<p>綠豆乳香托裡散方（托毒瓦斯不入心）</p>
<p>綠豆粉（一兩）　乳香（半兩）</p>
<p>上為末，和勻，生甘草水調下。</p>
<p><u>國老膏方</u></p>
<p>（使毒瓦斯不入內）</p>
<p>甘草（大者，二兩，細銼，長流水浸一宿，揉令漿汁濃，去盡筋滓，再用絹濾過，銀石器內慢火熬成膏，以瓷器收貯）</p>
<p>每服一二匙，和酒調服，白湯調下亦得，微利為度。</p>
<p><u>五香連翹湯方</u></p>
<p>（疏散郁毒之氣）</p>
<p>木香（三分，不見火）　沉香（三分，不見火）　連翹（全者，去蒂，三分）　射干（三分）　升麻（三分）　木通（三分，去節）　黃　（三分）　楝（無叉附者，生用）　丁香（半兩，揀去枝，不見火）　乳香（半兩，別研）　大黃（微炒，半兩，銼）　甘草（半兩，生用）　麝（真者，一錢半，別研）　獨活（三分，買老羌活用）　桑寄生（三分，難得真者，缺之亦可）</p>
<p>上十四味為粉末，和勻，每服三大錢，水一盞，煎至七分，去滓服。並滓煎，用銀器煎藥，入銀一片同煎亦得。</p>
<p><u>轉毒散方</u></p>
<p>（利去病根不動元氣）</p>
<p>車螯（紫背光濃者，以鹽泥固濟，　通紅，候冷淨取末，一兩）　甘草（一兩，生用）　輕粉（半錢）</p>
<p>上一處為細末，每服四錢匕，濃煎栝蔞一個，去皮，煎酒一碗調下，五更服，甚者不過二服。</p>
<p><u>礬黃丸方</u></p>
<p>（專托毒不攻內）</p>
<p>白礬（一兩，為末）　黃蠟（半兩，溶開和白礬末）</p>
<p>上旋為丸，如綠豆大，每服五十元，用溫酒和些煎熟麻油送下，不以時候醋熨法（未成膿熨之則散，已成膿熨之則出）。</p>
<p>牛皮膠銚中略入水溶釋，攤刷皮紙上，中心開一圓竅，如此作數片，卻以膠紙貼瘡上，就以竅子出了瘡頭，以出毒瓦斯。用好釅醋以小鍋煮在面前，令沸，用軟布手巾段兩條蘸醋，更互熨之（用竹夾子夾上）。須乘熱蒸熨數百度，就膠紙上團團熨，不住手，紙破再換。如癢愈熨，切不可以癢而止。如有膿從竅中流，更熨勿歇，落熨三五日，不妨暫時歇熨，時更以好拔毒膏藥貼之，仍出竅。子以泄毒瓦斯，其熨時直候瘡有血水來，癢止痛止，然後住熨，或要住熨而膠黏於背，可煎貫眾湯洗之，即脫一面熨了，一面看陰陽證隨證用藥，此法甚簡而功甚大，委有神驗，切不可忽。釅醋，即米醋也。</p>
<p><u>鷺鷥藤酒</u></p>
<p>李氏方云：病癰疽人適有僻居村　，及無錢收買高貴藥材，只得急服鷺鷥藤酒。不問已灸未灸，連服數劑，並用　法（方在後），候其疽破，即以神異膏（方在李氏集驗背疽方論）</p>
<p>貼之。亦屢用取效應。發眉發頤發背，但是腫發，盡量多服，無不取效，前後用此醫，田夫野老，百發百中。</p>
<p>《蘇沈良方》云：鷺鷥藤一名忍冬草，葉尖圓，蔓生，葉背有毛，田野籬落處處有之。兩葉對生，春夏開，葉梢尖，面色柔，綠葉微薄，秋冬即堅濃色深而圓，得霜則葉卷而色紫，開花極芬芳，香聞數步。初開色白，數日則變黃，每枝黃白相間，故一名金銀花。花間曳蕊數莖如絲，故一名老翁須，一名金銀股。冬間葉圓，濃似薜荔，故一名大薜荔。花氣可愛，似末利、瑞香輩。古人但以為補藥，今以治疽奇驗。</p>
<p>鷺鷥藤　嫩苗葉（五兩，不得犯鐵器，用木捶碎）　甘草（一兩，生銼為粉末）</p>
<p>上二味同入瓦器內，用水二碗，文武火緩緩煎至一碗，入好無灰黃酒一大碗，同煎十數沸，濾去滓，分為三服，微溫，連進一日一夜，吃盡。病勢重者連進數劑。既云可作補藥，必然無慮傷脾，服至大小腸通利為度。</p>
<p>鷺鷥藤圓形，又名甜藤</p>
<p><u>　散癰疽法</u></p>
<p>鷺鷥藤取葉不拘多少，入砂盆內，爛碾，入無灰黃酒少許，調和稀稠得所，塗　患處四圍，中心留一大穴，以泄毒瓦斯，早晚換　，不可間斷。</p>
<p><u>治頭腦上癰腫，川芎通氣散</u></p>
<p>天花粉（洗淨為細末）　川芎（不見火，為細末）　穿山甲（頭項上甲，炒為細末）</p>
<p><a href="_files/p06-d42a16.bmp">圖</a></p>
<p>上等分，每服五錢，重用栝蔞一個，取子並肉研細，入無灰黃酒一碗，　之，濾去滓，重湯煎熟，卻將此酒來調藥食後，稍空服，連進數劑，並用前方鷺鷥藤酒每碗加川芎末三錢，重調下，與通氣散更互服之。及急，剃去發用前方　法。大凡癰疽服藥，須是作急，連進方能救療。</p>
<h2>竹閣經驗備急藥方</h2>
<p><u>石氏常服治頭風烏辛茶</u></p>
<p>川烏（一只，生，去皮）　高麗細辛（二錢）　茶芽（二錢）</p>
<p>上　咀，作三服，每服水兩大盞，薑十片，煎至七分，臨發後連進，或嘔痰即愈。近見桃溪居士劉信甫所刊事證方中有麝香散、茶芽湯，大略相似，但用川烏草烏不同耳。近時川烏既難得，今並載以資速辨。</p>
<p><u>麝香散</u></p>
<p>　治頭風及偏正頭痛，夾腦風連眉，骨項頸徹腮頂疼痛不可忍者，累有神驗。</p>
<p>草烏（二兩，用大者，炮裂去皮尖，銼如豆大，入鹽炒黃色）　高麗細辛（二兩，銼）　草茶（四兩，略研）</p>
<p>上三味共為細末，每服一大錢，入麝香少許，蠟茶清調下。</p>
<p><u>茶芽湯</u></p>
<p>　治偏正頭疼，惡心嘔吐不止者。</p>
<p>生草烏（半兩，去皮尖）　高麗細辛（半兩）　茶芽（一兩）</p>
<p>上為粉末，每服四錢，水二慢，熳火煎至六分，去滓溫服，一服取效。</p>
<p><u>小托裡散</u></p>
<p>　順氣進食，排膿去毒。</p>
<p>香白芷　山藥　白蒺藜　桔梗　栝蔞根　甘草上等分，共炒為末，每服二大錢，北棗一個，生薑三片，水一盞，煎至六分，空心服。</p>
<p>人有患癰疽者，每以十補托裡散為第一藥。然數年以來，人參與銀同價，當歸又數倍之，非富貴之家安得入口？偶得此方，頗便貧者，本出劉涓子《鬼遺論》。余幼子八九歲時，右腿因閃肭生膿，不紀針砭，曾服有效。</p>
<p><u>栝蔞酒</u></p>
<p>　治一切癰疽。</p>
<p>大甘草（半兩，為粉末，生者）　沒藥（二錢半，研）　大栝蔞（黃熟者，一個，去皮，連子切碎，俗所謂杜瓜是也）</p>
<p>上三件用無灰酒三升，熬至半碗，放溫服之。再進不妨。欲大便，略通，加皂角刺七枚同煎。</p>
<p>此治腋下忽有硬核，壅腫不可下臂，久則生膿，及婦人奶癰，男子便毒，最驗。栝蔞最通乳脈，婦人有奶乳不通者，服之乳至如泉。</p>
<p><u>治腿髀間生腫毒，名曰便毒</u></p>
<p>大甘草　地榆　地骨皮（一名枸杞，其根即是，取生者，洗去泥，用之尤驗）</p>
<p>上三味等分銼了，和勻，分三服，每服水一碗，煎至七分。先將生烏豆一掬嚼細，圍瘡四邊，令周匝留瘡口，用大蔥白捶扁，與瘡長短相似，安於瘡口上，煎藥熟即將藥滓乘熱覆蓋於烏豆及蔥白之上。將手護定，恐藥滓撒落，仍乘熱服藥，卻將第二服藥候藥熟即掃去前藥滓及蔥豆，別嚼豆，用與蔥白如前法。第三服即就藥滓用片帛縛定，坐臥任便。其瘡未結者立消，已結者易破，已破者瘡口易合。須空心連服三次，神驗。</p>
<p><u>治髭癰</u></p>
<p>　人有摘須誤斷忽須根，赤腫生膿，甚者殺人。</p>
<p>取桑樹上耳，爛嚼　敷，一夜須根可出，腫亦退。</p>
<p><u>治紫癜風</u></p>
<p>榆樹皮燒存性，細研為末，糟茄蘸擦一二次即除。</p>
<p><u>治脫囊</u></p>
<p>曾有小兒發熱，作驚，啼哭不已。視其外腎則紅腫，囊皮脫去，曾用之神驗。</p>
<p>朱陵土（此是燒人地上赤土，約是人尸腰間所臨之處，不拘多少，取研為細末）</p>
<p>上用水調鵝毛刷敷，土干則嫩肉已生於裡矣。</p>
<p><u>治喉閉，膿血脹塞，喉中語聲不得，命在須臾</u></p>
<p>用真鴨嘴、膽礬為細末，將箸頭卷少綿子在上，先在米醋中打濕，然後蘸前藥末令人撐患人口開，將箸頭藥點入喉中腫處，其膿血即時吐出，所患即愈。如不能開口者，只用生薑一塊如栗子大，剜一小孔，入巴豆肉一粒在內，更用麻油小半盞，安沙盆中，將生薑磨盡為度。竟以薑油灌入喉，如即時吐出膿血，其效尤速。若喉中未生毒，方覺難進食，便以下紅葉同甘草少許入蜜些子並皆爛搗如泥，用綿子裹如圓眼大，外以線系定，令線要長，直入喉中，以風涎出盡為度。</p>
<p>膽礬絕難得真者，只用薄荷一握，皂解一挺，同搗真汁，滴入即破，尤為簡便。</p>
<p><u>治湯火所傷</u></p>
<p>釅米醋，將多年舊窗紙蘸濕，輕輕貼其上，自然腫消。</p>
<p><u>治　叮</u></p>
<p>山上蕨萁葉，葉不拘多少，燒存性研細末，輕粉麻油敷。</p>
<p><u>治一切毒蛇所傷</u></p>
<p>於所傷處先用頭繩縛定，不可令毒瓦斯流行，急用香白芷半兩，研細末，以麥門冬洗，連根葉濃煎湯，調前藥末服之。卻急討笆楊葉一小籃，爛搗。又加生薑二十文，再搗如泥，將酒一碗許逗起，絞取藥汁兩碗，先將一碗更入酒半橫許，令熱，和藥汁一碗服之。其滓　所傷處，外以絹帛縛定。如過一二時，如前法再服一碗，不三四遍即愈，屢用有功。</p>
<p><u>治眼目暴腫，疼痛出血</u></p>
<p>春夏之月人患此者，謂之天絲毒。治法最不可不審，余居江之南有小兒忽兩眼腫起，疼痛出血，或令贖藥局中眼藥熏洗者徑成青盲。旁復有一人如此，遇田夫相教，曰：我有草藥，正治此證。亟取而用之，毒涎從口中流出，次日即平復。</p>
<p>繭漆樹葉（不拘多少，搗爛成膠，和面和眼壅洗，仍卻以滓汁位盒眼上）</p>
<p>鷹鶻鸛鶴之類，春夏多食毒蛇，拋糞空虛，間或懸在樹梢，遇風飄揚，細如絲塵，人有當之者，則為天絲毒。此方固嘗傳得，今始信為神妙。</p>
<p><u>治腎臟風</u></p>
<p>　凡陰囊濕癢，臂腕髀旁，指縫肘頭生瘡，搔起白花不可住手者，皆此證也。</p>
<p>旌德草烏（四兩，不去皮）</p>
<p>上分作四堆，每堆入鹽一兩，先取河水一碗（不要江溪井水），卻將第一堆同水入銚內煮干，又將河水一碗入第二堆，同添再煮干。又將河水草烏如前法至第四堆，候水干（次第煮者欲要生熟得宜），取出切片子，先用麻油少許抹銚內，卻將草烏片炒黃色，地上出火毒，研為細末。又入好土朱一兩，米醋糊為丸，如梧子大。每服四十丸，空心食前酒下。如覺麻人則減丸數，不覺麻人則增丸數。盡此一料則疾去矣。</p>
<p><u>治小兒誤吞銅錢入腹者</u></p>
<p>羊脛炭（即炭中極小堅硬，擲有聲者）</p>
<p>上為細末，米飲調下。少頃炭即裹錢隨糞出來，累有神效。亦治諸般鯽及小兒誤吞棋子者。</p>
<p><u>治久患脾寒，寒熱不已，或一日，或間兩三日，或半年三年者，無不克驗</u></p>
<p>朴硝（二錢，用烏盞於火上　釋）</p>
<p>上用熱酒一盞，候朴硝釋時，傾在酒內，乘熱於當日身上寒凜凜發作時服之。斗發一次，更不再作。</p>
<p><u>治男子婦人小便卒不通方</u></p>
<p>　妊婦有臨月患此者，累得效。</p>
<p>裹茶　（一兩，燒灰存性，研）　滑石（半兩，細研）</p>
<p>上同碾勻，每服一二錢，用臘茶少許，沸湯點入生麻油二三滴服。</p>
<p><u>治一切發背癰疽，延開不已，須用圍住方</u></p>
<p>台烏（研為細末）</p>
<p>上用蜜水調敷四邊，早晚換敷，則毒腫不開，旋斂於中，其效捷甚。</p>
<p><u>治一切赤腫癤毒，初發便貼，無有不散</u></p>
<p>黃頭漿粉（炒，十分，黑色，一兩）　黃柏皮（半兩，炙）</p>
<p>上為細末，用芭焦油調敷（東陽陳氏專施此藥）。</p>
<p><u>治一切瘡癤，已潰未潰皆可貼</u></p>
<p>五倍子（一兩）　白礬（二錢）</p>
<p>上為細末，用井花水調敷。</p>
<p><u>治下血不止，及腸風臟毒敗證，灸法</u></p>
<p>量臍心與脊骨，平於脊骨上灸七壯即止，如再發，即再灸七壯，永除根本。</p>
<p><u>治噎疾灸法</u></p>
<p>腳底中指中節灸七壯，男左女右。</p>
<p><u>治男子遺精白濁，起止不可者，灸法</u></p>
<p>先點丹田穴，更向上去些，小灸七壯（臍下一寸為丹田）。</p>
<p><u>治湯火所傷，又神驗於前者</u></p>
<p>或用灶底黃土，或用無名異，皆為細末，用冷水調敷，痛即定。無瘕痕人家尤易取辦。</p>
<p><u>治一切嗽疾不問新舊，熏喉法</u></p>
<p>款冬花（約一分）　鵝管石（約一分）　雄黃（約一分之半）</p>
<p>上為極細末，用無雄烏雞子清調（頭次生下者是無雄），次將白紙一方，以所調藥刷一半，候干卷成小筒，將一半無藥處捻定，於無灰火上燒濃煙，直安入近喉處，閉口使煙氣衝入。覺必要嗽，須略忍住。便以冷茶清呷數口（此用先辦），隨即噦出痰數口，無不瘥者（閉口熏煙時更記牢，捻鼻孔，莫令出煙）</p>
<p><u>治香港腳風濕氣貫法，四肢疼痛</u></p>
<p>四味理中湯去人參，加紅曲，為細末，熱酒調服。</p>
<p><u>治臂痛指弱，此由伏痰在內，中脘停滯，四肢屬脾，脾血相搏，茯苓丸</u></p>
<p>赤茯苓（一兩）　半夏（三兩）　枳實（半兩）　風化朴硝（一分）</p>
<p>上為細末，薑汁糊為丸，梧桐子大，每服三十丸，薑湯下。余以前紅曲理中湯並下，效尤速。</p>
<p><a href="_files/p06-d42a17.bmp">圖</a></p>
<p><u>近秋方生子，葉濃若有微毛，大率似柿葉，與籬豆、貓兒豆相似而非，不可誤用</u></p>
<p><u>治髀間發腫</u></p>
<p>　此因敗精滯氣，加以陰濕，名曰髀毒。及腎癰未散，自腰以下一切腫毒，咸治之。</p>
<p>焰硝（一錢重，通臨安買盆硝有鋒芒者，草店中味鹹者不可用）</p>
<p>上為細末，用熱酒調，極空心服之。放微溫，不可太溫，不可便吃熱食，恐作吐，覺小便微疼時，是毒從小便出去，一溺便安。覺未退，再進一服，無不效者。毒作而腫甚如蒸餅大者，亦泄去。且不用破，又不動元氣。士大夫有服之累效者。</p>
<p><u>治從高墜下，　撲閃肭，專能散血疏氣</u></p>
<p>黃熟茄種連皮肉薄切，紅瓦上焙乾，入糖甏收貯。臨時研為末，入乳香少許，酒調下，能飲者以醉為度（雖氣欲絕者，急　牙灌入）</p>
<p><u>治刀傷竹木刺破，專能止血定疼</u></p>
<p>三葉豆，又名衛客龍，五六月采取，晒乾為末，摻患處。</p>
<p>此二方桃源張寺丞面授，累試有效，不可忽之。</p>
<p><a href="_files/p06-d42a18.bmp">圖</a></p>
<p><u>兩腳曲瞅內摺縫中間，尋兩筋之中取穴，兩腳齊灸三壯即愈。仍倚物立定，取穴並灸。若痛發時灸尤驗。</u></p>
<p><u>治赤眼及睛疼多淚，暴赤腫者，一宗方</u></p>
<p>宣藥：雄黃解毒丸，量虛實下。貼藥：蛇莓草（春間生紅霉子，不可食者）洗淨搗爛，攤青紗上，　眼如冰。又泡真北棗，取肉滲以腦子，或薄荷煎貼太陽，亦並用青紗體襯如當三錢大。搐鼻藥：鬱金、真焰硝各少許，略入腦子。洗藥：四物東加防風、黃連、杏仁、赤芍藥。服藥：三黃散，用黃芩、黃連、赤芍藥、龍膽草、大黃、漢防己、木香等分，為細末，食後溫酒調下。點藥：帶皮生薑一塊，　箸蕩成小穴，入蜜攪勻點之。蓋血得熱則散，專用腦子，醫家所忌。虛證者當先補腎，別有方法。</p>
<p><u>貼一切腫毒，凡欲結癰癤之未成者</u></p>
<p>用酸米醋一盞，皂角一條，捶碎同煎至七分，以成片，牛皮膠同浸碗碟中，令軟，隨大小點赤腫上。</p>
<p><u>治腰疼，甚至不可抬舉者</u></p>
<p><u>治風蛀　牙</u></p>
<p>籬上雀梅藤，收於刀上，取油瀝，將小白　窠惹濕成丸，塞患處，一塞一定。</p>
<p><u>治奶癰</u></p>
<p>車螯殼上燒成粉，為末，米飲下，生用尤妙。</p>
