<header data-type="book">
<h1>醫方簡義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王清源</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1883">公元1883年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>昔程子有言。一命之士。苟存心於濟物。可隨地而見功。陸宣公晚年家居。尤留心於醫。</p>
<p>聞減實畏後虛理智牟潛心探討。成醫方簡義六卷。銖準兩較。捐除成見。而尤心折於仲景。夫仲景無他。見理透。持論平。隨所學而責之效。無不各得其意以去。方之聖經論語不虛也。又惜自來女科絕少專家。近雖奉張氏醫通為金科玉律。然其書洵美矣。猶恐不善學之。易滋流弊。故於此尤兢兢焉搜遺補闕。詳其所略。略其所詳。實足發前人所未及。要之大旨。取袁了凡可以養親。</p>
<p>可以立身二語。而歸本於毋自欺。是其學必不涉於泛濫。其識必不囿於拘墟。其臨證必不輕於嘗試。以視世之洶洶於名利者。相去奚止逕庭耶。爰識數語。弁諸簡端。異日為不龜手。</p>
<p>為　。是在用之者。</p>
<p><u>內閣學士兼禮部侍郎銜季和徐致祥題。時光緒九年歲次癸未之仲冬也。</u></p>
<h2>自序</h2>
<p>嘗讀魯論而知人而無恆。不可以作巫醫。故醫之為道。原非易易。醫學之有內經。猶儒學之多驗。</p>
<p>其書而而志愿難乎治術矣。醫者死生所寄。性命所關。苟無仁愛之心。不可以為醫。無明達之才。不可以為醫。知其淺而不知其深。知其偏而不知其全。俱未可以為醫。爰發靈素內經。仲景傷寒論。</p>
<p>金匱玉函三者。晦明誦讀。風雨摩挲。繼則博采方書於王叔和之脈經。汪　庵之本草。李士材之醫宗。葉天士之指南。張路玉之傷寒大成諸書。玩索黽皇不數年而心領神會矣。惟女科一書。尤難精蘊。何則。其有內傷而未能明悉。有隱疾而不可詳言。故於調經胎前產後諸症。</p>
<p>更加詳審。其萬有不齊之數。盡在一心之妙用。上體天地好生之德。下盡人情物理之常。必審病。立法。擬方。三者兼備。而運以精心。行以恕道。於是心術端而治術昭焉。自古及今。</p>
<p>名醫代出。方書條治。日益繁矣。游移者鮮據。懵然者罔得。一知半解。貽誤良多。爰推以簡馭煩之理。集得心應手之方。編為成書。名之曰醫方簡義。簡者不煩之謂。義者得時之宜（原）業醫數十年。恆以大學毋自欺一語寤寐思之。故不辭鄙陋。授之剞劂。以公同志臨證一助云。</p>
<p><u>光緒九年歲次癸未仲冬之初古越山陰馥原王清源書於梅溪小隱山房。</u></p>
<h2>卷一</h2>
<h3>四診總論</h3>
<p>嘗思古人治病。原非一致。望色聞聲問症切脈四診全備。可稱神奇。故望而知之者為上醫。</p>
<p>切之輕重而數。知脈而遽謂脈最取此以之第一氣。以矣。故脈之曰此心手太陰所出之門戶。故之說為確。其余關為脾。生右寸為受命之根。萬心。又華穀儲泳途。男生而覆。</p>
<p>命在乳。形氣既是矣。凡分發臟非臨診之權衡</p>
<h3>望色篇</h3>
<p>古有明堂圖。內部十四。外部十一。未易考辨。惟有額屬心。鼻屬脾。左頰屬肝。右頰屬肺腎色木克淡黑之生以觀中央金來左頰形色反者絕。</p>
<p>赤者日。</p>
<p>已。</p>
<p>其期死。</p>
<p>乃心舌黑有黃燥泄以舌白軟者火內</p>
<h3>聞聲篇</h3>
<p>難經云。聞其五音以知其病。五臟發聲以合五音。謂肝主呼。應乎角。心主笑。應乎徵。</p>
<p>脾病脾哀哭言者仰瘀此</p>
<h3>問症篇</h3>
<p>昔喻嘉言治病。先問後診。合望聞切三法。而洞悉病情。凡見病者。須問年紀之大小。</p>
<p>疾病暈眩知其虛不內閉詢其標之補劑獲審問年外邪顧著</p>
<h3>切脈篇</h3>
<p>（此系彭鐘齡脈法金針）</p>
<p>脈有要訣。胃神根三字而已。人與天地相參。脈必應乎四時。而四時之中。均以胃氣為本。</p>
<p>曰肝者。</p>
<p>共成其脈平脈氣曰大可熱熱不也如樹之有根。枝葉雖枯。根蒂未壞。則生意不息。是以診脈法。必求其根以為斷。而總其要領。實不出胃神根三者而已。如或胃神根三者稍有差忒。則病脈斯見。其偏於陽。則浮芤滑實洪數長大緊革弦牢動疾促以應之。其偏於陰。則沉遲虛細微澀短小濡伏弱緩結代散以應之。若但見緩脈。必一息四至。號曰和平。不得斷為病脈耳。其余二十九脈皆為病脈。必細察其形象。而知其所主病。其曰浮。不沉也。主病在表。沉。不浮也。主病在裡。遲。一息三至也。為寒。數。一息六至也。為熱。滑。往來流利也。為痰為飲。澀。往來澀滯也。為血少氣鈍。虛。不實也。為勞倦內傷。實。不虛也。為外感邪實。洪大而有力也。為積熱。</p>
<p>大。虛而無力也。為體弱。微。細而隱也。小。細而顯也。俱為氣少。弦。端直之象也。為水飲。長。過乎本位也。短。不及本位也。長為氣旺。短為氣怯。緊。如引繩轉索也。為寒為痛。弱。微細之甚也。為虛為虧。濡。沉而細也。為真火不足。動。厥然動搖也。為氣血不續。伏。脈不出也。為寒氣凝結。或因痛極而致。或由跌仆使然。促數而時一止也。為熱極。結。緩而時一止也。為寒盛。芤。邊有中空也。為失血。代。動而中止。有至數也。亦因血氣不續。或由跌打悶亂。以及妊娠三月之兆。革。浮而堅急也。為精血衰少。牢。沉而堅硬也。為胃氣不足。疾。一息七至也。為熱極。散。渙而不聚也。為氣散。惟緩者和之至也。為無病。但尺中見緩為解　。主發痿痹之疾也。凡所主病。大都如是。如有數脈互見。則合而斷之。以知其病。至於脈有真假。有隱伏。有反關。有怪脈。均宜一一推求。不可混淆。何謂真假。如熱病脈澀細。寒症反鼓指之類。何謂隱伏。如中寒腹痛。脈不出。或外感風寒將有正汗。脈亦不出。脈經有一手無脈曰單伏。兩手無脈曰雙伏。何謂反關。正取無脈。反在關骨之上。或見於左。或見於右。診法不造次。何謂怪脈。兩手之脈。如出兩人。</p>
<p>或乍大乍小。乍數乍遲。此謂祟症。又有老幼之脈不同。土地方宜不同。人之長短肥瘦不同。診法隨時而斟酌。然而脈症相應者常也。其不相應者變也。知其常而通其變。診家之要。</p>
<p>庶不相遠矣。蓋其要領總不出胃神根三字而已。三字無虧。則為平人。若一字乖違。則病見矣。若一字全失。則危殆矣。必須胃神根三字俱得。乃為指下禎祥之兆。此乃診家之大法。</p>
<p>偶為筆之於書以備參考。</p>
<h3>十二經考正</h3>
<p>內左寸手少陰心　外左寸手太陽小腸內左關足厥陰肝經　外左關足少陽膽經內左尺足少陰腎　外左尺足太陽膀胱內右寸手太陰肺　外右寸手陽明大腸內右關足太陰脾　外右關足陽明胃經內右尺足少陰腎命門相火　外右尺手少陽三焦</p>
<h3>分發臟腑辨正</h3>
<h4>王叔和分發臟腑法</h4>
<p>左寸（內心外小腸）　左關（內肝外膽）　左尺（內腎外膀胱）</p>
<p>右寸（內肺外大腸）　右關（內脾外胃）　右尺（內腎命門外三焦）</p>
<h4>張景岳分發臟腑法</h4>
<p>左寸（內心外膻中）　左關（內肝外膽）　左尺（內腎外膀胱大腸）</p>
<p>右寸（內肺外胸中）　右關（內脾外胃）　右尺（內腎外小腸）</p>
<h4>李頻湖分發臟腑法</h4>
<p>左寸（內心外膻中）　左關（內肝外膽）　左尺（內腎外膀胱小腸）</p>
<p>右寸（內肺外胸中）　右關（內脾外胃）　右尺（內腎外大腸）</p>
<h4>內經分發臟腑法</h4>
<p>左寸（內心外膻中）　左關（內肝外膈）　左尺（內腎外腹中）</p>
<p>右寸（內肺胸中以侯外）　右關（內脾外胃）　右尺（內腎外腹中）</p>
<p>以上王氏張氏李氏以及內經分發臟腑圖式。各有辨論。余以王氏為是。備錄參考以廣其義。</p>
<p>九宮八風圖式坤　離　巽兌　中　震乾　坎　艮凡冬至之日。太一星居坎葉蟄宮。四十六日。交立春居艮天留宮。四十六日。交春分居震蒼居坤坎宮門。</p>
<p>凡太一居何宮。風向後面來為實風向面前來為虛風。如太一在坎。雖大剛風為實風。不能害脈）正嬰兒風。</p>
<p>東南風為弱風從午方來為虛風。余仿此。</p>
<p>又太一星。冬至日居坎葉蟄宮。第二日居艮天留宮。三日在震。四日在巽。五日在離。</p>
<p>六日來為又三盛者乘年之盛。（十二月大為年盛）逢月之滿（月大為月滿）得時之和（當溫而溫為時之和）</p>
<p>而寒為失和之</p>
<p><a href="_files/pyfjy1.bmp">司天在泉手圖</a></p>
<p>（如寅申之年。少陽司天。厥陰在泉。是一陰與一陽合德。天數一。地數一也。余例此。</p>
<p>司兮注曰。子午之年。少陰司天。熱淫所勝平以鹹寒。佐以苦甘。以酸收之。寒反勝之。治以甘以淡佐以苦佐以酸平以辛風淫所○子午丑未治以治以酸收佐以火淫於</p>
<h3>又十二經氣旺時歌</h3>
<p>肺寅大卯胃辰宮　脾巳心午小未中　申胱酉腎心包戌　亥焦子膽丑肝通（大大腸也小小腸也關衝</p>
<p><a href="_files/pyfjy2.bmp">掌中針刺圖</a></p>
<p>（少商穴屬肺。在大指內側。去甲角一分。少衝穴屬小腸。在小指內側。去甲角一分。</p>
<p>神門等症二陰南政考　甲己之年曰南政。以司天為主。如甲子甲午年。少陰司天。則兩寸不應。</p>
<p>知己泉。</p>
<p>三陰北政考　乙丙丁壬癸辛戌庚之年曰北政。以在泉為主。如乙卯乙酉年。少陰在泉。</p>
<p>兩寸（如北政三陰司天。少陰主兩尺不應。厥陰主左尺不應。太陰主右尺不應也。三陰明而三陽在其中矣。）</p>
<p>太一者。貴人之名也。司天與運氣同形。又合地支所屬同形。即太乙天符也。曰中者。</p>
<p>言得酉支中天符曰中執法。司天與運氣同符曰天符。如戊寅之日。戊化為火。少陽相火司天。司天之火與化氣之火同符曰天符。經云。中執法者。其病速而危。余仿此。</p>
<p>中歲會曰中行令。又曰中歲直。運氣所屬與地支所屬同類。謂之歲會。如乙酉日。乙化為金以上三條。可決病之輕重緩急。宜照逐日干支排算。其化氣司天之法。與排年分氣運同法。</p>
<p>司天在泉客氣圖太陰　少陽　少陰　陽明　厥陰　太陽　厥陰為一陰。少陰為二陰。太陰為三陰。少陽為一假如子午之年。少陰司天。陽明在泉。以在泉為主氣。二陽生三陽。三陽為地之客氣。</p>
<p>三陽</p>
<p><a href="_files/pyfjy3.bmp">六氣圖注</a></p>
<p>（六氣注云。初之氣自大寒至春分。二之氣自春分至小滿。三之氣自小滿至大暑。四之氣自復始內經六氣論云。君火之右。（君火者少陰也）退行一步。相火治之。（相火者少陽也退行一步（土一步。</p>
<p>六氣循</p>
<h4>五運引藥法</h4>
<p>甲己合而化土。乙庚合而化金。丙辛合而化水。丁壬合而化木。戊癸合而化火。</p>
<p>土運之歲。（引以人中黃）金運之歲。（引以知母桔梗）水運之歲。（引以桂枝木通）木運之歲。</p>
<h2>卷二</h2>
<h3>中風</h3>
<p>中風之證。古人皆謂外來有餘之邪。及劉河間出。以中風癱瘓者。非肝木之風實。亦非外中熾怫俗云或然賊風乘虛而中滯九竅。故性命中風邪。惟河間作然有地氣之不同虛。風愈盛也。</p>
<p>足不仁。氣虛則又自王安道出。</p>
<p>然皆曰中風非風挾暑即為暑風。</p>
<p>因內風以召外風即三家中風非風之意爾。故治風之法。必由血氣之偏勝求之。如氣虛者。以補氣為主。</p>
<p>祛風氣血兼調。</p>
<p>由。加以豁類中。而概吸不相接續亦無如之重而治。</p>
<p>雖未能活</p>
<h4>星附六君子湯</h4>
<p>治肥人氣虛挾痰。右手足麻木。神迷欲厥之症。</p>
<p>黨參（三錢）　白朮（二錢）　茯苓（三錢）　炙甘草（五分）　陳膽星（八分）　竹節白附子（酒炒八分）　薑半夏（一錢五分）　橘紅（八分）　加薑三片。不渴。加廣木香（五分）</p>
<p>治卒中痰迷尤佳。</p>
<h4>二陳湯</h4>
<p>治氣盛痰多。中焦痞滿。</p>
<p>薑製半夏（一錢五分）　陳皮（一錢）　茯苓（三錢）　甘草（蜜炙一錢）加竹茹（一團）　枳實（一錢）　名溫膽湯。治同。</p>
<h4>小續命湯</h4>
<p>治太陽中風剛柔二痙。口眼　僻。脈浮緊者宜之。並治六經中風等症。</p>
<p>桂枝（一錢）　麻黃（去根節八分）　防風（一錢五分）　黨參（三錢）　白芍（酒炒一錢）　杏仁（分）　蜜炙甘</p>
<h4>大秦艽湯</h4>
<p>治血虛中風。脈浮而洪。唇燥頭疼。口渴身痛之症。</p>
<p>秦艽（三錢）　羌活（一錢）　獨活（一錢）　防風（一錢）　川芎（一錢）　白芷（一錢）　酒炒黃芩歸（一錢酒洗）</p>
<h4>通關散</h4>
<p>治卒中風邪。不省人事。昏迷欲絕。牙關緊閉。湯水不下等症。</p>
<p>細辛（洗去土）　豬牙皂（去子各一錢）共為細末。吹入鼻孔。得嚏可治。無嚏不治。</p>
<p>一方加生半夏一錢共末吹之。</p>
<h4>烏梅擦牙方</h4>
<p>治中風口噤不開。</p>
<p>烏梅四枚。焙乾為末。擦於牙齦。涎出即開。</p>
<h4>轉舌膏</h4>
<p>治中風螈　。舌強不語。</p>
<p>連翹（一錢）　山梔　薄荷　淡竹葉　黃芩　桔梗（各五分）　甘草　石菖蒲　遠志肉（各四分）</p>
<p>氣血舌可</p>
<h4>天麻丸</h4>
<p>治風由濕熱而生。熱勝則痛。濕勝則重。此系養血清熱。滲濕治風之法。（一方加六兩）</p>
<p>煨天麻　懷牛膝（酒焙）　川萆　元參（各六兩）　杜仲（酒炒七兩）　附子（泡一兩）　羌活（十兩）　當歸（十兩）　生地黃（十六兩）為末。煉蜜為丸。如梧子大。每服五十丸。</p>
<p>溫酒送下。</p>
<h4>丸</h4>
<p>治風寒濕合而成痹。足不能行者。</p>
<p>用　草一味。五月五日。或六月六日采葉。九蒸九晒。用酒蜜蒸晒。晒乾為末蜜丸。</p>
<p>如</p>
<h4>二丹丸</h4>
<p>治中風神志不安。怔忡健忘。</p>
<p>丹參　天冬　熟地黃（各一兩五錢）　甘草（一兩）　麥冬（去心）　茯苓（各一兩）　遠志（去心）</p>
<h4>地黃飲子</h4>
<p>（河間）</p>
<p>治四肢緩縱不收。語言不出。四肢不收曰風痱。口不能言曰風喑。系水勝。此方引火歸水。水生木而風熄也。</p>
<p>熟地（八錢）　山萸肉（一錢）　石斛（三錢）　麥冬（去心二錢）　北五味（四分）　石菖蒲（四分）</p>
<p>錢）　巴戟肉（二</p>
<h4>獨活湯</h4>
<p>（丹溪）</p>
<p>治螈　昏憒。血虛風盛。心神不寧。</p>
<p>獨活　羌活　防風　川芎（各一錢）　當歸（三錢）　人參　薑半夏（各一錢）　細辛　石菖蒲（煎服。</p>
<h4>順風勻氣散</h4>
<p>治　僻偏枯。口舌難言之症。</p>
<p>白朮（二錢）　烏藥（一錢）　煨天麻（一錢）　白芷　人參　蘇葉　木瓜　青皮（炒各一錢）</p>
<p>炙</p>
<h4>資壽解語湯</h4>
<p>治中風。脾腎兩虛。木旺風盛。牙關緊急。舌強難言。半身不遂等症。</p>
<p>羌活（一錢五分）　泡淡附子　防風　煨天麻（各一錢）　羚羊角（鎊一錢）　棗仁（一錢）</p>
<p>肉桂</p>
<h4>補偏愈風湯</h4>
<p>（自製）</p>
<p>治氣血虛弱。內風沸騰。不拘左偏右偏。兩手足俱廢之症。總以氣血兼血。血活。風自滅矣。</p>
<p>人參（三錢）　熟地黃（六錢）　茯苓（三錢）　生黃　（六錢）　炙黃　（三錢）　白朮（二錢）</p>
<p>赤錢半）　桂枝</p>
<h4>九味羌活湯</h4>
<p>治中風初起挾寒。寒熱往來欲痙者。</p>
<p>羌活　防風　蒼朮（各一錢）　細辛　白芷（各五分）　川芎　黃芩（酒炒各一錢半）　生地黃（</p>
<h4>人參敗毒散</h4>
<p>治中風挾暑。有汗惡風。</p>
<p>人參（一錢五分）　茯苓（三錢）　生甘草（八分）　枳殼　桔梗　柴胡　前胡　羌活　獨活川</p>
<h4>羌活勝濕湯</h4>
<p>治中風挾濕化腫。或風濕搔癢之症。</p>
<p>羌活　獨活（各一錢）　川芎　甘草　防風（各八分）　蔓荊子（一錢）　本（五分）</p>
<p>水煎。</p>
<h4>滋燥養榮湯</h4>
<p>治風燥症。唇焦無汗干枯之症。</p>
<p>熟地（八錢）　生地　秦艽（各三錢）　黃芩（酒炒）　白芍（各一錢）　當歸（三錢）</p>
<p>防風甘草</p>
<h4>瀉黃散</h4>
<p>治風挾火。口瘡胃熱肌熱之症。</p>
<p>生甘草（一錢）　防風（一錢）　梔子（三錢）　石膏（二錢）　藿香（二錢）加竹葉十片。青果二枚。或加銀花（三錢）　生地（三錢）</p>
<h3>癘風</h3>
<p>癘風者。即八方之賊風也。山嵐毒霧之氣。萬物皆受其害。不能長養萬物。人在氣交之中。</p>
<p>須辨醉仙再造其邪為在為乎救或空風邪營衛五死血眉充溢於經絡之酒。忌毒戒怒</p>
<h4>祛風丸</h4>
<p>生黃　防風　杞子　枳殼　赤芍　甘草　生地黃　熟地黃　地骨皮（各等分）煉蜜為丸。每丸重一錢。每服一丸。開水化服。</p>
<h4>四神丸</h4>
<p>久服可愈。</p>
<p>當歸　生地黃　元參　羌活（各等分）蜜丸如彈子大。每丸二錢。每服一丸。溫酒沖服。</p>
<h4>醉仙散</h4>
<p>麻仁　牛蒡子　杞子　蔓荊子（各一兩同炒）　白蒺藜　苦參　栝蔞根　防風（各五錢）</p>
<p>上藥八味。為末。每用藥末一兩五錢。加入輕粉二錢。拌勻。大人用藥末一錢。午前空腹。</p>
<p>醉。</p>
<p>之後</p>
<h4>再造散</h4>
<p>廣鬱金（五錢）　生軍（一兩）　白丑（六錢半生半炒）　皂莢刺（一兩）共為細末。</p>
<p>每服二錢。臨臥時冷酒調下。以淨桶伺候。泄出黑蟲。系多年也。如不黑而赤。</p>
<p>是近年之蟲。越三日又進一服。以蟲盡為度。則根絕矣。後用養血疏風之劑。調養百日。</p>
<p>又中穴在腿彎上青筋處）</p>
<h4>脈候</h4>
<p>癘風之脈。　宜緩與和。　洪數為劇。　沉微則魔。　若遇牢革。　死也如何。　雖良醫。　不必摩挲。　中風之脈。　亦看斯歌。</p>
<h3>傷寒</h3>
<p>（附類傷寒條辨）</p>
<p>傷寒者冬月傷寒之症也。凡霜降以後。天氣嚴凝。萬物收藏。人在氣交之中。寒肅之氣。</p>
<p>乘故再傳。故傷寒二日。邪在足陽明胃經也。故目痛鼻干。唇燥。漱水不欲咽。脈長。宜葛根湯以解肌達表則愈。如不愈。即傳。故三日邪在足少陽膽經也。其目眩。口苦。耳聾。胸滿痛。寒熱往來。頭汗而欲嘔。脈弦。宜小柴胡湯和解之。不愈。又傳。故四日邪在足太陰經也。腹滿而痛。咽乾。脈實者。宜大柴胡湯微利之。不愈。又傳。故五日足少陰腎經受口燥咽痛。渴而下利清穀。脈沉而緊。宜小承氣湯下之。如咽痛甚。宜甘桔湯以開提陷邪。又不愈。則又傳矣。故六日足厥陰肝經受之。少腹滿。煩躁。厥逆。消渴。舌卷囊脈伏或沉而帶弦。宜大承氣湯下之。六日傳經盡。病當愈。不愈。必至再傳。傳至十二更不愈。勢必又傳而劇矣。若夫太陽傷風。與傷寒無異。惟惡風有汗與傷寒異耳。初起枝湯以補表虛。其變症與傳經證治小異也。因風傷衛。寒傷營。故治傷風必以桂枝湯為其變症不出氣分之病。宜疏達為穩。加減之藥。以芩芍羌防桑葉鉤藤之屬可也。然仲景風寒為兩症。但以有汗為表虛。無汗為表實。脈緩為風。脈緊為寒。惡風為風。惡寒為以此為辨。可見寒非風不作。風非寒不發。感之者有傷氣傷營之不同耳。其脈緩自汗惡虛邪。以桂枝湯治之。如八九日不解。如瘧狀面熱身癢。以不得小汗故也。宜桂麻各半如無汗惡寒脈浮緊者。宜大青龍湯主之。如乾嘔而咳煩躁者。不得安臥。宜小青龍湯主又仲景金匱要略。有太陽病發熱無汗。反惡寒者。名曰剛痙。太陽病。發熱汗出而不惡名曰柔痙。並不言麻黃桂枝之治法。大都脈不見緊。脈不見緩。故不立法也。又曰太陽證備。身體強KT　KT　然。脈反沉遲。此為痙。栝蔞桂枝湯主之。可以知沉脈為痙病之別也其剛痙柔痙兩條不言脈。故不言方耳。又太陽病無汗而小便反少。氣上衝胸。口噤不得語。</p>
<p>兩乃病一之乎少者之症劑。</p>
<p>類傷疫系陰皆方順世而直中一症。雖未發明。於方論上　繹及之。胡為乎來哉。噫。仲景之緒。賴以不墜者。晉太學者。取其法而已矣。如此。則可與言醫爾。</p>
<p>愚按近世時醫。必按節氣以治病。當春時之病曰春溫。或指曰風溫。夏病曰熱病。或指為暑病情節之不邪特</p>
<h4>麻黃湯</h4>
<p>治傷寒太陽經症。表實無汗。</p>
<p>麻黃（七分）　桂枝（六分）　杏仁（去皮尖二錢）　炙甘草（五分）</p>
<h4>桂枝湯</h4>
<p>治太陽症。表虛有汗。兼治痙症脈遲者。</p>
<p>桂枝（一錢）　白芍（一錢）　炙甘草（五分）加薑三片。棗三枚煎。此方加栝蔞根二錢。名栝蔞桂枝湯。</p>
<h4>葛根湯</h4>
<p>治陽明經症。亦治痙症無汗。口噤不得語。</p>
<p>葛根（一錢）　麻黃（五分去根節）　桂枝（八分）　白芍（一錢）　甘草（蜜炙五分）</p>
<p>加薑三片。棗二枚。</p>
<h4>小柴胡湯</h4>
<p>治少陽經症。</p>
<p>柴胡（二錢）　薑半夏（一錢半）　人參（一錢）　炙甘草（五分）　黃芩（一錢五分）</p>
<p>加薑三片。棗二枚。</p>
<h4>大柴胡湯</h4>
<p>治太陰經症。</p>
<p>柴胡（一錢五分）　大黃（四錢）　枳實（一錢）　黃芩（酒炒一錢五分）　薑半夏（一錢五分）</p>
<p>白</p>
<h4>小承氣湯</h4>
<p>治少陰經症。</p>
<p>厚朴（一錢）　枳實（一錢）　大黃（三錢）水煎。加羌活（一錢）名三化湯。治大便風秘。</p>
<h4>甘桔湯</h4>
<p>治少陰咽痛。</p>
<p>生甘草（一錢）　桔梗（二錢）可加竹葉兩片。青果二枚。</p>
<h4>大承氣湯</h4>
<p>治厥陰經症。舌卷囊縮不下。必死者。</p>
<p>大黃（四錢）　枳實（二錢）　芒硝（　即元明粉二錢）　厚朴（一錢五分）用急流水煎。　亦治太陽痙症　齒口噤。臥不著席者。此亦不下必死之症。故可與之。</p>
<h4>桂麻各半湯</h4>
<p>治太陽症。服桂枝湯不愈。面熱身癢。不得小汗。如瘧狀者。</p>
<p>桂枝（八分）　白芍（一錢）　炙甘草（五分）　麻黃（去根節七分）　杏仁（去皮尖一錢）加薑三片。棗二枚。</p>
<h4>大青龍湯</h4>
<p>治太陽症。無汗惡寒。脈浮緊。</p>
<p>桂枝（八分）　麻黃（去根節六分）　杏仁（去皮尖二錢）　炙甘草（七分）　生石膏（二錢）加棗二枚。薑三片。</p>
<h4>小青龍湯</h4>
<p>治太陽變症。乾嘔而咳。煩躁不得臥。</p>
<p>乾薑（八分）　桂枝（八分）　麻黃（六分）　白芍（一錢二分）　炙甘草（五分）　細辛（五分）　薑</p>
<h4>九味羌活湯</h4>
<p>治兩感症之緩症。</p>
<p>羌活（一錢）　防風（一錢）　細辛（五分）　蒼朮（一錢）　白芷（五分）　川芎（八分）　黃芩（一</p>
<h4>沖和靈寶飲</h4>
<p>治陰陽兩感。（不拘太陽少陽陽明太陰少陰厥陰等症）</p>
<p>生甘草（一錢）　防風（一錢五分）　生地（四錢）　柴胡（一錢五分）　細辛（四分）</p>
<p>白芷（八分）</p>
<h4>麻黃葛根湯</h4>
<p>治兩感表症多。裡症少者。</p>
<p>麻黃（去根節六分）　葛根（一錢）　白芍（一錢）　淡豆豉（二錢）加蔥白三莖煎。</p>
<h4>調胃承氣湯</h4>
<p>治兩感表緩裡急者。</p>
<p>元明粉（三錢）　大黃（五錢）　炙甘草（五分）水三杯煎。</p>
<h4>加味香蘇飲</h4>
<p>治太陽經症。無汗不得發。有汗不能止者。</p>
<p>紫蘇（一錢）　陳皮（一錢）　製香附（一錢）　炙甘草（七分）　荊芥（一錢）　秦艽（一錢）</p>
<p>蔓荊食腹滿加山楂神麯（各二錢）○喘咳加桔梗（一錢）嘔術藿香（各一錢）口渴加知母（一錢）石膏（二錢）其一凡冬月溫邪。名曰冬溫。其症脈虛身熱。微有咳逆。　然汗出。宜補其表。以御其邪。</p>
<p>古邪受脈發症以由</p>
<h4>桂枝白虎湯</h4>
<p>治冬溫畏寒汗出。脈虛身熱。微咳。</p>
<p>桂枝（七分）　石膏（三錢煨）　知母（一錢）　炙甘草（五分）加粳米一撮。或加黃芩白芍各一錢。竹葉十片。</p>
<h4>薄荷甘桔杏子湯</h4>
<p>（自製）</p>
<p>治冬溫初起。咳嗽。微熱。微汗。脈浮大者。</p>
<p>薄荷（一錢）　甘草（五分）　桔梗（一錢五分）　杏仁（去皮尖三錢）煎。</p>
<h4>黃連阿膠梔子湯</h4>
<p>（自製）</p>
<p>治溫邪咯血鼻血。</p>
<p>黃連（八分）　阿膠（蛤粉炒一錢半）　焦梔子（三錢）　竹葉（二十片）</p>
<h4>疏斑湯</h4>
<p>（自製）</p>
<p>治溫邪發斑。發疹。發　。神昏欲化內閉者。</p>
<p>桔梗（一錢）　生甘（八分）　銀花（三錢）　連翹（一錢）　黃柏（八分）　青黛（五分）　省頭草（一凡春溫一症。其說有二。經云。冬不藏精。春必病溫。此言冬時因勞倦內傷。或因酒色傷由內黃芩不即風。</p>
<p>解。</p>
<p>（見冬溫條）</p>
<h4>黃芩白芍湯</h4>
<p>治春溫之總治。</p>
<p>黃芩（一錢五分酒炒）　酒炒白芍（一錢五分）清煎。如咳嗽加杏仁（光三錢）　川貝（一錢）</p>
<p>桑葉（一錢）如氣急痰多。加蘇梗桔梗橘紅（各一錢）如咯血。鼻血。發斑。發疹。發　。</p>
<p>神昏欲閉等情。</p>
<h4>黃芩桔梗湯</h4>
<p>（自製）</p>
<p>治春溫初起。頭脹身熱。惡熱。微汗。舌紅脈大者。</p>
<p>黃芩（一錢炒）　桔梗（一錢）　白芍（八分）　川貝母　知母（炒各一錢）　薄荷（五分）　神麯（一凡溫熱之症。亦冬不藏精。至春不發。至立夏後。夏至前。感溫熱之氣而病作者。名曰溫虛。</p>
<p>是堅也</p>
<h4>芩芍解毒湯</h4>
<p>（自製）</p>
<p>治溫熱初起之症。</p>
<p>黃芩（酒炒二錢）　白芍（二錢）　川連（八分）　焦梔子（三錢）　炒川柏（一錢五分）　銀花（三</p>
<h4>甘露飲</h4>
<p>（自製）</p>
<p>存陰清邪。以復胃中津液。</p>
<p>大生地（五錢）　鮮生地（六錢）　天冬　麥冬（去心各三錢）　鮮石斛（四錢）　黃芩（炒一錢）</p>
<h4>炙甘草湯</h4>
<p>（即復脈湯）</p>
<p>治邪去陰虛。自汗潮熱。口微渴。</p>
<p>炙甘草（一錢）　阿膠（一錢五分）　麻仁（炒三錢）　桂枝（三分）　生地（五錢）　麥冬（去心三一凡夏月頭痛發熱。項強口渴。不惡寒。反惡熱。此陰虛陽勝。感熱邪而起。較之暑邪。</p>
<p>變主</p>
<h4>柴葛解肌湯</h4>
<p>柴胡（一錢五分）　葛根　赤芍　黃芩　知母　貝母（各一錢）　炙甘草（八分）　生地（四錢）</p>
<h4>保陰湯</h4>
<p>（自製）</p>
<p>南沙參（三錢）　麥冬（去心三錢）　五味子（九粒）　桔梗（一錢）　蘇梗（一錢五分）　黃芩（一加竹葉二十片。生薑一片。</p>
<p>一凡秋間寒暑互傷。頭痛發熱。口不大渴。惡寒無汗。舌白而滑。欲作痙症。此先受暑以傷因氣指正</p>
<h4>清燥解肌湯</h4>
<p>（自製）</p>
<p>治類傷寒無汗者。</p>
<p>冬桑葉（一錢五分）　葛根（一錢）　麥冬（去心）　杏仁（光各三錢）　大麻仁（炒三錢）　石膏（</p>
<h4>清燥救肺湯</h4>
<p>治類傷寒有汗者。</p>
<p>桑葉（三錢）　杏仁（光）　麥冬（去心各三錢）　石膏（二錢）　甘草（五分）　大麻仁（炒三錢）</p>
<p>一凡痙症角弓反張。系木來克土。不論有汗無汗。以六一順氣湯下之。此治溫病痙症。</p>
<p>形類栝蔞明症宜</p>
<h4>六一順氣湯</h4>
<p>（吳氏加減）</p>
<p>治瘟病發痙者。</p>
<p>僵蠶（酒炒三錢）　蟬蛻（十個）　制軍（四錢）　元明粉（二錢）　柴胡（一錢五分）</p>
<p>川連黃芩沖。</p>
<p>以上溫症及類傷寒症。已具大略。以備參考。所有風溫一症。與冬溫同類。故不復贅。</p>
<p>又腳四逆厥陰</p>
<h4>四逆散</h4>
<p>柴胡　赤芍　枳實　甘草（炒各等分）為末。開水調下。每服四錢。加酒少許。</p>
<h4>四逆湯</h4>
<p>乾薑（五錢）　泡淡附子（五錢）　炙甘草（二錢）水煎。冷服。如面赤格陽於上者。</p>
<p>加蔥白以通陽。如脈伏不出者。加人參五味子以復脈。嘔</p>
<h4>當歸四逆湯</h4>
<p>當歸　桂枝　芍藥　細辛（各一錢）　炙甘草　木通（各二錢）加大棗四枚煎。如內有久寒者。加生薑三片。泡淡。吳茱萸（八分）水煎溫服。</p>
<p>一凡傷寒合病並病。必有兩經之症象。或兼兩經之形色脈候可見。宜兩經之方藥。如太陰太一凡陽明腑症。譫語。便秘。口燥唇裂。兩目如火。循衣摸床。急下之以發　疹。余以腑陽</p>
<h4>涼膈散</h4>
<p>元明粉（三錢）　大黃（五錢）　連翹（二錢）　焦梔子（三錢）　黃芩（一錢五分）　炙甘草（五分）</p>
<p>梗。</p>
<p>治同。</p>
<p>一凡太陽腑症。膀胱之氣不化。口渴。宜五苓散以化氣治之。如熱結膀胱。小腹脹痛如狂。</p>
<h4>五苓散</h4>
<p>桂枝（八分）　豬苓（四錢）　茯苓（三錢）　白朮（二錢）　澤瀉（三錢）水煎。</p>
<h4>桃仁承氣湯</h4>
<p>桃仁（十粒）　元明粉（三錢）　大黃（四錢）　桂枝（八分）　炙甘草（五分）水煎。</p>
<p>或加澤蘭二錢以行氣分。</p>
<p>脈候傷寒之脈。緩大者昌。沉微小促。症反倉皇。洪緊滑數。初病則康。若遇日久。何敢云臧。溫邪脈象。微澀者殃。弦緊則甚。非躁即狂。若云類症。</p>
<p>瀉宜涼。陰脈見之。溫通之方。症象一反。不必商</p>
<h3>暑症</h3>
<p>（附中暑　冒暑　傷暑　症　暑風　伏暑　暑厥）</p>
<p>暑者。後夏至而起。因天氣一動。而蒸淫熱迫。地氣一升。而穢濁上騰。人之患也。由口鼻其病若不能外衛。先有伏寒在內。一觸暑邪。即暈眩昏迷。不省人事。指甲青。唇口青。肢冷如冰。自汗如珠。凝而不流。系內受伏寒。外應暑熱。脈必雙伏。法在不治。危在旦夕。急用通關散以吹入鼻中。得嚏則生。無嚏則死。即用大順散為主。加附子以祛內寒。加川連以清心營。或用獨參湯以先扶正氣。然後用藥為妥。緩則不救。○冒暑者。必奔走道路。吞飢受餓。氣不充體。暑邪上冒。頭目眩暈。心神慌亂。壯熱氣粗。脈必浮滑。急用黃連香薷飲。以溫散之。或有腹瀉者。以縮脾飲清之。凡世俗間動云痧氣。妄加針刺。傷其營血。致血不榮筋。有昏痙轉筋之變。而不可救藥。宜加察之可也。○夫傷暑者。因受暑而傷。暑熱傷氣。</p>
<p>一受暑邪。不急調治。漸入營分。陽已外泄。陰氣更被耗散。陰陽兩虛。形若虛勞。內熱外寒。脈必虛數。東垣清暑益氣湯最妙。如胃中痞滿者。去黃　甘草可也。○　者。是重傷於暑也。金匱云。太陽中　。發熱惡寒。身重而疼痛。其脈弦細芤遲。小便已。洒洒然毛聳。</p>
<p>手足逆冷。小有勞。身即熱。口開。前齒板燥。若發其汗。則惡寒甚。加溫針。則發熱甚。</p>
<p>數下之。則淋甚。以白虎加人參湯。最為妥恰。然後人鮮有增減。宜細玩之。○暑風者。是夏月傷風也。宜香葛湯治之。○又有伏暑之病。古所未著。並無發明。近時所云伏暑者。即葉天士先生為伏氣之疾。從秋分以前。暑邪未消。至秋分以後。而患暑病。名為伏氣。又云秋時晚發即俗名伏暑之病耳。其脈滯。其形怯。口舌黏膩。或微有寒。或單發熱。熱時脘痞氣窒。渴悶煩　。每至午後。則病甚矣。入必三候外邪氣方解。日減一日而始全愈。</p>
<p>潤燥清氣。最為妥洽。○又暑厥之病。</p>
<p>而升。陽氣升騰。陰熱內灼。自下而自製抑陽清暑湯治之。大忌發散峻表</p>
<h4>自製清肺解暑湯</h4>
<p>治暑外受而頭脹發熱。</p>
<p>桔梗（二錢）　藿香（二錢）　栝蔞皮（三錢）　滑石（三錢）　連翹（二錢）加鮮荷葉一角。○如脘悶加白豆蔻（一錢研沖）如煩渴加石膏（二錢）　焦山梔（三錢）如嘔者加薑半夏（一錢）　川連（七分）如頭汗多者。加竹葉二十片。如邪入營分。心神慌亂。囈語便秘至寶丹方見卷三厥症蘇合丸方見厥症通關散見中風症</p>
<h4>大順散</h4>
<p>治中暑症。</p>
<p>甘草　砂仁　杏仁（去皮尖）　炒乾薑（各二錢）　肉桂末（一錢）共研細末。每服二錢。開水沖服。或加泡淡附子川連（各一錢）和前藥共為末。每服二錢。沖</p>
<h4>黃連香薷飲</h4>
<p>活人治暑熱口渴心煩。</p>
<p>黃連　香薷　厚朴（各一錢）　扁豆（二錢）加竹茹（一團）　水煎服。</p>
<h4>縮脾飲</h4>
<p>清暑止渴。治嘔止瀉。</p>
<p>砂仁末（六分沖）　煨草果仁（一錢）　烏梅（一枚）　炙甘草（五分）　葛根（一錢）</p>
<p>扁豆（三錢）</p>
<h4>清暑益氣湯</h4>
<p>治暑邪傷氣。</p>
<p>東洋參（一錢）　炙甘草（五分）　炙黃蓍（一錢）　當歸（二錢）　去心麥冬（三錢）</p>
<p>北五味（九（八分）　蒼朮　白朮（</p>
<h4>人參白虎湯</h4>
<p>治　症。</p>
<p>東洋參（一錢五分）　石膏（三錢）　炒知母（一錢）　生甘草（五分）加陳粳米一撮。</p>
<h4>香葛湯</h4>
<p>治夏月傷風。</p>
<p>香薷　葛根　厚朴（各一錢）　扁豆（二錢）水煎。</p>
<h4>藿薷湯</h4>
<p>治暑月吐瀉。</p>
<p>香薷（一錢）　藿香（一錢）　扁豆（三錢）　厚朴（一錢）　大腹皮（一錢五分）　紫蘇（一錢）　桔梗（一錢）　枳殼（八分）　陳皮（八分）　茯苓（三錢）　白朮（一錢）　半夏曲（一錢）　白芷（八</p>
<h4>自製青蒿芩芍湯</h4>
<p>治伏暑症之法。</p>
<p>青蒿（一錢）　白芍　黃芩（各錢半）　知母　貝母（各一錢）　生地（三錢）　杏仁（光三錢）</p>
<h4>蒼朮白虎湯</h4>
<p>治暑厥症。亦治中惡。</p>
<p>蒼朮（二錢）　石膏（三錢）　炒知母（一錢）　生甘草（五分）水煎服。或加滑石（三錢）桂枝（三分）治同。</p>
<h4>自製抑陽清暑湯</h4>
<p>治暑厥面赤口渴者。</p>
<p>石膏（三錢　）　秦艽（二錢）　白芍（一錢）　赤小豆（一錢）　石決明（六錢生）　琥珀（八分）</p>
<p>凡暑厥之症。其危已甚。如不及投劑。用蘇合丸開水沖就灌下。或以蘇合丸擦牙。使香氣入無津脈候　暑者之脈。六部皆虛。傷其氣分。右寸必虛。傷及血分。左寸必虛　若見浮數陽氣不舒。兩尺見洪。熱深難除。右關之洪。停積何如。陰脈為吉。陽脈難祛。左關若弦。</p>
<p>非瘧誰與。緊革牢促。生意有諸。此是死脈。命將安予。脈虛身熱。載在古書。更察根氣。</p>
<p>兩尺當紓。紓為和緩。根蒂獨居。脈象如</p>
<h3>霍亂</h3>
<p>霍亂者。揮霍發亂也。成氏曰。病有干霍亂。有濕霍亂。干霍亂死者多。濕霍亂死者少。</p>
<p>蓋霍亂擾悶吐利作。</p>
<p>而後四肢必余治病數十載。於此症最為決定。靡不應手而瘥。此即成無己所云濕霍亂也。又有干霍亂一症。腹痛如絞。欲吐不吐。欲瀉不瀉。口渴。肢冷如冰。唇青指甲青者。此木旺土敗之候。</p>
<p>法在不治。余每選四逆湯與承氣湯並授。使不吐者得吐。不瀉者得瀉。一吐一瀉。病勢自緩。更進黃連理中湯以和其中土。活者多而死者少也。如濕霍亂吐利並作。腹痛如絞。肢冷。</p>
<p>汗退場門渴。以自製黃連和中湯治之。凡傷寒吐利並作。邪在上者。以黃連瀉心湯治之。邪在下者。黃連五苓散治之。邪在中焦者。以連附理中湯治之。然干霍亂與濕霍亂二症。雖口中大燥大渴。忌食生冷水果茶湯等物。沾唇則成不起之症也。何則。因中土已傷。更加生冷水飲。傷其真陽。遏其邪氣。焉有生機者哉。此懇切之語。勿以為誣而忽之。</p>
<h4>理中湯</h4>
<p>東洋參（一錢）　炮薑（八分）　炙甘草（五分）　白朮（二錢土炒）水煎。○如加黃連薑汁炒一錢。名黃連理中湯。○加泡淡附子黃連（各一錢薑汁炒）名連附理</p>
<h4>黃連瀉心湯</h4>
<p>黃連（薑汁炒一錢）　薑半夏（一錢五分）　酒炒黃芩（一錢）　乾薑（八分）　人參（一錢）　炙甘</p>
<h4>黃連五苓散</h4>
<p>（自製）</p>
<p>黃連（淡吳茱萸六分拌炒一錢）　豬苓（三錢）　茯苓（三錢）　澤瀉（三錢）　白朮（二錢）　桂枝</p>
<h4>保和湯</h4>
<p>（自製）</p>
<p>治霍亂後調養脾胃。</p>
<p>神麯（三錢）　茯神（三錢）　北沙參（三錢）　白芍（一錢）　廣皮（一錢）　山楂炭（三錢）　藿香</p>
<h4>自製四逆承氣湯</h4>
<p>治干霍亂症。</p>
<p>淡附片（二錢）　乾薑（一錢）　炙甘草（五分）　厚朴（一錢五分）　麩炒枳實（二錢）　元明粉（十粒炒去汗）水煎服。</p>
<h4>黃連和中湯</h4>
<p>（自製）</p>
<p>治濕霍亂症。</p>
<p>黃連（一錢吳萸七分拌炒）　薑半夏（一錢五分）　茯神（三錢）　陳皮（一錢）　炙甘草（五分）</p>
<p>薑（一錢）</p>
<p>神泡淡附子（三錢）木瓜（二錢）</p>
<p>（土炒二錢）水煎。冷透與服。徐隨灌。以止為度。使胃氣不通。須待其藥性一得。</p>
<p>平之劑。先為一試。詎不雖快不能追風耳。試問何脈候　霍亂之脈脈宜陽。脈伏應知吐利殃。沉而兼澀胸少滿。緊革弦牢厥勢強。面危候。四逆湯須重用薑。細心擬藥當溫熱。寒冷沾唇不必商。緩小則吉散。定主不祥。緩中有細。病勢無妨。神氣在尺。即可</p>
<h3>濕症</h3>
<p>濕者。不燥之謂也。其質重。其氣濁。其體陰。其性下。有自上自下之殊。自上受者。</p>
<p>霧露病。</p>
<p>亦必陽或化腫脹。或化痰水。治以辛香和脾。溫暖補土為主。其脈短澀者難治。緩大者易醫。弦者木來乘土。滑者水來侮脾。總宜補土為主。如有邪以御邪之法佐之。自無誤治之累矣。金匱云。濕家之為病。一身盡疼。發熱身如熏黃也。濕外盛者。陽必內郁。濕盛故身疼。陽郁故發熱。又云。濕家其人但頭汗出。背張。欲得被覆向火。若下之早則噦。或胸滿小便不利。</p>
<p>舌上如胎者。以丹田有熱。胸上有寒。渴欲得飲而不能飲。則口燥煩也。又云。濕家下之。</p>
<p>額上汗出。微喘。小便利者死。若下利不止者亦死。又有濕兼風者。金匱云。風濕相搏。一身盡痛。法當汗出而解。值天陰雨不止。醫云。此可發其汗。汗之病不愈者何也。蓋發其汗。汗大出。但風氣去。濕氣在。故不愈也。若治風濕者。但微微似欲汗出者。風濕俱去也。</p>
<p>又云。病者一身疼。發熱。日晡所劇者。此名風濕。此病傷於汗出當風。或久傷取冷所致也。可與麻黃杏仁薏苡甘草湯。又有濕溫之病。頭脹耳聾。重感濕邪。濕化火。鼻血出。或有呃忒。咽喉欲閉。系濕邪阻其上竅。名曰濕溫。治以開肺解毒湯。惟濕症最多變幻。尚宜參考古書乃可。</p>
<h4>麻黃加朮湯</h4>
<p>治寒濕在表。身體煩疼。當出微汗。</p>
<p>麻黃（去根節八分）　桂枝（七分）　炙甘草（五分）　杏仁（去皮尖三錢）　白朮（二錢）水煎。</p>
<h4>麻黃杏仁薏苡甘草湯</h4>
<p>麻黃（去根節八分）　杏仁（去皮尖三錢）　苡仁（四錢）　炙甘草（五分）水煎服。</p>
<p>忌風宜避。</p>
<h4>開肺解毒湯</h4>
<p>（自製）</p>
<p>治濕溫咽痛衄血等症。</p>
<p>桔梗　牛蒡子　黃芩（酒炒各一錢五分）　連翹　銀花（各二錢）　赤小豆　生甘草（各一錢）</p>
<h4>防己黃湯方</h4>
<p>治風濕重疼。身重脈浮。汗出惡風。</p>
<p>防己（一錢五分）　炙甘草（五分）　白朮（二錢）　黃　（二錢）加薑二片。棗二枚。</p>
<p>水三杯煎。　如喘者。加蜜炙麻黃（五分）　胃不和。本方加白芍（一錢）</p>
<p>枝（二分蜜炙）下有沉寒。加細辛（四分）服後當坐褥上。令微汗出而瘥。</p>
<h4>桂枝附子湯</h4>
<p>治風濕相搏。身體煩疼。不能自轉側。不渴不嘔。脈虛澀者。</p>
<p>桂枝（一錢）　泡淡附子（二錢）　生薑（五分）　炙甘草（五分）加棗二枚。水煎溫服。</p>
<h4>白朮附子湯</h4>
<p>治風濕之病。大便堅。小便利者。</p>
<p>白朮（二錢）　泡淡附子（二錢）　炙甘草（五分）　生薑（三片）</p>
<h4>苓薑朮桂湯</h4>
<p>治濕傷陽氣。脾虛失運。</p>
<p>茯苓（三錢）　乾薑（一錢）　白朮（二錢）　桂枝（五分）水煎。</p>
<h4>溫中利濕湯</h4>
<p>（自製）</p>
<p>治酒濕傷胃。阻膈欲成噎膈者。</p>
<p>桂枝　乾薑　淡附子　白朮　檳榔　葛花　白蔻仁（沖）　雞內金　陳皮（各一錢）</p>
<p>水煎服。○如大便堅燥。加酒蒸大黃（三錢）大麻仁（三錢）足腫。加木香（一錢）如酒濕成蠱者（五六錢）煎湯代湯劑而服。名腎氣</p>
<h4>自製腎氣湯</h4>
<p>熟地（八錢）　茯苓（四錢）　澤瀉（四錢）　丹皮（三錢）　山萸肉（一錢）　懷山藥（二錢）　淡附骷髏（二兩即萊菔殼）煎湯代水。</p>
<h4>二苓二術湯</h4>
<p>（自製）</p>
<p>治濕症之總方。加減之法在後。</p>
<p>白朮（二錢）　蒼朮（一錢）　白茯苓（三錢）　赤茯苓（三錢）　陳皮（一錢）　天仙藤（二錢）　通水煎服。</p>
<p>如濕邪上受而為外濕者。加羌活獨活防己（各一錢五分）如濕自下受而為內濕者。加木瓜淡附夏（一己生黃　（各二錢）</p>
<p>三片。淡附片二脈候　濕邪之脈。必是沉遲。洪為陽水。澀乃病危。弦則木旺。細為陰衰。初病見洪。</p>
<p>微汗可推。久病見洪。其象非悲。陰見陽脈。治療必佳。陰見陰脈。</p>
<h3>燥症</h3>
<p>燥氣之症。有內傷外感之分。更有上下之殊。內傷之燥。必腎液內耗。精血早奪。治以滋腎胃後以通</p>
<h4>玉女煎</h4>
<p>治陰虛內燥。舌赤口渴。舌痛溺赤。</p>
<p>熟地（六錢）　麥冬（去心四錢）　知母（一錢）　懷牛膝（三錢）　生石膏（三錢）</p>
<p>水煎。</p>
<h4>清燥救肺湯</h4>
<p>（方見傷寒）</p>
<h4>復脈湯</h4>
<p>不論病後病先。無邪熱者宜之。</p>
<p>炙甘草（八分）　麻仁（二錢）　阿膠（一錢）　生地（五錢）　麥冬（去心三錢）　桂枝（五分）　東</p>
<h4>三才湯</h4>
<p>天冬（三錢）　生地（八錢）　東洋參（二錢）水煎。</p>
<h4>生津飲</h4>
<p>（自製）</p>
<p>總治燥症。不拘內傷外感。上燥下燥諸症。加減之法。例於左。</p>
<p>生地黃　鮮生地　天冬　麥冬（去心各一兩）　菊花　淡竹葉　霜桑葉　佩蘭葉（各三錢）　生加青果五枚。水五大碗。煎至一大碗。去渣頻頻而飲。切勿大口而服。故曰飲子。如嗽咳者和勻而（葦脈候　燥火之脈。兩寸必洪。洪而兼數。外火為懷。洪而如弱。虛陽之　。兩尺小搏。</p>
<p>陰病之階。有力則重。芤微乃差。表病之脈。宜浮為佳。有神者吉。</p>
<h3>火症</h3>
<p>火者。南方之氣也。有內外虛實。陰陽表裡之判。五臟為內。六腑為外。內傷之火屬虛。</p>
<p>外之瀉用惟</p>
<h4>加減六味地黃湯</h4>
<p>（自酌）</p>
<p>治五臟六腑。內傷外感。一切火症。宜隨症加減。亦臨症之要也。</p>
<p>生地（八錢）　丹皮（四錢）　茯苓（四錢）　澤瀉（四錢）　懷山藥（二錢）　山萸肉（八分）</p>
<p>水煎。○如欲補水。加知母黃柏。○補金。加百合桔梗。○補肝木。加柴胡巨勝子。○補心。加石菖蒲遠志肉。○脾虛者加白朮。○如欲熄腎火。加知母川柏肉桂（各八分）○泄肺火。</p>
<p>加桑白皮知母羚羊角（鎊各一錢）○瀉心火。加川連（八分）泄肝火。加龍膽草桑葉各一錢。</p>
<p>○瀉脾火。加黃芩（二錢炒）又如虛火。加龜板（六錢）如實火。加犀角羚羊之屬。其余之火。</p>
<p>酌而用之可也。</p>
<h4>火齊湯</h4>
<p>（即黃連解毒湯）</p>
<p>治三焦實火。</p>
<p>黃連（一錢）　黃柏（一錢五分）　黃芩（一錢五分）　梔子（炒三錢）</p>
<p>水煎。○本方加麻黃（五分去根節）淡豆豉（二錢）石膏（三錢）名三黃石膏湯。治傷寒溫毒。○</p>
<h4>白虎湯</h4>
<p>治肺胃之火。屬實火者。</p>
<p>煨石膏（三錢）　知母（一錢）　生甘草（八分）加粳米（一撮）　水煎。○加人參（一錢）名人參白虎湯。○加桂枝（五分）名桂枝白虎湯。</p>
<h4>竹葉石膏湯</h4>
<p>治肺胃虛火。</p>
<p>人參（二錢）　淡竹葉（二錢）　生石膏（二錢）　生甘草（一錢）　麥冬（去心三錢）</p>
<p>薑半夏（一</p>
<h4>涼膈散</h4>
<p>（方見傷寒症）</p>
<h4>甘露飲</h4>
<p>治胃中濕火。</p>
<p>生地黃　熟地黃（各四錢）　天冬　麥冬（去心各三錢）　甘草（八分）　石斛（三錢）</p>
<p>綿茵陳（角（鎊一錢）○又加肉桂（四分）茯苓（三錢）名桂</p>
<h4>清胃散</h4>
<p>治胃火牙痛。或胃中伏火。</p>
<p>升麻（七分）　黃連（一錢）　當歸（三錢）　生地（六錢）　丹皮（三錢）　石膏（三錢）</p>
<p>水煎。</p>
<h4>瀉黃散</h4>
<p>治胃熱口瘡。</p>
<p>甘草（一錢）　防風（一錢五分）　石膏（三錢）　梔子（三錢）　藿香（二錢）</p>
<h4>瀉白散</h4>
<p>治肺火。</p>
<p>桑白皮（二錢）　地骨皮（三錢）　知母（二錢炒）　甘草（一錢）加粳米一撮。○加人參茯苓黃芩。名加減瀉白散。治肺火喘咳者。</p>
<h4>左金丸</h4>
<p>治肝火吞酸。</p>
<p>川連（六分）　泡淡吳茱萸（五分）為末。水法為丸。</p>
<h4>導赤散</h4>
<p>治心移熱於小腸口糜淋痛。</p>
<p>車前子（三錢炒）　木通（一錢）　淡竹葉（二錢）　生甘草（八分）　生地（六錢）</p>
<p>古方無車前子。</p>
<h4>龍膽瀉肝湯</h4>
<p>治肝經實火。</p>
<p>龍膽草（一錢五分）　焦梔子（三錢）　黃芩（一錢五分）　柴胡（一錢五分）　木通（一錢）　甘草水煎服。</p>
<h4>犀角地黃湯</h4>
<p>治胃火血升吐血等症。</p>
<p>犀角（鎊一錢）　生地（八分）　赤芍（一錢五分）　丹皮（三錢）</p>
<p>水煎。○如挾肝火者。本方加柴胡黃芩（各一錢五分）○如陽毒發　。本方加紫草（一錢）竹葉</p>
<h4>羚羊角散</h4>
<p>（自製）</p>
<p>治肝火上升。衄血牙宣等症。</p>
<p>羚羊角（鎊二錢）　杏仁（光三錢）　米仁（三錢）　川芎（一錢）　當歸（三錢）　茯神（三錢）　棗錢）　竹葉（二十片）</p>
<p>脈候　虛火之脈見於沉。數搏陽強久病侵。沉而有力陰光越。滋水潛陽急急斟。兩寸之中形數疾。清心泄肺早宜尋。左關弦洪肝火盛。右關數大胃陽淫。宜泄宜清分表裡。可汗可下察浮沉。實火脈沉為凶象。虛火脈浮病不禁。此中把握分明辨。指下凝神仔細箴。</p>
<h2>卷三</h2>
<h3>瘟疫雜氣說</h3>
<p>瘟疫雜氣者。天地不正之氣也。楊栗山曰。毒霧之來也無端。煙瘴之出也無時。濕熱熏蒸之遂使之體人。</p>
<p>木。</p>
<p>所至可拘瘟疫一症。其雜氣從口鼻吸入。直行中道。流布三焦。或在上焦而未布中焦。或即過中宮而經也往虧景岳下太須寒瘟迷必先見微黃有津。轉為灰黑。或化白砂之苔。或嘔或噦。渾身壯熱。或飲水無度。或一發熱而即露　疹。或一發熱而頭面猝腫。或咽痛口糜。或口鼻出血。或身冷如冰而噴氣如火。或頭痛如破而口痛肢痙切牙。症象不能備舉。在臨診審量。須嗅其口中噴氣如火。而似遏勃氣者。即疫症之大概耳。略具數方。以備選用焉。</p>
<h3>瘟疫正治諸方</h3>
<h4>升降散</h4>
<p>（一名陪賑散）</p>
<p>白僵蠶（酒炒去絲嘴二錢）　蟬蛻（一錢）　廣薑黃（去皮三分）　生大黃（四錢）</p>
<p>共為細末。如病輕者。每服二錢。用冷黃酒一杯。白蜜五匙調服。　如病重者。日服二服可</p>
<h4>人參敗毒散</h4>
<p>（見中風症）</p>
<h4>辟瘟丹</h4>
<p>乳香（制去油）　蒼朮　細辛　甘草　川芎（各一錢）　降香　檀香（各一兩）</p>
<p>共末。以紅棗肉煉丸。如彈子大。遇疫病盛行時。逐日於香爐中焚燒。以除邪穢。</p>
<h4>避瘟丸</h4>
<p>雄黃（頂好者一兩）　鬼箭羽　丹參　赤小豆（各一兩）</p>
<p>共為末蜜丸。如桐子大。每服五丸。空腹溫湯下。可不染瘟疫也。</p>
<h4>神解散</h4>
<p>治瘟邪憎寒壯熱。體重頭疼。遍身酸痛。口苦咽燥。胸腹悶滿等症。</p>
<p>僵蠶（炒二錢）　蟬蛻（一錢）　神麯（三錢）　銀花（二錢）　生地（三錢）　炒車前木通（各一水煎就。沖入陳酒一小盞。白蜜三匙。以取微汗為妙。</p>
<h4>清化湯</h4>
<p>治壯熱憎寒。體重。舌乾。喘吸短氣。咽喉不利。面腫目赤。</p>
<p>僵蠶（酒炒二錢）　蟬蛻（一錢）　銀花　澤蘭（各二錢）　橘紅　龍膽草（各八分）　黃連黃芩草（五分）加大黃（三錢）如咽痛者加牛蒡子（炒二錢）頭面不腫者去白附子一味。</p>
<h4>小清涼散</h4>
<p>治身熱面赤咽痛。或發　疹不透。宜之。</p>
<p>炒僵蠶（二錢）　蟬蛻（八分）　銀花　澤蘭　當歸（各二錢）　生地（五錢）　生石膏（四錢）　黃水煎。入蜜三匙。童便一盞沖。或加陳酒少許沖。</p>
<h4>芳香飲</h4>
<p>治瘟疫嘔痰涎如紅汁。腹如圓箕。手足搐搦發疹。頭腫舌爛。咽喉痹塞等危疑重症元參（一兩）　茯苓　石膏（各五錢）　酒炒　僵蠶（二錢）　蟬蛻（七個）　荊芥（二錢）　黃芩（水煎。入蜜五匙。酒一盞。徐徐作飲。勿宜急服。</p>
<h4>小復蘇飲</h4>
<p>治瘟病誤表。致神昏譫語者。</p>
<p>炒僵蠶（二錢）　蟬蛻（八分）　生地（三錢）　炒車前（二錢）　神麯（三錢）　木通川連　川柏皮（二錢）或加青果二枚。竹茹一團煎。</p>
<h4>增損三黃石膏湯</h4>
<p>治面赤陽　。口渴。引飲神昏。便秘。譫語。</p>
<p>石膏（五錢）　淡豉（二錢）　炒知母（一錢）　川連　薄荷　川柏（各一錢）　炒黃芩（一錢）　焦冷服。○如腹滿便秘加大黃（四錢）如呃忒加柿蒂七個。薑三片。</p>
<h4>犀角大清湯</h4>
<p>治　出心煩。錯語呻吟。不眠咽痛者。</p>
<p>犀角（鎊一錢）　大青　黃芩（各一錢五分）　川連　川柏　生甘草（各五分）　梔子（三錢）　元水煎溫服。</p>
<h4>犀角地黃湯</h4>
<p>（見火症）</p>
<p>治瘟疫　出之後。煩熱未清。衄血吐血。或平素陰虛之體。皆可服之</p>
<h4>三合湯</h4>
<p>治產後瘟疫。不論重輕。宜活血清邪。故生化湯。小清涼。小柴胡。三方合法。最妥。</p>
<p>當歸（八錢）　川芎（二錢）　桃仁（十三粒）　酒炒紅花（八分）　炒黃芩（二錢）　丹皮（二錢）</p>
<p>梔子（各三錢）　生甘水煎。加童便一杯。陳酒一盞。沖入溫服。</p>
<h4>三甲散</h4>
<p>治主客交渾症。因病時邪熱未清。誤補。致邪熱逗留。邪氣與正氣相搏。潮熱暈眩舌乾陰涸。骨肉枯削形羸。白　時出不解。余每遇病後陰傷。正氣不復之症。時有虛熱投劑乃愈。</p>
<p>炙鱉甲　炙龜板（各四錢）　炒穿山甲（五分）　酒炒僵蠶（一錢）　蟬蛻（五分）　生左牡蠣（五水煎服。</p>
<h4>鱉甲散</h4>
<p>治傷寒瘟疫等症。服諸藥不效者。名曰壞症。</p>
<p>炙鱉甲（三錢）　升麻（四分）　前胡（一錢五分）　烏梅（一枚）　黃芩（一錢）　犀角（鎊八分）</p>
<p>水煎服。</p>
<h4>治疫清涼湯</h4>
<p>總治疫症。不拘輕重。</p>
<p>薄荷　柴胡　前胡　丹參　丹皮　川貝母　知母　橘紅　黃芩（炒）　白芍　連翹心　桔梗（許。沖入而服。</p>
<p>脈候　瘟病之脈勢如虹。浮沉遲數似蒙蒙。緊革弦牢邪熱盛。澀小微虛正氣空。洪兼滑大昏沉候。疾促結散命多窮。　糊脈象多寒濕。虛細應知病氣通。緊革疾促。藥餌難攻。沉微濡伏。昏蒙耳聾。脈形渙散。須待神工。緩和為吉。短代將</p>
<h3>厥症</h3>
<p>厥者。上逆之症也。世人咸以手足厥冷者指為厥症。非也。詎不知手足冷如冰者曰厥逆。</p>
<p>厥逆有先厥而後手足逆冷者。是氣鬱而不達於四體也。木盛則土必衰。當補其土以泄其木。氣鬱者四體失和。當溫煦其氣以分布四肢。其厥乃愈也。仲景傷寒書。有四逆散以治三陽厥逆。</p>
<p>四逆湯以治三陰厥逆。此皆治四肢逆冷之道也。又有凡陰陽不相順接謂之厥。厥者手足必逆冷也。其陽虛故溫之。陽陷而不與陰相順者。則下之。邪熱入陰而未深者。則散之。以上之辨。顯系厥症。手足逆冷。與三陰三陽之厥逆有異也。經云。熱深厥亦深。熱微厥亦微。此渾指厥字而不言厥逆。可知厥逆非厥脫之厥明矣。厥者。下行極而上也。蓋足三陽之脈。起於足指之間。足三陰之脈。聚於足心之下。凡陽勝陰虛。陽乘於陰。曰熱厥。陰虛之症。足心之其竭而矣。</p>
<p>陰。</p>
<p>度。</p>
<p>惡。</p>
<p>成痰骨枯吐出長氣閉暴厥血陽夫不上暴心香厥者</p>
<h4>四逆散四逆湯</h4>
<p>（詳見傷寒症）</p>
<p>四逆散治熱厥。四逆湯治寒厥。</p>
<h4>烏梅丸</h4>
<p>（一名安胃丸又名安蛔丸）</p>
<p>治蛔厥心痛。蟲由口出。</p>
<p>烏梅（二百枚醋浸蒸）　細辛　桂枝　淡附子　人參　黃柏（各六兩）　黃連（一斤）　乾薑（十共末。曲糊作丸。每丸二錢。每服一丸。水化服。</p>
<h4>萬氏牛黃丸</h4>
<p>治陽乘於陰之熱厥。</p>
<p>黃連　黃芩　梔子　鬱金　朱砂　牛黃金箔為衣。每服一丸。水化服。</p>
<h4>龍虎散</h4>
<p>治陰千陽位。寒厥肢冷。</p>
<p>龍骨（二兩）　琥珀（一兩）　玄武板（四兩）　生鱉甲（二兩）　桂枝（一兩）</p>
<p>磁石（醋淬一兩）　石菖蒲（四錢）共為細末。每服三錢。薑湯調下。</p>
<h4>逍遙散</h4>
<p>（改作湯藥）</p>
<p>治陽氣暴張而為煎厥。</p>
<p>當歸　赤芍　柴胡（醋炒）　茯苓　白朮　丹皮（各二錢）　梔子（炒三錢）　薄荷（一錢）　乾薑</p>
<h4>柴胡疏厥煎</h4>
<p>（自製）</p>
<p>治同前。</p>
<p>柴胡　前胡　當歸（各二錢）　赤芍　琥珀（研沖各八分）　左牡蠣（四錢）　砂仁末（五分）　枳</p>
<h4>天麻琥珀丸</h4>
<p>（自製）</p>
<p>治風動陽升。沖氣上逆。足冷而厥。</p>
<p>煨天麻（二兩）　琥珀（二兩）　烏藥（一兩）　茯神（三兩）　肉桂（五兩）　黃柏（五錢）　防風（柴胡（八錢）　廣鬱金（一以上十四味。共為細末。煉蜜為丸。每丸二錢。金箔為衣。白蠟封固。每服一丸。去蠟。</p>
<p>水</p>
<h4>失笑散</h4>
<p>治惡血衝心之血厥。</p>
<p>生蒲黃　五靈脂（醋炒各等分）</p>
<p>為末。每服三錢。溫酒調服。</p>
<h4>獨參湯</h4>
<p>治鬼擊蜚尸中惡而成尸厥。</p>
<p>人參（三錢）　蔥白五莖　薑五片水酒各半煎服。</p>
<h4>自製星香二陳湯</h4>
<p>治痰厥症。</p>
<p>膽星（五分）　沉香（陳酒磨沖五分）　人參（一錢）　薑半夏（一錢五分）　茯苓（三錢）　陳皮（</p>
<h4>葛花解酲湯</h4>
<p>治酒厥。</p>
<p>葛花　白豆蔻（研沖）　砂仁（研末）　人參　白朮　陳皮（各一錢）　神麯　澤瀉　赤茯苓　白</p>
<h4>和胃湯</h4>
<p>（自製）</p>
<p>治食厥症氣化遲難。</p>
<p>神麯　山楂　麥芽　茯苓（各二錢）　厚朴（薑製一錢五分）　薑半夏　製香附（各一錢半）　丁</p>
<h4>金匱腎氣丸</h4>
<p>治骨厥。　厥。並治香港腳衝上厥逆者。</p>
<p>熟地（八兩）　茯苓　澤瀉　懷山藥（各四兩）　丹皮（三兩）　山萸肉（三兩）　桂　淡附子（各煉蜜為丸。桐子大。每日三餐。空腹。淡鹽湯送下（三四）錢。此方去車前牛膝。加芍藥元參故錄</p>
<h4>燒鹽湯方</h4>
<p>炒鹽一味。以熱湯調服一盞。急以指頭探喉。其痰自吐矣。</p>
<h4>至寶丹方</h4>
<p>犀角（鎊）　朱砂（水飛）　雄黃（水飛）　琥珀　玳瑁（鎊）　水安息香（各一兩酒熬成膏）</p>
<p>西牛共為細末。將安息香膏重湯燉烊。入諸藥末拌勻。分作百丸。用蠍殼固封。每服一丸。</p>
<p>參湯</p>
<h4>蘇合香丸</h4>
<p>蘇合香　安息香　犀角　冰片　麝香　香附　薰陸香　沉香　丁香　白朮蜜丸。朱砂為衣。蠟丸。每服一丸。</p>
<h4>天麻二陳湯</h4>
<p>（自製）</p>
<p>治厥頭痛。</p>
<p>煨天麻（一錢）　薑半夏（一錢五分）　茯苓（三錢）　陳皮（一錢）　炙甘草（五分）</p>
<p>薑（三片）水煎。</p>
<h4>丹參蠲痛丹</h4>
<p>（自製）</p>
<p>治厥心痛。</p>
<p>丹參　川連　廣木香　川椒（各等分）</p>
<p>炒香研末。煉蜜為丸。桐子大。每服二錢。酒送下。</p>
<h4>舒筋湯</h4>
<p>（自製）</p>
<p>治腰痛致厥。</p>
<p>赤芍　海桐皮　當歸　白朮（產仙居者各一錢半）　片薑黃（六分）　羌活（二錢）　杜仲（炒二</p>
<h4>古制蔥白丸</h4>
<p>治厥疝痛。</p>
<p>熟地黃（四兩）　白芍　當歸　川楝子　茯苓（各二兩）　川芎　枳殼　青皮　厚朴　麥芽（各用蔥白搗汁為丸。如桐子大。每服五十丸。開水下或酒下。</p>
<p>又方人參　阿膠　川芎　當歸　厚朴（各等分）蔥白汁為丸。桐子大。每服四十丸。溫酒送下。</p>
<h4>礬石湯</h4>
<p>治香港腳厥逆。上衝心包。</p>
<p>白礬（二兩）</p>
<p>煎湯浸洗兩足可也。</p>
<h4>大補肝腎丸</h4>
<p>（自製）</p>
<p>統治痿痹氣血偏枯等症。</p>
<p>熟地（六兩）　淡蓯蓉　菟絲子　枸杞子（各四兩）　潼蒺藜　白蒺藜　川萆草（各二生懷牛膝以上共二十味共末。用虎骨膠（二兩）阿膠（二兩）鹿角膠（一兩）陳酒少許熔化和丸。</p>
<p>如彈子大脈候　陽厥肢溫脈是浮。胸中熱上勢難留。陰虛氣逆診在尺。尺內多陽火不收。脈沉肢冷面如朱。陰盛格陽溫藥需。若遇暈厥沉遲脈。急急溫通或可扶。厥症之脈。兩寸必濡。浮而有力。風痰盈盂。若形動滑。必是虛軀。厥時脈代。決其難蘇。如遇伏脈。定在熱驅。六脈浮大。暴厥無虞。若云虛症。死在須臾。</p>
<h4>崔氏八味丸</h4>
<p>治香港腳上衝致厥。腎虛不納。</p>
<p>熟地（八兩）　山萸肉　山藥（各四兩）　茯苓　澤瀉（各三兩）　丹皮（三兩）　淡附片　桂枝（</p>
<h3>痢疾瘧疾</h3>
<p>痢疾古稱滯下。白者名白沫。赤者名赤痢。赤白兼者曰膿血。赤屬熱。白屬寒。赤屬血。</p>
<p>白古人土受因盛而成邪未息。</p>
<p>每切靡不也。</p>
<p>熱弦曰陰癘而醫熱肢辛涼解表治之。余治瘧症。亦分六經形症而後用藥。未嘗膠執柴胡以治之也。總之宜表宜散宜清宜溫之法。必視陰陽表裡以裁之也。此其大略也。若夫增減之道。則在臨診之權衡矣。</p>
<h4>倪氏痢疾第一方</h4>
<p>治痢疾。不論赤白膿血。裡急後重。身熱腹痛滯下。</p>
<p>川連　黃芩　白芍　山楂（各一錢二分）　枳殼（　炒）　厚朴　檳榔　青皮（炒各八分）　當歸皮尖一錢）</p>
<p>水煎服。如體實者加製大黃（二三錢）如有胎孕者忌服。本方去桃仁紅花檳榔木香四味可服矣</p>
<h4>痢疾第二方</h4>
<p>治痢已減。少腹痛亦瘥者。</p>
<p>酒炒川連　酒炒黃芩　酒炒白芍（各六分）　青皮（炒四分）　厚朴（四分）　桃仁泥（六分）　橘（四分）　紅花（酒潤三水煎。加南木香（二分）用陳酒磨沖。</p>
<h4>痢疾第三方</h4>
<p>治脾腎兩虛。痢減糞多者。</p>
<p>東洋參（二錢）　酒洗黃芩（六分）　酒炒白芍（六分）　橘紅（二分）　厚朴（二分）</p>
<p>酒洗紅花（水煎。加木香末（二分）沖服。</p>
<h4>倪氏瘧疾第一方</h4>
<p>治瘧症初起。不拘寒多熱多。</p>
<p>橘紅　茯苓　威靈仙　炒茅朮　厚朴　柴胡（各一錢）　黃芩（八分）　青皮　檳榔（各六分）</p>
<h4>瘧疾第二方</h4>
<p>生首烏（三錢）　陳皮　茯苓　柴胡　黃芩（各八分）　當歸　威靈仙（各一錢）　白朮（土炒一一杯煎。用陳酒少許沖入。如有瘧母。更加醋炒莪朮一錢可也</p>
<h4>瘧疾第三方</h4>
<p>瘧久必須調理氣血。</p>
<p>人參（一錢）　炙黃　當歸（各一錢五分）　土炒白朮（一錢）　陳皮　柴胡（各八分）　生首烏薑三片。棗二枚煎。</p>
<h4>倪氏久瘧全消丸</h4>
<p>威靈仙　莪朮　醋炒三棱　麥芽（炒各一兩）　生首烏（二兩）　金毛狗脊（酒炙脆三兩）</p>
<p>共為細末。又山藥（研粉一兩）飴糖（一兩）水一小碗。搗爛和丸。如綠豆大。每服三錢。</p>
<p>薑湯</p>
<h4>枳實導滯丸</h4>
<p>治濕熱積滯。</p>
<p>大黃（一兩）　黃芩　川連　神麯（各五錢）　土炒白朮　澤瀉（各二錢）　茯苓　枳實（炒各三共末蒸餅糊丸。每丸二錢。每服一丸。開水沖服。○加廣木香檳榔（各二錢）為丸。名木香導</p>
<h4>承氣湯</h4>
<p>（見傷寒症）</p>
<h4>補中益氣湯</h4>
<p>治痢後氣虛。下陷肛脫。</p>
<p>炙黃　（三錢）　白朮（二錢）　陳皮（一錢）　升麻（四分）　東洋參（一錢五分）　柴胡（醋炒一水煎服。○本方去歸術二味加木香（五分）蒼朮（一錢）名調中益氣湯。治同。</p>
<h4>真人養臟湯</h4>
<p>治久痢脫肛。</p>
<p>訶子（面裹煨一錢半）　罌粟殼（蜜炙一錢）　肉果霜（八分）　當歸（三錢）　肉桂末（四分）　木芍（酒炒一錢）</p>
<p>水煎溫服。</p>
<h4>檳芍散</h4>
<p>（改作湯）</p>
<p>治下血痢。或膿血痢。後重氣滯。</p>
<p>生軍（三錢）　芍藥（二錢）　枳實（一錢五分）　檳榔（二錢）　厚朴（一錢）　銀花（五錢）</p>
<p>人中</p>
<h4>當歸導滯湯</h4>
<p>治病後痢疾。</p>
<p>當歸　白芍（各三錢）　生萊菔子（一錢）　炒車前　炒枳殼　檳榔　炙甘草（各五分）</p>
<p>加桃仁（十粒去皮尖）水煎。白蜜三匙沖入。</p>
<h4>地榆散</h4>
<p>（改湯）</p>
<p>治下痢膿血。已成壞症。色如爛瓜者。</p>
<p>地榆（二錢）　當歸（三錢）　白芍（三錢）　黃芩　梔子炭（各一錢五分）　黃連　犀角（鎊一錢）</p>
<h4>中和湯</h4>
<p>（自製）</p>
<p>治痢下。不論紅白。裡急後重不拘男女小人。皆宜服之。加減而治。</p>
<p>神麯　生菔子　淡黃芩（酒炒）　薑半夏　茯苓　山楂　茅山術　川連（酒炒各一錢五分）</p>
<p>水煎。如時痢身熱者加藿香薄荷桔梗（各一錢）薑三片。○如白沫則加廣木香（八分）</p>
<p>○如赤痢加桃仁十粒。○赤白兼者加桃仁十粒。紅曲（八分）木香（五分）○如醉飽受邪者。</p>
<p>加葛根（一錢）紫金錠二分沖入。○如挾怒挾食者。加柴胡厚朴（各一錢）凡痢下皆因濕熱內蘊。</p>
<p>膠於腸胃。初起必日夜無度。腹痛後重。口渴喜飲涼水。近世醫家。必認為熱痢。而輒投寒涼之劑。令病者可食水果等物。致阻遏濕熱之邪。不得外泄。而成噤口危候。噤口者。肢逆嘔惡。食入於咽即時吐出。水漿不得下咽。法在難治。惟開噤散治之。可十救其五。時醫冒為高古。擅用溫熱者。十有其二。妄用涼瀉而稱穩當者。十有七八。殊不知各得其偏。而未協中和各動生冷此皆火。余云諸痛患痢熱上碎者不煎</p>
<h4>黃連解毒湯</h4>
<p>（即火齊湯方見火症）</p>
<p>和胃二陳煎茯苓（三錢）　薑半夏（一錢五分）　陳皮（一錢）　炙甘草（五分）　炮薑（五分）　杏仁（去皮尖水煎。</p>
<h4>治痢散</h4>
<p>治痢下。不論紅白。腹痛後重。</p>
<p>葛根　苦參（酒炒）　陳皮　陳茶（各一斤）赤芍（酒炒）　麥芽　山楂炭（各十兩）</p>
<p>共末。每服四錢。水煎服。連渣汁而服。小人減半。</p>
<h4>朴黃湯</h4>
<p>（自製）</p>
<p>治痢疾初起。腹痛後重。不拘赤白者。</p>
<p>厚朴（一錢五分）　生大黃（四錢）　陳皮（一錢）　廣木香（五分）　製香附（一錢五分）　川連（水煎。</p>
<h4>開噤散</h4>
<p>治噤口痢。水漿不入者。</p>
<p>人參（五分）　薑汁炒川連（五分）　石菖蒲（一錢）　丹參（三錢）　石蓮子　茯苓　陳皮冬瓜</p>
<h4>加味七神丸</h4>
<p>止腎痢如神。</p>
<p>肉果霜　淡吳茱萸　廣木香（各一兩）　破故紙（酒炒二兩）　土炒白朮（四兩）　茯苓（三兩）</p>
<h4>大柴胡湯</h4>
<p>（方見傷寒）</p>
<p>治瘧疾熱多寒少。舌苔黃濃。便秘。</p>
<h4>涼膈散</h4>
<p>（方見傷寒）</p>
<p>治瘧來欲吐。熱多便結溺赤。</p>
<h4>加減小柴胡湯</h4>
<p>通治瘧症。宜加減用之。</p>
<p>柴胡（二錢）　薑半夏（二錢）　人參（一錢）　炙甘草（五分）　黃芩（一錢五分）</p>
<p>加薑三片。</p>
<p>棗一枚。水煎。○熱多。加黃柏。○寒多。加桂枝乾薑。○渴者加石膏知母○無○汗多。加桂枝白芍。○嘔者。加竹茹薑汁炒。○積食。加神麯麥芽。○氣滯久瘧。加鱉甲穿山甲。（炒用）○余症。待臨診酌加可也。</p>
<h4>止瘧丹</h4>
<p>凡瘧疾二三發之後。方可服矣。</p>
<p>常山（燒酒炒）　草果仁（煨）　半夏曲（薑汁炒）　製香附　青皮（炒各四兩）</p>
<p>又神麯十二兩共為末。米飲煉丸。如彈子大。辰砂為衣。如瘧輕用一丸。瘧重用兩丸。</p>
<p>紅棗</p>
<h4>鱉甲煎丸</h4>
<p>治瘧邪與痰血固結而成瘧母。僻處脅下。若不急治。必成大害也。</p>
<p>鱉甲（炙十二分）　烏扇（三分燒即射干）　黃芩（三分）　柴胡（六分）　鼠婦（三分熬）　乾薑丹皮分炙）　赤硝（以上二十三味共末。取熱灶肚下灰土一斗。清酒一斛。取五升浸灰。</p>
<p>俟酒滲盡一半。著鱉甲於中。煮令泛爛。如膠漆狀。絞取其汁。以藥粉煉丸。如梧子大。</p>
<p>空鼠婦赤硝二味。</p>
<p>金匱云。陽氣獨發。陰氣孤絕。則熱而少氣煩冤。手足熱而欲嘔。名曰癉瘧脈平身無寒。</p>
<p>但治</p>
<h4>蜀漆散</h4>
<p>治牡瘧寒多者。系邪客心下。其病重也。</p>
<p>蜀漆（即甜茶燒去腥）　雲母（燒二日夜）　龍骨（各等分）</p>
<p>共杵末為散。未發以前。米飲調服五分。</p>
<h3>附外台秘要三方</h3>
<h4>牡蠣湯</h4>
<p>治牡瘧。</p>
<p>牡蠣　麻黃（各八分）　甘草（四分）　蜀漆（炒透六分）</p>
<p>水煎服。如吐勿更服也。吐則邪已去矣。</p>
<h4>柴胡去半夏加栝蔞根湯</h4>
<p>治瘧病發渴。亦治勞瘧。</p>
<p>柴胡（一錢六分）　人參　黃芩　甘草（各六分）　栝蔞根（八分）加薑二錢。大棗四枚。</p>
<h4>柴胡桂薑湯</h4>
<p>治瘧發寒多熱微。或但寒不熱。服一劑如神。</p>
<p>柴胡（三錢）　桂枝（一錢二分）　乾薑（八分）　栝蔞根（一錢五分）　黃芩（一錢二分）　甘草（水煎而服。服後汗微出愈。</p>
<p>痢脈　候痢疾之脈大主凶。浮洪疾數勢難松。沉細多神毋害怕。緊牢代散莫能容。</p>
<p>沉細無力。痢勢宜松。疾促弦散。脈反不從。陰脈為吉。陽脈多凶。初痢見澀久痢沉濡。益氣可宗。</p>
<p>瘧脈候　瘧家脈象定然弦。如兼滑大有痰涎。有力而弦防痙厥。弦而無力定綿延。弦如端直非為吉。沉微帶小必虛遷。新弦之狀為真臟。吉少凶多病氣偏。弦者痰熱。弦緩風連。</p>
<p>弦遲寒勝。弦數熱纏。弦而澀小。濕與風聯。但弦不緩。難許安全。</p>
<p>血症　吐血　咳血　咯血　鼻衄　牙宣　舌血　大便血　小便血　血淋　血崩　發泉經云。中焦受氣。取汁變化而赤。是謂血。血之流溢。</p>
<p>半隨於衝任而行於經絡。半散於脈絡而充之肌腠皮毛。又云。陽絡傷則血外溢為吐血咳血咯血鼻衄牙宣舌血等症等症。皆由陰陽兩絡之病也。陽絡之傷絡之傷也。必有七情隨之。故內傷外感血。剖諸獸腹。心下脊膂包絡中多血。</p>
<p>血多者。醫稱為胃血。謬也。葉氏謂心此二家之論。以葉氏為最耳。余謂五臟臟腑皆有血也。古人以心生血。肝臟血又曰血海。況衝脈隸屬陽明。陽明為宗腑而分有血無血乎。凡人為一小天地。氣之。肺欲成癰。氣必凝之。血亦隨之。不過小而至於毛髮之區。皆充積於中而發散於外乃行也。即氣行血亦行。氣滯血亦滯之謂也書云。天將大雨。山川出云。可悟氣能生血。氣能攝血之理焉。余必以古人之心生血。</p>
<p>肝臟亦血以減六系之學</p>
<h4>歸脾湯</h4>
<p>（方見心經症）</p>
<p>溫養氣分以補心脾二經。</p>
<h4>神效琥珀散</h4>
<p>（方見心經症）</p>
<p>養心以清小腸之熱。</p>
<h4>天王補心丹</h4>
<p>（方見心經症）</p>
<p>養心清營之治。</p>
<h4>清上湯</h4>
<p>（自製）</p>
<p>治六淫侵上。吐咳咯衄。牙宣舌血等症。</p>
<p>栝蔞仁（炒四錢）　海石（一錢）　梔子炭（三錢）　杏仁（光三錢）　石膏（二錢）</p>
<p>黃芩（炒一加青果二枚。竹葉二十片。如因寒者加蘇子（二錢）○如因暑者加青蒿（一錢）鮮荷一片。○如因風者。加生萊菔子（一錢）桔梗（一錢）○如因濕者。加滑石。○如因燥者。加生地麥冬（各三</p>
<h4>清下湯</h4>
<p>（自製）</p>
<p>治大小便血。血淋。發泉等症。惟血崩一症。宜補血消瘀。查女科胎產症。</p>
<p>自知方治諸法也。</p>
<p>大黃（醋炒三錢）　牡丹皮（三錢）　歸身（三錢）　白芍（一錢）　苦參（一錢）　焦梔子（三錢）</p>
<p>無鮮荷葉。以藕一斤煎湯代水。（方中用大黃以入陽明經驅瘀蕩熱丹經勿使寒涼傷血苦參清濕火梔子泄二焦之火通草滲濕清家初起者宜之。如小便尿血。仲景謂血症諦也。大都其腸之舍所致。本方加琥珀（一錢）滑石（三錢）○如血淋症珀（一錢）滑石瞿麥各三錢。去細辛一味可也。○如舌上無故炒蒲黃（七分）烏　骨（一錢）去細辛一味煎服。○如痰血交夏（一錢）川貝（二錢）真化橘紅（一錢）○發泉系血從毛孔中出。</p>
<p>宜犀角地黃湯。外用艾灰撲於出血處可也。</p>
<h4>犀角地黃湯</h4>
<p>（方見火症）</p>
<h4>三七湯</h4>
<p>（自製）</p>
<p>治吐血紫黑有塊。系熱傷絡血。或鬱怒傷肝。</p>
<p>參三七（研沖一錢）　薑半夏（一錢五分）　厚朴（一錢）　茯苓（三錢）　琥珀末（八分）　醋炒柴如無藕時。</p>
<p>以荷葉一枚代之。</p>
<h4>柏葉湯</h4>
<p>（自製）</p>
<p>治血熱妄行。吐血盈碗者。</p>
<p>側柏葉（二錢）　生地（一兩）　炒蘄艾（五分）加荷葉一片。或藕汁一杯沖入。更加童便一盞沖服。</p>
<p>脈候血家之脈每多芤。芤而數大血盈甌。寸芤吐咯尺芤脫。濡細因知病欲瘳。緊凶象露。病久得之卻可憂。陰脈為從陽脈逆。寒熱溫涼仔細籌。吐血之脈之數。心血難留。左關搏指。肝木失柔。右寸洪大。肺氣上為順。陽脈難修。</p>
<h2>卷四</h2>
<p>心經病菌怔忡健忘恩負義不眠心者。君主之官。神明出焉。其性柔。其體陰。其用靈。患怔忡者。定知憂勞太過。每多抑濟之非不來助忡者人治不足宜下一癲者。陰病也。經云。重陰者癲。或歌或笑。如醉如迷。其甚至不知穢潔。其候多靜而昏一狂者。陽病也。經云。重陽者狂。狂妄難千。由大驚大怒得之。邪在肝膽胃三經。而治法乃愈一癇者。痰迷心竅。阻其靈明之氣。古云。一陰一陽變亂謂之癇。須辨明五臟五聲。以分牛時肢名馬者名羊癇。如兩手如舞。面赤。聲焦如雞鳴者。曰雞癇。皆不外乎五志之火。動擾不寧。</p>
<p>痰阻</p>
<h3>附外台秘要三方</h3>
<h4>歸脾湯</h4>
<p>治怔忡健忘。心脾兩虛。並治腸紅之症。</p>
<p>白朮　人參（各二錢）　炙黃　（三錢）　歸身（三錢）　炙甘草（五分）　茯神（三錢）遠志肉（八煎。○如怔忡症因怒得之者。宜逍遙散。（方見厥症）</p>
<h4>補心丹</h4>
<p>治癲症與怔忡症。</p>
<p>生地（八錢）　人參（五錢）　元參（三錢）　丹參（三錢）　棗仁（一錢）　茯神（三錢）　遠志肉（菖蒲（各五分）</p>
<p>煉蜜為丸。桐子大。辰砂為衣。</p>
<h4>大承氣湯</h4>
<p>（見傷寒症）</p>
<p>治狂症胃實者。</p>
<h4>白金丸</h4>
<p>治癲癇症。</p>
<p>白礬　鬱金（各等分）</p>
<p>為丸。薑湯送下（二錢）下痰而愈。</p>
<h4>滾痰丸方</h4>
<p>治癲狂癇症有痰者。</p>
<p>青礞石　沉香　大黃　黃芩　水法為丸。</p>
<h4>龍膽瀉肝湯</h4>
<p>（見火症）</p>
<p>治狂症因大驚大怒者。</p>
<h4>陳無擇琥珀散</h4>
<p>統治怔忡癇癲等症。亦治痴呆。</p>
<p>人參（二錢）　白芍（二錢）　鐵落（　醋淬七次二錢）　辰朱砂（水飛一錢）　磁石（二錢）</p>
<p>共為細末。每服五分。淡薑湯送下。</p>
<p>又方琥珀末一錢。人參湯調下。亦名琥珀散。治小便不通。並治驚恐怔忡之症。</p>
<h4>神效琥珀散</h4>
<p>治心神不寧。或小便出血。</p>
<p>琥珀　桂心　滑石　大黃（炒）　冬葵子　膩粉　木通　木香　磁石（　各等分）</p>
<p>為末。每服二錢。用燈草蔥白。泡湯調下。</p>
<h4>孔聖枕中丹</h4>
<p>治心腎不交。怔忡健忘等症。</p>
<p>龍骨（　）　龜板（炒）　石菖蒲（炒）　遠志肉（炒各等分）</p>
<p>為末蜜丸。如桐子大。每服一錢。臨臥時開水送下。</p>
<h4>加減星附六君子湯</h4>
<p>治癲癇氣虛有痰者。</p>
<p>制南星（一錢）　竹節白附子（酒炒七分）　人參（一錢五分）　白朮（二錢）　茯苓（三錢）　炙甘薑半夏（一錢五分）　廣皮（一錢）</p>
<p>水煎服。○牛癇加牛黃（五厘）沖入。○馬癇加馬勃（五分）○羊癇加羊膽（生一枚）</p>
<p>藥送吞下。○豬癇加豬心血一匙沖。○雞癇加雞膽一枚。藥水送吞。○陰虛加生地四錢。當歸三錢。川脈候脈來滑大定然狂。澀小沉微癲病倀。小促動搖在寸口。怔忡之象病延長。右小脾病。不是不眠必健忘。此是內病七情症。補心之劑急煎嘗。內傷之病。</p>
<p>則甚。狂病之殃。癲病舉動。必異其常。癇症之作。乍劇乍肝症　脘痞　肝火　肝鬱　肝風　胸痹　驚　不寐肝者。將軍之官。謀慮出焉。其性剛。其體曲。其色青。其氣旺。其變幻莫測也。如情志不火心神全女人以肝為先天。惟肝用事。閨閫之中。所見甚稀所聞甚寡。獨寤獨寐者。更多郁結。助起肝陽。病情紛至。更難調理。間有一二情性柔順。幽閑貞靜。雖無大患。未免於郁。治之者宜分別剛柔陰陽。陰且柔者。藥宜輕宜薄。陽而剛者。藥宜破宜散。經云。木鬱達之。火鬱發之是也。今人之云肝氣者。系包括肝家之病。無分肝之虛實。概以破散為治。無怪乎治之罔效。然肝藏血。血虛者氣必旺。況肝經多氣少血。血分一虛。氣無約束。其變症蜂起。有因水虧不能涵木。而肝氣橫暴者。有因金虛不能制木。而木火上升者。有木旺侮土者。有木反乘金者。有木來助火者。有木盛生風者。焉得以肝氣一語概之乎。余治是症。必求其本。</p>
<p>詢其初起何病。變為何病。如因嗔怒所致者。是肝家本病。若因憂思傷脾。而木氣乘虛來侮。當扶土瀉木。是不在肝而在脾也。余仿此。</p>
<h4>金鈴子散</h4>
<p>治肝經氣旺脘痛。</p>
<p>金鈴子（去核）　延胡索（各等分）</p>
<p>共為末。每服三錢。酒調下。或水煎服。亦可。</p>
<h4>逍遙散</h4>
<p>（方見厥症）</p>
<p>治肝經抑郁之症。</p>
<h4>益肝煎</h4>
<p>（自製）</p>
<p>治肝經病。不拘痞滿噯逆嘔噦心胃　痛腹滿等症。</p>
<p>柴胡（醋炒一錢）　丹參（酒炒三錢）　生左牡蠣（四錢）　烏藥（一錢）　製香附（一錢）　當歸（麻）加荔枝五枚。水煎。○如氣虛者。加生地（四錢）沙參（三錢）砂仁（五分）○血虛者。</p>
<p>加生地（木者。加杞子（三錢）菊花（一錢）○心火夾雜者。加川連（七分）○如木旺土衰者。加白朮（土炒）天仙藤（各一錢）茯神（三錢）如有他病挾起者。隨症加減。</p>
<h4>代赭旋覆花湯</h4>
<p>治木犯胃土。噯逆痞滿。</p>
<p>代赭石（二錢）　旋覆花（一錢五分）　東洋參（二錢）　薑半夏（一錢五分）　赤茯苓（三錢）</p>
<h4>清肝煎</h4>
<p>（自製）</p>
<p>治肝火內熾。暈眩欲厥。</p>
<p>生牡蠣（五錢）　琥珀（八分）　焦梔子（三錢）　丹皮（二錢）　黃芩（炒一錢）　桑葉（一錢五分片。燈心一丸。</p>
<h4>潛陽和陰湯</h4>
<p>（自製）</p>
<p>治肝虛生風。心悸目眩。</p>
<p>生鱉甲　炙龜板（各四錢）　石決明（生八錢）　煨天麻　桑葉（各一錢五分）　巨勝子鉤藤（如氣悶加沉香五分研沖。</p>
<h4>栝蔞薤白白酒湯</h4>
<p>治胸中痹痛。欲吐不吐者。</p>
<p>栝蔞（一枚）　薤白（二錢）加白酒一盞。水煎。或加桂枝（五分）水煎。沖入白酒可也。</p>
<h4>半夏秫米湯</h4>
<p>治寤不成寐。胃中有濕熱者。</p>
<p>薑半夏（一兩）水五升。煎至三升。去滓。入秫米（三合）煎至二升。分作兩次而服。</p>
<h4>酸棗仁湯</h4>
<p>治肝虛不寐。</p>
<p>茯神（三錢）　炙甘草（五分）　知母（一錢）　棗仁（炒一錢五分）　川芎（八分）</p>
<p>如有痰加薑半夏（一錢）橘紅（七分）水煎。</p>
<h4>鎮肝湯</h4>
<p>治木旺致驚。兼治小兒驚風。</p>
<p>龍骨（二錢）　石菖蒲（五分）　棗仁（炒一錢）　石決明（生八錢）　琥珀（一錢）</p>
<p>青黛（五分分）薑汁（一匙沖）</p>
<p>脈候肝經之脈要弦長。弦直因知木勢張。尺內遇弦腰帶病。子來乘母水多妨。新象肝真露。雖有良醫曷可康。寸口浮弦風木上。關中得此土為戕。肝家病脈。</p>
<p>數風熱。弦遲腎傷。弦牢痼疾。弦革難康。若能和緩。正復邪難下藥。勿藥為方。</p>
<p>脾經病　腫脹　泄瀉　蟲積</p>
<h3>胃痛</h3>
<p>脾為倉廩之官。屬後天也。如先天不足。全賴後天以補之。後天一病。關系大焉。脾胃之論脾屬益其以制矣。</p>
<p>腫由古不即陰水也。又治不內外因者。即仲景之開鬼門潔淨府之法也。若夫泄瀉之症。亦由脾虛不能制水。胃虛不能納水所致。治瀉亦必制木。木不戕土。水曷由侵。書云。治瀉不利小溲。非其治也。蟲積之由。因土虛不能勝濕。濕化熱而蘊蓄蒸變。其蟲生矣。故治蟲必當先清濕熱。繼溫脾腎。仲景有安蛔丸以化蟲安胃。最為雄偉。後人之治蟲者。莫不就其范圍也。胃痛一症。古方甚多。並無確效。何也。因胃屬中宮。肺心肝腎諸可侵伐。故變幻雜至。都是陽大虛。不能灌溉其水。水停乃痛。仲景以小半夏湯治其停水。以瀉心湯和其脾胃。又有苓薑朮桂湯以補其中土。治法不外乎此矣。若妄用攻擊之法。胃土戕賊。則嘔吐噯噦。悉由此出痰二曰懸飲。三曰溢飲。四曰支飲。如其人素盛今瘦。水走腸間。瀝瀝有聲者。痰飲也。飲後水流脅下咳唾引痛。水為氣吸而難以下流。謂之懸飲。飲邪流散於四肢身體疼重。不能由汗而解。以致飲邪旁溢。名曰溢飲。倚息不得臥。氣分上迫。形腫謂之支飲。以上諸病。悉責於脾。考金匱自無遺漏矣。</p>
<h4>真武湯</h4>
<p>治脾腎兩虛。作腫作脹。其病口不渴者。</p>
<p>茯苓（六錢）　白朮（二錢）　淡附片（二錢）　白芍（酒炒二錢）　加生薑（五片）</p>
<h4>五苓散</h4>
<p>治水蓄膀胱。小便短少色白。</p>
<p>豬苓（四錢）　茯苓　澤瀉（各三錢）　白朮（二錢）　桂枝（五分）</p>
<p>本方加茵陳（二錢）名茵陳五苓散。治濕病作腫目黃者。仲景所謂潔淨府之法也。</p>
<h4>麻黃湯</h4>
<p>（方見傷寒）</p>
<p>治身半以上腫脹。身熱。口不甚渴者。即仲景所謂開鬼門之法也。</p>
<h4>小青龍湯</h4>
<p>（方見傷寒）</p>
<p>治嘔吐噯噦之急症也。</p>
<h4>瀉心湯</h4>
<p>（見霍亂症）</p>
<p>治嘔吐噯噦之緩症也。如腹痛肢冷。加桂枝（五分）如口渴。加薑汁炒烏</p>
<h4>安胃丸</h4>
<p>（即安蛔丸方見厥症）</p>
<p>治蟲積或痛或瀉。每服一丸。（開水沖服）</p>
<h4>補中益氣湯</h4>
<p>（方見痢症）</p>
<p>本方去當歸白朮。加木香蒼朮。名調中益氣湯。治同。</p>
<h4>自製益肝煎</h4>
<p>（方見肝經病）</p>
<p>治木乘土與胃痛二症。</p>
<h4>羌活勝濕湯</h4>
<p>（方見中風）</p>
<p>治風腫由頭面以及一身。以此方治之。俾風散而腫自消矣。　如風本方去獨活川芎蔓荊子甘草四味。加升麻蒼朮二味。名羌活除濕湯。治</p>
<h4>小半夏加茯苓湯</h4>
<p>治濕阻中焦脘痞。或飲停心下悸眩等症。</p>
<p>薑半夏（三錢）　茯苓（一兩）　生薑（五錢）</p>
<p>本方加桂枝甘草去半夏。名茯苓甘草湯。治傷寒水氣乘心○本方去茯苓。名小半夏湯。</p>
<p>治濕</p>
<h4>腎著湯</h4>
<p>治濕傷腎氣。腰下腫脹者。</p>
<p>乾薑（五錢）　茯苓（五錢）　白朮（二錢）　甘草（八分）或加車前（炒三錢）以通小便。</p>
<h4>香蘇飲</h4>
<p>（自加）</p>
<p>治腫病初起。兩目下如臥蠶狀。身重微喘者。當以芳香疏氣。得微汗可解也製香附　蘇葉　防風（各一錢五分）　杏仁泥（三錢）　甘草　陳皮（各五分）去杏仁防風。即香蘇飲本方。</p>
<h4>五皮飲</h4>
<p>治腫病水行皮膚者。</p>
<p>陳皮　茯苓皮　薑皮　桑白皮　大腹皮（各等分）</p>
<p>水煎服。</p>
<h4>加減附子理中湯</h4>
<p>（自製）</p>
<p>治脹症將起。胸腹微滿。食物不運。身重足重。不耐走動。早間腫虛不行於脾也。溫以和其氣。氣行濕去。其腫自除。並治木乘土而作脹淡附子（二錢）　元黨參（三錢）　炮薑（八分）　製香附（二錢）　澤瀉（三錢）　白芍（一錢五分）</p>
<p>忌食生冷水果等物。</p>
<h4>香連八物湯</h4>
<p>（自製）</p>
<p>治水瀉脾胃俱虛。並治霍亂。</p>
<p>藿香梗（三錢）　川連（一錢）　淡吳萸（一錢）　茯神（三錢）　蒼朮（一錢）　厚朴（一錢）</p>
<p>天仙水煎。如口渴。加烏梅一枚。如腹痛。更加桂枝（三分）</p>
<h4>升陽益胃湯</h4>
<p>人參　白朮　黃　川連　薑半夏　甘草　陳皮　茯苓　澤瀉　防風　羌活　獨活　柴胡</p>
<h4>實脾飲</h4>
<p>茯苓　白朮　木瓜　炙甘草　木香　厚朴　大腹皮　草豆蔻　淡附子　乾薑加棗煎。</p>
<h4>大橘皮湯</h4>
<p>治水腫泄瀉。</p>
<p>豬苓　茯苓　澤瀉　白朮　桂枝　六一散　橘皮　木香　檳榔加薑煎。</p>
<h4>茵陳蒿湯</h4>
<p>治濕熱黃膽。</p>
<p>綿茵陳　大黃　梔子如陰黃內症發黃者。本方加淡附片乾薑之類。</p>
<p>脈候脾虛之症。脈忌沉微。緩者易治澀小多違。形如瀉漆。脾敗且危。弦而強勁之機。溫中為的。寒冷則非。</p>
<p>肺病　咳嗽　肺癰　肺痿　喘　哮　失音　喉症方治四首肺者相傳之官。治節出焉。其氣清。其性脆。其體輕浮。在時為秋。在卦屬兌。稟西方之氣謂喘症與哮症微有不同。喘症在肺為實。在腎為虛。哮症因感邪失表。邪伏於裡。而留於肺俞。二症之治。不外開納二法。開者青龍之品。納者都氣之屬。至於邪留不去。釀成肺癰。</p>
<p>火灼金傷。致發肺痿。若夫失音之候。皆火克金傷之症也。當以虛實二字消息之。虛火刑金而致者。金破無聲也。邪熱爍金而致者。金實無聲也。實者泄之。虛者補之。又有土衰不能生金者。當培其土而金自生也。總之治咳嗽宜肅肺氣。治喘症當開其肺而安其脾。納其腎也。</p>
<p>治哮症者宜溫養其氣。以搜逐其邪也。至於肺癰之治。宜解毒以保肺也。肺痿之治。宜滋其腎以清其肺也。要皆不外乎虛則補母。實則瀉子之道。有邪者清之。無邪者補之而已也。又內經之言咳嗽者。分十二經之形狀。有脾嗽心嗽肺嗽肝嗽腎嗽之辨。又有小腸嗽大腸嗽胃嗽膀胱嗽膽嗽三焦嗽之說。又云久咳不已。則三焦受之。可知三焦一言。已賅十二經矣。考內經自知詳細。故不具論。所言肺癰之治。莫妙於彭鐘齡之加味甘桔湯。肺痿之治。莫妙於彭氏之保和湯也。而失音之辨。必以宮商角徵羽五音。以明脾肺肝心腎五臟之病耳。又以歌屬脾。哭屬肺。呼屬肝。笑屬心。呻吟屬腎之音。以參乎其中。稱法之密治之簡者。莫如葉氏之指南也。其治案中。如有邪者開達肺氣。無邪者。填實足三陰經為主。其治肺痿者。宗金匱麥門</p>
<h4>保和湯</h4>
<p>治肺痿久咳不已。時吐白沫如米粥者。</p>
<p>知母（炒一錢）　川貝母（二錢）　天冬　麥冬（去心各三錢）　米仁（五錢）　百合（三錢）　甘草粒）</p>
<p>水煎。入飴糖一匙沖。溫服。虛者加東洋參（一錢）</p>
<h4>加味甘桔湯</h4>
<p>治肺癰咳嗽。吐膿血。胸中及右脅疼痛。不能右臥者。</p>
<p>桔梗　白芨片　橘紅　甜葶藶（炒各一錢）　甘草節　川貝母（各一錢五分）　米仁　銀花（各絲瓜經（二三）錢亦佳。</p>
<p>（方見傷寒）</p>
<p>治喘症不能仰臥。痰壅欲脫者。</p>
<h4>蘇子降氣湯</h4>
<p>治喘哮之緩者。</p>
<p>生蘇子（二錢）　橘紅（一錢）　薑半夏（一錢）　歸身（三錢）　前胡（一錢五分）　桂枝（五分）</p>
<h4>固本丸</h4>
<p>（改作湯服）</p>
<p>治咳嗽之虛者。</p>
<p>西黨參（三錢）　熟地　生地（各四錢）　天冬　麥冬（去心各三錢）</p>
<h4>都氣加桂湯</h4>
<p>（自製）</p>
<p>治喘哮之欲愈者。以納腎氣之法。</p>
<p>熟地（八錢）　茯苓　澤瀉　懷山藥（各四錢）　丹皮　山萸肉（各二錢）　五味子（九粒）</p>
<p>肉桂沖水煎。</p>
<h4>和肺湯</h4>
<p>（自製）</p>
<p>治失音症。由實火上刑肺金者。</p>
<p>活水蘆根（即葦莖五錢）百合（五錢）　生地（五錢）　桔梗（一錢五分）　生甘（五分）加青果二枚。</p>
<h4>理嗽湯</h4>
<p>（自製）</p>
<p>統治咳嗽。不拘新久虛實。當加減治之。</p>
<p>霜桑葉（一錢五分）　百合（三錢）　桔梗（一錢五分）　前胡（一錢五分）　象貝母（一錢）　橘紅（八分）　薄荷（一錢五分）　梔子（炒三錢）加青果一枚。竹葉二十片。</p>
<p>○如身熱氣粗者。欲發風疹。本方加牛蒡子（三錢炒）　○如久咳不去薄荷加麥冬生地（各三錢）○如咳嗽傷絡。痰中帶血。本方加驢膠（一錢）棗仁（炒一錢）</p>
<p>柏子仁（一錢）淡黃芩（一錢五分）○如君火內熾。本方加麥冬（三錢）川連（八分）琥珀（八分）○如肝火刑金。本方加柴胡（一錢）丹皮（二錢）○如土不生金。本方去桑葉薄荷加白朮茯苓（各二錢）○如腎咳者。本方加二地二冬。○大腸嗽者。每嗽必欲大便。本方加訶子。（煨一錢）炙粟殼（一錢）○小腸嗽者。每嗽必欲小溲。本方加東洋參（一錢）麥冬（三錢）五味子（十粒）○如膀胱脹痛而嗽者。氣不化也。本方去象貝薄荷加桂枝（二分）</p>
<p>滑石（三錢）○如膽火上衝致嗽者。本方加夏枯草（三錢）○如咳而胃痛者。本方加左牡蠣（四錢）川連（七分）○如三陰虧損而虛火上刑肺金者。宜金匱腎氣丸。與大補肝腎丸。皆可選用。（方見厥症</p>
<h4>荊防敗毒散</h4>
<p>（自製）</p>
<p>治咽喉腫痛。兩頤發腫。身有寒熱者。名曰時毒。系風邪上千肺胃所致必危殆。</p>
<p>荊芥　防風　薄荷　桔梗（各一錢五分）　元參　牛蒡子（炒各三錢）人中黃　象貝母　射干黃芩（炒各一錢）加竹葉二十片。青果兩枚。水煎。忌食生冷等物。恐阻肺氣。變幻莫測也。</p>
<h4>牛蒡羚羊散</h4>
<p>（自製）</p>
<p>治喉症咽痛。或單蛾。或雙蛾。單蛾者。咽旁起一小　。雙蛾者。咽喉兩旁各起一　也。</p>
<p>羚羊角（鎊二錢）　蟬衣（一錢）　牛蒡子（炒三錢）　桔梗　防風　薄荷（各一錢五分）　生甘草煎。</p>
<h4>大黃湯</h4>
<p>（自製）</p>
<p>治喉症壯熱痰盛。胸痞便秘。咽痛。水漿不入者。此火毒太甚。危在旦夕。</p>
<p>蔽之熱。得便通熱泄。可望生機。</p>
<p>生錦紋大黃（八錢）生石膏（三錢）　銀花（四錢）　栝蔞子（六錢）　桔梗（二錢）　焦梔子（三錢）</p>
<p>一盞。薑汁三匙。青果二枚沖入。徐徐呷下。得吐出膠痰數碗。痰出便通。可轉危而</p>
<h4>六味湯</h4>
<p>治喉症。不拘七十二惡症。凡初起者一二劑為佳。其效至捷也。</p>
<p>桔梗　荊芥（各一錢半）　生甘草　薄荷　防風（各一錢）　僵蠶（炒二錢）加青果一枚。水煎。</p>
<h4>附喉症吹口藥方一首</h4>
<p>明朱砂（六分）　硼砂（五錢）　梅花冰片（五分）　元明粉（五錢）　薄荷末（三錢）</p>
<p>共研細末。吹於兩旁大牙邊。流出黏涎。自能漸瘥。</p>
<p>脈候肺經咳嗽脈浮洪。數疾因知邪上攻。寸中見滑多痰咳。尺內逢弦病氣衝。上痰上逆。喘哮初起急開通。肺癰脈來右寸數。若來澀脈痿困窮。肺經之脈。</p>
<p>邪實。無力虛躬。兩寸皆數。肺熱如烘。浮而兼敗。藥餌無功與代。中氣已空。脈沉而喘。腰曲如弓。</p>
<p>腎經病　夢遺　自遺　陽痿　腰痛　淋濁　疝氣偏墜腎者。作強之官。伎巧出焉。如腎經一虧。相火內動。而精氣不固。而夢遺。自遺。陽痿。</p>
<p>結於乃腎火隨草一時也。</p>
<p>減少。</p>
<p>用固澀下元。</p>
<p>滲其濕淋則痛亦由及心多獲之絡經者縱者疝。</p>
<p>略序其要以備參考。</p>
<h4>歸脾湯補心丹</h4>
<p>（俱見心經病）</p>
<h4>水陸二仙丹</h4>
<p>治夢遺症金櫻子　芡實（各等分）</p>
<p>為末。煉蜜為丸。如彈子大。每服一丸。淡鹽湯沖服。忌食蔥蒜。</p>
<h4>桑螵蛸散</h4>
<p>治自遺無夢者。</p>
<p>人參（三錢）　遠志肉（八分）　茯神（三錢）　石菖蒲（七分）　龍骨（三錢生用）　龜板（四錢）</p>
<p>共末。每服三錢。開水沖服。或作湯藥煎服亦可。</p>
<h4>貞元飲</h4>
<p>填補肝腎之法。</p>
<p>熟地（一兩）　當歸（四錢）　炙甘草（一錢）</p>
<p>水煎。</p>
<h4>補陰益氣煎</h4>
<p>不拘自遺夢遺等症。皆治之。</p>
<p>人參　當歸　懷山藥（各三錢）　陳皮　柴胡（各一錢）　炙甘草（五分）　升麻（五分）　熟地（</p>
<h4>潛陽湯</h4>
<p>治自遺虛症。陰火內熾者。</p>
<p>熟地（四錢）　茯神　山藥　澤瀉（各三錢）　丹皮（二錢）　萸肉（一錢）　炙龜板　炙鱉甲　生水煎。</p>
<h4>聚精丸</h4>
<p>總治夢遺自遺。腰痛淋濁諸症。</p>
<p>魚螵蛸（即黃魚膠一斤蛤粉炒）　沙苑蒺藜（八兩馬乳浸一日隔湯煮一炷香時）</p>
<p>二味為末。煉蜜為丸。梧子大。每服八十丸。白滾水送下。</p>
<h4>茯兔丸</h4>
<p>治精滑。不拘有夢無夢。</p>
<p>茯苓　菟絲子　建蓮子（各一兩）　酒糊丸（如桐子大。）</p>
<h4>濟生固精丸方</h4>
<p>牡蠣　菟絲子　韭子　龍骨　五味子　茯苓　桑螵蛸　白石脂</p>
<h4>左歸飲</h4>
<p>治腎虛腰痛。偏墜遺精等症。</p>
<p>熟地（八錢）　山萸肉（一錢）　山藥（三錢）　杞子（三錢）　茯苓（三錢）　甘草（五分）</p>
<h4>右歸飲</h4>
<p>治胃虛火衰。睪墜而痛。</p>
<p>熟地（六錢）　山萸肉（一錢）　山藥（三錢）　杞子（三錢）　甘草（五分）　杜仲　肉桂附子（水煎。</p>
<h4>左歸丸</h4>
<p>治肝腎兩虛。</p>
<p>熟地（八兩）　枸杞子　菟絲子　鹿角膠（各二兩）　山藥　龜板膠　牛膝（各二兩）　山萸肉（上藥。以龜鹿二膠烊化和丸。如桐子大。每服三四錢。開水送下。</p>
<h4>右歸丸</h4>
<p>治命門火衰者。</p>
<p>熟地（八兩）　山藥（二兩）　杞子（三兩）　山萸肉（一兩）　菟絲子（二兩）　鹿角膠（三兩）　炒上藥。更加肉桂末八錢。共為細末。以鹿膠化水和丸。桐子大。每服三四錢。淡鹽湯下。</p>
<h4>孔聖枕中丹</h4>
<p>治心腎不交諸症。方見心經病</p>
<h4>萆釐清飲</h4>
<p>治淋症濁症兼濕熱者。</p>
<p>川萆　（三錢）　石菖蒲（七分）　烏藥（一錢）　生甘草梢（八分）　茯苓（三錢）　益智仁（三錢）</p>
<h4>三才封髓丹</h4>
<p>治腎虛精滑不固。</p>
<p>人參　天冬　生地（各三錢）　黃柏　砂仁（研）　甘草（各一錢）蜜水和丸彈子大。</p>
<p>每服一丸。開水化服。</p>
<h4>大補陰丸</h4>
<p>治腰痛兼治淋症。</p>
<p>川柏（一兩）　炙龜板（三兩）　炒知母（五錢）　熟地（八兩）　豬脊髓（四兩）蜜水煉丸。桐子大。每服五十丸。淡鹽湯下。</p>
<h4>導氣湯</h4>
<p>治寒疝以及偏墜小腸疝痛之症。</p>
<p>川楝子（三錢）　小茴香（五分）　木香（一錢）　淡吳茱萸（一錢）長流水煎服。</p>
<h4>崔氏八味丸方</h4>
<p>治寒疝作痛。方見厥症</p>
<h4>振陽湯</h4>
<p>（自製）</p>
<p>治陽痿症。</p>
<p>鹿角霜（二錢）　淡蓯蓉（三錢）　懷牛膝（三錢）　枸杞子（三錢）　遠志肉（六分）</p>
<p>菟絲子（三加大棗五枚。○如稟賦不足者。加人參（二錢）○如色傷腎陽。相火不足。加肉桂（五分）</p>
<p>川柏膃肭臍。</p>
<p>脈候腎經之病。其脈多柔。兩尺緊數。相火失收。左尺來搏。陽與陰仇。右火外浮。兩尺不起。痿症之由。重按無力。固澀宜投。欲絕之脈可追求。腎家之病脈來濡。陽痿難振溫補符。若診尺因多怒。脈象弦遲溫散扶。根本已離沉候決</p>
<h2>卷五</h2>
<h3>婦人辨論</h3>
<p>讀諸大家書。知女科與男子分立一科。金匱要略中著婦科三篇。妊娠。產後。雜症。大略已男子女命血精別樣。而十二經脈。所行之終始。五臟之定位。則一也。豈得以女人脈位反背倒置乎。</p>
<p>故言婦人之症。多與男子同。惟行經胎產與男子異耳。茲特舉所異者逐一詳述。以備吾儕參考。凡所同者。悉照男子治例。不當復贅。又凡金匱所有之治法。茲不復述。宜宗金匱可也調經　帶下　白淫　白淋　氣淋　勞淋　七疝　症瘕　五積且夫經者。常也。營運有常。一月一行。故名月信。信。約信也。如約信之有定期也。</p>
<p>又曰則溢月事生血所歸脈。</p>
<p>衝任帶為漏瘕綿綿女子者陰陽調如帶之狀。綿綿不絕。流利難停。治宜疏木補土。調理帶任二脈。白淫者。小溲之後有白物。見亦不多。治宜補心益脾。兼調氣分。白淋者。膀胱之內有濕熱蘊結。必小腹墜痛而後下者。治宜化氣之法。兼清濕熱可也。況淋病有五。一曰氣淋。氣虛下陷。小便頻數。溺有餘瀝。宜補心益氣。兼清濕熱之治。一曰勞淋。遇勞即淋。損在脾腎。宜補中益氣為治。又有血淋砂淋膏淋三者。皆因濕熱久蘊。傷及腎陰所致。宜滋養化源。以大補陰丸治之最妙。凡婦人科以經水趲前屬熱。趲後屬寒為斷。論非不確。然亦不可拘執也。如經水淋漓。頻頻而見。或為氣所阻。或因血瘀滯著。不得以此例賅之。又有血枯內熱。經候亦必衍期。因血虛內耗所致。凡婦人脈盛內熱。經水先期而至。斯為屬熱。若脈衰肢逆。經水後期而至者。斯為屬寒。故診婦人病。必當問天癸何如。血分多寡否。腰腹有痛否。經色紫黑黃赤否。有瘀否。或經先腹痛。經後腹痛。經先腹痛屬氣滯。經後腹痛屬血虛。更當究其脈之虛實而合病之盛衰。如內熱者脈必數。內寒者脈必遲。血虛者脈必澀而少神。氣虛者脈必沉而兼微痛者脈緊。血瘀者脈革。血脫者脈芤。古人之言女尺恆盛者。指平脈也。近時婦女。兩滯澀小者居多。因吾鄉地屬東南。濕熱為勝。氣虛血滯者為多。北方風寒為勝。地屬西血虛氣旺者為多。故西北之人。病帶下者十之一二。以寒盛故也。東南之人。病帶下者常八九。以濕勝故也。又肥人血多滯為寒。瘦人血多滑為熱。肥者難孕而易育。瘦者易孕而難育也。調經之道。血盛則補氣。氣盛則補血。使血氣無偏勝。陰陽無盛衰。何患乎難孕。</p>
<p>何患乎難育哉。余以婦科之最切急者以備參考焉。</p>
<h4>大補陰丸</h4>
<p>（方見腎經症）</p>
<p>統治五淋症。</p>
<h4>益母勝金丹</h4>
<p>治經候前後不調等症。</p>
<p>大熟地（九蒸九晒砂仁酒滲）當歸（酒蒸各四兩）　白芍（酒炒三兩）　川芎（酒蒸一兩五錢）丹參（酒蒸三兩）　茺蔚子（酒蒸四兩）　香附（四制鹽酒醋薑汁各炒一兩）土炒白朮（四兩）</p>
<p>以上八味共末。以益母草（八兩）水酒各半熬膏。與前藥末。煉蜜為丸。如桐子大。每早開水</p>
<h4>進退四物湯</h4>
<p>（自製）</p>
<p>調經總方。加減而治。</p>
<p>熟地（五錢）　當歸（三錢）　酒炒白芍（一錢五分）　川芎（一錢）</p>
<p>水煎。○血熱先期者。加丹參丹皮益母草（各二錢）○血寒後期者。加肉桂（五分）牛膝香附（錢）青木香（四枝（五分）香附延胡（各龍骨（二錢）左牡蠣（四錢）</p>
<p>加茯苓白朮東洋參（各一錢五分）進烏骨（一錢）滑石淡竹葉（各三錢）○經黨參（三錢）柴胡（醋炒八分）○心神搖漾。加茯神燈草（一丸）○如風虛暈眩者。加煨天麻（一錢）薑半夏（一加薑三片。川連（八分）薑半夏（一錢五分）淡吳萸（八分）減熟地枝（七分）竹茹（一丸）薑三片。</p>
<h4>調元湯</h4>
<p>（自製）</p>
<p>治奇脈虧損。經水三五不調。肢節酸疼。腰痛氣滯。心搖神怯暈眩等症。</p>
<p>生地（四錢）　阿膠（烊沖一錢）　白芍（酒炒二錢）　當歸（二錢）　茺蔚子（炒三錢）　澤蘭（二加桂圓肉五枚。○如虛風眩暈者。加煨天麻（一錢）○氣滯腹痛。加延胡索（三錢）天仙藤（一○嘔者加梔子（三錢錢）○如經先腹痛者。加川地二味○經後腹痛者加白朮（二錢）</p>
<p>經水少而淡黃者。加肉桂（八分）夏月減半錢）菟絲子（三錢）○如經至之先。必發寒熱者。</p>
<p>阿膠可也。</p>
<h4>大補血湯</h4>
<p>治氣血兩虛而經候不調者。</p>
<p>炙黃　（八分）　當歸（三錢）</p>
<p>清煎。</p>
<h4>八味逍遙散</h4>
<p>調經之要方也。</p>
<p>當歸（三錢）　赤芍（一錢）　柴胡（一錢）　茯苓（三錢）　白朮（二錢）　甘草（五分）　生薑（一</p>
<h4>四七湯</h4>
<p>治七情郁結。經候不調。</p>
<p>薑半夏　厚朴　茯苓　蘇葉（各一錢半）</p>
<p>水煎。</p>
<h4>越鞠丸</h4>
<p>治肥人多痰。痰阻經隧。不能受孕者。</p>
<p>蒼朮　川芎　香附　梔子　神麯（各等分）</p>
<p>為末。煉蜜為丸。或水法為丸。桐子大。每服三錢。薑湯下。</p>
<h4>八珍湯</h4>
<p>治氣血不足。</p>
<p>黨參（三錢）　白朮（二錢）　茯苓（三錢）　炙甘（五分）　生地　當歸（各三錢）　赤芍川芎（各加薑棗煎。</p>
<h4>斷下丸</h4>
<p>（自製）</p>
<p>治不論赤白帶下。</p>
<p>杞子　復盆子　車前子（炒）　龍骨　牡蠣　黨參　茯苓　淮山藥　杜仲（酒炒）　柴胡又加棉花子仁二兩。共為末。煉蜜為丸。桐子大。每服（二三）錢。白朮泡湯送下。</p>
<h4>加減歸脾湯</h4>
<p>治白淫白淋白帶諸症。</p>
<p>炙綿黃　（三錢）　白朮（一錢五分）　炙甘草（五分）　棗仁（炒一錢）　遠志肉（炒）</p>
<p>廣木香（水煎。</p>
<h4>茯苓琥珀湯</h4>
<p>治白淋濕重者。</p>
<p>茯苓　豬苓　澤瀉　滑石（各三錢）　甘草　桂枝（各五分）　白朮（二錢）　琥珀（一錢）</p>
<p>長流水煎。</p>
<h4>八正散</h4>
<p>治白淋熱勝者。</p>
<p>木通　車前子　蓄（各一錢半）　大黃　滑石　瞿麥　梔子（各二錢）　甘草梢（五分）</p>
<p>加燈草七莖。</p>
<h4>釐清飲</h4>
<p>治膏淋濕熱多者。</p>
<p>川萆　益智仁（各三錢）　石菖蒲（七分）　生甘草梢（五分）　烏藥（一錢）　加茯苓（三錢）食鹽數粒。亦可治之。</p>
<h4>補中益氣湯</h4>
<p>並治氣淋勞淋。</p>
<p>炙黃　（三錢）　黨參（三錢）　白朮（二錢）　陳皮（一錢）　柴胡（一錢）　升麻（五分）　炙甘草如氣實者。減黃　錢半。加青皮（一錢）木香（八分）如氣虛似實者。宜逍遙散治之。</p>
<h4>三五七散</h4>
<p>治風入血分。化腫者名曰風痹淡附片　細辛（各三錢）　乾薑　干山茱萸肉（各五錢）　防風　山藥（各七錢）</p>
<p>共末。每服二錢。溫酒調下。</p>
<h4>流氣飲</h4>
<p>治七情氣滯。腹脹便閉。香港腳上攻。喘逆。肩背胸脅痞悶等症。</p>
<p>蘇葉　炙黃　青皮　陳皮　大腹子　茯苓　當歸　烏藥　防風　木香　川芎　白芍桔梗水煎。此方不注分錢。宜酌用可也。</p>
<h4>養心湯</h4>
<p>治勞淋氣淋二症。</p>
<p>炙甘草（五分）　炙黃　（三錢）　西黨參（三錢）　茯苓（三錢）　茯神（三錢）　川芎（一錢）　當（九粒）　肉桂（五分）　棗如氣虛不受參蓍者。宜減參蓍各半。加砂仁末（五分）天仙藤（一錢）琥珀（六分）</p>
<p>水煎。</p>
<h4>太無神功散</h4>
<p>治痞滿積聚。噯氣食滯。痰鬱血鬱。心肝脾肺腎五積。干血癆損。症瘕等症。</p>
<p>蓄　瞿麥　麥芽（各五錢）　神麯（三錢）　沉香　木香（各一錢五分）　甘草（五錢）　制軍（共為細末服之。每服二三錢。燈芯竹葉煎湯。稍加陳酒調服。○凡婦人干血症。用紅花湯調○痰積用橘紅湯。加酒調下。○肝積名肥氣。用柴胡青皮（各一錢）　泡東加酒調下。</p>
<p>○肺積名息賁。用合歡皮百合（錢）煎東加酒調下。○脾積名痞氣花椒五十粒泡湯調下。○如瘕與症。</p>
<h4>加味橘核丸</h4>
<p>（自製）</p>
<p>治七疝八瘕。書云。任脈為病。男子內結七疝。女子帶下瘕聚。七疝者上衝心。二便不通。二曰狐疝。臥則入腹。立則出腹也。三曰　疝。陰囊腫厥疝。肝氣上逆也。五曰瘕疝。素有症痞。痛而下濁也。六曰潰疝。內有膿內停膿血。小便不通也。症者。征也。有形可征。按之不動也。瘕者假也可移也。血食內積為症。氣鬱於中為瘕也。</p>
<p>橘核（二兩鹽酒炒）　小茴香　川楝子（煨去核）　桃仁（光炒）　山楂（炒）　香附（醋炒各一兩）</p>
<p>曲（四兩）</p>
<p>共末。以米飲為丸。如綠豆大。每服四五十丸。溫酒送下。○女子用紅花（一錢）泡湯送下。</p>
<p>崩漏　附倒經辨症崩者。如山川卒崩。橫決之勢。莫能制也。此女科最凶最暴之症。有因木鬱侮土。木盛土衰又有脾肝腎。宜通。治屢崩屢愈者。必靜攝任陰。溫煦衝陽。法已大備。然婦女患是症者。必清宜倉皇告急。而治之者。切勿因其倉皇告急之情。而畏首畏尾。倉猝施治。妄用補攻之法。若誤補之。則留瘀貽患。誤攻之。則心氣下脫。危在旦夕也。必須問明有瘀無瘀。腹中痛與不痛。</p>
<p>崩勢之緩急。病之新久。審斷其屬虛屬實。藥之宜補宜通。</p>
<p>宜溫宜清。宜攝宜固之理。以痛而有瘀為實。不痛而無瘀為虛。虛者補之。實者攻緩則溫之。急則緩之。新者消補兼治之。久者固攝兩施之。余治是症。必診其脈之沉微四肢逆冷如冰者。以大溫大補之中。參以活血消瘀之品。診其脈之緊革弦數。四肢痛者。以八味逍遙散。和養之也。故自製黃　補血湯一方。總治崩症。而設加減之法診簡於其治。恐方藥一多。致有難於選用耳。余治之數十年。愈者十常八九靡不應手至於漏下之症。如漏卮之狀。或一日一漏。或一日數見。或五日十日半月一漏者名與妊娠胎漏有間。經漏者。系奇脈不固。衝任失職。脾土太虛所致。或症瘕為害。</p>
<p>宜固攝為主。次疏肝陽。繼補奇脈。余以自製固元煎治之。更以虛實之法加減而用也。</p>
<p>凡婦情懷失暢。致衝任失司。逆行而上也。治宜和肝潛陽鹽柔潤下之法。俾經水一正。而倒者順矣</p>
<h4>黃補血湯</h4>
<p>（自製）</p>
<p>治血崩。不拘有瘀無瘀。氣虛血虛。</p>
<p>蜜炙黃　（四錢）　當歸（三錢）　仙居白朮（二錢）　鹿角霜（二錢）　茯神（三錢）</p>
<p>赤芍　制香一錢）　神麯（三錢）如腹痛有瘀者。加延胡（二錢）桃仁（十粒去皮）如氣血兩虛欲脫者。</p>
<p>加麥冬（去心三錢）遠志肉也。不宜表散。但加荊芥穗（二加煨天麻（一錢）薑半夏（一錢五也。切勿飲冷。慎之。加烏梅炭（以成不治之症也。</p>
<p>（方見調經）</p>
<p>治血虛氣怯。崩後赤帶白帶。</p>
<p>（方見調經）</p>
<p>治同前症。</p>
<p>（方見調經）</p>
<p>治素有肝鬱者。</p>
<h4>固元煎</h4>
<p>（自製）</p>
<p>治經漏症。</p>
<p>熟地（六錢）　歸身（三錢）　白芍（酒炒一錢）　菟絲子（炒三錢）　龍骨（二錢）</p>
<p>鹿角霜（三錢）　炙鱉甲（三錢）　杜仲（鹽水炒二錢）　潼蒺藜（三錢）　益母草（三錢）</p>
<p>炙甘草（五分）　廣木香（八分）</p>
<p>水煎。如素有症瘕者當先服神功散。繼服固元煎可也。</p>
<h4>神功散</h4>
<p>（見調經）</p>
<h4>正經湯</h4>
<p>（自製）</p>
<p>治倒經鼻衄吐血。</p>
<p>澤蘭（二錢）　當歸（三錢）　焦山梔（四錢）　阿膠（烊化三錢）　丹皮（三錢）　茜草（一錢五分）</p>
<p>藕一斤。煎湯代水。或服逍遙散。加丹皮梔子。亦可治之。</p>
<h4>十全大補湯</h4>
<p>治病後元氣不復之症。</p>
<p>人參（二錢）　白朮（一錢五分）　茯苓（三錢）　炙甘草（五分）　熟地（八錢）　白芍藥（二錢）</p>
<p>水煎。○如體熱。去肉桂。加黃芩天冬（各二錢）水煎服。</p>
<p>崩漏之脈　究其根　。六脈實大。其症為災。若遇暴下。立見其推。</p>
<p>兩寸似滑。或斷有胎。脈緩為吉。沉伏難栽。浮而兼代。</p>
<p>病必不回。緩小多愈。洪作虛栽。</p>
<p>倒經之脈　右寸浮洪。兩尺如澀。陰火上攻。咳吐痰血。無瘀易通。下虛上乘。氣必逆沖。和緩則吉。強直者凶。熱入血室。</p>
<p>嘗思病有熱入血室者。何也。讀金匱要略。而知病熱入血室者有五。第一條。主小柴胡。</p>
<p>因女子患寒熱致經水適斷。急提少陽之邪。勿令下陷為最。第二條。傷寒發熱。經水適來。</p>
<p>有晝明夜劇譫語見鬼之象。恐誤認為陽明實症。故云無犯胃氣及上二焦之戒。第三條。中風寒熱。經水適來。七八日脈遲身涼。胸脅滿。如結胸狀。譫語者。顯無表症。全露熱入血室之候。自當急刺期門。使知針力勝於藥力也。第四條。陽明病下血譫語。但頭汗出。亦為入血室。亦刺期門。必汗出而愈。第五條。明其一症。而有別因為告。故未詳辨耳。如痰涎上潮。昏冒不知。當先除其痰。後除其熱等語。所謂急者先除也。今人但知熱入血室。不辨熱邪之輕重。血室之盈虛。而獨以小柴胡一方。統以施治。貽害良多也觀葉桂先生。於熱甚血瘀者。與桃仁承氣參入山甲歸尾之屬。使瘀熱下行也。於血舍空虛。而熱邪陷入者。用犀角地黃。加丹參木通之類。以使熱下泄也。有表邪未盡者。用和解之法。至於血結胸者。有桂枝紅花湯入海蛤桃仁之品。又有瘀熱為狂者。用牛黃膏之法以清之。何嘗拘於小柴胡一法也。更觀案中治吳某熱病十七日。因經來三日後患病。熱邪乘空內陷。從蓄血如狂例治。方用澤蘭行氣解毒。丹皮清血中之熱。制軍桃仁下瘀。兼清陷下之熱。生地人中白存陰救裡。</p>
<p>可謂法之密。治之審也。得此一隅。而三隅可反矣。余治是症最多。每以金匱立法。指南參用。自能各適其宜焉。因近時婦女。冷暖不慎。飲食不節者居多。行經時一受外邪。即變熱入血室之症。而膏粱之人。自知保養。故病是症者尚少。藜藿之人。未能保養。故病是症者良多。凡治婦女之病。必詢及經水如何。或經水已至。即受風寒暑濕等邪。或已受風寒暑濕等邪。致經水適來。或病及半月余而經水適至者。皆能熱入血室也。如病者云。經期尚遠。</p>
<p>亦須急治其邪。恐邪氣綿延。正氣必虛。致經水適及其期。而病氣未盡。邪必乘虛欲入。急當清其余邪。切勿挾雜血分之藥。恐導　而入　也。余制三方。各有加減之法。以治熱入血室之症。不無小補云爾。</p>
<p>再論熱入血室者婦人病則稍輕。室女病則更重何也。婦人體藏已疏。感邪雖入血分。易於解散。室女體藏周密。邪入血室不易外達。治不易散。余每治是症。必問經對幾日。或病先受邪。或病後受邪。審其邪之淺。深輕重。用藥之表裡緩急。凡婦女經水有盛衰。經候有遲速。或平素經行幾日方盡。如經行一日。即感外邪而致者。其瘀必多。或經行將盡。適病外邪。熱雖陷入血室。其瘀必少。瘀多者正未虛。瘀少者正已虛。更問其少腹痛否。視其神氣清否。腹痛而神昏者。瘀為多。腹不痛而神清者。瘀必少。又當辨其形狀若何。如言謇者。</p>
<p>風邪也。自汗者。亦風也。身重者。濕邪也。有寒熱而無汗者。寒邪也。口渴面赤者。暑兼濕也。又當察其脈象。脈見弦勁者病凶。脈見徐緩者病輕。遲而寒者宜溫。數而熱者宜清。</p>
<p>是症須急治。不宜緩治。略敘數言以參末議也。</p>
<h4>牛黃膏</h4>
<p>牛黃（二錢五分）　朱砂（水飛）　丹皮　鬱金（各三錢）　冰片（一錢）　甘草（一錢）</p>
<p>共末。煉蜜為丸。如舶茴大。每服一丸。開水化下。</p>
<h4>桃仁承氣湯</h4>
<p>（方見傷寒）</p>
<h4>犀角地黃湯</h4>
<p>（見火症）</p>
<h4>桂枝紅花湯</h4>
<p>桂枝　白芍　甘草　紅花</p>
<h4>滌邪湯</h4>
<p>（自製）</p>
<p>治經水先來。更受熱邪。寒熱往來。或晝輕夜劇。或但身熱。不論神昏欲痙澤蘭（一錢五分）　琥珀（一錢）　丹皮（二錢）　天冬（三錢）　荊芥炭（一錢）　條黃芩（一錢五水煎服。忌食生冷之物○如嘔者。加川連（薑汁炒八分）○如不省人事者。先用蘇合丸一丸。</p>
<p>者。</p>
<p>拒按者。瘀錢五分）　如腹微六一散。受暑加青蒿</p>
<h4>御邪湯</h4>
<p>（自製）</p>
<p>治先受邪而經水適來者。（加減法如前例）</p>
<p>澤蘭（二錢）　黃芩（一錢五分）　焦梔子（三錢）　杏仁（光三錢）　天麻（煨八分）</p>
<p>琥珀（一錢</p>
<h4>化元湯</h4>
<p>（自製）</p>
<p>治病後邪熱，未淨。而適見經水者。（加減如前例）</p>
<p>生鱉甲（四錢）　川芎（一錢）　當歸（三錢）　琥珀（一錢）　黃芩（炒一錢五分）　茯神（三錢）</p>
<p>水煎服。</p>
<h4>小柴胡湯</h4>
<p>（方見傷寒）</p>
<h4>蘇合丸</h4>
<p>（方見厥症）</p>
<h3>胎產脈法</h3>
<p>且夫胎產之脈。異於常人。胎前之脈。與經常之脈不同。而產後之脈。與胎前之脈亦異也。</p>
<p>氣不也。</p>
<p>子也而屬按經旨而言少陰者。指手少陰心脈而言也。婦人脈浮沉正等。按之不絕者。孕娠也。不絕者子。</p>
<p>手月余其不搏謂而胎自之脈。</p>
<p>者。非湯進產。婦憂勞思癸當至脈得弦</p>
<h3>驗胎法</h3>
<p>婦人經停三月。或脈象並無胎意。如偶有滲漏。法當驗之。用川芎末一二錢。以艾少許泡湯</p>
<h3>胎前藥忌歌</h3>
<p>巴豆天雄同附子。牡丹硝桂及桃仁。紅花薏米偕麻角。茜草藜蘆穿甲莘。槐角茅根與牛膝娠用。</p>
<p>無殞系破</p>
<h3>胎前症治</h3>
<p>昔陳良甫良方大全有驗胎脈症辨。分縱橫順逆。以斷男女雙產三產之說。未可遽以為是也。</p>
<p>脈司足厥五月始受火精。四肢生。毛髮出。足太陰脾經脈司胎。六月始受木精。筋骨成。游其魂。左手振。足陽明胃經司之。七月始受金精。口目全。手太陰肺經司之。八月始受土精。皮膚生。九竅成。游其魄。右手動。手陽明大腸經司之。九月始受石精。百節具備。三轉其身。足少陰腎經司之。十月神氣完具。氣血已足。足太陽膀胱司之。氣化即能產矣。○嘗云。墮胎須防三五七。其故何也。因三月之胎。手厥陰心包司之。相火一動。雖大聲笑語。亦能動胎。五月之胎。足太陰脾氣司胎。胞系系於脾經。濕熱傷脾。故致胎病。七月之胎。手太陰肺經司之。始受金精。一遇外邪。肺先受之。故胎易墮。凡治妊婦。必以安胎為主。雖有他病。當以末治之。胎安而病自去矣。苟以祛邪為先。安胎為後。則邪未去而胎已傷矣。可不知哉。古人另設安胎一法。不令人於有病之際服之。惟逐月服一二三劑。以養胎清熱。治於未不知通變。何其愚之若是也。余制一方。按月加減養胎之品最為妥當。如遇外邪。即以清邪之法佐之可也。</p>
<h4>加減安胎飲</h4>
<p>妊婦每月服二三劑最妙。</p>
<p>生地（五錢）　歸身（二錢）　川芎（五分）　酒炒白芍（八分）　白朮（二錢）　條芩（酒炒一錢五</p>
<h4>養元湯</h4>
<p>（自製）</p>
<p>治妊娠。每月加減而服。以養胎元。</p>
<p>生地（五錢）　歸身（二錢）　白朮（二錢）　條芩（炒一錢）　黃　（二四五錢蜜炙）</p>
<p>始受之胎。一月足厥陰養之。本方加桑寄生（三錢）○二月足少陽養之。本方加川貝母（二錢）</p>
<p>○四月手本方加茯苓陰養之。本方加之。本方去白朮。加川連杞子（三錢）川芎（八分）白芍（炒一錢）○十月足太陽膀胱養之。本方去白朮加川芎（一錢）炒白芍（一錢五分）黨產也。不必另服滑胎飲也。然滑胎氣血之衰旺所致。旺者易產。衰者其易開交骨也。為臨盆之要法。譬哉。若用滑胎等劑。是強治之法。</p>
<h3>胎動不安論</h3>
<p>妊婦胎動不安。由起居失時。飲食失常。或因寒氣搏其衝任之脈。或因跌撲損傷。或因叫號母病難全外受青木</p>
<h4>安胎散</h4>
<p>（景岳）</p>
<p>熟地　艾葉　白芍　川芎　黃　阿膠　當歸　炙甘草　地榆　生薑　大棗</p>
<h3>胎漏</h3>
<p>問曰。胎漏何故。答曰。婦人經水。無孕則按期而行。有孕則蓄養其胎。至產後化為乳汁。</p>
<p>若因血色下已見瘀塊乎瘀盡而胎未下如遲余之用龜板一味。取其補水養木之意。切勿執謂龜板能開交骨。而畏不敢用開交骨者敗龜</p>
<h3>子懸</h3>
<p>（附子眩）</p>
<p>胎氣上逼。緊塞胸次之間。名曰子懸。因嗔怒動肝。或不慎起居。或脾氣鬱結。或憂思傷及痰涎</p>
<h4>香蘇飲</h4>
<p>治子懸。</p>
<p>製香附（一錢）　蘇葉（一錢五分）　陳皮（八分）　炙甘草（五分）</p>
<p>水煎服。如胎氣上迫。加枳殼（一錢）條芩（炒一錢五分）如嗔怒動肝者。與不慎起居者。加柴（二錢）砂仁（</p>
<h4>二陳湯</h4>
<p>治子眩。</p>
<p>薑半夏（一錢）　茯苓（三錢）　炙甘草（五分）　陳皮（八分）</p>
<p>水煎服。○如氣火上升者。加焦山梔（三錢）天仙藤（一錢）如內風旋眩欲厥者。加煨天麻（一二錢）</p>
<h3>子氣</h3>
<p>子氣者。妊婦衝任受風。故兩足腫大。喘悶妨食。甚則足指甲出黃水。名曰子氣。非水氣也天仙藤（二錢）　炒香附（一錢）　烏藥（一錢）　炙甘草（五分）　陳皮（一錢）　蘇葉（一錢）　木水煎服。此方系香蘇飲加減。內有木瓜之活血。烏藥之下氣。雖屬古方。究未穩當。不若用</p>
<h3>子腫</h3>
<p>子腫者。肢體面目足跗皆腫也。系胎中受濕。與血相搏。濕氣流溢使然。名曰子腫。與子氣宜</p>
<h4>白朮散</h4>
<p>白朮（土炒二錢）　茯苓皮（五錢）　陳皮（一錢）　大腹皮（一錢五分）　薑皮（一錢五分）</p>
<p>共末。米飲調下四錢。（指迷方有桑白皮三錢無白朮即五皮飲也○丹溪除薑皮大腹皮二味加白</p>
<h3>子煩</h3>
<p>子煩者。心煩而悶亂也。因君相之火內動。而腎水不能制火。亦有痰阻中脘而煩　者。</p>
<p>治之</p>
<h4>淡竹葉湯</h4>
<p>治君相火動而煩者。</p>
<p>淡竹葉（三錢）　黃芩（炒）　知母（各一錢）　麥冬（去心）　茯苓（各三錢）</p>
<p>水煎。</p>
<h4>香砂六君子湯</h4>
<p>治胃虛而煩者。</p>
<p>黨參　茯苓（各三錢）　仙居術（二錢）　薑半夏　陳皮（各一錢）　炙甘草　砂仁　廣木香（各</p>
<h3>子癇</h3>
<p>子癇者。妊婦血虛受風。口噤。角弓反張。不省人事。痰涎上潮。名曰子癇。其症暴而且危者。加</p>
<h4>羚羊角散</h4>
<p>羚羊角（鎊一錢五分）　獨活（一錢五分）　歸身（三錢）　川芎（一錢）　茯神（三錢）　羌活（一錢）　桑寄生（二錢）加薑三片煎服。</p>
<h3>子鳴</h3>
<p>妊婦不慎起居。登高舉臂。致兒口脫出。故腹內喊叫。名曰子鳴。婦人臍上疙瘩。兒含於口陰益</p>
<h4>補陰益氣煎</h4>
<p>熟地（五錢）　歸身（三錢）　懷山藥（三錢）　黨參（三錢）　陳皮（一錢）　升麻（三分）　柴胡（七分）　炙甘草（五分）</p>
<p>水煎服。</p>
<h3>子喑</h3>
<p>經云。人有重身。九月而喑。當不服藥。十月當復。岐伯曰。胞胎系於腎。腎脈系舌本。</p>
<p>故言也躁不味。</p>
<p>湯以</p>
<h4>桔梗獨活湯</h4>
<p>（自製）</p>
<p>桔梗　獨活　蘇梗　條芩（各一錢五分）　真化橘紅（八分）加生薑三片。青果一枚。</p>
<p>水煎。</p>
<h3>子瘧</h3>
<p>（新著）</p>
<p>妊婦患瘧。名子瘧。每見妊婦五六個月。肝虛受邪。致化瘧疾。或風或寒。或暑或濕。</p>
<p>不得不成瘧。妊婦患之。每致墮下。治不得法。子母難全。何也。患瘧致墮。墮後瘧邪留著不去。其血愈虛。其邪愈盛。宜作血虛痙症例治。庶乎免死矣。然治子瘧。必以安之法佐之。胎可安而子母全矣。可忽乎哉。特著之以俟裁正。</p>
<h4>治瘧安胎飲</h4>
<p>（自製）</p>
<p>生地（五錢）　天冬　南沙參（各三錢）　知母（炒）　條芩（炒）　防風（炒）　白朮（各一錢五分）</p>
<p>加薑一片煎。○如受風者。加獨活（一錢）受寒者。加牛蒡子（炒二錢）○如受暑者。</p>
<p>加竹葉三煎。○欲嘔者。</p>
<p>錢）薄荷（一錢）馬勃</p>
<h3>子痢</h3>
<p>（新著）</p>
<p>妊婦患痢下一症。名子痢。因脾腎兩虛。不節飲食。以及生冷水濕等物。或不慎寒暄。</p>
<p>坐臥難全否每以安胎</p>
<h4>治痢安胎飲</h4>
<p>（自製）</p>
<p>綿蓍（三四錢炙）　生地炭（三錢）　歸身炭（二錢）　茯苓（三錢）　澤瀉（二錢）　升麻（炒五分）</p>
<p>范志曲（二錢）</p>
<p>加荷葉一角。水煎。○如噤口者。水湯不進而嘔吐頻頻。本方加石蓮子（三錢）石菖蒲（三分）</p>
<p>○麻一味○或外加</p>
<h3>胎消</h3>
<p>（即胎不長足）</p>
<p>妊娠胎形不長。延及一二年不產者。因婦多宿疾。或瘕聚為害。或起居不慎。或時有憂思。</p>
<h4>加味八珍湯</h4>
<p>黨參（三錢）　白朮（二錢）　茯苓（三錢）　炙甘草（八分）　熟地（六錢）　川芎（八分）　歸身水煎服。</p>
<h3>鬼胎</h3>
<p>婦人臟腑安和。氣血充足。則妖魅之氣。所不能侵也。惟正氣大虛。兼之邪念叢生。妖魅之神不宜安</p>
<h4>雄黃丸</h4>
<p>明雄黃　鬼臼（去毛）　丹砂（水飛各五錢）　延胡（七錢）　麝香（一錢）　川芎（七錢）　薑半夏為末。蜜丸梧子大。每服三十丸。空腹溫酒下。</p>
<h4>安神定志丸</h4>
<p>茯神　茯苓　人參　遠志肉（各一兩）　石菖蒲　龍齒（各五錢）</p>
<p>煉蜜為丸。梧子大。辰砂為衣。每服二錢。臨臥時以人參湯送下。或燈心七支。泡湯送下。</p>
<h3>妊婦內癰</h3>
<p>妊婦胃癰。多食炙爆煎熬之物。助起胃火或動肝火。皆能成之。小腸癰原素有瘀血。挾起濕結而癰一</p>
<h4>加減千金牡丹皮飲</h4>
<p>治妊婦一切內癰。惟乳癰不宜。</p>
<p>丹皮（一兩）　米仁（一兩五錢）　栝蔞仁（一兩）　銀花（二兩）　草河車（即蚤休二兩）</p>
<p>共末。每服五錢。水煎服。○胃癰加川連五錢共末可也。</p>
<h4>神效化癰散</h4>
<p>（自製）</p>
<p>治妊婦乳癰。</p>
<p>當歸（二錢）　炒白芍（一錢）　炒青皮（八分）　柴胡（一錢）　茯苓（三錢）　夏枯草（三錢）　鹿錄後以備參考。</p>
<h4>神效栝蔞散</h4>
<p>全栝蔞（一枚）　粉甘草　當歸（酒洗各五錢）　制乳香　制沒藥（各一錢）</p>
<p>水煎。熱酒沖服。此法因乳香沒藥二味去瘀太峻。恐傷胎元。故宜加意而用。如萬不得已。</p>
<h3>妊婦護胎法</h3>
<p>妊婦患時症或患六淫重症。急用護胎之法。用井底泥塗臍至關元。（臍下三寸）干則再易之。</p>
<h3>妊婦大小便不通</h3>
<p>（附轉胞）</p>
<p>妊婦大便不通。因血燥火旺所致。宜六味丸去丹皮加川柏知母治之。小便不通。因胎墜於下胞</p>
<h4>六味去丹皮加黃柏知母湯</h4>
<p>生地（八錢）　澤瀉（三錢）　茯苓（三錢）　淮山藥（二錢）　山萸肉（八分）　川柏（一錢五分）</p>
<p>清煎。</p>
<h4>補中益氣湯</h4>
<p>（見痢疾症）</p>
<p>炙黃　（三錢）　白朮（二錢）　陳皮（一錢）　升麻（六分）　東洋參（一錢）　生甘草（五分）　當加淡竹葉三十片。方隨服後。以指探喉。嘔一次可愈。當連服數劑可也。</p>
<h3>妊婦出乳</h3>
<p>（附乳卸　並附保產順生方法）</p>
<p>妊婦有乳自出。名曰泣乳。因氣旺血涌使然。宜加味八珍湯。加柴胡（醋炒一錢）方見胎消症防風（</p>
<h4>神驗保產無憂散</h4>
<p>凡妊婦九個月外。未臨盆時。預服二三劑。可免一切產難之虞。流傳已久珍重用之。</p>
<p>當歸（酒洗一錢五分）　川貝（一錢）　酒炒白芍（一錢二分）　黃　（八分）　菟絲子（一錢四分芎（一錢三分）　羌活（五無一失。</p>
<h4>華佗順生丹</h4>
<p>朱砂（五錢水飛）　制乳香（一兩）</p>
<p>為末。以端午午時。用豬心血為丸。如芡實大。每服一丸。以當歸（三錢）川芎（二錢）</p>
<p>煎湯</p>
<h4>順生丹</h4>
<p>朱砂（水飛五錢）　丁香（五錢）　麝香（一錢）　制乳香（一兩）　石燕（一對　醋淬七次）</p>
<p>上為細末。擇天月德日。用益母草熬膏為丸。如芡實大。每服一二丸。川芎（一錢）當歸（二凡婦人初胎。氣血完固。腹皮緊窄。交骨未易即開。其胞胎最難轉動。必補養血氣之劑多服活剝但使穩婆包扎小兒而已。勿令動手推挪。更須壯孕婦膽量。使勿自張皇。自然萬無一失矣。</p>
<p>語雖近粗。而道合至正也。</p>
<h3>難產十論</h3>
<p>楊子建云。凡生產先知此十症。庶母子兩命皆得保全。世之收生者。殊少精良妙手。多致誤一曰正產。懷胎十月。陰陽氣足。忽然腰腹齊痛。兒自轉身頭向產門。漿破血下。兒即正生二曰催生。兒頭至產門。腰腹齊痛。仍不產者。方服藥催之。或經日久。產母困倦難生。</p>
<p>宜三曰傷產。胎未足月。有所傷動。以致臍腹疼痛。忽然欲產。或因妄服催藥。逼兒速生。</p>
<p>如四曰凍產。天氣寒冷。產母氣血凝滯。難以速生。則衣服宜濃。產室宜暖。下裳更宜溫濃。</p>
<p>五曰熱產。盛暑之月。產婦溫涼得中。過熱則頭目昏眩。而生血暈之症。若涼台水閣。</p>
<p>以及六曰橫生。言兒方轉身。產母用力太急。逼令兒身不正。當著產母安然仰臥。令老練穩婆。</p>
<p>力。</p>
<p>七曰倒產。言兒並未轉身。產母妄自努力。令兒手足先出。當著產母安然仰臥。令穩婆輕手服催八曰偏產。言兒雖已轉身。但未順向生路。產母急於努力。逼兒頭偏向一邊。雖露兒頂。</p>
<p>非乃額角耳。當令產母仰睡。穩婆輕手扶正其頭。即服催藥。並努力兒即下。若兒頂後骨偏注穀道。露額。令穩婆以綿衣烘暖裹手。於穀道外旁輕手托正。令產母努力。兒即順生。</p>
<p>九曰礙產。言兒身已正。門路已順。兒頭已露。因兒轉身臍帶絆其肩。以致不生。令產母仰十曰盤腸產。臨產子腸先出。然後生子。腸出時。以極潔淨不破損漆器盛之。古方用萆麻子油潤以上十產論。密且精矣。足見醫道之難。不容浮躁涉獵者問津也。</p>
<h3>交骨不開產門不閉論治</h3>
<p>交骨不開者。有鎖骨也。因血虛不能運達。故不開。令穩婆以麻油調滑石。塗入產門中。</p>
<p>或加</p>
<h4>加味芎歸湯</h4>
<p>當歸（五錢）　川芎（三錢）　自敗龜板（童便炙酥三錢）　婦人頭發（一握燒灰存性）</p>
<p>水煎服。如人行五裡地時即生。如無自敗龜板。藥肆中所買者。亦可代用。</p>
<h4>加味八珍湯</h4>
<p>（方見胎消症）</p>
<h2>卷六</h2>
<h3>產後證治總論</h3>
<p>產後病苦雜亂。金匱中著產後三病。最為簡括。一者病痙。二者病鬱冒。三者病大便難。</p>
<p>悉令神痰並坐沖胃。則嘔惡飽悶。腹滿脹痛。失笑散平胃散治之。若腹脹而兼嘔逆者。因敗血已化為水。</p>
<p>在者務故症之之症後有表多致似外確有和之尤進即情多。</p>
<p>重矣。</p>
<p>產者。</p>
<p>跌撲損恐瘀平素體宜暖。</p>
<p>連進生</p>
<h4>生化湯</h4>
<p>當歸（八錢）　川芎（四錢）　桃仁（十三粒）　薑炭（五分）　炙甘草（五分）</p>
<p>用水三鐘。煎至八分。加無灰陳酒三四匙。沖入而服。須產後二個時辰內服之。可免變幻。</p>
<h4>如聖散</h4>
<p>治胞衣不下。肘萆麻肉（二錢）　雄黃（二錢）共研成膏。塗母足心。胞衣即下。一下即宜洗去為要。</p>
<h4>益母丸</h4>
<p>治胞衣不下。以益母草一味連根葉花於當風處陰乾為末。蜜丸。彈子大。每服一丸化湯沖服。</p>
<h4>承氣生化湯</h4>
<p>（自製）</p>
<p>治產後胃燥亡津液。大便結閉。</p>
<p>制軍（三錢）　川芎（三錢）　全當歸（六錢）　桃仁泥（二錢）　炮薑（五分）　炙甘草（五分）</p>
<p>水煎。加酒三匙沖。</p>
<h4>桂枝生化湯</h4>
<p>（自製）</p>
<p>治產後汗多。口噤切牙。角弓反張。名曰痙病。因血虛風。生故也。</p>
<p>桂枝（六分）　白芍（酒炒一錢）　川芎（三錢）　當歸（五錢）　桃仁泥（二錢）　炮薑（五分）　炙草（三錢）加酒三匙沖。</p>
<h4>柴胡生化湯</h4>
<p>（自製）</p>
<p>治產後鬱冒寒多。復汗。身熱。</p>
<p>柴胡（酒炒一錢）　川芎（二錢）　當歸（五錢）　桃仁（十三粒）　炙甘草（五分）　炮薑（五分）</p>
<p>水煎。加酒半盞沖服。</p>
<h4>清心生化湯</h4>
<p>（自製）</p>
<p>治敗血衝心。</p>
<p>生蒲黃（四分）　炒蒲黃（四分）　琥珀（一錢）　當歸（四錢）　川芎（二錢）　桃仁（十粒）　炮薑（一合）　加蘇木（五分）　降</p>
<h4>平胃生化湯</h4>
<p>（自製）</p>
<p>治敗血衝胃。</p>
<p>醋炒大黃（三錢）　厚朴（一錢）　川芎（二錢）　當歸（四錢）　桃仁（十粒）　黑料豆（一合）　炮分）水煎。加酒五匙沖。</p>
<h4>救肺生化湯</h4>
<p>（自製）</p>
<p>治敗血衝肺。</p>
<p>白蛤殼（五錢）　桃仁（十三粒）　川芎（二錢）　當歸（三錢）　炙甘草（五分）　炮薑（五分）</p>
<p>琥（四分）水煎。加酒半盞沖。又童便一盞沖。</p>
<h4>花蕊石散</h4>
<p>花蕊石（四兩）　硫黃（一兩）</p>
<p>研細。泥封　赤。每服一錢。童便調下。然此方太峻。慎勿輕用。</p>
<h4>琥珀黑龍丹</h4>
<p>當歸　五靈脂　川芎　良薑　熟地（各二兩）</p>
<p>上藥。銼碎入砂鍋內。用紙筋鹽泥固濟。火　過百草霜（一兩）硫黃乳香（制去油各一錢）</p>
<p>琥珀薑。</p>
<p>自</p>
<h4>失笑散</h4>
<p>（見厥症）</p>
<h4>人參蘇木湯</h4>
<p>人參（二錢）　蘇木（一錢五分）</p>
<p>水煎。加陳酒三匙沖入。</p>
<h4>平胃散</h4>
<p>蒼朮（一錢）　厚朴（二錢）　陳皮（一錢）　炙甘草（五分）</p>
<p>水煎服。</p>
<h4>下瘀血湯</h4>
<p>大黃（一兩）　桃仁（二十粒）　蟲（十五枚去足熬）</p>
<p>上藥三味。研末煉蜜。分作四丸。以酒一升煮一丸。取八合。頓服之。新血下如豚肝。</p>
<h4>黃湯</h4>
<p>（自製見血崩症）</p>
<p>治先產後崩。先崩後產。皆效。</p>
<h3>產後瘧疾痢疾</h3>
<p>產後患瘧。其人必肝陽素盛。血衰氣旺者居多。或胎前曾有發熱等症。至產後邪正交渾而恐邪大忌亦宜已危不慎</p>
<h4>柴胡生化湯（見前證治門）</h4>
<p>治產後瘧痢在十四朝以內者。如嘔者。加川連（八分）吳茱萸（六枝（七分）赤芍（一錢）○熱多。加枳殼（一錢）知母（一錢炒）○如十四日之外。</p>
<p>惡露必淨。加黨參一二錢不妨。</p>
<h4>治痢生化湯</h4>
<p>（自製）</p>
<p>○治痢在產後七日前後者。</p>
<p>川芎（二錢）　當歸（四錢）　炮薑（五分）　炙甘草（五分）　桃仁（十粒）　琥珀（八分）　厚朴（○如赤痢。加紅花（八分酒炒）○如白痢。加茯苓（三錢）肉桂末（三分沖）製香附（○如赤白兼者。本方去川椒。山楂肉。加製香附（二錢）藿梗（二錢）薑半夏（一錢五錢）肉果霜（六分）切忌攻補寒涼等法為當。</p>
<h3>產後時邪風寒暑濕燥火證治</h3>
<p>產後七日內患時邪。壯熱。口渴或身痛。或頭痛。或咽痛。宜與產後鬱冒例治。甚則四肢厥神不瘀血分。</p>
<p>治以鹹寒治之。不</p>
<h4>三合湯</h4>
<p>（方見瘟疫正治）</p>
<p>此方本小柴胡。小清涼。生化湯。三方加減。合而為一。</p>
<h4>六和生化湯</h4>
<p>（自製）</p>
<p>治產後六淫外侵。隨症斟酌加減。</p>
<p>川芎（二錢）　當歸（四錢）　炮薑（四分）　炙甘草（五分）　桃仁（十粒）　茯苓（三錢）</p>
<p>砂仁水煎服。○如頭痛發熱。項強身疼。脈浮而緊為傷寒。不宜與麻黃發表。宜加羌活防風薄荷錢）</p>
<p>桑白錢）酒炒知滑石（二錢）</p>
<p>錢五分）</p>
<p>川以生在無不應手取效。所以類傷寒與類中風二症。均不具贅。恐辨症一多。立法致亂。非徒無益。</p>
<p>反增害矣。</p>
<h3>產後霍亂</h3>
<p>霍亂者。揮霍發亂也。四肢厥逆。吐瀉並作。腹痛異常。較常人霍亂為更甚。因七日內瘀血何中十</p>
<h4>理中生化湯</h4>
<p>（自製）</p>
<p>治霍亂吐瀉並作。</p>
<p>炮薑（一錢）　東洋參（炒五分）　蒼朮（八分）　川芎（二錢）　桃仁泥（二錢）　當歸炭（四錢）</p>
<p>分）</p>
<p>水煎服。如口渴加葛根（一錢）如欲吐不吐。欲瀉不瀉。加醋炒制軍（四錢）如轉筋而四肢抽掣</p>
<h3>產後血暈</h3>
<p>凡分娩之後。眼花暈眩。不自知覺。一時暈厥。肢冷如冰。其因有三。一因產母體氣虛弱。</p>
<p>厥者升矣更用而俾產</p>
<h3>產後自汗盜汗</h3>
<p>自汗者。陽虛也。盜汗者。陰虛也。若不急為止之。恐有脫陰脫陽之變。經云。脫陽者見鬼效矣</p>
<h4>衛陽生化湯</h4>
<p>（自製）</p>
<p>炙黃　（三錢）　蜜炙桂枝（七分）　生左牡蠣（五錢）　川芎（二錢）　當歸（四錢）</p>
<p>桃仁（十五</p>
<h4>保陰生化湯</h4>
<p>（自製）</p>
<p>川芎（二錢）　當歸（四錢）　桃仁（十粒）　炙甘草（五分）　炮薑（五分）　豆皮（五錢）　清炙</p>
<h3>產後咳嗽</h3>
<p>產後咳嗽在旬日內外。雖感冒風寒。鼻塞聲重。亦當以治血分為主。有外邪以末治之。</p>
<p>自無久咳之累。若以清邪為先。治瘀為後。必致瘀血久留。延成勞怯之症。宜四物湯為主。</p>
<p>清邪佐之。余以肅肺生化湯主之。</p>
<h4>肅肺生化湯</h4>
<p>治七日內咳嗽者。</p>
<p>炒焦生地（五錢）　當歸（四錢）　川芎（二錢）　桃仁（一錢）　炮薑（五分）　炙甘草（五分）　橘白蜜三匙。薑汁一匙。沖入。</p>
<h4>加減四物湯</h4>
<p>治十日外咳嗽者。</p>
<p>炒生地（四錢）　川芎（二錢）　當歸（三錢）　赤芍（二錢）　知母（一錢炒）　川貝（一錢）　桔</p>
<h4>紫菀湯</h4>
<p>治久咳不已。有瘀者不宜。無瘀者宜之。</p>
<p>紫菀（二錢炒）　知母（一錢炒）　川貝（二錢）　人參（一錢）　茯苓（三錢）　五味子（七粒）　炒</p>
<h3>產後泄瀉</h3>
<p>泄瀉因脾胃虛弱。土不勝水。木旺侮土。停滯不運。各能致瀉。更有血瘀不淨。因郁因憂。</p>
<p>溫余</p>
<h4>調元益胃飲子</h4>
<p>（自製）</p>
<p>川芎炭（一錢）　當歸（三錢炒）　炮薑（一錢）　淡附子（二錢）　蒼朮炭（八分）　清炙蓍（三錢）</p>
<p>茺蔚子（三錢水煎。和陳酒半盞。徐徐服下。每日一劑。分作五六次而服可也。○如脫肛者。加炙粟殼（尖檳榔（二錢錢炒）</p>
<h3>產後帶下</h3>
<p>帶下因奇脈不固。脾中之精氣。不輸於肺而注於下。為帶下。或因去血過多。血化為帶。</p>
<p>古漏余每以自製斷下丸治之。靡不應手而愈。</p>
<h4>斷下丸</h4>
<p>（方見調經門）</p>
<h3>產後腹脹</h3>
<p>（附腫症）</p>
<p>產後腹脹。因胎前元氣虛弱。多索湯飲。或素有茶濕之人。至產後誤服破氣傷氣之藥。</p>
<p>或惡切勿消矣腫症足。</p>
<h4>四七益氣湯</h4>
<p>（自製）</p>
<p>治產後腹滿而脹。兼治腫症。</p>
<p>薑半夏（一錢五分）　厚朴（一錢五分）　茯苓（三錢）　蘇葉（一錢）　人參（隨虛實酌用）</p>
<p>當歸加雞內金（一具）或挾食傷。加麥芽（三錢）神麯（二錢）○挾瘀。加彭術香附（各一錢）○挾濕。</p>
<p>紫蘇（一錢）</p>
<h4>加減金匱腎氣丸</h4>
<p>治產後腫脹腹滿。服益氣化瘀不效者。宜加減用之。</p>
<p>炒熟地（四錢）　粉丹皮（四錢）　澤瀉（三錢）　茯苓（三錢）　山藥（二錢）　淡附片（二錢）</p>
<p>安</p>
<h4>琥珀茯苓丸</h4>
<p>（自製）</p>
<p>治產後腹脹暴腫諸症。</p>
<p>琥珀（五錢）　浙茯苓（二兩）　豬苓（五錢）　木瓜（五錢）　牛膝梢（三錢）　粉丹皮（三錢）</p>
<p>澤（四錢炒）</p>
<p>三錢）　麥芽（上藥十五味。共末。蜜丸如彈子大。每服一丸。日一服。開水沖化。或以水一碗煎服亦可。</p>
<p>七症</p>
<h3>產後心腹痛腰痛身痛頭痛小腹痛諸症</h3>
<p>產後諸痛。皆為血虛。否則血瘀。此明虛實之辨。有瘀為實。無瘀為虛。遍身疼痛難忍者。</p>
<p>為太陽痛者。</p>
<p>血瘀也腰痛屬故腰痛古賢先以簡括於後。</p>
<h4>拈痛散</h4>
<p>（自製）</p>
<p>治心腹痛頭痛。</p>
<p>丹參（三錢）　赤小豆（二錢杵）　東洋參（五分）　煨天麻（一錢）　降香（五分）　當歸（三錢）</p>
<p>水煎服。</p>
<h4>非風湯</h4>
<p>（自製）</p>
<p>治產後遍身肢節疼痛。</p>
<p>桑寄生（三錢）　當歸（三錢）　赤芍（一錢）　川芎（二錢）　生炙綿黃　（各二錢）</p>
<p>桂枝（六分水煎。沖入陳酒一盞。</p>
<h4>祛痛湯</h4>
<p>（自製）</p>
<p>治腰痛。小腹痛。不論虛實皆治。</p>
<p>當歸（四錢）　川芎（二錢）　天仙藤（一錢）　杜仲（三錢炒）　川斷（二錢）　生沙苑子（三錢）</p>
<p>水煎。入酒少許沖。○如小腹痛甚者。必瘀多。加青皮（一錢炒）桃仁（一錢）韭白一握。</p>
<p>水煎</p>
<h3>陰門腫痛</h3>
<p>婦人初胎而產。每多心慌慮亂。皮膚筋骨。未易驟疏。加以不耐痛苦。用力太過。致陰門兩錢。</p>
<h4>佛手散</h4>
<p>（即芎歸湯）</p>
<p>川芎（四錢）　當歸（八錢）　水煎。加酒一杯沖服。</p>
<h3>乳汁不通</h3>
<p>乳者。血上行而化也。故有乳然後可以育子。其不通者有二。一由婦人氣血素虛。肝氣獨旺治之</p>
<h4>四物白通湯</h4>
<p>（自製）</p>
<p>生地（四錢）　當歸（五錢酒洗）　川芎（三錢）　赤芍（二錢）　白芷（一錢）　生香附（二錢）</p>
<p>加蔥管三莖。水酒各半煎服。或加通草（三錢）</p>
<h4>化乳湯</h4>
<p>（自製）</p>
<p>生炙綿蓍（各四錢）　當歸（四錢）　川芎（一錢）　通草（二錢）　白芷（五分）　柴胡（四分）</p>
<p>水煎服。</p>
<h3>產後陰挺</h3>
<p>（陰中下物數條）</p>
<p>產後陰中下精肉一塊。形如雞冠約長出寸許。甚至及尺。名曰陰挺。系產時努力太過。</p>
<p>氣虛陷所又虛下後者。</p>
<h4>補中益氣湯</h4>
<p>（見調經門）</p>
<h4>逍遙散</h4>
<p>（見調經門）</p>
<p>二方統治陰陽下脫之症。</p>
<h4>升蓍益陰煎</h4>
<p>（自製）</p>
<p>治新產後陰中下物之症。</p>
<p>炒焦升麻（四分）炙黃　（三錢）　桃仁（十粒）　夏枯草（三錢）　炮薑（五分）　川芎（二錢）</p>
<p>全加淡菜（二十粒）水煎。</p>
<h4>熏洗法</h4>
<p>用白礬（一錢）防風（三錢）艾葉（二錢）五倍子（四錢）忍冬藤（五錢）　煎湯熏洗。</p>
<p>勿使</p>
<h3>乳懸</h3>
<p>（一名乳卸治法與胎前不同）</p>
<p>產後瘀血上攻。忽然兩乳頭拖出。墜下尺許。甚則過於臍下。痛不可忍。名曰乳懸。因平時手指矣。</p>
<h4>逍遙散</h4>
<p>（見調經門）</p>
<h4>芎歸湯</h4>
<p>（方見陰門腫痛）</p>
<h4>熏藥方</h4>
<p>用白蘞防風羌活三味（各五錢）燒煙熏乳。使煙氣熏著收上為度。或用萆麻子四十九麝香五厘研爛。塗婦人頭頂心。收上後即當洗去為要。</p>
<h3>產後流注</h3>
<p>流注即惡露流入腰腎關節。肩背手足等處。或漫腫。或結塊。即用熨法以散其腫塊。內服調</p>
<h4>熨法</h4>
<p>用生蔥一握。連根葉搗作餅子。貼於患處。加濃布三四層蓋之。以火斗熨之。立散。</p>
<h4>調元散瘀湯（自製）</h4>
<p>黨參（三錢）　生炙黃　（各三錢）　川芎（二錢）　當歸（四錢）　乳香（八分制去油）　沒藥（八水煎。作四分而服。</p>
<h3>乳癰乳岩</h3>
<p>乳癰乃乳房腫硬。乳管閉塞不通。數日之外必　腫作膿。初起必寒熱往來。病在足少陽足陽肝湯也。</p>
<p>痛不有逍遙</p>
<h4>芎歸疏肝湯</h4>
<p>（自製）</p>
<p>並治乳癰乳岩。凡胎前不宜。</p>
<p>川芎（二錢）　當歸（四錢）　製香附（二錢）　炒青皮（一錢）　王不留行（三錢）　延胡（三錢）</p>
<p>枯草（二錢）加路路通四個。枇杷葉五片。去毛。水煎。入酒少許沖。</p>
<h4>逍遙散</h4>
<p>（見調經門）</p>
<p>治乳岩初起。並治乳癰已愈。</p>
<h4>歸脾湯</h4>
<p>（見心經症）</p>
<p>治乳岩初起。</p>
<h4>香附餅</h4>
<p>並治乳癰乳岩初起者。</p>
<p>香附（一兩）　麝香（二分）</p>
<p>共研細末。另用蒲公英二兩。酒煎去渣。以酒調藥末。乘熱敷於患處可也。</p>
<h4>保嬰八法</h4>
<p>一　凡小兒月內。宜常常顧著。忌飲冷乳及水。忌火炙衣被。須常帶三分飢寒為要。</p>
<p>一　哺乳法食後不得與奶。奶後切勿與食。免成瘕積之害。</p>
<p>一　初生小兒。尚未開乳。宜先用制軍川連炙甘草各一錢。泡茶頻頻與服。然後進乳。</p>
<p>一　小兒牙床有白點。名曰米牙。用細銀針刺破。以桑樹汁漿塗之。</p>
<p>一　小兒牙床堅硬。不能吮乳。名曰牙板。亦須針破。以桑樹汁塗之。</p>
<p>一　小兒喉間腫突。名頂珠。須以手指醮冰片捺之。其核即下。</p>
<p>一　小兒臍風。凡兒斷臍帶後。宜用濃布裹護。若不慎水濕。因浴而受之。或因兒尿繃未換風方全焙一　小兒出胎。須用滾湯俟溫而洗。勿雜生水。恐水氣入臍。待洗淨後方斷臍帶。斷臍帶。</p>
<p>將口為害而傷臟矣千金論云。須令足跗上為度。即云小兒自己足底之長為度可爾。</p>
