<header data-type="book">
<h1>傷寒心鏡別集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張從正</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>地域</dt><dd>睢州考城（今河南蘭考縣）</dd></div>
</dl>
</header>
<h2>傷寒</h2>
<h3>（第一節）傷寒論雙解散</h3>
<p>守真制雙解散，通聖益元各七八分，入生薑蔥白煎，解傷寒三二日，間以其初覺，亦傷寒疑似之間，解表恐傷於內，然攻裏恐傷於表，故制雙解以其表裏齊見俱解，甚為得法，然間有不解，猶未盡善也。子和增作法，亦用前藥煎一碗，令飲其半探引出風痰，次服一半仍用酸辣湯投之，使近火衣被覆蓋汗出則解八九分矣。此法子和得之規繩之入，世所未知也。</p>
<h3>（第二節）論發汗</h3>
<p>世人只知桂枝麻黃發汗，獨不知涼藥能汗，大有盡善者。熱藥汗不出者反益病，涼藥發之百無一損。素問云：辛甘發散為陽，白粥配蔥食之便能發汗，益元加薄荷亦能發汗，承氣用薑棗煎以辛甘發散之意。守真雙解子和演為吐法，豈非涼藥亦能發汗也。</p>
<h3>（第三節）論攻裏</h3>
<p>攻裏之藥當用寒涼，世人畏之是不知藥隨病而俱出，何曾留於中乎。桂枝下咽，陽盛則斃，承氣入胃陰盛乃亡。此語惑人久矣，鮮有解者，因有知幾窮理，偶於守真醫書註中稍見其意，此陽實陰實，陽實發散，陰實宣泄，不同實謂不受病也。陰實本不受病，何用承氣宣泄，反之則有斃亡之失也。此二句蓋謂傷寒之設也。</p>
<h3>（第四節）論攻裏發表</h3>
<p>素問云：攻裏不遠寒，發表不遠熱。啟玄子云：世人直疑攻裏合用寒藥，發表合用熱藥，似是而非也。蓋攻裏不遠寒，是不遠司氣之寒，雖嚴凝盛寒之際，若合攻裏不可畏天寒而不用寒藥，發表不遠熱者，是不遠司氣之熱，雖流金爍石炎蒸盛暑，合用發表之藥不可畏暑而不用熱藥，此不遠寒熱之理也。</p>
<h3>（第五節）撏衣撮空何臟所主</h3>
<p>撏衣撮空，許學士說作肝熱風淫末疾，故手為撏衣撮空。此論雖當莫若斷之為肺熱，以為愈矣，其人必讝語，妄言經曰肺熱必為讝語，兼上焦有病，肺必主之。手經者上焦也，二者皆當其理，果何如哉，天地為體用肺為體，肝為用也。肝主諸血者陰物也，此靜體何以自動，蓋肺主氣，氣所鼓舞故靜得動，一說肝之用者，一說肺之用者，此天地至為體用，二者俱為當也，是知用臟血自寅至申行陽二十五度，諸陽用事氣為肝所使，肺主氣自申至辰行陰二十五度，諸陰用事肺為所用。</p>
<h3>（第六節）傷寒口傳足經不傳手經論</h3>
<p>傷寒只傳足六經。仲景本論無說，古今亦無言者，惟龐安常謂主生，故太陽水傳足太陰土，土傳足少陰水，水傳足厥陰木為賊邪。蓋牽彊穿鑿，胡不觀內經陰陽雜合論云：太陽根於至陰，名陰中之陽。少陽根起於竅陰，名陰中之少陽。太陰根起於隱白，名曰陰中之太陰。少陰根起於湧泉，名陰中之少陰。厥陰根起於大敦，名曰陰中之厥陰，其次序正與此合。大抵傷寒始因中風，得之於陰是以正傳，足經者陰中之陽，陽中之陰也。又以六氣考之，厥陰為初之氣，少陰為二之氣，太陰為三之氣，少陽為四之氣，陽明為五之氣，太陽為終之氣，此順也。逆而言之正與此合，緣傷寒為病逆而非順也。</p>
<h3>（第七節）亢則害承乃制</h3>
<p>假令水為母，木為子，當春旺之時冬令猶在，即水亢也，水既亢極則木令不至矣，木者繼冬而承水也，水既亢則害其所承矣，所以木無權則無所制土，土既旺則水受制。噫夫人必自侮然後人侮之，旨哉。木長春之令也，水受土制熱剋其寒，變而為濕。</p>
<p>傷寒心鏡別集終。</p>
