<header data-type="book">
<h1>腳氣治法總要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>董汲</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1093/1100">公元1093至1100年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·腳氣治法總要》（<a href="https://www.kanripo.org/text/KR3e0022/">掃描及文字化本</a>）</dd></div>
</dl>
</header>
<h2>腳氣治法總要卷上</h2>
<p>三三醫書第二集第十九種宋董汲撰　裘吉生刊行汲嘗考諸經腳氣之疾，其來久矣，在黃帝時名為厥，兩漢之間多為緩風，宋齊之後，謂為腳弱，至於大唐，始名腳氣，其號雖殊，其實一也，厥病之由，雖皆凝風毒濕氣中於肝腎脾經，其脈起於足十指，且風毒之氣出於地，寒暑風濕皆作蒸氣足常履之，故內傳經絡因成腫痛攣弱，乃名腳氣，然感疾之由，若在夏月久坐立於溼地，則溼熱之氣蒸入經絡，病則發熱，四肢疼悶，若在冬月久坐立於溼地則冷濕之氣上入經絡，病則轉筋，百體酷冷，若當風取?，得之病則皮內頑痹，諸處蠕動，漸漸向頭面，此三者尤宜辨知，但後學不能深察，即妄為治療，輕者變重，重者難治，可不慎哉，其既得之後，或虛或實，或冷或熱，皆由素稟故腳氣之候，有輕有重，有乾有濕，有陰有陽，有實有虛，乾者風毒在絡膝腿致或瘦或痛，或攣或緩弱不遂，喘渴頭痛，大小便閉，或頑痹不仁。濕者濕毒在經腿腫皮肉紫白裂破作瘡內自膿壞大便或泄或秘或為便癰煩躁不欲飲食。</p>
<p>陰者風毒在藏惡明好靜即身冷足厥筋攣或小腹不仁陽者風毒在府病發即身脛熱筋脈抽痛為緩縱不收寒熱頭痛喜嗔　?好明處器促精神昏憒者因常服補煖藥壅秘而生故為寒熱喘滿喜妄誤語壯熱頭痛虛者嗜慾無節榮衛空虛骨髓枯竭復不餌補藥身體酷冷兩脛酸痛膝冷轉筋不能行動喘促此其候之不同也若論其脈則唐蘇恭嘗謂有三脈緩為輕沈為次洪數為下大　沈緊者為難治洪數者易治緩者不療自瘥若療之違法雖輕亦重療之得理雖重亦輕大抵脈順四時者生違四時者難治蓋脈沈緊為邪入裹傷痹也故重沈洪數者陽有餘與風厥相應故易治緩者邪氣微故自瘥又孫思邈之論亦云脈有三品內外證候相似但脈有異若脈浮大而緩宜服續命湯若素風盛以越婢湯若脈浮而緊轉駛而作竹瀝湯若脈微而弱宜風引湯此脈多是陰虛而得之若大虛短氣宜間作補湯隨病冷熱而用之然古人治此有門大率風多而濕少及服風引續命越婢之類濕多而風少即宜獨活寄生湯薏苡湯之類若一　用藥則難奇效全當消息之至如江淮嶺南秦川四時氣候隨異如此人久在江淮及嶺南宦客風毒在藏府或歸秦中腳氣發動亦依江淮嶺南法為治蓋秦川地原高亢春夏縱經霖霪少有蒸濕所以禾黍五榖受氣不同水菜魚肉食飲全異其地卑濕者則蒸熱相仍利於燥藥土地高亢者則時宜汗利又如諸方腳氣本以腎虛或者用藥補益十未有全其一二者蓋雖由腎虛因感風濕故邪氣益盛盛則雖虛而實反將峻補故壅氣生喘滿千金云腹脹非瀉不瘉者正謂是也又素問腳氣之人只壯以秋冬良由陽內而陰外無蒸疾之氣故有風毒之人須準四時服食即無發動故春夏宜汗利秋冬乘疾小歇宜以諸藥小滋補之則氣平而不作今之醫者只以家傳之學不能深究其理但一向補益或只?下蓋不得中道也若在冬月須當隨人盛衰微有滋補若不然則致使血氣日衰必使年年遇蒸熱而作此理之然也昔人有云腳氣有腎虛而生或者以婦人不主於腎便謂無此疾者非也蓋婦人雖不專主於腎而必因血海虛乘宿塊嗔恚感激悲傷遂成此疾兼今婦人病此者甚眾則知婦人以血海虛而得之與男子腎虛類矣凡治婦人之法與男子用藥故無有異但兼以治憂恚藥無不效也汲昔熙寧年因行大雪中為寒濕冷氣相乘遂成茲疾十年之間凡七八發動每發至劇而證候差異一旬之內變候不等因深思其源博求古方採摘要法累試神方不敢私隱傳而錄之腳氣發動大抵雖同然三分論之一分有異當依法循證治之乃瘥其同者手足厥緩弱頑痹不人腫痛或瘡小瘉之後仍宜依四季法服食無不效者若夫痿厥不能動者比此為微但只以諸腳氣法治之指期可效謹依四時之宜方藥之法其名錄之於後論曰古之太醫往往因自病或親屬有疾故究心積慮遂為高醫良由日見變候斟酌冷熱虛實悉所經歷則唐孫真人甄權蘇恭深師道人之類皆其入也諺曰千聞不如一見此之謂也今具實經病腳氣人已嘗試用得效方別為一們所貴臨時有可依據也論曰人有久蓄積氣因感風毒成疾之後或一向補益不經汗利即使風毒成實因致秘積壯熱喘滿腳腫赤痛大小便秘喜妄誤語者是其候也宜紫氣紅雪防風湯神功圓角犀飲如小便澀即服絳宮圓白皮小豆散治之論曰陽氣衰於下則為寒厥其人足脛寒筋攣急脛酸膝冷痛或頑痹不仁惡明好靜此其候也宜以石南圓金牙酒側子酒八味圓海桐皮散木香飲子松節散及灸風市穴即瘉論曰人有稟賦氣虛及興居不節或謂腳氣不可滋補冬月略不小補但服?瀉藥過度使藏虛而兩腳削身體酷冷少力膝冷轉筋攣緊而重者是其候也宜風引湯八味木瓜圓石南圓金牙酒側子酒及灸絕骨穴於冬時服之即免毒氣入腹疾不作也論曰凡針灸孔穴主對者穴名在上病狀在下其腳氣一病最宜針灸灸而不針者非也針灸而不藥尤非也腳氣初得便速針灸若專以藥不針灸則可半差矣然尺寸之法人有長短膚有肥瘦皆須精思準折之不得一概致有差失尺寸之準以銅人隨中指中紋為是若坐點穴者坐灸之臥點穴者臥灸之立點穴者立灸之不依此者徒破肉耳蘇恭有云腳氣始發通隨痛處灸不必依穴者亦如素問繆刺之法亦可依用初灸風市（主兩膝攣痛引?拘急?躄或青或黃枯黧如腐木緩縱痿痹）</p>
<p>次灸伏兔（主中寒按甲乙經云足陽明經刺可五分不可過也）次灸犢鼻（主膝中痛不仁難跪此穴腫不可灸亦不可刺）次灸膝兩眼（主膝冷痹痛）次灸三里穴（主腰疼不能久立膝痿腹脹滿內廉痛足痿失履不收）</p>
<p>次灸上廉穴（主小便難赤黃狂言非常）次下灸廉穴（主小便難赤黃）</p>
<p>次灸絕骨穴（主風勞身腫髀樞痛膝骨酸血痹不仁筋縮諸節酸折四肢懈惰不收風勞身重）</p>
<p>論曰風濕毒氣中於足脛遂為腳氣若久而不治或治之一向用?下藥藏氣虛弱毒勢內攻入腹悶亂煩喘氣不得息若下不速以湊毒之藥必致惡氣內薰五藏使三焦榮衛不通則治療為難譬由浸淫瘡從四指流向心腹者不治從心腹流向四肢者易治此瘡毒不由經絡外自皮膚者尚爾又?風毒因經絡受邪而內達五藏者歟如此勢極內攻入腹者無出木瓜茱萸湯最救困急服餌之後雖使惡毒邪濕盛來無由入矣論曰凡腳氣治法大抵每日須進食前丸食後丸在春夏當服防風續命越婢竹瀝風緩八風獨活寄生海桐皮等湯若大便秘則服神功丸麻仁丸三脘散三仁丸橘香丸潤腸丸若小便不通即服白皮小豆散絳宮丸木通散尤宜針石之類取證最親者服之秋冬腳氣正是小歇當服金牙側子酒腎瀝湯石南丸八味丸木瓜丸牛膝丸及灸亦取證親者用之四時之中皆宜淋煠蒸熨寅日去手甲理髮丑日濯足去腳甲令深取大去風氣故也有力之人當作天門冬大煎四時不闕服之此最腳氣之要方但難得藥材爾病者宜知此方天門冬大煎治男子五勞七傷八風十三痹傷中六極一氣極則多寒痹腹痛喘息驚恐頭痛二肺極則寒痹腰痛心下堅有積聚小便不利手足不仁三脈極則顏色苦青逆噫嘻恍惚失氣狀似悲泣之後苦舌強咽喉乾寒熱惡風不可動不嗜食苦眩喜怒妄言四筋極則拘攣少腹堅脹心痛膝寒冷四肢骨節皆疼痛五骨極則肢節厥逆黃疸消渴癰疽妄發重病浮腫如水病狀六肉極則發疰如鬼擊不復言甚者至死復生眾醫所不治此皆六極七傷所致非獨房室之為也憂恚積思喜怒悲懽復隨風濕結氣欬時嘔吐食物為便大小便不利時泄利重下溺血氣上吐下乍寒乍熱臥不安席小便赤黃時時惡夢與死人共食飲入家神室魂飛魄散筋極則傷肝傷肝則腰背相引難作俛仰氣極則傷肺傷肺則小便有血目不名髓極則陰痿不起住而不交骨極則傷腎傷腎則短氣不可久立陰疼惡寒甚者卵縮陰下生瘡濕癢瘙之不欲住汗出神昏為腎病甚者多遭風毒四肢頑痹手足浮腫名曰腳弱腎所不治此悉主之熙寧年間有濟南崔公即中直先自川中病風得安時其子生須城簿迎侍於此經夏涉履蒸濕腳為之腫弱攣痛於沂州取得　骨汁川中得真酥遂合成半劑服之即應細詳此方通四時括眾虛實寒熱率皆主對乃之孫真人之用心處療有如此者世之人或有藥品繁多求索難得遂於受疾而憚於修至良可歎也論曰風陽物也性上騰腳氣厥之人氣多上行不順薄而生熱內枯津液遂為秘滯如肥澤壯實熱風盛者當以神功丸麻仁丸大黃湯之類如老人津液少及素虛遇秘者當服三仁丸五柔丸潤腸丸橘皮丸三脘散之類此二候不同切宜斟酌而用也論曰足經受卑濕之氣及膀胱宿有停水甚者攻注腫破皮肉頑紫世所謂下注腎風者乃其候也亦有成瘡但腫痛痹弱者宜獨活寄生湯薏苡湯其已攻注者宜茴香丸天麻丸烏蛇丸及陳元膏摩之論曰凡腳氣人足經留滯淋煠蒸熨最為要然當先煎?成諸湯玉琳煠時自膝下至踝以故衣裹數重隨將溫湯徐徐沃湯在膝下慎不可先煠兩足須自膝煠至足益風氣從足甲出若先煠足及風毒上行入腹切宜慎之煠訖後去足甲為良當用丑日或十二日一去之論曰夫人法天地之形稟陰陽而生四時寒暑推移人氣不定腳氣發動必由天之五氣地之五行治之雖其間變易小有不同而大法不過如此故謹序月令條法於其下凡正月二月天氣正方地氣始發人氣在肝宜導和氣加厚襪以煖足宜進地黃粥補虛防風粥以去四肢風紫蘇粥以去壅氣及桑皮煎竹瀝防風風引續命風緩越婢獨活海桐皮八風等湯以徐風及宜淋煠蒸煨足膝以利關節導引按蹻以舒壅滯針石以開發邪氣三月四月天氣正方地氣正定發人氣在脾宜食薤以散結氣利病人又取棟花和粉粉身以固陽氣除邪亦宜前治風藥以除邪氣大抵春三月天地俱生萬物以榮夜臥早起廣步於庭被髮緩形以便志生生而勿殺予而弗奪賞而勿罰此春氣之應養生之道也及宜進溫食尤移丸煎以除風熱之疾五月六月天氣正盛地氣高人氣在頭宜服獨活寄生湯以湊風濕氣宜木瓜漿以解渴利腰腳大抵夏三月此謂蕃秀天地氣交萬物華實早臥早起無厭於日使智無怒使華英成秀使氣得泄此夏氣之應養長之道也七月八月陰氣始殺人氣在肺宜溫下頻易襪履以防濕氣宜獨活寄生湯海桐皮散薏苡湯以溫下除溼毒之氣大抵秋三月此謂容平無外其志使肺氣清此秋氣之應養成之道也九月十月陰氣始冰地氣閉人氣在心腳氣正是小歇當飲金牙側子酒腎瀝湯牛膝石南木瓜八味等丸小小補之不可導引按蹻十一月十二月冰凍地氣合人氣在腎宜前諸補藥以益元真及諸灸腰腎禦寒邪氣也亦不宜導引動氣大抵冬三月此謂閉藏水冰地圻無擾乎陽早臥晚起必待日光使志若伏若匿若有私意若已有得去寒就溫使氣涵養此冬氣之應養藏之道也治驗嘉祐二年正月二十六日殿直郭中立來求孫殿丞兆診脈久患腳氣疼痛身發寒熱脹滿氣上服熱藥及甚兆與九味延年茯苓飲子以下其氣每用六物麻仁丸以洩其熱後又上氣嘔逆煩熱遂令服局方紫雪大效（延年茯苓飲麻仁丸方見本門）</p>
<p>熙寧年間崔郎中直病腳氣腫弱枯瘦不能行汲作千金方天門冬大煎服之即差永不發方見後董文思中行為汶上駐泊日忽覺兩腳赤腫疼足下隱痛汲與食前丸食後丸即差即冬月令作金牙酒并淋煠遂不復作梁承議子諒病膝痛不能跪翰林醫官楊文蔚處海桐皮散服之遂愈吳宣義琯在汶上病腳氣中滿宣義郎席公延賞處順氣丸麻仁丸神仙丸遂愈馮侍郎宅十五小娘子病腳弱不能步翰林尚藥奉御孔元處千金方獨活寄生湯遂愈汲熙寧年間因冬月行大雪中至春兩腳忽然赤腫疼痛痿弱不能行走遂服犀角飲及韶腦湯蜀椒湯淋煠得差經月再作自腳及通身腫氣漸上入腹心煩腹滿氣促面如土色大小便不通遂以?榔一枚為未訶子炮去核取末一錢生牽牛取末二錢以童子小便二盞生薑一錢切煎一沸去薑調前藥末分二服小便大利腫遂消盡後兩腳作瘡久久不愈以天麻丸鳥蛇丸摩以陳元膏瘡遂愈但覺腳弱無力冬月進以木瓜丸食前丸金牙酒腳遂有力腳氣治法總要卷上終</p>
<h2>腳氣治法總要卷下</h2>
<p>宋董汲撰　裘吉生刊行獨活寄生湯路治腰背痛夫腰背痛者皆由腎氣虛弱臥冷濕地當風所得不</p>
<p>　為速治氣流入腳膝為偏枯冷痹緩弱疼重或腰?痛腳氣攣重宜急服此</p>
<p>　湯獨活三兩一本作二兩桑上寄生（如無以續斷代之）杜仲（剉炒令絲斷）牛膝酒浸細辛秦艽白茯苓去皮桂去皮防風川芎人葠甘草炙當歸白芍藥熟乾地黃各二兩右為散每服三錢水一大盞煎至六分去滓溫日二服訖溫身勿令冷也氣虛下利者除乾地黃服湯取蒴藋葉火燎厚安席上及熱脫上冷復燎之冬月取根春取莖熬臥之佳其餘薄熨不及蒴藋蒸也諸處風溼亦用此法婦人新產竟便患腹痛不得轉動及腰腳痛攣不得屈身痹弱者尤宜服之除風消血也薏苡湯　治風溼毒氣攻兩腳痛重或即浮腫或皮焦毛悴肉色紫破筋骨抽痛心悶氣脹頭旋多睡眼暗薏苡仁微炒八兩白茯苓去皮五分防風五分牛膝酒浸桂去皮五加皮各六分獨活五分玄葠五兩石膏五兩枳殼四兩?炒去瓤升麻六兩羚羊角四兩漢防已十兩麻黃去節五兩右為粗散每服三錢水一盞半先浸一宿平旦煎至八分去滓溫服不以時月</p>
<h3>絳官丸</h3>
<p>治心經熱小便淋澀不通及諸淋生地黃四兩木通黃芩各二兩右為細未煉蜜為丸如梧桐子大每服三十丸溫水下</p>
<h3>白皮小豆散</h3>
<p>治腳氣小便澀兩腳腫氣脹赤小豆半升桑白皮二兩剉紫蘇一握剉生薑半兩右水三升煎至豆熟取豆食去滓餘汁飲之</p>
<h3>紅雪神功丸</h3>
<p>治腳氣氣毒身肉外煩熱瘡腫狂?及諸丹石毒瘴癘時一切風熱方升麻三兩大青三兩桑白皮二兩犀角屑一兩半羚羊角一兩訶子三十枚去核?榔三十枚蘇木六兩山槴子三十個槐花末一兩淡竹葉四兩右並剉細以水二斗浸經宿煎取一斗下上好朴硝十斤又煎以柳篦子於新瓦盆中貯又經宿去餘煎不盡水即成紅雪神功丸解諸秘滯及交氣下流腰腳疼腫脹滿大黃三兩人葠半兩訶子泡去核二兩麻仁另研五兩右杵研為細末煉蜜為丸如梧桐子大每服三十丸溫水下不以時通為度未通更加丸數老少氣以意加減</p>
<h3>石南丸</h3>
<p>治腎氣虛客風溼陰腳氣筋急拘攣溼痹緩弱下氣除筋骨間邪氣溼不仁寒厥痿痹腰脊腳痛膝冷轉筋腿緊不能久立即如履物隱痛石南葉炙去毛桂去皮附子炮防風去蘆各六兩牛膝酒浸白茯苓去皮各八兩熟地黃兔絲子酒浸各二兩薏苡仁六兩五加皮六兩右為細末用木瓜一枚去皮子蒸熟研成膏和前藥末為劑如乾硬入少熟蜜和劑為丸如梧桐子大空心木瓜酒下三十丸日二</p>
<h3>金牙酒</h3>
<p>治瘴癘毒氣中人風冷溼痹口喎面戾半身不遂手足拘攣歷節腫痛甚者少腹不仁名曰腳氣無所不治金牙石一斤蓯蓉去鱗酒浸白茯苓去皮側子炮去皮附子炮去皮臍天雄炮去皮當歸人葠防風黃耆薯蕷細辛桂去皮萆薢葳　白芷桔梗黃芩遠志去心蔓荊子川芎地骨皮五加皮杜仲炒剉厚朴炙枳實麩炒去瓤白朮各三兩獨活半斤茵陳石南微炒狗脊去毛各二兩牛膝丹葠各五兩磁石十兩薏苡仁麥門冬去心各十兩石斛八兩去根蒴藋四兩生地黃切二升右三十九味剉以酒八斗漬七日溫服一合日四五合一藥細研別絹袋盛共藥同漬藥力和善主治極多凡是風虛四體下覺有風痾者皆順時服一依方合之不得輒信人大言浪有加?</p>
<h3>八味丸</h3>
<p>治虛損不足大渴飲水腰脊痛小腹拘急小便不利及腳氣上少腹不仁熟地黃八兩山茱?薯蕷各四兩澤瀉牡丹皮白茯苓去皮各三兩桂去皮附子各二兩右為未煉蜜為丸如梧桐子大酒下三十丸張仲景云久服去附子加五味子海桐皮散　治風溼兩腿腫滿疼重及一切風順凝滯氣陰百節拘攣痛海桐皮一兩羚羊角屑薏苡仁各二兩防風?活筒桂去皮赤茯苓去皮熟乾地黃各一兩?榔一兩右為散每服三錢水一盞生薑五斤同煎至七分去滓溫服</p>
<h3>木香飲子</h3>
<p>治陰腳氣冷積於藏脹悶衛心嘔逆木香八分吳茱?桔梗各六分大腹子五個大黃四分厚朴八分薑汁浸炙右為粗散每服三錢水一大盞入生薑三片同煎至七分去滓溫服如人行十里再服良久氣通乃差</p>
<h3>松節散</h3>
<p>治腳氣冷搏於筋轉筋攣痛松節取茯神中根心子用一兩剉如米乳香一錢槌碑右用銀石器中炒令焦只留一二分性出火毒研細每服一錢至二錢熱木瓜酒調下應是病治之</p>
<h3>木瓜丸</h3>
<p>治風溼腳氣兩足緩弱轉筋疼痛久服步履如飛木瓜大者一枚破為兩段去瓤子入通明乳香一兩研青鹽二錢研甘菊花頭子研為末二兩右除菊末外都入木瓜內以線繫入飯甑內蒸候木瓜爛為度取出研成膏入菊末即丸如梧桐子大每日空心酒下三十丸鹽湯亦可服百日欲出汗身亦自香如未能乾更入柑菊未直候可丸即丸</p>
<p>木瓜約及四兩者四枚先煠熟去皮核擣與熟艾四兩相和蒸爛研勻以備合後藥木香白附子?活沒藥白朮已上各半兩舶上好茴香炒川棟肉炒白牽牛炒熟已上各七錢半葳靈仙折之內有白點者即不用鬚子播?秤一兩右為細未先以前木瓜艾和溲俟少乾徐入少熟蜜和丸如桐子大每服二十丸食飲空時以木瓜湯或酒吞下地道稍祕滯即空心服有小壅亦可空心服</p>
<h3>食前丸</h3>
<p>調補尋常服之不令腳氣發動?散榮?氣血風氣通行木香白茯苓去皮羚羊角屑各八兩熟地黃十二兩桂去皮旋覆花各四兩楮實十二兩薏苡仁八兩?榔八兩大黃一兩右為細未煉蜜為丸如梧桐子大每服三十丸空心酒下</p>
<h3>食後丸</h3>
<p>治尋常腳氣欲發先大便秘澀腹中氣滿兩?妨悶不思飲食小便赤黃肉多蠕動痰涎不利煩熱緩弱前胡黃芩防風犀角屑蔓荊子槴子仁人葠車前子麥門冬去心各一兩右為細末煉蜜為丸如梧桐子大每服二十丸食後溫漿水下</p>
<h3>麻仁丸</h3>
<p>解秘不通脹滿氣悶兩腳痛重風氣不順麻仁一升白芍藥八兩枳實麩炒去瓤八兩大黃一斤厚朴五兩杏仁去皮光雙仁一斤右為細末煉蜜為丸如梧桐子大每服三十丸溫水下以通為度</p>
<h3>三脘散</h3>
<p>治三焦氣逆解大便秘滯下胸膈脹憊氣陰風氣或已服諸藥大便不通者依法煎服就腹中藥便通大效若體虛人腳氣心腹脹悶大便不通者宜服此方大腹皮酒浸一?更以大豆汁洗三?焙乾用一兩白朮木香甘草微炙?榔陳橘皮湯浸去瓤川芎各三分獨活紫蘇并梗沉香木瓜乾者各一兩右為散每服秤一分水二盞同煎至一盞去滓溫服取大便為效</p>
<h3>三仁丸</h3>
<p>治風虛老人津液少大便秘滯子仁一兩松子仁二兩麻子仁三兩右研成膏以蠟為劑每服秤半兩嚼喫米飲下或為丸如梧桐子大隨虛實服之</p>
<h3>潤腸丸</h3>
<p>治一切風秘偏益虛人及老人津液內枯不得傳送者凌霄花乾天台烏藥人葠皂莢子炒熟去粗皮各半兩右為細末煉蜜為丸如梧桐子大每服三十丸或五十丸不以時溫水下至百丸亦不妨不損氣以通為度</p>
<h3>木通散</h3>
<p>治腳氣服補藥太多小便不通淋閉臍下脹當歸槴子仁芍藥甘草炙（一本作生用）赤茯苓去皮木通各二兩右為散每服三錢水一大盞煎至七分去滓服之</p>
<h3>牛膝丸</h3>
<p>治風毒流注腰腿兩腳疼重攣痛及腎虛目見黑花方牛膝酒浸川芎續斷萆薢丹葠去蘆黑狗脊去毛杜仲剉炒去絲獨活白朮枳殼當歸白芍藥防風乾木瓜熟乾地黃各二兩右為末煉蜜為丸如梧桐子大每服二十丸空心木瓜湯下稍加至三十丸酒下亦可天門冬大煎天門冬切三斗半杵壓取汁盡穌三升煉　骨一具白蜜三升煉枸杞根切三斗剉研以水二石五斗取一斗三升澄清生地黃切一斗右五味並大斗銅器中微火先煎地黃門冬汁減半乃合煎取大斗二斗下後散藥煎取一斗內銅器重釜煎令穩當可圓平旦空腹酒服如梧桐子大二十丸日二加至五十丸慎生冷酸醋?雞魚蒜由?等物澤四時王相日合之散藥如後白茯苓去皮?子仁另研桂去皮白朮萎　菖薄遠志澤瀉薯蕷人葠石斛去根牛膝酒浸杜仲炒剉細辛獨活枳實麩炒去瓤川芎黃?蓯蓉續斷狗脊去毛萆　白芷巴戟去心五加皮覆盆橘皮湯浸去瓤胡麻大豆黃卷炒白茯苓神去皮石南炙各二兩阿膠十兩炒大棗一百枚?作膏鹿角膠五兩炙蔓荊子二兩甘草炙六兩蜀椒炒一兩薏苡仁一兩右三十八味為細末內煎中牛髓鹿髓各加三升大佳小便澀去?子仁加秦艽二兩乾地黃六兩陰痿失精去萎二兩加入五味子二兩頭風去?子仁加菊花防風各二兩小便力陰氣弱去細辛防風加山茱?二兩腹中冷去防風如乾薑二兩無他疾依方合之凡此煎九月下旬採藥立冬日合而服之至五月上旬止若十二月臘日合者經夏至七月下旬止若停服經夏不壞當於舍北陰入地深六尺填砂置藥中上加砂覆之則經夏不損也女人先患熱者得服患冷者不得服</p>
<h3>五柔丸</h3>
<p>治津液虛閉大便不通結燥後重飲食不生肌肉補虛損調補三焦大黃四兩前胡一兩半夏洗七?片切焙乾蓯蓉酒浸芍藥細辛白茯苓去皮半兩當歸苦葶藶炒各半兩右為細末煉蜜為丸如梧桐子大溫水下二十丸以通為度漸加之</p>
<h3>橘皮丸</h3>
<p>治腳氣有風人氣不順致生熱而大便秘此藥通秘不損人進飲食散脹滿調中下氣偏宜腳氣神方橘皮去瓤四兩末乾生薑取末二兩右二味以蜜半斤煉化去上沫下藥末在內熬成膏可丸即丸如梧桐子大每服三十丸生薑湯下每日服之即不生壅滯</p>
<h3>延年茯苓飲</h3>
<p>治腳氣腫氣急上氣心悶熱煩嘔逆不食白茯苓去皮紫蘇葉杏仁去皮尖雙仁麩炒橘皮去白升麻柴胡去苗各三兩生薑四兩?榔十二枚并皮犀角屑二兩右為粗散以水二升五合去滓溫服分三服如人行十里再浸一服忌醋物</p>
<h3>天麻丸</h3>
<p>治氣毒溼腳氣攻注兩腿腫破重疼皮肉頑紫或上攻頭面皮肉發熱天麻地龍?活附子去皮臍生用柱去皮沒藥研荊芥穗各一兩麝香一兩別研右為細末研勻以生蜜為丸如櫻桃大磁器盛每服荊芥蠟茶嚼下一丸如足破至甚者不過二十日上攻者則食後服下　者食前服</p>
<h3>獨活湯</h3>
<p>治腳氣腿膝疼痛乍腫乍瘦緩弱不能行喘滿氣上獨活丹葠細辛五加皮牛膝酒浸川藭芎白殭蠶湯洗焙乾麵炒各半兩桑白皮一兩半剉炙麻黃去節一兩甘草炙三分杏仁去皮尖麵炒三分右為散每服三錢水一盞半煎至七分去滓溫服</p>
<h3>茴香丸</h3>
<p>治風毒濕氣攻疰成瘡皮肉紫破膿壞行步無力皮肉焮熱舶上茴香炒地龍去土炒赤小豆炒川苦棟去皮炒川烏頭炮去皮尖烏藥剉牽牛炒取末以上各一兩右研杵勻細酒??糊為丸如梧桐子大每服空心鹽湯下十五丸日二</p>
<h3>木香散</h3>
<p>治偏風癱緩腳氣等疾?活一兩麻黃去節水煎少時去沫焙一兩防風三兩木香檳榔附子炮去皮白朮川烏頭炮去皮草豆蔻和皮用陳橘皮去白牛膝酒浸一宿杏仁去皮尖當歸酒浸一宿人葠茯苓甘草炙川芎官桂去皮不見火已上各半兩右藥一十八味剉如麻豆每服一兩水一碗薑七片煎至一盞去滓得七分溫服藥滓二服併做一服用水一碗半煎至一盞服此藥福唐陳氏者鬻以自給郡人極神之人未有得其方者一日為其親戚攘得與予予作官處即合以施人如法?服以衣?覆取汗不過三五服輒瘥所至入來求藥者無窮其驗如此大腸不通加大黃末每服一錢以老少加減如久不通加至三五錢不害心腹脹加葶藶并滑石末每服各一錢如上膈壅滯亦宜服之</p>
<h3>大黃湯</h3>
<p>治腳氣大便秘澀服諸藥不通風毒攻心氣悶心欲狂熱悶口乾喉中如火生秘澀不通紅雪研大黃剉各一兩木香剉黑豆各二兩</p>
