<header data-type="book">
<h1>傷科大成</h1>
<dl class="元資料">
<div><dt>古版</dt><dd><data value="false">非古版</data></dd></div>
<div><dt>直書</dt><dd><data value="false">非直書</data></dd></div>
</dl>
</header>
<pre>
主題：刀斧砍傷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：1.刀斧砍傷硬處者，骨損先療骨。砍傷軟處者，肉損先治肉。
　　　	 2.如傷頭額者，敷金瘡藥，以避風為上，防身發寒熱。
　　　(2)預後：脈沈細者，易治。脈洪大者，難醫。
</pre>
<hr class="分段">
<pre>
主題：刀斧傷證治
分類：五、接骨入骱用手巧法
內容：(1)證治：1.刀斧傷者為金瘡，淡黃色者易治，紫黑色者難治。忌咳嗽嘔
　　　	   穢，避風為妙。
　　　	 2.如風入傷口，則浮腫多涕淚，痰湧牙關緊閉，角弓反張，成
　　　	   破傷風者不治。急以壁喜窩香灰加麝香敷傷處，投疏風理氣
　　　	   湯。
　　　	 3.如犯怒氣瘡迸裂，犯慾瘡口腐臭。用乳香、沒藥、滴乳石、
　　　	   血竭為末敷之。
　　　(2)禁忌：1.患者當避風寒，戒色忍氣，息怒散心，節飲食，忌食雞、鵝
　　　	   、醋、蛋、牛羊肉、筍、麵、煎炒發物。
　　　	 2.許真人曰：「人受刀斧所傷，血出多者，必渴，不可與水飲
　　　	   。如飲熱湯，則血沸，血沸出必死。」
　　　	 3.一忌惱怒，二忌喜笑，三忌大言，四忌勞力，五忌妄想，六
　　　	   忌食羹粥，七忌飲酒，八忌酸鹹。
　　　(3)其他：1.前有別症而受傷在後者，兩兼而用藥。
　　　	 2.孕婦當服安胎順氣藥。
</pre>
<hr class="分段">
<pre>
主題：下頦一骱脫下證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：下頦一骱脫下者，遂不便言語飲食，其骱如剪刀股樣。
　　　(2)治法：1.先以布包手大指入其口，餘指抵住下邊，輕輕捺下，用力向
　　　	   上一推，而進骱有響聲，齒能合者復位，外加布條兜裹於項
　　　	   後。
　　　	 2.常進補腎養血湯，次進補腎丸。
　　　(3)證因：多得於腎虛者。
</pre>
<hr class="分段">
<pre>
主題：口唇豁開證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：口唇豁開者。
　　　(2)治法：1.先摻麻藥，急以小箝箝牢油絲線穿合其縫，不可歪斜。
　　　	2.摻金瘡藥，貼損傷膏，外以絹修在唇上扎向腦後縛定。
　　　	3.服活血止痛散，常飲稀粥。
　　　(3)禁忌：不可言笑，及呷食物。
　　　(4)其他：如血已冷，先敷麻藥，以刀尖剮破，血出時急蹤合，須手快為
　　　	 妙，仍服前藥。
</pre>
<hr class="分段">
<pre>
主題：大小腿皮破骨斷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：大小腿皮破骨斷者。
　　　(2)治法：1.拿骨平正，貼損傷膏，用杉木板六片，長二寸半，上骨斷板
　　　	   寬七分，下骨斷板寬五分，加布扎緊，取其擔力，不致歪走
　　　	   。
　　　	 2.此症痛極，先以止痛丹，後投壯筋續骨丹。
</pre>
<hr class="分段">
<pre>
主題：大便不通證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：凡傷過重，大便不通者。
　　　(2)治法：用牙皂末蜜丸，如青果大，插入肛門內即通。
</pre>
<hr class="分段">
<pre>
主題：大黃湯
分類：六、應用諸方
內容：(1)組成：大黃　芒硝　枳殼　甘草　桃仁　木通　歸尾
</pre>
<hr class="分段">
<pre>
主題：大腿骨骱脫出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：大腿骨骱脫者。
　　　(2)治法：1.一手擒住其膝，一手拿住其膀，上下拔直，將膝曲轉，抵住
　　　	   腎瓣，骱內有響聲，始為合攏。
　　　	 2.敷定痛散，服生血補髓湯。
</pre>
<hr class="分段">
<pre>
主題：小柴胡湯
分類：六、應用諸方
內容：(1)組成：柴胡　半夏　黃芩　西黨參　白芍　丹皮　枳
</pre>
<hr class="分段">
<pre>
主題：小腿骨斷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：小腿有二骨，一大一小。斷一根者易治，斷兩根者難治；直挺
　　　	 者易治，分兩段者難治。
　　　(2)治法：1.將傷骨捏對平正，敷金瘡藥，貼損傷膏，不可水洗。用木皮
　　　	   六片，長三寸五分，加布條扎好，二日一換。
　　　	 2.此症極痛，先服止痛接骨丹，次以壯筋續骨丹。
</pre>
<hr class="分段">
<pre>
主題：手足指傷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：手足之筋多在指，指傷覺痛，則筋必促。
　　　(2)治法：1.煎寬筋散薰洗，輕輕揉捏，再行搖動伸舒。
　　　	 2.如骨與筋斷者，不可薰洗。
</pre>
<hr class="分段">
<pre>
主題：手法總論
分類：五、接骨入骱用手巧法
內容：(1)凡人之頭無骱，亦無損折，只有跌打碎傷等症：1.若腦漿出者不治。
　　　   2.骨青者難治。
　　　(2)1.碎骨如粟米大者可治。2.過大者不治。
　　　(3)1.接骨入骱者，兩手捏平其筋骨，復於舊位。或先拽之離而後合，或
　　　     推之就而復位，或正其斜，或完其缺。
　　　   2.且骨有截斷、碎斷、斜斷之分，骱有全脫、半脫之別，筋有弛縱、
　　　     捲攣、翻轉、離合各門。在肉內者用手摸之自知。
　　　   3.蓋傷有重輕，接拿有合宜不合宜之法，故愈有遲有速，而得完全或
　　　     遺殘廢者，總責乎手法也。
　　　   4.然體質壯者易愈，元氣弱者難全，若手法再誤，萬難挽回。
　　　(4)1.夫骨既斷，必使合攏一處，復歸原臼。出血者敷止血散，使血不流
　　　     ，再敷金瘡藥，用杉木板綁縛撐抵斷處，方不移動矣。
　　　   2.辨明骨有斷為兩截者，或折而陷下者，或碎而散亂者，或岔而旁突
　　　     者。分其形勢接拿，使斷者復接，陷者復起，碎者復完，突者復平
　　　     。
　　　   3.有皮肉不破而骨斷者，動則轆轆有聲；或骨受傷未斷者，動則無聲
　　　     ；或碎骨在肉內者，動則淅淅之聲；後必潰爛流膿，待其爛脫離肉
　　　     ，箝去碎骨，摻生肌藥，外貼損傷膏，亦用綁縛，始可完全。
</pre>
<hr class="分段">
<pre>
主題：手指骱脫出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：手指有三骱，中節脫出者。
　　　(2)治法：1.拔出捏正，拈其指伸出挺直，一推即上，能伸屈則愈。不可
　　　	   下水，洗以桂枝煎活血止痛飲。
　　　	 2.手指痛過於別處，若傷一指，痛必連心，中指尤甚。
　　　	 3.一染破傷風，外敷金瘡藥，內服疏風理氣湯。
</pre>
<hr class="分段">
<pre>
主題：止血定痛散
分類：六、應用諸方
內容：(1)組成：生大黃　兒茶　牛南星　降香末　煅龍骨　黃連　血竭　
　　　	 蒲黃炭	 棉花灰　陳石灰
　　　(2)加減法：富者加生黃　犀角屑
　　　(3)用法：為末，加擂工至無聲，乾摻。
</pre>
<hr class="分段">
<pre>
主題：止痛托裏散
分類：六、應用諸方
內容：(1)組成：白朮　生耆　蘇木末　三七　沒藥　肉桂　乳香　琥珀末　
　　　	 紅花  歸尾　熟地
</pre>
<hr class="分段">
<pre>
主題：止痛接骨散
分類：六、應用諸方
內容：(1)組成：蘇木末　三七　劉寄奴　落得打　沒藥　五加皮　骨碎補　
　　　	 接骨草　乳香　扁畜　川斷　地鱉蟲
</pre>
<hr class="分段">
<pre>
主題：火燒湯燙炮打各傷證狀
分類：五、接骨入骱用手巧法
內容：(1)症狀：火燒湯燙炮打各傷者：
　　　	 1.不能飲食者，火毒入內臟時，想飲冷水，急以清心去毒飲。
　　　	 2.能飲食者，火毒未入內，傷破皮肉者，外敷琥珀膏，投去毒
　　　	   散。
</pre>
<hr class="分段">
<pre>
主題：代痛散（又名寬筋散）
分類：六、應用諸方
內容：(1)組成：香附　鬧陽花　劉寄奴　桂枝　紅花　伸筋草　紫梢花　沒藥　
　　　	 乳香　艾葉　五加皮　川斷　當歸
　　　(2)用法：加生葱十枝，梓木二兩，煎湯，先薰後洗。
</pre>
<hr class="分段">
<pre>
主題：右肋痛證治
分類：三、雜證治法
內容：(1)症狀：右肋痛者，痰與食積也。
　　　(2)治法：先以化痰消食方，次服活血止痛湯。
</pre>
<hr class="分段">
<pre>
主題：失枕證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：失枕有因臥者，有一時之誤者。
　　　(2)治法：1.使患者坐低處，先行揉摩，一手提起其頭，一手托住其下頦
　　　	   ，緩緩轉動，伸舒使直。
　　　	 2.服吉利散。
</pre>
<hr class="分段">
<pre>
主題：左肋痛證治
分類：三、雜證治法
內容：(1)症狀：左肋痛者，血瘀與氣滯也。
　　　(2)治法：先以行氣活血湯，次下琥珀丸。
</pre>
<hr class="分段">
<pre>
主題：打傷眼珠證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：打傷眼珠落出者。
　　　(2)治法：1.先以銀針蘸井水，將收珠散點紅筋。
　　　	 2.次用青絹蘸溫湯挪進。
　　　	 3.即服還魂湯，再投明目生血飲。
</pre>
<hr class="分段">
<pre>
主題：生肌散
分類：六、應用諸方
內容：(1)主治：生肌長肉，又可止血。
　　　(2)組成：烏梅炭　血竭　煅蛇含石　煅花蕊石　五倍炭　煅龍骨　沒藥
　　　       　輕粉　乳香
　　　(3)用法：為末，乳至無聲，乾摻。
</pre>
<hr class="分段">
<pre>
主題：生血補髓湯
分類：六、應用諸方
內容：(1)組成：豬脊髓　魚線膠　淡蓯蓉　杜仲　杞子　鹿角膠　熟地　白芍
　　　	 當歸　龜板　阿膠　丹參　虎骨
</pre>
<hr class="分段">
<pre>
主題：先看穴道吉凶
分類：一、吉凶診斷法
內容：1.顖門：即腦蓋，一名頂門，骨破髓出者，不治。
　　　2.節梁：即鼻梁，打斷者，不治。
　　　3.兩太陽穴：即眉梢角骨，不治。
　　　4.突骨：即結喉骨，打斷者，不治。
　　　5.塞骨：即結喉下，橫骨上，空陷處，打斷者，不治。橫骨下，人字骨，
　　　        離一寸三分，為一節，受傷者，下一節，更重一節。
　　　6.心窩：即人字骨處，又名龍潭穴，打傷暈悶者，久後必死。
　　　7.丹田：臍下一寸三分之內，即膀胱也，倒插傷者不治，一月當亡。
　　　8.卵子：捏碎及傷破者，不治。
　　　9.腦後骨：骨破者，不治。
　　　10.百勞穴：與塞骨相對，傷斷者，不治。
　　　11.天柱骨：與結喉骨相對，傷斷者，不治。
　　　12.兩腎穴：在脊背與臍相對之左右，各離一寸三分，打破者，或笑，或哭
　　　           ，不治。
　　　13.尾骶骨：打碎者，不治。
　　　14.海底穴：大弓便兩界中間，傷重者，不治。
　　　15.軟骨：在兩乳下，即食肚，倒插傷者，不治。
　　　16.氣門：左乳上，動脈處，受傷則氣塞，救遲者不過三時。
　　　17.血海：右乳下，軟肋打傷者，不治。
　　　18.兩乳：左乳受傷者則咳，右乳受傷者則呃，皆不治。
</pre>
<hr class="分段">
<pre>
主題：刎喉證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：以刀刎喉，左手執刀者斜而深；右手執刀者直而淺。刎一刀者
　　　	 深而難治；刎兩刀者淺而易療。
　　　(2)治法：1.如喉管斷，有出入之氣，摻藥吸進必嗆咳，急以雞蛋內衣蓋
　　　	   管上，再摻藥則不嗆。
　　　	 2.如破食管，或破半邊，或全斷，急以油線縫合其口。
　　　	 3.若血不止，用滑石、五倍研末摻之。外封金瘡藥，貼膏藥，
　　　	   長五寸闊三寸，加布條扎項，高枕仰臥，使項屈而不伸，刀
　　　	   口易合。三日後，以葱湯洗去前藥，摻生肌散，貼膏藥，仍
　　　	   舊扎好。兩月餘完全。
　　　	 4.服護風散。如發寒熱，進補中益氣湯。
　　　(3)不治證：若氣管斷或稍穿破者，不治。
</pre>
<hr class="分段">
<pre>
主題：吉利散
分類：六、應用諸方
內容：(1)組成：劉寄奴　三七　木香　沒藥　香附　乳香　陳皮　蘇木末　
　　　	 枳殼  當歸　落得　扁蓄　川芎　草朴
　　　(2)用法：等分為末，每溫酒藥下三錢。
</pre>
<hr class="分段">
<pre>
主題：收珠散
分類：六、應用諸方
內容：(1)組成：煅龍骨　兒茶　血竭　烏梅　五倍子　冰片　沒藥　乳香
　　　(2)用法：乳至無聲，以銀針蘸井水，粘藥，點血筋上。
</pre>
<hr class="分段">
<pre>
主題：有清痰或食積流注兩肋作痛證治
分類：三、雜證治法
內容：(1)症狀：有清痰或食積流注兩肋作痛者。
　　　(2)治法：先以清肺止痛湯，次服吉利散。
</pre>
<hr class="分段">
<pre>
主題：死診-全體死診
分類：一、吉凶診斷法
內容：1.左（心、小腸、肝、膽、腎）右（肺、大腸、脾、胃、命門）傷全體者
　　　  死速。
　　　2.受傷在七日內者，當行血。
　　　3.至十四日後者,有瘀血在胸,或大腸作痛,當急進行血藥。
　　　4.須看患者，手指甲黑否，及足指甲黑否，黑則為凶。
　　　5.面黑者，腎有傷。
　　　6.肝脈數者，胸腹有瘀血，當必吐血。
</pre>
<hr class="分段">
<pre>
主題：死診-脈象死診
分類：一、吉凶診斷法
內容：1.六脈沈細虛小者死。
　　　2.浮大數實者死。
　　　3.血出過多，脈微緩忽絕者死。
</pre>
<hr class="分段">
<pre>
主題：死診-部位死診
分類：一、吉凶診斷法
內容：1.腦骨破者死。
　　　2.兩額角邊傷者死。
　　　3.天柱骨斷者死。
　　　4.耳後腦衣破者死。
　　　5.傷兩太陽穴者死。
　　　6.傷耳前命門者死。
　　　7.頭頂骨碎者死。
　　　8.眉毛內傷者死。
　　　9.護心骨碎者死。
　　　10.傷臂中跳脈者死。
　　　11.胸口，後背，兩腰，陰囊，陰戶，肛門，髀內陰股，老人左股壓碎海
　　　   底穴，大腸破出黑屎，小腸傷溺閉，心肺脾肝腎卵子碎，凡傷重，口
　　　   目閉，牙關緊，不進湯水，痛極難忍者，皆死。
</pre>
<hr class="分段">
<pre>
主題：死診-傷重口眼閉不出言語之救治法
分類：一、吉凶診斷法
內容：1.凡傷重口眼閉，不出言語者，即以牙皂末吹鼻孔，得嚏即能開口。
　　　2.如無嚏，以燈草蘸井水，粘牙皂末，點鼻中得嚏，即吐痰者可治，否則
　　　  不救。
　　　3.隨取韮菜白梗搗汁，和童便燉熱，灌入口內，口納者可治，不納者不治
　　　  。如納後，同瘀血吐出者，辨其輕重，先服砂仁泡湯，冲吉利散，次投
　　　  清心和氣湯，外貼損傷膏。
　　　4.傷過重者，頭疼昏迷，又不吐血，急將韮白汁和陳酒服之。
　　　5.如骨碎筋斷者，以封口藥護之。
　　　6.小便閉者，以琥珀散通之。
　　　7.如腹中作痛，內有瘀血，用大黃散行之。
</pre>
<hr class="分段">
<pre>
主題：死診-證狀死診
分類：一、吉凶診斷法
內容：1.氣喘急，痰響者死。
　　　2.目直視，或邪視者死。
　　　3.唇吊者死。
　　　4.失枕者死。
　　　5.口臭者死。
　　　6.耳之與鼻，有赤色者死。
　　　7.骨碎色青者死。
　　　8.氣喉斷者死。
　　　9.胸高者死。
　　　10.兩手捏空者死。
　　　11.血出不止者死。
　　　12.血先赤後黑者死。
　　　13.痛不在傷處者死。
　　　14.肌肉腐者死。
</pre>
<hr class="分段">
<pre>
主題：肋骨斷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：肋骨斷者，骨不能對。
　　　(2)治法：須捏骨平正，外貼損傷膏，內服壯筋續骨丹。
</pre>
<hr class="分段">
<pre>
主題：行氣活血湯
分類：六、應用諸方
內容：(1)組成：香附　青皮　鬱金　紅花　茜根　元胡索　澤蘭　當歸尾　
　　　	 蘇梗  木香　乳香
　　　(2)用法：花酒沖服。
</pre>
<hr class="分段">
<pre>
主題：壯筋續骨丹
分類：六、應用諸方
內容：(1)組成：虎骨　骨碎補　破故紙　地鱉蟲　杜仲　五加皮　川斷　黃耆　
　　　	 劉寄奴　當歸　川芎　白芍　炒熟地　木瓜　黨參　三七　
　　　	 桂枝  兔絲餅
　　　(2)用法：晒脆為末，砂糖泡水泛丸，每溫花酒下四錢。
</pre>
<hr class="分段">
<pre>
主題：男女損傷證治
分類：三、雜證治法
內容：(1)症狀：1.大都男子氣從左轉，傷上部者易治，傷下部者難治，以其陽
　　　           氣上升也。
　　　	 2.女人血從右轉，傷下部者易治，傷上部者難治，以其陰血下
　　　           降也。
　　　(2)治法：1.先以砂仁泡湯，和吉利散服之。
　　　	 2.再進順氣活血湯。
　　　	 3.復以砂糖花酒，下和傷丸五粒。
</pre>
<hr class="分段">
<pre>
主題：足背骨縫錯出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：足背之骨縫錯出。
　　　(2)治法：1.輕輕搓捏，令其骨合筋舒。
　　　	 2.貼損傷膏，服補筋藥。
</pre>
<hr class="分段">
<pre>
主題：兩肋非打傷自痛證治
分類：三、雜證治法
內容：(1)症狀：兩肋非打傷自痛者，乃肝火有餘。
　　　(2)治法：當以清肝止痛湯。
</pre>
<hr class="分段">
<pre>
主題：兩肋痛證治
分類：三、雜證治法
內容：(1)症狀：有傷擦或時邪發熱，覺兩肋痛者，此肝膽二經受邪。
　　　(2)治法：治以小柴胡湯。
</pre>
<hr class="分段">
<pre>
主題：剁落耳鼻或斬斷手臂、手指、腿膀、足指證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：1.剁落耳鼻者，急趁血熱蘸髮灰末貼於原位，不可歪斜，外加
　　　	   夾縛法。
　　　	 2.或斬斷手臂，或手指，或腿膀，或足指，急將斷下者，趁血
　　　	   未冷，湊接齊整合攏。
　　　	 3.摻止血丹外，敷金瘡藥，服托裏止痛散。
　　　(2)預後：如血已冷，湊接不得粘合，遂成殘缺之體。
</pre>
<hr class="分段">
<pre>
主題：受夾棍證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：受夾棍後者。
　　　(2)治法：1.急用熱童便一盆浸之。如童便冷,燒熱磚淬之則熱,浸至童便
　　　	   面起白油者方止。
　　　	2.外搗肥皂和雞子清敷之，加布扎緊，或搗何首烏敷之。
　　　	3.內服逐瘀定痛藥。
</pre>
<hr class="分段">
<pre>
主題：受杖證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：受杖後者，腿必紫黑，甚則氣閉攻心而死。
　　　(2)治法：1.速服酒沖童便。
　　　	 2.外用熱豆腐敷之，其腐即紫，頻換豆腐，至色淡為度。或搗
　　　	   熱葱熨之，或用大黃末童便和敷。
　　　	 3.內服化瘀藥。
</pre>
<hr class="分段">
<pre>
主題：受傷腫痛證治
分類：五、接骨入骱用手巧法
內容：(1)證治：1.受傷紫腫痛難忍者，以活血止痛湯，次服吉利散。
　　　	 2.腫而青紫，或發寒熱，或二便閉，氣悶昏沈，坐臥不安，不
　　　	   進飲食，卵子不時上下，此瘀血在內，先以疏風理氣湯，次
　　　	   投琥珀丸。
　　　	 3.如紅腫陣陣作痛，氣喘發咳，欲笑溺濇，投活血止痛湯。
</pre>
<hr class="分段">
<pre>
主題：定痛散
分類：六、應用諸方
內容：(1)組成：地鱉蟲　靈仙　三七　無名異　木香　自然銅　川斷　山羊血
　　　	 乳香　紅花　蘇木末　川芎　骨碎補　獨活　落得打　沒藥　
　　　	 枳　　生軍　土狗　羌活　虎骨　陳皮　劉寄奴　當歸
　　　(2)用法：等分，晒脆研末，用陳酒調敷患上，每以溫花酒下三錢。
</pre>
<hr class="分段">
<pre>
主題：明目生血飲
分類：六、應用諸方
內容：(1)組成：生地　白芍　決明子　夜明砂　沙苑子　丹皮　益母花　
　　　	 巨勝子	 青葙子　歸身　杭菊　丹參
</pre>
<hr class="分段">
<pre>
主題：治法大要
分類：五、接骨入骱用手巧法
內容：(1)大凡治法，先煎代痛散薰洗，然後將斷骨拿直，令其相對，平正按摩
　　　   ，果然照舊不歪，敷定痛散，鋪蓋艾絨，綁以杉木板，加布條扎好，
　　　   取其緊直，使骨縫無綻離走脫之患。
　　　(2)過四五日放綁復看，如其走脫，仍依前法扎緊，百日內換綁二十餘次
　　　   ，內服接骨藥。
</pre>
<hr class="分段">
<pre>
主題：肩骱落下證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：肩骱與膝骱相似，肩骱落下，手不能舉。
　　　(2)治法：1.將上一手擒住其肩下，一手拿住其手，輕輕轉動，使其筋舒
　　　	   。
　　　	 2.再令患者坐於低處，一人抱住其身，將手拔直，用推拿法。
　　　	 3.又兩手捏其肩，抵住其臂骨，將膝夾住其手，齊力推上，骱
　　　	   內有響聲，乃復舊位，手自能舉動。如無響聲者，骱未能上
　　　	   ，仍照前法而行。
　　　	 4.先以熟牛皮，長五寸，寬三寸，兩頭各開二孔，貫以棉繩，
　　　	   內貼損傷膏，加以棉花蓋之。
　　　	 5.又用棉裹如雞卵大，夾於夾窩內，復以牛皮來緊肩之前後，
　　　	   加布纏好以扶手皮，長二尺，寬四寸，兩頭穿繩，懸掛空中
　　　	   ，令患者俯伏於上，不使其肩骨下垂，俟全愈方可撤板。若
　　　	   不依此法，後必遺殘患蘆節。
　　　	 6.服獨活桂枝湯。
</pre>
<hr class="分段">
<pre>
主題：咬傷手指證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：被人咬傷手指者。
　　　(2)治法：1.先以童便淋洗，捏去牙根毒氣，用炙龜板灰末麻油和敷，又
　　　	   以紙蘸麻油點火薰之。
　　　	 2.如患處破傷風，進疏風理氣湯。
　　　(3)難證：若刀斧砍斫傷者難治。
</pre>
<hr class="分段">
<pre>
主題：封口金瘡藥
分類：六、應用諸方
內容：(1)主治：治破爛未收口者，能生肌肉。
　　　(2)組成：煅龍骨　蝱蟲　木鱉仁　白芨　血竭　白斂　沒藥　乳香　
　　　	五倍子	輕粉　老松香
　　　(3)用法：各藥晒研末聽用，將熟豬油八兩、菜油八兩熬透，入白蠟三錢
　　　	 化鎔，再入藥末，攪勻，攤貼。
</pre>
<hr class="分段">
<pre>
主題：按摩法
分類：四、外治手法
內容：(1)按者，以手往下抑之；摩者，徐徐揉摩之。
　　　(2)因損傷皮膚筋肉，腫硬麻木，而骨未有折斷者。
</pre>
<hr class="分段">
<pre>
主題：活血止痛湯
分類：六、應用諸方
內容：(1)組成：川芎　當歸　陳皮　三七　沒藥　赤芍　乳香　紅花　蘇木末
　　　	 落得打　地鱉蟲　紫荊藤
　　　(2)用法：水酒各半煎。
</pre>
<hr class="分段">
<pre>
主題：活血止痛飲
分類：六、應用諸方
內容：(1)組成：川芎　歸尾　劉寄奴　三七　沒藥　紅花　桃仁　乳香　
　　　	 山羊血	 茜根　木通
</pre>
<hr class="分段">
<pre>
主題：活血湯
分類：六、應用諸方
內容：(1)組成：元胡索　五靈脂　香附　紅花　茜根　血竭　赤芍　乳香　
　　　	 歸尾  生地
</pre>
<hr class="分段">
<pre>
主題：看傷吉凶-五凶象
分類：一、吉凶診斷法
內容：1.看兩眼：兩眼有瘀血者，則白睛必有瘀血之筋；血筋多者，瘀血必多；
　　　	  血筋少者，瘀血亦少。兩眼活動者易治，不動者難治。（瞳孔
　　　	  對光反應更為準確）
　　　2.看手指甲：以我手指甲，搯其手指甲，放手即還原色者易治，少頃始還
　　　	    原色者傷重，手指甲紫黑者不治。
　　　3.看陽物：不縮者可治，縮者難治。卵子縮者，亦不治。婦人乳縮者不治
　　　	  。
　　　4.看腳指甲：與手指甲同法。
　　　5.看腳底：紅活色者易治，黃色者難治。手掌亦同。
　　　犯五凶象者不治，如犯1.、2.凶象者尚可治。
</pre>
<hr class="分段">
<pre>
主題：看傷吉凶-血氣順逆
分類：一、吉凶診斷法
內容：1.(1)凡人受向上打打傷者，為順氣。
　　　  (2)平拳打傷者，為塞氣。
　　　  (3).倒插打傷者，為逆氣；其症最凶。
　　　2.夫人身之血，隨氣轉，氣順則血順行，氣逆則血逆滯，血滯則病成，何
　　　  堪加以骨碎筋斷，其不至殞命，與成殘廢者，亦大幸事，全賴醫者有旋
　　　  乾轉坤之力也。蓋前心與後心相對，傷久成癆；小腹與膀胱相連，傷久
　　　  成黃病。
</pre>
<hr class="分段">
<pre>
主題：砍跌打落耳朵證治
分類：五、接骨入骱用手巧法
內容：(1)證治：1.砍跌打落耳朵，或上落下粘者，或下脫上連者，急拈正，用
　　　	   封口金瘡藥。
　　　	 2.若全落下者，急蘸血餘末貼原位，將兩耳相對，次以竹片夾
　　　	   緊，加布條扎好。
　　　(2)不治證：如耳門骨傷重而體素虧，昏沈著，不治。
</pre>
<hr class="分段">
<pre>
主題：捏破陰囊證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：捏破陰囊，卵子拖出者。
　　　(2)治法：浴以溫湯，輕輕拈進，貼以活雞皮，先摻金瘡藥，投吉利散。
　　　(3)不治證：卵子碎者，不治。
</pre>
<hr class="分段">
<pre>
主題：捏傷陽物、踢傷肛門證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：1.捏傷陽物：小便不通者，急投琥珀丸。小便通者，進吉利散
　　　	   。
　　　	 2.踢傷肛門腫脹者：投通腸活血湯。大便不通者，以大黃湯。
　　　	   有紫血者，與吉利散。有鮮血者，進槐花散。
</pre>
<hr class="分段">
<pre>
主題：退毒定痛散
分類：六、應用諸方
內容：(1)組成：落得打　木通　當歸　生地　花粉　元胡索　不留行　連翹　
　　　	 沒藥　乳香　銀花　大貝母
</pre>
<hr class="分段">
<pre>
主題：從高墜跌證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：1.從高墜跌骨碎者，或骨脫骱者，以手輕輕捏骨與骱平伏，敷
　　　	   定痛散，外護金瘡藥，投疏風理氣湯，次以補中益氣湯。
　　　	 2.如頸項跌入腔內，尚活動，掉於左右，治以提法。頭低不起
　　　	   ，治以正法。頭頂歪斜，治以整法。面仰頭不能低，或筋長
　　　	   骨錯，或筋聚筋強，治以推正接整法。
　　　	 3.能起坐行動者輕；昏迷不語，痛極硬腫者重。
</pre>
<hr class="分段">
<pre>
主題：接法
分類：四、外治手法
內容：(1)接使已斷之骨合攏，復歸舊位。
　　　   1.陷者復起，碎者復完，突者復平。
　　　   2.或用手法，或用器具，分先後而兼用之。
</pre>
<hr class="分段">
<pre>
主題：接骨散
分類：六、應用諸方
內容：(1)組成：五加皮　白芍　川斷　乳香　當歸　紫果籐　破故紙　鹿筋　
　　　	 骨碎補　虎骨　杜仲
</pre>
<hr class="分段">
<pre>
主題：接骨摸法
分類：四、外治手法
內容：(1)用手細摸所傷之處：
　　　   1.或骨斷、骨碎、骨歪、骨整、骨軟、骨硬。
　　　   2.或筋強、筋柔、筋歪、筋正、筋斷、筋走、筋麤、筋翻。
　　　   3.或為跌撲，或為閃錯，或為打撞。
　　　(2)然後依法治之。
</pre>
<hr class="分段">
<pre>
主題：推拿法
分類：四、外治手法
內容：(1)以手推之使還舊位，有用兩手或一手捏定患處，緩緩以復其位。
　　　(2)或因筋急難於轉搖，或筋縱難運動，或骨節稍有錯落不合縫者，當推
　　　   拿以通經絡之氣血。
</pre>
<hr class="分段">
<pre>
主題：清心去毒散
分類：六、應用諸方
內容：(1)組成：銀花　連翹　元參　生地　黃芩　大貝母　丹皮　木通　澤瀉
　　　	 麥冬　淡竹葉
</pre>
<hr class="分段">
<pre>
主題：清心和氣湯
分類：六、應用諸方
內容：(1)主治：吐血後用。
　　　(2)組成：蘇梗　枳殼　香附　蓮子心　麥冬　丹參　丹皮　生地　百合　	 佩蘭　西洋參
</pre>
<hr class="分段">
<pre>
主題：清肝止痛湯
分類：六、應用諸方
內容：(1)組成：赤芍　沒藥　乳香　柴胡　羚羊角　丹皮　生地　山梔　澤瀉　	 木通
</pre>
<hr class="分段">
<pre>
主題：清肺止痛湯
分類：六、應用諸方
內容：(1)組成：元參　茅根　麥冬　乳香　枳　　元胡索　蘇木末　丹皮　
　　　	 生地  馬兜鈴
</pre>
<hr class="分段">
<pre>
主題：通腸活血湯
分類：六、應用諸方
內容：(1)組成：當歸　沒藥　乳香　紅花　桃仁　炙甘草　蘇木末　枳殼　
　　　	 大黃  木通
</pre>
<hr class="分段">
<pre>
主題：麻藥
分類：六、應用諸方
內容：(1)組成：川烏　草烏　胡椒　蟾酥　鬧陽花　生半夏　蓽撥　麻黃
　　　(2)用法：晒脆研末，陳酒下五厘，任刀割拿捏，不知痛苦。欲解其性，
　　　	 服甘草湯立甦。
</pre>
<hr class="分段">
<pre>
主題：割傷舌、腭、會厭證治
分類：五、接骨入骱用手巧法
內容：(1)證治：1.口含刀誤割其舌，將斷未落者，急用雞蛋殼內衣貯其舌，蜜
　　　	   調敷止血定痛散，頻頻添換，使患者仰臥、稀粥灌飲，不動
　　　	   其舌，則易愈。
　　　	 2.或戮傷上腭正中之孔，面腫色青，血流不止，痛連腦髓；若
　　　	   傷會厭，昏沈不語，痛連心膈。
　　　	   &lt;1&gt;急研鉛粉冰片吹患處，以止其血。
　　　	   &lt;2&gt;再用蟹黃血竭煎湯，每日口漱三十次。
　　　	   &lt;3&gt;內服定痛散。
</pre>
<hr class="分段">
<pre>
主題：提法
分類：四、外治手法
內容：提出陷下骨如舊：
　　　(1)有用兩手提者，有用繩帛繫高處提者，有提後用器具輔之，不使仍陷
　　　   者。
　　　(2)倘重者輕提，則病不愈；輕者重提，反加新患。
</pre>
<hr class="分段">
<pre>
主題：琥珀和傷丸
分類：六、應用諸方
內容：(1)主治：治遠年近日跌打損傷，並治金瘡。
　　　(2)組成：劉寄奴　獨活　生軍　山茨姑　歸尾　川斷　白芍　無名異　
　　　	 虎骨　骨碎補　琥珀　沒藥　羌活　血竭　地鱉蟲　熟地　
　　　	 三七  靈仙　乳香　自然銅　靈脂　山羊血　破故紙　杜仲　
　　　	 桂枝
　　　(3)用法：晒脆為末，用川白蜜砂糖和為丸，每丸重一錢五分，空心溫花
　　　	 酒下一丸。
</pre>
<hr class="分段">
<pre>
主題：琥珀散
分類：六、應用諸方
內容：(1)組成：琥珀末　獨活　澤蘭　生軍　芒硝　木通　赤芍　香甘草　
　　　	 沒藥  乳香　升麻　桃仁
　　　(2)用法：水酒各半煎。
</pre>
<hr class="分段">
<pre>
主題：琥珀膏
分類：六、應用諸方
內容：(1)主治：生肌長肉神效。
　　　(2)組成：琥珀　血竭　髮灰　兒茶　象皮　銅綠　生珠
　　　(3)用法：為細末，聽用。再用當歸一兩，生地二兩，熟豬油二兩，麻油
　　　	 四兩，同入鍋灼枯去渣，下黃蠟一兩，化鎔後，入藥末攪勻，
　　　	 臨症聽用。
</pre>
<hr class="分段">
<pre>
主題：登高跌仆血瘀兩肋作痛證治
分類：三、雜證治法
內容：(1)症狀：登高跌仆，血瘀兩肋作痛者。
　　　(2)治法：急進大黃湯，次投吉利散。
</pre>
<hr class="分段">
<pre>
主題：腕骱脫出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：手掌處腕骨被跌仆打傷，骱骨脫出者，腕縫必開。
　　　(2)治法：1.以兩手先揉其腕，一手拿住其指，一手拿住其凹處，拔其手
　　　	   指，伸直手掌，曲起手骱，曲下一伸而上，骱內有響聲，掌
　　　	   可活動，已復舊位。
　　　	 2.但骱出不用綁。如骨斷者，先貼損傷膏，加布扎好。將闊板
　　　	   一片，撐住患裏，再以木板四片，長三寸，加布扎緊，俟愈
　　　	   方去板。
　　　	 3.煎桂枝湯和吉利散。
</pre>
<hr class="分段">
<pre>
主題：腎骱脫出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：腎處肉厚，骨麤，骱脫比諸骱難於擒拿合攏。（又名胯骨）
　　　(2)治法：1.若骱脫臼者，則觸在股內，須用大力人四個幫扶，使患者側
　　　	   臥，一人抱住其身，一人擒住膝上，先將臂骱拔直，上手擒
　　　	   住其腰，下手捧住其腿灣，將膝曲轉向上，使膝近其腹，再
　　　	   令伸直，骱內有響聲，即歸舊臼。
　　　	 2.出左腎攀向右，向右拔直而上；出右腎攀向左，向左拔直而
　　　	   上。
　　　	3.貼損傷膏，服生血補髓湯。
</pre>
<hr class="分段">
<pre>
主題：跌打碰傷頭顱證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：跌打碰傷，頭顱猝死者，身雖僵直，口鼻尚有出入氣，心口尚
　　　	 溫跳動者。
　　　(2)治法：1.&lt;1&gt;使患者盤坐，揪其髮，伏我膝上，傷處先敷定痛散。
　　　	   &lt;2&gt;隨以火紙捲條點火，令烟薰其口鼻，通和臟腑血脈之氣。
　　　	   &lt;3&gt;待口中出聲，以熱陳酒和灌定痛散，或炒蘿蔔子泡湯灌之
　　　	     。
　　　	 2.外用手摩其胸腋，並托其手脘，頻頻揉其兩手脈窠，被傷之
　　　	   筋脈強硬，得揉摩而心脈和運，命脈流通，即可回生。
　　　(3)傷重死證：1.若傷重已死者：&lt;1&gt;用白布纏其頭。&lt;2&gt;以木棍長尺半，圓
　　　	       如錢大，輕輕拍其足心。&lt;3&gt;再提其髮，令項正直，舒其
　　　	       經絡。
　　　	     2.如皮未破，骨碎膜穿，血向內流，聲啞不言，面青唇黑
　　　	       者，不治。
　　　	     3.或頂骨塌陷，七竅出血，身僵昏迷者，不治。
　　　	     4.惟皮開肉綻，自流不止者：
　　　	       &lt;1&gt;先止其血，服補氣養血藥，當戒慾避風。
　　　	       &lt;2&gt;如染破傷風，牙關緊閉，角弓反張，即進疏風理氣湯
　　　		，俟身不發熱，與補中益氣湯。
</pre>
<hr class="分段">
<pre>
主題：跌打壓仆損傷者須用引經藥
分類：
內容：(1)上部：用川芎。
　　　(2)手臂：用桂枝。
　　　(3)背脊：用白芷、藁本。
　　　(4)胸腹：用白芍。
　　　(5)左肋：用青皮。
　　　(6)右肋：用柴胡。
　　　(7)腰臀：用杜仲。
　　　(8)兩足：用木瓜。
　　　(9)下部：用牛膝。
　　　(10)膝下：用黃柏。
　　　(11)周身：用羌活。
　　　(12)順氣：用砂仁、青皮、木香、枳殼。
　　　(13)通竅：用牙皂。
　　　(14)破血：用蘇木、木通、桃仁、乳香。
　　　(15)活血：用川芎、茜根、紅花、三七。
　　　(16)補血：用丹參、白芍、生地、當歸。
　　　(17)接骨：用骨碎補、杜仲、五加皮、川斷。
　　　(18)婦人：用香附。
</pre>
<hr class="分段">
<pre>
主題：順氣活血湯
分類：六、應用諸方
內容：(1)組成：香附　木香　蘇梗　枳　　紅花　桃仁　草朴　炒赤芍　歸尾
　　　	砂仁　蘇木末
　　　(2)用法：水酒各半，煎服。
</pre>
<hr class="分段">
<pre>
主題：傷大腸證治
分類：三、雜證治法
內容：(1)症狀：傷大腸者，便後急澀，面赤氣阻，便後有紅者，傷重，主半月
　　　	 死。
　　　(2)治法：先進槐花散，次服吉利散，後以和傷丸。
</pre>
<hr class="分段">
<pre>
主題：傷小腸證治
分類：三、雜證治法
內容：(1)症狀：傷小腸者，小便閉塞作痛，面腫氣喘，發熱口乾，口有酸水，
　　　	 主三日死。
　　　(2)治法：先以水酒各半煎服疏風理氣湯，次以吉利散，後送琥珀丸。
</pre>
<hr class="分段">
<pre>
主題：傷心口證治
分類：三、雜證治法
內容：(1)症狀：傷心口者，面青氣少，呼吸痛甚，吐血身體難動，主七日內死
　　　         。
　　　(2)治法：先進疏風理氣湯，次服和傷丸，時時飲百合湯。
</pre>
<hr class="分段">
<pre>
主題：傷血海證治
分類：三、雜證治法
內容：(1)症狀：傷血海者，口常吐血，胸與背板硬作痛，或血妄行，主一月死
　　　	 。
　　　(2)治法：先進行氣活血湯，次以吉利散，後服藥酒而安。
</pre>
<hr class="分段">
<pre>
主題：傷肝證治
分類：三、雜證治法
內容：(1)症狀：傷肝者，面紫眼赤發熱，主七日內死。
　　　(2)治法：先投疏風理氣湯，次以吉利散，後服琥珀丸。
</pre>
<hr class="分段">
<pre>
主題：傷兩肋證治
分類：三、雜證治法
內容：(1)症狀：傷兩肋者，氣喘大痛，睡如刀割，面白氣虛，主三日死。
　　　(2)治法：1.先以行氣活血湯，次進和傷丸。
　　　	 2.如筋骨斷者，敷定痛散，貼損傷膏，用布扎數轉，服接骨藥
　　　	   。
</pre>
<hr class="分段">
<pre>
主題：傷肩證治
分類：三、雜證治法
內容：(1)症狀：傷肩者，左邊則氣促面黃浮腫，右邊則氣虛面白血少。
　　　(2)治法：1.使患者低坐，一人抱住其身，將手拔直，用推拿法，令其筋
　　　           舒，一手捏其肩，抵住骱頭，齊力拔出，然後彎曲其肘，骱
　　　           內有響聲，乃復其舊位，用布條扣臂于項下。
　　　	 2.服行氣活血湯，一月完全。
</pre>
<hr class="分段">
<pre>
主題：傷背證治
分類：三、雜證治法
內容：(1)證治：1.傷背者，五臟皆繫於背，雖凶則死緩。先服吉利散，次以砂
　　　           糖花酒，送和傷丸五粒。
　　　	 2.如骱骨脫出，腰硬痛極，用竹六根，扎為兩個三腳馬，排於
　　　           兩頭，上橫一竹，繫麻繩圈兩個，使患者兩手攀圈，每足踏
　　　           磚三塊。醫者將後腰拿住，各抽去磚一塊，令患者直身，又
　　　           各去磚一塊。如是者三次，其足著地，則骨陷者能起，曲者
　　　           能直。先敷定痛散，外貼皮紙，鋪以艾絨，次以杉木四根，
　　　           寬一寸厚五分，長短照患處為度，俱在側面鑽孔，用繩穿貫
　　　           ，裹於患上，加布札緊，兩邊令端正，只可仰臥。
　　　	 3.如無氣者，使患者盤坐，揪其髮，伏我膝上，輕拍其背心，
　　　           使氣從口出得甦。
　　　	 4.如胸前不直者，亦用竹架攀圈法。
</pre>
<hr class="分段">
<pre>
主題：傷食肚證治
分類：三、雜證治法
內容：(1)症狀：傷食肚者，心下高腫，皮緊陣痛，眼閉，面與口鼻黑色，氣喘
　　　         發熱，飲食不進，主七日死。
　　　(2)治法：先進疏風理氣湯，次以和傷丸。
</pre>
<hr class="分段">
<pre>
主題：傷氣眼證治
分類：三、雜證治法
內容：(1)症狀：傷氣眼者，氣喘痛極，夜多盜汗，身瘦腫脹，不安食少，主一
　　　	 月死。
　　　(2)治法：先泡砂仁湯和吉利散服，次以酒煎補腎活血湯，後進和傷丸。
</pre>
<hr class="分段">
<pre>
主題：傷破肚皮證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：1.傷破肚皮，而腸拖出者，醫者先自剪去指甲，免碰傷其腸。
　　　	   將溫水和麻油，浴煖外出之腸，輕輕揉進。若未能進，用醋
　　　	   和冷水，勿令患者知，忽噀其面，其腸自收。以油線淺淺縫
　　　	   其口，太深則傷內肉。封金瘡藥，貼活雞皮，加布扎好，服
　　　	   通腸活血湯。
　　　	 2.內臟不傷，飲食如常者，不妨。
　　　	 3.桑根皮搓線尤妙。
　　　	 4.骨碎如粟米者，輕輕箝去其碎骨，封金瘡藥，服生血補髓丹
　　　	   。
　　　	 5.如骨脫臼，捏平其骨合筍，貼損傷膏，服壯筋續骨丹。
　　　(2)不治證：腸突出膜外者不治。如腸未出，而膜已穿，血向內流者不治
　　　	   。
</pre>
<hr class="分段">
<pre>
主題：傷胸與背證治
分類：三、雜證治法
內容：(1)症狀：胸與背皆傷者，發熱咳嗽，面白肉瘦，飲食少思，主半月死。
　　　(2)治法：先進理氣湯，後以和傷丸。
</pre>
<hr class="分段">
<pre>
主題：傷胸證治
分類：三、雜證治法
內容：(1)症狀：傷胸者，胸為氣血往來之所，傷久必咳嗽，高起滿悶，面黑發
　　　         熱，主四日死。
　　　(2)治法：1.先進疏風理氣湯，次以行氣活血湯。
　　　	 2.從前面碰打跌傷胸膛者重，從後面者輕，用手法按摩之。
　　　(3).死證：心坎上橫骨，第一節傷者一年死，第二節傷者二年死，第三節
　　　          傷者三年死。
</pre>
<hr class="分段">
<pre>
主題：傷處焮紅高腫作痛證治
分類：三、雜證治法
內容：(1)症狀：傷處焮紅高腫作痛者，乃瘀血為患，寒熱交作，日輕夜重，兼
　　　	 之腰痛，肥人多氣虛，瘦人多鬱怒。
　　　(2)治法：急下琥珀散，次以和傷丸，後進藥酒而安。
</pre>
<hr class="分段">
<pre>
主題：傷陰囊或陰戶證治
分類：三、雜證治法
內容：(1)症狀：傷陰囊或陰戶者，血水從小便滴出，腫脹痛極，昏沈不醒，主
　　　	 一日死。
　　　(2)治法：先與琥珀丸，後進行氣活血湯。
</pre>
<hr class="分段">
<pre>
主題：傷腎證治
分類：三、雜證治法
內容：(1)症狀：傷腎者，兩耳立聾，額黑面浮白光，常如哭狀，腫如弓形，主
　　　	 半月死。
　　　(2)治法：先服疏風理氣湯，次以補腎活血湯，再投吉利散與琥珀丸。
</pre>
<hr class="分段">
<pre>
主題：傷膀胱證治
分類：三、雜證治法
內容：(1)症狀：傷膀胱者，小便腫脹濇痛，不時滴尿，發熱，主五日死。
　　　(2)治法：先下琥珀丸，次以行氣活血湯。
</pre>
<hr class="分段">
<pre>
主題：傷顖門證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：傷顖門肉腫皮未破者，昏沈不語。
　　　(2)治法：1.扶起正坐，以葱汁和敷定痛散。
　　　	 2.次以麤紙蘸醋貼藥上，燒小熨斗絡紙上，內覺熱痛，口出聲
　　　	   為度，去藥貼損傷膏。
　　　(3)不治證：如皮破血流不止，骨陷筋翻者，不治。
　　　(4)其他：凡傷頭頂兩旁稜骨額骨正中兩額角眼眶顴骨，均照顖門傷治法
　　　	 。
</pre>
<hr class="分段">
<pre>
主題：損傷膏藥
分類：六、應用諸方
內容：(1)組成：三七　大黃　靈仙　不留行　川斷　落得打　蛇衣　骨碎補　
　　　	 地鱉蟲　川烏　草烏　牙皂　丁香　沒藥　良姜　細辛　獨活　
　　　	 羌活　官桂　吳萸　蜈蚣　茜根　莪朮　月石　三稜　生南星　
　　　	 接骨草　阿魏　劉寄奴　當歸　真自然銅　乳香　麻黃　
　　　	 蘇木末　潮腦　蟾酥
　　　(2)用法：各藥晒脆，研細末，聽用。再用麻油十斤，桃丹四斤，煎熬成
　　　	 厚膏時，再入前藥末攪勻，用布攤好貼傷處。
</pre>
<hr class="分段">
<pre>
主題：碰擦磕跌並刀砍斧斫證治（附：玉真散）
分類：五、接骨入骱用手巧法
內容：(1)症狀：凡碰擦磕跌，並刀砍斧斫，肉開血流，或皮微破者，傷不過重
　　　	 ，人每不甚介意。惟在春令，最易侵風，在頭為重，別處稍輕
　　　	 ，漸見浮腫。
　　　(2)治法：1.速進玉真散，避風為要。
　　　	 2.若不急治，成破傷風，甚至青腫，牙關緊閉，神昏發狂，角
　　　	   弓反張，四肢抽搐，多致不救。
　　　	 3.玉真散：白附子、川芎、防風、羌活、天麻、白芷　煎服。
</pre>
<hr class="分段">
<pre>
主題：腳指撇傷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：腳指撇傷前半截，翻下斷者，或翻上斷。
　　　(2)治法：1.將左手捏住其足兩側，再以右手捏平斷足指，鑲接原位。
　　　	 2.貼損傷膏，以帶扎緊，不可下水洗。
　　　	 3.服壯筋續骨丹。
</pre>
<hr class="分段">
<pre>
主題：腳踝骨出入證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：1.腳踝骨易出易入，一手抬住其腳踝，一手拿住其腳踝，將踝
　　　	   拔直捏正，其骨復於舊住。左踝出手偏於左，右踝出手偏於
　　　	   右，腳指曲上，腳根曲下，一伸而上，骱有響聲，活動如故
　　　	   。
　　　	2.夾以木板，加布扎緊，二日後再看，如未平直，仍撥端正。
　　　	3.貼損傷膏，服寬筋活血散。
　　　(2)禁忌：若行走過早，使䯒骨斜出，向內歪者，則內踝突出腫大，向外
　　　	 歪者，則外踝突出腫大，須待氣血充足，方可行動。
</pre>
<hr class="分段">
<pre>
主題：補中益氣湯
分類：六、應用諸方
內容：(1)組成：白朮　紅棗　黃耆　升麻　柴胡　黨參　甘草　當歸　陳皮
</pre>
<hr class="分段">
<pre>
主題：補腎和血湯
分類：六、應用諸方
內容：(1)組成:兔絲餅　破故紙　桂枝　白芍　熟地　蘇木末　丹參　川芎　
　　　	紅棗　杞子　紅花　淡蓯蓉　杜仲
</pre>
<hr class="分段">
<pre>
主題：補腎活血湯
分類：六、應用諸方
內容：(1)組成：兔絲子　破故紙　熟地　獨活　歸尾　沒藥　萸肉　枸杞子　
　　　	 紅花　淡蓯蓉　杜仲
</pre>
<hr class="分段">
<pre>
主題：補腎養血湯
分類：六、應用諸方
內容：(1)組成：兔絲餅　破故紙　核桃肉　白芍　熟地　茺蔚子　丹參　當歸　	 萸肉　杞子　紅花　淡蓯蓉　杜仲
</pre>
<hr class="分段">
<pre>
主題：槐花散
分類：六、應用諸方
內容：(1)組成：胡黃連　槐花　銀花　地榆
　　　(2)用法：晒脆為末，空心，燈草湯下三錢。
</pre>
<hr class="分段">
<pre>
主題：端法
分類：四、外治手法
內容：(1)用兩手或用一手，擒住應端之骨，或從下往上端，或從外向內端，或
　　　   直端，或斜端。
　　　(2)骨離住者以手端之，送人其臼，不使歪斜，而骨縫方合，庶愈後無長
　　　   短之患。
</pre>
<hr class="分段">
<pre>
主題：腿骨折兩段證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：腿骨折兩段者。
　　　(2)治法：1.先煎寬筋散（又名代痛散）薰洗，令患者側臥於床，患足拿
　　　	   與無患足齊，貼損傷膏，用布二條，長五寸，寬二寸，裹膏
　　　	   藥上。
　　　	 2.外以紙包杉木板八片，長七寸，又用布三條，與木板和扎齊	
　　　	   緊。
　　　	 3.先進活血止痛散，次投壯筋續骨丹。
</pre>
<hr class="分段">
<pre>
主題：鼻梁骨斷落證治
分類：五、接骨入骱用手巧法
內容：(1)證治：1.鼻梁骨斷者，先捏正斷骨，摻以止血丹。
　　　	 2.&lt;1&gt;如鼻已傷落下者，急趁血熱，蘸髮炭末粘貼原位，不可歪
　　　	   斜，加絹條扎緊，遲則血冷不能粘。&lt;2&gt;服壯筋續骨丹。
　　　	 3.如骨未碎斷，只貼損傷膏，服吉利散。
　　　(2)不治證：骨碎內膜破者，口鼻流血者不治。
</pre>
<hr class="分段">
<pre>
主題：墜斷肋骨證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：登高墜斷肋骨者。
　　　(2)治法：以手拿骨平伏，貼損傷膏，加布扎好，服接骨散。
　　　(3)不治證：如食飽墜傷腸斷者，不治。
</pre>
<hr class="分段">
<pre>
主題：戮傷內臟或大腸證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：戮傷內臟或大腸者，不治。傷口淺直者，易治。
　　　(2)治法：1.血出不止，服止血定痛散。
　　　	 2.傷口深斜者，待流血止，摻金瘡藥，服護風托裏散。
</pre>
<hr class="分段">
<pre>
主題：膝蓋骨傷證治（附：當歸湯）
分類：五、接骨入骱用手巧法
內容：(1)症狀：膝蓋骨，名護膝骨。有傷為兩塊者，或三塊。
　　　(2)治法：1.將兩腳伸直，捏其骨平伏，用薄篾片照膝蓋骨之大小，做一
　　　	   篾圈，套於患上。次以布四條，扣於圈上，連膝彎扎緊。
　　　	 2.先貼損傷膏，服止痛接骨丹，不必換膏藥。
　　　	 3.受傷足放床上，不可下地，半月後，用軟棉放足彎處，逐日
　　　	   墊高，使彎曲如舊，常煮鴨食。
　　　	 4.又恐碎骨，未長好復行損傷，將馬桶墊與床一樣高，以大便
　　　	   不可下，水洗至全好，去篾圈如箍。月餘骨仍兩片者，一生
　　　	   破足，不可治。
　　　	 5.服當歸湯：陳皮、五加皮、生地、紅花、木瓜、牛膝、川斷
　　　	   、骨碎補、當歸、沒藥、乳香。如發熱，加柴胡、桔梗各一
　　　	   錢。發腫，加黃芩。水酒各半煎，空心服。
</pre>
<hr class="分段">
<pre>
主題：膝骱脫出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：膝骱處油盞骨，在膝蓋之處，其骱脫出於上者。
　　　(2)治法：1.使患者仰臥，一人抬起足踝，若出於左，隨左而下，出於右
　　　	   ，隨右而下。醫者緩緩雙手挾擒，上手拿住其膝，下手擒住
　　　	   其足，彎使骱對膝上，手擒膝下，手向上一抬則上。
　　　	 2.貼損傷膏，服壯筋續骨丹。
　　　	 3.膝蓋離位向外側者，則內筋腫脹；向內側者，則筋直起彎腫
　　　	   。看其骨如何斜錯，依法捏拿，復其原位。服補筋藥。
</pre>
<hr class="分段">
<pre>
主題：踢傷小腹證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：踢傷小腹者，傷處作痛，小便閉塞，不能行步，三日可治。
　　　(2)治法：內有瘀血，以行氣活血湯。
　　　(3)不治證：孕婦小腹受足踢者，不治。
</pre>
<hr class="分段">
<pre>
主題：踢傷海底穴證治
分類：五、接骨入骱用手巧法
內容：(1)證治：踢傷海底穴者：
　　　	 1.腫而紅紫，痛不可忍。貼損傷膏，服活血止痛湯，次以吉利
　　　	   散。
　　　	 2.腫而青黑者，身發寒熱，小便不通，氣悶腹脹，陰子或上或
　　　	   下，內有瘀血。貼損傷膏，以行氣活血湯，次進琥珀丸。
　　　	 3.肛門腫痛，二便不通者，發熱食少，坐臥不安。服疏風順氣
　　　	   湯，次投琥珀丸。
　　　	 4.紅腫不消，陣陣作痛，氣喘發咳，或笑或哭，小便濇滯。先
　　　	   以活血止痛湯，次進吉利散，後服藥酒而愈。
　　　	 5.如初受傷昏迷不語者，口出唾涎，喉鼻喘息，面白胸腹氣動
　　　	   ，脈沈細者，可治。先吹牙皂末鼻中取嚏；次以砂仁泡湯，
　　　	   煎吉利散；再投活血止痛湯，貼損傷膏。
</pre>
<hr class="分段">
<pre>
主題：醉飽房勞證治
分類：三、雜證治法
內容：(1)症狀：醉飽房勞者，多元氣不足，肝木克胃土，使胸脘連兩肋作痛。
　　　(2)治法：先投歸原養血湯，次以十全大補湯。
</pre>
<hr class="分段">
<pre>
主題：整骨麻藥
分類：六、應用諸方
內容：(1)組成：生半夏　草烏　川烏　蟾酥　生南星　胡椒
　　　(2)用法：晒脆為末，以燒酒和敷，任刀割接骨，不知痛苦。
</pre>
<hr class="分段">
<pre>
主題：橋梁墻垣壓傷證治
分類：五、接骨入骱用手巧法
內容：(1)證治：橋梁墻垣倒壓，折傷骨節：
　　　	 1.傷頭顱骨碎者，箝去碎骨收口，方無後患。防染破傷風，服
　　　	   護風托裏散，次以接骨散。
　　　	 2.傷胸前背後及五臟者，雖不言不食，殆氣悶於中，投吉利散
　　　	   。身發寒熱，以疏風理氣湯。
　　　	 3.傷兩邊軟肋者，飲食如故，服吉利散。
　　　	 4.傷腰子，過重，不治；輕者貼損傷膏，服補腎和血湯。
　　　(2)不治證：傷兩太陽，昏迷不醒，飲食不入，言語不出者，不治。腦漿
　　　	   出者，不治。
</pre>
<hr class="分段">
<pre>
主題：頸項骨損折證治					
分類：五、接骨入骱用手巧法
內容：(1)症狀：頸項骨難於損折，有登高倒跌，損骨外出者，重者三時死。
　　　(2)治法：1.輕者捏平其骨，相對原筍，貼損傷膏，次以布條連肩背絡之
　　　	   。
　　　	 2.投砂仁泡湯煎吉利散。
</pre>
<hr class="分段">
<pre>
主題：臂骱落出證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：臂骱落出者。
　　　(2)治法：1.以上一手抬住其灣，下一手拿住其脈踝，令其手伸直，拔下
　　　	   遂曲其上，後抬其灣，捏平揍合其攏，內有響聲，使其手曲
　　　	   轉，搭著肩膊，骱可合縫矣。
　　　	 2.貼損傷膏，多以布每頭釘帶四根，裹扎臂骨。復以竹簾照患
　　　	   處大小為度，圍緊布外，使骨縫無參差走脫之患。
　　　	 3.以引經藥煎湯和吉利散。
</pre>
<hr class="分段">
<pre>
主題：還魂湯
分類：六、應用諸方
內容：(1)組成：青葙子　決明子　生地　白芍　當歸　桑白皮　杭菊　黑芝麻
　　　	 茺蔚子　丹參　沙苑子　兔絲子　穀精珠
</pre>
<hr class="分段">
<pre>
主題：斷臂斷膊斷腿斷䯒證治
分類：五、接骨入骱用手巧法
內容：(1)證治:1.凡斷臂與斷膊，斷腿與斷䯒，治分上下，器具照形體變化。
　　　	2.有筋全斷者，則縮於肉裏，無用巧能接之理。
　　　	3.若斷而未全斷者，外敷續筋藥，內服壯筋養血藥。
</pre>
<hr class="分段">
<pre>
主題：歸原養血湯
分類：六、應用諸方
內容：(1)組成：川芎　當歸　白芍　熟地　紅棗　川斷　丹參　杞子　五加皮　	 桂枝　紅花　木瓜
</pre>
<hr class="分段">
<pre>
主題：鎖子骨傷斷證治
分類：五、接骨入骱用手巧法
內容：(1)症狀：缺盆外鎖子骨傷斷者。
　　　(2)治法：1.先拿胸骨將肩頭向內合之，楺摩斷骨，令其復位。加帶掛肩
　　　	   於項，敷定痛散，不可搖動。
　　　	 2.服接骨藥。
</pre>
<hr class="分段">
<pre>
主題：藥酒方
分類：六、應用諸方
內容：(1)主治：治遠年近日跌打損傷。
　　　(2)組成：五加皮　虎骨　三七　淫羊藿　破故紙　杜仲　陳皮　落得打
　　　	 川斷　杞子　骨碎補　木瓜　獨活　當歸　川芎　白芍　熟地
　　　	 海風籐　胡桃肉　羌活　黑棗　紅花　菟絲餅
　　　(3)用法：陳酒十五斤入瓶中，封好口，隔水煮一支香，溫飲。
</pre>
<hr class="分段">
<pre>
主題：護風托裏散
分類：六、應用諸方
內容：(1)組成：當歸　荊芥　川芎　白朮　香附　防風　靈仙　紅棗　陳皮
　　　	 黨參　生耆
</pre>
<hr class="分段">
<pre>
主題：鐵扇散
分類：六、應用諸方
內容：(1)主治：止血如神。
　　　(2)組成：兒茶　陳石灰　降香末　煅龍骨　血竭　老松香　象皮　
　　　	 白芨末
　　　(3)用法：各等分為末，乳至無聲，摻傷口，則血立止，以扇子搧患上，
　　　	 隨結痂而愈。
</pre>
<hr class="分段">
<pre>
主題：疏風理氣活血湯
分類：六、應用諸方
內容：(1)組成：川芎　歸尾　防風　陳皮　羌活　枳　　蘇梗　紅花　桃仁　
　　　	 山羊血
</pre>
<hr class="分段">
<pre>
主題：疏風理氣湯
分類：六、應用諸方
內容：(1)組成：防風　枳殼　荊芥　秦艽　川芎　當歸　陳皮　桔梗　砂仁
　　　	 蘇木末
</pre>
<hr class="分段">
<pre>
主題：疏風順氣湯
分類：六、應用諸方
內容：(1)組成：砂仁　草朴　枳殼　玫瑰花　佩蘭　陳皮　防風　牛蒡子　
　　　	 佛手  桔梗
</pre>
