<header data-type="book">
<h1>形色外診簡摩</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周學海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1894">公元1894年</data></dd></div>
</dl>
</header>
<h2>序</h2>
<p>四診以望居首、以切居末者，醫師臨診之次第，非法之有輕重緩急也。前人每謂切脈為末，三診為本，及其著書立說，又詳於脈而略於三者。明‧李言聞著《四診發明》，無傳本。欲求四診之全書，戛戛乎其不可得。學海初嘗致力脈法，臨診略能測人血氣之寒熱虛實矣，四診未全，尚多隔閡。夫望聞問有在切之先者，必待切以決其真也；有在切之後者，指下之疑又待此以決其真也。三法之與切脈，固互為主輔矣。</p>
<p>三法之中，又望為主而聞問為輔。古人洞見五臟症結，即操此術也。《內經》言之至精且詳，《難經》、《中藏經》、《脈經》、《千金方》、《翼方》所述扁鵲、華佗諸法，亦皆明切適用。自是以後，立說者不過約撮大概，詮釋古義，且不能全。是編也，《內經》三診之文全在，《難經》以下，擇其切要，能補《內經》未備者收之。至於傷寒、溫病之舌法，陶節庵、葉天士兩家為最著，以其所言，皆其所親見而施驗也。杜青碧之《金鏡錄》三十六法，張誕先之《舌鑒》一百二十法，各有專書，無煩摘錄焉。署曰《形色外診簡摩》，以望為三診之本，故特詳也。聞、問事少，附見末篇。將以質世之知者。</p>
<p><u>甲午仲冬　之</u></p>
<h2>卷上</h2>
<h3>形診總義</h3>
<h4>身形內應臟腑部位篇</h4>
<p>（面竅　體部）</p>
<p>五臟者，肺為之蓋，巨肩陷咽，候見其外。心為之主，缺盆為之道，　骨有餘，以候　KT　。肝者主為將，使之候外，欲知堅固，視目大小。脾者主為衛，使之迎糧，視唇舌好惡，以知吉凶。腎者主為外，使之遠聽，視耳好惡，以知其性。六腑者，胃為之海，廣骸大頸張胸，五穀乃容。鼻隧以長，以候大腸。唇濃人中長，以候小腸。目下裹大，其膽乃橫。鼻孔在外，膀胱漏泄。鼻柱中央起，三焦乃約。此所以候六腑者也。上下三等，臟安且良矣。</p>
<p>五臟常內閱於上七竅也，故肺氣通於鼻，肺和則鼻能知臭香矣。心氣通於舌，心和則舌能知五味矣。（五臟別論曰：五氣入鼻，藏於心肺，心肺有病，而鼻為之不利也。）肝氣通於目，肝和則目能辨五色矣。脾氣通於口，脾和則口能知五穀矣。腎氣通於耳，腎和則耳能知五音矣。五臟不和，則六腑不通，六腑不和，則留結為癰。（癰同壅，謂痞滿、關格、腫脹之類，非專指瘡癰也。）</p>
<p>肝開竅於目，目藏精於肝。肝病在頭、在筋。心開竅於耳，耳藏精於心。心病在五臟、在脈。脾開竅於口，口藏精於脾。脾病在舌本、在肉。肺開竅於鼻，鼻藏精於肺。肺病在背、在皮毛。腎開竅於二陰，二陰藏精於腎。腎病在溪、在骨。（上面竅之分應臟腑也。頭、臟、舌、背、溪，以體段言，皮毛、肉，脈、筋、骨，以形層言。）</p>
<p>肺應皮，肺合大腸，大腸者皮其應。心應脈，心合小腸，小腸者脈其應。脾應肉，脾合胃，胃者肉其應。肝應爪，肝合膽，膽者筋其應。腎應骨，腎合三焦、膀胱，三焦、膀胱者腠理毫毛其應。視其外應，以知其五內，即知所病矣。（膀胱言其氣之磅因礡而光大也，又言其體之孤懸無倚而光潔也。爪為筋余，齒為骨余。）</p>
<p>肝生筋，筋生心；心生血，血生脾；脾生肉，肉生肺；肺生皮毛，皮毛生腎；腎生骨髓，髓生肝。心合脈也，其榮色，（面之色也。）其主腎。肺合皮也，其榮毛，其主心。肝合筋也，其榮爪，其主肺。脾合肉也，其榮唇，（生氣通無論曰：其華在唇四白。）其主肝。腎合骨也，其榮發，其主脾。（合言其氣之所應也，榮言其血之所華也。此義生氣通天。臟氣法時二篇最詳，以文繁，故錄此。）</p>
<p>東風生於春，病在肝，俞在頸項。南風生於夏，病在心，俞在胸脅。西風生於秋，病在肺，俞在肩背。</p>
<p>北風生於冬，病在腎，俞在腰股。中央病在脾，俞在脊。（俞，應也，非俞穴也。金匱真言曰：春氣者病在頭，夏氣者病在臟，秋氣者病在肩背，冬氣者病在四肢。診要經終、四時刺逆從義均相類，不復瑣具。）</p>
<p>肝氣之病，內舍　脅，外在關節。心氣之病，內舍膺脅，外在經絡。脾氣之病，內舍心腹，外在肌肉四肢。肺氣之病，內舍膺脅肩背，外在皮毛。腎氣之病，內舍腰脊骨髓，外在溪穀　膝。</p>
<p>背為陽，陽中之陽，心也。背為陽，陽中之陰，肺也。</p>
<p>腹為陰，陰中之陰，腎也。腹為陰，陰中之陽，肝也。腹為陰，陰中之至陰，脾也。</p>
<p>肺心有邪，其氣留於兩肘。肝有邪，其氣留於兩腋。脾有邪，其氣留於兩髀。腎有邪，其氣留於兩　。凡此八墟者，皆機關之室，真氣之所過，血絡之所游，邪氣惡血固不得住留，留之則傷筋絡骨節，機關不得屈伸，故病攣也。（上並出《內經》。）</p>
<p>三焦者，水穀之道路，氣之所終始也。上焦當心下、胃上口，主內而不出，其治在膻中。中焦在胃中脘，主腐熟水穀，其治在臍旁。下焦當膀胱上口，主分別清濁，出而不內，其治在臍下一寸。故曰三焦，其腑在氣街。（其腑在氣街，謂其源在氣街之處，即命門也。）</p>
<p>腑會太倉，臟會季脅，筋會陽陵泉，髓會絕骨，（一曰枕骨。）血會膈俞，（王勛臣血府之說，正與此暗合。）骨會大杼，脈會太淵，氣會三焦外一筋直兩乳內也。熱病在內者，取其會之氣穴也。</p>
<p>（上體部之分應臟腑也。諸會謂其氣之所聚，非謂其所發源也。上並出《難經》。）</p>
<p>按：頭面七竅可望而知，筋骨血脈不可望也。第事理所關，不容缺略。醫者所見謂之望，病者所自見亦何不可謂之望。又況此篇總義者，實賅聞問於其中，不獨文義相連，無可割裂也。</p>
<h4>身形內應臟腑病證篇</h4>
<p>（出《靈樞》）</p>
<p>赤色，小理者心小，粗理者心大。無　KT　（音遏污，一讀曷於，心蔽骨，一名鳩尾。）者心高，　KT小短舉者心下，　KT　長者心下堅，　KT　弱小以薄者心脆，　KT　直下不舉者心端正，　KT　倚一方者心偏傾也。</p>
<p>心小則安，邪弗能傷，易傷以憂。心大則憂不能傷，易傷於邪。心高則滿於肺中，　（音冤，一讀郁，一讀悶。）而善忘，難開以言。心下則臟外，（謂臟體外露於肺下。）易傷於寒，易恐以言。心堅則臟安守固。心脆則善病消癉熱中。心端正則和利難傷。心偏傾則操持不一，無守司也。（司，去聲。）</p>
<p>白色，小理者肺小，粗理者肺大，巨肩反膺陷喉者肺高，合腋張脅者肺下，好肩背濃者肺堅，肩背薄者肺脆，背膺濃者肺端正，脅偏疏者肺偏傾也。</p>
<p>肺小則少飲，不病喘喝；肺大則多飲，善病胸痹喉痹逆氣；肺高則上氣肩息咳：肺下則居賁迫肺，善脅下痛；肺堅則不病咳上氣；肺脆則善病消癉易傷；肺端正則和利難傷；肺偏傾則胸偏痛也。（迫肺似當作迫肝，肝體半在膈下，半在膈上，肺下即逼壓之，故脅下痛。賁，膈也。）</p>
<p>青色，小理者肝小，粗理者肝大，廣胸反　者肝高，合脅兔　者肝下，胸脅好者肝堅，脅骨弱者肝脆，膺腹好相得者肝端正，脅骨偏舉者肝偏傾也。</p>
<p>肝小則臟安，無脅下之病；肝大則逼胃迫咽，迫咽則苦膈中，且脅下痛；肝高則上支賁切脅，（謂拄膈而迫於脅也。）　為息賁：肝下則逼胃，脅下空，（肝下不得逼胃，此胃當指小腸。）脅下空則易受邪；肝堅則臟安難傷；肝脆則善病消癉，易傷：肝端正則和利難傷；肝偏傾則脅下痛也。</p>
<p>黃色，小理者脾小，粗理者脾大，揭唇者脾高，唇下縱者脾下，唇堅者脾堅，唇大而不堅者脾脆，唇上下好者脾端正，唇偏舉者脾偏傾也。</p>
<p>脾小則臟安，難傷於邪也；脾大則苦湊　而痛，（湊，迫也。　，音杪，腰兩旁空軟處。）不能疾行；脾高則　引季脅而痛；脾下則下加於大腸，則臟善受邪；脾堅則臟安難傷；脾脆則善病消癉，易傷：脾端正則和利難傷；脾偏傾則善滿善脹也。（肝居胃後而附脊，脾居胃下而附腹；肝下即迫小腸，脾下即迫大腸也。）</p>
<p>黑色，小理者腎小，粗理者腎大，高耳者腎高，耳後陷者腎下，耳堅者腎堅，耳薄不堅者腎脆，好耳前居牙車者腎端正，耳偏高者腎偏傾也。</p>
<p>腎小則臟安難傷；腎大則善病腰痛，不可以俯仰，易傷於邪。腎高則其背膂痛，不可以俯仰；腎下則腰尻痛，不可以俯仰，為狐疝。腎堅則不病腰背痛；腎脆則善病消癉，易傷。腎端正則和利難傷；腎偏傾則苦腰尻痛也。凡此諸變者，持則安，減則病矣。</p>
<p>五臟皆小者，少病，苦　心，大愁憂；五臟皆大者，緩於事，難使以憂。五臟皆高者，好高舉措；五臟皆下者，好出人下。五臟皆堅者，無病；五臟皆脆者，不離於病。五臟皆端正者，和利得人心；五臟皆偏傾者，邪心而善盜，不可以為人平，反復言語也。（　，音灼。上敘五臟形證。）</p>
<p>肺應皮，皮濃者大腸濃；皮薄者，大腸薄，皮緩，腹裹大者，大腸大而長；皮急者，大腸急而短；皮滑者，大腸直；皮肉不相離者，大腸結也。（肺合大腸，大腸者皮其應。）</p>
<p>心應脈，皮濃者脈濃，脈濃者小腸濃：皮薄者脈薄，脈薄者小腸薄；皮緩者脈緩，脈緩者小腸大而長，皮薄而脈波小者，小腸小而短；諸陽經脈皆多紆屈者，小腸結也。（心合小腸，小腸者脈其應。）</p>
<p>脾應肉，肉　（手臂腿肚濃肉，皆謂之　。）堅大者胃濃，肉　麼者胃薄。（麼，么麼，尖小也。）肉小而麼者胃不堅，肉　不稱身者胃下，胃下者下脘約不利。肉　不堅者胃緩。肉　無小裹累者胃急。（裹音果，作裡誤，肉內堅結而大小成顆者。）肉　多小裹累者胃結，胃結者上脘約不利也。（脾合胃，胃者肉其應。）</p>
<p>肝應爪，爪濃色黃者（色即爪下肉色。）膽濃，爪薄色紅者膽薄。爪堅色青者膽急，爪濡色赤者膽緩。</p>
<p>爪直色白無約者膽直，（約，即爪上橫紋。）爪惡色黑多紋者膽結也。（肝合膽，膽者筋其應。）</p>
<p>腎應骨，密理濃皮者三焦膀胱濃，粗理薄皮者三焦膀胱薄。疏腠理者三焦膀胱緩，皮急而無毫毛者三焦膀胱急。毫毛美而粗者三焦膀胱直，稀毫毛者三焦膀胱結也。（腎合三焦膀胱，三焦膀胱者，腠理毫毛其應。</p>
<p>上敘六腑外形。）</p>
<p>故五臟有小大、高下、堅脆、端正、偏傾，六腑有小大、長短、濃薄、結直、緩急，視其外應以決其五內，即知所病矣。</p>
<h3>形診生形類</h3>
<h4>三人篇</h4>
<p>（出《靈樞》）</p>
<p>人之肥瘦、大小、寒溫，與其氣血多少，各有度也。何者？人有肥、有膏、有肉。　肉堅，皮滿者，肥。</p>
<p>肉不堅，皮緩者，膏。皮肉不相離者，肉。（此言三人之形體也。）膏者，其肉淖，而粗理者身寒，細理者身熱。脂者，其肉堅，細理者熱，粗理者寒。（此言寒熱，是指其人本身氣血之寒熱，非發寒發熱，惡寒惡熱之病也。凡人身皮肉之溫，拊之各有輕重不同，是本於稟賦也。）膏者，多氣而皮縱緩，故能縱腹垂腴。</p>
<p>肉者，身體容大。脂者，其身收小。（此言肥瘦大小。）膏者，多氣，多氣者熱，熱者耐寒。肉者，多血則充形，充形則平。脂者，其血清，氣滑少，故不能大。（此言氣血多少。）此別於眾人者也。眾人者，皮肉脂膏不能相加也。血與氣不能相多，故其形不大不小，自稱其身，命曰眾人。（推論眾人。）故治者，必先別其三形，血之多少，氣之清濁，而後調之，無失常經。是故膏人者縱腹垂腴，肉人者上下容大，脂人者雖脂不能大也。（此概言治法，並補醒三形。）</p>
<h4>陽人陰人篇</h4>
<p>（出《靈樞》）</p>
<p>重陽之人，　高高，言語善疾，舉足善高，心肺之臟氣有餘，陽氣滑盛而揚，故神動而氣先行矣。</p>
<p>重陽之人而神不先行者，何也。曰：此人頗有陰者也。何以知其頗有陰也。曰：多陽者多喜，多陰者多怒，數怒而易解，故曰頗有陰。其陰陽之離合難，故其神不能先行也。（陽人血清而氣滑，故喜怒即發而不留。陰人血濁而氣滯，故神思不能自暢，遂陽陰相激而多怒矣。經曰：陰出之陽則怒。以是知人之性情，皆與氣血相關也。）</p>
<h4>五人篇</h4>
<p>（出《靈樞》）</p>
<p>天地之間，六合之內，不離於五，人亦應之，非徒一陰一陽而已也。故有太陰之人，少陰之人，太陽之人，少陽之人，陰陽和平之人。此五人者，其態不同，其筋骨氣血各不等。</p>
<p>太陰之人，貪而不仁，下齊湛湛，（自下而齊於眾人。湛湛然深藏不露。）好內（音納）。而不出，心和而不發，不務於時，動而後之，（之，往也。先審於心而後行。）此太陰之人也。（太陰太陽，即前篇所謂陰人陽人也。）</p>
<p>少陰之人，小貪而賊心，見人有亡，常若有得，（亡如喪官失財，此所謂幸災樂禍者。）好傷好害，見人有榮，乃反慍怒，心疾（狠也）而無恩，此少陰之人也。</p>
<p>太陽之人，居處於於，好言大事，無能而虛說，志發於四野，舉措罔顧是非，為事好常自用，事雖敗而常無悔，此太陽之人也。</p>
<p>少陽之人，　諦好自貴，有小小官，則高自宜，好為外交，而不內附，此少陽之人也。</p>
<p>陰陽和平之人，居處安靜，無為懼懼，無為欣欣，婉然從物，或與不爭，與時變化，尊則謙謙，譚而不治，是謂至治。（或與，謂人有所與也。譚而不治。謂議明事之義理，而不刻期其效也。上五節敘五人性情。）</p>
<p>古之善用針艾者，視人五態乃治之。（可知敘三人、五人、二十五人諸篇，均為施治之本，非徒托空言而已。）</p>
<p>太陰之人，多陰而無陽，其陰血濁，其衛氣澀，陰陽不和，緩筋而濃皮，不之疾瀉，不能移之。</p>
<p>少陰之人，多陰少陽，小胃而大腸，六腑不調，其陽明脈小，而太陽脈大，必審調之，其血易脫，其氣易敗也。</p>
<p>太陽之人，多陽而少陰，必謹調之，無脫其陰，而瀉其陽，陽重脫者易狂，陰陽皆脫者，暴死不知人也。</p>
<p>少陽之人，多陽少陰，經小而絡大，血在中而氣外，實陰而虛陽，獨瀉其絡脈，則強氣脫而疾，中氣不足，病不起也。（強氣即人身之悍氣，衛外者也，剽悍滑疾見開而出，故瀉絡即外脫而行疾。）</p>
<p>陰陽和平之人，其陰陽之氣和，血脈調，謹診其陰陽，視其邪正，安容儀，審有餘不足，盛則瀉之，虛則補之。（上五節敘五人證治。）</p>
<p>夫五態之人，卒然新會，未知其行也。（行即前敘性情。）何以別之。（別其形狀。）曰：眾人之屬，無如五態之人者，故五五二十五人，而五態之人不與焉。五態之人，尤不合於眾者也。</p>
<p>太陰之人，其狀　然黑色，念然下意，臨臨然長大，　然未僂，此太陰之人也。（未僂，未至行而似伏之甚也。）</p>
<p>少陰之人，其狀清然竊然，固以陰賊，立而躁　，行而似伏，此少陰之人也。（少陰形性之惡，甚於太陰者，以其稟氣更駁也。）</p>
<p>太陽之人，其狀軒軒儲儲，反身折　，此太陽之人也。</p>
<p>少陽之人，其狀立則好仰，行則好搖，其兩臂兩肘，則常出於背，此少陽之人也。</p>
<p>陰陽和平之人，其狀委委然，隨隨然，　然，愉愉然，HTHT　（音旋）然，豆豆然，眾人皆曰君子，此陰陽和平之人也。</p>
<p>（委、隨，貌之謙也。　、愉，容之和也，HT　、豆，視之審也。上五節敘五人形狀。）</p>
<h4>二十五人篇</h4>
<p>二十五人之形，其態不合於眾也，而陰陽之人不與焉。</p>
<p>血氣之所生，別而以候，從外知內。先立五形，金木水火土，別其五色，異其五形之人，而二十五人具矣。</p>
<p>木形之人，比於上角，似於蒼帝，其為人蒼色，小頭，長面，大肩背，直身，小手足，好有才，勞心少力，多憂勞於事。能春夏不能秋冬，秋冬感而病生，足厥陰佗佗然。</p>
<p>太角之人，比於左足少陽，少陽之上遺遺然。</p>
<p>左角（一曰少角。）之人，比於右足少陽，少陽之下隨隨然。</p>
<p>（音　。）角（一曰右角。）之人，比於右足少陽，少陽之上推推然。</p>
<p>判角之人，比於左足少陽，少陽之下括括然。</p>
<p>火形之人，比於上徵，似於赤帝。其為人赤色，廣KT　，脫面，（脫當作銳。）小頭，好肩背髀腹，小手足，行安地，疾心，行搖肩，背肉滿，有氣輕財，少信，多慮，見事明，好顏，急心，不壽暴死。能春夏不能秋冬，秋冬感而病生，手少陰核核然。（疾心即急心，語意重出。或疾心指其心之狠也。）</p>
<p>質徵（一曰太徵。）之人，比於左手太陽，太陽之上肌肌然。</p>
<p>少徵之人，比於右手太陽，太陽之下　然。</p>
<p>右徵之人，比於右手太陽，太陽之上鮫鮫（一作熊熊。）然。</p>
<p>質判之人，比於左手太陽，太陽之下支支頤頤然。</p>
<p>土形之人，比於上宮，似於上古黃帝。其為人黃色，圓面，大頭，美肩背，大腹，美股脛，小手足，多肉，上下相稱，行安地，舉足浮，安心，好利人，不喜權勢，善附人也。能秋冬不能春夏，春夏感而病生，足太陰敦敦然。</p>
<p>太宮之人，比於左足陽明，陽明之上婉婉然。</p>
<p>加宮之人，（一曰眾之人。）比於左足陽明，陽明之下坎坎然。</p>
<p>少宮之人，比於右足陽明，陽明之上樞樞然。</p>
<p>左宮之人，比於右足陽明，陽明之下（一作上，非。）兀兀然。</p>
<p>金形之人，比於上商，似於白帝。其為人白色，方面，小頭，小肩背，小腹，小手足，如骨發踵外，骨輕，身清廉，急心，靜悍，善為吏。能秋冬不能春夏，春夏感而病生，手太陰敦敦然。（如骨發之如，同而，古通用。）</p>
<p>商之人，比於左手陽明，陽明之上廉廉然。</p>
<p>右商之人，比於左手陽明，陽明之下脫脫然。</p>
<p>左商之人，比於右手陽明，陽明之上監監然。</p>
<p>少商之人，比於右手陽明，陽明之下嚴嚴然。</p>
<p>水形之人，比於上羽，似於黑帝。其為人黑色，面不平，大頭，廉頤，小肩，大腹，動手足，發行搖身，下尻長，背延延然，不敬畏，善欺　人，戮死。能秋冬不能春夏，春夏感而病生，足少陰汗汗然。</p>
<p>太羽之人，比於右足太陽，太陽之上頰頰然。</p>
<p>小羽之人，比於左足太陽，太陽之下紆紆然。</p>
<p>眾之為人，（一作加之人。）比於右足太陽，太陽之下潔潔然。</p>
<p>桎之為人，比於左足太陽，太陽之上安安然。</p>
<p>（五正形外，各有四兼形。左右上下，以經絡言。諸然，以形態言。如今之浙人、廣人、齊魯之人、湘湖之人，可一望而辨之者。第左右配合，與五音五味篇異同互見，未詳厥旨。上二十五人形氣。）</p>
<p>是故五形之人，二十五變者，眾之所以相欺者也。（相欺，難辨。）如得其形，不得其色，或形勝色，或色勝形者，至其勝時年加，感則病，行失則憂矣。（感於邪則為病，若行事有失者，必有憂患之禍也。）</p>
<p>形色相得，富貴大樂也。（對上憂字說，其無病不待言矣。）其形色相勝之時年加者，凡年忌，下上之人，（統二十五人言。）大忌常加七歲、十六歲、二十五歲、三十四歲、四十三歲、五十二歲、六十一歲，皆人之大忌，不可不自安也，感則病，行失則憂矣。當此之時，無為奸事，（即行失也。）是為年忌。（上年忌。）</p>
<p>觀此，知人所生病類，常與命相相關通矣。年忌起於七歲，九年一見。今世明九暗九之說，似本於此，此眾人之所同也。其勝時年加，必以本相合逐年運氣求之。如木形金色，是色勝形，而又行金運之年；木形土色，是形勝色，而又行木運之年是也。色勝形者死，形勝色者病。五變篇曰：先立其年，以知其時，時高則起，時下則殆，雖不陷下，當年有沖通，其病必起，是謂因形而生病也。此即相家面部流年氣色之法，謂面部不能端滿者，若流年行至骨高之部即起病，行至骨陷之部必危殆矣。亦有端滿而病者，必其年有沖通也。沖通即勝時年加也，或流年與本命干支相犯也。（上出《靈樞》。）</p>
<p>（出《神相全編》）</p>
<p>眉粗並眼大，城廓更團圓，此相名真水，平生福自然。（水形主圓，得其五圓，氣色不雜，精神不亂，動止寬容，行久而輕也。又曰：水不嫌肥。又曰：水形色黑要帶白，忌黃。又曰：水聲圓急又飄揚。上水形水色水聲。）</p>
<p>欲識火形貌，下闊上頭尖，舉止全無定，頤邊更少髯。</p>
<p>（火形主明，得其五露，氣色不雜，精神不亂，動止敦濃，臥久而安也。又曰：火不嫌尖。又曰：火形色紅，要帶青，忌黑；又曰：火聲焦烈。上火形火色火聲。）</p>
<p>棱棱形瘦骨，凜凜更修長，秀氣生眉眼，須知晚景光。（木形主長，得其五長，氣色不雜，精神不亂，動止溫柔，涉久而清也。又曰：木不嫌瘦，又曰：木形色青，要帶黑，忌白。又曰：水聲高暢。上木形木色木聲。）</p>
<p>部位要中正，三停又帶方，金形人入格，自是有名揚。（金形主方，得其五方，氣色不雜，精神不亂，動止規模，坐久而重也。又曰：金不嫌方。又曰：金形色白，要帶黃，忌紅，又曰：金聲和潤。上金形金色金聲。）</p>
<p>端濃仍深重，安詳若泰山，心謀難測度，信義動人間。（土形主濃，得其五濃，氣色不雜，精神不亂，動止敦龐，處久而靜也。又曰：土不嫌濁。又曰：土形色黃，要帶紅，忌青，又曰：土聲深濃如發瓮中。上土形土色土聲。）</p>
<h4>三陽上下氣血多少形狀篇</h4>
<p>足陽明之上，血氣盛則髯美長，血少氣多則髯短，氣少血多則髯少，血氣皆少則無髯，兩吻多畫。（如宦者相。）</p>
<p>足陽明之下，血氣盛則下毛美長至胸。血多氣少則下毛美短至臍，行則善高舉足，足指少肉，足善寒。血少氣多則肉而善瘃。（瘃者，皴裂。）血氣皆少則無毛，有則稀，枯悴，善痿厥足痹。（痿厥，痿厥並病，後世所稱類中風者是也。）</p>
<p>足少陽之上，氣血盛則通髯美長，（通髯，髯與發通，俗名兜腮。）</p>
<p>血多氣少則通髯美短，血少氣多則少髯，血氣皆少則無髯，感於寒濕則善痹骨痛爪枯也。</p>
<p>足少陽之下，血氣盛則脛毛美長，外踝肥。血多氣少則脛毛美短，外踝皮堅而濃。血少氣多則脛毛少，外踝皮薄而軟。血氣皆少則無毛，外踝瘦無肉。</p>
<p>足太陽之上，血氣盛則美眉，眉有毫毛。（毫，即豪字，毛中獨長出者。）血多氣少則惡眉，面多少理。</p>
<p>（多少言其多也。）血少氣多則面多肉。血氣和則美色。（心主血脈，其華在面，此雖系足太陽，而曰血氣和，則心氣和可知矣。）</p>
<p>足太陽之下，血氣盛則跟肉滿，踵堅。氣少血多則瘦，跟空。血氣皆少則喜轉筋，踵下痛。</p>
<p>美眉者，足太陽之脈血氣多。惡眉者，血氣少。其肥而澤者，血氣有餘。肥而不澤者，氣有餘血不足。瘦而無澤者，血氣俱不足。</p>
<p>手陽明之上，血氣盛則髭美，血少氣多則髭惡，血氣皆少則無髭。</p>
<p>手陽明之下，血氣盛則腋下毛美，手魚肉以溫。血氣皆少則手瘦以寒。</p>
<p>手少陽之上，血氣盛則眉美以長，耳色美。血氣皆少則耳焦惡色。</p>
<p>手少陽之下，血氣盛則手卷多肉以溫，血氣皆少則寒以瘦，氣少血多則瘦以多脈。（脈即絡脈，藍色隱見皮膚下者。）</p>
<p>手太陽之上，血氣盛則口多須，面多肉以平。血氣皆少則面瘦惡色。</p>
<p>手太陽之下，血氣盛則掌肉充滿，血氣皆少則掌瘦以寒。（上指諸經之行頭面者，下指其行手足者。前篇左右上下部位，義即指此。）</p>
<p>審察其形氣有餘不足而調之。按其寸口人迎，切循其經絡之凝澀，結而不通者，此於身皆為痛痹，甚則不行，故凝澀。凝澀者致氣以溫之，血和乃止。其結絡者，脈結血不和，決之乃行。故氣有餘於上者，導而下之。氣不足於上者，推而休之。（休疑。）其稽留不至者，因而迎之。</p>
<p>必明於經隧，乃能持之。寒與熱爭者，導而行之。其菀（即郁字。）陳血不結者，則（因也。馬氏云作側，非。）而予（上聲。）之。必先明知二十五人，則血氣之所在，左右上下，可知逆順矣。（總束上文，末句叫醒大義。上三陽上下氣血多少形狀。）</p>
<p>美眉者太陽多血，通髯極須者少陽多血，美須者陽明多血。然則婦人無須者，無血氣乎。曰：衝脈、任脈，皆起於胞中，上循背裡，為經絡之海。其浮而外者，循腹右上行，會於咽喉，別而絡唇口。血氣盛則充膚熱肉，血獨盛則澹滲皮膚，生毫毛。婦人之生也，有餘於氣，不足於血，以其數脫血也，衝任之脈，不榮唇口，故須不生矣。士人有傷於陰，陰氣絕而不起，（陰氣即陰器，非誤。）陰不用，然其須不去，而宦者獨去，何也？曰：宦者其宗筋傷，其衝脈血瀉不復，皮膚內結，唇口不榮，故須不生矣。其有天宦者，未嘗被傷，不脫於血，然其須不生何也？曰：此天之所不足也，其任沖不盛，宗筋不成，有氣無血，唇口不榮，故須不生矣。（上婦宦無須。）</p>
<p>陽明多血多氣，太陽多血少氣，少陽多氣少血，太陰多血少氣，（一作少血多氣。林億引楊上善《太素》云：太陰與陽明表裡，血氣俱盛，當是多血多氣。）厥陰多血少氣，（一作多氣少血。）少陰多氣少血。</p>
<p>（一作多血少氣。）是故刺陽明出血氣，刺太陽出血惡氣，（惡，去聲。不欲出氣也。）刺少陽出氣惡血，刺太陰出血惡氣，刺厥陰出血惡氣，刺少陰出氣惡血也。（上六經氣血多少。並出《靈樞》。）</p>
<h4>辨皮色不勝四時之風篇</h4>
<p>（出《靈樞》）</p>
<p>春青風，夏陽風，秋涼風，冬寒風。凡此四時之風，其所病各不同形。黃色薄皮弱肉者，不勝春之虛風。白色薄皮弱肉者，不勝夏之虛風。青色薄皮弱肉者，不勝秋之虛風。赤色薄皮弱肉者，不勝冬之虛風也。黑色而皮濃肉堅，固不傷於四時之風。其皮薄而肉不堅色不一者，（色不正黑。）長夏至而有虛風即病矣。其皮濃而肌肉堅者，長夏至而有虛風不病也，必重感於寒，外內皆然乃病。故材木之異也，皮之濃薄，汁之多少，而各不同。木之早花先葉者，遇春霜烈風，則花落而葉萎。久曝大旱，則脆木薄皮者，枝條汁少而葉萎。久陰淫雨，則薄皮多汁者，皮潰而漉。卒風暴起，則剛脆之木枝折杌傷。秋霜疾風，則剛脆之木根搖而葉落。凡此五者，各有所傷，況於人乎。（杌同　。）</p>
<h4>辨壽夭肥瘦勇怯忍痛不忍痛勝毒不勝毒形狀篇</h4>
<p>形有緩急，氣有盛衰，骨有大小，肉有堅脆，皮有濃薄，以立壽夭。故形與氣相任則壽，不相任則夭。</p>
<p>皮與肉相裹則壽，不相裹則夭。血氣經絡勝形則壽，不勝形則夭。故平人而氣勝形者壽。病而形肉脫，氣勝形者死。形勝氣者危矣。何謂形之緩急也？曰：形充而皮肉緩者則壽，形充而皮肉急者則夭，形充而脈堅大者順也。形充而脈小以弱者氣衰，氣衰則危矣。若形充而顴不起者骨小，骨小則夭矣。形充而大肉　堅而有分者肉堅，肉堅則壽矣。（有分，謂有縱紋。即所謂皮肉緩。）形充而大肉無分理不堅者肉脆，肉脆則夭矣。此天之生命，所以立形定氣而視壽夭者也。必明乎此，而後可以臨病患，決死生。故牆基卑高，不及其地者，不滿三十而死。其有因而加病者，不及二十而死也。</p>
<p>人之壽百歲而死者，使道隧以長，基牆高以方，通調榮衛，三部三裡起，骨高肉滿，百歲乃得終也。</p>
<p>故人生十歲，五臟始定，血氣已通，其氣在下，故好走。二十歲，血氣始盛，肌肉方長，故好趨。三十歲，五臟大定，肌肉堅固，血脈盛滿，故好步。四十歲，五臟六腑十二經脈皆大盛以平定，腠理始疏，榮華頹落，發頗斑白，平盛不搖，故好坐。五十歲，肝氣始衰，肝葉始薄，膽汁始減，目始不明。六十歲，心氣始衰，苦憂悲，血氣懈惰，故好臥。七十歲，脾氣虛，皮膚枯。八十歲，肺氣衰，魄離，故言善誤。九十歲，腎氣焦，四臟經脈空虛。百歲，五臟皆虛，神氣皆去，形骸獨居而終矣。其不能終壽而死者，五臟皆不堅，使道不長，空（音孔。）外以張，喘息暴疾，又卑基牆，薄脈少血，其肉不石，（即實字。）數中風寒，血氣虛，脈不通，真邪相攻，亂而相引，故中壽而盡也。</p>
<p>脈出氣口，色見明堂，五色更出，以應五時，五官已辨，闕庭必張，乃立明堂。明堂廣大，蕃蔽見外，方壁高基，引垂見外，五色乃治，平博廣大，壽中百歲，見此者刺之必已。如是之人，血氣有餘，肌肉堅致，故可苦以針矣。五官不辨，闕庭不張，小其明堂，蕃蔽不見，又埤其牆，牆下無基，垂角居外，如是者，雖平常殆，況加疾乎。（上壽夭。）</p>
<p>人之黑白肥瘦小長，（五十以上為老，二十以上為壯，十八以下為少，六歲以下為小。）各有數也。</p>
<p>年質壯大，血氣充盈，膚革堅固，因加以邪，刺此者，深而留之。此肥人也，廣肩腋項，肉薄濃皮而黑色，唇臨臨然，其血黑以濁，其氣澀以遲，其為人也，貪於取與，刺此者，深而留之，多益其數也。</p>
<p>瘦人者，皮薄色少，肉廉廉然，薄唇輕言，其血清氣滑，易脫於氣，易損於血，刺此者，淺而疾之。</p>
<p>刺常人者，視其黑白，各為調之，其端正敦濃者，其血氣和調，刺此者，無失常數也。</p>
<p>刺壯士真骨者，堅肉緩節，監監然。此人重則氣澀血濁，刺此者，深而留之，多益其數。勁則氣滑血清，刺此者，淺而疾之。（重。濃濁也。勁，　捷也。）</p>
<p>嬰兒者，其肉脆，血少氣弱，刺此者，以毫針，淺刺而疾發針，日再可也。（上肥瘦常人壯士嬰兒。）</p>
<p>夫忍痛不忍痛者，皮膚之濃薄，肌肉堅脆緩急之分也。非勇怯之謂也。故勇士之不忍痛者，見難則前，見痛則止。怯士之忍痛者，聞難則恐，遇痛不動。勇士之忍痛者，見難不恐，遇痛不動，怯士之不忍痛者，見難與痛，目轉面盼，恐不能言，失氣驚戰，顏色無定，乍死乍生。夫勇士者，目深以固，長衡（當是沖字。）直揚，三焦理橫，其心端直，其肝大以堅，其膽滿以傍，（平聲，充溢於外。）怒則氣盛而胸張，肝舉而膽橫，　裂而目揚，毛起而面蒼，此勇士之所由然也。怯士者，目大而不減，陰陽相失，三焦理縱，　KT　短而小，肝系緩，其膽不滿而縱，腸胃挺，脅下空，雖方大怒，氣不能滿胸，肝肺雖舉，氣衰復下，故不能久怒，此怯士之所由然也。（上忍痛不忍痛並勇怯。）</p>
<p>凡人之骨強筋弱肉緩皮膚濃者耐痛，其於針石之痛亦然，加以黑色而美骨者耐火　矣。堅肉薄皮者，不耐針石火　之痛也。人之病，同時而傷，或易已或難已者，其身多熱者易已，多寒者難已也。（傷科，氣滑血充者易復，氣滯血少而濕多者每潰爛纏延。）人之勝毒不勝毒者，胃濃色黑大骨及肥者皆勝毒，其瘦而薄胃者，皆不勝毒也。（勝毒者有病，可用大寒大熱及諸毒藥重劑也。上耐痛不耐痛勝毒不勝毒，並出《靈樞》。）</p>
<h4>辨善病風厥消癉寒熱痹積聚善忘善飢不瞑多臥形狀篇</h4>
<p>（出《靈樞》）</p>
<p>人之有常病也，亦因其骨節皮膚腠理之不堅固者，邪之所舍也，故常有病矣。</p>
<p>人之善病風厥漉汗者，肉不堅，腠理疏故也。何以候肉之不堅也？曰，　肉不堅而無分理，理者粗理，粗理而皮不致者腠理疏，此言其渾然者。（渾然，謂未甚異於常人也。）</p>
<p>人之善病消癉者，五臟皆柔弱故也。（五臟脆與五臟脈微小者，皆苦消癉。）何以知五臟之柔弱也？曰：夫柔弱者必有剛強，剛強者多怒，柔者易傷也。（言其性情剛強，五志火盛，臟體柔脆，不勝其灼，故津燥多怒。）此人薄皮膚而目堅固以深者，長沖直揚，其心剛，剛則多怒，怒則氣上逆，胸中蓄積，血氣逆留，寬皮充肌，血脈不行，轉而為熱，熱則消肌膚，故為消癉，此言其人剛暴而肌肉弱者也。</p>
<p>人之善病寒熱者，必其人小骨而弱肉也，何以候骨之大小，肉之堅脆，色之不一也？（上句未及色，蓋脫文。一，純也。）曰：顴骨者骨之本也，顴大則骨大，顴小又骨小，皮膚薄而其肉無　，其臂懦懦然，其地色殆然，不與其天同色，污然獨異，（天，額角。地，頰車。）此其候也。而又臂薄者，其髓不滿。故善病寒熱也。</p>
<p>人之善病痹者，理粗而肉不堅也。痹之高下有處，各視其部。（部，面之色部也。義詳面色篇中。）</p>
<p>人之善病腸中積聚者，皮膚薄而不澤，肉不堅而淖澤也。如此則腸胃惡，惡則邪氣留止積聚乃傷，腸胃之間，寒溫不次。（積聚，有因飲食生冷，胃中血液瘀凝，有因風寒自經絡內襲，日久痰血相裹結。）邪氣稍（漸也。）至，蓄積留止，大聚乃起。（上五條出五變篇。）</p>
<p>人之善忘者，上氣不足，下氣有餘，腸胃實而心肺虛，虛則榮衛久留於下，不以時上，故善忘也。（又曰：氣並於上，亂而善忘。）</p>
<p>人之善飢而不嗜食者，精氣並於脾，熱氣留於胃，胃熱則消穀，穀消則善飢，胃氣逆上，則胃脘寒，（當是實字。）故不嗜食也。</p>
<p>人之病而不得臥者，衛氣不得入於陰，常留於陽，留於陽則陽氣滿，陽氣滿則陽蹺盛，不得入於陰則陰氣虛，故目不瞑矣。</p>
<p>人之病而目不得視者，衛氣留於陰，不得行於陽，留於陰則陰氣盛，陰氣盛則陰蹺滿，不得入於陽則陽氣虛，則目常閉也。</p>
<p>人之多臥者，其人腸胃大而皮膚濕，而分肉不解也。腸胃大則衛氣留久，皮膚濕則分肉不解，其行遲。（濕，痰水也。解，利也。凡人身傷於濕與多痰者，其性皆好臥。）夫衛氣者，晝行於陽，（經也。）夜行於陰，（臟也。）陽氣盡則臥，陰氣盡則寤。故衛氣留久而行遲者，其氣不清，目常欲瞑，故多臥矣。其腸胃小皮膚滑以緩，分肉解，則衛氣留於陽者久，故少瞑也。</p>
<p>（此皆素性然也。）其卒然多臥者，邪氣留於上焦，上焦閉而不通，已食若飲湯，衛氣留久於陰而不行，（亦有因胃實不寐者，所謂胃不和則臥不安也。或食填太陰，或痰飲格於中焦。故凡痰據於陽，令人多臥；痰據於陰，令人不寐。）故卒然多臥矣。（上五條出大惑論。按：《靈樞》口問篇所論十二邪，亦人之常病也，但言榮衛氣血，不及外診之形，故不具錄。）</p>
<p>壯者之氣血盛，其肌肉滑，氣道通，榮衛之行，不失其常，故晝精而夜瞑。老者之氣血衰，其肌肉枯，氣道澀，五臟之氣相搏，其榮氣衰少，而衛氣內伐，故晝不精，夜不瞑也。（出營衛生會篇。）</p>
<h4>辨人身氣血盛衰時日篇</h4>
<p>人與天地相應，日月相參，故雖平居，其腠理開閉緩急，故常有時也。月滿，則海水西盛，人氣血精，肌肉充，皮膚致，毛髮堅，腠理　，煙垢著。當是之時，雖遇賊風，其入淺不深。月郭空，則海水東盛，人氣血虛，衛氣去，形獨居，肌肉減，皮膚縱，腠理開，毛髮殘，　理薄，（　同焦。）煙垢落。</p>
<p>當是之時，遇賊風，則其入深，其病卒暴。故得三虛者，其死暴疾，得三實者，邪不能傷人也。乘年之衰，（本命受流年剋制。）逢月之空，（月魄。）失時之和，（寒溫非時。）是為三虛；逢年之盛，遇月之滿，得時之和，是為三實。（上《靈樞》。）</p>
<p>天溫日明，則人血淖液而衛氣浮，故血易瀉，氣易行。天寒日陰，則人血凝泣而衛氣沉。月始生，則血氣始精，衛氣始行。月郭滿，則血氣實，肌肉堅。月郭空，則肌肉減，經絡虛，衛氣去，形獨居。是以天寒無刺，天溫無疑，（行之無忌。）月生無瀉，月滿無補，月郭空無治，是謂得時而調之。</p>
<p>陽氣者，一日而主外，（日，言晝也。）平旦人氣生，日中而陽氣隆，日西而陽氣已虛，氣門乃閉，是故暮而收拒，無擾筋骨，無見霧露，反此三時，形乃困薄。（上《素問》。薄，迫也，削也。）</p>
<p>氣陽而應日，血陰而應月。故暑則氣瀉，寒則氣斂，日中則氣壯，日下則氣衰。所謂日中得病夜半愈，夜半得病日中愈者，陰陽乘除故也。月生人血漸盛，月死人血漸減。凡病在血分及失血諸證，有血盛邪無所容而病退者，有血減邪失所附而病亦退者。若夫精神之復，必在生明之候矣。故仲景於瘧疾曰：以月一日發，當十五日愈。設不瘥，當月盡解。瘧為衛邪入榮之病，故以晦朔決瘥劇之期也。昔嘗患暑下血，以月滿得病，血止後，神明不復，至次月朔日，頓見爽朗矣。世俗謂久病以朔望病勢增損定吉凶，豈誣也哉。</p>
<p>經脈血氣，似於形診無關。《靈樞》曰：營氣之病也，血上下行。東垣謂：血上下行者，面部乍肥乍瘦也。血隨氣升，即面　而似肥。血隨氣降，即面消而似瘦。元氣不足之人，常有此象。又曰：營氣霈然者，病在血脈。是邪氣激其血脈，光澤浮越於面部也。觀此，豈真無關形診耶。</p>
<h3>形診病形類</h3>
<h4>五臟病證總例篇</h4>
<p>諸風掉眩皆屬於肝，諸寒收引皆屬於腎，諸氣　郁皆屬於肺，諸濕腫滿皆屬於脾，諸熱瞀螈皆屬於火，諸痛癢瘡皆屬於心，諸厥固泄皆屬於下，諸痿喘嘔皆屬於上，諸禁鼓栗如喪神守皆屬於火，諸痙項強皆屬於濕，諸逆衝上皆屬於火，諸脹腹大皆屬於熱，諸躁狂越皆屬於火，諸病有聲鼓之如鼓皆屬於熱，諸病　腫疼酸驚駭皆屬於火，諸轉反戾水液混濁皆屬於熱，諸病水液澄澈清冷皆屬於寒，諸嘔吐酸暴注下迫皆屬於熱。故大要曰：謹守病機，各司其屬，有者求之，無者求之，盛者責之，虛者責之，必先五勝，（五行之勝，即六氣之勝復也。）疏其氣血，令其調達，而致和平，此之謂也。</p>
<p>東方生風，風生木，木生酸，酸生肝，肝生筋，筋生心。（其在天為玄，在人為道，在地為化。化生五味，道生智，玄生神，化生氣。）神在天為風，在地為木，在體為筋，在氣為柔，在臟為肝。其性為暄，其德為和，其用為動，其色為蒼，其化為榮，其蟲毛，其政為散，其令宣發，其變摧拉，其眚為隕，其味為酸，其志為怒。怒傷肝，悲勝怒，風傷肝，燥勝風，酸傷筋，辛勝酸。（陰陽應象有在音為角，在聲為呼，在變動為握，在竅為目。）</p>
<p>南方生熱，熱生火，火生苦，苦生心，心生血，血生脾。其在天為熱，在地為火，在體為脈，在氣為息，在臟為心。其性為暑，其德為顯，其用為躁，其色為赤，其化為茂，其蟲羽，其政為明，其令鬱蒸，其變炎爍，其眚燔　，其味為苦，其志為喜。喜傷心，恐勝喜，熱傷氣，寒勝熱，苦傷氣，咸勝苦。（陰陽應象有在音為徵，在聲為笑，在變動為憂，在竅為舌。）</p>
<p>中央生濕，濕生土，土生甘，甘生脾，脾生肉，肉生肺。其在天為濕，在地為土，在體為肉，在氣為充，在臟為脾。其性靜兼，其德為濡，其用為化，其色為黃，其化為盈，其蟲，其政為謐，其令云雨，其變動注，其眚淫潰，其味為甘，其志為思。思傷脾，怒勝思，濕傷肉，風勝濕，甘傷脾，酸勝甘。（陰陽應象有在音為宮，在聲為歌，在變動為噦，在竅為口。）</p>
<p>西方生燥，燥生金，金生辛，辛生肺，肺生皮毛，皮毛生腎。其在天為燥，在地為金，在體為皮毛，在氣為成，在臟為肺。其性為涼，其德為清，其用為固，其色為白，其化為斂，其蟲介，其政為勁，其令霧露，其變肅殺，其眚蒼落，其味為辛，其志為憂。憂傷肺，喜勝憂，熱傷皮毛，寒勝熱，辛傷皮毛，苦勝辛。（陰陽應象有在音為商，在聲為哭，在變動為咳，在竅為鼻。）</p>
<p>北方生寒，寒生水，水生咸，咸生腎，腎生骨髓，髓生肝。其在天為寒，在地為水，在體為骨，在氣為堅，在臟為腎。其性為凜。其德為寒，其用為（闕），其色為黑，其化為肅，其蟲鱗，其政為靜，其令（本闕），其變凝冽，其眚冰雹，其味為咸，其志為恐。恐傷腎，思勝恐，寒傷血，燥勝寒，咸傷血，甘勝咸。（陰陽應象有在音為羽，在聲為呻，在變動為栗，在竅為耳。又按：以例推之，中央熱傷皮毛，寒勝熱，當作燥傷皮毛，熱勝燥。北方寒傷血，燥勝寒，當作寒傷骨，濕勝寒。蓋濕熱二氣相合，熱勝燥，是熱而濕也。濕勝寒，是濕而熱也。此五節字字精切，果能參透，萬病機括，無不貫澈。上《素問》。）</p>
<p>假令得肝脈，其外證，善潔，面青，善怒。其內證，臍左有動氣，按之牢若痛。其病，四肢滿閉，淋溲便難，轉筋。有是者肝也，無是者非也。（滿閉，即滿痹也。舊以閉淋二字句，誤。）</p>
<p>假令得心脈，其外證，面赤，口乾，喜笑。其內證，臍上有動氣，按之牢若痛。其病，煩心，心痛，掌中熱而　。有是者心也，無是者非也。</p>
<p>假令得脾脈，其外證，面黃，善噫，善思，善味。其內證，當臍有動氣，按之牢若痛。其病，腹脹滿，食不消，體重節痛，怠墮嗜臥，四肢不收。有是者脾也，無是者非也。</p>
<p>假令得肺脈，其外證，面白，善嚏，悲愁不樂，欲哭。其內證，臍右有動氣，按之牢若痛。其病，喘咳，洒淅寒熱。有是者肺也，無是者非也。</p>
<p>假令得腎脈，其外證，面黑，善恐欠。其內證，臍下有動氣，按之牢若痛。其病，逆氣，小腹急痛，泄而下重，足脛寒而逆。有是者腎也，無是者非也。（上《難經》。）</p>
<p>（出《難經》）</p>
<p>凡病從前來者為實邪，從後來者為虛邪，從所不勝來者為賊邪，從所勝來者為微邪，自病為正邪。假令心病，中風得之為虛邪，傷暑得之為正邪，飲食勞倦得之為實邪，傷寒得之為微邪，中濕得之為賊邪。</p>
<p>假令心病，何以知中風得之。然其色當赤。何以言之。肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑。肝為心邪，故知當赤色也。其病，身熱，脅下滿痛，其脈浮大而弦。</p>
<p>何以知傷暑得之。然當惡臭。何以言之。心主臭，自入為焦臭，入脾為香臭，入肝為臊臭，入腎為腐臭，入肺為腥臭。故知心病，傷暑得之，當惡臭也。其病，身熱而煩，心痛，其脈浮大而散。</p>
<p>何以知飲食勞倦得之。然當喜苦味也。虛為不欲食，實為欲食。何以言之。脾主味，入肝為酸，入心為苦，入肺為辛，入腎為咸，自入為甘。故知脾邪入心，當喜苦味也。其病，身熱，而體重嗜臥，四肢不收，其脈浮大而緩。（喜苦味，非心喜之，謂口中常患苦也。）</p>
<p>何以知傷寒得之。然當譫言妄語。何以言之。肺主聲，入肝為呼，入心為言，入腎為呻，入肺為哭。故知肺邪入心，為譫言妄語也。其病，身熱，洒洒惡寒，甚則喘咳，其脈浮大而澀。（寒本腎邪，此以為肺，必兼燥也。譫妄脈澀，皆出於燥。）</p>
<p>何以知中濕得之。然當喜汗出不可止。何以言之。腎主液，入肝為泣，入心為汗，入脾為涎，入肺為涕，自入為唾。故知腎邪入心，為汗不可止也。其病，身熱，小腹痛，足脛寒而逆，其脈沉濡而大。</p>
<p>（出《素問》）</p>
<p>風勝則動，熱勝則腫，燥勝則干，寒勝則浮，濕勝則濡泄，甚則水閉　腫。</p>
<p>厥陰所至，為裡急，為支痛，（支柱妨也。）為　戾，為脅痛嘔泄。（所至，謂主令也。後同。）</p>
<p>少陰所至，為瘍胗身熱，為驚惑、惡寒戰栗、譫妄，為悲妄、衄蔑，為語笑。</p>
<p>太陰所至，為積飲痞隔，為驚惑蓄滿，為中滿，霍亂吐下，為重，　腫。（重，體重也，如怠惰四肢不舉，濕勝則緩故也。）</p>
<p>少陽所至，為嚏嘔，為瘡瘍，為驚躁瞀昧暴病，（即暴痛也。）為喉痹、耳鳴、嘔涌，為暴注、　螈、暴死。</p>
<p>陽明所至，為浮虛，為鼽。尻陰股膝髀　足病，（即痛字。）</p>
<p>為皴揭，為鼽嚏。</p>
<p>太陽所至，為屈伸不利，為腰痛，為寢汗，為流泄禁止。</p>
<h4>尺膚滑澀肘臂掌臍寒熱決病篇</h4>
<p>（出《靈樞》）</p>
<p>審其尺之緩急大小滑澀，肉之堅脆，而病形定矣。</p>
<p>視人之目窠上微癰，（一作擁、雍。）如新臥起狀，其頸脈動，時咳，按起手足上，　而不起者，風水膚脹也。（水脹篇：按其腹，隨手而起，如裹水之狀者，水也；　而不起，腹色不變者，膚脹也；腹筋起者，臌脹也。）</p>
<p>尺膚滑以淖澤者，風也，尺肉弱者，解　，（尺脈緩澀，謂之解　。）安臥脫肉者，寒熱不治。</p>
<p>尺膚滑而澤脂者，風也，尺膚澀者，風痹也；（面部闕中，色以薄澤為風，沖濁為痹。）尺膚粗如枯魚之鱗者，水　飲也，尺膚熱甚，脈盛躁者，病溫也，其脈盛而滑者，汗且出也。（人一呼脈三動，一吸脈三動，而躁，尺熱，曰病溫；尺不熱，脈滑，曰病風；脈澀，曰痹。）</p>
<p>尺膚寒，其脈小者，泄，少氣。（尺寒脈細，謂之後泄。）</p>
<p>尺膚炬然，（《脈經》作　然，下並同。）先熱後寒者，寒熱也；尺膚先寒，久持之而熱者，亦寒熱也。（寒熱，瘧之類也。）</p>
<p>尺澀脈滑，謂之多汗。（滑者陰氣有餘，為多汗而身寒。）脈粗尺常熱者，謂之熱中。（脈粗大者，陰不足，陽有餘，為熱中也。）</p>
<p>肘所獨熱者，腰以上熱。手所獨熱者，腰以下熱，肘前獨熱者，膺前熱。肘後獨熱者，肩背熱。</p>
<p>臂中獨熱者，腰腹熱。肘後粗以下三四寸熱者，腸中有蟲。掌中熱者，腹中熱。</p>
<p>（《難經》以掌中熱而　，為心病。）掌中寒者，腹中寒。尺炬然熱，人迎大者，當奪血。（人迎指喉脈言，謂此象將必奪血也。當作嘗，非。）尺堅大，脈小甚，少氣，色白，　有加，立死。</p>
<p>胃中熱，則消穀，令人懸心善飢。臍以上皮熱，腸中熱，則出黃如糜。臍以下皮寒，（當作熱。）胃中寒，則腹脹。腸中寒，則腸鳴飧泄。胃中寒，腸中熱，則脹而且泄。胃中熱，腸中寒，則疾飢，小腹痛脹。</p>
<h4>百病頭身手足寒熱順逆死生篇</h4>
<p>寒氣暴上，（因寒而氣上暴喘也。）脈滿而實，何如。曰：實而滑則生，實而逆則死。脈實滿，手足寒，頭熱，何如？曰：春秋則生，冬夏則死。脈浮而澀，澀而身有熱者死。其形盡滿，（身面俱腫。）何如？曰：其形盡滿者，脈急大堅，尺澀而不應也。如是者，從則生，逆則死。所謂從者，手足溫也。所謂逆者，手足寒也。（上喘滿　腫。）</p>
<p>腸　便血，何如？曰：身熱則死，寒則生。脈懸絕（此專指懸絕小也，不言小者，對下文滑大而可知也。）則死，滑大則生。腸　下白沫，何如？曰：脈沉則生，浮則死。腸　，身不熱，脈不懸絕，何如？曰：脈滑大者生，懸澀者死，以臟期之。</p>
<p>泄及便膿血諸過者切之，澀者陽氣有餘也，滑者陰氣有餘也。陽氣有餘為身熱無汗，陰氣有餘為多汗身寒，陰陽俱有餘則無汗而寒。（此發明滑澀寒熱之義也。）</p>
<p>腎脈小搏沉為腸　下血，血溫身熱者死。（《素問》。）</p>
<p>下利，脈大者，為未止。脈微弱數者，為欲自止，雖發熱不死。少陰病，吐利，手足不逆冷反發熱者，不死。脈不至者，灸少陰七壯，脈還，手足溫者生，不者死。下利，惡寒而蜷臥，手足溫者可治。逆冷者死。（身熱有不死者，其熱在初起為外感，在日久為胃中濕熱，非陰虛血竭孤陽飛越之躁熱。上腸　下利。仲景。）</p>
<p>脈至如搏，血衄，身熱者死。脈來懸鉤浮，為常脈。（《素問》。）</p>
<p>吐血，咳逆上氣，其脈數，而有（一作身。）熱，不得臥者死。（此虛勞敗候，自古無治法矣。上衄血吐血。仲景。）</p>
<p>乳子中風熱，喘鳴肩息者，脈實大也。緩則生，急則死。乳子而病熱，脈懸小者，手足溫則生，寒則死。（上乳子病風熱。與常人不同者，乳子則陰血必虛，而陽氣亦大耗也。）</p>
<p>陰在內，陽之守也。陽在外，陰之使也。陽勝則身熱，腠理閉，喘粗為之俯仰，汗不出而熱，齒干以煩　，腹滿死，能冬不能夏。陰勝則生寒，汗出，身常清，數栗而寒，寒則厥，厥則腹滿死，能夏不能冬。（上虛勞之偏陽偏陰者。俱以腹滿為死者，上損下損，過脾皆不治也。《素問》。）</p>
<p>內傷（傷於七情，陰血虛耗。）及勞役飲食飢飽不節者，病則手心熱，手背不熱。（掌中熱而　為心病。）外傷風寒者，病則手背熱盛，過於手心也。（上東垣《內外傷辨》手。）</p>
<p>凡病初起，手足俱冷，為陰寒。手足常畏冷，為陽虛。若足冷手不冷，身體發熱，頭或痛或不痛者，有夾陰，有內傷陽虛，亦有濕溫病。足冷手溫，多汗妄言，此痰氣結於中焦，陽氣不得下通也。若手冷而足熱如火者，此陰衰於下，陽衰於上，三焦痞隔之象也。亦有因脾胃濕熱鬱盛，而肺虛濁氣下流者，當有軟弱之候。若加感寒濕，當見赤腫，即香港腳是也。（石頑。）</p>
<h4>形氣有餘不足篇</h4>
<p>寒傷形，熱傷氣。氣傷痛，形傷腫。故先痛而後腫者，氣傷形；先腫而後痛者，形傷氣也。（《素問》。）</p>
<p>病在陽者命曰風，在陰者命曰痹，陰陽俱病命曰風痹。病有形而不痛者，陽之類也。無形而痛者，陰之類也。（陰痹者，按之不可得。）無形而痛者，其陽完而陰傷之也，急治其陰，無攻其陽。有形而不痛者，其陰完而陽傷之也，急治其陽，無攻其陰。陰陽俱動，乍有形，乍無形，加以煩心，命曰陰勝其陽，此謂不表不裡，其形不久。（《靈樞》。）</p>
<p>形盛脈細，少氣不足以息者危。形瘦脈大，胸中多氣者死，形氣相得者生。（平人氣勝形者壽。病而形肉脫，氣勝形者死，形勝氣者危。）目眶內陷者死。皮膚著（入聲，枯也。）者死。脫肉，身不去者死。形肉已脫，九候雖調，猶死。若夫急虛身中，譬如墮溺，不可為期，其形肉雖不脫，猶死也。（病而氣勝形者，喘息低昂，抬肩撼胸。）</p>
<p>形弱氣虛死。形氣有餘，脈氣不足死。脈氣有餘，形氣不足生。</p>
<p>氣盛身寒，（惡寒。）得之傷寒。氣虛身熱，（惡熱。）得之傷暑。穀入多而氣少者，得之有所脫血，濕居下也。</p>
<p>穀入少而氣多者，邪在胃及與肺也。脈小血多者，飲中熱也。脈大血少者，脈有風氣，水漿不入也。（《素問》。）</p>
<p>形氣不足，病氣有餘，是邪勝也，急當瀉之。形氣有餘。病氣不足，急當補之。形氣不足，病氣不足，此陰陽俱不足也。不可刺之，刺之重不足，則陰陽俱竭，血氣皆盡，五臟空虛，筋骨髓枯，老者滅絕，壯者不復矣。形氣有餘，病氣有餘，此陰陽俱有餘也。急瀉其邪，調其虛實。李東垣曰：病來潮作之時，病氣精神增添者，是為病氣有餘，乃邪氣勝也，急瀉之。病來潮作之時，神氣困弱者，為病氣不足，乃真氣不足也，急補之。不問形氣有餘不足，只從病氣上分別補瀉。形謂皮肉筋骨血脈也，氣謂口鼻氣息也。（東垣釋《內經》，出《內外傷辨》。）</p>
<p>榮之生病也，寒熱少氣，血上下行。衛之生病也，氣通，（當是沖痛。）時來時去，怫愾賁響，風寒客於腸胃之外。寒痹之為病也，留而不去，時痛而皮不仁。（寒痹有椒薑桂心醇酒熨法。）</p>
<p>榮氣虛則不仁，衛氣虛則不用，榮衛俱虛則不仁，且不用，肉如故也，人身與志不相有，曰死。（衛虛不用，故治偏廢，重用　防。）</p>
<h4>諸病以肥瘦決難治易治篇</h4>
<p>脈一來而久住者，宿病在心主中治。脈二來而久住者，病在肝支中治。脈三來而久住者，病在脾下中治。</p>
<p>脈四來而久住者，病在腎間中治。脈五來而久住者，病在肺支中治。五脈病，虛羸人得此者死。所以然者，藥不得而治，針不得而及。盛人可治，氣全故也。（《脈經》。）</p>
<p>曹山跗，病肺消癉，加寒熱，不治。所以然者，其人尸奪，尸奪者形弊，形弊者不當關灸　石及飲毒藥也。</p>
<p>齊丞相舍人奴傷脾，法當至春死，乃至四月泄血死者，診其人時愈順，愈順者人尚肥也。奴之病得之流汗數出，炙於火而以出，見大風也。（原文，一愈順及一時。又安穀者過期，不安穀者不及期。上倉公傳。）</p>
<p>《續名醫類案》載：白云集萬　家貧，右臂痿廢。一旦遇人謂之曰：汝少饒今澀，怒盛於肝，火起於臟也。因捫右臂曰：幸尚瘦，可治也。武夷茶，澗水飲之，久自愈。合前諸論案，若不相合者。蓋嘗思之，肢臂痿廢者，正氣不至其處，則喜其瘦，為邪氣亦所不居，充其正氣而可復也。虛損發於五臟，見於周身，則喜其肥，為津液尚未銷盡，扶其正氣而可復也。然肥瘦亦須不失常度，若瘦如枯柴，肥如腐尸，豈可為哉。</p>
<p>凡患香港腳諸風，其人本黑瘦者易治，肥大肉濃赤白者難愈。黑人耐風濕，赤白不耐風濕也。瘦人肉硬，肥人肉軟，肉軟則受疾至深矣。（《千金方》。）</p>
<p>此論其人之本肥本瘦也，故與上文因病變肥變瘦者不同，肥人肉淖理疏，邪氣易於深入，而痰多氣滯，又難於出，故難治也。凡癰疽痿痹者，俱當依此例診之。</p>
<p>肥人多中風，以形濃氣虛難以周流，氣滯痰生，痰積生火，故暴厥也。瘦人陰虛，血液衰少，相火易亢，故多勞嗽。張石頑嘗謂有人年盛體豐，冬時腰痛，不能轉側，怯然少氣，足膝常冷。與腎氣丸不應，反轉寒熱喘滿者，肥人多濕。脈沉者，濕遏氣脈也。腰痛不能轉側者，濕傷經絡也。怯然少氣者，濕干肺胃，氣不舒也。足膝常冷者，陽氣不能四達也。法當散氣行血，以助流動，而反與滋膩養榮，宜其增劇也。</p>
<h4>骨槁肉陷篇</h4>
<p>大骨枯槁，大肉陷下，胸中氣滿，喘息不便，其氣動形，期六月死。真臟脈見，予之期日。（肺絕。）</p>
<p>大骨枯槁，大肉陷下，胸中氣滿，喘息不便，內痛引肩項，期一月死。真臟見，乃予之期日。（心絕。）</p>
<p>大骨枯槁，大肉陷下，胸中氣滿，喘息不便，內痛引肩項，身熱，脫肉破　，真臟見，十日（原作月，非。）</p>
<p>之內死。（脾絕。）</p>
<p>大骨枯槁，大肉陷下，肩髓內消，動作益衰，真臟未見，期一歲。見其真臟，乃予之期日。（腎絕。肩髓之肩，疑是骨字之訛。）</p>
<p>大骨枯槁，大肉陷下，胸中氣滿，腹內痛，心中不便，肩項（肩項上似當有引字。）身熱，破　脫肉，目眶陷，真臟見，目不見人，立死。其見人者，至其所不勝之時則死。（肝絕。）</p>
<p>急虛身中，卒至五臟閉絕，脈道不通，氣不往來，譬於墮溺，不可為期。其脈絕不來，若一息五六至，其形肉雖不脫，真臟雖不見，猶死也。（急有虛邪而身中之，猝令五臟氣閉，如墮溺不可期也。脈法：再動一至，故一息五六至者，十動以上也。林億以為誤文，疏矣。上《素問》。）</p>
<p>一呼三至，至一呼六至者，（此一動一至之例也。）此至之脈也。一呼一至，至四呼一至者，此損之脈也。至脈從下上，損脈從上下。（上下即內外也。吳師朗謂虛損有外感內傷兩大端，即此義。）一損損於皮毛，皮聚而毛落。二損損於血脈，血脈虛少，不能榮於五臟六腑也。三損損於肌肉，肌肉消瘦，飲食不為肌膚。四損損於筋，筋緩不能自收持。五損損於骨，骨痿不能起於床。反此者，至之為病也。</p>
<p>從上下者，骨痿不能起於床者死。從下上者，皮聚而毛落者死。（《靈樞》本臟篇敘五臟內傷，均以毛悴色夭為死證，即此義。）損其肺者益其氣，損其心者調其榮衛，損其脾者調其飲食，適其寒溫，損其肝者緩其中，損其腎者益其精。（《難經》。）</p>
<h4>診大肉消長捷法篇</h4>
<p>病患大肉已落，為不可救藥，蓋以周身肌肉，瘦削殆盡也。余每以兩手大指次指後，驗大肉之落與不落，以斷病之生死，百不失一。病患雖骨瘦如柴，驗其大指次指之後，有肉隆起者，病縱重可醫。若他處肌肉尚豐，驗其大指次指之後，無肉隆起，而反見平陷者，病即不治矣。周慎齋三書云：久病形瘦，若長肌肉，須從內　眼下胞長起，以此屬陽明胃，胃主肌肉故也。此言久瘦漸復之機也，不可不知。（趙晴初。）</p>
<p>目眶為足陽明所系，極與大肉相關。惟下利，專泄胃氣，其目眶雖陷，而面色神光未改者，不足為慮。</p>
<p>若壯年無病，目眶忽陷，久而不復；咳嗽帶紅，而目眶常陷；諸病飲食倍增，身面加肥，而目眶獨陷，皆脾真暗敗之先征。即面色神光未改，且覺難於挽回。補救及時，方藥針對，僅可僥幸百一。若加見山根黯慘，兩角無光，短期速矣。再瘦人與高年，目眶雖陷而無慮者，蓋陷之形有不同也。胞皮寬縱，眶骨不至削如鋒刃者，是乃常見之事。若胞皮吸入骨裡凹成深坑，得不謂之非常之變乎。</p>
<h4>病深而形色毛髮有不變者篇</h4>
<p>營氣霈然者，病在血脈。（是邪氣激其血脈，光澤浮越於外也。邪氣者，濕熱也。）</p>
<p>五色精微象見矣，其壽不久也。（是五臟精華全越於外也。前為邪盛，此為真漓。故曰色明不粗沉夭者，為病甚。）</p>
<p>嘗貴後賤，雖不中邪，病從內生，名曰脫營。嘗富後貧，名曰失精。五氣流連，病有所並。不在臟腑，不變軀形，身體日減，氣虛無精，病深無氣，洒洒然時驚。</p>
<p>病深者，以其外耗於衛，內奪於榮也。（脫營失精，精氣外浮，其內愈竭，而毛髮面色愈美，此為病在心，心華在面，精氣並於心故也。所謂並者，虛而相並也。故凡坐傷於憂愁思慮者，即肌肉消瘦，肢節酸軟，而毛髮面色自美也。凡男女愛慕，功名抑郁者，多有此候。故《脈經》曰，憂恚思慮，心氣內索；面色反好，急求棺槨。上《素問》。）</p>
<p>女子豎，病傷脾，在死法中。而視其顏色不變，不以為意，至春果嘔血死。其病得之流汗。流汗者同法，病內重，毛髮面色澤，脈不衰，此關內之病也。（流汗者，自汗也。內關之病，不自知其所痛，心慧然若無苦，若見一病，即不及救。）</p>
<p>寒薄吾蟯瘕，腹大，上膚黃粗，循之戚戚（音瑟。）然。飲以芫花一撮，出蟯可數升，病已，三十日如故。病得之於寒濕，寒濕氣菀篤不發，化為蟲矣。所以知然者，切其脈，循其尺，其尺索刺粗，而毛髮奉美，（奉即　字，茂也。原注當作秦，非。）是蟲氣也。其色澤者，中臟無邪氣及重病也。（前案病內重而毛髮色澤，此臟無重病而亦然者，何也。讀者宜深思其故。上倉公傳。）</p>
<p>面色不變，肌膚日瘦，外如無病，內實虛虧，俗名桃花疰。其證必蒸熱咳嗽，或多汗，或無汗，或多痰，或無痰，或經閉，或泄精，或吐血，或衄血，或善食，或泄瀉。此為陰火煎熬之證，男女婚嫁過時及少寡者多有之。以陰火既乘陽位，消爍陽分之津液，而陰分津液亦隨氣而升，竭力以上供其消爍，故肢體日削，而面色愈加鮮澤也。</p>
<p>按：陰陽津液之說未瑩。面色屬心，心華於面，心神外馳，不能內守，是外有所慕，精神馳騖，故心之精華，全浮於面，與憂菀於內者迥別。倉公前案流汗，汗為心液，亦與心精外越之義符合，後案蟲氣，是正氣未傷，而濕熱內盛，化生蟯蟲，胃中轉多一番生氣，故上蒸頭面而毛髮奉美也。若至蟲能飲血嚙腸，則亦必漸變枯索矣。</p>
<p>傳尸疰者，是惡蟲嚙人臟腑，其人沉沉嘿嘿，不知所苦，而無處不苦，經年累月，漸就羸瘦。其證蒸熱，咳嗽不止，腰背酸痛，兩目不明，四肢無力，或面色脫白，或兩頰時紅，常懷忿怒，夜夢奇怪，或與鬼交，最易傳染，甚至滅門。（此面時紅，陽浮無根也，非蟲氣矣。上張石頑《醫通》。）</p>
<h4>百病虛實順逆篇</h4>
<p>邪氣盛則實，精氣奪則虛。五實死，五虛死。脈盛，皮熱，腹脹，前後不通，悶瞀，此謂五實；脈細，皮寒，氣少，泄利前後，飲食不入，此謂五虛。其時有生者，何也？曰：漿粥入胃，泄注止，則虛者活；身汗，得後利，則實者活。（何以得粥入泄止，何以得汗與利，是必有望於醫者。）</p>
<p>氣血以並，陰陽相傾，氣亂於衛，血逆於經，血氣離居，一實一虛。</p>
<p>血並於陰，氣並於陽，故為驚狂。（陰不勝其陽，脈流薄疾，並乃狂。三陽積並，發為驚狂。邪入於陽，重陽則狂，諸文皆指陽氣噴激也。）</p>
<p>血並於陽，氣並於陰，乃為炅中。（炅即炯字，熱也。此陽氣內郁也。）</p>
<p>血並於上，氣並於下，心煩惋，善怒。（此陽氣下抑也。）</p>
<p>血並於下，氣並於上，亂而善忘。（此孤陽亢逆，陰津不能上濡也。）</p>
<p>血氣並走於上，則為大厥，厥則暴死，氣復返則生，不返則死矣。</p>
<p>血氣者，喜溫而惡寒，寒則泣不能流，溫則消而去之。（宜用溫散溫下，不可溫補。）</p>
<p>是故氣之所並為血虛，血之所並為氣虛。何者？有者為實，無者為虛，故氣並則無血，血並則無氣。血與氣相失，故為虛焉。絡之與孫脈，俱輸於經，血與氣並，故為實焉。夫陰與陽，皆有俞會，陽注於陰，陰滿之外，陰陽勻平，以充其形，九候若一，命曰平人。（上虛實。以上《素問》。）</p>
<p>喜怒不測，飲食不節，陰氣不足，陽氣有餘，營氣不行，（所謂氣行血止也。陰津不足以載血，使之滑利，而陽氣之悍者涌來，血遂擁擠而成癰疽。）發為癰疽。陰陽不通，兩熱相搏，（是血愈擁擠，而悍氣亦不得通，故蒸而為膿矣。）乃化為膿。膿成，十死一生。其白眼青，黑眼小，一逆也。納藥而嘔，二逆也。</p>
<p>腹痛渴甚，三逆也。肩項中不便，四逆也。音嘶色脫，五逆也。除此五者，為順也。</p>
<p>（今瘍科有五善七惡之說，義即本此。上癰疽順逆。）</p>
<p>熱病脈靜，汗已出，脈躁盛，是一逆也。病泄，脈洪大，是二逆也。著痹不移，　肉破，身熱，脈偏絕，是三逆也。淫而奪形，身熱，色夭然白，及後下血　，血　篤重，是四逆也。（淫，馬注謂好色，非也。凡遺精漏濁下利自盜汗皆是。）寒熱奪形，脈堅搏，是五逆也。</p>
<p>腹脹，身熱，脈大，一逆也。腹鳴而滿，四肢清，泄，脈大，二逆也。衄而不止，脈大，三逆也。咳且溲血，脫形，其脈小勁，四逆也。咳，脫形，身熱，脈小以疾，五逆也。如是者，不過十五日而死矣。</p>
<p>腹大脹，四末清，脫形，泄甚，一逆也。腹脹，便血，脈大，時絕，二逆也。咳，溲血，形肉脫，脈搏，三逆也。</p>
<p>嘔血胸滿引背，脈小而疾，四逆也。咳嘔，腹脹，且飧泄，其脈絕，五逆也。如是者，不及一時而死矣。（上雜病順逆。）</p>
<p>熱病不可刺者有九。所謂勿刺者，有死征也。一曰汗不出，大顴發赤，噦者死。二曰泄而腹滿甚者死。</p>
<p>三曰目不明，熱不已者死。四曰老人、嬰兒熱而腹滿者死。五曰汗不出，嘔，下血者死。六曰舌本爛，熱不已者死。七曰咳而衄，汗不出，出不至足者死。八曰髓熱者死。九曰熱而痙者死。腰折，螈　，齒噤　也。凡此九者，不可刺也。其可刺者急刺之，不汗且泄。（上熱病順逆。以上《靈樞》。）</p>
<h4>諸病以晝夜靜劇辨陰陽氣血篇</h4>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<p>（出丹溪）</p>
<p>晝則增劇　夜則安靜，是陽病有餘，氣病而血不病也。</p>
<p>夜則增劇，晝則安靜，是陰病有餘，血病而氣不病也。</p>
<p>晝則發熱，夜則安靜，是陽氣自盛於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也。（熱入血室。）晝則發熱煩躁，夜亦發熱煩躁，是重陽無陰也。（補陰瀉陽。）</p>
<p>夜則惡寒，晝則安靜，是陰氣自盛於陰分也。夜則安靜，晝則惡寒，是陰氣上冒於陽中也。夜則惡寒，晝亦惡寒，是重陰無陽也。（補陽瀉陰。）</p>
<p>晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死。</p>
<p>按：晝夜靜劇，仍須辯證之寒熱有餘不足。即如晝靜夜劇，其證見陽熱之有餘者，是陽陷入陰也。其證見陰寒之不足者，是陰氣自盛也。其證見虛熱而不甚者，則為陰虛，而非陽盛矣。其證見微寒而不甚者，又為陽虛，而非陰盛矣。余依此例推之。更有寒熱日夜數過，寒已即熱，熱已復寒，無已時者，在初病為風氣太盛，所謂風勝則動也。在汗後為裡邪外爭，在下後為外邪內爭，皆為陰陽不和，而有病進病退之別也。在久病為陰陽敗亂，元氣無主也。</p>
<h2>卷下</h2>
<h3>色診面色總義</h3>
<h4>面部臟腑肢節分位圖說篇</h4>
<p><a href="_files/pt117a1.bmp">面部分位圖</a></p>
<p><a href="_files/pt117a2.bmp">面部臟腑肢節分位圖</a></p>
<p>謹案：面部當分九行，正中一行，左右各四行也。正中為天庭，為闕上，為闕中，為下極，為方上，為面王，為中央，（此中央為人中也。）為承漿，為下頦。其側當內　以下，為目內　，為面王以上，為面王以下。次側當目睛以下，為巨分，（一名法令。）為頤口角。次側當顴以下，為顴，（一名　，音求。）</p>
<p>為中央。（此中央為頰中央也，）次側當顴後耳前，為　，（一作頷，以其動與頷應也。）為顴後，（一名　，音拙，即顴後橫骨。）為循牙車以下。次側在面部之外，為蔽，耳門也；為蕃，頰側也。夾繩而上者，繩為面部兩側之轉角處也，下當顴，上當額角，如引繩者。夾而上，即夾額角也。方上謂正當面王之上，即鼻柱與準相接，稍見低扼之處，能候胃氣盛虛，胃有瘕聚，即生黯　；胃氣虛怯，即見低陷。方之為義與本　篇大陵掌後兩骨之間方下者也正同，舊為兩迎香上者未協。綜觀其位，五臟次於中央，而腎居膀胱下，（五色篇言中央有三而義各不同。）六腑夾其兩側，而胃居脾上，肢節又居六腑之外也。刺熱論謂頰下逆顴為大瘕，（大瘕泄，即痢疾也。有謂五更腎泄者未是。）是大腸病也，是中央診膝，又診大腸也，故大便久秘，即其處發熱。顴後為脅痛，是顴後診臂，又診脅也。下牙車為腹滿，是牙車以下診股，又診腹也。且股與股裡，膝臏與膝，似俱不當兩出，疑巨分股裡，當作腹裡也。頰上者，膈上也，是顴後橫骨之上也。</p>
<p>又案：面部之內應臟腑也，有以筋所結，有以脈所過，有以氣化所通，有以神明所發。如上文五色篇及刺熱論所敘，蓋氣化之事也。若內　膀胱，外　小腸，上唇人中大腸，下唇環口胃，耳前後耳中三焦、膽，則脈絡之事也。目上綱太陽，下綱陽明，鼻足太陽，耳中手太陽，頭右角足少陽，左角手陽明，則筋絡之事也。舌心，耳腎，鼻肺，唇脾，目肝，眉膽，則神明之事也。病在筋者，視筋絡之部；病在脈者，視脈絡之部；病在氣化者，視氣化之部；病在神明者，視神明之部，知此則分部之法雖各不同，而皆各適其用矣。聖人之言，豈故為多歧以惑人哉，事各有當，不如此則事理不備也。茲詳注面部經絡如下，以便省覽。</p>
<p>額顱頭項：膀胱脈上額交巔上下項。胃脈過客主人，循發際至額顱。肝脈上出額，與督脈會於巔。膽脈上抵頭角。</p>
<p>三焦脈過客主人前。三焦正脈別於巔。胃正脈上額　。胃別脈上絡頭項。（以上經脈所絡。）心腎肺脾胃五絡皆會於耳中，上絡左角。（以上絡脈所絡。）督脈上額交巔，入絡腦，還出別下項。營氣上巔下項，合足太陽；其支者上額，循巔下項中，循脊入　，是督脈也。（以上奇經所絡。）膀胱筋上頭，腎筋結於枕骨。膽筋上額角交巔上，左絡於右。三焦筋上乘頷，結於角。大腸筋上左角絡頭。（以上經筋所絡。）</p>
<p>面顏：胃陽明脈榮於面。心其華在面。心正脈出於面。膽正脈散於面。（以上經脈所絡。）任脈循面。</p>
<p>（以上奇經所絡。）膀胱筋上顏。（以上經筋所絡。）</p>
<p>鼻柱鼻準鼻孔：胃脈起於鼻之交　中，旁納太陽之脈，下循鼻外。大腸脈夾鼻孔。小腸脈抵鼻。（以上經脈所絡。）膀胱筋結於鼻。胃筋結於鼻。（以上經筋所絡。）</p>
<p>人中：大腸脈交人中，左之右，右之左。脾氣絕人中滿。（以上經脈所絡。按：人中亦主膀胱、子處、督脈。）</p>
<p>唇口：大腸脈夾口。胃脈夾口環唇。胃正脈出於口。肝脈環唇內，故肝氣絕唇青。太陰結於太倉，故脾氣絕唇反。（以上經脈所絡。）任脈環唇。（以上奇經所絡。）三焦絡有邪，口乾。</p>
<p>（以上絡脈所絡。）胃筋夾口，寒則引頰移口，熱則緩縱不收。胃小腸筋急，則口目為　。（以上經筋所絡。）</p>
<p>承漿：胃脈交承漿。（以上經脈所絡。）</p>
<p>上齒下齒：胃脈入上齒中。大腸脈入下齒中。大腸別脈入，遍下齒。膀胱別脈入　，遍上齒。腎氣絕，齒長而垢，或齒光無垢。（以上經脈所絡。）</p>
<p>舌中舌本舌下：脾脈連舌本，散舌下。脾正脈貫舌中。</p>
<p>腎脈夾舌本。腎正脈系舌本。膀胱脈夾舌本。心別脈系舌本。少陰結於廉泉。厥陰結於玉英。脾氣絕舌萎。（以上經脈所絡。癲狂篇：舌下少陰。）膀胱筋支者，入結舌本。三焦筋系舌本。三焦絡有邪，舌卷。</p>
<p>肝氣絕，舌卷，卵縮。（以上經筋所絡。）</p>
<p>咽喉：胃脈循喉嚨。胃別脈合諸經之氣，下絡喉嗌。胃正脈上循咽。脾脈夾咽。脾正脈結咽。大腸正脈循喉嚨。肺正脈循喉嚨。小腸脈循咽。心正脈走喉嚨。包絡正脈循喉嚨。膽正脈夾咽。肝脈循喉嚨之後，上入頏顙。膀胱脈循咽喉。腎脈循喉嚨。營氣注肺，上循喉嚨，入頏顙之後，究於畜門。（以上經脈所絡。）三焦絡有邪，喉痹。腎絡有邪，咽痛，不可納食。（以上絡脈所絡。）任脈至咽喉，入喉。（以上奇經所絡。）</p>
<p>目內　銳　上胞下胞：胃脈上至目內　。膀胱脈起目內　。太陽結於命門，命門者目也。小腸脈過目銳，至目內　。三焦脈至目銳　。膽脈起目銳　，至銳　後，其支者別銳。心正脈合目內　。營氣注目內　。（以上經脈所絡。）</p>
<p>任脈入目，系兩目之下中央。督脈別絡起目內　。陰蹺之脈合太陽陽蹺而上行至目內　，故目內痛取之陰蹺。（以上奇經所絡。）膀胱筋為目上綱。胃筋為目下綱。膽筋結於目　為外維。小腸筋屬目外。三焦筋屬目外　。胃小腸筋急，口目為　。　急不能卒視。（以上經筋所絡。目下裹大，其膽乃橫；水在腹者，目下必腫；是脾氣通於下胞也。上為外　，下為內毗。）</p>
<p>目系：膀胱脈正屬目本，名曰眼系。胃正脈系目系。心別脈屬目系。膽正脈系目系。肝脈連目系，故肝氣絕目暈。衛氣平旦出於目，目者宗脈所聚也。（以上經脈所絡。脫陰者目盲，氣脫者目不明。）</p>
<p>顴　：胃正脈上額　。膀胱脈入　遍上齒。大腸脈入　遍下齒。小腸脈上　，斜絡於顴。三焦脈出　。</p>
<p>膽脈抵　下。（按：　，音拙，顴後橫骨也。　，音求，即顴也，作鳩誤。以上經脈所絡。）胃筋合於　。膀胱筋結於　。大腸筋結於　。膽筋結於　。（以上經筋所絡。）蹺脈入　，營氣出。（以上奇經所絡。）</p>
<p>頰頤：大腸脈貫頰。小腸脈上頰，其支者別頰。三焦脈下頰又交頰。肝脈支者，從目系下頰裡。（以上經脈所絡，）任脈上頤。（以上奇經所絡。）胃筋支者，從頰結於耳前。大腸筋上頰，其支者下右頷。（以上經筋所絡。）</p>
<p>頷曲頰牙車：胃脈循頤後下廉，下大迎，循頰車。膽脈下頰車。大腸別脈上曲頰。膽正脈出頤頷中。（以上經脈所絡。）大腸筋上頰，其支者下右頷。小腸筋下結於頷。膽筋下走頷。三焦筋支者，當曲頰入系舌本，其支者上牙車。（以上經筋所絡。）</p>
<p>耳前後耳上下角耳中：胃脈上耳前。陽明結於顙大，顙大者鉗耳也。大腸別脈其支者入耳中，合於宗脈，耳者宗脈之所聚也。小腸脈入耳中。膀胱脈支者從巔至耳上角。三焦脈系耳後，上出耳上角，入耳中，出走耳前。膽脈下耳後，其支者從耳後入耳中，出走耳前。少陽結於窗籠，窗籠者耳中也。包絡正脈出耳後，合三焦脈於完骨之下。胃中空則宗脈虛，故耳鳴。液脫者，骨屬曲伸不利，脛酸，耳數鳴。精脫者耳聾。（以上經脈所絡。）心肝脾肺胃五絡皆會於耳中，上絡左角。（以上絡脈所絡。）胃筋結於耳前。三焦筋循耳前。膽筋循耳後。膀胱筋結於完骨。小腸筋結於耳後完骨，其支者入耳中，直者出耳上。（以上經筋所絡。）</p>
<p>上皆筋脈所絡之事也。至於氣化神明之二義，猶有可得而言者，如額心，鼻脾，頤腎，左頰肝，右頰肺，此高下左右，以應五臟氣化之正位也。又面色皆屬於心，兩目四維皆屬於肝，兩頰皆屬於肺，唇四白皆屬於脾，兩顴兩耳葉皆屬於腎，頰車皆屬大腸，舌下兩竅皆屬膽，又屬腎，此旁見側出，以應臟腑氣化之旁溢也。目分五臟者，目雖主肝而出於腦，腦受五臟之精也。舌分五臟者，舌雖主心而本於胃，胃為臟腑之海也，此皆氣化之所通也。神明者，性情之有知覺者也，如耳能知音也，目能知色也，鼻能知臭也，口能知味也，舌能出音也，此皆有五臟知覺以主之，而非外竅所能為也，故曰神明所發也。病在筋失其形，病在脈失其形，或失其色，病在氣化失其色，病在神明失其知覺功用也。能通此者，即觀於面，而知筋絡臟腑受病之淺深，所謂洞見五臟症痞也，可稱神良矣。</p>
<h4>察色真訣篇</h4>
<p>（出《靈樞‧五色篇》）</p>
<p>五色之見也，各出其色部。部骨陷者，必不免於病矣。</p>
<p>其色部承襲者，雖病甚，不死也。（承襲者，色與部相生也，如水部見木色之類。上部骨起陷。）</p>
<p>《千金方》曰：凡人分部骨陷起者，必有病生。膽少陽為肝之部，小腸太陽為心之部，胃陽明為脾之部，大腸陽明為肺之部，俠膀胱並太陽為腎之部，若當其處陷者，必死。臟氣通於內，外部亦隨而應之。</p>
<p>沉濁為內，浮清為外。若色從外走內者，病從外生，部處起。若色從內出外者，病從內生，部處陷。內病，前治陰，後治陽；外病，前治陽，後治陰也。</p>
<p>按：所稱五陽之部，不知在面部何處，與前圖說，似有合有不合。若依前圖說分之：膽少陽肝部，即鼻莖也；小腸太陽心部，即山根連目兩　以下也；胃陽明脾部，即鼻準也；膀胱太陽腎部，即環口也；大腸陽明肺部，似指闕中，非人中也，如此則理有可通，而事有可據矣。</p>
<p>五色各有臟部，有外部，有內部也。色從外部走內部者，其病從外走內；色從內部走外部者，其病從內走外。病生於內者，先治其陰，後治其陽，反者益甚；病生於陽者，先治其外，後治其內，反者益甚。（上分部內外。）</p>
<p>凡色青黑赤白黃皆端滿，有別鄉，（別鄉，即內部外部之謂也。）</p>
<p>其色上銳，首空（上聲。）上向，下銳下向，在左右如法。左為左，右為右。其色有邪，聚散而不端，面色所指者也。其色上行者，病益甚。其色下行如云徹散者，病方已。（此所謂上為逆，下為從也，端滿者，謂人之生也，本有五色之分，其本來正色滿面者，不為病也，有邪則獨見其邪色，或聚或散而不能端滿矣，則有色所起之部，與所指之部矣，所謂別鄉也。華佗謂面目俱等者不病，不等則病矣。謂其色獨見，異於他部也。故察色以其起大如拇指者為準。上分部上下左右。）</p>
<p>五色各見其部，察其浮沉，以知淺深：察其澤夭，以觀成敗；察其散摶，以知遠近；視色上下，以知痛處；積神於心，以知往今。故相（去聲。）氣不微，不知是非，屬意勿去，乃知新故。色明不粗，沉夭為甚；不明不澤，其病不甚。其色散駒駒然未有聚，其病散而氣痛，聚未成也。（上浮沉澤夭摶散新故。）</p>
<p>腎乘心，心先病，腎為應，色皆如是。（謂心部先見腎色，次腎部自見其色也，余臟同此。）男子色（指黑色承腎來，）在於面王，為首腹痛，（首腹，大腹。）下為卵痛，其圜直為莖痛，高為本，下為首，狐疝　陰之屬也。女子色在於面王，為膀胱子處之病，散為痛，摶為聚，方圓左右各如其色形，其隨而下至胝為淫，有潤如膏狀，為暴食不潔。（暴食而即出不潔，所謂回風入咽旋出也。）</p>
<p>凡色青黑赤白黃，（此特提五色者，以上文是專指黑色也。）皆端滿，有別鄉。別鄉赤者，其色赤，（作亦非。）</p>
<p>大如榆莢，在面王為不月。（原作不日，注者謂不日即愈，或曰不日即死，皆非也。此承女子來，但非腎之黑色，故特筆敘之，讀者遂迷，不識其實蒙上文矣。）</p>
<p>風者百病之始也，厥逆者寒濕之起也。常候闕中，薄澤為風，沖濁為痹，在地為厥，此其常也，各以其色言其病。青黑為痛，黃赤為熱，白為寒，是謂五官。其色粗以明，沉夭者為甚。審察澤夭，謂之良工。沉濁為內，浮澤為外，黃赤為風，青黑為痛，白為寒，黃而膏潤為膿，（即痰也，）赤甚者為血，痛甚為攣，寒甚為皮不仁。（上二節形應及主病大義。）</p>
<p>按：凡診面色，以遠望而乍視之，為能得其真。華佗謂人面之色，但改其常者，即為病矣。其改常也，往往終日相對之人不覺，而久別乍見者，心竊驚異之矣。又相法，必須天明初起，未盥未食之時，此即診脈，必以平旦之義，在無病之人則然。若病臥於床者，其色脈終日如常，固時時可診也，第須問其曾食與否而已，食入胃氣乍旺，陽明之脈氣乍充，光澤必盛也，然久病即此亦可占胃氣之生死矣。</p>
<p>又按：端滿別鄉，上向下向，走內走外，與上編所謂榮未交，及厥陰少陰脈爭見等語，乃察色之本，不可不考也。端滿即本來正色之滿面者，華佗所謂面目俱等者不病也。若邪色至於面目俱等，豈得謂之無病耶。別鄉，即邪色所在之部，異於他部者，故曰別鄉。赤者，是其色赤大如榆莢也，以赤為例，他可知矣。</p>
<p>上下內外，察其所起與其所向，以占病之淺深吉凶也。榮即色榮顴骨之榮，謂淺露於膚也，指初起之部言。交者，謂色滿於本部，而又溢於他部，如色起於顴，溢於頰，而復交於顴之類，如此則色必環繞於目、於鼻、於口、於耳矣，故謂即入門戶井灶之事也。爭見者，彼部復有色起與此部相應也。故部位不可不詳，而色之所起所向，不可不察也。若不識此，即不能以色決病矣。至於所謂色者，隱隱於皮膚之下，若隱若見者也。其浮於皮上者非也，或塵垢所著，或風日所暴，或燥膚之將起白屑而未退者，過在浮肌，而無與於五內也。又有為穢惡之氣所沖者，亦由陽氣不足也。又凡色氣退散，必先退出於皮上而散也。故曰積神於心，以知往今，屬意勿去，乃知新故，恐其誤以將散為方起也。</p>
<h4>五色吉凶通義篇</h4>
<p>夫精明五色者，氣之華也。赤欲如白裹朱，不欲如赭；白欲如鵝羽，不欲如鹽；青欲如蒼璧之澤，不欲如藍；黃欲如羅裹雄黃，不欲如黃土；黑欲如重漆色，不欲如地蒼。（一作炭色。）五色精微象見矣，其壽不久也。</p>
<p>色味當五臟：白當肺辛，赤當心苦，青當肝酸，黃當脾甘，黑當腎咸。故白當皮，赤當脈，青當筋，黃當肉，黑當骨。故色見青如草滋者死，黃如枳實者死，黑如　者死，赤如　血者死，白如枯骨者死，此五色之見死也。青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豕膏者生，黑如烏羽者生，此五色之見生也。</p>
<p>生於心，如以縞裹朱；生於肺，如以縞裹紅；生於肝，如以縞裹鉗；生於脾，如以縞裹栝蔞實；生於腎，如以縞裹紫，此五臟所生之外榮也。（裹字最妙，凡真色皆根於皮裡，其深含於皮裡者，正色也。由皮裡而暴露於皮外者，病色，死色也。其薄散而僅浮於皮上者，浮游之氣不根臟腑，無關吉凶者也，直謂之垢而已。上《素問》。）</p>
<p>夫五色有光，明亮是也；五色有體，潤澤是也。光者無形，為陽主氣；體者有象，為陰主血。</p>
<p>氣血俱亡，其色沉晦，經所謂草滋、枳實、　、　血、枯骨五者是也。氣血尚存，其色光明潤澤，經所謂翠羽、雞冠、蟹腹、豕膏、鳥羽五者是也。然此五色雖為可生，終屬一臟獨亢，病也，非平也。平人五臟既和，其一臟之色，必待其王而始榮於外。其榮於外也，稟胃氣而出於皮毛之間，胃氣色黃，皮毛色白，故云如縞裹。如縞裹者，朦朧光澤，雖有形影，猶未燦然，內因氣血無乖，陰陽不爭，五臟無偏勝故也。苟或不然，五臟衰敗，其見色也，昔之朦朧者，一變而為獨亢；昔之光明者，一變而為沉濁；昔之潤澤者，一變而為枯槁；甚至沉濁枯槁，合而為夭，是光體俱無，陰陽氣血俱絕矣。不死又何待乎。</p>
<p>按：此篇之義，與前篇微有不同，前指分部所起之邪色，此指滿面自有之本色也。邪色起於別鄉，大如榆莢，無論青黃赤白黑，皆有所主之病，有凶無吉者也。本色端滿於面，無有分部，而專以色之夭澤辨吉凶者也。一重在部上，一重在色上。</p>
<h3>色診面色應病類</h3>
<h4>《內經》面部五色應病總述篇</h4>
<p>是故聖人視其顏色：黃赤者多熱氣，青白者少熱氣，黑色者多血少氣。青黑為痛，黃赤為熱，白為寒，薄澤為風，沖濁為痹，沉濁為內，浮澤為外。</p>
<p>大氣入於臟腑者，不病而卒死，何以知之？曰：赤色出兩顴，大如拇指者，病雖小愈，必卒死。黑色出於庭，大如拇指，必不病而卒死也。（上論五色所主之病。經曰：大氣入臟，腹痛下淫，謂周身元氣皆內陷也，故可以知死，不可以致生。）</p>
<p>何以知皮肉氣血筋骨之病也？曰：色起兩眉薄澤者，病在皮膚。唇色青黃赤白黑者，病在肌肉。營氣霈然者，病在血脈。目色青黃赤白黑者，病在筋。耳焦枯如受塵垢者，病在骨。</p>
<p>鼻者，肺之官也。目者，肝之官也；口唇者，脾之官也；舌者，心之官也；耳者，腎之官也，故肺病者，喘息鼻張；肝病者，　青；脾病者，唇黃，心病者，舌卷短，顴赤；腎病者，顴與顏黑。五臟各有次舍，故五色之見於明堂，以候五臟之氣，左右高下，各如其度也。</p>
<p>五痿者，生於大熱也。肺熱者，色白而毛敗。心熱者，色赤而絡脈溢。肝熱者，色蒼而爪枯。脾熱者，色黃而肉蠕動。腎熱者，色黑而齒槁。（上論五臟病色。）</p>
<p>色以應日，脈以應月，色之與脈，當參相應。見其色而不得其脈，反得相勝之脈者即死；得相生之脈者病即自已。</p>
<p>假令色青，其脈當弦而急；色赤，其脈當浮大而散；色黃，其脈當中緩而大；色白，其脈當浮澀而短；色黑，其脈當沉濡而滑。此所謂五色之與脈參相應者也，其不應者病矣。假令色青，其脈浮澀而短，若大而緩為相勝；浮大而散，若小而滑為相生也。</p>
<p>有故病，五臟發動，因傷脈色，各何以知其久暴至之病乎。曰：征其脈小，色不奪者，新病也；征其脈不奪，其色奪者，久病也；征其脈與五色俱奪者，此久病也；征其脈與五色俱不奪者，新病也。肝與腎並至，其色蒼赤，當病毀傷不見血；已見血，濕若中水也。</p>
<p>脈至如頹土之狀，按之不得，是肌氣予不足也。五色先見黑白，壘（即　字。）發死。（按：此浮濡而芤，陽虛陰散，所謂脾氣去胃，外歸陽明也。）</p>
<p>尺脈數甚，筋急而見，此謂疹筋。腹急，白色黑色見，則病甚。（上論色脈相應。按：此脈數字，似當作急字解，謂緊斂急引而不舒和也。見，謂挺鼓於皮上也，此寒氣深痼於筋中也，故曰疹筋，白黑色見，是寒涼清肅之氣，內連肝臟，剋制生陽之氣化，不得宣發也。）</p>
<p>溺黃赤，安臥者，黃膽。已食如飢者，胃疸。目黃者，黃膽。身痛而色微黃，齒垢黃，爪甲上黃，黃膽也。（巢氏云：身面發黃，舌下大脈起青黑色，舌強不能言者，名曰噤黃，心脾二臟瘀熱所為也。卒然發黃，心滿氣喘，命在頃刻者，名曰急黃。有得病即身面發黃者；有初不知是黃，死後乃身面黃者，其候得病即發熱心戰者是也。）</p>
<p>癲疾始生，先不樂，頭重痛，視舉，目赤甚，作極，已而煩心。候之於顏，取手太陽、陽明、太陰，血變而止。（錢仲陽云：目直視而腮赤，肝心俱熱，明日午間，預防驚搐，即此節義。上雜論疸癲。）</p>
<h4>五臟風證並諸風肥瘦寒熱形色篇</h4>
<p>（《內經》、《中藏經》、《巢氏》。）</p>
<p>肺風之狀，多汗惡風，色　然白，時咳短氣，晝日則瘥，暮則甚，診在眉上，其色白。</p>
<p>心風之狀，多汗惡風，焦絕，善怒嚇，（《甲乙》無嚇字。）赤色，病甚則言不可快，（仲景曰：風溫為病，難以言，又曰：言遲者風也。）診在口，其色赤。</p>
<p>肝風之狀，多汗惡風，善悲，色微蒼。嗌干善怒，時憎女子，診在目下，其色青。</p>
<p>脾風之狀，多汗惡風，身體怠惰，四肢不欲動，色薄微黃，不嗜食，診在鼻上，其色黃。</p>
<p>腎風之伏，多汗，惡風，面龐然浮腫，脊痛不能正立，其色　，隱曲不利，診在肌上，其色黑。（腎風者，面　龐然，壅害於言。又面腫曰風。肌恐顴字、頤字或耳字之訛，俟考。）</p>
<p>胃風之狀，頸多汗，惡風，食飲不下，膈塞不通，腹善滿，失衣則　脹，食寒則泄，診形瘦而腹大。（頸為陽明經脈所盛。）</p>
<p>首風之狀，（新沐中風也，然頭風不盡因新沐，經特舉其大意耳，後仿此。）頭面多汗，惡風，當先風一日則病甚，頭痛不可以出內，至其風日，則病少愈。</p>
<p>漏風之狀，（飲酒中風。）或多汗，不可單衣，食則汗出，甚則身汗，喘息，惡風，衣常濡，口乾善渴，不能勞事。</p>
<p>泄風之狀，（林億云：當作內風。竊疑內風當是與泄風形證相近，抑或內風即泄風，故不別出。）</p>
<p>多汗，汗出泄衣上，口中干，上漬其風，不能勞事，身體盡痛，則寒。（上漬句與末句，疑有誤倒。）</p>
<p>風者百病之長也，善行而數變，腠理開則洒然寒，閉則熱而悶，其寒也衰食飲，其熱也消肌肉，使人　栗而不能食，故名曰寒熱。</p>
<p>風氣與陽明入胃，循脈而上，至目內　。其人肥則風氣不得外泄，則為熱中而目黃；人瘦則外泄而寒，則為寒中而泣出。</p>
<p>風氣與太陽俱入，行諸脈俞，散於分肉之間，與衛氣相干，其道不利，故使肌肉憤　而有瘍，衛氣有所凝而不行，故其肉有不仁也。</p>
<p>癘者，有榮氣熱　，其氣不清，故其鼻柱壞而色敗，皮膚瘍潰。風寒客於脈而不去，（脈風成為癘，）名曰癘風，或名曰寒熱。（一名大風，詳長刺節論。又《脈經》曰：脈從尺邪入陽明者，大風也，寒熱，是其脈必洪長而外鼓也。）</p>
<p>風中五臟六腑之俞，各入其門戶，則為偏風。（上《素問》。）</p>
<p>心風之狀，汗自出，而好偃仰臥，不可轉側，言語狂妄。若唇正赤者生，宜於心俞灸之。若唇面或青，或黃，或白，或黑，其色不定，眼　動不休者，心絕也，五六日死。</p>
<p>肝風之狀，青色圍目連額上，但坐不得倨僂者，可治，宜於肝俞灸之。若喘而目直視，唇面俱青者死。</p>
<p>脾風之狀，一身通黃，腹大而滿，不嗜食，四肢不收持。（巢論：有吐咸汁。）若手足未青，面黃者，可治。不然（巢論云：手足青。）即死，宜於脾俞灸之。</p>
<p>腎風之狀，但倨坐，而腰腳重痛也。視其腰下，未生黃點者，（巢論云：如餅粢大，）可治。不然（巢論云：若齒黃赤，鬢發直，頭面土色者，不可治。）即死，宜於腎俞灸之。</p>
<p>肺風之狀，胸中氣滿，冒昧，汗出，鼻不聞香臭，喘而不得臥者可治。（巢論云：視目下，鼻上下兩邊，下行至口，色白可治。）若失血及妄語者，（巢論云：若色黃為肺已傷，化為血。）七八日死，宜於肺俞灸之。（上《中藏經》。）</p>
<p>凡中風，鼻下赤黑相兼，吐沫而身直者，七日死。又心脾俱中風，則舌強不能言。肝腎俱中風，則手足不遂。（上巢氏。按：小兒臍風與急慢驚風診法，似當依此例察其面目，以決其生死。）</p>
<p>按：百病皆有色診，而前篇之末，獨系疸癲，此篇更專述風證者，以風為百病之長，而疸與癲為急病也。</p>
<p>凡急病五色之吉凶生死，皆可取例於此。若必欲備載百病色診，則《內經》及百家所述繁矣，不勝錄也。</p>
<h4>《千金》面部五色入門戶井灶及五臟卒死吉凶篇</h4>
<p>（出《千金方》、《翼方》）</p>
<p>夫為醫者，雖善於脈候，而不知察於色氣，終為未盡要妙也。故善為醫者，必須明於五色，乃可以決死生，定狐疑。</p>
<p>凡病患面色入門戶為凶，不入為吉。白色見沖眉上者，肺有病，入闕庭者，夏死。黃色見鼻上者，脾有病，入口者春夏死。青色見人中者，肝有病，入目者秋死。黑色見顴上者，腎有病，入耳者，六月死。赤色見頤者，心有病，入口者，冬死。所謂門戶：闕庭，肺門戶；目，肝門戶；耳，腎門戶；口，心脾門戶。若有色氣入者，皆死。（入者，蔓延連合之義也。《素問》謂之交。）</p>
<p>凡病患有赤白青黑四氣，不問大小，在年上者，病甚也，惟黃色得愈。年上在鼻上兩目間如下，（如，而古通。）黑氣細如繩，發四墓及兩顴上者死。四墓在兩眉坐直上至發際，左為父墓，右為母墓，從口吻下極頤為下墓。於此四墓上觀四時氣：春見青氣，節盡死；夏見赤氣，節盡死：長夏秋見白氣，節盡死；冬見黑氣，節盡死。春見黃氣，暴死，見白氣至秋死，或立夏死；夏見白氣，暴死，見黑氣，至冬死，或夏至死；秋見青氣，暴死，見赤氣，節盡死，或至夏死，或冬至死；冬見赤氣，暴死，見黃氣，至長夏死，或春分死。（見本氣及來克之氣，皆節盡死，或至其節死，或至其勝死。見所克之氣，皆暴死，何者。一為自病，為不勝；一為所勝，所謂反侮，本氣敗也。）</p>
<p>凡病患黃色入鼻，從口入井灶，百日死。井在鼻孔上曲中是，灶在口吻兩旁上一寸是。年上有黑色橫度者，不出百日死。</p>
<p>天中從發際兩墓皆發黑色者，三年死。若顴上發黑色應之者，二百日死矣。天中當鼻直上至發際是也。目下有黑色橫度年上者，不出三十日死。黑色入口應天中者，不出一年死。（《脈經》云：病患黑色出天中，下至年上顴上者死。）</p>
<p>天中發黑色，年上命門上並黃色者，半好半惡也，以天中為主，五年內死。天中發黑色，法三年內死，所以然者，有二處得生，故五年死。（相法，以耳前為命門，兩眉之間為命宮。）</p>
<p>天中發黑色，兩顴上發赤色應之者，不出六十日兵死。若年上發赤色應之者，不出三十日死。若命門上發赤色應之者，不出百日市死，婦人產死兵死同。</p>
<p>青色如針在目下，春死，或甲乙日死。（相法，婦人目下青黯者，克丈夫。）</p>
<p>黃色入目匝四邊，戊己日死。</p>
<p>赤色從眉衝下入目，五日死，或丙丁日死。赤色入口，三日死，遠期丙丁日死。</p>
<p>黑色在左右眉上，一日死，或壬癸日死。若白色亦死，或庚辛日，或二三日死。黑色從天中及年上入目，三日死，或壬癸日，或百日，半年死。黑色準上行，或入目，壬癸日死，遠期二十日死。若入耳鼻，三日死。（準，鼻端也。</p>
<p>行，謂在壽上、年上無定。）黑色橫兩顴入鼻，一年死。黑色如拇指在眉上，不出一年暴死，一云三年。（前云黑色在左右眉上，一日死，當是指病甚者，此指無病者與。）黑色從眉繞目死。赤色在口兩旁死。黑色如深漆繞口，或白色，皆死。</p>
<p>病患面失精光，如土色，不飲食者，四日死。病患及健人面色忽如馬肝，望之如青，近之如黑，必卒死。赤色如馬，黑色如烏，見面死。（原注，口兩旁，左名烏，右名馬，非。）</p>
<p>肝病少愈而卒死者，青白色大如拇指　點見顏頰上，此必卒死。凡人肝前病，目則為之無色。若肝前死，目則為之脫精。若天中等分墓色應之，必死不治。看應增損，斟酌賒促，賒則不出四百日內，促則旬日之間。</p>
<p>心病少愈而卒死者，赤黑色黯點如博棋，見顏，度年上，此必卒死。凡人心前病，則口為之開張。若心前死，則面色枯黑，語聲不轉。若天中等分墓色應之，必死不治。看應增損，斟酌賒促，賒則不出四百日內，促則不出旬日之間。</p>
<p>脾病少愈而卒死者，青黑如拇指　點，見顏頰上，此必卒死。凡人脾前病，唇則焦枯無潤。若脾前死，唇則干，青白，漸縮急，齒噤不開。若天中等分墓色應之，必死不治。</p>
<p>看色濃薄，決判賒促，賒則不盈四百日內，促則不出旬日之間。</p>
<p>肺病少愈而卒死者，赤黑如拇指　點，見顏頰上，此必卒死。凡人肺前病，鼻則為之孔開焦枯。若肺前死，鼻則為之梁折孔閉，青黑色。若天中等分墓色應之，必死不治。看色淺深，斟酌賒促，遠不出一年，促不延時月。</p>
<p>腎病少愈而卒死者，黃黑色　點如拇指，應耳，此必卒死。凡人腎前病，耳則為之焦枯。若腎前死，耳則為之　黑焦癖。若天中等分墓色應之，必死不治。看應增損；斟酌賒促，賒則不出四百日內，促則不出旬日之間。</p>
<p>凡五臟吉凶之色，見於分部。肝病者，順順而見青白入目，必死，不出其年。若年上不應，三年之內禍必至也。心病者，　而見赤黑入口，必死，不出其年，名曰行尸。若年上無應，三年之內，病必死也。脾病者，霏霏而見黑黃入唇，不出其年，若年上不應，三年之內，禍必至也。肺病者，順順而見赤白入鼻，必病，不出其年，若年上不應，三年之內，禍必應也。腎病者，其人天中等分發色不正，此是陰陽官位。相法，若不遭官事，即應死也。面目黃黑，連耳左右，年四十以上，百日死。若偏在一邊，最凶，必死。兩邊有，年上無，三年之內禍必至也。</p>
<h4>面部五色吉凶雜述篇</h4>
<p>鼻頭色青，腹中痛，苦冷者死。鼻頭色微黑者有水氣，色黃者胸上有寒，（必兼濕也。）色白者亡血也，設微赤非時者死。其目正圓者，　，不治。又色青為痛，色黑為勞，色赤為風，色黃者小便難，色鮮明者有留飲。（《金匱要略》。）</p>
<p>面青，人中反者，三日死。面無光，牙齒黑者死。面色黑，目直視惡風者死。面色黑，脅滿不能反側者死。面色蒼黑，卒腫者死。（上《中藏經》。）</p>
<p>赤色見於耳目及顴頰者，死在五日中。（顴頰一作額，）黑色出於額上發際，下直、鼻脊、兩顴上者，亦死在五日中。黑色起耳目鼻上，漸入於口者，死。（謂起於耳，或目，或鼻，漸入於口。）病患及健人，黑色若白色起，入目及鼻口，死在三日中。</p>
<p>肝病皮白，肺之日庚辛死。心病目黑，腎之日壬癸死。</p>
<p>脾病唇青，肝之日甲乙死。肺病頰赤目腫。心之日丙丁死。腎病面腫唇黃，脾之日戊己死。（上《脈經》。）</p>
<h4>面目五色生克篇</h4>
<p>按：面主氣，主陽，主六腑。目主血，主陰，主五臟。</p>
<p>凡相五色之奇脈，面黃目青，面黃目赤，面黃目白，面黃目黑者，皆不死也。面青目赤，面赤目白，面青目黑，面黑目白，面赤目青，皆死也。（《素問》。）</p>
<p>春面色青，目色赤，新病可療，至夏愈。（此面色生目色也。）夏面色赤，目色黃，新病可療，至季夏愈。季夏面色黃，目色白，新病可療，至秋愈。秋面色白，目色黑，新病可療，至冬愈。冬面色黑，目色青，新病可療，至春愈。</p>
<p>論曰：此四時王相本色見，故療之必愈。夫五臟應五行，若有病，則因其時，色見於面目，亦猶灼龜於裡，吉凶之兆形於表也。</p>
<p>病患本色青，欲如青玉之澤，有光潤者佳，面色不欲如青藍之色。若面白目青，是謂亂常，以飲酒過多，當風，邪風入肺，絡於膽，膽氣妄泄，故令目青，雖云天救，不可復生矣。（《脈經》、《千金方》，並作面黃目青，此面色克目色也。）</p>
<p>病患本色赤，欲如雞冠之澤，有光潤者佳，面色不欲赤如赭土。若面赤目白，憂恚思慮，心氣內索，面色反好，急求棺槨，不過十日死。</p>
<p>病患本色黃，欲如牛黃之澤，有光潤者佳，不欲黃如灶中黃土。若面青目黃者，五日死。病患著床，心痛氣短，脾竭內傷。百日復愈，欲起彷徨。因坐於地，其立倚床。能治此者，是謂神良。</p>
<p>病患本色白，欲如璧玉之澤，有光潤者佳，面色不欲如白堊。若面白目黑，（疑當作青。）無復生理也。此謂酣飲過度，榮華已去，血脈空索，雖遇岐伯，無如之何。（《脈經》無酣飲過度句。）</p>
<p>病患本色黑，欲如重漆之澤，有光潤者佳，面色不欲如炭色。若面黑目白，八日死，腎氣內傷也。（《脈經》無「也」字，下有「病因留積」四字，以例推之，目白當作目赤。）</p>
<p>病患面黃目青者不死，青如草滋死。病患面黃目赤者不死，赤如　血死。病患面黃目白者不死，白如枯骨死。病患面黃目黑者不死，黑如　死。病患面目俱等者不死。（俱等，謂不改其常，無一部之獨異也。</p>
<p>上《千金翼方》。）</p>
<h4>傷寒面部五色應證篇</h4>
<p>凡看傷寒必先察色，然後切脈問證，參合以決死生吉凶。夫色有青黃赤白黑，見於面部皮膚之上，其氣有如亂絲亂髮之狀隱於皮裡也。蓋五臟有五色，六經有六色，皆見於面，以應五行。相生者吉，相克者凶。</p>
<p>滋榮者生，枯夭者死。自準頭、年壽、命宮、法令、人中皆有氣色，其滋潤而明亮者吉，暗而枯燥者凶也。又當分四時生克之理而通察之。茲略具五色傷寒之要者，列於下以備覽。（此《準繩》。陶節庵同。）</p>
<p>青色屬木，主風，主寒，主痛，乃足厥陰肝經之色也。</p>
<p>凡面青唇青者，陰極也。若舌卷囊縮者，急宜溫之。如夾陰傷寒，小腹痛，則面青也。《內經》曰：青如翠羽者生，青如草滋者死。青而黑，青而紅，相生者生；如青白而枯燥者，相克乃死也。脾病見青氣，多難治。</p>
<p>赤色屬火主熱，乃手少陰心經之色，在傷寒見之，而有三陽一陰之分。如足太陽屬水，寒則本黑，熱則紅也。經曰：面色緣緣正赤者，陽氣拂鬱在表，汗不徹故也，當發其汗。若脈浮數，表熱汗不出者，面色紅赤而光彩也。經言陽明病，面合赤色者，不可攻之。合者通也，謂表邪未解，不可攻裡也。若陽明內實，惡熱不惡寒，或蒸蒸發熱，或日晡潮熱，大便秘結，譫語面赤者，此實熱在裡，可攻之也。如表裡俱熱，口燥舌乾飲水，脈洪面赤，裡未實者，且未可下，宜人參白虎湯和之。如少陽經熱在半表半裡，面紅脈弦者，宜小柴胡湯和之，不可下也。經言少陰病，下利清穀，裡寒外熱，面赤者，四逆東加蔥白主之。此陰寒內極，逼其浮火上行於面，故發赤色，非熱也。若不細察，誤投涼劑即死矣。又夾陰傷寒，虛陽上泛，亦面赤也，但足冷脈沉者是。又煩躁面赤，足冷脈沉，不能飲水者，此陰極也，宜溫之。若久病虛人，午後面兩頰顴赤者，此陰火也，不可作傷寒治之。然三陽之氣皆會於頭額，其從額上至巔頂絡腦後者，太陽也；從額至鼻下於面者，陽明也；從頭角下耳中耳之前後者，少陽也；但有紅氣或赤腫者，以此部分別之。蓋大頭傷寒證，正要知此部分也。《內經》言：心熱顏先赤，脾熱鼻先赤，肝熱左頰先赤，肺熱右頰先赤，腎熱頤先赤。若赤而青，赤而黃，為相生則吉；如赤而黑，為相克則凶。蓋印堂準頭有赤氣，枯夭者死，明潤者生也。如肺病見赤氣則難治。</p>
<p>黃色屬土，主濕，乃足太陰脾經之色。黃如橘子明者熱也，黃如熏黃而暗者濕也。凡黃而白，黃而紅，相生則吉；若黃而青，相克者凶也。若準頭年壽印堂有黃氣明潤者，病退而有喜兆也，若枯燥而夭者死。凡病欲愈，目　黃也。長夏見黃白則吉，若黃而青則凶也。</p>
<p>白色屬肺金，主氣血不足也，乃手太陰肺經之色，肝病見之，難治。凡年壽印堂白而枯夭者凶，白而光潤者吉，若白而黑，白而黃，相生皆吉；白而赤，相克即凶矣，凡傷寒面白無神者，發汗過多，或脫血所致也。</p>
<p>黑色屬水，主寒，主痛，乃足少陰腎經之色。（血因寒而瘀敗之色。）凡黑而白，黑而青，相生則吉；黑而黃，相克則凶。若準頭、年壽、印堂黑氣枯夭者死，黑中明潤者生也。黑氣自魚尾相牽入太陰者死。黑氣自法令、人中入口者死。耳目口鼻黑氣枯夭者死。凡面、準頭、命宮明潤者生，枯暗者死。若心病見黑氣在額者死也。華佗曰：凡病患面色相等者吉，不相等凶。又曰：聲色心性但一改常即死矣，此其大略也。（上《準繩》。）</p>
<p>青而黑者多寒痛，青而白者主虛風也。厥陰熱厥，（血熱而壅滯，氣迫塞而不得通。）亦有唇面爪甲青紫而脈伏者，然細察之，其脈必附骨有力也。（以下五條出張石頑，凡已見《準繩》者刪去，以免繁復。）</p>
<p>面赤多熱，而有表裡虛實之殊。太陽證頭痛發熱，喘而面赤者，為表證。陽明腑實，汗多而面赤者，為裡證。陰盛格陽，與夾陰傷寒，發熱頭病，面赤足冷，脈沉細，或浮數無力，按之欲散，（亦有浮盛有力，按之弦細，或數道不聚，起伏甚小，治宜以辛溫重藥，加沉墜之品，大劑急服，使藥力直趨下焦，略佐以清肅上焦，使浮陽內合也。）為虛陽上泛。傷寒壞病，汗下過多，元氣耗散，微陽失守，皆面赤戴陽，（此宜溫固收攝，並宜滋潤，不可辛烈。）並宜溫補下元。</p>
<p>按：陰盛格陽與陰虛陽越判然兩途，前人每統以陰病立論，混施溫補，誤人不少。</p>
<p>面黃主濕，黃而明者兼熱，黃而暗者兼寒，黃而帶赤者為病欲愈，黃白不榮而多蟹爪紋者，為蟲積。</p>
<p>黃而浮澤者為內傷蓄血；黃黑而粗槁者為食積。黃而青黑者，脾胃衰極，為木勝土而木無制也。（是久病血敗也。黃乃血水相合之色。以黃之深淺，辨血之濃薄；以黃之明暗，定血之死活。）</p>
<p>白主氣虛。（語與《準繩》同，不俱錄。）</p>
<p>黑主腎衰。傷寒顏帶青黑，為陰寒之色。若久病焦黑者，又為腎熱也。神庭黑色如指者，陰晦之色見於正陽之位，卒死之兆。面慘不光，傷寒也。面光不慘，傷風也。面如錦紋，陽毒也。面垢如油，喘促多汗，足陽明中　也。面垢生塵，洒然毛聳，手少陰中暑也。（上張石頑。）</p>
<p>青主驚，青而脫色，驚恐也。青而赤者為肝火，青赤而晦滯者為鬱火。（以下五條出《脈如》。凡已見上兩篇者，刪節免復。）</p>
<p>赤色主熱。面赤如微酣，或兩顴淺紅，游移不定，此陰證戴陽，必下利清穀，必小便清白或淡黃，脈沉細，或浮數無力，按之欲散。雖煩躁發熱而渴欲飲水，卻不欲咽。肌雖大熱而按之不熱，且兩足必冷。又有面赤煩躁，遍舌生瘡生刺，斂縮如荔枝狀，或痰涎涌盛，喘急，小便頻數，口乾引飲，兩唇焦裂，喉間如煙火上衝，兩足心如烙，脈洪數無倫，按之有力，捫其身烙手，此腎虛火不歸原所致，證最難辨；但病由內傷，其來以漸，是乃干柴烈火，不戢自焚者也。若面赤，目脈赤，身熱足寒，頭熱而動搖，卒口噤，背反張者，痙也，寒濕風邪，內傷於筋，亦有熱病筋燥而急者。</p>
<p>黃色屬脾，主濕熱食積。黃而枯　者，胃中有火；黃而色淡，胃氣虛也。（面目黃而小便短澀者為疸，小便自利，少腹硬痛，為蓄血發黃，宜下其瘀。）</p>
<p>白色屬肺，主氣血虛寒，縱有虛火，斷無實熱。白而青，氣血寒凝；白而肥，有痰，白而瘦，爪甲鮮赤，氣虛有火也。</p>
<p>黑色屬腎，主寒痛，青黑為陰寒；焦黑齒槁，為腎熱。凡青黑黯慘，無論病之新久，總屬陽氣不振。</p>
<h4>溫病面部五色應證篇</h4>
<p>《內經‧刺熱論》專論赤色所見部位，以決五臟吉凶，已錄入面部首篇。又熱病順逆色證，已錄入形部順逆篇，茲不復贅，以省繁文。</p>
<p>天地不外燥濕，病亦不外燥濕，色亦不外燥濕。燥屬天氣，色多有光而浮；濕屬地氣，色多有體而晦。（光體義見前察色真訣篇。）風燥寒燥，由外搏來，主收斂，收斂則急，面多繃急而光潔。燥搏津液，痰飲外溢於面，色多紅潤而浮，夾濕多紅潤而晦。燥邪化熱，色多干紅，苗竅干澀，多煩渴，甚則變枯而青黑。枯而青黑則真陰虧極，而色無光體矣。寒濕內生，色必滯暗，變黃變黑，皆沉晦不明。濕兼風，色潤而浮，多自汗。濕與暑合，與熱合，或濕土鬱蒸之溫邪，三者皆由口鼻吸入，三焦主蒸散，蒸散則緩，面色多松緩垢晦，甚者濁邪由內蒸而外溢，如油膩煙熏者然。若由濕化燥，則又晦而且干，晦而干則濕邪未去，真陰又虧，色由無光而無體矣。經言色見部位內應臟腑，外辨病證之說，不可枚舉，亦不能盡拘。所當權於其大，以燥濕二字為綱，以兼風、兼寒、兼暑、化火、未化火為權衡，以色中之光體為神氣，大道不外是矣。（《醫原》。）</p>
<h4>雜病面部五色應證篇</h4>
<p>青色出於太陰太陽，（兩額，左為太陽，右為太陰。）及魚尾正面口角，如大青藍葉，怪惡之狀者，肝氣絕，主死。若如翠羽柏皮者，只是肝邪，有驚病、風病、目病之屬。（以下五條出徐春甫《古今醫統》。）</p>
<p>紅色見於口唇，及三陰三陽上下，如馬肝之色，死血之狀者，心氣絕，主死。若如橘紅馬尾色者，只是心病，有怔忡，驚悸，夜臥不寧等證。</p>
<p>白色見於鼻準及正面，如枯骨及擦殘汗粉者，為肺絕，丙丁日死。若如膩粉、梅花、白綿者，只是肺邪，咳嗽之病，有孝服之憂。</p>
<p>黃色見於鼻，干燥如土偶之形，為脾氣絕，主死。若如桂花，雜以黑暈，只是脾病，飲食不快，四肢怠惰，妻外家之累。</p>
<p>黑色見於耳葉廓內外，命門懸壁，如污水煙煤之狀，為腎氣絕，即死。若如蜘蛛網眼，鳥羽之澤者，只是腎虛，火邪乘水之病。</p>
<p>肺主氣，氣虛則色白。腎屬水，水涸則面黧。青為怒氣傷肝，赤為心火炎上。萎黃者內傷脾胃，紫濁者外感客邪。惟悴黯黑，必悒鬱而神傷；消瘦淡黃，乃久病而體憊。山根明亮，須知欲愈之　；環口黧黑，休治已絕之腎。（張三錫。）</p>
<p>面黑為陰寒，面青為風寒。青而黑，主風，主寒，主痛。</p>
<p>黃而白，為濕，為寒，為熱，為氣不調。青而白，為風，為氣滯，為寒，為痛也。大抵黑氣見於面，為病最凶。若暗中有光，準頭年壽亮而滋潤者生，枯夭者死。（王宇泰。）</p>
<p>黃屬脾胃。若黃而肥盛，胃中有痰濕也。黃而枯　，胃中有火也。黃而色淡，胃中本虛也。黃而色黯，津液久耗也。黃為中央之色，其虛實寒熱之機，又當以飲食便溺消息之。</p>
<p>白屬肺。白而薄澤，肺胃之充也。肥白而按之綿軟，氣虛有痰也。白而消瘦，爪甲鮮赤，氣虛有火也。白而夭然不澤，爪甲色淡，肺胃虛寒也。白而微青，或臂多青脈，氣虛不能統血也；若兼爪甲色青，則為陰寒之證矣。白為氣虛之象，縱有失血發熱，皆為虛火，斷無實熱之理。</p>
<p>蒼黑屬肝與腎。蒼而理粗，筋骨勞　也。蒼而枯槁，營血之涸也。黑而肥澤，骨髓之充也。黑而瘦削，陰火內戕也。蒼黑為下焦氣旺，雖犯風寒，亦必蘊為邪熱，絕少虛寒之候。</p>
<p>赤屬心主三焦。深赤色堅，素稟多火也。赤而　堅，營血之充也。微赤而鮮，氣虛有火也。赤而索澤，血虛火旺也。赤為火炎之色，只慮津枯血竭，亦無虛寒之患。大抵火形之人，從未有肥盛多濕者，即有痰嗽，亦燥氣耳。（石頑。）</p>
<p>色貴明潤，不欲沉夭。凡暴感客邪之病，不妨昏濁壅滯。病久氣虛，只宜瘦削清　。若病邪方銳，而清白少神。虛羸久困，而嫵媚鮮澤，咸非正色。五色之中，青黑黯慘，無論病之新久，總屬陽氣不振。唯黃色見於面目，而不至索澤者，皆為向愈之候。若眼胞上下如煙煤者，寒痰也。眼黑頰赤者，熱痰也。眼黑而行步艱難，呻吟者，骨節疼痛，痰飲入骨也。眼黑而面帶土色，四肢痿痹，屈伸不便者，風痰也。</p>
<p>病患見黃色，光澤為有胃氣，干黃者是津液之槁。目睛黃者，非癉即衄。目黃大煩為病進。（《三昧》。仲景云：脈和，其人大煩。目重，瞼內際黃者，為欲解也。不得遽指為病進。）</p>
<p>面目色同為順，色異為逆。同者謂其如常而未改也，異者謂其一部獨異於常也。</p>
<p>面色夭然不澤，其脈空虛，為奪血。傷寒汗不出，大顴發赤，噦者死。顴見青氣者死。黃兼青紫，脈芤者，瘀血在胃，或脅內有塊。面上多白點，是蟲積。面色青黃白不常，及有如蟹爪路，一黃一白者，主食積。（亦有白斑如錢大。暈滿額面者。）目睛黃者，酒疸；面黃白及腫連眼胞者，穀疸，其人必心下痞；面黑者，女勞疸，一曰黑疸。明堂眼下青色，多欲勞傷，精神不爽，即夜未睡。（李士材。）</p>
<h3>色診目色應病類</h3>
<h4>目部內應臟腑部位篇</h4>
<p>五臟六腑之津液，盡上滲於目。</p>
<p>目者肝之官也。肝開竅於目，目藏精於肝。肝者主為將，使之候外。欲知堅固，視目大小。目下果大，其膽乃橫。</p>
<p>水者陰也，目下亦陰也，腹者至陰之所居，故水在腹者，必使目下腫也。（據此是下胞屬脾也，予歷診亦以下屬脾，上屬胃為合。）</p>
<p>足少陽之筋結於目　，為外維。其病也，頸維筋急，從左之右，右目不開。</p>
<p>足太陽之筋，為目上綱。足陽明之筋，為目下綱。其病也，寒則筋急，目不合；熱則筋縱，目不開。</p>
<p>手太陽之筋，屬目外　。手少陽之筋，屬目外　。足之陽明，手之太陽，筋急則口目為　，　急不能卒視。</p>
<p>手少陰之脈，系目系。其病目黃，脅痛，掌中熱痛。</p>
<p>手太陽之脈，至目銳　，其支者至目內　。其病目黃。</p>
<p>足太陽之脈，起於目內　。其病目黃，目似脫，項似拔。</p>
<p>手少陽之脈，至目銳　。其病目銳　痛。</p>
<p>足少陽之脈，起於目銳　。其支者復至目銳　後。其病目銳　痛。</p>
<p>足厥陰之脈，連目系，從目系下頰裡。</p>
<p>足陽明有夾鼻入於面者，屬口對入系目本。足太陽有通項入於腦者，正屬目本，名曰眼系。病苦頭目痛。入陰出陽，交於銳　，陽氣盛則　目，陰氣絕則瞑目。（絕，極也。謂不交於陽也。）</p>
<p>足陽明胃脈，上至目內　。</p>
<p>陰蹺之脈，合太陽、陽蹺而上行，至於目內　，故目內　痛者，取之陰蹺。邪客於足陽蹺之脈，令人目痛，從內　始。診目痛，赤脈從上下者，太陽病；從下上者，陽明病；從外走內者，少陽病。（上並出《內經》。）</p>
<p>首尾赤　屬心，滿眼白睛屬肺，其烏睛圓大屬肝，其上下肉胞屬脾，而中間一點黑瞳如漆者，腎實主之。（楊仁齋。）</p>
<p>黑珠屬肝，白珠屬肺，瞳人屬腎，大角屬大腸，小角屬小腸，（大外小內。）上胞屬脾，下胞屬胃。（夏禹鑄。按：其赤絡屬於心。）</p>
<h4>目胞形色應證篇</h4>
<p>凡已見面目五色生克篇、門戶井灶篇者，不復重具，以省繁文，當與前後諸篇參看。</p>
<p>蹺脈氣不榮，則目不合。（以下出《內經》。）</p>
<p>視人之目窠上，微癰，如新臥起狀，其頸脈動，時咳，按其手足上，　而不起者，風水膚脹也。（凡上下胞壅起者，皆脾胃有濕。）</p>
<p>眼胞上下如煙煤者，寒痰也。（以下出李士材。）</p>
<p>目下灰色為寒飲，眼黑頰赤為熱痰。眼黑而行走艱難，呻吟者，寒濕入骨也。眼黑而面赤如土色，四肢痿痹，屈伸不便者，風痰也。眼上下有青色暈者，多欲勞傷，精神不爽，即夜未睡。</p>
<p>面黃白及腫連眼胞者，穀疸，其人必心下痞。</p>
<p>大　破爛，肺有風也。小　破爛，心有熱也。上胞腫，脾傷也。下胞青色，胃有寒也。脾間積熱，及宿食不消，則生偷針。</p>
<p>按：小兒目胞微腫者常也，以其乳食，胃中濕氣當盛也；若腫甚者，中有停滯也。壯年目胞腫不退者，是生而脾氣不足，常受肝制，其人多怒而少壽。</p>
<h4>目睛形色應證篇</h4>
<p>十二經脈，三百六十五絡，其血氣皆上於面，而走空竅。其精陽氣上走於目，而為睛。</p>
<p>按：凡病雖劇，而兩眼有神，顧盼靈活者吉，以目為五臟十二經之精氣所發見也。</p>
<p>五臟六腑之精氣，皆上注於目，而為之精。精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精為約束，裹擷筋骨血氣之精，而與脈並為系，上屬於腦，後出於項中。故邪中於項，因逢其身之虛，其入深，則隨眼系以入於腦，入腦則腦轉，腦轉則引目系急，目系急則目眩以轉矣。邪中其精，其精不相比也，則精散，精散則視歧，視歧見兩物。目者五臟六腑之精也，營衛魂魄之所常營也，神氣之所生也。故神勞則魂魄散，志意亂。是故瞳子黑眼法於陰，白眼赤脈法於陽也，故陰陽合傳而睛明也。目者心之使也，心者神之舍也，故神精亂而不轉，卒然見非常處，精神魂魄散不相得，故曰惑也。</p>
<p>太陽之脈其終也，戴眼。少陽終者，耳聾，目HT　絕系。陽明終者，口目動作。五陰氣俱絕則目系轉，轉則目暈，目暈者死。（目正圓者，　，不治。）</p>
<p>精明者，所以視萬物，別黑白，審短長。以長為短，以白為黑，如是則精衰矣。（骨槁肉脫，氣喘目陷，目不見人，即死，能見人，至其所不勝之時而死。）</p>
<p>腎脈微滑為骨痿，坐不能起，起則目無所見。（《千金方》曰：人有風疹，必多眼昏，先攻其風，其暗自愈。）</p>
<p>陽氣者，煩勞則張，精絕，辟積於夏，使人煎厥，目盲不可視，耳閉不可聽。（氣脫者目不明，脫陰者目盲，熱病目不明者死，髓海不足，腦轉耳鳴脛酸，目無所見也。）</p>
<p>目赤色者病在心，白在肺，青在肝，黃在脾，黑在腎，黃色不可名者，病在胸中。</p>
<p>目色青黃赤白黑者，病在筋。目黃，爪甲上黃者，黃膽。</p>
<p>診寒熱瘰　，有赤脈上下貫瞳子，見一脈，一歲死；見一脈半，一歲半死；見二脈，二歲死；見二脈半，二歲半死；見三脈，三歲死。見赤脈，不上下貫瞳子者，可治也。（診目赤脈法，又詳部位篇。）</p>
<p>診癰疽，白眼青，黑眼小者，逆不治。（《內經》。）</p>
<p>咳而上氣，此為肺脹，其人喘，目如脫狀，脈浮大者，越婢加半夏湯主之。</p>
<p>尺脈浮，目睛暈黃，衄未止；暈黃去，目睛慧了，知衄今止。（仲景。）</p>
<p>白輪變赤，火乘肺也。肉輪赤腫，火乘脾也。黑水神光被翳，火乘肝與腎也。赤脈貫目，火自盛也。凡目暴赤腫起，羞明隱澀，淚出不止，暴翳目　，皆火熱所為也。（子和。）</p>
<p>勇視而睛轉者，風也。直視不轉者，肝絕也。黑珠純黃，凶證也。白珠色青，肝風侮肺也。淡黃色，脾有積滯也。老黃色乃肺受濕熱，疸證也。瞳子屬腎，無光采，又兼發黃，腎氣虛也。（黑珠變黃，腎水為脾土所克，若濕熱新病，猶有可治。久病身重，不能轉側，無論濕寒濕熱，均難措手。石頑。）</p>
<p>體肥氣盛，風熱上行，目昏澀者，胸中濁氣上行也。重則為痰厥，亦能損目。常使胸中氣清，無此病也。暴失明者，是陽為陰閉，當有不測之疾。翳膜者，風熱重也，或斑入眼，此肝氣盛而發於上也，當發散而去之，若疏利則邪氣內蓄，翳反深矣。當以掀發之物，使其邪氣再動，翳膜乃浮，輔以退翳之藥，則自去矣。病久者不能速效，當以歲月除之。（《醫說》。）</p>
<p>目疼，陽明表證。目赤，經絡熱盛。目瞑，漱水，鼻燥，為陽邪上盛，欲解必衄。目黃而頭汗，欲疸。</p>
<p>目不了了，陽明腑實。若睛不和者，少陰熱也。目眩，為痰因火運。目白睛黃，欲發癉也。目直視不能　，或白睛黃，此誤發汗，將欲衄也。目正圓者　，不治。下後目閉，為陰血受傷。目反上瞪，為陰氣上逆。（石頑。此條傷寒。）</p>
<p>肝開竅於目。燥病則目光炯炯，濕病則目光昏蒙。燥甚則目無淚而干澀，濕甚則目珠黃而　爛，或眼胞腫如臥蠶。目有眵有淚，精采內含者，為有神氣；無眵無淚，白珠色藍，烏珠色滯，精采內奪，及浮光外露，皆為無神。凡病開目欲見人者為陽，閉目不欲見人者為陰。目能識人者輕，昏　不識人者危。其直視斜視，上視下視，目睛微定，移時稍動者，有因痰閉使然，又不可竟謂之不治也。（《醫原》。此條溫病，《難經》謂病患閉目不欲見人者，）脈當弦，當是肝邪有餘。</p>
<h3>色診舌色應病類</h3>
<h4>舌部舌色內應臟腑篇</h4>
<p>（附咽喉）</p>
<p>胃足陽陰之脈，循喉嚨。胃足陽明之別，上絡頭項，合諸經之氣，下絡喉嗌。其病氣逆則喉痹卒喑。</p>
<p>肝足厥陰之脈，循喉嚨之後，上入頏顙。其病咽乾。</p>
<p>小腸手太陽之脈，循咽下膈。病則咽痛。</p>
<p>脾足太陰之脈，夾咽，連舌本，散舌下。病則舌本強痛。</p>
<p>心手少陰之脈，從心系上夾咽，病則咽乾。心手少陰之別，系舌本。其病虛則不能言。</p>
<p>腎足少陰之脈，循喉嚨，夾舌本，其病舌乾咽腫。</p>
<p>膀胱足太陽之筋，入結舌本。腎足少陰之筋，結於枕骨，與足太陽之筋合。（按：合則亦入結舌本矣。上出《內經》。）</p>
<p>舌者，心之竅也。凡病俱見於舌。舌尖主心，舌中主脾胃，舌邊主肝膽，舌根主腎。（江筆花）</p>
<p>舌之尖屬心經，中心至根屬腎經，兩旁肝膽，四邊脾經。（四邊謂中心之四圍，平面之處也。兩旁，謂極邊兩側，向外之處也。）鋪面白苔是肺經。（此謂本來自有之白苔也。）滿舌皆是胃經。又舌尖是上脘所管，中心是中脘所管，舌根是下脘所管。此舌上一定之部位也。（胡玉海《傷寒一書》。）</p>
<p>至論顏色，黃苔胃經，黑苔脾經，紅苔膽經，紫紅苔腎經，苔上起楊梅刺焦干，黑中有紅點者是肝經。再純黑亦是脾經，鮮紅有刺，亦是膽經，此各經一定之顏色也。其或黑與黃間，紅與紫呈，白與黃雜，紅與黑形。此兼經互呈之顏色也。（同上。）</p>
<p>按：苔無紅色，是舌質也。前人皆苔質不分，今特辨之如下。</p>
<h4>舌質舌苔辨</h4>
<p>（新訂）</p>
<p>前人之論舌診詳矣，而只論舌苔，不論舌質，非不論舌質也，混苔與質而不分也。夫舌為心竅，其伸縮展轉，則筋之所為，肝之用也。其尖上紅粒細於粟者，心氣夾命門真火而鼓起者也。其正面白色軟刺如毫毛者，肺氣挾命門真火而生出者也。至於苔，乃胃氣之所熏蒸，五臟皆稟氣於胃，故可借以診五臟之寒熱虛實也。若推其專義，必當以舌苔主六腑，以舌質主五臟。舌苔可刮而去者，氣分之事，屬於六腑；不可刮，即漸侵血分，內連於臟矣。舌質有變，全屬血分與五臟之事。前人書中有所謂舌苔當分有地無地者，地即苔之裡層，不可刮去者也，亦無與於舌之質也。嘗見人無他苦，但苦常滑遺，視其舌，中心如錢大，光滑無苔，其色淡紫。又見患胃氣痛者，其舌質常見通體隱隱藍色。此皆痰血阻於胃與包絡之脈中，使真氣不能上潮，故光滑不起軟刺，是血因寒而瘀也。通體隱藍，是濁血滿布於細絡也。故舌苔無論何色，皆屬易治。舌質既變，即當察其色之死活。活者，細察柢裡，隱隱猶見紅活，此不過血氣之有阻滯，非臟氣之敗壞也。死者，柢裡全變，干晦枯萎，毫無生氣，是臟氣不至矣，所謂真臟之色也。故治病必察舌苔，而察病之吉凶，則關乎舌質也。以下諸篇，所論已詳，讀者當細思之。</p>
<p>按：劉河間極論玄府之功用，謂眼耳鼻舌身意，皆借玄府以成其功用者也。上言舌體隱藍，為濁血滿布於細絡，細絡即玄府也。所謂濁血滿布，是血液之流通於舌之玄府者，皆夾有污濁之氣也。或寒氣凝結，或痰涎阻滯於胃與包絡之脈中，致血液之上潮者，不能合於常度，即污濁之氣生矣，非必其血腐敗而後然也。若果敗血滿塞於中，有不舌強硬而死者耶。</p>
<h4>舌苔有根無根辨</h4>
<p>（新訂）</p>
<p>脈有有根無根之辨，舌苔亦何獨不然。前人只論有地無地，此只可以辨熱之浮沉虛實，而非所以辨中氣之存亡也。地者，苔之裡一層也；根者，舌苔與舌質之交際也。夫苔者，胃氣濕熱之所熏蒸也。濕熱者，生氣也。無苔者，胃陽不能上蒸也，腎陰不能上濡也。前人言之晰矣。至於苔之有根者，其薄苔必勻勻鋪開，緊貼舌面之上，其濃苔必四圍有薄苔輔之，亦緊貼舌上，似從舌裡生出，方為有根。若濃苔一片，四圍潔淨如截，頗似別以一物塗在舌上，不是舌上所自生者，是無根也。此必久病，先有胃氣而生苔，繼乃胃氣告匱，不能接生新苔，而舊苔僅浮於舌面，不能與舌中之氣相通，即胃腎之氣，不能上潮以通於舌也。驟因誤服涼藥傷陽，熱藥傷陰，乍見此象者，急救之猶或可復。若病勢纏綿日久，漸見此象，真氣已索，無能為矣。常見寒濕內盛之病，舌根一塊白濃苔，如久經水浸之形，急用溫裡，此苔頓退，復生新薄苔，即為生機。又常見病困將死之人，舌心一塊濃苔，灰黃滯黯，四面無輔，此陰陽兩竭，舌質已枯，本應無苔，而猶有此者，或病中胃強能食，五臟先敗，而胃氣後竭也。或多服人參，無根虛陽結於胸中，不得遽散，其余焰上蒸，故生此惡苔，甚或氣絕之後半日胸中猶熱，氣口脈猶動也。</p>
<h4>傷寒舌苔辨證篇一</h4>
<p>出胡玉海《傷寒一書》，大旨是論濕溫為傷寒後半截事。</p>
<p>頭痛、身熱、惡寒、脈浮滑，陽明太陽。身熱、口燥、脈弦滑，陽明少陽。身熱、舌苔白、脈洪滑，正陽陽明。</p>
<p>舌苔微黃，正陽陽明。舌苔前白後黃，正陽陽明。（按：是上寒下熱，外寒內熱。）前黃後白，正陽陽明。（按：是上脘化熱，而中焦有水飲。）四圍白，中間黃，正陽陽明。白帶灰色，陽明將入太陰。白帶有路，陽明太陰。微白燥黃色，陽明太陰。粉白微紅，陽明少陽。無白微桃紅，陽明少陰。</p>
<p>前半紅，後半白，少陽太陰。前半紅，後半黃，少陰太陰。前半黃，後半黑，陽明太陰。前半黃，後半赤，太陰少陰。前半黃，後半紫，太陰厥陰。純黑色，太陰。</p>
<p>純黃色，太陰。黃分八字，陽明太陰。一邊黃，一邊白，陽明太陰。一邊黑，一邊黃，陽明太陰。焦黑，太陰。潤黑，太陰。花黃灰黑，陽明太陰。純紅，鏡面，太陰。（其形色光如漆桌，如光而不濕，舌下華池皆干者，重。宜細審之。）舌濃如三個濃，少陰。舌闊如三個闊，少陰。舌圓，少陰。</p>
<p>舌平無尖，少陰。（按：舊謂舌邊缺如鋸齒者死。）白苔有一點點紅，陽明少陽。白苔有一點點黑，陽明太陰。白苔有一點點黃，正陽陽明。尖紅後赤，少陰少陽。尖赤後紫，少陰少陽。</p>
<p>以上三十五法，乃辨證之大略，余照此類推之可也。</p>
<p>廣東、福建、浙江、江南揚州分野，魚鹽海濱之地，腸胃脆薄，氣盛血熱，所以風邪一客即病。頭雖痛，不如斧劈，項雖強，尚可轉側，背雖牽制，尚可動搖。風邪入胃，肺則凝塞，所以一日為風，二日為熱，三日為火，熱甚之故。熱與風邪相搏，凝塞成毒。此毒，胃主肌，脾主肉，不在肉而在肌。肌，毛竅之內也。故點點然如斑之狀，如疹之形，紅色鮮明，一日三潮，三日九潮，故毒必三日，雖不治，亦疏散也。脈左寸浮，右關滑，氣口大。無有正傷寒也。故太陽經雖病不病，此陽明之正病也，謂之陽明太陽。舌苔白，一日不口渴，二日不大便，至三四五六日，大便解，則腠理開。汗出而解。</p>
<p>如陽明第四日，血熱成毒，不能發越，毒郁在中，腠理不開，郁遏邪熱，則傳入少陽。一日口渴，左關洪大，右關洪滑，右寸氣口閉遏，此肺經熱邪沖遏，氣道不舒，斑在肌腠，血凝在皮，少陰雖然受熱，而未嘗著病。二日目赤，舌苔紅，耳鳴，左關脈洪大而數，此熱甚邪勝也。第三日譫語，不欲眠，右關洪滑而實。四日斑出則少解，斑不出狂叫不安，右關滑實有力，左關脈洪數微弦，左尺脈虛大，此邪氣將入於裡。第五日耳聾，不欲眠，起坐不休，譫語欲狂，此斑毒不得發越，口乾消水，舌苔紅黃色，邪尚未曾傳裡也；舌苔紅紫色，將入於脾。左關弦，右關實，乙木怒極，熱鬱之甚。耳聾，腎之火閉也。斑毒出於胸項脊背，此陽邪有餘，隱於胸項脊背，此陽毒將陷入陰分。六日大便解，邪氣得下，斑必發出；六日不解，火氣閉於幽門，小便短澀，毒反熏胃，肺閉，大腸熱，目直視，不欲見人，脈數，舌焦。</p>
<p>邪傳太陰，目黃，面黃，此風勝濕鬱，第七日耳聾，口渴，目黃，兩頰黃赤，舌苔焦，脈與六日同，此病尚在陽分未除，邪雖入裡，猶可挽回。</p>
<p>少陽不得解，邪傳入裡，流入太陰脾經。一日右關洪大而軟，左關弦動，左寸閉，此熱邪客於包絡，神昏氣短，白珠紅，肺經郁抑，斑毒則頸項上見者紅色，兩頰無有，心胸不見，季脅有微點，腹上點點紅色，手臂前俱有紅色，舌苔黃黑，雖然傳裡，陽證未除。二日右寸見弦脈，風邪客於肺，將發白斑，氣促者死，鼻扇者死，耳聾者生，面頰紅者生，閉目不欲見人者生，魚口鴉聲者死。第三日右關數，左寸不見，右尺洪大，此邪熱客於腎，唇紫，舌焦黑，目直視，不欲見人，此毒郁於小腸，燥糞不得下，斑隱在肉內，怒狂叫罵者生，口渴消水者生，小便不滋潤者死。第四日左寸閉，左關弦，左尺洪大，右關虛軟，右寸見芤脈，右尺不見，血熱在中焦，斑見藍色。第五日左右手寸關脈不見，兩尺洪大，聲嘶欲哭，斑郁不得發越，目黃身黃者死。第六日尺寸俱無，兩關弦緊，舌苔濕滑，此火甚感寒，頭涼即死，舌苔燥裂，仍為火論。</p>
<p>或陽明第五日斑發不透，邪毒不入少陽，竟入太陰，此非越經傳也，或飲食所傷，或藥餌所誤。太陰一二日，季脅痛，下痢，左關弦軟，右關弦長，氣口脈洪，尺脈大，口渴甚，嘴唇干，舌燥，神氣清，舌苔黃濃，黑灰色。第三日舌根黑，中黃，尖白，目赤面青，左關脈數，右關滑大有力，肺脈大，兩尺脈閉，頭面有斑，頸項無斑，胸背有斑，肚腹無斑，此陽氣不得發越，陰氣凝塞。太陰四日，左三部閉，右關軟，肺脈大，尺脈洪，口渴甚，目紅，面赤，鼻青，唇黑者死，伏斑下陷。太陰五日，尺寸俱浮，右關芤，左關緊，時作寒戰，頭痛，目赤，鼻黑，舌青，唇紫者死，斑毒乘於肝，非傳厥陰，邪中厥陰也。</p>
<p>太陰之脈，利於無力，邪入於脾，氣盛血熱，流於四肢，分布百骸，貫注於心，心神失專其權，是以相火之邪甚熾，心神與相火失位，則一身無所主矣。故四肢百骸俱痛，腹滿口乾，舌黃舌黑，唇燥，五臟與大小腸膀胱三焦皆受其制。脈之細小者，胃氣不傷，脈之滑大者，胃氣已壞。胃主納穀，脾主消穀：胃主受納，脾主轉濡；胃之受納在於肺，脾之轉濡在乎肝。在上者為痰，在下者為糟粕。膈氣實則痰滯於膻中，心氣熱，則糟粕滯於小腸。渴欲飲冷者，膈氣熱也。飲水不小便者，肺葉焦也。肺氣盛者，則大腸之道不行。夫邪在陰分，不利見陽脈；病在陽分，不利見陰脈。太陰之病，利於細小虛軟，不利於洪大滑實。</p>
<p>通其經絡，導其閉塞，毋使風木成邪，致人九竅不通而死。太陰之脈，非獨取右關，左寸左關右尺皆可概見也。獨肺居華蓋，肺氣凝澀，更利於細小，不利於實大。與正傷寒之病，傳入太陰，皆脈大者病進，脈小者病退，有力者病進，無力者病退；滑實者病進，虛軟者病退；緊實者病進，芤軟者病退，洪數者病進，細軟者病退。</p>
<p>如病之外現，目紅面紅，舌紅唇紅，手足搖動，坐立不寧，舌苔焦黑，此毒邪熾盛，脈見細小，此皆有胃氣，不可謂不治也。如目青面青，唇青舌白，脈見微細者，毒瓦斯下陷，將出汗而死矣。太陰病，面赤目赤，唇紫舌黑，兩關見數脈者危，見促脈者死。面白目赤，鼻青唇青，舌苔灰色，左尺右關見緊脈者死。目赤面黃，鼻扇唇青，右寸見數脈，關脈見弦脈，兩尺不應者死。神氣如常，舌苔微黑，兩關見革脈者死。舌黃目青，面白唇白，脈見微弱，手足厥冷，身發白斑者死。舌光如鏡，目紅面青，兩關洪大，兩尺洪數，兩寸不應，毒陷下焦，頸項斑不出者死。舌上芒刺，苔色灰黑，腹胸脹滿，渴甚不欲飲水，右寸見極，右關見軟，左關見澀，結胸者死。舌尖平，季脅痛，舌苔焦黑，時下清水，口渴不欲飲湯水，左尺見結，左寸見代，右關見牢，熱結小腸死。</p>
<p>舌苔黃白，點點紅紫，唇青，面白，目赤，左關見軟，右關見澀，肺脈不應者死。舌苔濃白，上灰黑色，脾部干燥，唇紅，目赤，面白，兩尺不應，左關見軟，右關沉實，兩寸不應，頸項發白斑者死。舌苔紅紫，目赤面黃，唇干胸滿，神氣昏沉，手足厥冷，右關不應，左關弦緊，左尺空大，斑毒陷下者死。舌焦圓濃，華池干燥，唇焦齒黑，目紅面赤，神氣昏憒，脈見細小，頻叫，不知人者死，知人者可生。大便頻解，不知人者死；大便頻解，漸知人者可生。舌不退場門，發戰者死。大便解後，舌不潤轉者死不治。大便解後，神氣倏清，舌雖潤，即出汗者死。大便解後，脈見狂大，必定血從口鼻出，急服更衣散一服，使肝分得涼，藏血可生，如遲，吐血必死。夫病至太陰，死證已多；若傳入少陰，則邪盛正衰，危者十九，死者亦多；傳入厥陰，則風木成邪，九竅將閉，不必為之細論矣。（此篇所論，與溫病相出入，先生亦謂非正傷寒病也。）</p>
<p>凡舌紅面赤，而兩手見陰脈，或脈來搖擺無根，恍惚難憑，舌上肝膽部位，有一點點紫泡如黃豆大者，此熱毒歸臟，不治之證。在左者重，在右者輕，在中間而不在肝膽部位者更輕，察其脈，可救者，須救之。（舊謂舌邊缺如鋸齒者死，即此義也。）</p>
<h4>傷寒舌苔辨證篇二</h4>
<p>出張石頑《傷寒緒論》，中間略據鄙見補注。</p>
<p>舌苔之名，始於長沙，以其邪氣結裡，如有所懷，故謂之胎。（一謂之苔，如地之生苔者。）傷寒邪在表，則苔不生。邪熱傳裡，則苔漸生，自白而黃，黃而黑，黑甚則燥裂矣。要以滑潤而白者為表邪，灰黑濕潤無苔為陰寒，（此即舌質之變色也。）灰黑薄滑為夾冷食，皆不可用寒涼攻下之劑。然中暑夾血，多有中心黑潤者，又不可拘此說。若黃黑灰色而干燥紋裂者為熱極，萬無虛寒夾血之理。（亦有因極熱忽地飲冷而胃口之血瘀結，見黑苔者。）惟屢經汗下，舌雖干而有微薄苔，卻無燥裂芒刺，此為津液耗亡，不可誤認實熱而攻之，必致不救。《金鏡》三十六治法，舉世宗之。又《觀舌心法》一百三十八圖，條分縷析，辨證最詳。其間論紅為瘟熱，紫為酒毒，霉醬為夾食，藍為肝臟純色，迥出前人未備，所嫌舍本逐末，未免繁紊無綱領。因括其捷要，辨論於下：如白苔者，邪傷氣分，肺主氣而色白，又主皮毛，故凡白苔，猶帶表證；仲景以為胸中有寒，止宜和解，禁用攻下，攻下必致結痞，變證不測。若溫病、熱病，一發便壯熱，昏憒燥渴，舌正赤（此即舌質）而有白滑苔，即當用白虎湯汗之。（白虎湯雖可生汗，初起總宜略加表藥。）時疫初起，舌上白苔如積粉者，達原飲解之。若傷寒邪入胃腑，則白苔中黃；邪傳少陰，則白中變黑。若純色為一經證，邊與中間兩色俱傳經證。若從根至尖直分兩路者，是合病與夾陰舌也。合病則白中兼兩路黃，夾陰則白中兼兩路黑潤及灰色也。從根至尖橫分兩三截苔色者，是並病舌也。（合病並病，分別含混。合病者，一邪而傷兩經也，或雖由此經傳彼經，而仍是寒邪，謂兩經合病於一邪也。並病者，此經寒邪蘊為彼經熱病，或一經而有寒熱之兩病，謂兩邪並病於一身也。舌苔之直分橫截，與此渾不相涉。直分二三路者，以表裡分也。中間為裡，兩邊為表，左為肝膽，右為脾胃。橫分兩三截者，以三焦分也。尖為上焦，中為中焦，根為下焦，視其色以決其寒熱虛實也。）故尖白根黃，尖白根黑，及半邊苔滑者，雖證類不同，皆屬半表半裡。白苔多而滑、黃黑苔少者，表證多也，尚宜和解。黃黑苔多而白苔少，或生芒刺黑點干燥者，裡證多也，必下無疑。雖中心黃黑，而滑潤邊白者，此為表證未盡。（所謂表證未盡，即風寒尚未全化熱也。鄙見即化熱，仍是表邪，與真正裡證，總是不同。）傷寒則大柴胡兩解之，溫熱時疫則涼膈散或白虎合承氣攻下之。又傷寒壞病，雖白而濃，甚燥裂者，此為邪耗津液，宜小柴胡稍加芒硝微利之。純白滑苔，為胃虛寒飲結聚膈上之候，每於十三四日過經致變，不可泛視也。一種白濃苔，如煮熟色到底不變者，必裡挾寒物留滯不散，致脈伏不出，乃心脾氣絕，肺氣受傷也，慎不可下。（寒滯不化，可用溫下。）宜枳實理中湯，熱甚，合小陷胸下之。至於能食自利而白苔滑者，為臟結難治也。黃連湯、連理湯、備急丸選用，間有得生者。</p>
<p>黃苔者，陽明腑實也。黃濕而滑者，為熱未盛，結當未定，不可便攻，攻之必致初硬後溏也。冬時宜確守此例，俟結定乃攻，不得已，大柴胡微利之。若在夏月，一見黃苔，便宜攻下。以夏月伏陰在內，多有下證最急而苔不燥者，不可泥也。若黃而燥者，為熱已盛，峻下無疑。黃而生芒刺黑點者，為熱勢極。黃而瓣裂者，為胃液干，下證尤急也。諸黃苔皆屬胃熱，分緩急輕重下之。有種根黃而硬，尖白而中不甚干，亦不滑，短縮不能伸出，譫妄煩亂者，（與前條半表半裡證不同。）此痰挾宿食占據中宮也，大承氣加生薑半夏主之。有舌色青紫（此即舌質。）而苔卻黃濃，甚則紋裂，但覺口燥，舌仍不干者，此陰證夾食也。（青紫是有瘀血，非陰證也，是濕邪蘊積，深陷於血分之象。）脈或沉細而伏，或虛大而澀，按其心下或臍旁硬痛，（結痰與瘀血相挾，多有此脈象證候。）</p>
<p>而時失氣者，（若常失氣，非有宿食燥屎，即當為氣脫矣。）急宜大承氣，另煎生附子佐大黃下之。若脈虛大者，黃龍湯主之，熱極煩躁者，更加生地、麥冬，夏月尤宜。若冬時陰證夾食，而舌上苔黃不燥者，宜用附子理中合小承氣下之。大抵舌有積苔，雖見陰象，亦是虛中有實，急當攻下無疑，但下法與尋常不同耳。又中宮有痰飲水血者，舌多不燥，不可因其不燥，而延緩時日致誤也。凡溫病熱病稍見黃白苔，無論燥潤，即宜涼膈雙解。時行疫癘稍見白苔，即宜白虎、達原。若見黃黑，無論干濕，大承調胃，急奪無疑。</p>
<p>黑苔者，少陰腎色也。（血分瘀濁之極也。燥硬而隱隱見紫者，是因熱灼，以致血敗。柔潤而隱隱見淡者，水飲結而氣不流行，以致血瘀也。）若五六日後，熱傳少陰，火乘水位，亢極之火，不為水衰，反兼水化，（五行空談，陋習也。此只是熱邪深入，陰液全干，血瘀氣濁，發見枯滯之死色也。）如火過炭黑是也。始因表證失汗，（所以瘀也。）致邪入少陰，下之即愈。然有屢下，熱不減，苔不退者，此必宿食留滯於中宮也，宜黃龍東加炮薑、川連。有誤用汗下太過，津液枯竭，（所以瘀也。）而苔燥黑者，此為壞病，須量人虛實為治。虛者其苔必薄而潤，生脈散合附子理中；實者其苔必濃而燥，生脈合黃連解毒；（解毒即三黃湯。）一則陰虛陽亢，一則陽虛陰亢，不可不審。熱勢盛劇，則黑苔上生芒刺，及燥裂分隔瓣者，須用青布蘸薄荷湯拭潤，更以薑片刮去芒刺，撅起隔瓣，看刺下瓣底，（即舌質也。）色紅可治，急下之；若俱黑，不治矣。又黑苔腐爛者，心腎俱絕；舌黑而卷縮者，肝絕；皆不可治。舌黑及灰或黃，而發　生蟲腐爛，雖為濕熱，亦屬肝傷，俱為危候。又中間一路潤黑燥苔，質潤而苔燥也。兩邊或黃或白者，兩感舌也。（此或夙有蓄血，內正虛，外邪實，非兩感也。篇中說兩感皆未合。）</p>
<p>邊黃則調胃承氣，邊白則大柴胡下之。若中間一路黑滑薄苔，兩邊白滑，此表裡俱虛，胃中雖有留結，急宜附子湯溫之。凡黑苔多凶，（心氣為瘀血所阻，邪氣內潰甚速。）黑而干燥或芒刺瓣裂，皆為實熱，急宜下奪。黑薄濕潤，或兼白滑者，皆為陰寒，急當溫經也。一種中黑而枯，或略有微刺，色雖黑而中無積苔，舌形枯瘦，而不甚赤，（此即舌質。）其證煩渴耳聾，身熱不止，大便五六日或十余日不行，腹不硬滿，按之不痛，神識不昏，晝夜不得睡，稍睡或呢喃一二句，或帶笑，或嘆息，此為津枯血燥之候，急宜炙甘草湯，或生料六味丸，換生地，合生脈散，加桂，滋其化源，庶或可生。誤與承氣必死，誤與四逆亦死。</p>
<p>凡舌苔或半黃半黑，或半黃半白，或中燥邊滑，或尖干根潤，皆為傳並之邪，寒熱不和之候。大抵尖黑稍輕，根黑至重，黃黑宜大承氣，兼白者宜涼膈散，分緩急下之。若全黑，為死現舌，不治。（心血全瘀，）夏月熱病，邪火時火，內外燔灼，苔黑易生，猶可攻治。冬月傷寒，舌苔全黑，決難救也。（此乃指黑而潤者，是血因寒而瘀，夏熱瘀易行，冬寒瘀難行也，若熱瘀，即冬夏皆凶。）然中暑誤認外感，而加溫復，多致中黑，邊極紅而潤，脈必虛大，急用白虎湯清之，虛者加人參、竹葉。如更誤認陰寒，而與熱藥，必致煩躁不救也。夏月中暑，多有黑舌，黑而中干者，白虎無疑。黑而滑潤，或邊白者，必夾寒食。（前以此為兩感，為表裡俱虛，此以為夾寒食，當以此文為得之。然尚遺卻蓄血一證。蓄血有寒有熱，亦辨於苔之潤燥也。夾痰者，多見灰色之苔，總因邪氣關及血分致此。）古法用大順散，然不若理中合小陷胸最當。若直中少陰真寒，始病不發熱，舌心便黑色，（如此必昏厥矣。）非由黃白變化，其苔雖黑而滑，舌亦瘦小，此真臟寒，必厥冷，自利嘔吐，脈沉遲，四逆附子輩急溫之，稍緩則不可救。</p>
<p>灰黑舌者，足三陰互病，如以青黃和入黑中，則為灰色也。（痰水主於脈中，致血微停瘀也。）然有傳經直中之殊，蓋傳經熱邪，始自白苔而黃，黃而灰黑，或生芒刺黑點，紋裂干燥，不拘在根在尖，俱宜攻下泄熱，有淡灰色，中起深黑重暈者，（此病久寒熱互結，或夙有痰飲蓄血，又新加以停滯也。若因內傳一次，即見一重也，於理難通，或者邪氣化寒、化熱、化燥、化濕，轉變一次，即增一重，亦或傷冷、傷熱、傷食、傷飲，多傷一次，即增一重也。）乃溫病熱毒。急用涼膈雙解治之。熱毒內傳一次，見暈一重，傳二、三次，見二、三重也。若見三重者，不治。若直中三陰，始病無燥熱，便見灰色，舌潤無苔，更不變別色者，此必內夾寒食，及冷痰水飲，或蓄血如狂等證，當隨證治之。又有感冒夾食，屢經汗下消導，二便已通，而舌上灰黑未退或濕潤，或雖不濕，亦不干燥者，不可因其濕，誤認為寒，妄投薑附。亦不可因其不潤，誤與硝黃。此因汗下過傷津液，虛火上炎所致，其脈必虛微少力，治宜救陰為急，雖無心悸脈代，當用炙甘草湯主之。內有生地、阿膠、麻仁、麥冬之甘潤，可以滋陰潤燥。蓋陽邪亢盛，則用硝黃以救陰，陰血枯涸，則宜生地以滋陰，可不辨乎。</p>
<p>紅色者，心之正色也。若紅極為溫熱之毒，蘊於心胃，及瘟疫熱毒內盛也。若濕者，不可便下，解毒湯或白虎。紅中有白苔者，更感非時之寒也，桂枝白虎湯。紅中夾兩路灰色苔者，溫熱而夾寒食也，涼膈散加消導藥一、二味。紅中有黑苔者，熱毒入少陰也，大承氣合白虎湯。紅極有黃黑芒刺者，熱毒入腑也，調胃承氣湯。紅極有紫紅斑，及遍身發斑者，陽毒入心也，人參白虎東加犀角、黃連。紅極而紋裂者，燥熱入肝也，大承氣加柴胡、白芍，甚則加芩、連。坑爛者，濕熱入脾也，小承氣加芩、連、半夏。白　者，火氣燔灼也，（浮淺不入血脈，止起白　。）三黃石膏去麻黃。紫瘡者，火氣鬱伏也，解毒湯。紅星者，（即紅珠鼓起也。）心包火炎也，涼膈散。一種柔嫩如新生，望之似潤，而燥涸殆甚者，為妄行汗下，津液竭也，多不治。急宜生脈散和人參三白湯主之。舌痿不能轉動者，肝絕，舌忽瘦而長，心絕也。</p>
<p>紫色者，酒後傷寒也。世俗庸愚，往往受寒，不服湯藥，用薑、蔥、酒發汗，汗未當而酒毒藏於心包，多有此證。（有化為濕溫者，有化為酒毒者，推其所以，皆由寒氣束於大表，酒力不能外行，而內積於胃與包絡也。）若純紫，或中間略帶白苔而潤者，宜葛根東加石膏。若紫中有紅斑，或紫而干黃，紫而短縮，俱宜涼膈散下之。若全紫而干，如煮熟肝者，死肝色也，其證必厥冷，脈必沉滑。（血脈瘀阻，陽郁不達。）此陽極似陰也。急宜當歸四逆東加酒大黃下之。（再加桃仁。）然多不救。（當歸四逆尚嫌近補，大黃又嫌泄氣。此證宜宣散，而化血通脈，使血開氣達。）大抵深紫而赤者，是陽熱酒毒，宜用苦寒解毒。</p>
<p>（宜重化瘀。）若淡紫而帶青滑者，是則中腎肝陰證，急宜吳茱萸湯、四逆湯溫之。（宜兼化瘀。）然亦有中心生薄青紫苔，或略帶灰黑而不燥不濕下證復急者，此熱邪傷於血分也，犀角地黃東加酒大黃微利之。</p>
<p>（紅紫二舌，均指舌質言之，固無紅苔，亦斷無紫苔，其有見紫苔者，必舌面已腐，或微黑苔，與赤紅相映而然也。）</p>
<p>霉醬色苔舌者，乃夾食傷寒也。食填太陰，郁遏不得發越，久之　而成醬色也。其證腹滿時痛者，桂枝加枳、朴、橘、半，痛甚加大黃。因冷食不消，加炮薑、厚朴，甚則調胃承氣加炮薑下之。如胃氣絕，脈結代，唇吊齒燥，下利者死。（按：此即沉香色也。總是血瘀氣濁所致。濕熱夾痰，亦常有之，不僅夾食也。）</p>
<p>藍苔色舌者，肝臟純色也。（含糊。）傷寒日久，屢經汗下，失於調理，致胃氣傷極，心火無氣，脾土無依，則肺金不生；肝木無制，侮於脾土，故苔色如靛；或兼身生藍斑，乃心脾肺三臟氣絕於內也，必死。</p>
<p>如微藍色，而不甚深，或略見藍紋者，為木受金傷，臟氣未絕，脈不沉澀，而微弦者，可治。</p>
<p>（此語極有道理，惜欠發明。沉澀者，正氣不至，脈形斷續不勻也。微弦者，氣能至而血阻之，故脈形繃急也。）小柴胡加肉桂、炮薑主之。（按：常見癇厥，及胃氣久痛者，舌體全藍，此亦瘀血在胃，肝氣不舒也。故青黑藍絳，皆謂之濁，皆涉血分，須辨寒、熱，燥、濕及痰血、宿食、燥屎、症塊而治之，總以松動血分為主。）舌之證類雖繁，不外八種苔色，撮其大要，亦辨證之一助也。（張石頑《傷寒緒論》。）</p>
<h4>溫熱舌苔辨證篇</h4>
<p>（出葉天士《溫熱論》）</p>
<p>若三焦不從外解，必致裡結，裡結於何，陽明胃大腸也。凡人之體，脘在腹上，其位居中。或按之痛，或自痛，或痞脹，當用苦泄，以其入腹近也。必驗之於舌。</p>
<p>舌苔或黃或濁，可與小陷胸湯或瀉心湯，隨證治之。或白不燥，或黃白相兼，或灰白不渴，慎不可遽投苦泄。其中有外邪未解，裡先結者，或邪菀未伸，或素屬中冷者，雖有脘中痞悶，宜從開泄，宣通氣滯，以達歸於肺，如近俗杏、蔻、橘、桔等，是輕苦微辛，具流動之品可耳。</p>
<p>再前云或黃或濁，須要有地之黃。若光滑者，乃無形濕熱，中有虛象，大忌前法。其臍以上為大腹，或滿，或脹，或痛，此必邪已入裡矣。表證必無，或十之存一，亦要驗於舌。或黃甚，或如沉香色，或老黃色，或中有斷紋，皆當下之，如小承氣東加檳榔、青皮、枳實、元明粉、生首烏等。若未現此等舌，不宜用此等法。恐其中有濕聚太陰為滿，或寒濕錯雜為痛，或氣壅為脹，又當以別法治之。</p>
<p>再黃苔不甚濃而滑者，熱未傷津，猶可清熱透表；若雖薄而干者，邪雖去而津受傷也，苦重之藥當禁，宜甘寒輕劑可也。</p>
<p>再論其熱傳營，舌色必絳。絳，深紅色。初傳，絳色中兼黃白色，此氣分之邪未盡也，泄衛透營，兩和可也。純絳鮮澤者，包絡受病也，宜犀角、鮮生地、連翹、鬱金、石菖蒲等。延之數日，或平素心虛有痰，外熱一陷，裡絡就閉，非菖蒲、鬱金所能開，須用牛黃丸、至寶丹之類，以開其閉，恐其昏厥為痙也。</p>
<p>再色絳而舌中心干者，乃心胃火燔，劫爍津液，即黃連、石膏亦可加入。若煩渴煩熱，舌心干，四邊色紅，中心或黃或白者，此非血分也，乃上焦氣熱爍津，急用涼膈散散其無形之熱，再看其後轉變可也，慎勿用血藥，以滋膩難散。至舌絳，望之若干，手捫之原有津液，此津虧，濕熱熏蒸，將成濁痰，蒙閉心包也。</p>
<p>再有熱傳營血，其人素有瘀傷宿血在胸膈中，挾熱而摶，其舌色必紫而暗，捫之濕，當加入散血之品，如琥珀、丹參、桃仁、丹皮等。不爾，瘀血與熱為伍，阻遏正氣，遂變如狂、發狂之證。若紫而腫大者，乃酒毒衝心。若紫而干晦者，腎肝色泛也，難治。</p>
<p>舌色絳而上有黏膩似苔非苔者，中挾穢濁之氣，芳香逐之。舌絳欲伸退場門，而抵齒難驟伸者，痰阻舌根，有內風也。舌絳而光亮，胃陰亡也，急用甘涼濡潤之品。若舌絳而干燥者，火邪劫營，涼血清火為要。舌絳而有碎點白黃者，當生疳也；大紅點者，熱毒乘心也，用黃連、金汁。其有雖絳而不鮮，干枯而痿者，腎陰涸也，急以阿膠、雞子黃、地黃、天冬等救之，緩則恐涸極而無救也。</p>
<p>其有舌獨中心絳干者，此胃熱、心營受灼也。當於清胃方中，加入清心之品，否則延及於尖，為津干火盛也，舌尖絳獨干，此心火上炎，用導赤散瀉其腑。</p>
<p>再舌苔白濃而干燥者，此胃燥氣傷也，滋潤藥中加甘草，含甘守津還之意。舌白而薄者，外感風寒也，當疏散之。若白干薄者，肺津傷也，加麥冬、花露、蘆根汁等輕清之品，為上者上之也。若白苔絳底者，濕遏熱伏也，當先泄濕透熱，防其就干也。勿憂之，再從裡透於外，則變潤矣。初病舌就干，神不昏者，急加養正透邪之藥；若神已昏，此內匱矣，不可救藥。</p>
<p>又不拘何色，舌上生芒刺者，皆是上焦熱極也，當用青布拭冷薄荷水揩之，即去者輕，旋即生者險矣。</p>
<p>舌苔不燥，自覺悶極者，屬脾濕盛也。或有傷痕血跡者，必問曾經搔挖否，不可以有血而便為枯證，仍從濕治可也。再有神情清爽，舌脹大不能退場門者，此脾濕胃熱，鬱極化風，而毒延口也，用大黃磨入當用劑內，則舌脹自消矣。</p>
<p>再舌上白苔黏膩，吐出濁濃涎沫，口必甜味也，為脾癉病。乃濕熱氣聚，與穀氣相搏，土有餘也，盈滿則上泛，當用省頭草芳香辛散以逐之則退。若舌上苔如鹼者，胃中宿滯挾濁穢鬱伏，當急急開泄，否則閉結中焦，不能從膜原達出矣。</p>
<p>若舌無苔，而有如煙煤隱隱者，不渴肢寒，知挾陰病。如口渴煩熱，平時胃燥舌也，不可攻之。若燥者，甘寒益胃；若潤者，甘溫扶中。此何故，外露而裡無也。</p>
<p>若舌黑而滑者，水來克火，為陰證，當溫之。若見短縮，此腎氣竭也，為難治。欲救之，加人參、五味子，勉希萬一。舌黑而干者，津枯火熾，急急瀉南補北。若燥而中心濃　者，土燥水竭，急以鹹苦下之。</p>
<p>舌淡紅無苔者，或干而色不榮者，當是胃津傷，而氣無化液也。當用炙甘草湯，不可用寒涼藥。</p>
<p>若舌白如粉而滑，四邊色紫絳者，溫疫病初入膜原，未歸胃腑，急急透解，莫待傳陷而入，為險惡之病，且見此舌者，病必見凶，須要小心。</p>
<h4>雜病舌苔辨證篇</h4>
<p>（仍與傷寒溫病相出入。）</p>
<p>舌之有苔，猶地之有苔。地之苔，濕氣上泛而生，舌之苔脾胃津液上潮而生。故平人舌中，常有浮白苔一層，或浮黃苔一層，夏月濕土司令，苔每較濃而微黃，但不滿不板。其脾胃濕熱素重者，往往終年有白濃苔，或舌中灰黃，至有病時，脾胃津液為邪所郁，或因瀉痢，脾胃氣陷，舌反無苔，或比平昔較薄。（嘗診寒濕誤服涼劑，呃逆不止，身黃似疸，而舌淨無苔，脈象右關獨見沉細無力，此脾胃氣陷之征也。凡水氣凌心，胃陽下陷，每忽變無苔，日久即變暗變紫矣。）其胃腎津液不足者，舌多赤而無苔，或舌中有紅路一條，或舌尖舌邊多紅點，此平人舌苔之大較也。（嘗見平人舌心錢大一塊光亮淡紫色，但常苦夢遺，無他病也。）</p>
<p>若夫有病，則舌必見苔，病藏於中，苔顯於外，確鑿可憑，毫厘不爽，醫家把握，首賴乎此，是不可以不辨。</p>
<p>風寒為寒燥之邪，風溫為溫燥之邪。風寒初起在表，風溫首傷肺經氣分，故舌多無苔，即有黃白苔，亦薄而滑，漸次傳裡，與胃腑糟粕相為摶結，苔方由薄而濃，由白而黃，而黑而燥，其象皆板滯不宣。迨下後，苔始化腐，腐者，宣松而不板實之象，由腐而退，漸生浮薄新苔一層，乃為病邪解盡。</p>
<p>其有初起白苔，即燥如白砂者，名曰砂苔。此溫燥之邪過重，宜速下之，佐以甘涼救液。亦有苔至黑而不燥者，或黃黑苔中，有一、二條白者，或舌前雖燥，舌根苔白濃者，皆夾濕夾痰飲之故，亦有苔雖黃黑，澆薄而無地質者，胃陰虛故也。苔有地質與無地質，此虛實之一大關也。（嘗見有舌根白苔板濃，如水久泡形，而兩邊現紅肉兩點者，是下焦寒水盛結，真陽不宣也。）</p>
<p>濕為濁邪，兼證最多。風濕傷表，苔多滑白不濃；寒濕傷裡，苔多膩白而濃。</p>
<p>暑溫、濕溫、溫疫、溫熱皆濕土鬱蒸之氣。冬溫，因陽不潛藏，亦濕土鬱蒸之余氣。數者皆從口鼻吸入肺胃膜原，由裡而發。春溫為冬傷於寒，寒鬱久而化熱，寒燥之氣，又能搏束津液水飲，伏於膜原，與熱混合，亦由裡而發。暑濕晚發，名曰伏暑，因夏傷暑濕，伏於膜原，秋日涼燥之氣，又從外搏遏在內之暑濕，此由表邪引動裡邪而發，暑濕瘧疾，亦多由此。是伏邪、時邪皆由裡發，即多夾濕，故初起，舌上即有白苔，且濃而不薄，膩而不滑，或粗如積粉，或色兼淡黃；迨傳胃化火，與糟粕相摶，方由白而黃而黑而燥；其暑溫、濕溫之邪，多黃白混合，似黃似白，或黃膩，或灰黃，而皆不燥。此等舌苔，即有下證，或大便不通不爽；宜熟大黃緩下之，以舌苔不燥，腸中必無燥糞，多似敗醬汁，故不宜猛下。此燥邪、濕邪、燥濕混合之邪舌苔之大較也。（上石芾南《醫原》。）</p>
<p>舌者心之竅，凡病俱現於舌，能辨其色，證自顯然。舌尖主心，舌中主脾胃，舌邊主肝膽，舌根主腎。假如津液如常，口不燥渴，雖或發熱，尚屬表證。若舌苔粗白，漸濃而膩，是寒邪入胃，夾濁飲而欲化火也。此時已不辨滋味矣，宜用半夏、藿香。迨濃膩而轉黃色，邪已化火也，用半夏、黃芩。若熱甚失治，則變黑色，胃火甚也，用石膏、半夏。或黑而燥裂，則去半夏，而純用石膏、知母、麥冬、花粉之屬以潤之。至濃苔漸退，而舌底紅色者，火灼水虧也，用生地、沙參、麥冬、石斛以養之，此表邪之傳裡者也。其有脾胃虛寒者，則舌白無苔而潤，甚者連唇口面色俱痿白，此或泄瀉，或受濕，脾無火力，速宜黨參、焦朮、木香、茯苓、炙草、乾薑、大棗以振之。虛甚欲脫者，加附子、肉桂。若脾熱者，舌中苔黃而薄，宜黃芩。心熱者，舌尖必赤，甚者起芒刺，宜黃連、麥冬、竹卷心。肝熱者，舌邊赤或芒刺，宜柴胡，黑山梔。其舌中苔濃而黃者，胃微熱也，用石斛、知母、花粉、麥冬之類。若舌中苔濃而黑燥者，胃大熱也，必用石膏、知母；如連牙床唇口俱黑，則胃將蒸爛矣，非石膏三、四兩，生大黃一兩，加糞金汁、人中黃，鮮生地汁、天冬麥冬汁，銀花露大劑投之，不能救也。此唯時疫發斑及傷寒症中多有之。嘗治一獨子，先後用石膏至十四斤余，而斑始透，病始退，此其中全恃識力。再有舌黑而潤澤者，此系腎虛，宜六味地黃湯。若滿舌紅紫色而無苔者，此名絳舌，亦屬腎虛，宜生地、熟地、天冬、麥冬等。更有病後絳舌，如鏡發亮而光，或舌底嗌干而不飲冷，此腎水虧極，宜大劑六味地黃湯投之，以救其津液，方不枯涸。（上江筆花《醫鏡》。）</p>
<p>苔因內熱，致脾氣閉滯不行，飲食津液停積於內，故苔見於外，若脾氣不滯，則飲食運化，津液流通，雖熱甚，不必有苔也。（吾每診寒濕內盛者，往往舌不見苔，及服溫散之劑，乃漸生白苔，轉黃而病始愈矣。）舌青，或青紫而冷滑者為寒證。青紫而焦燥。或脹大，或卷縮者，為熱證。寒甚亦必卷縮，筋脈得寒而收引也，然必不焦燥，凡舌強硬短縮，而神昏語亂者，不治。亦有痰病，而舌本硬縮，及神昏不語者，當以形證色脈參之。熱病，舌本爛，熱不止者死。傷寒，陰陽易，舌出數寸者死。</p>
<p>（按：此乃房勞復，非陰陽易也。上郭元峰《脈如》。）</p>
<p>天中發黑色，兩顴上發赤色應之者，不出六十日兵死。若年上發赤色應之者，不出三十日死。若命門上發赤色應之者，（相法以耳前為命門，兩眉之間為命宮。）不出百日市死。婦人產死、兵死同。（《千金翼方》。）</p>
<p>婦人臨產，或難產之際，欲知生死吉凶者，但視產婦面青、唇青、舌青，口吐涎沫，大出不可止者，母子俱死也。唇見青色，而舌赤者，母死子活，唇面俱赤如常，獨舌青者，子死母活。（上巢氏。）</p>
<p>舌乃心之苗，紅紫，心熱也；熏黑、心火極也；（亦有寒濕。）淡白，虛也。</p>
<p>鼻準與牙床乃脾之竅。鼻紅燥，脾熱也。慘黃，脾敗也。牙床紅腫，熱也。破爛，脾胃火也。</p>
<p>唇乃脾胃之竅，紅紫熱也，淡白虛也，如漆黑者，脾胃將絕也。口右扯，肝風也；左扯，脾之痰也。</p>
<p>鼻孔肺之竅，干燥，熱也。流清涕，寒也。</p>
<p>耳與齒乃腎之竅，耳鳴、氣不和也；齒如黃豆，腎氣絕也。</p>
<p>目乃肝之竅，勇視而睛轉者，風也；直視而不轉睛者，肝氣將絕也。以目分言之，又屬五臟之竅。黑珠屬肝，純是黃色，凶症也。白珠屬肺，色青，肝風侮肺也；淡黃色，脾有積滯也；老黃色，乃肺受濕熱，疸症也。瞳人屬腎，無光采，又兼發黃，腎氣虛也。大角屬大腸，破爛，肺有風也。小角屬小腸，破爛，心有熱也。上皮屬脾，腫，脾傷也。下皮屬胃，青色，胃有寒也。上下皮睡合不緊，露一線縫者，脾胃虛極也。</p>
<p>面有五位，五臟各有所屬。額屬心，離火也。左腮屬肝，震木也。右腮屬肺，兌金也。唇之上下屬腎，坎水也。五臟，裡也。六腑，表也。小腸，心之表，小便短黃澀痛，心熱也；清長而利，虛也。胃乃脾之表，唇紅而吐，胃熱也，唇慘白而吐，胃虛也；唇色平常而吐，作傷胃論。大腸，肺之表，閉結，肺有火也。肺無熱而便閉，必血枯，不可通下。脫肛。肺虛也。膽乃肝之表，口苦，肝旺也；聞聲著嚇，肝虛也。（亦是心包有痰。每聞聲，即四肢驚掣。）膀胱、腎之表，居臍下氣海之右，有名無形，筋腫筋痛，腎水之寒氣入膀胱也。</p>
<p>面有五色，一曰紅，紅病在心，面紅者熱。一曰青，青病在肝，面青者痛。一曰黃，黃病在脾，面黃者脾傷。一曰白，白病在肺，面白者寒。一曰黑，黑病在腎，面黑而無潤澤，腎氣敗也。望其色，若異於平日，而苗竅之色，與面色相符，則臟腑虛實，無有不驗者矣。（苗竅，即《千金方》門戶井灶之義，非僅以辨五臟之部位也。）</p>
<p>臍風者，風寒由臍入也，發於七日之內。（亦有稟於先天者，命火未全，寒從臍下上衝，故均名臍風。）</p>
<p>風附木則鳴，目乃肝之竅，故兩眼角先有黃色。肝邪克脾，鼻準，脾之竅，故準頭又有黃色。由脾犯腎，故兩唇色黃而口撮。舌強者，腎邪犯心也。初起，吮乳必較前稍松。兩眼角，挨眉心處，忽有黃色，宜急治之。黃色到鼻，猶易治也；到人中、承漿，治之稍難。若已見唇口緊束，舌頭強直，不必治矣。（《集成》辨兒之稟濃者，眼角準頭，多見黃色，然先生從親驗得來，決非虛語，稟濃者，面色必赤，其黃深隱，而仍黃中透赤也。臍風者，面色必夭，其黃浮滯也。上夏禹鑄《幼科鐵鏡》。）</p>
<p>山根之上，有青筋直見，或橫見者，俱肝熱也。有紅筋直見或斜見者，俱心熱也。黃筋見於山根，或皮色黃者，不拘橫直，均脾胃之證，或吐或瀉，或腹痛，或不思食。（上陳遠公法。）</p>
<p>囟門凸起者，肝腎肺胃風熱濕熱也；下陷者，或因先天不足，或因泄利過度，脾腎虛寒氣怯也；疾跳或斷續無倫次者，氣脫也。（新增。）</p>
<h3>外診雜法類</h3>
<h4>診毛髮法</h4>
<p>須、鬢、陰、腋諸毛詳前三陽上下氣血多少篇，茲不復贅。</p>
<p>肺主身之皮毛。腎合三焦膀胱。三焦膀胱者，腠理毫毛其應。五臟傷敗，毛悴色夭者，死於臟氣所不勝之時也。手太陰者，行氣而溫於皮毛者也。故氣絕則不榮皮毛，皮毛焦則津液去，皮節爪枯毛折。手少陰氣絕則脈不通，脈不通則血不流，血不流則髦色不澤。足少陰者，伏行而濡骨髓者也。氣絕則骨不濡，肉不能著也。骨肉不相親則肉軟卻，故齒長而垢，發無澤。腎，其華在發，故丈夫八歲腎氣實，齒更發長。五八腎氣衰，發墮齒枯。（以上《內經》。）</p>
<p>發者血之余也。心與小腸主血，故小腸絕者，發干直如麻，不得曲伸。小兒病，其頭毛皆上逆者死。</p>
<p>其發枯黃者，心腎血氣俱不足也。（以上《脈經》。）</p>
<p>足厥陰肝脈與督脈會於巔，故勇士之怒，發立上指。平人肝熱，其氣上衝，頭皮一塊腫痛，發根為之粗硬而逆起。（以下四節新增。）</p>
<p>平人眉忽生一長毫，異於眾毛，拔之三、五日復生者，膽中血熱也。在小兒必生急風。《脈經》曰：膽絕，眉為之傾。</p>
<p>平人鼻中忽生一長毫，粗硬異於眾毛者，肺中血熱也。撥之三、五日即復生，久不治，即生肺癰發背。夏子益《奇疾方》有鼻生長毫，硬如鐵絲，觸之其痛徹心，為肺大熱也。</p>
<p>發通五臟，而尤切於心腎。故病溫疫熱毒，及服毒藥，與飲酒大醉者，以冷水浸其發。又喉蛾急療等證，察有赤發者，急拔之，是熱血上逆也。</p>
<h4>診鼻法</h4>
<p>腎乘心，心先病，腎為應，色皆如是。男子色（以黑色言。）在於面王，為首腹痛，（首腹，大腹。）下為卵痛，其圜直為莖痛，高為本，下為首，狐疝　陰之屬也。女子色在於面王，為膀胱子處之病，散為痛，摶為聚，方圓左右，各如其色形。其隨而下至胝（謂其色連人中。）為淫。（謂傷中淋露也。）有潤如膏狀，（謂鼻準色黑光浮而明如塗膏者。）為暴食不潔。（暴食即出不潔，倉公所謂迥風。）其色赤大如榆莢，在面王為不月。（《內經》。）</p>
<p>鼻頭色青，腹中痛，苦冷者，死。鼻頭色微黑者，有水氣；色黃者，胸上有寒；色白者，亡血也。設微赤非時者死。其目正圓者，痙不治。（此承上句說下，非專論目也。）又色青為痛，色黑為勞，色赤為風，色黃者便難，色鮮明者有留飲。（末五句非專論鼻色。仲景。）</p>
<p>黃色見於鼻，干燥如土偶之形，為脾氣絕，主死。若如桂花，雜以黑暈，只是脾病，飲食不快，四肢怠惰，妻外家之累。（見前。）</p>
<p>鼻頭色黑而枯燥者，房勞；黑黃而亮者，有瘀血；赤為肺熱。鼻孔干燥，目瞑，漱水不咽者，欲衄也。鼻孔黑如煙煤而燥者，陽毒也。鼻孔煽張者，肺絕也。但煤黑而不煽不喘者，燥熱結於大腸也。黃黑枯槁，為脾火津涸。</p>
<p>大便燥結，鼻塞濁涕者，風熱也。鼻孔冷滑而黑者，陰毒也。鼻頭汗出如珠，為心脾痛極。（石頑《醫通》。）</p>
<p>按：前《千金》五色入門戶井灶篇已見者，茲不復具。覽者宜互觀之。</p>
<h4>診人中法</h4>
<p>足太陰氣絕，則脈不榮肌肉，舌萎，人中滿。人中滿，則唇反，肉先死也。甲篤乙死。（《內經》。）</p>
<p>病患鼻下平者，胃病也；微赤者，病發癰；微黑者，有熱；青者，有寒；白者不治。</p>
<p>（凡急痛暴厥，人中青者，為血實，宜決之。《脈經》。）</p>
<p>凡中風，鼻下赤黑相兼，吐沫而身直者，七日死。</p>
<p>按：人中內應脾胃，下應膀胱子戶。凡人胃中與前陰，病濕熱腐爛，或瘀血凝積作痛者，往往人中見赤顆小粟瘡，或常見黑斑，如煙煤晦暗者，知其氣絡有相應也。</p>
<p>下痢，臍下忽大痛，人中黑色者死。（按：此寒中於命門，而胞中之血死也。丹溪。）</p>
<h4>診唇法</h4>
<p>脾之華，在唇四白，其五色之診與面色同，而唇皮薄色顯，尤為易見。其專診列下。</p>
<p>唇色青黃赤白黑者，病在肌肉。（《內經》。）</p>
<p>唇焦干燥裂為脾熱，唇赤腫為胃濕熱，鮮紅為火盛，淡白為氣虛，淡而四繞起白暈為亡血，青黑為寒。（為血死。石頑《醫通》。）</p>
<p>唇黑者胃先病，微燥而渴者可治，不渴者不可治。（渴為津耗血滯，不渴為氣脫血死也，仲景。下二節同。）</p>
<p>唇下內有瘡如粟名狐，蟲蝕其肛。唇上內有瘡如粟名惑，蟲蝕其咽（一作臟。按：凡腹痛喜渴，面有白斑如錢大，或唇色淡白，而中有紅點者，其為腸胃有蟲嚙血無疑矣。）</p>
<p>唇吻反青，四肢　習者，肝絕。環口青黧，柔汗發黃者，脾絕。鼻黑唇腫者，肺敗。厥而唇青肢冷者，為入臟即死。</p>
<p>凡下痢病劇而唇如朱紅者死。（按：凡脫血病，皆以此例決之。丹溪。）</p>
<p>凡口唇，關手足陽明腸胃二經，又關手足太陽脾肺二臟。故驗唇色紅潤，裡未有熱，但宜辛溫散表；唇色枯干，裡已有熱，宜清裡；唇色焦黑，煩渴消水，裡熱已極，當用涼膈散等。又有譫語發狂、唇色干焦，服寒涼而熱不減，此食滯中焦，胃氣蘊蓄，發黃發熱，是以服寒涼則食滯不消，用辛散則又助裡熱，宜以保和散沖竹瀝、蘿菔汁，或梔子豆豉東加枳實治之。上唇，屬肺與大腸，若焦而消渴飲水，熱在上，主肺；若焦而不消渴飲水，熱在下，主大腸有燥糞。下唇，屬脾與胃，若焦而消渴飲水，熱在陽明胃，若焦而不消渴飲水，熱在太陰脾。夫裡熱唇焦、食滯唇焦、積熱伏於血分而唇焦、惟以渴不渴，消水不消水別之。又有食滯已久，蒸釀發熱，亦能作渴消水，又當參以脈象。若脈滑大不數，食未蒸熱，口亦不渴；若滑大沉數，食已蒸熱，口亦作渴。故凡譫語發狂，脈滑不數，渴不消水者，亦以食滯治之。若以寒涼抑遏，則譫狂益盛，甚且口噤不語也。（秦皇士《傷寒大白》。）</p>
<p>項腫如匏，按之熱痛，目赤如血，而足冷便泄，人事清明，六脈細數，右手尤軟，略按即空。沈堯封曰：此虛陽上攻也。唇上黑痕一條如干焦狀，舌苔白如敷粉，舌尖亦白，不赤，是皆虛寒確據，況便瀉足冷脈濡，斷非風火，若是風火，必痞悶煩熱，燥渴不安，豈有外腫如此，而內裡安貼如平人者乎。</p>
<p>案按：按此即喻氏濁陰從胸上入，即咽喉腫痹，舌脹睛突；從背上入，即頸項粗大，頭項若冰，渾身青紫而死之類也。末句辨症尤為精切不易。最眩人者，在熱痛目赤，若非此著，雖足冷便瀉脈濡而空，猶未能決為真寒也。又按：近日吸洋煙者，唇色多紫黯，以其胃中血氣濁惡也。所以然者，肺氣不清，而燥化勝也。</p>
<h4>診齒法</h4>
<p>熱病，腎絕，齒黃落，色如熟小豆，或齒忽變黑者死。久病齦肉軟卻；齒長而垢，或齒光無垢者死。（此所謂大骨枯槁也。）口開，前板齒燥者，傷暑也。（《脈經》。）</p>
<p>齒齦無色，舌上盡白，唇裡有瘡者，　也。（按：即狐惑也。出巢氏。）</p>
<p>溫熱病，看舌之後，亦須驗齒。齒為腎之余，齦為胃之絡。熱邪不燥胃津，必耗腎液，且二經之血，皆走其地，病深動血，結瓣於上。陽血者，色必紫，紫如乾漆。陰血者，色必黃，黃如醬瓣。陽血若見，安胃為主。陰血若見，救腎為要。然豆瓣色者，多險，若證還不逆者，尚可治，否則，難為矣。何以故耶，蓋陰下竭，陽上厥也。</p>
<p>齒若光燥如石者，胃熱甚也，若無汗惡寒，衛偏勝也，辛涼泄衛，透汗為要。若如枯骨色者，腎液枯也。若上半截潤，（靠根半截。）水不上承，心火上炎也，急急清心救水，俟枯處轉潤為妥。（此必充發水中真氣，方能有效，非僅甘潤涼降所能為也。）</p>
<p>若切牙嚙齒者，濕熱化風痙病。但切牙者，胃熱氣走其絡也。若切牙而脈證皆衰者，胃虛無穀以內榮，亦切牙也。何以故耶。虛則喜實也。舌本不縮而硬，而牙關咬定難開者，此非風痰阻絡，即欲作痙證，用酸物擦之即開，木來泄土故也。（風能化燥，酸即生津。）</p>
<p>若齒垢如灰糕樣者，胃氣無權，津亡，濕濁用事，多死。而初病齒縫流清血，痛者，胃火沖激也；不痛者，龍火內燔也。（總是悍氣，竄入血道。）齒焦無垢者，死，齒焦有垢者，腎熱劫胃也，當微下之，或玉女煎，清胃救腎可也。（《溫熱論》。）</p>
<p>齒根於衝督之脈，故小兒齒出遲者，以鹿茸、肉蓯蓉服之。凡小兒齒出偏斜稀疏者，陽明本氣不足也。</p>
<p>齒色枯白者，血虛也。齒色黃暗，或帶黑，或片片脫下者，面色青黃，此腹中有久冷積，太陽陽明之陽氣受困，累及於衝督也。落齒後，久不出者，腎與督虛也，必重以鹿茸，加補衝督藥，否則出必偏斜稀疏，甚者，不久復碎落也。俗每以為血熱，殊不知是虛冷久積，血不流通，內蓄虛火也。若有蟲者是濕熱，亦因胃有積滯；若不虛冷，則面色自紅潤，不慘黯也。</p>
<h4>診耳法</h4>
<p>腎氣通於耳，腎和、則耳能知五音矣。又心開竅於耳，耳藏精於心。（《內經》。）</p>
<p>少陽之經入於耳，故傷寒以耳聾時眩欲嘔，脈弦細數者，為少陽經病，是熱菀津耗，三焦氣結，不升降也。</p>
<p>耳中策策痛，而耳葉黃者，病名黃耳，類傷寒也。風入於腎，卒然發熱惡寒，脊強背急如痙狀。（《醫通》。按：濕熱下結於腎也。）</p>
<p>耳葉焦枯，如受塵垢者，病在骨。（《內經》。）</p>
<h4>診爪甲法</h4>
<p>肝之華在爪，爪為筋之余。（《內經》。）</p>
<p>肝熱者，色蒼而爪枯。肝絕者，爪甲青而怒罵不休。（《內經》、《脈經》。）</p>
<p>肝應爪，爪濃色黃者，（色謂爪下血色。）膽濃。爪薄色紅者，膽薄。爪堅色青者，膽急。爪濡色赤者，膽緩。爪直色白、無約者，膽直。爪惡色黑多紋者，膽結也。（《內經》。）</p>
<p>身黃、目黃、爪甲黃者，疸也。爪甲青者，厥也。（《內經》、《脈經》。）</p>
<p>手太陰氣絕，爪枯毛折。（《內經》。）</p>
<p>循衣撮空，心虛敗證也。若執持有力者，內實也，宜清之泄之。（石頑。）</p>
<p>按：爪內應筋，爪之枯潤，可以占津液之虛實也。至於爪下之血色，亦與面色同法。按之不散，與散而久不復聚者，血死之征也。</p>
<h4>按法</h4>
<p>凡痛，按之痛劇者，血實也；按之痛止者，氣虛血燥也；按之痛減，而中有一點不快者，虛中挾實也。</p>
<p>內痛外快為內實外虛，外痛內快為外實內虛也。按之不可得者陰痹也，按之酸疼者，寒濕在筋也。（石頑。）</p>
<p>凡按之，其血不散，與散而久不復聚者，血已死也；散而聚之速者，熱也；聚之遲者，氣滯與寒濕也。（新增。）</p>
<p>水脹者，足脛腫，腹乃大，以手按其腹，隨手而起，如裹水之狀。膚脹者，風寒客於皮膚，　然而不堅，腹大身盡腫，按其腹，　而不起，腹色不變。鼓脹者，腹脹身大，與膚脹等，色蒼黃，腹筋起也。（筋即脈也。血與水相雜，而汁變壞也。《內經》。）</p>
<p>風濕相搏，骨節煩疼，不得屈伸，近之則痛劇，汗出短氣惡風，或身微腫者，甘草附子湯主之。（近見一病，飲食倍增，身膚加肥，惟骨節皮膚疼痛不能轉側，其皮膚雖以一指輕點之，亦即痛劇不可耐矣，即此病也。仲景。）</p>
<p>凡身熱，按之皮毛之分而熱重，按久之不熱者，熱在表、在肺，又為勞倦之虛熱也。（以熱之微甚分虛實。）</p>
<p>按至肌肉血脈之分而熱輕，重按之俱不見者，熱在中焦、在心脾、在血分，邪已入裡也。按至筋骨之分而熱者，為陰虛骨蒸，與濕熱深入骨髓也。熱病內陷於骨者，為肝腎陰絕也。（東垣。）</p>
<p>肌之滑澀，以征津液之盛衰；理之疏密，以征營衛之強弱；肉之堅　，以征胃氣之虛實；筋之粗細，以征肝血之充餒；骨之大小，以征腎氣之勇怯；爪之剛柔，以征膽液之清濁；指之肥瘦，以征經氣之榮枯；掌之濃薄，以征臟氣之豐歉；尺之寒熱，以征表裡之陰陽。論疾診尺篇論之詳矣。前卷形診中，生形病形諸篇，多有以摩按得之者，不復瑣具，可互觀也。</p>
<h4>嗅法</h4>
<p>人病尸臭不可近者死。（《脈經》。）</p>
<p>口氣重者，胃熱盛也，陽氣尚充，其病雖劇，可治。</p>
<p>汗出稠黏，有腥膻氣，或色黃者，風濕久蘊於皮膚，津液為之蒸變也，風濕、濕溫、熱病失汗者，多有之。</p>
<p>唾腥，吐涎沫者，將為肺癰也。唾膿血腥腐者，肺癰已成也。（肺傷風熱，痰多臭氣，如腐膿狀；肺內自熱，痰多腥氣，如啖生豆狀。一宜涼散，一宜清降也。）</p>
<p>小便臊甚者，心與膀胱熱盛也。不禁而不臊者，火敗也。</p>
<p>大便色壞，無糞氣者，大腸氣絕胃敗也。小兒糞有酸氣者，停滯也。</p>
<p>病患後氣極臭者，為胃有停食，腸有宿糞，為內實，易治，若不臭者，在平人為氣滯；病劇而出多，連連不止者，為氣虛下陷，恐將脫也。（以上新訂參各家。）</p>
<h4>聞法</h4>
<p>角音人者，主肝聲也。肝聲呼，其音琴，其志怒，其經足厥陰。厥逆少陽，則榮衛不通，陰陽交雜，陰氣外傷，陽氣內擊，擊則寒，寒則虛，虛則卒然喑啞不聲，此為癘風入肝，續命湯主之。但踞坐，不得低頭，面目青黑，四肢緩弱，遺失便利，甚則不可治。賒則旬月之間，桂枝酒主之。若其人呼而哭，哭而反吟，此為金克木，陰擊陽，陰氣起而陽氣伏，伏則實，實則熱，熱則喘，喘則逆，逆則悶，悶則恐畏，目視不明，語聲切急，謬說有人，此為邪熱傷肝，甚則不可治；若唇色雖青，向眼不應，可治。地黃煎主之。</p>
<p>按，癘風者，清燥之氣，即天地肅殺之氣也，西醫謂之消耗之氣，使人陽氣消索，津液枯結，血汁敗壞，神明破散也。</p>
<p>若其人本來少於悲恚，忽爾嗔怒，出言反常，乍寬乍急，言未竟，以手向眼，如有所畏，雖不即病，禍必至矣。此肝病聲之候也。</p>
<p>徵音人者，主心聲也。心聲笑，其音竽，其志喜，其經手少陰，厥逆太陽，則榮衛不通，陰陽反錯，陽氣外擊，陰氣內傷，傷則寒，寒則虛，虛則驚掣心悸，定心湯主之。語聲前寬後急，後聲不續，前混後濁，口，冒昧好自笑，此為癘風入心，荊瀝湯主之。若其人笑而呻，呻而反憂，（《中藏經》作笑不待伸而復憂。）此為水克火，陰擊陽，陰起而陽伏，伏則實，實則傷熱，熱則狂，悶亂冒昧，言多謬誤，不可采聽。</p>
<p>此心已傷。若唇口正赤，可療；其青黃白黑，不可療也。</p>
<p>若其人本來心性和雅，而忽弊急反常，或言未竟便住，以手剔腳爪，此人必死。禍雖未及，名曰行尸。此心病聲之候也。</p>
<p>宮音人者，主脾聲也，脾聲歌，其音鼓，其志愁，其經足太陰。厥逆陽明，則榮衛不通，陰陽翻祚，陽氣內擊，陰氣外傷，傷則寒，寒則虛，虛則舉體消瘦，語音沉澀，如破鼓之聲，舌強不轉，而好咽唾，口噤唇黑，四肢不舉，身重如山，便利無度，甚者不可治，依源麻黃湯主之。若其人言聲憂懼，舌本卷縮，此是木克土，陽擊陰，陰氣伏，陽氣起，起則實，實則熱，熱則悶亂，體重不能轉側，語聲拖聲，氣深不轉而心急，此為邪熱傷脾，甚則不可治；若唇雖萎黃，語音若轉，可治。</p>
<p>若其人本來少於　怒，而忽反常，　喜無度，正言而鼻笑，不答於人，此脾病聲之候也，不盈旬月，禍必至矣。</p>
<p>商音人者，主肺聲也。肺聲哭，其音磬，其志樂，其經手太陰。厥逆陽明，則榮衛不通，陰陽反祚，陽氣內擊，陰氣外傷，傷則寒，寒則虛，虛則癘風所中，噓吸戰掉，語聲嘶塞而散下，氣息短憊，四肢僻弱，面色青葩，遺失便利，甚則不可治，依源麻黃續命湯主之。若言音喘急，短氣好唾，此為火克金，陽擊陰，陰氣沉，陽氣升，升則實，實則熱，熱則狂，狂則閉眼悸言，非常所說，口赤而張，飲無時度，此熱傷肺，肺化為血，不治；若面赤而鼻不欹，可治也。</p>
<p>若其人本來語聲雄烈，忽爾不亮，拖氣用力方得出言，而反於常，人呼共語，直視不應，雖曰未病，勢當不久。此肺病聲之候也。</p>
<p>羽音人者，主腎聲也。腎聲呻，其音瑟，其志恐，其經足少陰。厥逆太陽，則榮衛不通，陰陽反祚，陽氣內伏，陰氣外升，升則寒，寒則虛，虛則癘風所傷，語言蹇吃不轉，偏枯，腳偏跛蹇，若在左則左腎傷，在右則右腎傷，其偏枯分體，從鼻而分，半邊至腳，緩弱不遂，口亦欹，語聲混濁，便利仰人，耳偏聾塞，腰背相引，甚則不可治，腎瀝湯主之。若呻而好恚，恚而善忘，恍惚有所思，此為土克水，陽擊陰，陰氣伏而陽氣起，起則熱，熱則實，實則怒，怒則忘，耳聽無聞，四肢滿急，小便赤黃，言音口動而不出，笑而看人，此為邪熱傷腎，甚則不可治，若面黑黃耳不應，亦可治。</p>
<p>若其人本來不吃，忽然蹇吃，而好　怒，反於常性，此腎已傷，雖未發覺，已是其候，見人未言，而前開口笑，還閉口不聲，舉手叉腹，此腎病聲之候也。（《千金方》。）</p>
<p>心為噫，肺為咳，肝為語，脾為吞，腎為欠、為嚏，胃為氣逆，為噦。</p>
<p>五臟者中之守也，中盛臟滿、氣盛傷恐者，聲如從室中言，是中氣之濕也。言而微，終日乃復言者，此奪氣也。衣被不斂，言語善惡不避親疏者，此神明之亂也。</p>
<p>不得臥而息有音者，是陽明之逆也。起居如常而息有音者，此肺之絡脈逆也。不得臥，臥則喘者，水也。不能正偃，正偃則咳者，風水也。胃中不安，氣上迫肺故也。（《內經》。）</p>
<p>語聲寂寂然喜驚呼者，骨節間病。語聲喑喑然不徹者，心膈間病。語聲啾啾然細而長者，頭中病。息搖肩者，胸中堅。息引胸中上氣者，咳。息張口短氣者，肺痿，當唾涎沫，吸而微數，其病在中焦實也，下之則愈虛者，不治。在上焦者其吸促，在下焦者其吸遠，此皆難治。呼吸動搖振振者，不治。（病並當作痛。）</p>
<p>平人無寒熱、短氣不足以息者，實也。</p>
<p>師持脈病患呻者，痛也。搖頭言者，裡痛也。言遲者，風也。（風溫為病，鼻息必鼾，語言難出。）</p>
<p>病深者其聲噦。（此腎氣之失根也，其聲必微。噦乃乾嘔呃噫之通名，不必苦為分明也。）</p>
<p>胃中虛冷不能食者，飲水則噦。（胃氣下行，以降為順，虛則力不能降而氣逆矣，是腎敗之漸也。）</p>
<p>傷寒潮熱，時時噦者，與小柴胡湯。噦而腹滿者，視其前後，何部不利，利之則愈。（此皆熱結內實而氣上逆也。）</p>
<p>濕家下之早則噦，此丹田有熱，胸上有寒。（此暖氣在下，寒閉於上，沖激而然也，亦有痰閉而然者。仲景。）</p>
<p>經曰：虛則鄭聲。鄭聲者，邪音也，謂聲重而轉，失其本音也。凡汗下後，或久病氣虛者，往往語聲中變，是正氣怯而音不能圓滿也。故《素問》曰：氣虛者言無常也。《靈樞》曰：五臟使五色修明而聲章。</p>
<p>聲章者，言聲與平生異也。</p>
<p>譫語者，言語謬妄，非常所見也，邪熱亂其神明故也。（胃中熱濁上蒸包絡。）</p>
<p>有燥屎，有瘀血，有凝痰，有血熱，熱入血室，皆有餘之證，下之清之而愈，宜養津液、疏心包絡。若亡陽譫語，為神離其舍，喃喃一二句，斷續不勻，是汗多，津液無以養其心也。初起可治，急滋心陰，稍久延，即不治矣。仲景曰：身熱脈浮大者生，逆冷脈沉細者，不過一日死。又曰直視譫語喘滿者死。又曰循衣撮空，直視譫語，脈弦者生，澀者死。《內經》評熱論曰：狂言者是失志，失志者死，此之謂也。脈弦者，內實也，脈澀者，內虛也。</p>
<p>出言懶怯，先輕後重，此內傷中氣也；出言壯厲，先重後輕，是外感邪盛也。攢眉呻吟，苦頭痛也。診時吁者，郁結也。形羸聲啞，癆瘵之不治者，咽中有肺花瘡也。暴啞者，風痰伏火或暴怒叫喊所致也。面起浮光，久啞，無外邪實證者，心衰肺癟，所謂聲嘶血敗，久病不治也。獨言獨語，首尾不續，思慮傷神也。</p>
<p>新病聞呃，非火即寒，久病聞呃，胃氣欲絕也。大抵聲音清亮，不異於平時者，為吉。</p>
<p>咳聲清脆者，燥熱也；緊悶者，寒濕也；續續片刻不止者，風也。日甚者，風也；夜甚者，水也。天明咳甚者，胃有宿食，寒濕在大腸也。</p>
<p>聽聲之法，豈徒以五音決五臟之病哉，須將患人之語言聲音，輕重長短，有神無神，與病家來請之語，及一切旁觀物議，皆當審聽，入耳注心，斯乃盡聞之道也。（上參各家。）</p>
<h4>問法</h4>
<p>一問寒熱二問汗，三問頭身四問便，五問飲食六問胸。七聾八渴俱當辨。（景岳八問。）</p>
<p>凡診病必先問是何人，或男或女，或老或幼，或婢外家僮仆，問而不答，必是耳聾，須詢其左右，平素何如，否則病久，或汗下所致。診婦人，必先問月信何如，寡婦氣血凝澀，兩尺多滑，不可誤以為胎，室女亦有之。</p>
<p>世道不古，以問為末，抱病不惟不言，雖再三詢叩，終亦不告，反詆醫拙，甚至有隱疾困醫者，醫固為所困矣，身不亦為醫所困乎。雖然為醫者，亦須貴乎有學，大率診視已畢，不可便指病名，發言率易，須從所得脈象說起，廣引經說，以為證據。漸漸說歸病證，務要精當確實，不可支離狂妄，說證已畢，然後徐徐問其所苦，或論說未盡，患者已一一詳告，卻以彼所說，校吾所診，或同或異，而折衷之。如此，則彼我之間，交相符契，必收全功。（汪石山。）</p>
<p>按醫者當問之事甚多，必須診得脈真，然後從脈上理路問去，方得就緒，若海概問之，庸有當乎，無怪令人相輕也。《內經》曰：明知逆順，正行無問。又曰：謹熟陰陽，無與眾謀。是又有以問為戒者，蓋病家所答，往往依違影響，未可盡信也。若不能明知與謹熟也，而徒以不問為高，雖告之而反厭棄焉，忽視人命，其罪又當何如耶。</p>
