<header data-type="book">
<h1>內科摘要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1519/1559">公元1519年至公元1559年</data></dd></div>
</dl>
</header>
<h2>卷上</h2>
<h3>一、元氣虧損內傷外感等症</h3>
<p>車駕王用之，卒中昏憒，口眼　斜，痰氣上涌，咽喉有聲，六脈沉伏，此真氣虛而風邪所乘，以三生飲一兩，加人參一兩，煎服即蘇。若遺尿手撒，口開鼾睡為不治，用前藥亦有得生者。夫前飲乃行經絡治寒痰之藥，有斬關奪旗之功，每服必用人參兩許駕驅其邪而補助真氣，否則無益，適足以取敗矣！觀先哲用　附、參附等湯，其義可見。</p>
<p>州判蔣大用，形體魁偉，中滿吐痰，勞則頭暈，所服皆清痰理氣。余曰：中滿者，脾氣虧損也；痰盛者，脾氣不能運也；頭暈者，脾氣不能升也；指麻者，脾氣不能周也。遂以補中益氣加茯苓、半夏以補脾土，用八味地黃以補土母而愈。後惑於《乾坤生意方》云：凡人手指麻軟，三年後有中風之疾，可服搜風、天麻二丸以預防之。乃朝餌暮服，以致大便不禁，飲食不進而歿。愚謂預防之理，當養氣血，節飲食，戒七情，遠幃幕可也。若服前丸以預防，適所以招風取中也。</p>
<p>一男子，卒中，口眼　斜，不能言語，遇風寒四肢拘急，脈浮而緊，此手足陽明經虛，風寒所乘，用秦艽升麻湯治之，稍愈，乃以補中益氣加山梔而痊。若舌喑不能言，足痿不能行，屬腎氣虛弱，名曰痱症，宜用地黃飲子治之。然此症皆由將息失宜，腎水不足，而心火暴盛，痰滯於胸也。輕者自蘇，重者或死。</p>
<p>一男子，體肥善飲，舌本硬強，語言不清，口眼　斜，痰氣涌盛，肢體不遂。余以為脾虛濕熱，用六君加煨葛根、山梔、神麯而痊。</p>
<p>吾師僉憲高如齋，自大同回，謂余曰：吾成風病矣，兩腿逸則痿軟而無力，勞則作痛如針刺，脈洪數而有力。余告之曰：此肝腎陰虛火盛，而致痿軟無力，真病之形，作痛如錐，邪火之象也。用壯水益腎之劑而愈。先生曰：向寓宦邸，皆以為風，恨無醫藥，若服風劑，豈其然哉，乃吾之幸也。竊謂前症，往往以為風疾，徹用發散，而促其危者多矣。</p>
<p>大尹劉孟春，素有痰，兩臂作麻，兩目流淚，服祛風化痰藥，痰愈甚，臂反痛，不能伸，手指俱攣。余曰：麻屬氣盛，因前藥而復傷肝，火盛而筋攣耳。況風自火出，當補脾肺，滋腎水，則風自息，熱自退，痰自清。遂用六味地黃丸、補中益氣湯，不三月而痊。</p>
<p>一儒者，素勤苦，惡風寒，鼻塞流清涕，寒禁嚏噴。余曰：此脾肺氣虛不能實腠理。彼不信，服祛風之藥，肢體麻倦，痰涎自出，殊類中風。余曰：此因風劑耗散元氣，陰火乘其土位。遂以補中益氣加麥門、五味治之而愈。</p>
<p>外舅，年六十余，素善飲，兩臂作痛，恪服祛風治痿之藥，更加麻木發熱，體軟痰涌，腿膝拘痛，口噤語澀，頭目暈重，口角流涎，身如蟲行，搔起白屑，始信。謂余曰：何也?余曰：臂麻體軟，脾無用也；痰涎自出，脾不能攝也；口斜語澀，脾氣傷也；頭目暈重，脾氣不能升也；癢起白屑，脾氣不能營也。遂用補中益氣加神麯、半夏、茯苓三十余劑，諸症悉退，又用參朮煎膏治之而愈。</p>
<p>秀才劉允功，形體魁偉，不慎酒色，因勞怒頭暈仆地，痰涎上涌，手足麻痹，口乾引飲，六脈洪數而虛。余以為腎經虧損，不能納氣歸源而頭暈；不能攝水歸源而為痰；陽氣虛熱而麻痹；虛火上炎而作渴。用補中益氣合六味丸料治之而愈。其後或勞役或入房，其病即作，用前藥隨愈。</p>
<p>憲幕顧斐齋，飲食起居失宜，左半身並乎不遂，汗出神昏，痰涎上涌。王竹西用參　大補之劑，汗止而神思漸清，頗能步履。後不守禁，左腿自膝至足腫脹甚大，重墜如石，痛不能忍，其痰甚多，肝脾腎脈洪大而數，重按則軟澀。余朝用補中益氣加黃柏、知母、麥門、五味煎送地黃丸，晚用地黃丸料加黃柏、知母數劑，諸症悉退。但自弛禁，不能痊愈耳。</p>
<p>庠生陳時用，素勤苦，因勞怒口斜痰盛，脈滑數而虛，此勞傷中氣，怒動肝火，用補中益氣加山梔、茯苓、半夏、桔梗，數劑而愈。</p>
<p>錦衣楊永興，形體豐濃，筋骨軟痛，痰盛作渴，喜飲冷水，或用愈風湯、天麻丸等藥，痰熱益甚，服牛黃清心丸，更加肢體麻痹，余以為脾腎俱虛，用補中益氣湯、加減八味丸，三月余而痊。以後連生七子，壽逾七旬。《外科精要》云：凡人久服加減八味丸，必肥健而多子。</p>
<p>先母七十有五，遍身作痛，筋骨尤甚，不能伸屈，口乾目赤，頭暈痰壅，胸膈不利，小便短赤，夜間殊甚，遍身作癢如蟲行。用六味地黃丸料加山梔、柴胡治之，諸症悉愈。</p>
<p>一男子時瘡愈後，遍身作痛。服愈風丹，半身不遂，痰涎上涌，夜間痛甚。余作風客淫氣治，以地黃丸而愈。</p>
<p>一老人，兩臂不遂，語言蹇澀。服祛風之藥，筋攣骨痛。此風藥虧損肝血，益增其病也。余用八珍湯補其氣血，用地黃丸補其腎水，佐以愈風丹而愈。</p>
<p>一婦人，因怒吐痰，胸滿作痛，服四物、二陳、芩、連、枳殼之類不應。更加祛風之劑，半身不遂，筋漸攣縮，四肢痿軟，日晡益甚，內熱口乾，形體倦怠。余以為鬱怒傷脾肝，氣血復損而然。遂用逍遙散、補中益氣湯、六味地黃丸調治。喜其謹疾，年余悉愈，形體康健。</p>
<p>一婦人，脾胃虛弱，飲食素少，忽痰涌氣喘，頭搖目札，手揚足擲，難以候脈，視其面色，黃中見青，此肝木乘脾土，用六君加柴胡、升麻治之而蘇，更以補中益氣加半夏調理而痊。</p>
<p>一婦人，懷抱郁結，筋攣骨痛，喉間似有一核，服烏藥順氣散等藥，口眼歪斜，臂難伸舉，痰涎愈甚，內熱晡熱，食少體倦，余以為鬱火傷脾血燥生風所致，用加味歸脾湯二十余劑，形體漸健，飲食漸加，又服加味逍遙散十余劑，痰熱少退，喉核少利，更用升陽益胃湯數劑，諸症漸愈，但臂不能伸，此肝經血少，用地黃丸而愈。</p>
<p>一產婦，筋攣臂軟，肌肉掣動，此氣血俱虛而有熱，用十全大補湯而痊。其後因怒而復作，用加味逍遙散而愈。</p>
<p>一產婦，兩手麻木，服愈風丹、天麻丸，遍身皆麻，神思倦怠，晡熱作渴，自汗盜汗，此氣血俱虛，用十全大補加炮薑數劑，諸症悉退，卻去炮薑又數劑而愈。但有內熱，用加味逍遙散數劑而痊。</p>
<p>一男子，善飲，舌本強硬，語言不清。余曰：此脾虛濕熱，當用補中益氣加神麯、麥芽、干葛、澤瀉治之。</p>
<p>一婦人，善怒，舌本強，手臂麻。余曰：舌本屬土，被木剋制故耳，當用六君加柴胡、芍藥治之。</p>
<p>一男子，舌下牽強，手大指次指不仁，或大便秘結，或皮膚赤暈。余曰：大腸之脈散舌下，此大腸血虛風熱，當用逍遙散加槐角、秦艽治之。</p>
<p>一男子，足痿軟，日晡熱。余曰：此足三陰虛，當用六味、滋腎二丸補之。</p>
<p>一婦人，腿足無力，勞則倦怠。余曰：四肢者土也，此屬脾虛，當用補中益氣及還少丹主之。</p>
<p>俱不從余言，各執搜風、天麻二丸並愈風丹而殞。</p>
<h3>二、飲食勞倦虧損元氣等症</h3>
<p>進士王汝和，因勞役失於調養，忽然昏憒，此元氣虛火妄動，挾痰而作，急令灌童便，神思漸爽。更用參、　各五錢，芎、歸各三錢，玄參、柴胡、山梔、炙草各一錢，服之稍定。察其形倦甚，又以十全大補東加五味、麥門治之而安。凡人元氣素弱，或因起居失宜，或因飲食勞倦，或因用心太過，致遺精白濁，自汗盜汗；或內熱、晡熱，潮熱發熱；或口乾作渴，喉痛舌裂；或胸乳膨脹，脅肋作痛；或頭頸肘痛，眩暈目花；或心神不寧，寤而不寐；或小便赤澀，莖中作痛；或便溺余滴，臍腹陰冷；或形容不充，肢體畏寒；或鼻氣急促；或更有一切熱症；皆是無根虛火，但服前湯固其根本，諸症自息，若攻其風熱則誤矣。</p>
<p>光祿高署丞，脾胃素虛，因飲食勞倦，腹痛胸痞，誤用大黃等藥下之，譫語煩躁，頭痛喘汗吐瀉頻頻，時或昏憒，脈大而無倫次，用六君子加炮薑四劑而安。但倦怠少食，口乾發熱，六脈浮數。欲用瀉火之藥。余曰：不時發熱，是無火也；脈浮大，是血虛也；脈虛浮，是氣虛也。此因胃虛五臟虧損，虛症發見。服補胃之劑，諸症悉退。</p>
<p>大尹徐克明，因飲食失宜，日晡發熱，口乾體倦，小便赤澀，兩腿酸痛，余用補中益氣湯治之。彼知醫自用四物、黃柏、知母之劑，反頭眩目赤、耳鳴唇燥，寒熱痰涌，大便熱痛，小便赤澀；又用四物、芩、連、枳實之類，胸膈痞滿，飲食少思，汗出如水；再用二陳、芩、連、黃柏、知母、麥門、五味，言語譫妄，兩手舉拂，屢治反甚；復求余，用參、　各五錢，歸、朮各三錢，遠志、茯神、酸棗仁、炙草各一錢，服之熟睡良久，四劑稍安；又用八珍湯調補而愈。</p>
<p>夫陰虛乃脾虛也，脾為至陰，因脾虛而致前症，蓋脾稟於胃，故用甘溫之劑以生發胃中元氣，而除大熱。胡乃反用苦寒，復傷脾血耶。若前症果屬腎經陰虛，亦因腎經陽虛不能生陰耳。經云：無陽則陰無以生，無陰則陽無以化。又云：虛則補其母，當用補中益氣、六味地黃以補其母，尤不宜用苦寒之藥。世以脾虛誤為腎虛，輒用黃柏、知母之類，反傷胃中生氣，害人多矣。</p>
<p>大凡足三陰虛，多因飲食勞役，以致腎不能生肝，肝不能生火而害脾土，不能滋化，但補脾土，則金旺水生，木得平而自相生矣。</p>
<p>一男子，每遇勞役，食少胸痞，發熱頭痛，吐痰作渴，脈浮大。余曰：此脾胃血虛病也，脾屬土，為至陰而生血，故曰陰虛。彼不信，服二陳、黃連、枳實、厚朴之類，諸症益甚；又服四物、黃柏、知母、麥門，更腹痛作嘔，脈洪數而無倫次。余先用六君加炮薑，痛嘔漸愈；又用補中益氣痊愈。</p>
<p>秀才劉貫卿，勞役失宜，飲食失節，肢體倦怠，發熱作渴，頭痛惡寒，誤用人參敗毒散，痰喘昏憒，揚手擲足，胸間發斑，如蚊所吶。余用補中益氣加薑、桂、麥門、五味，補之而愈。</p>
<p>黃武選，飲食勞倦，發熱惡寒，或用解表之藥益甚，再劑昏憒，胸發黑斑。脈洪數而無力，余欲用補中益氣之劑，不從而歿。</p>
<p>一儒者，素勤苦，因飲食失節，大便下血，或赤或黯，半載之後，非便血則盜汗，非惡寒則發熱，血汗二藥用之無效，六脈浮大，心脾則澀，此思傷心脾，不能攝血歸源。然血即汗，汗即血。其色赤黯，便血盜汗，皆火之升降微甚耳；惡寒發熱，氣血俱虛也。乃午前用歸脾加麥門、五味以補心脾之血，收耗散之液，不兩癸卯春人日，余在下堡顧氏會間，有儒者許梅村云：余親馬生者，發熱煩渴，時或頭痛，昨服發散藥，反加喘急，腹痛，其汗如水，晝夜譫語。余意此勞傷元氣，誤汗所致，其腹必喜手按。許往詢之，果然。遂與十全大補加附子一錢，服之熟睡，喚而不醒，舉家驚惶；及覺，諸症頓退，再劑而痊。</p>
<p>凡人飲食勞役起居失宜，見一切火症，悉屬內真寒而外假熱，故肚腹喜暖，口畏冷物，此乃形氣病氣俱屬不足，法當純補元氣為善。</p>
<p>一儒者，日晡兩目緊澀不能瞻視，此元氣下陷，用補中益氣倍加參、　數劑痊愈。</p>
<p>一男子，患症同前，服黃柏、知母之類，目疾益甚，更加便血，此脾氣虛不能統血，肝氣虛不能藏血，用補中益氣、六味地黃以補肝脾生腎水，諸症漸愈。</p>
<p>一男子，飲食勞倦，而發寒熱，右手麻木，或誤以為疔毒，敷服皆寒涼敗毒，腫脹重墜，面色痿黃，肢體倦怠，六脈浮大，按之如無，此脾胃之氣虛也。詢之果是銷銀匠，因熱手入水梅銀寒凝隧道，前藥益傷元氣故耳。遂用補中益氣及溫和之藥煎漬湯手而愈。</p>
<p>一儒者，修左足傷其大指甲少許，不見血，不作痛，形體如故。後因飲食勞倦，足重墜微腫痛，或晝睡或夜寐，其足如故，誤服敗毒之劑，寒熱腫痛。蓋脾起於大指，此是脾氣虛弱下陷，用十全大補湯而愈。</p>
<p>余素性愛坐觀書，久則倦怠，必服補中益氣加麥門、五味、酒炒黑黃柏少許，方覺精神清妥，否則夜間少寐，足內酸熱，若再良久不寐，腿內亦然，且兼腿內筋似有抽縮意，致兩腿左右頻移，展轉不安，必至倦極方寐，此勞傷元氣，陰火乘虛下注。</p>
<p>丁酉五十一歲，齒縫中有如物塞，作脹不安，甚則口舌有瘡然，日晡益甚，若睡良久，或服前藥始安。至辛丑時五十有五，晝間齒縫中作脹，服補中益氣一劑，夜間得寐。至壬寅有內艱之變，日間雖服前劑，夜間齒縫亦脹，每至午前諸齒並肢體方得稍健，午後仍脹，觀此，可知血氣日衰，治法不同。</p>
<h3>三、脾胃虧損心腹作痛等症</h3>
<p>唐儀部胸內作痛，月余腹亦痛，左關弦長，右關弦緊，此脾虛肝邪所乘，以補中益氣加半夏、木香二劑而愈，又用六君子湯二劑而安。此面色黃中見青。</p>
<p>儀部李北川，常患腹痛，每治以補中益氣加山梔即愈。一日因怒，肚腹作痛，胸脅作脹，嘔吐不食，肝脈弦緊，此脾氣虛弱，肝火所乘，仍用前湯吞左金丸，一服而愈。此面色黃中見青兼赤。</p>
<p>太守朱陽山，因怒腹痛作瀉，或兩脅作脹，或胸乳作痛，或寒熱往來，或小便不利，飲食不入，嘔吐痰涎，神思不清，此肝木乘脾土。用小柴胡加山梔、炮薑、茯苓、陳皮、製黃連，一劑而愈。（製黃連即黃連、吳茱萸等分，用熱水拌濕罨二三日同炒焦取連用，後仿此。）</p>
<p>陽山之內，素善怒，胸膈不利，吐痰甚多，吞酸噯腐，飲食少思，手足發熱，十余年矣。所服非芩、連、枳實，必檳、蘇、厚朴。左關弦洪，右關弦數。此屬肝火血燥，木乘土位。朝用六味地黃丸以滋養肝木，夕用六君加當歸、芍藥以調補脾土，不月而愈。癸卯夏患背疽，症屬虛寒，用大溫補之藥而愈。乙巳夏，因大怒，吞酸噯腐，胸腹脹滿。余以他往旬日，或用二陳、石膏治之，吐涎如涌，外熱如灼，將用滾痰丸下之，余到診之，脈洪大按之如無。余曰：此乃脾胃虧損而發熱，脾弱而涎泛出也。余用六君加薑桂一鐘即睡，覺而諸症如失，又數劑而康。</p>
<p>儒者沈尼文，內停飲食，外感風寒，頭痛發熱，惡心腹痛，就治敝止。余用人參養胃加芎、芷、曲、柏、香附、桔梗一劑而愈。次日抵家，前病仍作，腹痛請治。以手重按，痛即止。此客寒乘虛而作也，乃以香砂六君加木香、炮薑，服之睡覺，痛減六七，去二香再服，飲食少進，又加黃　、當歸，少佐升麻而愈。</p>
<p>府庠徐道夫母，胃脘當心痛劇，右寸關俱無，左雖有，微而似絕，手足厥冷，病勢危篤，察其色眼胞上下青黯，此脾虛肝木所勝。用參、朮、茯苓、陳皮、甘草補其中氣，用木香和胃氣以行肝氣；用吳茱萸散脾胃之寒，止心腹之痛。急與一劑，俟滾先服，煎熟再進。諸病悉愈。</p>
<p>向使泥其痛無補法，而反用攻伐之藥，禍不旋踵。一婦人懷抱郁結，不時心腹作痛，年余不愈，諸藥不應，余用歸脾加炒山梔而愈。</p>
<h3>四、脾腎虛寒陽氣脫陷等症</h3>
<p>譚侍御，但頭痛即吐清水，不拘冬夏，吃薑便止，已三年矣。余作中氣虛寒，用六君加當歸、黃、木香、炮薑而瘥。</p>
<p>一儒者，四時喜極熱飲食，或吞酸噯腐，或大便不實，足指縫濕癢。此脾氣虛寒下陷，用六君加薑、桂治之而愈。稍為失宜，諸疾仍作。用前藥加附子錢許，數劑不再發。</p>
<p>一男子，形體倦怠，飲食適可，足指縫濕癢，行坐久則重墜。此脾胃氣虛而下陷。用補中益氣加茯苓、半夏而愈。</p>
<p>一男子，食少胸滿，手足逆冷，飲食畏寒，發熱吐痰，時欲作嘔，自用清氣化痰及二陳、枳實之類，胸腹膨脹，嘔吐痰食，小便淋漓，又用四苓、連、柏、知母、車前，小便不利，諸病益甚。余曰：此脾胃虛寒無火之症，故食入不消而反出。遂用八味丸補火以生土，用補中益氣加薑、桂培養中宮，生發陽氣尋愈。</p>
<p>一男子，每勞肢體時痛，或用清痰理氣之劑，不勞常痛，加以導濕，臂痛漫腫，形體倦怠，內熱盜汗，脈浮大按之微細，此陽氣虛寒，用補中益氣加附子一錢、人參五錢，腫痛悉愈，又以十全大補百余劑而康。彼計服過人參一十三斤，薑、附各斤余。</p>
<p>大雅云：家母，年四十有二，嘉靖壬寅七月，患脾虛中滿痰嗽發熱，又因濕面冷茶吞酸嘔吐絕食，誤服芩、連、青皮等藥，益加寒熱，口乾流涎不收，且作渴，聞食則嘔數日矣。迎先生視之曰：脾主涎，此脾虛不能約制，故涎自出也，欲用人參安胃散。惑於眾論，以為胃經實火宿食，治之病日增劇，忽思冬瓜，食如指甲一塊，頓發嘔吐酸水不止，仍服前藥愈劇，復邀先生視之，則神脫脈絕瀕死矣，惟目睛尚動，先生曰：寒淫於內，治以辛熱，然藥不能下矣，急用鹽附子炒熱熨臍腹，以散寒回陽；又以口氣補接母口之氣；又以附子作餅，熱貼臍間，時許神氣少蘇，以參、朮、附子為末，仍以是藥加陳皮煎膏為丸如粟米大，入五七粒於口，隨津液咽下，即不嘔，二日後加至十余粒，諸病少退，甘涎不止，五日後漸服煎劑一二匙，胃氣少復，乃思粥飲，後投以參、朮等藥溫補脾胃，五十余劑而愈。</p>
<p>大雅敢述病狀之奇洲鑊潭沈大雅頓首拜書。</p>
<h3>五、命門火衰不能生土等症</h3>
<p>廷評張汝翰，胸膈作痞，飲食難化，服枳朮丸，久而形體消瘦，發熱口乾，脈浮大而微，用補中益氣加薑、桂，諸症悉退。惟見脾胃虛寒，遂用八味丸補命門火，不月而飲食進，三月而形體充。此症若不用前丸，多變腹脹喘促，腿足浮腫，小便淋瀝等症，急用濟生加減腎氣丸，亦有得生者。</p>
<p>一儒者，雖盛暑喜燃火，四肢常欲沸湯漬之，面赤吐痰，一似實火，吐甚宿食亦出，惟食椒薑之物方快。余謂食入反出，乃脾胃虛寒，用八味丸及十全大補加炮薑漸愈，不月平復。</p>
<p>一婦人，飲食無過碗許，非大便不實，必吞酸噯腐，或用二陳、黃連，更加內熱作嘔。余謂：東垣先生云，邪熱不殺穀，此脾胃虛弱，末傳寒中。以六君加炮薑、木香，數劑胃氣漸復，飲食漸進。又以補中益氣加炮薑、木香、茯苓、半夏數劑痊愈。後怒飲食頓少，元氣頓怯，更加發熱，誠似實火，脈洪大而虛，兩尺如無，用益氣湯八味丸兩月，諸症悉愈。</p>
<p>佐云：向因失足，劃然有聲，坐立久則左足麻木，雖夏月足寒如冰。嘉靖巳亥夏月，因醉睡覺而飲水，復睡，遂覺右腹痞結，以手摩之，腹間瀝漉有聲，熱摩則氣泄而止，每每加劇，飲食稍多則作痛瀉，求治於醫，令服枳朮丸固守勿效。甲辰歲，求治於立齋先生，診之，喟然嘆曰：此非脾胃病，乃命門火衰不能生土，土虛寒使之然也，若專主脾胃，誤矣，可服八味丸則愈。</p>
<p>予亦敬服，果驗。蓋八味丸有附子，醫家罔敢輕用，夫附子斬關奪旗，回生起死，非良將莫能用，立齋先生今之武侯也。家貧不能報德，故序此以記治驗。嘉靖甲辰十二月望後二日，杉墩介庵朱佐頓首拜書。</p>
<p>光祿鄺子涇，面白神勞，食少難化，所服皆二陳、山梔、枳實之類，形體日瘦，飲食日減。余謂此脾土虛寒之症，法當補土之母。彼不信，乃徑補土，以致不起。</p>
<p>羅工部，仲夏腹惡寒而外惡熱，鼻吸氣而腹覺冷，體畏風而惡寒，脈大而虛微，每次進熱粥甌許，必兼食生薑甌許，離火食腹內即冷。余曰：熱之不熱，是無火也，當用八味丸壯火之源，以消陰翳。彼反服四物、玄參之類而歿。</p>
<p>工部陳禪亭，發熱有痰，服二陳、黃連、枳殼之類，病益甚，甲辰季冬請治，其脈左尺微細，右關浮大，重按微弱。余曰：此命門火衰，不能生土而脾病，當補火以生土，或可愈也。不悟，仍服前藥，脾土愈弱，至乙巳閏正月，病已革。復邀治，右寸脈平脫，此土不能生金，生氣絕於內矣，辭不治。經云：虛則補其母，實則瀉其子。凡病在子，當補其母，況病在母而屬不足，反瀉其子，不死何俟?辛丑年，余在嘉興屠漸山第，有林二守，不時昏憒，請余治之，譫語不絕，脈洪大，按之如無，此陽虛之症也，當用參附湯治之。有原醫者揚喜而迎曰：先得我心之同然，遂服之，即靜睡覺而進食，午後再劑，神思如故，其脈頓斂。余返後，又詐云用附子多矣，吾以黃連解之，陰仍用參附湯。竊觀仲景先生治傷寒，云：桂枝下咽，陽盛乃斃；硝黃入胃，陰盛乃亡。不辨而自明矣。吾恐前言致誤患者，故表而出之。</p>
<h3>六、腎虛火不歸經發熱等症</h3>
<p>大尹沈用之，不時發熱，日飲冰水數碗，寒藥二劑，熱、渴益甚，形體日瘦，尺脈洪大而數，時或無力。王太仆曰：熱之不熱，責其無火；寒之不寒，責其無水。又云：倏熱往來，是無火也；時作時止，是無水也。法當補腎，用加減八味丸，不月而愈。</p>
<p>通安橋顧大有父，年七十有九，仲冬將出，少外家入房，致頭痛發熱，眩暈，喘急，痰涎壅盛，小便頻數，口乾引飲，遍舌生刺，縮斂如荔枝然，下唇黑裂，面目俱赤，煩躁不寐，或時喉間如煙火上衝，急飲涼茶少解，已濱於死。脈洪大而無倫，且有力，捫其身，烙手，此腎經虛火游行於外，投以十全大補加山茱、澤瀉、丹皮、山藥、麥門、五味、附子。一鐘熟寐良久，脈症各減三四，再與八味丸，服之諸症悉退，後畏冷物而痊。</p>
<p>下堡顧仁成，年六十有一，痢後入房，精滑自遺，二日方止。又房勞感寒，怒氣遂發寒熱，右脅痛連心胸，腹痞，自汗、盜汗如雨，四肢厥冷，睡中驚悸，或覺上升如浮，或覺下陷如墮，遂致廢寢，或用補藥二劑，益甚，脈浮大洪數，按之微細，此屬無火虛熱，急與十全大補加山藥、山茱、丹皮、附子。一劑諸症頓愈而痊。此等元氣百無一二。（二顧是父子也）。</p>
<p>一儒者，口乾，發熱，小便頻濁，大便秘結，盜汗，夢遺，遂致廢寢，用當歸六黃湯二劑，盜汗頓止，用六味地黃丸，二便調和，用十全大補湯及前丸兼服，月余悉愈。</p>
<p>州同韓用之，年四十有六，時仲夏，色欲過度，煩熱作渴，飲水不絕，小便淋瀝，大便秘結，唾痰如涌，面目俱赤，滿舌生刺，兩唇燥裂，遍身發熱，或時如芒刺而無定處，兩足心如烙，以冰折之作痛，脈洪而無倫，此腎陰虛，陽無所附而發於外，非火也。蓋大熱而甚，寒之不寒是無水也。當峻補其陰，遂以加減八味丸料一斤內肉桂一兩，以水頓煎六碗，冰冷與飲，半餉已用大半，睡覺而食溫粥一碗，復睡至晚，乃以前藥溫飲一碗，乃睡至曉，食熱粥二碗，諸症悉退。翌日畏寒，足冷至膝，諸症仍至，或以為傷寒。余曰：非也，大寒而甚，熱之不熱，是無火也。陽氣亦虛矣，急以八味丸一劑服之稍緩，四劑諸症復退。大便至十三日不通，以豬膽導之，諸症復作，急用十全大補湯數劑方應。</p>
<p>舉人陳履賢，色欲過度，丁酉孟冬發熱無時，飲水不絕，遺精不止，小便淋瀝。或用四物、芩、連之類，前症益甚，更加痰涎上涌，口舌生瘡。服二陳、黃柏、知母之類，胸膈不利，飲食少思。更加枳殼、香附，肚腹作脹，大便不實，脈浮大按之微細。余朝用四君為主，佐以熟地、當歸，夕用加減八味丸，更以附子唾津調搽涌泉穴，漸愈。後用十全大補湯，其大便不通，小腹作脹，此直腸干澀，令豬膽通之，形體殊倦，痰熱頓增，急用獨參湯而安，再用前藥而愈。但勞發熱無時，其脈浮洪，余謂其當慎起居，否則難治。彼以余言為迂，至乙巳夏復作，乃服四物、黃柏、知母而歿。</p>
<p>吳江晚生沈察，頓首云云：仆年二十有六，所稟虛弱，兼之勞心，癸巳春發熱吐痰，甲午冬為甚，其熱時起於小腹，吐痰而無定時，治者謂脾經濕痰鬱火，用芩、連、枳實、二陳，或專主心火，用三黃丸之類，至乙未冬其熱多起足心，亦無定時，吐痰不絕，或遍身如芒刺然。</p>
<p>治者又以為陰火生痰，用四物、二陳、黃柏、知母之類，俱無驗，丙申夏，痰熱愈甚，盜汗，作渴。果屬痰火耶？陰虛耶？乞高明裁示云云。余曰：此症乃腎經虧損，火不歸經，當壯水之主，以鎮陽光。乃就診於余，果尺脈洪大，余卻虛浮，遂用補中益氣及六味地黃而愈。後不守禁，其脈復作，余謂火令可憂，當慎調攝，會試且緩，但彼忽略，至戊戌夏，果歿於京。</p>
<h3>七、脾胃虧損吞酸噯腐等症</h3>
<p>大司馬王浚川，嘔吐宿滯，臍腹痛甚，手足俱冷，脈微細，用附子理中丸一服益甚，脈浮大按之而細，用參附湯一劑頓愈。</p>
<p>趙吏部文卿，患吐不止，吐出皆酸味，氣口脈大於人迎二三倍，速予投劑。予曰：此食鬱上，宜吐，不須用藥，乃候。其吐清水無酸氣，寸脈漸減，足脈漸復。翌早吐止，至午脈俱平復，勿藥自安。後撫陝右過蘇，顧訪傾蓋清談，濃過於昔，且念余在林下，頻以言慰之。</p>
<p>一儒者，面色痿黃，胸膈不利，吞酸噯腐，恪服理氣化痰之藥，大便不實，食少體倦，此脾胃虛寒，用六君加炮薑、木香漸愈，兼用四神丸而元氣復。此症若中氣虛弱者，用人參理中湯，或補中益氣加木香、乾薑，不應，送左金丸或越鞠丸。若中氣虛寒，必加附子，或附子理中湯，無有不愈。</p>
<p>一上舍，飲食失宜，胸腹膨脹，噯氣吞酸，以自知醫，用二陳、枳實、黃連、蒼朮、黃柏之類，前症益甚，更加足趾腫痛，趾縫出水，余用補中益氣加茯苓、半夏，治之而愈。若腿足浮腫，或　腫，寒熱，嘔吐，亦用前藥。</p>
<p>儒者胡濟之，場屋不利，胸膈膨悶，飲食無味，服枳朮丸，不時作嘔；用二陳、黃連、枳實，痰涌氣促；加紫蘇、枳殼，喘嗽，腹脹；加厚朴、腹皮，小便不利；加檳榔、莪朮，泄瀉，腹痛。悉屬虛寒，用六君加薑、桂二劑，不應，更加附子一錢，二劑稍退，數劑十愈六七，乃以八味丸痊愈。</p>
<p>一上舍，嘔吐痰涎，發熱作渴，胸膈痞滿，或用清氣化痰降火，前症益甚，痰涎自出。余曰：嘔吐痰涎，胃氣虛寒；發熱作渴，胃不生津；胸膈痞滿，脾氣虛弱。須用參、　、歸、朮之類，溫補脾胃，生發陽氣，諸病自退。彼不信，仍服前藥，虛症悉至，復請治。余曰：飲食不入，吃逆不絕，泄瀉，腹痛，手足逆冷，是謂五虛；煩熱作渴，虛陽越於外也；脈洪大，脈欲絕也；死期迫矣。或曰，若然，殞於日乎，夜乎?余曰：脈洪大。當殞於晝。果然。</p>
<p>余母太宜人，年六十有五，己卯春二月，飲食後偶聞外言，忤意，嘔吐酸水，內熱作渴，飲食不進，惟飲冷水，氣口脈大而無倫，面色青赤，此胃中濕熱鬱火，投之以藥，入口即吐，第三日吐酸物，第七日吐酸黃水，十一日吐苦水，脈益洪大，仍喜冷水，以黃連一味煎湯，冷凍飲料少許，至二十日加白朮、白茯苓，至二十五日加陳皮，三十七日加當歸、炙甘草，至六十日，始進清米飲半盞，漸進薄粥，調理得痊。</p>
<p>一婦人，吞酸噯腐，嘔吐痰涎，面色純白，或用二陳、黃連、枳實之類，加發熱作渴，肚腹脹滿。余曰：此脾胃虧損，末傳寒中。不信，仍作火治，肢體腫脹如蠱，余以六君加附子、木香治之，胃氣漸醒，飲食漸進，虛火歸經，又以補中益氣加炮薑、木香、茯苓、半夏，兼服痊愈。</p>
<p>一婦人，性沉靜多慮，胸膈不利，飲食少思，腹脹吞酸，面色青黃，用疏利之劑。余曰：此脾虛痞滿，當益胃氣。不信，仍用之，胸膈果滿，飲食愈少，余以調中益氣加香砂、炮薑漸愈，後以六君、芎、歸、貝母、桔梗、炮薑而愈。</p>
<p>云，家母久患心腹疼痛，每作必胸滿，嘔吐，厥逆，面赤唇麻，咽乾舌燥，寒熱不時，而脈洪大，眾以痰火治之，屢止屢作，迨乙巳春，發熱頻甚，用藥反劇，有朱存默氏，謂服寒涼藥所致，欲用參、朮等劑，余疑痛無補法，乃請立齋先生以折中焉。先生診而嘆曰：此寒涼損真之故，內真寒而外假熱也，且脈息弦洪而有怪狀，乃脾氣虧損，肝脈乘之而然。惟當溫補其胃。</p>
<p>遂與補中益氣加半夏、茯苓、吳茱、木香，一服而效。家母病發月余，竟夕不安，今熟寐徹曉，洪脈頓斂，怪脈頓除，諸症釋然。先生之見，蓋有本歟！家母余齡，皆先生所賜。杏林報德，沒齒不忘。謹述此，乞附醫案，諒有太史者采入倉公諸篇，以垂不朽，將使後者觀省焉。嘉靖乙巳春月吉日，陳湖眷生陸　頓首謹書。</p>
<p>一婦人，年三十余，忽不進飲食，日飲清茶三、五碗，並少用水果，三年余矣，經行每次過期而少，余以為脾氣鬱結，用歸脾加吳茱，不數劑而飲食如常。若人脾腎虛而不飲食，當以四神丸治之。</p>
<p>一婦人，年逾二十，不進飲食二年矣，日飲清茶果品之類，面部微黃，浮腫，形體如常，仍能步履，但體倦怠，肝脾二脈弦浮，按之微而結滯。余用六君加木香、吳茱，下痰積甚多，飲食頓進，形體如瘦，臥床月余，仍服六君之類而安。</p>
<p>婦人患此，見《女科撮要》。</p>
<h3>八、脾腎虧損停食泄瀉等症</h3>
<p>進士劉華甫，停食腹痛瀉黃，吐痰，服二陳、山梔、黃連、枳實之類，其症益甚，左關弦緊，右關弦長，乃肝木克脾土，用六君加木香治之而愈。若食已消而泄未已，宜用異功散以補脾胃，如不應，用補中益氣升發陽氣。凡泄利色黃，脾土虧損，真氣下陷，必用前東加木香、肉蔻溫補，如不應，當補其母，宜八味丸。</p>
<p>光祿柴黼庵，善飲，泄瀉，腹脹，吐痰，作嘔，口乾，此脾胃之氣虛，先用六君加神麯，痰嘔已止，再用補中益氣加茯苓、半夏，瀉、脹亦愈。此症若濕熱壅滯，當用葛花解酲湯分消其濕，濕既去而瀉未已，須用六君加神麯，實脾土，化酒積。然雖為酒而作，實因脾土虛弱，不可專主濕熱。</p>
<p>舊僚錢可久，素善飲，面赤痰盛，大便不實，此腸胃濕痰壅滯，用二陳、芩、連、山梔、枳實、干葛、澤瀉、升麻，一劑，痰吐甚多，大便始實。此後日以黃連三錢泡湯飲之而安。但如此稟濃者不多耳。</p>
<p>一儒者，善飲，便滑，溺澀，食減，胸滿，腿足漸腫，症屬脾腎虛寒，用加減金匱腎氣丸，食進腫消，更用八味丸，胃強脾健而愈。</p>
<p>一男子，侵晨或五更吐痰，或有酸味，此是脾氣虛弱，用六君送四神丸而愈。若脾氣鬱滯，用二陳加桔梗、山梔、送香連丸。若郁結傷脾，用歸脾湯送香連丸。若胸膈不舒，歸脾加柴胡、山梔送左金丸。若胃氣虛，津液不能運化，用補中益氣送左金丸。</p>
<p>一羽士，停食泄瀉，自用四苓、黃連、枳實、曲、柏益甚。余曰：此脾腎泄也，當用六君加薑、桂送四神丸。不信，又用沉香化氣丸一服，臥床不食，咳則糞出，幾至危殆，終踐余言而愈。蓋化氣之劑，峻厲猛烈，無經不傷，無臟不損，豈宜輕服？嘉靖乙未，紹患肝克脾，面赤生風，大腸燥結，炎火衝上，久之遂致臟毒下血，腸鳴溏泄，腹脹喘急，馴至絕穀，瀕於殆矣。諸醫方以枳實、黃連之劑投之，展轉增劇，乃求於立齋先生。先生曰：爾病脾腎兩虛，內真寒而外虛熱，法當溫補。遂以參、朮為君，山藥、黃、肉果、薑、附為臣，茱萸、骨脂、五味、歸、苓為佐，治十劑俾以次服之。諸醫皆曰：此火病也，以火濟火可乎?紹雅信先生，不為動，服之浹旬，盡劑而血止，諸疾遄已。先是三年前，先生過紹，謂曰：爾面部赤風，脾胃病也，不治將深。予心憂之，而怠緩以須，疾發又惑於眾論，幾至不救，微先生吾其土矣。嗚呼!先生之術亦神矣哉!紹無以報盛德，敬述梗概，求附案末，以為四方抱患者告。庶用垂惠於無窮云。長洲朱紹。</p>
<h3>九、脾胃虧損停食痢疾等症</h3>
<p>崔司空，年逾六旬，患痢赤白，裡急後重，此濕熱壅滯，用芍藥湯內加大黃二錢，一劑減半，又劑痊愈。惟急重未止，此脾氣下陷，用補中益氣送香連丸而愈。</p>
<p>羅給事，小腹急痛，大便欲去不去，此脾腎氣虛而下陷也，用補中益氣送八味丸，二劑而愈。此等症候，因痢藥致損元氣，肢體腫脹而歿者，不可枚舉。</p>
<p>少宗伯顧東江，停食患痢，腹痛下墜，或用疏導之劑，兩足脹腫，食少體倦，煩熱作渴，脈洪數，按之微細。余以六君加薑、桂各二錢，吳茱、五味各一錢，煎熟冷服之即睡，覺而諸症頓退，再劑全退。此假熱而治以假寒也。</p>
<p>太常邊華泉，嘔吐不食，腹痛後重，自用大黃等藥一劑腹痛益甚，自汗發熱，昏憒脈大，余用參、朮各一兩，炙甘草、炮薑各三錢，升麻一錢，一鐘而蘇，又用補中益氣加炮薑，二劑而愈。</p>
<p>廷評曲汝為，食後入房，翌午腹痛，去後似痢非痢，次日下皆膿血，煩熱作渴，神思昏倦，用四神丸，一服頓減，又用八味丸料加五味、吳茱、骨脂、肉蔻，二劑痊愈。</p>
<p>判官汪天錫，年六十余。患痢腹痛後重，熱渴引冷，飲食不進，用芍藥湯內加大黃一兩，四劑稍應，仍用前藥，大黃減半，數劑而愈。此等元氣，百無一二。</p>
<p>通府薛允　，下血，服犀角地黃湯等藥，其血愈多，形體消瘦，發熱少食，裡急後重，此脾氣下陷，余用補中益氣加炮薑，一劑而愈。</p>
<p>一上舍，患痢後重，自知醫，用芍藥湯，後重益甚，飲食少思，腹寒肢冷，余以為脾胃虧損，用六君加木香、炮薑，二劑而愈。</p>
<p>一老人，素以酒乳同飲，去後似痢非痢，胸膈不寬，用痰痢等藥不效。余思《本草》云：酒不與乳同飲，為得酸則凝結，得苦則行散。遂以茶茗為丸，時用清茶送三、五十丸，不數服而瘥一老婦，食後，因怒患痢，裡急後重，屬脾氣下陷，與大劑六君加附子、肉蔻、煨木香各一錢，吳茱五分，骨脂、五味各一錢五分，二劑諸症悉退，惟小腹脹悶，此肝氣滯於脾也，與調中益氣加附子、木香五分，四劑而愈。後口內覺咸，此腎虛水泛，與六味地黃丸，二劑頓愈。</p>
<p>先母年八十，仲夏患痢，腹痛，作嘔，不食，熱渴引湯，手按腹痛稍止，脈鼓指而有力，真氣虛而邪氣實也。急用人參五錢，白朮、茯苓各三錢，陳皮、升麻、附子、炙甘草各一錢，服之睡覺索食，脈症頓退，再劑而安。此取症不取脈也，凡暴病，毋論其脈，當從其症。時石閣老太夫人，其年歲、脈症皆同，彼乃專治其痢，遂致不起。</p>
<p>橫金陳梓園，年六十，面帶赤色，吐痰口乾，或時作瀉，癸卯春就診，謂余曰：仆之症，或以為脾經濕熱，痰火作瀉，率用二陳、黃連、枳實、神麯、麥芽、白朮、柴胡之類，不應何也?余脈之，左關弦緊，腎水不能生肝木也；右關弦大，肝木乘克脾土也。此乃脾腎虧損，不能生剋制化，當滋化源。不信，余謂其甥朱太守陽山曰：令舅不久當殞於痢。至甲辰夏，果患痢而歿。</p>
<p>產後痢疾，見《女科撮要》。</p>
<h3>十、脾胃虧損瘧疾寒熱等症</h3>
<p>冬官朱省庵，停食感寒而患瘧，自用清脾、截瘧二藥，食後腹脹，時或作痛，服二陳、黃連、枳實之類，小腹重墜，腿足浮腫，加白朮、山楂，吐食未化。謂余曰：何也?余曰：食後脹痛，乃脾虛不能克化也；小腹重墜，乃脾虛不能升舉也；腿足浮腫，乃脾虛不能營運也；吐食不消，乃脾胃虛寒無火也。治以補中益氣加吳茱、炮薑、木香、肉桂，一劑諸症頓退，飲食頓加，不數劑而痊。</p>
<p>大凡停食之症，宜用六君、枳實、厚朴，若食已消而不愈，用六君子湯。若內傷外感，用藿香正氣散。若內傷多而外感少，用人參養胃湯。若勞傷元氣兼外感，用補中益氣加川芎。若勞傷元氣兼停食，補中益氣加神麯、陳皮。若氣惱兼食，用六君加香附、山梔。若咽酸或食後口酸，當節飲食，病作時，大熱躁渴，以薑湯乘熱飲之，此截瘧之良法也。每見發時，飲啖生冷物者，病或少愈，多致脾虛胃損，往往不治。大抵內傷飲食者，必惡食，外感風寒者，不惡食，審系勞傷元氣，雖有百症，但用補中益氣湯，其病自愈。其屬外感者，主以補養，佐以解散，其邪自退。若外邪既退，即補中益氣以實其表。若邪去而不實其表，或過用發表，虧損脾胃，皆致綿延難治。凡此不問陰陽日夜所發，皆宜補中益氣，此不截之截也。</p>
<p>夫人以脾胃為主，未有脾胃實而患瘧痢者，若專主發表攻裡，降火導痰，是治其末而忘其本。前所云乃瘧之大略，如不應，當分六經表裡而治之，說見各方。</p>
<p>大尹曹時用，患瘧寒熱，用止截之劑，反發熱惡寒，飲食少思，神思甚倦，其脈或浮洪或微細，此陽氣虛寒，余用補中益氣，內參、　、歸、朮各加三錢，甘草一錢五分，加炮薑、附子各一錢，一劑而寒熱止，數劑而元氣復。</p>
<p>一儒者，秋患寒熱，至春未愈，胸痞腹脹，余用人參二兩，生薑二兩煨熟，煎頓服，寒熱即止。</p>
<p>更以調中益氣加半夏、茯苓、炮薑，數劑，元氣頓復。後任縣尹，每飲食勞倦疾作，服前藥即愈。</p>
<p>大凡久瘧乃屬元氣虛，蓋氣虛則寒，血虛則熱，胃虛則惡寒，脾虛則發熱，陰火下流則寒熱交作，或吐涎不食，泄瀉腹痛，手足逆冷，寒戰如栗，若誤投以清脾、截瘧二飲，多致不起。</p>
<p>一上舍，每至夏秋，非停食作瀉，必瘧痢霍亂，遇勞吐痰，頭眩體倦，發熱惡寒，用四物、二陳、芩、連、枳實、山梔之類，患瘧服止截之藥，前症益甚，時或遍身如芒刺然。余以補中益氣加茯苓、半夏，內參、　各用三錢，歸、朮各二錢，十余劑少愈，若間斷其藥，諸病仍至，連服三十余劑全愈。又服還少丹半載，形體充實。</p>
<p>一婦人，瘧久不愈，發後口乾倦甚，用七味白朮散加麥門、五味，作大劑，煎與恣飲，再發稍可，乃用補中益氣加茯苓、半夏，十余劑而愈。</p>
<p>凡截瘧，余常以參、朮各一兩，生薑四兩，煨熟煎服即止，或以大劑補中益氣加煨薑尤效，生薑一味亦效。</p>
<p>東洞庭馬志卿，瘧後，形體骨立，發熱惡寒，食少體倦，用補中益氣，內參、　、歸、朮各加三錢，甘草一錢五分，炮薑二錢，一劑而寒熱止，數劑而元氣復。</p>
<p>一婦人，久患寒熱，服清脾飲之類，胸膈飽脹，飲食減少，余用調中益氣加茯苓、半夏、炮薑各一錢，二劑而痊。</p>
<p>一婦人，勞役停食，患瘧，或用消導止截，飲食少思，體瘦，腹脹，余以補中益氣，倍用參、　、歸、朮、甘草，加茯苓、半夏各一錢五分，炮薑五錢，一劑頓安。又以前藥，炮薑用一錢，不數劑，元氣復而痊愈。</p>
<p>產後瘧疾，見《女科撮要》。</p>
<h3>十一、脾肺虧損咳嗽痰喘等症</h3>
<p>大參李北泉，時吐痰涎，內熱作渴，肢體倦怠，勞而足熱，用清氣化痰益甚。余曰：此腎水泛而為痰，法當補腎。不信，另進滾痰丸。一服吐瀉不止，飲食不入，頭暈眼閉。始信，余用六君子湯，數劑，胃氣漸復，卻用六味丸，月余諸症悉愈。</p>
<p>鴻臚蘇龍溪，咳嗽氣喘，鼻塞流涕，余用參蘇飲一劑，以散寒邪，更用補中益氣湯，以實腠理而愈。後因勞怒仍作，自用前飲益甚，加黃連、枳實，腹脹不食，小便短少，服二陳、四苓，前症愈劇，小便不通。余曰：腹脹不食，脾胃虛也；小便短少，肺腎虛也。悉因攻伐所致。投以六君加黃　、炮薑、五味，二劑，諸症頓退，再用補中益氣加炮薑、五味，數劑痊愈。</p>
<p>地官李北川，每勞咳嗽，余用補中益氣湯即愈。一日復作，自用參蘇飲益甚，更服人參敗毒散，項強口噤，腰背反張。余曰：此誤汗亡津液而變痙矣。仍以前東加附子一錢，四劑而痊。</p>
<p>感冒咳嗽，若誤行發汗過多，喘促呼吸不利，吐痰不止，必患肺癰矣。</p>
<p>待御譚希曾，咳嗽吐痰，手足時冷，余以為脾肺虛寒，用補中益氣加炮薑而愈。</p>
<p>職坊王用之，喘嗽作渴，面赤鼻干，余以為脾肺有熱，用二陳加芩、連、山梔、桔梗、麥門而愈。</p>
<p>僉憲阮君聘，咳嗽面白，鼻流清涕，此脾肺虛而兼外邪，用補中益氣加茯苓、半夏、五味治之而愈，又用六君、芎、歸之類而安。</p>
<p>司廳陳國華，素陰虛，患咳嗽，以自知醫，用發表化痰之劑，不應；用清熱化痰等藥，其症愈甚。余曰：此脾肺虛也。不信，用牛黃清心丸，更加胸腹作脹，飲食少思，足三陰虛症悉見，朝用六君、桔梗、升麻、麥門、五味，補脾土以生肺金，夕用八味丸，補命門火以生脾土，諸症漸愈。</p>
<p>經云：不能治其虛，安問其余?此脾土虛不能生肺金而金病，復用前藥而反瀉其火，吾不得而知也。</p>
<p>中書鮑希伏，素陰虛，患咳嗽，服清氣化痰丸及二陳、芩、連之類，痰益甚；用四物、黃柏、知母、玄參之類，腹脹咽啞，右關脈浮弦，左尺脈洪大。余曰：脾土既不能生肺金，陰火又從而克之，當滋化源。朝用補中益氣加山茱、麥門、五味，夕用六味地黃加五味子，三月余，喜其慎疾得愈。</p>
<p>武選汪用之，飲食起居失宜，咳嗽吐痰，用化痰發散之藥，時仲夏，脈洪數而無力，胸滿面赤，吐痰腥臭，汗出不止。余曰：水泛為痰之症，而用前劑，是謂重亡津液，得非肺癰乎？不信，仍服前藥，翌日果吐膿，脈數左三右寸為甚。始信，用桔梗湯一劑，膿、數頓止，再劑全止，面色頓白，仍於憂惶。余曰：此症面白脈澀，不治自愈。又用前藥一劑，佐以六味丸治之而痊。</p>
<p>錦衣李大用，素不慎起居，吐痰，自汗，咳嗽，發熱，服二陳、芩、連、枳殼、山梔之類，前症不減，飲食少思。用四物、二陳、芩、連、黃柏、知母、玄參之類，前症愈甚，更加胸腹不利，飲食益少，內熱晡熱；加桑皮、紫蘇、杏仁、紫菀、桔梗之類，胸膈膨脹，小便短少；用豬苓、澤瀉、白朮、茯苓、枳殼、青皮、半夏、黃連、蘇子，胸膈痞滿，脅肋膨脹，小便不通；加茵陳、葶藶，喘促不臥，飲食不進，余診之，六脈洪數，肺腎二部尤甚。余曰：脾土既不能生肺金，而心火又乘之，此肺癰之作也。當滋化源，緩則不救。不信，後唾膿痰，復求治。余曰：胸膈痞滿，脾土敗也；喘促不臥，肺金敗也；小便不通，腎水敗也；脅肋膨脹，肝木敗也；飲食不化，心火敗也；此化源既絕，五臟已敗，然藥豈能生耶?已而果然。</p>
<p>絲客姚荃者，素鬱怒，年近六十，脾胃不健，服香燥行氣，飲食少思，兩脅脹悶；服行氣破血，飲食不入，右脅脹痛，喜用手按，彼疑為膈氣，痰飲內傷。余曰：乃肝木克脾土，而脾土不能生肺金也，若內有瘀血，雖單衣亦不敢著肉。用滋化源之藥，四劑，諸症頓退。彼以為愈，余曰：火令在邇，當補脾土以保肺金。彼不信，後復作，另用痰火之劑，益甚，求治，左關、右寸滑數，此肺內潰矣！仍不信，乃服前藥，果吐穢膿而歿。</p>
<p>學士吳北川，過飲,痰塞，舌本強硬，服降火化痰藥，痰氣益甚，肢體不遂，余作脾虛濕熱治之而愈。</p>
<p>上舍史瞻之，每至春咳嗽，用參蘇飲加芩、連、桑、杏乃愈。乙巳春患之，用前藥益甚，更加喉喑，就治，左尺洪數而無力。余曰：此是腎經陰火,刑克肺金，當滋化源。遂以六味丸料加麥門、五味、炒梔及補中益氣湯而愈。</p>
<p>儒者張克明，咳嗽，用二陳、芩、連、枳殼，胸滿氣喘，侵晨吐痰；加蘇子、杏仁，口出痰涎，口乾作渴。余曰：侵晨吐痰，脾虛不能消化飲食；胸滿氣喘，脾虛不能生肺金；涎沫自出，脾虛不能收攝；口乾作渴，脾虛不能生津液。遂用六君加炮薑、肉果，溫補脾胃。更用八味丸，以補土母而愈。</p>
<p>一男子，夏月吐痰或嗽，用胃火藥不應，余以為火乘肺金，用麥門冬湯而愈。後因勞復嗽，用補中益氣加桔梗、山梔、片芩、麥門、五味而愈。但口乾體倦，小便赤澀，日用生脈散而痊。若咳而屬胃火有痰，宜竹葉石膏湯。胃氣虛，宜補中益氣加貝母、桔梗。若陰火上衝，宜生脈散送地黃丸，以保肺氣生腎水。此乃真臟之患，非滋化源決不能愈。</p>
<p>一婦人，患咳嗽，脅痛，發熱，日晡益甚，用加味逍遙散、熟地，治之而愈。年余，因怒氣勞役而前症仍作，又太陽痛或寒熱往來，或咳嗽遺尿，皆屬肝火血虛，陰挺痿痹，用前散及地黃丸，月余而瘥。</p>
<p>表弟婦，咳嗽發熱，嘔吐痰涎，日夜約五六碗，喘咳不寧，胸瘞躁渴，飲食不進，崩血如涌，此命門火衰，脾土虛寒，用八味丸及附子理中東加減治之而愈。詳見婦人血崩。</p>
<p>一婦人，不得於姑，患咳，胸膈不利，飲食無味，此脾肺俱傷，痰鬱於中，先用歸脾東加山梔、撫芎、貝母、桔梗，諸症漸愈，後以六君加芎、歸、桔梗，間服而愈。</p>
<p>一婦人，咳嗽，早間吐痰甚多，夜間喘急不寐。余謂早間痰，乃脾虛飲食所化，夜間喘急，乃肺虛陰火上衝。遂用補中益氣加麥門、五味而愈。</p>
<p>一婦人，飲食後，因怒患瘧，嘔吐，用藿香正氣散二劑而愈。後復怒，吐痰甚多，狂言熱熾，胸脅脹痛，手按少止，脈洪大無倫，按之微細，此屬肝脾二經血虛，以加味逍遙散加熟地、川芎，二劑，脈症頓退，再用十全大補而安。此症若用疏通之劑，是犯虛虛之戒矣。</p>
<p>上舍陳道復長子，虧損腎經，久患咳嗽，午後益甚。余曰：當補脾土，滋化源，使金水自能相生。時孟春，不信，乃服黃柏、知母之類，至夏吐痰引飲，小便頻數，面目如緋，余以白朮、當歸、茯苓、陳皮、麥門、五味、丹皮、澤瀉四劑，乃以參、　、熟地、山茱為丸，俾服之，諸症頓退。復請視，余以為信，遂用前藥，如常與之，彼仍泥不服，卒致不起。</p>
<p>產後咳嗽見《女科撮要》。</p>
<h3>十二、各症方藥</h3>
<p>四物湯　治肝脾腎血虛發熱，或日晡熱甚，頭目不清，或煩躁不寐，胸膈作脹，或脅作痛，宜用此湯。若脾氣虛而不能生血，宜用四君子湯。若脾氣鬱而虛，宜用歸脾湯。若腎水涸而不能生肝血，宜用六味丸。</p>
<p>當歸　熟地黃（各三錢）　芍藥（二錢）　川芎（一錢五分）</p>
<p>上水煎服。</p>
<p>加味四物湯　即前方加白朮、茯苓、柴胡、丹皮。</p>
<p>四君子湯　治脾胃虛弱，飲食少進；或肢體腫脹，肚腹作痛；或大便不實，體瘦面黃；或胸膈虛痞，痰嗽吞酸。若因脾胃虛寒而致，宜香砂六君子；若因脾經郁結而致，宜歸脾湯。若因肝木侮脾胃而致，宜用六君加木香、芍藥；若命門火虛而致，宜用八味丸。</p>
<p>人參　白朮　茯苓（各二錢）　甘草（炙，一錢）</p>
<p>上薑、棗，水煎服。</p>
<p>異功散　治久咳不已，或腹滿少食，或面腫氣逆。又治脾胃虛弱，飲食少思等症。即前方加陳皮。</p>
<p>六君子湯　即四君子加半夏、陳皮。治脾胃虛弱，飲食少思，或久患瘧、痢。若見內熱，或飲食難化作酸，乃屬虛火，須加炮薑。其功甚速。</p>
<p>香砂六君子湯　即前方加香附、藿香、砂仁。</p>
<p>人參理中湯　治脾胃虛弱，飲食少思，或去後無度，或嘔吐腹痛，或飲食難化，胸膈不利，或瘧疾中氣虛損，久不能愈，或中氣虛弱，痰氣不利，口舌生瘡。加附子名附子理中湯，治中氣虛寒而患前症，又治入房腹痛，手足逆冷，或犯寒氣，或食冷物。</p>
<p>人參　白朮　乾薑（炮）　甘草（炙）　各等分上每服五、七錢，或一兩，水煎服。</p>
<p>附子理中湯　治脾胃虛寒，手足厥冷，飲食不入，或腸鳴切痛，嘔逆吐瀉。即前方加附子等分，照前服。</p>
<p>八珍湯　治氣血虛弱，惡寒發熱，煩躁作渴，或不時寒熱，眩暈昏憒，或大便不實，小便赤淋，或飲食少思，小腹脹痛等症。即四物、四君合方。</p>
<p>十全大補湯　即八珍加黃　、肉桂，治症同前。又治遺精，白濁，自汗，盜汗；或內熱、晡熱、潮熱、發熱；或口乾作渴，喉痛舌裂；或胸乳膨脹，脅肋作痛；或臍腹陰冷，便溺余滴；或頭頸時痛，眩暈目花；或心神不寧，寤而不寐；或形容不充，肢體作痛；或鼻吸氣冷，急趨氣促。此皆是無根虛火，但服此藥，諸症悉退。</p>
<p>人參養榮湯　治脾肺俱虛，發熱惡寒，四肢倦怠，肌肉消瘦，面黃短氣，食少作瀉。若氣血虛而變見諸症，莫能名狀，勿論其病，勿論其脈，但用此湯，其病悉退。</p>
<p>白芍藥（一錢五分）　人參　陳皮　黃　（蜜炙）　桂心　當歸　白朮　甘草（炙，各一錢）　熟地黃五味子（炒杵）　茯苓（各七分半）　遠志（五分）</p>
<p>上薑、棗，水煎服。</p>
<p>當歸補血湯　治氣血俱虛，肌熱惡寒，面目赤色，煩渴引飲，脈洪大而虛，重按似無。此脈虛血虛也。此病多有得於飢飽勞役者。</p>
<p>黃　（炙，一兩）　當歸（二錢，酒製）</p>
<p>上水煎服。</p>
<p>當歸六黃湯當歸　黃　（炒）　生地黃　熟地黃（各一錢）　黃芩　黃連　黃柏（各炒焦，五分）</p>
<p>上水煎服。</p>
<p>獨參湯　治一切失血，惡寒發熱，作渴煩躁。蓋血生於氣，故血脫補氣，陽生陰長之理也。</p>
<p>人參（二兩）</p>
<p>上棗十枚，水煎服。</p>
<p>歸脾湯　治思慮傷脾，不能攝血，致血妄行；或健忘，怔忡，驚悸，盜汗；或心脾作痛，嗜臥少食，大便不調；或肢體重痛，月經不調，赤白帶下；或思慮傷脾而患瘧、痢。</p>
<p>人參　白朮　白茯苓　黃　龍眼肉　酸棗仁（各二錢）　遠志（一錢）　木香　甘草（炙，各五分）</p>
<p>當歸（一錢）</p>
<p>上薑、棗，水煎服。</p>
<p>加味歸脾湯　即前方加柴胡、山梔。</p>
<p>加減八味丸　治腎水不足，虛火上炎，發熱作渴，口舌生瘡，或牙齦潰爛，咽喉作痛；或形體憔悴，寢汗，發熱，五臟齊損。即六味丸加肉桂一兩。</p>
<p>六味丸（一名地黃丸，一名腎氣丸。）</p>
<p>治腎經不足，發熱作渴，小便淋秘，氣壅痰嗽，頭目眩暈，眼花耳聾，咽燥舌痛，齒牙不固，腰腿痿軟，自汗盜汗，便血諸血失音，水泛為痰，血虛發熱等症。其功不能盡述。</p>
<p>熟地黃（八兩，杵膏）　山茱萸肉　干山藥（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩）</p>
<p>上各另為末，和地黃加煉蜜，丸桐子大，每服七、八十丸，空心食前滾湯下。</p>
<p>八味丸　治命門火衰，不能生土，以致脾胃虛寒，飲食少思，大便不實，臍腹疼痛，夜多漩溺等症。即六味丸加肉桂、附子各一兩。</p>
<p>余方見下卷。</p>
<h2>卷下</h2>
<h3>一、脾腎虧損頭眩痰氣等症</h3>
<p>閣老梁濃齋，氣短有痰，小便赤澀，足跟作痛，尺脈浮大，按之則澀，此腎虛而痰飲也，用四物送六味丸，不月而康。仲景先生云：氣虛有飲，用腎氣丸補而逐之。誠開後學之蒙　，濟無窮之夭枉，腎氣丸即六味丸也。</p>
<p>都憲孟有涯，氣短痰暈，服辛香之劑，痰盛，遺尿，兩尺浮大，按之如無，余以為腎家不能納氣歸源，香燥致甚耳，用八味丸料，三劑而愈。</p>
<p>孫都憲，形體豐濃，勞神善怒，面帶陽色，口渴吐痰，或頭目眩暈，或熱從腹起，左三脈洪而有力，右三脈洪而無力，余謂足三陰虧損，用補中益氣加麥門、五味及加減八味丸而愈。若人少有老態，不耐寒暑，不勝勞役，四時迭病，皆因少時氣血方長，而勞心虧損；或精血未滿，而御女過傷，故其見症難以悉狀，此精氣不足，但滋化源，其病自痊。又若飲食勞役、七情失宜，以致諸症，亦當治以前法。設或六淫所侵，而致諸症，亦因真氣內虛，而外邪乘襲，尤當固胃氣為主。蓋胃為五臟之根本，故黃柏、知母不宜輕用，恐復傷胃氣也。</p>
<p>大凡雜症屬內因，乃形氣病氣俱不足，當補不當瀉，傷寒雖屬外因，亦宜分其表、裡、虛、實，治當審之。</p>
<p>昌平守王天成，頭暈惡寒，形體倦怠，得食稍愈，勞而益甚，寸關脈浮大，此脾肺虛弱，用補中益氣加蔓荊子而愈。後因勞役，發熱惡寒，譫言不寐，得食稍安，用補中益氣湯而痊。</p>
<p>大尹祝支山，因怒頭暈，拗內筋攣，時或寒熱，日晡熱甚，此肝火筋攣，氣虛頭暈，用八珍加柴胡、山梔、牡丹皮，二十余劑而愈。</p>
<p>上舍顧桐石，會飲於周上舍節，問余曰：向孟有涯、陳東穀俱為無嗣，納寵已而得疾，皆頭暈吐痰，並用蘇合香丸，惟有涯得生，何也?余曰：二症因腎虛不能納氣，而為頭暈；不能制水而為痰涎。東穀專主攻痰行氣，有涯專於益火補氣故耳。後余應杭人之請，桐石房勞過度，亦患前症，或用清氣化痰愈甚，顧曰：我病是腎虛不能納氣歸源。治者不悟而歿。惜哉!一男子，素濃味，胸滿痰盛。余曰：膏粱之人，內多積熱。與法制清氣化痰丸而愈。彼為有驗，修合饋送，脾胃虛者，無不受害。</p>
<p>先兄，體貌豐偉，唾痰甚多，脈洪有力，殊不耐勞，遇風頭暈欲仆，口舌破裂，或至赤爛，誤食薑蒜少許，口瘡益甚，服八味丸及補中益氣加附子錢許即愈。停藥月余，諸症仍作，此命門虛火不歸源也。</p>
<h3>二、肝腎虧損血燥結核等症</h3>
<p>儒者楊澤之，性躁嗜色，缺盆結一核，此肝火血燥筋攣，法當滋腎水生肝血。不信，乃內服降火化痰，外敷南星、商陸，轉大如碗。余用補中益氣及六味地黃，間以蘆薈丸，年余元氣漸復而腫消。</p>
<p>一男子，素善怒，左項微腫，漸大如升，用清痰理氣，而大熱作渴，小便頻濁。余謂腎水虧損，用六味地黃，補中益氣而愈。亦有胸脅等處，大如升斗，或破而如菌如榴，不問大小，俱治以前法。</p>
<p>一男子，頸間結核，大潰年余，一男子眉間一核，初如豆粒，二年漸大如桃，悉用清肝火、養肝血、益元氣而愈。</p>
<p>舉人江節夫，頸、臂、脅肋各結一核，恪服祛痰降火軟堅之劑，益甚。余曰：此肝膽經血少而火燥也。彼執前藥，至明年六月各核皆潰，脈浮大而澀。余斷以秋金將旺，肝木被克，必不起，</p>
<h3>三、脾腎虧損小便不利肚腹膨脹等症</h3>
<p>大尹劉天錫，內有濕熱，大便滑利，小便澀滯，服淡滲之劑，愈加滴瀝，小腹、腿、膝皆腫，兩眼脹痛，此腎虛熱在下焦，淡滲導損陽氣，陰無以化，遂用地黃、滋腎二丸，小便如故。更以補中益氣加麥門、五味、兼服而愈。</p>
<p>州守王用之，先因肚腹膨脹，飲食少思，服二陳、枳實之類，小便不利，大便不實，咳痰，腹脹，用淡滲破氣之劑，手足俱冷，此足三陰虛寒之症也，用金匱腎氣丸，不月而康。</p>
<p>州同劉禹功，素不慎起居、七情，以致飲食不甘，胸膈不利，用消導順氣，肚腹痞滿，吐痰氣逆；用化痰降火，食少泄瀉，小便作脹；用分利降火，小便澀滯，氣喘痰涌；服清氣化痰丸，小便愈澀，大便愈瀉，肚腹脹大，肚臍突出，不能寢臥，六脈微細，左寸虛甚，右寸短促，此命門火衰，脾腎虛寒之危症也。先用金匱加減腎氣丸料，肉桂、附各一錢五分。二劑，下瘀穢甚多；又以補中益氣送二神丸，二劑，諸症悉退五六；又用前藥數劑，並附子之類，貼腰臍及涌泉穴，寸脈漸復而安。後因怒腹悶，惑於人言，服沉香化氣丸，大便下血，諸症悉至。</p>
<p>余曰：此陰絡傷也。辭不治，果歿。</p>
<p>一富商，飲食起居失宜，大便干結，常服潤腸等丸，後胸腹不利，飲食不甘，口乾體倦，發熱吐痰，服二陳、黃連之類，前症益甚，小便滴瀝，大便泄瀉，腹脹少食，服五苓、瞿麥之類，小便不通，體腫喘嗽，用金匱腎氣丸、補中益氣湯而愈。</p>
<p>一儒者，失於調養，飲食難化，胸膈不利。或用行氣消導藥，咳嗽喘促；服行氣化痰藥，肚腹漸脹；服行氣分利藥，睡臥不能，兩足浮腫，小便不利，大便不實，脈浮大，按之微細兩寸皆短。此脾腎虧損，朝用補中益氣加薑、附，夕用金匱腎氣加骨脂、肉果，各數劑，諸症漸愈，再佐以八味丸，兩月乃能步履，卻服補中、八味，半載而康。</p>
<p>一男子，素不善調攝，唾痰口乾，飲食不美。服化痰行氣之劑，胸滿腹脹，痰涎愈盛。服導痰理脾之劑，肚腹膨脹，二便不利。服分氣利水之劑，腹大脅痛，睡臥不得。服破血消導之劑，兩足皆腫，脈浮大不及於寸口。朝用金匱加減腎氣丸，夕用補中益氣湯煎送前丸，月余諸症漸退，飲食漸進，再用八味丸、補中湯，月余自能轉側，又兩月而能步履，卻服大補湯、還少丹，又半載而康。後稍失調理，其腹仍脹，服前藥即愈。</p>
<p>一男子，患前症，余為壯火補土漸愈，彼欲速，服攻積之劑，下血甚多。余診之曰：此陰絡傷，故血內溢，非所宜也。後果歿。</p>
<p>一男子，胸膈痞悶，專服破氣之藥。余曰：此血虛之病也，血生於脾土，若服前藥，脾氣弱而血愈虛矣。不信，又用內傷之藥，反吐血。余曰：此陽絡傷也。後果然。</p>
<p>大方世家湖鄉，離群索居，山妻趙氏，忽嬰痰熱，治者多以寒涼，偶得小愈，三四年余，屢進屢退，於是元氣消爍，庚子夏，遍身浮腫，手足麻冷，日夜咳嗽，煩躁引飲，小水不利，大肉盡去，勢將危殆。幸遇先生診之，脈洪大而無倫，按之如無，此虛熱無火，法當壯火之源，以生脾土，與金匱腎氣丸料服之，頓覺小水潰決如泉，俾日服前丸，及大補之藥，二十余劑而愈，三、四年間平康無恙。迄今甲辰仲春，悲哀動中，前症復作，體如焚燎，口肉盡腐，胸腹腫滿，食不下咽者四日，夫婦相顧，束手待斃而已。又承先生視之，投以八味丸二服，神思清爽，服金匱腎氣丸料加參、　、歸、朮，未竟夕而胸次漸舒，陟然思食，不三日而病去五六矣，嗣後日用前二丸，間服，逾月而起。至秋初，復患痢，又服金匱腎氣丸料加參、　、歸、朮、黃連、吳茱、木香，痢遂止，但覺後重，又用補中益氣加木香、黃連、吳茱、五味，數劑而愈。</p>
<p>大方自分寒素，命亦蹇剝，山妻抱病沉痼，本難調攝，苟非先生援救，填壑未免，今不肖奔走衣食於外，而可無內顧之憂矣。然則先生之仁庇，固不肖全家之福，亦不消全家之感也。斯言也，當置之座右，以為子孫世誦之，不肖嘗待先生之側，檢閱醫案，始知山妻奏效巔末，遂秉書紀二丸藥之聖，且彰先生用藥之神萬一云。吳門晚學生沈大方履文再拜頓首謹書。</p>
<h3>四、脾胃虧損暑濕所傷等症</h3>
<p>（附：食生冷入房）</p>
<p>大司徒李蒲汀，南吏部少宰，時患黃膽，當用淡滲之劑，公尚無嗣，猶豫不決。余曰：有是病而用是藥，以茵陳五苓散加芩、連、山梔，二劑而愈。至辛卯得子，公執余手而笑曰：醫方猶公案也，設君避毀譽，殘喘，安得享余年。而遂付托之望哉，由是禮遇益濃。</p>
<p>應天王治中，遍身發黃，妄言如狂，苦於胸痛，手不可近，此中焦蓄血為患，用桃仁承氣湯一劑，下瘀血而愈。</p>
<p>太守朱陽山弟，下部蓄血發狂，用抵當湯而愈。</p>
<p>一儒者，每春夏口乾發熱，勞則頭痛，服清涼化痰藥，瀉、喘、煩躁，用香薷飲，神思昏憒，脈大而虛，此因閉藏之際，不遠幃幕為患，名曰注夏。用補中益氣去柴胡、升麻，加五味、麥門、炮薑，一劑，脈益甚。仍用前藥加肉桂五分，服之即蘇，更用六味丸而痊。</p>
<p>一儒者，體肥善飲，仲秋痰喘，用二陳、芩、連，益甚，加桑皮、杏仁，盜汗氣促；加貝母、枳殼，不時發熱，余以為脾肺虛寒，用八味丸以補土母，補中益氣以接中氣而愈。</p>
<p>一男子，夏月入房，食冰果腹痛，余用附子理中湯而愈。有同患此者，不信，別用二陳、芩、連之類而死。</p>
<p>一男子，盛暑發熱，胸背作痛，飲湯自汗，用發表之藥，昏憒譫語，大便不實，吐痰甚多，用十全大補，一劑頓退，又用補中益氣加炮薑，二劑痊愈。</p>
<h3>五、肝脾腎虧損頭目耳鼻等症</h3>
<p>給事張禹功，目赤不明，服祛風散熱藥，反畏明重聽，脈大而虛，此因勞心過度，飲食失節，以補中益氣加茯神、棗仁、山藥、山茱、五味頓愈。又勞役復甚，用十全大補兼以前藥漸愈，卻用補中益氣加前藥而痊。</p>
<p>東垣云：諸經脈絡，皆走於面而行空竅，其清氣散於目而為精，走於耳而為聽，若心煩事冗，飲食失節，脾胃虧損，心火太盛，百脈沸騰，邪害孔竅而失明矣。況脾為諸陰之首，目為血脈之宗，脾虛則五臟之精氣皆為失所，若不理脾胃，不養神血，乃治標而不治本也。</p>
<p>少宰李蒲汀，耳如蟬鳴，服四物湯，耳鳴益甚，此元氣虧損之症，五更服六味地黃丸，食前服補中益氣湯頓愈。此症若血虛而有火，用八珍加山梔、柴胡。氣虛而有火，四君加山梔、柴胡。若因怒就聾或鳴，實，用小柴胡加芎、歸、山梔，虛，用補中益氣加山梔。午前甚，用四物加白朮、茯苓，久，須用補中益氣，午後甚，用地黃丸。</p>
<p>少司馬黎仰之，南銀台時，因怒耳鳴，吐痰，作嘔，不食，寒熱，脅痛，用小柴胡合四物加山梔、茯神、陳皮而瘥。</p>
<p>尚寶劉毅齋，怒則太陽作痛，用小柴胡加茯苓、山梔以清肝火，更用六味丸以生腎水，後不再發。</p>
<p>一儒者，日晡兩目緊澀，不能瞻視，此元氣下陷，用補中益氣倍加參、　，數劑痊愈。</p>
<p>一男子，亦患前症，服黃柏、知母之類，更加便血，此脾虛不能統血，肝虛不能藏血也，用補中益氣、六味地黃而愈。</p>
<p>一儒者，兩目作痛，服降火祛風之藥，兩目如緋，熱倦殊甚，余用十全大補湯數劑，諸症悉退，服補中益氣兼六味丸而愈。復因勞役，午後目澀、體倦，服十全大補而痊。</p>
<p>一男子，房勞兼怒，風府脹悶，兩脅脹痛，余作色欲損腎，怒氣傷肝，用六味地黃丸料加柴胡、當歸，一劑而安。</p>
<p>一儒者，酒色過度，頭腦兩脅作痛，余以為腎虛而肝病，亦用前藥頓安。</p>
<p>一男子，面白鼻流清涕，不聞馨穢，三年矣，用補中益氣加麥門、山梔而愈。</p>
<p>一男子，年二十，素嗜酒色，兩目赤痛，或作或止，兩尺洪大，按之微弱。余謂少年得此，目當失明。翌早索途而行，不辨天日，眾皆驚異。余與六味地黃料加麥門、五味，一劑頓明。</p>
<p>婦人症，見《女科撮要》。</p>
<h3>六、脾肺腎虧損小便自遺淋澀等症</h3>
<p>大司徒許函穀，在南銀台時，因勞發熱，小便自遺，或時不利，余作肝火陰挺不能約制，午前用補中益氣加山藥、黃柏、知母，午後服地黃丸，月余諸症悉退。</p>
<p>此症若服燥劑而頻數或不利，用四物、麥門、五味、甘草。若數而黃，用四物加山茱、黃柏、知母、五味、麥門。若肺虛而短少，用補中益氣加山藥、麥門。若陰挺、痿痹而頻數，用地黃丸。若熱結膀胱而不利，用五淋散。若脾肺燥不能化生，用黃芩清肺飲。若膀胱陰虛，陽無以生而淋瀝，用滋腎丸。若膀胱陽虛，陰無以化而淋澀，用六味丸。若轉筋小便不通，或喘急欲死，不問男女孕婦，急用八味丸，緩則不救。若老人陰痿思色，精不出而內敗，小便道澀如淋，用八味丸料加車前、牛膝。若老人精已竭而復耗之，大小便道牽痛，愈痛愈欲便，愈便則愈痛，亦治以前藥，不應，急加附子。若喘嗽吐痰，腿足冷腫，腰骨大痛，面目浮腫，太陽作痛，亦治以前藥。若痛愈而小便仍澀，宜用加減八味丸以緩治之。（詳見《褚氏遺書‧精血篇》，但無治法耳。）</p>
<p>司徒邊華泉，小便頻數，澀滯短赤，口乾唾痰，此腎經陽虛熱燥，陰無以化，用六味、滋腎二丸而愈。</p>
<p>司馬李梧山，莖中作痛，小便如淋，口乾唾痰，此思色精降而內敗，用補中益氣、六味地黃而愈。</p>
<p>考功楊村庵，口舌乾燥，小便頻數，此膀胱陽燥陰虛，先用滋腎丸以補陰，而小便愈，再用補中益氣、六味地黃以補肺腎而安。若汗多而小便短少，或體不禁寒，乃脾肺氣虛也。</p>
<p>司空何燕泉，小便赤短，體倦食少，缺盆作痛，此脾肺虛弱，不能生腎水，當滋化源，用補中益氣、六味丸加五味而安。</p>
<p>商主客，素膏粱，小便赤數，口乾作渴，吐痰稠黏，右寸關數而有力，此脾肺積熱遺於膀胱，用黃芩清肺飲調理脾肺，用滋腎、六味二丸，滋補腎水而愈。</p>
<p>一儒者，發熱無時，飲水不絕，每登廁小便澀痛，大便牽痛，此精竭復耗所致，用六味丸加五味子及補中益氣，喜其謹守得愈。若肢體畏寒，喜熱飲食，用八味丸。</p>
<p>儒者楊文魁，痢後，兩足浮腫，胸腹脹滿，小便短少，用分利之劑，遍身腫兼氣喘。余曰：兩足浮腫，脾氣下陷也；胸腹脹滿，脾虛作痞也；小便短少，肺不能生腎也；身腫氣喘，脾不能生肺也。用補中益氣東加附子而愈。半載後因飲食勞倦，兩目浮腫，小便短少，仍服前藥頓愈。</p>
<p>甲戌年七月，余奉侍武廟湯藥，勞役過甚，飲食失節，復兼怒氣。次年春莖中作癢，時出白津，時或痛甚，急以手緊捻才止，此肝脾之氣虛也，服地黃丸及補中益氣加黃柏、柴胡、山梔、茯苓、木通而愈。至丁酉九月，又因勞役，小便淋瀝，莖癢竅痛，仍服前東加木通、茯苓、膽草、澤瀉及地黃丸而愈。</p>
<p>大尹顧榮甫，尾閭作癢，小便赤澀，左尺脈洪數，屬腎經虛熱，法當滋補。彼不信，乃服黃柏、知母等藥，年許，高骨腫痛，小便淋瀝，肺腎二脈洪數無倫。余曰：子母俱敗，無能為矣。後果歿。</p>
<p>余甲辰仲夏，在橫金陳白野第，會其外舅，顧同崖求余診脈，左尺澀結，右寸洪數。余曰：此肺金不能生腎水，誠可慮。果至季冬莖道澀痛如淋，愈痛則愈欲便，愈便則愈痛而歿。</p>
<h3>七、脾肺腎虧損虛勞怯弱等症</h3>
<p>庶吉士黃伯鄰，發熱吐痰，口乾體倦，自用補中益氣湯不應，余謂：此金水俱虛之症，兼服地黃丸而愈。後背患一癤，煩痛寒熱，彼因前月嘗偕往視郭主政背疽，郭不經意，余決其殞於金旺之日，果符余言。已而郭氏妻孥感其毒，皆患惡瘡，伯鄰所患與郭患同，甚恐。余曰：此小瘡也，憎寒等症，皆陰虛舊症，果是瘡毒，亦當補氣血。余在第，就以地黃丸料煎與。服之，即睡，良久各症頓退。自後常有頭面耳目口舌作痛，或吐痰眩暈之類，服前藥即愈。後任都憲督鹽法道，出於蘇，必垂顧焉。</p>
<p>少司空何瀟用，足熱口乾，吐痰頭暈，服四物、黃連、黃柏，飲食即減，痰熱益甚，用十全大補加麥門、五味、山藥、山茱而愈。</p>
<p>一儒者，或兩足發熱，或腳跟作痛，用六味丸及四物加麥門、五味、玄參治之而愈。後因勞役，發熱惡寒，作渴煩躁，用當歸補血湯而安。</p>
<p>儒者劉允功，形體魁偉，冬日飲水，自喜壯實。余曰：此陰虛也。不信，一日口舌生瘡，或用寒涼之劑，肢體倦怠，發熱惡寒，余用六味地黃、補中益氣而愈。</p>
<p>一男子，腿內作痛，用滲濕化痰藥，痛連臀肉，面赤吐痰，腳跟發熱。余曰：乃腎虛陰火上炎，當滋化源。不信，服黃柏、知母之類而歿。</p>
<p>余甥居宏，年十四而娶，至二十形體豐濃，發熱作渴，面赤作脹，或外為砭血，內用降火，肢體倦怠，痰涎愈多，脈洪數鼓指。用六味丸及大補東加麥門、五味而痊。</p>
<p>余甥凌云漢，年十六，庚子夏作渴發熱，吐痰唇燥，遍身生疥，兩腿尤多，色黯作癢，日晡愈熾，仲冬腿患瘡，尺脈洪數。余曰：疥，腎疳也；瘡，骨疽也，皆腎經虛症。針之膿出，其氣氤氳，余謂火旺之際，必患瘵症。遂用六味地黃、十全大補，不二旬諸症愈而瘵症具，仍用前藥而愈。抵冬娶妻，至春其症復作，父母憂之，俾其外寢，雖其年少，謹疾，亦服地黃丸數斤，煎藥三百余劑而愈。</p>
<p>其弟云霄，年十五，壬寅夏，見其面赤唇燥，形體消瘦。余曰：子病將進矣。癸卯冬復見之曰：子病愈深矣！至甲辰夏，胃經部分有青色，此木乘土也，始求治。先以六君加柴胡、芍藥、山梔、蕪荑、炒黑黃連數劑，及四味肥兒、六味地黃二丸，及參、苓、白朮、歸、芍、山梔、麥門、五味、炙草，三十余劑，肝火漸退，更加膽草、柴胡，三十余劑，乃去芍，加肉桂，三十余劑，及加減八味丸，元氣漸復而愈。</p>
<h3>八、脾肺腎虧損遺精吐血便血等症</h3>
<p>少宰汪涵齋，頭暈，白濁，余用補中益氣加茯苓、半夏，愈而復患腰痛，用山藥、山茱、五味、萆、遠志頓愈。又因勞心，盜汗，白濁，以歸脾東加五味而愈。後不時眩暈，用八味丸全愈。</p>
<p>南銀台許函穀，因勞發熱作渴，小便自遺，或時閉澀，余作肝火血虛，陰挺不能約制，午前用補中益氣加山藥、山茱，午後服地黃丸，月余諸症悉退。</p>
<p>司廳陳石鏡，久患白濁，發熱體倦，用補中益氣加炮薑四劑，白濁稍止，再用六味地黃丸兼服，諸症悉愈。</p>
<p>光祿柴黼庵，因勞患赤白濁，用濟生歸脾、十全大補二湯，間服而愈。</p>
<p>司廳張襝齋，陰中腫痛，時發寒熱，若小腹作痛，則莖出白津，用小柴胡加山梔、膽草、茱萸、芎、歸而愈。</p>
<p>朱工部，勞則遺精，齒牙即痛，用補中益氣加半夏、茯苓、芍藥，並六味地黃丸漸愈，更以十全大補加麥門、五味而痊。</p>
<p>一男子，白濁夢遺，口乾作渴，大便閉澀，午後熱甚，用補中益氣加芍藥、玄參，並加減八味丸而愈。</p>
<p>一男子，莖中痛，出白津，小便秘，時作癢，用小柴胡加山梔、澤瀉、炒連、木通、膽草、茯苓，二劑頓愈，又兼六味地黃丸而痊。</p>
<p>一男子，發熱，便血，精滑。一男子尿血，發熱。一男子發熱，遺精，或小便不禁。俱屬腎經虧損，用地黃丸、益氣湯以滋化源，並皆得愈。</p>
<p>一男子，鰥居數年，素勤苦，勞則吐血，發熱煩躁，服犀角地黃湯，氣高而喘，前病益盛，更遺精白濁，形體倦怠，飲食少思，脈洪大舉按有力，服十全大補加麥門、五味、山茱、山藥而愈。</p>
<p>儒者楊啟元，素勤苦，吐血發痙，不知人事，余以為脾胃虛損，用十全大補湯及加減八味丸而痊愈，再用歸脾湯而血止。</p>
<p>一儒者，因飲食勞役及惱怒，眉發脫落，余以為勞傷精血，陰火上炎所致，用補中益氣加麥門、五味，及六味地黃丸加五味，眉發頓生如故。</p>
<p>一男子，年二十，巔毛脫盡，用六味地黃丸，不數日，發生寸許，兩月復舊。吳江史萬湖云：有男女偶合，眉發脫落，無藥調治，至數月後復生。</p>
<p>一童子，年十四，發熱吐血，余謂宜補中益氣以滋化源。不信，用寒涼降火，愈甚。始謂余曰：童子未室，何腎虛之有?參、　補氣，奚為用之？余述丹溪先生云：腎主閉藏，肝主疏泄，二臟俱有相火，而其系上屬於心，心為君火，為物所感則易動於心，心動則相火翕然而隨，雖不交會，其精亦暗耗矣。又《精血篇》云：男子精未滿而御女以通其精，則五臟有不滿之處，異日有難狀之疾。遂用補中益氣及地黃丸而瘥。</p>
<p>一男子，咳嗽吐血，熱渴痰盛，盜汗遺精，用地黃丸料加麥門、五味治之而愈。後因勞怒，忽吐紫血塊，先用花蕊石散，又用獨參湯漸愈。後勞則吐血一、二口，脾肺腎三脈皆洪數，用補中益氣、六味地黃而痊愈。</p>
<p>辛丑夏，余在嘉興屠內翰第，遇星士張東穀談命時，出中庭吐血一，二口，云：久有此症，遇勞即作。余意此勞傷肺氣，其血必散，視之果然，與補中益氣加麥門、五味、山藥、熟地、茯神、遠志，服之而愈。翌早請見，云：每服四物、黃連、山梔之類，血益多而倦益甚，今得公一匕，吐血頓止，神思如故，何也?余曰：脾統血，肺主氣，此勞傷脾肺，致血妄行，故用前藥健脾肺之氣，而噓血歸源耳！後率其子以師余，余曰：管見已行於世矣，子宜覽之。</p>
<h3>九、肝脾腎虧損下部瘡腫等症</h3>
<p>通府黃廷用，飲食起居失宜，兩足發熱，口乾吐痰，自用二陳、四物益甚，兩尺數而無力。余曰：此腎虛之症也。不信，仍服前藥，足跟熱癢，以為瘡毒，又服導濕之劑，赤腫大熱，外用敷藥，破而出水，久而不愈，及用追毒丹，瘡突如桃，始信余言，滋其化源，半載得瘥。</p>
<p>儒者章立之，左股作痛，用清熱滲濕之藥，色赤腫脹，痛連腰脅，腿足無力。余以為足三陰虛，用補中益氣、六味地黃，兩月余元氣漸復，諸症漸退，喜其慎疾，年許而痊。</p>
<p>府癢鐘之英，兩腿生瘡，色黯如錢，似癬者三四，癢痛相循，膿水淋漓，晡熱內熱，口乾，面黧，此腎虛之症，用加味六味丸，數日而愈。此等症候，用祛風敗毒之劑，以致誤人多矣。</p>
<p>一男子，素遺精，足跟作痛，口乾作渴，大便干燥，午後熱甚，用補中益氣加芍藥、玄參及六味丸而愈。</p>
<p>余症見《外科樞要》。</p>
<h3>十、脾肺腎虧損大便秘結等症</h3>
<p>一儒者，大便素結，服搜風順氣丸後，胸膈不利，飲食善消，面帶陽色，左關尺脈洪而虛。余曰：此足三陰虛也。彼恃知醫，不信，乃服潤腸丸，大便不實，肢體倦怠，余與補中益氣、六味地黃湯，月余而驗，年許而安。若脾肺氣虛者，用補中益氣湯。若脾經郁結者，用加味歸脾湯。若氣血虛者，用八珍東加肉蓯蓉。若脾經津液涸者，用六味丸。若發熱作渴飲冷者，用竹葉黃　湯。若燥在直腸，用豬膽汁導之。若肝膽邪侮脾者，用小柴胡加山梔、郁李、枳殼。若膏粱濃味積熱者，用加味清胃散。亦有熱燥、風燥、陽結、陰結者，當審其因而治之。若復傷胃氣，多成敗症。</p>
<p>一老儒，素有風熱，飲食如常，大便十七日不通，肚腹不脹，脈洪大而虛，此陰火爍津液，用六味丸二十余劑，至三十二日始欲去，用豬膽潤而通利如常。</p>
<p>一婦人，年七十有三，痰喘內熱，大便不通，兩月不寐，脈洪大重按微細，此屬肝肺腎虧損，朝用六味丸，夕用逍遙散，各三十余劑，計所進飲食百余碗，腹始痞悶，乃以豬膽汁導而通之，用十全大補調理而安。若間前藥，飲食不進，諸症復作。</p>
<p>一男子，年五十余，因怒少食，大便不利，服潤腸丸，大便秘結，胸脅作痛，兼服脾約丸，肝脾腎脈浮而澀。余曰：此足三陰精血虧損之症也。東垣先生云：若人胃強脾弱，約束津液不得四布，但輸膀胱，小便數而大便難者，用脾約丸。若人陰血枯槁，內火燔灼，肺金受邪，土受木傷，脾肺失傳，大便秘而小便數者，用潤腸。今滋其化源，則大便自調矣。如法果驗。</p>
<p>一儒者，懷抱郁結，復因場屋不遂，發熱作渴，胸膈不利，飲食少思，服清熱、化痰、行氣等劑，前症益甚，肢體倦怠，心脾二脈澀滯，此郁結傷脾之變症也，遂用加味歸脾湯治之，飲食漸進，諸症漸退，但大便尚澀，兩顴赤色，此肝腎虛火，內傷陰血，用八珍東加蓯蓉、麥門、五味，至三十余劑，大便自潤。</p>
<p>一男子，所患同前，不信余言，服大黃等藥，泄瀉便血，遍身黑黯，復求治。余視之曰：此陰陽二絡俱傷也。經曰：陽絡傷則血外溢，陰絡傷則血內溢。辭不治，後果然。</p>
<p>職坊陳莪齋，年逾六旬，先因大便不通，服內疏等劑，後飲食少思，胸腹作脹，兩脅作痛，形體倦怠，兩尺浮大，左關短澀，右關弦澀，時五月請治，余意乃命火衰，不能生脾土，而肺金又克肝木，憂其金旺之際不起。後果然。</p>
<h3>十一、各症方藥</h3>
<p>小柴胡湯　治肝膽症，寒熱往來，或日晡發熱，或濕熱身熱，默默不欲食；或怒火口苦，耳聾，咳嗽發熱，脅下作痛，甚者轉側不便，兩祛痞滿；或泄瀉咳嗽，或吐酸食苦水，或因怒而患瘧、痢等症。</p>
<p>柴胡（二錢）　黃芩（一錢五分）　人參　半夏（各七分）　甘草（炙，五分）</p>
<p>上薑水煎服。</p>
<p>加味小柴胡湯　治血虛大勞，大怒火動，熱入血室，或婦女經行，感冒發熱，寒熱如瘧，夜間熱甚或譫語，即前方加生地黃一錢。</p>
<p>黃芩半夏生薑湯　治膽腑發咳，嘔苦水如膽汁。</p>
<p>黃芩（炒）　生薑（各三錢）　甘草（炙）　半夏（各二錢）</p>
<p>上薑水煎服。</p>
<p>桔梗湯　治心臟發咳，咳而喉中如梗狀，甚則咽腫喉痹。</p>
<p>苦梗（三錢）　甘草（六錢）</p>
<p>上水煎服。</p>
<p>芍藥甘草湯　治小腸腑發咳，咳而失氣。</p>
<p>芍藥　甘草（炙，各四錢）</p>
<p>上水煎服。</p>
<p>升麻湯　治脾臟發咳，咳而右脅下痛，痛引肩背，甚則不可以動。</p>
<p>升麻　白芍藥　甘草（各二錢）　葛根（三錢）</p>
<p>上水煎服。</p>
<p>烏梅丸　治胃腑發咳，咳而嘔，嘔甚則長蟲出。</p>
<p>烏梅（三十個）　細辛　附子　桂枝　人參　黃柏（各六錢）　乾薑（一兩）　黃連（一兩五錢）　當歸　蜀椒（各四兩）</p>
<p>上為末，用酒浸烏梅一宿，去核蒸之，與米飯搗如泥，丸桐子大。每服三十丸，白湯下。</p>
<p>麻黃湯　治肺臟發咳，咳而喘急有聲，甚則唾血。</p>
<p>麻黃（三錢）　桂枝（二錢）　甘草（一錢）　杏仁（二十個）</p>
<p>上水煎服。</p>
<p>赤石脂禹餘糧湯　治大腸腑發咳，咳而遺屎。</p>
<p>赤石脂　禹餘糧（各二兩，並打碎）</p>
<p>上水煎服。</p>
<p>麻黃附子細辛湯　治腎臟發咳，咳則腰背相引而痛，甚則咳涎，又治寒邪犯齒，致腦齒痛，宜急用之，緩則不救。</p>
<p>麻黃　細辛（各二錢）　附子（一錢）</p>
<p>上水煎服。</p>
<p>茯苓甘草湯　治膀胱腑發咳，咳而遺溺。</p>
<p>茯苓（二錢）　桂枝（二錢半）　生薑（五大片）　甘草（炙，一錢）</p>
<p>上水煎服。</p>
<p>異功散　治久咳不已，或腹痛少食而腫，氣逆。又治脾胃虛弱，飲食少思等症。</p>
<p>人參　茯苓　白朮　甘草　陳皮（各等分）</p>
<p>上每服三五錢，薑、棗、水煎。</p>
<p>法制清氣化痰丸　順氣快脾，化痰消食。</p>
<p>半夏　南星（去皮尖）　白礬　皂角（切）　乾薑（各四兩）</p>
<p>上先將白礬等三味，用水五碗，煎取水三碗，卻入半夏二味，浸二日。再煮至半夏、南星無白點為度，晒乾。</p>
<p>陳皮　青皮（去穰）　紫蘇子（炒）　蘿卜子（炒另研）　杏仁（去皮尖，炒、研）　葛根　神麯（炒）　麥（炒）　山楂子　香附子（各二兩）</p>
<p>上為末蒸餅，丸梧子大。每服五、七十丸，臨臥、食後，茶湯下。</p>
<p>升陽益胃湯　治脾胃虛弱，肢體怠惰，或體重節痛，口舌乾渴，飲食無味，大便不調，小便頻數，飲食不消，兼見肺病，洒淅惡寒，淒慘不樂，乃陽不和也。</p>
<p>羌活　獨活　防風（各五錢）　柴胡　白朮　茯苓（渴者不用）　澤瀉（各三錢）　人參　半夏　甘草（炙，各一兩）　黃　（二兩）　芍藥　黃連　陳皮（各四錢）</p>
<p>上每服三、五錢，薑、棗水煎，早溫服。如小便愈而病益加，是不宜利小便也，當少減茯苓、澤瀉。</p>
<p>生脈散　治熱傷元氣，肢體倦怠，氣短懶言，口乾作渴，汗出不止。或濕熱大行，金為火制，絕寒水生化之源，致肢體痿軟，腳欹眼黑，最宜服之。</p>
<p>人參（五錢）　五味子　麥門冬（各三錢）</p>
<p>上水煎服。</p>
<p>清燥湯　治元氣虛，濕熱乘之，遍身酸軟；或肺金受邪，絕寒水生化之源，腎無所養，小便赤少，大便不調，腿腰痿軟；或口乾作渴，體重麻木，頭目眩暈，飲食少思；或自汗盜汗，肢體倦怠，胸滿氣促。</p>
<p>黃　（一錢五分）　五味子（九粒，杵炒）　黃連　神麯（炒）　豬苓　柴胡　甘草（炙，各二分）　蒼朮白朮　麥門冬　陳皮　生地黃　澤瀉（各五分）　白茯苓　人參　當歸　升麻（各三分）　黃柏（酒拌，一分）</p>
<p>上水煎服。</p>
<p>清暑益氣湯　治元氣弱，暑熱乘之，精神困倦，胸滿氣促，肢節疼痛；或小便黃數，大便溏頻。又暑熱瀉痢瘧疾之良劑。</p>
<p>升麻　黃　（炒，去汗，各一錢）　蒼朮（一錢五分）　人參　白朮　陳皮　神麯（炒，各五分）　甘草（炙）　干葛（各三分）　五味子（九粒，杵炒）</p>
<p>上水煎服。</p>
<p>香薷飲（加黃連名黃連香薷飲）　治一切暑毒，腹痛，霍亂吐瀉，或頭痛昏憒。</p>
<p>香薷　茯苓　白扁豆　厚朴　甘草（各二錢）</p>
<p>上水煎服。</p>
<p>麥門冬湯　治火熱乘肺，咳唾有血。</p>
<p>麥門冬（去心）　防風　白茯苓（各二錢）　人參（一錢）</p>
<p>上水煎服。</p>
<p>二神丸　治脾腎虛弱，侵晨五更作瀉，或全不思食，或食而不化，大便不實，神效。</p>
<p>破故紙（四兩，炒）　肉豆蔻（二兩，生用）</p>
<p>上為末，用大紅棗四十九枚、生薑四兩，切碎，用水煮熟，去薑取棗肉，和藥，丸桐子大，每服五十丸，空心鹽湯下。</p>
<p>五味子散　治腎泄，在侵晨五更瀉，飲食不進，或大便不實，不時去後，為丸尤效。</p>
<p>五味子（炒，二兩）　吳茱萸（炒，五錢）</p>
<p>上為末，每服二錢，白湯調。</p>
<p>四神丸　治脾腎虛弱，大便不實，飲食不思。</p>
<p>肉豆蔻　補骨脂　五味子　吳茱萸（各為末）　生薑（四兩）　紅棗（五十枚）</p>
<p>上用水一碗，煮薑棗，去薑，水干取棗肉，丸桐子大，每服五、七十丸，空心日前服。</p>
<p>保和丸　治飲食停滯，胸膈痞滿，或吞酸腹脹。</p>
<p>山楂（取肉，二兩，蒸）　神麯（炒）　半夏　茯苓（各一兩）　蘿卜子（炒）　陳皮　連翹（各五錢）</p>
<p>上為末，粥丸。加白朮二兩，名大安丸。</p>
<p>越鞠丸　治六郁，胸膈痞滿，或吞酸嘔吐，飲食不化。</p>
<p>蒼朮　神麯（炒）　撫芎　麥芽（炒）　香附　山楂　山梔（各等分）</p>
<p>上為末，水調神麯、麥芽末，糊丸桐子大，每服五、七十丸，滾湯下。</p>
<p>茵陳五苓散　治酒積，分利其濕。</p>
<p>茵陳　白朮　豬苓（各一錢）　桂（三分）　澤瀉（一錢五分）</p>
<p>上水煎服。</p>
<p>葛花解酲湯　治酒積，上下分消。</p>
<p>白豆蔻　砂仁　葛花（各半兩）　木香（五分）　青皮（三錢）　陳皮　白茯苓　豬苓　人參（各一錢半）</p>
<p>白朮　神麯（炒）　澤瀉　乾薑（各二錢）</p>
<p>上為末，每服五錢，白湯調，得微汗，酒病去矣。</p>
<p>益黃散　治脾土虛寒，寒水反來侮土，而嘔吐不食，或肚腹作痛，或大便不實，手足逆冷等症。</p>
<p>陳皮（一兩）　青皮　訶子肉　甘草（炙）　丁香（各二錢）</p>
<p>上每服四錢，水煎服。</p>
<p>人參安胃散　治脾胃虛熱，嘔吐，或泄瀉不食。</p>
<p>人參（一錢）　黃　（二錢）　生甘草　炙甘草（各五分）　白芍藥（七分）　白茯苓（四分）　陳皮（三分）　黃連（二分）</p>
<p>上水煎服。</p>
<p>人參養胃湯　治外感風寒，內傷飲食，寒熱頭疼，或作瘧疾。</p>
<p>半夏　厚朴（薑製）　橘紅（各八分）　藿香葉　草果茯苓　人參（各五分）　甘草（炙，三分）　蒼朮（三分）</p>
<p>上薑七斤，烏梅一個，水煎服。</p>
<p>藿香正氣散　治外感風寒，內停飲食，頭疼寒熱，或霍亂泄瀉，或作瘧疾。</p>
<p>桔梗　大腹皮　紫蘇　茯苓　厚朴（制。各一錢）　甘草（炙，五分）　藿香（一錢五分）</p>
<p>上薑、棗水煎，熱服。</p>
<p>白虎湯　治胃熱作渴，暑熱尤效。</p>
<p>知母　石膏（各二錢）　粳米（半合）</p>
<p>上水煎服。</p>
<p>竹葉黃　湯　治胃虛火盛而作渴。</p>
<p>淡竹葉（二錢）　黃　生地黃　麥門冬　當歸　川芎　甘草　黃芩（炒）　石膏（煨）　芍藥　人參（各一錢）</p>
<p>上水煎服。</p>
<p>竹葉石膏湯　治胃火盛而作渴。</p>
<p>淡竹葉　石膏（　）　桔梗　木通　薄荷葉　甘草（各一錢）</p>
<p>上水煎服。</p>
<p>四七湯　治七情郁結，心腹絞痛，或為膨脹。</p>
<p>人參　官桂　半夏（洗七次，各一錢）　甘草（炙，五分）</p>
<p>上薑水煎服。</p>
<p>青州白丸子　治風痰咳嗽，或牙關緊急，或痰喘體麻。</p>
<p>南星（三兩）　半夏（七兩）　白附子（二兩）　川烏（半兩，各生用）</p>
<p>上為末，絹袋盛，井水擺浸，仍換水浸三五日，晒乾，糯米粉丸。如急用，以薑汁糊丸亦可。</p>
<p>左金丸（一名四金丸）　治肝火脅刺痛，或發寒熱，或頭目作痛，或大便不實，或小便淋秘，或小腹疼痛，一切肝火之症。</p>
<p>黃連（六兩）　吳茱萸（一兩，湯煮片時用）</p>
<p>上為末，粥丸，白朮、陳皮湯下。</p>
<p>當歸龍薈丸　治肝經實火，大便秘結，小便澀滯，或胸膈作痛，陰囊腫脹。凡屬肝經實火，皆宜用之。</p>
<p>當歸　龍膽草　梔子仁　黃連　黃芩（各一兩）　大黃　蘆薈　青黛（各五錢）　木香（二錢五分）　麝香（另研，五分）</p>
<p>上為末，炒神麯糊丸，每服二十丸，薑湯下。</p>
<p>神效黃　湯　治渾身或頭面手足麻木不仁，目緊縮小，及羞明畏日，或視物不明。</p>
<p>黃　（二兩）　人參（八錢）　甘草（炙）　白芍藥　蔓荊子（各一兩）　陳皮（五錢）</p>
<p>上每服五錢，水煎，臨臥熱服。如麻木不仁，雖有熱症，不用黃柏，加黃　。</p>
<p>益氣聰明湯　治久病或因克伐，脾胃傷損，眼目昏暗，或飲食失節，勞役形體，脾胃不足，得內障、耳鳴之患，或多年眼目昏暗，視物不明。此藥能令廣大聰明，久服無內障、外障、耳鳴、耳黃　甘草　人參（各五錢）　升麻　葛根（各三錢）　蔓荊子（一錢五分）　芍藥　黃柏（酒炒，各一錢）</p>
<p>上每服五錢，水煎，臨臥並五更服。</p>
<p>芍藥清肝散　治眵多　燥，緊澀羞明，赤脈貫睛，臟腑秘結。</p>
<p>白朮　甘草　川芎　防風　荊芥　桔梗　羌活（各三分）　芍藥　柴胡　前胡　薄荷　黃芩（各二分半）　山梔　知母　滑石　石膏（各二分）　大黃（四分）　芒硝（二分半）</p>
<p>上水煎，食後熱服。</p>
<p>黃連天花粉丸　治症同上。</p>
<p>黃連　菊花　川芎　薄荷（各一兩）　天花粉　連翹　黃芩　梔子（各四兩）　黃柏（六兩）</p>
<p>上為末，滴水丸，桐子大，每服五十丸，加至百丸，食後臨臥，茶湯下。</p>
<p>鼻通氣散　治眼腫脹赤，昏暗羞明，癮澀疼痛，或風癢鼻塞，頭痛腦酸，外翳攀睛，眵淚稠黏。</p>
<p>鵝不食草（二錢）　青黛　川芎（各一錢）</p>
<p>上為末，含水滿口，每用如米許　鼻內，淚出為度。</p>
<p>選奇湯　治風熱上壅，眉棱骨痛，或頭目眩暈。</p>
<p>羌活　防風（各三錢）　甘草（二錢，夏生冬炒）　黃芩（酒製，冬去之，熱甚用）</p>
<p>上每服三錢，水煎，時時服。</p>
<p>助陽活血湯　治眼睫無力，常欲垂閉，余治同上。</p>
<p>黃　甘草（炙）　防風　當歸（各五分）　白芷　蔓荊子（各四分）　升麻（七分）</p>
<p>上水煎，食後熱服。</p>
<p>益陰腎氣丸　治症同上。</p>
<p>熟地黃（三兩）　當歸（酒洗）　柴胡　五味子　干山藥　山茱萸（去核，各半兩）　茯苓澤瀉（各二錢半）　生地黃（酒炒，四兩）</p>
<p>上為末，煉蜜丸，桐子大，每服百丸，茶湯下，日三服。</p>
<p>連翹飲　治目中溜火，惡日與火，癮澀小角緊，久視昏花，迎風有淚。</p>
<p>蔓荊子　生甘草　連翹（各三錢）　柴胡（五錢）　黃芩（酒製，五分）　生地黃　當歸　紅葵花　人參（各三錢）　黃　（五分）　升麻（一錢）　防風　羌活（各二分）</p>
<p>上水煎服。</p>
<p>地芝丸　治目不能遠視，能近視，或妨近視。</p>
<p>生地黃（焙乾，四兩）　天門冬（去心）　枳殼（麩炒）　真甘菊花（各二兩）</p>
<p>上為末，煉蜜丸，桐子大，每服百丸，清茶或溫酒下。</p>
<p>定志丸　治目不能近視，反能遠視。</p>
<p>白茯苓　人參（各一兩）　遠志（去心）　菖蒲（各一兩）</p>
<p>上為末，煉蜜丸，桐子大，以朱砂為衣。每十丸至三十丸，米飲食後下，日三服。</p>
<p>大蘆薈丸（一名九味蘆薈丸）　治大人小兒下疳潰爛，或作痛。又治肝疳食積，口鼻生瘡，牙齦蝕爛。</p>
<p>胡黃連　黃連　蘆薈　木香　白蕪荑（炒）　青皮　白雷丸　鶴虱草（各一兩）　麝香（三錢）</p>
<p>上為末，蒸餅糊丸如麻子大。每服一錢，空心米飲下。</p>
<p>四味肥兒丸（一名小肥兒丸）　治諸疳發熱，目生云翳，口舌生瘡，或牙齦腐爛，肌肉消瘦，遍身生瘡等症，與地黃丸兼服。</p>
<p>黃連（炒）　蕪荑（炒）　神麯（炒）　麥芽（炒，各等分）</p>
<p>上為末，水糊丸桐子大，每服二、三十丸，空心白湯下。</p>
<p>阿魏膏　治一切痞塊，更服胡連丸。</p>
<p>羌活　獨活　玄參　官桂　赤芍藥　穿山甲　生地黃　兩頭尖　大黃　白芷　天麻（各五錢）</p>
<p>槐、柳、桃枝（各二錢）　紅花（四錢）　木鱉子（二十枚，去殼）　亂髮（如雞子大，一塊）</p>
<p>上用香油二斤四兩，煎黑去渣，入發煎，發化乃去渣，徐下黃丹煎，軟硬得中，入芒硝、阿魏、蘇合油、乳香、沒藥各五錢，麝香三錢，調勻，即成膏矣，攤貼患處，內服丸藥。黃丹須用真正者效。凡貼膏藥，先用朴硝，隨患處鋪半指濃，以紙蓋，用熱熨斗熨，良久，如硝耗再加熨之二時許，方貼膏藥，若是肝積，加蘆薈末同熨。</p>
<p>桃仁承氣湯　治血結胸中，手足不可近，或中焦蓄血，寒熱胸滿，漱水不欲咽，善忘，昏迷，其人如狂。</p>
<p>桃仁（半兩）　大黃（一兩）　甘草（二錢）　桂（三錢）　芒硝（三錢）</p>
<p>上每服一兩，薑、水煎。</p>
<p>抵當湯　治下部蓄血，腹內作痛，手不可近，或發狂，少腹滿硬，小便自利，大便反黑，如狂者在中，發狂者在下也。</p>
<p>大黃　水蛭（炒，各半兩）　虻蟲（去翅足）　桃仁（各三錢）</p>
<p>上每服五錢，水煎服。如作丸，煉蜜和之。</p>
<p>花蕊石散硫黃（上色明淨者，四兩）　花蕊石（一兩）</p>
<p>上各為末拌勻，先用紙筋和鹽泥瓦罐一個，泥干入藥，仍用泥封口，候干，用炭周疊赤，罐冷取出，為細末。每服一錢，童便酒下。</p>
<p>搜風順氣丸　治痔漏風熱閉結。</p>
<p>車前子（一兩五錢）　大麻子（微炒）　大黃（五錢，半生半熟）　牛膝（酒浸）　郁李仁　菟絲子（酒浸）　枳殼山藥（各二錢）</p>
<p>上為末，煉蜜丸，桐子大。每服三十丸，白湯下。</p>
<p>五淋散　治膀胱有熱，水道不通，淋澀不出，或尿如豆汁，或成砂石，或如膏汁，或熱怫便血。</p>
<p>赤茯苓（一錢五分）　赤芍藥　山梔（各一錢）　當歸　甘草（各一錢二分）</p>
<p>上入燈芯，水煎服。</p>
<p>加味逍遙散　治肝脾血虛發熱，或潮熱，晡熱，或自汗盜汗，或頭痛，目澀，或怔忡不寧，或頰赤口乾，或月經不調，肚腹作痛，或小腹重墜，水道澀痛，或腫痛出膿，內熱作渴等症。</p>
<p>當歸　芍藥　茯苓　白朮（炒）　柴胡（各一錢）　牡丹皮　山梔（炒）　甘草（炙，各五分）</p>
<p>上水煎服。</p>
<p>逍遙散　即前方去山梔、牡丹皮。</p>
<p>還少丹　治脾腎虛寒，飲食少思，發熱，盜汗，遺精、白濁。又治真氣虧損，肌體瘦弱等症。</p>
<p>肉蓯蓉　遠志（去心）　茴香　巴戟　干山藥　枸杞子　熟地黃　石菖蒲　山茱萸（去核）　牛膝杜仲（去皮薑製）　楮實子　五味子　白茯苓（各一兩）</p>
<p>上各另為末，和勻，用棗肉百枚，並煉蜜丸桐子大。每服五、七十丸，空心溫酒或鹽湯下，日三服。</p>
<p>交加散　治食瘧神效。</p>
<p>肉豆蔻（二個，一生一煨）　草豆蔻（二個，一生一煨）　厚朴（二錢，半制用，半生用）　甘草（二錢，半炙，半生用）　生薑（一兩，煨五錢生五錢）</p>
<p>上薑水煎，發日五更服。</p>
<p>仲景白虎加桂枝湯　治溫瘧。</p>
<p>知母（六錢）　甘草（炙，二錢）　石膏（五錢）　桂枝（一錢）　粳米（一合）</p>
<p>上水煎服。此太陽、陽明經藥也。</p>
<p>柴胡桂薑湯　治寒多，微有熱，或但寒不熱，名曰牝瘧。</p>
<p>桂枝　黃芩　牡蠣　甘草（炙）　乾薑（各一錢）　栝蔞根　柴胡（各二錢）</p>
<p>上水煎服。汗出即愈，此少陽經藥也。</p>
<p>桂枝羌活湯　治瘧。處暑以前發，頭項痛，脈浮，惡風，有汗。</p>
<p>桂枝　羌活　防風　甘草（各一錢五分）</p>
<p>上水煎，發而服，如吐，加半夏曲。</p>
<p>麻黃羌活湯　治症如前，但惡風而無汗。</p>
<p>麻黃（去節）　羌活　防風　甘草（各半兩）</p>
<p>上如前服，加法同。以上二方，太陽經藥也。</p>
<p>白芷湯　治瘧病，身熱，目痛，熱多寒少，脈長，先以大柴胡下之，余熱不盡，當服此藥。</p>
<p>白芷（一兩）　知母（一兩七錢）　石膏（四兩）</p>
<p>上依前服，此陽明經藥也。</p>
<p>桂枝芍藥湯　治瘧寒熱大作，不論先後，此太陽、陽明合病，寒熱作則必戰栗。經曰：熱勝而動也。發熱汗出不愈，內熱也，此湯主之。</p>
<p>桂枝（五分）　黃　知母　石膏　芍藥（各二錢）</p>
<p>上水煎，此太陽、陽明經藥也。</p>
<p>桂枝黃芩湯　如服前藥轉劇，三陽合病也，宜此和之。</p>
<p>柴胡（一錢五分）　黃芩　人參　甘草（各八分）　半夏　石膏　知母（各五分）　桂枝（二分）</p>
<p>上依前服。如外邪已解，而內邪未已，從卯至午發者，宜大柴胡下之；從午至酉發者，邪氣在內也，宜大承氣下之；從酉至子發者，或至寅發者，邪氣在血也。</p>
<p>桂枝石膏湯　治瘧隔日發，先寒後熱，寒少熱多。</p>
<p>桂枝（五錢）　黃芩（一兩）　石膏　知母（各一兩五錢）</p>
<p>上水煎，分三服。此太陽、陽明經藥也。</p>
<p>麻黃黃芩湯　治瘧發如前而夜發者。</p>
<p>麻黃（一兩，去節）　甘草（炙，三錢）　桃仁（三十個，去皮尖）　黃芩（五錢）　桂（二錢）</p>
<p>上依前服，桃仁味苦、甘、辛，肝者血之海，血驟則肝氣燥，經所謂：肝苦急，急食甘以緩之，故桃仁散血緩肝，謂邪氣深遠而入血，故夜發。此湯散血中風寒，乃三陰經藥也。</p>
<p>香連丸　治痢疾並水瀉、暑瀉甚效。</p>
<p>黃連（淨，二十兩）　吳茱萸（去枝梗，十兩）</p>
<p>上先將二味用熱水拌和，入瓷器內，置熱湯燉一日同炒至黃連紫黃色，去茱用連，為末，四兩，入木香末一兩，淡醋米飲為丸，桐子大。每服二，三十丸，滾湯下。久痢中氣下陷者，用補中益氣下。中氣虛者，用四君子下。中氣虛寒者，加薑、桂。</p>
<p>三黃丸　治熱痢腹痛，或口、舌、咽、喉、齒痛，及一切實火症。</p>
<p>黃芩　黃連　黃柏（各等分）</p>
<p>上各另為末，水丸桐子大。每服七、八十丸，白湯下。</p>
<p>芍藥湯　治便血後重。經曰：溲而便膿血，知氣行而血止也，行血則便膿自愈，調氣則後重自除。</p>
<p>芍藥（一兩）　當歸　黃連（各半兩）　檳榔　木香　甘草（炙，各二錢）　桂（二錢五分）　黃芩（五錢）</p>
<p>上每服半兩，水煎。如痢不減，加大黃。</p>
<p>加減濟生腎氣丸　治脾腎虛，腰重腳腫，小便不利；或肚腹腫脹，四肢浮腫；或喘急痰盛，已成蠱疳，其效如神。</p>
<p>白茯苓（三兩）　附子（半兩）　川牛膝　肉桂（去皮）　澤瀉　車前子　山茱萸　山藥　牡丹皮（各一錢）</p>
<p>熟地黃（四兩，酒拌杵膏）</p>
<p>上為末，加煉蜜丸桐子大。每服七、八十丸，空心服，白湯下。</p>
<p>三因當歸散　治脾土不能制水，水氣盈溢，滲透經絡，發為水腫。</p>
<p>木香　赤茯苓　當歸　桂　木通　赤芍藥　牡丹皮　檳榔　陳皮　白朮（各等分）</p>
<p>上每服五錢，水煎服。</p>
<p>不換金正氣散　治脾氣虛弱，寒邪相搏，痰停胸膈，致發寒熱，或作瘧疾。</p>
<p>厚朴（去皮，薑製）　藿香　半夏（薑製）　蒼朮（米泔浸）　陳皮（各一錢）　甘草（炙，五分）</p>
<p>上薑、棗，水煎服。</p>
<p>七味白朮散　治中氣虧損，津液短少，口舌乾渴，或口舌生瘡，不喜飲冷，或吐瀉後口乾，最宜服。</p>
<p>人參　白朮　木香　白茯苓　甘草　藿香（各五分）　干葛（一錢）</p>
<p>上水煎服。</p>
<p>參苓白朮散　治脾胃不和，飲食少進，或嘔吐泄瀉，凡病後宜此調理。</p>
<p>人參　茯苓　白扁豆（去皮，薑汁拌炒）　白朮　蓮肉（去心皮）　砂仁（炒）　薏苡仁（炒）　桔梗（炒山藥　甘草（炙，各二兩）</p>
<p>上為末，每服二、三錢，用石菖蒲湯下，或作丸。</p>
<p>半夏湯　治膽腑實熱，精神恍惚，寒熱泄瀉，或寢寒憎風，善太息。</p>
<p>半夏（一錢五分）　黃芩（一錢）　遠志（一錢）　生地黃（二錢）　秫米（一合）　酸棗仁（三錢，炒）　宿薑（一錢五分）</p>
<p>上長流水煎服。</p>
<p>犀角地黃丸　治血虛火盛，血妄行，吐衄便下，若因忿怒而致，加山梔、柴胡。</p>
<p>犀角鎊末　生地黃　白芍藥　牡丹皮（各一錢半）</p>
<p>上水煎，傾出，入犀角末服之。</p>
<p>人參平肺散　治心火刑肺金，患肺痿，咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不利。</p>
<p>人參（四分）　青皮（四分）　茯苓（七分）　天門冬（四分）　陳皮（五分）　地骨皮（五分）　甘草（炙，五分）　知母（七分）　五味子（十粒，杵碎）　桑皮（一錢）</p>
<p>上薑水煎服。</p>
<p>清涼飲　治實熱便秘，或喉中腫痛。</p>
<p>當歸　赤芍藥　甘草（炙）　大黃（蒸，各等分）</p>
<p>上每服五錢，水煎服。</p>
<p>清胃散　治醇酒濃味，唇齒作痛，或齒齦潰爛，或連頭面頸項作痛。</p>
<p>黃連（炒，一錢五分）　當歸　生地黃　牡丹皮（各一錢）　升麻（二錢）</p>
<p>上水煎服。</p>
<p>加味清胃散　即前方加犀角、連翹、甘草。</p>
<p>涼膈散　治實熱喉舌腫痛，便溺秘結。</p>
<p>大黃　朴硝　甘草　梔子仁　黃芩　薄荷葉（各一兩）　連翹（四兩）</p>
<p>上為末，每服四、五錢，竹葉，蜜少許煎服，仍量加減。</p>
<p>潤腸丸　治伏火風熱，大腸干燥。若因失血，或因腎不足，當滋腎，最忌此丸。</p>
<p>麻子仁　桃仁（去皮尖，另研，各一兩）　羌活　當歸尾　大黃（煨）　皂角仁　秦艽（各五錢）</p>
<p>上另研為末，煉蜜丸，豬膽汁丸尤妙。每服三十丸，食前滾湯下。若燥在直腸，用豬膽汁導之，亦忌前藥。</p>
<p>滋腎丸　治熱在血分，不渴而小便不利，或腎虛足熱，腿膝無力，不能履地。</p>
<p>知母（酒炒）　黃柏（酒炒，各二兩）　肉桂（二錢）</p>
<p>上各另為末，水丸桐子大。每服二百丸，空心白滾湯下。</p>
<p>黃芩清肺飲　治肺熱小便不利，宜用此藥清之。</p>
<p>黃芩（一錢）　山梔（二錢）</p>
<p>上水煎服。不利，加鹽豉二十粒。</p>
<p>清心蓮子飲　治熱在氣分，口乾作渴，小便白濁，夜安晝熱，或口舌生瘡，咽乾煩躁作渴，小便赤淋。</p>
<p>黃芩（炒）　麥門冬　地骨皮　車前子（炒）　甘草（各一錢半）　石蓮肉　茯苓　黃　柴胡　人參（各一錢）</p>
<p>上每服五錢，水煎服。</p>
<p>調中益氣湯　治濕熱所傷，體重煩悶，口失滋味，二便清數，或痰嗽稠黏，熱壅頭目，體倦，少食等症。</p>
<p>黃　（一錢）　人參（去蘆）　甘草　蒼朮（各五分）　柴胡　橘皮　升麻　木香（各二分）</p>
<p>上水煎，空心服。</p>
<p>三生飲　治卒中昏憒不知人，口眼　斜，半身不遂，並痰厥、氣厥。</p>
<p>南星（一兩，生用）　川烏（去皮，生用）　附子（去皮生用，各半兩）　木香（二錢）</p>
<p>上每服五錢，薑、水煎。</p>
<p>秦艽升麻湯　治風寒客手足陽明經，口眼　斜，惡見風寒，四肢拘急，脈浮緊。</p>
<p>升麻　干葛　甘草　芍藥　人參　秦艽　白芷　防風　桂枝（各三錢）</p>
<p>上每服一兩，蔥白二根，水煎。</p>
<p>愈風丹　治諸風肢體麻木，手足不隨等症。</p>
<p>天麻　牛膝（同酒浸焙乾）　萆　（另研細）　玄參（各六兩）　杜仲（七兩）　羌活（十四兩）　當歸　熟地黃（自製）　生地黃（各一斤）　獨活（五兩）　肉桂（三兩）</p>
<p>上為末，煉蜜丸桐子大。常服五、七十丸，病大至百丸，空心食前溫酒或白湯下。</p>
<p>地黃飲子　治腎氣虛弱，舌喑不能言，足廢不能行。</p>
<p>熟地黃　巴戟（去心）　山茱萸（去核）　肉蓯蓉（酒浸焙）　附子（炮）　五味子　石斛　白茯苓　石菖蒲遠志（去心）　官桂　麥門冬（去心。各等分）</p>
<p>上每服三錢，入薄荷少許，薑、棗水煎服。</p>
<p>余方見上卷。</p>
