<header data-type="book">
<h1>難經古義</h1>
</header>
<h2>敘</h2>
<p>史稱扁鵲飲上池水。洞視垣一方。觀夫起虢尸。讖趙夢。相桓侯也。盡惟一長桑君之遇哉。若非有探賾於鼎湖。安能中其肯綮。世醫崇奉素難。猶且疑岐扁之言。遄遄有所支離。以余觀之。抑在扁鵲。則支離其辭。而不支離其道要之。</p>
<p>不過干城軒岐。羽翼靈素。以補其闕。拾其遺焉爾。古之義也。予業軒岐之學。三十年於茲。講究難經。日盛一日。顧其為書。編殘簡碎。非復扁鵲之舊也。注家因循。濫吹不鮮。具曰予聖。誰知烏之雌雄。亦唯人心如面。誰毀誰譽。夫醫之為書也。要須理會。苟能若是。則所謂湔腸浣膜。非特傳奇。二豎六淫。何嘗申誕乃至空洞之峻。坦平可蹶。赤水之深。馮焉為涉。隆然而生於數千載之後。而推於數千載之前。極知僭逾。無逃壹是。皆因無所理會。吁嗟。道無今古視古猶今。則今猶古。苟求其故焉。則上池可飲。垣方可洞。豈唯一長桑君之遇哉。亦豈唯起虢讖趙相桓哉。孟軻氏有謂苟求其故。千歲之日至。可坐而致也。果哉。未之難矣。略述端倪。題曰古義。</p>
<p><u>寶歷庚辰春正月望信陽滕萬卿識</u></p>
<h2>黃帝八十一難經序</h2>
<p>黃帝八十一難經。是醫經之秘錄也。昔者岐伯以授黃帝。黃帝歷九師以授伊芳尹。伊芳尹以授湯。湯歷六師以授太公。</p>
<p>太公以授文王。文王歷九師以授醫和。醫和歷六師以授秦越人。秦越人始定立章句。歷九師以授華佗。華佗歷六師以授黃公。黃公以授曹夫子。夫子諱元。字真道。自云京兆人也。蓋授黃公之術。洞明醫道。至能遙望氣色。徹視腑臟。澆腸刳胸之術。往往行焉。浮沉人間。莫有知者。勃養於慈母之手。每承過庭之訓曰。人子不知醫。古人以為不孝。因竊求良師。陰訪其道。以大唐龍朔元年。歲次庚申。冬至後甲子。遇夫子於長安。撫勃曰。無欲也。勃再拜稽首。遂歸心焉。雖父伯兄弟。不能知也。蓋授周易章句。及黃帝素問難經。乃知三才六甲之事。明堂玉匱之數。十五月而畢。將別謂勃曰。陰陽之道。不可妄宣也。針石之道。不可妄傳也。無猖狂以自彰。當陰沉以自深也。勃受命伏習。五年於茲矣。</p>
<p>有升堂睹奧之心焉。近復鑽仰太虛。導引元氣。覺滓穢都絕。精明相保。方欲坐守神仙。棄置流俗。噫蒼生可以救邪。</p>
<p>斯文可以存邪。昔太上有立德。其次有立功。其次有立言。非以徇名也。將以濟人也。謹錄師訓。編附聖經。庶將來君子有以得其用心也。太原王勃序。（上出於文苑英華卷第七百三十五雜序類第一）</p>
<h2>附言八則</h2>
<p>一斯書歷年之久。簡殘篇缺。曾經呂廣重編。文辭　尚差池。且以數目蒙諸難字上。恐呂氏編次時所加。以為後世不可更易之式。顧是古之所無也。今悉削去。</p>
<p>一難問難之難為是。皇甫謐帝王紀曰。黃帝使扁鵲旁通問難八十一。蓋古之義也。滑壽匯考中所載盧岐二氏之說得之。</p>
<p>一說者言曰。難經乃燼余之文。余乃謂不然。夫古籍舊典。不免乎散逸蠹魚之患。固其所。豈唯難經。雖素靈亦復爾爾。矧華佗焚活人書云云。則不可指為難經。而後人動輒嘖嘖。以煨燼目之。故予言以雪其冤云。</p>
<p>一難經一書。大月氏論辯靈素之奧。故其問答與內經異義者。前修稍疑其異。故徒依違竽濫其說。不則仇視攻擊。</p>
<p>或雞肋斯書。將厭厭以廢焉。是無他。不知其所以斡軒轅之蠱。鹵莽枘鑿。斷以臆度。不足論已。試舉一二。靈樞云。</p>
<p>命門目也。難經以為右腎。素問云。三部者頭及手足。九候九穴動脈。而難經以為寸關尺浮中沉。其余或衝脈並腎經。</p>
<p>反為胃經之類。每每若是。不暇枚數。學人察諸。</p>
<p>一余所撰注。專晰所以立問答之由。若夫訓字釋名。諸家既已具。故不復贅。</p>
<p>一前代注家卷首。多圖各篇諸脈。以備初學便覽。余謂徒畫餅耳。安得知其真味哉。矧脈之為物。其猶水邪。觀水有術。故聖人深得諸心。而象諸物。建名立號。欲令後人思以得之。圖豈能明之哉。學人莫按圖索驥。</p>
<p>一全篇每句以白黑字分解者。白以彌縫正文語路。黑以直釋其義。蓋正文本簡古。故不介以字詁。則其言難通暢。</p>
<p>矧陰陽虛實字。最易混同。凡此書所謂陰陽。有指血氣言。有指經脈言。有指尺寸及表裡而言之。其虛實亦有邪正血氣之分。非添字詁。何緣能別其義。覽者莫以白字解為等閑看。</p>
<p>一八十一篇。闕文錯簡。十居其半。滑氏本義中。僅出闕誤十九條。其間所是正。或有未妥貼。余所撰次。備考前後問答接續。私考其簡編。設雖未必得其本色。寧使學人連讀易了爾。</p>
<h2>卷之上</h2>
<p>（第一）難（去聲下同）曰。十二經（中）皆有動脈（處）獨（照上皆字）取寸口。（手魚後卻行一寸即經渠大淵二穴之分）以決五臟六腑死生吉凶之（診）法。何謂也。然（然然諾之然此書字例下皆仿此）寸口者。（諸）脈之大會（地）</p>
<p>手太陰（肺）之脈動也。（素問云五味入口藏於胃以養五臟氣氣口亦太陰也是以五臟六腑之氣味皆出於胃變見於氣口又云氣口成寸以決死生）</p>
<p>按此篇開卷第一義。寸口一名氣口。又名脈口。凡診脈之法。靈素所述。蓋非一道。或以氣口人迎言。或以三部天人地言。或寸脈尺膚。相對言之。人有腎原之氣。胃陽之氣。此難所言。獨主胃氣。蓋水穀入口。則脈道以通。無病則沖和之氣自見。若有病則隨其邪之淺深。各為脈變。凡人身者。一原氣焉耳。故其有病也。諸經皆為此變動。況肺朝百脈。脈會大淵。則全為胃氣之先容。此所以不取他脈。而獨取寸口。以決臟腑之死生者。然明診脈之要。專在此耳。</p>
<p>人一呼脈行三寸。（左右各一寸半下同）一吸脈行三寸。呼吸定息。脈行六寸。人一日一夜。凡一萬三千五百息。脈行五十度。周於身。漏（刻）水下百刻。榮衛行陽（晝）二十五度。行陰（夜）亦二十五度。為一（大）周也。故五十度復（回）會於手太陰。（大淵之地）寸口者。五臟六腑之所終始。故（診）法取於寸口也。</p>
<p>此承上節言。諸脈會於寸口。凡血氣之一周身者。以滿水計。則二刻。以息數。則二百七十。以脈度。則一十六丈二尺。是特示晝夜五十營之理爾。若夫診脈之法。則素問所謂一呼再動。一吸再動。呼吸定息。脈五動。潤以大息。是也。蓋舉壯歲無病者。以為準焉。至若老幼。則無拘是法。當知老自老。幼自幼。固有血氣盛衰之分。而脈亦為之增減。</p>
<p>故料五動內外。以定平脈。是言外之意也。且察脈之變。藉醫之氣息為法。故素問曰。常以不病調病患。是也。此段雖未言及診脈之法。然其意亦暗寓中矣。</p>
<p>（第二）難曰。脈有尺寸。（二部）何謂也。然。尺寸者。脈之大要會也。（前曰大會此曰大要會可見要一字有差別）</p>
<p>從關（手腕後高骨處）至尺（澤）是尺（膚）內陰之所治也。從關至魚際（大指掌骨際）是寸口內陽之所治也。故分寸（口）為尺。分尺（膚）為寸。故陰得尺（膚）內一寸。（動脈）陽得寸（口）內九分。（動脈）尺寸（二部）終始一寸九分。故曰尺寸也。（此篇始以魚後一寸九分之動通稱寸關尺三部）</p>
<p>按一難已舉一部寸口。以決臟腑之死生者。以肺朝百脈。非若余十一經之比。蓋取太極未分之象焉。此篇分寸尺立論者。脈中既有陰陽進退之理。故於一脈中分關前關後。以立尺寸陰陽之位。蓋見太極分為兩儀之象也。故九為寸陽。</p>
<p>十為尺陰。立關以為寸尺之界。合則一寸九分。即三指點按之位也。孫思邈以寸關尺三部。為岐伯之言。然內經無所見焉。其有尺寸之名者。尺是尺之膚肉。寸即寸口一部之脈。分寸口尺內為三部者。蓋難經之所創也。圭齋歐陽氏云。切脈於手之寸口。其法自秦越人始。蘄水龐安常。亦謂越人取手太陰之行。度魚際後一寸九分。以配陰陽之數。此說俱為得之。滑注所引。即釋字家說。非古義也。一二難統論建三部之義。</p>
<p>（第三舊十八）難曰。脈（經脈之脈）有三部。部有四經。手有太陰陽明。足有太陽少陰。為上下部。何謂也。然手太陰（肺）陽明（大腸）金也。足少陰（腎）太陽（膀胱）水也。金生水（母子之行）水流下行。而不能上。故在下部也。足厥陰（肝）少陽（膽）水也。生手太陽（小腸）少陰（心）火火炎上行。而不能下。故為上部。手心主（心包）</p>
<p>少陽（三焦）火。生足太陰脾陽明（胃）土。土主中宮。故在中部也。此皆五行子母。更相生養者也。</p>
<p>按此難見舊本第十八篇。以予觀之。正似錯簡在彼。何則。此難所言。蓋配列臟腑部位於寸關尺者。明矣。一二難始分三部。而未配臟腑脈位。至三四難。則既論平病死等脈。所謂陰陽相乘。及心肺俱浮。腎肝俱沉等語。當按何處以得之乎。故移是難於此。則知三部各立臟腑分發也。其分發之說。諸家紛紛。似不合於經意。予竊考寸關尺三部之診。</p>
<p>八十一篇中。唯有左得之右得之。及右手脈等語。而未嘗聞有配列臟腑於左右尺寸之說。如其左寸心右寸肺等說。西晉王叔和為之嚆矢。唐宋元明諸家。咸從其旗號。愈穿愈鑿。愈繁愈雜。至若取素問尺內兩旁季脅云云一節。以為三部左右分發之義。則大失古義。豈非一犬吠虛。萬犬傳聲邪。至明中葉趙繼宗李時珍輩。厭其繁蕪。略從簡約。雖然。趙氏唯得土主中宮之旨。李氏唯通部有四維之義耳。宋王誠叔獨謂以心肺俱浮。腎肝俱沉。脾在中州為正。至於他分兩手部位。及臟腑脈。並時分見於尺寸。皆以為王氏脈經之非。可謂千古卓見矣。惜乎眾口爍金。遂使脫錐之才。坐下客之列。</p>
<p>余善其說之近乎古。故時舉寓推轂之意云。</p>
<p>（第四舊十六）難曰。脈有三部九候。有陰陽。（舊本四難）有輕重。（舊本五難）有六十首。（舊本十難）有（張世賢本有有字故補之）一脈變為四時。（舊本十五難）離聖久遠。各自是其（診）法。何以別之。</p>
<p>按此問辭出舊本第十六難。然無答辭。疑是缺文乎今考前後篇。推以移之於此。</p>
<p>脈有三部九候。各何主之。然。三部者。寸關尺也。九候者。浮中沉也。上部（寸）法天。主胸以上。至頭之有疾也。中部（關）法人。主膈以下至臍之有疾。下部（尺）法地。主臍以下至足之有疾也。審而（針）刺之者也。</p>
<p>按此一節。出舊本第十八難中。脈有三部九候。如何主之十字。謝堅白以為衍文。然是特更端之辭。下編多見此例。</p>
<p>則置亦無妨焉。素問分頭面手足為天人地三部。每部候三穴。合為九候。而扁鵲便以寸關尺為三部。每部浮中沉。合為九候。義若相悖。然其致一也。蓋扁鵲之意。於內經諸篇。率皆去繁就簡。約示其義者。每每皆然。故在此篇。亦唯言兩寸法天。心肺主之。兩尺法地。腎肝主之。兩關法人。脾心包主之。審而刺之。言分三部九候而針刺之。</p>
<p>上部（寸）有脈。下部（尺）無脈。其人（必）當（有）吐。不吐者死。上部無脈。下部有脈。雖困（倦）無能為害。所以然者。人之有尺（脈）譬如（二字舊本誤在人之有尺之上今從滑注移於此）樹之有根。枝葉（比寸）雖枯槁。</p>
<p>根本（比尺）將自生。脈有根本。人有元氣。故知不死。（此一節舊本誤出於第十四難之末今以文理考則當屬於上文故僭移於此）</p>
<p>按此因上文言上下部脈自有本末之理。所謂上部有脈。下部無脈者。是主邪氣。故有未必有。無未必無。益是飲食隔塞中焦。不得磨旋。則上焦不清。下焦不通。故脈溢上而侵心肺之分。是以其人當吐。然則上部有脈。是謂有邪脈也。</p>
<p>其無脈者。亦當一旦隔塞而不見焉。若既有吐。則上下俱通。而其無脈處。還復相見。若夫不吐則下焦無氣。而腎肝殆絕。故曰死矣。上部無脈。下部有脈者。是主正氣。故無是真無。有是真有。蓋雖上焦受邪。心肝為是漸虛。然下焦未衰。腎肝之氣。猶有茁然者。縱使枝葉枯槁。然根本既已有氣。則何死之有。故曰雖困無能為害。此篇有無二字。特有二義。若為一例觀之。則不啻局促不通。反失立論之旨。何者。下部已無脈。而上部獨有焉。則外關內格惟肖。上部脈絕。而下部獨見焉。則內關外格何別。滑注所載諸說。隨文為解。未曾免疑。學人審諸。</p>
<p>（第五舊四）難曰。脈有陰陽之法。何謂也。然。呼出心與肺。（寸）吸入腎與肝。（尺）呼（寸）吸（尺）之間。</p>
<p>脾受穀味也。其脈在中。（關）浮者陽也。（表）沉者陰也。（裡）故曰陰陽也。心肺俱浮。何以別之。（起一浮分為兩象之間）然浮而大散者。心也。（陽中之陽）浮而短澀者。肺也。（陽中之陰）腎肝俱沉。何以別之。（又一沉分為兩象）然牢而長者肝也。（陰中之陽）按之濡。舉指來實者。腎也。（陰中之陰）脾者中州。故其脈在中。（不浮不沉陰陽界限故謂之中）是陰陽之法也。</p>
<p>按此篇立論。心肺脈俱浮。見寸為常。腎肝脈沉。見尺為常。脾脈。見於兩關。不偏不倚。故曰其脈在中。中者。</p>
<p>關位也。此不言寸尺。專以呼吸言者。蓋前篇既論三部各配五臟位置。故此獨以呼吸言。越人已謂腎間動氣。呼吸之門。</p>
<p>則呼自齊下閱歷諸臟。而出於鼻。吸亦自鼻孔入達五臟。而極於齊下。所謂呼出心肺。吸入腎肝者。亦互文耳。自此而下。專言脈象。此篇先舉浮沉二脈。以示表裡陰陽。</p>
<p>脈有一陰一陽。（沉滑）一陰二陽。（沉滑長）一陰三陽。（浮滑長時一沉）有一陽一陰。（浮澀）一陽二陰（長沉澀）</p>
<p>一陽三陰。（沉澀短時一浮）如此之言。寸口（三部）有六脈俱動邪。然。此言者。非有六脈俱動也。謂浮沉長短滑澀也。</p>
<p>（上所謂六脈是也）浮者陽也。滑者陽也。長者陽也。沉者陰也。短者陰也。澀者陰也。</p>
<p>所謂一陰一陽者。謂脈來沉（體）而滑（兼加）也。一陰二陽者。謂脈來沉（體）滑而長（兼）也。一陰三陽者。</p>
<p>謂脈來浮滑而長。（變脈）時一沉（本脈）也。（以上三件脈狀陰脈為體陽脈兼見）所謂一陽一陰者。謂脈來浮（體）而澀（兼）也。一陽二陰者。謂脈來長（體）而沉澀（兼）也。一陽三陰者。謂脈來沉澀而短。（變）時一浮（本）也。（此三件陽脈為體陰脈乘之）各以其（部）經所在。名病順逆也。（陽位見陽脈陰位見陰脈是順陽位見陰脈陰位見陽脈是逆）</p>
<p>按因上節浮沉二脈。並滑澀長短四脈。凡此六者。為脈之綱領而候之。古之義也。內經以緩急大小滑澀為六脈。其義亦同。各隨其時宜爾。蓋有一陰一陽。至一陰三陽。則是謂陰虛陽盛。自微至著之象。即無水之證。所謂盛水之主。</p>
<p>以制陽光。是也。自一陽一陰。至一陽三陰。則謂陽虛陰盛。自漸至極之狀。即無火之證。所謂益火之原。以消陰翳。</p>
<p>是也。至於時一沉浮。則陰陽衰竭之極。而無有挽回之候。故曰。名病之逆順也。</p>
<p>（第六舊同）難曰脈有陰盛陽虛。陽盛陰虛。何謂也。然浮之（輕取）損小。（不足）沉之（重取）實大。（有餘下同）故曰陰盛陽虛。沉之損小。浮之實大。故曰陽盛陰虛。是陰陽虛實之意也。</p>
<p>按此篇與舊本五十八難第三節之文似同。而其義自別。彼所謂陽虛陰盛。陽盛陰虛。乃指傷寒表裡之證。此則承上篇浮沉。以定陰陽虛實之診法。讀者勿以其偶同混讀焉。</p>
<p>（第七舊九）難曰。何以別知臟腑之病耶。然。數者腑也。（屬陽）遲者臟也。（屬陰）數（浮沉強弱）則為熱。（表裡虛實）遲（浮沉強弱）則為寒。（表裡虛實）諸陽（脈）為熱（證）諸陰（脈）為寒（證）故以別知臟腑之病也。</p>
<p>按此難舉數遲二脈。以別臟腑之病。前篇既揭浮沉二脈。分發四臟。此篇即標數遲以決臟腑寒熱者。以浮沉虛實四字。蒙此二脈。引伸以求其義。則此難秘旨。自然明矣。所謂數者腑。遲者臟。數則為熱。遲則為寒四句。滑注無明解。</p>
<p>諸家紛紛。猶未決者。蓋不深味之耳。何者。數未必得為腑病。遲未必得為臟病。蓋有熱則腑臟脈皆數。有寒則臟腑脈皆遲。故下文云。數則為熱。遲則為寒。由之觀之。浮數則表熱。沉數則裡熱。虛數是陰虛內熱。實數是陽實發熱。遲脈亦各有浮沉虛實四變。臟寒腑寒。俱皆見焉。或問此篇數遲二脈。似在臟腑有所印定。然則無臟病屬熱腑病屬寒之證歟。答曰。數遲二脈。分發臟腑。固其所也。而病之變易。脈與之化。則臟亦見數。腑亦見遲。何有定體。數遲易地。</p>
<p>可以見此篇之妙。龐氏所謂引而不發者。是也。</p>
<p>（第八舊五）難曰。脈有輕重。（手法）何謂也。然。初持脈。如三菽之重。（浮○菽豆之別名菽有大小則未可知用何豆為準蓋其實則借以分段耳讀者勿泥）與皮毛相得者。肺部也。如六菽之重。（浮）與血脈相得者。心部也。如九菽之重。（浮沉之中）與肌肉相得者。脾部也。如十二菽之重。（沉）與筋平者。肝部也。按之至骨。（沉）舉指來疾（前難作實為是）者。腎部也。故曰輕重也。</p>
<p>按菽法輕重凡五候。雖內經無明文。然應象論略有言曰。善治者治皮毛。其次治肌膚。其次治筋脈。此亦診家伺邪淺深之一也。又痹論所述五痹之候。亦非此法。則無所分別。蓋每部分診之。則在寸三菽六菽。關乃九菽。尺乃十二菽。</p>
<p>與至骨大意。滑注所言浮中沉之義。而分於皮脈肉筋骨者。凡以病有此五分故耳。此難所以立菽法輕重者然歟。</p>
<p>（第九舊七）難曰。經（見素問平人氣象論其文半脫）言少陽之（脈）至（進）乍大（陽）乍小。（陰）乍短（陰）</p>
<p>乍長。（陽下文同）陽明之至。浮大而短。太陽之至洪大而長。太陰之至。緊大而長。少陰之至緊細而微。厥陰之至。沉短而敦（重）此六者。是平脈邪。將病脈邪。然。皆王脈也。其氣以何月各王幾日。然。冬至之後得甲子。（統六十日下同）少陽王。復得甲子。陽明王。復得甲子。太陽王。復得甲子。太陰王。復得甲子。少陰王。復得甲子。厥陰王。王各六十日。六六三百六十日。以成一歲。此三陽三陰之旺時日大要也。</p>
<p>按平病死三脈外。別有王脈。蓋王之為義。在天地。則自冬至一陽來復後。每得一甲子。六十日。陽氣始動。以序升浮。至於純陽建巳月而極矣。自夏至一陰始。亦每六十日。陰氣主事。以次降沉。至於純陰建亥月而極矣。在人經脈。</p>
<p>冬至後六十日。少陽王氣至。以次逮乎陽明太陽。自裡出表。氣之升而浮也。夏至後六十日。太陰王氣至。以次遷於少陰厥陰。自外之內。氣之降而沉也。蓋自冬至每六十日。以次推之。則一歲中王凡六變。似合六氣營運之道。然六氣者。</p>
<p>以厥陰為先。大寒節為始。則其義亦異。因審考之。從少陽至於太陽。則一陽動於地下。而六陽偏於上之象。從太陰至於厥陰。則一陰見於上。而六陰極於下之象。故陽脈之王。乃始於少陽。而終於太陽。陰脈之王。則從太陰而至厥陰者。</p>
<p>可以見已。滑注泥後得二字。為甲子為冬至以後甲子之日。殊不知此六甲之義。而統言六十日。古言為然。</p>
<p>（第十舊同）難曰。一（臟腑）脈為十（病）變者。何謂也。然五邪（虛實賊微正）剛（臟邪氣甚）柔（腑邪氣微）</p>
<p>相逢之意也。假令心脈急甚者。（為螈　）肝邪干心也。（從後來為虛邪）心脈微急者。（為心痛引脊食不下）膽邪干小腸也。心脈大甚者。（為喉　）心邪自干心也。（自病為正邪）心脈微大者。（為心痹引脊善淚出）小腸邪自干小腸也。心脈緩甚者。（為狂笑）脾邪干心也。（從前來為實邪）心脈微緩者。（為伏梁在心下上下行時吐血）胃邪干小腸也。心脈澀甚者（為喑）肺邪干心也。（從所勝來為微邪）心脈微澀者。為血溢維厥耳鳴巔疾。大腸邪干小腸也。心脈沉（靈樞作滑為是下同）甚者。（為善喝）腎邪干心也。（從所不勝來為賊邪）心脈微沉者。（為心疝引齊小腹鳴）膀胱邪干小腸也。五臟各有剛柔邪。故令一脈輒變為十也。</p>
<p>按寸關尺每一部有腑逢腑。臟逢臟之脈。變是謂剛柔相逢。所謂緩急大滑澀五脈。各有微甚。分為十變。則左右三部。合為六十變。分而言之。則一臟五邪。五五二十五病。故素問曰。五五二十五變。又曰。二十五陽。腑病亦然。總而言之。則為五十變。以余觀之。在病證則臟腑合為五十變。據靈樞則以緩急大小滑澀。分微甚言之。總合為六十變。</p>
<p>丁德用以此篇為六十首。實得其理焉。第四十九篇論虛實賊微正五病。是即其脈例也。靈樞第四篇曰。調其脈之緩急小大滑澀。而病變定矣。又曰。諸小者。陰陽形氣俱不足。勿取以針。而調以甘藥也。今越人時省小脈。而取五脈者。蓋難經專示用針立功之妙已。</p>
<p>（第十一舊十五）難曰。經（素問平人玉璣二篇）言。春（肝）脈弦。夏（心）脈鉤。秋（肺）脈毛。冬（腎）脈石。是王脈耶。將病脈也。然。弦鉤毛石者。四時之脈也。（因胃氣有無以分平病死）春脈弦者。肝東方木也。萬物始生。</p>
<p>未有枝葉。（比類下同）故其脈之來。濡弱而長。故曰弦。夏脈鉤者。心南方火也。萬物之所茂。垂枝布葉。皆下曲如鉤。</p>
<p>故其脈之來疾去遲。故曰鉤。秋脈毛者。肺西方金也。萬物之所終。草木華葉。皆秋而落。其枝獨在。若毫毛也。故其脈之來。輕虛以浮。故曰毛。冬脈石者。腎北方水也。萬物之所藏也。盛冬之時。水凝如石。故其脈之來。沉濡而滑。</p>
<p>故曰石。此四時之脈也。（以上明弦鉤毛石之名義）如有變奈何。然。春（肝）脈弦。反（常）者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。氣來厭厭聶聶。如循榆葉。曰平。（多胃氣下同）益實而滑。如循長竿。曰病。（少胃氣下同）急而勁益強。如新張弓弦曰死。（無胃氣下同）春脈微弦。曰平。弦多胃氣少。曰病。但弦無胃氣。曰死。春以胃氣為本。夏（心）脈鉤。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。其脈來累累如環。如循琅　。曰平。來而益數。如雞舉足。曰病。前曲後居。如操帶鉤。</p>
<p>曰死。夏脈微鉤。曰平。鉤多胃氣少。曰病。但鉤無胃氣。曰死。夏以胃氣為本。秋（肺）脈毛。反者為病。何謂反。</p>
<p>然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。其脈來藹藹如車蓋。按之益大。曰平。不上不下。</p>
<p>如循雞羽。曰病。按之蕭索。如風吹毛。曰死。秋脈微毛。曰平。毛多胃氣少。曰病。但毛無胃氣。曰死。秋以胃氣為本。冬（腎）脈石。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。脈來上大下兌。（上下二字疑古文誤倒置）濡滑而如雀之啄。（當作喙）曰平。啄啄連屬。其內微曲。曰病。來如解索。去如彈石。曰死。冬脈微石。曰平。石多胃氣少。曰病。但石無胃氣。曰死。冬以胃氣為本。</p>
<p>按厭厭聶聶。若循榆葉者。上文所謂濡弱而長之謂也。形容如是者。專主胃氣言之。診脈之法。固醫家之關鍵。苟非脈。則安能決病之虛實。經云。脈者血氣之先。故古聖之於脈也。諄諄反覆。比類象物。以傳後世。且脈本無定體。</p>
<p>隨時變更。自非聖人。其孰能如是形容。下文所謂累累藹藹啄啄等字。不可忽諸。此段太過不及之病。詳見素問。宜互參看。</p>
<p>胃者。水穀之海。主稟。四時皆以胃氣為本。是謂四時之變病。死生之要會也。脾者。中州也。其平和不可得見。</p>
<p>衰乃見耳。來如雀之啄。如水之下漏。是脾衰見也。</p>
<p>按此結上文。謂胃者水穀之海者。以諸脈皆主穀病也。穀氣即胃氣。故曰死生之要會也。脾之和平。不可得見者。</p>
<p>以寄旺四臟脈中故也。雀啄屋漏。所謂真臟獨見是也。胃謂生氣。脾謂死脈。蓋互文耳。夫脾胃者。一氣也。運化水穀。</p>
<p>二者相隨為用。故承上文以謂生之徒。二者為之。死之徒。亦二者為之。學人察諸。此應上所問。一脈變為四時之答。</p>
<p>（第十二舊三）難曰。脈有太過。（實）有不及。（虛）有陰陽相乘。（脈將變之兆）有覆（陽極）有溢。（陰極）有關（陰盛四倍）有格。（陽盛四倍）何謂也。（七件脈名從內經中采摘來發問）然。關之前（寸）者。陽（脈）之動也。</p>
<p>脈當見九分（本位）而浮。過者（過於本位）法曰太過。減者（減於本位下同）法曰不及。遂（進也下同）上魚（際）</p>
<p>為溢。（直上之勢）為外關內格。此陰乘（陽位）之脈也。關以後（尺）者。陰（脈）之動也。脈當見一寸（本位）而沉。</p>
<p>過者法曰太過。減者法曰不及。遂入尺為覆。（直下之勢）為內關外格。此陽乘（陰位）之脈也。故曰覆溢。是其真臟（無胃氣）之脈。人不病而死也。</p>
<p>按此篇所問脈狀。曰太過。曰不及。曰陰陽相乘。曰覆。曰溢。曰關。曰格。以七有字。分七件答辭。唯言太過不及與覆溢。以斷病死之分。其陰陽相乘及關格字。皆象所以為覆溢之形。詳考內經。曰溢陰溢陽。曰關陰格陽。俱是人迎寸口四盛以上之脈。而陰陽亢極之名也。蓋在陰必曰關。在陽必曰格。而溢乃陰陽相通言之。獨覆一脈。內經無所見。</p>
<p>後世字脫耶。抑越人因溢脈對出耶。此未可知矣。蓋此篇覆溢者。即內經所謂關格也。此難所謂關格。乃謂陰陽相乘之病勢。字同而義異。或問。然則此篇關格字面。何如著落。曰。觀夫於溢脈。曰外關內格。覆脈亦曰內關外格。則知覆溢者。是即真臟死脈。而外見此脈。則內亦有腑臟互相關格之變矣。素問曰。陰陽不相應。病名曰關格。可見關格不止脈名。故四明陳氏云。關者二便閉而不通。格者食飲拒而不下。是也。後世方書中。有關格病。知覆溢是孤陰獨陽之脈名。而關格唯　其陰陽失位之勢耳。然則以關格為病名。蓋權輿於此篇者歟。</p>
<p>（第十三舊十四）難曰。脈有損（似遲）至。（似數）何謂也。然。至（病）之脈。一呼再至。曰平。（舉例）三至（一息六動）曰離經。（適得病）四至（一息八動）曰奪精。（病將甚）五至（一息十動）曰死。（難治）六至（一息十二動）曰命絕。（必死）此至之脈也。何謂損。一呼一至（一息二動）曰離經。再呼一至（一息一動）曰奪精。三呼一至（一息半一動）曰死。四呼一至（二息一動）曰命絕。此損之脈也。至脈（病）從下（腎肝）上。（心肺）損脈從上（心肺）</p>
<p>下（肝腎）也。</p>
<p>按至者進。損者退。所謂損至。即數遲之意也。第七難既言數遲。然彼專為分臟腑寒熱言之。此謂下部陰虛。而陰中之陽升。為至。上部陽虛。而陽中之陰降。為損。皆自漸至極之義也。離經奪精之解。滑注得之。五至曰死。六至曰命絕。大義雖無殊。因脈動之多寡觀之。則有分界。蓋死與命絕。自有緩急之差。可知已。</p>
<p>損脈之為病奈何。然。一損（肺邪）損於皮毛。（肺之合）皮聚而毛落。（外候）二損（心邪）損於血脈。（心之合）</p>
<p>血脈虛少。不能榮五臟六腑。（外候）三損（脾邪）損於肌肉。（脾之合）肌肉消瘦。飲食不能為肌膚。（外候）四損（肝邪）損於筋。（肝之合）筋緩不能自收持。（外候）五損（腎邪）損於骨。（腎之合）骨痿不能起於床。（外候）反此者。</p>
<p>至脈之病也。（舊本於收二字誤）從上（肺心）下（肝腎）者。骨痿不能起於床者死。從下（腎肝）上（心肺）者。皮聚而毛落者死。治損之法奈何。然。損其肺者益其氣。（氣虛者宜升提）損其心者調其榮衛。（血氣者人之神宜調）損其脾者調其飲食。適其寒溫。（水穀由脾以營四臟）損其肝者緩其中。（養血）損其腎者益其精。（補之以味）此治損之法也。</p>
<p>（反此者至脈之治也）</p>
<p>按此舉損病一例。以該至脈之病。皆各候其所主部分。以知何臟之為病也。然損病始於皮聚。而終乎骨痿者。是順境而易知焉。至病自骨痿至皮聚。則是逆境難見。何者。損病皮聚者。得病之始。骨痿病極之候。今以損之極。為至病之始。以損之始。為至之終。滑注無明解。初學不得無疑。曹氏脈歌云。損脈之病。過三則死。至脈之病亦然。可謂得此難言外之意者。蓋所謂三者。指脾損。病過脾而下抵肝腎則死。至病亦過脾而上。至心肺則死。然則治損至之大法。</p>
<p>在病不及脾之前。可知矣。又按內經論氣血二虛。率主脾腎。難經舉肺與腎。明分氣血二因。而脾臟獨為氣血二病之彀率者。以發經之余蘊。肺曰益氣。肺主皮毛。所謂氣者。指外衛獨行者。經曰。形不足者溫之以氣。是也。心曰調榮衛。</p>
<p>心主血。輸諸經脈中。從營往來。謂之並行。衛氣亦心之化也。經曰。血氣者。人之神是也。周仲立衛字為衍者。非也。</p>
<p>脾曰調其飲食。適其寒溫。脾已有損。則胃中水穀難化。故調熟菜白粥。易化以與之。且適其好寒好溫情。莫強其所不好。為前所謂飲食不能為肌膚云爾。是治脾之要也。滑注。春夏食涼食寒等語。此平人養生之要也。而若病患有不好。</p>
<p>則何以能為與之。豈非強乎。肝曰緩其中。中者志也。禮云虛中。孟子云熱中。義與此同。皆指志言。肝志主怒也。緩者。以甘緩之。經曰。肝苦急。急食甘以緩之。是也。腎曰益其精。腎主水。受五臟六腑之精。而藏之。經曰。精不足者補之以味。是也。</p>
<p>脈有一呼再至。一吸再至。（平脈）有一呼三至。一吸三至。（離經）有一呼四至。一吸四至。（奪精）有一呼五至。</p>
<p>一吸五至。（死脈）有一呼六至。一吸六至。（命絕○以上審至脈之動）有一呼一至。一吸一至。（離經）有再呼一至。再吸一至。（奪精○舊本有呼吸再至五字滑注以為衍文今削去按第一節有三呼四呼之目則於此節似有所闕然觀下文言再呼一至曰無魂當死則於損病不歷三呼四呼之久而死者明也）脈來如此。何以別知其病也。然。脈來一呼再至。一吸再至。</p>
<p>不大不小。曰平。（無過不及）一呼三至。一吸三至。為適得病。（謂至脈離經）前（寸）大後（尺）小。即頭痛目眩。（氣逆頭上）前小後大。即胸滿短氣。（邪塞胸中）一呼四至。一吸四至。病欲甚。（謂至脈奪精）脈洪大者。苦煩滿。（邪在上部）沉細者腹中痛。（邪在下部）滑者傷熱。（陽氣受病）澀者中霧露。（陰血受病）一呼五至。一吸五至。其人當困。</p>
<p>（謂死脈）沉細夜加（倍）浮大晝加（倍）不大不小。（謂氣未竭）雖困可治。其有大小者為難治。（胃氣已絕）一呼六至。一吸六至。為死脈也。（命絕）沉細夜死。浮大晝死。（以上謂至脈）一呼一至。一吸一至。名曰行尸。（舊本損字疑誤故削去此下古經錯亂文理不屬）人雖能行。猶當著床。所以然者。血氣皆不足故也。（所謂損脈離經）再呼一至。再吸一至。（舊本此下有呼吸再至四字直削去）名曰無魂。無魂者。當死也。（謂損脈奪精○舊本此下剩出入雖能行名曰行尸八字疑是衍文）</p>
<p>按此一說。滑氏曰。經絡血氣。為邪所中自外得之證。而與上節言五臟病者稍異焉。以余觀之。則不然。何者。前已言呼而不言吸。舉脈之動數。而不及形狀。是乃申明其義。而謂不大不小。前大後小。前小後大。及洪大沉細滑澀等類。皆審其脈狀者。可以見已。其所謂頭痛目眩。胸滿短氣。苦煩滿。腹中痛。及傷熱中霧露等證。是乃舉其病態。昭昭乎明矣。若夫傷熱中霧露等症。蓋一時自外兼加者。而所謂內傷挾外感是也耳。五臟之病。其根深。其發緩。礦日彌久。動涉歲月。非一朝一夕之謂也。故其間或有外邪觸冒。則脈從而變矣。滑氏因其有外邪之病。而謂與前節異。幾乎粗已。蓋前所言。則五臟部分之病。而唯見其概。此所言者。具述其詳。一呼一至。名曰損。以下文理不屬。似有闕漏。</p>
<p>故不可強解。今竅　括。姑　其義云。</p>
<p>（第十四舊十一）難曰。經（靈樞第五篇）言脈不滿五十動而一止。（中止而不動）一臟無氣者。何臟也。然。人吸者隨陰（腎肝）入。呼者因陽（心肺）出。今吸不能至腎。至肝而還。故知一臟無氣者。腎氣先盡。</p>
<p>按脈一息五至。不大不小。則五臟和平無病之脈也。然一息間至微至眇。無有形影。故以十息五十動。候臟氣虛竭。</p>
<p>靈樞曰。五十動而可不一代者。五臟皆受氣。四十動而一代者。一臟無氣。此難本此。而以不滿五十動變文。代作止。</p>
<p>少異耳。義固相因。蓋五十動減一二。亦屬臟氣之虛。靈樞連言五臟。此篇獨言一臟者。蓋舉一反三之意也。且靈樞唯謂一臟二臟。則未知為何臟。故扁鵲特發問答以實之。令後人知所謂一臟。即從下數之。其無氣亦自腎臟始者。可以見已。</p>
<p>（第十五舊十三）難曰。經（靈樞第四篇）言。見其（臟）色而不得其（臟）脈。反得相勝之脈者。（色脈相克）即死。得相生之脈者。（色脈母子）病即自已。色之與脈。當參相應。（桴鼓影響）為之奈何。（問色脈相勝相生之義）然。</p>
<p>五臟有五色。皆見於面。（此一節舊本誤出第三節今改移於此）當於寸口尺內（尺之皮膚）相應。其不應者病也。假令色青。（肝）其脈浮澀而短。（肺）若大而緩。（脾）為相勝。浮大而散。（心）若小而滑。（腎）為相生也。（是第一答）假令色青。（肝）其脈當弦而急。（木）色赤。（心）其脈浮大而散。（火）色黃。（脾）其脈中緩而大。（土）色白。（肺）其脈浮澀而短。（金）色黑。（腎）其脈沉濡而滑。（水）此所謂五色之與脈。當參相應也。（是第二答故移下項）五臟各有聲臭味液。（五色與脈相應既出前段故此削色字補液字）亦當與寸口尺內相應。（此九字舊本誤出第一說今移置此）脈數（大）尺之皮膚亦數。（肉熱）脈急（弦）尺之皮膚亦急。（肉張）脈緩（弱）尺之皮膚亦緩。（肉軟）脈澀（短）尺之皮膚亦澀。（肉干）脈滑（實）尺之皮膚亦滑。（肉潤○此一節舊本出第二節今移於此）經言。知一（脈）為下工。知二（色脈）為中工。知三（色脈尺肉）為上工。上工者（神且明）十全九。中工者（為神）十全八。（靈樞作七）下工者（為工）</p>
<p>十全六。此之謂也。</p>
<p>按靈樞云。夫色脈與尺之相應。如桴鼓影響之相應。不得相失也。此篇問答。由此而發。蓋剿取於靈樞中色脈尺肉之診。表章其義。凡診病之要。脈雖為之主。然兼色與尺膚候之為上工。古之道也。夫五行之道。互有生克。固有其理。</p>
<p>疾病始至。則權衡既失。而軒輊乃見矣。色脈及尺。共相生者為順。相克者為逆。逆則病不歸一。故難治。順則證無二岐。故易療。色脈尺肉之外。又有聲臭味液之候。可見古先聖賢之診。詳且盡矣。色脈及尺三焉者。脈為之主。色尺為之羽翼。故本篇第一二節。脈兼色言。第三節脈兼尺言。由此觀之。所謂聲臭味液四焉者。亦皆色尺之旁診。而不可以闕焉。此篇徒舉聲臭味液之目。而不及其HT　。然時舉其目者。屬診候之法。故不可以廢爾。讀者勿見以為衍。詳見三十四篇。周禮天官醫曰。十全為上工。十失一次之。失二次之。失三次之。失四為下工。此篇及靈樞。謂上工全九者。點下一等。以見戒意。即合周禮失一之品。全八與周禮失二合。靈樞全七。與周禮失三合。在此篇特陟一等。亦教勵之意也。其七與八。在周禮則共是中工之品。義並無異。全六為下工。周禮靈樞皆同矣。</p>
<p>（第十六舊同）難曰。（此下舊本出脈有三部九候云云三十五字問與答不相屬似錯簡其三十五字問辭今移篇首以為序次所謂陰陽輕重六十首一脈為四時等義皆例其後則文義當相屬此難當別有問古文脫簡不可知故姑闕如）然。是其病有內外證。（初答）其病為之奈何。（再問）然。假令得肝脈。（弦急）其外證。面青（肝膽色）善潔（膽）善怒。（肝）其內證。齊左有動氣。按之牢若痛。其病四肢滿。閉淋溲（小便）便難。（大便）轉筋。有是者肝（病）也。無是者非（肝）</p>
<p>也。假令得心脈。（大數）其外證。面赤。（心小腸也）口乾。（舌熱）喜笑。（心）其內證。齊上有動氣。按之牢若痛。</p>
<p>其病煩心。心痛掌中熱而　。有是者。心（病）也。無是者。非（心）也。假令得脾脈。（緩弱）其外證面黃（脾胃色）</p>
<p>善噫。（胃）善思善味。（脾）其內證。當齊有動氣。按之牢若痛。其病腹脹滿。食不消。體重節痛。怠惰嗜臥。四肢不收。有是者脾（病）也。無是者非（脾）也。假令得肺脈。（短澀）其外證。面白（肺大腸色）善嚏。悲愁不樂。欲哭。</p>
<p>（肺）其內證。齊右有動氣。按之牢若痛。其病喘咳。洒淅寒熱。有是者肺（病）也。無是者非（肺）也。假令得腎脈。</p>
<p>（沉）其外證。面黑。（腎膀胱色）善恐（腎）善（舊本脫今補之）欠。（腎）其內證。齊下有動氣。按之牢若痛。其病逆氣。小腹急痛。泄如（如讀為而）下重。足脛寒而逆。有是者腎（病）也。無是者非（腎）也。</p>
<p>按此篇所言內外證。非謂病證表裡。即謂診候內外也。何則。面青善潔善怒。豈止外證。四肢滿。閉淋溲便難。轉筋。豈止內證。余可類推。所謂外證者。醫坐病患之側。以為望聞也。內證者。親逼病患。按腹診脈。以為問切也。概而言之。肝曰面青善潔。心曰面赤口乾。脾曰面黃善思善味。肺曰面白怨愁不樂。腎曰面黑善恐。是即望也。肝曰善怒。</p>
<p>心曰善笑。脾曰善噫。肺曰善嚏。腎曰善欠。是即聞也。肝曰四肢滿閉。心曰煩心心痛。脾曰腹脹滿。肺曰喘咳寒熱。</p>
<p>腎曰逆氣。小腹急痛。是即問也。肝曰臍左有動氣。心曰臍上。脾曰當臍。肺曰臍右。腎曰臍下。是即切也。望聞問切之義。詳見第六十一難。但彼所言。則特舉其義。以示醫者。此則直對病患。以實其事焉。由之觀之。所謂證者。言證據之證。而非言病證之證也。明矣。滑注隨文解之。內外證之義。不審何義。讀者察諸。</p>
<p>（第十七舊同）難曰。經（內經無所見）言。病或有死。或有不治自愈。或連年月不已。其死生存亡。可切脈而知之耶。然。可盡知也。診病若閉目不欲見人者。脈當得肝脈。弦急而長。（本臟脈名曰從從者當愈）而反得肺脈。浮短而澀者。死也。（相克脈名曰逆逆者當死）病若開目而渴。心下牢者。脈當得緊實而數。（陽病見陽脈吉）而反得沉澀而微者。死也。（陽病見陰脈凶）病若吐血復鼽衄血者。脈當（脈與病合）沉細。（陰病見陰脈）而反浮大而牢者。死也。（陰病見陽脈）病若譫言妄語。身當有熱。脈當洪大。（實病見實脈未危）而反手足厥逆。脈沉細而微者。死也。（實病見虛脈危）病若大腹而泄者。脈當微細而澀。（虛病見虛脈）而反緊大而滑者。死也。（虛病見實脈）</p>
<p>按此篇所問三件。而答止見死證一節。他無所見。疑是脫簡。王文潔云。肝病見其本臟脈。則病自已。若見相克脈。</p>
<p>乃死。余可類推。據王說。則自已之證。含蓄在其中。滑注云。第十八難所謂人病沉滯久積聚一條。當此篇連年月而不已之答。文錯簡在彼。今且從之。舊本第十六至十八難。各篇問答。殊不相蒙。疑是古經殘缺。不然。則呂廣重篇粗耳。</p>
<p>今因滑氏諸家之說。移易正文。略　其義爾。</p>
<p>人病有沉滯久積聚。可切脈而知之邪。（應連年月不已之問）然。診在右脅（肺部）有積氣。得肺脈（短澀）結。脈結甚則積（氣）甚。結微則（積）氣微。診不得肺脈（結）而右脅有積氣者。何也。然。肺脈雖不見。右手（三部）脈當沉伏。其外（形體）痼疾同法耶。將異也。然。內有積氣。脈當結伏。外有痼疾。脈當浮結。（以上十六字舊本脫落今因後節補之）結者。脈來去時一止無常數。名曰結也。伏者。脈行筋下也。浮者。脈在肉上行也。左右（手）表裡。（浮沉）法皆如此。假令脈結伏者。內無積聚。（聚疑氣字下同）脈浮結者。外無痼疾。有積聚。脈不結伏。有痼疾。脈不浮結。為脈不應病。病不應脈。是為死病也。</p>
<p>按此舊本第十八難。文義具前注末節然字下。古經脫內有積氣云云十六字。近世浪華林見宜難經或問中。既已補入。</p>
<p>今從之。</p>
<p>（第十八舊十九）難曰。經言脈有逆（女脈寸弱尺盛）順。（男脈寸盛尺弱）男女有恆（男上盛女下盛有定位）而反者。何謂也。</p>
<p>按女脈為逆。男脈為順。順者屬春夏生氣。從下而上達。逆者屬秋冬生氣。從上而下行。此謂男女有常也。如滑注所言。則逆順與反。其義不分。失問答之義。何者。此難所問。凡逆順與反。自是二義。答辭亦分為二件。學人思諸。</p>
<p>然男子生於寅。（春氣始升）寅為木。（發生）陽也。女子生於申。（秋氣始降）申為金。（　斂）陰也。故男脈在關上。（寸）女脈在關下。（尺）是以男子尺脈恆弱。（寸脈盛）女子尺脈恆盛。（寸脈弱）是其常（理）也。</p>
<p>按此第一件之答辭。謂男女自然。有逆順之分也。寅為木。陽也者。謂建寅月陽氣始出於地。而萬物生氣。皆在於上。自寅至未。六支配於春夏。而皆陽也。申為金。陰也者。建申月陽氣下降。而陰始用事。庶類之生氣。皆入於地。</p>
<p>自申至丑。六支配於秋冬。而皆陰也。寅申說。諸家泥矣。不可從也。</p>
<p>反者。男得女脈。（寸弱尺盛）女得男脈（寸盛尺弱）也。其為病何如。然。男得女脈為不足。病在內。（陰分）左（脈）得之。病在左（部）右（脈）得之。病在右（部）（下同）隨脈言之也。女得男脈為太過。病在四肢。（陽分）左得之。病在左。右得之。病在右。隨脈言之。此之謂也。</p>
<p>按此第二答。此篇太過不及。主心肺腎肝言。即氣血之偏虛偏實也。所謂男得女脈。寸弱尺盛。譬猶春夏陽氣不上騰。而滯於地下。則陰有餘。陽不足。故病在內。內者。謂陰部有HT　也。</p>
<p>女得男脈為太過。寸盛尺弱。謂陰不足。陽有餘。猶秋冬陽不下降。而留於地上。故病在四肢。謂心肺部有事也。上左右。指脈位。下左右。指臟部言之。</p>
<p>（第十九舊二十）難曰。經（今無所見）言。脈有伏匿。伏匿於何臟。而言伏匿耶。然。謂陰陽更相乘。更相伏也。</p>
<p>脈居陰部。（尺）而反陽脈（浮滑長）見者。為陽乘陰也。脈雖時沉澀而短。（三脈皆陰是伏）此謂陽（乘）中伏陰也。</p>
<p>脈居陽部。（寸）而反陰脈（沉澀短）見者。為陰乘陽也。脈雖時浮滑而長。（三脈皆陽）此謂陰（乘）中伏陽也。</p>
<p>按伏匿字。出素問調神論。然非脈名。滑注辨此篇伏匿。與三難復溢同異。然彼乃復溢對待而言。此則伏與乘相配而言。其義本異。所謂伏匿者。唯伏也。故云更相伏乘。是亦陰陽有餘不足之義。接前篇言。然與前篇義有差別。所謂脈居陽部。而反陰脈見。則知陰部亦盛也。然則三部皆陰盛之脈。而其陰乘時陽僅見者。此伏陽也。將為重陰之漸。脈居陰部。反陽脈見。則知陽部亦盛也。陽中時僅見陰脈。此伏陰也。將為重陽之漸。凡狂癲之證。共是五臟偏虛偏實之所由生焉。其在外邪。亦有所偏。實則為狂為癲。可以見已。</p>
<p>重陽者狂。（陽實）重陰者癲。（陰實）脫陽者見鬼。（獨陰之極）脫陰者目盲。（孤陽之極）</p>
<p>按此篇滑注。以為五十九難狂癲之文。錯簡出於此。以予觀之。弗然。彼所論則臟氣偏實之所生。病從內也。此即傷寒熱病陽症陰症等所見。病從外也。故見鬼目盲乃死。彼所謂狂癲。正氣自失。精神放散。不歸本舍。歷年之久。猶尚未已。豈有目盲見鬼之危急乎。學人察諸。</p>
<p>（第二十舊二十一）難曰。經言。人形病（外證）脈不病。（胃氣存）曰生。脈病（胃氣亡）形不病。（內證）曰死。</p>
<p>何謂也。然。人形病脈不病。非有不病者也。（脈亦似病）謂息數（屬病勢）不應脈數也。（屬生氣）此大法。</p>
<p>按此難形病脈病。審考其所答之辭。所謂息數不應脈數者。則其形病者。氣息短促。形體顫搖。而雖脈有邪勢。稍有胃氣存焉。此形病雖甚。應不至死。如脈病而形不病。則形息共穩。而脈見虛豁。無胃氣之和。是形病雖無已甚。然與脈反。不死何俟。蓋此難所言。凡內傷之病。則其所發以漸。故所苦亦緩。而脈乃日惡一日。此脈病而人不病也。外邪之為病。息氣動形。屈伸顛沛。然脈動實強。猶有胃氣。此形病而脈不病也。滑注所引周氏之說。不可從矣。唯若仲景之說。乃為穩當。</p>
<p>（第二十一舊二十二）難曰。經言脈有是動。（衛病淺）有所生病。（榮病深）一（經）脈變為二病（是動所生）者。</p>
<p>何也。然經言是動（病）者（屬）氣也。所生病者（屬）血也。邪在氣。（衛外）氣（陽）為是動。邪在血。（榮中）血（陰）</p>
<p>為所生病。氣主　之。血主濡之。氣留而不行者。為（衛）氣先病也。血壅而不濡者。為（榮）血後病也。故先為是動。</p>
<p>後所生病也。</p>
<p>按靈樞第十篇。載每經是動所生二病。然或未知二病有何等之別。故此難因設問答。以明各病有陰陽中外之異焉。</p>
<p>所謂是動者氣也。所生病者血也。又云。氣先病。血後病。此云氣血。蓋指榮衛為言。所謂是動者。衛病也。邪在脈外。</p>
<p>所生病者。榮病也。邪在脈中。譬如傷風是太陽之衛病。而主桂枝。傷寒是太陽之榮病。而主麻黃之類。大意以此推之。</p>
<p>則知是動所生。俱皆為外邪冒經之病。而其謂先後者。亦有淺深之差。或以分外邪內傷二病等說。似不免牽合。但為榮衛二分。平易看過時為穩當。</p>
<p>（第二十二舊八）難曰。寸口（三部）脈平（無偏倚）而死者。何謂也。然。諸十二經脈者。皆系於生氣之原。（本）</p>
<p>所謂生氣之原者。謂十二經之根本也。謂腎（兩）間（命門）動氣也。此（指動氣）五臟六腑之本。十二經脈之根。呼吸之門。三焦之原。（玄之又玄眾妙之門）一名守邪之神。（此一句疑後人所加）故氣（即動氣）者。人之根本也。根（命門）絕則莖葉（經脈）枯矣。寸口脈平而死者。（腎間）生氣獨（暗）絕於內（指玄玄處）也。</p>
<p>按前此諸論。皆承第一二難等義。取手太陰魚際。卻行一寸九分之脈位。以決病之死生。內經所謂飲食入胃。其精微氣變。見於氣口。是也。然則前諸篇皆主胃氣言。而此所問難。殊異乎彼。蓋胚胎之始。天真之氣。自然寓於腎間命門之宮。是謂生氣之原。即資始資生之妙。由是而兆。亦不期然而然者。豈唯人耳。萬類皆然。方其生來待乳哺水穀之養。以成臟腑經絡四肢百骸之全者。皆以此氣之為基故爾。所謂呼吸之門。三焦之原是也。夫寸口脈既謂決臟腑之死生。</p>
<p>則此外復何求。然今其脈平而死者何。辟諸草木之在水瓶中。花葉雖青。其根既斷。則寧有一時之榮。遂乃萎爾失其本色。可刮目待已。或曰。實如此篇。則與前數者。其論相反。扁鵲之言。無乃矛盾邪。且內經云。得穀則昌。失穀則亡。</p>
<p>而今穀入於胃。脈道以通。然其人即死者何。曰。寸口決死生。固其所也。然又有不關寸口者。若夫暴疾卒倒無論已。</p>
<p>雖其長病久患。先脈而可前知者。此一診已。扁鵲特論診脈之外。別有命門動氣之候。此乃望而知之之最者。而其候諸家紛紜。無有底止。或以為尺中脈。或以為踝後少陰。又或以為臍下丹田。果其言之是乎。則尺既屬寸口中。少陰即是十二經之一。至於寸口脈平而死。及十二經之根等語窮矣。且腎病齊下有動氣。按之牢若痛。所謂邪與生氣之動。於彼丹田。何以擇之。可謂皆取其臆者。予嘗以其所聞。考諸內經。並取其說。別記藏之。顧其命門。靈樞唯謂目也。他無所議。而難經數言之。以予考之。內經中所謂耗散其真。真氣從之等語。即此是物。何以言之。則以精神之外。別有指真者。故爾具載外記。並不復贅。本篇舊在第八難。然介諸寸口脈論中。失其序次。故移置此。</p>
<p>（第二十三舊同）難曰。手足三陰三陽。脈之度數。可曉以（有乎字意下同）不。然。手三陽之脈。從手至頭。長五尺。（一經之度下同）五六合三丈。（總）手三陰之脈。從手至胸中。長三尺五寸。三六一丈八尺。五六三尺。合二丈一尺。（左右六經之度下同）足三陽之脈。從足至頭。長八尺。六八四丈八尺。足三陰之脈。從足至胸。長六尺五寸。六六三丈六尺。五六三尺。合三丈九尺。人兩足蹺脈。從足至目。長七尺五寸。二七一丈四尺。二五一尺。合一丈五尺。</p>
<p>督脈任脈。各長四尺五寸。二四八尺。二五一尺。合九尺。凡脈長一十六丈二尺。此所謂十二經脈長短之數也。</p>
<p>按十二經脈尺度。總計十三丈八尺。任督蹺三脈。總二丈四尺。合十六丈二尺。即一難所謂晝夜五十周身。血氣運行之度也。然又視二十七難奇經八脈。不拘十二經云云者。與此互相反。所以不免於後人之疑焉。滑注無明解。予因考之。凡諸經絡流行。本自一元氣。雖有陰陽之分。多少之差。何有隔離阻絕。各異其流之理乎。且所謂十六丈二尺者。</p>
<p>特舉手足一體之大經脈而言之。且奇經之中。任督蹺在內經而有定尺。其余陰陽維沖帶。四奇長短之度。於經亦無所見。</p>
<p>則知其綢繆大經。而余流所及。隨省文耳。故知在尺度。則舉任督蹺以為定數。在流行。即陰陽維沖帶。亦寓其中焉。</p>
<p>滑注蹺脈為陰蹺。予謂不然。經云。男數其陽。女數其陰。當數者為經。不可數者為絡。是其證也。然則蹺脈在男女各有陰陽取舍之異可知已。</p>
<p>經脈十二。絡脈十五何始何窮也。然。經脈者。行血氣。通陰陽。以榮於身者也。其始從中焦注手太陰陽明。陽明注足陽明太陰。太陰注手少陰太陽。太陽注足太陽少陰。少陰注手心主少陽。少陽注足少陽厥陰。厥陰復還注手太陰。</p>
<p>別絡十五。皆因其原。如環無端。轉相灌溉。朝於寸口人迎。以處百病。而決死生也。經（終始篇）曰。明知終始。陰陽定矣。何謂也。然。終始者。脈之紀也。寸口（候陰）人迎。（候陽）陰（臟）陽（腑）之氣。通於朝使。如環無端。</p>
<p>故曰始（生）也。終者三陰三陽之脈絕。絕則死。死各有形。故曰終（死）也。</p>
<p>此所引經文二句。出靈樞。終始字。在難經寓死生意耳。</p>
<p>（第二十四舊同）難曰。手足三陰三陽氣已絕。何以為候。可知其吉凶不。然。足少陰氣絕。即骨枯。少陰者。冬脈也。伏行而溫於骨髓。故骨髓不溫。即肉不著骨。骨肉不相親。即肉濡而卻。肉濡而卻。故齒（骨余此外候）長而枯。</p>
<p>發（外候）無潤澤。無潤澤者。骨先死。戊日（陽土）篤。己日（陰土）死。（土克水）足太陰氣絕。則脈不營其口唇。</p>
<p>口唇者。肌肉之本也。脈不營。則肌肉不滑澤。肌肉不滑澤。則肉（人中肉此外候）滿。肉滿則唇反。（脾之所主外候）</p>
<p>唇反則肉先死。甲日（陽木）篤。乙日（陰木）死。（木克土）足厥陰氣絕。即筋縮。引卵與舌卷。厥陰者。肝脈也。肝者。筋之合也。筋者。聚於陰器。而絡於舌本。故脈不營。則筋縮急。筋縮急。即引卵（眾筋所結）與舌。（肝經貫頏顙）</p>
<p>故舌（外候）卷卵（外候）縮。此筋先死。庚日（陽金）篤。辛日（陰金）死。（金克木）手太陰氣絕。即皮毛焦。太陰者。肺也。行氣溫於皮毛者也。氣弗營。則皮毛焦。皮毛焦。則津液去。津液去。即皮節傷。皮節傷。則皮（外候）枯毛（外候）折。毛折者。則毛先死。丙日（陽火）篤。丁日（陰火）死。（火克金）手少陰氣絕。則脈不通。脈不通。則血不流。血不流。則色澤去。故面（外候）色黑如黧。此血先死。壬日（陽水）篤。癸日（陰水）死。（水克火）</p>
<p>此篇大意。凡諸經氣血。因病經氣將絕之候。而諸經脈。皆在肌肉中。其流深潛。何緣能得從外而候之邪。雖然。</p>
<p>既已有斯理。則醫者亦不可不知焉。唯其所主在腎。則以齒發為候。於脾乃以唇反為候。於肝乃舌卷卵縮是候。肺與心。</p>
<p>則皮毛焦枯。面色黧黑。是外候之尤著明者。故字旁加圈。以示初學人爾。</p>
<p>二陰（靈樞作六陰）氣俱絕者。則目眩轉。目瞑。（神志將亂奪精之兆）目瞑者為失志。失志者則志先死。死即目瞑也。六陽氣俱絕者。則陰與陽相離。陰陽相離。則腠理泄。絕汗（津液已絕亡陽之候）乃出。大如貫珠。轉出不流。即氣先死。旦占夕死。夕占旦死。</p>
<p>目瞑與絕汗出。此其外候也。此二絕與前每經之絕。其後大異者何。蓋彼病以漸而終之候。此則暴病急死。諸經俱亡之兆。</p>
<p>（第二十五舊同）難曰。有十二經。五臟六腑十一耳。其一經者。何等經也。然。一經者。手少陰與（猶言屬與）</p>
<p>心主別脈（手厥陰）也。心主與三焦為表裡。俱有名而無形。故言經有十二也。</p>
<p>按此篇所發。示心包絡亦為無形之臟。蓋以十二經配五臟六腑。則一經無所系屬。所以發問焉。心包者何。包絡心臟如內郭。所以溫養真心之陽也。三焦者。包羅熏陶諸臟之氣。歷絡上下。如外郭然。故取俱無形者。以為臟腑表裡。</p>
<p>花溪虞氏之說。殊有理致。宜以參看。予別有說。今略於此。</p>
<p>（第二十六舊同）難曰。經有十二。絡有十五。余三絡者。是何等絡也。然有陽絡。有陰絡。有脾之大絡。陽絡者。</p>
<p>陽蹺之絡也。（申脈）陰絡者。陰蹺之絡也。（照海）故絡有十五焉。</p>
<p>按靈樞以任督配十二經之絡。為十五絡也。此難以陽蹺陰蹺代之者。何也。蓋奇經比諸十二經。皆絡也。故知任督外二蹺所屬穴。亦與諸絡穴同治。靈樞十五絡。有任督二脈。而無陰絡陽絡。蓋任督者。諸經周流之所屬而有專穴。故此難易之以陰陽二蹺。充其數者。凡奇經八脈中。任督蹺三者。既已系血氣。營運五十周身之度。故易任督以蹺脈者。</p>
<p>實擴經之余義耳。</p>
<p>（第二十七舊同）難曰。脈有奇經八脈者。不拘於十二經何也。然有陽維。有陰維。有陽蹺。有陰蹺。有沖。有督。</p>
<p>有任。有帶之脈。凡此八脈者。皆不拘於（正）經。故曰奇經八脈也。經有十二。絡有十五。凡二十七氣。相隨上下。</p>
<p>何獨不拘於經也。然聖人圖設溝渠。通利水道。以備不然。（猶言不虞）天雨降下。溝渠溢滿。　霈妄行。（此一句舊本誤在當此之時句下今據脈經移此）當此之時。聖人不能復圖也。此絡脈（指諸經之絡）滿溢諸經。（十二正經）不能復拘也。</p>
<p>按此八脈者。十二經之奇零。而有專穴者。唯任督二脈耳。余六脈。皆因正經屬會穴為之主治。詳見後篇。絡脈滿溢者。則上所謂十五絡脈也。滑氏直以為奇經。非是。</p>
<p>（第二十八舊同）難曰。其奇經八脈者。既不拘於十二經。皆何起何繼（系同）也。然。督脈者。起於下極之俞。（長強穴）並於脊裡。上至風府。（在腦後）入屬於腦。任脈者。起於中極之下。（會陰穴）以上毛際。循腹裡。上關元。至喉咽。衝脈者。起於氣衝。（足陽明經穴）並足陽明之經。夾臍上行。至胸中而散也。帶脈者。起於季脅。（足少陽帶脈穴）回身一周。陽蹺脈者。起於跟中。（足太陽申脈穴）循外踝。上行入風池。陰蹺脈者。亦起於跟中。（足少陰照海穴）</p>
<p>循內踝。上行至咽喉。交貫衝脈。（其上者出於頏顙）陽維陰維者。維絡於身。故陽維起於諸陽會也。陰維起於諸陰交也。</p>
<p>溢蓄不能環流灌溉諸經者也。（十二字舊本誤出故陽維云云前今移於此）比於聖人圖設溝渠。（比諸絡脈）溝渠滿溢。流於深湖。（比諸奇經）故聖人不能拘通也。而人脈隆盛。入於八脈。而不環周。故十二經亦不能拘之。其（指奇經）受邪氣蓄（積）則腫熱砭射之也。</p>
<p>此言八脈流行。滑氏以曲骨穴為任脈所起者。非。所謂中極之下者。直指會陰言。若以曲骨為所起穴。則會陰不屬任脈。而屬何經乎。會陰為任脈所起。滑氏既於十四經而言。與此相反者何。衝脈據內經。則並足少陰經。滑氏依違不決。予謂衝脈屬足少陰。固其所也。然觀其所發。乃在足陽明氣衝穴。則此難所言。蓋似發內經未發之旨。且衝脈之流行於少陰陽明二經之間。亦可以征矣。李瀕湖既得二經之意。予亦從之，溢蓄云云十二字。滑氏移不能拘之之下。文理不正。故予改移於此。</p>
<p>（第二十九舊同）難曰。奇經之為病。何如。然。陽維維於陽。（手足三陽）陰維維於陰。（手足三陰）陰（維）陽（維）不能自明維。則悵然失志。（陰維病）溶溶不能自收持。（陽維病）陽維為病。苦寒熱。（病屬腑）陰維為病。苦心痛（病屬臟）陰蹺為病。陽緩（虛）而陰急。（實下同）陽蹺為病。陰緩而陽急。沖之為病。逆氣而（腹）裡（引）急。</p>
<p>督之為病。脊強而厥。任之為病。其（腹）內苦結。男子為七疝。（主氣）女子為瘕（血）聚（氣）帶之為病。腹滿腰溶溶。（失其束縛）若坐水中。（陰中陽虛）此奇經八脈之為病也。</p>
<p>此篇具言八脈主病。二維失其維持。在陰則失志心痛。在陽則不能收持。及寒熱兩蹺為病。其急者受邪而實。緩者少氣而虛。任督為腹背中行。有血氣之分。故其所苦如此。脊強內結。是其在陽在陰之異。衝脈者。十二經之海。邪客之則逆氣特劇。帶脈者。在季脅而橫束諸脈。故有病焉。則弛縱而腰間溶溶。其經系足少陽。故陰中之陽失其守。則氣少如坐水中。蓋此八脈病形。在內經散出諸篇。若無統屬。故越人並取發難。二十七難至此三篇。通言奇經。詳且盡矣。</p>
<p>（第三十舊同）難曰。榮氣之行。常與衛氣相隨不。然。經言人受氣（生氣）於穀。（五味）穀入於胃。乃傳與五臟六腑。五臟六腑。皆受於氣。（水穀之精）其清（陽）者（訓處下同）為榮（血）濁（陰）者為衛（氣）榮行脈中。衛行脈外。榮周不息。五十（度）而復大會。（手太陰寸口）陰陽相貫。如環之無端。故知榮衛相隨也。</p>
<p>按此難問答。據靈樞榮衛生會篇文。而明榮衛不相離之義。然謂衛氣。其義不一。如衛氣篇。衛氣行篇。則謂獨行之衛也。生會篇則謂並行之衛也。凡諸邪在脈外者。皆屬此衛氣之分。故曰榮行脈中。衛行脈外。各有其經所屬之部分焉。不則。何以有中風是太陽衛病。以桂枝。傷寒是太陽榮病。以麻黃等語乎。若夫浮散之衛。則晝行諸陽。夜行諸陰。</p>
<p>此難大意。專據一脈有二病之變。以明榮衛相隨之義。前篇所謂是動所生二病。亦因是推之。則可矣。榮衛清濁之義。</p>
<p>舊注詳盡。其說蓋　血氣互根之理爾。</p>
<h2>卷之下</h2>
<p>（第三十一舊三十二）難曰五臟俱等（列）而心肺獨在鬲上者。何也。然。心者血。肺者氣。血為榮。氣為衛。相隨上下。謂之榮衛。通行經絡。榮周於外。故令心肺在鬲上也。</p>
<p>按此篇所述。五臟同輩等列。而心肺獨在鬲上。脾肝腎三臟。皆在鬲下。上焉則清陽之處。下焉則濁陰之地。此乃心肺獨似有貴焉。夫心者生化榮血。肺者營運衛氣。一身氣血。率皆賴於二臟之運化。則其所職最重。故心肺之所貴者無他。唯在血與氣耳。素問曰。鬲肓之上。中有父母。所謂父母者。指氣血言。則此篇主意。權輿乎此。蓋雖五臟為一身之主。神氣之舍。然其所以為病。皆因血氣虛實。且藥有氣味。亦唯不過療氣血耳。氣血生化。則精神魂魄寓其中。</p>
<p>然則醫之治病。專在氣血之分。豈拘拘於臟象乎。故素問又曰。血氣者。人之神。不可不謹養。則此之謂也。</p>
<p>（第三十二舊三十三）難曰。肝（色）青象（乙）木。肺（色）白象（辛）金。肝得水（精氣）而沉。（位卑）木得水而浮。（輕）肺得水（精氣）而浮。（位高）金得水而沉。（重）其意何也。然。肝者非為純木也。（吸金氣）乙（木）</p>
<p>角（少）也。庚之柔。大言陰與陽。小言夫與婦。釋其微陽。（甲木）而吸其微陰（庚金）之氣。其意樂金。又行陰道（足厥陰多血少氣）多。故令肝得水（精氣）而沉（重濁為常）也。肺者。非為純金也。（受火氣）辛（金）商（少）也。丙之柔。大言陰與陽。小言夫與婦。釋其微陰。（庚金）婚而就（丙）火。其意樂火。又行陽道（手太陰多氣少血）多。故令肺得水（精氣）而浮（輕清為常）也。肺熟（火氣離）而復沉。肝熟（金氣絕）而復浮者。何也。故知辛當歸庚。（純金）乙當歸甲（純木）也。</p>
<p>按此篇問答。閱覽內經。無有明據。審其設問之辭。以肺肝二臟。倒置其位發難。所謂肺者象金。其體當沉。肝者象木。其體當浮。凡五行之性。木火屬陽。金水屬陰。火性炎上。故心居上部。水性潤下。故腎居下部。是理之當然也。</p>
<p>然木質當浮。反沉在下。金體當沉。反浮在上。似非木金之性。是其所以發難焉。竊考其所以倒置。即臟腑剛柔之事也。</p>
<p>所謂剛柔者。夫婦之道也。假令甲乙庚辛。即肝膽肺大腸。腑為陽。兄之行也。臟為陰。妹之行也。甲乙本自同氣。故乙木感於異氣。其意樂庚金。庚辛本自同性。故辛金配於異性。婚而就火。腑屬陽。夫之道也。臟屬陰。婦之道也。故曰。大言陰與陽。小言夫與婦。陰道陽道。謂肺主氣在上。肝藏血在下。且在各經。亦復如此。肝肺熟之熟。滑注以為散失之義。王氏評林為相離也。蓋草木實熟。則離謝枝莖之意歟。姑且從之。肝肺若不易地。則心腎陰陽。共為偏勝。</p>
<p>何以致五臟之和平乎。是故肺之在上。象陽中之陰。以為心之輔弼。肝之在下。象陰中之陽。以為腎之匡佐。陰陽相交。</p>
<p>而臟氣自全。此越人之旨。豈非闡發軒岐之蘊奧邪。</p>
<p>（第三十三舊四十一）難曰。肝獨有兩葉。（左三右四）以何（象）應也。然。肝者東方木也。木者春也。（主發生氣）萬物始生。其尚幼少。意無所親。去太陰尚近。離太陽不遠。猶有兩心。故有兩葉。（臟象）亦應木葉（甲析）也。</p>
<p>按此承前篇重言肝臟者。蓋肝比諸他臟。猶有幼稚之象。而意無所親。故其有兩葉。亦猶草木甲析。左右相分。恰有兩心也。去太陰尚近。離太陽不遠二句。此篇之大旨。謂太陰者濕土。即謂脾。太陽者寒水。即謂腎。滑注以太陰為腎。太陽為心。其義亦通。蓋脾氣健。則肝血能收。腎精固。則木氣舒達。辟猶木籍培育於土。滋資潤於水焉。蓋越人視治肝病。特有深意者如此。何者。肝已為幼少。則謂太陰太陽者。父母之謂也。近看滑氏所注辨真。與余意符。</p>
<p>（第三十四舊三十六）難曰。臟各有一耳。腎獨有兩（猶兩輪之兩相順為用）者。何也。然腎兩（枚）者。非皆腎也。其左者為腎。（陰）右者為命門。（陽）命門者。（此與上命門字同而旨異上則姑別屬右腎此則其位暗寓兩腎中間。）</p>
<p>諸神（氣）精（水）之所舍。原氣之所系也。（腎間動氣）男子以藏精。（兩腎）女子以系胞。（子宮）故知腎有一也。</p>
<p>按分腎為左右臟。內經無明文。且命門在靈素。則指為目也。或以名太陽睛明穴。又素問十二官論中。有分心與包絡為二臟。而未見腎有左右之分。又有後篇。言腎有兩枚語。因考此篇大意。分腎為兩臟。以配六臟之數。其意以謂凡心既且二臟象。則腎亦有含蓄一原氣於左右陰精中間。故左為腎。右為命門。實知一臟中寓陰陽二氣焉。然則其分左右之名。亦偶然耳。何則。命門者。諸神精之所舍云云數語。全遷其位於中間者。明矣。由是觀之。雖腎有兩枚。然其氣相通。固一水臟。唯使後人知陰中有命門之陽已。然則靈樞謂目者指其標。此難特舉其本。以示內經未發之旨爾。</p>
<p>（第三十五舊三十四）難曰。五臟各有聲色臭味液。（舊本脫液字今從滑氏補之）皆可曉知以不。然。十變（古書篇目今內經無所見）言。肝色青。（大敦井）其臭臊。（曲泉合）其味酸。（中封經）其聲呼。（大衝俞）其液泣。（行間榮）</p>
<p>心色赤。（少府榮）其臭焦。（少衝井）其味苦。（少海合）其聲言。（靈道經）其液汗。（神門俞）脾色黃。（大白俞）其臭香。（大都榮）其味甘。（隱白井）其聲歌。（陰陵泉合）其液涎。（商丘經）肺色白。（經渠經）其臭腥。（大淵俞）其味辛。（魚際榮）其聲哭。（少商井）其液涕。（尺澤合）腎色黑。（陰谷合）其臭腐。（復溜經）其味鹹。（大溪俞）其聲呻。（然谷榮）其液唾。（涌泉井）是五臟聲色臭味液也。</p>
<p>按以聲色臭味液。配當五臟。其義有二焉。如第四十九篇所言五邪病。謂肺主五聲。肝主五色。心主五臭。脾主五味。腎主五液。綜合言之。如此篇。則五物分發於各臟。交錯言之。凡臟有五。病或一臟獨病。或二三臟並病。各緣其所主五物。以知病從何臟傳來。古之義也。蓋審其治病之旨。則五色皆治其經本行。五臭治其母行。五味治其所不勝行。</p>
<p>五聲治其所勝行。五液治其子行。十變者。疑是內經古篇目。而今則亡矣。</p>
<p>五臟有七神。各何所藏耶。然。臟者。人之神氣所舍藏也。故肝藏魂。（隨心往來）肺藏魄。（並精出入）心藏神。（兩精相薄）脾藏意（心之發）與智。（志之化）腎藏精（兩神相薄）與志（腎間原氣）也。</p>
<p>神與精。對陰陽之體。魂與魄。配血氣之因。故神精主體。魂魄主動。魂動則神氣能閱七竅。各各不失其職。所謂隨神往來是也。魄運則精氣周布支體。以知把抓痛癢。所謂並精出入是也。故人寐而魂魄各歸其臟。則視聽不務。痛癢不識。神精俱靜。則坎離守位。水火既濟。當得長生久視。故攝養之道。在心焉則曰收。曰內觀。在腎焉。則曰八益。</p>
<p>曰封藏。是所以使神精守靜者。然脾寓意與智。意者心之發也。智者志之化也。素問云。腎者伎巧出焉。謂智之主也。</p>
<p>脾者中州心腎二氣之樞。故藏意與智。腎又言志者。即腎間原氣是也。脾腎各有二神者。蓋由脾乃生化榮衛之本。腎乃陰中含蓄真元之氣故爾。</p>
<p>（第三十六舊三十五）難曰。五臟各有所。腑皆相近。（脾肝腎三臟與腑相接）而心肺獨去大腸小腸遠者。何也。然。</p>
<p>經言心榮（血）肺衛（氣）通行陽氣。（指血氣）故居在上。（鬲上）大腸小腸。傳陰氣（指二便）而下。故居在下。（齊下）所以相去而遠也。（比他腑則去其臟位霄壤）</p>
<p>按此一節。因前篇所謂心肺獨在鬲上。再發難。余三臟腑皆相近。而心肺之腑。甚相遠者何。蓋心肺主血氣。以行十二經絡。不居至高之位。則何緣致令於一身哉。大小腸雖為其腑。然其所職者。傳送糟粕。泌別水液。不居至下之地。</p>
<p>則何能導氣於二陰哉。各由其貴賤。而位有崇卑者如此。所謂陰陽二氣。即指血氣與二便。非氣為陽。血為陰之謂也。</p>
<p>又諸腑者。皆陽也。清淨之處。今大腸小腸。胃與膀胱。皆受不淨。其意何也。然。諸腑者謂是。（清淨之處）非也。</p>
<p>經言小腸者。受盛之腑也。大腸者。傳瀉行道之腑也。膽者。清淨之腑也。胃者。水穀之腑也。膀胱者。津液之腑也。</p>
<p>一腑猶無兩名。故知非也。（小腸者心之腑大腸者肺之腑膽者肝之腑胃者脾之腑膀胱者腎之腑以上二十八字與後一節文異義同疑是舊注誤入正文者故今細書以別之）小腸謂赤（心色）腸。大腸謂白（肺色）腸。膽者謂青（肝色）腸。胃者謂黃（脾色）腸。膀胱者謂黑（腎色）腸。下焦之所治也。（一句總括）</p>
<p>此節采摘素問十二官論中六腑之職掌。以設難。而其所主。專在清淨二字。何者。素問既云膽者中正之腑。此難乃謂清靜之腑。審其所以為問答之意。則六腑皆可以為清淨之處。然舉各腑所掌言。一腑猶無兩名。而清淨之名。專歸諸膽。則十一臟取決於膽之謂邪。然則清淨之名。諸腑之所稟。而非獨膽也。然寓諸膽者。蓋有深意存焉。竊考六腑皆水穀之道路。而胃病則腸虛。腸滿則胃虛。其所常有者。唯穀與糟粕耳。何清淨之有。故膽獨統之。豈非諸腑取決於膽乎。</p>
<p>是故不受水穀之濁穢。而盛清汁也。可以見已。小腸謂赤腸云云一節。實是古言。何以知之。五腑皆以腸名。故云爾。</p>
<p>下焦之所治也一句。滑注以屬膀胱。非是。蓋自胃而下。皆以為下焦所治。故屬諸腑為可。</p>
<p>（第三十七舊三十八）難曰。臟唯有五。腑獨有六者。何也。然。所以腑有六者。謂三焦也。有原氣之別（使）焉。</p>
<p>主持諸氣。有名而無形。其經屬手少陰。此外腑（靈樞言孤腑同）也。故言腑有六焉。</p>
<p>按腑臟止有五者。五行之道為然。二五合為十者。生成之數是備。演而為六者。乃是六氣之應。配為十二。則支律之對。皆合天地自然之符焉。蓋三焦者。雖非正腑。然諸腑非藉其氣。則不能以為出納運化之用焉。唯其非正腑。故薰蒸肓膜之內。游行腑臟之間。宛如外郭然。故謂外腑。靈樞謂之孤腑。亦與此義同。滑注三焦外有經而內無形。故曰外腑。非是。舊本第二十五篇。謂三焦心包。相為表裡。此篇則謂原氣之別焉者。彼以心包三焦為相火臟腑配合而言。此乃以命門三焦為本末而言。其義各異。此與下編互相為義。順連讀。</p>
<p>（第三十八舊三十九）難曰。經言腑有五。臟有六者。何也。然。六腑者。正（張本作止）有五腑也。（除去三焦）</p>
<p>五臟亦有六臟者。謂腎有兩臟也。其左為腎。右為命門。命門者。精神之所舍也。男子以藏精。女子以系胞。其氣與腎通。（前篇有原氣所系一句而無此句義互相發）故曰臟有六也。腑有五者。何也。然五臟各一腑。（有形）三焦亦是一腑。</p>
<p>（無形）然不屬於五臟。（獨屬心包亦無形）故言腑有五焉。</p>
<p>按五行之氣。唯大有二。君相是也。內經分心與包絡以為六臟。此篇則以腎有兩枚。岐為二臟。左腎與命門是也。</p>
<p>後人誤認此難。遂為三焦命門表裡之說。余謂三焦既配心包以為表裡。已見第二十五難。此則示命門三焦有本末之理。</p>
<p>兼發內經未發之旨。何者。五臟中唯心與腎抗對。無有軒輊。心包為二。則腎亦有此象。豈唯臟有兩形乎。蓋以陰中有陽。故乃有為二臟理。命門之義。詳見第三十四篇。</p>
<p>（第三十九舊三十一）難曰。三焦者。何稟何生。何始何終。其（主）治常在何許。可曉以不。然。三焦者。水穀之道路。（其氣屬諸腑）氣（腎間原氣）之所終始也。上焦者。在心下下鬲。（　KT　而上為胸博）在胃上口。（賁門）主內而不出。（飲食自咽入胃不妄出）其治在膻中。（玉堂下一寸六分直兩乳間陷者是十四字疑是古來注語誤入正文中者故細書以別之且膻中本處名總稱兩乳間豈拘任脈一穴乎）中焦者。在胃中脘。（腹部中央）不上不下。（飲食蓄積）</p>
<p>主腐熟水穀。其治在臍旁。（總臍左右諸穴）下焦者。當膀胱上口。（小腹）主分別清濁。（二便）以傳道。（三字舊本誤在出而不入之下今移此）主出而不內也。（二便快通不秘澀）其治在齊下。（總小腹諸經穴舊本有一寸二字亦疑注語）故名曰三焦。其腑（氣府）在氣街。（言十二經皆以俞為原則手足俞原亦為三焦主治之穴可知也）</p>
<p>按內經言三焦者多端。或由宗營衛之所化而言之。或緣內外經脈之所屬而言之。又或連膀胱言之。及言其理之橫直濃薄者。率皆因其有名而無形故也。蓋此篇雖發問於稟生始終。然其所主專在位與治。蓋飲食常憑其氣。而出入運化。</p>
<p>以養生氣之原。故云水穀之道路。氣之所終始也。上焦之主內而不出者。此其職也。失職則噎鬲胸滿。隨時便生。中焦之不上不下者。輾磨水穀。此其職也。失職則翻胃腹脹痞積。往往而成。下焦之出而不納者。泌水液。轉糟粕。此其職也。失職則癃閉秘結溺數瀉痢等證。立而蜂起。故其為主治也。膻中齊旁及齊下。是由其位為治矣。然三焦之治。豈止三處乎。故下文云。其府在氣街。所謂氣街者。三焦之所行。諸十二經之俞原是也。靈樞衛氣篇曰。知六腑之氣街者。</p>
<p>能知解結契紹於門戶。又曰。胸氣有街。腹氣有街。頭氣有街。脛氣有街。又動輸篇曰。四末陰陽之會者。此氣之大絡也。四街者。氣之徑路也。滑注以足陽明經有氣街穴。故疑為衍文。坐不深察故爾。其府在氣街一句。非誤非衍。所謂府者。指氣腑言。即氣穴是也。素問有氣府一篇。可以征已。明吳文炳辨真云。氣街足陽明之氣衝。是亦一義也。</p>
<p>（第四十舊三十七）難曰。五臟之氣。於何發起。通於何許。可曉以不。然。五臟者。當（靈樞作常）上關（靈樞作閱）於九（靈樞作七為是）竅也。故肺氣通於鼻。鼻和（即肺氣和）則知香臭（腥焦臊腐）矣。肝氣通於目。目和（肝和）則知黑白（赤黃青）矣。脾氣通於口。口和（脾和）則知穀味（稻麥豆黍稷）矣。心氣通於舌。舌和（心和）則知五味（辛酸甘苦鹹）矣。腎氣通於耳。耳和（腎和）則知五音（宮商角徵羽）矣。五臟不和。則九竅（各有所主之竅如上所言）不通。六腑不和。則留結為癰。（統言形體所發諸腫）邪在六腑。則陽（經）脈不和。陽脈不和。則氣（邪氣）</p>
<p>留之。氣留之。則陽脈（動）盛（實）矣。邪在五臟。則陰（經）脈不和。陰脈不和。則血（瘀血）留之。血留之。則陰脈（動）盛（實）矣。陰（邪）氣太盛。則陽（正）氣不得相營也。故曰格。（靈樞作關）陽（邪）氣太盛。則陰（正）</p>
<p>氣不得相營也。故曰關。（靈樞作格）陰（邪）陽（邪）俱盛。不得相營也。故曰關（孤陰）格。（獨陽）關格者。不得盡其命而死矣。經言（脈度篇末說）氣獨行於五臟。不營於六腑者。何也。然。夫氣之所行也。如水之流。不得息也。</p>
<p>故陰（經）脈營於五臟。陽（經）脈營於六腑。如環無端。莫知其紀。終而復始。其不復溢。人（疑血字誤）氣內溫於臟腑。外濡於腠理。</p>
<p>按此與脈度篇文。大同小異。五臟者。內藏神氣。而外閱九竅。故多無形之病。六腑者。傳穀物而外養肌肉。故多有形之病。謂在臟九竅不通。在腑留結為癰。可見形之與神。病各有則焉。凡臟皆屬陰。而其精上達為常。腑俱屬陽。</p>
<p>而其氣下行為常。若有所不和。則氣血之分。偏虛偏實。至其太盛。則遂為關格之變。格是腑。將失常而反上逆。使所受水穀。格拒噎塞。關是臟既廢職。精氣下墜。故二便閉而不通。蓋下文復溢二字。即為死脈之名。則其所謂關格者。</p>
<p>孤陰獨陽之病。殊無回旋之生意者必矣。讀者莫以與靈樞文相顛倒為疑焉。</p>
<p>（第四十一舊四十）難曰。經言肝主（五）色。心主（五）臭。脾主（五）味。肺主（五）聲。腎主（五）液。鼻者肺之候。（肺氣通臭）而反知香臭。（心所主）耳者腎之候。（腎氣通耳）而反聞聲。（肺所主）其意何也。然。肺者。</p>
<p>西方金也。金生（育）於巳（位）巳者南方火。火者心。心主臭。故令鼻知香臭。腎者。北方水也。水生（育）於申（位）</p>
<p>申者西方金。金者肺。肺主聲。故令耳聞聲。</p>
<p>按此承上引脈度篇文。而舉臟氣各有所通之竅。以發問難。所謂肝開竅於目。而其所主五色。亦通乎此。脾開竅於口。而其所主五味。亦從此而入。唯腎與心肺。其所主不應於其竅。所以發疑焉。大氐五行之道。有生克之分。又有胎化之理。此篇所述。即胎化之變也。何則。鼻知臭者相克。耳聞聲者相生。故知非五行常例之謂。蓋金胎於東方木。而化於南方火。其氣旺於西。自卯至酉。金得有氣。水胎於南方陽中。而化於西方金。其氣旺於北。自午至子。水得有氣。</p>
<p>火。木之胎化亦然。越人之意。所以使學人知人身五行生克之外。別有胎化之理者。如此。六元正紀大論曰。春氣西行。</p>
<p>夏氣北行。秋氣東行。冬氣南行。淮南子天門訓曰。金生丁巳。壯於酉。死於丑。三辰皆金也。水生丁申。壯於子。死於辰。三辰皆水也。是亦與此篇之義相類。</p>
<p>（第四十二舊同）難曰。人腸胃長短。受水穀多少。各幾何。然。胃大（圍）一尺五寸。徑五寸。（圍三徑一之法下同）長二尺六寸。（古有縱橫斜等黍尺不知是用何尺）橫（橫讀如廣）屈受水穀三斗五升。（此亦古量法未可知）其中常留穀二斗。水一斗五升。小腸大二寸半。徑八分分之小半。長三丈二尺。受穀二斗四升。水六升三合合之大半。回腸大四寸。徑一寸寸之少半。（舊本脫寸之少三字故補）長二丈一尺。受穀一斗。水七升半。廣腸大八寸。徑二寸寸之大半。</p>
<p>（脫寸之大三字故補）</p>
<p>長二尺八寸。受穀九升三合八分合之一。故腸胃凡長五丈八尺四寸。合受水穀八（靈樞作九）斗七（靈樞作二）升六（靈樞作一）合八分合之一。（靈樞作合之大半○按每腑所受水穀多寡與靈樞同而本篇謂通計八斗七升六合八分合之一則見四升五合之不足予私疑小腸二斗四升當是一斗九升強何則胃者腐熟水穀化生精液大小腸及廣腸皆受其糟粕而次第減損轉輸運逆則豈有增之理乎蓋扁鵲見靈樞所書小腸穀量比諸胃量多四升強則直改以為會計者必矣然其所改遂乃漫滅後人再因靈樞文而補之者乎姑且書此以俟識者）此腸胃長短。受水穀之數也。肝重二斤（十六兩為斤）四兩。（三錢弱為兩下仿此）</p>
<p>左三葉。右四葉。凡七葉。主藏魂。心重十二兩。中有七孔（竅同）三毛。盛精汁三合。主藏神。脾重二斤三兩。扁廣三寸。長五寸。有散膏半斤。主裹血。溫五臟。主藏意。肺重三斤三兩。六葉兩耳。凡八葉。主藏魄。腎有兩枚重一斤一兩。主藏志。膽在肝之短葉間。重三兩三銖。（兩分二十四之一為銖下同）盛精汁三合。胃重二斤一兩。紆曲屈伸。長二尺六寸。大一尺五寸。徑五寸。盛穀二斗。水一斗五升。小腸重二斤十四兩。長三丈二尺。廣二寸半。徑八分分之小半。左回疊積十六曲。盛穀二斗四升。水六升三合合之大半。大腸重二斤十二兩。長二丈一尺。廣四寸。徑一寸寸之小半。（舊本脫寸之小今補）當臍右。（靈樞作左還為是）回十六曲。盛穀一斗。水七升半。膀胱重九兩二銖。縱廣（橫同）</p>
<p>九寸。盛溺九升九合。口廣二寸半。唇至齒。長九分。齒以後至會厭。深三寸半。大容五合。舌重十兩。長七寸。廣二寸半。咽門重十二兩。廣二寸半。至胃長一尺六寸。喉嚨重十二兩。廣二寸。長一尺二寸九節。肛門重十二兩。大八寸。</p>
<p>徑二寸寸之（舊本脫寸之二字今補）大半。長二尺八寸。受穀九升三合八分合之一。</p>
<p>按此與靈樞絕穀篇文同。而其所主專在胃中所受水穀三斗五升者。蓋人平日承此食量。則足以榮養臟腑。苟有過不及。則不徒害沖和之氣。抑亦足以致病。至其大小腸及廣腸。皆受其滓穢。以為泌別傳導之用耳。此為後篇言絕穀七日而死之起本。肝重云云以下一百九字。靈素無所見。此篇創出之。疑非扁鵲之言。何以言之。前既曰肝有兩葉。此又曰凡七葉。靈樞謂大小腸左環。此謂大腸右回。且一篇中腸胃度量。前後重復。其口廣以下九十九字。剿取腸胃篇文。以列膀胱之次。與靈樞所述之意。大失其旨。彼此所以發疑也。然歷代名醫。謂臟象皆以為據。則其所由來亦遠。故姑書以俟知者。</p>
<p>（第四十三舊同）難曰。人不食飲。七日而死者。何也。然。人胃中常有留穀二斗。水一斗五升。故平人日再至圊。</p>
<p>一行二升半。日中（終日）五升。七日五七三斗五升。而水（去則榮散）穀（消則衛亡）盡矣。故平人不食飲七日而死者。水穀津液俱盡。即死矣。</p>
<p>按絕穀七日而死者。以其日再至圊。一行盡二升半。故為之限。雖然人心如面。腸胃傳化亦異。蓋人之更衣。一日或一行二三行。二日或一行二三行。不可定度。故結之曰。水穀津液俱盡。即死矣。則此難主意。專在此一句耳。其所謂七日。亦以一日二行之量言之。何必拘拘日數乎。讀者思諸。與靈樞絕穀篇。辭有少異。而義全無差。</p>
<p>（第四十四舊同）難曰。七衝門（沖者沖突之沖往而不斥之意）何在。然。唇為飛門。（飛揚閉合之處經云口唇者音聲之扇也）齒為戶門。（破堅碎硬之要專在此）會厭為吸門。（吞物出氣之街）胃（上口）為賁門。（榮衛生發之關）太倉（即胃腑）下口為幽門。（溲便受盛之境）大腸小腸會為闌門。（清濁分利之界）下極（即尻臀）為魄門。（糟粕轉出之域）</p>
<p>故曰七衝門也。</p>
<p>按賁幽闌魄四門。散見內經諸篇。無有統系焉。其飛戶吸三門。豈古文脫落。而存在此篇歟。所謂七衡者。水穀出納之門。而飛門至賁門。則主納焉。幽門至魄門。則主出焉。上道四門失守。則噎隔翻胃嘔吐吞酸諸病。隨分而生。下鄉三門廢職。則泄利秘結遺癃痔脫諸證逐次乃成。且胃者倉廩之腑。穀神之宮也。飛門包含之戶門。齒決之吸門。　咽之賁門。容納之幽門。穀神既留。而糟粕成矣。受盛之闌門。分利之魄門。推輾之一門。不通則諸門為之生變。神欲安穩。豈可得乎。又經有畜門。而此無見者。蓋畜門者。鼻口之界。頏顙之關。不接水穀之路。故唯曰七衝門云。</p>
<p>（第四十五舊同）難曰。經言八會者。何也。然。腑會大倉。（任脈中脘穴）臟會季脅。（足厥陰章門穴）筋會陽陵泉。（足少陽膝外穴）髓會絕骨。（陳氏以為枕骨足太陽頭部穴）血會鬲俞。（足太陽背部第二行穴心肝二俞中間）骨會大杼。（督脈大椎穴非背部第二行大杼穴杼古脊骨名故杼椎皆通用）脈會大淵。（手太陰寸口中穴）氣會三焦。（即謂上焦古三焦有專言偏言之分此乃偏言）外一筋（外有經而內無形故云）直兩乳內（任脈膻中穴）也。熱病在內者。取其（八）</p>
<p>會之氣穴也。</p>
<p>按內經載熱病五十九刺法。各處熱邪。隨分取之。此篇由是立八會法以適簡約。蓋此八會十三穴。諸熱在身內者。</p>
<p>各隨其部分而治之。虢太子尸　。取外三陽五會者。豈止百會一穴。疑兼取此會之五處者。可知矣。血海髓會骨會三說。</p>
<p>滑注所引四明陳氏之說為是。三焦之三作上字者。謝氏不達古。</p>
<p>（第四十六舊同）難曰。老人（夜）臥而不寐（睡不熟）少壯（夜）寐而不寤（睡熟）者。何也。然經言少壯者。</p>
<p>血氣盛（滿）肌肉滑（澤）氣道通。（呼吸安靜）榮衛之行。（周身）不失於常。（五十度）故晝日精（爽）夜不寤也。（眠足）老人血氣衰（少）肌肉不滑（潤）榮衛之道澀。（失常度）故晝日不能精。（易眠）夜不得寐也。（難眠）故知老人不得寐也。（醒眠）</p>
<p>按此雖論辨老壯晝夜寤寐之有異。然其實。則謂榮衛周身之度。老者有虧。而不應其數也。與靈樞生會篇義同。而此重設問答者。蓋壯者血氣常盛。而至於老。則其平居血氣既衰。況方得其病。則議藥迥別。故老者之病。比諸少壯。</p>
<p>雖實猶尚挾虛。假令常尋內外病。有與少壯相似。然其攻補之際。最宜刻意。不可率以其病相似同治焉。扁鵲所以發難。</p>
<p>專在於斯乎。</p>
<p>（第四十七舊同）難曰。人面獨能耐（忍）寒者。何也。然。人頭者。諸陽（經）之會也。諸陰（經）脈皆至頸胸中而還。（指正經言）獨諸陽脈皆上至頭耳。故令面耐寒也。</p>
<p>按與靈樞所載岐伯言。大同小異。彼謂十二經脈三百六十五絡。其血氣皆上於面者。歷舉經絡本支。而示其血氣純粹獨聚於面耳。此篇乃謂首者諸陽所會。諸陰脈皆至頸胸而還。則獨主經脈正行者言之。蓋頭面者。手足六陽之脈所會。</p>
<p>而其六陰脈之正者。皆終於胸中。其支別僅有貫頸系目上。至巔頂。然其陰之微。包含諸陽中。則雖有而猶無焉。故越人斷以諸陽會發其義。則於治病之事。有裨乎後世矣。蓋首面支體骨屬筋會。雖如同。然其血氣清濁。自有分界。人身雖為一氣血。頭面病多是濁陰犯上。支體病多是清陽滯下。是示用藥施治之所以異也。</p>
<p>（第四十八舊同）難曰。人有三虛（脈病診）三實。（同上）何謂也。然。有脈之虛實。有病之虛實。有診之虛實也。</p>
<p>脈之虛實者。濡（弱）者為虛。（諸脈象中皆見濡弱）緊（實）牢（強）者為實。（諸脈象中皆見緊牢）病之虛實者。出者（內傷）為虛。入者（外邪）為實。言者（惺惺不妨於言）為虛。不言者（言語錯亂混濁）為實。緩者（病以漸進非一朝一夕之謂）為虛。急者（一時暴發生死在旦暮）為實。診之虛實者。濡者（肌肉濡弱）為虛。牢者（肌肉牢堅）為實。癢者（血氣散渙）為虛。痛者（邪氣盛滿）為實。外痛（邪實在表）內快。（血氣乏裡）為外實內虛。內痛（邪盛在裡）外快（血氣空表）為內實外虛。故曰虛實。</p>
<p>按靈樞分年之盛衰。月之虛滿。時之和不和。以言三虛三實。然其義廣遠。而非至近之法。故此篇沿其名。而革其法。所謂三虛三實者。脈病及診是也。可謂至近矣。濡與緊牢者。假令雖脈有大小浮沉滑澀之異。大率濡弱而無力者。</p>
<p>皆為虛矣。其六脈緊牢而有力者。皆為實矣。莫以脈經所載濡緊牢。認為其脈焉。即若有力無力字面。然其診之濡牢。</p>
<p>亦可由此類推出也。言也緩也。皆為內傷之候。其病亦有虛實。豈止虛耳。然此篇概為虛者。凡內傷者。臟病多不足。</p>
<p>其偶有見實。乃皆一時邪之所為。多是假實。而非真實也。入也。不言也。急也。雖皆為外傷之候。然亦有虛實。豈獨實耳。此專為實者。凡外傷者。腑病多有餘。其偶見虛。亦是假虛。而非真虛也。方其內攻。雖外傷須挾虛矣。方其外發。則內傷亦有似實焉。此篇特就其病發見之始而言之。以分其虛實耳。痛為實。快為虛者。是乃捫循切按之候。即診尺之義。學人須知古人察脈病外於診之一事。亦不可忽諸。</p>
<p>（第四十九舊五十一）難曰。病有欲得溫者。（飲食衣服居處）有欲得寒者。（同上）有欲得見人者。（惡幽閑）有不欲得見人者。（好靜默）而各不同。病在何臟腑也。然。病欲得寒。而欲見人者。病在腑也。（主陽）病欲得溫。而不欲見人者。病在臟也。（主陰）何以言之。腑者陽也。陽病欲得寒。又欲見人。臟者陰也。陰病欲得溫。又欲閉戶獨處。惡聞人聲。故以別知臟腑之病也。</p>
<p>按此篇專緣其所欲之情。以別臟腑之病。夫冬日飲湯。夏日飲水。常情之所使然。然則病情亦當如是。蓋冬則陽伏而陰旺。故人身外少氣而內有餘。所謂陽虛則外寒。陰盛則內寒。內外皆寒。故欲飲湯就溫。夏則陰沉而陽浮。故外充而內空。所謂陽盛則外熱。陰虛則內熱。內外皆熱。故欲飲水受冷常情尚且如此況病情乎。且其至於見人之好惡及動靜語默。亦皆陰陽之分。昭然可見矣。雖然。此亦一義例已。至其變化。則知臟病熱熾。便當欲寒。腑病寒甚。便當欲溫。</p>
<p>且如素問陽明病惡人。此乃一時熱積胸中所致。此難謂惡人者陰病。情之所為。讀者察諸。因前篇有三虛三實之候。故此商病情以辯表裡寒熱。舊本第九篇。以遲數之脈。分臟腑寒熱。與此篇互相發。宜參看。</p>
<p>（第五十舊四十九）難曰。有正經自病。有五邪所傷。何以別之。然。憂愁思慮。（二字靈樞作恐懼）則傷心。形寒飲冷。（飲冷靈樞作寒飲）則傷肺。恚怒氣逆。上而不下。（氣積脅下）則傷肝。飲食勞倦。則傷脾。（靈樞作若醉入房汗出當風則傷脾）久坐濕地。強力（靈樞作有所用力舉重）入水。（靈樞作入房過度汗出浴水）則傷腎。是正經之自病也。</p>
<p>按此難所發。即出素問遺篇本病論。但彼闕肺一病。靈樞第四篇。有類此者。而文稍異焉。滑注引之。由不視遺篇爾。所謂正經自病者。言五臟內虛。而病從內生。東垣所謂內傷是也。蓋心肝二病。固為七情偏氣之所傷。而其肺脾腎之病。乃似內傷挾外感者。然既為正經自病。則知非尋常外邪矣。夫憂愁屬肺。思慮屬脾。共為手足太陰二臟。偏傾而傷心。怒傷肝。此其本情。無論已。形寒飲冷。雖從外而入。然其人自失節。而所受者。非天時之寒傷之。且其寒與冷。</p>
<p>亦非一朝一夕之感也。久坐濕地者。是亦似外邪。實非天時之濕。居處失宜。下體不溫。加之強力入房。汗出入水等事。</p>
<p>以漸發病。亦非一時之水濕也。飲食勞倦。有內外之辨。故在下文。五邪病亦復言之。滑注引謝氏說為是。正經之飲食傷主。勞倦五邪之勞倦。傷飲食為之主。仍詳東垣內外傷辯。宜參考。</p>
<p>何謂五邪。然。有中風。（肝）有傷暑。（心）有飲食勞倦。（脾）有傷寒。（肺）有中濕。（腎）此之謂五邪。假令心病。何以知中風得之。（虛邪）然。其色當赤。何以言之。肝主（五）色。自入為青。（正）入心為赤。（虛）入脾為黃。</p>
<p>（賊）入肺為白。（微）入腎為黑。（實）肝為心邪。（從後而來）故知當赤色。其病身熱。（心）脅下滿痛。（肝）其脈浮大（心）而弦。（肝）何以知傷暑得之。（正邪）然。當惡焦（舊本脫故補）臭。何以言之。心主（五）臭。自入為焦臭。</p>
<p>（正）入脾為香臭。（虛）入肝為臊臭。（實）入腎為腐臭。（微）入肺為腥臭。（賊）故知心病傷暑得之。（自病）當惡焦臭。其病身熱而煩。心痛。（心）其脈浮大而散。（心）何以知飲食勞倦得之。（實邪）然。當喜苦味也。虛為不欲食。實為欲食。（二句舊注或以為衍然於義無害）何以言之。脾主（五）味。入肝為酸。（微）入心為苦。（實）入肺為辛。（虛）</p>
<p>入腎為咸。（賊）自入為甘。（正）故知脾邪入心。（從前而來）為喜苦味也。其病身熱（心）而體重。嗜臥。四肢不收。</p>
<p>（脾）其脈浮大（心）而緩。（脾）何以知傷寒得之。（微邪）然。當譫言妄語。何以言之。肺主（五）聲。入肝為呼。（賊）</p>
<p>入心為言。（微）入脾為歌。（實）入腎為呻。（虛）自入為哭。（正）故知肺邪入心。（從所勝而來）為譫言妄語也。其病身熱（心）洒洒惡寒。甚則喘咳。（肺）其脈浮大（心）而澀。（肺）何以知中濕得之。然。當喜汗出不可止。何以言之。</p>
<p>腎主（五）液。（舊本作濕誤）入肝為泣。（虛）入心為汗。（賊）入脾為涎。（微）入肺為涕。（實）自入為唾。（正）故知腎邪入心。（從所不勝而來）為汗出不可止也。其病身熱（心）而小腹痛。足脛寒而逆。（腎）其脈沉濡（腎）而大。（心）</p>
<p>此五邪之（診）法也。</p>
<p>按肝總管五色。心管五臭。脾管五味。肺管五聲。腎管五液。液應水。聲應金。味應土。臭應火。色應木。是其類也。凡一臟有五病。五五二十五變。本篇舉心為例。余可類推。夫肝之中風。邪入他臟。則見各臟色於面。心之傷暑。</p>
<p>邪入他臟。則惡各臟臭於鼻。脾之飲食。邪入他臟。則喜各臟味於口。肺之傷寒。邪入他經。則發各臟之聲。腎之中濕。</p>
<p>邪入他經。則出各臟之液。古者率皆以此。乃知其病之傳變焉。難經言此者居多。舊本三十四篇。出聲色臭味液。第七十四篇。言一臟有五病。第十篇有一脈十變。當與此篇參考。</p>
<p>（第五十一舊五十）難曰。病有虛邪。有實邪。有賊邪。有微邪。有正邪。何以別之。然從後來者。（母往臨子）為虛邪。從前來者。（子來乘母）為實邪。從所不勝來者。（夫克妻）為賊邪。從所勝來者。（妻侮夫）為微邪。自病者。（己自受過）為正邪。何以言之。假令心病中風。得之為虛邪。傷暑得之。為正邪。飲食勞倦得之。為實邪。傷寒得之。為微邪。中濕得之。為賊邪。</p>
<p>按此承前篇之旨。申明五邪之名義。據氣厥論五臟寒熱相移等言。則五邪非獨有傳變。雖正經自病。其至久則亦當有傳焉。下編所謂七傳。似言其義。然七傳者。唯謂五臟相克為病。而未曾言及一臟病。為彼此相移。故與此所言。義本自異。不宜為一途看。</p>
<p>（第五十二舊五十三）難曰。經（靈素病傳二篇）言七傳者死。（相克）間臟者生。（相生）何謂也。然。七傳者。</p>
<p>傳其所勝也。間臟者。傳其子也。何以言之。假令心病（初）傳肺。（火克金）肺傳肝。（金克木）肝傳脾。（木克土）脾傳腎。（土克水）腎傳心。（水克火心復傳肺乃為再傷）一臟不再傷。（若再傷者死）故言七傳者死也。假令心病傳脾。（火生土）脾傳肺。（土生金）肺傳腎。（金生水）腎傳肝。（水生木）肝傳心。（木生火）是子母相傳。竟而復始。如環無端。</p>
<p>（再傷亦不至死）故曰生也。</p>
<p>按靈素病傳二篇。所謂五臟腑相傳。以至腸胃。命曰必死。此篇七傳。蓋本諸此。其實相逆，各傳其所勝。故曰死矣。假令病始於心。相克至肺。則為再傷。始於肺。則至肝為再傷。余臟皆然。靈素舉五臟及胃膀胱七者。以論病傳。</p>
<p>此篇獨謂五臟再傷為七傳。而不言及腑。此乃所以與經異者何。觀後篇臟腑病有治之難易等說。則其義似不相戾。唯越人分割臟腑二病。言其義耳。所謂間臟者。五臟母子相傳之病。而比諸七傳。病勢則稍緩。故曰生焉。內經曰。間臟者刺之。又曰。不間臟者難治。排列相克臟。以一臟間之。則成相生。辟如排列心肺。以脾間之之類。故有間臟之名。呂氏之說得之。滑注。以素問標本論間甚之間字釋其義。非是。所謂間甚。猶言輕重。與間臟之間。不相干涉。間臟字既出病傳二篇。及平人氣象論中。學人審諸。</p>
<p>（第五十三舊五十四）難曰。臟病難治。腑病易治。何謂也。然。臟病所以難治者。傳其所勝也。（若夫順傳者非難愈）腑病易治者。傳其子也。（若夫逆傳者非易治）與七傳間臟同法。（可見非由臟腑第由順逆耳）</p>
<p>按前篇謂七傳間臟者。言臟病有死生之分。此篇特舉臟腑二病者。以　其難易之治。凡臟病之所以難治。多傳其所勝。若夫母子相傳則易愈。腑病之易治者。多傳其所生。若夫逆傳。雖腑病亦難治焉。故曰。與七傳間臟同法。滑注既得其旨。故不復贅。</p>
<p>（第五十四舊五十二）難曰。腑臟發病根本等不。然。不等也。其不等者（四字因熊氏俗解補之）何。然。臟病者止（留）而不移。其病不離其處。（有常部分）腑病者。仿佛（轉變）賁響。（奔走）上下行流。居處無常。故以此知臟腑（二病）根本不同也。</p>
<p>按此為後篇論積聚起本。凡百爾病千態萬化。於澤如蕉。更仆不盡。然其所適從。唯臟腑為期。舍此無可他求。此篇舊本在七傳前。似隔一頃。故易地云。</p>
<p>（第五十五舊同）難曰。病有（五）積有（六）聚。何以別之。然。積者陰氣也。（屬臟）聚者陽氣也。（屬腑）故陰沉而伏。（兼脈證）陽浮而動。（同上）氣之所積。名曰積。（病根於陰）氣之所聚。名曰聚。（病本於陽）故積者五臟所生。（其根深）聚者六腑所成（其本淺）也。積者陰氣也。（再說）其始發有常處。其痛不離其部。上下有所終始。左右有所窮處。（總言五積病）謂之積（三字舊本無因下文字例私補之）聚者陽氣也。（再說）其始發無根本。上下無所留止。其痛無常處。（總言六聚病）謂之聚。故以是別知積聚也。</p>
<p>按此篇所謂積聚。有臟腑之分。蓋積者其所從來。以漸而深。累積荏苒成塊。原於臟也。聚者所受猶淺。聚散倏忽。</p>
<p>居處無常。本於腑也。積不易位。故後篇審言其病形。聚無定體。臨時變更。故此第言其所以然之由。宜與後篇連讀。</p>
<p>（第五十六舊同）難曰。五臟之積。各有名乎。（第一問）以何月何日得之。（第二問）然。肝之積。名曰肥氣。（盛滿猛烈）在左脅下。（肝部候）如覆杯。（積塊）有頭足。（形象）久不愈。令人發咳逆（逼所）不勝　瘧。（乘所勝或如瘧每發寒熱）連歲不已。以季夏戊己日得之。（應第二問）何以言之。肺病傳於肝。（金克木）肝當傳脾。（木克土）脾季夏（六月）適王。（旺同下仿此）王者不受邪。（縱下同）肝復欲還肺。（橫下同）肺不肯受。（制者強）故留結為積。（受制者弱）故知肥氣為季夏戊己日（土旺時）得之。心之積名曰伏梁。（血根）起齊上。大如臂。（積形）上至心下。（胸博）</p>
<p>久不愈。令人病煩心。（本經自病）以秋庚辛日得之。何以言之。腎病傳心。（水克火）心當傳肺。（火克金）肺（金）以秋（七十二日）適王。王者不受邪。心復欲還腎。腎不肯受。（強下同）故留結為積。（弱下同）故知伏梁以秋庚辛日（金旺）得之。脾之積。名曰痞氣。（痞塞上下不通）在胃脘。（腹中央）覆大如盤。（形）久不愈。令人四肢不收。發黃膽。</p>
<p>飲食不為肌膚。（皆屬本病）以冬壬癸日得之。何以言之。肝病傳脾。（木克土）脾當傳腎。（土克水）腎以冬適王。王者不受邪。脾復欲還肝。肝不肯受。故留結為積。故知痞氣以冬壬癸日（水旺）得之。肺之積。名曰息賁。（挾喘息而發）</p>
<p>在右脅下。（肺部位）覆大如杯。（形）久不已。令人洒淅寒熱。喘咳發肺壅。（本病）以春甲乙日得之。何以言之。心病傳肺。（火克金）肺當傳肝。（金克木）肝以春適王。王者不受邪。肺復欲還心。心不肯受。故留結為積。故知息賁以春甲乙日（木旺）得之。腎之積。名曰賁豚。（如豚賁突）發於小腹。（腎部位）上至心下。若豚（奔）狀。或上或下無時。</p>
<p>（積狀）久不已。令人喘逆。（及其所生）骨痿少氣。（本經病）以夏丙丁日得之。何以言之。脾病傳腎。（土克水）腎當傳心。（水克火）心以夏適王。王者不受邪。腎復欲還脾。脾不肯受。故留結為積。故知賁豚以夏丙丁日（火旺）得之。</p>
<p>此五積之要法也。</p>
<p>按此篇詳言五積名形。與所以得病之由。而其名與病形。義無容疑。至其謂得病之由。則未嘗不使後人起惑焉。夫五積之所由生。固執月日。則雖難經。其說或涉怪誕。何者。其所謂肝曰季夏戊己。心曰秋庚辛。脾曰冬壬癸。肺曰春甲乙。腎曰夏丙丁。豈有如是拘拘時日哉。果若其說。則凡五積之病。方其時發者。皆能推算月日知之乎。蓋積之為病。</p>
<p>臟氣怫鬱而所致也。夫人之情。每有好惡。至其有感。則臟氣為之動。動而中節。何害之有。一或有偏。則臟氣為之傾移。而運化失常。故因其偏虛。邪氣湊焉。所謂肺病傳肝者。肺邪乘肝虛。經云。虛者受邪是也。肝又欲傳脾。是其道也。然其時脾無虛。則邪無入地。而不能傳焉。經云。實者不受邪是也。肝復欲還肺。然其不受者。橫且有所不勝也。</p>
<p>故跋胡HT　尾。進退維穀。故留結為積。是以相克之病。假令金克而土旺。則木邪何往。所以留結於本部也。余臟可以例推。學人莫以文害辭。而以意逆志可矣。滑注情感之說。以性理言。迂遠而闊於事情。不可從矣。</p>
<p>（第五十七舊同）難曰。泄凡有幾。（泄名多故發問）皆有名不。然。泄凡有五。（約言）其名不同。有胃泄。有脾泄。有大腸泄。有小腸泄。有大瘕泄。名曰後重。（五泄至甚乃為後重後重即痢滑注以後重蒙大瘕泄非是）胃泄者。（即謂飧泄）飲食不化。（完穀挾風）色黃。（未失胃土本色故比諸後四泄則最易愈）脾泄者。（即濡泄）腹脹滿。（有濕）泄注。（澀滯）食即（或）嘔〔聲物（或）共出〕吐（無聲有物）逆。大腸泄者。（即謂洞泄）食已窘迫。（腸胃有寒）大便色白。（澄徹腥穢）腸鳴。（有寒邪故）切痛。（拘急而絞較前二證稍重不易治）小腸泄者。（即謂血泄）溲（小便通）而便膿血。（赤白兼下）小腹痛。（痛在齊下是為痢候）大瘕（結瘕所成）泄者。（即謂腸　）裡急後重。（腹裡急痛澀滯不通）數（次）至圊而不能。（大）便（陰）莖中痛。（小便不通）此五泄之（緊）要（診）法也。</p>
<p>按內經謂泄痢居多。所謂飧泄洞泄濡泄　溏瘕泄暴注下迫是也。其所謂痢。則曰腸　便血。曰下白沫。曰下膿血。</p>
<p>扁鵲乃去繁而就簡。故脾胃大腸三焉者。此謂泄瀉。小腸大瘕二泄。此謂痢疾。軒岐謂之腸　。仲景謂之滯下。其義一也。總言之。則為五泄。泄一變至於後重。則為痢。然則泄與痢。固一源而二岐。素問云。下為飧泄。久為腸　。是也。</p>
<p>泄多屬寒。痢多屬熱。且其瀉與後重。亦自有別。蓋靈素所載。其證多端。若無系屬。扁鵲約為五泄。且以臟腑名蒙泄字上。則有所歸著。而至其審證施治。則有大裨於後人。後世方書。汗牛充棟。至其分泄痢之名。亦或倍蓰之。或什百之。乃使後人有多岐亡羊之惑。學人務本。則其道自成矣。</p>
<p>（第五十八舊同）難曰。傷寒有幾。（總括下文五種傷寒）其脈有變（滑注作辨義亦通）否。然。傷寒有五。（分別五症）有中風。（仲景所云風邪在衛）有傷寒。（寒在榮）有濕溫。（身體重）有熱病。（熱而不惡寒）有溫病。（即四時不正之氣）其所苦（大義見素問故此不論）各不同。中風之脈。陽（寸）浮（表邪）而滑。（風）陰（尺下皆同）濡而弱。</p>
<p>（裡氣不和）濕溫之脈。陽浮（表）而弱。（濕）陰小而急。（裡寒）傷寒之脈。陰陽俱盛（有力）而緊（寒）澀。（邪在血）熱病之脈。陰陽俱浮（表裡熱）浮之而滑。（邪實）沉之散澀。（榮氣不和）溫病之脈。行在諸經。不知何經之動也。</p>
<p>各（已上五病）隨其經（邪）所在而取之。（一句總結上諸病滑注以附溫病一證非）</p>
<p>按內經云。熱病者。皆傷寒之類。由是觀之。則所謂熱病。其所指義尤廣矣。而至其論病。則唯言其傳經。及兩感等症。未嘗明分有五證之異。其命名亦僅舉溫暑二病耳。扁鵲始論五種傷寒者。壹唯於內經熱論中。以其不言脈象。故由所感之邪。立其病名與脈焉。名者人治之大者。名不正則言不順。言不順則事不成。夫醫事不成。則民病無所措手足。</p>
<p>其傷寒有幾。指病因別之。即內經所謂諸熱病是也。五病中之傷寒。即真傷寒也。其余風熱溫濕四病者。類傷寒也。即內經所謂皆傷寒之類是也。病俱熱證。則其所苦。亦當無異。然謂各不同者。蓋由有陰陽表裡淺深之分故爾。內經既舉其傳經之證。詳且盡矣。然不言熱病有五邪之別。於是扁鵲姑置其所苦不辨。獨舉脈狀。以分五病之幟。則當有正鵠。</p>
<p>以便為治也。仲景傷寒論。皆據此篇引伸觸類。殆無余蘊。學人察諸。</p>
<p>傷寒有汗出而愈。（表有邪）下之而死者。（裡無邪）有汗出而死。（表無邪）下之而愈者。（裡有邪）何也。然。陽虛（正氣逼中外虛故邪居之）陰盛。（裡氣內滿正氣盛）汗出而愈。（中的）下之即死。（不中的下同）陽盛（表氣實無邪）</p>
<p>陰虛。（邪入裡而正氣虛）汗出而死。下之而愈。</p>
<p>凡治傷寒。有汗吐下三法。此即言汗下二法。而不言及吐者。蓋寒邪在上焦為胸煩。乃當行吐。吐是所罕行。內經云。未滿三日者。可汗而已。其滿三日者。可泄而已。未嘗言及吐法。故扁鵲置而不論。獨舉汗下二法。以論之耳。所謂陽虛陰盛。言邪在表。陽盛陰虛。言邪在裡。然以常例推之。其義難通。何者。陽虛陰虛。共指邪湊之地而言。其謂陰盛陽盛。言正氣偏盛。由是觀之。則兩虛字謂正氣方虛。兩盛字謂經氣偏盛。昆山王氏云。寒邪外客。非陰盛而陽虛乎。熱邪內熾。非陽盛而陰虛乎。似是而非。仲景云。桂枝下咽。而陽盛則斃。承氣入胃。而陰盛則亡。此亦省文。義本非異。滑注以陰陽字為表裡大得其旨。故引外台所謂表病裡和。裡病表和。以通其義。然和自和。盛自盛。豈可混同乎。且以虛為邪盛之處則可。以盛為氣和之地則未可。何者。盛固為無邪處。然比諸經之和則有餘。故扁鵲不言和而言盛。可以見已。經云。邪氣盛則實。精氣奪則虛。此亦一義。王氏以陽虛陰虛。為陽經陰經之虛。以陽盛陰盛。為陽熱陰寒之邪。陰陽字分為二義。似反字例。姑且舉之。以俟知者折衷。</p>
<p>寒熱之病。候之如何也。然。皮寒熱者。皮不可近（靈樞作附）席。毛髮焦。鼻　（臘）不得汗。（取三陽之絡以補手太陰）肌寒熱者。皮（靈樞作肌）膚痛。唇舌　。無汗。（取三陽於下以去其血補足太陰以出其汗）骨寒熱者。病無所安。汗注不休。齒本　痛。（靈樞作齒未槁取其少陰於陰股之絡齒已槁死不治）</p>
<p>此一節見靈樞第二十一篇。扁鵲裁附諸此者。蓋傷寒之為病。亦必因寒熱之勢。以知其苦。而征邪之淺深。故邪在皮部。則皮不可近席。且不得汗。在肉分則唇舌乾無汗。在骨屬則汗注而不止。齒本　。蓋在表者。心肺主之。在中者。</p>
<p>脾胃主之。在裡者。腎肝主之。是扁鵲所以采摘古經而附焉。滑伯仁以為內傷寒熱。王文潔以為外感寒熱。皆非是。</p>
<p>（第五十九舊同）難曰。狂（與）癲之病。何以別之。然。狂疾之始發。少臥（陽多陰少）而不飢。（胃邪實）自高賢也。自辨知也。自倨貴也。（三言共見狂者氣機）妄笑（實火）好歌樂。（緩土）妄行不休。（手足諸陽之本邪氣特甚）</p>
<p>是也。癲疾始發。意不樂（陰多陽少）僵仆（脊強反身陰邪搏陽）直視。（眼精凝而不轉）是也。（二字舊本誤出篇末然則其脈三部共盛之語獨屬癲症且據前條文例則當在此故改移此）其脈三部陰陽俱盛。（總謂狂癲二證之脈分而言之三部陰盛是癲脈三部陽盛是狂脈）</p>
<p>按靈樞謂癲狂者數件。癲曰先不樂。頭重痛。視舉目赤。煩心。曰引口啼呼喘悸。曰先反僵。因而脊痛。其余曰筋癲疾。曰脈癲疾。是也。狂曰先自悲喜忘。若怒善恐者。得之憂飢。曰少臥不飢。自高賢也。自辨智也。自尊貴也。善罵詈。日夜不休。曰狂言驚善笑。好歌樂妄行不休者。得之大恐。曰目妄見。耳妄聞。善呼者。少氣之所生也。曰多食善見鬼神。善笑而不發於外者。得之有所大喜。是也。此篇僅舉一二條者。則去繁就簡。而使人知其有屬陽屬陰之分焉。</p>
<p>大凡難經之為書也。其所論辨。率皆舉其大義。龐安常謂引而不發是也。況若此篇所述。比諸靈樞。則其辭尤簡。故能知百病之本也。蓋百病之發。其變雖多端。陰陽虛實。最為關系。至若狂癲之症。明分其陰陽。以施之治。則無有踏邪路。陷大澤之憂。此扁鵲舍其余緒。而取則陰陽二證者。為使後學端末其本矣。古之義也。</p>
<p>（第六十舊同）難曰。頭（與）心之病。有厥（逆）痛。有真（正）痛。何謂也。然。手足（舊本無足字按邪客足三陽亦為頭痛靈樞載六陽經頭痛是其征故補之）三陽之脈。受風寒（邪氣）伏留而不去者。（逆上）則名厥頭痛。入（留）</p>
<p>連在腦（海）者。（邪深痛甚）名真頭痛。（手足寒而至節者難治）其五臟（邪）氣相干（觸）名厥心痛。（東垣所云肺心痛腎心痛等類是也有治法）其痛甚。但在心（臟）手足青（靈樞作清）者。即名真心痛。其真頭（滑注云脫頭字補之）</p>
<p>心痛者。旦發夕死。夕發旦死。（無治法）</p>
<p>按頭心之痛。有厥真二焉。厥者。謂邪從是至彼而為痛。真者。謂邪直居其處而痛甚。凡頭心厥痛。多與他病兼見。</p>
<p>如其真痛。則單發之病。而命懸旦夕。固難為治。所謂三陽經脈受邪而不去則逆。故沖頭而痛者。以手足三陽。皆達於頭面故爾。若入於腦海。留連彌久而發者死矣。所謂五臟邪氣。互相干犯。故衝心而痛者。以手足三陰。皆循於心胸故爾。若其直在心臟。痛甚而手足清者死矣。據靈樞則知厥頭痛六條。為手足六陽經之病也。厥心痛五條。所謂肺肝腎脾胃之邪也。至其論治法。則悉且盡矣。此篇乃唯示其本焉耳。</p>
<p>（第六十一舊同）難曰。經言望（形色）而知之謂之神（明）聞（聲音）而知之謂之聖（通）問（情性）而知之謂之工。（術）切脈（象狀）而知之謂之巧。（伎）何謂也。然。望而知之者。望見其五色。（榮枯逆從）以知其病。（目視）</p>
<p>聞而知之者。聞其五音。（清濁高下）以別其病。（耳聽）問而知之者。問其所欲五味。（好惡多少）以知其病所（發）起所（居）在也。（意斷）切脈而知之者。診其寸口。（總寸關尺）視其（正）虛（邪）實。以知其病（舊本剩病一字今削去）在何臟腑也。（心決）經言。以外（望聞）知之曰聖。以內（問切）知之曰神。此之謂也。（上文以神聖屬望聞以工巧系問切是揭神聖二字總結內外可見不拘四等分發之名）</p>
<p>按靈樞見色而知曰明。按脈而知曰神。問病而知之曰工。此篇分神聖工巧。以配望聞問切。大率文異旨同。所謂五色五音五味五脈者。望聞問切之大要。而豈止是已。其形肉之肥瘠。皮膚之榮枯。骨節之大小。是亦望也。哭泣歌樂。</p>
<p>譫語呻吟。訣別懊　等情。是亦聞也。或有憂郁。或有愛憎。或有妒　。或有嫌疑之類。是亦問也。尺膚之寒熱滑澀。</p>
<p>經脈之逆順。是亦切也。凡此四診者。無貴無賤。無長無少。未曾容闕一焉。苟失之。則不足以為工巧之業。況於神聖之術乎。四診之義諦。出內經諸篇。宜以參看。</p>
<p>（第六十二舊同）難曰。臟（陰經）井榮（兼俞經合三字）有五（穴）腑（陽經）獨有六（穴）者。何謂也。然。</p>
<p>腑（經）者陽也。三焦（氣）行於諸陽。（經脈）故置一俞。（非井榮俞之俞而穴俞之俞）名曰原。（穴）腑有六者。亦與三焦（無形之腑）共一氣也。</p>
<p>按此篇所問。五臟每經有井榮俞經合。六腑每經五穴之外。增一原。有六者。何也。其答意謂原者三焦氣所過。而凡刺諸十二經穴於手足四關之末。則必兼俞與原。以調三焦之氣化。然其在陰經。則以俞為原。而陽經獨別有原者。蓋三焦是六腑之配。而雖無其形。然五腑非此氣。則何緣能得干施運化水穀乎。然則腑之為物。專賴此氣之運用耳。故曰。</p>
<p>府有六者。亦與三焦共一氣也。此下五篇。通言井榮俞經合之義。但每篇各異其趣讀者錯綜以求其義。斯得其旨矣。</p>
<p>（第六十三舊同）難曰。十變（說見第三十四篇古書篇目內經今無所見僅存此經）言。五臟六腑榮合。（余三穴略之）</p>
<p>皆以井（穴）為始者。何也。然。井者東方春也。萬物之始行。諸　行（有足）喘息。（有音）　飛（有羽）蠕動。（無足○四種皆蟲豸之屬）當生之物。莫不以春（氣）生。故歲數（四時）始於春。日數（十干）</p>
<p>始於甲。故以井為始也。</p>
<p>按承上文問臟腑每經在爪甲端諸穴。皆以名井。且為始者。何也。答意以謂凡有臟腑之病。內郁不達。心胸支滿等症。乃取諸井。總主開鬱發生之治。故曰井者東方春也。萬物始生。內經所謂標取而得之是也。諸　行喘息。　飛蠕動等語。是皆舉春陽升騰之時。蠢然振發者言。此以示諸井特為開發之治爾。故結之曰。歲數始於春。日數始於甲。</p>
<p>（第六十四舊同）難曰。十變又言。陰井（乙）木。陽井（庚）金。陰榮（丁）火。陽榮（壬）水。陰俞（己）土。</p>
<p>陽俞（甲）木。陰經（辛）金。陽經（丙）火。陰合（癸）水。陽合（戊）土。陰陽皆不同。（五行配合）其意何也。然。</p>
<p>是剛（夫）柔（婦）之事也。陰（經）井（穴）乙木。陽（經）井（穴）庚金。陽井庚。庚（陽）者乙（陰）之剛（夫）</p>
<p>也。陰井乙。乙（木）者庚（金）之柔（婦）也。乙為木。故言陰井木也。庚為金。故言陽井金也。余（榮俞經合四穴）</p>
<p>皆仿此。</p>
<p>按亦承上問。井既為諸穴之首。則其相配五行。亦當同。然今陰井為木。陽井為金。則名同而類異焉。且以井為木。</p>
<p>則所謂發生之意。固當其理。若以井為金。則其於為始之義。其理不通者何。答乃謂是剛柔之事。則五行十干。夫婦配偶之義。而陽干屬夫行。陰乾。屬婦行。表裡二經。離而縱。則為相生。合而橫。則為相制。實知聖人用針予奪之妙。</p>
<p>端在斯符焉。惜乎　近道污。而世乏其術。靈樞曰。五臟五俞。五五二十五俞。六腑六俞。六六三十六俞。闕手少陰者。</p>
<p>蓋與厥陰同治也。與三十二篇。言肝肺乙甲。夫婦相配之義同矣。然彼直以臟腑言。此即以穴俞言。厥旨無異也。</p>
<p>（第六十五舊同）難曰。經言所出（始）為井。所入（終）為合。其（刺）法奈何。然。所出為井。井者東方春也。</p>
<p>萬物之始生。故言所出為井也。所入為合。合者。北方冬也。陽氣入藏。故言所入為合也。</p>
<p>按此篇雖以井合出入問之。其實則明五俞血氣。各有淺深之量。井象穀井。而泉源所出。其血氣至微。榮象水之陂。</p>
<p>而血氣稍溜。俞象水之竇。而盈科湛澹。經象水之流。而奔波激浪。蕩漾泱洋。合象水之海。而百川競歸。沸郁溟渤。</p>
<p>由是觀之。凡刺井榮。則針貴輕淺。刺經合。則針貴重深。若夫俞者。在井合之中間。其血氣無過不及之偏。則使夫沖和之氣。營運其經中。乃所謂三焦之氣。而所以名原者。然本篇唯言春冬二時。陰陽升降。未曾及此者。聊示一義例耳。</p>
<p>(第六十六舊同)難曰。經（靈樞本輸篇）言肺（經）之原（穴）出於太淵。（魚際藏經以俞為原下仿之）心（經）之原（穴）出於太陵。（手腕兩筋間實手厥陰俞心病代主治之）肝（經）之原（穴）出於太衝。（足大指本節後）脾（經）</p>
<p>之原（穴）出於太白。（足大指核骨下）腎（經）之原（穴）出於太谿。（內踝後跟骨上）少陰（心經）之原（穴）出於兌骨。（神門穴掌後銳骨端）膽（經）之原（穴）出於丘墟。（外踝前○腑經俞外有原下仿之）胃（經）之原（穴）出於衝陽（足跗上）三焦（經）之原（穴）出於陽池。（手表腕中央）膀胱（經）之原（穴）出於京骨。（足小指本節後即京骨下）大腸（經）之原（穴）出於合谷。（手大指食指兩叉骨前）小腸（經）之原（穴）出於腕骨。（手小指腕側起骨下）</p>
<p>按靈樞第一篇。並太淵太陵太白太衝太谿五俞。及鳩尾脖　。以為十二原。其第二篇連言五臟六腑。惟有十一原。</p>
<p>二篇俱代手少陰之原。以厥陰俞者。蓋為諸邪在心。皆在心之包絡。則知二經同治。故省一原耳。扁鵲乃從第二篇文。</p>
<p>加以少陰真心之俞。合為十二。蓋靈樞第一篇。以穴數之。則為十二。以經俞數之。則五俞。其鳩尾脖　二穴。既系任脈。以此備原穴數。亦古之一法。然非正經之原。故此難增入少陰出於兌骨一句。以明十二正經之原云。</p>
<p>十二經皆以俞為原者。（臟經俞為原腑經別有原是大概言之）何也。然。五臟俞（此俞字非藏經二十五俞之俞即俞原之俞也可見以俞為原止藏經耳）者。三焦（氣）之所（運）行。（原）氣之所留止也。三焦所行之俞為原者。何也。（再問）然。齊下腎間動氣者。（先天真氣）人之生命也。（資生之門）十二經之根本也。故名曰原。（即腎間動氣）三焦者。</p>
<p>原氣之別使也。（此一句最緊要）主通行三氣。（宗營衛）經歷於五臟六腑。原者三焦之尊號也。（本末一氣）故所止輒為原。五臟六腑之有病者。皆取其（十二經）原（穴）也。</p>
<p>此一節具言原穴為一身之至要。然十二經皆以俞為原之言。似未免後學之疑何者。六腑既已俞外有原。則未必以俞為原。然其言如是者。蓋陽經者從俞過為原。而其配五行。亦俞原俱木。則知二穴同治。雖然。六腑既已俞外有原。故答辭獨言五臟之俞。三焦之所行。而不言六腑者各別有原。夫三焦之所以尊者何。齊下腎間動氣。人之性命。十二經之根本也云云數語。一大關系。蓋含蓄於腎間。則曰原氣。曰動氣。潛行默運於一身。則曰三焦。二氣而一。一氣而二者。</p>
<p>所謂原者。三焦之尊號也。且上焦如霧。中焦如漚。下焦如瀆。故云通行三氣。經歷五臟六腑。所謂三氣者。言宗營衛也。由是觀之。則三焦者。一身游行之氣。而內從臟腑。外逮四肢百骸。無所不至焉。故曰五臟六腑之有病者。皆取十二經諸原云。重按前篇三焦主治。取膻中齊旁齊下。此篇以手足原穴為三焦之主治。彼此各不同。一則以其氣所位言。</p>
<p>一則以其氣游行言。並行不相悖者也。腎間動氣之說。詳第三十篇。</p>
<p>（第六十七舊六十八）難曰。五臟（經）六腑（經）皆有井榮俞經合。皆何（病）所主（治）然。經（靈樞第一篇）</p>
<p>言所出為井。（木金）所流為榮。（火水）所注為俞。（土木）所行為經。（金火）所入為合。（水土）井（治在發生）主心下滿。（病）榮（治在散泄）主身熱。（病）俞（治在和順）主體重節痛。（病）經（治在收斂）主喘咳寒熱。（病）合（治在閉藏）主逆氣而泄。（病）此五臟六腑。井榮俞經合。所主病也。</p>
<p>按五俞主治。豈止此數證。是舉其要者。所謂井為東方木。則主陽氣。開發其心下滿。乃知各經邪鬱。故發之。榮為南方火。則主陽氣。遍滿其身熱。乃知陽邪偏盛。故泄之。俞為中央土。則主無過不及。其體重節痛者。中氣不和之所致。故和之。經為西方金。則主陽氣下降。其喘咳寒熱者。是陽氣失降。而陰氣交爭。故收之。合為北方水。則主陽氣閉藏。其逆氣而泄者。是陽不歸其根而下虛。故止之。凡諸井榮。皆屬春夏。故行針之道。專主發泄。經合皆系秋冬。</p>
<p>則其施治。亦主收藏。俞原在其中間。共為三焦之所過。則使諸經氣無過不及之差。此篇因前諸論。結以主治法。此下諸篇。皆論針家補瀉之法。</p>
<p>（第六十八舊七十三）難曰。諸（經）井（穴）者。肌肉淺薄。〔手足（血）指杪〕氣（微）少不足使（為瀉）也。</p>
<p>刺之奈何。然。諸（經）井（穴）者木也。榮（穴）者火也。火者木之子。（實者瀉其子）當刺井（木）者。以榮（火）</p>
<p>瀉之。故經言補者不可以為瀉（法）瀉者不可以為補（法）此之謂也。</p>
<p>按刺瘧論曰。諸陰井莫出血。此篇因此以為刺井之戒。所謂諸井者。在手足指端爪甲角。其地至溢。而脈流亦涓涓微派耳。故方其補之。則若無妨。方其為瀉。固有所忌。故云氣少不足使也。滑注以為不足使。為補瀉。然此論專為刺井者言之。則唯禁瀉而未曾禁補。故本衣冠文物言刺井者。以榮瀉之。惟示瀉井。必以榮代之之法。若夫為補。豈所可忌哉。</p>
<p>第六十二至於此篇。並論井榮俞原經合。所以為治之義。</p>
<p>（第六十九舊六十七）難曰。五臟募（穴）皆在陰。（胸腹及脅）而俞（穴）在陽（背部足太陽）者。何謂也。然。</p>
<p>陰病行陽。（背）陽病行陰。（腹）故令募在陰。（身以前）俞在陽。（身以後）</p>
<p>按此因前篇井榮俞經合諸論。次及腹背募俞之義。募者結也。名陰穴。在腹者。俞者輸也。名陽穴。在背者。夫經之有募俞也。皆臟氣所留止處。而俞與募又有差別。俞者屬於背部。太陽經。其血氣有積此輸彼。募者在胸腹部。或屬本經。或屬他經。血氣逗留其處。內深連臟。故有病則陽病行陰。陰病行陽。率皆緣此取之。是針家從陽引陰。從陰引陽之義也。靈樞以任脈之鳩尾脖　為膏與肓之原。則在腹部亦有原。所謂募者。蓋募原之謂也。凡周身之氣穴。總謂之俞。此所謂俞者。止言背部五臟之俞耳。讀者勿混同。</p>
<p>（第七十舊七十四）難曰。經（今經無所見）言春刺井。夏刺榮。季夏刺俞。秋刺經。冬刺合者。何謂也。然。春刺井者。邪在肝。夏刺榮者。邪在心。季夏刺俞者。邪在脾。秋刺經者。邪在肺。冬刺合者。邪在腎。（以上五治當其時取之）其肝心脾肺腎。而系於春夏秋冬者。何也。然。五臟一病。輒有五（邪）者。假令肝病。〔立（面）例〕色青者。</p>
<p>肝（病）也。（鼻）臊臭者。肝（病）也。（味）喜酸者。肝（病）也。（聲）喜呼者。肝（病）也。（液）喜泣者。肝（病）</p>
<p>也。其病眾多。（五邪相加）不可盡言也。四時（四臟）有數。（五病）而並系於春夏秋冬者也。針之要妙。在於秋毫。（舊本有者也二字今削去）</p>
<p>按此承前篇。謂井榮俞經合。分為四時之治。凡五臟病當其時而發者。各視其所主之聲色臭味液。從其臟之虛實。</p>
<p>而為之補瀉也。所謂五臟。一病輒有五者。謂賊微虛實正五邪也。假令春病在肝。則盡見本臟之聲色臭味液。乃知肝之五邪也。若夫聲臭味液糅至。則照鑒脈證。而顧夫賊微虛實。他邪相冒如何耳。余臟可以例推。或疑靈樞諸篇所言。冬刺井者。與此篇異。何歟。蓋審彼所言。皆謂先時資其化源之治也。如木以水為化源。火以木為化源之類。皆培其本。</p>
<p>而救病於未發者。扁鵲特舉經之所遺闕。而論當時發病之治爾。夫五臟之病。以此察之。則虛實自明。而補瀉之分。</p>
<p>然可知矣。故結之云。針之要妙。在秋毫者也。本篇舊出於第七十四。今詳其辭。正與第六十八篇。義互相發。宜連讀。</p>
<p>（第七十一舊七十）難曰。春夏刺淺。秋冬刺深者。何謂也。然。春夏者。陽氣在（地）上。人氣亦在上。（皮膚）</p>
<p>故當淺取之。秋冬者。陽氣在（地）下。人氣亦在下。（筋骨）故當深取之。（是隨時為淺深）春夏各（經）致一陰（氣）</p>
<p>秋冬各（經）致一陽（氣）者。何謂也。然。春夏溫（暑）必致一陰者。初下針深而（二字舊本脫今私補之）沉之。至腎肝之部。（筋骨）得氣（針下所得之氣）引（伸）持之陰（營氣）也。秋冬寒（涼）必致一陽（氣）者。初內針淺而浮之。至心肺之部。（皮脈）得氣（針下所得之氣）推內之陽（衛氣）也。是謂春夏必致一陰。秋冬必致一陽。</p>
<p>按素問第六十四篇曰。春氣在經脈。夏氣在經絡。長夏氣在肌肉。秋氣在皮膚。冬氣在骨髓。又靈樞第九篇曰。春氣在毛。夏氣在皮膚。秋氣在分肉。冬氣在筋骨。故刺肥人者。以秋冬之劑。刺瘦人者。以春夏之劑。此篇蓋據是等說。</p>
<p>論刺有淺深之法。細味其旨。則春夏二字。微有淺深之分。若秋與冬。亦當然。乃知天時人氣。升降浮沉。如合符節。</p>
<p>亦當知瘦人雖秋冬。猶用春夏之法。肥人雖春夏。更行秋冬之法。各隨其宜。臨機應變。允執厥中。是此篇之微意。不可不察焉。後節又言春夏致陰。秋冬致陽。則似與前說左。而實不相乖。言方刺之初。先深下之。在筋骨之部。窺針下所動之氣。乃引浮之。留在淺處。而後行針久之。此所謂春夏致一陰之法。而其治專在淺處。蓋春夏陽氣升浮之時。故人氣亦提舉。以從其道焉。其刺之初。先淺內之。在皮膚之分。針下得氣。漸推下之。留在深處。而後行針灸之。此所謂秋冬致一陽之法。而其治專在深處。蓋秋冬陽氣降沉之時。故人氣亦重墜以從之耳。兩初字勿輕看過。此蓋下針初一手法。而非謂至其經。猶且如是矣。讀者察諸。</p>
<p>（第七十二舊七十一）難曰。經言刺榮（深取）無傷衛。（淺取）刺衛（出氣）無傷榮。（出血）何謂也。然。針陽（衛分邪氣）者。臥針而刺之。刺陰（榮分邪氣）者。先以左手攝按所針榮俞（諸穴）之處。（衛）氣散乃內針。是謂刺榮無傷衛。刺衛無傷榮也。</p>
<p>按靈樞曰。刺有三變。所謂刺榮衛。與寒痹留經是也。其言曰。刺營者出血。刺衛者出氣。又素問曰。刺皮勿傷脈。</p>
<p>刺脈勿傷肉。刺肉勿傷筋。刺筋勿傷骨。刺骨勿傷筋。刺筋勿傷肉。刺肉勿傷脈。刺脈勿傷皮。由此文而推之。所謂無傷者。言榮出血。衛出氣也。傷者言榮出氣。衛出血。蓋刺榮者。有事於血。故以其左手攝按所針之俞。令衛氣散而內針。則浮氣不亂。是刺榮無傷衛也。刺衛者。有事於氣。故斜臥其針以行之。則無墜下之過。是刺衛無傷榮也。靈樞唯以氣血有淺深之分而言。此篇直謂行針之法。其實則彼是互相發明。</p>
<p>（第七十三舊七十六）難曰。何謂補瀉。當補之時。何所取（致）氣。當瀉之時。何所置（棄）氣。然。當補之時。</p>
<p>從衛（分）取氣。當瀉之時。從榮（分）置氣。其陽（正）氣不足。陰（邪）氣有餘。當先補其陽（穴）而後瀉其陰（穴）</p>
<p>陰（正）氣不足。陽（邪）氣有餘。當先補其陰（穴）而後瀉其陽（穴）榮（血）衛（氣）通行。此其要也。</p>
<p>按此篇專為補瀉榮氣。行於脈中者言之。凡補瀉之法。前後諸篇所述。其義不一。各殊其歸。集成以得之。則鼎湖之蘊奧。渤海之要妙。當如得諸心。而運諸掌焉。所謂從衛取氣者。淺留其針。得氣因推下之。使其浮散之氣。收入脈中。是補之也。從榮置氣者。深而留之。得氣因引持之。使脈中之氣。散置衛外。是瀉之也。即與前篇所言。春夏致一陰。秋冬致一陽。其事似同。然彼以四時陰陽升降之道言之。此乃以一經增減之法言之。陽氣不足。陰氣有餘。當先補陽瀉陰云云數語。即靈樞所云陰盛而陽虛。先補其陽。後瀉其陰而和之。陰虛而陽盛。先補其陰。後瀉其陽而和之之義。</p>
<p>先虛後實者。是針家予奪之道。若誤先實後虛。則恐暗脫漏正氣。故戒其先後如此。</p>
<p>（第七十四舊七十八）難曰。針有補瀉。何謂也。然。補瀉之法。非必呼吸出內針（法）也。知為（行）針者。信其左（手）不知為行針者。信其右（手）當刺之時。先以左手厭按所（可）針榮俞之（穴）處。彈而努之。（手法）爪而下之。（手法）其氣之來。如動脈之狀。順（流）針而刺之。得（針下）氣因推而內之。是謂補。（法）動（搖）而（引）</p>
<p>伸之。是謂瀉。（法）不得（針下）氣。乃與（授）男外（衛）女內。（營○再取之法）不得（針下）氣。是謂十死不治也。</p>
<p>按候吸內針。候呼出針。曰瀉。以呼內針。以吸出針。曰補。是呼吸出內之針也。內經諸篇數言之。故此篇唯言左右手法。以辨補瀉。所謂厭按所針。彈而努之。爪而下之者。皆謂用左手之法。如此而氣來至。則遂直刺之。而隨其針下得氣。徐以深之。此即補之之法也。動而伸之。是謂瀉。疑似前後文有脫漏。何者。補既言入針之法。而不言出焉。</p>
<p>瀉既言出法。而不言內焉。由此考之。則補之出針。當不動而伸之。瀉之入針。必當不須左手厭按之法。然則非有闕漏。</p>
<p>蓋互文言之。不得氣。乃與男外女內。靈樞云。男內女外。堅拒勿出。僅守勿內。是謂得氣。內外字與此倒置者。蓋彼有男禁內。女禁外之義。觀下文二句。可以見已。此篇內外。即直言與者。授與施與之義。在男持針於衛外。以待氣之至。在女推針於營內。以待氣之至。文異而義同耳。如此亦氣不至。則為死必矣。故曰十死不治也。</p>
<p>經言。有見（音現下同）如（訓而下同古字通用）入。有見如出者。何謂也。然。所謂有見如入出（舊本脫出字今從滑注補之）者。謂左手（厭按）見氣來至。乃內針。針入見氣（至）盡乃出針。是謂有見如入。有見如出也。</p>
<p>此承前節再言補法出入之針。前所謂補者。唯謂內針。而未言出針。故舉經言。再謂其義如此。所謂左手見氣者。</p>
<p>前既縷縷盡之。候其針下所得之氣。至盡而出針者。至此乃言之。若夫瀉者。上文既言動而伸之。則何待其見氣來盡乎。</p>
<p>蓋針法補之為難。故令王燾虞搏輩。發有瀉無補之疑。且此篇於補一法。丁寧反復不止者。以其難故爾。於瀉則略之。</p>
<p>以其易故爾。此一節出於舊本第八十篇。詳其文義。全與前段互相發。故聯一篇。</p>
<p>（第七十五舊七十二）難曰。經言能知迎隨之（經）氣。可令調之。調氣之方（術）必在（在察也如書舜典在璇璣玉衡之在）陰（平）陽（秘）何謂也。然。所謂迎隨者。知榮衛之流。（脈中）行（脈外）經脈之往來（自太陰始而終於厥陰是也）也。隨其逆順而取之。故曰迎（奪之）隨。（濟之）調氣之方。必在陰陽者。知其內（女）外（男）表（淺）</p>
<p>裡（深）。隨其陰（經）陽（經）而調（和）之。（氣血）故曰調氣之方。必在陰陽。</p>
<p>按謂迎隨者。所謂為補瀉之術也。然其法不一。所謂和榮衛之流行。經脈之往來也者。榮行脈中。晝夜五十度。從漏水與息數而流。且衛氣晝行諸陽。夜行諸陰。是謂榮衛流行也。手三陽從手至頭。足三陽從頭至足。手三陰從腹至手。</p>
<p>足三陰從足至腹。是謂經脈往來也。滑注以二句為一義者。粗矣。隨其逆順而取之者。假如足三陽從頭下行至足。將瀉之。則先使針鋒逆其流而向上。謂之迎。將補之。則使針順流而向下。謂之隨。如手三陽從手上行至頭。將瀉之。則亦逆流向下。謂之迎。將補之。則順流向上。謂之隨。余可推知。此篇所言。即逆順之迎隨是矣。調氣之法。必在陰陽者。</p>
<p>即前篇所謂與男外女內。暨素問應象論所言。以表知裡。從陽引陰。以左治右等事。率皆調氣之術。而此所謂知其內外表裡。隨其陰陽而調之是矣。素問曰。調氣之方。必別陰陽。定其中外。各守其鄉。內者內治。外者外治。滑注所引謝堅白說得之。宜參考。</p>
<p>（第七十六舊七十九）難曰。經（靈樞第一篇）言迎而奪之。（瀉）安得無（邪）虛。隨而濟之。（補）安得無（正）</p>
<p>實。虛（正）之與實。（邪）若得（正氣）若失。（邪氣）實（邪）之與虛。（正）若有（邪氣）若無。（正氣）何謂也。</p>
<p>然迎而奪之者。瀉其子也。（取之於前）隨而濟之者。補其母也。（取之於後）假令心病瀉手心主俞。（太陵屬土）是謂迎而奪之者也。補手心主井（中衝屬木）是謂隨而濟之者也。所謂實（兼正邪二實）之與虛（兼二虛）者。牢（實）濡（虛）</p>
<p>之意也。（此言經氣之虛實非言脈之牢濡）氣（針下所得者）來實牢者（正氣濡虛者隨補則變為實牢）為得。（言補）濡虛者（邪氣實牢者迎瀉則變為濡虛）為失。（言瀉）故曰。若得若失也。</p>
<p>按靈樞小針解曰。言實與虛。若有若無者。言實者有氣。虛者無氣也。為虛與實。若得若失者。言補者　然。若有得也。瀉則恍然。若有失也。所謂有無者。指病之所在而言。邪氣實處。是謂之有。正氣虛處。是謂之無。所謂得失者。</p>
<p>指行針之事而言。虛主聚氣。是謂之得。實主散邪。是謂之失。蓋此篇所言子母迎隨。而與前篇義已為異。即靈樞所云察後與先。若存若亡者。言氣之虛實補瀉之先後也。此篇虛實二字。尤有深意存焉。乃知朝三暮四。更為朝四暮三。依違兩岐。未可以定。故曰。實與虛者。牢濡之意也。所謂牢為邪實。則濡為正虛。濡為邪虛。則牢為正實。互文言之。</p>
<p>讀者莫為等閑看。</p>
<p>（第七十七舊六十九）難曰。經（靈樞第十篇）言虛者補之。實者瀉之。不虛不實。以經取之。何謂也。然。（正）</p>
<p>虛者補其（經）母。（穴）（邪）實者瀉其（經）子（穴）當先補之。然後瀉之。（前言先補後瀉之意）不虛不實。以經取之者。是正（本）經自生。病不中他（經）邪也。當自取其經。（本經所屬穴）故言以經取之。</p>
<p>按此承前篇。再發問答。以斷靈素所言。不虛不實。以經取之之語。審其立問之意。子母補瀉之義。前既已悉。言則非所發。疑唯議補瀉之外。別有經刺一法耳。蓋補法為隨。瀉法為迎。若夫以經取之。則非刺子母而刺屬己者。且夫謂母能令子虛。則補母者。治其本也。其病從母及子也。謂子能令母實。則瀉子者治其末也。其病從子加母也。是皆他邪所為者爾。正經自病者。本經之氣失常。則流行錯亂。故用針治其經氣而已。是其非有虛。又非有實。有何迎隨之施哉。余觀本邦　近之世。用針治病。率皆經刺一法。而未嘗聞有全行迎隨子母法。況若前諸篇所載。取五輸法。亦唯廑廑參星。殆幾乎熄。悲夫。古昔聖賢。苦口丁寧。垂教萬世。徒存方策。被蠹魚害。噫。</p>
<p>（第七十八舊七十五）難曰。經言東方實。（言肝重實）西方虛。（言肺重虛）瀉南方。（心從肝有餘）補北方。（腎從肺不足）何謂也。然。金木水火土。當更相平。（舉五行相制常例）東方（肝）木也。西方（肺）金也。木欲實。金當平之。（金克木）火欲實。水當平之。（水克火）土欲實。木當平之。（木克土）金欲實。火當平之。（火克金）水欲實。</p>
<p>土當平之。（土克水）東方肝也。則知肝實。（非等閑實）西方肺也。則知肺虛。（非尋常虛）瀉南方（心）火。補北方（腎）</p>
<p>水。南方火。火者木之子也。北方水。水者木之母也。（二句起下病因與治法要語）子（心）能令母（肝）實。母（腎）</p>
<p>能令子（肝）虛。水勝火。（一句處方大關系舊本誤出於前故今移此）故瀉（心）火補（腎）水。欲令（肺）金不得平（肝）</p>
<p>木也。經曰。不能治其虛。（治如是虛者非通變則不能）何問其余。（他病）此之謂也。</p>
<p>按東實西虛。即謂肝木實。肺金虛。皆是病之所在焉。瀉南補北。即謂瀉心火。補腎水。皆是治之所歸焉。此乃發難之端也。答辭先舉五行相制者。表其常例。火者木之子。水者木之母二句。此篇一大關系。乃樹下文分病因與治法之幟。蓋肝之亢極。本因心火有餘。子有餘則不食母氣。肝木所以盛實。腎之衰竭。原關肺金不足。母不足則無助子氣。</p>
<p>肺金所以太虛。以五行相制之常。為之治則。當補肺瀉肝而平之。今乃棄東西而治南北者。非經常之法。猶之儒家有權。</p>
<p>兵法有奇乎。所謂子能令母實一句。言病因子者心。母者肝。母能令子虛一句。言治法。母者腎。子者肝。或問如果其說之是。則心之有餘。既令肝實。則肝之有餘。亦當令腎實。然則腎胡為虛乎。曰心令肝實者。其氣逆而為邪也。夫木生火者。順道也。今心有餘。而不食母氣。故木氣不達而反逆。所以溯洄為邪焉。腎之為虛。既失母氣。夫水生木者。</p>
<p>亦順道也。雖然。其氣不足。故將通於彼。則不可以逮。何逆流之有。且自心而傳於肝者。邪氣也。從腎而通於肝者。</p>
<p>正氣也。辟諸水流。其末窒礙不通。則逆。逆則賁激。激則混濁。本源為之沸騰。是豈水之性哉。肝之所以有實也。源既細微。則其流不長。縱使堤防在其下流。勢已微。則不能達中道而涸。遂委泥沙。何奔逆之有。腎之所以有虛也。或又問瀉火補水。此兩藥並行乎。將所謂先補後瀉邪。曰否。苟以針石言之。即應補陰瀉陽而可。若夫湯液。則不必然。</p>
<p>唯其補陰是務。觀水勝火一句。可以見已。是亦此篇一大要語。不可忽略。熟察答意。此證原因。中氣虛而脾不能散精。</p>
<p>上歸於肺。肺乏主氣。此肺一虛。肺氣不行。則腎陰不足。陰不足。則陰中之陽動焉。故肝木逆上。並於心。此肝一實。</p>
<p>心氣有餘已極。則不食母氣。而傳道不通。肝邪益熾。此肝重實。心氣有餘。則上克肺。此肺重虛。至其施治。則肺虛者。置而不取。辟猶齊問菁茅。討南巡而崇衰周之朝焉。補腎則陰氣自盛。而心失其勢。取援於母。則肝實日減。辟猶晉假道於虞以代虢。其實則晉不在虢而在虞焉。所謂欲令金不得平木。及不能治其虛。何問其余。是此之謂歟。余釋此難之義。旁通陳廷芝王安道孫一奎三子之說。各有所取舍。蓋歷代諸家。紛紛未有定論。王氏當　近之世。勃然獨得此篇之旨。然至於以不一字為衍。則千慮一失。實可惜乎。陳孫二氏。存不字以立其義。則獨得其本旨。何者。此篇本論應變之治。故從旁補其不足。一舉以立兩全之功。若八十篇所言。則補肺瀉肝。直取其常制之法。固有彼此常變之分。</p>
<p>若以去不字。則與下編混為一意。豈合扁鵲之旨乎。學人審諸。</p>
<p>（第七十九舊七十七）難曰。經（逆順篇）言上工治未病。（邪未傳處）中工治已病（病既所在）者。何謂也。然。</p>
<p>所謂治未病者。見肝之病。則知肝當傳之（指邪）與脾。故先實其脾氣。（邪將傳）無令得受肝之邪。（將克之勢）故曰治未病焉。中工治已病者。見肝之病。不曉相傳。（邪氣）但一心治肝。（病所在）故曰治已病也。</p>
<p>按謂未病者。指其所未受邪。已病者。指已所病。凡諸臟病動輒傳其所克。假令上工治未病。則當先望視其橫與縱之所在。預防其蠶食。蓋有綢繆牖戶之漸焉。中工治已病。無有遠慮。胡祛近患。坐執一故爾。靈樞第五十五篇云。上工刺其未生者也。下工刺其方襲者也。此篇之旨。率由斯文。素問第二篇所言。未病已病。義與此異。彼謂未病者。指無病患。言不可混同。前篇所謂瀉南補北。是上工之治未病也。故承上而言。上中二工。各有階級也。</p>
<p>（第八十舊八十一）難曰。經言無實（指真）實（指假）虛（指真）虛。（指假）損不足而益有餘。（謂治之害）是寸口脈（見之）邪。將病（證）自（然）有虛實邪。其損（不足）益（有餘）奈何。然。是病（二字滑注以為衍孫一奎斷為古言之法今從孫氏）非謂寸口脈也。（在脈自見其真而不見其假）謂病自其（假）虛（假）實也。假令肝（真）實而肺（真）虛。肝者木也。肺者金也。金木當更相平。（是言常例）當知金平木。（是言常治法）假令肺（真）實而肝（真）</p>
<p>虛。（此肺動輒見假虛肝見假實）用針不補其肝。（真虛）微少氣。（三字舊本誤在用針上今考文義以移諸此）而反重實其肺。（真實）故曰實實虛虛。損不足而益有餘。此者中工之所害也。</p>
<p>按病有虛實。虛實有真假。其真焉者。合於脈象而知之。故亡論已。至於假焉。則中工之徒。動誤其診。故引經言戒之曰。無實實虛虛。言勿以假為真而治焉。若有實實虛虛。而真假相錯。則不足者愈損。有餘者愈益。若夫寸口脈。</p>
<p>則虛自見虛。實自見實。故鮮有失診之誤矣。故曰非謂寸口之脈也。謂病自有虛實也。所謂虛實者。言假虛假實也。若肝實肺虛。是真虛實。故直行補肺瀉肝之道。肺實肝虛。即在脈。則當見其真。苟在證。則多見假者。何則。肺主　斂。</p>
<p>其臟嫩軟。雖病有實。見證多似不足。肝主發生。其臟猛烈。雖病有虛。見證多似有餘。故中工誤認。以假實為真。以真實為假。徒使病者受醫之桎梏。非正命而死焉。悲夫。因前既尤中工粗無遠略。故重深戒之。此難與七十八篇所云。</p>
<p>東實西虛。固有常變之分。義互相發。不宜為一例看。</p>
<p>（第八十一舊十二）難曰。經（靈樞第一第三）言五臟脈（氣）已絕於內。（尺）用針者。反實其外。（陽經之合）</p>
<p>五臟脈（氣）已絕於外。（寸）用針者反實其內。（陰經之合）內外之絕。何以別之。然。五臟脈（氣）已絕於內（下部）</p>
<p>者。腎肝氣已絕於內也。（下焦所治）而醫（下工）反補其心肺。（無虛地）五臟脈（氣）已絕於外（上部）者。其心肺脈已絕於外也。（上焦所治）而醫反補其腎肝。（無虛地）陽絕補陰。陰絕補陽。是謂實實虛虛。損不足益有餘。（儆戒之辭）如是死者。醫殺之耳。</p>
<p>按靈樞第三篇云。五臟之氣。已絕於內者。脈口氣內絕不至。反取其外之病處。與陽經之合。有留針以致陽氣。陽氣至則內重竭。重竭則死矣。五臟之氣。已絕於外者。脈口氣外絕不至。反取其四末之輸。有留針以致其陰氣。陰氣至。</p>
<p>則陽氣反入。入則逆。逆則死矣。張會卿曰。脈口浮虛。按之則無。是謂內絕不至。臟氣之虛也。脈口沉微。輕取則無。</p>
<p>是謂外絕不至。陽之虛也。此篇問答。蓋據此文變例。而發其余蘊。靈樞所謂內絕者。指陰經之虛。外絕者。指陽經之虛。故內絕取陽經之合。外絕取四末之輸。是乃議陰虛補陽。陽虛補陰之誤也。素問云。治臟者治其俞。治腑者治其合。</p>
<p>是正道也。而今治臟反取陽合。治腑反取陰俞。其誤可知矣。扁鵲所謂內外絕者。舍腑不論。偏舉臟而言之。故知外絕者。心肺之虛。而寸脈浮虛內絕者。腎肝之虛。而尺脈沉微。是為異也。下工動輒有此反治。故重深戒之曰。如此死者。</p>
<p>醫殺之耳。前篇既舉中工之害。則此言醫者。當指下工。舊本誤出於第十二篇。馮氏　謂此篇合入用針補瀉之類。當在六十難之後。以例相從也。今從其說。以類移於此云。</p>
<p>○余纘前修之業。自壯歲時講究此書。業已數百遍。至今三十年所。無日不鑽研。古人云。讀書百遍。其義自通。</p>
<p>不佞如萬卿。雖未曾中其肯綮。然且莫寓意。以俟左右逢其原之日久矣。顧其距春秋時邈焉。則其言亦淵乎深哉。故其歷世所注傳。自吳呂廣至明吳文　。凡十有九家。愈繁愈雜。辟猶百川派分。無繇尋源。於是舟之方之。漸得觀溯洄之瀾。以問渤海之津。嘗讀韓非子說林。其中有言秦荊有　。荊人傍說晉叔向。叔向論城壺丘可否。以令二國和焉。余讀至是。喟然嘆曰。嗚呼。扁鵲設難之意。於叔向乎盡矣。無乃刻意叔向。以體扁鵲乎。乃余所注解。有取乎爾。亦有取乎爾。</p>
<h2>跋</h2>
<p>難經古義。家大人歷年講書之暇。折中諸家。獨斷為說。先是庚辰之春。將竣上木之事。不圖羅祝融氏之災。半已烏有。嗣後稍稍起草。今北復舊。然大人為業。奔走四方。不遑寧處。故　門人泉春安再三校正。不佞仲實與焉。</p>
<p>檢閱已竣。乃請父執山公介淨書。剞劂告成。因述其事。以謝遲滯之罪云。</p>
<p><u>壬辰冬十月。男仲實識</u></p>
