<header data-type="book">
<h1>增廣和劑局方藥性總論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1279/1368">公元1279年至公元1368年</data></dd></div>
</dl>
</header>
<h2>玉石部上品</h2>
<h3>丹砂</h3>
<p>味甘，微寒，無毒。主身體五臟百病，養精神，安魂魄，益氣明目，通血脈，止煩滿消渴，殺精魅，卻惡鬼，除中惡，腹痛毒瓦斯，疥　，諸瘡。《藥性論》云：有大毒。鎮心，主尸疰抽風。日華子云：涼，微毒。潤心肺。一云：治傷寒時氣，斷瘟疫及療子死腹中不出。</p>
<p>出相類宜州所產，然有砒氣，入藥中見火殺人。惡：磁石。畏：咸水。采無時。</p>
<h3>玉泉</h3>
<p>味甘，平，無毒。主五臟百疾，柔筋強骨，安魂魄，長肌肉，益氣，利血脈，療婦人帶下十二病，除氣癃，明耳目。日華子云：治血塊。《仙經》云：三十六水法中，化玉為玉漿，稱為玉泉。服之長年不老，功劣於自然泉液。一云：人臨死服五斤，死三年色不變。</p>
<h3>玉屑</h3>
<p>味甘，平，無毒。主除胃中熱，喘息煩滿，止渴。日華子云：潤心肺，明目，滋毛髮，助聲喉。一云：解肺渴，常服令人精神不亂。屑如麻豆服之，久服輕身長年。《淮南子》云：味鹹，寒，無毒。主消渴，滋養五臟，止煩躁。同金、銀、麥門冬煎服，甚有益。畏：鹿角。</p>
<h3>雲母</h3>
<p>味甘，平，無毒。主身皮死肌，中風寒熱，除邪氣，安五臟，益子精，明目，下氣堅肌，續絕補中，療五勞七傷，虛損少氣，止痢。《藥性論》云：君。白色者上，有小毒。主下痢腸癖，補腎冷。一云：治火瘡及風疹，熱風，帶下，淋疾。澤瀉為使。畏：　甲及流水。惡：徐長卿。忌：羊血。出：江東廬山者為勝。江南生者多青色，不堪入藥。</p>
<h3>石鐘乳</h3>
<p>味甘，溫，無毒。主咳逆上氣，明目，益精，安五臟，通下焦傷竭，強陰。《藥性論》云：有大毒。主泄精，寒嗽，壯元氣，健益陽事，能通聲。日華子云：補五勞七傷。乳有三種，有石乳、竹乳、茅乳，用煉服之，不煉令人發淋。蛇床為之使。惡：牡丹、玄石、牡蒙。畏：紫石英、蓑草。忌，羊血，光澤者為好。出：道州江華縣，又生少室山。采無時。</p>
<h3>朴硝</h3>
<p>味苦辛，寒，大寒，無毒。主百病，除寒熱邪氣，逐六腑積聚，結固留癖，胃中食飲熱結，破留血閉絕，停痰痞滿。日華子云：主通泄五臟百病及症結，治天行熱疾，消腫毒及頭痛，排膿，潤毛髮。張仲景《傷寒論》：療膀胱急，小腹滿，身盡黃，額上黑及足下熱。因作黑癉大便，必黑腹臚脹滿。一云：治時氣頭痛，療喉閉。《聖惠方》：治時氣頭痛不止，用二兩為末，生油調塗頂上。又方：治乳石發動，煩悶及諸風熱。用煉成者半兩，細研如粉，每服以蜜水調下一錢匕，日三、四服。《孫真人食忌》：主口瘡，取含之，立效。惡：麥句薑。</p>
<p>其色青白者佳，黃者傷人，赤者殺人。</p>
<h3>芒硝</h3>
<p>味苦，大寒。主五臟積聚，久熱胃閉，除邪氣破留血，腹中痰實結摶，通經脈，利大小便及月水，破五淋，推陳致新，化七十二種石，消腫毒，療天行熱病。《藥性論》：使味鹹，有小毒。能通女子月閉症瘕，下瘰　，黃膽病，主墮胎，患漆瘡，主時疾壅熱，能散惡血。</p>
<p>《聖惠方》：治伐指，用芒硝煎湯，淋漬之。石葦為使。惡：麥句薑。</p>
<h3>硝石</h3>
<p>味苦辛，寒，大寒，無毒。主五臟積熱，胃脹閉，滌去蓄結飲食，推陳致新，除邪氣，療五臟十二經脈中百二十疾，暴傷寒，腹中大熱，止煩滿，消渴，利小便及　蝕瘡。《蜀本》云：大黃為使，能化七十二種石為水。吳氏云：神農：苦。扁鵲：甘。《藥性論》：君。有小毒。主項下瘰　，破積，散堅結。日華子云：治喉閉。一云：治赤眼，療惡寒，治五種淋疾及小便不通，又治頭痛。火為之使。惡：苦參、苦菜、曾青。畏：女菀、杏仁、竹葉。</p>
<h4>玄明粉</h4>
<p>味辛甘，冷，無毒。治心熱煩躁並五臟宿滯，症結，明目，退膈上虛熱，消腫毒。《太陰號》曰：治熱毒風，搜冷，　癖氣脹滿，五勞七傷，骨蒸傳尸，頭痛煩熱，搜除惡疾，五臟秘澀，大小腸不通，三焦熱淋，疰忤疾，咳嗽，嘔逆，苦干澀，咽喉閉塞，心、肝、脾、肺臟、胃積熱，驚悸健忘，營衛不調，中酒，中膾，飲食過度，腰膝冷痛，手腳酸，久冷久熱，四肢壅塞，背膊拘急，眼昏目眩，久視無力，腸風痔病，血癖不調，婦人產後，小兒疳氣，陰毒傷寒，表裡疫　等疾。一云：長服安胎，誕孩無瘡腫疾病。馬牙硝：味甘，大寒，無毒。除五臟積熱、伏氣，點眼去赤腫障翳，澀淚痛，消食，治小兒鵝口、重舌。</p>
<h4>生硝</h4>
<p>味苦，大寒，無毒。主風熱癲癇，小兒驚邪螈　，風眩頭痛，肺壅，耳聾，口瘡，喉痹，牙頷腫痛，目赤熱痛，多眵淚。生：茂州。惡：麥句薑。</p>
<h3>礬石</h3>
<p>味酸，寒，無毒。主寒熱泄痢，白沃，陰蝕惡瘡，目痛，堅骨齒，除固熱在骨髓，去鼻中息肉。《藥性論》云：使，有小毒。能治鼠漏、瘰　，療鼻衄，治　鼻，生含咽津治急喉痹。日華子云：性涼。除風，去勞，消痰，止渴，暖水臟，治中風失音，疥癬。劉禹錫云：治氣痢。一云：治小兒臍中汁出不止。主目翳、小兒口瘡，治香港腳及牙齒腫痛。甘草為使。</p>
<p>惡：牡蠣。畏：麻黃。</p>
<h3>滑石</h3>
<p>味甘，寒、大寒，無毒。主身熱泄癖，女子乳難，癃閉，通津液，去留結，止渴，令人利中。《藥性論》：臣。能療五淋，主難產，令滑胎易生；除煩渴心燥，偏主石淋。日華子云：治乳癰，利津液。《聖惠方》：治婦人過忍小便致胞轉，以末蔥湯下二錢匕。石葦為之使。惡：曾青。</p>
<h3>空青</h3>
<p>味甘酸，寒、大寒，無毒。主青盲，耳聾，明目，利九竅，通血脈，養精神，益肝氣，療目赤腫，去膚翳，止淚出，利水道，下乳汁，通關節，破堅積。《藥性論》：君。能治頭風，鎮肝，瞳仁破者再得見物。一云：治中風手臂不仁，口　不正。畏：菟絲子</p>
<h3>曾青</h3>
<p>味酸，小寒，無毒。主目痛，止淚出，風痹，利關節，通九竅，破症堅積聚，養肝膽，除寒熱，殺白蟲，療頭風腦中寒，止煩渴，補不足，盛陰氣。久服輕身不老，能化金、銅。《青霞子》云：爽神氣。畏：菟絲子。《唐本》云：出蔚州者好，鄂州次之。</p>
<h3>石膽</h3>
<p>味酸辛、寒，有毒。主明目，目痛，金瘡，諸癇，女子陰蝕痛，石淋寒熱，崩中下血諸邪毒瓦斯，令人有子。散症積，咳逆上氣及鼠　惡瘡。《藥性論》：君。有大毒。破熱毒。</p>
<p>陸英為使。日華子云：味酸澀，無毒。治　牙，鼻內息肉。一云，下血赤白，面黃，女子臟寒，療齒痛，治中風癱瘓。水英為之使。畏：牡桂、菌桂、芫花、辛夷、白薇。出：信州。</p>
<h3>綠青</h3>
<p>味酸，寒，無毒。主益氣，療鼽鼻，止泄痢，吐風痰。生山之陰穴中，色青白。今醫家多用吐風痰。其法：揀取上色精好者，先搗下篩，更用水飛過至細，乃再研。治之如風痰眩悶，取二、三錢匕，同生龍腦三、四豆許，研勻，以生薄荷汁合酒溫調服，使仰臥，須臾涎自口出，乃愈。不嘔吐，其功速於他藥。今人用之比比皆效，故以法附之。</p>
<h3>赤石脂</h3>
<p>味甘酸辛，大溫，無毒。主養心氣，明目，益精，療腹痛泄　，下痢赤白，小便利及癰疽痔瘡，女子崩漏中下，產難胞衣不下。久服補髓，好顏色，益智。《藥性論》：君。補五臟虛乏。一云：治痰飲吐水及傷寒下痢，又治大腸寒滑、小便精出。惡：大黃、松脂。畏：芫花。</p>
<h3>白石脂</h3>
<p>味甘酸，平，無毒。主養肺氣，濃腸，補骨髓，療五臟驚悸不足，心下煩，止腹痛下水，小腸　熱溏便膿血，女子崩中漏下赤白沃，排癰疽瘡痔，久服安心。《藥性論》云：味甘辛。</p>
<p>澀大腸。一云：治瀉痢。得：厚朴並米飲止便膿。燕屎為使。惡：馬目毒公。畏：黃芩、黃連、甘草、飛廉。</p>
<h4>青石脂</h4>
<p>味酸，平，無毒。主養肝膽氣，明目，療黃膽，泄痢，腸癖，女子帶下百病及疽痔，惡瘡。補髓，益氣。不飢延年。</p>
<h4>黑石脂</h4>
<p>味鹹，平，無毒。主養腎氣，強陰，主陰蝕瘡，止腸　泄痢，療口瘡咽痛。久服益氣不飢延年。日華子云：五色石脂並溫，無毒。畏：黃芩、大黃。治瀉痢，血崩，帶下，吐血，衄血並澀精淋瀝。安心，鎮五臟，除煩，療驚悸排膿，治瘡癤，痔　，養脾氣，壯筋骨，補虛損，久服悅色，紋理膩。綴唇者為上。出：　川、陽城或生洛。</p>
<h4>黃石脂</h4>
<p>味苦，平，無毒。主養脾氣，安五臟，調中，大人小兒泄痢腸　下膿血，去白蟲，黃膽，疽癰蟲。久服輕身延年。曾青為之使。惡：細辛。畏：黃連、甘草、蜚蠊。出：嵩高山，色如鶯雛。采：無時。</p>
<h3>白石英</h3>
<p>味甘辛，微溫，無毒。主消渴，陰痿不足，咳逆，胸膈間久寒，益氣，除風濕痹，療肺痿，下氣，利小便，補五臟。《藥性論》：君。能治肺癰吐膿，咳逆上氣，疸黃。日華子云：五色石英，平。治心腹邪氣，女人心腹痛，鎮心，療胃中冷氣，益毛髮，悅顏色，治驚悸，安魂定魄，壯陽道，下乳，通亮者為上。其補益隨臟色而治，青者治肝，赤者治心，黃者治脾，白者治肺，黑者治腎。一云：治腹堅脹滿，心神不安。惡：馬目毒公。</p>
<h3>紫石英</h3>
<p>味甘辛，溫，無毒。主心腹咳逆邪氣，補不足，女子風寒在子宮，絕孕十年無子。療上氣，心腹痛，寒熱邪氣，結氣，補心氣不足，定驚悸，安魂魄，填下焦，止消渴，除胃中久寒，散癰腫。《藥性論》云：君。主養肺氣，治驚癇，蝕膿，虛而驚悸不安。日華子云：治癰腫毒等，醋淬為末，生薑、米醋煎，敷之，摩亦得。《聖惠方》：補虛勞，止驚悸，令人能食。打碎五兩如米豆大，淘一遍，以水一斗煮取二升，去滓澄清，細細服或煮粥羹食亦得，服盡更煎服。長石為之使。得茯苓、人參、芍藥，共療心中結氣。得天雄、菖蒲共療霍亂。</p>
<p>畏：扁青、附子。不欲：　甲、黃連、麥句薑。</p>
<h3>禹餘糧</h3>
<p>味甘，寒，無毒。主咳逆，寒熱煩滿，下利赤白，大熱，療小腹痛結煩疼。《藥性論》云：君。味鹹。主治崩中。日華子云：治邪氣及骨節疼，四肢不仁，痔　等疾。又治婦人帶下，產後煩躁。牡丹為之使。張仲景：治傷寒下痢不止，心下痞硬，利在下焦者，赤石脂禹餘糧湯主之。赤石脂、禹餘糧各一片，並碎之，以水六升煮取二升，去滓分再服。</p>
<h4>太一余糧</h4>
<p>味甘，平，無毒。主咳逆上氣，症瘕，血閉，漏下，除邪氣，肢節不利，大飽絕力身重。</p>
<p>雷公云：太一余糧看即如石，輕敲便碎，可如粉也，兼重重如葉子雌黃，此能益脾安臟氣。</p>
<h3>無名異</h3>
<p>味甘，平，無毒。主金瘡，折傷，肉傷，止痛，生肌肉。日華子云：無毒。今云：寒。消腫毒癰疣。出：大食國。生於石上，狀如黑石炭，番人以油煉如　石，嚼之如經》曰：嶺南人云，有石無名異，絕難得，有草無名異，彼人不甚貴重，豈《本經石而今所有者為草乎。用時以醋磨，塗敷所苦處。</p>
<h4>綠礬</h4>
<p>涼，無毒。治喉痹，　牙，口瘡及惡瘡，疥癬。釀鯽魚燒灰和服，療腸風瀉血。《集方》：治小兒疳氣不可療，神效丹，綠礬用火　通赤，以釅醋淬過，如此三次，細棗肉和綠豆大。溫水下，日三服。</p>
<h4>柳絮礬</h4>
<p>冷，無毒。消痰、治渴，潤心肺。</p>
<h3>婆娑石</h3>
<p>解一切藥毒、瘴疫、熱悶頭痛。生南海，胡人采得之。無斑點有金星，磨成乳汁者又有豆斑石，雖亦解毒，功力不及。復有鄂綠，有文理，磨鐵成銅色，人多以此為之也。凡欲驗真者，以水磨，點雞冠，熱血當化成水是也。</p>
<h2>玉石部中品</h2>
<h3>雄黃</h3>
<p>味苦甘，平，寒，大溫，有毒。主寒熱，鼠　，惡瘡，疽痔，死肌。療疥蟲，　瘡，痛，鼻中息肉及絕筋破骨，百節中大風，積聚，癖氣，中惡，腹痛，鬼疰，殺精物惡鬼邪百蟲毒，勝五兵，殺諸蛇虺毒。《藥性論》云：金苗也，殺百毒。味辛，有大毒。能治辟百邪鬼魅，殺蟲毒。人佩之鬼神不敢近。蕭炳云：君。日華子云：微毒。治疥癬，癲癇，嵐障，一切蛇蟲大獸咬傷。一云：治傷寒骨蒸，耳聾，養胎，症瘕積聚，去三氣，療金瘡及纏喉風。解：藜蘆毒、箭毒。</p>
<h3>石硫黃</h3>
<p>味酸，溫，大熱，有毒。主婦人陰蝕，疽痔惡血，堅筋骨，除頭禿，療心腹積聚，冷癖在脅，咳逆上氣，腳冷疼弱無力及鼻衄，惡瘡，下部　瘡，止血，殺疥蟲。《藥云：君。有大毒，以黑錫煎湯解之。能下氣，治腳弱，腰腎久冷，除冷風頑痹，生用及療寒熱咳逆，煉服主虛損泄精。蕭炳云：臣。日華子云：壯陽道，治　癖冷氣，補損，風勞氣，止嗽上氣及下部痔　，殺腹臟蟲，邪魅等。曾青為使。畏：細辛、飛廉</p>
<h3>雌黃</h3>
<p>味辛甘，平，大寒，有毒。主惡瘡，頭禿，痂疥，殺毒蟲虱，身癢，邪氣諸毒。蝕鼻中息肉，下部　瘡，身面白駁，散皮膚死肌及恍惚邪氣，殺蜂蛇毒。《藥性論》云：君。不湯藥。一云：治烏癩瘡，殺蟲，婦人久冷，血氣攻心疼痛。又治肺勞咳嗽，縮小便。又治嗽，暴嗽，勞嗽，天時行病，小腹滿不得小便。一云：辟邪去惡。</p>
<h3>食鹽</h3>
<p>味鹹，溫，無毒。主殺鬼蟲，邪疰毒瓦斯，下部　瘡，傷寒寒熱，吐胸中痰癖，止心腹痛，堅肌骨，多食傷肺喜咳。《藥性論》云：有小毒。能殺一切毒瓦斯，鬼疰氣，主心痛中主鬼疰尸疰，下部蝕瘡。日華子云：暖水臟及霍亂，金瘡，明目，止風淚，邪氣，一切蟲腫毒，消食，滋五味，長肉補皮膚，通大小便，小兒疝氣並內腎氣。一云：治胸心痰飲，寒熱病，瘴瘧。又治齒齦宣露，妊娠心腹疼痛。</p>
<h3>水銀</h3>
<p>味辛，寒，有毒。主疥　，痂瘍，白禿，殺皮膚中虱，墮胎，除熱。《藥性論》云：殺金銅毒，能墮胎，主療　疥等緣，殺蟲。日華子云：無毒。治天行熱疾，催生，下死胎治惡瘡，除風，安神鎮心。鍍金燒粉，人多患風或大段，使作須飲酒，並肥豬肉及服鐵可御其毒。畏：磁石。</p>
<h3>石膏</h3>
<p>味辛甘，微寒，無毒。主中風寒熱，心下逆氣，驚喘，口乾舌焦，不能息，腹中堅痛，除邪鬼，產乳，金瘡，除時氣頭痛身熱，三焦大熱，皮膚熱，腸胃中隔氣，解肌發汗，止消渴煩逆，腹脹暴氣喘息。《藥性論》云：使。治傷寒頭痛如裂，壯熱，皮如火燥，解肌，出毒汗。主通胃中結，煩悶，心下急，煩躁，治口唇干焦，和蔥煎茶去頭痛。蕭炳云：臣。</p>
<p>日華子云：治天行狂熱，下乳，頭風旋，心煩躁，揩齒益齒。雞子為之使。惡：莽草、馬目毒公、巴豆。畏：鐵。</p>
<h3>金屑</h3>
<p>味辛，平，有毒。主鎮精神，堅骨髓，通利五臟，除邪毒瓦斯。《藥性論》云：金箔亦主小兒驚傷五臟，風癇失志，鎮心，安魂魄。日華子云：平，無毒。鎮心，益五臟，添髓，調利血脈。《青霞子》云：《金液還丹論》：金末增年，又黃金破冷除風。畏：水</p>
<h3>銀屑</h3>
<p>味辛，平，有毒。主安五臟，定心神，止驚悸，除邪氣，久服輕身長年。《藥性論》云：君。銀箔同。主定志，去驚癇，小兒癲疾狂走之病。《子母秘錄》：治妊娠卒腰背痛如折，銀一兩，水三升，煎取二升飲之。《金液還丹論》：銀破冷除風。</p>
<h4>生銀</h4>
<p>性寒，無毒。主熱狂，驚悸，發癇，恍惚，夜臥不安，譫語，邪氣，鬼祟，服之明目，鎮心安神定志。小兒諸熱丹毒，並水磨服，功勝紫雪。陳臟器云：味辛。日華子云：冷，微毒。畏：石亭脂。治小兒沖惡熱毒，煩悶，並水磨下。又治中惡，蟲毒，心熱，煎煩，憂忘，虛劣。忌：一切生血。</p>
<h4>靈砂</h4>
<p>味甘，性溫，無毒。主五臟百病，養神安魂魄，益氣明目，通血脈，止煩滿，益精神，殺精魅惡鬼氣。久服通神明，不老、輕身、神仙，令人心靈。一名二氣砂，水銀一兩，硫黃六銖，細研，先炒作青砂頭，後入水火既濟爐，抽之如束針紋者，成就也。惡：磁石。</p>
<p>畏：咸水。</p>
<h4>水銀粉</h4>
<p>味辛，冷，無毒。畏：磁石、石黃。通大腸，轉小兒疳並瘰　，殺瘡疥癬蟲及鼻上酒渣，風瘡瘙癢。又名汞粉、輕粉、峭粉。忌：一切血。</p>
<h3>磁石</h3>
<p>味辛鹹，寒，無毒。主周痹風濕，肢節中痛，不可持物，洗洗酸痛，除大熱，煩滿及耳聾。養腎臟，強骨氣，益精除煩，通關節，消癰腫鼠　，頸核喉痛，小兒驚癇。《藥性論》云：臣，味鹹，有小毒。能補男子腎虛，風虛，身強，腰中不利。陳臟器云：味鹹，溫，無毒。主補絕傷，益陽道，止小便白數，治腰腳，去瘡　，長肌膚，令人有子。日華子云：味甘澀，平。治眼昏，筋骨羸弱，補五勞七傷，除煩躁，消腫毒，小兒誤吞鐵針等。《外台秘要》云：療疔腫。取磁石為粉，釅醋和封之，立拔根出，瘥，神妙。《鬼遺方》：治金瘡腸出欲入之，磁石、滑石各三兩為末，以白米飲調方寸匕服，日再服。《丹房鏡源》云：服食可長久，多服必有大患。《青霞子》云：磁石毛治腎之疾。柴胡為之使。殺鐵毒。惡：牡莽草。畏：黃石脂。</p>
<h3>玄石</h3>
<p>味鹹，溫，無毒。主大人小兒驚癇，女子絕孕，少腹冷痛，少精身重，服之令人有子一名玄水石，一名處石。生太山之陽，山陰有銅，銅者雌，玄石者雄。惡：松枝、柏實、菌桂。一云：磁石中有細孔，中黃赤色，好者能連十針，其無孔光澤純黑者，玄石也，不能懸針也。</p>
<h3>凝水石</h3>
<p>一名寒水石。味辛甘，寒、大寒、無毒。主身熱，腹中積聚邪氣，皮中如火燒，煩滿，水飲之。除時氣熱盛，五臟伏熱，胃中熱，煩滿，口渴，水腫，小腹痹。《藥性論》云壓丹石毒風，去心煩渴悶，解傷寒復勞。一云：治風熱，心躁，口乾，狂言，渾身壯熱及中諸毒。解：巴豆毒。畏：地榆。采：無時。</p>
<h3>陽起石</h3>
<p>味鹹，微溫，無毒。主崩中漏下，破子臟中血，症瘕結氣，寒熱腹痛，無子，陰痿補不足，療男子莖頭寒，陰下濕癢，去臭汗，消水腫。《藥性論》云：味甘，平。主補腎氣精乏，腰疼膝冷，濕痹，能暖女子子宮久冷，冷症寒瘕，止月水不定。</p>
<p>蕭炳云：臣。日華子云：治帶下，溫疫，冷氣，補五勞七傷。桑螵蛸為使。惡：澤瀉、菌桂、石葵、雷丸、蛇蛻皮。畏：菟絲。忌：羊血。</p>
<h3>密陀僧</h3>
<p>味鹹辛，平，有小毒。主久痢，五痔，金瘡，面上瘢酐，面膏藥用之。日華子云：平，無毒。鎮心，補五臟，治驚癇、嗽嘔及吐痰。《聖惠方》：治酐黯斑點。細研，人乳汁調塗面，每夜用之。《譚氏小兒方》：療豆瘡瘢，面　。細研，水調，夜塗之明旦洗去，平復。</p>
<p>《外台秘要》：治渣鼻　。</p>
<h3>生鐵</h3>
<p>微寒。主療下部及脫肛。日華子云：生鐵　後飛淘去粗，赤汁烘乾用。治癬及惡瘡疥，蜘蛛咬，蒜磨生油敷並得。《肘後方》：治熊虎所傷毒痛。煮生鐵，令有味，以洗之。《千金方》：治耳聾。燒赤投酒中飲之，仍以磁石塞耳中，夜去之，旦別著。</p>
<h4>鐵粉</h4>
<p>味鹹，平，無毒。主安心神，堅骨髓，除百病，變白，潤肌膚，令人不老，體健能食久服令人身重肥黑。合和諸藥，各有所主。其造作粉飛煉有法，文多不載，人多取雜鐵作飛之，其體重，真鋼則不爾。其針砂，市人錯柔鐵為屑，和砂飛為粉賣之，飛煉家亦莫辨取鋼鐵為粉勝之。</p>
<h4>鐵落</h4>
<p>味辛甘，平，無毒。主風熱惡瘡，瘍疽瘡痂，疥氣在皮膚中，除胸膈中熱氣，食不止煩，去黑子。日華子云：治心驚邪，一切毒蛇蟲蠶漆咬瘡，腸風痔　，脫肛，時疾熱並染須發。鐵落是鍛鐵皮甲落者。一名：鐵液，可以染皂。</p>
<h3>鋼鐵</h3>
<p>味甘，無毒。主金瘡，煩滿熱中，胸膈氣塞，食不化。一名跳鐵。</p>
<h4>鐵精</h4>
<p>平，微溫。主明目，化銅，療驚悸，定心氣，小兒風癇，陰　脫肛。</p>
<h4>鐵錘</h4>
<p>主賊風，止產後血瘕腹痛及喉痹熱塞。並燒令赤，投酒中，及熱飲之。時人呼血瘕為兒枕，產後即起，痛不可忍，無錘用斧。</p>
<h4>柔鐵</h4>
<p>主堅肌耐痛。一云：作熟鐵。日華子云：鐵味辛，平，有毒。畏：磁石、灰炭等，能制石亭脂毒。</p>
<h3>石蟹</h3>
<p>味鹹，寒，無毒。主青盲，目淫，膚翳及丁翳，漆瘡。生：南海。又云：是尋常蟹爾年月深久水沫相著，因化成石，每遇海潮即漂出。又一般入洞穴年深者亦然。皆細研水飛入諸藥相佐用之。點目良。日華子云：涼。解一切藥毒並蟲毒，催生落胎，療血暈，消治天行熱疾。並熟水磨服也。又云：浮石，平，無毒。止渴，治淋，殺野獸毒。醋摩敷亦解金石毒。</p>
<h3>長石</h3>
<p>味辛苦，寒，無毒。主身熱，胃中結氣，四肢寒厥，利小便，通血脈，明目，去翳眇下三蟲，殺蟲毒，止消渴，下氣，除脅肋肺間邪氣。生：長子山谷及太山、臨淄。今唯潞有之。文如馬齒，方而潤澤玉色，此石頗似石膏，但濃大縱理而長為別耳。采：無時。</p>
<h4>理石</h4>
<p>味辛甘，寒、大寒，無毒。主身熱，利胃，解煩，益精明目，破積聚，去三蟲，除營中去來大熱、結熱，解煩毒，止消渴及中風痿痹。滑石為之使。惡：麻黃。生：漢中山谷及廬山。如石膏順理而細。</p>
<h3>太陰玄精石</h3>
<p>味鹹，溫，無毒。主除風冷邪氣濕痹，益精氣，婦人痼冷漏下，心腹積聚冷氣，解肌。其色青白，龜背者良。出：解縣。鹽精：味更鹹苦，青黑色，大者三、二寸鏵嘴，三月、四月采。亦主除風冷。無毒。又名泥精，蓋玄精之類也。及治傷寒。</p>
<h3>珊瑚</h3>
<p>味甘，平，無毒。主宿血，去目中翳，鼻衄，末吹鼻中。日華子云：鎮心，止驚，目。《海藥》：按《晉列傳》云：石崇金穀園珊瑚樹，交加苑生蕊。味甘，平，無毒血、風癇等疾。按其主治與金相似也。《唐本》注：似玉紅潤，中有孔或無孔。生波斯國。</p>
<h4>馬腦</h4>
<p>味辛，寒，無毒。主辟惡，熨目赤爛。生：西國。</p>
<h4>馬銜</h4>
<p>無毒。主難產，小兒癇。產婦臨產時手持之，亦煮汁服一盞。此馬勒口鐵也，性平。</p>
<p>華子云：右鋌作醫工針也。</p>
<h2>玉石部下品</h2>
<h3>珊瑚</h3>
<h4>伏龍肝</h4>
<p>味辛，微溫。主婦人崩中，吐血，止咳逆，止血，消癰腫、毒瓦斯。《藥性論》云：亦可。咸，無毒。日華子云：熱，微毒。治鼻洪，腸風，帶下，血崩，泄精，尿血，催胞及小兒夜啼。一云：治心痛及中風心煩。陶隱居云：此灶中對釜月下黃土也。</p>
<h3>砒霜</h3>
<p>味苦酸，有毒。主諸瘧，風痰在胸膈，可作吐藥。日華子云：暖。治婦人血氣衝心痛落胎。又砒黃，暖，亦有毒。畏：綠豆、冷水、醋。治瘧疾，腎氣。帶之，辟蚤虱。一云治卒中風昏憒若醉，痰涎壅盛，四肢不收。凡入藥以醋煮殺毒乃用。</p>
<h4>百草霜</h4>
<p>主蟲毒，中惡，血暈，吐血，療金瘡，生肌，止血。一云：治心痛及霍亂，又治婦生。</p>
<h3>砂</h3>
<p>味鹹苦辛，溫，有毒。主積聚，破結血、爛胎，止痛下氣，療咳嗽，宿冷，去惡肉，生好肌。陳臟器云：主婦人丈夫羸瘦積病，血氣不調，腸鳴，食飲不消，喉中結氣、反胃吐令人能食。《藥性論》云：有大毒。畏：漿水。忌：羊血。味酸鹹。能消五金八石，腐腸胃，生食之化人心為血，能除冷病，大益陽事。蕭炳云：使。日華子云：北庭砂味辛暖，無毒。畏：一切酸。補水臟，暖子宮，消冷癖、瘀血，宿食不消，氣塊、　癖及血下，惡瘡，息肉，食肉飽脹，夜多小便，女人血氣心痛，丈夫腰胯酸重四肢不任。凡修用黃丹、鍛石作柜，鍛赤使用，並無毒。柔金銀可為焊藥。</p>
<h4>鉛丹</h4>
<p>味辛，微寒。主吐逆胃反，驚癇癲疾，除熱下氣，止小便利，除毒熱，臍攣，金瘡溢血。《藥性論》云：君。主治驚悸狂走，嘔逆，消渴，煎膏用止痛生肌。蕭炳云：臣。不入湯藥。日華子云：涼，無毒。鎮心安神，療反胃，止吐血及嗽，敷金瘡長肉及湯火瘡，並小兒瘧疾，重舌。</p>
<h3>鉛</h3>
<p>味甘，無毒。鎮心安神，治傷寒毒瓦斯，反胃嘔噦，蛇蜴咬。一云：治發背及諸癰毒瘡，明目牢齒，又鉛灰治瘰　瘡。</p>
<h4>粉錫</h4>
<p>味辛，寒，無毒。主伏尸毒螫，殺三蟲，去鱉瘕，療惡瘡，墮胎，止小便利。《藥性論》云：胡粉，使。又名定粉，味甘辛。無毒。能治積聚不消，焦炒止小兒疳痢。陳臟器云：主久痢成疳。和水及雞子白服，以糞黑為度，為其殺蟲而止痢也。日華子云：光粉無毒癰腫，　爛，嘔血，症瘕。</p>
<h4>鉛霜</h4>
<p>冷，無毒。消痰，止驚悸，解酒毒，療胸膈煩悶，中風痰實，止渴，又治鼻衄。鉛霜於鉛。其法以鉛雜水銀十五分之一合煉作片，置醋瓮中密封，經久成霜。亦謂之鉛白霜，性極冷，入風痰及嬰孺驚癇藥用。</p>
<h4>銅青</h4>
<p>平，微毒。治婦人血氣心痛，合金瘡，止血，明目，去膚赤息肉。生銅皆有青，青則之精華，銅器上綠色者是，北庭署者最佳。治目時淘洗用。陳臟器云：青銅明目，去膚赤合金瘡，止血，入水不爛，令瘡黑青，生熟銅皆有。</p>
<h3>鍛石</h3>
<p>味辛，溫。主疽瘍疥瘙，熱氣惡瘡，癩疾，死肌墮眉，殺痔蟲，去黑子息肉。《藥性云：治　疥，蝕惡肉，不入湯服。止金瘡血，和雞子白、敗船茹，甚良。日華子云：味無毒。生肌長肉，止血，並主白癜，　瘍，瘢疵等。療冷氣，婦人粉刺，痔　疽瘡，癭贅子，又治產後陰不能合，濃煎汁熏洗。解酒味酸，令不壞。治酒毒，暖水臟，倍勝爐灰。</p>
<p>中山川穀，今近山生石青白色，作灶燒竟，以水沃之，即熱蒸而解末矣。</p>
<h3>石</h3>
<p>味辛甘，大熱，生溫熟熱，有毒。主寒熱，鼠　蝕瘡，死肌，風痹，腹中堅，癖邪氣除熱，明目，下氣。除膈中熱，止消渴，益肝氣，破積聚痼冷腹痛，去鼻中息肉。久服筋攣。火煉百日，服一刀圭，不煉服則殺人及百獸。得：火，良。棘針為使。惡：馬目屎、虎掌、細辛。畏：水。《藥性論》云：使，鉛丹為之使。味甘，有小毒。主除積氣，去冷風濕痹瘙癢皆積年者。忌：羊血。殺：鼠。</p>
<h3>代赭石</h3>
<p>味苦甘，寒，無毒。主鬼疰，賊風，蟲毒，殺精物惡鬼，腹中毒邪氣。女子赤沃漏帶下百病，產難胞衣不出，墮胎，養血氣。除五臟血脈中熱，血痹血瘀，大人小兒驚氣及陰痿不起。《藥性論》云：使。雁門城土、乾薑為使。味甘。平。主治女子崩中淋瀝不止，療生子不落，辟鬼魅。蕭炳云：臣。日華子云：止吐血，鼻衄，腸風痔　，月經不止，兒天雄、附子。</p>
<h3>石燕</h3>
<p>以水煮汁飲之，主淋有效，婦人難產，兩手各把一枚立驗。陳臟器云：主消渴。日華云：涼，無毒。一云：治傷寒小腹脹滿、小便不通及久患腸風痔　一二十年不瘥，面色虛飲食無味及患臟腑傷損，多患泄瀉，暑月常瀉不止及諸淋瀝，久患消渴，婦人月候湛濁白帶下多年不瘥，並皆主之。</p>
<h4>戎鹽</h4>
<p>味鹹，寒，無毒。主明目，目痛，益氣，堅肌骨，去毒蠱，心腹痛，溺血吐血、齒舌血。陳臟器云：味鹹，無毒。主眼赤，　爛，風赤，去熱煩，痰滿，頭痛，明目，鎮心，主蛇，惡蟲毒，疥癬，癰腫，瘰　。日華子云：平。助水臟，益精氣，除五臟症結，心積聚痛。</p>
<h3>白堊</h3>
<p>味苦辛，溫，無毒。主女子寒熱症瘕，月閉積聚，陰腫痛，漏下，無子，泄痢。《藥論》云：使。味甘，平。主女子血結，月候不通，能澀腸止痢，溫暖。日華子云：味甘，痔，泄精，男子水臟冷，鼻洪吐血。入藥燒用。生：邯鄲山谷。</p>
<h3>青琅</h3>
<p>味辛，平，無毒。主身癢，火瘡癰傷，白禿，疥瘙，死肌，侵淫在皮膚中。煮煉服陰氣，可化為丹。日華子云：玻璃，冷，無毒。安心止驚悸，明目，摩翳障。陳臟器云：玻璃，主身熱目赤，以水浸令冷，熨之。殺錫毒，得水銀良。畏：雞骨。</p>
<h3>自然銅</h3>
<p>味辛，平，無毒。療折傷，散血止痛，破積聚。日華子云：涼。排膿，消瘀血，續治產後血邪，安心止驚悸。以酒磨服。雷公云：石髓鉛即自然銅也，凡使勿用方金牙金牙真似石髓鉛，若誤餌吐煞人。其石髓鉛色似干銀泥。《丹房鏡源》云：可食之。</p>
<p>鉛山縣，銀場銅坑中深處有銅礦，多年礦氣結成，似馬屁勃。色紫重，食之若澀是真今人只以大　石為自然銅，誤也。</p>
<h3>金牙</h3>
<p>味鹹，無毒。主鬼疰。生蜀郡。如金色者良。《藥性論》云：君。治一切風，筋腰腳不遂。燒浸服之良。日華子云：味甘，平。治一切冷風氣，暖腰膝，補臟水，兒驚癇，入藥並燒淬，去粗汁，乃用。今出蜀漢，似粗金，大小如棋子而方，又但外色黑，不入藥。孫思邈云：治風及鬼疰，南方瘴氣，傳尸等病。葛洪云：山溪穀、茂州、維州亦有勝漢中者。</p>
<h3>金星石</h3>
<p>寒，無毒。主脾肺壅毒及主肺損吐血嗽血，下熱血，下熱涎，解眾毒。出並州、銀星石：主療與金星石大體相似。采：無時。</p>
<h3>花蕊石</h3>
<p>味澀，平。主金瘡，止血，又療產婦血暈惡血。出陝華諸郡，色正黃，形之大小方定。欲服者當以大火燒之，金瘡止血正爾，刮末敷之即合，仍不作膿潰。古方未用，近合硫黃同　研末，敷金瘡其效如神。又倉猝中金刃，不及　合，但刮石上，取細末敷之，亦效。采無時。</p>
<h3>礞石</h3>
<p>治食積不消留滯在臟腑，宿食症塊久不瘥及小兒食積羸瘦，婦人積年食症，攻刺心腹得：　砂、巴豆、大黃、京三棱等良。可作丸服之，用之細研為粉。一名青礞石。</p>
<h3>古文錢</h3>
<p>性平。治翳障，明目，療風赤眼，鹽鹵浸用。又治婦人橫逆產，心腹痛，月膈五淋燒以醋淬用。</p>
<h3>蛇黃</h3>
<p>主心痛疰忤，石淋，產難，小兒驚癇。以水煮，研服汁。出嶺南，蛇腹中得之，圓如錫，黃黑青雜色。日華子云：冷，無毒。如入藥，燒赤三、四次，醋淬飛研用之。《圖經》云：今醫家用者，大如彈丸堅如石，外黃內黑，二月采，云是蛇冬蟄時所含土到春發蟄吐之。</p>
<h3>硼砂</h3>
<p>味苦辛，暖，無毒。消痰止嗽，破症結喉痹及焊金銀用。或名硼砂。《圖經》云：出海。性溫平。今醫家治咽喉最為切要，其狀有塊者甚光瑩。</p>
<h2>草部上品之上</h2>
<h3>黃精</h3>
<p>味甘，平，無毒。主補中益氣，除風濕，安五臟，久服輕身。《藥性論》云：君。日華子云：補五勞七傷，助筋骨，止飢，耐寒暑，益脾胃，潤心。《神仙芝草經》云：寬中益使五臟調良，肌肉充盛，骨體堅強，其力倍。二月采，陰乾。所在皆有，唯茅山生者</p>
<h3>菖蒲</h3>
<p>味辛，溫，無毒。主風寒濕痹，咳逆上氣，開心孔，補五臟，通九竅，明耳目，出音主耳聾癰瘡，溫腸胃，止小便利，四肢濕痹不得屈伸，小兒溫瘧，身積熱不解。《藥性云：君。味苦辛，無毒。斷鬼氣，殺諸蟲，治惡瘡。日華子云：除風下氣，丈夫水臟、血海冷敗，多忘，長智，除煩悶，止心腹痛，霍亂轉筋，治客風瘡疥，澀小便，殺腹臟蟲蚤虱，耳痛。秦皮、秦艽為使。惡：地膽、麻黃。</p>
<h3>菊花</h3>
<p>主風頭頭眩腫痛，目欲脫，淚出，皮膚死肌，惡風濕痹，療腰痛去來陶陶，除胸中煩安腸胃，利五脈，調四肢，久服利血氣。《藥性論》云：使。治身上諸風。陳臟器云：味苦。破血。朮、枸杞、桑白皮為使。日華子云：作枕明目，治四肢游風，利血脈、心胸膈壅悶。</p>
<h3>人參</h3>
<p>味甘，微寒、微溫，無毒。主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目，開心益志，療腸胃中冷，心腹鼓痛，通血脈，破堅積。《藥性論》云：主五臟氣不足，五勞傷，虛損，痿逆，保中守神。日華子云：殺金石藥毒，調中治氣，消食開胃，食之無忌。</p>
<p>茯苓為使。惡：溲　、鹵鹽。反：藜蘆。一云：馬藺為之使。消胸中痰，主肺痿吐膿及癇疾，冷氣逆上，傷寒不下食，患人虛而多夢，加用之。</p>
<h3>天門冬</h3>
<p>味苦甘，平，大寒，無毒。主諸暴風濕，保定肺氣，去寒熱，養肌膚，益氣力，利冷而能補。《藥性論》云：君。主肺氣咳逆，喘息促急，除熱，通腎氣，療肺痿生治濕疥，止消渴，去熱中風，宜久服。煮食之，令人肌體滑澤，除身中一切惡氣日華子云：貝母為使。鎮心，潤五臟，益皮膚，悅顏色，補五勞七傷，治肺氣風痹熱毒，游風，煩悶，吐血。去心用。垣衣、地黃為之使。畏：曾青。忌：毒，浮萍解之。患人體虛而熱加用妙。</p>
<h4>千裡及</h4>
<p>味苦，平，小毒。主天下疫氣，結黃，瘧瘴，蠱毒，煮服之吐下，亦搗敷瘡，蟲蛇咬處。藤生道旁籬落間有之，葉細濃，宣湖間有之。</p>
<h3>甘草</h3>
<p>國老。味甘，平，無毒。主五臟六腑寒熱邪氣。堅筋骨，長肌肉，倍力，金瘡　，解溫中下氣，煩滿短氣，傷臟咳嗽，止渴，通經脈，利血氣，解百藥毒。為九土之精，安十二種石，一千二百種草。《藥性論》云：君。忌：豬肉。諸藥中為君，調和使諸藥有主腹中冷痛，治驚癇，除腹脹滿，補益五臟，養腎氣內傷，令人陰痿，主婦人血瀝腰痛，虛而多熱加而用之。日華子云：安魂定魄，補五勞七傷，一切虛損，驚悸，煩悶，健忘。通九竅草</p>
<h3>乾地黃</h3>
<p>味甘苦，寒，無毒。主折跌絕筋傷中，逐血痹，填骨髓，長肌肉，作湯除寒熱積痹，主男子五勞七傷，女子傷中胞漏下血，破惡血，溺血，利大小腸，去胃中宿食，絕，補五臟內傷不足，通血脈，益氣力，利耳目。《藥性論》云：君。能補虛損，溫通血脈，治產後腹痛，主吐血，久服延年。日華子云：助心膽氣，安魂定魄。治驚悸心肺損，鼻衄，婦人崩中血暈。晒乾者平，用火干者溫，功用同前。</p>
<h4>生地黃</h4>
<p>大寒。主婦人崩中血不止及產後血上薄心悶絕，傷身胎動下血，胎不落，墮墜　折血留血，衄鼻吐血，皆搗飲之。《藥性論》云：忌：三白。味甘，平，無毒。解諸熱，通利月水。日華子云：生者水浸驗，浮者名天黃，半浮半沉者名人黃，沉者名地黃，佳，半沉者次，浮者劣。煎忌鐵器。得：麥門冬、清酒，良。惡：貝母。畏：蕪荑。</p>
<p>月采，陰乾。</p>
<h3>白朮</h3>
<p>味苦甘，溫，無毒。主風寒濕痹，死肌痙疸，止汗，除熱，消食。主大風在身面、風頭痛，目淚出，消痰水，逐皮間風水結腫，除心下急滿及霍亂吐下不止，利腰臍間血，益液，暖胃，消穀嗜食。《藥性論》云：君。忌：桃、李、雀肉、菘菜、青魚。味甘辛，無主多年氣痢，心腹脹痛，破消宿食，開胃，治水腫脹滿。日華子云：治五勞七傷，冷氣補腰膝及筋骨弱軟，　癖氣塊，婦人冷症瘕，溫疾，山嵐瘴氣。除煩長肌，又治內外障防風、地榆為之使。《仙經》云：亦能除惡氣，彌災　。今處處有之，出茅山者佳。</p>
<h3>菟絲子</h3>
<p>味辛苦，平，無毒。主續絕傷，補不足，益氣力，肥健，汁去面　，養肌，強陰，骨，主莖中寒，精自出，溺有餘瀝，口苦燥渴，寒血為積。《藥性論》云：君。治男虛冷，添精益髓，去腰疼膝冷，又主消渴熱中。日華子云：補五勞七傷，治鬼交泄精，潤心肺。得：酒，良。薯蕷、松脂為使。惡：　菌。《仙經俗方》並以為補藥。九月曝乾用。</p>
<h3>牛膝</h3>
<p>君。味苦酸，平，無毒。主寒濕痿痹，四肢拘痿，膝痛不可屈伸。逐血氣，傷熱火墮胎，療傷中少氣，男子陰消，老人失溺。補中續絕，填骨髓，除腦中痛及腰脊痛，婦水不通，血結，益精，利陰氣。《藥性論》云：臣。忌：牛肉。能治陰痿，補腎，填精惡血流結，助十二經脈，病患虛羸加用。日華子云：破症結，排膿止痛，產後心腹痛並落死胎，壯陽。惡：螢火、陸英、龜甲。畏：白前。唯懷州者真。</p>
<h3>茺蔚子</h3>
<p>味辛甘，微溫，微寒、無毒。主明目，益精，除水氣，療血逆，大熱頭痛心煩。日云：治產後血脹，及治勒乳痛成癰。一云：治折傷瘀血及小兒疳痢、痔疾。莖：主癮疹可作湯浴之。一名益母，一名益明，生海濱池澤，五月采。一云：搗莖敷疔腫，服汁內消，又下子死腹中。</p>
<h3>葳蕤</h3>
<p>味甘，平，無毒。主中風寒熱，不能動搖，跌筋結肉，諸不足，心腹結氣虛熱，濕毒痛，莖中寒及目痛　爛淚出。《藥性論》云：葳蕤，君。主時疾寒熱，內補不足，去虛勞熱，頭痛。蕭炳云：補中益氣。日華子云：除煩悶，止渴，潤心肺，補五勞七傷，虛腳疼痛，天行熱狂。畏：鹵鹹。</p>
<h3>防葵</h3>
<p>味辛甘苦，寒，無毒。主疝瘕腸泄，膀胱熱結，溺不下，咳逆溫瘧，癲癇驚邪狂走五臟虛氣，小腹支滿臚脹，口乾。除腎邪，強志，久服堅骨髓，益氣輕身。《藥性論》云：君。有小毒。能治疝氣，　癖氣塊，膀胱宿水，血氣瘤，治鬼瘧，主百邪鬼精怪，通氣。</p>
<h3>羌活</h3>
<p>味苦甘，平，微溫，無毒。主風寒所擊，金瘡止痛，奔豚癇　，女子疝瘕。療諸賊風百節痛風無久新者。一名獨活。《藥性論》云：君。味苦辛。能治中諸風濕冷，奔喘逆氣皮虛損冷氣，骨節酸疼，通利五臟。獨活即羌活母類也。《唐本》注：療風獨活，兼水用羌活。豚實為使。生壅州、隴西、南安，二、八月采根，曝乾。</p>
<h3>柴胡</h3>
<p>君。味苦，平、微寒，無毒。主心腹，去腸胃中結氣，飲食積聚，寒熱邪氣，推陳新。除傷寒心下煩熱，諸痰結實，胸中邪逆，五臟間游氣，大腸停積，水脹及濕痹拘攣，可作浴湯。《藥性論》云：能治熱勞骨節煩疼，熱氣肩背疼痛，宣暢血氣，勞乏羸瘦，主五勞七傷，除煩止驚，益氣力，消痰止嗽，潤心肺，添精補髓，天行瘟疾，熱狂乏絕，胸氣滿，健忘。得：茯苓、桔梗、大黃、石膏、麻子仁、甘草、桂，以水一斗煮取四升，入石三方寸匕，療傷寒寒熱頭痛，心下煩滿。半夏為之使。惡：皂莢。畏：女菀、藜蘆。</p>
<h3>薏苡仁</h3>
<p>味甘，微寒，無毒。主筋急拘攣不可屈伸，風濕痹，下氣，除筋骨邪氣不仁，利消水腫，令人能食，久服輕身益氣。其根下三蟲。《藥性論》云：能治熱風筋脈攣人食。主肺痿肺氣，吐膿血，咳嗽涕唾上氣。孟詵云：性平。治干濕香港腳。昔，馬破五溪毒腫。</p>
<h3>麥門冬</h3>
<p>君。味甘，平、微寒，無毒。主心腹結氣，傷中傷飽，胃絡脈絕，羸瘦短氣，身重，心下支滿，虛勞客熱，口乾煩渴。止嘔吐，愈痿蹶，強陰益精，消穀調中，保神，定肺氣，安五臟，令人肥健，美顏色，有子。《藥性論》云：使。能治熱毒，止煩渴，主大水面目肢節浮腫，下水，治肺痿吐膿，主泄精，療心腹結氣。日華子云：治五勞七傷，安魂定魄，止渴，肥人，時疾熱狂頭痛，止嗽。地黃、車前為使。惡：款冬、苦瓠。畏：苦參、青葙、木耳。</p>
<h3>升麻</h3>
<p>味甘苦，平、微寒，無毒。主解百毒，殺百精老物殃鬼，辟溫疫瘴氣邪氣，蠱毒入口皆吐出，中惡腹痛，時氣毒　，頭痛寒熱，風腫諸毒，喉痛口瘡。《藥性論》云，主小兒風，驚癇，時氣熱疾，能治口齒風　腫疼，牙根浮爛惡臭，熱毒膿血。除心肺風毒熱壅閉不通，癰腫，豌豆瘡。日華子云：安魂定魄，並鬼附啼泣，游風腫毒，口氣疳　。今醫家以治咽喉腫痛，口舌生瘡，解傷寒頭痛，凡腫毒之屬，殊效。細銼一兩，水一升煎取濃汁，服之入口即吐出毒瓦斯。</p>
<h3>車前子</h3>
<p>味甘咸，寒，無毒。主氣癃，止痛，利水道小便，除濕痹。男子傷中，女子淋瀝，食，養肺強陰，益精，令人有子，明目，療赤痛。葉及根：味甘，寒。主金瘡止血，衄瘀血，血瘕下血，小便赤。止煩下氣，除小蟲。《藥性論》云：君。味甘，平。能去風肝中風熱，毒風沖眼，目赤痛，障翳，腦痛淚出，壓丹石毒，去心胸煩熱。葉：主泄精治尿血，能補五臟，明目，利小便，通五淋。日華子云：常山為使。通小便淋瀝，壯陽脫精。一云：其葉今醫家生研，水解飲之，治衄血甚善。</p>
<h3>澤瀉</h3>
<p>味甘咸，寒，無毒。主風寒濕痹，乳難，消水，養五臟，益氣力，肥健，補虛損五勞除五臟痞滿，起陰氣，止泄精，消渴，淋瀝，逐膀胱、三焦停水。葉：味鹹，無毒。主大乳汁不出，產難，強陰氣。實：味甘，無毒。主風痹，消渴，益腎氣，強陰，補不足，氣。《藥性論》云，味苦。能主腎虛精自出，治五淋，利膀胱熱，宣通水道。日華子云五勞七傷，主頭旋，耳虛鳴，筋骨攣縮，通小腸，止遺瀝，尿血，催生，難產，補女人令人有子。葉：壯水臟，下乳，通血脈。畏：海蛤、文蛤。</p>
<h3>木香</h3>
<p>味辛，溫，無毒。主邪氣，辟毒疫溫鬼，強志，主淋露。療氣劣，肌中偏寒，主氣不，消毒，殺鬼精物，溫瘧蠱毒，行藥之精。《藥性論》云：君。治女人血氣刺心痛不可忍，九種心痛，積年冷氣，　癖症塊脹痛，逐諸壅氣上衝煩悶，治霍亂吐瀉，心腹　刺。日華子云療毒腫，消惡氣。生：永昌，今廣州者亦佳。</p>
<h3>薯蕷</h3>
<p>味甘，溫、平，無毒。主傷中，補虛羸，除寒熱邪氣，補中，益氣力，長肌肉，主頭游風，風頭眼眩，下氣，止腰痛，補虛勞羸瘦，充五臟，除煩熱，強陰。《藥性論》云：能補五勞七傷，去冷風，止腰疼，鎮心神，安魂魄，補心氣不足。日華子云：助五臟，骨，長志安神，主泄精。紫芝為使。惡：甘遂。</p>
<h3>遠志</h3>
<p>君。味苦，溫，無毒。主咳逆傷中，補不足，除邪氣，利九竅，益智慧，耳目聰明不忘，強志倍力。利丈夫，定心氣，止驚悸，益精，去心下膈氣，皮膚中熱，面目黃。《性論》云：畏：蠐螬。治心神健忘，安魂魄，令人不迷，堅壯陽道，主夢邪。日華子云：膈氣驚魘，長肌肉，助筋骨，婦人血噤失音，小兒客忤。服無忌。得：茯苓、冬葵子、龍良。殺：天雄、附子毒。畏：珍珠、藜蘆、蜚蠊、齊蛤。生：太山及冤句川穀。四月采</p>
<h4>小草</h4>
<p>遠志葉名小草。主益精，補陰氣，止虛損夢泄。</p>
<h3>細辛</h3>
<p>味辛，溫，無毒。主咳逆，頭痛腦動，百節拘攣，風濕痹痛，死肌。溫中下氣，破痰利水道，開胸中，除喉痹，　鼻，風癇，癲疾，下乳結，汗不出，血不行，安五臟，益肝膽，通精氣，久服明目，利九竅。《藥性論》云：臣。忌生菜。味苦辛。治咳逆上氣，惡風，風聚療滑即</p>
<h3>石斛</h3>
<p>味甘，平，無毒。主傷中，除痹，下氣，補五臟虛勞羸瘦，強陰，益精，補內絕不足平胃氣，長肌肉，逐皮膚邪熱痱氣，腳膝疼冷痹弱，久服濃腸胃，輕身延年，定志除驚。</p>
<p>藥性論》云：君。益氣除熱，主治男子腰腳軟弱，健陽，逐皮肌風痹，骨中久冷，虛損，補腎積精，腰痛，養腎氣，益力。日華子云：暖水臟，輕身，益智，平胃氣，逐虛邪，治虛損劣弱，壯筋骨。陸英為之使。惡：凝水石、巴豆。畏：僵蠶、雷丸。</p>
<h3>巴戟天</h3>
<p>味辛甘，微溫，無毒。主大風邪氣，陰痿不去，強筋骨，安五臟，補中，增氣益志，療頭面游風，小腹及陰中相引痛，下氣，補五勞，益精，利男子。《藥性論》云：使。治夜夢鬼交泄精，強陰。日華子云：味苦。安五臟，定心氣，除一切風，治邪氣，療水腫盆子為使。惡：朝生、雷丸、丹參。</p>
<h3>赤箭</h3>
<p>味辛，溫。主殺鬼精物，蠱毒，惡氣，消癰腫，下支滿，疝，下血。久服益氣力，長肥健。《藥性論》云：赤箭無毒。一名離母，一名鬼督郵。生陳倉川穀、壅州及太山少三月、四月、八月采根，陰乾。</p>
<h3>子</h3>
<p>味苦，微寒，微溫，無毒。主五臟瘀血，腹中水氣，臚脹留熱，風寒濕痹，身體諸療心下堅，膈中寒熱，周痹，婦人月水不通，消食，明目。《藥性論》云：味辛苦。益主男子陰痿不起，治心腹脹滿，能消瘀血。日華子云：治腰腳重痛，膀胱疼，明目及骨痛，不下食。荊實、薏苡為使。《千金翼》：韋宙獨行方：主　折瘀血，單用煮服之。</p>
<p>云：今人亦打撲損多用此法，飲散皆通，其功最速。處處有之。</p>
<h3>卷柏</h3>
<p>味辛甘，溫、平、微寒，無毒。主五臟邪氣，女子陰中寒熱痛，症瘕，血閉，絕子。</p>
<p>咳逆，治脫肛，散淋結，頭中風眩，痿蹶，強陰益精。《藥性論》云：君。能治月經不尸疰鬼疰，腹痛，去百邪鬼魅。日華子云：鎮心，治邪啼泣，除面　，頭風，暖水臟。生破血，炙用止血。</p>
<h3>龍膽草</h3>
<p>味苦，寒，大寒，無毒。主骨間寒熱，驚癇邪氣，續斷傷，定五臟，殺蠱毒，除胃熱，時氣溫熱，熱泄下痢，去腸中小蟲，益肝膽氣，止驚惕。日華子云：小豆為使。治疳氣，熱病狂語，瘡疥，明目，止煩。生：齊朐山谷及冤句。狀似牛膝，味甚苦，故名。君。貫眾為之使。惡：防葵、地黃。</p>
<h2>草部上品之下</h2>
<h3>黃連</h3>
<p>味苦，寒、微寒，無毒。主熱氣目痛，　傷淚出，明目，腸　腹痛下痢，婦人陰中腫五臟冷熱。久下泄　膿血，止煩渴，大驚，除水利骨，調胃濃腸，益膽，療口瘡。《藥云：殺小兒疳蟲，點赤眼　痛，鎮肝，去熱毒。惡：菊花、芫花、玄參、白蘚、僵蠶款冬、冷水。勝烏頭。解：巴豆毒。忌：豬血。</p>
<h3>藍實</h3>
<p>味苦，寒，無毒。主解諸毒，殺蠱　、疰鬼、螫毒，久服頭不白，輕身。其葉汁殺毒，解野狼毒，射罔毒，其莖葉可以染青。生河內平澤。《藥性論》云：君。味甘。能填骨髓明目，利五臟，調五腑，利關節，治經絡中結氣，使人健，少睡，益心力。藍汁止心煩燥解蠱毒。日華子云：吳藍味苦甘，冷，無毒。治天行熱狂，疔瘡，游風熱毒，風疹，除渴，殺疳，解毒藥，毒箭，金瘡血悶，蟲蛇傷，毒刺，鼻洪吐血，排膿，寒熱頭痛，赤產後血暈。解金石藥毒，解野狼毒，射罔毒，小兒壯熱、熱疳。一云：尖葉者為勝，甚療蜂毒。</p>
<h3>芎</h3>
<p>味辛，溫，無毒。主中風入腦頭痛，寒痹，筋攣緩急，金瘡，婦人血閉無子。除腦中動，面上游風去來，目淚出，多涕唾，忽忽如醉，諸寒冷氣，心腹堅痛，中惡，猝急腫痛脅風痛，溫中內寒。《藥性論》云：臣。能治腰腳軟弱，半身不遂，主胞衣不出，治腹內冷宿血，養新血，長肉，鼻洪，吐血及溺血，痔　，腦癰發背，瘰　癭贅，瘡疥，及排膿消瘀血。得細辛，療金瘡止痛。得牡蠣，療風頭吐逆。白芷為之使。畏：黃連。</p>
<h3>絡石</h3>
<p>味苦，溫，微寒，無毒。主風熱死肌癰傷，口乾舌焦，癰腫不消，喉舌腫不通，水漿下，大驚入腹，除邪氣，養腎，主腰髖痛，堅筋骨，利關節。《藥性論》云：君。惡鐵精殺孽毒。味甘，平。治喉痹。日華子云：木蓮藤汁敷白癜，　瘍，風惡疥癬。牡丹、杜仲使。惡：鐵落。畏：貝母、菖蒲。生：岩石。</p>
<h3>蒺藜子</h3>
<p>味苦辛，溫，微寒，無毒，主惡血，破症結積聚，喉痹，乳難，身體風癢，頭痛，傷肺，肺痿，止煩，下氣。小兒頭瘡，癰腫陰　，可作摩粉。其葉主風癢。《藥性論》云：君。味甘，有小毒。治諸風　瘍，破宿血，療吐膿，主難產，去躁熱。日華子云：治奔豚，腎氣，肺氣，胸膈滿，催生並墮胎。益精，療腫毒及水臟冷，小便多，止遺瀝，泄精，溺血。</p>
<p>入藥不計丸散，並炒去刺用。烏頭為之使。</p>
<h3>黃</h3>
<p>味甘，微溫，無毒。主癰疽，久敗瘡，排膿止痛，大風癩疾，五痔，鼠　。補虛，小兒百病，婦人子臟風邪氣，逐五臟間惡血，補丈夫虛損，五勞羸瘦，止渴，腹痛泄痢，益氣，利陰氣。生白水者，冷補。其莖葉療渴及筋攣，癰疽瘡腫。《藥性論》云：治發背。內補，主虛喘，腎衰，耳聾，療寒熱。生隴西者下補，蜀白水赤皮者微寒。日華子云：助氣，壯筋骨，長肉補血，破症癖，治瘰　，癭贅，腸風，血崩，帶下，赤白痢，產前後一切病，月候不勻，消渴，痰嗽，並治頭風，熱毒，赤目。藥中補益呼為羊肉。又云：赤水　，涼，無毒。治血，退熱毒，余功用並同上。木　，涼，無毒。治煩，排膿，力微於黃　，遇缺即倍用之。惡：龜甲。</p>
<h3>肉蓯蓉</h3>
<p>味甘酸鹹，微溫，無毒。主五勞七傷，補中。除莖中寒熱痛，養五臟，強陰，益精氣，多子，婦人症瘕，除膀胱邪氣，腰痛，止痢。《藥性論》云：臣。益髓，悅顏色，治女人血崩，壯陽，日御過倍，大補益，主赤白下。補精敗，面黑勞傷，用蓯蓉四兩，水煮令爛，薄切細研精羊肉，分為四度，下五味，以米煮粥，空心服之。日華子云：治男絕陽不興，女絕陰不產，潤五臟，長肌肉，暖腰膝，男子泄精，尿血，遺瀝，帶下陰痛。生：河西雁門。</p>
<h3>漏蘆</h3>
<p>味苦鹹，寒，大寒，無毒。主皮膚熱，惡瘡疽痔，濕痹，下乳汁，止遺溺，熱氣瘡癢。《藥性論》云：君。能治身上熱毒風生惡瘡，皮肌瘙癢癮疹。日華子云：連翹為使。治小兒壯熱，通小腸治泄精，尿血，風赤眼，乳癰，發背，瘰　，腸風，排膿，補血，治撲損，續筋骨，敷金瘡，止血，長肉，通經脈。</p>
<h3>茜根</h3>
<p>味苦，寒，無毒。主寒濕風痹，黃膽，補中，止血，內崩下血，膀胱不足，　跌，蠱毒，久服益精氣。《藥性論》云：主治六極傷心肺，吐血，瀉血。日華子云：止鼻洪，帶下，產後血暈，乳結，月經不止，腸風痔　，排膿，治瘡癤，泄精，尿血，撲損瘀血，殺蠱毒。</p>
<p>畏：鼠姑。</p>
<h3>防風</h3>
<p>味甘辛，溫，無毒。主大風頭眩痛，惡風，風邪，目盲無所見，風行周身，骨節疼痹，煩滿脅痛，脅風頭面去來，四肢攣急，字乳金瘡，內痙。葉：主中風熱汗出。《藥性論》云：臣。花主心腹痛，四肢拘急，行履不得，經脈虛羸，主骨節間疼痛。日華子云：治三十六般風，男子一切勞劣，補中益神，風赤眼，止淚及癱緩，通利五臟關脈，五勞七傷，羸損盜汗，心煩體重，能安神定思，勻氣脈。殺：附子毒。惡：乾薑、藜蘆、白蘞、芫花。</p>
<h3>蒲黃</h3>
<p>味甘，平，無毒，主心腹膀胱寒熱，利小便，止血，消瘀血，久服輕身益氣力。《藥性論》云：君。通經脈，止女子崩中不住，主痢血，止鼻衄，治尿血，利水道。日華子云：治婦人帶下、妊孕人下血墜胎，血暈血症，兒枕急痛，小便不通，腸風瀉血，游風腫毒，鼻洪吐血，下乳，止泄精，血痢。生：破血。炒：補血。</p>
<h3>續斷</h3>
<p>味苦辛，微溫，無毒。主傷寒，補不足，金瘡癰傷折跌，續筋骨，婦人乳難，崩中漏血，金瘡血內漏，止痛，生肌肉及　傷，惡血，腰痛。《藥性論》云：君。主絕傷，去諸溫毒，能宣通經脈。日華子云：助氣，調血脈，補五勞七傷，破症結瘀血，消腫毒，腸風痔，乳癰，瘰　，撲，婦人產前後一切病，面黃損虛腫，縮小便，止泄精，尿血，胎漏，子宮冷。地黃為之使。惡：雷丸。</p>
<h3>丹參</h3>
<p>味苦，微寒，無毒。主心腹邪氣，腸鳴，寒熱積聚，破螈除瘕，止煩滿，益氣，養血去心腹痼疾結氣，腰脊強，腳痹，除風邪留熱。《藥性論》云：臣。平。能治腳弱疼痹，中惡，治百邪鬼魅。日華子云：養神定志，通利關脈，治冷熱膿止痛，生肌長肉，破宿血，補新生血，安生胎，落死胎，止血邪心煩，又治惡瘡疥癬，癭贅腫毒，丹毒，頭痛，赤眼。反：</p>
<h3>五味子</h3>
<p>味酸，溫，無毒。主益氣，咳逆上氣，勞傷羸瘦，補不足，強陰，益男子精，養五除熱。《藥性論》云：君。能治中下氣，止嘔逆。日華子云：明目，暖水臟，治風，下消食，霍亂轉筋，　癖奔豚冷氣，消水腫，反胃，心腹氣脹，止渴，除煩熱，解酒毒，骨。蓯蓉為之使。惡：葳蕤，勝烏頭。</p>
<h3>旋花</h3>
<p>味甘，溫，無毒。主益氣，去面　黑色，媚好。其根味辛。主腹中寒熱邪氣，利小便又云：根主續筋也。陳臟器云：取根苗搗汁服之，主丹毒熱。根主續筋骨，合金瘡。一名金沸，一名美草。生：豫州平澤。五月采，陰乾。</p>
<h3>蛇床子</h3>
<p>味苦辛甘，平，無毒。主婦人陰中腫痛，男子陰痿，濕癢，除痹氣，利關節，癲癇瘡，溫中下氣，令婦人子臟熱，男子陰強。《藥性論》云：君。療齒痛，浴男女陰去風大益陽事，小兒驚癇。日華子云：治暴冷，暖丈夫陽氣，助女人陰氣，撲損瘀血，腰胯陰汗濕癬，四肢頑痹，赤白帶下，縮小便。凡用取仁微炒殺毒，作湯洗則生使。惡：牡丹、巴豆、貝母。</p>
<h3>地膚子</h3>
<p>味苦，寒，無毒。主膀胱熱，利便，補中，益精氣，去皮膚中熱氣，散惡瘡，疝瘕陰。《藥性論》云：君。與陽起石同服主丈夫陰痿不起，補氣益力，治陰卵　疾，可作湯浴。日華子云：治客熱，丹毒。一云：治妊娠患淋，小便數。</p>
<h3>沙參</h3>
<p>味苦，微寒，無毒。主血積驚氣，除寒熱，補中，益肺氣，療胃痹心腹痛，結熱邪頭痛及皮間邪熱。《藥性論》云：臣。能去皮肌浮風，疝氣下墜，治常欲眠，養肝氣，臟風氣。日華子云：補虛，止驚煩，益心肺，一切惡瘡疥癬及身癢，排膿，消腫毒。</p>
<h3>茵陳蒿</h3>
<p>味苦，平，微寒，無毒。主風濕寒熱邪氣，熱結，黃膽，通身發黃，小便不利，除去伏瘕。《藥性論》云：使。味苦辛，治眼目。日華子云：治天行時疾，熱狂，頭痛疼，瘴瘧，女人症瘕，並閃損。一云：山茵陳療腦痛，解傷寒發汗，行肢節滯氣，化治勞倦。家茵陳亦能解肌，下膈，去煩。</p>
<h3>天名精</h3>
<p>味甘，寒，無毒。主瘀血血瘕欲死，下血，止血，利小便，除小蟲，去痹，除胸中止煩渴，逐水，大吐下。《藥性論》云：使。味辛，治瘡，止血及鼻衄。一云：主破血肌，止渴，利小便，殺三蟲，除諸毒腫，疔瘡，　痔，金瘡內射，身癢癮疹。垣衣為使</p>
<h3>決明子</h3>
<p>味鹹苦甘，平，微寒，無毒。主青盲，目淫膚，赤白膜，眼赤痛淚出，療唇口青。</p>
<p>性論》云：臣。利五臟，除肝家熱。日華子云：馬蹄決明助肝氣，益精水，調末塗消腫太陽穴治頭痛，又貼腦心止鼻洪，作枕勝黑豆，治頭風，明目。　實為使。惡：大麻</p>
<h4>燈籠草</h4>
<p>味苦，大寒，無毒。主上氣，咳嗽，風熱，明目。所在有之，有花若燈籠，內有紅根、莖、花、實並入藥使。八月采。</p>
<h3>王不留行</h3>
<p>味苦甘，平，無毒。主金瘡，止血逐痛，出刺，除風痹內寒，止心煩，鼻衄，惡孔，婦人難產。《藥性論》云：治風毒，通血脈。日華子云：治發背，游風，風疹，經不勻。今處處有。</p>
<h2>草部中品之上</h2>
<h3>乾薑</h3>
<p>味辛，溫，大熱，無毒。主胸滿咳逆上氣，溫中，止血，出汗，逐風濕痹，腸　下痢寒冷腹痛，中惡，霍亂，脹滿，風邪諸毒，皮膚間結氣，止唾血。生者尤良。一云：治風下氣，止血，宣諸絡脈，微汗。久服令人眼暗。《藥性論》云：臣。味苦辛。治腰腎中疼冷氣，破血，去風，通四肢關節，開五臟六腑，去風毒冷痹，夜多小便，治嗽，主溫中秦艽為使，主霍亂不止，腹痛，消脹滿，冷痢，治血閉。病患虛而冷加用之。日華子云痰下氣，治轉筋吐瀉，腹臟冷，反胃乾嘔，瘀血，撲損，止鼻洪，解冷熱毒，開胃，</p>
<h3>生薑</h3>
<p>味辛，微溫。主傷寒頭痛，鼻塞，咳逆上氣，止嘔吐，去臭氣。《藥性論》云：使。</p>
<p>痰水氣滿，下氣。生與干並治嗽，療時疾，止嘔逆不下食。生和半夏主心下急痛。若中熱能食，搗汁和蜜服。又汁和杏仁作煎，下一切結氣實，心胸壅隔，冷熱氣，神效。陶隱多食傷心氣。陳藏器云：汁解毒藥，自余破血，調中，去冷，除痰，開胃。需熱，去皮冷，即留皮。秦椒為使。殺：半夏，莨菪毒。惡：黃芩、黃連、天鼠糞。</p>
<h3>葛根</h3>
<p>味甘，平，無毒。主消渴，身大熱，嘔吐，諸痹，起陰氣，解諸毒。療傷寒中風頭痛解肌，發表，出汗，開腠理，療金瘡，止痛，脅風痛。生根汁：大寒。療消渴，傷寒壯葛穀：主下痢十歲以上。葉：主金瘡止血。花：主消酒。《藥性論》云：臣。治天行上氣嘔逆，開胃下食，主解酒毒，止煩渴，治金瘡，治時疾，解熱。日華子云：冷。治胸膈煩悶，熱狂，止血痢，通小腸，排膿破血，敷蛇蟲嚙，解箭毒。陳藏器云：生，破血墮胎，解酒毒。殺：野葛、巴豆、百藥毒。</p>
<h4>葛粉</h4>
<p>味甘，大寒，無毒。主壓丹石，去煩熱，利大小便，止渴，小兒熱痞。</p>
<h3>苦參</h3>
<p>味苦，寒，無毒。主心腹結氣，症瘕積聚，黃膽，溺有餘瀝，逐水，除癰腫，補中，明目止淚，養肝膽氣，安五臟，定志，益精，利九竅，除伏熱、腸　，止渴，醒酒，小便黃赤，療惡瘡下部　，平胃氣。《藥性論》云：治熱毒風生瘡，赤癩眉脫，除大熱，治腹中冷痛中惡腹痛。日華子云：殺疳蟲，治腸風瀉血並熱痢。玄參為使。惡：貝母、漏蘆、菟絲。</p>
<p>藜蘆。</p>
<h3>栝蔞根</h3>
<p>味苦，寒，無毒。主消渴，身熱，煩滿，大熱，補虛安中，續絕傷，除腸胃中痼熱，八疸身面黃，唇干口燥，短氣，通月水，止小便利。實：主胸痹。莖葉：療中熱傷暑。日華子云：味苦，冷，無毒。補虛勞口乾，潤心肺，治手面皺，吐血，腸風瀉血，赤白痢，並炒用根：通小腸，排膿，消腫毒，生肌長肉，消撲損瘀血，治熱狂時疾，乳癰發背，痔　瘡癤。《唐本》注云：今用根作粉，大宜服石，虛熱人食之。崔元亮：療箭鏃不出，搗根敷瘡，日三易，自出。又治時疫，發黃，心狂煩熱，悶不認人者。枸杞為之使。惡：乾薑。畏：牛膝膝、乾漆。反：烏頭。</p>
<h3>當歸</h3>
<p>味甘辛，溫，大溫，無毒。主咳逆上氣，溫瘧寒熱洗洗在皮膚中，婦人漏下絕子，諸瘡瘍，金瘡，煮飲之。溫中止痛，除客血內塞，中風　汗不出，濕痹，中惡客氣，虛冷，補五臟，生肌肉。《藥性論》云：臣。惡：熱面。止嘔逆，虛勞寒熱，破宿血，主女子崩中，患人虛冷加而用之。日華子云：治一切風，一切血，補一切勞，去惡血，養新血，及主症癖。《別說》云：自古醫家方論用治婦人產後惡血上衝，倉猝取效。無急於此，世俗多以謂唯能治血。又《外台秘要》、《金匱》、《千金》等方，皆為大補不足，決取立效之藥氣，血者服之即定，此蓋服之能使氣血各有所歸。《支太醫方》：治婦人百病，諸虛不足。當地黃二兩，為末，蜜和丸，米飲下。惡：　茹。畏：菖蒲、海藻、牡蒙。</p>
<h3>芍藥</h3>
<p>味苦酸，平，微寒，有小毒。主邪氣腹痛，除血痹，破堅積，寒熱疝瘕，止痛，利小益氣，通順血脈，緩中，散惡血，逐賊血，去水氣，利膀胱大小腸，消癰腫，時行寒熱惡腹痛，腰痛。《藥性論》云：臣。強五臟，補腎氣，治心腹堅脹，婦人血閉不通，消能蝕膿。日華子云：治風補勞，主女人一切病，並產前後諸疾。赤色者多補氣，白者治血。</p>
<p>惡：石斛、芒硝。畏：硝石、鱉甲、小薊。反：藜蘆。</p>
<h3>麻黃</h3>
<p>味苦，溫，微溫，無毒。主中風傷寒頭痛、溫瘧，發表出汗，去邪熱氣，止咳逆上氣除寒熱，破症堅積聚、五臟邪氣緩急、風脅痛、字乳余疾，止好唾，通腠理，疏傷寒頭疼解肌，泄邪惡氣，消赤黑斑毒。《藥性論》云：君。能治身上毒風，　痹，主壯熱，解肌發汗溫瘧。根節能止汗。日華子云：通九竅，調血脈，開毛孔，御山嵐瘴氣。厚朴為之使惡：辛夷、石葦。</p>
<h3>通草</h3>
<p>味辛甘，平，無毒。主去惡蟲，除脾胃寒熱，通利九竅，血脈，關節，令人不忘，療疸，耳聾，散癰腫。《藥性論》云：臣。治五淋，利小便，開關格。日華子云：安心除煩止渴，退熱，明目，通小腸，排膿，止痛，催生下胞，女人血閉，月候不勻，天行時疾，痛目眩，羸劣，乳結及下乳，子名覆子。</p>
<h3>瞿麥</h3>
<p>味苦辛，寒，無毒。主關格諸癃結、小便不通，出刺，決癰腫，明目去翳，破胎墮子下閉血，養腎氣，逐膀胱邪逆，止霍亂。《藥性論》云：臣。主五淋。日華子云：催生，痔並瀉血。子：治月經不通，破血塊，排膿。葉：治小兒蛔蟲，痔疾，煎湯治丹石藥發，蓑草、牡丹為之使。惡：螵蛸。</p>
<h3>秦艽</h3>
<p>味苦辛，平、微溫，無毒。主寒熱邪氣，寒濕風痹，肢節痛，下水，利小便，療風無問新久，通身攣急。《藥性論》云：差五種黃病，解酒毒，去頭風。蕭炳云：療酒黃，疸，大效。日華子云：味苦，冷。主傳尸骨蒸，治疳及時氣。菖蒲為之使。畏：牛乳。</p>
<h3>百合</h3>
<p>味甘，平，無毒。主邪氣腹脹，心痛，利大小便，補中益氣，除浮腫，臚脹，痞滿，熱通身疼痛及乳難，喉痹。《藥性論》云：使。主百邪鬼魅，涕泣不止，除心下急滿痛，香港腳，熱咳逆。日華子云：安心，定膽，養五臟，殺蟲毒，療乳癰，發背，瘡腫並產後血暈疾。</p>
<h3>知母</h3>
<p>味苦，寒，無毒。主消渴熱中，除邪氣肢體浮腫，下水，補不足，益氣，療傷寒久瘧熱，脅下邪氣。《藥性論》云：君。治心煩躁悶，骨熱勞往來，產後蓐勞，腎氣勞，憎寒損，患人虛而口乾加用之。日華子云：治熱癆、傳尸疰病，通小腸，消痰止嗽，潤心肺，虛乏，安心止驚悸。</p>
<h3>貝母</h3>
<p>味辛苦，平、微寒，無毒。主傷寒煩熱，淋瀝，邪氣疝瘕，喉痹乳難，金瘡風痙，腹中結實，心下滿，惡風寒，目眩，項直，咳逆上氣，止煩熱渴，出汗，安五臟，利骨髓</p>
<p>《藥性論》云：臣。治虛熱，主難產，胞衣不下，點眼去膚翳，主胸脅逆氣，療時疾黃膽，與連翹同主項下癭瘤。日華子云：消痰，潤心肺，止嗽。燒灰油敷人畜惡瘡。厚朴、白薇為使。惡：桃花。畏：秦艽、礬石、莽草。反：烏頭。</p>
<h3>玄參</h3>
<p>味苦鹹，微寒，無毒。主腹中寒熱積聚，女子產乳余疾，補腎氣，令人目明。主暴中傷寒，身熱支滿狂邪，溫瘧，血瘕，下寒血，除胸中氣，下水，止煩渴，散頸下核，癰腫心腹痛，堅症。《藥性論》云：使。能治暴結熱，主熱風頭痛，傷寒復勞，散瘤癭瘰　。日惡：黃　、乾薑、大棗、山茱萸。反：藜蘆。</p>
<h3>白芷</h3>
<p>味辛，溫，無毒。主女人漏下赤白，血閉陰腫，寒熱，風頭侵目淚出，長肌膚，潤澤療風邪，久渴，吐嘔。《藥性論》云：君。治心腹血刺痛，除風邪，女人血崩，治瀝血腰日華子云：治目赤，　肉及補胎漏滑落，破宿血，補新血，乳癰，發背，瘰　，腸風，排膿止痛。當歸為使。惡：旋覆花。</p>
<h3>淫羊藿</h3>
<p>俗名仙靈脾。味辛，寒，無毒。主陰痿，絕傷，莖中痛，利小便，益氣力，堅筋骨瘰，赤癰，下部有瘡。《藥性論》云：主堅筋益骨。日華子云：紫芝為使，得酒良。</p>
<p>切冷風勞氣，補腰膝，強心力，丈夫絕陽不起，女人絕陰無子，筋骨攣急，四肢不仁。</p>
<p>紫芝為使。生：上郡。</p>
<h3>狗脊</h3>
<p>味苦甘，平、微溫，無毒。主腰背強、機關緩急，周痹寒濕膝痛，頗利老人。療失溺節，男子腳弱腰痛，風邪淋露，少氣目暗，女子傷中，關節重。《藥性論》云：味苦辛，熱。治男子女人毒風軟腳，邪氣濕痹，腎氣虛弱，補益男子，續筋骨。萆　為使。惡：敗</p>
<h3>黃芩</h3>
<p>味苦，平、大寒，無毒。主諸熱黃膽，腸　泄痢，逐水，下血閉，惡瘡，疽蝕，火瘍療痰熱，胃中熱，小腹絞痛，消穀，利小腸，女子血閉，淋露下血，小兒腹痛。《藥性論》云：：臣。治熱毒骨蒸，寒熱往來，腸胃不利，破壅氣，治五淋，令人宣暢。去關節煩悶，解熱渴，治熱腹中　痛。日華子云：下氣，主天行熱疾，疔瘡，排膿，治乳癰，發背。得：厚朴、黃連、止腹痛。得：五味子、牡蒙、牡蠣，令人有子。得：黃　、白蘞、赤小豆，療</p>
<h3>石龍芮</h3>
<p>味苦，平，無毒。主風寒濕痹，心腹邪氣，利關節，止煩滿，平腎胃氣，補陰氣不失精莖冷。《藥性論》云：能逐諸風，主除心熱躁。大戟為之使。畏：蛇蛻。反：吳茱出：兗州。</p>
<h3>紫草</h3>
<p>味苦，寒，無毒。主心腹邪氣，五疸，補中益氣，利九竅，通水道，療腹腫脹滿痛，療小兒瘡及面渣。《藥性論》云：味甘，平。能治惡瘡，　癬。一云：治傷寒時疾，發瘡疹不出。《產寶》：治淋澀，產後同。生：碭山。今處處有之。</p>
<h3>紫菀</h3>
<p>味苦辛，溫，無毒。主咳逆上氣，胸中寒熱結氣，去蠱毒，痿蹶，安五臟，療咳唾膿，止喘悸，五勞體虛，補不足，小兒驚癇。《藥性論》云：臣。能治尸疰，補虛下氣及胸脅逆氣，治百邪，鬼魅，勞氣，虛熱。日華子云：調中及肺痿吐血，消痰，止渴，潤肌膚，添骨髓。款冬花為之使。惡：天雄、瞿麥、雷丸、遠志。畏：茵陳蒿。</p>
<h3>前胡</h3>
<p>味苦，微寒，無毒。主療痰滿，胸脅中痞，心腹結氣，風頭痛，去痰實，下氣，治傷寒熱。明目，益精，《藥性論》云：使。主時氣內外熱。日華子云：治一切勞，下一切氣止嗽，破症結，開胃下食，通五臟，主霍亂轉筋，骨節煩悶，反胃嘔逆，氣喘，安胎，小兒疳。半夏為使。惡：皂莢。畏：藜蘆。</p>
<h3>白蘚皮</h3>
<p>味苦鹹，寒，無毒。主頭風，黃膽，咳逆，淋瀝，女子陰中腫痛，濕痹死肌，不可起止行步。療四肢不安，時行腹中大熱，小兒驚癇，婦人產後余痛。《藥性論》云：一切熱毒風。日華子云：通關利竅及血脈及一切風痹，筋骨弱乏，通小腸水氣，天行時疾，頭痛眼疼。惡：螵蛸、桔梗、茯苓、萆　。</p>
<h3>本</h3>
<p>味辛苦，微溫、微寒，無毒。主婦人疝瘕，陰中寒腫痛，腹中急，除風頭痛，長肌膚悅顏色，辟霧露，療風邪，　曳金瘡。《藥性論》云：臣。能治一百六十種惡風，鬼疰流腰痛冷，能化小便，通血，去頭風。日華子云：治癇疾並皮膚疵　，粉刺。畏：青箱子。</p>
<p>茹。</p>
<h3>石葦</h3>
<p>味苦甘，平，無毒。主勞熱邪氣，五癃閉不通，利小便水道，止煩下氣，通膀胱滿，五勞，安五臟，去惡風，益精氣。《藥性論》云：使。治勞及五淋，胞囊結熱不通，膀胱滿。日華子云：治淋瀝遺溺。杏仁為之使。得：菖蒲，良。生：華陰。又有生古瓦屋上者曰瓦葦，用治淋亦佳。</p>
<h3>萆</h3>
<p>味苦甘，平，無毒。主腰背痛，強骨節，風寒濕周痹，惡瘡不瘳，熱氣，傷中恚怒，痿失溺。《藥性論》云：治冷風　痹，腰腳不遂，手足驚掣，主男子　腰痛久冷，是腎間有膀胱宿水。日華子云：治癱緩軟，風頭旋，癇疾，補水臟，堅筋骨，益精明目，治腸風痔痿，中風失音。薏苡為之使。畏：葵根、大黃、柴胡、牡蠣。生：真定。今處處有之。</p>
<h3>白薇</h3>
<p>味苦鹹，平，大寒，無毒。主暴中風，身熱肢滿，忽忽不知人，狂惑邪氣，寒熱酸疼溫瘧洗洗發作有時，療傷中，淋露，下水氣，除陰氣，益精。《藥性論》云：臣。能治百鬼魅。陶隱居云：療驚邪風狂疰病。惡：黃　、大黃、大戟、乾薑、乾漆、山茱萸、大棗生：平原。</p>
<h3>大青</h3>
<p>味苦，大寒，無毒。療時氣頭痛，大熱，口瘡。《藥性論》云：臣。味甘。能去大熱疫寒熱。日華子云：治熱毒風，心煩悶，渴疾口乾，小兒身熱疾，風疹，天行熱疾及毒，又塗　腫毒。</p>
<h3>白茅根</h3>
<p>味甘，寒，無毒。主勞傷虛羸，補中益氣，除瘀血，血閉寒熱，利小便，下五淋，熱在腸胃，止渴，堅筋，婦人崩中。《藥性論》云：臣。茅：破血，主消渴，根：治五日華子云：茅針涼，通小腸，癰毒，軟癤不作頭，濃煎和酒服。花：　刀箭瘡，止血根：主婦人月經不勻，通血脈淋瀝，主鼻洪。一云：花主衄血，吐血，炙瘡。生搗茅敷金瘡止血。煮服主鼻衄暴下血。茅屋滴溜水殺雲母毒。</p>
<h2>草部中品之下</h2>
<h3>艾葉</h3>
<p>味苦，微溫，無毒。主灸百病。可作煎，止下痢，吐血，下部　瘡，婦人漏血，利陰生肌肉，辟風寒，使人有子。《藥性論》云：使。能止崩血，安胎，止腹痛，止赤白痢臟痔瀉血。煎葉：主吐血。實：主明目。日華子云：止霍亂轉筋，治心痛、鼻洪並帶下痢人後分寒熱急痛。實：暖，無毒。壯陽，助水臟，腰膝及暖子宮。一云：生寒熟熱。</p>
<p>殺蛔蟲。</p>
<h3>地榆</h3>
<p>味苦甘酸，微寒，無毒。主婦人乳　痛，七傷，帶下病，止痛，除惡血，止汗，療金止膿血，諸　，惡瘡，熱瘡，消酒，除消渴，補絕傷。《藥性論》云：味苦，平。能治余瘀疹痛，治金瘡，止血痢，蝕膿。日華子云：排膿，止吐血，鼻洪，月經不止，血崩，產前後諸血疾，赤白痢，並水瀉，止腸風。徐平云：治下血二十水二升，煮半，頓服。如不斷，水漬屋塵飲一小杯，投之不汁如飴糖，與服便巳。又毒蛇螫人，搗新根取汁飲之。得：發</p>
<h3>水萍</h3>
<p>味辛酸，寒，無毒。主暴熱身癢，下水氣，勝酒，長須發，止消渴，下氣。陳臟器云曝乾與栝蔞等分，以人乳為丸，主消渴。搗絞汁飲，主蛇咬毒入腹。亦可敷熱瘡。小萍子：汁主水腫，利小便。又中毒，曝乾末酒服方寸匕。日華子云：治熱毒風熱，疾熱在脅，腫毒，湯火瘡，風疹。</p>
<h3>大小薊根</h3>
<p>味甘，溫。主養精保血。大薊主女子赤白沃，安胎，止吐血，衄鼻。《藥性論》薊可單用，味苦，平。止崩中，血下，生取根絞汁服。日華子云：小薊根涼，無毒。</p>
<p>風並胸膈煩悶，開胃下食，退熱，補虛損。苗：去煩熱，生研汁服。小薊力微，只可大薊能補養下氣。</p>
<h3>海藻</h3>
<p>味苦鹹，寒，無毒。主癭瘤氣，頸下核，破散結氣，癰腫，症瘕，堅氣，腹中上下鳴下十二水腫，療皮間積聚，暴潰，留氣，熱結，利小便。《藥性論》云：臣。味鹹，有小主辟百邪鬼魅，治氣疾急滿，療疝氣下墜，疼痛核腫。孟詵云：主起男子陰氣，常食之子潰疾。《海藥方》：主宿食不消，五膈痰壅，水氣浮腫，香港腳，奔豚氣，並良。《肘治頷下瘰　如梅李及頸下猝結囊欲成癭，海藻一斤，酒二升，漬數日，稍稍飲。</p>
<h3>天麻</h3>
<p>味辛，平，無毒。主諸風濕痹，四肢拘攣，小兒風癇驚氣，利腰膝，強筋力。《藥性云：能治冷氣　痹，癱緩不遂，語多恍惚、多驚失志。陳臟器云：主熱毒癰腫，搗莖葉亦取子作飲，去熱毒。日華子云：助陽氣，補勞傷，鬼疰，蠱毒，通血脈，開竅。</p>
<h3>澤蘭</h3>
<p>味苦甘，微溫，無毒。主乳婦內衄，中風余疾，大腹水腫，身面四肢浮腫，骨節中金瘡癰腫，產後、金瘡內塞。《藥性論》云：使。味苦辛。主產後腹痛，頻產血氣衰冷羸瘦。日華子云：通九竅，利關脈，養血氣，破宿血，消症瘕，產前後百病，通小腸，生肌，消撲損瘀血，治鼻洪吐血，頭風目痛，婦人勞瘦，丈夫面黃。</p>
<h3>阿魏</h3>
<p>味辛，平，無毒。主殺諸小蟲，去臭氣，破症積，下惡氣，除邪鬼蠱毒。蕭炳云：今日煎蒜白為假者，真者極臭而去臭為奇物，今下細蟲極效。日華子云：熱。治傳尸，破症瘕冷氣，辟溫，治瘧，兼主霍亂心腹痛，腎氣，溫瘴，御一切蕈、菜毒。生：西蕃。</p>
<h3>高良薑</h3>
<p>大溫。主暴冷，胃中冷逆，霍亂腹痛。《藥性論》云：能治腹內久冷，胃氣逆，嘔治風，破氣，腹冷氣痛，去風冷痹弱，療下氣，冷逆衝心，腹痛吐瀉。日華子云：治轉痢，反胃嘔食，解酒毒，消宿食。古方：單用治忽心中惡，口吐清水。取根如骰子塊，咽津瘥，若臭，加草豆蔻煎飲。</p>
<h3>香子</h3>
<p>味辛，平，無毒。主諸　，霍亂及蛇傷。《藥性論》云：可單用，味苦辛。和諸香。破一切臭氣，又猝惡心腹中不安，取莖葉煮食之即瘥。日華子云：得酒，良。</p>
<p>氣並腎勞　疝氣，開胃下食，治膀胱痛，陰疼。古方：療惡毒癰腫。一云：有助</p>
<h3>防己</h3>
<p>味辛苦，平、溫，無毒。主風寒溫瘧、熱氣諸癇，除邪，利大小便，療水腫、風腫，膀胱熱，傷寒寒熱邪氣，中風手腳攣急，止泄，散癰腫，惡結，諸蝸疥癬蟲瘡，通腠理，九竅。《藥性論》云：漢防己，君。味苦，有小毒。能治濕風口眼　斜、手足疼，散留痰，主肺氣嗽喘。木防己：使。畏：女菀、鹵鹹，味辛苦。治男子肢節中風，毒風不語，主散結氣，癰腫，溫瘧，風水腫，治膀胱。殷孽為之使。殺：雄黃毒。惡：細辛。畏：萆　。</p>
<h3>京三棱</h3>
<p>味苦，平，無毒。主老癖症瘕結塊。日華子云：味甘澀。治婦人血脈不調，心腹痛，落胎，消瘀血，產後腹痛，血暈並宿血不下。《外台秘要》：下乳汁。取三個，水二碗，煎取一碗，洗奶取汁為度，極妙。《子母秘錄》：治小兒氣癖及癇熱，無辜　癖等。</p>
<h3>薑黃</h3>
<p>味辛苦，大寒，無毒。主心腹結積，疰忤，下氣，破血，除風熱，消癰腫，功力烈於金。日華子云：熱，無毒。治症瘕血塊，癰腫，通月經，治撲損瘀血，消腫毒，止暴風痛氣，下食。海南生者名蓬莪朮，江南生者即為薑黃。一云：治氣為最。</p>
<h3>鬱金</h3>
<p>味辛苦，寒，無毒。主血積，下氣，生肌，止血，破惡血，血淋，尿血，金瘡。《藥論》云：單用亦可。治女人宿血氣結聚，溫醋摩服。亦啖馬藥，用治脹痛，破血而補。《經驗方》：治尿血不定。蔥白相和煎服。生：蜀中者佳，胡人謂之馬術。</p>
<h3>款冬花</h3>
<p>味辛甘，溫，無毒。主咳逆上氣，善喘，喉痹，諸驚癇，寒熱邪氣，消渴，喘息呼</p>
<p>《藥性論》云：君。主肺氣心促，急熱乏勞，咳連連不絕，涕唾稠黏，治肺癰吐膿。日子云：潤心肺，益五臟，除煩，補勞劣，消痰止嗽，肺痿吐血，心虛驚悸，洗肝明目及中風。杏仁為之使。得：紫菀，良。惡：皂莢、硝石、玄參。畏：貝母、辛夷、麻黃、黃　、黃芩、黃連、青葙。</p>
<h3>紅藍花</h3>
<p>味辛，溫，無毒。主產後血暈口噤，腹內惡血不盡絞痛，胎死腹中，並酒煮服。亦毒下血。堪作胭脂，主小兒　耳。《海上方》：治喉痹壅塞不通。取汁服之極驗，但咽皆瘥。治婦人產暈絕者。張仲景：治六十二種風，兼腹內血氣刺痛。《廣利方》：治血熱煩渴。</p>
<h3>牡丹</h3>
<p>味辛苦，寒、微寒，無毒。主寒熱，中風螈　，痙，驚癇邪氣，除症堅，瘀血留舍腸胃，安五臟，療癰瘡，除時氣頭痛，客熱五勞，勞熱，頭腰痛，風噤癲疾。《藥性論》云：治冷氣，散諸痛，女子經脈不通，血瀝腰疼。日華子云：除邪氣，悅色，通關腠血脈，排膿，通月經，消撲損瘀血，續筋骨，除風痹，落胎下胞，產後一切女人冷熱血氣。畏：菟絲。</p>
<p>忌：蒜。</p>
<h3>蓽茇</h3>
<p>味辛，大溫，無毒。主溫中下氣，補腰腳，殺腥氣，消食，除胃冷，陰疝，　癖。其根名蓽茇沒，主五勞七傷，陰汗，核腫。日華子云：治霍亂，冷氣，心痛，血氣。陳臟器云：蓽茇沒味辛，溫，無毒。主冷氣嘔逆，心腹脹滿，食不消，寒疝，核腫，婦人內冷無子，治腰腎冷，除血氣。</p>
<h3>青黛</h3>
<p>味鹹，寒，無毒。主解諸藥毒，小兒諸熱，驚癇發熱，天行頭痛寒熱，並水研服。亦敷熱瘡，惡腫，金瘡，下血，蛇犬等毒。《藥性論》云：君。味甘，平。能解小兒疳熱消殺蟲。又治發豌豆瘡。殺：惡蟲物化為水。</p>
<h3>蘆薈</h3>
<p>味苦，寒，無毒。主熱風煩悶，胸膈間熱氣，明目鎮心，小兒癲癇驚風，療五疳，殺蟲及痔病瘡　。解巴豆毒。《藥性論》云：可單用，殺小兒疳蛔，主吹鼻，殺腦疳，除鼻</p>
<p>《南海藥譜》云：兼治小兒諸熱。《海上方》：治　齒。以鹽揩齒令淨，然後敷少末</p>
<h3>肉豆蔻</h3>
<p>味辛，溫，無毒。主鬼氣，溫中，治冷心腹脹痛，霍亂中惡，冷疰，嘔沫，冷氣，止泄，小兒乳霍。《藥性論》云：君。味苦辛。能主小兒吐逆不乳，腹痛，治宿食不消飲。日華子云：調中下氣，止瀉痢，開胃消食，皮外絡，下氣，解酒毒，治霍亂。</p>
<h3>補骨脂</h3>
<p>味辛，大溫，無毒。主五勞七傷，風虛冷，骨髓傷敗，腎冷精流及婦人血氣，墮胎一名破故紙。《藥性論》云：味苦辛。能主男子腰疼膝冷，囊濕，逐諸冷痹頑，止小便利，腹中冷。日華子云：興陽事，治冷勞，明目。惡：甘草。忌：芸苔、羊血。</p>
<h3>零陵香</h3>
<p>味甘，平，無毒。主惡氣疰，心腹痛滿，下氣，令體香。陳臟器云：明目止淚，療去臭惡氣，傷寒頭疼。日華子云：治血氣腹脹。酒煎服莖葉。《海藥》云：主風邪沖車腫痛，虛勞疳　，凡是齒痛煎含，良。得：升麻、細辛，善。不宜多服，令人氣喘</p>
<h4>艾納香</h4>
<p>味甘，溫，無毒。去惡氣，殺蟲，主腹冷，泄痢。《海藥》云：主傷寒五泄，心腹下寸白。</p>
<h3>延胡索</h3>
<p>味辛，溫，無毒。主破血，產後諸病因血所為者，婦人月經不調，腹中結塊，崩中產後血暈，暴血衝上，因損下血，或酒摩及煮服。生：奚國。根如半夏，色黃。日華除風治氣，暖腰膝，破症癖，撲損瘀血，落胎及暴腰痛。《海藥》云：主腎氣，破產及兒枕，《聖惠方》：治墮車馬筋骨疼痛不止。</p>
<h3>縮砂蜜</h3>
<p>味辛，溫，無毒。主虛勞冷瀉，宿食不消，赤白泄痢，腹中虛痛，下氣。《藥性論君。主冷氣腹痛，止休息氣痢，勞損，消化水穀，溫暖脾胃，治冷滑下痢不禁。陳臟主上氣咳嗽，奔豚，鬼疰，驚癇，邪氣。日華子云：治一切氣。霍亂轉筋，心腹痛。</p>
<p>子、鱉甲、豆蔻、白蕪荑等，良。生：南地。</p>
<h3>胡黃連</h3>
<p>味苦，平，無毒。主久痢成疳，傷寒咳嗽，溫瘧骨熱，理腰腎，去陰汗，小兒驚癇寒熱不下食，霍亂下痢。《唐本》：大寒。主骨蒸勞熱，補肝膽，明目，治冷熱泄痢，益顏色，濃腸胃，治三消五痔，大人五心煩熱。惡：菊花、玄參、白蘚皮。解：巴豆毒。忌：豬肉。令人漏精。以人乳浸點眼甚良。一云：治傷寒勞復身熱，大小便赤如血。《別說》云：胡黃連折之塵出如煙者為真。</p>
<h3>白藥</h3>
<p>味辛，溫，無毒。主金瘡，生肌。《藥性論》云：亦可單用，味苦。能治喉中熱塞，痹不通，胸中隘塞，咽中常痛腫脹。日華子云：冷。消痰止嗽，治渴並吐血，喉閉，消毒。《圖經》云：療心氣痛，解熱毒甚效。諸瘡癰腫不散者，取生根搗爛敷貼，干即易之。</p>
<p>無生者，干為末，水調塗之。《別本》注云：解野葛、生金、巴豆、百藥毒，刀斧折傷能止血痛</p>
<h3>蓬莪朮</h3>
<p>味苦辛，溫，無毒。主心腹痛，中惡，疰忤，鬼氣，霍亂，冷氣吐酸水，解毒，療血氣，丈夫奔豚。《藥性論》云：可單用，治女兒血氣心痛，破　癖，冷氣。日華子云酒，醋，良。活一切氣，開胃消食，通月經，消瘀血，止挫損痛，下血及內損惡血。一治積聚為最要之藥，與三棱同用之，良。</p>
<h3>莎草根</h3>
<p>味甘，微寒，無毒。主除胸中熱，充皮毛，久服利人益氣。《圖經》：單服療肺風夫心肺中虛風及客熱，膀胱間連脅下時有氣妨，皮膚瘙癢，癮疹，飲食不多日漸瘦損憂愁心忪少氣。《唐本》云：根名香附子，一名雀頭香。大下氣，除胸腹中熱。交</p>
<h3>蒔蘿</h3>
<p>味辛，溫，無毒。主小兒氣脹，霍亂嘔逆，腹冷食不下，兩脅痞滿。日華子云：健脾開胃氣，溫腸，補水臟及壯筋骨，治腎氣。《海藥》云：主膈氣，消食，溫胃，善滋食味。</p>
<p>多食無損，卻不可與阿魏同合，奪其氣味。殺：魚肉毒。出：佛誓國，今所在皆有之。</p>
<h3>白前</h3>
<p>味甘，微溫，無毒。主胸脅逆氣，咳逆上氣。《藥性論》云：臣。味辛。兼主一切氣日華子云：治奔豚，腎氣，肺氣，煩悶及上氣。《唐本》云：微寒。主上氣衝喉中，呼吸絕。深師：療久咳逆上氣，體腫，短氣，脹滿，夜倚壁不得臥，常作水雞聲音，白前湯主之。白前二兩，紫菀、半夏洗各三兩，大戟七合切，四物以水一斗漬一宿，明旦煮取三升，分三服。禁食羊肉、餳，大佳。</p>
<h3>甘松</h3>
<p>味甘，溫，無毒。主惡氣，猝心腹痛滿。兼用合諸香。日華子云：治心腹脹，下氣。</p>
<p>浴令人身香。《海藥》云：陳氏云主黑皮　黯，風疳齒　，野雞痔。得：白芷、附子，良。</p>
<p>合諸香及KT　衣也。</p>
<h3>使君子</h3>
<p>味甘，溫，無毒。主小兒五疳，小便白濁，殺蟲，療瀉痢。</p>
<h3>白豆蔻</h3>
<p>味辛，大溫，無毒。主積冷氣，止吐逆，反胃，消穀，下氣。《圖經》：臣。文仲氣冷，吃食即欲吐。以白豆蔻子三枚搗篩更研細，好酒一盞，微溫調之，並飲二、</p>
<h3>薺</h3>
<p>味甘，寒。主解百藥毒。日華子云：治蛇蟲咬，熱病溫疾，　毒箭。殺：蠱毒。《圖》：古方解五石毒。又：《短劇方》治蠱，取薺　根搗末，以飲服方寸匕，立瘥。《食療》云：丹石發動，取根食之，良。出：川蜀、江浙。</p>
<h3>剪草</h3>
<p>涼，無毒。治惡瘡、疥癬、風瘙。根名白藥。《圖經》：味苦，平，有毒。主諸瘡疥牛馬諸瘡。一云：治勞瘵。入生蜜為膏服之，用冷粥飲壓之，如吐或下，不妨。如久病咯血，只一服愈。尋常咳嗽血妄行亦可。</p>
<h3>茅香花</h3>
<p>味苦，溫，無毒。主中惡，溫胃，止嘔吐，療心腹冷痛。日華子云：白茅香花塞鼻敷久不合，炙瘡，　刀箭瘡，止血並痛。煎湯止吐血，鼻衄。《海藥》云：小兒遍身瘡桃葉同煮浴之。</p>
<h3>鱧腸</h3>
<p>味甘酸，平，無毒。主血痢，針灸瘡發，洪血不可止者，敷之立愈。汁塗發眉，生速而繁。生下濕地。日華子云：排膿，止血，通小腸，長鬢發，敷一切瘡並蠶　，俗謂之旱蓮子。</p>
<h2>草部下品之上</h2>
<h3>附子</h3>
<p>味辛甘，溫、大熱，有大毒。主風寒咳逆邪氣，溫中，金瘡，破症堅積聚，血瘕寒濕，拘攣膝痛，腳疼冷弱不能行走，腰脊風寒，心腹冷痛，霍亂轉筋，下痢赤白，堅肌骨強陰，又墮胎，為百藥長。一云：療偏風半身不遂，大風冷，痰癖脹滿，嘔逆翻胃，元臟傷冷，耳聾，風牙關急，治陰盛隔陽，傷寒。地膽為使。惡：蜈蚣。生：犍為山谷。畏：防風、黑豆、甘草、黃　、人參、烏韭。</p>
<h3>烏頭</h3>
<p>味辛甘，溫，大熱，有大毒。主中風，惡風，洗洗出汗，除寒濕痹，咳逆上氣寒熱，消胸上痰，冷食不下，心腹冷疾，臍間痛，肩胛痛不可俯仰，目中痛不可久胎，其汁煎之名射罔，味苦，有大毒。療尸疰，症堅及頭中風痹痛。殺：禽獸。</p>
<p>云：使。遠志為之使。忌：豉汁。味苦辛，大熱，有大毒。能治惡風憎寒，濕痹痰包心，腸腹　痛，　癖氣塊。益陽事，中風，洗洗惡寒，除寒熱，主胸中痰滿下食。治咳逆上氣，治齒痛，破積聚寒，主強志。日華子云：土附子，味　辛，生去皮，搗濾汁澄清，旋添晒乾取膏，名為射罔，獵人將作毒箭使用。或中者，以青、小豆葉、浮萍、冷水、薺　，皆可御之。莽草為之使。反：半夏、栝蔞、貝母白芨。惡：藜蘆。</p>
<h3>天雄</h3>
<p>味辛甘，溫，大溫，有大毒。主大風，寒濕痹，歷節痛，拘攣緩急，破積聚邪氣，強筋骨，輕身健行，療頭面風去來疼痛，心腹結積，關節重不能行步，除骨間痛，長強志，令人武勇，力作不倦，又墮胎。《藥性論》云：君。忌：豉汁。大熱，有制用之。能治風痰冷痹，軟腳毒風，能止氣喘促急。殺：禽蟲毒。日華子云：治一切陽道，暖水臟，補腰膝，益精明目，通九竅，利皮膚，調血脈，四肢不遂，破　癖症結膿止痛，續骨，消瘀血，補冷氣虛損，霍亂轉筋，背脊僂傴，消風痰，下胸膈水，發汗陰汗，炮含治喉痹。遠志為之使。惡：腐婢。</p>
<h3>側子</h3>
<p>味辛，大熱，有大毒。主癰腫，風痹，歷節，腰腳疼冷寒熱，鼠　，又墮胎。《藥性云：使。能治冷風濕痹，大風，筋骨攣急。陶隱居云：今醫家以療香港腳多驗。陳臟器云治遍身風疹。冷酒調服。《圖經》：烏頭、烏喙生朗陵山谷，天雄生少室山谷，附子、側子生犍為山谷及廣漢，今並出蜀土。畏惡：與附子同。</p>
<h4>烏喙</h4>
<p>味辛，微溫，有大毒。主風濕，丈夫腎濕陰囊癢，寒熱歷節，掣引腰痛不能行步，癰腫膿結，又墮胎。《藥性論》云：使。忌：豉汁。味苦辛，大熱。治男子腎氣衰弱，陰汗，主療風溫，濕邪痛，寒熱癰腫不消者。畏惡使：並與烏頭同。</p>
<h3>半夏</h3>
<p>味辛，平。生，微寒，熟溫。有毒。主傷寒寒熱，心下堅，下氣，喉咽腫痛，頭眩胸脹，咳逆，腸鳴，止汗，消心腹胸膈痰熱滿結，咳嗽上氣，心下急痛堅痞，時氣嘔逆，消癰腫，墮胎，療痿黃。《藥性論》云：使。能消痰涎，開胃健脾，止嘔吐，去胸中痰滿，下氣，主頦結。新生者摩塗癰腫不消，能除瘤癭，氣虛有痰氣，加而用之。日華子云：味　辛。治吐食反胃，霍亂轉筋，腸腹冷，痰瘧。射干為使。忌：海藻、飴糖。惡：皂莢。畏：雄黃、生薑、乾薑、秦皮、龜甲。反：烏頭。</p>
<h3>大黃</h3>
<p>味苦，寒、無毒。主下瘀血，血閉，寒熱，破症瘕積聚，留飲宿食，蕩滌腸胃，推陳致新，通利水穀，調中化食，安和五臟，平胃下氣，除痰實，腸間結熱，心腹脹滿，女子寒血閉脹，小腹痛，諸老血留結。《藥性論》云：使。去寒熱，結聚宿食，利大小腸，貼熱毒泄用上硝</p>
<h3>葶藶</h3>
<p>味辛苦，寒，大寒、無毒。主症瘕積聚結氣，又治飲食寒熱，破堅逐邪，通利水道，膀胱水，伏留熱氣，皮間邪水上出，面目浮腫，身暴中風，熱痱癢，利小腹，又療肺壅上氣咳利小</p>
<h3>旋覆花</h3>
<p>味鹹甘，溫、微溫、冷利，有小毒。主結氣，脅下滿，驚悸，除水，去五臟間寒熱中，下氣，消胸上痰結，唾如膠漆，心脅痰水，膀胱留飲，風氣濕痹，皮間死肉，利大通血脈。《藥性論》云：使。味甘，無毒。主肋脅氣，下寒熱水腫，開胃，止嘔逆不下日華子云：明目，治頭風，通血脈。葉：止金瘡血。</p>
<h3>虎掌</h3>
<p>味苦，溫、微寒，有大毒。主心痛，寒熱，結氣，積聚，伏梁，傷筋，萎，拘緩，利水道，除陰下濕，風眩。《藥性論》云：使。味甘。能治風眩目轉，疝瘕腸痛，傷寒時疾，強陰。蜀漆為之使。惡：莽草。生：漢中山谷及冤句。二月、八月采，陰乾。</p>
<h3>草蒿</h3>
<p>味苦，寒，無毒。主疥瘙痂癢，惡瘡，殺虱，留熱在骨節間，明目。《唐本》注：生敷金瘡，大止血，生肉，止疼痛良。陳臟器：主鬼氣尸疰伏連，婦人血氣，腹內滿及冷熱久為駐顏亦用。</p>
<p>癬、風疹，殺虱，煎洗。又云：臭蒿子，涼，無毒。治勞，下氣，開胃，止盜汗及邪氣鬼毒。</p>
<p>又名治之。</p>
<h3>桔梗</h3>
<p>味辛苦，微溫，有小毒。主胸脅痛如刀刺，腹滿腸鳴，驚恐悸氣，利五臟腸胃，補血除寒熱風痹，溫中，消穀，療咽喉痛，下蠱毒。《藥性論》云：臣。治下痢，破血，去消積聚，痰涎，主肺氣氣促嗽逆，除腹中冷痛，主中惡及小兒驚癇。日華子云：下一止霍亂轉筋，心腹脹痛，補五勞，養氣，除邪辟溫，補虛，消痰，破症瘕瘀血，排膿漏，及喉痹。　毒，以白粥解。節皮為使。得：牡蠣、遠志，療恚怒。得：硝石、石傷寒。畏：白芨、龍眼、龍膽。生：蒿高山谷，近道處處有。</p>
<h3>藜蘆</h3>
<p>味辛苦，寒、微寒，有毒。主蠱毒，咳逆，泄痢，腸　，頭瘍，疥瘙，惡瘡，殺諸蟲，療噦逆，喉痹不通。《藥性論》云：使。大毒。能主上氣，去積年膿血，泄痢，惡風瘡，，用錢匕一字則惡吐。人又用通項，令人嚏，療嘔逆、未詳。黃連為使。反：細辛、芍藥、五參。惡：大黃。近道皆有之。</p>
<h3>射干</h3>
<p>味苦，平，微溫，有毒。主咳逆上氣，喉痹咽痛不得消息，散結氣，腹中邪逆，食飲大熱，療老血在心脾間，咳唾，言語氣臭，散胸中熱氣。《藥性論》云：使。有小毒。能治痹水漿不入，能通女人月閉，治疰氣喘，　癖，開胃下食，消腫毒。</p>
<h4>鉤吻</h4>
<p>味辛，溫，有大毒。主金瘡，乳　痙，中惡風，咳逆上氣，水腫，殺鬼疰蠱毒，破症積除腳膝痹痛，四肢拘攣，惡瘡疥蟲，殺鳥獸。《蜀本》云：主喉痹，咽中塞，聲變，咳逆氣，溫中。半夏為使。惡：黃芩。野葛毒草誤食則用羊血解之。一名野葛。</p>
<h3>蛇含</h3>
<p>味苦，微寒，無毒。主驚癇，寒熱，邪氣，除熱，金瘡，疽痔，鼠　，惡瘡，頭瘍，療心腹邪氣，腹痛濕痹，養胎，利小兒。《藥性論》云：臣。有毒。能治丹疹，小兒寒熱。</p>
<p>日華子云：治蛇蟲蜂虺所傷及眼赤，止血，協風疹、癰腫。莖葉俱用。又名威蛇。</p>
<h3>蜀漆</h3>
<p>味辛，平、微溫，有毒。主瘧及咳逆寒熱，腹中症堅痞結，積聚邪氣，蠱毒鬼疰，療胸瘧，治溫瘧寒熱，下肥氣積聚。日華子云：治症瘕。栝蔞為使。惡：貫眾。畏：橐吾。</p>
<h3>白蘞</h3>
<p>味苦甘，平、微寒，無毒。主癰腫疽瘡，散結氣，止痛，除熱，目中赤，小兒驚癇，瘧血邪，發背，瘰　，腸風，痔　，刀箭瘡，撲損，溫熱瘧疾，血痢，湯火瘡，生肌止痛。代赭為之使。反：烏頭。</p>
<h3>甘遂</h3>
<p>味苦甘，寒，大寒，有毒。主大腹疝瘕，腹滿，面目浮腫，留飲宿食，破症堅積聚，利水穀道，下五水，散膀胱留熱，皮中痞，熱氣腫滿。《藥性論》云：味苦。能瀉十二種水疾，治心腹堅滿，下水，去痰水，主皮肌浮腫。日華子云：京西者上。瓜蒂為使。惡：遠志。反：甘草。</p>
<h3>常山</h3>
<p>味苦辛，寒，微寒，有毒。主傷寒寒熱，熱發溫瘧，鬼毒胸中痰結，吐逆，療鬼蠱往來食多，令人大吐，治項下瘤癭。蕭炳云：得：甘草，吐瘧。日華子云：忌：菘菜。畏：玉札。</p>
<h3>青葙子</h3>
<p>味苦，微寒，無毒。主邪氣，皮膚中熱，風瘙身癢，殺三蟲，惡瘡疥虱，痔，蝕下瘡。子：名草決明。《藥性論》云：治肝臟熱毒沖眼，赤障，青盲，翳腫，主惡瘡疥瘙，下部蟲　瘡。日華子云：治五臟邪氣，益腦髓，明耳目，鎮肝，堅筋骨，去風寒濕痹。苗：止金瘡血。所在有。似麥閘極花，其子甚細。</p>
<h3>白芨</h3>
<p>味辛苦，平。微寒，無毒。主癰腫惡瘡敗疽，傷陰死肌，胃中邪氣，賊風鬼擊，痱緩不收，除白癬疥蟲。《藥性論》云：使。治熱結不消，主陰下痿，治面上　瘡。日華子云：止驚邪，血邪，癇疾，赤眼，症結，發背，瘰　，腸風，痔　，刀箭瘡，撲損，溫熱瘧疾，血痢。紫石英為之使。惡：理石。畏：李核、杏仁。</p>
<h3>大戟</h3>
<p>味苦甘，寒、大寒，有小毒。主蠱毒十二水，腹滿急痛，積聚，中風皮膚疼痛，吐逆頸腋癰腫，頭痛，發汗，利大小腸。《藥性論》云：使。反：芫花、海藻。毒，用菖蒲解之。</p>
<p>味苦辛，有大毒。破新陳，下惡血癖塊，腹內雷鳴，通月水，善治瘀血，能墮胎孕。日華子云：小豆為使。惡薯蕷。瀉毒藥，泄天行黃病、溫瘧，破症結。反：甘草。畏：菖蒲</p>
<h3>澤漆</h3>
<p>味苦辛，微寒，無毒。主皮膚熱，大腹水氣，四肢面目浮腫，丈夫陰氣不足，利大小腸，明目，輕身。《藥性論》云：使。治皮肌熱，利小便。日華子云：冷，微毒。止瘧疾，消痰，退熱。此即大戟花。一云：大戟苗也。《唐本余》：逐水，主蠱毒。小豆為使。惡：薯蕷。</p>
<h3>貫眾</h3>
<p>味苦，微寒，有毒。主腹中邪熱氣，諸毒，殺三蟲，去寸白，破症瘕，除頭風，止金瘡。花：療惡瘡，令人泄。《藥性論》云：使。主腹熱。赤小豆、　菌為之使。殺寸白蟲。</p>
<p>又《圖經》云：苗似狗脊狀，如雉尾，根直多枝，皮黑肉赤曲者名草鴟頭，療頭風。又：荊南人取根為末，水調服一錢匕，止鼻血有效。</p>
<h3>羊躑躅</h3>
<p>味辛，溫，有大毒。主賊風在皮膚中淫淫痛，溫瘧，惡毒，諸痹，邪氣鬼疰，蠱毒性論》云：惡：諸石及面。又云：今醫方捋腳湯中多用之，南方治蠱毒下血，有躑躅勝。生：太行山。</p>
<h3>茵芋</h3>
<p>味苦，溫，微溫，有毒。主五臟邪氣，心腹寒熱羸瘦，如瘧狀，發作有時，諸關節風濕痹痛。療久風濕走四肢、腳弱。《藥性論》云：使。味苦辛，有小毒。能治五臟寒熱似瘧，諸關節中風痹，拘急攣痛，治男子女人軟腳毒風，治溫瘧發作有時。日華子云：治一切冷風，筋骨怯弱羸顫。生：太山。</p>
<h4>蕘花</h4>
<p>味苦辛，寒，微寒，有毒。主傷寒，濕瘧，下十二水，破積聚，大堅症瘕，蕩滌腸胃中留癖飲食、寒熱邪氣，利水道，療痰飲，咳嗽。《藥性論》云：使。治咳逆上氣，喉中腫滿，疰氣蠱毒，　癖氣塊，下水腫等。</p>
<h4>鳶尾</h4>
<p>味苦，平，有毒。主蠱毒邪氣，鬼疰諸毒，破症瘕積聚大水，下三蟲，療頭眩，殺陳臟器云：主飛尸游蠱著喉中，氣欲絕者。以根削去皮，納喉中摩病處，血出佳。</p>
<h4>赭魁</h4>
<p>味甘，平，無毒。主心腹積聚，除三蟲。</p>
<h4>毛蓼</h4>
<p>主癰腫，疽　，瘰　。杵碎納瘡中，引膿血生肌。亦作湯洗瘡兼濯足治香港腳。生：山足。似烏蓼，葉上有毛，冬根不死。</p>
<h2>草部下品之下</h2>
<h3>何首烏</h3>
<p>味苦澀，微溫，無毒。主瘰　，消癰腫，療頭面風瘡，五痔，止心痛，益血氣，長女人產後及帶下諸疾。日華子云：味甘。久服令人有子。治腹臟宿疾、一切冷氣及腸羊血及鐵器。</p>
<h3>威靈仙</h3>
<p>味苦，溫，無毒。主諸風，宣通五臟，去腹內冷滯，心膈痰水久積，症瘕　癖氣塊膀胱宿膿惡水，腰膝冷疼，及療折傷，久服之無瘟疫，瘧疾。惡：茶及面湯。《唐本》云：主腰腎，腳膝，積聚，腸內諸冷病積年不瘥者，服之無不立效。</p>
<h3>牽牛花</h3>
<p>味苦，寒，有毒。主下氣，療腳滿水腫，除風毒，利小便。《藥性論》云：使。味有小毒。治　癖氣塊，利大小便，除水氣虛腫，落胎。日華子云：味苦　。得：青木香薑，良。取腰痛，下冷膿，瀉蠱毒藥，並一切氣壅滯。</p>
<h3>蓖麻子</h3>
<p>味甘辛，平，有小毒。主水症，又主風虛寒熱，身體瘡癢浮腫，尸疰惡氣。葉：主風腫不仁，搗蒸敷之。日華子云：治水脹腹滿，又催生。敷產人手足心，產後速拭去。</p>
<p>疥癩亦可研敷。《海上方》：治難產及胞衣不下。</p>
<h3>天南星</h3>
<p>味苦辛，有毒。主中風，除痰、麻痹，下氣，破堅積，消癰腫，利胸膈，散血，墮陳臟器云：主金瘡傷折瘀血。取根碎敷傷處。日華子云：味辛烈，平。畏：附子、乾薑薑。　撲損瘀血，主蛇蟲咬，敷疥癬惡瘡。一云：治急中風，目瞑牙禁，小兒走馬疳、墜涎。畏：附子、乾薑。</p>
<h3>野狼毒</h3>
<p>味辛，平，有大毒。主咳逆上氣，破積聚飲食，寒熱水氣，脅下積癖，惡瘡，鼠蝕鬼精蟲毒，殺飛鳥、走獸。《藥性論》云：使。味苦辛，有毒。治痰飲，症瘕，亦葛洪：治心腹相連脹痛。大豆為使。惡：麥句薑。生：秦亭隴西。二月、八月采根，沉水者良。</p>
<h4>三白草</h4>
<p>味甘辛，寒，有小毒。主水腫，香港腳，利大小便，消痰，破癖，除積聚，消疔腫。陳臟器云：絞汁服，令人吐，亦主瘧。</p>
<h3>甘蕉根</h3>
<p>大寒。主癰腫結熱。《藥性論》云：君。搗敷一切癰腫上，干即更上，無不瘥者。</p>
<p>子云：治天行熱狂，煩悶，消渴，患癰毒並金石發，熱悶口乾，治游風風疹，頭痛，並研敷。又云：芭蕉油，冷，無毒。治頭風熱，止煩渴及湯火瘡。</p>
<h3>馬兜鈴</h3>
<p>味苦，寒，無毒。主肺熱咳嗽，痰結喘促，血痔　瘡。《藥性論》云：平。能主肺氣上急坐息不得，主咳逆連連不可。日華子云：治痔　瘡。以藥於瓶中，燒熏病處。入藥炙用，是土青木香，獨行根子。《聖惠方》：治五種蠱毒。又《圖經》云：亦名土青木香。七月、八月采實，曝乾。主肺病。三月采根。治氣下膈，止刺痛。生：關中。</p>
<h3>骨碎補</h3>
<p>味苦，溫，無毒。主破血，止血，補傷折。《藥性論》云：使。主骨中毒瓦斯，風血五，口手不收，上熱下冷。陳臟器云：亦名猴薑，主傷折，補骨碎。日華子云：平。治惡瘡，蝕爛肉，殺蟲。一云：治耳聾。《靈苑方》：治虛氣攻牙，齒痛、血出、牙</p>
<h3>連翹</h3>
<p>味苦，平，無毒。主寒熱，鼠　，瘰　，癰腫，惡瘡，癭瘤，結熱，蠱毒，去白蟲。</p>
<p>性論》云：使。主通利五淋，小便不通，除心家客熱。日華子云：通小腸，排膿，治瘡止痛，通月經。《集驗方》：治痔。以連翹煎湯洗訖，刀上飛、綠礬入麝香貼之。</p>
<h3>劉寄奴</h3>
<p>味苦，溫。主破血，下脹，多服令人痢。《別本》云：療金瘡，止血為要藥，產後下血止痛，極效。日華子云：無毒。治心腹痛，下氣，水脹，血氣，通婦人經脈，症霍亂，水瀉。《經驗方》：治湯火瘡至妙。搗末，先以糯米漿雞翎掃湯著處，後摻藥並不痛，亦無痕。大凡湯著處用鹽末摻之，護肉不壞，然後藥末敷之。</p>
<h3>續隨子</h3>
<p>味辛，溫，有毒。主婦人血結月閉，症瘕，　癖，瘀血，蠱毒，鬼疰，心腹痛，冷氣脹滿，利大小腸，除痰飲，積聚，下惡滯物。《蜀本》：積聚痰飲不下食，嘔逆及腹內研，酒服之，不過三顆當下惡物。日華子云：宣一切宿滯，治肺氣，水氣，敷一切惡癬。葉汁敷白癜、面　。</p>
<h3>草</h3>
<p>味甘苦，寒，無毒。主五淋，利小便，止水痢，除瘧，虛熱渴。《唐韋宙獨行方》：遍體皆瘡者，用　草一擔，以水二石煮取一石，以漬瘡，不過三作乃愈。又：韋丹主搗生汁二升，醋二合，相和空腹頓服。當溺如白汁也。又主久痢成疳。取干蔓搗篩，管吹穀道中，不過三、四次瘥已，若神。生：處處有之。</p>
<h3>金星草</h3>
<p>味苦，寒，無毒。主癰疽瘡毒，大解硫黃及丹石毒，發背，癰腫，結核。用葉和根服之，先服石藥悉下。又可作末冷水服，及塗發背瘡腫上，殊效。《經驗方》：治五毒</p>
<h3>鶴虱</h3>
<p>味苦，平，有小毒。主蛔、蟯蟲。用之為散，以肥肉、　汁服方寸匕。《別本》注云主心痛。以淡醋和半匕服之立瘥。出波斯者為勝。日華子云：涼，無毒。殺五蟲，止瘧敷惡瘡。韋云：患心痛十年不瘥，於雜方內見，合服之便愈。</p>
<h3>蚤休</h3>
<p>味苦，微寒，有毒。主驚癇，搖頭弄舌，熱氣在腹中，癲疾，癰瘡，陰蝕，下三蟲，去蛇毒。《唐本》注云：醋摩治癰腫，敷蛇毒有效。日華子云：冷，無毒。治胎風搐手足，能吐瀉，瘰　。《圖經》云：即紫河車也。俗呼重樓金線。生：山陽、川穀及冤句。</p>
<h3>預知子</h3>
<p>味苦，寒，無毒。殺蟲，療蠱，治諸毒。傳云，取二枚綴衣領上，遇蠱毒物則聞其當便知之。日華子云：溫。治一切風，補五勞七傷，其功不可備述。並治　癖氣塊、疾，消宿食，止煩悶，利小便，催生，解毒藥，中惡失音，敷一切蛇蟲蠶咬。雙仁者可帶。</p>
<p>單方，治一切病。每日取仁二七粒，患者服不過三千粒，永瘥。</p>
<h3>胡蘆巴</h3>
<p>主元臟虛冷氣。得：附子，硫黃，治腎虛冷、腹脅脹滿、面色青黑。得：　香子、治膀胱氣甚效。出：廣州並黔州。春生苗，夏結子，子作細莢，至秋采。今人多用嶺南治元臟冷氣為最要。</p>
<h3>白附子</h3>
<p>主心痛、血痹、面上百病，行藥勢。日華子云：無毒。治中風失音、一切冷風氣、瘢疵。</p>
<h3>木賊</h3>
<p>味甘微苦，無毒。主目疾，退翳膜，消積塊，益肝膽，明目，療腸風，止痢及婦人月不住。得：牛角　、麝香，治休息痢歷久不瘥。得：禹餘糧、當歸、芎　，療崩中，赤白。</p>
<p>瀉血不止。出：秦隴。</p>
<h3>海金沙</h3>
<p>主通利小腸。得：梔子、馬牙硝、硼砂，共療傷寒熱狂。今人治小便不通、臍下滿海金沙一兩、蠟面茶半兩、二味搗研令細，每服三錢，煎生薑、甘草湯調下，服無時再服。</p>
<h4>燈心草</h4>
<p>味甘，寒，無毒。根及苗主五淋，治小蟲蟻入耳不出，治小兒夜啼。又：治破傷。</p>
<p>貼之，用帛裹血立止。</p>
<h4>馬勃</h4>
<p>味辛，平，無毒。主惡瘡，馬疥。</p>
<h4>雞冠子</h4>
<p>涼，無毒。止腸風瀉血，赤白痢，婦人崩中帶下。入藥炒用。</p>
<h4>水蓼</h4>
<p>主蛇毒，搗敷之。絞汁服，止蛇毒入腹心悶。水煮漬捋腳，消氣腫。日華子云：冷，無毒。葉：似蓼。莖赤。生下濕水旁。</p>
<h2>木部上品</h2>
<h3>桂皮</h3>
<p>味甘辛，大熱，有小毒。主溫中，利肝肺氣，心腹寒熱冷疾，霍亂轉筋，頭痛腰痛，出汗，止煩，止唾，咳嗽，鼻　，墮胎，堅骨節，通血脈。《藥性論》云：君。主治九種心痛，殺三蟲，主破血，軟腳痹不仁，胞衣不下，除腹內冷氣痛，主下痢，治鼻息肉。日華子云：治一切風氣，補五勞七傷，通九竅，利關節，益精明目，暖腰膝，破　癖症瘕，消瘀血，治風痹，生肌肉。得：人參、麥門冬、甘草、大黃、黃芩，調中益氣。得：柴胡、紫石英、乾地黃，療吐逆。殺：草木毒。忌：生蔥。</p>
<h4>牡桂</h4>
<p>味辛，溫，無毒。主上氣咳逆，結氣喉痹吐吸，心痛，脅風，脅痛，溫筋，通脈，止煩，出汗，利關節，補中益氣。《藥性論》云：使。去冷風疼痛。</p>
<h4>菌桂</h4>
<p>味辛，溫，無毒。主百病，養精神，為諸藥先聘通使。</p>
<h3>松脂</h3>
<p>味苦甘，溫，無毒。主癰疽惡瘡，頭瘍白禿，疥瘙風氣，安五臟，除熱，胃中伏熱，干，消渴及風痹死肌。實：主風痹寒氣。虛羸少氣，補不足。葉：主風濕瘡，安五臟，不節：主百節久風風虛，腳痹疼痛。根白皮：主辟穀。《藥性論》云：使。殺蟲，主耳聾。日華子云：潤心肺，下氣，除邪。煎膏治　爛，排膿。</p>
<h3>槐實</h3>
<p>味苦酸鹹，寒，無毒。主五內邪氣熱，止涎唾，補絕傷，五痔，火瘡，婦人乳瘕，子臟急痛，又墮胎。《藥性論》云：臣。治大熱難產。皮：煮汁，淋陰囊墜腫氣痛。又槐白皮治口齒風疳。日華子云：槐子治丈夫女人陰瘡濕癢。催生，吞七粒。皮：治中風，皮膚不仁，喉痹，洗五痔，產門癢痛及湯火瘡。煎膏止痛，長肉，消癰腫。《別錄》云：八月斷槐枝，使生嫩　，煮汁釀酒，療大風，痿痹，甚效。槐耳：主五痔，心痛，婦人陰中瘡痛。景天為之使。槐膠：主一切風，化痰，治肝臟風，筋脈抽掣，急風口噤，四肢不收，頑痹，或毒風周身如蟲行，或破傷風口眼偏斜，腰脊強硬。槐眼赤，殺腹臟蟲及熱，治皮膚風，腸風瀉血，赤白痢疥癬，疔腫。皮莖同用。</p>
<h3>枸杞</h3>
<p>味苦寒，根：大寒，子：微寒，無毒。主五內邪氣，熱中消渴，周痹風濕，下胸脅氣，客熱頭痛，補內傷大勞噓吸，堅筋骨，強陰，利大小腸。《藥性論》云：臣。子、葉，同。味甘，平。能補益精諸不足，明目安神，令人長壽。日華子云：除煩，益志，補五勞七傷，壯心氣，去皮膚骨節間風，消熱毒，散瘡腫。《孫真人備急方》：治滿口齒有血出。又治赤眼癢痛。</p>
<h3>柏實</h3>
<p>味甘，平，無毒。主驚悸，安五臟，益氣，除風濕痹，療恍惚，虛損吸吸，歷節，腰中重痛，益血，止汗。《藥性論》云：君。治腰腎中冷，膀胱冷膿宿水，興陽道，去頭風，治百邪鬼魅，主小兒驚癇。日華子云：治風，潤皮膚。牡蠣及桂、瓜子為使。畏：菊花、羊蹄、諸石及面曲。</p>
<h3>茯苓</h3>
<p>味甘，平，無毒。主胸脅逆氣，憂恚驚邪恐悸，心下結痛，寒熱煩滿，咳逆，口焦舌乾，利小便，止消渴，好唾，大腹，淋瀝，膈中痰水，水腫淋結，開胸腑，調臟氣，伐腎邪，長陰，益氣力，保神守中。《藥性論》云：臣。開胃，止嘔逆，主肺痿痰壅，治小兒驚癇，療心腹脹滿，婦人熱淋赤者，破結氣。日華子云：補五勞七傷，安胎，暖腰膝。馬間為之使。惡：白蘞。畏：牡蒙、地榆、雄黃、秦艽、龜甲。忌：米醋。</p>
<h4>茯神</h4>
<p>平。主辟不祥，療風眩風虛，五勞，口乾，止驚悸，多恚怒，善忘，開心，益智，魂魄，養精神。《藥性論》云：君。味甘，無毒。主驚癇，安神定志，補勞乏，心下急痛堅滿，人虛而小腸不利。其心名黃松節，偏治中偏風，口面　斜，毒風筋攣，不語，心神驚掣，虛而健忘。忌：米醋及酸物。</p>
<h4>琥珀</h4>
<p>味甘，平，無毒。主安五臟，定魂魄，殺精魅邪鬼，消瘀血，通五淋。《藥性論》云君。治百邪，產後血疹痛。日華子云：療蠱毒，壯心，明目，摩翳，止心痛，癲邪，破症</p>
<h3>榆白皮</h3>
<p>味甘，平，無毒。主大小便不通，利水道，除邪氣，腸胃邪熱氣，消腫，性滑利，兒頭瘡痂　。花：主小兒癇，小便不利，傷熱。《藥性論》云：滑。主利五淋，治不眠。日華子云：通經脈。涎，敷癬。《別說》云：為末，治婦人妊娠。臨月，日三服方令產極易，產下立驗。</p>
<h3>酸棗</h3>
<p>味酸，平，無毒。主心腹寒熱，邪結氣聚，四肢酸疼，濕痹，煩心不得眠，臍上下痛，血轉久泄，虛汗煩渴，補中，益肝氣，堅筋骨，助陰氣。《藥性論》云：主筋骨風。日華子云：治臍下滿痛。《聖惠方》：治骨蒸勞、心煩不得眠臥。《外台秘要》：療齒蟲腐爛。惡：防己。</p>
<h3>辛夷</h3>
<p>味辛，溫，無毒。主五臟身體寒熱，風頭腦痛，面　，溫中，解肌，利九竅，通鼻塞涕出，治面腫引齒痛，眩冒，身兀兀如在車船，去白蟲，下氣，明目。《藥性論》云：臣。治面生　，面脂用。日華子云：通關脈，明目，治頭痛憎寒，骨噤，瘙癢。芎　為使。惡：五石脂。畏：菖蒲、蒲黃、黃連、石膏、黃環。</p>
<h3>黃柏木</h3>
<p>味苦，寒，無毒。主五臟腸胃中結熱，黃膽，腸痔，止泄痢，女子漏下赤白，陰傷療驚氣在皮間，肌膚熱赤起，目熱赤痛，口瘡。《藥性論》云：使。主男子陽痿，治雞鴨肝片及男子莖上瘡，屑末敷之。日華子云：安心，除勞，治骨蒸，洗肝明目，多干、心熱，殺疳蟲，治蛔、心痛、疥癬。蜜炙，治鼻洪，腸風泄血，後分急熱腫痛。</p>
<p>身、皮力微，次於根。惡：乾漆。</p>
<h3>楮實</h3>
<p>味甘，寒，無毒。主陰痿，水腫，益氣，充肌膚，明目。葉：主小兒身熱，惡瘡。皮：主逐水，利小便。莖：主癮疹癢。皮間白汁：療癬。《藥性論》云：皮：治水腫氣滿。葉：干炒末，搜面作　飪食，主水痢。日華子云：楮實壯筋骨，助陽氣，補虛勞，助膝。葉：治刺風身癢。汁：敷蛇蟲傷，犬咬。《肘後方》：治鼻衄。</p>
<h3>乾漆</h3>
<p>味辛，溫，無毒、有毒。主絕傷，補中，續筋骨，填髓腦，安五臟，五緩六急，風寒濕痹，療咳嗽，消瘀血，痞結腰痛，女子疝瘕，利小腸，去蛔蟲。生漆：去長蟲。《藥性論》云：臣。殺三蟲，主女人經脈不通。日華子云：治傳尸勞，除風。半夏為使。畏：雞子。今又忌：油脂。生：漢中川穀。</p>
<h3>蔓荊實</h3>
<p>味苦辛，微寒、平、溫，無毒。主筋骨間寒熱濕痹，拘攣，明目，堅齒，利九竅，蟲，長蟲，主風頭痛，腦鳴，目淚出，益氣。《藥性論》云：臣。治賊風，長須發。日云九月采。</p>
<h3>五加皮</h3>
<p>味辛苦，溫，微寒，無毒。主心腹疝氣腹痛，益氣療　，小兒不能行，疽瘡陰蝕，陽痿，囊下濕，女人陰癢及腰脊痛，兩腳疼痹風弱，五緩虛羸，補中，益精，堅筋骨，意。《藥性論》云：破逐惡風血，四肢不遂，賊風傷人，軟腳，　腰，主多年瘀血在皮治痹濕內不足，主虛羸。日華子云：明目，下氣，治中風骨節攣急，補五勞七傷。葉：治皮膚風。可作蔬食。遠志為之使。畏：蛇皮、玄參。</p>
<h3>桑寄生</h3>
<p>味苦甘，平，無毒。主腰痛，小兒背強，癰腫，安胎，充肌膚，主金瘡，去痹，女中，內傷不足，產後余疾，下乳汁。《藥性論》云：臣。能令胎牢固，主懷妊漏血不止華子云：助筋骨，益血脈。采人多在櫸樹上收，呼為桑寄生，在桑樹生者極少。次即楓力同。</p>
<h3>杜仲</h3>
<p>味辛甘，平、溫，無毒。主腰脊痛，補中，益精氣，堅筋骨，強志，除陰下癢濕，小便余瀝，腳中酸疼不欲踐地。《藥性論》云：能治腎冷　腰。病患虛而身強直，風也，腰不利，加而用之。日華子云：暖。治腎勞腰脊攣傴。入藥炙用。惡：蛇蛻皮、玄參。</p>
<h3>蕤核</h3>
<p>味甘，溫、微寒，無毒。主心腹邪結氣，明目，目赤痛傷淚出、目腫　爛、　鼻，破心下結痰痞氣，久服輕身益氣。《藥性論》云：蕤仁，使。能治鼻衄。古方：惟治眼。《傳信方》：治眼風淚癢，或生翳或赤　，一切皆主之。生：函穀川穀，今河東亦有之。</p>
<h3>楓葉脂</h3>
<p>味辛苦，平，無毒。主癮疹，風癢，浮腫，齒痛。陳臟器云：楓皮，本功外，性澀水痢，水煎止下痢為最。日華子云：皮止霍亂，刺風，冷風，煎湯浴之。《簡要濟眾》血不止。陶隱居云：楓樹上菌，食之令人笑不止，以地漿解之。《唐本》云：樹皮味有小毒。主水腫，下水氣。煮汁用之。</p>
<h3>丁香</h3>
<p>味辛，溫，無毒。主溫脾胃，止霍亂，壅脹，風毒諸腫，齒疳　，能發諸香。其根療風熱毒腫。《蜀本》云：母丁香療嘔逆甚驗。《藥性論》云：臣。能主冷氣腹痛。日華子云：治口氣反胃，鬼疰蠱毒及療腎氣，奔豚氣，陰痛，壯陽，暖腰膝，治冷氣，殺酒毒，消癖，除冷勞。</p>
<h3>沉香</h3>
<p>微溫。療風水毒腫，去惡氣。日華子云：味辛，熱，無毒。調中，補五臟，益精壯陽，暖腰膝，去邪氣，止轉筋吐瀉冷氣，破症癖，冷風麻痹，骨節不任，濕風皮膚癢，心腹痛，氣痢。《海藥》云：味苦，溫，無毒。主心腹痛，霍亂，中惡，邪鬼疰，清人神。並宜酒煮服之。諸瘡腫宜入膏用。</p>
<h4>薰陸香</h4>
<p>微溫。療風水毒腫，去惡風、伏尸。陶隱居云：惟療惡核毒腫。</p>
<h4>降真香</h4>
<p>出黔南。伴和諸雜香燒煙直上天，召鶴得盤旋於上。《海藥》云：味辛，溫、平，無毒。</p>
<p>燒之，主天行時氣，宅舍怪異。</p>
<h4>雞舌香</h4>
<p>微溫。療風水毒腫，去惡氣，療霍亂，心痛。《藥性論》云：使。殺腦疳，入諸香，令人身香。</p>
<h4>檀香</h4>
<p>陶隱居云：白檀消風熱腫。陳臟器云：主心腹霍亂，中惡，鬼氣，殺蟲。日華子云：熱，無毒。治心痛，霍亂，腎氣腹痛。濃煎服，水磨敷外腎並腰腎痛處。</p>
<h3>乳香</h3>
<p>微溫。療風水毒腫，去惡氣，療惡核毒腫。日華子云：味辛，熱，微毒。下氣，益精，補腰膝，治腎氣霍亂，吐，沖惡中邪氣，心腹痛，疰氣。煎膏，止痛長肉。入丸散微炒，殺毒，得不黏。《廣志》云：性溫。療耳聾，中風口噤，婦人血氣，能發酒理風冷，止大腸泄，療諸瘡癤，令內消。《博濟方》：治子死腹中。</p>
<h4>蘇合香</h4>
<p>味甘，溫，無毒。主辟惡，殺鬼精物，溫瘧，蠱毒，癇　，去三蟲，除邪，令人無久服通神明，輕身。生：中台川穀。</p>
<h4>詹糖香</h4>
<p>微溫。療風水毒腫，去惡氣、伏尸。陶隱居云：惟療惡核毒腫。</p>
<h3>藿香</h3>
<p>微溫。療風水毒腫，去惡氣，療霍亂，心痛。日華子云：味辛。近世醫方：治脾胃吐逆為最要之藥。出：海邊國，今嶺南多有。</p>
<h3>金櫻子</h3>
<p>味酸澀，平、溫，無毒。療脾泄下痢，止小便利，澀精氣。日華子云：花，平。止冷熱痢，殺寸白，蛔蟲等。和鐵粉研，拔白發敷之，再出黑者，亦可染發。又云：東行根，平，無毒。治寸白蟲。又云：皮，平，無毒。炒，止瀉血及崩中帶下。江南、蜀中人熬作煎，酒服，云補治有殊效。沈存中：子，止遺泄。取其溫且澀。世之用者，待紅熟取汁熬膏，大誤也。紅熟則卻失本性。今取半黃時采用，妙。</p>
<h2>木部中品</h2>
<h3>桑白皮</h3>
<p>味甘，寒，無毒。主傷中，五勞六極，羸瘦，崩中，脈絕，補虛，益氣，去肺中水氣，唾血，熱渴，水腫，腹滿，臚脹，利水道，去寸白，可以縫金瘡。采無時。出土上者殺人。</p>
<p>葉：除寒熱，出汗。汁解蜈蚣毒，桑耳：味甘，有毒。黑者主女子漏下赤白汁，血病症瘕，積聚，陰痛，陰陽寒熱，無子，療月水不調。其黃熟陳白者，止久泄，益氣不飢。其金色者，治癖飲積聚，腹痛，金瘡。《藥性論》云：使。能治肺氣喘咳，水氣浮腫，主傷絕，利水道，消水氣，虛勞客熱頭痛，內補不足。桑耳：使。又名桑黃。味甘辛，無毒。能治女子崩中帶下，月閉血凝，產後血凝，男子　癖，兼療伏血，下赤血。日華子云：桑白皮，溫。調中下氣，益五臟，消痰，止渴，利大小腸，開胃下食，殺腹臟蟲，止霍亂吐瀉。續斷、桂心、麻子為使。</p>
<h3>海桐皮</h3>
<p>味苦，平，無毒。主霍亂，中惡，赤白，久痢，除甘　，疥癬，牙齒蟲痛。並煮服之。水浸洗目，去膚赤。堪作繩索，入水不爛。日華子云：溫。治血脈麻痹疼痛及目赤洗。《海藥》云：主腰腳不遂，頑痹，腿膝疼痛，霍亂，赤白瀉痢，白痢，疥癬。</p>
<h3>竹葉</h3>
<p>竹葉　竹葉，味苦，平。大寒，無毒。主咳逆上氣，溢筋，急惡瘍，殺小蟲，除煩熱風痙，喉痹嘔吐。根：作湯：益氣，止渴，補虛，下氣，消毒。汁，主風　。實：通神明。淡竹葉：味辛，平、大寒。主胸中痰熱，咳逆上氣。瀝：大寒。療暴中風，風痹，胸中大熱，止煩悶。皮茹：微寒。主　噦，溫氣寒熱，吐血崩中。溢筋。苦竹葉及瀝：療口瘡，目痛，明目，利九竅。竹筍：《蜀本》作諸筍。味甘，無毒。主消渴，利水道，益氣。可久食。</p>
<p>藥性論》云：淡竹葉，主吐血，熱毒風，壓丹石毒，止唾血，鼻衄，治五痔。日華子云：淡竹葉並根消痰，治熱狂，煩悶，中風失音不語，壯熱頭痛，頭風，並懷妊人頭旋倒地，止驚悸，溫疫，迷悶，小兒驚癇天吊。莖葉同用。又云：苦竹止消渴，解酒毒，除煩熱，發汗，治中風失音。《食醫心境》：苦竹筍，主消渴，利水道，下氣，理風熱香港腳。取蒸煮食之。</p>
<h3>檳榔</h3>
<p>味辛，溫，無毒。主消穀，逐水，除痰癖，殺三蟲，伏尸，療寸白。《藥性論》云：君。</p>
<p>主宣利五臟六腑壅滯，破堅滿氣，下水腫，治心痛，風血積聚。日華子云：味澀。除一切風，下一切氣，通關節，利九竅，補五勞七傷，健脾，調中，除煩，破症結，下五膈氣。《南海藥譜》云：赤者味苦。殺蟲兼補。生：海南。</p>
<h3>梔子</h3>
<p>味苦，寒，大寒，無毒。主五內邪氣，胃中熱氣，面赤酒　渣鼻，白癩赤癩，瘡瘍，療目熱赤痛，胸心大小腸大熱，心中煩悶，胃中熱氣。《藥性論》云：去熱毒風，利五淋，主中惡，通小便，解五種黃病，明目，治時疾，除熱及消渴，口乾、目赤腫病。解：玉支毒。</p>
<p>殺：　蟲毒。</p>
<h3>龍腦香</h3>
<p>味辛苦，微寒。一云溫、平，無毒。主心腹邪氣，風濕積聚，耳聾，明目，去目赤翳。一云：治急中風，目瞑牙噤及時疾，發豌豆瘡。陶弘景：主內外障眼，三蟲，治五痔，明目，鎮心，秘精。又有蒼龍腦，主風瘡，　。入膏煎良，用點眼則有傷。出：婆律國。</p>
<h3>吳茱萸</h3>
<p>味辛，溫。大熱，有小毒。主溫中，下氣，止痛，咳逆寒熱，除濕，血痹，逐風邪，開腠理，去痰冷，腹內絞痛，諸冷實不消，中惡，心腹痛，逆氣，利五臟。《藥性論》云心腹疾，積冷，治霍亂轉筋，胃中冷氣，下痢不禁，治寸白蟲。日華子云：健脾，通關治霍亂，瀉痢，消痰，破症癖，逐風，治腹痛，腎氣，香港腳，水腫，下產後余血。又云萸葉，熱，無毒。治霍亂，下氣，止心腹痛，冷氣，內外腎釣痛。鹽研　，神驗。蓼實為使。</p>
<p>惡：丹</p>
<h3>食茱萸</h3>
<p>味辛苦，大熱，無毒。功用與吳茱萸同。療水氣。陳臟器云：殺鬼魅及惡蟲毒，起殺牙齒蟲痛。《藥性論》云：治冷痹，腰腳軟弱，通身刺痛，腸風痔疾，殺腸中三蟲，冷。《食療》云：主心腹冷氣痛，中惡，除咳逆，去臟腑冷。又齒痛，酒煎含之。又殺中賊風口偏不語。又香港腳衝心，和生薑煮汁飲之。又魚骨刺入肉不出，搗封之，其骨出。畏：紫石英。</p>
<h3>秦椒</h3>
<p>味辛，溫、生溫熟寒，有毒。主風邪氣，溫中，除寒痹，堅齒發，明目，療喉痹，吐疝瘕，去老血，產後余疾，腫痛，出汗，利五臟。《藥性論》云：君。味苦辛。治惡風身四肢頑痹，口齒浮腫搖動，主女人月閉不通，治產後惡血痢。多年痢。腹中冷痛。惡萎、防葵。畏：雌黃。</p>
<h3>枳殼</h3>
<p>味苦酸，微寒，無毒。主風癢麻痹，通利關節，勞氣咳嗽，背膊悶倦，散瘤結，胸膈滯，逐水，消脹滿，大腸風，安胃，止風痛。《藥性論》云：治遍身風疹，肌中如麻豆惡主腸風痔疾，心腹結氣，兩脅脹虛，關膈壅塞。根：浸酒煎含，治齒痛，消痰。有氣加之。日華子云：健脾開胃，調五臟，下氣止嘔逆，消痰，治反胃，霍亂，瀉痢，消食，結癖，五膈氣，除風，明目及肺氣水腫，利大小腸，皮膚癢，痔腫及滑胎易養。</p>
<h4>枳實</h4>
<p>味苦酸，寒，微寒，無毒。主大風在皮膚中如麻豆苦癢，除寒熱結，止痢，長肌肉，五臟，益氣，輕身，除胸脅痰癖，停水，破結實，消脹滿，心下急痞癰，逆氣，脅風痛，胃氣，止溏泄，明目，《藥性論》云：臣。解傷寒結胸，主上氣喘咳，腎內傷冷，陰痿而有氣加而用之。</p>
<h3>蕪荑</h3>
<p>味辛，平，無毒。主五內邪氣，散皮膚骨節中淫淫溫行毒，去三蟲，化食，逐寸白，腸中　喘息。《藥性論》云：使。主積冷氣，心腹症痛。日華子云：治腸風痔　，惡瘡，疥癬。《海藥》云：治冷痢心氣，殺蟲止痛，子宮風虛，孩疳瀉。得訶子、豆蔻，良。《方》：久患脾胃氣，泄不止。</p>
<h3>騏竭</h3>
<p>紫　騏　竭，味甘咸，平，有小毒。主五臟邪氣，帶下，止痛，破積血、金瘡，生與騏　竭二物大同小異。日華子云：紫　，無毒。治驢馬蹄漏，可溶補。又云：騏　竭無毒。得密陀僧，良。治一切惡瘡疥癬久不合者，敷。此藥性急，亦不可多使，卻引</p>
<h3>厚朴</h3>
<p>味苦，溫、大溫，無毒。主中風，傷寒頭痛，寒熱驚悸，氣血痹，死肌，去三蟲，溫益氣，消痰下氣，療霍亂及腹痛脹滿，胃中冷逆，胸中嘔不止，泄痢，淋露，除驚，去留熱，心煩滿，濃腸胃。《藥性論》云：臣。主療積年冷氣，腹內雷鳴，虛吼，宿食不消，除痰飲，去結水，破宿血，消化水穀，止痛，大溫胃氣，嘔吐酸水，主心腹滿，病患虛而尿白。日華子云：健脾，主反胃，霍亂轉筋，冷熱氣瀉，膀胱泄，五臟一切氣，婦人產前產後腹臟不安，調關節，殺腹臟蟲，除驚，去煩悶，明耳目。乾薑為之使。惡：澤瀉、寒水石、硝石。生：交　。</p>
<h3>山茱萸</h3>
<p>味酸，平、微溫，無毒。主心下邪氣寒熱，溫中，逐寒濕痹，去三蟲，腸胃風邪，疝瘕，頭風，風氣去來，鼻塞，目黃，耳聾，面　，溫中下氣，出汗，強陰益精，安五通九竅，止小便利。《藥性論》云：使。味鹹辛，大熱。治腦骨痛，止月水不定，補腎興陽道，堅長陰莖，添精髓，療耳鳴，除面上瘡，能發汗，止老人尿不節。日華子云：膝，助水臟，除一切風，逐一切氣，破症結，治酒渣。蓼實為之使。惡：桔梗、防己、</p>
<h3>紫葳</h3>
<p>味酸，微寒，無毒。主婦人產乳余疾，崩中，症瘕，血閉，寒熱羸瘦，養胎。莖葉：苦，無毒。主痿蹶，益氣。《藥性論》云：臣。畏：鹵鹹。味甘。主熱風，風癇，大小便利，腸中結實，止產後奔血不定，淋瀝，安胎。日華子云：根，治熱風身癢，游風，風疹瘀下。《圖經》云：紫葳，凌霄花也。今醫家多采其花干之，入婦人血崩風毒藥。又治少女血熱前</p>
<h3>茗苦KT</h3>
<p>茗：味甘苦，微寒，無毒。主　瘡，利小便，去痰熱，濕。苦KT　：主下氣，消宿食作飲加茱萸、蔥、薑等，良。陳藏器：寒。破熱氣，除瘴氣，利大小腸。食之宜熱，冷即痰。得火，良。久食令人瘦，去人脂，使不睡。《食療》云：茗葉利大腸，去熱，解痰，下氣，消宿食。</p>
<h3>虎杖</h3>
<p>微溫。主通利月水，破留血，症結。陶隱居云：主暴瘕，酒漬根服之。《藥性論》云味甘，平，無毒。主治大熱煩躁，止渴，利小便，壓一切熱毒。又云，能破女子經候不通有孕人勿服，破血。日華子云：治產後惡血不下，心腹脹滿，排膿，主瘡癤癰毒，婦人血撲損瘀血，破風毒結氣。</p>
<h3>豬苓</h3>
<p>味甘苦，平，無毒。主　瘧，解毒蠱疰不祥，利水道。《藥性論》云：臣。微熱。解寒溫疫大熱，發汗，主腫脹，滿腹急痛。《唐本余》云：去邪氣。《外台秘要》：治妊娠淋，又治小兒大便不通。《子母秘錄》：治妊娠從腳上至腹腫，小便不利，微渴引飲。</p>
<p>產乳方》：療通體遍身腫，小便不利。一云：采根，削皮焙乾，用敷瘡毒。</p>
<h3>沒藥</h3>
<p>味苦，平，無毒。主破血止痛，療金瘡，杖瘡，諸惡瘡，痔漏卒下血，目中翳暈痛，赤。《藥性論》云：單用亦得。味苦辛。能主打　損，心腹血瘀，傷折　跌，筋骨疼痛，刃所損痛不可忍，皆以酒投飲之，良。日華子云：破症結，宿血，消腫毒。</p>
<h3>烏藥</h3>
<p>味辛，溫，無毒。主中惡心腹痛，蠱毒疰忤鬼氣，宿食不消，天行疫瘴，膀胱腎間冷攻衝背膂，婦人血氣，小兒腹中諸蟲。其葉及根，嫩時采作茶片，炙碾煎服，能補中益氣止小便滑數。日華子云：治一切氣，除一切冷，霍亂及反胃吐食，瀉痢，癰癤疥癩，並解熱及貓、犬百病。並可摩服。《斗門方》：治陰毒傷寒。烏藥子一合，炒令黑煙起，投入煎三、五沸，服一大盞。候汗去回陽立瘥。</p>
<h3>胡桐淚</h3>
<p>味鹹苦，大寒，無毒。主大毒熱，心腹煩滿，水和服之取吐。又主牛馬急黃黑汗，三二兩灌之立瘥。日華子云：治風　牙齒痛。殺：火毒並面毒。《海藥》云：主風疳疼痛，骨槽風勞，能軟一切物。多服令人吐也。《通典》云：可以焊金銀。</p>
<h3>墨</h3>
<p>味辛，無毒。止血，生肌膚，合金瘡，主產後血暈，崩中卒下血，醋摩服之。亦生瞇目物芒入目。摩點瞳子上。又止血痢及小兒客忤。搗篩和水溫服之。</p>
<h3>秦皮</h3>
<p>味苦，微寒、大寒，無毒。主風寒濕痹，洗洗寒氣，除熱，目中青翳白膜，療男子少婦人帶下，小兒癇，身熱。《藥性論》云：主明目，去肝中久熱，兩目赤腫疼痛，風淚治小兒身熱。日華子云：洗肝，益精明目，小兒熱驚，皮膚風痹，退熱。一云：治天大戟為之使。惡：吳茱萸、苦瓠、防葵。生：廬江川穀及冤句。</p>
<h4>安息香</h4>
<p>味辛苦，平，無毒。主心腹惡氣鬼疰。日華子云：治邪氣魍魎，鬼胎血邪，辟蠱毒氣，霍亂，風痛，治婦人血禁並產後血暈。</p>
<h4>鬱金香</h4>
<p>味苦，溫，無毒。主蠱野諸毒，心氣鬼疰，鴉鶻等臭。陳藏器：主一切臭，除心腹氣鬼疰。</p>
<h4>天竹黃</h4>
<p>味甘，寒，無毒。主小兒驚風，天吊，鎮心，明目，去諸風熱，療金瘡止血，滋養日華子云：平。治中風痰壅，卒失音不語，小兒客忤及癇疾。生：天竺國。</p>
<h4>大腹</h4>
<p>微溫，無毒。主冷熱氣攻心腹、大腸壅毒、痰膈、醋心。日華子云：下一切氣，止霍通大小腸，健脾，開胃，調中。生：南海諸國。</p>
<h3>五倍子</h3>
<p>味苦酸，平，無毒。療齒宣，疳　，肺臟風毒流溢皮膚作風濕癬瘡，瘙癢膿水，五血不止。小兒面鼻疳瘡。陳藏器云：治腸虛泄痢，熟湯服。《博濟方》：治風毒上攻、澀痛不可忍者，或上下瞼　赤爛，浮翳，瘀肉侵睛。《經驗方》：治小兒吐不定。</p>
<h3>密蒙花</h3>
<p>味甘，平、微寒，無毒。主青盲膚翳、赤澀多眵淚，消目中赤脈，小兒麩豆及疳氣生：益州。</p>
<h2>木部下品</h2>
<h3>巴豆</h3>
<p>味辛，溫、生溫熟寒，有大毒。主傷溫瘧寒熱，破症瘕結聚堅積，留飲痰癖，大腹水蕩練五臟六腑，開通閉塞，利水穀道，去惡肉，除鬼毒蠱疰邪物，殺蟲魚，療女子月閉胎，金瘡膿血，不利丈夫陰，殺斑蝥毒。《藥性論》云：使。中其毒，用黃連汁、大豆之。忌：蘆筍、醬豉、冷水。得：火，良。殺斑蝥、蛇虺毒。能主破心腹積聚，結氣，種水腫，痿痹，大腹，能落胎。日華子云：通宣一切病，泄壅滯，除風，補勞，健脾開消痰，破血排膿，消腫毒，殺腹臟蟲，治惡瘡，息肉及疥癩，療腫。芫花為使。惡：畏：大黃、黃連、藜蘆。</p>
<h3>皂莢</h3>
<p>味辛鹹，溫，有小毒。主風痹死肌，邪氣，風頭淚出，利九竅，殺精物，療腹脹滿，穀，除咳嗽囊結，婦人胞不落，明目益精。《藥性論》云：使。主破堅症腹中痛，能墮胎日華子云：通關節，除頭風，消痰，殺勞蟲，治骨蒸，開胃及中風口噤。一云：核中白肉亦入治肺藥。又炮核取中心黃嚼餌之，治膈痰吞酸。《梅師方》：治霍亂轉筋，又治卒外腎偏疼。柏實為之使。惡：麥門冬。畏：空青、人參、苦參。生：雍州。</p>
<h3>訶黎勒</h3>
<p>味苦，溫，無毒。主冷氣，心腹脹滿，下食。蕭炳云：下宿物，止腸癖久泄，赤白</p>
<p>《藥性論》云：使。能通利津液，主破胸膈結氣，止水道，黑須發。日華子云：消痰，除煩，治水，調中，止瀉痢，霍亂，奔豚腎氣，肺氣喘急，消食開胃，腸風瀉血，崩五膈氣，懷孕未足月人漏胎及胎動欲生，脹悶氣喘，並患痢人後分急痛，並產後陰燒熏，及熱煎湯熏，通手後洗。</p>
<h3>蜀椒</h3>
<p>味辛，溫、大熱。有毒。主邪氣咳逆，溫中，逐骨節皮膚死肌，寒濕痹痛，下氣，除腑寒冷，傷寒溫瘧，大風汗不出，心腹留飲宿食，腸　下痢，泄精，女子字乳余疾，散風瘕結，水腫黃膽，鬼疰蠱毒，殺蟲魚毒。久服之頭不白，輕身增年，開腠理，通血脈，堅發，調關節，耐寒暑。《藥性論》云：使。有小毒。能治冷風，頑頭風下淚，腰腳不遂，損，留結，破血，下諸石水，能治嗽，主腹內冷而痛，除齒痛，又云：椒目：使。治十二水氣。味苦辛，有小毒。主和巴豆、菖蒲、松脂，以蠟溶為筒子，內耳中，抽腎氣虛，耳如風水鳴或如打鐘磬之聲，卒暴聾。一日一易，若神驗。日華子云：破症結，開胃，治天時氣溫疾，產後宿血，治心腹氣，壯陽，療陰汗，暖腰膝，縮小便。椒目主膀胱急。又云椒葉，熱，無毒。治奔豚，伏梁氣，內外腎釣，並霍亂轉筋。和艾及蔥研，以豉湯伴下，得。杏仁為之使。畏：款冬、雄黃。</p>
<h3>郁李仁</h3>
<p>味酸，平，無毒。主大腹水腫，面目四肢浮腫，利小便水道。根：主齒齦腫，齲齒齒，去白蟲。《藥性論》云：臣。治腸中結氣，關格不通。根，治齒痛，宣結氣，破結日華子云：通泄五臟、膀胱急痛，宣腰胯冷膿，消宿食，下氣。又云：根涼，無毒。</p>
<p>熱發，作湯浴。風　牙，濃煎含之。</p>
<h3>楝實</h3>
<p>主溫疾，傷寒大熱煩狂，殺三蟲疥瘍，利小便水道。根：微寒。療蛔蟲，利大腸。《性論》云：主人中大熱，狂，失心躁悶。日華子云：治游風，熱毒風疹，惡瘡疥癩，小兒熱。《經驗方》：治臟毒下血，丈夫本臟氣傷，膀胱連小腸等氣。《唐本》注云：有兩種者，根赤無子，有毒，服之多使人吐瀉，殺人。雌者，根白有子，微毒。用當取雌者。生：荊山。</p>
<h4>雷丸</h4>
<p>味苦鹹，寒、微寒，有小毒。主殺三蟲，逐毒瓦斯，胃中熱，利丈夫，不利女子，作摩除小兒百病，逐邪氣，惡風汗出，除皮中熱，結積，蠱毒，白蟲寸白自出不止。久服令人痿，赤者殺人。《藥性論》云：君。味苦，有小毒。能逐風。芫花為使，主癲癇狂走，殺蛔蟲。今注云：疏利男子元氣，不疏利女子臟氣。荔實、厚朴為之使。惡：葛根、蓄根。生：石城及漢中。</p>
<h4>蘇枋木</h4>
<p>味甘咸，平，無毒。主破血，產後血脹悶欲死者。陳藏器云：寒。主霍亂嘔逆及人吐，用水煎服。破血，用酒煎為良。日華子云：治婦人血氣心腹痛，月水不調及蓐勞，止痛，消癰腫，撲損瘀血，女人失音，血噤，赤白痢並後分急痛。《海藥》云：主虛勞，血癖，氣壅滯，產後惡露不安，怯起衝心，腹內攪痛及經絡不通，男女中風口噤不語。宜細研乳頭香細末方寸匕，酒煎蘇木去滓調服，立吐惡物瘥。生：南海。</p>
<h4>胡椒</h4>
<p>味辛，大溫，無毒。主下氣，溫中，去痰，除臟腑中風冷。日華子云：調五臟，止霍心腹冷痛，壯腎氣，主冷痢，殺一切魚肉鱉蕈毒。《海藥》云：去胃心氣虛冷，宿食不消霍亂氣逆，心腹猝痛，冷氣上衝和氣。不宜多服，損肺。</p>
<h3>益智子</h3>
<p>味辛，溫，無毒。主遺精虛漏，小便余瀝，益氣安神，補不足，安三焦，調諸氣。</p>
<p>小便者，取二十四枚，碎，入鹽同煎服，有奇驗。陳藏器云：止嘔穢。一云：含之攝涎生：昆侖國及海南。</p>
<h3>接骨木</h3>
<p>味甘苦，平，無毒。主折傷，續筋骨，除風癢，齲齒，可作浴湯。陳藏器云：有小主痰飲，下水腫及痰瘧。煮服之，當痢下及吐；不可多服。葉：主瘧。小兒服三葉，大服七葉，並生搗絞汁服，得吐為度。《產書》云：治產後心悶，手腳煩熱，氣力欲絕，血暈連心，頭硬及寒熱不禁。</p>
<h3>南藤</h3>
<p>味辛，溫，無毒。主風血，補衰老，起陽，強腰腳，除痹，變白，逐冷氣，排風邪。</p>
<p>煮汁服，亦浸酒服。一名丁公藤。《南史》：解叔謙，雁門人。母有疾，夜於庭中祈告，忽空中云得丁公藤治即瘥。訪醫及《本草》皆無。至宜都山下，見一翁伐木，云是丁公藤，療風。乃拜泣求得，及漬酒法。受畢，失翁所在。母疾遂愈。</p>
<h3>木鱉子</h3>
<p>味甘，溫，無毒。主折傷，消結腫，惡瘡，生肌，止腰痛，除粉刺　，婦人乳癰門腫痛。藤生葉有五花，狀如薯蕷，花黃，子似栝蔞，肉上有刺，其核似鱉。八月采。</p>
<p>子云：醋摩消酒毒。嶺南人取嫩實及苗葉作茹，蒸食之。</p>
<h3>鉤藤</h3>
<p>微寒，無毒。主小兒寒熱，十二驚癇。《藥性論》云：臣。味甘，平。主小兒驚啼，熱壅。日華子云：治客忤胎風。葛洪：治猝得癇。用吊藤、甘草炙各二分，水五合，煮二合，服如小棗大，日五夜三。又方：療小兒驚癇諸湯皆用吊藤皮。</p>
<h3>芫花</h3>
<p>味辛苦，溫、微溫，有小毒。主咳逆上氣，喉鳴喘，咽腫短氣，蠱毒鬼瘧，疝瘕癰腫殺蟲魚，消胸中痰水，喜唾，水腫，五水在五臟、皮膚及腰痛，下寒毒，肉毒。根：療疥瘡，可用毒魚。《藥性論》云：使。能治心腹脹滿，去水氣，利五臟，寒痰，涕唾如膠，主通利血脈，治惡瘡，風痹濕，一切毒風，四肢攣急不能行步，能瀉水腫脹滿。日華子云：療嗽，瘴瘧。所在有。決明為之使。反：甘草。</p>
<h3>棕櫚</h3>
<p>棕櫚子，平，無毒。澀腸，止瀉痢，腸風，崩中帶下，及養血。皮：平，無毒。止鼻吐血，破症，治崩中帶下，腸風，赤白痢。入藥燒灰用，不可絕過。出：嶺南及西川，亦有之。</p>
<h4>子</h4>
<p>味辛辣如椒。主游蠱飛尸著喉口者。剌破以子揩之令血出，當下涎沫。煮汁服之，去冷腹痛，食不消，殺腥物。木高碩，莖有刺。</p>
<h4>楠材</h4>
<p>微溫。主霍亂吐下不止。日華子云：味辛，熱，微毒。治轉筋。</p>
<h4>水楊</h4>
<p>葉、嫩枝味苦，平，無毒。主久痢赤白。搗，和水絞取汁，服一升，日二，大效。</p>
<h2>人部</h2>
<h3>棕櫚</h3>
<h4>亂髮</h4>
<p>微溫。主咳嗽，五淋，大小便不通，小兒驚癇，止血鼻衄。燒之吹內立巳。《唐本》云：灰療轉胞，小便不通，赤白痢，哽噎，鼻衄，癰腫，狐尿刺，尸疰，疔腫骨疽雜瘡。</p>
<p>性論》云：使。味苦。能消瘀血，關格不通，利水道。《千金方》：治無故遺血。同爪酒服。</p>
<h4>人乳汁</h4>
<p>主補五臟，令人肥白悅澤。日華子云：冷。益氣，治瘦悴，悅皮膚，潤毛髮，點眼並療赤眼明潤。</p>
<h4>頭垢</h4>
<p>主淋閉不通。《藥性論》云：治噎酸。漿水煎膏用之。日華子云：溫。治中蠱毒及蕈米飲或酒化下並得，以吐為度。</p>
<h4>人牙齒</h4>
<p>平。除勞，治瘧，蠱毒瓦斯。入藥燒用。</p>
<h4>人屎</h4>
<p>寒。主療時行大熱狂走，解諸毒。日華子云：截苦竹去青皮，浸滲取汁。治天行熱狂疾，中毒並惡瘡，蕈毒。</p>
<h4>人溺</h4>
<p>療寒熱頭疼，溫氣。童男者尤良。日華子云：小便，涼。止勞渴，嗽，潤心肺，療血悶熱狂，撲損瘀血，運絕及蛇犬等咬。以熱尿淋患處。難產，胞衣不下，即取一升用薑蔥各一分煎三兩沸，乘熱飲便下。</p>
<h4>溺白</h4>
<p>療鼻衄，湯火灼瘡。日華子云：人中白，涼。治傳尸，熱勞，肺痿，心膈熱，鼻洪，吐血，羸瘦，渴疾。是尿　。</p>
<h3>天靈蓋</h3>
<p>味鹹，平，無毒。主傳尸尸疰，鬼氣伏連，久瘴勞瘧，寒熱無時。此死人頂骨十字解者，燒令黑，細研，白飲和服。日華子云：治肺痿，乏力，羸瘦，骨蒸勞及盜汗等。入藥</p>
<h2>獸部上品</h2>
<h3>龍骨</h3>
<p>味甘，平，微寒，無毒。主心腹鬼疰精物老魅，咳逆，泄痢膿血，女子漏下，症瘕堅結，小兒熱氣驚癇，療心腹煩滿，四肢痿枯、汗出、夜臥自驚、恚怒，伏氣在心下不得喘息，腸癰內疽，陰蝕，止汗，縮小便，溺血，養神定魄，安五臟。日華子云：健脾，澀腸胃，止瀉痢，渴疾，懷孕漏胎，腸風下血，崩中帶下，鼻洪吐血，止汗。又云：齒：澀，涼。治煩悶，癲癇，熱狂，辟鬼魅。畏：乾漆、蜀椒、理石。</p>
<h3>麝香</h3>
<p>味辛，溫，無毒。主辟惡氣，殺鬼精物，溫瘧，蠱毒，癇　，去三蟲，療諸凶邪鬼氣，中惡。心腹暴痛脹急痞滿，風毒，婦人產難，墮胎，去面　，目中膚翳。《藥性論》云：臣。</p>
<p>禁食大蒜。味苦辛。除百邪魅、鬼疰，心痛，小兒驚癇客忤，鎮心安神。以當門子一粒，丹砂相似，細研，熟水灌下。止小便利，能蝕一切癰瘡膿。日華子云：辟邪氣，殺鬼毒蠱氣，瘧疾，催生，墮胎，殺臟腑蟲，制蛇蠶咬。沙虱溪瘴毒，吐風痰。納子宮，暖水臟，止冷帶疾。出：中台川穀、益州、雍州、陝西。</p>
<h3>牛黃</h3>
<p>味苦，平，有小毒。主驚癇，寒熱，熱盛狂　，除邪逐鬼，療小兒百病諸癇熱，口不開，大人狂癲，又墮胎。《藥性論》云：君。味甘。能辟邪魅，安魂定魄，小兒夜啼，主猝中惡，日華子云：涼。療中風失音口噤，婦人血禁，驚悸，天行時疾，健忘虛乏。人參為之使。得：牡丹、菖蒲，利耳目。惡：龍骨、地黃、龍膽、蜚蠊、常山。畏：牛膝、乾漆等。</p>
<h3>熊脂</h3>
<p>味甘，微寒、微溫，無毒。主風痹不仁筋急，五臟腹中積聚，寒熱羸瘦，頭瘍白禿、面，食飲吐嘔。《藥性論》云：膽：臣。惡：防己、地黃。主小兒五疳，殺蟲，治惡瘡。</p>
<p>熊脂：君。治面上　及治瘡。日華子云：熊白，涼，無毒。治風，補虛損，殺勞蟲。脂，強心、腦、髓，去白禿，風屑，療頭旋，疳瘡，耳鼻瘡。</p>
<h3>阿膠</h3>
<p>味甘，平，微溫，無毒。主心腹內崩，勞極洒洒如瘧狀，腰腹痛，四肢酸疼，女子下血，安胎，丈夫小腹痛，虛勞羸瘦，陰氣不足，腳酸不能久立，養肝氣。《藥性論》云：君。主堅筋骨，益氣，止痢。薯蕷為使。畏：大黃。得：火，良。《聖惠方》：治妊孕尿血用</p>
<h4>羊乳</h4>
<p>溫。補寒冷虛乏。《藥性論》云：臣。味甘，無毒。潤心肺，治消渴。日華子云：利大腸，含療口瘡，小兒驚癇疾。</p>
<h3>牛乳：</h3>
<p>微寒。補虛羸，止渴。《蜀本》云：味甘，無毒。日華子云：黃牛乳、髓，冷。潤皮膚，養心肺，解熱毒疾。</p>
<h3>馬乳：</h3>
<p>止渴。《唐本》注云：冷利。止渴，療熱。驢乳冷。療微熱黃，小兒中熱驚熱。</p>
<h4>酥</h4>
<p>微寒。補五臟，利大腸，主口瘡。孟詵云：寒。主胸中熱，補五臟，利腸胃。日華子云：牛酥涼。益心肺，止渴，嗽，潤毛髮，除肺痿心熱並吐血。一云：有牛酥、羊酥。</p>
<h4>酪</h4>
<p>味甘酸，寒，無毒，主熱毒，止渴，解散、發利，除胸中虛熱，身面上熱瘡，肌瘡。《唐本》云：牛、羊、馬、水牛乳並爾，言驢乳尤冷，不堪作酪。日華子云：牛酪，冷。止煩渴熱悶，心膈熱痛。陳藏器云：濕酪止渴。味酸，寒，無毒。主馬黑汗。和水灌之，瘥為度</p>
<h2>獸部中品</h2>
<h3>鹿茸</h3>
<p>味甘酸，溫、微溫、無毒。主漏下惡血，寒熱驚癇，益氣，強志，生齒，不老。療虛勞洒洒如瘧，羸瘦，四肢酸疼，腰脊痛，小便利，泄精，溺血，破留血在腹，散石淋癰腫，骨中熱疽癢。《藥性論》云：君。主補男子腰腎虛冷，腳膝少力，夜夢鬼交，精溢自出，女人崩中漏血及帶下赤白。日華子云：補虛羸壯筋骨，破瘀血，殺鬼精，安胎，下氣。酥炙之</p>
<h3>羊角</h3>
<p>味鹹苦，溫，微寒，無毒。主青盲明目，殺疥蟲，止寒泄，辟惡鬼虎野狼。止驚悸，療百結氣，風頭痛及蠱毒吐血，婦人產後余痛。燒之，殺鬼魅，辟虎野狼。《藥性論》云：使。治產後惡血煩悶。日華子云：牯羊角退熱，治山瘴溪毒。菟絲為之使。</p>
<h3>羊肉</h3>
<p>味甘，大熱，無毒。主緩中，字乳余疾及頭腦大風汗出，虛勞寒冷，補中，益氣，安心，止驚。孟詵云：溫。主風眩，瘦病，小兒驚癇，丈夫五勞七傷，臟氣虛寒。又云：羊肉，患天行及瘧人食，令發熱，困重致死。《唐本》注云：羊肉，熱。病瘥後食之發熱，殺人。日華子云：治腦風並大風，開胃，肥健。頭：涼。治骨蒸，腦熱頭眩，明目，小兒驚癇。脂：治游風並黑　。</p>
<h3>羚羊角</h3>
<p>味鹹苦，寒、微寒，無毒。主明目，益氣起陰，去惡血注下，辟蠱毒惡鬼不詳，安心氣，常不魘寐，療傷寒時氣寒熱，熱在肌膚，溫風注毒伏在骨間，除邪氣驚夢，狂越僻謬及食噎不通。《藥性論》云：臣。味甘。能治一切熱毒風攻注，中惡、毒風，猝死昏亂不識人，散產後血衝心煩悶，小兒驚癇，治山瘴。孟詵云：治熱毒痢及血痢。</p>
<h3>虎骨</h3>
<p>主除邪惡氣，殺鬼疰毒，止驚悸，主惡瘡，鼠　。頭骨尤良。《藥性論》云：臣。殺犬咬毒。味辛，微熱，無毒。治筋骨毒風攣急，屈伸不得，走疰疼痛，主尸疰腹痛，治溫瘧，療傷寒濕氣。膏：主狗齒瘡。爪：辟惡魅。肉：主惡心欲嘔，益氣力。牙：主丈夫陰頭瘡及疽瘡。屎：主惡瘡。眼睛：主癲，又主瘧病。</p>
<h3>犀角</h3>
<p>味苦酸鹹，寒、微寒，無毒。主百毒蠱疰邪鬼瘴氣，殺鉤吻、鴆羽、蛇毒，除邪，不迷惑魘寐，療傷寒溫疫，頭痛寒熱，諸毒瓦斯。《藥性論》云：君。味甘，有小毒。能辟邪精鬼魅，中惡毒瓦斯，鎮心神，解大熱，散風毒，能治發背癰疽瘡腫，化膿作水，主療時疾熱如火，煩悶，毒入心中，狂言妄語。日華子云：治心煩，止驚，安五臟，補虛勞，退熱，消痰，解山瘴溪毒，鎮肝明目，治中風失音，熱毒風，時氣發狂。松脂為使。惡：　菌、雷丸。</p>
<h3>兔頭骨</h3>
<p>平，無毒。主頭眩痛，癲疾。日華子云：頭骨和毛髓燒為丸，催生，落胞，並產後余血不下。骨：主熱中，消渴，並治瘡疥，刺風，鬼疰。腦：主凍瘡。肝：主目暗，並補勞，治頭旋眼痛。肉：味辛，平，無毒。主補中益氣，亦治渴，健脾，生吃壓丹毒。</p>
<h2>獸部下品</h2>
<h3>豚卵</h3>
<p>味甘，溫，無毒。主驚癇癲疾，鬼疰蠱毒，除寒熱，奔豚五癃，邪氣攣縮。懸蹄：主五痔，伏熱在腸，腸癰內蝕。豬四足：主傷撻諸敗瘡，下乳汁。心：主驚邪憂恚。腎：和理腎氣，通利膀胱。膽：主傷寒熱渴。肚：補中益氣，止渴利。齒：主小兒驚癇。肪膏：主煎膏藥，解斑蝥、芫青毒。凡豬肉：主閉血脈，弱筋骨，虛人肌，不可久食，病患金瘡者尤甚。</p>
<p>豬屎：主寒熱，黃膽，濕痹。日華子云：豬，涼，微毒。肉療水銀風。久食令人虛肥，動風氣。不可同牛肉煮食，令人生寸白蟲。脂：治皮膚風，殺蟲，敷惡瘡。腸：止小便，補下焦。</p>
<p>生血：療奔豚氣及海外瘴氣。又乳：治小兒驚癇天吊，大人豬雞癇病。孟詵云：大豬頭主補虛乏氣力，去驚癇，五痔，下丹石。</p>
<h3>狐陰莖</h3>
<p>味甘，有毒。主女子絕產陰癢、小兒陰頹卵腫。五臟及腸：味苦，微寒，有毒。主蠱毒寒熱，小兒驚癇。孟詵云：補虛，又主五臟邪氣，患蠱毒寒熱。宜多服之。日華子云：暖，無毒。補虛勞，治惡瘡疥，隨臟而補。頭尾灰：治牛疫。以水飲之。</p>
<h3>膃肭臍</h3>
<p>味鹹，無毒。主鬼氣尸疰，夢與鬼交，鬼魅狐魅，心腹痛，中惡邪氣，宿血結塊，　癖羸瘦。《藥性論》：君。大熱。主男子宿症氣塊，積冷，勞氣羸瘦，腎精衰損，多色成腎勞瘦悴。日華子云：膃肭獸，熱。補中、益腎氣，暖腰膝，助陽氣，破症結，療驚狂，癇疾及心腹疼，破宿血。出：西戎、東海。</p>
<h4>敗鼓皮</h4>
<p>主中蠱毒。</p>
<h2>禽部三品</h2>
<h3>烏雄雞</h3>
<p>肉：微溫。主補中，止痛。膽：主療目不明，肌瘡。心：主五邪。血：主　折骨痛及痿痹。肪：主耳聾。腸：主遺溺，小便數不禁。肝：及左翅毛主起陰。冠血：主乳難。</p>
<p>裡黃皮：主泄痢，遺溺，除熱，止煩。屎白：微寒。主消渴，傷寒寒熱，破石淋及轉筋，利小便，止遺溺，滅瘢痕。</p>
<h4>黑雌雞</h4>
<p>主風寒濕痹，五緩六急，安胎。血，無毒。主中惡腹痛　及折骨痛，乳難。翮羽：主下閉血。日華子云：溫，無毒。安心定志，除邪，辟惡氣，治血邪，破心中宿血及治癰疽，排膿，補新血，補產後虛羸，益色，助氣。膽：治疣，耳目　瘡。腸：治遺尿。糞：治中風。</p>
<h3>烏鴉</h3>
<p>平，無毒。治瘦，咳嗽，骨蒸勞。臘月者，瓦瓶泥煨燒為灰，飲下，治小兒癇及鬼魅。</p>
<p>目睛注目中，通治目。《聖惠方》：治土蜂　。以鴉頭燒灰細研敷之。《圖經》云：古方用翅羽。《肘後方》療從高墮下，瘀血棖心面青短氣者，以烏鴉翅羽七枚，得右翅最良，燒末酒服之，當吐血便愈。</p>
<h4>慈鴉</h4>
<p>味酸鹹，平，無毒。補勞，治瘦，助氣，止咳嗽。骨蒸羸弱者，和五味淹炙食，良。只能治病不宜常食也。</p>
<h4>斑鳩</h4>
<p>味甘，平，無毒。主明目，多食其肉益氣，助陰陽。</p>
<h2>蟲魚部上品</h2>
<h3>石蜜</h3>
<p>味甘、，平、微溫，無毒。主心腹邪氣，諸驚癇　，安五臟諸不足，益氣，補中，止痛，解毒，除眾病，和百藥，養脾氣，除心煩食飲不下，止腸　，肌中疼痛，口瘡，明耳目。《藥性論》云：君。治卒心痛及赤白痢疾。《外台秘要》：治陰頭生瘡。以蜜煎甘草塗之瘥。《梅師方》：肛門主肺，肺熱即肛塞腫縮生瘡。白蜜一升，豬膽一枚相和，微火煎令可丸，丸長三寸作挺，塗油納下部，臥令後重，須臾通泄。</p>
<h4>蜜蠟</h4>
<p>味甘，微溫，無毒。主下痢膿血，補中，續絕傷金瘡，益氣，不飢耐老。白蠟：療久泄後重見白膿，補絕傷，利小兒。《藥性論》云：使。味甘，平，無毒。主孕婦人胎動漏下血不絕欲死。畏：芫花、齊蛤。生：武都。</p>
<h3>真珠</h3>
<p>寒，無毒。主手足、皮膚逆臚，鎮心，綿裹塞耳主聾。《藥性論》云：君。治眼中翳障白膜。七寶散用磨翳障，亦能墜痰。日華子云：安心，明目，駐顏色。《外台秘要》：治難產及子死腹中，胞衣不出。《肘後方》：治猝忤停尸不能言。真珠末以雞冠血和丸小豆大，以三四粒納口中。</p>
<h3>玳瑁</h3>
<p>寒：無毒。主解嶺南百藥毒。俚人刺其血飲以解諸藥毒。陳士良云：主諸風毒，行氣血，去胸膈中風痰，鎮心脾，逐邪熱，利大小腸，通婦人經脈。甲殼似肉，同療心風邪，解煩熱。</p>
<p>日華子云：破症結，消癰毒，止驚癇等疾。</p>
<h3>桑螵蛸</h3>
<p>味鹹甘，平，無毒。主傷中，疝瘢，陰痿，益精生子，女子血閉腰痛，通五淋，利小便水道，又療男子虛損，五臟氣微，夢寐失精，遺溺。《藥性論》云：臣。主男子腎衰漏精，精自出。《產書》：治妊娠小便數。得：龍骨，療泄精。畏：旋覆花、戴椹。名螳螂子</p>
<h3>牡蠣</h3>
<p>味鹹，平，微寒，無毒。主傷寒寒熱，溫瘧洒洒，驚恚怒氣，除拘緩，鼠　，女子帶下赤白，除留熱在關節營衛，虛熱往來不定，煩滿，止汗，心痛氣結，止渴，除老血，澀大小腸，止大小便，療泄精，喉痹，咳嗽，心脅下痞熱，久服強骨節，殺邪鬼。貝母為之使。得：甘草、牛膝、遠志、蛇床，良。惡：麻黃、吳茱萸、辛夷。《藥性論》云：君。主女子崩中，止盜汗，除風熱，止痛，治溫瘧。</p>
<h3>石決明</h3>
<p>味鹹，平、無毒。主目障，翳痛，青盲，久服益精。日華子云：涼。明目，殼磨障翳。</p>
<p>《海藥》云：主青盲內障，肺肝風熱，骨蒸勞極，並良。《勝金方》：治小腸五淋。石決明去粗皮甲，搗研細。上件藥如有軟硬物淋，即添朽木細末，熟水調下二錢匕服。</p>
<h3>鯉魚</h3>
<p>鯉魚膽：味苦，寒，無毒。主目熱赤痛，青盲，明目，久服強悍，益志氣。肉：味甘。</p>
<p>主咳逆上氣，黃膽，止渴。生者主水腫，腳滿下氣。骨：主女子帶下赤白。齒：主石淋。《藥性論》云：膽可單用。味大苦。點眼治赤腫翳痛，小兒熱腫。日華子云：涼，有毒。肉治咳嗽，療香港腳及胎不安。蜀漆為使。</p>
<h4>鱔魚</h4>
<p>味甘，大溫，無毒。主補中，養血，療瀋唇。五月五日取頭骨燒之止痢。陳藏器云：主濕痹氣，補婦人產後淋瀝，血氣不調，羸瘦，止血，除腹中冷氣，腸鳴。孟詵云：補五臟，逐十二風邪。《聖惠方》：治婦人乳結硬疼。</p>
<h2>蟲魚部中品</h2>
<h3>皮</h3>
<p>味苦，平，無毒。主五痔陰蝕，下血赤白，五色血汁不止，陰腫，痛引腰背，又療腹痛疝積。《藥性論》云：臣。味甘，有小毒。主腸風瀉血，痔病，主鼻衄，甚解一切藥力。日華子云：開胃氣，止血汗，肚脹痛，疝氣。脂：治腸風瀉血。得：酒，良。畏：桔梗、麥門冬。</p>
<h3>蜂房</h3>
<p>味苦鹹，平，有毒。主驚癇螈　，寒熱邪氣，癲疾，鬼精蠱毒，腸痔。《藥性論》云：土蜂房亦可單用。能治癰腫不消，用醋水調塗，干即易之。日華子云：露蜂房，微毒。治牙齒疼，痢疾，乳癰，蜂叮惡瘡。即煎洗入藥，並炙用。《圖經》云：亦解蠱毒，又主乳石發動，頭痛煩熱，口乾，便旋赤少者。取十二分，炙，以水二升煮取八合，分溫再服。當利小便，諸惡瘡隨便出。又療熱病後毒瓦斯沖目，又瘰　成　作孔者。惡：乾薑、丹參、黃芩、芍藥、牡蠣。</p>
<h3>鱉甲</h3>
<p>味鹹，平，無毒。主心腹症瘕，堅積寒熱，去痞，息肉，陰蝕痔惡肉，療溫瘧，血瘕，腰痛，小兒脅下堅。肉：味甘。主傷中，益氣，補不足。《藥性論》云：鱉甲，使。能下氣，除骨熱，治婦人漏下五色，羸瘦。頭血：塗脫肛。日華子云：去血氣，惡血，墮胎，消瘡腫並撲損瘀血，瘧疾，腸癰，療脫肛。惡：磯石、理石。</p>
<h3>蚱蟬蟬花</h3>
<p>味鹹甘，寒，無毒。主小兒驚癇夜啼，癲病寒熱，驚悸，婦人乳難，胞衣不出。又墮胎，</p>
<p>《藥性論》云：使。味酸。主治小兒驚哭不止，殺疳蟲，去壯熱，治腸中幽幽作聲。又云蟬蛻，使。主治小兒渾身壯熱，驚癇，兼能止渴。蟬花：味甘，寒，無毒。主小兒天吊，驚癇螈，夜啼心悸。出：蜀中。其蛻殼頭上有一角，如花冠狀，謂之蟬花，最佳。</p>
<h3>烏賊魚</h3>
<p>骨，味鹹，微溫，無毒。主女子漏下赤白，經汁血閉，陰蝕腫痛，寒熱症瘕，無子，驚氣入腹，腹痛環臍，陰中寒腫，令人有子，又止瘡多膿。《藥性論》云：使。有小毒。止婦人漏血及耳聾。日華子云：通月經。骨：療血崩，殺蟲，心痛甚者。孟詵云：主目中一切浮翳。惡：白蘞、白芨、附子。</p>
<h4>蜥蜴</h4>
<p>味鹹，寒，有小毒。主五癃邪結氣。破石淋，下血，利小便水道。惡：硫黃、斑蝥、蕪荑。一名：　蜓。</p>
<h3>白僵蠶</h3>
<p>味鹹辛，平，無毒。主小兒驚癇夜啼，去三蟲，滅黑　，令人面色好，男子陰瘍病，女子崩中赤白，產後余痛。《藥性論》云：有小毒。治口噤，發汗。日華子云：治中風失音，一切風疾，小兒客忤。蠶蛹子：治風及勞瘦。惡：桑螵蛸、桔梗、茯苓、茯神、萆　。</p>
<h3>原蠶蛾</h3>
<p>雄者，有小毒。主益精氣，強陰道，交接不倦，亦止精。日華子云：晚蠶蛾壯陽事，止泄精，尿血，暖水臟。又：治暴風，金瘡，凍瘡，湯火瘡。又，蠶布紙：平。治吐血鼻洪，腸風瀉血，崩中帶下，赤白痢，敷疔腫瘡。又云：蠶砂治風痹頑疾不仁、腸鳴。</p>
<h4>蠶蛻</h4>
<p>主血風病，益婦人，治纏喉風。</p>
<h3>樗雞</h3>
<p>味苦，平，有小毒。主心腹邪氣，陰痿，益精，強志，生子，好色，補中，輕身，又療腰痛，下氣，強陰多精。生：生河內川穀樗樹上，七月采，曝乾。《唐本》注云：此物有二種。以五色具者為雄，良。青黑質白斑者是雌，不入藥用，今出岐州。</p>
<h2>蟲魚部下品</h2>
<h3>蝦蟆</h3>
<p>味辛，寒，有毒。主邪氣，破症堅血，癰腫陰瘡，療陰蝕疽癘，惡瘡，　犬傷瘡，能合玉石。《藥性論》云：辟百邪鬼魅，塗癰腫，治熱結腫。又云：臣。殺疳蟲，治鼠　惡瘡。</p>
<p>日華子云：冷，無毒。治犬咬及熱狂，貼惡瘡，解煩熱。又名蟾蜍，微毒。破症結，治疳氣，癖氣，治腰腎冷，並助陽氣。</p>
<h3>蚌蛤</h3>
<p>冷，無毒。明目，止消渴，除煩，解熱毒，補婦人虛勞下血並痔　，血崩帶下，壓丹藥毒。以黃連末納之，取汁點赤眼並暗，良。爛殼粉飲下治反胃，痰飲。又云：蚌粉：冷，無毒。治疳，止痢並嘔逆，癰腫。醋調敷兼能制石亭脂。《食療》云：大寒。主大熱，解酒毒，止渴，去眼赤，動冷熱氣。</p>
<h4>蛇蛻</h4>
<p>味鹹甘，平，無毒。主小兒百二十種驚癇，螈　癲疾，寒熱腸痔，蠱毒蛇癇，弄舌搖頭，大人五邪，言語僻越，惡瘡，嘔咳，明目。《藥性論》云：臣。有毒。能主百鬼魅，治喉痹。</p>
<p>日華子云：治蠱毒，辟惡，止嘔逆，治小兒驚悸客忤，催生，　瘍，白癜風。煎汁敷，入藥並炙用。畏：磁石及酒。</p>
<h3>白頸蚯蚓</h3>
<p>味鹹，寒、大寒，無毒。主蛇瘕，去三蟲，伏尸鬼疰蠱毒，殺長蟲，仍自化為水。療傷寒伏熱狂謬，大腹黃膽。屎封狂犬傷毒，出犬毛，神效。《藥性論》云：小毒。主蛇傷毒。</p>
<p>日華子云：治中風並癇疾，去三蟲，治傳尸，天行熱疾，喉痹，小兒陰囊忽虛熱腫痛。解射罔毒。</p>
<h3>蜈蚣</h3>
<p>味辛，溫，有毒。主鬼疰、蠱毒，啖諸蛇、蟲、魚毒，殺鬼物老精，溫瘧，去三蟲，療心腹寒熱結聚，墮胎，去惡血。日華子云：治症癖，邪魅，蛇毒。入藥炙用。《淮南子》云：騰蛇游霧而殆於　蛆，其性能制蛇。忽見大蛇便緣而啖其腦。蜈蚣亦嚙人，以桑汁、白鹽塗之即愈。胡洽：治尸疰惡氣。《圖經》云：今人治初生兒口噤不開，不收乳者。</p>
<h3>斑蝥</h3>
<p>味辛，寒，有毒。主寒熱，鬼疰、蠱毒，鼠　疥癬，惡瘡疽，蝕死肌，破石癃，血積，傷人肌，墮胎。《藥性論》云：使。有大毒。能治瘰　，通利水道。日華子云：療淋疾，敷惡瘡　爛。入藥除翼、足，熟炒用。生即吐瀉人。馬刀為之使。畏：巴豆、丹參、空青。惡：膚青。</p>
<h3>貝子</h3>
<p>味鹹，平，有毒。主目翳，鬼疰蠱毒，腹痛下血，五癃，利水道，除寒熱溫疰，解肌，散結熱。燒用，良。《藥性論》云：貝子，使。破五淋，利小便。治傷寒狂熱。日華子云：貝齒，涼。治翳障並鬼毒蠱氣。下血。《海藥》云：主水氣浮腫，孩子疳蝕及吐乳，並燒用。</p>
<p>亦名KT　子。</p>
<h3>白花蛇</h3>
<p>味甘咸，溫，有毒。主中風，濕痹不仁，筋脈拘急，口面　斜，半身不遂，骨節疼痛，大風疥癩及暴風瘙癢，腳弱不能久立。《藥性論》云：君。主治肺風，鼻塞，身生白癜風，瘍，斑點及浮風，癮疹。《圖經》云：治風，速於諸蛇。然有大毒，頭尾各一尺尤甚，不可用。只用中斷干者，以酒浸去皮骨，炙過收之，不復蛀壞。其骨須遠棄之，不然刺傷人與生者殆同。又治疥癩遍體，諸藥不能及者。生：南地。</p>
<h3>五靈脂</h3>
<p>味甘，溫，無毒。主療心腹冷氣，小兒五疳，辟疫，治腸風，通利氣脈，女子血閉。一云；治傷冷積聚。又治產婦血暈，昏迷上衝，悶絕不知人事。又治血崩不止。《經效方》：治婦人心痛，血氣刺不可忍者。又治婦人經血不止。出：北地。是寒號蟲糞。</p>
<h3>蠍</h3>
<p>味甘，辛，有毒。療諸風、癮疹及中風半身不遂，口眼　斜，語澀，手足抽掣。又治中風抽掣手足，小兒驚搐。《經驗方》：治小兒驚風。用蠍一個，不去頭尾，薄荷四葉，裹合火上炙令薄荷焦，同碾末，作四服，大人風涎只一服。《杜壬方》：治腎虛耳聾。</p>
<h3>鯪鯉甲</h3>
<p>微寒。主五邪，驚啼悲傷。燒之作灰，以酒或水和方寸匕，療蟻　。又治瘡癩及諸疰疾。</p>
<p>《藥性論》云：使。有大毒。治山瘴，療瘧惡瘡。燒敷之。日華子云：涼，有毒。治小兒驚邪，女人鬼魅悲泣及痔漏，惡瘡，疥癬。《簡要濟眾》：治產後血氣上衝心，成血暈。一方：燒灰，與少肉豆蔻末、米飲調服。療腸痔，又治</p>
<h3>甲香</h3>
<p>味鹹，平，無毒。主心腹滿痛氣急，止痢，下淋。《海藥》云：和氣清神，主腸風　痔。</p>
<p>陳氏云：主甲疽，　瘡，蛇蠍蜂螫，疥癬頭瘡。生：南海。</p>
<h2>果部三品</h2>
<h3>豆蔻</h3>
<p>味辛，溫，無毒。主溫中，心腹痛、嘔吐，去口臭氣。《藥性論》云：草豆蔻可單用。</p>
<p>能主一切冷氣。陳藏器云：去惡氣，溫中，中惡霍亂，心腹冷痛。日華子云：豆蔻花無毒。</p>
<p>下氣。止嘔逆，除霍亂；調中，補胃氣，消酒毒。又云山薑花，暖。調中下氣，消食，殺酒毒。</p>
<h3>藕實</h3>
<p>莖：味甘，平，寒，無毒。主補中，養神，益氣力，除百病。《藥性論》云：藕汁亦單用。能消瘀血不散。節，搗汁主吐血不止，口鼻並皆治之。孟詵云：藕生食之主霍亂後虛渴煩悶。又云：蓮子性寒。主五不足，傷中，氣絕，益十二經脈血氣。生食微動氣，蒸食，良。</p>
<p>其房，荷葉皆破血。陳藏器云：藕，本功外，消食止泄，除煩，解酒毒。荷葉蒂：主安胎，去惡血、留好血，血痢。陳士良云：蓮子心療血渴疾，產後渴疾。日華子云：藕，溫。止霍亂，開胃消食，除煩止悶，口乾渴疾，產後血悶。搗　金瘡並傷折，止暴痛。蒸煮食大開胃。</p>
<p>節：冷。解熱毒，消瘀血，產後血悶。合地黃生研汁，熱酒並小便服，並得。蓮子：溫，並石蓮：益氣，止渴，助心，止痢，治腰痛，泄精。蓮花：暖。鎮心。忌地黃、蒜。荷葉：止渴，落胞，殺蕈毒，產後心肺躁。</p>
<h3>橘皮</h3>
<p>《藥性論》云：橘皮，味苦辛。能治胸膈間氣，開胃，主氣痢，消痰涎，治上氣咳嗽。</p>
<p>日華子云：皮，暖。消痰，止嗽，破症瘕　癖。核：治腰痛，膀胱氣，腎疼。炒去殼，酒服。</p>
<p>橘囊上筋膜治渴及吐。酒炒煎湯飲，甚驗。一方：治諸吃噎。加枳殼服之效。</p>
<h3>大棗</h3>
<p>味甘，平，無毒。主心腹邪氣，安中養脾，助十二經，平胃氣，通九竅，補少氣少津液，身中不足，大驚，四肢重。和百藥，補中益氣，強力，除煩悶，療心下懸，腸　。孟詵云：干棗，溫。主補津液。三年陳者核中仁主惡氣，猝疰忤，又療耳聾，鼻塞。又云：洗心腹邪氣，和百藥毒，小兒患秋痢。日華子云：潤心肺，止嗽，補五臟，治虛勞損，除腸胃癖氣。</p>
<p>和光粉燒治疳痢。牙齒有病患切忌啖之，不宜合生蔥食。葉：治小兒壯熱。</p>
<h3>葡萄</h3>
<p>味甘，平，無毒。主筋骨濕痹，益氣倍力，強志，令人肥健，耐飢忍風寒，可作酒，逐水，利小便。孟詵云，子不堪多食，令人猝煩悶，眼暗。根：濃煮汁止嘔噦，霍亂後惡心，孕人子上衝心。飲之即下，其胎安。《藥性論》云：君。除腸間水氣，調中，治淋，通小便。</p>
<p>一云：治時氣，發瘡疹不出者。</p>
<h3>雞頭實</h3>
<p>味甘，平，無毒。主濕痹腰脊膝痛，補中，除暴疾，益精氣，強志，令耳目聰明。孟詵云：生食動風冷氣。陳士良云：此種雖生於水而有軟根，名　菜。主小腹結氣痛。日華子云：開胃助氣。根可作菜蔬食。一云：雞頭作粉食之甚妙，是長生之藥。</p>
<h3>梅實</h3>
<p>味酸，平，無毒。主下氣，除熱煩滿，安心，肢體痛偏枯不仁，死肌，去青黑痣，惡疾，止下痢，好唾口乾。《藥性論》云：梅核仁可單用，能除煩熱。陳藏器云：止渴，令人膈上熱。烏梅：去痰，主瘧瘴，止渴，調中，除冷熱痢，止吐逆。日華子云：止渴。多啖，傷骨蝕脾胃。根葉濃煎湯治休息痢並霍亂。</p>
<h4>覆盆子</h4>
<p>味甘，平，無毒。主益氣。《藥性論》云：臣。微熱。主男子腎精虛竭，女子食之有子，主陰痿，能令堅長。日華子云：安五臟，益顏色，養精氣，療中風身熱及驚。</p>
<h3>芰實</h3>
<p>味甘，平，無毒。主安中，補五臟。一名菱。孟詵云：菱實，仙家蒸作粉，蜜和食之可休糧。水族之中此物最不能治病。又云，令人臟冷，損陽氣，　。莖可少食，令人腹脹滿者，可暖酒和薑飲之即消。解丹石毒。今所在有之。</p>
<h3>木瓜</h3>
<p>味酸，溫，無毒。主濕痹，邪氣，霍亂大吐下轉筋不止。其枝葉亦可煮用。陳藏器云：下冷氣，強筋骨，消食，止水痢後渴不止，又香港腳衝心，又止嘔逆膈痰唾。日華子云：止吐瀉，奔豚及香港腳水腫，冷熱痢，心腹痛，療渴，嘔逆，痰唾。根治香港腳。</p>
<h3>枇杷葉</h3>
<p>味苦，平，無毒。主猝　不止，下氣。《唐本》注：用葉須火炙，布拭去毛。不爾，射人肺，令咳不巳，又主咳逆不下食。《藥性論》云：使。能主胃氣冷，嘔噦不止。日華子云：子：平，無毒。治肺氣，潤五臟，下氣，止嘔逆並渴。葉：療產後口乾。</p>
<h3>甘蔗</h3>
<p>味甘，平，無毒。主下氣和中，助脾氣，利大腸。日華子云：利小腸，下氣痢，補脾，消痰，止渴，除心煩熱。作沙糖潤心肺，殺蟲，解酒毒。石蜜：乳糖也。味甘，寒，無毒。</p>
<p>主心腹熱脹，口乾渴，性冷利。煎沙糖和牛乳為之。沙糖：味甘，寒，無毒。功體與石蜜同。</p>
<p>多食令人心痛。</p>
<h3>杏仁</h3>
<p>味甘苦，溫、冷利，有毒。主咳逆上氣雷鳴，喉痹，下氣，產乳，金瘡，寒心奔豚，驚癇，心下煩熱，風氣去來，時行頭痛。《藥性論》云：能治腹痹不通，發汗，主溫病，治心錫毒。畏：衰草。</p>
<h3>石榴皮</h3>
<p>味甘酸，無毒。主咽燥渴。損人肺，不可多食，酸實殼：療下痢，止漏精。東行根：療蛔蟲、寸白。《藥性論》云：使。治筋骨風，腰腳不遂，行步攣急疼痛，主澀腸，止赤白下痢及漏精。《海上方》：療金瘡，刀斧傷，破血流。以鍛石、石榴花為末，敷擦，少時血斷便瘥。</p>
<h3>李核仁</h3>
<p>味苦，平，無毒。主僵仆躋瘀血骨痛。根皮：大寒。主消渴，止心煩逆奔氣。實：味苦。</p>
<p>除痼熱，調中。《藥性論》云：仁，臣。治女子小腹腫痛，主　折骨疼肉傷，利小腸，下水氣，除腫滿。根皮：使。治腳下氣，主熱毒。日華子云：李，溫。益氣。又云根：涼，無毒。</p>
<p>主赤白痢。葉：平，無毒。治小兒壯熱，癲疾驚癇。陶隱居云：李皮，水煎含之療</p>
<h3>橄欖</h3>
<p>味酸甘，溫，無毒。主消酒，療　鮐毒。人誤食此魚肝，迷悶者可煮汁服之必解。</p>
<p>木作　撥，著魚皆浮出，故知物有相畏。日華子云：橄欖開胃，下氣，止渴。《圖經》云：生啖及煮飲服之並解諸毒。</p>
<h2>米穀部三品</h2>
<h3>胡麻</h3>
<p>味甘，平，無毒。主傷中虛羸，補五內，益氣力，長肌肉，填髓腦，堅筋骨，療金瘡止痛及傷寒，溫瘧大吐後虛熱羸困，明耳目。《藥性論》云：葉搗汁，沐浴甚良。又牛傷熱，搗汁灌之立瘥。又患崩中血凝疰者。日華子云：補中益氣，養五臟，治勞氣，產後羸困，耐寒暑，止心驚。子：利大小便，催生落胞，逐風溫氣，游風頭風，生瘡。油：微寒。利大腸，胞衣不落。生者，摩瘡腫，生禿髮。葉：名青　。味甘，寒，無毒。主五臟邪氣。風寒濕痹，益氣，補腦髓，堅筋骨。陳士良云：胡麻仁生嚼，塗小兒頭瘡，亦療婦人陰瘡。初食利大小腸，久食即否，去陳留新。《食療》云：潤五臟，主火灼。休糧人重之，填骨髓，補虛氣。</p>
<h3>生大豆</h3>
<p>味甘，平。塗癰腫。煮汁飲，殺鬼毒，止痛。逐水脹，除胃中熱痹，傷中，淋露，下瘀血，散五臟結積內寒。炒為屑，味甘。主胃中熱，去腫，除痹，消穀，止腹脹。日華子云：黑豆調中下氣，通關脈，制金石藥毒，治牛馬溫毒。惡：五參、龍膽。得：前胡、烏喙、杏仁、牡蠣，良。解：烏頭毒。</p>
<h3>赤小豆</h3>
<p>味甘酸，平，無毒。主下水，排癰腫膿血，寒熱，熱中，消渴，止泄，利小便，吐逆，猝，下脹滿。《藥性論》云：使。能消熱毒癰腫，散惡血不盡，煩滿，治水腫，主黃，爛瘡。末與雞子白調塗熱毒癰腫瘥，通氣，健脾胃。日華子云：赤豆粉治煩，解熱毒，排膿，補血脈，解油衣黏綴。葉：明目。一云：昔有人患香港腳，用此作袋，置足下朝夕展轉踐踏之，其疾遂愈。亦主丹毒，塗之。</p>
<h4>大豆黃卷</h4>
<p>味甘，平，無毒。主濕痹筋攣膝痛，五臟胃氣結積，益氣，止毒。《食療》云：破婦人惡血，良。</p>
<h4>酒</h4>
<p>味甘辛，大熱，有毒。主行藥勢，殺百邪惡毒瓦斯。日華子云：通血脈，濃腸胃，除風及下氣，御風寒。</p>
<h4>粟米</h4>
<p>味鹹，微寒，無毒。主養腎氣，去胃脾中熱，益氣，陳者，味苦。主胃熱，消渴，利小便。</p>
<h4>粳米</h4>
<p>味甘苦，平，無毒。主益氣，止煩，止泄。按《蜀本》云：斷下痢，和胃氣，長肌肉，溫中。日華子云：補中，壯筋骨，補腸胃。</p>
<h4>黃粱米</h4>
<p>味甘，平，無毒。主益氣，和中，止泄。又治小兒面上瘡及霍亂吐下。日華子云：去客風，治頑痹。</p>
<h4>米</h4>
<p>味苦，無毒。主寒中，下氣，除熱。日華子云：溫。除煩消宿食，開胃。</p>
<h3>小麥</h3>
<p>味甘，微寒，無毒。主除熱，止躁渴咽乾，利小便，養肝氣，止漏血，唾血。以作曲，溫。消穀，止痢。作面，溫。不能消熱，止煩。陳臟器云：麩和面作餅止泄痢，調中，去熱。</p>
<p>日華子云：面：養氣，補不足，助五臟。麥黃：溫中下氣，消食除煩。麩：涼。治時疾、熱瘡，湯火瘡爛，撲損傷折瘀血。醋炒貼　。麥苗：涼。除煩悶，解時疾狂熱，消酒毒，退胸膈熱，患黃膽人絞汁服，並利小腸。</p>
<h4>大麥</h4>
<p>味鹹，溫，微寒，無毒。主消渴，除熱，益氣，調中。《藥性論》云：使。味甘，無能消化宿食，破冷氣，去心腹脹滿。陳士良云：補虛劣，壯血脈，益顏色，實五臟。日華子云：麥　溫中下氣，開胃，止霍亂，除煩，消痰，破症結，能催生落胎。《兵部手集》：治產後閉結鼓脹不通，轉氣急。陳藏器云：不動風氣，調中，止泄。蜜為之使。</p>
<h4>曲</h4>
<p>味甘，大暖。療臟腑中風氣，調中下氣，開胃，消宿食，主霍亂，心膈氣，痰逆，除煩，破症結，及補虛，去冷氣，除腸胃中塞不下食，又落胎並下鬼胎。《千金方》：治產後消。《傷寒類要》：治傷寒飲食勞復。神麯：使。無毒。能化水穀宿食、症氣，健脾胃。</p>
<h3>扁豆</h3>
<p>味甘，微溫。主和中下氣。葉：主霍亂吐下不止。孟詵云：療霍亂吐痢不止，和醋服下氣。又吐痢後轉筋，生搗葉汁服立瘥。《藥性論》云：白扁豆可單用。主解一切草木毒。</p>
<p>日華子云：平，無毒。補五臟。葉敷蛇蟲咬。《食療》云：微寒。主嘔逆。患冷氣人勿食。</p>
<p>葉：治瘕，醋煮。理轉筋，葉汁醋服。</p>
<h4>豉</h4>
<p>味苦，寒，無毒。主傷寒頭痛寒熱，瘴氣惡毒，煩躁滿悶，虛勞喘吸，兩腳疼冷。《藥性論》云：豆豉得　，良。殺六畜毒。味苦甘。主下血痢如刺者。又傷寒暴痢腹痛，和薤白煎服。熬末，能止汗，主除煩躁，治時疾熱病，發汗。又治陰莖上瘡腫爛。陳藏器云：蒲州豉味鹹，無毒。主解煩熱虛勞，調中，發汗，通關節，殺腥氣，傷寒鼻塞。孟詵云：能治久盜汗患者。微炒令香，漬酒任服即止。日華子云：治中毒藥，蠱氣，瘧疾，骨蒸，並治犬咬。</p>
<h4>綠豆</h4>
<p>味甘，寒，無毒。主丹毒，煩熱，風疹，藥石發動，熱氣奔豚。日華子云：冷。益氣除熱毒風，濃腸胃，作枕明目，治頭風頭痛。孟詵云：補益，和五臟，安精神，行十二經此最為良。今人食皆去皮，若愈病須和皮。又研汁治消渴，去浮風，益氣力。</p>
<h4>白豆</h4>
<p>平，無毒。補五臟，益中，助十二經脈，調中，暖腸胃。孫真人云：宜腎，煞鬼氣。</p>
<h4>醋</h4>
<p>味酸，溫，無毒。主消癰腫，散水氣，殺邪毒。日華子云：治產後婦人並傷損，及金瘡血暈，下氣，除煩，破症結，婦人心痛，助諸藥力，殺一切魚、肉、菜毒。米醋功用同。</p>
<p>云：俗呼為苦酒，亦謂之醯。</p>
<h2>菜部三品</h2>
<h3>冬葵子</h3>
<p>味甘，寒，無毒。主五臟六腑寒熱，羸瘦，五癃，利小便，療婦人乳難，內閉，久骨，長肌肉。《藥性論》云：臣。滑，平。能治五淋，主奶腫，能下乳汁。根：治惡瘡兒吞錢不出。葉：治金瘡，滑小腸，治時行黃病。日華子云：久服堅筋骨。黃芩為之使</p>
<h3>瓜蒂</h3>
<p>味苦，寒，有毒。主大水，身面四肢浮腫，下水，殺蠱毒，咳逆上氣。日華子治腦塞，熱　，眼昏，吐痰。一云：即甜瓜蒂也。《藥性論》云：使。莖：主鼻。和小豆、丁香吹鼻治黃膽。花：主心痛咳逆。肉：主煩渴，除熱。多食主腹內結聚，破潰膿血，最為腸胃脾內壅要藥。</p>
<h4>胡荽</h4>
<p>味辛，溫，微毒。消穀，治五臟，補不足，利大小腸，通小腹氣，止頭痛，療沙疹，豆瘡不出，主蠱毒，五痔。《食療》云：平。利五臟，補筋脈，主消穀。</p>
<h4>蜀葵花</h4>
<p>冷，無毒。治小兒風疹。子：冷，無毒。治淋澀，通小腸，催生落胎，療水腫，治一切瘡疥，療　瘧，去邪氣，又治婦人白帶下，臍腹冷痛，面色痿黃，又治癰毒。</p>
<h4>甜瓜</h4>
<p>寒，有毒。止渴，除煩熱，利小便，通三焦，開壅塞氣，兼主口鼻瘡。</p>
<h4>蘿卜</h4>
<p>根味辛甘，溫，無毒。大下氣，消穀，去痰癬，主消渴。蕭炳云：消食，利關節，理顏色，練五臟惡氣，亦主肺嗽吐血。亦不發熱。</p>
<h3>蔥實</h3>
<p>味辛，溫，無毒。主明目，補中不足。其莖蔥白，平。可作湯，主傷寒寒熱出汗，中風面目腫，傷寒骨肉痛，喉痹不通，安胎，歸目，除肝邪氣，安中，利五臟，益目睛，殺百藥毒。蔥根：主傷寒頭痛。蔥汁：平、溫。主溺血。解藜蘆毒。孟詵云：蔥根主瘡中有水，風腫疼痛者冬蔥最善。日華子云：蔥，治天行時疾，頭痛熱狂，通大小腸，霍亂轉筋及奔豚氣，香港腳，心腹痛，目眩，及止心迷悶。取其莖葉用鹽研，　蛇蟲傷，並金瘡。水入皸腫，煨研敷。中射工溪毒，鹽研　敷。子：溫中，補不足，益精明目。根：殺一切魚肉毒。不可以蜜同食。</p>
<h3>蒜</h3>
<p>味辛，溫，有小毒，歸脾腎。主霍亂、腹中不安，消穀，理胃，溫中，除邪痹毒瓦斯。孟詵云：主諸蟲毒，疔腫，甚良。不可常食。日華子云：熱，有毒。下氣，止霍亂吐瀉，消宿食，治蟲毒，敷蛇蟲沙虱瘡。一云：主香港腳，治瘧疾，煮與妊婦飲之易產。</p>
<h4>韭</h4>
<p>味辛微酸，溫，無毒，歸心。安五臟，除胃中熱，利病患。子：主夢泄精，溺白。日華子云：熱。下氣，補虛乏，和臟腑，暖腰膝，除心腹痼冷，胸中痹冷，　癖氣及腹痛。子：暖腰膝，治鬼交，甚效。入藥炒用。</p>
<h4>薤</h4>
<p>味辛苦，溫，無毒。主金瘡。除寒熱，去水氣，溫中，散結。日華子云：調中，補不足止久痢，冷瀉。一云：治目疼痛。</p>
<h3>薄荷</h3>
<p>味辛苦，溫，無毒。主賊風，傷寒，發汗，惡氣心腹脹滿，霍亂，宿食不消，下氣，汁發汗大解勞乏。《藥性論》云：使。能去憤氣，發毒汗，破血，止痢，通利關節。新病人勿食，令人虛汗不止。陳士良云：能引諸藥入營衛，療陰陽毒，傷寒頭痛，又主風氣壅攻胸膈。日華子云：治中風失音，吐痰，除賊風，療心腹脹，下氣，消宿食及頭風等。</p>
<h3>雞蘇</h3>
<p>味辛，微溫，無毒。主下氣，殺穀，除飲食，辟惡氣，主吐血、衄血、血崩。孟詵云搗生葉，綿裹塞耳，療聾。又治頭風目眩、產後中風。日華子云：暖。治肺痿、崩中、帶下、血痢、頭風目眩，產後中風及血不止。一名：水蘇。</p>
<h3>蘇</h3>
<p>味辛，溫。主下氣，除寒中。其子尤良。《藥性論》云：紫蘇子，無毒。主上氣咳逆，胃下食，並一切冷氣，止香港腳，通大小腸。子：主調中，益五臟，下氣，止霍亂嘔吐，反胃，補虛勞，利大小便，破症結，消五膈，止嗽，潤心肺，消痰氣，健人。</p>
<h3>香薷</h3>
<p>味辛，微溫。主霍亂腹痛吐下，散水腫。孟詵云：去熱風，猝轉筋。又干末止鼻衄。</p>
<p>水服之。日華子云：無毒。下氣，除煩熱，療嘔逆冷氣。一云：苗、莖、花、實俱亦主調溫胃，霍亂吐瀉。《肘後方》：治舌上忽出血如簪孔者，香薷汁服之愈。</p>
<h3>荊芥</h3>
<p>味辛，溫，無毒。主寒熱，鼠　，瘰　生瘡，破結聚氣，下瘀血，除濕痹。陳士良云主血勞，風氣壅滿，背脊疼痛，虛汗，理丈夫香港腳，筋骨煩疼及陰陽毒，傷寒頭痛，頭旋眩，手足筋急。穗：治產後血暈。一名：假蘇。日華子云：利五臟，消食，下氣，醒酒。煎茶治頭風，出汗。豉汁煎治暴傷寒病。</p>
