<header data-type="book">
<h1>尤氏喉症指南</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤仲仁</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
</header>
<h2>咽喉大綱</h2>
<p>夫咽喉，左為咽屬胃，右為喉屬肺，乃一身之總要。通百節之關隘，呼吸出入，所由從也。經云：一陰一陽結，謂喉痹。痹者，閉也。有風、寒、暑、濕、燥、火、陰虛、實熱之症，盡皆有毒，或相搏相聚，其症不一，變幻不測。經云：聖神功巧，望問聞切，以此推之，治咽喉者，庶無誤矣。喉者，氣之關隘，通則利．塞則閉，無問其表本，當急治之。此風毒之氣，客於咽喉，與氣血相搏，結腫成毒，如熱入心包，煩亂不食，死矣。</p>
<h2>咽舌兩經</h2>
<p>咽有兩孔，左咽屬胃，納食之關；右喉屬肺，納氣之關。口上　屬胃，下　屬脾；胃分屬陽，脾分屬陰；舌心之中到舌尖屬心經，舌之四圍，皆屬脾經，舌根亦屬心經，小舌名曰蒂丁，屬胃；喉之左右屬肝經，兩耳垂下者亦屬肝。舌苔色白者屬寒，淡白而紫者風寒也，黃苔屬熱，如焦黃者熱甚，黑苔熱極也，凡舌苔不論焦黃紅白黑色，皆宜揩拭之，滑有津者真熱。凡治咽喉，不可純用寒涼，取效目前，恐上熱未除，中寒復起，毒瓦斯乘虛而入腹，致胸前高腫，上喘下泄，不可救也。</p>
<h2>看症凡例</h2>
<p>舌下兩竅，最要留心，左為華池金津，右為神水玉液。紫筋為舌系，俱連於腎，或用刀針傷　兩竅，津液耗散，斷絕不連，舌如干桔瓤矣，無藥可救。又小舌蒂丁，傷之亦關性命，醫者當知。</p>
<p>凡看症以箸按舌，其色桃紅者，起箸則紫紅，此真色，可治；按其色云白，起箸則紫紅色，此血已死，不治；按其口中之舌色漸退，起箸紫黑色徐現，死期在邇，不治。</p>
<p>凡治症先看氣血壯盛者，可服涼藥。衰弱者忌用寒涼，用則氣衰，即難治矣。</p>
<p>喉症初起寒戰，即生疼痛，發後身冷，口內不碎，身無別症，二便如常，不可以作火毒熱症。此皆陰氣虛寒而發，先以藥吹，或以水喚之法灌喉。即便服藥，先以發散和解，繼用溫補滋陰之味，或二三日後，再發寒熱，或加心痛、骨腰脅痛等症，則為難治。</p>
<p>或喉症發時，牙關緊閉，喉舌俱腫，口碎而臭；或舌腫、乳蛾、喉風等症，下午再發寒熱，大小便閉者，即作火毒熱症治。用石膏敗毒主之。</p>
<p>喉症發時，三日前胸膈不利，脈弦而數，治宜先祛風痰，後解熱毒。蓋飲酒則傷脾，怒氣則傷肝，色欲則傷腎。濕鬱之人，痰火上攻，咽喉干燥，二便如常，治宜補虛降火。喉症初起口臭者，有痰，頭面紅腫，此雖極危，獨可愈也。</p>
<p>又初起火險痛處不腫，而色如好人，牙關不閉緊者，不治。發時面青帶白，神氣少神，喜浴坐底處，罔顧五行者，不治。</p>
<p>舌腫滿者，不治。又色如胡桃者，不治。如荔枝色者，不治。初起不能言語者，不治。</p>
<h2>治症秘訣</h2>
<p>凡治症，三日前症雖重，尚未成膿，藥能消散。若至五六日，成膿穿破後，必腐爛難愈。爛處多用八味口疳丹，加龍骨珍珠散。凡傷寒之後，患連珠蛾及喉閉者，不治。蓋其頸頂硬強，目睛上視，故不治也。</p>
<p>凡喉症，一二日即發寒熱者輕；若初起不發寒熱者，至第三日發寒熱者重。大小便通利則易愈，不過浮游火上攻，宜服消風清火解毒之劑。若通二便，則火易泄，病易愈。若大小便不通，其症必重。若內有寒而外有火，用降火解毒重劑。</p>
<p>若頭痛，恐傳變傷寒，則難治矣。</p>
<p>凡症勢雖凶，發於外者易治。若初起大便閉結，宜用大黃元明粉下之，則自下降而愈。若至六七日不愈，仍閉結者，用之立死。蓋病久胃虛，元氣大虧，宜禁用硝黃等味矣。雖大便閉甚，只宜用蜜煎導法，如牙皂、細辛。</p>
<p>凡喉症無形便紅腫者，宜用元丹。</p>
<p>凡婦人喉腫痛者，有因經閉虛火上升而作。痛者，宜服通經藥。</p>
<p>凡喉症凶者，面色白亮無光，脈息沉微無力，此系神氣外泄亡陽之征，不治。若面色紅腫，脈來洪大有力，其勢雖凶，而元氣尚存者，治之可效。若腫而不痛，即系死肉，症難治矣。</p>
<p>凡舌腫脹，滿口塞住，不能入藥，用薑蠶、牙皂二味，炒研細末，吹鼻中。牙關開而痰涎出，然後用箸卷絲棉蘸甘草湯，潤其喉舌。凡碎處、腫處，吹藥要細，須要各處吹到，不可忽略，因能得藥力，其勢即減矣。</p>
<p>凡治喉症最要細心，即如喉花，名曰蒂丁。若用刀刺，必須謹慎，切勿可礙，倘或傷之，即有性命之憂。至於走馬疳、虛勞喉癬等症不一，論附於後。</p>
<p><u>喉痹</u></p>
<p>　肝胃肺三經積熱所致，復感時邪而驟發。其形如海棠葉背紫紋，其紋樣碎爛，有小泡生於紋旁，飲食如常，治此症，煎劑須用滋陰降火養肺之藥，最利乎清火之品，惟走馬喉痹之症，其症至險，尤宜早治，用膏子藥不時含咽；吹用真禁散、珠黃散，加參葉末吹。</p>
<p><u>嗆食啞喉</u></p>
<p>　此症不紅不腫，因伏邪在肺，聲啞嗆食，六脈遲細，甚屬險症，飲食不進而死。其脈若有根，或可調治。宜先表伏邪，後用健脾峻補。</p>
<p><u>內外喉癰</u></p>
<p>　喉癰，因過食濃味感熱而發，生於喉關，內外皆腫，發熱頭痛，四五日可愈。吹用真禁珠黃散，煎用清涼之品。</p>
<p><u>HT　舌喉癰</u></p>
<p>　此乃心經火甚，肥人性躁急者，每患此症，感熱而發，舌之下生小舌，為HT　舌；如連喉痛者，為喉癰，不痛者，非癰也。如HT　舌並喉癰者，凶。吹用真禁藥，煎用地黃湯。</p>
<p><u>舌菌</u></p>
<p>　屬心經，因酒色憂郁氣滯而生，其狀如菌，或木耳形，其色紅紫，時大時小，吹真禁藥為主，加珠黃散更妙。</p>
<p>附症七種屬心經。舌根癰、舌心癰、側舌癰、三尖HT　舌、紫脹吞、木舌、重舌。吹用真禁藥、珠黃散；煎用犀角地黃湯，舌症通治。</p>
<p>黑山梔　粉丹皮　赤芍藥　生甘草　鮮生地　犀角尖　小木通　淨銀花　荊芥穗　連翹</p>
<p><u>舌上癰</u></p>
<p>　即舌心癰。生於舌之中心，如梅子大，不能言語，此因熱入心包而發。紅腫者可治，色黑者不治。又有舌黃，舌上腫痛，黃色亦屬心火。</p>
<p><u>舌下癰</u></p>
<p>　即舌根癰。此乃脾腎兩經積熱，發於舌下金津、玉液二穴，通於腎經，腎水枯竭，方生此穴。治宜壯水扶脾。</p>
<p><u>紫舌</u></p>
<p>　此因心脾兩經熱乘所致，有紅點紫色而爛痛，或惡心欲嘔，防發斑等症。</p>
<p><u>木舌</u></p>
<p>　因多食炙爆，或由食滯中宮，心脾肺三經積熱所致。舌粗紫脹，不能言語。如兩寸關脈洪大，症實，易治；六脈細者，症虛，難治。</p>
<p><u>重舌</u></p>
<p>　此乃心脾之熱所致。舌下生小舌，早不治，大舌粗短，小舌長而痛，久必爛，爛則難治。</p>
<p><u>牙疔</u></p>
<p>　先二日發熱，後則牙痛不可忍，牙根上發一紫泡是也。生於上牙門者凶，生於別牙旁者易治，上左邊門牙脫落者不治，因腎臟虛損，挾心胃二火上攻。初起未破為疔，已破者為毒。色紅者可治，青色者不治。吹真禁珠黃散。</p>
<p><u>牙癬</u></p>
<p>　由陽陰經實火上攻而發，齒縫中出血，上屬脾，下屬胃；牙根腐爛。珍珠散、生肌散、珠黃散、真禁藥。</p>
<p><u>馬牙</u></p>
<p>　初生小兒，因胎中受毒，見風而發。含乳或吞或吐，吹真禁，服涼藥。牙症乃是陽明胃經之症。病生牙上，陽明大腸之症；病生牙下，要知皆從腎家虛熱而生。蓋齒乃骨之精，腎之標也。然不獨因腎而發，亦有風邪所致。</p>
<p>用藥審症，煎方宜酌。</p>
<p>玄參　生地　丹皮　知母　白芍　地骨皮　車前子　生甘草　黃柏</p>
<p><u>連珠蛾</u></p>
<p>　滿口如白網油，象肚兩邊微腫，根有白點，帶紅色，小舌紅腫，進湯大痛，病由憂鬱熱毒而發。其脈兩寸、尺浮洪而大，上盛下虛之症，勢極重者也。</p>
<p><u>石蛾</u></p>
<p>　此因本源不足，亦有胎生，在乳蛾地位稍進半寸。初忌寒涼。蓋肝火、憂郁所致。老痰惡血阻遏，婦人最多。</p>
<p><u>鎖喉風</u></p>
<p>　因熱毒積聚，痰涎黏稠，阻塞會厭，喘急上氣，外頸腫脹，用開關豁痰可治。外不腫，內無痰者，名曰：內鎖喉，不治。</p>
<p><u>白纏喉風</u></p>
<p>　此乃腎虛受寒，勞碌而渴，寒則生熱，熱則生風，風寒相搏，痰氣上躋，壅滯凝結，故患此症。必眼白耳赤而紫，口不能言，關內腫，上白下紅，最為急症。牙根白者不治。</p>
<p><u>牽絲纏喉風</u></p>
<p>　此症喉內有紫紅色血絲，其症須防傳染。</p>
<p><u>喉菌</u></p>
<p>　憂郁過度，心胃兩經邪火入絡，氣血滯而不散，婦人患者最多。狀如菌，色紫，生於兩旁，用黃連解毒湯。</p>
<p><u>喉瘤</u></p>
<p>　本源不足，怒氣傷肝，或仰高叫、或誦讀太急，所以氣血相凝，生於關內，兩旁有小紫塊，不時而發，治宜培養本源。</p>
<p><u>喉癬</u></p>
<p>　因腎虛火炎，肺經火旺，不腫而微紅，如海棠葉背紅筋狀，有斑點青白。又一或如芥菜子大，或如綠豆大，每點生芒刺，飲食阻礙，喉干音啞，咳嗽無痰。其斑點生於筋中者癬，生於筋旁者痹，用膏子藥，不時含咽，吹真禁珠黃散，內加乳石，中白、參葉末；煎用清肺養陰。</p>
<p><u>喉癰</u></p>
<p>　因過食濃味，脾胃受熱，感寒而發，其色淡紅，腫而痛甚者是也，如李大，亦發熱頭痛，成膿易治，吹真禁珠黃散。</p>
<p><u>上　癰</u></p>
<p>　生於上　，如梅核大，飲食妨礙；又因胃家積熱，化毒而發。用解毒清涼，吹同前。此症由蘊熱積毒而生，或因水虧，致動相火：或酒毒上攻，內熱外寒，火乘於肺，致咽喉腫脹，其形根大頭小，紅色大痛，下垂於關口上部。</p>
<p><u>吹口喉風</u></p>
<p>　此屬太陰。病太陰腫脹疼痛，舌向上，是心血少而火易動，肺氣虛而水不生。蓋言語乃喉舌所司，心有熱，則現象於外，是以水愈虧而火愈甚，舌將強而難言也。</p>
<p><u>喉疔</u></p>
<p>　此不仁之症也。初起形如杞子，生於喉關口兩旁近舌處，五臟積熱所致。色淡紅而硬，大痛難食，背寒身熱，如開花；黑色者不治。蓋因憤怒積思所致，心血先絕，死在旦夕，女人得此立死。上　痛屬脾經，上　生瘡，形如黃粟，口中腥臭，手足怕冷。此由脾經積熱而生。</p>
<p><u>左右雀舌</u></p>
<p>　此因多食煎熬之物，積熱於胃，故發於舌旁，或左或右，近牙根，生一小舌，延久必爛，爛則不能速愈。</p>
<p><u>喉疳</u></p>
<p>　此因腎虛火旺，升騰而發，喉間上　有青白水點，平塌無刺，故名。喉聲不啞不咳嗽，兩尺脈虛者是也。</p>
<p><u>諸疳</u></p>
<p>　鎖口（外嘴唇）、鎖喉（咽喉）、吊根（生舌中心下）、豆瓣（生滿口）、堆沙（舌心中）、梅花（滿口碎）、糜口、雪口（白布滿口）、啄舌（舌上），皆用珠黃玉丹，加真禁吹之。以上疳症，因驚風久虛、痢疾久虛、疳積久虛、間有大人久病，亦要發疳。痘後有餘毒，忌吹龍骨：痧後忌切牙，恐其牙落也。凡諸疳及口碎者，俱用八味口疳丹吹之。</p>
<p><u>小兒走馬牙疳</u></p>
<p>　或因胎毒，或因痘後毒未盡。發於口齒，或痧後發於牙根，以致腐爛，殺人最速。色如干醬，一日爛一分，十日不治。鼻梁上有紅點者，不治。上左邊門牙，為牙中之主，此牙一落，余牙盡落，不治。若此牙不落，別牙難落，猶可強治，然亦不過十中救二三也。治此口疳，藥內必用珠黃。</p>
<p><u>繭唇</u></p>
<p>　症屬足陽明胃經。因久食濃味，或思慮暴怒，痰火上注於唇。起初如黃豆大，形如繭腫，突起，硬而堅甚，作痛，飲食妨礙。或流血水，久則變為消渴、消中之症。形體瘦弱，虛熱痰生，面色黧黑，口乾渴甚者，難治。初起即治，可愈。治用艾灸三四次，後用蟾酥餅貼，內服八味丸，方列於下。</p>
<p>大熟地（四兩）　茯苓（二兩）　山藥（二兩）　澤瀉（二兩）　萸肉（一兩）　黃柏（二兩）　知母（五錢）　丹皮（二兩）</p>
<p>蜜水為丸，早晨清湯送下。下午後，服清涼甘露飲。</p>
<p>黑玄參（一錢五分）　丹皮（二錢）　麥冬（二錢）　川貝（二錢）　苦桔梗（一錢）　杏仁（三錢）　甘草（一淺）　花粉（二錢）</p>
<h2>用藥秘訣</h2>
<p>凡治喉症，於風、癰、痹、蛾等實症，宜先出其痰；於虛者雖應出痰，不可一時吊盡其痰。吹藥宜用金、碧二丹，輕重配合適宜。煎藥看症輕重，以主方加減用之。如寒症，宜去涼藥；虛症，宜用滋陰，臨症時必須細心酌奪，不可草率。</p>
<p><u>主方</u></p>
<p>（喉兩旁屬肺，頸項屬肝，引經之藥酌用）</p>
<p>真川連　黑山梔　連翹　淡芩　海浮石　牛蒡子　薄荷　前胡凡治喉癬嗆食音啞，宜獨用碧金丹，以膏子藥不時含咽，再服煎劑。大約滋陰降火，補氣健脾為法。其主藥然不可常服。凡治牙症、喉風、牙癰、菌毒、上　癰等症，用八味口疳丹吹之。若治牙宣，宜珍珠散。</p>
<p><u>喉關起刺</u></p>
<p>　多因虛勞，虛火上炎，營陰虛虧將竭。喉間紅點，密如蚊蟲足跡者，難治。</p>
<p><u>啞瘴風</u></p>
<p>　此因感觸時邪，牙關不利開合，風痰上壅，不能言語。若急欲開關，必須探吐風痰，俟痰涎將行吐盡。然後吹藥，再服煎劑，可保無虞。如面色與舌皆現青紫，而唇見黑，爪甲帶青，鼻中流涕者，不治。</p>
<p><u>乳蛾</u></p>
<p>　多因酒色郁結而生。初起一日病，二日紅腫，三日有形，四日勢定，其症生於關口兩旁，小舌左右，輕者五六日可愈。如有寒熱交作者，其症重險，然生此又有分別。</p>
<p><u>單蛾</u></p>
<p>　因傷寒之後，發散未盡，身熱惡心，恐見痧症。</p>
<p><u>雙蛾</u></p>
<p>　因感時邪而發，如櫻桃大，發寒熱，六脈弦數，肺胃之症也。</p>
<p>凡看喉症，如遇深夜之際，須要細心審症，再三照看詳明，方可用藥，不得粗心忽略，誤人自誤。如病患以舌疊起，見症不明，必用搦舌壓之，斯可見喉中症象。若見症能明，吹藥煎藥，分兩須要照方配合，不得任意加減。而病家亦不得因藥味重而生疑，以致自誤。戒之，慎之。</p>
<h2>各症形象主治歌</h2>
<p>喉症乳蛾形若何，雙單更有連珠蛾，初起先痛後腫脹，細白星生三日過。治用玉金丹少許，仍施煎劑有增加，左連犀角右紫芍，雙蛾並用妙堪歌。</p>
<p>喉癰似蛾無白星，多吃醇醪濃味生，腫痛無形由肺火，玉丹主治略加金，再含膏子服煎藥，熱退痰消體自寧，更有懸癰生上　，簪挑疳藥自安平。</p>
<p>喉癬緣由虛火生，絲紅卻似海棠紋，紋上斑點飲食痛，調治滋陰匝月程。煎劑須加大貝母，玉丹膏子要並行，若還好色多違戒，肺壞難醫定啞聲。</p>
<p>喉菌因夫憂郁生，略高而濃象浮萍，患此應吹何等藥，金一分兮玉五分。繼用玉三金且和，煎方膏子不宜停，若能守戒勤調治，片月功成或可平。</p>
<p>舌下重生小舌愁，其名HT　舌細推求，倘然痛後連喉腫，HT　舌並癰更可愁。急以金丹吹舌下，喉中略和玉金投，地黃犀角連湯服，病症雖凶知易瘳。</p>
<p>心中躁急纏喉風，氣促心煩咽不通，喉內紅絲纏絆緊，頸如絞轉癢麻叢，聲如曳鋸爪甲白，項時厥冷足手同。主治金玉牛黃含，須要煎劑與同功。此症若過一日夜，目睛直視汗流凶，移燈近口陡然滅，聲若雷鳴數告終。</p>
<p>項癰色紅腫胸前，外症外形欲內攻，甚則咽喉多閉塞，玉丹煎劑奏奇功。外敷宜用三黃散，喉腫還愁內出膿，更有面癰相仿症，托腮癰熱治宜同。</p>
<p>火鬱心經發舌癰，舌尖地角腫而紅。黃連犀角倍煎劑，金玉均吹定有功。</p>
<p>喉刺患生勞瘵後，　生紅點密為凶，傷寒氣塞名喉閉，二症兼並術告窮。</p>
<p>木舌生來如熱何，舌不能轉寒熱增，更防一種白棗狀，青紫紅纏舌下生。初起不腫寒熱少，發時難愈無方好，幸有金丹成妙用，病患痊告自安康。</p>
<p>舌菌生來似舌樣，或如木耳屬心經，斯為漫痛紅紫色，金玉勻吹久自平，一樣名為紫舌脹，內多煩悶費調停。竹刀刮垢丹吹玉，犀角煎方要減增。</p>
<p>舌黃腫痛色亦黃，煎劑仍施金玉方。小兒口舌生白屑，是名雪口細推詳，絲棉箸扎蘸溫水，常繳頻吹疳藥良，犀角二丸能解毒，但愁黑色命終亡。</p>
<p>連珠口疳舌下生，小泡連連逐漸增，使用小刀挑破後，口疳藥治患非輕。又如舌下崩砂症，熱極牙根腫赤形，總用口疳吹藥後，須防落牙爛牙齦。</p>
<p>凶症名為走馬疳，牙根白泡易容穿，水流到處都成患，腐爛須叟治已難。</p>
<p>牙縫出血是牙宣，上屬脾兮下屬胃，腐爛血濺由二火，扶脾清胃劑為先。止血因施珍珠散，長肉生肌爛自愈，此症痰多病最重，速宜調治勿延遲。</p>
<p>牙槽風起牙先疼，紫黑牙根肉腫　，久則爛開並帶臭，更防牙漏血膿淋，逢茲二症皆難愈，珠倍牛黃各要增，內服滋陰降火劑，門牙上下落非輕。牙根小塊是牙癰，內外隨生無定蹤，開合不應突硬核，早醫可治血和融。</p>
<p>牙咬癰生盡齦中，牙關咬緊夜尤凶，先吹金玉牙齦上，黃熱開關金奏功。牙HT　由虛無定處，其形仿佛象牙癰，金丹吹後吹疳藥，冰片應加倍用通。</p>
<p>穿牙漏症惡應知，牙痛先於二日時，寒熱牙根生紫塊，金丹略和玉吹靈。再投涼血消疔劑，破白穿牙毒症明，須下牛黃疳藥內，更吹兒茶珠如神。</p>
<p>喉疳腎火上飛騰，青白紅斑喉　生，不嗽音清無刺塌，不換頻吹定有靈。煎用桔梗荷甘梔，地丹知母及元參，女貞鱉甲炙龜板，數帖方能症患輕。</p>
<p>啞痹風痰塞斷喉，牙關緊閉言語休，開關探吐風痰藥，荊防敗毒有功求，面如改色眼流淚，扁鵲廬醫見亦愁。</p>
<p>異症蓮花舌下生，腫中伏火爍腎經，快服滋陰益金散，僅月之功可獲寧。薄麥桔丹歸連術，芍粉陳骨相喬，苓與五味共十品，煎吞並服自安平。</p>
<h2>喉症總論歌</h2>
<p>喉症生於方寸間，死生呼吸最危巔，其症雜繁難枚舉，總歸熱火相連煎，一陰一陽為喉痹，火為痰本寒相連。更須詳辨分虛實，二火相搏過食愆，熱毒積久發喉痹，胸膈不利脈洪弦。口渴喉閉風痰壅，治法將痰去為先，後用清涼消熱毒，斯無偏勝症斯痊。虛火緣皆酒色過，火痰上壅口如煙，二脈如常作細弱，治宜降火滋陰先。忌用寒涼徒取效，中寒後起症難痊，上喘下泄胸高腫，指甲青黑死何言。凡治症者先發汗，針砭出血非萬全。</p>
<h2>辨症總訣</h2>
<p>喉症屬痰屬風火，乳蛾等症總因之，去風消痰解熱毒，更開鬱結愈堪期。若然初發寒戰起，發後身涼即便安，口無重舌唇不裂，切勿誤將熱藥施。蓋緣陰氣虛寒發，其身津液化痰兮，慎勿將痰多去盡，恐竭精神必致危。先以吹藥通喉脹，散風和解莫煎遲，次服溫補滋陰劑，虛寒治法只如斯。三日後再發寒戰，心寒脅痛命如絲，發時口碎閉失緊，重舌便難熱症知，治用石膏敗毒散，症雖險凶易痊除。惟有牙關不緊閉，嚴如無急反稀奇，舌腫胡桃如茄子，服如卻熱總非宜，以箸按舌見白色，起箸見紫死無疑，喘咳痰稠頸俱赤，口臭色黑命難全，口舌腐爛如無血，更有無痰總莫宜。</p>
<h2>看症治法歌</h2>
<p>喉症三日未成膿，內藥消散易收功，五日之後形症定，口疳之藥可吹嚨，再加龍骨珍珠末，自然全愈得輕松。傷寒之後喉生痹，及患連珠蛾者凶，喉症便閉有實火，解實降火將便通。大凡初起大便閉，生軍芒硝有奇功，倘若延之八九日，大便雖閉胃虛空，如用硝黃宜斟酌，或用蜜導妙無窮。喉碎先吹生肌散，後吹金玉二丹從，初起碧多金丹少，次第加減莫朦朧，勢凶但用金丹藥，追出頑疾法最良。紅腫連胸肺癰症，百草霜加蜜化熔，喉中無形僅紅腫，加入元丹余藥同。婦人經閉生喉症，藥服通經法可宗，面起浮腫脈沉細，無陽之症死期逢。口碎腫爛棉蘸水，拭之不痛命當終。舌脹滿口難吹藥，僵蠶牙皂吹鼻中。牙關自開痰涎出，甘草湯潤舌色紅。口疳藥內加冰片，頻吹可免殞其窮，症凶玉丹初起用，冰多草少記於胸。</p>
<h2>辨證用藥歌</h2>
<p>乳蛾雙單連珠粉，多因酒色鬱熱生，一日疼痛二日腫，三日有形如細星，生喉左右辨經絡，左屬肺兮右屬心。單蛾一邊白點起，雙蛾兩邊有白星，連珠白星上下有，單輕雙重連珠屯，四五日間用吹藥，多用玉丹少用金。吊出痰涎服煎劑，左則黃連犀角湯，右加柴胡赤芍藥，大便閉加元明粉。紅腫三朝無白點，知是喉癰易得平，喉癰無形僅痛腫，寒熱頭痛肺火盛，過食濃味煎爆物，致成此疾易除根。喉癬皆由虛火旺，喉有絲紅認須明，飲食阻礙微疼痛，久而不治啞喉嚨。喉菌憂郁氣滯發，狀如高濃壯浮萍，生在喉旁色帶紫，患者多半屬婦人。兜腮癰症生腮下，濃味多吞熱毒興。小兒蛾口亦熱毒，舌上生苔蛾口形，舌黃總屬心經火，舌上浮痛黃色新。連珠蛾是憂郁起，滿口如脂虛症尋。崩砂口疳多紅色，舌下牙疳腫脹疼，口內作臭牙根爛，亦能落齒最堪驚。喉刺上　多紅點，狀如蚊咬致亡身。喉閉若發傷寒後，十死無生少藥吞。凡此諸般口舌症，辨症用藥要留心，輕吹四味口疳散，重則金丹碧玉擒，或用十寶金黃散，內吹外敷建奇功，雄黃解毒丸最效，起死回生元奧深。</p>
<p>喉舌牙根通劑用，臨時加減看何經，心存利濟宜通曉，尤氏家傳秘法真。</p>
<h2>喉症通劑歌</h2>
<p>桔梗前胡與葛根，連翹山梔共黃芩，甘草薄荷牛蒡子，銀花解毒佐元參。寒熱前胡更要加，口痛石膏胃火清，口渴麥冬並知母，飽時須知枳殼增，鬱金貝母並赤芍，喉家煎劑可通行。</p>
<h2>舌症通劑歌</h2>
<p>黃連犀角黃山梔，連翹生地粉丹皮，麥冬赤芍同甘草，加減還要臨症施，如兼唇舌知脾火，　熟石膏瀉脾增，郁有痰火加川貝，便結元明粉最宜，引加燈心用井水，舌加煎劑此方奇。</p>
<h2>牙症通劑歌</h2>
<p>元參丹皮甘草梢，地骨山梔共石膏，生地白芍同黃柏，知母車前利下焦，連翹解毒添黃連，地丁甘菊毒疔消，虛加熟地並杞子，牙症煎方法最高。</p>
<h2>喉症煎方歌</h2>
<p>貝母玄參同射干，牛蒡生地與薑蠶，連翹甘草天花粉，喉癬清涼世上傳。</p>
<h2>喉科諸症煎劑歌</h2>
<p>清胃梔連治馬疳，山梔翹桔薄荷積，青陳花粉川連殼，赤苓前胡自昔傳。</p>
<p>喉癬煎方知母翹，丹皮花粉鼠黏饒，貝豆地元參茜草，廣紅桔梗奏功高。喉癬喉痹膏子囑，地元歸合二冬臨，廣紅貝豆玉沙桔，霜葉收汁見奇神。</p>
<p>喉蛾芩桔忍冬犀，元參蒡翹連豆衣，左倍連犀右柴芍，雙蛾並用功效奇。</p>
<p>纏喉風服豆根湯，荷梔地豆元參防，以上二錢通射一，三分通脫急煎嘗。</p>
<h2>喉舌牙三症煎方歌</h2>
<p>喉症梔翹桔薄荷，芩元蒡子草僵前，銀花口渴加冬母，郁悶須加貝芍先，頭痛石膏胸悶殼，身如寒熱入柴胡，倘然大便難通利，枳殼元明不可倫。</p>
<p>舌症知連草地冬，翹犀赤芍粉丹通，痰鬱定當加貝母，口唇須藉石膏功。</p>
<p>牙症元丹地草知，地骨車前芍柏梔，發熱石膏升炒黑，虛加　杞最相宜。</p>
<h2>喉舌牙三症並牙疳煎方歌</h2>
<p>喉症梔蒡海石三，翹桔連芩各一錢，前胡三錢加入用，配成九味入方煎。</p>
<p>舌症二錢犀角鎊，翹梔連芍一錢裝，錢五丹皮木通用，八分荊芥四甘藏，還有一兩鮮生地，搗汁相沖漱服康，君臣佐使前人定，須知藥性配柔剛。</p>
<p>牙症丹皮要用三，五錢生地配成煎，錢半車前甘草四，地骨山梔各二錢，白芍元參加知柏，十味前醫定下仙，要知藥性平和峻，對症調醫病自痊。牙疳五錢紫地丁，紅花　貝各三錢，赤芍葛根花粉草，銀花蘇木一般勻。四味並來一兩四，另包六味二錢分，配得十味神方定，煎來服下定安寧。</p>
<h2>玉丹配法歌</h2>
<p>玉丹礬各三分重，百草霜該用半匙，次下元丹厘許足，再加甘草末三匙，必要用時方配合，加硼少許更稱奇。</p>
<p><u>玉丹方</u></p>
<p>（即玉丹配合法）</p>
<p><u>制明礬</u></p>
<p>（春夏用二分，秋冬用三分）　百草霜（即鍋底炭半茶匙）</p>
<p>先研細末，然後下元丹二厘；再研細，下甘草末（三茶匙）、薄荷末（春夏三分，秋冬二分）；再研細末，入冰片（半分），再研細入瓶內勿走氣，此丹過五日無效用矣。必要用時，配合俱要加硼砂少許，有痰症要吊痰者加牙皂少許。</p>
<p>此丹解毒、消痰、祛風、清熱，喉科一切輕症，獨用此丹可也。再加制蒲黃亦可，重症與金丹摻用，方用奇功。</p>
<h2>金丹配法歌</h2>
<p>金丹錢八制硝君，配入蒲黃末四分，蠶末十厘為佐藥，牙皂一錢五分均。此丹經歲仍堪用，冰片吹時必要增，獨用非宜因性峻，出痰消腫是其能。</p>
<p><u>金丹方</u></p>
<p>制硝（一錢八分）　蒲黃末（四分）</p>
<p>先研細，次下僵蠶末（一分）、牙皂（一分）、冰片（一分），研勻入瓶中。久貯不壞，臨用加入牛黃少許更妙。</p>
<p>此丹能消腫出痰，遇牙咬、HT　舌、疔毒用此丹。如咽喉等症，初起不宜多用，因此丹性峻也。若遇重症與玉丹配合用之。</p>
<h2>開關散歌</h2>
<p>喉間塞絕命難存，雄黃蠶皂各三分，麝冰皆一膽礬五，斬開關竅是其能。</p>
<p><u>開關散</u></p>
<p>牙皂末　滑石　薑蠶末（各一分）　明礬（五分）　麝香（一分）　雄黃（三分）　冰片（一分）</p>
<p>如喉症牙關緊閉，以此藥吹鼻，或水調灌喉，即吐惡痰。</p>
<h2>真禁藥配法歌</h2>
<p>禁藥為君只一錢，蒲黃珠末二分仙，滑硝各四川連五，膽雄硼乳石三兼，牛黃用一冰二半，此藥醫喉妙難言。</p>
<p><u>真禁藥方</u></p>
<p>真禁（一錢）　滑石（四分）　朴硝（四分）　川連（五分）　月石（三分）　膽星（三分）　熊膽（三分）　乳石（二分）　珍珠（三分）　冰片（二分五厘）　生蒲黃（二分）</p>
<p>加牛黃更妙，各藥消腫毒，除風熱，開喉出痰最妙，專治牙癰、HT　舌、重舌、牙症等症。</p>
<h2>八味口疳藥歌</h2>
<p>薄荷兒茶各二分，只加黃柏一厘輕，半分甘草珍珠末，配將龍骨二厘勻，厘半細堅香白芷，若然腫痛倍加增，且留冰片臨時下，口疳勤吹妙若神。</p>
<p><u>八味口疳方</u></p>
<p>薄荷（二分）　兒茶（二分）　龍骨（二厘，　）　白芷（二厘，腫用四厘）　制黃柏（一厘）　珍珠（半分）　甘草（半分）</p>
<p>研極細末，勻和入瓶內，臨時加冰片少許。此丹專治各種口疳、口碎及男婦咽喉腫痛，雙單乳蛾、牙咬、HT　舌、喉癰等症，立刻見效。以水漱之，吹口，咽下不妨。</p>
<p>如初起腫而熱甚者，多用薄荷、冰片，取其辛涼發散。若患處不腫而不甚熱，或久痛者，依本方多加龍骨、兒茶、珠末，配成紫色吹之。如走馬疳、穿牙疔毒、重舌初生、小兒胎毒口疳，照本方加牛黃、珠末。如痘後口疳亦加牛黃倍珠末，去黃柏、龍骨，須看症輕重而加減之。大凡難愈之凶症及痘後，牛黃、珠末為要藥，加之無不神應。更入乳石、朱砂少許，加兒茶，此系口疳之聖藥，勿輕視之。</p>
<h2>珠黃散配合歌</h2>
<p>黃一珠連末二分，兒茶乳石五分均，龍三雄四冰三半，砂薄人中黃一錢。</p>
<p><u>珠黃散寶方</u></p>
<p>（治口疳口碎）</p>
<p>珍珠（二分）　川連（二分）　人中黃（一錢）　薄荷（一錢，冬天少用）</p>
<p>兒茶（五分）　雄黃（四分）　朱砂（一錢）　乳石（五分）　人參葉（八分）</p>
<p>牛黃（一分）　龍骨（三分）　冰片（三分半）</p>
<h2>口碎配合藥歌</h2>
<p>口碎兒茶赤石三，朱硼膏各一錢研，二分冰片臨時下，口中碎爛霎時痊。</p>
<p><u>口碎方</u></p>
<p>兒茶（三錢）　赤石脂（三錢）　朱砂（一錢）　硼砂（一錢）　石膏（一錢，　）　冰片（二分，臨用）</p>
<p>如遇走馬疳加牛黃（一分）、龍骨（一錢）、珍珠（二分）、元丹（二分），研吹立愈。</p>
<h2>龍溪散配合歌</h2>
<p>龍溪散藥內何靈，川連冰片二分臨，銅綠一錢青黛五，元丹要用必三分，龍溪散治惡爛口疳症色黑者。</p>
<p><u>龍溪散</u></p>
<p>川連（二分）　冰片（二分）　銅綠（一錢）　青黛（五分）　元丹（三分）</p>
<h2>吹喉散配合歌</h2>
<p>吹喉散內石脂三，硝石膏硼各一錢，冰片二分加入用，吹到喉間效若仙。</p>
<p><u>吹喉散</u></p>
<p>赤石脂（三分）　冰片（二分）　月石（一錢）　槍硝（一錢）　石膏（一錢　）　硼砂（一錢）</p>
<p>如遇婦人喉中腫痛者加元丹（五分）。</p>
<h2>附：尤氏喉症秘方</h2>
<p><u>五福化毒丹</u></p>
<p>（如喉痹、喉癬，即將此丹噙化）</p>
<p>參葉（二錢）　真禁（二錢）　珠黃散（一錢）　洋參（八分）　冰片（五分）　白桔梗（五分）　川連（五分）　青黛（三分）　當門子（二分）　飛金（三十張）</p>
<p>蜜和為丸，朱砂為衣。</p>
<p><u>行痰丸</u></p>
<p>（能行痰去風熱，然必量人虛實服之）</p>
<p>川鬱金（二錢）　栝蔞霜（五分）　巴豆霜（五分）　雄黃（五分）</p>
<p>蜜丸。</p>
<p><u>雄黃解毒丸</u></p>
<p>（治啞痹風）</p>
<p>雄黃（一兩）　巴豆（十四粒，去油）　鬱金（二錢）</p>
<p>研末，醋丸，如綠豆大，熱茶送下七丸，去痰便蘇；如不吐痰者，再服七丸。如人已死，心上溫者，研末灌之。</p>
<p><u>又方</u></p>
<p>　巴豆（三十粒去油）　鬱金（一兩）　綠豆（一兩）　雄黃（一兩）</p>
<p><u>犀角解毒丸</u></p>
<p>（治蛾口並小兒諸丹毒，痧痘余毒）</p>
<p>犀角（二錢）　桔梗（一兩）　赤苓（一錢）　甘草（一錢）　朴硝（二錢）</p>
<p>生地（五錢）　牛蒡子（五錢）　連翹（六錢）　元參（六錢）　青黛（二錢）</p>
<p>研細，糊丸如桂圓大，服一丸。有驚者，以朱砂為衣。</p>
<p><u>犀角丸</u></p>
<p>（治蛾口）</p>
<p>犀角（三錢）　羚羊角（三錢）　川連（二錢）</p>
<p>面糊為丸，如桐子大，每日三服，白湯送下。</p>
<p><u>雄黃真珠解毒丸</u></p>
<p>（治唪舌。唪舌者，舌腫而高也）</p>
<p>雄黃（二兩）　珠粉（二分）　乳香（五分）　沒藥（五分）　血竭（一錢）　輕粉（一分）　大梅片（一分）　兒茶（一錢）　杭粉（一錢）</p>
<p><u>化毒丸</u></p>
<p>犀角（二錢）　乳香（二錢）　沒藥（二錢）　炙甘草（三錢）　制黃柏（三錢）</p>
<p>糊丸。</p>
<p><u>牛黃清心丸</u></p>
<p>（治痧後疳症）</p>
<p>陳膽星（一兩）　麝香（五分）　珍珠（五分）　冰片（五分）　川雅連（二錢）　荊芥（二錢）　天竺黃（二錢）</p>
<p>犀角（一錢）　文蛤（一錢）　防風（一錢）　玄參（一錢）　白桔梗（一錢）　雲茯苓（一錢）　當歸（一錢）　輕粉（三分）</p>
<p>共為細末，和甘草、青黛為丸，如龍眼大，辰砂為衣，薄荷湯送下。</p>
<p><u>潤喉膏</u></p>
<p>鹿角霜　石膏　九制薄荷研末，蜜浸，潤喉。</p>
<p><u>走馬疳方</u></p>
<p>熊膽（一錢）　青黛（一錢）　川連（一錢）　蘆薈（一錢）　甜瓜蒂（一錢，　）　甘中黃（五分，　）　丁香（五分）　珍珠（五分）　牛黃（五分）　冰片（五分）　安息香（五分）　炙蟬衣（五分）　元寸（五分）　蜣螂（五分，酒炙）　夜明砂（五分，淘）</p>
<p>以甘草膏化熊膽為丸，辰砂為衣，如桐子大，乳研化，用新筆蘸塗患處，外用桃柳枝煎湯洗鼻尖。</p>
<p><u>喉風吹藥</u></p>
<p>制火硝　蒲黃　硼砂　薄荷　冰片共為末。</p>
<p><u>喉蛾吹藥</u></p>
<p>白明礬（一兩，用巴豆三錢八分，熬枯去豆）　白芷（三厘）　甘草（少許）</p>
<p>冰片（五厘）　百草霜（五厘）　蒲黃（五厘）　貝母（五厘）　薄荷（一分）　制硝（二分）</p>
<p><u>又方</u></p>
<p>　百藥煎（三錢）　月石（七分）　甘草（七分）　薄荷（一錢四分）　枯礬（三錢）　鹿角霜（一錢八分）　大梅片（五厘）　牙皂（一錢八分）　蒲黃（一錢八分）　瓜蒂（一錢九分）　常山（五分）　燈心（八錢）　勾鈔硝（一兩，　）</p>
<p><u>真青藥</u></p>
<p>制礬（三分）　青黛（二分）　百草霜（五厘）　甘草（一分）　薄荷（二分）　元丹（一厘）　月石（一分五厘）</p>
<p>冰片（一分）</p>
<p><u>真禁藥</u></p>
<p>蒲黃（一分）　冰片（一分）　薄荷（一分）　制硝（六分）　月石（三分）</p>
<p><u>膏子藥</u></p>
<p>薄荷（四錢）　制礬（二分）　元丹（三厘）　貝母（二分）　甘草（五厘）　百草霜（五厘）　冰片（五厘）</p>
<p>先將百草霜與礬研入元丹，再研諸藥。研勻後，入冰片，以蜜調之。遇喉痹、喉癬、喉菌，須時時噙化。若症重者，宜兼服煎劑。</p>
<p><u>玉鎖匙</u></p>
<p>（治風熱喉閉、纏喉風）</p>
<p>制火硝（一兩五錢）　制僵蠶（一錢）　冰片（二分）　雄黃（三錢）</p>
<p><u>通竅散</u></p>
<p>炙牙皂（十條）　元寸（五厘）</p>
<p>研末，吹鼻得嚏。</p>
<p><u>生肌散</u></p>
<p>龍骨　血竭　沒藥　乳香　黃丹　兒茶　月石　赤石脂　石膏　冰片上藥照雷公炮制。等分吹摻。</p>
<p><u>一切口舌發毒吹藥</u></p>
<p>薄荷（一錢）　兒茶（八分）　珍珠（二分）　甘草（一分）　牛黃（一分）　朱砂（三分）　西月石（五分）　冰片（一分）</p>
<p>研細末吹。如治廣瘡結毒，加輕粉少許。尤氏方有天靈蓋（三分）、滴乳石（一分），無西月石。</p>
<p><u>秘傳十寶丹</u></p>
<p>（喉症通用）</p>
<p>薄荷（二兩）　兒茶（一兩）　制梅礬（一兩）　甘草（五錢）　牛黃（一錢）　冰片（一錢）　血竭（三錢）　琥珀（三錢）　珠末（三錢）　滴乳石（四錢）</p>
<p>症輕去牛黃，梅礬出痰甚捷。吹藥內俱宜和用，單用亦可，此藥妙甚，不可輕視。</p>
<p><u>冰黃散</u></p>
<p>（內吹、外敷，兼治丹毒）</p>
<p>甘中白（一錢）　冰片（一錢）　蒲黃（一錢）　甘草（五分）　青黛（五分）　月石（五分）　薄荷（一錢五分）　川連（一錢五分）　桔礬（少許）</p>
<p>尤氏方無桔礬有朴硝。</p>
<p><u>三黃散</u></p>
<p>（治頸癰、托腮、面、口、喉、舌、內結毒）</p>
<p>大黃（一錢）　薑黃（一錢）　冰片（五厘）　元寸（五厘）</p>
<p>調敷患處，加薑汁、蔥汁各二三匙更妙。或芭蕉、扁柏汁皆可。如喉腫不消，因氣血凝滯，或痰塊結而不散，此陰症也，非蔥薑汁不可。</p>
<p><u>玉液上清丸</u></p>
<p>（喉痹）</p>
<p>薄荷（十四兩）　柿霜（五兩）　桔梗（四兩五錢）　甘草（一兩一錢）</p>
<p>百藥煎（五錢）　川芎（二兩八錢）　砂仁（五錢）　防風（一兩五錢）　青黛（三錢）　月石（三錢）　元明粉（三錢）　冰片（二錢）</p>
<p>煉蜜為丸，如桐子大，每服一丸。又治風熱喉腫痛、口舌生瘡等症。</p>
<p><u>白靈丹</u></p>
<p>制硝（三錢二分）　明礬（一兩）　月石（三錢三分）</p>
<p>入銅勺內化研。專治喉痹、菌瘤、牙宣、舌菌、松子風等症。用時酌加禁藥、珠黃散吹之。</p>
<p><u>沈慕溪喉症秘方</u></p>
<p>炙雞內金　掛金燈子　蒲黃　薄荷　鹿角膠　甘草　白芷　冰片先以甘草、薄荷研細，再將諸藥研和。治牙咬、重舌，七日愈；蛾，三日愈。</p>
<p><u>喉科金藥</u></p>
<p>朱砂（三錢）　雄黃（三錢）　黃柏（三錢）　山豆根（三錢）　甘草（一錢）　枯礬（三錢）　牛黃（三分）　冰片（三分）　雞內金（三分，炙）　痰多加牙皂（五厘）</p>
<p><u>珍珠散</u></p>
<p>（治牙宣出血不止）</p>
<p>龍骨（三錢）　烏賊骨（二錢）　降香節（一錢）　參三七（一錢）　珍珠（一錢）　炙象皮（一錢）　乳香（一錢）　沒藥（一錢）　冰片（二分）</p>
<p>共研細末，以棉花蘸藥塞患處，以紙抵之，用一二次即止。如有爛處，用生肌散摻之。</p>
<p><u>生肌散方二</u></p>
<p>（治牙宣腐爛）</p>
<p>醋　花蕊石（二錢）　兒茶（二錢）　雞內金（二錢，　）　偉丹（二錢，飛）　冰片（三分）　大紅絨灰（一錢）</p>
<p>乳香（一錢）　川連（一錢）</p>
<p><u>吹藥方</u></p>
<p>（治牙宣、牙癰、牙腮等毒）</p>
<p>冰片（三分）　麝香（二分）　川連（五分）　珍珠（一錢）　月石（一錢）　牛黃（三分）　大紅絨灰（一錢）　青黛（一錢）　中白（一錢）　元明粉（一錢）　蜜炙黃柏（一錢）　鹿角霜（二錢）　雄黃（五分）　文蛤（五分）</p>
<p>如無珠粉、絨灰，加枯礬（一錢）、粉草（一錢）、銅綠（五分）、雞內金（二錢）。</p>
<p><u>希涎散</u></p>
<p>（治弄舌、喉風）</p>
<p>牙皂　綠礬　藜蘆　紫雪　青礬　冰片　麝香　月石　元明粉</p>
<p><u>祛腐丹</u></p>
<p>（喉症代刀方、治雪口、糜口、喉疳）</p>
<p>硼砂　文蛤各等分，加鴨嘴膽礬，研末吹之。</p>
<p><u>治纏喉風一切急症方</u></p>
<p>梅礬（二兩）　生草（三錢）　兒茶（三錢）　雄黃（二錢）　珍珠（六分）　血珀（六分）　僵蠶（四分）　麝香（少許）</p>
<p><u>開關散</u></p>
<p>甘草（四錢）　冰片（一分）　牛黃（六分）</p>
<p>先以甘草末入青魚膽收干，臨用加冰片、牛黃，再用絡麻子末少許，和勻，但此非輕症所能用，若遇喉症，吹金、碧二丹而無用無痰者，非痰也，急加此藥於金、碧二丹內吹之。</p>
<p><u>急救喉症神效方</u></p>
<p>大木鱉子（一百粒）淨水洗，晒乾；陳松羅茶（五錢）濃煎一大盞，浸七日，冬天浸十日，瀝出晒乾，以碗鋒刮去黑殼，刮至白色，以麻油（六兩）入廣勺內。文武火煎滾，以余粒為一次入滾油中，熬至將沉，然前取出，候冷，研末，每藥一錢，加冰片少許。勿向上仰，吹處宜在兩旁，輕者一次即愈，重者吹二三次，有起死回生之妙。</p>
<p><u>吹口藥方</u></p>
<p>川連　川貝　青黛　冰片　人中白　青果將棗子去核，入內包好，　紅，去棗炭，用果灰各等分吹之。引經藥同《瘍醫大全》。</p>
<p><u>藥梅方</u></p>
<p>（喉症通用）</p>
<p>用大青梅銀針去蒂，清水洗，以槍硝、明礬末拌一晝夜，取起晒乾以後用。</p>
<p>池菊（二兩）　滑石（二兩）　荊芥（一兩）　大貝母（一兩）　木通（一兩）　連翹（一兩）　花粉（一兩）　赤芍（一兩）　牛蒡子（一兩）　甜橘紅（一兩）　雙鉤（一兩）　黑梔（一兩）　桔梗（一兩）　前胡（一兩）　赤茯苓（一兩）　麥門冬（二兩）　淡芩（二兩）　黃柏（二兩）　元參（二兩）　生地（三兩）</p>
<p>薄荷（三兩）　銀花（四兩）　羌活（五錢）　白芷（五錢）　防風（五錢）</p>
<p>熬膏收入梅子內晒乾，浸入滴鹵內，臨症用時取淡竹葉汁煎須服之。如火沖，入童便可也。</p>
<p><u>制硝法</u></p>
<p>（名真禁）</p>
<p>用槍硝半斤、白蘿卜汁四大碗，做品字樣，放盆內，浮水面上。過一夜，至明晨拿起竹片凝結掛上，味平性平者可用。再以甘草湯煮提一次。復用所開各藥，煎濃去渣，入硝在內，提一次，取起晒乾，用青果汁收入硝內。即名之曰真禁。</p>
<p>池菊（二兩）　滑石（二兩）　荊芥（一兩）　大貝母（一兩）　木通（一兩）　連翹（一兩）　花粉（一兩）　赤芍（一兩）　牛蒡子（一兩）　甜橘紅（一兩）　雙鉤（一兩）　黑梔（一兩）　桔梗（一兩）　前胡（一兩）　赤茯苓（一兩）　麥門冬（二兩）　淡芩（二兩）　黃柏（二兩）　元參（二兩）　生地（三兩）　薄荷（三兩）　銀花（四兩）　羌活（五錢）　白芷（五錢）　防風（五錢）</p>
<p>將前藥煎湯提好硝，硝陳久更佳。</p>
<p><u>制梅礬法</u></p>
<p>（名雪丹）</p>
<p>青梅切下蓋，去核，不可破碎。即用白礬末塞滿，仍以蓋蓋好，竹絲簽好。過一夜，將梅子平排炭火中，燒至梅成炭，取起，去灰聽用。惟做時需竹絲簽好，外再用泥裹之，否則恐礬走出也。</p>
<p>制礬，名奪命丹。任其煎煮，不可扇動。用明礬（二兩五錢），打碎，度次將槍硝打碎投下；少時，再將月石二十分之三打碎投下，礬用十分，硝用三分。先以礬下，次硝，次月石，如是逐漸投入，待藥鋪起罐口如饅頭狀，方加炭火燒至干枯，取淨瓦一塊蓋口，稍時取起。用牛黃少許為末，再用水五六匙調和，以箸挑起滴丹上，將罐仍入火內　干，即起，連罐覆地上，以紙襯之於罐，取丹如豆大，人乳一杯，共入銅勺內，在炭火上燒至高突如饅頭樣，以文武火燒至枯如紫霞色，極松者佳，黑者不可用。凡遇口中難過之症，配入八味口疳藥內吹之。</p>
<p><u>玉丹</u></p>
<p>用明礬打碎入罐內，用桴炭火　，以箸攪之無塊為度，再用瓦覆之。過七日，貯之聽用。松者佳，堅實者不用，因能殺人也。然此礬可留作蜜調藥用。</p>
<p>玉丹宜多制，愈陳愈佳。此即玉丹配法內之制礬也。</p>
<p><u>走馬疳驗方</u></p>
<p>野薔薇根搗汁漱之，能止潰爛、去腐肉、生新肉，用葉煎汁亦可。</p>
<p>絡麻子一味，治一切喉症，研末吹之，無不藥到病除。（此味未知可是鄉間俗云之HT　麻子否)</p>
<p><u>酉字散</u></p>
<p>（治腐爛疼痛）</p>
<p>雞內金（不落水晒乾研末），每錢加冰片（一分）、兒茶（二分），能止痛收功。</p>
